[2018-02-26 22:36] ldemailly commented on #3757
hey @wattli @myidpt can you guys dig into this one:

here is what costin and I found looking into the logs of
https://circleci.com/gh/istio/istio/37779#artifacts/containers/0

basically what seemed to happen is that it took 1min30s for the cert to show up

2018-02-26T21:56:35.956655Z	info	watchFileEvents: "/etc/certs//key.pem": CREATE

during which envoy gets

[2018-02-26 21:56:27.531][59][info][u

[2018-02-26 22:36] wattli commented on #3757
Is this the 503 issue that Andra talked about?

[2018-02-26 22:37] ldemailly commented on #3757
no it's a different new issue

[2018-02-26 22:39] wattli commented on #3757
The file path is wrong "/etc/certs//key.pem", it should be only one '//' in it. Hopefully this is the cause.

 I am not in office today, otherwise we can discuss this tomorrow.

[2018-02-26 22:42] ldemailly commented on #3763
@smawson can you make a call on 1. above: when do we start to have to preserve "no crash" backward compatibility for flags - specifically if 0.7 can ship with flag incompatibilities from 0.5/0.6 or 0.8 or 1.0 is the first release after which we won't break flags for mixer, pilot, etc.. startup (and/or if we do we'd clearly document the change and have at least 1 release where both old and new are

[2018-02-26 22:43] ldemailly commented on #3757
it's not the cause as it does work after that point - that's just cosmetic issue

[2018-02-26 22:53] wattli commented on #3757
This actually relates to what Andra mentioned, which is that it takes more than 1 min for ingress to load key/cert. Will look into it tomorrow.

[2018-02-26 22:55] #3211 closed

[2018-02-26 22:57] ldemailly commented on #3210
let's close this after we have at least 3 greens for that test/build

[2018-02-26 23:21] xiaolanz opened #3789 "Fix redis integration race test"
blocking #3780

go test --v mixer/adapter/redisquota/... --race

2018-02-26T23:20:14.300465Z	info	Built new config.Snapshot: id='0'
2018-02-26T23:20:14.300930Z	info	Built new config.Snapshot: id='1'
2018-02-26T23:20:14.301677Z	info	Cleaning up handler table, with config ID:-1
2018-02-26T23:20:14.301799Z	info	template Kind: reportnothing, &InstanceParam{}
2018-02-26T23:20:14.301937Z	info	template K

[2018-02-26 23:26] ozevren commented on #3734
Hey Aaron,

Thanks for filing the bug. I tried reproing this locally using latest code and 0.5.1 tagged release(@ 30acfe6528107ea333543309095659b93364b30d), and I couldn't.

One potential reason why this could be happening is, for some reason Mixer is not picking up the attribute manifests. Could you double check to see if you have the right attribute manifests available?

You should be able to ge

[2018-02-26 23:29] ldemailly commented on #3757
it's not 503s though, it's different

[2018-02-26 23:32] ozevren commented on #3734
Also, it would be super helpful if you can share Mixer logs. If my suspicion is correct (and this is somehow an issue with the attribute manifests, and not the dsl itself) then it might help us figure out what the root cause is.

[2018-02-26 23:39] aaronjwood commented on #3734
No problem. Here's the flow in my environment:
[code]
[code]
[code]
and here are the logs after adding in the rules:
[code]

[2018-02-26 23:50] douglas-reid commented on #3660
@JimmyCYJ can you take a look at this failure ?

[2018-02-26 23:52] JimmyCYJ commented on #3660
@douglas-reid No problem. Thanks for letting me know.

[2018-02-27 00:13] ZackButcher commented on #3745
Do you want to be able to override the template, or just provide custom config? I believe you can provide a custom boot strap config via the [`CustomConfigFile`](https://github.com/istio/api/blob/9d978d76653da8b7b4bd6421b7e8f9925d8c79ea/mesh/v1alpha1/config.proto#L112-L114) option. The comment implies it's only used in front of Mixer/Pilot, but [looking at the code](https://github.com/istio/istio/

[2018-02-27 00:14] ZackButcher commented on #3745
/cc @costinm who wrote the code initially

[2018-02-27 00:15] mandarjog commented on #3745
Just added a similar comment to the linked PR. --custom-config-file should work, it is already part of the proto.

[2018-02-27 00:16] smawson commented on #3763
I can't unilateraly decide that, added to ToC agenda for Friday to discuss when we're comfortable requiring no backwards compatibility breakages.

[2018-02-27 00:45] kidiyoor commented on #3745
I believe CustomConfigFile is meant to override the template completely. There should be a way for users to provide customized template in a not hardcoded path.

I think we should use this new parameter to replace the bootstrap template in mixer and pilot rather than replacing ```/var/lib/istio/envoy/envoy_bootstrap_tmpl.json``` during docker build.

[2018-02-27 01:18] ayj commented on #3774
The policy override annotation (`sidecar.istio.io/inject`) doesn't apply to manual injection. That expectation was that if a user doesn't want a sidecar injected, they won't run `kube-inject` over their deployment. This is tested in the e2e pilot test [here](https://github.com/istio/istio/blob/b831fad7ac13c40b3949b9475e797f03382c8ce7/tests/e2e/tests/pilot/util/environment.go#L403).

[2018-02-27 01:28] ayj commented on #3738
Do we expect users to mix manual and automatic injection in the same namespace? How would that work when we start auto-upgrading proxies?

[2018-02-27 01:46] ayj commented on #2864
@costinm, @ldemailly  - what's the remaining specific feature request in this issue? User's can customize the the template and add their own sidecar resource limits right now. Do we need defaults (.9 vCPU _per sidecar is quite a lot) or yet-another-kube-inject flag?

[2018-02-27 01:55] ldemailly opened #3797 "don't prune istio.io/istio; mixer_codegen.sh simplify/eliminate"
bin/mixer_codegen.sh appears to download a bunch of stuff, it's unclear why it would vs using vendor/

I realize the script predates vendor so that's probably why - or I am missing why it is needed (cc @theganyo ) and I mistakenly made it worse with a recent PR (or again I don't understand the issue)

I think
https://github.com/istio/istio/blob/master/Gopkg.toml#L26
should bring down protos too ?

[2018-02-27 02:04] nmnellis opened #3798 "Standalone istio gateway 503 errors"
I have a standalone gateway deployed but it is unable to route to internal or external services despite all configuration looking correct. Each call returns `503 Service Unavailable`. the below example should route `my-subdomain.weather.com` to `dog.ceo`(a public api http://dog.ceo/api/breeds/list/all)

Gateway deployment
[code]

External Service for public api - http://dog.ceo/api/breeds/list/all

[2018-02-27 02:05] nmnellis commented on #3798
@GregHanson @ijsnellf any ideas where i can look next?

[2018-02-27 02:23] ldemailly opened #3799 "sni missing in ssl_context for egress envoy conf"
https://github.com/envoyproxy/envoy/issues/2670#issuecomment-368723660

that would explain some issue with reaching some https services

[2018-02-27 02:25] ldemailly commented on #3799
@aaronjwood can you check the setup you get from pilot with your egress?

[2018-02-27 02:28] ldemailly commented on #3799
well it's not set:
https://github.com/istio/istio/blob/master/pilot/pkg/proxy/envoy/v1/testdata/cds-ssl-context.json.golden#L101

[2018-02-27 02:35] ldemailly commented on #3799
issue is what to do for wildcard

[2018-02-27 02:50] vadimeisenbergibm commented on #3799
@ldemailly

I would consider solving the issue for the common case. If some feature will work without wildcard, but will fail with wildcard, it will create unnecessary confusion.

[2018-02-27 02:52] vadimeisenbergibm commented on #3799
@aaronjwood Istio Egress was working for HTTP/HTTPS starting from Istio 2.0.

[2018-02-27 02:56] aaronjwood commented on #3799
@vadimeisenbergibm thanks. Due to the empty ssl context what I'm trying to do should still break in the latest version then, right?

[2018-02-27 03:11] ldemailly opened #3800 "static IP for Gateway (GKE)"
Annotation

    kubernetes.io/ingress.global-static-ip-name: fortio-prod-ip

doesn't work, maybe because our ingress doesn't run as a NodePort

https://cloud.google.com/kubernetes-engine/docs/tutorials/configuring-domain-name-static-ip#step_2b_using_an_ingress

in general we should find a way to keep the ingress IP in sync with the DNS entry for the domain

[2018-02-27 03:21] ldemailly opened #3801 "upgrading from 0.5.1 to 0.6.0 rc - warning during kubectl apply -f istio-auth.yaml"
customresourcedefinition "routerules.config.istio.io" configured
Warning: kubectl apply should be used on resource created by either kubectl create --save-config or kubectl apply
customresourcedefinition "v1alpha2routerules.config.istio.io" configured

another issue I hit is my ingress ip changed so I had to update 2 DNS entries - filled separately as #3800

[2018-02-27 03:31] ldemailly commented on #3801
secure grpc ingress still works:
[code]

[2018-02-27 03:42] ldemailly commented on #3799
if your target server requires sni to be set yes it will fail until we fix it

@vadimeisenbergibm I disagree - it's better to have 1 imperfect solution than 0 solution, ie confusion or faq/limitation is better than "does not work at all" when there is an easy solution for all non wildcard egress
(and yes I think envoy should do the automatic support I suggested too but that will take longer)

[2018-02-27 03:45] ldemailly commented on #2864
@ayj maybe gen-deploy and/or helm values should cover changing limits but otherwise I think we can close this

[2018-02-27 03:56] vadimeisenbergibm commented on #3799
@ZackButcher @ldemailly We should check where to fix this. Egress Rules will be replaced by External Services cc @ijsnellf .

[2018-02-27 04:06] reynaldiwijaya commented on #1194
Hi @prune998

There was no config difference between before and after this crash. The envoy just start to work after this crash. Here are the config

[code]

As of our setup, we create our deployment (replica set in this case) with Spinnaker. Istio is installed without tls (just normal istio not istio-auth). The istio sidecar is injected using istio initializer.

Here is the replica set yaml

[cod

[2018-02-27 05:06] costinm commented on #1194
Re. segfault - it seems you're using 0.4.0 - I would recommend upgrading to more recent version. It doesn't look to be related to the liveness probe.

[2018-02-27 05:07] costinm commented on #1194
@prune998  can you provide more details - like snippet of the yaml, with the readiness probe, service definition, etc. I can try to reproduce it.

[2018-02-27 05:13] costinm commented on #3774
Are you sure it didn't work before ?

The use case is for yaml files with multiple deployments and services, like
those generated
by 'helm template' ( i.e. mix of deployments).

If we confirm it's not a regression - I guess we can move this to a P2, but
for helm or
other cases where a mix of files is used, some without istio, we will
probably need to document
some workaround. Maybe a good option w

[2018-02-27 07:02] taoyu27 commented on #2864
@ayj , thanks for your response.
but another error reported when create the sidercar-inject deployment.
[code]
I don't know if relatived with issue #3123, so  I hava upgrade the istio to 0.5.1. but issue still exist.
Do we still need open a new github issue trace this specifics?

[2018-02-27 08:01] steffengy commented on #3776
istio-0.6.0-pre20180226-23-04-36-win with
 hello_world with the patched `/health` route on 1 master, 0 nodes setup (c5.large aswell)
is even though AFAIK mixer's new runtime is enabled worse.
(Potentially #3487 has some effect on this?)

[code]

CPU-Usage peaks at 50%.
Any hints or guesses on where or how to identify the actual bottleneck here?

[2018-02-27 09:06] Stono commented on #3099
Morning @jeffmendoza - apologies for the delay and not getting the other logs across, i've been in a combination of workshops and training the past few days.  I'll get this info for you today.

[2018-02-27 09:35] Stono commented on #3099
Sent them to you on Slack

[2018-02-27 14:26] GregHanson commented on #1238
closing until issue can be reproduced in istio 0.5.1 or later

[2018-02-27 14:26] #1238 closed

[2018-02-27 14:27] GregHanson commented on #1786
closing until issue can be reproduced in istio version 0.5.1 or later

[2018-02-27 14:27] #1786 closed

[2018-02-27 14:28] GregHanson commented on #1809
closing issue until it can be reproduced in istio version 0.5.1 or later

[2018-02-27 14:28] #1809 closed

[2018-02-27 14:28] GregHanson commented on #2187
closing issue until is can be reproduced in istio 0.5.1 or later

[2018-02-27 14:28] #2187 closed

[2018-02-27 14:30] GregHanson commented on #2357
closing until issue can be reproduced in istio 0.5.1 or later

[2018-02-27 14:30] #2357 closed

[2018-02-27 14:30] GregHanson commented on #2549
closing issue until more info is provided

[2018-02-27 14:30] #2549 closed

[2018-02-27 14:31] GregHanson commented on #2667
closing until issue can be reproduced with istio version 0.5.1 or later

[2018-02-27 14:31] #2667 closed

[2018-02-27 14:32] GregHanson commented on #2788
closing until more info is provided

[2018-02-27 14:32] #2788 closed

[2018-02-27 14:53] GregHanson opened #3807 "TestAuth test failed for unrelated change in circleci"
flakey test failure for TestAuth in tests/e2e/tests/simple/simple1_test.go

[code]

https://circleci.com/gh/istio/istio/37693

[2018-02-27 14:54] GregHanson commented on #3807
assigning to author of original test

[2018-02-27 15:40] ldemailly commented on #3807
dup of ingress issue because of cert/
ca issue

[2018-02-27 15:41] ldemailly commented on #3807
#3757

[2018-02-27 15:41] #3807 closed

[2018-02-27 16:27] mandarjog commented on #3776
Can you disable mixer and measure performance? Edit istio.istio-system config map and remove mixer related lines from there.

[2018-02-27 16:47] mandarjog commented on #3776
You will have to restart pilot for this to take effect.

[2018-02-27 16:59] yusuoh commented on #3738
I think there might be some situation when people what to override the sidecar config for some specific deployment in the same namespace. For auto-upgrade, if the user only want to upgrade envoy proxy, they can skip the manual injection. But if the whole sidecar agent need to be upgraded, we still need to manually update the deployment.

[2018-02-27 17:00] andraxylia commented on #3729
@costinm are you working on this for 0.7? If not, let's clear the milestone field.

[2018-02-27 17:01] andraxylia commented on #3716
@nmittler Automatic injection is area/environments.

[2018-02-27 17:03] ldemailly commented on #3800
similar to #1024

[2018-02-27 17:07] ldemailly commented on #3776
so try running at 750 qps

you have a very high level of 503s which is odd

[2018-02-27 17:14] steffengy commented on #3776
@ldemailly
Does that provide additional insights?
From my perspective that only helps to determine what load it's able to handle
and not into why it's not able to handle more.

@mandarjog
Using also istio-0.6.0-pre20180226-23-04-36-win (same setup as previous post), I commented
[code]
TLDR: **quite a big improvement for ingress performance, less for the actual route**

With injected sidecar:
[code

[2018-02-27 17:32] #3581 closed

[2018-02-27 17:51] ayj commented on #2864
https://github.com/istio/istio/pull/3123 wasn't included in 0.5.1 release. You'll need to grab the latest script from master or try 0.6 when its out. It's possibly related to https://github.com/istio/issues/issues/184. The webhook will fail to start if the provided cert/key are bad.

[2018-02-27 17:57] nmnellis commented on #3773
This worked for me. should this stay open until the bug is fixed?

[2018-02-27 18:00] mandarjog commented on #2142
Potentially use TCP stream over H2 streams. @PiotrSikora we could use this to propagate metadata.
What are the performance implications ? Would be nice to do TCP over H2 over mtls.

[2018-02-27 18:01] ayj opened #3808 "webhook-create-signed-cert.sh mktemp error mac"
@mjwhale commented on [Sat Feb 17 2018](https://github.com/istio/issues/issues/217)

**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
YES

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth en

[2018-02-27 18:07] ozevren commented on #3734
Worked with Aaron offline. We went through the available Mixer logs, but couldn't find anything. Aaron tried reproing the issue (i.e. restart Mixer) but we couldn't. The issue is not in the expression language, but seems to be at the attribute-reading/disseminating side. However, there is not much to go on at this point.

[2018-02-27 18:21] ayj commented on #3774
I changed the default behavior in https://github.com/istio/istio/pull/2830. The assumption was that users simplify wouldn't run the injection command on deployments they didn't want injected. The annotation overrides the mesh injection policy (via configmap) which makes less sense if there is no mesh policy to refer to. The previous code referred to an internal hardcoded policy which may have been

[2018-02-27 18:22] aaronjwood commented on #3734
I'll close this out for now and will circle back if I run into it again.

[2018-02-27 18:22] #3734 closed

[2018-02-27 18:34] hklai commented on #2904
TESONLY is gone from the latest daily release. http://gcsweb.istio.io/gcs/istio-prerelease/daily-build/0.6.0-pre20180226-23-04-36/.
Thanks!

However, it still has two sets of istioctl. One in istioctl directory, and one in istioctl-stage directory. I think one of them is still pointing to dockerhub instead of gcr by default. Could that be fixed as well?

[2018-02-27 18:45] mattdelco commented on #2904
There's also still two sets of tars (one under docker.io/ and another under gcr.io/).  The change mostly simplified what people see at the top-level of a build, and thus people would only get into trouble if they go snooping in the subdirectories.

[2018-02-27 18:52] hklai commented on #2904
Let's clean them all up once and for all.

[2018-02-27 18:52] yusuoh commented on #3763
In general, command line flags should be deprecated instead of removed directly from the code. We have some nice ways to handle that in C++ and borg. We'd better find some similar mechanism to do that in Go.

Regarding backward compatibility, I think it is also important to ensure API compatibility and have some tests to gate API changes, e.g. by comparing protobuf schemas between versions.

[2018-02-27 18:53] rosenhouse commented on #2812
Just chatted with @ZackButcher.  Current plan is:

- Each CF Route gets materialized as an Istio Service
- Istio Gateway does not get the extra "permissive mode" flag.  Instead, CF Platform Adapter for Istio will auto-generate Istio RouteRule for each CF Route

cc @zachgersh @aaronshurley @shalako

[2018-02-27 18:54] ldemailly commented on #3763
I believe cobra has support for that already btw, just a matter of setting it up

[2018-02-27 19:15] wattli commented on #3757
@ldemailly , why do you link #3793 to this issue, is that PR causing the regression?

[2018-02-27 19:16] ldemailly opened #3810 "factory_object_mapping.go:423] Failed to download OpenAPI (Get http://localhost:8080/swagger-2.0.0.pb-v1: dial tcp [::1]:8080: getsockopt: connection refused), falling back to swagger"
looks like there is some new dependency somewhere trying to download things and failing ?

https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3739/e2e-simpleTests/501/

[code]

[2018-02-27 19:18] yusuoh commented on #3801
Did you using the same kubectl apply command to install 0.5.1? I tried the upgrade but didn't see the warning message.

$ kubectl apply -f istio-0.6.0-pre20180222-22-57-06/install/kubernetes/istio-auth.yaml
...
customresourcedefinition "routerules.config.istio.io" configured
customresourcedefinition "v1alpha2routerules.config.istio.io" configured
...

[2018-02-27 19:22] pmichali opened #3811 "istio-inject fails with unknown field "mixerCheckServer""
When trying to run apply the bookinfo app, I see this error. A simplified case:

$ istioctl kube-inject -f samples/sleep/sleep.yaml
Error: failed to convert to proto. unknown field "mixerCheckServer" in v1alpha1.MeshConfig

I'm using latest from master, pulled today, 151c69e, but have seen this yesterday as well.

[2018-02-27 19:22] ldemailly commented on #3810
I guess it has to do with

https://github.com/istio/istio/blob/4f4226c04b17b8ac4e4b5bc89c2b8e5b97dd538b/samples/bookinfo/swagger.yaml#L1

but simple test should not have anything to do with bookinfo

[2018-02-27 19:29] mandarjog commented on #2420
@bianpengyuan Please take this one.
It involves several moving parts.
1. `request.header` is a string map. Default string maps are case sensitive. We need to decide  how to attach extra meaning to a specific string map.
2. In the config, `toLower()` `request.headers` before use.

[2018-02-27 19:36] ldemailly commented on #3801
well I did 0.5.1 a few weeks back and did a gcloud components update in between

I also upgraded the cluster so maybe it's fine

feel free to close this, it's low pri anyway

[2018-02-27 19:37] ldemailly commented on #3757
because that other pr had that same failure, said that there to explain why the merge despite the failure

[2018-02-27 19:39] yusuoh commented on #3801
I guess some config history was lost due to some unknown reason and kubectl cannot find them when installing the new version.

[2018-02-27 19:39] #3801 closed

[2018-02-27 19:44] xiaolanz commented on #3706
@ayj has tried a setup with replica pilots in one zone/cluster

[2018-02-27 19:45] kidiyoor opened #3813 "perf test : not able to install stackdriver agent in k8s cluster nodes for monitoring purpose"
k8s cluster nodes created for 'performance test' setup using -  ```https://github.com/istio/istio/blob/master/tools/setup_perf_cluster.sh``` use "Container-Optimized OS from Google" images. These Chromium OS image do not support Stackdriver agents.
I guess Stackdriver will be helpful for monitoring while doing loadtest.

Can we change it to Debian or CentOS ?
[code]

ref: https://stackoverflow.com

[2018-02-27 19:52] ijsnellf commented on #3773
@GregHanson merged a fix: https://github.com/istio/istio/pull/3786

Thanks for creating issue @nmnellis!

[2018-02-27 19:52] #3773 closed

[2018-02-27 19:53] mandarjog commented on #3099
Can you get https://github.com/istio/istio/blob/master/bin/istio-proxy-cfg.py

`istio-proxy-cfg.py at-consumer --pilot_url http://localhost:8080`

Ensure that you open port-forward
[code]

[2018-02-27 20:17] secat commented on #1685
@GregHanson I am still receiving errors of type:
[code]

with istio version 0.5.1.

Here is an example of the sidecar that was injected with `istioctl kube-inject`:
[code]

[2018-02-27 20:36] hklai commented on #3774
+@rkpagadala

Since the change is expected, we can just document the behavior and workaround in release notes for 0.6.0.

I am going to remove the release blocking label if there is no disagreement.

[2018-02-27 20:53] secat commented on #3265
I am using:
- minikube v0.25.0
- kubernetes v1.9.0
- istio v0.5.1

Istio ingress stdout:
[code]

[2018-02-27 21:11] geeknoid opened #3814 "Cleanup attributes bags"
As Mixer has evolved, we've ended up using a lot of attribute bags on top of other attribute bags. This introduces overhead. Seems like there should be room to simplify the number of distinct bags and layer of bags we're creating.

[2018-02-27 21:13] geeknoid opened #3815 "Improve attribute use tracking to reduce contention"
Mixer keeps track of which attributes are used within a bag. This is currently done with a coarse lock which can lead to lock contention. This could be made lock free to reduce contention and improve Mixer throughput

[2018-02-27 21:16] ayj opened #3816 "Istio api to inject envoy into pods instead of istio command line"
@JasmithaMeka commented on [Wed Jan 03 2018](https://github.com/istio/issues/issues/148)

**Is this a BUG or FEATURE REQUEST?:**
NEED HELP

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):
Y

**Bug:**
N

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**

[2018-02-27 21:41] mandarjog commented on #3811
Can you confirm that you are using `istioctl` that came with the build?
run `make istioctl` just to be sure and retry.

[2018-02-27 21:55] ldemailly commented on #3763
#3759 would break backward compatibility for instance (though one can argue functionally it's been broken by #1840 onward

[2018-02-27 21:59] GregHanson commented on #1888
as documented here:
https://www.envoyproxy.io/docs/envoy/v1.5.0/api-v1/route_config/route.html#config-http-conn-man-route-table-route-timeout

(optional, integer) Specifies the timeout for the route. If not specified, the default is 15s. Note that this timeout includes all retries. See also x-envoy-upstream-rq-timeout-ms, x-envoy-upstream-rq-per-try-timeout-ms, and the retry overview.

if this is

[2018-02-27 22:02] xiaolanz opened #3818 "a lot of linter errors from envoy/v2/mesh"
result from bin/linter.sh  Please fix

pilot/pkg/proxy/envoy/v2/mesh.go:686:24:error: invalid operation: ep (variable of type *Endpoint) has no field or method Endpoint (interfacer)
pilot/pkg/proxy/envoy/v2/mesh.go:915:14:error: invalid operation: ep (variable of type *Endpoint) has no field or method Metadata (interfacer)
pilot/pkg/proxy/envoy/v2/mesh.go:938:14:error: unused struct field invalid

[2018-02-27 22:02] pmichali commented on #3811
Ah! I had originally used the Getting Started notes, and that had me add to my path the istioctl for 0.5.1. Following the dev instructions, I rebuilt everything, but didn't realize it was pointing to this older version still.

I adjusted path to point to ~/go/out/linux_amd64/release/ area for this.

[2018-02-27 22:07] mandarjog commented on #3811
If this still does not work, please re-open the issue. Thanks.

[2018-02-27 22:07] #3811 closed

[2018-02-27 22:14] costinm commented on #890
AFAIK the plan is to switch to helm/istioctl, and keep the 2 configs only for migration/legacy.

In helm/istioctl each feature is independently enabled/disabled.

[2018-02-27 22:14] #890 closed

[2018-02-27 22:19] costinm commented on #3774
Moved this to 0.7, and changed to P1.

I think there are important reasons to do it (may be ok to push it to 0.8, but before 1.0):
- consistency
- use with 'helm template' or other tools (ci-cd, etc) where all yamls are pushed trough a filter
that does kube-inject
- it makes it hard to install applications - the developer writing the yaml is different from the
admin applying them. If they use kube

[2018-02-27 22:20] andraxylia opened #3819 "Some CRD not cleaned-up after uninstall"
$ kubectl get crd
NAME                                                      AGE
enduserauthenticationpolicyspecbindings.config.istio.io   6d
enduserauthenticationpolicyspecs.config.istio.io          6d
gateways.config.istio.io                                  6d
httpapispecbindings.config.istio.io                       6d
httpapispecs.config.istio.io                              6d
quotaspecbindin

[2018-02-27 22:26] costinm commented on #2087
I think best place to put this istio-ca - which can generate certificates and has proper permissions.

I wouldn't add another component that signs certs.

I will file a separate bug for this.

[2018-02-27 22:26] #2087 closed

[2018-02-27 22:30] costinm opened #3821 "Automating sidecar-injector certificate generation"
The webhook injector needs a keypair and a certificate. We now use a shell script, but it doesn't work
well with helm and doesn't have good UX.

One option would be to automate the keypair and cert request - istio-ca seems to be the best place to
put this feature, since it already has code for this. The main trick is to make the k8s request for signing,
and add whatever RBAC permissions are needed

[2018-02-27 23:06] costinm commented on #1692
Still no change - most of this will be replaced by zvpn, which is gated by SNI sniffing.

[2018-02-27 23:08] costinm commented on #2994
It appears to work now ( with nightly builds - will be updated once 0.6 is out)

[2018-02-27 23:08] #2994 closed

[2018-02-27 23:08] kidiyoor opened #3823 "envoy issue in CentOS"
Built Istio(master) on CentOS 7

[code]
[code]

[2018-02-27 23:15] costinm commented on #3763
Since Istio is in use by real customers, and we have quite a few external ways to install it ( k8s addon, single-click installer, etc ) - we must pay attention to backward compat even if we haven't
officially committed or decided it. We can still make changes - and in extreme cases take the
hit and break customer's installs on upgrade - but I think we should prevent breakages when we
can.

[2018-02-27 23:18] costinm commented on #3816
Another approach would be to document what 'injected' means ( the 2 containers added and
what options are supported ), and let people write their own tools/scripts/etc to make modifications. Exposing the templates and code is nice too - but making changes to the templates
also requires doc on what each does.

[2018-02-27 23:20] costinm commented on #3738
Yes, absolutely - users can kube-inject or use their own custom sidecar configs.

But we do have a way to handle this - the annotation  to exclude the pod from auto-injection.
Can we just document it better ?

For auto-update: I assume it'll be an update of the binary (the docker), but any settings the
user has can be preserved ( for the release backward compat time).

[2018-02-27 23:24] costinm commented on #3716
Not sure what you mean by 'configure injection to use deployments first ' - is it using kube-inject
before ? If yes: +1

[2018-02-27 23:27] ayj commented on #3821
The shell scripts generates a key/cert, creates a k8s CSR and posts it to api-server, approves the CSR (requires admin), waits for certificate controller to create the signed cert, and creates the corresponding k8s secret that is consumed by the webhook. It's not clear which of these steps (all of them?) you'd like to change/enhance. Changing key/cert gen step alone doesn't seem like it'd have a b

[2018-02-27 23:56] nmittler commented on #3514
@costinm @ldemailly @ZackButcher

Just chatted with Zack... Up to this point, I had been treating this issue as a step toward #3469, but I'm not sure it's needed.

Rather than doing iptables magic at ingress, we could just deploy nginx with an `istio-proxy` sidecar, but no `proxy-init` init container (i.e. no iptables). The nginx deployment would then just have to forward all traffic to `localhost

[2018-02-28 00:05] ayj commented on #3821
@costinm, can you clarify what enhancements you'd like to see re: UX?

[2018-02-28 00:05] mattdelco commented on #3788
As of 0.5 there's only one debian (istio-sidecar.deb) rather than the 3.  It looks like the URLs in istio.VERSION wasn't consolidated but it looks like 0.6 on on-track to have this.  I don't know if a doc update is on anyone's radar but I suppose this issue could serve that role.

[2018-02-28 00:12] yusuoh commented on #3821
cc @yusuoh

[2018-02-28 00:16] yusuoh commented on #3821
I think we'd better do all those steps in CA. It will simplify the installation. cc @ostromart

[2018-02-28 00:29] ozevren opened #3825 "Mixer should handle (not-)caching of ephemeral attributes"
Mixer currently keeps track of attributes that are referenced, so that Proxy can create cache keys based on that.

Attributes such as context.time is problematic with the current approach. Unlike APA, which ends up creating new attributes based on incoming attributes, some of the attributes like context.time is based only on ambient context within Mixer.

Incorporating these attributes in a cache

[2018-02-28 00:38] kidiyoor commented on #3823
closing this issue - This is not the right way to run stack driver agent in GKE.  GKE runs containerized fluentd in every node for this purpose.

[2018-02-28 00:38] #3823 closed

[2018-02-28 00:39] mandarjog commented on #3825
If config uses request.time it should just work. We have defined other time functions like time-of-day, hours, mins, day-of-week
day-of-month etc but have not implemented them.
These functions based on request.time will automagicLly work.

I suspect the current use case is on the report path.

[2018-02-28 00:39] kidiyoor commented on #3813
closing this issue - This is not the right way to run stack driver agent in GKE. GKE runs containerized fluentd in every node for this purpose.

[2018-02-28 00:39] #3813 closed

[2018-02-28 00:40] kidiyoor commented on #3823
envoy need to be built separately using istio/proxy repo.

`make build` in istio/istio just uses prebuilt binary of envoy(I guess for debian).

[2018-02-28 00:42] ayj commented on #3821
The CA shouldn't be responsible for generating webhook configuration files, e.g. which namespace an admission controller applies to, fail open/close policy, resources subject to injection.

[2018-02-28 00:45] andraxylia opened #3826 "connectTimeout in the configMap does not take effect"
I tried to change the connectTimeout from the default 1000ms to a larger value by changing the configMap value, but this has no effect.

#kubectl get configmap istio -n istio-system -oyaml | grep connect
    # Edit this list to avoid using mTLS to connect to these services.
      # TCP connection timeout between Envoy & the application, and between Envoys.
      connectTimeout: 10s

This is what P

[2018-02-28 00:45] wattli commented on #3821
+1 for what @ayj says, CA stands for Cert Authority, and should only be used for cert/key related stuff. Why can't we just use some scripts to do this work?

[2018-02-28 00:48] yusuoh commented on #3821
@ayj I meant all those steps mentioned in your previous comment, i.e. secrets generation and signing. Agree that it should not touch the webhook configuration part.

[2018-02-28 01:21] ayj commented on #3716
This was by design to enable incremental upgrade of sidecar proxies without needing to touch the user's original deployment/statefulset/job/etc.The argument could be made for (re)introducing controller-level injection again (i.e. deployment), but it should probably be mutually exclusive with pod-level injection. Trying to support both at the same time would require additional annotations/heuristic

[2018-02-28 01:28] costinm commented on #1621
Not sure if it's still happening, reopen if needed but I don't think lxd support is a priority before 1.0

[2018-02-28 01:28] #1621 closed

[2018-02-28 01:30] costinm commented on #706
Tracked by other bugs.

[2018-02-28 01:30] #706 closed

[2018-02-28 01:31] costinm commented on #398
Obsolete.

[2018-02-28 01:32] costinm commented on #415
Closing for now, it doesn't look like we have anyone contributing on this.

[2018-02-28 01:33] costinm commented on #420
Too old, no activity.

[2018-02-28 01:33] #420 closed

[2018-02-28 01:33] costinm commented on #1227
Tracked in other bugs.

[2018-02-28 01:33] #1227 closed

[2018-02-28 01:34] ldemailly commented on #3776
@steffengy thanks for your patience and doing all those tests !

by using samples/helloworld you really are testing the ability of a simple python script to scale, which is not great and that's why you are getting all those errors

can you use fortio both as the client and the server (or at least not use helloworld on the server, you can use nginx, lwan, etc... or fortio)

to use fortio as the ech

[2018-02-28 01:35] #2582 closed

[2018-02-28 01:36] costinm commented on #2582
Closing it for now - we may reopen if the helm plan doesn't work out.

[2018-02-28 01:42] costinm commented on #3821
The config is separate from the cert.

The goal is to be able to automate the installation of istio - with helm or 'single click' or pre-installed with kubernetes. There is no user running extra scripts here - they use
'kubeadmin ... --addons istio' or helm install istio - and expect it to work.

Helm and single click have some 'one time' jobs to do additional initialization steps, we can do the s

[2018-02-28 01:46] costinm commented on #3514
It won't work - port 15001 depends on iptables intercepting traffic, it uses original_dst.
But nice try :-)

[2018-02-28 01:49] costinm commented on #3514
One hack for #3469  would be to not intercept port 80 and 443 (the VM script has this option, we can add it in the other) - it will work as long as services in mesh don't use 80 or 443.

We also have few 'egress' related bugs that can be helped by excluding ports from interception, in
particular 443.

I think we can push this back to 0.8 (P2 in 0.7)- but we still want to do it before 1.0, and soon

[2018-02-28 02:05] nmnellis commented on #3798
i tested routing to internal services as well and i am getting the same result.

[2018-02-28 02:14] costinm opened #3828 "Tuning options for larger deployments"
For tracking: we need to document and add more options for replica counts, throttle, refresh delays, etc.
This is targeted for the helm-based install, and 0.7

[2018-02-28 02:38] ldemailly commented on #3799
@vadimeisenbergibm do you think you can make the quick workaround soonish -  for 0.7 ?

[2018-02-28 02:43] ldemailly commented on #398
well it's not - I think we need an "istio-tiny" yaml that has some istio on tiny footprint

[2018-02-28 02:52] ldemailly commented on #3514
we should really do the unification in 0.7 if at all possible (1 iptable script across all istio repos) - that's the release where it will get a chance to get good testing

[2018-02-28 04:12] vadimeisenbergibm commented on #3799
@ldemailly what is the planned date for 0.7?

[2018-02-28 05:08] costinm commented on #398
I really don't think this is a priority or required for 1.0.
Bookinfo is a sample app - I doubt it should even be included in the release, we're not shipping a demo
and I don't think we should spend additional time on it.

We can discuss if shipping 1.0 requires bookinfo or we can have a smaller sample - but optimizing
bookinfo is the last thing we need...

[2018-02-28 05:09] costinm commented on #3799
How about check if it works with external service, and fix it there ?
We plan to deprecate alpha1 around 0.8.

On Tue, Feb 27, 2018 at 8:12 PM, Vadim Eisenberg <notifications@github.com>
wrote:

[2018-02-28 05:35] ldemailly commented on #398
I updated the summary, this isn't about bookinfo and having people able to give istio a try with a minimum requirements is helpful for adoption, we can talk with PMs if we disagree on usefulness

[2018-02-28 05:37] ldemailly commented on #3799
March 14 freeze

[2018-02-28 07:40] vadimeisenbergibm commented on #3799
@ijsnellf (cc @costinm @ldemailly ) could you please consider to fix this issue for External Services?

[2018-02-28 08:30] Stono opened #3831 "Feature Request: Deployment level Injection"
This is a follow on from https://github.com/istio/istio/issues/3716, to discuss a higher level injection than at the pod level, for example at the deployment.

In principal, whilst it was a conscious decision to switch to pod level injection for the reasons outlined by @ayj in the attached thread, we still feel like there are significant use cases to inject at the deployment level instead, primari

[2018-02-28 08:32] Stono commented on #3716
@ayj done, this issue can be closed off when we resolve https://github.com/istio/istio/pull/3724

[2018-02-28 08:37] Stono commented on #3099
[code]

And the output (at-consumer-platform-76dcc47b4c-q7n9z_pilot_xds.yaml)
[at-consumer-platform-xds.tar.gz](https://github.com/istio/istio/files/1766271/at-consumer-platform-xds.tar.gz)

[2018-02-28 09:35] steffengy commented on #3776
@ldemailly @mandarjog
Oops sorry for that! I assumed the python hello world would perform better,
but vanilla k8s tests confirmed that it doesn't scale at all.
A more comparable set of tests using some of your suggestions including
the use of fortio as a server is below.

Result Conclusions: **Mixer only seems to cause a relatively minor decrease (2x) of the througput decrease (>10x) here.**

## R

[2018-02-28 10:47] PiotrSikora commented on #2142
Indeed :) See https://github.com/envoyproxy/envoy/issues/1630 and https://github.com/envoyproxy/envoy/issues/2394.

[2018-02-28 14:08] JorritSalverda commented on #1786
For anyone still running into issues like these with 0.5+ we've tackled them by increasing the following values in _ConfigMap_ `istio` from 1 second to 10 seconds.

[code]

And by scaling _Deployment_ `istio-pilot` from 1 to 5 replicas. All default settings work fine for super small clusters, but fall short in more serious clusters with many existing applications.

[2018-02-28 14:28] esnible commented on #3729
I should point out the failure behavior is very different in the TLS and NONE configurations.

I was able to make my app functional by adding "auth.istio.io/5984: NONE" to the Service when running under TLS mode.

Another symptom is that because Envoy doesn't know that 5984 is being described by Istio configuration it does not send necessary data to Zipkin.  If expected data is missing from Zipkin

[2018-02-28 15:36] costinm opened #3833 "Flag default values and cleanup"
We need to review and cleanup the flags:
- make sure logging is WARN level, and the helm templates have a way to turn debugging on.
- remove from configs flags that just set the default value
- change default values to match a production deployment ( not too verbose, no /debug etc),
with an easy way to enable for test/debug.

[2018-02-28 15:58] ldemailly commented on #1786
0.6 pilot has much better scaling thanks to @costinm’s fix

[2018-02-28 16:53] ozevren commented on #3825
Yes, for attributes/values that originate (or derived) from proxy, the correctness semantics will be preserved. However, even then, it probably doesn't make sense to have them cached for nonce values such as request.time.

[2018-02-28 17:10] nmittler commented on #3514
@costinm

But nice try :-)

IIRC, the issue was that the sidecar was intercepting traffic on the inbound side, before it got to nginx. If we removed the NAT manually, nginx seems to correctly preserve the original IP.

With that said, it would seem that if we were to remove iptables altogether and configure nginx on port 80, forwarding all traffic to port 15001, it should still maintain the origin

[2018-02-28 17:25] yukiman76 commented on #3808
I fixed it with the following
sed -i old 's|mktemp -d|mktemp -d ./XXXXXX|' install/kubernetes/webhook-create-signed-cert.sh

[2018-02-28 18:32] mandarjog opened #3835 "mixs: no args spews out logs"
Running mixs with no args prints out inventory at level info.

[code]

[2018-02-28 18:39] nmittler commented on #3514
Also, this idea was suggested by @rshriram here: https://github.com/istio/istio/pull/3562#issuecomment-366360751

[2018-02-28 19:22] secat commented on #1685
@GregHanson I finally was able to fix the problem on my side: I needed to create a `serviceaccount` with the right `role` and `rolebinding` for my deployment.

Therefore, the `istio-proxy` sidecar inherits from this `serviceaccount` and my application can now access the API Server.

You can consider this issue as fixed.

[2018-02-28 19:38] andraxylia commented on #3757
The 503 issue happens continuously, not only at startup.

[2018-02-28 19:40] andraxylia commented on #2214
Fixed by multiple commits.

[2018-02-28 19:40] #2214 closed

[2018-02-28 19:41] Stono commented on #3821
Hey folks,
If the goal here is UX, from a helm chart perspective perhaps having something like `.values.webhookEnabled: true`, which in turn creates the sidecar deployment, with a [pre-install hook](https://github.com/kubernetes/helm/blob/master/docs/charts_hooks.md) to do the cert gen + secret setup perhaps?

[2018-02-28 19:54] andraxylia commented on #3295
@wattli
This happens only with mTLS enabled, with traffic going from VM --> Istio Ingress --> echosrv1 --> echosrv2

Envoy stats in the Ingress show Ingress timeout out when connecting to the upstream cluster for echosrv1:

out.echosrv1.istio.svc.cluster.local|http-echo::10.4.5.9:8080::cx_connect_fail::1208
out.echosrv1.istio.svc.cluster.local|http-echo::10.4.5.9:8080::rq_error::1336

[2018-02-28 20:04] linsun commented on #3514
I actually got this working late last year by providing my own pilot agent and use it to build my own proxy image.... so I have nginx forward traffic to envoy with nginx and envoy both in 1 pod... envoy isn't capturing all traffic on the pod, rather it is listening on port 15001.

Sorry It is not clean to me what user scenario you are trying to solve as I'd like to understand if we are sharing sim

[2018-02-28 20:08] costinm opened #3836 "LDS v2 support"
For tracking purpose - using existing data structures.

[2018-02-28 20:09] costinm opened #3837 "RDS v2"
For tracking, using alpha2 routing rules.

[2018-02-28 20:10] costinm opened #3838 "CDS v2"
For tracking, feature parity with CDSv1 and same data structures.

[2018-02-28 20:11] costinm commented on #1460
Is this done, can it be done in 0.8 ?

[2018-02-28 20:13] linsun commented on #3514
reading more on chat history... @Stono that is exactly my scenario too... Client -> https -> INgress -> [nginx -> istio-proxy] -> [istio-proxy -> backend-service1  cc @dcberg @ijsnellf

[2018-02-28 20:13] nmittler commented on #3514
@linsun thanks! The original problem is described in #3059. Basically the desire was to use nginx for ingress, but have a sidecar attached so that it could use mTLS within the mesh.

The problem we ran into with the default injection is that the iptables will route both inbound and outbound traffic through Envoy. This means that an inbound request would look like this:

ingress->`[Envoy->nginx->En

[2018-02-28 20:19] linsun commented on #3514
@nmittler thanks!  yes, in that case, you would not want envoy to capture the inbound and outbound traffic... I used the istio proxy configuration similar as istio ingress in my POC, without the proxy init container.

[2018-02-28 20:21] nmittler commented on #3514
@linsun makes sense ... should be essentially the same result.  I'm going to try to get this in for 0.7.0 (see #3469

[2018-02-28 20:24] linsun commented on #3469
@nmittler FYI, here is the POC I did on pilot agent config, you may find useful:  https://github.com/linsun/pilot-config

I'd be happy to help/review what you have.  I'm very interested in this feature too.

[2018-02-28 20:43] PiotrSikora commented on #3514
@nmittler what @costinm meant is that if you replace iptables interception with simple forwarding, then istio-proxy sidecar won't know where you want to connect and how should it route traffic, because normally that information is inferred from the original (pre-iptables) destination address, but that's going to be useless and always static (i.e. 127.0.0.1:15001) if you simply forward traffic ther

[2018-02-28 20:44] wattli commented on #3295
@PiotrSikora is working on improving the Enovy SSL perf and he has a PR:

https://github.com/envoyproxy/envoy/pull/2680

[2018-02-28 20:49] ayj commented on #1460
We can consider this done. Automatic injection can be white/blacklisted for specific sets of namespaces using the Kubernetes namespaceSelector in the Webhook registration YAML. For example, the following only runs the webhook on pods whose namespace is associated with the `environment` of `foo` or `bar`.

[code]

Likewise, you could enable injection cluster-wide by default, but blacklist special s

[2018-02-28 20:49] #1460 closed

[2018-02-28 20:49] PiotrSikora commented on #3295
@wattli It's unlikely that this has anything to do with https://github.com/envoyproxy/envoy/pull/2680. 503s are results of connection errors and not slower performance.

[2018-02-28 20:55] linsun commented on #3514
@PiotrSikora agreed, that is the missing piece that needs to be sorted out. In my POC, as a user, I still configure ingress with istio which essentially taught that istio-proxy sidecar (next to nginx) where to route first.  we should do that as step 1 imho.  step 2 is to based on the nginx ingress configure, we auto configure the istio-proxy on which service to forward to next.

[2018-02-28 21:04] wattli commented on #3295
The log of the 503 error mentioned 'connection timeout'. @andraxylia , can you provide the error message please?

[2018-02-28 21:16] ldemailly commented on #3757
@andraxylia let's not mix up the issues. again, this is not about 503s.

[2018-02-28 21:22] ldemailly opened #3839 "get rid of generated files in istio/istio: step 1 - generated html files"
generated files shouldn't be mixed with source code - at least for the main repo (proto/pb files in istio/api being an exception for now; until they move to vendor)

follow up on
https://github.com/istio/istio/pull/3635#discussion_r170146793

[2018-02-28 21:37] PiotrSikora commented on #3295
@ldemailly ah, I'm using static config and I saw exactly zero 503s.

[2018-02-28 21:39] andraxylia commented on #3295
@PiotrSikora do we have any measurements for the time spent in connecting one Envoy to an upstream Envoy cluster?

[2018-02-28 21:41] andraxylia commented on #3295
what is the connectTimeout in your CDS static config?

[2018-02-28 21:44] andraxylia commented on #3295
Can it be caused by the loading of the certificates? Is there any caching of the certificates in Envoy?
 If loading of the certificates is done for every LDS and CDS, it may slow down things.

[2018-02-28 21:49] wattli commented on #3295
That's my question too: do we always load cert/key for all incoming and outgoing call? Or it's just loaded for the first time.

[2018-02-28 21:58] ldemailly commented on #3295
if it was reloaded at each call we wouldn't need to restart envoy when they change

[2018-02-28 22:25] costinm commented on #2318
Please reopen if still happening. Cleaning up old bugs.

[2018-02-28 22:25] #2318 closed

[2018-02-28 22:47] PiotrSikora commented on #3295
No, it's loaded only during startup and after receiving config (LDS/CDS) update. I'm trying to investigate what happens when the update is the same as previous one.

But if the low connection timeout is the issue, then why not just raise it? Having timeout <= 1s seems quite aggressive.

[2018-02-28 23:03] ayj commented on #3831
This could be added as an option, but I'd like to see the pod-level injection retained as the default. I'd also like to restrict these to be mutually exclusive.

It might also be possible to restrict sidecar configuration rollouts to subsets of pods (e.g. controller-level / deployments level) in a more general way by using the `ownerReference` to incrementally inject newer sidecar versions if the

[2018-02-28 23:20] nmittler commented on #3469
Great, thanks @linsun!

[2018-02-28 23:28] yusuoh commented on #3821
We'd better have a general solution that does not depend on Helm.

[2018-02-28 23:41] andraxylia opened #3844 "istio-ca fails to create secret (timeout from kube-apiserver)"
Istio-CA received the service account notification but failed to create the associated secret:

$ k logs istio-ca-5df978dd8f-nnsm6      -n istio-system | grep Failed
2018-02-28T23:15:46.133060Z	error	Failed to create secret (error: the server was unable to return a response in the time allotted, but may still be processing the request (post secrets))

Solution is to retry here (also add the name o

[2018-03-01 00:30] #3716 closed

[2018-03-01 00:31] nmittler commented on #3716
Awesome! Thanks, @ayj!

[2018-03-01 00:35] andraxylia commented on #3295
As a workaround we can increase the timeout, but people consider 1s to be more than sufficient. In general, it should be in the tens of ms.

There is no reason to reload a certificate with the same name, except for when SDS will tell Envoy to do it. Instead, Envoy should re-use the in-memory certificate.

[2018-03-01 00:36] ayj commented on #3831
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/controller-ref.md might be useful for the purpose of object grouping and rolling our new sidecar versions per controller.

[2018-03-01 00:43] ldemailly commented on #3295
1s on internal network with no congestion is a lot
if we have any packet loss it's classically not enough as the first retry is at 1s (unless tuned) but I don't think that's the case here

[2018-03-01 00:45] ayj commented on #3821
The [pre-install hook](https://github.com/kubernetes/helm/blob/master/docs/charts_hooks.md) looks like a great option for `tiller` based helm installs. We also need a non-tiller solution.

One solution is to add cert/key gen and CSR signing/approval into istioctl, either as part of `gen-deploy` or a separate subcommand, and output the resulting webhook secret and registration yaml with the rest of

[2018-03-01 00:50] andraxylia opened #3849 "Default config should intercept only cluster traffic, and not intercept egress traffic"
If kube-apiserver can expose an API so we can programmatically obtain
--service-cluster-ip-range (ServiceClusterIPRange) and --cluster-cidr  (ClusterCIDR), we can have the automatic injection call that API and inject the correct includeIPRanges.

At a minimum, Istio should document clearly what users need to do to disable interception of egress traffic.

[2018-03-01 00:56] ayj opened #3850 "Add HA configuration for sidecar injector webhook"
All Istio components should have HA configuration including cpu/memory request/limits. The sidecar injector webhook is no different, as it sits in the pod creation path. Unavailability of the webhook delays creation of new pods.

1) increase the number of replicas. This could be configurabled (via helm or `istioctl gen-deploy`).

2) set cpu/memory request/limits for the sidecar injector pod to min

[2018-03-01 01:06] geeknoid commented on #3839
Since the move from Bazel, Mixer has checked in generated source files. That's unlikely to change any time soon given current build technology.

[2018-03-01 01:36] ldemailly commented on #3776
I'm glad you found fortio can do 61k qps in your setup :-) you may want to use the "delay=" optional argument to simulate a more realistic service that has > 0 internal latency

We are working on horizontally scaling the ingress (and all other istio components) such as whichever your target QPS is, we should be able to meet it (at a hw cost obviously)

We also just started measuring latencies and

[2018-03-01 01:45] costinm commented on #3821
Agreed, the solution should not depend on helm - but it can't depend on
scripts run manually
 by the user either. Given how 'one-click' is implemented, I think the best
option is to have the
 code that generates the cert moved to a container - either part of Istio
CA, or a separate
'one time' - like we seem to do with mixer setup.

It should work for helm, one-click-type installs as well as the k8

[2018-03-01 02:13] taoyu27 opened #3852 "Use the istio-ingress service as a backend in the NGINX controller's ingress resources to cause it to forward traffic to Istio."
is this scenario available? or better yet?

[2018-03-01 02:15] #3852 closed

[2018-03-01 02:23] taoyu27 opened #3853 "Use the istio-ingress service as a backend in the NGINX controller's ingress resources to cause it to forward traffic to Istio"
can this scenario use for production? or better provided.
if so can someone please point me in the right direction or give an sample for testing?

[2018-03-01 02:29] ldemailly opened #3854 "add simple upstream envoy to perf setup"
would be a good reference for ingress performance

can also solve the apples/oranges comparison of fortio namespace without ingress vs istio namespace
with istio ingress

[2018-03-01 02:55] nmnellis opened #3855 "Pilot - /v1/routes not generating route clusters correctly"
When running envoy in `- router` configuration i was seeing 503 NR errors when trying to route dns hosts to my backend.
I was seeing this error in the logs
[code]

I determined that whatever suffix you add to the `/v1/routes` call to pilot is what is added to the cluster service as well

Example 1 "http://istio-pilot:15003/v1/routes/80/istio-ingress/router~~istio-ingress-85cfcfc7b6-c5fh5.istio-sys

[2018-03-01 05:27] kyessenov commented on #3855
cc @ijsnellf  @rshriram
I just discovered this myself today, but I think the current v1alpha2 code uses the proxy context namespace instead of the config namespace, which causes this effect.

[2018-03-01 06:30] douglas-reid opened #3858 "postsubmit failures - `istioctl` related"
Istio postsubmit is failing repeatedly, with only the following bits of information:

From: https://k8s-gubernator.appspot.com/build/istio-prow/istio-postsubmit/1020

[code]

PR https://github.com/istio/istio/pull/3820 seems to correspond to the start of the failures.

[2018-03-01 07:47] douglas-reid commented on #3855
assigning to @andraxylia for Pilot triage.

[2018-03-01 07:55] #3858 closed

[2018-03-01 08:20] ldemailly opened #3863 "circleci mixes PRs / bad caching"
some cache causes PRs to use code from another PRs

I saw that both with martin's PR over the weekend and @kyessenov saw it too

@douglas-reid to build cop someone into fixing it :-)

[2018-03-01 08:25] #3660 closed

[2018-03-01 10:20] morvencao opened #3864 "Istio helm chart install failed when enable sidecar-injector"
**env:**
[code]

**action:**
[code]

**problem:**
[code]

While the `admissionregistration.k8s.io/v1beta1` API enabled:
[code]
And `kube-apiserver` process has the admission-control flag set with the `MutatingAdmissionWebhook` and `ValidatingAdmissionWebhook` admission controllers added and listed in the correct order:
[code]

[2018-03-01 12:02] jsenon opened #3865 "Istio Load Testing User Guide"
I propose to adapt  https://github.com/istio/istio/tree/master/tools#istio-load-testing-user-guide for aws instead of GKE, before starting it, is it relevant?

[2018-03-01 13:23] loewenstein commented on #3818
@xiaolanz I just tried `make lint` and `bin/linters.sh` (couldn't find `bin/linter.sh`) on todays master and don't get any complaints.

[code]

Picking the first complaint from your list and checking manually: `eb` is of type `*LbEndpoint` (`Endpoint` is an alias for `LbEndpoint`) and `LbEndpoint` is a struct with field `Endpoint`.
[code]
I suppose this is no issue with current master.

[2018-03-01 14:08] steffengy commented on #3776
@ldemailly
Tests using the fortio web UI:

### Echosrv2 --> Echosrv1 directly at http://echosrv1:8080/debug
Mixer disabled, with injected sidecar: 5271.1 qps
Mixer disabled, without injected sidecar: 49856.7 qps
Mixer enabled, with injected sidecar: 2474.7 qps
Mixer enabled, without injected sidecar: 49807.8 qps

### Access through ingress, http://10.0.0.5/fortio1/debug
(IP since the ingress is in

[2018-03-01 14:23] jsenon opened #3867 "Istio ingress behind Aws NLB"
Hi,

I m trying to implement istio ingress behind AWS NLB. It needs to have healthcheck TCP or HTTP to works. I ve tried with `externalTrafficPolicy: Local` or  `externalTrafficPolicy: Cluster`

[code]

If we use `externalTrafficPolicy: Local` HTTP endpoint needs to be available on ingress POD, but I think that we don't have one.
If we use `externalTrafficPolicy: Cluster`, TCP endpoint needs to be

[2018-03-01 15:00] costinm commented on #3839
Agree with 'not changing any time soon' - or at least post 1.0.
Checking in .go files is common practice in go and we should continue, but for .html and other
release artifacts - I think we can generate them from the release or make (as they already are) and
no need to check in.

[2018-03-01 15:01] geeknoid opened #3868 "istio/tools/setup_run and update_all out of date"
Both scripts contain references to bazel artifacts.

[2018-03-01 15:05] geeknoid opened #3869 "bin/perftest.sh out of date"
istio/bin/perftest.sh references bazel. Should this be fixed, or the script deleted?

[2018-03-01 15:22] linsun opened #3870 "Handle targetPort set to a name"
The simple example (btw it is a popular guestbook k8s example in official k8s repo) I'm moving from k8s to Istio has the following in the service yaml:

  type: LoadBalancer
    ports:
   - port: 3000
     targetPort: "http-server"

I had to change that to the targetPort... Would be nice to support this to simplify user's onboard experience onto Istio.

[2018-03-01 15:30] linsun commented on #3853
I think @nmittler is working on this.  This is possible, I did a POC on this last Nov.  https://github.com/istio/istio/issues/3469

[2018-03-01 16:23] nmnellis opened #3872 "Proxy pod 404 on prometheus scrape"
I have enabled pod scraping from prometheus for the following application and one pod returns 404 from the envoy proxy while the other returns 200 statuses. Prometheus calls the ip directly `http://100.124.150.171:8080/prometheus` and that seems to be an issue with envoy, if i call the app from its external ingress it always succeeds

Logs from envoy

[code]
but if i call it from external
[code]

[2018-03-01 16:24] nmnellis commented on #3872
@douglas-reid

[2018-03-01 16:47] xiaolanz commented on #1880
@yusuoh Actually there is a problem with this approach. K8S doesn't allow to define the same Kind+Group CRD of different versions. Therefore different versions of the same RouteRule.config.istio.io cannot exist. For in-cluster update, we have to remove all the crd instances and crd definitions before we are able to create any CRD of the new version.

[2018-03-01 16:59] ijsnellf commented on #1880
@xiaolanz: FYI, the CRD names and groups have been changed to mitigate this: https://github.com/istio/api/tree/master/networking/v1alpha3

[2018-03-01 17:04] xiaolanz commented on #1880
Yes. CRD endpoint change is a solution (1-a in [doc](https://docs.google.com/document/d/1XqgYNoV0XCgRokJ-lKMf0RTFLhe_GAtorm2W0V2a0Qw/edit))
The question is if we can do  1-b at all.

[2018-03-01 17:22] nmittler commented on #3853
Yes, this is being handled by #3469

[2018-03-01 17:22] #3853 closed

[2018-03-01 17:38] nmittler commented on #3514
@PiotrSikora can't nginx just be configured with `proxy_pass` to retain the original URL?

[2018-03-01 17:47] ZackButcher commented on #3514
@PiotrSikora doesn't the [PROXY protocol](https://www.haproxy.org/download/1.8/doc/proxy-protocol.txt) address this? Both NGINX and Envoy support it, seems like we can just enable it in bootstrap config for this deployment topology.

[2018-03-01 17:58] yusuoh commented on #1880
If we can ensure the backward compatibility of each component with the old APIs, we probably don't need to create identical configs. All we need to do is to convert config to the new version after upgrade is done.

[2018-03-01 18:10] yusuoh commented on #1880
Also we can set up some test to check whether the system is backward compatible.
1. Install old version of Istio and use the old version tool (istioctl) to generate the config.
2. Upgrade the system (control plane + sidecar) to new version. Check whether the existing config is still parsed correctly and working as expected.
3. Use the new version config tool (istioctl) to regenerate the config in

[2018-03-01 18:40] ayj commented on #3849
Disabling interception of egress traffic is documented at https://istio.io/docs/tasks/traffic-management/egress.html#calling-external-services-directly. It includes specific instructions to find the ServiceClusterIPRange and ClusterCIDR for IBM, GKE, and ACS.

If we can assume ServiceClusterIPRange and ClusterCIDR are fairly static, we can patch them into the injection template ConfigMap when Isti

[2018-03-01 18:58] ldemailly commented on #3839
this is specifically about html

@geeknoid  what necessitates those html to be checked in in istio/istio ?

[2018-03-01 19:04] yusuoh commented on #3821
I can help on this one, as I plan to convert the script into some Go library for e2e test. Once we have the lib, we can call it from CA or other places.

[2018-03-01 19:40] rosenhouse opened #3876 "Use original dest for unknown services"
This can address issues with https outcalls being broken in existing applications.

cc @louiscryan @costinm

[2018-03-01 19:42] loewenstein commented on #3876
I might be able to spend some cycles on this one. I am anyway looking for some concrete work in the Istio codebase.

[2018-03-01 19:48] costinm commented on #3821
Great, thanks - I believe pilot tests already have some go code for this,
so maybe just move it to the
pkg directory ? Istioctl can also use this.

On Thu, Mar 1, 2018 at 11:05 AM, Yusuo <notifications@github.com> wrote:

[2018-03-01 19:49] ldemailly commented on #3876
would fix/address #1422

[2018-03-01 19:50] ldemailly commented on #3849
would help/fix #1422
see also now #3876

[2018-03-01 19:50] yusuoh commented on #3821
Sgtm. I will take a look.

[2018-03-01 19:59] liamawhite commented on #2916
Currently unable to call securely going directly to pilot. Have created a PR in order to inform users rather than throw an error from a timeout https://github.com/istio/istio/pull/3873. @cmluciano has agreed to look at [this](https://github.com/envoyproxy/envoy/issues/2541) Envoy issue that would remove the need for an AZ look up at all.

[2018-03-01 20:04] xiaolanz commented on #1880
Step 2 asks for existing component to handle conversion. I don't think it's a scalable solution long term. It would be nice to have APIs or Galley to handle the conversion.  Solution in APIs is underway for 1.10+.

Step 3 cannot be done without service interruption. Old configs have to be removed before new configs to be put in place.

[2018-03-01 20:12] liamawhite commented on #2916
Will look into @kyessenov's suggestion above.

[2018-03-01 20:17] yusuoh commented on #1880
When we make changes to API, existing components already have the logic handling old config. So the only requirement is not to completely discard the old logic but only add the new ones to support new ones. It does not need explicit conversion to achieve backward compatibility. Just like we did now in pilot.

For step 3, you are right, we have to delete the old one first and create the new one. bu

[2018-03-01 20:25] nmnellis commented on #3798
I found the error the clusters do not match
[code]

[2018-03-01 20:34] nmnellis opened #3878 "Pilot - /v1/routes not generating external service clusters correctly"
When running envoy in `-router` configuration I am seeing 503 NR for external service routings. This is due to the cluster names being wrong in `/v1/routes`

Example  `"cluster": "out.dog.ceo|http"` should be `"cluster": "out.dog.ceo|external-HTTP-80"`
[code]
External service
[code]

[2018-03-01 20:34] nmnellis commented on #3798
replaced with root cause issue https://github.com/istio/istio/issues/3878

[2018-03-01 20:35] nmnellis commented on #3878
@ijsnellf @rshriram @douglas-reid @kyessenov

[2018-03-01 20:38] xiaolanz commented on #1880
What do you mean by batching?

Let component keeps handling old api solution will work but we need them to keep maintain all APIs within the deprecation window.

[2018-03-01 20:46] geeknoid commented on #3839
This is the way things have been setup. There's likely nothing inherent that needs those files to be there, except additional processes to produce those files independently of the .pb.go files.

Aside from aesthetics, is this causing some actual real problem for developers or customers?
'

[2018-03-01 21:03] yusuoh commented on #1880
I mean when pilot watches the CRDs and update the cache, two consecutive changes could be picked up together if they are close to each other. So if you delete one CRD and create the same one in a short time interval, it will probably not affect the traffic.

API deprecation needs to be done gradually. For each new version, we should reserve some time for users to switch and allow a smooth upgrade.

[2018-03-01 21:16] yutongz commented on #1646
I don't have anything to add to this issue right now.  Let's just close it.
/close

[2018-03-01 21:16] istio-testing commented on #1646
@yutongz: The close prow plugin is deprecated, please migrate to the lifecycle plugin before April 2018

<details>

In response to [this](https://github.com/istio/istio/issues/1646#issuecomment-369733641):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/devel/pull-requests.md).  If you have questions or suggestions related to m

[2018-03-01 21:16] #1646 closed

[2018-03-01 21:21] xiaolanz commented on #1880
Because there is only a handful of components watching Istio config, probably asking them to be in the deprecation process is not too bad an idea.

[2018-03-01 21:23] yutongz commented on #626
/unassign @yutongz

[2018-03-01 21:23] ldemailly opened #3879 "issue triage workflow - triaging process"
1. for new issue, we need to let people give their best guess on area, priority, and maybe initial assignment - to help pre-triage
1. we need to know which issues has been fully triaged and not yet - ie if the input is accepted and settled
1. we need to know which release an issue is targeted for
1. (optional) we need to know if an issue is actively worked on vs in a queue
1. we need all this with

[2018-03-01 21:27] xiaolanz opened #3880 "improved test coverage for Pilot CRDs"
Make sure all crd types are covered in the
crd/pilot/pkg/config/kube/crd/client_test.go

[2018-03-01 22:02] andraxylia commented on #3876
thanks @loewenstein , I assigned this to you.

[2018-03-01 22:22] mandarjog opened #3883 "Metrics support for non sidecar injected destinations"
As of 0.6 metrics are collected at the server side, when Mixer client makes a report call to Mixer.
This assumes existence of an injected sidecar on the server.
For services in the cluster that do not have a sidecar, Istio cannot provide any metrics.

Workarounds available in 0.6:
If server is not sidecar injected, it is possible to create an istio `EgessRule` or `ExternalSevice` to point to the s

[2018-03-01 23:03] mandarjog commented on #3876
This can be done by adding a single `origin_dst` cluster for outbound listener port 443.

Also also using `origin_dst` cluster as the last virtual host in `:80` route.

[2018-03-01 23:52] ldemailly commented on #3839
in addition to the aesthetics, like any generated files checked in, they get out of sync
it's another thing that needs to be checked/kept in sync and makes diff reviews bigger than they should

[2018-03-01 23:56] sakshigoel12 commented on #3879
Jasmine might be the best person to define this in detail once she is back but here are my thoughts:
1. Agree and that is encouraged in bug template. Additionally, we could also have **on-call add area labels** as apart of pre-triage? Anything more we can do here?
2. Maybe we can add one more label (yes :( but github doesn't have a great interface) (**kind/triaged**?).
3. We have **"Releases" fiel

[2018-03-02 00:08] ldemailly commented on #3868
yes, thanks ! I haven't had a chance to update the VM based scripts since bazel/mono repo changes broke them as I switched focus on K8s testing with the new script

Automation would help keep both set working

[2018-03-02 00:21] myidpt opened #3886 "Support external CRL"
For Istio CA to be used with plugged-in key/cert, the workloads need to be able to access the CRL outside of the cluster. This CRL is able to revoke the Istio CA certificate.

Some work to be done:
1. How does Envoy support CRL? Is it fail-open or fail-close, or configurable?
2. How does the Envoy access the external CRL distribution endpoint? We may need to define a external service in Istio for

[2018-03-02 00:51] PiotrSikora commented on #3514
@nmittler it could, but then you'd need to do host-based routing in the sidecar to take advantage of that, which is not what we do right now (AFAIK). Also, this would require some changes to nginx.conf, which goes against the promise of transparent / drop-in onboarding into service mesh.

@ZackButcher both can accept connections with PROXY protocol, and NGINX can emit PROXY protocol when proxying

[2018-03-02 01:16] yusuoh commented on #3706
Manually tested Istio with HA settings (setting replicas=4 for pilot,mixer,ingress) on GKE regional and multi-zone clusters (3 zones, 2 nodes per zone). Seems to be working well. I think we should add the HA yaml to the to e2e tests.

[2018-03-02 01:26] mandarjog commented on #3706
I am adding helm charts to create separate check and report mixer clusters, that should be ready for this fix it next week.

[2018-03-02 02:07] lizan commented on #3295
I reproduced this in my env with 0.6.0. I don't think it related to connection timeout, as in fortio result,
the max response was around 140ms, which is way lower than 1s.

In ingress access log: (see [here](https://www.envoyproxy.io/docs/envoy/latest/configuration/access_log) for log format)
[code]
The response flag is `-` which means the 503 from upstream.

In deployment1 sidecar access log:
[co

[2018-03-02 02:23] NeGnail opened #3889 "Where is the HTTP handler for DiscoveryService?"
I can see the following code, but the comments indicate that these routes are just for testing. So where is the actual route used?

` // Register adds routes a web service container. This is visible for testing purposes only.
func (ds *DiscoveryService) Register(container *restful.Container) {
	ws := &restful.WebService{}
	ws.Produces(restful.MIME_JSON)

	// List all known services (informational,

[2018-03-02 03:08] andraxylia commented on #3295
@ldemailly is this then a fortio bug?

[2018-03-02 03:51] diemtvu commented on #1948
https://github.com/istio/api/pull/361

[2018-03-02 03:51] diemtvu commented on #1948
https://github.com/istio/api/pull/374

[2018-03-02 03:52] reynaldiwijaya commented on #1194
@costinm @prune998
I have just updated our Istio to be 0.5.1, yeah segmentation fault thing is now gone but not about duplicate listener if we turned on the liveness probe again

i have just noticed that this issue might be related to this one [https://github.com/istio/istio/issues/2628](https://github.com/istio/istio/issues/2628), and its more straight forward saying the problem with probe

Descr

[2018-03-02 03:53] andraxylia commented on #3295
@lizan In my repro, I got :
out.echosrv1.istio.svc.cluster.local|http-echo::10.4.5.9:8080::cx_connect_fail::1208
out.echosrv1.istio.svc.cluster.local|http-echo::10.4.5.9:8080::rq_error::1336

How can these be explained? When are these counters incremented?

[2018-03-02 04:15] ldemailly commented on #3295
can I see the rest of the log around this

specifically do you see the outbound calls, do those have any code ?

[2018-03-02 04:33] douglas-reid commented on #3883
As discussed, we should ensure that this work dovetails with support for client-side `Report()`ing as well.

[2018-03-02 04:40] douglas-reid commented on #3872
@andraxylia could the `404` / `NR` be related to other issues you guys have been troubleshooting?

I don't believe there is anything special about this that is telemetry-related.

[2018-03-02 04:42] douglas-reid commented on #3867
@andraxylia for triage.

[2018-03-02 04:46] douglas-reid opened #3894 "Client certificate issues with Prow"
Prow tests are failing with the following message:

`client_test.go:59: namespaces is forbidden: User "client" cannot create namespaces at the cluster scope: Unknown user "client"`

I tried to see if a quick fix (#3892) would work around the issue, but no dice.

This is a blocker.

[2018-03-02 05:04] ldemailly commented on #3295
ok so I made a few runs on my 0.6.0 cluster:
for the url : ...my-k8s-ingress.../fortio1/fortio/fetch/echosrv2:8080/echo
Starting at 100 qps with 8 thread(s) [gomax 2] : exactly 2000, 250 calls each (total 2000 + 0)

On VM:
[code]

On Ingress:
[code]

and with surrounding requests:
[code]

--- switching strategy as the log can't be correlated as is

Starting at 100 qps with 8 thread(s) [gomax 2] :

[2018-03-02 05:09] costinm commented on #3776
I wonder if mixer is really disabled in ingress properly, we should double check that.
I remember it was added later, and may have a different setting ? Will check.

[2018-03-02 05:35] lizan commented on #3295
Definitely not timeout, which will result 504. Likely an empty read + eof.

[2018-03-02 05:36] lizan commented on #3295
@andraxylia Do you still have the reproduced cluster? What is the access log of that proxy? (fetched by kubectl logs).

[2018-03-02 06:10] ldemailly commented on #3295
I have it running continuously on istio-perf-0-6 project if you want to look around

here are some envoy stats I captured around a 503:
[code]

if I read this correctly it means connection was successful but
cluster.in.8080.upstream_cx_destroy_remote_with_active_rq: 1
cluster.in.8080.upstream_cx_destroy_with_active_rq: 1

anything can be glanced from those 2 counters ?

ps: what is upstream_rq_pen

[2018-03-02 06:28] ldemailly commented on #3295
envoy on the node has about 88-92
fortio has 3 most of the time with some spikes
[code]

I can try to add internal metrics but I don't see a smoking gun so far
also will try go1.10 just in case there is an issue in go1.8.7

[2018-03-02 06:47] ldemailly commented on #3706
the AZ keeps erroring out for me so I'm surprised you got it working, without mtls maybe ?

[2018-03-02 07:20] ldemailly commented on #1223
curious, why did you remove all the blocking sub issues ? conversion to epic ?
but shouldn't they all be in the epic ?
( like https://github.com/istio/istio/issues/626 )

[2018-03-02 07:50] morvencao opened #3895 "helm chart for release version install failed for missing named template in _helpers.tpl partial files"
**env:**
[code]

**install command:**
[code]

**problem:**
[code]

While install from source code, it's all right:
[code]

[2018-03-02 07:56] andraxylia commented on #3295
@lizan I decreased the CDS connect_timeout to 100ms to force the repro, and I can do a simple repro by calling from Ingress to echosrv1 or to echosvr2 (no more chaining). Echosrv1 has mixer cache enabled, and echosrv2 has mixer cache disabled. The envoy stats are these:

cluster.out.echosrv1.istio.svc.cluster.local|http-echo.upstream_cx_connect_fail: 12
cluster.out.echosrv1.istio.svc.cluster.local

[2018-03-02 12:16] sdake commented on #3895
A patch has merged post 0.6.0 which removes serviceAccountName from most of the code base (including pilot's serviceaccount).  Is there any chance you can try master?

Thanks
-steve

[2018-03-02 12:32] wwadge commented on #3895
Just happened to try this. Master looks fine now.

[2018-03-02 12:53] argeualcantara commented on #1677
Hi, I'd like to take a look into this.

[2018-03-02 14:00] nmnellis commented on #1677
@argeualcantara This actually has been implemented and im in the process of testing it out now, because this is an envoy specific feature it is not supported directly, instead the development team decided to expose webhooks that pilot can call to modify the configuration before it is delivered to envoy. I will be closing this issue now as well. https://github.com/istio/istio/pull/2829

[2018-03-02 14:12] liamawhite commented on #3706
AZ failing won't actually cause issues it will just increase latency due to requests going between datacenters.

[2018-03-02 15:05] mandarjog commented on #1677
https://github.com/mandarjog/istioluawebhook

I have an example of this working. A golang version is coming soon.

[2018-03-02 15:17] argeualcantara commented on #1677
@mandarjog awesome man, I'll take a look

[2018-03-02 16:04] steffengy commented on #3776
I generated a flamegraph & collected trace-level logs in the istio-ingress container.
(using proxyLogLevel trace. NoMixer, NoSidecar, through ingress as above)

[flamegraph & ingress-proxy trace logs.zip](https://github.com/istio/istio/files/1775781/flamegraph.ingress-proxy.trace.logs.zip)

Doesn't really seem to help at all.

[2018-03-02 16:29] ijsnellf commented on #3889
@NeGnail: it's the next one down. `"/v1/registration/{%s}`

Also, this is a question not an issue. Please ask in https://groups.google.com/forum/#!forum/istio-users

[2018-03-02 16:29] #3889 closed

[2018-03-02 16:46] ijsnellf opened #3901 "External service cluster generation is broken in V1"
Currently V1 generates clusters based on the type of the host of the rule, not the host it is being redirected to. Given:
[code]
where `external.service.com` is an external service,
[code]
the cluster for `external.service.com` will be constructed as if the destination was an internal service (I.E., not an Original DST cluster).

This breaks any realistic configuration scenario, like https://githu

[2018-03-02 16:54] myidpt commented on #3886
@PiotrSikora FYI, I'm trying to see the Envoy supports for CRL. It seems now Envoy reads CRL from local file, but it can not access the remote CRL distribution point. Is that correct?

[2018-03-02 16:56] ijsnellf opened #3902 "V1 host selection only works for existing services in alpha2"
Given:
[code]
Requests to `world.fancy.name` will only be re-routed to `world:v1` if a service with a hostname `world.fancy.name` exists.

[2018-03-02 16:57] ijsnellf commented on #3902
This is one of the root causes of https://github.com/istio/istio/issues/3878

[2018-03-02 17:03] ijsnellf opened #3904 "V1 alpha2 route destination should be required"
v1alpha2 route rules must have a destination. There can be no default route. This is invalid:
[code]
Currently the V1 tries to create a default route in this scenario.

[2018-03-02 17:12] ijsnellf commented on #3798
I'm creating issues for the (extensive) root causes: https://github.com/istio/istio/issues/3901 https://github.com/istio/istio/issues/3902

[2018-03-02 18:18] xiaolanz opened #3906 "Rewrite CRDs for new networking configs"
Currently the CRDs for new networking rules under package networking/v1alpha3 still defined in
apiGroup config.istio.io with version v1alpha2. We need to move them into networking.istio.io and v1alpha3 according to style guide.

This work is currently blocked by #3830

[2018-03-02 18:19] xiaolanz commented on #3906
cc @GregHanson @frankbu @rshriram @kyessenov @andraxylia

[2018-03-02 19:18] emaildanwilson commented on #2728
I managed to get pilot working across all namespaces in our environment finally after making a few tweaks to pilot.

* filtered k8s watches for service, endpoint & ingress to look for a specific annotation. We're adding a specific annotation through our custom injection process.
* no-op'd cache updates when a previous request has already updated the cache. Basically [return here](https://github.co

[2018-03-02 19:53] ldemailly commented on #2728
cc @costinm @gnirodi @kyessenov ^ this is very interesting / you guys looked into that too

[2018-03-02 20:15] douglas-reid opened #3911 "Test Failure: pilot/pkg/config/kube/crd::TestControllerEvents"
https://k8s-gubernator.appspot.com/build/istio-prow/istio-postsubmit/1046

[code]

[2018-03-02 21:46] lizan commented on #3295
Once envoy creates pending request due to no active connection, this will be incremented (and never decremented), as long as you don't see upstream_rq_pending_active, that means those pending requests are processed.

https://github.com/envoyproxy/envoy/blob/d67729bb2ef3b33f551f622f20b5630f34ed2f6e/source/common/http/http1/conn_pool.cc#L100

[2018-03-02 21:53] liminw commented on #3237
I found out from the log that the source.user was set to "cluster.local/ns/istio-system/sa/default". Do we consider it as a bug? Because the ingress service is deployed with "istio-ingress-service-account", not the "default" service account.

[2018-03-02 21:53] lizan commented on #3295
@andraxylia from the ingress.log you attached, it doesn't look like ingress is generating 503, the 503s in the log are from its upstream. for example:
[code]

I'll take a look at your cluster.

[2018-03-02 22:01] ayj commented on #3826
Is the issue that Pilot doesn't use the configmap at all, or that it doesn't detect the change w/o restarting the pod?

[2018-03-02 22:03] liminw opened #3917 "source.user attribute (mTLS auth principal) has incorrect value"
When I was testing Bookinfo sample with Istio 0.5 release, I found that "source.user" attribute for requests calling "productpage" service was set to "cluster.local/ns/istio-system/sa/default". However, it is the ingress service that calls "productpage" service, and Ingress service is deployed with "istio-ingress-service-account". So we expect "source.user" being set to "cluster.local/ns/istio-sys

[2018-03-02 22:04] liminw commented on #3237
I just opened issue #3917 . Let's discuss it there.

[2018-03-02 22:04] #3237 closed

[2018-03-02 22:07] liminw commented on #3917
/cc @myidpt @qiwzhang @wattli @wenchenglu

[2018-03-02 22:37] douglas-reid commented on #3917
We need an e2e test case that is validating this use case as well.

[2018-03-02 22:40] lizan commented on #3295
got one complete stream log from echosrv1 sidecar:
[code]

[2018-03-02 22:44] lizan commented on #3295
[code]

Looks like it is really from echosrv, @ldemailly ?

[2018-03-02 22:59] douglas-reid opened #3919 "Test Failure: security/tests/integration/certificateRotationTest"
From: https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3913/istio-presubmit/6070/

[code]

[2018-03-02 23:23] sebastienvas commented on #3894
I updated the cluster. This should be resolved now

[2018-03-02 23:23] #3894 closed

[2018-03-02 23:29] xiaolanz commented on #3919
failed on master: https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3916/istio-presubmit/6066/

[2018-03-02 23:44] wattli commented on #3757
Can we constantly reproduce this issue? @ldemailly

[2018-03-02 23:55] ldemailly commented on #3757
sorry I'm not oncall anymore, I do see it still on PRs but I don't have statistics

[2018-03-02 23:58] ldemailly commented on #576
it's pretty clear the majority of istio contributors have a mac and having a pretty poor experience

[2018-03-03 00:01] myidpt commented on #3919
This is RBAC permission error in the testing cluster.
@chxchx Hi Charles, has the testing cluster been modified today?

[2018-03-03 00:02] ldemailly opened #3921 "mac productivity"
- [ ] make should build everything (once, not again if nothing changed) such as it's usable:
- [ ] istioctl native
- [ ] mixer, pilot,... native
- [ ] docker images
- [ ] optionally native proxy, ...
- [ ] run tests locally / native
- [ ] run tests on minikube
- [ ] run test on a cluster

once we get some/all of this - check it doesn't regress through #576

[2018-03-03 00:02] ldemailly commented on #3921
part of it started in #3080

[2018-03-03 00:04] wattli opened #3922 "Envoy can't talk to Mixer when controlPlaneControlPolicy changes"
Currently Mixer only exposes one port 15004 for workload envoy. Whether it is a http or https port is decided by controlPlaneControlPolicy configmap.

When a workload envoy is brought up, it checks this flag to decide talking to mixer with http or https, and it won't change. For example, if controlPlaneControlPolicy is NONE when an envoy is brought up, it will talk to mixer in http till it is tear

[2018-03-03 00:18] myidpt commented on #3919
The test seems to fail earlier than today. Previously it was not executed because another test TestSample2 failed before it. This is exposed after the TestSample2 test was fixed.

[2018-03-03 00:19] andraxylia commented on #1362
duplicate of # @1361

[2018-03-03 00:19] #1362 closed

[2018-03-03 00:33] liminw commented on #3917
Actually, after debugging (with help from @qiwzhang and @ldemailly), we found that for Istio 0.6 release, source.user is set to "cluster.local/ns/istio-system/sa/default" for all mesh services except Ingress. For Ingress service, "source.user" was set to empty, which was expected. I slightly changed RBAC policy and it works now.

The reason I only see empty value for "source.user" in 0.6 Istio is

[2018-03-03 00:37] chxchx commented on #3919
I am not sure if this PR https://github.com/istio/test-infra/pull/722/ is relevent here but this is the most recent change we made to the test cluster today. @sebastienvas is more knowledgeable about this change.

I also notice that we are not running security e2e test in postsubmit, which is a missing signal on master. If that is needed I am happy to do it

[2018-03-03 00:40] myidpt commented on #3919
Thanks @chxchx I think this failure *may not* start from today.
I ran the test in the Kubernetes alpha cluster, and the test passed.
Is it possible the issue is due to the cluster is not K8s alpha cluster?

[2018-03-03 00:47] chxchx commented on #3919
Yes all testing clusters are using alpha features. Quoting Seb, the admin of the clusters, from the slack oncall channel, "I can reproduce the issue (referring to https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3913/istio-presubmit/6070/) locally as well, so it is probably not a prow issue".

[2018-03-03 00:49] sebastienvas commented on #3919
@myidpt  please use gcloud config unset container/use_client_certificate and create a new 1.9 cluster from GKE and check again. We created the cluster this morning and it is using 1.9.3.

[2018-03-03 00:52] sebastienvas commented on #3919
If we need to rollback to 1.9.2 we can do that, but you need to tell me.

[2018-03-03 01:00] myidpt commented on #3919
Thanks for the info, @sebastienvas. I will test with K8s 1.9.3, and see possible solutions first. I will let you know if we need to rollback.

[2018-03-03 01:12] liminw commented on #3917
This is the set of attributes for "productpage" service. Note that source.serviceAccount is istio-ingress-service-account, but source.user is set to cluster.local/ns/istio-system/sa/default.

2018-03-03T00:50:13.516954Z     debug   Attribute Bag:
connection.mtls               : true
context.protocol              : http
destination.ip                : [0 0 0 0 0 0 0 0 0 0 255 255 10 8 1 14]
destina

[2018-03-03 01:14] liminw opened #3926 "e2e test for Istio RBAC"
We need a e2e test for Istio RBAC.

[2018-03-03 01:42] liminw opened #3927 "Validation for Istio RBAC policies"
Istio RBAC policies (i.e., ServiceRole and ServiceRoleBinding) need to be validated while it is entered by users. We can use the existing CRD validation framework (via k8s admission controller) in Pilot/Mixer.

[2018-03-03 02:33] ldemailly commented on #3835
Given this isn't a per request log, isn't it ok ?

[2018-03-03 02:49] douglas-reid opened #3929 "Test Failure (istio-postsubmit): pilot/pkg/config/kube/crd::TestControllerEvents"
See: https://k8s-gubernator.appspot.com/build/istio-prow/istio-postsubmit/1050

[code]

[2018-03-03 04:18] ldemailly commented on #3295
try istio/fortio:0.7.3-pre1  (it contains https://github.com/istio/fortio/pull/173)
with the url being    .../fortio1/echo?close=1
instead of the full  .../fortio1/fortio/fetch/echosrv2:8080/echo

it will simulate a http server that closes connection on each call and may trigger the same issue
(i'll try too but I have to run/rest)

[2018-03-03 04:22] #3835 closed

[2018-03-03 04:31] myidpt commented on #3919
I think we are missing the command to bind the runner (possibly istio-prow-test-job@istio-testing.iam.gserviceaccount.com) to the cluster-admin role:
kubectl create clusterrolebinding istio-testing-admin-binding --clusterrole=cluster-admin --user= istio-prow-test-job@istio-testing.iam.gserviceaccount.com
I have tested this rolebinding solves the problem on my cluster.

[2018-03-03 04:36] ldemailly commented on #3776
0.6.0 is out, can you give it a run, in my tests it appears much better than 0.5.1

[2018-03-03 04:41] myidpt commented on #3919
@sebastienvas @chxchx Shall I update this file https://github.com/istio/test-infra/blob/master/scripts/update-e2e-cluster.sh to add this command?

[2018-03-03 05:44] NeGnail commented on #3889
@ijsnellf You mean this path is actually used, not for testing. "/ v1 / registration / {} % s"

But I've seen a line of comments on this method, and I understand that it means that all the paths in this method are for testing. “Register adds routes a web service container. This is visible for testing purposes only.”

[2018-03-03 06:26] emaildanwilson commented on #2728
In order to get cache updates back for service/route changes I added a byte comparison before the cache update when it exists already. I also scaled out to 6 pods for pilot and added a healthcheck for it on /v1/registration so requests from clients go to the hung pods as often.

Interestingly even in this config it takes about 9 minutes for the pods to stabilize when they start up. I'll try to dig

[2018-03-03 06:39] jivi20029 opened #3930 "can access the external mysql server when use kubernetes,cant to access when use istio"
can access the external mysql server when use kubectl create -f * ,cant to access when use
kubectl crate -f <(istioctl kube-inject -f *)

and i entry the pod .
use the ping mysqlserver can connected .
and ping other url  can connected too.
but wget url   . return the 404 .

why ???

[2018-03-03 06:52] jivi20029 commented on #3930
i known.
need to crate the engress rule

[2018-03-03 06:52] #3930 closed

[2018-03-03 08:17] sammerry commented on #3864
It looks like the 0.6.0 helm chart doesn't generate certificates correctly.
`decode base64: illegal base64 data at input byte 0, parsing 339 ...A_BUNDLE`

it mentions the certificate problem in earlier releases here
https://istio.io/docs/setup/kubernetes/sidecar-injection.html#installing-the-webhook

I was able to get the helm chart working by running the following commands from the webhook manual

[2018-03-03 09:20] steffengy commented on #3776
@ldemailly
As mentioned, the first few tests are run against 0.5.0 and the more recent ones against istio-0.6.0-pre20180226-23-04-36-win for that reason.
The official 0.6.0 release behave the same as the used 0.6.0 prebuild in this regard.

[2018-03-03 19:27] myidpt commented on #3917
Yes, I think the source.user is incorrect here. Thanks for digging into this. Will look into it.

[2018-03-03 22:35] sebastienvas commented on #3919
is this the same as https://github.com/istio/istio/blob/master/prow/cluster_lib.sh#L46 ?

[2018-03-04 01:43] emaildanwilson commented on #2728
The system became unhealthy again but from different errors so I rolled back. It seems like maybe it's not good to have multiple pilot pods. Scaling down to a single pilot pod takes the system offline too often even once it's at a steady state. I'll have to revisit this on Monday.

[2018-03-04 01:47] ldemailly commented on #3295
just built a version with go1.10: `istio/fortio:0.7.3-pre2`

[2018-03-04 03:19] ldemailly commented on #3295
I was able to reproduce connection timeout without envoy using localhost:8080/fortio/fetch/localhost:8080/echo
on my mac at least it's related to sockets left in TIME_WAIT state, eventually I think we probably run out and get errors

In fortio logs I saw a handful of
[code]
and lsof of fortio showed
[code]
which should never happen (syn loss on ::1)

[code]

[2018-03-04 03:27] ldemailly commented on #3295
also thinking this relates to https://github.com/envoyproxy/envoy/issues/2066

[2018-03-04 04:51] ldemailly opened #3933 "add fortio to proxy_debug image"
debuggability
(could replace curl in theory as it's smaller and does more but we can just add it)

[2018-03-04 05:13] myidpt commented on #3919
@sebastienvas Yes, it is.

[2018-03-04 06:58] ldemailly commented on #3295
still getting errors with go1.10 and no TIME_WAIT sockets on the node (seems to be a seperate mac issue)

[2018-03-04 08:10] ldemailly opened #3934 "make a dent in fortio's open issues"
37 open issues - most are not bugs but rather usability or other improvments
https://github.com/istio/fortio/issues

but still...

[2018-03-04 08:11] ldemailly commented on #3934
PR: https://github.com/istio/fortio/pull/173

[2018-03-04 09:11] ldemailly commented on #3295
please use `istio/fortio:0.7.3-pre5`
or look at istio-perf-0-6, run=9 is running with 8 connections at 80 qps (so 10qps per connection, from the VM)
getting about 1% errors / not connected on the echosrv1 middle step
echo-svc-deployment1-85f857cd99-blwp9

[2018-03-04 10:05] ldemailly commented on #3295
I'm trying to use tcpdump on the node but I'm finding it difficult to find the traffic I care about
probably a debug image on the pod would help. will try that later - but let me know if you find something

[2018-03-04 10:30] lizan commented on #3295
A trace log for a 503 upstream connection:
[code]

This looks weird because envoy read 166 bytes and parsed it. But ended with `resetting 1 pending requests`. Will follow the source around codec_impl later.

[2018-03-04 10:37] ldemailly commented on #3295
ah ! nice ! smoking gun ! gn

[2018-03-04 15:34] morvencao commented on #3864
Thanks @sammerry for your reply.
Currently helm chart doesn't support auto sidecar injection with mutatingWebhook(>= v0.5.0)
I have put a  #PR(3935) to make helm chart support for auto sidecar injection.

[2018-03-04 15:37] morvencao commented on #3895
Thanks @sdake for your reply.
As @wwadge mentioned, master works fine.

[2018-03-04 16:33] costinm opened #3936 "Evaluate tests/integration frameworks"
We have 3 frameworks, or 2 too many.
The tests/integration has not been used much and doesn't appear to have many tests - if any test
is found it can be converted to e2e.

While the framework is good and useful - we can't afford so many.

[2018-03-04 16:36] costinm opened #3937 "Extract 'install istio' from e2e test into separate util, add to istioctl"
The e2e framework installs istio ( using some code in framework ), and waits for it to be ready,
with ability to grab logs and debug info.

It will be useful to move this to istio/pkg/install directory, and have it called from istioctl.
Once this is done, it can be called by the makefile as a separate step, and used in common for
setting up for pilot integration and e2e - and as a general debuggin

[2018-03-04 17:05] ldemailly commented on #3937
it's really just take one of the istio*.yaml with some substitution for tags/hubs/...

but having a #358 in istioctl would be nice - not sure either of those are small enough for fixit - seems like new features to me (though new testing features are ok I think)

[2018-03-04 17:07] ldemailly commented on #3936
I'm have on my list to evaluate and so does Nate. Let's not delete yet

[2018-03-04 17:13] ldemailly commented on #3797
let's try
https://github.com/golang/dep/issues/1720#issuecomment-370245777

[2018-03-04 18:22] costinm opened #3938 "Hermetic pilot v2 tests"
The pilot integration tests are using the same service and rule names for all tests.
For alpha3 ( I don't think it's worth spending time on the alpha1 ) we should create one
service and one rule name for each test. This will allow tests to run in parallel or be better isolated.

In addition, having the tests isolated allows the setup to deploy a test environment and avoid
having to wait on each te

[2018-03-04 18:24] costinm opened #3939 "Dedicated and separate dynamic tests"
We need few dedicated 'dynamic' tests, that explicitly test the 'eventual consistency'.
Current tests are dynamic ( apply rule and test) but they sleep or retry instead of verifying that
during dynamic updates the state is stable. Laurent has a dynamic test which can be used as
a basis.

The remaining tests should be 'static' (or stable state) - the test environment will be set and fixed,
avoiding

[2018-03-04 20:48] costinm opened #3941 "Move pilot/proxy/envoy/v1/mock to serviceregistry/memory, add handlers"
The mock is used in few tests, implements model.ServiceDiscovery.
1. Should be next to the other registries.
2. Needs a couple of /debug/registry... http handlers, to allow a test program to modify the registry
3. Should be called 'memory' (or similar) - it is not a mock.

We also need a helper to populate the memory registry and cause 'invalidation' events, to simplify
testing the EDS/CDS updates

[2018-03-05 07:18] qiujian16 opened #3942 "istio ingress does not honour secret set in tls field"
I set tls field in ingress resources when using istio ingress.

[code]

However, the tls certificate in tls is not used. Istio ingress still use the tls secret originally mounted in istio ingress deployment. Ingress controller should have a secret lister, and save the cert/key which is set in tls field into the container.

[2018-03-05 08:18] qiujian16 commented on #2413
@ZackButcher could I help if you are not currently working on this?

[2018-03-05 09:48] lizan commented on #3295
Now I believe this is an issue at Envoy, filed https://github.com/envoyproxy/envoy/issues/2715.

[2018-03-05 12:38] vadimeisenbergibm opened #3945 "Rename the user jason in Bookinfo example"
Following https://github.com/istio/istio.github.io/pull/1035/files/ce336d1d49f9c815932736dc3069eeec47f9ad12..9fd83e411e78fd7d2da44cfa032fc622545f94a5#r172068387,

I would consider to use `tester`, or `JohnDoe`.

[2018-03-05 15:37] Rigdon commented on #3895
This seems to be the case. None of the `_helpers.tpl` files appear to be present in either the releases or daily builds.

[2018-03-05 15:43] ldemailly commented on #3295
awesome! glad it looks like another half close related issue.

[2018-03-05 17:31] douglas-reid opened #3946 "Test Failure: istio.io/istio/mixer/test/client/tcp_filter_periodical_report (flaky?)"
From: https://k8s-gubernator.appspot.com/build/istio-prow/istio-postsubmit/1054

[code]

[2018-03-05 17:35] douglas-reid opened #3947 "Need tracing e2e test"
Istio currently doesn't have anything that verifies tracing data in Zipkin that is generated per request (including ingress and Mixer spans). One should be added.

[2018-03-05 17:35] douglas-reid commented on #3945
shall we replace it with "freddy" ?

[2018-03-05 17:51] ldemailly opened #3948 "mixer: tune/adjust the number of goroutines + goroutine leak (in tests)"
It appears the default setting in mixer has 2x 1024 goroutine pools
yet fail some test by exceeding an 8192 limit

a) find/fix the leak
b) set the number lower for tests
c) provide guidelines for prod/scale tuning on what the number should be (why 1024,...)

See the discussion in https://github.com/istio/istio/pull/3795

[2018-03-05 17:53] mandarjog commented on #1197
@vadimeisenbergibm I think this has been addressed in the docs and by blog posts you have published.

[2018-03-05 17:53] #1197 closed

[2018-03-05 17:58] vadimeisenbergibm commented on #1197
@mandarjog yes, I wrote it in this blog post: [Consuming External Web Services](https://istio.io/blog/2018/egress-https.html).

[2018-03-05 17:58] ozevren commented on #3948
This issue is misleading. We're using mixer server in a similar fashion in a bunch of other tests without failure. The issue seems to be isolated to that particular test (so far) which is already tracked by the previous issue.

If you have a particular reasoning for the current defaults being wrong, please add it to the bug and we can discuss. Otherwise this bug should really be about item c.

We

[2018-03-05 17:59] sdake commented on #3895
@morvencao I'm not sure I follow.  The versions are defined in the Chart.yaml files: e.g.
https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/Chart.yaml
and also the subcharts:
https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/mixer/Chart.yaml

A sed of `version: 0.5.0` to latest version should work in the release scripts.  That sed logic is not i

[2018-03-05 18:02] ldemailly commented on #3948
yes I do think there are 3 issues to be addressed:

for a) a 8192 limit should not trigger and removing the test or the limit isn't how that should be addressed

for b) it is inefficient and we want the test to be as fast as possible

for c) it's important for our users to have some guidelines and reasoning behind numbers

[2018-03-05 18:08] ozevren commented on #3948
Agreed on a), but that really should be addressed as part of that test and
is not a general Mixer problem. The previous bug should be capturing this.

Similarly for b, I am not sure what you mean is inefficient? Changing the
number of goroutines in the pool will not affect test runtimes in a
meaningful way.

So, the real issue seems to be c), and we should really convert this bug to
cover that.

O

[2018-03-05 18:09] douglas-reid commented on #3929
This continues to be an issue: https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3950/istio-unit-tests/1447/

[2018-03-05 18:10] myidpt opened #3951 "Improve tests for the SAN util for more coverage."
security/pkg/pki/util/san.go
https://github.com/istio/istio/blob/672018b1ce8c7299940f3197ca85f4e9936a3e1e/security/pkg/pki/util/san_test.go#L24

[2018-03-05 18:11] mandarjog opened #3952 "Egress rate limit: e2e test"
Egress rate limit is missing e2e tests.

1. Add an egress service for e2e tests  (like egress routing test)
2. Add rate limit and ensure it is adhered to.

[2018-03-05 18:12] ldemailly commented on #3863
fixed by #3871

[2018-03-05 18:12] #3863 closed

[2018-03-05 18:12] douglas-reid commented on #3911
Closing in favor of #3929.

[2018-03-05 18:12] #3911 closed

[2018-03-05 18:15] myidpt opened #3953 "Add failure tests to SAN util"
https://github.com/istio/istio/blob/672018b1ce8c7299940f3197ca85f4e9936a3e1e/security/pkg/pki/util/san_test.go#L121

[2018-03-05 18:16] myidpt opened #3954 "Add tests for GenCertFromCSR"
https://github.com/istio/istio/blob/672018b1ce8c7299940f3197ca85f4e9936a3e1e/security/pkg/pki/util/generate_cert_test.go#L191

[2018-03-05 18:18] myidpt opened #3955 "Test Istio CA can load plugin key/certs from secret."
https://github.com/istio/istio/blob/9323eb9534b0ef8cb6d947a27fc8ae48900bca9e/security/pkg/pki/ca/ca_test.go#L82

[2018-03-05 18:20] JimmyCYJ opened #3956 "Fix Istio/proxy circleci build failure"
Istio/proxy circleci build fails, and below is the error message.

ERROR: error loading package '': Encountered error while reading extension file 'bazel/go_proto_library.bzl': no such package '@com_lyft_protoc_gen_validate//bazel': Error cloning repository: ssh://git@github.com/lyft/protoc-gen-validate.git: Algorithm negotiation fail caused by ssh://git@github.com/lyft/protoc-gen-validate.git: Al

[2018-03-05 18:20] wattli commented on #1456
@diemtvu , this is more like a feature request than a bug. Do you think it is something we can provide in auth policy

[2018-03-05 18:26] ldemailly commented on #3757
it's related to LDS failures too (pilot not available)

[2018-03-05 18:40] wattli opened #3957 "Improve security test coverage"
Currently it's below 70%, need improvement.

[2018-03-05 18:40] wattli commented on #3957
https://codecov.io/gh/istio/istio

[2018-03-05 19:06] #3844 closed

[2018-03-05 19:07] xiaolanz commented on #3209
run it 100 times. see 2 failures. investigating...
go test -v -run TestPersistBatches ./mixer/adapter/solarwinds/internal/appoptics/... -count 100 -race > /tmp/persistBatches.out

[2018-03-05 19:10] cmluciano opened #3958 "Separate tests into different suites based on WG-owned tests"
Based on ideas from https://docs.google.com/document/d/1wpSUSuTjNP95jL2WuQ4sMO4v7tt1U0Gabw4xlAqHCH0/ this issue would cover

- Splitting out e2es to better determine what failed and allow the ability to run only certain suites locally
- Provide WG owned dashboards to track flakiness/general test health
  -[ k8s SIG-Network e2e example](https://k8s-testgrid.appspot.com/sig-network-gce#Summary)

Ste

[2018-03-05 19:12] myidpt commented on #3954
@incfly Assign this to you. Please let me know if you need any help.

[2018-03-05 19:17] baodongli commented on #3782
Trying to understand the issue before changing anything. A couple of questions:
- why MUST it be using a DNS format? Looking at [Envoy Cluster](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cds.proto#), there is no such requirement.
- "Later, Envoy could be configured to fall back on DNS", how is this **fallback on DNS** related to the cluster name being DNS format? And how the fallbac

[2018-03-05 19:18] strin opened #3959 "lds: fetch failure: network error"
We are running k8s with `kops`. After installing `istio`, everything seems to work fine, but the log of `istio-ingress` shows confusing error messages:

[code]

[2018-03-05 19:24] xiaolanz commented on #3958
Need a bit of context on the work. Is there a existing model we want to follow (references)? What's coming out this? Does it help with better triaging? or solving some specific problems today?

[2018-03-05 19:31] cmluciano commented on #3958
@xiaolanz Added more context in description

[2018-03-05 19:43] liminw opened #3960 "Network fail policy should be configurable"
Mixer client proto has a [network fail policy](https://github.com/istio/api/blob/master/mixer/v1/config/client/client_config.proto#L38) at both mesh and service levels. We need to design&implement a configuration (CRD format) that allows customers to configure it. The configuration will be fetched by Pilot and then deployed on Envoy proxies.

[2018-03-05 19:43] liminw commented on #3960
cc. @qiwzhang @mandarjog

[2018-03-05 20:05] andraxylia commented on #3295
thanks a lot @ldemailly @lizan this is quite a finding!

[2018-03-05 20:06] incfly commented on #3957
@wattli, the codecov link seems to show the overall code coverage, not specific for security.

Also, how can we find the code path not test-covered, any links/tools? Also, wondering how to choose what test cases, based on the importance?

[2018-03-05 20:07] douglas-reid opened #3962 "kubernetesenv adapter no longer running for context.protocol == tcp"
Verified in manual testing that TCP calls are no longer resulting in the APA for kubernetes.

We need to add new rules to config to enable that behavior (and verify in tests).

[2018-03-05 20:12] douglas-reid opened #3963 "Legacy usage of "label: istio-protocol: TCP" from Mixer configs"
Lots of mixer config relies on YAML stanzas that include:

[code]

This should be removed in favor of:

[code]

in rules.

[2018-03-05 20:13] johnbelamaric commented on #3361
We implemented the `kubernetai` external plugin:

https://github.com/coredns/kubernetai

This allows you to connect to many different K8s api servers and serve DNS for all of them. Please take a look and provide any feedback!

[2018-03-05 20:22] ZackButcher opened #3965 "Pilot allocates large amounts of memory due to JSON parsing"
During performance testing we learned that Pilot performs a large amount of allocations to parse JSON k8s API objects into protobuf structs at runtime. Under some conditions we saw Pilot allocate as much as 52GB over 20 seconds, with JSON parsing unmarshalling contributing the lion's share.

[2018-03-05 20:28] nmittler commented on #3647
@ldemailly is this still an issue after we [bumped up the prow environment to 4 machines](https://github.com/istio/istio/pull/3663)?

[2018-03-05 20:30] ldemailly commented on #3959
thx for the report I think this is a dup of #3757

[2018-03-05 20:30] #3959 closed

[2018-03-05 20:36] diemtvu opened #3967 "Chain certificate is not update after a while when enable mTLS per service."
Here is the symptom that I saw. I guess these steps can be repeated for testing/debug, (though haven't confirm it myself)

- Install istio without global mTLS.
- Start httpbin demo with service annotation to enable mTLS (`auth.istio.io/8000: MUTUAL_TLS`)
- Start another demo (sleep) to use for testing.
- Everything looks good initially (curl from sleep pod success, certificate have correct validat

[2018-03-05 21:07] theganyo opened #3968 "0.6.0 broken on minikube and docker on Mac OS X"
(The following works on 0.5.1)
Starting from a clean Kubernetes env (on either Minikube or Docker), running:
[code]
Will not create a running example. A curl command to the app will yields:
[code]
Pilot / discover logs contain:
[code]
The helloworld / istio-proxy logs repeatedly have:
[code]
The ingress has:
[code]

[2018-03-05 21:23] wattli commented on #3967
The TTL of each cert is set to 19 hours. How long did you wait?

And the validity of the cert is very important.

[2018-03-05 21:28] ldemailly commented on #3647
I don't know, @douglas-reid have you seen that error this oncall?

[2018-03-05 21:29] sakshigoel12 commented on #1023
@ijsnellf can this be closed now?

[2018-03-05 21:29] ldemailly commented on #3948
I'll split into 3 issues if you feel that is necessary

[2018-03-05 21:31] emaildanwilson commented on #2728
It seems the issues I saw were related to someone placing an invalid rule out there editing the notes above to reflect current status.

[2018-03-05 21:32] ldemailly opened #3969 "some tests involving mixer hit the 8k go routines limit"
#3948 and #3789

a 8192 limit should not trigger and removing the test or the limit isn't how that should be addressed

ie: how did it happen/why / fix the leak without removing the test or the limit

[2018-03-05 21:33] ldemailly opened #3970 "mixer object pool setup should be configurable and configured low for most tests"
b) in #3948

[2018-03-05 21:34] ldemailly opened #3971 "mixer: characterize the effect and document recommended values for goroutine pools"
c) in #3948

[2018-03-05 21:55] wattli commented on #3957
It used to have detailed coverage, let me check with relevant person.

[2018-03-05 22:10] ozevren commented on #3970
This is already configurable. When writing the tests, all the test author using the library do is specify this.

If the server is cleaned up correctly, (which is not the case for the main bug that started all this), then yes, goroutines are leaked. The correct way to solve this issue is not to lower the pool size, but to actually fix the test.

[2018-03-05 22:11] #3970 closed

[2018-03-05 22:14] chxchx opened #3975 "Regression on Testgrid Test-case Level Visibility"
Prow recognizes the generated junit reports while Testgrid does not. Recently, Testgrid loses test-case level visibility due to report name mismatching the regex requirement.

Example https://k8s-testgrid.appspot.com/istio#e2e-suite-rbac-no_auth&show-stale-tests=

[2018-03-05 22:17] ozevren commented on #3969
As stated previously, the issue is with the test. The test should be fixed so as not to leak things. I believe the previous bug already covers this? https://github.com/istio/istio/issues/3789?

[2018-03-05 22:18] wattli commented on #1858
- We have increased the TTL to 19 hours
- For GCE/GKE, we use GCP metadata instance doc (jwt), so key/cert is unnecessary
- For on-prem, this is the best we can offer, i.e., if the cert expires, you have to redeploy.

[2018-03-05 22:19] #1858 closed

[2018-03-05 22:20] wattli commented on #2737
@vadimeisenbergibm , please feel free to close this issue if it is solved.

[2018-03-05 22:20] myidpt commented on #3967
Thanks a lot for the details. I will look into this issue.

[2018-03-05 22:21] ozevren commented on #3948
My main point was not to split this into 3 things. My main points are:
- This is a particular issue with the test in question only. If we fix the test (i.e. make it stop leaking), this should go away. This issue is already being tracked by the original bug, so let's use that to fix the issue correctly, and create bugs for the things cannot be fixed within that context.
- Changing the default value

[2018-03-05 22:23] wattli commented on #2090
@kdillane , is your question solved?

[2018-03-05 22:26] douglas-reid opened #3977 "Codecov failures"
Detailed status no longer available: https://codecov.io/gh/istio/istio

Appears related (temporally, at least) to commit: 4a272088ffb3a4ae1d010b7166c3cd49e8bd6fd4

(see: https://codecov.io/gh/istio/istio/commit/4a272088ffb3a4ae1d010b7166c3cd49e8bd6fd4)

[2018-03-05 22:27] #3975 closed

[2018-03-05 22:27] kdillane commented on #2090
My question is answered.  However, it sounds like there is still work to fix the Envoy restart issue, correct?  Is there an open issue to solve the Envoy restart issue when mutual TLS is enabled?

[2018-03-05 22:42] wattli commented on #3545
@SeriyBg , is this issue fixed?

[2018-03-05 22:45] SeriyBg commented on #3545
@wattli, PR is not merged yet. Maybe you can review it and approve it? Thank you

[2018-03-05 22:48] diemtvu commented on #3819
These configs are created by pilot for each Istio configs. I guess we will need a script to know what CRD are added and issue corresponding k8s delete command. + @xiaolanz

[2018-03-05 22:48] douglas-reid opened #3980 "Destination IP attribute appears to be being sent as string not bytes for TCP traffic"
From manual testing:

[code]

This is for a request from a Pod with IP `10.40.2.83` to a Pod with IP `10.40.0.65`.

As you can see in the logs above, the destination IP address appears in the `Words` for the attribute bag. This leads to it being treated as a string.

Manually, doing the mapping seems to imply "destination.ip" is being set to `"10.40.0.65"` (based on `154:-5`).

[2018-03-05 22:49] wattli commented on #3399
This is a very good issue, will try to fix the doc this week.

[2018-03-05 22:52] xiaolanz commented on #3819
It's intentional that we don't remove crds after uninstall.

CRDs are registered in cluster scope. We cannot deregister these CRDs programmatically because it affects other test instances on shared cluster.

[2018-03-05 22:52] #3819 closed

[2018-03-05 22:57] smawson commented on #3947
Doug OK for me to try taking this for the fixit week?

[2018-03-05 23:00] wattli commented on #3399
Code: https://github.com/istio/istio.github.io/tree/master/_docs/tasks/security

[2018-03-05 23:01] myidpt commented on #1858
We have made some improvement since them:
Now for on-prem, you can explicitly configure the TTL in your certificate request to provision a certificate valid for longer time:
https://github.com/istio/istio/blob/c6166bfc6aa14632f92ded01a2b16bbcd827e913/security/cmd/node_agent/main.go#L55
Note the CA has a workload TTL cap configuration:
https://github.com/istio/istio/blob/c6166bfc6aa14632f92ded01a2b

[2018-03-05 23:02] chxchx opened #3982 "Prow Shows Irrelevant `hack/e2e.go` under Failed Test Cases"
Istio now has junit results on Prow. It shows command like `go run hack/e2e.go -v --test --test_args=‘--ginkgo.focus=istio\.io\/istio\/pilot\/pkg\/config\/kube\/crd\sTestControllerCacheFreshness$` under each failed test case, which is a message that does not apply to istio. We use a recent fork of Prow from k8s and this message does not apply to istio and is misleading to the istio developers. Loo

[2018-03-05 23:04] douglas-reid commented on #3947
@smawson absolutely. I was going to start on it if I was blocked on current paths later this week, but am happy to have someone else own this. Enjoy!

[2018-03-05 23:10] ZackButcher commented on #3980
Looks like the issue is in Pilot - [in TCP filters specifically](https://github.com/istio/istio/blob/ce0625e480a4ff8e1d741dec1e821494a7361a98/pilot/pkg/proxy/envoy/v1/mixer.go#L369) ([we set things up correctly in HTTP filters](https://github.com/istio/istio/blob/ce0625e480a4ff8e1d741dec1e821494a7361a98/pilot/pkg/proxy/envoy/v1/mixer.go#L270-L274)). I'll write a PR to fix shortly.

[2018-03-05 23:10] mandarjog opened #3984 "statsds-to-prometheus bridge does not extract dimensions from metrics"
statsds-to-prometheus bridge does not extract dimensions from envoy metrics
Having dimensioned metrics is easier to view in prometheus.

Example mapping:
[code]

[2018-03-05 23:11] #3977 closed

[2018-03-05 23:14] mandarjog opened #3986 "Add (or write) a prometheus query builder for Istio"
Istio uses prometheus as the default metrics sink.
Istio relies on prometheus for many verification tests.

The prometheus API is textual and error prone to use.
Either write or look for
* A prometheus query library that is fluent style.
* A prometheus query library that has a query builder

[2018-03-05 23:15] nmittler commented on #3099
@jeffmendoza any updates on this?

[2018-03-05 23:23] ldemailly opened #3987 "find and run http 1.1 and 2.0 compliance tests"
We need to find some http 1.1 and 2.0 compliance tests to run through our sidecar setup and ensure both the client side and server side of the sidecar at least respect the specs and help improve the reliability of the http applications they wrap rather than degrade it.

context:
https://github.com/envoyproxy/envoy/issues/2066
https://github.com/envoyproxy/envoy/issues/2715

(would solve https://gi

[2018-03-05 23:29] douglas-reid commented on #3986
Thinking out loud:

[code]

I think that is along the lines of what is being asked for...

[2018-03-05 23:29] liminw commented on #3960
cc @yangminzhu

[2018-03-05 23:29] liminw commented on #3927
cc @yangminzhu

[2018-03-05 23:30] liminw commented on #3926
cc @yangminzhu

[2018-03-05 23:30] liminw commented on #1947
cc @yangminzhu

[2018-03-05 23:34] douglas-reid commented on #3929
@kyessenov can you take a look at this issue ?

[2018-03-05 23:36] PiotrSikora commented on #3987
(I'm slowly working on this...)

[2018-03-05 23:38] ldemailly commented on #3295
I added #3987 for more checks - it may help to find another client/server than fortio to demonstrate/repro issues in the future even if this one is fairly clearly envoy's

[2018-03-05 23:52] ZackButcher commented on #3980
AFAIK we still do, since that's what Mixer uses to look up all other dest info (right?). Feel free to ask in the PR too. @kyessenov do you have state here?

[2018-03-05 23:54] ldemailly commented on #3797
going to (hopefully) fix this now

[2018-03-05 23:56] incfly commented on #3954
After briefly scanning, I think we can call GenCertFromCSR() with specific parameter (request/signKey/ttl/isCA), and check whether returned cert respects those parameter. One or more test cases w/ different parameter should be good enough. Is there any other particular logic we want to cover?

wdyt? @myidpt

[2018-03-05 23:57] smawson commented on #3947
@douglas-reid There is an existing zipkin_test.go under the pilot e2e tests that seems to verify zipkin tracing, is more needed beyond what that is doing?

[2018-03-05 23:58] ldemailly commented on #3934
closed 5 + a serious EOF issue (and added tests !)

[2018-03-06 00:06] sebastienvas commented on #3919
This is still happening.

[2018-03-06 00:11] sebastienvas opened #3991 "ControllerTest failures brings coverage down"
ControllerTest is now failing in code coverage bringing code coverage down

logs at:
https://circleci.com/gh/istio/istio/41247?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-03-06 00:14] ZackButcher commented on #3980
Reopening until @douglas-reid or someone else can confirm the PR fixed all the issues we're seeing.

[2018-03-06 00:24] ZackButcher commented on #3782
It's not required that cluster names be DNS friendly, it just makes things read more naturally for the operator: a route refers to cluster `"my-subset.my-service-name"` rather than `"my-service-name|label1=foo,label2=bar,label3=baz"`. In the current case, the operator has to look up the destination rule to see that subset `my-subset` is defined as `my-service-name` with exactly the labels `label1:

[2018-03-06 00:37] douglas-reid commented on #3929
Assigning to @xiaolanz, as she appears to be last person to potentially have touched this code.

[2018-03-06 00:58] rkpagadala opened #3995 "Enable VM tests for release pipeline"
1) Enable VM tests for release pipeline.
2) Pass sidecar url as a parameter instead of releaseMode

[2018-03-06 01:04] rkpagadala opened #3996 "Manual steps for"

[2018-03-06 01:04] #3996 closed

[2018-03-06 01:13] douglas-reid opened #3998 "e2e tests needed to validate istio-dashboard queries"

[2018-03-06 01:44] myidpt commented on #3919
This issue is now fixed.

[2018-03-06 01:44] #3919 closed

[2018-03-06 01:58] douglas-reid commented on #3980
@ZackButcher sounds like we need an e2e test... another PR and another fixit tally?

[2018-03-06 02:03] qiwzhang commented on #1092
I think we do have attribute generator tests.  They are in mixer/test/client.   Under that folder, there are many test cases testing generated mixer attributes for Check and Report.

So I think we can close this one

[2018-03-06 02:03] #1092 closed

[2018-03-06 02:05] douglas-reid opened #4002 "Istio dashboard does not currently display "connection_mtls" information."
Now that we have the `connection.mtls` attribute available and a part of the "out-of-the-box" metrics dimensions, we should update the Istio Dashboard in grafana to display this information.

Interesting first points of integration:
- Service Mesh-level requests graph.  Show Total Requests, *Total Secured Requests*, and *Total Unsecured Requests*.

[2018-03-06 02:22] #3210 closed

[2018-03-06 02:37] ldemailly opened #4004 "FAIL: TestSvc2Svc : PodInitializing / readiness issue"
https://storage.googleapis.com/istio-prow/pull/istio_istio/4003/e2e-simpleTests/631/build-log.txt

The test should probably retry a few times / add some readyness

[code]
One of the 2 pods is still PodInitializing

[2018-03-06 02:49] #3797 closed

[2018-03-06 03:15] wattli commented on #3399
https://github.com/istio/istio.github.io/pull/1057

[2018-03-06 03:32] wattli commented on #3957
https://codecov.io/gh/istio/istio @incfly , it's back to normal now.

[2018-03-06 03:53] morvencao commented on #3895
@sdake The issue is that some partial files for helm chart are missing in release version, while they actually exist in master branch. Have checked the **updateVersion.sh**, no logic to ignore or remove the partial files like **_helpers.tpl**.
Is there other release script besides **updateVersion.sh**, I can't get any from doc.

[2018-03-06 04:49] #3955 closed

[2018-03-06 04:53] myidpt commented on #3955
This issue is fixed.

[2018-03-06 05:31] ldemailly commented on #3948
Are you confident the code test is leaking the go routines and it's related exclusively to the test and not to mixer goroutine pool ?

Maybe I mis interpreted - when I asked where in our system could we be having thousands of goroutine, the answer I was given was mixer... if that's not correct or the thousands in mixer are unrelated to the test completely then yes we can completely decouple a) fro

[2018-03-06 05:34] ldemailly commented on #2728
Thanks for the update! if the invalid rule error is likely to happen accidentally maybe we should learn from that and in a (future) version of istio try to alarm or validate or ... to mitigate it

[2018-03-06 05:51] emaildanwilson commented on #2728
It would have been caught by istioctl validation but wasn't submitted through that path. It was a route rule with a string http response code instead of int. Let me know if I should create an issue with the details.

[2018-03-06 05:52] ldemailly commented on #3970
cool, can you point me to the doc (or source/config,...) on how to configure it ?

[2018-03-06 05:53] myidpt opened #4006 "Add tests for security/pkg/workload"
Multiple files in this directory are missing unit tests.

[2018-03-06 05:59] myidpt opened #4007 "Add tests for security/pkg/server/grpc/authenticator.go"

[2018-03-06 05:59] myidpt opened #4008 "Add tests for security/pkg/server/grpc/server.go"

[2018-03-06 06:06] ldemailly commented on #2728
ic thanks, yes that may be useful thank you - in theory a rule with wrong syntax should have no effect; on the other hand if it is valid and creates a blackhole; I suppose that could be the goal (but then again alerting/monitoring etc should be able to ideally correlate the rule change with the drops)

[2018-03-06 06:46] ldemailly commented on #3289
I think that may have been fixed but needs to be verified and ideally tested

[2018-03-06 09:08] ThorstenKunz opened #4009 "disabling RBAC in helm charts doesn't work"
If you set global.rbacEnabled to false the helm chart doesn't work. Looks like the ReplicaSets still trying to use the service accounts:

Error creating: pods "istio-ingress-8fb94ccdb-" is forbidden: service account istio-system/istio-ingress-service-account was not found, retry after the service account is created
Error creating: pods "istio-mixer-67449fd4d-" is forbidden: service account istio-s

[2018-03-06 12:40] craigbox commented on #1858
I would have found it helpful to have a descriptive error: we know exactly why it's a "bad certificate", as Istio controls both ends.  The error could say "certificate has expired: re-issue manually".

[2018-03-06 12:52] Stono commented on #3099
Hey,
Just as an FYI I upgraded to `0.6.0` in dev this morning and still experience the same behaviour.

[2018-03-06 12:54] Stono commented on #3395
The other driver for us here is to allow our applications to blindly fire udp packets to localhost rather than instantiating TCP connections to Jaeger for their spans.

[2018-03-06 14:45] baodongli opened #4010 "istio-proxy-cfg.py: doesn't need podname when displaying cache stats or stats clearing"
[code]

display cache_stats and clear_cache_stats doesn't require a podname. They are more like sub-commands. should we change the command line to use sub-commands instead? It will look like this:

[code]

In addition, the name of this utility may be changed back to istio-proxy-cfg to be more user friendly.

[2018-03-06 14:46] baodongli commented on #4010
/cc mandarjog

[2018-03-06 15:39] nmittler commented on #3099
This is a pretty old bug ... we need to make some progress here.

It looks like the protocol selection happens [here](https://github.com/istio/istio/blob/aeff05e42fcd2bfb8e0e27e7b4111f8eb92aee01/pilot/pkg/serviceregistry/kube/conversion.go#L228).  So the ports appear to be named correctly (starting with `http`/`https` and separated by `-`).  The ports in the attached xds yaml seem to have the same

[2018-03-06 16:01] nmittler commented on #3647
AFAIK this was fixed by #3663, which was submitted after this issue was created (later on the same day). Closing for now.

[2018-03-06 16:01] #3647 closed

[2018-03-06 16:06] nmittler commented on #1823
@hklai I believe the duration on prow has been greatly reduced since #3663 was submitted.  Is that sufficient for this?

[2018-03-06 16:37] nmittler opened #4012 "Migrate Pilot e2e tests to common framework"
Use the same framework that the mixer and other tests are using.

[2018-03-06 16:37] nmittler commented on #4012
FYI @costinm @ldemailly

[2018-03-06 17:44] yusuoh commented on #1894
It seems that the pilot validation logic is only enabled in e2e test. Do we want to enable it in the normal installation?

[2018-03-06 18:11] sebastienvas opened #4013 "istio.io/istio/security/cmd/flexvolume/driver coverage dropped from 65 to 40 %"
-istio.io/istio/security/cmd/flexvolume/driver:65 [67.6]
+istio.io/istio/security/cmd/flexvolume/driver:40 [42.7]

https://circleci.com/gh/istio/istio/41713#artifacts/containers/0

[2018-03-06 18:14] #3995 closed

[2018-03-06 18:22] mandarjog commented on #3395
@Stono I think it makes sense to add support directly to envoy. Running another sidecar will be non-starter.
Does Jaeger support receiving UDP traces directly, or does it always have to be a bridge from localhost:udp --> remote jaeger:tcp ?

If it is the former, services can simply fire and forget traces to the remote UDP (like statsd)

If not, we will have to convince Envoy that adding an additio

[2018-03-06 18:23] ayj commented on #1894
We should. It requires the same cert provisioning steps used by the injection webook for installation.

[2018-03-06 18:27] sebastienvas opened #4014 "istio.io/istio/mixer/adapter/circonus coverage dropped from 68 to 63 %"
https://circleci.com/gh/istio/istio/41713#artifacts/containers/0
- istio.io/istio/mixer/adapter/circonus:66 [68.9]
+istio.io/istio/mixer/adapter/circonus:61 [63.9]

[2018-03-06 18:46] ayj commented on #1985
You can opt-out of having the proxy automatically injected by adding the following annotation to the _pod template spec_ in your deployment.

[code]

[2018-03-06 18:48] diemtvu commented on #3967
Cannot reproduce with my clean cluster and istio 0.6.0. Probably smt I  messed up with my previous testing cluster. Will keep an eye on this, close for now.

[2018-03-06 18:48] #3967 closed

[2018-03-06 18:48] douglas-reid commented on #4004
Another data point: I'm seeing flakiness with this test.

From: https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3994/e2e-simpleTests/643/

[code]

[2018-03-06 18:52] douglas-reid opened #4017 "Test Failure (flakiness): e2e-bookInfoTests (VersionMigration, DbRoutingMysql, ExternalDetailsService)"
From: https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3994/e2e-bookInfoTests/644/

[code]

[2018-03-06 18:53] diemtvu commented on #4006
Are you working on this? If not, I can take a look

[2018-03-06 18:55] sebastienvas commented on #4014
I changed to use atomic mode. Maybe that s the issue ? It does not look like some test cases failed, which would be a valid reason.

Another issues is that the test is random and does not provide consistent code coverage.

[2018-03-06 18:55] douglas-reid commented on #4017
cc: @vadimeisenbergibm (External Details Service)

[2018-03-06 18:59] douglas-reid opened #4018 "Test Failure (flaky): istio.io/istio/tests/e2e/tests/pilot"
From: https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3994/istio-pilot-e2e/3741/

[code]

[2018-03-06 19:00] sebastienvas commented on #4014
Also, codecov.io does not provide this level of customization for variable code coverage, that is why wew are using 2% less than actual coverage in the tool. We can close this for now, but we should look follow up the variability of this coverage.

[2018-03-06 19:06] douglas-reid commented on #3810
@GregHanson you were the last person to touch these files, so i'm giving the hot potato to you. do you know why we have swagger stuff in the one-namespace deployment?

[2018-03-06 19:08] yusuoh commented on #3821
I noticed that in the e2e test, we used a self-signed CA for webhook.
https://github.com/istio/istio/blob/master/tests/e2e/tests/pilot/util/environment.go#L693

So maybe we can simply reuse Istio CA to sign the cert and generate TLS config instead of using K8S's one which involves manual intervention?

[2018-03-06 19:37] nmittler commented on #4017
Looks like might be related to #3912

[2018-03-06 19:49] costinm commented on #3821
If Istio CA can be used - of course we should use it, it handles cert
rotations and is much simpler to setup.

It seems the remaining problem will be creating the webhook resource with
the istioCA certificate hooked in.

On Tue, Mar 6, 2018 at 11:08 AM, Yusuo <notifications@github.com> wrote:

[2018-03-06 19:52] douglas-reid commented on #3395
Late to see this. I don't know that Istio has tight integration with Jaeger, but it is supported, mainly through the Zipkin-compatible endpoint.

As @mandarjog points out, the simplest way to use the UDP endpoint would be to add that functionality directly to Envoy.

[2018-03-06 19:56] Stono commented on #3720
Hey!
As promised, this was my experience going from `0.5.1` to `0.6.0`.  I appreciate that some of the issues here may be helm related, but as helm is going to be a lot of peoples primary way of handling the deployments I figured it's good to talk holistically about my experience here.

Firstly, I ran the scripts I've referenced above and generated [this diff](https://github.com/istio/istio/files/

[2018-03-06 19:56] mandarjog commented on #3686
Also found here.  https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3931/istio-unit-tests/1455/

[2018-03-06 20:00] yusuoh commented on #3720
Thanks for sharing the experience. I think we should have some e2e tests for Helm install/upgrade/rollback. Currently we only test the canonical k8s yaml files.

[2018-03-06 20:06] yusuoh commented on #3821
K8S API server export its CA bundle to some configmap. Maybe we should do the same thing with Istio CA.

[2018-03-06 20:13] Stono commented on #3395
Maybe tight was the wrong word, but I think you understand my point.  I believe you (istio) are trying to enable a pretty seamless integration with Jaeger and I'm just giving you a heads up that by using a model like the one in `jaeger-agent` as described in [their documentation](https://github.com/jaegertracing/jaeger-kubernetes#deploying-the-agent-as-sidecar) you enable `app -> localhost (udp) -

[2018-03-06 20:19] Stono commented on #3514
FYI GCP LoadBalancers don't support proxy_protocol :-)
Thanks for looking at this all!

[2018-03-06 21:39] ayj opened #4022 "istio.VERSION references non-existent proxy image with locally committed changes"
The e2e makefile test targets (e.g. `make e2e_pilot`) don't work reliability with locally committed changes. The `generate_yaml` make target updates `PROXY_TAG` in `istio.VERSION` with the current repo's latest sha. `PROXY_TAG` is then used by the docker image target to download a prebuilt proxy image from a GCS bucket. The problem is that `PROXY_TAG` corresponds to the current repo (istio/istio)

[2018-03-06 21:40] douglas-reid opened #4023 "Move e2e-mixer test out of flaky tests in circleci"

[2018-03-06 21:49] ldemailly commented on #4004
on the above failure: proxy pod log:
destination pod (echo2)
[code]
vs src svc (echo1)
[code]
it took about 31-17 = 14 more seconds for 1 of the 2 svc to come up

we probably need to wait a bit more or have a proper readiness

[2018-03-06 21:53] douglas-reid commented on #4023
It looks like none of the tests even run on, as the failure is in startup time...

Possible issue:
[code]

Seems to lead to:
[code]

cc: @mandarjog @geeknoid

[2018-03-06 21:57] mattdelco commented on #4022
There's conflicting interpretations across istio for whether PROXY_TAG refers to the envoy image generated in the proxy repo or the proxy image built under the pilot subdir of the istio repo.  It's been in conflicted use for awhile but misc changes have been compounding on top of the confusion.  I'm not entirely sure which i correct (granted the one from proxy repo is mostly discontinued), or whet

[2018-03-06 22:08] terinjokes opened #4026 "EgressRules are namespaced, but applied globally"
EgressRules are created in specific namespaces, rather than being namespace-less resources, but they currently apply globally. This is confusing to users who believe these rules are scoped to their namespace.

For example, one team creating an EgressRule. Other teams end up, unknowingly, using that egress, but don't notice because things seem to be working. If that first team decides they no longe

[2018-03-06 22:17] mattdelco commented on #4022
The quickest workaround might be to split out PROXY_TAG as ENVOY_TAG. Basically change istio.VERSION using:
<pre>
- export PROXY_TAG="80ec4f6c2a672b00e55d34ef9b5d26a42a98da42"
+ export ENVOY_TAG="80ec4f6c2a672b00e55d34ef9b5d26a42a98da42"
+ export PROXY_TAG="replace-by-actual-tag"
</pre>
then change Makefile and istio.deps to use ENVOY_TAG instead of PROXY_TAG.

There's also another subtle issue sh

[2018-03-06 22:22] nmittler commented on #3514
@stono

I don't think they would need to, since all traffic would be pod-local.  But yeah, I think an iptables solution is going to be the way forward ... at least for now.

[2018-03-06 22:59] terinjokes commented on #4026
Assuming per-namespace behavior is desirable, it looks like this can be added to Pilot with a little bit of work:

1. Expand node.Proxy to store the namespace (parse it from the Domain field, if neccessary)
1. Modify Pilot's `buildEgressTCPListeners` and `buildEgressHTTPRoutes` to skip over EgressRules not defined in the service's namespace.
1. The rest of xDS continues operating without knowing E

[2018-03-06 23:20] ayj commented on #3810
This is likely due to cluster not being reachable by kubectl, and not specific to OpenAPI (see https://github.com/kubernetes/kubernetes/issues/53563)

[2018-03-06 23:24] diemtvu opened #4027 "Istio config to support global scope"
CRD-based implementation can provide only namespace scope (with proper ACL). We need a way to define config at a broader scope (cluster and/or mesh)

[2018-03-07 00:00] #3953 closed

[2018-03-07 00:00] ldemailly commented on #3295
@lizan / @PiotrSikora do you have an idea why this issues only triggers in a small % of cases? I would expect if we put a closed socket back in the pool we get 50% errors (each time it's done 1 good request the next one would be bad)

[2018-03-07 00:05] PiotrSikora commented on #3295
Well, does `echosrv` close the socket after each request? or only after X requests?

[2018-03-07 00:06] ldemailly commented on #3295
when using fetch/... url after each request, which is why I'm curious how that turns into a small %

[2018-03-07 00:07] ldemailly commented on #3295
the other weirdness was because it seems to happen only with mtls (from andra's tests) so something related to the timing / some race is involved?

[2018-03-07 00:09] PiotrSikora commented on #3295
I don't think that's true? The snippets from @lizan show `EOF` from raw socket buffer and not TLS.

[2018-03-07 00:17] myidpt commented on #3757
Hi, I'm trying to reproduce the failure. It seems to be flaky. Is the following failure related to this issue?
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/4024/istio-unit-tests/1591/

[2018-03-07 00:27] lizan commented on #3295
This 503 only happens if a connection pool is busy enough. i.e at the moment a connection in the pool read a response completely from `echosrv`, the pool already has next request to be write to upstream immediately. You only observe this in mTLS case because it make lower qps to be busy enough.

[2018-03-07 00:34] theganyo commented on #3194
Any progress on this? The latest in master still doesn't include `request.auth.claims` as a valid attribute.

[2018-03-07 00:37] nixgadget commented on #3099
I too am seeing a similar behaviour with 0.5.1 with mTLS. Our services in the mesh talking to services outside the mesh (such as cassandra or kafka) fail with `io.grpc.StatusRuntimeException: UNAVAILABLE: io exception`

[code]

[2018-03-07 01:14] taoyu27 commented on #2864
@ayj , this issue is solved in istio-0.6.0, i will close this item. thanks for your help on the way.

[2018-03-07 01:14] #2864 closed

[2018-03-07 01:16] jmuk opened #4034 "security/cmd/flexvolume/driver coverage is low"
Seems https://github.com/istio/istio/pull/3884 adds the requirement of code coverage, and then https://github.com/istio/istio/pull/3999 was merged which decreases the code coverage ~67% -> ~42%. Now circle-ci codecov would always fail.

Cc: @sebastienvas @wattli

[2018-03-07 01:29] ldemailly commented on #3757
you can make a PR where you change (back) simple test ingress from 7*15s retries to 4*10s and that should fail fairly often

[2018-03-07 01:43] costinm commented on #4023
Agreed, that seems to be the root cause - but not sure where this gets generated, is it the statsd address ?

[2018-03-07 01:45] ldemailly commented on #3295
but upstream has closed the connection, so why isn't it always failing every other call?

[2018-03-07 01:47] costinm commented on #3471
Added "pull master" to depupdate, which calls "git merge master" before each CI run.

[2018-03-07 01:47] #3471 closed

[2018-03-07 01:52] lizan commented on #3295
Envoy doesn't always have next request to queue. I think if you turn qps to high enough, then the rate of 503 will be close to 50%?

[2018-03-07 01:56] ldemailly commented on #3295
k so if there is no next request immediately, how come in that case it discards the dead socket ? (and doesn't in the busy case)

[2018-03-07 01:58] lizan commented on #3295
The RemoteClose event right after onData will trigger it.

[2018-03-07 02:01] ldemailly commented on #3295
👍 I see, thank you, so it is clearly a bug if it handles it correctly when there is enough idle time between requests but not when there isn't. we could try increasing the qps to see the error rate converge toward 50% then

[2018-03-07 02:13] bianpengyuan commented on #3292
I'm not able to reproduce this issue. Now, both ingress and mixer treat destination IP as a absense-keys:

Logs from Ingress:
[code]
Logs from Mixer:
[code]
Closing this bug and use #2160 to track e2e tests for this.

[2018-03-07 02:13] #3292 closed

[2018-03-07 02:28] ldemailly commented on #3292
it seems quite buggy to have adapter_template_kubernetes.* in the keys btw, it's not like the mixerclient can ever have those - want to file a different issue for that ?

[2018-03-07 02:50] ldemailly commented on #3810
nice find @ajy and quite the obscure/misleading error indeed

I guess we can close this if it doesn't happen anymore and a search in our repo will find this issue when it comes back

[2018-03-07 02:50] #3810 closed

[2018-03-07 03:11] strin opened #4037 "Istio proxy not reading 443"
I am trying to enable AWS ELB in `istio.yaml` installation file:

[code]

All requests to HTTP 80 worked great. But HTTPS requests to 443 are not working.

[2018-03-07 04:11] xiaolanz commented on #3929
Working on it. It looks like the timeout can be handled in better ways.

[2018-03-07 05:00] wattli commented on #3821
Currently istio CA's root is in K8s secret, which is some info you can get as well

[2018-03-07 05:23] xiaolanz opened #4041 "Fix TestMonitorForChange for racetest"
failed when
$ go test -v -run TestMonitorForChange ./pilot/pkg/config/monitor  --race

blocking #3780

[code]

[2018-03-07 06:48] jmuk commented on #4034
codecov now does not fail with the coverage report. Assigning @wattli for the actual fix.

[2018-03-07 14:58] nmittler commented on #3720
@costinm FYI

[2018-03-07 15:02] baodongli commented on #3782
That makes sense.

The code for cluster creation and naming is the same between alpha1 and alpha2 (or now networking/alpha3). I'd like to confirm that this naming change should be restricted to alpha2 onwards as the issue title suggests, and alpha1's naming should remain the same.

[2018-03-07 17:24] #3998 closed

[2018-03-07 17:27] douglas-reid commented on #4023
@costinm I believe so.

[2018-03-07 17:31] jmazzitelli opened #4043 "ansible installer (for openshift) needs to create proper service account names for 0.6.0"
I wrote a PR to fix this (see PR  #4020) but I am documenting the issue here with the workaround until that PR is merged. Once that PR is merged, this issue can be closed.

If you try to install 0.6.0 on OpenShift using the ansible scripts, the grafana and prometheus pods fail to start with the following errors:

The log from the grafana pod:

[code]

The log from the prometheus pod:

[code]

The

[2018-03-07 17:35] nmnellis commented on #1685
@secat Im experiencing a similar issue with crds but my application works fine without istio (aka permissions are good). when i inject the sidecar i get the error. didnt you say it worked without the sidecar?

[code]

[2018-03-07 17:36] jmazzitelli opened #4044 "ansible installer does not install jaeger when requested"
Passing this environment to the ansible installer:

[code]

Notice the jaeger property is set to true. As per https://github.com/istio/istio/tree/master/install/ansible where it says:

[code]

I expect Jaeger to be installed and not Zipkin. However, after running the  playbook, zipkin is installed, and jaeger is not:

[code]

[2018-03-07 17:41] jmazzitelli commented on #4044
Looks like this is simply a documentation issue. The jaeger setting has been moved to the addons section, but the docs do not reflect that change from this commit: https://github.com/istio/istio/commit/8d888ea2e7b0ba390e6e07c26bdd3876621e0d98

[2018-03-07 17:57] ldemailly opened #4045 "Performance for first 10k requests significantly better than when doing 20k requests"
Using the perf setup;

p50 in the first few thousand requests is around 8ms

while the stable/steady state one is much worse
https://fortio.istio.io/browse?url=2018-03-07-164634_0_6_0_400qps_scenario1_with_cache.json

18ms

cc @qiwzhang @mandarjog @ozevren

[2018-03-07 18:12] wattli commented on #4013
Thanks for opening this, i will fix

[2018-03-07 18:16] cmluciano commented on #3952
Confirming should this be in `test/e2e/tests/mixer/mixer_test.go` or `mixer/test/e2e` ?

[2018-03-07 18:17] nmittler commented on #4022
FYI @ZackButcher ... this may be related to some issues you've been having

[2018-03-07 18:20] rkpagadala commented on #4022
#3964 fixes this issue

[2018-03-07 18:30] jeffmendoza opened #4046 "Running "make" shouldn't use $HOME/.kube/config"
The default make target should only run self-contained unit tests, not those that depend on the users k8s config.

[code]

[2018-03-07 18:33] cmluciano commented on #3962
@douglas-reid Does https://github.com/istio/istio/pull/3994 close this?

[2018-03-07 18:41] douglas-reid commented on #3962
@cmluciano yes. This should be resolved now.

[2018-03-07 18:41] #3962 closed

[2018-03-07 18:44] ozevren opened #4048 "Mixer might be missing incoming config change events from ApiServer"
We had two cases reported where it looked like Mixer might be somehow missing config change events when listening to ApiServer. One event was an external reported issue, where during the upgrade from 0.5.0 -> 0.5.1 the attribute manifest information in the running Mixer was lost, even though the resource was as expected. The restart of Mixer fixed the issue. In a separate case, it looked like the

[2018-03-07 18:47] ozevren commented on #3952
This sounds like it should be test/e2e/...

[2018-03-07 19:06] ayj commented on #4048
level-triggered k8s controllers helps mitigate this problem (see https://speakerdeck.com/thockin/edge-vs-level-triggered-logic).

[2018-03-07 19:43] yusuoh commented on #3821
So I tested the self-signed CA with sidecar-injector and it works well. I think we need to add the following logic:
1. Istio CA generates and maintains certificate for webhooks and store them as secrets.
2. The webhook service watches the secret and update the TLS configuration on its server side. It also updates the K8S webhook config and fill in the Istio CA cert.

By doing that, we can remove t

[2018-03-07 21:04] ayj commented on #3821
How is this configured? Do we need to pass some flags to Istio CA to tell it what certs need to be generated (service and namespace) and where they need to be stored?

Who is responsible for creating the initial webhook registration?

[2018-03-07 21:40] douglas-reid commented on #4048
Is this the sort of thing we build a test for?

[2018-03-07 22:10] yusuoh commented on #3821
Yes. The information about each webhook needs be passed to Istio CA through flags. Those are basically the argument of the current cert generation script (service, namespace, secret name).

The webhook service itself should be responsible for self-registering. I think it is the same approach with what pilot validation webhook is doing now.

[2018-03-07 23:42] andraxylia opened #4058 "make broken in MAC OS by new addition"
mkdir -p /Users/andracis/istio/go/out/darwin_amd64/release/
set -o pipefail; \
	/Applications/Xcode.app/Contents/Developer/usr/bin/make pilot-test mixer-test security-test broker-test galley-test common-test \
	|& tee >(/Users/andracis/istio/go/bin/go-junit-report > /Users/andracis/istio/go/out/darwin_amd64/release/junit_unit-tests.xml)
/bin/bash: -c: line 0: syntax error near unexpected token `&'

[2018-03-08 00:31] rkpagadala opened #4060 "Fix update bot to update vendor-istio and istio repos"
Currently the update bots are broken for istio and vendor-istio repos.
The api sha needs to be propagated to vendor-itstio
proxy, vendor-istio shas need to be propagated to istio

[2018-03-08 01:41] douglas-reid opened #4070 "Need way to inject errors into Mixer for e2e testing"

[2018-03-08 04:29] hklai commented on #1823
A lot had changed since I opened this. circle ci tests are now the presubmit standard and prow tests are not required anymore.

However, pilot e2e seems to be failing for most PRs.
https://prow.istio.io/?type=presubmit&job=istio-pilot-e2e

Is that expected?

[2018-03-08 04:31] nmittler commented on #1823
@hklai AFAIK, prow has been broken all week ... not just for that test.

[2018-03-08 04:33] hklai commented on #1823
@sebastienvas is the pilot e2e failures related to the other post submit failures you were looking at today?

[2018-03-08 06:44] ldemailly commented on #4022
name wise btw ENVOY_TAG should maybe rather be PROXY_BIN_URL as it's not a (docker nor git) tag
anyway and stays a url + SHA, and the other one PROXY(_IMAGE)_TAG

(because it's not just envoy, it's envoy + istio's mixerclient)

[2018-03-08 07:47] ozevren commented on #3970
https://github.com/istio/istio/blob/81a970355e58704a9f29befb548f937e6ba895e4/mixer/cmd/mixs/cmd/server.go#L50

[2018-03-08 07:49] ozevren commented on #3948
Yes, based on my discussions with Joy and my observations of already
existing tests I am pretty confident. Of course, being a fallible human I
may be wrong. Trying to fix the test by doing proper cleanup should give us
the right information. If we find that there is indeed a deeper problem, we
can investigate further.

On Mon, Mar 5, 2018 at 9:31 PM Laurent Demailly <notifications@github.com>
wrot

[2018-03-08 08:24] ldemailly commented on #3970
ic, thanks:
[code]
it's even here: https://istio.io/docs/reference/commands/mixs.html#mixs server

so we just need to change it in some test

[2018-03-08 08:33] ldemailly commented on #1885
ping?

[2018-03-08 10:39] JoelSpeed commented on #3821
I don't know if this is helpful or not or even applicable here, but, I've been building a Mutating Webhook recently and am facing the same issue of bootstrapping the certificates and the webhook CA Bundle Patching.

I decided to use the K8s CSR Api and have built a tool that I now deploy as a job in cluster alongside my webhook as I initially install it, https://github.com/JoelSpeed/webhook-certif

[2018-03-08 12:06] prune998 commented on #2628
Come on !
Liveness and readiness probes should work naturally, especially when you're not using TLS.
This also includes the Prometheus `/metrics` gathering.
As of now I'm thinking of modifying all my micro-services to open a different port for healthchecks...

This is crazy. It's a real blocker for Istio adoption...

[2018-03-08 15:05] jmazzitelli opened #4080 "add an Ansible deployment gate"
(see https://github.com/istio/istio/pull/4020#pullrequestreview-102321571 )

A gate would be immensely helpful to ensure there are no regressions when changes are made to the Ansible installer. This issue is to document the need for adding an Ansible deployment gate.

[2018-03-08 15:31] mattpetrick opened #4081 "KUBECONFIG Env Variable Multiple Paths"
using Istio 0.6 the following error occurs when the KUBECONFIG environment variable contains multiple paths:

[code]

kubectl supports colon separated paths https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/#the-kubeconfig-environment-variable but istio is not currently supporting it https://github.com/istio/istio/blob/master/pilot/pkg/serviceregistry/kube/client

[2018-03-08 16:20] myidpt commented on #4006
This is pretty much solved now. Can you help on this?
https://github.com/istio/istio/issues/4008
Thanks!

[2018-03-08 16:20] #4006 closed

[2018-03-08 16:51] ozevren commented on #4048
@ayj Updated the wording to capture level-triggering.
@douglas-reid Not sure what you mean by that? Chatted with @mandarjog a bit on this yesterday. It is plausible that the loss is actually not originating in the Mixer code, but in the incoming event stream somehow. This is hard to write tests for.

[2018-03-08 16:55] mattpetrick opened #4083 "Azure Active Directory (AAD) Auth Support"
using Istio 0.6 on a K8S 1.9.3 cluster installed with ACS engine that is RBAC enabled to AAD the following error occurs when performing manual sidecar injection:

[code]

custom auth like GCP is already imported/supported:
https://github.com/istio/istio/blob/aeff05e42fcd2bfb8e0e27e7b4111f8eb92aee01/pilot/pkg/serviceregistry/kube/client.go#L30

requesting AAD support be likewise imported/supported:

[2018-03-08 16:55] yusuoh commented on #3821
@JoelSpeed Thanks for sharing your work. I think you are right about the CSR approval. It is mainly about promoting the privileges of the job to have the write permission to the CSR. There was some k8s doc that mentioned kubectl modifies the CSR status directly but I guess they might have changed the implementation.

I am curious how you handle the cert rotation. I mean even if we can periodically

[2018-03-08 16:57] sdake commented on #2728
subscribe @sdake

[2018-03-08 17:16] douglas-reid commented on #4048
@ozevren that sorta addresses my question. I was wondering if it is possible to build a test that would capture this or not.

[2018-03-08 18:04] #2904 closed

[2018-03-08 18:14] rkpagadala commented on #4022
fixed by #4062

[2018-03-08 18:14] #4022 closed

[2018-03-08 18:38] pmichali opened #4087 "IPv6 Code Audit Results..."
Similar to what was done for Kubernetes, I did a quick audit of the Istio code looking for places where further investigation is needed to determine if there is code that is IPv4 specific. These could be starting places to create additional issues/PRs, as needed (I guess depending on whether one wants to group by functionality, or by file - the latter was done for Kubernetes).

Note: In my PoC wor

[2018-03-08 19:46] baodongli commented on #3782
After looking at the code a bit closely, and seeing new PRs (slated to support alpha2, or rather now alpha3, and envoy v2) that use various parts of the cluster name to search service registries, I think it doesn't seem to be possible to make this naming change now. In this [Followup on EDS](https://github.com/istio/istio/pull/4036/files#diff-6713acfe7b9e389e7dcd429d08bee859R167), hostnames, ports

[2018-03-08 19:50] ldemailly commented on #2904
can we put some pressure to get a newer daily - isn't it a code yellow or orange if there are no dailies for a week ?

[2018-03-08 19:52] nmnellis commented on #3872
I am closing this issue. I deployed 0.6.0 and the issue seemed to have gone away

[2018-03-08 19:52] #3872 closed

[2018-03-08 20:13] pmichali opened #4095 "IPv6: Validation of proxy addresses"
During PoC work to try Istio with IPv6, the validation of IPv6 proxy addresses (statsd in particular) was failing, due to the code's inability to handle IPv6 addresses. The logic just scans for a colon to determine the split point between IP and port, and this doesn't work with IPv6 addresses.

I'll push up a PR in the next few days that will address this issue in pilot/pkg/model/validation.go

[2018-03-08 20:17] pmichali opened #4096 "IPv6: Resolving host name to IP"
During PoC work to try Istio with IPv6, the ResolvAddr() function in pilot/pkg/proxy/resolve.go only handles IPv4 addresses that are resolved. This needs to be extended to accept IPv6 addresses and create a proper IP and port string.

I'll push up a PR in the next few days to address this issue.

[2018-03-08 20:20] pmichali opened #4097 "IPv6: Bootstrap extracting addresses"
During PoC work to try Istio with IPv6, it was seen that the WriteBootstrap() function in pkg/bootstrap/bootstrap_config.go was not extracting and saving the discovery, Zipkin, and statsd addresses correctly for IPv6.

In the next few days, I'll post a PR to address this issue.

[2018-03-08 20:25] pmichali opened #4098 "IPv6: Envoy bootstrap template JSON file"
The tools/deb/envoy_bootstrap_tmpl.json file contains the IPv4 localhost address (127.0.0.1). For IPv6, this needs to be "::1".  More importantly, a mechanism is needed to allow this to be configurable, based on whether the cluster is running in IPv4 or IPv6 mode.

Note: this affects three golden master files in tests.

[2018-03-08 20:28] pmichali opened #4099 "IPv6: Envoy Pilot JSON"
The pilot/docker/envoy_pilot.json file sets the localhost address to 127.0.0.1, and any address to 0.0.0.0. For IPv6, these need to be [::1] and [::], respectively. More importantly, there needs to be a way to make this configurable, based on whether the cluster is operating in IPv4 or IPv6 mode.

[2018-03-08 20:33] pmichali opened #4100 "IPv6: Wildcard and localhost constants"
In pilot/pkg/proxy/envoy/v1/resources.go the constants for WIldcardAddress and LocalhostAddress are set to 0.0.0.0 and 127.0.0.1, respectively. For IPv6, these need to be [::] and [::1], respectively.

More importantly, the selection should be configurable based on whether the cluster is operating in IPv4 or IPv6 mode.

Note: this affects numerous golden master files for unit tests.

[2018-03-08 20:38] pmichali opened #4101 "IPv6: Bookinfo sample app"
This sample app uses 0.0.0.0 as the bind address. For IPv6, this needs to be "::". The setting should be configurable, based on whether the cluster is operating in IPv4 or IPv6 mode.

It also would be nice to enhance build_push_update_images.sh so that it can push to a different docker registry for development work, instead of docker.io/istio.

[2018-03-08 20:39] #1685 closed

[2018-03-08 20:40] pmichali opened #4102 "IPv6: Helloworld sample app"
This app binds to address 0.0.0.0. For IPv6, this needs to bind to "::". More importantly, this should be configurable, based on whether the cluster is operating in IPv4 or IPv6 mode.

[2018-03-08 21:30] douglas-reid opened #4103 "Need more contextual attributes to distinguish calling contexts"
Scenarios:
- `client` v. `server` (for client-side checks/reports)
- `ingress` v. `in-mesh` (v. `egress`)

cc: @geeknoid @mandarjog

[2018-03-08 21:33] ldemailly commented on #2904
agreed. we should probably have some kind of alarm (team rally I mean) on not being able to make a daily for more than X days (maybe X == 4 ?) and not able to make a weekly ?
(I think it's sort of part of the oncall duties but there are so many...)

[2018-03-08 21:44] frankbu opened #4105 "TLS traffic policy not recognized in v1alpha3 DestinationRule"
The `tls` field doesn't seem to be recognized in the `trafficPolicy` of a `DestinationRule`:
[code]
One can get past the `istioctl` validation error by adding a second `trafficPolicy` field:
[code]
However, the rule doesn't seem to work anyway. If you create a corresponding `ExternalService` and try to curl (from the sleep service), it produces an upstream error:
[code]

[2018-03-08 21:51] ldemailly opened #4106 "Error from server (Forbidden): error when creating "istio-0.6.0/install/kubernetes/istio-auth.yaml": clusterroles.rbac.authorization.k8s.io "istio-sidecar-injector-istio-system" is forbidden: attempt to grant extra privileges"
running `kubectl apply -f istio-0.6.0/install/kubernetes/istio-auth.yaml ` on a cluster that had 0.5.x before:
[code]

[2018-03-08 22:26] geeknoid opened #15757 "Add trace spans for client"
@douglas-reid commented on [Mon Jan 29 2018](https://github.com/istio/mixerclient/issues/405)

For the distributed tracing features of Istio, we want to have mixerclient spans in the generated trace data. This would help with a number of debug-ability related items:

- better understanding caching
- better understanding perf of client library
- better understanding impact of network

cc: @rshriram

[2018-03-08 22:27] geeknoid opened #15756 "Make the set of request headers sent to Mixer configurable"
@geeknoid commented on [Fri Oct 13 2017](https://github.com/istio/mixerclient/issues/178)

We should make the set of request headers sent by the proxy to Mixer to be configurable such as to reduce the payload size of proxy RPCs to Mixer.

For now, the specific set will need to be configured by hand. But in the future, this can be handled automatically by observing what Mixer actually consumes and

[2018-03-08 22:27] geeknoid opened #15755 "Make the set of attributes sent to the Mixer to be configurable"
@geeknoid commented on [Fri Oct 13 2017](https://github.com/istio/mixerclient/issues/176)

Add configuration control over which attributes should be sent to Mixer for both Check and Report. This will optimize the RPC exchanges between proxy and Mixer.

Although this configuration will set initially set by hand, eventually we can generate this config state automatically based on what the Mixer is c

[2018-03-08 22:27] geeknoid opened #15754 "Add support for AttributeMatch.condition == REGEX"
@geeknoid commented on [Fri Oct 13 2017](https://github.com/istio/mixerclient/issues/175)

In order to improve caching efficiency, we need to add support for regex attribute value matching. This will enable increase cache lookup matches.

[2018-03-08 22:28] geeknoid opened #15753 "Use timer to flush out expired cache items"
@qiwzhang commented on [Tue Sep 19 2017](https://github.com/istio/mixerclient/issues/111)

For all cached items, check and quota.

For quota,  it is tricky,  Some callback functions attached to on-progress requests may use the expired items. Have to be careful when removing them.

[2018-03-08 22:28] geeknoid opened #15752 "Hook up platform logging"
@qiwzhang commented on [Tue Sep 19 2017](https://github.com/istio/mixerclient/issues/110)

Now the library is using GOOGLE_LOG.  It is better to use the callers (Envoy) to provide logging function.

[2018-03-08 22:29] geeknoid opened #15751 "Introduce an attribute specialization framework"
@geeknoid commented on [Thu Jun 08 2017](https://github.com/istio/mixerclient/issues/78)

We want to express caching in the proxy in terms of attributes. If a specific set of attributes remains constant for a given time and given # of uses, we can use a cached result for Check.

The attributes we have today often do not play well with the above goal because they aren't specific enough, leading to

[2018-03-08 22:29] geeknoid opened #15750 "Add code coverage tracking"
@geeknoid commented on [Wed Mar 22 2017](https://github.com/istio/mixerclient/issues/46)

Need to put in place a framework to track unit test coverage for this repo.

[2018-03-08 22:45] ldemailly commented on #4106
interesting, the cause was:
[code]
Somehow my subject was nulled - I redid the binding and it worked

Thanks @ayj for the help!

[2018-03-08 22:45] #4106 closed

[2018-03-08 22:52] hklai commented on #698
I think this has been fixed. I don't see those 30 bytes binary files anymore.

E.g. http://gcsweb.k8s.io/gcs/istio-prow/pull/istio-releases_daily-release/449/daily-e2e-rbac-auth/376/artifacts/mixer-test-da3da98c5a014155917a4ae9dd/

[2018-03-08 23:00] ldemailly commented on #698
was trying to check one of the daily:

https://prow.istio.io/?job=daily-e2e-rbac-auth

when I click on the log icon
-> https://prow.istio.io/log?job=daily-e2e-rbac-auth&id=377
Log not found: response has status "404 Not Found" and body "{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"pods \"befad880-22b3-11e8-acb2-0a580a2c295a\" not found","reason":"NotFound","detail

[2018-03-08 23:07] ldemailly commented on #698
actually it's plausible that product page log is just a new line (once gunziped)

closing this as it's not important. but maybe checking the current prow UI for the error when clicking on the left side log like icon can be a new separate task

[2018-03-08 23:07] #698 closed

[2018-03-08 23:09] sebastienvas commented on #1885
Fixed by https://github.com/istio/admin-sites/pull/60

[2018-03-08 23:09] #1885 closed

[2018-03-08 23:19] christian-posta opened #4116 "When creating EndUserAuthenticationPolicySpecBinding validate policies field"
I understand EUA is going away.. that's fine.. but in its current state, istioctl does not properly validate the `policies` section. It seems to require `namespace` field as in:

[code]

If I leave the `namespace` field out, it doesn't properly recognize the binding. This should be validated in istioctl for EUA and whatever the successor is.

[2018-03-08 23:23] myidpt opened #4117 "Fix fsnotify issue"
Currently we are using a personal fsnotify repo: "github.com/howeyc/fsnotify"
We should instead use "github.com/fsnotify/fsnotify"
https://github.com/istio/istio/blob/master/pilot/pkg/proxy/envoy/v1/watcher.go#L30

[2018-03-08 23:23] wattli commented on #3917
This is fixed in https://github.com/istio/istio/pull/4115

[2018-03-08 23:35] ldemailly commented on #3917
it will auto close when that PR merges

[2018-03-08 23:37] ayj commented on #3821
Thanks for the info @JoelSpeed - it's quite helpful! Have you seen any issues yet with including an empty `caBundle` in the registration? I would have expected that to fail, but that doesn't seem to be the case.

We only need to patch the webhook registration if the CA itself is renewed. For cert rotation, only the webhook needs to (re)load the latest key/cert and update tls server settings.

[2018-03-08 23:37] myidpt commented on #4117
Our file watcher is watching files outside of the /etc/certs directory.

2018-03-08T21:24:52.277264Z     info    Epoch 15 exited normally
2018-03-08T21:24:52.277515Z     warn    Failed to delete config file /etc/istio/proxy/envoy-rev15.json for 15, remove /etc/istio/proxy/envoy-rev15.json: no such file or directory
2018-03-08T22:24:41.254159Z     info    watchFileEvents: "/etc/certs//..2018_03_08_

[2018-03-08 23:38] ldemailly commented on #1885
woot ! thx ! (i updated the wiki)

[2018-03-08 23:44] hklai commented on #1885
I don't think we need the wiki page anymore after
https://github.com/istio/istio/pull/4112.

On Thu, Mar 8, 2018 at 3:38 PM, Laurent Demailly <notifications@github.com>
wrote:

[2018-03-09 00:00] wattli commented on #2628
@PiotrSikora , I feel multiplexPort feature is actually the right way to go, which is to support both plain text and mTLS traffic at the same port.

This will make the istio security adoption experience much smoother. Of course there is a tradeoff between security and usability. We will make the doc clear: if you want to use same port for health check and your app, then you should be aware of the

[2018-03-09 00:01] ldemailly commented on #1885
well it's useful to find the link - plus we will maybe have additional notes again in the future

[2018-03-09 00:12] hklai commented on #1885
Let's put all useful release information in one place (at least as much as
possible) =)

the wiki page is so thin that its value is not justified.

On Thu, Mar 8, 2018 at 4:01 PM, Laurent Demailly <notifications@github.com>
wrote:

[2018-03-09 00:36] ldemailly opened #4126 "version/upgrade test shouldn't use envoy binary directly, should use image from release yaml"
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio-releases_daily-release/449/daily-e2e-cluster_wide-auth-skew/52

the tests tries to download
https://storage.googleapis.com/istio-build/proxy/envoy-debug-0.5.1.tar.gz

it should instead use the image from the release yaml of that release, ie docker.io/istio/proxy:0.5.1

cc @ZackButcher

[2018-03-09 00:40] wattli commented on #2628
I created a feature request to let kubelet provide client cert. https://github.com/kubernetes/kubernetes/issues/60952

[2018-03-09 00:40] PiotrSikora commented on #2628
@wattli I strongly disagree. The only viable solution here is to provide health-checker with a valid client certificate generated by Istio CA. Permanently accepting cleartext traffic along mTLS traffic in production deployment is not an acceptable solution.

[2018-03-09 00:44] wattli commented on #2628
This issue won't exist if customers would like to use a separate port for health check. As I mentioned above, we should document this caveat that it's a tradeoff between security and usability. I am working with k8s team for the feature you mentioned in the meantime.

[2018-03-09 00:58] geeknoid opened #4128 "Increase test coverage for the rbac adapter"
The rbac adapter only has 56% unit test code coverage.

[2018-03-09 01:42] ayj commented on #4116
The documentation for HTTPAPISpecReference allows for the namespace to be omitted, but Pilot isn't handling the default correctly. Long term I think we should make it required and validate via istioctl or webhook as you suggested.

[code]

[2018-03-09 02:01] ldemailly commented on #4126
Side note: it should test against 0.6.0 not 0.5.1 as we are in 0.7 cycle

[2018-03-09 02:09] ldemailly commented on #1756
Very interesting work:
http://blog.michali.net/2018/03/06/istio-on-ipv6-kubernetes-undiscovered-country/

[2018-03-09 03:03] ldemailly commented on #4126
@louiscryan did some investigation

[2018-03-09 03:10] louiscryan commented on #4126
@chxchx

So bug is in
github.com/istio-releases/daily-release/prow/lib.sh
which uses a release-tag rather than a SHA.

This causes the build script to attempt to download a proxy build of the form
https://storage.googleapis.com/istio-build/proxy/envoy-$PROXY_TAG.tar.gz
but there are no artifacts for release tags, there are only artifacts for sha

Immediate fix is to update prow/lib.sh to reference

[2018-03-09 03:14] louiscryan commented on #4126
@sebastienvas

longer term fix is probably worth some discussion

[2018-03-09 03:38] ldemailly opened #4133 "release: missing debug version of the debian package (for VMs)"
We produce the xenial compatible debian with prod settings by default (which is good)

To mirror the _debug of our other artefacts we should probably have a _debug for the debian package too

(this is relatively lowpri anyway given that for raw hw/VM support it's likely a customer would need to build from source for their specific OS/Architecture combo anyway, or vendors would do that for them - b

[2018-03-09 03:42] ldemailly commented on #4126
can we put back in this issue the link to the design doc for backward compatibility testing, I probably missed the proxy binary dependency or even how are we testing all the combinations (or which scenario are we testing. I would expect VM expansion test to be secondary given I don't think we test it quite yet for non upgrade case. For kubernetes we should use the images we produce for releases, n

[2018-03-09 04:50] geeknoid opened #4134 "Increase test coverage for the SolarWinds adapter"
The SolarWinds adapter has fairly low unit test coverage:

istio.io/istio/mixer/adapter/solarwinds:48 [50.9]
istio.io/istio/mixer/adapter/solarwinds/internal/appoptics:70 [72.5]
istio.io/istio/mixer/adapter/solarwinds/internal/papertrail:55 [57.7]

Ideally, this should be at or near 100%.

Thanks.

[2018-03-09 04:51] geeknoid commented on #4134
@leecalcote @girishranganathan

[2018-03-09 04:54] geeknoid opened #4135 "Increase test coverage for the Circonus adapter"
Test coverage for the Circonus adapter is fairly low:

istio.io/istio/mixer/adapter/circonus:61 [63.9]

Ideally, this should at or near 100%.

Thanks.

[2018-03-09 04:54] geeknoid commented on #4135
@redhotpenguin

[2018-03-09 06:45] mattdelco commented on #4133
At some point it'd be worthwhile to hash out whether istio is going to have a model of release build vs debug build, or continue down the path of having one build type that tends to produce both (though only of certain images/artifacts).  I'm guessing that the tendency towards one build type has been due to simplicity, but also because the current model of using image:sha for docker images means t

[2018-03-09 11:39] pmichali commented on #1756
Here are several issues that I created, based on my PoC work...

#4087 (code audit report)

#4095 #4096 #4097 #4098 #4100 Issues seen during effort to get IPv6 running

#4101 #4102  Sample apps

I'll be doing PRs soon for 4095-4097 as they are easy fixes :)

[2018-03-09 16:00] SeriyBg opened #4139 "httpFault RouteRule matching on uri prefix matches everything"
I have two services: `ui-service` and `city-service`. When accessing `ui-service` it makes a call to `city-service` in form of `/city/{cityName}`. I'm trying to add a `httpFault` `RouteRule` for accessing `city-service` based on the uri. Here is my `RouteRule`:
[code]
I'm expecting to get `httpFault` only for a request to `/city/London` but in fact, I'm getting HTTP status `400` to for any city.
I

[2018-03-09 16:11] SeriyBg opened #4140 "httpFault RouteRule matching on uri regex doesn't match anything"
The configuration I have is the same as for #4139 but this time I'm trying to match on `uri: regex:`. And the behavior is completely different I don't get `httpFault` at all.
Here is the `yaml` configuration:
[code]
Here I'm trying to match any request from any `uri`, however all the requests passes.

I'm using `istio v0.6`
Running on `minikube v0.25.0` on MacOS

[2018-03-09 16:24] JoelSpeed commented on #3821
@yusuoh I don't think they've changed the way it works, I think that's just how it works everywhere, sending a patch with the new status.

Cert rotation hasn't been a huge concern for me at the moment, still in the POC stage. My plan was to run the certificate generator process periodically to ensure that the certificate is renewed regularly (changing the job in my repo to a cronjob). Reloading th

[2018-03-09 17:12] myidpt commented on #2775
Is this blocked by Envoy V2 API?

[2018-03-09 17:27] douglas-reid commented on #3947
@smawson I think we want one that uses a more complex app deployment than the pilot e2e setup for a few reasons:
- Validating Mixer tracing
- User reports of often only getting one span per trace
- Future work on configuring trace sampling (ability to turn off tracing for particular destinations, setting tracing to 1%).

I don't believe the `zipkin_test.go` will cover all of that.

[2018-03-09 17:32] douglas-reid opened #4142 "Need precommit (or similar) check for dashboards"
We should automatically have the `fix_datasources.sh` script run for all updates to the dashboards.

cc: @jeffmendoza

[2018-03-09 17:33] scraly commented on #475
The documentation is not helpful actually:
https://istio.io/docs/guides/upgrading-istio.html#application-setup

[2018-03-09 17:43] jeffmendoza commented on #4142
Sounds good, I will check the latest Grafana version to see if the script is still needed first.

[2018-03-09 18:09] spikecurtis commented on #4100
It is extremely desirable to not make the operator configure IPv6 support explicitly.

For example, if WildcardAddress is used to bind, binding to [::] on Linux will also accept IPv4 connections.

[2018-03-09 18:16] spikecurtis commented on #1756
@pmichali I commented on one of the issues, but wanted to pull it up to the higher level. It is extremely desirable to not make the operator explicitly configure IPv4 vs IPv6. Naively, I'm assuming this is possible since considerable work went toward making them play nicely in the Linux kernel.

So, we should

 * include both IPv4 & IPv6 iptables rules for redirecting to Envoy by default
 * bind t

[2018-03-09 18:31] ldemailly commented on #4004
@ajy and @sebastienvas are working on readiness for the test framework

we would add `tc.Kube.AppManager.WaitForReady()` or `.Ready(appIdx)`

[2018-03-09 18:39] myidpt commented on #3757
@ldemailly I will send another PR to fix the Envoy bootstrapping without cert issue (when auth is enabled).
For your suggestion on bringing up Istio CA before other services, I don't think that's key solution for the issue. For 1), my next PR is going to force Pilot agent to wait for the certs to be ready before bringing up Envoy; 2) Reordering the service sequence in YAML won't help, because the

[2018-03-09 18:48] ldemailly commented on #3757
every little bit help; so still having the service account first then CA then pilot probably helps

[2018-03-09 18:49] wattli opened #4144 "TestVerifyCert fails"
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/4066/istio-unit-tests/1885/

The certs are expired, we need certs with much longer lifetime, e.g. 100 years or something.

https://github.com/istio/istio/blob/d59633bc0bd33315900631ac84d13bf28ad3a5e4/security/pkg/pki/util/verify_cert_test.go#L152

[2018-03-09 18:52] xiaolanz commented on #3929
still failing regularly ...

[2018-03-09 18:52] ldemailly commented on #1756
I added the 9 issues to the epic (epic only shows if you have zenhub addon)

[2018-03-09 18:53] ldemailly commented on #4102
we could replace it by fortio which has bind address options

[2018-03-09 19:13] xiaolanz opened #4147 "reenable racetest in aggregate/config_test.go"
related to #3780

[2018-03-09 19:25] andrew-dinunzio commented on #3514
Is this issue related to Egresses not communicating with the Mixer for metrics? See [this thread](https://groups.google.com/d/msg/istio-users/yQVEZs9fPNw/RUEf_cSWBwAJ).

If so, are there any known workarounds to be able to scrape metrics and tracing info from egress traffic until this is resolved?

[2018-03-09 19:43] secat commented on #1685
@nmnellis In the past we were using a `rolebinding` based on the `admin-editor` role (installed on minikube and GKE clusters). This was kind of a hack in order for our runtime to access the API Server.

When we enabled the istio-proxy sidecar, this hack was not working anymore.

As explain above, using a proper `role`, `rolebinding`, and `serviceaccount` fixed our API Server access problem with th

[2018-03-09 20:00] pmichali commented on #4100
Absolutely! I was hoping there would be a way to infer the IP mode and then configure these settings implicitly, and not by having a knob to select the mode.

If IPv6 addresses will work for IPv4 as well, then that would be great.

I guess we need to verify that, both with IPv6 address for any address and local host, and for configurations where the user does not have IPv6 enabled on the host (sys

[2018-03-09 20:11] nmnellis commented on #1685
Thanks, i upgraded to 0.6.0 and the issue went away

[2018-03-09 20:30] #4058 closed

[2018-03-09 20:57] #2163 closed

[2018-03-09 21:00] wattli commented on #4144
https://github.com/istio/istio/pull/4152#pullrequestreview-102787113 disabled that test, we will add it back with a fix

[2018-03-09 21:09] ldemailly commented on #1756
Not all ipv6 setup are configured to also bind to v4 when using v6; for most complete coverage you often have to listen twice

[2018-03-09 21:42] cmluciano opened #4154 "make push should always use linux"
GOOS=linux should be hardcoded for the docker push task until we properly support MacOS

[2018-03-09 21:49] douglas-reid opened #4155 "Need test mechanism to start multiple Pilot instances and have some evicted from cluster"
Would help with dashboard testing, but also seems useful for testing failures in HA scenarios, etc.

[2018-03-09 21:51] andraxylia commented on #4155
This is a dup of #2506

[2018-03-09 21:54] douglas-reid commented on #4155
No. That is complimentary, but I need a way to evict Pilots during a test as well.

[2018-03-09 23:05] rkpagadala opened #4157 "Clear up confusion around proxy tag"
PROXY_TAG is being used as the tag for the docker image and also as the sha of the istio/proxy to use as base for building the docker proxy image in this repo. This dual is wrong and confusing,

[2018-03-09 23:38] ldemailly commented on #888
@jwendell volunteered for a bigger version of this which would be to unify and make configurable
both the install directory prefix (aka `--prefix` in good ole configure) and the names (istio-x eg istio-pilot istio-envoy ... aka `--program-prefix` in good ole configure)

[2018-03-09 23:50] ZackButcher commented on #3929
The real problem with this test is that it talks to a real kube API server. It should not be a unit test since it has external dependencies.

[2018-03-09 23:52] ZackButcher commented on #3929
@kyessenov can you take a look at this as well please? These tests should be updated to use an in-memory fake, or similar. Right now the fact that they push config to external k8s API server to ensure that basic code invariants hold is way over the top.

[2018-03-09 23:57] xiaolanz commented on #3929
@ZackButcher most of the crd/ controller "unit" tests are against a real API server. This is partially because there is no good way to setup a testing apis.
We have a in-memory variation under memory/

[2018-03-10 00:01] xiaolanz commented on #3929
I increase timeout to 1min in #4148 to see if it helps.

[2018-03-10 00:06] douglas-reid opened #4161 "Need e2e tests for Pilot Dashboard"

[2018-03-10 00:20] costinm commented on #1985
Can we add a blacklist (if auto-inject is enabled by default) and whitelist (if auto-inject is off by default) ? In some cases users can't edit the template - for example if they install with helm, or
from a repository (kubectl apply http:...).

[2018-03-10 00:43] lizan commented on #3956
fixed

[2018-03-10 00:43] #3956 closed

[2018-03-10 02:10] #3951 closed

[2018-03-10 02:10] #4007 closed

[2018-03-10 02:38] ldemailly commented on #4154
yes there is really no point at all to build docker images that aren't using linux binaries

[2018-03-10 02:43] ldemailly commented on #4154
related pr #3080

[2018-03-10 02:49] lixiaobing1 opened #4168 "how envoy to control to create a new pod, while a pod corrupt or extending service?"

[2018-03-10 02:49] #3917 closed

[2018-03-10 02:56] ldemailly commented on #475
😮

[2018-03-10 03:21] ldemailly opened #4169 "consider https://github.com/rs/seamless for pilot-agent"
to look at: https://github.com/rs/seamless

[2018-03-10 03:47] kyessenov commented on #3929
Unfortunately, k8s does not have a mock for controllers/informers. If you can find a way, please do, but we need to test against the real k8s behavior, not the mocked one as defined by our memory mock.

[2018-03-10 03:47] ldemailly opened #4170 "pod transitions: RUNNING->UNKNOWN->RUNNING"
If a pod gets transiently reported as unknown by k8s we shouldn't drop it during that time (imo, as by doing so we turn a possible transient k8s issue into a missing endpoint)

https://github.com/istio/istio/pull/4145#discussion_r173610476

[2018-03-10 03:48] kyessenov commented on #3929
@ZackButcher pilot e2e is also a golang unit test right now. You can tag/labels it as depending on k8s if you wish.

[2018-03-10 03:49] kyessenov commented on #3929
By the way, why is this suddenly breaking? The code is almost a year old, yet just started causing problem?

[2018-03-10 03:51] #4157 closed

[2018-03-10 03:51] kyessenov commented on #4169
Envoy protocol requires incremental epochs. It's not just restarting same process over and over.

[2018-03-10 03:54] ldemailly commented on #1038
I think another source of 503s is https://github.com/istio/istio/pull/4145#issuecomment-372000185
ie us putting pods in service before they are ready (pending instead of running)

[2018-03-10 05:07] andraxylia commented on #3757
I am hitting this for every single run with my local run on minikube. I see with the latest Istio-CA. It happens even when I have auth_enable false.

[2018-03-10 05:43] andraxylia commented on #3826
Operator error: the connectTimeout must be changed at the top level of the configMap. There is a "default" block containing a connectTimeout which has no effect, it must be removed from the config.

[2018-03-10 06:11] andraxylia commented on #3757
It turns out somebody changed the port pilot is listening on from 15003 to 15007 or the other way around without sending a notice, so I ended up with mismatched images and injector.

[2018-03-10 07:03] xiaolanz commented on #3929
I made some changes to the code recently, making it available for different apigroupverisons.

[2018-03-10 07:26] ldemailly commented on #3757
can you open a new issue, what you describe seems different from this issue

[2018-03-10 08:18] andraxylia commented on #3757
In the pilot e2e tests, I moved the istio-ca deployment before istio-pilot, and added a sleep, this should help:
https://github.com/istio/istio/pull/4039/files#diff-caf19981f0e20e07742a823aa01ef35c

[2018-03-10 13:17] mandarjog opened #4172 "Postsubmit Failture by replace PROXY_TAG by PROXY_REPO_SHA #4158"
Post submit fails after pr #4158 was merged.

https://k8s-gubernator.appspot.com/build/istio-prow/e2e-suite-rbac-no_auth/1008

[code]

[2018-03-10 14:35] mandarjog commented on #3929
@xiaolanz can you check if this test started failing after the api group version changes.
It increases the number of informers, so perhaps it is related.

Can we remove it from unit test and make it part of e2e?

[2018-03-10 16:47] andraxylia opened #4175 "Circleci fails due to RBAC error namespace empty"
https://circleci.com/gh/istio/istio/46044

Generated yaml file is broken, istio-pilot-admin-role-binding- shoud contain the namespace

Erom server for: "/tmp/istio.e2e.780711191/yaml/istio.yaml": resource name may not be empty
Error from server (Invalid): error when creating "/tmp/istio.e2e.780711191/yaml/istio.yaml": ClusterRoleBinding.rbac.authorization.k8s.io "istio-pilot-admin-role-binding-" i

[2018-03-10 17:01] #4172 closed

[2018-03-10 17:10] rkpagadala commented on #4175
fixed by https://github.com/istio/istio/pull/4173

[2018-03-10 17:10] #4175 closed

[2018-03-10 17:26] xiaolanz commented on #3929
recent failures were all timeout. I will see how it goes after i increased the timeout. The build was hectic last night so my PR was reverted.  Thanks @mandarjog for taking care of it.

[2018-03-10 19:09] #3826 closed

[2018-03-10 19:32] ldemailly commented on #3826
is there a follow up for that ^

[2018-03-11 01:31] douglas-reid opened #4178 "mtls addition to istio dashboard broke e2e_dashboard test"
Leads to issues:

[code]

Previously: this log was:

[code]

Fix is to remove `connection_mtls=\"(true|false)"` from query string (to allow for both auth and non-auth envs).

cc: @JimmyCYJ

[2018-03-11 02:22] #4161 closed

[2018-03-11 03:08] incfly commented on #4144
Reopen to add add the test back.

[2018-03-11 03:10] #3954 closed

[2018-03-11 05:45] ldemailly commented on #3934
closed 3 more (but got a bunch of ideas and filled more...)

[2018-03-11 05:45] #3934 closed

[2018-03-11 12:18] charleslieferando commented on #4178
@douglas-reid  does this mean istio dashboard is broken in 0.6.0? Since I updated, I cannot see any metrics on the istio dashboard but the mixer and pilot dashboards work fine.

[2018-03-11 19:48] cmluciano opened #4184 "Leverage circleci API to retrigger suspected flakes"
Look through [circleci API](https://circleci.com/docs/api/v1-reference/) to see if it’s possible to retry only
failed suites like we do for prow

[2018-03-12 00:30] #4144 closed

[2018-03-12 10:36] morvencao opened #4189 "No match for some CRDs when install istio yaml"
**env:**
[code]

**install command:**
[code]

**problem:**
[code]

But All right when install istio with mutual TLS authentication:
[code]

**analysis:**
Seems that resources sent to kubernete before related CRD created.

cc/ @gyliu513

[2018-03-12 13:58] gyliu513 commented on #4189
@morvencao can you compare the difference of istio.yaml and istio-auth.yaml to see what is wrong with istio.yaml? As I can see istio-auth.yaml works fine.

/cc @linsun

[2018-03-12 14:59] morvencao commented on #4189
@gyliu513  Can't find clue from text diffs, CRDs are similar:

[code]

[2018-03-12 15:50] ozevren commented on #3596
That particular comment will no longer apply after switch to runtime2, but the general problem still applies. I think we can perform the following:

- Compare the incoming strings, with whitespace trimming. This is pretty much what the current code does, and is likely to catch the low-hanging fruits.
- Compare the expression tries for structural equivalency. This should be relatively straightforwa

[2018-03-12 15:54] ozevren commented on #1983
This is slated to go away as part of switch to the runtime2.

[2018-03-12 15:56] #3545 closed

[2018-03-12 16:08] cmluciano commented on #4154
The complication here is that the ca_cert will be compiled for linux, but will be executed on MacOS.

[code]

[2018-03-12 16:11] cmluciano commented on #4154
@istio/reviewers-istio-security Can we use openssl as we do for the [webhook](https://github.com/istio/istio/blob/master/install/kubernetes/webhook-create-signed-cert.sh)

[2018-03-12 16:40] douglas-reid commented on #4178
@charleslieferando no. it means that a PR that went in during the last week broke the e2e tests that were added this last week as well.

The e2e_dashboard tests (and a series of recent fixes related to data quality, etc.) confirm working behavior of the dashboards moving forward.

Have you tried running from a recent daily (https://github.com/istio/istio/wiki/Daily-builds)?  If you are still havin

[2018-03-12 17:25] #4008 closed

[2018-03-12 17:27] incfly opened #4190 "Consolidate NodeAgent on VM and on k8s"
Currently [NodeAgent on VM](https://github.com/istio/istio/tree/master/security/cmd/node_agent_k8s/nodeagent) is able to send CSR request and store the key/cert on local disk.

[NodeAgent on k8s](https://github.com/istio/istio/tree/master/security/cmd/node_agent_k8s) is able to:
- Gets workload registration notification from flex volume driver.
- Use gRPC over unix domain socket to

We should merg

[2018-03-12 18:46] ldemailly opened #4194 "daily builds: confusing timestamps (still)"
https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/

last release dir is 0.7.0-pre20180309-09-15-15/

can we
a) drop the last -15 (assuming this is seconds ?) we aren't going to make more than 1 daily per minute (would be less confusing as 0.7.0-pre20180309-0915 )
b) when I click; https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/0.7.0-pre20180309-09-15-15/
all the timestamps are
09 M

[2018-03-12 18:50] hklai commented on #1823
Pilot e2e tests are again passing and they now take around 10 mins only.
https://prow.istio.io/?type=presubmit&job=istio-pilot-e2e

Closing this now since the original problem no longer exists.

[2018-03-12 18:50] #1823 closed

[2018-03-12 19:04] hklai commented on #4194
Release started at 9:15AM GMT, and took around an hour to complete and copy to GCS (hence around 10:06).

When you open the tarball locally, the 1am time is local time. =)
https://savvytime.com/converter/gmt-to-pst/mar-9-2018/9am

[2018-03-12 19:27] secat commented on #3968
I am encountering exactly the same problem starting with istio version 0.6.0.

It was working fine with istio version 0.5.1 on minikube 0.25.0.

[2018-03-12 19:42] guptasu opened #4196 "Define static adapter service for OOP adapters"
Define the interface for static functions on the out-of-proc adapters.
Examples: CreateSession, Validate, CloseSession etc.

@douglas-reid @geeknoid @mandarjog  FYI

[2018-03-12 19:43] guptasu opened #4197 "Codegen template specific OOP adapter service interface"
Define and codegen the instances, service definition for the IBP (Infrastructure back-end protocol)

@douglas-reid @geeknoid @mandarjog FYI

[2018-03-12 19:45] guptasu opened #4198 "Define inventory schema for oop adapters."
This schema dictates how the inventory yaml will be authored by operator to give details on connection info of the oop adapters.

@douglas-reid @geeknoid @mandarjog FYI

[2018-03-12 19:47] guptasu opened #4199 "Create a dummy oop adapter implementation for TDD of OOP adapter work."
@douglas-reid @geeknoid @mandarjog FYI

[2018-03-12 19:47] guptasu commented on #4199
Implement a no-op backend that implement a check/report/quota template IBP
Hook it into the Mixer test scripts.

[2018-03-12 19:52] cmluciano commented on #3958
Tests should be [populated](https://k8s-testgrid.appspot.com/istio) now by related PRs, closing this issue for now

[2018-03-12 19:52] #3958 closed

[2018-03-12 19:53] #4023 closed

[2018-03-12 19:55] guptasu opened #4200 "oop"

[2018-03-12 19:55] #4200 closed

[2018-03-12 19:58] guptasu opened #4201 "Make CreateSession/Close/Validate calls to IBP"

[2018-03-12 19:58] guptasu commented on #4201
@douglas-reid @geeknoid @mandarjog FYI

[2018-03-12 20:03] guptasu commented on #1578
I believe this is fixed; Please reopen if you disagree

[2018-03-12 20:03] #1578 closed

[2018-03-12 20:04] guptasu commented on #1678
@jmuk friendly ping

[2018-03-12 20:05] guptasu commented on #1630
Done

[2018-03-12 20:05] #1630 closed

[2018-03-12 20:08] guptasu commented on #3075
This issue is fixed; the long term solution as suggested above applies to all types inside compiled expression and not just to the net.IP. The long term solution can be done as part of overall enhancement to the compiled expression; whenever we decide to do it.

Close this issue which is specific to net.IP

[2018-03-12 20:08] #3075 closed

[2018-03-12 20:10] guptasu commented on #2755
Done https://github.com/istio/istio/pull/2816

[2018-03-12 20:10] #2755 closed

[2018-03-12 20:15] guptasu opened #4202 "Out-of-proc adapters"
Design
https://docs.google.com/document/d/1TTyL9Fpfrvk5grhYgsjoASVXFQTRCI2YOesrzA6fqkQ/edit#

Updated IBP definition
https://docs.google.com/document/d/1Fic1Mgp0W5Sxhd0BxAFOc82DbSYWTsYpi5P-pv8ZjSQ/edit?ts=5a99d7ae#

@douglas-reid @geeknoid @mandarjog @ozevren  FYI

[2018-03-12 20:16] xiaolanz opened #4203 "Allow individual api group and version for each config resource in Mixer"
- [ ] Mixer CRD client change, if needed to allow watch for different apiVersions.

- [ ] istioctl change to handle Mixer configs. Currently istioctl treates mixer configs as untyped "other" config and assume them all live in config.istio.io/v1alpha2.

[2018-03-12 20:19] guptasu opened #4204 "Make HandleXXXX calls to OOP adapters"

[2018-03-12 20:19] guptasu opened #4205 "Read Info (template and adapter cfg descriptors) and dedupe & cache it & validate"

[2018-03-12 20:20] guptasu commented on #4201
- RequestData bytes from instance Yaml
- Make config time calls

[2018-03-12 20:21] guptasu commented on #4204
RequestData bytes from instance yaml & doing eval etc.

[2018-03-12 20:21] guptasu opened #4206 "Implement co-process shim for go adapters"

[2018-03-12 20:22] guptasu opened #4207 "implement process management for co-process adapters"

[2018-03-12 20:22] guptasu opened #4208 "port existing adapters to co-process adapter model"

[2018-03-12 20:46] cmluciano commented on #4184
looks like we can accomplish this with

[code]

[2018-03-12 20:51] cmluciano commented on #4184
@istio/reviewers-istio-release Do we just need to add a script under https://github.com/istio/test-infra/blob/master/prow/config.yaml ?

[2018-03-12 20:55] secat commented on #3968
@theganyo as a suggestion, I propose to change the issue title to `0.6.0 broken on minikube/docker for mac` in order to be more explicit.

[2018-03-12 20:57] theganyo commented on #3968
Sure. AFAIK, there's no current way to run on Mac... but better to be narrowly scoped.

[2018-03-12 20:59] theganyo commented on #3968
Another note: On minikube, I used the start command `minikube start --vm-driver=hyperkit --extra-config=apiserver.Admission.PluginNames="Initializers,NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota"`.

[2018-03-12 21:01] wattli commented on #3957
it's 76% now

[2018-03-12 21:01] #3957 closed

[2018-03-12 21:04] ldemailly commented on #3968
[code]

is/was 2 issues:

a) CA and Pilot taking a while to propagate and pick up certs (delay to come up issue)

b) port issues (permanent failure/never works)

my understanding is b) is not an issue in 0.6.0

can you confirm the issue persists for you ?

[2018-03-12 21:05] jilpansi opened #4210 "Attribute request.body/response.body"
Hi.

I'm trying to gather logs with fluentd from the mixer. With respect to the logentry, i'm trying to find a way to get the request and response body in addition to size and headers. So here are my questions:

1) Does Istio v0.6 have support for said attributes? I cannot seem to find it.
2) If it is supported, what is the data-type?
3) If not supported, is there any plan to support it in the nex

[2018-03-12 21:23] evandigby commented on #3398
I'm also hitting a wall trying to get Prometheus to scrape my deployments. It connects using pod IP directly.

Has someone been able to establish a work-around? I haven't been able to find one in my search.

This one surprised me due to the prevalence of Prometheus in the k8s world, and the fact that Istio itself expresses it's metrics through Prometheus.

[2018-03-12 21:26] ldemailly commented on #4194
k then gcs web should show timestamp in the browser's timezone - or label clearly as GMT :-)

can we still drop the seconds ?

I'll add the gmt thing to the wiki for now