[2019-08-05 12:31] winterTTr opened #16051 "Fluentd handler start failed if the fluentd server connection cannot succeed at first try"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Perfor

[2019-08-05 13:33] esnible commented on #15804
Notes from https://docs.google.com/document/d/1cO1TysDZca6e59Qq9VhcbPZXAcln0YxJZ9ssPVrwSiE/edit

Louis Ryan
`istioctl <type> <commands>` or `istioctl <commands> <type-specific-qualifiers>`

e.g.

[code]

vs

[code]

Examples of various patterns:
docker (former)
vagrant (former)
kubectl (mixed but verb set is CRUD
only)
gcloud (former)

Lin Sun
I think i prefer `istioctl <commands> + commands optio

[2019-08-05 13:49] howardjohn commented on #15981
There have been many many performance problems addressed since 1.3. Without
more details about what problems you are seeing it's hard to say

On Mon, Aug 5, 2019, 1:35 AM nokiabaitanik <notifications@github.com> wrote:

[2019-08-05 13:51] winterTTr commented on #16051
BTW, I just found that, the istio master branch don't use the fluentd logger package latest version, which support async better.

istio master branch:
https://github.com/istio/istio/blob/master/vendor/github.com/fluent/fluent-logger-golang/fluent/fluent.go
[code]

fluentd go package:
https://github.com/fluent/fluent-logger-golang/blob/master/fluent/fluent.go
[code]
Shall we upgrade to use the `asy

[2019-08-05 14:02] kinihun commented on #12602
Is there any plan to resolve this issue. It's still a blocker when using such a tool like kured. It results in a node being effectively locked out of action almost indefinitely.

[2019-08-05 14:36] bzurkowski commented on #8270
[code]

This one informs that a connection to Pilot has been closed by the Pilot:

[code]

Caused by `MaxServerConnectionAge` keepalive parameter, by default set to 30 minutes. It forces Pilot to close long-living connections every 30 minutes:

[code]

The parameter has been introduced in https://github.com/istio/istio/pull/10870 to improve rebalancing of clients to available Pilot instances:

**T

[2019-08-05 14:50] howardjohn opened #16052 "envoy_cluster_upstream_cx_active constantly increasing"
I have a cluster where the envoys get hot-restarted very often due to rotating certs. If I run a query for `envoy_cluster_upstream_cx_active{cluster_name="xds-grpc"}`, I see a constant increase proportional to the number of epochs.

This stat is supposed to be a gauge representing the active connections, but it seems to lie. If I check on the pod:
[code]

There is only one connection as expected.

[2019-08-05 15:00] morvencao commented on #16039
If I understand it correctly, this will be fixed in https://github.com/istio/operator/pull/149

[2019-08-05 15:22] Demonian commented on #9784
Yes, but this mean, that every statefullset should be in separate namespace, which is not super convenient in our case.

[2019-08-05 16:23] pitlv2109 commented on #14913
@myidpt This just needs a few lines of code, but we need to bump the support to k8s 1.3.

[2019-08-05 16:29] Morriz opened #16053 "OSX installation with make fails"
On OSX I get:
[code]

[2019-08-05 16:34] #15959 closed

[2019-08-05 16:36] esnible commented on #8270
The harmless message confuses operators because it appears at `warn` level.  Is there a way to rebalance that doesn't cause Envoy to log warnings?

Although the log claims the message is from _grpc_stream.h_ it is actually from _source/common/config/grpc_mux_impl.cc_ and it ALWAYS logs at warning level onRemoteClose().  Would Envoy accept a PR that lowered the level to `info`?

[2019-08-05 16:55] Monkeyanator commented on #13836
@edussx Yes, `--explicit-opt-in` will be removed entirely in the next release, and `--listened-namespaces` will be deprecated.

[2019-08-05 16:55] srettenmeier opened #16054 "Allow non-root deployment"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

Currently we're trying to install Istio in a managed on premises Kubernetes cluster. Therein it's not allowed to run containers as root user. Thus

[2019-08-05 17:11] ceastman-ibm commented on #15980
@kyessenov would https://github.com/istio/api/pull/765 help with my request above?

[2019-08-05 17:42] pitlv2109 opened #16055 "Enhance security integration tests"
Currently we're not:
* testing authN and authZ with SDS
* testing authZ with and without authN
* making the tests flexible enough so we can test against any CA (e.g. Citadel, Vault, external CAs, etc.)

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[

[2019-08-05 17:43] pitlv2109 commented on #16055
/cc @myidpt @JimmyCYJ since this may be related to the PKI reliability enhancement.

[2019-08-05 17:44] yangminzhu commented on #12496
Istio 1.0 is no longer supported: https://istio.io/blog/2019/announcing-1.0-eol-final/, could you try about newer version? (Istio 1.1 or 1.2) Thanks.

[2019-08-05 17:56] howardjohn commented on #16054
Thanks for the issue. This is being actively worked on right now (multiple PRs merged in last week) and should be ready very soon. I am going to close this as it is being tracked in https://github.com/istio/istio/issues/10768

[2019-08-05 17:56] #16054 closed

[2019-08-05 18:06] sdake opened #16056 "istio common: new build system requires a hacky workaround that needs a better resolution"
See review comments in:

https://github.com/istio/operator/pull/155#pullrequestreview-270899311

This work will eventually make its way to all repositories via common.  A better solution should be found for the remaining problems.

[2019-08-05 19:12] yuzisun opened #16058 "Getting RBAC denied for connection check without network filter"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Got denied after connection check and the actual rbac rule passed, however we did not turn on any network filter and wondering what filter it is che

[2019-08-05 19:17] sanamsarath opened #16059 "HTTP2 request on port 8080 with prior knowledge is being forwarded as HTTP1.1 by istio-proxy."
**Bug description**
We have development cluster deployed with istio 1.1.11, and all the outbound traffic from applications are rerouted via istio-proxy sidecars. We observed that the HTTP2 requests with prior knowledge on port 8080 are being forwarded as HTTP1.1 requests instead of HTTP2.

Tested running the same traffic on some random ports (e.g port 15021) and on app containers with no proxy sid

[2019-08-05 19:24] #12813 closed

[2019-08-05 19:24] howardjohn commented on #12813
Closing in favor of https://github.com/istio/istio/issues/12237

[2019-08-05 19:25] howardjohn commented on #14424
Fixed by #14497

[2019-08-05 19:25] #14424 closed

[2019-08-05 19:27] howardjohn commented on #13892
Fixed by #13905

[2019-08-05 19:27] #13892 closed

[2019-08-05 19:31] sudomann commented on #15292
@dwalton76 do you currently have a technique to get around this? I'm wondering how this is something that's only coming up now, like a multitude of others weren't already having this problem.

[2019-08-05 19:33] howardjohn commented on #14265
https://github.com/istio/istio/issues/14261 May have some more info, where they had a similar problem and resovled it.

[2019-08-05 19:45] howardjohn commented on #6146
Fixed by ALLOW_ANY mode ( the new default) https://istio.io/docs/tasks/traffic-management/egress/egress-control/#envoy-passthrough-to-external-services

[2019-08-05 19:45] #6146 closed

[2019-08-05 20:02] dwalton76 commented on #15292
@sudomann I did not come up with a work-around

[2019-08-05 20:33] arjav-desai commented on #13279
@esnible its still an issue. Using nodeport ip:port/grafana results in error page
![grafana](https://user-images.githubusercontent.com/19695134/62493195-237eca00-b796-11e9-8a50-ea052e5e4c28.png). The home page link results in "http://<nodeport ip:port>/?orgId=1" which works.

[2019-08-05 20:35] ericvn commented on #15333
I tried doing a `make lint` local and got the same _not found_ error @howardjohn mentioned above. I installed yamllint on my Mac (`brew install yamllint`) and it's found, but failing with errors as well:
[code]

[2019-08-05 20:45] howardjohn commented on #15333
This is going to be resolved once we move to containerized builds that @geeknoid and @sdake are working on

[2019-08-05 20:51] howardjohn commented on #11660
I believe this is working as intended. INBOUND_PORTS_INCLUDE is not always `*`, you can configure it with `traffic.sidecar.istio.io/includeInboundPorts`.

@silentdai is working on related topics if any more questions

[2019-08-05 20:51] #11660 closed

[2019-08-05 20:52] howardjohn commented on #12162
In 1.3 we have re-enabled PILOT_DISABLE_XDS_MARSHALING_TO_ANY, as after substantial testing we have not been able to see any negative impacts. This is assumed to be fixed because of this.

If you do run into any issues, please let us know ASAP

[2019-08-05 20:52] #12162 closed

[2019-08-05 20:55] howardjohn commented on #10360
In recent versions we have found and fixed a number of deadlocks, race conditions, repeated work, memory leaks, etc in the pilot pushing logic. The logic should be much more efficient and correct now.

If you are seeing this in newer versions (1.2+, preferably master/1.3 builds since they have a lot), please bring up a new issue with the details. Otherwise I don't think there is anything to do her

[2019-08-05 20:55] #10360 closed

[2019-08-05 21:00] howardjohn commented on #8270
@silentdai any idea if it is reasonable to just drop this to `info` level in Envoy side. tl;dr is this message occurs `onRemoteClose` every 30min and logs at warning level, when it is expected to occur every 30min in Istio.

[2019-08-05 21:03] howardjohn commented on #13944
This has been resolved, prometheus needs more memory than was given causing OOM. This is *not* the default, so not changes needed

[2019-08-05 21:03] #13944 closed

[2019-08-05 21:08] howardjohn commented on #14672
One way to fix a test flake - delete it https://github.com/istio/test-infra/pull/1594

[2019-08-05 21:08] #14672 closed

[2019-08-05 21:08] howardjohn commented on #15088
Fixed by #15254

[2019-08-05 21:08] #15088 closed

[2019-08-05 21:12] howardjohn commented on #12754
We only run prow now (no circleCI), and this is actually running in KinD and not just on a real GKE cluster, so I think this can be closed now

[2019-08-05 21:12] #12754 closed

[2019-08-05 21:13] howardjohn commented on #15092
Fixed https://github.com/istio/istio/pull/15081

[2019-08-05 21:13] #15092 closed

[2019-08-05 21:23] jnativio commented on #15899
After some more tests, I concluded that something in the underlying infrastructure has changed and that is likely the cause of the performance loss observed. To avoid the regression patrol to continue showing current and future builds as "regressed" in comparison with the previous baseline, I started a new landing page using 1.2.3 as the new baseline.
Closing this issue.

[2019-08-05 21:23] #15899 closed

[2019-08-05 21:24] myidpt commented on #16055
Pleas sync with Jimmy. I think this is in our Code Mauve plan.

[2019-08-05 21:26] ddrechse opened #16064 "istio-init doesn't remove CRDs on uninstall"
Using Istio 1.1.3

$ **helm install install/kubernetes/helm/istio-init --name istio-init --namespace istio-system**
NAME:   istio-init
LAST DEPLOYED: Mon Aug  5 17:19:13 2019
NAMESPACE: istio-system
STATUS: DEPLOYED

RESOURCES:
==> v1/ConfigMap
NAME          DATA  AGE
istio-crd-10  1     2s
istio-crd-11  1     2s

==> v1/ServiceAccount
NAME                        SECRETS  AGE
istio-init-service-ac

[2019-08-05 21:32] ayj commented on #15904
The apiserver constructed the DNS name from the validatingwebhookconfiguration (i.e. `<service>.<namespace>.svc`). In this case the name corresponds to the istio-galley instance in istio-system-2 namespace which is correct. However, Galley in namespace istio-system-2 is likely presenting a different SAN. Based on the secrets in `istio-dump/resources.yaml` it looks like galley's cert contains the s

[2019-08-05 21:38] richardwxn commented on #16040
most of the issues described here: #16029 come from pilot resources difference, so I can take this one to fix

[2019-08-05 21:39] richardwxn commented on #15243
the manifest-diff cmd was merged

[2019-08-05 21:39] #15243 closed

[2019-08-05 21:41] richardwxn commented on #15842
It was merged as part of manifest migrate command: [operator#132](https://github.com/istio/operator/pull/132)

[2019-08-05 21:41] #15842 closed

[2019-08-05 21:46] JimmyCYJ commented on #16055
The first two items are more on security policy side. @yangminzhu
About the third item, we already have integration tests using Citadel and Vault. To support other CA providers in the test framework, we need simple and robust configure option to select CA provider at Istio installation stage. That requires some efforts on installation and configuration change.

[2019-08-05 21:57] yangminzhu commented on #16055
Aren't the first two items already covered? I think we have e2e tests is setup to use SDS, @JimmyCYJ to confirm. I think we also already covers the AuthN + AuthZ flow, you could add tests for testing AuthZ only but I would put that as P2 for now.

[2019-08-05 22:26] JimmyCYJ commented on #16055
I just did a search, only sds_citadel_flow and sds_vault_flow are using workload SDS. The existing AuthZ and AuthN tests are using file mount secret. I think @pitlv2109 is asking AuthN and AuthZ with workload SDS enabled. We could find a way to make the existing test cases shared by file mount secret setup and workload SDS setup.

https://github.com/istio/istio/search?q=cfg.Values%5B%22global.sds.

[2019-08-05 22:28] pitlv2109 commented on #16055
Yea we don't test authZ and authN with SDS yet. That requires changing the prow job config in test-infra.

[2019-08-05 22:40] howardjohn opened #16065 "release-1.1-20190805-09-15 release blocked"
https://github.com/istio-releases/pipeline/pull/991

istioctl release test is failing. Error message is unclear

[2019-08-05 23:59] howardjohn commented on #16065
It is failing because tag is being set to  `1.1-07734dac4d8bbdac09a9c29c7afe0a407734dac4d8bbdac09a9c29c7afe0a40` but expects `istio-1.1-07734dac4d8bbdac09a9c29c7afe0a40`.. very weird that the SHA is basically repeated twice.

@utka I am trying to debug this but I can't figure out where the actual upload of  https://storage.googleapis.com/istio-presubmit-release-pipeline-data/daily/1.1-07734dac4d8b

[2019-08-06 01:11] zqzzq opened #16067 "The request of the application container was rejected by sidecar when sidecar was not ready"
**Bug description**
My app needs to make a request to another service when it starts, then due to iptables rule the request is redirected to sidecar, but at this time sidecar is not ready yet, so the request is rejected. Now I have to add a 30 second delay in my code to make this request. Is there a better way to solve this problem? Very thanks!
**Affected product area (please put an X in all that

[2019-08-06 01:48] edussx commented on #13836
@Monkeyanator Got it and thank you for the PR again. Let me close this issue.

[2019-08-06 01:48] #13836 closed

[2019-08-06 02:11] Roarain commented on #12456
@Morishiri Also encountered the same problem on Azure Virtual Network, but have no idea to solve it.Can you helo me ?

[2019-08-06 02:45] howardjohn commented on #16064
This is intentional, otherwise all resources you defined would be deleted when you do this could have very negative impact .

If you want to remove the CRD I believe the uninstall docs explain how

[2019-08-06 03:42] #15997 closed

[2019-08-06 04:19] KhoaNPA opened #16069 "Expose service on AKS via Istio Ingress"
**Bug description**
I tried to expose my services on AKS with Istio Ingress, but I think I misunderstand something when routing services.
When I test my api, it returns 500 error.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test a

[2019-08-06 05:13] #15793 closed

[2019-08-06 05:17] jacky-lk opened #16070 "istio/gogo-genproto rely github.com/gogo/protobuf v1.2.2 not publish"
**Bug description**
Our project rely istio to develop service mesh. Today we execute "dep ensure update -v " in our project. We find build error like the photo below:
![image](https://user-images.githubusercontent.com/50770015/62512595-24bdfe80-b84b-11e9-87b8-ac79213cf83c.png)
And we find the struct dose not define MarshalToSizedBuffer and then we check the version of "github.com/gogo/protobuf" is

[2019-08-06 05:28] clyang82 opened #16071 "Istioctl ps issue"
**Bug description**
`istioctl ps` get the data from pilot debug interface `debug/syncz`.
### before 1.1.0, the result is timestamp.
[code]
### after 1.1.0, the return value is uuid
[code]
There should has code error to parse the uuid to time
https://github.com/istio/istio/blob/1c5a959476abe1f5379fee49188f004b4aced931/istioctl/pkg/writer/pilot/status.go#L107:L120.

That is why we met the `STALE (Ne

[2019-08-06 05:31] clyang82 commented on #16071
Can we return the timestamp from pilot? if cannot, we may consider to just return `STALE` if `acked` is not equal to `send`

[2019-08-06 05:57] yangpeng14 opened #16072 "istio-sidecar-injector Injection error. version 1.2.3"
1.  helm  version
Client: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a73535276507c0", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a73535276507c0", GitTreeState:"clean"}

2. kubectl  version
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a5

[2019-08-06 05:57] nokiabaitanik commented on #15981
Okay. fine. we will update the istio version and check and if still it persists , will seek for help.
I am closing the ticket now.
Thanks for the help and information.

[2019-08-06 08:26] ShimiT commented on #14782
@howardjohn - After further validations, it seems that the new image gcr.io/peripli/pilot:issues-14782 fixes the memory leak in Pilot. is it possible to down port the fix to v1.2.3?

[2019-08-06 09:08] emedina commented on #13705
Also facing the same situation here. Retries are basically ignored when fault injection is in place.

[2019-08-06 11:42] c0d1ngm0nk3y commented on #15892
@howardjohn I am still not convinced that the current autoscaling behaviour makes sense. Here our assumptions and please point us to any error :)

* The calculation of the push context is cpu bound
* All pilots calculate the push context nearly at the same time

-> therefor, the sampling of the HPA might find all pilots with high CPU values
-> therefor, if the calculation of the push context takes

[2019-08-06 11:52] yogin16 commented on #10464
+1 for the above suggestions.

I agree that `VirtualService` is an improvement on `RouteRule` to not be giving `precedence` for every route. (https://github.com/istio/istio/blob/master/samples/bookinfo/networking/ROUTING_RULE_MIGRATION.md)

But for exactly the reasons outlined here: https://istio.io/docs/ops/traffic-management/deploy-guidelines/#multiple-virtual-services-and-destination-rules-for-

[2019-08-06 12:51] ramaraochavali opened #16073 "Metrics for Istio Sidecar Injector"
**Describe the feature request**

Currently Istio Sidecar Injector does not record and push any metrics. When Istio is deployed in large we want to know Injection failures so that we can monitor and create alerts. The feature request is to support the following metrics from Istio Side car injector to start with and later can be expanded
- istio_sideecar_injections_total
- istio_sidecar_injections_

[2019-08-06 13:23] mar1n3r0 commented on #13205
I am still getting the experiencing the same issue.
Are those changes synced now ?

[2019-08-06 13:43] howardjohn commented on #15892
Everything you said is correct, but the problem is that I have never seen a case outside of synthetic benchmarks where push context calculation takes more than 1% of CPU. Have you seen this?

In testing all real clusters pilot cpu is dominated by config generation for each proxy.

If you do have use cases where your context creation takes a large time, perhaps we should recommend some changes ther

[2019-08-06 13:54] howardjohn commented on #16073
Seems useful, but in most cases I've seen injection failing it's because kube cannot talk to the injector, which the injector could not report. Maybe kubernetes exposed a metric here

Do you see injector failing often when it is actually reached?

[2019-08-06 13:57] mar1n3r0 opened #16074 "gRPC config stream closed: 14, upstream connect error or disconnect/reset before headers. reset reason: connection failure"
**Bug description**

Follow up on a closed issue in an unknown state:
https://github.com/istio/istio/issues/13205

"This is fixed in envoyproxy/envoy#7505. I think this issue can be closed once those changes are pulled into Istio."

Didn't see it in the changelog of latest version 1.2.3. Updated, the issue still persists.

**Affected product area (please put an X in all that apply)**

[ ] Configur

[2019-08-06 13:57] howardjohn commented on #16072
Seems like you specified invalid options?

[code]

you escaped the `,`

[2019-08-06 14:35] ramaraochavali commented on #16073
Yes for the case where Kube can not talk to Injector Kube api provides metrics for the rest calls it makes including latencies. This is for the case injector failing for some bug/reason similar to https://github.com/istio/istio/issues/16072.

[2019-08-06 14:56] howardjohn commented on #16072
To be more clear, either annotation `traffic.sidecar.istio.io/includeOutboundIPRanges` or helm value `.global.proxy.includeIPRanges`

[2019-08-06 14:57] howardjohn commented on #16073
:+1: thanks, seems like something useful

[2019-08-06 15:05] ericvn commented on #15963
First PR: #16060

[2019-08-06 15:16] c0d1ngm0nk3y commented on #15892
Of course, it is artifical and kind of worst case scenario. But I saw from time to time in one of our long living test clusters nodes to be spawned because the pilot is scaling up to 5 replicas without any reason.
We are actually currently supporting some colleagues with a bigger scenario and they saw similar effects. But we have other / more serious problems with that than "just" some GBs of extr

[2019-08-06 15:32] howardjohn commented on #15892
Not really.

I completely agree with you pilot scaling is broken, I just disagree that it should be optimized around push context calculation. Rather, I think its just because pilot is so "bursty", because it does nothing, then gets a config update and tries to do everything all at once. This makes sense for pilot code, but the HPA doesn't handle it well

[2019-08-06 15:41] mandarjog commented on #16059
You did you name your service port to indicate that it was h2?

[2019-08-06 16:39] ceastman-ibm opened #16078 "redis with sentinel misreporting as 127.0.0.1"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
I have a three pod installation of redis, each pod is running redis and sentinel. The master redis node is showing 2 connected slaves but their ip a

[2019-08-06 16:42] ceastman-ibm commented on #16078
I also found this in the redis-0 logs:
[redis-0 istio-proxy] [2019-08-06 16:34:27.480][25][warning][config] [external/envoy/source/common/config/grpc_mux_subscription_impl.cc:73] gRPC config for type.googleapis.com/envoy.api.v2.ClusterLoadAssignment rejected: malformed IP address: redis.redis.svc.cluster.local. Consider setting resolver_name or setting cluster type to 'STRICT_DNS' or 'LOGICAL_DNS'

[2019-08-06 16:45] ceastman-ibm commented on #16078
redis service description:

Carls-MBP:istio carleastman$ kubectl describe svc redis
Name:              redis
Namespace:         redis
Labels:            app=redis
                   heritage=tiller
                   release=ace_redis_console_4
Annotations:       kubectl.kubernetes.io/last-applied-configuration:
                     {"apiVersion":"v1","kind":"Service","metadata":{"annotations":{},

[2019-08-06 17:45] esnible commented on #16078
I am not a Redis guy.  How do I ask Redis for a list of slaves?

I attempted to reproduce the problem.  I installed from the Helm chart.  The master worked fine, the slaves did not see the value for `mycounter`.  I used the instructions from the Helm install:

[code]

The final `(nil)` demonstrates the problem.  The slaves don't have the data.  If you wish to repeat what I did note that Helm will

[2019-08-06 17:46] ceastman-ibm commented on #16078
@esnible i log into one of the redis pods and run:
redis-cli info

[2019-08-06 17:50] ddrechse commented on #16064
Hey, Tnx for the update. RTFM

Follow up question

After uninstalling istio and istio-init, i noticed the CRDs still there which has been covered

I then reinstalled istio w/o installing istio-init first
and istio seemed to come up fine

Is istio-init always required prior to installing istio?  Or is it a one time thing?

Thnx

[2019-08-06 17:52] howardjohn commented on #16064
istio-init just installs the CRDs, so assuming you are installing the same version and same settings, then the CRDs will remain the same so you don't need to install it.

That being said, you may want to as we may add other things to istio-init

[2019-08-06 17:52] esnible commented on #16071
In addition to fixing this issue we need an integration test for `istioctl proxy-status` to prevent this from happening again.  I believe we currently have only a Go/unit test.

[2019-08-06 17:54] ddrechse commented on #16064
Thanks

[2019-08-06 17:54] #16064 closed

[2019-08-06 17:56] nmnellis commented on #13240
Im wondering if its due to the below? found here https://istio.io/docs/reference/config/networking/v1alpha3/service-entry/#ServiceEntry
[code]

[2019-08-06 18:01] silentdai commented on #11660
I suggest you can either
- set `traffic.sidecar.istio.io/includeInboundPorts` and istio would set `INBOUND_PORTS_INCLUDE` to "*" and activate `excludeInboundPorts`, or
- leave `traffic.sidecar.istio.io/includeInboundPorts` empty and istio would set  `INBOUND_PORTS_INCLUDE` to containerPort and don't use `excludeInboundPorts` in this case.

[2019-08-06 18:01] esnible commented on #16078
For me, `/opt/bitnami/redis/bin/redis-cli -a $REDIS_PASSWORD info | grep slaves` gives `connected_slaves:0`.  You are getting further than me.

For me, `kubectl logs <slave-pod> -c existing-waterbuffalo-redis` reports

[code]

[2019-08-06 18:12] #15060 closed

[2019-08-06 18:16] sanamsarath commented on #16059
The traffic is destined to server external to my cluster and we don't have egress gateway configured yet and so no service port exists. The curl request has hard coded ip address of the destination server.

[2019-08-06 18:42] #16017 closed

[2019-08-06 18:59] andrewjjenkins commented on #15171
I ran into https://github.com/envoyproxy/envoy/issues/7839 and am working on an alternative implementation approach in the meantime.

[2019-08-06 19:03] eyeezzi commented on #15991
@howardjohn Thanks for that resource, indeed the configuration reversal was due to GKE's weird behaviour. Installing Istio manually did not exhibit this reversal. Such important deviation from the norm should be made explicitly clear on the GCP Console when enabling Istio...but that is an issue for the GCP team.

I consider this issue resolved. Thanks.

[2019-08-06 19:03] esnible commented on #15242
FYI: Operator CLI reference at https://docs.google.com/document/d/16SWW14zrwFKc9OzH6biMQD1u9INllzMa56jde9vgQkM

[2019-08-06 19:04] #15991 closed

[2019-08-06 19:05] esnible commented on #15804
The Istio Operator CLI is proposing `istioctl <category> <type> <verb>`.  See  https://docs.google.com/document/d/16SWW14zrwFKc9OzH6biMQD1u9INllzMa56jde9vgQkM/edit (Operator CLI reference, Martin Ostrowski)

Here is a summary of those proposed commands:

[code]

[2019-08-06 19:11] esnible commented on #15804
The Istio MC Operator CLI uses, I think, `istioctl <type> <verb>`.  See https://docs.google.com/document/d/1ZwZ4KrE2pvcrdE1FVLke6ZMIAfC3y8_SYTzk6K2U9aQ (Multi-cluster mesh operator support proposal, Jason Young)

Here is a summary of those proposed commands

[code]

[2019-08-06 19:13] geeknoid commented on #16070
Sorry, we need the currently latest bits of gogo/protobuf for Istio to work, otherwise we had been encountering a code generation bug. The change we need is after 1.2.1 and 1.2.2 hasn't been released officially yet, so we took a direct  depending on a specific SHA.

Additionally, gogo has changed their code generation a bit. You cannot combine code generated from a previous version of gogo with co

[2019-08-06 19:13] #16070 closed

[2019-08-06 19:43] rmichela commented on #14797
A heavy handed workaround for this bug is to disable the Galley validating webhook altogether.

If installing Istio with Helm, install with `--set global.configValidation=false`.

[2019-08-06 19:58] ZacharyJoswick commented on #15302
I'm having a similar issue. I have a godaddy wildcard certificate and am using the tls simple mode. My browser (google chrome) is able to authenticate with the server as it already contains the intermediate certificates. However, curl and docker cannot access the server without manually installing the ca.crt onto my laptop.  If anyone has a better way to handle this I'm all ears.

[2019-08-06 20:11] howardjohn opened #16083 "Vague Envoy warning: Skipping unsupported runtime layer: name: "base""
Proxies are now logging

[code]

It is not clear what this means. Is this an error that we should be concerned about

[2019-08-06 20:35] ostromart commented on #15242
We now have an tech writer (Adam Miller) that will own this item, based on the draft material I've created. This issue is now moved to istio/istio.io https://github.com/istio/istio.io/issues/4744

[2019-08-06 20:35] #15242 closed

[2019-08-06 21:15] woodcockjosh opened #16085 "Add CRDs to istio helm chart instead of istio-init"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
I believe the CRDs were initially moved to istio-init because of the helm CRD hook bug. As it is now fixed we should move the CRD's back into the templates so that the chart can actually be used as a dependency without additional set up steps.

**De

[2019-08-06 21:20] howardjohn opened #16086 "istio/installer demo broken by rootless, sidecar injector crash loop"
Sidecar injector fails with error: ` Health check update of "/tmp/health" failed: open /tmp/health: no such file or directory`

Not sure if this is fixed by @costinm recent changes or not?

[2019-08-06 21:23] yangminzhu commented on #15714
It seems the post submit is still failing, https://storage.googleapis.com/istio-prow/logs/proxy-postsubmit/642/build-log.txt

[code]

[2019-08-06 21:24] yangminzhu commented on #15714
@utka @cjwagner Could you take a look? thank you.

[2019-08-06 21:24] arjav-desai commented on #13279
I have been trying to narrow this down and wanted to provide an update. I think there are 3 ways discussed here so far to access grafana/prometheus which uses "contextPath" option on istio install.

1. NodePort Service
This was tried as ingress didn't work. However, NodePort will not work/honor contextPath as the way NodePort service is created
`kubectl expose deployment grafana --type=Nodeport --

[2019-08-06 21:31] kyessenov commented on #15714
The latest finding is that `bazel` fails to create the convenience symbolic links (e.g. `bazel-bin`). Did we change permissions in the container?

[2019-08-06 21:52] nmittler opened #16087 "[Testing] Design Istio Conformance Test Suite"
We need to design the suite of tests that will define conformance with the Istio spec.  We can start by including some/all of the integration tests we have today (reachability, rbac, etc.).

This can be a doc for now.  We can follow this on with a separate issue to implement the integration tests using the test framework.

[ ] Configuration Infrastructure
[x ] Docs
[ ] Installation
[ ] Networking

[2019-08-06 22:10] myidpt commented on #15714
Raise this issue to P0 since we have P0 task blocked by this.

[2019-08-06 22:21] sushicw commented on #15904
After talking with @ayj offline, I was able to solve this by adding ```--listened-namespaces=default-1``` to the command line args in istio-citadel. Thanks Jason!

[2019-08-06 22:21] #15904 closed

[2019-08-06 22:37] silentdai commented on #8270
Not a grpc lawyer. An analogy is that HTTP protocol it's always worth noticing when the connection is closed by remote.
It indicates pilot is actually break the protocol for a good reason.

Let me give it a try on envoy

[2019-08-06 23:01] sushicw commented on #12077
I'm happy to put this in a more appropriate place once I know where that is, but in the meantime, here are steps to follow. This assumes you want namespace ```istio-system-1``` managing ```default-1``` and ```istio-system-2``` managing ```default-2```

  * Create a modified istio.yaml for ```istio-system-1```:
    e.g.
[code]
  * Modify ```istio-1.yaml``` to include a unique webhook name in the ga

[2019-08-07 00:00] costinm commented on #16086
It seems to be passing in installer, will look into it.

[2019-08-07 00:13] pitlv2109 commented on #16032
There are a couple of things:
1. It takes time for Envoy config to get propagated to the Istio proxy sidecars.
2. When there is a new config change, the old one doesn't get removed right away, so sometimes the old one gets chosen instead. This happens with RBAC config, so I think it can happen with authN config or any other Envoy config.

So you may need to wait 1-2 minutes for things to work corr

[2019-08-07 00:13] howardjohn commented on #16086
It breaks for me when doing just `kubectl apply -k github.com/istio/installer/test/demo`

[2019-08-07 00:16] costinm commented on #15541
done

[2019-08-07 00:16] #15541 closed

[2019-08-07 00:25] vadimeisenbergibm commented on #16032
OK, I see, it works for me now. I would add a warning at istio.io about it.

[2019-08-07 00:34] #16032 closed

[2019-08-07 02:20] yangpeng14 commented on #16072
Thank you. "192.168.16.0/20\,192.168.32.0/20"  one more /

[2019-08-07 02:21] #16072 closed

[2019-08-07 02:21] yangpeng14 commented on #16072
resolved

[2019-08-07 02:23] yangpeng14 commented on #16072
Thank you, "192.168.16.0/20\,192.168.32.0/20" one more / .

[2019-08-07 02:47] clyang82 commented on #16071
/assign

[2019-08-07 03:09] #13150 closed

[2019-08-07 03:14] jacky-lk commented on #16070
Thanks for your reply on this issue. We have rollbacked 'go-control-plane' version to 0.8.2 to solve this problem. Now our project is ok.

[2019-08-07 03:26] tiggerlee2 commented on #15620
@howardjohn @rshriram You are right. It only redirects **172.20.0.0/16,172.21.0.0/20** to envoy.
Thank you very much for your help.

[2019-08-07 03:26] #15620 closed

[2019-08-07 04:32] Kampe commented on #6593
The hosts can be whatever you like, think of giving the IP a DNS record.

[2019-08-07 07:38] hzxuzhonghu opened #16093 "TestEds/CDSSave flake"
There is a race
[code]

[2019-08-07 07:45] sdake commented on #16001
From reading the PR, it appears that docker 18.03 produces different results than docker 18.09.

This requires more investigation - marking as a P0 release blocker.

[2019-08-07 07:54] edussx opened #16094 "Ingressgateway pod suddenly returns 503s for all the incoming requests and crashes afterwards"
**Bug description**

we have Istio 1.1.11 deployed(4 Ingressgateway + 3 Pilot setup) and it's running for a while without a problem. But early today we noticed one(and only one) ingressgateway started returning 503 to all the incoming requests:

[code]
And then this Ingressgateway pod got recovered and started working normally.

Our Pilot pods also kept crashing as https://github.com/istio/istio/i

[2019-08-07 07:56] naphta commented on #13240
Just to update and maybe help someone else in my situation. My problem was I deployed the helm charts with mTLS enabled initially, but after disabling mTLS and rerunning the helm deployment it did not clean up the default policy which was superceeding any configuration I was putting in place.

[2019-08-07 08:17] caofb commented on #13241
+1

[2019-08-07 10:04] PiotrSikora commented on #15714
`proxy-postsubmit` should be fixed by istio/proxy#2345, but it would be a good idea to fix the underlying issue with symlinks. How come we're mixing `/home/bootstrap` and `/home/prow`?

[2019-08-07 11:39] safvankothawala opened #16098 "Enable wait time between retry attempts in Virtual Service configuration"
**Enable provision of wait time between retry attempts in Virtual Service Configuration**

**Describe alternatives you've considered**
The workaround is to increase the retry attempts.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[X] Policies and Telemetry
[ ] Security
[ ] T

[2019-08-07 12:09] #13167 closed

[2019-08-07 12:38] paulfrench opened #16099 "Trigger Rules not working as expected"
Istio 1.2.2
Kubernetes 1.14.3
Docker for windows (windows 10)

I'm applying a policy to a service. I want jwt authentication to only apply to certain paths

The below works fine, any path starting with  /base/jclient/remoting gives me "Origin authentication failed" as expected

[code]

However I want to exclude the path /base/jclient/remoting/validateInstall so I simply amend to...

[code]

Now al

[2019-08-07 12:55] winds6206 opened #16100 "Custom istio-ingressgateway"
Hello

I have installed istio in my GKE.
istio-ingressgateway can get a public IP in GKE, but if I wanna mutiple istio-ingressgateway to get different public IP just like Kubernetes ingress object.

How do I create multiple istio-ingressgateway?

Thanks a lot!!

[2019-08-07 13:08] paulfrench commented on #16099
This works as expected, I can call /base/jclient/remoting/validateInstall
[code]
...but is not what I want. If I now put to what I require...
[code]
...I can no longer call /base/jclient/remoting/validateInstall, I get a 401

[2019-08-07 13:16] mar1n3r0 commented on #16074
Solved by aligning the ports between the deployment and the canary which was creating the virtual service with the wrong ports.

[2019-08-07 13:35] paulfrench commented on #16099
More strange behavior the following 2 paths are treated differently

/base/jclient/remoting
/base/jclient/remoting/

If I use one of these paths as an included_path then the other path is accessible

[2019-08-07 14:06] geeknoid opened #16101 "Switch the installer repo from CircleCi+Mergify to Prow+Tide"
Need to switch to our official CI pipeline.

[2019-08-07 14:40] duderino commented on #15714
Nice one Piotr!

On Wed, Aug 7, 2019 at 3:05 AM Piotr Sikora <notifications@github.com>
wrote:

[2019-08-07 15:00] stevehipwell opened #16103 "Kiali can't get meshpolicies.authentication.istio.io"
**Bug description**
When installing and accessing Kiali via a Helm deploy I'm getting the following error message.
![image](https://user-images.githubusercontent.com/6552347/62632317-332f1780-b92a-11e9-87d3-fa08c2de49f8.png)

This can also be seen in the Kiali logs.

I0807 14:38:42.182276       1 kiali.go:68] DEBUG: Kiali: Command line: [/opt/kiali/kiali -config /kiali-configuration/config.yaml -v

[2019-08-07 15:13] treedy commented on #15826
Ping @rshriram ?

[2019-08-07 16:19] rmichela commented on #14797
Here's a specific example of where this bug causes problems:

*Deployment*
[code]

*DestinationRule*
[code]

*VirtualService*
[code]

* The `DestinationRule` referring to the `app.kubernetes.io/version: 1` label doesn't work and routes aren't published.
* If I replace `app.kubernetes.io/version: 1` with `version: 1` in the `Deployment` and `DestinationRule`, routing correctly resumes.

[2019-08-07 17:15] aerotog commented on #14885
I believe the RBAC Gateway hidden feature is the root cause of a problem we encountered this week when upgrading from Istio 1.1.9 to 1.2.3. After upgrading, we were getting RBAC 403 responses whenever using our Ingress Gateways. After some testing, we fixed the problem by disabling RBAC for Istio's namespace (istio-system by convention).

We have RBAC configured with EXCLUSION and its on by defaul

[2019-08-07 18:24] arjav-desai commented on #13279
@mklettner Can you please share your VS created for grafana as well as the way you access it (browser or curl url)?

I tried adding those to variables by editing grafana deployment in istio-system as well as create VS for grafana, but I always get 404. It seems I am running into https://github.com/grafana/grafana/issues/16135 and this issue is not fixed until grafana 6.2.x.

[2019-08-07 18:25] #15994 closed

[2019-08-07 19:10] nesl247 opened #16107 "Gateway does not register port 443 if another gateway does with the same hosts"
**Bug description**

I have 2 `Gateway` objects, one for external and one for internal traffic. Both of these are set to `*` for the hosts on both port 80 and 443. With this configuration, only a port 80 is listened on for the `external` `IngressGateway`. On the internal one, 443 is also listened to.

[code]

[code]

[code]

**Affected product area (please put an X in all that apply)**

[ ] Config

[2019-08-07 19:19] yangminzhu commented on #15714
@PiotrSikora Thanks for helping on this. It seems the post-submit works after istio/proxy#2343 but it failed again on https://github.com/istio/proxy/pull/2346, would you mind to take a second look?
[code]

[2019-08-07 20:06] vsquare1 opened #16109 "AWS ELB - Istio IngressGateway TLS SDS - Connection Issue"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

I have installed Istio 1.2.2 on AWS EKS and enabled TLS on Istio IngressGateway with SDS.

Created Secret with the my company signed certificate.

[2019-08-07 20:50] #16093 closed

[2019-08-07 20:51] kbruner opened #16110 "rewriteAppHTTPProbers Annotation Does Not Seem to Work"
**Bug description**

Adding the `sidecar.istio.io/rewriteAppHTTPProbers: "true"` does not actually make health checks on services with mTLS enforcement on work.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User

[2019-08-07 21:06] ceastman-ibm commented on #8619
@samwyma thank you for the hope for a 401 redirect, im trying to use your code but it doesnt seem to be working. would errors be in the istio ingress pods?

[2019-08-07 21:08] PiotrSikora commented on #15714
Sigh, it looks that as part of `proxy-postsubmit` we have:
- `scripts/release-binary.sh` step that builds binaries and Debian packages and pushes them to `gs://istio-build/proxy`,
- `make artifacts` step that builds Debian package (using slightly different options) and pushes it to `gs://istio-artifacts/proxy/${GIT_SHA}/artifacts/debs`.

But the real issue is that we use `clang` everywhere, but `m

[2019-08-07 21:12] eyeezzi commented on #13578
@vadimeisenbergibm, can you give example YAML files for this TLS origination you talk about. I couldn't find any in the documentation you linked.

[2019-08-07 22:17] ceastman-ibm commented on #15980
the code sample supplied by @samwyma in https://github.com/istio/istio/issues/8619 got me fixed up.

[2019-08-07 22:17] #15980 closed

[2019-08-07 22:40] liminw commented on #15868
@nrjpoddar As discussed in today's security WG meeting, alternatively, you can use authorization policy to express the condition in your use case. With the current authorization policy, you can write the following:

[code]
You can write the same RBAC policy for "/review" path.

When we move to [new AuthorizationPolicy design](https://docs.google.com/document/d/1diwa9oYVwmLtarXb-kfWPq-Ul3O2Ic3b8Y21

[2019-08-07 22:55] PiotrSikora commented on #15714
Fixed in istio/proxy#2347.

[2019-08-07 22:57] djazayeri commented on #15849
Changes:

* Call this “Mesh ID” (not “Mesh UID”)
* Admin can specify this in values.yaml; the value is eventually exposed in the istio-sidecar-injector ConfigMap (not in MeshConfig)
* Default value when not specified by the admin will be the mesh’s Trust Domain. (Do not autogenerate a UUID.)

See https://discuss.istio.io/t/proposal-adding-mesh-uid-for-telemetry/3118/3

[2019-08-07 22:59] #15714 closed

[2019-08-08 00:14] #14349 closed

[2019-08-08 00:15] incfly commented on #16110
Are you using auto injection or istioctl kube-inject?

[2019-08-08 00:28] howardjohn commented on #16107
Can you get pilot logs and grep for `gateway-external` and `gateway-internal`?

[2019-08-08 00:46] kbruner commented on #16110
Auto injection @incfly

[2019-08-08 01:10] vadimeisenbergibm commented on #13578
@eyeezzi The example configuration is described in https://istio.io/docs/tasks/traffic-management/ingress/secure-ingress-mount/#configure-a-tls-ingress-gateway-with-a-file-mount-based-approach. Ingress Gateway performs TLS termination. The (mutual) TLS origination is performed by default when it is enabled in the mesh. To enable TLS origination inside the mesh - https://istio.io/docs/tasks/securit

[2019-08-08 01:39] ekuefler commented on #8772
This would still be very valuable to have, is there any way someone can pick it back up?

[2019-08-08 02:07] clyang82 commented on #16001
I think that is related with the binary permission. I did test before, even the binary does not have execute permission, it can be executed in 18.03 runtime. We should give the binary correct permission to ensure it can be executed in each docker runtime.

[2019-08-08 02:20] nesl247 commented on #16107
[code]

[2019-08-08 02:28] nesl247 commented on #16107
Also not sure if this helps at all

[code]

[2019-08-08 02:51] howardjohn commented on #16107
that is useful.. seems the internal one which has the problem has no certs. which is interesting because they use the same certs it looks like?

Is the "external" one the default that came with Istio then you installed another one as well? maybe the internal one is misconfigured in a way to not get the certs properly

[2019-08-08 02:56] nesl247 commented on #16107
The external is the one without the certs. And yes, it uses the same certs. There is very little different between the external and internal. The external is the default one that GKE installed. I copied the yaml and deployed that with just the change to the name and the GCP internal load balancer annotation so it would be internal.

Testing this so far, and if I change the `hosts: ['*']` in the `h

[2019-08-08 02:59] nesl247 commented on #16107
Yes, that did fix it. The only thing I can think of is that the Cloud Run on GKE addon is causing this. It depends on istio, and my guess is it is doing some stuff that it shouldn't be. I had issues in the past with this until GKE finally upgraded to istio 1.1.

Because GKE keeps it's versions so outdated of istio, I can't tell if a newer version of istio 1.1 fixes the issue.

[2019-08-08 03:09] sniperking1234 commented on #15579
@hzxuzhonghu This happened again but I don't know how to reproduce it. What configuration do you need?

[2019-08-08 03:10] sniperking1234 commented on #15579
@hzxuzhonghu This happened again but I don't know how to reproduce it. What configuration do you need?

[2019-08-08 03:20] irisdingbj opened #16123 "istioctl verify-install panic if failed to connect to k8s API server"
istioctl verify-install panic if failed to connect to k8s API server

[2019-08-08 05:54] ckcd commented on #12518
/assign

[2019-08-08 05:56] ckcd commented on #12518
/assign @ckcd

[2019-08-08 05:57] ckcd commented on #12518
Interest in it. will do some works for it.

[2019-08-08 06:43] Morishiri commented on #12456
@Roarain We're provisioning clusters via aks-engine. This should generate proper route table for you. All you need to do is then assign it to subnet in your virtual network and all should work. Here is some docs on that: https://github.com/Azure/aks-engine/blob/master/docs/tutorials/custom-vnet.md#post-deployment-attach-cluster-route-table-to-vnet

[2019-08-08 07:12] Stono opened #16125 "Istio-proxy complaining about envoy missing listeners"
**Bug description**
We had some strange behaviour with a few applications this morning.  I tried to debug it but didn't get anywhere so wondering if anyone else has seen this happen.

I'll just talk through one specific use case but this happened on 3 different apps.

Take this deployment:

[code]

As you can see, one of them started 47 minutes ago, that one started alerting that istio-proxy is us

[2019-08-08 07:25] sebarys opened #16126 "Setting istio sidecar proxy resource request/limit"
Hello :)

**Describe the feature request**

Is there an option to set istio proxy sidecar request/limits per application (Pod)? For some of our applications we would like to use Guaranteed QoS (https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/) that require setting `limit == request` for all Pod containers. Without such functionality we're loosing this feature.

**Descr

[2019-08-08 07:47] zqzzq opened #16127 "Request all services listening to a same port within the cluster get 404"
**Bug description**
In my cluster, I make a request to the services who listen to port 8080, but all get 404, however, the services who listen to other port can request normally. For example, I have a service listening to 8080 and 8087:
[code]
then I make a request to this service from another pod which has a sidecar:
[code]
we can find the 8080 gets 404 and the 8087 is fine. The logs of the sidec

[2019-08-08 09:24] jerriclynsjohn commented on #10547
Looking forward for this, right now I'm still handling the verification in my service itself, this is really an essential add on to end-user authentication and authorization in Istio.

[2019-08-08 09:57] chr15murray opened #16129 "CEXL pipe (non-empty handling) and conditionals"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
When creating a custom metric I'm attempting to use a CEXL expression to manipulate an attribute and truncate it. The logic I need requires multiple

[2019-08-08 10:17] navneetyps opened #16130 "Dynamic percentage based traffic routing with istio"
**Describe the feature request**
I want to use istio for doing blue green deployment but i don’t want the traffic percentage to be static. I want it to be variable acccording to some logic i apply For example i want the logic to be http error count in both versions and the one with lower error count would get a higher traffic percentage. Can this be accomplished via some istio feature or has to be

[2019-08-08 10:40] kinihun commented on #9504
Sorry if I'm repeating something already discussed but I noticed this same error occurs when I set a `Default Policy` on a namespace enabling `mtls`.

**Background**
I have `mtls` enabled cluster-wide however my services are unreachable even with `Traffic Policy` defined in the `Destination Rules`. However if I deploy a default or service-specific `Policy` enabling `mtls` at the namespace level, I

[2019-08-08 11:02] mklettner commented on #13279
@arjav-desai I've added the virtualservice to my previous comment. The trailing slash was necessary. Please let me know if it works, I am not sure about the rewrite and can't test it now.

[2019-08-08 12:06] morvencao opened #16132 "[Operator] security components should be deployed to istio-system namespace"
Currently operator will deploy security components in `istio-security` namespace, while istio/installer will never create that namespace, see: https://github.com/istio/installer/blob/master/crds/templates/namespaces.yaml

That will result in difference when `make mandiff`:
[code]

I have submitted a [PR](https://github.com/istio/installer/pull/301) to create `istio-security` in istio/installer, bu

[2019-08-08 12:06] morvencao commented on #16132
@ostromart Any comments?

[2019-08-08 13:11] mbanikazemi commented on #10053
Cassandra works with Istio. The only Cassandra configuration that needs to be changed is setting CASSANDRA_LISTEN_ADDRESS to "127.0.0.1" as suggested above. Another issue to keep in mind is having ports specified in the Cassandra's  headless service again as suggested above by @diemtvu.
MTLS can be enabled or disabled for Cassandra as it is done for any other service in Istio. Both options works w

[2019-08-08 13:18] mbanikazemi commented on #7495
headless services work Istio as expected. I am going to close this issue.

[2019-08-08 13:31] mbanikazemi commented on #10659
Stateful sets work fine as long as the corresponding headless service (clusterIP: None) contains the ports information. No need for service entries or anything else. Istio mtls can be enabled/disabled as usual. The only caveat is that stateful sets should avoid sharing ports.

[2019-08-08 13:59] c0d1ngm0nk3y commented on #15892
It is probably a valid point that this scenario is somehow special. Although, it might not be as artificial when thinking of disaster recovery.

I would suggest to keep the scaling behaviour of pilot as it is (I'm still convinced it is broken though :)). In a scenario where the push context calculation is very expensive, turning off the autoscaling feature is another option.

[2019-08-08 13:59] #15892 closed

[2019-08-08 14:06] howardjohn commented on #15892
If you come up with better ways to autoscaling pilot I'm all ears - it is
broken I just don't know how we can do better

On Thu, Aug 8, 2019, 7:00 AM Ralf Pannemans <notifications@github.com>
wrote:

[2019-08-08 14:31] johnma14 commented on #15933
This has been fixed and merged. Thanks.

[2019-08-08 14:31] #15933 closed

[2019-08-08 14:37] howardjohn commented on #16126
You can set requests per proxy with `sidecar.istio.io/proxyCPU` and `sidecar.istio.io/proxyMemory` annotations, but doesn't look like we have one for limits.

[2019-08-08 15:02] nitishm commented on #15517
Any activity on this request ?

[2019-08-08 15:08] argeualcantara commented on #11131
@lucasponce @frankbu @douglas-reid This information about gateways needing to have <namespace>/my-gateway should be updated in this doc here: https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#HTTPMatchRequest

[2019-08-08 15:17] sauragrawal opened #16134 "Allow longest prefix match"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Currently First matched prefix in virtual services is used for a given host, It will be good if we can have a feature that allows longest path match.

Ex: say for host foo.bar,  we have two paths /anything and /anything/football
any request like /an

[2019-08-08 15:19] howardjohn commented on #16134
To add some more context -- this is mostly useful for VirtualServices that are merged. If they aren't merged you can just do it yourself easily

[2019-08-08 16:15] howardjohn commented on #15987
Oz is on vacation if anyone else can help with this one

[2019-08-08 16:38] andrewjjenkins commented on #10659
@mbanikazemi another caveat is that you cannot currently use mTLS if a Pod in a StatefulSet wants to connect to its own PodIP (https://github.com/istio/istio/issues/12551).  This is common in many Kafka configurations.

[2019-08-08 16:55] #13142 closed

[2019-08-08 17:01] nrjpoddar commented on #15868
Thanks @liminw. This is very helpful and gives us a way forward for now. However, we should discuss on the issue the long-term strategy and if we are going to keep `audiences` in JWT but remove `trigger_rules` and use Authorization APIs for those.

[2019-08-08 17:19] ayj opened #16137 "Document version skew policy for upgrades and downgrades"
Kubernetes has a documented [version skew policy](https://kubernetes.io/docs/setup/release/version-skew-policy/) for their components. Istio should do the same. Its often not clear which versions of the control plane, proxy, and istioctl are compatible with one another. In particular, we frequently rely on "use the latest istioctl version" which may not work during upgrades/downgrades when the dat

[2019-08-08 18:04] silentdai commented on #16094
At envoy start envoy would wait cluster ready before LDS.

Once envoy is ready, the order guarantee is delegate to ADS which is implemented by pilot. If the pilot is crash looping it's possible that a cluster config is gone when envoy listener needs that cluster.

[2019-08-08 18:12] silentdai commented on #16094
I would assume a mixer cluster normally should not disappear.
[code]

There might be an issue other than multipush.

It's either pilot pushes CDS with no mixer cluster or envoy apply the cluster update wrongly.

[code]
Any other suspiciously log on master thread (thread id 414)?

[2019-08-08 18:20] c0d1ngm0nk3y commented on #15892
That brings it to the point I think. Will do, but this conversation makes it much clearer for me. Thanks.

[2019-08-08 18:28] liminw commented on #15868
@nrjpoddar Glad to hear that it solves your current issue.

The new authorization API is approved and we plan to ship it in the coming releases. We are still actively discussing the new authentication policy spec. We appreciate any feedback and comments.

IMO, I prefer keeping authentication policy simple, e.g., the "jwt" section should only include the issuer definition (and allowed audiences for

[2019-08-08 19:23] kyessenov opened #16141 "eds: quadratic asymptotics"
It was discovered as the number of endpoints grows in a service, the amount of work done by new endpoint is linear in the number of endpoints. This means that EDS performs quadratic amount of work and presents a scalability problem.

/cc @howardjohn

[2019-08-08 19:39] #15852 closed

[2019-08-08 20:26] therealmitchconnors opened #16143 "istio/pkg/viperconfig/ProcessViperConfig duplicates slice and array vars"
TL;DR: Using ProcessViperConfig() results in duplication of all default slice and array flag values.

## Explanation
The viperconfig package is designed to allow users of cobra command line args to quickly add viper config sources to their executable.  Ideally, this can be done by adding one line of code per root command, which iterates over all sub-commands, binding their cobra flags to viper, an

[2019-08-08 20:55] #13068 closed

[2019-08-08 21:50] incfly commented on #16110
I can't reproduce it. I'm using 1.2.2 and default `istio-demo.yaml` installation. I'm using the same deployment YAML you're using.

I see the injected pod having the expected podSpec liveness probes rewritten, as

[code]

[2019-08-08 21:50] incfly commented on #16110
I would suggest do double check your sidecar injector is updated to 1.2.2 and also it's using webhook auto injection.

[2019-08-08 21:54] incfly commented on #16110
Hmm, even though I see the pod spec has been rewritten, but now I do see the pod/container is crash looping.

[2019-08-08 22:13] incfly commented on #16110
Notes to myself, I observed that with

[code]

I see the error log from `istio-proxy`

[code]
Need to see why connection to app on port 5000 fails.

[2019-08-08 22:19] howardjohn opened #16148 "Migrate tests from boskos to kind (dashboard + multicluster)"
Using this to track effort and progress towards migrating most/all of our tests off of boskos

#16089
#16105
#16062
#15464

[2019-08-08 23:36] ostromart opened #16151 "make mesh broken for Linux"
make mesh
make[1]: Entering directory '/usr/local/google/home/mostrowski/go/src/istio.io/operator'
go generate ./cmd/mesh.go
writing ../pkg/vfsgen/vfsgen_data.go
go build -o /mesh ./cmd/mesh.go
go build command-line-arguments: open /mesh: permission denied

It can be fixed by running make updatecommon but we need some way to fix the root cause or clearly document in case devs hits this issue.

[2019-08-09 00:24] edussx commented on #16094
Yes we do noticed CDS is ready before LDS. And most of Ingressgateway pods are very slow to be ready upon start and showing they're waiting for LDS update:
[code]
This process usually takes ~5 mins but in worst case it can take up to ~40 mins.

I suspect so. I guess all the clusters were missing for some reasons when 503 started appearing. But this issue was reported by my colleague so I don't kno

[2019-08-09 00:34] canthefason commented on #12951
I had a similar issue on a GKE cluster and punching a firewall rule to grant masters GKE node access for all tcp ports solved it for me.

[2019-08-09 00:54] howardjohn opened #16155 "istio/installer references `non.existent.cluster`"
I have no clue what this is trying to do, but for some reason `preconfigured.yaml` references `non.existent.cluster` in egress... If this is intentional can we document why?

[2019-08-09 01:26] qiyongxiao commented on #15716
你是如何编译这个平台的所有组件的？能给我一份详细文档吗？我也在做这个平台的编译工作。
How did you make the istio's programming for mips64 platform? Could you give me a document? I'm constructing it on mips

[2019-08-09 01:52] edussx commented on #14782
I cherry picked the fix provided by @jsPlachetka to release 1.1.11 and built my own image. Now I see the memory footprint is pretty normal and no more OOM kill happened in the recent 12 hrs.

I'm seeing if https://github.com/istio/istio/issues/16094 will still happen without OOM-killed Pilot

[2019-08-09 02:33] irisdingbj commented on #15134
@esnible  I am working on #1 for 1.3 and are using `istioctl add-to-mesh service serviceName` the PR is in https://github.com/istio/istio/pull/16156

[2019-08-09 06:43] sebarys commented on #16126
Thanks for information @howardjohn !
Is there any chance to add similar annotations for limits or it is already some work toward this way?

[2019-08-09 07:32] harpratap commented on #11671
@absc6 How did you solve this issue? And is creating a service entry necessary for this to work?

[2019-08-09 09:01] selcukusta opened #16158 "Gateway definition has warning "more than one gateway for the same host port combination""
Helm Version:

[code]

Kubectl version:

[code]

I have a domain like `example.com` and has multiple subdomains such as `api.example.com`, `sysmon.example.com`, `logs.example.com` etc.

When I define the Gateway and VirtualServices as below, I'm getting this warning: `more than one gateway for the same host port combination`

[code]
[code]
[code]
[code]

I'm following [these](https://istio.io/docs

[2019-08-09 09:21] seth-hg opened #16159 "mixer.telemetry.enabled not working properly"
**Bug description**

Changing "mixer.telemetry.enabled" to "false" does not turn off report calls in the sidecar. Instead, it disabled policy check calls.

Here is the mixer filter configuration dumped from the sidecar. I think "disable_check_calls" should be "disable_report_calls".

[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[

[2019-08-09 09:28] philandstuff commented on #11037
Since istio/cni issues have been seemingly deleted, for context:

Source: https://github.com/istio/istio/issues/14327#issuecomment-495108999

[2019-08-09 10:06] selcukusta commented on #16158
Sorry, it's not related to Istio, about Kiali and fixed with [this](https://github.com/kiali/kiali/pull/1288) change.

Default `kiali.tag` is `v0.20` and this version had a bug. If the value is set as `kiali.tag=v1.0` while installing, the warning is disappeared.

[2019-08-09 10:06] #16158 closed

[2019-08-09 10:51] geeknoid commented on #16143
Option 1 isn't viable. There has been no substantial commit to the pflag  repo in a long time, and there are nice useful PRs that haven't been merged in years. So that repo is effectively abandoned. I'm not thrilled about diverging there and permanently keeping a fork private to Istio.

Before starting to implement option 2, would you mind adding a test  case in viperconfig_test.go that show the p

[2019-08-09 13:39] BradErz commented on #15662
For anyone coming accross this in the future and just want something that works, i spent my day:

https://gist.github.com/BradErz/347a3cbf253c0460a00b405e0d9a0051

[2019-08-09 14:05] kuwas commented on #15662
@BradErz 👍

[2019-08-09 14:32] Roarain commented on #12456
@Morishiri Thank you for replay. We build kubernetes using Azure VM manually ,not using AKS.
On Other Cloud Platform has no such problem, it`s strange.

[2019-08-09 14:41] aaronmell opened #16163 "Citadel missing pod disruption budget in helm chart"
I noticed that citadel now allows more than one replica in its helm chart, but does not have a PDB configured.  I was wondering if this was purposeful?

[2019-08-09 14:55] howardjohn commented on #16143
@therealmitchconnors what is the use impact of this for users? I don't really understand this but seems like it could be pretty high impact?

[2019-08-09 15:02] rmichela commented on #11510
This issue still affects Istio 1.2.0. You cannot have two `VirtualServices` bound to the same host with the `mesh` gateway enabled on both.

[2019-08-09 15:07] howardjohn opened #16164 "Pilot readiness probe causes delays in startup"
Pilot's readiness probe is set to an initial delay of 5s, with a period of 30s. In my experience, Pilot is pretty much never ready within 5s, so that mean it won't be marked ready until 35s in. In reality pilot seems to take about 10s to start up typically (maybe less, I didn't test it too much).

The proper solution is probably not to just drop the readiness probe though, as it is hit even once i

[2019-08-09 15:13] nfons opened #16165 "HTTPRoute queryParams seem to always return true"
**Bug description**

I have a simple routing in a virtual service that does the following:

if queryparam `?apikey` AND route = "/" go do service A,

if just route "/" go to service B.

**Steps to reproduce the bug**
This is done via:

[code]

(please disregard spacing, might be a C+P issue).

EXPECTED:
 navigating to "http://myhost.com" => oauth2-proxy

"http://myhost.com?apikey=version2" => dash

[2019-08-09 15:36] rphillipsz opened #16167 "Redis rate limiting does not work as expected"
**Bug description**
I followed the example (https://raw.githubusercontent.com/istio/istio/release-1.2/samples/bookinfo/policy/mixer-rule-productpage-redis-quota-rolling-window.yaml) for setting up a rate limiter of 100 requests/second. Requests at well under this rate are being rejected.  Rates above this limit are being rejected, but not at the defined rate.

**Affected product area (please put a

[2019-08-09 16:21] samos123 opened #16168 "istio-pilot crashes with port in capital P"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
When a gateway gets added which used Port instead of port the istio-pilot will crash.

Here is the istio-pilot log:
[code]

**Affected product area

[2019-08-09 16:21] samos123 commented on #16168
I would like to take a stab at this bug myself

[2019-08-09 16:30] kbruner commented on #16110
I haven't had a chance to dig into this.  Is there an additional port I need to open in k8s network policies, maybe?  We tend to keep that locked down.

[2019-08-09 16:34] nrjpoddar commented on #15868
@liminw I agree. If we can remove trigger rules for JWT and add documentation with examples for users to start consuming Authz policies for path based access control we can make our APIs easy.

I would however still keep list of `audiences` in AuthenticationPolicies in the new API. Is there a document for the new AuthenticationPolicies spec?

[2019-08-09 16:49] #12948 closed

[2019-08-09 17:19] ericvn commented on #16053
Thanks for reporting the issue. I believe this was fixed in a number of PRs across various components over the last week.

If the problem is still occurring, would you point to a particular repo and command, and reopen the issue. Thanks

[2019-08-09 17:19] #16053 closed

[2019-08-09 17:26] ericvn commented on #16151
I believe this is being caused because GOBIN was unset resulting in the /mesh in the `go build -o /mesh ./cmd/mesh.go` command. This failure should only happen with the new common-files if the user has set GOBIN to "" ie. `export GOBIN=""` and then run `make mesh`.

[2019-08-09 17:27] ericvn commented on #16151
The current Makefile will set GOBIN to desired values unless the user has preset it before running `make`.

[2019-08-09 17:36] howardjohn commented on #16168
I would guess you Port is just ignored, so it's the same as not specifying port. So we can probably just add a validation step

[2019-08-09 17:49] #8572 closed

[2019-08-09 18:26] therealmitchconnors commented on #16143
@howardjohn if we merged https://github.com/istio/istio/pull/16027 before resolving this issue, Istio would be very broken, as seen from the many test failures on that PR.  Before that PR is merged, there is zero impact, because this function is never called.

[2019-08-09 18:39] popopanda opened #16170 "Helm upgrade not updating meshpolicy for mtls"
**Bug description**
Isito 1.2.2 - Helm upgrade does not update meshpolicy.

few examples:
1) Manually delete the default created meshpolicy, running helm upgrade does not recreate it.
2) Setting mtls in values.yaml from false to true or vice versa, the meshpolicy and destination rules are not updated/created

However, In istio-security-custom-resources configmap, I do see the custom-resources.yaml

[2019-08-09 18:39] therealmitchconnors commented on #16143
@geeknoid Done.
https://github.com/istio/pkg/pull/53

[2019-08-09 19:24] yangminzhu opened #16171 "Cors preflight does not work when Jwt Policy targets the Istio Ingress Gateway"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
See https://discuss.istio.io/t/cors-preflight-does-not-work-when-jwt-policy-targets-the-istio-ingress-gateway/3410

@lei-tang Would you mind to take

[2019-08-09 20:25] incfly commented on #16110
@kbruner I don't expect any k8s network policy changes are needed for this feature.

I find, even if you disable Istio sidecar, say adding annotation `sidecar.istio.io/inject: "false"` to the spec, I still see pod is unable to get prober working correctly. The http code is 404 as well.

So I think the original helloworld YAML is not correct in the first place.

[2019-08-09 20:25] incfly commented on #16110
Feel free to assign back to me once https://github.com/istio/istio/issues/16110#issuecomment-520052390 is verified.

[2019-08-09 20:57] mbanikazemi commented on #15293
I will be updating this issue with more information soon.

[2019-08-09 21:07] ilackarms commented on #8772
@ekuefler  while it's not a 'traditional' kubernetes clientset (it uses some custom client under the hood), the [Supergloo Istio Clientset](https://github.com/solo-io/https://github.com/solo-io/supergloo/blob/master//pkg/api/clientset/clientset.go#L498) work for us at solo-io. Then again, most of our projects leverage [solo-kit](https://github.com/solo-io/solo-kit) which provides the code gen and

[2019-08-09 21:52] nrjpoddar commented on #8772
@ekuefler you can use `https://github.com/aspenmesh/istio-client-go` which supports most of the Istio CRD resources.

[2019-08-09 22:30] mafarinacci opened #16175 "sidecar injector should support k8s guaranteed qos class"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
I would like the sidecar injector to allow users to specify both resources requests and limits, so individual pods can be placed in the kuberentes guaranteed qos class.
https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/

T

[2019-08-09 22:34] mafarinacci commented on #16175
duplicate

[2019-08-09 22:34] #16175 closed

[2019-08-09 22:34] mafarinacci commented on #16126
I would also like this feature. I know what needs to be done to get this to work. Should I open a PR?

[2019-08-09 22:36] ostromart commented on #16040
Fixed in https://github.com/istio/operator/pull/173

[2019-08-09 22:36] #16040 closed

[2019-08-09 22:36] ostromart commented on #16041
Fixed in https://github.com/istio/operator/pull/173.

[2019-08-09 22:36] #16041 closed

[2019-08-09 22:37] ostromart commented on #16039
Fixed in 149 and https://github.com/istio/operator/pull/173.

[2019-08-09 22:37] #16039 closed

[2019-08-09 22:37] ostromart commented on #16029
Fixed in https://github.com/istio/operator/pull/173

[2019-08-09 22:37] #16029 closed

[2019-08-09 22:41] ostromart commented on #15538
After some intense debate the decision is to support IstioControlSpec format only.

[2019-08-09 22:41] #15538 closed

[2019-08-09 22:50] howardjohn commented on #16126
I remember @ostromart mentioning this, I forget if it was "we should do this" or "we should not do this".

If you do, you should submit the PR against https://github.com/istio/installer

[2019-08-10 00:26] ostromart opened #16178 "mesh manifest diff needs --select and --ignore flags"
Some resources show diffs even when they are semantically equivalent (e.g. due to formatting of text blocks in configmaps). We need flags that select or ignore based on regexes or globs of the form:
kind:namespace:name
e.g.
1. compare all deployments
--select Deployment:*:*
2. compare everything in istio-security namespace
--select *:istio-security:*
3. ignore two particular configmaps
--ignore Co

[2019-08-10 00:45] liminw commented on #15868
@nrjpoddar Thanks for the comments! Yes. I agree that the 'audiences' field need to be kept. We need to update the documentation once we reach full agreement on the direction. There has been discussion on new authentication policy, but I don't think there is an agreed-on proposal yet.

[2019-08-10 00:49] #12881 closed

[2019-08-10 01:11] howardjohn opened #16181 "codecov test doesn't really test coverage"
The codecov tests explicitly check for circleci variables: https://github.com/istio/istio/blob/a84f459242b6037fe0c7d6dbe79ade877d53bddd/bin/codecov_diff.sh#L39

If not there, it just uploads results to codecov.io, which fails with:
[code]

[2019-08-10 01:14] howardjohn opened #16182 "Retire docker.io/istionightly"
This is no longer actually published nightly, since we are off of circleci. As such, it has not been updated in 2 months

[2019-08-10 01:48] howardjohn opened #16184 "Unit test failure - re-enable pilotplugin_mtls test"
Certs are expired: https://github.com/istio/istio/tree/2bfefe78b746c4f0c2b23e3bc2605492c2ab74a8/mixer/test/client/pilotplugin_mtls/testdata

[2019-08-10 02:17] #16132 closed

[2019-08-10 02:26] morvencao opened #16186 "Operator: manifest generate broken because of 'unexpected EOF'"
Currently `mesh manifest generate...` is broken with following error:
[code]

One way to workaround the rendering issue is removing `{{- if .Values.mixer.adapters.stackdriver.enabled }}` and `{{- end }}` clause in `data/charts/istio-telemetry/mixer-telemetry/templates/stackdriver.yaml`.

Also I have tried to grab the translated values from `mesh-cli.log` and render with:
[code]
everything is worki

[2019-08-10 03:40] #10541 closed

[2019-08-10 04:15] silentdai commented on #16184
errr...

[2019-08-10 04:40] #13210 closed

[2019-08-10 06:04] rlenglet commented on #14096
@fpesce

[2019-08-10 11:05] mpanchmatia commented on #12947
Hi, I think, we need outlier detection for "Locality-weighted load balancing" mode also. As per Envoy Proxy documentation https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/locality_weight   the weight adjustment happens, when more than 71.4 % of service end points become unhealthy with default over provisioning factor of 1.4 The outlier detection is needed to

[2019-08-10 19:40] #13132 closed

[2019-08-10 22:54] howardjohn commented on #16184
this needs to be backported to 1.1 and 1.2

[2019-08-10 22:56] PiotrSikora commented on #16184
Uhm, why this disabling test instead of renewing certificates?

[2019-08-11 08:38] cymarechal commented on #6486
@prune998 Do you have any functional example? I have not been able to make it work...

[2019-08-11 10:35] Stono commented on #16125
Hi,
Just to add this happened today on a service which had been running for quite some time (over 2 days):
[code]

[2019-08-11 10:37] Stono commented on #16125
@duderino 👋 it's been a while since we've had a nasty issue but this falls into that category as it's increasing in frequency now (seen in happen times in as many days).

istio-proxy either fails to start, or if it does eventually goes unready with the same error.

[2019-08-11 11:29] Stono commented on #16125
I actually think the high memory usage is now a separate thing.

We've had a few pods come up today and istio-proxy using 3x the normal memory, but none of these application port errors.  Restarting resolves it.

[2019-08-11 12:23] Stono opened #16188 "Istio-proxy occasionally using 3x its normal amount of memory"
**Bug description**
This is a follow on from https://github.com/istio/istio/issues/16125.

We had some strange behaviour with a few applications this morning.  I tried to debug it but didn't get anywhere so wondering if anyone else has seen this happen.

I'll just talk through one specific use case but this happened on 3 different apps.

Take this deployment:

[code]

As you can see, one of them s

[2019-08-11 12:23] #16125 closed

[2019-08-11 12:28] Stono opened #16189 "Istio-proxy envoy missing listeners"
**Bug description**
This is a follow on from https://github.com/istio/istio/issues/16125.

Occasionally when pilot is under seemingly high load (from node drains etc) we are getting envoys taking a long time to start and throwing errors about missing listeners:

[code]

And here is another isolated application:
[code]

It did seem to correlate with some push errors in pilot:
<img width="1619" alt=

[2019-08-11 14:08] costinm commented on #16182
How about publishing it from cloud builder or similar ? Including variants
for deb, bionic ?

The purpose was to speed the build and have a set of common tools for
debug. And a common base.

On Fri, Aug 9, 2019, 18:14 John Howard <notifications@github.com> wrote:

[2019-08-11 14:13] howardjohn commented on #16182
How does it speed up the build? we do the same thing now just in gcr.io/istio-testing as far as I know.

If you are talking about the base image I don't mean getting rid of that, I mean the repo that it is in

[2019-08-11 14:13] howardjohn commented on #16182
@sdake is working on our base image and making it updated in each release

[2019-08-11 14:18] howardjohn commented on #16189
Do you have allow_any mode enabled? I didn't think you did but if so you may be hitting https://github.com/istio/istio/issues/14242 which was fixed in 1.2.3. Basically the readiness probe on the app triggers an infinite loop of envoy forwarding requests to itself which increases memory

[2019-08-11 14:29] howardjohn commented on #16188
Do you have allow_any mode enabled? I didn't think you did but if so you may be hitting #14242 which was fixed in 1.2.3. Basically the readiness probe on the app triggers an infinite loop of envoy forwarding requests to itself which increases memory

[2019-08-11 14:53] #16073 closed

[2019-08-11 15:50] Stono commented on #16188
Nope, we are registry_only :(

[2019-08-11 22:04] howardjohn commented on #16188
A couple questions that can maybe help track this down a bit more:

I assume the memory you are listing is as reported by kubernetes? Envoy also reports heap + allocated sizes as `envoy_server_memory_allocated` and `envoy_server_memory_heap_size`, or at `:15000/memory`.

It looks like it is using a bunch of memory immediately, not a leak. What I would guess is happening is *something* is triggerin

[2019-08-12 00:19] howardjohn commented on #4395
We are moving to a model where declaring protocol is not required, and if it is it is done explicitly in Sidecar. See https://github.com/istio/istio/pull/15802 and [better default networking](https://docs.google.com/document/d/12Z_oFCFn3_rTWbQsuR1GmjU5_WZVkBTJwFpFMx802Ns/)

[2019-08-12 00:19] #4395 closed

[2019-08-12 00:21] howardjohn commented on #9187
This doesn't have any associated issues or work to be done, so I am going to close. Feel free to reopen if there is anything to do here

[2019-08-12 00:21] #9187 closed

[2019-08-12 00:22] howardjohn commented on #8274
All associated issues here are completed

[2019-08-12 00:22] #8274 closed

[2019-08-12 00:24] howardjohn commented on #5036
This is supported now https://github.com/istio/api/pull/709/files

[2019-08-12 00:24] #5036 closed

[2019-08-12 00:27] howardjohn commented on #6178
I believe this is made obsolete by our use of [kind](https://kind.sigs.k8s.io). We just directly load the docker images, there is no registry required at all. If I misunderstand then feel free to reopen

[2019-08-12 00:27] #6178 closed

[2019-08-12 00:44] howardjohn commented on #3519
Can we break this into actionable issues? It is hard to manage as is

[2019-08-12 00:53] howardjohn commented on #14042
Closing as duplicate of https://github.com/istio/istio/issues/13822

[2019-08-12 00:53] #14042 closed

[2019-08-12 00:56] howardjohn commented on #13789
Seems all cases now are ones where prow doesn't report the test as completed; this means the pod was probably evicted or something and restarted -- it didn't pass or fail, so not reporting is ok.

[2019-08-12 00:56] #13789 closed

[2019-08-12 01:01] howardjohn commented on #12882
This should be fixed in 1.1, please try upgrading if possible as we are no longer supporting 1.0. If you still run into this issue feel free to open a new one/reopen

[2019-08-12 01:01] #12882 closed

[2019-08-12 01:02] howardjohn commented on #14145
this is done

[2019-08-12 01:02] #14145 closed

[2019-08-12 01:04] howardjohn commented on #14152
https://github.com/istio/installer#install-istio-cni fixed

[2019-08-12 01:04] #14152 closed

[2019-08-12 01:07] howardjohn commented on #15525
I believe this is fixed with the above. If not feel free to reopen

[2019-08-12 01:07] #15525 closed

[2019-08-12 01:08] howardjohn commented on #14253
Fixed https://github.com/istio/istio.io/pull/4199

[2019-08-12 01:08] #14253 closed

[2019-08-12 01:15] howardjohn commented on #14324
As mentioned above, this doesn't seem relevant. If it is a problem, assume the latest version :slightly_smiling_face:. Soon we will have reproducible docker builds

[2019-08-12 01:15] #14324 closed

[2019-08-12 01:16] howardjohn commented on #14344
Is this still an issue? We run all our tests on kubernetes 1.15 now and haven't ran into issues

[2019-08-12 01:17] howardjohn commented on #14064
Seems done https://github.com/istio/cni/blob/master/.commonfiles.sha

[2019-08-12 01:17] #14064 closed

[2019-08-12 01:20] howardjohn commented on #14423
Issue seems abandoned. Please provide some more info if you are still seeing this

[2019-08-12 01:20] #14423 closed

[2019-08-12 01:30] howardjohn commented on #13778
@nmittler is this done now that we have docker?

[2019-08-12 01:32] howardjohn commented on #13749
I don't think this is possible in Envoy, which means its not something we can implement in Istio. That is what I gathered from https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto.

I see the use case, but I don't think there is anything we can do here. If you really want this feature, perhaps you could submit a feature request against Envoy?

[2019-08-12 01:32] #13749 closed

[2019-08-12 01:40] howardjohn commented on #13708
Can you just add

[code]

To your virtual service?

[2019-08-12 02:54] bianpengyuan commented on #16159
Did you observe the telemetry server is still receiving report calls? I think actually the report call is effectively disabled. Reason being `report_cluster` is not specified, thus the mixer_filter will fallback to use `mixer_server` as `report_cluster`, which does not exist so report call will just fail.

Sorry that this is confusing and we should fill in `disable_report_calls: false` as you sugg

[2019-08-12 02:59] eyeezzi commented on #13578
@vadimeisenbergibm Thanks for the resources, but in my case I want the ingress-gateway to behave as follows:
1. Terminate Simple TLS connection from the browser.
2. Then originate Simple TLS to an upstream service **outside the mesh**.

## For context, this is my use case:

1. My upstream service: `kiali.istio-system.svc.cluster.local` is a server (without a sidecar) that accepts only Simple TLS c

[2019-08-12 03:22] #13710 closed

[2019-08-12 06:16] Stono commented on #16188
Hey @howardjohn.

Yes, we're using `container_memory_working_set_bytes`.  The next time this happens I will check out envoys reported usage too and let you know the result.

That makes sense and we saw that a lot with Java.  Java has the concept of `-Xmx` to set a maximum heap amount.  There doesn't look to be an easy way to do this in golang.  I suppose I could set the container limit which would

[2019-08-12 06:38] rakeshjain1213 commented on #15451
Hi,

We need to connect the external service which has its own certificate.
For this we have created the ServiceEntry for the service outside the mesh and a DestinationRule where we have passed the certificate.
After applying this and trying to connect the external service , we get the error as:
2019-08-12 11:20:16.583 ERROR 1 --- [ault-executor-0] j.d.p.g.s.DigitalApiGrpcServiceProcessor : Servic

[2019-08-12 07:40] rakeshjain1213 opened #16190 "tls : Mode: SIMPLE"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Sec

[2019-08-12 08:06] nkorange opened #16191 "How to integrate with Istio as a MCP server?"
![image](https://user-images.githubusercontent.com/4593375/62851726-a913f400-bd19-11e9-9dfc-5e534ec7c0dd.png)

Hi, I saw this picture in the [Pilot Decomposition](https://docs.google.com/document/d/1S5ygkxR1alNI8cWGG4O4iV8zp8dA6Oc23zQCvFxr83U/edit#heading=h.5vxjy9t4q1u2) doc. I'm wondering if this MCP architecture is already ready for user to integrate? Because I'm working on adding [Nacos](https:

[2019-08-12 09:33] nkorange commented on #16191
Should I write a server based on [this](https://github.com/istio/istio/blob/master/pkg/mcp/source/server_source.go) and then configure the configSource to my MCP server?

[2019-08-12 10:16] seth-hg commented on #16159
Yes, report calls failed. My point is that these calls should never be made since telemetry is disabled.

Actually, I was benchmarking my own service over istio and encountered some performance issues. The sidecar has introduced about 60ms to the average latency. So I tried disabling policy checks and telemetry reports, none works. But when I disabled both, performance boosted up.

I tried to unde

[2019-08-12 10:21] zqzzq commented on #15716
@qiyongxiao 都是按照官方文档编译的 遇到错误就想办法解决错误

[2019-08-12 11:19] prune998 commented on #6486
check for https://medium.com/@prune998/istio-1-1-7-lets-encrypt-working-9100cea9f503 for some hints.... Maybe I should create a step by step doc ?

[2019-08-12 11:40] svilenvul commented on #16171
+1 Same issue here.

[2019-08-12 11:41] vadimeisenbergibm commented on #13578
To handle 404, I think you should add `uri` under `match`:

[code]

To perform TLS origination to all your HTTPS service, you will have to mount the certificate of the service as another certificate to your ingress gateway, similar to the following task:

https://istio.io/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/#redeploy-the-egress-gateway-with-the-client-certificates

[2019-08-12 12:20] cymarechal commented on #6486
@prune998 Thank you for the article! Actually I already followed it without noticing it was yours. I guess my error comes from my Istio configuration. I tried tweeking it from the "demo-auth" configuration profile but I don't really understand the difference between "global.sds" (+ its link to "global.controlPlaneSecurityEnabled") and "gateways.istio-ingressgateway.sds"...

[2019-08-12 12:59] prune998 commented on #6486
Not sure what your question is :)

Enabling SDS on the Gateway (to gather SSL certificates) is one thing. Enabling mTLS and using SDS for it is another thing, which I'm not using and can't tell about :)

But there are 2 separate subjects. Istio Gateway (Envoy proxy) needs a special config to use SDS, which is triggered by the option `set gateways.istio-ingressgateway.sds.enabled=true` when install

[2019-08-12 13:12] qiyongxiao commented on #15716
envoy这个他要去下载对应平台的程序，这个我得自己编译。按照官方的操作，我现在没有一点头绪

[2019-08-12 13:19] cymarechal commented on #6486
I was looking for explanations about these settings, which you just did. It already helps me a lot, thank you! :)

[2019-08-12 14:14] nmittler commented on #6178
@howardjohn are we using kind for everything now? Or are there still jobs running on gke directly?

[2019-08-12 14:20] nmittler commented on #13778
@howardjohn echo *should* support it now, but I think there may still be some pieces missing (native citidel?) before we can make sure it works.

[2019-08-12 14:38] cfreemoser opened #16193 "virtual-service header based routing with "_" in header-name does not work"
**Bug description**

Hey, we noticed some problems when implementing header-based routing with istio:
When creating a virtual-service to enable header-based routing it works fine as long as the header-name does not contain a "_". However, one a "_" is added to the header-name istio seems to ignore the virtual-service.

Following definition works:

[code]
The following definition **does no** work:

[2019-08-12 14:40] howardjohn commented on #6178
all integration tests are on kind and have been for a month or so. The only e2e jobs are multicluster and dashboard - just because they need some more effort, I am planning on moving them over as well

[2019-08-12 15:09] morvencao commented on #15370
closing this as it has been fixed in https://github.com/istio/operator/pull/128

[2019-08-12 15:09] #15370 closed

[2019-08-12 15:10] morvencao commented on #15946
Close this as we're using daily build image for master now.

[2019-08-12 15:10] #15946 closed

[2019-08-12 15:12] howardjohn commented on #16191
There may be better docs/examples somewhere, but here is one I know of: https://github.com/costinm/istio-consul

[2019-08-12 15:13] howardjohn commented on #16190
I am not sure what `tlsMode: SIMPLE` means. Can you please fill in the template and give more detail?

[2019-08-12 15:17] howardjohn opened #16194 "New installer test failure - duplicate mutatingwebhookconfig"
Failing with error:

[code]

Looks like a duplicate resource

[2019-08-12 15:25] johnma14 opened #16195 "Enable security vulnerability scanning of Istio images"
Enabling security vulnerability scanning of Istio images on a periodic basis (e.g once a week) will enable us to proactively identify any security vulnerabilities in our images. As part of this feature, some of the things we want to do are listed below:

- Currently we are using the ImageScanner tool. Investigate if there are any other open source tools we can  leverage to scan images OR write our

[2019-08-12 16:11] jacob-koren-zooz opened #16196 "Changes to ingress-gw ports effect outbound traffic"
**Bug description**
Changing the port definition in istio-ingressgateway service, effect outbound traffic to https targets
**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructur

[2019-08-12 16:30] nmittler commented on #6178
ok sounds good ... yeah, closing this makes sense.

[2019-08-12 16:32] maheshsin opened #16198 "Istio (with Kubernetes) unable to connect to external ldap server"
### **Issue:**
I am unable to connect to ldap ad server with istio from application deployed in Kubernetes cluster. Getting "Connect Error" in web api response.

### **Detailed Information:**
I have created web application (front-end : Angular, middle layer: Asp.net Core Web API, back-end: SQL server), deployed it on Kubernetes cluster. I have enabled Istio in Kubernetes.

For application login fu

[2019-08-12 16:59] howardjohn opened #16200 "istioctl standalone binary should not be deep in directory tree"
[code]

I would expect the tar to just contain the archive

[2019-08-12 17:00] howardjohn commented on #16200
Also named `istioctl` not `istioctl-linux`

[2019-08-12 17:07] howardjohn opened #16201 "Prepare release-1.3 branches"
This issue aims to track all steps needed to prepare the release 1.3 branches/builds.

Please add all steps taken here so we can document for future releases

- [ ] (Optional) Update go dependencies. This must be done **before branching** so that PRs can be easily backported later. `go get ... && go get ... && go mod tidy` (then on istio/istio only: `go mod vendor`)
  - [ ] istio/istio
  - [ ] ist

[2019-08-12 17:27] #16045 closed

[2019-08-12 17:46] bianpengyuan commented on #16159
Yeah, that is the work item I mentioned.

The expensive part is Mixer filter, which extracts attributes and assemble request to policy and telemetry services. After disabling both policy and telemetry, pilot will stop injecting mixer filter and thus you saw the performance boost.

[2019-08-12 17:48] ostromart commented on #15375
Since user gateways cannot be defined in the new istio/installer helm values, we will not support it either. Users are expected to install and manage their own gateways going forward.

[2019-08-12 17:48] #15375 closed

[2019-08-12 17:50] ostromart commented on #15310
All parts are now in place - operator version is coming from compiled in version, and https://github.com/istio/operator/pull/153 moves the feature/component structure into version specific data.

[2019-08-12 17:50] #15310 closed

[2019-08-12 17:52] ostromart commented on #15241
Fixed in https://github.com/istio/istio/pull/15795.

[2019-08-12 17:52] #15241 closed

[2019-08-12 17:54] ostromart commented on #15482
We now have the necessary plumbing in place to support this. Since this is the first version we don't have the ability to test this until there are at least two releases of the install package from istio/istio. Keeping this open but lowering to P1 for now.

[2019-08-12 17:55] ostromart commented on #15968
This is still in discussion in TOC but the proto does not need to be in istio/api for the release, so lowering priority to P1.

[2019-08-12 17:57] ostromart commented on #16038
Fixed in https://github.com/istio/operator/pull/173.

[2019-08-12 17:57] #16038 closed

[2019-08-12 17:57] #15026 closed

[2019-08-12 18:05] ostromart opened #16203 "Integrate URL installPackagePath support into CLI command"
We need to be able to set installPackagePath to something like
https://github.com/istio/istio/releases/tag/1.2.3
(or simply version: 1.2.3, which is an alias for the above)
manifest commands must:
1. fetch the release tar if it's not locally cached (with appropriate timeout/network problem errors)
2. untar it to a local cache temp dir
3. setup a FS helm renderer pointing to the extracted charts ro

[2019-08-12 18:25] geeknoid commented on #16201
Need istio/pkg as well.

[2019-08-12 18:47] howardjohn commented on #16196
I think root cause is probably https://github.com/istio/istio/issues/14520

[2019-08-12 18:52] ostromart opened #16207 "vfsgen file reader seems to have internal read buffer limit"
Large charts like istio-telemetry/mixer-telemetry/templates/stackdriver.yaml exceed some internal buffer limit leading to EOF.
The problem could be with vfsgen or the vfs.go package that has wrapper functions around it.

[2019-08-12 19:28] jarvisuser90 commented on #13052
I'm having the same issue. How did you solve it?

[2019-08-12 20:59] howardjohn opened #16209 "SidecarScope race condition"
[code]

https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15802/istio-racetest-master/3454

[2019-08-12 21:11] #16207 closed

[2019-08-12 21:28] erks opened #16210 "istio-proxy envoy access log sampling"
**Describe the feature request**

Envoy provides a way to change access log sampling as follows: https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/accesslog/v2/accesslog.proto#envoy-api-msg-config-filter-accesslog-v2-runtimefilter. However, istio-proxy doesn't seem to provide a way to configure that. Being able to sample envoy access log is helpful to avoid overwhelming logging infr

[2019-08-12 22:23] TonyDou opened #16212 "Provide config to disable issuer validation in JWT auth."
Support a config to disable issuer validation in JWT auth filter.

I'm trying to enable Azure Active Directory (AAD) support with this JWT auth filter. For a signle AAD tenant (each tenant is an issuer), it works perfectly. But as for multi-tenant applications, it does not work properly. Because  for multi-tenant, the issuer (related to tenant id) is unpredictable, but all issuers are using the sa

[2019-08-12 22:29] howardjohn commented on #14782
With PR https://github.com/istio/istio/pull/16211 this is greatly improved. Basically the problem was inefficiencies specifically related to having a low (less than 100) number of connections to pilot. In all the posts here there are only a few connections to pilot (gateways) but lots of config.

https://github.com/istio/istio/pull/15810 takes a different approach, ensure that only one push contex

[2019-08-12 22:58] yxue opened #16214 "Avoid bypassing authN/authZ when using protocol sniffing"
https://github.com/istio/istio/commit/2d4c642725c00c1436977924d5d5213b4f991b80

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

**Steps to reprod

[2019-08-12 22:59] howardjohn commented on #16201
All prow PRs are created. Some are blocked by the release branch being create, but most can be merged at any time

[2019-08-12 23:00] crazyxy commented on #15712
done

[2019-08-12 23:00] #15712 closed

[2019-08-12 23:26] howardjohn commented on #16214
if we can bypass authN we must document this. Can you add it to https://github.com/istio/istio/wiki/Release-Note-1.3-Draft

[2019-08-12 23:53] howardjohn opened #16215 "Investigate reproducible/offline builds without vendor"
https://github.com/istio/istio/pull/16180 experimented with removing vendor. Performance is about identical, but an issue was brought up about reproducible builds.

This issue will need to be solved before we can remove vendor

[2019-08-13 01:01] zqzzq commented on #15716
可以参考一下这个 https://github.com/linux-on-ibm-z/docs/wiki/Building-Istio-Proxy ，构建envoy你得先把bazel工具熟悉一下，需要根据bazel的报错信息去改对应的代码

[2019-08-13 01:29] davidsmd opened #16218 "istio-iptables.sh fails to configure net ns via CNI on GKE with COS due to missing modules"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

The istio-iptables.sh script fails on GKE when using:

COS version:    gke-1128-gke10-cos-69-10895-277-0-v190620-pre
k8s version :     1.12.8-gke.1

[2019-08-13 01:49] kidiyoor opened #16220 "helm create wrong accessLogFormat in Istio cm. Istio 1.2.3."
**Bug description**
`--set global.proxy.accessLogFormat='{ "start_time": "%START_TIME%" }' ` results in
[code]

whereas it should be
[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Devel

[2019-08-13 01:57] rlenglet commented on #16201
Re: this comment in the description:

I still think we need to update all the `go.mod` dependencies to point to commits in `release-1.3` branches, because we'll create release tags on those commits and I don't see the point of creating release branches and release tags if we're not using those commits to build the release.

[2019-08-13 02:11] howardjohn commented on #16209
Going to disable for now while I work out a fix

[2019-08-13 02:36] eyaweiy opened #16222 "Traffic failed during renew the certificate"
**Bug description**
Running traffic on istio 1.2.2 with workloadCertTtl=1h, there is traffic failed.

The test case is sending traffic with h2load for 3 minutes, keep running test cases with different configurations like with/without sidecar, different payload size, different connections for 5 hours.
At last there are 3 cases failed because there are traffic failed like logs from h2load:
Process R

[2019-08-13 03:44] seth-hg commented on #16159
I profiled the envoy sidecar in two scenarios:

1. [policy & telemetry enabled](https://drive.google.com/open?id=1QqiNc-xaCp1NRLeXKXhiyalBzg97yTPU) [[svg](https://drive.google.com/open?id=1KULcdDKqdn8cxPxA9tVQ9GGcKVqKUm9X)]
2. [policy enabled & telemetry disabled](https://drive.google.com/open?id=1tBwvAlrWKtABPs1u2WO9cadqscRtyyF8) [[svg](https://drive.google.com/open?id=17qXYW6UAjZdQK_3k1yh5_Xkuxj

[2019-08-13 03:51] dhineshbabuelango opened #16225 "istio egress gateway"
Hi All,
I am new to istio, we have deployed istio on EKS, We are trying to reach an application hosted in internet from our micorservice deployed in istio. I thought by default no connection will go out of the mesh even if the server has internet access but we are able to reach the internet site without configuring istio egressgateway. So by default all connections will be allowed and we have to e

[2019-08-13 03:58] bianpengyuan commented on #16159
Thanks for the profiling! `Report()` is an async call and does not block request, which could affect tail latency but might not affect median latency that much. Do you want to enable only policy check or do you want to disable both policy and telemetry?

[2019-08-13 04:32] rakeshjain1213 opened #16226 "rakesh"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Perfor

[2019-08-13 04:33] #16226 closed

[2019-08-13 04:33] rakeshjain1213 commented on #16226
NA

[2019-08-13 04:42] rakeshjain1213 commented on #16190
Hi,

Please have a look at attachment files.
    tls:
      mode: SIMPLE
The mode could be SIMPLE, MUTUAL.
So when trying to call a service which is outside the mesh, the external certificate needs certificate to be presented by caller.
The configuration for the same need to be done at ISTIO end, the same we did using DestinationRule and ServiceEntry, but was not able to hit the service.
**So need

[2019-08-13 04:42] rakeshjain1213 commented on #16190
Please reopen the issue as it is not solved yet.

[2019-08-13 05:03] rakeshjain1213 opened #16227 "Unable to access Swagger-UI from the ingress node port"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Perfor

[2019-08-13 05:05] howardjohn commented on #16220
Helm treats `{a,b}` as a list of a and b. , I think that is the problem

[2019-08-13 05:07] rakeshjain1213 commented on #16227
HI,

Please consider the below scenario:
Service X --> type: NodePort(1234) --> Service accessible using swagger-ui (http://localhost:1234/swagger-ui.html)

Service X --> type: ClusterIP (changed from NodePort to ClusterIP)--> Istio Ingress Gateway configured --> Gateway, VirtualService and DestinationRule configured -->Now Ingress is exposed as type: Nodeport(31380) -->Now Service not accessible

[2019-08-13 05:09] kidiyoor commented on #16220
how to pass a map[string]string interface to `global.proxy.accessLogFormat`

[2019-08-13 05:09] rakeshjain1213 commented on #6707
Facing the same issue

[2019-08-13 05:17] nokiabaitanik commented on #15981
We updated the istio to 1.2.3 . but issue still persists . performance is degrading over time.
without istio tps is going to 8k. with istio side car it is max going 2.5k ..
But the main issue is it is degrading over time. even it is 2.5k ,it should be stable at 2.5k.

For application container:
resources:
      limits:
        cpu: "2"
        memory: 3Gi
      requests:
        cpu: "2"
        m

[2019-08-13 05:21] howardjohn commented on #16222
When the request fail, what is the failure? Connection closed, 503, etc?

[2019-08-13 05:22] howardjohn commented on #16225
Please see https://istio.io/docs/tasks/traffic-management/egress/egress-control/, specifically `outboundTrafficPolicy`. Istio used to block all traffic by default, but no longer does. You can configure it to block by default if you want

[2019-08-13 05:31] howardjohn commented on #15981
How did you install istio? Is mixer enabled? Is it using high CPU/hitting the CPU limit?

Did you read https://istio.io/blog/2019/performance-best-practices/?

Can you provide more info about cpu usage of all components, what you set up is?

[2019-08-13 05:36] eyaweiy commented on #16222
It is connection failure, not 503.
From h2load log, no error code returned.
requests: 756732 total, 756732 started, 756732 done, 756719 succeeded, 13 failed, 13 errored, 0 timeout
status codes: 756719 2xx, 0 3xx, 0 4xx, 0 5xx

[2019-08-13 05:52] morvencao commented on #16186
Thanks @ostromart  fixed in https://github.com/istio/operator/pull/183, closing this...

[2019-08-13 05:52] #16186 closed

[2019-08-13 06:10] #16178 closed

[2019-08-13 06:24] nokiabaitanik commented on #15981
we used helm charts to install the istio . mixer was enabled .
mixer:
  policy:
    # if policy is enabled the global.disablePolicyChecks has affect.
    enabled: true
  telemetry:
    enabled: true
Application was only 27% of cpu.
"cpu usage of all components, what you set up is?" -- > what components you need . If you have commands , please share that.

![image](https://user-images.githubusercon

[2019-08-13 06:27] elevran commented on #15451
@rakeshjain1213 it seems that the error above comes from the workload application (i.e., client)?
If so, it seems to attempt TLS on its own since the error is **not** reported by Istio's sidecar proxy.
You should reconfigure the workload to use HTTP instead of HTTPS in that case.

I think you're trying to have the application access a server and want to have Istio initiate the TLS.
If the server c

[2019-08-13 06:31] yangdihangN opened #16228 "Pilot crash when envoy ( xds client ) use invaild node Id"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X ] Networking
[ ] Perfo

[2019-08-13 06:36] yangdihangN commented on #16228
The most straightforward solution is to add nil check to the location of the code.
#16229

[2019-08-13 06:40] irisdingbj commented on #16191
https://www.ibm.com/cloud/blog/seamless-integration-istio-and-external-services  I have a blog post about this, you can check whether this helps

[2019-08-13 06:48] sujithvs74 commented on #6706
@FierceElements Could you able to fix hostport for ingress gateway.

[2019-08-13 07:01] dhineshbabuelango commented on #16225
Thanks HowardJohn, that answered my question

[2019-08-13 07:01] #16225 closed

[2019-08-13 07:07] qiyongxiao commented on #15716
@zqzzq 今天我克隆了源码才发现要用bazel来进行编译，我对这个压根不熟悉。哎。你有现成编译好的镜像吗？能不能共享一下

[2019-08-13 08:07] dhineshbabuelango opened #16231 "access https service through istio ingress gateway"
Hi All,
We are using istio in aws eks. We are trying to deploy an IBM application inside istio, this IBM application will accept only https traffic. We followed the below steps after installing istio.

1. Deployed the application in the namespace where istio label is injected by default.
2. Created secrets for ingress gateway(SDS enabled) and mentioned the secrets name in the gateway

   apiVersio

[2019-08-13 08:15] dhineshbabuelango opened #16232 "Upgrades in istio"
Hi All,
We are using istio in EKS, we have istio 1.2.2 running in our environment, We want to upgrade istio to newer version 1.2.3, looking if there is any doc or steps that I can get for this.

Our environment is without internet and we have downloaded all the below images and put it in ECR and changed the helm values files. so If we just upgrade the new package with the same values file will it

[2019-08-13 08:43] zqzzq opened #16233 "The tcp port of the headless service may cause the http service listening to this port to be unavailable"
**Bug description**
In my cluster I have a headless service:
[code]
Then I look at the listener of the other pod's sidecar:
[code]
So if I make a request to any http service who listens to the 8086 port it will be redirected to this headless service. I think the tcp service must have an ip:port, there is no need to use the wildcard(0.0.0.0) to generate a listener for the tcp service who doesn't ha

[2019-08-13 09:02] nokiabaitanik commented on #15981
we have tried to disable mixer . but same thing.
disablePolicyCheck: true
mixerReportServer: disabled

And apart for application and istio-proxy nothing is taking up the cpu.

[2019-08-13 10:16] rakeshjain1213 commented on #15451
Hi,

Will you please let me know what need to be done in order to connect the service which is outside the mesh and has its own .crt (certificate file).
Please let us know what all configurations need to be done to achieve the same.

[2019-08-13 10:22] hzxuzhonghu commented on #16228
I would suggest check it in `ParseServiceNodeWithMetadata`
[code]

[2019-08-13 10:41] yangdihangN commented on #16228
I am not sure the meaning of the special judgment of "out.Type == SidecarProxy" is. If remove it, will there be additional problems?

[2019-08-13 12:59] mbanikazemi commented on #15293
The main issue with use of JRMP in an Istio mesh is that during the first phase of exchange between a client and a server, the server provides the address at which it should be contacted. So for the rim to work this address must be set appropriately. In the setup described above this can be set using a config parameter:  java.rmi.server.hostname
The simplest thing would be to set this address to t

[2019-08-13 12:59] #15293 closed

[2019-08-13 13:25] howardjohn commented on #16233
what do you listen on if not 0.0.0.0?

[2019-08-13 13:27] howardjohn commented on #16227
is port 1234 exposed in the Service? Can you include your Service, Virtual service, etc

[2019-08-13 13:29] howardjohn commented on #16222
when a new cert is configure, envoy will do a hot restart. My guess is it's dropping some connections there. Can you correlate the 13 errors to cert rotation?

[2019-08-13 13:30] howardjohn commented on #15041
1.3 which will be roughly a month from now

[2019-08-13 14:03] sjmiller609 commented on #10520
I have a similar issue where prometheus is getting 404 when reaching out to check a service. The prometheus logs indicate that the prometheus pod (before going through the istio sidecar) is directing the request to a port like 15090, which I think is the Isito sidecar port. Connecting into the prometheus pod, I can curl the service on the service port, 9030 (alertmanager), but not on the istio sid

[2019-08-13 14:04] #14625 closed

[2019-08-13 14:19] bianpengyuan commented on #16159
Actually the method is called after every request finished, which affect throughput and median latency. Add disable report call could help with the performance. Anyway if you want neither check nor report, you could set both options false to avoid any performance penalty by removing mixer filter.

[2019-08-13 14:36] jmjava commented on #13052
I am seeing a similar problem running in Kind.  The policy and telemetry pods are in CrashLoopBackoff

[2019-08-13 14:37] #12523 closed

[2019-08-13 14:58] vadimeisenbergibm opened #16238 "Extend Istio RBAC to non-Istio mutual TLS"
**Describe the feature request**
Extend Istio RBAC to non-Istio mutual TLS.

Currently, the Istio RBAC filter only works for Istio mutual TLS. The RBAC filter expects the `istio_authn` to extract the source principle for it. The `istio_authn` filter is not applied when mutual TLS other than the Istio mutual TLS is used and the source principle is not extracted.

Proposed solution: in case non-Isti

[2019-08-13 14:59] vadimeisenbergibm commented on #16238
cc @rshriram

[2019-08-13 15:01] sdake commented on #16201
necessary merge for 1.3: https://github.com/istio/istio/pull/16131

This PR pins the base image.  The advantages:
1. generated by CI per z-stream release.
1. confined to one product version instead of several as is now the case.
1. solves the compliance problem of CVEs in the base image - by simply generating a new build rather than doing an in-depth analysis of the CVE as it relates to Istio.  Th

[2019-08-13 15:13] emedina commented on #13098
I followed this exact configuration in `1.2.3` and I just cannot make it work:

[code]

If you use the `compiledAdapter: opa`, is it installed by default? I believe it is not because I see this YAMLs in other folders:

https://github.com/istio/istio/blob/master/mixer/template/authorization/template.yaml

https://github.com/istio/istio/blob/master/mixer/adapter/opa/config/opa.yaml

So I am lost her

[2019-08-13 15:16] emedina opened #16239 "OPA adapter not working in Mixer"
I followed the instructions in this closed issue, but I just cannot make it work (see my comments at the end of the issue itself):

https://github.com/istio/istio/issues/13098

[2019-08-13 15:25] howardjohn commented on #16201
We need to merge either https://github.com/istio/test-infra/pull/1658 or https://github.com/istio/test-infra/pull/1652. I don't care which but one needs to get in to unblock the release-1.3 creation

@geeknoid

[2019-08-13 16:02] maarek commented on #8319
I am having this same issue with Auth0 as JWT provider. They provide scope as a space delimited string.

[2019-08-13 16:17] leoncard opened #16240 "Nginx pod with sidecar injection returning 400 when proxy passing urls with spaces"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

Nginx pod with sidecar injection turned on is returning `400` when proxy passing urls with spaces to upstreams.

The same behaviour doesn't happen

[2019-08-13 16:38] samos123 commented on #16168
Weird I tried to reproduce on GKE but was unable to do so because the validator would catch the issue, see console log below. For some reason Anthos istio might not have enabled the validator? I will do some more debugging but closing the bug for now.

[code]

[2019-08-13 16:38] #16168 closed

[2019-08-13 17:07] silentdai commented on #16228
When pilot generate the LDS response for sidecar proxy, pilot need a ip address from node to fill some default value.

For gateway envoy , probably pilot does not need that ip address.

IMHO it should be fine to remove `out.Type == SidecarProxy` as long as the tests pass

[2019-08-13 17:29] rverma-nikiai opened #16244 "Parameterise datasource in grafana dashboards"
**Describe the feature request**
Can we parametrize data source in grafana dashboard's json, which can be defaulted to Prometheus. We are currently managing multiple clusters(prometheus) using single grafana instance.

**Describe alternatives you've considered**
Can't find any

**Affected product area (please put an X in all that apply)**

[x] Configuration Infrastructure
[ ] Docs
[x] Installation

[2019-08-13 17:30] ericvn commented on #11845
Testing shows that the localityLbSetting's do work on IKS.

I did this work on the _master_ (soon to be the (_1.3_)) branch as it has localityLbSetting set to enabled:true by default. Note that no locality actions will be done without the specification of a outlierDetection in a DestinationRule (also need a service specified for the caller).

I deployed a multi-zone cluster on IKS using the `Share

[2019-08-13 18:17] sjmiller609 commented on #10520
It is not using a scan, it is using kubernetes service-discovery similar to "kubectl get pods". In my case, adjusting the configuration on the alertmanager target fixed the issue.

[2019-08-13 20:26] Demonian commented on #9784
@hzxuzhonghu I have found one additional big issue. I guess that headless services do not work with `https` port names.
Here is the situation:
[code]
If such configs are applied there are many LDS update errors in `pilot` logs:
[code]

And we will get `STALE` status for LDS in `./istioctl ps`:
[code]
**Problem**
So the main problem here is that inter-service TLS stops working, but MTLS works.

**W

[2019-08-13 21:25] howardjohn commented on #14721
@JimmyCYJ after re-enabling they are still flaky it seems

https://prow.k8s.io/view/gcs/istio-prow/logs/integ-security-k8s-postsubmit-tests-master/550

https://prow.k8s.io/view/gcs/istio-prow/logs/integ-security-k8s-postsubmit-tests-master/547

[2019-08-13 21:52] JimmyCYJ commented on #14721
The requests passed. first request got 200, after secret rotation, the second request got 0 because it used old key/cert and handshake failed as expected, the third request picked new key/cert and got 200.
The test failed at this check "single_mtls_gateway_compound_secret_test.go:57: total active listener stats does not match: active listener stats does not meet expection in 30s: Expected 2, Last

[2019-08-13 22:24] howardjohn commented on #16001
What is the status of this? It is marked as a release blocker. All changes are reverted right? Can this be closed/dropped priority

[2019-08-13 22:34] howardjohn commented on #15444
Finally found the root cause, mixer doesn't clean up properly. Say we run Test1 then Test2, Test1 will still be running causing a race when Test2 starts

[2019-08-13 22:37] howardjohn commented on #16065
Fixed magically

[2019-08-13 22:37] #16065 closed

[2019-08-13 22:46] ostromart opened #16252 "vfsgen should generate from external directory"
Right now we are pulling installer charts into data/charts for building. This is necessary because the embedded, self-compiling generator cannot reference external dirs easily.
Once https://github.com/istio/operator/pull/180 goes in, we will be able to remove this limitation.

[2019-08-13 23:22] howardjohn commented on #15444
Identified some problems --

Mixer newServer creates a `newRuntime` and StartListen()s on it, but never calls StopListen()

Some gRPC connection gets opened and never gets closed.

Trivial reproducer will show a bunch of logging after Test1 completes:
[code]

[2019-08-13 23:23] howardjohn commented on #15444
@kyessenov any chance you could take a look or assign someone? I tried to fix this but got lost in the rabbit hole, not very familiar with mixer

[2019-08-14 00:06] howardjohn opened #16253 "Memory leak in isotope"
**Bug description**
I am running isotope and seeing very high memory usage occasionally. This is in the mock-service container, NOT istio-proxy. Memory usage ranges from 10mb to 600mb

It seems my memory was stable at a low point, then some event happened and triggered it to jump dramatically to 600mb. In the logs there are lots at exactly the same point it jumped indicating `handler.go:62 error o

[2019-08-14 00:09] edussx commented on #14782
@howardjohn I didn't quite understand why `having a low (less than 100) number of connections to pilot` causes pushing slow(inefficiencies). Could you explain a little bit more?

[2019-08-14 00:18] howardjohn commented on #14782
Sure. It is purely an implementation detail, but what happens is there is a queue that stores all proxies that need an update. This will deduplicate repeated updates to proxies. As we dequeue these, we send them on an unbuffered channel, meaning it will block, preventing multiple concurrent pushes to the same proxy.

The code has a limit of only dequeueing 100 proxies at a time. This means if you

[2019-08-14 01:13] syhlion commented on #8270
Confirm. every  30minutes on 1.2.2

[code]

[2019-08-14 01:39] hzxuzhonghu commented on #9784
@Demonian Can you try #16242?

[2019-08-14 01:40] hzxuzhonghu commented on #16228
For gateway, i cheked it also need the ip.

[2019-08-14 02:00] yangdihangN commented on #16228
Fine, I will modify the pr.  But since `GetProxyServiceInstances` is a public interface, nil check is also needed, what's your opinion? @hzxuzhonghu

[2019-08-14 02:34] howardjohn commented on #16209
Fixed https://github.com/istio/istio/pull/16245

[2019-08-14 02:34] #16209 closed

[2019-08-14 02:34] howardjohn commented on #16194
Fixed in #319/https://github.com/istio/istio/pull/16258

[2019-08-14 02:34] #16194 closed

[2019-08-14 02:35] howardjohn commented on #16148
The only thing left is multicluster and dashboard (need to install metrics server)

[2019-08-14 02:35] howardjohn commented on #16086
fixed via revert

[2019-08-14 02:35] #16086 closed

[2019-08-14 02:36] hzxuzhonghu commented on #16228
make sense

[2019-08-14 02:36] howardjohn commented on #15940
Fixed via deleting them

[2019-08-14 02:36] #15940 closed

[2019-08-14 02:37] howardjohn commented on #15967
Fixed by adding to testgrid

[2019-08-14 02:37] #15967 closed

[2019-08-14 02:37] howardjohn commented on #15864
Probably due to filesystem/cgroup leak -- no recent errors

[2019-08-14 02:38] howardjohn commented on #15770
@geeknoid is this done?

[2019-08-14 02:40] icenewman opened #16259 "How to make envoyFilter work"
Hi, I want use istio envoyFilter "envoy.grpc_json_transcoder". But it doesn't work.
Here is my config:

EnvoyFilter
`# Created by github.com/tetratelabs/istio-tools/grpc-transcoder
apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: weather
  namespace: smartlife-istio
spec:
  workloadLabels:
    app: weather
  filters:
  - listenerMatch:
      portNumber: 7272
      liste

[2019-08-14 02:41] #16259 closed

[2019-08-14 02:42] howardjohn commented on #15822
No recent flakes: https://testgrid.k8s.io/istio-postsubmits-master#istio-unit-tests-master&exclude-non-failed-tests=&width=20&sort-by-flakiness=

Presuming this is a result of the kind cgroup resource leak

[2019-08-14 02:43] howardjohn commented on #15162
Fixed

[2019-08-14 02:43] #15162 closed

[2019-08-14 02:43] howardjohn commented on #15164
Fixed, we deploy to istio-system now

[2019-08-14 02:43] #15164 closed

[2019-08-14 02:44] howardjohn commented on #15159
Fixed by istio/installer#319

[2019-08-14 02:44] #15159 closed

[2019-08-14 02:44] #14683 closed

[2019-08-14 02:49] howardjohn opened #16260 "istio-egressgateway crashloop"
[code]

This is with the release-1.3 build from 8/13

[2019-08-14 02:51] howardjohn commented on #13455
done

[2019-08-14 02:51] #13455 closed

[2019-08-14 02:51] howardjohn commented on #14160
this can be done a variety of ways, helm, kustomize etc.

[2019-08-14 02:51] #14160 closed

[2019-08-14 02:55] geeknoid commented on #15770
Nope, I don't think we'll do this given the constraints it imposes. So I think we should just close this.

[2019-08-14 03:03] icenewman opened #16261 "EnvoyFilter can't work"
Hi, I want use istio envoyFilter "envoy.grpc_json_transcoder" to translate http-grpc. But it doesn't work.
Here is my config:

EnvoyFilter
[code]

Service
[code]

Deployment
[code]

VirtualService
[code]

Gateway
[code]
Proto
[code]
request url http://my-gateway-ip:80/package to proto service/function

server return 500 error

[2019-08-14 03:04] #16261 closed

[2019-08-14 03:08] icenewman opened #16262 "EnvoyFilter don't work"
Hi, I want use istio envoyFilter "envoy.grpc_json_transcoder" to translate http-grpc. But it doesn't work.
Here is my config:

EnvoyFilter
[code]

Service
[code]

Deployment
[code]

VirtualService
[code]

Gateway
[code]

Proto

syntax = "proto3";

package pb;
option go_package = "pb";

import "google/api/annotations.proto";

service MyService {
    rpc GrpcServiceA(ReqData) returns (Resp) {

[2019-08-14 03:13] #15770 closed

[2019-08-14 04:41] rakeshjain1213 commented on #16227
Hi,

Please find the configurations files and 1234 is just a example, actual port used is 8089.

[gateway.txt](https://github.com/istio/istio/files/3499835/gateway.txt)
[service.txt](https://github.com/istio/istio/files/3499836/service.txt)
[virtualservice.txt](https://github.com/istio/istio/files/3499837/virtualservice.txt)

[2019-08-14 06:06] #16262 closed

[2019-08-14 06:28] etsrepo opened #16263 "adapters sending context graph batch failed: rpc error: code = PermissionDenied desc = Context Graph API has not been used in project"
**Bug description**

stackdriver logs for telemetry has these many times

[code]

**Affected product area (please put an X in all that apply)**

[x] Configuration Infrastructure
[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[x] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Version (include the output of `isti

[2019-08-14 06:37] dhineshbabuelango opened #16264 "ISTIO- Case sensitive Virtual Service"
Hi All , We are using istio in EKS, to access a micro service through istio ingress gateway load balacner, we create gateway and virtual service. But the path we mention in the virtual service in prefix is case sensitive. I have seen some tech notes to use ignoreUriCase: true, but it doesn't worked,
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: otp-service
spe

[2019-08-14 06:41] morvencao opened #16265 "Operator: crd chart directory is messed up"
Sync chart from istio/installer to operator after https://github.com/istio/operator/pull/190, I found that `crds` chart directory is messed up, it happens when sync chart at the first time:

[code]

**Steps to reproduce:**

1. remove the `data/charts` directory in operator repo
2. run `make mesh`
3. check the `data/charts` dir

[2019-08-14 06:50] #16265 closed

[2019-08-14 06:58] bianpengyuan commented on #16263
Istio addon is configured to send context graph data, which is an alpha product and whitelisted based. Feel free to ignore the error message, since the call is made every several minutes, it should have no impact on telemetry service even customer is not whitelisted for the product.

I am going to close this, please reopen if there is anything unclear.

[2019-08-14 06:58] #16263 closed

[2019-08-14 07:06] Asisranjan commented on #15981
please refer https://github.com/istio/tools/blob/81cc22348059bb17ad9c2f571018e78780a1bbf5/perf/istio-install/values.yaml

[2019-08-14 07:36] elevran commented on #15451
hi @rakeshjain1213. Have you gone through the Istio tasks and concepts for egress traffic?
For example, https://istio.io/docs/tasks/traffic-management/egress/egress-tls-origination/?

[2019-08-14 08:59] c0d1ngm0nk3y commented on #14782
@howardjohn We compared the results of #16211 and #15810 . Although they sound like they are tackling the same problem, the memory consumption in our scenario is quite different. The memory usage still grows exponential and not linear. So we think #15810 would still be important. Do you think both approaches can be combined?

Worth to mention maybe that we do not use sidecars at all in our scenari

[2019-08-14 09:10] svilenvul commented on #16171
@lei-tang @yangminzhu, this bug is preventing us to migrate to Istio End User Authentication.

It looks rather simple to fix. Could you give an Estimated Time of Availability for it?

[2019-08-14 09:16] edussx commented on #14782
@howardjohn Thanks for the explanation! I suppose you're talking about the queue implemented here: https://github.com/istio/istio/pull/15405/files#diff-5c8e05caf018e8f8a83c7e14133f7627R44

But both @ShimiT 's and my cases happened in release 1.1.x which does not have the queue introduced. (Yes I didn't find the code because I was looking at 1.1.x at that time :) )

I notice there're a bunch of PRs

[2019-08-14 09:35] tkatrichenko opened #16266 "HTTPS access to external service on none 443 port"
**Bug description**
Looks like Istio doesn't allow applications to access external services through https and use none standard ports (not 443, 8443).
I have a pod with istio-proxy injected
[code]
When I try to curl ext service using https on port 443, it works fine and returns code 200.
But if I try to use another port (7054 in my case), the request fails
[code]
I saw such errors in bug tickets b

[2019-08-14 09:40] nokiabaitanik commented on #15981
resource wise , I am not sure whether there is a problem or not . because cpu limit was not hitting earlier.
and even for 500 tps it behaving same. But for 500 tps , it is stable for 2 hours . Then it starts dropping .
we are using the values.yaml what comes default with the istio helm charts. the cpu limis  is 2 and memory limit is 1Gi.
![image](https://user-images.githubusercontent.com/47983805/

[2019-08-14 10:40] rajeshaz203 opened #16267 "Unable to access Kia via the ipaddess of the cluster Ingress which is an external IP address"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

Kiali: http://<IP ADDRESS OF CLUSTER INGRESS>:15029/
Prometheus: http://<IP ADDRESS OF CLUSTER INGRESS>:15030/
Grafana: http://<IP ADDRESS OF CLUST

[2019-08-14 13:35] nfons commented on #16165
[code]

[code]

[2019-08-14 13:36] howardjohn commented on #14782
@c0d1ngm0nk3y yes I don't think the PR I linked means we don't want the other one, I submitted it for other reasons then noticed it made an improvement here. I think the one you have helps in overloaded scenarios - when pilot is throttled, it has no backoff and keeps creating more and more objects that it can't free fast enough.

[2019-08-14 13:39] ericvn commented on #11845
Will close this since the there is no work to get things working with IKS. I will still do a blog/doc describing the process. I don't think we necessarily need an issue for the blog/doc.

[2019-08-14 13:39] #11845 closed

[2019-08-14 15:46] howardjohn commented on #16260
This happened in a large cluster, later I seemed to be getting OOMs as well -- maybe they were all from OOM and I didn't notice. it seems to not happen on a smaller cluster

[2019-08-14 15:48] howardjohn commented on #16260
ah it looks like our memory limit is only 256Mi but 1GB on ingress, probably the root cause

[2019-08-14 16:12] howardjohn commented on #16201
Last task needed is to send an announcement on discuss and/or slack @geeknoid

and trigger a snapshot build, need an owner

[2019-08-14 16:15] howardjohn commented on #6324
In 1.3 we added a /quitquitquit endpoint to pilot-agent

[2019-08-14 16:50] amutt commented on #13438
@varungbt

Does your workaround allow for the use of external certificates from a separate CA to be used by istio/citadel in place of of it's generic certificates?

[2019-08-14 17:10] JimmyCYJ commented on #14721
The proxy log shows this error "listener '0.0.0.0_443' failed to listen on address '0.0.0.0:443' on worker", that is why 443 listener takes longer to be active, and the verification of Envoy stats failed with timeout.

[2019-08-14 17:13] howardjohn opened #16273 "Frequent LDS ACK ERROR"
[code]

This seems to happen at start up typically then work ok

[2019-08-14 17:24] bhavyanshu commented on #16103
We are facing the exact problem in our EKS cluster. We installed everything using Helm.

[2019-08-14 17:29] esnible commented on #15293
@mbanikazemi If java.rmi.server.hostname isn't set how does RMI/JRMP calculate the address?

[2019-08-14 18:05] pitlv2109 opened #16274 "Jwt authentication does not work when deploying Istio with any CA (e.g. Vault) other than Citadel"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Jwt authentication does not work when deploying Istio with any CA (e.g. Vault) other than Citadel. Response code is 503, instead of the expected 200

[2019-08-14 18:06] howardjohn commented on #16083
Turns out this happens in default envoy -- opened https://github.com/envoyproxy/envoy/issues/7919

[2019-08-14 18:24] yangminzhu commented on #16274
If this is P0, it would be 1.3 blocker, cc @rlenglet

@pitlv2109 could you provide the istio install yaml that could be used to reproduce the issue?

[2019-08-14 18:32] yangminzhu commented on #16171
@lei-tang added the support of Cors preflight in Istio proxy. I just talked with him but he is working on other tasks and won't be able to work on this.

@myidpt @rlenglet let me know if you can find someone to help on this. I can try to take a look if nobody is going to work on this but I'm not familiar with this part of code.

@svilenvul sorry for the delay, I was handling a urgent security CVE

[2019-08-14 18:34] pitlv2109 commented on #16274
@yangminzhu I think the easiest way to test with Vault is just to use the integration test. Otherwise, you can try to deploy Istio with this https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/example-values/values-istio-example-sds-vault.yaml

[2019-08-14 18:35] yangminzhu commented on #16274
@pitlv2109 could you provide the full generated yaml? Just to make sure we can reproduce it in the same environment. Thanks.

[2019-08-14 18:57] douglas-reid commented on #16210
There is an outstanding proposal to add support for this config to the `Sidecar` resource. I hopefully will have more to share in the coming weeks.

[2019-08-14 19:41] andraxylia opened #16275 "Automatic detection/tracking of Envoy deprecation"
Process: we need to track Envoy deprecation pro-actively in our tests so we can address them timely:
https://www.envoyproxy.io/docs/envoy/latest/intro/deprecated

Currently Envoy emits warnings similar to this:
[2019-02-21 15:21:07.272][15][warning][misc] [external/envoy/source/common/protobuf/utility.cc:129] Using deprecated option 'envoy.api.v2.listener.Filter.config'. This configuration will be

[2019-08-14 19:43] silentdai commented on #16260
The large cluster you mean a cluster with high egress traffic or large number of serviceentry/gateway crd?

[2019-08-14 19:47] andraxylia opened #16276 "Envoy deprecation: ORIGINAL_DST_LB, use CLUSTER_PROVIDED policy"
https://www.envoyproxy.io/docs/envoy/latest/intro/deprecated#version-1-12-0-pending

Version 1.12.0 (pending)
The ORIGINAL_DST_LB load balancing policy is deprecated, use CLUSTER_PROVIDED policy instead when configuring an original destination cluster.

[2019-08-14 19:54] myidpt commented on #16171
@svilenvul Our team are all occupied on high-priority things now. We will get to this as soon as we have bandwidth.
Adding the help wanted label in case anyone from the community is interested in fixing this.

[2019-08-14 19:58] UnwashedMeme commented on #10537
@frankbu asked about the value for a "very limitted set of upstream hosts". For our case those are mission critical legacy services.

I would like our new k8s/Istio native services to reliably talk to legacy (vm based) services with minimum duplicated configuration. I would like to create VirtualServices/ServiceEntries in istio/kubernetes that can properly load balance to external VMs and not *als

[2019-08-14 20:02] howardjohn commented on #16260
I have no egress traffic, just a fair amount of config - about 500 pods across 50ns or so. Egress was using about 256mb - not a crazy amount, but just enough to trigger oom

[2019-08-14 20:38] brian-avery commented on #16201
I'll take care of the announcement.

[2019-08-14 21:25] richardwxn commented on #16203
merged in [operator/186](https://github.com/istio/operator/pull/186)

[2019-08-14 21:25] #16203 closed

[2019-08-14 22:28] incfly opened #16282 "gRPC https service requires declare service port as "https""
**Bug description**

gRPC server serving traffic in https, client verifies it using shared trusted CA. This setup with Istio requires declaring service port as "https-xxx" rather than "grpc", otherwise it does not work.

The reason is because, I believe

- `HTTPS` we setup tcp proxy to pass through bytes.
- 'gRPC' is treated as http and using HCM. Envoy trying to proxy the TCP connection and does

[2019-08-14 23:28] #15849 closed

[2019-08-14 23:37] mafarinacci commented on #16126
I think this is absolutely a needed feature. I want to get guaranteed cores on kubernetes nodes so that my low latency applications don't get throttled by kubernetes. It looks like me and another user have the same concern. I think we could talk about it at the next community meeting perhaps?

As far as implementation, that's actually not what I was thinking. this is what I think we should modify

[2019-08-14 23:45] brian-avery commented on #16201
The announcement is now posted here: https://discuss.istio.io/t/1-3-release-branch-cut/3484 and in the general slack channel

[2019-08-15 00:15] lukesiler opened #16285 "Slow k8s deployment rolling updates after upgrade from Istio 1.0.9 to 1.1.12"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

After updating our development GKE cluster from Istio 1.0.9 to 1.1.12, we are experiencing degraded rolling update behavior on our kubernetes deplo

[2019-08-15 00:17] lukesiler commented on #16285
While investigating, I found a couple of Istio github issues that describe symptoms we are seeing in our cluster.

https://github.com/istio/istio/issues/15088
https://github.com/istio/istio/issues/15275
https://github.com/istio/istio/issues/15457

[2019-08-15 00:40] lukesiler commented on #16285
I grabbed the istio-proxy logs from a two replica deployment that exhibited this behavior.

Here is the startup log of the istio-proxy on the first pod replica - notice the 3.5 minute delay before Envoy declares itself ready at 2019-08-14T22:09:39.101289Z

`
2019-08-14T22:09:35.619409Z     info    FLAG: --applicationPorts="[20000]"
2019-08-14T22:09:35.619466Z     info    FLAG: --binaryPath="/usr/l

[2019-08-15 00:50] howardjohn opened #16287 "integ-security-k8s-presubmit-tests-master reachability test failures"
The reachability tests have had a major regression in test flakiness. See testgrid: https://testgrid.k8s.io/istio-presubmits-master#integ-security-k8s-presubmit-tests-master&exclude-non-failed-tests=&width=20

The tests were pretty green for a while, up until about August 13. Since then they have a roughly 50% pass rate

[2019-08-15 01:16] howardjohn commented on #16287
@JimmyCYJ this seems to have started with #16114, is it maybe related?

[2019-08-15 03:50] rlenglet commented on #16274
@pitlv2109 @yangminzhu
What is the status of Vault support in Istio 1.2? Is this issue a regression?

[2019-08-15 03:54] hzxuzhonghu commented on #16273
Maybe same, got this warning in envoy when i enable redis filter.

[code]

[2019-08-15 03:56] howardjohn commented on #16273
ah we need to fix that deprecated API usage

[2019-08-15 03:58] hzxuzhonghu commented on #16273
[code]

[2019-08-15 03:59] hzxuzhonghu commented on #16273
Let me have a fix for it.

[2019-08-15 04:29] hzxuzhonghu commented on #15429
@ramaraochavali Even with #16289,  i still can not access redis server, with error.

[code]

And the listener and cluster config is

[code]

[2019-08-15 04:51] #16228 closed

[2019-08-15 05:35] morvencao opened #16290 "Operator: no kubernetes mapping for DaemonSet resources"
Currently we only have kubernetes mapping for `Deployment` resource, kubernetes mapping for DaemonSet resources is missing, results k8s overlay doesn't work on DaemonSet resource, eg. NodeAgent, IstioCNI

see: https://github.com/istio/operator/blob/master/pkg/translate/translate.go#L126-L171

[2019-08-15 05:44] #15427 closed

[2019-08-15 05:47] irisdingbj commented on #15640
@incfly Thanks! Yes, I will make it part of `istioctl add-to-mesh`

[2019-08-15 07:11] mchudnovskiy commented on #10537
# Envoy's Active Health Check discovery
## Description

During this task we will test envoy active health check on cluster with two http endpoins.

Cluster configuration:
[code]
Health check configuration:
[code]

Full envoy configuration and endpoint sources are avaliable on [Github][envoy-exp-github]

All components are running locally in docker with the sharing docker bridge network:
[code]
Tes

[2019-08-15 07:20] Stono commented on #16188
Hi @howardjohn - bit of an update for you.
Upgraded to `1.2.4` a few days ago (issue was reported on `1.2.2`).

I drained 3 nodes at the same time this morning which resulted in about 80 pods being moved and we saw this issue _a lot_ (7 different applications) as they were brought up on their new nodes.

They all manifested in the same way, using **120mb** - **130mb** of memory.  Once i manually r

[2019-08-15 07:29] vadimeisenbergibm commented on #10537
@rshriram What do you think regarding using Envoy's health checking for external services? See https://github.com/istio/istio/issues/10537#issuecomment-521540740.

[2019-08-15 08:27] dhineshbabuelango opened #16293 "istio without internet"
Hi All,
we are using istio in EKS. We are trying to install istio without internet access.
So we have downloaded all the images and put in ECR and changed the istio configuration file to take the image from ECR. we were able to to do that but not able to start the istio-proxy getting the below error.

Events:
  Type     Reason     Age                     From

[2019-08-15 08:37] crhuber commented on #15429
Version 1.2.3 has resolved our issue.
https://istio.io/blog/2019/announcing-1.2.3/

[2019-08-15 08:37] #15429 closed

[2019-08-15 08:45] #12572 closed

[2019-08-15 08:54] DJDANNY123 commented on #16293
This seems to suggest the docker image for istio-proxy does not have the "proxy" executable in and the image has been mishandled, when importing images to ECR, was this automated or did you do this manually?

I had a similar error from doing a docker save to create a .tar and then docker import instead of docker load, which has a surprisingly large difference/impact on the imported image.

[2019-08-15 09:01] dhineshbabuelango commented on #16293
Hi Dany, I downloaded the image from docker using Docker pull and then uploaded the images to ecr and changed the values in helm chart to point to ecr and started this

[2019-08-15 09:14] DJDANNY123 commented on #16293
To get it into ECR did you docker tag the image to point to the ECR image and then docker push or did you docker export/docker save to a file and upload the file?
docker export may have messed up your image as "The docker export command does not export the contents of volumes associated with the container."

I am unfamiliar with ECR but imagining it works like other image registries.

[2019-08-15 09:15] eyaweiy commented on #16222
Yes, the certificate is renewed about each 1m30s, and the connection failure happened also.
I test with fortio as traffic sender,
`09:07:48 I http_client.go:648> Closing dead socket &{{0xc000160580}} (err EOF at first read)
09:07:48 I http_client.go:648> Closing dead socket &{{0xc000160a80}} (err EOF at first read)
09:07:49 I http_client.go:648> Closing dead socket &{{0xc0002ba280}} (err EOF at fi

[2019-08-15 09:33] dhineshbabuelango commented on #16293
Yes, I first have to run docker tag and the run docker push to push the image to ECR.

1. Docker pull
2. Docker tag
3. Docker push

[2019-08-15 11:49] jaygridley commented on #16103
Same here on Azure AKS. We installed using Kiali Operator.

[2019-08-15 12:27] jmazzitelli commented on #16103
Some work very recently went into meshpolicies / servicemeshpolicies (mainly for Maistra integration).
@lucasponce can you look at this and see what you think?

This seems like the installation is just missing some permissions, but I am not sure if that's all that is happening here.

[2019-08-15 12:33] jmazzitelli commented on #16103
Kiali 1.2 has the meshpolicies permissions:

https://github.com/kiali/kiali/blob/v1.2/operator/roles/kiali-deploy/templates/kubernetes/role.yaml#L109-L119

Kiali 0.20 does as well:

https://github.com/kiali/kiali/blob/v0.20/operator/roles/kiali-deploy/templates/kubernetes/clusterrole.yaml#L108-L118

Note that both are valid only if you installed via the Operator.

Istio 1.2 helm chart has it, too:

[2019-08-15 13:05] xiaozhongliu opened #16295 "Remote istio-pilot gets connected slowly"
**Bug description**
I have two clusters:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cluster A in one region - data plane
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cluster B in another region - control plane
A joins B to form a single control plane topology. There is 200ms delay between the two regions.

All pods of apps deployed in A takes about 10 minutes in average to succeed connecting the remote istio-pilo

[2019-08-15 13:26] #15725 closed

[2019-08-15 13:55] jmazzitelli commented on #16103
I believe this is a dup of this issue: https://github.com/kiali/kiali/issues/1337

[2019-08-15 13:55] abonas commented on #16103
related issue https://github.com/kiali/kiali/issues/1337

[2019-08-15 14:08] howardjohn commented on #16293
the sidecar doesn't have an executable named proxy. It runs `pilot-agent proxy ... ` I believe . so it seems the cmd/entry point got messed up maybe

[2019-08-15 14:33] DJDANNY123 opened #16297 "Istio Pilot cannot connect to Galley and fails ingress-gateway + in mesh istio services"
**Bug description**
Upon deploy of Istio 1.2.3 using Helm (out of the box other than added image pull secrets and custom image repo),  the following services fail:
istio-pilot
istio-ingressgateway
istio-policy
istio-telemetry

Disabling MCP allows all pods except the ingress-gateway to successfully deploy (with very similar logs)

**Affected product area (please put an X in all that apply)**

[ ]

[2019-08-15 15:07] howardjohn commented on #16287
Also impacting https://testgrid.k8s.io/istio-presubmits-master#integ-new-install-k8s-presubmit-tests-master, https://testgrid.k8s.io/istio-postsubmits-master#integ-k8s-113-postsubmit-master, and https://testgrid.k8s.io/istio-postsubmits-master#integ-k8s-112-postsubmit-master

[2019-08-15 15:37] eightnoteight commented on #16273
not sure if related to this error but I'm getting has unknown fields error
[code]

any fix for this problem?

[2019-08-15 15:39] howardjohn commented on #16273
@eightnoteight can you provide pilot version and the version of the proxy?

[2019-08-15 15:41] howardjohn commented on #16273
Nevermind I forgot I can just look at the metadata.. looks like `master-20190813-09-16` for the proxy.. that is weird, I would only expect that with an older proxy.

It doesn't say what the unknown field is which is annoying. Do you have config we can produce it with?

[2019-08-15 15:42] israel-hdez commented on #16103
@stevehipwell @bhavyanshu @jaygridley Can you please provide you AKS/EKS versions?

[2019-08-15 15:43] kyessenov commented on #16273
It's probably the field I added to xDS `traffic_direction` https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/lds.proto

[2019-08-15 15:46] howardjohn commented on #16273
ok we probably need to guard it with proxy version GE 13. Thanks

[2019-08-15 15:48] kyessenov commented on #16273
Do we still not enable allowing unknown fields?

[2019-08-15 15:53] howardjohn commented on #16273
It is set, it doesn't seem to work though

[code]

[2019-08-15 15:56] kyessenov commented on #16273
File a bug in envoy please. It the field is set and not respected, it has a potential for an outage.

[2019-08-15 15:58] rmichela commented on #14797
Workaround: Use different labels for the DestinationRule selector, or change the VitualService's route destination to use host/port instead of host/subset.

[2019-08-15 15:58] howardjohn commented on #16273
ok, let me get a minimal reproducer. I always thought that field just meant the bootstrap or something since we have had this problem for a while, but docs seem to indicate otherwise

[2019-08-15 16:00] kyessenov commented on #16273
It shouldn't matter if it's in bootstrap or xDS. That was the original goal when I initially added the field, since it's generally confusing where the line is between JSON/proto.

[2019-08-15 16:42] #16184 closed

[2019-08-15 16:49] ostromart opened #16305 "Set flag not taking effect in manifest generate"
It looks like the `--set` option doesn't always override the values in the specified input: file`default.yaml` is a copy of the built-in default profile spec.

$ ~go/bin/mesh manifest generate -f default.yaml -s security.components.citadel.common.values.selfSigned=false | grep self-signed-ca
            - --self-signed-ca=true

[2019-08-15 16:52] jaygridley commented on #16103
I've tried on Kubernetes 1.13.9 and 1.14.5 with Kiali 1.3.1/1.1.0/0.20 all with same issue.

[2019-08-15 16:53] howardjohn commented on #16273
interesting, seems broken in the envoy version we used, but fixed at HEAD (56d03e0bd106e933ece6201439bbf4d4208f39a5). will try to see what fixed it

[2019-08-15 17:07] aattuluri commented on #14801
@esnible I think I found the problem.
When I run `istioctl proxy-status` I see `Error: Get http://127.0.0.1:15014/debug/syncz: dial tcp 127.0.0.1:15014: connect: connection refused`.

I see that `global.monitoringPort` is set to `15014` for stock installation so when I install default istio, it worked.

However, we have set `global.monitoringPort` to `9093` in our installation and hence port 15014

[2019-08-15 17:07] howardjohn commented on #16273
@kyessenov Created https://github.com/envoyproxy/envoy/issues/7936

[2019-08-15 17:13] JimmyCYJ commented on #16287
@howardjohn Thanks for catching this. The reachability test failures are not relevant to #16114, my PR made changes to pkg/test/framework/components/ingress/ingress.go to get external IP and port, and send request to that IP. Ingress is not created or used in the reachability tests. Those tests use Echo to make requests between workloads. https://github.com/istio/istio/blob/979015470fc1612a658f9cc

[2019-08-15 17:15] JimmyCYJ commented on #16287
@incfly Do we have any change to permissive mode recently?

[2019-08-15 17:21] howardjohn commented on #16287
Thanks Jimmy. maybe just a coincidence they started failing in your change, I didn't think it could cause it but it did change a similar area.

I wonder if its possible that when you added those new tests somehow there is interference between the tests causing failures? Not sure..

[2019-08-15 17:26] Monkeyanator commented on #16287
Shot in the dark, but maybe some change elsewhere made it so that [this sleep](https://github.com/istio/istio/blob/master/tests/integration/security/reachability/reachability_test.go#L186) isn't always enough time to let config propagate?

[2019-08-15 17:29] JimmyCYJ commented on #16287
@Monkeyanator That is also possible. We need to try reproducing this first and figure out the root cause.

[2019-08-15 17:34] howardjohn commented on #16287
Do we not have retries in the reachability test? maybe we just need to wrap
in retry.UntilSuccess

On Thu, Aug 15, 2019 at 10:30 AM Jimmy Chen <notifications@github.com>
wrote:

[2019-08-15 17:39] silentdai commented on #16282
I don't understand the end-2-end flow a grpc protocol. The bottom line is inbound listener, outbound cluster should act consistently in terms of alpn and auth filters.
Need to explore how istio can add value if user specify protocol name "grpc"

[2019-08-15 17:43] howardjohn opened #16306 "Need test to exercise Envoy version n with Pilot version n+1"
During an upgrade, users will have a newer pilot than envoy for some (or maybe a long) period of time. During this time, if pilot sends any config that the proxy doesn't understand, it will blow up.

We need to have a test case for this. It should be fairly simple, just set `proxyImage` and have an extra run of some the reachability tests for example.

[2019-08-15 17:44] howardjohn commented on #16273
Confirmed in Istio land that *removing* --allow-unknown-fields actually fixes this...

[2019-08-15 17:53] geeknoid opened #16307 "Update release note content for 1.3"
Need to update the [release note content for 1.3](https://github.com/istio/istio/wiki/Release-Note-1.3-Draft). See the [Release Note Schema](https://docs.google.com/document/d/1xiiCWfY8NwVd4mvvaIldzgnAHbmHWAfTFnPXZw53WbQ/edit) doc for guidance.

[ X] Configuration Infrastructure
[ x] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Te

[2019-08-15 17:55] howardjohn commented on #16306
If someone starts working on this please comment, I may work on it when I find some time if not

[2019-08-15 17:56] geeknoid opened #16308 "Update release note content for 1.3"
Need to update the [release note content for 1.3](https://github.com/istio/istio/wiki/Release-Note-1.3-Draft). See the [Release Note Schema](https://docs.google.com/document/d/1xiiCWfY8NwVd4mvvaIldzgnAHbmHWAfTFnPXZw53WbQ/edit) doc for guidance.

[ ] Configuration Infrastructure
[x] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test

[2019-08-15 17:58] geeknoid opened #16309 "Update release note content for 1.3"
Need to update the [release note content for 1.3](https://github.com/istio/istio/wiki/Release-Note-1.3-Draft). See the [Release Note Schema](https://docs.google.com/document/d/1xiiCWfY8NwVd4mvvaIldzgnAHbmHWAfTFnPXZw53WbQ/edit) doc for guidance.

[ ] Configuration Infrastructure
[x] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test

[2019-08-15 17:59] geeknoid opened #16310 "Update release note content for 1.3"
Need to update the [release note content for 1.3](https://github.com/istio/istio/wiki/Release-Note-1.3-Draft). See the [Release Note Schema](https://docs.google.com/document/d/1xiiCWfY8NwVd4mvvaIldzgnAHbmHWAfTFnPXZw53WbQ/edit) doc for guidance.

[ ] Configuration Infrastructure
[x ] Docs
[ ] Installation
[ ] Networking
[x ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Te

[2019-08-15 17:59] geeknoid opened #16311 "Update release note content for 1.3"
Need to update the [release note content for 1.3](https://github.com/istio/istio/wiki/Release-Note-1.3-Draft). See the [Release Note Schema](https://docs.google.com/document/d/1xiiCWfY8NwVd4mvvaIldzgnAHbmHWAfTFnPXZw53WbQ/edit) doc for guidance.

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ x] Policies and Telemetry
[ ] Security
[ ] Tes

[2019-08-15 18:04] geeknoid opened #16312 "Update release note content for 1.3"
Need to update the [release note content for 1.3](https://github.com/istio/istio/wiki/Release-Note-1.3-Draft). See the [Release Note Schema](https://docs.google.com/document/d/1xiiCWfY8NwVd4mvvaIldzgnAHbmHWAfTFnPXZw53WbQ/edit) doc for guidance.

[ ] Configuration Infrastructure
[ x] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ x] Security
[ ] Te

[2019-08-15 18:04] geeknoid opened #16313 "Update release note content for 1.3"
Need to update the [release note content for 1.3](https://github.com/istio/istio/wiki/Release-Note-1.3-Draft). See the [Release Note Schema](https://docs.google.com/document/d/1xiiCWfY8NwVd4mvvaIldzgnAHbmHWAfTFnPXZw53WbQ/edit) doc for guidance.

[ ] Configuration Infrastructure
[ x] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Tes

[2019-08-15 18:18] geeknoid opened #16314 "Review which environment variable, annotations, and command-line options that should be hiddenions should be hidden"
Please review all environment variable defined, all annotations used, and all command-line flags defined. For each item, decide whether the thing is meaningful to customers, or whether it is intended for developer-only use. If it's only meant for developers, then mark the item as hidden so it is not output in the customer-facing docs on istio.io.

Refer to <https://github.com/istio/istio/wiki/Writ

[2019-08-15 18:56] esnible commented on #14801
I have verified the problem.

`istioctl` does the equivalent of `kubectl exec <pilot-pod> -- /usr/local/bin/pilot-discovery request GET /debug/syncz`.  Unfortunately _pilot/cmd/pilot-discovery/request.go_ is hard-coded to use "127.0.0.1:15014" as the host:port to GET from.

I propose the Helm charts for Pilot set an ENV variable to the value of `global.monitoringPort` and
_request.go_ would defaul

[2019-08-15 19:03] esnible commented on #14801
@sdake Do you agree on the idea of using a new Pilot ENV variable to hold the `monitoringPort`?
There already is a variable ISTIO_PILOT_SERVICE_PORT_HTTP_MONITORING but it may be Kubernetes specific.  Alternately, _request.go_ could try to get the port from a ConfigMap.

[2019-08-15 19:12] nokiabaitanik commented on #15981
Please give an update. What others details you need?

[2019-08-15 19:41] bhavyanshu commented on #16103
My cluster is:

[code]

[2019-08-15 19:59] aattuluri commented on #14801
Thanks @esnible I can submit a PR with the fix once you finalize on the approach.

[2019-08-15 20:09] alyssawilk commented on #16275
https://github.com/envoyproxy/envoy/issues/7548 may help with this: plan of record is to have a build option to make warnings fatal, which would make picking them up quite easy if you're willing to run one build with the build option flipped?

[2019-08-15 20:56] cboggs opened #16321 "Istio 1.2.4 - Segfault in Envoy when using Jaeger native tracing (via `Dynamic.OTConfig`)"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
When including a dynamic opentracing config for Envoy in Istio's `pilot-agent` 1.2.4, Envoy consistently segfaults on every request to the proxy. Is

[2019-08-15 21:10] yevgenypats opened #16324 "Continuous Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- [go-fuzz](https://github.com/dvyukov/go-fuzz) fuzzers
- Continuous Fuzzing of master branch which will generate new corpus and look for new crashes
- Regression on eve

[2019-08-15 21:48] howardjohn commented on #16324
Fuzzing is definitely something we (or at least I :slightly_smiling_face:) am interested. See https://github.com/istio/istio/issues/14935 for some more info and my branch https://github.com/istio/istio/compare/master...howardjohn:experimental-fuzz-testing where I have done some (very rough) work.

Initially what I would like to have setup is fuzzing of our config validation, which is pretty simple

[2019-08-15 21:49] Parvathy-Geetha opened #16327 "Istio retry not working as expected"
**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
Retries to work and 15 GET requests to be sent to the unavailable service.

**Steps to reproduce

[2019-08-15 22:02] douglas-reid opened #16328 "Bad merge reflect in kube inject golden file"
https://github.com/istio/istio/blob/master/pilot/pkg/kube/inject/testdata/inject/app_probe/ready_live.yaml.injected

includes the following text:

[code]

This text was added here: https://github.com/istio/istio/commit/cb1921d63b3b0c56d99f3705008617230720ceb1#diff-cfcc2f4119511fd28dce2bb144ede49e (from PR: https://github.com/istio/istio/pull/10830)

This seems to indicate that the file is not need

[2019-08-15 22:14] aaronmell opened #16330 "Prometheus template has possible non-existent label to determine if mtls is enabled."
The template for prometheus mtls references __meta_kubernetes_pod_annotation_istio_mtls
We have mtls enabled on some of our pods in the cluster, but we don't have any mtls annotations on our pods. I haven't found any reference in source or documentation about this annotation, and I am wondering if the annotation was removed at some point.

**Bug description**

**Affected product area (please put a

[2019-08-15 22:16] howardjohn commented on #14283
There are a few ways to improve this:

1. Change config less often. This is the easiest solution, but may not be feasible in shared clusters
2. Have pilot send config less often. Set the following env variables:
[code]

This will make config changes delayed by 10-30s. Tune according to your comfort level. The `PILOT_ENABLE_EDS_DEBOUNCE` will make it so that endpoint changes are sent immediately, s

[2019-08-15 22:18] howardjohn commented on #14283
Sorry forgot to mention, `PILOT_ENABLE_EDS_DEBOUNCE` is introduced in 1.3, as well as many other fixes to make this actually work well without getting 503s

[2019-08-15 22:20] #15787 closed

[2019-08-15 22:36] couniojc opened #16331 "Port conflict on egress when ALLOW_ALL is used"
**Bug description**

We have a ElasticSearch service is running inside the cluster (outside of the mesh) on http on port 9200, port is named 'http' in the service. ALLOW_ALL is activated for egress. When a request is sent to an external url on https also on port 9200, the request responds :
curl: (35) error:1400410B:SSL routines:CONNECT_CR_SRVR_HELLO:wrong version number

If the port of the servic

[2019-08-15 23:01] silentdai commented on #13622
The reason we cannot support dynamic port is that istio need the user to specify which ports should be intercepted by envoy proxy.
Since 1.3 we provide the experimental feature that [setting traffic.sidecar.istio.io/includeInboundPorts to "*"](https://github.com/istio/istio/wiki/Release-Note-1.3-Draft) with no trampoline risk.

However, I am not sure how it works with the security feature. Since s

[2019-08-15 23:15] aaronmell commented on #16330
Also, this regex
- source_labels: [__meta_kubernetes_pod_annotation_sidecar_istio_io_status, __meta_kubernetes_pod_annotation_istio_mtls]
        action: keep
        regex: (([^;]+);([^;]*))|(([^;]*);(true))

Doesn't seem to match my labels for istio_io_status

[2019-08-15 23:23] mafarinacci commented on #16126
@howardjohn howardjohn ^

[2019-08-16 00:14] #15732 closed

[2019-08-16 00:33] Monkeyanator commented on #15485
Update: [the PR implementing this feature](https://github.com/istio/istio/pull/15941) is ready for final review, if anybody with stake in this issue wants to take a look.

[2019-08-16 01:37] mbanikazemi commented on #15293
It is not set automatically and if left unset it result in failure.
In the setup above, it is set through the run, sh script before running Cassandra.

[2019-08-16 02:29] geeknoid opened #16334 "Container Build enhancements"
A few things to improve in the build-tools container image:

- [x] Stuff we install into the image should be pinned to specific versions. The Ruby and Nodejs binaries we pull in currently are not pinned.

- [x] The nodejs installation appears incomplete. When building targets in istio.io, there is a zillion messages that fly by about stuff being downloaded on the fly before anything happens. This

[2019-08-16 02:34] richardwxn opened #16335 "Reverse translation of HPA spec"
In values.yaml we don't have explicit settings of scaleTargetRef and metrics for hpa spec while in operator API they are as part of HPA spec of k8s setting. When doing reverse translation, minReplicas and maxReplicas number would be mapped to corresponding HPA spec in new API but there is no source for scaleTargetRef and metrics.

we might need to do special hack to handle the generation of these

[2019-08-16 03:43] dhineshbabuelango commented on #16293
Thanks John, I have found the issue, i have not updated the ECR image tag in the values file for that particular container, now its running but not in ready state. I am also seeing the below issues in galley and sidecar_injector

[ec2-user@ip-10-76-11-201 istio]$ kubectl describe pod istio-galley-554bc46d86-wzmnw -n istio-system |grep -i warning |head -1
  Warning  FailedMount  62s (x10 over 5m17s

[2019-08-16 03:52] howardjohn commented on #16293
You don't have the secret it references, you should have
[code]

Is citadel running properly?

[2019-08-16 04:49] dhineshbabuelango commented on #16293
Thanks John, it was citadel issue, citadel was not running properly, i restarted now all the services running fine, But is it a recommended approach to use istio without internet as we have new releases very frequently in istio.

Again, thanks for your help

[2019-08-16 04:56] howardjohn commented on #16293
I haven't heard of other users doing it, but I'm sure there are many others that do it. it should just work if you get all the images loaded properly

[2019-08-16 05:31] hobbytp commented on #16170
I also met the same issue in istio 1.2.2.

[2019-08-16 05:39] shantanookirtane opened #16337 "Citadel: Certificate is NOT authorized to sign other certificate"
I am trying to install istio citadel using https://istio.io/docs/tasks/security/plugin-ca-cert/

I have below files with me

ca-cert.pem - public key of the certificate I requested ca-key.pem - private key of the certificate I requested

Note: These certifcates are created off of the below root-ca.pem

root-ca.pem - Root public certificate cert-chain.pem - intermediate public certs

I have followe

[2019-08-16 06:13] rakeshjain1213 commented on #15451
Hi Elevran,

I have gone through this concepts, but it is difficult to understand how this would be implemented.
Will you please help me to achieve this, I want to call a service outside the mesh over https with the certificate provided by them.
Please let me know what all configurations i need to do.
Thanks in advance.

[2019-08-16 06:19] yevgenypats commented on #16324
hi @howardjohn thanks for the detailed response. I'll keep an eye on those issues. BTW, you can use both OSS-Fuzz and fuzzit (There are projects who uses both) if you wish. I don't know if OSS-Fuzz currently support GO as well as regression testing. Feel free to ping me regarding any questions about fuzzit continuous fuzzing in general.

[2019-08-16 08:01] nkorange commented on #16191
@irisdingbj Thanks, your post did help a lot.
@howardjohn I have written a demo project [nacos-istio](https://github.com/nkorange/nacos-istio) based on[ istio-consul](https://github.com/costinm/istio-consul).

The logic in my project is pretty simple. I started a resource source server that return three constant service entries to the pilot:
![image](https://user-images.githubusercontent.com/45933

[2019-08-16 09:20] jolsnow opened #16340 "kubernetes 1.15.2 pilot's discovery Configuration not synced"
how to fix : Configuration not synced: first push for.... not received
and what reason cause it
There is some thing wrong with my pods :
[code]
then i found some thing wrong with istio-pilot
[code]
my galley log :
[code]

kubernetes version: 1.15.2
istio version:1.1.13

[2019-08-16 09:25] nkorange commented on #16191
I called another API: :15003/debug/registryz, it does contains my services:

![image](https://user-images.githubusercontent.com/4593375/63157898-a2072180-c04a-11e9-93f2-2090e7088c0b.png)

[2019-08-16 09:45] ngbit95 commented on #15835
Any update on this issue, i need this to be resolved asap , since it need to be implemented for production level in project, can anyone from istio help out in this, its already being a month nearly, i didn't got any response for this.!!

[2019-08-16 10:03] lucasponce commented on #16103
Yes, this issues is related kiali/kiali#1337.
A fix has already sent https://github.com/kiali/kiali/pull/1346

[2019-08-16 11:22] johnzheng1975 opened #16341 "[istio-pilot] Istio pilot failed to fetch pubkey sometimes."
**Bug description**
Istio pilot failed to fetch pubkey sometimes. This will bring JWT verify fail (401).
[code]
**Affected product area (please put an X in all that apply)**
[*] Security

**Expected behavior**
Pilot should get public key from s3, for jwt verify.  If fail once, should retry.
Istio-proxy should have a way to get the key out of cluster.

**Steps to reproduce the bug**
1 Run kubernete

[2019-08-16 12:05] dgn commented on #16327
Can you enclose your config in triple backticks (ie ` ``` `)? It's hard to figure out if this might be related to wrong indentation. Note that the `retries:` block should be on the same indentation level as `route:`

[2019-08-16 12:29] Stono commented on #10832
Hey @PiotrSikora and @duderino.
We've been hit by this one today too so not sure how best to architect to fit.  We've ended up using `excludeInboundPorts` annotation to work around it.

For context, we have:
`[client]` -> `www` -> `google-cloud load balancer` -> `sidecar` -> `app`.

[2019-08-16 14:47] howardjohn commented on #16324
There is some work to get golang support going, see
https://github.com/google/oss-fuzz/pull/2188, although I am not sure what
the process of getting Istio on it would be. Personally I just want some
fuzzing going, where it runs isn't too important (to me - to the project it
probably is), as long as it is catching bugs.

On Thu, Aug 15, 2019 at 11:20 PM Yevgeny Pats <notifications@github.com>
wrote

[2019-08-16 16:56] howardjohn commented on #16191
`:15003/v1/registration` is some legacy thing, I wouldn't look at it as you probably found, debug/registryz is better

So sounds like you got it working as expected? Thanks for the link to the demo

[2019-08-16 17:02] liminw commented on #16341
@johnzheng1975 We have seen the same issuer earlier, i.e, JWT public key failed to refresh due to intermittent network error. We fixed it by improving the retry logic in Pilot. See [issue#14638](https://github.com/istio/istio/issues/14638) for details. The fix was checked to Istio 1.1. If you upgrade your Istio version to 1.1 and above, the issue should be resolved.

[2019-08-16 17:17] Stono commented on #12818
Hey @douglas-reid - i'm having to investigate work arounds to this as it's stopping us scaling.
Do you think it'd be suitable for me to modify the `Sidecar` of an application to remove the reference to `zipkin`?

eg at the moment the app looks like this:
[code]

and remove?
[code]

I'm not sure on the knock on impact (eg what does envoy do when it doesn't get a route for zipkin)?

[2019-08-16 17:19] pitlv2109 commented on #16274
@rlenglet Not sure about Vault; @lei-tang should have more info. This might be a false alarm, I'll test it further.

[2019-08-16 17:20] Stono commented on #12818
Linking associated issues: https://github.com/istio/istio/issues/11582 https://github.com/istio/istio/issues/14433

[2019-08-16 17:38] lei-tang commented on #16274
Vault CA is supported in Istio 1.2. Vault CA signs the certificates for workload sidecars, which are not related to the JWT authentication.

[2019-08-16 17:47] mwringe commented on #15635
The way the Kiali does this is to just check if the sidecar is available or not.

We have two main areas where you can see this:

- if you are on the graph view, we can show a label on the workload if its missing the side car.

- if you go to the list view of workloads, you can ask it to show you only workloads that have the sidecar, or only the ones that are missing the side car.

I believe we ca

[2019-08-16 18:05] howardjohn commented on #16340
This error usually indicates a problem with the galley-pilot connection. From the logs though it looks like galley is running ok.

Do those CRDs exist in your cluster? `kubectl get crds`

[2019-08-16 18:29] utako commented on #13891
@geeknoid are you still planning on building tooling around a `has-experienced-a-flake` label, or has it been built?

For `Track how many issues are closed as fixed, duplicate, stale, or unknown`, we have the `stale` label but I don't see any others. Do we have a plan to incorporate these labels into the community workflow?

[2019-08-16 18:59] objectiser commented on #12818
HI @Stono , the proposal @douglas-reid has been working on is [here](https://docs.google.com/document/d/1s7ScttcAfKL7g4ch5goWQYymUEghtTFiMvGPcdbTnpk/edit?ts=5d5454e5).

At the end of the document in the section entitled "[7/2019] - Updated Sidecar Proposal" the proposed definition includes the ability to configure whether spans should be reported.

The benefit of this approach is that it completel

[2019-08-16 19:01] #15867 closed

[2019-08-16 19:14] elfinhe commented on #16305
Root cause: set-value is mapped to .Values.citadel.selfSigned, but template (deployment.yaml) is using .Values.security.selfSigned.

[2019-08-16 19:28] elfinhe commented on #16305
All templates are using Values.security rather than Values.citadel.

[2019-08-16 19:53] elfinhe commented on #16305
TranslateHelmValues() is not translating to "security:"?

[2019-08-16 20:20] rshriram commented on #13204
Hi, please see  #16298 . this should hopefully be available in a release daily. It would be good if you could test the unix domain socket issue.

[2019-08-16 20:23] geeknoid commented on #13891
It's been slow going to add all this functionality.

I do plan the has-experienced-a-flake label. We've done the groundwork here to track flakes, now we need to finish the top-level part of that and label things and produce a UI on our eng dashboard.

We've tried previously to have disposition labels (stale, fixed, rejected, dupe, not repro, insufficient info), but since GitHub doesn't require tho

[2019-08-16 21:28] douglas-reid commented on #12818
@Stono I've never tested what would happen in this scenario. I imagine that there might be some small overhead in Envoy, but I don't know that to be the case.

Re: the proposal. I believe we have general consensus on the API. I look forward to bringing up for formal API review in a few weeks (once vacations, etc., have finished).

[2019-08-16 21:31] #11987 closed

[2019-08-16 22:02] gotwarlost opened #16357 "istio 1.2.4: envoy segfaults occasionally on istio-proxy pods"
**Bug description**

After upgrading to `1.2.4` (from: `1.1.8`) we see occasional segfaults on many istio-proxy pods all of which have a form similar to this:

[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X ] Networking
[ X] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release

[2019-08-16 22:04] elfinhe commented on #16305
There is another issue: the value passed from CLI is typed to string (i.e., "false") rather than boolean. The Helm Render engine will ignore it if the type does not match the corresponding path in chart.

[2019-08-16 22:29] cscetbon commented on #15171
@andrewjjenkins your fix has been merged. What's missing to fix the current bug ?

[2019-08-16 22:47] nbrasz opened #16359 "Mixer Rule's requestHeaderOperation not run on check adapter rejection"
Bug description
In our Mixer check adapter, we have various steps that generate data we pass to output, and then using `requestHeaderOperations` and `responseHeaderOperations` in the `Rule` pass on to upstream services and eventually our logentry adapter.

The problem is that when one of these checks fail, even though we still send the output, the request/response header operations do not seem to

[2019-08-16 23:28] abhide commented on #13967
Discussed with @rlenglet about this issue, and will work on it.

[2019-08-16 23:32] howardjohn commented on #13967
@abhide if you haven't seen there is already some work on this merged in , I think cni uses it

[2019-08-17 00:05] rlenglet commented on #13967
@howardjohn CNI doesn't use it yet, but we'll get there at some point.

[2019-08-17 01:44] jolsnow commented on #16340
[code]

[2019-08-17 01:50] jolsnow commented on #16340
and i think the network is right
[code]

[2019-08-17 01:53] jolsnow commented on #16340
and i think kubernetes api-server i can access
[code]

[2019-08-17 03:23] duderino commented on #16357
@PiotrSikora @htuch

[2019-08-17 07:25] yevgenypats commented on #16324
I looked a bit at your branch looks like a good starting point. Do you need any specific help there? I think once at least one fuzzer is merged to master we can get the ball rolling and try to integrate to the CI or at least suggest such a PR.

[2019-08-17 12:50] zhufeizzz opened #16363 ""x509: certificate signed by unknown authority" error occurred when creating pod."
K8S version：1.14.2
Istio version：1.12.4
OS：CentOS 7

Following this guide, but error occurred.
https://istio.io/docs/examples/bookinfo/

[code]

[code]

[2019-08-17 17:19] #13463 closed

[2019-08-17 17:20] ramaraochavali commented on #15429
@hzxuzhonghu you may be seeing a different issue. The cluster seems to be generated correctly now.

[2019-08-17 18:29] #16290 closed

[2019-08-17 21:09] PiotrSikora commented on #16357
Istio Proxy binary in 1.2.4 was built from https://github.com/istio/proxy/commit/568f2b648f7185e8396caf00a5a3a9b306c36416, https://github.com/istio/envoy/commit/204283eb00ea8817e10806d0daa3e9b10393ebb9 (branched from https://github.com/envoyproxy/envoy/commit/829b905ca0fdc85233c3969247e53a62a52ac627 on 2019-05-16).

That backtrace decoded using binary with debug symbols corresponds to:
[code]

`in

[2019-08-18 01:05] PiotrSikora commented on #16357
@gotwarlost to help narrow this down:
1) Could you confirm that all crashes are happening in `Envoy::Upstream::CdsApiImpl::onConfigUpdate()`? If not, could you include others?
2) Could you put a number behind "occasionally"? Is it once a day to a single proxy instance out of thousands or every hour to a majority of proxy instances?
3) Do the crashes happen to all proxy instances at the same time?

[2019-08-18 01:13] carolynhu commented on #15228
@Monkeyanator as this issue have been solved and we also ported it over to istio/installer repo https://github.com/istio/installer/pull/326. I'm gonna to close this issue. Thanks.

[2019-08-18 03:40] gotwarlost commented on #16357
1. We ran the new version between 10:00 AM and 4:00 PM on Friday (we rolled back to provide some stability over the weekend). In that time, we saw 154 crashes with this stack trace. There are other stack traces but those do not seem to be `1.2.4` specific (i.e they were present even after the rollback to `1.1.8`).

The other stacktrace has the form:

[code]

2 `Occasionally => 154 times in 6 hours

[2019-08-18 05:14] PiotrSikora commented on #16357
Since this is a playground, could you try using `1.1.13` to narrow down the issue between "upgrade from `1.1.x` to `1.2.x`" and "switch to `libc++-7`" (to which we moved in `1.1.13` and `1.2.4`)? Would you be willing to test a custom proxy image?

Since we didn't see those crashes during our testing done by multiple people, I imagine that a specific cluster configuration is triggering this. If you

[2019-08-18 06:48] morvencao commented on #16305
[code]

Fixed in https://github.com/istio/operator/pull/208, closing...

[2019-08-18 06:48] #16305 closed

[2019-08-18 13:07] inewlife opened #16364 "grpc lb not working"
**Bug description**
I have two service client and server deploy on k8s with auto inside istio,grpc communication between two service. many-to-many, I found that there was no load balance on the client access server.Is it not configurable?
**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[* ] Networking
[ ] Performance and Sca

[2019-08-18 13:31] inewlife commented on #14017
I also had the same problem,can you apply a config to me?thanks

[2019-08-18 15:30] #13106 closed

[2019-08-18 16:42] ngbit95 opened #16366 "unable to apply multiple certificates in istio-ingressgateway while hosting multiple site using same single gateway"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Perfor

[2019-08-18 17:17] #15228 closed

[2019-08-18 18:54] LucaPrete commented on #7603
Same issue with Istio 1.22. Not able to find any valuable solution.

Funny thing is that by default traffic flows to external services. It starts to return `curl: (35) error:1400410B:SSL routines:CONNECT_CR_SRVR_HELLO:wrong version number` as soon as I add the service entry (which I would need to make traffic go through an egress gateway).

Any thought?

[2019-08-19 04:40] eyeezzi opened #16369 "Incomplete Documentation: Custom Ingress Gateway + Cert-Manager"
**Describe the feature request**
Improve the documentation of [Deploy a Custom Ingress Gateway Using Cert-Manager](https://istio.io/blog/2019/custom-ingress-gateway/). In step 4, it states that *"Make a note of the value of secretName since a future step requires it"*, but the secret is not used in any future steps.

**Describe alternatives you've considered**
To my understanding, the certificate

[2019-08-19 05:23] johnzheng1975 commented on #16341
Good to know pilot has retry in 1.1(https://github.com/istio/istio/pull/14640/files), I am upgrading istio.
Two things I still do not understand.
First question is: why jwk will expire in istio-proxy, it should never expire since it is inline_jwks.
I thought it is cached in istio-proxy forever until istio-proxy restart. However, the old jwk seems disapper after sometime without istio-proxy restart

[2019-08-19 05:44] suneeshkumar-urolime commented on #15773
It is happening randomly, like 2 or 3 times in an hour.

[2019-08-19 05:53] nokiabaitanik opened #16370 "Sidecar performance degrades over time in Istio: 1.2.3"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ X ] Perf

[2019-08-19 05:55] gustavovalverde commented on #13578
I'm having the same problem; I'm getting 404 when using HTTPS. Port 80 working great.

#### Config files

[code]

#### Curl result
[code]

Any updates on what I might be doing wrong?

[2019-08-19 06:20] vadimeisenbergibm commented on #13578
@gustavovalverde Can you rename?
[code]

I guess the port should be `http-something-odoo`, it is not HTTPS. The HTTPS in the port name that you send HTTP traffic probably confuses Istio.

Also, what is the result of sending a request to `https://istio.iterativo.do/longpolling`?

[2019-08-19 06:25] dave-pollock commented on #13138
The suggestion from @rdkr to also include an option for configuring ciphers would be perfect. I'm currently seeing this flagged by our internal security scans.

[2019-08-19 06:41] johnzheng1975 commented on #16341
The second question is:
Seems istio-proxy will try to get publickey by itself, if istio-proxy cannot get the key from istio-pilot
Why it always fail? Is it necessary to put the key inside k8s cluster?
[code]

[2019-08-19 09:00] zqzzq opened #16374 "The ValidatingWebhook failed, remote error: tls: bad certificate"
**Bug description**
when I apply a file to k8s：
[code]
Then in galley's logs I find this error:
[code]
The strange thing is that I cann't find the ip 10.xxx.192 in any pod or svc. In addition, The MutatingWebhook which has the same caBundle as ValidatingWebhookConfiguration can work normally. Is there somebody can help me? Very thanks!

**Affected product area (please put an X in all that apply)**

[2019-08-19 09:43] codingmaths commented on #16327
Hi Have used below virtual service config still getting intermittent 503s
`apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: shelf-stg-vs
spec:
  hosts:
  - shelf.stg.xyz.com
  http:
  - route:
    - destination:
        host: shelf.stg.xyz.com
    retries:
      attempts: 4
      perTryTimeout: 1s
      retryOn: "503"`

[2019-08-19 10:01] shovelend commented on #7837
@bshetti We're facing the same exact issue on our end. How did you manage to resolve the problem if I may ask?

[2019-08-19 10:25] Solarcc opened #16376 "istioctl proxy-config routes doesn't show the port in the yaml"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
I try to apply istio in my own project, but it doesn't work, and in the same environment, the sample bookInfo works, so I try to find the difference

[2019-08-19 10:40] k-tipp commented on #12521
Any news on this? @costinm can you add a link to "istio/install", I didn't find anything that looks like a configuration for concourse.

[2019-08-19 11:03] gustavovalverde commented on #13578
@vadimeisenbergibm I actually tried two things. I renamed the **https** port to another thing and I also completely removed the `https` port as it is sending to the same port as the `http `one. Same result.

With `https://istio.iterativo.do/longpolling` I have the same result; even though is working with `http`

[2019-08-19 11:16] vadimeisenbergibm commented on #13578
Two more things to try:
1. Indent `prefix` to the right, under `uri`
2. Set the hosts in the gateway to `istio.iterativo.do`

[2019-08-19 11:17] vadimeisenbergibm commented on #13578
Another thing: try to remove `istio: ingressgateway` from your Service definition.

[2019-08-19 11:25] sujithvs74 opened #16377 "Ingress gateway not accepting rps(request per second) more than 1024"
I am using Istio 1.1.8 which is installed with helm charts. I have noticed an issue with ingress gateway. Ingress gateway not accepting rps(request per second) more than 1024 with one ingress gateway. Is there any such limit in istio sidecar containers.

`outbound_.80_._.sleep.bar.svc.cluster.local::default_priority::max_connections::1024
outbound_.80_._.sleep.bar.svc.cluster.local::default_priori

[2019-08-19 11:30] gustavovalverde commented on #13578
That's curious. I tested changing (1) The `prefix` indent and (2) Removing the `istio: ingressgateway`. One of those things made it work; too bad I did it at the same time.

Reverting back both changes is not causing the 404 anymore (Is there some caching mechanism with the rules in the Istio proxy?)

[2019-08-19 12:18] Stono commented on #12818
Hey @objectiser,
If we simply have `[service a] -> [service-b]` and we effectively block (via sidecar or networkpolicy) on both; the trace would never be created correct?

I do wonder if anyone can confirm how long envoy would keep retrying and what sort of buffer it would hold?

I appreciate that it's not an ideal solution but being realistic i'm going to need to find a way to do this before the

[2019-08-19 12:19] lamplet commented on #1430
+1 for SIP

[2019-08-19 12:53] Solarcc commented on #16376
I solved it, the port name must be "http", i don't know why, but it works, and istio still doesn't work...

[2019-08-19 12:53] #16376 closed

[2019-08-19 12:54] vadimeisenbergibm commented on #13578
@gustavovalverde To be on the safe side, delete the virtual service and verify that the routing stopped working. Then define the virtual service again.

[2019-08-19 13:04] ramaraochavali commented on #16309
@howardjohn I updated the redis part. Should we also mention about sidecar injector metrics that were added? If yes, where should we add?

[2019-08-19 13:06] gustavovalverde commented on #13578
@vadimeisenbergibm well it seems like something was "hanging" there. After deleting and re-testing everything, the culprit was:
- Indent `prefix `to the right, under `uri `

I'm a bit lost why this caused the port 80 to work but not 443.

[2019-08-19 13:26] vadimeisenbergibm commented on #13578
@gustavovalverde OK, I am glad it works.

[2019-08-19 13:43] gustavovalverde commented on #13578
@vadimeisenbergibm Thank you very much for your time and patience.

[2019-08-19 13:58] howardjohn commented on #16309
yes, probably in telemetry next to the pilot and citadel dashboard ones. Thanks!

[2019-08-19 14:03] rmichela commented on #14797
@nmittler, any idea when your fix will be released?

[2019-08-19 14:05] mbanikazemi commented on #14743
I have been going through this list. For a lot of these applications, the configuration needs to be a bit different from that used when Istio is not involved. I am going to try to show common requirements first and then address these applications individually.

[2019-08-19 14:22] ostromart commented on #15505
Fixed.

[2019-08-19 14:22] #15505 closed

[2019-08-19 15:09] ostromart opened #16379 "Resolve istio-pilot Deployment diff"
make mandiff now runs mostly without diffs. The only remaining diffs are configmaps and this is due to text formatting differences which are hard to resolve. They are currently being ignored in mandiff through a flag.
However, a hash in istio-pilot Deployment also depends on one of these configmaps and that cannot be ignored. We need a way to either ignore the hash field or (better) figure out why

[2019-08-19 15:21] nmittler commented on #14797
It'll be in `1.3` which should be out soon.

[2019-08-19 15:22] htuch commented on #16357
@PiotrSikora does this still happen at Envoy master HEAD? You mention that there were a bunch of changes since this release cut.

[2019-08-19 15:29] howardjohn commented on #16324
I already have the config validation fuzzing basically working, I just
didn't merge it since we don't actually have CI for it (and I didn't have
time :)).

The real value, I think, will come from the config generation fuzzing. This
involves taking a bunch of our configs like virtualService, which are just
protobufs/go structs. The problem is I haven't found a great way to fuzz
complex stuff like t

[2019-08-19 15:39] howardjohn opened #16381 "Need a mechanism to automatically update cross-repo"
As we are moving to multi-repo, we have a lot of changes that require changes to other repos. For example, if we update the builder image in istio/tools, we need to trigger an update in test-infra to use the image. If we update istio/proxy, we need to update the version we use in istio/istio.

Currently this is almost entirely manual, which is pretty painful.

I believe we had some process that wo

[2019-08-19 16:14] howardjohn commented on #16377
See https://istio.io/docs/reference/config/networking/v1alpha3/destination-rule/#ConnectionPoolSettings-HTTPSettings (http2MaxRequests) and https://istio.io/docs/reference/config/networking/v1alpha3/destination-rule/#ConnectionPoolSettings-TCPSettings (maxConnections)

Note this does not mean you are limited to 1024 RPS, it means you can only have 1024 parallel connections/requests

[2019-08-19 16:31] howardjohn commented on #15981
Closed as dupe of #16370

[2019-08-19 16:31] #15981 closed

[2019-08-19 16:32] howardjohn commented on #16370
What if you set the requests on the sidecar to the same as the limit? What may happen is when you start  the test, the sidecar has access to the full 2 CPUs it is limited to, but as it goes on the node becomes under load, and eventually the sidecar gets throttled and is limited before 2 cores

[2019-08-19 16:33] howardjohn commented on #16364
What do you mean by "no load balancing"? Do all requests go to one instance instead of round robin? Do requests fail entirely? Is this unary calls or streaming?

[2019-08-19 17:21] sushicw commented on #12077
Recorded the steps to take as a doc in the config working group folder: https://goto.google.com/multi-tenant-galley-validation-webook-config

[2019-08-19 17:25] ozevren commented on #12077
I don't think this documentation will be easily accessible. Any chance we can have a section for this in istio.io website?

[2019-08-19 17:51] duderino commented on #16357
@gotwarlost please file bugs for the other backtraces you see (the ones present in earlier releases but still occurring with 1.2.4) and link them to this one

[2019-08-19 18:04] yangminzhu commented on #16341
when pilot pushes new config to proxy, the pubkey in the new config will override the old one in proxy. When pilot failed to fetch the pubkey, it uses an empty pubkey in the config and this is causing the 401.

Note, we improved the code with retry and better caching in 1.1. Pilot will fallback to use the cached pubkey if it failed to fetch it instead of returning an empty pubkey.

Actually proxy

[2019-08-19 18:10] yevgenypats commented on #16324
So yes the workaround that you suggest might work. There is a work-in-progress regarding structure fuzzing in go-fuzz https://github.com/dvyukov/go-fuzz/issues/65 though I don't how much this will help in your case as well as I don't have an estimate when this will be implemented.

[2019-08-19 18:15] alexmsu opened #16386 "Small TCP packages are blocked by sidecar"
**Bug description**
Small TCP packages with data length less or equal to 4 bytes are blocked, or being saved in receiving buffer. This small TCP data will be read only after another package is sent and the total buffer size is greater than 4 bytes. All the following packages even if data size is less than 4 bytes can be forwarded correctly.
Another weird finding is, if the 2nd byte of data is `/x0

[2019-08-19 18:16] grinb opened #16387 "istio cni tproxy"
Hi,
Im using istio cni 1.2.3
I tried to use it with tproxy ( in istio config map) .
I got error in istio=proxy log:
"Envoy proxy is NOT ready: config not received from Pilot (is Pilot running?)".
And also see in kublet log in the specific node that istio-iptables.sh got parameter -m to redirect and not tproxy .
Is tproxy should work with cni?

[2019-08-19 18:22] costinm commented on #12077
The istio/installer repo already does this for injector and galley I think
- the webhook name includes the namespace where istio runs.

The critical issue remains provisioning the DNS-based cert for the webhooks
- there are tools to do this, but it's not automated.

Note that injector, citadel, etc allow using some labels to specify which
namespaces are 'managed' by a particular instance.

I think

[2019-08-19 18:22] costinm commented on #12077
Reopening this since 'canary' for galley and multiple versions is still not fully resolved in installer ( or operator ).

[2019-08-19 18:27] nrjpoddar commented on #7669
Fixed via https://github.com/istio/istio/pull/16354

Latest istio master build should now have telemetry for BlackHole cluster. @Stono try it out and re-open if you use case is still not met.

[2019-08-19 18:27] #7669 closed

[2019-08-19 18:53] #13812 closed

[2019-08-19 19:52] PiotrSikora commented on #16357
@htuch we don't have a way to replicate this, so I have no idea if that's still happening at `HEAD`.

[2019-08-19 20:15] Stono commented on #7669
I don't easily have the facility to test master @nrjpoddar unfortunately, will this be released in a 1.2.x release or is it 1.3.x?

[2019-08-19 20:24] vsquare1 commented on #16109
The issue was due to F5 older version SSL protocol version. It is SSL 3.0 and failed. To fix the issue , I had terminated the TLS at ELB (By selecting the Protocol-SSLv3) and reestablish the TLS on port 31390 to Istio Ingress Gateway.

Is there a way to change the Istio Ingress Gateway to support the SSLv3?

Thanks

[2019-08-19 20:51] ostromart opened #16390 "Ensure reverse translate works with new API and Common removed"
https://github.com/istio/operator/pull/210 introduces changes that break reverse translation UT and disable it. The test may need some additional changes to reflect the new API.

[2019-08-19 21:13] rdsubhas opened #16391 "Istio is broken on all Java 11+ and most Java 9+ applications"
**Bug description**

A fully reproduceable test case with ready `kubectl apply` yamls, steps, source code and screenshots are here: https://github.com/rdsubhas/java-istio

Java 11+ default language-built-in `HttpClient` supports HTTP/2, and sends an indicative `Upgrade: h2c` header (and of course, the proper spec headers), which is only indicative as per the [HTTP/2 spec](https://httpwg.org/specs/

[2019-08-19 21:15] mitchellmaler commented on #13861
What is the status of this? Our secops team wants us to override this for all responses.

[2019-08-19 21:43] elfinhe commented on #16028
https://godoc.org/github.com/google/go-cmp/cmp#example-Reporter
The go-cmp reporter is quite promising for this feature, example: https://play.golang.org/p/DagvFYHykje