[2019-06-03 15:19] linsun commented on #14034
+1 on adding some helm template dry run.  I think this issue is fixed now with #14418 but could use some tests to enforce the fix.

[2019-06-03 15:20] mandarjog commented on #12162
@silentdai is still investigating it.

[2019-06-03 15:21] ozevren commented on #13466
Can we pass the address of the sink server, using the local DNS based
service name (similar to how Pilot connects to Galley in K8s)? Then, we can
deploy Istio with custom configuration, pointing to the service name. We
should be able to plumb the callout parameter through to Galley in case of
custom deployment.

On Sat, Jun 1, 2019 at 3:11 AM Suchith J N <notifications@github.com> wrote:

[2019-06-03 15:30] esnible opened #14529 "istioctl experimental metrics regression"
Doesn't work; message is

[code]

[2019-06-03 15:31] linsun commented on #14489
Thanks @frankb!  @stevelowery, pls check the preliminary.istio.io doc and reopen if this is not fixed.

[2019-06-03 15:31] #14489 closed

[2019-06-03 15:33] ozevren commented on #13430
In WG leads meeting, we've decided to kill the on-call process. (We probably should wait until the bots can come online though).

Closing this issue.

[2019-06-03 15:33] #13430 closed

[2019-06-03 15:44] sdake commented on #13967
For distroless images (of which no customers are using atm nor have customized rules), a go rewrite is fine, and will be welcome in the CNI implementation in the future.

The idea of simplifying the bash is orthogonal to the desire to having go code that can be properly unit tested.

@costin, I have to mostly agree with @holgero here, that having both in the repo (one for distroless, one for opera

[2019-06-03 16:04] sdake opened #14532 "https://github.com/istio/istio/pull/14355"

[2019-06-03 16:04] #14532 closed

[2019-06-03 16:26] howardjohn opened #14533 "Galley validation allows unknown fields, but rejects them internally"
Galley logs: `Unable to convert unstructured to proto: a/httpbin-a/19382981: unknown field "address" in v1alpha3.ServiceEntry`

From config:

[code]

Shouldn't this be reject at admission time?

client version: master-20190522-09-15
citadel version: master-20190603-09-16
galley version: master-20190603-09-16
ingressgateway version: master-20190603-09-16
pilot version: f0ab08afa15285a44e9534c88261e

[2019-06-03 17:11] howardjohn commented on #12469
As @evanlouie mentioned, we only look at the first two segments. See https://github.com/istio/istio/blob/8476158e82721ec4929e7071eb85f26b85189241/pilot/pkg/model/config.go#L614 for the full code if you want to dig into it more.

I think this is resolved so I am going to close it out, please reopen if you have other issues

[2019-06-03 17:11] #12469 closed

[2019-06-03 17:17] howardjohn commented on #12427
@lei-tang is this done from #12483 or is more work needed?

[2019-06-03 17:19] rshriram commented on #14496
Yes. this is more of an envoy restriction

[2019-06-03 17:20] howardjohn commented on #12441
Seems to be a dupe of https://github.com/istio/istio/issues/7233. There is some more info there that may help

[2019-06-03 17:20] #12441 closed

[2019-06-03 17:22] howardjohn commented on #12360
@linsun is this done now? Not 100% sure what the original issue was since the docs have changed

[2019-06-03 17:23] rshriram commented on #14495
So unfortunately, this too has no resolution. You could use subset based routing to achieve no mtls for vm endpoints, but that would negate the automatic failover using outlier detection, as subset routing requires explicit route config in virtual service.
 The entire chain of events here are enacted inside an Envoy cluster (locality based routing). And at cluster level, you either use mtls for al

[2019-06-03 17:24] howardjohn commented on #12545
@hzxuzhonghu you mentioned in https://github.com/istio/istio/pull/13720 this was already fixed in 1.2, is this the case? Can we close this?

[2019-06-03 17:26] howardjohn commented on #12386
@alok87 as sdake mentioned, we no longer have this in the docs so I don't think this is relevant. If you have any follow up questions please direct them to discuss.istio.io. If not I'll assume this is resolved as there has been no followup for months. Thanks

[2019-06-03 17:26] #12386 closed

[2019-06-03 17:37] ostromart opened #14534 "One line install for Istio demo"
In the context of the operator there are two requirement:
- we are no longer including add on (prom, grafana etc.) charts in Istio
- we need some way to simply install those component with config suitable for Istio demo
Installing these components side by side with the operator manifest is not reliable because the addon operators require custom CRDs, which need to be installed prior to the addon o

[2019-06-03 17:37] ChrisCooney commented on #8270
Can confirm we're seeing it in our logs every 30 minutes or so.

[2019-06-03 17:40] kyessenov opened #15721 "Run upstream tests in post-submit"
We need to monitor upstream tests (from envoy and envoy-wasm) for any problems in our build. This is possible since we may change the base workspace and dependencies do not match. Envoy is fairly sensitive to particular versions of its libraries (e.g. absl).

I think we should add a post-submit here and the testgrid for this purpose, since there is no need to run this on every pre-submit (upstream

[2019-06-03 17:45] myidpt commented on #14519
I agree. That makes sense to me.

[2019-06-03 17:47] bianpengyuan commented on #14508
@xring just confirmed with @mandarjog envoy.router has to be at the end of filter chain, so the LUA API needs to expose more info about the stream in order to get the trace headers. This is more of a FR to envoyproxy but not an istio issue. Let me know if you are ok to close this.

[2019-06-03 17:59] kyessenov commented on #14121
Please make sure to add proper linting to avoid pulling client-go in any consumer of pkg. All it takes is a single init constructor to cause unwanted dependencies.

[2019-06-03 18:09] fpesce commented on #13880
Closed as @costinm doesn't consider this code is fixing something (considering that the 1.1/master codebase are sufficiently tested to exclude possibility of racecond/deadlock)

[2019-06-03 18:09] #13880 closed

[2019-06-03 18:09] fpesce commented on #13880
c.f. #14339

[2019-06-03 18:48] douglas-reid commented on #14525
I believe this is a duplicate of #3028. Rate limit quotas are not exact, especially over small time windows for low levels of traffic. Closing in favor of the original issue. For discussion, please use the discuss.istio.io forum.

[2019-06-03 18:48] #14525 closed

[2019-06-03 18:51] kumarsparkz commented on #13819
I fixed this issue which I opened using below yaml file with envoy.lua filter
[code]

[2019-06-03 18:57] knrc commented on #14534
An operator should not be installing other operators but should only be concerned with creating Custom Resources monitored by those other operators (e.g. kiali, jaeger, elasticsearch etc).

The Istio operator should be responsible for translating any related configuration within the ControlPlane resource into resources accepted by the other operators with a check to ensure those deployments have b

[2019-06-03 18:58] #11495 closed

[2019-06-03 19:11] RaynDol opened #14537 "istio pilot crash on load"
(This is used to report product bugs, please visit <https://discuss.istio.io> for questions on using Istio)

**Bug description**
we are using istio latest `1.1.7` using helm default config.
we are doing load test before using istio in production env

in the test we target to create `4500`  pods (during 30 minute), each pod contain 3 routes however
istio pilot was **crashed** after `2750` pods.  (a

[2019-06-03 19:35] brian-avery commented on #6299
/remove stale

[2019-06-03 20:02] Jonathan34 commented on #13009
@mbanikazemi @howardjohn @frankbu @linsun would you please provide some guidance on how to debug that on istio 1.1.3?

[2019-06-03 20:13] howardjohn commented on #14537
Is there just 1 instance of pilot running? Are all the pods in one service and/or namespace or are they all different?

[2019-06-03 20:31] ostromart commented on #14534
How can we ensure that this single yaml file doesn't run into the same CRD/CR race conditions that we faced in istio?

[2019-06-03 20:36] howardjohn commented on #14537
53GB is not normal for a deployment of this size. You could just bump up the requests, but there is likely something going wrong causing elevated memory usage.

[2019-06-03 20:49] howardjohn commented on #12338
The namespace isn't from kubernetes namespace, it expects to find the namespace in the host (foo.default.svc.cluster.local). This was a bug fixed in https://github.com/istio/istio/pull/13447.

The hostname is used for matching DR and VS. Docs are being updated https://github.com/istio/api/pull/932

I assume this is because it is rejected by pilot due to the first issue.

This is fixed/being fixed,

[2019-06-03 20:49] #12338 closed

[2019-06-03 20:53] howardjohn commented on #12296
I think you need to set `global.proxy.clusterDomain`, see https://istio.io/docs/reference/config/installation-options/

[2019-06-03 20:55] howardjohn commented on #12269
There might be a real issue that we need to fix here, but at this point I don't think we will ever get time to investigate an issue that no one is currently seeing (since you switched to Istio on GKE), so I am going to close this.

If similar issues are seen a new issue can be opened and we can investigate again.

[2019-06-03 20:55] #12269 closed

[2019-06-03 20:55] incfly commented on #14519
Closing this one and using https://github.com/istio/istio/issues/14526 to track the work.

[2019-06-03 20:55] #14519 closed

[2019-06-03 21:17] howardjohn commented on #12591
--auth_enable. All the flags are in the README https://github.com/istio/istio/blob/master/tests/e2e/README.md#L69

[2019-06-03 21:18] howardjohn commented on #12868
Sounds like the issue is resolved and linked to relevant docs, so I think this can be closed. Let me know if there is still work to be done and we can reopen

[2019-06-03 21:18] #12868 closed

[2019-06-03 21:44] myidpt commented on #14517
@Stono I think you are right. I'll see how to do the check automatically.

[2019-06-03 22:08] richardwxn commented on #6652
@HARISHDARA ClusterIP makes the service available only within the cluster, to expose it externally you need to use LoadBalancer or NodePort

[2019-06-03 22:31] douglas-reid commented on #14429
Home dashboards are per-user or per-org, as I understand it. And there is no good way to set them via the provisioning process, meaning that it would require a series of API calls at grafana startup to star the appropriate dashboard and then set it as the org default.

[2019-06-03 22:37] douglas-reid commented on #12839
I believe this was an issue with `irate` v `rate` in the queries. I think this issue was resolved in a prior PR (https://github.com/istio/installer/pull/166).  Closing for now.

[2019-06-03 22:37] #12839 closed

[2019-06-03 22:45] douglas-reid commented on #13811
Looking at istio-postsubmit in testgrid, this test appears to be passing now. Closing pending recurrence.

[2019-06-03 22:45] #13811 closed

[2019-06-03 22:46] howardjohn commented on #14429
That makes sense. if that is the case this probably isn't feasible so you can close it if you want

[2019-06-03 22:54] douglas-reid commented on #14500
[code]

This seems to suggest that perhaps we should be checking `>=` instead of `==` ?

[2019-06-03 22:56] douglas-reid commented on #14429
OK. I'll close it for now, but continue to think about better UX for the dashboard consumption.

[2019-06-03 22:56] #14429 closed

[2019-06-03 22:59] douglas-reid commented on #13665
We don't currently have any alerts configured. We have added to the collateral commands documentation on all exported system metrics. @geeknoid is working on generating a "components" metrics page that pulls from the generated reference pages, as I understand it.

That will cover all of the metrics except for the "default" or "Istio standard" metrics (and the envoy metrics which are documented els

[2019-06-03 23:00] yangminzhu commented on #11569
Closing this one for now, will reopen after the API is ready.

[2019-06-03 23:00] #11569 closed

[2019-06-03 23:03] douglas-reid commented on #13122
One suggestion: ensure that traffic is going to your `istio-policy` service. Related FAQ entry: https://istio.io/help/ops/telemetry/missing-metrics/#verify-mixer-is-receiving-report-calls (you will need to look for requests to the `istio-policy` pod instead).

[2019-06-03 23:32] neeleshkorade commented on #12231
An update- changing `allowPrivilegeEscalation` from `false` to `true` in the psp for the app deployment makes it work-

[code]

[2019-06-03 23:32] douglas-reid commented on #13326
I think once #14481 merges, we should close this issue. https://github.com/istio/istio/issues/2802 can be used to track any features around strings and handling them.

[2019-06-03 23:37] howardjohn opened #14539 "pilot-agent cert rotation broken"
Copying slack conversation:

@myidpt @wattli @duderino

[2019-06-03 23:41] nirvanagit commented on #14539
PR - https://github.com/istio/istio/pull/14540

[2019-06-04 00:00] incfly commented on #14526
I'm working on this, a WIP diff can be found at https://github.com/istio/istio/compare/master...incfly:cert-metrics?expand=1

Citadel with that diff can give following metrics

- `kubectl port-forward istio-citadel-pod-id 15014:15014`.
- `curl localhost:15014/metrics`

We can see a guage metrics for the root cert TTL. Prometheus gauge only supports float64, so the 3.14xx+e7 is a bit of human unfri

[2019-06-04 00:16] howardjohn commented on #12642
Unfortunately can't/won't be in 1.1.x due to compatibility issues, but #13182 turns off these logs in 1.2, so I am going to close this as there is no more work to track

[2019-06-04 00:16] #12642 closed

[2019-06-04 00:19] howardjohn commented on #12090
I don't think is relevant anymore, 1.0.x is near end of life and the fix in 1.1.x can not be directly backport (code has changed substantially)

[2019-06-04 00:19] #12090 closed

[2019-06-04 00:19] knrc commented on #14534
@ostromart This would install the operators so there is no race condition.  When the ControlPlane is deployed into a namespace the istio operator would react to its creation and run through the installation for the control plane, part of which would be the creation of the custom resources for the other operators.  The istio operator can wait for the operators to deploy their resources just as it w

[2019-06-04 00:23] howardjohn commented on #12054
Docs updated

[2019-06-04 00:23] #12054 closed

[2019-06-04 00:28] iandyh commented on #14520
I am wondering if there is anything can be done at Envoy level. Because HTTPs traffic should not be handled by the HTTP clusters. As you said, it's entirely possible people can send HTTP traffic over port 443.

From Istio control plane point of view, I don't think it can be handled easily. We have a webhook developed in house so the problem can be avoided.

[2019-06-04 00:30] mattmi88 commented on #12231
Hey @neeleshkorade - Glad you figured it out (sorry for the delayed response). PSPs are maddening! Getting your PSP assigned usually requires a lot of trial-and-error. The error messages provided are usually from the wrong PSP that was assigned - and there's no way to determine which one was assigned when it fails; only when it succeeds do you get the annotation.

The only "trick" I've found is to

[2019-06-04 00:32] howardjohn commented on #11324
@sdake was this fixed in https://github.com/istio/istio/pull/11522 and https://github.com/istio/istio/pull/11512 or is there more work to be done?

[2019-06-04 00:49] ostromart commented on #14534
What do you mean by "this" in "this would install" above? If you mean just a single flat manifest I don't see how you can guarantee that addon operator CRDs are created before the addon operator CRs and resources.
At the very least afaics it would lead to a two step install process as we have with Istio 1.1.

[2019-06-04 00:51] howardjohn commented on #11733
This is "fixed" in the new installer with a bit of a hack. See https://github.com/istio/installer/blob/master/gateways/istio-ingress/templates/autoscale.yaml#L1

I researched a bit and that was the only real workaround I could find

[2019-06-04 00:54] howardjohn commented on #11226
@PhilipGough mentioned this is fixed, so I think this is safe to close. If similar issues exist the cause is likely unrelated as we have moved to go modules rather than dep. Feel free to open new issues or reopen if problems still exist

[2019-06-04 00:54] #11226 closed

[2019-06-04 00:57] #11295 closed

[2019-06-04 00:57] howardjohn commented on #10956
@irisdingbj is this done?

[2019-06-04 00:58] knrc commented on #14534
"this" = the yaml file we are discussing so "this would install" refers to the installation of the operators into a specific namespace.  Note this would only be necessary in the absence of OLM.

Yes, it would lead to a two step process in that you first need to have the operators installed and then configure the control plane.  You **could** include the ControlPlane custom resource in the same yam

[2019-06-04 00:59] howardjohn commented on #10883
Appears to be fixed by https://github.com/istio/istio/pull/11234 and have not seen this issue since then, I think this is safe to close. Feel free to reopen if it still has issues. Thanks

[2019-06-04 00:59] #10883 closed

[2019-06-04 01:03] howardjohn commented on #10632
As mentioned above, you need to download the release, please don't install from the repo directly.

I am going to close this as there is no further work that needs to be done, this is already documented. if there are any other questions please reach out on https://discuss.istio.io

[2019-06-04 01:03] #10632 closed

[2019-06-04 01:05] howardjohn commented on #10441
It doesn't look like this is any work to be done here, as mentioned this is supported with egressgateway which is documented on istio.io.

If there are still any problems please feel free to open another issue, but there hasn't been any activity on this and doesn't seem like there are any action items

[2019-06-04 01:05] #10441 closed

[2019-06-04 01:07] howardjohn commented on #10279
@Stono sorry it looks like this one went under the radar, what is the state of this? Are you still seeing this problem or did you ever find the cause?

[2019-06-04 01:08] ibm-jason opened #14541 "Add the bash and zsh options to the istioctl collateral command flag."
As discussed here: https://github.com/istio/istio/issues/12607#issuecomment-490523390, we have identified a UX improvement that would provide Istio users the ability to download the `istioctl` binary separate from the Istio project itself, while also including the bash and zsh auto-completion files:

Provide the `istioctl collateral` command flag with two new options: `istioctl collateral bash` an

[2019-06-04 01:11] ibm-jason commented on #14541
/cc @ericvn, @esnible

[2019-06-04 01:19] howardjohn commented on #9117
I think this is fixed by https://github.com/istio/istio/pull/13088, @jwendell can you close this if this is completed?

[2019-06-04 01:34] xring commented on #14508
@bianpengyuan Thanks, will close it. One more question, if `envoy.router` should always be the last filter, when should `EnvoyFilter.InsertPosition.Index` with value `LAST` be used for a EnvoyFilter?

[2019-06-04 01:34] #14508 closed

[2019-06-04 02:04] rverma-nikiai commented on #476
@rshriram With alb and aws CNI we can do load balancing on pod IPs directly. This gives multiple benefits( lower latency for sure) and deeper integration with other aws resources(Cognito, ACM, Target group alarms, etc).
If we use ALB directly and skip enovy load balancing over the publically exposed services what are the drawbacks.
Can we delegate a gateway creation to create an actual ingress suc

[2019-06-04 02:09] incfly commented on #9117
This is not done yet we haven't generated rpm as of cloud build artifacts.
I have a pending PR for this.

On Mon, Jun 3, 2019, 6:19 PM John Howard <notifications@github.com> wrote:

[2019-06-04 02:19] hzxuzhonghu commented on #12545
They are not same thing.

[2019-06-04 02:37] hzxuzhonghu commented on #12545
[code]
Try this

[2019-06-04 02:37] geeknoid opened #14543 "Docs for galley show Pilot's environment variables"
When viewing the Galley docs on preliminary.istio.io, you can see listed all of Pilot's environment variables. This is because Galley is pulling in Pilot code for validation. The Pilot code needs to be refactored in order to prevent this overagressive transitive import problem.

[2019-06-04 02:44] cscetbon commented on #9150
okay so I found that the issue was coming from an exposed port on the operator with no running server  on that port. Istio doesn't like it when there is no listener on a port that is supposed to be exported ... Don't know if it's a bug or not but that was the issue

[2019-06-04 02:53] hzxuzhonghu commented on #14537
Thanks for your report, 53GB is too much, @RaynDol Can you see how pilot crashed? OOM killed or some panic?

@howardjohn Wonder what's the scale you are testing in google. How many pods and how many services?

[2019-06-04 02:57] cscetbon commented on #10053
@AndrewX192 setting **listen_address** to **127.0.0.1** is what other people did to make it work. I don't think the second point is true, cause **broadcast_address** is the address seen by remote peers and as long as it's not set to **127.0.0.1** (or not undefined as it's set by default to **listen_address**) it should be ok. I have to admit I'm still struggling to have my nodes communicate though

[2019-06-04 03:00] lixiv commented on #11931
any updates?

[2019-06-04 03:03] howardjohn commented on #14537
@hzxuzhonghu we have some regularly scheduled tests running at http://grafana.v12.qualistio.org/ (seems prometheus is having issues currently though, need to investigate). That one has 450 services and 1100 pods.

http://grafana.v11.qualistio.org also has 450 services and 1700 pods. Pilot is only using 2.5GB in this case, although it is using sidecar.

@RaynDol it would be useful if you could expo

[2019-06-04 03:09] DuoyueBa commented on #11931
I have no update. But is there anybody to check it?

[2019-06-04 03:13] r0fls commented on #6566
I tried following the instructions [here](https://github.com/istio/istio/issues/6566#issuecomment-427136888). However I still see this error in the istio-ingressgateway pods:

[code]

These are my service annotations:

[code]

The http route works as expected, but https times out. I'm using the istio 1.1.3 version of the helm chart.

[2019-06-04 03:20] hzxuzhonghu commented on #14533
Galley does not behave consistent, i guess SE is not the only one, for other rules, it maybe same.

[2019-06-04 03:26] ckcd commented on #14443
@hzxuzhonghu

Thanks for your reply !

I have tested this function, but there are several questions that confused me:

Q1: I cannot find any place to set the ENV, how can i set the `DISABLE_REDIRECTION_ON_LOCAL_LOOPBACK` in any deployment or any configmap ?  And can it be universal that affect all istio-proxy ?

Q2: I delete this chain manually and do some test: it can actually prevent the infinit

[2019-06-04 03:36] hzxuzhonghu commented on #14443
for Q1, i think it need to edit the configmap that sidecar-injector used, i can not remember its name, but you can check the pod yaml.

For question2, i donot think too much

[2019-06-04 03:57] #8049 closed

[2019-06-04 04:28] morvencao commented on #14034
Correct, it's a invalid kubernetes config and only will be triggered when affinity is explicitly enabled, looks like we need to add case for `helm template` + `kubernetes --dry-run` to cover this.

[2019-06-04 07:27] irisdingbj commented on #14533
I have tried using latest master code and the galley validation takes effect:
[code]

[2019-06-04 08:13] RaynDol commented on #14537
@howardjohn - thanks, we tried with the default config which in 1 - 5 instances , we will increase the auto pilot pilot.autoscaleMax to `10` and double the memory of `pilot.resources.requests.memory`  and will try again , is it sufficient for high load or you suggest  to  increase other properties ?

[2019-06-04 08:14] RaynDol commented on #14537
@hzxuzhonghu - Thanks, the error is OOM .

[2019-06-04 08:18] Liv1020 opened #14551 "pilot not sent RDS to ingressgateway"
(This is used to report product bugs, please visit <https://discuss.istio.io> for questions on using Istio)

**Bug description**
![image](https://user-images.githubusercontent.com/5382358/58862399-2fd99e80-86e3-11e9-8e49-834c0f76a214.png)

![image](https://user-images.githubusercontent.com/5382358/58862661-c3ab6a80-86e3-11e9-865c-82a5ea7e8c45.png)
pilot not sent RDS to ingressgateway, listener not

[2019-06-04 08:30] Demonsthere commented on #13085
Related PR: https://github.com/istio/istio/pull/14448

[2019-06-04 08:53] rverma-nikiai opened #14552 "Virtual Service/Gateway support for ingress controller"
**Describe the feature request**
Using ingress gateway we are losing some advantages of CNI plugins. For instance, aws-vpc-cni exposes pod IP and allows to bind them directly to an ALB. Aws-alb-ingress-controller is working on the same principal. Using alb has its own advantages compared to the istio-gateway(Cognito, performance, simplicity, target-group alarms, transparency, WAF, ACM, CloudFront

[2019-06-04 09:39] hustshawn commented on #7242
Hi @all, does anyone has a solution?

In my case, I want expose the the Grafana in the `stable/prometheus-operator` with ingress gateway, and find the issue here.
[code]
And what I achieved is that I can proxy the service to the grafana, but grafana requires [additional proxy config](https://grafana.com/docs/installation/behind_proxy/#examples-with-sub-path-ex-http-foo-bar-grafana)  to make it wor

[2019-06-04 09:58] Demonian opened #14553 "Istio performance"
(This is used to report product bugs, please visit <https://discuss.istio.io> for questions on using Istio)

**Bug description**
Before deploying istio on production we have decided to run some load tests with enabled sidecar and MTLS for our services/pods. Results are pretty bad now, because throughput without istio is 2x times higher than with istio sidecar.

Currently we have more than 100 pods

[2019-06-04 10:01] dzdx opened #14554 "VirtualService HTTPRoute match header scheme not working"
(This is used to report product bugs, please visit <https://discuss.istio.io> for questions on using Istio)

**Bug description**

I defined a virtualservice
[code]
which match http scheme request to route to the host asm-test-http， but the response status code is 404 not Found

asm-test-http virtualhost route config is
[code]

then I turn on Envoy's debug log
[code]
there is not header key named "

[2019-06-04 11:22] cagataygurturk opened #14555 "Making end user authentication optional for an endpoint"
**Describe the feature request**

We have and service which can be accessed by both authenticated and non-authenticated users, returning different content according to login status. Our service is validating JWT token and returning 403 if token is invalid. If no token is given in the request, the service understands that this is an anonymous request and does not perform any validation.

We want to

[2019-06-04 11:27] Kira-Lappo commented on #8076
you are cracking magician if I am able to do the same in my case

[2019-06-04 11:48] Demonian commented on #14553
**BTW** Results with istio sidecar are always the same we have tried to increase proxy concurrency level but still the same results. We have tested it with concurrency level **2** and **4**.

[2019-06-04 13:12] stone4774 opened #14557 "ingress-gateway does not work when the service has multiple ports"
(This is used to report product bugs, please visit <https://discuss.istio.io> for questions on using Istio)

**Bug description**

ingress-gateway does not works well when the service has multiple ports

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[

[2019-06-04 13:59] howardjohn commented on #14537
@RaynDol I even just a couple pilots should handle that load easily which is why I think you may be hitting a memory leak or something similar, so raising the limits may just hide the problem

[2019-06-04 14:09] markuszm commented on #13762
We have the same issue as @pc-rshetty
I tried running the sidecar-injector as a DaemonSet to ensure that there is always a sidecar-injector pod is running and we are running the istio pilot HA as well. Still, when doing a rolling upgrade of the autoscaling group via Cloudformation or when forcibly terminating a node, there are cases where even when a sidecar-injector is still running on a remainin

[2019-06-04 14:38] howardjohn commented on #14551
RDS not being sent is probably just a symptom of not getting the listener which is the bigger problem. Are there any logs in Pilot of the Ingressgateway? Especially things like ACK ERROR or config rejected, etc.

On the pilot grafana dashboard there is some rejected config panels as well you could look at

[2019-06-04 14:40] howardjohn commented on #14553
Can you give some more info about your install? Did you just use the defaults with `--global.mtls.enabled=true` and concurrency changed?

[2019-06-04 14:49] shotat commented on #9764
Any updates?

[2019-06-04 15:04] rcernich commented on #8825
Can you provide a link to any discussion around this?  Moving to cluster scoped resources effectively prevents multiple installations of Istio (all control planes would share the same `default` cluster resources; same applies to `MeshPolicy`), which prevents supporting multitenant installations.

Given the way these are used (providing `default` behavior for the mesh), I fail to see why they need

[2019-06-04 15:06] #11505 closed

[2019-06-04 15:13] mandarjog commented on #14553
The statistics report for with and without Istio is for a different set of functions, is that by design? Or I am missing something.

[2019-06-04 15:20] holgero commented on #12122
My current plans to push this forward is as follows:
• We will modify the pr https://github.com/istio/istio/pull/13579 so that it doesn’t change the existing images (no change to istio-iptabels.sh in this PR), but only adds the new distroless images. It will omit building a distroless image for the init-container
• Then we will show that an installation based on the distroless images (and the exis

[2019-06-04 15:32] mikebryant opened #14560 "Ensure Envoy is not INITIALIZING before marked as ready"
(This is used to report product bugs, please visit <https://discuss.istio.io> for questions on using Istio)

**Bug description**

ilbgateway has started up, and reports readiness to kubernetes (so the deployment carries on)

It's not actually ready, as envoy has not started listening on the right ports.

I've got the multicluster setup going, so ilb should be listening on 80, 443, and some others.

[2019-06-04 16:37] howardjohn commented on #14560
In sidecars, we wait for a listener to be received for one of the application ports (I think from container ports). But for ignressgateway we don't know what ports it is expected to list to in advanced, because it is configured by Gateway objects. We recently added an option to explicitly list ports it should listen on https://github.com/istio/istio/pull/14059

This allows you to say your gateway

[2019-06-04 17:02] Stono commented on #14037
I'm going to close this.  There are so many moving parts when it comes to 503 retries at the moment and I've very rarely seen this.

I'll reopen it shout the issues persist post 1.2 I think.

[2019-06-04 17:02] #14037 closed

[2019-06-04 17:03] Stono commented on #14308
I've been thinking about this more and does it really matter?  The connections drain off and we didn't get any errors so I'm going to close it as _who cares_.

[2019-06-04 17:03] #14308 closed

[2019-06-04 17:04] Stono commented on #13851
@duderino - is there anything tracing what we talked about re separating 502 and 503, and only retrying 502/network level errors as that would address this issue I think

[2019-06-04 17:06] Stono commented on #13014
hey @howardjohn - I tested this today on 1.1.7 and wasn't able to recreate the issue so it looks like it was fixed.

If you're happy to close the issue then I am too, albeit we're not really sure why it was fixed so it feels like we could get a regression 🤷‍♂

[2019-06-04 17:08] Stono commented on #12818
This is becoming more of a requirement for us now as we have more and more services on the mesh, many we don't care about tracing for but some we want very high sample levelling for as they're SLI/SLO constrained services.

We can't possible enable it at the level we want for that subset of services, for all services as we're generate far far too much data.

So we're approaching the scale we can't

[2019-06-04 17:09] Stono commented on #12664
I'm going to close this issue as there's nothing outstanding for me

[2019-06-04 17:09] #12664 closed

[2019-06-04 17:10] Stono commented on #12659
Closing this as it feels like it won't get fixed, and I didn't see it going from 1.1.6 to 1.1.7, and 1.x is EOL

[2019-06-04 17:10] #12659 closed

[2019-06-04 17:12] Stono commented on #12583
Closing this in favour of https://github.com/istio/istio/issues/13851

There have been many following conversations about how 503 is too broad, and what the ideal retry strategy should actually be (cc @duderino)

[2019-06-04 17:12] #12583 closed

[2019-06-04 17:15] Stono commented on #10279
@howardjohn - still seeing it, here's nginx a couple of hours ago (1.1.7):

<img width="792" alt="Screenshot 2019-06-04 at 18 13 09" src="https://user-images.githubusercontent.com/1486729/58899280-708de380-86f4-11e9-9333-b17e277cadd5.png">

Here's another one where istio-proxy is about 1/3rd the cpu usage:
<img width="796" alt="Screenshot 2019-06-04 at 18 13 40" src="https://user-images.githubuser

[2019-06-04 17:15] howardjohn commented on #13014
Very true. I think the best thing we can do here is just add a regression test for this. Thanks for testing!

[2019-06-04 17:16] Stono commented on #9784
@mkjoerg I think https://github.com/istio/istio/pull/13970 will help this

[2019-06-04 17:20] hpohl commented on #13014
It still happens for me, istio 1.1.7.

[2019-06-04 17:20] Stono commented on #7524
We still don't see these and we're on 1.1.7 now so i'm going to close this as _magically fixed_.

[2019-06-04 17:20] #7524 closed

[2019-06-04 17:20] Stono commented on #7136
@liamawhite no it doesn't appear to create a new envoy process!

[2019-06-04 17:22] Stono commented on #13014
Interesting.  Would be great if you can provide sample yamls showing your config

[2019-06-04 17:23] Stono commented on #14553
Exactly my ask in https://github.com/istio/istio/issues/10279 actually

[2019-06-04 17:27] frankbu commented on #13009
@Jonathan34 Have you tried using Istio 1.1.7? On Istio 1.1.4+ you should be able to access the db even without a ServiceEntry. See: https://istio.io/docs/tasks/traffic-management/egress/#envoy-passthrough-to-external-services

[2019-06-04 17:30] hpohl commented on #13014
https://gist.github.com/hpohl/85a2195ff798845ae38821446136c9b9

[2019-06-04 17:32] douglas-reid commented on #12818
@Stono still working on building consensus on the best approach. I've fleshed out the two alternate approaches, as requested during the initial review and am hopeful that I can drive us towards a path forward sooner rather than later.

[2019-06-04 17:33] Jonathan34 commented on #13009
@frankbu i'm using the GKE-managed istio addon. So I cannot really control the version... I am fine in providing a serviceentry and i think it s aogod practice to exaustively whitelist the egress traffic, but i can't understand what changed between istio 1.06 and 1.1.3 that either break the service entry i had or make it incomplete.

[2019-06-04 17:41] Stono commented on #14450
Hey,
This is not an istio issue, getting nginx to work with istio is a little bit difficult.  The issue is because fundamentally nginx is making an outbound request to an `ip` that is has resolved from your hostname `foo-bar`.  This won't work as envoy doesn't know what cluster `ip` belongs to, so it fails.

I'd suggest using the `ingress-nginx` kubernetes project and in turn using the following v

[2019-06-04 17:43] Stono commented on #12818
Great stuff @douglas-reid thank you.  More than happy to test out any alpha/beta/feature flagged implementations.

[2019-06-04 17:47] Stono commented on #13014
So the differences I can see between what you and I do are:

  - You use a gateway (i don't, I use nginx)
  - Your ports on your service are named `https`, yet they're on port 80? (don't know what/if this makes any difference, maybe try `http-`)

[2019-06-04 17:53] frankbu commented on #13009
I don't think this is supposed to have changed, but maybe there's a bug in 1.1.3???
Does this example work in your env: https://istio.io/docs/tasks/traffic-management/egress/#access-an-external-https-service?
If it does, can you do the same thing using your db URL and see what it has in the logs?

[2019-06-04 17:56] Stono opened #14563 "Increase http.url maximum length in traces"
https://github.com/istio/istio/issues/12561 (https://github.com/envoyproxy/envoy/pull/6492) increased the limit from 116 (back to a previous value of 256) but that still isn't enough for many internal urls for us.

It'd be great if this was higher, the generally accepted limit for urls is 2000 characters, or at least that's what most people aim to stay under for maximum compatibility.

I have no i

[2019-06-04 17:59] MrBlaise commented on #14450
@Stono Thanks I will investigate these options. I do use ingress-nginx and I want to change all my ingresses to istio gateways+virtualservices, the reason I use an nginx is for my api-gateway.

ESP proxy (Google Cloud Endpoints) -> Nginx API-gateway -> My Application

[2019-06-04 18:01] neeleshkorade commented on #12231
@mattmi88 thanks much for another detailed comment. Your initial comment on this issue was helpful too to gain understanding of these intricacies of PSPs.

After my previous comment here, I got it working with `allowPrivilegeEscalation` set to `false` in my PSP. As you have explained very well, the trick was to explicitly set this under securityContext of individual containers in my deployment spe

[2019-06-04 18:04] Stono commented on #14450
@Mr-Linus yeah gateways would be one way to do it but then you're managing certs on envoy.
I personally use ingress-nginx with the `Deployment` annotation `traffic.sidecar.istio.io/includeInboundPorts: ""` which means istio-proxy won't intercept inbound traffic.

Then you have:

`[google cloud load balancer]` -> `[ingress-nginx -> envoy]` -> `[envoy -> some-service]`

And `ingress-nginx` can do yo

[2019-06-04 18:04] Stono commented on #13014
:-) @howardjohn ?

[2019-06-04 18:05] MrBlaise commented on #14450
Yes I'll close it and thanks!

[2019-06-04 18:05] #14450 closed

[2019-06-04 18:16] knrc commented on #12621
Note this issue arose on the maistra distribution however could also appear on Istio distributions, it is caused by the kubernetes GC removing the webhook configuration.  This has been fixed in the maistra distribution (TP10 and up) and I'll port the change across to Istio as part of this task.

[2019-06-04 18:30] douglas-reid commented on #14563
cc: @objectiser

I think we may want to extend Envoy itself to support a configurable length here, defaulting to the current value.

[2019-06-04 18:31] ozevren commented on #14543
@therealmitchconnors Could you please take a look?

[2019-06-04 18:46] kunickiaj commented on #13009
Using a dummy hostname as suggested in the thread is working for me on GKE
with managed Istio 1.1.3.

On Tue, Jun 4, 2019 at 10:53 Frank Budinsky <notifications@github.com>
wrote:

[2019-06-04 19:00] yangminzhu commented on #8825
@rcernich In the next version of Istio authorization, we're changing to put it (also rename to AuthorizationConfig) in the Istio root namespace which means it will be namespace-scoped resource, not cluster-scoped resource. We may still need more efforts to support multi-tenant installations though.

For more information about the next version of Istio authorization, please see https://docs.google.

[2019-06-04 19:10] rcernich commented on #8825
Sounds great.  Thanks for the info!

@knrc, fyi

[2019-06-04 19:18] Demonian commented on #14553
@mandarjog Payload is similar, we just make some changes after few bad results, but situation hasn't changed we always get half less throughput for pods with enabled istio. FYI We have made some additional tests throughput is little bit higher with concurrency value set to **1**.
<img width="496" alt="Screen Shot 2019-06-04 at 22 11 03" src="https://user-images.githubusercontent.com/9040058/589069

[2019-06-04 19:29] quanjielin commented on #14454
fix is in, close this for now, do reopen it if still see in latest build.

[2019-06-04 19:29] #14454 closed

[2019-06-04 19:36] nrjpoddar commented on #14356
Love the bugs that we don't have to fix. Thanks @zparnold for filing this issue and @howardjohn for pointing us in the right direction.

[2019-06-04 19:55] jamesteague85 commented on #6566
@r0fls we are having the same issue, did you find a solution?

[2019-06-04 20:05] r0fls commented on #6566
@jamesteague85 yes, I had to set `k8sIngress.enabled` to `false`. It was loading a file `preconfigured.yaml` which was causing the TLS error.

[2019-06-04 20:06] #6706 closed

[2019-06-04 20:27] douglas-reid commented on #2010
There have not been any updates on this front. I believe that the proposed re-architecting of Mixer will render this moot for the preferred adapter architecture.

@geeknoid @kyessenov thoughts here?

[2019-06-04 20:29] douglas-reid commented on #2539
@kyessenov am I right in assuming that this is no longer a priority and not likely to be patched at this point?

[2019-06-04 20:31] polivbr opened #14570 "Allow additional ingress settings to be specified in Helm chart values"
It would be great if additional ingress settings could be specified in Helm chart values, rather than having to modify the config map after installation.

Specifically, I'd like to be able to specify values for:

ingressClass
ingressControllerMode

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ x] Installation
[ ] Networking
[ ] Performan

[2019-06-04 20:32] geeknoid commented on #2010
Yeah, let's close this.

On Tue, Jun 4, 2019 at 1:28 PM Douglas Reid <notifications@github.com>
wrote:

[2019-06-04 20:32] douglas-reid commented on #6055
@ozevren I'm going to just close the bug instead of keeping it around. With 1.2, the old adapter config model will no longer be the default. I think it is OK to no longer track this work.

[2019-06-04 20:32] #6055 closed

[2019-06-04 20:36] Jonathan34 commented on #13009
@frankbu
it does not behave the same way as the documentation.... I scripted the commands run in the documentation and the behavior is different. see below the commands and output.
the namespace default is empty.

[code]

[2019-06-04 20:36] kyessenov commented on #2539
Yes, it remains a known issue, but hopefully it's not correctness bug. I think this may cause unnecessary config reload which is OK.

[2019-06-04 22:30] linsun commented on #7242
this issue was closed, pls open a new issue.  it may be easier to put it on different port else you'd need to do redirect.

[2019-06-04 22:36] #2010 closed

[2019-06-04 22:37] douglas-reid commented on #2539
Closing, based on understanding of impact and unlikely attention (given forthcoming known shift in architecture).

[2019-06-04 22:37] #2539 closed

[2019-06-04 22:40] douglas-reid commented on #12934
This appears to be resolved. Closing.

[2019-06-04 22:40] #12934 closed

[2019-06-04 23:08] howardjohn commented on #14334
Cherry picked into 1.2 in https://github.com/istio/istio/pull/14528, closing now

[2019-06-04 23:08] #14334 closed

[2019-06-04 23:24] ericvn opened #14573 "Citadel fails readyness check for citadel images built using Golang 1.12, causing e2e-simple to fail"
**Bug description**

Running `make e2e_simple E2E_ARGS="--skip_cleanup --auth_enable --installer helm"` using images built using Golang 1.12 cause the test to fail (these images can be built locally or using an Istio-builder that was updated to use Golang 1.12). Specifically, the test curl to Istio-citadel returns a RC of 52. Note that this is the _prow_ flavor of the test since I'm using IKS to h

[2019-06-04 23:36] andraxylia commented on #13008
On a related note, shall we remove from the API for virtual_service the possibility to specify short names and infer the namespace? @louiscryan @rshriram . I can envision this causing confusion:

https://github.com/istio/api/blob/master/networking/v1alpha3/virtual_service.proto#L208

[2019-06-04 23:47] howardjohn commented on #14573
This is not just a test failure, citadel's readiness check (at a minimum, maybe other issues in Citadel or other components) will not work on go 1.12

[code]

Citadel logs `2019-06-04T21:50:23.103439Z     info    grpc: Server.Serve failed to complete security handshake from "10.28.3.12:46458": tls: first record does not look like a TLS handshake`

[2019-06-04 23:53] douglas-reid commented on #13639
The referenced PRs are now in the repo. Closing this issue as the functionality has been added.

[2019-06-04 23:53] #13639 closed

[2019-06-04 23:56] douglas-reid commented on #12662
Given the resolution for https://github.com/istio/istio/pull/12669, I think it is safe to close this issue as well.

[2019-06-04 23:56] #12662 closed

[2019-06-04 23:57] majelbstoat commented on #8374
For me, updating the GKE cluster master to 1.13.6-gke.5, which I think comes with istio 1.1.3-gke.0 fixed the problem.

[2019-06-05 00:02] douglas-reid commented on #12400
@skydoctor do you have a proposal for updating the proxy images to include the plugin?  is your proposal that istio/proxy should be pre-built with that library?  or that when configured, Istio would be responsible for distribution?

[2019-06-05 00:02] mabushey commented on #13968
Is there a reason Istio can't proxy external sites?

[2019-06-05 00:22] #12769 closed

[2019-06-05 02:29] hustshawn commented on #7242
@linsun You are right. It's easier to proxy with ingress-gw + port, and I am just wondering how to achieve it by routing through a uri.
I may find somewhere else to raise this issue. Thank you.

[2019-06-05 02:31] knrc commented on #8825
@yangminzhu We've been doing a lot of work on soft multi tenancy and have some updates to the Istio control plane components which would be of interest, this is what sparked our interest in the remaining cluster scoped resources (ClusterRbacConfig and MeshPolicy).  We're trying to work out what we should do with these resources to support multiple tenants within the same cluster.

I was talking to

[2019-06-05 02:54] sniperking1234 opened #14575 "What's the difference between Templates and Instances in mixer?"
The two concepts are very similar and now I'm confused

[2019-06-05 03:11] morvencao commented on #14570
@polivbr What do you mean by `additional ingress settings`? ingress settings for addon service, eg, kiali, jaeger ?

[2019-06-05 05:42] #14529 closed

[2019-06-05 07:06] #10770 closed

[2019-06-05 07:44] DragonSuper opened #14579 "How to manually compile source code to install istio"
Because my cpu architecture is not x86 or x86_64.
So，I need to  compile source code to install istio manually。

But the relevant document cannot be found。

I exec `make` command,but envoy exec file exec format error.
envoy is https://github.com/envoyproxy/envoy  or not?

In summary , I want documentation how to install istio by source code.
Thanks.

[2019-06-05 08:20] Lysholm opened #14580 "Add Grafana Loki as a telemetry provider"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Installers and necessary config for grafana loki as a telemetry provider, in the same vein as is currently done for prometheus. Loki on github: https://github.com/grafana/loki

**Describe alternatives you've considered**
Ideally i'd like to see an e

[2019-06-05 08:27] hzxuzhonghu commented on #13200
I've tested  the latest 1.2, it works well with redis proxy filter enabled.

[2019-06-05 08:40] #11494 closed

[2019-06-05 08:53] wxdao commented on #13107
Hi @howardjohn, I'd like to know whether the bug fix from envoy (envoyproxy/envoy#6578) is applied in latest istio releases?

[2019-06-05 08:54] sdake opened #14581 "tar.gz file is not actually gzipped"
(This is used to report product bugs, please visit <https://discuss.istio.io> for questions on using Istio)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[X] Test and Release
[ ] User Experience

**Expected behavior

[2019-06-05 10:06] hustshawn commented on #9247
@douglas-reid Your provided solution works well for proxy the grafana with ingress+port，may I konw how to achieve the same goal by a uri route like ` uri: /grafana`?

[2019-06-05 10:27] Stono commented on #14526
I'm not sure about those int64 values... here's a service i wrote with a simple (readable) counter and unix timestamps for expiry:

[code]

[2019-06-05 10:59] MrBlaise opened #14584 "Istio Ingress Gateway ClusterIP - Hardcoded default nodeports"
By default the helm values define nodeports and this makes ClusterIP type cumbersome.

Problem: If you set the type of the istio-ingressgateway to be `ClusterIP` it will be rejected by kubernetes because you cannot have nodeports in a ClusterIP type service. To work around you must manually override all of the ports that define this by default.

Possible solution: When ClusterIP type is used, helm

[2019-06-05 12:25] joshw123 opened #14585 "Istio Pilot Un-Available when controlPlaneAuthPolicy set to MUTUAL_TLS"
**Bug description**
When a sidecar first starts, it connects to Pilot with no issues, However after a short while envoy sidecars fail to connect to pilot, Restarting Pilot seems to solve the issue. However when I changed the Istio config to

      # Mutual TLS authentication between sidecars and istio control plane.
      controlPlaneAuthPolicy: NONE
      #
      # Address where istio Pilot servi

[2019-06-05 12:30] rtmie commented on #13861
similar experience on 1.1.4. Tried both set and remove on server header. Set would be sufficient for my use case.

[2019-06-05 12:38] ramaraochavali commented on #13200
@hzxuzhonghu How did you enable redis proxy filter? Is it using `EnvoyFilter` or just specifying the port name to indicate redis protocol?

[2019-06-05 13:53] ronakpandya7 opened #14586 "Istio URI routing is not working with tls"
**Bug description**

Hello,

We are using istio 1.1.7 and kubernetes 1.14.2 and we deploy one application with HTTPs enable and certificates are inside the pods itself and it is working fine, we are using tls "PASSTHROUGH" concept to process our https requests.

But issues come when we are applying "uri" based routing on tls in virtualservice.

Below are the things that we want our application wil

[2019-06-05 14:04] polivbr commented on #14570
Sorry... I should have been more clear. I'm referring to the ingress gateway.

In my environment I want the Istio ingress gateway to serve as the default gateway of the cluster, so I wind up having to add the following entries to the istio configmap (under the mesh key):

ingressClass: istio
ingressControllerMode: DEFAULT

It would be nice to be able to specify these as helm chart values, in the s

[2019-06-05 14:09] ericvn commented on #14573
Note that a curl against citadel on the monitoring report works:
[code]
so it looks like it might only affect GRPC.

[2019-06-05 14:25] esnible commented on #14579
Is your Kubernetes cloud an x86?  Try `GOOS=linux GOARCH=amd64 make`

I haven't tried to compile on other architectures but when I compile custom versions on OSX I typically do

[code]

You may need something like that.

[2019-06-05 14:26] muhlba91 commented on #4695
@sapien99 we are needing such an authentication mechanism as well. it would be amazing if you could post an example of your working filter configuration in a repo to have a work-around for this issue until it has been implemented. :)

[2019-06-05 14:48] ericvn commented on #14573
An even simpler test possibly:

From `istio/security/cmd` run `run istio_ca/main.go --self-signed-ca` to start a server.  Then just `curl localhost:8060/-/ready`

[2019-06-05 15:00] esnible commented on #13028
We have two issues.

_istioctl_ doesn't check all the pilots and should https://github.com/istio/istio/pull/13724
_istioctl_ error message confusing if the pod truly doesn't exist https://github.com/istio/istio/pull/13103

Both issues were fixed by PRs that went stale.  I will recreate.

[2019-06-05 15:34] frankbu commented on #13009
In that case, I think you must have some kind of bad configuration in your cluster that is interfering with outgoing calls. Do you have any other ServiceEntry or DestinationRules defined? Are you running Istio with PERMISSIVE or STRICT auth?

I would suggest trying again using a clean cluster.

[2019-06-05 15:37] howardjohn commented on #14581
Where is `pilot.tar.gz` from?

[2019-06-05 15:39] ericvn commented on #14573
Thanks to Greg H for testing on Golang 1.12.0 which also fails the curl with an RC of 52, so appears to be 1.12.x wide.

[2019-06-05 15:50] GregHanson commented on #14573
@howardjohn the log message can apparently be ignored - it appears in both the working case in go 1.11.10 and earlier as well in the failing case with go 1.12.0 and later

[2019-06-05 15:56] nrjpoddar commented on #13008
@andraxylia there are few other places too where short names are used like DestinationRules and AuthPolicy (AuthPolicy only allows short names). Are we going to remove the short name specification from those resources too?

[2019-06-05 16:13] su225 commented on #13466
Updated the PR. Not in the final form yet, but it works.

Yup. That's what I did while hacking around. Because both MCP sink and Galley live in K8s cluster. That is not the problem.

This is the actual problem. That is why I have to fetch Galley deployment config and change command run to include `sinkAddress` and update it. This is the hack I talked about. Coming to customizing Istio deployment -

[2019-06-05 16:23] Jonathan34 commented on #13009
I have other service entries for CloudSQL, one for some internal appspot urls, and one for google metadata server. I am using Permissive.
I just tried to disable/uninstall istio and reinstall using GKE commands but that does not really fix anything.

It seems what fixes it is to have the Gateway resource in the same namespace as the service entries (i am not using default). That used to work fine

[2019-06-05 16:23] mikebryant commented on #14560
We figured out the reason it got stuck - it wasn't able to get secrets from SDS, the Secret object hadn't been provisioned properly and was missing the tls.cert section.

The listeners were actually listed in the `dynamic_active` section of config_dump - which wasn't very accurate, as it wasn't actually listening on the port..

Having the health check take into account the state would be quite use

[2019-06-05 16:32] howardjohn commented on #14560
@mikebryant we recently ran into a very similar issue which was what prompted #14059 and https://github.com/istio/istio/pull/13923. The latter actually adds a new option to create a "fallback" secret such that when a secret cannot be read the fallback is used. This is mostly a stop-gap solution so that all of the other Gateways will work when one is misconfigured, whereas without it ALL of the lis

[2019-06-05 16:43] wenchenglu commented on #14516
@Stono
Just a quick follow up on status update:
We have some concerns on our first version of CA root upgrade user guide which has been shared with you to get your feedbacks, similar to what you have done to recover your workload, since it needs to restart all workload and may cause some traffic disruption. We are drafting and testing on our 2nd version of root upgrade user guide (along with troub

[2019-06-05 17:22] douglas-reid commented on #9247
@hustshawn that is slightly more complicated. some of the mechanisms for exposing the add-ons have migrated since this issue was first opened. i have not recently attempted such a thing, but I believe the `contextPath` support in the ingress template (see: https://github.com/istio/installer/blob/master/istio-telemetry/grafana/templates/ingress.yaml) may provide some help here, too, if you want to

[2019-06-05 17:27] #13845 closed

[2019-06-05 17:29] ericvn commented on #14573
Investigating why simpleTest does not fail during CircleCI testing (which is building with Golang 1.12) but does fail in prow. CircleCI doesn't use the set `--installer helm` which implies that `--set global.enableHelmTest=true` is not set (so uses the _false_ value from values.yaml). This prevents the `Istio-security-test` from running in CircleCi. So CircleCI simpleTest is a subset of the prow t

[2019-06-05 17:36] #13326 closed

[2019-06-05 17:46] douglas-reid commented on #14580
Thanks for sending this FR!  I was not aware of the loki effort.

The idea behind the new installer is that it should be simple to install standalone components. That's part of the reason behind the transition to the support for the prom operator, etc. If loki has similar support, I don't see why it can't be supported in a similar fashion.

Let's talk about this in a future P&T WG meeting.  I'll t

[2019-06-05 17:51] ericvn commented on #14573
Verified that removing the `installer=helm` from the failing _make _ command noted above (so `make e2e_simple E2E_ARGS="--skip_cleanup --auth_enable" HUB=ericvn  TAG=ericvn`) will pass.

[2019-06-05 18:06] Stono commented on #14516
So long as step 2:

 - has the fix in for pilot-agent to pickup certs changing
 - has the fix in for the mutatingwebhookconfiguration to pick up the new ca
 - workloads continue to be able to communicate if they're using mtls certificates signed by the old CA

eg - no downtime, i think that's fine.

[2019-06-05 18:10] douglas-reid commented on #14575
From: https://istio.io/docs/concepts/policies-and-telemetry/#instances

Put another way, templates define the schema for instances. Instances define how to transform attributes into objects for processing by adapters.

So, you might have a template that defines the vague shape of a metric (for instance, it has a `value` and some set of typed `dimensions`). Then, you have specific instances of that

[2019-06-05 18:10] #14575 closed

[2019-06-05 18:21] ostromart opened #14592 "Ensure user gateways can be created in operator, preferably through values.yaml"
Operator values.yaml Go struct schema (https://github.com/istio/operator/pull/2/) currently doesn't support user defined gateways. This must be handled either through a custom unmarshal function, or by migrating user gateway creation to the operator CRD.

[2019-06-05 18:25] wenchenglu commented on #14516
yes, that is the plan.

[2019-06-05 18:33] bradenwright opened #14593 "Chart's bug version should be bumped for Releases"
**Bug description**
If you download releases from https://github.com/istio/istio/releases bug version in the Chart.yaml are not bumped so:

istio-1.1.7 Chart.yaml
[code]

and 1.1.6 looks identical:
[code]

I and I'm sure most people expect semantic versioning and actually bumping of bug versions.  Especially when I've been told that releases are the source of truth.  I still think with proper vers

[2019-06-05 18:36] douglas-reid commented on #14065
@jmazzitelli any ideas here?

[2019-06-05 18:36] Stono commented on #14516
Sounds good

[2019-06-05 18:38] douglas-reid commented on #11107
I believe there is PVC support via the prom operator with the new installer. I'm going to mark this as resolved given that forward path. Please re-open if you feel more is needed here.

[2019-06-05 18:38] #11107 closed

[2019-06-05 18:40] douglas-reid commented on #13191
Let's move this discussion to discuss.istio.io, as that is a more appropriate forum for questions.

/cc @gargnupur

[2019-06-05 18:40] #13191 closed

[2019-06-05 18:43] douglas-reid commented on #12494
I believe this issue has been resolved. Closing.

[2019-06-05 18:43] #12494 closed

[2019-06-05 18:45] douglas-reid commented on #6314
I believe this support now exists. I'm going to close this issue. Questions, etc., can be moved to the forums on discuss.istio.io, etc. Please re-open if there are issues with the exposed functionality.

[2019-06-05 18:45] #6314 closed

[2019-06-05 18:47] linsun opened #14594 "istioctl version output msg improvement"
[code]

i am following instructions here:  https://preliminary.istio.io/docs/setup/kubernetes/getting-started/#downloading-the-release
Istio
Getting Started
Download and install Istio.

how about something like `Warning: Unable to determine server side version - no istio pods in istio-system`?
instead of an error msg

[2019-06-05 18:49] linsun commented on #14594
@irisdingbj @esnible FYI ^^

[2019-06-05 18:49] douglas-reid commented on #13791
Let's combine this with #11600 (and close #11600).

/assign @kyessenov (as he was assigned to the other issue).

[2019-06-05 18:50] douglas-reid commented on #11600
Closing in favor of #13791 (which should now be the umbrella bug for better telemetry around mTLS).

[2019-06-05 18:50] #11600 closed

[2019-06-05 18:50] esnible opened #14595 "istioctl verify-install usage"
`istioctl verify-install --help` gives usage examples that still include "experimental":

[code]

The command is not under experimental, so the examples should not include "experimental".

Also I am not sure if the default for `--enableVerbose` should be `TRUE`.  If the user does not specify --enableVerbose they probably don't want verbose output.

[2019-06-05 18:53] douglas-reid commented on #10746
@kyessenov any updates here? are we able to close this yet?

[2019-06-05 18:56] linsun commented on #14541
can we have istioctl standalone download avail first and add tab completion when it is ready to be added?  Not everyone uses tab completion.

[2019-06-05 19:00] douglas-reid commented on #983
Removing p&t label, as i don't think that we will be establishing new tests for mixer API, given the technical direction we are now moving in.

[2019-06-05 19:04] ibm-jason commented on #14541
@linsun yes, I think we can do that. I re-submit my original PR to add the istioctl download script, and we can add in the tab completion feature later.

[2019-06-05 19:23] kyessenov commented on #10746
There was no progress to move away from config.istio.io/v1alpha2 CRD API group AFAIK.

I think this would become easier once Mixer k8s dependency is entirely eliminated, since the support for two API groups would only need to be implemented in Galley

I'm not sure about the status of Galley API group conversion. Technically, Galley can listen to two different CRDs, but I don't know if auto-convers

[2019-06-05 19:25] ericvn commented on #14573
Note that this issue prevents completing #14420 which is targeted for 1.2 at present.

[2019-06-05 19:27] esnible commented on #14594
How about

[code]

I was able to change "Error" into "Warning" but this required changes to the new project _istio/pkg_ and affects the $? / ERRORLEVEL returned by the command.  Working with the `version` subcommand is tricky because it is shared between all the Istio command lines, not just client-side ones.

I will do a PR for _istio/istio_ with the text.  If you wish to change "Error" to "Warni

[2019-06-05 19:31] blaketastic2 commented on #6314
DataDog has put docs together to help with this - https://docs.datadoghq.com/tracing/setup/istio/

[2019-06-05 19:53] douglas-reid commented on #13533
As there has been over a month between last communication, I'm going to close this issue. If there is more that can be done, please feel free to reopen.

[2019-06-05 19:53] #13533 closed

[2019-06-05 19:54] skydoctor commented on #12400
In the envoy configuration, this is done by setting the tracer type to be [dynamic.ot](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/trace/v2/trace.proto#config-trace-v2-tracing-http), and specifying the location of the library as per this [example](https://github.com/envoyproxy/envoy/blob/c61661a8144c95fd428973280907c515699c6437/examples/jaeger-native-tracing/service2-envoy-jaeger.yam

[2019-06-05 20:05] incfly commented on #14526
Good point. I checked the cert-manager, https://github.com/jetstack/cert-manager/blob/master/pkg/metrics/metrics.go#L53

Will change to similar semantics.

[2019-06-05 21:19] #14594 closed

[2019-06-05 21:20] mbanikazemi commented on #14554
Isn't :scheme a pseudo-header field in http 2 only?

[2019-06-05 22:30] howardjohn commented on #14364
@lei-tang it is failing every time again. There haven't been any changes to prow recently that would impact it. Should we move this to post submit?

[2019-06-05 22:50] mmckane opened #14598 "Allow Ingress gateway SDS to search all namespaces for certificate secrets."
Currently when using SDS on the ingress gateway to load certificate secrets it forces you to create the certificates secrets in the same namespace as the gateway (or a single namespace set by an env variable). This complicates secret/certificate management in a scenario where you have a shared gateway used by multiple k8s namespaces, where I only want one main ingress gateway to my cluster. When u

[2019-06-05 22:51] lei-tang commented on #14364
Based on testgrid https://testgrid.k8s.io/istio-presubmits-master#integ-security-k8s-presubmit-tests&show-stale-tests=, this test starts failing again starting from 17:32 PM 6-4-2019 with the "nodeagent not ready" errors mentioned in previous posts in this issue. There is no code change for this test. SGTM to move this test to post submit.

The following is the "node agent not ready" errors in htt

[2019-06-05 22:56] djazayeri commented on #2704
Stepping back, can we confirm the behavior we want to support here?

I propose:

(for logs)

* protocol => should be grpc for grpc traffic
* logicalResponseCode => new field (for all supported protocols, map response to the closes matching HTTP status)
    * e.g. `context.protocol == "grpc" ? grpcToHttp(response.grpc_status) : response.code`
* responseCode => do not change (literal http response c

[2019-06-05 23:38] douglas-reid commented on #13643
OK. I've added support for auto-generating documentation on the exported metrics. So, at least one part of this concern has been addressed.

Some of these suggested metrics are a bit difficult. Putting pod names into the metrics could cause a huge explosion in metrics cardinality.

More thinking is needed here re: selecting a set of metrics to add and around common alerting.

[2019-06-06 00:15] #13055 closed

[2019-06-06 00:38] howardjohn commented on #8453
We have some helm chart tests now, and have decided to move away from using helm features now, so I don't think there is any work to be done here

[2019-06-06 00:38] #8453 closed

[2019-06-06 00:40] howardjohn commented on #14593
This is fixed in 1.1.8, which is releasing in days

See https://github.com/istio/istio/issues/14290  https://github.com/istio/istio/issues/14243

[2019-06-06 00:45] howardjohn commented on #7505
This has been resolved. As mentioned above

We acknowledge they are not the idiomatic Helm repos that most projects are using, and are tracking the progress in https://github.com/istio/istio/issues/12974. Since there is no work to be done here, I am going to close the issue

@wstrange we are moving to a kustomize approach in https://github.com/istio/installer (will be alpha in 1.2). Helm will stil

[2019-06-06 00:45] #7505 closed

[2019-06-06 00:48] karlmutch opened #14601 "gRPC routing via Gateway and VirtualService going astray"
**Bug description**
Gateway does not appear to be routing gRPC requests to the correct endpoint, or is somehow disrupting the request.

I tried using the discussion forums but cannot attach files.
[istio-dump.tar.gz](https://github.com/istio/istio/files/3259554/istio-dump.tar.gz)

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installat

[2019-06-06 00:57] howardjohn commented on #14205
We worked on this outside the github issue and determined it was due to Pilot get OOMKilled

[2019-06-06 00:57] #14205 closed

[2019-06-06 01:00] howardjohn commented on #13710
Actually decided to support FQDN as there are some cases where users REQUIRE it due to client libraries using them which they have no control over (google metadata is one I have seen?). Added in https://github.com/istio/istio/pull/14405.

So the only step left is https://github.com/envoyproxy/envoy/issues/6876

@crazyxy are you still working on the DNS TTL stuff?

[2019-06-06 01:23] hzxuzhonghu commented on #13200
I reopened the previous pr #14582

[2019-06-06 01:25] DragonSuper commented on #14579
Thanks，but I can't find out envoy in Makefile。It was downloaded by network。
My Kubernetes cloud is not x86. so i need to build envoy。
envoy is https://github.com/envoyproxy/envoy or not?

[2019-06-06 01:25] crazyxy commented on #13710
Yes. This is blocked by the upstream c-ares. c-ares doesn't support DNS query with TTL. https://github.com/c-ares/c-ares/issues/259 Waiting for upstream change.

[2019-06-06 02:03] Liv1020 commented on #14551
[istio-ingressgateway.txt](https://github.com/istio/istio/files/3259672/istio-ingressgateway.txt)
[istio-pilot.txt](https://github.com/istio/istio/files/3259673/istio-pilot.txt)
This is ingressgateway log which have problem, and pilot log. I not found any error, can you help me to debug?

[2019-06-06 02:07] esnible commented on #14579
What are you building on?  Power?

When I build the sidecar I do

[code]

For x86 users, a compiled x86 Envoy is downloaded from https://storage.googleapis.com/istio-build/proxy/

If you need a non-x86 Envoy you *SHOULD* be able to do `USE_LOCAL_PROXY=1 make docker.pilot` to cause the Makefile to do a custom Bazel build of Envoy for another architecture.  However, https://github.com/istio/istio/is

[2019-06-06 02:40] #11425 closed

[2019-06-06 02:42] Disturbing commented on #4695
We got it working at kintohub.com with a nginx sidecar. I'll have the team
post the work-around that we did in the next few weeks.

On Wed, Jun 5, 2019 at 10:27 PM Daniel Mühlbachler <notifications@github.com>
wrote:

[2019-06-06 03:27] ericvn commented on #14573
@morvencao I've done some searching today and I don't know that `curl` and GRPC servers mix all that well. I'm not sure if you understand this test fully, but do you think curl against the GRPC server should continue to work regardless go Golang version. Or maybe this test should really use `curl` against a path on the _monitoring port_?

The reason I'm asking you is that it seems this helm test w

[2019-06-06 03:41] yangminzhu opened #14603 "JWT tokens without exp claim are rejected by Istio"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Original user report:

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ]

[2019-06-06 03:44] #13294 closed

[2019-06-06 05:13] myidpt commented on #14516
This is the announcement we will publish: https://github.com/istio/istio.io/pull/4273

[2019-06-06 06:03] dzdx commented on #14554
@mbanikazemi   oh, thank you for explaining, the match header scheme only work in http2 request.

[2019-06-06 06:04] #14554 closed

[2019-06-06 06:07] myidpt commented on #14517
@Stono
Some update about our findings.
@howardjohn and I have tested and checked the code (John found it although I didn't get a chance to locate it) that the webhooks will update the mutating/validatingwebhookconfiguration after they restart, with the new root cert. We have tested that after the root transition, the update can happen with the upgrade to 1.1.8, which restarts the webhooks to overw

[2019-06-06 06:47] jkbschmid opened #14604 "Add golden master tests for istio-iptables.sh"
To ensure that the istio-iptables.sh-script remains stable, add golden master tests to istio.
[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[X] Test and Release
[ ] User Experience

**Additional context**
These tests can also be used to compare different implementations of istio-iptables, e.g. in go

[2019-06-06 06:55] k8s101 commented on #14205
What is the recommended memory requests for pilot ? since the root cause was deemed as "pilot get OOMKilled".

[2019-06-06 07:20] Stono commented on #14517
Hey!
Thanks very much for testing and confirming that @myidpt @howardjohn.
Really not sure what happened in my situation as I did have to edit the caBundle.  Perhaps it was because I didn't time it right (eg citadel hadn't managed to update the ca secret for the injector at the point I tried).

I think this issue should still be used to capture the work required to _not_ need to restart the inject

[2019-06-06 08:10] nickrmc83 commented on #14603
Can the fix also include handling of the `nbf` claim too to match the envoy filter's capabilities.

[2019-06-06 08:21] #11142 closed

[2019-06-06 09:32] cainelli opened #14605 "Pilot constantly sending full pushes"
**Bug description**

From time to time random Pilot instances sends full pushes on every cycle causing high CPU usage and requires a restart to recover.

It seems to be a race condition or I'm falling into a special case with my k8s deployment. As I'm not familiar with Pilot code I've added additional logging [here](https://github.com/istio/istio/blob/1.1.7/pilot/pkg/proxy/envoy/v2/eds.go#L596-L60

[2019-06-06 11:15] slabber commented on #13861
Is it possible that this PR will help:
https://github.com/istio/api/pull/897

Perhaps it will allow the override of the server header like so:

[code]

[2019-06-06 11:21] #9815 closed

[2019-06-06 12:03] jkbschmid opened #14608 "Buildkite fails (istio/installer)"
The build-kite job has been failing since https://github.com/istio/installer/commit/7cc3984c619743574c7852bce790f215978d5d8e, respectively https://github.com/istio/installer/commit/d51b8c78028a5247aa5f47550eead6edd3b2bd5d.
The test TestSimpleIngress fails with
[code]
[Complete logs](https://buildkite.com/istio/istio-installer/builds/435#7ccf2360-5750-4db5-bf1a-4b36770dafcf).

This is most likely r

[2019-06-06 12:08] ianstanton commented on #14524
I have a few questions that I thought I'd drop here as I'm starting to get a bit confused by the current `mTLS` user experience:

* In the helm chart there is an option to enable / disable `mTLS` https://github.com/istio/istio/blob/bd7e445fd7b980a7b94b32ab155c1d27c886cabf/install/kubernetes/helm/istio/values.yaml#L300-L303.
  * With `mtls.enabled false` we have sidecar injection and plain text tra

[2019-06-06 12:21] sdake commented on #14553
can you provide your exact `values.yaml` override file, or a list of KV pairs and the values you set?

Cheers
-steve

[2019-06-06 12:21] #10776 closed

[2019-06-06 12:57] morvencao commented on #14573
@ericvn Thanks for catching this. IMO, for the long-term, the helm test should be removed completely; For the short-term,I'm OK with `curl` against a path on the monitoring port, since it's complete plain http protocol now.
I'll raise a PR to fix this.

[2019-06-06 13:10] cainelli commented on #14605
Another observation: I noticed that `kubernetes.default.svc.cluster.local` was updating its endpoints every a couple of sec which increased the damage since on each update the full push was being sent. The reason is how the api server was configured, in 1.10 the default endpoint reconcile type is master count which I didn't specified and it was assuming 1. This caused a race condition with each ma

[2019-06-06 14:18] bradenwright commented on #14593
Excellent!  That will be really nice!  Do you want me to close this issue now, or wait til 1.1.8 is released?

[2019-06-06 14:19] nmnellis commented on #14603
We noticed that the filter in envoys github has diverged from the one in istio. It may be worth comparing them and syncing. https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/jwt_authn/authenticator.cc#L143
https://github.com/istio/proxy/blob/master/src/envoy/http/jwt_auth/jwt_authenticator.cc#L103-L111

[2019-06-06 14:19] howardjohn commented on #14205
@k8s101 I believe in this case they had it set really low, like 500mb or so. The default should be sufficient (it is like 2gb if I recall right?).

It will depend on your configuration. If you have a lot of services pilot will use more memory

[2019-06-06 14:21] Demonian commented on #14553
[code]

[2019-06-06 14:27] howardjohn opened #14611 "Pilot ADS push deadlock"
https://github.com/istio/istio/blob/49f3d52d3b8c6258561018118f316c718403d4e2/pilot/pkg/proxy/envoy/v2/ads.go#L916 was added in https://github.com/istio/istio/pull/14254 to fix a race condition.

I have gotten pilot into a state where there are 20 (it is capped at 20) goroutines stuck here forever. New pushes cannot be processed as they hit the concurrent push limit. I can reproduce this by opening

[2019-06-06 14:42] howardjohn commented on #14605
@cainelli thanks for the detailed investigation.

I see a bunch of endpoint churn for kube-controller-manager, cluster-autoscaler, gcp-controller-manager, and kube-scheduler (on GKE) but not kubernetes.

Are you still seeing problems after fixing the kubernetes service, or do you still have problems with

[2019-06-06 15:04] howardjohn commented on #14593
@bradenwright we can close this, generally we try to close issues when no more work is done so we don't get lost in too many issues.

This also prompted me to manually verify the 1.1.8 pre-release (it is built but not released yet) and it all looks good

[2019-06-06 15:10] davinkevin commented on #6593
Any news from some of you with Istio in version 1.1 (I'm on *Istio on GKE 1.1.3*) and I'm trying to do the same 😅.

Some solutions proposed here doesn't seem to be compatible with `ServiceEntry` definition in 1.1+

[2019-06-06 15:12] howardjohn commented on #14553
Some notes: the main things that impact data plane performance are the proxy, mixer policy, and mixer telemetry. Even though telemetry is async, it still has a big impact on latency, because the proxy has to process the telemetry at _some point_, and when it does latency will be impacted. See the graph at https://istio.io/docs/concepts/performance-and-scalability/, telemetry doubles the latency.

[2019-06-06 15:34] Demonian commented on #14553
@howardjohn Thank you for you answer. We will test without telemetry and I will share the results here. (BTW We have planned to test without telemetry, but before that we wanted to cover all possible variants of optimization without disabling mixer =) )

[2019-06-06 15:35] howardjohn opened #14612 "Document magic dev links"
There are a lot of random places we have stuff useful for developers, such as tide status, test grid, how to rerun circle test, velodrome, etc. We should add some quick links in the developer wiki for these

[2019-06-06 15:39] howardjohn commented on #13812
This has improved, but we still do see some flakes, so I will reopen and add the flaky label
https://testgrid.k8s.io/istio-presubmits-master#integ-pilot-k8s-presubmit-tests

[2019-06-06 15:40] cainelli commented on #14605
Thank you for checking those endpoint updates in GKE as well, my guess is that they are used for leader election.

I'm afraid that the problem is still there and I'm not seeing it because kubernetes Endpoint is not constantly being updated anymore. It looks weird Pilot building different service accounts on each iteration for `kubernetes.default.svc.cluster.default`.

If there is anything I could

[2019-06-06 15:51] #13085 closed

[2019-06-06 15:52] howardjohn commented on #14605
We have an open issue regarding ServiceAccounts for kube-system services, since like you mentioned they sometimes/always(?) don't have a service account associated with them. What is weird is that it is flipping between not having one and having one. Are there two instances of it, and it picks a different one sometimes and not others possibly?

Issue for reference: https://github.com/istio/istio/i

[2019-06-06 15:59] howardjohn commented on #14611
cc @sdake @mandarjog this is why my pilot stopped pushing the other day. I let it run for 12 hours, 0 pushes happened in that time

[2019-06-06 16:15] ericvn commented on #14573
Verified that running the failing test with the changes from #14160 now results in a passing test. Thus I will close this issue.

On to testing the new Golang prow 1.2 images with the above fix to verify things pass with prow.

[2019-06-06 16:15] #14573 closed

[2019-06-06 16:31] therealmitchconnors commented on #14543
I have been investigating the possibility of separating Galley's dependencies from the larger pilot/pkg/model, which also imports the rest of Galley.  I think I am making progress, but it's quite a web of dependencies.  What priority should we assign to this work?

[2019-06-06 16:33] cainelli commented on #14605
We do have two instances of the API server, I double checked and the configuration looks the same, none of them with sa.

[2019-06-06 16:51] douglas-reid commented on #11373
@vadimeisenbergibm i took a look at this briefly this morning, and then realized the following: the outgoing charts are based on client-side metrics (`reporter="source"`). For those metrics, `source.principal` is always `"unknown"`.  As a result, there is no value add to create that chart for HTTP egress.  In-mesh, we could support that -- but it won't help the issue being raised here.

/cc @manda

[2019-06-06 16:51] #11373 closed

[2019-06-06 16:52] howardjohn commented on #14605
I would suspect it is related to the two instances if it is flipping back and forth. Any idea where `calico-node` came from if it isn't in the SA for either of them?

[2019-06-06 16:57] douglas-reid commented on #7099
I'm going to close this issue, as it is not on the near term roadmap, and I don't think this will get addressed before any architectural changes.

[2019-06-06 16:57] #7099 closed

[2019-06-06 17:02] douglas-reid commented on #5532
Since there isn't an action to be taken directly here, and the issue has been addressed moving forward, I'm going to close this issue.

[2019-06-06 17:02] #5532 closed

[2019-06-06 17:06] douglas-reid commented on #3598
This was a valid concern. Improvements here would have made the lives of operators better.

But, there is no progress being made here, and work is shifting to the new architecture -- implying changes in config models, etc. As a result, this request for enhancement has been overcome by events. I'm going to close this issue.

We can revisit this in the context of any CEL-based tooling we build for f

[2019-06-06 17:06] #3598 closed

[2019-06-06 17:09] douglas-reid commented on #10538
Unless there are objections, I think we should acknowledge this issue but realize that it is not going to be addressed. Mixer is deprecated -- and with it the configuration language and behaviors. I'm going to close this issue.

If/when CEL tooling emerges for the future Istio extensions architecture, this would be important to keep in mind.

[2019-06-06 17:09] #10538 closed

[2019-06-06 17:11] douglas-reid commented on #9415
This is a valiant goal. Unfortunately, with Mixer being deprecated (and the config model with it), I think that it is unlikely that this will get addressed. And so, I'm closing this issue.

[2019-06-06 17:11] #9415 closed

[2019-06-06 17:12] nizamsp commented on #14205
Pilot has autoscale max of 5. But our cluster had 5000 containers. One suggestion is to use the autoscalers with respect to number of nodes or pods. Kube-dns had similar autoscale configurations. Once we increase the autoscaleMax this issue got fixed.

[2019-06-06 17:12] douglas-reid commented on #10092
As with all things Mixer, I don't forsee any work going into improving the state of things here. Closing.

[2019-06-06 17:12] #10092 closed

[2019-06-06 17:14] howardjohn commented on #14539
Keeping this open as we need to backport to 1.2

[2019-06-06 17:15] douglas-reid commented on #10169
This was a dupe of #5532 . Closing for the same reason.

[2019-06-06 17:15] #10169 closed

[2019-06-06 17:15] ahmed1smael commented on #13398
Is there any update on this ? Facing similar error in our environment, please update.

[2019-06-06 17:18] douglas-reid commented on #3825
I don't think there is any further work planned around this issue. It will disappear in the new extensions architecture. Closing.

[2019-06-06 17:18] #3825 closed

[2019-06-06 17:21] crazyxy commented on #14495
Might be related with this one https://github.com/envoyproxy/envoy/issues/7135

[2019-06-06 17:22] douglas-reid commented on #2420
Unfortunately, there is no work scheduled for enhancements to Mixer (large or small). As this has not been addressed to-date, it is time to close the issue.

[2019-06-06 17:22] #2420 closed

[2019-06-06 17:23] andraxylia commented on #13008
@nrjpoddar There is already an inconsistency in DestinationRule, it allows to specify a single host instead of repeated hosts.

https://github.com/istio/api/blob/master/networking/v1alpha3/destination_rule.proto#L115

That field should match ServiceEntry and VirtualHost.

[2019-06-06 17:25] douglas-reid commented on #11055
As work appears to be stalled on this issue and pending future architectural changes will render this issue moot, I'm going to close this issue.

[2019-06-06 17:25] #11055 closed

[2019-06-06 17:26] ozevren commented on #14330
I don't think this is needed to support multi-version CRDs. We should be able to target always the lowest version.

[2019-06-06 17:27] douglas-reid commented on #11351
#12145 was merged. I think we can close this issue. Please re-open if you feel like I've jumped the gun.

[2019-06-06 17:27] #11351 closed

[2019-06-06 17:28] douglas-reid commented on #12025
I believe this has been addressed. Closing.

[2019-06-06 17:28] #12025 closed

[2019-06-06 17:34] douglas-reid commented on #13494
Without a bunch more information, I'm not sure how to help debug or address this issue. Given that we are less than two weeks away from the end of support for 1.0 (https://discuss.istio.io/t/support-for-istio-1-0-ends-on-june-19th-2019/2315) and the age of this issue, I'm not sure much more can be done. Closing. Feel free to re-open if the problem persists, especially for more recent versions.

[2019-06-06 17:34] #13494 closed

[2019-06-06 17:36] douglas-reid commented on #13791
From off-thread conversation:

[2019-06-06 17:36] cainelli commented on #14605
I've been through all the pods checking for the service accounts but the only ones assigned to `calico-nodes` are the calico Pods.

[code]

[2019-06-06 17:37] elevran commented on #14240
There are several options to implement this enhancement. For example:

1. expand set of headers (e.g., `set-cookie` or another "safe" subset) to multiple `key=value` headers, using comma as a value separator.
This requires only a change in istio-proxy. The behavior would be correct based on the new and old RFC (see [rfc2616](https://tools.ietf.org/html/rfc2616#section-4.2)) - assuming my reading o

[2019-06-06 17:38] howardjohn commented on #14605
@myidpt any ideas how it could be generating a spiffe for the wrong SA?

[2019-06-06 17:40] douglas-reid opened #14619 "Add e2e test to validate TCP policy enforcement"
**Describe the feature request**

Mixer-based policy enforcement for TCP is not exercised by any existing e2e tests. It should be.

**Describe alternatives you've considered**

None.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ X ] Policies and Telemetry
[ ] Security
[ ] T

[2019-06-06 17:47] douglas-reid commented on #14385
@shubhamitc i'm not sure there are any documents that will provide details around using `global.tracer.zipkin.address`. It is a helm install option. You would point it at the remove zipkin endpoint you desire to send tracing data to.

For prometheus, you just need to ensure that your prom can access the endpoints. There isn't much Istio-specific about this. There are a variety of possible architec

[2019-06-06 17:47] #14385 closed

[2019-06-06 17:49] Kampe commented on #6593
Yes I do have some news that may or may not help you resolve your issue as it's a bit different approach as I'm no longer utilizing the cloud sql proxy.

I've gone ahead and utilized VPC-native functionality to allow connections to Cloud SQL from GKE over private IP.  Currently this is not enabled by default for GKE cluster creation, but I believe will become the default end of July 2019.

My serv

[2019-06-06 17:52] pitlv2109 commented on #14195
@diemtvu  Should we set this (and other authentication integration test issues) to P0 for visibility?

[2019-06-06 17:52] kbruner commented on #13052
Seeing this as well in 1.1.7.  We have automation to create a number of GKE clusters and install Istio in exactly the same way daily, and most come up without issue.  This has been ongoing in the bad cluster for hours with no other signs of network issues.  If I port-forward to the `istio-galley` service port 443, I can curl the endpoint, although I get a 404 on /.

[code]

(I killed a bunch of po

[2019-06-06 18:37] forkjoseph commented on #13667
Still no updates???

[2019-06-06 18:48] douglas-reid commented on #11273
@liguobao this is about mixer REPORT, which is strictly for telemetry collection (not policy enforcement).

[2019-06-06 18:52] howardjohn commented on #14612
Updated on https://github.com/istio/istio/wiki

[2019-06-06 18:52] #14612 closed

[2019-06-06 19:03] howardjohn commented on #14461
Hmm. I tried with latest 1.2 as well and can't reproduce it now. @uk000 was your setup different when you ran into this issue?

[2019-06-06 19:05] douglas-reid commented on #2704
@djazayeri I'm not sure that we want a new label on the metrics. Do you mind writing up a small one-page doc on the options, which I see as follows:

1. Add `logical_response_code`
1. Update the expression for `response_code` to support `grpcToHttp` conversion in `grpc` cases

I just would like to see the pros/cons laid out there. Then we can discuss at the next P&T.

[2019-06-06 19:06] mr-smithers-excellent commented on #6593
Just to add on to @Kampe's strategy - I was able to achieve the same connectivity using private IP via a private Cloud DNS entry, which offers some nice abstraction.  My config looks like this for a MySQL instance:

[code]

[2019-06-06 19:09] douglas-reid commented on #11273
With 1.0 support ending, and a lack of next steps in hunting down this issue, I think that the only action left, unfortunately, is to close this issue. Please re-open if you feel that there is more that should be done here.

[2019-06-06 19:09] #11273 closed

[2019-06-06 19:15] hezise opened #14624 "self signed certificate with empty subject and SAN not marked as critical"
**Bug description**
When I'm using JAVA to connect our system I'm getting the below exception.
The thing is that in Java I can bypass non matching name and self signed certificate but I can't bypass nor ignore any certificate issues.

Couldn't open connection: X.509 Certificate is incomplete: SubjectAlternativeName extension MUST be marked critical when subject field is empty
Exception in thread "

[2019-06-06 19:24] Sanjanare opened #14625 "Adding multiple gateways on istio ingressgateway"
I am trying to add multiple gateways on istio-ingressgateway with a type : LoadBalancer.
One Load balancer works fine but the second one goes to pending state. I am using helm charts

[code]
Can some one please help me ! thanks

[2019-06-06 19:29] linsun commented on #14524
@ianstanton

1. yes, that is correct, for permission mTLS.
2. I think so, I would appreciate if @wattli can correct me if I'm wrong.  I normally do permissive mode and enable mTLS strict from auth policy and destination rule.
3. It will try mTLS first then if it fails, plain text traffic will be used (instead of fail the communication).

[2019-06-06 19:54] Sanjanare commented on #9426
@yciabaud https://github.com/istio/istio/issues/14625 can you please check this have similar issue, am i doing ryt?
newbee

[2019-06-06 20:04] howardjohn commented on #14088
@vadimeisenbergibm is this still needed? We want to be very careful we do not miss changes to 1.1 in 1.2 like we did for 1.0 -> 1.1

[2019-06-06 20:05] kyessenov commented on #14240
RouteDirective supports appending header values, so you can could use that to add two operations that append two values to the same key. See the documentation https://github.com/istio/api/blob/master/policy/v1beta1/cfg.proto#L162.

For direct HTTP response, have you tried space-separated values in the header map? That _might_ work. Direct HTTP response is translated in Mixer, so we can refine the

[2019-06-06 20:21] #11284 closed

[2019-06-06 20:26] howardjohn commented on #14625
Why is it pending? You can see by `kubectl describe`ing the pod.

[2019-06-06 20:29] geeknoid commented on #14543
Medium I suppose. It's mostly a case of "silly docs".

[2019-06-06 20:35] ozevren commented on #14543
Darn, I closed the window before publishing my comment. Oh well.

This can be separated into two parts:

1) Documentation (silly docs as @geeknoid ) put it. This part is the most important one, and hopefully should be straightforward to fix for 1.2
2) Break Galley's simple dependencies. I suspect some of the stuff here is low-hanging fruit, so if we can get them done, it is great. It may not need

[2019-06-06 20:51] howardjohn commented on #14533
I spun up a new cluster, with `master-20190522-09-15`.

[code]

It is not rejected

[2019-06-06 20:57] howardjohn commented on #12883
I haven't seen this fail but https://github.com/istio/istio/pull/14413 triggers it again so many that can help track it down

[2019-06-06 21:00] howardjohn commented on #13287
Fixed in https://github.com/istio/istio/pull/14254

[2019-06-06 21:00] #13287 closed

[2019-06-06 21:18] icygalz commented on #13823
done. Closing this issue.

[2019-06-06 21:18] #13823 closed

[2019-06-06 21:21] #11566 closed

[2019-06-06 21:27] mandarjog commented on #14190
@sushicw ingress gateway defines a NodePort. It seems that there is another test from a suite that creates the same gateway. It could be related to the re-use of cluster thru boskos.

The solution is no disable use of NodePort for tests. I would first verify that NodePort is not required for any of these tests.

[2019-06-06 21:47] howardjohn commented on #14414
Dug into this a bit

* Validation doesn't occur because this stuff is converted to a struct
* If we wanted to we can validate anytime we convert to struct. Not sure this is a good idea though

[2019-06-06 21:47] silentdai commented on #14579
@DragonSuper Not it's not 100% envoyproxy/envoy as istio has istio-specific filters that can never merge to envoyproxy upstream. To build envoy in istio:

1. checkout istio/proxy, switch to the version tags you need: tag/1.1.7 for stable
2. run BAZEL_BUILD_ARGS=--config=release make build_envoy at proxy directory. You should have the build out envoy static-linked binary.
3. checkout istio/istio, r

[2019-06-06 21:54] ozevren commented on #13466
I think the right way to do this is in the deployment phase (i.e. ``SetupConfigFn``). We need to reconcile this with the native mode setup, however, as the native mode setup is done through Galley component configuration. In K8s mode, we can error out if the dialout settings are specified in the config.

This will make the calling code a bit uglier (it has to take environment into account, in a co

[2019-06-06 22:14] itsmurugappan opened #14628 "Tracing not working with istio cni"
I am using istio 1.1.1 on k8s 1.12 with istio-cni enabled. In jaeger i just see ingressgateway spans. I dont see other services. On all my nodes i have 10-calico.conflist with istio cni section. Without cni its working.
Trace sampling set to 100 in istio-pilot

I downloaded istio curl -L https://git.io/getLatestIstio | ISTIO_VERSION=1.1.1 sh -
From version 1.1.3 onwards i dont even see the charts

[2019-06-06 22:30] duderino commented on #14283
Feature for 1.3:  Pilot must protect against excessive config changes and properly implement throttling without unwanted side effects

[2019-06-06 22:37] mandarjog opened #14629 "Create framework verify config distribution has taken place."
May e2e test follow the following pattern

1. apply some configuration
2. wait()
3. run test and verify behaviour

The wait leads to flakiness of we wait too little before starting test, and becomes too slow if we wait for too long.

We would like a mechanism to ensure that a config applied to api server has reached an envoy.

There are several options

1. Break applying config in 2 phases.
    a.

[2019-06-06 22:38] mandarjog commented on #14629
@kyessenov @douglas-reid

[2019-06-06 22:51] karlmutch commented on #7980
Has anyone managed to crack this and solve it ?  Thanks

[2019-06-06 23:10] howardjohn commented on #14263
Fixed in 1.2 by #14222

[2019-06-06 23:10] #14263 closed

[2019-06-06 23:14] kyessenov commented on #14629
1.b is a hack and is going to cause more problems than fixes things I think. It doesn't work for non-networking config (policy/telemtry/CA).

[2019-06-06 23:21] #11535 closed

[2019-06-06 23:32] douglas-reid commented on #14629
@kyessenov non-networking config is (perhaps) easier to validate as being active. for instance, we can retrieve the counts of the number of `handlers`, `instances`, and `rules` in use by mixers -- and then poll until we see that change to reflect new config (mixer config tends to be 1:1 with operator provided config). That gives us a way of knowing when policy/telemetry rules should be in effect.

[2019-06-06 23:36] incfly opened #14630 "Upgrade documentation needs updates itself w.r.t 1.1 - 1.2 changes"
**Bug description**

Two parts

- https://preliminary.istio.io/docs/setup/kubernetes/upgrade/notice/
documents the behavior different between 1.0 and 1.1 rather than 1.1 to 1.2

- RBAC and mtls policy changes required, in upgrade notice in [Upgrade Steps](https://preliminary.istio.io/docs/setup/kubernetes/upgrade/steps/). I understand we may want to keep the instructions around for a couple of ver

[2019-06-06 23:37] kyessenov commented on #14629
@douglas-reid I agree that it _would_ work but it is a hack. It's using features for their non-intended use, leading to unexpected behaviors and complexity. We already have tons of complexity due to the underlying issue, so a better solution would be a way to simplify things than making them more complicated.

[2019-06-06 23:38] incfly commented on #14630
@fpesce  @mandarjog  @duderino we need to consult all the areas owners for fill the information for the first part. replace the system behavior changes between 1.1 and 1.2 .

@diemtvu @liminw for the second part, do you think we still need to keep the clusterrabcconfig and mtls annotation changes in [upgrade steps](https://preliminary.istio.io/docs/setup/kubernetes/upgrade/steps/)?

[2019-06-06 23:38] incfly commented on #14630
Other than this, I verified the control plane and sidecar rollout instructions work as intended.

[2019-06-06 23:52] uk000 commented on #13008
A few notes based on the discussion so far:

- Agree with @howardjohn 's assessment that one service/namespace shouldn't be forced to depend on another namespace just because that other namespace was the first one to grab an FQDN via ServiceEntry.
- Rejecting a ServiceEntry doesn't sound like a reasonable option. As a user of a multi-tenant cluster, I might be completely unaware of what others hav

[2019-06-07 00:07] rlenglet opened #14631 "Docs for "Install Istio on the Google Kubernetes Engine" should link to GKE's OSS Istio install docs"
**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[X] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience

**Expected behavior**

The [docs](https://preliminary.istio.io/docs/setup/kubernetes/install/platform/gke/) should also link to

[2019-06-07 00:19] Sanjanare commented on #14625
@howardjohn if i describe the gateway it shows Running

[code]
it builds Load balancer in AWS as well , but the load balancer is not connected to instances, i checked the certs they are okay.

[2019-06-07 00:39] howardjohn commented on #14625
It doesn't seem like an istio issue to me. Can you create other Services of type LoadBalancer? if not then its an issue with your Kubernetes.

Sorry I mispoke, you should look at the status on the service not the pod. Mine shows
[code]

[2019-06-07 01:50] linsun commented on #13267
@mbanikazemi can this be closed now?  it is a fix highlighted in rel note of 1.1.8.

[2019-06-07 02:12] Sanjanare commented on #14625
@howardjohn yes i did check on service only it didnot create any events.
[code]

[2019-06-07 03:21] #11577 closed

[2019-06-07 05:59] incfly commented on #14624
Seems a legit requirement, go-x509 library and SPIRE both make corresponding change, https://github.com/spiffe/spire/issues/330
https://github.com/golang/go/commit/3a395e22832774ff56d6b82cb8d91bc31167bd8e
we might update the citadel go library version to get the fix..

[2019-06-07 06:38] GregoireW commented on #7964
Hello,

On Istio the [http route](https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#HTTPRoute)  accept a headers parameter to manipulate those [Description on this](https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#Headers)

So you can have in a virtual service:

[code]

[2019-06-07 08:08] jkbschmid commented on #14604
Solved with #14355.

[2019-06-07 08:08] #14604 closed

[2019-06-07 08:21] elevran commented on #14240
@kyessenov I'll try space separated values - thanks!

My understanding is that the istio-proxy generates/encodes the HTTP response based on the direct response attributes sent by Mixer. Is this correct? Your response could by understood to mean that the Mixer encodes the actual byte buffer sent to the Web client.

In the use case above, the header values are computed by a mixer adapter that return

[2019-06-07 09:16] albertkang commented on #12183
@Stono Thanks for this!

[2019-06-07 10:11] cainelli commented on #14605
sharing a bit more on what I've learned since yesterday:

1. It's not exclusively to `calico-node` SA, the flapping service account in `kubernetes.default.svc.cluster.local` also happened with kube-proxy's service account:
[code]

2. I've upgraded to `1.2.0-rc.0` on the same sandbox cluster and I don't see the flapping SA behavior anymore. In both cases I have the buggy kubernetes service endpoint

[2019-06-07 10:30] ianstanton commented on #14524
@linsun Thanks for the explanation! This definitely helps me understand the concepts better. Is there a good way to visualize this communication with something like logs or Kiali?

[2019-06-07 12:10] liorfranko commented on #14381
It was a resource issue on the envoy.
Thank you all!

[2019-06-07 12:10] #14381 closed

[2019-06-07 13:10] jmazzitelli commented on #14524
You can definitely see mTLS settings visualized in Kiali. You will get visualized hints when comms have mTLS enabled or disabled. Here are a couple Kiali PRs that have screen shots:

https://github.com/kiali/kiali-ui/pull/1089

https://github.com/kiali/kiali-ui/pull/963

[2019-06-07 13:22] lucasponce commented on #14524
cc @xeviknal

[2019-06-07 14:27] fico-jessecarroll commented on #7964
You would have to do that for every route, where the previous example is a catch-all.

[2019-06-07 14:27] howardjohn commented on #14605
Does this fix not work for the kubernetes service anymore?

[2019-06-07 14:34] xeviknal commented on #14524
@ianstanton I have an unofficial video regarding the mtls on Kiali: https://www.youtube.com/watch?v=GnjwaTcNKK4 Perhaps it can help.

[2019-06-07 14:35] emptywee opened #14632 "istio-ingressgateway second replica fails to come up"
**Bug description**

Second replica of istio-ingressgateway and istio-egressgateway intermittently fail to come up.
There is not much in the logs, at least for me.  Please, let me know if any additional information is needed to troubleshoot this issue. We're evaluating Istio right now and trying to find out if Istio is production ready for large clusters.

[code]

**Affected product area (please p

[2019-06-07 14:41] cainelli commented on #14605
It did fixed. Here I'm running without it to be able to reproduce the flapping service account.

[2019-06-07 14:51] howardjohn commented on #14625
Weird there are no events? Can you try creating another Service of type LoadBalancer? Just simple like

[code]

If that one is stuck pending, then it may be an issue with your K8S setup. Are you using EKS?

[2019-06-07 14:53] cainelli commented on #14605
To be clear (as I noticed the 1.2 milestone), the flapping service account seems to be fixed in `1.2.0-rc.0` (even with the buggy kubernetes service). However, would be good to understand why it's happening in 1.1.7.

[2019-06-07 15:02] howardjohn commented on #14632
Do you have sidecars, and they all work properly?

Does this only happen with the 2nd replica of the gateway?

You have a decent sized cluster. Does pilot have enough resources? I would guess yes since looks like you have 3 replicas but want to make sure, we see some people set very aggressive CPU limits and run into issues

[2019-06-07 15:08] howardjohn opened #14633 "Pilot memory leak on deleted pods"
https://snapshot.raintank.io/dashboard/snapshot/io5AN542Jl8oPN2pnVFgION16ubJonMW

Created 30 replicas of https://github.com/howardjohn/pilot-load which opens 3k XDS connections to pilot

Repeatedly restarted all the pods, each time causing the jump in pilot memory usage seen in the graph

Version: master-20190607-09-15

[2019-06-07 15:24] Sanjanare commented on #14625
@howardjohn i tried above and it worked
[code]
I am not using EKS , i am using kubernetes on aws.

[2019-06-07 15:44] sdake commented on #14581
@howardjohn - link is here:
https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.2-latest-daily/docker/

This is produced by the makefile `docker.mk` IIRC.

[2019-06-07 16:05] fpesce commented on #13618
This Epic has no linked bugs.
This is going to be stale unless you want to attach some actionable items to it.

[2019-06-07 16:15] howardjohn commented on #14611
Replaced the ads con mutex with https://github.com/sasha-s/go-deadlock and got
[code]

[2019-06-07 16:15] #13878 closed

[2019-06-07 16:16] #13882 closed

[2019-06-07 16:22] louiscryan commented on #14524
See

https://github.com/envoyproxy/envoy/issues/7135

[2019-06-07 16:32] kevchu3 commented on #13398
I was repeatedly running into the above issue for at least a couple of weeks straight, and suspected that capacity issues may have been at hand.  For unrelated reasons, I had added more compute nodes to my cluster and haven't experienced a single occurrence of the issue in the month and half since.  So for what it's worth, perhaps it's capacity related.

[2019-06-07 16:32] emptywee commented on #14632
@howardjohn Yeah, but I had to create Sidecar resources in the namespaces where we evaluate Istio. Otherwise they wouldn't come up either.

And yes, it's the weirdest part, that the first replicas of ingressgateway and egressgateway seem like never to have problems to come up. And typically when I kill the replica which is having issues, the new instance comes up just fine. Until something happens

[2019-06-07 16:40] john-a-joyce commented on #14628
@itsmurugappan - can you share some debug information from the system and/or confirm the following items.

1.  That you see the istio-cni deamonset running on all the nodes
2.   The istio-cni pod is running
3.   The image ID used for the Istio-cni POD
4.  The contents of 10-calico.conflist
5.  what type of environment are you running this on?
6.  You could also try to check if the rules are in the

[2019-06-07 16:59] esnible commented on #14629
I have been thinking about a similar problem.  Pilot sometimes generates configuration that is rejected by an Envoy.  It is hard for a user to detect this (we have a Grafana dashboard an an istioctl subcommand).  Once it happens further rule changes elsewhere don't take effect.

I propose Istio rules have a Status field.  When a rule arrives it is tagged *provisional*.  If all of the Envoys accept

[2019-06-07 17:18] ianstanton commented on #14524
@jmazzitelli @lucasponce @xeviknal @louiscryan Super helpful - I really appreciate all of your help!

[2019-06-07 17:41] sergeydeg commented on #11498
Hi,  we have similar deployment as yours,  and all websocket connections working fine.
First thing I noticed,  if cluster contains multiple Gateway resources (we have one for each resource domain), then spec.servers.port.name must be unique across cluster. This requirements happened when we upgraded from 0.8 to 1.0.2.
Second,  istio-proxy (backed by Envoy)  is just reverse proxy,  and shall add Up

[2019-06-07 17:47] wattli commented on #14524
@incfly @diemtvu

[2019-06-07 17:55] polivbr opened #14636 "Make Ingress->VirtualService path conversion configurable"
When Pilot converts Ingress specs to VirtualServices, it converts paths without wildcard suffixes (.* or /*) to exact matches.

pilot/pkg/config/kube/ingress/conversion.go : createStringMatch()

While this behavior certainly makes sense in some cases, the majority of Helm charts define Ingress paths without wildcard suffixes, instead assuming the ingress controller will perform prefix matching, as

[2019-06-07 17:55] kyessenov commented on #14240
@elevran Looking at this issue, I think you are right about the problem with `set-cookie`. Our mechanism for changing headers is left to Envoy. I believe Envoy right now appends a new key-value pair to the header stream if you use the APPEND operation, so it should behave as expected with two rules/handlers adding two headers with the same key. Regarding, the DirectHTTPResponse, this means we do n

[2019-06-07 18:18] andraxylia commented on #14158
With MCP fully enabled and if we clean up Pilot from all K8s dependency, Pilot will no longer need to read any secrets.

[2019-06-07 18:24] kyessenov commented on #14158
@fpesce I am not sure it is a good idea to remove authorization roles from pilot if it uses an alternative channel to read information. In a way, MCP allows unauthorized access that is not subject to k8s RBAC. So even though Pilot does not need k8s roles attached to its service account, it has all the privileges that come with it, so should be associated with an equivalent or more capable role.

[2019-06-07 18:25] andraxylia commented on #14158
I deem this kind of change too risky for 1.2 @fpesce we should move this to later.

[2019-06-07 18:27] ericvn commented on #14420
With a few PRs: https://github.com/istio/istio/pull/14610, https://github.com/istio/test-infra/pull/1310, and https://github.com/istio/test-infra/pull/1314, I believe we are now using Golang 1.12 everywhere in the _master_ branch.

To get things using Golang 1.12.5 in the _release-1.2_ branch I think we need to cherry-pick https://github.com/istio/istio/pull/14610 forward so tests will pass and th

[2019-06-07 18:37] wattli commented on #5891
@quanjielin , what's still left beside control plane sds?

[2019-06-07 18:48] emptywee commented on #14632
To the reason the ingress gateway pods getting killed from time to time:

[code]
We have
[code]
Is it not reasonable for the size of the cluster we have? Will it require more and more if we keep growing? Is there any recommendations how to size all components based on the number of resources in the cluster?

[2019-06-07 19:31] yangminzhu opened #14638 "Jwt public resolver doesn't handle network error properly"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Perfor

[2019-06-07 19:46] yangminzhu commented on #14638
/cc @wenchenglu @liminw @duderino @ellis-bigelow

[2019-06-07 20:12] howardjohn commented on #14632
ingress limits are very sufficient. It should definitely not be using 4Gi of memory, that is concerning. How much memory is your healthy gateway (and maybe some of the proxies as well)?

@silentdai any idea what could cause the gateway to use so much memory?

[2019-06-07 20:33] jer opened #14642 "Pilot metrics should not use unbounded strings as label values"
**Bug description**
The `err` label of the metric `pilot_xds_cds_reject` sets a value with an arbitrarily large error message. One particular example contained a value with 94k bytes in it. A scrubbed version can be seen in this gist https://gist.githubusercontent.com/jer/cfdaae4edb61ec16286cfc2d2924fd44/raw/fe0aa9bfbad258b02e987af749b567292e13f01f/metricerror.txt

This brought our Prometheus inst

[2019-06-07 20:44] itsmurugappan commented on #14628
Thank for replying. Below are the details.

1. Yes CNI pod running on all nodes
2. image = 1.1.8
3. contents of 10-calico.conflist
[code]
4. i have k8s installed on 4 node vm
5. Did nsenter and i did see rules are there in the ip tables

[2019-06-07 21:10] emptywee commented on #14632
@howardjohn here's their memory footprint over last 6h:
[code]
![image](https://user-images.githubusercontent.com/4997180/59133599-25671100-893e-11e9-8714-285661b9b2a0.png)

[code]
![image](https://user-images.githubusercontent.com/4997180/59133629-40d21c00-893e-11e9-8f60-879421583aa6.png)

Currently both instances are healthy:
[code]
and they consume around 500MiB each.

Another mystery is - some

[2019-06-07 21:13] ostromart opened #14643 "Helm tiller upgrade 1.1.8 -> 1.2.0-rc0 istio-crd-12 not found"
Installed 1.1.8 with:
helm version
Client: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}

helm init --service-account tiller
helm install install/kubernetes/helm/istio-init --name istio-init --namespace istio-system
kubectl get crds | grep 'istio.io\|certmanager.k8s.io' | wc -l
helm install install/kubernetes/helm/istio --name istio

[2019-06-07 21:20] howardjohn commented on #14632
Could you try settings env variable `PILOT_ENABLE_FALLTHROUGH_ROUTE=0` in the pilot discovery container? You can set with `--set pilot.env.PILOT_ENABLE_FALLTHROUGH_ROUTE=0` if you use helm. It could be related to https://github.com/istio/istio/issues/14242.

[2019-06-07 21:21] emptywee commented on #14632
@howardjohn will do and report back. Also found the source of the mystery :) definitely not related to this issue.

[2019-06-07 21:29] tiurikov commented on #13008
Unfortunately I have no opportunity to contribute, but it would be really nice to have it implemented.
Is there any plan to fix it in the near future? Any estimations? Thank you!

[2019-06-07 21:29] emptywee commented on #14632
Ok, set it for the pilot instances and restarted istio gateways:
[code]

Btw, HTTP10 env var has no effect, wonder if anyone got it to work.

[2019-06-07 21:30] howardjohn commented on #13008
@tiurikov this is a top priority for us and I am working on a design doc for this. Will be ready to share in a couple days

[2019-06-07 21:34] howardjohn commented on #14632
HTTP 1.0 doesn't work on gateways yet. We just merged it https://github.com/istio/istio/issues/13085 but doesn't have support yet.

[2019-06-07 21:34] emptywee commented on #14632
Upon restart they are struggling to come up:
[code]

Only 1 managed so far. It feels like it has something to do with the number of pods/services we have in  the cluster. Do I need to create any Sidecar resources in the istio-system namespace as well? Or how to troubleshoot it further? By default it doesn't say why it's thinking the pilot is not running.

[2019-06-07 21:36] emptywee commented on #14632
@howardjohn

I know that, but I was expecting it to work on pods with istio-proxy sidecar containers. It doesn't, for some reason. Maybe I am doing something wrong, but could not find enough information on that topic other than a couple of github issues. Either way this issue is not the right place to discuss it.

[2019-06-07 21:39] ostromart commented on #14534
Right, that's what I meant by race condition.
One way we could get around it is to have the operator bootstrap off a configmap which would contain the istio operator CRD as text. The operator itself would create any CRDs. That's a trick we're using in other parts of Istio.
I'm not necessarily saying that's what we should do, but it's an option. I just think it would be very helpful to simplify (ed

[2019-06-07 21:40] howardjohn commented on #14632
I think if you had less pods, it would use less resources for sure, but it shouldn't use 4GB. That is super high. Even some of our largest users aren't anywhere close to that, I think 256mb is common for a large deployment. Sidecar resource will only affect the sidecars not gateway. When it says pilot isn't running that is more of a diagnostic log, what it really means is it hasn't received a list

[2019-06-07 21:41] howardjohn commented on #14632
You can also look at localhost:15000/memory or something similar to get more detailed memory info. I think that is the endpoint at least, something similar. You can see all the debug endpoints at localhost:15000

[2019-06-07 21:50] mandarjog opened #14645 "Enable H2 upgrade with opportunistic mTLS"
With opportunistic mtls, we can certainly present {h2, h1, istio} in alpn.
However the the way things work right now, the upstream must be designated to be h2 capable by setting h2 protocol options.
Since this information will not be available at config time, we will have to figure out how to make this work.

If a specific connection pool is initiating the opportunistic mtls, then the h1 or h2 is

[2019-06-07 21:50] mandarjog commented on #14645
@PiotrSikora @lizan

[2019-06-07 21:52] cscetbon commented on #12551
@christianwoehrle very interesting ! I wonder why this rule could not be added by default on each pod where envoy runs ? @andrewjjenkins any thoughts ?

[2019-06-07 21:52] emptywee commented on #14632
[code]
I was seeing a huge latency on the "unhealthy" instance first time, then it once exited with code 56 producing a 0 size file, and then it more or less got consistent in response time. The healthy instance was always responsive.

Here's a series of tests, where the unhealthy instance is generally 70-100% slower than the healthy one:
[code]

Now I am gonna compare the result files.

[2019-06-07 21:54] yangminzhu commented on #13188
Feel free to reopen if you have more questions, closing now.

[2019-06-07 21:54] #13188 closed

[2019-06-07 21:57] yangminzhu commented on #14638
Some follow-up work:

- Report metrics about public key refresh failure, that would give customers enough time to fix some network and idp setup issue.

-  Make this how long the old public key will be kept) configurable, customers can set their own default based on their need.

[2019-06-07 22:05] emptywee commented on #14632
Quick comparison showed that the healthy instance of the ingress-gateway had dynamic listeners/routes in the config, while the unhealthy one did not have any of those:
[code]
And the healthy instance had a bit more old timestamps under the "dynamic_active_clusters" part, e.g.:
[code]

Does it mean anything?

[2019-06-07 22:09] howardjohn commented on #14632
the proxy will receive clusters first (which are sent) the  listeners second. in wondering if the proxy gets in a bad state somehow and the latency for the config push is too high so it never gets the listeners (or routes which come later). Does pilot have any timeouts? You can see them on the pilot grafana dashboard or search pilot logs for "failed to push"

[2019-06-07 22:19] emptywee commented on #14632
Yes @howardjohn there's some failed to push events logged.
[code]
One of them is indeed for ingress gateway:

[code]

Is it because of the overall size of the data it has to transfer and low timeouts on the clients? Or the problem is bigger than that and is yet unknown ?

[2019-06-07 22:21] rlenglet opened #14647 "istioctl verify-install fails to compare K8s versions with minor version as xx+(12+)"
**Bug description**

`istioctl verify-install` incorrectly determines that k8s version `v1.12.7-gke.10` as lower than `1.11`:

[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[X] User Experience

**Expected beh

[2019-06-07 22:21] PiotrSikora commented on #14645
See discussion in envoyproxy/envoy#7135.

[2019-06-07 22:22] emptywee commented on #14632
If I grep it by the name of the unhealthy ingressgateway pod:
[code]

It looks like not all of the fail? But the pod is still unhealthy...

[2019-06-07 22:23] PiotrSikora commented on #14645
Separately, we negotiate mTLS using `"istio"` ALPN, which we can mandate to be H2.

[2019-06-07 22:33] howardjohn commented on #14647
Also it probably shouldn't short-circuit if it fails? Or is this the only output expected?

[2019-06-07 22:35] rlenglet opened #14648 "Invalid syntax to purge the Helm release in istio-init chart README.md"
**Bug description**

The [README.md for the `istio-init` Helm chart](https://github.com/istio/istio/tree/master/install/kubernetes/helm/istio-init) recommends running this `helm` command to delete the `istio-init` release:

[code]

This syntax is incorrect. The `--purge` flag must be given before the release name:

[code]

**Affected product area (please put an X in all that apply)**

[ ] Configur

[2019-06-07 22:39] douglas-reid commented on #14642
The `err` value was meant to be an enum, with limited cardinality and (limited string length). We should do an assessment of other metrics being used in this way, across all Istio components (galley, pilot, mixer). In the short term, it should be possible to wrap all monitoring code to truncate labels to prevent recurrence. That will buy time until individual code path mitigations and corrections

[2019-06-07 22:45] rlenglet opened #14649 "Upgrade instructions for Helm should fist delete istio-init release"
**Bug description**

If the user installed a previous `istio-init` release, and didn't delete and purge it, the [1.2.0-rc.0 upgrade's instructions](https://preliminary.istio.io/docs/setup/kubernetes/upgrade/steps/#control-plane-upgrade) to install it again will fail.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[X] Docs
[ ] Installation
[ ] Netwo

[2019-06-07 22:47] emptywee commented on #14632
So at the end of the day after updating pilot env vars and restarting gateways:

[code]
It took a very long time for egress gateways to come up, and the second replica of the ingress gateway hasn't still come up yet. Is there any way to enable debug or tune timeouts?

[2019-06-07 22:55] kyessenov opened #14650 "istio-demo-auth is permissive (installation problem)"
The documentation states it's strict mTLS, but it is not. Verified with `kubectl run curl` command from a non-injected pod.

[2019-06-07 22:57] kyessenov opened #14651 "mTLS does not secure LoadBalancer type service with includeIPRange"
Some of our instructions claim that mTLS protects LoadBalancer type services. The same instructions also require using includeIPRange for cluster CIDR. I think the two don't work together, and this needs to be stated somewhere since I can access those LoadBalancer services without TLS.

/cc @fpesce

[2019-06-07 23:02] rlenglet commented on #14647
Yeah, you're right it's short-circuiting. There's a lot more output normally, cf. https://github.com/istio/istio/blob/1c74d317abcd7106f5713c85637ada2906acd9fc/istioctl/pkg/install/pre-check.go#L73

[2019-06-07 23:15] #7317 closed

[2019-06-07 23:28] sdake commented on #14648
thanks @rlenglet for the issue.

Cheers
-steve

[2019-06-07 23:31] incfly commented on #14128
One thing:

- we need to ensure the ctrlz is exposed as `localhost:port`, which is default. The `0.0.0.0` bound address will make it accessible to as `POD_IP:port`.
- we probably need to set rbac for port-forwarding as well. not sure if today's rbac is strong enough.

[2019-06-08 01:33] uk000 commented on #14461
@howardjohn I'll try to reproduce it again with 1.1.8. Will update.

[2019-06-08 04:21] #11498 closed

[2019-06-08 05:41] #13336 closed

[2019-06-08 06:41] gxthrj opened #14654 "grpc with istio get poor performance"
When the server has only one pod, the performance with istio is similar that without istio;
but scale the server replicas=2 , When not using istio, the average delay of 160 concurrent is 120ms; after with istio, the delay is 600ms+

istio version is 1.1.2, Mixer is not enabled for all tests

[2019-06-08 22:09] uk000 commented on #14461
@howardjohn @hzxuzhonghu you're right, can no longer reproduce it at all, neither on a cluster nor on local docker-for-mac setup. Last time it was very consistently reproducible. I guess we can close this issue for now until we run into this again.

I do see a different message in pilot logs this time though, regarding "pilot_duplicate_envoy_clusters". Pilot seems to be logging this each time it r

[2019-06-09 13:37] skyao commented on #13052
Seeing this in 1.1.8.

[code]

From the logs I found this:

2019-06-09T13:32:01.814673Z	info	Using new MCP client sink stack
2019-06-09T13:32:01.814702Z	info	Awaiting for config store sync...
2019-06-09T13:32:01.814790Z	info	ccResolverWrapper: sending new addresses to cc: [{istio-galley.istio-system.svc:9901 0  <nil>}]
2019-06-09T13:32:01.814798Z	info	ClientConn switching balancer to "pick_first"

[2019-06-09 17:55] howardjohn commented on #14649
For template can also do something like `kubectl replace --force -f `

[2019-06-09 18:28] wxdao commented on #14579
I found this article is very useful: https://medium.com/@nadundesilva/building-istio-from-source-on-linux-be860d660aa7

With the steps it mentions I managed to build all istio components for ARM64, and it just works!

However some gotchas:
- This issue #14337. The PR #14338 I proposed fixes this but it isn't merged yet, so you have to manually modify that file for now.
- [istio/docker/Dockerfile.k

[2019-06-09 19:35] pilhuhn commented on #10341
Ping again

Am 9. Juni 2019 17:27:38 schrieb "stale[bot]" <notifications@github.com>:

[2019-06-09 23:11] #14337 closed

[2019-06-10 01:32] hzxuzhonghu commented on #14611
I see, should unlock before goto Retry and after the if branch.
[code]

[2019-06-10 01:35] howardjohn commented on #14611
Ah of course.. there is no else statement. I looked at that for a long time and didn't see what the issue was. Good catch. #14635 fixes it in a better way though since we can just get rid of the lock and make the variable local

[2019-06-10 02:24] gxthrj commented on #14654
sorry,my mistake.
Modify the config in dr `ConnectionPoolSettings.TCPSettings.maxConnections=80`, I get the top performance
one more thing, what is the default value of `ConnectionPoolSettings.TCPSettings.maxConnections`, or default is not limited?

[2019-06-10 02:48] efossas opened #14656 "dnsConfig is not correctly indented in certmanager helm deployment"
**Bug description**

The dnsConfig field of certmanager's deployment in helm is not indented correctly.

Btw, the reason I discovered this, is the default name server in certmanager was not resolving my ".systems" tld, and was thus unable to verify the TXT DNS record it made to generate a certificate. So, I need to switch the name server in the certmanager pod.

**Affected product area (please put

[2019-06-10 04:29] #9332 closed

[2019-06-10 04:59] iandyh commented on #9113
1.1.8 contains important upgrades for people who are experiencing this issue. Because it's believed to be triggered at Envoy side: https://github.com/envoyproxy/envoy/pull/6578

After upgrading to 1.1.8, I've not seen 503s so far.

[2019-06-10 05:37] hezise commented on #14624
Thanks for the help.
I'll update once it's done

[2019-06-10 05:46] PawanMakadia commented on #11120
We are getting same error, any update?

[2019-06-10 05:56] clyang82 commented on #14435
@linsun @esnible
I think 2 cases we need to consider in this feature:
1. With Istio: When the namespace is configured as `istio-injection=enabled`, if the app is not desired to inject the sidecar, `istioctl uninject -f <file> | kubectl apply -f -` can help.
2. Without Istio: When uninstall the istio, use `istioctl uninject -f <file> | kubectl apply -f -` to uninstall the data plane.

WDYT?

[2019-06-10 07:37] rookiefiend opened #14658 "rate limit requested quota is not configured"
**Bug description**
  when I perform [enabling rate limits  task](https://istio.io/docs/tasks/policy-enforcement/rate-limiting/#conditional-rate-limits). Wether I use memory quota or redis quota, the rate limits is not work, and I can find warn in mixer --- `warn	Requested quota 'requestcountquota' is not configured`
**Affected product area (please put an X in all that apply)**
  istio 1.1.6
[ ] C

[2019-06-10 07:50] hzxuzhonghu commented on #14605
Really weird, about this log ,seems the service and the service account do not match.
`				adsLog.Infof("Endpoint updating service account %s %s", e.ServiceAccount, serviceName)
`

I think this is fixed by #13689

[2019-06-10 09:42] Multiply commented on #14331
We haven't had this happen since we scaled istio down again, but are left a bit vunerable if a node is replaced.

[2019-06-10 09:45] Bessonov commented on #11682
Activity!

[2019-06-10 09:46] springrain opened #14659 "When istio is upgraded, the pod restarts and cannot be accessed"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
kubectl apply -f istio-demo.yaml When upgrading isito, kubernetes has restart of isito-proxy pod, business interruption access

**Affected product a

[2019-06-10 10:06] cainelli commented on #14605
I saw your PR during my research and even tried to patch my 1.1.7 with it, then I gave up since it looks there are too many other changes to make it work. I wonder if it would make sense have it in 1.1 or accept the fix is only in 1.2.

[2019-06-10 10:12] rajusharma opened #14660 "Egress calls using gRPC protocol fails on ports which are already exposed by some services within cluster"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
If there is an existing kubernetes service inside cluster exposing port X and then there is an external service exposing same port X using gRPC prot

[2019-06-10 11:02] anton-fedorov commented on #9464
just faced the same issue. Istio version is 1.1.7

[2019-06-10 11:15] ramaraochavali commented on #14560
+1 for looking at Envoy Status in `/server_info` endpoint in Envoy and mark it ready when Envoy  to look at state mark it ready when it is Live `"state": "LIVE",`

[2019-06-10 11:26] richardpoole opened #14661 "Regular expression support for origins in CorsPolicy"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

With the current implementation of [CorsPolicy](https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#CorsPolicy), it's not possible to accept requests from dynamic origins (e.g. `https://{version}--mysite.netlify.com`). Envoy

[2019-06-10 12:15] PavanMakadia opened #14662 "Elasticsearch not working with istio"
Hello,
We are trying to deploy elasticsearch with istio-1.1.7 manual sidecar injection on kubernetes-1.14 cluster.
We followed this [Link](https://github.com/kubernetes/examples/tree/master/staging/elasticsearch) for elasticsearch files to deploy in kubernetes.
When we deploy elasticsearch without istio it works well, but with sidecar elastic pod gives following error

[code]

And proxy container

[2019-06-10 12:48] nboukeffa commented on #10360
Hi guys, I think I'm facing similar issue.

To see that I'm comparing every sec the endpoints list for a specific service that I get from the pilot itself with the endpoints list that I get from all the sidecars of an app in the mesh.

What I could notice is that when the endpoints is changing (after a pod deletion for example) the pilot is updated immedialtly but the sidecars take sometime second

[2019-06-10 13:30] efossas commented on #14656
Fixed by #13834

[2019-06-10 13:30] #14656 closed

[2019-06-10 14:05] esnible commented on #14435
For case 1 there are two sub-cases.  One case is where the auto-injector is used, the other case is where BOTH the auto-injector and manual injector are used.  We can eliminate work done by manual inject by removing sidecars.  We can eliminate work done by auto-inject by adding annotation.

To uninstall the data plane, we can first uninstall sidecars using the steps required for case 1, then we ca

[2019-06-10 14:34] duderino commented on #14642
@jer @gotwarlost we'll get a good-enough fix out in 1.1.9 by end of this week (really, the end of this week) and follow-up with a more general audit.

[2019-06-10 14:41] howardjohn commented on #14659
It isn't clear to me what the problem is. Can you add some logs or `kubectl describe` of the issue?

What pods are restarted and cannot be accessed? It is expected during an update that pods will restart

[2019-06-10 14:48] howardjohn commented on #14660
Dug into this a bit. External HTTP traffic will work on the port, just not grpc.

My understanding is gRPC is on the http2 protocol, so not sure what could be going wrong sending it to the passthrough cluster..

[code]

[2019-06-10 14:53] clyang82 commented on #14435
Thanks @esnible for your comments. I have checked the implementation of `kube-inject` which is get  the injection information from sidecar-injector-configmap. for the uninject, in some cases, the sidecar-injector-configmap does not exist. so we have to hardcode to add the logic as you described in `implementation` section.  right?

[2019-06-10 14:58] RaynDol commented on #14537
@howardjohn - currently we dont use side car for each pods i.e. we didnt create `kubectl label namespace tals istio-injection=enabled` for each namespace, is it related somehow ? is it must ?
btw, there is command which enables it automatically for `all` the namespace instead of configuring it for each space ?

[2019-06-10 15:08] howardjohn commented on #14537
@rayndol you can set `sidecarInjectorWebhook.enableNamespacesByDefault`.

Not having them all injected should mean less load for pilot (each sidecar == 1 more connection to handle)

[2019-06-10 15:25] linsun opened #14664 "ALLOW_ANY mode doesn't send any telemetry data"
In 1.1, we have enabled allow_any mode for accessing external services from a service inside of the mesh.  While this is helping users to get onboard with Istio, one important thing that comes as surprises to many of our users is that in this ALLOW_ANY mode, there is no telemetry data sent from the service inside the mesh to the external services.

this is counter intuitive for our users and not a

[2019-06-10 15:26] RaynDol commented on #14537
@howardjohn - thanks,

we are using the following `ingress-gateway ` maybe this could be the reason for the hign-memory consumption? should we change something ?

[code]

[2019-06-10 15:30] linsun commented on #14420
Given how close we are to release 1.2, I'm in favor of not porting this to 1.2 unless we know of a user impact.  I think it is great we have got this fixed in master!!!

@fpesce pls chime in if you disagree. :)

[2019-06-10 15:53] joshw123 commented on #14585
This looks to be resolved by https://github.com/istio/istio/pull/14540.

Thank You!

[2019-06-10 15:53] #14585 closed

[2019-06-10 15:55] howardjohn commented on #14664
There is some context here: https://github.com/istio/istio/issues/7669 as well

[2019-06-10 15:58] #13267 closed

[2019-06-10 16:22] eigokor commented on #9297
Looks like found one solution

adding proxy.excludeIPRanges: "169.254.169.254/32"

[2019-06-10 16:43] springrain commented on #14659
During the update process, the pod is restarted, and the service is temporarily inaccessible. After the pod is restarted, the service can be accessed normally.

[2019-06-10 16:45] howardjohn commented on #14659
Which pod? The control plane (pilot, galley, mixer, etc) or your applications?

[2019-06-10 16:46] springrain commented on #14659
My own applications

[2019-06-10 16:52] howardjohn commented on #14659
When you upgrade istio, the control plane should restart, but your applications should not automatically be restarted. In order to fully complete the update, you should need to manually restart the pods so they get the new proxy image. See https://istio.io/docs/setup/kubernetes/upgrade/steps/#sidecar-upgrade.

Is this not happening? Are the immediately restarted? If so they are probably crashing f

[2019-06-10 16:52] christianwoehrle commented on #11434
Still an issue in istio 1.1.8.

It can be reproduced with the example from https://istio.io/docs/tasks/security/auth-sds/

When the line
[code]
is added to the values-istio-sds-auth.yaml file, the the example doesn`t work anymore.

istio-proxy then waits for certs in /etc/certs/ that it never gets.

[code]

[2019-06-10 16:57] springrain commented on #14659
I did not install helm, use kubectl apply -f istio-demo.yaml to upgrade, I will provide logs as soon as possible

[2019-06-10 17:01] springrain commented on #14659
https://istio.io/docs/setup/kubernetes/upgrade/steps/#sidecar-upgrade
Both methods need to install helm, I hope to improve it, do not rely on helm

[2019-06-10 17:01] #14611 closed

[2019-06-10 17:05] howardjohn commented on #14659
The steps should still be the same though, `kubectl apply -f istio-demo.yaml` is the equivalent to the "kubernetes rolling upgrade" tab except you skip the first few steps. But I agree we should improve that

By the way: The demo install is NOT intended for production use. You WILL run into issues if you use it in production. This is why we don't have docs for upgrading using the demo, because you

[2019-06-10 17:06] quanjielin commented on #11434
/cc @costinm @duderino

[2019-06-10 17:12] rshriram commented on #14664
someone needs to setup mixer filter for catch all listener, catch all http conn manager

[2019-06-10 17:13] ibm-jason commented on #14581
@sdake, @howardjohn:

I just pulled down the pilot.tar.gz file from the URL you mentioned above, and it seems to untar and gunzip fine. can either of you try again?

[2019-06-10 17:16] springrain commented on #14659
Because it is included in the istio-demo.yaml, it is convenient and easy for novices to use. I hope that istio-demo.yaml can be used in the production environment.

[2019-06-10 17:18] springrain commented on #14659
Because istio-demo.yaml contains Addons components, it is convenient and easy for novice users. I hope that istio-demo.yaml can be used in production environments.

[2019-06-10 17:21] howardjohn commented on #14659
In the next release were are moving to a model where installing the production set up is just as easy as the demo. Until then, I suggest using `helm template`. It is just a few flags to enable kiali, tracing, grafana, etc.

[2019-06-10 17:23] howardjohn opened #14666 "Remove CPU limits from demo"
We have problems with users using demo profile and getting throttled and having crashes, horrible perf, etc. We should remove the CPU limits from the demo (removing == setting them to the same as our default), which keeping requests low to limit this problem.

@mandarjog let me know if you want me to do this

[2019-06-10 17:25] springrain commented on #14659
Ok, thank you very much for pointing me, I will continue to use and promote istio

[2019-06-10 17:25] #14659 closed

[2019-06-10 17:35] dgrove-oss opened #14667 "Bookinfo productpage microservice crashes when run as non-root userid"
**Bug description**

This is a bug related to the productpage microservice of the Istio Bookinfo example.  When run as a non-root userid, the container crashes because it attempts to write log information into a directory/file owned by the root uid.

Note that the bug can be reproduced without Istio being installed, it is a problem with the productpage cointainer.

**Affected product area (please

[2019-06-10 17:36] linsun commented on #14435
@clyang82 I agree with the comments from @esnible.  When I initially think of this WI, I didn't think of uninstall istio scenario but you added.  I was mainly more for manual injection where manual injection doesn't work and users want to quickly undo it.  Obviously, this can be also applied to auto injection.

I would prioritize the scenarios that has istio higher, because if users are removing i

[2019-06-10 17:37] ibm-jason commented on #14340
PR#14396 has been merged and resolves this issue.

[2019-06-10 17:37] #14340 closed

[2019-06-10 17:44] esnible commented on #14667
Some clouds are configured to prevent containers from running as root.

We should modify _samples/bookinfo/platform/kube/bookinfo.yaml_ to use `runAsUser: 1001` or `runAsUser: 65534` to avoid this problem.

Probably this will require modifying _samples/bookinfo/src/productpage/Dockerfile_ and some other Dockerfiles to grant permissions to that user for logging directories.

This won't improve Isti

[2019-06-10 17:55] kyessenov commented on #14650
This happens with re-application of istio-demo-auth.yaml over istio-demo.yaml (I deployed the latter by mistake). I think we should document that we cannot re-apply installation YAMLs.

[2019-06-10 17:58] esnible commented on #14435
@clyang82 It would be difficult to write a tool that understood the ConfigMap and was able to "reverse" the changes.

For Istio 0.1 through 1.2, we add sidecars named istio-inject and istio-proxy.  I propose we code an algorithm that removes pods named "istio-inject" and "istio-proxy" from a pod.  We should also remove volumes added by Istio for TLS certificates because if Istio is deleted those s

[2019-06-10 18:11] #14651 closed

[2019-06-10 18:15] geeknoid commented on #13891
Hi there,

Any progress on this front?

[2019-06-10 18:18] sureshvis commented on #14130
@incfly @diemtvu pls review below doc. We will discuss Wednesday.

https://docs.google.com/document/d/18V3Uzof5xp1-IOAM_e_GbKWSQAbgPXU72YXoZyk3rZ8/edit?usp=sharing

[2019-06-10 18:20] lukaszgryglicki commented on #13891
I'm blocked on https://github.com/cncf/devstats/issues/181

[2019-06-10 20:11] howardjohn opened #14672 "istio_auth_sds_e2e-master flake"
Example failure:
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/14439/istio_auth_sds_e2e-master/1653/?log#log

We don't have it on testgrid, so can't see the history as easily, but the log of runs can be viewed at https://k8s-gubernator.appspot.com/builds/istio-prow/pr-logs/directory/istio_auth_sds_e2e-master. Seems to fail every 10 times or so. Seemed to be get worse

[2019-06-10 20:16] kyessenov commented on #14650
It appears the root issue is that the installation job that applies auth config is identical between the two YAMLs (istio-demo and istio-demo-auth). I confirmed this by comparing `kubectl get job istio-security-post-install-1.2.0-rc.0 -n istio-system -o yaml`. The effect is that the job _does not run_ after installing auth profile, which means the auth config is not applied. The solution should be

[2019-06-10 20:29] mbanikazemi commented on #14557
Could this be related to https://github.com/istio/istio/pull/14346 ?
Let me reproduce and see if that PR makes a difference.

[2019-06-10 20:39] linsun commented on #14643
@morvencao can you check this out?

[2019-06-10 20:40] linsun commented on #14647
@irisdingbj do you have bandwidth to fix this?  cc @esnible

[2019-06-10 20:43] linsun commented on #14648
good catch, could you submit a small PR for this @rlenglet ?

[2019-06-10 20:45] linsun commented on #14649
Wouldn't deleting istio-init also delete all istio resources user have?

cc @morvencao think this is related to the other upgrade issue too.

[2019-06-10 20:45] linsun commented on #14649
#14643

[2019-06-10 20:57] howardjohn commented on #14649
@linsun it will just delete the jobs. The jobs have already created the CRDs at that point though so it should be ok

[2019-06-10 20:57] rlenglet commented on #14649
It's supposed not to, according to the docs.

[2019-06-10 21:31] howardjohn commented on #14180
@JimmyCYJ the PR is merged, is this done

[2019-06-10 21:33] fpesce commented on #14180
@JimmyCYJ I'm closing it because #14307 was merged, re-open if needed

[2019-06-10 21:33] #14180 closed

[2019-06-10 21:43] douglas-reid commented on #14083
I'm seeing a flake in this test, but for other reasons:

From: https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/14671/integ-security-k8s-presubmit-tests-master/1440

That's kinda frustrating for a test that actually "PASS"'d.

[2019-06-10 21:52] duderino commented on #14512
The fix went out in 1.1.8 and 1.0.8.  Is there any reason to keep this issue open?

[2019-06-10 21:53] ozevren commented on #14083
@douglas-reid it looks like, in that case the test maybe simply timing out due to the time spent on creating the images. Eyeballing some of the numbers, it takes quite a bit of time to download some of the images.

[2019-06-10 22:09] fpesce commented on #14158
@andraxylia / @kyessenov your concerns are valid, we need to discuss this on a different milestone. shifting this to 1.3.

[2019-06-10 22:12] wenchenglu commented on #10341
@diemtvu  fyi

[2019-06-10 22:14] ozevren commented on #2119
We can use multi-version CRDs at this point, so long as the schema for both versions stays the same:
https://docs.google.com/document/d/1lpTU96_TFKcRWF6-yO4cgt3eqglaaF5KVeRKpnkzXAA/edit

Moving to 1.3

[2019-06-10 22:14] howardjohn commented on #12883
This was already fixed (accidentally?). Previous code: unsafely assign global https://github.com/istio/istio/blob/a64b2d1f5c0c2aabbb596e738ce128ae7293e6c6/pilot/pkg/proxy/envoy/v2/discovery.go#L240

New code: safely assign local
https://github.com/istio/istio/blob/555ec2a9b4f1c58b309ed5e4431d52ed8ca0e051/pilot/pkg/proxy/envoy/v2/discovery.go#L245

#14413 is a different race conditional, tracked in

[2019-06-10 22:14] #12883 closed

[2019-06-10 22:23] howardjohn commented on #14512
We should keep this open until the change gets into 1.2 probably (#14505)

[2019-06-10 22:25] howardjohn commented on #14631
Is there any reason to point them to GKE's docs instead of our own? We could just say to Use managed Istio on GKE do ... (instructions we have now) ... To manage your own follow [generic kubernetes install]?

[2019-06-10 22:32] rlenglet commented on #14631
The Istio docs are missing some commands that seem important and specific to GKE, e.g. step 5 in the [GKE install docs](https://cloud.google.com/kubernetes-engine/docs/tutorials/installing-istio):
[code]

That doc also gives instructions to create and destroy the GKE cluster, which is useful for someone just trying out Istio.

[2019-06-10 22:33] rlenglet commented on #14631
I would personally prefer not to duplicate those docs since they work fine already (at least I tested with Istio 1.2.0-rc-0).

[2019-06-10 22:36] howardjohn commented on #13655
Related PR https://github.com/istio/tools/pull/147

[2019-06-10 22:36] fpesce commented on #13655
Hey @philrud any update on this ? (another phil was wrongly assigned this bug)

[2019-06-10 22:43] duderino commented on #11841
I think this is not a regression from 1.1 so therefore not a P0.  Please correct me if I'm wrong

[2019-06-10 22:45] duderino commented on #13789
Hi @icygalz since this is a 1.2 blocker and Maria is on vacation, can you take this?

[2019-06-10 22:46] philrud commented on #13655
My PR that lays down the foundation for multicluster perf/stability is merged – that's what John referred above. However adding more scenarios covering all multicluster/mesh expansion features is an ongoing work. I'd say we can close it unless somebody wants to keep it open to track this as an ongoing/continuous effort.

[2019-06-10 22:50] ozevren commented on #14533
The spurious fields are ignored when parsing. This is to avoid failures during upgrades. (The decision precedes my tenure, and is simply carried over). Once we complete versioning support for CRDs, we can tighten the schema rules.

The behavior is consistent, in the sense

[2019-06-10 22:54] duderino commented on #14512
@myidpt this is a 1.2 release blocker

[2019-06-10 22:59] howardjohn commented on #14533
@ozevren makes sense that unknown fields are allowed, but should Galley allow the unknown fields internally (after validation? not sure what to call this) instead of failing like `Unable to convert unstructured to proto: a/httpbin-a/19382981: unknown field "address" in v1alpha3.ServiceEntry` then?

I would expect all config would either be rejected at admission time, or sent to Pilot so I was surp

[2019-06-10 23:01] howardjohn commented on #14595
Fixed by https://github.com/istio/istio/pull/14470

[2019-06-10 23:01] #14595 closed

[2019-06-10 23:03] duderino commented on #14643
@morvencao this is a blocker for 1.2.  Would love to see this fixed asap

[2019-06-10 23:07] duderino commented on #14649
Hi @morvencao since this is related to #14643 could you take this one too?

[2019-06-10 23:11] howardjohn commented on #13853
Fixed in https://github.com/istio/istio/pull/14305

[2019-06-10 23:11] #13853 closed

[2019-06-10 23:18] knrc commented on #14534
+1 we actually removed those examples from our version and relied on the operator to handle the creation of the istio CRs once the CRDs had established.  We should favour this for this operator as well, at least as far as the Istio CRDs are concerned.

In addition once we start to think about multi-tenancy (there's still work to do in this area within Istio) then we would also need the operator to

[2019-06-10 23:21] howardjohn commented on #14461
Since none of us can reproduce this, not much we can do here. If you run into this again we will make this P0, so please reopen or let me know if so.

[2019-06-10 23:21] #14461 closed

[2019-06-10 23:22] icygalz commented on #13789
Is the issue for Postsubmit or Presubmit? The postsubmit seems doing just fine because it is posting to the right bucket/directory.

For presubmit, I think the culprit for this issue is that CircleCI tests didn't post JUnit results into our gcs bucket:

This is our gcs bucket for circleci test:
https://console.cloud.google.com/storage/browser/istio-circleci

TestGrid are scanning these gcs bucket

[2019-06-10 23:23] gargnupur commented on #14658
Can you share your mixer logs along with the config you are using?

[2019-06-10 23:24] nmittler commented on #14083
@ozevren yeah looks like a timeout.

@duderino this issue doesn't appear to have anything to do with the test framework at all ... would you mind finding a victim that has some spare cycles?

[2019-06-10 23:37] howardjohn commented on #12453
Limits have been increased a lot: https://github.com/istio/istio/blob/b034753e104adff9faad7969d9246a2157fa6bd1/install/kubernetes/helm/istio/values.yaml#L157-L159

Feel free to reopen if there is more work needed that I missed

[2019-06-10 23:37] #12453 closed

[2019-06-10 23:47] howardjohn commented on #13789
@icygalz that is a different issue than the one in the original description but sounds like it needs to be fixed too. In the case of 1.2, there are 0 tests results: https://testgrid.k8s.io/istio-presubmits-release-1.2#circleci-e2e-simple

In the originl issue, the tests failed but werent reported to test grid in some case (while successes were!)

For #2, the history is lost and I haven't seen it s

[2019-06-10 23:54] gargnupur commented on #12750
Update: Looks like all the postsubmit tests are failing because of some authentication in getting boskos resource.. so couldn't make a decision if we can remove flake flags from the tests that were added by this issue yet..

[2019-06-11 00:00] #14642 closed

[2019-06-11 00:01] howardjohn commented on #14672
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/14677/istio-pilot-e2e-envoyv2-v1alpha3-master/1701 fails as well

I am a bit worried this may be a regression and not just a test flake

[2019-06-11 00:02] howardjohn opened #14683 "Track 1.1 changes that need to get into 1.2"
https://github.com/istio/istio/pull/14618 and https://github.com/istio/istio/pull/14617 are P0 changes in 1.1 that are not in master (or 1.2) yet

This issue is just to track these 2 to make sure they don't get lost. They are blockers for 1.2

[2019-06-11 00:21] howardjohn commented on #13885
@fpesce from the PR, https://github.com/istio/istio/pull/9438 seems to already do this? Indicating that we already did merge, and if the code is no longer present maybe we intentionally removed it?

[2019-06-11 00:22] howardjohn commented on #13655
@philrud have you had a chance ran the tests on 1.1 or 1.2? And if so did you encounter any issues?

[2019-06-11 00:30] philrud commented on #13655
@howardjohn working on it, will update the community testing spreadsheet accordingly once I'm done (no surprises, so far, although there are known issues)

[2019-06-11 00:34] kbruner commented on #14499
Actually, because nodePorts are limited to the same range used by `kubectl expose`, there's no way to get them to a "safe" range, at least not in a managed service like GKE.  (Of course, if it weren't a managed service, we wouldn't have `default-http-backend` forced on us on a random port in the first place.)

[code]

[2019-06-11 00:35] quanjielin commented on #14672
/cc @JimmyCYJ

[2019-06-11 00:36] howardjohn commented on #14420
@ericvn I don't think we have 1.12 everywhere yet, our releases are still in 1.10

[code]

It would be great if we could get master builds built on 1.12 so we can get some testing before 1.3. And distroless (not related to this)

[2019-06-11 00:38] howardjohn commented on #14499
@kbruner any ideas how we can prevent this conflict then? It seems even if you configure it yourself you are still in trouble since the default-http-backend could chooes that port? Or is that service created once at cluster creation, so you could see what it gets set to and then configure Istio to use a different port?

[2019-06-11 00:39] howardjohn commented on #14539
This has been fixed, just going to track the backport in https://github.com/istio/istio/issues/14683 to keep things simple

[2019-06-11 00:39] #14539 closed

[2019-06-11 00:55] kbruner commented on #14499
Currently, in my cluster build automation, I grab the current `nodePort` for `default-http-backend`, compare it to the list of nodePorts `istio-ingressgateway` is trying to use, and if there's a collision, run `kubectl delete svc -n kube-system default-http-backend`.  GKE will immediately recreate it with a new, random port.  This is far from ideal, obviously.

Without having GKE restrict the rang

[2019-06-11 00:57] JimmyCYJ commented on #14672
The istio_auth_sds_e2e is testing workload SDS. TestTLSMultiplexing and TestGrpc are using SDS in this job. I randomly select some failed jobs and the failed tests are not SDS related. I think this may not be a SDS failure.

[2019-06-11 01:03] irisdingbj commented on #14647
yes, working on this

[2019-06-11 01:08] #14445 closed

[2019-06-11 01:25] bradenwright commented on #14593
@howardjohn looks like 1.1.8 is out and it still has a version of 1.1.0 in Chart.yaml, hopefully it'll make it into the next release.

[2019-06-11 01:25] rookiefiend commented on #14658
- policy mixer log
[code]
the log print when I access the productpage service
- redis quota configuration
[code]

[2019-06-11 01:28] rookiefiend commented on #14658
I use the istio offical yaml that only change the redis url, and I also meet this question when use memory quota.
Thanks.
@gargnupur

[2019-06-11 01:32] howardjohn commented on #14593
hm I thought j checked it.. will look again tomorrow

[2019-06-11 01:39] linsun commented on #14595
Note the fix is in master - are we okay with leaving verify-install in both experimental and stable?  Seems quite confusion to be in both.

@irisdingbj @fpesce cc

[2019-06-11 02:01] clyang82 commented on #14435
Thanks for your comments. Let me implement the scenarios with istio as high priority firstly.

[2019-06-11 02:24] #14648 closed

[2019-06-11 02:51] hzxuzhonghu commented on #14662
Statefulset issue?

[2019-06-11 03:14] rajusharma commented on #14660
Putting more information
#### Scenario-1
**ServiceA exposing grpc endpoint on port 10000 which is already deployed in cluster**
Config map of serviceA
- Both serviceA and serviceB have separate clusters(no issue in clusters)
<details>
<summary>Listeners config</summary>
"listener": {
      "name": "0.0.0.0_10000",
      "address": {
       "socket_address": {
        "address": "0.0.0.0",

[2019-06-11 03:15] wansuiye commented on #5278
1.1.3 met the same problem

[2019-06-11 04:05] rajusharma commented on #14660
@howardjohn
I tested with https also
- Created a kubernetes service with port 443
[code]
- Once this service is created all the spanner database requests are failing
[code]

[2019-06-11 04:31] morvencao commented on #14643
@ostromart @linsun @duderino Actually there is no better solution for this due to an helm issue: https://github.com/helm/helm/issues/3275
In my local env, adding `--force` parameter for the `helm upgarde...` command to recreate the configMap and job resources for 1.2 CRDs works:
[code]

[2019-06-11 04:53] morvencao commented on #14649
@rlenglet
As there is a known issue: helm/helm#3275, currently we need to add `--force` parameter to `helm upgrade ...` command to recreate the resources for 1.2 CRDs creation.
Would you please try that?

Deleting the old `istio-init` chart release and then installing new chart release also works. I'd like to add `--force` parameter to upgrade command.

[2019-06-11 05:35] eigokor commented on #13914
1.1.7 here - cannot do apt-get update and etc. outgoing traffic blocked despite ALLOW_ANY policy enabled. Also documentation says:
[code]

but it seemsIstio still blocks traffic as before. Cannot solve this with  ServiceEntry, only includeIPRanges works so far.

[2019-06-11 06:24] bruse-peng opened #14686 "i meet a problem wthen i deployment a application"
i meet a problem when i deployment with yaml as below after i success installl istio,can someone can help me

nothing show when i get pod
[root@k8s-jenkins-slave-release Istio-TCPRoute-Sample]# kubectl get pod
No resources found.

when i describe rs ,error message below(some message ingore)
[root@k8s-jenkins-slave-release Istio-TCPRoute-Sample]# kubectl get rs
NAME                     DESIRED   CU

[2019-06-11 07:03] PavanMakadia commented on #14662
We don't know exact issue but I think

[2019-06-11 07:09] PavanMakadia commented on #14662
Hello @hzxuzhonghu
We don't know exactly what is the issue but I guess TCP  connection fails on port 9300 when sidecar is attached.

[2019-06-11 07:14] RaynDol commented on #14537
currently we are blocked, please advice how to proceed

[2019-06-11 07:36] kramerul opened #14687 "Validate pull request for istio installer"
**Describe the feature request**

We would like to use our Concourse installation to [validate pull request](https://concourse.istio.sapcloud.io/teams/main/pipelines/validate-pr) for the istio installer.

As discussed between @holgero  and @costinm , we created a [validation pipeline](https://concourse.istio.sapcloud.io/teams/main/pipelines/validate-pr) for the installer project. We tested it succ

[2019-06-11 07:48] philrud commented on #13655
Apparently this is tracked as P0 in the context of upcoming 1.2 release. Closing this as the code has already landed and this set of scenarios was used during 1.2 community testing. I will file more specific issues for expanding the set of covered scenarios.

[2019-06-11 07:48] #13655 closed

[2019-06-11 07:56] gokhansengun commented on #13728
@crazyxy and @howardjohn, using Istio 1.1.8, I can see the duplicate hooks. I am using the instructions I originally detailed above.

[2019-06-11 08:20] gokhansengun commented on #13728
Ah sorry, missed the fact that the milestone is set to 1.2

[2019-06-11 08:37] gokhansengun commented on #13719
Just to note, tested this with 1.2.0-rc.0 and issue is still there.

[2019-06-11 08:58] piotrmsc commented on #13085
Since PR is already merged, is there any ETA when it will be released? will this be part of 1.2 or later?

[2019-06-11 09:32] iandyh commented on #13008
@howardjohn Off topic but somehow related. It's also very easy to "hijack" the ingress traffic as well. In the bookinfo example, when other namespace define the same `hosts` in `virtualservice` and `gateway`, by adding other url prefix rules, all the traffic that is supposed to belonged to original namespace will be going the service in other namespaces.

Hopefully I explained it well, if required

[2019-06-11 09:43] AWKIF commented on #9113
still getting 503 after upgrading

[2019-06-11 09:50] sdake commented on #14420
The main advantage of golang 1.12 is improved performance.  The main disadvantage of moving to golang 1.12 for 1.2 is no serious testing has been done with Istio running with the golang 1.12 toolchain.

Doesn't seem to be worth the risk to me.

Cheers
-steve

[2019-06-11 10:03] Stono commented on #9113
Hello, I spent a _long_ time writing a "wtf are my 503" guide recently.
https://karlstoney.com/2019/05/31/istio-503s-ucs-and-tcp-fun-times/

Would be great if you could follow it through and try and understand specifically the root cause for yours

[2019-06-11 10:36] AWKIF commented on #9113
so i need to modify official docker images, that's fun - i'll go with nodeport instead
Thanks @Stono - useful information

[2019-06-11 10:46] Stono commented on #9113
What do you mean by modifying docker images?

[2019-06-11 10:54] AWKIF commented on #9113
Well if i get it well, i would need to add/modify client timeout on destination application. Can i do that without modifying the docker images/code ?
ie: https://hub.docker.com/r/verdaccio/verdaccio

[2019-06-11 11:02] Stono commented on #9113
Take a step back... my blog is not telling you the cause of 503s, it simply shows you how to debug the cause of the 503 that you may be seeing, of which there **are many**.  503 simply indicates an upstream error.

You need to do your own debugging to understand where the 503's are coming from and then look at mitigations.

[2019-06-11 12:15] dweidenfeld commented on #10357
I think it should be on by default, since `exec` liveness/readiness checks may add up a delay on the readiness. I've had the case several times, that my app launched in 5 - 10 seconds, but the `exec` check delayed the health check by 30 seconds, so my app was ready after 40 seconds instead of 5 - 10.

On the other hand I can get rid of installing curl everywhere in my Docker containers :+1:

[2019-06-11 12:17] AWKIF commented on #9113
ok my bad, i thought it was a generic solution. Honestly i don't have time to investigate 503's on 50+ deployed apps. I just know it comes from istio/envoy and i don't even use sidecar, just ingress. And from the logs i've pasted on the other threads it really looks like your solution might work(increase timeout on dest apps). I'll test on a java apps and see.
Thanks!

[2019-06-11 12:37] #9755 closed

[2019-06-11 12:52] anton-fedorov opened #14692 "Single Control Plane Multicluster > istio-proxy in Main cluster calls kubernetes api server in Remote cluster"
**Bug description**
I have Single Control Plane Multicluster Istio 1.1.7 setup in GKE.
From one of the pods, i'm trying to reach kubernetes API from main cluster via ```https://$KUBERNETES_SERVICE_HOST:$KUBERNETES_PORT_443_TCP_PORT/api```

In about 50% of cases this happens fine, and in about 50% of cases i receive
[code]

After investigating `istio-proxy` logs and `curl` responses, i noticed that

[2019-06-11 13:06] shakti-das opened #14693 "Sidecar ingress ports binds to 0.0.0.0, binding it to instance IP provides more flexibility"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Sidecar ingress ports binds to 0.0.0.0, binding it to instance IP provides more flexibility for other listeners to use the same port.

We (Salesforce) are using the same port for different purposes based on IP. Like:
127.0.0.1:9090 - Egress Listener

[2019-06-11 13:17] gabrielcalderon commented on #13914
@eigokor Same behavior here, I can't get anything to communicate externally unless ServiceEntry or IncludeIPRanges are created. Using "ALLOW_ANY" changes absolutely nothing... Same behavior with/without that.

The tipping was when Istio broke our RabbitMQ deployment. I'm removing istio in the meantime, I will try again in the future.

[2019-06-11 13:29] esnible commented on #12437
@incfly Can you give an example of what the istioctl-specific config for mesh expansion should look like?  I don't have much experience with running Istio on VMs.

[2019-06-11 13:29] phil9909 opened #14694 "CircleCI tests fail for istio/installer"
**Bug description**
The circle-ci jobs `integration-presubmit-isolated-namespaces-kind`, `integration-presubmit-one-namespace-kind` and `install-minikube` fail since 2019-06-10 without any changes to the installer-repo. They all run the same tests with different cluster configurations and use the `daily-master` docker tag.
Logs:
- https://circleci.com/gh/istio/installer/5115
- https://circleci.com

[2019-06-11 13:41] Stono commented on #9113
No worries.  503's are retried anyway so they're not exactly hurting you, they're being reported and istio is letting you see them.

Also the default implementation of the Java apache http client will retry 503 too.

@emedina I'm wondering if we close this issue now; with 1.1.8 as well as the debugging steps I've provided people should be able to raise more specific issues related to the 503s they

[2019-06-11 13:57] cmeury commented on #14350
We've run into the problem as well, we had `PILOT_PUSH_THROTTLE` set to 10 and were wondering why we had all the push errors. After increasing it to 100, we're seeing that around 50 pushes per second are required. Errors are down to zero now, with this query:

    sum(rate(pilot_xds_push_timeout[1m]))

[2019-06-11 14:08] jkbschmid opened #14695 "Secure Gateways (File Mount) - Multiple-hosts-scenario not working"
**Bug description**
When following the docs for [Secure Gateways (File Mount)](https://preliminary.istio.io/docs/tasks/traffic-management/ingress/secure-ingress-mount/), the segment [configure a TLS ingress for multiple hosts](https://preliminary.istio.io/docs/tasks/traffic-management/ingress/secure-ingress-mount/#configure-a-tls-ingress-gateway-for-multiple-hosts) cannot be followed.

When trying

[2019-06-11 14:26] howardjohn commented on #14672
Since istio-pilot-e2e-envoyv2-v1alpha3-master is failing as well I would agree it is probably not SDS related

[2019-06-11 14:27] hanymahajna commented on #9943
i see the same issue in 1.1.2 and in 1.1.8
What i saw that it listen in tcp6 port so the ELB healthcheck failed
When i changed the healthcheck manually to another port (like 22) the listen in tcp it's working fine
I think the problem happened cause of tcp6 and not tcp (what the elb in aws expect to use)

[2019-06-11 14:36] ericvn commented on #14420
@howardjohn Let me look into this one some more based on what you posted. I'm wondering about the GitTag. Need to investigate part of the build more.

[2019-06-11 14:42] howardjohn commented on #14593
`curl https://storage.googleapis.com/istio-release/releases/1.1.8/charts/index.yaml` shows 1.1.8

Chart.yaml in the release binary also shows `install/kubernetes/helm/istio/Chart.yaml` also shows 1.1.8.

Chart.yaml from `https://storage.googleapis.com/istio-release/releases/1.1.8/charts/istio-1.1.8.tgz` also shows 1.1.8 in the Chart.

Not sure what I am missing. Where did you see 1.1.0?

[2019-06-11 15:00] howardjohn commented on #14420
GitTag one is tracked in https://github.com/istio/istio/issues/13602. Should we fixed as well though.

[2019-06-11 15:02] howardjohn opened #14696 "Need official distroless docker images in repo"
We merged in support for distroless (see https://github.com/istio/istio/issues/12122) but we haven't yet started building+pushing these images to the official repo. We should do this soon so we can get a lot of testing in before 1.3

[2019-06-11 15:16] ssuchter commented on #4693
What is the criteria that makes us put this one as P0? It seems questionable.

[2019-06-11 15:21] chris-ng-scmp commented on #4693
what is the status of this?

[2019-06-11 15:31] mbanikazemi commented on #14557
Well, this works for me. I use the book info resources. then edit the port section of the productpage service and add an entry for port 9081:
[code]

I am able to access the product page through the gateway as before.

Furthermore, I can edit the vs to forward requests to port 9081 and that will continue to work as before.

If you still have problem, please upgrade to latest istio and if still the

[2019-06-11 15:35] esnible commented on #14662
Istio doesn't work with most StatefulSet pods https://github.com/istio/istio/issues/10659

I am diagnosing a similar problem with CockroachDB which also uses StatefulSets.

[2019-06-11 15:38] esnible commented on #10659
Problems reported with Elasticsearch which also uses StatefulSet: https://github.com/istio/istio/issues/14662

[2019-06-11 15:39] linsun commented on #14643
@morvencao thank you for quickly investigating this!  I think ```--force``` is reasonable as long as the istio resources remain after the CRD updates.

[2019-06-11 15:42] linsun commented on #14649
Looks like this is updated in istio.io, please try and let us know if this works for you.  Thank you @morvencao for providing the workaround!

[2019-06-11 15:42] #14649 closed

[2019-06-11 15:44] linsun commented on #14643
Thank you @morvencao for updating the doc!   Closing this, please reopen if needed @ostromart !  I did a code search and didn't find we use helm tiller upgrade in our automated testing, so seems nothing else needs to be updated.

[2019-06-11 15:44] #14643 closed

[2019-06-11 16:03] emedina commented on #9113
@stono You're right, closing the issue as I cannot reproduce it in my use case.

[2019-06-11 16:03] #9113 closed

[2019-06-11 16:47] JimmyCYJ commented on #14672
@utka could you help us to add istio_auth_sds_e2e-master into testgrid, so that it would be convenient to keep tracking of the test results?

[2019-06-11 16:48] howardjohn commented on #14683
Now tracking 1.2 cherry picks https://github.com/istio/istio/pull/14697 and https://github.com/istio/istio/pull/14699

[2019-06-11 16:55] ericvn commented on #14420
OK. Found the issue. The image we thought should have Golang 1.12 in it for the build doesn't so will try moving the build again (but first in staging branch). As this issue now seems to me master/1.3, I'll lower the priority a bit to get some of the 1.2 doc/testing done.

[2019-06-11 16:59] howardjohn commented on #13789
For 3, I contacted CircleCI, they said its fixed. If we run into it again we can investigate further but I haven't personally seen it.

More troubling is I found the same issue on Prow. See https://testgrid.k8s.io/istio-presubmits-master#pilot-e2e-envoyv2-v1alpha3

A bunch of tests are marked as running, but they are completed. Some failed, some not failed
![2019-11-06_09-57-37](https://user-image

[2019-06-11 17:11] howardjohn commented on #14683
And https://github.com/istio/istio/pull/14701

[2019-06-11 17:14] JimmyCYJ opened #14703 "Envoy does not obtain proper listener config from pilot for istio 1.0.7/1.0.8"
**Bug description**
I have a GKE cluster (4 node, 8 vCPU per node), and I am following this guide to execute perf test against 1.0.7 [tools/perf/security/sds-tests/non-sds-2/](https://github.com/istio/tools/tree/master/perf/security/sds-tests/non-sds-2). This test uses file mount approach to provide key/cert for each workload. It deploys 20 workloads in one namespace test-ns, including 10 sleep po

[2019-06-11 17:15] JimmyCYJ commented on #14703
/cc @myidpt @wattli

[2019-06-11 17:18] douglas-reid commented on #14642
@duderino please see the cherry-pick to the 1.1 branch.

[2019-06-11 17:45] duderino commented on #14420
@ericvn are you saying that the build image we use for the 1.2 branch does not use Golang 1.12 so this isn't a blocker for the 1.2 release?

What version of Golang is used for the build images used for the 1.2 branch?   1.11?

[2019-06-11 17:53] howardjohn commented on #14672
I think we need to add it to https://github.com/kubernetes/test-infra/blob/master/testgrid/config.yaml#L1032.

Would be nice if the test grid stuff was just automatic from our prow config though

[2019-06-11 18:20] howardjohn opened #14705 "Dashboards report double metrics in some cases"
CPU was fixed in https://github.com/istio/istio/pull/14571, but there are still some broken queries. We need to go through them all and make sure they are not duplicates. I know for sure pilot memory has duplicates

Specific broken query: `sum(container_memory_usage_bytes{container_name=~"discovery|istio-proxy", pod_name=~"istio-pilot-.*"})`

[2019-06-11 18:36] therealmitchconnors commented on #13052
@kbruner, it looks like you have attached proxy logs for pilot and mixer (these are the logs from the "istio-proxy" container).  Can you attach logs for the pilot and mixer containers themselves?

[2019-06-11 18:43] lei-tang commented on #14472
Update 6-11-2019: Node Agent crash on Istio 1.2.0-rc.0.

[2019-06-11 18:44] stesie opened #14706 "Support prefix-based match in Policy -> TargetSelector[].name"
**Describe the feature request**

Currently `TargetSelector[].name` associated with an Istio Policy must be an exact match by name on a Kubernetes service. I would like to match services based on a prefix.

It should be possible to add further matching Kubernetes services after the Policy was created.

**Describe alternatives you've considered**

Create/modify Istio Policy resources with a custom

[2019-06-11 19:10] kyessenov opened #14707 "Segfault in Envoy"
Reproduced twice with the following set-up:
- deploy bookinfo.yaml injected with 1.2.0-RC0 to namespace bookinfo
- `kubectl apply -f samples/bookinfo/networking/bookinfo-gateway.yaml -n bookinfo`
- rename productpage port name to "tcp" from "http"
- make sure bookinfo works
- `kubectl apply -f samples/bookinfo/policy/mixer-rule-deny-ip.yaml -n bookinfo`
- check productpage istio-proxy log for the

[2019-06-11 19:11] kyessenov commented on #14707
/cc @fpesce for prioritization

[2019-06-11 19:26] tjholwik opened #14708 "Is it possible to disable http2 and always use http 1.1?"
we are using istio 1.1.7 and we have an issue with `http2`, is there a way to configure istio to use only  `http 1.1` protocol by default ?  didnt find any way in the docs how to configure it...

[2019-06-11 19:32] zimmertr commented on #10659
I can confirm I have also seen this with Elasticsearch.

[2019-06-11 19:37] #11236 closed

[2019-06-11 20:17] myidpt commented on #14512
Closing. Changes merged to 1.0, 1.1, 1.2 and master branches.

[2019-06-11 20:17] #14512 closed

[2019-06-11 20:27] howardjohn commented on #14708
Are your ports named `http-..` or `http2-...`? See https://istio.io/docs/setup/kubernetes/prepare/requirements/ "Named service ports" section

[2019-06-11 20:47] kbruner commented on #14499
@howardjohn Oh, my brain just kicked in.  One workaround, unless the nodePorts need to be hardcoded for some reason, would be just not to add the `nodePort` explicitly in the service spec.  K8s will assign them randomly out of the pool.

[2019-06-11 20:49] kbruner commented on #13052
@therealmitchconnors I think I dumped the logs for all the containers together for each pod (`kubectl logs --all-containers ...`).  Sorry, I've long since torn down the broken cluster.

[2019-06-11 20:55] howardjohn opened #14712 "Requests not evenly balanced across ingessgateway"
Requests are not being properly load balanced across ingressgateway pods

[code]

Leading to mismatched CPU usage
[code]

Scaling up new ingress pods does not make it any better...

Running the perf load tests

On GKE, Istio 1.2

I think this should be handled in the GCP LoadBalancer, so might not be istio related

[2019-06-11 20:59] MarcosDY opened #14713 "SPIRE Integration Test"
Create a integration tests to validate SPIRE plugin,
it must run positive and negative test to verify validation of the SA.
and correct rotation
https://github.com/istio/istio/pull/13965

[2019-06-11 21:17] #13885 closed

[2019-06-11 21:28] howardjohn commented on #13526
Need to get https://github.com/istio/istio/pull/13615 into 1.2

[2019-06-11 21:28] quanjielin opened #14714 "add unit test in nodeagent to detect race condition"
Use this bug to track the work adding more unit test to detect race condition in nodeagent,

some race condition bugs we hit before:
https://github.com/istio/istio/pull/13333
https://github.com/istio/istio/pull/14459

[2019-06-11 21:33] wattli commented on #14703
I did check the log, and find a related message when there is a 503. But I haven't dig into it yet. Let me find the log
[2019-06-07 23:49:14.629][26][debug][pool] external/envoy/source/common/http/http1/conn_pool.cc:78] creating a new connection
[2019-06-07 23:49:14.629][26][debug][client] external/envoy/source/common/http/codec_client.cc:25] [C44] connecting
[2019-06-07 23:49:14.629][26][debug][c

[2019-06-11 21:37] #11662 closed

[2019-06-11 21:40] kyessenov commented on #14707
Note that I cannot obtain a core dump. I scanned the proxy container and no such dump is generated.

[2019-06-11 21:40] myidpt opened #14716 "Clean up install/kubernetes/citadel_extras"
**Bug description**
The files in the install/kubernetes/citadel_extras directory should be removed. They should be generated via helm instead.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ x ] Security
[ ] Test and Release
[ x ] User Experience

*

[2019-06-11 21:48] tiurikov commented on #13008
I might be wrong, but looks like this issue: https://github.com/istio/istio/issues/9784 has the same root.

[2019-06-11 21:48] howardjohn commented on #14712
My pilot was broken due to a bug fix that hadn't landed in the version I was using yet. Once I fixed that all was working

[2019-06-11 21:48] #14712 closed

[2019-06-11 22:06] geeknoid commented on #14484
Done and working.

[2019-06-11 22:06] #14484 closed

[2019-06-11 22:07] howardjohn opened #14717 "Prow running old images in integration tests"
Last 4 test runs are failing at https://testgrid.k8s.io/istio-presubmits-release-1.2#integ-security-k8s-presubmit-tests&width=20

Examples:
https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/integ-security-k8s-presubmit-tests-release-1.2/104
https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/integ-security-k8s-presubmit-tests-release-1.2/105
https://prow.k8s.io/view/gcs/istio-prow/pr

[2019-06-11 22:14] sushicw opened #14718 "Integ and E2E GKE tests fail with "fork/exec /usr/local/bin/envoy: permission denied""
**Bug description**

Manually run integ tests and E2E tests run against a GKE cluster fail because the istio-proxy sidecar container dies with the following error:

[code]

Investigating more closely, it appears that the executable permissions for the envoy binary are set to 750 instead of 755.

This bug appears to have been introduced in https://github.com/istio/istio/pull/13579. There was some d

[2019-06-11 22:21] sushicw commented on #14718
Question: why has this not broken any of the automated tests?

[2019-06-11 22:28] howardjohn opened #14721 "TestMTLSGateway test failure"
https://testgrid.k8s.io/istio-presubmits-master#integ-security-k8s-presubmit-tests&width=20

Example failures:

* https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/integ-security-k8s-presubmit-tests-master/1585
* https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/integ-security-k8s-presubmit-tests-master/1586
* https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/integ-security

[2019-06-11 23:18] JimmyCYJ commented on #14695
I have repeated this set up and test against 1.2.0-rc.0.
The request to productpage fails with 404, but the request to httpbin still succeeds.

I turn on trace level log at ingress gateway proxy, and issue curl command again. It shows that the SSL handshake is finished, Envoy proxy sends a Mixer Check call, wait for the Check response, and then immediately sends 404 back.
Here is the related piece

[2019-06-11 23:19] icygalz commented on #13789
To give an update:

After talking with k8s testgrid engineers:
Usually TestGrid will show the state as "Running" if finished.json file failed to get uploaded into GCS.

Some of these "Running" tests are in that state where finished.json file didn't get uploaded one way or another. We might need to catch one whose pod are still laying around and read why it failed to upload finished.json file.

The

[2019-06-11 23:50] JimmyCYJ commented on #14695
The log in bold indicates that the Proxy sends local response which is 404. I check the mixer client code and confirm that this 404 is not sent by mixer client. It is sent from Envoy internally.
I attached the config dump of ingress gateway, find that the route config has the setup of 404. Not clear if that is the reason.

In the bookinfo filter chain, the rds config is like this
           "rds":

[2019-06-11 23:51] JimmyCYJ commented on #14695
[config_dump.txt](https://github.com/istio/istio/files/3278987/config_dump.txt)

[2019-06-11 23:52] JimmyCYJ commented on #14695
@fpesce could you ask networking team to take a look?

[2019-06-12 00:03] JimmyCYJ commented on #14695
[ingressgateway-log.txt](https://github.com/istio/istio/files/3279026/ingressgateway-log.txt)
[pilot-log.txt](https://github.com/istio/istio/files/3279027/pilot-log.txt)

[2019-06-12 00:11] JimmyCYJ commented on #14695
Envoy log(ingressgateway-log.txt) shows that there are many attempts to fetch type.googleapis.com/envoy.api.v2.RouteConfiguration but get failed. I also attached pilot-log.txt, but I don't know how to find the corresponding logs at Pilot side.

[code]

[2019-06-12 00:47] howardjohn commented on #14414
Waiting on https://github.com/istio/istio/pull/14726 landing in 1.2. Then we can bump this to P1 for the remaining action items (probably just open a new issue actually) for the `.Validate()` stuff

[2019-06-12 00:50] JimmyCYJ commented on #14721
This is a test flakiness, not a production failure. I will fix the test, but I think it is not a P0.

[2019-06-12 00:53] howardjohn commented on #14721
It is also blocks other PRs due to failures though. If we are sure its not a bug in real code, and it isn't something easy to fix maybe it could be disabled for presubmit (by adding "flaky" label)?

[2019-06-12 00:54] JimmyCYJ commented on #14721
I will add a flaky label first and then make it stable. Thanks! @howardjohn

[2019-06-12 00:56] howardjohn commented on #14721
No problem. Is the test new or was it passing fine before? Just want to make sure we don't hide a problem that is a real bug

[2019-06-12 01:00] JimmyCYJ commented on #14721
They are new tests, and it were passing when I run the presubmit test. It is the test framework or test set up issue.

[2019-06-12 01:19] hzxuzhonghu commented on #10659
I would propose there will be a component that watches statefulsets  and create the related ServiceEntries for it. So native k8s statefulset can be deployed transparently.

It should watch the statefulsets and associated services (acquire ports), and create a SE if not exists. It can be a controller of pilot, or a standalone process.

[2019-06-12 01:28] hzxuzhonghu commented on #9784
Sidecars can be used to limit egress service.

[2019-06-12 02:25] clyang82 commented on #11723
Guidance about how to enable FIPS support for power - https://github.com/envoyproxy/envoy/issues/7221

[2019-06-12 02:28] rshriram commented on #13008
btw, another issue here is the multicluster with gateway connectivity thing. In that scenario, we add service entries to the system and use coreDNS to prove DNS resolution for these service entries [based on the address in the service entry object]. If we now allow two service entries in different namespaces, then a dns service like coreDNS will have no way of determining which service entry to us

[2019-06-12 02:28] linsun commented on #11723
chatted with @PiotrSikora offline and he has done some investigation on this, looking forward to seeing those.

Also, added this topic to the security WG agenda tmr for folks who are interested in it.

[2019-06-12 02:35] cscetbon commented on #10659
@hzxuzhonghu It can't always be a Service Entry. If the protocol is supported you can but in other cases you can't and have to use a `Headless Service`.

[2019-06-12 02:41] McCoyAle commented on #14667
I would like to give this one a stab.

[2019-06-12 03:28] cscetbon commented on #12551
@christianwoehrle one issue I have with your trick is that it slows down (even seems to prevent) the deletion of my statefulset. This is because signals are not caught by the running `sleep` process. I was able to fix it by building my own image with dumb-init embedded. I wonder if there is a way to do it without. I tried to use `trap` and `exec` unsuccessfully. I'd like to reuse istio's image to

[2019-06-12 03:31] hzxuzhonghu commented on #10659
I do not understand this well, can you elaborate a little more? My understanding is for headless service, istio currently already generated a listener.

[2019-06-12 03:35] harryge00 opened #14730 "pilot_conflict_outbound_listener_tcp_over_current_tcp when start bookinfo example in Consul"
**Bug description**
I totally follow the https://istio.io/docs/setup/consul/quick-start/ guide, and then start `bookinfo`. But the pilot reports
[code]

And accessing `ratings, details, reviews` will all be redirected to `productpage`.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[X] Installation
[X] Networking
[ ] Performance and Scalab

[2019-06-12 03:36] cscetbon commented on #10659
@hzxuzhonghu you're correct. Just saying that some cases, like for a Cassandra cluster for example, it does not make sense to create a ServiceEntry. The reason is because ips can't be extracted automatically and we would have to update the ServiceEntry each time a pod's ip changes.

[2019-06-12 03:50] knightXun commented on #14730
@hzxuzhonghu

[2019-06-12 03:52] hzxuzhonghu commented on #10659
I am not familiar with `Cassandra `, but why need to update SE when pod ip changes,  how Cassandra  cannot use the pod dns to talk to each other?

[2019-06-12 05:18] mhotan commented on #8496
@diemtvu can you provide a link to an example to

[2019-06-12 05:30] irisdingbj commented on #8383
not stale

[2019-06-12 05:31] incfly commented on #12437
/no-stale-bot

Mesh expansion vm runs envoy as kubernetes pods. For this bug, `istioctl proxy-config/proxy-status`, all we need is a way to interact/access the VM machine, to get the `localhost:15000/config_dump`, that's all istioctl needs. The rest part of parsing and comparison of the config should stay the same as k8s pod.

So I think we can define a hook, for istioctl to invoke, this hook will

[2019-06-12 05:47] PavanMakadia commented on #14662
Hello @esnible ,
Thanks for replying, In this case I don't think its StatefulSet issue because we tried Deployment instead of StatefulSet as bellow, but still not working.
[code]

and it is working without sidecar perfectly.

[2019-06-12 06:08] ja3per commented on #9764
I'm looking for the solution too.

[2019-06-12 06:30] hzxuzhonghu commented on #14662
Let me have a look

[2019-06-12 06:48] hzxuzhonghu commented on #14662
xref: https://discuss.istio.io/t/user-process-listen-to-pod-ip-result-to-traffic-failure/2643
Maybe has something to do with this. Elasticsearch listen on podip and envoy route to 127.0.0.1

[2019-06-12 06:52] harryge00 commented on #14730
So Istio 1.1 cannot start on Consul?

[2019-06-12 07:38] harryge00 commented on #14730
https://discuss.istio.io/t/quickstart-bookinfo-app-consul-docker-is-redirecting-outbound-to-only-one-microservice/2208

[2019-06-12 08:37] #11692 closed

[2019-06-12 08:49] jkbschmid opened #14736 "Egress Gateways - Apply Kubernetes network policies failure"
**Bug description**

The scenario described in [Apply Kubernetes network policies](https://preliminary.istio.io/docs/tasks/traffic-management/egress/egress-gateway/#apply-kubernetes-network-policies) cannot be successfully followed.

Step 9:
[code]
shows a different error message. Probably not relevant, since hostname can't be resolved as well.

Step 13 (curling cnn via egress) fails:
[code]
Envoy

[2019-06-12 09:09] Liv1020 commented on #14551
![image](https://user-images.githubusercontent.com/5382358/59338270-a9e9d300-8d34-11e9-9599-3cd0a636e182.png)
[istio-ingressgateway.txt](https://github.com/istio/istio/files/3280551/istio-ingressgateway.txt)
Still have this problem

[2019-06-12 09:30] Liv1020 commented on #14551
![image](https://user-images.githubusercontent.com/5382358/59339998-c89d9900-8d37-11e9-91f1-49b4b475fe79.png)

[2019-06-12 11:04] sdake commented on #8383
I'd prefer not to remove the documentation, however, we can't add these capabilities in the general case, as many platforms don't run with `--privelged` and disable the ability to run with extra capabilities.

An injector annotation may make sense here (e.g. if the injector sees the annotation, run that container with the correct capabilities).  @howardjohn normally I'd ask @costinm his thoughts,

[2019-06-12 11:21] zhongfox opened #14738 "User process listen to pod ip result to traffic failure"
**Bug description**
in data panel, the final `socket_address` of inbound xds is `127.0.0.1`,  generated by pilot.
it works if user process listen to `0.0.0.0`
but some case, user process listen to the specific pod ip, the traffic route will not work.

**Affected product area**
- [x] Networking

**Expected behavior**
server which listen to pod ip should get traffic from istio proxy pellucidly.

see

[2019-06-12 11:31] ekarlso opened #14739 "Ingress gateway never comes up after restart / kill pod"
**Bug description**
Hi, we are suffering a issue where if we re-create a ingress pod aka we restart it it wont start to listen on :80 :443 even though it says it should if you check with
```istioctl -n istio-system proxy-config listener $(kubectl get po -l istio=ingressgateway -n istio-system -o jsonpath='{.items[0]..metadata.name}')```

We have tried on 2 different clusters and with both replicaC

[2019-06-12 11:51] sdake commented on #14738
From Slack:
[code]

[2019-06-12 12:11] RaynDol commented on #14537
@howardjohn - I've tried to do port forwarding to get the heap as you suggest via `kubectl -n istio-system port-forward $(kubectl -n istio-system get pod -l app=itsio-pilot -o jsonpath='{.items[0].metadata.name}') 8080:8080` and get error: `error: error executing jsonpath "{.items[0].metadata.name}": Error executing template: array index out of bounds: index 0, length 0. Printing more information

[2019-06-12 12:14] gavinfish commented on #6577
@fudali113 Have you solved this problem?

[2019-06-12 12:24] kramerul commented on #14707
I had a short look at the problem.
The git sha version of [proxy](https://github.com/istio/proxy) is 542b4fda35046fc9dad5014dbe81f3d5969e63f7
The git sha version of [envoy](https://github.com/envoyproxy/envoy.git) is 829b905ca0fdc85233c3969247e53a62a52ac627

The segmentation fault is happening inside

[code]
at the statement before address 0x914a59

<pre>
Envoy::Network::FilterManagerImpl::onRead(

[2019-06-12 12:53] kramerul commented on #14331
This is a duplicate of #14707

[2019-06-12 13:12] gxthrj commented on #14654
Hi,I am back
`ConnectionPoolSettings.TCPSettings.maxConnections `is the limit of destination host.
when scale the server replicas=2, setting maxConnections=80 is not right. so this config is not the solution.

[2019-06-12 13:17] Multiply commented on #14331
@kramerul I'm all for merging the two issues if that's the case.

I haven't attempted to reproduce it in the last two weeks, so I can't provide more information right now either.

[2019-06-12 13:18] Tomasz-Smelcerz-SAP opened #14740 "Outdated docs/sample for websocket support"
**Bug description**
The sample for websockets (tornado) contains an entry: `websocketUpgrade: true`.
This flag is not documented in the docs: https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/
I checked inside Pilot sources and it looks like support for websockets is permanently enabled, but there's no documentation about it.
Having this flag in the sample is misleading fo

[2019-06-12 13:18] aimannajjar commented on #12795
@diemtvu I am running into the exact same issue. I created a post at discuss.istio.io here: https://discuss.istio.io/t/503-errors-even-with-istio-mutual-destinationrule/2655, below is a copy /paste of my post.
_______________________
I have a very simple nginx deployment with Istio mTLS enabled. But for some reason, client pods are unable to reach the service, the sidecar returns 503 (`upstream co

[2019-06-12 13:22] howardjohn commented on #8383
Do we even have gdb in the images anymore? I recently saw a PR from crazyxy to add it (sorry on phone so can't link it) that I'd still open

[2019-06-12 13:37] esnible commented on #12437
@incfly Could we extend `proxy-config`/`proxy-status` with `--envoyDumpFile <fname>`?

If supplied, we wouldn't ask the VM machine for the configuration.  Users would do things like

[code]

Or, as a one-liner, `istioctl proxy-config bootstrap ${vm-name} --envoyDumpFile <(gcloud compute ssh ${vm-name} -- cur localhost:15000/config_dump)`

That gets all the VM handling out of _istioctl_ making it m

[2019-06-12 13:56] johnma14 opened #14741 "Mutual TLS Deep Dive: Output of commands under `Verify mutual TLS configuration` is different from the docs"
**Bug description**

Under the **Verify mutual TLS configuration**, the following commands show a different output:
- `$ SLEEP_POD=$(kubectl get pod -l app=sleep -o jsonpath={.items..metadata.name})
   $ istioctl authn tls-check ${SLEEP_POD} httpbin.default.svc.cluster.local`

- `$ istioctl authn tls-check ${SLEEP_POD} httpbin.default.svc.cluster.local`

        STATUS is OK instead of CONFLICT as

[2019-06-12 14:03] sdake opened #14742 "Istio CNI tarball is not built nor released"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
The documentation for istio-cni was reviewed and a problem was found WRT the lack of released helm charts.

see: https://github.com/istio/istio.io/i

[2019-06-12 14:04] sdake commented on #14742
https://github.com/istio/istio.io/issues/4327#issuecomment-500879135

[2019-06-12 14:05] kramerul commented on #14707
For me this looks like accessing an uninitialised class instance. At first sight, there are no pointers involved. Perhaps the class instance is not yet initialised or used after destruction.

[2019-06-12 14:08] sdake commented on #14742
@icygalz can you help us with this issue?  This is a critical issue for 1.2...  If the build can't be done, we have a whole lot of documentation to change...

[2019-06-12 14:10] kyessenov commented on #14707
Thanks @kramerul . This does look like a problem with base envoy / control plane interaction, and not an issue with istio custom filters. From my part, I've been trying unsuccessfully to reproduce it on a standalone envoy, but no luck so far.

[2019-06-12 14:11] zhongfox commented on #14738
I made a experimental change, finally make it work, summary:

1. use pod ip to generate inbound end socket address, see: https://github.com/zhongfox/istio/commit/dd0ef4e02f5661b4448d63c55ddcb9d86fe3ee34
2. change pod iptables of initContainer, remove first rule of Chain ISTIO_OUTPUT:
[code]
though it's not thoughtful patch yet, it may be done in similar way.

[2019-06-12 14:18] howardjohn commented on #14742
See https://github.com/istio/istio/issues/13526 and associated PR. Hopefully we just need to merge that

[2019-06-12 14:31] esnible commented on #14738
This seems to be a duplicate of (or related to) https://github.com/istio/istio/issues/13906 ; should we close this one and move the discussion there?

See also https://github.com/istio/istio/issues/6029

We should document this problem under https://istio.io/help/ops/traffic-management/troubleshooting/ because I have also been bitten by this.  @frankbu Should I open a work item for documentation?

[2019-06-12 14:33] howardjohn commented on #14736
[code]

This looks wrong.. `istio-system` doesnt have a label `istio`. So it blocks pilot

[2019-06-12 14:35] howardjohn commented on #8383
[code]

We don't, lets just remove the docs. In general I think that whole section of docs needs a refresher

[2019-06-12 14:38] bradenwright commented on #14593
https://github.com/istio/istio/blob/1.1.8/install/kubernetes/helm/istio/Chart.yaml#L3
https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/Chart.yaml#L3

both show `1.1.0` as did the tar.gx I downloaded from releases:

https://github.com/istio/istio/releases/tag/1.1.8
https://github.com/istio/istio/archive/1.1.8.tar.gz

[2019-06-12 14:46] howardjohn commented on #14593
@bradenwright we don't update the repo versions, users should not install from the Github repo. Instead we process the version # when we build a release

You should be using https://github.com/istio/istio/releases/download/1.1.8/istio-1.1.8-linux.tar.gz (from the release page). See https://istio.io/docs/setup/kubernetes/download/ (although this points to 1.1.7, I think we need to trigger a rebuild