[2018-02-07 16:15] luisyonaldo commented on #3269
and again, if there is not reason to have multiple istio helm releases, then naming can be static, maybe is easier to match current manifest, later on if needed it could be dynamic

[2018-02-07 16:23] christian-posta opened #3270 "Mirroring should not require an empty routing weight to make"
the envoy cluster available

see: https://github.com/istio/istio.github.io/pull/945

[2018-02-07 16:58] ijsnellf commented on #3168
Looks like the default log level part is fixed in master.

[2018-02-07 17:04] sdake commented on #3269
I've gone ahead and moved ingress into its own chart dir for the moment so we don't have to do a bunch of rework
 on the structure of the charts until the high priority issues are resolved (in no particular order):
* descaling values.yaml
* gating
* updateVersion.sh removal
* istioctl sanitization with master helm chart

I'll submit a PR after I've done a bit of testing and modified updateVersions

[2018-02-07 17:07] linsun commented on #3269
Thank you @sdake @luisyonaldo I agree ingress should be its own chart dir.

[2018-02-07 17:11] ayj commented on #1894
No, we're using ValidatingWebhooks for both schema and semantic validation. We could make use of that feature with some combination of (1) using protobuf annotations to describe constraints, (2) generate corresponding openAPIv3Schema, and (3) providing that in CRD definition.

[2018-02-07 17:12] bobbytables commented on #3179
^ Please.

[2018-02-07 17:24] nmittler commented on #3059
@Stono thanks!

Just to clarify, the configuration is located here: https://github.com/istio/istio/issues/3099#issuecomment-363679103

[2018-02-07 17:56] sdake commented on #3269
https://github.com/istio/istio/pull/3275

[2018-02-07 18:14] ldemailly commented on #1885
Added https://github.com/istio/istio/wiki/Daily-builds

[2018-02-07 18:14] ldemailly commented on #2904
I added https://github.com/istio/istio/wiki/Daily-builds as I keep getting asked about the dailies

[2018-02-07 18:15] ozevren commented on #2540
This is fixed as part of runtime2 now.

[2018-02-07 18:15] #2540 closed

[2018-02-07 18:44] ozevren commented on #3088
The test covering this issue on Mixer side is checked-in. @ldemailly, any objections to closing this issue? I know we still don't know why this started working now, but it looks like this can be pursued separately.

[2018-02-07 18:46] ozevren commented on #3088
Or we can convert this into a mixer-client bug?

[2018-02-07 18:51] mandarjog commented on #3088
Since it is working  at HEAD, we should close this issue. @ldemailly ?

[2018-02-07 18:59] ldemailly commented on #3088
I would feel a tiny bit more comfortable closing this if we could point to a proxy repo or mixerclient repo PR explaining why 0.5.0 doesn't work and master does to close this

Otherwise there is a bit of a risk it'd come back (as unsolved mysteries tend to)

[2018-02-07 19:17] xeor commented on #467
Have there been any work on this yet? I'm waiting for a way to use something like https://github.com/bitly/oauth2_proxy (works using the nginx-controller), and istio at the same time

[2018-02-07 19:18] myidpt commented on #3179
K8s workload cert rotation fix: https://github.com/istio/istio/issues/3155 (Sorry, I committed it to V0.5.1 branch, you can revert it if this doesn't meet the requirements)

[2018-02-07 19:36] linsun commented on #3182
fixed in #3187

[2018-02-07 19:36] #3182 closed

[2018-02-07 20:46] mangchiandjjoe opened #3282 "prow/istio-pilot-e2e.sh — Job failed."
https://storage.googleapis.com/istio-prow/pull/istio_istio/3169/istio-pilot-e2e/2541/build-log.txt

[code]

[2018-02-07 23:05] danehans opened #3284 "perf setup scripts: setup_vm_firewall is unnecessarily called in run_tests()"
setup_vm_firewall is called during the vm/cluster creation. It is unneeded in the run_tests function and only causes unneeded errors:

[code]

[2018-02-07 23:06] danehans commented on #3284
/cc @ldemailly

[2018-02-07 23:12] mangchiandjjoe commented on #3282
@sebastienvas @chxchx Could you please take a look at this?

[2018-02-07 23:19] sureshvis commented on #3179
Expose concurrency flag of envoy https://github.com/istio/istio/pull/3065

[2018-02-07 23:20] jeffmendoza commented on #3179
Servicegraph is broken: #3079

[2018-02-07 23:25] ldemailly commented on #3284
it's a google-ism (as in the firewall rules get cleaned up for google projects)

maybe it can be under some if/variable check

[2018-02-07 23:27] douglas-reid commented on #3179
I can't recall if https://github.com/istio/istio/pull/2901 was in 0.5.0, but I'd like to see it included in 0.5.1.

[2018-02-07 23:30] sebastienvas commented on #3282
We are not familiar with the framework. What is expected to happen, and why do you thing this is an infrastructure issue ?

[2018-02-07 23:31] #3023 closed

[2018-02-07 23:41] brandon-bethke-neudesic commented on #3265
This is affecting us as well.

[2018-02-07 23:48] andraxylia commented on #2777
Definition of Done:
- [ ] Code
- [ ] UT
- [ ] Integration
- [ ] Docs

Feature status:
- [ ] Alpha-feature
- [ ] Beta
- [ ] Stable

[2018-02-08 00:10] ayj commented on #1465
Thanks. I added https://github.com/istio/istio/wiki/Istio-Performance-oriented-setup-FAQ#automatic-proxy-injection for now since perf/scaling is pretty straightforward for the webhook.

[2018-02-08 00:10] #1465 closed

[2018-02-08 00:12] hklai commented on #3179
0.6.0 is expected to be cut mid month but it won't be out for another week.
There are some demand for fixing the critical bugs in 0.5.0.
At the same time, this is a good exercise to test the release pipeline for
creating a patch release.

Krishna, the release branch should have been 0.5 like Laurent said.

On Wed, Feb 7, 2018 at 3:47 PM, Laurent Demailly <notifications@github.com>
wrote:

[2018-02-08 01:26] ldemailly opened #3289 "sourceip shouldn't be part of the cachekey (at least not for ingress, unless actually used)"
Having the sourceip part of the cache key is
a) incorrect when it's not used
b) a performance issue for the ingress

Ingress log:
[code]

[2018-02-08 02:41] ldemailly opened #3292 "caching not working for ingress, issue with Absence-keys: destination.ip"
Caching doesn't work on mixer checks from ingress

It appears that mixer server receives ingress checks calls without destination.ip (see below) so it puts it into the Absence-keys set yet it seems the mixerclient has it or at least decide to not cache

(related to #3289 which is the slightly longer term issue of not putting unused keys in the bags)

[libprotobuf ERROR external/mixerclient_git/src

[2018-02-08 03:13] mangchiandjjoe commented on #3282
@sebastienvas I reassign the ticket to @kyessenov
Hello Kuat, could you please take a look at the issue or forward it to the right person?

Thanks.

[2018-02-08 03:57] kyessenov commented on #3282
I have not been following changes in the code. cc @rshriram ?

[2018-02-08 04:00] ldemailly commented on #3243
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3151/e2e-smoke/2582/

[2018-02-08 04:20] #3206 closed

[2018-02-08 05:55] ldemailly opened #3295 "tiny percentage of 503s on a cluster with no change & @low qps"
running 100qps through ingress in the perf setup getting a small % of 503s
(only on multi hops - maybe a timeout issue?) - it also only happens with >=20 connections or so

35.199.14.248/fortio2/fortio/fetch/echosrv1:8080/echo
[code]

[2018-02-08 06:13] ldemailly commented on #3295
gets worse with higher qps and/or connections:

Code 200 : 9667 (96.7 %)
Code 503 : 333 (3.3 %)
Response Header Sizes : count 10000 avg 160.6159 +/- 29.81 min 0 max 167 sum 1606159
Response Body/Total Sizes : count 10000 avg 168.1157 +/- 10.62 min 165 max 227 sum 1681157
Saved result to data/2018-02-08-061159_Fortio.json
All done 10000 calls 67.028 ms avg, 293.5 qps

[2018-02-08 06:14] kyessenov commented on #3295
could it be circuit breaker / outlier detection settings?

On Wed, Feb 7, 2018 at 10:13 PM Laurent Demailly <notifications@github.com>
wrote:

[2018-02-08 06:17] ldemailly commented on #3295
is there any such by default ?

[2018-02-08 06:25] kyessenov commented on #3295
Yes, see
https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cluster/circuit_breaker.proto.html#envoy-api-msg-cluster-circuitbreakers

On Wed, Feb 7, 2018 at 10:17 PM Laurent Demailly <notifications@github.com>
wrote:

[2018-02-08 07:42] ldemailly commented on #3295
thanks for the pointer, but all the default value seems to be 1024 (max connections etc...) so it shouldn't trigger with 20 or 40 connections

[2018-02-08 07:52] diemtvu commented on #1948
https://github.com/istio/api/pull/361

[2018-02-08 13:24] loewenstein commented on #1838
@gnirodi Shouldn't DNS creation be part of the interface between Pilot and Environments?

The description here sounds pretty k8s specific...

[2018-02-08 16:25] costinm commented on #3179
https://github.com/istio/istio/pull/2942

[2018-02-08 16:51] GregHanson commented on #3179
#3283
#2970

[2018-02-08 16:51] rshriram opened #15759 "Auto disable check/report if respective cluster is unspecified"
Since pilot is guaranteed to generate mixer_check_Cluster, mixer_report_cluster, we should auto disable checks/reports if any of these options are missing. This is especially important when user specifies mixer_report_cluster in global config, but does not specify mixer_check_cluster (indicating that she wants to disable check calls). The current way of doing this is a bit too clunky: user has to

[2018-02-08 17:25] ozevren opened #3307 "Galley v1: Design mapping of public/internal CRDs for Istio components."
We need to identify the right mapping from a public set of CRDs to an internal set for the initial cut of Galley v1 (See https://github.com/istio/istio/issues/2082 for general info).

Today, the public CRDs are using the config.istio.io API Group. Soon, they will move to their individual API Groups.
ref: https://github.com/istio/istio/pull/3214

Ideally, the mapping would be simple enough so that

[2018-02-08 17:30] ozevren opened #3308 "Galley v1: Ensure that MCP based config distribution is controlled via a Helm flag"
It is very likely that Galley will be in Alpha phase when Istio v1 ships. As such, the users should be able to opt-in to using Galley using a (standardized?) Istio mechanism.

(See https://github.com/istio/istio/issues/2082 for more general info).

[2018-02-08 17:34] nmnellis commented on #3179
@rkpagadala https://github.com/istio/istio/pull/3101 can be ignored if you choose, its just that users who deploy 0.5.0 will have to recreate that crd

[2018-02-08 17:36] ozevren opened #3309 "Galley v1: Implement CRD syncing"
During initial deployment (and during Istio upgrades) Galley will need to ensure that the publicly visible CRDs and the internal ones stay in sync.

(See https://github.com/istio/istio/issues/2082 for more general info).

[2018-02-08 17:38] ozevren opened #3310 "Galley v1: Implement resource syncing"
For the initial implementation, Galley will need to sync resources from a public set of CRDs to an internal set of CRDs.

(See https://github.com/istio/istio/issues/2082 for more general info).

[2018-02-08 17:43] ozevren opened #3311 "Galley v1: Productionization/telemetry."
As a v1 component, we need to ensure that Galley will have the appropriate logging, monitoring and diagnosability features implemented.
(See https://github.com/istio/istio/issues/2082 for more general info).

- [x] Ensure that we have the appropriate logging scopes and the code is using this diligently.
- [x] Implement appropriate metrics and make sure they show up in the dashboard.
- [ ] Implemen

[2018-02-08 18:41] Stono commented on #3099
@douglas-reid I've found a few other things out.

Keep in mind our architecture looks like this:

![wooo](https://user-images.githubusercontent.com/1486729/35991299-b096bc20-0cfe-11e8-9bcf-c306caa7efe9.png)

If I make a **http** request to the nginx ingress controller on the external `35.` ip, I see the following in the istio-proxy logs of the nginx ingress controller:
[code]

And I **do** see thi

[2018-02-08 18:53] rshriram commented on #2643
I am sorry, this is something we don't have control over,  to fix. The UI is owned by circleci. So fancy highlighting is out of scope.

And as costin says, log summarization is not supported by Prow either. It just picks bits and pieces of logs that say error and spews them. That is not really summarizing. In fact, I could log the same issue for Prow :).

What we need is discipline to cut down the

[2018-02-08 18:57] ayj commented on #3308
We probably ought to have standardized support for feature gates across Istio. Baking this into istioct/helm install is one option. Finer granularity may require flag support at the component level. An option to selectively enable/disable API groups may also be desirable.

refs

https://kubernetes.io/docs/reference/feature-gates/
https://kubernetes.io/docs/tasks/administer-cluster/cluster-manageme

[2018-02-08 18:57] rshriram commented on #296
With the repo merge, I don't think these issues are valid anymore. All tests are in istio/istio. And We have tests for timeouts in pilot integration tests, that get checked on every PR.

[2018-02-08 18:58] rshriram commented on #2109
I think this issue can be safely closed now.

[2018-02-08 18:58] #2109 closed

[2018-02-08 18:59] rshriram commented on #3220
This issue seems to have resolved itself. I have not seen this flake occur again. Please let me know if we need to keep this open

[2018-02-08 19:01] rshriram commented on #3282
I don't think this is the only failure in Prow. These same tests pass regularly in CircleCI without a glitch. And as @vadimeisenbergibm pointed out, this is typically indicative of something more systemic.

[2018-02-08 19:25] mangchiandjjoe opened #3320 "prow/e2e-smoke.sh failure:recipe for target 'istioctl' failed"
Multiple PR encounter the same issue.

@yutongz @mattdelco Could you please take a look or reassign the issue to the the right person?

https://storage.googleapis.com/istio-prow/pull/istio_istio/3169/e2e-smoke/2613/build-log.txt

[code]

[2018-02-08 19:39] mattdelco commented on #3320
Looks like https://github.com/istio/istio/pull/3151 was merged despite the test results failing due to removal of dependencies.  The failure that @rshriram notes about "missing deps" is caused by the PR since it removed the dependencies that caused the dep tool to be run.

[2018-02-08 19:41] qiwzhang commented on #2906
Proxy repo reversed stats change caused crash.    That proxy SHA was used
in Istio at Feb. 1

On Thu, Feb 8, 2018 at 11:36 AM, Piotr Sikora <notifications@github.com>
wrote:

[2018-02-08 19:49] #3081 closed

[2018-02-08 21:11] SerialVelocity commented on #2821
+1 to the "use https to connect to Pilot in all cases where a CA is available". We use our own CA/certs and cannot have unencrypted traffic flowing over the network

[2018-02-08 21:24] Stono commented on #3099
Updating to kubernetes 1.9.2 (recently released on GKE) and *some* bits started working.

![Uploading Screen Shot 2018-02-08 at 21.24.11.png…]()

[2018-02-08 22:08] hklai commented on #3320
Prow shows clearly that the tests started failing consistently after #3151.
https://prow.istio.io/?type=postsubmit&job=e2e-suite-rbac-auth

[2018-02-08 22:15] wattli opened #3329 "Pilot agent does not watch key/cert when a service is mTLS enabled by annotation."
Repeat:
The cluster has mTLS disabled globally, but if a service enables mTLS via annotation, then pilot-agent will fail to watch the key/cert and can't restart them.

[2018-02-09 00:43] kidiyoor opened #3338 "per service mutual TLS authentication in Consul"
ref: https://istio.io/docs/tasks/security/per-service-mtls.html

Individual services registered in consul should be able to enable/disable mTLS for their ports. One of the ways of doing this would be use a standard label - "auth.istio.io/port: NONE", similar to Kubernetes annotation.

[2018-02-09 03:22] morvencao commented on #2935
Helm install `Istio-0.5.0` release still gets:
[code]
Would you help to update the release package?
Or should I do helm install with “Canary” builds from the latest master branch for now?

[2018-02-09 03:29] rkpagadala commented on #3179
#3078   * Update proxy SHA to almost latest.

[2018-02-09 06:20] andraxylia opened #3344 "TestSvc2Svc and TestSimpleIngress failing"
Something to do with fortio:

https://circleci.com/gh/istio/istio/28772?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

--- FAIL: TestSimpleIngress (71.91s)
	simple1_test.go:100: Unable to find expected output after 7 attempts
=== RUN   TestSvc2Svc
2018-02-08T20:04:13.909928Z	info	Running command kubectl get pods -n istio-system -l app=echosrv -o jsonpath={.item

[2018-02-09 07:13] bianpengyuan commented on #2767
I was able to collect tracing of sample bookinfo app through zipkin-to-stackdriver without any error logs. I am not sure how to reproduce it so I am asking the reporter of the linked issue there.

[2018-02-09 07:29] liamawhite opened #3347 "Istio component (Pilot/Mixer/etc.) proxy agents shouldn't use zone aware routing"
This is not a breaking bug, just unnecessary.
Discussed here - https://groups.google.com/d/msg/istio-users/y7mcC76Adyc/6oo5Y-BaAwAJ

Opening this issue to track a fix.

[2018-02-09 07:31] #3155 closed

[2018-02-09 07:31] #3329 closed

[2018-02-09 14:04] christian-posta commented on #3265
Can you post your configuration for ingress?

Yep there's been some critical issues with ingress (and with 0.5.0 in general) which should be sorted with the 0.5.1 release.

https://github.com/istio/istio/pull/3218

Not sure if this is one of those. You can see what is proposed for 0.5.1 here:

https://github.com/istio/istio/issues/3179

[2018-02-09 14:45] aroundthecode commented on #1296
A reference in documentation about default egress rule and how extend them would be really appreciated.

I faced same problem as @prune998 and couldn't find any hint until I landed on this issue (already tuned off istio sidecar on my container meanwhile).
SSH connection is quite common for both remote connection or git so an ad-hoc example is probably worth the case

Some details are provided at /

[2018-02-09 14:58] vadimeisenbergibm commented on #1296
@aroundthecode Please see this documentation item https://istio.io/docs/tasks/traffic-management/egress-tcp.html, created two days ago.
Please see also this blog post from yesterday - https://istio.io/blog/2018/egress-tcp.html.

[2018-02-09 15:06] aroundthecode commented on #1296
Hi @vadimeisenbergibm thanks for the useful docs reference 👍

Just one question, is TCP supported in 0.4.0 as well? we had to rollback since 0.5.0 wasn't working properly on our cluster and we are looking forward for 0.5.1

[2018-02-09 15:55] vadimeisenbergibm commented on #1296
@aroundthecode Yes, the TCP egress rules were implemented starting from 0.3.0.

[2018-02-09 16:43] costinm opened #3357 "Allow customization of refresh delay in kube-inject and injector"
Current value is hardcoded to 1s - it can be modified by editing the template, but we need the value
in the config map to work. The 1s interval doesn't work for large number of services.

In addition, it is very confusing that the kube-inject is now requiring a file, for consistency please
use the configmap in k8s. I love the pattern of having a configmap name and a file for the mesh config.

[2018-02-09 17:26] costinm opened #3359 "Customize and fix the event queue in k8s (pilot too slow for 200 services)"
When adding 200 services to the mesh, pilot gets overwhelmed - memory jumps up, etc.

We need to make the event queue customisable and find some values that allow it to scale to ~1000 services as defaults. If the queue gets too large - it may be worth dropping it and reading directly
from k8s.

To test/repro, one option is to use:
   kubectl create ns istio-test
   helm template tests/helm --set t

[2018-02-09 17:31] #2792 closed

[2018-02-09 17:39] ayj commented on #3357
`kubectl apply -f <(~istioctl kube-inject -f samples/sleep/sleep.yaml)` should still work without needing to specify a file.

https://github.com/istio/istio/pull/3007 adds that option but hasn't been merged yet. The default still uses the built-in parameters (per https://github.com/istio/istio/pull/3007#issuecomment-362298675). We can change that default to fetch from configmap but it would break

[2018-02-09 17:47] kyessenov commented on #3359
Can you run pperf under load and collect the CPU chart? It looks like you have some reproducible set-up.

[2018-02-09 17:59] costinm opened #3361 "Test/document multi-cloud with CoreDNS"
Once https://github.com/coredns/coredns/issues/1483 is fixed, we need to test it with istio and document
the process.

CoreDNS will be able to pull from multiple k8s clusters, and could be used as an alternative to exposing
the kubeDNS via internal load balancer, and will match the behavior of pilot fetching from multiple clusters.

[2018-02-09 19:00] ldemailly commented on #3344
[code]

What are the pod status ?

Did this happen more than once?

I don't see anything useful in
https://circleci.com/gh/istio/istio/28772#artifacts/containers/0

[2018-02-09 19:11] rlguarino commented on #3265
What the targeted release date for 0.5.1?

[2018-02-09 19:20] rlguarino commented on #3179
What's the target release date for 0.5.1?

[2018-02-09 19:24] hklai commented on #3179
Targeting next Monday.

On Fri, Feb 9, 2018 at 11:20 AM, Ross Guarino <notifications@github.com>
wrote:

[2018-02-09 19:26] rlguarino commented on #3179
Just to confirm that's Monday the 12th?

[2018-02-09 19:32] christian-posta commented on #3265
Supposedly targeted next week, but could change.

On Fri, Feb 9, 2018 at 12:11 PM, Ross Guarino <notifications@github.com>
wrote:

--
*Christian Posta*
twitter: @christianposta
http://blog.christianposta.com <http://www.christianposta.com/blog>

[2018-02-09 19:35] hklai commented on #3179
Yes

On Fri, Feb 9, 2018 at 11:26 AM, Ross Guarino <notifications@github.com>
wrote:

[2018-02-09 20:02] gnirodi commented on #1833
PR#2846 has been merged.

[2018-02-09 20:02] #1833 closed

[2018-02-09 20:04] gnirodi commented on #1980
#2880 has been merged

[2018-02-09 20:04] #1980 closed

[2018-02-09 20:08] andraxylia opened #3371 "TesLog fails race tests"
https://circleci.com/gh/istio/istio/29631

==================
--- FAIL: TestLog (0.63s)
    --- PASS: TestLog/No_log_info_for_msg_name (0.00s)
    	env.go:97: Starting TestLog/No_log_info_for_msg_name - test run. . .
    	env.go:97: Got an unknown instance of log: NO ENTRY. Hence Skipping.
    	env.go:97: Finished TestLog/No_log_info_for_msg_name - test run. . .
    --- FAIL: TestLog/All_Good (0.6

[2018-02-09 20:09] andraxylia commented on #3371
cc @girishranganathan

[2018-02-09 20:10] andraxylia commented on #3371
cc @costinm

[2018-02-09 20:12] vadimeisenbergibm opened #3372 "Refactor Egress Rules tests and testdata to use slices instead of maps."
See https://github.com/istio/istio/pull/3240#discussion_r166697149.

[2018-02-09 21:51] jeffmendoza commented on #2676
Correctly setting the new min step parameter didn't solve this issue alone, but also setting each graph's metrics' "resolution" to 1/1 did make the new graphs look like the old one. This resolution runs a Prom query for each pixel that is shown in the graph, rather than every other one (old setting was 1/2).

I believe this unblocks the issues. Next decision is which version to upgrade to 4.6.3 wh

[2018-02-09 21:53] costinm commented on #3359
I have - but it would help if more people would have similar setups.

Based on logs and the 5GB of RAM - it is likely to be a memory not CPU issue, and so
far getting hperf was tricky and spotty.

[2018-02-09 21:55] costinm commented on #3359
To clarify - I'm currently working on other aspects of this problem, the goal is to have
some fix before next Fri ( for 0.6 ) - increasing the throttle on the queue seems the simplest
solution. It is clear that many events are going in and a lot of allocations happen for each event.

If you have better options that can be done with low disruption and in the given time - even better,
but I don't se

[2018-02-09 22:29] mandarjog commented on #3359
@cheftako This is the issue I was talking about.

services, endpoints, pods and nodes are watched along with certain CRDs.
 https://github.com/istio/istio/blob/master/pilot/pkg/serviceregistry/kube/controller.go#L72

[2018-02-09 22:37] theganyo commented on #3194
It appears to be a STRING_MAP, but I don't believe that's sufficient. It would need to be the equivalent to a `map[string]interface{}`... as claim values can be other than string.

[2018-02-09 23:24] gnirodi commented on #1836
@baodongli @sdake @john-a-joyce just indicating that I've begun work on this.

I have some skeletal code at https://github.com/istio/istio/compare/master...gnirodi:multi-cluster-p2p?expand=1

[2018-02-09 23:34] #1226 closed

[2018-02-09 23:35] gnirodi commented on #2218
This was indeed a flake

[2018-02-09 23:35] #2218 closed

[2018-02-09 23:35] ldemailly commented on #3344
it passes on master https://circleci.com/gh/istio/istio/29862

going to close this but there is an issue that there are no pod status on failure etc

[2018-02-09 23:35] #3344 closed

[2018-02-09 23:36] gnirodi commented on #1228
This was done as part of POC. We'll now use bookinfo for future multi-cluster POCs

[2018-02-09 23:36] #1228 closed

[2018-02-10 00:26] geeknoid opened #3381 "Circonus adapter doesn't support dimensions"
The Circonus adapter isn't currently looking at a metric's dimensions, which means that there is no distinction between multiple uses of a metric throughout Istio.

For example, if we have a request_count metric that's tracked per service, the dimensions of the metric will include the service name such that there can be different counters, one per service. By not using the dimensions, the Circonus

[2018-02-10 00:37] geeknoid opened #3382 "Circonus adapter is missing some config docs"
Adapter configuration needs to be fully documented:

mixer/adapter/circonus/config/config.proto:36:4: no comment found for submission_interval
mixer/adapter/circonus/config/config.proto:54:3: no comment found for metrics
mixer/adapter/circonus/config/config.proto:51:8: no comment found for type
mixer/adapter/circonus/config/config.proto:46:12: no comment found for UNKNOWN
mixer/adapter/circonus/co

[2018-02-10 00:39] geeknoid opened #3383 "Prometheus adapter is missing config documentation"
All adapter configuration elements need to be documented.

mixer/adapter/prometheus/config/config.proto:54:8: no comment found for kind
mixer/adapter/prometheus/config/config.proto:49:12: no comment found for UNSPECIFIED
mixer/adapter/prometheus/config/config.proto:50:12: no comment found for GAUGE
mixer/adapter/prometheus/config/config.proto:51:12: no comment found for COUNTER
mixer/adapter/prome

[2018-02-10 00:42] ldemailly commented on #2906
will close this then as I don't think we've seen this since. we haven't verified our ability to collect cores afaik either though.

[2018-02-10 00:42] #2906 closed

[2018-02-10 00:43] ldemailly commented on #3282
dup of #3037

[2018-02-10 00:43] #3282 closed

[2018-02-10 00:45] ldemailly commented on #3243
fixed/worked around using "make init"

[2018-02-10 00:45] #3243 closed

[2018-02-10 00:45] geeknoid opened #3384 "Redisquota adapter is missing config documentation"
All adapter config elements need to be documented

mixer/adapter/redisquota/config/config.proto:56:2: no comment found for Override
mixer/adapter/redisquota/config/config.proto:77:2: no comment found for Quota

[2018-02-10 00:46] geeknoid opened #3385 "Servicecontrol adapter is missing config documentation"
All adapter config elements need to be documented:

mixer/adapter/servicecontrol/config/config.proto:83:4: no comment found for runtime_config
mixer/adapter/servicecontrol/config/config.proto:86:4: no comment found for service_configs
mixer/adapter/servicecontrol/config/config.proto:38:0: no comment found for Quota
mixer/adapter/servicecontrol/config/config.proto:34:4: no comment found for check_c

[2018-02-10 00:49] geeknoid opened #3386 "Statds adapter is missing some config documentation."
All adapter config elements need to be documented:

mixer/adapter/statsd/config/config.proto:60:8: no comment found for type
mixer/adapter/statsd/config/config.proto:55:12: no comment found for UNKNOWN
mixer/adapter/statsd/config/config.proto:56:12: no comment found for COUNTER
mixer/adapter/statsd/config/config.proto:57:12: no comment found for GAUGE
mixer/adapter/statsd/config/config.proto:58:12

[2018-02-10 00:51] geeknoid opened #3387 "Stackdriver adapter is missing config documentation"
All adapter config elements must be documented:

mixer/adapter/stackdriver/config/config.proto:69:8: no comment found for kind
mixer/adapter/stackdriver/config/config.proto:70:8: no comment found for value

[2018-02-10 07:33] sdake commented on #3269
this has been merged.

[2018-02-10 07:33] #3269 closed

[2018-02-10 13:58] Stono commented on #3176
Closing this as 2.8.1 has been released

[2018-02-10 13:58] #3176 closed

[2018-02-10 15:44] Stono opened #3392 "Prometheus cannot query cadvisor on RBAC cluster"
<img width="1393" alt="screen shot 2018-02-10 at 15 33 01" src="https://user-images.githubusercontent.com/1486729/36063776-3baf5472-0e79-11e8-9f8f-87425e6532b2.png">

[2018-02-10 17:04] Stono opened #3395 "Envoy to forward application level spans to Tracing"
Hey,
Considering istio is designed to have tight tracing integration with Jaeger, do we think we could add the udp -> jaeger collector forwarding capability of the jaeger-agent sidecar to envoy, to save us running an additional sidecar just for jaeger?

https://github.com/jaegertracing/jaeger-kubernetes#deploying-the-agent-as-sidecar

[2018-02-10 20:22] Stono commented on #3059
Hey @nmittler - just wondering if you've had any progress with this?
We're actively looking at modsecurity with nginx as part of our security strategy and a key part of this is getting the correct client IP!

[2018-02-11 01:49] #3320 closed

[2018-02-11 02:34] #3284 closed

[2018-02-11 03:19] ldemailly commented on #3210
it also fails regular tests
https://circleci.com/gh/istio/istio/30187

[2018-02-11 04:08] ldemailly commented on #2643
updating the subject, pilot-e2e tests are quite unusable it'd be nice to put a summary on circleci and the rest as artifact

[2018-02-11 04:11] ldemailly commented on #3295
@geeknoid, curious why are 503s for no reason not a bug ?

[2018-02-11 04:14] ldemailly commented on #3108
doesn't seem to be happening anymore. closing

[2018-02-11 04:14] #3108 closed

[2018-02-11 04:16] ldemailly commented on #3088
k closing but this is very suspicious

note that there are issue with ingress and caching now still : #3292 #3289

[2018-02-11 04:16] #3088 closed

[2018-02-11 04:19] ldemailly commented on #2875
will be less necessary and partially implemented with #3348 but not sufficient (we need to capture everything used)

[2018-02-11 04:24] #1723 closed

[2018-02-11 04:26] ldemailly commented on #1038
related to #3295

[2018-02-11 04:31] ldemailly commented on #593
this may be "make test" or similar soon - we haven't yet quite recovered the instructions and commands on how to run 1 e2e test like we had sort of at the end of 0.2

[2018-02-11 04:41] #3392 closed

[2018-02-11 04:55] ldemailly commented on #2473
is this still and issue ? if so can you solve it ?
(or do you have specific questions / need help with ? maybe @mattdelco can help you too)

[2018-02-11 04:57] ldemailly opened #3398 "unable to connect to in-mesh TCP ports using pod ip directly"
@terinjokes commented on [Wed Jan 03 2018](https://github.com/istio/issues/issues/150)

**Is this a BUG or FEATURE REQUEST?:**

BUG

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):

Y

**Bug:**

I'm unable to connect to generic in-mesh TCP ports.

**What Version of Istio and Kubernetes are you using, where d

[2018-02-11 05:00] ldemailly commented on #1078
it'd be great to finally get this in for 0.6 at least

[2018-02-11 05:03] ldemailly commented on #995
done, manually for each release (see perf WG and https://fortio.istio.io )- integration with build and release automation tbd

[2018-02-11 05:03] #995 closed

[2018-02-11 05:04] ldemailly commented on #996
same as #995

[2018-02-11 05:04] #996 closed

[2018-02-11 05:06] ldemailly commented on #1093
done, manually (see perf wg details), now need integration with continuous build and release

[2018-02-11 05:06] #1093 closed

[2018-02-11 05:17] ldemailly commented on #2333
seems like the fix was reverted

[2018-02-11 06:44] tjose opened #3399 "Issues with mTLS setup"
While verifying mTLS setup by following the document -
`https://istio.io/docs/tasks/security/mutual-tls.html`

Found issues after `exec` into the envoy container as explained below.

`productionpage` pod is listed as below
[code]
Doing `exec` and checking the existence of `curl` binary and `id` details
[code]

[2018-02-11 06:48] tjose commented on #3399
A workaround has been suggested by my collegue (Liam White) worked for me. It is the patch the proxy to a debug mode
[code]
and verify with the following steps
[code]

[2018-02-11 06:49] tjose commented on #3399
Possibly we may need to reflect this additional details into the documentation.

[2018-02-11 07:29] liamawhite commented on #2217
Resolved by #2384

[2018-02-11 07:29] #2217 closed

[2018-02-11 09:02] vivek-jain commented on #3265
@christian-posta Hi Christian, could you pls advise which is the stable version of Istio I could try? I am currently only looking at Distributed tracing feature.

[2018-02-11 09:03] taoyu27 commented on #2864
@ayj , I tried with istio-0.5.0, but one issue happen, could you please disabuse me of issue?
install steps:
1. kubectl apply -f istio.yaml
2. add admision controller to api-server with MutatingAdmissionWebhook
3.
[code]
error happen this step:
[code]

check the script, error generated in this line
[code]
execute this command on the k8s independently
[code]
[code]

checked the results. no  "status

[2018-02-11 09:30] taoyu27 commented on #2864
yet another:

error happen when create MutatingWebhookConfiguration

yaml file:
[code]
result:
[code]
env:
k8s 1.9.1
api-server:
[code]

api supported:
[code]

[2018-02-11 09:52] tjose opened #3400 "error converting YAML to JSON: bookinfo-add-serviceaccount.yaml"
Creating Service account `bookinfo-productpage` results in this error
[code]

Checked with yaml lint and found this is a valid yaml file.
Unable to find the reason for the error.

[2018-02-12 00:04] ldemailly opened #3401 "dep ensure failure on master"
[code]

cc @costinm

[2018-02-12 02:08] kolobok01 opened #3403 "Side container fails when running consul and eureka samples"
Looks like sidecar manifest that include in samples for consul and eureka is broken
image: docker.io/istio/proxy_init:0.5.0 -exited
image: docker.io/istio/proxy_debug:0.5.0 - running
Tested on ubuntu 16.04 and macOS
Steps to replicate .

1. https://istio.io/docs/setup/consul/quick-start.html (all containers are healthy  -- pilot is running)
2. docker-compose -f samples/bookinfo/consul/bookinfo.yam

[2018-02-12 02:43] tomgeorge commented on #2582
Sorry, I am not 100% sure what work this task is describing, and I have a couple questions about the acceptance criteria of this.  Do you want to add an option to istioctl e.g. `--tag=0.4.0`?

Or do you want this to be a change to the behavior of the build per the first line of the task?

It looks like istioctl gen-deploy uses a common tag by default?

[code]

and I see `defaultInstallation()` in

[2018-02-12 03:06] nmittler commented on #3059
Hey @Stono, Sorry for the delay ... I've been trying to recreate the problem with a simplified nginx config on minikube, but haven't had any luck yet. I was generating the istio-proxy config with:

[code]

I might try moving the environment to GKE to make the environment more similar.

[2018-02-12 03:09] chinajuanbob commented on #3265
@christian-posta  Thanks for reply.

I use the default configuration from istio 0.5.0 package, and no user ingress spec defined in my cluster.

[2018-02-12 05:33] disha94 opened #3404 "httpReqRetries rules not working as expected"
Hi,
I recently deployed a nginx service with istio, and I am trying to load test the service.Though I am able to achieve the desired qps but with some 503 errors.
Therefore I added a route rule to get rid of all 503 errors, but it is not working as expected, am I missing something in the configuration?
I am using istio-0.5.0 and attached is my route rule.

apiVersion: config.istio.io/v1alpha2
kind

[2018-02-12 05:56] ldemailly commented on #1533
people did check in a bunch of large files :-(

[code]

[2018-02-12 07:35] mgtriffid commented on #3403
@kolobok01 , in fact this proxy_init container just contains a script which modifies iptables. It is expected that it finishes work and exits. And you say that repeated execution of this container fails with "chain already exists". And that's also expected: when you run this container first, it modifies iptables, and second execution fails because chain already exists.

[2018-02-12 08:20] Stono commented on #3059
That's probably a good idea.  I will email you my exact manifests when I get into the office

[2018-02-12 12:56] kolobok01 commented on #3403
@mgtriffid
Oh wow, i have not realized that that is what is expected behaviour, the problem that i am hitting though is page: http://$GATEWAY_URL/productpage  is unavailable, i assumed that it will be accessible under http://host_ipv4:9081/productpage (or localhost as stated in the example doc) is this not the case ?

[2018-02-12 13:24] sdake commented on #1836
@gnirodi cool - I missed this in my email to the ML related to the questions I had about next steps for multicloud from the existing design document.  How does this relate to https://github.com/istio/istio/issues/1836 and https://github.com/istio/istio/issues/1837?

[2018-02-12 15:21] #3347 closed

[2018-02-12 15:40] szihai commented on #3399
Another problem I see is the releases are not consistent with the images. 0.4 used proxy_debug but 0.5 switched back to proxy.

[2018-02-12 16:47] GregHanson commented on #3403
@kolobok01 are you having a similar error to what was reported here?
https://github.com/istio/istio/issues/2788

[2018-02-12 17:41] kolobok01 commented on #2788
Yes that was it.

[2018-02-12 17:53] mattdelco commented on #2473
I think it's still an issue (the push of debs by bin/push [and now "make push" was mostly deleted during the shift to a single monolithic dep) but it should be addressed as part of https://github.com/istio/istio/pull/2444 .

[2018-02-12 18:17] zachgersh opened #3409 "gateway: add kubernetes based integration test"
Now that rough HTTP gateway functionality is in place - there should be a Kubernetes based integration test added that would exercise this functionality. The [Cloud Foundry one](https://github.com/istio/istio/blob/1af8c60337cc1566f61fac1eee22dd514d03fc16/tests/e2e/tests/pilot/cloudfoundry/copilot_test.go) can be used as an example as needed.

relevant [conversation](https://istio.slack.com/archive

[2018-02-12 18:22] zachgersh opened #3410 "Gateway: remaining work for v1"
#2982 provided basic HTTP gateway implementation, but several pieces are missing.

## things that can be built w/ v1 apis
- when the backing service has more than one port
- when the route rule applies to a particular ingress port
- when the route has wildcard hostnames
- ~when the gateway has wildcard hostnames~ (prefix wildcard complete, see #3634)

## things that need a conversation
- workload-

[2018-02-12 18:25] douglas-reid commented on #3099
@Stono we've seen this before, related to unexpected (to me, at least) Grafana behavior.  can you see if you have any variables selected in the drop-downs at the top of your dashboard?  I've seen cases where the dashboard defaults to having `Source` set to empty, instead of `All`.

Example of how it should look:
![image](https://user-images.githubusercontent.com/21148125/36112612-1a9b4522-0fdf-11e

[2018-02-12 18:33] Stono commented on #3099
hi @douglas-reid
All the filters are All:

<img width="1680" alt="screen shot 2018-02-12 at 18 32 50" src="https://user-images.githubusercontent.com/1486729/36112967-2d5490e4-1023-11e8-8ce9-79de1c340719.png">

[2018-02-12 18:37] douglas-reid commented on #3099
@Stono are you seeing this even with a full page refresh?  My concern here is that this is a grafana issue and not a missing data issue. If you can see the `Requests by Source, Version, and Response Code` data, you should be able to view the `Success Rate by Source and Version` data, as they pull from the exact same metrics.

[2018-02-12 18:48] arschles commented on #3011
@geeknoid oh, apologies - I think I misunderstood then. I thought the CRDs were used to trigger istio to create routes (i.e. consume istio's producer). Do I have that wrong?

[2018-02-12 18:48] douglas-reid commented on #2333
@bianpengyuan can you send your fixing PR again?  it got caught up in some mass reversion of PRs.

[2018-02-12 18:54] kolobok01 commented on #3403
@GregHanson
yep that was it thank you very much, we can close this solution #2788

[2018-02-12 18:54] #3403 closed

[2018-02-12 18:55] Stono commented on #3099
Great shout!  Incognito and a force refresh....

<img width="1420" alt="screen shot 2018-02-12 at 18 55 09" src="https://user-images.githubusercontent.com/1486729/36113882-3aa384dc-1026-11e8-8ea0-1e2020c53620.png">

[2018-02-12 18:57] Stono commented on #3099
So this looks like a browser caching issue across and upgrade from `0.4.0` -> `0.5.0`.  This will no doubt catch others out, but as you say it's a Grafana issue rather than an Istio one, it'd probably worth thinking about a way to invalidate browser caches on upgrades

[2018-02-12 18:59] Stono commented on #3099
OK, it has now stopped working in the Incognito version too and force refreshing isn't solving it.. wtf

[2018-02-12 19:02] Stono commented on #3099
Another problem, similar to what you mentioned before is when you first go into the istio dashboard, the first drop down has defaulted to an empty value:

<img width="506" alt="screen shot 2018-02-12 at 19 01 22" src="https://user-images.githubusercontent.com/1486729/36114186-217535fe-1027-11e8-85cf-9330aa6aeeb6.png">

In order to get the dashboard to work, I have to switch that to `All` and then

[2018-02-12 19:17] Stono commented on #3099
And the other thing I find extremely strange is that two of our http services (at-consumer-platform, at-search-one) are not coming up as http services, but instead tcp service.

The flow of a user request across these services is:

`user -> ingress-nginx -> at-consumer-platform -> at-sauron-web -> at-search-one`

All of the `at-*` apps share a helm template, and are deployed identically with the s

[2018-02-12 19:30] douglas-reid commented on #3099
@Stono i'm happy you were able to see the rest of the metrics (at least for a time)!

There is on-going work to update to the latest and greatest grafana, which hopefully will help ameliorate this display refresh issue. @jeffmendoza has been tracking this and should have something to point at in a few days. He may even have a way for you to preview the changes now.

The empty source field seems to

[2018-02-12 19:32] rosenhouse opened #3413 "Cloud Foundry should return the correct info for GetSidecarServiceInstances"
thanks to @mandarjog for pointing this out.

we're not actually calling this function yet...

[mailing list thread](https://groups.google.com/d/msg/istio-networking/htxJDpZO-G8/mtof-ko9BwAJ)

[2018-02-12 19:35] Stono commented on #3099
The same on them all @douglas-reid as it's templated, for example:

at-consumer-platform (being recognised as tcp):
[code]

at-sauron-web (being recognised as http):
[code]

[2018-02-12 19:59] mangchiandjjoe opened #3414 "prow/istio-pilot-e2e.sh — Job failed."
@kyessenov Could you please take a look or reassign the issue to the right person?

https://storage.googleapis.com/istio-prow/pull/istio_istio/3169/istio-pilot-e2e/2838/build-log.txt

[code]

[2018-02-12 20:01] douglas-reid commented on #3099
@Stono that is really really strange. is there any data for `at-consumer-platform` for `istio_tcp_bytes_received` or `istio_tcp_bytes_sent` ? We might need to look at `istio-mixer:42422/metrics` and see what those values look like...

[2018-02-12 20:02] kyessenov commented on #3414
cc @rshriram ?

[2018-02-12 20:08] Stono commented on #3099
Appears to be:

<img width="1407" alt="screen shot 2018-02-12 at 20 06 50" src="https://user-images.githubusercontent.com/1486729/36117066-40a40870-1030-11e8-9087-b16e6e9e86bf.png">

And from mixer:
[code]

[code]

[2018-02-12 20:27] #1279 closed

[2018-02-12 20:34] Stono commented on #3099
Another strange thing is in the logs for `istio-proxy` on `at-search-one` (so the last service in the chain) I do not see the requests, on `at-consumer-platform` and `at-sauron-web` `istio-proxy` I do.

It's definitely intercepting and doing mtls though.... as we're getting valid responses to the client and I can see the requests with tcpdump

[2018-02-12 21:05] cmluciano commented on #3179
docs for minikube setup https://github.com/istio/istio.github.io/pull/921

[2018-02-12 21:11] ldemailly commented on #3179
0.5.1:
mixer's   statsd-to-prometheus:
    Image:         prom/statsd-exporter:v0.5.0

[2018-02-12 21:13] ayj commented on #2864
Have you set the prerequisites correct? (see https://istio.io/docs/setup/kubernetes/sidecar-injection.html#prerequisites). The missing `status.certificate` suggests that the certificate controller wasn't started. If the problem persists, can you open a new github issue with the specifics?

[2018-02-12 21:18] douglas-reid opened #3418 "Add test to validate mixer check/report for ingress"

[2018-02-12 21:19] mandarjog opened #3419 "e2e tests: Ingress checks and reports"
Add e2e tests for check and reports at ingress.

[2018-02-12 21:44] geeknoid commented on #3011
The initial design intent is to have CRDs that tell the SB which services to expose from within the mesh. Clients can connect to the SB in order to enumerate the services that the mesh exposes and to instantiate these services. The routing related logic we have is to use incoming credentials to route traffic to the appropriate service endpoint.

Eventually, I hope we can use client-side CRDs, whic

[2018-02-12 21:56] arschles commented on #3011
Good to know. The service catalog could give you this functionality, but only if the istio broker implements the [open service broker api](http://openservicebrokerapi.com/). Not sure if it fits, but just wanted to bring it to your attention and explain it fully because it might be able to save you folks some code 😄

[2018-02-12 22:02] andraxylia commented on #3295
This is the same as  #1038, closing as duplicate.

[2018-02-12 22:28] wattli commented on #3232
https://github.com/istio/api/pull/370 introduces the proto change by adding one more address for pilot and mixer.

[2018-02-12 22:49] ldemailly commented on #3295
it wasn't actually the same, #1038 was with changes, this one is without any change
will reopen as @PiotrSikora and I aren't done figuring the possible cause
(but if #1038 gets fixed and also fixes this, wonderful!)

[2018-02-12 22:51] rkpagadala commented on #3179
@ldemailly  The tags for statsd exporter come from prometheus official docker releases and unrelated to our 0.5.1 version.

https://hub.docker.com/r/prom/statsd-exporter/tags/

[2018-02-12 23:21] douglas-reid commented on #3418
@bianpengyuan has expressed interest in taking this work on. a recommended place to start is modifying/duplicating the testglobalcheckandreport to include validation of checks/reports with destination_service of istio-ingress.

[2018-02-12 23:30] ldemailly commented on #3179
oh nice coincidence, thanks @rkpagadala - @douglas-reid do you know why we are using the version from 3 months ago vs 1 month ago (0.6.0)

[2018-02-12 23:37] rlguarino commented on #3179
It this still happening today?

[2018-02-13 00:13] douglas-reid commented on #2160
@mandarjog @qiwzhang Can we close this now?  we have mixer/tests/client/check_cache/... ?

[2018-02-13 00:18] rshriram commented on #3414
I am sorry. I don't have access to the test clusters in google, nor do I have any idea about the environment associated with this.

[2018-02-13 00:19] douglas-reid commented on #2158
@bianpengyuan can you own developing the tests here as the Stackdriver story is more fleshed out?

[2018-02-13 00:24] douglas-reid commented on #2161
@jmuk any updates here?

[2018-02-13 00:25] douglas-reid commented on #2162
@jmuk any update here?

[2018-02-13 00:28] jmuk commented on #2162
https://github.com/istio/istio/pull/3335

[2018-02-13 00:35] mangchiandjjoe opened #3424 "ci/circleci: e2e-pilot — Your tests failed on CircleCI"
It started happening today.

https://circleci.com/gh/cf-routing/istio/3127?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

[2018-02-13 00:36] mangchiandjjoe commented on #3424
CC @wattli

[2018-02-13 00:36] mangchiandjjoe commented on #3424
@andraxylia Could you please take a look or reassign the issue to the right person?

[2018-02-13 00:37] mattdelco commented on #3414
So should we start a revert PR of the ones that manually committed (and neither passing) around the start of the breakage (#3169 and #3273) to see which gets things working again?

[2018-02-13 00:47] rshriram commented on #2198
Per this email thread https://groups.google.com/forum/#!topic/istio-environments/3SZaZGhPk0U, seems @gnirodi , @sdake and co are taking up all the multi-cloud work and rewriting most parts of pilot. So, I would suggest assigning this work to them, since they are best positioned to add tests, and ensure the stability of the system during the rewrite.

[2018-02-13 00:49] ldemailly commented on #2160
*cough* #3292, #3088 , etc...
so yes we do need some e2e tests of this (which I have indirectly in perf test but not integrated)

[2018-02-13 00:50] rshriram commented on #2777
Seems @gnirodi , @sdake and some others are working on more optimized v1alpha2 implementation, v2 api implementation, and faster pilot in conjunction with all work on multi-cloud. (https://groups.google.com/d/msg/istio-environments/3SZaZGhPk0U/guFJJAfZAwAJ)

Since these rewrites involve all parts of pilot, they are better positioned to handle this.

[2018-02-13 00:51] rshriram commented on #2775
This is probably very much aligned with the rewrite that is happening. FYI @sdake , @gnirodi @baodongli ^^^.

[2018-02-13 01:01] kyessenov commented on #3359
The culprit is the cost of computing Envoy xDS responses. It's too expensive to warrant 1s refresh delay across Envoys in a cluster. We need to slow it down, with a simple workaround of setting multi-minute poll refresh interval.

[2018-02-13 01:10] mangchiandjjoe commented on #3424
@rshriram It seems that you can take a look at this issue. Could you please take a look or assign to the right person?

[2018-02-13 01:23] hklai commented on #3179
@rkpagadala is in the process of cutting 0.5.1. right now. Will update this bug when the release artifacts become available.

[2018-02-13 01:35] douglas-reid commented on #3179
@ldemailly because we added it ~3 months ago and have not since updated.

[2018-02-13 01:36] douglas-reid commented on #3371
Can we close this issue?  Is it still recurring?

Running locally, I see:

[code]

[2018-02-13 01:36] douglas-reid commented on #3371
Looks like i forgot the `--race`. Now I see it.

[2018-02-13 02:06] mandarjog commented on #3359
Can you put some info here re: time spent / cpu used etc computing the response?

The new Pilot data structures should help here, so will simply scaling number of pilot instances.

[2018-02-13 02:17] kyessenov commented on #3359
I've tested kubernetes backend on thousand services with no detectable
problems. So the bottleneck is likely the config generation function. The
data structures do not really help there since it's mostly processing rules
and RDS/LDS. The cost of v1alpha2 is unknown.

On Mon, Feb 12, 2018, 6:06 PM mandarjog <notifications@github.com> wrote:

[2018-02-13 02:21] yusuoh opened #3428 "Upgrade test failed because proxy fails to parse new config with unknown field"
After upgrading control plane components to a newer version, the existing sidecar proxy failed on parsing the new listener config due to unknown field.

E.g.
[2018-02-13 00:12:27.944][13][error][config] src/envoy/mixer/config.cc:94] Failed to convert mixer V2 client config, error: INVALID_ARGUMENT:transport: Cannot find field.

We should ignore the unknown field when parsing json to configs by set

[2018-02-13 02:22] hklai commented on #3179
0.5.1 is released.
https://github.com/istio/istio/releases/tag/0.5.1

[2018-02-13 02:23] #3179 closed

[2018-02-13 02:34] rosenhouse commented on #3424
I think y'all are aware, but that link up top is to a fork (specifically, the Cloud Foundry team's fork branch for https://github.com/istio/istio/pull/3412 )

[2018-02-13 02:37] ldemailly opened #3430 "uninstall error (order issue?)"
[code]

[2018-02-13 04:57] yusuoh commented on #3430
Did you try the --ignore-not-found option?

[2018-02-13 05:29] ldemailly commented on #3430
I did not but how come we would have not found for what is in the yaml?

[2018-02-13 06:33] yusuoh commented on #3430
I guess it is due to the cascaded deletion when deleting the namespace. Everything within that namespace will also be deleted. But we cannot change the order, because the creation will fail due to the dependency (namespace must be created before other objects).

[2018-02-13 08:31] cmoulliard commented on #2349
Deploying istio 0.5.1 also fails with helm version `v2.8.1`

[code]

[2018-02-13 09:02] cfontes commented on #2935
I am also having the same error on latest Minikube and HELM with latest ISTIO

[2018-02-13 14:52] bobbytables commented on #3179
Thanks for all of the work on this Istio team. 🍻  We have 0.5.1 in our integration cluster now and we're seeing a few of the bugs we saw go away. Namely, the wildcard routing one is resolved.

[2018-02-13 15:19] nmittler commented on #2198
@rshriram that seems reasonable.

@gnirodi @sdake do you want to take on the protocol testing as part of this work?

[2018-02-13 15:53] sdake commented on #2935
@cfontes are you using Helm from Istio 0.5.0?  That is known to be non-functional.  0.5.1 may have enough of the fixes to get things going, however, if you have a desire to use the Helm charts, I'd recommend master for the time-being.

[2018-02-13 15:55] sdake commented on #2935
@morvencao right, that issue was fixed in master, but not fixed in time for 0.5.0, so you will see that error if using 0.5.0.  At this time the only thing I can recommend related to Helm is using master as several bugs and inconsistencies with the main manifests have been resolved (including the bug you see).

AFAIK helm works in master correctly.

[2018-02-13 16:36] jsenon opened #3443 "istioctl version cli"
When I perform
[code]

and perform more `toto`, file is empty. Because output of command line is redirected to stderr:

[code]

Is it possible to correct output of cobra subcommand `version` ?

[2018-02-13 16:58] ayj commented on #3179
FYI - I forgot to include https://github.com/istio/istio/pull/3036 in the 0.5.1 release cherry-pick list. I've updated the setup instructions to refer uses to download the missing scripts directly from github (see https://github.com/istio/istio.github.io/pull/983)

[2018-02-13 17:13] jeffwji commented on #1935
I dumped the configuration and modify liveness value and then forced pushing to replace, but pod status now is fixing on "Pending"...

[2018-02-13 18:30] sdake opened #3445 "Helm master produces restarts for pilot"
[code]

[2018-02-13 18:39] sdake commented on #3445
@linsun @luisyonaldo @munnerz have any of you run into this problem with master?

[2018-02-13 19:44] linsun commented on #3445
not yet but I don't run mine very long. maybe you could compare/diff pilot config after the istio install with or without helm?

[2018-02-13 19:46] sdake commented on #3445
Yup i'm looking into it.  Master was working a few days ago, so its a recent change.

[2018-02-13 20:00] jsenon commented on #3443
I've propose #3450
Because it's my first PR on this repo let me know if it's correct

[2018-02-13 20:35] rshriram commented on #3424
This has been fixed (#3442 )

[2018-02-13 20:35] #3424 closed

[2018-02-13 20:44] sdake commented on #3445
I bisected the Istio repo and with the defaults, a6bc1023216065195c73ce4743c99da413dfccb7 results in a pilot restart.  I noticed there were some changes for mTLS in this PR.  Should be easy enough to solve.

[2018-02-13 20:59] sdake commented on #3445
Reverting https://github.com/istio/istio/pull/3349/commits/b07189919edb5c573bd61bb3276b6a902a1f210a seems to resolve the problem.  I'll investigate a correct solution.

[2018-02-13 21:08] xiaolanz opened #3455 "Prototyping authentication policy config in service config and consumer config"
design doc: https://docs.google.com/document/d/1ShSLKzDaexJ81FnTM_UEVZq2qtJa7jphDdJ1Xuqx6Dw/edit

[2018-02-13 21:13] xiaolanz opened #3456 "Design Istio service config"
Istio config model v1 is the same as today. See https://docs.google.com/document/d/1PNzYnG0pl5Bubtx-rGwHFWDnBRkrT9upw5mhMA8EpM8/edit

Config model v2 is the new configuration flow with Config architecture: https://goo.gl/Jft4jf

- [ ] Design service representation

- [ ] Design service config

- [ ] Design consumer config

[2018-02-13 21:17] xiaolanz opened #3457 "Istio API governance"
- [x] API documentation: [link](https://groups.google.com/d/msgid/istio-dev/CALuuQPDVystyRgrwUm3qdtsMudS6gNTrG43EMxcY0U2ys-b%2Bmg%40mail.gmail.com?utm_medium=email&utm_source=footer)
- [x] API style guide: https://github.com/istio/api/pull/343
- [ ] proto package update
- [ ] API linter.
- [ ] [Add proto validator into istio/api and istio/istio](https://github.com/istio/istio/issues/3110)

[2018-02-13 21:25] xiaolanz commented on #3457
https://github.com/istio/api/pull/343

[2018-02-13 21:34] xiaolanz commented on #1880
Review with k8s: https://docs.google.com/document/d/1XqgYNoV0XCgRokJ-lKMf0RTFLhe_GAtorm2W0V2a0Qw/edit

[2018-02-13 21:36] sdake commented on #3445
One problem - in the istio ingress move to a subchart, none of the helpers templates were renamed to "ingress".  That doesn't seem to resolve the problem.

[2018-02-13 22:20] #3413 closed

[2018-02-13 22:48] salrashid123 commented on #3149
This doens't seem to be in the ```0.5.1``` release.  i downloaded it and inspected the generated prometheus.yaml file.

The on git [prometheus.yaml](https://github.com/istio/istio/blob/master/install/kubernetes/templates/addons/prometheus.yaml.tmpl#L244)  here should include the ```istio-system```, correct?

eg around line 245
[code]

Should i reopen this or ref this in #3150

[2018-02-13 23:20] nmittler commented on #3059
I've been trying to replicate the environment on GKE and have had some success.  Getting 404's but I'm still able to see the localhost issue.

Here's the **nginx** log entry:

[code]

In the **istio-proxy** log, I see 2 entries:

[code]

Since nginx is seeing localhost, it seems that the inbound request might be first handled by the isto-proxy ... so the request would look like:

[code]
@costinm a

[2018-02-13 23:44] #3138 closed

[2018-02-13 23:44] costinm commented on #3059
Injecting istio sidecar into nginx is likely to be the cause - and it may cause other problems as well. By default istio adds an iptables initializer, which intercepts the incoming traffic in envoy, forwards to nginx, which forwards back to sidecar for outbound mtls and telemetry/etc.

I think you need a custom iptables config (we will need to add some flags to initializer), to not intercept incom

[2018-02-13 23:58] wattli opened #3465 "istioctl register does not generate log"
$ istioctl register -n vm mysqldb <ip-address-of-vm> 3306

in this page: https://istio.io/docs/guides/integrating-vms.html

Does not generate log any more, which is inconsistent with the tutorial

[2018-02-13 23:59] wattli commented on #3465
@ldemailly please feel free to reassign.

[2018-02-14 00:09] rosenhouse opened #3467 "Pilot can discover labels for standalone proxies"
we should add a new function to the service-registry interface:

[code]

ref: [mailing list conversation](https://groups.google.com/d/msg/istio-networking/htxJDpZO-G8/t3qU5bRbBwAJ)

cc: @rshriram

[2018-02-14 00:09] PiotrSikora opened #3469 "Add ingress-sidecar node type."
Provide deployment model, where sidecar can be injected into existing ingress giving it access to the service mesh (with mTLS, etc.), but without intercepting traffic from/to the Internet.

See #3059.

cc @costinm @nmittler @ZackButcher

[2018-02-14 00:14] nmittler commented on #3059
@Stono can you confirm that you're seeing 2 istio-proxy logs, like I am in https://github.com/istio/istio/issues/3059#issuecomment-365439442? If not, perhaps my environment isn't quite the same. If it is, then the fix for #3469 is probably the solution.

[2018-02-14 00:15] ozevren commented on #1894
Folks, can I ask for a favor? When doing this work, can you implement it so that it is a stand-alone library that doesn't have direct dependencies to Pilot, Mixer? So that we can, move it easily in the future (i.e. maybe, to Galley?)

Thanks

[2018-02-14 00:20] ldemailly opened #3471 "circleci not using master & devs not pulling before submitting pr == failures because of old master"
https://circleci.com/gh/istio/istio/31744

[code]

[2018-02-14 00:22] xiaolanz commented on #3307
- [ ] Design mapping

- [ ] Pilot change to allow different api group version

- [ ] Mixer change to allow different api group version

- [ ]  Broker change to allow different api group version

[2018-02-14 00:39] #3401 closed

[2018-02-14 00:51] costinm commented on #3359
Kuat has other priorites, assigned to Martin.

The bug can be reproduced on a test cluster with envoy proxies running - standalone pilot has a rate limitter and will not show any problems unless it's hit by envoy at a high rate.

As the bug suggest, the rate limit has a big impact - I removed it and the startup time (for 300 services)
went from 100 to 4 seconds. Will work to Martin to make it conf

[2018-02-14 00:51] ayj commented on #1894
The Pilot config validation webhook is already mostly decoupled from Pilot except for the CRD and configuration packages.

[code]

`crd` would be replaced by whatever common config client we end up introducing. `model` is required to convert to the type-specific objects and for validation.go. The latter part could be mostly replaced by CRD openAPIv3Schema validation.

I have no clue how dependent

[2018-02-14 01:10] ldemailly opened #3474 "Env variable KUBECONFIG not set. Skipping integration tests"
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3402/istio-pilot-e2e/2983/?log#log

I0214 01:05:49.522] --- SKIP: TestNoAuth (0.00s)
I0214 01:05:49.523] 	pilot_test.go:84: Env variable KUBECONFIG not set. Skipping integration tests

[2018-02-14 01:19] ldemailly opened #3476 "istioctl register logging gone"
https://istio.io/docs/guides/integrating-vms.html#registering-the-mysql-service-with-the-mesh
shows the expected output when registering - there is no output anymore

[code]

ps: the fix isn't to remove the output from the website

[2018-02-14 01:28] cmluciano commented on #3456
cc @cmluciano

[2018-02-14 01:54] ldemailly commented on #3465
oh thanks ! I missed it and also filled in #3476

[2018-02-14 01:54] #3465 closed

[2018-02-14 02:40] sdake opened #3479 "Remove all *.tpl files in helm charts"
The *.tpl files add too much complexity to Istio.  While they are good for configurability, Istio is not designed with the model that services can be renamed in a running system.  Many core parts of how pilot and mixer communicate as well as other components rely on specific names for nearly all objects.

[2018-02-14 02:45] ldemailly commented on #3479
let's hardcode all the names ? probably not, right ? should we identify where it breaks ? otherwise
it seems like abdicating good practice ?

any example ? and any major reason why that should stay true

[2018-02-14 02:46] ldemailly commented on #3443
you're right that normal output should go to stdout not stderr - thanks for noticing this

[2018-02-14 02:50] ldemailly opened #3480 "TestRouteDiscoveryRouterWeightedWithGateway - v1"
https://circleci.com/gh/istio/istio/31492

[2018-02-14 02:54] sdake commented on #3479
@costinm had requested I proceed with this work in https://github.com/istio/istio/pull/3473.  Agree Helm best practice is to permit significant configuration on naming of objects.  Personally I think the *.tpl is too complicated, although I also think hardcoding is probably not the right answer.

I could be wrong about the details of pilot->mixer->prometheus->mixer depending on specific naming.  T

[2018-02-14 03:02] rosenhouse commented on #3480
Looks similar to https://github.com/istio/istio/pull/3412

[2018-02-14 03:08] #3445 closed

[2018-02-14 04:17] sdake commented on #1781
I haven't seen this in the gate for a long time.  As this bug has been open for 3 months, I'm going to close.  If someone in the community comes across it again, please reopen.

[2018-02-14 04:17] #1781 closed

[2018-02-14 04:22] ldemailly commented on #3480
ic, the pr is also 8h old so maybe a dup of #3471

[2018-02-14 04:22] #3480 closed

[2018-02-14 04:25] sdake commented on #3471
This happens not only when devs don't rebase their PR prior to submission, but when reviews take awhile or base their PR on top of a broken circleci commit.

[2018-02-14 04:56] ldemailly opened #3483 "change to build: fortio "make install" just be go install ."
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3348/istio-presubmit/4927/

W0214 02:44:16.863] + cd ../istio
W0214 02:44:16.863] + cd vendor/istio.io/fortio
W0214 02:44:16.863] + make install
W0214 02:44:16.863] make: *** No rule to make target 'install'.  Stop.
W0214 02:44:16.864] + cd ../../..
W0214 02:44:16.864] + TESTSPATH=tests/integration/example/tests
W0214 02:44:16.86

[2018-02-14 05:05] ldemailly opened #3485 "TestExternalDetailsService failure"
I0214 02:11:54.269] --- FAIL: TestExternalDetailsService (68.65s)
I0214 02:11:54.270] 	demo_test.go:143: could not find 0486424618 in response
I0214 02:11:54.270] FAIL

https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3475/e2e-smoke/2952/

[2018-02-14 05:24] ldemailly commented on #3149
that just got fixed now sorry
so it'll be in 0.6.0
(and if someone could contribute a test so it stays working... that'd be awesome)

[2018-02-14 05:38] ldemailly commented on #3443
pro tip add "Fixes xxx" in your PR to autoclose issues

[2018-02-14 05:38] #3443 closed

[2018-02-14 05:39] ldemailly commented on #3400
please paste the output of
[code]

most likely the istioctl in your path isn't the one from the release

also please try 0.5.1

[2018-02-14 05:48] ldemailly commented on #3037
[code]
still happening @andraxylia can you assign someone ?
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3302/istio-pilot-e2e/2891/

[2018-02-14 06:54] rlguarino opened #3487 "Pilot connectivity issues in 0.5.1"
We've upgraded o 0.5.1 and we're seeing issues where the Envoy sidecars can't communicate properly with Pilot. As a result the Envoys don't get LDS,RDS,CDS configuration this effects both the sidecar proxies and Ingress proxies. Eventually this results in the unavailability of the entire cluster.

When a proxy is in a broken state is doesn't log any interesting information other than EOF fetching

[2018-02-14 07:31] terinjokes commented on #3487
The cluster is running Kubernetes 1.9.2. Istio's MTLS is enabled. The Istio configuration is from the 0.5.1 release tarball. Pods are in the Running state, no restarts.

As noted in the OP, nothing in the logs gives us any suggestion as what's going wrong.

[2018-02-14 09:34] michaeljquinn commented on #3487
Also having connectivity issues with pilot 0.5.1, 0.5.0 works fine
using docker-compose

Virt Box VM. Unbunto 16.04LTS running
 Engine:
  Version:      17.12.0-ce
  API version:  1.35 (minimum version 1.12)
  Go version:   go1.9.2
docker-compose version 1.17.0, build ac53b73
docker-py version: 2.5.1
CPython version: 2.7.13
OpenSSL version: OpenSSL 1.0.1t  3 May 2016

seems there is a difference in

[2018-02-14 10:01] Stono commented on #3059
Hey @nmittler,
That definitely feels like the solution to the problem, and what we were trying to achieve by doing `-i 10.194.0.0/15,10.192.0.0/20` on the `proxy_init` container and also `auth.istio.io/80: NONE` and `auth.istio.io/443: NONE` on the nginx service.

I only see **one** log in `istio-proxy`, unless I remove the `auth.istio.io/80: NONE`, and then I do see the inbound request in `istio-

[2018-02-14 12:59] sdake commented on #2198
@nmittler no - sorry for the confusion on this topic.  Read below for more detail.

@rshriram I'm going to reassign this work back to you, as I don't feel confident I have the wisdom nor knowledge necessary to meet the goals of this piece of work.  I also have zero intent of rewriting pilot.  I haven't spent the last 1+ years writing it as you and others have and understanding it in detail.  I als

[2018-02-14 13:01] sdake commented on #2777
@rshriram please see https://github.com/istio/istio/issues/2198#issuecomment-365599716 for details on reassignment.

[2018-02-14 13:02] sdake commented on #2775
@rshriram please see https://github.com/istio/istio/issues/2198#issuecomment-365599716 for details on reassignment.

[2018-02-14 14:45] sdake commented on #3479
cc  @linsun @luisyonaldo @munnerz

[2018-02-14 14:48] sdake commented on #3479
@ldemailly I'll get started on the changes today - if the debate in this thread renders that PR unnecessary we can close it.  I think visualizing the structure may be helpful for all involved as it seems like a tradeoff between maintainability/simplicity/community scaling vs configurability and Helm community best practicies.

[2018-02-14 14:58] GregHanson commented on #3487
@michaeljquinn there was an issue for the consul docker-compose files see: https://github.com/istio/istio/issues/2788

[2018-02-14 15:36] vadimeisenbergibm commented on #3485
@ldemailly @andraxylia @rshriram @mandarjog we should decide how to treat failures to external sites, like `google.com`, `googleapias.com`, `httpbin.org`, `wikipedia.org`. The connections to these sites fail from time to time. Should we retry the test several times before failing?

[2018-02-14 16:55] terinjokes commented on #3487
We are seeing a bunch of attribute messages in the istio-ingress logs.

[code]

Is this a signal of something that's wrong?

[2018-02-14 17:11] nmittler commented on #3059
@Stono ok great.  I'm going to take @costinm's suggestion and try to cook up a fix locally.  Will post my findings.

[2018-02-14 17:54] #3474 closed

[2018-02-14 18:00] Stono commented on #3059
OK great, if there's anything I can do to aide testing let me know

[2018-02-14 18:11] rlguarino commented on #3487
Noticed this in the ingress logs:

[code]

[2018-02-14 18:15] tjose commented on #3400
@ldemailly : Here is the output from `0.5.0`
[code]
and here is the output from `0.5.1`
[code]

This shows the issue is fixed in `0.5.1`

[2018-02-14 18:19] tjose commented on #3399
I just tried with `0.5.1` and the issue remain exists.
[code]

[2018-02-14 18:20] terinjokes commented on #3487
After rotating epochs, I'm noticing (after ~10 minutes) sidecar proxies get LDS and CDS configuration, but never get RDS, so the pod is unable to communicate with anything.

[2018-02-14 18:28] ldemailly opened #3495 "add picture describing the perf setup"
basically what I drew on the board

cc @danehans

[2018-02-14 18:39] jeffmendoza opened #3496 "install/updateVersion.sh should generate files in $OUT"
This will avoid keeping `make clean` and `.gitignore` updated. See #3492

cc @costinm

[2018-02-14 19:22] cmluciano commented on #3399
From @ayj

"`istio-proxy` container runs as UID=1337
And I suspect apt-get requires uid=0"

Several options:
1. Doc fix mentioning testing should just use the debug image until you confirm your setup works
2. Ship necessary libs in the container referenced by the docs or drop a go binary/shell script to mimic curl
3. Update docs with a debugging container that can attach to confirm setup (assume c

[2018-02-14 19:24] rlguarino commented on #3487
The certificates rotated on the hour, the ingress certificates rotated about 10 minutes before, and the ingress went down for about 7 minutes before coming back online. During that time connections toto the ingress were getting connection reset. Meanwhile pod -> pod communications continued to work.

On the hour the CAs rotated the certificates for the rest of the cluster and around a minute later

[2018-02-14 19:44] rlguarino commented on #3487
Shortly after my last message a lot (but not all) of the sidecars finally found listeners but they didn't have any routes configured, so Ingress -> Pod would work but any time a Pod tried to talk to another pod it wouldn't work.

About 5-10 minutes ago the routes appeared slowly across the pods but we're still not at seeing every proxy working, just the majority of them. It's now 40 minutes after

[2018-02-14 20:21] odino commented on #2706
Hi everyone -- silly question: we would want to take a cookie and rewrite it as `Authorization` header, is this currently possible?

[2018-02-14 21:11] #2903 closed

[2018-02-14 21:29] liminw opened #3498 "Supporting OPA policy in CRD format"
Istio has integrated Open Policy Agent (http://www.openpolicyagent.org/) as a Mixer adapter. Currently the way to provide OPA policy is in the adapter parameter (see [example](https://github.com/istio/istio/tree/master/mixer/adapter/opa#example-configuration), note that "policy" under "spec" in "opaHandler" is the OPA policy). This is not ideal. The better way is to allow users to provide OPA poli

[2018-02-14 21:34] liminw commented on #3498
cc @tsandall @timothyhinrichs @mangchiandjjoe

[2018-02-14 21:40] ldemailly opened #3499 "e2e pilot test logs 399Mbytes upon failure"
https://github.com/istio/istio/blame/66aec2e5f7a06eb9f160b5914628bd8ced752640/tests/e2e/tests/pilot/pilot_test.go#L94

$ ls -lh 3459.log.txt
-rw-r--r--  1 ldemailly  _guest   399M Feb 14 13:30 3459.log.txt

relevant section of the huge log:
[code]
including multi megabytes of reflection pointers, freebuf etc etc
[code]
which compress well

[2018-02-14 21:59] sakshigoel12 commented on #3395
@douglas-reid can you help answer this question

[2018-02-14 22:01] #3220 closed

[2018-02-14 22:01] sdake commented on #3479
Hey folks.  I've had a short personal delay for most of the day and will begin this work shortly.

Cheers
-steve

[2018-02-14 23:30] rlguarino commented on #3487
We're also seeing incredible CPU usage from the pilot instances 10 minutes before the hour (corresponding to the Ingress CA rotation & Epoch reload). The CPU load lasts for about 3-5 minutes and ends right before the non-ingress sidecar envoys restart.

[2018-02-14 23:38] ldemailly commented on #3496
careful that changing that means also changing the release making scripts @mattdelco

[2018-02-14 23:43] nmittler commented on #3499
@ldemailly can we close this?

[2018-02-14 23:50] ldemailly commented on #3499
@nmittler yes! thanks! next time put "Fixes #3499" in your fixing PR (#3502)

[2018-02-14 23:50] #3499 closed

[2018-02-15 00:28] andraxylia opened #3505 "Switch to SharedInformer instead of Informer across Istio"
Multiple kube-client instantiations and multiple Informers in Istio create multiple caches of k8s resources, wasting memory and possibly having scalability impact.

Switch to SharedInformer which keeps one copy of each object per process.

Context:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/istio-dev/xyWUWUWH4Yg/KpmSa6SXAQAJ

[2018-02-15 00:29] andraxylia commented on #3505
cc @costinm @douglas-reid

[2018-02-15 00:29] kyessenov commented on #3505
huh
https://github.com/istio/istio/blob/master/pilot/pkg/config/kube/crd/controller.go#L69
 ?

On Wed, Feb 14, 2018 at 4:28 PM Andra Cismaru <notifications@github.com>
wrote:

[2018-02-15 00:30] andraxylia commented on #3505
do a grep, there are a few other places in the service registry.

[2018-02-15 00:32] kyessenov commented on #3505
I did a grep (I wrote that code). Can you point me exactly what's the issue?

On Wed, Feb 14, 2018 at 4:30 PM Andra Cismaru <notifications@github.com>
wrote:

[2018-02-15 00:55] nmittler commented on #3059
Quick update....

I've published a [test build of istio-proxy](https://pantheon.corp.google.com/gcr/images/nathanmittler-istio-test/GLOBAL/proxy?project=nathanmittler-istio-test&organizationId=433637338589&gcrImageListsize=50) that enables root so that we can play with iptables on the pod.

I've then manually injected the sidecar into my nginx deployment with:

[code]
Then I tweaked the generated

[2018-02-15 00:57] kyessenov commented on #3059
Why don't we just not intercept incoming requests? That would disallow
routing to ingress from within the mesh which is an acceptable trade-off.
It should be a one line change to stop intercepting incoming connections.

On Wed, Feb 14, 2018 at 4:55 PM Nathan Mittler <notifications@github.com>
wrote:

[2018-02-15 01:05] douglas-reid commented on #3505
For the mixer/ section, there was a recent PR to reduce kube-client creation. The only place I see an Informer vs SharedInformer is

[code]

cc: @jmuk

[2018-02-15 01:09] kyessenov commented on #3505
Great find. This should probably be in scope for @ozevren and @xiaolanz since the config backend will need to migrate.  Not sure why @gnirodi is assigned.

[2018-02-15 01:11] mandarjog commented on #3505
Mixer proper uses https://github.com/istio/istio/blob/master/mixer/pkg/config/crd/store.go#L68 shared informer already.

Changing Admission controller is not going to affect the Pilot  or the original problem.

[2018-02-15 01:15] kyessenov commented on #3505
Please change the areas to config, too, as this has little to do with networking.

[2018-02-15 01:22] mattdelco commented on #3496
Actually the release build already runs updateVersion.sh in $OUT (it uses the "istio-archive" target in the top-level Makefile, which in part runs updateVersion.sh with -d "${ISTIO_OUT}/archive").  I had previously considered changing the other targets to use ${ISTIO_OUT} but it'd be tough to track down all uses that might break (e.g., tests and devs), and I wasn't sure if there was much point in

[2018-02-15 02:15] ldemailly opened #3509 "e2e simple not run by prow pre submit anymore"
e2e simple is a fast and reliable "new gen"(from oct) test that has high signal,
unlike bookinfo
it was run until a couple days/weeks ago - I strongly argue it should be run
it can be run in parallel and will finish faster than bookinfo

[2018-02-15 03:00] ldemailly commented on #3509
can we run both (in parallel) ?

[2018-02-15 03:00] ldemailly commented on #3509
ps: mixer test isn't flacky - there are bugs in the code

[2018-02-15 04:18] hklai commented on #3509
There were flaky and I filed a couple issues that were fixed. =)

Are we going to make these prow tests required now?

I can look into running both.

On Feb 14, 2018 7:00 PM, "Laurent Demailly" <notifications@github.com>
wrote:

ps: mixer test isn't flacky - there are bugs in the code

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub
<https://gith

[2018-02-15 04:19] costinm commented on #3509
Simple is run in circle - and is quite reliable and fast, I think we can
add that to required.

On Wed, Feb 14, 2018 at 7:00 PM, Laurent Demailly <notifications@github.com>
wrote:

[2018-02-15 04:22] costinm commented on #3509
I think the agreement was to add tests to required if it completes in ~20
min and has a history
of stability.

I am +1 on adding the e2e test in circleci to required, but let's not
reopen the discussion on
 prow. If the tests are failing in prow - please file bugs and follow up,
there is no need to block
non-google engineers on that.

On Wed, Feb 14, 2018 at 8:18 PM, Andy Lai <notifications@github

[2018-02-15 04:26] hklai commented on #3509
Well I heard different things in the sync meeting on Monday, and people
wanted to include prow tests.

I do agree we need to collect more data about prow test stability however.

On Wed, Feb 14, 2018, 8:22 PM Costin Manolache <notifications@github.com>
wrote:

[2018-02-15 04:26] sdake commented on #3496
cc @sdake

[2018-02-15 05:32] ldemailly commented on #3064
see also https://github.com/istio/issues/issues/196 for user question on whether/how it works

[2018-02-15 05:36] ldemailly commented on #3509
in the meantime bugs sneak in
but for now, given it's not blocking anyway - can it please show the e2esimple and mixer test results (I think I fixed the mixer within 24h, probably before the test was removed... in the future maybe let's aim to fix rather than remove tests)

[2018-02-15 06:44] ldemailly commented on #3479
I think we need 1 good working system that demonstrates it can produce the same `istio-auth.yaml` as we have today to replace what we have. We can't remove the option to change namespaces etc as that's pretty basic and key to some multi namespace shared tests.
If that 1 system can _also_ be base for helm installation, even better.

[2018-02-15 06:52] ldemailly commented on #3399
part of the release notes to 0.5 was we purposely switched from debug to prod/perf/secured oriented by default

making sure an optional verification task works with prod image isn't really worth having all prod users get bigger, less secure images.

1 or 3 or 4 are fine with me

[2018-02-15 06:59] ldemailly commented on #3400
🎉 ! thanks !

I'm think the problem is with the config map (your cluster has/had a config map with a schema that istioctl didn't like)

[2018-02-15 06:59] #3400 closed

[2018-02-15 07:23] ldemailly commented on #3483
fixed by #3348

[2018-02-15 07:38] ldemailly commented on #3399
the doc fix (1) is https://github.com/istio/istio.github.io/pull/960

[2018-02-15 08:25] Stono commented on #3059
I agree with @kyessenov on this one, we're not bothered about mesh traffic routing to it, it's for external ingress traffic entering the mesh

[2018-02-15 08:41] ldemailly commented on #3059
yes so as Kuat, and Costin before, said,
just remove the interception of incoming traffic by using a modified iptable script.

also nate you don’t need a custom build of the proxy to sudo, that’s what the proxy_debug is for.

Thanks,

Laurent

[2018-02-15 08:42] Stono commented on #3059
@ldemailly : IPTables is not a strong suit of mine, could you tell me which rules I need to remove from:

[code]

[2018-02-15 08:49] ldemailly commented on #3059
that line:
https://github.com/istio/istio/blob/1f22391d8e6aba7926276c10e4b64a9a0db4c721/pilot/docker/prepare_proxy.sh#L55

ie prerouting inbound

ps: it’s 1am and I am on my phone so no guarantees

[2018-02-15 08:58] Stono commented on #3059
@ldemailly you legend.
`iptables -t nat -D PREROUTING -j ISTIO_REDIRECT -m comment --comment "istio/install-istio-prerouting"`

And voilla I have a client ip!
[code]

Is this something istio should support as a flag? like `--ingress-passthrough` or similar?  For now I can work around it with a preboot script which removes that rule

[2018-02-15 09:02] michaeljquinn commented on #3487
still getting pilot exiting, fails for both 0.5.0 and 0.5.1
2018-02-14T08:43:12.493173Z     info    registering CRD "routerules.config.istio.io"
Error: failed to create discovery service: failed to register custom resources. Post http://istio-apiserver:8080/apis/apiextensions.k8s.io/v1beta1/customresourcedefinitions: dial tcp 172.28.0.13:8080: getsockopt: connection refused
Usage:

[2018-02-15 09:04] Stono commented on #3059
PS.  Double thanks for responding so late at night, go get some sleep!

[2018-02-15 09:04] ldemailly commented on #3059
thanks ! glad it works ! (I assume your mtls still works to mesh services, right?)

we have another iptables script, used for mesh expansion on VMs where you have the option to explicitly opt in the ports to be intercepted- we have a todo to merge the 2 scripts, probably a good idea to raise the priority of said merge

[2018-02-15 09:06] Stono commented on #3059
@ldemailly yes, it certainly does :-)

[2018-02-15 09:12] michaeljquinn commented on #3487
moved pilot out of the istio.yml into separate docker-compose file
started all istio components (except pilot)
waited 10 sec
then started pilot docker container separately (docker-compose install/console/pilot.yml) up -d
and it started fine
getting "cleared discovery service cache"every 2 sec though

[2018-02-15 09:17] ldemailly opened #3514 "merge/unify the 2 iptables scripts and support selectable inbound/outbound interception"
see for instance #3059

[2018-02-15 09:19] ldemailly commented on #3059
follow up in #3514

[2018-02-15 09:19] #3059 closed

[2018-02-15 09:27] ldemailly commented on #3487
this seems quite severe - cc @costinm , @andraxylia

[2018-02-15 09:36] Stono opened #3515 "istio-sidecar-injector should reload configuration when configmap changes"
Hey,
It'd be nice if the sidecar injector monitored the `istio-inject` configmap for changes and live reloaded.

At the moment, if I modify that configmap I have to manually delete the pod.

Ta
Karl

[2018-02-15 15:59] nmittler commented on #3514
@ldemailly @PiotrSikora #3469 was created to address the same problem of supporting sidecars on ingresses.  We should close one.

[2018-02-15 16:10] ldemailly commented on #3514
@nmittler Doing it long term through pilot and configuration of the agent or envoy is good to have (and would give inbound telemetry and mixer rules possibly)

The iptables solution is more a quick fix/workaround - so the two issues aren't exclusive and can/should proceed in parallel
(cc @costinm with whom we discussed this too)

[2018-02-15 16:37] nmittler commented on #3059
@ldemailly wow, do you sleep?  I'm starting to think you're an elf ... I go to bed, wake up, and my work is done for me! :)

@ldemailly @costinm @kyessenov thanks for the help!

[2018-02-15 16:39] nmittler commented on #3514
@ldemailly sgtm, thanks.  Would you mind if I took this issue ... it would be a good way to learn more about the internals

[2018-02-15 17:13] sdake commented on #3479
@ldemailly My original intent was  to get the charts into a state where they produce (via `helm template istio --name istio`) an equivalent to istio-auth.yaml (although with alternate object ordering) based upon the various requirements picked up during prior reviews of the Helm chart.  This issue is part of that work.

Unfortunately Helm doesn't have a whole lot of ordering guarantees, so the ord

[2018-02-15 17:43] ldemailly commented on #3514
run with it!

[2018-02-15 17:43] nmittler commented on #3514
@ldemailly thanks!  ... and get some sleep! :)

[2018-02-15 17:51] nmittler commented on #3514
@ldemailly @costinm for the case where we have a sidecar on ingress, the suggestion from #3059 was to remove the line:

https://github.com/istio/istio/blob/1f22391d8e6aba7926276c10e4b64a9a0db4c721/pilot/docker/prepare_proxy.sh#L55

What would happen if an in-mesh service were to try hitting the ingress?

[2018-02-15 17:51] ldemailly commented on #3514
I put you up for the related https://github.com/istio/proxy/issues/1129

[2018-02-15 17:52] ldemailly commented on #3514
it would not work with mtls (it's mentioned in the thread as one of the downside) - on the flip side, why would an in mesh service use the INgress ?

[2018-02-15 17:54] nmittler commented on #3514
Which thread are you referring to? Do you have a link?

[2018-02-15 17:55] nmittler commented on #3514
Oh I see, I think you're referring to https://github.com/istio/istio/issues/3059#issuecomment-365794988

[2018-02-15 18:02] ldemailly opened #3518 "prow error "1.9.2-gke.0" is invalid."
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3517/istio-pilot-e2e/3061/

[code]

cc @hklai

[2018-02-15 18:19] ldemailly opened #3519 "Customer pain points meta issue"
# Initial Implementation Pain Points

## Mesh definition
- only supports "whitelisting" approach (i.e., `includeIPRanges`); in our case, likely would prefer a "blacklisting" approach (e.g., `excludeIPRanges`)
- becomes problematic if _any_ component that is not owned / managed by the istio user requires external connections over TLS; if an istio user can not configure / update the source of these

[2018-02-15 18:39] ldemailly commented on #3518
@sebastienvas is looking - thanks seb !

[2018-02-15 18:54] #3518 closed

[2018-02-15 19:22] nmittler commented on #3099
@Stono @douglas-reid any update here?

[2018-02-15 19:31] selmanj commented on #3047
Files were updated for 0.5.1 in #3462.

[2018-02-15 19:31] #3047 closed

[2018-02-15 19:34] ldemailly commented on #3518
thx krishna !

[2018-02-15 19:43] wattli commented on #3399
Sorry i missed this thread, thanks for the update @ldemailly.

[2018-02-15 20:14] mandarjog opened #3531 "0.5.1 mixer memory leak under certain conditions"
@alexkoturanov commented on [Thu Feb 15 2018](https://github.com/istio/issues/issues/210)

**Is this a BUG or FEATURE REQUEST?:**
BUG

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Did you install istio.yaml, istio-auth.yaml....
No - used istio.yaml

**What happened**:
increasing mem

[2018-02-15 20:16] mandarjog commented on #3531
@alexkoturanov I moved it to istio repo, thanks.

[2018-02-15 20:49] mandarjog commented on #3531
@douglas-reid @ldemailly @jnativio

[2018-02-15 20:50] danehans commented on #3495
@ldemailly Let me know if this diagram looks good to you. If so, I'll update `tools/README.md` with a link to the diagram.

![fortio_perf_script_diagram](https://user-images.githubusercontent.com/1878195/36280330-c37e420e-124e-11e8-9ca0-3ad42443f0a0.png)

[2018-02-15 21:58] nmittler commented on #3469
The workaround in https://github.com/istio/istio/issues/3059#issuecomment-365861182 was to simply disable the iptables redirect for inbound traffic, so that the sidecar is only active on the mesh side. [The downside](https://github.com/istio/istio/issues/3059#issuecomment-365794988) is that services within the mesh won't be able to call back to their ingress.  This is probably fine for the vast ma

[2018-02-15 21:59] Stono opened #3533 "Startup time of istio-proxy causes some pods to crash"
Hey,
I'm not sure if there's a huge amount you can do about this one, but I thought I'd highlight it anyway.

If you read through https://github.com/kubernetes/ingress-nginx/issues/1968 - you will see that the `nginx-ingress-controller` attempts to query the kubernetes api for the version almost immediately when it boots.

This works fine when we're not using istio-proxy, however when I do wrap th

[2018-02-15 22:13] #3483 closed

[2018-02-15 22:15] PiotrSikora commented on #3469
@nmittler can you disable it from Istio config or only manually from the pod (which presumably doesn't persist across restarts)?

[2018-02-15 22:22] nmittler commented on #3469
@PiotrSikora IIUC, the isto-proxy container does not run as privileged, so it can't change iptables. The iptables are currently configured by the `proxy-init` init container. AFAICT there wouldn't be an easy way today of changing this on the fly (but others please chime in if that's incorrect).

[2018-02-15 22:28] Stono commented on #3099
From my end, I still find it extremely bizare how some services are detected as HTTP and others as TCP, despite them (seemingly) being configured in exactly the same way, using the same helm chart template!

But at the same time I think @douglas-reid is probably getting sick of me now... and i'm not too sure what else we can do to debug this.

<img width="813" alt="screen shot 2018-02-15 at 22 25

[2018-02-15 22:47] Stono commented on #3514
This is correct and it's absolutely fine, as @ldemailly said this is an INgress, for non-mesh traffic to enter.

In our use case its:
Client -> https -> INgress -> [nginx -> istio-proxy] -> [istio-proxy -> backend-service1 -> istio-proxy] -> [istio-proxy -> backend-service2]

[2018-02-15 22:53] nmittler commented on #3514
@Stono yup, that's the plan ... we're going to try to cook something up for 0.7.0. Stay tuned.

[2018-02-15 23:00] nmittler commented on #3533
@PiotrSikora can you look into this one?

[2018-02-15 23:09] nmittler commented on #3395
@mandarjog any thoughts?

[2018-02-15 23:13] #3428 closed

[2018-02-15 23:13] Stono commented on #3533
PS.  I'd imagine you could quite easily reproduce this by having a pod which has a startup script which just periodically curls `kubernetes.default.svc.cluster.local` until it works.

Remember; my setup is:
  - GKE 1.9.2
  - Istio 0.5.1 (auto injector)
  - RBAC
  - mTLS

[2018-02-15 23:14] Stono commented on #3514
Brill, if I can help with testing in any way just let me know.

[2018-02-15 23:35] sakshigoel12 commented on #3515
@ayj can you take a look?

[2018-02-15 23:51] ldemailly commented on #3531
subscribe

[2018-02-16 00:06] jeffmendoza commented on #3099
I just opened a PR to fix the first bullet. I'm also upgrading Grafana to 5.0 (in another PR).

As far as TCP/HTTP, I'm not sure, but I'll look into it. Of course everything works fine with Bookinfo, if only the real world was that easy. :-)

[2018-02-16 01:01] ldemailly commented on #3139
closing this one, seems fixed

[2018-02-16 01:01] #3139 closed

[2018-02-16 01:02] chinangela opened #3545 "istioctl requires namespace to delete but not add"
### Problem

Following steps in [this doc](https://istio.io/docs/tasks/traffic-management/traffic-shifting.html#weight-based-version-routing) we tried to run

[code]

but got the error
[code]

When we try to delete using
[code]
it works.

### Possible resolutions:
1. update docs to include `-n default`
2. update the docs to use the file for delete, e.g. `-f ...`
3. change the `delete` command to d

[2018-02-16 01:49] #3509 closed

[2018-02-16 01:52] hklai commented on #3509
OK presubmit now runs both simple and bookInfo tests.

[2018-02-16 03:52] terinjokes opened #3548 "istioctl 0.5.1 kube-inject not deployable"
Using `istioctl kube-inject` on an otherwise completely deployable specification results in a deployment that fails to create.

[code]

[code]

[code]

[2018-02-16 08:04] ldemailly commented on #3495
great !!! thanks !

[2018-02-16 10:31] munnerz commented on #3469
Yep I can attest, in order to apply the hack you'll need to change the sidecar (or some other container with iptables installed) to include the NET_ADMIN capability.

FWIW, I've not been able to get nginx-ingress to correctly return a response. As @nmittler commented here (https://github.com/istio/istio/issues/3059#issuecomment-365439442) only a 404 is returned from nginx (with istio-proxy logging

[2018-02-16 13:44] zillani commented on #1419
Hey @kyessenov I am unable to find this file, https://github.com/istio/manager/blob/master/proxy/envoy/egress.go

[2018-02-16 14:33] SeriyBg commented on #3545
I can work on this issue.
Could someone of the maintainers tell me what is the preferred resolution to fix this one?
I would set the default namespace for delete command if it is not set.

[2018-02-16 14:33] rshriram commented on #3533
Is this only for ingress ? Does adding pod healthchecks work?

[2018-02-16 14:39] rshriram commented on #3515
@loewenstein  is looking at this. These changes are a bit more involved. Cc @douglas-reid

[2018-02-16 14:50] Stono commented on #3515
To be clear, this isn't a huge problem.  I can work around it by doing https://github.com/kubernetes/helm/blob/master/docs/charts_tips_and_tricks.md#automatically-roll-deployments-when-configmaps-or-secrets-change

I'm trying to make the continuous integration and deployment of istio as automated as possible :-)

[2018-02-16 14:58] Stono commented on #3099
@jeffmendoza if only I was opening a book store! :-)

[2018-02-16 15:09] Stono commented on #3533
@rshriram I'm not sure how health checks would help here I'm afraid, this is explained in the linked issue but to explained what happens:

  - nginx-ingress-controller boots up
  - istio-proxy boots up (in parallel)
  - nginx-ingress-controller immediately tries to talk to kubernetes.default and fails (as iptables from the init-container route the traffic to istio-proxy, which fails to deal with t

[2018-02-16 15:17] ayj commented on #3515
Do you see this problem with master / 0.5.1?

On Fri, Feb 16, 2018 at 9:50 AM Karl Stoney <notifications@github.com>
wrote:

[2018-02-16 15:19] Stono commented on #3515
Hey, yes I'm on 0.5.1, should it be live reloading the configmap?

[2018-02-16 15:42] stephenbm commented on #3099
Hello,

I believe I'm seeing the same error that @Stono desribed.
I'm running kubernetes 1.9.1 with istio 0.5.1 mTLS enabled

Availability of services through ingress seems to come and go but I'm seeing the same errors everywhere. It's not necessarily all the services down at the same time, and they do seem recover by themselves after a while (the time it takes differs).

The mixer logs show servi

[2018-02-16 16:11] ayj commented on #3515
This should be fixed in master. See
https://github.com/istio/istio/pull/2944

On Fri, Feb 16, 2018 at 10:19 AM Karl Stoney <notifications@github.com>
wrote:

[2018-02-16 17:06] jeffmendoza opened #3556 "Mixer Dashboard metrics out of date"
Currently the Mixer dashboard is using:

[code]

Prometheus is showing
![metrics](https://user-images.githubusercontent.com/771387/36319622-5dcdafa8-12f8-11e8-8642-3a393d248a54.png)

@douglas-reid Is it correct to simply add `_check` between mixer and server for all the above metrics? Thanks.

[2018-02-16 17:10] douglas-reid commented on #3556
@jeffmendoza no, we need to do a bit more. this is related to a very recent change in configuration that enables separation of check and report. we want to monitor both.

@rshriram i thought that we were going to use `mixer_server` as the default cluster name until there was a reason to separate. did that change?

[2018-02-16 18:42] theganyo commented on #3074
You're right... it's not the build itself... I'll update the title to say "tests" fail. (FWIW, the default target of make runs the tests.)

[2018-02-16 18:50] mattdelco commented on #3074
The following change in the Makefile might help to skip the tests that are only expected to pass on Linux:

<pre>- test: pilot-test mixer-test security-test broker-test galley-test common-test
+ # pilot tests have dependencies on proxy, which is only available for Linux
+ ifeq ($(GOOS),linux)
+   test: pilot-test
+ endif
+ test: mixer-test security-test broker-test galley-test common-test
</pre>

[2018-02-16 20:31] theganyo commented on #3194
`mixer/testdata/config/attributes.yaml` also has no definition for `request.auth.claims`.

[2018-02-16 21:37] jjm3 commented on #3265
I had a similar problem with both 0.5.0 and 0.5.1 on minikube v0.25.0 this week.

In my case, it turned out that kube-dns was unhappy before I ever got to istio.

I applied the RBAC workaround described in https://github.com/kubernetes/minikube/issues/1734 and https://github.com/jetstack/navigator/issues/107 and then was able to install istio 0.5.1 and run the bookinfo demo without a problem.

[2018-02-16 23:13] jmuk opened #3563 "megacheck linter actually stops on mixer/tools/adapterlinter/testdata/bad, silently ignored"
I've been debugging some inconsistent behaviors of linters, and noticed that `make lint` passes silently unless `github.com/golang/glog` is installed into `$GOPATH` (i.e. `go get github.com/golang/glog`).

gometalinter.v2 debugging says that:
[code]

even though glog is within our vendor directory.

It seems that the directory name `testdata` is special in Go language (as `go help packages` said),

[2018-02-16 23:30] ldemailly opened #3565 "perf setup feedback"
Thanks @PiotrSikora  for feedback:

Few notes on the perf setup:
1. All functions assume that setup_perf_cluster.sh was sourced from Istio's main directory and not from within tools - doing so breaks ton of things (IMHO, incorrectly).
2. Since the file is sourced and not executed, all variables are (or at least seem to be) evaluated at sourcing time, so changing directory (to fix #1) doesn't help,

[2018-02-16 23:49] ldemailly commented on #3565
Summarizing our chat offline:

First thanks a lot for giving this early/rough script a try ! please keep trying

1. yes for interactive runs you need to exactly `source tools/setup_perf_cluster.sh` but let's fix it / make it check if the dir isn't where it needs to be
2. `update_gcp_opts` is needed to change any env but I don't think indeed it deals with path/dir issues - can be improved
3. the sc

[2018-02-16 23:59] ldemailly opened #3568 "perf setup script : add a 3rd fortio service"
to test if the 503s issues we have vm->ingress->s1->s2
can be reproduced with just
s1->s2->s3

and compare w/ istio and without istio without the ingress differences getting in the way

cc @PiotrSikora
cc @danehans

[2018-02-17 00:02] hklai commented on #3359
Is this really release blocking? Is anyone actively working on this?

[2018-02-17 00:03] hklai commented on #3231
Is this really release blocking? Is anyone actively working on this?

[2018-02-17 00:04] hklai commented on #2728
@kyessenov  Is this really release blocking? Is anyone actively working on this?

[2018-02-17 00:39] costinm commented on #3359
I have been working on it - all 3 related PRs are in and they appear to
help.

I'm not sure how much soak / stability testing has been done for 0.6,  and
if it is bug-free,
but if other bugs are found to justify a rebuild or cherry-picks - we
should include this.

On Fri, Feb 16, 2018 at 4:02 PM, Andy Lai <notifications@github.com> wrote:

[2018-02-17 00:42] hklai commented on #3359
@costinm  When were the 3 PRs merged? I don't seem to see them linked from this.

And are these more PRs on the horizon?

[2018-02-17 00:46] costinm commented on #3359
https://github.com/istio/istio/pull/3477
https://github.com/istio/istio/pull/3506
https://github.com/istio/istio/pull/3508

More PRs in 0.7.

[2018-02-17 00:50] overip opened #3570 "Automatic injection (webhook) not working"
Is this a BUG or FEATURE REQUEST?:
BUG
Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?:
yes
Bug:
Y

What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details

istioctl version : 0.5.0
kubectl version : 1.9.3

istioctl version : 0.5.1
kubectl version : 1.9.3

Is Istio Auth enabled or not ?
Did yo

[2018-02-17 01:14] #3563 closed

[2018-02-17 01:33] geeknoid opened #3571 "Introduce check result caching in Mixer"
Mixer is supposed to act as a mesh-wide level 2 cache for state that doesn't fit in the sidecars. We should be able to cache check results in a way similar to what the  sidecars do, but with the potential for much larger caches.

We should cache check results like the proxy. Given a set of attributes, we cache whether check returns true or false.

Adapters return a TTL for their check responses, w

[2018-02-17 01:42] geeknoid opened #3572 "Evaluate whether an expression cache would be valuable in Mixer"
Mixer evaluates a fair number of expressions for every incoming requests. The result of expression evaluation is fully determined based on the incoming set of attributes. We could therefore construct a cache of {attribute set->expression result} in order to avoid evaluating these expressions at all in common cases.

Is there enough evaluation of identical expressions for this to be worth it? Is th

[2018-02-17 02:17] ldemailly commented on #2422
subscribe

[2018-02-17 04:29] rshriram commented on #3533
See if you can add a health check to pilot pod for /v1/registration or some pseudo health check Api that makes pilot retrieve all data from kube. Then when an istio proxy talks to pilot, it would get the config data immediately as opposed to waiting on pilot to retrieve all endpoints from kube.

[2018-02-17 04:48] terinjokes commented on #3548
For anyone who might find this before a fixed is merged: it seems adding `sidecar.istio.io/inject: "false"` to the pod template spec results in a deployable deployment. It seems the mutating webhook isn't handling this correctly.

[2018-02-17 07:45] ldemailly commented on #3495
i just noticed (a bit late) there are 2 ingress in the picture (for the test3 path) which I think is confusing. yet this is much better than before, thanks

[2018-02-17 12:22] Stono commented on #3533
@rshriram that seems to resolve it, adding:

[code]

As a `livenessProbe` to the `istio-proxy` container seems to fix is.

Can i just validate my understanding of what is going on here, does curling `/v1/registration` force pilot to reload its configuration from kube?

It that's the case, wouldn't it make sense to have envoy call this as soon as it boots, because it's a "new" things that pilot nee

[2018-02-17 12:40] nmnellis commented on #3404
What is not working as expected? I would advise you update to Istio 0.5.1 as it has some critical bug fixes and test again.

[2018-02-17 12:42] nmnellis commented on #3409
Your cloud foundry link is dead. can you please relink it?

[2018-02-17 12:52] nmnellis opened #3580 "Pilot - error translating object &crd.RouteRule - v1aplha2"
When applying the below routeRule i am seeing the following error in pilot
[code]

ERROR:
[code]

[2018-02-17 12:56] nmnellis opened #3581 "Pilot - error translating object &crd.ExternalService - v1alpha2"
When applying the below ExternalService i am seeing the following error in pilot
[code]

ERROR:
[code]

[2018-02-17 14:51] nmnellis commented on #3580
actual error
[code]

[2018-02-17 14:52] nmnellis commented on #3581
actual error
[code]

[2018-02-17 15:49] tsandall commented on #3498
Thanks @liminw. I'd be happy to spec out the CRD for this. Something like...

[code]

I'd expect the spec (and generated code) for this to live outside Istio proper and then Istio/Mixer would depend on that package. What do you think?

[2018-02-17 16:23] costinm commented on #3533
Interesting - if this helps we should definitely add it to the default
config.

But I would add it as a handler to the pilot agent, which also needs to
fetch
AZ.

Note that we made few changes to pilot to make it load faster - the
time for 1000 services went from >100 sec to ~3 in one test, but we should
still add readiness/liveness probes.

On Sat, Feb 17, 2018 at 4:22 AM, Karl Stoney <notificati

[2018-02-17 16:27] Stono commented on #3533
The AZ fetch currently doesn't work on mTLS clusters btw, so I guess that'd need to be resolved first too.

[2018-02-17 16:44] ldemailly opened #3585 "fortio panic runtime error: slice bounds out of range in rare case"
Seen on
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/1041/e2e-suite-rbac-auth/810/

[code]

-> https://github.com/istio/fortio/issues/127

[2018-02-17 17:30] xiaolanz opened #3586 "Allow individual api group and version for each config resource kind in Pilot config store"
Currently all CRDs in Pilot share the same IstioAPIGroup: config.istio.io and IstioAPIVersion: v1alphav2

In this PR, we allow each resource kind to be able to define their own config group with a common suffix istio.io and version.

This allows

- each feature to advance API versions at different pace.
- the CRD group name to be reverse order mapping to proto package, as suggested in istio/api#34

[2018-02-17 17:32] ldemailly commented on #2985
https://circleci.com/gh/istio/istio/33425
      --- FAIL: TestPilot/Auth/routing-rules (105.40s)
        	pilot_test.go:186: 8 errors occurred:

        		* v1alpha2 routing 75 percent to c-v1, 25 percent to c-v2 attempt 0 expected 25 requests (+/-5) to reach v2 => Got 0
        		* v1alpha2 routing 75 percent to c-v1, 25 percent to c-v2 attempt 1 expected 75 requests (+/-5) to reach v1 => Got 67

[2018-02-17 17:37] xiaolanz commented on #3586
Given this is a config model change and deep refactor, the work is split into steps to avoid overly large PRs

- [ ] Add Group/Version per each schema.
- [ ] Change crd/Client to becomes a wrap of clientsets, each for one apiversion.
- [ ] Update config store to identify schema by group version type instead of type.

Not until the last step is done, Pilot still continue to work with one config.ist

[2018-02-17 17:57] ldemailly commented on #3471
another example is https://circleci.com/gh/istio/istio/33844
we have master broken with linters because the pr that has linter issues and the pr that changed linters happened near without a rebase

[2018-02-17 19:17] ldemailly commented on #3585
need vendor update for this to get fixed for istio

[2018-02-17 20:38] rosenhouse commented on #3409
@nmnellis Thanks, those tests got moved around recently.   I've updated the link to include a commit-sha.

[2018-02-18 02:44] ldemailly opened #3593 "api update workflow: vendor/ should not prune istio.io/api to save a step"
if we don't prune istio.io/api _and_ we make the bot auto update vendor/ too and not just the lock (if and only if the tests pass) then we could save a step in api changes

cc @hklai @costinm

[2018-02-18 02:49] #3585 closed

[2018-02-18 15:40] geeknoid opened #3595 "Switch IL evaluator cache to pkg/cache"
We should switch the IL evaluator's cache from the Hashicorp cache to istio/pkg/cache, which is higher perf and would be one less external dependency in our critical path.

[2018-02-18 15:43] geeknoid opened #3596 "Increase IL evaluator cache efficiency by normalizing expressions"
From istio/mixer/pkg/il/evaluator/evaluator.go, in the getOrCreateCacheEntry function:

// TODO: add normalization for exprStr string, so that 'a | b' is same as 'a|b', and  'a == b' is same as 'b == a'

[2018-02-18 18:45] InTheCloudDan opened #3597 "Helm Charts"
Documentation at: https://github.com/istio/istio/tree/master/install/kubernetes/helm is not clear that you need to run updateVersions.sh before trying to install the helm chart. Without that you run into:

[code]

Documentation is also wrong for enabling RBAC: https://github.com/istio/istio/tree/master/install/kubernetes/helm#rbac It is now enabled by default. So if you want to run without it need

[2018-02-18 19:18] ldemailly commented on #2875
https://github.com/istio/vendor-istio now exists but is everything used captured ?

[2018-02-18 19:25] ldemailly opened #3598 "Evaluating an attribute not in the request's context should return a zero value, not an error"
@ZackButcher commented on [Mon Feb 27 2017](https://github.com/istio/old_mixer_repo/issues/285)

Today if you try to call the mixer without specifying all of the attributes required to satisfy all expression evaluated at runtime the call will fail. This is because we return errors when we evaluate expressions that contain attributes that are not in the request's attribute bag. Rather than failing

[2018-02-18 20:25] ldemailly commented on #3295
After fixing https://github.com/istio/fortio/pull/132 the error rate drops considerably but is still present:

Code 200 : 2998 (99.9 %)
Code 503 : 2 (0.1 %)

Apologies about that bug - and maybe once I track down the logs for those 2 errors some other bug will show up

[2018-02-18 21:32] xiaolanz commented on #3222
I kept hitting the same error in my PR
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3214/istio-pilot-e2e/3188/

Is it disabled?

[2018-02-18 21:50] wora commented on #3598
I worked on proto3, gRPC and Google APIs, and contributed to many design decisions there. Based on our experience working with many APIs, I highly recommend Mixer to use `proto3` default semantics, e.g. every attribute has default value of `0`, `'"`, `[]`, or `{}`.

The reason is that mixer client and mixer will always be out of sync in practice, and there is no way to tell the difference. Using p

[2018-02-18 23:24] mandarjog commented on #3598
We can stick to proto3 defaults.
However the default values may not be valid or reasonable, as mixer has more data types than proto3 elementary types.
Like we said before there is no reasonable default for data type email_address.

The current mixer protocol has ability to detect presence even though it is proto3. That is why we have the | operator which selects the first “present” attribute.

It

[2018-02-19 01:02] ldemailly commented on #3231
Another similar example that can't be diagnosed:
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3513/e2e-suite-rbac-auth/850/

[code]
but that's vm test so I will file a separate issue for charles

[2018-02-19 01:04] ldemailly opened #3600 "vm test failure to download artifacts"
2 issues
a) it doesn't say what it tried to download so it's hard to trouble shoot (same as #3231)
b) it doesn't work/download

https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3513/e2e-suite-rbac-auth/850/

[code]

[2018-02-19 01:12] ldemailly commented on #3598
having to sprinkle `| "unknown"`all over  is quite a sign that something is wrong, don't you agree?

because some type don't have a good default (btw empty is a fine default for an email) doesn't mean every single rule/line needs to have one specified or risk an error

[2018-02-19 01:13] costinm opened #3601 "Pilot queue optimization / review"
queue.Run code seems very dangerous/strange:
- seem to spin in a for loop - protected only by the rate limiter for events.
- if item.handler() fails - it'll go in a loop, and worse will sleep - preventing processing of other events.

[2018-02-19 01:31] ldemailly commented on #358
https://github.com/istio/istio/blob/master/bin/istio-proxy-cfg.py
is part of it.
We should start by including it in the release docs and documenting how to use it

also related #2751

[2018-02-19 12:14] wora commented on #3598
I totally agree with Laurent.

After working with thousands of proto APIs, I am pretty confident that we
don't need default or presence in general. Developers are just fine without
them.

If you let operators choose their defaults, each one will choose something
different. No one can ensure another person's config. Why empty string is
not good enough for email address? Does anyone want to learn ho

[2018-02-19 13:45] loewenstein commented on #3515
@Stono is this issue only about the sidecar injector webhook picking up `istio-sidecar` changes for any new sidecar injection? (In contrast to config changes that would be applied to already running sidecar proxies) If yes I suppose @ayj is right and this should be fixed by #2944

What @rshriram is referring to is the idea that at least certain configuration changes should be picked up by all Isti

[2018-02-19 14:02] bobbytables commented on #3487
I believe we're experiencing the same issue. Kubernetes 1.9.2, Istio 0.5.1 (w/o mTLS).

[2018-02-19 14:49] bobbytables commented on #3487
We have 3 pods that are routed to via an ingress rule (which worked on 0.5.0). Right now we see "upstream connect error or disconnect/reset before headers" 33% of each request. Looking at the logs for the 3 pods there's one that receives no traffic at all.

Checked the logs for the `istio-proxy` on the sidecar not receiving traffic. No errors (or really anything for that matter, just the envoy jso

[2018-02-19 15:02] bobbytables commented on #3487
Update: Once I bounce the Pilot pod for Istio my ingress starts working. My guess is that on the initial boot it does a discovery of everything immediately but if something dies in the middle it doesn't catch that the cluster's state has changed.

[2018-02-19 16:39] bobbytables commented on #3487
Here's some more of my dive:

When I kill the pods, the Pilot discovery service does start printing logs of new endpoints being registered, however.. what I find strange is this log line immediately after it:

[code]

This would indicate to me that the moment these are added cache is flushed. Which seems fine since the cache should be re-populated. But clearing after every change seems like a lot.

[2018-02-19 16:44] ldemailly opened #3606 "Add log for the behavior that https ingress not listening on 443 until cert are available"
It took awhile for my secret/cert to be present (generated by cert-manager), during that time my ingress wasn't listening on 443 but there was no warning or errors in the ingress logs or pilot logs that I could find indicating that this is the issue

this is a troubleshooting problem - a warning / error saying "tls ingress configured but no matching cert" would have saved me a lot of time trying t

[2018-02-19 17:26] ldemailly commented on #2196
for grpc and https https://github.com/istio/admin-sites/pull/54

[2018-02-19 17:29] ldemailly commented on #452
this can be done through the #526 one

[2018-02-19 19:08] ldemailly commented on #1424
ETA for this shipping / which release?

[2018-02-19 19:10] danehans commented on #3495
I depicted 2 ingresses in the fortio ns b/c I based the diagram on the https://github.com/istio/istio/pull/3527 proposed changes

[2018-02-19 19:16] ldemailly opened #3607 "demonstrate grpc through secure ingress"
To reply to
https://groups.google.com/forum/#!msg/istio-users/nWKjCrCex8c/aKK5uYW9BgAJ

Pieces needed to merge:
https://github.com/istio/fortio/pull/138
https://github.com/istio/admin-sites/pull/54 (< not technically as I applied those already but good to document)

(and https://github.com/istio/fortio/issues/135 so I can make a fortio release)

[2018-02-19 20:11] ldemailly commented on #3495
the top part of the picture, which is what I was referring to, which is about istio injected services has 2 ingresses - there is only 1 ingress for istio and it physically lives in the istio-ingress pod in the istio-system namespace

[2018-02-19 20:12] ldemailly commented on #3495
I guess maybe you mean ingress spec? but the arrow doesn't go to a spec, the traffic goes directly from ingress to fortio1/fortio2

[2018-02-19 21:44] ldemailly opened #3609 "5 day gap in daily builds"
couple of issues:
a) where do I look to find out why dailies aren't happening / failing
b) on-call should get an email if we miss more than 1 daily
( was going to add c) what do I need to fix / how do I get a fresh daily but one just showed up )

[2018-02-20 00:22] sdake commented on #3601
I've found the part of the cache recompute to be extremely expensive in BuidIngressRoutes() in terms of object conversion from YAML/JSON as it relates to garbage collection with a large number of endpoints (1000) and ingress routes (50).  The cache clears on https://github.com/istio/istio/blob/master/pilot/pkg/proxy/envoy/v1/discovery.go#L505 come in at a high rate (~200 events from Envoy for 1k e

[2018-02-20 01:12] hklai commented on #3609
1. See go/istio-release-pipelines (google only for now, and we are working on making this accessible to the community).

2. alerts are sent to isito-engprod@ for now, but we can cc oncall as well.

[2018-02-20 02:48] costinm commented on #3601
Is this with the new env variable to squash ? If you tune it to larger
values - it become bearable.

As we move to v2 and grpc, we can do a much better caching, 99% of the
listeners/clusters are the same
for all endpoints ( the 'out' ), each workload has just 1 'unique'
cluster/listener per port it exposes. In addition,
we can keep the endpoint-specific listener/cluster in a static config,
maybe g

[2018-02-20 03:16] ldemailly commented on #3601
subscribe

[2018-02-20 08:29] disha1104 commented on #3404
As I mentioned, after adding the retry rules, my expectation was to get all 200 responses, but I was still getting some errors (503 error).
I had a discussion about the same on group as well, https://groups.google.com/d/msg/istio-users/hhWml2_gEPY/m13cNsvtAAAJ ,  not sure if this is fixed in 0.5.1.
Should I update to new version or wait for the next release?

[2018-02-20 08:34] disha94 commented on #3404
Hi @nmnellis ,
As I mentioned, after adding the retry rules, my expectation was to get all 200 responses, but I was still getting some errors (503 error).
I had a discussion about the same on group as well, https://groups.google.com/d/msg/istio-users/hhWml2_gEPY/m13cNsvtAAAJ , not sure if this is fixed in 0.5.1.
Should I update to Istio 0.5.1 or wait for the next release?

[2018-02-20 11:39] sdake commented on #3601
Re reporting in this issue, @ldemailly requested I do that here.  Re squash env variable, I was using an older master and haven't tried that.  I considered a solution similar to that when looking at the general problem.  I'll try out squash with larger values - agree seems little point in optimizing v1 beyond getting it functional.

Re v2 and grpc, perhaps this has been discussed and you sort of i

[2018-02-20 12:20] nmnellis commented on #3404
i would update to 0.5.1, it appears to be a lot more stable and we have seen others with similar issues have success with it

[2018-02-20 14:08] mickfeech commented on #1912
I issue with automatic injection is that it requires kubernetes 1.9.x and latest version of OpenShift is only running Kubernetes 1.7.x

[2018-02-20 15:44] costinm commented on #3601
On Tue, Feb 20, 2018 at 3:39 AM, Steven Dake <notifications@github.com>
wrote:

We must move to v2 ( with or without grpc ) because v1 is deprecated and
lacks some P0 features ( SNI in particular ).
It is also push-based - so we can deliver changes immediately, even without
short refresh interval.

I think it is built incrementally in v1 - but 99% of the content is shared
across all sidecars, the

[2018-02-20 16:55] ldemailly commented on #3404
I see (only now sorry) that you are using fortio - versions of fortio before 0.6.9 had a bug with chaining and would generate 503s/panic in some cases.

This being said I agree your expectation of retries would be mine as well, the rate of 503s should drop dramatically if you have retries. I think we should add a test for that.

in the meantime please upgrade to fortio 0.6.9 and istio 0.5.1

you c

[2018-02-20 17:02] nmittler commented on #3099
@jeffmendoza any update on this?

[2018-02-20 17:05] nmittler commented on #3395
@douglas-reid @mandarjog gentle ping

[2018-02-20 17:05] jeffmendoza commented on #3099
@nmittler not at the moment, looking into the TLS vs HTTP detection today.

[2018-02-20 17:31] Stono commented on #3515
Hola, so just to be clear this was the use case:

  - Deploy injector config
  - Deploy injector
  - Deploy App 1
  - Change injector config
  - *expect injector to reload the template*
  - Deploy App 2 - *expect injected with updated template*

[2018-02-20 18:04] mattdelco commented on #3609
The slightly more public option (assuming it's a test failure rather than a build failure) is to look at prow.istio.io and filter on istio-release-robot as the author.  If there's a monthly release going on then you might have to look at the the corresponding PR to see which build date/version was attempted.

[2018-02-20 18:52] ozevren commented on #3572
Just for attributes, I am worried that the cost of the cache itself will be within the same ballpark of evaluating the attributes themselves.

Perhaps a better caching strategy is for {attr -> instance} given instances are a pure function of expression results (and the current config). Do we have a bug for that?

[2018-02-20 19:37] danehans commented on #3495
@ldemailly I think the confusion lies in `istio-ingress` in the `istio-system` namespace. `istio-ingress` is the Istio Ingress Controller, whereas `ingress: istio-ingress` is the ingress resource created by the `setup_perf_cluster.sh` script in the `istio` ns.

You are correct, the arrow from the istio ingress controller should point to the service and not the spec. I am going to leave the `ingres

[2018-02-20 19:41] ldemailly commented on #3495
thx ! maybe put "cfg" or "config" for the ingress spec part so it's more obvious the box isn't a process

[2018-02-20 19:50] danehans commented on #3495
Maybe it's best I remove the ingress resource defs from the diagram to simplify things.

[2018-02-20 19:52] danehans commented on #3495
He is the updated diagram w/o ingress spec. If this looks good, i'll open a pr to update the .svg
![fortio_perf_script_diagram_no_ingress](https://user-images.githubusercontent.com/1878195/36445912-8162946c-1634-11e8-8a44-d0967ab1bf4c.png)

[2018-02-20 20:01] ldemailly commented on #3495
sgtm may I also ask to move sidecar proxy on top, and make the arrow land to it

[2018-02-20 20:42] rosenhouse commented on #2812
I'd like to revive this discussion a bit by challenging the assumption that an Istio Service should be 1:1 with a Cloud Foundry App.

In K8s, there's a many-to-many relationship between K8s Service and Pod.  That is analogous to CF where we have a many-to-many relationship between CF Route and CF App.

Working from there, an Istio Service is 1:1 with K8s Service, so maybe Istio Service should also

[2018-02-20 20:55] ldemailly opened #3619 "investigate/follow vgo vs dep"
look into

https://sdboyer.io/blog/vgo-and-dep/
https://research.swtch.com/vgo-intro

thanks @jwendell for the find

[2018-02-20 21:48] ijsnellf opened #3621 "Create convenience tool to convert v1alpha1 configs to v1alpha3"
Create a tool to convert v1alpha1 configs to v1alpha2 configs to make v1alpha1 deprecation less painful.

Considerations:
1. For convenience only. Should be able to handle the majority of configs, but not all edge cases. The tool should warn the user in these cases ideally.
1. Not all sets of v1alpha1 config can be converted perfectly. Warn when this happens.
1. Output should just be a _starting p

[2018-02-20 21:49] ijsnellf commented on #3621
cc @rshriram

[2018-02-20 21:52] geeknoid commented on #3595
Turns out this cache is being deprecated as part of the runtime2 work.

[2018-02-20 21:52] #3595 closed

[2018-02-20 21:56] geeknoid opened #3623 "Evaluate whether an instance cache would be useful in Mixer"
We should evaluate whether inserting an {attribute bag -> instance} cache in Mixer would be useful. How often is the same instance produced in a normal system? It's conceivable that certain data types will have frequent repeats, while others will have almost no repeat, so maybe we would need to use a cache only for the right data types.

[2018-02-20 22:00] geeknoid commented on #3572
I agree that the overhead of forming a cache key and doing the cache lookup may in fact make caching here not worth it. There are variations to consider. For example, perhaps we consider the relative complexity of expressions at config time and then decide up front on a case-by-case basis which expressions would have a cache in front of them and which wouldn't.

I just opened #3623 to track having

[2018-02-20 22:02] costinm commented on #3231
I'm not sure this is a P0 - or why using -f will be required (and deleting the tgz file after).
Added an 'echo' and timing in https://github.com/istio/istio/pull/3599 for envoy download.

[2018-02-20 22:03] geeknoid commented on #3596
Within the context of the runtime2 effort, we should statically be observing like expressions and coallessing them such that the IL is in memory once. This will:

- Improve CPU cache efficiency
- Improve Mixer cache efficiency, the same cache can be used for all like expressions.
- Save a bit of memory

[2018-02-20 22:18] jeffmendoza opened #3624 "Source service not being set for metrics/logs."
I'm seeing this in the 0.6.0-pre 2/19 and 2/20 [daily builds](http://gcsweb.istio.io/gcs/istio-prerelease/daily-build/).

This is what Prometheus shows:
![metrics-unknown](https://user-images.githubusercontent.com/771387/36452239-99fd3180-1648-11e8-82a1-0fb2e9a8a7c6.png)

Here is a [Mixer log](https://gist.github.com/jeffmendoza/f4cb8844dd7ff53bcbd1b4c527ea0fe0) with `log_output_level=debug`

[2018-02-20 22:19] jeffmendoza commented on #3624
cc @mandarjog @nmnellis @douglas-reid

[2018-02-20 22:22] ldemailly commented on #3621
that'd be awesome ! and tbh required for just before whenever we stop supporting alpha1

[2018-02-20 22:27] nrjpoddar opened #3626 "Unable to switch to in-cluster kubeconfig when empty value is passed"
I was trying to create an Istio kubernetes crd client using the `NewClient`
[API](https://github.com/istio/istio/blob/master/pilot/pkg/config/kube/crd/client.go#L120) from the Istio package and found that passing an empty `kubeconfig` value always returns an error instead of switching to in-cluster config.

[code]

Based on the comment above the [API](https://github.com/istio/istio/blob/master/pil

[2018-02-20 22:58] ozevren commented on #2163
@douglas-reid, are you actively working on this? I can take this over.

[2018-02-20 23:18] jeffmendoza commented on #3099
Hi @Stono, A couple things to check out:

Create a port-forward to Prometheus, then try these queries:
* sum(istio_request_count) by (destination_service)
* sum(istio_tcp_bytes_received) by (destination_service)

This should get all your HTTP/TCP services respectively. I'm guessing this will mirror what you see in Grafana, and will still be incorrect,

Next edit the Mixer deployment, and add an ar

[2018-02-20 23:33] mandarjog commented on #3624
Thanks for the bug report, I am investigating.

[2018-02-21 00:57] mandarjog commented on #3624
hi @jeffmendoza can you do the following
`kubectl --namespace istio-system delete rules kubeattrgenrulerule`

and see if that changes anything?  I suspect that the kubenv config is the issue.

[2018-02-21 01:28] jeffmendoza commented on #3624
The rule was deleted, and same behavior

Tail of the log now:
https://gist.github.com/jeffmendoza/989cc8532764436f91eea769e4354991

[2018-02-21 05:38] disha94 commented on #3404
Thanks a lot @ldemailly .
Let me upgrade both Istio and fortio versions and check.I'll update you on the same then.
Also I didn't understand generating the 503's explicitly that you mentioned, can you please elaborate a bit on the same??

[2018-02-21 06:26] mandarjog commented on #3624
Hey Jeff, it looks like this log only contains traffic sent by `request.useragent             : Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 5.1; Trident/4.0; GoogleSecurityScanner; go/SecopsSecurityScan 1.337)
`
As far as I can see, no traffic reached the backend. If you can access /productpage it would be great.

[2018-02-21 07:54] ldemailly commented on #3404
if you deploy fortio and query it with /echo?status=503:1  you will get 1% of 503s consistently which then lets you test if the retries work.
https://github.com/istio/fortio#server-urls-and-features

you can find an example of deployment https://github.com/istio/istio/blob/master/tools/perf_k8svcs.yaml

[2018-02-21 08:20] ldemailly commented on #3607
https://groups.google.com/d/msg/istio-users/nWKjCrCex8c/Bi4a2P5BAQAJ

[2018-02-21 08:20] #3607 closed

[2018-02-21 09:08] ldemailly opened #3645 "e2e-suite-rbac-auth ImagePullBackOff when presubmit isn't finished"
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3643/e2e-suite-rbac-auth/869/

[code]
happened on https://github.com/istio/istio/pull/3643#issuecomment-367257399

any way to declare the dependency in prow so there are no false alarm like this ?

[2018-02-21 09:12] ldemailly opened #3646 "TestQueueCancelSync failed on circleci for a doc PR"
https://circleci.com/gh/istio/istio/34674
https://github.com/istio/istio/pull/3622

[2018-02-21 09:30] ldemailly opened #3647 "pilot (e2e) tests take longer than 20 mins and get aborted"
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3599/istio-pilot-e2e/3263/
[code]

[2018-02-21 15:37] GregHanson commented on #3646
@jmuk https://github.com/istio/istio/pull/3468 made some changes to the quest_test.go file,  any chance some of these changes could be introducing test inconsistencies?

[2018-02-21 15:41] GregHanson commented on #3646
Specific unit test in mixer that is failing in mixer/pkg/config/store/queue_test.go

[code]

[2018-02-21 16:13] costinm commented on #1194
As an update ( and possibly close this issue ):

If you set a TCP/HTTP readiness/liveness probe on the 'main' port,
that is used by other services to call:

1. If mTLS is off, liveness and readiness probes should work just fine.

2. If mTLS is on - we don't currently have any good way to support HTTP
or TCP probes on the mTLS port. There are few bad ways - setting mtls
implies connections are secu

[2018-02-21 16:45] jeffmendoza commented on #3624
Sorry about that, I restarted mixer and got a fresh log: https://gist.github.com/jeffmendoza/702e27918f83012ad03b03c3a8cb87d8

This is what I have after deleting the kubeattrgenrulerule
[code]

[2018-02-21 17:09] GregHanson commented on #612
Pretty sure this is all covered here: https://github.com/istio/istio/blob/master/ON-CALL.md

which contains a link to the prow job dashboard: http://k8s-testgrid.appspot.com/istio#Summary

[2018-02-21 17:09] #612 closed

[2018-02-21 17:18] GregHanson commented on #687
this seems like a handy command for istioctl.  Just a matter of calling `<pilot-discovery>:15003/v1/registration` which will list all services and their respective labels

[2018-02-21 17:22] GregHanson commented on #722
not seeing this message in prow e2e logs anymore - closing

[2018-02-21 17:22] #722 closed

[2018-02-21 17:29] ldemailly commented on #471
it works now

[2018-02-21 17:29] #471 closed

[2018-02-21 17:32] ldemailly commented on #722
it should still be in mixer test logs but I think it's fine

[2018-02-21 17:43] GregHanson commented on #864
this is addressed by using docker swarm, app and sidecar run in different containers but in the same pod.  Consul and Eureka samples have been updated to use this

[2018-02-21 17:43] #864 closed

[2018-02-21 17:57] guptasu opened #3651 "What do we do if operator misstypes a field name in instance config."
For backwards compatibility, we need to allow unknown fields. Given that, when loading instance config, we will not know if the field is mistyped or unknown to that build of Mixer.

[2018-02-21 18:12] jmuk commented on #3646
I changed a bit, but it shouldn't change the logic -- basically it's just context -> channel. Does this fail always or is it a flake?

[2018-02-21 18:20] kyessenov commented on #977
minikube has been used successfully. I'll let @nmittler pick whether to use this issue to track container-less testing set-up or just close it.

[2018-02-21 18:22] ldemailly commented on #3646
looks more like a flake but still would be good to not have it break randomly (not rely on time ? or have more margin or a few retries?)

[2018-02-21 18:28] jmuk commented on #3646
agreed. I wanted to make sure my new thing didn't change something unexpectedly. will look into.

[2018-02-21 18:32] nmittler commented on #977
I think minikube is good enough for this issue.  If we decide we want container-less, we can open a new issue. Closing

[2018-02-21 18:32] #977 closed

[2018-02-21 18:53] GregHanson commented on #1372
@kadamvandita istio no longer requires bazel as a build tool and can instead be built directly using go.

[code]

[2018-02-21 18:53] #1372 closed

[2018-02-21 18:54] lqj679ssn commented on #2349
I am facing the same issue as mentioned by @cmoulliard and @neeravarora  . Iam trying to deploy 0.5.1 with helm 2.8.1

[2018-02-21 19:11] ZackButcher commented on #2812
It was a conscious design decision to require RouteRules for a service to be exposed via a Gateway. The reasoning behind the difference in philosophy between in-mesh sidecar config (permissive, default RouteRule) and Gateways (strict, requires RouteRule) has a couple of dimensions:
- Gateways typically bridge trust domains, while side cars typically do not
  - e.g. when Gateways act as ingress
- I

[2018-02-21 19:19] john-a-joyce opened #3657 "Create e2e tests for the multi-cluster scenario"
https://github.com/istio/istio/pull/2880 introduced the ability for Istio to connect to multiple Kubernetes clusters to get service registry information.   That PR did not add any e2e test cases for the scenario.   This issue to track the addition of e2e tests for that scenario.

[2018-02-21 19:22] john-a-joyce opened #3658 "Documentation for multi-cluster use case"
#2880 introduced the ability for Istio to connect to multiple Kubernetes clusters to get service registry information. That PR did not add complete documentation for the scenario. This issue is to track the addition of documentation for that scenario.

[2018-02-21 19:38] GregHanson opened #3660 "TestQuotaCache failed on circleci for an unrelated change"
flaky unit test in mixer/test/client/quota_cache/quota_cache_test.go

[code]

https://circleci.com/gh/istio/istio/35235?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-02-21 19:43] GregHanson commented on #3660
cc @mandarjog

[2018-02-21 19:56] #822 closed

[2018-02-21 19:58] #3600 closed

[2018-02-21 19:59] ldemailly commented on #3600
b) / why it did fail is still a mystery but maybe the presubmit wasn't complete - like #3645

[2018-02-21 20:17] GregHanson commented on #3210
This test is still periodically failing:
https://circleci.com/gh/istio/istio/35289

[2018-02-21 20:25] #3646 closed

[2018-02-21 20:28] ayj commented on #3515
@Stono - #2944 should address your use case. Closing this issue for now, but please reopen if the problem persists with 0.6 (or master).

[2018-02-21 20:28] #3515 closed

[2018-02-21 20:42] ayj commented on #2929
fixed by https://github.com/istio/istio/pull/3521

[2018-02-21 20:42] #2929 closed

[2018-02-21 20:46] ayj commented on #1418
This is now possible with the templated sidecar configuration. Specific customizable options can be added to end-users configuration or the official templates as needed.

[2018-02-21 20:46] #1418 closed

[2018-02-21 21:00] ldemailly commented on #1447
I think we settled on from scratch for prod and debug having the ability to sudo apt-get

closing this

[2018-02-21 21:00] #1447 closed

[2018-02-21 21:13] GregHanson commented on #1673
Local integration test can run against minikube.  Steps for installing minikube and what params to run it with can be found here:
https://github.com/istio/istio/blob/master/bin/testEnvRootMinikube.sh#L37

Integration tests can be run locally using the following commands as an example

[code]

[2018-02-21 21:13] #1673 closed

[2018-02-21 21:29] GregHanson commented on #1622
bazel dependencies have been removed and `go test ./mixer/...` works now

[2018-02-21 21:29] #1622 closed

[2018-02-21 21:30] rosenhouse commented on #2812
The key thing here is whether an Istio Service is a CF App, or a CF Route.

If the Istio Service is a CF App, then your points stand.  The association of an externally-reachable hostname to an app would naturally be an Istio Route Rule.

But if the Istio Service is a CF Route, then the mere existence of such a thing is indication that the user who created that route intends for it to be exposed vi

[2018-02-21 21:30] GregHanson commented on #1678
@mandarjog is this still a problem in mixer or has validation logic been added??

[2018-02-21 21:37] GregHanson commented on #1784
resolved by upgrading istio version

[2018-02-21 21:37] #1784 closed

[2018-02-21 21:39] GregHanson commented on #1786
@bobbytables have you been able to reproduce this issue in 0.5.1 or later?

[2018-02-21 21:41] GregHanson commented on #1809
@roommush have you been able to reproduce this issue in 0.5.1 or later versions of istio?

[2018-02-21 21:43] GregHanson commented on #1888
@kahootali can you reproduce the issue in 0.5.1 or later versions of istio?

[2018-02-21 21:46] GregHanson commented on #1969
Istio no longer requires bazel to build and the WORKSPACE file is no longer present in istio

[2018-02-21 21:46] #1969 closed

[2018-02-21 21:52] guptasu commented on #1678
@jmuk I know you had a PR that was validating config during ingestion if the template referenced by instance config is valid or not ? This problem will go away if we reject the config during ingestion time.
Looking at the code, we are still doing the same thing and expect the config to be valid before.

@GregHanson is this blocking your development ? We are working on a new runtime2 design, and we

[2018-02-21 21:55] ijsnellf commented on #1925
CRD limitation that is forcing us to use an ugly name for route rules:
https://github.com/istio/istio/issues/2119

[2018-02-21 21:58] danehans commented on #3495
@ldemailly I'm not sure what you mean by:

The Istio ingress controller forwards traffic to the echosvr1 service, which DNAT's to the echosrv1 pod ip.

Here is the latest version:

![fortio_perf_script_diagram_no_ingress_v2](https://user-images.githubusercontent.com/1878195/36507520-c7243e4e-170e-11e8-8fd6-397fe7270b0d.png)

[2018-02-21 22:00] ldemailly commented on #3495
can you change the box "service: echosrv1" to "istio-proxy" and "pod: echosvr1" to "container: echosvr1" and ditto add the missing envoy in front of echosvr2 ?

[2018-02-21 22:44] nmittler commented on #2985
@ldemailly @andraxylia it turns out that many of the problems with the pilot e2e tests are due to the fact that we're running in a cluster with a single node.  See details in https://github.com/istio/istio/pull/3663#issuecomment-367494093.  The fix is #3663 and should land soon.  We can re-evaluate once that's in.  Stay tuned.

[2018-02-21 23:16] hklai opened #3669 "istioctl replace results in an error, while create followed by delete works."
A bug was reported by https://groups.google.com/forum/#!topic/istio-dev/Ek8kZBuyGg8

when i execute the following script, it got following
    istioctl replace -f samples/bookinfo/kube/route-rule-reviews-v3.yaml
    Error: revision is required
 but i can execute following scripts and it can be working ok
        istioctl delete routerule reviews-default -n default
	istioctl create -f samples/booki

[2018-02-21 23:32] ldemailly commented on #2985
I'm hopeful but it sounds 2 good to be true if all our woes can be fixed at once. let's see :-)

[2018-02-21 23:34] nmittler commented on #2985
@ldemailly Agreed.  My fix is only for prow ... Circle CI seems to have the problem as well, however.

[2018-02-21 23:57] jeffmendoza commented on #2676
Closed with #3540

[2018-02-21 23:57] #2676 closed

[2018-02-22 02:39] kidiyoor commented on #2664
https://github.com/istio/istio/issues/2367

[2018-02-22 05:35] ldemailly opened #3679 "auto link toml/lock file with vendor-istio to check consistency"
@ldemailly commented on [Wed Feb 21 2018](https://github.com/istio/vendor-istio/issues/4)

right now a dep change means toml/lock file update in istio/istio and a set of files changed here

it'd be good to have the toml and lock when reviewing PRs here

would also be good to have a build check that the lock and the files match

[2018-02-22 06:45] jmuk commented on #3619
I spent a few hours for this today, I see lots of troubles actually, like:
- vgo makes lots of github API requests, which quickly exceeds the free quota for the scale of istio repository. For now, it needs to add an auth info to work with github API with larger quota.
- vgo works incorrectly on some dependencies which stopped working. This could be bypassed by adding `replace` rules, but it's a bi

[2018-02-22 10:22] azr commented on #1932
Hi there, I somehow just had the problem.

I did:

* create a kluster on `1.9.2-gke.1`
* ran:
[code]
 * in the istio repo: `git checkout 0.5.1 && ./install/updateVersion.sh && kubectl apply -f install/kubernetes/istio.yaml`

now running `kubectl  -n istio-system logs deploy/istio-mixer mixer` gives me:

[code]

[2018-02-22 12:27] prune998 commented on #1194
@costinm, it's still not working, even without TLS (point No 1).

[2018-02-22 16:43] GregHanson opened #3686 "TestRefreshAndPurge failed in circleci for an unrelated change"
flaky unit test in mixer/adapter/list/list_test.go

[code]

https://circleci.com/gh/istio/istio/35394

[2018-02-22 16:43] GregHanson commented on #3686
cc @mandarjog

[2018-02-22 16:49] selmanj commented on #1373
Any upcoming plans on adding support for headless services? Using a StatefulSet requires use of a headless service.

Right now the experience is subpar as well - rather than getting any error/log messages anywhere, the connection is merely dropped.

[2018-02-22 16:52] mandarjog commented on #3624
Hey Jeff, can you try with the latest build?  Several PR have merged in last couple of days. I don’t see it in my testing. It also means we should have a test for this :-)

[2018-02-22 16:58] mandarjog commented on #3624
Your logs from yesterday look good, after k8senv adapter is removed. You still can’t see info in Prometheus ?

[2018-02-22 17:01] jeffmendoza commented on #3624
Hi @mandarjog, I'm not at work today/tomorrow, so unfortunately I can't. My setup was GKE 1.9, Apply istio-auth.yaml and ptomethus.yaml from the release tarball, then use ./bin/istioctl kube-inject to apply the bookshelf.yaml. Nothing else. I was using the "TESTONLY" tarball as mentioned [here](https://github.com/istio/istio/wiki/Daily-builds). If that is working for you, sounds good.

[2018-02-22 17:06] GregHanson commented on #2126
route rule has been updated in more recent releases, please use istio version 0.5.1 or later

[2018-02-22 17:06] #2126 closed

[2018-02-22 17:12] GregHanson commented on #2168
intended design is to always have an instance of envoy proxy running with a hardcoded config in front of pilot-discovery listening on port 15003 and forwarding calls to the discovery server on port 8080 to handle the possibility of mTLS between the pilot-agent instances and pilot-discovery. Related design doc: https://docs.google.com/document/d/1LE7dbCQrhuvbxJuyV5sKlYLCtv0g9jfhteFIL06XCbI/edit#hea

[2018-02-22 17:12] #2168 closed

[2018-02-22 17:20] GregHanson commented on #2187
@James-Dao are you still having problems with this issue in istio version 0.5.1 or later?

[2018-02-22 17:28] GregHanson commented on #2189
default envoy log level switched to `info` level here: https://github.com/istio/istio/pull/2257

[2018-02-22 17:28] #2189 closed

[2018-02-22 17:31] #2283 closed

[2018-02-22 17:43] nmittler commented on #2308
Given the new CI proposal by @hklai and the testing team, I think we can close this.

[2018-02-22 17:43] #2308 closed

[2018-02-22 17:46] qiwzhang opened #15758 "Support per service network failure policy"
Now, the config is global per mixerclient.  Need to support per-service.

https://github.com/istio/api/blob/master/mixer/v1/config/client/client_config.proto#L76

[2018-02-22 17:54] GregHanson commented on #2348
@guirish  Dockerfiles can be found in the following directories:

https://github.com/istio/istio/tree/master/pilot/docker
https://github.com/istio/istio/tree/master/mixer/docker
https://github.com/istio/proxy/tree/master/docker

[2018-02-22 18:03] GregHanson commented on #475
Kubernetes upgrade is a supported feature for istio versions 0.5.X and later.  It is part of the release process and work is underway for automating testing.

[2018-02-22 18:03] costinm commented on #2349
This seems to be resolved in master and https://github.com/istio/istio/pull/3594, and is mostly
compatible with istio.yaml.

[2018-02-22 18:03] #2349 closed

[2018-02-22 18:06] costinm commented on #541
It appears people in community managed to validate this, and I don't expect additional work on this area until after 1.0, it can be reopen if there is interest.

[2018-02-22 18:06] #541 closed

[2018-02-22 18:06] GregHanson commented on #2355
@montmanu any followup questions on this or good to close?

[2018-02-22 18:09] GregHanson commented on #2357
@Stono are you still seeing this problem in istio version 0.5.1 or later?

[2018-02-22 18:19] #1955 closed

[2018-02-22 18:20] costinm commented on #1452
ILB for mixer no longer needed, zvpn and ingress will take care of this.

[2018-02-22 18:22] costinm commented on #2473
Is it still a problem ? Can you update and close ?

[2018-02-22 18:24] costinm commented on #2087
The feature seems to be done - however the feature and helm part are not working and don't appear to be needed, the helm templates already have a feature system in place ( with --set), and values.yaml need to be updated.

We will need additional polish and testing - and since helm and gen-deploy are the only good way
to customize production settings I think this is a (top) P1.

[2018-02-22 18:26] costinm commented on #1384
Dup #3514

[2018-02-22 18:26] #1384 closed

[2018-02-22 18:26] jmuk opened #3695 "no coverage info for common pkg/ directory"
It seems no coverage info for the common packages under `pkg/` directory: https://codecov.io/github/istio/istio?branch=master

Code coverage is collected through other targets, `make coverage` which seems not having common packages as its target. We need to add it.

cc: @GregHanson

[2018-02-22 18:33] costinm commented on #3430
kubect delete ns istio-system ?

[2018-02-22 18:33] #3430 closed

[2018-02-22 18:35] costinm commented on #851
Based on feedback, we are going with making the helm functionally identical with the old templates and deprecating.

[2018-02-22 18:36] costinm commented on #1187
Please reopen if it still happens, I haven't seen any case.

[2018-02-22 18:36] #1187 closed

[2018-02-22 18:38] costinm commented on #890
We are moving to helm template, where each feature can be individually configured.

We'll still generate istio and istio-auth, for backward compat - but expectation is that each user will set the features however they want.

We will have some pre-baked sets of defaults - 'values-demo' with all on, 'values-auth', etc

[2018-02-22 18:39] costinm commented on #3359
Closing, this appears to be fixed now.

[2018-02-22 18:39] #3359 closed

[2018-02-22 18:40] GregHanson commented on #2433
There are probably two separate problems occurring here.  First is a missing kubeconfig file which is needed pilot to talk to the apiserver.  This issue can be resolved by switching to the most recent version of istio (0.5.1 or later) by following the steps here: https://istio.io/docs/setup/kubernetes/quick-start.html OR by creating the kubeconfig file https://github.com/istio/istio/blob/master/in

[2018-02-22 18:40] #2433 closed

[2018-02-22 18:41] GregHanson commented on #2602
@lzyowen This issue can be resolved by switching to the most recent version of istio (0.5.1 or later) by following the steps here: https://istio.io/docs/setup/kubernetes/quick-start.html OR by creating the kubeconfig file https://github.com/istio/istio/blob/master/install/consul/kubeconfig in install/consul or install/eureka depending on your setup.

[2018-02-22 18:49] GregHanson commented on #2549
@NeGnail were you able to get things working with minikube or did you switch to kubeadm?

[2018-02-22 18:56] GregHanson commented on #2605
@NeGnail the behavior of the init container is to run once - it creates an iptables rule and then exits.  Restarting the container multiple time will result in the `Chain already exists` error message.  If you were experiencing another problem and attempting to debug, I recommend moving to istio version 0.5.1 or later as this fixes two known problems in the consul example.  Steps to fix both are a

[2018-02-22 18:56] #2605 closed

[2018-02-22 19:12] #2623 closed

[2018-02-22 19:13] GregHanson commented on #2623
bin/linter.sh script has been updated to no longer use a docker image and instead specific version of lint/vet/fmt

[2018-02-22 19:14] #2624 closed

[2018-02-22 19:17] GregHanson commented on #2656
resolved by #2657

[2018-02-22 19:17] #2656 closed

[2018-02-22 19:20] GregHanson commented on #2667
@smashpunk @idevz @zhuwenjie11 are you still seeing this problem in istio version 0.5.1 or later?

[2018-02-22 19:24] ijsnellf commented on #2735
Should be fixed in 0.5.1: https://github.com/istio/istio/issues/2792

[2018-02-22 19:25] #2735 closed

[2018-02-22 19:26] jmuk commented on #2663
I believe this is already fixed.

[2018-02-22 19:26] #2663 closed

[2018-02-22 19:27] GregHanson commented on #2663
resolved by improvements to `make lint` command

[2018-02-22 19:33] GregHanson commented on #2788
@lzyowen did those fixes work?  You should also be able to install istio version 0.5.1 or later to resolve that issue

[2018-02-22 19:37] #3418 closed

[2018-02-22 19:49] hklai commented on #2728
Removing the blocking release label. This should not block 0.6.0 as this is a known problem and it does not fit the critical problem definition (https://github.com/istio/istio/tree/master/release#critical-bug-definition)

[2018-02-22 19:59] ldemailly commented on #3679
addressed in #3678 and #3697

we could further automate the flow but that can be seperate

[2018-02-22 20:03] ldemailly commented on #3231
it's still happens but at least now it's more debuggable , cc @nmittler
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3690/istio-presubmit/5389/

[2018-02-22 20:04] #3231 closed

[2018-02-22 20:05] ultrasaurus commented on #1235
should this issue be closed and more specific issues be opened?  It looks like the adapter is already merged and available here: https://github.com/istio/istio/tree/master/mixer/adapter/opa

[2018-02-22 20:10] liminw commented on #1235
Yes, this issue can be closed. I filed a related issue ([#3498](https://github.com/istio/istio/issues/3498)) recently to track further improvement for the OPA adapter.

[2018-02-22 20:10] #1235 closed

[2018-02-22 20:14] #3679 closed

[2018-02-22 20:43] jmuk commented on #2818
seems fixed by #3250

[2018-02-22 20:43] #2818 closed

[2018-02-22 20:46] jmuk opened #3701 "some linters are not used"
Our current lintconfig somehow does not run the following linters which gometalinter supports:
- dupl
- gas
- gotype / gotypex
- nakedret
- safesql
- unparam

(note that staticcheck / gosimple / unused are not specified, but they are covered by megacheck, at least gometalinter says so).

Not sure why, but if there's no specific reason, more linters would be better, I think.

[2018-02-22 20:59] GregHanson commented on #2837
resolved by #2965

[2018-02-22 20:59] #2837 closed

[2018-02-22 21:05] GregHanson commented on #3338
resolved by #3339

[2018-02-22 21:05] #3338 closed

[2018-02-22 21:16] GregHanson commented on #3580
@nmnellis it is a bug in the examples provided here:
https://github.com/istio/vendor-istio/blob/450f8bedd41fad02673c95a702987e1d700beb09/istio.io/api/routing/v1alpha2/route_rule.pb.go

please change `kind: RouteRule` to `kind: V1alpha2RouteRule` to use the v1alpha2 route rule version

[2018-02-22 21:19] GregHanson commented on #3581
@nmnellis the `discovery` value is case sensitive.  please use `NONE` `STATIC` or `DNS` as they appear here:
https://github.com/istio/vendor-istio/blob/450f8bedd41fad02673c95a702987e1d700beb09/istio.io/api/routing/v1alpha2/external_service.pb.go#L45

[2018-02-22 21:44] nmnellis commented on #3581
We should update the documentation here https://github.com/istio/api/blob/a31ac6dbd68579a553367ebb20b1c2b4551404bf/routing/v1alpha2/external_service.proto#L46

[2018-02-22 22:57] PiotrSikora commented on #3487
@qiwzhang @jimmycyj any ideas? Looking at changes between 0.5.0 and 0.5.1, it seems to me that https://github.com/istio/mixerclient/commit/0a6974f97bb4dccaaeb77c27d70f7dc13238e6ad might be to breaking things, but it's unclear why TCP filter would be active on connections to Pilot?

[2018-02-22 23:05] jmuk commented on #3619
additional note:
- finally found that the error happens on analyzing `bitbucket.org/ww/goautoneg`, it seems `vgo` does not deal with bitbucket repos correctly
- this happens automatically since `vgo` analyzes gopkg.lock files, and this dependency appears in `k8s.io/cluster-registry`

[2018-02-22 23:19] chxchx commented on #2473
https://github.com/istio/istio/pull/2444 should have fixed it. Closing it now.

[2018-02-22 23:19] #2473 closed

[2018-02-22 23:27] montmanu commented on #2355
sorry, meant to follow up a while back.. we simply switched to consuming the external host name directly (no k8s Service abstraction) within the application in conjunction with an EgressRule.. that seemed to have resolved the networking issue.

[2018-02-22 23:27] #2355 closed

[2018-02-22 23:37] kidiyoor commented on #3338
I think the https://github.com/istio/istio/pull/3339 just solves the problem of enabling mTLS for all services. I guess 'per service mTLS'(enable/disable mTLS for individual service) still need to be addressed.

[2018-02-22 23:49] xiaolanz opened #3706 "Verify Istio HA setup"
istio should be able to support HA setup with multiple zones, with replica of system components and workloads.

However, the setup hasn't been tested. We need to

- [x] Do a manual test on 0.7 and make sure it works.

- [ ] Write an automation test.

[2018-02-22 23:53] ldemailly commented on #3706
Eventually we want a multi zone, multi cluster version of
https://github.com/istio/istio/tree/master/tools#istio-load-testing-user-guide

[2018-02-23 00:45] vaikas-google commented on #1024
Are there workarounds for this? Seems pretty limiting to not be able to use static IP with Istio ingress.

[2018-02-23 00:47] JimmyCYJ commented on #3487
I think it is possible that this istio/mixerclient@[0a6974f](0a6974f97bb4dccaaeb77c27d70f7dc13238e6ad) caused the issue. Because the TCP filter report delta feature is implemented in two PRs, this one and istio/proxy@[dbd2cd](dbd2cde303d6f247a5ddd701aae53cf38498a797). The second one is not in 0.5.1

[2018-02-23 00:58] ldemailly commented on #890
A good start would be to have istio-noauth.yaml and istio-auth.yaml
generated from whichever is the source of truth for an upcoming release

[2018-02-23 01:15] qiwzhang commented on #3487
The log "Response referenced mismatchs with request"  is benign.  Its is a mis-match between mixer-client and mixer referenced attributes used for client cache.  Its impact is its Check result will not be cached.

MixerClient changes should not cause this problem.

[2018-02-23 01:39] costinm commented on #2763
I believe this is done ?

[2018-02-23 01:39] #2763 closed

[2018-02-23 01:41] costinm commented on #2939
I would suggest using 'helm template' and replacing the istio.yaml - it is also fine to run one of the integration tests with helm template and one with real helm. But I believe the deployment should
be mostly identical if using helm template or helm (at least of our configs)

[2018-02-23 01:45] costinm commented on #2582
I have a PR changing the helm templates to use a single tag, and I will propose we
stop generating helm values.yaml ( there is too much stuff in there, the simple config won't work ).

I think the main remaining issue for this issue is to make sure istioctl gen-deploy with hub/tag
parameters is putting the values in the right place.

Normally with helm template  we woud use a '--set' - it would be

[2018-02-23 01:51] ldemailly commented on #475
I think it may be a tiny bit early to close this, it needs more variants, testing, and doc

[2018-02-23 01:54] ldemailly commented on #851
that hasn't shipped, did it ? so a bit early to close, no ?

[2018-02-23 01:58] ldemailly commented on #1452
it's still a useful future feature specially for AZ

[2018-02-23 02:10] ldemailly commented on #1024
@vaikas-google the work around is to go in the cloud management UI and switch the ip from `ephemeral` to `static` after the ingress is up

for instance:
![screen shot 2018-02-22 at 6 09 21 pm](https://user-images.githubusercontent.com/3664595/36574666-a9693d4e-17fb-11e8-8a79-af87d8a8a19c.png)

[2018-02-23 04:46] xiaolanz commented on #1880
Currently Pilot is accepting both APIs. so far no problem for v1alpha1 to v1alpha2. Also a conversion tool is being worked on https://github.com/istio/istio/issues/3621

[2018-02-23 05:59] geoand commented on #2763
Yes, they Ansible playbook has been Incorporated into Istio

On Feb 23, 2018 03:39, "Costin Manolache" <notifications@github.com> wrote:

[2018-02-23 08:34] Stono opened #3716 "Istio injector pod being rescheduled results in apps deployed without a sidecar"
Hey,
As we run only a single istio-injector pod to handle the webhook requests, we've noticed that if that pod is being rescheduled for whatever reason (we make use of pre-emptible instances on GCP in preprod environments to save costs), or kubernetes is upgrading the node for example, and an application is deployed, or scaled, or the istio-injector is being rescheduled itself, it does not get inj

[2018-02-23 09:10] Stono commented on #3099
Hey @jeffmendoza sorry for the delay, i've been out of action for a few days.

`sum(istio_request_count) by (destination_service)`:
{destination_service="at-sauron-web-service.default.svc.cluster.local"}

`sum(istio_tcp_bytes_received) by (destination_service)`
{destination_service="at-consumer-platform-service.default.svc.cluster.local"} | 130594
{destination_service="at-search-one-service.defaul

[2018-02-23 10:56] guirish commented on #2348
Thanks @GregHanson for the information.

[2018-02-23 10:56] #2348 closed

[2018-02-23 13:04] loewenstein commented on #1449
Shriram proposed to give this another shot. I have started to look into the code and would like to get some feedback on my current thoughts.

# Scope
The primary target that Shriram and I agreed upon is feature configuration in Pilot itself, i.e. we do not plan to tackle any sidecar life update (i.e. `ProxyConfig`). Instead we plan to make mTLS, Mixer, ... dynamically configurable.

# Dynamic vs.

[2018-02-23 14:56] Stono opened #3720 "Upgrading Istio"
Hey,
Following on from the request from @nmittler on our call this week, I'm raising this issue to talk about how we (AutoTrader) handle releases of istio at the moment, and also to talk about how we can minimise the risk of unexpected outages whilst upgrading between istio versions.

I appreciate that this project is young, we haven't hit a major version release yet and backwards compatibility is

[2018-02-23 15:11] GregHanson commented on #1685
@secat are you still seeing this problem on istio version 0.5.1 or later?

[2018-02-23 15:19] GregHanson commented on #1238
@retroryan are you still seeing this problem in istio version 0.5.1 or later?

[2018-02-23 15:26] costinm commented on #1449
Thanks for the details ! I will defer to your choices on both decisions,
however I have few additional requirements
regardless of what you chose:

1. For few releases we need to keep reading the existing config map, and
use it if your new config is missing.
Ok to ignore the current config if user explicitly set the new one, but we
have existing users who want to be
able to upgrade.

2. Keep in min

[2018-02-23 15:27] vaikas-google commented on #1024
Aha, ok, thanks!

On Thu, Feb 22, 2018 at 6:10 PM Laurent Demailly <notifications@github.com>
wrote:

[2018-02-23 15:29] costinm commented on #1024
Can we also add the kubernetes.io/ingress.global-static-ip-name ? ( in the
helm templates, where
it can be set in values.yaml ). Probably P2 since we have a workaround -
which should be documented.

On Fri, Feb 23, 2018 at 7:27 AM, Ville Aikas <notifications@github.com>
wrote:

[2018-02-23 15:37] yusuoh commented on #3720
Hi Karl, Thanks for raising the issue.

We have an e2e upgrade test and we are going to add it to release qualification tests soon.
https://github.com/istio/istio/tree/master/tests/e2e/tests/upgrade

For each release, we will run the upgrade tests against a list of old versions and record the results. And if there is any upgrade failure or workaround needed, we will also document those breaking ch

[2018-02-23 16:00] Stono commented on #3720
Sounds like a great start!  I will keep you updated with how my upgrades go and any issues that I encounter.

Ideally I'd like to get to 3 or 4 successive releases without issue before I'm happy to "go to prod" with istio.

[2018-02-23 16:02] nmittler opened #3721 "Use local docker image registry for e2e tests"
Currently, our CI environment builds and pushes new docker images to `gcr.io/istio-testing` in order to test out the latest build. However, using custom images for local testing or even just running the e2e tests with the local build is non-trivial and it can be difficult to determine which images you're actually running with.

I propose that our tests include an option to launch a local image reg

[2018-02-23 16:02] nmittler commented on #3721
cc @ZackButcher @costinm @ldemailly

[2018-02-23 16:08] costinm commented on #3721
Well, circleci and for local minikube we just build the images in the
docker env, without uploading.

And minikube has a nice new plugin to reload a pod when a new image is
built, similar with keel.

On Feb 23, 2018 08:02, "Nathan Mittler" <notifications@github.com> wrote:

[2018-02-23 16:09] costinm commented on #3721
In other words: for local or single node we don't need a registry.

On Feb 23, 2018 08:08, "Costin Manolache" <costin@gmail.com> wrote:

[2018-02-23 16:24] loewenstein commented on #1449
@costinm thanks for the feedback

how do people usually upgrade? I'd expect  hooking into the installation templates and creating either separate config maps or CRDs would instead of the current single config map should be compatible enough?

overrides for many of the settings

Are there any thoughts on that already other than the requirement itself?

- would break existing workloads

I'd expect p

[2018-02-23 16:31] nmittler commented on #3721
docker env, without uploading.

Good to know, I wasn't aware of this ... do we have a special setup to make this happen with minikube?

[2018-02-23 16:36] nmittler commented on #3716
@ayj would you be able to take a look?

[2018-02-23 17:20] ayj commented on #3716
The webhook is horizontal scalable. We could also change the `failurePolicy` to fail closed. The default is fail open (see https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.9/#webhook-v1beta1-admissionregistration)

[2018-02-23 17:34] nmittler commented on #3716
@ayj that sounds right to me.

@costinm any thoughts?

[2018-02-23 17:38] ldemailly commented on #1024
We need to support it before we add it, no?

[2018-02-23 17:54] ayj commented on #3716
See https://groups.google.com/d/msg/istio-users/mlAlO49UOW4/a20Z6i9fAgAJ for what seems to be another instance of this problem.

[2018-02-23 17:59] danehans commented on #3495
@ldemailly why change "service: echosrv1" to  "istio-proxy"? The perf script sets-up a service named echosrv1, which proxies to pod: echosrv1. Maybe the better representation would be to make the pods larger and depict the proxy and app containers within the pod(s). Let me know your thoughts.

[2018-02-23 18:47] ldemailly commented on #3721
semi related: let's aim to have all docker images needed for istio built from istio/istio - ie the iptables container one etc

[2018-02-23 18:51] ldemailly commented on #3495
I guess the confusion here is the diagram mixes both actual physical components (containers, processes, arrows for network flow,...) with logical concepts (k8s services, ingress spec, etc...)

I would either use different kind of box/lines/color/label for the logical stuff from physical or remove the logical entirely

So again the arrow doesn't go to a service, it goes to a pod and lands in the is

[2018-02-23 19:00] ayj commented on #1449
cc @xiaolanz @ozevren from Config WG

[2018-02-23 19:03] ayj commented on #1449
I'd like to see this proposal reviewed in the Config WG. Part of that group's focus is on enabling reliable, dynamic control over per-service config (e.g. mtls, telemetry, policy) with considerations for scoping, etc. that overlaps with some of the suggestions in this proposal.

[2018-02-23 19:03] mandarjog commented on #3531
This is fixed in 0.6 release.

The issue was a stray log statement left on the request path coupled with the new logging library.
The logging library contends on a lock and most of the worker go routines are blocked trying to log this `info` statement.
The front end grpc server continued accept new work including report data. This caused the number of go routines to grow, each holding on to all it

[2018-02-23 19:03] #3531 closed

[2018-02-23 19:06] kyessenov opened #3728 "Update go-control-plane to master"
Please update the library to the latest. There's been major refactoring of the protos that need to be taken care of.

[2018-02-23 19:10] ldemailly opened #3729 "Istio does not route outgoing HTTP if it is intended for ports 5983 or 5984"
@esnible commented on [Fri Feb 23 2018](https://github.com/istio/issues/issues/227)

**Bug:** Y

**What Version of Istio and Kubernetes are you using**
Kubernetes v1.8.3+icp+ee
Kubernetes version 0.5.0
Sidecar version http://<istio-proxy>:15000/server_info reports "envoy 0/1.6.0-dev//DEBUG live 1922 1922 0"

**Is Istio Auth enabled or not ?** Y

**What happened**:
I deployed CouchDB with MutualTLS

[2018-02-23 19:26] nmittler commented on #3721
@ldemailly agreed.  See https://github.com/istio/istio/pull/3727

[2018-02-23 19:27] myidpt opened #3731 "Vendor from the gometalinter.v2 build image for stable linter tests"
Our linter tests fail due to gometalinter.v2 download timeout:

+ go get -u gopkg.in/alecthomas/gometalinter.v2
package gopkg.in/alecthomas/gometalinter.v2: unrecognized import path "gopkg.in/alecthomas/gometalinter.v2" (https fetch: Get https://gopkg.in/alecthomas/gometalinter.v2?go-get=1: dial tcp 45.33.37.13:443: i/o timeout)
Makefile:269: recipe for target 'lint' failed
make: *** [lint] Error

[2018-02-23 19:31] hklai commented on #3731
@ldemailly any idea why it is currently not vendored?

[2018-02-23 19:33] ian-mi opened #3732 "Feature - Subset fallback"
Envoy's subset load balancer has the capability to fallback to a default subset: https://github.com/envoyproxy/envoy/blob/master/source/docs/subset_load_balancer.md. It would be great if a similar capability was available for istio routing.

[2018-02-23 19:36] ldemailly commented on #3731
it used to be a while ago, I think it got lost in the circleci/makefile shuffle

[2018-02-23 19:45] alexkoturanov commented on #3716
I think there might be and issue with this approach, consider the following scenario:
* *istio-sidecar-injector* pod is not available (being re-scheduled or simply scaled down to 0)
* an application pod is rescheduled (i.e. deleted manually)

In this scenario a new application pod is not created until *istio-sidecar-injector* is available. What if it is not available due to misconfiguration or oth

[2018-02-23 19:56] sdake commented on #3479
Resolved by:
https://github.com/istio/istio/pull/3594

[2018-02-23 19:59] aaronjwood opened #3734 "Mixer DSL breaks in 0.5.1"
I've confirmed a regression from 0.5.0 -> 0.5.1. I'm using this basic denier:
[code]

If you apply this in 0.5.1 and watch the mixer logs you'll see:
[code]
Note that this error does not only apply to `request.headers`. I see the same errors for `destination.labels`, `request.path`, and `destination.name` too:
[code]

Everything works as intended in 0.5.0. I tested this out locally using `minikube

[2018-02-23 20:18] Stono commented on #3716
Hey,
Injection into a deployment would be optimal, providing people use deployments (I know most of us do).  This would ensure the same version and configuration of istio across each deployment, which I think it actually important.

I suppose the question comes down to if you want to support people who use replicasets or pods directly?

As there is more discussion around this, and I'm guessing it'

[2018-02-23 20:33] mattdelco commented on #3721
I think proxy's the main holdout for stuff needed by an istio build.  I'm not sure what's the lesser evil: add everything that's needed to make the envoy and envoy-debug docker images to the proxy tarball (mostly the debug and release "envoy" executables plus 7 text files) so it can be build in istio/istoi, or only package up the "envoy" executables and keep everything else over in istio/istio.

T

[2018-02-23 21:16] sdake commented on #3570
I can only duplicate this if the instructions are not followed.  For example, I deploy with kubeadm which in the default settings does not set the requirements
[code]

From the automatic sidecar documentation.

[2018-02-23 21:24] ayj commented on #3716
A similar problem exists if someone accidentally scale down Pilot replicas to zero. Any newly created pod with a sidecar would not receive any traffic and routing would be broken. The injection webhook should be configured to be HA in such scenarios to avoid the problem your described. Fortunately the webhook is fairly lightweight (~1.5us per injected pod), stateless, and is easily horizontally sc

[2018-02-23 21:29] ayj commented on #3570
@overip, can you confirm that the cluster was created with admission controllers configured as noted in the docs? It would also be good to verify that the sidecar-injector pod is started before created the sample pod. The default webhook fails open which means injection may be bypassed if the injector pod isn't available (yet). This issue is addressed by https://github.com/istio/istio/pull/3724

[2018-02-23 21:35] overip commented on #3570
That fixed my problem, thank you.

[2018-02-23 21:35] #3570 closed

[2018-02-23 21:40] sdake opened #3737 "files for automatic sidecar injection missing from istio 0.5.1 distribution"
The file `/install/kubernetes/webhook-create-signed-cert.sh` is missing.

This may be fixed in the upcoming 0.6.0, just wanted to make sure it was.  I am not sure what generates the tarball:

[code]

cc @ayj

[2018-02-23 21:41] ayj commented on #3737
This should be fixed in 0.6.0. The troubleshooting page has a section on this issue (see https://istio.io/help/troubleshooting.html#kubernetes-webhook-setup-script-files-are-missing-from-05-release-package)

[2018-02-23 21:41] #3737 closed

[2018-02-23 21:44] ayj commented on #3716
cc @yusuoh, who is working on Istio upgrade process and was interested in pod-level injection for incremental sidecar upgrades.

[2018-02-23 21:44] sdake commented on #3737
thanks @ayj.

[2018-02-23 21:51] yusuoh opened #3738 "Provide an option to avoid webhook injector to override the manual injected config"
When people use kubectl to manually inject sidecar into deployment with a different config (e.g. during upgrade process), it will be overridden by webhook injector, which is problematic or at least confusing.

We should provide a option to disable that behavior. Unless the user explicitly change that option, the manual injected config should not be overridden.

[2018-02-23 22:40] #3695 closed

[2018-02-23 22:40] GregHanson commented on #2403
resolved by https://github.com/istio/istio/pull/3696

[2018-02-23 22:41] #2403 closed

[2018-02-23 23:01] xiaolanz commented on #1449
We should definitely discuss this during our next week config WG community meeting. It happens 10:15am PST  every Thursday.

We have discussed the dynamic config and static config over the last a few months. Please see and comment on the [glossary](https://docs.google.com/document/d/1OIKeip1QnZvOe76rrI1glUG6mk1eOfa4JPb-iY92ue4/edit#) and [analysis](https://docs.google.com/document/d/1xztb3S1mKV6iL

[2018-02-23 23:03] #1449 closed

[2018-02-23 23:04] kyessenov commented on #1449
Thanks for taking the charge of it! I support the move to CRD which I still
think was a mistake not to merge to begin with.

On Fri, Feb 23, 2018 at 3:03 PM Joy Zhang <notifications@github.com> wrote:

[2018-02-24 00:01] kidiyoor opened #3745 "enable overriding envoy_bootstrap_tmpl.json location"
envoy_bootstrap_tmpl.json is used to generate sidecar envoy configuration.

There should be a way to override path to envoy_bootstrap_tmpl.json(ie. way to provide custom template) - https://github.com/istio/istio/blob/master/pkg/bootstrap/bootstrap_config.go#L32

This is in favor to running envoy in non-kube plain VM.

[2018-02-24 00:57] rosenhouse opened #3750 "Route rules in BookInfo Sample (and docs) claim to be v1alpha2 but look like v1alpha1"
Looking at [this page, for example](https://istio.io/docs/tasks/traffic-management/request-routing.html) I see

[code]

which appears to match the the contents of [this file](https://github.com/istio/istio/blob/master/samples/bookinfo/kube/route-rule-all-v1.yaml).

But when I look at [the protofile for v1apha2](https://github.com/istio/api/blob/master/routing/v1alpha2/route_rule.proto) I see a dif

[2018-02-24 01:42] kyessenov commented on #3750
Yeaaaah, our versions don't match.
CRD v1alpha2 is actually istio v1alpha1.
cc @louiscryan may consider calling v1alpha3 to avoid this.

[2018-02-24 03:03] ldemailly opened #3751 "change to flags broke bookInfo e2e tests"
#3740 has broken bookInfoTests

https://github.com/istio/istio/pull/3740#issuecomment-368193556

[2018-02-24 03:50] ldemailly commented on #3751
it also broke on circleci, strangely though only later:

istio-mixer-3733898352-x5k5v           2/3       CrashLoopBackOff   3          1m

https://circleci.com/gh/istio/istio/36755
vs
https://circleci.com/gh/istio/istio/36971

@costinm any idea why it failed only later and not on the pr itself ?

[2018-02-24 03:54] yusuoh commented on #3716
I think the root issue is about the availability of injector. Even if we switch to deployment-level injection, we still cannot exclude the case when deployment is created while injector is down (although the chance is less). And we have to capture more workload types like daemonset, job, singleton pod, etc.

So I think we can try what @ayj suggested: (1) Forcefully fail pod creation when injector

[2018-02-24 04:03] yusuoh commented on #358
Can we continue to rely on the insecure port (8080) of pilot to get the proxy config in the future? Or will we only allow mTLS port to be open later?

[2018-02-24 04:04] ldemailly commented on #358
should be mtls only eventually

[2018-02-24 04:17] yusuoh commented on #3706
The first step is to have a HA deployment and get it tested. It will also be useful for us to achieve a smooth upgrade process.

[2018-02-24 04:19] ldemailly commented on #3706
yes I think generating yamls with minimal HA would be super useful

[2018-02-24 04:20] yusuoh commented on #2087
For the webhook auto-inject feature, which involves cert creation and bundling CA to the template, can they also be supported by Helm? It seems easier to do those in istioctl.

[2018-02-24 04:22] ldemailly opened #3753 "error in CA logging"
https://storage.googleapis.com/istio-prow/pull/istio_istio/3752/e2e-simpleTests/328/artifacts/simple-auth-test-7871c7ac70ac4a1e9f3f/istio-ca-cb777bcdc-lrg2c_container:istio-ca.log

[code]

[2018-02-24 04:31] ldemailly commented on #3721
what are those files ?
it should only be the binaries (and possibly a symbol dump for stack trace decoding later)

yes we should definitely not require BOTH a tar and a docker image from the proxy repo; proxy should just produce the binary, everything else should be here (unless I'm missing something)

[2018-02-24 04:47] yusuoh commented on #358
Then we need to add MTLS support to istio-proxy-config.py and generate a client cert from the CA for debugging purpose.

[2018-02-24 04:49] ldemailly commented on #358
ideally we'd have a authz'ed end point (ie through ingress, mtls aware, access to pilot etc)

[2018-02-24 05:22] mattdelco commented on #3721
Dockerfile.release wants:
<pre>ADD envoy /usr/local/bin/envoy
ADD istio-iptables.sh /usr/local/bin/istio-iptables.sh
ADD istio-start.sh /usr/local/bin/istio-start.sh
ADD envoy.json /var/lib/istio/envoy/envoy.json
</pre>
while Dockerfile.debug wants:
<pre># Deprecated: use "/usr/local/bin/istio-iptables.sh clear"
ADD proxy-redirection-clear /usr/local/bin/proxy-redirection-clear
ADD proxy-redirecti

[2018-02-24 05:29] mattdelco commented on #3751
My casual observation has led me to think that Prow tests using changes in the current PR while CircleCI doesn't.  So, someone can break CircleCI in a PR but still pass the tests in that PR (while subsequent PRs will then experience the breakage).

[2018-02-24 05:45] kyessenov commented on #3728
cc @ldemailly for vendor assistance.
waiting for some in-progress PRs to be merged before doing this.

[2018-02-24 05:56] ldemailly commented on #3751
if that’s the case, that’s sounds like a terrible flaw that needs fixing

[2018-02-24 05:57] ldemailly commented on #3728
in progress in control-plane ? or here ? which?

[2018-02-24 05:59] ldemailly commented on #3721
nate already is working on deleting all iptables etc scripts in proxy to use 1 unified script here. so only the envoy binaries should be needed

[2018-02-24 06:03] kyessenov commented on #3728
@gnirodi has some in-flight PR. the in-flight PR in control-plane is not
changing package names. we need to get through package name change since it
was the last promised breaking change.

On Fri, Feb 23, 2018 at 9:57 PM Laurent Demailly <notifications@github.com>
wrote:

[2018-02-24 06:37] costinm commented on #3751
Bookinfo is run in the periodic task in master. I don't think it's that terrible, but working as intended - not everything can and needs to be found in pre-submit. As long as bugs are found and fixed - we can
have master broken for few hours. We had 2 releases that were broken and passing all tests - that's
far more terrible -).

[2018-02-24 06:48] ldemailly commented on #3751
the build which failed on circle after the facts is e2esimple
which failed later... unless I am mistaken... (bookinfo one failed on prow right away)

[2018-02-24 06:55] costinm commented on #3728
Kuat - I believe Gautam is mostly ready, so early next week you can upgrade.

[2018-02-24 07:40] costinm commented on #3721
+1, only envoy binary is needed. Everything else should be in istio/istio.

And while we're at it - there are about 5 xenial variations, some doing
apt-get update some without.
We need some consistency (and will also save build time).

On minikube: you need 'minikube addons freshpod enable' to auto-restart
pods on build.
And 'minikube docker-env' - will set the env so make will create the images
i

[2018-02-24 14:56] ldemailly opened #3755 "circleci : attaches workspace yet also checks out code before that"
@costinm if we attach the workspace we shouldn't do the checkout and submodule steps; should we ?

e.g
https://circleci.com/gh/istio/istio/37072

[2018-02-24 16:55] costinm opened #3756 "Clusterregistry UX and security"
Most urgent fix is moving the config to a k8s 'secret', and mounting it in the templates ( with optional = true). It's probably best if a default value is chosen, like the other secret files used by Istio, and at startup
pilot checks for the existence of the file, so user doesn't have to modify flags, just create the secret file.
(since the file includes private keys and other secrets)

Second iss

[2018-02-24 16:56] ldemailly opened #3757 "regression/change: certs now take > 1min to show up (causing lds: fetch failure: network error and ingress tests failure)"
[code]
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/3754/istio-unit-tests/1046/

[2018-02-24 17:52] costinm commented on #3706
Helm already supports replica counts. I asked for few changes to
multicluster setup so default can also be set ( user just need to add
clusters and secrets)

On Feb 23, 2018 20:19, "Laurent Demailly" <notifications@github.com> wrote:

[2018-02-24 18:18] ldemailly commented on #2199
investigating in #3760 - it should really not take 1min for ingress to come up; specially on circle

[2018-02-24 18:31] ldemailly commented on #3757
that both that test and #2199 are having a spike of recent occurrence in both prow and circle ci makes me think there is some actual issue with ingress or envoy/pilot readiness or startup time ?

[2018-02-24 20:01] ldemailly commented on #3706
re AZ, looks like it's not there yet:
https://groups.google.com/d/msg/istio-users/y7mcC76Adyc/L9Mh-LTAAAAJ

[2018-02-24 20:36] ldemailly opened #3763 "backward compatibility for flags"
As soon as we have customers in production, we can't have flags from any component disappear and must ensure all flags from the past continue to work and/or spew abundant warnings for a couple releases before (if ever) disappearing

A good example of breaking change across the board is `-v 2` - maybe we can do this in 0.7 but certainly not after 1.0

We probably need a small library to register ol

[2018-02-24 21:09] #2199 closed

[2018-02-24 21:37] geeknoid commented on #3763
Is this actionable at this point? I'm not clear what the issue is trying to capture.

[2018-02-24 21:51] ldemailly commented on #3763
the AIs are

1) decide when we start making sure we don't break backward compatibility
2) start working on a small simple library to solve the problem past that point

[2018-02-24 23:12] rosenhouse opened #3764 "Why must Pilot be able to reach every network endpoint?"
I was perusing the Pilot `envoy/v2/mesh.go` code and saw a comment [here](https://github.com/istio/istio/blob/ef3ebcd6fab87196bc3aecc68b4e1aa4c543c9a6/pilot/pkg/proxy/envoy/v2/mesh.go#L772) that

What is the rationale for this?  Is the plan for Pilot to do active health-checking of network endpoints?

What if network policy prevents Pilot from reaching the destination?  I believe we have use cases

[2018-02-25 08:34] caratzky opened #3767 "Needing Translations for this Platform?"
Good day Sir!

I am an active Utopian Contributor for Translations to my native Language, Filipino/Tagalog. I would like to know if you need some translations for your .md and other translatable files. I've been translating files here in Github for a long time already, and I post these translations at Utopian.io for rewards. Once I manage to post at least once about your project at Utopian, more t

[2018-02-25 20:37] ldemailly commented on #3764
Good catch. The comment is misleading- I think it’s about multi cluster and about whether an endpoint is on the correct network (local vs remote) not actual connection from pilot but whether the sidecar will be able to talk to this pilot.

Gautham can you clarify ?

Thanks,

Laurent

[2018-02-25 23:43] ldemailly commented on #2939
cc @nmittler re test grand unifications

the same test (like e2e simple) should be runnable with both isio-auth.yaml based and helm based install (in parallel builds)

[2018-02-26 01:44] ldemailly opened #3771 "replace Pilot's test server with Fortio"
investigate replacing by fortio

[2018-02-26 02:22] nmnellis opened #3773 "envoy -router: fetch failure: key 'hosts' missing or not an array from lines 82-88"
When running envoy in `router` configuration there is an error calling pilot cds
I believe the issue is with the following line below which is from and ExternalService

Envoy Router Error
[code]

lines 82-88 from pilot `curl http://istio-pilot:8080/v1/clusters/istio-router/router~....`
[code]
External Service declaration
[code]

Envoy args
[code]

[2018-02-26 02:25] nmnellis commented on #3580
using `V1alpha2RouteRule ` worked

[2018-02-26 02:25] #3580 closed

[2018-02-26 05:01] costinm opened #3774 "Kube-inject ignoring ignore annotation"
Maybe I'm too tired: but I ran 'istioctl kube-inject -f ... ' on the 'app t' from the
integration tests ( converted to proper yaml ), as well as fortio-noistio - and I still
get it injected.

Did the annotation change ? I tested against master - but if 0.6 is affected it would be a
blocker.

[code]

[2018-02-26 06:09] #3208 closed

[2018-02-26 06:09] #3207 closed

[2018-02-26 06:09] #3371 closed

[2018-02-26 07:00] costinm commented on #3764
It's the reverse - the endpoints must be able to reach (some) pilot, for
the obvious reasons.

Costin

On Sun, Feb 25, 2018 at 12:37 PM, Laurent Demailly <notifications@github.com

[2018-02-26 07:33] Xiphin commented on #3403
0a66f081ca65        istio/proxy_init:0.5.1                                 "/usr/local/bin/prep…"   6 seconds ago       Exited (0) 5 seconds ago                                                                                                                     consul_ratings-v1-init_1
3dd5b9dd5ccf        istio/proxy_init:0.5.1                                 "/usr/local/bin/prep…"   6 seconds ago

[2018-02-26 07:39] Xiphin commented on #3403
docker logs consul_reviews-v1-sidecar_1
-
{
  "listeners": [],
  "lds": {
    "cluster": "lds",
    "refresh_delay_ms": 1000
  },
  "admin": {
    "access_log_path": "/dev/stdout",
    "address": "tcp://127.0.0.1:15000"
  },
  "cluster_manager": {
    "clusters": [
      {
        "name": "rds",
        "connect_timeout_ms": 1000,
        "type": "strict_dns",
        "lb_type": "round_robin",

[2018-02-26 07:41] Xiphin commented on #3403
@kolobok01 @GregHanson

[2018-02-26 07:47] Xiphin commented on #3403
repeat run: docker-compose -f samples/bookinfo/consul/bookinfo.sidecars.yaml up -d

[2018-02-26 08:38] sdake commented on #2087
@yusuoh this is a good question to which I don't have a good answer.  The helm charts today can deploy the sidecar-injector pod, however, the workflow on this page (under automatic injection):

https://istio.io/docs/setup/kubernetes/sidecar-injection.html

seem incomplete.  I'm not sure helm has sufficient workflow features to execute this work, although it may be possible to put that specific wor

[2018-02-26 08:48] steffengy opened #3776 "Abysmal Ingress RPS"
A pod is able to serve atleast **~7k req/s normally**.
Through the **istio ingress this peaks at 700-1000 requests** per second.
(This is using 0.5.0, since 0.5.1 is even worse)

Surprisingly even accessing the ingress itself (without a routerule for `/`)
seems to show that behavior, even though all it does, is serve a 404 page
due to the missing routerule for `/`.

In comparision, a nginx hello w

[2018-02-26 09:18] sdake commented on #3776
cc / @danehans @ldemailly

[2018-02-26 09:43] sdake commented on #3776
@steffengy would you mind expanding on your environment.  Are you running Istio/Kubernetes on GKE, or on bare metal (and if so, what deployment tool and load balancer type service object solution), or in a minikube or some other platform?

1gb networking, or 10gb networking?

[2018-02-26 09:58] reynaldiwijaya commented on #1194
Hi we run into some kind of the same problem where we got this message :

` [2018-02-26 09:43:44.416][12][warning][upstream] external/envoy/source/server/lds_subscription.cc:68] lds: fetch failure: error adding listener: 'http_100.96.15.81_8080' has duplicate address '100.96.15.81:8080' as existing listener
[2018-02-26 09:43:45.866][12][warning][config] external/envoy/source/server/listener_manage

[2018-02-26 10:15] steffengy commented on #3776
@sdake
I'm running istio 0.5.0 in AWS on kubernetes 1.9.3.
1xMaster, 3xWorkers connected through a VPC using kubenet.
(That should be nearly identical to baremetal kubenet in a dedicated >=1gbps LAN)

That creates an ELB load balancer, which I do not use for testing.
This load balancer points to the `istio-ingress` port of the nodes (30XXX), and I use
IP:INGRESSPORT or MASTER_IP:INGRESSPORT direct

[2018-02-26 11:02] Stono commented on #3716
I definitely agree with the solution of fail pod creation, and HA setup of the injector as an immediate solution to this issue.  We've implemented this on our cluster for now.

I do think there is potentially a wider discussion however around the fact that deployment pod spec templates are generally considered immutable, ie a change to a deployment is applied to all of the pods running in that dep

[2018-02-26 12:16] prune998 commented on #1194
I never had a seg fault, but the `error adding listener` seems to confirm the same issue.
@reynaldiwijaya, could you please give more informations on your setup, what you deployment look like and what is the Envoy config before crash ?

[2018-02-26 12:18] secat commented on #1685
@GregHanson I am currently updating my system in order to evaluate istio version 0.5.1. As soon as I am done, I will let you know.

Thank you.

[2018-02-26 12:44] sdake commented on #3776
@steffengy are you using istio.yaml or istio-auth.yaml?

[2018-02-26 12:56] steffengy commented on #3776
@sdake
`istio.yaml` since I did not want TLS to affect a benchmark.
You should be able to reproduce using `samples/helloworld` by doing a
[code]
for the hello world route and
[code]
for the 404-ingress-error (since there is no route at `/`)

I'll test & confirm and post results for `samples/hello_world`.

[2018-02-26 13:11] sdake commented on #3776
@steffengy I've ran the `wrk` tool benchmark you mentioned against AIO baremetal (xeon v3), k8s 1.9.3+metallb+calico using metallb's load balancer type service object to provide load balancing + Istio master.  I get about 2400 RPS with no routerules defined.

Exact results:
[code]

I noticed mixs is hungry for CPU - using 500% cpu utilization as measured by top.  I'll take a look at nginx next.

[2018-02-26 13:29] sdake commented on #3776
The exact results with your command line (but longer duration - 10 seconds is too short to obtain a statisically valid result imo:

[code]

[2018-02-26 13:53] sdake commented on #3776
@steffengy I'm not certain we are comparing apples to apples, however, I can say on my gear, envoy uses up to 15 Xeon hyperthreads and ingress uses another 5 hyperthreaded cpus.  mixs could likely use some performance enhancement and that is actively taking place in the performance and scalability workgroup.

To resolve your immediate problem, is it possible to increase the CPU allocation to your

[2018-02-26 14:04] steffengy commented on #3776
Using hello-world & in-mesh benchmarking.
[code]

@sdake
Does your gear contain multiple nodes?

Sure it's possible, the master is a d5.xlarge and workers are d5.large instances.
They should still be able to handle that tiny bit amount of an hello world app.
It's more about getting this fixed long-term than getting a short-term workaround.

The most trivial hello world example with not much istio

[2018-02-26 15:04] GregHanson commented on #1684
closing issue since it is out of date with respect to the current release, will open a new issue for tracking VA work on future releases

[2018-02-26 15:04] #1684 closed

[2018-02-26 15:13] ldemailly commented on #3771
fortio has had grpc echo since day one :)

try for instance:

fortio grpcping -grpc-secure fortio.istio.io:443

[2018-02-26 15:23] ldemailly commented on #3776
First thanks for sharing all the details and your findings already!

the default allocation that the ingress requests is the default 0.9 vcpu but it should scale pretty linearly with both vcpu and pods

in general you don’t want to run a system at the max it can do (though it is obviously useful to know what that number is and which component is the first bottleneck at that point) - you can drive

[2018-02-26 15:39] sdake commented on #3776
@steffengy I am running on an AIO (all in one - single node master/worker collocated).

@ldemailly agree completely don't want to overload a node and also agree its helpful to understand where the bottlenecks are.

[2018-02-26 15:50] steffengy commented on #3776
@ldemailly
(a few thousand of the 503 lines such as the first are omitted here)
[code]

[2018-02-26 17:02] alexkoturanov commented on #3716
I think I also agree with failing pod creation when injector is not available but still I would like to have an option to configure injection at the deployment level. In our use case only deployments are used and I would prefer them to be immutable so I can easily reason about 20+ pods created by a deployment.

Is there any option to configure injection to use deployments first (inject sidecar and

[2018-02-26 17:51] kyessenov commented on #3771
The client needs to be replaced as well. Is there an output that's machine
readable?

On Mon, Feb 26, 2018, 7:13 AM Laurent Demailly <notifications@github.com>
wrote:

[2018-02-26 17:57] ldemailly commented on #3771
yes `fortio load -json` or `fortio curl -json` or even better don't use a seperate binary but use the library from the test code directly like
https://github.com/istio/istio/blob/release-0.5/tests/e2e/tests/mixer/mixer_test.go#L494-L508

[2018-02-26 17:58] ldemailly commented on #3771
fortio does not have (yet) websocket though

[2018-02-26 18:09] jeffmendoza commented on #3624
Tested the latest build `0.6.0-pre20180226-09-15-06` and source service is working well.

[2018-02-26 18:09] #3624 closed

[2018-02-26 19:09] costinm opened #3781 "Alpha2 clusters should be created even if no route points to the cluster"
This is very important to allow warming and separate the creation of clusters from routing changes.
Currently it is the backup plan, in case the Envoy changes don't make it for 0.7 - I consider it a blocker
and P0 for 0.7.

I would appreciate if the change doesn't refactor or change alpha1 code - instead just constructs
clusters based on alpha2 DestinationRules, and merges the result with what the

[2018-02-26 19:26] andraxylia commented on #3781
This fix is a pre-requisite for solving the 503 issues as discussed in this PR: istio/istio#3482

[2018-02-26 19:29] andraxylia opened #3782 "Cluster names for alpha 2 should be based on Endpoint subset name"
Currently cluster names are generated based on service name + concatenation of labels piped with the protocol. We must change the cluster name to be _proto.EndpointSubsetName.ServiceName, in a DNS format.

The Endpoint Subset name is configured by the user in the Destination Rule:
https://github.com/istio/api/blob/master/routing/v1alpha2/destination_rule.proto#L147

Later, Envoy could be configure

[2018-02-26 19:34] andraxylia commented on #1048
Had a look the RBAC template and is cleaner after several commits. I will close this issue.

[2018-02-26 19:34] #1048 closed

[2018-02-26 19:37] costinm commented on #3782
Tentative target for 0.8 - conditional on dropping alpha1 in 0.8, otherwise 0.9

[2018-02-26 20:14] ijsnellf commented on #3773
@nmnellis: There may be a bug in the external service implementation where we are not handling discovery DNS + no endpoints correctly. You might try explicitly adding an endpoint:
[code]

[2018-02-26 20:18] hklai commented on #1646
@yutongz is there anything left to be done to improve post submit alerting?

[2018-02-26 21:12] jeffmendoza commented on #3099
Hi @Stono I double-checked the mixer logs and mixer code today, and yes Mixer is getting a Check call from the proxy with the `context.protocol` attribute set to `tcp`, and is basing it's actions on that.

As we discussed, grab a proxy log from one of the services that is showing up as `tcp` erroneously. You can `kubectl edit` the deployment and change the options for the istio-proxy container, ad

[2018-02-26 22:08] selmanj opened #3788 "istio-agent.deb, istio-auth-node-agent.deb and istio-proxy.deb not published for 0.5.*"
I tried following the directions for [Mesh Expansion](https://istio.io/docs/setup/kubernetes/mesh-expansion.html), but it appears `istio-agent.deb`, `istio-auth-node-agent.deb` and `istio-proxy.deb` are not published:

[code]

[2018-02-26 22:15] douglas-reid commented on #2163
@ozevren yes. i am actively working on validating monitoring with tests.

[2018-02-26 22:21] douglas-reid commented on #3556
Update: apparently, the latest direction is that there will always be 2 clusters: `mixer_check_server` and `mixer_report_server`.

Working on e2e tests to validate dashboard now.

[2018-02-26 22:28] mandarjog commented on #3292
@bianpengyuan Please take this one.
It has three scenarios
1. Caching within mesh. source and dest and both inside mesh
2. Ingress
3. Egress