[2019-10-02 01:36] abhijitherekar commented on #17551
Further, the above steps work for Istio-1.2.5 release. Only with the lastest release there is a issue.

[2019-10-02 02:13] howardjohn commented on #17551
This is not a pilot issue, it's failing to connect due to certs. I think sds required kubernetes 1.13 now - please look at the upgrade notice. I hope it's on the installation docs too mentioning this but not sure

[2019-10-02 02:15] jmarantz commented on #17305
For shared_ptr. which Scope& should be managed in a shared_ptr? How will it be retained in between the destruction of the old and the creation of the new?

I think if we're going to capture a stat or 'this' in a std::function we should probably just defer deletion of the ListenerImpl until the std::function runs. WDYT?

[2019-10-02 02:22] yangminzhu commented on #17512
Phillip could you assign this to someone else because I'm OOO and won't have time to loot at this for any short time, thanks.

[2019-10-02 02:26] yangminzhu commented on #17347
@howardjohn sorry I'm OOO and won't have time to look at this for short term, @pitlv2109 @liminw could you help take a look at this? Thanks.

[2019-10-02 02:30] nixgadget commented on #17551
@abhijitherekar If you want to enable SDS on EKS you need to make sure service account volume projection is enabled in master. I believe this was enabled by AWS from EKS 1.13+ onwards. Dont quote me on this but refer to https://github.com/aws/containers-roadmap/issues/238. It's almost safer to update your master to atleast 1.13+ if not 1.14+.

[2019-10-02 02:45] nixgadget commented on #17551
Ignore my previous comment about EKS. I thought this was an EKS issue. But now i see its GKE.

As @howardjohn mentioned the requirement is described in https://istio.io/blog/2019/trustworthy-jwt-sds/.

[2019-10-02 03:27] chadlwilson commented on #17139
@howardjohn thanks! this looks promising; I have changed this `PILOT_DISABLE_XDS_MARSHALING_TO_ANY=true` setting in one of our clusters and will observe over today.

[2019-10-02 03:41] dkalani commented on #17497
We experiment more today and see that even if we set replicateset to 2 this problem persists.

@howardjohn let us know if you need more info

[2019-10-02 03:50] howardjohn commented on #17497
I think there was a kubernetes bug, something along the lines of using stale endpoints for the webhook, so it tries to contact the one that was deleted? I will try to send the link tomorrow - on phone right. @morvencao was looking into it I think?

[2019-10-02 04:05] morvencao commented on #17497
@dkalani We have more discussion about this at: https://github.com/istio/istio/issues/13840, it's caused by an upstream issue of kubernetes: kubernetes/kubernetes#80313

[2019-10-02 07:13] chadlwilson commented on #17139
@howardjohn This appears to have caused the problem to go away. Connections are stable since I made the suggested change in https://github.com/istio/istio/issues/17383#issuecomment-535459139

After disabling `XDS_MARSHALING_TO_ANY`
![image](https://user-images.githubusercontent.com/29788154/66024464-84bce280-e526-11e9-9150-ea5c47cba66f.png)

Before disabling
![image](https://user-images.githubuser

[2019-10-02 07:28] Stono commented on #17516
This may not be a concern, it seems to be stabalising out so maybe natural heap growth as all proxies were restarted as part of the upgrade.

If it doesn't breach 19G within the next day or two I'll close this as a non-issue.

<img width="1832" alt="Screenshot 2019-10-02 at 08 27 07" src="https://user-images.githubusercontent.com/1486729/66025464-7357e400-e4ee-11e9-9fe4-47c00b4e97d4.png">

[2019-10-02 07:30] Stono commented on #17533
Just to confirm we're seeing similar issues across multiple isolated clusters within the same GCP region, and in some occasions spikes are at identical times.

This is now leading me more towards there being some underlying network issue that's happened to start at the same time as our istio upgrade, and I'm trying to get Google to investigate further (albeit not having much joy).

It's proving ex

[2019-10-02 07:55] Stono opened #17553 "Inconsistent http.url reported in Jaeger traces"
**Bug description**
All of our applications are configured and deployed using the same helm template.  We have mTLS globally enabled and there are no exceptions, however, we see a variety of different prefixes in Jaeger traces.

`http,http://`:
<img width="776" alt="Screenshot 2019-10-02 at 08 49 11" src="https://user-images.githubusercontent.com/1486729/66027117-237b1c00-e4f2-11e9-944f-5d67c42473

[2019-10-02 08:05] cacedo opened #17554 "istioctl authn shows conflict when there isn't"
**Bug description**
I have two deployments with labels `version: v1` and `version: v2` under the same kubernetes service. When creating a `virtualService` and `destinationRule` to weight traffic, if I specify TLS settings per subset (using the same settings), `istioctl authn tls-check` will show a conflict, but it works.

**Affected product area (please put an X in all that apply)**
[ ] Configurat

[2019-10-02 08:25] tibetsam commented on #15291
sorry for confusing you. let me clarify here.

When I configure a virtual service for my bookinfo, I set hosts to "erenqgo.bookinfo.com". But in envoy config it is not reflected, the domain part is still wildcard "*", rather then "erenqgo.bookinfo.com".

apiVersion: v1
items:
- apiVersion: networking.istio.io/v1alpha3
  kind: VirtualService
  spec:
    **hosts:
    - erenqgo.bookinfo.com**
    htt

[2019-10-02 09:07] piotrmsc commented on #17409
@howardjohn @JimmyCYJ did anyone maybe took a look on this?

[2019-10-02 10:03] balaji-panneerselvam commented on #12350
Thanks @howardjohn. I created a service entry with the scan host name with DNS as resolution type. Still, Im facing connection failure.

Could see below logs in envoy proxy:

{"istio_policy_status":"-","bytes_sent":"319","upstream_cluster":"outbound|1521||scan-vip.com","downstream_remote_address":"xx.xx.xx.xx:xxxxx","authority":"-","path":"-","protocol":"-","upstream_service_time":"-","upstream_lo

[2019-10-02 10:25] xeviknal commented on #17506
Perhaps I am misunderstanding something. Isn't this validation covered in the [gateway analyzer](https://github.com/istio/istio/blob/master/galley/pkg/config/analysis/analyzers/gateway/gateway.go)?
I see that the analyzer checks if there are any pods matching the gateway selector and then reports an error in case there isn't any matching workload present.

Again, perhaps missing a detail somewhere

[2019-10-02 11:34] xeviknal commented on #17499
As far as I understood, the currently implemented analyzers don't cover this scenario. In that scenario Kiali tries to cover the fact of two Gateways that points to the same host and port. What I could see in the [Gateway Analyzer](https://github.com/istio/istio/blob/master/galley/pkg/config/analysis/analyzers/gateway/gateway.go#L114) is that it covers the ['No matching workload found for gateway

[2019-10-02 11:59] xeviknal commented on #17532
I guess that this one is the same as the following one on Kiali: https://www.kiali.io/documentation/validations/#_port_name_must_follow_protocol_suffix_form

[2019-10-02 12:05] #17496 closed

[2019-10-02 12:29] xeviknal commented on #17509
@sushicw do you think I can be assigned to this one?

[2019-10-02 12:33] prune998 commented on #17383
Let me know when you have something merged (with docker images would be even simpler for me) so I can test it.
Many thanks for your help on this.

[2019-10-02 12:39] unludo opened #17555 "GRPC support with certmanager and letsencrypt"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

There is documentation to manage https istio ingress with letsencrypt
[Kubernetes Ingress with Cert-Manager](https://istio.io/docs/tasks/traffic-management/ingress/ingress-certmgr/#getting-a-let-s-encrypt-certificate-issued-using-cert-manager)

**D

[2019-10-02 13:13] howardjohn commented on #15291
Virtualservice is optional, what should happen if no virtual service is specified? It's a wildcard? Then you will get strange behavior when someone adds a virtual service and all of the sudden traffic breaks.

If you want to prevent traffic please use stuff like rbac or policies - I think this is not the right approach

[2019-10-02 13:17] howardjohn commented on #17139
@chadlwilson great we figured it out, but very disappointed this is the root cause did to the pilot performance impact..

As mentioned in the other issue @nrjpoddar is working on getting a fix into 1.3 so hopefully you could help verify that - I have not been able to reproduce this myself unfortunately

[2019-10-02 13:20] howardjohn commented on #17555
grpc is just http, which should work with the example above I would think? What specifically is missing?

[2019-10-02 13:21] jwendell commented on #17050
Just installed istio and bookinfo from master and it is fine.

[2019-10-02 13:34] unludo commented on #17555
Grpc is http2 and by default it does not work like https in GKE.

You may see some details [here](https://github.com/kubernetes/ingress-gce/issues/18)

[This](https://github.com/salrashid123/gcegrpc/tree/master/gke_ingress_lb) shows how to manage it with envoy.

I believe the pure Istio solution will face the same problems as the Istio ingress creates a GCP  L7 LB which has some issues as stated i

[2019-10-02 13:53] objectiser commented on #17553
@Stono As this might be difficult to reproduce, would it be possible to switch the backend to zipkin and see whether the same issues occur? This would help us narrow down whether in Jaeger or Envoy?

[2019-10-02 14:44] Stono commented on #17553
Hey @objectiser - I'm confused, I thought istio is just using zipkin by default? `global.proxy.tracer` in the installation options to `zipkin`?

Am I missing something?

[2019-10-02 14:55] nrjpoddar commented on #17383
My question is specific to release-1.3 branch, when you say backport are we just cherry-picking relevant commits/PR or are should we be doing merge of the current envoyproxy/envoy:master into istio/envoy:release-1.3?

[2019-10-02 15:00] howardjohn commented on #17383
@rlenglet  ^

Can we check if this is in master already? If so maybe @prune998 or someone in #17139 (basically the same issue) try out the daily build and see if it is resolved?

[2019-10-02 15:02] objectiser commented on #17553
@Stono Correct - the tracer running in Envoy proxy is zipkin, sending the data to the Jaeger backend. I don't believe there is anything in the Jaeger backend that would modify the `http.url` tag received via the zipkin compatible endpoint provided by Jaeger, but wanted to confirm one way or the other, that the issue is in the Envoy proxy.

[2019-10-02 15:08] tgunsch opened #17556 "Cancelled http requests are reported with http status code 500 in prometheus"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
If an HTTP request is cancelled/aborted on client side, the request is reported with http status code 500 in mixer / prometheus (which is a server s

[2019-10-02 15:08] nrjpoddar commented on #17383
istio/envoy:master is even more outdated than istio/envoy:release-1.3 afaict

[2019-10-02 15:08] howardjohn commented on #16998
https://prow.k8s.io/view/gcs/istio-prow/logs/integ-security-k8s-tests_istio_postsubmit/203

[2019-10-02 15:11] howardjohn commented on #17147
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/203

[2019-10-02 15:12] nrjpoddar commented on #17383
I just realized that istio/envoy:release-1.3 is based of envoyproxy/envoy-wasm and not envoyproxy/envoy so there is another refresh that needs to happen.

[2019-10-02 15:16] howardjohn commented on #17221
A WIP at https://github.com/istio/istio/pull/17547

[2019-10-02 15:21] jaesquivel opened #17557 "consistentHash is not working if traffic to pod is tls"
consistentHash is not working if traffic to pod is tls, same configuration works OK using http

**Affected product area (please put an X in all that apply)**

[X] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

This request should alwa

[2019-10-02 15:46] esnible commented on #17554
@diemtvu Do you think this would be easy to fix?

[2019-10-02 15:46] tapaskapadia commented on #16890
I can confirm that this resolved the issue for me. The new instructions on the istio page / istio 1.3.1 are working as expected.

[2019-10-02 15:47] esnible commented on #17546
If we do need a secret log, would it make more sense to put it in ~/.mesh-cli.log instead of in the current directory?

Also if it must go in the current directory can we add it to .gitignore?

[2019-10-02 15:56] esnible commented on #16936
https://github.com/istio/istio/pull/17321 should resolve this, if there is a valid gateway.

[2019-10-02 15:57] howardjohn commented on #17546
Lets not just hide the problem by adding it to .gitignore. users will run this all over the place. Its a horrible UX to play around with istioctl then find out all your folders have a bunch of garbage in them. ~/.mesh-cli.log sounds reasonable, but I am not sure if a log file is even needed at all?

[2019-10-02 16:05] sushicw commented on #17509
Go for it. (In the future, feel free to self-assign! :) )

[2019-10-02 16:08] esnible opened #17559 "istioctl add-to-mesh confusing messages"
To reproduce:

[code]

There are two spaces between `namespace` and `"istio-system"`.
The user ran `add-to-mesh`, not `kube-inject`, but the message says `kube-inject`.

[2019-10-02 16:08] sushicw opened #17560 "Analyzer for more than one gateway with the same host+port combination"
Kiali implementation: https://www.kiali.io/documentation/validations/#_more_than_one_gateway_for_the_same_host_port_combination

[2019-10-02 16:10] sushicw commented on #17499
You're absolutely right. Added an issue to track this one. Thanks for vetting these for me!

[2019-10-02 16:13] sushicw commented on #17506
You're right. I think I may have gotten this and https://www.kiali.io/documentation/validations/#_more_than_one_gateway_for_the_same_host_port_combination mixed up, and created an issue for the wrong one. :) An issue exists for the host/port combo now, so I'll close this one. Thanks for your sharp eye!

[2019-10-02 16:13] #17506 closed

[2019-10-02 16:15] howardjohn opened #17561 "Vault flow disabled since 1.3"
Example failures:

https://prow.k8s.io/view/gcs/istio-prow/logs/integ-k8s-116_istio_postsubmit/206
https://prow.k8s.io/view/gcs/istio-prow/logs/integ-k8s-114_istio_postsubmit/201

unfortunately seems like we aren't getting logs dumped properly here.. not sure why.

[2019-10-02 16:17] howardjohn commented on #17561
Found it! https://prow.k8s.io/view/gcs/istio-prow/logs/integ-security-k8s-tests_istio_postsubmit/202
Logs: https://storage.googleapis.com/istio-prow/logs/integ-security-k8s-tests_istio_postsubmit/202/artifacts/sds-vault-flow-test-99fe695d2e0/_suite_context/istio-state-371262463/istio-ingressgateway-797d9b44b4-822c8-istio-proxy.log
https://storage.googleapis.com/istio-prow/logs/integ-security-k8s-t

[2019-10-02 16:18] prestonvanloon commented on #1430
Following up on this. It's officially Q4 (last update due Q1). Can we get any update on this?

[2019-10-02 16:30] pitlv2109 commented on #17551
@nixgadget Did you fix it by upgrading your GKE cluster to 1.3? If so, feel free to close this one.
@rcaballeromx Another one.

[2019-10-02 16:31] pitlv2109 commented on #17512
No rush. I assigned it to all the people who touched the security test code base before. We can do this post 1.4 or after the code cut.

[2019-10-02 16:34] howardjohn commented on #17561
https://prow.k8s.io/view/gcs/istio-prow/logs/integ-k8s-113_istio_postsubmit/204

[2019-10-02 16:39] ericvn opened #17562 "Multi-cluster scenario fails unless an update is forced (1.3.x regression)"
Running through the instructions multi-cluster, shared control plane example on my two clusters and the example works as described.

There is another example in the documentation that uses a BookInfo deployment on cluster 1, and the review-v3 app is stopped, but started on cluster 2. In the example, hitting the product page should result in all 3 reviews being hit and alternating between red/black

[2019-10-02 16:40] ericvn commented on #17562
@howardjohn @sdake mentioned you might be interested in this.

[2019-10-02 16:42] lambdai commented on #17305
The magic is not attributed to warm up.
ListenerImpl is destructed only if all the connections are drained. Search for `DrainingListener`
If wasm is allowed to access ListenerImpl after drained, more than scope could be broken.

My point is not design anything just to resolve scope

[2019-10-02 16:51] pitlv2109 commented on #17561
We turned off "support" for Vault since Istio 1.3.

[2019-10-02 16:53] pitlv2109 commented on #17541
FYI I don't think @yangminzhu is able to look at this any time soon, but we can keep this one open.

[2019-10-02 16:55] lei-tang commented on #17561
ingress-gateway has a different SDS flow (compared with workload sidecar) in which node agent fetches a certificate from k8s secret. sds_vault_flow test deploys on workload sidecar, not ingress gateway.

[2019-10-02 16:56] howardjohn commented on #17561
I am not sure what you mean, the logs look like ingressgateway is trying to talk to vault?

[code]

[2019-10-02 18:13] ozevren commented on #16559
@jasonwzm any updates on this?

[2019-10-02 18:14] frankbu commented on #17562
There may be more than one problem here, but one thing that is definitely wrong is that the config in step 2 of [the instructions](https://preliminary.istio.io/docs/examples/multicluster/gke/#deploy-bookinfo-example-across-clusters) is a using a different version than what's used in step 1 (bookinfo.yaml). So the doc needs to be updated.

To avoid this problem in the future, I would suggest replac

[2019-10-02 18:15] #14114 closed

[2019-10-02 18:16] carolynhu opened #17565 "tracking benchmark daily release failure fixes"
This ticket is to track the fixes of benchmark daily release issues.

[2019-10-02 18:17] gargnupur commented on #14265
@prabaharanit : Looks like some info on #14261 should have helped you fix this.. Please re-open if you still see this issue.

[2019-10-02 18:17] #14265 closed

[2019-10-02 18:18] incfly commented on #13174
Bug scrubbing
Closing since this can be fixed by changing configuration.

[2019-10-02 18:18] #13174 closed

[2019-10-02 18:19] incfly commented on #14197
This can be closed I believe? @diemtvu

[2019-10-02 18:19] #14197 closed

[2019-10-02 18:20] ozevren commented on #13485
I am closing this bug, as it is not actionable by itself. I believe the response that @nmittler provided is the right actionable item for this bug.
If you disagree, please reopen the bug, with a specific actionable item (i.e. enhancement proposal or bug repro steps).

Thanks

[2019-10-02 18:20] #13485 closed

[2019-10-02 18:20] incfly commented on #14362
Closing, I think this is done.

[2019-10-02 18:20] #14362 closed

[2019-10-02 18:21] gargnupur commented on #15097
Looks like a config question, that a config is taking a long time to cleanup.
@douglas-reid , @ozevren : any clue here? Is this expected?

[2019-10-02 18:21] incfly commented on #14362
Please state what is missing and left, and adjust the bug description if this needs to be reopened.

[2019-10-02 18:22] incfly commented on #12496
Closing as @yangminzhu suggests 1.0 is no longer supported, please file separate bug if you observe this in newer version that we supports.

[2019-10-02 18:22] #12496 closed

[2019-10-02 18:24] incfly commented on #16366
https://istio.io/news/2019/announcing-1.1-eol/ 1.1 is deprecated. Please file bug separately if you observe this in 1.2

/cc @JimmyCYJ  just FYI.

[2019-10-02 18:24] #16366 closed

[2019-10-02 18:26] incfly commented on #16669
@JimmyCYJ could you see if this is now supported?

[2019-10-02 18:30] incfly commented on #17473
I think this is most likely a misconfiguration issue, but pass to @pitlv2109 to take a look.

[2019-10-02 18:31] ozevren commented on #15097
This sounds more like a Mixer/caching related issue. Galley does not delay config propagation. A 4 minute delay would have been certainly noticeable in other parts of the system as well.

[2019-10-02 18:33] ericvn commented on #17562
Thanks @frankbu . I think that would fix the first part. Still two things to investigate:

1) Why do we need to apply/delete the DR to get things to work? Is this causing a config update that should have happened normally
2) Why does applying the DRs cause the application to fail?

[2019-10-02 18:34] nrjpoddar commented on #13791
This PR https://github.com/istio/proxy/pull/2434 adds reporting capabilities for client side SSL state.

[2019-10-02 18:34] incfly commented on #13606
I think we need to state more specifically what tests should be native env, as a feature request or bug. This can be stated in the code mauve one as a general goal.

[2019-10-02 18:34] #13606 closed

[2019-10-02 18:35] howardjohn opened #17567 "Implement endpoint subsetting in Pilot"
Currently Pilot sends the full set of endpoints to all backends. This has obvious scalability concerns -- If we have 1000 replicas then we need to send 1000 endpoints to 1000 envoys (n^2).

At some point, having more endpoints is not really useful. It would be optimal if instead we sent ~20-100 (some configurable amount) of endpoints. This would need to be done in a consistent manner. https://land

[2019-10-02 18:35] ericvn commented on #17562
With the DR applied, I see
[code]

[2019-10-02 18:38] incfly commented on #14650
Close as duplciates of https://github.com/istio/istio/issues/14650

[2019-10-02 18:38] #14650 closed

[2019-10-02 18:38] incfly commented on #16170
/cc @incfly @diemtvu

[2019-10-02 18:39] abhijitherekar commented on #17551
Thanks for the reply, Will try it once before closing the issue.

[2019-10-02 18:43] howardjohn opened #17568 "Flaky TestWorkloadAgentGenerateSecret test failure"
Example: https://prow.k8s.io/view/gcs/istio-prow/logs/racetest_istio_postsubmit/206

[2019-10-02 18:45] frankbu commented on #17562
@ericvn What DR are you applying? Are you applying it in both clusters?

[2019-10-02 18:53] duderino opened #17570 "Istio conformance tests need to warn against running on a production cluster"
https://github.com/istio/istio/issues/16615#issuecomment-525792250

[2019-10-02 19:00] howardjohn commented on #17567
A naive implementation shows scaling from 200 endpoints to 500 uses half the CPU with subsetting, Pilot CPU drops from 2 CPU to 1.5 CPU. I think this can be improved further, the current impl is not very efficient

[2019-10-02 19:00] lei-tang commented on #17561
Per offline discussion, a PR is created to disable this test for Istio 1.3: https://github.com/istio/istio/pull/17571

[2019-10-02 19:06] lei-tang opened #17572 "Support Vault integration in Istio 1.3"
**Describe the feature request**
Before Istio 1.3, Istio uses normal k8s JWT in its SDS flows.
Istio 1.3 uses Trustworthy JWT, which, unlike normal k8s JWT, is not recognized on Vault.

**Describe alternatives you've considered**
Provide a flag in Istio 1.3 to choose whether using Trustworthy JWT or using normal k8s JWT.

**Affected product area (please put an X in all that apply)**

[ ] Configura

[2019-10-02 19:07] xeor opened #17573 "Access to k8s service via LAN only possible if via same node"
**Bug description**

I got this setup..

* auth.mydomain.com resolves to 10.1.2.3 and the ip is handled by metalb using arp-mode
* istio-ingress > gateway-1 > auth.mydomain.com (keycloak)
* istio-ingress > gateway-1 > a.mydomain.com (contacts auth.mydomain.com)

`a.mydomain.com` are **only** able to contact `auth.mydomain.com` if `auth.mydomain.com` runs on the same host as `istio-ingress`

The er

[2019-10-02 19:11] kucerarichard commented on #1430
+1 UDP multicast for Infinispan to run out of the box with discovery,   currently using weavenet for this.

[2019-10-02 19:13] venomwaqar opened #17574 "Why istio's mixer logs are working differently for my case?"
**Bug description**
I have a DB in namespace `ns-restriction-demo-2` and a nodeJs application that is using that DB from namespace `ns-restriction-demo-1`. So I was trying to add authorization i.e. DB can only be access by one namespace (ns-restriction-demo-1), but when I enable the mixer logs, I realise that the source attributes are different.

**Expected behavior**
The source attributes should

[2019-10-02 19:17] PiotrSikora commented on #17425
Sigh, 1.3.2 was released without those tags again...

cc @duderino

[2019-10-02 19:18] PiotrSikora commented on #17425
@istio/release-managers-1-3 could you please tag repositories missing 1.3.2 tag?

[2019-10-02 19:21] duderino commented on #17425
@clarketm how hard do you think it'd be to fix this?

[2019-10-02 19:27] ericvn commented on #17562
You can only apply to the main cluster as it has the control plane.

[2019-10-02 19:30] ericvn commented on #17562
NOTE that this is a regression from 1.2.6.  On 1.2.6, I was able to get this running without needing to apply/delete the DRs. For this case I used my changed yaml. Your example changes above @frankbu did not cause the v3 pod to be started. The deployment was 0/1.

[2019-10-02 19:37] carolynhu commented on #17565
https://github.com/istio/tools/pull/404

[2019-10-02 19:41] clarketm commented on #17425
@duderino - This should not be difficult. Where can I help: Adding the tags or updating the current release scripts?

[2019-10-02 19:54] nmittler commented on #17570
@ozevren do we have a README for the conformance test framwork somewhere that I can update? Didn't see anything in `tests/integration/conformance`.

[2019-10-02 20:07] nixgadget commented on #17551
@pitlv2109 I've definitely fixed a similar issue related to SDS on EKS. On GKE, it was already upgraded to 1.3 so I never had such problems with SDS.

[2019-10-02 20:15] nixgadget commented on #17572
@lie-tang is trustworthy JWT supported in 1.2 ?

[2019-10-02 20:21] clarketm commented on #17425
@duderino
I am confused. The `istio/istio` `1.3.1` and `1.3.2` tags point to the same commit SHA. Is this intentional.

[code]

[2019-10-02 20:21] rlenglet commented on #17425
Yes, it is intentional.

[2019-10-02 20:31] frankbu commented on #17562
@ericvn fixes in https://github.com/istio/istio/pull/17577 and https://github.com/istio/istio.io/pull/5094 should bring up the v3 pod successfully. Can you try it, and if it works approve both PRs? Thanks.

[2019-10-02 20:45] ostromart opened #17579 "Move values_types.proto into same repo as charts"
https://github.com/istio/operator/blob/master/pkg/apis/istio/v1alpha1/values_types.proto
It makes more sense to have this in istio/installer since any changes to the charts should:
1. be accompanied with corresponding changes to the proto, if required
2. pass presubmit checks against the proto schema

[2019-10-02 20:58] nmittler commented on #17518
Agreed. As a first pass, let's just get the creation of the bootstrap file out of `pkg/envoy/agent.go`. We can sort out a way to remove it from pilot_agent later.

[2019-10-02 21:00] pitlv2109 commented on #17551
Sorry, that reply was meant for the OP, @abhijitherekar .

[2019-10-02 21:03] pitlv2109 commented on #17572
How will turning off trustworth JWT enable support for Vault? Trustworthy JWT is a mechanism to securely create and store jwt. Vault is a CA. They are not related to each other. Surely, using trustworthy JWT affects the Vault task on istio.io, but that task is just a simple toy example. Do we really expect users to run every service with the same identity?

cc @myidpt @costinm

[2019-10-02 21:08] lei-tang commented on #17572
@nixgadget Istio 1.2 uses normal k8s JWT.

[2019-10-02 21:14] myidpt opened #17582 "Fully verify that running multiple Citadels is supported"
**Describe the feature request**
Add integration tests to use multiple Citadels.

**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ X ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrast

[2019-10-02 21:18] howardjohn commented on #17573
Possibly related: https://github.com/istio/istio/issues/16458

[2019-10-02 21:20] lei-tang commented on #17572
This issue is not created to turn off trustworthy JWT. Under the section "Describe alternatives you've considered": Providing a flag in Istio 1.3 to choose whether using Trustworthy JWT or using normal k8s JWT is an alternative to keep the support of Vault integration (Istio 1.2 and 1.1 use normal k8s JWT and support Vault integration).
The task on istio.io provides an example that uses a k8s JWT

[2019-10-02 21:26] gotwarlost opened #17583 "istio-cni does not return an error when it cannot get pod information from k8s"
**Bug description**

If istio-cni is unable to get pod information, it logs a warning, finds that the number of containers for the pod is not greater than 1, skips injection and succeeds.

https://github.com/istio/cni/blob/c1b9ddf605584b098a9d8ff31622410a81afcaeb/cmd/istio-cni/main.go#L187-L189

It needs to fail fast in this case.

What happened in our case was that we had the cni plugin run as a

[2019-10-02 21:29] ozevren commented on #17570
No there is not. We can add one.

[2019-10-02 21:46] rlenglet commented on #17583
Other CNI plugins wait until the pod's info is available from k8s API, with a timeout. Istio CNI should be modified to do the same.

[2019-10-02 21:49] rlenglet commented on #17583
Note that this the default when installing `istio-cni` from any Istio version starting with 1.2.0.

[2019-10-02 22:00] clarketm commented on #17425
I manually updated the `1.3.2` tags for:
*  `istio/operator` using `istio/istio@1.3.2` -> [go.mod](https://github.com/istio/istio/blob/12c4d01552363362b49fce86f83b847b308b9b0d/go.mod#L165)
* `istio/installer` using `istio/operator@1.3.2` -> [installer.sha](https://github.com/istio/operator/blob/f754c5665bbf3a1a440ff4767ea41f34c370484b/installer.sha#L1).

I will work on updating the release script

[2019-10-02 22:04] rlenglet commented on #17383
Please cherry-pick.

[2019-10-02 22:06] mandarjog commented on #17583
@rlenglet  Is there a temporary mitigation? Can they use a more recent CNI with an older istio?

[2019-10-02 22:16] rlenglet commented on #17583
There is no workaround. Even the `master` implementation still has this issue.

[2019-10-02 22:26] howardjohn commented on #17583
Pilot regularly sees 30s propagation delay in pod info in heavy churn scenarios. I am surprised CNI does not run into the same, often. Maybe the delays are due to more caching in pilot

[2019-10-02 22:30] rlenglet commented on #17583
It may be masked by kubelet retrying starting the pod.

[2019-10-02 22:30] howardjohn commented on #17568
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17571/racetest_istio/1360

[2019-10-02 23:28] cscetbon commented on #15171
@andrewjjenkins still active on that ticket ? Sorry for pinging you several times but it's a blocker cause there are other impacts of setting the listen address to 127.0.0.1 on Cassandra. For example it changes the JMX RMI server hostname and prevent a client to connect to it etc... I probably can play with some java parameters but I definitely think it should be transparent.

[2019-10-02 23:39] carolynhu opened #17585 "Add all sets of configurations in benchmark job for centralized perf tool"
Here is a list of benchmark configurations we want to add for our perf-tool benchmark running job:

- [x]  Increase the number `qps` with fixed number of `conn` to gather `cpu` and `mem` data (with mixer enabled)

- [x] Increase the number `conn` with fixed number of `qps` to gather `p50`, `p90` and `p99` data (with mixer enabled)

- [x] flame graphs

- [x] disable mixer, then gather data for `cpu

[2019-10-02 23:41] jmagnusson commented on #17139
Setting env var `PILOT_DISABLE_XDS_MARSHALING_TO_ANY` to `true` on the `istio-pilot` deployment did indeed resolve this issue.

Seeing some *incredible* CPU spikes every 5 minutes though in a zero traffic staging cluster. With just a request per second or so, the pilot HPA maxes out the number of pods for a minute or so, and then back down.

Looking forward to @nrjpoddar's fix so we don't have to

[2019-10-02 23:54] howardjohn commented on #17139
@chadlwilson @jmagnusson on the master branch we do have this change. Can one of you try out master images? That is, `gcr.io/istio-release/proxyv2:master-latest-daily` and with the default `PILOT_DISABLE_XDS_MARSHALING_TO_ANY=false`.

I don't want to go through all the effort + waiting for a 1.3 release to find out it doesn't fix the problem.

Also if anyone has a way I could easily reproduce this

[2019-10-03 00:29] chadlwilson commented on #17139
@howardjohn I've removed the `PILOT_DISABLE_XDS_MARSHALING_TO_ANY` override and changed to use this image in one of our envs now.

Excuse my likely ignorance; but do I need to change the proxy image injected into app pods; or just the one within `pilot` itself?

[2019-10-03 00:30] sdake commented on #17474
@howardjohn is it blanket enviornment variables you want passed, or only `WHAT`?

[2019-10-03 00:34] howardjohn commented on #17139
Into app pods. you can do this mesh wide with `--set global.proxy.image` if using helm or if you just want to apply to a few proxies can override with https://preliminary.istio.io/docs/reference/config/annotations.html `sidecar.istio.io/proxyImage`

Pilot does have a proxy next to it but its not really doing much at all, it has a static config.

[2019-10-03 00:40] rcernich commented on #8772
@nrjpoddar, we should create a new issue to fix this.  That said, to me, this seems like a problem with the protobuf generation.  I'm not sure why it's generating different field names.  Given your example, I would expect the json to be using `allow_tls`.  Not sure why protobuf json serializer would be configured to use `allowTls` (iiuc).

[2019-10-03 00:43] nixgadget commented on #17549
This issue is not reproducible with version `1.2.7`.

[2019-10-03 00:47] chadlwilson commented on #17139
Got it; thank you sir. Rolling out now.

![image](https://user-images.githubusercontent.com/29788154/66091407-36f1ba00-e5ba-11e9-9d3f-d8fbcdda28ef.png)

[2019-10-03 00:49] howardjohn commented on #17474
Everything. There is tons of stuff that uses them -- HUB, TAG, ISTIO_VERSION, WHAT, etc

That being said, passing literally everything may break stuff, but I also don't think we want to special case what is passed through?

[2019-10-03 00:50] howardjohn commented on #17139
Sorry if my original message was confusing -- PILOT_DISABLE_XDS_MARSHALING_TO_ANY should be `false`. We have established that if we set it to `true` the issue is resolved, but pilot takes a major performance hit. What we want to verify is if we set it to `false` with the new images if its resolved as well.

Thanks for trying this out!

[2019-10-03 00:55] chadlwilson commented on #17139
Ack; understood. Possibly my visual diff was confusing. Above I am deleting the workaround/override for pilot's env to go back to the default value (`false`) and changing the proxy image.

[2019-10-03 01:01] howardjohn commented on #17139
perfect !

[2019-10-03 01:13] mandarjog commented on #17585
/cc @richardwxn

[2019-10-03 01:46] waret commented on #17559
This message is from func `getMeshConfigFromConfigMap` of istioctl/cmd/kubeinject.go, and called by both `add-to-mesh` and `kube-inject`. One way to solve this problem is to to pass the command through the parameter.

https://github.com/istio/istio/blob/f7858d54bea424b495d5b09c4685c1f45f6dcac3/istioctl/cmd/kubeinject.go#L57-L82

[2019-10-03 02:00] nrjpoddar commented on #8772
@rcernich I don’t think that’s would work. All the example configuration plus tests use camel case so the only way to fix it is to generate Marshal/Unmarshal for the top level Go struct which can serialize/deserialize it correctly.

I will file an issue for it.

[2019-10-03 02:06] waret commented on #17483
on my mac:
- without `DEFAULT_GOAL` or `complete...`, there are 249 possibilities
- with or without `DEFAULT_GOAL, but with `complete...`, there are 109 possibilities

on centos 7 vm:
- with or without `DEFAULT_GOAL, but with `complete...`, there are 109 possibilities

[2019-10-03 02:38] gotwarlost commented on #17583
FWIW, the pod object is created well before the CNI plugin launches in etcd. The call is a get as opposed to a watch (which could lag). IMO, the only times you should see this particular problem is if the K8s API itself is down, or has network connectivity issues, or some RBAC failure as in our case. In any case, the CNI should return an error instead of being a successful noop in this situation.

[2019-10-03 02:54] pythonton commented on #13938
I have a same problem.

The service is unvaliable from Gateway after modifies externalTrafficPolicy: Local.  However it is ok after externalTrafficPolicy: Cluster.

What can i do？

[2019-10-03 03:37] nrjpoddar commented on #17139
It would be good to understand how to reproduce it and if possible we can write some tests. This issue feels like something that can prop up again if serialization is not stable.

[2019-10-03 05:45] plumenator commented on #11971
I'm seeing this issue on version 1.3 and we're not using consul.

Described here:
https://discuss.istio.io/t/tcp-connections-terminate-periodically/3979

[2019-10-03 07:31] chadlwilson commented on #17139
So far things are looking good with the daily build mentioned above after ~7 hours. No connection drops observed.

I made the change at ~ 08:55 below - (i.e the blue `87444c67d` replicaset) and restarted deployments after that. Very low usage environment; and relatively small mesh; so can just see less spikey pilot CPU usage.

![image](https://user-images.githubusercontent.com/29788154/66107306-7d

[2019-10-03 07:58] VinothChinnadurai opened #17587 "Incoming Request logs are not observable at istio-proxy[Envoy] logs"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Traffic to the application is not observable at istio-proxy[envoy] level logs. We also would like to hear how to configure customized logs
**Affecte

[2019-10-03 11:42] pavelzhurov commented on #16126
@sebarys As far as I understood this annotation is set in the istio-sidecar-injector template. So, you can add any annotation that you want there. For example, I changed my template in this way:
`containers:
  - name: istio-proxy
…
    resources:
      limits:
        [[ if (isset .ObjectMeta.Annotations `sidecar.istio.io/proxyLimitsCPU`) -]]
        cpu: "[[ index .ObjectMeta.Annotations `sidecar

[2019-10-03 12:00] liamawhite commented on #16586
@incfly @diemtvu What's the current status on this?

[2019-10-03 12:04] liamawhite commented on #17186
Resolved by #17339.

[2019-10-03 12:04] #17186 closed

[2019-10-03 12:05] nak3 commented on #13850
This issue sometimes happen on my env with Istio 1.3.0 mTLS STRICT mode.

It does not happen on e2e tests anymore?

[2019-10-03 12:06] liamawhite commented on #15134
@irisdingbj @linsun Is this issue resolved?

[2019-10-03 13:48] mc1711 commented on #17439
An update, if I check the endpoint list I see that there are no endpoints for the atom-db. Below the related yaml

$kubectl get endpoints
NAME                              ENDPOINTS                                               AGE
atom-db                           <none>                                                  20m
atom-db-repl                      <none>

[2019-10-03 14:04] jmazzitelli commented on #17149
Kiali has some molecule tests - requires access to a cluster with Istio installed. These exercise the operator but could be used for testing kiali itself. We could share these or reuse them in Istio somehow. See: https://github.com/kiali/kiali/tree/master/operator/molecule

I have not looked at the Istio testing framework to see how we could plug into it. I assume the test framework just starts up

[2019-10-03 14:09] howardjohn commented on #17383
thank you all for helping get to the bottom of this!! Let's consolidate this into https://github.com/istio/istio/issues/17139 since it is the same issue

[2019-10-03 14:09] #17383 closed

[2019-10-03 14:18] nrjpoddar commented on #17383
Hi @prune998 please follow the comments in this thread: https://github.com/istio/istio/issues/17139#issuecomment-537728166 and try it out in your environment to see if the issue is addressed.

Feel free to comment/re-open if that's not the case.

[2019-10-03 14:25] esnible commented on #17149
@jmazzitelli I wrote an integration test verifying _istioctl_ can talk to Prometheus earlier this week.  Your tests could be structured similarly.

https://github.com/istio/istio/pull/17528

The Istio test framework is easy to use.  Write a function named `Test...` with `RequiresEnvironment(environment.Kube).`  The Run() method will be invoked only after an Istio cluster has been started.

[code]

[2019-10-03 14:31] seeruk opened #17590 "gRPC client unaware of connection failure, never reconnecting"
**Bug description**

At Icelolly we're using EKS to host our Kubernetes Cluster. We're running Istio 1.3.1 with mTLS enabled. We're in the process of migrating applications into Kubernetes, but otherwise we have applications running on EC2 instances, managed by Elastic Beanstalk.

In our EKS cluster we have a GraphQL server that consumes several other gRPC services. The gRPC services consumed by t

[2019-10-03 14:44] denniswebb commented on #17139
I'm not sure if I'm experiencing the same issue or not. After upgrading to 1.3.1 from 1.2.2, we started getting intermittent SSL failures accessing services through the istio-ingressgateway. Curl testing showed that ever 100 or so(rough estimate) requests would return `curl: (35) LibreSSL SSL_connect: SSL_ERROR_SYSCALL in connection to[REDACTED]:443`

I was able to recreate this on a separate clus

[2019-10-03 14:45] prune998 commented on #17383
will do in an hour. Thanks.

[2019-10-03 14:49] ericvn commented on #17562
@frankbu Tested changes on 1.2.6 and things came up and we had traffic to all reviews so from a doc standpoint this looks good.

We still have an issue on 1.3.x where something needs to trigger an update of the config to get traffic to flow to reviews-v3.

Also there is still an issue with applying the DRs in this multi cluster configuration causing the app to fail. This issue might warrant the cr

[2019-10-03 15:00] howardjohn commented on #17439
That seems like it could be the problem

[2019-10-03 15:07] mc1711 commented on #17439
Thanks John,

By the way according to kubernetes docs, service without selector not generating endpoints are a  valid configuration https://kubernetes.io/docs/concepts/services-networking/service/#without-selectors .. now is istio not handling at all this kind of scenario or is there a way or a workaround to make istio works?

[2019-10-03 15:07] Stono commented on #17533
Google have finally accepted they've got small amounts of packet loss between VM's in europe-west4, this started at the same time we pushed istio 1.3.0 through those environments.  At this point in time I'm relatively confident this is NOT actually an istio problem, but will confirm (and close) as I find out more in the coming days.

[2019-10-03 15:10] rshriram commented on #17305
Can we also isolate the issues as well? There are two filters at play here. the metadata exchange filter and the stats filter. If only metadata exchange is enabled, do we still see the memory leak?

[2019-10-03 15:17] howardjohn commented on #17439
@mc1711 correct me if I am wrong but when you have a service without a selector you have to make the Endpoint objects yourself

[2019-10-03 15:19] frankbu commented on #17562
Thanks @ericvn. I agree that we should open a separate issue about DRs not working in the multicluster env. I wonder if it's only a problem in the multi-network (gateways) config? Anyway, if you can open an issue describing how to setup the env to illustrate the problem you've seen, that would be great.

[2019-10-03 15:20] mandarjog commented on #17305
The issue is not present with only metadata exchange filter, I have tried it.
It does not excercise the stats path.

I am not seeing these ASAN failures with both filters in the sidecars.
It happens consistently at ingress. Ingress has more traffic, more config and more config churn.

[2019-10-03 15:23] mandarjog commented on #17305
@jmarantz yes we can repro the use after free, but not in a unit or integration test.

[2019-10-03 15:26] howardjohn commented on #17305
@mandarjog just to clarify, I put heavy load on sidecars and see this as well -- so I think its just that the ingress has more load so its more obvious

[2019-10-03 15:27] mandarjog commented on #17305
The leak is there. We are talking about asan failure here.

[2019-10-03 15:28] gtseres commented on #13708
@howardjohn could you please elaborate on what this does? I couldn't find something in Istio docs.

[2019-10-03 15:37] mc1711 commented on #17439
Yes John I do agree with you in principle.
If it is not a problem, I would keep this issue open as I need to investigate the deployment a bit further (this is an existing system). I need to understand if there is a specific reason why there are no endpoints (and everything it is still working fine) and if this is still a kubernetes valid configuration.

[2019-10-03 15:58] vadimeisenbergibm commented on #15321
@bruse-peng Are you able to perform the request from inside the `Nginx-php` container? Calling `localhost/php/` and `localhost/php/phpinfo.php`?

[2019-10-03 16:01] ericvn opened #17591 "Shared control plane (multi-network), BookInfo, fails when DRs are applied"
**Bug description**

I set up a shared control plane (multi-network) environment, setup the BookInfo example, after applying the default destination rules, I get a 'upstream connect error or disconnect/reset before headers. reset reason: connection termination' error in the UI.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installatio

[2019-10-03 16:03] ericvn commented on #17562
Issue opened for failure after applying default DRs in BookInfo: https://github.com/istio/istio/issues/17591

[2019-10-03 16:04] #17048 closed

[2019-10-03 16:12] #17486 closed

[2019-10-03 16:22] duderino commented on #17533
Ummm, yay?

Thanks @Stono for finding the needle in the haystack.

[2019-10-03 16:28] nrjpoddar commented on #17533
@duderino conflicted feelings? ;)

[2019-10-03 16:29] duderino commented on #17533
Exactly ;)

[2019-10-03 16:41] vadimeisenbergibm commented on #15861
@kinash000 So can this issue be closed, since it looks like a duplicate of https://github.com/istio/istio/issues/16473 ? The problem is related to the init container restarted on OpenShift, it is not Istio's fault.

We are going to make Istio resilient to the init container restarts, there is another issue for it https://github.com/istio/istio/issues/16768.

[2019-10-03 17:14] costinm commented on #14988
We already support
pilot:
  env:
    key: val

This works for all env variables - the current model is to treat this as 'escape hatch', and if there is
broad use we can add it as a proper API in mesh config or Sidecar/networking proper API.

In this case - it doesn't feel like a good candidate for a global setting, but something that should
be adjustable per workload, so an annotation or sidecar A

[2019-10-03 17:14] #14988 closed

[2019-10-03 17:17] costinm commented on #15467
The PRs seem to be merged, closing this bug.

Note that Kiali has its own operator and we should stop maintaining duplicated installer for kiali ( like we  are planning to do for CertManager, Prometheus, etc).

[2019-10-03 17:17] #15467 closed

[2019-10-03 17:20] costinm commented on #16705
We are currently discussing removal of hostPath - the install is insecure without PodSecurityPolicy which installer doesn't currently manage.

The new UX will be much simpler, with no user-visible settings besides enabling/disabling Citadel and
possibly setting a CA address in mesh config. I don't think it's worth spending too much time on the hostPath-based charts.

[2019-10-03 17:20] #16705 closed

[2019-10-03 17:21] howardjohn commented on #13778
Effectively duplicate of https://github.com/istio/istio/issues/9177

[2019-10-03 17:21] #13778 closed

[2019-10-03 17:21] howardjohn commented on #8350
Duplicate of https://github.com/istio/istio/issues/13778

[2019-10-03 17:21] #8350 closed

[2019-10-03 17:21] howardjohn commented on #14795
@geeknoid added some new gen-checks that will run `go mod tidy` and others and check git status, so I am closing this as done

[2019-10-03 17:21] #14795 closed

[2019-10-03 17:22] howardjohn commented on #16181
This is still an issue

[2019-10-03 17:22] howardjohn commented on #17324
Working on this.. should be done by 1.4

[2019-10-03 17:25] howardjohn commented on #17324
Bumped to P0 -- we cannot ship operator as a stable solution with nightly images

[2019-10-03 17:26] costinm commented on #17245
Unlikely to happen in 1.4 - helm is needed. I agree it would be better to split istioctl out of istio/istio, and even revisit the decision to have a single binary that links everything in.
However with the plan to move config to Mesh.yaml and start reducing the dependency on helm, and possibly the number of components - we may be better off waiting until this stabilizes, and just stop using templa

[2019-10-03 17:30] costinm commented on #17472
I'm not sure this conversion is the right path - so far the agreement seems to be that mesh.yaml will
be the primary config, and as such components should directly use mesh.yaml and stop using values.yaml. Translation doesn't seem to help anyone and it's not a long-term value or worth complicating the code. We can keep using the existing values.yaml settings without translation for things that are

[2019-10-03 17:30] #17472 closed

[2019-10-03 17:30] howardjohn commented on #8306
Closing as this is standard across components, and this is a year old. The comment no longer exists so I assume this is desired to have 2 ports

[2019-10-03 17:30] #8306 closed

[2019-10-03 17:38] prune998 commented on #17139
Using the latest Envoy proxy image everything seems to be fine.
Proxy (Ingress Gateway) keeps beeing deconnected from Pilot without any effect on the current connexions :
[code]

Waiting for next release of Istio which include the new Envoy now :)

[2019-10-03 17:39] prune998 commented on #17383
Seems to solve the issue. I commentend in the other thread. Maybe we can close this issue ?
https://github.com/istio/istio/issues/17139#issuecomment-538048560

[2019-10-03 17:43] Stono commented on #17465
:wave:

[2019-10-03 17:57] sushicw opened #17595 "Support Limiting config analysis to a specified namespace"
The analyzer framework should support limiting analysis to a specified namespace.

1. [ ] If running in Galley and Galley is limited in scope to a namespace, that instance of Galley should only be writing status field updates for resources in that namespace. IIRC Galley doesn't yet support this limiting, but should.
2. [X] If running via istioctl (e.g. `istioctl x analyze`) and --namespace is spec

[2019-10-03 18:10] howardjohn commented on #10160
We should probably still do some refactoring, but we need to be aware of ServiceEntry, EndpointSlice as well -- there will soon be at least 5 representations of an Endpoint

[2019-10-03 18:24] howardjohn commented on #12446
I don't think there is a real issue here. Ingressgateway is blocked by Pilot, which is blocked by galley which is blocked by citadel. When you do an initial install it can take some time for all the components to get ready. That's why there have been some discussions around consolidating components.

If you do have additional info then feel free to open a new issue

[2019-10-03 18:24] #12446 closed

[2019-10-03 18:45] howardjohn commented on #15461
Please reopen with config once you have it. Thanks! See https://github.com/istio/istio/wiki/Troubleshooting-Istio#collecting-information-2 for help with this

[2019-10-03 18:45] #15461 closed

[2019-10-03 18:48] howardjohn commented on #15809
I think this should be fixed by https://github.com/istio/istio/pull/17460

[2019-10-03 18:48] howardjohn commented on #15704
Lets track in https://github.com/istio/istio/issues/15809

[2019-10-03 18:48] #15704 closed

[2019-10-03 19:09] howardjohn commented on #15776
Closing as duplicate of https://github.com/istio/istio/issues/15972

[2019-10-03 19:09] #15776 closed

[2019-10-03 19:11] howardjohn commented on #15972
I think the state of this is:
* Any protocol we support needs to be supported by Envoy (since that is what it means for us to support a protocol)
* If there is a protocol supported by envoy that we don't yet support, it shouldn't be that much work for us to add support
* Any protocol that needs UDP is blocked by https://github.com/istio/istio/issues/1430
* Any protocol that is not UDP and not supp

[2019-10-03 19:11] #15972 closed

[2019-10-03 19:16] jwendell commented on #16275
Attempt to fix this: https://github.com/istio/istio/pull/17599

[2019-10-03 19:54] jmagnusson commented on #17139
@denniswebb your app pods needs the gcr.io/istio-release/proxyv2:master-latest-daily image as well. Most easily fixed by applying the helm charts again with `global.proxy.image: gcr.io/istio-release/proxyv2:master-latest-daily` (if you’re using helm that is)

[2019-10-03 19:54] jmagnusson commented on #17139
Also you need to restart the pods afterwards for the new istio-proxy image to be used

[2019-10-03 19:58] nrjpoddar opened #17600 "Generated client-go doesn't marshal/unmarshal correctly"
**Bug description**
The `json` and `protobuf` tags differ in the generated go code for any fields which are declared snake case in the proto file and all Istio examples/tests use the CamelCase json tag used in the `protobuf` tag. Here's an example [proto field](https://github.com/istio/api/blob/33a483a29b8e654f7542b1939871d899eeb14da9/authentication/v1alpha1/policy.proto#L63) and it's correspondin

[2019-10-03 20:38] yacut commented on #17469
@howardjohn do you need more information?

[2019-10-03 20:50] lambdai commented on #17465
Simulated how listener config is generated, I think the conflict is not originated from port conflict 8318 vs 8317.
Instead it's two services(sftp and sftp-internal) select the same endpoints: 10.194.21.183:8318
Pilot is generating 2 listeners for pod 10.194.21.183. Both of listeners use the identifier `10.194.21.183:8318`.
That is why pilot generate that error message.

I don't think istio is cur

[2019-10-03 21:00] echavez opened #17602 "invalid memory address or nil pointer dereference when enabling SDS"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
I can't enable SDS on istio 1.1.15 running on Openshift.
I always get the same error on the istio-nodeagent pods
[code]
**Affected product area (ple

[2019-10-03 21:06] gargnupur commented on #15458
@athertahir : did your problem get solved by using Http?
Also, this is more of a question, so closing this bug and can you please take conversation further on discuss.istio.io?

[2019-10-03 21:06] #15458 closed

[2019-10-03 21:07] gotwarlost commented on #17583
We have ditched istio-cni for init for now and gone back to our crappy, slow init mechanism that involves finding docker container pids and so forth. FYI, this is no longer on the critical path for us.

Our decision is related less to this bug than with race conditions with pod scheduling on new nodes where the CNI plugin execution can be missed for a regular pod. I will document those cases elsew

[2019-10-03 21:21] #16979 closed

[2019-10-03 21:21] #17454 closed

[2019-10-03 21:43] israel-hdez commented on #16890
OK, I also have it working using class E range. So I'm closing this issue.

[2019-10-03 21:43] #16890 closed

[2019-10-03 21:48] gotwarlost commented on #14327
Even after setting the priority classes to `system-node-critical`, the istio CNI/ calico race is pretty severe and happens often in our cluster (where we use the cluster autoscaler to scale out nodes just in time when pods are pending; this increases the odds of a non-critical pod being scheduled on the node as soon as it comes up).

We have ditched istio-cni because of this. What we saw today was

[2019-10-03 23:25] mandarjog opened #17604 "EnvoyFilter API potentially doing non deterministic serialization"
We had deployed 2 envoyFilters, stats and metadata exchange.
There is only 1 pilot running and here is what is seen at a proxy.

[code]
And after some time
[code]

This cause frequent listener drains.

[2019-10-03 23:25] mandarjog commented on #17604
Note: `vm_config` is serialized in 2 different ways.

[2019-10-03 23:26] mandarjog commented on #17604
This exacerbates #17305 .

[2019-10-03 23:26] mandarjog commented on #17604
/cc @kyessenov

[2019-10-03 23:32] kyessenov commented on #17604
Chaos testing!

[2019-10-03 23:39] gargnupur commented on #15296
@sylus : did you get this working? can you share your config for exposing Kilali for https, to see where it can be going wrong?

Also, this is more of a question and not a bug, thus closing the bug and can you please take this conversation further on discuss.istio.io?

[2019-10-03 23:39] #15296 closed

[2019-10-03 23:42] gargnupur commented on #15097
@ozevren : Thanks for the info...
@yxun : Can you repro this issue and share the logs of mixer policy pods when this is happening?

[2019-10-03 23:47] gargnupur commented on #15885
@bmonteiro : Closing this, as haven't heard back from you. Please re-open with more details.

[2019-10-03 23:47] #15885 closed

[2019-10-03 23:57] gargnupur commented on #16359
Looks like this is by design: https://github.com/istio/istio/blob/0fd6e72e348617041bb622134f9ee16aad7cef8d/mixer/pkg/runtime/dispatcher/session.go#L208

@kyessenov : closing the bug as this looks by design. But please re-open if you feel otherwise.

[2019-10-03 23:57] #16359 closed

[2019-10-04 00:05] gargnupur commented on #17110
Looks like everything is done here and bug can be closed...

[2019-10-04 00:05] #17110 closed

[2019-10-04 00:27] chadlwilson commented on #17139
Things still looking good after 24 hours. No connection drops observed.

@denniswebb I'm no expert, but my sense is that your issue is something different. This issue was about dropping of **long-lived** connections `app -> sidecar -> mesh_external`; whereas yours seems to be about brokenconnection attempts `app -> ingress_proxy -> sidecar` or `app -> ingress_proxy` (i.e ingressgateway -> sidecar)

[2019-10-04 00:31] mdhume commented on #16818
@ayj @howardjohn @ozevren Is this present in any release? I don't see it in 1.3.1. Can we get this rolled out in 1.3.2?

[2019-10-04 00:36] ayj commented on #12621
They're different problems. The sidecar injector config is explicitly defined in the top-level YAML and is cleaned up by `kubectl delete` (good). However, it will be left around if only the istio-system namespace is removed (bad). @lei-tang is working on some istioctl tooling to manage the webhook lifecycle from the command line. That won't be available until 1.4+. In the meantime, the safest way

[2019-10-04 00:45] chadlwilson commented on #17139
Just a note for those keen to get this fix into their envs - looks like this might only make Istio `1.3.3` since `1.3.2` is reserved for the HIGH severity security patch to Envoy coming 8th Oct
* https://discuss.istio.io/t/upcoming-security-updates-in-istio-1-1-16-1-2-7-1-3-2/3905
* https://groups.google.com/forum/#!topic/envoy-announce/TOkx6pYFong

[2019-10-04 01:15] kyessenov commented on #15662
Looks like the referenced stale samples are gone, and the new samples in installation repo are updated. Closing. Thanks @BradErz !

[2019-10-04 01:15] #15662 closed

[2019-10-04 01:49] Janesee3 commented on #17521
I realised that this wouldn't work because we are sending https traffic directly out from the `curl` container which means that the traffic would be opaque to the proxy sidecar.

Our original intent was to implement outlier detection for HTTP traffic that is promoted to HTTPS via the sidecar. Outlier detection is working fine after we made that tweak.

[2019-10-04 01:49] #17521 closed

[2019-10-04 02:36] truongnh1992 commented on #11366
Hello, I wonder whether if Envoy could run through CNI plugin instead of sidecar, how many Envoy proxy container are there in each node? For example, worker node has 2 pods, does each pod has 1 envoy container or 1 Envoy container serves many pod?

[2019-10-04 02:38] Stocco commented on #17533
Hey @Stono  we've just deployed  1.3.1 from 1.1.7 two days ago and we saw an increase in our 5xx errors - especially the  random 'DC' ones.. The percentage is still low, but is happening too much frequently and its making us want  to go back to  1.2.x versions.
Are you back on 1.3.x versions again?

[2019-10-04 03:01] #16725 closed

[2019-10-04 03:07] howardjohn commented on #15411
In your example with the wordpress chart, why is it easier to inject annotations, which may or may not be configurable in all helm charts, rather than just adding an extra resource?

If the chart just has a top level `{{ .Values.extraConfig }}` or something, then you can just add in all of your Istio CRs there. From the helm install perspective it is the same, you just are setting a different valu

[2019-10-04 03:11] howardjohn commented on #17471
This seems working as intended. Its not clear what is expected - you disabled citadel and things that depend on citadel stopped working. Please reopen with more info if there is more details you can provide

[2019-10-04 03:11] #17471 closed

[2019-10-04 03:15] howardjohn commented on #16937
How fast? your ttl is only 40s, is it expiring faster than that?

Can you attach some config dumps please https://github.com/istio/istio/wiki/Troubleshooting-Istio#collecting-information-2

[2019-10-04 03:30] howardjohn commented on #13616
Sounds like this is a duplicate of https://github.com/istio/istio/issues/7136?

[2019-10-04 03:30] #13616 closed

[2019-10-04 03:35] howardjohn commented on #15688
Duplicate of https://github.com/istio/istio/issues/17035

[2019-10-04 03:35] #15688 closed

[2019-10-04 03:35] howardjohn commented on #17035
Working on fixing this

[2019-10-04 03:37] howardjohn commented on #16155
I think you added this, preconfigured.yaml does not have any VirtualServices in istio/istio. The whole preconfigured stuff is completely untested and different that istio/istio, where it was also problem untested

[2019-10-04 03:41] howardjohn commented on #17208
`istioctl x manifest generate --set values.gateways.istio-ingressgateway.type=NodePort` seems to work, is this sufficient or are you asking for something else?

[2019-10-04 03:41] howardjohn commented on #17216
https://github.com/istio/api/pull/1101

[2019-10-04 03:43] howardjohn commented on #14793
I don't think there is any strong demand for this

[2019-10-04 03:43] #14793 closed

[2019-10-04 03:44] #14138 closed

[2019-10-04 03:49] howardjohn commented on #14523
I personally don't see the value added. We have demo (small) and default (medium) already. Large profile doesn't make much sense, as anyone with large deployments should not be using cookie-cutter profiles and instead will want to customize it (which we should document).

[2019-10-04 03:50] howardjohn commented on #15264
This seems to exist in the operator already? `--set hub` works

[2019-10-04 03:51] howardjohn commented on #15245
Is this still planned?

[2019-10-04 03:52] #16560 closed

[2019-10-04 03:54] howardjohn commented on #16899
@ostromart is this still an issue?

[2019-10-04 03:55] sdake opened #17609 "Create tool to generate intermediate CAs"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Intermediate CAs must be manually generated.  The manual process is not easy requiring many manual error-prone steps.  It took me about 2 hours to get through the instructions the first time and the results were not correct.  I had it down to about

[2019-10-04 03:57] howardjohn opened #17610 "Migrate off deprecated daily builds"
https://discuss.istio.io/t/deprecation-notice-daily-builds/3991/2

Daily builds are deprecated, we should move all usages over to the per commit builds

[2019-10-04 04:02] howardjohn commented on #15349
Related: https://github.com/istio/istio/issues/17546

[2019-10-04 04:03] howardjohn commented on #15272
Done https://istio.io/docs/setup/install/operator/?

[2019-10-04 04:03] #15272 closed

[2019-10-04 05:23] myidpt commented on #17609
Temporarily assign this to myself. I really want to get this done but it got delayed for various reasons. I should get this done sometime after 1.4 and before EOY. Anyone please feel free to take it if you want to contribute.

[2019-10-04 05:51] rajusharma commented on #14660
<details>
<summary>config_dump</summary>
[code]
</details>

[2019-10-04 06:22] Stono commented on #17533
Stocco I rolled one cluster back to `1.2.6` and saw the same issues, hence why I believe it to be the GCP packet loss.

[2019-10-04 06:24] Stono commented on #17465
Which is fine, I don't want istio to support them.  They aren't part of the mesh and are edge services for receiving FTP and SFTP, so I need a way to tell istio not to attempt to generate the listeners for `8318`, as you can see above i've explicitly said `includeInboundPorts: 8317`

[2019-10-04 06:44] lambdai commented on #17465
I think sidecar is the solution. It is supposed to filter the inbound and outbound services.
https://istio.io/docs/reference/config/networking/v1alpha3/sidecar/
But I don't have enough knowledge to give your the exact config working for you

[2019-10-04 07:28] chadlwilson commented on #17549
@nixgadget You could close this issue yourself if you feel it is now resolved :)

[2019-10-04 08:56] crhuber commented on #16778
We are also having the same issue: Adding this to the virtual service worked

[code]

[2019-10-04 09:23] nixgadget commented on #17549
@chadlwilson As originally stated this is still an issue on `1.3.1`.

[2019-10-04 09:36] planetf1 commented on #6324
I agree that a real fix likes in #k8s, but the perception is that by enabling istio (auto injection), an existing application is broken where it uses jobs. Without that being addressed having the issue closed seems uncomfortable - whilst I recognize it's hard to fix. This is the case even though this isn't istio specific, but a k8s sidecar issue.

At a minimum I would suggest adding some caveat in

[2019-10-04 09:38] chadlwilson commented on #17549
Ahh, sorry @nixgadget - my bad - misread as `1.2.1`.

[2019-10-04 10:37] mc1711 commented on #17439
@howardjohn I think I figured out the issue with my configuration.

The configuration has:
  - 3 postgres pods (db-0,db-1,db-2), one is the master the other two are replicas.
  - 2 Services (db, db-repl). One to expose the master pod the other to expose the 2 replicas.

[code]

The deployment is done via a postgres operator. The operator creates the 3 pods and then it injects inside each pod a lab

[2019-10-04 11:10] lhotrifork commented on #17139
I can confirm that upgrading envoy to `gcr.io/istio-release/proxyv2:master-latest-daily` as mentioned in https://github.com/istio/istio/issues/17139#issuecomment-537736840 seems to fix the issue. We're using the default value for `PILOT_DISABLE_XDS_MARSHALING_TO_ANY`
Will keep monitoring over time, but so far I've not seen any errors.

[2019-10-04 11:57] #17559 closed

[2019-10-04 13:47] Stono opened #17613 "Something not quite working with retry"
**Bug description**
Hey,
Hopefully I'm just being an idiot as I'm tired and it's the end of the week but take the given config:

[code]

My app takes 2-5ms to respond so about 30% of them fail, however the retries aren't happening.  I just get a single failure with one retry to the upstream:

<img width="1680" alt="Screenshot 2019-10-04 at 14 46 19" src="https://user-images.githubusercontent.com/1

[2019-10-04 13:49] ericvn commented on #16890
I just ran through the docs using Istio 1.3.1 on IKS and things worked as expected.

[2019-10-04 13:57] Stono commented on #17613
In fact looking into this more, things that used to be retried by istio automatically (503)s don't seem to be being retried either:

<img width="1680" alt="Screenshot 2019-10-04 at 14 57 00" src="https://user-images.githubusercontent.com/1486729/66213265-4b67ac80-e6b7-11e9-96b1-d653f70ef28a.png">

Has anything changed in the retry login in 1.3.1?

[2019-10-04 14:01] howardjohn commented on #17439
I think this would work on Istio 1.3, what version are you using?

cc @hzxuzhonghu @mandarjog another case of label updates

[2019-10-04 14:03] howardjohn commented on #17139
Thank you all for testing! just to be clear, our daily images are not
really suited for production usage, and change every day, so they may not
be stable. I recommended them only to test out this issue - use at your own
risk.

On Fri, Oct 4, 2019, 4:11 AM Lasse Højgaard <notifications@github.com>
wrote:

[2019-10-04 14:05] mc1711 commented on #17439
I'm using 1.2.5

[2019-10-04 14:24] mandarjog commented on #17516
@Stono any update here?

[2019-10-04 14:32] BernhardLenz opened #17614 "readinessProbe failing with "separate Port" setup"
**Bug description**
To test the readinessProbe with Istio mTLS enabled I'm following the instructions of
https://istio.io/docs/ops/app-health-check/

However when I move the readinessProbe to a different port by applying "samples/health-check/liveness-http.yaml" the readinessProbe still fails.

I suspect that separate policies/destination rules need to be created for that port that are not mention

[2019-10-04 15:24] Stono commented on #17516
Hey really sorry, been really busy with the 504 issue.
Yes this looks like its stablised now:

<img width="1600" alt="Screenshot 2019-10-04 at 16 24 07" src="https://user-images.githubusercontent.com/1486729/66219606-6809e180-e6c3-11e9-91fe-25f4b3bd8f48.png">

I'll close this off!

[2019-10-04 15:24] #17516 closed

[2019-10-04 15:51] ozevren commented on #16818
The change seems to be in master only now. I tagged it to be cherry-picked
into 1.3. If the release managers are ok with it, it should appear in the
next 1.3.x release.

On Thu, Oct 3, 2019 at 5:32 PM Mrunmayi Dhume <notifications@github.com>
wrote:

[2019-10-04 15:57] Stono commented on #17613
OK I'm getting more confident that this is a problem, and challenge anyone to actually prove on `1.3.1` that retries actually work.

I have two apps:

`istio-test-app-1`, which calls `istio-test-app-2`
[code]

`istio-test-app-2` which sometimes takes more than 1s to return
[code]

As you can see here, no retries:
<img width="1680" alt="Screenshot 2019-10-04 at 16 55 58" src="https://user-images.gi

[2019-10-04 16:24] Stono commented on #17533
OK so Google are still having this issue and I'm confident that it's the source of my issues however, I've noticed that despite retry policies being in place, istio is not retrying the timeouts despite being configured to do so, as a result our apps aren't as tolerant as they should be.

https://github.com/istio/istio/issues/17613#issuecomment-538457757

[2019-10-04 16:54] howardjohn opened #17617 "TestAnalyzers test failures (deadlock)"
Example failure: https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/16967/racetest_istio/1496

I know this is not the only failure since I have seen a few in the past, but we need to fix the testgrid (https://testgrid.k8s.io/istio_istio#racetest_istio&exclude-non-failed-tests=&width=20) because apparently we have too many results in it, so I can't link to all of them right now. I w

[2019-10-04 16:55] howardjohn opened #17618 "New test, TestIstioctlMetrics, flaky"
Failures:
* https://prow.istio.io/view/gcs/istio-prow/logs/integ-k8s-112_istio_postsubmit/172
* https://prow.k8s.io/view/gcs/istio-prow/logs/integ-k8s-112_istio_postsubmit/169

[2019-10-04 16:56] XanderStrike commented on #17246
Does `relect_test.go` appear in the istio repository? I can't seem to track it down

[2019-10-04 17:09] #14336 closed

[2019-10-04 17:28] rshriram commented on #17613
looking at istio-test-app2, yiu have per try timeout set to 1s - ie no more than one retry per second. and you also have the global timeout set to 1s. so it will effectively only do one per second.

[2019-10-04 17:41] Stono commented on #17613
I've removed `perTryTimeout` and the same thing happens, I've updated my example to reflect that

[2019-10-04 17:45] Stono commented on #17613
Logs from the `istio-test-app-1` sidecar showing no retries:

[code]

[2019-10-04 17:54] hilliao commented on #17473
I made the image repository in the deployment file public. @pitlv2109 should be able to deploy easily to any cluster with egress Internet access.

[2019-10-04 18:20] kyessenov commented on #17613
I'm actually seeing something similar in my experiments. What should we see in envoy logs when retries kick-in?

[2019-10-04 18:22] rshriram commented on #17613
I dont know but certainly something indicating retries I guess. I am surprised that such a basic feature broke. The config does not seem to have changed from 1.2.

[2019-10-04 18:23] JimmyCYJ commented on #17175
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17550/unit-tests_istio/1503

[2019-10-04 18:34] lambdai commented on #17613
The log from istio-test-app-1 is convincing. Clear and simple: C18 is the downstream connection, C9 is the connection to app2 and the 1s timeout happens
Do you have the envoy config dump of istio-test-app-1 so that envoy config saying, hey, if the upstream istio-test-app-2 is timeout, I would retry 3 times?

[2019-10-04 18:36] lambdai commented on #17613
The envoy config dump is the signal to isolate control plane and dataplane

[2019-10-04 18:41] rshriram commented on #17613
[code]

[2019-10-04 18:44] rshriram commented on #17613
This is from a previous attempt, but it shows that we are configuring the retries as we used to do so in 1.2.

[2019-10-04 19:22] lambdai commented on #17613
reproduced on my machine. Will debug

[2019-10-04 19:51] lambdai commented on #17613
Run some experiment and retry succeeds.
1. set timeout higher than per_retry_time_out.
[code]
2. Please append a `gateway-error` in retryOn
`retryOn: connect-failure,refused-stream,unavailable,cancelled,resource-exhausted,retriable-status-codes,gateway-error`

List my route config as reference
[code]

[2019-10-04 20:00] gargnupur commented on #13433
I think we should definitely add envoys access log test, as we are moving a lot of mixer functionality to envoy..

[2019-10-04 20:18] gargnupur commented on #15117
I think this is not yet done completely?

[2019-10-04 20:19] gargnupur commented on #16555
@douglas-reid : we can close this now right? Looks like this is done..

[2019-10-04 20:40] Stono commented on #17613
This really doesn't work:

[code]

As you can see here, no retry, just a 2s timeout:

<img width="1680" alt="Screenshot 2019-10-04 at 21 34 23" src="https://user-images.githubusercontent.com/1486729/66238254-0e1f1100-e6ef-11e9-9f87-4ecc97f8f1fb.png">

Interestingly there is no `per_try_timeout` in the route config for `istio-test-app-1`'s sidecar
[code]

[2019-10-04 20:44] elfinhe commented on #17223
Happy to take this one, thanks!

[2019-10-04 20:49] gargnupur commented on #4695
@Disturbing : Would you guys be able to post the work-around?

[2019-10-04 20:49] Stono commented on #17613
So as `gateway-error` wasn't there, that got me thinking "is the config being pushed to the proxy", so I changed the timeout to 1000s, and that was pushed fine, however, `gateway-error` was still not there nor was the `per_try_timeout`.

<img width="1039" alt="Screenshot 2019-10-04 at 21 49 15" src="https://user-images.githubusercontent.com/1486729/66239061-d9ac5480-e6f0-11e9-8fdc-35e9a26270ab.png

[2019-10-04 20:51] elfinhe commented on #15843
@howardjohn, @ostromart, to be clear, this was discussed in the [upgrade design doc](https://docs.google.com/document/d/1OdnfyBai5ytjQy6lwU1KWOVgRHf-RSIRDLx_SFpOXGE/edit#heading=h.5ngf21150qdg).

We will NOT include this migration in the `istioctl upgrade` command, but will probably propose a new sub-command like `istioctl manifest apply --migrate` or `istioctl manifest generate --migrate`, which

[2019-10-04 21:30] lambdai commented on #17613
It seems to be a control plane bug. Will verify and fix

[2019-10-04 21:31] howardjohn commented on #17223
@elfinhe sorry I thought this is what you were already working on. Feel free to unassign if that's not the case -- I didn't intend to give you more work, just make github match reality.

[2019-10-04 21:32] howardjohn commented on #17617
https://prow.k8s.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/229
https://prow.k8s.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/227

[2019-10-04 21:35] howardjohn commented on #17147
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17615/racetest_istio/1526

[2019-10-04 21:35] howardjohn commented on #16998
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17616/integ-security-k8s-tests_istio/1494

[2019-10-04 21:46] kyessenov commented on #17437
Envoy uses request ID to correlate requests across hops for tracing and logging. Typically, Envoy generates one for external origin requests and for internally generated requests due to this flag https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/http_connection_manager/v2/http_connection_manager.proto#envoy-api-field-config-filter-network-http-connection-manager-v2-httpconne

[2019-10-04 21:46] kyessenov commented on #17437
Please use https://discuss.istio.io for further questions.

[2019-10-04 21:46] #17437 closed

[2019-10-04 22:20] howardjohn commented on #16887
Left todo
* Get operator integrated again
* Determine what to do for repos like `istio/pkg` that are not directly depended on. Include in source? Include in manifest? Include in tagging of repos?
* Finalize the github publish code.
* Get release validation tests

[2019-10-04 22:23] cgetzen commented on #15411
I would love it if that was standard (_a la_ monochart), but I can't find any stable chart that includes a top level extra config.
With charts within our org, we bake istio CRDs into the chart itself.
With charts in helm's stable repository, the overwhelming standard is to allow extension through annotations. We would have to copy and modify them to allow istio to be configured through the chart.

[2019-10-04 22:25] kyessenov commented on #17147
Is this a real failure or a flake? I think Mixer non-galley backend is on life support, so this will fix itself naturally when galley is integrated fully.

[2019-10-04 22:26] kyessenov commented on #17147
Marking as area/config as that seems to be the right owner to fully deprecate old Mixer's config backend.

[2019-10-04 22:36] howardjohn commented on #15411
I think an alternative solution that may work is by extending a chart with requirements.yaml. For example, you make a chart `WordpressWithIstio`, and in it you put all your istio CRDs for the chart. Then in requirements.yaml you just depend on stable/wordpress. I've never tried it but my understanding is that would work.

I think that would solve copying the charts (although you do need your own c

[2019-10-04 22:57] sushicw commented on #17617
It looks like the point where we're blocked is the call to WaitForReport. It's not yet clear to me if we get to the point where the analyzers execute (that's getting logged at too low of a level to appear in the logs).

@ozevren you were mentioning running into this the other day, did you have any specific insights?

[2019-10-04 23:38] justrohan opened #17627 "Failed to create Istio Control Plane: admission webhook "pilot.validation.istio.io" denied"
I am currently runnning a single node cluster using microk8s to deploy kubeflow,
when I try to apply the generated files by kfctl, the following issue occurs:

**ERROR: Failed to create Istio Control Plane: admission webhook "pilot.validation.istio.io" denied the request: unrecognized type ClusterRbacConfig  filename="existing_arrikto/existing.go:457"**

Any ideas what could be causing this , or w

[2019-10-04 23:51] rlenglet commented on #17199
The `proxy_debug` image is not tested either. Both need tests.

[2019-10-05 00:25] Disturbing commented on #4695
Yes, I’ll have the team post a blog post sometime this month. And also just
something a bit more raw here soon

On Sat, Oct 5, 2019 at 4:50 AM Nupur Garg <notifications@github.com> wrote:

[2019-10-05 00:39] ostromart opened #17628 "Move pkg/controller and pkg/helmreconciler to Istio logging"
Custom logging in these packages should be removed and migrated to common Istio logging framework.

[2019-10-05 02:26] EvertonSA commented on #467
I also have this requirement but I'm fully working with Istio. Is it possible to integrate GCP Cloud IAP to Istio Ingress ?

[2019-10-05 05:21] bappr commented on #4695
@gargnupur FYI we are running Istio on Kubernetes.
The workaround is not very sexy but it works, we are exposing nginx with basic auth as a side car of the main container/application and using environment variable with `envsubst` to configure it.

Here is our nginx conf
[code]

And the command to start the container

[code]

[2019-10-05 08:14] waret commented on #17587
The latest code supports update logging level of spedified logger by command `istioctl proxy-config log <pod-name[.namespace]> --level debug`. Maybe this can help you. Please refer to https://github.com/istio/istio/pull/17339.

[2019-10-05 12:33] jpatters opened #17631 "JWT policy not working"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
No matter what I do I cannot get end user authentication via jwt to work. I've followed https://istio.io/docs/tasks/security/authz-http/ and got it

[2019-10-05 13:17] ramaraochavali opened #17632 "Duplicate Inbound cluster errors in Pilot logs"
**Bug description**
When a Proxy returns multiple Instance IPs in node metadata but the with the same container port, Pilot complains of duplicate clusters in logs.

Here is the instance IP in Node metadata
` "INSTANCE_IPS": "10.251.130.131,fe80::42:aff:fefb:8283",`

and Pilot logs
[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ]

[2019-10-05 16:06] howardjohn commented on #17627
I'm not sure this CRD even existed with Istio 1.0... I would highly recommend installing a modern version of Istio. 1.0 has not been supported for a while and therefore has a lot of security vulnerability and critical bug fixes missing that have been fixed in new versions

[2019-10-05 16:08] chadlwilson opened #17635 "Strip internal mesh-machinery headers when sending requests/responses out of mesh"
**Describe the feature request**

In a couple of situations Istio's default configuration exposes internal mesh-machinery headers outside of the mesh; either to callers or callees.

_Ingress Gateway_
* **Response** header `x-envoy-upstream-service-time`

_Egress Gateway_
* **Request** headers such as `x-forwarded-client-cert`, `x-forwarded-proto`, other `x-forwarded-*` headers, `x-envoy-decorator-

[2019-10-05 16:09] chadlwilson commented on #15766
Somewhat related to #17635

[2019-10-05 16:15] Stono commented on #17613
@lambdai did you find the issue?

[2019-10-05 17:13] geeknoid commented on #17520
https://github.com/istio/istio.io/pull/5096 and https://github.com/istio/istio/pull/17626 address this issue. Now all that's left is actually writing the per-message doc page.

[2019-10-05 17:42] douglas-reid commented on #17574
Please move this question to our discussion forum: discuss.istio.io.

That is the appropriate place for questions and answers about general mesh behavior.

Thanks for your understanding.

[2019-10-05 17:42] #17574 closed

[2019-10-05 19:55] jpatters commented on #17631
I was able to get things working successfully with mTLS turned off. But that's obviously not ideal.

[2019-10-06 02:34] gbhojak commented on #16171
We are struggling with this issue as well. Any workaround without disabling Istio based authentication would be be really helpful.

Giriraj

[2019-10-06 06:57] vadimeisenbergibm commented on #16464
@dhineshbabuelango do you still have any questions regarding egress gateway mutual TLS?
If you have more questions, please ask them at [discuss.istio.io](https://discuss.istio.io).

Closing this issue since it is neither a bug nor enhancement.

[2019-10-06 06:57] #16464 closed

[2019-10-06 07:12] vadimeisenbergibm commented on #16806
@jfeddern

The solution is to use your initial configuration, but with two different `Gateway` resources, for example `istio-egressgateway-google` and `istio-egressgateway-cnn`, and reference these gateways in the VirtualServices.

[code]

[code]

[2019-10-06 07:13] vadimeisenbergibm commented on #16806
@jfeddern closing the issue, please let me know if it does not work for you.

[2019-10-06 07:20] vadimeisenbergibm commented on #17031
@rshriram Please note that the port 443 does not necessarily means that the traffic arrives to the port 443 with TLS already originated. Consider the example at https://github.com/istio/istio/issues/17031#issuecomment-531760062. The user issues an HTTP request to the port 80, Envoy redirects it to port 443 and performs TLS origination. This is how TLS origination is performed in Istio today.

[2019-10-06 07:30] vadimeisenbergibm commented on #17139
@lhotrifork So should this issue be closed?

[2019-10-06 07:36] vadimeisenbergibm commented on #17265
@sarathprasath-krishnaswamy The issue is due to your configuration of ALB ingress. It probably performs TLS termination of the traffic that arrives to the port 443, and directs HTTP traffic to the port 80 of Istio ingress gateway. The Istio ingress gateway forwards it as HTTP to the service. This is how you configured the ALB and Istio, there is no Istio bug here, Istio operates as expected.

Clos

[2019-10-06 07:36] #17265 closed

[2019-10-06 07:41] vadimeisenbergibm commented on #17418
@cart I think this is by design, this is the current implementation of dedicated control planes multi-cluster. The special gateway is just a passthru gateway. cc @rshriram @sdake.

[2019-10-06 07:45] vadimeisenbergibm commented on #17418
@cart To clarify my previous answer, the passthru gateway does not perform TLS termination, so it does not see HTTP information and cannot perform routing based on the HTTP information.

[2019-10-06 07:56] #12522 closed

[2019-10-06 08:03] vadimeisenbergibm commented on #15186
@bradenwright Could you please clarify what exactly you are trying to achieve and what is currently working?

Do you want to route a request that arrives to `istio-public` ingress gateway, 100% either to frontend-blue.sb2-app.svc.cluster.local or to frontend-green.sb2-app.svc.cluster.local ?

And it works with 50/50 but does not work with 100% routing to one of the hosts?

[2019-10-06 08:22] lhotrifork commented on #17139
@vadimeisenbergibm I'm not sure how it's usually done with Istio. Should we wait until the fix is actually released or just close it now? Fine by me either way.

[2019-10-06 08:28] vadimeisenbergibm commented on #17139
@lhotrifork I think once the issue is fixed in master, it should be closed.

[2019-10-06 08:29] lhotrifork commented on #17139
@vadimeisenbergibm cool! We'll close it now then.

[2019-10-06 09:26] dapseen commented on #8301
@jensendw using true in place of 0.0.0.0:0 can help

[2019-10-06 12:28] GrigoriyMikhalkin commented on #11692
@AtomWyq I have same problem. Have you found solution to it?

[2019-10-06 14:51] howardjohn commented on #17031
@vadimeisenbergibm I just sent a PR out s few days ago that blocks all http traffic in port 443, since doing so will break outbound traffic. Are you saying that will break this use case?

[2019-10-06 17:14] ericvn commented on #17562
I did slack @howardjohn and decided to try and run the scenario yet again on Istio 1.3.1 against my IKS clusters. I generated some dumps after setting up Istio and BookInfo on the cluster. This was with BookInfo installed on cluster 1 with reviews-v3 removed and just reviews v3 was placed on cluster 2. I did use the newer changes in preliminary.istio for the deploy in cluster 2 (see above for issu

[2019-10-06 17:24] ericvn commented on #17591
Closing as user error, need to use the mtls version of the DRs, and also non-reproducible at the moment.

[2019-10-06 17:24] #17591 closed

[2019-10-06 18:10] thecodejunkie opened #17638 "Split istio/install/kubernetes/helm/istio/charts/security/templates/create-custom-resources-job.yaml into multiple templates"
**Describe the feature request**
All other Helm templates produce 1 file per template, however the `create-custom-resources-job.yaml` creates several resources in a single file. This makes it more complicated if you work with automation or things like Anthos Config Managment

**Describe alternatives you've considered**

Break up `create-custom-resources-job.yaml` into multiple templates

**Affecte

[2019-10-06 18:29] ericvn commented on #17562
I even tried going back to 1.2.6 where this scenario worked fine, and finding that it's not.

I'm wondering if something happened in my clusters since my prior work on this which is affecting the results.

[2019-10-06 18:30] howardjohn commented on #17638
In the new operator, where we are focusing most of our efforts, we will not longer have these jobs that create resources. I'm not really sure the jobs are needed in the current helm install either though, maybe we could remove them there as well

[2019-10-06 19:19] thecodejunkie commented on #17638
@howardjohn thanks for your reply. How would I figure out if those jobs are needed with Istio 1.3.1? Removing it would make my life easier 😄

[2019-10-06 19:40] howardjohn commented on #16998
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17625/integ-security-k8s-tests_istio/1542

[2019-10-06 19:49] howardjohn commented on #17638
(on phone, so this is based on memory) the jobs are creating Istio CRs like DestinationRule or something. My guess is this is done as a job rather than directly due to either

* race condition with the CRD being applied. This is not an issue now since we have the split `istio-init` chart
* race condition with the galley validation webhook. Consider: webhook created, then DestinationRule created. G

[2019-10-06 20:10] thecodejunkie commented on #17638
So if I apply `istio-init` first, then it should be OK?

[2019-10-06 21:10] ericvn commented on #17562
As this isn't reproducible at the moment, I am going to close this issue.

[2019-10-06 21:10] #17562 closed

[2019-10-06 23:21] howardjohn commented on #17308
Please reopen if you see this again. Thanks

[2019-10-06 23:21] #17308 closed

[2019-10-06 23:22] #14551 closed

[2019-10-06 23:22] #12695 closed

[2019-10-06 23:22] #12598 closed

[2019-10-06 23:23] #17436 closed

[2019-10-06 23:23] #15707 closed

[2019-10-06 23:23] #16130 closed

[2019-10-06 23:24] howardjohn commented on #15354
Not enough info to reproduce. If you are still seeing this issue feel free to reopen with more info. Thanks!

[2019-10-06 23:24] #15354 closed

[2019-10-06 23:24] #15703 closed

[2019-10-06 23:26] howardjohn commented on #17469
Thanks for the info! This may be the same issue as https://github.com/istio/istio/issues/16970 which was recently fixed it looks like

[2019-10-06 23:29] howardjohn commented on #17130
I think this is fixed in 1.3 and https://github.com/istio/istio/pull/17637 will likely improve it even further in 1.4 if not. Thanks!

[2019-10-06 23:29] #17130 closed

[2019-10-06 23:29] #17208 closed

[2019-10-06 23:45] howardjohn commented on #8076
@GregHanson I know you made a somewhat similar API change recently, do you know if it is backwards compatible to change this from a string to something we can distinguish from `nil` and `empty` (StringWrapper?)

[2019-10-06 23:48] howardjohn commented on #8841
@ostromart this seems to be basically what you are working on right now.

[2019-10-06 23:51] howardjohn commented on #14430
This means DNS lookup is failing, right? DNS traffic is not capture by envoy generally I think, unless its using TCP for the lookups

[2019-10-06 23:54] howardjohn commented on #12528
Consolidate with https://github.com/istio/istio/issues/14367

[2019-10-06 23:54] #12528 closed

[2019-10-07 00:00] howardjohn commented on #16536
I am not sure how to proceed here. If there are no endpoints, generally that means that all replicas for the sidecar injector are "not ready". Is it possible the pod was just evicted or something which led to 0 replicas available for a small period of time?

[2019-10-07 00:01] #15861 closed

[2019-10-07 00:36] howardjohn commented on #16998
Can someone take a look at this? I'm pretty concerned this is a real bug we are ignoring as a "flake", which is something we do a lot. These tests used to pass 100% of the time and now fail very often.

[2019-10-07 01:55] chadlwilson commented on #17635
I just noticed that in our `ServiceEntry` configurations for egress we have neglected to designate them as `location: MESH_EXTERNAL`. If this affects the way headers are set/propagated (which seems plausible) this may be the reason the request headers are there. We will re-test to verify.

[2019-10-07 02:10] ericvn commented on #15131
#15706 was created for the creation a new multi cluster test framework. I'm not sure at this point if the split horizon test is the best first choice for a test with that framework. I know there is on-going work to create single-mesh multi-cluster install guides based on best practices. The plan is to have tests for each of the documented cases. Some of that work can be found at https://github.com

[2019-10-07 02:23] ericvn commented on #15706
There is on-going work to create single-mesh multi-cluster install guides based on best practices. The plan is to have tests for each of the documented cases. Some of that work can be found at https://github.com/philrud/istio-multicluster-examples. This issue would be for creating the first test using the framework.

[2019-10-07 02:24] ericvn commented on #15131
This might be a duplicate of #15706

[2019-10-07 03:42] howardjohn commented on #17618
https://prow.k8s.io/view/gcs/istio-prow/logs/integ-k8s-112_istio_postsubmit/180

interesting it only seems to fail in kubernetes 1.12? maybe a coincidence though

[2019-10-07 05:38] elfinhe opened #17643 "'istioctl x upgrade': add supported version check"
`istioctl x upgrade` in 1.4 only supports a limited number of versions. The command should be able to read both the client version and remote contro plane versions and check the eligibility.

[2019-10-07 05:40] elfinhe opened #17644 "`istioctl x upgrade`: add values comparison between the generated values and the values installed in the cluster."
This is used for checking unintended behavior changes during the upgrade caused by changes in default values.

[2019-10-07 05:46] elfinhe opened #17645 "'istioctl x upgrade': apply the upgraded manifests into the existing cluster."
Add logic in `upgrade` to apply the manifests generated for the upgraded version.

This may also include the improvements on the `apply` logic in operator:
https://github.com/istio/istio/issues/17236
https://github.com/istio/istio/issues/15217

[2019-10-07 07:53] saurabhygk commented on #15517
Any update on this feature? Or is there any workaround to specify caCertificate only available for relevant pod?

[2019-10-07 08:12] vadimeisenbergibm commented on #15517
@saurabhygk no updates yet, sorry.

[2019-10-07 08:20] vadimeisenbergibm commented on #17031
@howardjohn yes, it will break this use case. We should probably start using some other port at the egress gateway for TLS origination. We can allocate the ports for the egress gateway in the following way:

Port 80: HTTP in, HTTP out
Port 443: TLS in, TLS out
Port 8443 (or some other port): HTTP in, TLS out

And then we should update the Istio deployment to add the port for tls origination to the

[2019-10-07 08:46] luksa commented on #11366
Each pod has its own envoy container, just like in the normal Istio behavior.

Anyway, I no longer think running the sidecar through CNI makes much sense. We've been able to fix all the issues and no longer need this hack. But, on the other hand, new Kubernetes features will make the idea of running a container that Kubernetes isn't aware of, much less hacky - I'm referring to pod runtime classes

[2019-10-07 08:48] #17632 closed

[2019-10-07 08:49] yacut commented on #16970
Thank you @howardjohn. I don't think it's part of the 1.3.2 release, so I'll wait for 1.4.x.

[2019-10-07 10:09] chershma opened #17646 "HTTP PATCH call failing when istio is active on pod"
our  k8s is 1.13.5
Istio is 1.2.5 and installed with helm and the default values

We have a pod that sends all sort of calls to a remote service.
The GET, POST, PUT calls succeed, but a PATCH call fails.

We have used istio default setup, and are not blocking/altering any traffic with it.
But we tested and confirmed that once we configure the pod with sidecar.istio.io/inject: "false" this PATCH ca

[2019-10-07 10:22] illidan80 opened #17647 "Istio CNI prevents remote connections via NodePort"
**Bug description**

Istio CNI (e.g. "--set istio_cni.enabled=true") prevents remote connections via NodePort. For example, opening Telnet to NodePort fails from anything but "localhost" (even fails from 127.0.0.1)

 If it disabled, everything works as expected.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking

[2019-10-07 11:34] mc1711 commented on #17439
@howardjohn  I updated to istio 1.3.0 and what I see is that the error on sidecar-proxy not ready is gone, but the postgres operator still not able to to label the pods.

[2019-10-07 12:23] jmarantz commented on #17305
@mandarjog are there detailed repro instructions then for a live server? Or maybe a fuzz test? Ideally it would be great to start with a failing test, otherwise how will we know if we fix it?

[2019-10-07 13:09] esnible commented on #17618
Looks like two different failures.

One failure is with the existing metrics test that I duplicated to gather the numbers for the CLI test:

[code]

The CLI failure is `error creating error stream for port 46573 -> 9091: Timeout occurred` talking to Prometheus.

[2019-10-07 14:05] howardjohn commented on #17031
Ok so that's purely a docs change? We just need to do something very soon since my change landed in master and 1.4 is cut  next week

[2019-10-07 16:21] elfinhe opened #17649 "istioctl x upgrade: add integ test for upgrade"
We'll cover the upgrade the scenarios below with some different profiles installed:
- 1.3.x -> 1.3.y
- 1.3.x -> 1.4.0

The test cases can be a script like [test_crossgrade.sh](https://github.com/istio/istio/blob/master/tests/upgrade/test_crossgrade.sh), or just improvement in the script.

[2019-10-07 16:31] howardjohn commented on #16998
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17625/integ-security-k8s-tests_istio/1542

I am pretty sure RBAC is not working properly on master..

[2019-10-07 16:58] chrisob commented on #10724
Any current plans to support the new label names in Istio? We're having to do some hacking to add the legacy `app` label in our clusters just for this issue.

[2019-10-07 17:21] yxun commented on #15097
@gargnupur @ozevren Here is the istio-policy pod mixer container log:

[issue-15097.log](https://github.com/istio/istio/files/3698650/issue-15097.log)

minikube version: v1.1.0
istio verion: 1.3.1
kubectl version: v1.14.2
istio was installed in `istio-system` ns and bookinfo was installed in `bookinfo` ns.

I applied the mixer-rule-deny-ip.yaml in bookinfo ns (log file line: 14+) . And then after

[2019-10-07 18:05] howardjohn opened #17656 "Distroless images rely on copying hacks for iptables"
Right now we are copying a bunch of libraries over into the distroless image. These may or may not be compatible with the distroless system, and are pretty hacky. We should be building our own distroless image with these baked in: https://github.com/bazelbuild/rules_docker#container_image-1

[2019-10-07 18:36] kyessenov commented on #17139
Did we identify the root cause of why config generation is unstable? Struct support is being removed once again, so we can no longer on that workaround soon.

[2019-10-07 18:40] howardjohn commented on #17139
Reopening since this is a P0 issue we need to make sure gets into a release-1.3 backport

@kyessenov https://github.com/istio/envoy/pull/109 is the fix, which seems to include a regression test for this?

[2019-10-07 18:42] kyessenov commented on #17139
That fix may or may not work depending on the root cause. The "fix" is basically doing text print out and hashing that. But any structural differences (e.g. list order changes) would still cause a reload.

[2019-10-07 19:11] thecodejunkie commented on #17638
@howardjohn thoughts? 😄

[2019-10-07 19:12] sushicw commented on #17617
Oldest examples I can find:
            Unit tests: 2019-10-04 18:49:34 +0000 UTC
            Racetest:   2019-10-03 17:40:14 +0000 UTC

These tests have been around for weeks before that, so this gives us some idea where to look for changes that triggered problems. Chatting with @ozevren, the most likely triggering commit is https://github.com/istio/istio/commit/8ce0867867d7d5538a70e1640d51d8b142

[2019-10-07 19:25] denniswebb opened #17660 "istio-ingressgateway randomly doesn't return certificate for request after 1.3.x upgrade"
**Bug description**
After upgrading to Istio 1.3.1 (also occurs on 1.3.0) we will get random SSL connection errors to resources behind the ingressgateway. Through Cloudflare, these are returned to the user as 525 errors, but going straight to the ELB with curl the error returned by curl is **curl: (35) LibreSSL SSL_connect: SSL_ERROR_SYSCALL in connection to httpbin.test:443**

Our clusters are ho

[2019-10-07 19:27] denniswebb commented on #17139
@chadlwilson Thanks. I opened #17660

[2019-10-07 20:27] justrohan commented on #17627
Thanks @howardjohn , I'm currently using microk8s, so that is the version with comes with it, is there anyway to update the istio for microk8s?

[2019-10-07 20:32] sushicw commented on #17443
Another important part of this: the structured validation message should output the name of the analyzer it was generated by. This will make it easier for users to hone in on the subset of analyzers to include (or, in the case of noisy false positives, exclude).

[2019-10-07 20:33] kyessenov commented on #15974
mixer/test/client tests are using native Envoy binary. We only provide a Linux build of istio/proxy, which means we only support these tests on Linux. Feel free to ignore the failures of these tests on non-Linux platforms. Sorry!

[2019-10-07 20:33] #15974 closed

[2019-10-07 20:34] howardjohn commented on #17627
Not very familiar, but it seems to support Istio 1.2?
https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/actions/enable.istio.sh

On Mon, Oct 7, 2019 at 1:28 PM Rohan Vaikkath <notifications@github.com>
wrote:

[2019-10-07 21:35] mkinoshi opened #17663 "Istio 1.2.4: Response bytes size changes between istio ingress and upstream service"
**Bug description**
Hey all, I'm stuck with one issue, and I hope you guys can help me with figuring out this issue. We have an API endpoint that returns PDF as steam response, and we have observed that response byte size occasionally gets smaller between istio ingress and upstream service. This is corrupting PDF. It only happens sometime for the same API endpoint. Here is the diagram that summari

[2019-10-07 21:52] weng271190436 opened #17665 "[Question] generate C# classes representing istio custom k8s objects such as VirtualMachine and Gateway"
Does anyone have an idea of how we can generate C# classes representing istio custom objects?

Or more specifically, is there a place where I can download istio object schema?

Thanks!

[2019-10-07 22:02] nesl247 commented on #17660
We just ran into this issue as well.

[2019-10-07 22:04] howardjohn opened #17666 "automtls Reachability test flakes"
Example failures:

https://prow.k8s.io/view/gcs/istio-prow/logs/integ-security-k8s-tests_istio_postsubmit/241
https://prow.k8s.io/view/gcs/istio-prow/logs/integ-k8s-112_istio_postsubmit/192

[2019-10-07 22:09] howardjohn commented on #17638
@thecodejunkie you definitely need to install istio-init first, regardless of the create-custom-resource job. The init job creates all the CRDs which are prerequisites for all of the other components

[2019-10-07 22:27] howardjohn commented on #17665
https://github.com/istio/api has the protobufs for all of our objects

[2019-10-07 22:44] denniswebb commented on #17660
@neal247 You on EKS or AWS?

[2019-10-07 22:48] mandarjog commented on #17305
@jplevyak @kyessenov I used the latest istio proxy image. `gcr.io/istio-release/proxyv2:master-20191004-09-15` and did not see a memory leak.

[2019-10-07 22:49] abhijitherekar opened #17667 "With Istio-1.3 the envoyFilter for external-Auth (INBOUND) doesn't work."
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
In Istio 1.3.1 when we create the EnvoyFilter external auth, the Istio-pilot fails to push the config to the Envoy SideCar.

**Affected product area

[2019-10-07 22:50] israel-hdez commented on #17527
@rnkhouse Question: are you getting the errors when you run the port-forward command? or are you getting the errors when you try to access Kiali in the browser?

[2019-10-07 22:55] sushicw commented on #882
This should all be in master and working now.

This issue covered a lot of ground, though, so consider this a last call for comments before closing.

[2019-10-07 23:02] abhijitherekar commented on #17667
@rshriram  @howardjohn I see the following commits in 1.3.1 that went in the envoyFilter package:   https://github.com/istio/istio/pull/15561
https://github.com/istio/istio/pull/15639

Please, can you guys help me narrow down what could be wrong? or if its really broken?

[2019-10-07 23:11] carolynhu opened #17670 "operator: upgrade e2e test for using istioctl x upgrade command"
Currently, we only tested istio upgrade using helm template. We also need to add e2e test using `istioctl x upgrade` command.

[2019-10-07 23:29] nesl247 commented on #17660
GKE using the istio helm chart.

[2019-10-07 23:48] abhijitherekar commented on #17551
Closing the issue as it works with kubernetes 1.13.

[2019-10-07 23:48] #17551 closed

[2019-10-08 00:11] #17453 closed

[2019-10-08 00:15] abhijitherekar commented on #17667
here is my Istio-1.2.5 envoyFilter

[code]

[2019-10-08 01:05] abhijitherekar commented on #17667
Is there a way in Istio-pilot to make sure the Config pushed to the envoy SideCar?
Or should I check some config in Istio to make sure that the EnvoyFilter config is not getting blocked? Becasue, I see the OUTBOUND filter getting pushed to envoy sideCar.

[2019-10-08 01:07] incfly commented on #14524
Action item, resolving comment here about label in EDS memory footprint, @

[2019-10-08 01:14] liminw commented on #8619
The OIDC effort is driven by @nickrmc83 and @peterhaochen47.

[2019-10-08 02:26] hzxuzhonghu commented on #15954
@bzurkowski I can not imagine the proxy is in tcp mode, why the pings not passed through?

[2019-10-08 02:36] rshriram opened #17674 "sidecar fails to marshall json for accesslog and metrics service"
#17661 fixed the decoding of JSON arguments into the proto after #17495 [though the entire thing used to work before #17495 and #17478 ]. After #17661 the gateways are now getting the proper JSON configs and pilot agent is able to decode them into the RemoteService proto. However the sidecars are now failing to decode the data!

The gateway receives this as the cli arg (camel case)
[code]
and corr

[2019-10-08 02:38] rshriram commented on #17674
cc @nmittler / @joeyb / @ramaraochavali

[2019-10-08 03:22] #17554 closed

[2019-10-08 05:09] hitesh1907nayyar opened #17676 "VirtualService file for istio from nginx"
Hi All ,

I am new to istio.I am planning to migrate from nginx to istio and want to convert the ingress file mentioned below to virtual service file for istio.

   apiVersion: extensions/v1beta1
  kind: Ingress
  metadata:
    name: ingress-ui
    annotations:
      kubernetes.io/ingress.class: nginx
  spec:
    rules:
      - host: test.tech.co
        http:
          paths:
            - backen

[2019-10-08 06:12] dangtrinhnt-mmt commented on #5837
I also have the same question as of today, 2019.

[2019-10-08 06:16] lhotrifork commented on #17139
@kyessenov what kind of logs would be helpful in order to figure out the root cause?

[2019-10-08 06:24] mailzyok opened #17678 "Why the libc++ and libc++abi are not installed for proxyv2 image in 1.3?"
Hi,

I found two libraries libc++ and libc++abi are missing for proxyv2 image in 1.3, however these libraries are used to fix the security VA in Istio 1.2.5.

Any reason?

See the purpose of these two libraries in my previous ticket https://github.com/istio/istio/issues/16568

Thanks,
mailzyok

[2019-10-08 07:00] kyessenov commented on #17139
@lhotrifork Getting envoy config dump for LDS before and after observed reloads without config changes in between would help. If we look at LDS dump, we can probably find what code is responsible for producing it, and what part of it is unstable with respect to some random ordering.

[2019-10-08 07:39] nkorange opened #17679 "Pilot crashed when receiving MCP data with 8 million endpoints"
I have tested the MCP protocol between Pilot and my MCP server. I found when I sent a large set of service data to Pilot, Pilot crashed from time to time.

![image](https://user-images.githubusercontent.com/4593375/66471607-324b6b00-eabe-11e9-8646-3c200d68e0d5.png)

This happened when my MCP server generates about 130,000 services and about 8,000,000 endpoints to push to Pilot.

Note that if I cha

[2019-10-08 08:24] nkorange commented on #17679
It seems Pilot crashed:
![image](https://user-images.githubusercontent.com/4593375/66379371-e29a7000-e9e7-11e9-95cb-69d3c95ee255.png)

The resource limit of Pilot is 4 CPU and 8G memory.

I will increase this resource limit and test again.

[2019-10-08 09:09] nkorange commented on #17679
I increased the resource limit of Pilot to 8 CPU and 16G memory.
Still got multiple ACKs:
![image](https://user-images.githubusercontent.com/4593375/66382540-fa74f280-e9ed-11e9-84a9-c386d8815f09.png)

And the connections are keeping closing:
![image](https://user-images.githubusercontent.com/4593375/66382602-17112a80-e9ee-11e9-8879-e36b0a4e8d9d.png)

I invoked ```curl '127.0.0.1:15003/debug/regist

[2019-10-08 09:38] cippaciong commented on #15977
Hello, I would like to bump up the issue because I just faced the same error described here with Istio 1.3.1 deployed in a local cluster created with Kind.
The steps to reproduce are exactly the same:
- Download the latest release (1.3.1)
- Apply the `istio-demo` profile with `kubectl apply -f install/kubernetes/istio-demo.yaml`
I didn't use helm .

This is the configmap generated for Kiali:
[code

[2019-10-08 11:05] prune998 commented on #17139
I did that (somewhat) in the other issue : https://github.com/istio/istio/issues/17383#issuecomment-535142546

Does it dump LDS conf ? (I think so...)
Maybe it's just the way Envoy reveives it, not the content ?

[2019-10-08 11:07] morvencao opened #17680 "Inconsistent API group version for operator"
Currently we use `istio.io` as API in register code, see: https://github.com/istio/operator/blob/master/pkg/apis/istio/v1alpha2/register.go#L19

But for mesh binary, we're using `install.istio.io` as API group, check the readme file, you'll see that.

Also the API group in deployment yaml maifests is till v1alph1

[2019-10-08 11:12] jpatters commented on #17631
I finally got this figured out. I think it's mostly a documentation issue. What it came down to was that the default policy that was enabling mtls was being overridden by the policy that was applying the jwt configuration. The documentation lead me to believe that both policies would apply. I'm not sure why it lead me to believe that though.
I think the only thing actionable would be to state it s

[2019-10-08 11:28] jpatters commented on #13957
Instead of introducing another syntax for matching strings, I think it would be nice to add some consistency to the apis and use `StringMatch` like in `VirtualService` and `Gateway`.
ie:
[code]

[2019-10-08 11:29] jpatters commented on #16585
Instead of introducing a new key (`regex_paths`) I think it would be nice to add some consistency to the apis and use `StringMatch` like in `VirtualService` and `Gateway`.
ie:
[code]

[2019-10-08 11:49] jpatters opened #17681 "ServiceRole spec.rules.paths not working as expected"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
I have rbac enabled for my-service and I have a JWT policy in place. I have an application that allows anyone to POST to `/apps` (create an app). Th

[2019-10-08 12:26] howardjohn commented on #17679
Can you add logs from pilot when it crashed?

[2019-10-08 12:31] #17035 closed

[2019-10-08 13:52] ericvn commented on #12367
Looks like we are slightly ahead of schedule

[code]

[2019-10-08 13:57] ericvn commented on #12367
Looking at PRs, it appears that things are being kept up to date. I'm not sure if it's automated at this point or not.

I'll close this PR since things are good. Please reopen if it seems things are regressing in the home-brew repo.

[2019-10-08 13:57] #12367 closed

[2019-10-08 14:00] rnkhouse commented on #17527
@israel-hdez I mentioned command line logs in questions and also on the browser I am getting `Unauthorized` error even though I am using the correct credentials.

[2019-10-08 14:36] nmittler commented on #17674
@rshriram when you say that sidecars are now failing, are you seeing this on CI? Do you have any links?

[2019-10-08 15:18] howardjohn commented on #17305
Confirmed in master I don't see the leak

[2019-10-08 15:22] howardjohn commented on #17147
@kyessenov looks like a broken test:
[code]

Very understandable it fails, we are relying on 10ms precision in an environment that may get heavily throttled

[2019-10-08 15:25] esnible commented on #17272
@ozevren @sushicw I need your advice.  `istio.io/istio/galley/pkg/config/meta/metadata` provides collections for Kubernetes objects that Istio cares about: Endpoints, Namespaces, Nodes, Pods, Services, and Ingresses.

It doesn't know about Deployments at all.  This means I can't use the analysis framework to validate the use case Lin originally described to me: users putting Pod annotations on the

[2019-10-08 15:27] nrjpoddar commented on #17674
@rshriram it might be the same issue underneath as https://github.com/istio/istio/issues/17600

The `json` tags inside the `proto` tag are CamelCased but the `json` tag by itself are snake cased. That's how any field with `_` in proto get converted in `go`.

[2019-10-08 15:43] sushicw commented on #17455
Fixed in https://github.com/istio/istio/pull/17622

[2019-10-08 15:43] #17455 closed

[2019-10-08 15:47] davidebbo commented on #17272
I think adding adding Deployments makes sense. When I wrote my injection analyzer earlier (https://github.com/istio/istio/pull/17192), the framework didn't include Pods, so I had to add that.

But I'll let @ozevren or @sushicw confirm.

[2019-10-08 15:48] objectiser commented on #8965
It was decided that the Istio installer would only support a simple installation of Jaeger, and if more complex configurations were required they would be installed separately (e.g. via the jaeger operator) with Istio being configured to point to the external instance. See https://istio.io/docs/tasks/telemetry/distributed-tracing/jaeger/#before-you-begin

[2019-10-08 15:48] #8965 closed

[2019-10-08 15:52] esnible opened #17684 "Confusing `istioctl analyze` message "failed finding spec for group/kind""
To reproduce: `istioctl x analyze samples/bookinfo/platform/kube/bookinfo.yaml`

This logs 10 error messages, each looking like:
[code]

The kinds are /ServiceAccount and apps/Deployment.

See https://github.com/istio/istio/issues/17272 for the problem from the point of view of the API.  This Issue is from the point of view of the user of the tool.  They don't want to see log messages for internal

[2019-10-08 16:09] esnible opened #17686 "Analysis framework does not invoke analysis if some inputs types have no exemplars"
To reproduce:

Add `metadata.K8SCoreV1Namespaces` to the list of Inputs in the `Metadata()` method of any `analyzer.Analyzer`.

`make istioctl`, use the new build on a file known to have analysis errors, without `--use-kube`.  These errors will no longer be reported.  The `Analyze()` method is not called if the input includes `metadata.K8SCoreV1Namespaces` (and sometimes if the input includes `K8S

[2019-10-08 16:14] rshriram commented on #17674
see #17675 for fix for this issue.

[2019-10-08 16:18] ozevren commented on #17272
You can add deployments to the localAnalysis snapshot in the metadata file.

https://github.com/istio/istio/blob/9d9ede26ae0fe970cee0bce42beaa030ca6405d8/galley/pkg/config/meta/metadata/metadata.yaml#L564

You may also need to update the runtime code to ensure these can be read in their native form (as opposed to as unstructureds):
https://github.com/istio/istio/blob/9d9ede26ae0fe970cee0bce42beaa0

[2019-10-08 16:19] sushicw opened #17687 "Analyzer for RBAC requiring MTLS"
~mTLS is required for RBAC. If ClusterRbacConfig is anything but OFF, mTLS should be enabled.~ *EDIT: Not strictly true, see everything below including comments*

Actually, this is a bit more subtle since mTLS can be disabled globally but enabled selectively between services, and we need to handle those cases too. This means we need to be aware of what services / namespaces RBAC is enabled for in

[2019-10-08 16:24] #17680 closed

[2019-10-08 16:39] Phlak106 opened #17688 "DeepCopy Error When Importing Client-Go"
**Bug description**
When importing client-go compatible types e.g. ```istionetworking "istio.io/client-go/pkg/apis/networking/v1alpha3"``` go vet produces errors such as ```vendor/istio.io/client-go/pkg/apis/networking/v1alpha3/zz_generated.deepcopy.gen.go:16:9: in.Spec.DeepCopyInto undefined (type v1alpha3.DestinationRule has no field or method DeepCopyInto)```

**Affected product area (please pu

[2019-10-08 17:45] howardjohn commented on #17676
When you say its "not working" what does that mean? What are you seeing?

What version of Istio?

Please see https://github.com/istio/istio/wiki/Troubleshooting-Istio#collecting-information-2

[2019-10-08 17:47] selmanj commented on #17500
Fixed in #17623.

[2019-10-08 17:47] #17500 closed

[2019-10-08 17:49] howardjohn commented on #17688
@rcernich  @nrjpoddar

[2019-10-08 17:51] JRBANCEL commented on #16357
Here what we see in  `istio-1.3.1-12c4d01552363362b49fce86f83b847b308b9b0d-Clean`:

[code]

/open

[2019-10-08 17:51] JRBANCEL commented on #16357
/reopen

[2019-10-08 17:52] geeknoid commented on #17272
We've now updated annotations.yaml in istio/api to specify the set of resource types that each annotation supports. This file can be imported by the validator.

We'll also shortly have this added to the documentation on istio.io. I'm working on that right now.

[2019-10-08 17:53] duderino commented on #16357
@jplevyak PTAL   backtrace is different

[2019-10-08 17:57] #16071 closed

[2019-10-08 17:58] #15134 closed

[2019-10-08 18:03] #17665 closed

[2019-10-08 18:10] mkinoshi commented on #17590
We have experiences the same issue while using istio 1.2.4 on GKE 1.13.7-gke.8

[2019-10-08 18:19] jmalecka commented on #16453
Hi, I have the same issue with Istio 1.3.1 (mTLS enabled) on GKE (Kubernetes 1.13.7) and mutual TLS origination.
The external service is never reached, I am also getting the mentioned 503 UC on egressgateway and 503 URX on the service sidecar.
The CNN example with external nginx works. The only difference seems to be, that I don't have any CA chain certificate, only the client cert and a key.

[2019-10-08 18:19] esnible commented on #12437
On the UX meeting today we decided to implement `--envoyDumpFile` for every _istioctl_ subcommand that currently uses KubeConfig or PortForward to get localhost:15000/config_dump from the sidecar.  If that argument is supplied we will not use the K8s API to perform the task.

@incfly Do you still want this item?  If not I will assign someone else.

[2019-10-08 18:21] howardjohn commented on #16148
Closing, all work tracked in https://github.com/istio/istio/issues/17362

[2019-10-08 18:21] #16148 closed

[2019-10-08 18:22] israel-hdez commented on #17527
Hi, again @rnkhouse
I've followed the install instructions using Istio 1.2.7 and I can successfully login.

The only thing that comes into my mind is that, probably, the secret was created with carriage returns in the username and password. Try these commands to check:

[code]

Anyway, I recommend you to use the latest kiali by installing with these instructions: https://www.kiali.io/documentation

[2019-10-08 18:24] incfly commented on #12437
@esnible I won't have bandwidth for this one. Feel free to re-assign to other folks. Thanks for triaging!

[2019-10-08 18:42] sushicw commented on #17687
Another specific check to add:

[2019-10-08 18:43] sushicw commented on #17687
I don't have immediate time to work on this further right now, but I took a stab at a start.

https://github.com/istio/istio/compare/master...sushicw:analyzer-mtls-rbac

Hopefully whoever picks this up (whether that's Future Me or someone else) will be able to make good use of it.

[2019-10-08 19:02] sushicw commented on #17686
I believe what you're running into is the "service discovery" switch, which I'm realizing is sort of poorly named.

There's a flag that controls whether we look at the k8s resources used for service discovery or not, that mirrors the behavior of enableServiceDiscovery in galley. If service discovery is disabled, we're not looking at k8s resources, and any analyzers that depend on them get skipped.

[2019-10-08 19:06] sushicw commented on #17684
The log level should for those messages should probably be bumped down to WARN, I think.

[2019-10-08 19:13] PiotrSikora commented on #17678
Istio Proxy binaries in 1.1 and 1.2 are dynamically linked against libc++ and libc++abi, so Docker images needed them.

Istio Proxy binaries in 1.3 are statically linked against libc++ and libc++abi, so the binary is self-contained, and we don't need to install those libraries in Docker anymore.

[2019-10-08 19:25] jplevyak commented on #16357
We should open this as a different issue since the backtrace is different it and it likely has a different root cause the historical information is going to be deceptive.

[2019-10-08 20:02] rnkhouse commented on #17527
@israel-hdez Both command prints 0. But, still getting the same error on browser: `Unauthorized. The provided credentials are not valid to access Kiali. Please check your credentials and try again.` I am using `v1.2.6` of istio.

[2019-10-08 20:42] JRBANCEL opened #17699 "Istio 1.3.1 - Envoy segfaults"
**Bug description**
[code]

2 core dumps can be found [here](https://console.cloud.google.com/storage/browser/bancel-public/envoy-core-dumps/).

**Affected product area (please put an X in all that apply)**

[X] Networking
[X] Performance and Scalability

**Expected behavior**
Envoy doesn't crash.

**Steps to reproduce the bug**
Run Knative E2E tests: in `https://github.com/knative/serving/`, `./t

[2019-10-08 20:42] JRBANCEL commented on #16357
I opened a new issue: https://github.com/istio/istio/issues/17699.

[2019-10-08 20:46] gargnupur opened #17700 "Seeing non responsive ingressgateway in mixer tests"
**Bug description**
In Redis Ratelimiting tests, we see ingressgateway becomes unresponsive and needs to be restarted for it to become responsive again.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ X] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experi

[2019-10-08 20:46] #16985 closed

[2019-10-08 20:49] richardwxn commented on #17585
PR created: https://github.com/istio/tools/pull/414

[2019-10-08 21:16] elfinhe commented on #17236
This is P0 for 'istioctl x upgrade', I will talk with @ostromart to find a way out.

[2019-10-08 21:19] #17227 closed

[2019-10-08 21:21] ozevren commented on #9063
Currently, the metadata is an embedded metadata.yaml file. It is relatively straightforward to make this an external config file now.

[2019-10-08 21:23] incfly commented on #14524
Action item, need to double check if the `envoy::api::v2::core::TransportSocket` uses `Any::typed_config` or `Struct::config` matters for performance.

Theoretically they should both work from the code base that I can tell

[2019-10-08 21:24] israel-hdez commented on #17527
@rnkhouse can you, please, paste here the logs of the kiali pod?

[2019-10-08 21:35] rnkhouse commented on #17527
@israel-hdez here it is.

	I1008 12:02:24.493725       1 kiali.go:67] Kiali: Version: v0.20.0, Commit: 140969bc2ef1a77ca7387b47f8b23dcbd4818bd0
	I1008 12:02:24.572089       1 kiali.go:68] DEBUG: Kiali: Command line: [/opt/kiali/kiali -config /kiali-configuration/config.yaml -v 4]
	I1008 12:02:24.593279       1 config.go:461] DEBUG: Reading YAML config from [/kiali-configuration/config.yaml]
	I1008

[2019-10-08 21:35] jmazzitelli commented on #17527
what's the command you used to create the secret? Can you post the YAML for the secret?

[2019-10-08 21:36] jmazzitelli commented on #17527
Purge your browser of the Kiali cookies - looks like an old cookie might be cached. To see if this could be the issue, open up an incognito window and try to log into Kiali.

[2019-10-08 21:37] selmanj opened #17703 "Ability to suppress config analysis messages per-resource"
**Describe the feature request**
`istioctl experimental analyze` reports a variety of errors and warnings. Not all of these are necessarily bad, and it would be nice to be able to suppress certain messages.

For example, I'm considering an analyzer that warns if a workload is behind multiple services (which makes it difficult/impossible for telemetry to discover what service to associate with outg

[2019-10-08 21:38] rnkhouse commented on #17527
@jmazzitelli

	---
	apiVersion: v1
	kind: Secret
	metadata:
	  name: kiali
	  namespace: istio-system
	  labels:
	    app: kiali
	type: Opaque
	data:
	  username: <KIALI_USERNAME>
	  passphrase: <KIALI_PASSPHRASE>

[2019-10-08 21:40] jmazzitelli commented on #17527
Yeah, that's the important part - wanted to see what your hash codes were (are you using the "admin" / "admin" credentials?) I am wondering how you created it - did you ensure you did not include a newline when you encoded the username and passphrase?

[2019-10-08 21:42] rnkhouse commented on #17527
@jmazzitelli
I am replacing that string with this script. And yes making sure that new line is not part of the string as well.

    istio_kiali_username_base64=$(echo ${istio_kiali_username} | tr -d '\n' | base64)
    istio_kiali_passphrase_base64=$(echo ${istio_kiali_passphrase} | tr -d '\n' | base64)
    sed -i "s|KIALI_USERNAME|${istio_kiali_username_base64}|g" istio_kiali_secret.yaml
    sed -

[2019-10-08 21:51] balamuru opened #17704 "Rate Limiting does not accurately respect rate = maxAmount / validDuration"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
When configuring rate limiting, it is not possible to configure an accurate rate when using a low valued ```validDuration``` value

**Affected produ

[2019-10-08 22:02] mdhume commented on #12846
@rlenglet can someone take a look at this issue? or is there an alternate way of exposing GRPC response codes in Istio now?

[2019-10-08 22:03] jmazzitelli commented on #17527
ok, well, I cannot vouch for that.. rather than assume that script is doing what you expect, can you use the example in the telemetry/kiali docs and see if that works. If it STILL fails, then we know it isn't the secret:

https://istio.io/docs/tasks/telemetry/kiali/#create-a-secret

or just use the demo secret here (which encodes admin/admin):

https://github.com/istio/istio/blob/master/install/ku

[2019-10-08 22:12] gargnupur commented on #17700
Sample logs, this happened in IstioCtl Metrics test : https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15593/integ-mixer-k8s-tests_istio/1365

[2019-10-08 22:14] wangluochao902 opened #17705 "Missing required field "selector" in io.k8s.api.apps.v1.DaemonSetSpec in file tests/util/localregistry/localregistry.yaml"
**Bug description**
Hi, developers. We are developing a tool to find potential bugs in Kubernetes configuration files. I found out a potential problem of the file `tests/util/localregistry/localregistry.yaml`. It may miss a required field `"selector"` for document starting from [line 65](https://github.com/istio/istio/blob/8145bf0b6b35287be714a87e592428736de53d4a/tests/util/localregistry/localregi

[2019-10-08 22:22] incfly commented on #17666
@diemtvu would you mind taking a look? You mentioned they're identical and okay to be removed, but seems are all failing on timeout?

[2019-10-08 23:38] howardjohn commented on #17705
Seems broken, the right fix here is to delete the whole localregistry folder though, it is not used anymore

[2019-10-08 23:44] oaktowner commented on #17663
Hi, mkinoshi -- Do you have an idea of how often bytes are being dropped?

[2019-10-08 23:45] #17628 closed

[2019-10-08 23:47] fierro-fuego commented on #6861
Is there really no way to set global envoy defaults for all services in Istio without creating a VirtualService for each?

[2019-10-09 00:14] rlenglet commented on #12846
@douglas-reid is there any update on this feature?

[2019-10-09 00:45] esnible commented on #17686
To test my misplaced/misspelled annotation analyzer I created a Service default.httpbin with invalid annotation, then tested it without `--discovery`.

`--discovery` is perhaps great for disabling messages about missing things, but perhaps we should pass in to Analyze() that we are being run in `--discovery=false` mode and let the Analyze() method itself choose if it is appropriate to be skipped?

[2019-10-09 02:46] #17674 closed

[2019-10-09 02:48] rshriram commented on #17667
did you try using typed_config instead of config?

[2019-10-09 02:52] rshriram commented on #17604
how do I make the serialization deterministic? i am just using standard gogo functions.

[2019-10-09 02:59] mandarjog commented on #17604
That string field should have been opaque, but it was processed by the parser I think and then serialized back.

[2019-10-09 04:02] howardjohn commented on #17401
This does not seem fixed. See https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17694/integ-framework-local-tests_istio/1722 which failed after #17702 was merged? Maybe its a different race though

[2019-10-09 04:04] howardjohn opened #17717 "New test, TestAuthenticationZ, flaky"
Example failure: https://prow.k8s.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/270

There are others too that I have seen.

Please revert the test or fix ASAP

[2019-10-09 04:08] howardjohn opened #17718 "x509: certificate has expired or is not yet valid"
I am getting errors `Internal error occurred: failed calling webhook "pilot.validation.istio.io": Post https://istio-galley.istio-system.svc:443/admitpilot?timeout=30s: x509: certificate has expired or is not yet valid` in my cluster. Seems a re-occurrence of https://github.com/istio/istio/issues/14517. Has been ongoing for ~12 hours or so, after a GKE node update. Will collect some more info tomo

[2019-10-09 05:06] douglas-reid commented on #12846
i believe we were awaiting a promised PR from the community. I don't believe that PR ever was sent. I will try to follow up with the individual.

[2019-10-09 05:19] #17331 closed

[2019-10-09 05:22] abhijitherekar commented on #15125
@sonahander were you able to get around the issue?
I am also seeing the issue with ` Listener Type:      SIDECAR_INBOUND`.

Please, let me know if you have found a solution for this.

Thanks

[2019-10-09 06:02] mailzyok commented on #17678
Thanks @PiotrSikora , i will check the Istio Proxy build process.

[2019-10-09 06:02] #17678 closed

[2019-10-09 06:10] abhijitherekar commented on #15125
Whenever I have a listener type of Inbound my filter config never gets injected into the Istio-proxy.
THis is the issue: https://github.com/istio/istio/issues/17667

[2019-10-09 06:12] erks commented on #16210
@douglas-reid Is this supported in istio 1.2.x? or is it 1.3 only? The example looks like 1.3 syntax.

[2019-10-09 07:40] tibetsam commented on #15291
yes, sure. we can do that in this way and do host check on gateway. thanks.

[2019-10-09 08:02] objectiser commented on #13018
Work is currently [underway in Envoy](https://github.com/envoyproxy/envoy/pull/8279) to enable custom tags to be created from a variety of sources, including from request headers (which was supported before) but now having the ability to use a different name for the tag. Once this lands, it can be used via the `EnvoyFilter` initially, and then eventually through an appropriate Istio API.

[2019-10-09 08:23] yshemesh commented on #6189
Istio should be the control-plane of Envoy. And as such it needs a more extensive web-UI.

[2019-10-09 08:51] hzxuzhonghu commented on #13614
As there is no further evidence, close now. If this occurs, feel free to open.

[2019-10-09 08:51] #13614 closed

[2019-10-09 08:54] cacedo commented on #14433
Hi @fcantournet could you share how to enable access logs on ingress gateways by updating Istio Charts? Thanks!

[2019-10-09 09:12] hzxuzhonghu commented on #6299
Is there any plan to continue on this? I've noticed it is done on envoy side.

[2019-10-09 09:23] nkorange commented on #17679
The last few lines of log of Pilot before it crashed:
![image](https://user-images.githubusercontent.com/4593375/66468839-6b351100-eab9-11e9-8a7c-0a2e13acb4c1.png)

[2019-10-09 11:45] VinothChinnadurai commented on #17587
@waret The latest code means any specific istio/envoy version here? And also can we try with kubectl command too like this (kubectl logs -l app=appname -c istio-proxy )

[2019-10-09 13:00] howardjohn commented on #17679
If I'm reading that right it's using 30gb of memory? so probably oom kill

[2019-10-09 13:12] Mani3274 commented on #17631
Hi @jpatters, I am also facing the same issue. A while back I tried istio authentication it was working as excepted (like 401 in case of invalid/no token and proper return in case of valid tokens). But today when I tried to add istio to my new cluster(gke), authentication policy was not getting injected. All the requests are going through without any tokens.

Please let me know how you rectified y

[2019-10-09 13:38] #15291 closed

[2019-10-09 14:38] rnkhouse commented on #17527
It worked when I deleted the kiali deployment and re-deploy it.

[2019-10-09 14:38] #17527 closed

[2019-10-09 14:54] nkorange commented on #17679
Yes, I verified it with command ```dmesg```. So why Pilot consumes so much memory? My data size is probably 2GB, but I repeatedly push this same 2GB data to Pilot. Does Pilot have some memory leak?

[2019-10-09 15:08] joebertj commented on #10543
My use case is when the user tries to directly access a URI protected by a Policy. I would like it redirected to the login page.

[2019-10-09 15:17] howardjohn commented on #16998
@istio/wg-security-maintainers I am bumping this to a release blocker for 1.4. I don't feel comfortable shipping with RBAC is failing

[2019-10-09 15:27] ozevren commented on #17401
This is a different one

[2019-10-09 15:37] howardjohn commented on #17718
This eventually auto-healed after about a half a day outage

[2019-10-09 15:49] howardjohn commented on #17718
I think auto-heal was caused by galley restarting. sidecar injector also sees 45 restarts so that is probably why only validation webhook was down not the injection?

[2019-10-09 15:58] YuraBeznos opened #17728 "istio-citadel gets "panic" and not working anymore"
**Bug description**
istio-citadel gets "panic" and not working after.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
Should work without any pan

[2019-10-09 16:02] howardjohn commented on #17718
I just did another upgrade and immediately ran into the same issue, still in a broken state now

[2019-10-09 16:10] howardjohn commented on #17718
Somehow getting patched with a really old cert?
[code]

Galley also logging `http: TLS handshake error from 10.0.0.58:46570: remote error: tls: bad certificate`

Citadel logs when I started the upgrade and it starts failing watches, etc:

<details>

[code]
</details>

[2019-10-09 16:11] myidpt commented on #17718
Can you tell me how you did the upgrade?

[2019-10-09 16:11] howardjohn commented on #17718
I pressed "upgrade master" button GKE. Then a few hours later I updated the node pool as well. This morning I upgraded just the master - I think its in a state where its permanantly broken now, it only recovered last time because all the pods were restarted by the node upgrade

[2019-10-09 16:22] howardjohn commented on #17718
I did the update around 15:55:00. Looks like at 16:01 galley actually does reload the cert and key, but somehow things still aren't working with errors like `http: TLS handshake error from 10.0.0.54:51734: remote error: tls: bad certificate` for every `kubectl apply` I do, so api server cannot reach galley

[2019-10-09 16:28] liminw commented on #16998
I will take a look at the RBAC test failure today.

[2019-10-09 16:39] howardjohn commented on #17718
Galley logs:
[galley.txt](https://github.com/istio/istio/files/3708487/galley.txt)

Galley has a valid cert as well. We restarted galley and probably is resolved. Will see what happens in ~4 hours when the cert expires again

[2019-10-09 16:48] myidpt commented on #17718
To give more context:
John has set Galley with short expiration time (3 hours). The Galley can reload the rotated TLS certs (which are local files mounted from secrets) in V1.1.12, but it seems the reloading doesn't work after upgrading to 1.1.13 and 1.1.14.
So Galley's existing X509 cert is expired and new workloads won't be deployed.
My suspicion is that Galley webhooks's reloading cert feature

[2019-10-09 16:58] carolynhu commented on #17565
We are planning to get rid of the daily build. This ticket can be closed.

[2019-10-09 16:58] #17565 closed

[2019-10-09 17:00] howardjohn commented on #17718
My suspicion is it is related to the upgrading, not which version is being upgraded to. So I think 1.12.x -> 1.12.y would cause this too. We will see in a few hours :slightly_smiling_face:

[2019-10-09 17:59] jplevyak commented on #17699
AFAICT this is caused by memory corruption in a post() to a Dispatcher coming out of  Envoy::Router::RdsRouteConfigSubscription::onConfigUpdate.

Both cores have the SEGV in DispatcherImpl::runPostCallback.

The only other active threads have stacks pointing to Envoy::Router::RdsRouteConfigSubscription::onConfigUpdate:

#0  0x00000000020c7704 in google::protobuf::Value::~Value() ()
#1  0x000000000

[2019-10-09 18:01] jplevyak commented on #17699
It should be noted that this code (RDS) has undergone a good deal of change since the 1.3 was forked.  There may be some clues in the history.  I will investigate.

[2019-10-09 18:13] sushicw commented on #17195
Another example where configuration matters: being able to skip over Istio system resources. e.g. as discussed in https://github.com/istio/istio/issues/17442.

[2019-10-09 18:19] sushicw commented on #17442
The first issue should be fixed by https://github.com/istio/istio/pull/17733.

[2019-10-09 18:25] ostromart commented on #17245
I'd love to get helm out as well which I think starts to look realistic for post 1.5. If we can work towards migrating everything we need into meshconfig in 1.5 then we should be in a position to pull the plug for 1.6.
I also think it's a great idea to move istioctl out to a separate repo which will remove all the deps due to operator.
Finally, many of the k8s deps are due to the controller rather

[2019-10-09 18:49] #17684 closed

[2019-10-09 18:59] ozevren commented on #17401
That one should be fixed now.
https://github.com/istio/istio/pull/17727

[2019-10-09 18:59] #17401 closed

[2019-10-09 19:15] fpesce opened #17735 "Fix for [YellowSquirrel] not correctly applied over 1.2.7 and 1.1.16"
**Bug description**
request.total_size reports 0 (as seen in several unit tests failing) instead of accurate size
**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[X] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

c.f. h

[2019-10-09 19:17] fpesce commented on #17735
Important to mention, the vulnerability is correctly addressed, but all mixer features using request.total_size might be broken right now.

[2019-10-09 19:34] ayj commented on #17718
k8s secret file mount propagation can take several minutes. I verified that Galley re-loads the local cert/key file immediately after the file mount is updated.

No.

[code]

[2019-10-09 19:43] Kampe commented on #16665
created PR to address this: https://github.com/istio/istio/pull/17737

[2019-10-09 19:49] howardjohn commented on #17718
I think there is some confusion here

The upgrades I am referring to are GKE versions. Istio has been the same version of master the entire time. Oliver's mention of 1.1.12 should be 1.12, etc.

The gap between :55 and :01 is not concerning at all. I was stating here that this is actually working -- the caBundle on the webhook is correct it seems.

[2019-10-09 20:13] howardjohn commented on #16998
https://prow.k8s.io/view/gcs/istio-prow/logs/integ-k8s-114_istio_postsubmit/279
https://prow.k8s.io/view/gcs/istio-prow/logs/integ-k8s-114_istio_postsubmit/278
show TestNamespaceTargeting is having trouble as well

[2019-10-09 20:16] lambdai commented on #17735
More precisely, total_size might omit the header and trailer size.

[2019-10-09 20:26] kyessenov commented on #17735
@lambdai can you check Mixer v2 implementation here: https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/common/expr/context.cc#L82

[2019-10-09 20:43] sushicw commented on #17617
Oz and I both had no luck reproducing this.

https://github.com/istio/istio/pull/17731 re-enables the test, and adds some more debugging so hopefully we can see better what the problem is if/when it recurs.

[2019-10-09 20:58] carolynhu opened #17738 "optimize perf-dashboard UI and dynamically rendering perf data from gcs bucket"
- [x] polish and reorganize perf dashboard after discussed with @mandarjog

- [x] deploy containerized application to GKE, we are planning to put it under tools repo

- [x] make perf data being dynamically connected and rendered to perf dashboard

[2019-10-09 21:03] howardjohn commented on #17718
The cert in galley would have expired by now and things are still working, meaning the reloading is working, just not during GKE master upgrade. @ayj also tried on a different cluster and couldn't reproduce, possible differences are cert TTL and cluster size.

[2019-10-09 21:37] lambdai commented on #17735
The envoy core change the promise:
1. byteSize() return the header size cache
2. refreshByteSize() does recalculation and refresh the cache: so the method is not const
3. byteSizeInternal() does recalculation but not update the cache: it's const method.

I choose the method 3 in 1.1 and 1.2 because @mandarjog confirms that the cost is limited in mixer filter.

I don't have the full context of mixe

[2019-10-09 21:44] fpesce commented on #17735
NB: This affects https://github.com/istio/istio/pull/17707 and https://github.com/istio/istio/pull/17698
They must be force-merged despite this bug being present to reflect the state of published (privately-built) releases.
(adding this comment added for building cross reference with this PR)

[2019-10-09 21:44] sushicw commented on #17687
From a thread on the slack channel:

[code]

[2019-10-09 21:52] jplevyak commented on #17699
https://github.com/envoyproxy/envoy/issues/7902

[2019-10-09 21:52] jplevyak commented on #17699
The fix is available:  https://github.com/envoyproxy/envoy/pull/8290

[2019-10-09 22:19] ayj opened #17739 "galley doesn't automatically reload the private key when it changes"
Steps to reproduce:

1) install Istio
2) kubectl -n istio-system scale deployment istio-citadel --replicas=0
3) kubectl -n istio-system delete secret istio-ca-secret
4) kubectl -n istio-system scale deployment istio-citadel --replicas=1
5) kubectl -n istio-system delete istio.istio-galley-service-account
6) kubectl apply -f samples/bookinfo/networking/bookinfo-gateway.yaml

[2019-10-09 22:34] y0zg commented on #16458
@vadimeisenbergibm could it help if HTTP/HTTPS are on the same port?

[2019-10-09 22:37] douglas-reid commented on #14433
Please take a look at: https://github.com/istio/istio/wiki/EnvoyFilter-Samples#tracing-and-access-logging

[2019-10-09 22:37] douglas-reid commented on #16210
This is 1.3 only.

[2019-10-09 22:38] douglas-reid commented on #16210
There is not any proposal pending for adding support for older versions of Istio.

[2019-10-09 22:51] mkinoshi commented on #17663
@oaktowner We have observed that it happens around once in every 5 API request to the same endpoint.

[2019-10-09 22:53] lambdai opened #17740 "istio/proxy ASAN test reports use-after-free"
**Bug description**
istio/proxy test //test/integration:istio_http_integration_test crashes occasionally

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[x] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected beh

[2019-10-09 23:18] #17483 closed

[2019-10-09 23:19] ayj commented on #17739
Observable behavior includes validation failures with ` "x509: certificate signed by unknown authority"` error messages.

[2019-10-09 23:42] howardjohn commented on #16998
The last 20 postsubmits have failed: https://testgrid.k8s.io/istio_istio_postsubmit#integ-security-k8s-tests_istio_postsubmit&width=20

[2019-10-09 23:45] sushicw commented on #17617
New example, with more logging: https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17731/unit-tests_istio/1890

[2019-10-09 23:46] abhijitherekar commented on #17667
Hi @rshriram
1. Yes I tried with that option and now I see that only the cluster is getting added but not the `dynamic_active_listeners`. My ext-auth server never gets request,

2. Also, one more detail my ext-auth server is not starting as a sideCar but it is started as a process and it just shares the network-namespace of the Application pod, I don't know if that makes a difference.

3. this is

[2019-10-09 23:46] wstrange commented on #16665
Off topic, but it would be really nice if istio could track the more recent versions of things like cert-manager.   We have separate install procedures for cert-manager, prometheus and grafana. It would be great if istio was a one stop shop for all the things. I realize that is a tall order (a lot of testing..).

From a strategy perspective, I wonder if istio should even attempt to install these 3

[2019-10-09 23:55] jfourment opened #17742 "Distroless version of install-cni"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

All images but install-cni have been moved to a distroless image. It would be nice to have install-cni also converted to distroless

**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[ ] Con

[2019-10-10 00:08] howardjohn opened #17743 "Operator logs error messages to stdout instead of stderr"
This makes doing things like `istioctl manifest generate > file.yaml` unusable. Example error:
[code]

[2019-10-10 00:19] incfly commented on #16998
(might worth splitting into different issues...?)

Namespace targeting test are all failed for those expect `true` case, where the secrets should be generated, `TestNamespaceTargeting/no_relevant_namespace_labels`, `TestNamespaceTargeting/matching_env_label,_no_override_label`.

My hutch is that extend the timeout might mitigate the problem. I'll take a look of the previous history later to confir

[2019-10-10 00:37] ostromart commented on #17469
The fix just missed 1.3.2 but should be there in the next 1.3 release (and of course 1.4).

[2019-10-10 00:40] ostromart commented on #17545
Since you're accessing the values field in the IstioControlPlaneSpec API, it should be
ik x manifest generate --set values.global.outboundTrafficPolicy.mode=REGISTRY_ONLY
Give that a shot @howardjohn.

[2019-10-10 00:44] ostromart commented on #17546
Originally it was appending everything for post-mortems of issues that could easily be reproduced. Realistically, CLI bugs tend to be easy to reproduce so this does indeed have limited value and should be removed.

[2019-10-10 00:47] howardjohn commented on #17545
ahh `.values.global`, I think thats the one combination I didn't try. That seems to work. Thanks

[2019-10-10 00:47] #17545 closed

[2019-10-10 00:47] #17469 closed

[2019-10-10 00:53] howardjohn commented on #16887
Dailies published to https://gcsweb.istio.io/gcs/istio-build/dev/.

we have release validation tests

we have operator integrated now

this is almost entirely done, just need to validate we can do github publishes properly, and decide if we need to include transitive dependencies in source/tagging

[2019-10-10 00:55] howardjohn commented on #15090
Please give this a try: https://github.com/istio/release-builder/blob/4e570f92cba8adc82a251a5019cc3a69ed11c7e2/test/publish.sh#L1

This is how we publish dev builds now and will be used for 1.4. You can run it locally, have it point to private sources (like local path or private github repo), and publish to wherever you want.

[2019-10-10 01:54] springrain opened #17746 "Upgrade from 1.3.1 to 1.3.2, x-forwarded-for lost"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

When using 1.3.1, request pod application, header can get x-forwarded-for, after upgrading to 1.3.2, x-forwarded-for is lost,But remoteHost and x-r

[2019-10-10 02:10] iecedge opened #17747 "What is the status Istio on Arm64 platform"
Hi All,
        I am working at Arm64 platform. And i want to enable the Istio on Arm64 platform. Actually, in my private environments, the Istio 1.2.3 has been built and run successfully just like followings (Of cource, some code were modified).
[code]
But, recently, when i want to upstream my patch, the Istio/proxy module updated. I found that it can not be built on Arm64 (add some new build mod

[2019-10-10 02:35] hzxuzhonghu commented on #17439
@mc1711 What do you mean by ` the postgres operator still not able to to label the pods.` ?  How does postgress operator label pods?

[2019-10-10 02:45] hzxuzhonghu commented on #17464
The push context is only re-initiated when full push. Maybe there is only eds push during this period.

[2019-10-10 02:50] howardjohn commented on #17747
For ci we use Prow (basically runs on kubernetes). I don't think it supports arm64 unless GKE does

[2019-10-10 02:50] PiotrSikora commented on #17746
cc @lambdai

[2019-10-10 03:07] howardjohn commented on #17742
This would be nice. At the very least we should retag as distroless so you can just set the flag globally and not have to do anything special for cni

[2019-10-10 03:11] hzxuzhonghu commented on #17517
It works well on `master-20191004`.

[2019-10-10 03:17] diemtvu commented on #17512
This is mainly most test setup sleep 10s to make sure policies are propagated to endpoints. We need to find an more efficient way to do so, or simply remove it and do enough number of retry.

[2019-10-10 03:34] diemtvu commented on #17512
Miss John comment. That's right, Istio and service setup take a big chunk too.

[2019-10-10 03:54] hzxuzhonghu opened #17748 "LDS ACK error for headless service instance"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

Headless service instance LDS NACK with duplicate listener error.

[code]

**Affected product area (please put an X in all that apply)**

[ ] Confi

[2019-10-10 03:56] hzxuzhonghu commented on #17748
Without deep dive, but i can say as `10.32.0.18` is the instance ip, so i think pilot generates two listeners named ` 10.32.0.18_6379`, one is for outbound and one is for inbound.

[2019-10-10 04:38] iecedge commented on #17747
Could i use another CI/CD tools or build another CI lab for supporting Arm64?

[2019-10-10 05:05] hzxuzhonghu commented on #17748
@istio/wg-networking-maintainers

What should we do?

1. Donot generate the outbound listener to itself, as for normal proxies, the filter chain is like
[code]

We donot allow accessing itself by the podip.

2. generate the outbound listener, but should rename. But the listener will always proxy the traffic to blackhole.

[2019-10-10 06:17] clyang82 commented on #15977
[code]
if you defined `grafanaURL` and `jaegerURL` properly, the `config.yaml` url will be replaced with correct url. even if it is for demo profile, we still cannot specify these URLs OOB.

[2019-10-10 06:20] cacedo commented on #14433
Is there an example of EnvoyFilter for Istio 1.2 specification?

[2019-10-10 06:21] lambdai commented on #17748
solution 3: remove the inbound listener `10.32.0.18_6379`. It should be not hand off by 15001 listener.
Might need a slight order change at ListenerBuilder. We need to aggregate 15001 and remove inbound `10.32.0.18_6379` before generating the outbound `10.32.0.18_6379`.

[2019-10-10 06:35] incfly commented on #9117
2019/10/08 Summarize of an unsuccessful attempt of adding this to cloud build
https://github.com/istio/istio/pull/13802

Naively build proxy by `make rpm` from scratch does not work efficiently, which time out our release build target in CI/CD. Instead as [suggested](https://github.com/istio/istio/pull/13802#issuecomment-519730442), we should use pre-built bazel RPM target somewhere, and Istio tar

[2019-10-10 06:46] nkorange commented on #17679
We are considering to introduce Istio to our production environment, which contains about millions endpoints. This requires Pilot can handle such level amount of data and also frequent data changes.

I just tested the Pilot side communicating with my MCP server and some of the results are:
1. 2GB service entry data will cause about 28GB memory use of Pilot.
2. Frequent push of smaller size of data

[2019-10-10 07:26] hzxuzhonghu commented on #17748
There is an inconsistent phenomenon: For tcp service instance, it can communicate to itself by podip:port. But for http one, it cannot.

[2019-10-10 08:08] fuxinghua commented on #11951
it also solved my problem

[2019-10-10 08:13] pragkent commented on #17409
Also seeing this problem.

I guess it's related to #15496, which do not handle secret update anymore.

[2019-10-10 08:32] hzxuzhonghu commented on #17748
@lambdai Can not understand it well, I can see same `virtualHosts` exist in both 15006 and podip_port listeners. Does that mean for inbound traffic, it will only flow through `virtualInbound` 15006 listener.?

[2019-10-10 08:35] dcedyga commented on #17409
Also seeing this problem.
The secretfetcher is not updating the node_agent with secret updates. I'm using cert-manager with letsencrypt and this behaviour makes it impossible to use. If new certs are not updated how is expected to handle letsencrypt cert updates?

[2019-10-10 11:46] nkorange opened #17750 "Question about incremental push of MCP"
For incremental MCP message, can I send a subset endpoints of a service to Pilot so that Pilot can either add these endpoints to the service or remove them from the service?

[2019-10-10 12:04] jmazzitelli commented on #15977
FWIW, these are found by default by Kiali *IF* you are running on OpenShift. This is because Jaeger and Grafana are exposed using OpenShift's Route functionality not available in other k8s implementation. The Route URLs are easily and reliably discoverable and hence can be found confidently by Kiali.

We had a github issue written up somewhere asking for contributions to see if someone can get the

[2019-10-10 12:16] maxbischoff opened #17751 "trace sampling decision is not forwared when using mixer's Zipkin adapter"
**Bug description**

When using mixer-based tracing with the zipkin adapter, traces are successfully sampled as defined by my `rules`, `handlers` and `instances`, but envoy always sets the `x-b3-sampled` Header to `0`. This means that proxied applications cannot re-use the sampling decision to forward application-level spans for sampled traces.

I am aware, that this is probably by design (AFAIK r

[2019-10-10 12:26] bianpengyuan commented on #17751
Alternatively can you set pilot's tracing sampling rate to the desired value and config mixer rule to match based on header value of `x-b3-sampled`?

[2019-10-10 12:47] maxbischoff commented on #17751
That would be possible, but I would also have to define a zipkin url of `/dev/null` for proxies only, otherwise spans would be sent twice (by proxy and by mixer).
I would also lose the option to define different sampling rates for different namespaces, which would be rather important. A solution without that compromise would be preferred.

[2019-10-10 13:20] rshriram commented on #17748
So I think I know the problem. Its happening because we are generating listeners for each service instance in the headless service in the listener code. We need to fix that code to skip the pod's own service instance [or more specifically, skip ones where the instance.address == node.address]

[2019-10-10 13:21] damian-pacierpnik-jamf opened #17752 "go generate is broken inside mixer/adapter"
**Bug description**

I'm following this tutorial: https://github.com/istio/istio/wiki/Mixer-Out-of-Process-Adapter-Walkthrough but unfortunetaly, when executing `go generate ./...` inside my mixer adapter directory (`$ISTIO/istio/mixer/adapter/mygrpcadapter`) I got the following error:

[code]

when I execute `go generate ./... -v` from the mixer adapter directory (`$ISTIO/istio/mixer/adapter`):

[2019-10-10 13:28] rshriram opened #17753 "gateway perf: restrict cds clusters to only those required by the gateway"
@istio/wg-networking-maintainers-pilot

We have avoided this problem till date but fixed it for sidecars. Sidecars decide on the services to generate a cluster for, using the sidecar CRD. But for gateways, we have no such mechanism. In small-average clusters, this is not a problem. But in very large clusters (one of our customers has about 1000+ services!!), this quickly becomes a big problem in t

[2019-10-10 13:30] rshriram commented on #17753
A more detailed form of https://github.com/istio/istio/issues/11936

[2019-10-10 13:31] rshriram commented on #11936
closing and lets track this in #17753

[2019-10-10 13:31] #11936 closed

[2019-10-10 13:34] maxbischoff opened #17754 "Mixer poorly load-balances to zipkin service"
**Bug description**

When using the mixer zipkin adapter, with jaeger-collector as zipkin service, mixer sends its generated spans to the same jaeger-collector instance. It seems like the zipkin reporter is reusing the tcp connection to jaeger-collector as long as possible. This makes it hard to horizontally scale jaeger-collector, as at most one collector instance is used per mixer instance. Even

[2019-10-10 13:36] johnjjung commented on #14708
https://istio.io/docs/ops/troubleshooting/network-issues/#404-errors-occur-when-multiple-gateways-configured-with-same-tls-certificate

We're having issues with HTTP2 as well

Not sure why but there are 404's happening for all endpoints but one only in modern browsers that use http2 (we think). We tried using a single wildcard gateway but this does not seem to work, all endpoints go down.

Is ther

[2019-10-10 13:47] aroundthecode commented on #17165
in the end this resulted in some configuration/conflict errors which where note reported by Istio validation webook / pilot nor Kiali causing the whole destination rule to be dropped and ignored.

The only point where the error was reported was the policy pod, but if you miss such log all the rest of the mesh is report to be working properly with given configuration when in fact it's not.

I think

[2019-10-10 14:10] howardjohn commented on #17752
@geeknoid @kyessenov

[2019-10-10 14:33] LCasN opened #17758 "Multi-cluster Installation (Scale and connection problems)"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[x] Perfor

[2019-10-10 14:34] bianpengyuan commented on #17751
IIRC, to make envoy only generate b3 headers but not send out spans, you could set `global.enableTracing` as true but set `global.proxy.tracer` to empty string.

If finer grained sampling rate is the reason why you are using mixer pipeline, you could consider using EnvoyFilter API to achieve this: https://github.com/istio/istio/wiki/EnvoyFilter-Samples#tracing-and-access-logging.

[2019-10-10 14:41] geeknoid commented on #17752
Sorry, the wiki is out of date. I'll go fix it.

To generate code, you now need to go to the top of the repo and do:

  BUILD_WITH_CONTAINER=1 make gen

The BUILD_WITH_CONTAINER=1 part is temporary, we'll hopefully get rid of that soon.

[2019-10-10 14:43] ljakab commented on #16665
Yes! It makes it easy to start, and if one needs more customization, one can do separate install.

[2019-10-10 14:46] geeknoid commented on #17752
I've updated the wiki.

[2019-10-10 14:48] bturbes opened #17759 "Istio not logging blocked traffic"
**Bug description**

The release notes for istio 1.3 say, “Added telemetry reporting for traffic destined to the Passthrough and BlackHole clusters”. Unless I am misunderstanding the purpose of the BlackHole cluster, when we have an outboundTrafficPolicy of `REGISTRY_ONLY`, blocked outgoing traffic should go to the BlackHole cluster and be logged. This older issue describes the same problem, but d

[2019-10-10 14:50] damian-pacierpnik-jamf commented on #17752
Thanks for fast reply!

[2019-10-10 15:24] howardjohn commented on #17759
I think its in metrics only not logs. Is that right @nrjpoddar ?

[2019-10-10 15:30] nrjpoddar commented on #17759
Yes, we only added telemetry support. Just for clarity, when you mean logging, are you talking about Envoy or Mixer. Mixer should be both access logging and generating metrics for BlackHole.

It's a reasonable feature request to support Envoy access logging in all cases, if that's what you want.

[2019-10-10 15:35] fpesce commented on #17746
@springrain would you mind providing a simple way to reproduce the behavior you're observing?

[2019-10-10 15:40] howardjohn commented on #9117
Not familiar with RPM, but for the deb ones we don't rely on a "pre-built bazel deb target". We just use the standard envoy binary that istio/proxy produces (just like we do with proxyv2 docker image). Is that something we can do it rpm as well, or do we need a special RPM artifact of envoy?

[2019-10-10 15:46] mc1711 commented on #16851
We have been hitting the same issue,  communication problem between the elasticsearch-client and the elasticsearch-master

this is the error we see on the client

[code]

As workaround we create a DestinationRule disabling mTLS for the server service.

[2019-10-10 15:55] geeknoid commented on #17752
There must be other stuff broken in the example then. I haven't looked at this stuff in a long time, but I'll spend some time today walking through the example and figure out the problem.

[2019-10-10 15:59] bianpengyuan commented on #17754
Could you send a PR for this? Seems like you already have a solution.

[2019-10-10 16:32] ostromart opened #17761 "Remove Openshift based workaround for RESTMapper once upstream fix is merged"
cmd/manager/server.go has a workaround which should be fixed soon:

		// Workaround for https://github.com/kubernetes-sigs/controller-runtime/issues/321
￼		MapperProvider: drm.NewDynamicRESTMapper,

This should be removed soon to minimize pulling in more dependencies than necessary.

[2019-10-10 16:41] maxbischoff commented on #17754
I do not have a solution at the moment. I think one possibility would be tweaking the default Go http client to use a shorter connection max TTL, but I didn't figure out the implementation details for that yet.
Is there a preferred solution or an other solution you can think of? The ideal behavior for my use-case would be, that mixer batches many spans, sends one request with those to the zipkin b

[2019-10-10 16:58] bianpengyuan commented on #17754
If openzipkin http client does not handle load balancing well or provide any knobs to control it, it is more like an issue that should be raised to them instead of hack a solution inside adapter. Would you mind raising a question in the openzipkin go library repo instead?

[2019-10-10 17:05] dontreboot opened #17763 "certificate revocation support"
**Describe the feature request**
Add certificate revocation support for citadel.

**Describe alternatives you've considered**
Use short-lived TTL workload certificates

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[x] Security
[ ] Test and Release
[

[2019-10-10 17:09] diemtvu commented on #17717
The test seems behave well in the last 24 hours. It's unclear what the cause of flakiness. PR #17719 change the implementation and the test align with the `config_dump`, so it may help. Will keep an eye on this for another day or two.

[2019-10-10 17:25] rlenglet opened #17765 "Create 1.3.3 release"
- [x] Prepare `istio/cni`.
  - [x] Sync the fork of the `istio-iptables.sh` script.
[code]
- [x] Check whether the commit SHAs in `istio/istio` and `istio/proxy` are consistent.
  - [x] Check whether the same `istio/api` commit is used in `istio/istio` and `istio/proxy`.
[code]
  - [x] Check whether the version of Envoy from which the go-control-plane's API has been extracted from is no more than

[2019-10-10 17:38] ericvn commented on #16615
Note that the integration test readme does state: **Be aware that any existing content will be altered and/or removed from the cluster.**

[2019-10-10 17:47] mandarjog commented on #15117
What remains to be done.
1. Thread the stack driver option thru bootstrap.
    meshconfig ---> sidecar injector --> encode as env var --> pilot agent uses env var to reconstitute meshconfig --> update boostrap.
2. Same envvar works for gateways which does not use sidecar injector.
3. Update the custom bootstrap in installer to have this option, so it can be used with TD.

[2019-10-10 18:04] sdake opened #17767 "Istio operator spamming : error unknown value "ERROR" for enum v1alpha2.InstallStatus_Status"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

When applying Istio operator manifest, the operator does not install Istio and instead spews errors.

**Affected product area (please put an X in a

[2019-10-10 18:08] sdake commented on #17767
I killed the operator pod.  After restart:

[code]
this text stands out ```proto: tag has too few fields: "-"```

[2019-10-10 18:24] #17617 closed

[2019-10-10 18:39] myidpt commented on #17728
Hmmm... Seems you are deleting someothernamespace. I think should check that the namespace still exists. Citadel should after the panic - how do you determine Citadel is not working anymore?

[2019-10-10 19:18] sushicw opened #17769 "Analyzer to WARN if pods are not in ready status"
Should we output a warning if pods are not in ready status?

From @davidebbo

[2019-10-10 19:34] sushicw commented on #17687
There's a blog post here that should cover a bunch of scenarios: https://istio.io/blog/2018/istio-authorization/#service-method-level-isolation-with-without-primary-identities

[2019-10-10 20:27] epsniff commented on #16536
I saw this same/similar issue today,  posting here in case it's related.

For us this happened after disabling and then enabling the side care injector using `kubectl label namespace NAMESPACE istio-injection=enabled`.

When the sidecar-injector started back up we got the following error in logs:
![image](https://user-images.githubusercontent.com/2811550/66603715-9a06c200-eb61-11e9-9b55-d20954572e

[2019-10-10 20:31] howardjohn opened #17771 "istioctl analyze does not respect `sidecar.istio.io/inject: "false"` annotation"
I ran `analyze` on my cluster and got about 100 instances of IST0103 " The pod is missing its Istio proxy", which is not correct; These should not be injected.

[2019-10-10 20:42] rlenglet commented on #17699
This can be closed?

[2019-10-10 20:45] howardjohn commented on #17679
@nkorange I would suggest you look at https://github.com/istio/istio/wiki/Analyzing-Istio-Performance for help diagnosing performance. Id be interested to see some heap profiles during this.

Your tool looks really useful, I'll try it out and see what we can learn and if we can optimize this at all.

Are you on pilot 1.3?

[2019-10-10 21:08] jasonwzm commented on #16559
The PRs should fix the current uses of snake cases in istio/istio. Closing this for now and I will reopen if I spot any misuse.

[2019-10-10 21:08] #16559 closed

[2019-10-10 21:36] howardjohn opened #17776 "New Test, TestAuthorizationPolicies_ListNamespacesOfServiceRoles, flaky due to non deterministic sorting"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17755/unit-tests_istio/1981

[2019-10-10 21:41] pinkertonpg commented on #17471
@howardjohn I ran into this with a minimal install of only pilot and the sidecar injector; the sidecar injector fails for the same reason as galley above. I'm very new to Istio, but that was unexpected behavior based on my grasp of what the sidecar injector is doing.

It looks istio/install is tackling some of these things (e.g. https://github.com/istio/installer/blob/master/istio-control/istio-au

[2019-10-10 21:57] mandarjog opened #17777 "tools: Import IBM blueperf into the tools repo"
IBM blueperf is a standard part of istio nightly test, but the code lives elsewhere.
Import Blueperf into the tools repo as /blueperf.

@vikramkhatri @muchida

I would like to see it split in 2 parts.
PR1. Create /blueperf directory and add readme files etc.
PR2. Code.

[2019-10-10 22:05] Freyert opened #17778 "pilot.validation.istio.io does not allow FQDNs"
**Bug description**
Pilot does not allow the use of FQDNs in `.spec.http.route[*].destination[*].host`.  It's imperative that FQDNs are usable here as `kube-dns` will treat it as a relative domain, try to find it in the local root domains it knows about, before discovering it is an FQDN.

Helm output:
[code]

This article provides more details why FQDNs are valuable: https://www.revolgy.com/blog/d

[2019-10-10 22:13] lambdai commented on #17746
I installed bookinfo istio example 1.3.1 and 1.3.2
Then I turn on debug log on product svc sidecar proxy and run `curl -s http://${GATEWAY_URL}/productpage`
I see `x-forward-for` on both 1.3.1 and 1.3.2

1.3.1
[code]

1.3.2
[code]
No difference.

@springrain Could you provide more concrete description? At which hop you want to see the x-forward-for?

[2019-10-10 22:15] howardjohn commented on #17471
@pinkertonpg please see the minimal example values file. You can install with `-f install/kubernetes/helm/istio/values-istio-minimal.yaml` and things will work. I think sidecar injector requires citadel for now

[2019-10-10 22:30] fpesce commented on #17735
Merged.

[2019-10-10 22:30] #17735 closed

[2019-10-10 22:38] mandarjog opened #17779 "StatsV2: Add values.yaml option to enable statsv2"
1. Add option to enable statsv2  (null vm)
2. The same option will disable Mixer reports for [HTTP](https://github.com/istio/istio/commit/702d5ee36ab83b1077ea91081171120c4313067e).

[2019-10-10 22:48] artyomtkachenko commented on #14327
We ran into the same problem in our clusters when we scale up/down our node groups.
Thinking to use node taints as a workaround for this problem.
The logic I am thinking of:
*  Always start node some special taint which repels all pods except the pods from <whatever>-cni , istio-cni and a special cni-check DaemonSets
* Write a simple cni check DaemonSet which will wait for both CNIs to report "hea

[2019-10-10 22:51] jfourment commented on #17742
It would be great to mention the cni image in the list of non-updated images here: https://istio.io/docs/ops/security/harden-docker-images/

[2019-10-10 22:54] lambdai commented on #17748
Yes... Since 1.3 all the bind_to_port = false in bound listeners are actually not be hand off by 15006 listener.

[2019-10-10 22:57] lambdai commented on #17748
Are the new listeners per instance supposed to be inbound or outbound? Anyway listener is expensive at envoy

[2019-10-10 22:57] duderino commented on #17098
Setting to P0, which is a bit of a stretch, but this would really improve our efficiency when debugging random clusters

[2019-10-10 23:10] vikramkhatri commented on #17777
@mandarjog - Thanks. I will do that.

[2019-10-10 23:53] liminw commented on #16998
I was looking at https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17625/integ-security-k8s-tests_istio/1542 where TestV1beta1_OverrideV1alpha1 failed. But my local run of this test always passes. Looking at testgrid, the test is showing green.

It seems that the test that is failing the most is sds_ingress/multi_tls_gateway_invalid_secret.TestMultiTlsGateway_InvalidSecret.

[2019-10-10 23:55] howardjohn commented on #17679
You are creating ServiceEntry of type DNS resolution. This is not what you want to handle an endpoint, you should instead use STATIC. Should be like

[code]

[2019-10-11 00:20] howardjohn commented on #17679
How are you getting around `Error receiving MCP resource: rpc error: code = ResourceExhausted desc = grpc: received message larger than max (4759554 vs. 4194304)`? Did you increase the max GRPC size in pilot? Right now its set to 4mb. I sent 1 service with 100,000 endpoints and its way above that limit

[2019-10-11 00:37] nkorange commented on #17679
OK, but this doesn't influence how Pilot consumes the memory, right?

[2019-10-11 00:37] nkorange commented on #17679
Yes, I set the ```mcpMaxMsgSize``` to 4GB.

[2019-10-11 00:42] nkorange commented on #17679
Yes, Pilot 1.3.1

[2019-10-11 00:51] elfinhe commented on #17767
Do you know the steps to reproduce this?

[2019-10-11 00:52] howardjohn commented on #17679
It does, its results in a different internal representation. Not sure if that results in more or less memory though, but its probably not the same.

I am curious about the implications of this.. I think this will result in Pilot likely using a more than 4GB just to handle the message due to buffering, etc

Do you have any XDS connections (gateway or sidecar) to pilot, or is it just receiving MCP c

[2019-10-11 00:53] elfinhe commented on #17743
https://github.com/istio/operator/blob/master/cmd/mesh/shared.go#L83
maybe we can change this line, I will create a PR.

[2019-10-11 01:08] springrain commented on #17746
I am nginx reverse proxy NodePort 31380 port. Visit nginx--->istio31380--->VirtualService-->Pod, version 1.3.2 can not get x-forwarded-for in Pod, 1.3.1 can

[2019-10-11 01:17] nkorange commented on #17679
OK, I will retest with static resolution type.

How can I verify this?
I just installed an empty K8S cluster and Pilot following the official guide: https://istio.io/docs/setup/install/kubernetes/

There are some xds logs in Pilot:

![image](https://user-images.githubusercontent.com/4593375/66617452-c117cf00-ec07-11e9-8d26-2da33dc42f3a.png)

[2019-10-11 01:21] howardjohn commented on #17679
looks like no, since connected endpoints is 0. I would encourage you to test with some actual workloads connected to pilot so you can measure envoy memory usage as well, and test pilot xds performance. Generating a bunch of config over mcp isn't very useful unless you are actually sending it to envoy at some point

[2019-10-11 01:25] springrain commented on #17746
`Pod里获取的header`

"sec-fetch-mode":"navigate",
"x-request-id":"d39c1c6f-33b2-9c0a-b47e-50b4c3749b0d",
"content-length":"0",
"x-b3-parentspanid":"c5e9aff4190f6646",
"sec-fetch-site":"none",
"x-forwarded-proto":"http",
"accept-language":"zh-CN,zh;q=0.9",
"remoteHost":"117.158.210.228",
"x-b3-sampled":"0","sec-fetch-user":"?1",
"accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp

[2019-10-11 02:01] nkorange commented on #17750
@hzxuzhonghu Is this some extending of current MCP protocol? I don't see annotations in current MCP message.

[2019-10-11 02:03] linsun commented on #15133
think @costinm is working on this via Istiod :)

[2019-10-11 02:06] linsun commented on #14523
@howardjohn thanks! Would like to kick off discussion on this... I created this because many folks think our default is for small production... and there is a desire to have medium production where our control planes are more highly available and can stay highly available during the update.

I would think demo is tiny of everything instead of small.

[2019-10-11 02:09] hzxuzhonghu commented on #17748
It is for outbound.

[2019-10-11 02:19] Nino-K commented on #17750
@nkorange annotations are part of MCP protocol's [metadata](https://github.com/istio/api/blob/a7165be19fef7f62f4eefde64e0ab62e131b1948/mcp/v1alpha1/metadata.pb.go#L73).

[2019-10-11 02:26] nkorange commented on #17750
@Nino-K OK, I'm studying your PR now.

[2019-10-11 02:27] howardjohn commented on #14523
I think currently we have

demo = no limits, no HPA, low requests
default = sane limits and requests, hpa, basic pdb

New profile would be HA, higher limits and requests?

[2019-10-11 02:45] howardjohn commented on #17778
Related: https://github.com/istio/istio/pull/14405 which should allow this.. not sure whats going wrong. Please provide the exact VS you applied

[2019-10-11 02:45] howardjohn commented on #17778
Oh its only in istio 1.3

[2019-10-11 03:17] hzxuzhonghu commented on #17753
Another option: infer the needed clusters from gateway and virtualservice. But donot forget to handle multiclusters gateway.

[2019-10-11 05:29] liamawhite commented on #17012
@douglas-reid are you able to provide insight into this?

[2019-10-11 06:46] iecedge commented on #17747
I have a new idea. Could we use the cross-compiler for Arm64 supporting?

[2019-10-11 07:17] YuraBeznos commented on #17728
Yeah, we are creating many namespaces and removing them after workload is completed.

Those namespaces are istio enabled, so very easy to see that citadel not working because istio-proxy (envoy) can't get certificates from citadel and not starting (not ready state).

After citadel restart (pod restart) everything work as expected.

[2019-10-11 08:49] tiggerlee2 opened #17790 "sidecar can not decode chunked message"
**Bug description**

I failed to access `http://api.goseek.cn/Tools/holiday?date=20191010` inside mesh and error is **transfer closed with outstanding read data remaining**. But it can be accessed successfully outside mesh.

curl -v http://api.goseek.cn/Tools/holiday?date=20191010 --raw

**Inside mesh output:**

[code]

**outside mesh output:**

[code]
**Sidecar prepend `22\r\n` to chunked message

[2019-10-11 10:07] nkorange commented on #17750
Does Pilot currently support incremental MCP service entry message at service level described in https://github.com/istio/api/tree/master/mcp?

[2019-10-11 13:03] Freyert commented on #17778
So we upgraded to istio 1.3 and ended up receiving 503s when using FQDNs.

[2019-10-11 13:05] rkr-kununu opened #17792 "Multiple Concurrent Egress requests are very slow w/ istio-proxy sidecar"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

Disclaimer:  I'm still very green with istio so this could be documented somewhere, but I haven't been able to find it.

I've noticed an alarming d

[2019-10-11 13:31] esnible commented on #17618
@gargnupur This test is just your test _tests/integration/mixer/telemetry/metrics/scenarios_test.go_ followed by a new method to make sure `istioctl x metrics` can parse the values in Prometheus.

I don't understand why it is failing.  Perhaps the framework is doing something in parallel.  I will make my test and your test explicitly sequenced.

[2019-10-11 13:57] howardjohn commented on #17778
can you send the exact config you applied and the resulting envoy config?

[2019-10-11 14:01] morningspace opened #17795 "Only see istio-ingressgateway traces in Jaeger when deploy Istio 1.3.2 on Openshift w/ CNI enabled"
**Bug description**
After deploy Istio on OpenShift 3.11 and 4.2 using helm demo profile with cni enabled, I can see all apps almost work, but just:
* I can only see istio-ingressgateway traces in Jaeger, each record with only one span.
* From Kiali, there's no traffic spot in default namespace, where I deploy the bookinfo app.

It seems a bit similar to #14628, but I did not see helpful informati

[2019-10-11 14:02] morningspace commented on #17795
![image](https://user-images.githubusercontent.com/16119920/66657637-be9e8f00-ec72-11e9-83c3-5cb2d0de7366.png)

![image](https://user-images.githubusercontent.com/16119920/66657713-dc6bf400-ec72-11e9-8512-233e36d48807.png)

[2019-10-11 14:42] Freyert commented on #17778
@howardjohn will do! Have some other stuff to look into first.

[2019-10-11 14:43] bianpengyuan commented on #17012
Should be fixed by https://github.com/istio/istio/pull/17793

[2019-10-11 14:57] #17705 closed

[2019-10-11 15:15] howardjohn commented on #17747
I am not sure about the proxy, but I am pretty sure you can build the
control plane (pilot, etc) on arm64. See this part of our makefile:
https://github.com/istio/istio/blob/ca8448bef9fe1e0fbd004a297a1847fe8e1dfa9f/Makefile.core.mk#L71-L72

On Thu, Oct 10, 2019 at 11:47 PM iecedge <notifications@github.com> wrote:

[2019-10-11 15:27] howardjohn commented on #17753
Didn't @mandarjog do this at some point but the PR was dropped?

On Thu, Oct 10, 2019 at 8:18 PM Zhonghu Xu <notifications@github.com> wrote:

[2019-10-11 15:49] marcusrios commented on #17718
I had the same issue. After renewing the certificate with [root-transition.sh](https://raw.githubusercontent.com/istio/tools/master/bin/root-transition.sh) and proceed with the [instructions](https://istio.io/docs/ops/security/root-transition/) everything works fine now.

[2019-10-11 15:50] Freyert commented on #17778
# When it works
One destination is an address outside the cluster that has Istio running on it. I will have to check with my team mate with regards to what that means.

[code]

[code]

[2019-10-11 15:56] mandarjog commented on #17753
There were 3 sides
1. Use gw and vs to figure out the clusters that are needed.
2. Ability to opt out for mcg
3. Process EnvoyFilter api for its dependencies.
4. A way to keep required clusters like mixer etc.

I had implemented and tested 1,2,4 .
At that time i needed equivalent to sidecar’s egress field on gateways.

[2019-10-11 16:14] geeknoid commented on #17752
I've updated a few more things that were out of date on the Wiki, but I don't have time at the moment to run through the whole example to make sure it's working.

@bianpengyuan Can you lend a hand here with any further problems?

[2019-10-11 16:18] #17502 closed

[2019-10-11 16:31] bianpengyuan commented on #17752
@geeknoid Sure I will run through the example.

[2019-10-11 16:33] nmittler commented on #17098
@mandarjog @fpesce @howardjohn @duderino

We definitely need this! My main concern is about visibility and simplicity of the UX. I think we'd be better off baking this into istioctl, which customers likely already have and are familiar with.

Some (very rough) ideas for UX:

[code]

WDYT?

[2019-10-11 16:39] elfinhe opened #17799 "Istioctl Operator CLI release is using incorrect default hub and tag from installer repo"
Now the released operator CLI is using
[code]
by default, which is directly retrieved from installer repo by giving a sha to a revision and complied into binary.

But when Istio get released, the hub and tag for the current installation method (`helm template`) will be replaced with the defaults like below:
[code]

Using daily build is not a good practice, we should change operator CLI to align wi

[2019-10-11 16:49] bianpengyuan commented on #17752
@mgwizdz-jamf It works fine for me now, let me know if you still have any issue.

[2019-10-11 16:55] #14137 closed

[2019-10-11 17:02] #9758 closed

[2019-10-11 17:22] gargnupur commented on #17618
This is same as https://github.com/istio/istio/issues/17700...

I have a hack for the issue in redis tests PR: https://github.com/istio/istio/pull/15593.
@howardjohn : Can we get the redis pr in, to see if the hack works and in the meantime, we can debug why ingressgateway becomes unresponsive...

[2019-10-11 17:36] Nino-K commented on #17750
@nkorange The standard MCP controller (the one that listens for all the config types) in pilot currently sends a full update (no incremental) for all the configs that it receives over MCP [here](https://github.com/istio/istio/blob/master/pilot/pkg/config/coredatamodel/controller.go#L195) and [here](https://github.com/istio/istio/blob/ecbed5df617655d6aa72a7b9d19204294fecf7c5/pilot/pkg/bootstrap/ser

[2019-10-11 17:37] #15321 closed

[2019-10-11 17:37] #14095 closed

[2019-10-11 17:37] howardjohn commented on #10703
Please try out the new feature and open an issue if that isn't working. Thanks!

[2019-10-11 17:37] #10703 closed

[2019-10-11 17:38] howardjohn commented on #14920
Looks like this is the graceful shutdown: pod gets a SIGTERM, we restart envoy with empty config.

So maybe Envoy 0 crashes, then we got a sigterm and start epoch 1 which doesn't work

[2019-10-11 17:42] howardjohn commented on #17050
We cannot reproduce.

[2019-10-11 17:42] #17050 closed

[2019-10-11 17:43] howardjohn commented on #17254
I am not sure there is any action we can do here without some understanding of why Sensu is failing. Until then we can add to https://github.com/istio/istio/issues/14743

[2019-10-11 17:43] #17254 closed

[2019-10-11 17:44] #17539 closed

[2019-10-11 17:44] howardjohn commented on #17627
This is working as intended, the config does not exist on Istio 1.0

[2019-10-11 17:44] #17627 closed

[2019-10-11 17:44] #17676 closed

[2019-10-11 17:44] richardwxn commented on #17767
I have seen the same situation and it might be the issue of finalizer?

[2019-10-11 18:04] Freyert commented on #11828
@zhongfox this stackoverflow question answers that: https://stackoverflow.com/questions/2142910/whats-the-difference-between-uri-host-and-uri-authority.

Authority -> host + port
Host -> host

[2019-10-11 18:05] rshriram commented on #16030
I dont have experience in proxy [all the bazel stuff]. @yxue / @lizan / @mandarjog ?

[2019-10-11 18:11] Vedo63 opened #17801 "I can't handle the communication between the clusters."
Hello, everybody,

I have 2 clusters and want them to communicate with each other via Istio.
I followed the instructions "Shared control plane (multi-network)" and completely installed Istio on cluster1 and only the remote part on cluster2.
However, I can't achieve communication between the clusters. I only have one NodePort for each cluster. What does global.meshNetworks.network1.gateways[0].addr

[2019-10-11 18:12] howardjohn commented on #17799
Talked to @ostromart, some thoughts:

The operator bakes the charts into the binary, so we cannot do the simple string replace we do for istio/istio. Note that we *do* do this replace on the operator charts packaged in the archive here: https://gcsweb.istio.io/gcs/istio-build/dev/1.4-alpha.ecbed5df617655d6aa72a7b9d19204294fecf7c5.

Some possible ideas:
* When we build istioctl, checkout istio/oper

[2019-10-11 18:21] Freyert commented on #17778
I've discovered the core of it. Bit of an Istio novice here.

So I knew about the Virtual Service, and the Destination Rule, but what I did not know was that there was a Service Entry that defined my external hosts for Istio. No more 503s, but I need to get to the bottom of some extreme sluggishness now.

[2019-10-11 18:24] lambdai commented on #17746
It's not helpful when you just dump your application headers. We still don't know where is it stripped.

Could you dump the proxy config of istio-31380 and the config of application pod? I assume it's a sidecar proxy powered by envoy
You can mask out the RDS part. We only need the http_conn_manager config. More precisely the `useRemote`

You can also find the log of each hop of istio-proxy by
[cod

[2019-10-11 18:25] howardjohn commented on #14122
just istio/proxy left

[2019-10-11 18:27] howardjohn commented on #10568
Seems like the issue has been resolved per above

[2019-10-11 18:27] #10568 closed

[2019-10-11 18:29] howardjohn commented on #15943
Here is an example WIP for a nacos MCP server https://github.com/nacos-group/nacos-istio and here is one for consul https://github.com/costinm/istio-consul

[2019-10-11 18:29] #15943 closed

[2019-10-11 18:31] howardjohn commented on #11328
@JimmyCYJ I think you did this?

[2019-10-11 18:33] howardjohn commented on #15971
Please add the follow up info if you are still running into this

[2019-10-11 18:33] #15971 closed

[2019-10-11 18:41] howardjohn commented on #14123
Done?

[2019-10-11 18:42] aattuluri opened #17802 "Support Locality Load Balancer settings override per host"
**Describe the feature request**
We have a use case to support where some services run active active (with uneven distribution of traffic) while most others run in a failover mode. Currently, locality load balancing feature is supported at the global mesh config level. There isn't a way to either disable or override there locality load balancing settings per host. Hence, the use case above in't co

[2019-10-11 18:43] aattuluri commented on #17802
@howardjohn @rshriram

[2019-10-11 18:45] lei-tang commented on #17728
Can you try the latest Istio version to see if it is reproducible the latest Istio version?

[2019-10-11 18:45] #14123 closed

[2019-10-11 18:52] #17012 closed

[2019-10-11 18:56] esnible commented on #13329
Instead of contributing to core Istio this idea can be done in another repo.

[2019-10-11 18:56] #13329 closed

[2019-10-11 18:58] esnible commented on #15633
Closing because containerPort no longer required https://github.com/istio/istio.io/pull/4859

[2019-10-11 18:58] #15633 closed

[2019-10-11 19:00] esnible commented on #16137
@frankbu Does this belong here or in https://github.com/istio/istio.io ?

[2019-10-11 19:05] esnible commented on #12513
Closing because `istioctl x describe` now performs this function.

[2019-10-11 19:05] #12513 closed

[2019-10-11 19:08] incfly commented on #15633
I have to point out that while `containerPort` requirements are removed since we intercept all the traffic, but today's authn policy is still service oriented. In a sense if you configure service `foo` with mTLS required, it only makes the inbound ports corresponding to the service definition's ports mTLS, the rest is intercepted, but still plaintext.

This is surprise in the first glance, but fee

[2019-10-11 20:15] howardjohn opened #17805 "istioctl analyze does not respect proxyImage overrides"
Step 1: add annotation `sidecar.istio.io/proxyImage: istio/proxyv2:1.3.3`
Step 2: run `istioctl analyze`

Warning:
[code]

[2019-10-11 20:19] howardjohn opened #17806 "istioctl analyze excessive warning for unlabeled namespace"
Step 1: create an namespace without label with `istio-injection`

Get warning

[code]

This is a bit excessive. I don't want to inject pods in this namespace, which is a pretty common usage in Istio (that is why we have the label).

Now this warning spams me every time when its not relevant to me.

Maybe this is more of a metapoint that I want to suppress warnings in the future or something

[2019-10-11 20:20] howardjohn opened #17807 "istioctl analyze does not tell me where I am referencing something from"
In my cluster I get two errors:

[code]

The problem is I don't know where I am referencing these! So I can't fix them. Can we include what object is referencing them?

[2019-10-11 20:22] howardjohn opened #17808 "istioctl analyze could use some color/syntax highlighting"
Right now I get a huge blob of text, and its hard to determine what is an error, what is a warning, etc. It would be useful to have some colored output, at least for info/warning/error.

[2019-10-11 20:28] howardjohn opened #17809 "istioctl analyze output not sorted"
It seems like the output order is completely random. It doesn't seem like its writing warnings as its finding them, so I see no reason why we can't do some sort of sorting.

A reasonable order may be:
* Error level
* Error Code #
* Namespace/pod or something? I have a bunch of namespaces svc{0..100} and they are in completely random order which is a bit inconvenient

[2019-10-11 20:28] Freyert opened #17810 "Istio Ingress every X response is slow"
**Bug description**
Every X call we make through our ingress to our health check endpoints takes around 4 seconds when it should only take 100 ms.

I'm just starting my investigation, but wanted to open a ticket to see if anyone had any suggestions on where to look?

Will try to fill out more details as I figure it out.

**Affected product area (please put an X in all that apply)**

[X] Configurat

[2019-10-11 20:37] elfinhe commented on #15217
One possible solution:
Switch to use istioctl/pkg/kubernetes/client.go, so we can have an unified kube client lib in both istioctl and operator.

[2019-10-11 21:10] yxue opened #17811 "Integration test TestStatsFilter failed"
Failed to update istio/proxy. integ-telemetry-k8s-tests_istio keeps failing. Similar tests in istio/proxy passed.

https://github.com/istio/istio/pull/17800

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[x] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

[2019-10-11 21:21] bturbes commented on #17759
It sounds like I just misunderstood the release notes then.

Here's a hopefully more clear example of the behavior we're looking for. Let's say I have the following ServiceEntry.
[code]
Then we can run a any pod in that namespace with curl on it.
[code]

From here if we run `curl https://www.google.com/` we'll get a successful response and see the request logged in both istio-proxy and in mixer. I

[2019-10-11 21:27] nrjpoddar commented on #15633
Thanks @incfly for this explanation. This feels like a security risk for any operator. I would re-open this issue until we address this completely i.e. authn policies apply to all container ports if nothing is explicitly listed.

Another question is does this work with protocol sniffing i.e. if the service port is not prefixed but has an auth policy, will it work transparently for HTTP traffic?

[2019-10-11 21:31] incfly commented on #15633
/cc @diemtvu

This is indeed very intuitive... especially now we support capturing all inbound, but a non-port specified authn mTLS policy is still only scoped for the ports defined in the service... I don't know how feasible or urgent this should addressed.

I think all it matters is whether port is defined in the service, it should not have anything to do with prefix.   at least for mTLS, not su

[2019-10-11 21:32] incfly commented on #15633
This is why I filed a https://github.com/istio/istio/issues/17278 before w.r.t this.

[2019-10-11 21:33] nrjpoddar commented on #15633
Thanks, I meant for JWT.

[2019-10-11 21:40] costinm opened #17813 "Istiod: refactor component startup"
**Describe the feature request**

Right now Galley, Pilot, Injector, NodeAgent  are started from a main() that calls a
function in the pkg/ which creates gprc server, listens, in some cases handles MTLS,
adds monitoring and ctrlz ports, etc.

While this can be hacked to work for istiod, ideally for each component we would have a pair
of separate functions:

 Init(grpcServer, httpMux, debugMux) - w