[2020-02-11 06:36] nikhilbalekundargi commented on #20987
Yes, workload identity is enabed on the cluster. But we should bind  KSA (Kubernetes Service Account) with GSA(Google Service Account). Can you clarify which KSA we should bind with GSA?

One more confusion here is - as per the [workload identity documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity), last point in limitations says GKE logging and monitoring agent

[2020-02-11 06:40] nikhilbalekundargi commented on #20987
There is no clarity in documentation on adding the SA key or using Workload identity.

[2020-02-11 07:50] cacedo commented on #20940
The only difference I can think of with other deployments is that we have 2 services pointing to the same pods. One is headless and the other has a cluster IP. To discard this could be the cause, we removed the one with a cluster IP.
It seems far fetched, but, could be that the reason?

[2020-02-11 08:16] Stono commented on #19925
<img width="1618" alt="Screenshot 2020-02-11 at 08 16 09" src="https://user-images.githubusercontent.com/1486729/74220196-d29ce080-4ca6-11ea-86f4-bf3d2763d432.png">

:(

[2020-02-11 09:04] nikhilbalekundargi commented on #20987
@bianpengyuan I have tried adding api key (with Stackdriver Loggin API, Monitoring API and Trace API permission) but not luck. I can see below error and warning -

error adapters Stackdriver logger failed with: rpc error: code = PermissionDenied desc = The caller does not have permission {"adapter": "stackdriver.istio-system"}

warn	adapters	API Key is no longer supported by gRPC client. Use Servi

[2020-02-11 09:57] lei-tang commented on #20697
When a proxy starts, it will go through a few steps:
- k8s creates the container. When the container has volume mounts, the time consumed by this step also includes waiting the volumes to be mounted.
- Envoy requests for xDS config from Pilot.
- Envoy receives xDS config from Pilot.
- Envoy sends SDS request.
- Envoy receives SDS response.

If we have timestamps for each of the steps, it will help

[2020-02-11 10:10] IbraheemAlSaady commented on #19263
@ostromart, I still can't find any documentation for the 1.4.3 multiple ingress gateways, is it there already? Can you please share some docs if there are any?

[2020-02-11 10:34] liquid-cloud opened #21025 "Poor performance when using Ingress gateway with HTTPS"
**Bug description**

Pasted the test results here: https://github.com/liquid-cloud/hello-go/blob/781af1a7cf0b183923b32b091ec51377e2aaa987/istio_results.md

**Expected behavior**

The expected behavior would be similar or closer performance to the nginx ingress, but from what it looks it's ~4 times slower.

**Steps to reproduce the bug**

The manifests for the application are here: https://github.c

[2020-02-11 10:39] shamsher31 commented on #13858
On the Linux system, you can follow these steps.

1. Download the [latest Istio release](https://istio.io/docs/setup/getting-started/#download) to your $HOME.
2. `$ sudo gedit ~/.bash_profile`

 Add following:

[code]
3. `$ source ~/.bash_profile`.
4. `$ istioctl version`

[2020-02-11 10:52] #20935 closed

[2020-02-11 11:22] shamsher31 commented on #18986
The version is returned from the function [`GetIstioVersions`](https://github.com/istio/istio/blob/cee3fed405c6ebc2d19316de011287efd8b86cdd/istioctl/pkg/kubernetes/client.go#L246) and if the Istio is not installed on cluster it prints warning message form [this line](https://github.com/istio/istio/blob/cee3fed405c6ebc2d19316de011287efd8b86cdd/istioctl/pkg/kubernetes/client.go#L255).

I'm not sure

[2020-02-11 11:27] shamsher31 commented on #20983
There is plenty of information filled on the Istio website.

Ref:
https://istio.io/docs/concepts/traffic-management/#retries
https://istio.io/docs/reference/config/networking/virtual-service/#HTTPRetry

I agree that there is no dedicated page available to explain how retries work. But you can use bookinfo sample to try it out.

All you need to do is to configure `VirtualService` and add `retries`

[2020-02-11 11:34] hzxuzhonghu commented on #20986
I have found the cause here:

https://github.com/istio/api/blob/9564cdd03c96e8c6aca43cd0d41414c279135424/operator/v1alpha1/operator.pb.go#L8

[code]

[2020-02-11 11:53] nikhilbalekundargi commented on #20987
Resolved the issue by Workload Identity. Below are the steps -

- Enable workload identity on the cluster and node pool

- Create a google service account with permissions for metrics and logs writing
- Create binding between GSA and istio-mixer-service-account KSA in istio-system name space
gcloud iam service-accounts add-iam-policy-binding \
  --role roles/iam.workloadIdentityUser \
  --member "

[2020-02-11 11:54] #20987 closed

[2020-02-11 12:11] jackkleeman commented on #20986
I think that predates me @hzxuzhonghu. But I can try to fix

[2020-02-11 12:21] haf-afa commented on #20082
Will this be fixed in 1.4.4?

[2020-02-11 12:22] jackkleeman commented on #20986
I don't think this is trivial to move to gogo because of the GOTYPE stuff

[2020-02-11 12:26] haf commented on #19417
@howardjohn You need to remove the mention of cert-manager from here: https://istio.io/docs/tasks/traffic-management/ingress/ingress-certmgr/ — otherwise people believe the bundled cert-manager is the way to go

[2020-02-11 12:53] AceHack commented on #20989
So there was nothing done before getting the 404, if I just wait a day or two it reoccurs.

Also which xds config would you like, I can reproduce the 404 from any pod in the cluster even one I just stood up with the command:

kubectl run aarontest -i --tty --image byrnedo/alpine-curl --restart=Never -- sh

Do you want it from one of the calling pods, or the pod that the headless service is pointin

[2020-02-11 13:09] JRaver commented on #17886
Hi, guys. We have a similar situation with Istio mesh expansion. We have a VM on Vmware on our Datacenters.
We have a Ubuntu 14.04 - 18.04 Os installed on our VMs.
Kubernetes network in our case it's routed, and we can reach pod IP directly.
We successfully added in mesh Ubuntu  14.04 with, but with 18.04 we have a almost similar error like Docteur-RS has.
[code]

We added the DestinationRule for

[2020-02-11 13:21] hzxuzhonghu commented on #20989
Where did you curl your headless service?
If it is from a pod inner he mesh, can exec into the sidecar
[code]

If it is from outside the mesh, and you are accessing by gateway, you should dump the config from the ingress-gateway pod.

[2020-02-11 13:54] FilipB opened #21026 "The galley pod throws errors to log - validatingwebhookconfiguration update failed (Clean Istio 1.4.3 on OCP 4.3)"
After clean installation of Istio 1.4.3 on OCP 4.3 the galley pod throws following errors to log:
`2020-02-11T13:39:02.931305Z	error	validation	istio-galley validatingwebhookconfiguration update failed: validatingwebhookconfigurations.admissionregistration.k8s.io "istio-galley" is forbidden: cannot set blockOwnerDeletion if an ownerReference refers to a resource you can't set finalizers on: , <nil

[2020-02-11 14:25] miracle-jia commented on #7334
Does any proccess on this issue?
We use the 1.3.0 version and restart the istio-policy, our service cannot be access.

Here is our issue:
Our deployment is configured a liveness probe to health check every 3 or 5 second. When the istio-policy restarted, during the restart, the pod envoy cannot connect to policy, all of request will be delayed 5 seconds. While the health check request is deplayed 5

[2020-02-11 14:26] miracle-jia opened #21029 "istio-policy restart causes pods to restart due to liveness probe"
Does any proccess on this issue?
We use the 1.3.0 version and restart the istio-policy, our service cannot be access.

Here is our issue:
Our deployment is configured a liveness probe to health check every 3 or 5 second. When the istio-policy restarted, during the restart, the pod envoy cannot connect to policy, all of request will be delayed 5 seconds. While the health check request is deplayed 5

[2020-02-11 14:30] esnible commented on #18986
@shamsher31 The log messages should be removed.  Earlier versions of the `version` subcommand were shared by server-side code such as Pilot which needed to log.  The Istioctl CLI should not log under any ordinary circumstances.

I recommend either eliminating the `log.Warnf()` statements or lowering the level to debug.

It is nearly impossible to refactor the `version` command because it exists in

[2020-02-11 14:36] shamsher31 commented on #18986
That was my first thought, I think as a user you shouldn't be bothered about whether you are getting `version` from cluster's `istio-system` or from anywhere else.

That's a good idea, I think keeping it to `debug`  will be sufficient.

[2020-02-11 14:42] howardjohn commented on #20697
The first step is not included, I am only considering the time when envoy starts running (the binary, not the whole container) to the time its marked as ready. The other steps I don't have measured right now, possibly could bump up the logging and extract it. Please note that there is actually 4 xds requests and 2 sds requests though. Given if we just turn of SDS it's 7x faster, I think we can saf

[2020-02-11 14:46] howardjohn commented on #19417
@haf that document links to the cert manager website and says to install from there. What part of that leads you to use the bundled cert manager, is there somewhere I am missing?

[2020-02-11 14:53] howardjohn commented on #16458
sorry I meant port 443not 80. Yes you can add an external service for https, just name the port https not http

[2020-02-11 14:56] haf commented on #19417
Yes, it links, but it doesn't state; since I had already looked through the istio config and found that you have a cert-manager there, with no deprecation notice on it, it was already deployed and thus I did not click the link.

[2020-02-11 14:58] esnible commented on #18986
Lowering the message to DEBUG level is good enough, but if you want to do better read on.

FYI, to test on my cluster with Istio installed, I use `istioctl version --istioNamespace=bogus`

The problem is the API between istio/istio and istio/pkg does not allow us to pass the Cobra output stream to `getRemoteInfo()`.  You COULD write informative messages to os.Stderr if Istio is not found.  That wi

[2020-02-11 15:26] papatego123 opened #21030 "Erroneous init-containers restarts Init:CrashLoopBackOff"
Init:CrashLoopBackOff appears to still be a problem.
**Affected product area**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Version**
[code]

**How was Istio installed?**
[code]
**Environment where bug was observed (cloud ven

[2020-02-11 15:33] haf opened #21031 "PodDisruptionBudget for istio-sidecar-injector has wrong matchLabels"
**Bug description**

The pod disruption budget for sidecar-injector doesn't properly select the pod. Event:

[code]

Solution:

[code]

**Expected behavior**

**Steps to reproduce the bug**
install istio

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**
1.4.3

**How was Istio installed?**
istioctl

**Environment where bug was

[2020-02-11 15:46] hasusuf commented on #19728
Recently, we got hit by this one! We couldn't use the same workaround but similar, instead of excluding the `pubsub.googlealips.com` IPs that can be randomly changed. We decided to go with `traffic.sidecar.istio.io/includeOutboundIPRanges: <POD-CIDR>,<SVC-CIDR>,<NODE-CIDR>`
 In my opinion, this workaround is fine for now but we should try to solve this on the proxy level

[2020-02-11 15:56] #20950 closed

[2020-02-11 16:12] esnible commented on #19735
I also see this if `--set` use used.  For example

[code]

[2020-02-11 16:14] roksaksida commented on #13326
Any update? How to get the first ip from x-forwarded-for?

[2020-02-11 16:19] rlenglet commented on #21030
That's definitely caused by `istio-init` executing more than once.
@papatego123 can you send the logs of the first `istio-init` failure in a pod? There are many possible causes for this to fail, and the logs of the first execution will tell us what that is.

[2020-02-11 16:20] roooxvee commented on #13326
Is there any update?
How to get the first ip from request.headers["x-forwarded-for"]?

[2020-02-11 16:48] robinbraemer commented on #20991
[code]

[2020-02-11 17:18] howardjohn commented on #20697
We are generating a `default` secret 3x during startup. Each of these seems to takes 1-2s

[2020-02-11 17:36] selmanj commented on #20936
Eventually sounds like a good idea; the fact that it flaked on nil vs empty list definitely sounds like a timing issue.

[2020-02-11 18:06] howardjohn commented on #20697
I think I have a fix, will update with more info after further testing

[2020-02-11 18:10] myidpt commented on #20697
Thanks @howardjohn

[2020-02-11 18:13] howardjohn opened #21034 "Envoy warning - Double registration for type Empty"
[code]

Log shows up in envoy. Seems like something is wrong here, but I don't know if its an Istio bug, envoy bug, or just a misleading log message

[2020-02-11 18:17] howardjohn commented on #20697
  | full sds | single envoy grpc | read from cache | cache+single
-- | -- | -- | -- | --
mean | 9.64622588 | 6.27448616 | 3.53375364 | 3.20595752
p90 | 20.039445 | 9.8087938 | 4.957918 | 4.3712838
stddev | 5.97594061 | 2.627812919 | 1.099486165 | 0.9737513167

I have 2 optimizations. The first is to create a single cluster, "SDS", that is used for all sds connections, rather than having each one r

[2020-02-11 18:34] kramvan1 commented on #20456
I will check this out in 1.4.4

[2020-02-11 18:46] papatego123 commented on #21030
@rlenglet Here is the output I got when I ran `kubectl logs --since=30h mongo-profiler-7fc57bd95d-nk7sf -c istio-init` to get the logs of the first istio-init failure:
[code]

[2020-02-11 18:51] douglas-reid commented on #20982
@JacksChoco given that Mixer will be deprecated with the 1.5 release, I think any changes to support additional reporting ultimately need to be handled in a proxy extension. What remains is how we want to approach providing this functionality in a generic and extensible manner.

[2020-02-11 19:04] rlenglet commented on #21030
If this is the first container failure, then I suspect that you're running Istio CNI manually without having enabled it at install time?

[2020-02-11 19:11] Stono opened #21036 "Please support http2 between envoys as a first class citizen"
**Describe the feature request**
On our cluster, http2 can make a real difference.  This graph demonstrates the following service chain:

`consumer-gateway` -> `sauron-web` -> `search-one` -> `solr`

It shows p99 response times from the perspective of `consumer-gateway`, as you can see the notable improvement when an `EnvoyFilter` is applied to upgrade the connections to http2.

<img width="801" a

[2020-02-11 19:13] Stono commented on #21036
cc @mandarjog @douglas-reid @howardjohn

[2020-02-11 19:19] infa-rbliznet commented on #20733
I think, we have same or very similar issue, so that's why I'm not filing a new bug. In our case as well istio pickups listeners from completely different namespace (kube-system) instead of namespace where service is deployed. However, it's intermittent issue, we have to run delete-create loop for deployment/service to reproduce it. The only thing that helped as is to manually define Sidecar objec

[2020-02-11 19:54] towens commented on #19196
🖤this. This is key to moving away from installing/customizing Istio with helm. All our installs presently use an `override.yaml` to provision network load balancers.

[2020-02-11 19:56] richardwxn opened #21037 "operator does not prune telemetry v2 envoyfilters"
When user upgrade from telemetry v2 enabled to v2 disabled(either no telemetry or v1 mixer telemetry) , the previously applied metadata exchange and stats/sd filter would not be pruned. I think the reason is that right now the istioctl pruning logic is done on basis of component level

[2020-02-11 20:56] #19196 closed

[2020-02-11 20:59] #20534 closed

[2020-02-11 21:23] AceHack commented on #20989
404 trying to hit

http://solr-news-zookeeper-test-zookeeper-stateful-set-a-0.solr-news-zookeeper-test-zookeeper-headless-service.2269-solr-news-test.svc.cluster.local:9404/metrics

http://solr-news-zookeeper-test-zookeeper-stateful-set-a-0.solr-news-zookeeper-test-zookeeper-headless-service.2269-solr-news-test.svc.cluster.local:8081/metrics

[config.dump_2.txt](https://github.com/istio/istio/file

[2020-02-11 21:35] richardwxn commented on #21037
/cc @mandarjog @carolynhu

[2020-02-11 21:36] ostromart opened #21039 "Two different marshalers used in operator"
https://github.com/istio/api/pull/1277 indicated that yaml unmarshal is required for controller function. However, jsonpb is still widely used in other parts of the code, including all tests. We need to use one or the other (not both) marshalers consistently throughout the code.

[2020-02-11 21:39] taylorreece commented on #19639
@arizvi002 in case you're curious, this didn't make the 1.4.4 release.  Hopefully it'll be in the 1.5.0... I'm waiting for 1.5.0-beta.1 to be compiled and available to test; it wasn't in 1.5.0-alpha.0.

It looks like someone cherry-picked the patch into the 1.4 branch 4 hours ago, so maybe it'll be in 1.4.5, if that ever exists.

[2020-02-11 21:41] carolynhu commented on #20463
Should add some fields in config/setup file, which can enable or disable which group of lines to show.

[2020-02-11 21:50] howardjohn commented on #21037
Envoyfilter is not in the prune whitelist

[2020-02-11 22:25] #19692 closed

[2020-02-11 23:46] howardjohn opened #21044 "1.5 regression: tcp metrics missing destination_service"
fix in envoy: https://github.com/envoyproxy/envoy/pull/9949
ref: https://github.com/istio/istio/pull/19898

[2020-02-11 23:46] howardjohn opened #21045 "1.5 regression: dashboards reference metrics that have changed"
fixed in https://github.com/istio/istio/pull/19898

[2020-02-11 23:51] brian-avery commented on #20771
I haven't had the chance to look into this yet, but it's better to use the following to wait for resources to propagate:

`istioctl experimental wait --for=distribution VirtualService reviews.default`

[2020-02-12 00:09] carolynhu commented on #20908
@richardwxn i'm not taking over the refactoring and running in multiple namespace thing. just letting you know.

[2020-02-12 00:17] bianpengyuan commented on #21044
dup of https://github.com/istio/istio/issues/20802?

[2020-02-12 00:21] ostromart opened #21046 "operator controller webhook errors"
The controller attempts to call a validation webhook which is a part of the kube-builder operator framework:
[code]
Actually we should not be calling this webhook since it doesn't do anything at the moment, so it should be removed for the time being.

[2020-02-12 00:24] ostromart opened #21047 "controller error: Service X is invalid: spec.clusterIP: Invalid value: "": field is immutable"
To reproduce, restart the controller. The control loop will regenerate all manifests and update all objects since the cache is flushed. The update operation fails likely because we are setting the clusterIP field to the default ("") rather than omitting it as empty, which leads to the merge conflict.

[2020-02-12 00:27] howardjohn commented on #21044
yep

[2020-02-12 00:27] #21044 closed

[2020-02-12 00:30] richardwxn opened #21048 "The installation option for telemetry is too complex"
Right now for IstioOperator spec, we have these following options and default value for 1.5 related to telemetry functionality enablement

1. components.telemetry.enabled: controls mixer related resources installation
    default: false
2. values.telemetryv1.enabled: controls mixerReportServer setting in istio configMap
   default: false
3. values.telemetryv2.enabled: controls v2 related envoyfilt

[2020-02-12 00:39] jcetkov opened #21049 "istio_mcp_message_sizes_bytes_bucket doesn't reflect mcp response"
**Bug description**
the metric `istio_mcp_message_sizes_bytes_bucket` seems to only contain the request payload size, which is fixed and not too interesting value
the response of mcp, which keeps growing with resources applied in cluster and can cause disruption of operations if breaching pilot's configured mcpMaxMsgSize is not captured

**Expected behavior**
it is possible to monitor mcp response

[2020-02-12 00:42] lei-tang commented on #20697
My speculation for the startup difference between SDS (3.2s/4s) and file mount (2.1s/2.9s) is:
- For file mount, the private key and certificate have been generated and mounted to the pod through a secret volume. When Envoy starts, the private key and certificate are available already.
- In contrast, for SDS, the private key and certificate is generated after Envoy starts, which takes some time to

[2020-02-12 00:54] howardjohn commented on #20697
@lei-tang yes I agree, the CSR seems to take roughly ~1s to create. I am planning to get a more exact number on that, but that seems to be the overhead. This also can play into envoy exponential back-off on the XDS connection, but generally I think with my change we are down to a reasonable number (https://github.com/istio/istio/pull/21038)

[2020-02-12 01:16] richardwxn commented on #21037
@howardjohn do you know whether exist a place to add that or we have to pass in --prune-whitelist for Envoyfilter during apply

[2020-02-12 01:20] yangyao-uipath commented on #18936
A follow up, after resolving the connection reset error.
S2I build fails around half the time with error:
"ReadTimeoutError(\"HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)"

One of the suggestion is that set the pip install time out to 100s instead of default 15s.  https://stackoverflow.com/questions/43298872/how-to-solve-readtimeouterror-httpsconnectionpoolhost

[2020-02-12 01:43] #20397 closed

[2020-02-12 01:52] hzxuzhonghu commented on #20989
What is your `solr-news-zookeeper-test-zookeeper-stateful-set-a` svc look like?

[2020-02-12 02:07] hzxuzhonghu commented on #20989
I can not find the route config of 9404 or 8081 from `dynamic_route_configs`, not sure why.  can you see any error in pilot or sidecar?

[2020-02-12 03:06] hzxuzhonghu commented on #20986
@howardjohn  as this is blocking some prs. And i think we should skip this test temporarily.

[2020-02-12 03:10] yangminzhu commented on #21001
Yeah, we should add testing for egress as well. I will take a look once we're done with many of the cherry-picks for 1.5.

[2020-02-12 03:12] xiaozhongliu commented on #19717
We need to use a filter to exclude istio-init container, in case you are using docker system prune command:
docker system prune -af --volumes **--filter "label!=io.kubernetes.container.name=istio-init"**

[2020-02-12 03:21] rshriram opened #21053 "VirtualOutboundListener does not have http inspector"
We setup the HTTP inspector on every listener in a sidecar except for the virtualOutboundListener. This listener is the catch all listener for any unknown traffic. We need to have the HTTP inspector here (and set the upstream to blackhole or allow_any accordingly). This way, the sniffing logic is consistent across all outbound.

[2020-02-12 03:23] rshriram commented on #21053
cc @ramaraochavali / @howardjohn / @hzxuzhonghu what do you guys think? Today, unknown http connections (in REGISTRY_ONLY) mode will be dropped. But when we add a HCM to the virtualOutbound, we will be returning a 404 instead. So this is something to consider.

[2020-02-12 03:37] howardjohn commented on #21053
We can make it return a 502, then it is consistent with how it behaves today when you match an existing http listener

[2020-02-12 04:02] cdyue commented on #14660
please reopen this issue , still have this issue with ISTIO 1.3.5, 1.4.3.

[2020-02-12 04:12] hzxuzhonghu commented on #21053
what is the use case for `But when we add a HCM to the virtualOutbound.`?

[2020-02-12 04:16] aishwaryabk commented on #20792
Thanks.

[2020-02-12 05:00] #11741 closed

[2020-02-12 05:01] #13320 closed

[2020-02-12 05:01] #13435 closed

[2020-02-12 05:02] #15621 closed

[2020-02-12 05:02] #15825 closed

[2020-02-12 05:04] #18154 closed

[2020-02-12 05:44] clyang82 opened #21054 "Missing the scripts in samples/multicluster"
**Bug description**

The `setup-bookinfo.sh` and `setup-mesh.sh` are missed in samples/multicluster dir for [Istio 1.5.0-beta.1](https://github.com/istio/istio/releases/tag/untagged-e927792f03470f745667). is this by design?

[2020-02-12 09:46] TomasKohout commented on #20100
@kalamba I've upgraded to 1.4.4 and it seems ok. :-)

Thank you guys. :-)

[2020-02-12 09:47] #20100 closed

[2020-02-12 09:51] clyang82 opened #21056 "Failed to create discovery service: grpcDNS"
**Bug description**

**Deploy istio-1.5.0-beta.1 onto Openshift 4.2.**

`istiod` cannot start with the following error:
[code]

[2020-02-12 09:55] clyang82 commented on #21056
I am using https://github.com/istio/istio/blob/master/samples/multicluster/README.md to setup multicluster.

[2020-02-12 10:32] rahul0403 commented on #20983
got it. can you give any suggestion for circuit-breaker that i can test that circuit is open .

[2020-02-12 10:47] aishwaryabk opened #21057 "Istio-Envoy Test failures on PowerPC (ppc64le)"
Hi,
I was able to build Istio-envoy on rhel:7.6/ppc64le. I have cmake3 v3.13.4, bazel v1.2.1, gcc-8.2.1, go 1.13.6 linux/ppc64le, jdk11 installed. I have also used power specific LuaJIT. However I get some test failures

ERROR:
`/envoy/test/test_common/BUILD:176:1: Linking of rule '//test/test_common:global_test' failed (Exit 1) gcc failed: error executing command /opt/rh/devtoolset-8/root/usr/bin

[2020-02-12 11:02] ghost opened #21058 "Istio sidecar injection failed ( Internal error occurred: failed calling webhook "sidecar-injector.istio.io" )"
- Problem: **Istio sidecar injection failed**.

- How to reproduce:
=======================
1. follow this link to **successfully** created a k8s cluster with **flannel**
(3 machines with **centos 7, Kubernetes: v1.17.2**):
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/

2. run test pods (successfully, and pods can connect each other within different

[2020-02-12 11:14] BeWut opened #21059 "Ingress Gateway SSL handshake error using proxy protocol"
**Bug description**
Our On-Premise Cluster uses HAProxy as reverse proxy to forward all http/https traffic to the corresponding NodePorts of the Ingress Gateway. This works fine but we need to keep the origin ip of the client. To do that we need to activate the use of proxy protocol in HAProxy.
We added an EnvoyFilter as described here: https://github.com/istio/istio/pull/12748#issuecomment-576488

[2020-02-12 11:16] Stono commented on #21036
Additional note: if your service uses websockets, this completely explodes.

[2020-02-12 12:53] AceHack commented on #20989
We see a lot of errors like this in the logs, also I'll post my svc in a minute.

[code]

[2020-02-12 12:58] papatego123 commented on #21030
@rlenglet enabling cni resolved the issue, thanks.

[2020-02-12 12:58] #21030 closed

[2020-02-12 13:08] AceHack commented on #20989
This is a complete --dry-run --debug from our helm release

[helmdebug.txt](https://github.com/istio/istio/files/4192202/helmdebug.txt)

[2020-02-12 13:15] AceHack commented on #20989
This is the yaml from our helm integration test that get's the 404

[helmtestyaml.txt](https://github.com/istio/istio/files/4192254/helmtestyaml.txt)

[2020-02-12 13:25] #20933 closed

[2020-02-12 13:59] AceHack commented on #20989
Here is another very interesting case, re-deployed again and now port 9404 works but 8081 does not.

You can see the route for 9404 but not 8081

[config.dump.txt](https://github.com/istio/istio/files/4192682/config.dump.txt)

[2020-02-12 14:00] #20986 closed

[2020-02-12 14:02] miracle-jia commented on #21029
does any one meet the issue?

[2020-02-12 14:15] Arnold1 commented on #16126
@prageethw are there any default request/limit for memory set with Istio 4.1? if so what are those?
what about cpu?

[2020-02-12 14:25] dgn opened #21062 "in-cluster operator fails to deploy default control plane"
It works with `istioctl` built from the same code.

**Bug description**
the istiod and ingressgateway pods never come up

[x] Installation

**Expected behavior**
control plane is deployed without error

**Steps to reproduce the bug**
[code]

Pods fail to come up with
[code]

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**
1.

[2020-02-12 14:48] dgn opened #21063 "in-cluster operator attempts to overwrite immutable fields in k8s services"
[code]

[2020-02-12 14:52] marshallford commented on #20471
Is this functionality still on track for 1.5? I took a look at the prelim docs site and don't see any mention of multiple gateways. Thanks.

[2020-02-12 14:57] howardjohn commented on #21048
we should move the filters to a different component (base?) this is needed for multiple control plane as well

or maybe it's time to implement this in pilot

[2020-02-12 14:58] AceHack commented on #20989
More info, we see the following

[code]

[2020-02-12 15:29] quentinleclerc opened #21064 "VirtualService route to a destination host declared in ServiceEntry not working"
**Bug description**
Hello,
I’m trying to write a VirtualService that shall direct traffic to a specific destination host following a regex. That specific destination is not a service inside the Mesh but a host that I declared with a ServiceEntry (MESH_EXTERNAL). However, it seems impossible to make it work.

**Expected behavior**
 The documentation clearly says that this should be possible :
“The

[2020-02-12 15:52] sdake commented on #21048
@richardwxn agree too complex.

For the 1.5 release would you consider filing an issue in istio.io's issue tracker documenting the transition from mixerv1 to mixerv2 and how to revert the defaults to the 1.4 mixer defaults? This will provide the documentation team an opportunity to prepare a transition page for the 1.5 release 1.5.

[2020-02-12 16:12] sdake commented on #21063
@dgn thank you for the report. I am unsurprised that immutable fields are not filtered in a manifest update. I am surprised to see that cllusterIP is set to `None`. i am surprised to see clusterIP used for these services -> :https://github.com/istio/istio/blame/master/manifests/base/templates/services.yaml#L23...

I am curious why `clusteriP` is set at all.  @howardjohn any insight?

[2020-02-12 16:15] sdake commented on #21063
@dgn if you are willing to take a spin at fixing this, plmk - otherwise will find someone to solve this problem. IMO this (appears) like a blocker for 1.5.

Cheers
-steve

[2020-02-12 16:16] howardjohn commented on #21063
is the operator promoted to beta yet?

On Wed, Feb 12, 2020 at 8:15 AM Steven Dake <notifications@github.com>
wrote:

[2020-02-12 16:32] esnible opened #21066 "'istioctl version' should make "istiod" distinct from "pilot""
If users do `istioctl version -o json` on a system with IstioD, it appears as Pilot.

Normally users don't use `-o json`.  In that case the component name is suppressed in the output ... UNLESS the control plane is mismatched (for example, Istio contributors may run a private build for the ingress, and then the regular output names each version).

The "component" reported by _istioctl version_ sho

[2020-02-12 16:39] esnible commented on #18900
This item was briefly discussed at the UX meeting.

@sdake pointed out that currently there is no way to uninstall for technical reasons.  He will work on getting agreement for Uninstall RFC.

Someone, I think Jason, asked "Would uninstall remove sidecars and restart?"

I pointed out that there is a user expectation that the data plane should be removed FIRST before we remove control plane for a v

[2020-02-12 16:54] sdake commented on #21063
@howardjohn - there was a discussion on this topic in either a PR or issue that @ostromart was involved with, which I can't find. I had the impression from the discussion that there were no further concerns with the stand-alone operator and it was ready for beta.

A PR was submitted to istio.io to implement this change: https://github.com/istio/istio.io/pull/6425

Unfortunately this PR didn't link

[2020-02-12 16:59] howardjohn commented on #21063
I thought we had a policy that Beta features require proper testing? Given
the large amount of reports of operator not building, not installing the
default profile, etc, I think it's pretty clear we do not meet that bar
yet. I do not see any statement of testing on
https://istio.io/about/feature-stages/ but I feel like it should be added,
and the PR to promote operator reverted until we have such

[2020-02-12 17:03] rshriram commented on #21053
telemetry and also egress gateway

[2020-02-12 17:16] gramidt commented on #11723
@linsun - I would love to help drive this forward, as FIPS 140-2 compliance is becoming increasingly more important for industry-wide adoption. Is the Security WG owning this?

[2020-02-12 17:21] dgn commented on #21063
Note that this happens only in later reconcile iterations, not the first one. The service is laid down just fine, the error looks cosmetic to me, so not a release blocker. #21062 is a release blocker

[2020-02-12 17:40] douglas-reid commented on #21036
cc: @louiscryan

[2020-02-12 17:56] ostromart commented on #21063
To me beta means the code is production ready and operator hasn't had enough attention this release - probably because folks are understandably more attracted to working on new features than testing and fixing bugs. It's fundamentally not in bad shape because it hasn't had any new features added since 1.4, but it needs a concerted effort to get it to beta quality. The main gap is testing:
1. Istio

[2020-02-12 17:58] ostromart commented on #21062
@dgn could you attach logs?

[2020-02-12 18:23] ostromart commented on #20986
@richardwxn I don't recall why we had to switch from gogo. Obviously this change has broken the operator controller but I'm not sure if this is fixable or we are fundamentally unable to use gogo?

[2020-02-12 18:42] esnible opened #21067 "istioctl subcommands and add-ons"
Istioctl has sub commands that expect to find add-ons that were installed by the old _helm_ charts or the demo profile.

Prometheus, Grafana, Jaeger, Kiali, and Zipkin are the add ons that are installed by the demo profile.

`istioctl metrics` looks up the "Istio" Prometheus.

`Istioctl dashboard prometheus`, `grafana`, `jaeger`, `kiali`, and `zipkin` look up the add-on using the labels created by

[2020-02-12 18:57] louiscryan commented on #20282
A little clarification and commentary because I've been doing some digging on this over the last couple of weeks.

The K8S community struggled with this since it's creation too and still uses Google Docs. The still use a combination of Google Docs and KEPs to document designs and proposals. The former for rapid iteration on ideas, the latter to formalize and track. KEP because of the limitations o

[2020-02-12 18:59] louiscryan commented on #20282
@rcaballeromx FYI about autopublishing docs to istio.io

[2020-02-12 19:06] ostromart commented on #20986
Ok, after some investigation I believe the only issue it that we cannot unmarshal enums with gogo, which explains the first error. Hopefully the second error is a follow-on from the first. I'll remove the enum field since there's also a string status.

[2020-02-12 19:32] sdake commented on #21063
Agreed. I had thought we had e2e testing for the (standalone) operator. There was no stubbing taking place in the e2e testing. The e2e testing was run against a kind cluster. It appears this e2e test was lost during the monorepo transition.

@irisdingbj this thread may be of interest to you.
Cheers
-steve

[2020-02-12 19:35] sdake opened #21069 "Develop e2e test for operator"
**Bug description**
Please see this issue thread: https://github.com/istio/istio/issues/21063#issuecomment-585378472

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

**How was Istio installed?**

**Environment where bug was observed (cloud vendor, OS, etc)**

[2020-02-12 19:40] bplotnick commented on #20282
@louiscryan Thanks for the response!

I am absolutely of the same mind. Google Docs are simply more efficient in the iteration cycle. I think getting rid of them and switching to git (markdown) would be unfortunate, though one upside is it would make decisions more traceable back to discussions.

Same comment as above. I think this would be super useful in any case actually. I'd love to have this

[2020-02-12 19:56] rcaballeromx commented on #20282
@louiscryan Thanks for tagging me.
Auto-publishing the design documents on istio.io is not a good idea.
The istio.io website is a user-focused and curated source of information.
We have spent significant amounts of time and energy to make sure our content is focused on helping the folks using Istio. We've done this by moving the content developers need to the appropriate development repositories.

[2020-02-12 20:02] balamuru commented on #20661
I tried setting making the port names unique but no success .

[2020-02-12 20:13] esnible commented on #21066
Closing this because no one seems to care.

[2020-02-12 20:13] #21066 closed

[2020-02-12 20:45] InsOpDe commented on #16126
I think its actually
[code]
and btw - we do not have the same problem with sidecars whose pods and services have no accompanied virtualservice/gateway.
maybe that helps with debugging.

[2020-02-12 20:51] sjmiller609 commented on #16126
@Arnold1 you can find all defaults here: https://istio.io/docs/reference/config/installation-options/#global-options

[2020-02-12 20:52] adammil2000 commented on #20282
Design docs don't belong in the Istio.io content management system, nor do any community/collaborative content of that nature. Our publishing tools are not configured to properly support this kind of content. For example, our linter is monolithic, testing all the content at the same time. If you have a broken link in a design doc, it blocks publishing of our crucial user-facing content and require

[2020-02-12 21:03] GODBS commented on #20839
I've tried your rule, and I get the following warning:
`Failed to evaluate header value: lookup failed: 'request.auth.claims'`

I'm wondering if you get that as well

[2020-02-12 21:11] esnible opened #21074 "enableAnalysis doesn't work with 1.5 galley"
To reproduce, using Master, `istioctl manifest generate --set values.galley.enableAnalysis=true | grep -i analysis`.  There will be no `--enableAnalysis` output.

The Istiod deployment does not get the `--enableAnalysis=true` flag.

The Installer _operator/pkg/vfs/assets.gen.go_ is generated from _install/kubernetes/helm/istio/charts/galley/templates/deployment.yaml_ which does include the flag ge

[2020-02-12 21:34] ostromart commented on #20636
I think this was resolved, @elfinhe please reopen if that's not the case.

[2020-02-12 21:34] #20636 closed

[2020-02-12 21:47] ayj commented on #21074
`--enableAnalysis` was [experimental in 1.4](https://istio.io/docs/ops/diagnostic-tools/istioctl-analyze/#enabling-validation-messages-for-resource-status) and off by default. Since its still experimental (we didn't have sufficient time to benchmark and stress test at scale) it wasn't included in istiod in 1.5.x. Maybe we can get this into 1.6 which would require completing the necessary testing p

[2020-02-12 22:00] dhermes opened #21076 "Allow using a type `kubernetes.io/tls` or `istio.io/key-and-cert` secret for SDS"
**Describe the feature request**

All the [docs][1] (and [third party docs][2]) recommend storing a secret with keys `key` and `cert`:

[code]

**Describe alternatives you've considered**

The only game in town is to use a `generic` secret with `key`, `cert` and `cacert` as the keys.

[1]: https://istio.io/docs/tasks/traffic-management/ingress/secure-ingress-sds/
[2]: https://istiobyexample.dev/se

[2020-02-12 22:00] balamuru opened #21077 "SDS presents the wrong server certificate (resulting in 404 HTTP response) when multiple gateways are configured in the same namespace"
**Bug description**
When multiple gateways are configured in the SAME namespace with TLS / SDS with different secrets and different port names , a HTTP call to a svc  associated with one gateway will work , while HTTP calls to other services will fail with 404 .

Interestingly, when making calls to the misbehaving svc that return 404 , the server presents the wrong certificate (associated with the

[2020-02-12 22:06] kramvan1 opened #21078 "OPERATOR: Controller base image Ubuntu not up to date"
**Bug description**

The operator controller Docker file https://github.com/istio/operator/blob/master/build/Dockerfile#L1
uses the Ubuntu 16.04 as the base image for the operator controller.
[code]

Several issues with this
- Need to keep the base OS image up to date with security issues (CVEs). Currently 10 issues.
- Controller that has no dependencies, why the need for all the extra base packag

[2020-02-12 22:31] esnible commented on #21074
@ayj Is it possible to deploy Galley with 1.5?

[2020-02-12 22:34] ayj commented on #21074
You'll need to revert to the non-istiod micro-service deployments.

[2020-02-12 22:42] xUnholy commented on #13321
Hi @pisymbol I plan on attempting the compiling of istio again for armv7l and I'll let you know my findings, firstly I had to compile golang for armv7l which if you're also looking for support you can check out my unofficial repository - https://github.com/Raspbernetes/armv7l-arch-images

Keep in mind I haven't published the package for the golang tarball / image quite yet, however, I will anticip

[2020-02-12 22:44] ayj commented on #21054
Thanks for pointing this out. We should remove `https://preliminary.istio.io/docs/setup/install/multicluster/simplified` was an experiment that has run its course. I would be surprised if it worked with 1.5.

[2020-02-12 22:44] ayj commented on #21054
@nmittler , wdyt ?

[2020-02-12 22:45] ayj commented on #11605
This work has already been completed.

[2020-02-12 22:45] #11605 closed

[2020-02-12 22:47] ayj commented on #13559
@XanderStrike, you marked this as staleproof. Were you interested in pursuing one of the options suggested above?

[2020-02-12 22:52] XanderStrike commented on #13559
I marked it as staleproof because an issue doesn't stop being an issue just because nobody has the bandwidth to work on it. That system is bad.

We would prefer 2, but have changed priorities since the issue was created and we're likely not going to pick up this work any time soon.

[2020-02-12 23:16] carolynhu opened #21081 "istio/tools: add history page to check historical results among different releases on perf dashboard"

[2020-02-12 23:18] carolynhu opened #21082 "istio/tools: add options bar for choosing among different graph metrics in perf dashboard"

[2020-02-12 23:34] JimmyCYJ commented on #20661
This sounds like a generic TLS ingress gateway problem, not related to SDS.
@balamuru could you try the file-mount approach with multi gateways?
https://istio.io/docs/tasks/traffic-management/ingress/secure-ingress-mount/

[2020-02-13 00:17] ostromart commented on #21063
Duplicate of https://github.com/istio/istio/issues/21047, fixed in https://github.com/istio/istio/pull/21083.

[2020-02-13 00:33] howardjohn commented on #21078
This is fixed on master https://github.com/istio/istio/blob/b2d580ebb3a88d8e11eb311a6482beac0ae6e314/operator/docker/Dockerfile.operator#L8

[2020-02-13 01:03] smawson commented on #11659
A solution where the agent gets notified when it needs to shut down seems a lot safer, is it really a lot more work? It could just open a bidi stream to the controller, which would send it a notification if the application containers have exited, and it could then ask envoy to terminate. Downside is that it would require changes to the agent, vs. a controller that is deleting pods externally.

May

[2020-02-13 01:06] howardjohn commented on #11659
We can't (easily) allow anything to terminate envoy from outside the pod for security reasons. It seems to make sense to me to either have something external detecting and killing, or the agent detecting and killing itself, but not some mix of the two

[2020-02-13 01:47] ayj commented on #20520
Galley has an envoy sidecar in Istio 1.4 which should be handling the mTLS. The sidecar agent should be handling rotation. Do you see any errors or messages about certs in the istio-proxy container logs?

[2020-02-13 02:14] smawson commented on #11659
The proposed design was that it is a trusted service (verified through TLS) and an optional feature. So I think we could make the security case that it is fine. The main issue with agent detecting and killing itself is that it doesn't have as much information as a service does.

So the agent is still detecting and killing itself, but based on information it gets from a trusted service (that inform

[2020-02-13 02:17] hzxuzhonghu commented on #20989
1. As to the inbound listener conflicts, do you have declared two services selecting the same pod?

2. RDS STALE (Never Acknowledged) : Not sure why, did sidecar receive the rds?

[2020-02-13 02:32] howardjohn opened #21088 "istioctl apply with --wait hides errors"
If there is an error during apply (for example, CRD apply), and --wait flag is passed, then we will never see any error message. For example: https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/21052/integ-conformance-k8s-tests_istio/1430

tentatively assigning to @ostromart since he was working on the --wait stuff. You can also see that you can't tell what is being waited on

[2020-02-13 02:36] #21047 closed

[2020-02-13 03:00] myidpt commented on #20995
Those are legacy tests that are still using Citadel and node agent. We will update them.

[2020-02-13 03:37] ayj commented on #20520
Correction to my previous comment: Galley installed with istioctl has a sidecar. Galley installed with charts does not.

[2020-02-13 04:01] riddhi2910 commented on #19619
Were you able to find a way? @prashantchari

[2020-02-13 05:01] #12896 closed

[2020-02-13 05:01] #13014 closed

[2020-02-13 05:02] #15641 closed

[2020-02-13 05:02] #15647 closed

[2020-02-13 05:02] #15656 closed

[2020-02-13 05:02] #15804 closed

[2020-02-13 05:16] sdake commented on #21078
@kramvan1 https://github.com/istio/operator master is deprecated as a result of the mono-repo merge.

I think the link you are searching for is the 1.4 branch - which is where operator maintenance happens:
https://github.com/istio/operator/blob/release-1.4/build/Dockerfile#L1

This Dockerfilewould benefit from a backport of the fix in master. I'm unclear if the builder could handle such a backport

[2020-02-13 05:39] shamsher31 commented on #20983
You can identify if the circuit is open using [circuit breaker statistics](https://www.envoyproxy.io/docs/envoy/v1.13.0/configuration/upstream/cluster_manager/cluster_stats#circuit-breakers-statistics).

I think you need to setup fortio as mentioned in the [istio circuit breaker](https://istio.io/docs/tasks/traffic-management/circuit-breaking/#tripping-the-circuit-breaker) example.

Also see this

[2020-02-13 06:00] xUnholy commented on #13321
@aliariff did you have any success with compiling Istio for armv7l? I'm now going down the rabbit hole where build dependencies aren't compatible, such as Bazel and Golang (although I managed to sort golang out as mentioned above)

[2020-02-13 06:46] xUnholy opened #21094 "Support compiling ARMv7l Architecture"
Given my architecture type is armv7l, and Kubernetes is compatible with armv7l architecture I would like to be able to compile Istio for this format.

I've attempted to compile using the current build scripts however, they're not compiling for my 32bit arch, rather for 64bit which is incompatible. I've also run into issues where I had to get several of the build tools available to arm 32bit locall

[2020-02-13 07:22] kaushiksrinivas opened #21095 "istio mTLS with STRICT mode does not work as expected for TCP zookeeper service."
Trying to install zookeeper with istio side car and mTLS global policy of STRICT mode.
Environment : K8S
global mTLS : true
mTLS mode : STRICT.

But we see below issues in the setup.
1. Issue with service entry:
    When installed with 3 zookeeper pods, we expect 3 serviceEntries to be created per fqdn of the 3 separate pods. for ex : zk-kfkafka-0.zk-kfkafka-headless.test.svc.cluster.local, zk-kfk

[2020-02-13 07:50] hzxuzhonghu opened #21096 "Replace `VerifySubjectAltName` with `MatchSubjectAltNames`"
xref: https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/transport_sockets/tls/v3/cert.proto.html?highlight=downstreamtlscontext#extensions-transport-sockets-tls-v3-certificatevalidationcontext

The VerifySubjectAltName is deprecated, will do it after #21024

[2020-02-13 07:51] hzxuzhonghu commented on #21096
/cc @ramaraochavali

[2020-02-13 07:57] lei-tang commented on #20995
@howardjohn The log "Deploy Istio (via Helm Template)" in https://storage.googleapis.com/istio-prow/logs/integ-k8s-115_istio_release-1.5_postsubmit/78/build-log.txt shows that Istio is installed through Helm. But https://github.com/istio/istio/pull/20847 "remove Helm support from test framework".  Has https://github.com/istio/istio/pull/20847 been cherrypicked into release-1.5 branch?

https://git

[2020-02-13 08:33] hzxuzhonghu opened #21098 "TestLeaderElectionNoPermission flakes"
[code]

[2020-02-13 09:01] hzxuzhonghu commented on #21098
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/20114/unit-tests_istio/8563

[2020-02-13 09:36] rahul0403 commented on #20983
One more question:
in retries you have mentioned timeout as well, so what is precedence ? which one will work first?

[2020-02-13 10:30] Janesee3 commented on #18228
Hi, I'm also facing this issue.

I'm constantly getting these logs `info Envoy proxy is NOT ready: config not received from Pilot (is Pilot running?): cds updates: 1 successful, 0 rejected; lds updates: 0 successful, 0 rejected`.

I'm also seeing some of the Pilot connection error logs in between:
[code]

I suppose this is related to the Pilot connectivity issue that @howardjohn was talking about

[2020-02-13 11:18] shamsher31 commented on #20983
`retries => timeout`, the timeout will always work last.

[2020-02-13 11:57] objectiser opened #21100 "Document how to customise the tracing span names"
**Describe the feature request**

Envoy supports the ability to define the span (operation) name to be used for a route. This can be leveraged using an EnvoyFilter to allow Istio users to customise the span names. Should this be documented? Or wait until a higher level representation (e.g. tools based on OpenAPI) are developed?

**Additional context**
Topic was discussed on yesterday's Policy and

[2020-02-13 13:05] linuxbsdfreak opened #21102 "IPWhitelisting/Blacklisting not working"
**Bug description**

[ ] Configuration Infrastructure
[X ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[X] User Experience
[ ] Developer Infrastructure

**Expected behavior**
IP whitelisting and Blacklisting should work when running the example from
https://istio.io/docs/tasks/policy-enforcement/denial-and-list/#

[2020-02-13 13:31] shamsher31 commented on #20730
@esnible I have started looking into static validation for `manifest apply`. I will put my thoughts here by tomorrow.

[2020-02-13 13:52] su225 commented on #20164
@brian-avery - Some issues regarding environment setup for SDS. I'm blocked. I dug through a lot, but keep finding new feature gates to enable. I found 4 so far. So any clue how to fix this one? This is blocking my way.

**Here is what I did so far**
I compared the default/demo profile with **sds** profile of Istio with `istio profile diff` and set those Helm values
[code]
Pilot, Ingress-gateway a

[2020-02-13 14:09] AceHack commented on #20989
I attached all our services, we do have a headless and a non-headless service that points to the same pods.  Also as far as RDS STALE we seem to have fixed that issue by deleting knative.  This issue from knative was flooding our logs.

https://github.com/knative/serving/issues/6488

We can't upgrade to the latest knative that fixes this issue yet because EKS is not on K8s 1.15 they only have 1.14

[2020-02-13 14:14] su225 commented on #20164
Ah! Found something here - https://github.com/istio/istio/blob/master/prow/config/trustworthy-jwt.yaml
Let me try and come back to you.

[2020-02-13 14:19] iusergii opened #21103 "IstioControlPlane add Pod Labels to k8s resource config"
**Describe the feature request**
Extend KubernetesResource with option to add additional labels to Istio Pods.

**Describe alternatives you've considered**
I started with adding additional labels to ingress gateway and tried to do it via _values.istio-ingressgateway.labels_.  And it fails in case there are any other label except: app,istio.

`istioctl manifest generate -f manifest.yaml:
input file

[2020-02-13 14:22] objectiser opened #21104 "[Istio 1.5.0-beta.1] Request to bookinfo productpage via ingressgw fails"
**Bug description**
Curl request to product page, via Ingress Gateway, results in `UNAVAILABLE:upstream connect error or disconnect/reset before headers. reset reason: connection failure`

**Expected behavior**
A valid response from the productpage service.

**Steps to reproduce the bug**
Running on minikube:
[code]

**Version (include the output of `istioctl version --remote` and `kubectl version

[2020-02-13 15:03] howardjohn commented on #20995
those are on master only I think, we support helm in 1.5. but the log is
wrong, it said helm always , you should look at the full logs to make sure
it is actually helm

On Wed, Feb 12, 2020, 11:57 PM lei-tang <notifications@github.com> wrote:

[2020-02-13 15:08] lpamlie opened #21105 "Unable to add envoy csrf filter"
**Bug description**

[x ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

Expected behaviour is that csrf filter is added to the envoy config

Nothing is added to the envoy config.

Apply this config
![image](https://user-images.github

[2020-02-13 15:10] su225 commented on #20164
Finally it worked. I had to add the following extra configuration to Minikube to make it work
[code]
I guess for most people only the first two are relevant. My CoreDNS was stuck in forwarding loop and hence the third one.

[2020-02-13 15:10] howardjohn commented on #21098
thanks. I don't know how to fix this without https://github.com/kubernetes/kubernetes/issues/87898 the race is in their library

[2020-02-13 16:44] nmittler commented on #21054
yeah let's remove

[2020-02-13 16:52] mat285 commented on #21031
I've also seen this. The label on the pods is `app=sidecarInjectorWebhook`

[2020-02-13 17:55] howardjohn opened #21111 "SDS does not follow XDS protocol: NACKs are not processed, leading to infinite loops"
XDS protocol specifies how NACKs should be handled: https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol#nack

This is ignored by our SDS implementation. If a request is NACKed, we will immediately send the same exact response again, which will be NACKed, ... repeat infinity.

There are other places where we are not following the protocol as well, but this issue is scoped to this one

[2020-02-13 18:06] ayj commented on #17739
This is fixed by https://github.com/istio/istio/pull/17995

[2020-02-13 18:06] #17739 closed

[2020-02-13 18:30] howardjohn commented on #21049
Fixed in 1.4.5

[2020-02-13 18:30] #21049 closed

[2020-02-13 18:31] #15635 closed

[2020-02-13 18:34] esnible commented on #21104
Does `istioctl analyze` or `istioctl x describe service productpage` report any problems with your configuration?

[2020-02-13 18:37] esnible commented on #21103
Can you attach _manifest.yaml_ to this instance so that I can see what you are trying?

[2020-02-13 18:41] esnible commented on #21095
Related: https://github.com/istio/istio/issues/19280

[2020-02-13 18:47] esnible commented on #21058
Do `kubectl -n istio-system describe service istio-pilot` and tell me if there are any endpoints?

`kubectl -n istio-system get pods` should show a pod either named istio-pilot-* or istiod-* that implements the webhook.

[2020-02-13 19:00] louiscryan commented on #20282
@bplotnick jsut a quick note on Slack. Actually I think all Slacks have this issue even the CNCF ones. Some CNCF projects are using gitter to workaround this issue. Other like Vitess which uses slack still dumps you into a 'give me your email form' of some kind https://vitess.io/slack  It's just slightly more integrated from a UX standpoint (might be a feature of the CNCF having an Enterprise Slac

[2020-02-13 19:01] esnible commented on #21014
I am closing this because it is working as intended.

I have used istioctl and kubectl with bash "here-documents" to achieve this effect.  Helm templates provide this effect.  istioctl and kubectl do not process environment variable templates.

[2020-02-13 19:01] #21014 closed

[2020-02-13 19:04] esnible commented on #20993
Istio works by adding an Envoy container to application pods.  I don't believe the Envoy container we use is compatible with Raspberry Pi.  See https://github.com/envoyproxy/envoy/issues/1861

[2020-02-13 19:07] bplotnick commented on #20282
I could imagine it outputting to markdown in git, which might be easier and
also would also be specifically dev facing.

On Thu, Feb 13, 2020 at 11:00 AM Louis Ryan <notifications@github.com>
wrote:

[2020-02-13 19:11] esnible commented on #20991
I see you are using TCP.  Some of the auto MTLS and permissive MTLS struggles with TCP connections.  Try using Istio to set server and client STRICT or plain HTTP.

Try following the requirements at https://istio.io/docs/ops/deployment/requirements/ .  When you choose the "name" for your 443 port on B service, try `https` if `grpc` doesn't work.

[2020-02-13 19:17] ostromart commented on #21063
Maybe something didn't get carried over from the operator repo - @sdake or @irisdingbj could you send a pointer?
I'm only aware of https://github.com/istio/istio/blob/9fdbf4f32acb6edd967340930dd54a7cb2730f8e/operator/pkg/controller/istiocontrolplane/istiocontrolplane_controller_test.go#L67 so when I said stubbing this is what I was talking about. But I may well have missed some other CI test runni

[2020-02-13 19:39] aknakshay commented on #21095
@esnible I and Kaushik are working on this problem.
The issue that you have tagged is what we faced earlier to bring up zk. We have made the necessary changes and the quorum is up with mTLS.
The problem that he has highlighted is regarding the different combinations of service entry and destination rule, and how the operator is not marking those ports as mTLS STRICT ports whereas our preliminary c

[2020-02-13 19:40] howardjohn commented on #20697
The above 3 changes make this time now 1.9s/2.3s, which is roughly the same as the 2.1/2.8s we see with 1.4 file mount (a bit faster, but likely there is some noise in the measurement)

[2020-02-13 19:44] esnible opened #21116 "istioctl operator message improvements"
The following messages are confusing

[code]

I believe it should say something like

[code]

It is confusing to say we have a list of installable versions when that list has exactly one element.
Apparently it is possible to use `--set installPackagePath=/tmp/nightly` to install some other version than the one that ships with `istioctl`, but let us document that possibility under `installPackagePa

[2020-02-13 19:49] esnible commented on #21116
In istioctl, instead of using "the operator binary" in error messages we should make more sense.

@sdake Do you have a preference for changing "the operator binary" to "istioctl" or "manifest" or `os.Args[0]`?

[2020-02-13 20:10] esnible opened #21118 "Umbrella tracking issue for istioctl and multiple control planes"
This **will become** an umbrella issue for the work needed to make `istioctl` multiple control plane aware.  RFC (not yet approved): https://docs.google.com/document/d/1ecMIxUBgp5VDFqrBuu1ofyTHCwDKU1hWSLhewNKWIi4/edit

- [x] `istioctl manifest remove`/`uninstall` https://github.com/istio/istio/issues/18900
- [x] `istioctl version` new parameters `--all` and `--icp-revision`
- [x] `istioctl wait`,

[2020-02-13 20:36] stewartbutler commented on #14327
An additional controller has been added to the CNI daemonset which will detect uninitialized pods that have run the race condition against the CNI daemonset and either label them (so they can be identified by a controller or a cluster operator) or delete them (so their pod sandbox is recreated, thus rerunning the CNI setup). It has been added to master, 1.5, and 1.4.5.

Associated PRs, for those i

[2020-02-13 20:38] stewartbutler commented on #14327
Closing the issue.

[2020-02-13 20:39] yangminzhu commented on #20697
@howardjohn Thanks John, that's a really nice analysis and the improvement is great, good job!

[2020-02-13 21:17] #20951 closed

[2020-02-13 21:20] howardjohn commented on #20951
related: https://github.com/istio/istio/issues/21111

[2020-02-13 21:52] kramvan1 commented on #21078
@sdake thx, understand the 16.04 EOL.  We might have to take a different path for this till 1.5.

[2020-02-13 22:37] rpocase commented on #10659
I am working on integrating sidecars into a PERMISSIVE default profile istioctl installation. I am hitting issues once I attempt to communicate with a handful of StatefulSet services (specifically, hyperledger fabric nodes). Communication works prior to turning on side-car injection.

These nodes are configured with one-way grpcs. I've seen a lot of independent problems with directly configured TL

[2020-02-13 22:46] ismailbaskin commented on #20621
@dylanpiergies It's because the master can not reach the node VM. You have to create a firewall rule for tcp:9443 port that used by the galley webhook validation. https://cloud.google.com/kubernetes-engine/docs/how-to/private-clusters#add_firewall_rules

Or you can use this script for creating the GCP firewall rule. https://gist.github.com/ismailbaskin/d7222dc7a74807431399ecff9e259792

[2020-02-13 22:50] louiscryan commented on #20282
I'm wary about pushing to Git if we intend to keep the comments and feedback during the iteration phase in docs. Once finalized it could transition, just like KEPs do. Would need some thought

[2020-02-13 22:59] elfinhe opened #21121 "overrideIOPSYaml contains ICP header in upgrade.go"
**Bug description**
https://github.com/istio/istio/blob/master/operator/cmd/mesh/upgrade.go#L159
overrideIOPSYaml is used to ignore override configs. But it still has ICPS crd header, so it is useless, and cannot match anything.

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used H

[2020-02-14 00:47] ayj commented on #21018
Check cluster two's gateway logs. It may not be connecting and getting config from the remote pilot.

[2020-02-14 00:48] lei-tang commented on #20995
The lack of "istioctl manifest apply" installation command in the log file and the following log show that helm installs Istio in these integration tests.

2020-02-10T12:06:38.398835Z	info	ci	Wrote out istio deployment files at: /tmp/sds-citadel-flow-control-plane-auth-disabled-test-/_suite_context/istio-deployment-291229228
2020-02-10T12:06:38.811911Z	info	ci	Applying YAML: kubectl apply --kubeco

[2020-02-14 00:50] willdeuschle opened #21125 "Istio proxy doesn't output valid prometheus metrics"
**Bug description**
The istio proxy only produces partially valid prometheus metrics. The problem is that it doesn't group all metrics of the same type into a single block.

From the prometheus spec [here](https://github.com/prometheus/docs/blob/master/content/docs/instrumenting/exposition_formats.md): `All lines for a given metric must be provided as one single group, with the optional HELP and T

[2020-02-14 00:50] lei-tang commented on #20995
Based on discussion with John, for this issue, we will fix the sds_citadel_control_plane_auth_disabled test , which uses the helm installation method during the test.

[2020-02-14 01:08] #20998 closed

[2020-02-14 01:11] bianpengyuan commented on #21125
This should be an envoy issue. Istio does not do anything special on prometheus metrics print layout. Would you mind to file an issue in envoyproxy/envoy instead?

[2020-02-14 01:14] howardjohn commented on #20802
Once we fix this we should remove the skip from https://github.com/istio/istio/pull/19898

[2020-02-14 01:28] willdeuschle commented on #21125
Yes will do - wanted to start here in case there was any mucking with the prometheus output on the istioproxy side.

[2020-02-14 01:30] lei-tang commented on #20995
The following error log in https://storage.googleapis.com/istio-prow/logs/integ-k8s-115_istio_release-1.5_postsubmit/99/artifacts/sds-citadel-flow-control-plane-auth-disabled-test-/_suite_context/istio-state-384262619/istio-ingressgateway-6f66cb98d6-8z4bz-istio-proxy.log shows that there are certificate path errros in cluster configuration received by ingress gateway Envoy from Pilot:

[Envoy (Epo

[2020-02-14 01:31] bianpengyuan commented on #21125
Thanks!

[2020-02-14 01:31] #21125 closed

[2020-02-14 01:38] lei-tang commented on #20995
The testgrid https://testgrid.k8s.io/istio_release-1.5_istio_postsubmit#integ-k8s-115_istio_release-1.5_postsubmit shows that sds_citadel_control_plane_auth_disabled starts to fail after the PR
https://github.com/istio/istio/pull/20959 is merged into release 1.5 branch.
Thus, likely the changes in https://github.com/istio/istio/pull/20959 breaks ingress gateway in the sds_citadel_control_plane_aut

[2020-02-14 02:02] idouba commented on #12115
It seems proxy use cache sometimes and make a "RESOURCE_EXHAUSTED:Quota is exhausted "  decision instead of  remote call and retrieving the  UNAVAILABLE status from mixer server and do fail open .

[code]
@kyessenov @douglas-reid @gargnupur

[2020-02-14 02:46] idouba commented on #21029
@hzxuzhonghu

[2020-02-14 03:23] c4po commented on #15773
same issue here, on istio 1.4.3

[2020-02-14 05:04] #18311 closed

[2020-02-14 05:04] #18513 closed

[2020-02-14 05:05] #18538 closed

[2020-02-14 05:12] #20983 closed

[2020-02-14 06:30] iusergii commented on #21103
@esnible I'm trying to add extra labels to istio-ingressgateway pods. Istio v.**1.4.2**. I didn't find it in [k8s resources](https://istio.io/docs/reference/config/istio.operator.v1alpha12.pb/#KubernetesResourcesSpec) so trying to override via **values**/**unvalidatedValues**.
This one fails on validation with error:  _input file failed validation with the following errors: unknown field "Service"

[2020-02-14 07:38] krishnaputhran opened #21137 "Working patterns of TimeOut and Retry patterns in Istio. Some unexpected behavior's while used in combination"
Hi,
I like to understand how retry and Time Out patterns will work when applied on the same service. I'll first explain what I have tried and how it behaved.  For eg:

Case-1: My service "member" takes 7s to resond for any request received. When I tried to apply a pattern "timeOut" 2s as shown below for the service as shown below...

apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
me

[2020-02-14 07:48] cacedo commented on #20940
It's been 3 days since we removed the second services and we haven't observed any crashes since then.

[2020-02-14 08:22] MeghanaSrinath opened #21138 "Istio components are not getting installed on a private GKE cluster"
I'm trying to install Istio on a private GKE cluster. I have downloaded the version 1.4.3 of Istio and then applied the default profile. But not all the components are getting installed from the manifest. Below are the error logs.
[code]

Also, the ingress gateway is not getting created from any of the sample applications (helloworld, bookinfo). Below is the error:
[code]
However, I tried to use i

[2020-02-14 08:37] krishnaputhran commented on #21137
Also please note that, my yml posting is incorrectly aligned in the display. If I try and edit, it shows the correct alignment. Please note, the ordering of yml is correctly maintained in my deployment.

[2020-02-14 08:53] hzxuzhonghu commented on #21029
We have set the default retryon policy for telemetry and policy route

[code]

@miracle-jia Could you check if this exist, and does it take effect

[2020-02-14 09:21] carolwu-1206 opened #21139 "Rate limiting not working"
**Bug description**
I'm trying to set up rate limiting by following https://istio.io/docs/tasks/policy-enforcement/rate-limiting/. The istio version is 1.4.4.
Policy Enforcement is enabled
[code]
I set up a handler to allow only 1 request each minute, and the dimension includes cookie, the random request id and destination. Then I used postman to send two requests with different cookie. However, b

[2020-02-14 09:43] carolwu-1206 commented on #21139
Besides, when using the bookinfo sample, the rate limiting was also not working.

[2020-02-14 10:06] shamsher31 commented on #21088
I'm also seeing same issue in #20598  PR. `--wait` always timeouts. Unfortunately, it works on `minikube` and `kind` cluster.

https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/20598/integ-istioio-k8s-tests_istio/4732

[2020-02-14 10:13] SCLogo opened #21140 "Possible to use one appliaction LB (AWS) for istio and Traefik?"
Hello team,

It is just a question. Can I use one load balancer for istio and traefik? If yes, could you please give me documents how to reach this goal ?

Thanks
Balazs

[2020-02-14 10:20] xiaozhongliu commented on #20723
@Nuru, have you got it resolved? I encounter exactly the same issue on istio 1.4.3 now.

[2020-02-14 11:14] xiaozhongliu opened #21142 "istio.default secret is not created for any namespace"
**Bug description**
istio.default secret is not created for any namespace. This fails all app pods with sidecar injected.
While when I delete a testing namespace, I can see a log from citadal which indicates the deletion on the nonexistent secret:
![image](https://user-images.githubusercontent.com/17674404/74525855-1ae52880-4f5d-11ea-8bda-d38be8e2037e.png)

**Expected behavior**
Any namespace shou

[2020-02-14 11:45] zeph commented on #8374
@hzxuzhonghu still happening on 1.3.8, please reopen

[2020-02-14 12:12] zeph commented on #8374
@hzxuzhonghu just attempt to create a redis cluster from the default chart in the stable helm repo

and add these 2 YAMLs...
[code]

p.s. argocd/helm values
[code]

[2020-02-14 12:18] zeph commented on #8374
and this... on delete, followed by a `create -f` of the gateway as described above

[code]

[2020-02-14 12:26] zeph commented on #8374
[code]

[2020-02-14 12:32] zeph commented on #8374
issue solved looking at https://github.com/istio/istio/issues/11240

without a gateway reference in the virtualservice, there is no going forward

[code]

[2020-02-14 13:20] turbotankist commented on #20062
Seems like it did't help us. (tried 1.4.4)
There is some additional info:
We are using gcp with preemptible nodes. So they restarts ones in 24h. The issue is being triggered on endpoints witch hosted on restarted nodes.

we are have 2 pilot pods. After issue happened - they both have logs: `warn	Endpoint without pod`
then we recreate on of pilot. The new one works correct without any warning logs

[2020-02-14 13:29] leaderwolfpipi commented on #21140
6666

[2020-02-14 13:36] taisph commented on #19395
What's the recommended way to apply the eviction annotation to istio 1.3.8 sidecars?

[2020-02-14 13:51] yxue commented on #19684
@rshriram  Instead of replacing the TCP loopback address with UDS, what do you think of adding UDS as an option and default to TCP loopback address? In this case, we can provide a security option for users who care about it without breaking existing users.

[2020-02-14 14:06] yxue commented on #19925
From the stats and config dump, I didn't find any evidence pointing to the the place of memory leak. Repeat what was mentioned in the thread, heap memory increased from

[code]
to
[code]

I think figuring out what is remaining in the memory (a memory dump when memory usage is high) would help us to diagnostics the memory leak.

[2020-02-14 14:13] Stono commented on #19925
Is there any way to get a heap dump at a point in time?
It's really not realistic we can attach a memory profile to an application for days (as sometimes it can take a few days for the memory to do its jump)

[2020-02-14 14:58] esnible commented on #21116
Related: https://github.com/istio/istio/issues/20743

[2020-02-14 14:59] robinbraemer commented on #20991
Tested it and apparently all my gRPC services with  port naming `grpc` are only reachable when renaming the `Service` port name to one of `https, http2, tcp tls, udp` or not having a protocol prefix letting istio  [auto select](https://istio.io/docs/ops/configuration/traffic-management/protocol-selection/#automatic-protocol-selection-experimental) the protocol.

Should we close this and open a new

[2020-02-14 15:01] esnible commented on #20730
Yesterday I found `istioctl manifest generate --set installPackagePath=/tmp` which is an example of an invalid field that is detected very differently from the problems that aren't detected until generated config is sent to Kubernetes.

[2020-02-14 15:02] esnible commented on #20471
@howardjohn Milestone for this?

[2020-02-14 15:03] esnible commented on #20437
@selmanj What should the Milestone be for this?

[2020-02-14 15:04] esnible commented on #20263
@elfinhe Can we close this?

[2020-02-14 15:09] esnible commented on #20255
@morvencao This code was added by you in https://github.com/istio/istio/pull/10123 .  Can you investigate?

[2020-02-14 15:11] #20263 closed

[2020-02-14 15:20] baabel opened #21147 "If istio-sidecar-injector workload is removed or crashes, no pods can be scheduled to run"
**Bug description**
In GKE I deleted one of my Node Pools in the cluster. As part of the removal, GKE removed workloads from the nodes in the pool. The sidecar injector pod was one of the workloads removed. When the istio-sidecar-injector pod was deleted by kubernetes all subsequent pod operations fail because kubernetes attempts to call the controller webhook that is not running. Can't start the

[2020-02-14 15:45] esnible commented on #19880
@selmanj This seems to be fixed in Master, but not in 1.5.  Shall we close this issue?

[2020-02-14 15:48] #18986 closed

[2020-02-14 16:00] esnible commented on #19485
As a work-around I've used `jq`.  For example:

[code]

Do you think it would be worthwhile to bring in k8s.io/client-go/util/jsonpath ?  I am not sure I want to write the docs/examples for using it....

[2020-02-14 16:01] esnible commented on #19484
@sushicw Has this been implemented?  May I close it?

[2020-02-14 16:08] esnible opened #21148 ""istioctl x create-remote-secret" usage"
The help text for `istioctl x create-remote-secret` gives the Usage as `istioctl experimental create-remote-secret <cluster-name> [flags]` but it actually takes NoArgs -- no positional arguments.

Also, when I run it I get a message that is not helpful to me:

[code]

Could the error message provide guidance?  Did I use the command incorrectly?  Install Istio incorrectly?  Lack permissions?

[2020-02-14 16:09] esnible commented on #20714
Related: https://github.com/istio/istio/issues/19409

[2020-02-14 16:15] esnible commented on #19044
As a work-around until this work is done:

[code]

[2020-02-14 16:20] esnible commented on #20991
Do you think this problem is the same as https://github.com/istio/istio/issues/16282 ?

[2020-02-14 16:29] howardjohn commented on #20940
cc @incfly @PiotrSikora

[2020-02-14 16:46] sushicw commented on #19484
I don't believe this got implemented. We did refactor the command's basic usage enough that it may not still be relevant.

[2020-02-14 16:53] jacob-delgado commented on #20499
I will also sign up for this

[2020-02-14 17:04] ramaraochavali commented on #20062
I will take a look

[2020-02-14 17:16] shwsingh commented on #20277
@howardjohn - Not all of the cases are P0's. John can you please update the test scenarios with required and must have so we know that not all scenarios are not release blockers. Thanks

[2020-02-14 17:31] kyessenov commented on #20536
I believe the cherry-picks all made it through to the release branches.

[2020-02-14 17:31] #20536 closed

[2020-02-14 17:32] Stono commented on #20536
@kyessenov was that into 1.5, or 1.4.5 too?

[2020-02-14 17:33] robinbraemer commented on #20991
It is!

[2020-02-14 17:33] #20991 closed

[2020-02-14 17:39] kyessenov commented on #20536
I sent to both 1.4 and 1.5. 1.4 I manually checked, 1.5 hasn't been released yet.

[2020-02-14 17:53] ostromart commented on #21047
Fixed.

[2020-02-14 17:55] ostromart commented on #20207
https://github.com/istio/istio/pull/21075

[2020-02-14 17:59] howardjohn opened #21149 "Ingress SDS tests need to be in presubmit"
This is a core, on by default feature of Istio and its not tested in presubmit. We have tests only in postsubmit. This leads to multiple breakages in recent history. These must be moved to presubmit.

The reason they are not is because

1. They are flaky - this seems to be fixed
2. They are extremely long. There are 7 test suites, when there should be just one. Ref https://github.com/istio/istio/i

[2020-02-14 18:01] howardjohn commented on #17512
this is still the slowest test suite we have

[2020-02-14 18:17] Stono commented on #20538
Hi,
As the fix for https://github.com/istio/istio/issues/20536#issuecomment-586392450 I'm keen to switch to v2 as we have some very chatty migrations incoming to our cluster.

@douglas-reid @nrjpoddar @mandarjog @kyessenov would anyone be able to provide me with an envoyfilter I can use until something more complete is in place?

[2020-02-14 18:22] ostromart commented on #21116
The idea we wanted to convey here is that users should not be using arbitrary versions of istioctl to install arbitrary versions of Istio. We'd like them to use istioctl 1.6.0 to install Istio 1.6.0. The reason is twofold: 1. istioctl has version specific code and in some cases this is not selected based on the Istio chart version we are dealing with (we try to avoid it but it's not always possibl

[2020-02-14 18:24] ostromart commented on #20966
File is removed, closing this.

[2020-02-14 18:24] #20966 closed

[2020-02-14 18:32] ostromart opened #21152 "location header not generated correctly when running make gen"
Istio.io proto scraper is here: https://github.com/istio/istio.io/blob/master/scripts/grab_reference_docs.sh
example location tags are here: https://github.com/istio/api/blob/00efe7317328e74d4ae0fb2213e45c6d61e7713c/mesh/v1alpha1/config.proto#L22
this should generate HTML like this:
https://github.com/istio/api/blob/00efe7317328e74d4ae0fb2213e45c6d61e7713c/mesh/v1alpha1/istio.mesh.v1alpha1.pb.html

[2020-02-14 18:33] howardjohn opened #21153 "TestStsCache test flake"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/20915/unit-tests_istio/8616

[2020-02-14 18:49] ostromart opened #21155 "fetch charts from URL not working"
This was accidentally removed as part of a refactor. It's required by istioctl upgrade command to check for changed default values.

[2020-02-14 18:58] ostromart commented on #20137
Fixed in https://github.com/istio/istio/pull/20651 and https://github.com/istio/istio/pull/21075.

[2020-02-14 18:58] #20137 closed

[2020-02-14 19:05] ostromart commented on #20944
On further investigation this is due to leftover webhook config, but should still be fixed since I think users could hit this issue.

[2020-02-14 19:06] ostromart commented on #20944
@ayj could you help to figure out what to do with this issue? It's likely already duplicated somewhere.

[2020-02-14 19:09] ostromart commented on #15264
I think it's talking about the per component hub/tag rather than top level. I added this to the API and I believe also the code but I need to double check.

[2020-02-14 19:20] ostromart commented on #21088
yes, i'll take this one. i was going to try to fix it quickly but there are a few other must-fix issues for community testing on tue so most likely this will fall into next week unless we can find someone else to work on it today.

[2020-02-14 19:24] ostromart commented on #17969
Fixed in https://github.com/istio/istio/pull/20344 with a workaround but we should revisit this in 1.6 to see if we can find a better solution.

[2020-02-14 19:25] ostromart commented on #18488
I think this is done, feel free to reopen if you feel otherwise @elfinhe .

[2020-02-14 19:25] #18488 closed

[2020-02-14 19:26] ayj commented on #20944
https://github.com/istio/istio/issues/18900#issuecomment-581558183 suggests a few options. That is probably the right issue to track this problem since its ultimately tied to not uninstalling certain artifacts.

[2020-02-14 19:29] ostromart commented on #18384
@irisdingbj @linsun is this still an issue? can we close?

[2020-02-14 20:19] KadenLNelson commented on #19493
I'm closing this issue because https://github.com/istio/istio.io/pull/6377 has been merged to update the Istio cert manager version.

[2020-02-14 20:19] #19493 closed

[2020-02-14 21:03] howardjohn commented on #18554
Any updates @ostromart?

[2020-02-14 21:04] howardjohn commented on #20871
This is working as expected

[2020-02-14 21:04] #20871 closed

[2020-02-14 21:04] k3a opened #21158 "istioctl analyze: Detect multiple gateways using the same wildcard TLS certificate"
**Describe the feature request**

It would be useful if "istioctl analyze" could detect the istio-common TLS problems:
- https://istio.io/docs/ops/common-problems/network-issues/#404-errors-occur-when-multiple-gateways-configured-with-same-tls-certificate
- https://istio.io/docs/ops/common-problems/network-issues/#port-conflict-when-configuring-multiple-tls-hosts-in-a-gateway

Those problems are v

[2020-02-14 21:06] howardjohn opened #21159 "Pilot deployment not pruned on istioctl upgrade from 1.4 to 1.5"
Repro steps:

[code]

You will find pilot instance remains. This is likely caused by `--prune-whitelist=envoyfilter` making it not prune deployments

Likely broken by https://github.com/istio/istio/pull/21055#discussion_r378061346

[2020-02-14 21:07] howardjohn commented on #21026
Should be fixed by #660

[2020-02-14 21:07] #21026 closed

[2020-02-14 21:08] howardjohn commented on #21069
cc @dgn

[2020-02-14 21:09] howardjohn commented on #20993
We have a couple issues open regarding this. Lets consolidate into #21094. As mentioned, we are constrained by envoy mostly

[2020-02-14 21:09] #20993 closed

[2020-02-14 21:11] howardjohn commented on #20471
I thought it was, assigned @ostromart to verify

[2020-02-14 21:13] howardjohn commented on #20454
I would love to have more visibility into this, but I am not quite sure how that would work. The webhook service doesn't know calls to it are failing, as they are not reaching the pod. Or are you suggesting if it hasn't gotten any calls within, say 5 minutes, it should log something?

[2020-02-14 21:14] howardjohn commented on #20142
https://docs.google.com/document/d/1d1z5PC8wvh9QiR3NesAaPm6w2HnE4-KIfjB7GB-_Wf8/edit#

[2020-02-14 21:15] #19982 closed

[2020-02-14 21:15] howardjohn commented on #19982
Helm is no longer support, so  idon't think there is any action here

[2020-02-14 21:16] howardjohn commented on #19739
Done ^

[2020-02-14 21:16] #19739 closed

[2020-02-14 21:16] howardjohn commented on #19737
Closing as I beleive this has been solved and there is no activity

[2020-02-14 21:16] #19737 closed

[2020-02-14 21:17] howardjohn commented on #19615
My understanding is this is fixed. If not, please let me know

note: on the 1.6 roadmap is VM hardening so hopefully we don't have these issues

[2020-02-14 21:17] #19615 closed

[2020-02-14 21:18] ostromart commented on #21062
ping @dgn

[2020-02-14 21:18] ayj commented on #21147
By default MutatingWebhookConfiguration is opt-in and only targets namespaces labeled istio-injection=enabled. Did you add this label istio-system? Alternatively, if you changed MutatingWebhookConfiguration to be opt-out you'll need to add the istio-injection=disabled label to istio-system.

[2020-02-14 21:19] carolynhu opened #21161 "istio/tools: Integrate with Nighthawk and make fortio and nighthawk coexist in our perf benchmark"
Here is the list of things need to be done:
- [x] Add a flag for load_gen_type to make load generator configurable for perf test
- [x] Extract Fortio and Nighthawk run configuration args. (qps, conn, duration, size etc).
- [x] Add Nighthawk stuff in.
- [x] Label handling fixes in order to run nighthawk load command.
- [x] Distinguish between fortio yaml and nighthawk yaml, using go template: if-el

[2020-02-14 21:25] howardjohn commented on #19522
The "enable coredump" setting just tweaks some system settings on the node to allow coredumps. If you already have those set, then the cores will be dump

[2020-02-14 21:26] howardjohn commented on #19348
Telemetry == mixer, this is working as intended

[2020-02-14 21:26] #19348 closed

[2020-02-14 21:28] baabel commented on #21147
Understood, only my app namespace has that label. The problem is kubernetes
expects the webhook workload to be running, which it is not... I believe
the logic around the label is in the sidecar injector which is not running.
If admission webhook workload is not running kubernetes "throws" this error.

Thanks,
Brian

On Fri, Feb 14, 2020, 4:18 PM Jason Young <notifications@github.com> wrote:

[2020-02-14 21:30] howardjohn commented on #16538
This has been added to the templates

[2020-02-14 21:30] #16538 closed

[2020-02-14 21:30] howardjohn commented on #16860
Done by #16418?

[2020-02-14 21:30] #16860 closed

[2020-02-14 21:30] howardjohn commented on #17356
We have removed our bundled certmanager

[2020-02-14 21:30] #17356 closed

[2020-02-14 21:31] howardjohn commented on #17484
fixed by above pr

[2020-02-14 21:31] #17484 closed

[2020-02-14 21:39] selmanj commented on #19880
This should be fixed by #21087, which was just merged into the 1.5 branch.

Note that it was fixed merely by ignoring types we don't support rather than complaining loudly.

[2020-02-14 21:39] #19880 closed

[2020-02-14 21:41] selmanj commented on #20437
This is done - I forgot I had filed an issue for this.

This was implemented in #20718 which was cherry-picked to 1.5

[2020-02-14 21:41] #20437 closed

[2020-02-14 21:44] baabel commented on #21147
Ok I see, it's part of the match label on the mutatingwebhookconfiguration.
I looked at the labels on the wrong istio namespace, we have multiple in
same cluster and yes the one where it happenes has the namespace
label...thanks and sorry about that.

Brian.

On Fri, Feb 14, 2020, 4:28 PM Brian Aabel <brian.aabel@gmail.com> wrote:

[2020-02-14 21:56] ostromart commented on #21159
I verified that is indeed the case. Prune replaces the default whitelist, not adds to it. From kubectl help:
[code]
So we need to pass the entire list here, not just envoyfilter. Also let's create a test since this should've been caught in the original PR.

[2020-02-14 22:00] richardwxn commented on #21159
oh ok believed it was additive when I did testing, I would create a fix to add the previous whitelisted types

[2020-02-14 22:00] ostromart commented on #19152
Implemented in https://github.com/istio/istio/pull/20180.

[2020-02-14 22:00] #19152 closed

[2020-02-14 22:42] ostromart commented on #19182
I'm going to keep this open for 1.6 to revisit if there's anything else which makes sense to have provider specific logic.

[2020-02-14 22:45] ostromart commented on #19816
@howardjohn pointed out that go client API requests are rate controlled to a low value by default. We should prioritize trying out a faster rate since this will also speed up the control loop greatly.

[2020-02-14 22:48] ostromart commented on #20230
Fixed in https://github.com/istio/istio/pull/20631.

[2020-02-14 22:48] #20230 closed

[2020-02-14 23:31] diemtvu commented on #17512
There are few seconds/minutes we can squeeze here and there, but I think
it's time to break it into few components to run in parallel. The suite
currently has more than 1k tests,

On Fri, Feb 14, 2020 at 10:01 AM John Howard <notifications@github.com>
wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-215-8127

[2020-02-14 23:45] hugocortes commented on #12551
Can confirm it works with istio v1.5.0-beta.1 after deleting pods using headless service

[2020-02-14 23:57] howardjohn commented on #17512
@diemtvu I mostly agree. The exception is:
[code]

These should be in a single test suite most likely. But yes there are just more tests than other suites so it makes sense its the longest. Splitting it makes sense to me

[2020-02-15 00:48] carolynhu opened #21165 "istio/test-infra and tools: push upgrade jobs upgrade from 1.4 latest to 1.5 latest"
cc @howardjohn

[2020-02-15 01:06] howardjohn commented on #18401
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/21162/unit-tests_istio/8679

[2020-02-15 01:56] morvencao commented on #20255
@anupash147
Try to escape the nodeSelector key as @blhagadorn mentioned.
Which component is not scheduled to desired node after you set `defaultNodeSelector`?

[2020-02-15 05:04] #18551 closed

[2020-02-15 07:55] sureshvis opened #21170 "Need wildcard listeners for TLS ports (was: Sidecar resource egress listener issue)"
**Bug description**

below sidecar resource created on Namespace A, the expectation is this should create a listener on 0.0.0.0_443 port. The listened are not getting created with the below config.  I DO see listener get created if I change the Protocol to HTTP
[code]

[ ] Networking

**Expected behavior**
he expectation is this should create a listener on _443 port

**Version (include the output

[2020-02-15 07:57] sureshvis commented on #21170
@rshriram

[2020-02-15 08:38] sanigo commented on #20680
@blhagadorn The cert-manager was installed according to the https://cert-manager.io/docs/installation/, I did not use helm and just use the kubectl apply.

[2020-02-15 08:41] sanigo opened #21171 "How to upgrade if the istio old verison was installed using helm template?"
The istio old verison was installed using helm template.
There are no accordingly upgrade-guide for it?

[2020-02-15 09:03] desek opened #21172 "istio-sidecar-injector should not operate in kube-system namespace"
**Bug description**

The MutatingWebhookConfiguration for Automatic Istio Injection is not namespaced and is operating in the kube-system namespace ~~even with label `istio-injection=disabled`~~.
This can cause Kubernetes with CNI enabled (i.e. Calico) to transfer into a limbo state due to failing to connect to istio-sidecar-injector service which in turn fails creation of CNI Pods for cluster net

[2020-02-15 09:06] JacksChoco commented on #21171
I usually upgrade istio version by `kubectl apply --force`. I think no best solution.

[2020-02-15 09:14] mengxu2018 commented on #18886
How did you resolve it?  I will hang on  in my pc.
[code]

[2020-02-15 09:29] mengxu2018 opened #21173 "go build failed for https://github.com/istio/istio/wiki/Mixer-Out-Of-Process-Adapter-Walkthrough#step-3-link-adapter-config-with-adapter-code-and-add-business-logic"
I am referring the doc https://github.com/istio/istio/wiki/Mixer-Out-Of-Process-Adapter-Walkthrough#step-3-link-adapter-config-with-adapter-code-and-add-business-logic to create the adapter.

But in the step 3, when I execute the 'go build ./...', it will fail
[code]
note: in the step1, step2, I also ran the 'go build' successfully, but in step3, after paste the large piece of code to 'mygrpcadapt

[2020-02-15 10:01] mengxu2018 commented on #18886
But I found there is no comment saying this document is out of date.

[2020-02-15 10:04] ArieLevs commented on #20680
@sanigo where you able to get the `kubernetes.io/ingress.class: istio` annotation to work?

`Gateway` and `VirtualService` works fine, but using the kubernetes ingress resource does not.

[2020-02-15 10:20] haf commented on #20454
That could be one solution, or you can trigger a Noop command when I do `istioctl analyze -k` to ping the webhook (implicitly via the API server); if that command fails to be "admitted" you can say that connectivity is broken.

[2020-02-15 11:00] morvencao opened #21174 "Operator component status string should be removed"
We have added status string via https://github.com/istio/operator/pull/458 for readable output.
Now, with latest operator API, the enum type of `status` can be marshal/unmarshal to correct enum string, see:
[code]
We should consider to remove duplicated `statusString`.

**Bug description**

[ ] Configuration Infrastructure
[ ] Docs
[ X ] Installation
[ ] Networking
[ ] Performance and Scalability

[2020-02-15 11:00] morvencao commented on #21174
/cc @ostromart

[2020-02-15 11:08] xiaozhongliu opened #21175 "Locality load balancing is not working for shared control plane (single-network)"
**Bug description**
All requests to primary cluster can be routed to instances in local cluster normally. While requests to remote cluster will be routed to instances in both primary and remote clusters.

**Affected product area (please put an X in all that apply)**
[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry

[2020-02-15 11:18] xiaozhongliu commented on #21142
Solved by applying enableNamespacesByDefault: true

[2020-02-15 11:18] #21142 closed

[2020-02-15 12:50] rshriram commented on #21170
@istio/wg-networking-maintainers-pilot the core of the issue here is that in sidecars, for VirtualServices with TLS match blocks (where the host is not a service in the system), we do not generate a wildcard TLS listener that routes to the appropriate target. We sort of do this for HTTP though but not for HTTPS/TLS.

[2020-02-15 13:00] zzl1 commented on #21058
Thanks a lot @esnible
* kubectl -n istio-system describe service istio-pilot
[code]

* kubectl -n istio-system get pods
[code]

* kubectl -n istio-system get svc istio-sidecar-injector

[code]

*  kubectl -n istio-system get ep istio-sidecar-injector

[code]

# when I debug within **kube-apiserver**:
* I am able to connect istio-sidecar-injector via **endpoint**:
/ $ nc -vz 10.244.3.40 9443
10.244

[2020-02-15 13:25] clyang82 commented on #21056
follow this instruction - https://preliminary.istio.io/docs/setup/install/multicluster/shared-gateways/ about setup multicluster, it does not work. it throws this error `Error: failed to create discovery service: grpcDNS: requested TTL 87600h0m0s is greater than the max allowed TTL 2160h0m0s`

[2020-02-15 13:59] rshriram commented on #19684
Yes I dont mind if you want to create a UDS and enable it explicitly through annotation or what not. But TCP should always be the default. IMO it is unnecessary complexity, all in the name of a DDOS that is not even a legitimate threat.

Here are a few more DDOS vectors to consider:
I could choose to launch a 1000 pods in one namespace and churn them in a specific way to bring pilot down to its kn

[2020-02-15 14:28] fcantournet commented on #18300
@lambdai FYI with commit b2da45a in envoy, which is available in istio 1.4+ we have what we need for running istio's ingress-gateway behind a trusted LB.

setting `xff_trusted_num_hops ` appropriately is sufficient now & can be done with a simple envoyfilter.
We get proper `x-forwarded-*` headers and envoy's internal variables for downstream address are good too.

[2020-02-15 15:36] howardjohn commented on #19684
Pilot agent has its own quit endpoint, but in a later release we also made the agent exit when envoy exits so either one works

[2020-02-15 18:34] howardjohn commented on #20454
That is a good idea, it might be possible to through the proxy api (like `api/v1/namespaces/istio-system/services/istio-sidecar-injector:http/proxy`). I am not certain that will fail in these cases, but if it does then that would be a great indicator

[2020-02-15 18:44] dgn commented on #21062
sorry @ostromart, was busy working on other things.. Will provide logs on Monday, but IIRC it was related to the operator not deploying a secret (istio-ca-root-cert I believe). It was easily reproducable with the steps above- it might have been fixed by your jsonmerge PR. Will verify on Monday.

[2020-02-15 20:59] 2ZZ commented on #20723
Just hit this as well. Restarting Citadel caused the missing certs to be created.

[2020-02-15 22:15] #21147 closed

[2020-02-16 00:36] WoodProgrammer commented on #20975
I checked again rule and keys . Thanks :))

[2020-02-16 00:36] #20975 closed

[2020-02-16 00:39] #21159 closed

[2020-02-16 04:51] su225 commented on #20771
@brian-avery - Thanks. I'll incorporate this change and raise a PR

[2020-02-16 05:01] #14819 closed

[2020-02-16 05:01] #14969 closed

[2020-02-16 05:02] #15701 closed

[2020-02-16 05:02] #15711 closed

[2020-02-16 05:02] #16306 closed

[2020-02-16 05:04] #18261 closed

[2020-02-16 05:05] #18578 closed

[2020-02-16 05:14] mandarjog commented on #18886
That doc is indeed out of date. We are moving away from Mixer v1 model in general with Mixer deprecation in istio 1.5
The existing adapters will continue to work for 2 release .

Given this I don’t think you should write new OOP adapter.
https://tinyurl.com/mixer-deprecation

[2020-02-16 13:55] sdake commented on #11682
@Bessonov regarding disrespecting community and bot fight, the automation in place is imperfect. I am semi-aware that @clarketm is working to improve the automation for the reasons stated.

Cheers
-steve

[2020-02-16 16:02] bao168 opened #21180 "Ads291997@gmail.com"
**Describe the feature request**

**Describe alternatives you've considered**

**Additional context**

[2020-02-16 16:02] bao168 commented on #21180
Aaaa

[2020-02-16 16:04] bao168 opened #21181 "Ads291997@gmail.com"
**Bug description**

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

**How was Istio installed?**

**Environment where bug was observed (cloud vendor, OS, etc)**

[2020-02-16 18:06] #21181 closed

[2020-02-16 18:32] howardjohn commented on #21034
cc @kyessenov since you mentioned this in https://github.com/envoyproxy/envoy/issues/9643

[2020-02-16 18:33] richardwxn commented on #21171
You can try istioctl manifest migrate command to generate the new IstioOperator file from helm values.yaml: https://github.com/istio/istio/blob/master/operator/README.md#migration-from-valuesyaml, which then you can use istioctl to install with

[2020-02-16 18:52] #21180 closed

[2020-02-16 18:58] howardjohn opened #21183 "Review deprecated fields for Istio 1.6"
Before launching Istio 1.6, we should investigate any deprecated fields we are using in Envoy and, if possible, migrate to the new settings

[2020-02-16 19:17] #21174 closed

[2020-02-16 19:54] robinbraemer commented on #16282
To throw in some question:
- Is this being worked on?
- Why does the istio `grpc` protocol even exist if it's not working or how should we use this type of protocol?

[2020-02-16 21:13] Stono commented on #19925
It's happened in pilot too - so not just proxies.

<img width="1676" alt="Screenshot 2020-02-16 at 21 12 58" src="https://user-images.githubusercontent.com/1486729/74612840-283b1800-5101-11ea-9b10-f506ff9540ef.png">

[2020-02-16 21:15] Stono commented on #18090
<img width="802" alt="Screenshot 2020-02-16 at 21 14 34" src="https://user-images.githubusercontent.com/1486729/74612864-591b4d00-5101-11ea-94f3-679c194f1554.png">

Just keeping this issue alive, this still happens.... seems like pointless overhead.

@johnholiver

[2020-02-16 21:15] howardjohn commented on #19925
Pilot has a lot of different memory stats exposed, may give some more info there. You can see them in the default pilot dashboard.

[2020-02-16 21:18] howardjohn commented on #18090
Does your pilot have a Sidecar and do you connect over port 15010 (plain text) or 15011 (tls)? that will help to reproduce/fix

Off the top of my head I don't think this is happening out if the box in a default install so there may some subtle issue with your setup.

[2020-02-16 21:22] Stono commented on #18090
@howardjohn yes it does have a sidecar, and I would presume tls as i'm using secure control plane.  I've attached my entire values.yaml that i use to `helm template` for you

[values.yaml.tar.gz](https://github.com/istio/istio/files/4210934/values.yaml.tar.gz)

[2020-02-16 21:23] howardjohn commented on #18090
Thanks, I'll take a look. I recently discovered some issues with having the pilot Sidecar impacting the rebalancing of the xds connection, so possible it's impact this as well

[2020-02-16 21:27] Stono commented on #18090
wow these are some worrying graphs, pilot over the last 14 days (resident and virtual memory are jumping consistently):

<img width="1655" alt="Screenshot 2020-02-16 at 21 26 13" src="https://user-images.githubusercontent.com/1486729/74613062-fc209680-5102-11ea-90f2-980fb056a588.png">

[2020-02-16 21:28] Stono commented on #19925
wow these are some worrying graphs, pilot over the last 14 days (resident and virtual memory are jumping consistently):

<img width="1655" alt="Screenshot 2020-02-16 at 21 26 13" src="https://user-images.githubusercontent.com/1486729/74613087-312ce900-5103-11ea-8bf7-251fe268a9da.png">

[2020-02-16 21:36] Stono commented on #18090
Does look like it's reconnections in one form or another:

<img width="1667" alt="Screenshot 2020-02-16 at 21 35 24" src="https://user-images.githubusercontent.com/1486729/74613208-4a826500-5104-11ea-8458-d09795311041.png">

[2020-02-16 21:46] howardjohn commented on #18090
ok with the same setup (1.4, control plane security) I see the same. I am not (yet) sure if under other setups I don't see this yet

[2020-02-16 21:46] Stono commented on #18090
@howardjohn this is what we see on a proxy:

[code]

[2020-02-16 21:58] howardjohn opened #21186 "Pilot Ledger memory leak/excessive usage"
![2020-16-02_13-57-18](https://user-images.githubusercontent.com/623453/74613568-61a16280-50c4-11ea-8477-ff9af0b6a20d.png)

After running in a medium sized cluster for a week or so, memory looks like this. I believe its constantly growing as well

[2020-02-16 22:52] Norbo11 opened #21187 "Prometheus operator install"
Hi - I was wondering what is the status on Prometheus Operator support, as I can't seem to get it to work. I am trying to apply the following manifest:

[code]
But `istioctl` complains about not knowing of the `createPrometheusResource` key.

I tried installing the Helm chart manually using:

`helm install istio-prometheus-operator install/kubernetes/operator/charts/istio-telemetry/prometheus-oper

[2020-02-16 23:10] howardjohn opened #21188 "translateconfig broken by istiod renaming"
it's looking for a "pilot" deployment which doesn't exist

[2020-02-17 01:05] mg03 commented on #19522
@howardjohn : the system has ulimit core dump setting to 0. So it should not create core dumps.

[2020-02-17 01:17] howardjohn commented on #19522
if you check on a running pod, is it the same?

[2020-02-17 01:44] hzxuzhonghu commented on #20062
@turbotankist Could you run ` kubectl get ep pfphome-pfp-service -n xx -oyaml` and show the results?

[2020-02-17 01:53] hzxuzhonghu commented on #12551
That's a good point, as the iptables is set in init-container during pod bootstrap, so users should restart the pod.

[2020-02-17 02:45] #20794 closed

[2020-02-17 03:13] xiaozhongliu opened #21191 "Locality load balancing is not working for shared control plane (single-network)"
**Bug description**
All requests to primary cluster can be routed to instances in local cluster normally. While requests to remote cluster will be routed to instances in both primary and remote clusters.

**Expected behavior**
Requests to remote cluster can be routed to instances in remote cluster only.

**Steps to reproduce the bug**
None.

**Version (include the output of `istioctl version --rem

[2020-02-17 03:14] #21175 closed

[2020-02-17 03:18] johnzheng1975 opened #21192 "Whether istio support jwt revoke (in case hacker get token)"
**Describe the feature request**
Whether istio support jwt revoke? If not, is there any best practice if I need implement jwt revoke by myself.
You know, it is useful to avoid hacker, or user log out.
Thanks.

**_Note_**: I am using istio jwt verify like below.
[code]

[2020-02-17 03:28] bianpengyuan opened #21193 "Derive sd tracer project from cluster metadata"
Currently Stackdriver tracer project id is derived from GCE default credential, which will not be available if Workload identity is enabled:
https://github.com/istio/istio/blob/9b0c55e43d6bc500f8c765e77b3102c4eedfef9b/pkg/bootstrap/config.go#L283

Instead, it should derive project id from cluster metadata:
https://github.com/istio/istio/blob/9b0c55e43d6bc500f8c765e77b3102c4eedfef9b/mixer/adapter/s

[2020-02-17 03:48] hzxuzhonghu commented on #19757
FYI: the kubernetes sidecar container kep will be targetted on 1.18 release.

[2020-02-17 04:08] vflopes commented on #21187
I just need the service monitors and I'm looking for how to generate them with istioctl, no docs found.

[2020-02-17 04:10] MeghanaSrinath commented on #21138
I have now installed Istio v1.2.10 on the same private GKE cluster and all the Istio components/ ingress gateways are getting installed correctly. Is there a reason why this is not working from v1.3+ onwards?

[2020-02-17 04:47] seflerZ commented on #18731
Close this issue since SSE resources and controller has been removed refer to this [issue](https://github.com/istio/istio/pull/20763#event-3032600507)

[2020-02-17 04:47] seflerZ commented on #18731
Close this issue since SSE resources and controller has been removed refer to this [issue](https://github.com/istio/istio/pull/20763#event-3032600507)

[2020-02-17 04:47] #18731 closed

[2020-02-17 05:01] #15773 closed

[2020-02-17 05:01] #15788 closed

[2020-02-17 05:01] #15789 closed

[2020-02-17 05:33] amitsadaphule commented on #20788
I was facing similar issue. While building istio-proxy tag 1.4.3 on RHEL 7 ppc64le, with a minor change to the Makefile to add support for ppc64le, I passed BUILD_WITH_CONTAINER with value 0 to the make command as: make BUILD_WITH_CONTAINER=0 build. The corresponding message from the Makefile (Building with your local toolchain) was printed on the console too. However, the bazel build was still tr

[2020-02-17 05:45] pandagodyyy opened #21194 "endpoint of service entry does not work as expected"
**Bug description**
I have a service entry as below
apiVersion: networking.istio.io/v1alpha3
kind: ServiceEntry
metadata:
  name: google
  namespace: zqiao
spec:
  hosts:
    - ooo
  location: MESH_INTERNAL
  ports:
    - number: 80
      name: http
      protocol: HTTP
  resolution: DNS
  endpoints:
    - address: www.google.com
I expect when application trigger http://ooo, the request will go to

[2020-02-17 06:00] howardjohn commented on #21194
a service entry does not add any DNS addresses, so that its why it fails to resolve.

[2020-02-17 06:08] pandagodyyy commented on #21194
@howardjohn, do you mean reconfigure as below ?
apiVersion: networking.istio.io/v1alpha3
kind: ServiceEntry
metadata:
  name: google
  namespace: zqiao
spec:
  hosts:
    - ooo
  addresses: www.google.com
  location: MESH_EXTERNAL
  ports:
    - number: 80
      name: http
      protocol: HTTP
  resolution: DNS
  endpoints:
    - address: www.google.com

[2020-02-17 06:10] howardjohn commented on #21194
when you run `curl ooo` it will try to resolve the `ooo` address which fails. If you instead did `curl localhost -h "Host: ooo" it should work

[2020-02-17 06:37] pandagodyyy commented on #21194
@howardjohn ,I tried # curl -v -H "HOST: ooo" http://localhost
still failed with below error
* Immediate connect fail for ::1: Address not available
* Failed to connect to localhost port 80: Connection refused
* Closing connection 0
curl: (7) Failed to connect to localhost port 80: Connection refused

[2020-02-17 08:01] Stono commented on #18090
I can confirm setting `global.controlPlaneSecurityEnabled` "fixes" this.

[2020-02-17 08:51] turbotankist commented on #20062
All endpoints are ordinary.
Pods already have updated endpoints.
[code]

when pilot didn't see pod with endpoint - endpoint was still normal

[2020-02-17 08:51] a-h-abid opened #21195 "Failed to run BookInfo example behind proxy server, failed calling webhook \"pilot.validation.istio.io\"."
Issue also posted at:
- https://www.reddit.com/r/istio/comments/f57v2a/help_failed_to_run_bookinfo_example_behind_proxy/
- https://stackoverflow.com/questions/60273745/failed-to-run-bookinfo-example-behind-proxy-server-failed-calling-webhook-pilo

**Problem:**

Following the bookinfo example, when trying to apply bookinfo-gateway, I get the following error:

[code]

**Output:**

[code]

**Related

[2020-02-17 10:01] hzxuzhonghu commented on #20062
Really sad, (#20874) is not in 1.4.4

[2020-02-17 10:05] stormobile commented on #20062
Well this is kind of amazing given that this breaks production environments and requires manual actions to restart Pilot.

[2020-02-17 10:08] Docteur-RS commented on #17886
I confirm that the first step woks on Ubuntu 14.04...
Though I cannot establish communication from the VM to the Kubernetes cluster .

Kubernetes => VM ✔️
VM => kubernetes ❌

Issues:

# 1)  **istio-sidecar.deb** not installing correctly on ubuntu
When installing using `sudo dpkg -i istio-sidecar.deb` the files are not copied into systemd. I had to extract the .deb and copy the service files to `/e

[2020-02-17 11:17] shamsher31 commented on #20730
Here are my thoughts on how static validation will work.

I want to keep this as simple as possible to identify if the provided values in `--set` is available in valid values.

[code]
Here `imagePullPolicy` will have possible values `"Always", "IfNotPresent", "Never"`. Anything else provided in `imagePullPolicy` will through invalid  error and stop further execution.

I think we should perform val

[2020-02-17 11:47] roycarser opened #21199 "fluentd adapter stop sending logenetry under high pressure when fluentd restart"
**Bug description**
fluentd adapter didn't send any log when the connection between fluentd and mixer is closed (network error or fluentd restart) under high pressure

**Expected behavior**
log will be send when fluentd return to work
**Steps to reproduce the bug**
see below
**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

i

[2020-02-17 12:44] ramaraochavali commented on #20062
@hzxuzhonghu Thanks for looking. Where did you check it is not available? The release notes says it is included https://istio.io/news/releases/1.4.x/announcing-1.4.4/#bug-fixes but if I look at source changes https://github.com/istio/istio/compare/1.4.3...1.4.4 seems does not have that fix. So was n't sure.

@howardjohn  Is the release notes incorrect some how?

[2020-02-17 13:07] shahid-mushtaq opened #21200 "upstream connect error or disconnect/reset before headers. reset reason: connection termination"
Hi , i am new to istio , i have ran into this bug

"upstream connect error or disconnect/reset before headers. reset reason: connection termination"

let' say my website is running on mydomain.com

in my website i have routed traffic on static ip  let's say 192.168.0.1
port 80 is being forward to 32285
and port 40 is being forward to 31970

when i visit my website http://www.mydomain.com it displa

[2020-02-17 13:18] Stono commented on #18090
steadily declining as our sidecars roll out with global.controlPlaneSecurityEnabled=false 🤷‍♂

<img width="1579" alt="Screenshot 2020-02-17 at 13 17 54" src="https://user-images.githubusercontent.com/1486729/74657349-f28d4200-5187-11ea-8d69-284bff1303e1.png">

[2020-02-17 15:04] Docteur-RS commented on #17886
Also tried Istio 1.4.4 and the node_agent doesn't work even on Ubuntu 14...
So I can't test the interaction between the new .deb (on the VM) and kubernetes because I'm stuck at the CSR signing error.

I tried to merge istio 1.4.3 on the cluster and the files of istio 1.4.4 on the VM ! The results are the following:
* istio-node-agent-start.sh works (CSR signing etc) ✔️
* istio-clean-iptables.sh fa

[2020-02-17 16:37] jamielennox opened #21201 "istioctl/operator k8s overlay patch can't delete map"
**Bug description**

I'm attempting to use the patch functionality to install the ingress-gateway as a daemonset instead of a deployment. I've got that patches set up like:

[code]

based on documentation I would expect
[code]
to remove the affinity information from the spec, however this doesn't work and doesn't return an error because it doesn't match the check in https://github.com/istio/istio/

[2020-02-17 16:51] howardjohn commented on #20730
I think the bool ones we already have validation for? but other ones it makes sense to me

[2020-02-17 16:55] howardjohn commented on #20062
Yes the release not is wrong. 1.4.4 was a security release so things got a little mixed up as we had to work on the release notes in private. Your change was merged 3 days after 1.4.4 was built. It will be in 1.4.5 which is (planning to) shipping tomorrow

[2020-02-17 16:59] objectiser commented on #21104
@esnible Sorry for delay in responding:
[code]
[code]

[2020-02-17 17:03] mattcaron opened #21202 "Istio Ingress Gateway listens on 0.0.0.0:15090"
**Bug description**

According to `istioctl proxy-config listener`, a default istio-ingressgateway install listens on 0.0.0.0:80 and 0.0.0.0:15090.

The former is not problematic - it is an example, and is easily modified for purpose or deleted.

However, the latter is proving quite difficult because I cannot seem to figure out how to turn it off. It doesn't seem to do anything when one connects f

[2020-02-17 17:37] shivaspk opened #21203 "Unable to install ISTIO 1.4.4 on MacOSX Catalina"
**Bug description**
Unable to run istioctl on mac OS Catalina.
[code]
Abort trap: 6

[ ] Configuration Infrastructure
[ ] Docs
[ x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
istioctl should run and display version currently unable to install istio
*

[2020-02-17 17:52] mg03 commented on #19522
on the running pod, the ulimit is not 0 by default.  As a workaround, we added ulimit -c 0 to the start command of the gateway pod.

[2020-02-17 18:20] ericvn commented on #21203
I can't even run the executable:
![Screen Shot 2020-02-17 at 12 19 36 PM](https://user-images.githubusercontent.com/10537847/74678170-d1c0ee80-517f-11ea-9aae-296646449399.png)

[2020-02-17 18:44] ericvn commented on #21203
If I use the `curl` command as originally noted, I do see that same error.

[2020-02-17 20:44] ericvn commented on #21203
I did some additional playing with downloading the .tar in Chrome. The `bin/isitioctl` in the unitard directory still fails, and copying it to a bunch of places resulted in that failing as well. For some reason, copying it over an existing istioctl executable in usr/local/bin seems to work. I'm suspecting the the Apple signing had already approved that image/location at some point so putting a new

[2020-02-17 20:55] ericvn commented on #21203
Kubernetes client has a similar issue:
[code]

[2020-02-17 20:56] howardjohn commented on #21202
The istio-ingressgateway service does not expose 15090 so I don't think this is something that can be hit externally

[2020-02-17 20:57] ericvn commented on #21203
@shivaspk My comment might be hidden above. Can you verify that you are actually running the new `istioctl` by running `which istioctl`. I note that you put the istio directory on the end of your path.

[2020-02-17 21:09] ericvn commented on #21203
I found https://discourse.brew.sh/t/code-signing-installed-executables/2131/15 which at the bottom talks about quarantine flags being set by the browsers and being placed on the untar'd files as well. I did find that to be true. If I remove the quarantine flags things work. I believe the curl isn't setting the quarantine flag and then things work fine.

[2020-02-17 21:14] mattcaron commented on #21202
I don't think it can be hit externally. If you try, it just times out, the same as any other port that is not shown as open (say, like 789). Otherwise I would have flagged it as a security issue. It isn't, because the traffic is not connected to anything. But, it's still listening.

If I get the service, it says:
[code]
So, not listening on 15090. But, all of these (except 443, which I added) are

[2020-02-17 21:16] howardjohn commented on #21202
15090 is listening so prometheus can scrape it, but its not exposed in the service since it shouldn't be externally accessed.

The the ones are in the Service but not listening because you don't have a Gateway set up. Technically they don't need to be in the Service, I think we just put them there by default as they are common ports to use, so we don't want people to modify the Service every time

[2020-02-17 21:24] ericvn opened #21204 "Mac OS Catalina - binaries if downloaded via browser fail to run."
**Bug description**

On Mac OS Catalina, if one downloads one for the Mac OS release tar files in a browser, extracts it, and then tries to run one of the binaries, they may get a pop-up like:

![Screen Shot 2020-02-17 at 12 19 36 PM](https://user-images.githubusercontent.com/10537847/74687107-11e09b00-5199-11ea-9b04-27848caca416.png)

**Expected behavior**

Binaries should run after the release i

[2020-02-17 21:33] ericvn commented on #21204
Some investigation on this:

If I download the tar file using `curl` and expand, for example using: `curl -sL https://istio.io/downloadIstioctl | sh -` the executable works.

This is one workaround. We do have to worry if someone hacks what we have for available builds, but that is irrespective of what we have here.

Apple (with Catalina) is now requiring the notarization of the apps and I suspect

[2020-02-17 21:47] brian-avery commented on #20771
No problem.

[2020-02-17 21:49] brian-avery commented on #18285
The flakiness is being addressed in https://github.com/istio/istio/issues/20771. As this test was implemented in https://github.com/istio/istio/pull/20232, I am closing this issue.

[2020-02-17 21:49] #18285 closed

[2020-02-17 21:51] brian-avery commented on #20499
Thanks @jacob-delgado!

[2020-02-17 21:52] brian-avery commented on #20502
@howardjohn Looking through this, it looks feasible to me. What challenges are you expecting?

[2020-02-17 21:54] ericvn commented on #21203
Some quick googling suggests that this error possibly has something to do with the version of xcode command line tools installed compared to your osx version.

I try `xcode-select -v` and got  _xcode-select version 2373._ on my Mac.

[2020-02-17 21:59] howardjohn commented on #20502
Don't we provision a real cert from lets encrypt? I think that takes multiple minutes and I am not sure if they would be happy with the rate at which we would be running this? I may not be right here though, I only briefly looked at this

[2020-02-17 22:09] brianwolfe opened #21205 "Support istio CA across multiple k8s clusters"
**Describe the feature request**

When deploying Istio with a [shared control plane across multiple kubernetes clusters](https://istio.io/docs/setup/install/multicluster/shared-vpn/), Istio CA needs to run in all clusters. To run Istio CA, we need to provide a certificate authority signing key to each individual cluster. This differs from service discovery, where a single deployment can manage ser

[2020-02-17 22:37] mattcaron commented on #21202
I don't have a Gateway set up for 15090 either, but yet it's still listed. I only have one set up for 443 (which is also listening, as it should).

Here is my Gateway and VirtualService sections. This replaces the Port 80 default section:
[code]

[2020-02-17 22:39] howardjohn commented on #21202
yes 15090 is always there no matter what you do so that stats work

[2020-02-17 22:47] mattcaron commented on #21202
That's unfortunate, and may disqualify Istio for us. I'll have to talk to the team.

Thanks for the information.

[2020-02-17 22:50] howardjohn commented on #21202
here is the relevant config https://github.com/istio/istio/blob/release-1.4/tools/packaging/common/envoy_bootstrap_v2.json#L483

we could probably make it optional

[2020-02-17 22:55] mattcaron commented on #21202
The ideal solution would be for it to listen to traffic from the cluster so that Prometheus could still scrape it, but I realize that's hard because we don't know what the IP is at the time the template is processed.

Honestly, I'd accept no prometheus stats from the ingress gateway if that meant that port wasn't listening anymore. If it ended up affecting all envoy instances (so we got no prometh

[2020-02-17 23:04] howardjohn commented on #21202
just trying to understand the use case more, what is the specific issue with this port on the gateway? and why is it bad on the gateway but not the sidecars (since neither are exposed on Services)?

[2020-02-17 23:05] howardjohn commented on #21202
you might be able to remove it yourself with https://github.com/istio/istio/tree/master/samples/custom-bootstrap but it's a bit hard since the merging won't remove things. You could also build your own image with the config removed, but that may not be feasible. I guess you could also overwrite the template by mounting your own config in the same location (volume mounts override files in the image

[2020-02-17 23:08] mattcaron commented on #21202
Honestly? Because when I dump out the proxy-config it shows as listening on 0.0.0.0 and the CISO will fail it because of that.

I can explain that the service description lists listeners but they can't be gotten to because there's nothing listening in the proxy-config, and he'll buy that.

But, if I explain that there's something listening in the proxy config but it doesn't go anywhere, he'll insi

[2020-02-17 23:10] howardjohn commented on #21202
It's not so much that it doesn't go anywhere, it's just not reachable externally - only directly by the pod IP address, which is only accessible from within the cluster not external clients

[2020-02-17 23:12] howardjohn commented on #21202
I am not saying your concerns are not valid by the way - seems reasonable to want to minimize what we are listening on

[2020-02-18 01:23] ramaraochavali commented on #20062
@howardjohn No worries. Thank you

[2020-02-18 02:36] howardjohn commented on #20487
Fixed, the issue was a mismatch in the container name on validator

[2020-02-18 02:36] #20487 closed

[2020-02-18 02:36] howardjohn commented on #20624
Fixed by #20786

[2020-02-18 02:36] #20624 closed

[2020-02-18 02:36] #21045 closed

[2020-02-18 02:37] howardjohn commented on #20697
The 3 fixes here are merged

[2020-02-18 02:37] #20697 closed

[2020-02-18 03:24] shivaspk commented on #21203
@ericvn
[code]

Surprisingly have the same version of Xcode:

[code]

[2020-02-18 04:25] pisymbol commented on #21094
I completely agree with @xUnholy as I too have a RPi 4B cluster waiting on Istio - I'd like to use k3sup to install it too!

[2020-02-18 05:01] #15826 closed

[2020-02-18 05:02] #16087 closed

[2020-02-18 05:02] #16486 closed

[2020-02-18 05:03] #17560 closed

[2020-02-18 05:04] #17679 closed

[2020-02-18 05:04] #18336 closed

[2020-02-18 08:00] winterTTr commented on #16051
I do think we need this improvement, so vote it to avoid disabled by bot.

[2020-02-18 08:23] vadimeisenbergibm commented on #20161
@brian-avery @howardjohn In my opinion, Istio should not break existing Kubernetes constructs. Some people may choose to use Kubernetes ExternalName services for some reasons, or they may have "legacy" Kubernetes ExternalName services, before they add Istio to their cluster. In both cases, I think Istio.io should document how to work with Kubernetes ExternalName services and Istio should test that

[2020-02-18 08:24] linuxbsdfreak commented on #20456
@kramvan1 . Tested with operator 1.4.4 . It works.  I had to change the operator.yaml to use the new image and there after reapplied the yaml.

[2020-02-18 08:37] linuxbsdfreak commented on #21102
@istio-policy-bot , @esnible . Is my config incorrect or is this a know issue? I would like to block access to apps with an externally managed http blacklist/whitelist url.

[2020-02-18 09:21] xUnholy commented on #21094
@howardjohn

Has there been any work to investigate building and supporting multiple architecture types using `docker buildx`?

https://docs.docker.com/buildx/working-with-buildx/

In light of recently attempting to compile armv7l architecture arch myself, can I suggest the compilation of the source code be done with dependencies encapsulated in containers? This would make reproducible builds easi

[2020-02-18 10:07] fnp927 commented on #12115
#### Some of the requests are still responsed with 429 when redis restart
Thanks for the previous work and I've already updated my mixer which merged the code fixed for this bug.
After I deploy the new mixer,It worked fine. When I turned the redis down, the requests all passed and none of them were
limited by the mixer. In other words, it really works.
**However**,when I tried to restart the redis

[2020-02-18 10:37] luccks opened #21208 "Ingress ISTIO virtualhost based routing doesn't work"
**Bug description**

[x ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

ISTIO ingress virtual host based routing doesn't work

Steps to reproduce:

* Deploy simple echo service apple.yaml

kind: Pod
apiVersion: v1
metadata:
  name: a

[2020-02-18 11:29] m-czernek commented on #14743
Seems like the Java 11 issues have been fixed? Could you check and update the main page with fixed/closed please?

[2020-02-18 11:33] mattcaron commented on #21202
By "not going anywhere", I meant the ingress traffic. As in, the Gateway -> VirtualService routing routes 443 to someplace useful. Since there are no rules on 15090, even though it is listening, the traffic doesn't go anywhere because there are no rules.

And I never took your questions as invalidating my concerns, merely offering explanation and options. No worries.

[2020-02-18 12:03] kdima commented on #20168
@Laakso we are seeing the same issue. Did you manage to find a way to resolve this?

[2020-02-18 13:18] dgn opened #21211 "Performance benchmarks seem broken for 1.5"
See https://prow.istio.io/job-history/istio-prow/logs/daily-performance-benchmark-release-1.5

It looks like we haven't had a single performance benchmark pass since cutting of the branch. Not sure whether that's to be expected.

[2020-02-18 13:33] dgn opened #21212 "Cleanup operator codebase"
This is an umbrella issue to discuss potential refactorings and improvements to the operator codebase.

[2020-02-18 14:13] fscz commented on #1430
UDP +1.
Would like to use it for DNS.

[2020-02-18 15:06] anupash147 commented on #20255
@morvencao https://github.com/istio/istio/issues/20255#issuecomment-578831674

[2020-02-18 15:07] moritzheiber opened #21213 "Adding header-based routing EnvoyFilter patch discards per_filter_config for ext_authz"
**Bug description**

We are trying to add a header-based filter for our default route prefix `/` to disable our external authorization, added via another patch to the `envoy.http_connection_manager` filter.

Basically, the intention is (pseudo-code):

[code]
However, whenever we are trying to apply our patch, the instructions fail to show up and we are getting the following error on the proxy cons

[2020-02-18 15:07] moritzheiber commented on #21213
/cc @heimweh

[2020-02-18 15:15] mayflower-markus commented on #21213
This is most likely because the inboud already has a typed_per_filter config with options concerning the istio mixer component. You can check this by checking out the running envoy configuration of the istio-proxy.
Your EnvoyFilter Patch adds a per_filter_config on an envoy object that already has a typed_per_filter_config which is invalid.

The istio/api does not include the necessary protobuf de

[2020-02-18 15:29] duderino commented on #19925
I just want to call attention to this one ^  I asked @yxue to look into this but his investigation is blocked on the heap dump.  If you can give him a few (e.g., a known good one + a few bad ones) that should allow further investigation to continue.

https://github.com/istio/istio/wiki/Analyzing-Istio-Performance#generate-profile

[2020-02-18 15:40] ericvn opened #21214 "`istioctl manifest apply --set profile=demo` has proto: tag has too few fields: "-" warning"
**Bug description**
 `istioctl manifest apply --set profile=demo` yields a proto: tag has too few fields: "-" warning

[code]

**Expected behavior**

No **proto: tag has too few fields: "-"** error

**Steps to reproduce the bug**

Build `istioctl` on either the release-1.5 branch or master

Run istioctl manifest apply --set profile=demo

**Version (include the output of `istioctl version --remote`

[2020-02-18 15:46] johnma14 commented on #21214
https://github.com/istio/operator/pull/735

[2020-02-18 15:46] ericvn commented on #21214
I also see this on `1.5.0-beta.2`

[2020-02-18 15:47] rshriram commented on #21213
@mayflower-markus you are right in that the API has typed per-filter config in the routes and you are trying to add struct based config. To use a typed config, you need the type URL (which is kind of what you are specifying here). The problem in the code is that it has no way to dynamically import the protobufs for that type so that it can pack the binary config into XDS.  We have had to do ugly w

[2020-02-18 16:15] howardjohn commented on #20161
I agree with this

I don't agree with this. That is what kubernetes docs are for. There is nothing istio specific about using ExternalName, so I don't think we should document it.

[2020-02-18 16:42] cabrinoob opened #21215 "Having metrics for retries and circuitbreaking"
Hi,
I post this as a feature request because I cannot figured out how to achieve this with the current metrics exposed by Istio :

I'd like to be able to graph actual retries/circuitbreaks that occur on my service mesh (using grafana or datadog).

It would be very useful to track this kind of errors in order to make some alerting.

Thank you

[2020-02-18 16:44] linsun commented on #21214
https://github.com/kubernetes/kubernetes/issues/86739

[2020-02-18 16:45] linsun commented on #21214
same, i'm seeing it with latest master.

[2020-02-18 17:35] Nino-K commented on #20953
https://github.com/istio/istio/pull/21154

[2020-02-18 17:35] #20953 closed

[2020-02-18 17:39] moritzheiber commented on #21213
@mayflower-markus @rshriram Thank you for the hint, however, even with the added type definition the issue of "translating" the original Envoy configuration into a valid, accepted `EnvoyFilter` still persists unfortunately, as the `HTTP_ROUTE` object only supports `MERGE` as its operation and neither `INSERT_BEFORE` or `ADD`. And patching the default route will lead to `some-header` becoming a man

[2020-02-18 17:40] adamglt commented on #12551
The test above seems to be working with 1.5.0-beta.2:
[code]
We'll keep testing with our existing Akka clusters and update.
Thanks to everyone that helped with this issue.

[2020-02-18 17:54] jbilliau5668 opened #21216 "when changing the configRootNamespace, default DR gets created in istio-system still that breaks all traffic to VS's pointing at DR subsets"
**Bug description**
I installed Istio 1.4.3 via helm template with the following flags:

--set global.mtls.auto=true --set global.configRootNamespace=istio-config --set gateways.enabled=true

Now, what gets created is this default DestinationRule:

[code]

The problem, per this page here (https://istio.io/docs/ops/best-practices/traffic-management/), is the order in which DR's are evaluated: clien

[2020-02-18 18:03] mayflower-markus commented on #21213
@rshriram Thanks for the insights! It's nice to know that we can use that with the 1.5 release
@moritzheiber If applicable, I think you could try to create a virtual service that matches on the header, give that route a name and then reference the route through the name in your envoyfilter config. This way the VirtualService creates the header match configuration.

[2020-02-18 18:13] howardjohn opened #21217 "TestClientSink data race"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/21185/unit-tests_istio/8752

[2020-02-18 18:16] Stono commented on #19925
It may be too soon to tell, but we've turned of `controlPlaneSecurity` around 48 hours ago due to https://github.com/istio/istio/issues/18090#issuecomment-586863034, and as of yet haven't had a single sidecar breach it's memory.

[2020-02-18 18:39] ericvn commented on #21056
I am seeing this same failure on istio-1.5.0-beta.2 on IKS.

[2020-02-18 18:55] howardjohn opened #21219 "Add test for install of manifests/ using Helm"
Right now we have no tests using tiller (or helm template) to install istiod from `manifests/`. We should add these so users have additional options for install and can integrate with their existing tools

[2020-02-18 18:55] howardjohn commented on #21217
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/21185/unit-tests_istio/8755

[2020-02-18 19:32] rvennam commented on #6861
Request from an Istio user: "How does one apply a timeout of 30s globally for all requests within the service mesh?"

[2020-02-18 19:39] howardjohn commented on #20441
https://github.com/istio/istio/pull/21185 does the core of this, the rest is cleanup

[2020-02-18 20:05] howardjohn opened #21222 "Cleanup configuration of pilot-agent"
This tracks an effort to clean up the configuration of pilot agent. The root issue here is that we need to construct the meshconfig/proxy config in pilot-agent. To do this, we pass a variety of flags and environment variables to the agent, and reconstruct the config from these sources. This makes our injection templates and gateway deployments quite complicated and inconsistent.

The goal here is

[2020-02-18 21:15] ayj commented on #18900
We should probably have a "uninstall" page under "setup" on istio.io. This is especially important if we don't have an uninstall command and the recommended sequence is non-trivial.

[2020-02-18 21:24] moritzheiber commented on #21213
For anyone encountering the same issue, the solution is in [this comment](https://github.com/istio/istio/issues/21213#issuecomment-587511761) and the resulting YAML looks like this:

[code]

My overarching problem, translating the Envoy configuration into an Istio `EnvoyFilter` isn't solved by it, but it's not a bug.

[2020-02-18 21:24] #21213 closed

[2020-02-18 21:39] ostromart opened #21225 "istioctl manifest generate should label resources like apply"
istioctl manifest apply adds labels to all resources:
https://github.com/istio/istio/blob/f4bbafd4b16e28660a1a3b4f4c3397391e5c4529/operator/pkg/manifest/installer.go#L74
The same should be done for generate command, otherwise pruning will not be done if a user happens to install using generate + kubectl apply.

[2020-02-18 21:48] therealmitchconnors commented on #21152
Is the problem here that 'make gen' is generating an incorrect html file, or that grab_reference_docs.sh is not copying the file to the correct directory?

[2020-02-18 22:08] Stono opened #21228 "Ability to gradually warm services"
**Describe the feature request**
We write a lot of applications that rely heavily on JIT/Hot spot code compilation.  As a result, they require a certain amount of warming before they're really good to serve load.

The typical kubernetes rollout brings in new instances, and then istio (and kubernetes in general) will almost immediately send a fair percentage of traffic to that instance.   This is a

[2020-02-18 22:25] elfinhe commented on #21116
@maasen will be working on this.

[2020-02-18 23:23] howardjohn opened #21230 "Protocol Detection breaking H2 traffic to gateway"
https://github.com/istio/istio/commit/fd29fd362b7e0b6561734fd64444651baab43f2d introduced a change to use USE_DOWNSTREAM_PROTOCOL if sniffing is enabled. This seems to break gateway traffic.

Relevant configs:

443 listener:
[code]

Cluster that is being routed to:
[code]

Gateway:
[code]

Looks like we hit this code path: https://github.com/istio/istio/blob/134c006dcfc37452d9a8ae3818732f32e47a0ef

[2020-02-18 23:43] howardjohn opened #21232 "1.4 -> 1.5 upgrade deletes Ingressgateway"
[code]

You can see the first thing it does is delete the gateway, then later recreates it. This is going to have negative impact, as all traffic will be dropped and the gateway will get a new LB IP

Tentatively assigning to @richardwxn but if you can't do this please re-assign as this is a blocker

[2020-02-18 23:45] howardjohn opened #21233 "istiod service should only select istiod, not istio-pilot"
Currently istiod selects both deployments. This breaks the webhook, as it may instead go to the old pilot, where it will fail. For exampe:
[code]

[2020-02-18 23:46] howardjohn commented on #20277
found https://github.com/istio/istio/issues/21233 and https://github.com/istio/istio/issues/21232 which impact this

[2020-02-18 23:55] howardjohn commented on #21232
Actually I may be running the wrong istioctl binary. Let me verify first

[2020-02-18 23:56] beveradb commented on #14937
I know it's just cosmetic, but I wasted a bunch of hours today trying to figure out the cause of the conflicts so I wanted to get rid of all them from the output for the sake of having a clear mind 😉

For anyone else who comes across this and wonders what "(dummy) authentication policy" they'd need to add as per @diemtvu 's previous comment to get rid of these incorrect CONFLICT entries;

I previo

[2020-02-19 00:05] howardjohn commented on #21232
Nevermind, not sure what i was running but head of release-1.5 this is not an issue

[2020-02-19 00:05] #21232 closed

[2020-02-19 00:07] rshriram opened #21235 "istiod/citadel read root CA directly from secret"
**Describe the feature request**

Today, istiod supports the ability to read the root CA from a file mount in the pod (this file mount is from the secret or what not). Some end users with much more paranoid security teams feel this is not so secure given that the pod filesystem on a EC2 VM can be accessed by any malicious entity on the VM.

It would be nice to load the secret directly from K8S usi

[2020-02-19 00:20] #21054 closed

[2020-02-19 00:20] howardjohn opened #21236 "`istioctl proxy-config secret` broken by Envoy v3 updates"
[code]

This impacts 1.5+

cc @incfly @esnible

[2020-02-19 00:34] #21217 closed

[2020-02-19 00:55] kenske commented on #6324
Here's what I ended up doing as a workaround. Only works with istio >= 1.3. Modify your entrypoint to make a call to the proxy container asking it to shut itself down:

[code]

[2020-02-19 00:56] howardjohn opened #21239 "Cert rotation broken on Istio 1.5"
Steps to reproduce:

* Set `SECRET_TTL` to some low value. I chose 1m
* Wait `SECRET_TTL` seconds. Notice nothing in pilot-agent logs about SDS pushes
* All traffic is now broken, since the cert is expired but not rotated

[2020-02-19 00:57] chadlwilson commented on #20676
Thanks for your work on this @howardjohn - might have explained some of the weird behaviour we had seen in these kind of cases earlier.

[2020-02-19 01:11] howardjohn commented on #21239
@lei-tang @myidpt

[2020-02-19 01:14] howardjohn commented on #21239
I bump this up to 10min and rotation still did not occur, so that rules out my theory that 1min is so short that it breaks something

/certs output:
[code]

I captured this at 01:14, so 3 min after expiration

[2020-02-19 01:20] myidpt commented on #21239
Please help to take a look, Lei. Thanks!

[2020-02-19 01:20] #20944 closed

[2020-02-19 01:21] howardjohn commented on #21239
I have heard that Envoy will request a new secret when its close to expiration (as this was the whole motivation for running Envoy as prometheus sidecar) but the Envoy docs seem to suggest otherwise? "With SDS, a central SDS server will push certificates to all Envoy instances. If certificates are expired, the server just pushes new certificates to Envoy instances, Envoy will use the new ones righ

[2020-02-19 01:26] myidpt commented on #21239
Oh, we have 3 different flags to configure for the cert rotation:
https://github.com/istio/istio/blob/master/pkg/istio-agent/sds-agent.go#L68
Also L69, L70. You need to configure shorter graceperiod and rotation interval (the running interval for the cert ttl check thread) in order to have istioagent detect and rotate the certs.

[2020-02-19 01:27] myidpt commented on #21239
I think having 3 flags here is a little cumbersome. We need to improve this.

[2020-02-19 01:38] howardjohn commented on #21239
Ah yeah. At the very least we should make it

[code]

So its automatically changed when you change the TTL.

[2020-02-19 01:43] irl-segfault opened #21240 "sidecar.istio.io/proxyCPU annotation erases resource limits"
**Bug description**
using the `sidecar.istio.io/proxyCPU` pod annotation causes limits on the sidecar to be erased.  I appears that if that single annotation is used, the cpu limit, memory request, and memory limit are not taken from the default injection template.

[ x] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ x] Performance and Scalability
[ ] Policies and Telemetr

[2020-02-19 01:49] elvizlai commented on #19605
Friendly ping, this still not available in release `1.4.5`

[2020-02-19 01:53] howardjohn commented on #21239
I thought the whole reason we ran envoy for prometheus was because envoy was triggering the cert rotation so we didn't need to run the (very minimal) amount of code to do the cert rotation? I am really not sure why we run it now.. outside the scope of this PR though

[2020-02-19 01:59] howardjohn commented on #21239
Its still broken even if you configure those correctly. We do not configure eviction duration, so https://github.com/istio/istio/blob/445524dfeb7441f78e470a997d78c56e2ac6ad56/security/pkg/nodeagent/cache/secretcache.go#L544 always kicks in and then the cert is never rotated

[2020-02-19 02:06] howardjohn commented on #21239
Once that is fixed, https://github.com/istio/istio/blob/445524dfeb7441f78e470a997d78c56e2ac6ad56/security/pkg/nodeagent/cache/secretcache.go#L554 always returns true, resulting in the SDS connection dropping instead of a new cert being pushed cleanly. I am fairly sure we don't need this, we should just re-read the JWT token before we call generate secret

[2020-02-19 02:23] marshallford opened #21243 "istioctl operator init dump/generate flag"
**Describe the feature request**

I've noticed that the install instructions for the standalone operator have changed from `kubectl apply -f https://istio.io/operator.yaml` in 1.4 to `istioctl operator init` in 1.5. I'm curious if a `dump` or `generate` flag could be added to the `operator` sub command to create a yaml bundle like `operator.yaml`. My particular use case for this feature is a GitOp

[2020-02-19 02:49] yxue commented on #21230
It seems that the gateway routes the HTTP/2 traffic to some HTTP/1.1 service on port 80 and the service on port 80 is defined without port name.

Since protocol sniffing is disabled on gateway, if the port is unnamed, the traffic should use TCP proxy, not the HTTP proxy. Do we have some magic on port 80?

The quick fix is adding the sidecar vs gateway check and long term fix is supporting H2 upgra

[2020-02-19 02:54] #21233 closed

[2020-02-19 03:01] howardjohn commented on #21230
I am not sure why the port name for the cluster matters here? For the gateway, isn't all of the config determines by Gateway not the Service?

[2020-02-19 03:02] howardjohn commented on #21230
protocol name really shouldn't matter for gateway because you can use istio as an ingress only mode (no sidecar). If you do that, it doesn't make any sense to require pods to configure their port name

[2020-02-19 03:14] yxue commented on #21230
Cluster is used to build the connection to the destination service. The
configuration in the cluster determines the connection to use http/1.1 or
http/2 or tcp proxy. I thought the gateway determines the configuration
based on the service port, no?

On Wed, Feb 19, 2020 at 10:02 AM John Howard <notifications@github.com>
wrote:

[2020-02-19 03:36] lei-tang commented on #21056
The fix for this issue is at: https://github.com/istio/istio/pull/21246

[2020-02-19 03:43] #10194 closed

[2020-02-19 03:54] morvencao commented on #21212
@dgn As you mentioned in the 1st item, we have gaps about the marshaler/unmarshaler between istioctl and in-cluster operator. Basically, for all the commands integrated with istioctl, we're using jsonpb unmarshaler, while for in-cluster controller, we need to retrieve and store the IOP instance from kube-apiserver with go-client lib, it's using the yaml/json unmarshalers by default. Besides, to me

[2020-02-19 04:06] marshallford commented on #14327
I upgraded from 1.4.4 to 1.4.5 with the stand alone operator and CNI enabled. I'm seeing pods with the label `cni.istio.io/uninitialized=true` as you described but the pods were created well after the CNI pod (single node cluster) was reporting ready. In addition, I can delete the pod after the CNI is ready and I still run into the issue when its replacement is spun up.

[2020-02-19 04:07] morvencao opened #21248 "Istio in-cluster operator always remove Endpoint and ValidatingWebhookConfiguration resources in the prune loop"
**Bug description**

Build and deploy in-cluster operator, create IOP instance, the in-cluster operator will remove Endpoint and ValidatingWebhookConfiguration resources in the prune loop, see logs:
[code]

[ ] Configuration Infrastructure
[ ] Docs
[ X ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ]

[2020-02-19 04:11] howardjohn commented on #21230
I thought tcp vs HTTP was determined at the listener level?

[2020-02-19 04:12] howardjohn commented on #21230
The service port should not matter for gateway other than determining h1 vs h2 as far as I know

[2020-02-19 04:16] morvencao commented on #21248
Looks like the Endpoint and ValidatingWebhookConfiguration resources inherit the labels from parent resources, while they are not in the object cache pool, so the in prune loop, they will be deleted. But they will be finally recreated by parent.

[2020-02-19 04:19] t-ide opened #21249 "istioctl analyze: Detect connectivity between specified Pods"
**Describe the feature request**

It would be useful if "istioctl analyze" could detect connectivity of specified Pods such as:

[code]

**Background**

Currently, we are using Istio in a production environment.
When a communication failure occurs in the system, it is necessary to determine whether this issue is caused by some error in an Istio manifest ASAP.
However, the connectivity between the

[2020-02-19 04:35] marshallford commented on #14327
I'm still investigating but my current theory is that k3s doesn't use the standard `cniBinDir` and `cniConfDir` locations. If this is the case, it might explain a seperate problem I've been having that requires dest rules to get traffic from an ingress gateway to an injected pod.

[2020-02-19 05:00] #9783 closed

[2020-02-19 05:00] #10832 closed

[2020-02-19 05:01] #15835 closed

[2020-02-19 05:09] yxue commented on #21230
Yeah. HTTP vs TCP was determined at the listener level. The cluster configuration determines h1 vs h2.

If the service port name for port 80 is not defined. How will the gateway generate outbound listener? The outbound listener should use TCP proxy, right?

[2020-02-19 05:19] howardjohn commented on #19090
not stale?

On Tue, Feb 18, 2020 at 9:06 PM Istio Policy Bot <notifications@github.com>
wrote:

[2020-02-19 05:20] howardjohn commented on #21230
The listener is based on VS/Gateway. For example, this config

[code]

should create http traffic regardless of what protocol for the service `httpbin` is. Because we have explicitly configured to use HTTP by the virtual service

[2020-02-19 05:39] #18133 closed

[2020-02-19 06:50] yxue commented on #21230
Got it! The outgoing protocol (TCP vs HTTP) is determined at the listener level. If the HTTP filter chain is used, the router will select h1 vs h2 based on the cluster configuration; if TCP proxy is used, the TCP proxy will used TCP proxy regardless of the configuration of the cluster. Port name doesn't matter here.

I have another question. How will the cluster be configured with h2 configuration

[2020-02-19 06:57] #15850 closed

[2020-02-19 07:07] mandarjog opened #21252 "Stackdriver Logging: support for configurable batch size and interval"
Support ability to configure batch size and interval for SD logging.
Customers can choose between performance and log reliability.

This is important for audit logging and billing at ingress.

[2020-02-19 07:32] haf commented on #12232
@dwradcliffe Quick question: how come Istio decided to use string interpolation (which doesn't properly escape values) when constructing the JSON value? Isn't that obviously bugged?

[2020-02-19 07:47] haf commented on #20454
This issue doesn't need triage anymore; it's been understood and it can either be fixed as per the above discussion (analyze/timeout and/or docs of the port), or the powers that be should decide that the DX of Private GKE with Istio should suck.

[2020-02-19 07:47] haf commented on #20514
Cert Manager has been removed from Istio

[2020-02-19 08:14] incfly commented on #21230
There're some H2 specific options in DestinationRule, not sure if that's
the only source of the truth.

On Tue, Feb 18, 2020 at 10:50 PM Yan Xue <notifications@github.com> wrote:

[2020-02-19 08:16] clyang82 commented on #21056
I have verified, the fix works well. Thanks @lei-tang for your fix.

[2020-02-19 08:16] #21056 closed

[2020-02-19 08:30] ckcd opened #21257 "methods of configure metrics in mixer exists forever"
**Describe the feature request**

I want to set all metrics generated by mixer be exists forever and never expired, but i found that for now the config of `metricsExpirationPolicy` in [here](https://github.com/douglas-reid/istio/blob/84f3b8ff576125a6c3cab667bb213c65768f68a3/install/kubernetes/helm/istio/charts/mixer/templates/config.yaml#L658):

[code]

and with this code in [here](https://github.

[2020-02-19 08:40] hzxuzhonghu commented on #21230
By declaring the service port name with http2/grpc.

[2020-02-19 08:43] lei-tang commented on #21239
The PR https://github.com/istio/istio/pull/21258 is created to fix this issue. @howardjohn can you try it to see if it fixes the problem?

[2020-02-19 08:44] nadeemhussain opened #21259 "Istio AuthorizationPolicy not working with if source filed is given"
AuthorizationPolicy is not working when i'm mentioning source field  with namespace, principals,
it only works with source field and ip range.

AuthorizationPolicy should support source field with namespace and principals

Installed istio with istioctl  on gke cluster , and tried  authorization policy following this , https://istio.io/docs/tasks/security/authorization/authz-http/.

[code]

[code]

[2020-02-19 08:52] lei-tang commented on #21056
@clyang82 Thank you for verifying that the problem is fixed!

[2020-02-19 08:53] xvzup commented on #8374
I observe the same behaviour.

My environment:
- GKE: 1.15.9-gke.8
- Istio:
  client version: 1.4.5
  control plane version: 1.4.5
  data plane version: 1.4.5 (2 proxies)

Istio installation:
- istioctl manifest apply
- Added the following ports to the ingressgateway service
  (kubectl edit svc istio-ingressgateway -n istio-system)
   - name: tcp-5201
    nodePort: 31571
    port: 5201
    protoco

[2020-02-19 08:56] xvzup commented on #8374
Please reopen the issue

[2020-02-19 09:26] hzxuzhonghu opened #21260 "TestClientSink flakes"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/21024/unit-tests_istio/8808

[code]

[2020-02-19 09:28] hzxuzhonghu commented on #21260
The timeout is caused by sending to the channel blocked.

[2020-02-19 09:35] haf commented on #20680
I experience the same issue and have debugged it a bit further. Background:

- mTLS: false, i.e. the mesh config is ` spec:  peers: mtls: mode: PERMISSIVE`
- However, I have a default route: ```yaml
spec:
  host: '*.local'
  trafficPolicy:
    tls:
      mode: ISTIO_MUTUAL
[code]

[2020-02-19 09:39] hzxuzhonghu commented on #21249
cc @istio/wg-user-experience-maintainers

[2020-02-19 10:03] hzxuzhonghu commented on #21228
Don't u have readiness probe? It can work in this case.

[2020-02-19 10:11] gnshkumrwork opened #21262 "MemQuota Rate-limiting works but RedisQuota Rate-limiting doesn't work on bookinfo."
**Bug description**
MemQuota Rate-limiting works but RedisQuota Rate-limiting doesn't work on bookinfo example.

**Steps to reproduce the bug**
Setup Minikube on ubuntu 18.04.
Installed Istio using helm chart.
Setup bookinfo example as given in istio docs.

Followed all setups including setting disablepolicychecks to false given in the link:- https://istio.io/docs/tasks/policy-enforcement/rate-lim

[2020-02-19 10:21] baracoder commented on #17102
Is there a way to enable http2 for the PassthroughCluster? I have a workload which requires direct pod-to-pod communication using gRPC and stops working when istio is enabled, as the requests are sent using http/1.1

[2020-02-19 11:02] dgn opened #21263 "helm install: SDS does not work"
**Bug description**
SDS does not work, nodeagent support seems to be broken

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**
1.5.0-beta.2

**How was Istio installed?**
See steps to reproduce.

**Environment where bug was observed (cloud vendor, OS, etc)**
kind

[2020-02-19 11:05] dgn opened #21264 "helm install: global.jwtPolicy is ignored"
**Bug description**
in `manifests/` we have safeguards to change volumemounts to support clusters without TokenRequest functionality by checking whether `global.jwtPolicy!=third-party-jwt`. This is missing in `install/`. `istioctl` will set this flag automatically, which cannot do with helm, but we should at least be able to add it manually.

**Expected behavior**
helm installs also support the `g

[2020-02-19 11:06] dgn commented on #21263
Looks like it's related to https://github.com/istio/istio/issues/21264 - but that is not all. The values in the SDS profile are also outdated I believe.

[2020-02-19 11:44] #21259 closed

[2020-02-19 11:45] dansiviter opened #21265 "EnvoyFilter patch does not work as expected"
**Bug description**
Applying a `HTTP_FILTER` via `EnvoyFilter` is very confusing and requires a lot of trial and error. I would have thought it should be possible to just `ADD` but it appears it must appear before the predefined `envoy.router` or before/after `envoy.cors` or `envoy.fault` filters to appear.

The 'fix' for this may just be documenting the correct usage.

**Expected behaviour**
`Env

[2020-02-19 11:53] Stono commented on #21228
Yes of course we do, it doesn’t help.  As I explained in the “alternatives we have considered”

[2020-02-19 11:57] dansiviter commented on #21265
I've found the error:
[code]
Which has lead me to envoyproxy/envoy#7767. Therefore `ADD` will never work with `HTTP_FILTER` which is not mentioned in the documentation:

[2020-02-19 12:02] blockspacer commented on #9783
What's the status of that issue?

[2020-02-19 12:28] dgn commented on #21263
Nevermind, this was user error, I didn't have the correct kind config applied

[2020-02-19 12:37] haf commented on #20680
Related:

- https://github.com/jetstack/cert-manager/pull/1749
- https://github.com/istio/istio.io/issues/868#issuecomment-462761222
- https://github.com/istio/istio/issues/20680#issuecomment-588124135
- https://github.com/jetstack/cert-manager/issues/1535
- https://github.com/istio/istio/issues/6486
- https://github.com/istio/istio/issues/19296#issuecomment-578841838
- https://istio.io/docs/tasks

[2020-02-19 13:13] yxue commented on #21230
When I am adding check in the gateway to disable `use_downstream_protocol`, I am thinking that for http2/grpc service, if we don't declare the service port name and we use `curl --http1.1`, I think the request will still fail without `use_downstream_protocol`. I think the right fix would be supporting h2c/h2 upgrade.

[2020-02-19 13:26] yxue commented on #21230
But anyway, since protocol detection is not applied to gateway, removing `use_downstream_protocol` from gateway cluster rmakes sense.

[2020-02-19 13:28] cmanzi opened #21266 "isito-validation initContainer report error when istio-cni is not installed correctly"
**Bug description**
When enabling istio-cni-repair on Istio 1.4.5, the istio-validation init container fails. Relevant logs:
[code]
A brief examination of the code would indicate to me that the validator never starts a listener on the `IptablesProbePort`, unless I am mistake (https://github.com/istio/istio/blob/1.4.5/tools/istio-iptables/pkg/validation/validator.go#L117 and https://github.com/isti

[2020-02-19 13:53] xvzup commented on #8374
Changed the port number from 5201 to 15201 and now it works ...

[2020-02-19 14:36] howardjohn commented on #20454
No one wants it to suck. I haven't had a chance to set up a private cluster to try out if the proxy idea I mentioned above will work

[2020-02-19 15:00] #21260 closed

[2020-02-19 15:05] kramvan1 commented on #20456
works in 1.4.4 closing

[2020-02-19 15:05] #20456 closed

[2020-02-19 15:06] #21078 closed

[2020-02-19 15:14] philandstuff commented on #19395
A different workaround from using the annotation: call cluster autoscaler with `--skip-nodes-with-local-storage=false`.  This causes the cluster autoscaler to ignore HostPath and EmptyDir for determining which pods are evictable.  (You should check if this is appropriate for your workloads before blindly applying it.)

This is IMO preferable because there may be other reasons that a particular ist

[2020-02-19 17:05] haf commented on #20454
@howardjohn Sorry, that came out wrong. I edited the message a couple of seconds later, but by then it was too late :(

[2020-02-19 17:06] howardjohn commented on #20454
I tried to set up a private cluster and things seem to work ok, I can't get it to fail. Firewall rules show only port 15020,443 have access. Any ideas?

[2020-02-19 17:06] howardjohn commented on #20454
If not, it would be helpful if you could show me the output of `kubectl get --raw https://172.16.0.34/api/v1/namespaces/istio-system/services/https:istio-galley:https-validation/proxy/ready -v9`. Replace the ip with your cluster ip which can be found with `kubectl cluster-info`

[2020-02-19 17:13] haf commented on #20454
I can give you a repro in the form of a Terraform file:

[code]

[2020-02-19 17:14] haf commented on #20454
Do you mean, when I do not have the firewall rule enabled?

[2020-02-19 17:14] cpick commented on #18501
I believe this is the same as https://github.com/istio/istio/issues/19165

[2020-02-19 17:16] howardjohn commented on #20454
Yes, I am trying to see if that command fails when the cluster is not configured correctly. Right now it succeeds (200 code), but everything is working for some reason, so I must have set it up wrong. I am hoping that command will fail, then we can have a check that runs that command during analyze (or maybe even before install)

[2020-02-19 17:20] haf commented on #20454
I'll loop back around to this once I've sorted out the ingresses that I commented a lot in today... I need to get this app working with Istio ingress, or I have to revert back to nginx for the second time.

[2020-02-19 17:33] howardjohn commented on #20454
Ill try out the terraform, someone else with this same problem was using terraform so maybe its doing something slightly different then what I did with `gcloud` commands. Thanks

[2020-02-19 17:39] nmnellis commented on #20640
related https://github.com/istio/istio/issues/19549

[2020-02-19 17:41] stewartbutler commented on #14327
@marshallford Thanks for reporting in! Can you please open up a new issue and assign it to me? This issue is getting a bit overloaded, so I'd like to separate it out, that way I can keep track of it while you are investigating the k3s angle.

[2020-02-19 18:05] nmnellis opened #21271 "EnvoyFilter workloadSelector not scoping to namespaces"
**Bug description**

EnvoyFilter workloadSelector lables does not scope the filter to its provided namespace, instead its applied to every namespace with the matching labels. I do not have any filters deployed in istio-system. I verified that filters were being applied via `istioctl proxy-config listeners`

[code]

seeing the filter from each namespace showing up in every pod
[code]

**Expected be

[2020-02-19 18:30] howardjohn commented on #20454
Ok I am pretty sure I got this working now, the above command fails on a private cluster where the webhook fails

[2020-02-19 18:36] anoopwebs commented on #7361
@vadimeisenbergibm trying to set up egress rules for external services similar to https://github.com/istio/istio/issues/7361#issuecomment-407720960 (Direct the egress traffic thru the egress gateway with disabled mtls) but that generates pilot outbound listener conflict
[code]
Any suggestion to resolve that conflict?
Istio version 1.4.4

[2020-02-19 18:38] ostromart opened #21272 "Update manifest only install of operator"
The istio.io hosted yaml is broken/out of date and needs to be updated (see operator/data/operator) for the new templates that can be used as a reference.
Long term we should also figure out a place to put this yaml and some more automated way of maintaining it.

[2020-02-19 19:02] bianpengyuan opened #21273 "Deflake proxy tsan/asan test"
**Bug description**
With frequent xds updates, Istio proxy tsan test is very flaky, which does not bring any actual value. Example runs:
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_proxy/2685/test-tsan_proxy/392
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_proxy/2687/test-tsan_proxy/393
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_proxy/2687/test-ts

[2020-02-19 19:10] #21165 closed

[2020-02-19 19:13] howardjohn commented on #20454
to keep myself from getting confused, I think we should de-dupe this issue with https://github.com/istio/istio/issues/19532. I'll continue investigation into this. Current status is we can likely make an analyzer to check this, if there are better suggestions to expose this info let me know

[2020-02-19 19:13] #20454 closed

[2020-02-19 19:13] howardjohn commented on #19532
Bringing discussion over from https://github.com/istio/istio/issues/20454. I have a method to reliably detect this: `kubectl get --raw /api/v1/namespaces/istio-system/services/https:istio-galley:https-validation/proxy/ready -v9 --request-timeout=2s`. The next step is finding out how to expose this (possibly under `istioctl analyze`)

[2020-02-19 19:19] ayj commented on #19532
This could be a good candidate for `istioctl precheck` (see https://docs.google.com/document/d/1x7eFR7e7yw_M1KB0ds5XUQPqai7HeSlnNEUyq8dpFeI/edit).

cc @esnible @irisdingbj

[2020-02-19 19:23] howardjohn commented on #19532
We need some target on the correct port (9443/15017) though, which
generally means after the install has completed. Any ideas to get around
that? I agree in principle though, if we can do it pre-install that is even
better

On Wed, Feb 19, 2020 at 11:19 AM Jason Young <notifications@github.com>
wrote:

[2020-02-19 19:39] ayj commented on #19532
Good point. I think we'd need to install a test service/pod to verify pre-install. Another option would be to add this to a post-install check (e.g. verify-install).

[2020-02-19 19:39] howardjohn commented on #19532
Another -1 for `analyze`: `services/proxy` is not currently granted to istiod/galley. This is basically root access so we probably don't want to grant it

[2020-02-19 19:39] howardjohn commented on #19532
If we have a post-install check that is perfect

[2020-02-19 19:39] jasonwzm commented on #19532
Also the current scope of `istioctl analyze` is static configs.

[2020-02-19 19:42] towens commented on #21266
@rlenglet @lambdai looks like @cmanzi already filed the same.

[code]

**Expected behavior**
Pod initializes.

**Steps to reproduce the bug**
This is a test cluster we used the sample certs from the release.

**istioctl version**
[code]

**kubectl version**
[code]

[code]

`istioctl manifest apply -f "${OVERRIDE}"`

**Where the override is the following**
[code]
This is run after. Multi cluster, r

[2020-02-19 19:48] Nino-K commented on #18625
Going to close this as it is no longer relevant: https://github.com/istio/istio/pull/21154

[2020-02-19 19:48] #18625 closed

[2020-02-19 19:50] howardjohn commented on #19532
verify-install looks like a pre-check, not a postcheck. there is also `post-install` for managing webhooks. Are we going to add a new postcheck or something? The doc linked was also about pre-checking

[2020-02-19 19:53] rlenglet commented on #21266
@towens can you confirm that the init container exits after 5 minutes (300 seconds)? That's the timeout hardcoded in the implementation.

@lambdai I suspect that this timeout should be shortened. There is no reason to have a timeout longer than a few seconds. And there is no need to retry connecting (cf. [the infinite loop](https://github.com/istio/istio/blob/1.4.5/tools/istio-iptables/pkg/validat

[2020-02-19 20:02] nmnellis commented on #21271
upgrading to the new filter config worked
[code]

[2020-02-19 20:02] #21271 closed

[2020-02-19 20:05] towens commented on #21266
@rlenglet Not really :) it looks like it restarts the process.

[code]

[code]

[2020-02-19 20:25] rlenglet commented on #21266
Yes, when an init container exits, it only results in kubelet restarting that same container, not the pod. So you confirmed that the init container exits after a few minutes every time. The increased delay is due to the backoff.
So the init container seems to work as intended.

[2020-02-19 20:26] rlenglet commented on #21266
I still think it would be good to reduce the timeout. There shouldn't be a need to retry within the validation code, and 5 minutes is too long. It only delays the time when the repair controller can detect and kill this pod.

[2020-02-19 20:33] rlenglet commented on #21266
Now the real question is: why didn't the repair daemonset detect that this init container failed validation and kill this pod? 56~60 minutes is too long.
@towens please confirm that the `istio-cni-node` daemonset is running on that node and is ready.
Please confirm that the `istio-cni-node` contains a `repair-cni` container. If that's not the case, you should enable it: https://github.com/istio/in

[2020-02-19 20:49] #21230 closed

[2020-02-19 20:56] brian-avery opened #21277 "istioctl wait broken on 1.5.0-beta.2"
**Bug description**
On the 1.5.0-beta.2 version of Istio/istioctl, calling `istioctl experimental wait` repeatedly times out. Looking in the istiod logs, I see messages similar to:

` Unable to retrieve resource VirtualService/default/bookinfo at version 12559129-4b8: config distribution status not supported on multiple configSources
`

I tried with other VirtualHosts and encountered the same issu

[2020-02-19 20:57] howardjohn commented on #21266
The repair daemonset was not enable by default on 1.4. Its just labeling pods, not killing them

[2020-02-19 20:58] howardjohn commented on #21266
Well that was my understanding at least... based on the link maybe that is not correct

[2020-02-19 20:59] howardjohn commented on #21264
This is working as intended: https://istio.io/blog/2019/trustworthy-jwt-sds/

The decision was made to only support 3p jwt token in SDS at the time. When we decided to make SDS the default we realized that would not work since not everything supports it. But that doesn't mean we need to backport this to the old helm install where SDS is off by default and Alpha

[2020-02-19 21:12] brian-avery commented on #20771
Note that there currently seems to be issues with `istioctl experimental wait` on 1.5. I created an issue here to track it: https://github.com/istio/istio/issues/21277

[2020-02-19 21:15] brian-avery commented on #20359
Looking at the test run history, this test has been pretty stable for a while. @howardjohn is this ok to close now?

[2020-02-19 22:00] rlenglet commented on #21266
@howardjohn ah, you're right. Then the system seems to be working as intended.

[2020-02-19 22:00] rlenglet commented on #21266
@towens Did you observe this on a newly started node?

[2020-02-19 22:14] myidpt opened #21279 "Add integration tests for istio agent SDS and cert rotation"
**Describe the feature request**
I'm not seeing istio agent SDS integration tests in this directory:
https://github.com/istio/istio/tree/master/tests/integration/security
In particular, about the cert rotation. We need to add them.

**Describe alternatives you've considered**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and

[2020-02-19 22:23] therealmitchconnors commented on #21186
Is this on Istio 1.5?  Which build, and what sort of perf scenario was being run?

[2020-02-19 22:26] ostromart commented on #21248
I suppose one workaround would be to remove those from the prune whitelist. I think that is fine for Endpoints which we will always manage in the code but I'm less sure about the webhook config - there's a good chance that we should prune that in some situations. Thoughts @ayj?

[2020-02-19 22:27] howardjohn commented on #21186
This was 1.4.5. I have 15 namespaces and each one I change a virtual service every 10s or so. I ran it for maybe a week

[2020-02-19 22:31] douglas-reid commented on #20538
@Stono. i'm working on something today. With any luck, i'll be able to point you to a workaround for the outbound issue soon.

[2020-02-19 22:32] Jefle2005 opened #21280 "Sticky session using consistentHash (JSESSIONID cookie) not work as expected"
**Bug description**
i'm using bleow DestinationRule to configure session sticky based on JSESSIONID cookie. I found it actually will add a new cookie JSESSIONID but our application tomcat will set such cookie too. so situation is now we have 2 JSESSIONID in the cookie which is still okay. but in our code logic some edge case it relies on this cookie, so if there are 2 cookies with same name, we do

[2020-02-19 22:34] btoonk opened #21281 "remote profile is broken on 1.5.0-beta.2"
**Bug description**
When installing the istio 1.5.0-beta.2 release with the remote profile the only thing thats installed is the istio-ingressgateway. No istiod or citadel/sidecar-injector is deployed.

In the file install/kubernetes/operator/profiles/remote.yaml all the components (except ingressGateways) are disabled (also with istioctl profile dump remote or istioctl manifest generate --set pro

[2020-02-19 22:35] towens commented on #21266
Was pulled away, taking a look now.

[2020-02-19 22:37] ayj commented on #21248
We should prune the webhook config if the corresponding feature is disabled (validation and injection).

It would also be useful to prune as part of uninstall but I don't think that is in scope for this issue.

Something else to consider is the validation webhook endpoint temporarily becoming unavailable during an upgrade (e.g. because of pruning). It would be great if istioctl could help here. Fo

[2020-02-19 22:40] ostromart commented on #21212
I'd like to add the following:
- [ ] Heavily prune back all the golden file outputs to retain only the resources relevant to the particular test.
- [ ] Take a hard look at the controller framework (pkg/controller & helmreconciler) and see if we still need it because it introduces a lot of code and makes the flow harder to follow.
- [ ] Take another stab at cleaning up the hacks we have in Go struc

[2020-02-19 22:42] ostromart commented on #21155
https://github.com/istio/istio/pull/21169

[2020-02-19 22:46] therealmitchconnors commented on #21186
ok, thanks, will investigate...

were you by chance using one of the reproducible scenarios in the tools repo?  I'd like to try and attach a debugger to investigate.

[2020-02-19 22:48] howardjohn commented on #21186
Yeah I just had 15 instances of the `load` test

[2020-02-19 23:09] #21155 closed

[2020-02-19 23:42] ostromart opened #21286 "go-client API server transaction rate should be increased"
The initial deployment is still quite slow, about 30s. There's no reason that object adds/updates can't be sent faster to the API server; how long the API server takes is not in our control but at least our operator controller will appear more responsive.
A naive increase in kube config for QPS 5->50 and Burst 10->100 doesn't improve performance so either some different setting is required or API

[2020-02-19 23:44] ostromart commented on #20207
fixed in https://github.com/istio/istio/pull/21075.

[2020-02-19 23:44] #20207 closed

[2020-02-19 23:49] #21037 closed

[2020-02-19 23:49] richardwxn commented on #20171
updated the manifest migrate command based on new API and updated the schema proto, which should fix the issue mentioned in the thread

[2020-02-19 23:49] #20171 closed

[2020-02-19 23:50] #18839 closed

[2020-02-19 23:51] richardwxn commented on #19149
change merged: https://github.com/istio/istio/pull/20542

[2020-02-19 23:51] #19149 closed

[2020-02-19 23:51] howardjohn commented on #21222
Things to move to mesh config:
* logLevel
* componentLogLevel (we can merge this into one field if we are ok with some post-processing, such that something like `info` is passed to envoy as -l but `http:info` as `componentLogLevel`)
* NO: cluster domain - I think this is the same trust domain
* statusPort
* stsPort

Things to remove:
* `--serviceCluster` can be determined in agent code from labels

[2020-02-19 23:57] ostromart commented on #21152
to expand on this, the doc generation plugin is not working correctly. the proto header looks correct and protoc is outputting the right go structs, but the docs header is not being generated in the plugin.

[2020-02-19 23:57] #19517 closed

[2020-02-20 00:06] ostromart commented on #21286
https://github.com/istio/istio/pull/21288/files didn't work.

[2020-02-20 00:21] carolynhu opened #21289 "istio/tools: perf test label exceeds the maximum length"
Currently some of our perf benchmark test label exceeds the maximum length. Therefore there are some usefule information are missing
like: `13:21:04 I http_server.go:394> Data: GET /data/2020-02-20-114432_98268535_qps_1000_c_2_1024_v2_nullvm_serveronl.json HTTP/1.1 127.0.0.1:58060 ()
`
here, the file name misses `y`.

[2020-02-20 00:52] towens commented on #21266
Started rolling the nodes hit an AWS account limit.

The only Istio related label on those pods is presently `security.istio.io/tlsMode=istio`

I'll check the `istio-cni-node` daemonset and update the override to include

[code]

Thanks for the links.

[2020-02-20 01:13] lambdai commented on #21266
The validation works as expected. As a lower priority, cherry picking the configurable timeout to 1.4

@towens Let's see if the repair label works

[2020-02-20 01:22] zhangxingdeppon opened #21291 "How can I monitor the service's frequency or called total numbers of the Circuit Breaking and Rate limit that service access entry is ingressgateway?"
**Describe the feature request**
Hi, buddies, I  want to monitor the service's frequency of  the Circuit Breaking and Rate Limits about service. how can I get it?  which metric I can search the service's frequency or called total numbers of  the Circuit Breaking and Rate limit?   I have checked the the stats of istio-ingressgateway, but no relevant information about it,
through the official docume

[2020-02-20 02:05] zhangxingdeppon commented on #21291
@bianpengyuan  could you give me some ideas?  I think you maybe good at it,  thank you very much.

[2020-02-20 03:12] howardjohn commented on #20936
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/1499 this seems to fail with the wait still

[2020-02-20 03:45] morvencao commented on #21248
@ostromart You mean remove endpoint GVK from prune list: https://github.com/istio/istio/blob/master/operator/pkg/controller/istiocontrolplane/pruningdetails.go#L75
I'm afraid that would not be working, since we have some other endpoint resources create by operator directly, see: https://github.com/istio/istio/blob/master/manifests/base/templates/endpoints.yaml
If we remove its GVK, these created e

[2020-02-20 04:46] howardjohn commented on #21153
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/21293/unit-tests_istio/8861

[2020-02-20 05:00] #12823 closed

[2020-02-20 05:01] #15494 closed

[2020-02-20 05:01] #15853 closed

[2020-02-20 05:02] #15863 closed

[2020-02-20 05:02] #16129 closed

[2020-02-20 05:04] #18105 closed

[2020-02-20 05:47] balamuru commented on #20661
Okay @JimmyCYJ . I tried the file mount approach and I still have the 404 issue with the 2nd gateway configured . This only happens **IF I configure the host field in the gateway and virtual service to a full wildcard (*) ** .

Does Istio even support this configuration. It seems common enough i.e. The server side should be able to accept requests from potentially any client  (wildcarded) while al

[2020-02-20 06:26] xichengliudui commented on #21018
@ayj
Thanks for your reply. I have fixed this problem according to your reply.
[code]
But it doesn't forward traffic to v2 anyway do you know why? neither cluster1 nor cluster2 could forward traffic to the helloworld sample v2
[code]

[2020-02-20 07:15] LSChyi opened #21301 "Rate-Limiting policy is leaking traffic (344% more requests than expected)"
**Bug description**
With the example book-info and a custom load generator (traffic produced with [Vegeta](https://github.com/tsenart/vegeta/blob/master/README.md)), the rate-limiting does not work as expected and causes leakage.

**Expected behavior**
Rate-limiting should return 429 to those with no available quota requests.

**Steps to reproduce the bug**
1. Deploy a `maxAmount: 10` policy with

[2020-02-20 07:17] xichengliudui commented on #21018
go to `cluster1 sleep pod` for execution
[code]
go to `cluster2 sleep pod` for execution
[code]
`10.96.95.243` is a cluster ip，i wonder if there is an error in DNS mapping, or the pilot doesn't issue rules?

[2020-02-20 07:25] ydh926 opened #21302 "VirtualService priority for gateway proxy"
**Describe the feature request**
VirtualService priority for gateway proxy.

**Describe alternatives you've considered**
For the gateway, there may be multiple vs rules. When the effective conditions overlap, it is difficult for users to control which one takes effect. Consider the following example:
[code]
[code]
When ‘qatest / 100’ request come, routing behavior becomes unpredictable.

We can co

[2020-02-20 07:51] gargnupur commented on #20802
Fixed in istio release-1.5. Verified using test
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/21303/integ-telemetry-k8s-tests_istio_release-1.5/370
istio_tcp_connections_opened_total{app="mongodb", connection_security_policy="MUTUAL_TLS", destination_app="mongodb", destination_canonical_service="unknown", destination_port="0", destination_principal="spiffe://cluster.local/ns/i

[2020-02-20 09:07] vadimeisenbergibm commented on #20161
@howardjohn

The Istio-specific part about the ExternalName services is documented in the task:

While this Istio-specific part is small, the existing task and the test to be written, will show how to demonstrate that Istio does not break the ExternalName services. The goal of the example is as follows: suppose some users will claim that Istio breaks their ExternalName services. You can point the

[2020-02-20 09:10] haf commented on #19532
@ayj Can you please make sure design docs are public, if you link to them as a foundation for future work here? :)

[2020-02-20 09:48] towens commented on #21266
Hi,

Here is the updated section of the override.
[code]

[code]

This [Install Istio with the Istio CNI plugin](https://istio.io/docs/setup/additional-setup/cni/) doesn't say anything about `kops`  which may not be a problem at all, it is what we're using. The same document says that the CNI is chained.

The networking portion of the template looks like
[code]
Is it possible the prerequisites for

[2020-02-20 10:19] mkoppanen commented on #20566
This script looks broken in 1.4.5 (installed via debian package).

Symptoms look like the script doesn't make it to the line where it would actually start the envoy proxy. I'll debug further in the next days and report back.

[2020-02-20 10:22] emike922 opened #21308 "Pod creation failure when using global SDS together with sidecar userVolume annotation"
**Bug description**
The injection-template.yaml does not add user volumes from the sidecar.istio.io/userVolume annotation to sidecar containers if global.sds.enabled is set to false. User volumeMounts defined by the sidecar.istio.io/userVolumeMount annotation, on the other hand, are being added to the containers regardless of global.sds.enabled.
This can result in Pod creation failures when user v

[2020-02-20 10:55] dgn commented on #20995
Tbh I don't think we'll require code changes as this works with istioctl -- because of this, I think the issue can be solved in the charts.

[2020-02-20 12:30] x4d3 commented on #10543
We have the same request.

[2020-02-20 13:21] estei commented on #21187
@vflopes If you still havent found out how to get the servicemonitors installed via istioctl.

After some sleuthing around in the source, I got it running, by enabling it in my manifest file.

[code]

Then I had to run istioctl with `--force` to make it ignore the unrecognized setting.
@Norbo11 `--force` should also be the key for you to move on I think, together with an `enabled: true`

[code]
I

[2020-02-20 13:58] cmanzi commented on #21266
To provide some more information:
- This pod that couldn't initialize was running on a node where istio-cni was already up and functioning for other pods (shouldn't the validator have succeeded then?)
- I was running the validator with 'delete pods' set to 'true'
- I tried manually deleting the pod after it was crashing for 5 minutes or so, same effect when it was recreated.
I've since disabled is

[2020-02-20 14:10] AlbertasG commented on #20856
@rodalli

So previously when i tested the "outside of Cluster" nginx it was 3rd party service with mTLS.
I've tried to follow the steps with nginx mTLS on GCP separate compute instance and it worked fine.

I still see that CDS are STALE, but RDS are SYNCED for sleep pods.

[code]

I tried to adjust the same config to 3rd party service again, and it did not work.

First hidden issue:

`sleep` conta

[2020-02-20 14:28] abhir26 commented on #17613
Could it be because of the _retryHostPredicate_ `envoy.retry_host_predicates.previous_hosts`? From looking at the envoy docs
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/http_connection_management#arch-overview-http-retry-plugins:
```envoy.retry_host_predicates.previous_hosts: This will keep track of previously attempted hosts, and rejects hosts that have already been attem

[2020-02-20 15:06] howardjohn commented on #20161
Is the purpose of our docs to prove we don't break kubernetes features or to guide users to best practices? The doc is strongly implying external name is a suggested way to set up external traffic, which is quite the opposite - I would actively suggest against it. We can keep the doc but can we re word it a bit?

[2020-02-20 15:14] esnible commented on #21236
I suspect this is related to https://github.com/istio/istio/issues/20714 .  I will research it.

[2020-02-20 15:18] esnible commented on #20730
I did some quick-and-dirty performance measurements, passing the output of `manifest generate` to `kubectl --dry-run` and `kubectl --server-dry-run`.  I was surprised that having the server validate added 30 seconds of realtime.  Having `kubectl` validate added only 6 seconds, but it didn't catch my silly imagePullPolicy example.

Checking for valid values in fields such as imagePullPolicy isn't p

[2020-02-20 15:52] cmanzi opened #21312 "SDS: control plane still relies upon istio-certs secrets"
**Bug description**
Perhaps this is a misunderstanding on my part, but I was under the impression that when operating with SDS enabled, no components should require the TLS cert secrets generated by Citadel (as they simply request them from Citadel).

However, the default deployment of Istio 1.4.5 (Helm) still includes these optional volumes, and Citadel is still configured to issue secrets (no --

[2020-02-20 16:06] xeviknal commented on #19076
@yangminzhu I see this task is marked as stale. Are you going to implement it? I will have some space in the following weeks to approach it. wdyt?

[2020-02-20 16:14] vadimeisenbergibm commented on #20161
@howardjohn Sure, let's reword it. We can write something like: "If you have legacy Kubernetes ExternalName services... the recommended way is to use Istio service entries"

[2020-02-20 16:16] howardjohn commented on #21236
Yeah it should be the same issue or at least same root cause of changing API in envoy

[2020-02-20 16:19] howardjohn commented on #20161
SGTM

On Thu, Feb 20, 2020 at 8:15 AM Vadim Eisenberg <notifications@github.com>
wrote:

[2020-02-20 16:32] howardjohn commented on #21302
@hzxuzhonghu does delegation address this?

[2020-02-20 16:34] iusergii commented on #15411
Also would like to deprecate our existing Ingress Controller in favour of istio-ingressgateway. And even 3rd party apps (Kialy, Grafana, Prometheus) from Istio demo profile have only Ingress Objects.
Looking for good way for exposing this externally with Istio 0bjects.

[2020-02-20 17:03] haf commented on #20589
This is due to cert-manager disabling Istio's sidecar on the HTTP resolver, see https://github.com/istio/istio/issues/20680#issuecomment-588124135

[2020-02-20 17:10] haf commented on #20680
Update: so it DOES NOT get the cert since it's a TLS type cert; converting the secret to a generic secret, with a `cert` (not `tls.crt` as is the default) and a `key` (not `tls.key` as is the default), *and* placing it in `istio-system` makes it work (as opposed to placing the secret in the actual namespace I've deployed the service in, which would be the sane solution)... I'll file bugs about thi

[2020-02-20 17:17] howardjohn opened #21314 "operator: pilot k8s overlays have no impact"
[code]

has no impact

This is probably due to the istiod rename?

[2020-02-20 17:44] howardjohn opened #21316 "Low cert TTL has large impact on proxy CPU usage"
![2020-20-02_09-38-51](https://user-images.githubusercontent.com/623453/74962485-d88c7300-53c4-11ea-88f2-abc4da95e3aa.png)

Cluster wide CPUs on proxy went from 28 -> 36 after I dropped TTL down to 1 min for certs. Obviously this is excessively low, but the extra CPU usage seems larger than expected.

@myidpt not closing the SDS connection may help here?

[2020-02-20 18:02] lambdai commented on #21266
@cmanzi istio-cni is not working correctly until a grace period after calico cni is ready. The race condition is not well resolved so the validation is introduced.
Only istio-cni knows if itself is working correctly. Another strong signal is that other istio-injected-pod on the same kubernetes node was proved working.

You mentioned other pods on that node are ready before you deleted the crashing

[2020-02-20 18:05] adurai81 opened #21317 "error: timed out waiting for the condition on jobs/istio-init-crd-10-1.3.0"
**Bug description**
Intermittently we see istio installation fails due to CRDs not getting initialized in time.

**Expected behavior**
Istio installation should go through without any issues.

**Steps to reproduce the bug**
See istio installation section below.

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

kubectl versio

[2020-02-20 18:53] lambdai commented on #19925
Do we all agree there is no solid leak? There was a peak heap usage but eventually envoy return the memory to malloc.
I can see 2 problems here:
1. tcmalloc doesn't return to OS. It's a known issue at low priority. It hurts us many times so I will take it.
2. Envoy doesn't protect itself when pilot floods new configs. What envoy is doing is execute the update one by one, as fast as envoy can. In t

[2020-02-20 19:03] duderino commented on #18090
Considering control plane security will be removed in Istio 1.5.0, which will be release in a few weeks, and considering the change to the default settings for Istio 1.4.x is considered risky for a patch release, I think we're going to leave this one alone, but hope that the details in this issue steer anyone experiencing the problem to the ```global.controlPlaneSecurityEnabled=false``` fix.

@Sto

[2020-02-20 19:05] jacob-delgado commented on #20494
Can you assign me to this issue @brian-avery? I signed up for it on the community testing sheet

[2020-02-20 19:11] Stono commented on #19925
Yeah i'm not sure it's a leak per-se, but having an istio-proxy that goes from 60mb to 500mb in a moment (and never goes back) is a huge problem for many operators.  Too many of those on a multi-tenant node and your node goes pop!

[2020-02-20 19:12] Stono commented on #18090
sounds reasonable to me!
Shall i close the issue?

[2020-02-20 19:12] ayj commented on #19532
@haf - all of Istio's docs are in a shared Google drive. You can get access by joining the [istio-team-drive-access@](https://groups.google.com/forum/#!forum/istio-team-drive-access) group. Joining is instant and no approval is required.

[2020-02-20 19:17] lambdai commented on #17613
@Stono The original issue is pretty old.
Is the virtual-service setting the retryOn show up bring up your expected retry? If so we can close this issue

[2020-02-20 19:18] Stono commented on #17613
Yeah seems OK now, will close

[2020-02-20 19:18] #17613 closed

[2020-02-20 19:18] jacob-delgado commented on #17535
All work has been completed. It is now in 1.5 and istio 1.4.4.

[2020-02-20 19:19] fpesce commented on #21239
@howardjohn seeeing you're reopenning that one, is it correct to consider https://github.com/istio/istio/pull/21300 to address this in 1.5 ?

[2020-02-20 19:20] lambdai commented on #17613
@abhir26 Thank you for bring it up. I wasn't aware of this config. Luckily that one didn't bite us this time

[2020-02-20 19:21] Fryuni commented on #9784
We are the opposite of @AceHack, we already have Zookeeper and Kafka and this issue makes us fearful of adding Istio.

[2020-02-20 19:23] howardjohn commented on #21239
Yes please merge it, but its not entirely fixed yet. That fixes one aspect of this. The cert rotates but the SDS connection is broken every time it rotates. I think this has a large perf impact on envoy

[2020-02-20 19:23] yangminzhu commented on #19076
@xeviknal Sure, feel free to go ahead to send out PRs, I will not have time to work on it recently. Thank you very much for helping on this!

[2020-02-20 19:26] lambdai commented on #18300
@fcantournet Thank you for the sharing.
Close this since istio-ingressgateway could solve it with simple config now.

[2020-02-20 19:26] #18300 closed

[2020-02-20 19:54] camattin commented on #16458
I need to +1 this issue.

Specifically what we are seeing in our environment is whenever there is a service of type http defined anywhere in the mesh then you cannot access anything outside the mesh on that same port when it is TLS.

As an example our outbound proxies listen on port 8080 which many services in the mesh like to listen on as well. And those services are correctly named as http-<what

[2020-02-20 20:01] duderino commented on #18090
let's keep it open until it ages out.  I think it'll be easier to discover

[2020-02-20 20:11] richardwxn commented on #21152
@jasonwzm Do you have any idea why the location tag would not be generated in the html file only for operator proto? I looked at the htmlGenerator's code and didn't find anything suspicious.

[2020-02-20 20:34] balamuru commented on #20760
I'm think the issue  is related to this https://github.com/istio/istio/issues/19799 . It hasn't been fixed in 1.4.5 . I'm guessing the fix is projected for 1.5

[2020-02-20 20:52] jshaughn opened #21324 "Istio 1.5 telem not setting canonical_service metric fields"
Using 2/20/20 dev build istio-1.5-alpha.c086a1cc8247d22c0778ba8f40ad95cf6797b0e2 on OpenShift 4.3.

It looks like the proxy is not getting passed down the expected labels from the pod.  Using bookinfo I can inspect the details-v1 pod (get pod <pod> -o yaml) and see:

[code]

but looking at the proxy config (istioctl proxy-config bootstrap <same-pod>) I see:

[code]

This is likely why I get only "

[2020-02-20 20:54] esnible commented on #21249
Does `istioctl x describe pod` help with this problem?

It is not the same as analyze, and it does not take two pods, but let me know if it is close to what you need.

[2020-02-20 20:56] esnible commented on #21214
Closing as a duplicate of https://github.com/istio/istio/issues/19735 .

[2020-02-20 20:56] #21214 closed

[2020-02-20 20:59] esnible commented on #19735
I left this comment at https://github.com/kubernetes/kubernetes/issues/86739#issuecomment-585830624 but will repeat it here.

The problem is in either the gogo/protobuf library or the apimachinery library.  It can be reproduced with this short code:

[code]

Is `protobuf:"-"` a valid tag?  If so, fix https://github.com/gogo/protobuf/blob/master/proto/properties.go#L368 so that it ignores `"-"` the

[2020-02-20 21:06] duderino commented on #9784
@Fryuni I had a chat with @howardjohn who fixed this.  We think this really is fixed but we haven't tested with Zookeeper or Kafka and don't have the bandwidth.  So there's a testing gap there, but if you try it and find any issues, report them here and we'll fix them.

[2020-02-20 21:08] esnible commented on #21265
@istio/wg-networking-maintainers Currently the analyze framework doesn't have any rules for EnvoyFilter.  Is there someone on the Networking team who either wants to work with me to produce either an admission webhook or analysis warning/info message for this problem?

[2020-02-20 21:14] howardjohn commented on #21265
I really don't think its feasible to attempt to implement the XDS spec as an analyzer. The API is break glass, if you use it wrong that is the users fault. Its not intended to be easy to use or prevent you from shooting yourself in the foot.

That error message is coming directly from Envoy, right? We should just send bad config to envoy (as we do today) and the user can monitor the appropriate me

[2020-02-20 21:15] howardjohn commented on #21265
I really don't think its feasible to attempt to implement the XDS spec as an analyzer. The API is break glass, if you use it wrong that is the users fault. Its not intended to be easy to use or prevent you from shooting yourself in the foot.

That error message is coming directly from Envoy, right? We should just send bad config to envoy (as we do today) and the user can monitor the appropriate me

[2020-02-20 21:16] balamuru commented on #14039
What's the roadmap for SDS vs volume mount support in later releases of Istio 1.4.x and Istio 1.5 and beyond ?

I'd like to adopt SDS but encounter issues like  not being able to install egress-gateway if using SDS on the ingress-gateway.

[2020-02-20 21:17] kyessenov commented on #21265
It's not clear whether we should promote this API to beta or stable.
There are proposals to make it more usable (e.g. https://github.com/istio/api/pull/1221)

[2020-02-20 21:17] brian-avery commented on #20494
Done. Thanks for picking this up!

[2020-02-20 21:26] esnible commented on #21265
@kyessenov There is nothing in https://preliminary.istio.io/docs/reference/config/networking/envoy-filter/ suggesting that EnvoyFilter is experimental, other than `v1alpha3` in the `apiVersion` in the YAML example.  If EnvoyFilter is not on the path to becoming beta should we include a warning in the docs?

@howardjohn We created `istioctl analyze` because users were not figuring out how to monito

[2020-02-20 21:27] howardjohn commented on #16458
There is not any mitigation that I know of right now other than:
* only sending TLS traffic on port 443 (I agree this is not good - just the way things are right now)
* creating service entries

[2020-02-20 21:38] #19500 closed

[2020-02-20 21:39] richardwxn commented on #19501
fixed in master and 1.5 already

[2020-02-20 21:39] #19501 closed

[2020-02-20 21:39] #20032 closed

[2020-02-20 21:42] dansiviter commented on #21265
From a user's perspective, I get that it's not possible to capture all the possible permutations, especially as it's effectively a 3rd party tool. However, if was made easier to find the root cause then we (users) wouldn't waste two man days trying to figure out why Envoy config just disappears. Therefore, exposing the underlying error would be a helpful.

[2020-02-20 21:43] howardjohn commented on #21265
Better exposing Envoy errors is a great idea, I just don't think its feasible to try to look at EnvoyFilters and try to determine if they are valid or not.

[2020-02-20 21:44] kyessenov commented on #21265
@esnible Yes, a warning is needed I think, but I am not an owner of the networking APIs.

[2020-02-20 21:49] #21236 closed

[2020-02-20 21:52] camattin commented on #19939
We have not been able to test this without istio-cni, but we can confirm this bug exists as the OP state. We must do the annotation for this to be functional.

[2020-02-20 22:54] Stono commented on #20538
Here's a really dirty prometheus relabel hack which works around this for me:

[code]

[2020-02-20 23:00] dhermes commented on #14551
I can echo what @howardjohn said. This is "easy" to reproduce by just creating an ingress gateway without any `Gateway` / `VirtualService` associated. Routes **have to** be `NOT SENT` if there are no routes to send.

[2020-02-20 23:46] howardjohn commented on #21316
I will investigate if https://github.com/istio/istio/pull/21330 impacts this. and I will drop down to 10m TTL which is less excessively low