[2019-02-19 19:04] kyessenov commented on #8444
@BarDweller

This is a new feature in 1.1, which is not yet released. There is a development guide https://github.com/istio/istio/wiki/Route-directive-adapter-development-guide. @theganyo has been interested in this feature, so he might be able to share some code (if it's open source). We have tested changes routes if you change the host/authority (as long as it is same port on the host), and/or U

[2019-02-19 19:10] munrodg commented on #11818
@costinm setting to P1, do you think this needs to be a P0.

[2019-02-19 19:12] costinm commented on #9043
Last tests from Mandar seem to confirm this is no longer a problem, as long as Isolation (Sidecar crd) is used.

[2019-02-19 19:12] #9043 closed

[2019-02-19 19:12] munrodg commented on #11826
@esnible Can you pick this one up?

[2019-02-19 19:14] costinm commented on #11458
Support using envoy built-in overrides merged.

If additional support is needed please reopen.

[2019-02-19 19:14] #11458 closed

[2019-02-19 19:14] kyessenov commented on #11819
cc @mandarjog @douglas-reid

This appears to be due to how connections are established:
1. Mixer creates a handler per config update.
2. A handler dials to remote adapter once (a TCP connection to route h2 over).
3. All requests flow over this connection.

This implies that Mixer balances load only on failure/config change. We can try one of the following alternatives to improve the situation:
1.

[2019-02-19 19:15] costinm commented on #9240
Fixed in 1.1

[2019-02-19 19:15] #9240 closed

[2019-02-19 19:16] costinm commented on #11235
Fixed in 1.1

[2019-02-19 19:16] #11235 closed

[2019-02-19 19:20] munrodg commented on #7136
@luksa Set to P1 to address remaining CNI issues #11366

[2019-02-19 19:25] munrodg commented on #11759
Working as intended.  Will document behavior.

[2019-02-19 19:25] #11759 closed

[2019-02-19 19:34] howardjohn commented on #11700
Looking at the failing tests, one thing I have seen in common is often we are failing to connect to the kubernetes cluster. [Example on line 1068](https://storage.googleapis.com/istio-prow/logs/istio-pilot-e2e-envoyv2-v1alpha3-k8s-latest/832/build-log.txt):

[code]

It looks like this results in things not being cleaned up. Maybe this is affecting later tests.

[2019-02-19 19:46] howardjohn commented on #11789
Possibly related: I suspect, but haven't verified, that `statsd` will never be set here:

https://github.com/istio/istio/blob/ee867e932bd5be1fc33da583233448bc58a59b93/tools/deb/envoy_bootstrap_v2.json#L288-L300

[2019-02-19 20:12] Stono commented on #11498
@ymesika just reading this, are you saying we don't need to specify the webSocketUpgrade value any more (i'm on 1.0.6)

[2019-02-19 20:15] incfly opened #11854 "sidecar.istio.io/inject does not work"
**Describe the bug**
- Deploy Istio, label default namespace `sidecar-inject=enabled`.
- Annotate the Deployment with `sidecar.istio.io/inject: false`
- Deploy workload.
- Sidecar is still injected.

I scanning the code, grepping the "sidecar.istio.io/inject", there's no go code reading this annotation and make decisions based on the value of the annotation. https://github.com/istio/istio/search?l

[2019-02-19 20:16] incfly commented on #11854
@nmittler @ayj can any of you confirm this is a bug and the expected behavior?

[2019-02-19 20:36] ayj commented on #11854
https://istio.io/help/ops/setup/injection/#the-result-of-sidecar-injection-was-not-what-i-expected

Verify that the annotation is added to the pod template spec’s metadata.

[2019-02-19 20:36] frankbu commented on #11826
This seems to be a problem in 1.0.x too. The reference to the `.py` file from the doc seems to go back to this PR: https://github.com/istio/istio.io/pull/1945

@diemtvu can you fix the doc, or arrange for the jwt sample files to be included in the distribution.

[2019-02-19 20:43] incfly commented on #11854
The injection template
[code]

The per deployment annotation is there.
[code]

[2019-02-19 20:44] esnible commented on #11851
Have you verified that some annotations don't work?

YaML is very tolerant of quotes.  See https://stackoverflow.com/questions/19109912/do-i-need-quotes-for-strings-in-yaml .  Please supply an example that breaks because of missing quotes.

[2019-02-19 20:45] narun4sk commented on #11828
I also tried the following configuration but it too is giving me 404:

[code]

[code]

[code]

[2019-02-19 20:46] ymesika commented on #11498
@Stono That's correct.
Since 1.0 we actually no longer take the VS field and always turn it on in the listener.

@rshriram should we remove the deprecated field from the VS def in 1.1? I guess it's too late.

[2019-02-19 20:54] ymesika commented on #11853
I guess the easiest path to fixing it is to merge `release-1.1` into `master`.
Otherwise do some cherry-picking (#11805 specifically with all of @sdake helm changes).

[2019-02-19 20:55] ayj commented on #11754
One replica should be okay in the default / demo install. We'll need to revisit when endpoints support is on-by-default.

Administrators of larger production clusters might also consider increasing the replica count as an insurance policy given the relatively low resource overhead (vs. pilot / mixer).

[2019-02-19 20:56] PandaXass commented on #11851
Hi @esnible,

Thank you for your quick reply!

Here is a value yaml file example which does not work:
[code]
In this case, in Azure, a public load balancer would be created.
After I added double quotes in chart template file, it worked as expected.

[2019-02-19 20:57] ayj commented on #11319
cc @andraxylia @costinm

[2019-02-19 21:25] kyessenov commented on #11787
Is this for both inbound and outbound connections? We could generalize the existing static bootstraps for pilot and mixer to cover galley deployments. There is not much "dynamism" in these config files, so they can be created at install/customization time avoiding runtime dependency on pilot/galley. We'll automatically get internal telemetry as well.

[2019-02-19 21:26] Stono opened #11856 "Having some difficulty with webSockets"
Hi,
I'm having some problems with an app that uses webSockets when we put istio-proxy on it.  I'm not convinced it's an istio problem per-se, but it'd be good if someone can help me debug these proxy logs to understand what's going on.

What we seem to be seeing is the app recursively trying to connect to itself, indefinitely.

I've attached the full log but the general highlights are:

1. Client

[2019-02-19 21:27] ayj commented on #10904
Yes, MCP was enabled by default in release-1.1 on 2018-12-03 (see https://github.com/istio/istio/pull/10222).

release-1.1-20181120-09-15 corresponds to e8bccd2e9bfe18d86becb795a8b8278275010336 / https://github.com/istio/istio/pull/10049.

https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.1-20181129-09-15 should be the first release with this regression. That corresponds to commit

[2019-02-19 21:31] BarDweller commented on #8444
I'd missed the GATEWAY listener type, using that, and with a few small tweaks I have lua expanding a jwt into headers that are then used to determine routing. :)

Works pretty well, although I'd not written in lua before, so it was a little odd to find it had no base64 decode, or json handling, so I added my own base64 decoder (which is almost certainly suboptimal), and borrowed a public domain js

[2019-02-19 21:33] Stono commented on #11856
@rshriram as the envoy master guru god of all things envoy, any ideas?

[2019-02-19 21:37] andraxylia commented on #11779
This is a known timing issues, Pods and Endpoints event can be received in any order.

I thought this was taken care of. cc @costinm who can comment more on the XDSUpdater.

Please keep in mind we will move to synthetic service entries generated in Galley, see PR #11293 , and we will ultimately get rid of this code in pilot.

[2019-02-19 21:48] ayj commented on #11555
AFAICT, DR are used for 3 purposes:

1) all traffic to *.global uses mTLS
2) access to policy/telemetry uses mTLS
3) access to k8s apiserver _doesn't_ use mTLS

(1) seems to be used by multi-cluster / gateways cc @costinm

(2) would cause policy checks to fail and telemetry to be delayed/dropped cc @douglas-reid

(3) would temporarily break k8s client that is trying to access the k8s apiserver. On

[2019-02-19 21:57] #11322 closed

[2019-02-19 21:57] ayj commented on #11854
The annotation needs to be made to the pod template spec's metadata and not the deployment's metadata (e.g. see https://github.com/istio/istio/blob/5f61fbdceeb6321e2f757926cabe715166f685c8/install/kubernetes/helm/subcharts/sidecarInjectorWebhook/templates/deployment.yaml#L27). It's hard to decipher from the last snippet but it looks like the 'inject' annotation is aligned with last-applied-configu

[2019-02-19 22:12] louiscryan commented on #11853
Hey Yossi - I tried this but am still getting issues

On Tue, Feb 19, 2019 at 12:54 PM Yossi Mesika <notifications@github.com>
wrote:

[2019-02-19 22:13] erezzarum commented on #11828
@narun4sk try to use authority match, instead of using host headers in your VirtualService
[code]

[2019-02-19 22:24] therealmitchconnors opened #11862 "Prometheus sub-chart deploys, regardless of enabled flag"
**Describe the bug**
The Prometheus subchart has an enabled flag, but most of the templates in the chart ignore its value.

**Expected behavior**
Prometheus objects not deployed.

**Steps to reproduce the bug**
helm install istio --set prometheus.enabled=false

**Version**
head of branch 1.1 (f8a1dbbc0a0e9ddaa)

[2019-02-19 22:26] therealmitchconnors commented on #11862
https://github.com/istio/istio/blob/master/install/kubernetes/helm/subcharts/prometheus/templates/gateway.yaml#L1 prevents the gateway from deploying when enabled is false, but none of the other templates follow this pattern.

[2019-02-19 22:33] kyessenov commented on #7841
Keep it open

On Tue, Feb 19, 2019, 2:09 PM stale[bot] <notifications@github.com wrote:

[2019-02-19 23:05] narun4sk commented on #11828
@erezzarum Thanks, the trick with the `authority` seems is working.

[2019-02-19 23:11] zhqworld opened #11865 "helm dep update not working for istio 1.1.0-snapshot6"
**Describe the bug**
helm dep update not working for istio 1.1.0-snapshot6

**Expected behavior**
helm dep update should work

**Steps to reproduce the bug**

[code]

**Version**
`kubectl version`: 1.10.3
`istioctl version`: 1.0.3

[2019-02-19 23:13] adityats2020 commented on #11830
Thanks @esnible I am able to build using the steps you provided. Although, I am not sure how to build using the modified istio-proxy instead of the default one.
I have created a clone repo with the patch I need at https://github.com/adityats2020/proxy. The `make docker.proxyv2` build step seems to obtain the built artifacts from a specific location that is defined in `bin/init.sh`. I am not sure h

[2019-02-19 23:28] nictrix opened #11866 "Ingress Gateway - Decrypt then send to a POD listening on https"
**Describe the feature request**

Hi all, I was setting up an ingress gateway and VirtualService to send traffic to a pod and received this error: tls: first record does not look like a TLS handshake

After some troubleshooting and finding that log message I figured out the pod was listening on https; so I switched it to http and everything went fine.

But I wanted to know if there are any configu

[2019-02-19 23:40] howardjohn commented on #11700
For the istio_auth_sds_e2e tests, it looks like the main tests are actually passing, and what is failing is the "log check", where it reads through the logs to check for the requests. These are [failing every time](https://k8s-gubernator.appspot.com/builds/istio-prow/pr-logs/directory/istio_auth_sds_e2e), not flaky.

It seems like perhaps the logging was changed such that these requests are no lon

[2019-02-19 23:50] sbezverk opened #11867 "ipx6 listeners incorrectly parsed"
**Describe the bug**
in the listeners.go code of proxy agent, listeners are assumed to be ipv4 only, the logic is broken for processing ipv6 listeners.

**Expected behavior**
ipv6 listeners are properly propcessed.

**Steps to reproduce the bug**
deploy istio on ipv6 only k8s cluster, user pod's side will report proxy not healthy.

**Version**
k8s 1.13.3 and istio 1.1

**Installation**
helm templa

[2019-02-19 23:56] zhqworld opened #11868 "two different version of mixer pod instances running after istio upgrade"
**Describe the bug**
istio is upgraded from 1.0.3 to 1.1.0-snapshot6, after upgrade, two pods of istio-policy running, one has version 1.0.3 and another pod has version 1.1.0-snapshot6.

**Expected behavior**
Only new version 1.1.0-snapshot6 of mixer should exists.

**Steps to reproduce the bug**
1) install istio with version: 1.0.3
2) upgrade to 1.1.0-snapshot6
[code]
3) check istio-stystem pods:

[2019-02-20 00:09] #9464 closed

[2019-02-20 00:59] therealmitchconnors commented on #11862
This was an environmental error, as the enabled flag was getting overridden in a second instance in the values.yaml file.  See https://github.com/istio/tools/pull/64

[2019-02-20 00:59] #11862 closed

[2019-02-20 01:01] asudhakarreddy commented on #1430
+1 for UDP routing
Network device management apps required UDP support, services like Syslog, SNMP traps, and TFTP

[2019-02-20 01:08] sdake commented on #11853
The release-1.1 charts are here:
helm repo add istio.io "https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.1-latest-daily/charts/

[2019-02-20 01:09] #6323 closed

[2019-02-20 01:17] sdake commented on #11853
As far as I can tell, the master daily charts release process is busted and is not being automatically pushed by the infrastructure.  It looks like the bucket has been removed.  They were previously at this address:

https://storage.googleapis.com/istio-prerelease/daily-build/master-latest-daily/charts

See:
https://github.com/istio/istio.io/pull/3249/files

To get things unblocked, I'd recommend

[2019-02-20 01:23] #9728 closed

[2019-02-20 01:28] sdake opened #11870 "dnsConfig in a deployment spec is not honored"
Istio rewrites dnsConfig values for multicluster.  If someone brings a manifest that has dnsConfig (should be exceedingly rare I suspect) - the manifest's version is ignored.  Fix that.

[2019-02-20 01:28] hzxuzhonghu commented on #11818
@rshriram I think we can fix this,  for k8s, sometimes we just need some instance info like labels/locality。 So i suggest defining a general structure independent of service.

agreed

[2019-02-20 01:28] sdake commented on #10971
Closing this - barring further problems looks like things work reasonably well.  I have opened a new bug to permit applications with dnsConfig to merge with our override dnsConfig here: https://github.com/istio/istio/issues/11870

[2019-02-20 01:28] #10971 closed

[2019-02-20 01:30] sdake commented on #11705
We got a release-1.1 charts repo - but it looks like the master charts repo was broken in the process.

I am not sure how to reenable the daily master builds of the helm charts.

[2019-02-20 01:38] hzxuzhonghu commented on #8609
There is no error, just not exists.

[2019-02-20 02:01] caitong93 commented on #8609
I mean the error returned by apiserver
https://github.com/hzxuzhonghu/istio/blob/76a09e95f59c9c0a44cd9dba9e1bc38851ed937c/pilot/pkg/config/kube/crd/client.go#L352

[2019-02-20 02:12] pitlv2109 commented on #11853
Is anyone working on fixing this issue? Individual PR or branch can add a workaround by using a working charts repo, e.g. `release-1.1-latest-daily/charts/`, but I think an official fix would be ideal. Thanks!

[2019-02-20 02:18] mailzyok commented on #1756
Hello,

Is there any place I can find the overall status for the IPv6 support? For example, is IPv6 support in gateway? What is the status of IPv6 for entire mesh?

Thanks,
zy

[2019-02-20 02:28] hzxuzhonghu opened #11873 "Should use `MeshConfig.ConfigSources` instead of `mcpServerAddrs`"
pilot flag `--mcpServerAddrs` has been deprecated, and we added a new ConfigSources in MeshConfig https://github.com/istio/api/blob/master/mesh/v1alpha1/config.proto#L196

But https://github.com/istio/istio/pull/10222 enabled MCP by default and still using deprecated `mcpServerAddrs`.  So Ｉ　 think better  change to `ConfigSources ` .  And we plan to remove `--mcpServerAddrs` in 1.2.

/cc @ayj

[2019-02-20 02:29] hzxuzhonghu commented on #11873
/cc @rshriram

[2019-02-20 02:29] rajdhandus opened #11874 "How to programmatically delete a Istio Object using client-go"
**Describe the feature request**
I need a way to programmatically delete a istio crd object like virtual service using client-go

**Describe alternatives you've considered**
running kubectl commands from go program

**Additional context**
since the istio objects are CRDs there is not a lot of documentation around programmatically dealing with Istio objects.

[2019-02-20 02:32] ayushpateria commented on #11682
if "Envoy starts rejecting any new connections" right after it gets SIGTERM, then I don't think it would fix the above problem. The way to fix this would be to delay this operation by some period (and also keep the listener active), so that the new requests which are coming to the terminating pod because of the sync delay gets served. @liamawhite any thoughts?

[2019-02-20 02:51] rshriram commented on #11873
fixed by #11875

[2019-02-20 02:52] #11873 closed

[2019-02-20 03:07] hzxuzhonghu commented on #11874
You should use k8s  dynamic client, ref: pilot/pkg/config/kube/crd/client.go

[2019-02-20 03:10] zhaorendong commented on #10547
Can you provide an interface or API for pilot so that we can call the API to update the JWk cache in pilot?

[2019-02-20 03:12] christian-posta commented on #10360
+1 just noticed this in the release notes but this issue still open and no associated git-commit.
@emedina any chance you can check on 1.0.6 in a pre-prod env?

[2019-02-20 03:38] nrjpoddar commented on #11828
Another workaround might be to use the same port as your NodePort (31380) in your service port and target port and then setup a Gateway with port 31380.

This will ensure that Host:31380 is accepted by the ingress proxy as the Gateway port will be added to the host declared in the VirtualService resource.

[2019-02-20 03:46] tangxusc commented on #9752
I also encountered a similar problem in instances where I could not use properties such as request.path that start with request
---
$ istioctl version
Version: 1.0.4
GitRevision: d5cb99f479ad9da88eebb8bb3637b17c323bc50b
User: root@8c2feba0b568
Hub: docker.io/istio
GolangVersion: go1.10.4
BuildStatus: Clean

[2019-02-20 04:09] #9456 closed

[2019-02-20 05:29] bianpengyuan commented on #11819
Looks like the easiest way is to make adapter service headless and use DNS schema for adapter service address (https://medium.com/google-cloud/loadbalancing-grpc-for-kubernetes-cluster-services-3ba9a8d8fc03). This will not require change in mixer or any extra components. It is not as powerful as external load balancer or middle proxy, but it might be OK considering mostly adapter is simple.

[2019-02-20 05:55] irisdingbj commented on #10956
@linsun If we want to use yamllint we need decide which rules are used, Is the default relax one enough? Or do we want to any custom rules? Below is the default relax one:

rules:
  braces:
    level: warning
    max-spaces-inside: 1
  brackets:
    level: warning
    max-spaces-inside: 1
  colons:
    level: warning
  commas:
    level: warning
  comments: disable
  comments-indentation: disable

[2019-02-20 06:39] tangxusc commented on #9752
I used `request.path |"/"` to solve this problem, but I don't know why.

[2019-02-20 06:49] migueleliasweb commented on #7679
I'm having the same problems as @exiaohao . When I use `externalTrafficPolicy: Local` the IngressGateway basically stops working. I'm even seeing the NLB is unable to perform the healthchecks...

[2019-02-20 07:11] liamawhite commented on #11682
This is designed to be used along with retries and an aggressive circuit breaking policy. Are these gateways accessed by things within the mesh?

[2019-02-20 07:21] liamawhite commented on #11366
@luksa When you have an implementation we will need to work out how to get to the access logs and status information. Let me know if you have any thoughts on this.

[2019-02-20 07:30] irisdingbj commented on #11853
I believe @louiscryan is working on a fix for the problem

[2019-02-20 07:50] edude03 commented on #9831
I noticed this too, upgrading from 1.0.5 to 1.0.6 changes the images to `release-daily`

[2019-02-20 07:55] rvansa commented on #11779
@andraxylia Thanks for the response. IIUC, even when you let Pilot listen to updates from Galley rather than directly from Kubernetes, the timing issue will be there, wouldn't it?
The fix is pretty simple: https://github.com/rvansa/istio/commit/2fdcf5824110372e928a643b9eff0dde050e3fa7 - should I file this as PR or just wait after #11293 gets integrated (and test then)?

[2019-02-20 08:04] irisdingbj commented on #11839
by default we run as root in the istio containers, SO this is the reason you see this failure. I believe remove the psp will fix this.

[2019-02-20 08:04] luksa commented on #11366
Status update: I managed to get the first version of the PoC working last week. Since the CNI plugin is calling docker directly, it only works on clusters that use Docker as the container runtime (and a specific version of Docker is required, since I'm just calling the docker binary instead of using Docker's API).

I'm now modifying the code so it uses the CRI interface, just like the Kubelet. Act

[2019-02-20 08:16] vishal-yadav opened #11881 "X-Istio-Attributes header is not added by istio sidecar proxy when controlled access to external HTTP service"
**Describe the bug**
As per step2 of [Controlled Access to external HTTP service](https://preliminary.istio.io/docs/tasks/traffic-management/egress/#access-an-external-http-service) the sidecar proxy should add header for _X-Istio-Attributes_ but the request does not include it though it includes _X-Envoy-Decorator-Operation_ header.
[code]

**Expected behavior**
Either sidecar proxy should includ

[2019-02-20 08:21] irisdingbj opened #11882 "Test failure in presubmit:security.TestAuthnPermissive"
https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio_istio/11850/istio-integ-local-tests/5621

[2019-02-20 08:28] irisdingbj commented on #11882
https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio_istio/11823/istio-integ-local-tests/5546

[2019-02-20 08:50] Paic commented on #9783
Experiencing the same issue on a Kubernetes Cluster v1.13.0 with Istio v1.0.5.

[2019-02-20 08:53] ymesika commented on #11612
Can you please merge #11616 to fix this?

[2019-02-20 08:56] Kansuler commented on #11303
Thanks! Just came across this problem

[2019-02-20 09:54] irisdingbj opened #11887 "Insufficient cpu when running e2e-pilot-auth-v1alpha3-v2-non-mcp in circli CI"
Most recent run for e2e-pilot-auth-v1alpha3-v2-non-mcp fails in circleci due to:

[code]

[code]

https://circleci.com/gh/istio/istio/331194

[2019-02-20 09:55] irisdingbj commented on #11887
https://circleci.com/gh/istio/istio/331195

[2019-02-20 09:58] irisdingbj commented on #11887
Looking at the recent PR: https://github.com/istio/istio/pull/11476 seems we have increased the resource req. We should increase the cricle CI resource as well to fix this.

@mandarjog @linsun any comments for fixing?

[2019-02-20 10:54] emedina commented on #10360
@christian-posta Unfortunately, I cannot jeopardize this environment with such testing, but I can try to reach as far as possible using a LAB environment and provide feedback.

Also I'm struggling with issue #9113 which may be related to this one.

[2019-02-20 11:14] Stono commented on #11658
@costinm @rshriram we turned `PILOT_DIRECT_EDS` back on today after upgrading to 1.0.6 and this error still persists.

It appears that istio-proxies do not have any endpoints on the kubedns cluster so TCP dns requests fail:
[code]

The service definitely has endpoints:
[code]

And pilot is aware of them (my colleague is going to post the pilot config in a second).

The *only happens on our largest

[2019-02-20 11:15] chrismckean commented on #11658
{"svc": "kube-dns.kube-system.svc.cluster.local:dns", "ep": [
{
    "endpoint": {
      "Family": 0,
      "Address": "10.x.x.x",
      "Port": 53,
      "ServicePort": {
        "name": "dns",
        "port": 53,
        "protocol": "UDP"
      },
      "UID": "kubernetes://kube-dns-7549f99fcc-jg2vw.kube-system"
    },
    "service": {
      "hostname": "kube-dns.kube-system.svc.cluster.local",

[2019-02-20 11:51] yancl commented on #3398
After some deeper thought, we think expose the pod metrics port to each service will double the dynamic listener and route entries from pilot(especially we have several hundreds of k8s services) and not very elegant(we should not expose metrics port to k8s service just for this purpose).

And then we have two basic ideas:
* custom the pod sidecar `static_resource` through pilot template to let eac

[2019-02-20 12:09] #4233 closed

[2019-02-20 12:20] vishal-yadav opened #11888 "Sidecar proxy for fortio fails readiness check"
**Describe the bug**
Deployment of fortio as per [Adding a client](https://preliminary.istio.io/docs/tasks/traffic-management/circuit-breaking/#adding-a-client) section for circuit breaker verification task, fails with readiness probe check.
[code]
[code]
[code]

**Expected behavior**
Fortio as client deployment should succeed.

**Steps to reproduce the bug**
Follow [these](https://preliminary.ist

[2019-02-20 12:37] vishal-yadav commented on #11888
Detailed logs [here](https://pastebin.com/KMcgZFPe) for fortio-deploy pod.

[2019-02-20 13:47] clyang82 commented on #6312
`listened-namespaces` will be supported in this PR - #11667

[2019-02-20 14:09] dimthe commented on #11839
hello

i need psp in the cluster and i have created these rules for the istio-system ns
[code]

[2019-02-20 14:43] esnible opened #11891 "Remove no-longer-needed VirtualService from external samples"
The external service samples at https://github.com/istio/istio/tree/release-1.1/samples/external included VirtualServices.  At the time this was important, as it was needed and users were forgetting it.

The VirtualService is no longer needed and should be removed to avoid confusion.

VirtualService was needed before https://github.com/istio/istio/pull/11735

[2019-02-20 15:09] vovkanaz commented on #8301
helm install \
--wait \
--name istio \
--timeout 600 \
--namespace istio-system \
--set gateways.istio-ingressgateway.serviceAnnotations."service\.beta\.kubernetes\.io/aws-load-balancer-internal"="0.0.0.0/0" \
istio-1.0.4/install/kubernetes/helm/istio

[2019-02-20 15:24] rshriram opened #11893 "Use downward API with volume mount to monitor pod labels/annotations"
The labels and annotations in a pod are currently detected statically during injection or via helm spec and encoded into  ISTIO_META_INSTANCE_LABELS/ANNOTATIONS. These metadata are currently not the authoritative source since pod labels and annotations could change dynamically. So we are forced to monitor k8s api server for label updates as well.

K8S allows mounting all the pod labels/annotations

[2019-02-20 15:24] rshriram commented on #11893
cc @hzxuzhonghu @costinm @mandarjog

[2019-02-20 15:32] MarcMielke commented on #11783
nothing wrong, figured that out in the meantime, thx! closing this.

[2019-02-20 15:32] #11783 closed

[2019-02-20 16:06] rshriram commented on #11856
my hunch looking at the logs

[code]

is that the app is doing a HTTP to HTTPS redirect wherein it seems to call itself https://app.sourcing-web.gateway... when the incoming call is http://app.sourcing-web....

If this call is coming from outside and transiting through a gateway, you could setup the gateway to do TLS redirect (i.e. redirect from 80 to 443). and then forward only the websocket upgr

[2019-02-20 16:08] hxalid commented on #1430
+1 for UDP routing. Hashicorp Consul needs UDP routing for WAN.

[2019-02-20 16:16] #4100 closed

[2019-02-20 17:14] marcin-kasinski commented on #11778
When problem occurs my dns pods are running, but there are lots of errors in dns logs.

[code]

[2019-02-20 17:34] douglas-reid commented on #9752
@tangxusc that typically means that `request.path` didn't have a value in your request. you can debug that by turning on attribute debug levels in mixer. if using `mixc`, you'll need to provide a value for `request.path` if you wish to use it without a fallback value.

@javafuns your issue is not related to this parent issue. it appears to be related to something OOP adapters.

Since this issue wa

[2019-02-20 17:34] #9752 closed

[2019-02-20 17:47] quanjielin opened #11898 "mixer deployment update to support reading oauth access token from env variable to connect to stackdriver"
**Background**:
Today mixer stackdriver adapter uses [Application Default Credentials](https://godoc.org/golang.org/x/oauth2/google#DefaultTokenSource) to connect to stackdriver api.

**Problem**:
```Application Default Credentials"``` read oauth token in below sequences, current behanvior is it read from metadata server; however in some env, the metadata server don't return token expected so stac

[2019-02-20 17:48] quanjielin commented on #11898
/cc @mandarjog @bianpengyuan @wenchenglu

[2019-02-20 17:53] bdecoste opened #11899 "preliminary 1.1 doc for "Istio Vault CA Integration" fails with missing mounted cert secret"
**Describe the bug**
{{
https://preliminary.istio.io/docs/tasks/security/vault-ca/

httpbin pod fails health check and fails with restarts due to missing mount of istio.default secret. From istio-proxy logs:

[2019-02-20 17:24:29.053][66][critical][main] [external/envoy/source/server/server.cc:86] error initializing configuration '/etc/istio/proxy/envoy-rev0.json': Invalid path: /etc/certs/cert-ch

[2019-02-20 18:02] utka commented on #11853
The reason is we can not build master since 17 Feb, and the  master-latest-build was deleted  for latest available build 16th. I think it is deleted by script before pushing new version, but because new version does not exist, it fails.
https://storage.googleapis.com/istio-prow/logs/release-daily/216/build-log.txt

[2019-02-20 18:16] #4098 closed

[2019-02-20 18:18] utka commented on #11853
I am triggering daily build manually now

[2019-02-20 18:27] utka commented on #11853
I manually triggered
gsutil -q cp -r 'gs://istio-prerelease/daily-build/master-20190216-09-16/*' gs://istio-prerelease/daily-build/master-latest-daily/

So master-latest-daily exists now, still going to trigger new daily release

[2019-02-20 18:33] BarDweller commented on #8444
Here's a quick write-up of my filter based approach (including the lua filter code).
https://github.com/BarDweller/istio-content-based-routing

I'll raise a separate issue for the multiple header value matching, as maybe different people need to look at that and say whats right.

[2019-02-20 18:43] duderino commented on #11555
@sdake doing the work.  @costinm will advise

[2019-02-20 18:45] BarDweller opened #11900 "Istio Routing Rules won't match with Duplicate HTTP Headers"
**Describe the bug**
Istio offers routing based on Http Header name/values
Http Header names can be present multiple times within a request. (Set-Cookie/Accept being 2 common examples).
Istio only routes based on the first encountered matching header name, ignoring subsequent ones.

**Expected behavior**
It gets complicated, but the simple answer that helps me most is to have a match count if it m

[2019-02-20 18:46] esnible commented on #9866
https://circleci.com/gh/istio/istio/331808?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

e2e-simple filed with `Too long with no output (exceeded 10m0s)`.  The last thing it did before that was ```Running command kubectl -n istio-system rollout status deployments/istio-galley --kubeconfig=```

[2019-02-20 18:53] douglas-reid commented on #11898
@quanjielin you've tagged this as 1.1. can you describe which envs cause this failure and why this is an issue for 1.1?

[2019-02-20 19:01] kyessenov commented on #11898
From a cursory look, there is a service account option in the stackdriver config:
https://github.com/istio/istio/blob/release-1.1/mixer/adapter/stackdriver/helper/common.go#L98

[2019-02-20 19:02] pitlv2109 commented on #11516
All necessary PRs have been checked in to the `authz-v2` branch. Close issue.

[2019-02-20 19:02] #11516 closed

[2019-02-20 19:14] dkrieger commented on #10062
@mabushey  can you give a little explanation here?

If I'm understanding the gist of this, this seems like a pretty serious issue affecting a very typical use case for istio, but the tone of the discussion here doesn't seem to reflect that. Surely the elevator pitch of "istio creates a secure mesh between your services" isn't realized if it doesn't work for mysql, one of the most popular databases

[2019-02-20 19:16] #7558 closed

[2019-02-20 19:21] linsun commented on #11555
@costinm @sdake with the new backwards compatible flag we just discussed in env WG, can we guard @rshriram 's change in the PR with the flag to fix this?

https://github.com/istio/istio/pull/11507/files

[2019-02-20 19:30] ayushpateria commented on #11682
No, this gateway service is at the front and accessed directly by Google Load Balancers.

[2019-02-20 19:37] mabushey commented on #10062
@dkrieger

No one cares about the pitch of "istio creates a secure mesh between your services" because it's a fallacy. MySQL is not an outlier, it's just the current example. Istio provides awesome routing rules, and the grafana/Jaeger integration is showing promise of being a useful tool someday.

If you enable mTLS, you have a broken cluster.

[2019-02-20 19:40] incfly commented on #10062
The TLS broken is not accurate. I believe if we change MTLS policy from PERMISSIVE to STRICT and configure DestinationRule correspondingly, the MTLS should work. I'll come back after deploy a mysql to verify that.

Thanks for the suggestion of backporting the fix from 1.1 to 1.0. I think a reasonable thing to do is removing `PERMISSIVE` by default in potential 1.0.7.

Sorry about the friction.

[2019-02-20 19:48] zombor commented on #10062
this is what we've done. Enable strict TLS, and add a destinationrule that turns off mtls to mysql and it works fine. We'd still like to get mTLS working against mysql, though.

[2019-02-20 20:22] dankirkpatrick commented on #9906
I've also been having intermittent 503 errors.  I'm running v1.0.5, though.  The errors occur on the ingressgateway, with nothing logged by the backing service.  The errors occur during the initial request, and fail immediately (i.e. not after a timeout).

I've also see intermittent 503 errors with Istio sidecars when calling our service directly, from inside our cluster.  Additionally, I've also

[2019-02-20 20:27] dkrieger commented on #10062
@incfly that's encouraging, I'll also experiment with configs and report back my findings. I'm on istio 1.0.5

@mabushey

This is a bold statement, considering the second-most prominent card on the istio.io homepage reads:

I gather you're a frustrated early adopter and not a maintainer. If the second word in "Connect, secure, control, and observe services." is sufficiently broken to be accurate,

[2019-02-20 20:29] kyessenov commented on #11819
@bianpengyuan Interesting idea. I did some investigation into this:

1. WithBalancerName is marked as experimental in the current gRPC library version. It does appear to work, but we should be cautious just yet.

2. RoundRobin should work fine with A records for pods for headless services. It seems to watch for DNS resolver updates and maintain a pool of connections to them. We also need `dns://`

[2019-02-20 20:34] venilnoronha commented on #10062
/cc @esnible

[2019-02-20 20:35] kyessenov commented on #11819
For 3: reference https://github.com/grpc/grpc-go/issues/1663

[2019-02-20 20:52] bdecoste opened #11908 "preliminary 1.1 doc "Mutual TLS Deep-Dive" has incorrect DESTINATION_RULE"
**Describe the bug**
{{
https://preliminary.istio.io/docs/tasks/security/mutual-tls/

The doc has the output for:
istioctl authn tls-check httpbin.default.svc.cluster.local
as
   DESTINATION RULE
   default/default
}}

**Expected behavior**
{{
DESTINATION RULE
   default/istio-system
}}

**Steps to reproduce the bug**
{{
Follow "Before you begin" steps
kubectl apply -f install/kubernetes/istio-dem

[2019-02-20 20:56] linsun opened #11909 "default mesh config seems not working for pilot when running in dev"
Tried to start pilot off my VS code but got the following default but it doesn't produce a functional pilot - i don't see any VS pushed from that pilot:

[code]

I ended up putting the mesh config I grabbed from my pilot deployed in kube-system and after that able to get a functional pilot.

[2019-02-20 21:05] marcin-kasinski opened #11910 "Istio and zipkin communication to jaeger"
I have problem with istio and jaeger communication.

I have simple springbootapp.
It sends spans to jaeger server (everything wihtin kubernetes cluster).
Everything works fine without istio.

The same app stops sending spans when I setup istio in my environment.

Spring boot app with istio injected in namespace apps
zipkin (jaeger) server without istio injected in default domain.

In Istio ingress

[2019-02-20 21:10] dankirkpatrick commented on #9582
Did you ever get a resolution on this issue?  I've experienced the same problem (and also 503 errors with the ingressgateway, and also with ambassador's api gateway).  I outline my findings on this issue:

https://github.com/istio/istio/issues/9906

I was able to correct the issue by setting the field spec->http->retries->attempts in my VirtualService specification.  I believe there's a race condi

[2019-02-20 21:15] wattli opened #11912 "Allow Citadel to accept configurable DNS"
Currently the DNS support of Citadel is limited, we only support ServiceAccount.Namespace and ServiceAccount.Namespace.svc, in multi-cluster galley, this is not enough, we need Citadel to be more flexible to accept customized DNS

[2019-02-20 21:16] #9437 closed

[2019-02-20 21:18] dankirkpatrick commented on #8750
I also am seeing this issue.  I'm on Istio 1.0.5.  I outline my findings in a response on this thread:

https://github.com/istio/istio/issues/9906

Basically, I was able to correct the issue by specifying the field "spec->http->retries->attempts" to 2, so it would automatically retry on 5xx errors.  Istio is adding the "retryOn" field to its configuration in v1.1--this preferable to retrying every

[2019-02-20 21:25] dankirkpatrick commented on #9113
I see the same issue, with Istio service mesh sidecars, Istio IngressGateway, and Ambassador API Gateway.  I believe the root cause is a race condition between the TCP keepalive setting and the stream idle timeout.  Istio does connection pooling of HTTP connections under the covers.  If a connection is idle for 5 minutes, the TCP keepalive should fire to keep the conneciton alive.  But, the stream

[2019-02-20 21:25] nrjpoddar commented on #11910
Hi @marcin-kasinski,

One of the most common causes of tracing not working is that the K8s service definition belonging to the Pod doesn't have the correct port prefix names. Note that the port names in the services should be prefixed with `http`, `http2` or `grpc` for the spans to be reported. This [project](https://github.com/aspenmesh/istio-vet) might help you identify that quickly.

Second mos

[2019-02-20 21:39] bdecoste opened #11913 "preliminary 1.1 doc "Mutual TLS Deep-Dive" has incorrect command to cause CONFLICT"
**Describe the bug**
{{
https://preliminary.istio.io/docs/tasks/security/mutual-tls/

The doc has the following command to cause a destinationrule conflict. This documented command does not cause a conflict.
}}

**Expected behavior**
{{
The documented command (see below) should cause a conflict:
kubectl -n istio-system apply -f - <<EOF
apiVersion: "networking.istio.io/v1alpha3"
kind: "DestinationR

[2019-02-20 21:45] mabushey commented on #10062
@dkrieger

You probably mean second-most prominent item of disinformation. I doubt the developers are in any kind of agreement as to the overall goals. The istio.is site is so far from reality it's a waste of time even looking at it; It's all wrong. If there is a tutorial of 12 steps, step 1 will error/not apply. Even the spec pages have yaml elements listed the wrong item. Istio is a great produc

[2019-02-20 21:49] quanjielin commented on #11898
let's chat offline for this issue.

[2019-02-20 21:50] kramvan1 commented on #11527
@ibm-jason @linsun @ymesika I see this ISTIOCTL_URL floating around git hub, and it's also in the
https://github.com/istio/istio/blob/master/tests/e2e_istio_preinstalled.sh (which I'm trying to make work)

`curl https://storage.googleapis.com/istio-artifacts/pilot/$TAG/artifacts/istioctl/istioctl-osx -o istioctl`

and similar for `istioctl-linux` and `istioctl-win.exe`

So, it appears to already b

[2019-02-20 21:50] mabushey commented on #11891
Thanks for cleaning this mess of documentation up @esnible .

[2019-02-20 21:54] wattli opened #11915 "Citadel issue cert without SAN field for VM in mesh expansion"
When the node agent on the VM has been running for a while, it is starting to output errors to the log file. Turns out that the node_agent will occasionally write out a certificate with a missing SAN field! (This must be coming from the Citadel server.) And once that broken certificate is written out, node_agent is unable to get certificate updates

[2019-02-20 22:02] Bessonov commented on #10062
@mabushey although your statement isn't far from reality, well, it isn't fair. It is not how the open source works. If you find a mistake, you are welcome to open an appropriate pull request.

By the way, I give up istio because it is far away from to be production ready. Go from istio error to istio bug doesn't make any fun. But I'm open to look at it some time later again.

[2019-02-20 22:03] justinburke commented on #11915
Possibly same issue as #11078 .

[2019-02-20 22:10] Stono commented on #11856
So got to the bottom of it.  The app was proxying to another app but
setting an invalid host header (of the gateway rather than the upstream)
thus it was just recursively trying to connect to itself.

Will close the issue when I'm home later!
Ta

On Wed, 20 Feb 2019, 4:07 pm Shriram Rajagopalan <notifications@github.com
wrote:

[2019-02-20 22:11] dkrieger commented on #10062
@incfly I tried modifying the default MeshPolicy to specify mtls.mode = "STRICT" and ensured the default DestinationRule specified trafficPolicy.tls.mode = "ISTIO_MUTUAL" to no avail. This is disappointing to say the least. I've also tested redis and while at first it appeared to work, it no longer works ("Error: Connection reset by peer"). So, as a blanket statement, it appears that mtls exclusiv

[2019-02-20 22:16] #4096 closed

[2019-02-20 22:23] Bessonov commented on #10062
@dkrieger the solution in https://github.com/istio/istio/issues/10062#issuecomment-453119184 works for me with istio 1.0.5. I'm not on my work PC to validate it, but I'm sure I used `mode: STRICT` for `MeshPolicy`. Only tcp auth doesn't work now, but should be fixed in 1.1.

One of most painful point is actually the sidecar-based solution. Most of problems ([like non-root containers](https://githu

[2019-02-20 22:24] wattli commented on #11915
Yes, it's a dup of #11078, closing this one.

[2019-02-20 22:25] bdecoste opened #11917 "preliminary 1.1 doc "Plugging in External CA Key and Certificate" has incorrect command for deleting secret"
Describe the bug
{{
https://preliminary.istio.io/docs/tasks/security/plugin-ca-cert/

The following command does not delete the secret since it lives in the istio-system namespace
kubectl delete secret istio.default
}}

Expected behavior
{{
secret is deleted
correct command is:
kubectl -n istio-system delete secret istio.default
}}

Steps to reproduce the bug
{{
Follow "Before you begin" steps
kub

[2019-02-20 22:32] bianpengyuan commented on #11898
There is no need to add the environment variable. Stackdriver adapter supports service account path to get credential.

[2019-02-20 22:35] dkrieger commented on #10062
@Bessonov thanks, I'll have another look at that solution. Do you use something like consul connect in production instead of istio? I'm about ready to jump ship over this, despite what the project's version implies, I have to agree istio does not seem production ready. I've already sunk considerable time into getting it working (or so I thought), and now this problem rears its head. If the solutio

[2019-02-20 22:38] quanjielin commented on #11898
so we don't need to change mixer deployment file for this option ? do we need to change stackdriver yaml to config client to use service account and pass the sa path ?

[2019-02-20 22:39] bianpengyuan commented on #11898
Volume needs to be mounted. Volume could be passed in with stackdriver config API instead of env variable.

[2019-02-20 22:40] quanjielin commented on #11898
I see, thanks !

[2019-02-20 22:41] douglas-reid opened #15733 "Ensure that telemetry is flushed in event of proxy shutdown"
This may already happen as a result of envoy's graceful shutdown. However, we should validate that batched reports that have not been pushed are flushed to istio-telemetry in the case of a shutdown.

kNative use case of short-lived pods is one example of use case where this sort of guarantee was requested.

/cc @kyessenov @mandarjog

[2019-02-20 22:45] kyessenov commented on #11819
@atrifan

Can you please try the experimental mixer build gcr.io/istio-testing/mixer:e8e0310daa61208f030a82dfec0661cd2ca5cc6f and add the following to your OOP:
1. add keepalive max connection age to server parameters:
[code]
2. make the service for OOP adapter headless

[2019-02-20 22:46] Bessonov commented on #10062
@dkrieger we had very bad experience with consul and docker and because I don't even look at consul connect. Look at [Linkerd 2](https://linkerd.io/2/reference/architecture/). It's another sidecar-based solution. I hope https://github.com/istio/istio/issues/11366 can resolve some problems, but I'm not deep enough in this topic.

BTW, check it [with this one](https://github.com/istio/istio/issues/1

[2019-02-20 22:47] liminw commented on #11402
These are two similar issues.
https://github.com/istio/istio/issues/11865
https://github.com/istio/istio/issues/11868

[2019-02-20 22:47] douglas-reid commented on #11893
Does this provide a way to have, say, authoritative source labels injected on requests?  If so, at a minimum, it gives us a way to provide richer telemetry in multi-cluster setups where the local mixer doesn't have remote API server access.

[2019-02-20 22:48] douglas-reid commented on #11898
Let's still do a validation test to ensure that everything works as expected, if we can.

[2019-02-20 22:51] dkrieger commented on #10062
@incfly  @mabushey

The crucial edit to the default DestinationRule in my case was `host: "*.local"` -> `host: "*.svc.cluster.local"`, that was the final missing piece that I had overlooked when looking at the DestinationRule described in <https://github.com/istio/istio/issues/10062#issuecomment-453119184> (thanks @Bessonov).

It's not obvious to me why the previous configuration worked for HTTP,

[2019-02-20 22:57] therealmitchconnors opened #11919 "Default Prometheus Config drops data on rescheduling"
**Describe the bug**
The istio chart installs prometheus, configuring it to store data in ephemeral storage.  This means all data is lost any time prometheus is rescheduled.

**Expected behavior**
prometheus data should be stored in a persistent volume by default

**Steps to reproduce the bug**
helm install istio
kubectl delete -n istio-system $(kubectl get pod -n istio-system -l app=prometheus --

[2019-02-20 23:02] dkrieger commented on #10062
'*.svc.cluster.local' as well as your solution of explicitly defining the desired service and applying the DestinationRule to the same namespace suggests that the namespacing had a lot to do with the issue. I installed istio 1.0.5 to the cluster using a barely modified set of values w/ the distributed helm chart, so maybe some default config improvements ought to be made in an upcoming point relea

[2019-02-20 23:03] lei-tang commented on #11899
The fix for this issue is at: https://github.com/istio/istio.io/pull/3316

[2019-02-20 23:09] bdecoste opened #11920 "preliminary 1.1 doc "Citadel Health Checking" fails when deploying citadel health checking"
**Describe the bug**
{{
https://preliminary.istio.io/docs/tasks/security/health-check/

$kubectl apply -f install/kubernetes/istio-citadel-with-health-check.yaml
serviceaccount/istio-citadel-service-account configured
service/istio-citadel configured
The Deployment "istio-citadel" is invalid: spec.template.metadata.labels: Invalid value: map[string]string{"istio":"citadel"}: `selector` does not ma

[2019-02-20 23:32] kramvan1 opened #11922 "Conformance Tests or E2E against existing Cluster with Istio installed"
**Describe the feature request**
Would like to formally request some type of Conformance tests for Istio.

In the mean time I found: `/tests/e2e_istio_preinstalled.sh` but it does not seem to be working anymore.    It's a simple script, but the underlying make tasks are still trying to setup helm and other pieces.    For this case, I'm thinking of having the kubectl, istioctl already in the path,

[2019-02-20 23:32] kramvan1 commented on #11922
cc @linsun

[2019-02-20 23:36] mabushey commented on #10062
@dkrieger @Bessonov

Thanks for your notes here. For me, Istio is production ready with the following considerations:

1. Any new Istio version needs to be fully tested. Quirks will probably surface that need to be resolved before deploying to prod. The community is awesome.
2. Some services just don't seem to work with a sidecar, such as services that initiate outgoing SSL connections. For these,

[2019-02-20 23:38] ostromart commented on #11868
Hi, it's not possible to upgrade from template install using "helm upgrade" - the upgrade command only works when you have Tiller installed:
https://istio.io/docs/setup/kubernetes/helm-install/#option-2-install-with-helm-and-tiller-via-helm-install
You can choose one of the following:
1. Use template install process, then upgrade by repeating the same steps for the target version.
2. Use helm till

[2019-02-20 23:43] ostromart commented on #11865
Please follow the steps for 1.1:
https://istio.io/docs/setup/kubernetes/helm-install/#option-2-install-with-helm-and-tiller-via-helm-install
Note that you cannot upgrade from template installed Istio using "helm upgrade", per https://github.com/istio/istio/issues/11868
You have to stick with the same method for both versions (either template or tiller).

[2019-02-20 23:52] mabushey commented on #11824
You could run haproxy in your cluster configured to do this. I'm not aware of egress load balancing in either k8s or Istio.

[2019-02-20 23:59] mabushey commented on #11891
Also, I know you looked at #11606 , but if that is not fixed by 1.1 you might want to add `namespace: default` to these examples. Even if that gets fixed, the possibly still exists for the ServiceEntry (I'm assuming this is similar in behavior to VirtualService) to be applied to multiple namespaces if the Active namespace changes and the file is applied again.

[2019-02-21 00:13] mabushey commented on #11891
Are you sure about Pypi? It uses port 3128.

My current pypi egress config:
[code]

[2019-02-21 00:18] mabushey commented on #11891
In the github example, you have some duplicated IP's, as well as inconsistent spacing:
[code]

[2019-02-21 00:19] kyessenov opened #15732 "flaky/failing test: mixer_fault_test"
Clean build with bazel 0.22:
[code]

/assign @duderino

[2019-02-21 00:33] zhqworld commented on #11868
@ostromart Just tried with option2 (helm tiller to install and upgrade) on a different cluster and the issue still exist.

[2019-02-21 00:47] ostromart commented on #11868
Could you share your entire install and upgrade command history so I can try to repro?

[2019-02-21 00:57] mandarjog opened #11925 "Istio Authn warns too frequently on use of PERMISSIVE mode"
With 1.1 RC0, if PERMISSIVE mode is configured, proxy warns too frequently flooding the logs.
This is potentially logging on every request.

This can make PERMISSIVE mode unusable.

[code]

[2019-02-21 00:57] mandarjog commented on #11925
/cc @wattli

[2019-02-21 01:01] yangminzhu commented on #11925
Looking into this. We only log when the authn filter is first initialized in proxy, so it seems envoy is initializing the authn filter very frequently.

[2019-02-21 01:09] howardjohn opened #11926 "(1.1 rc0) BookInfo traffic Request Routing does not work when using istio-demo-auth.yaml"
**Describe the bug**
Bookinfo is failing to route appropriately when installed using the demo.yaml files.

This script was ran:
[code]

Then opened `http://${GATEWAY_URL}/productpage`. Page shows different versions of reviews every time.

**Expected behavior**
The page should show the v1 review page every time.

**Steps to reproduce the bug**
Run script above (replace with your project though). It

[2019-02-21 01:13] 13567436138 opened #11927 "can istio.slack.com admin invite me to join"
my email is 195446040@qq.com

[2019-02-21 01:27] zhqworld commented on #11868
Actually same command "helm upgrade" was used for the install and upgrade:
install
[code]

upgrade:
[code]

[2019-02-21 02:00] zhqworld commented on #11865
Updated the issue, it is about `helm dep update` failure.

[2019-02-21 02:08] gyliu513 commented on #11415
Also some related requirement at https://github.com/istio/istio/issues/6312#issue-332622356

FYI @clyang82

[2019-02-21 02:14] vadimeisenbergibm commented on #7603
@edalford11 VirtualService is not required starting from https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.1-20190214-09-16/. We just updated the task to reflect that https://preliminary.istio.io/docs/tasks/traffic-management/egress/#access-an-external-https-service.

[2019-02-21 02:22] hzxuzhonghu commented on #11893
This is the intended behavior for k8s.  K8s discourages update pod directly which belong ro a Deployment or RS.

But overall `downward API with volume mount` can help proxy update labels/annotations. Which currently dont support I think.

[2019-02-21 02:22] myidpt commented on #11915
I will work on this issue. Closing this one and use #11078 to track.

[2019-02-21 02:22] #11915 closed

[2019-02-21 02:23] hzxuzhonghu commented on #11893
Agree, we should watch the mounted files and restart envoy when changes.

[2019-02-21 02:47] linsun commented on #11927
check under members: https://github.com/istio/community/blob/master/ROLES.md#role-summary

you need to gain membership first

[2019-02-21 02:47] #11927 closed

[2019-02-21 02:48] irisdingbj commented on #11557
Error getting logs from pod/container istio-citadel-d74945c45-499qq/citadel: exit status 1: Error from server (BadRequest): container "citadel" in pod "istio-citadel-d74945c45-499qq" is waiting to start: trying and failing to pull image

Checking the post-submit, almost all the beginning testing failes due to it fails to pull image and deploy istio within 480 seconds.  It succeed in the following

[2019-02-21 02:48] #11856 closed

[2019-02-21 03:10] esnible commented on #11891
@mabushey I was unable to get pypi working on release-1.1-20190214-09-16 and I am looking into it.  I was unable with your pypi and with my pypi setup.  Mine was able to do "pip search istio" which I was unable to do with yours.  I am diagnosing why "pip install nose" and "pip install --upgrade pip" are failing.  I am using pip 19.0.1, which version are you using?

I will fix the duplicated github

[2019-02-21 03:23] mdhume commented on #10822
@hzxuzhonghu Is there a way to reproduce this issue? We would like to confirm that it does not reoccur in 1.0.6.

[2019-02-21 03:23] osswangxining commented on #10971
I met the same issue for multcluster mesh using multiple control planes. I am using 1.1-snapshot6 version,  expected a 200, but instead I got: upstream connect error or disconnect/reset before headers .  Any suggestions?

[2019-02-21 03:32] esnible commented on #11891
@mabushey For my setup, I also needed pythonhosted.org.  I added that.  Only port 443 was needed.  I do not understand why you need 3182.

[2019-02-21 04:04] esnible opened #11929 "Flaky Test: CircleCI e2e-pilot-auth-v1alpha3-v2"
Different symptom than https://github.com/istio/istio/issues/7863

https://circleci.com/gh/istio/istio/332939?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link failed because of

[code]

[2019-02-21 04:04] yangminzhu commented on #11893
/cc @yangminzhu @diemtvu

@douglas-reid I think here we're only changing where to get the labels. Before we get it in the sidecar-injector and now we're trying to get it directly from the k8s api server via the mounted file. There is no difference after this step. So if we want to put the label in the request, we still need to do some other work.

We will need this for the migration of the auth v2

[2019-02-21 04:16] #4087 closed

[2019-02-21 05:11] iftachsc commented on #11824
In Kubernetes you can create a service and then creates the endpoints it’s loadbalancing on manually with the iOS of the actrual external vms and it will do load balancing on them as long as they match its labels just like regular pods. I could do that but then I would have to set the serviceentry with something like serviceName.namespace which is ok but I mean use a dns and I choose. Dns record f

[2019-02-21 05:22] douglas-reid commented on #11893
@yangminzhu well, right now, labels are coming from Mixer's k8s adapter in most policy/telemetry scenarios. and it is coming from the api server (not from the sidecar injector). if we can reliably get authoritative pod labels at the proxy, the mixer client can put that info into the headers for http/grpc.  this also has potential implications for simplifying mixer v2 approaches.

/cc @mandarjog

[2019-02-21 05:43] DuoyueBa opened #11931 "membership is wrong in envoy stats when there are two headless services using same port"
**Describe the bug**
{{ We have two headless services using same port in one namespace.
  Namesapce: chuntche
  headless services:  chuntche-managed-server1, chuntche-managed-server2
  Pod:  chuntche-managed-server1 for service chuntche-managed-server1
           chuntche-managed-server2 for service chuntche-managed-server2
           chuntche-admin-server is another pod in same namepace

`$ kubec

[2019-02-21 06:38] Sanbornzhang opened #11933 "when istio-injection=enabled on default ns could not crated pod"
**Describe the bug**
when `istio-injection=enabled` on default  ns could not created po
[code]
[code]
[code]
**Steps to reproduce the bug**
install istio with [quick-start](https://istio.io/docs/setup/kubernetes/quick-start/)
1. `kubectl apply -f install/kubernetes/helm/istio/templates/crds.yaml `
2.  `kubectl apply -f install/kubernetes/istio-demo.yaml `

**Version**
- istio version
[code]
- kube

[2019-02-21 06:39] chakravarthy392 opened #11934 "Istio-1.0.5 TC failures are observed on Intel"
**Describe the bug**
Below TCs are failing
1. pilot/pkg/serviceregistry/kube
2. mixer/pkg/config/store
3. security/pkg/probe

**Expected behavior**
All TCs should pass

**Steps to reproduce the bug**

#install Go and Helm
mkdir -p $GOPATH/src/istio.io && cd $GOPATH/src/istio.io
git clone https://github.com/istio/istio.git
cd istio
git checkout 1.0.5
cd $GOPATH/src/istio.io/istio
make build
make te

[2019-02-21 07:14] Sanbornzhang commented on #11933
when reinstall istio  get log
[code]

[2019-02-21 07:16] #4101 closed

[2019-02-21 07:35] mandarjog commented on #11925
fixed.

[2019-02-21 07:35] #11925 closed

[2019-02-21 07:40] morvencao opened #11936 "Make 'sidecar' works for ingress/egress gateway"
**Describe the feature request**
In Istio 1.1, we have a new API called `sidecar` which provides a way to restrict the set of services that the proxy can reach when forwarding outbound traffic from the workload, thus much less envoy configuration for each sidecar if there are lots of services in the cluster.

However, sidecar will not restrict set of inbound/outbound services for the ingress/egres

[2019-02-21 07:42] morvencao commented on #11936
/cc @gyliu513 @clyang82

[2019-02-21 08:08] marcin-kasinski commented on #11910
Hello.
Thank you for anwser.
I'm not talking about tracing istio components.

I'm talking about my custom solution.

I have simple springboot app.
It send directly zipkin spans to my jaeger server.

Without istio spans are sampled and sent to jaeger.
With istio spans are not sampled

Spring boot app configuration is the same in both, with istio and without.

[2019-02-21 08:16] robertpanzer opened #11937 "Istio-Proxy leaks memory on ServiceEntry updates"
**Describe the bug**
I have a minimal setup of Istio 1.1.0-snapshot.6 with a single Deployment.
When I repeatedly create and delete the same ServiceEntry the memory consumption of the Istio-proxy next to my service only goes up to > 200MB.

**Expected behavior**
When ServiceEntries are deleted the memory that was claimed before should be freed again.

**Steps to reproduce the bug**
Install Istio 1

[2019-02-21 08:30] liamawhite commented on #11682
This will be fixed when we move to CNI or Kube implements the sidecar proposal. In the meantime, would [this](https://github.com/istio/istio/issues/7136#issuecomment-441769401) work?

[2019-02-21 08:37] vishal-yadav opened #11938 "1.1.0-rc-0: egress gateway proxy doesn't log the curl request when routing external HTTP service"
**Describe the bug**
As per step 6 of [Configure Egress Gateway](https://preliminary.istio.io/docs/examples/advanced-gateways/egress-gateway/#egress-gateway-for-http-traffic), proxy in egress gateway should log the curl request for step 5, but it doesn't.
[code]
See detailed egress gateway proxy logs [here](https://pastebin.com/361N7PC9).
[code]
[code]
[code]

**Expected behavior**
egress gateway

[2019-02-21 09:18] robertpanzer commented on #11937
Just retested with 1.1.0-rc.0 and it seems like this is fixed.

[2019-02-21 09:24] artoruis commented on #7450
We need this too, we need to limit the source to be within a CIDR.

[2019-02-21 09:55] robertpanzer commented on #11937
Reopening again, I didn't realize that after the installation of 1.1.0-rc.0 pilot didn't start due to the resource requests.
Memory consumption seems to rise slower now, but I easily got to >100MB, and that with a single ServiceEntry!

[2019-02-21 10:02] bangau1 opened #11939 "Can't Provision Custom Istio Ingress Gateway Controller in different namespace using Helm"
**Describe the bug**
Using helm installation (1.0.5) and adding another helm value file to define custom Ingress Gateway Controller, the helm installation failed with following error:
[code]
Previously I was using Istio 1.0.0 version and it works as expected. Pretty much using approach like this: https://stackoverflow.com/a/51840872/476917

**Expected behavior**
Not sure why there is change behavi

[2019-02-21 10:02] ymesika commented on #11938
If you are missing the access log then you may want to add a `--set global.proxy.accessLogFile="/dev/stdout"` flag to enable it and print to stdout.

[2019-02-21 10:03] emedina commented on #9113
After some research, I think I spotted the issue for my use case: it's related to the `HAProxy` I use as the load balancer to the `Istio Ingress Gateway`, so when I skip the `HAProxy` and use directly a `NodePort`, it works perfectly.

I presume there is some misalignment with low-level TCP configuration between the `HAProxy` and the `Envoy` running inside the `Ingress Gateway` (or something simil

[2019-02-21 10:04] vishal-yadav commented on #11938
Same for [HTTPs traffic](https://preliminary.istio.io/docs/examples/advanced-gateways/egress-gateway/#egress-gateway-for-https-traffic).

[2019-02-21 10:10] vishal-yadav commented on #11938
Thanks @ymesika let me try...

[2019-02-21 10:17] vishal-yadav commented on #11938
Looks like access logs need to be redirected to /dev/stdout to observe the curl request log.
Closing the issue.

[2019-02-21 10:17] #11938 closed

[2019-02-21 12:53] VenkateshSrini commented on #10568
@esnible ,
Thanks for your inputs. We tried the same in Docker Desktop for windows and Mac. But still we are not able to get the same working.  Could you please tell what port number you used to get the same working via browser. Did you use 80 or 31380.

[2019-02-21 14:01] ozevren commented on #10500
[08_ingress.log](https://github.com/istio/istio/files/2889556/08_ingress.log)
[11_ingress.log](https://github.com/istio/istio/files/2889557/11_ingress.log)

I tried this both 0.8 and 1.1. with *no* MCP. Similar to @esnible's steps, I got it to work in 0.8, but not in 1.1. Attaching the ingress config dump for either case.

[2019-02-21 14:08] bdecoste opened #11943 "preliminary 1.1 doc "Distributed Tracing Overview" has incorrect/old productpage.py"
**Describe the bug**
{{
https://preliminary.istio.io/docs/tasks/telemetry/distributed-tracing/overview/

Doc references incorrect/old productpage.py source:

def getForwardHeaders(request):
    headers = {}

    if 'user' in session:
        headers['end-user'] = session['user']

    incoming_headers = [ 'x-request-id',
                         'x-b3-traceid',
                         'x-b3-spanid

[2019-02-21 14:18] esnible commented on #10568
I used port 31380, and I was using IBM Container Service.

Remember, it is the Ingress Gateway that routes traffic and enforces your Istio policies.  So all traffic entering the mesh should go through the IP:port for the Ingress Gateway.

[2019-02-21 14:35] linsun commented on #11415
curious why we can't achieve this by not injecting sidecars to the pods in the namespaces you don't want istio to manage?

[2019-02-21 14:43] nrjpoddar commented on #11910
I see. I didn’t understand the problem clearly.

I’m guessing you have the service defined `zipkinjaeger` in the default namespace? Based on the warning it looks the Ingress is not able to resolve this DNS name.

Do you have mTLS turned on globally? If so, you might need to add a DestinationRule which says don’t use TLS when talking to `zipkinjaeger.default.svc.cluster.local` as that Pod doesn’t h

[2019-02-21 14:43] clyang82 commented on #11415
@linsun Yes. if you don't want istio to manage, you can achieve it by not injecting sidecar to the pod. the current issue is `citadel` watch/list all namespace or a namespace sa to create secret for it. cannot support multiple namespaces.

[2019-02-21 14:48] linsun commented on #11415
@clyang82 sorry the user impact isn't clear to me.  Please explain how the limitation of citadel watch list serviecaccount in all namespaces or a namespace will impact a user.   And if user can work around this limitation by not injecting sidecars to pods they don't want to be managed by istio.

[2019-02-21 15:19] atrifan commented on #11819
@kyessenov  thanks I will try this tommorow and come back with an input

[2019-02-21 15:22] clyang82 commented on #11415
The real case is there are some existing resources/apps in some namespaces, we do not want to touch the existing ones. now we want to use istio to manage the new apps/services in new namespaces. I think that is a typical case to adopt istio for service mesh. right now, we cannot specify multiple namespaces to be managed by citadel, because citadel only handles all namespaces or just a namespace. s

[2019-02-21 15:40] linsun commented on #11415
@clyang82 are you saying we would change existing namespaces by creating service accounts there which can cause the apps behavior changes within the existing namespaces?  (if user chooses to use citadel for all namespaces).

[2019-02-21 16:04] frankbu commented on #8444
@BarDweller: Nice. Would you consider contributing an [Istio blog](https://preliminary.istio.io/blog/) post to describe how you create a lua filter? Since there aren't any decent examples of an EnvoyFilter, I think it would be of interest to both Istio and Envoy communities.

[2019-02-21 16:13] anthonyhaussman opened #11945 "LoadBalancer trafficPolicy returns 503 errors / Mixer Unavailable cluster"
Istio version: **1.0.6**
Kubernetes server version: **v1.13.2**

Hi,
I have installed istio without mutual TLS authentication and modified the DiscoveryRefreshDelay to have by default 30s configured.

I have followed instructions to install the bookinfo application in a namespace *bookinfo* using :
 - samples/bookinfo/platform/kube/bookinfo.yaml
 - samples/bookinfo/networking/virtual-service-all-v

[2019-02-21 16:36] jakubigla opened #11946 "Istio Pilot vulnerabilites"
**Describe the bug**
I scanned Istio Pilot Docker container with Anchore Engine 0.3.1.
It produced a report with 543 vulnerabilites. Happy to provide a full list, when required.

**Expected behavior**
I expect there will be no vulnerabilites or a minimal number so it's easier to mitigate them.

**Version**
docker.io/istio/pilot:1.0.5

[2019-02-21 16:39] BarDweller commented on #8444
@frankbu Sounds like a plan =) I'll probably convert the experience into a conf talk later this year too. How do I go about submitting a post?

[2019-02-21 16:44] esnible commented on #11929
https://circleci.com/gh/istio/istio/333452?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link failed, same reason, the map was `map[200:498 503:2]`.

[2019-02-21 16:50] esnible commented on #11887
https://circleci.com/gh/istio/istio/333460?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link failed.  This is a PR that adds more logging of test flakes so I have more information about the failure.  When e2e-pilot-auth-v1alpha3-v2-non-mcp failed due to "Deployment rollout ends after [16m0.000143144s] with err [context deadline exceeded]" I the pods were in this st

[2019-02-21 17:22] frankbu commented on #8444
Just send a PR to https://github.com/istio/istio.io/ with your post in an `index.md` file. There are some special markup conventions that we use. Here are some instructions: https://preliminary.istio.io/about/contribute/creating-and-editing-pages/

You can copy my recent post and use it as a template, since it uses most of the markup features you will need: https://github.com/istio/istio.io/blob/m

[2019-02-21 17:42] myidpt commented on #11415
@linsun The only thing Citadel modifies the existing namespaces is that it creates secrets for all the serviceaccounts in the namespace. It doesn't cause app behavior change, as long as the apps don't rely on the Citadel-created secrets (which shouldn't). But supporting multi-namespace still offers some benefits VS. all-namespace:
1. Better security. Citadel signing key is less used.
2. Citadel ma

[2019-02-21 17:45] ozevren opened #11947 "Istioctl warns about not being able to exec into Pilot pod"
https://preliminary.istio.io/help/ops/component-debugging/

ozben@recyclebin:~/istio/istio-1.1.0-rc.0/bin$ ./istioctl proxy-status
Warning! error execing into istio-pilot-69fb5878b-27stb/istio-system discovery container: gc 1 @0.015s 8%: 0.008+2.7+1.4 ms clock, 0.017+0.21/0.43/1.5+2.8 ms cpu, 4->4->2 MB, 5 MB goal, 2 P
gc 2 @0.026s 12%: 0.012+2.8+1.6 ms clock, 0.025+0.14/0.63/2.0+3.3 ms cpu, 4->4-

[2019-02-21 17:45] ozevren commented on #11947
Tested on both linux and mac.

[2019-02-21 17:47] mabushey commented on #11891
@esnible Maybe I'm wrong and my pypi doesn't work... I thought pypi used port 3182. If yours works and mine doesn't it's hard to argue. ;)

[2019-02-21 17:51] #7395 closed

[2019-02-21 18:01] jmazzitelli commented on #9504
Saw this myself just today on 1.1.0-snapshot.6. I had installed bookinfo demo which was working... then I deleted the namespace and reinstalled it, and then a bunch of sidecar proxies failed with the errors reported by others here.

I would delete one pod individually (productpage for example) it would restart fine and the proxy container would start fine. But if I deleted all the pods at once, mo

[2019-02-21 18:01] howardjohn commented on #11887
The change also introduced a new `values-e2e.yaml` file that is used by these tests, so the requests shouldn't have changed. I looked through this file and it looks like the total cpu requests are around 700m, which should be low enough - looks like minikube is started up with defaults, which uses 2 cpus.

What is odd though is in https://circleci.com/gh/istio/istio/333460?utm_campaign=vcs-integra

[2019-02-21 18:04] ozevren opened #11948 "With gdb section is confusing / has missing items"
1. The kubectl exec line is missing a shell argument (i.e. sh as the last argument)
 kubectl exec -it PODNAME -c [proxy | mixer | pilot]

2. The page talks about debug images, but there is no info/link readily available for obtaining those.

[2019-02-21 18:05] ozevren commented on #11948
Submitting as a 1.1 issue for triage, but most likely something that needs to be fixed generally.

[2019-02-21 18:13] howardjohn commented on #11887
The test generates `istio-auth.yaml` then ignores it and uses `istio-auth-mcp.yaml` instead which isn't generated with the values-e2e.yaml file. I think this is the cause.

[2019-02-21 18:14] ozevren opened #11949 "Introspection page lacks details on how to use ctrlz in a running cluster"
https://preliminary.istio.io/help/ops/controlz/

It would be ideal to guide the user to reach the controlz page for the Kubernetes deployments as well. i.e.

[code]

[2019-02-21 18:17] jmazzitelli commented on #11832
PR https://github.com/istio/istio/pull/11833 merged. We can close this now.

[2019-02-21 18:17] #11832 closed

[2019-02-21 18:32] JimmyCYJ opened #11951 "[Quick Start with Kubernetes] Use Helm and Tiller to manage the Istio deployment fails"
**Describe the bug**
When following [option 4](https://preliminary.istio.io/docs/setup/kubernetes/quick-start/#option-4-use-helm-and-tiller-to-manage-the-istio-deployment): Use Helm and Tiller to manage the Istio deployment. [step 3](https://preliminary.istio.io/docs/setup/kubernetes/helm-install/#option-2-install-with-helm-and-tiller-via-helm-install) fails.
[code]

**Expected behavior**
Install

[2019-02-21 19:03] ostromart commented on #11808
Could you try doing auto-injection and send the output of the sidecar-injector log? Just run tail on it, create pod and send the stuff that comes out of the logs for that bit only.

[2019-02-21 19:07] douglas-reid opened #11954 "istio-policy tracespans show up without root spans"
**Describe the bug**
Running through the Rate Limit task on istio.io, I went to check the tracespan data in Jaeger. I discovered that the `istio-mixer` spans show up as disconnected from their parent spans, and the traces are labeled as `trace-without-root-span`.

![jaeger-mixer-check](https://user-images.githubusercontent.com/21148125/53194424-2743d900-35c8-11e9-938b-af7d3a8bbee6.png)

Meanwhile,

[2019-02-21 19:16] kyessenov opened #11955 "mixs crd adapter produces different CRDs from helm"
Auto-generated CRD by mixs crd:
[code]

Helm version:
[code]

[2019-02-21 19:27] howardjohn commented on #11926
Reproduced on 1.1 rc0

[2019-02-21 19:31] ayj commented on #11760
`istioctl validate` was originally intended to provide limited client-side configuration validation, similar to what the server-side webhook provides. Checking non-istio objects may be more appropriate for something like https://github.com/aspenmesh/istio-vet.

[2019-02-21 19:35] opotmans commented on #11808
you can see the logs about which is in fact repetitive. It seems that this works. the logs is activated by modifying the deployment config of the sidecar injector. I activated  - '--log_output_level=default:debug' according to the post of Jonh Wendell
Is it the logs you expect?
Olivier

[2019-02-21 19:39] howardjohn commented on #11926
Ran again without auth and it worked as expected, so looks like this is isolated to `istio-demo-auth.yaml`

[2019-02-21 19:40] opotmans commented on #11808
above not about sorry :-)

[2019-02-21 19:46] ayj commented on #11955
I'm thinking the auto-generated CRD should go away once MCP becomes the only config API for Mixer (and/or Mixer is subsumed into the Proxy).

[2019-02-21 19:51] kyessenov commented on #11955
We still need to generate CRDs somewhere, right, be it mixer or galley?
I think we were going to deprecate most of the CRDs anyways, but as of 1.1, this is not working as expected.

[2019-02-21 20:15] louiscryan opened #11957 "Upgrade fails from 1.0.6 to 1.1RC0 - pilot validation of exportTo"
**Describe the bug**
Failure in upgrade from 1.0.6 to 1.1 RC0

**Expected behavior**
Component upgrade works

**Steps to reproduce the bug**
Follow 1.0.6 installation steps
Install 1.0.6 BookInfo sample
Follow upgrade instruction (non-Tiller) for auth-enabled

**Version**
1.1RC0

**Installation**
See above

**Environment**
Kubernetes-In-Docker

**Cluster state**

See the following error message ru

[2019-02-21 20:22] ozevren commented on #11949
Issue moved to [istio/istio.io #3344](https://github.com/istio/istio.io/issues/3344) via [**ZenHub**](https://www.zenhub.com/)

[2019-02-21 20:22] #11949 closed

[2019-02-21 20:22] ozevren commented on #11948
Issue moved to [istio/istio.io #3345](https://github.com/istio/istio.io/issues/3345) via [**ZenHub**](https://www.zenhub.com/)

[2019-02-21 20:22] #11948 closed

[2019-02-21 20:26] #11739 closed

[2019-02-21 21:10] ozevren commented on #11955
I don't think we need to generate these CRDs in this fashion with the new Mixer config model, right? Once those CRDs are deprecated and removed this functionality should go away.
@douglas-reid any thoughts on whether we need to reconcile the currently checked-in CRDs with the generated ones?

[2019-02-21 21:15] kyessenov commented on #11955
I marked the command as deprecated in #11958

[2019-02-21 21:15] ostromart commented on #11808
I may be missing it because there's a lot of output. If it's there would you mind just grabbing and pasting that again?
I'm looking for the sidecar-injector pod output after a pod is created.

[2019-02-21 21:21] ayj commented on #11957
dup of https://github.com/istio/istio/issues/11555?

[2019-02-21 21:25] douglas-reid commented on #11955
what is the diff here?  it is just the helm cruft, right?

[2019-02-21 21:30] kyessenov commented on #11955
In my very limited understanding, helm treats a label change as upgrade-breaking.

[2019-02-21 21:32] howardjohn commented on #11926
Also confirmed this happens when installed with helm and `--set global.mtls.enabled=true`

[2019-02-21 21:34] douglas-reid commented on #11955
where did the `"app"` label come from?  i figured helm itself added it.

[2019-02-21 21:36] kyessenov commented on #11955
https://github.com/istio/istio/blob/release-1.1/install/kubernetes/helm/istio-init/files/crd-11.yaml#L69

[2019-02-21 21:53] costinm commented on #11658
So pilot has the endpoints, a DR change (which triggers full push) fixes it. And the endpoints are stable - so somehow when the connection happened the cluster was not sent.

I don't think the 'incremental' part is the root cause - disabling incremental just makes it that any change of endpoint anywhere in the cluster is doing a full push, hiding the problem.

[2019-02-21 22:14] sbezverk opened #11960 "Envoy reports deprecation"
**Describe the bug**
pilot log filled with this warning:
[code]

It is experienced with release-1.1 branch

[2019-02-21 22:16] duderino commented on #10873
@kyessenov @mandarjog would really love an update here

[2019-02-21 22:17] mandarjog commented on #10873
This is done, it is available in 1.1 now.

[2019-02-21 22:17] #10873 closed

[2019-02-21 22:21] kyessenov commented on #11960
You need to set ISTIO_PROXY_VERSION to 1.1 or later for this to go away.

[2019-02-21 22:23] kyessenov commented on #11960
Is this happening per request or per config load?

[2019-02-21 22:26] sbezverk commented on #11960
@kyessenov it looks like a series of message per config load:
[code]

[2019-02-21 22:49] ayushpateria commented on #11682
We tried that already. There's a problem with that approach - it does keep the envoy proxy from shutting down immediately at SIGTERM, but even if envoy is alive, the inbound listener is removed as soon as the pod endpoint is deleted from the service. And all the subsequent connections are rejected.  There's a push from pilot to the istio-proxy to delete the inbound listener when that pod is delete

[2019-02-21 23:04] kyessenov commented on #11960
OK. I think we can tolerate extra noise for 1.1. We can patch the static configs after the release to use `typed_configs`. Static configs are only loaded once per proxy restart AFAICT.

[2019-02-21 23:18] #11315 closed

[2019-02-21 23:52] ostromart commented on #11957
Yes it's the same issue, this is a transient condition, the solution is now to wait a bit longer for the old galley to go away :-P

[2019-02-21 23:59] ayj commented on #11957
If at first you don't succeed ...

[code]

[2019-02-21 23:59] #11957 closed

[2019-02-22 00:19] howardjohn opened #11961 "istio*.yaml generation in Makefile needs refactoring"
Currently we have a bunch of `istio*.yaml` files generated. These are used for testing (ex: istio-auth-mcp.yaml), release (ex: istio-demo.yaml), and examples that are not used anywhere (ex: values-istio-googleca.yaml).

Currently these are built, mostly, with a target `isti%.yaml`. `generate_yaml` calls `updateVersion`, which builds creates all the yaml files we need. Except for some, which are bu

[2019-02-22 00:20] adityats2020 commented on #11830
Digging into the build files a bit, it looks like pre-built istio proxy binaries are required for building the docker image.
https://github.com/istio/istio/blob/master/bin/init.sh#L93-L97

[This script](https://github.com/istio/proxy/blob/master/script/release-binary) seems to be the place where the binary is built. I don't understand the context behind having to build this binary in Ubuntu as see

[2019-02-22 00:26] duderino commented on #11868
@linsun this bug was discovered when testing the pod disruption budget in https://github.com/istio/istio/issues/9951 . can you take a look?

[2019-02-22 00:27] p4ali commented on #11937
What even worth is, if keep deleting/adding serviceentry, ultimately the envoy process within the istio-proxy will be restarted.

This can be verified by running the following script:
`for i in $(seq 1 100); do echo "round $i: add servcieentry"; kubectl apply -f se_test.yml; sleep 10; echo "delete servcieentry";kubectl -n dep-se-test delete serviceentries.networking.istio.io wmt-subnets; kubectl -

[2019-02-22 00:28] bradenwright commented on #11741
@rshriram Ok so this is working as explained, and I was able to get multiple dns entries working via wildcard.  A little weird that specific hostnames aren't supported but I'm working and it DRY'd out my above code so many thanks!

Can you explain what will collide and won't won't, specific reason I'm asking is that this got me working for multiple CloudSQL instances.  I also need the same cluster

[2019-02-22 00:29] bradenwright commented on #11741
I'll make sure to close the ticket I just want to document a little more here in case anyone else runs into this

[2019-02-22 00:33] duderino commented on #11868
@linsun  actually nevermind.  my mistake

[2019-02-22 00:40] douglas-reid opened #11962 "Jaeger deployment needs annotation for prometheus path"
**Describe the bug**
Prom collection of jaeger metrics fails, as no path is specified in annotations. The default path is `/metrics`, but because we specify `QUERY_BASE_PATH=/jaeger`, this fails.  It should be `"prometheus.io/path": "/jaeger/metrics"`.

**Expected behavior**
metrics collected for jaeger process.

**Steps to reproduce the bug**
deploy istio 1.1-rc0

**Version**
istio 1.1-rc0

**Ins

[2019-02-22 00:53] duderino commented on #9992
A fix to retry failed policy/quota checks on transport error made it into 1.1RC0 with retries set to 0 by default.  As we get experience with it we may default retries to 1+ and we may do this in a 1.1.x release.

Example from @howardjohn to enable it:

[code]

[2019-02-22 00:53] #9992 closed

[2019-02-22 01:01] ostromart commented on #11865
This was a stale doc issue which was fixed in https://github.com/istio/istio.io/pull/3276
If you refresh your docs, they should be up to date now.
You should not run helm dep update anymore, only helm repo add.
We had a lot of complaints about the extra dep update step, so that's why it was removed.

[2019-02-22 01:17] duderino commented on #11937
@silentdai could you take a look at this?  I'm not sure if it's in the mixer filter or envoy itself.  I think it's in envoy.

CC @costinm @PiotrSikora

[2019-02-22 01:18] clyang82 commented on #11415
@myidpt Thanks for your explanation.
@linsun  @myidpt I agree with this feature is non-blocking issue. but it is a big user experience improvement. Otherwise, it makes big noise for our customers.

[2019-02-22 01:30] PiotrSikora commented on #11937
Could you check and/or upload config dump from the proxy, before and after? I'm wondering if the add/remove dance results only in new entries being added to the proxy, but never removed:
[code]

Also, Envoy uses tcmalloc, so maybe some of this memory is freed, but not released back to the operating system:
[code]

Thanks!

[2019-02-22 01:58] dmitri-d opened #11964 "Cannot run bookinfo on a full installation of istio"
**Describe the bug**
When running full istio install (per https://preliminary.istio.io/docs/setup/kubernetes/helm-install/#option-1-install-with-helm-via-helm-template) on minikube with suggested config settings (--memory=8192 --cpus=4 --kubernetes-version=v1.13.0), bookinfo fails to deploy with "0/1 nodes are available: 1 Insufficient cpu." error.

**Expected behavior**

**Steps to reproduce the

[2019-02-22 02:00] dmitri-d commented on #11964
This is due to cpu limits on sidecar containers. Increasing the number of cpus available to minikube to 6 resolves the issue.

[2019-02-22 02:03] howardjohn commented on #11964
We recently bumped up the CPU requests, so we probably just need to update the docs to indicate more cpus. Maybe also add a note that you can use the demo file to use much less resources, as needing such a big cluster could be off putting if they don't know about the demo files

[2019-02-22 02:05] howardjohn commented on #11961
Proposal:
* We make folders for all of the value files: `install/kubernetes/helm/istio/{release,testing,example}-values`.
* We make two targets: one for release, another for testing. Testing has testing values applied. We don't build examples (we currently do not either).
* We ensure ONLY the examples end up in the final release (talking about the value files - istio-demo.yaml will still be in the

[2019-02-22 02:18] edude03 commented on #10360
As far as I can tell, this is still an issue in 1.0.6. I updated two days ago, and still see this issue a few times a day

[2019-02-22 02:30] louiscryan opened #11966 "503 on first call to service within mesh"
**Describe the bug**
Consistently get a 503 on first call to a service through a proxy. Reproduced with ingress gateway in bookinfo sample

**Expected behavior**
No 503 on first call

**Steps to reproduce the bug**
Install 1.0.6
Install bookinfo
Upgrade to 1.1RC0

**Version**
1.1RC0

**Installation**
Per site docs

**Environment**
Running on Kubernetes-In-Docker on Mac

**Cluster state**

[2019-02-22 02:31] louiscryan commented on #11966
Log from gateway during 503 with loglevel-debug

Not that if policy is disabled in the mesh this does not occur

[code]

[2019-02-22 02:33] dmitri-d commented on #11964
Yet another thing we could do would be to add another istio config -- full install, but with reduced cpu limits. As you pointed out 6 cpu limit is starting to push the requirements too high, but there's a value in being able to demo the "full" install (if someone wants to try tracing, telemetry, etc).

[2019-02-22 02:33] silentdai commented on #11937
@robertpanzer Thank you for the detailed report! I will take a look today.
@PiotrSikora Thanks for the comment!

[2019-02-22 03:32] VenkateshSrini commented on #10568
We also used the same but for some reason it is failing. May be we will try with some managed cluster and I will revert

[2019-02-22 03:32] louiscryan commented on #11966
OK, the error is in the downstream sidecar in its call to mixer

[code]

[2019-02-22 03:39] louiscryan commented on #11966
Just as before eventually the TLS handshake succeeds and the call progresses. Will try to get logs from mixer sidecar next

[2019-02-22 03:56] louiscryan commented on #11966
... was user error. Somehow ended up with two policy jobs in the same repo, one with auth & one withut. TCP round-robin caused the intermittent handshake failure.

Interesting that this did not retry and fail over to another connection

@duderino what is the current state of retrying calls to mixer ?

[2019-02-22 04:17] trevorlinton commented on #9944
I believe this I related to https://github.com/istio/istio/pull/11496 and
https://github.com/istio/istio/issues/9030

[2019-02-22 04:33] trevorlinton commented on #9030
I've pulled down the version of Istio after @JimmyCYJ made commit 19 days ago (
https://github.com/istio/istio/pull/11496) and tried it against letsencrypt

I installed the latest nightly chart for Istio 1.1.x, and followed the instructions yet to be released but posted here: https://github.com/istio/istio.io/pull/3224/files

I end up with these errors in my ingress gateway pod:

[code]

It looks

[2019-02-22 05:27] iandyh opened #11967 "Pods created with istio injection are not accessible if no service is created"
Looking at the new changes: https://github.com/istio/istio/blob/b8e30e07ec7b36cf1ba1b445b78c81fdf0d417b9/pilot/cmd/pilot-agent/status/ready/probe.go#L42

sidecar proxy will mark itself as not ready if no service is created(no listeners being pushed from the pilot). This somehow makes senses if you think service is a switch for network layer.

This also breaks liveness/readiness check for the main

[2019-02-22 06:10] JimmyCYJ commented on #9030
Thanks for trying it out. Looks like the gateway agent sends empty TlsCertificateValidationError.CertificateChain back to ingress gateway. Probably the gateway agent extracts empty cert chain from secret. I will test it tomorrow.

[2019-02-22 07:44] morvencao opened #11968 "Traffic shifting doesn't work in mTLS mode for Istio-1.1.0-rc.0"
**Describe the bug**

1. Download Istio-1.1.0-rc.0 from https://github.com/istio/istio/releases/download/1.1.0-rc.0/istio-1.1.0-rc.0-linux.tar.gz
2. Extra and install Istio via yaml:
[code]
3. Wait until all pods for Istio are running:
[code]
4. Deploy the bookinfo application with manual sidecar injection:
[code]

5. Wait until all pods for bookinfo are running:
[code]

6. Apply the bookinfo gate

[2019-02-22 07:45] opotmans commented on #11808
Of course!
when I activated in the container sidecar-injector the log in debug mode by changing the deployment file of it like that:
...
- args:
- '--caCertFile=/etc/istio/certs/root-cert.pem'
- '--tlsCertFile=/etc/istio/certs/cert-chain.pem'
- '--tlsKeyFile=/etc/istio/certs/key.pem'
- '--injectConfig=/etc/istio/inject/config'
- '--meshConfig=/etc/istio/config/mesh'
- '--healthCheckInterval=2s'
-

[2019-02-22 08:12] robertpanzer commented on #11954
Just experienced the same running on local Docker for Mac with 1.1.0-rc.0.

[2019-02-22 08:46] shalako commented on #9944
The CF team hasn’t started working on it; would love for someone to pick it up!

[2019-02-22 08:52] victorboissiere commented on #9582
I have no idea what was causing the issue. However, since the update to Istio 1.0.4 (we are still using this version) everything has been smooth since.

Google Istio offering option only offers Istio 1.0.3 for now (in beta). So we did not tried to test it in our QA environments yet.

[2019-02-22 08:59] liamawhite commented on #11682
@rshriram are we able to leave inbound listeners in place on pod shutdown?

[2019-02-22 09:19] zhaohuabing opened #11971 "Established TCP connection destroyed when Envoy receives configuration from Pilot"
**Describe the bug**
Pilot is periodically pushing the xDS configuration to Envoy even there is no change, causing established TCP connections in Envoy broken.

Client side gets a lot of  " unexpected end of stream on Connection".

Example: java.io.IOException: unexpected end of stream on Connection{172.168.40.61:12282, proxy=DIRECT hostAddress=/172.168.40.61:12282 cipherSuite=none protocol=http/1

[2019-02-22 09:28] Deepika1010 commented on #8406
I am also facing same issue, any luck?

[2019-02-22 09:33] gbaufake opened #11972 "Mixer runtime error: invalid memory address or nil pointer dereference"
**Describe the bug**

- Mixer blocks connections on service mesh. On Mixer log (attached) there is a recurrent message: error	panic during handler dispatch: runtime error: invalid memory address or nil pointer dereference
goroutine 378 [running]:

**Expected behavior**
 - Mixer should not reference a nil address memory

**Steps to reproduce the bug**

- Deploy Istio

- Deploy any operator which ha

[2019-02-22 09:59] silentdai commented on #11937
My experiment shows that RSS or server.memory usage was increasing but ceased some how.
https://gist.github.com/silentdai/0e887c3c0452a848cc0e788d24bbab73
I don't have theory so far. Will continue investigation tomorrow.

[2019-02-22 11:04] VenkateshSrini commented on #10568
@esnible ,
I wanted to ask one more thing, when you installed the istio cluster.. What version did you choose? I have istio 1.0.5. Also when you installed the same on kubernetes cluster did you install the cluster using istio-demo.yaml or istio-demo-auth.yaml? I had used istio-demo-auth.yaml.

[2019-02-22 11:08] objectiser commented on #11954
Will try to take a look when back 1st week of March.

[2019-02-22 11:49] pms1969 opened #11973 "Auto envoy injection to nginx-ingress-controller not working."
**Describe the bug**
As with issue #4840, I am unable to get istio to auto-inject the envoy proxy as a sidecar to my nginx-ingress-controller.  It does however inject the default-backend.

When I look in the logs for the sidecar-injector, I see:
[code]

for the default-backend I get:
[code]

There is obviously some policy at play here that I don't know about.  I just haven't been able to find it.

[2019-02-22 11:58] ChrisCooney commented on #9385
Any thoughts on this from the core contributors?

[2019-02-22 12:13] osswangxining opened #11974 "[Helm chart - Prometheus]Cannot support --storage.tsdb.path customization and its persistence using persistentVolumeClaim"
Currently Prometheus Helm chart does not include the storage.tsdb.path parameter (only includes --storage.tsdb.retention and --config.file), so it cannot support customization, and also cannot use PV/PVC to persist the data.
-------------------------
- name: prometheus
          image: "{{ .Values.hub }}/prometheus:{{ .Values.tag }}"
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}

[2019-02-22 12:23] monkeymorgan commented on #7646
I'm going through a similar process with istio 1.1.0-snapshot.5 and have found that you can configure pilot to use just Roles as opposed to ClusterRoles if you
a) set --appNamespace to the workload namespace (it can't be a separate namespace unfortunately since otherwise pilot won't discover the policy cluster and reports/checks from envoy proxies will fail)
b) add a Role for the tenant and for th

[2019-02-22 12:43] monkeymorgan commented on #7608
Note, from experimentation I found that the pilot option --appNamespace cannot refer to a different namespace than the istio control plane NS since it limits discovery to a single NS. In order for the policy pods to be in the mesh --appNamespace needs to be istio-system (or whenever you have installed istio control plane). In effect you need to install your workload in the control plane NS.

[2019-02-22 13:08] chakravarthy392 opened #11975 "JWT test failures in Istio"
I have built Proxy and Istio from source on a big endian system.
While running tests, I am facing below failures:
**Proxy:**

**Istio:**

Already an issue has been raised regarding Proxy TC failures https://github.com/istio/proxy/issues/1841 , got a reply that the failures are not critical https://github.com/istio/proxy/issues/1841#issuecomment-403924482. These proxy TCs can be ignored as long as

[2019-02-22 13:11] bdecoste opened #11976 "preliminary 1.1 doc "Jaeger" results in jaeger instance that does not detect bookinfo services"
**Describe the bug**
{{
https://preliminary.istio.io/docs/tasks/telemetry/distributed-tracing/jaeger/

Following the install steps (below) the jaeger instance only detects the jaeger-query service. It does not detect the bookinfo services (i.e. under Find Traces/Service you only see 1 service = jaeger-query)

The problem appears to be the default sampling rate. If you start istio with the followin

[2019-02-22 13:16] christian-posta commented on #11971
Looks similar? https://github.com/istio/istio/issues/7045

Are you on 1.0? Can you try one of the newer point releases and see whether that helps?

[2019-02-22 13:35] monkeymorgan opened #11977 "1.1 Soft multi-tenancy support"
**Describe the feature request**

As noted in https://github.com/istio/istio/issues/7608 the blog post on https://istio.io/blog/2018/soft-multitenancy/ is a little out of date however with some effort you can configure istio to constrain many components to act within a single namespace and thus support a limited from of multi tenancy.

My suggestion is that istio supports these three deployment mo

[2019-02-22 13:44] christian-posta commented on #9113
This is something the OpenShift folks might have some thoughts on as OpenShift by default uses an HAProxy ingress. @knrc @jwendell ?

[2019-02-22 14:16] linsun commented on #11415
I agree writing secrets to non-istio-managed namespaces is a huge surprise to our users.  Conceptually it doesn't cause app behavior changes when app doesn't use the secrets, however it can be huge concern for banking customers.

[2019-02-22 14:24] esnible commented on #10568
I cannot recall which versions of Istio I tested your app with.  I have been using 1.0.5, 1.1 snapshot 6, and 1.1 daily builds as well.

I install using `helm template` according to the instructions at https://istio.io/docs/setup/kubernetes/helm-install/#option-1-install-with-helm-via-helm-template

[2019-02-22 14:45] knrc commented on #9113
@christian-posta I'm not aware of this impacting us as of yet but I'll keep an eye on it, the race mentioned above does seem to be a likely suspect.  @emedina if you have a reproducer then I can take a look to see how it behaves on our system.

[2019-02-22 15:07] sdake commented on #11977
There is a new feature in 1.1 called the sidecar custom resource.  In addition to Istio's netowrking rbac, I think its possible to implement soft multitenancy, but this requires R&D.

The blog post doesn't actually isolate network traffic, which would be required to meet my definition of soft mulitenancy.

Cheers
-steve

[2019-02-22 15:09] sdake commented on #11964
@dmitri-d we discussed this topic in the env WG on wednesday.  I believe the proposals were to use the profiles for this work.

Cheers
-steve

[2019-02-22 15:12] linsun commented on #11909
After fixing up the mesh config default in #11950, got this error now

[code]

[2019-02-22 15:17] esnible opened #11978 "Rare installation problem"
I install using the instructions at https://preliminary.istio.io/docs/setup/kubernetes/helm-install/#option-1-install-with-helm-via-helm-template

I am installing use IBM Container Service.

Most of the time the install proceeds perfectly.  Occasionally when I get to step 6, `helm template $HOME/istio-fetch/istio --name istio --namespace istio-system | kubectl apply -f -` I get an error.

(actuall

[2019-02-22 15:18] sdake opened #11979 "sidecar pilot doesn't initialize"
**Describe the bug**
Something is borked in 1.1 daily releases (or my install is borked).

Applier sidecar spins with this log (for 50+ minutes before I gave up):
[code]

**Expected behavior**
application sidecar initializes properly.

**Steps to reproduce the bug**
1. Install Istio with following values.yaml
[code]

1. label the default namespace

1. Install this manifest:
[code]

**Version**
dai

[2019-02-22 15:19] sdake commented on #11979
@sbezverk had reported in his environment (bare metal or vms?) - that the same thing happens but killing the pilot pod gets things operational.  I killed pilot, and same result.

Cheers
-steve

[2019-02-22 15:30] jmazzitelli commented on #11979
I was seeing the same things yesterday. @knrc was also seeing this.

I reproduced simply by installing bookinfo, then "kubectl delete namespace bookinfo", then re-installing bookinfo. Most (but not all) of my bookinfo pods had their sidecars fail to start with the same error as in the OP.

Interestingly, if I just deleted on pod (say the productpage pod), I would see it scale back up and the proxy

[2019-02-22 15:34] jmazzitelli commented on #11979
@sdake this may be a dup of https://github.com/istio/istio/issues/9504

[2019-02-22 15:36] knrc commented on #11979
@sdake We hit this yesterday and I'm investigating, we have a simple reproducer so it's not too difficult to test at the moment

[2019-02-22 15:43] sdake commented on #11979
@knrc cool fair enough.

Note I tested with this hub and tag as well with no love:

[code]

[2019-02-22 15:46] pms1969 commented on #11973
OK.  So I tried injecting into the deployment manually, and got this:
[code]

A little digging later, and it turns out you can't do injection on host-network installs of nginx.  Is there some way to work around that?  We set up an NLB to port forward ports 80/443, and a few others, to the cluster on those ports.  Changing to ClusterIP or Loadbalancer screws with the security groups.  In the case o

[2019-02-22 15:51] sbezverk commented on #11979
@knrc Based on logs I saw there was something with the path to certificate:

do you see this error in your log?
[code]

[2019-02-22 15:57] eclipse612 commented on #1756
Hi,

+1 for Zy's question. I think it would be great to have a view of what are the different aspects needed for IPv6 support in the mesh and in gateways, and what's the status and priority for each of them.

I also think gateways are top prio, but at some point it should be possible to get fully IPv6 based meshes - I'm thinking of existing applications that are introducing Istio and don't necessa

[2019-02-22 15:59] knrc commented on #11979
@sbezverk No, I'm seeing the same error as @sdake.  I investigated the envoy side yesterday and confirmed the missing listener, I'm now going through pilot and am suspecting a race on deployment.

[2019-02-22 16:02] sbezverk commented on #1756
I am in the process of trying/making istio release 1.1 functioning on ipv6 only kubernetes cluster. It resulted a couple of PRs, one of them was merged and second one required reviews:
https://github.com/istio/istio/pull/11916
https://github.com/istio/istio/pull/11861
I am planning to go through the complete ipv6 deployment cycle as it is required by my customer.

[2019-02-22 16:06] sdake commented on #11979
@sbezverk the problem you found is caused by a race with citadel creating certs and the mounting of said certs in the deployment (I think).  I believe this will self-resolve once the certs are created and remounted, but could be mistaken.

[2019-02-22 16:11] sdake commented on #11979
none of the workarounds that @nmittler suggested work for me.

[2019-02-22 16:16] esnible opened #11982 "istioctl authn tls-check documentation doesn't match implementation"
https://preliminary.istio.io/docs/reference/commands/istioctl/#istioctl-authn-tls-check documentation doesn't match command.

The documentation says the syntax is `istioctl authn tls-check <pod-name[.namespace]> [<service>] [flags]`  If I actually give it two arguments it reports a syntax error:

[code]

The actual command says the syntax is `istioctl authn tls-check [<service>] [flags]`

The docu

[2019-02-22 16:21] esnible opened #11983 "istioctl authn tls-check does not function"
To reproduce, install Bookinfo, then `istioctl authn tls-check reviews`

I get an error:
[code]

The error does not occur if no service is entered.

I am also not clear what a valid value for `<service>` would be.  The example when supplying `--help` is fully qualified.  I tried a bunch of examples, nothing reported anything different.

[2019-02-22 16:23] sbezverk commented on #11979
@sdake how about restart pilot pod? Worked for me 100% of times..

[2019-02-22 16:25] emedina commented on #9113
@knrc @christian-posta Going through testing to try to figure out the right configuration, but as a initial teaser, changing `option httpclose` to `option http-server-close` seems to lower the number of `503s`, although they still appear.

[2019-02-22 16:27] sdake commented on #11979
```kubectl delete po -n istio-system pilot-XYZ```

[2019-02-22 16:30] denniseffing commented on #8860
This issue should be reopened, as the mergecd PR has not made it into the latest release (1.0.6).

[2019-02-22 16:51] incfly commented on #11415
What if we just set rbac to disallow citadel to write to certain NS, will
citadel still work for the rest?

Just brainstorming alternative. I do think add native support in citadel is
better option.

On Fri, Feb 22, 2019, 6:16 AM Lin Sun <notifications@github.com> wrote:

[2019-02-22 17:22] douglas-reid commented on #11954
@robertpanzer i need to verify if the dependency patch we pushed recently made into rc0. it may be the solution.

[2019-02-22 17:29] mandarjog commented on #9385
Readiness for gateways is available in 1.1-RC0.
[code]

[2019-02-22 17:29] #9385 closed

[2019-02-22 17:39] knrc commented on #9504
@knrc FYI We have a reproducer for this, as mentioned on #11979, and I'm actively investigating

[2019-02-22 17:41] duderino commented on #11979
@knrc is the effective assignee

[2019-02-22 17:42] duderino commented on #11979
@costinm please help

[2019-02-22 17:47] pnambiarsf opened #11984 "Make cert location watched by pilot agent configurable"
**Describe the feature request**
Make cert location used by pilot-agent configurable such that pilot-agent can watch for cert changes on bare metal hosts where we don't have control over /etc and therefore certs cant be delivered to the default location - /etc/certs/

**Describe alternatives you've considered**
There is no alternative for bare metal hosts.

**Additional context**

[2019-02-22 17:47] duderino commented on #11979
actually, closing this as a duplicate of #9504 since that has more state

[2019-02-22 17:47] #11979 closed

[2019-02-22 17:48] duderino commented on #9504
@knrc will do this.  Thanks Kevin

[2019-02-22 18:05] bianpengyuan commented on #11972
Looks like ref.Controller could be nil here https://github.com/istio/istio/blob/master/mixer/adapter/kubernetesenv/cache.go#L147

[2019-02-22 18:13] Nino-K commented on #11379
Going to close this issue since the PR is merged, @ayj feel free to re-open if needed.

[2019-02-22 18:16] vadimi commented on #9385
@ChrisCooney it's actually available already in istio 1.0.6. We use `/healthz/ready` endpoint with AWS ALB. The only problem is it is disabled by default, you need to enable it by using
[code]
in istio-ingressgateway. Then you need to map port 15020 to whatever NodePort you need to feed it to the loadbalancer config.

[2019-02-22 18:42] monkeymorgan commented on #11977
I can't find any information on sidecar custom resource @sdake although I suspect it's not exactly what I'm looking for. My main goal is to support a one control plane to many tenant namespaces with as few clusterroles as possible and as little risk of impact to non mesh tenants on the same cluster.

For network traffic isolation I used a simple network policy on the control plane :

[code]

To al

[2019-02-22 18:53] douglas-reid opened #11985 "Tracing stopped working overnight"
**Describe the bug**
Started cluster with tracing enabled. Left it running over night. ~24h later, i sent 10000+ requests through the cluster. Somehow, this resulted in no traces being generated.

Jaeger's own monitoring reports:

[code]

This shows the only spans being collected were from the jaeger app itself, with no dropped spans and none received via `zipkin` format.

**Expected behavior**
Tr

[2019-02-22 19:13] vaisov commented on #10319
Same here with 1.0.6

[2019-02-22 19:21] #11985 closed

[2019-02-22 19:33] douglas-reid commented on #11954
Digging a bit, it appears Mixer is sending data with 64bit traceids vs. the 128bits being used elsewhere.

[2019-02-22 19:54] costinm commented on #11658
Current status: it seems the root problem is envoy not getting some endpoints - the CDS cluster is sent ( based on the stats ), Pilot has the endpoints in memory - and it appears that a full push will send them properly.  Both the change in DR, pilot restart or turning off incremental EDS ( which results in frequent updates ) are recovering. So a full push updates - but somehow in some cases it ge

[2019-02-22 20:14] silentdai commented on #11937
This is what I collected 10 hours after the previous comment. https://gist.github.com/silentdai/97f80b3ae47543b668b2c4ea2e0993f7#file-gistfile1-txt-L35-L36

[code]
envoy returned the allocated memory to malloc system (18505040 -> 7097904) while the heap size remains the same (22020096 -> 22020096) as tcmalloc doesn't return memory to OS.

So far the conclusion is that envoy doesn't leak at my side

[2019-02-22 20:44] costinm commented on #11658
Found the problem, kube-system is actually excluded by code.

Needs to be fixed in 1.0 and 1.1 branches - seems like a release blocker, but easy to fix (since calls to apiserver and dns can both fail in unexpected ways)

[2019-02-22 20:59] rshriram commented on #11520
this has been fixed by #11905

[2019-02-22 20:59] #11520 closed

[2019-02-22 21:12] rshriram commented on #11658
@Stono can you create a service Entry for kube-system with resolution DNS ? I think that should solve the problem

[2019-02-22 21:13] douglas-reid commented on #11954
Example trace of a request:
- traceid for full request: `c494993019fe102aa8135e5b0c0fdf4c`
- traceid of suspect Mixer `Check` calls: `a8135e5b0c0fdf4c` (the lower 64bits from the request)
- headers recorded by `istio-policy`: `x-b3-spanid:cfeceaae372fb255 x-b3-sampled:1 x-b3-parentspanid:644b7ad4ef9f57d1 x-b3-traceid:c494993019fe102aa8135e5b0c0fdf4c`

[2019-02-22 21:20] rvegaGolf opened #11987 "Postgres not routing"
**Describe the bug**
Not able to connect to postgres deployment despite ingress port being opened, gateway configured, virtualservice configured, and destinationrule set to single point.

**Expected behavior**
Should be able to connect to postgres using ingress IP and port.

**Steps to reproduce the bug**
Gateway config:
[code]

VirtualService config:
[code]
DestinationRule config:

[code]
Service

[2019-02-22 21:36] Stono commented on #11658
I can, but, I don't understand why this is a problem on one cluster, but not the other two, when they're **identical**, other than the number of services deployed.

If it was something as deterministic as what you're both saying, i'd see consistently across clusters?

[2019-02-22 21:37] skydoctor commented on #7002
@douglas-reid: Is this possible? This would be quite useful and has a very broad use-case. Say you don't know the set of source IPs sending requests towards your server but want to limit the rate to  100 per unique IP.

[2019-02-22 21:41] salehmashal commented on #8443
I have faced the same issue,
The problem was the Istio sidecar proxy need to be privileged and has the "NET_ADMIN" capability,  but at the same time, the pod has securityContext to run with user 1001, which does not have the "NET_ADMIN" capability, which is making the istio sidecar to not be able to start.
 **The solution was moving the security context from the pod level to the container level.**

[2019-02-22 21:51] myidpt commented on #11920
I will try to fix if the health check. If the feature is broken and hard to fix, we may remove this feature for now.

[2019-02-22 22:01] douglas-reid commented on #11954
The jaeger zipkin http transport still hardcodes traceid() low values:

`TraceID:           int64(span.context.traceID.Low), // TODO upgrade zipkin thrift and use TraceIdHigh`

[2019-02-22 22:02] douglas-reid commented on #11954
so, that will need to be addressed in the client library.

[2019-02-22 22:23] krg7880 commented on #10319
I'm also experiencing this issue - Tested v1.0.6 and used the following options to generate the manifest:

[code]

[2019-02-22 22:28] incfly commented on #10210
/cc @incfly

[2019-02-22 22:36] howardjohn opened #11990 "helm Down/Upgrading Istio 1.1 <-> 1.0.6 fails"
**Describe the bug**

With Istio 1.1 installed:

[code]

**Expected behavior**
We should be able to downgrade to Istio 1.0.6 from 1.1

[2019-02-22 22:43] howardjohn commented on #11990
Can't go the other way either.

Starting with 1.0.6:
[code]

[2019-02-22 22:50] sdake commented on #9504
This happens 100% of the time on my Azure cluster with the manifest in https://github.com/istio/istio/issues/11979.

Cheers
-steve

[2019-02-22 23:16] ozevren commented on #10503
andrewshan@, yangdihangN@, as Nino and Jason mentioned, we are moving towards an MCP based solution for our Istio components. I am closing this issue. Feel free to reopen if you think there is actionable work that can be done within the context of Istio.

[2019-02-22 23:16] #10503 closed

[2019-02-22 23:18] mandarjog opened #11992 "statsInclusion annotation does not work because it is an invalid value"
[code]

[2019-02-22 23:24] ozevren commented on #11955
Marking this as P1 and keeping it as 1.2. @douglas-reid, I assume 1.2 is the right release for removing this, as I assume there are no more incoming built-in adapters planned? (So that we won't need this?)

[2019-02-22 23:28] ozevren commented on #11978
I assume this is 1.1?

[2019-02-22 23:29] #11982 closed

[2019-02-22 23:29] ozevren commented on #11982
Issue moved to [istio/istio.io #3360](https://github.com/istio/istio.io/issues/3360) via [**ZenHub**](https://www.zenhub.com/)

[2019-02-22 23:38] ozevren commented on #11874
As @hzxuzhonghu mentioned, you can use the dynamic client to delete CRDs (not just Istio).

[2019-02-22 23:38] #11874 closed

[2019-02-22 23:39] ozevren commented on #11853
Can we close this?

[2019-02-22 23:47] #11853 closed

[2019-02-22 23:49] Nino-K commented on #11379
https://github.com/istio/istio/pull/11994

[2019-02-22 23:54] ozevren commented on #6481
Subsumed by https://github.com/istio/istio/issues/11787

[2019-02-22 23:54] #6481 closed

[2019-02-22 23:56] ozevren commented on #6055
CRD per adapter model is going away. Keeping the bug around for posterity.

[2019-02-22 23:57] yangminzhu commented on #9308
Fixed by #9344

[2019-02-22 23:57] #9308 closed

[2019-02-22 23:59] ozevren commented on #10169
Custom CRD per instance model is going away. The CRD is deprecated, and should go away in future releases.

[2019-02-22 23:59] #2082 closed

[2019-02-23 00:01] sdake commented on #11979
@costinm found the root cause.  My manifest was incorrect.

The labels for the manifest of the service and deployment didn't match.  This caused weird errror results in the sidecar pilot-proxy.  Perhaps other folks are suffering with this same false symptom of the readiness check failing.

[2019-02-23 00:02] sdake commented on #9504
Not sure if this is helpful for everyone, but it may be helpful for some:  https://github.com/istio/istio/issues/11979#issuecomment-466589814

TLDR - these errors will result if the service and deployment label don't match.  The error looks like a readiness check problem.

[2019-02-23 00:04] ozevren opened #11995 "Remove Citadel dependency from Injection webhook"
Splitting this off from the original, for better tracking: https://github.com/istio/istio/issues/8736

[2019-02-23 00:05] ozevren commented on #8736
Splitting this into two issues for better tracking The Sidecar Injection bug is tracked separately here:
https://github.com/istio/istio/issues/11995

[2019-02-23 00:08] #9274 closed

[2019-02-23 00:11] kyessenov commented on #11979
Interesting, there is no requirement for labels to match between deployment and service in k8s... Service labels must select over pods, but the selector can be less restrictive.

[2019-02-23 00:12] kyessenov commented on #11979
Ah, ok. I see that pod template and service don't match.

[2019-02-23 00:16] #2103 closed

[2019-02-23 00:18] ozevren commented on #3456
This is not actionable at this point. Closing.

[2019-02-23 00:22] ozevren commented on #7822
@mandarjog With the current Mixer V2 plan, is this issue obsolete?

[2019-02-23 00:28] #3457 closed

[2019-02-23 00:28] #3456 closed

[2019-02-23 00:33] douglas-reid commented on #11954
I have a fix for the underlying client library that results in the following:

![joint-trace](https://user-images.githubusercontent.com/21148125/53278679-846e8600-36bf-11e9-9cf3-92a1e93d6d64.png)

[2019-02-23 01:02] mehemken opened #11997 "Can I use Istio version X.X with Kubernetes version X.X?"
**Describe the feature request**

I'd like to know the latest version of Istio I can use with Kubernetes version 1.10.11-gke.X. A compatibility table would help here. I am asking for a compatibility table.

**Describe alternatives you've considered**

I've briefly considered just running the latest version of Istio with my kubernetes cluster, but I need to know that it will work. The reason I am i

[2019-02-23 01:11] ostromart commented on #11808
No, that's not what I expect to see, which is why I was confused about the logs. This is some debug output with the debug mode just showing the injector successfully registering as a webhook.
Could you try this again without debug mode?
I normally expect to see something like the below, which basically patches the admission request with the sidecar container. In your case, I don't think the admiss

[2019-02-23 01:13] ostromart commented on #11957
eventual consistency!

[2019-02-23 01:14] #11865 closed

[2019-02-23 01:28] ostromart commented on #11402
Since there's no update, I'm going to make a guess that this was due to a missing helm repo.
I verified that 1.0.4->1.1.0-rc.0 works.
@iandyh if you want to try it again, could you try with rc0 and the new & improved upgrade instructions on preliminary.istio.io? Make sure you have the correct helm repo installed.
If you hit a problem, please open a new bug.

[2019-02-23 01:28] #11402 closed

[2019-02-23 01:33] hzxuzhonghu commented on #11967
@iandyh I am not sure if you have noticed the pr by @incfly ,which rewrite the liveness/readiness probe. Can help resolve the probe failure.  But It does not help to access directly from outside.

@rshriram @costinm Any commments?

[2019-02-23 01:38] lei-tang commented on #11848
The PR fixes this issue is at: https://github.com/istio/istio.io/pull/3364

[2019-02-23 01:42] hzxuzhonghu commented on #11967
https://github.com/istio/istio/pull/10470/

[2019-02-23 01:49] hzxuzhonghu commented on #11967
For kubernetes  pod, I think we can get the container port and generate a listener for it.     Just as it has a associated service with ip = podIP and port=conatinerPort.  We should also assume the protocol is TCP

[2019-02-23 02:46] kyessenov commented on #11957
Just like our CI ;) If you keep trying, it will eventually work.

[2019-02-23 03:06] douglas-reid commented on #7002
@skydoctor it is certainly possible and is part of the intended behavior.

Example configuration:

[code]

Send two requests for the same source IP, followed immediately by a different IP:

[code]

[2019-02-23 03:48] #11441 closed

[2019-02-23 06:02] yangminzhu opened #12000 "Pilot using wrong Destination Rule when there is no Sidecar resource"
**Describe the bug**
1. Follow the tutorial here: https://preliminary.istio.io/docs/tasks/traffic-management/request-routing/

1. Refresh the page, the reviews part displays black and red stars (unexpected behavior).

**Expected behavior**
The reviews part of the page displays with no rating stars, no matter how many times you refresh.

**Steps to reproduce the bug**
Follow the tutorial here: http

[2019-02-23 06:04] yangminzhu commented on #11926
Maybe related to #12000

[2019-02-23 11:32] emedina commented on #9113
Also did some basic testing using Google Cloud with `httpbin` and `fortio` running a minimal load test (10 qps using 10 threads) against `/html` and `/json` endpoints, and I get `503` errors:

Code 200 : 5998 (100.0 %)
Code 503 : 2 (0.0 %)

I know that Google Cloud may not be using the latest Istio, but I'm wondering how Google can provide this functionality when a basic test fails so easily.

And

[2019-02-23 13:43] zhaohuabing commented on #11971
This issue occurred also in the latest 1.1 branch. I built pilot binary
from 1.1 branch commit
93f74d7

On Fri, Feb 22, 2019, 9:17 PM Christian Posta <notifications@github.com>
wrote:

[2019-02-23 16:25] howardjohn commented on #12000
One additional note is that, at least when I was doing this, disabling mtls also fixes the issue.

[2019-02-23 20:35] myidpt commented on #8661
Thank you folks for this effort. I think this implementation is done and we have verified it's working. Can someone please add a corresponding task to https://preliminary.istio.io/docs/tasks/security/? I can do it as well if no one takes this work :)
@elevran @axel7born @loewenstein

[2019-02-23 21:38] #9562 closed

[2019-02-23 22:38] #1873 closed

[2019-02-23 23:56] yangminzhu commented on #12000
@howardjohn I think that's because the default destination rule in istio-system is only added when mTLS is enabled. When mTLS is disabled, there is no default destination rule in istio-system and Pilot is able to pick the correct destination rule in the default namespace.

/cc @diemtvu

[2019-02-24 01:38] #9472 closed

[2019-02-24 03:38] #8588 closed

[2019-02-24 03:39] sdake opened #12005 "In-cluster applications cannot access kube-apiserver"
**Describe the bug**
An in-cluster application cannot access kube-apiserver.

**Expected behavior**
An in-cluster application can access kube-apiserver.

**Steps to reproduce the bug**
Following the instructions here:
https://preliminary.istio.io/docs/tasks/security/authn-policy/#request-from-istio-services-to-kubernetes-api-server

[code]

I would expect a code 200 here, not a code 35...

**Versi

[2019-02-24 09:13] emedina commented on #9113
More feedback...

Tried `1.1.0-rc.0` in a clean LAB environment running `v1.13.2` and it's still throwing sporadic `503` with a simple load test using `fortio` and two endpoint of `httpbin`:

[code]

As you can see, I'm using the `NodePort` to call the `Ingress Gateway`, so no external impact by HAProxy (just in case). Additionally, this is definitively a very low demanding load test running for `

[2019-02-24 09:40] emedina commented on #9113
Also, I increased the number of `replicas` to `3` for the `httpbin` service in order to discard issues with capacity, but still getting `503` errors on each load test.

[2019-02-24 10:10] #9530 closed

[2019-02-24 11:52] emedina commented on #9113
And another run of `30m` showing, again. `503` errors:

[code]

[code]

[code]

[2019-02-24 12:05] elevran commented on #11241
@sdake the use case above works with long lived certificates. Long lived certificates could be a security risk. It may be preferred to run Citadel with certificates that are short and renewed, much as done for sidecar proxies. I believe @snible is trying to run with Citadel's using short term certificates. We would require a way to renew certificates periodically.

[2019-02-24 12:08] elevran commented on #10205
Seems to be same root cause as #9466 (certs not ready).
Need to
- generate certificates faster (may be possible with SDS and nodeagent); or
- wait (e.g., using init container) for secrets to be populated

[2019-02-24 12:15] elevran commented on #9466
@esnible I believe there are a few of these duplicates - various forms for failures due to certs volume not being ready: #6508, #9659 and #10205

[2019-02-24 13:22] chris-hamper commented on #10588
I ran into this issue as well while running through the quick-start walkthrough at https://istio.io/docs/setup/kubernetes/quick-start/ with a "side-quest" at https://istio.io/docs/setup/kubernetes/helm-install/#option-2-install-with-helm-and-tiller-via-helm-install

It looks like this was a result of outdated/confusing documentation. If you read the instructions carefully on the "Installation with

[2019-02-24 14:55] emedina commented on #9113
Now a valid workaround is to use the `retry` mechanism configurable through `HTTPRetry` in the `VirtualService`, and when `1.1` is finally released, the `retryOn` with `5xx`.

Testing this out with `1.1.0-rc.0` and just a single `attempts: 1` results in no `503` whatsoever:

[code]

[2019-02-24 14:58] vaisov commented on #10319
Tried to use Istio 1.0.0 - automated injector works.

[2019-02-24 14:59] jaygorrell commented on #9113
Any reason you're on the first RC of 1.1? There were a lot of issues on the
early releases, including 1.0 regressions. Not sure if any are specific to
this issue or not though.

On Sun, Feb 24, 2019, 9:55 AM Enrique Medina Montenegro <
notifications@github.com> wrote:

[2019-02-24 15:04] VenkateshSrini commented on #10568
I tried exact same things. But it is not working. Is there some service that I can put the logs to see what is happening internally ?

[2019-02-24 15:06] emedina commented on #9113
@jaygorrell, please take a look at the issue from the beginning, not just my last comment. You will realize that this is happenning since `1.0.1`.

[2019-02-24 15:11] jaygorrell commented on #9113
Please re-read my comment. I'm asking if you tried the lastest 1.1
snapshots instead of release 0... not asking about 1.0 at all.

On Sun, Feb 24, 2019, 10:06 AM Enrique Medina Montenegro <
notifications@github.com> wrote:

[2019-02-24 15:22] Deepika1010 commented on #5686
Any Solution to this error, I am facing the same, using istio-1.0.5:
curl: (35) gnutls_handshake() failed: Error in the pull function.

[2019-02-24 15:27] emedina commented on #9113
No, I haven't tried each and every `1.1` snapshot, but `1.0.1`, `1.0.4`, `1.0.5`, `1.0.6` and latest release `1.1.0-rc.0` show the same issue.

[2019-02-24 15:45] ChrisCooney commented on #9385
Awesome! Thanks @vadimi , i'll take a look. Right now we've got Traefik -> ingress gateway, so could be nice to remove the extra moving part.

[2019-02-24 16:36] Deepika1010 commented on #7284
Hi @robertfreund , facing the same issue, but couldn't understand the solution, please help me in understanding it.

[2019-02-24 19:27] sdake commented on #12005
I'd imagine this is a complete blocker for the adoption of Istio 1.1.  Many folks have in-cluster software that runs - and that wouldn't work with sidecars.  Unfortunately, I don't know how to fix this problem.

I have a cluster from a few weeks ago that doesn't suffer this problem based on a release-1.1, so I am going to bisect the repo to help provide a rough pointer at where the problem was int

[2019-02-24 23:10] #9057 closed

[2019-02-24 23:42] iandyh commented on #11402
@ostromart Sorry for the inactivity. Was busy with checking other issues...

I believe this is due to a invalid configuration in my local and I'll keep an eye on this.

[2019-02-25 02:39] iandyh commented on #11967
@hzxuzhonghu Yes. I fully agree. Sidecar proxy should not break any kubernetes semantics in this case.

I saw the probe fixes is being merged to 1.1. Do you think fixes to this issue will be merged into 1.1 as well? Or we have to wait next releases?

[2019-02-25 03:08] sdake commented on #12005
Note I don't think the environment is relevant here but will rule it out by running rc0 on bare metal.

Cheers
-steve

[2019-02-25 03:27] jaredeis commented on #11847
This is an issue for us as we ship logs to Sumologic and istio is very noisy at info level.

[2019-02-25 03:46] skydoctor commented on #7002
Thanks @douglas-reid! This is great info. So if we specify say 2 dimensions, then the maxAmount specified is per each unique value in those 2 dimensions?

Also, what's the best way to apply quota for specific URL paths?

[2019-02-25 05:26] harpratap commented on #11990
To iterate on this, can't upgrade from Snapshot 5 to 1.1rc-0 either.
`Error: UPGRADE FAILED: Job.batch "istio-init-crd-10" is invalid: spec.template: Invalid value: core.PodTemplateSpec{ObjectMeta:v1.ObjectMeta{Name:"", GenerateName:"", Namespace:"", SelfLink:"", UID:"", ResourceVersion:"", Generation:0, CreationTimestamp:v1.Time{Time:time.Time{wall:0x0, ext:0, loc:(*time.Location)(nil)}}, Deletio

[2019-02-25 06:03] sdake commented on #12005
Running rc0 on bare metal doesn't exhibit this problem.

Seems like an environmental issue.  I had 4 cpus with a total of 7gb of ram available, and startup was timing out (out of memory errors).   Will report more tomorrow.

Cheers
-steve

[2019-02-25 07:33] markserrano915 commented on #9504
This *eadiness.status.sidecar.istio.io/applicationPorts* annotation in my deployment, as stated above, has resolved the issue of:
[code]

(here's the annotation)
[code]

And this is now what I see on the **istio-proxy** logs
[code]

Which exactly matches, the output in egressgateway
[code]

The problem is my service is still dead and inaccessible. When I remove the injection label and reinstall (u

[2019-02-25 08:02] hzxuzhonghu commented on #11967
Since 1.1 will be released very soon, I think we have to wait until 1.2.

[2019-02-25 08:04] hzxuzhonghu commented on #6299
/remove stale

[2019-02-25 08:04] robertpanzer commented on #11937
@silentdai I deleted and created the ServiceEntry at an interval of maybe 5 seconds and reached >100 MB rss after maybe 10 or 20 creates.
This was certainly only to reproduce the bug.

I figured earlier that my services started becoming unresponsive due to the high memory consumption and that was the smallest and fastest reproducer that I could find.
What I want to say is that my approach doesn't

[2019-02-25 09:45] sandeeprapido opened #12011 "How can I make the istio-ingressgateway internal in gcloud"
Istio ingress gateway uses an external load balancer in GKE.
I don't wish to expose Kubernetes applications to the world, instead only applications which are running on Compute instances inside my project cluster should be able to access them.
How can I configure google internal load balancer for the ingress gateway?

istio version: 1.0.6
GKE version: 1.11.7-gke.4

[2019-02-25 09:48] silentdai commented on #11937
@robertpanzer You mentioned you were using istio1.1 snapshot6. Could you verify it again that we deployed the same envoy version by the below command?
[code]
I find that envoy doesn't provide heap profling entry while cpu profiling method is there.

With the future patch we do something like below
- curl -X POST "localhost:15000/heapprofiler?enable=y"  # currently envoy only provides /cpuprofiler

[2019-02-25 09:50] velumaniduraisamy opened #12012 "Pilot needs restart to apply Virtual Service changes for internal calls"
Istio Version - 1.1.0.snapshot.1

I am trying to inject http delay for my service. Ingress calls (via Ingress Gateway) are working as expected where as internal calls (service to service) not reflecting unless  I restart Istio pilot pod.

Below is the virtual service resource
[code]
I have 2 services say A and B. I am calling B directly via Ingress Gateway and also from A.
First time when put dela

[2019-02-25 10:55] #9338 closed

[2019-02-25 12:02] ChrisCooney commented on #7512
@awalmsley  - did you get anywhere with this? Experiencing the same thing now.

[2019-02-25 12:53] xianke9 opened #12015 "helm upgrade fail for 1.1.0-rc.0"
[code]
[code]

[2019-02-25 13:21] brommer opened #12016 "Support of multiple JWT origins with same issuer in Policy for different triggers"
**Describe the feature request**
Assume you want to use a Policy for a composite VirtualService (e.g. on the edge bound to a Gateway) and define multiple JWT configuration, e.g. like here https://github.com/istio/istio/blob/49c978439ddde62f4d5e0cf672976294797cf2fa/tests/e2e/tests/pilot/testdata/authn/v1alpha1/authn-policy-jwt.yaml.tmpl

If the issuer is the same for two config entries, I will not

[2019-02-25 13:33] sdake commented on #12005
Well, this is environmental of some sort.  It isn't azure specific - possibly related to how the kubeapi certs are created in the deployment tooling I am using.  I am removing this from the 1.1 release since it is likely a problem with deployment.

[2019-02-25 13:37] esnible commented on #11978
1.1 RC 0

[2019-02-25 13:42] jkbschmid opened #12017 "Cluster-Aware Service Routing: Hostnames not supported"
**Describe the bug**
[Step 2.1 ](https://preliminary.istio.io/docs/examples/multicluster/split-horizon-eds/#setup-cluster-2) of the example 'Cluster-Aware Service Routing' fails, if a hostname instead of an ip is provided. This is the case, although the documentation explicitly states that 'you can set it to a DNS name instead, if you have one' (see previous step).
[code]

**Expected behavior**
Th

[2019-02-25 13:44] jkbschmid commented on #12017
This issue was discovered during community testing, I'd like to set the milestone 1.1, but I am unable to.

[2019-02-25 13:53] c0d1ngm0nk3y opened #12018 "Example 'Cluster-Aware Service Routing' fails due to timing"
**Describe the bug**
When installing cluster 2 as described [here](https://preliminary.istio.io/docs/examples/multicluster/split-horizon-eds/#setup-cluster-2), step 3 mentions:

[code]

This results in the egress-gateway to fail with an error about missing certs. After restarting the pod, it works.

Reason: The secret is generated in the same step as the egress-gateway that mounts it as optional m

[2019-02-25 13:53] c0d1ngm0nk3y commented on #12018
This came up during community testing for 1.1, unfortunately I am not able to set the milestone.

[2019-02-25 13:53] dansiviter opened #12019 "Istio Not Setting 'x-b3-sampled: 1' when sampling"
**Describe the bug**
When Istio performs a trace sample, based on `sampleProbability` it always informs the receiver to not trace via `x-b3-sampled: 0`. This leads to incomplete traces as the receiver is never informed to perform trace.

**Expected behavior**
Client sends:
* `x-b3-sampled: 0`: Istio and underlying receiver **do not** trace,
* `x-b3-samples: 1`: Istio and underlying receiver **do**

[2019-02-25 13:55] #9531 closed

[2019-02-25 13:56] dansiviter commented on #12019
BTW, I understand that it's not good practice to allow the client to dictate the span behaviour as that could lead to increasing costs on the back-end and potentially hampering performance. However, Istio should be trusted to make a span sample decision which propagates.

[2019-02-25 14:07] sdake opened #12020 "Istio readiness probe failed throughout Istio on AKS (Azure's Hosted platform)"
**Describe the bug**
Depoy Istio rc0 on AKS results in loads of readiness failures and the Istio control plane doesn't start.

**Expected behavior**
The Istio control plane starts.

**Steps to reproduce the bug**
Deploy istio using steps described in **installation**

**Version**
AKS / Kubernetes 1.12.1 + rc0

**Installation**
[code]

**Environment**
Azure AKS

Some extra information:
[code]

[cod

[2019-02-25 14:08] jkbschmid opened #12021 "Cluster-Aware Service Routing: envoy not starting"
**Describe the bug**
Reproducing the example [Cluster-Aware Service Routing](https://preliminary.istio.io/docs/examples/multicluster/split-horizon-eds) for milestone 1.1 is not possible, because [step 2.3 ](https://preliminary.istio.io/docs/examples/multicluster/split-horizon-eds/#setup-cluster-2) (Wait for the Istio pod on cluster2 to come up by checking their status) fails. This is because istio

[2019-02-25 14:08] jkbschmid commented on #12021
Should be milestone 1.1 (community testing)

[2019-02-25 14:08] sdake commented on #12020
This looks sort of odd ``` Host Ports:    0/TCP, 0/TCP, 0/TCP, 0/TCP, 0/TCP, 0/TCP, 0/TCP, 0/TCP, 0/TCP```

[2019-02-25 14:13] sdake commented on #12020
This may be 1.1.1 material - but moving into 1.1 for the moment.  I know @nmittler has done some work around readiness probes, and I recently saw @hzxuzhonghu fixed a related bug to port 0 listeners (although it may not be this actual bug).

Cheers
-steve

[2019-02-25 14:15] sdake commented on #12020
Load balancer looks good:
[code]

[2019-02-25 14:44] sdake commented on #12015
@xianke9 what flags did you use to install originally?  Not that it is relevant to the problem, but it may help me reproduce.

Cheers
-steve

[2019-02-25 14:46] sdake commented on #12020
If any Istio member contributor is willing to debug this issue, ping me, and I'll provide a kubeconfig file for the cluster in question.

Cheers
-steve

[2019-02-25 14:54] sdake commented on #12020
just noticed pilot is pending - insufficient CPU with default install.  WIll increase the CPU core count in the cluster and redeploy.  This is likely an environmental problem but will reset to 1.1 if not.

[2019-02-25 15:09] kramerul opened #12022 "Metrics are not written to stdio"
**Describe the bug**
Logging metrics to stdio is not working with release 1.1

**Expected behavior**

Logging of metrics to stdio is possible

**Steps to reproduce the bug**

[code]
* Collect some traffic e.g using [httpbin example](https://istio.io/docs/tasks/traffic-management/ingress/)

[code]

[code]

**Version**

istio-1.1.0-rc.0

**Installation**

[code]

**Environment**

Kubernetes on Googl

[2019-02-25 15:47] c0d1ngm0nk3y opened #12024 "Quick Start on Docker: Unable to read certificates for pilot"
**Describe the bug**
When following the [quick start guide](https://preliminary.istio.io/docs/setup/consul/quick-start/#installation-steps), the pilot will exit directly after start with the error log

[code]

We also executed step 5, but this didn't change anything.
[code]

**Expected behavior**
Expect pilot to start and not exit immediately.

**Steps to reproduce the bug**
Follow described [step

[2019-02-25 15:48] c0d1ngm0nk3y commented on #12024
This issue was found as part of community testing for 1.1, but we can't set the milestone.

[2019-02-25 15:54] gsf commented on #8057
We are considering as a stop gap creating a deployed service that will listen for updates from sentinel and update a ServiceEntry to match advertised IP addresses. Could that work?

[2019-02-25 15:57] GregHanson commented on #11847
/assign ericvn

[2019-02-25 16:02] Stono commented on #11658
@costinm are you linking a PR to this issue?
Wouldn't want this leaking into 1.1 as it'd make 1.1 unusable for us

[2019-02-25 16:02] jaygorrell commented on #9113
My apologies - I didn't realized a `rc` was out and read that as `snapshot.0`. Sorry about that.

[2019-02-25 16:04] bdecoste opened #12025 "preliminary 1.1 doc "Jaeger" results in jaeger instance that does not detect zipkin services"
Describe the bug
{{
https://preliminary.istio.io/docs/tasks/telemetry/distributed-tracing/zipkin/

Similar to https://github.com/istio/istio/issues/11976

Should add "--set pilot.traceSampling=100" to doc
}}

Expected behavior
{{
Zipkin console detects and displays bookinfo services
}}

Steps to reproduce the bug
{{
Follow doc steps. Install Istio using Step 2 from here: https://preliminary.istio.

[2019-02-25 16:12] GregHanson commented on #11847
@jaredeis is the log level issue a problem at the istio control plane, i.e. pilot/mixer/citadel?  Or is this a problem at the sidecar log level? Or both?  We are working on having an optimized set of helm defaults optimized for performance in 1.1.  For example: https://github.com/istio/istio/pull/11476

[2019-02-25 16:14] jaredeis commented on #11847
It's mixer that's too noisy for us.

[2019-02-25 16:21] frankbu commented on #5686
It's worked for me since the SNI fix.

@cmluciano is the one that seemed to still be having a problem. Is that still the case?

[2019-02-25 16:27] nmittler commented on #7524
@costinm do you have any updates?

[2019-02-25 16:30] dankirkpatrick commented on #9113
@emedina This is exactly the behavior we see.  We have retries turned on as a workaround, but clearly it's not a long-term solution

[2019-02-25 16:36] dankirkpatrick commented on #9113
@christian-posta In my testing, I experience the problem with Istio Ingressgateway, Istio service mesh sidecars, and Ambassador API Gateway (also built atop Envoy).  I do not see this error at all when using an Nginx Ingress Gateway.

[2019-02-25 16:52] #11898 closed

[2019-02-25 17:51] Hongwei-Wang opened #12027 "Istio sidecar injection is not concurrent with k8s pod creation"
**Describe the bug**
Istio sidecar injection is usually slower than k8s pod creation, which causes the pod in the `CrashLoopBackOff` status for the first seconds.
As I measured, pod creation takes about less than 5 seconds, while istio side injection takes over 10 seconds.

**Expected behavior**
Istio sidecar injection should be concurrent with k8s pod creation

**Steps to reproduce the bug**
1. C

[2019-02-25 18:00] douglas-reid commented on #7002
@skydoctor please see the `request.url_path` attribute (https://preliminary.istio.io/docs/reference/config/policy-and-telemetry/attribute-vocabulary/).

[2019-02-25 18:29] myidpt commented on #11415
@incfly I have a naive question: so it seems there's a way to specify Kube RBAC for a service account to access resources in a specific set of namespaces? I'd like to learn how to do that if it's possible.

[2019-02-25 18:36] robertpanzer commented on #11937
I just retested it with 1.1.0-rc.0 and got this info:
[code]

After 21 create and delete cycles the memory consumption of the istio-proxy jumped to >100MB:
[code]
Without any further configurations it seems to stay stable there.
I am not sure if it considers the memory request of 128Mi.

[2019-02-25 18:50] nmittler commented on #9504
@markserrano915 before we spend too much time investigating the sidecar, it looks like Pilot, itself, isn't starting.  See anything interesting in the Pilot logs?

[2019-02-25 18:51] duderino commented on #12024
@wattli could you nominate someone to work on this?

[2019-02-25 18:52] duderino commented on #12000
@howardjohn do you have the cycles to pick this one up?

[2019-02-25 18:57] Stono commented on #11664
OK for anyone else following this issue, this feature is only part implemented in 1.1, you won't be able to select namespaces, only `.` (current namespace) and `*` (all namespaces).

[2019-02-25 19:01] howardjohn commented on #12000
Yeah I'll start looking at this

[2019-02-25 19:08] markserrano915 commented on #9504
Unfortunately there is nothing in the logs:
[code]

[2019-02-25 19:12] ayj opened #12033 "Galley should have option to only watch installed CRDs"
Galley creates k8s watchers for all enabled k8s source resources. Resources can be explicitly excluded with the `--excludedResourceKinds` command line option. It would be useful for Galley to have an option to only create k8s watchers for k8s resources that are available in the k8s apiserver. This auto-detect mechanism should be guarded by a flag to preserve the more explicit behavior today. This

[2019-02-25 19:17] nmittler commented on #9504
Hmm ... I wonder if this is related to what @sdake  [was seeing](https://github.com/istio/istio/issues/12020#issuecomment-467040873)?

[2019-02-25 19:36] ozevren commented on #12020
Ignore my add/remove of milestone 1.1, didn't see @sdake's milestone edits.

[2019-02-25 19:38] silentdai commented on #11937
Good to know envoy is not deteriorating beyond 128Mi in this case.  And now we are on the same page: somehow the peak usage is as large as 128Mi.

BTW could you run "curl -L localhost:15000/stats | grep memory"?

We can learn if 106Mi is fully utilized, or reserved by tcmalloc. It's not critical to me at this moment. However, as the investigation goes on, fighting reserved memory and locating how

[2019-02-25 19:40] Stono commented on #11664
OK this is following on from a conversation with @rshriram regarding our real life use case for exportTo.  I didn't really know where else to post it but hopefully it will explain why the concept of "import" on a `Sidecar` resource doesn't really fit our CI/CD process or organisational model.  This is all born out of a conversation where I discovered `exportTo` is not going to be fully complete fo

[2019-02-25 19:43] ozevren commented on #11977
Putting this into 1.1 milestone for triaging purposes.

[2019-02-25 19:44] ozevren commented on #11974
Hi @osswangxining,
Which release/branch are you looking at? 1.1, master?

[2019-02-25 19:45] ozevren commented on #11973
@ostromart is this something that you can help with?

[2019-02-25 19:48] Stono commented on #11977
Crosslinking my comment on https://github.com/istio/istio/issues/11664#issuecomment-467153211

[2019-02-25 19:49] Stono commented on #10039
https://github.com/istio/istio/issues/11664#issuecomment-467153211

[2019-02-25 19:49] kyessenov commented on #11819
@atrifan any feedback you can provide on using gRPC round robin balancer?

[2019-02-25 19:57] yangminzhu commented on #12000
@duderino @howardjohn I have a workaround in https://github.com/istio/istio/pull/12034 for 1.1, a more proper fix might be needed.

[2019-02-25 19:58] tnwang commented on #8619
You might be interested in https://docs.google.com/document/d/1mGpUsRgmA9wPB73trfTiB9YUuwYh-31iulYg9USxe0Y/edit#heading=h.qex63c29z2to - While it's not directly this requested functionality, there's some overlap that could be extended upon as the linked proposal provides a basic feature set related to End User OIDC and session management.

[2019-02-25 20:24] nmittler commented on #12021
@jkbschmid it looks like your Pilot may not be coming up.  Other folks have been seen something similar:

https://github.com/istio/istio/issues/9504#issuecomment-467139525
https://github.com/istio/istio/issues/12020#issuecomment-467040873

cc @sdake @markserrano915

[2019-02-25 20:41] nmittler commented on #11664
cc @louiscryan

[2019-02-25 20:56] #11380 closed

[2019-02-25 20:57] #11034 closed

[2019-02-25 21:21] douglas-reid commented on #12022
I'm confused a bit by this report. The  `stdio` adapter only provides handling for the `logentry` template, meaning that it handles logs, not metrics.

You would need instances of `kind: logentry` and a rule that sends the information to `stdio` to see logs.

[2019-02-25 21:23] wattli commented on #11821
https://github.com/istio/istio.io/pull/3376 is the fix

[2019-02-25 21:24] douglas-reid commented on #12019
Is there confusion here between tracing w/ the Stackdriver adapter, which has its own sampling impl, and the Envoy-generation of sampling headers?

The Stackdriver adapter handling should not impact the header propagation throughout the system.

[2019-02-25 21:25] duderino opened #12037 "istio.io/istio/tests/e2e/tests/simple TestAuth 0.72s"
**Describe the bug**

https://k8s-gubernator.appspot.com/builds/istio-prow/pr-logs/directory/e2e-simpleTests-cni fails every time due either to env issue or this error.  The error suggests something is insecure when it's supposed to be secure so definitely needs some scrutiny.

If the problem is only in the test and not the code itself then a lower priority could be more appropriate.

[code]

[2019-02-25 21:47] douglas-reid commented on #12019
@kyessenov would it be possible to use the route directive work to add headers based on adapter sampling decisions?  this probably isn't ideal, but might help in the case when envoy sampling and mixer adapter-based sampling diverge.

[2019-02-25 21:49] nitishm opened #12038 "[Question] Enable in-mesh pod to communicate with another in-mesh pod using PodIP (mTLS enabled)"
What resources do I need to setup to enable communication between two in-mesh pods to communicate with each other over Pod IP.

Specifically I am facing issues with redis-sentinel trying to talk to redis-master pod using the master's Pod IP

Sentinel logs
[code]

[code]

From within the sentinel pod I see failures when using the Pod IP but it succeeds when using the service IP
[code]

Istio versio

[2019-02-25 21:50] nitishm commented on #12038
Essentially how can I make `redis-ha` work on `istio`, with mTLS enabled across the namespace ?

[2019-02-25 21:52] myidpt commented on #11078
@sl1pm4t The "Authentication failed: <nil>" failure you got was due to a minor logging bug in Citadel:
https://github.com/istio/istio/issues/11386

[2019-02-25 21:52] #11821 closed

[2019-02-25 21:59] #11848 closed

[2019-02-25 21:59] #11899 closed

[2019-02-25 22:02] wattli commented on #11913
dup of #11908

[2019-02-25 22:02] #11913 closed

[2019-02-25 22:05] dansiviter commented on #12019
Not sure if it's related, but `X-Request-Id` also appears to not be propagated from the client and a new one created and overriding (#10875). This superficially looks like `X-B3-Sampled: 1` from the client also being overridden.

Therefore, I'm wondering there are two issues here: the Stackdriver adaptor not setting the value when it samples and Envoy overriding it further down the chain.

[2019-02-25 22:17] drishticode opened #12039 "install option for grafana endpoint"
**Describe the feature request**
Provide install option to set grafana endpoint. For example, --set grafana.url.endpoint=/grafana

**Describe alternatives you've considered**
At the moment I am either forced to use NodePort if I want to use ingress gateway. I tried creating a Virtual service with /grafana prefix and rewrite rule but throws 404 on css and other network calls

**Additional context**

[2019-02-25 22:22] costinm commented on #12005
the IP of the api servier is from an env variable, set by kubelet - $KUBERNETES_SERVICE_HOST
Normally it is the ClusterIP of the apiserver
And if you dump the config, you should see a listener on that IP and 443, with a TCP proxy to outbound|443||kubernetes.default.svc.cluster.local
From slack:
If a vendor ( for whatever reasons ) sets the KUBERNETES_SERVICE_HOST to anything else but the ClusterIP

[2019-02-25 22:32] frankbu commented on #11664
@Stono Thanks for describing the scenario so clearly. I think your namespace-per-service use case is pretty common, so the priority to support exportTo namespaces other than current or all, should be pretty high. As you can see, it is certainly covered by the api, just not implemented in the first release. I'll let @rshriram confirm, but I would say this is definitely a 1.1 feature, just not 1.1.0

[2019-02-25 22:52] trevorlinton opened #12043 "Istio 1.1.0-rc0 requests and limits in kubernetes makes cluster unscheduable/unready"
**Describe the bug**

Running istio 1.1.rc0 nightly releases, and the new istio nothing is scheduable in kubernetes because nodes become over committed.

On a blank kubernetes cluster with 3 available m4.xlarge (4 cpu each) each node is overcommitted by istio.  The commit here: https://github.com/istio/istio/commit/58186e1dc3392de842bc2b2c788f993878e0f123#diff-7dad29cba9d2ca3e8570c8f65f4b7e86 requ

[2019-02-25 22:54] trevorlinton commented on #12043
Tagging @mandarjog and @smawson to hopefully take a look.

[2019-02-25 23:09] costinm commented on #11664
The priority for 1.1 is to control what services are visible in a given namespace - which is defined by Sidecar.egress.

Ingress control is expressed and enforced with Istio RBAC - we plan for 'exportTo' to feed into and generate equivalent RBAC config, but this is not ready, as I mentioned the focus was on visibility.
In practice - until exportTo or "egress" are fed into RBAC, you MUST maintain 2

[2019-02-25 23:15] costinm commented on #11664
To be clear: exportTo is planned and eventually can be used to configure RBAC, so you don't have do do this twice ( unless you have advanced configs that really need full RBAC ).

But we need consent from both sides - and we need to support '*' ( i.e. services that are exposed to everyone in the mesh and do their own ACL, as well as clients that import all services that allow that, like prometheus

[2019-02-25 23:44] qfel opened #12046 "Istio 1.1 helm Installation instructions don't verify"
**Describe the bug**
Following the instructions at https://preliminary.istio.io/docs/setup/kubernetes/helm-install/ option 1.5. "Verify that all 58 Istio CRDs were committed to the Kubernetes api-server using the following command:" prints 56.

**Expected behavior**
Per instructions, 58 should be printed

**Steps to reproduce the bug**
Follow https://preliminary.istio.io/docs/setup/kubernetes/helm

[2019-02-25 23:56] incfly commented on #11078
/cc @incfly

[2019-02-25 23:57] craigske commented on #10468
Just in case others end up here looking for the enum IP_ADDRESS to work, it's actually IP_ADDRESSES

See: https://github.com/istio/istio/blob/master/mixer/adapter/list/config/config.pb.go#L74

[2019-02-26 00:13] kcmartin commented on #11838
Regarding your comment about a potential fix -- this is limited to Istio v1.1 prerelease only?
https://github.com/istio/istio/issues/9043#issuecomment-464979153

@ZackButcher

Do we have an ETA on the 1.1 stable release?

[2019-02-26 00:36] kbruner commented on #11786
I hate a similar issue, this time with both gateway ports being intended for TLS passthrough.  (Istio 1.0.5)

[code]

The API accepts the policy, but the `istio-ingressgateway` pod log has the following: `[2019-02-26 00:31:37.514][27][warning][config] bazel-out/k8-opt/bin/external/envoy/source/common/config/_virtual_includes/grpc_mux_subscription_lib/common/config/grpc_mux_subscription_impl.h:70]

[2019-02-26 00:46] rshriram commented on #11967
or 1.1.1

[2019-02-26 00:49] therealmitchconnors opened #12048 "Mixer in crashloop"
**Describe the bug**
Mixer Telemetry is in a crashloop, spamming logs with:
`info	loadshedding	LogOnly - Throttled (grpcResponseLatency)`
and:
`info	grpc: Server.processUnaryRPC failed to write status: connection error: desc = "transport is closing"`

**Expected behavior**
Mixer gracefully throttles traffic and stays alive.

**Steps to reproduce the bug**
From tools repo, run perf/istio/setup.sh 1

[2019-02-26 00:57] therealmitchconnors commented on #12048
@mandarjog is collaborating on this, using `cloud container clusters get-credentials isotope-cluster-1 --zone us-central1-a --project mixologist-142215`
(not universally accessible), and telemetry can be viewed at http://grafana.v11.qualistio.org/?orgId=1

Root Cause appears to be a loadSheddingMode of logonly on mixer.  It appears that this used to default to 'enforce' prior to #11767 .

[2019-02-26 00:59] incfly commented on #11967
If I understand the problem correctly,

- Injector is correct, passing application port into the sidecar cmd flag as `applicationPorts`
- No service definition however, No xDS.
- Prober doesn't report ready.

So this has nothing to do with health check rewrite with mTLS, correct?

Regarding solution,

[code]

You mean do this at Pilot level such that we always have a default LDS so this case will

[2019-02-26 01:05] rshriram commented on #11818
ITs not that simple.. things like mTLS or rbac are defined on server side. and if a pod has no service instances, then these plugins can't be setup..

[2019-02-26 01:05] mandarjog commented on #11967
if the crux of the matter is that our readiness is tied to listeners, and these pods don't have listeners..., isn't it better to not have readiness for these pods at all? If they don't expose a service what is readiness doing anyway.

If there is a way to disable highjacking readiness for this deployment, lets us it. Otherwise we can add a new annotation that exempts it from readiness checks.

[2019-02-26 01:05] rshriram commented on #11786
ack

[2019-02-26 01:08] incfly commented on #11967
Do you mean checking service existing on a particular deployment during injecting time?

If so, I don't think fixing on injector side will work, given deployment & injector is once and static. Service definition are dynamic by its nature. Only pilot can capture that anatomically.

[2019-02-26 01:39] qfel opened #12051 "Istio 1.1 GKE setup too small"
**Describe the bug**
GKE setup instructions create a cluster that's too small to run istio-system namespace: istio-policy and istio-telemetry don't get scheduled due to insufficient CPU and memory

**Expected behavior**
All deployments get scheduled

**Steps to reproduce the bug**
- follow [platform-setup/gke/](https://preliminary.istio.io/docs/setup/kubernetes/platform-setup/gke/)
- follow [helm-

[2019-02-26 01:44] xianke9 commented on #12015
root@m-1:~# istioctl version
Version: 1.0.2
GitRevision: d639408fded355fb906ef2a1f9e8ffddc24c3d64
User: root@66ce69d4a51e
Hub: gcr.io/istio-release
GolangVersion: go1.10.1
BuildStatus: Clean

[2019-02-26 01:57] zhqworld commented on #11868
I tried again on a clean cluster, and the issue consistently happening:
Steps:
kubenetes version: v1.12.4
install istio 1.0.5 by:
[code]

upgrade to istio 1.1.0-rc.0 by:
[code]

Then I see 3 istio-policy pods with version 1.0.5 which is old and 1 istio-policy pod running with version 1.1.0-rc.0.

[2019-02-26 02:15] howardjohn commented on #11926
Closing in favor of #12000, has much more info and is the same problem

[2019-02-26 02:15] #11926 closed

[2019-02-26 02:21] howardjohn commented on #11964
Related:
* https://github.com/istio/istio/issues/12051
* https://github.com/istio/istio/issues/12043

I don't think its reasonable to just change the minimum limits to 6+ CPUs. I think we need the default case to require a small cluster -- anyone that requires good performance won't mind making minimal config changes, but someone trying Istio for the first time might. @mandarjog what do you think?

[2019-02-26 03:04] linsun commented on #12018
@c0d1ngm0nk3y seems sufficient doc would help in this case... cc @ymesika

[2019-02-26 03:07] linsun commented on #12017
seems this can be fixed by updating the doc to incorporate the hostname case.  cc @ymesika for thoughts.

[2019-02-26 03:09] linsun commented on #12021
Is it possible your ingress gateway and egress gateway unable to talk to Pilot (I assume it is on the primary cluster)?  I have seen the case when my gateway can't talk to my pilot.

cc @ymesika

[2019-02-26 03:10] linsun commented on #11909
closing this, upon further investigation, local pilot is working, and able to step through the code etc however unable to push config to my sidecars in a remote k8s due to my network setup.

[2019-02-26 03:10] #11909 closed

[2019-02-26 03:22] knrc commented on #9504
@nmittler @sdake I tracked our issue down to a race between the pod connecting to pilot and SetServiceInstances being called.  If SetServiceInstances was called before the endpoint was associated with the service then it would set node.ServiceInstances to [].

I came up with a solution but it looks as if I've just been beaten to it, https://github.com/istio/istio/pull/11999 implemented a similar f

[2019-02-26 03:31] knrc commented on #9504
@nmittler @sdake Submitted https://github.com/istio/istio/pull/12053/files to round it off

[2019-02-26 04:43] xianke9 commented on #12015
Do I need some pre-actions for this upgrade? for example, repo set, or others.

[2019-02-26 05:36] hzxuzhonghu commented on #11786
using istio-1.1.0-rc.0, i found
[code]

[2019-02-26 06:37] ymesika commented on #12021
It's most probably that the proxies in your ingress/egress gateways weren't able to connect to the primary pilot.
I would do few things to try and find the root cause:
1. Wait a little. It takes some time for the Citadel on your 2nd cluster to generate the secrets and for the proxies to pick them up in order to securely connect to the primary pilot
1. Check Pilot's logs for errors
1. Did all the p

[2019-02-26 06:51] ymesika commented on #12018
@c0d1ngm0nk3y with the next RC (or final) release of 1.1 the egress won't be installed by default.
Because the steps in the Cluster-aware doc are based on the default Istio values there won't be egress on both primary and secondary clusters. Which kind of indirectly solves this issue.

[2019-02-26 06:58] ymesika commented on #12017
The limitation of having an IP for the gateway is coming from Envoy because the idea behind _Split Horizon EDS_ (used in Cluster-Aware) is to return remote gateway as an endpoint in the EDS results. Because Envoy accepts IP addresses within each endpoint you can't put at the moment hostname.

**But** we definitely want to support it and find a way to do the resolution on the fly. Thing is that we

[2019-02-26 07:20] FrostyLeaf opened #12054 ""Egress https" part docs for 1.0 is still an old version"
**Describe the bug**

I'm trying to allow an external service can be accessed by a meshed service, following [egress-https](https://istio.io/blog/2018/egress-https/) part. When I tried to create an `EgressRule` object, I got this error:

[code]

Then I fixed it by modifying it as a `ServiceEntry` object.

Seems like the `EgressRule` definition is totally removed from `CustomResourceDefinition` lis

[2019-02-26 07:33] abhyuditjain opened #12055 "KubeDNS crashloopbackoff when istio is installed."
**Describe the bug**
`KubeDNS` in `CrashLoopBackOff`. I followed the Quickstart and deployed the Bookinfo application but always get `000` response. Upon further looking, I found that kubedns keeps crashing and then restarting. Without istio, it works fine.

**Expected behavior**
200

**Steps to reproduce the bug**
Followed the quickstart on Kops cluster with Calico v3, Kubernetes 1.11.7 and ETCD

[2019-02-26 07:37] c0d1ngm0nk3y commented on #12018
@ymesika Thanks for the information, but the ingress has the same problem. So this this is probably not solved by this alone. But @linsun is of course right, better documentation should be enough. We will push a PR.

[2019-02-26 07:42] bangau1 commented on #11939
Okay, it seems it is due to my own mistake customizing the `gateway` chart due to unknown problem on istio-1.0.5 helm chart. This is what I've done on `install/kubernetes/helm/istio/charts/gateways/templates/clusterrolebindings.yaml`:
[code]

When I revert that my own commit, the `helm upgrade` command exited successfully. However, my custom gateway controller isn't in `istioctl ps` output. After

[2019-02-26 07:46] kramerul commented on #12022
In this case, it's a bug in the [documentation](https://preliminary.istio.io/docs/reference/config/policy-and-telemetry/adapters/stdio/):

The stdio adapter enables Istio to output logs and metrics to the local machine. Logs and **metrics** can be directed to Mixer’s standard output stream, standard error stream, or to any locally reachable file. When outputting to files, you can enable file rotat

[2019-02-26 07:47] ymesika commented on #12018
@c0d1ngm0nk3y It finally catches up with the generated secrets/certs. It just takes time until the proxy is picking the newly created secrets from the volume. You can tail the logs from the ingress and see that after 30-60sec it loads the certs and connect to pilot with those.

Or, as you suggested just kill the pod but this will appear a little hacky if we ask the user to do this in the doc.

[2019-02-26 07:49] Stono commented on #11664
Hey everyone!
Thanks for your detailed responses.

I do just want to clarify something however, I don't consider exportTo to be an RBAC concern?  I only gave the association to NetworkPolicy to explain how our organisation puts the responsibility with the owning squad to populate that list and how that list will always actually need to be identical to the NetworkPolicy ingress rules.

@costinm you

[2019-02-26 07:56] Stono commented on #11664
PS I'm at GCP Next SF if anyone wants to whiteboard this in person haha

[2019-02-26 08:05] incfly opened #12056 "Route Rules or Virtual Services in istio.io doc"
**Describe the bug**
istio.io doc has lots of references of RouteRules, for example https://preliminary.istio.io/help/faq/traffic-management/#viewing-current-rules

**Expected behavior**
AFAIK, `RouteRule` is deprecated in favor of `VirtualService`. We should align our doc and make terminology more accurate.

[2019-02-26 08:07] castlemilk commented on #11664
I kinda feel ExportTo wont help here. I wonder if scoping/sharding the number of sidecars/mesh components that Pilot needs to synchronise configuration would help. For example if all of the network policy could be scoped based of namespace/label and this can be used by Pilot to resolve the mesh components that need synchronising. An example is how `NetworkPolicy` is able to be applied based of nam

[2019-02-26 08:13] Stono commented on #11664
Yeah, I've been pushing for it since mid last year @castlemilk :-( as our cluster grows the risk increases

[2019-02-26 08:37] pms1969 commented on #11973
It's also worth noting that CertManager is in the mix.

[2019-02-26 09:03] atrifan commented on #11819
Hi sorry for the late response,

I have changed the image in the policy service to what you have provided and now it gives the following:
[code]

[2019-02-26 09:24] #9500 closed

[2019-02-26 09:30] thomschke commented on #11333
Please apply this to **(ingress/egress)-gateways** too.

These days it's very easy to create k8s-multi-zone-clusters (like [gke regional cluster](https://cloud.google.com/kubernetes-engine/docs/concepts/regional-clusters)), but anti-affinity is needed for that.

[2019-02-26 09:42] blkwtch opened #12057 "istio-1.0.5 - Bookinfo app - unable to access to the app via the ingress-gateway"
**Describe the bug**
curl -o /dev/null -s -w "%{http_code}\n" http://${GATEWAY_URL}/productpage ==>000
**Expected behavior**
curl -o /dev/null -s -w "%{http_code}\n" http://${GATEWAY_URL}/productpage ==>200

**Steps to reproduce the bug**
when installating the all the crds and the bookinfo app yaml file the target configuration is not enabled where all the sidecar proxies communicate with the ingr

[2019-02-26 10:01] kramerul commented on #12022
My first intention was to test the statsd adapter. But this was no working. Therefore, I switched to stdio to get my scenario running.

[2019-02-26 10:08] jsPlachetka opened #12058 "1.1.0-rc0 "Configuring multiplie TLS hosts in a gateway" does not raise error message"
**Describe the bug**
We tested the scenario described in [Configuring multipleTLS hosts in a gateway](https://preliminary.istio.io/help/ops/traffic-management/deploy-guidelines/#configuring-multiple-tls-hosts-in-a-gateway). The error message described in the documentation for such a scenario ("non unique port") does not appear in the pilot's log. Furthermore the scenario simply works and seems to

[2019-02-26 10:24] #9428 closed

[2019-02-26 10:58] dansiviter commented on #12019
Apologies, I think I've conflated with the `X-Request-Id` thing. It appears that `X-B3-Sampled` is always passed down to the underlying service via Envoy.

So, back on topic... I tried disabling all other tracers, except Stackdriver. I set:
* Stackdriver `trace.sampleProbablity: 0` - 0%
* `pilot.traceSampling: 10` - 10%
Now the `X-B3-Sampled` is correctly being set 10% of the time, but no data is

[2019-02-26 11:01] zachidan opened #15731 "istio-proxy fails on startup in Kubernetes if a Service object is not defined"
It looks that the _istio-proxy_ (sidecar) requires a Service object, otherwise the proxy fails to startup.

If I create a POD object **without** a Service object, the istio-proxy fails to startup (see logs below)

In addition:
1. **TCP protocol**: it seems that it is NOT possible to connect to the POD instance by using the POD IP. Only the Service Name ({service}.{namespace}.svc.cluster.local) or

[2019-02-26 11:30] kuzaxak commented on #5384
@vadimeisenbergibm  Are there any plans to fix this issue?

[2019-02-26 11:36] kramerul opened #12059 "Using literals for metric dimensions doesn't work as expected"
**Describe the bug**

Using literals for metric dimensions breaks the reporting of the metric.

**Expected behavior**

Metrics are reported

**Steps to reproduce the bug**

Use the [telemetry example](https://istio.io/docs/tasks/telemetry/metrics-logs/) and replace

[code]

by

[code]

or by

[code]

After this change, the [query in Prometheus](http://localhost:9090/graph#%5B%7B%22range_input%22%3

[2019-02-26 11:46] c0d1ngm0nk3y commented on #12018
@ymesika You are right. It was somehow hidden by issue #12021. So I will close this one.

[2019-02-26 11:46] #12018 closed

[2019-02-26 11:57] kramerul commented on #12022
Perhaps this is also related to #12059

[2019-02-26 12:09] leaxoy commented on #8061
Go 1.12 released today

[2019-02-26 12:15] jkbschmid commented on #12021
1. Waiting does not solve it (55m). We also looked at the logs and didn't see the typical error message that appears when envoy cannot find certs.
2. Pilot shows the following errors. The first one looks more interesting to me.
[code]
And also this one:
[code]

Note that `egressgateway-5fdcbdb595` and `ingressgateway-6c8bf9f58d` are from cluster 1. We cannot find anything from cluster 2 in the pil

[2019-02-26 12:16] Stocco commented on #11971
Are you running istio with mtls?

from the guidelines: https://istio.io/help/ops/traffic-management/deploy-guidelines/

[2019-02-26 12:36] monkeymorgan commented on #11977
Update: I found the [sidecar custom resource](https://preliminary.istio.io/docs/reference/config/networking/v1alpha3/sidecar/) doc that @sdake alluded to. `Sidecar` allows istio tenants to limit the inbound/outbound traffic through their proxies on a per-namespace or per-workload basis. This seems complimentary to what I'm looking for, but it doesn't solve our use-case.

To be clear, my primary fo

[2019-02-26 13:12] ymesika commented on #12021
@jkbschmid Yes, the error relevant because port 15011 is the gateway port that remote ingress/egress are connecting through it to the primary Pilot. Because it got omitted (because of this error) they are failing to start.

Can you please put somewhere (pastebin?) the `istio-auth.yaml` and `istio-remote-auth.yaml` that have been created?

[2019-02-26 13:34] iftachsc commented on #9104
+1. when is this expected to be out? thanks.

[2019-02-26 14:12] jkbschmid commented on #12021
[istio-auth.yaml](https://pastebin.com/hL2sfnuM) [istio-remote-auth.yaml](https://pastebin.com/apjVEG7g).
 Before uploading to pastebin, we replaced the IP we use with $LOCAL_GW_ADDR.
Other than that, you should be able to reproduce these files by applying the two `helm template` commands in the [example](https://preliminary.istio.io/docs/examples/multicluster/split-horizon-eds).

[2019-02-26 14:44] zhaohuabing commented on #11971
It turned out that this issue is caused by consul service registry service
update event.  I'm trying to find out why consul service registry is
constantly updated.

On Tue, Feb 26, 2019, 8:16 PM Stocco <notifications@github.com> wrote:

[2019-02-26 14:57] #11846 closed

[2019-02-26 15:05] howardjohn commented on #12055
Most likely related to https://github.com/istio/istio/issues/11964. Given pilot is stuck in pending, it is probably requesting more resources than available in the cluster.

[2019-02-26 15:14] rshriram commented on #11786
@adenis-sv what is your virtual service configuration for the gateway ? [remember that gateways need virtual services to complete the routing].

Same goes for @kbruner . Since you are using TLS passthrough, I am assuming that your virtual service is using TLS blocks for routing?

[2019-02-26 15:14] jmazzitelli opened #12063 "multiple timeseries are generated in telemetry when going to istio-ingressgateway from inside mesh"
**Describe the bug**

Sending a request to istio-ingressgateway from a pod that has a sidecar results in two timeseries. See below for more details.

**Expected behavior**

I would have thought only a single timeseries would result for this.

**Steps to reproduce the bug**

The basic steps to replicate are:

1. Install latest Istio, and the latest bookinfo demo, and the latest Kiali
2. Install Kia

[2019-02-26 15:20] jmazzitelli commented on #12063
@douglas-reid I was hoping someone in the telemetry team would be able to know the answer to this pretty quickly by just reading the problem description. I have a feeling this could be my lack of understanding of how istio-ingressgateway works internally and how it reports telemetry for this use-case. Feel free to set me straight if this isn't a bug, if that is the case. But on its face, it just s

[2019-02-26 16:26] ozevren opened #12065 "TestRotateMaxBackups is flaky"
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/11998/istio-unit-tests/21455

[code]

[2019-02-26 16:42] robertpanzer opened #12066 "Unable to configure DestinationRules for routes from Gateway with 1.1.0-rc.0"
**Describe the bug**
I created a service without the istio-proxy sidecar and wanted to make this available using the istio-ingressgateway.
To allows calls to this service I have to configure a DestinationRule that disables TLS for this connection as the service will not understand mTLS.
I configured the DestinationRule to use a dedicated subset name `plain`.

While the route is properly pushed to

[2019-02-26 17:01] velumaniduraisamy opened #12067 "Retries not working as expected."
Istio Version - 1.1.0.snapshot.1

I am trying to understand retries in Istio using sample bookinfo app. When I killed review pod, I expected productpage service should retry 3 times (as default maxRetries is 3), but in istio-proxy logs I am seeing only 2 calls to review service

[2019-02-26T16:25:22.303Z] "GET /reviews/0HTTP/1.1" 503 UH 0 19 0 - "-" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) Apple

[2019-02-26 17:15] frankbu commented on #12058
Are you sure the example you tried was as described in the doc. I just tried the documented example with rc0 and the log message appears exactly as documented:
[code]

[code]

[2019-02-26 17:47] douglas-reid commented on #12019
@dansiviter i think the correct "fix" involves a code change to enable the stackdriver adapter to respect sampling decisions made by the proxy -- and to control sampling via `pilot.traceSampling`. Mixer telemetry adapters don't have a way to set headers in requests -- and adding a sampling policy adapter just to sets headers doesn't seem like the best approach.

I'm gonna take a look at how to mod

[2019-02-26 17:54] duderino commented on #9729
anything left to be done here or should this be closed?

[2019-02-26 17:57] ozevren opened #12068 "Galley server mode command-line flags are global"
Galley has three top level commands:
- probe
- version
- root (i.e. server mode)

Since server mode is the root command, all of its flags appear global. The right fix is to create a server command and move its commands there (keeping only logging flags as global.

[2019-02-26 18:04] duderino commented on #11868
P0 for @ostromart to investigate.  We'll adjust from there.   @ostromart says he can look into it this week

[2019-02-26 18:13] gbaufake commented on #11972
@douglas-reid @bianpengyuan   I thought it was related to traffic generator, but I retested my operator by removing the traffic generator and it presented the same issue, now I noticed the problem is when I deploy the operator with sidecar.

Maybe the number of the operations on operator is overflowing the mixer somehow.

[2019-02-26 18:13] ayj opened #12070 "TestSourceACKAddUpdateDelete unit test is flaky"
TestSourceACKAddUpdateDelete and TestSourceACKAddUpdateDelete_Incremental unit tests are flaky. This is caused by a bug in the unit test harness itself and not the production code.

[2019-02-26 18:14] bianpengyuan commented on #12063
I am wondering do you inject sidecar to your traffic generator?

[2019-02-26 18:16] gbaufake commented on #5977
WIP.
@linsun  can you find someone that is able to review #11448 ?

[2019-02-26 18:21] jmazzitelli commented on #12063
Yes, as mentioned in the first sentence of the original description, it says,

- Sending a request to istio-ingressgateway from a pod **that has a sidecar** results in two timeseries.

In addition, in the replication procedures in the original description, see step 2 where it said:

[code]

[2019-02-26 18:22] knrc commented on #9504
@nmittler @sdake I spoke too soon, that fix reduces the window but doesn't fix the race.  I've now reproduced it on a build from early this morning.  I'm still investigating.

[2019-02-26 18:23] douglas-reid commented on #12063
IIUC, you have a sidecar proxy on your generator, and are routing traffic through ingressgateway.

So, you have a `reporter=source` timeseries from the source sidecar proxy (generation workload -> ingressgateway) and a `reporter=source` timeseries from the ingressgateway. The tricky bit -- and the part that looks wrong -- is that that ingressgateway is pulling the `source.` attributes in, and hono

[2019-02-26 18:23] gdurazzo opened #12072 "UPLOAD my certificate in istio"
![image](https://user-images.githubusercontent.com/9041315/53436622-5f895400-39da-11e9-8ba9-bf66211f76a8.png)

I would like to know how by my certificates within istio settings, to use https.

[2019-02-26 18:25] gbaufake commented on #12063
@bianpengyuan it was injected by accident on the test.

My question remains:
Can it be a valid scenario when some service (with a sidecar) on a mesh requires to connect to another service on a mesh which may be on the same or another namespace?

[2019-02-26 18:26] Symbianx commented on #8846
We are also having this problem but it looks like this was something intentionally changed in https://github.com/istio/api/pull/617 and https://github.com/istio/istio/pull/8098 as per @rshriram recommendation.

Our applications return 500 errors for generic misbehavior, we don't want to keep them in the pool while that is happening.
I understand that you want to expose all of the envoy options but

[2019-02-26 18:28] dansiviter commented on #12019
@douglas-reid I wasn't sure if that was possible but if sampling configuration is in one place then that's even better. I see there is some chatter around integration of OpenCensus into Envoy (envoyproxy/envoy#2456) which may help cover differed sampling types in the future too.

[2019-02-26 18:34] myidpt commented on #11917
In this task, I'm actually showing how to delete the secret in the *default* namespace. But I can improve the doc to make sure it doesn't confuse readers.
Only need to improve the docs, no need to fix code. Downgrade to P1.

[2019-02-26 18:38] duderino commented on #11951
@ostromart thinks he can handle this easily, but if it proves to be more complicated we will probably reassign to @howardjohn

[2019-02-26 18:40] bianpengyuan commented on #11972
I think your operator does not run with any types of controller? Could you run `kubectl get pods your-operator-pod -o jsonpath={.metadata.ownerReferences}` to check that?

[2019-02-26 18:40] duderino commented on #11962
Please close this out unless there's more work to be done here

[2019-02-26 18:41] ostromart commented on #11951
It could be a case of the RBAC not yet having taken effect when you run helm install. Could you please try the last command again if your cluster is still in the same state, or repeat the install and wait for a while before helm install?
You should also run helm init --upgrade to update your tiller pod as it looks to be quite a long way behind the client.

[2019-02-26 18:44] rshriram commented on #8846
@Symbianx are you saying you want both options in place? one for any 5xx error and one for gateway errors? the difference being 500 is missing in the gateway

[2019-02-26 18:45] duderino commented on #11964
@howardjohn @costinm @mandarjog @sdake @linsun

I think this is the demo config vs. production config issue.  Unless that's captured elsewhere, I think this bug can be satisfied by splitting the two configs and picking a low overhead demo config

This is currently assigned to @howardjohn  but it'd be really good if one of you could work with him over slack, etc to give him a second pair of eyes an

[2019-02-26 18:46] #11962 closed

[2019-02-26 18:47] dmitri-d commented on #11964
+1

[2019-02-26 18:49] duderino commented on #11966
@louiscryan retrying calls to mixer:  feature is in rc0 but off by default (0 retries).  @mandarjog wanted to get some experience with it before we turn it on.  This may be a good argument for accelerating that.

Related:  https://github.com/istio/istio/issues/9992

Assigning this to @mandarjog to make the call whether we should use retries here

[2019-02-26 18:50] linsun commented on #11964
Sorry we probably forget to update the minikube instruction... only demo profile can work with minikube or the istio-demo.yaml files or the minimal istio install.

[2019-02-26 18:52] ymesika commented on #12021
Seems like you are hitting the https://github.com/istio/istio/issues/8374 problem.

Because I'm unable to reproduce it on my IKS clusters with rc0, are you able to help checking whether removing the `meshexpansion-gateway` `Gateway` from the `istio-auth.yaml` into its own file and deploying it after `istio-auth.yaml` is indeed solving this?

Do you consistently getting this? Based on the issue abo

[2019-02-26 18:53] duderino commented on #11968
@silentdai could you try this one?  I'll reassign it to you as soon as you join the istio github org

[2019-02-26 18:53] Nino-K opened #12074 "Allow for ratelimiters in Galley server to be configurable"
Currently it is not possible to create an instance of [ConnRateLimiter](https://github.com/istio/istio/blob/f8923d594af5bde2f3b63020d95436c2916946fa/pkg/mcp/source/source.go#L115) in [Galley server](https://github.com/istio/istio/blob/f8923d594af5bde2f3b63020d95436c2916946fa/galley/pkg/server/server.go#L170) with provided user configuration. As part of this feature a user should be able to provide

[2019-02-26 18:57] esnible opened #12075 "istioctl experimental rbac can incorrectly reports 'deny'"
To reproduce, I first deployed httpbin in the usual way.  Follow https://istio.io/docs/tasks/traffic-management/ingress/ or just do

[code]

I verified it worked: `curl -s -o /dev/null -w "%{http_code}" http://$INGRESS_HOST:31380`

I did `istioctl experimental rbac can GET httpbin /` and the response was ```
deny
[code]

[2019-02-26 18:58] douglas-reid commented on #12019
@dansiviter another possible workaround. hoping you can maybe test it out for me:

1. Set the handler config for the Stackdriver adapter to have a sampling rate of `1` (always sample).
1. Update the match condition on the handler to be:

`(context.protocol == "http" || context.protocol == "grpc") && request.headers["x-b3-sampled"] == "1"`

[2019-02-26 19:00] duderino commented on #11964
See also https://github.com/istio/istio/pull/11476  This effectively turned the default config into the production config and broke the demo use case in the process.

[2019-02-26 19:02] ozevren commented on #12068
sidecar injector also suffers from the same thing: https://preliminary.istio.io/docs/reference/commands/sidecar-injector/

[2019-02-26 19:04] andraxylia commented on #11964
I will try to get it to work with this flag -f install/kubernetes/helm/istio/values-istio-demo.yaml and update the docs accordingly.

[2019-02-26 19:08] howardjohn commented on #12055
Sorry, didn't notice this was for Istio 1.0.5 not 1.1. Which of the 4 install methods did you use (helm template, helm, kubectl apply)? Can you provide the logs for pilot to see why it is pending?

[2019-02-26 19:08] costinm commented on #11888
@nmittler  seems to be readiness related.

Having it fail readiness once can happen - but normally it should recover as config becomes consistent.

[2019-02-26 19:09] munrodg commented on #11990
@sdake can you take a look at this one?

[2019-02-26 19:14] costinm opened #12077 "Document how to run multiple validation webhooks in different namespaces"
Running Galley with 2 replicas - logs seem to loop every minute attempting to update.

 2019-02-26T18:36:21.614749Z	info	validation	istio-galley validatingwebhookconfiguration updated
2019-02-26T18:36:22.215182Z	info	validation	istio-galley validatingwebhookconfiguration updated
2019-02-26T18:36:22.817268Z	info	validation	istio-galley validatingwebhookconfiguration updated
2019-02-26T18:36:23.4142

[2019-02-26 19:15] yangminzhu commented on #12075
The `experimental rbac` is actually outdated at this point, I will try to either update it to latest or remove it for now.
/cc @liminw  @pitlv2109

[2019-02-26 19:16] costinm commented on #12068
Is this something we need to fix for 1.1 ? Not user visible, no negative impact.

[2019-02-26 19:19] drichelson commented on #11984
I'm working on the same project as @pnambiarsf and would like to start work on this issue. Any additional input is welcome.

Assuming it gets merged in time is it possible to include this in the 1.1.0 release?

[2019-02-26 19:20] munrodg commented on #11658
@duderino need to create a 1.0.7 with this fix.

[2019-02-26 19:21] nmittler commented on #11888
It looks like it's the zero port issue, which was just fixed by #12001

[2019-02-26 19:22] duderino commented on #9964
dropping to P1 to cover residual

[2019-02-26 19:23] munrodg commented on #9961
Fixed

[2019-02-26 19:23] #9961 closed

[2019-02-26 19:24] yangminzhu commented on #12066
Seems due to #12000 . A quick workaround is to check if you have a default destination rule in istio-system (you should as you `--set global.mtls.enabled=true`), and you can create some default sidecar resource with the following contents:
[code]

[code]

[2019-02-26 19:24] yangminzhu commented on #12066
/cc @duderino @howardjohn

[2019-02-26 19:25] esnible opened #12078 "istioctl kube-inject readiness etc options no longer respected"
https://preliminary.istio.io/docs/reference/commands/istioctl/#istioctl-kube-inject documents the following

--readinessFailureThreshold <uint32>
--readinessInitialDelaySeconds <uint32>
--readinessPeriodSeconds <uint32>
--rewriteAppProbe
--statusPort

These no longer work.  Example:

[code]

Perhaps this is due to the way the Configmap is now structured.  There are annotations, eg.

[code]

Perhap

[2019-02-26 19:25] duderino commented on #11247
See also https://github.com/istio/istio/issues/11736 which will be done as part of this

[2019-02-26 19:25] nitishm opened #12079 "Redis-ha stable helm chart master<->slave sync failure"
**Describe the bug**
Deploying stable/redis-ha helm chart with sidecar injection enabled fails, with error logs from the master/slave redis containers, complaining about sync failures as shown below,

[code]
If I try to exec into the redis/sentinel container and try sending a PING, it fails with the following error,

`k exec -it mouthy-unicorn-redis-ha-server-1 -c redis /bin/sh`
[code]

The sideca

[2019-02-26 19:25] duderino commented on #11964
@mandarjog says he is actively working on this

[2019-02-26 19:25] nitishm commented on #12079
Additionally mTLS is enabled cluster wide.

[2019-02-26 19:26] duderino commented on #11247
See also https://github.com/istio/istio/issues/11964 which will fix the demo config broken by these changes

[2019-02-26 19:29] duderino commented on #11555
nevermind, @costinm is going to do all the work

[2019-02-26 19:30] yangminzhu commented on #12016
/cc @diemtvu @yangminzhu

[2019-02-26 19:30] munrodg commented on #8224
Moving to P1 pending testing feedback

[2019-02-26 19:30] costinm commented on #11555
I think new alpha features should be off by default and not used if it prevents upgrade/downgrade - we can enable them for fresh installs if we have time to add that, but in this case it may be safe to just not set it.

[2019-02-26 19:31] yangminzhu commented on #12016
@brommer Would you mind to give an example Policy in your mind? So we can get some sense about how would like the Policy format should be. Thanks.

[2019-02-26 19:32] mandarjog commented on #11966
The issue was that an old istio-policy endpoint with mtls-off was also in the environment. Mixer client was load balancing between 2 endpoints one needed mtls and one did not. The first request was failed TLS handshake and resulted in a 503.

[2019-02-26 19:32] #11966 closed

[2019-02-26 19:37] #9729 closed

[2019-02-26 19:38] louiscryan opened #12080 "Automate installation of multi-cluster"
**Describe the feature request**
In a world where istio has an automated installer it should be able to provision deployments that provide the variations of multi-cluster install

https://preliminary.istio.io/docs/setup/kubernetes/multicluster-install/gateways/

In particular the installer should be able to:
- Setup one cluster as control-plane master
- Setup for control-plane replicas in each clu

[2019-02-26 19:39] howardjohn commented on #11947
I think the problem is pilot is installed with `pilot.env.GODEBUG=gctrace=2` (or similar), so the gc stats get logged to stderr. When we exec into the pod, we capture this as a potential error and print out this message.

Possible solution is to change the command to `kubectl exec -n istio-system istio-pilot-67d9dd7d4d-9f7jq -- sh -c 'GODEBUG= pilot-discovery request GET /debug/syncz'`.

It seems

[2019-02-26 19:40] diemtvu opened #12081 "Install 1.1 (RC) with helm fails at step 5."
**Describe the bug**
{{
Helm install istio command fails:

[code]
 }}

**Expected behavior**
{{ What did you expect to happen? }}

**Steps to reproduce the bug**
{{
Download 1.1 RC
[code]
Then follow installation [instruction with helm and tiller](https://preliminary.istio.io/docs/setup/kubernetes/helm-install/)
 }}

**Version**
{{
kubectl version
Client Version: version.Info{Major:"1", Minor:"9",

[2019-02-26 19:42] kyessenov commented on #12019
IMHO it sounds to me that the sampling decision needs to be made at the proxy if it were to propagate. Telemetry adapters run out of sync, and it's too late to force tracing from them. Therefore, we should probably recommend sampling rate is 100%, and let the proxy control sampling.

In the future, sampling could be made first-class config, so that this config can be acted upon at the proxy.

[2019-02-26 19:47] costinm commented on #12077
I  think the problem was that I had a different namespace running control plane ( with the 'a-la-carte' installer ). So it would be a P2 for 1.1 - but we need to fix it for 1.2 where we'll switch to allowing multiple control plane environments and break into separate namespaces for security.

[2019-02-26 19:47] costinm commented on #12077
( same problem exists in Citadel - both are 'singletons', can't run instances in multiple namespaces)

[2019-02-26 19:47] esnible opened #12082 "istioctl proxy-config bootstrap '--output' not respected"
The `--output short` feature of istioctl proxy-config only has been implemented for cluster/endpoint/listener/route but is shown on the documentation as applying to `bootstrap`.

It should be moved, or bootstrap should offer a short version.

To reproduce:
[code]

(output is still JSON)

[2019-02-26 19:48] ozevren commented on #11947
Sounds reasonable to me.
/cc @liamawhite  (original author), @ayj

[2019-02-26 19:57] ozevren opened #12083 "Move Ingress (status) controller from Pilot to Galley"
Pilot has an K8s ingress controller that listens and updates status of the Ingress resource. As part of making Pilot less dependent on K8s, we should move it to Galley.

[2019-02-26 19:59] ozevren opened #12085 "Generate OpenAPI Spec for our CRDs"
We should generate OpenAPI Spec for our CRDs.

/cc @geeknoid

[2019-02-26 20:01] ayj commented on #11947
`pilot-discovery request` makes an HTTP request to localhost:15014. We can't use `curl` for this purpose because it doesn't exist in the scratch base image. Alternatively, we could use port-forwarding (see k8s.io/client-go/tools/portforward/portforward.go:114) and make the HTTP request directly from istioctl.

[2019-02-26 20:03] ozevren commented on #12082
/cc @ayj

[2019-02-26 20:04] ozevren commented on #12077
/cc @ayj

[2019-02-26 20:04] esnible opened #12086 "istioctl proxy-status documentation says namespace is optional"
The usage given in response to `istioctl proxy-status --help` is

[code]

However, if I leave it off,

[code]

The last line is the error; if the namespace is optional I should have seen the same response to both invocations.

Adding `-n default` did not help.

The Garbage Collection warning is never expected.  Consider eliminating it.

[2019-02-26 20:04] louiscryan opened #12087 "Documentation for multi-cluster via Gateway install is broken"
**Describe the bug**
Documentation for
https://preliminary.istio.io/docs/setup/kubernetes/multicluster-install/gateways/
is out-of-date

**Expected behavior**
Should be able to setup

**Steps to reproduce the bug**
Follow instructions and the following issues are found...

- Install instructions vary from the 'helm template' install docs. Would be better just to reference them
- Commands to 'Setup

[2019-02-26 20:05] ozevren commented on #11947
It looks like changing env, so that GODEBUG= is not specified could be a cheaper option?

[2019-02-26 20:10] andraxylia commented on #11964
I confirm it works with the --values install/kubernetes/helm/istio/values-istio-demo.yaml and updates the helm installation doc.

[2019-02-26 20:13] ayj commented on #11947
`GODEBUG=` is a quicker fix. `port-forward` instead of `exec` would be a longer term change to eliminate some complexity.

[2019-02-26 20:18] duderino commented on #11881
@silentdai here is another one, but please note the P1.  Your P0s take precedence over this one.

[2019-02-26 20:19] duderino commented on #11990
Optimistically assigning to @sdake but if you don't have the cycles we can find someone else.  Thank you :)

[2019-02-26 20:19] ayj commented on #12077
(updated the title to reflect the nature of the issue)

This isn't likely to work unless we ensure all of the validation command line flags are set correctly. k8s ValidatingWebhookConfiguration is cluster-scoped and points to a specific k8s service/namespace to handle the validation. A single copy of our ValidationWebhookConfiguration cannot be shared across namespaces as-is. You'd either need to

[2019-02-26 20:26] duderino commented on #11542
@howardjohn note the P1

[2019-02-26 20:32] duderino commented on #12020
P0 so we don't lose track of this, but i'm hoping it's a duplicate of the issues @nmittler referenced or perhaps https://github.com/istio/istio/issues/11964

[2019-02-26 20:35] gregdurham commented on #10815
For those running into this with EKS (side car injection) and are using Terraform to provision the cluster, I found that the issue for me, was that you needed to allow the kubernetes master access to the worker node on 443. Basically, you create another security group rule allowing this, and it resolved the issue for me. Hopefully this is helpful to someone.

[2019-02-26 20:37] douglas-reid commented on #12019
@dansiviter I tested the config in my own istio-on-gke cluster and it seemed to do the trick. I think that is what we should recommend moving forward.

[2019-02-26 20:48] duderino commented on #12087
P0 for the stability warning.  Actually making it work is a P1

[2019-02-26 20:50] dankirkpatrick commented on #11509
We renamed our ~20 services with unique names for each port.  That worked.  BUT...

Today two new services were rolled out with the same name for the HTTPS port.  This broke not only the 2nd gateway with the same port name, but ALL OF THE OTHER 20 SERVICES!  Having two HTTPS ports with the same name breaks other HTTPS port definitions with different names!

I would be extremely surprised if this i

[2019-02-26 20:52] duderino commented on #12081
@ostromart can you take a look at this one when you work on https://github.com/istio/istio/issues/11951 ?

[2019-02-26 20:56] ayj commented on #12078
A few things to note here:

1) There is an stray `-f` before `--readinessFailureThreshold` which affects how the flag is processed.

2) Many of the command line flags are deprecated in favor of using the template file via --injectConfigMapName or --injectConfigFile). It looks like --readinessFailureThreshold and some of the other newer flags were not added to this deprecated list.
 https://github.

[2019-02-26 20:57] ayj commented on #12078
With regards to the flag not taking affect: none of the flag overrides will take affect unless `--hub` or `--tag` are specified.

[2019-02-26 20:57] duderino commented on #12012
Istio Version - 1.1.0.snapshot.1??

You mean rc.1?

[2019-02-26 20:58] liamawhite commented on #12082
It's not entirely clear what we would put in a summary output, this is why it was never implemented. Any suggestions on a format?

[2019-02-26 20:58] duderino commented on #12012
Please try the latest RC from https://github.com/istio/istio/releases and see if this is still an issue

[2019-02-26 21:02] lei-tang opened #12088 "preliminary 1.1 doc for Multicluster Gateway-Connected Clusters fails"
**Describe the bug**
{{
https://preliminary.istio.io/docs/examples/multicluster/gateways/

Follow the instruction in the section "Send remote cluster traffic using egress gateway", then run curl. curl fails with "HTTP/1.1 503 Service Unavailable".

~$ kubectl exec --context=$CTX_CLUSTER1 $SLEEP_POD -n foo -c sleep -- curl -v httpbin.bar.global:8000/headers
  % Total    % Received % Xferd  Average

[2019-02-26 21:03] liamawhite commented on #11947
Are you suggesting we port-forward directly from istioctl to Pilot? IIRC, this won't work if control plane has mTLS enabled unless you get your CLI an identity which would be a PITA.

[2019-02-26 21:05] esnible commented on #12078
The extra `-f` was my mistake in entering the Issue.  I have removed it.

If I supply `--hub` I get a seemingly incorrect response:

[code]

Same incorrect (?) response if I supply `--injectConfigFile=/tmp/injectConfigFile.yaml`.

[2019-02-26 21:10] esnible commented on #12082
If we choose to fix this by creating a short version, instead of just removing the argument,

Just show the value of ISTIO_VERSION and buildVersion:

[code]

I often want to know which version of the sidecar is running.

[2019-02-26 21:17] duderino opened #12090 "Create Istio 1.0.8"
**Describe the feature request**

1.0.7 must have https://github.com/istio/istio/pull/12030 and it should be the release manager's discretion whether it contains anything other than that.  Ideally not since we don't have the bandwidth to go through a full qualification cycle with release 1.1 demanding so much attention.

CC: @Stono @costinm @howardjohn

[2019-02-26 21:18] duderino commented on #11658
1.0.7:  https://github.com/istio/istio/issues/12090

[2019-02-26 21:19] ayj commented on #11947
Yes. Last I checked, port-forwarding uses socat to bridge between the node and pod network namespaces. This means traffic originates from "localhost" and thus bypasses the proxy via the current iptables rules. See https://discuss.istio.io/t/how-does-kubectl-port-forward-bypass-envoy-mtls-enforcement/731/2. FWIW, `pilot-discovery request` also relies on the iptables to bypass the proxy.

[2019-02-26 21:23] ayj commented on #12078
cc @mandarjog

The flags are deprecated. I believe they were only retained while our test framework updated. You'll also need to specify ISTIOCTL_USE_BUILTIN_DEFAULTS=1 and set the --tag as well.

[code]