[2018-10-26 05:10] ayj commented on #9476
Re-loading the cert per tls connection is certainly simpler. Some potential downsides to consider:

1) error checking is deferred to connection time. We won't be able to reuse the previous cert (assuming its still valid) if the new cert fails to load.
2) key/cert loading may be replaced by SecretDiscoveryService (SDS) which is conceptually similar to the file watcher approach
3) file I/O in the co

[2018-10-26 06:17] hzxuzhonghu commented on #9476
But the connection is long-running grpc, so will not call the reload very often.  Unless connection error and reconnect.

[2018-10-26 07:30] dshmatov commented on #9529
Thank you @eduardobaitello ! It helped me a lot, but I was able to find out the solution by pointing `Service` to 8081 (you may use whatever port you want, except 80 ) and route traffic in `VirtualService` destination rule to this port, like:
[code]

[2018-10-26 07:39] miv commented on #5379
I have similar issue on RKE baremetal cluster with calico and istio 1.0.2. Gateway running on hostPort. Testing resilience i restarted gateway's host machine, and after it has been brought up, gateway has't booted up with this error.

[2018-10-26 07:57] vosst opened #9556 "destination.uid and source.uid in rules for templates with `TEMPLATE_VARIETY_CHECK`"
**Describe the bug**
We are deploying our own adapter implementation handling the `apikey` and `authorization` template. For that, we have a rule in place that is meant to trigger if:

 * the source is marked as handling external traffic (label: `handles-external-traffic`, values in {`"true"`, `"false"`})
 * the destination is marked as requiring `apikey` or `authorization` checks (labels: `requir

[2018-10-26 08:28] StefanCenusa opened #9557 "Gateway kubernetes service should support externalIps in helm charts"
I am trying to install a custom ingress gateway using helm.
Seems that the gateways chart does not support exposing its [service](https://github.com/istio/istio/blob/master/install/kubernetes/helm/subcharts/gateways/templates/service.yaml) through [externalIps](https://kubernetes.io/docs/concepts/services-networking/service/#external-ips).
Only NodePort and LoadBalancer types are available for rec

[2018-10-26 08:39] c0d1ngm0nk3y commented on #9313
Can this issue be closed?

[2018-10-26 10:04] AWKIF commented on #7964
Hello,
Do the appendHeaders allow to rewrite the header ? I had no success on my side, i'm able to add headers but not rewriting them.
I saw that in 1.1 we should be able to remove headers, so i could remove and then re-add with the correct value. Is that the way to do it ?
Thanks

[2018-10-26 10:38] liamawhite commented on #4481
This has not yet been prioritised, but I will take a look if more people are interested in this. It will not be in by 1.1 though.

[2018-10-26 11:20] gephcott commented on #1277
Hi Diem - i do have 2 services using the same pod. I tried re-deploying cassandra with only the headless service to try to avoid the issue you mentioned above and i am still getting the same handshake error. Any other ideas?

[2018-10-26 12:28] johnholiver opened #9560 "Multiple handlers to one adapter seem to deliver corrupt r.AdapterConfig.Value (non deterministic)"
**Describe the bug**
r.AdapterConfig.Value carries a configuration set at a handler into an adapter.
If the adapter can be accessed from multiple handlers, it seems that the AdapterConfig value sent to the adapter from the Mixer can get corrupted, mixing values from different handlers.
Corrupt AdapterConfig values fail to be unmarshalled on the adapter, resulting in different errors such as: illeg

[2018-10-26 12:34] cainelli commented on #4481
Thank you @liamawhite. Is there a recommended way to preferably route traffic within the same availability zone? I've scratched the code base and saw that ServiceInstances have AvailabilityZone but it was unclear if it can be used to achieve this.

I know we can workaround this with DestinationRules but was wondering if there is a better approach.

[2018-10-26 13:33] psaia opened #9562 "Istio sidecar telemetry vs. GCP stackdriver logging agent"
While there are instructions for setting up a [Stackdriver logging agent](https://istio.io/docs/reference/config/policy-and-telemetry/adapters/stackdriver/) for Istio + GCP, I couldn't find a recommended strategy to deal with the default fluentd/stackdriver logging agent which gets installed on a GCP k8s cluster. Is it recommended to remove this if using Istio? This may be considered out of scope

[2018-10-26 14:13] rshriram opened #9563 "Helm: cannot override mixer/pilot's proxy image"
setting proxy/image in helm/istio/values.yaml to something like docker.io/rshriram/shriram-test-proxy:0.0.1 results in a yaml like this for istio-pilot and istio-mixer

[code]

This is sure to break all installs if someone uses a custom proxy image.

[2018-10-26 14:13] rshriram commented on #9563
cc @hklai

[2018-10-26 14:43] linsun commented on #9563
https://github.com/istio/istio/pull/9565

[2018-10-26 15:21] hzxuzhonghu commented on #9515
can close now

[2018-10-26 15:21] #9515 closed

[2018-10-26 15:33] disophisis commented on #9504
We are seeing this as well in Amazon EKS using the prelim istio 1.1 snapshot 2 build.

[2018-10-26 15:45] diemtvu commented on #1277
Can you run istioctl authn tls-check and let me know what you see. Thanks

On Fri, Oct 26, 2018, 4:21 AM gephcott <notifications@github.com> wrote:

[2018-10-26 15:53] silencecorner commented on #7495
@jordan-da thx for your kind reply
when i was using both `hosts` and `addresses` , the application used `emqtt.emqtt:1883` would fail to  access server.
 i've fixed by using location `MESH_EXTERNAL`,i guess the reason is the service cluster is in k8s and not inject to  istio mesh.
 another confusing is that application is failed to connect to emqtt  server at startup, but can pub/sub message from

[2018-10-26 16:15] gephcott commented on #1277
Sure, here is what i am seeing:
[code]
Here is the proxy status as well:
[code]
I also tried updating to 1.0.3 this morning, didn't solve the issue.

[2018-10-26 16:16] ayj opened #9566 "TestRedisQuotaRollingWindow is flakey"
TestRedisQuotaRollingWindow is part of the `ci/circleci: e2e-mixer-noauth-v1alpha3-v2` test suite which is required in master and release-1.1 branch.

[code]

xref: https://circleci.com/gh/istio/istio/228217?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-10-26 16:17] ayj commented on #9566
/assign @douglas-reid @mandarjog for further triage

[2018-10-26 16:22] ayj commented on #9504
cc @costinm @rshriram for further triage

[2018-10-26 16:44] ayj commented on #9529
Also, see https://istio.io/docs/setup/kubernetes/spec-requirements.

[2018-10-26 16:45] #9529 closed

[2018-10-26 16:52] ayj commented on #9476
re: (3), the normal successfully case wouldn't be an issue. The not-authorized path would be more costly.

[2018-10-26 17:14] douglas-reid commented on #9562
@psaia The stackdriver logging agent operates at a different level from the SD adapter for Mixer that is available to be exposed via Istio. The fluentd agent will grab all the application logs -- something that Istio is not currently setup to handle. The Stackdriver adapter for Istio allows you to provide customizable logging (and metrics, trace, edge collection) based on request/response metadata

[2018-10-26 17:14] #9313 closed

[2018-10-26 17:21] luigi-riefolo opened #9567 "LB consistent hash: docs clarification"
Hi,

Apologies for the free-form issue.

The docs on consistent hash-based load balancing do not specify whether the rule applies to service/host or pods ([link](https://istio.io/docs/reference/config/istio.networking.v1alpha3/#LoadBalancerSettings-ConsistentHashLB)).

Could anyone please clarify how to use the hash-based LB and how the rules are applied?

Thanks.

[2018-10-26 18:46] psaia commented on #9562
@douglas-reid That makes a lot of sense. Thank you for explaining it and for the great work.

[2018-10-26 18:58] facundomedica commented on #6469
What's the function of galley? Is there a fix for this yet?

[2018-10-26 19:44] baodongli commented on #9441
Thanks for creating the issue. As it stands right now, only podIP is available through k8s API. And as you've found out, the podIP is passed to pilot from the proxy.

But it might be possible to do this with the help of istio CNI that we are developing since it's aware of all the IPs assigned to the POD.

[2018-10-26 20:14] cezarsa opened #9571 "Pod failing to start with sidecar injector if any label contains slashes in the key name"
**Describe the bug**

When starting a new Pod the istio sidecar injector is creating an environment variable for each label in the format `ISTIO_META_<label key>=<label value>` , but if any label contains `/` as part of its key name the pod fails to be created because it lead to an invalid environment variable name.

This problem apparently was introduced in #9208 and is related to #9338.

**Expec

[2018-10-26 20:48] arnecls opened #9572 ""unused" pod ports added to iptables but not to sidecar"
**Describe the bug**

Create a pod witch a container that exposes 3 ports (let's call them A-C).
Use A in the readiness probe
Use B in the healthiness probe
C is left "unused"

In the istio-init container logs you can see, that ingress rules for all 3 ports are being generated.
However - as istio-pilot only adds service ports and "management" ports, i.e. port A+B to the proxy, port C cannot be acc

[2018-10-26 21:10] facundomedica commented on #7909
@JCzz I got it working! And also added TLS! I added the port 30051 to the istio-ingressgateway but you can use 31400 without any changes (I don't know if other service uses this port, but it is enabled by default). My service is called `gateway` and exposes an http server and the gRPC service (if there is too much confusion I'll refactor the examples below).

For my TLS certificates I've used Let'

[2018-10-26 21:52] shalako commented on #1873
This is still needed; CF teams should get to it within the next couple of months.

[2018-10-26 22:33] hklai commented on #9560
@kuat 1.1 or 1.2?

[2018-10-26 22:43] mandarjog commented on #9560
1.1

[2018-10-26 23:07] nixgadget commented on #9504
May or may not be related to this issue https://github.com/istio/istio/issues/9472

[2018-10-26 23:24] theganyo opened #9576 "Support query parameters in the expression language"
**Describe the feature request**
Add support for templates and rules to consider a request's query parameters in a manner similar to a request's headers. In other words, be able to reference them directly via string map expressions, eg:

[code]

Today you must:
Rule expressions: Write a regex against request.path.
Attribute expressions: Specify request.path and expect the adapter to parse.

[2018-10-26 23:31] bianpengyuan commented on #9576
The feature should be ready in 1.1 and attribute reference doc already has that. See request.query_params in https://preliminary.istio.io/docs/reference/config/policy-and-telemetry/attribute-vocabulary/

[2018-10-26 23:33] kyessenov commented on #9576
Great. It's not in preliminary stage right now, but the code has been there for awhile.
Let us know if it doesn't work @theganyo

[2018-10-26 23:33] #9576 closed

[2018-10-27 10:37] liamawhite commented on #4481
The availability zone fields are not configured properly in Envoy yet so won't do it for you.

I think you could probably do this with DestinationRules but that would be pretty horrible, I can't think of a better approach right now though.

[2018-10-27 14:25] osswangxining opened #9579 "Need to add namespace for tracing operation_name to differentiate the services with same name under different namespace"
**Describe the bug**
{{ Succinctly describe the bug }}
Currently if two services with same name under different namespace in Kubernetes, the Jaeger tracing cannot differentiate them. Looks like the operation name assigned from Istio does not include the namespace.
**Expected behavior**
{{ What did you expect to happen? }}
Need to add namespace for tracing operation_name to differentiate the servic

[2018-10-27 20:22] nvnobelen opened #9581 "Documentation on how to reach an internal to kubernetes cluster ip for redis"
**Describe the feature request**
Documentation on how to reach an internal to kubernetes cluster ip for redis

**Describe alternatives you've considered**
When a service uses a not kubernetes native approach to determining a master in a cluster, like with redis cluster with sentinel, in which the IP of the node is returned instead of a name, generate a service on demand to identify the master and

[2018-10-27 21:23] victorboissiere opened #9582 "Kubernetes http probe failing with sporadic 503 errors"
**Describe the bug**
I get sporadic error with Kubernetes http probes on istio sidecar proxy. I have two distincts environnements in two differents namespaces but only one with istio enabled. However, http probes are receiving sometimes 503 error from istio proxy. It is about 1 to 3% of the traffic.

The environment is stable with no deployments or pods restarting during my investigation.
Here is

[2018-10-28 07:44] nixgadget commented on #9542
@douglas-reid any idea what the issue might be here ? i can provide more info if the description lacks details.

now so far i have deleted the crashing instance of the pod and let the autoscaling do its job to re-create the instance. this is ok but would like to get to the bottom of it to see if its a problem with the way i deploy.

[2018-10-28 10:36] objectiser commented on #9579
The namespace is now used in service name #7803 which will be available in version 1.1.

[2018-10-28 16:23] #7429 closed, assigned to liamawhite

[2018-10-29 06:01] zhaohuabing commented on #9441
Hi @baodongli ,  should we address this issue in the data plane API rather than in the Istio CNI?  We know that Istio can run with or without kubernetes.

The workaround I'm using now is to pass all the IPs to Pilot via the Node Metadata of the discovery request. This approach is compatible with the current data plane API and it solves the issue in both the kubernetes and consul deployment of Isti

[2018-10-29 07:23] vinkdong opened #9592 "Grafana dashboard displayed not correct"
**Describe the bug**

As, below , an unexpected column name value #F appear, and success rate value is turly come from p99 latency
![image](https://user-images.githubusercontent.com/10599904/47634812-bc404380-db8d-11e8-9e9b-62e9c68d8a37.png)

**Expected behavior**

enabled prometheus and using istio/grafana

**Steps to reproduce the bug**

open grafana dashboard  -> istio-meshboard -> HTTP/GRPC Wo

[2018-10-29 07:36] wansuiye commented on #6146
@mdemirhan May I ask if you have verified this function? I did not find any specific code in the master branch. except that tag 1.0.3 has been updated, I wonder if it contains this function...

[2018-10-29 07:45] osswangxining commented on #9579
@objectiser  thanks for your info and looking forward to learn from version 1.1.

[2018-10-29 07:45] #9579 closed

[2018-10-29 08:28] #8008 closed

[2018-10-29 08:28] liamawhite commented on #8008
Resolved by #9533

[2018-10-29 08:40] Amit-Thawait commented on #8301
Answering this in case someone stumbles upon this issue.

The correct way to **make the istio-ingressgateway internal on AWS** is

edit `install/kubernetes/helm/istio/values.yaml` in istio's helm chart (https://github.com/helm/charts/tree/master/incubator/istio)

Look for the below section
[code]
In the above section, just edit the  annotations part from `annotations: {}` to this:
[code]

Last ste

[2018-10-29 09:23] clyang82 opened #9593 "Cannot install helm charts successfully with release-1.1"
**Describe the bug**
Install istio version `release-1.1` with `helm install --name istio --namespace istio-system . --tls --debug`
here is output of `kubectl get pod`
[code]
**Expected behavior**
Should be running normally. I have installed `istio-1.1.0-snapshot.2`, it works well.

**Steps to reproduce the bug**

**Version**
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0",

[2018-10-29 09:30] clyang82 commented on #9593
may be related with https://github.com/istio/istio/pull/9489

[2018-10-29 10:23] gunhu opened #9595 "X-Forwarded headers behavior with remove and append request headers features"
**Describe the bug**

When I declare a VirtualService with **removeRequestHeaders** and **appendRequestHeaders**

**removeRequestHeaders** parameter imply that we cannot specify a new value for this header on the same request.

It seems to be done after appendRequestHeaders, here is a tcpdump capture trace:

host: append.unhu.re
user-agent: curl/7.61.1
accept: */*
x-forwarded-for: 10.233.20.0
x-en

[2018-10-29 10:26] johnholiver opened #9596 "Unexpected hit in Mixer ServerSide CheckCache"
**Describe the bug**
Around June, a Check Cache has been introduced to the mixer.
Potential bug is that I'm seeing cache hits for requests that allegedly shouldn't be hitting the cache.
These requests should be _different enough_ to generate a different cache key, but it seems that the cache is still being hit.
By _different enough_ I mean that there is an attribute defined in the instance configu

[2018-10-29 10:49] Stono opened #9597 "Proxy status reports proxy version incorrectly"
As you can see the proxy is on 1.0.3

[code]

proxy-status says otherwise:
[code]

[2018-10-29 13:28] Stono opened #9604 "Performance Regression: mixer cpu use significantly higher in 1.0.3"
Hey,
Noticed this this morning.  In one of our production clusters on 1.0.2 (actually getting 10x the load of pre-prod):

Istio policy is nice and low
<img width="800" alt="screen shot 2018-10-29 at 13 26 35" src="https://user-images.githubusercontent.com/1486729/47652676-73cd5980-db7e-11e8-97b7-554feb0120c4.png">

And then our 1.0.3 upgraded pre-prod cluster, istio-policy using 15x as much:
<img

[2018-10-29 13:40] acartapanis opened #9605 "Sidecar injection not working with 1.0.3"
**Describe the bug**
Sidecar injection does not work with 1.0.3 when the pods have labels with '/' inside name (for exemple, "app.kubernetes.io/name" or "app.kubernetes.io/version").
The error is :
[code]

Note that this error appears after moving from istio 1.0.2 to istio 1.0.3.

**Steps to reproduce the bug**
Deploy a pod with standard label (see https://kubernetes.io/docs/concepts/overview/work

[2018-10-29 13:42] acartapanis commented on #9605
It seems to come from modification to the configmap (https://github.com/istio/istio/blob/a44d4c8bcb427db16ca4a439adfbd8d9361b8ed3/install/kubernetes/helm/istio/templates/sidecar-injector-configmap.yaml#L139 to https://github.com/istio/istio/blob/a44d4c8bcb427db16ca4a439adfbd8d9361b8ed3/install/kubernetes/helm/istio/templates/sidecar-injector-configmap.yaml#L142)

[2018-10-29 13:47] Stono commented on #9604
This is the same for telemetry (mixer based) too

[2018-10-29 14:20] PrajwalGurumurthy opened #9607 "404 while accessing External services in istio"
**404 while accessing External services in istio. I am trying to do tls origination at the envoy proxy through virtual services for external  services. I am using the following yamls.**

[code]

**Observed behavior**

I am trying to access https://test.com from an application within the istio mesh.

After creating the above resources. I am accessing test.com from the application container as http:

[2018-10-29 15:11] mandarjog commented on #9596
Please attach istio-proxy log with debug enabled as well.

[2018-10-29 15:24] baodongli commented on #9441
@zhaohuabing the change looks good to me. My question to you is how you passed the multiple IP addresses to pilot agent which builds the node metadata. I guess that it was manually entered in the manifest?

[2018-10-29 15:36] mandarjog commented on #9604
Can you export your grafana mixer dashboard ( to raintank.io)?
Is there any other config change in your env?

[2018-10-29 15:52] Stono commented on #9604
Unfortunately not; happy to give your google account access to the preprod cluster though if you like (message me on slack).

Here are some screenshots:

<img width="1610" alt="screen shot 2018-10-29 at 15 50 51" src="https://user-images.githubusercontent.com/1486729/47662302-91a4b980-db92-11e8-95c2-ba68057bc1ce.png">
<img width="1602" alt="screen shot 2018-10-29 at 15 50 56" src="https://user-ima

[2018-10-29 16:02] Stono commented on #9604
Dunno if it helps but there are some errors in the logs:

**telemetry**
[code]

**policy**
[code]

[2018-10-29 16:06] qiwzhang commented on #9596
@johnholiver Please attach Istio proxy log.  Especially, look for this line:
"Add a new Referenced for check cache:"

[2018-10-29 16:20] douglas-reid commented on #9542
@nixgadget no, but I haven't looked at this yet. @mandarjog any ideas here?

[2018-10-29 16:24] #9592 closed, assigned to nobody

[2018-10-29 16:29] repenno commented on #9459
I checked that branch and finally can see the messages in my handler. I will add the code to process all logentry fields and report back.  I will try to write tutorial on how to write and  debug such more complex adapter

thanks for all your support so far.

[2018-10-29 16:38] mandarjog commented on #9542
Do you see a message
“Starting gRPC server on port 9091” in the logs? That indicates mixer has started.

In absence of that, the port is not open, so you can see upstream connection reset error messages.

Peter does this snapshot have the waiting fix?

[2018-10-29 16:40] cezarsa commented on #9605
Looks like a dup to #9571. This bug made 1.0.3 (and 1.1 snapshots) unusable for me. I'd be happy to provide a PR after some guidance, could this be changed to create a `ISTIO_METAJSON_LABELS` similar to how annotations are handled?

[2018-10-29 16:44] mandarjog commented on #9604
Incoming requests into telemetry and dispatch count have become 8x.
And cpu has also gone up, so telemetry is doing more work.
What is the total mesh traffic? Has size of deployment changed at all ?

[2018-10-29 16:49] Stono commented on #9604
No, as I keep saying mate nothing at all had changed other than an upgrade of control plane and sidecars to 1.0.3

[2018-10-29 16:49] Stono commented on #9604
Could this be istio-proxy 1.0.3 just making a lot more policy calls than 1.0 2, so the issue could be with proxy?

[2018-10-29 17:01] mandarjog commented on #9604
There is a change in client side caching code in 1.0.3.
@JimmyCYJ @qiwzhang We are observing higher inbound requests into mixer with absolutely no other change in deployment beyond upgrading the control plane. Can you check if change in batch size + change in cache code results in 8x traffic to both istio-proxy and istio-telemetry.

[2018-10-29 17:08] rshriram opened #9613 "Mixer: support sending arbitrary attributes generated by non-oss envoy filters"
I have some custom codec in Envoy that generates some attributes for some protocol. Envoy now has a mechanism to share state across filters. So, in theory, mixer filter in Envoy should be able to see these attributes (present as a Protobuf::Struct). I would like to stream these attributes to Mixer for telemetry purposes. This would require supporting Protobuf::Struct as a first class attribute tha

[2018-10-29 17:20] johnholiver commented on #9596
Istio proxy log that fits with the previously mixer debug log attached file.
[code]

[2018-10-29 17:32] bianpengyuan commented on #9542
Yes it has the waiting fix, but that should not be the cause of crashloop. The log does not have CRD discovery failure before `Awaiting for config store sync...` line.

[2018-10-29 18:11] ayj commented on #9593
Do Pilot logs include a similar error?

Possibly related to https://github.com/istio/istio/pull/1751.

[2018-10-29 18:53] hklai commented on #8539
1.0.3 has been published.
https://github.com/istio/istio/releases/tag/1.0.3

[2018-10-29 18:53] #8539 closed

[2018-10-29 20:41] theganyo commented on #9576
FYI @geeknoid

[2018-10-29 20:45] theganyo commented on #9576
Thanks @kyessenov and @bianpengyuan. Good to see that's coming soon. Just curious, has there been any discussion of supporting access of cookies from headers?

[2018-10-29 20:48] #8839 closed

[2018-10-29 21:00] geeknoid commented on #4346
Kuat, could you take a look at this?

[2018-10-29 21:05] qiwzhang commented on #9604
Just check the proxy commit SHA.  There is little or not change between proxy 1.02 and 1.03.  This is the only change:  https://github.com/istio/proxy/pull/1969

[2018-10-29 21:34] Stono opened #9618 "503s under concurrent load with istio 1.0.3"
Just creating this placeholder issue, the title describes the observation, the underlying problem we're yet to locate.

Following the ongoing conversations with @mandarjog tonight; we've rolled back to 1.0.2 due to seeing approximately a 5-10% error rate (503s) for services deployed AFTER pilot.

So just to be clear:

- Pilot started
- App started (app has error rate)
- Pilot restarted (resolves a

[2018-10-29 22:10] bianpengyuan commented on #9542
@nixgadget Could you check the start up time of other healthy mixer pods (time spent before `start monitoring server...` line) based on log? Also could you check if the unhealthy mixer pod running on a different node with other mixer pods?

[2018-10-29 22:11] andraxylia commented on #6477
Enhancements should not be marked as stale.

[2018-10-29 23:56] nixgadget commented on #9542
@bianpengyuan FYI this is what I have observed so far.
- The crashing telemetry pod initialises fine. I can see the `Starting monitor server` and I can also see telemetry information coming through.
- However, for some reason (after few minutes or so) I can see that `istio-proxy` erroring with `Mixer Report failed with: UNAVAILABLE:upstream request timeout`. And then the pod begins to crash.
- The

[2018-10-30 01:03] clyang82 commented on #9593
Yes. Pilot includes a similar error. Here is Pilot logs:
[code]

[2018-10-30 03:49] bianpengyuan commented on #9542
I cannot find any suspicious lines in the log. Could you increase the liveness probe initial delay to a longer period like 30s to at least check if that stops repetitive restarting?

[2018-10-30 03:59] nixgadget commented on #9542
@bianpengyuan Yean i can try that.

By the way what does the error `Mixer Report failed with: UNAVAILABLE:upstream request timeout` mean ? Is that a red herring ? Does it happen when its connecting to the mixer itself ?

[2018-10-30 04:30] bianpengyuan commented on #9542
Yes, as other proxy, mixer's proxy also makes report call to mixer. The log line indicates mixer container is not in a healthy state.

[2018-10-30 04:41] nixgadget commented on #9542
@bianpengyuan thanks for the clarification. will post back when I test increasing the probe delay

[2018-10-30 07:16] fuxu commented on #9572
you should remove definition of C port in your pod template.

then it will not appear in your iptable chains

[2018-10-30 08:15] amitsinha11 commented on #2420
Istio is forwarding request headers in lower case to pods even when I'm sending with camel casing to my service, what should I do?

[2018-10-30 08:16] repenno commented on #9459
https://github.com/repenno/mopa

[2018-10-30 08:16] #9459 closed

[2018-10-30 08:17] amitsinha11 opened #9630 "Istio is forwarding request headers in lower case"
**Describe the bug**
Istio is forwarding request headers in lower case to pods even when I'm sending with camel casing to my service, what should I do?  e.g. X-Request-ID is going as x-request-id, Authorization is going as authorization etc.

`Call create user with headers: {host=[microservice-abc], x-forwarded-host=[abc.host.name], x-forwarded-serverabc.host.name], x-forwarded-port=[443,80], x-fo

[2018-10-30 08:33] BulprosMiroslavHadzhiev commented on #2920
@douglas-reid I would also appreciate some help re the question right above.

[2018-10-30 09:51] kop commented on #9480
I have to reopen this. After upgrade to Istio 1.0.3 issue appears again making mesh totally unusable.
Pods in or cluster changing often enough and envoys keeping forwarding traffic to non existing pods.

[2018-10-30 09:53] arnecls commented on #9572
That would be a short-term fix, yes, but IMO this issue is very confusing for people who e.g. use the pod spec as a kind of documentation. It took us two days to figure out and required a look into the code as this behaviour seems not to be mentioned anywhere in the docs.

[2018-10-30 10:37] Stono opened #9632 "excludeOutboundPorts to facilitate headless data stores"
Hey,
So we are still trying to fight istio to manage to use headless services within our cluster, and I know this causes pain for many other people (see the numerous issues).

The latest example is kafka, in which clients need to be able to connect to:

  - kafka-0.headless-service.namespace.svc.cluster.local:9092
  - kafka-1.headless-service.namespace.svc.cluster.local:9092
  - kafka-2.headless-s

[2018-10-30 11:34] Stono commented on #9632
Hmm,
I don't know if this is a side effect or not, but creating a destinationrule for the headless service

[code]

Successfully allows me to connect to `kafka-0.kafka-headless.kafka.svc.cluster.local:9092`.  I swear, this used to throw 404s.

[2018-10-30 11:44] zhaohuabing commented on #9441
@baodongli We can directly get the IPs of the node in pilot-agent using go net package, this approach works both with and without kubernetes: https://github.com/DexMesh/istio/commit/e6ce750d0cb85662e4140599581654acf1b4b3a1

[2018-10-30 15:14] tomkerkhove opened #9635 "tutum/curl in "Sleep" sample no longer exists"
**Describe the bug**
`tutum/curl` in "Sleep" sample no longer exists

**Expected behavior**
Be able to create a deployment

**Steps to reproduce the bug**
1. Deploy https://github.com/istio/istio/blob/master/samples/sleep/sleep.yaml
2. Deployment will fail when pulling the image as it's no longer there

**Version**
N/A

**Installation**
N/A

**Environment**
N/A

**Cluster state**
Failed to pull th

[2018-10-30 15:29] jmazzitelli commented on #9635
This affects the "prow/e2e-mixer-no_auth.sh" tests, too -- see https://groups.google.com/forum/#!msg/istio-dev/VA5k1hEQmKY/SCp2FjEoCgAJ

[2018-10-30 15:42] mandarjog commented on #9605
@ostromart submitted a PR for 1.04.

[2018-10-30 15:46] douglas-reid commented on #2920
I'm still not certain on what needs to be done to address this question, so please let me know what is needed.  The prometheus config that Istio uses is here: https://github.com/istio/istio/blob/master/install/kubernetes/helm/subcharts/prometheus/templates/configmap.yaml#L17-L157.

If you want to use your own prometheus, you can copy that config to your prometheus and it should just work.

Other o

[2018-10-30 16:02] douglas-reid opened #9638 "FR: Istio should publish its own Docker image with curl"
**Describe the feature request**
Istio ideally should not rely on third-party images, especially in e2e tests. This feature request is for Istio to use an Istio-managed image for the `sleep` sample. It doesn't need to be updated with any frequency, just needs to be published once and have its lifecycle maintained by Istio.

**Describe alternatives you've considered**
Find random test breakages at

[2018-10-30 16:20] baodongli commented on #9441
That's right, pilot agent can simply grab IPs from the interfaces.

[2018-10-30 17:00] kyessenov commented on #9638
Per offline discussion, I think we can reuse our base build image with all of the goodies to replace some of the 3rd party images we depend upon.

[2018-10-30 17:32] BulprosMiroslavHadzhiev commented on #2920
@douglas-reid Thank you for the nice and explanatory reply!

[2018-10-30 17:42] sdake commented on #9605
if 1.0.3 is DOA (is it doa?) we should cut 1.0.4 asap.

Cheers
-steve

[2018-10-30 18:04] mandarjog commented on #9605
@sdake  it is only a problem if you happen to have / in your label names.
This is not very common. There is an easy workaround available.

[2018-10-30 18:41] costinm commented on #9454
Yes, we are well aware of this issue and working on a fix, but it'll take some time.
There are discussions on K8S side ( @nmittler is pushing ) to have container start ordering or similar.
We're also working on CNI - which can solve the problem as well.

The root problem is that sidecar and app start at the same time. There are few workarounds and ways to
reduce the impact, but not full fix.

[2018-10-30 18:42] rshriram commented on #9613
`envoy::api::v2::core::Metadata& metadata` - mixer filter uses StreamInfo() to gather info about a request. StreamINfo, in addition to providing things like response codes, etc., also has dynamicMetadata - information generated by one or more filters (codecs for example). It would be valuable to log this data in mixer report calls. I don't know whats the required magic to introduce another attribu

[2018-10-30 18:50] vilobhmm opened #9644 "Helm Upgrade failed when upgrading from 0.8 ==> 1.0.3"
Helm upgrade fails when upgrading from 0.8 to 1.0.3 with unable to get the destination rule and configmap info even when both of them are present.

Steps tried
=========

1. Install Istio with 0.8
2. Follow the instructions to upgrade Istio here https://istio.io/docs/setup/kubernetes/upgrading-istio/

Log
===

$ helm upgrade istio install/kubernetes/helm/istio --namespace istio-system
Error: UPGRA

[2018-10-30 18:51] vilobhmm commented on #9644
@hklai @costinm

[2018-10-30 19:06] hklai commented on #9644
+@mandarjog

[2018-10-30 19:39] amyroh commented on #6146
Istio 1.0.3 release notes (https://istio.io/about/notes/1.0.3/) state that "Service entry no longer allows wildcard (*) DNS resolution. The API has never allowed this, however ServiceEntry was erroneously excluded from validation in the previous release."  This issue should be re-opened then.

[2018-10-30 19:49] jlegrone commented on #9605
There are no workarounds for StatefulSet due to the `statefulset.kubernetes.io/pod-name` added by the StatefulSet controller.

https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#pod-name-label

[2018-10-30 20:33] Grant1219 commented on #7369
I am also running into this problem with Istio 1.0.2.

The `VirtualService` and `DestinationRule` seem to work fine when traffic comes through the ingress gateway, but when I removed the `gateway` block from my `VirtualService` YAML the rules and subset no longer apply, and traffic seems to simply go randomly to each deployment subset through the defined Kubernetes service.

How should clients ins

[2018-10-30 20:55] vadimi commented on #7964
@AWKIF `appendHeaders` didn't work for me either. But I was able to setup a filter to do this:

[code]

[2018-10-30 21:58] douglas-reid opened #9649 "Mixer-related RedisQuota e2e tests take excessively long time to run"
**Describe the bug**
The mixer e2e tests provide a great deal of coverage (beyond *just* mixer-specific concerns when all fully-enabled). However, as of the time of filing, the whole suite takes ~33m to run to completion. There are 12 active tests in the suite, which means on average each test is taking 3m to finish.

However, there are two primary outliers in the suite:
1. `TestRedisQuotaRollingW

[2018-10-30 22:07] acartapanis commented on #9605
@sdake using "/" in labels is the kubernetes official recommended labels, see https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/

[2018-10-30 22:21] adolfo commented on #6981
@prune998 what needs to change in the `istio-sidecar-injector` ConfigMap to make this work?

[2018-10-30 22:45] jojimt commented on #8049
Not for me.
/istio/istio-1.1.0.snapshot.1$ kubectl apply -f <(istioctl kube-inject -f samples/bookinfo/platform/kube/bookinfo.yaml)
panic: template: inject:10: function "annotation" not defined

goroutine 1 [running]:
text/template.Must(0x0, 0x1a8ede0, 0xc420358b80, 0x0)
	/usr/local/go/src/text/template/helper.go:23 +0x54
istio.io/istio/pilot/pkg/kube/inject.injectionData(0xc420589300, 0x1261, 0xc

[2018-10-30 22:56] mandarjog commented on #9613
`envoy::api::v2::core::Metadata` is `map<string, Struct>`, we should not send the thing whole sale over to Mixer. I think it is better to name individual elements in the map and send them over. A pair of filters may put some sensitive information in the dynamic metadata and we will end up sending it to Mixer.

I prefer only sending named and defined elements from here.

There is an analogy between

[2018-10-30 23:02] kyessenov commented on #9613
Thanks. @rshriram what is it specifically do you want to send in metadata? Why can't _that_ thing be written to metadata as Mixer attributes?

[2018-10-30 23:03] mandarjog commented on #9605
Thanks for the docs, I never used those characters in labels, but they are clearly used :-)

I meant the workaround is to edit the `istio-sidecar-injector` config map in `istio-system` as specified in https://github.com/istio/istio/pull/9634/files.

That PR has merged now.

[2018-10-30 23:13] jlegrone commented on #9605
@mandarjog understood. Thanks for the quick patch!

[2018-10-30 23:32] ayj commented on #8471
Fixed by https://github.com/istio/istio/pull/9498

[2018-10-30 23:32] #8471 closed

[2018-10-30 23:49] MarkDeckert commented on #6806
That's pretty unbelievable that the solution to running istio in a cluster is to disable PSP for EVERYTHING on the cluster.  But do it in a way that if you don't look at this one particular ClusterRoleBinding you won't even realize that it's completely disabled.  I won't even look at istio as an option with a response like this.

[2018-10-31 00:05] geeknoid commented on #9613
Yes, the value that Mixer provides is that it allows the operator fine-grained control over the telemetry state produced by the mesh. The operator gets to augment or redact this data before it leaves the mesh. Our model leverages type information to eliminate a class of errors for the operator by statically constraining assignments and use.

Passing raw state to Mixer to shovel to an adapter compl

[2018-10-31 01:01] zhaohuabing commented on #9441
Hi guys, could we merger this enhancement to the next release if it makes sense?

[2018-10-31 01:42] SleepyBrett commented on #6806
This is unsafe and needs a significant redesign. It's like running a big timeshare unix system in the 90s with every user in the sudoers file.

[2018-10-31 02:56] wansuiye commented on #6146
@amyroh "The API has never allowed this"...,yeah the issue should be re-opened!

[2018-10-31 03:07] dreadbird commented on #6469
I think the bug  have not resolved. @prune998  @vadimeisenbergibm
The two merge https://github.com/istio/istio/pull/7994 and https://github.com/istio/istio/pull/7995 just add the port to virtualservice in the envoy,but  I cannot create a virtualservice with \<hostname>:\<port> scheme, admission webhook denied it. the error as flow:
[code]

[2018-10-31 03:39] zhaohuabing opened #9653 "ServiceMeta should be used instead of NodeMeta for Consul registry"
**Describe the bug**
Currently, Consul registry is using NodeMeta to convey the service protocol, which is not appropriate in my opinion.

Protocol is a property of the service itself, so it should not be bound to the node on which the service is located.  This assumes all the services reside on the same node must expose endpoints with the same single protocol, which is obviously not true in most

[2018-10-31 08:59] StefanCenusa commented on #9480
I am encountering the same issue. I've tried with both (gcr.io/istio-release, release-1.0-latest-daily) and (docker.io/istio, 1.0.3) and the issue persists.

Envoy clusters:

[code]

Kubernetes state:

[code]

`istioctl proxy-status` says that everything is in sync.

[code]

Deleting the istio-pilot pod fixes the problem until the next rolling update.

Any ideas on how to solve this issue?

[2018-10-31 09:16] hzxuzhonghu opened #9655 "istio.io/istio/pkg/probe.TestController flake"
As shown in https://testgrid.k8s.io/istio-presubmits#unit-tests
 TestController  is flake, with error

[code]

[2018-10-31 10:04] gunhu commented on #7964
Hi,

I will try this work-around today thank you @vadimi :)

Nonetheless I think it will be a good thing to have a KISS method to do this in the future :)

Regards,

[2018-10-31 11:09] prune998 commented on #6469
I think the issue is solved in 1.0.1 (but I don't remember).
It is solved for sure in 1.0.2.
Upgrade :)

[2018-10-31 11:09] acartapanis commented on #9605
+1 for correction.
Should I close this issue, or wait for the release ?

[2018-10-31 11:33] robertpanzer opened #9658 "Mixer Check results are not traced"
**Describe the feature request**
When configuring check rules and the request is rejected, for example by a listchecker handler, Jaeger only shows that the Handler execution itself finished successfully, which means no error did occur in evaluation.
But there is no hint on the CheckResult itself and one can only guess why a request was rejected.
This could be enhanced if the checkResult would be p

[2018-10-31 11:50] axel7born opened #9659 "Sidecar doesn't start since certificates are missing on the sidecar pod."
**Describe the bug**
We have a scenario, where the egress gateway originates TLS with certificates that are mounted to the path `/etc/istio/egressgateway-certs/`.
This path is automatically mounted, if a secret with the name istio-egressgateway-certs exists.

We configure the the TLS origination by a destination rule:
[code]

Our pods have sidecars, that do not start since the sidecar expects to f

[2018-10-31 11:51] ThusharaAma commented on #6593
I'm also trying to connecting from GKE to the Cloud SQL using Cloud SQL Proxy as described here.
https://cloud.google.com/sql/docs/mysql/connect-kubernetes-engine

I have disabled istio mtls and configured Service Entries But I get the following message

But the same setup works without enabling istio.

My istio configuration

[code]

[2018-10-31 12:04] xiajidexue commented on #9288
@sdake thanks a lot for your quick response, it is very helpful, one more question, dose it need to set hostnetwork for the ingress gateway pods? if so, is there an effective  way for load balancing of accessing gateway pods? if not, how can i find the mapping port for a new **kind: Gateway** via nodePort way?

[2018-10-31 12:55] StefanCenusa opened #9660 "Envoy-stats target endpoint down in prometheus with istio 1.0.3"
**Describe the bug**
Since upgrading to istio 1.0.3, in prometheus envoy-stats target, some endpoints are *DOWN* with Error `err="no token found"`. I have found out that the reason of this error is invalid metrics being exported by that endpoints.

I am running an application which connects to a mongodb instance. I've got the metrics via istio-proxy (`<pod_ip>:15090/stats/prometheus`) as prometheu

[2018-10-31 13:06] blaketastic2 commented on #7369
@Grant1219 Can you add your VirtualService yaml?

[2018-10-31 13:11] li1191863273 opened #9661 "Is there a java SDK"
Is there a java SDK, how can I use the program call instead of the command to call the API?

[2018-10-31 13:22] plwhite commented on #9571
It appears that this means that no StatefulSet can be automatically instrumented through sidecar injection because of the label `statefulset.kubernetes.io/pod-name`. There may be a workaround but I haven't found one.

[2018-10-31 13:32] plwhite commented on #9571
It appears (based on an initial test of istio, so not impossible I have misunderstood) that this prevents automatic sidecar injection into stateful sets, which have an automagically added label `statefulset.kubernetes.io/pod-name`. That may impact priority.

[2018-10-31 14:39] baodongli commented on #9441
Why not propose a PR for it?

[2018-10-31 15:19] ajit-hybris opened #9663 "A hyphen is missing in string literal"
Code line: https://github.com/istio/istio/blob/42773aacced474d97159902d20579a25b1f98106/install/kubernetes/helm/istio/charts/mixer/templates/statsdtoprom.yaml#L60

Missing hyphen in string literal causes istio-statsd-prom-bridge pod to crash.
Correct value is '--statsd.mapping-config=/etc/statsd/mapping.conf'

[2018-10-31 15:43] Grant1219 commented on #7369
@blaketastic2 Sure, here it is:
[code]
I have tried several permutations, making weight for v1 "100", removing the v2 subset completely, and specifying the "hosts" in the `VirtualService` as `k8s-stack-frontend-gateway` instead of `"*"`, but nothing seems to take affect unless I attach the `VirtualService` to a `Gateway` and send traffic through the ingress at which point the rules and weights wor

[2018-10-31 15:52] rshriram opened #9664 "CDS with strict_dns doesn't support version routing"
Create service entries with endpoints having dns names, and some labels. Try to do version routing. Traffic ends up going to all endpoints instead of endpoints for the specific version.

The CDS code computes cluster hosts only once (https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/cluster.go#L118) and reuses the same set for all subsets (https://github.com/istio/istio

[2018-10-31 16:44] rshriram commented on #9613
This is not about custom data blobs. This is more of an issue of maintenance and extensibility. Today, if I have some internal codec that is generating one or more attributes (strings, ints, etc.) that I want to send to mixer via the usual envoy-mixer-filter to mixer-server, I need to do the following:
1. fork Istio/proxy and create my own version of mixer filter that sends these attributes extrac

[2018-10-31 16:55] mridul-sahu opened #9666 "Istio sidecar returns 404 when trying to reach Statefulset"
**Describe the bug**
Istio sidecars returns 404 when trying to reach any member of the Statefulset from inside of the cluster.
Code can be found here: https://github.com/mridul-sahu/hello-world-istio
[code]

[code]

[code]

**Expected behavior**
Stateful set members should be reachable when hit from inside the cluster.

**Steps to reproduce the bug**
1. Bring up a kubernetes cluster with Istio 1.0

[2018-10-31 17:16] kyessenov commented on #9613
@rshriram Regarding the maintenance issue, I think there is a simple way to push a config to mixerfilter that does the following:
1) it takes a list of triples: attribute name, JSON path, attribute type
2) mixerfilter scans through dynamic metadata, follows JSON path to extract data from extracts, type checks, and populates the attributes.

Our concern is that passing untyped blobs of data through

[2018-10-31 17:35] geeknoid commented on #9613
If the raw data is not exposed as attributes, then Mixer and its pipeline is providing no value so it doesn't make sense to use it for that purpose.

The intent has always been to make the attribute protocol open-ended so that new attributes can be added in a systematic way and still benefit from the type checking we do and the general declarative syntax we offer.

[2018-10-31 17:42] rshriram commented on #9613
But there is no systematic way to add attributes to the source (envoy). Its a whole set of changes that I have to make. The config stuff is okay, but certainly not the scalable way unless these configs flow through Pilot (which means there needs to be a CRD of some sort).

the problem here is that the design of the envoy client did not take in to account the fact that attributes can be produced by

[2018-10-31 17:48] #9519 closed

[2018-10-31 18:02] kyessenov commented on #9613
Dynamic metadata is a fairly new phenomenon. If I recall correctly it was added less than a year ago as part of xDS proto3 spec, long after mixerclient was written. I don't think it is fully worked out, I think it's missing namespaces and filter rerun semantics. I think it's a reasonable request to support dynamic metadata in mixerfilter, but not as an opaque blob, but as config-driven extraction.

[2018-10-31 18:05] shubb30 commented on #9571
This also prevents Istio from being used with Rancher-created Kubernetes clusters since Rancher creates labels like `workload.user.cattle.io/workloadselector`.

[2018-10-31 18:45] ayj commented on #9476
https://github.com/istio/istio/pull/9622 address the immediate need for properly watching certs. Longer term, this will be replaced with  SecretDiscoveryService (SDS).

[2018-10-31 18:45] #9476 closed

[2018-10-31 18:49] kidiyoor commented on #8958
Now that we are using ENV='onprem' - We are manually copying the private key from secret to the VM the first time. What happens to the node_agent when the key is rotated in the k8s cluster ?

[2018-10-31 19:34] ymesika commented on #9663
We don't have this file anymore in `master`/`release-1.0`/`release-1.1`.

[2018-10-31 19:37] ayj commented on #7877
https://github.com/istio/istio/pull/9370 added a new package to support file watchers.
https://github.com/istio/istio/pull/9622 updated galley server to use the new package.

[2018-10-31 19:37] #7877 closed

[2018-10-31 19:42] douglas-reid commented on #4963
@objectiser somehow I missed your update. pre/post-fixing the service name seems like a reasonable approach here.

It is now possible to make tracespan adapters for Mixer. There are several in existence at this point.

[2018-10-31 19:48] ThomasWo commented on #6146
@andraxylia Please reopen as the work-around no longer works (Istio 1.0.3 removed this functionality)

[2018-10-31 19:50] jwhitlark commented on #7511
I'm not able to add a help wanted tag.  It seems that this is a workflow decision, and I'm not sure how to surface it to the appropriate group.

[2018-10-31 20:02] Grant1219 commented on #5725
This is still not working with the sample Istio 1.0.2 installation, so I assume tracing for redis has not been added yet.

[2018-10-31 20:40] gephcott commented on #1277
Diem - here is a dump of the 3 Cassandra pods trying to communicate with each other. Looks like they are using 7001 for the handshaking.

[cass1_out.txt](https://github.com/istio/istio/files/2536316/cass1_out.txt)
[cass2_out.txt](https://github.com/istio/istio/files/2536317/cass2_out.txt)
[cass3_out.txt](https://github.com/istio/istio/files/2536318/cass3_out.txt)

Thanks!

[2018-10-31 21:03] douglas-reid commented on #9649
#9650 is the first attempt to shave time off of those tests.

[2018-10-31 21:15] #5968 closed

[2018-10-31 21:15] #9503 closed

[2018-10-31 21:18] douglas-reid commented on #9660
@StefanCenusa Thanks for reporting. I actually ran into this issue with other metrics when we made the switch, but unfortunately didn't have a mongo entry as part of the test cases.  This is the reason why we provide our own [stats_tags](https://github.com/istio/istio/blob/master/tools/deb/envoy_bootstrap_v2.json#L14-L43) for envoy in the bootstrap, as well as one reason why we [drop cluster-relat

[2018-10-31 21:22] douglas-reid commented on #9658
@robertpanzer thanks for raising this issue. this is related to a larger need to have the yes/no votes of check adapters available for inspection by the larger system, including report adapters.  But I think we can *start* with having this info available in spans for now.

cc: @kyessenov who is looking at enhancing information flowing back from check adapters.

[2018-10-31 21:44] tangiel opened #9674 "dashboard test should send galley some traffic"
Right now we're filtering more dashboard tests for Galley than we need to, even more than just error state metrics, because there are some metrics in the zero state, which aren't exported.

[2018-10-31 22:00] douglas-reid commented on #9613
I don't know that our message should be "then don't use Mixer".  There is little distinction between having a new attribute be string and serializing that attribute value out passing it along and having the adapter do something once an operator decides the adapter should have access to that value.

@mandarjog we don't currently support a `Struct` type at all. Is what you are saying that you are fi

[2018-10-31 22:01] enis commented on #8231
Even on 1.0.3 it is generated, with no ways to disable from helm config. Seems like a backport should happen from 1.1 line to 1.0 line.

[2018-10-31 22:05] mandarjog commented on #9596
@qiwzhang `request.headers[authorization]` is correctly returned by mixer.
Is there an issue with how key is computed?

[2018-10-31 22:13] yoz2326 commented on #7665
In our case it was  mainly due to
`--drainDuration 45s  --parentShutdownDuration   1m0s  --connectTimeout 10s` parameters passed to istio-proxy.
We run istio 1.0.1, and the above values are the default ones generated by helm template.

I think istio 0.8 uses these default values:
- connectTimeout: 1s
- drainDuration: 2s
- parentShutdownDuration: 3s

I used some values more suitable for us and the

[2018-10-31 22:26] ayush201 opened #9675 "Q: Running Gateway on VM"
I'm able to run gateway on VM but I noticed that it's not able to pull bookinfo-gateway configuration
e.g.
[code]
Output from gateway running in the VM (I notice port 80 is missing):
[code]

Output from gateway running in K8S:
[code]

I believe it's because of selector/label stuff since VM doesn't have the right labels. How do I go about getting this to work?

`root 26757 0.3 0.4 141984 37256 pts/

[2018-10-31 22:35] ayj opened #9676 "re-add servicegraph image to 1.1 release"
https://github.com/istio/istio/pull/9085 removed docker builds from servicegraph. ServiceGraph is deprecated in 1.1 in favor of Kiali, however servicegraph image and install files should still be shipped with 1.1. Image/Install file support can be removed in master branch for 1.2+.

[2018-10-31 23:21] kidiyoor commented on #9675
Removing the selector field completly from your 'gateway-bookinfo' configuration will work(since configuration will be pushed to all instances of gateway). However, it would nice to know from istio team how to make it work with selector for VM based deployments.

[2018-10-31 23:42] qiwzhang commented on #9596
@mandarjog @geeknoid This is referring to the Check cache in the Mixer.

This is from mixer log:

2018-10-26T09:51:25.790194Z     debug   Check approved from cache

[2018-11-01 00:06] StefanCenusa commented on #9660
@douglas-reid Thanks for your reply.

For the first one, I'll add this rule to `metric_relabel_configs` and it should work.
[code]
I find the second step trickier because there multiple schemas possible for the [mongo proxy statistics](https://www.envoyproxy.io/docs/envoy/latest/configuration/network_filters/mongo_proxy_filter#statistics). I can't figure out a regex to match only the cluster part

[2018-11-01 00:16] jnativio opened #9680 "Need to optimize Pilot performance to handle large number of services"
As the number of services in the mesh grows, Pilot gets increasingly busy, using a lot of CPU and taking longer time to update the routes. One of the consequences is that pods newly deployed or scaled out take several seconds to be available. Some optimization is necessary on Pilot so it can scale better.

**Expected behavior**
Pilot should be able to handle large number of services without

**Ste

[2018-11-01 00:17] jnativio commented on #9680
@suryadu

[2018-11-01 00:19] jnativio commented on #9680
/assign @irisdingbj

[2018-11-01 01:09] x15zhang opened #9682 "Istio can support HTTPS/TLS redirect, rewrite and retry"
**Describe the feature request**
HTTPRoute in Istio1.0 can support many actions for HTTP traffic such as redirect, rewrite ,timeout,retry etc.
It is expected that TLSRoute can also support these similar actions.

[2018-11-01 01:09] clyang82 commented on #9630
relevant issue - https://github.com/istio/istio/issues/9432. Link together.

[2018-11-01 01:47] clyang82 commented on #9212
should be addressed in https://github.com/istio/istio/pull/9656

[2018-11-01 02:05] li1191863273 opened #9683 "Is there a java SDK"
Is there a java SDK, how can I use the program call instead of the command to call the API?

[2018-11-01 02:10] awalmsley opened #9684 "Calling external services using mTLS"
The Istio reference docs have an example of calling an external service with mTLS. The client certificate, key and CA certificate need to be mounted in the Istio proxy container.
https://istio.io/docs/reference/config/istio.networking.v1alpha3/#ServiceEntry

[code]
Is there a way to mount the certificates, while still using automatic sidecar injection? It looks as if it is necessary to generate th

[2018-11-01 02:34] hzxuzhonghu opened #9685 "e2e-bookInfoTests-envoyv2-v1alpha3 failed because of deploy istio timeout"
**Describe the bug**

https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/9624/e2e-bookInfoTests-envoyv2-v1alpha3/9687

[code]

[2018-11-01 05:18] supereagle commented on #9638
Any detailed plan? I am glad to participate in 😃

[2018-11-01 08:10] robertpanzer commented on #9658
Thanks!
@douglas-reid I could also try to create a PR for this.
I think for Quota Checks it would also make sense to log the QuotaResult and not the error if it is nil.

[2018-11-01 09:05] wangybgit commented on #7640
I meet the same problem,when I start the bookinfo application using the nodePort:
kubectl apply -f <(istioctl kube-inject -f bookinfo.yaml)
then start the  gateway(had changed the destination port to the nodePort of productpage service), access the productpage  service failed.
but I can access after some times(about 5 minutes),why???

[2018-11-01 09:20] ThusharaAma commented on #6593
I'm also trying to connecting from GKE to the Cloud SQL using Cloud SQL Proxy as described here.
https://cloud.google.com/sql/docs/mysql/connect-kubernetes-engine

I have disabled istio mtls and configured Service Entries But I get the following message

But the same setup works without enabling istio.

My istio configuration

[code]

[2018-11-01 09:36] objectiser commented on #4963
@douglas-reid No problem - has already been fixed in https://github.com/istio/istio/pull/7803 but adding namespace to the service name used in proxy.

[2018-11-01 09:45] wansuiye commented on #6469
@prune998 hi,i found that if define an egressgateway and direct HTTP traffic through it, the external service's port is not 80 or 443, the egressgateway would missmatch the hosts.
ServiceEntry:
[code]

virtualservice:
[code]

when request with a host"bar.test.io:9080" such as
[code]
 the egressgateway retuen 404:
[code]

when request with a host "bar.test.io" such as
[code]
the egressgateway retur

[2018-11-01 09:49] Stono commented on #9618
Hey folks,
Are we getting anywhere debugging this?

[2018-11-01 10:18] howels commented on #1430
+1 for UDP, TFTP and syslog are required for our use-case.

[2018-11-01 10:49] dreadbird commented on #6962
yes!
I have rise to 1.0.2 and the cpu is still high.

![image](https://user-images.githubusercontent.com/2113395/47847631-c9b43280-de06-11e8-9e45-025d7a4326c5.png)

[2018-11-01 10:53] blaketastic2 commented on #7369
Here is a working example I have that uses just mesh routing:
`
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: delayed-service
  namespace: foo
spec:
  hosts:
  - delayed-service.foo.svc.cluster.local
  gateways:
  - mesh
  http:
  - route:
    - destination:
        host: delayed-service.foo.svc.cluster.local
        port:
          number: 8080
    fault:
      d

[2018-11-01 11:07] prune998 commented on #6469
@wansuiye you should check in other issues or open your own. This one was about Ingress, and is now closed.
To report your issue, don't forget to add your Istio and Kubernetes Version, along with how you installed Istio.

[2018-11-01 12:37] mridul-sahu commented on #9666
Hey @rshriram i may be wrong but does it have something to do with [this](https://github.com/istio/istio/issues/506#issuecomment-318519695)?

[2018-11-01 14:02] jnativio commented on #8276
#9680

[2018-11-01 14:03] jnativio commented on #8276
#9680 was open to track the performance improvements on Pilot for scalability.

[2018-11-01 15:24] aaadipop opened #9691 "upstream connect error or disconnect/reset before headers"
Can you take a look at this -> https://stackoverflow.com/questions/53103984/istio-destinationrule-gives-upstream-connect-error-or-disconnect-reset-before-he

This happens only when I apply a DestinationRule

When I apply only the VirtualService without a subset, the traffic is routed 50/50.

Istio version: 1.0.0
My system: OS X - 10.12.6
gcloud: Google Cloud SDK 222.0.0
kubectl: v1.10.7

[2018-11-01 15:29] nmittler commented on #9618
@costinm @mandarjog any update here?

[2018-11-01 15:30] adinunzio84 opened #9692 "Option to create client-side spans but not server-side spans"
**Describe the feature request**
Istio provides valuable information for tracing, but due to the nature of OpenTracing, where it's impossible to get a Span from a SpanContext, we cannot do anything with this server-side span from within our app, except use its context in outgoing requests for child-spans.

If we want to call `span.log(...)` or add tags of our own, we are required to create child s

[2018-11-01 15:38] dstockton commented on #7495
@geauxvirtual - would you be able to post sample YAML for your ```Service``` and ```ServiceEntry``` for your non-HTTP (ie RabbitMQ) example please?

[2018-11-01 15:41] jnativio commented on #8276
/assign @irisdingbj

[2018-11-01 16:06] jnativio opened #9694 "perf: Optimizations around Prometheus scalability and performance."
**Describe the feature request**
As part of general performance improvements on Istio, this issue/epic aims to track fixes and solutions regarding Prometheus, in particular the case of large environments where it was verified that a single instance of Prometheus cannot handle the load.

[2018-11-01 16:07] jnativio commented on #9694
#9541 This PR adds an option to control Prom scrape interval

[2018-11-01 16:53] rinormaloku opened #9696 "VirtualServices don't affect Istio Service to Service calls"
**Describe the bug**
Using the VirtualService below, I want to delay all requests to HTTPBIN for 15 seconds:
[code]

**Expected behavior**
All requests should be delayed by 15 seconds.

**Steps to reproduce the bug** and [Repo for the files](https://github.com/rinormaloku/call)

### 1. Install Istio and enable auto injection.

$ helm template install/kubernetes/helm/istio --name istio --set global

[2018-11-01 17:38] ozevren commented on #9411
IMO, this should be closed in favor of #882. Any objections?

[2018-11-01 17:40] ozevren commented on #9674
Can you give more details? What type of metrics are not exported? (Presumably things pertaining to MCP and incoming CRD notifications?)

[2018-11-01 17:44] ozevren commented on #8338
@ayj You've been looking at Galley performance for 1.1. Any blockers for 1.1 release? Can you share some numbers?

[2018-11-01 17:45] ozevren commented on #3311
Log scopes is done.
Span tracing is not critical for 1.1
Moving to 1.2

[2018-11-01 17:45] ozevren commented on #7947
Fixed by #9553

[2018-11-01 17:45] #7947 closed

[2018-11-01 17:46] ozevren commented on #6481
For 1.1, we're using mTLS with limited ACLing support & file based certs. For 1.2, we will integrate with SDS.

Moving to 1.2

[2018-11-01 17:52] #8957 closed

[2018-11-01 17:56] #9490 closed

[2018-11-01 17:56] tangiel commented on #9674
Any metrics that aren't modified aren't exported by the OpenCensus exporter. This is mostly error metrics but also the ones I added to the query filter in #9673.

[2018-11-01 19:03] mandarjog commented on #9618
@Stono EDS has now become much faster, so it delivers endpoint updates to all sidecars in under 1s. We were checking if non-ready endpoints are being sent to sidecars, but we don't think this is happening.  We will have more updates tomorrow.

[2018-11-01 19:54] geota commented on #9297
We are looking to integrate istio + kiam and would be happy to help contribute to changes needed in the projects to support them working together.

Other things we are looking to play nice together is calico in policy engine only mode + kiam.

https://www.projectcalico.org/using-network-policy-in-concert-with-istio/

[2018-11-01 21:18] Grant1219 commented on #7369
@blaketastic2 Thanks for those example YAMLs. It turns out specifying the FQDN actually solves the issue and routing rules within the mesh are now functional!

I did not test switching the protocol from http to tcp since the first example worked.

Do you have an idea of why the `VirtualService` works when attached to the `Gateway` only using the shortnames, but not when using the mesh gateway? I a

[2018-11-01 21:41] mumoshu commented on #4481
Hey! I have an use-case enabling zone-aware load-balancing towards hosts outside of the mesh. Would this issue relate to that, too?

My initial guess is that I'd need to add a kind of `zone` field to the [ServiceEntry.Location](https://istio.io/docs/reference/config/istio.networking.v1alpha3/#ServiceEntry-Location) type, consuming the zone value from it, configure Envoy accordingly via EDS.

[2018-11-01 23:18] smawson commented on #6963
I assume this was fixed? Can you close this if it works in the later versions?

[2018-11-01 23:18] zparnold commented on #6085
Oh no, sorry to say that I am joining the party here. Seems to only occur when a deployment is in flight. Do I have a messed up policy config? I have the same setup as @johnzheng1975

[2018-11-01 23:19] smawson commented on #7328
Anything left to do here? This is a stale?

[2018-11-01 23:36] #8556 closed

[2018-11-01 23:36] #1223 closed

[2018-11-01 23:38] smawson commented on #6963
Actually just reopen if this is still an issue.

[2018-11-01 23:38] #6963 closed

[2018-11-01 23:38] smawson commented on #3828
Closing since I think we added this stuff already to the helm charts.

[2018-11-01 23:38] #3828 closed

[2018-11-01 23:43] smawson commented on #6577
Closing due to staleness, please reopen if this remains an issue.

[2018-11-01 23:43] #6577 closed

[2018-11-01 23:46] munrodg commented on #3720
Closing due to staleness, please reopen if this remains an issue.

[2018-11-01 23:46] #3720 closed

[2018-11-01 23:49] smawson commented on #6131
Was this fixed? No update since June so closing as stale, please reopen if this is an outstanding issue.

[2018-11-01 23:49] #6131 closed

[2018-11-01 23:52] smawson commented on #6380
This was fixed in 1.1 right? Closing assuming so.

[2018-11-01 23:52] #6380 closed

[2018-11-01 23:54] smawson commented on #5997
Assuming this was fixed in 1.0, please reopen if it is still a problem.

[2018-11-01 23:54] #5997 closed

[2018-11-02 00:08] pmontanari opened #9707 "[ Helm istio-1.1.0-snapshot.2] Missing ImagePullsecret for kubectl image"
**Describe the bug**
When using a private docker registry, we can pull all images using an Imagepullsecret execpt for the new kubectl image.

Here are the occurences:
subcharts/security/templates/create-custom-resources-job.yaml
subcharts/security/templates/cleanup-secrets.yaml
subcharts/grafana/templates/create-custom-resources-job.yaml

**Expected behavior**
Should use the global.imagePullSecret

[2018-11-02 00:16] pmontanari commented on #9707
The related Service Accounts are:
- istio-security-post-install-account
- istio-cleanup-secrets-service-account
- istio-grafana-post-install-account

[2018-11-02 00:34] douglas-reid commented on #9692
I'm not sure how desirable it would be to turn off server-side tracespan generation in the proxy. I'd like to think about this use case a bit more -- perhaps we can discuss it in the P&T WG meeting next week?

In the meantime, @objectiser do you have any light you can shed here ?

A few clarifications / follow-up questions:
- I'm not sure why we believe that it is not easy to create child spans ([

[2018-11-02 00:38] douglas-reid commented on #9660
@StefanCenusa We do not have any formal plans to add the dropped metrics at the moment. There are a few concerns (mainly around two things: scale and confusion(overlap with the istio_* metrics for instance) ) that need to be addressed, so at the moment it is basically on an as-needed basis. However, we are always open to requests, etc.

Please let me know how it goes with the new drop rule, and we

[2018-11-02 01:45] adinunzio84 commented on #9692
I'd be happy to discuss my use case - I see the WG weekly [meeting link here](https://github.com/istio/istio/wiki/Policies-and-Telemetry-WG), but I don't see a date/time.

To answer your first question:
It isn't hard to create child spans once you have a SpanContext. It seems the codebase you linked stores Spans in **context.Context**s and retrieves them from there. The challenge is in getting Spa

[2018-11-02 02:03] derekperkins commented on #9367
cc @liljenstolpe

[2018-11-02 02:08] sneko opened #9709 "Healthchecks not working with Nginx?"
**Describe the bug**
Impossible to make readiness and liveness probes working with an Nginx docker image. I tried with mine, then I also tried an official one used in the example below.

Here is the error returned by Kubernetes when killing the pod:
`Readiness probe failed: Get http://100.96.2.160:80/healthz/tea: read tcp 100.96.2.1:39690->100.96.2.160:80: read: connection reset by peer`

Note tha

[2018-11-02 02:10] hzxuzhonghu commented on #9709
Do you deploy istio with auth enabled?

[2018-11-02 02:12] sneko commented on #9709
@hzxuzhonghu yes, mTLS is enabled. Sorry for not having specified that.

But what's weird is that it's working for my microservices that use their own web server (not through a Nginx image)

[2018-11-02 02:18] wangybgit commented on #7640
I meet a problem,I start the bookinfo application without changing any yaml files:
kubectl apply -f <(istioctl kube-injct -f bookinfo.yaml)
and start the gateway:
kubectl apply -f bookinfo-gateway.yaml
then try to access the productpage service use the port:31380
![image](https://user-images.githubusercontent.com/19662595/47889650-f9564f80-de85-11e8-8460-b361b001c1fb.png)
access the service failed

[2018-11-02 04:06] hzxuzhonghu commented on #9696
I tested this using istio on master. And the delay works well.

[code]

[2018-11-02 04:09] hzxuzhonghu commented on #9709
That's the cause, with mTLS enabled, kubelet probe using http will fail.

It is expected. And please ref: #9150

[2018-11-02 04:49] sneko commented on #9709
@hzxuzhonghu hmmmm, so I don't understand why it's working for my microservices. They use a web server in golang and I don't have any error of that kind `connection reset by peer`.

[2018-11-02 05:38] castlemilk commented on #9659
This is related to the issue I've raised here: https://github.com/istio/istio/issues/8541.

[2018-11-02 05:38] rosenhouse commented on #9675
I **suspect** that if you create a `ServiceEntry` with the IP of the VM in the [`endpoint.addresses`](https://istio.io/docs/reference/config/istio.networking.v1alpha3/#ServiceEntry-Endpoint), then you can also set `endpoint.labels` and it will have the desired effect.  But it's just a guess.

[2018-11-02 06:05] dotw commented on #7766
this is not fixed in 1.0.2.
the whitelist is indeed affecting the request when it is first applied, but with several requests, it will be not working anymore.  Waiting for a period, it works again, and then not works,...

[2018-11-02 06:15] hzxuzhonghu commented on #9709
How do you access your service?

[2018-11-02 06:39] #9691 closed

[2018-11-02 06:46] crowfrog commented on #9224
hi zoupl,

I think you can change your gateway port from 3306 to 80

apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: istio-egressgateway
spec:
  selector:
    istio: egressgateway
  servers:
  - port:
      number: 80
      name: db
      protocol: TCP
    hosts:
    - "dbext.telcloud.svc.cluster.local"

Then it should work fine.

[2018-11-02 07:18] PrajwalGurumurthy commented on #9607
Any Updates on the issue?

[2018-11-02 07:26] hzxuzhonghu opened #9710 "Create a metadata library for istio"
We have a number of metadata used for node(proxy). And they do not reside in a common place.
So it is a burden for developers and users to config or use these metadata.

It would be good to have a single place (e.g., pkg/metadata/metadata.go) where we define variables that hold all these ,metadata names. Like #8960(move all feature envs to a file)

[2018-11-02 09:17] berlwein-empiriecom commented on #8585
I ran into a similar issue, maybe my solution works for you as well.
Istio >= 1.0.2 seems to require any hosts that you match on to also appear in the general "hosts" part, maybe try changing your config to the following (this changes line three):
[code]

[2018-11-02 09:35] Stono commented on #9618
@mandarjog that'd make sense if I saw 503s only briefly after the sidecars came up (but weren't ready) but surely we'd then expect it to settle down - which it didn't.

The only way I was able to "reset" things and get the 503's to go away would be to restart pilot.

[2018-11-02 09:35] Stono commented on #5997
Yeah I'm not seeing it any more, thanks.

[2018-11-02 10:21] objectiser commented on #9692
Having the server span reported by the proxy, and another child span (possibly marked also as server kind) reported from within the app enables information regarding the latency of the proxy to be understood - and the app can then report any log/tags against that internal server span.

However I understand that this can bloat the trace data.

Accessing the span from spancontext has been discussed

[2018-11-02 10:44] swade1987 opened #9712 "Allow Ingress Gateway to be deployed as a DaemonSet"
**Describe the feature request**

I would like the ability to deploy the Ingress Gateway as a DaemonSet to tainted/ labeled nodes.

This allows me to easily place dedicated Ingress nodes in an auto-scaling group in AWS.

Then front these nodes with a load-balancer.

Right now I am having to fork the helm chart, vendor and and then modify the YAML to my needs.

**Describe alternatives you've consid

[2018-11-02 11:58] JCzz commented on #7909
Hi @facundomedica

Thank you so much for sharing, I will get back and verify this when I deploy. For now I am developing on just port 80.
Very cool!

[2018-11-02 12:02] rinormaloku commented on #9696
@hzxuzhonghu I tried your configuration with Bookinfo and it works. So **there is no problem with VirtualService**, that said my minimalistic example is still not working (tried by copy-pasting your config and updating the host, name and uri path).

So that I and others behind me leave with some knowledge, Is there any possibility to avoid VirtualServices rules? (that I am accidentally using in my

[2018-11-02 12:10] Stono opened #9714 "Unable to get DestinationRule for non-mtls working"
Hi,
I cannot see what I'm doing wrong here... can anyone else?  In summary we have:

[ nginx | envoy ] -> [ zookeeper ]

We have global mtls **enabled**.

Note that `zookeeper` is on the same cluster but does not have envoy, thus we need to disable mTLS when connecting to it.

I have the following `DestinationRule`:

[code]

However when making requests we get 503s:
[code]

I turned on verbose deb

[2018-11-02 12:57] blaketastic2 commented on #7369
@Grant1219 yea, I would open up an issue for that. We made the decision a while back to always use FQDN, and I will say that tightened things down, and cleared up a few issues we had way back at 0.6.

[2018-11-02 13:06] adinunzio84 commented on #9692
That's a good point that the proxy latency is good information to have. Looking through your links, it seems like a SELF reference is exactly what I was looking for (or a "decorates" span), but yeah this would not give proxy latency info I'd imagine.

I am hesitant to use a different API. I'd like to use only OpenTracing, with implementation-specific APIs only being used to initialize the tracer.

[2018-11-02 13:08] #9692 closed

[2018-11-02 14:16] mukundha opened #9716 "grpc-transcoding issues for some services"
**Describe the bug**
grpc-transcoding using the Envoy filter is not working for some services,

Not working = receiving a empty response, instead of a JSON response
I created a gist to reproduce the problem,
https://gist.github.com/mukundha/4e8a7527f87cca1da73461269dc77ae2
As you will notice, transcoding works for the products service but not for currencyservice,
FWIW, i have tested the same confi

[2018-11-02 14:43] MichaelHudgins commented on #9618
I believe i was having a similar problem to this.  Right after the upgrade from 1.0.2 to 1.0.3 via helm on 1.10.7-gke.6 .  After the upgrade i began getting 503 errors from my external health checks with no 503s coming from the inside of my application pods.  A rollback to 1.0.2 fixed it for me.

[2018-11-02 14:59] kinghrothgar commented on #1223
Was this idea abandoned or completed?

[2018-11-02 15:33] ozevren commented on #2010
With the future Mixer plans, does this become stale?

[2018-11-02 16:10] christian-posta commented on #8374
Any chance you can try with latest release of 1.0.3 and report back?

[2018-11-02 17:47] geauxvirtual commented on #7495
@dstockton Ran through my testing to verify the changes I had made to Istio last week. Without mutual TLS, a ServiceEntry allows the RMQ nodes to cluster.  With mutual TLS, just a Policy and DestinationRule entries are required.

Headless Service
[code]

ServiceEntry
[code]

For mutual TLS, I created a Policy and a DestinationRule for each node

Policy
[code]

DestinationRule (1 of 3)
[code]

Clea

[2018-11-02 17:49] smawson commented on #1223
Completed, see https://istio.io/docs/setup/kubernetes/multicluster-install/

[2018-11-02 18:10] douglas-reid commented on #8415
Closing this issue, as we have a working approach in 1.0.3. We can open a separate issue for tracking modifications / improvements.

[2018-11-02 18:10] #8415 closed

[2018-11-02 18:13] douglas-reid commented on #7943
Closing. Grafana is on 5.2.3 now on all branches now.

[2018-11-02 18:13] #7943 closed

[2018-11-02 18:15] hklai commented on #8546
Unfortunately we could not do anything for 1.0,2 now, but this had been fixed in 1.0.3.

Closing this

[2018-11-02 18:15] #8546 closed

[2018-11-02 18:17] batond commented on #9605
@mandarjog I get this in the deployment after changing the `istio-sidecar-injector` config map.

kubectl get deployment details-v1 -o yaml

[code]

[2018-11-02 18:22] louiscryan commented on #6977
Assigning for triage

[2018-11-02 18:36] diemtvu commented on #8496
@tommyJimmy87 You can try to set both [peer_is_optional](https://github.com/istio/api/blob/master/authentication/v1alpha1/policy.proto#L328) and [origin_is_option](https://github.com/istio/api/blob/master/authentication/v1alpha1/policy.proto#L345) and add [authorization policies](https://github.com/istio/api/blob/master/rbac/v1alpha1/rbac.proto) to handle the logic you want.

The other approach (r

[2018-11-02 18:37] munrodg commented on #7734
Closed duplicate of #9694

[2018-11-02 18:37] #7734 closed

[2018-11-02 18:38] douglas-reid commented on #9483
Can we close this now?

[2018-11-02 18:47] munrodg commented on #9563
Fixed

[2018-11-02 18:47] #9563 closed

[2018-11-02 18:50] mandarjog commented on #7431
@costinm should we close this now? Is it done already ?

[2018-11-02 18:53] munrodg commented on #9664
Can we move this to 1.2?

[2018-11-02 19:02] munrodg commented on #8318
Done

[2018-11-02 19:02] #8318 closed

[2018-11-02 19:08] costinm commented on #9240
Yes, it's a simple change in the build, didn't have time to make it.

[2018-11-02 19:15] costinm commented on #6085
The logs seem to show that pilot closes the connection every 5 minutes - but it reconnects after immediately. It's actually a feature ( an accidental one ) - so pilot connections gets re-balanced. We're working on a better way to rebalance - and after we'll fix this 5-min reconnect.

AFAIK it should not cause any problems.

[2018-11-02 19:17] jnativio commented on #9604
Note that regpatrol detected this problem with the master branch and not in the 1.0 branch where 1.0.3 was cut from. The  Pilot CPU and memory usage were normal for recent builds of 1.0 branch. See for example:
https://ibmcloud-perf.istio.io/regpatrol/release-1.0-20181029-09-15/istio_full/

[2018-11-02 20:06] rshriram commented on #9664
fixed..

[2018-11-02 20:06] #9664 closed

[2018-11-02 20:10] rshriram commented on #9714
zookeeper on plaintext port 80? or does it expect https with some other cert? if you set destination rule to tls disable, then envoy will do plain text connection.
As a way of eliminating other issues, change the zookeeper port name to tcp-zkclient, add the destination rule and see if it works..

[2018-11-02 20:18] yangminzhu commented on #9483
Yes, the work is done for both 1.0 and 1.0.

[2018-11-02 20:18] #9483 closed

[2018-11-02 20:33] linsun commented on #4777
Is this still a prob in 1.0?  Isaiah is probably not going to have time for this.

[2018-11-02 21:32] sbgreene1307 commented on #4026
Restricting an Egress (or later an ExternalService) to apply only to traffic out of a specific namespace makes sense in the use case where I have namespaces for my different environments (prod, stage, e2e, sandbox, etc). I don't want the pods in my e2e namespace to have any access at all to the external services backing my prod namespace. The different namespaces run against different environments

[2018-11-02 21:37] kyessenov commented on #9596
potentially related to https://github.com/istio/istio/issues/6552

[2018-11-02 21:39] kyessenov commented on #6552
I don't believe this has been solved.

[2018-11-02 22:11] mandarjog commented on #9596
r1.txt
[code]

[2018-11-02 22:12] mandarjog commented on #9596
r2(cached).txt
[code]

[2018-11-02 22:35] nixgadget commented on #9542
@bianpengyuan What in the end fixed the issue was increasing the mem for the telemetry pods.
I had initially failed to notice that the pod was crashing due to a `OOM`. This is the first time it crashes.
I set it to a conservative number like `512Mi` and no issues since. Perhaps better to even have a note if restricting the cpu/memory for these pods.
I could not recover the subsequent crashes (cras

[2018-11-02 23:01] douglas-reid commented on #9542
@mandarjog does this imply anything about initial settings for the mixer related pods that we should consider for 1.1 and beyond?

[2018-11-03 00:54] enis opened #9725 "loadBalancerSourceRanges in helm chart does not work"
**Describe the bug**
`loadBalancerSourceRanges` capability has been added by #7740. But when using it with helm version 2.10, helm install complains with this:
[code]

Looking at the service for ingressgateway, we can confirm that it DOES NOT have `loadBalancerSourceRanges` configured:

**Expected behavior**
no warning from helm, and `kubectl get svc/istio-ingressgateway --namespace istio-system -

[2018-11-03 01:16] jaygorrell commented on #9043
I just tried 1.0.3 to see if there were any improvements here with no luck. It's actually a bit worse.

Info:
- Brand-new k8s cluster
- Only changes: `enableTracing: false`, `accessLogFile: ""`, and grafana enabled
- Added liveness and readiness probes to bookinfo's productpage-v1 deployment

From there, I deployed 100 pods with no problem. I bumped it to 200 and already saw some pod restarts from

[2018-11-03 03:00] mandarjog commented on #9043
If possible can you export mixer and mesh and performance dashboards to raintank?

In my large cluster I run with 500 to 1000 pods and things are fine .

[2018-11-03 04:12] jaygorrell commented on #9043
Mixer: https://snapshot.raintank.io/dashboard/snapshot/5iVsHizfKmb6cQOsLtd6Efz98T7RF5Ji?orgId=2
Mesh: https://snapshot.raintank.io/dashboard/snapshot/wwqcMwjvjg4qglRpG9SH9q7h0y6JeBsE?orgId=2
Performance: https://snapshot.raintank.io/dashboard/snapshot/9tmOuPh4tvJh524U9g0ZjE16Em7Ptj3N?orgId=2

It seems like the 500s on the dashboard are only during the initial pod creation when adding another 50-10

[2018-11-03 04:35] mandarjog commented on #9043
https://github.com/istio/tools/blob/master/perf/servicegraph/values.yaml

This is the performance test. It is modular per namespace and uses about 20 services with 3 pods each. They use readiness probe.  Then we create 10 to 20 such name spaces.

[2018-11-03 06:58] pingz commented on #9607
I'm encounting very similar issue, this will happen randomly after I deleted the pod manually. And I can't find the service entry in the output of `istioctl proxy-config route [pod-name] -o json`.

[2018-11-03 07:42] ryanli-me opened #9728 "Pilot fails to delete endpoint record when killing pod or rolling update"
**Describe the bug**
When we delete a pod, pilot fails to delete endpoint.
Pilot will push the deleted endpoint to other sidecars, resulting in upstream error 503 for other pods.
Sometimes pilot can delete endpoint successfully.

**Expected behavior**
Pilot receive signal from terminating pod's sidecar and delete it's endpoint record.

**Steps to reproduce the bug**
`kubectl delete pod stg-test-ba

[2018-11-03 08:49] #6676 closed

[2018-11-03 09:37] supereagle opened #9729 "Proposal: Support short names for Istio resources"
**Describe the feature request**

There are many resources defined in Istio such as VirtualService, ServiceEntry, DestinationRule and so on.
They don't have short names, so it is not convenient to operate them through kubectl.

**Describe alternatives you've considered**

I think it is necessary to support short names for frequently used resources.

**Additional context**

xref: https://groups.goo

[2018-11-03 09:37] supereagle commented on #9729
/cc @andraxylia

/kind enhancement

[2018-11-03 09:49] #6855 closed

[2018-11-03 11:49] #6864 closed

[2018-11-03 12:49] #6847 closed

[2018-11-03 13:49] #6843 closed

[2018-11-03 15:02] nmittler commented on #4920
not stale

[2018-11-03 18:49] #6635 closed

[2018-11-03 18:57] mhamrah commented on #8415
Can you summarize the working approach? The proposal doc seems to be protected. Thank you.

[2018-11-03 19:49] #6839 closed

[2018-11-03 21:43] blackbaud-brandonstirnaman commented on #7675
Finally had a chance to do some testing around `useAdapterCRDs` in my AKS test cluster today. Definitely had a massive positive impact.

[2018-11-03 22:49] #6837 closed

[2018-11-04 04:29] tuxknight commented on #4941
I am running into the same issue with kubeadm & centos7, any idea to fix it?

[2018-11-04 05:14] osswangxining opened #9733 "Feature Request: RateLimitService directly scrapes from istio-proxy"
**Describe the feature request**
As Envoy 1.8+ already support HTTP rate limit filter: https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/rate_limit_filter
And Envoy can integrate directly with a global gRPC rate limiting service.

Will Istio plan to make RateLimitService directly scrapes from istio-proxy to improve the performance?

**Describe alternatives you've considered**

[2018-11-04 16:13] antweiss commented on #9605
@mandarjog Thanks! I've edited the configmap as advised. While this seems to fix the issue of pod generation - it for some reason causes the istio-init container to crash. No termination message is generated, the log seems fine, but it exits with 2. Haven't had the chance to research this further. Any ideas?

[2018-11-04 16:15] antweiss commented on #9605
Note: the carsh of istio-init happens in pods that are fine otherwise (i.e no '/' in names) If I revert the configmap change  - they are created normally again.

[2018-11-04 18:50] jaygorrell commented on #9043
Interesting. Can you see anything that would cause a difference with my test? I'd ignore it, but I get the same results in a real environment. Would love to see if you're able to reproduce it and isolate the difference.

[2018-11-04 19:13] mandarjog commented on #9605
@antweiss can you try out the latest daily build from the 1.0 branch ?
https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.0-20181030-09-15/

[2018-11-05 04:34] PiotrSikora commented on #7328
@smawson Due to the discussion in #7918, we now have the ability to configure `externalTrafficPolicy` (release-1.0: #7918 and #9143, release-1.1: #8941 and #9704, master: #8941 and #9703), but it's still set to the default value (`Cluster`, which obfuscates client IP), and requires operators to opt-in into `Local`.

My understanding is that there is no desire to flip the default to `Local` until i

[2018-11-05 05:05] mandarjog commented on #9604
@Stono did you see CPU utilization go up as soon as the control plane was updated? That is Mixer at 1.0.3 but proxies still at the previous version?

[2018-11-05 05:14] #7650 closed

[2018-11-05 06:11] mandarjog commented on #9604
Another related question: when you upgraded to 1.0.3 did you also do `kubectl apply -f crds.yaml` ?
I am thinking of a change between 0.2 and 0.3 that looks for uninitialized CRDs continuously. This is independent of the data path. If absence of the `kubectl apply`, we are missing two CRDs that are compiled into Mixer, specifically `kind: cloudwatch`, `kind: dogstatsd`. Mixer may continually look

[2018-11-05 06:14] mandarjog commented on #8938
Yes, Please do make this change for 1.1. We want this number to be equal to the `requested` CPU.
The minimal should be one and if it make sense 2.

[2018-11-05 07:09] dove-young commented on #9396
PR https://github.com/istio/istio/pull/9400 can fix this problem.

Actually I don't think put a static file could save so much time. Because building task could not be running so much times a day.

But in respect to the existing logic, I put a minor fix to get this static file to be deleted in `make clean` task

[2018-11-05 07:19] wansuiye opened #9735 "how to dynamicly config route to match the header of the request to select the instance"
**Describe the bug**
in multi-tenant scene, instances of a service may have different label, we could config virtualservice for every label to match header, however the config is troublesome and we should update the config with  every instance's life-cycle. so if exist a way to config it dynamic?

**Expected behavior**
{{ What did you expect to happen? }}

**Steps to reproduce the bug**
{{ Minimal

[2018-11-05 08:14] antweiss commented on #9605
@mandarjog tried this. Same thing. istio-init exits with code '2' but the log seems fine. see here: https://gist.github.com/antweiss/2d5429cfed5f392f5b4189b49b642426
(I pushed the proxy-init image from the daily build to our repo for testing and updated the configmap accordingly)

[2018-11-05 08:21] antweiss commented on #9605
Never mind, I think my OUTBOUND_IP_RANGES_EXCLUDE was misconfigured.

[2018-11-05 08:33] Stono commented on #9604
@mandarjog I am not sure if it was before or after proxy updates, I might have time to test again later today but I'm not sure.

We don't use kubectl apply -f to do upgrades, we use helm (if that makes any difference)

[2018-11-05 08:34] Stono commented on #9618
Any updates @mandarjog ?

[2018-11-05 09:18] ajit-hybris opened #9738 "HorizontalPodAutoscaler missing for citadel"
**Describe the bug**
The default helm installation of istio does not provide an HPA resource for citadel deployment. This leads it to be unavailable if the k8s node rescheduled by AWS.

`10:13 $ ki get hpa
NAME                   REFERENCE                         TARGETS         MINPODS   MAXPODS   REPLICAS   AGE

istio-egressgateway    Deployment/istio-egressgateway    <unknown>/80%   1         5

[2018-11-05 09:33] StefanCenusa commented on #9480
@ZhimaoL I reverted to 1.0.2.
I think this issue is related to #9618

[2018-11-05 09:39] sh777 commented on #8615
@mabushey
How did you make it work? I ran into the same issue today and couldn't make it work unless I put everything under default namespace.

[2018-11-05 09:48] axel7born opened #9739 "REFRESH_GOLDEN broken in master"
REFRESH_GOLDEN seems to be broken in master again.

If I set the env variable REFRESH_GOLDEN, and run the tests TestHelmInject in istio.io/istio/pilot/pkg/kube/inject, I get a diff in the injection templates.

[code]

If run the tests again without the env Variable set, the tests fail, as these fields are missing.

[2018-11-05 09:56] dstockton commented on #7495
@geauxvirtual Thank you so much for the quick reply. If I understand correctly, these settings will prevent the connection from being encrypted. Is that your understanding too?

[2018-11-05 10:00] hzxuzhonghu commented on #9733
Does this meet your requirement? https://istio.io/docs/tasks/policy-enforcement/rate-limiting/

[2018-11-05 10:01] johnholiver commented on #9596
Hi @kyessenov!
My setup is simple but maybe not the simplest.
What you see as a second use of the JWT token in the requests is actually intended controlled behavior.
To keep it short, I have 2 main services and 2 auxiliary services. The auxiliary services have the only job of generating a JWT token for a test run. The main services are called entrance & exit. What a test run executes is the follow

[2018-11-05 10:16] stefanprodan commented on #9604
I can confirm that the CPU usage goes back to normal after applying the 1.0.3 CRDs manually. Maybe there is a problem with Helm upgrade from 1.0.2 to 1.0.3

[2018-11-05 10:29] vnugent commented on #9593
Hi, is there a workaround for this?

[2018-11-05 11:58] #9663 closed

[2018-11-05 12:43] osswangxining commented on #9733
Thanks for your response. This link provides the guide about how to use mixer adapter to enable the rate limit, while mixer is optional and envoy proxy already supprot it: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/global_rate_limiting.

Currently "istio-proxy"supports to talk with Zipkin and Statsd using the paramters below:
- --zipkinAddress
 - --statsdUdpAddress
So it looks

[2018-11-05 13:15] axel7born commented on #9739
PR #9742

[2018-11-05 13:59] sergeydeg commented on #9432
Request headers are case-insensitive

From RFC 2616 - "Hypertext Transfer Protocol -- HTTP/1.1", Section 4.2, "Message Headers":

[2018-11-05 14:20] joberdick commented on #9504
@fhoy Is this issue resolved for you? I am still running into this error after upgrading to latest daily build.

[2018-11-05 14:49] joberdick commented on #9504
@fhoy To clarify, your attached sample app seems to be working, but I am seeing the error still when I create a deployment without a service. Maybe I wrong, but i didn't think a service needs to be defined in order for istio-proxy to be healthy?

[2018-11-05 15:04] mandarjog commented on #9604
Thanks for confirming the work around. I will get a proper fix out soon.

@stono helm upgrade is not processing the crds correctly.

[2018-11-05 15:04] jnativio commented on #9604
I could not reproduce the problem with that master build or more recent ones. Regpatrol did not generate the flame graph for istio-policy during the run, but there is the log saved for this component (https://ibmcloud-perf.istio.io/regpatrol/master-20181101-09-15/istio_full/istio-policy-68d97879dc-bdxh4.log), where this error msg appears continuously:

_2018-11-02T08:47:47.625333Z	error	attributes

[2018-11-05 15:39] Stono commented on #9604
@jnativio I didn't see that in my policy logs!

@stefanprodan it'd be great if you could diff your applied resources before and after to know what has changed?  When I do a `helm template` on 1.0.2 vs 1.0.3 and diff I'm not seeing *any* CRD changes?  @mandarjog what do you believe has changed?

@sdake are you aware of any helm issues going from 1.0.2 -> 1.0.3?  I know you've been keen to ensure up

[2018-11-05 15:42] Stono commented on #9604
These are the only two changes I see between 1.0.2 and 1.0.3 when it comes to CRD definitions:

[code]

I do not see *any* changes to CRD implementations?

What exactly do people believe that helm is not applying correctly?

[2018-11-05 15:46] Stono commented on #9480
Very interesting, this does seem to be the problem I was having to as a restart of pilot fixed it.

Seems like a huge 1.0.3 regression

[2018-11-05 15:51] Stono commented on #9618
@mandarjog @costinm that linked issue looks very interesting

[2018-11-05 15:52] stefanprodan commented on #9604
@Stono this two CRDs were missing after I've upgraded to 1.0.3

[code]

I've used kubectl to apply the CRDs and killed all Mixer pods, after the "restart" the CPU usage went back to normal.

[2018-11-05 15:52] Stono commented on #9604
So I *did* have those CRDs (I don't do a straight up helm install) and still saw high CPU... so something else is wrong.

[2018-11-05 15:54] mandarjog commented on #9604
@Stono helm is not doing equivalent of `kubectl apply -f crds.yaml`.
In your logs, `statsd` is the kind that is missing, which is *not new* in 1.0.3

[2018-11-05 15:56] mandarjog commented on #9604
@Stono if you can test again today, it would be great to apply crds manually.

[2018-11-05 15:58] Stono commented on #9604
I'm sorry but I'm really not following this at all.

In Istio 1.0.2, on our cluster, we do not have those CRDs:

[code]

Istio 1.0.3 it appears to add `cloudwatches.config.istio.io`, are you saying it shouldn't?

[2018-11-05 16:00] Stono commented on #9604
Ahh you're saying that my missing of the `statsd` CRD is causing the problem?  I removed the statsd stuff manually because of https://github.com/istio/istio/issues/7874

[2018-11-05 16:01] mandarjog commented on #9604
Any missing CRDs can cause high CPU problem in Mixer 1.0.3.
1.0.3 added  2 new CRDs `kind: cloudwatch, kind: dogstatsd`.
You need to add `statsd` CRD and we need to figure out why helm did not keep it in sync.

[2018-11-05 16:01] Stono commented on #9604
OK that makes more sense, thanks.

[2018-11-05 16:04] mandarjog commented on #9604
Ok great. I will have a fix out soonish.

[2018-11-05 16:31] gbaufake commented on #9593
@douglas-reid
I am seeing this issue on 1.0.3 release.

Is that expected?
Best Regards,
Guilherme Baufaker Rêgo

[2018-11-05 16:37] frankbu opened #9743 "ServiceEntry update not regenerating config"
**Describe the bug**
This may be a more general regen problem, but my particular example is that I've created a ServiceEntry that redirects port 80 and 443 to an egressgateway (config with ISTIO_META_REQUESTED_NETWORK_VIEW=external) using an external network endpoint. This works as expected, but when I later remove one of the ports from the ServiceEntry and apply, the generated proxy config does n

[2018-11-05 16:37] jmazzitelli commented on #9593
Check the version of istioctl you have in your PATH. I think I saw this before, and it was because I had a istioctl that did not exactly match the istio distribution I was installing.

[2018-11-05 17:14] Stono commented on #9632
Another use case:  I don't want istio-proxy to intercept DNS requests at all.

It'd be nice to be able to do `excludeOutboundPorts: 53`

[2018-11-05 18:04] rshriram opened #9744 "Incorrect SNI values for ISTIO_MUTUAL clusters"
https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/cluster.go#L270
updates the TLS clusters in place when converting from ISTIO_MUTUAL to normal MUTUAL.
This results in config corruption where the sni value generated for the first service ends up in the subsequent service as well, causing all mTLS connections to the second service to fail.

Steps to reproduce:

[code]

r

[2018-11-05 18:07] ayj commented on #9491
Fixed by https://github.com/istio/istio/pull/9702 and https://github.com/istio/istio/pull/9553

[2018-11-05 18:07] #9491 closed

[2018-11-05 18:19] mabushey commented on #8615
@sh777 Let's figure this out... Try adding this:
[code]

Make sure you list the namespace in the routing rule, for example here it's `istio-system`:
[code]

[2018-11-05 19:04] rchernobelskiy opened #9748 "telemetry-gateway subchart is not in requirements.yaml"
**Describe the bug**
telemetry-gateway subchart is ignored even if enabled in values.yaml because it's not present in requirements.yaml

**Expected behavior**
I would expect it to be a part of the requirements.yaml or for it to be removed altogether if that's the plan

**Version**
latest master

[2018-11-05 19:11] douglas-reid commented on #8415
@mhamrah the doc should be available via the Istio community folder on drive. If you are still having issues accessing it, please reach out again to confirm.

The approach currently used is as follows:
- custom tag configuration in envoy bootstrap for prometheus metrics (to adjust for some errors in the default + customization for Istio cluster names)
- a special port exposed for sidecars that all

[2018-11-05 19:20] incfly commented on #6384
Fixed via https://github.com/istio/istio/pull/6612

[2018-11-05 20:53] vinayvenkat opened #9752 "Unable to send an istio log entry request using mixc"
**Describe the bug**

mixer server (mixs) error when trying to send commands via the mixc tool to send report commands for the logentry template.

Error on the mixs process is:

* fieldEncoder: timestamp - lookup failed: 'request.time'
* internal: no instances sent
2018-11-05T19:46:08.683711Z     info    transport: loopyWriter.run returning. connection error: desc = "transport is closing"
2018-11-

[2018-11-05 21:12] douglas-reid commented on #9752
I'm able to pass in `request.time` without issue, via: `-t request.time="2018-01-29T12:12:14Z",response.time="2018-01-29T12:12:15Z"`.

Example full command: `mixc report -s context.protocol="http",destination.service="test",request.path="/doug-test",destination.uid="kubernetes://productpage-v1-79b8db5f94-dg4pw.crazy" -t request.time="2018-01-29T12:12:14Z",response.time="2018-01-29T12:12:15Z"`.

Th

[2018-11-05 21:14] douglas-reid commented on #9748
@sdake I know that we've been re-org'ing the gateways. Thoughts on this issue?

[2018-11-05 21:24] awly opened #9754 "curl CVEs in gcr.io/istio-release/grafana images"
**Describe the bug**
CVE-2018-16839 and CVE-2018-16842
https://www.debian.org/security/2018/dsa-4331

**Expected behavior**
curl patched against CVEs and new grafana image pushed.

**Steps to reproduce the bug**
n/a

**Version**
`gcr.io/istio-release/grafana:0.8.0`

**Installation**
n/a

**Environment**
n/a

**Cluster state**
n/a

[2018-11-05 21:30] vinayvenkat commented on #9752
@douglas-reid
Thanks for the response. I ran the server with the debug flags. Please see output below. Instances are not being sent to my grpc adapter:

2018-11-05T21:29:34.340872Z     debug   attributes      Creating bag with attributes: source.ip                     : http
source.labels                 : 2018-01-29 12:12:15 +0000 UTC
source.name                   : /doug-test
source.namespace

[2018-11-05 21:31] mandarjog commented on #9571
This has been addressed by #9634 and #9678

[2018-11-05 22:21] ssubramanian123 opened #9755 "Once istio injection enabled POD not able to connect external endpoints"
**Describe the bug**
I am enabling istio proxy injection using below command. Once it is enabled, my application pods are not able to connect our external endpoints.

**Expected behavior**
External endpoints should be reachable from the pod.
Our application connects to the following type of external endpoints.
- endpoints in same VPC in  AWS as kubernetes cluster VPC
- endpoints in different VPC i

[2018-11-05 22:33] qiwzhang commented on #9716
@mukundha   I just looked your filter_config for filter_name": "envoy.grpc_json_transcoder".  I could not spot any problem.  You indeed listed all the services.

could you provide list of the not-working services?  especially their request json.

We need to debug it.

@lizan could you take a look?

Here is his envoy filter config:

"filter_name": "envoy.grpc_json_transcoder",
          "filter_con

[2018-11-05 22:42] lizan commented on #9716
Do you have access log for the failed request? How do you generate the pb descriptors?

[2018-11-05 22:46] sergeydeg commented on #9480
Looks like 1.0.3 somehow broken.
After upgrading from 1.0.2 in previous week , we seen massive mesh disjoining from time to time , 503's in ingress.
Also due to Pilot behaviour istio-proxy logs full of this messages

As telemetry pod autoscaled by HPA old endpoints still looks alive to proxy.

Also interesting why istioctl shows proxy version as 1.0.2 and deleted endpoints enpoints as HEALTHY

I h

[2018-11-05 22:52] skydoctor commented on #8849
Can someone comment on what are the things that don't work specifically when a different namespace is used? I rendered a helm chart by using some other value in "--namespace" using helm template. The resulting istio control-plane appears to be working fine. What are the things I should check as potentially being broken?

[2018-11-05 23:04] skydoctor commented on #8849
@linsun: I see that you have worked on a few namespace related issues. Do you know what works and what doesn't when the namespace is changed from "istio-system" ? Thanks

[2018-11-06 00:13] geeknoid commented on #9596
Cache entries have a TTL which is controlled by the adapter that's
returning the result value. So it's normal that behaviors take 30 seconds
(or whatever the TTL happens to be set to) before changes take effect.

On Mon, Nov 5, 2018 at 12:40 PM Baton Daullxhiu <notifications@github.com>
wrote:

[2018-11-06 00:39] rshriram commented on #9714
I have a feeling the zookeeper stuff is not HTTP but some custom protocol.. which is why the tcp-* works. Otherwise, envoy tries to decode port 80 traffic as http and fails, returning a 503

[2018-11-06 00:54] gyliu513 commented on #6355
@elevran can you please show some detail for what do you mean of `TLS between the application and sidecar proxy.`?

Does not the current mTLS support this https://istio.io/docs/tasks/security/mutual-tls/#verify-requests ? With current mTLS, I can access an application from a pod which has a sidecar proxy running in it.

[2018-11-06 01:12] kyessenov commented on #9596
@geeknoid @mandarjog Perhaps, we should consider turning off the second level cache altogether? I find it difficult to diagnose the issues related to two-level caching due to limited logging in mixer.

[2018-11-06 01:36] mandarjog commented on #9596
So for we have a clear indication that there is cache issue with the server side cache. Do you also suspect that there is an addition problem on the client side?

Otherwise removing this cache will mask the problem.

[2018-11-06 01:43] shalako commented on #9378
Cloud Foundry operators have requested support for control of TCP keepalive probe count and interval. https://github.com/cloudfoundry/gorouter/issues/185

[2018-11-06 01:49] sh777 commented on #8615
@mabushey Thanks a lot!
It's working now. Figured out that my issue was just missing "svc" in gateway's FQDN

[2018-11-06 02:07] w564791 commented on #8374
let me try.

发自我的 iPhone

在 2018年11月3日，上午12:24，Christian Posta <notifications@github.com<mailto:notifications@github.com>> 写道：

Any chance you can try with latest release of 1.0.3 and report back?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/istio/istio/issues/8374#issuecomment-435430986>, or mute the thread<https://g

[2018-11-06 02:10] vinayvenkat commented on #9752
@douglas-reid
Looks like this was not fixed in the master branch that I had checked out. Its very similar to identical to another issue raised by someone else. I updated my branch and it worked.
When will the fixes in the release-1.1 branch get merged and pushed out into a main release?

[2018-11-06 03:02] w564791 commented on #8374
## The problem is still
my test gateway
[code]
[code]

[2018-11-06 03:31] douglas-reid commented on #9752
@vinayvenkat ah, this is the `mixc` encoding issue! We should cherry-pick that immediately. I'm traveling tomorrow, but can handle it the day after (or will /lgtm one if you do it).

[2018-11-06 05:50] johnzheng1975 opened #9758 "istio-pilot raise "Omitting listener for management address", and service raise 503"
**Describe the bug**
1  Sometimes it will raise 503 or 0 (timeout), when pod liveness access .../v1/health
![image](https://user-images.githubusercontent.com/17720035/48045345-f384a500-e1ca-11e8-9882-4959a5a377fa.png)

2  Lots of warning in istio-pilot log
[code]

3  isto-pilot container cpu usage arrive 2 CPU.
![image](https://user-images.githubusercontent.com/17720035/48045803-b7524400-e1cc-11e8

[2018-11-06 06:55] dheerajng commented on #7603
I faced similar issue. If you have two (or more) ServiceEntries for TLS, then you can not access external service associated with the latest added ServiceEntry.
For example, if I add ServiceEntries for "Potato" and "Tomato" in that order, I won't be able to access "tomato" service.
I looked into the envoy config, and found that there is only filter entry (Potato) for listener "0.0.0.0_443". Hence

[2018-11-06 07:13] Stono commented on #9714
Ah ok.
Thanks @rshriram

[2018-11-06 07:13] #9714 closed

[2018-11-06 07:15] Stono commented on #9480
I created a separate issue for the miss-version report https://github.com/istio/istio/issues/9597

It's happened before, as I just believe it's a hard coded const that people forget to update

[2018-11-06 07:57] mukundha commented on #9716
Thanks for checking,
I am generating descriptors as described [here](https://cloud.google.com/endpoints/docs/grpc/transcoding#deploying_a_service_using_transcoding)
[code]
[Here](https://github.com/mukundha/hipster-apim-demo/blob/master/endpoints/api_descriptor.pb) is the proto descriptor I am using

Problem is I not seeing anything in the logs of both on istio-proxy as well as my server container

[2018-11-06 09:15] lizan commented on #9716
@mukundha Looks like you're applying EnvoyFilter to label `transcode: http`, but your currencyservice deployments doesn't have that?
https://github.com/mukundha/istio-sample-grpc-transcoding/blob/master/currencyservice.yaml#L23

Others seems to be fine:
https://github.com/mukundha/istio-sample-grpc-transcoding/blob/master/products.yaml#L25

[2018-11-06 09:46] mukundha commented on #9716
sorry, pushed the wrong config.. fixed the config now.. yes currencyservice doesn't work even with the label
https://github.com/mukundha/istio-sample-grpc-transcoding/blob/master/currencyservice.yaml
Thanks,

[2018-11-06 10:00] simonswine commented on #8387
With a helm based setup on v1.0.2 you can just set this parameter:

[code]

[2018-11-06 12:09] #6921 closed

[2018-11-06 12:41] zrss opened #9760 "Potential fd leak in pilot-agent"
**Describe the bug**

observes a fd leak in my env (er, not a standard docker engine)

[code]

**Expected behavior**

we should close the envoy config file after creating it

**Steps to reproduce the bug**

i can't see it in a standard docker engine, but it happens at my version

[2018-11-06 12:48] mandarjog commented on #9596
it should, and the client side cache takes this into account. This is an additional issue then .

Regardless, incorrect cache hit should never happen.

[2018-11-06 13:03] JAtula commented on #6085
Just hit the same issue, a workaround would be awsome, if somebody knows one?

[2018-11-06 13:23] christian-posta commented on #8374
Damn. Okay will dig into this. Thanks!

[2018-11-06 14:33] themanifold commented on #7418
Try again with istio v1.0

My company has it working with v1.0.2 specifically, and mutual TLS enabled and istio managed ports

Remember that your service/deployment needs to have the ports called "http-<something>". In our testing, the only "http**s**-<something>" was port 11210. According to https://docs.couchbase.com/server/6.0/install/install-ports.html that port is the "memcached_port". Confus

[2018-11-06 15:14] ozevren commented on #8849
Ideally nothing should be broken when a namespace other than "istio-system" is picked. However, I don't think we have a test that particularly covers this.

Being able to change the deployment namespace should be a simple "use the supplied config value, instead of a constant" for the system (and the framework).

[2018-11-06 16:09] #6906 closed

[2018-11-06 16:18] #9744 closed

[2018-11-06 16:26] jsw commented on #6861
I would also like this feature. It's somewhat unexpected that there's a default timeout at all, and 15s seems pretty low to apply to an entire cluster. I want to set the default to a very high number (120+ seconds) so that it doesn't interfere with higher timeouts set by applications. When applications shift timeout/retry logic to the proxy, they can set lower values to override the high default.

[2018-11-06 16:45] jmazzitelli commented on #8849
This reminds me - Kiali needs to be told where Istio is deployed if not in default namespace of istio-system. I just created a couple PRs for this:

https://github.com/istio/istio/pull/9762
https://github.com/istio/istio/pull/9763

[2018-11-06 17:58] hngo4619 opened #9764 "Session affinity doesn't seem to apply to weighted subsets - Envoy support required"
**Describe the bug**
When attempting to apply session affinity to weighted subsets, the session affinity doesn't seem to apply and the subsets will randomly get served based on their weights as normal. Session affinity works as expected when not applying custom weighted subsets.

**Expected behavior**
Session affinity to apply on top of weighted subsets. So user will randomly be sent to a version

[2018-11-06 17:58] cmluciano commented on #8274
@suryadu @jnativio

Since we have landed https://github.com/istio/istio/pull/8993 , the [flamegraphs](https://ibmcloud-perf.istio.io/regpatrol/release-1.0-20181030-09-15/full-helm2/flamegraphs/) show a much more tenable CPU profile for tracing.

The graph now shows the majority of time is Mixer-specific filters. @mandarjog are you currently working on perf enhancements to the mixer filters?

[2018-11-06 18:34] jnativio commented on #8274
Flamegraph link above has moved --> https://ibmcloud-perf.istio.io/regpatrol/pre-1.0.3_results/release-1.0-20181030-09-15/full-helm2/flamegraphs/

[2018-11-06 18:37] jnativio commented on #8274
There was no switch from Jaegar to Zipkin. Jaegar has been used as the default tracing add-on for quite some time. Having a tool to consume the tracing generated by envoy does not alter its CPU usage profile.

[2018-11-06 18:41] amyroh commented on #7688
Since helm version > 2.10.0 does not require to install Istio's CRDs on a separate command via kubectl apply, I think it's fair to expect `helm delete istio --purge` should delete the CRDs without having to explicitly delete them.

[2018-11-06 18:46] cmluciano commented on #8274
Ah sorry about the confusion

[2018-11-06 18:48] linsun commented on #7688
I think this is a helm issue where the `delete istio --purge` didn't clean up CDRs properly even if you are already on helm 2.10, I'm glad you are raising this with helm github repo directly too.

[2018-11-06 18:50] geauxvirtual commented on #9755
If you can't define a ServiceEntry for external ip addresses, you can use either includeIPRanges or excludeIPRanges to tell Istio what CIDRs to manage (includeIPRanges) and let everything else through, or to manage all CIDRs (*) and which CIDRs to exclude (excludeIPRanges). This is set when Istio is installed. There is a configmap that can be updated, and then the pod would need to be deleted so i

[2018-11-06 18:55] geauxvirtual commented on #7495
@dstockton If you only set the ServiceEntry, then mutual TLS would not be enabled. Mutual TLS requires a Policy and DestinationRule to enable.

[2018-11-06 19:02] nixgadget commented on #7688
Yeah I ended up having a custom helm job to do achieve this using,
[code]

[2018-11-06 20:30] GregHanson opened #9770 "Make --monitoringPort for pilot/mixer/galley configurable"
**Describe the bug**
Attempted to deploy Istio without using the default `monitoringPort=9093` used by the istio controlplane.  This setting is not configurable via helm and pilot discovery fails to start when setting the --monitoringPort command line flag.

**Expected Behavior**
Expect to be able to easily configure this port via helm and for control plane to deploy properly

**Steps to reproduce

[2018-11-06 20:32] GregHanson commented on #9770
link to modified release istio-demo.yaml
https://gist.github.com/GregHanson/a6a0b634188671e3278e79bf0528376b

[2018-11-06 20:34] GregHanson commented on #9770
Error returned by pilot when attempting to use port 9094 for example for the monitoring port
[code]

[code]

[2018-11-06 20:36] GregHanson commented on #9770
assigning nmittler since since he was the last person to modify those flags in pilot

[2018-11-06 20:41] GregHanson commented on #9770
the reason for trying to run Istio on a different monitoringPort is because Kafka uses port 9093 for its message brokers.  Attempting to create a required TCP listener on 9093 via a ServiceEntry results in a port conflict (since istio control plane has a HTTP listener on 9093 already) and the new listener is silently rejected

[2018-11-06 21:09] #6613 closed

[2018-11-06 21:45] hklai commented on #9185
/cc @mandarjog

[2018-11-06 22:09] #6699 closed

[2018-11-06 22:41] jsw commented on #6085
I just ran into this on Istio 1.0.3. Not sure if I saw this on previous versions. Deleting the istio-pilot pods seems to help, but is probably only a temporary fix. The pods were only a day old (upgraded Istio 1.0.2 -> 1.0.3 yesterday) and I didn't notice anything obviously bad in the pilot dashboard. Perhaps the recent activity in this issue is people running 1.0.3?

[2018-11-06 23:09] #6945 closed

[2018-11-06 23:41] markeijsermans commented on #8807
Can confirm this effects both Ingress and Gateways. The Envoy bug in question is this: https://github.com/envoyproxy/envoy/issues/886

I have dedicated node-pool for my ingress/gateway deployments which I run as a `DaemonSet`. I `hostPort` my gateways to listen on a static port on those hosts (could as well be `NodePort`s). So the Envoy pod listens on port 80, and is then mapped to port 8080 on th

[2018-11-07 01:30] SFHfeihong opened #9778 "AB stress testing: istio performance ERROR: Benchmarking 10.0.*.* (be patient)...apr_pollset_poll: The timeout specified has expired (70007)"
Istio version: 1.0.2
k8s version: 1.9.3

I create deployment and service. It has been injected by sidecar. I create gateway and virtualservice. It can be visited by "curl  http://10.0.*.*:31380/productpage". But it has errors when i use "AB" to do stress testing.

ab -n 1 -c 1 -k http://10.0.*.*:31380/productpage
This is ApacheBench, Version 2.3 <$Revision: 1430300 $>
Copyright 1996 Adam Twiss, Ze

[2018-11-07 01:36] incfly commented on #8601
/cc @wattli @diemtvu @wenchenglu

[2018-11-07 01:57] jaygorrell commented on #9043
@mandarjog can you give me a bit more info about that environment? I'm trying to help isolate this because I can reproduce it every time with new clusters. Anything that could be helpful... instance sizes, network overlays, etc.

There also seems to be two different things here:
1. Deploying 200-300 pods at once causes dozens of them to hit multiple restarts before things settle.
2. Once things ar

[2018-11-07 02:07] courcelm commented on #6085
I'm also hitting UNAVAILABLE:upstream connect error or disconnect/reset before headers on Istio 1.0.3

[2018-11-07 02:09] #6760 closed

[2018-11-07 02:18] clyang82 opened #9779 "Whether we should deploy Elasticsearch or Cassandra for jaeger in Istio"
**Describe the feature request**

Refer to this request - https://github.com/istio/istio/issues/8965
The all-in-one deployment is not for production. there is a PR - https://github.com/istio/istio/pull/9508 to replace `jaeger` with `jaeger-operator` which is easy to deploy jaeger as production.
But all the data is in `memory` by default. even if `jaeger` supports `Cassandra` and `Elasticsearch`, t

[2018-11-07 02:35] gyliu513 commented on #9779
/cc @douglas-reid

[2018-11-07 06:47] williamchong007 commented on #9604
FYI I was investigating a perf issue in `1.0.2` where mixer takes up 2000% CPU utilization, reapplying `crds.yml` solved my issue.

I think I installed `1.0` by helm then upgraded to `1.0.2`, so this issue might be from a previous version.

[2018-11-07 07:20] #1631 closed

[2018-11-07 07:32] hzxuzhonghu commented on #9743
I create a ServiceEntry , and I can still access `edition.cnn.com` by http and https. I guess if undefined, it will use spec.ports to build cluster.
[code]

[code]

[2018-11-07 07:42] hzxuzhonghu commented on #9743
confirmed by this
https://github.com/istio/istio/blob/60f6385a1173c1634ecb584ed53274341cfe69d7/pilot/pkg/serviceregistry/external/conversion.go#L118-L121

[2018-11-07 07:46] hzxuzhonghu commented on #9743
Shoud we change this behavior if `ServiceEntry_Endpoint.Ports` not defined, then will not choose from `ServiceEntry.Ports`? This makes it easy to understand.

[2018-11-07 07:55] c0d1ngm0nk3y commented on #9659
With git bisecting, we found out that the commit
(00abab79d96eb74b1b021be6f81c91f25a262768)[https://github.com/istio/istio/commit/00abab79d96eb74b1b021be6f81c91f25a262768] introduced this issue.

That sounds suspicious. The configuration was rejected before, but the envoy worked fine and just ignored the missing cert. Now it does not get ready anymore.

[2018-11-07 08:37] markusthoemmes commented on #7665
A relevant upstream issue: https://github.com/envoyproxy/envoy/issues/3837

[2018-11-07 08:44] yoz2326 commented on #7665
How about having a kubernetes webhook that signals pilot when a pod IP is removed from a kubernetes service endpoints list, so it should not be used in load balancing anymore? Then pilot pushes updates to envoy pods.

[2018-11-07 08:52] JAtula commented on #6085
Yeah, deleting pilot seems to fix issue, but it's not really ideal 😄

[2018-11-07 09:03] shenxg13 opened #9783 "no cors header response after define cors policy in vs?"
**Describe the bug**
no cors header response after define cors policy in vs

**Expected behavior**
cors header should be responsed.

**Steps to reproduce the bug**
[code]

[code]
[code]

**Version**
[code]

[2018-11-07 09:39] markusthoemmes commented on #7665
@yoz2326 that doesn't help for in-flight requests though. The proxy shouldn't just drop these connections to the floor.

[2018-11-07 10:02] Stono opened #9784 "Limitations around TCP Services make Istio pretty unusable on larger multi-tenant clusters"
Hi,
I've talked about this a few times now in different forums but never really collated it all together in one place.  We really need to find a solution, otherwise we may well have to pull istio out all together.

In summary, these limitations make Istio pretty unusable for us.  They're all based around the fact that TCP services are effectively a cluster wide concern because they're listening on

[2018-11-07 10:14] markusthoemmes commented on #7665
Doing a bit more reading, envoy does have something like a hot-reloading script, which also supports SIGTERM based exit.

https://github.com/istio/istio/pull/6734 was a PR that kinda attempted to replicate that in the pilot-agent. I'm happy to revive that PR and push it to completion if that's deemed useful. My current view of the situation:

The pilot agent would send SIGTERM to the envoy process

[2018-11-07 10:20] Stono commented on #7665
@markusthoemmes it already captures sigterms and drains, I believe the 503s however are caused by upstream istio-proxies not knowing that the downstream proxy has been drained, because it takes <some seconds> to push the updates to all upstream proxies.

Eg:

 - user talks to a
 - a talks to b
 - b sends response, all good

 - user talks to a
 - b sigterms, and exits
 - a tries to talk to b becaus

[2018-11-07 10:40] luigi-riefolo commented on #9567
Can confirm that the rule applies to pods.

[2018-11-07 10:40] #9567 closed

[2018-11-07 10:43] yoz2326 commented on #7665
Wouldn't pod `terminationGracePeriodSeconds` setting allow for in flight connections to finish?

[2018-11-07 10:57] markusthoemmes commented on #7665
@yoz2326 that's set to 30 by default IIRC, so requests from 0 to ~30s should be fine even with default behavior I think.

[2018-11-07 11:10] Stono commented on #7665
Nope.... doesn't seem to help.

[2018-11-07 11:31] yoz2326 commented on #7665
@Stono what settings do you use for `drainDuration`, ``parentShutdownDuration` and `discoveryRefreshDelay`  on istio-proxy?

[2018-11-07 11:58] Stono commented on #9784
Just to elaborate even further with TCP services and the multi-tenancy issues, despite the conflict above, in this example Application A is attempting to connect to `zookeeper-0.zookeeper-headless.search-solr`, but as you can see from the logs envoy is treating it as `zookeeper-headless.kafka`, as that "cluster" is mesh wide on 2181.

Therefore we're in a situation where the connection to `search-

[2018-11-07 12:18] Stono commented on #9758
This is your liveness probes, I think - can you paste your liveness and readiness probes here?

[2018-11-07 12:36] Sheshagiri opened #9785 "issue with weight based traffic routing"
**Describe the bug**
I'm not able to get the weight based routing work with the [sample app](https://github.com/Sheshagiri/Hello-Go/tree/routing) as described in https://istio.io/docs/reference/config/istio.networking.v1alpha3/

**Expected behavior**
I'm expecting for the requests to be routed to a different version based on the weight specified against each version. When the url is invoked I see

[2018-11-07 12:52] #2237 closed

[2018-11-07 13:52] #1853 closed

[2018-11-07 14:02] markusthoemmes commented on #7665
@Stono are you certain that the pilot-agent does drain already? It does seem to drain properly on configuration updates etc. Regarding shutdown logic, it looks more like a hard shutdown to me.

[2018-11-07 14:09] offzale opened #9788 "No need to set two values to enable multicluster communication using gateway"
I am working with multiple Istio 1.1.0-snapshot.2 clusters connected using the multicluster gateway. I found out though that for enabling multicluster communication with gateways you need to set two different values, and not just a single one as the [documentation](https://preliminary.istio.io/docs/setup/kubernetes/multicluster-install/gateways/) says.

Those values are:
* `global.multiCluster.con

[2018-11-07 15:11] dshmatov commented on #9764
@hngo4619 Yep, I can confirm the same issue for me, also I've tried to define session affinity in subsets - the same result. I can tell more, it produces the same cookie hash for each of subset. It is weird. I'm trying to implement Canary Deployments approach but got a mix of resources (prod and canary) on the same web page

[2018-11-07 15:29] markusthoemmes commented on #7397
On top, I believe that pilot should handle SIGTERM gracefully as well, especially the pilot-agent. It should gracefully shutdown all envoy proxies before exiting itself, causing a sidecar to vanish.

[2018-11-07 15:47] Keisone commented on #7688
I had the same issue and I had to delete manually:

kubectl delete crd gateways.networking.istio.io

[2018-11-07 15:52] #6971 closed

[2018-11-07 16:39] Velyks opened #9789 "`kubectl get -o=yaml --export` gives empty elements on istio resources"
**Describe the bug**
When performing `kubectl get -o=yaml --export` on istio custom resources, elements inside the yaml are incorrectly set to `""`

Example, `clusterName`, `namespace`, `resourceVersion`, and `uid` shouldn't be there:
[code]

**Expected behavior**
When using `--export` the kubernetes-generated elements should be completely omitted

**Steps to reproduce the bug**
Perform `kubectl g

[2018-11-07 16:47] #9320 closed

[2018-11-07 16:54] costinm commented on #9784
The root cause of the limitation is that for headless services, the connection is initiated to the IP of the endpoint. We can't create 1 listener for each endpoint - some TCP services may have large number of replicas, and besides the endpoints change very often. For normal services, we listen and intercept the cluster IP - which is stable, and Istio EDS finds the endpoint IP.

To solve this for T

[2018-11-07 17:12] cchanley2003 commented on #6085
I am seeing this with 1.0.3 as well. My scenario:

An nginx proxy sits in front of apache httpd versions. All sit within the services mesh and have automatically injected sidecars.  I have a virtual service sitting in front of the apache. Any time I restart the apache pods I see the disconnect/reset errors. Restarting pilot or applying new virutalservices routes to the apache virtual service fixes

[2018-11-07 17:50] ayj commented on #9789
The documentation for `kubectl get --export` says that cluster-specific information is stripped. In your example, this is true and those fields are set to `""`.  Other non-Istio CRD behavior in a similar way with kubectl.

[2018-11-07 17:50] #9789 closed

[2018-11-07 17:52] #2139 closed

[2018-11-07 17:55] Stono commented on #9784
Hey @costinm - thanks for the detailed response.

I'm not sure if here or the doc is the right place to discuss it further, the proposal seems great for scaling reasons but if I'm reading the doc right, I'm not sure scoping will actually solve the issue above, if you're limited to just "public" and "private".

Take the following example where we have an app that needs to talk to Kafka and Zookeepe

[2018-11-07 18:21] jiribroulik commented on #6574
@Arttii I have the same issue. Do you have a solution? Seems like the 'hosts' is ignored

[2018-11-07 18:23] Velyks commented on #9789
Can you give examples so I can raise the same issue with them? CRDs should act consistently with the non-custom resources.

[2018-11-07 18:35] michaelkipper commented on #8906
I'm seeing this too, in a close-to-stock installation of `1.0.2` in our staging cluster.
More info here: https://groups.google.com/d/msg/istio-users/lsdhM2meMhM/Wwx7lCAXBAAJ

[2018-11-07 18:49] douglas-reid commented on #9779
I think it is fine to provide guidance. The website seems like an appropriate place to link to the docs, maybe as an addendum to the "Distributed Tracing" task, or as a separate new task (maybe "Productionizing Istio Add-ons") which links to existing documentation for the products themselves.

I don't think we want Istio to end up trying to cover all production use cases for the add-ons. That shou

[2018-11-07 18:55] douglas-reid commented on #9770
Wasn't `monitoringPort` just removed from pilot?  Does this work if you *only* set --monitoringAddr ?

[2018-11-07 18:58] douglas-reid commented on #9770
BTW, changing the monitoring port in the args should also be reflected in the artifacts for the services/deployments (as this will impact metrics gathering). Example: https://github.com/istio/istio/blob/master/install/kubernetes/helm/subcharts/mixer/templates/service.yaml#L20-L21

[2018-11-07 19:11] douglas-reid commented on #9613
@rshriram Can you provide some concrete examples here (per discussion in the P&T WG)?

[2018-11-07 19:17] jamroks commented on #5700
hello

@gyliu513  i'm seeing the same massage in the logs ffrom my istio environment
"shutting down parent after drain", could you please explain what you just mention about the service port ? which service port are you refering to ?

cheers

[2018-11-07 19:39] nixgadget commented on #7688
For anyone wanting to fix this until a permanent fix is being released,

[code]

[2018-11-07 19:41] ayj commented on #9676
fixed by Current json-to-proto decoding does not recognize unknown fields and

[2018-11-07 19:41] #9676 closed

[2018-11-07 20:58] eduardobaitello commented on #9194
Same here...the `istio-proxy` log is spamming a lot of unnecessary info from kube-probes:
[code]

Filtering for this logs (maybe by request method/path) will be a nice feature!

[2018-11-07 21:30] jwendell opened #9799 "Pilot doesn't listen for mesh config changes"
In a default k8s deployment, where the mesh config comes from a file within a volume that comes from the `istio` configmap, Pilot doesn't listen for changes in that file.

Thus, if we change something the the `istio` configmap, those changes will never reach Envoys, unless we restart pilot.

[2018-11-07 21:54] douglas-reid commented on #9779
Discussed in the P&T WG today. I think we have a plan for jaeger around the jaeger operator, helm options, and docs on the jaeger operator site.

[2018-11-07 22:00] jnativio opened #9800 "perf: Investigate alternatives to optimize json marshal/unmarshal on Pilot"
**Describe the feature request**
Pilot spends a lot of time with json marshaling/unmarshaling, as shown in the flame graph below obtained when Pilot was very busy:

![image](https://user-images.githubusercontent.com/18554027/48163435-aa595180-e2ad-11e8-9e28-cb5377ce8b76.png)

The complete flame graph can be found here --> https://ibmcloud-perf.istio.io/data_istio/pilot_flamegraphs/

**Describe alt

[2018-11-07 22:01] jnativio commented on #9800
/assign @irisdingbj

[2018-11-07 22:03] jnativio commented on #8276
#9800   was opened to investigate alternatives for json marsh/unmarsh

[2018-11-07 22:15] jnativio opened #9802 "perf: Investigate possible optimizations in the mixer filter codepath for Envoy"
**Describe the feature request**
A flame graph obtained from istio-proxy sidecar during load shows that it spends considerable time in the mixer filtering:

![image](https://user-images.githubusercontent.com/18554027/48164338-2f456a80-e2b0-11e8-9ecd-63729735ddab.png)

**Describe alternatives you've considered**
Evaluate the codepath related to filtering to see if performance optimizations can be i

[2018-11-07 22:16] jnativio commented on #9802
/assign @cmluciano

[2018-11-07 22:17] jeffmendoza opened #9803 "Stackdriver Adapter does not batch requests to Context Graph API"
As noted in the TODO here:
https://github.com/istio/istio/blob/release-1.1/mixer/adapter/stackdriver/contextgraph/send.go#L122

This API has a  max size of 600K. Sometimes we are calling it with a larger size. Istio needs to batch large requests.

I'd like to get this fix into Istio 1.1 if possible.

[2018-11-07 22:18] jnativio commented on #8274
#9802 was opened to investigate mixer filtering optimization

[2018-11-07 22:20] jnativio commented on #8274
PR #9798 was created to merge #8993 into master/1.1 branches.

[2018-11-07 22:33] wattli commented on #8741
@sdake , is this bug still valid?

[2018-11-08 01:01] rushins opened #9806 "istio blocking ports"
**Describe the bug**
{{ Succinctly describe the bug }}
using ISTIO-proxy the system port is not working.
**Expected behavior**
{{ What did you expect to happen? }}
remove ISTIO-Proxy the system port is working
**Steps to reproduce the bug**
{{ Minimal steps to reproduce the behavior }}
GKE Kubernetes with simple SAP HANA database
**Version**
istio 1.0
{{ What version of Istio and Kubernetes are yo

[2018-11-08 02:19] jeremyxu2010 commented on #7688
template "istio.customJob" not defined， how to resolve it?

[2018-11-08 02:31] nixgadget commented on #7688
Heres a much simplified version of the above for the curious,
[code]

[2018-11-08 03:04] gyliu513 commented on #5700
I also often see such message in proxy log as follows, but this does not seems impact the function.

[code]

@rshriram any comments for this.

[2018-11-08 03:17] hzxuzhonghu commented on #9806
Do not get what you are asking?

[2018-11-08 03:20] yangminzhu commented on #9504
@hzxuzhonghu @rshriram
I'm still seeing this error using the latest 1.1 build that includes #9633.

[2018-11-08 03:51] joberdick commented on #9504
It sounds like we are good to close this if someone can clarify if it's expected for istio-proxy to fail to start without a service object.

[2018-11-08 04:12] hzxuzhonghu commented on #9378
This is reasonable, we should support upstream connection tcp keepalive config.  And I think by default they should be the os default value.

@rshriram @costinm WDYT?

[2018-11-08 04:17] #1367 closed

[2018-11-08 05:43] mandarjog commented on #9800
There has been prep work done on this to address the problem in two ways.
1. Put a cache in front of messageToStruct
 The cache is not effective because structures contain data that varies by each proxy. Specifically proxy uid and namespace.

Proxy no longer needs this, so now a simple cache can be placed here after eleminating the uids

2. Use any encoding instead of struct. Waiting for envoy api

[2018-11-08 06:12] dotw opened #9811 "Where is the rule log?"
How to view the rule log? e.g: I want to know the result of evaluating value of ```destination.labels["app"]```
[code]

[2018-11-08 06:50] costinm commented on #9618
https://github.com/istio/istio/pull/9805

[2018-11-08 06:50] costinm commented on #9480
https://github.com/istio/istio/pull/9805 - trying to get a build ASAP.

[2018-11-08 07:42] ymesika opened #9812 "Pilot crash after setting up an Istio Multicluster with v1.0.3"
**Describe the bug**
Log from Pilot after adding a remote Istio cluster secret with:

[code]

**Expected behavior**
Pilot shouldn't crash.

**Steps to reproduce the bug**
Follow the instructions in https://istio.io/docs/setup/kubernetes/multicluster-install/#example-deployment with Istio v1.0.3.

**Version**
Istio v1.0.3
Kubernetes v1.12.2
Helm v2.11.0

**Installation**
Followed the instructions i

[2018-11-08 07:59] sysC0D commented on #6085
Same problem on Istio 1.0.3.
In most case, when I reapply our configuration files this error is fixed but not for a long time.
Maybe be the volumetry? 4000-5000/req/s on ingress-gateway.

[2018-11-08 08:11] lizan commented on #9716
It seems you're using "match_incoming_request_route" which might lead 503 no upstream with istio. What if you turn off that? You might need change the route setting as well though.

[2018-11-08 08:31] mukundha commented on #9716
ok tried that, still not working. The same config("match_incoming_request_route"), works for other services, just not for this and couple others [but this is easy to test]

If i try within the cluster this is what I get,
[code]
I guess, this is what gets translated to, when I hit the ingressgateway
[code]

[2018-11-08 08:38] lizan commented on #9716
Is your service serving gRPC request?

On Thu, Nov 8, 2018 at 12:31 AM Mukundha Madhavan <notifications@github.com>
wrote:

[2018-11-08 08:49] mukundha commented on #9716
Yep, this is the one I am using - https://github.com/GoogleCloudPlatform/microservices-demo/tree/master/src/currencyservice
also FWIW - i tried to use the same config files with CloudEndpoints, transcoding works well [with esp proxy]

[2018-11-08 08:55] clyang82 commented on #9402
@KevinKlinger & @oulinbao I have tried 1.0.2 and 1.0.3. they are not working. But it works in `istio-1.1.0-snapshot.2`. so this issue should be fixed in `release-1.1`. I cannot test `release-1.1`, because there is a blocking issue - https://github.com/istio/istio/issues/9593. We can have a try after unblocking.

[2018-11-08 09:06] pilhuhn opened #9813 "Support other kinds of Envoy metrics like Kafka / AMQ messages"
( This is related to a conversation in the policy and telematics WG on Nov 7th)

Envoy may soon support filters for new protocols like Kafka, AMQP or MQTT, that are message oriented. In those protocols, the unit of measurement is a message and users of Istio telemetry (and @kiali) expect to see stats in # of messages or messages per second.

Istio should (at least) transparently forward those kind

[2018-11-08 09:57] krucelee commented on #9779
dear all, any update on this?

[2018-11-08 10:05] objectiser commented on #9779
@krucelee There is a PoC underway to try using the jaeger-operator as a way to support both the current 'in-memory' configuration of Jaeger, but also enable a production deployment using Elasticsearch or Cassandra.

See https://github.com/istio/istio/pull/9508#issuecomment-436715254 for more details - would be great if you have a chance to try this out and provide feedback.

[2018-11-08 10:39] ahsannaseem opened #9815 "Trying to deploy service with port other then 80 | gateway with multiple ports"
Hey so I configured gateway for port 80 and 8083 for same domain i-e `example.com`. Now when I create attributes using below config file everything get up and running but issue is I am using `8083` in service and virtualService but I get response from service at `80` where on `8083` getting connection timeout.

Unable to understand why service is responding on 80 not 8083

[code]

[2018-11-08 10:44] PiotrSikora commented on #7630
(Not stale)

[2018-11-08 10:54] shakti-das commented on #5043
Is this being worked on currently or is it available?

[2018-11-08 11:10] murarisumit commented on #5043
@shakti-das I'm not working on it right now, feel free to pick it up !

[2018-11-08 11:32] eduardobaitello commented on #6918
@kgoralski yes, it's working now :)

_Tip: Use the [cloudformation templates](https://docs.aws.amazon.com/eks/latest/userguide/getting-started.html) to create the EKS control plane and worker nodes, this saves you a lot of work with security groups and IAM roles_

#271 has the details. I think that this issue can also closed.

[2018-11-08 11:57] eduardobaitello commented on #9815
@ahsannaseem take a look at [Istio Spec Requirements](https://istio.io/docs/setup/kubernetes/spec-requirements).

Try to rename your gateway port 8083 to use http as a **prefix** (`http-tomcat` instead of `tomcat-http`).

Also add a port name to your service:
[code]
I'm not sure if it solves your problem, but at least you will be in compliance with Istio [naming port conventions](https://istio.io/

[2018-11-08 12:11] hzxuzhonghu opened #9818 "istio support pod graceful shutdown"
In pod spec there is a `TerminationGracePeriodSeconds`, indicating the max duration to allow pod terminate gracefully.   Pod in this phase is still running, but is being deleted and should not have new requests/connections comes in.

In istio, if a pod with not nil `DeletionTimestamp`, it should not be treated as an endpoint.  Pilot should generate eds without such deleting pod.

[2018-11-08 12:16] PhilipGough opened #9819 "Integration test framework - unmarshal error"
**Describe the bug**
When using the integration `test` package under `istio.io/istio/mixer/pkg/adapter/test` and providing a `CallKind` of REPORT (and I assume CHECK), if the error provided is anything other than null, it results in an unmarshal failure.

[code]

It appears the code is trying to unmarshal the "Error" block above into an error interface

**Expected behavior**
Expected the test to p

[2018-11-08 12:27] harryge00 opened #9821 "Mesos support?"
**Describe the feature request**
Can Istio run on Mesos/Marathon directly? Such as a framework, or as containers managed by Marathon.

**Describe alternatives you've considered**
Now Kubernetes can run on DC/OS, and Istio can run on K8s. But this means other services running on Mesos (out of K8s service) can not access Istio directly.

[2018-11-08 13:00] swade1987 commented on #5379
@miv i am doing the same running IngressGateway as a daemonset with hostPort.

However, I am running Kubernetes 1.12.1 but Istio 1.0.1 maybe I need to upgrade?

[2018-11-08 13:59] rushins commented on #9806
basically our Container (which is SAP HANA database) has the same hostname and IP address with ISTIO-proxy container ? and this cause our HANA database connectivity issues. IF we run without ISTIO Proxy this works and with ISTIO-PROXY this breaks connectivity on the container ? does it make understand now ?

[2018-11-08 14:32] swade1987 commented on #6706
@rshriram @jshearer

I am actually trying this right now.

However, it doesn't seem to work as the NLB health check (TCP, port 80 on `/`) does not seem to be working.

[code]

[2018-11-08 14:56] mukundha commented on #9716
ok i think i found a reason on why this isn't working,
so, when i did a configdump on the istio-proxy sidecar on a pod that is working (products) vs a pod that is not working (currencies)

For Products (Working)
[code]
While for Currencies (Not working),
[code]

Not sure why the filter config is not injected only to this sidecar [and is happening everytime], is there a way to force this config or

[2018-11-08 15:31] offzale opened #9823 "Pod cannot reach a service in another cluster through mcgateway, HTTP 503 error"
**Describe the bug**

I have a service in clusterB, a dummy http server, and when I try to access from a pod in clusterA I get the error `upstream connect error or disconnect/reset before headers`. When I look into the sidecar logs of the pod in clusterA I find this:
[code]

I got nothing on the mcgateway of the clusterB though. Where I am getting this error from?

**Expected behavior**
I get a re

[2018-11-08 15:52] offzale commented on #9823
@rshriram I saw you worked on this multicluster approach in #8992, any clue? am I missing anything?

[2018-11-08 16:13] cmluciano commented on #8081
@rshriram does https://github.com/istio/api/pull/679 fix this issue so that we can close this out?

[2018-11-08 16:21] mukundha commented on #9716
Ok, i found this on the pilot logs, for the currencyservice
[code]
This is not happening for other services - think we are close, any ideas why this is happening?

[2018-11-08 16:22] pnambiarsf commented on #8081
@cmluciano - Not really. We still need https://github.com/istio/istio/blob/8f0adf314f58a22a6d54d979ec899277d0f7c1fd/pilot/pkg/networking/core/v1alpha3/route/route.go#L519 to use the config introduced in istio/api#679

@hzxuzhonghu - are u working on that as well ?

[2018-11-08 16:51] mukundha commented on #9716
and here is that error - https://github.com/istio/istio/blob/18bd3e70530f737ec1c9e5666035c691b5893e04/pilot/pkg/networking/plugin/envoyfilter/envoyfilter.go#L106

[code]
both my config looks same, how do i tell if my listener is http or tcp? in service configuration, i have named the ports as `http1` and `grpc`

[2018-11-08 17:13] mukundha commented on #9716
ok I tried `istioctl proxy-config listeners` on both the pods
The working pod has
[code]
and the problematic pod has
[code]

how the listener type is decided whether its TCP or HTTP?

[2018-11-08 18:55] kyessenov commented on #9402
/assign @kyessenov
I'll take a look at this. @mandarjog given that 1.0.4 is imminent, we should back-port the fix.

[2018-11-08 19:17] venilnoronha opened #9827 "Consume Envoy Stats and Publish to Adapters"
**Describe the feature request**
Envoy generates a lot of stats which might be useful to external adapters, and for use cases like #8902.

**Additional context**
Prometheus does access these stats currently; however, we need some work to support that for other adapters.

/cc @mandarjog

[2018-11-08 19:19] venilnoronha commented on #8902
Supporting this needs additional work on Istio around consuming Envoy stats. Issue #9827 tracks that.

[2018-11-08 19:53] mandarjog commented on #8902
@jmazzitelli Mixer captures the reason for a request failure as the `context.proxy_error_code`
when `context.proxy_error_code=UO`   (Upstream overflow (circuit breaking))  it means that this request was rejected by the circuit breaker.

This attribute is being sent to mixer, but it is not yet defined as part of the vocabulary.

[2018-11-08 19:55] kyessenov opened #9831 "install: released branches should point to released docker images"
Checking out a released tag/branch, and running install from there uses daily images.
I think it's better to set the default to the released tag/branch.

/cc @hklai

[2018-11-08 20:05] mandarjog commented on #9827
Can you provide a clear use case here? The linked issue is a use case, but it is already supported by Mixer core (`context.proxy_error_code` sans a few config changes).

It makes sense to expose all request bound / related metrics, but generally making all metrics available to adapters does not make sense to me.

[2018-11-08 20:14] venilnoronha commented on #8902
@mandarjog we have some [new stats](https://www.envoyproxy.io/docs/envoy/latest/configuration/cluster_manager/cluster_stats#circuit-breakers-statistics) that directly expose the circuit breaker state, and they're not necessarily request bound. I think there's also a separate use-case for Kiali to consume these.

[2018-11-08 20:45] #7328 closed

[2018-11-08 21:11] sdake commented on #9380
@andelhie The workaround in https://github.com/istio/istio/issues/9037 works in my testing, so closing this issue out.

If you disagree, feel free to reopen.

Cheers
-steve

[2018-11-08 21:28] munrodg commented on #3063
@nmittler you able to take a look at this issue?

[2018-11-08 21:31] nmittler commented on #3063
@mandarjog isn't this the same as just adding health checking to pilot-agent/Envoy?

[2018-11-08 21:32] ostromart opened #9836 "dump_kubernetes should support large clusters"
dump_kubernetes colects too much data to be usable on large clusters. Need some mechanism to cap the amount of captured data.

[2018-11-08 21:34] diemtvu opened #9837 "mTLS PERMISSIVE + plaintext DR cause trouble with TLS traffic"
**Describe the bug**

When setting server side to mTLS in PERMISIVE mode (i.e plaintext + mTLS hybrid), but keep the destination rule as plain-text, existing TLS traffic is rejected with `curl: (35) error:1401E410:SSL routines:CONNECT_CR_FINISHED:sslv3 alert handshake failure`

**Expected behavior**

Traffic should pass through. More precisely, it should use the 'plaintex' filter chain, and then g

[2018-11-08 21:47] diemtvu commented on #5900
Taken care by https://github.com/istio/api/pull/657

[2018-11-08 21:47] #5900 closed

[2018-11-08 21:50] mandarjog commented on #9836
1. Cap the amount of data captured
2. selectively get pods belonging to a certain name space or pattern.

[2018-11-08 22:54] diemtvu opened #9838 "Switch to upstream JWT filter"
We are current using JWT filter implemented in proxy repo. Should try to use the upstream [JWT filter](https://github.com/envoyproxy/envoy/tree/master/source/extensions/filters/http/jwt_authn). May need some change in authN filter as well to get payload data from the new place.

[2018-11-08 22:57] kyessenov commented on #9402
:I have tried the doc but failed to reproduce the issue. After creating the handler/instance/rule, I can see black starts only when I login as user "jason", and no starts, otherwise. A few things that can help us to debug further:
- make sure to create handler/instance/rule in the same namespace as bookinfo application
- it would help us to get complete policy logs:
1. Bump up logging level by edi

[2018-11-08 23:36] mukundha commented on #9716
From the Model spec, looks like its assigned from the `name` of the Port, if I set that to `http` instead of `http1`, filter gets applied to the listener, but am still seeing the original error.

[2018-11-08 23:55] kyessenov commented on #2806
Not stale.

[2018-11-08 23:55] kyessenov commented on #1433
Not stale.

[2018-11-08 23:55] kyessenov commented on #4611
Not stale.

[2018-11-08 23:56] kyessenov commented on #7099
Not stale.

[2018-11-08 23:56] kyessenov commented on #7544
Not stale, but not actively being worked on.

[2018-11-08 23:58] kyessenov commented on #7959
Implemented in 1.1:
`mixer/test/client/failed_request/failed_request_test.go:  "context.proxy_error_code": "UAEX",`

[2018-11-08 23:58] #7959 closed

[2018-11-09 00:00] #7677 closed

[2018-11-09 00:41] #5647 closed

[2018-11-09 01:35] hzxuzhonghu commented on #8081
Yes, since the commit just cherry-picked to master,  i will vendor it and open a pr.

[2018-11-09 01:57] jeremyxu2010 commented on #7688
@nixgadget it works perfect, thank you very much.

[2018-11-09 03:18] jeremyxu2010 commented on #7688
do not work

[code]

[2018-11-09 03:37] dotw commented on #9811
current I have to define a `logentry` to view the elevated value.

[2018-11-09 03:41] #7002 closed

[2018-11-09 04:03] jwalcorn commented on #4460
Has anything further happened in this space?  Such as that first point in the last comment from June 18th?  If not, any outlook?  Thanks!

[2018-11-09 05:41] #6279 closed

[2018-11-09 08:51] sdake commented on #9604
@stefanprodan @williamchong007 unfortunately Helm does not properly handle the upgrade case when new CRDs are introduced into the system.  This is tied up in a problem with  the Helm job `crd-install` not actually installing new CRDs during an upgrade process.  Helm 2.10+ treats CRDs as "unmanaged objects" during the install process - in other words Helm doesn't track these CRDs via tiller.

The u

[2018-11-09 08:58] sdake commented on #9604
See https://github.com/helm/helm/pull/3982 for more details.

[2018-11-09 09:03] aslafy-z commented on #7505
see https://github.com/istio/istio.io/pull/2842

[2018-11-09 09:08] rafik8 commented on #9593
I Confirm, I got the same issue when upgrading from Istio 1.0.2 to 1.0.3. Resolved after updating istioctl to 1.0.3 in my path.

[2018-11-09 09:40] arief-hidayat opened #9844 "Egress issue with SSL: WRONG_VERSION_NUMBER"
**Describe the bug**
I have deployment which injected with istio-proxy (it works if there's no istio-proxy).
The container needs to talk to external URL (oath server). So, I added the following serviceEntry.
[code]
However, it failed with the following error
[code]
I tried couple of variations such as using TCP protocol, setting the resolution, adding destinationRule, etc. But I got the same error

[2018-11-09 09:45] clyang82 commented on #9402
I guess that is relevant with the cache. I meet this issue in the first time, it works after. Then I delete `kubectl delete -f /tmp/whitelist-handler.yaml ; kubectl delete -f /tmp/appversion-instance.yaml ; kubectl delete -f /tmp/checkversion-rule.yaml `. the page is still shown `Ratings service is currently unavailable`.  it works after 5 or more minutes.

[2018-11-09 09:48] clyang82 commented on #9402
Logout the productpage. re-apply the whitelist handler, it still show red stars. Here are logs:
[code]

It works after a few minutes.

[2018-11-09 09:56] #7036 closed

[2018-11-09 10:12] wansuiye commented on #6085
same problem on Istio 1.0.3, qps is 40~50

[2018-11-09 10:15] thomschke commented on #7505
Is there a helm repo somewhere that contains the helm charts from all istio releases (not daily-build)?

[2018-11-09 11:08] sdake opened #9845 "1.0.4 helm lint failure"
**Describe the bug**
helm lint failure in release-1.0

**Expected behavior**
helm lints properly

**Steps to reproduce the bug**
[code]

**Version**
release-1.0 branch

**Installation**
see above

**Environment**
Kubernetes 1.10 - metallb 0.7.3 - helm version 1.10

[2018-11-09 11:09] sdake commented on #9845
Note this also results in an inability to deploy with Helm using the istio.io instructions.

[2018-11-09 11:21] sdake commented on #9845
a different lint error...

[code]

[2018-11-09 11:40] sdake commented on #9845
@mandarjog hate to dump this in your lap as I committed to fixing the CRD performance problem prior to today.  I have a PR for that, but can't test that it works properly for all upgrade cases because of this problem.  I am in the air for the next 24 hours and will not have time to bisect release-1.0 branch to determine the PR that introduced this regression.

I'll test my PR for solving the CRD u

[2018-11-09 12:13] sdake commented on #9604
https://github.com/istio/istio/pull/9847

[2018-11-09 14:17] munnerz commented on #9604
Subscribing to this - we have a similar issue with cert-manager too.

To roughly summarise the current position, which I think applies to Istio too:

* Users upgrading from a release *without* the annotation see all their CRDs deleted (which is really, really bad)
* Users who upgrade and then manually fix it (by manually deleting/creating CRDs), will not be able to upgrade if we *remove* the annot

[2018-11-09 14:28] Stono commented on #9604
At AutoTrader we opt for two phased deployments (managed with helmfile)
because of this (not just istio)

On Fri, 9 Nov 2018, 2:18 pm James Munnelly <notifications@github.com wrote:

[2018-11-09 15:05] arief-hidayat commented on #9844
I found that the root cause is same as this issue https://github.com/istio/istio/issues/7659.
thanks

[2018-11-09 15:05] #9844 closed

[2018-11-09 15:50] itaysk commented on #5043
sorry, I checked this issue couple of days ago and saw there's no activity so started working and sent my PR around the same time as @shakti-das without checking here first :)

[2018-11-09 15:55] itaysk commented on #5043
anyway, reviewing the differences:
1. I think this is meant for external visibility so don't think this is necessary for sidecar type proxies, only for router/ingress.
2. as per https://tools.ietf.org/html/rfc7231#section-7.4.2 I returned a more descriptive value than "istio-envoy". I returned "Istio/version Envoy/version"

[2018-11-09 16:07] #9653 closed

[2018-11-09 18:32] quanjielin commented on #9838
though the risk is low, we may want to hold it for a little while until have a finalized aptoken, which will go through this jwt filter as well.

/cc @quanjielin

[2018-11-09 18:53] lei-tang commented on #9838
Can we list the pros and cons of switching to upstream JWT filter? Istio proxy repo has higher iteration speed, less coupling to Envoy repo, and JWT filter features in Istio proxy can be more optimized for Istio.

[2018-11-09 18:57] kyessenov commented on #4460
@jwalcorn Re: point 1, see https://github.com/istio/istio/pull/9088

[2018-11-09 19:12] kyessenov commented on #9402
Thanks for the logs. The log line that stands out to me is at the bottom "Publishing 3 events". It seems that Mixer received the config deletion events fairly late in the log. That means Mixer was operating with the old config state prior to receiving the events. This happens with a loaded API server that introduces a significant latency between kubectl commands and clients actually receiving the

[2018-11-09 19:16] hklai opened #9858 "Mixer E2E Tests are flaky"
Mixer E2E tests have become flaky lately. Apparently due to:

1. Init problem
Example:
https://circleci.com/gh/istio/istio/240720
https://gubernator.k8s.io/build/istio-prow/logs/e2e-mixer-no_auth/7717

2. Test problem
https://circleci.com/gh/istio/istio/241026
https://gubernator.k8s.io/build/istio-prow/logs/e2e-mixer-no_auth/7784

[2018-11-09 19:16] hklai commented on #9858
/cc @linsun @rshriram @louiscryan @smawson

[2018-11-09 19:17] knrc commented on #5043
@shakti-das @itaysk I also have a solution for this one but I went with a config parameter so it could be specified through the config maps

[2018-11-09 19:24] kyessenov commented on #9858
Prow test failed due to set-up. Prometheus service node port binding failed for some reason at infrastructure level.

[2018-11-09 19:32] qiwzhang commented on #9838
We really should not have two JWT filters for easy maintaining.   For bug fixing or new features,  we don't want to do it in two places.

[2018-11-09 19:36] frankbu commented on #6085
There is likely more than one potential cause of this symptom. One of them is a known regression in Istio 1.0.3, which will be fixed in 1.1. The original 0.8 is a different problem and possibly already fixed.

I suggest we close this issue, and if people observe other cases of this symptom in 1.1, then they should open a new issue with new specific details.

[2018-11-09 19:38] zparnold commented on #6085
sgtm

On Fri, Nov 9, 2018 at 11:37 AM Frank Budinsky <notifications@github.com>
wrote:

[2018-11-09 19:38] kyessenov opened #9859 "tests: use exit code 2 for infrastructure failures"
We have seen a large number of mixer test failures due to infrastructure problems and "failing to init istio". We should use exit code 2 to signal infra failures, as opposed to exit code 1 for test failures.

Ref: https://github.com/istio/istio/issues/9858
/cc @nmittler
/cc @ozevren

[2018-11-09 19:45] lei-tang commented on #9838
@qiwzhang, @quanjielin, @diemtvu Per the discussion, the plan is to deprecate the JWT filter in the Istio proxy repo and only use the JWT filter in the Envoy repo. Please feel free to add your comments to this plan.

[2018-11-09 19:50] diemtvu commented on #9838
SG. That was the point of the issue :).

Btw, as you may make changes in pilot and proxy, make sure it's backward
compatible during migration.

On Fri, Nov 9, 2018 at 11:45 AM lei-tang <notifications@github.com> wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-215-8127

[2018-11-09 19:56] #7059 closed

[2018-11-09 19:57] jojimt commented on #6085
The issue is still unresolved. I can recreate it at will(with 1.0.0, all the way to the latest master). @frankbu if you think it was resolved, can you please point to the details so I can verify it?

[2018-11-09 20:24] ostromart opened #9861 "test_crossgrade.sh broken on master"
Helm component of test_crossgrade.sh fails on master, most likely due to recent subchart changes.

[2018-11-09 20:41] ayj commented on #9063
CRD installation is conditional on presence of Pilot, Security, and Mixer being enabled (see below). Galley's dynamic config metadata may need to be similarly conditional on feature APIs.

https://github.com/istio/istio/blob/3378c01f98d1b5b284b022483ac0cd83f6f3eb0f/install/kubernetes/helm/istio/templates/crds.yaml#L3
https://github.com/istio/istio/blob/3378c01f98d1b5b284b022483ac0cd83f6f3eb0f/inst

[2018-11-09 20:50] costinm commented on #9743
I'm not actively working on this, I have few other issues - I suggest you check the pilot logs and verify if a push is requested. Also please check in 1.0 (which is used in production).
My changes for incremental EDS don't cover ServiceEntry - and egress is not using EDS anyways.

[2018-11-09 21:38] frankbu commented on #6085
@jojimt The problem is what do you mean by "the issue"? Most people that have commented here recently are probably seeing the 1.0.3 issue that should be fixed by [this PR](https://github.com/istio/istio/pull/9805). Others that have seen a similar problem over the last 6 months are likely not all the same cause.

If you are seeing a particular problem that you can reproduce, which it sounds like yo

[2018-11-09 21:39] hklai commented on #9858
@douglas-reid See https://circleci.com/gh/istio/istio/240388 for a similar failure in master.

[2018-11-09 21:45] hklai opened #9863 "Galley E2E Tests are flaky"
From: https://testgrid.k8s.io/istio-postsubmits#circleci-e2e-galley

Init problem:
https://circleci.com/gh/istio/istio/243168

Test failures
https://circleci.com/gh/istio/istio/242649

[2018-11-09 21:46] hklai commented on #9863
/cc @linsun @rshriram @louiscryan @smawson

[2018-11-09 21:53] hklai opened #9864 "pilot/pkg/proxy/envoy tests are flaky"
Source:
https://testgrid.k8s.io/istio-postsubmits#unit-tests
https://testgrid.k8s.io/istio-postsubmits#circleci-test

TestEds:
https://gubernator.k8s.io/build/istio-prow/logs/istio-postsubmit/3726
https://circleci.com/gh/istio/istio/242960

TestAdsClusterUpdate
https://gubernator.k8s.io/build/istio-prow/logs/istio-postsubmit/3721
https://circleci.com/gh/istio/istio/242629

[2018-11-09 21:53] hklai commented on #9864
/cc @linsun @rshriram @louiscryan @smawson

[2018-11-09 22:04] hklai opened #9865 "Test flakiness: Running out of Boskos resource"
Example:
https://gubernator.k8s.io/build/istio-prow/logs/istio-pilot-e2e-envoyv2-v1alpha3/10946

Even though the dashboard says it still has free cluster at around that time
![rbdbcvw54hz](https://user-images.githubusercontent.com/31747472/48290607-5030cb80-e428-11e8-8ae3-46b9e3e0cd7b.png)

[2018-11-09 22:10] hklai opened #9866 "e2e-simple TestSImpleIngress is flaky"
Examples:
https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio_istio/11472/e2e-simpleTests/16933
https://gubernator.k8s.io/build/istio-prow/logs/e2e-simpleTests/12365

[2018-11-09 22:16] hklai opened #9867 "Pilot E2E tests are flaky"
* TestVirtualServiceMergingAtGateway
Examples:
https://gubernator.k8s.io/build/istio-prow/logs/istio-pilot-e2e-envoyv2-v1alpha3-k8s-latest/596
https://gubernator.k8s.io/build/istio-prow/logs/istio-pilot-e2e-envoyv2-v1alpha3-k8s-latest/589

* TestIngressGateway503DuringRuleChange
Example:
https://gubernator.k8s.io/build/istio-prow/logs/istio-pilot-e2e-envoyv2-v1alpha3-k8s-latest/596

* TestGateway

[2018-11-09 22:18] sebastienvas commented on #9865
When looking at the resource at 2018-11-09 08:21 PST, there is actually no more free resources.

[2018-11-09 22:43] frankbu commented on #9743
More info: if I delete and then recreate the `ServiceEntry` it works fine. If I just `kubectl apply` to update an existing `ServiceEntry` it doesn't regen properly and I see some EDS errors in the log:
[code]

[2018-11-09 22:50] ayj commented on #9863
The init problem doesn't seem to be specific to galley.

[code]

The other test failure (see below) _might_ be caused by a race between setting up the validatingwebhookconfiguration and the test itself. I'm running an experiment now with #9871 to confirm.

[code]

[2018-11-09 23:07] frankbu commented on #9743
So there seem to be 2 problems here.

1. `address: istio-egressgateway.istio-system.svc.cluster.local` is failing validation, because it isn't an IP address.
2. The validator is only running when an existing `ServiceEntry` is updated, and not when one is initially created.

I think the validator is wrong. The doc says and endpoint address can be a fully-qualified domain name, but the code is requi

[2018-11-09 23:12] incfly commented on #9837
Thanks for reporting this, I'm taking a look today.

[2018-11-09 23:35] hklai opened #9872 "Mixer E2E MCP tests are failing"
Apparently they had not passed for a long time.

https://testgrid.k8s.io/istio-postsubmits#circleci-e2e-mixer-noauth-v1alpha3-v2-mcp
https://testgrid.k8s.io/istio-presubmits#e2e-mixer-no_auth-mcp

Please fix or remove to reduce noise.

[2018-11-09 23:37] ozevren commented on #9872
There is a pending fix: https://github.com/istio/istio/pull/9862

[2018-11-10 00:00] mandarjog commented on #9560
@kyessenov any progress on this ?

[2018-11-10 00:56] #6786 closed

[2018-11-10 01:15] mandarjog opened #9874 "Istio 1.1 upgrade for rbacconfigs fails with cannot unmarshal"
istio 1.1-pre build.    release: release-1.1-20181109-09-15

I get the following error in Pilot
[code]

[code]

[2018-11-10 01:19] diemtvu commented on #9874
@yangminzhu Can you take a look? Does this related to the replacement of this CRD with ClusterRbacConfig?

[2018-11-10 01:40] mandarjog commented on #8818
Done.

[2018-11-10 01:40] #8818 closed

[2018-11-10 01:41] mandarjog commented on #9367
This is related to #7912

[2018-11-10 03:31] shakti-das commented on #5043
@itaysk Adding version is more detailed for sure. But following YAGNI, do we want it? Envoy has a version stat/metric for internal usage. I think of Envoy as an internal implementation detail of Istio proxy which could be (just thinking aloud) swapped in future (probably not)? So, am open to either here - fixed string / fixed+version.

About the gateway only, initially thought the same but reading

[2018-11-10 07:32] offzale opened #9876 "Images on gcr.io/istio-release tag:master-latest-daily not getting pushed"
I'm trying to get latest image of galley from master-latest-daily tag but it seems not to be updated. I'm running Istio from master branch and the only error I am getting is from galley.
[code]

But I saw the [commit](https://github.com/istio/istio/commit/bfa4aaa0d50bb81e16997b72dc9179bf93a93df6
) with the changes got merged into master more than a day ago.

Then I checked the [registry](https://c

[2018-11-10 10:29] ethonchen opened #9878 "corsPolicy not working"
**Describe the bug**
i send a cors request , but it's not working.

**Expected behavior**
cors request work fine.

**Steps to reproduce the bug**
1. add corsPolicy in VirtualService like https://istio.io/docs/reference/config/istio.networking.v1alpha3/
as fllowes
[code]
2、 from localhost call service

2.1 、 I found the options work ok .
2.2、 but the real POST return 403.

**Version**
kubectl versi

[2018-11-10 10:40] #9878 closed

[2018-11-10 13:12] mooperd opened #9880 "Documentation for updateVersion.sh is broken."
In https://github.com/istio/istio/blob/master/install/README.md#examples:

[code]

[2018-11-10 13:38] jnativio opened #9881 "HPA disabled for Telemetry and Policy due naming mismatches"
**Describe the bug**
HPA is disabled  by default for Telemetry and Policy on build release-1.1-20181109-09-15. The reason this appears to be changes in naming introduced by PR #9768, that caused some names mismatches in the helm values:
on install/kubernetes/helm/istio/values.yaml:
_mixer:
 **policy:**
   enabled: true
 **telemetry:**
   enabled: true_

but on install/kubernetes/helm/subcharts/mix

[2018-11-10 13:38] jnativio commented on #9881
/assign @linsun

[2018-11-10 14:31] knrc commented on #5043
@shakti-das The reason why I made it configurable is to allow different distributions of istio, such as ours, to have a distinctive value returned by the server.  This would not only allow it to be identified as istio but also as the specific distribution.

Don't worry though, if you're not convinced about the utility then I can easily submit a PR against your change once merged.

[2018-11-10 16:13] ldemailly commented on #5043
I would set the server for all istio envoys not just GW (can be useful information to debug, specially with the versions)

[2018-11-11 00:56] #2025 closed

[2018-11-11 09:22] mandarjog opened #9882 "Pilot 1.1 deadlock - release-1.1-20181109-09-15"
Pilot 1.1 in long running tests quiets down. Pilot maintains open connections to all sidecars but stops pushing any more updates.

**Version**
`gcr.io/istio-release/pilot:release-1.1-20181109-09-15`

Pilot is in a 3-way deadlock

[code]
[code]
[code]

[2018-11-11 09:45] mandarjog commented on #9882
@costinm @rshriram

[2018-11-11 14:11] sdake commented on #9845
I had a chance to take a look at this problem.  I had stale `helm dep update` tgz files from master in my repo.  Master may not lint (haven't checked) - however, release-1.0.4 is linting properly.

[2018-11-11 14:34] sdake commented on #9604
@munnerz your further along than we are in understanding this problem.  For your third bullet is there any workaround?

My current recommended approach for proceeding is to immediately remove the `crd-install` annotation since it completely blocks upgrades.

This will leave some fallout for operators that have installed with the `crd-install` annotation in the pastl.  I'm really not sure what to t

[2018-11-11 14:40] Stono commented on #9604
I can't see any upgrade path either at the moment either, it's a bit of a mess.  Even if you separate it out into two charts (eg install CRD definitions first) then unless the previously manually added definitions (eg kubectl apply -f, or helms crd-install hook) are manually remove first, it'll fail.

However, manually removing those CRD's for people will also remove all of their implements (Virtu

[2018-11-11 15:05] sdake opened #9884 "Helm upgrades are broken related to CRDs"
**Describe the bug**
The information for the bug starts hjere:
https://github.com/istio/istio/issues/9604#issuecomment-437291974

**Expected behavior**
helm upgrade adds crds as required

**Steps to reproduce the bug**
See reproducer in https://github.com/istio/istio/issues/9604

**Version**
1.0, master

**Installation**
any installation involving `helm upgrade`.  `helm template` / `kubectl apply`

[2018-11-11 15:06] sdake commented on #9884
#9847

[2018-11-11 15:10] sdake commented on #9604
@mandarjog - I offered to resolve this PR thinking it was solvable by breaking out the charts.  I suspect you are adding a fail-open retry to the mixer crd detection loop.  I'll leave you to it as I've got all day commitments today->Wednesday.

Cheers
-steve

[2018-11-11 16:04] vadimeisenbergibm commented on #8029
@lubinson Getting back to the issue, did you manage to fix it? Is it still relevant?

[2018-11-11 16:06] vadimeisenbergibm commented on #7658
@exiaohao Is this issue still relevant? What else is required to be done?

[2018-11-11 16:09] mandarjog commented on #9604
I am going to fix the issue by
1. Mixer will wait more efficiently on the crds
2. It will not wait for ever

[2018-11-11 16:16] vadimeisenbergibm commented on #5725
Modifying the Redis deployment and service:

[code]

Cleanup:
[code]

[2018-11-11 19:43] vadimeisenbergibm commented on #5725
@jtuthehien @Grant1219 Redis tracing is not supported yet in Envoy, see https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/redis.html: tracing for Redis is under Planned future enhancements.

[2018-11-11 19:45] vadimeisenbergibm commented on #5725
@farcaller @chenzhenyang please see
https://github.com/istio/istio/issues/5725#issuecomment-437698458

[2018-11-11 19:54] raffaelespazzoli opened #9887 "question: control plane security for istio multicluster: is it possible to add more CN names to the pilot certificate?"
My understanding is that when securing the control plane for istio multicluster the envoy proxy will validate the pilot certificate against the name `istio-pilot.istio-system.svc`.
This name is normally expanded to `istio-pilot.istio-system.svc.cluster.local`, which is a remote cluster will never be resolved.
Assuming it is possible to add have a name that will be correctly resolved to the pilot s

[2018-11-11 19:57] raffaelespazzoli opened #9888 "istio remote template: add ability to deploy the ingressgateway"
**Describe the feature request**
the istio remote chart should have the ability to deploy the ingressgateway.
If you have multiple clusters, potentially in different geographies, it should be possible to have a way to enter the mesh in each of the cluster, so it makes sense to deploy at least one ingress gateway.

**Describe alternatives you've considered**
my current alternative is to deploy the

[2018-11-11 21:37] ibrokethecloud commented on #9778
`ab` only supports http 1.0 and envoy requests an upgrade to http 1.1 and `ab` is unable to handle the same.

Please try and add `-v 3` to the test and you will see this effect in action.

[2018-11-11 23:47] quanjielin commented on #6411
This is done

[2018-11-11 23:47] #6411 closed

[2018-11-12 01:47] hzxuzhonghu commented on #9743
@frankbu Can you remove the validation and do the test? I guess it's the same.

[2018-11-12 01:58] hzxuzhonghu commented on #9743
This is not consistant  with my test https://github.com/istio/istio/issues/9743#issuecomment-436530644

[2018-11-12 02:58] linsun commented on #9881
Thank you @jnativio !!  https://github.com/istio/istio/pull/9890

[2018-11-12 03:50] hzxuzhonghu commented on #9864
About `TestAdsClusterUpdate` I found that the flake caused by the initial push all has not finished when the request for `cluster` comes.

[2018-11-12 04:01] rshriram commented on #9799
This has been fixed..

[2018-11-12 04:01] rshriram commented on #9799
cc @ymesika

[2018-11-12 04:01] #9799 closed

[2018-11-12 04:09] hzxuzhonghu commented on #9864
`TestEds/PushIncremental` flake is caused by this.

https://github.com/istio/istio/blob/a6bfa7ba6723d6b562616607afce8e4c85797662/pilot/pkg/proxy/envoy/v2/xds_test.go#L287

Confirmed by remove the sleep.

[2018-11-12 04:20] truyet opened #9892 "Istio Ingress Gateway mesh cache error"
**Describe the bug**
I have a service pod
Pods:
platform-services-85c768bbb-2xk9r           3/3     Running   0          30m   **100.96.0.15**   ip-172-20-20-188.ap-southeast-1.compute.internal

Services:
platform-services          ClusterIP   100.71.33.246    <none>        7080/TCP,10000/TCP   4d    app=platform-services

But ingress have a zoombie request:

[2018-11-12T04:00:00.721Z] "GET /platf

[2018-11-12 05:15] clyang82 commented on #9402
@KevinKlinger Thanks for your explanations.

[2018-11-12 05:49] clyang82 commented on #9593
@jmazzitelli & @rafik8 Thanks for your information. I have no problem for 1.0.3 installation. I have followed your instruction to update the `istioctl` to `release-1.1` in my path and then install istio. The result is the same. Still got the error `failed to convert to proto. unknown field "policyCheckFailOpen" in v1alpha1.MeshConfig`

[2018-11-12 09:03] dotw opened #9894 "unable to unmarshal: unknown field "validDuration" in config.Params_Override"
I can't define a specific validDuration for overrides in 1.0.3? any changes?
[code]

[2018-11-12 09:55] Stono commented on #7669
not stale....

[2018-11-12 09:55] #7730 closed

[2018-11-12 10:34] alexcouper commented on #8899
FWIW I have this exact issue running on EKS

[2018-11-12 12:49] Nisreen123 commented on #8619
any update on this?

[2018-11-12 14:19] irisdingbj opened #9897 "Egress rule with two ssl connection does not work"
**Describe the bug**
I have one guestbook application deployed which will connect to IBM waston tone service. Since we need to use our API key to get the access token first, and then use the token to request a tone for a given word, So we need two ssl connection here:

 - iam.bluemix.net  : to get access token for a given api key
  - gateway-syd.watsonplatform.net : to get tone back using the acce

[2018-11-12 14:41] vadimeisenbergibm commented on #9897
@irisdingbj Can you try to define two separate service entries?

[2018-11-12 14:49] vadimeisenbergibm commented on #7073
It seems that the sentence "Note that by default all the service accounts in the istio-system namespace can access this secret, so the private key can be leaked. You can change the Role-Based Access Control (RBAC) rules to protect it." is incorrect, maybe I am missing something.

`kubectl auth can-i` returns `no` for the service accounts in the `istio-system` namespace.

[code]

Only when you expl

[2018-11-12 15:44] frankbu commented on #9743
@hzxuzhonghu To reproduce my error, you need to **update** an existing `ServiceEntry`, not create a new one. The EDS error only happens on update, not on create.

[2018-11-12 15:44] vadimeisenbergibm commented on #9536
The alternative is to define Kubernetes External Name Services https://kubernetes.io/docs/concepts/services-networking/service/#externalname and change the app to use them. Another alternative is to configure Istio to allow direct access to external services, see https://istio.io/docs/tasks/traffic-management/egress/#calling-external-services-directly.

Regarding:

It is not possible, since in TCP

[2018-11-12 15:50] vadimeisenbergibm commented on #9546
@castlemilk  As a workaround, you can use the same gateway for all the three hosts, just specify protocol TLS for the port (HTTPS is treated the same as TLS).

[2018-11-12 16:00] dshmatov opened #9898 "Healthchecks do not work with weighted subsets"
**Describe the bug**
Healthcheks do not work with weighted subsets, Istio routes traffic to unhealthy pods inside subsets
**Expected behavior**
Route traffic only to healthy pods.

**Steps to reproduce the bug**
Deploy two apps in two different subsets. Setup routing weights, like `50/50` Define `readinessProbe`  with `initialDelaySeconds: 60` in one application. Isto will route traffic to this un

[2018-11-12 16:12] supereagle opened #9899 "Increase the stability of test e2e-mixer-no_auth"
Test `e2e-mixer-no_auth` always fails, but is not caused by the code changes of PRs.
As it is a required CI, so PRs are frequently blocked by this test. I think we need to increase the stability of this test.

xref: [Build history of e2e-mixer-no_auth](https://k8s-gubernator.appspot.com/builds/istio-prow/pr-logs/directory/e2e-mixer-no_auth)

[2018-11-12 16:12] supereagle commented on #9899
/cc @geeknoid

[2018-11-12 16:18] vadimeisenbergibm commented on #9457
@yskopets The correct version is here: https://preliminary.istio.io/docs/examples/advanced-gateways/egress-tls-origination/.

I have submitted a PR to merge it into istio.io. The missing part is to define a VirtualService with TLS SNI matching, in addition to the ServiceEntry.

[2018-11-12 16:34] vadimeisenbergibm commented on #9502
@crowfrog Does it work with a single host, without the wildcard `*` ?

[2018-11-12 16:43] vadimeisenbergibm commented on #9488
@victorboissiere (cc @kyessenov) Please note that when HTTPS is originated by the application, as in the case you describe, the traffic is encrypted and the Istio proxy cannot see the HTTP information, so it cannot report HTTP metrics. So until the Istio proxy is able to decrypt the HTTPS traffic (which would never happen, probably :)), it will not be possible to report HTTP metrics for HTTPS traf

[2018-11-12 16:46] vadimeisenbergibm commented on #9460
@yskopets It is the same issue/solution as in https://github.com/istio/istio/issues/9457.

[2018-11-12 16:50] costinm commented on #9604
I think I have a way to fix this - I was planning to push for it in 1.2, but maybe we can do parts of it sooner.

Last env meetings we had pretty good agreement to introduce an 'operator' and reorganize the install/upgrade and configs around features ( telemetry, control plane, etc ) instead of components ( mixer, pilot ).  We also have strong security reasons to better isolate the istio component

[2018-11-12 16:52] vadimeisenbergibm commented on #9224
@zoupl Is your mysql database outside the cluster? I wonder since you use a private IP and a Kubernetes URL.

Regarding your questions - I wrote an example for MongoDB, see this PR https://github.com/istio/istio.io/pull/2347

[2018-11-12 16:54] dbenque-1a commented on #7184
@Manish10689, yes it is possible, I am actually doing it based on the setup inspired from this blog:
https://blog.openshift.com/increasing-security-of-istio-deployments-by-removing-the-need-for-privileged-containers/
The IP table modification is done by a dedicated DaemonSet that has the required privilege. With this your entire pod can run as nonroot.
I am now checking if I can even run using "re

[2018-11-12 16:58] vadimeisenbergibm commented on #8833
@wansuiye Do you databases use TLS? You can check it by running `openssl s_client -connect mysql-1.xxx.io:3306 -servername mysql-1.xxx.io` and see if the certificate of the server is returned.

If so, you can configure the traffic as TLS, using SNI, see the example for www.google.com, replace HTTPS with TLS: https://preliminary.istio.io/docs/tasks/traffic-management/egress/#configuring-an-external

[2018-11-12 17:01] vadimeisenbergibm commented on #8572
@x15zhang @rvandegrift How about using wildcards for service entries? Would it help?

[2018-11-12 17:05] offzale opened #9902 "CoreDNS with multicluster using gateway approach not resolving"
I am using the multicluster approach from this [commit](https://github.com/istio/istio/commit/ce90c45dfe8aaf46315aca1b31ddbc2d12a4d090), already merged on master branch. (docs [here](https://github.com/istio/istio.io/blob/c177b2499027e1421890fa44417ac1eaf0974c56/content/docs/setup/kubernetes/multicluster-install/gateways/index.md)) I already have a CoreDNS as the dns for the cluster. So I tried to

[2018-11-12 17:06] vadimeisenbergibm commented on #8410
@Stono Does your mongodb use TLS? It most probably does, you can check it by running `openssl s_client -connect ourdb-shard-00-00-3duup.gcp.mongodb.net:27017 -servername ourdb-shard-00-00-3duup.gcp.mongodb.net` and see if a certificate of the server is returned.

If yes, you can control the traffic as TLS, see the example for www.google.com: https://preliminary.istio.io/docs/tasks/traffic-manageme

[2018-11-12 17:10] venilnoronha commented on #9827
Stats around upstream/downstream connections, memory allocation, etc. can be quite useful. These stats are served at the proxy level and not per request, so we might need some work around obtaining such stats from Envoy.

[2018-11-12 17:14] vadimeisenbergibm commented on #7603
@facundomedica Do you still experience the issue? If not, can you close it?

@dheerajng Please note that you have to add a VirtualService in addition to a TLS Service Entry. See the comment
https://github.com/istio/istio/issues/7603#issuecomment-410238090 of @facundomedica. The documentation on istio.io was updated.

[2018-11-12 17:17] ozevren commented on #4887
@jeffmendoza
Does it make sense to look at this, as part of your protoc-gen-validate work? It would be great if we can knock this off as part of that.

[2018-11-12 17:21] #7603 closed

[2018-11-12 17:23] vadimeisenbergibm commented on #6593
@ThusharaAma your configuration for www.googleapis.com and accounts.google.com looks correct, except for the IP 169.254.169.254 - can you check it works when you remove it? Just use the host www.googleapis.com.

The TCP entry for mysql is incorrect. You should either specify a CIDR block for TCP, see https://preliminary.istio.io/blog/2018/egress-tcp/#mesh-external-service-entry-for-an-external-mys

[2018-11-12 17:35] sneko commented on #9536
@vadimeisenbergibm thank you for both solutions and the explanation, I will give it a try to the first one since their IPs range equals the one of AWS 😄

[2018-11-12 17:35] #9536 closed

[2018-11-12 17:41] vadimeisenbergibm commented on #9536
@sneko You are welcome :)

[2018-11-12 17:46] geeknoid commented on #9457
Updated docs have been pushed.

[2018-11-12 17:46] #9457 closed

[2018-11-12 17:49] Stono commented on #8410
Thank you for the response, we had numerous issues with connecting to
off-mesh services that we eventually decided to use the "includeIpRanges"
annotation to ensure that we only intercept mesh bound traffic.

There's just not enough visibility to debug these sorts of things in istio
yet!

On Mon, 12 Nov 2018, 5:07 pm Vadim Eisenberg <notifications@github.com
wrote:

[2018-11-12 18:07] ayj commented on #9872
Fixed in master by https://github.com/istio/istio/pull/9873. General e2e-mixer auth flakiness tracked by https://github.com/istio/istio/issues/9858

[2018-11-12 18:07] #9872 closed

[2018-11-12 18:31] Stono commented on #9618
@roblg I believe i've seen that too, just never narrowed it down to mixer (see https://github.com/istio/istio/issues/8243)

[2018-11-12 18:55] vitalijsvolodenkovsmagebit opened #9906 "503 upstream connect error or disconnect/reset before headers"
Istio version: 1.0.3
Kubernetes version: 1.11.2

Setup:
Kuberentes Ingress -> ServiceA->nginx_proxy_to_ServiceB
        server {
            listen       80;
            location / {
                root   /usr/share/nginx/html;
                index  index.html index.htm;
            }
            error_page   500 502 503 504  /50x.html;
            location = /50x.html {
                root   /

[2018-11-12 19:08] rvandegrift commented on #8572
@vadimeisenbergibm wildcards help some but it's a small part of the solution.  There are at least two more challenges:

- SNI: TLS services that require SNI still need one-by-one `VirtualService` configuration.  Most cloud services fall into this category.  Our devs use dozens of cloud APIs across various providers, so even with wildcard `ServiceEntry`, the config is quickly unmanagable.

- Mesh g

[2018-11-12 19:16] louiscryan commented on #9897
@vadimeisenbergibm can you update the target milestone for this issue

[2018-11-12 19:58] #7100 closed

[2018-11-12 20:00] tiswanso opened #9908 "kubectl container (istio-security-post-install) always built with kubectl of local architecture (!= GOOS)"
**Describe the bug**
The kubectl of the build machine will get used for the Istio kubectl container (installed as `istio-security-post-install` pod) regardless of the build's GOOS setting.

**Expected behavior**
The Istio kubectl container built with a kubectl executable usable in the arch set in the build's GOOS setting.

**Steps to reproduce the bug**
1. On non-linux arch build system (ie. OSX),

[2018-11-12 20:17] vadimeisenbergibm commented on #9897
@louiscryan done.

[2018-11-12 20:21] vadimeisenbergibm commented on #8572
@rvandegrift Regarding your points:

1. You can use wildcards in VirtualServices as well.

2. There is a proposal for Network Scoping and Policy Attachment
https://docs.google.com/document/d/1x8LI3T7SHW-yDrrt3ryEr6iSs9ewMCt4kXtJpIaSSlI/edit?ts=5be9cb1b. It is about scoping ServiceEntries and VirtualServices, e.g. limiting their scope to namespaces.

[2018-11-12 20:35] douglas-reid commented on #9899
It looks like some of the failures are related to `TestKubeenvMetrics`, which assumed a single `istio-ingressgateway` pod. I have a PR in-dev that fixes this issue.

[2018-11-12 21:13] kyessenov commented on #9402
Is there still an issue observed if we eliminate API server latency and caching duration?

[2018-11-12 23:13] cmcconnell1 commented on #7611
Hello,
FWIW, I just saw this on a new AWS EKS cluster using Istio 1.0.3 (latest as of today).
And just as @joewilliams noted above the problematic issue(s) resolved themselves after a few minutes and logs cleared.

[code]

grabbing the logs for the crashing /istio-security-post-install pod
[code]

After a few minutes the crashing stops and status now 'Completed'
[code]

[code]

[2018-11-13 00:18] mandarjog opened #9916 "Pilot 1.1: concurrent map read and map write - release-1.1-20181109-09-15"
Pilot encounters the following error under load.

`Service.GetServiceAddressForProxy()` reads from `Service.ClusterVIPs` map
and `aggregate/controller.Services()` updates it with new `ClusterID` address.
[code]

[2018-11-13 00:32] kyessenov commented on #9560
No luck. @johnholiver we need more details to diagnose this further.
I tried to simulate your conditions with generating a constant load to mixer, and then trigger three handlers to the same adapter. I cannot get the config unmarshal to produce an error. I have tried to restarting the adapter and mixer to trigger some edge cases, but the proto-encoded bytes seem to be consistently OK.

I suspect t

[2018-11-13 01:24] clyang82 commented on #9402
There is no an issue from my view. I think we can close this issue if the Author (@KevinKlinger ) has no concerns.

[2018-11-13 01:44] vnugent opened #9918 "Helm install Option 2 failed at Prometheus configmap"
**Describe the bug**
I followed preliminary docs [Helm install option 2](https://preliminary.istio.io/docs/setup/kubernetes/helm-install/#option-2-install-with-helm-and-tiller-via-helm-install)

For step 3 I ran the following:
[code]
Error:

**Expected behavior**
`helm install` should run to completion.

**Steps to reproduce the bug**
`git checkout release-1.1`
 Follow 1.1 docs Helm install Option

[2018-11-13 02:24] vnugent commented on #9593
Install Istio using Helm docs have no mentions of `istioctl`.  I'm wondering why it's even required?

[2018-11-13 05:12] xiaozhongliu opened #9919 "istio grpc gateway is not working"
**Describe the bug**
istio grpc gateway is not working

**Expected behavior**
istio gateway can handle grpc service, **or is there any working sample?**

**Steps to reproduce the bug**
1. use the following single file along with the proto file to build a node server image
    https://github.com/grpc/grpc/blob/master/examples/node/dynamic_codegen/greeter_server.js
2. deploy it in k8s with a Cluster

[2018-11-13 05:44] offzale commented on #9902
Thank you for the quick answate @rshriram :) This is the service entry I am using.
[code]

[2018-11-13 06:33] Manish10689 commented on #7184
Thanks @dbenque-1a for the reply. I checked it with "Istio Pod Network Controller" but encountered below error (after executing the command helm template -n istio-pod-network-controller ./chart/istio-pod-network-controller | kubectl apply -f - ):

time="2018-11-13T06:17:18Z" level=info msg="Managing Pods Running on Node: sgscapl003"
E1113 06:17:18.695759   20331 runtime.go:66] Observed a panic: "a

[2018-11-13 06:58] mandarjog commented on #9916
@rshriram @costinm

[2018-11-13 06:59] mandarjog commented on #9874
This fixed my issue. Thanks.

[2018-11-13 06:59] #9874 closed

[2018-11-13 07:12] mandarjog opened #9921 "readiness check fails when rbac is enabled"
readiness check fails when rbac is enabled with a 403.

Kublet does not present a cert so I am not sure which identity the rbac will apply to.
Side injector should automagically insert rules to allow access to the readiness / liveness checks.

If proxy agent takes over readiness / liveness checks then should not be an issue.

If this is the case, please provide clarity in config examples and docs.

[2018-11-13 07:13] clyang82 commented on #9593
@ayj Did this issue get fixed? I just tried with the latest code in `release-1.1`. it still failed.

[2018-11-13 08:45] dbenque-1a commented on #7184
@Manish10689 , I am not facing that error, my pod controlled by the DaemonSet works correctly:
[code]
I am running an Openshift v3.9. What is your environment?

[2018-11-13 08:46] chunheisiu opened #9923 "Unable to initialise Galera MariaDB pods with sidecar injection"
**Describe the bug**
When sidecars are injected into two Galera MariaDB pods, deployed as StatefulSets, both pods would fail to initialise and result in a CrashLoop. It seems that sidecar injection is interfering with the `gcomm://` protocol that the Galera cluster uses for synchronisation between two database instances. The current workaround is to disable sidecar injection on both pods, but doin

[2018-11-13 09:10] Manish10689 commented on #7184
@dbenque-1a,  i have used kubeadm for kubernetes deployment, below is the version details

 Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.1", GitCommit:"4ed3216f3ec431b140b1d899130a69fc671678f4", GitTreeState:"clean", BuildDate:"2018-10-05T16:46:06Z", GoVersion:"go1.10.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"12", GitVersion:

[2018-11-13 09:35] majorinche commented on #4938
hello,
if is fixed, what is the right method
i tried with kubectl config set-cluster ${KUBE_CONTEXT} --insecure-skip-tls-verify=true
but still not fix

error shows below, which i follow the steps in https://istio.io/docs/tasks/traffic-management/ingress/
[root@k8s01 httpbin-gateway]# kubectl apply -f httpbin-gateway.yaml -n t-istio-ingress
Error from server (InternalError): error when creating "ht

[2018-11-13 10:22] IamNishN commented on #6085
Hi, I am also facing this issue on 1.0.2 but this issue is reproduced only when external load balancer is enabled. If load balancer is not enabled this issue is not observed. I have tried restarting istio-pilot as well but it didn't help. Issue is still observed. Need Help.

[2018-11-13 12:42] johnholiver commented on #9560
@kyessenov I started to copy paste all the code you put here to setup the same simulation locally, but in case you read before I finish, do you have a zipped file with all this that I can reuse?
Also, which Istio version/commit-sha did you test against?

My plan is to try your simulation, retry my own setup and if mine is broken and yours working I'll start to copy your simulation into my environm

[2018-11-13 12:54] KevinKlinger commented on #9402
I'm fine with your explanation.
Thank you for stating out the issue.

[2018-11-13 12:54] #9402 closed

[2018-11-13 13:16] PrajwalGurumurthy opened #9925 "404 while accessing External services in istio"
**404 while accessing External services in istio. I am trying to do tls origination at the envoy proxy through virtual services for external  services. I am using the following yamls.**

[code]

**Observed behavior**

I am trying to access https://test.com from an application within the istio mesh.

After creating the above resources. I am accessing test.com from the application container as http:

[2018-11-13 14:32] vadimeisenbergibm commented on #5408
1337 is hardcoded in Istio, in particular in the Docker file https://github.com/istio/istio/blob/e42981c270214b8cddea52c2dce7569567121a99/pilot/docker/Dockerfile.proxyv2#L27, so it cannot be parametrized (the proxy image is built with the UID 1337).

[2018-11-13 14:44] vadimeisenbergibm commented on #5442
@costinm Is the problem solved with Istio 1.0+? What could be done currently?

[2018-11-13 15:13] vadimeisenbergibm commented on #9897
Testing for www.google.com and edition.cnn.com:

[code]

Access the external services:
1.  `kubectl exec -it $(kubectl get pod -l app=sleep -o jsonpath='{.items[0].metadata.name}') -c sleep -- curl -sL -o /dev/null -D - https://edition.cnn.com`
2. `kubectl exec -it $(kubectl get pod -l app=sleep -o jsonpath='{.items[0].metadata.name}') -c sleep -- curl -sL -o /dev/null -D - https://www.google.com`

[2018-11-13 15:16] vadimeisenbergibm commented on #9897
Testing for www.google.com and edition.cnn.com, single ServiceEntry, works.

[code]

Access the external services:
1.  `kubectl exec -it $(kubectl get pod -l app=sleep -o jsonpath='{.items[0].metadata.name}') -c sleep -- curl -sL -o /dev/null -D - https://edition.cnn.com`
2. `kubectl exec -it $(kubectl get pod -l app=sleep -o jsonpath='{.items[0].metadata.name}') -c sleep -- curl -sL -o /dev/null

[2018-11-13 15:29] linsun commented on #9897
I believe Belinda Vennam also got this working by creating the extra service entry required by IAM.  @irisdingbj can you pls confirm this works for you now?

[2018-11-13 15:31] linsun commented on #9897
@irisdingbj @beemarie perhaps you can simplify it based on what @vadimeisenbergibm put in?

[2018-11-13 15:52] mukundha opened #9926 "grpc service not working with sidecar"
**Describe the bug**
I have a grpc [helloworld](https://github.com/grpc/grpc-go/tree/master/examples/helloworld/greeter_server) service, when i deploy this in k8s, it works fine [able to access from a [client](https://github.com/grpc/grpc-go/tree/master/examples/helloworld/greeter_client)], but when i enable istio sidecar injection, client starts receiving errors - `upstream connect error or disco

[2018-11-13 15:55] mleneveut opened #9927 "SSL connect error when injecting sidecar in my pods"
**Describe the bug**
After the injection of the sidecar in my pod, my container crashes with an SSL connect error.

**Expected behavior**
Pods continue to work as before.

**Steps to reproduce the bug**
I have a kubernetes 1.11.3 on Azure (AKS), and my pods are using Azure Service Bus and a MongoDB deployed in the same kubernetes.

I deployed a fresh new AKS cluster, added Istio 1.0.2 with helm ch

[2018-11-13 15:57] mukundha commented on #9926
This is the case only for few services

FWIW - it works for a different service
[code]

I am able to consistently reproduce this behavior for the hello service described above in the bug

[2018-11-13 15:58] johnzheng1975 commented on #9758
@Stono , I do not think it is liveness problems.
In most of time, liveness works well.
However, if warning raise in istio-pilot/ istio-pilot load is high, liveness may not work  easily.

[2018-11-13 15:59] johnzheng1975 commented on #9758
Since I am OOO, I will paste my liveness when I am back...

[2018-11-13 16:15] vadimeisenbergibm commented on #9897
Testing for www.google.com and edition.cnn.com, single ServiceEntry and single VirtualService, does not work.

[code]

Access the external services:
1.  `kubectl exec -it $(kubectl get pod -l app=sleep -o jsonpath='{.items[0].metadata.name}') -c sleep -- curl -sL -o /dev/null -D - https://edition.cnn.com`
2. `kubectl exec -it $(kubectl get pod -l app=sleep -o jsonpath='{.items[0].metadata.name}')

[2018-11-13 16:17] linsun commented on #9881
#9890 is merged now and should fix this @jnativio - thank you for reporting this!

[2018-11-13 16:17] #9881 closed

[2018-11-13 16:18] johnzheng1975 opened #9928 "Istio policy may exists memory leak (Increase 4GB during 7 days)"
**Describe the bug**
Memory of istio-policy pod increase from 0GB to 4GB, after run cluster for 6 days.

Memory leak may exists on istio-policy

**Expected behavior**
No memory leak

**Steps to reproduce the bug**
Restart istio-policy, and continue to run cluster.
Monitor the memory in next 7 days.

**Version**
kubernest 1.9.5
istio 1.0.0

**Installation**
helm
no auth

**Environment**
latest core

[2018-11-13 16:19] vadimeisenbergibm commented on #9897
@irisdingbj @beemarie (cc @linsun) the problem is with double `tls:` section in the VirtualService, it seems the first `tls` section is ignored. To fix it, just remove the second `tls:` line in your virtual service, so the first `tls` section will have two `match` sections, for the two external services.

[2018-11-13 16:20] johnzheng1975 commented on #9928
![isto-policy](https://user-images.githubusercontent.com/17720035/48427110-06870e80-e7a3-11e8-8a66-e403403a9683.png)

[2018-11-13 16:22] johnzheng1975 commented on #9928
My current work around:
Increase policy replicator (hps min:2 max 5;)
Set the limit memory for istio-policy, let it restart if memory increase too much.