[2021-01-22 06:36] lut777 opened #30299 "Custom Envoy Bootstrap Configuration Failed"
**Bug description**

My original plan was to customize the "shared_span_context" in the bootstrap configuration. I got an error.
To reduce the impact of extraneous variables, I used the [configmap](https://github.com/istio/istio/blob/master/samples/custom-bootstrap/custom-bootstrap.yaml) directly from the example.
For convenience, I added the annotation `sidecar.istio.io/bootstrapOverride: "istio-

[2021-01-22 06:44] #28407 closed

[2021-01-22 07:07] ramaraochavali commented on #27565
@lambdai Confirmed that it is problem with `traffic.sidecar.istio.io/includeOutboundPorts` in `TPROXY` mode. I have added `7443` which was working earlier to this and traffic to that port results in the same behaviour i.e. it gets upstream_cx_connect_fail and upstream_cx_connect_timeout.
What could be the difference for it in TPROXY mode?

[2021-01-22 07:16] shamsher31 commented on #30278
@howardjohn manual cherrypick required.

[2021-01-22 07:48] shamsher31 opened #30300 "istioctl x precheck: display empty revision if Istio is installed without any revision flag"
If the Istio is installed without passing any revision, the `precheck` should display `default` revision instead of empty revision.

[code]

[2021-01-22 08:24] abhassine commented on #30106
hello @heikostumpf ,

I just discovered this issue when my automation tried to deploy a new environment.
Do we still need to add below apiGroup on cluster role manually ?

- apiGroups:
   - coordination.k8s.io
   resources:
   - leases
   verbs:
   - create
   - get
   - list
   - update

thank you for responding.

[2021-01-22 08:47] yanickxia opened #30302 "Miss mysql stats info"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ x ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] Use

[2021-01-22 08:54] domcyrus commented on #30261
I looked into how to fix this bug. That said if you wish to see a PR rather than a lot of text please let me know. There is only the question of what behavior would be expected.

Should the JwksResolver retry a couple of times and if the error persists should pilot exit and fail with an error?
Or should the JwksResolver retry to resolve the URI forever and just continue as it does today? Obviously

[2021-01-22 09:03] yanickxia commented on #30302
above is from source.
-----
if as dest

1. listenser as
[code]

miss too

[2021-01-22 09:14] Omasumasu commented on #29258
Finally after I updated Istio to new version, start working.
Thank you for support.

[2021-01-22 09:14] #29258 closed

[2021-01-22 09:18] #27719 closed

[2021-01-22 09:31] yanickxia commented on #30302
seem use a bad statPrefix for mysql_proxy, can i modify it?

[2021-01-22 09:34] ramaraochavali commented on #30181
No.  Certainly that PR should not affect this. But I will continue to look

[2021-01-22 10:33] hillbun opened #30304 "some firefox browser shows error of SSL_ERROR_RX_RECORD_TOO_LONG when access https site"
some firefox browser shows error  of SSL_ERROR_RX_RECORD_TOO_LONG when access https site, but chrome is correct.

[2021-01-22 10:45] heikostumpf commented on #30106
@abhassine yeah i think so. Until the cherry-pick mentioned by @morvencao is available in an upcoming istio release you have to add/update the clusterrole manually.

[2021-01-22 11:02] MirtoBusico commented on #29366
How can I change the istio operator?
I can do this in a working istio installation os I have to do this before installing instio?

I tried [Plug in CA Certificates](https://istio.io/latest/docs/tasks/security/cert-management/plugin-ca-cert/) then I used this CA to sign the keycloak server (running external to the cluster)

[2021-01-22 11:06] sfudeus opened #30305 "Istio-Agent fails to consume JWT token with trailing newline"
**Bug description**

[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[x] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expected behavior**

Regardless of any whitespace around the jwt token, it should be consumable for the authentication against citadel.

**Steps to reproduce the bug**

A typical

[2021-01-22 11:09] sfudeus commented on #30305
I'll provide a trivial PR for this later.

[2021-01-22 12:16] nchardon-perso commented on #30271
Unfortunately, it does not change anything. The configuration is applied correctly on the istio sidecar, but nothing happens

[2021-01-22 12:20] sfudeus commented on #30305
Hmm, this might be handled already by https://github.com/istio/istio/pull/29688, which is not in 1.8 yet, will check.

[2021-01-22 12:34] sfudeus commented on #30305
Oh my, it took quite some time to find this, and the new implementation seems to fixed this right away, https://github.com/istio/istio/blob/master/security/pkg/nodeagent/caclient/credentials.go#L109 seems to properly trim the token.

[2021-01-22 12:51] sfudeus commented on #30305
So, testing shows that the issue in fact is fixed by #29688 in master. Sorry for the noise.

[2021-01-22 12:51] #30305 closed

[2021-01-22 14:07] abhassine commented on #30106
Thanks @heikostumpf
I tested 1.8.2 same thing

[2021-01-22 16:16] howardjohn opened #30307 "bug-report doesn't follow namespace exclusion/allow enough flexibility"
I ran `ik bug-report --include istio-system`. I wanted just info about istio-system, because I know what I am looking for and just want a user to run this command on a *massive* cluster. However, many artifacts are still getting the full cluster state, such as bug-report/cluster/k8s-resources.

Additionally, the logs show it still capture the full cluster state in the "cluster state graph", so its

[2021-01-22 16:32] howardjohn opened #30309 "Possible DNS redirect loop"
This is theoretical, need to test

/etc/resolv.conf points to some localhost DNS proxy (dnsmasq?), say 127.0.0.11.
The 127.0.0.11 forwards to some upstream DNS server, say cloud-dns

DNS request lifecycle:
application ---> agent (intercepted) ---> 127.0.0.11 (forward upstream) ---> forward upstream to cloud-dns, but since its not UID 1337 its iptables captured, redirected back to agent --> repeat

[2021-01-22 16:56] esnible commented on #29302
Can this be closed now that the PR is merged?

[2021-01-22 16:59] #30221 closed

[2021-01-22 16:59] kebe7jun commented on #29302
I'm working on docs, should I wait until the doc completed?

[2021-01-22 17:15] howardjohn opened #30311 "Auto mTLS and {exclude,include}InboundPorts do not behave well together"
When we are disabling iptables for some ports, auto mtls is not aware. As a result, requests will be automatically upgraded to use mTLS which will not work.

Currently, pilot is not aware of these annotations and they impact only the iptables setup.

[2021-01-22 17:19] tmshort opened #30312 "workloadgroups CRDs missing metadata:labels"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**

The new workloadgroups CRD added in 1.8 does not include any label metadata as the other CRDs contain.

The following labels are present in other

[2021-01-22 17:40] kailun-qin commented on #30277
Any overlap with https://github.com/istio/istio/issues/29511?

[2021-01-22 17:41] howardjohn commented on #30277
Yes, thanks! closing for https://github.com/istio/istio/issues/29511

[2021-01-22 17:41] #30277 closed

[2021-01-22 17:43] howardjohn commented on #30312
cc @jasonwzm

[2021-01-22 17:48] howardjohn commented on #30304
Please fill out the issue template, this does not have enough information for us to debug. Thanks.

[2021-01-22 18:05] howardjohn commented on #30299
That is not valid config, you need to use XDS v3 now. V2 is removed
[code]

for example

[2021-01-22 18:09] howardjohn commented on #30298
I am a bit confused here since from the log "caused by: Post "https://kms.us-east-1.amazonaws.com/": remote error: tls: handshake failure" it looks like its attempting to send HTTPS traffic.

However, from the logs of istio sidecar `"GET /latest/meta-data/iam/security-credentials/"`, its a plain HTTP request (we could not see the path otherwise).

Any idea what may be going on there?

[2021-01-22 18:16] howardjohn commented on #30302
https://preliminary.istio.io/latest/docs/ops/configuration/telemetry/envoy-stats/ may help

[2021-01-22 18:21] stevenctl opened #30315 "test flake: multicluster security tests fail due to pod restarts"
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/30288/integ-security-multicluster-tests_istio/1352676133304274944

cc @jtrbs

[2021-01-22 18:23] stevenctl commented on #30315
Looks like this is actually part of #30292

[code]

[2021-01-22 18:23] #30315 closed

[2021-01-22 18:23] stevenctl commented on #30292
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/30288/integ-security-multicluster-tests_istio/1352676133304274944

[2021-01-22 18:24] #30300 closed

[2021-01-22 18:27] howardjohn commented on #30292
I sent a revert

On Fri, Jan 22, 2021 at 10:23 AM Steven Landow <notifications@github.com>
wrote:

[2021-01-22 18:28] dntosas commented on #30103
FYI, i think `cacerts` is legacy stuff remains only for backwards compatibility reasons. i suggest you should stick find an appropriate configuration with the secret convention ^^

yes, we are on Istio 1.8 ^^ one way to be sure that Istiod loads your secret (given that there is no configmap `cacerts` present, delete it) is by scaling down to replicas==0, then create your secret (mind to have corre

[2021-01-22 18:52] istio-testing opened #30318 "[release-1.9] Revert "Update pkg (#30187)""
Manual cherrypick required.

#30297 failed to apply on top of branch "release-1.9":
[code]

[2021-01-22 19:23] nmnellis commented on #29994
I dont know if you are familiar with knative but it solves the request buffering really well and can be highly available and has an istio implementation. The other part you are trying to solve (service scope) could ultimately be used to define trust relationships between applications using AuthorizationPolicies which i think would be really cool.

[2021-01-22 19:30] howardjohn commented on #24638
Similar (probably same)

[code]

We should:
1. Not fail with a NACK, and instead pick one of them
2. Add an analyzer for this scenario

[2021-01-22 19:30] howardjohn opened #30321 "Duplicate HTTPS virtual services leads to "multiple filter chains with the same matching rules are defined""
[code]

We should:
1. Not fail with a NACK, and instead pick one of them
2. Add an analyzer for this scenario

[2021-01-22 20:02] ericvn commented on #29390
@yangminzhu @liminw Any update on this?

[2021-01-22 21:12] papovyr commented on #30298
I might missed some logs from istio sidecar.
I tested same thing again with fresh setup

Here is istio proxy logs:
[code]

And i see same error from vault container

[code]

[2021-01-22 21:16] istio-testing opened #30329 "[release-1.8] test framework: read kubeconfig path from topology file"
Manual cherrypick required.

#30288 failed to apply on top of branch "release-1.8":
[code]

[2021-01-22 21:16] istio-testing opened #30330 "[release-1.8] test framework: read kubeconfig path from topology file"
Manual cherrypick required.

#30288 failed to apply on top of branch "release-1.8":
[code]

[2021-01-22 21:26] incfly commented on #30311
do you think we can do much here? annotation is per workload level. auto mTLS is configuration on cluster, which is service level. And the port may or may not be part of the service port mappings. which makes it even harder to determine where we can tweak the outbound cluster's config?

[2021-01-22 21:29] howardjohn commented on #30311
Not really, its a tricky problem. These exclude options are not super common though so it may not be a super high priorioty. I agree a comment on the docs for these options could go a long way

[2021-01-22 21:39] Ziyi-OBM opened #30333 "Streamed response causes added latency in envoy sidecar."
We found that in certain applications, using streamed response caused an added latency of ~45 ms, where the latency observed when using buffered response was ~1 ms.

We confirmed by querying Envoy logs that the latency was added by the sidecar. Our hypothesis was that streaming and the size of the responses were causing additional events in the sidecar, adding additional latency when flushing the

[2021-01-23 00:15] howardjohn opened #30340 "Update to kind v0.10.0"

[2021-01-23 00:29] istio-testing opened #30341 "[release-1.9] OIDC JWT authenticator"
Manual cherrypick required.

#30294 failed to apply on top of branch "release-1.9":
[code]

[2021-01-23 00:45] munjalpatel commented on #30140
Hey folks, any thoughts / ideas here?

[2021-01-23 00:47] howardjohn opened #30342 "pilot multicluster test grpc initialization timeout"
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/30339/integ-pilot-multicluster-tests_istio/1352770723717844992

[2021-01-23 00:49] lei-tang commented on #30341
https://github.com/istio/istio/pull/30343 is created for manual cherrypick.

[2021-01-23 01:15] bianpengyuan commented on #29791
This is possible now with default templates in MeshConfig.

[2021-01-23 01:15] #29791 closed

[2021-01-23 01:34] nmittler commented on #29389
@linsun I am able to reproduce with [this script](https://gist.github.com/nmittler/420f0d5cbf043aa603d31f8ef2109e0f) (basically a copy & paste of the snippets from istio.io.

One thing I noticed was that the discovery address in the sidecar is `istiod.istio-system` rather than `istiod-remote.istio-system`. Is it possible that some of the central istiod work has broken this?

[2021-01-23 01:40] nmittler commented on #29389
I also see a lot of recent activity to https://github.com/istio/istio/commits/master/manifests/charts/istiod-remote

@linsun re-assigning to you since I believe this is related to recent work related to istiod-less remotes.

[2021-01-23 03:52] zufardhiyaulhaq commented on #27070
I can work on this one. so this error basically if the port exposed is TLS, we cannot use `ServerTLSSettings` right?

[2021-01-23 05:04] #27822 closed

[2021-01-23 05:04] #27828 closed

[2021-01-23 05:05] #27848 closed

[2021-01-23 06:27] samene opened #30345 "multicluster meshconfig gateways address does not resolve DNS name"
We have a Primary-Primary MultiCluster deployment model.

According to documentation [Here](https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/#Network-IstioNetworkGateway) The Network.IstioNetworkGateway.address is a

[code]

But the address field only works with an IP address and not a DNS name. When we use a DNS name, we see the following in the istiod logs,

[code]

Snippet of t

[2021-01-23 06:50] sunnoy opened #30347 "custom http header Host give “404 NR”"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
make http request ：
[code]
envoy give 404 NR

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Installation
[ x] Networ

[2021-01-23 13:00] raelix commented on #30345
There is a bug in the validateNetwork function (pkg/config/validation/validation.go) it does this check:

if err := ValidateIPAddress(g.Address); err != nil

but as per documentation and other test we did it works with DNS as well. Could be possible a fix here?

[2021-01-23 13:02] raelix commented on #29605
Try to check this https://github.com/istio/istio/issues/30345#issue-792453846. Are you using LoadBalancer type for istio-ingressgateway?

[2021-01-23 15:08] g-lam opened #30349 "PILOT_SKIP_VALIDATE_TRUST_DOMAIN not working on Istio 1.8?"
**Bug description**
We created a mesh with 2 clusters in Multi-Primary setup. Everything is working when the trust domain is the same, or if we add the trust domain to the other cluster's trustDomainAlias. However our desire is to maintain the independent trust domains for authorization purpose. Prior to 1.8, we set PILOT_SKIP_VALIDATE_TRUST_DOMAIN to true. However, setting it in 1.8 doesn't seem

[2021-01-23 16:39] #29744 closed

[2021-01-23 17:12] MirtoBusico commented on #29366
Sorry @yangminzhu I'm trying your suggestion but seems the jwksResolverExtraRootCA I created is ignored.

I istalled Istio 1.8.1 using
[code]
Then I tried to create an update yaml to install jwksResolverExtraRootCA. The file contains:
[code]
If I look for IstioOperator I see
[code]
Clearly I'm doing something wrong or I miss something.

What can I do?

[2021-01-24 03:19] #30302 closed

[2021-01-24 06:48] tariq1890 commented on #19925
@lambdai Is this still the case with the more recent versions of Istio?  We are on Istio 1.7.4 and we see issues where the istio-proxy memory consumption is ever-increasing and never dipping.

Is this the recommended solution setting `TCMALLOC_RELEASE_RATE` envar variable? That's what my understanding is from this Issue : https://github.com/envoyproxy/envoy/issues/7151

[2021-01-24 09:39] hazelnutsgz opened #30350 "Cannot create pod when playing with bookinfo example."
When deploying the bookinfo demo on my self-managed k8s cluster(2 nodes), the pod cannot be created, suggested "No resources found in default namespace." after run "kubectl get pods".

```kubectl get events``` show that:
[code]

OS: Debian Buster
Linux kernel: 5.4.56
istio: 1.8.2
CNI : cilium 1.9

Thanks.

[2021-01-24 13:11] omerfsen commented on #20027
It this only useful for 1.5 to 1.6 version or required(helps to upgrade wo downtime) for upper versions as well

[2021-01-24 13:56] larsrnielsen commented on #30158
OK - I created a demo cluster with eksctl with EKS 1.18 as my k8s platform service. I installed AWS LB Controller, Cert-Manager, Istio Operator, Istio 1.8.2 via Helm. Istio Operator was configured with:
- 1x Istio ingress gateway, NLB configured with an ACM certificate.

I created two Nginx deployments, one listening to port 80 and another with a self-signed certificate listening on 443. I am now

[2021-01-25 02:49] lut777 commented on #30299
@howardjohn I'm afraid the problem is more than that..
This is my new configmap, but the problem is still there.
[code]

[2021-01-25 02:52] howardjohn commented on #30299
that is not a valid v3 config. ”config" is not valid, must be typed_config

[2021-01-25 02:57] hzxuzhonghu commented on #30309
Then only intercept dns request which dst ip equals the nameserver.

[2021-01-25 03:02] hzxuzhonghu commented on #30350
Obviously, it is the dns error.

[2021-01-25 03:02] #30350 closed

[2021-01-25 03:33] moyingnana commented on #8374
Can we reopen the issue? still see the issue in 1.8.0

[2021-01-25 03:45] howardjohn commented on #30347
Routing is based on host header. So if you put something in the Host header that you haven't defined a route for by virtual service this is expected

[2021-01-25 03:47] hzxuzhonghu commented on #27565
I have tested with community provided sleep application, when i enable the `TPROXY` on it, nothing exception happens. I can access  services no matter mesh internal or external successfully.
[code]

[2021-01-25 03:57] hazelnutsgz commented on #30350
The tricky thing here is that reinstallation works.

[2021-01-25 04:05] ramaraochavali commented on #27565
The error only happens if `includeOutboundPorts` is used otherwise it works fine. Also looks like there is some discrepancy in the way `runAsGroup` is set probably because of the way we are patching security context as described here https://github.com/istio/istio/pull/30306#issuecomment-766310964

If you still have the pod running, can you share the securityContext of the pod with TPROXY?

[2021-01-25 05:01] #21368 closed

[2021-01-25 05:02] #25467 closed

[2021-01-25 05:03] #25468 closed

[2021-01-25 05:03] howardjohn commented on #24416
not stale

On Sun, Jan 24, 2021, 9:02 PM Istio Policy Bot <notifications@github.com>
wrote:

[2021-01-25 05:08] richardwxn commented on #29398
it was manually cherry-picked into 1.8 already

[2021-01-25 05:08] #29398 closed

[2021-01-25 05:22] mandarjog commented on #25888
Not stale.

[2021-01-25 05:30] incfly commented on #30140
This would need more information. For example, Can you narrow down where it fails? Either JWT token is invalid or valid but somehow the JWT filter does not think so? Why RBAC filter thinks

Right top of my head, you can at least enable debug log and inspect each filter's log information.

The error log in istiod about not using for TCP seems suspcious but as the listener config presents it only co

[2021-01-25 05:34] incfly commented on #29753
/cc @williamaronli @JimmyCYJ

[2021-01-25 05:37] incfly commented on #30271
There are some issues about using `|` in the cluster name of the external authz config. (an invalid character of the gRPC encoding).

But we have introduced new ext_authz feature in upcoming release.  You can see this https://preliminary.istio.io/latest/docs/tasks/security/authorization/authz-custom/ for more information.

/cc @yangminzhu for potential use case.

[2021-01-25 05:37] incfly commented on #30295
@lei-tang could you assign this to yourself if you plan to implement this? Thanks.

[2021-01-25 05:38] incfly commented on #30311
/assign @incfly to update the documentaiton.

(I need to re-acquire my istio org membership...)

[2021-01-25 06:17] incfly commented on #29746
Not my realm. I used your configuration and see that the route is generated correctly [1]. traffic with host matching 'data-hub.grpc.test` is routed to the the same serivce at port 443. **But** that corresponding cluster does not have the TLS context configured. [2].

I tried a sample sample httpbin service, with DestinationRule SIMPLE, that generated the expected config.

@howardjohn @ramaraochav

[2021-01-25 07:01] hzxuzhonghu commented on #27565
securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        add:
        - NET_ADMIN
        drop:
        - ALL
      privileged: false
      readOnlyRootFilesystem: true
      runAsGroup: 1337
      runAsNonRoot: false
      runAsUser: 0

[2021-01-25 07:03] ramaraochavali commented on #27565
Ok. It makes sense. `runAsGroup` 1337 will help. Will figure out why it is not coming for us

[2021-01-25 07:09] hzxuzhonghu commented on #27565
can you run this in the server proxy `cat  /proc/sys/net/ipv4/conf/eth0/route_localnet`

[2021-01-25 07:38] jasonwzm commented on #30312
@adiprerepa Sorry, I did not realize you self assigned. I am going to assign this to myself to wait for PR approval.

[2021-01-25 07:44] adiprerepa commented on #30312
Thanks 👍

[2021-01-25 08:19] lut777 commented on #30299
you are right. problem solved.
doc may need to be updated...

[2021-01-25 08:19] #30299 closed

[2021-01-25 08:28] hillbun opened #30356 "SSL_ERROR_RX_RECORD_TOO_LONG when access SSL sites"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**

some firefox browser shows error of SSL_ERROR_RX_RECORD_TOO_LONG when access https site, but chrome is correct.

I use these resolvers of  cert-m

[2021-01-25 08:29] hillbun commented on #30304
@howardjohn

https://github.com/istio/istio/issues/30356

[2021-01-25 08:29] #30304 closed

[2021-01-25 08:37] hillbun opened #30357 "It is possible use cert-manager to selfSigned SSL secret based on IP?"
[code]

But this do not work.

PR_CONNECT_RESET_ERROR

[2021-01-25 08:38] gainings opened #30358 "[Feature request] Support outlier detection by success / failure rate"
**Describe the feature request**

- Need outlier detection based on success/failure rate.

Currently outlier detection just support fixed value.
Its not change dynamically when the pod scales.
I want to dynamically change the threshold with a success / failure rate like that supported by Envoy

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[

[2021-01-25 11:17] softcane opened #30359 "Polluted label values in the istio_requests_total time series"
We recently observed an abnormality with `istio_requests_total` time series (only from the **istio ingress proxy)** where `destination_app` and `destination_canonical_service` looks off and polluted. However, the aggregated number using `destination_service` is correct.

In the attached example, destination_app=cms|playback-reporting should not exist.
![Prometheus-Time-Series-Collection-and-Proces

[2021-01-25 11:28] gproxyz opened #30360 "Show not corrected metrics after add sidecar to Prometheus operator"
I have istio standard profile 1.8.1 on-premise K8S cluster.
I used Prometheus operator, and install it from the standard helm cart (kube-prometheus-stack).
After adding a sidecar to the monitoring namespace Kiali starting to show the incorrect graph.
Something like this for all namespace:
![1_1](https://user-images.githubusercontent.com/49784110/105699975-3bfa1b80-5f19-11eb-9744-22f2c05eb317.png)

[2021-01-25 11:52] SahilChaudhary25 opened #30361 "Istio ingress gateway has latency while processing request at load"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
When using istio ingress gateway in production every time  50ms to 400 ms latency is being added to gateway request processing and there is always

[2021-01-25 13:15] mbfmbf commented on #28305
Hello and sorry for this late return, here are the configuration of the two virtual services and gateways carrying the same certificate, in this case: elasticsearch and kibana:

[code]

[2021-01-25 13:23] mbfmbf commented on #28305
And the logs of the two urls are as below:

[code]

[2021-01-25 13:30] connatix-cradulescu commented on #28305
Hi @mbfmbf

You have to use a single gateway and use a wildcard on hosts:
[code]
You are going to use the same gateway for elastic and kibana too.

[2021-01-25 14:10] mbfmbf commented on #28305
@connatix-cradulescu
thank's for this quick feedback,

But I have other url which have other certificate, how to do?

[2021-01-25 14:12] connatix-cradulescu commented on #28305
Create a wildcard cerfificate

[2021-01-25 14:14] mbfmbf commented on #28305
so if I understand, it doesn't work with a .dev and .com hosted in the same kube cluster

[2021-01-25 14:46] esnible opened #30362 "Pilot log complaint when deleting EnvoyFilter with enableAnalysis=true"
Installed Istio Master using

[code]

Created an EnvoyFilter, then Deleted the Envoyfilter.  I did this while debugging https://github.com/istio/istio.io/issues/7613#issuecomment-765015168

Pilot logs

[code]

I don't believe the **error** and **warning** are real.  It is typical/customary for EnvoyFilters to be deleted, and doing so should not log errors.

[2021-01-25 14:57] munjalpatel commented on #30140
@incfly how can I enable to debug log?

[2021-01-25 15:05] esnible commented on #28191
FYI: Motivating example: https://github.com/istio/istio.io/issues/7613#issuecomment-766878849

It would have been much nicer to be able to do `istioctl pc all` when capturing before and after Envoy config.

[2021-01-25 15:39] esnible commented on #30362
@therealmitchconnors Can you check this this is not related to your recent performance enhancements?

[2021-01-25 15:49] esnible commented on #30321
FYI An analyzer for this issue will closed the TODO at https://github.com/istio/istio/blob/master/galley/pkg/config/analysis/analyzers/virtualservice/matches.go#L65

FYI to reproduce, apply the YAML in the issue and watch for Istiod log

[code]

@howardjohn I need help formalizing what the analyzer would check for.  It is easy to write a O(n^2) analyzer to detect two VS with identical `hosts`.  Ho

[2021-01-25 15:51] howardjohn commented on #30321
@esnible how did you even do that? it got rejected for me:
[code]

[2021-01-25 16:30] esnible commented on #30321
Thanks for the sanity-check.  You are correct, that was rejected!  I am considering this algorithm

- For each Gateway, collect all VS `hosts` that attach
  - Pairwise compare all hosts on each gateway using exactly the logic of https://github.com/istio/istio/blob/master/pkg/config/validation/validation.go#L1800

Correct algorithm?

[2021-01-25 16:35] howardjohn opened #30364 "TestEds test flake"
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/30363/unit-tests_istio/1353732418569244672

[2021-01-25 16:35] connatix-cradulescu commented on #28305
If you are using a different certificate u have to use the above configuration that you listed and just use different names for the secret TLS

[2021-01-25 16:46] howardjohn commented on #30345
cc @stevenctl

[2021-01-25 16:46] howardjohn commented on #30349
cc @incfly @yangminzhu

[2021-01-25 16:46] howardjohn commented on #30357
I am not sure what this has to do with Istio, can you elaborate a bit?

[2021-01-25 16:54] eam-cs commented on #29499
Thank you @stevenctl, I will make the changes and test the final version !

[2021-01-25 17:35] stevenctl commented on #30345
Possibly a duplicate of #29359. The documentation is a bit out of date.. using DNS isn't well supported. When it was supported, names would be eagerly resolved in the control plane, and that address would be given to proxies. There's no mechanism for us to update the address when it changes. We should explore envoy LOGICAL_DNS or STRICT_DNS, but we can't do that for EDS cluster types.

[2021-01-25 17:37] stevenctl commented on #29605
Is the AWS gateway backed by a LoadBalancer? And does it use IPs or a hostname? If it's using a hostname, you're probably running into #29359.

[2021-01-25 17:39] stevenctl commented on #30329
Duplicate of #30330

[2021-01-25 17:39] #30329 closed

[2021-01-25 18:06] lei-tang commented on #30295
Implemented in https://github.com/istio/istio/pull/30294.

[2021-01-25 18:06] #30295 closed

[2021-01-25 18:26] lei-tang commented on #30341
https://github.com/istio/istio/pull/30343 has been merged.

[2021-01-25 18:26] #30341 closed

[2021-01-25 18:42] incfly commented on #30349
What makes you think it's `PILOT_SKIP_VALIDATE_TRUST_DOMAIN` not working?  `CERTIFICATE_VERIFY_FAILED` could be something else like root certificate in different clustes are different right? Have you done some `openssl verify` for the caller's workload certificate against the target service's cluster root?

[2021-01-25 18:56] raelix commented on #29359
Hello everyone, I'm having the same issue mentioned here. Seems that there are two problems:

- the IPs resolved by the the hostname provided by AWS could change in the time and currently istio just resolve them without taking care of updating once the IPs change. This could be fixed using the "nlb" annotation which provide static IPs resolved by the hostname.
- istio doesn't allow to specify DNS

[2021-01-25 19:00] raelix commented on #30345
Thanks @stevenctl for your quick answer, I just reply to the https://github.com/istio/istio/issues/29359#issuecomment-767037465. We could try using nlb annotation but Istio doesn't support DNS in both cases. I had to recompile it skipping the validation, is there a plan to allow DNS for LoadBalancer with "nlb" annotations where it will resolve static IP?

[2021-01-25 19:10] stevenctl commented on #29359
No work has been scoped but there is clearly a need here.

I think eagerly resolving the DNS at the control plane will lead to unexpected behavior for the majority of users.
The _right_ way to solve it will be to switch from EDS mode to STRICT_DNS or LOGICAL_DNS mode, which is not trivial.

https://github.com/istio/istio/blob/74711260a3a53174a729179e38275995a5828fd5/pilot/pkg/serviceregistry/kube/

[2021-01-25 19:21] howardjohn opened #30367 "telemetry tracing tests are doing strange things in multicluster tests"
Currently, the tracing tests look like they are doing a primary-remote type setup, deploying opencensus collector only to the primary, exposing it by gateway, etc.

In reality, its not doing this. Each cluster has its own zipkin/otel deployed, and is using that local one.

This is obscured by the fact that ApplyYAMLInCluster does NOT actually apply only to the cluster - it is applying to all clust

[2021-01-25 19:23] dshuvar commented on #11723
UP. Same question, anybody knows when boringssl will be provided as an option in upstream?

[2021-01-25 19:26] raelix commented on #29359
Thanks @stevenctl for this clarification. About NLB (service.beta.kubernetes.io/aws-load-balancer-type: nlb) is the annotation for EKS LoadBalancer services to use network load balancer that can refers to preallocated Elastic IPs (static).

Sounds very interesting what you just explained. When you say switching from EDS mode to STRICT_DNS or LOGICAL_DNS, is something that I could try to test provi

[2021-01-25 19:36] stevenctl commented on #29359
The code isn't there today.

Currently, the part where we swap network-local addresses (usually Pod IPs) with the gateway address happens in the eds flow:

https://github.com/istio/istio/blob/01a3e0141ce3c8a89fb3045fb09b716c345b3d9b/pilot/pkg/xds/ep_filters.go#L34

This modifies the endpoints that make up an envoy eds cluster (envoy's [Service Discovery Types](https://www.envoyproxy.io/docs/envoy/

[2021-01-25 19:43] jasonwzm commented on #30200
Also disable analyzer for alpha and deprecated annotations.

[2021-01-25 19:49] fernandodelaiglesia commented on #29605
Thanks a lot for the responses.

Following the instructions in the documentation, what I found is that the gateways in AWS are created as LoadBalancer and this use the AWS elastic load balancer (elb) and the gateway is configured with the DNS name provided by AWS. Following your answers, I see that the issue is that DNS is not well supported by now.

From the response from @stevenctl  I understand

[2021-01-25 20:01] howardjohn commented on #24715
@PiotrSikora do you have any recommendations on which of these should be configurable and which are safe to just change the defaults?

[2021-01-25 20:21] stevenctl commented on #29605
Editing the configMap isn't required. You can edit the Service and set `externalIPs`. The DNS name is not supported, you can resolve it yourself, understanding it will likely change.

[2021-01-25 20:27] lambdai commented on #30199
It's a known and long lasting race condition that host may destroyed on worker thread. I was not pushing hard and improve my fix on envoy upstream.

Meanwhile @Monkeyanator is it possible to close the tls connection first in the test case? If the connection is gracefully closed before SDS, it's highly likely the envoy bug won't hit. That's why these failures in production are rare.

We can do it i

[2021-01-25 20:31] raelix commented on #29359
Thanks for giving me all of these details.
So basically, if I understood well, in this case we might change the pods endpoint to use the DNS service discovery instead of EDS right?
But in case of two clusters located both on EKS clusters, we could just set the DNSLB resolution on the gateway service right? Of course this is a specific use case.

[2021-01-25 21:08] stevenctl commented on #29359
That won't work, because you're not trying to reach the gateway service; you're trying to reach your own service via the gateway.

https://github.com/istio/istio/compare/master...stevenctl:hostname-gateways

Here's an experimental branch which might better demonstrate the pieces involved. I have no idea if it will work, have not tested yet and likely won't have time to dig into this until post 1.9

[2021-01-25 21:13] raelix commented on #29359
Right, I need to reach them via the gateway...
Thanks a lot, I'm taking a look at that trying to understand better the pieces involved.

Thank you again

[2021-01-25 21:51] atsai1220 commented on #29516
Rather than mounting to `/root/.ssh/id_rsa`, we mounted to `/tmp/id_rsa` (or somewhere else, really) and used a script to `cpy` to `/root/.ssh` (and it isn't even necessary to put your keys there)

For my init container
[code]

Deployment Example:
[code]

[2021-01-25 21:56] stevenctl commented on #29359
After doing a bit of research in envoy issues/docs, confirmed that isn't a way to get DNS resolution with EDS clusters in envoy.. the two options I've been able to find are:

1. Resolve DNS in your control plane, which has obvious issues when the IP is dynamic.
2. Use STRICT/LOGICAL_DNS clusters which as @howardjohn pointed out would have pretty bad performance, as each time in-cluster Pods endpoi

[2021-01-25 21:56] stevenctl commented on #29359
Although if it's static, users could also just resolve the IP themselves, and set `externalIPs` on their gateway Service, which doesn't hide the underlying issue.

[2021-01-25 21:58] yangminzhu commented on #30349
As @incfly mentioned, PILOT_SKIP_VALIDATE_TRUST_DOMAIN only controls the server side checking (the `match_subject_alt_names` in the validation_context in Envoy). I just checked 1.8.2 and the flag is working as expected.

[2021-01-25 22:18] esnible opened #30375 "'istioctl profile diff' sends output to stderr, not stdout"
Using Istio 1.8.0, `istioctl-1.8.0 profile diff default openshift` writes to stdout.  Under 1.9.0-beta.0, to stderr.

I discovered this while working on https://github.com/istio/istio/pull/30113 .

[2021-01-25 22:50] nmittler opened #30376 "Multi-cluster Multi-network fails if no default network provided"
This was discovered while investigating https://github.com/istio/istio/issues/29388.

The multi-cluster multi-network docs test was missing the lines to configure a default network for the namespace. Without this set, the test fails. This should not be needed as that default network should only be used to configure uninjected pods.

The pods appear to have `ISTIO_META_NETWORK` set properly, but ar

[2021-01-25 22:56] stevenctl commented on #30376
Looks like the original logic was moved in #28800

https://github.com/istio/istio/pull/28800/files#diff-e57c2ab4e6af0f24e7285fad8ec9fe8b688fad1350b6d6c405f75a067d65e0dcL545

Trying to find where it was moved.. I don't see any references to the network label in the inject package or in the templates. I think it was accidentally removed.

[2021-01-25 23:00] nmittler commented on #30376
:facepalm:

[2021-01-25 23:14] incfly commented on #30140
istioctl proxy-config log <pod.namespace>  --level debug

On Mon, Jan 25, 2021 at 6:57 AM Munjal A Patel <notifications@github.com>
wrote:

[2021-01-25 23:36] #30376 closed

[2021-01-25 23:55] Monkeyanator commented on #30199
I can take a look for sure, although I don't think I have much context on this particular test. Now that I'm looking at it, is there a reason not to get rid of the `security/sds_egress` suite (which I did write a while back)? Looks like it's been skipped for a while now and tests for the same thing as this test except in an outdated way

[2021-01-25 23:59] howardjohn commented on #30199
I did write a while back)? Looks like it's been skipped for a while now and
tests for the same thing as this test except in an outdated way

We should probably fix it if its useful - if not we can remove. I think
this is not in the skipped test though

On Mon, Jan 25, 2021 at 3:56 PM Sam Naser <notifications@github.com> wrote:

[2021-01-26 00:11] incfly commented on #30199
@JimmyCYJ Now looking more closely I think `TestMutualTlsOrigination` is added by @nschhina . https://github.com/istio/istio/pull/25520/files

---

@Monkeyanator seems like I mistake the `sds_tls_origination` (the test causing the failure, `TestSdsEgressGatewayIstioMutual`) with `sds_egress` (yours, skipped now). Sorry, My bad. `sds_egress` was skipped because of flakiness because  I think it has

[2021-01-26 01:12] howardjohn commented on #30158
[code]

So, if you had nginx-test here, here is what is happening:

`app ---- TLS ---> Envoy`. Envoy does NOT terminate the TLS. Instead, it is merely looking at the SNI, and determining where to send the request. If you send it to nginx-test, that is now forwarding the original TLS request to a plaintext endpoint

Even if you forward it to a TLS endpoint, your application _should_ reject the resu

[2021-01-26 01:22] howardjohn commented on #29746
Are you sending requests on port 5001 or 443?

https://preliminary.istio.io/latest/docs/ops/common-problems/network-issues/#sending-https-to-an-http-port or https://preliminary.istio.io/latest/docs/ops/common-problems/network-issues/#double-tls maybe in play here

[2021-01-26 01:23] howardjohn commented on #29746
@incfly a bit confused - the cluster DOES have tls configured:
[code]

(copied from your snippet)

[2021-01-26 01:29] #30178 closed

[2021-01-26 01:53] hillbun commented on #30357
[code]

[code]

[code]

@howardjohn

config is above.   when access https://12.34.56.78/ , is return error of PR_CONNECT_RESET_ERROR

[2021-01-26 01:55] howardjohn commented on #30357
[code]

Should you use ipAddresses, not dnsName?

[2021-01-26 02:06] hillbun commented on #30357
@howardjohn

same errors

[2021-01-26 02:22] hillbun commented on #30357
---
apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: 12-34-56-78-tls
  namespace: istio-system
spec:
  ipAddresses:
    -  12.34.56.78
  secretName: 12-34-56-78-tls
  issuerRef:
    name: selfsigning-issuer

[2021-01-26 03:17] #30150 closed

[2021-01-26 03:20] zhongfox opened #30385 "Istio init crash when using TPROXY"
yaml slice, using httpbin pod:
[code]

istio-init log
[code]

**How was Istio installed?**

istioctl install

**Environment where the bug was observed (cloud vendor, OS, etc)**

k8s: TKE(Tencent Kubernets engine) version 1.18.4
istio: 1.8.2

[2021-01-26 03:25] linsun commented on #29389
Thanks @nmittler for the investigation!  It looks like we never updated the docs to be istiodless on the remote cluster.  I can take a stab at updating it.

I think the discovery addr is supposed to be istiod.istio-system as there is no other istiod on the remote cluster thus no need to use a different name like istiod-remote.istio-system

@irisdingbj pls correct me if I'm wrong here.

[2021-01-26 03:27] hzxuzhonghu commented on #30385
The tproxy mode is broken since very early.  https://github.com/istio/istio/pull/28457

[2021-01-26 03:55] yangminzhu commented on #30261
Or should the JwksResolver retry to resolve the URI forever and just continue as it does today? Obviously in this case it should continue retrying to resolve the jwks URI and not operate on an empty string.

I think we could merge the `ResolveJwksURI` to the `refresh()` function, there will be some refactor but the end result is that 1) we don't need to resolve OIDC discovery in `addRequestAuthent

[2021-01-26 05:02] #23891 closed

[2021-01-26 05:02] #24698 closed

[2021-01-26 05:04] #27865 closed

[2021-01-26 05:05] #27899 closed

[2021-01-26 05:17] #30312 closed

[2021-01-26 06:34] larsrnielsen commented on #30158
yeah, it makes sense - I concluded the same. Thanks, Lars

[2021-01-26 06:34] #30158 closed

[2021-01-26 06:52] RossyWhite opened #30387 "namespace isn't resolved correctly in VirtualService delegation"
**Bug description**

In delegated VirtualService, destination host's namespace becomes delegator's namespace

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expected behavior**

In del

[2021-01-26 07:00] munjalpatel commented on #30140
@yangminzhu @incfly

Here are to logs after enabling debugging. It certainly appears to be ordering issue.
However, I am really since `lua` filter is registered as the first filter.

[code]

[2021-01-26 07:58] domcyrus commented on #30261
@yangminzhu Thanks for your suggestion which sounds very good to me. I'll open a PR with the change you've outlined.

[2021-01-26 08:00] kebe7jun commented on #29302
docs merged, I think this issue should be closed.

[2021-01-26 08:21] mbfmbf commented on #28305
thanks, I found the solution, I pose here so that it stays for others

[code]
and for other domain with other certificates:
[code]

[2021-01-26 08:22] #28305 closed

[2021-01-26 10:04] lut777 opened #30388 "span of external svc is not reported from envoy"
**Bug description**

I have a problem when using the tracing system.

A good system should record all tracing spans from start to finish.

Sometimes a svc/pod within the cluster need to invoke a service outside the cluster, especial in the case of mixed VM/container deployments. However, the end of the span, which is from the end of the in-cluster pod to the external service, is not reported by en

[2021-01-26 10:48] MirtoBusico commented on #29366
Sorry @yangminzhu I've done another try without luck

The step I followed:
Dumped the running istio operator configuration using
[code]
Then I added the certificate after line 399
[code]
After I aplied the file with
[code]
But when I look at the new installed version the certificate was dropped

[code]
What I'm doing wrong?

[2021-01-26 10:52] MirtoBusico commented on #29366
Sorry, I've seen that the issue is assigned to @xulingqing

Please see the previous two posts.

[2021-01-26 11:18] raelix commented on #29359
Hello @stevenctl  I was able to get it working, this is what I did:

- I created multiple Elastic IPs, one for each subnet of the cluster (in my case 3)
- I changed my istio operator with this:
[code]
- I get the IP addresses of the elastic IPs and added them in the externalIPs of the istio-ingressgateway svc

Now both cluster are able to talk each other. The tricky part here is change the svc ext

[2021-01-26 11:19] jidemoski opened #30389 "Help me!!! istio1.3.0 error 503 Server Error: Service Unavailable"
Hi everyone:
**Help me!!!**

when I request the istio ingress gateway, sometime it return **503 Server Error: Service Unavailable**. But I directly access the svc, the error not take place. I don't find the reason.  Can you help me?  Thank you

I deploy **kubeflow** in my k8s cluster. when I  create a app and a service.  and try to use **istio1.3** ingress intergate proxy the service.
maybe:
[code

[2021-01-26 13:37] su225 commented on #30389
https://istio.io/v1.3/docs/reference/config/networking/v1alpha3/virtual-service/
https://istio.io/latest/docs/reference/config/networking/virtual-service/#VirtualService
In your `VirtualService` configuration, maybe you should specify the service name under `hosts` instead of `*`?

For example, to send traffic to test in default namespace,
[code]

[2021-01-26 13:46] su225 opened #30392 "`istioctl x tag set` is not working"
**Bug description**
[code]
The below command should have created a tag because there is no existing tag called `prod` and `default` is a valid revision
[code]
On examining sidecar injectors I found that the code looks for `sidecar-injector.istio.io`, but there is no injector with that exact name. Instead, there is `*.sidecar-injector.istio.io`. (Actually, there are 2)
[code]
At first glance, the f

[2021-01-26 13:47] su225 commented on #30392
cc: @Monkeyanator

[2021-01-26 13:56] vinemish opened #30393 "panic in istio-init"
[code]

[ ] Docs
[ ] Installation
[X ] Networking
[X] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Version** (include the output of `istioctl version --remote` and `kubectl version --short` and `helm version --short` if you used Helm)
[code]

**Environment where the bug was observed (cloud

[2021-01-26 14:23] Monkeyanator commented on #30392
Ah this must be a bad interaction with #30013 which changed the webhook names and behaviors. I'll take a deeper look now but I think we'll also have to change `revision-tags.yaml` to align with the new injection behavior (in addition to the change you pointed out with the `istioInjectionWebhookName`)

[2021-01-26 14:25] Monkeyanator commented on #30392
Maybe we need to add an integration test for revision tags, would have caught this issue.

[2021-01-26 15:25] jidemoski commented on #30389
@su225
After Checking, I don't know error about the configure
And the I can't access my service on internet.
When I modify  host name to full name on vs.yaml, the error dosen't lose

PS. myservice is k8s services and the app is a long task web app

[2021-01-26 15:27] obeyda opened #30395 "Istio 1.8.1 ingress gateway not responding"
I am having this issue on a AKS cluster, using istio 1.8.1
using profile `default`,
i added a gateway like this:
[code]

when sending requests, the gateway hangs randomly and after a period ~30s i get timeout,
when i checked the load balancer status in azure i got this

![image](https://user-images.githubusercontent.com/15065966/105865502-4ab50100-5ff3-11eb-9158-74769582684f.png)

[2021-01-26 15:28] jidemoski commented on #30389
@su225
Thank for the answer!
Can you help to check the vs.yaml?

[2021-01-26 15:38] istio-testing opened #30396 "[release-1.9] Improve using system certs on CA/XDS"
Manual cherrypick required.

#28417 failed to apply on top of branch "release-1.9":
[code]

[2021-01-26 15:55] su225 commented on #30392
Yes please. I was working https://github.com/istio/istio/pull/29713 and thought of adding tags to my setup for some additional checks and ended up catching this.

[2021-01-26 15:57] #29302 closed

[2021-01-26 15:59] su225 opened #30398 "Dual control upgrade downgrade tests in istio/tools is failing (again)"
https://prow.istio.io/view/gs/istio-prow/logs/istio-dual-control-plane-upgrade-kind-1.8-1.9/1353915811147812864

[2021-01-26 15:59] su225 commented on #30398
/assign @su225

[2021-01-26 16:28] esnible opened #30399 "Confusing "istioctl install" message when creating control plane canary"
I had master installed as the `default` control plane.

[code]

Problems.

- Istio isn't being upgraded!  A control plane canary is being started, independent of the `default` plane.
- Going from 1.10.0 (master) to 1.9.0 is a downgrade, not an upgrade.
- If we are downgrading, the IST0002 deprecation warnings won't make sense.
- If we were upgrading, we should `analyze` for both IST0002 and IST013

[2021-01-26 17:32] howardjohn opened #30401 "TestRevisionCommand test flake"
Brand new test in https://github.com/istio/istio/pull/29713

[2021-01-26 17:36] su225 commented on #30401
@howardjohn - May I get the logs for the run?

[2021-01-26 17:37] nmittler commented on #29389
@linsun ok sounds good. One concern I have is that if we're making the leap to istiod-less, we need to make sure that we're not breaking upgrade. Have you tested upgrade of remotes from legacy to istiod-less?

[2021-01-26 17:41] howardjohn commented on #30401
sorry, forgot to paste them:
https://prow.istio.io/view/gs/istio-prow/logs/integ-k8s-115_istio_postsubmit/1354095082399076352

On Tue, Jan 26, 2021 at 9:37 AM Suchith J N <notifications@github.com>
wrote:

[2021-01-26 17:48] howardjohn commented on #30401
https://prow.istio.io/view/gs/istio-prow/logs/integ-k8s-115_istio_postsubmit/1354111331191492608

[2021-01-26 17:53] nmittler commented on #29388
@ericvn this should be fixed now with the latest master/1.9 branches. Closing for now. Go ahead and re-open if it's still an issue.

[2021-01-26 17:54] #29388 closed

[2021-01-26 17:54] istio-testing opened #30402 "[release-1.9] Fix sidecar injector default template config option."
Manual cherrypick required.

#30353 failed to apply on top of branch "release-1.9":
[code]

[2021-01-26 17:55] nmittler commented on #30181
Hey @ramaraochavali any update?

[2021-01-26 18:24] lizan commented on #29390
The clock skew of JWT authentication updated to 1 min in Envoy to be consistent with other implementations: https://github.com/envoyproxy/envoy/pull/13872 cc @qiwzhang

[2021-01-26 18:25] myidpt commented on #29390
Thank you Lizan!
@yangminzhu can you update the tests according to Lizan's comment?

[2021-01-26 18:50] abhide commented on #22290
I am not actively working on this GH issue. Will un-assign myself so that someone can pick it up.

[2021-01-26 19:08] esnible commented on #28510
Not an analyzer bug, but a samples bug.  We or @istio/wg-docs-maintainers should fix the sample.

[2021-01-26 19:16] esnible commented on #26222
1. P1 (or even P0) for 1.10 for files to include all namespaces used in files explicitly passed in.
2. We should vote on what does in the cluster
3. The `-h` docs should make it really clear if we don't do all namespaces by default that the user should pass in `--all-namespaces`.

[2021-01-26 19:16] ericvn opened #30405 "Extra istioctl analyze messages [IST-0136] desired?"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**

Working through the `Getting Started` and it has one run `istioctl analyze` after installing `Bookinfo`. I'm seeing a bunch of new messages after

[2021-01-26 19:36] #30364 closed

[2021-01-26 19:48] ericvn opened #30406 "Minikube instructions to access Bookinfo may have changed?"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**

I’m not sure if Environments owns the Getting Started pages, (just going by owner of the doc page) but seeing an issue when using Minikube tab on

[2021-01-26 19:58] ericvn commented on #29390
Do we need to also update the doc page so the user understands that 5 secs either isn't valid as well?

From the page:
[code]

Is 5 secs (or 15 secs or 45 secs) always going to be rounded up to 60 secs?  What if I set the expiration to 120 secs?

[2021-01-26 20:00] ericvn commented on #30406
I made this a release blocker as the page no longer works (at least on my MacOS system).

[2021-01-26 20:07] domcyrus commented on #30261
Created #30407

[2021-01-26 20:08] howardjohn commented on #30389
Hi @jidemoski , unfortunately we do not have bandwidth to debug issues from extremely old versions. Please upgrade to a supported version. SEe https://istio.io/latest/news/support/announcing-1.6-eol/ and https://istio.io/latest/about/release-cadence/

[2021-01-26 20:08] #30389 closed

[2021-01-26 20:24] yangminzhu commented on #30140
[code]

The authorization header format should be `Bearer <token>`, you have an extra `:` in your header.

[2021-01-26 20:27] howardjohn commented on #30309
I confirmed this happens with systemd-resolvd on GCE ubuntu

[2021-01-26 20:31] esnible commented on #30405
I was very nervous about merging this PR because of the huge number of scary **Info** warnings it surfaces.

There is still time to back it out.  I suspect it will cause trouble, hiding the legit messages in the noise.  However, we wanted feedback from users on the value of this analyzer.

[2021-01-26 20:33] howardjohn commented on #30387
cc @hzxuzhonghu

[2021-01-26 20:34] howardjohn commented on #30393
Why are there multiple runs on a single pod?

[2021-01-26 20:37] howardjohn commented on #30405
This is definitely wrong. The annotation is addded to every single istio pod injected.

[2021-01-26 20:57] #30251 closed

[2021-01-26 21:16] offero commented on #15773
I'm seeing similar issues from nodejs to aws postgres.

[2021-01-26 21:37] obeyda commented on #30395
when i removed the these ports from the default profile it stopped failing health checks:
[code]
but won't that pose problems? if so, why we have this config in the defualt profile?

[2021-01-26 21:57] g-lam commented on #30349
Thanks @incfly for validating the scenarios. We are currently using case 4 in Istio 1.6 without issues (also confirmed to work in 1.7). Here is an example:
We are granting `sleep` in trust domain `foo` access to `helloworld` in trust domain `bar`, both services run in the namespace `baz`. We grant access to `helloworld` from the source principal of `foo/ns/baz/sa/sleep-sa`. However, we don't want

[2021-01-26 21:57] esnible commented on #30405
@howardjohn I am happy to disable the **alpha** checks, keeping the deprecation checks.

The PR was https://github.com/istio/istio/pull/30083 .  It merged too late to get the feedback we wanted from developers.  I believe the hope was that having an annoying warning wasn't just for the users but to get the devs to promote their stuff to beta.

[2021-01-26 21:59] esnible commented on #30321
Keeping this open to track having an analyzer for the issue.

[2021-01-26 22:18] ericvn commented on #30405
Changing to release blocker as the istio.io test automation now fails on this page (when moving to 1.9-beta.1)

[2021-01-26 22:21] howardjohn commented on #30405
Having the checks for annotations in generally is _probably_ too verbose. But having it for `sidecar.istio.io/status` is a bug - there is no scenario a user cares about this, we are injecting it ourselves.

[2021-01-26 22:22] ericvn commented on #29303
Pointer to https://github.com/istio/istio/pull/30379 to help with upgrades when customers gateways are in different namespaces.

[2021-01-26 22:47] esnible commented on #30405
I have introduced code to remove the alpha annotations.

We should re-introduce the -0136 after we have done https://github.com/istio/istio/issues/28511 .  We should also create an ALLOWLIST of alpha features that we attach ourselves and don't complain about.

[2021-01-26 22:51] yangminzhu commented on #30349
One workaround is to use the authorization policy like the following:

[code]

This should allow the `sleep` from `foo` to access helloworld and deny the `sleep` from `bar`. Note the extra `foo/*` is needed to make this work otherwise the `sleep` from `bar` will also be allowed because the trust domain alias will also affect the principal in authorization policy: https://istio.io/latest/docs/tasks

[2021-01-26 22:59] #30235 closed

[2021-01-26 23:33] wojtek-viirtue commented on #29482
Looks like this is also related to: https://github.com/istio/istio/issues/17801

[2021-01-26 23:44] pantelis-karamolegkos commented on #12232
I am having the exact same issue.

Using the following in `istio-operator`

[code]

has no effect at all....It keeps printing the default log...

Any suggestions?

[2021-01-27 00:27] munjalpatel commented on #30140
Apparently my authorization header was not properly constructed. I had a `:` after `Bearer` .. fixing it resolved this issue.

[2021-01-27 00:27] #30140 closed

[2021-01-27 00:29] munjalpatel commented on #30140
Yeah that was it. Thanks for pointing it out @yangminzhu :)

[2021-01-27 00:45] istio-testing opened #30419 "[release-1.9] Add tests for getting tokens for XDS"
Manual cherrypick required.

#30411 failed to apply on top of branch "release-1.9":
[code]

[2021-01-27 01:08] howardjohn commented on #29334
I got the same issue with `master`. on a sidecar.

`perf`:
[code]

`gdb`
<details>

[code]

</details>

[2021-01-27 01:20] howardjohn commented on #29334
strace:
[code]

and full output:
[strace.txt](https://github.com/istio/istio/files/5877063/strace.txt)

[2021-01-27 01:22] howardjohn commented on #29334
Above strace was mostly polluted by real data plane calls - forgot to turn those off. Here it is with near 0 traffic:

[code]

[2021-01-27 01:23] kyessenov commented on #29400
Trying to run `make doc.test TEST=tasks/observability/metrics/customize-metrics`:
[code]

Is there a way to run it manually? I'm not really interested in reverse-engineering how CI does it.

[2021-01-27 01:31] howardjohn commented on #29334
`ss` shows I have 900 like this:
[code]

I assume this is agent -> envoy 15000/stats/prometheus scraping.

[2021-01-27 01:47] kyessenov commented on #30136
How does the test know when to start sending requests? EnvoyFilter, which is the foundation of this test, has an undefined application deadline, and it might take a while for v8 to boot in the proxies and start applying the config.

[2021-01-27 02:05] istio-testing opened #30421 "[release-1.9] Add an option to enable token exchange for the XDS flow"
Manual cherrypick required.

#29942 failed to apply on top of branch "release-1.9":
[code]

[2021-01-27 02:14] hzxuzhonghu commented on #30387
I think this is because after merging the vses, the delegator's namespace info is lost. Maybe we should interpret the short name earlier.

[2021-01-27 02:42] kirankumar15 commented on #28856
Seeing the same issue while using NLB with istio. NLB healthchecks does not seem to pass.

[2021-01-27 03:03] g-lam commented on #30349
OK, I was able to confirm `PILOT_SKIP_VALIDATE_TRUST_DOMAIN` is working on the server side. I did this by adding only `bar` to `foo`'s trustDomainAliases and not the other way around. Question, has `PILOT_SKIP_VALIDATE_TRUST_DOMAIN` always been one way only? Did something change in 1.8 in the way clients authenticate with server, or is it because I am switching my multi-cluster setup from the old

[2021-01-27 03:18] yangminzhu commented on #30349
`PILOT_SKIP_VALIDATE_TRUST_DOMAIN` is changed in its underlying implementation but the change is not related to here, it's always server side check only. I think it is likely  due to the `switching my multi-cluster setup from the old east-west gateway (*.global) method to the new simplified method in 1.8` because now you have 2 trust domains accessing each other directly, while previously the east

[2021-01-27 04:18] #30401 closed

[2021-01-27 05:05] #27918 closed

[2021-01-27 05:12] howardjohn commented on #28053
not stale

On Tue, Jan 26, 2021, 9:05 PM Istio Policy Bot <notifications@github.com>
wrote:

[2021-01-27 05:50] shamsher31 commented on #30278
Closed by https://github.com/istio/istio/pull/30317

[2021-01-27 05:50] #30278 closed

[2021-01-27 05:51] therealmitchconnors commented on #29400
I have had some luck running these tests from within `make shell`, which takes care of some of the environmental failures.

[2021-01-27 06:48] #30421 closed

[2021-01-27 06:49] lei-tang commented on #30421
Cherrypicking is done: https://github.com/istio/istio/pull/30422.

[2021-01-27 07:06] lut777 commented on #30388
I made a mistake when declaring serviceentry, I set protocol as TCP...
When protocol is changed to HTTP, problem solved.

But I have to say, this is a little tricky...

[2021-01-27 07:29] #30392 closed

[2021-01-27 09:09] taitelman commented on #29873
moving to istio 1.8.2 and that flag no longer helps !

[2021-01-27 09:37] shamsher31 commented on #30399
But it upgrades gateways so I think the upgrade message is valid.

Agree, updated message to `downgrade` if the user is installing a lower version of Istio.

Removed in the PR.

Added `IST0135`.

[2021-01-27 09:37] weisongwhu commented on #28523
Hi, is this problem solved？I get this problem while there is a envoyfilter configed and solve it by deleting this envoyfilter.
I don't know why but it is certain that this problem will  make us unable to update POD properly

[2021-01-27 09:54] shamsher31 commented on #30419
Closed by https://github.com/istio/istio/pull/30420

[2021-01-27 09:54] #30419 closed

[2021-01-27 10:14] #30100 closed

[2021-01-27 10:14] #29186 closed

[2021-01-27 10:15] #28990 closed

[2021-01-27 10:38] #30387 closed

[2021-01-27 10:38] istio-testing opened #30429 "[release-1.7] Fix namespace isn't resolved correctly in VirtualService delegation"
Manual cherrypick required.

#30423 failed to apply on top of branch "release-1.7":
[code]

[2021-01-27 11:11] ramaraochavali commented on #30181
No. I could not find any thing. @hzxuzhonghu Any idea how this can happen?

[2021-01-27 11:15] #30405 closed

[2021-01-27 11:21] MirtoBusico commented on #29366
Hi  @xulingqing
One step haed but still certificate not accepted.
I was able to insert the certificate after the fisrt "pilot:" occurrence (line 379)
Now the istio operator is:
[code]
Still in the istiod log appear the " x509: certificate signed by unknown authority" error
[code]
Mybe I'm isertig the certificate in the wrong place?

What can I do?

[2021-01-27 11:23] MirtoBusico commented on #29366
Hi @xulingqing do you prefer that I open a new issue with title "How to set jwksResolverExtraRootCA"?

[2021-01-27 11:39] mbfmbf commented on #4693
is there any news about this feature?

[2021-01-27 12:49] SpecialYang commented on #22290
Need this feature. Can I try to complete it?

[2021-01-27 13:01] kevin-shelaga opened #30434 "Setting resolution and location from go client doesnt seem to work"
**Bug description**
I am creating pretty simple http/https service entries in kubernetes with the istio go client.

[code]

However the created service entries do not have resolution and location set after the successful creation.

[code]

istio.io/client-go v1.8.2

[2021-01-27 13:05] Lynskylate commented on #30358
This demand looks great，i also need this feature.

[2021-01-27 13:46] Baitanik opened #30435 "Help: converting nginx ingress to istio"
I have some onprem setup.. where some backend service is using https and some are using http..
right now we were using nginx ingress, but we are trying to replace with istio..
in nginx ingress ,separate ingress configuration  has annotation to define the backup protocol

nginx.ingress.kubernetes.io/backend-protocol:HTTPS
nginx.ingress.kubernetes.io/backend-protocol:HTTP

in istio in virtual servic

[2021-01-27 13:53] Stono opened #30436 "Sub optimal readinessProbe configuration"
**Bug description**
Worlds most minor bug but on `1.8.2` `istiod` generates with the following `readinessProbe` config:

[code]

Our platform blocks this because we believe `timeoutSeconds` should never be greater than `periodSeconds` otherwise you'll have a period where you have multiple healthchecks running.

We've worked around it with:

[code]

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Perf

[2021-01-27 14:27] Phaniharsha2908 commented on #24941
have the same issue as well - I am using istio 1.7.0 version - can someone from Istio team member help us.

[2021-01-27 14:53] Stono opened #30437 "503 issues during istio 1.7.5 to 1.8.2"
**Bug description**
During an upgrade of istio 1.7.5 control plane, we experienced a whole load of 503s.

![Screenshot 2021-01-27 at 14 07 46](https://user-images.githubusercontent.com/1486729/106006444-21f14200-60ad-11eb-84ac-24fd43ce2fa8.png)

Taking the flow of `istio-test-app-1` -> `istio-test-app-2`:

Outbound request example (from `istio-test-app-1`):
[code]

Inbound request on `istio-test-a

[2021-01-27 15:00] howardjohn commented on #30437
Just to verify, the istiod is 1.8 but all proxies 1.7?

[2021-01-27 15:14] Stono commented on #30437
Correct, control plane only upgraded to 1.8, all proxies remain on 1.7.5.

[2021-01-27 15:48] howardjohn commented on #20703
Not stale

[2021-01-27 15:48] ericvn commented on #29400
There was a recent thread in Slack about GOARCH_LOCAL and an issue when running tests on Linux. On Macs, things work fine.

[code]

[2021-01-27 15:50] howardjohn commented on #25975
not stale

On Tue, Jan 26, 2021 at 9:03 PM Istio Policy Bot <notifications@github.com>
wrote:

[2021-01-27 15:50] howardjohn commented on #27946
not stale

On Tue, Jan 26, 2021 at 9:05 PM Istio Policy Bot <notifications@github.com>
wrote:

[2021-01-27 16:08] messiahUA commented on #28465
Stumbled upon a similar issue. In 1.6 it was possible to set proxy.resources.limits to null and it removed limits. After upgrade to 1.7 it stopped working in spite of it is unset in istiooperators.install.istio.io as expected.

[2021-01-27 16:30] bianpengyuan commented on #4693
Sorry for the delay, a bit of update: 1.9 is going to introduce a way to reliably deliver Wasm modules to the proxy. With that we should be able to reliably apply basic auth Wasm filter. Will add the doc link there and close this issue once 1.9 is out. Thanks!

[2021-01-27 16:49] howardjohn commented on #25350
I think the envoy change we need here is ready

[2021-01-27 16:56] howardjohn commented on #29335
@nmittler is this still desired?

[2021-01-27 17:11] CheesyFeet opened #30441 "Canary uninstall removes Istio service account."
**Bug description**
I was trying out the canary install method. With two installs on a cluster, one 1.7.6 version installed with istioctl *without* a revision and one with a revision specified (version 1.8.2), deleting the revisioned install seems to remove the service account associated globally with Istio. The relevant lines in the istioctl output when running the uninstall are:

[code]

This ca

[2021-01-27 17:11] esnible opened #30442 "Confusing 'istioctl install' message"
To reproduce,

`istioctl install --set values.global.proxy.holdApplicationUntilProxyStarts=true`

The tool outputs

[code]

I couldn't figure out what that meant, @howardjohn suggested "use `--set meshConfig.defaultConfig.holdApplicationUntilProxyStarts`.  The error should probably say that."

[2021-01-27 17:20] nmittler commented on #29335
@howardjohn yeah, but it's not a blocker for 1.9. Removed the milestone

[2021-01-27 17:29] ericvn commented on #29389
Update. A change was merged, https://github.com/istio/istio/pull/30377 and it's cherry-pick, which allows the install to happen in both the PrimaryRemote and PrimaryRemote-MultiNetwork tests, but they are now failing when trying to verify cross cluster traffic.

An example failure is here: https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio.io/8854/doc.test.multicluster_istio.io/1354

[2021-01-27 18:05] howardjohn commented on #30434
I commented offline, but basically
[code]

and unset are identical in go. Its a lossy conversion from yaml <-> go types

[2021-01-27 18:12] #30399 closed

[2021-01-27 18:15] howardjohn commented on #30406
I don't think anyone without a mac can solve this.

[2021-01-27 18:27] kevin-shelaga commented on #30434
@howardjohn thank you very much

[2021-01-27 18:27] #30434 closed

[2021-01-27 18:58] ostromart commented on #30406
From the environments WG weekly:
- if this can be made to work on a mac but not linux, we can refer linux users to kind
- alternative is to move this page out to wiki, support best effort
- another point to consider is if many users are landing on this page (and they probably are since it's getting started) we should probably refactor it to use kind instead, which is much better tested

[2021-01-27 19:14] howardjohn commented on #26630
upstream issue: https://github.com/envoyproxy/envoy/issues/14587

[2021-01-27 19:15] ericvn commented on #29458
@howardjohn Is this still an issue or can it be closed?

[2021-01-27 19:17] howardjohn commented on #29458
I think its resolved now

[2021-01-27 19:17] #29458 closed

[2021-01-27 19:21] howardjohn commented on #25177
This is possibly going to be addressed in 1.10. working on a design

[2021-01-27 19:23] howardjohn commented on #24638
In 1.9, this can be accomplished with the following IstioOperator: https://gist.github.com/howardjohn/aeea8da5f86d157d998ac2cf3cb48f59

Note we will plan to make this more stable and possibly automatic in the future

[2021-01-27 19:25] brian-avery commented on #29610
Hey @stevenctl any update here? It's marked as a P0 for 1.9. Thanks!

[2021-01-27 19:39] ericvn commented on #28031
From a user perspective, the can specify the hub on the install: `istioctl install --set profile=demo --set hub=gcr.io/istio-release` to pull from another repo (either gcr.io or one where they have the images)

[2021-01-27 19:42] ericvn commented on #28031
Closing this issue (the P0 portion for pipeline failures). We can open another issue, likely a P1, where we talk about the customer impacts. As noted, there is a way to specify a different hub for things like install, and we may want to update the defaults in the charts.

[2021-01-27 19:42] #28031 closed

[2021-01-27 19:50] kyessenov commented on #30136
Test might be flakey for the same reason as https://github.com/istio/istio/issues/29400.

[2021-01-27 19:57] ericvn commented on #27420
@irisdingbj @nmittler  Should #28181 have satisfied this issue and it can be closed?

[2021-01-27 19:59] brian-avery commented on #29596
Changed this to a p1 in 1.10 due to the fact that this already works in Rosetta and won't make it into 1.9. Having builds will be important, but we also don't have a way to test this. Are there any volunteers? Thanks.

[2021-01-27 20:02] brian-avery commented on #29419
What's the status of this?

[2021-01-27 20:06] mandarjog opened #30448 "Consider periodic istiod restart - max lifetime"
Istiod (pilot) has had hard to replicate and hard to debug issues related to missing events and getting into a bad state.
One way to deal with it is to create a watch-dog-timer that kills the process. However a missing event may still continue forward progress, so the watch-dog may not catch it.

1. Institute a restart policy that limits the maximum lifetime of a pod.
2. Additionally still have a

[2021-01-27 20:11] cagataygurturk commented on #29596
I have a M1 and I am happy to help for testing

[2021-01-27 20:18] stevenctl commented on #29419
This shouldn't actually affect most users, it's related to external istiod and some things we do in integration tests that wouldn't be done in production.

The fix would be a bit complicated and isn't a priority for 1.9 as far as I'm concerned.

[2021-01-27 20:20] stevenctl commented on #27420
No, we don't have a documented path for users to enable this in production. What we're doing in integration tests is a bit non-standard and actually is the cause of some of the flakes we see.

[2021-01-27 20:21] stevenctl commented on #29610
I'm not sure if that's an accurate prioritization. I've updated the docs quite a bit, I'll let someone else sign-off on the quality there. I think for now we can downgrade this to p1.

[2021-01-27 21:12] #30112 closed

[2021-01-27 21:46] jon-whit opened #30453 "question: External (ingress) and Internal Traffic Routing to Different Subset"
I’m trying to configure Istio (currently on 1.3.0) to route to a different service subset based on the presence of a header at the ingress and internal service layer. I’m using traefik for my ingress, not an istio gateway. And my ingress, virtual service, and destination rules look like this:

[code]

and

[code]
and

[code]

My goal is to be able to route to a specific subset based on header at t

[2021-01-27 21:55] lizan opened #30454 "Support multiple trust bundles in Istio"
**Describe the feature request**

Today, Istio can't use multiple trust bundles for federation by selecting corresponding trust bundles from certificate. There is a strong desire from the community for the ability to use SPIFFE and Envoy together to achieve a “Federated Identity and Authentication scheme”.  It is going to be resolved in https://github.com/envoyproxy/envoy/issues/14614. This issue

[2021-01-27 22:02] jcmcken commented on #30280
I think we may be hitting this issue too. In our case, it's ``includeIPRanges``. It seems like Istio CNI does not respect any global settings configured via the Istio operator and instead uses its own, unconfigurable defaults, leaving annotations as the only way to customize the settings when using the CNI method. Is there no way to configure cluster-wide defaults with Istio CNI?

The injector met

[2021-01-27 22:14] jpaulodit opened #30456 "Istio Operator Not Correctly Syncing Ingress Gateway Deployment"
**Bug description**
I'm using Istio Operator to install and manage the mesh. And I am noticing that when I update the ingress gateway configuration, specifically podAnnotations with new data. The ingress gateway deployment CRD has both the old values and the new fields. I was expecting them to be updated.

[ ] Docs
[x ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and

[2021-01-27 22:26] AlexDHoffer opened #30457 "PeerAuthentication policies are inflexible with label selections"
**Describe the feature request**

Currently, PeerAuthentication policies allow both namespace-level scope and workload-level scope. However, you cannot set portLevelMtls for an entire namespace, nor can you match across multiple labels with a single policy.

Consider the following scenario to make this clearer:

Your app pods in namespace X all expose metrics on port Y. However, each app pod does

[2021-01-27 22:49] ericvn commented on #30406
As noted in the WG meeting, it seems that we might want change from using minikube to using kind as that is what we use for testing. I know there is a problem with accessing things within kind on a Mac as well.

I (and @brian-avery) have done some more investigation using several MacOS versions and several different minikube vm drivers. The VirtualBox driver worked for me on Big Sur, the Hyperkit

[2021-01-27 23:18] lambdai commented on #30199
@incfly The idea is that there are several conditions trigger this bug, starting with the host destroyed on worker threads as you discovered first.

It can be avoided by not destroying SDS api, or delegate the subscription operations to master thread, or delay the the XDS stream destroy.

[2021-01-28 01:09] kyessenov commented on #28017
I think we should have separate configs for TCP and HTTP now, but needs end-to-end validation.

[2021-01-28 01:34] istio-testing opened #30461 "[release-1.9] set node on first message only"
Manual cherrypick required.

#30390 failed to apply on top of branch "release-1.9":
[code]

[2021-01-28 02:03] costinm commented on #30454
Sounds good - current plan is for istio-agent to download the CA roots and other information at startup by asking for the ProxyConfig, and having any info that agent needs inside. That's for the agent-istiod internal protocol - not the external API.

We have several options on how to configure this - for 'alpha' we can use one configmap per federated domain, and keep the same structure with MeshCo

[2021-01-28 02:23] stevenctl commented on #29389
@nmittler sounds like the pods in cluster 2 are using cluster 2's control plane

[2021-01-28 02:54] morvencao commented on #30056
Closing as https://github.com/istio/istio/pull/30057 has been merged.

[2021-01-28 02:54] #30056 closed

[2021-01-28 02:55] morvencao commented on #30456
That's because we use a strategic merge patch to update the k8s settings.
similar to https://github.com/istio/istio/issues/29188

[2021-01-28 03:18] #29490 closed

[2021-01-28 03:28] hzxuzhonghu commented on #25350
/assign

should we apply the strip_any_host_port only to the gateway

[2021-01-28 03:30] howardjohn commented on #25350
One concern I have is that the flag actually changes the forwarded Host header flag. I am not sure if that will negatively impact anyone. I am guess not, especially at the gateway?

[2021-01-28 04:18] hzxuzhonghu commented on #30181
It looks this roundrobin, could we dump the configdump

[2021-01-28 04:42] jpaulodit commented on #30456
Thanks for the quick response @morvencao . Is this supposed to be fixed by PR [#29166 ](https://github.com/istio/istio/pull/29166/files)? I'm already on 1.18.

Do you have any suggestions on how to handle this issue?

[2021-01-28 05:02] morvencao commented on #30442
Yes, it should be `meshConfig.defaultConfig.holdApplicationUntilProxyStarts`

[2021-01-28 05:03] #27177 closed

[2021-01-28 05:04] #27757 closed

[2021-01-28 05:04] #27921 closed

[2021-01-28 05:05] #27943 closed

[2021-01-28 05:05] #27968 closed

[2021-01-28 05:05] #27969 closed

[2021-01-28 05:27] #30375 closed

[2021-01-28 06:04] shamsher31 commented on #30461
Closed by https://github.com/istio/istio/pull/30462

[2021-01-28 06:04] #30461 closed

[2021-01-28 07:30] hzxuzhonghu commented on #25350
The Host header won't be forwarded by gateway

[2021-01-28 07:34] shamsher31 commented on #30208
@esnible I have fixed the namespace issue for the controlz dashboard. Please take a look https://github.com/istio/istio/pull/30467

[2021-01-28 08:40] Baitanik commented on #13578
I am facing the same issue...
[code]
virtual service:
[code]

destination rule:
[code]

when i am trying to call ... it is giving 503 error...
[code]
could anyone please help

[2021-01-28 08:44] hzxuzhonghu commented on #30448
I donot think we should restart to hide the bugs if there are any.

[2021-01-28 08:53] hzxuzhonghu commented on #30457
One alternative  is: extend the matchlabels with MatchExpressions

[2021-01-28 09:05] hzxuzhonghu commented on #30453
Does  traefik supports istio virtualservice

[2021-01-28 09:05] hzxuzhonghu commented on #30453
Does  traefik supports istio virtualservice

[2021-01-28 09:19] szibis commented on #29555
I have the same issues udp also is intercepted.

[code]
And then not forwarding DNS to the VM resolver. Istio should only handle its own addresses and reset. should go to a local resolver.

[2021-01-28 09:40] szibis commented on #29224
I have the same issue.
When bellow setting is set in cluster.env setting
[code]
Then all is. captured by Istio
[code]
Traffic goes into the VM Istio to resolve all queries that the local resolver cannot and all others should be pushed back to VM resolver which is set like bellow
[code]
[code]
But look like that traffic is just always going to istio and stays there without any action and any resolu

[2021-01-28 09:54] hzxuzhonghu commented on #29224
THis is a known bug, currently dns request from local dns server to external upstream dns will be intecepted back to istio-agent

[2021-01-28 09:56] hzxuzhonghu commented on #29224
@szibis Let's move the discussion to https://github.com/istio/istio/issues/30309

[2021-01-28 10:06] szibis commented on #30309
Same on AWS EC2 with Ubuntu 18.04 based on systemd-resolvd.

[2021-01-28 10:17] pio2pio commented on #26367
I am seeing similar behaviour on: `EKS v1.18.9-eks-d1db3c, istio v1.7.6`. This happens only to pods that have GATEWAY-REDINNESS injected by aws-alb-controller. They part of the mesh, but no any other Istio config eg. gw or virtual-service is configured, the `proxy-status` command shows all in sync.

Warning: `Readiness probe failed: Get http://10.121.12.153:15021/healthz/ready: dial tcp 10.121.12.

[2021-01-28 11:00] baoervsdier opened #30470 "Problem:Problem with istio proxy headers"
**Problem description**

I have installed istio 1.7.4 and configured istio for our applications. we are facing issue when we call application from another application. Following is the error we are getting.

Unexpected error occurred. HTTP req body is null, ex=class org.springframework.web.HttpMediaTypeNotSupportedException, msg=Invalid mime type  application/json,application/json;charset=UTF-8 :

[2021-01-28 11:01] JorritSalverda opened #30471 "Flatten helm charts directory structure to use as single Helm repo using helm-git plugin"
**Describe the feature request**

In order to use the Helm charts without manually downloading the repository first I use the [helm-git](https://github.com/aslafy-z/helm-git) plugin (in combination with [helmfile](https://github.com/roboll/helmfile)) so I can use the Istio Github repository straight away as if it's an actual remote Helm repository, by adding it as follows:

[code]

From there on I

[2021-01-28 11:17] vinemish commented on #30393
@howardjohn not sure why it's running second time but I suspect the moment PREROUTING pkt nd bytes counter increases it restarts the istio pod and starts the init pod.

[2021-01-28 13:26] mandarjog commented on #30448
I understand the sentiment behind not hiding bugs, however when these bugs hit they can cause production outage, and they are very difficult to reproduce. A simple restart fixes the problem, what do others think ? @costinm @howardjohn @ramaraochavali ?

[2021-01-28 13:59] ramaraochavali commented on #30448
While I agree that hiding bugs via restart is not good, I think there is no harm in trying restart option.

[2021-01-28 14:16] brian-avery commented on #29419
Thanks

[2021-01-28 14:22] rvgud opened #30472 "Pilot Discovery pod is consuming High CPU"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
Pilot cpu utilisation is high. With 700 endpoints and only having istio-proxy sidecar. 5m avg config push time 30s.

[ ] Docs
[ ] Installation
[ ]

[2021-01-28 14:24] tariq1890 commented on #24720
Hi, has this been backported to Istio 1.7?

[2021-01-28 14:36] ericvn commented on #30406
As the issue I was having has been rectified by switching the minikube vm driver and the instructions on the page are now working, I'll close this issue. The step to run `minikube tunnel` is not needed on the page as the page uses node ports, but the extra paragraph doesn't cause anything to fail.

It may make sense to create an issue for istio.io to revisit the page and determine if minikube is t

[2021-01-28 14:36] #30406 closed

[2021-01-28 14:44] ericvn commented on #30136
Yes, the #29400 was written initially written for when the test failed 100%, but the 100% failure was fixed in the istio code, and now the test flakes as noted here.

[2021-01-28 14:50] ericvn commented on #28403
This work still needs to be done.

[2021-01-28 15:00] ericvn commented on #29390
Any comments on the above?

[2021-01-28 15:02] howardjohn commented on #25350
are you sure? I think I was testing this and saw it did? if not, then what
host header is used?

On Wed, Jan 27, 2021, 11:30 PM Zhonghu Xu <notifications@github.com> wrote:

[2021-01-28 15:12] jon-whit commented on #30453
@hzxuzhonghu it does not appear to. But I'd like to better understand why it matters..? I thought that a virtualservice defines routing rules and matches on incoming hosts after the external routing has occurred. Could you help me understand my I can't use traefik as a replacement for Istio Gateway _and_ use the virtualservice routing rules to achieve what I'm trying to achieve.

[2021-01-28 15:50] howardjohn commented on #28402
not stale

[2021-01-28 16:10] SpecialYang commented on #30435
Try read this doc https://istio.io/latest/docs/reference/config/networking/destination-rule/#ClientTLSSettings.

[2021-01-28 16:21] howardjohn commented on #30472
Please upgrade, 1.4 is no longer supported and performance has improve **significantly** since then. See https://istio.io/latest/news/support/announcing-1.6-eol/ and others like it

[2021-01-28 16:21] #30472 closed

[2021-01-28 16:24] howardjohn commented on #30470
Please give more details about the request you are sending, its not clear. Debug and access logs from both sidecar would help: https://github.com/istio/istio/wiki/Troubleshooting-Istio

[2021-01-28 16:26] howardjohn commented on #30457
I understand the request, but the current API design seems consistent with Kubernetes. For example, you would have to make Service a..z, even if they have the same port.

[2021-01-28 16:27] howardjohn commented on #30453
does traefik have a sidecar?

[2021-01-28 16:33] #30442 closed

[2021-01-28 16:41] baoervsdier commented on #30470
my curl like this: curl --location --request GET 'localhost:8080/api/******' ,It was normal for us to visit before installing istio. After installing it, we found that the content type of the header had changed.The specific error is as follows：
![image](https://user-images.githubusercontent.com/32762305/106169450-59a1dc00-61ca-11eb-9974-915b31452252.png)

[2021-01-28 16:42] jon-whit commented on #30453
@howardjohn my traefik instance does not currently have an istio sidecar, no.

[2021-01-28 16:45] howardjohn commented on #30470
Please attach the debug logs as requested, I don't think Envoy is adding
these headers.

On Thu, Jan 28, 2021 at 8:42 AM baoervsdier <notifications@github.com>
wrote:

[2021-01-28 16:45] howardjohn commented on #30453
Istio routing only happens on Istio gateways or sidecars. So if you have client ---> traefik ---> pod, you will not see any effect of GW/VS. Even if the destination pod has a sidecar, since routing happens only on outbound traffic.

[2021-01-28 16:46] bianpengyuan commented on #24720
Yes it will be in next 1.7 release.

[2021-01-28 16:54] esnible opened #30473 "'istioctl pc <pod>' reports sync diff if mesh contains EnvoyFilter with WASM with empty root_id"
To reproduce you need an EnvoyFilter targeting a pod, containing an empty root_id.

I won't supply the example here but take one of our WASM examples and change the root_id to "".

The `istioctl proxy-config <pod>` diff shows

[code]

because Envoy suppresses reporting the root_id, but XDS generates the empty string root ID.

Perhaps the problem is related to Golang not having a null string and C+

[2021-01-28 17:23] nmittler commented on #29389
@linsun this is an actual bug and a regression for multi-cluster. I don't have the feeling that istiod-less remotes are in a state where they're ready to be made a default. For example, I'm not sure we've thought through the upgrade story. For 1.9, I think the safe move is to go back to the legacy istiod-based remotes by default. This includes reverting our tests as well.

This seems like a releas

[2021-01-28 17:29] nmittler commented on #30181
This is a regression, so I suspect it's a release blocker

FYI @smawson @stevenctl @duderino @ericvn

[2021-01-28 17:46] AlexDHoffer commented on #30457
You can apply destination rules that take effect for all services in an entire namespace using a wildcard host (e.g. ``host: '*.my_namespace.svc.cluster.local'). I suppose I don't see why peer/request authentication resources couldn't support something like that under the same token.

[2021-01-28 17:50] nmittler commented on #30181
FYI here are some recent locality LB-related PRs:

https://github.com/istio/istio/pull/29238
https://github.com/istio/istio/pull/29513

[2021-01-28 17:58] ericvn commented on #30181
@nmittler I concur with the release blocker and had marked this a such earlier. https://github.com/istio/istio/pull/29238 seems suspiciously like it might be the cause.

[2021-01-28 17:59] ericvn commented on #29389
I had previously marked this as a release-blocker.

[2021-01-28 19:13] incfly commented on #30349
It seems like solutions/configs we are talking about so far all assume trust domain aliases are still configured. I understand that is needed in order to make client side TLS working.

Though the outcome seems makes the servers side authz policy complicated. from your use case you want something to only take care of the client side trust domain alias for secure naming config of mTLS on client, but

[2021-01-28 19:22] kautella commented on #30041
+1 on this!
Additionally, @akhalyavka how were you able to get the RPM from the docker image?

[2021-01-28 19:40] #30208 closed

[2021-01-28 19:41] istio-testing opened #30479 "[release-1.7] Fix dashboard controlz could not port forward to istiod pod"
Manual cherrypick required.

#30467 failed to apply on top of branch "release-1.7":
[code]

[2021-01-28 19:41] istio-testing opened #30480 "[release-1.8] Fix dashboard controlz could not port forward to istiod pod"
Manual cherrypick required.

#30467 failed to apply on top of branch "release-1.8":
[code]

[2021-01-28 19:41] somejfn opened #30481 "It does not seem NET_ADMIN is really needed for Istio-CNI to work"
**Bug description**

Running istio 1.8.1 on K8s 1.19.2 with CNI enabled and a custom PSP for the istio-cni service account,  I did not grant any capabilities (see PSP below) and traffic redirection is working... so Im confused if that requirement is something of the past.

Documentation page  https://istio.io/latest/docs/ops/common-problems/observability-issues/ says:

" PodSecurityPolicy is being

[2021-01-28 20:14] yangminzhu commented on #29390
I will take a look at this today

[2021-01-28 20:17] linsun commented on #29389
@nmittler @stevenctl if you look at our current docs in 1.9, last change is 3 months ago by @nmittler, and we are still using the remote profile (which is same as default profile right now with pilot enabled).  So we are not running with no istiod in istiod-remote in our docs testing.  remote cluster has its own istiod, and it is using primary cluster's istiod for xds only but nothing else.  Does

[2021-01-28 20:23] markrogers95 opened #30482 "Applying Sidecar resource with WorkloadSelector causes VirtualServices to be ignored"
**Bug description**

Applying a Sidecar resource with a WorkloadSelector that configures egress traffic to given ports onto a cluster with VirtualServices already in place causes the pre-existing VirtualServices to be omitted when the new config is pushed to Envoy.

[ ] Docs
[ ] Installation
[x] Networking
[x] Performance and Scalability
[ ] Extensions and Telemetry
[x] Security
[ ] Test and Relea

[2021-01-28 21:01] g-lam commented on #30349
@incfly My understanding of trust domain alias is for the purpose of non-disruptive trust domain migration. I would not use it for other unintended purposes. I am trying to find out what has changed between 1.7 and 1.8 that we're no longer able to have a multi-cluster mesh with different trust domains. I am in the process of reconstructing 1.7 clusters to mimic 1.8 behavior as well as modifying my

[2021-01-28 21:03] nmittler commented on #29389
@linsun Yes, there is an istiod in the cluster, however istio.io tests fail due to the fact that installation appears to be using the remote's istiod for discovery. In other words, the installation is broken for remote clusters in 1.9. The problem isn't the docs, it's the installation itself. The reason it wasn't discovered by integration tests was that we moved all of the integ tests over to usin

[2021-01-28 21:15] jon-whit commented on #30453
@howardjohn ok let me try that out again, because I wasn't able to get it to work with an Istio Gateway either. Let me get back with you.

[2021-01-28 23:18] bianpengyuan opened #30484 "Istio Envoy fork tsan test failure"
Istio envoy 1.7 branch tsan test always fails. Here is an example failed run: https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_envoy/293/test-tsan_envoy_release-1.7/1354917515653812224

To temporarily work around that, we will make tsan test option there, and use this issue to track fixing and enabling it again.

[2021-01-28 23:19] howardjohn opened #30485 "Add VMs to stability test"
Likely in the initial iteration this will be adding a VM as a one-off task to the cluster. In future, provisioning can be automated

[2021-01-29 00:03] pramodrj07 commented on #29136
/assign

[2021-01-29 00:55] pramodrj07 commented on #29972
Hi @howardjohn. I am interested in testing this. I have a couple of questions related to this.

1. Would the "kind" clusters suffice when we are running multi clusters? OR Should we have any specific way that k8s clusters are deployed? Any pointer to how and where(test CI dashboard) it is tested would be helpful to get the versions of Kubernetes which you are using.
2. I see a couple of multi-clus

[2021-01-29 01:28] bianpengyuan commented on #30484
Same happens to 1.8

[2021-01-29 01:32] hzxuzhonghu commented on #30393
Init container runs until successfully, there is only one possibility, it fails during pod bootstrap, and restarted. Not sure if the initcontainer start is idempotently

[2021-01-29 01:39] howardjohn opened #30487 "Add metrics to workload entry auto registration"
We should have metrics for number of create/update/delete and failures

[2021-01-29 01:47] hzxuzhonghu commented on #25350
You are right, the Host is stipped and forwarded to backend.

[2021-01-29 01:58] hzxuzhonghu commented on #30457
I think this is supported, it is equal to namespace level policy.

[2021-01-29 02:37] irisdingbj opened #30489 "istio debug build does not work any more"
`make DEBUG=1 build`

but fails when dlv attach to the process: could not open debug info

[2021-01-29 02:42] #30388 closed

[2021-01-29 04:39] ramaraochavali commented on #30181
I am not able to find any thing how that can cause this issue. But I will push a PR to revert #29238 to master today. @hzxuzhonghu WDYT? Any other suggestions?

[2021-01-29 04:52] howardjohn opened #30498 "status distribution: NACKs treated as reconciled"
Note - I didn't get a chance to test this personally, this is based on code observation.

It appears a nack will be treated the same as an ack for status distribution. This leads to incorrect information. Users will query the reconciled status and assume the config has applied - in reality it was rejected.

[2021-01-29 05:02] howardjohn commented on #21394
not stale

On Thu, Jan 28, 2021, 9:01 PM Istio Policy Bot <notifications@github.com>
wrote:

[2021-01-29 05:05] #28007 closed

[2021-01-29 05:28] ramaraochavali commented on #28942
reopening this since the PR is being reverted

[2021-01-29 05:32] morvencao commented on #30456
I don't think https://github.com/istio/istio/pull/29166 fixed the issue.
Before we figure out the fix, you can use the advanced k8s overlay to workaround this, for example:

[code]

It will delete the old annotation `ad.datadoghq.com/istio-proxy.check_name` and add new annotation: `ad.datadoghq.com/istio-proxy.check_names: istio`

[2021-01-29 06:57] #27875 closed

[2021-01-29 07:06] JohnHaan commented on #27513
Hi, I met the same error.
We have two external domain thosse are api-dev.-----.com / api-qa.-----.com
We can access api-dev.-----.com but cannot access api-qa.-----.com

api-dev api call:
[code]

api-qa api call:
[code]

istio-proxy error message:
[code]

Is this a bug of istio?

[2021-01-29 07:13] hillbun opened #30501 "How to Redirect HTTP to HTTPS with specificed domain name?"
https://istio.io/latest/docs/reference/config/networking/gateway/

[code]

if I only wanto to redirect eu.bookinfo.com to HTTPS, how to setup?

[2021-01-29 07:34] yangminzhu commented on #29390
also updated the doc for the clock skew, it's not rounding, the token `nbf` and `exp` is extended for 60 seconds respectively.

[2021-01-29 07:40] hzxuzhonghu commented on #30181
Is there evidence #29238 is the cause? We should have a test, at least from https://github.com/istio/istio/issues/30181#issuecomment-763252761, i can not see this is related

[2021-01-29 08:38] kittydoor commented on #21094
This issue is not stale.

[2021-01-29 09:38] aaftio commented on #24075
I am using istio 1.6 and add the **`meshConfig.enablePrometheusMerge=true`** config , it works now, thank you.

[2021-01-29 11:45] objectiser opened #30503 "Embed OpenTelemetry Collector within Istio Proxy"
**Describe the feature request**

As outlined on the [OpenTelemetry website](https://opentelemetry.io/): "OpenTelemetry is a collection of tools, APIs, and SDKs. You use it to instrument, generate, collect, and export telemetry data (metrics, logs, and traces) for analysis in order to understand your software's performance and behavior."

This proposal is to embed the OpenTelemetry Collector, with

[2021-01-29 14:14] nikkout opened #30504 "Memory leak in istio-proxy"
[cpu.zip](https://github.com/istio/istio/files/5894320/cpu.zip)

(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
Istio-proxy is consuming increasing amount of memory for an application with high

[2021-01-29 15:54] howardjohn commented on #30164
35% of istiod CPU is spent in galley/ with analysis enabled. I think my previous 10% claim was when distribution was enabled, which took up a large chunk:
![2021-29-01_07-53-23](https://user-images.githubusercontent.com/623453/106296980-23cf1880-6207-11eb-88e6-83a585d61d2b.png)

[2021-01-29 16:00] howardjohn commented on #21094
Agreed, sorry

[2021-01-29 16:05] howardjohn commented on #28015
not stale

[2021-01-29 16:22] #30489 closed

[2021-01-29 16:36] howardjohn commented on #30482
Without more details of the actual Sidecar spec and virtual service spec it sounds like this is intended - although it may be bug. This is what Sidecar.Egress does - it filters out configs not in scope.

Can you add the configs?

[2021-01-29 16:37] howardjohn commented on #30501
[code]

[2021-01-29 16:41] fernandodelaiglesia commented on #29605
I tried to (live) edit the service `istio-eastwestgateway` to add the external IP to `status.LoadBalancer.ingress` in the AWS cluster , but as soon as I change it I get it, and realize that the `hostname` with the dns name of the AWS ELB is back again with no `ip` . So it is clear that I didn't understand what are you reffering to as "edit the service".

In the other side I followed the procedure

[2021-01-29 16:54] crrazyman opened #30508 "Istio with multiple ingressgateways + cert-manager with acme issuer not working"
**Bug description**
I have a situation where i need multiple istio ingressgateways (actually i need multiple loadbalancers and multiple IPs), each for each client. I want everyhting to be in the client's namespace "xxx". The ingressgateway, the cert-manager issuer, the certificate, everything.

The ingressgateway works perfect in the client's namespace:

[code]
I also have a DNS entry for **xxx.ex

[2021-01-29 17:06] howardjohn commented on #30504
Do you have any graph of the memory usage? how high does it go and how quickly?

[2021-01-29 17:11] howardjohn opened #30510 "TestXdsProxyHealthCheck test flake"
https://prow.istio.io/view/gs/istio-prow/logs/unit-tests_istio_postsubmit/1355198515185192960

[2021-01-29 17:17] howardjohn commented on #30508
Istiod can only handle Ingress for a single ingressgateway, so unfortunately there is no way to accomplish that today

[2021-01-29 17:25] nmittler commented on #30181
@hzxuzhonghu no evidence ... just looking at issues that are explicitly related to locality LB. The real issue could be deeper. Can you help investigate?

[2021-01-29 17:26] markrogers95 commented on #30482
I've since done some more digging and I can only replicate this remotely. Locally, on microk8s, this works as expected and filters out any VirtualServices not accessible to the Sidecar, but retains those that are.

I'm following the same replication steps in each scenario but perhaps there is some nuance in applying a Sidecar to a remote cluster that I am missing? Locally I am just applying the Si

[2021-01-29 17:30] nmittler commented on #28942
@ramaraochavali please just test locally rather than reverting?

[2021-01-29 17:33] stevenctl commented on #29605
Rather than editing the `.status.LoadBalancer`, which is controlled by AWS, edit `spec.externalIPs`:

https://kubernetes.io/docs/concepts/services-networking/service/#external-ips

[2021-01-29 17:34] stevenctl commented on #29605
There's a chance that isn't working until 1.9: https://github.com/istio/istio/pull/30059

[2021-01-29 18:06] howardjohn opened #30511 "status distribution: "X/Y proxies up to date" api is not feasible"
Part of https://github.com/istio/istio/issues/30120

[code]

4/4 proxies up to date is wrong/misleading. I have many more proxies in my cluster at this point. I recommend we just say its been distributed to ALL proxies, rather than a fixed number. I think the number is also (sometimes?) 4x the number of proxies, one for each resource type.

[2021-01-29 18:06] howardjohn commented on #30511
A boolean is also problematic, as a single bad client will destroy the entire feature and cause a deadlock in users

[2021-01-29 18:06] howardjohn opened #30512 "status: analysis level formatted wrong"
Part of https://github.com/istio/istio/issues/30120

[code]

level: 3 does not help, it should be a string. Somehow it showed strings once, but then never after that, so I don't know what happened there

[2021-01-29 18:06] howardjohn opened #30513 "status: analysis missing message"
Part of https://github.com/istio/istio/issues/30120

[code]

The message only has a code, which is not very useful. I get a link to the docs - but I never see the error message so I don't know what isthe problem. A code is not sufficient to diagnose, I may have 100s of fields in some resource and only one is invalid, for example

[2021-01-29 18:07] howardjohn opened #30514 "status: analysis mixes camel and snake case in a bunch of places"
Part of https://github.com/istio/istio/issues/30120

[code]

documentation_url should be documentationUrl

[2021-01-29 18:07] howardjohn opened #30515 "status: analysis documentation url is wrong"
Part of https://github.com/istio/istio/issues/30120

[code]

The version is wrong. Its meant to be v1.10, (Which is also wrong, is it doesn't exist yet) because we do baseVersion[:3] in the code so it doesn't handle 2 digit numbers.

[2021-01-29 18:07] howardjohn commented on #30120
I split this into 5 issues. closing

[2021-01-29 18:07] #30120 closed

[2021-01-29 18:37] istio-testing opened #30517 "[release-1.8] pilot: skip privileged ports when building listeners for non-root gateways"
Manual cherrypick required.

#28268 failed to apply on top of branch "release-1.8":
[code]

[2021-01-29 18:49] mandarjog commented on #30164
What load was istiod under at this point? I assume that galley load scales by number of config changes.
istiod load will scale by config changes, end point changes and number of connected clients.

[2021-01-29 18:50] lambdai commented on #30199
Confirmed with @howardjohn, set to P2 since it's not regression and the test case is failing rarely.
And no extra efforts at istio code, leave it to envoy.

[2021-01-29 18:52] howardjohn commented on #30164
just running 15 ns of isotope. Galley is scaling poorly with number of config changes despite reading the same as istiod stack. I believe its using an older, less efficient, k8s client implementation

[2021-01-29 19:19] lizan commented on #30454
cc @mathetake who is going to work on Envoy side implementation. Can you start a doc describing the multi-root SPIFFE bundles API and how it can be mapped to Istio API? We can then discuss it in Istio Security Meeting.

[2021-01-29 19:19] #30119 closed

[2021-01-29 19:38] nikkout commented on #30504
Unfortunately I don't have a graph. The memory increases a few hundreds kilobytes per second with 7000 qps. Also it has reached up to 25 gb after many hours under full load. In case there are resource limits, typically at 1gb of memory the envoy is killed with OOM several times during traffic, causing the container to restart. The memory doesn't stopped increasing even after the traffic was stoppe

[2021-01-29 20:16] howardjohn commented on #30504
Got it, so massive leak then if its hitting 25gb. Is this consistently reproducible? And is it reproducible with all traffic or only some specific pattern (http2, some specific app, etc)?

If its reproducible, it may be worthwhile to try temporarily disabling telemetry (`kubectl delete envoyfilter -n istio-system --all`) and/or upgrading to Istio 1.8 or 1.9rc to see if other of those are impacting

[2021-01-29 20:16] #30484 closed

[2021-01-29 20:44] nikkout commented on #30504
It is reproducible, I will try to capture a heap dump as well. Until now I have observed this leak only with a specific app and http traffic. I will also try to reproduce it with 1.8.

[2021-01-29 22:21] istio-testing opened #30522 "[release-1.9] fix discoveryAddress in configmap template"
Manual cherrypick required.

#30483 failed to apply on top of branch "release-1.9":
[code]

[2021-01-29 23:40] jasonwzm opened #30526 "Provide instructions on revisioned upgrade of east-west gateway"
**Describe the feature request**
The eastwest gateway is currently revisioned, but because it is not installed with istioctl, the upgrade experience is not well documented. We need to document that in docs.

Later if we move it in a separate profile, it can be better handled by istioctl.

/cc @nmittler @stevenctl @duderino

**Describe alternatives you've considered**

[X] Docs
[ ] Installation
[ ]

[2021-01-30 02:27] ericvn commented on #29389
I ran the istio.io tests against the 1.9 branch commit which contains the cherry pick for `fix discoveryAddress in configmap template` (https://github.com/istio/istio/pull/30524). The multicluster tests did pass.

[2021-01-30 03:32] wojtek-viirtue commented on #29605
@fernandodelaiglesia Thank you for pointing out https://github.com/istio/istio/issues/29359#issuecomment-739258089 It helped resolve my service discovery issue between an On Prem and GCP (non GKE) cluster that are both using NodePort services for eastwest ingress and it worked like a charm!

@stevenctl will the workaround using meshNetworks still be required after https://github.com/istio/istio/pu

[2021-01-30 04:19] hzxuzhonghu commented on #30181
Suspect if the locality is set correctly on the endpoint

[2021-01-30 05:03] #27138 closed

[2021-01-30 05:03] #27142 closed

[2021-01-30 05:04] #27851 closed

[2021-01-30 05:04] #28000 closed

[2021-01-30 05:04] #28030 closed

[2021-01-30 05:05] stevenctl commented on #29605
I will try to make sure it gets into 1.9, the final code freeze is Monday.

[2021-01-30 05:16] istio-testing opened #30530 "[release-1.8] Fix externalips overridden"
Manual cherrypick required.

#30059 failed to apply on top of branch "release-1.8":
[code]

[2021-01-30 05:18] stevenctl commented on #29605
By the way, that PR shouldn't be required unless you're using NodePort, it sounded like @fernandodelaiglesia was trying to edit the loadbalancer instead of the spec externalIP

[2021-01-30 07:31] zenvdeluca commented on #30349
can confirm being also affected by the same issue which is blocking us from upgrading our 1.7.4 clusters to 1.8.x

[2021-01-30 10:13] samene opened #30531 "ISTIO_META_DNS_CAPTURE: "true" cannot resolve hostnames in another namespace for some applications"
When the `ISTIO_META_DNS_CAPTURE` feature is enabled certain applications are not able to resolve service names in another namespace. For example, java 11 apps, netcat etc.

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Steps to reproduce the bug

[2021-01-30 16:40] shamsher31 commented on #30480
Closed by https://github.com/istio/istio/pull/30495

[2021-01-30 16:40] #30480 closed

[2021-01-31 05:04] #27671 closed

[2021-01-31 05:34] rittneje commented on #26099
Please remove the stale label. This is a feature request that is very much still needed.

[2021-01-31 07:37] JonasJasas commented on #6706
If I just change Deplyment to DaemonSet using exported manifest getting this error (using Istio 1.8.2):

`Unable to attach or mount volumes: unmounted volumes=[istio-token], unattached volumes=[istiod-ca-cert gatewaysdsudspath config-volume ingressgateway-certs istio-envoy istio-ingressgateway-service-account-token-xrpb7 istio-token istio-data podinfo ingressgateway-ca-certs]: timed out waiting fo

[2021-01-31 08:22] prary opened #30537 "Exposing istio-discovery deployment argument in Helm Template"
**Describe the feature request**
Can't configure all the argument provided in https://istio.io/latest/docs/reference/commands/pilot-discovery/ in helm templates
e.g  log_stacktrace_level in https://github.com/istio/istio/blob/1b81be10cae774a2a8d7ab8113a437246ef230ee/manifests/charts/istio-control/istio-discovery/templates/deployment.yaml#L73
and hence in values.yaml

**Describe alternatives you've

[2021-01-31 09:34] Ultrafenrir commented on #18692
Guys ?

[2021-01-31 12:35] g-lam commented on #30349
After running more tests it is clear to me that the sidecar is starting to validate trust domain in 1.8. I think it is related to https://github.com/istio/istio/pull/26224, where trust domain validation on the sidecar level was introduced and therefore broke our functionality. Right now the allow-list is implicitly derived from local trust domain aliases. We need a way to explicitly define the all

[2021-01-31 12:38] yfried commented on #29642
Hi, is there an update on this? I see that the PR to fix it is closed

[2021-01-31 12:56] yfried opened #30538 "Istiod doesn't respect affinity or nodeSelector attributes"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
Unlike Istio addons, the core istiod component doesn't provide a way to set nodeSelector and affinity or anti-affinity attributes.

[ ] Docs
[x ]

[2021-01-31 16:43] bharath-12345 opened #30539 "Faulty istiod pod not pushing configs to sidecars"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
One fine day, we were receiving a lot of alerts of 503s service unavailable for different services. Upon checking the services, we found that they

[2021-01-31 17:51] ericvn commented on #30181
I did try and setup a local environment for testing, we don't document how to do this using personally built images but I hopefully have the test using them, and if I reverted the above mentioned PR the tests still fail.

[2021-01-31 18:52] kubealex opened #30540 "Integrate an existing prometheus instance"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**

[ X ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ X ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] U

[2021-01-31 22:05] richardwxn commented on #30441
I think the issue is because the SAs also installed with revision label, though some of them are not actually revisioned. I would create a PR to fix it.

[2021-02-01 00:59] adiprerepa commented on #30510
ran the test multiple times locally without luck of reproducing it. How do you recommend reproducing it?

[2021-02-01 01:15] crowfrog commented on #30504
one correction: it's HTTP2 traffic

[2021-02-01 01:17] adiprerepa commented on #30511
What is the alternative when all the proxies aren't up to date? Would the message just be "Some proxies not up to date"?

[2021-02-01 01:24] adiprerepa commented on #30511
I mean at that point, is there any harm in removing the `Message` field entirely? Seeing as the same info is being reflected in the `Status` field?

[2021-02-01 01:33] Xunzhuo opened #30541 "Doc Error"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**

Chinese version of docs :
![bug](https://user-images.githubusercontent.com/48784001/106405251-8d9e2b00-6470-11eb-9865-b2b45b1d9b34.png)

apply is

[2021-02-01 01:48] adiprerepa commented on #30512
it seems its already a string:
[](https://github.com/istio/istio/blob/master/galley/pkg/config/analysis/diag/message.go#L73)

so odd..

[2021-02-01 03:49] feuyeux opened #30545 "WASM propaganda header doesn't match in VirtualService"
**Bug description**
The [wasm](https://github.com/feuyeux/rust-wasm-4-envoy/blob/main/propaganda-filter/src/lib.rs) and its [envoyfilter](https://github.com/feuyeux/rust-wasm-4-envoy/blob/main/propaganda-filter/sh/istio/mesh/hello1_v2_envoyfilter.yaml) are used to propaganda header in outbound, and the [virtualservice](https://github.com/feuyeux/rust-wasm-4-envoy/blob/main/propaganda-filter/sh/ist

[2021-02-01 04:27] ramaraochavali commented on #30181
Is it possible to get config_dump on 1.8.2  and 1.9?

[2021-02-01 04:32] howardjohn commented on #30545
I think this is either an issue in your wasm code (possibly calling the wrong apis or injecting in the wrong place) or envoy triggers the match logic before your additional header is added.

do it need to be injected before http.router filter perhaps?

[2021-02-01 04:33] howardjohn commented on #30537
I don't think our templates can reasonably expose every possible option. I would recommend using some patching or overlay mechanism as provided by the IstioOperator API or kustomize it many others

[2021-02-01 04:36] howardjohn commented on #30531
can you add the output of `curl localhost:8080/debug/nsdz?proxyID=<POD-NAME>`?

replace pod name with the client

[2021-02-01 04:36] howardjohn commented on #30531
Run that in istiod pod

[2021-02-01 05:41] morvencao commented on #30538
It is recommend to set resources/affinity/annotation... with k8s settings, see: https://github.com/istio/istio/tree/master/operator#new-api-customization
We don't want to add helm parameters for each option in the values.yaml any more, it's hard to maintain so many options in the helm values.

[2021-02-01 05:49] morvencao commented on #30537
@prary An example to set additional args to istiod deployment with k8s overlay:
[code]

[2021-02-01 06:42] shamsher31 commented on #30522
Closed by https://github.com/istio/istio/pull/30524

[2021-02-01 06:42] #30522 closed

[2021-02-01 07:46] yuzisun opened #30547 "Istio ingress does not work with ExternalNames"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**

Istio ingress does not work with ExternalNames and getting 404 when accessing the ingress

[code]

This is the route in the envoy config and upst

[2021-02-01 07:49] halvards opened #30548 "Operator support for image digests"
**Describe the feature request**

The `istio.operator.v1alpha1` API should support deploying container images by digest for components such as pilot, ingress/egress gateways, and the sidecar proxy, without resorting to overlay patches.

Currently, the spec as documented only allows users to specify the tag. There is no field users can set to either instruct istioctl to resolve tags to digests prio

[2021-02-01 07:58] Baitanik commented on #30435
Yeah thanks @SpecialYang .. I have configured the destination rules ... but i right now i am stuck at converting nginx ingress to istio vs ..
https://github.com/istio/istio.io/issues/8874

how do I give /$2 in the istio vs rewrite rules ? or how to achieve the same functionality ..

[2021-02-01 08:27] yuzisun commented on #30547
[config_dump.log](https://github.com/istio/istio/files/5902694/config_dump.log)

[2021-02-01 08:27] samene commented on #30531
got a 404. Do I need to put namespace too somewhere in the query

[code]

[2021-02-01 08:58] SpecialYang opened #30550 "Add local time support for istio log"
The current time format of istio log is UTC format. Maybe some users like local time format.
Should we add option for supporting local time format? If so, I want to support it. Thanks.

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[X ] User Experience
[ ] Developer Infrastructure

[2021-02-01 09:40] #25690 closed

[2021-02-01 09:41] samene commented on #30531
[code]

[2021-02-01 09:59] fernandodelaiglesia commented on #29605
At first I was trying to edit the istio-eastwestgateway service (LoadBalancer)  (see mi comment https://github.com/istio/istio/issues/29605#issuecomment-769915425).

Because this didn't work I edited the configmap/istio as described in the  https://github.com/istio/istio/issues/29359#issuecomment-739258089

[2021-02-01 10:08] SpecialYang commented on #30435
I think you do not need to rewrite path, try to remove the following config for every route.
[code]

[2021-02-01 10:12] feuyeux commented on #30545
wasm code is here:https://github.com/feuyeux/rust-wasm-4-envoy/blob/main/propaganda-filter/src/lib.rs

[2021-02-01 10:38] Baitanik commented on #30435
This works.. Thank you @SpecialYang ...
now it is working with http backend..

let me try the https backend now...

[2021-02-01 11:36] ramaraochavali commented on #28942
@nmittler I do not know how to test it locally - but seems @ericvn tested it and found it is not because of this PR.

[2021-02-01 11:48] nikkout commented on #30504
I captured the heap dump, also any envoy filters had been removed.
[heap.zip](https://github.com/istio/istio/files/5903720/heap.zip)

[2021-02-01 12:25] Baitanik commented on #30435
Https i am getting some errors...
for the ingress rule mentioned below
[code]
I have following vs and destination rule...
[code]

[code]

/api/kubernetes/ --> that is giving 503 in the ingressgate way log..

[2021-02-01T12:15:19.208Z] "GET /api/kubernetes/api/v1/namespaces?includeUninitialized=&pretty=&continue=&fieldSelector=metadata.name%3Dkube-system HTTP/2" 503 NR "-" 0 0 0 - "10.105.58.133" "

[2021-02-01 12:42] nrjpoddar commented on #13861
@howardjohn any suggestions/concerns in elevating this configuration option to a first class API so users don't need to rely on EnvoyFilter? Happy to discuss it during Networking WG but let's do the first round of back and forth on this issue.

[2021-02-01 12:46] SpecialYang commented on #30435
Could you provide your gateway config?

[2021-02-01 13:04] Baitanik commented on #30435
gateway config::
[code]

[2021-02-01 13:25] SpecialYang commented on #30435
Guess the host should be `kubernetes-api`.
[code]

[2021-02-01 13:25] ericvn commented on #30181
If someone has the appropriate commands to run in the test script, probably after https://github.com/istio/istio.io/blob/master/content/en/docs/tasks/traffic-management/locality-load-balancing/distribute/test.sh#L95, I (or anyone) can try and add them and run the test.

[2021-02-01 13:29] Baitanik commented on #30435
if i give kubernetes-api in the vs ...

[code]
      then it is coming
      ```Client sent an HTTP request to an HTTPS server. ```

[2021-02-01 13:34] SpecialYang commented on #30435
Curl localhost:15014/debug/configz or Curl localhost:8080/debug/configz in pilot container. I want to see all your configs.

[2021-02-01 14:12] Baitanik commented on #30435
[configz.log](https://github.com/istio/istio/files/5904380/configz.log)
Please find the attached o/p of the debug/configz ...

[2021-02-01 14:34] SpecialYang commented on #30435
Try to read these doc. You can obtain more information about host field.
- https://istio.io/latest/docs/reference/config/networking/virtual-service/#HTTPRouteDestination
- https://istio.io/latest/docs/reference/config/networking/destination-rule/#DestinationRule

[2021-02-01 14:46] ericvn commented on #30181
Here should be a config_dump for running against 1.9
[config_dmp_1_9_.txt](https://github.com/istio/istio/files/5904578/config_dmp_1_9_.txt)

Getting the dump for 1.8 is a little more difficult as the 1.8 istio framework has an older version of the test framework so need to try and revert to an older istio.io commit which works with 1.8

[2021-02-01 15:09] Baitanik commented on #30435
yeah i am going though that only...

Tried to change the host to ```kubernetes.default.svc.cluster.local``` ..
I tried to give the vs config, like..
[code]

but it says ```Client sent an HTTP request to an HTTPS server.``` ...
adding destination rule is not having any impact...
added destination rule..
[code]

Without having destination rule and with having destination rule it is giving same error

[2021-02-01 15:22] SpecialYang commented on #30435
Does you service has multiple ports? If not, try remove
[code]
Because portLevelSettings will override DestinationRule level setting.

If you really has more ports, then move tls under portLevelSettings.
[code]

[2021-02-01 15:25] ericvn commented on #30181
Here's a similar file when run against 1.8 when the test passes:

[config_dmp_1_8_.txt](https://github.com/istio/istio/files/5904785/config_dmp_1_8_.txt)

[2021-02-01 15:26] ramaraochavali commented on #30181
Thank you so much. I will take a look. @hzxuzhonghu Can you also PTAL?

[2021-02-01 15:30] ericvn commented on #30181
In case we need a different command run later, here is what I added to the script to generate the files above:
[code]

[2021-02-01 15:32] Baitanik commented on #30435
I tried with both..
[code]
and indenting the tls...
but result is same.. ```Client sent an HTTP request to an HTTPS server.```

[2021-02-01 15:34] Baitanik commented on #30435
also one NOTE.. i dont have side car configured.. does destination rule works without side car proxy ?

[2021-02-01 15:47] howardjohn commented on #30504
cc @tbarrella as well may be interested ^

[2021-02-01 15:54] howardjohn commented on #30511
This issue is missing some details we discussed in another meeting, bringing that here:

* X/Y or X% messages are not sustainable to keep up to date (we end up with O(configs not fully updated * proxy event) updates).
* A boolean reconciled or not message is not useful, as a single bad client can result in it never reconciling and permanently breaking the consumer of the field. **bad clients DO ha

[2021-02-01 15:57] Baitanik commented on #30435
@SpecialYang  .. Is it somehow possible to have a call and share screen maybe via skype..  may that way we will get to know the issue faster.. I really need this to work.. could we have one call please , if you don't mind, whenever you are available.

https://www.linkedin.com/in/baitanik-talukder-4a5b3bb6/

[2021-02-01 16:05] howardjohn commented on #28506
not stale

[2021-02-01 16:09] howardjohn commented on #18692
https://github.com/istio-ecosystem/wasm-extensions/issues/12 is relevant

[2021-02-01 16:45] howardjohn commented on #13861
Sure, I am not against that. But also not clear what the API should be exactly, so we should discuss. There are probably a bunch of envoy headers that are relevant

[2021-02-01 16:49] #30515 closed

[2021-02-01 16:52] howardjohn commented on #30531
Is not what you want, Istio will automatically redirect queries to localhost:15053. You can just do `dig postgres-stolon-proxy.sample.svc`

Are you on a VM with system-resolved? You may be hitting https://github.com/istio/istio/issues/30309

[2021-02-01 16:59] samene commented on #30531
Same result

[code]

Problem is that nslookup works, netcat does not.
curl to helloworld works.

I have a Java client (jdk11) using postgresql JDBC which is not able to resolve which is my main issue here.

[code]

[2021-02-01 16:59] #28422 closed

[2021-02-01 16:59] poussa commented on #28422
We have an alternate way of achieving the solution. Closing.

[2021-02-01 17:00] howardjohn opened #30561 "perf test: uneven ingress request load"
![2021-01-02_08-59-51](https://user-images.githubusercontent.com/623453/106491596-e1f2dc00-646b-11eb-894a-00a00d54ab25.png)

All requests are going to one ingress.

We should probably change the test to periodically reconnect, or some similar change.

[2021-02-01 17:01] howardjohn commented on #30531
Can you add `--log_output_level=dns:debug` to the istio-agent flags? it will show all the dns requests.

If its a vm it can be controlled by `ISTIO_AGENT_FLAGS="--log_output_level=dns:debug"`

[2021-02-01 17:17] samene commented on #30531
2021-02-01T17:16:24.663004Z     error   invalid output level '"dns:debug"'
Error: invalid output level '"dns:debug"'

[2021-02-01 17:19] howardjohn commented on #30531
I think its a quoting issue, it seems to be parsing `"dns:debug"` instead of `dns:debug`

[2021-02-01 17:24] samene commented on #30531
now this

[code]

this is my version

[code]

[2021-02-01 17:25] crrazyman opened #30562 "Istio + cloudflare proxy + AuthorizationPolicy"
**This is a question**

Hello,

I just can't figure out how can i set up Istio in order to restrict access from only a few IP addresses to some services.

I have a k8s cluster in Azure AKS. The ingressgateway is patched with
`"externalTrafficPolicy":"Local"`

Also, the domain i'm using is in Cloudflare and it is proxied so when i get a request, i get ingressgateway logs:

`[2021-02-01T17:20:36.635

[2021-02-01 17:31] howardjohn commented on #30510
I added https://github.com/istio/istio/wiki/Test-Flakes#reproducing-test-flakes with some instructions. let me know if its not clear, I just wrote this

[2021-02-01 17:35] howardjohn commented on #30550
This will not be done unless Envoy adds support, which is not planned: https://github.com/envoyproxy/envoy/issues/3546#issuecomment-394786436. If envoy doesn't do it, we cannot/should not as it would lead to conflicting times.

Closing as working as intended. Thanks!

[2021-02-01 17:35] #30550 closed

[2021-02-01 17:37] howardjohn commented on #30562
This sounds like a cloudflare question, not an Istio one. I would look into what functionality cloudflare has to support this. Could be proxy protocol, XFF header, etc. Istio can only rely on information provided by cloudflare proxy

[2021-02-01 17:41] howardjohn commented on #30539
Moving slack discussion here, this is probably a deadlock. We need a goroutine dump. I know there was a patch around this, but I cannot find it.. I suspect this was fixed at some point though

[2021-02-01 17:46] crrazyman commented on #30562
@howardjohn as far as i know, Cloudflare adds a HTTP header **CF-Connecting-IP**
https://support.cloudflare.com/hc/en-us/articles/200170786-Restoring-original-visitor-IPs-logging-visitor-IP-addresses

[2021-02-01 17:51] vinemish commented on #30393
Thanks @howardjohn @hzxuzhonghu any suggestions/pointers on what to check?

[2021-02-01 17:56] howardjohn commented on #30539
Fix is in #26260, in 1.8 but not 1.7

[2021-02-01 19:11] carlos-fau-etermax commented on #26367
We have this problem and found the following:

 When you create the Deployment and all the other manifest (Service, PodDisruptionBudget, Role, RoleBindings, ServiceAccount), if the POD is started to create "before" the Role was created to the permissions to access Secrets, the POD logs the following message:

[code]
It will retry to list the secrets, but it seems that the PODs never recover from i

[2021-02-01 20:20] istio-testing opened #30566 "[release-1.9] support running integration tests against real VMs"
Manual cherrypick required.

#30464 failed to apply on top of branch "release-1.9":
[code]

[2021-02-01 20:59] stevenctl commented on #27154
Can this be closed?

[2021-02-01 21:00] howardjohn commented on #27154
No, this is still an issue. And there are also tests with TODOs pointing to this.

[2021-02-01 21:06] noah8713 opened #30570 "[istio 1.8.1] istio-cni node cpu/mem resources"
**Describe the feature request**

istio-cni-node daemon set; add support to set cpu/mem resources

Running istio-cni daemon set pods consumes 10G total memory in k8s cluster; 5G for install-cni and 5G for repair-cni

[code]
As a result it consumes more resources on the node. Not sure if we have any base number requirement for install/repair cni.

**Describe alternatives you've considered**
I added

[2021-02-01 21:48] noah8713 commented on #30570
Setting  too less resources for install-cni causes OOM

[code]

[code]

Suggestions/doc on setting optimal value would be great for istio-cni-pod.

[2021-02-01 21:58] barryzhounb opened #30571 "gRPC doesn't work with Ingress-gateway"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**

Without Istio, my gRPC client (external cloud) works well with gRPC server (on cloud Cluster). Then apply Istio to my gRPC server,  I could not s

[2021-02-01 22:19] howardjohn opened #30572 "TestMultiVersionRevision test flakes"
https://prow.istio.io/view/gs/istio-prow/logs/integ-k8s-115_istio_postsubmit/1356343350336163840
https://prow.istio.io/view/gs/istio-prow/logs/integ-k8s-115_istio_postsubmit/1356327725266112512

cc @Monkeyanator

[2021-02-01 22:22] howardjohn commented on #30570
5gb memory usage is highly unexpected, the pod does pretty much nothing most of the time. cc @stewartbutler

[2021-02-01 22:27] howardjohn opened #30573 "istioctl workload configure: consider handling lack of TokenRequest"
https://istio.io/latest/docs/ops/best-practices/security/#configure-third-party-service-account-tokens

Not all clusters have this enabled. its default now in 1.20 or 1.21 though, and all cloud providers have it set from my experience.

Istioctl install does detection. We can likely do the same and at least give a better error message

[2021-02-02 00:41] kirankumar15 opened #30574 "Istio egress gateway with SNI-proxy with routing settings in one namespace seems to be applying for other namespaces as well"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**

[ ] Docs
[ ] Installation
[X ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User

[2021-02-02 01:05] hzxuzhonghu commented on #30393
@rlenglet Could you take a look

[2021-02-02 01:14] richardwxn commented on #28863
The postsubmit flakiness was resolved, closing the issue

[2021-02-02 02:06] hzxuzhonghu commented on #30181
Thanks for the test.

As from the result, i find cluster.CommonLbConfig is not set. And also there are no endpoints dumped. Need to run `pilot-agent request GET clusters` as well.

[2021-02-02 02:18] hzxuzhonghu commented on #26367
why can't it recover after the role and rolebinding created? Can you paste the logs of the ingress gateway after?

[2021-02-02 02:55] noah8713 commented on #30570
@howardjohn :
I am using this changes for over-ride

https://github.com/noah8713/istio/commit/cbf8772d48234e8f90c07341109ba526317d264e . Let me know if this is duplicate or can be used as a PR for tuning cni resources.

[2021-02-02 02:59] iandyh opened #30576 "Issues with Istio sidecar with HTTPs pod"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
We have a pod listening on 443(HTTPS) with its own certs managed by k8s api server. Before 1.8.x, sidecar works find with the pod, after upgrading

[2021-02-02 03:03] howardjohn commented on #30570
Adding a higher limit is not the right fix. Maybe its something we should do, but CNI using 5gb is *very* wrong. Also it sounds likely to a memory leak, so even a high limit would not help?

[2021-02-02 03:18] noah8713 commented on #30570
I think its more of cpu/mem default resource which it allocates but uses few of it (not all of 5G is used). Only thing is node level still things as all allocated resource.  e.g above where super low cpu/mem will cause Crashback loop.

I tried with new defaults and don't see issues so far with OOM for both install/repair CNI because the .
[code]

[code]

[2021-02-02 03:33] howardjohn commented on #30572
@stevenctl I think its from https://github.com/istio/istio/commit/d3f9ceaa54bdabb736583067263dc001063824aa? or a big coincidence

[2021-02-02 03:59] linsun opened #30577 "EOF issue when using istio ingress gateway"
**Bug description**

I have a script client that reads the file server to download the file with a given buffer size and delay.  When running the simple client with the file server (as a service in k8s exposed as LB type) directly without istio ingress gw, no issue.  However, when running the simple client through istio ingress gw then the file server (as a service in k8s), it often fails with EOF

[2021-02-02 04:01] linsun commented on #30577
An example of failed one:

[code]

[2021-02-02 04:01] ericvn commented on #30181
New files:
[dump2_1_8.txt](https://github.com/istio/istio/files/5908531/dump2_1_8.txt)
[dump2_1_9.txt](https://github.com/istio/istio/files/5908532/dump2_1_9.txt)

[2021-02-02 04:13] linsun commented on #30577
[ingressgw.log](https://github.com/istio/istio/files/5908578/ingressgw.log)

2021-02-02T03:36:03.176129Z	is a good one

2021-02-02T03:36:19.122626Z is the bad one (EOF from client) from https://github.com/istio/istio/issues/30577#issuecomment-771339235

I noticed for the bad one `[C142599]`, I don't see any errors, neither do I see `write flush complete` which is reported on `[C142589] `

[2021-02-02 04:35] christian-posta commented on #29425
So basically, the cors filter should come before the jwt_authn filter to get this to work as you're describing. Your best bet is to just re-order the filters like this:

[code]

However, I do suggest this become the default behavior if possible. I don't see a case how CORS coming earlier (ie, before JWT) would be harmful. This should work on all of Istio 1.6, 1.7, 1,8.

[2021-02-02 04:36] pantianying opened #30579 "The HTTP header should be passed transparently without changing the case of the key."
**Describe the feature request**

When I was using Istio to transparently hijack traffic, I found some applications reporting errors. It turns out that these applications have some irregular code. They are case-sensitive from the HTTP header values. For example, this is also the case in the code of nacos.
![image](https://user-images.githubusercontent.com/20589945/106552752-d9c19c00-6552-11eb-90d3

[2021-02-02 05:00] adiprerepa commented on #30510
Thanks for adding it. I modified a few things but besides that its very understandable. I am finally able to reproduce the flake.

[2021-02-02 05:01] #22934 closed

[2021-02-02 05:04] #27146 closed

[2021-02-02 05:04] bharath-12345 commented on #30539
Thanks for the update on this @howardjohn . I have a question, if there was deadlock shouldn't the istio pod have restarted? We saw 0 restarts for the pod?

[2021-02-02 05:05] #28054 closed

[2021-02-02 05:05] #28078 closed

[2021-02-02 05:05] #28080 closed

[2021-02-02 05:05] #28084 closed

[2021-02-02 05:05] howardjohn commented on #22095
not stale until EnvoyFilter is gone

On Mon, Feb 1, 2021, 9:01 PM Istio Policy Bot <notifications@github.com>
wrote:

[2021-02-02 05:06] howardjohn commented on #30539
deadlock would not trigger a restart of istiod. It just means the mutex is
stuck

On Mon, Feb 1, 2021, 9:05 PM bharath-12345 <notifications@github.com> wrote:

[2021-02-02 05:42] stevenctl commented on #30572
It could be.. but I don't even see the namespace dir in the dump: https://gcsweb.istio.io/gcs/istio-prow/logs/integ-k8s-115_istio_postsubmit/1356343350336163840/artifacts/pilot-d4b526b60f3e4edabe517655c/TestMultiVersionRevision/_test_context/

[2021-02-02 06:47] ramaraochavali commented on #30181
Looks like outlier detection is also not there in 1.9. So I am wondering if the destination rule is applied correctly in 1.9?

[code]

Can you also please dump the output of `kubectl get destinationrule helloworld -n sample` ?

[2021-02-02 07:48] karanmagdani1 commented on #26413
Getting similar issue on EKS 1.16 istio 1.18. The same setup works on our GKE cluster

[code]

[2021-02-02 08:05] hzxuzhonghu commented on #30181
[code]

Same weight here

[2021-02-02 08:06] hzxuzhonghu commented on #30181
so looks the destinationrule is not applied

[2021-02-02 08:09] a8j8i8t8 commented on #28107
/remove-lifecycle stale

[2021-02-02 08:28] #28863 closed

[2021-02-02 08:59] #29970 closed

[2021-02-02 09:33] lambdai opened #30581 "http1 request may fail with code 502"
Some http server don't like empty body http 1 request declaring header "content-length:0" although RFC 7230 allows.

Workarounds can be
1. bypass istio capture, including but not limited to inbound traffic or egress traffic
2. send http2 request and declare the protocol as http2.

Discussed in https://github.com/envoyproxy/envoy/issues/14890

[2021-02-02 10:11] yiyan-wish commented on #24496
Does aws nlb for istio production ready ?

[2021-02-02 10:43] jhart1685 commented on #30577
To add to @linsun 's writeup.

This recreate (simple client, rudimentary file server) is a simplified version of a real-world problem.
We see this symptom when copying images from one Docker registry to another. If the source registry sits behind an istio ingress, the action will often fail with an EOF. If we go via a legacy nginx ingress, the problem does not occur.

Although we have seen that ma

[2021-02-02 11:11] #28573 closed

[2021-02-02 11:12] yfried commented on #30538
Hi, @morvencao,
I'm installing Istio [via helm-charts](https://istio.io/latest/docs/setup/install/helm/). How can I use this new API customization

[2021-02-02 11:26] yfried commented on #30538
Also, if I want these settings to apply to all components (for example - hpa and anti-affinity), do I have to redefine it explicitly for each component?

[2021-02-02 11:54] a8j8i8t8 commented on #28107
This is still an issue with version 1.8.2.
Installed Istio operator with command `$ istioctl operator init --revision 1-8-2` and then installed `default` configuration profile as below.
[code]
HPA is still getting created for deployment `istiod` instead of `istiod-1-8-2`.

[2021-02-02 12:28] jijiechen commented on #28558
lifecycle/staleproof

[2021-02-02 12:29] jijiechen commented on #28558
Not stale.
Nobody was on this thread and the problem had not been addressed. It's still impacting users.

[2021-02-02 14:07] Monkeyanator commented on #30572
Strange this test is failing on 1.15 postsubmits since we should be explicitly skipping it in this job ([skipped for k8s versions <1.16](https://github.com/istio/istio/blob/c9ba0994f4db833f434c0c25405afdb06095ec3b/tests/integration/pilot/multi_version_revision_test.go#L187))

[2021-02-02 14:17] dntosas commented on #26413
Update @djablonski-moia @amoskyler @hniehus

We got to make this work on Kops 1.19 by set only the following:
[code]
Let the rest (serviceAccountKeyFile + serviceAccountSigningKeyFile) for the Kops to handle ^^

[2021-02-02 14:20] Monkeyanator opened #30583 "TestSource_WatcherFailsCreatingInformer flake"
Example failure:

[https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/30554/unit-tests_istio/1356485698714079232](https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/30554/unit-tests_istio/1356485698714079232)

[2021-02-02 14:23] rlenglet commented on #30393
Yes, this typically indicates that the init container ran more than once.
@vinemish can you please get the logs from the first run of the container? We need to know why the container failed the first time.

[2021-02-02 14:34] Monkeyanator commented on #30572
Yeah looking at it now I think it's probably got something to do with `MinKubeVersion`

[2021-02-02 14:34] ericvn commented on #30181
I do notice that here is a `sleep 5` in the test to allow the destination rule to propagate: https://github.com/istio/istio.io/blob/master/content/en/docs/tasks/traffic-management/locality-load-balancing/distribute/test.sh#L32

Pointer to DR:  https://github.com/istio/istio.io/blob/master/content/en/docs/tasks/traffic-management/locality-load-balancing/distribute/snips.sh#L23

[2021-02-02 14:46] ericvn commented on #30181
For 1.9:

[code]

[2021-02-02 15:14] shankgan opened #30585 "Validate each feature of the IstioOperator Spec against a particular version of K8s"
Currently, when installing Istio on k8s, I assume we broadly check if a given istio version is compatible with a given K8s version. However, in addition to this, there are some SPECIFIC features of Istio that are supported only from/until a particular K8s version.  It would be helpful if the IstioOperator/Istioctl code could provide some validation hooks so that each feature configuration could be

[2021-02-02 15:37] ericvn commented on #30181
To run this test is pretty easy. If you have a Kubernetes cluster in your Kubeconfig, just pull the istio.io repo, and run `make doc.test.profile_default TEST=tasks/traffic-management/locality-load-balancing/distribute/test.sh`. There are a few extra things you may need if using a kind cluster or running on a Mac and those are documented in the istio.io tests/README.md. If you run the current mast

[2021-02-02 15:45] howardjohn commented on #30583
likely same as https://github.com/istio/istio/issues/23943/https://github.com/istio/istio/issues/26674

[2021-02-02 15:46] howardjohn commented on #30585
This is already an established pattern:
* https://github.com/istio/istio/blob/d96e772724184069fd40c41be32c313b4040c386/operator/pkg/util/k8s.go#L33
* https://github.com/istio/istio/blob/96f0b401cdc7794817187334bcbee44ff1193d48/operator/pkg/manifest/shared.go#L376

[2021-02-02 15:48] howardjohn commented on #30579
Envoy does not currently support this. You can set a different casing (https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/protocol.proto#envoy-v3-api-msg-config-core-v3-http1protocoloptions-headerkeyformat) but not preserve.

https://github.com/envoyproxy/envoy/issues/6589 *might* solve this, but the issue is about "path" so its not clear to me

[2021-02-02 15:49] howardjohn commented on #30579
actually if you look at https://github.com/envoyproxy/envoy/issues/8463 it sounds like its pretty unlikely to happen

[2021-02-02 15:50] howardjohn commented on #30576
This is fixed in 1.8.2

[2021-02-02 15:52] jhart1685 commented on #30577
In case it helps - here are some client-side tcpdumps from this simplified recreate. My client was the `192.` address , server is `141.125.66.22`.
In the failing dump, the EOF in the client is observed around 15:41:12 UTC
[tcpdumps.tar.gz](https://github.com/istio/istio/files/5912438/tcpdumps.tar.gz)

[2021-02-02 16:28] linsun commented on #30577
@PiotrSikora @lambdai could you shed some light on this?  Perhaps there is some config we should use from envoy?

[2021-02-02 16:29] howardjohn commented on #30581
possible same as https://github.com/istio/istio/issues/30146?

[2021-02-02 16:35] #28996 closed

[2021-02-02 17:14] rajivml opened #30586 "Istio Stability Issues 503 NR"
HI,

can you please let us know at what scale istio has been tested, I mean w.r.t to the number of namespaces.

We have a fairly large kubernetes cluster i.e. around 300 Nodes (AKS cluster) and we have around 3000 namespaces with close to 4000 services deployed and we are using Istio as an service mesh and ingress controller to route the traffic

The issue that we are consistently facing with Isti

[2021-02-02 17:22] nirvanagit commented on #19495
@howardjohn - is there any information I can find about the fix?

[2021-02-02 17:25] rajivml commented on #30586
and this is that cron we are living with :(

[code]

[2021-02-02 17:41] nmittler commented on #28942
@ramaraochavali

Yeah that's right. The plan is to remove outlier detection from this doc, but it should also work with outlier detection ... the fact that it doesn't is a regression.

I'm fine re-assigning the issue ... who would be the best person to pick this up?

[2021-02-02 18:05] ericvn commented on #23620
Work done in https://github.com/istio/release-builder/pull/514.

[2021-02-02 18:05] #23620 closed

[2021-02-02 18:15] stevenctl opened #30587 "test flake: TestGateway and gateway_topology/TestTraffic in pilot-multicluster"
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/30584/integ-pilot-multicluster-tests_istio/1356660182364459008

[2021-02-02 18:17] stevenctl commented on #30587
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/30584/integ-pilot-multicluster-tests_istio/1356651256566779904
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/30407/integ-pilot-multicluster-tests_istio/1356648087447146496

[2021-02-02 18:21] howardjohn opened #30588 "EndpointSlice flakes: no istiod endpoints"
https://storage.googleapis.com/istio-prow/logs/integ-k8s-118_istio_postsubmit/1356642436864020480/artifacts/pilot-endpointslice-a63f4e22674/TestTraffic/selfcall/to_service_vm/_test_context/istio-state616882654/cluster-0/istio-ingressgateway-665558f476-vldfp_proxy-clusters.txt
https://prow.istio.io/view/gs/istio-prow/logs/integ-k8s-118_istio_postsubmit/1356642436864020480

You can see no endpoints

[2021-02-02 18:29] #30572 closed

[2021-02-02 18:39] howardjohn commented on #28865
I attempted to reproduce it. I saw a small downtime of ~30s, then the endpoints were updated and immediately things went back to working. I would suggest if you can reproduce this to get additionally information from `kubectl get endpoints -w` with timestamps, istiod logs, and the contents of `curl localhost:15000/clusters` from the client pod during this time.

[2021-02-02 18:57] therealmitchconnors commented on #23160
This was done in pkg repo in the last few months.

[2021-02-02 18:57] #23160 closed

[2021-02-02 19:06] esnible commented on #30498
@therealmitchconnors Add to the status tracking issue

[2021-02-02 19:19] howardjohn opened #30592 "xff test flake"
https://prow.istio.io/view/gs/istio-prow/logs/integ-pilot-multicluster-tests_istio_postsubmit/1356671068923760640

[2021-02-02 19:19] howardjohn opened #30593 "TestBadWasmRemoteLoad test flake"
https://prow.istio.io/view/gs/istio-prow/logs/integ-telemetry-mc-k8s-tests_istio_postsubmit/1356671068818903040

[2021-02-02 19:20] esnible commented on #29950
For 1.10, we target **REMOVING THIS SUBCOMMAND.**

[2021-02-02 19:35] Jefle2005 opened #30594 "istio ingressgateway access.log didn't log anything for bad request"
Hi Team,

I found one kind of issue that istio ingressgateway won't log anything in access.log for bad request, e.g. there is illeagl characters in header name.

I tried to increase the log level to Debug or trace but no luck.

anything else i can do?

Istio version: 1.5.0

[2021-02-02 19:36] esnible commented on #29525
@GregHanson Can you report on status of this issue?

[2021-02-02 19:43] esnible commented on #29031
@carolynhu Should we retarget this for 1.10?

[2021-02-02 19:46] esnible commented on #28985
@istio/wg-environments-maintainers Can UX offer any help for this?

[2021-02-02 19:47] esnible commented on #28969
@zerobfd Can you triage this?

[2021-02-02 19:54] therealmitchconnors commented on #28825
The proxy-config command supports a `--file` parameter, which should be capable of this behavior, albeit with a particular set of steps:

1. ssh <user@proxyhostname> 'curl localhost:15000/config_dump' > envoy-config.json
2. apply changes to service entry
3. istioctl proxy-config clusters --file envoy-config.json

[2021-02-02 19:55] esnible commented on #28856
@istio/wg-environments-maintainers Can you triage this or assign it to someone from area/upgrade?

[2021-02-02 20:00] esnible commented on #28585
@istio/wg-environments-maintainers Can you triage this?

[2021-02-02 20:06] esnible commented on #27732
@piotrkpc Are you working on this?  Should I target Istio 1.10 for this?

[2021-02-02 20:06] #27729 closed

[2021-02-02 20:09] esnible commented on #27618
@incfly What is the status of this?

[2021-02-02 20:13] #29389 closed

[2021-02-02 20:16] howardjohn opened #30595 "TestProxyTracing test flake"
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/30590/integ-telemetry-mc-k8s-tests_istio/1356680093484716032

[2021-02-02 20:18] ericvn commented on #29400
Since this test is now just flakey and not a 100 failure and we know the istio/istio test, https://github.com/istio/istio/issues/30136, is also flakey  I think we can lower the severity of this issue.

Do we want to add something in the docs, that the user may have to wait longer for the changes to propagate?

[2021-02-02 20:53] lukasz-bielinski opened #30596 "Cannot disable mtls for particular ns"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
I cannot disable mtls for particular workload/namespace

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions a

[2021-02-02 21:24] noah8713 commented on #30570
We can leverage k8s overlay patches to set this too. Hence, closing the same as I am able to over-ride. More details in https://github.com/istio/istio/pull/30536

[2021-02-02 21:24] #30570 closed

[2021-02-02 22:20] CSP197 opened #30598 "Add matchExpressions to WorkLoadSelector"
**Describe the feature request**
[Relevant Docs](https://istio.io/latest/docs/reference/config/type/workload-selector/#WorkloadSelector)

As a user of Istio, I would like to be able to select resources based on matching expressions. In addition to existing `matchLabels` field, I would like to be able to select from values via a matchExpressions as follows:

[code]
**Describe alternatives you've co

[2021-02-02 22:52] stevenctl commented on #30587
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/30565/integ-pilot-multicluster-tests_istio/1356656203186311168

[2021-02-02 23:40] howardjohn opened #30600 "TestAnalysisWritesStatus test flake"
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/30599/integ-pilot-multicluster-tests_istio/1356742672915632128

[2021-02-02 23:49] lambdai commented on #30581
Yeah, I search for 502 but that issue is not retrieved...
Close in favor of #30146

[2021-02-02 23:49] #30581 closed

[2021-02-02 23:50] lambdai commented on #30146
Paste my words here from https://github.com/istio/istio/issues/30581#issue-799103492
[code]

[2021-02-02 23:52] lambdai commented on #30146
@pchlupacek BTW what is the http server that considers "content-length:0" a bad request?

[2021-02-03 00:09] stevenctl commented on #29335
Think we will do this in 1.9.x? Or is it 1.10

[2021-02-03 00:16] nmittler commented on #29335
Not entirely sure if we have bandwidth ... it would be good to get in 1.9.x. I suspect 1.10 at the earliest

[2021-02-03 00:33] #30587 closed

[2021-02-03 00:41] lambdai commented on #30577
I doesn't make sense...
My wide guess is that chunked is somehow miss matched.

[code]
Looking at envoy log

[2021-02-03 00:50] lambdai commented on #30577
Probably this: Envoy closes connection before the client confirmed all bytes are received. Envoy leaves 1 seconds for the client. 1 second is not enough at you client. From what I can see the client can reach about 160k bytes per second while there are 537k for the client to drain.
[code]

[2021-02-03 00:59] irisdingbj commented on #30573
@howardjohn  after detecting the jwt policy and if it is on first part jwt, shall we retrieve the token from the secret for the sa and use it? seems we need to parse the sa  to get the secret and decode it to get the token.  wondering if this is redundant if most cluster are supporting 3rd party jwt , what do you think about it?  Thanks~

[2021-02-03 01:06] lambdai commented on #30577
May client side kernel buffers some data so that go client read EOF 10s later instead of 1000ms in Envoy.

You can verify if you have a tcpdump: go client is expected to reived FIN once ~2000K bytes are transported from envoy to go client. I believe in the corrupt case, a FIN or reset is sent to go client much earlier.

[2021-02-03 01:09] jacob-delgado commented on #27734
Per @shankgan we can close this issue as it is complete. Thanks!

[2021-02-03 01:09] #27734 closed

[2021-02-03 01:13] howardjohn commented on #30573
I don't know. We could also just fail with a better error message - 3p jwt is on by default now so most users should be fine. Also, VMs are for advanced users in general so they can handle some pain

[2021-02-03 01:18] #30571 closed

[2021-02-03 01:18] barryzhounb commented on #30571
Marked as invalid

[2021-02-03 01:31] linsun commented on #30577
Thank you @lambdai for looking at this!   The tcp dump is captured https://github.com/istio/istio/issues/30577#issuecomment-771734086.  I'm no expert for reading it, but I did see in the failed case, the server (ingress gw) sends  FIN, PSH and ACK to the client at around 1700k bytes are transported.

[2021-02-03 01:43] jacob-delgado opened #30601 "Release Istio 1.9.0"
This issue aims to track all steps needed to release Istio 1.9.0

- [x] Product Security WG go-ahead
- [x] TOC go-ahead

- [x] Enable CVE scanning in release builder
  - [x] Revert the change to `release/build.sh` that set `ignoreVulnerability: true`

- [x] Review Priorities [Istio 1.9 Milestone](https://github.com/orgs/istio/projects/6?card_filter_query=milestone%3A1.9)
	- [x] Review release bloc

[2021-02-03 01:49] lambdai commented on #30577
Oh, great 1700K is definitely smaller than expected.
Another proof is that there is no alert record (close_notify), but I forgot if TLS 1.3 encapsulate close_notify in plain text record....

I will look into the Envoy early close behavior. As a workaround,
At go client use http1.1 protocol or add `keep-alive` in http request header: so by default Envoy won't close connection early.
Or use http2 :)

[2021-02-03 02:03] hzxuzhonghu commented on #30181
I found the root cause:
2021-02-03T02:01:25.796932Z	warn	ads	ADS:CDS: ACK ERROR sidecar~10.244.0.9~helloworld-region1.zone1-77985dbcc7-bxlcd.sample~sample.svc.cluster.local-11 Internal:Error adding/updating cluster(s) outbound|5000||helloworld.sample.svc.cluster.local: outlier detector's max_ejection_time cannot be smaller than base_ejection_time

[2021-02-03 02:27] morvencao commented on #30538
@yfried Yes, this is the api doc for k8s settings: https://github.com/istio/istio/tree/master/operator#new-api-customization
Also some examples:
https://github.com/istio/istio/blob/master/operator/cmd/mesh/testdata/manifest-generate/input/pilot_k8s_settings.yaml
https://github.com/istio/istio/blob/master/operator/cmd/mesh/testdata/manifest-generate/input/ingressgateway_k8s_settings.yaml

[2021-02-03 02:46] johnking0099 commented on #6476
To summarize:

[code]

[2021-02-03 02:53] hzxuzhonghu commented on #28942
https://github.com/istio/istio/issues/30181#issuecomment-772153162

[2021-02-03 03:07] linsun commented on #30577
@lambdai thanks again for your insight!

@jhart1685, can you please advise if the workaround mentioned by @lambdai in https://github.com/istio/istio/issues/30577#issuecomment-772147077 is reasonable for your client?

[2021-02-03 03:22] #27134 closed

[2021-02-03 03:56] lei-tang opened #30603 "XDS auth header type should be controlled by XDS_TOKEN_TYPE"
**Describe the feature request**
XDS auth header type should be controlled by XDS_TOKEN_TYPE.

**Describe alternatives you've considered**
Hardcoding XDS auth header type is infeasible.

[ ] Docs
[ ] Installation
[X ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ X] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Additional context**

[2021-02-03 04:08] ramaraochavali commented on #28942
Thank you @hzxuzhonghu for the find. I will close this issue as it is not the cause.

[2021-02-03 04:08] #28942 closed

[2021-02-03 04:55] rdineshshetty commented on #28666
I dont have access to slack to follow the discussion, am also facing similar problem in istio 1.7.4.. would like to restrict inbound max connections to each pod and scale whenever the threshold is reached..

[2021-02-03 05:03] #26628 closed

[2021-02-03 05:03] #27005 closed

[2021-02-03 05:04] #27711 closed

[2021-02-03 05:04] #28049 closed

[2021-02-03 05:04] #28100 closed

[2021-02-03 05:04] #28103 closed

[2021-02-03 05:05] #28108 closed

[2021-02-03 05:05] #28122 closed

[2021-02-03 05:05] #28125 closed

[2021-02-03 05:05] #28129 closed

[2021-02-03 05:14] nrjpoddar commented on #25652
Unassigning as wasn’t aware this was assigned to me.

[2021-02-03 05:40] aelicieguo opened #30606 "Configuration issue to direct HTTPS_PROXY to egress gateway"
I tried setting up Egress to HTTPS proxy as per [documentation](https://istio.io/latest/docs/tasks/traffic-management/egress/http-proxy/)

Thereafter routing the traffic to egress gateway as such:

---
apiVersion: networking.istio.io/v1alpha3
kind: ServiceEntry
metadata:
  name: proxy
spec:
  hosts:
  - proxy-server.com
  addresses:
  - xxx.xxx.xxx.xxx/32
  ports:
  - number: 80
    name: tcp

[2021-02-03 05:46] rajivml commented on #29301
We are also seeing tons of these errors on istio 1.5.6

![image](https://user-images.githubusercontent.com/46923567/106703873-1e137180-6611-11eb-90fa-2f399edd29b2.png)

[2021-02-03 06:06] irisdingbj commented on #30573
go ahead with adding first-party token support as it is a more user-friendly mode.

[2021-02-03 06:08] howardjohn commented on #30573
Ok, can you make sure to add a warning message that it's not secure?

On Tue, Feb 2, 2021, 10:06 PM Iris <notifications@github.com> wrote:

[2021-02-03 06:35] jacob-delgado opened #30608 "experimental to Alpha: Configuring Gateway Network Topology"
Configuring Gateway Network Topology is currently experimental. This is the checklist required to make sure that it can be elevated to Alpha.

The document can be found here: https://istio.io/latest/docs/ops/configuration/traffic-management/network-topologies/

This document outlines the requirements outlined at https://github.com/istio/community/edit/master/FEATURE-LIFECYCLE-CHECKLIST.md

## Alph

[2021-02-03 07:01] jacob-delgado opened #30609 "istio-base and istio-discovery Helm charts: Alpha to Beta"
This issue is for tracking the progress to move the istio-base and istio-discovery Helm charts from Alpha to Beta.

## Beta

An Alpha feature can be officially labeled as Beta once it meets the following additional requirements:

- [ ] Design
  - [ ] Requires Approved Design Doc in order to merge.

- [x] Config
  - [x] Can be enabled by default without requiring explicit user action.

- [ ] Docs

[2021-02-03 07:13] Baitanik commented on #30435
It is working now... after giving the proper cacert in destination rule... it is working..
thanks for all the help.

[2021-02-03 07:13] #30435 closed

[2021-02-03 07:38] kailun-qin commented on #28542
I think this has been addressed by https://github.com/istio/proxy/pull/3145 and can be closed. Would you please help double check? Thanks! @howardjohn

[2021-02-03 07:54] #24540 closed

[2021-02-03 08:00] shamsher31 commented on #28566
Not stale https://github.com/istio/istio/pull/28701

[2021-02-03 08:02] shamsher31 commented on #30566
Closed by https://github.com/istio/istio/pull/30580

[2021-02-03 08:02] #30566 closed

[2021-02-03 08:19] brendarearden commented on #28995
The logic that is causing this problem is located here (see linked code). It appears that if there is a current version of istio installed (which is always true on upgrade), then it sets the installPackagePath to a github url. There is not a way to override this behavior as all the flags or passed in values apply to the updated istio, not the "current" version. This is a problem, especially when a

[2021-02-03 08:36] irisdingbj commented on #30573
Ok, can you make sure to add a warning message that it's not secure?

now the output is like below if we are on first-party jwt:

[code]

[2021-02-03 08:46] iandyh commented on #30576
@howardjohn  Thanks. We verified, it's fixed in 1.8.2

[2021-02-03 08:46] #30576 closed

[2021-02-03 09:04] pantelis-karamolegkos opened #30610 "istiooperator resource's change do not get reflected in its description"
**Bug description**

`istio-operator` does not get updated after one with a custom logging format has been installed

[X] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[X] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expected behavior**

I wanted to log an additional header, so we installed a custo

[2021-02-03 09:12] jsolv commented on #13861
I managed to remove Server header. Example:
`apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  namespace: istio-system
  name: remove-server-header
spec:
  workloadSelector:
    labels:
      istio: ingressgateway
  configPatches:
    - applyTo: NETWORK_FILTER
      match:
        context: GATEWAY
        listener:
          filterChain:
            filter:
              name:

[2021-02-03 09:52] nrjpoddar commented on #13861
Thanks @jsolv Why is the VS needed? Isn't the passthrough settings alone sufficient?

[2021-02-03 09:55] jhart1685 commented on #30577
@lambdai - Thanks for all the investigation so far! I have some observations:

- The client in the simple recreate (failing case) is using http1.1 , this is the default for Golang http clients.
- Based on your analysis, I did some more searching, and found this [comment in the Golang http code](https://github.com/golang/go/blob/master/src/net/http/transport.go#L277-L282) , which explains why some

[2021-02-03 09:58] etifontaine opened #30611 "perTryTimeout documentation inconsistencies"
**Bug description**

In the Istio documentation it is specified `Timeout per retry attempt for a given request` for the `perTryTimeout` in a VirtualService.
By reading the Envoy doc/code and even with some tests done on my side, I would say it’s more Timeout per try which include the initial call.
What do you think ? Should we update the doc or am I understanding something wrong ?

[x] Docs
[ ] In

[2021-02-03 10:08] shamsher31 opened #30612 "istioctl verify-install: display empty revision if Istio is installed without any revision flag"
If the Istio is installed without passing any revision, the `verify-install` should display `default` revision instead of empty revision.

[code]

[2021-02-03 10:19] jsolv commented on #13861
@nrjpoddar it's depends. If `Server` header not added before `VirtualService` by any service then we can use only `server_header_transformation: PASS_THROUGH`.
From envoy docs:
[code]
`PASS_THROUGH` just keeping `Server` header untouched.

[2021-02-03 10:43] lambotchi opened #30614 "Istio Operator v1alpha1.IstioOperator.Status: Spec: unmarshalerDecoder: unknown field "policy"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**

[ ] Docs
[X ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User

[2021-02-03 11:08] jhart1685 commented on #30577
Following on from my previous comment - went researching early close behaviour in Envoy, and discovered the `delayed_close_timeout` option on the HttpConnectionManager. (Which defaults to 1 second).

I found that disabling this , as per the EnvoyFilter below , fixes the problem.
Question: Is this a sensible workaround? It seems a bit of a blunt instrument, and probably has consequences I haven't c

[2021-02-03 11:26] jsolv commented on #13861
@nrjpoddar I think it will be enough for **istio** to setting `server_header_transformation` to **`PASS_THROUGH`** by _default_. Then we will can **add**, **remove**, or **override** any headers with `VirtualService` if needed or passing headers through from applications.

[2021-02-03 11:58] mstrYoda commented on #25814
What is the status of this issue? We have same issue about websockets. Connections are immediately closes when we enable istio injection.

[2021-02-03 13:59] GeckoSplinter opened #30615 "Docker image 1.6.14 is missing in gcr.io registry"
**Bug description**

At least the version 1.6.14 is missing  in the gcr.io registry.

[code]
https://console.cloud.google.com/gcr/images/istio-release/GLOBAL
It's the same thing on the pilot part

That could help us with https://istio.io/latest/blog/2020/docker-rate-limit/

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[X ] Test

[2021-02-03 14:07] noahziheng commented on #30146
I had a similar problem when I was creating a spider. A few DDosS/WAF Provider and historical website(especailly made by ASP.NET) can't handle the GET request with Content-Length: 0.
I think envoy NEED a config knob for us who make request to old-school service(ex. spider to some old .gov website).We need use Istio to manage exgress by envoy but transparent please. @mattklein123
Same issue at Isti

[2021-02-03 15:02] adamkgray opened #30616 "Search-and-replace header values by regex for VirtualServices"
**Describe the feature request**

Search-and-replace substrings for header values in a VirtualService

The use case is routing outside requests into the istio ingressgateway, and from the gateway rewrite the requests to another gateway but with a slightly different header that matches a pattern.

For example a bunch of services under a domain like `*.app.example.com`
They call into the cluster, an

[2021-02-03 15:30] linsun commented on #30577
@jhart1685 Good job finding the parameter!  I don't find how to configure delayed_close_timeout in virtual service, so I think what you have done through an envoy filter makes sense.

@lambdai appreciate your thoughts on this approach!

[2021-02-03 15:34] binc75 opened #30618 "Sidecar worker threads: unable to set the value to 0"
**Bug description**
We want to set the istio-proxy sidecar concurrency to 0. Currently the default value is 2.
If we change the value in the istio ConfigMap to any value greater than 0 we see the value applied in the envoy arguments.
If the value is 0 the argument passed to envoy is 2.

[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Securi

[2021-02-03 15:39] SpecialYang opened #30619 "Avoid useless context initiation before discovery server is ready."
Pilot has `configController` and `serviceController`. In so many services case,  when configController has synced before serviceController, configController will trigger some full push for context initiation which is useless because the discovery server is not ready and will not be connected by any data plane. Addition, when we solve so many services one by one, we still trigger full push, which i

[2021-02-03 15:43] abhioncbr opened #30620 "Upgrade sudo package version in istio components images."
**Describe the feature request**
Recently several articles a bug published related to the [Sudo vulnerability allows privilege escalation to root](https://www.securityweek.com/sudo-vulnerability-allows-privilege-escalation-root).
Sudo before 1.9.5p2 has a Heap-based Buffer Overflow, allowing privilege escalation to root via "sudoedit -s" and a command-line argument that ends with a single backslas

[2021-02-03 15:58] #28542 closed

[2021-02-03 15:58] howardjohn opened #30621 "TestGateway/tcp multicluster test flake"
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/30590/integ-pilot-multicluster-tests_istio/1356858824459292672

[2021-02-03 15:59] howardjohn commented on #30621
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/30590/integ-pilot-multicluster-tests_istio/1356811958719877120

[2021-02-03 15:59] howardjohn commented on #30600
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/30590/integ-pilot-multicluster-tests_istio/1356811958719877120

cc @therealmitchconnors

[2021-02-03 16:28] howardjohn opened #30624 "Add checks for istiod non-determinism"
We should add some sort of testing around determinism of Istiod instances. This would help us catch bugs like https://github.com/istio/istio/issues/28861 or various race conditions we have had leading to some istio's missing an event or computing push context or caches incorrectly.

Strawman proposal:
Write an ADSC client that finds all Istiod pods, and directly connects to each one. Connect to al

[2021-02-03 16:33] howardjohn commented on #30620
We routinely update the base image when we build releases and have tests to ensure we have update to resolve any known CVEs, such as this one. So this will be fixed in the next release. I don't think this is a real threat to Istio as we don't allow root (with or without sudo) anyways.

If you are concerned in the meantime, feel free to try out https://istio.io/latest/docs/ops/configuration/securit

[2021-02-03 16:33] #30620 closed

[2021-02-03 16:33] SpecialYang commented on #30618
If concurrency is 0 and role type is sidecar, it will automatically set concurrency based on CPU requests/limits for sidecars. What is CPU requests/limits of your sidecar?

[2021-02-03 16:34] howardjohn commented on #30619
Generally the server is ready within 1-2s and the debounce will ensure we compute push context *at most* onec every 100ms. So are we just trying to avoid 10-20 computations, or is the scope here greater?

[2021-02-03 16:35] libesz opened #30625 "istioctl x create-remote-secret createsinvalid certificate chain"
**Bug description**
After the merge of https://github.com/istio/istio/pull/30565 , the `istioctl x create-remote-secret` step in the guide [here](https://istio.io/latest/docs/setup/additional-setup/external-controlplane/#set-up-the-control-plane-in-the-external-cluster) command succeeded in my environment (unmodified, managed RedHat OpenShift cluster 4.5 on IBM Cloud). I proceeded with the creatio

[2021-02-03 16:38] howardjohn commented on #30615
Fixed, thanks. But also, FYI, Istio 1.6 is no longer supported: https://istio.io/latest/news/support/announcing-1.6-eol/

[2021-02-03 16:38] #30615 closed

[2021-02-03 16:39] howardjohn commented on #30614
cc @richardwxn @ostromart do we want to handle unknown fields differently?

@lambotchi check `kubectl get iop -A` - one of them must have "policy" or "telemetry" fields which are no longer supported

[2021-02-03 16:40] howardjohn commented on #30611
So if we have 3 attempts: request, retry1, retry2
The docs imply retry applies only to retry1, retry2
Code actually has it apply to all  request, retry1, retry2

Is that correct?

I would agree its a bit ambiguous in the docs right now, could use a tweak

[2021-02-03 16:44] howardjohn commented on #30585
is this resolved by ^?

[2021-02-03 16:45] SpecialYang commented on #30619
If we have 1 thousand services with total about 100 thousand endpoints,  the server is ready within 1 min which may cause so many context initiation computations.

[2021-02-03 16:47] howardjohn commented on #30586
Can you please try Istio 1.8? I suspect both issues you are seeing are fixed and we cannot support 1.5 anymore (https://istio.io/latest/news/support/announcing-1.6-eol/). If its not, please provide logs of the istiod pod - both of the namespace controller not updated and of the initial pushes that are resulting in 503 NRs

[2021-02-03 16:48] howardjohn commented on #30594
Can you try on newer version? We have improved the access logs for exactly this behavior and 1.5 is not supported: https://istio.io/latest/news/support/announcing-1.6-eol/

Additionally, if you could provider the request you are sending to trigger this it would help. thanks.

[2021-02-03 16:49] howardjohn commented on #30619
@SpecialYang got it. Are they not getting debounced? I would expect we get continual stream of events that computes every 10s (debounce is 100ms window to max of 10s).

Regardless, its probably a good idea to do this

[2021-02-03 16:55] howardjohn commented on #30596
can you run `kubectl get peerauthentication -A`, and checking istiod for a log like `2021-02-03T16:54:53.019519Z     warn    model   Namespace/mesh-level PeerAuthentication is already defined for "istio-system" at time 2021-02-02 18:10:21 +0000 UTC. Ignore "default2" which was created at time 2021-02-03 16:54:52 +0000 UTC`

[2021-02-03 16:55] etifontaine commented on #30611
Yes that is what I have figured out. Also, the Envoy doc https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/router_filter#x-envoy-upstream-rq-per-try-timeout-ms

[2021-02-03 16:56] therealmitchconnors commented on #30600
I don't see any indication of what went wrong in the logs.  Pilot appears to sit idle for 5 minutes, and then the test fails.  Strange that it's only happening in multicluster...

[2021-02-03 16:57] howardjohn opened #30626 "Need analyzer for conflicting namespace level resources"
For example:
[code]

One will be ignored. This applies to many types, not just PeerAuthentication - we have one just for sidecar in https://preliminary.istio.io/latest/docs/reference/config/analysis/ist0111/

[2021-02-03 16:59] howardjohn commented on #30608
Should this be in https://github.com/istio/enhancements?

[2021-02-03 17:00] mandarjog commented on #30624
A check like this is needed.
1. I don’t think we can compare bytes, since maps have multiple valid encodings.
2. Ordered lists and unordered lists should be treated separately.
3. Envoy does sophisticated diffing, perhaps using envoy is a better option here. We can force envoy to connect to different istiods in a round robin way.

I am trying to see when a check like this should be applied. As des

[2021-02-03 17:02] howardjohn commented on #30624
I _think_  https://pkg.go.dev/github.com/golang/protobuf/proto#Buffer.SetDeterministic, which we set, handles these issues?

[2021-02-03 17:11] SpecialYang commented on #30619
If we increase the interval, we will increase the delay of configuration change after the service is ready. I think it might be easier to merge push requests without debounce when the service is not ready. Or we can introduce another time interval and only use it before the service is ready.

[2021-02-03 17:26] imreveres commented on #22677
I use docker desktop on my mac and I followed your instructions: increased memory / swap / and processor in the settings and it worked! thanks!

[2021-02-03 17:29] therealmitchconnors commented on #30600
Is it possible this is a race condition between the creation of the virtual service and the leader election?

[2021-02-03 17:30] howardjohn commented on #30600
sounds plausible

On Wed, Feb 3, 2021 at 9:29 AM Mitch Connors <notifications@github.com>
wrote:

[2021-02-03 17:35] christian-posta commented on #29881
Another possible fix: https://github.com/istio/istio/pull/30286

[2021-02-03 17:45] myidpt opened #30629 "Add root configuration API"
**Describe the feature request**
We need an API to define the extra root of trusts for workloads, and propagate them from Isitod to the workloads. This facilitates friction-less migration of the CA root for workloads.

**Describe alternatives you've considered**
No alternatives.

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ X ] Security
[

[2021-02-03 17:47] nmittler commented on #30181
@hzxuzhonghu thanks for the find! So the question is: why is it breaking now? Did the default value for base_ejection_time change in 1.9?

[2021-02-03 17:48] lambdai commented on #30577
Thanks @jhart1685

Yes, the goal of both my proposed http1.1 or the `DisableKeepAlives` in golang is to provide the hint that Envoy that that don't close the connection shortly after the response is written. I guess golang overrides the default http1.1 setting with `DisableKeepAlives` to false.

[2021-02-03 17:53] shankgan commented on #30585
I think it is. Was wondering if there were a more easier and generic way of solving it. Will close issue for now.

[2021-02-03 17:53] #30585 closed

[2021-02-03 18:01] lambdai commented on #30577
Yeah... delayed_close_timeout is the key setting.

Http keepalive(and http2) reuse connection on the adjacent requests. Meanwhile, it's a workaround because the last request may still experience the "early" close issue.

Envoy confirms that the OS at Envoy side contains the whole response and then close, providing a delayed_close_timeout as the best effort for client to drain. Let me see if I can

[2021-02-03 18:18] ceastman-ibm opened #30631 "Auth policy - deny all is allowing external traffic?"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
[code]
but when i exec into a pod in mynamespace, curl https://www.google.com still works

my environment is istio 1.8.2 i seem to recall this den

[2021-02-03 18:22] mandarjog commented on #30385
@hzxuzhonghu not sure what your comment means. Are you saying that this is supposed to be broken? I thought that your PR in december fixed tproxy.

[2021-02-03 18:22] elfinhe opened #30632 "istioctl install: no warning on applying multiple IOPs in a single file"
**Bug description**
istioctl install: no warning on applying multiple IOPs in a single file.
Only the first IOP is used, but customers are expecting all of them are merged.

I'd suggest we give warning messages and stop the installation.

[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] D

[2021-02-03 18:40] rajivml commented on #30586
sure @howardjohn we will try istio 1.8 and share the logs if that didn't fix the issue

[2021-02-03 18:57] mandarjog opened #30635 "1.9-rc0 ValidationController excessive logging"
[code]

[2021-02-03 19:00] esnible commented on #23526
@yangminzhu What is the status of this?

[2021-02-03 19:28] howardjohn opened #30637 "Add XDS authn/authz benchmark tests"
We have existing benchmarks here: https://github.com/istio/istio/blob/9a972ab4190c2da7c3e0134770bb8313c06e3826/pilot/pkg/xds/bench_test.go#L64
We should add some for Authn/Authz policies. This benchmarks the XDS control plane performance

[2021-02-03 19:34] mandarjog commented on #30385
@jrajahalme  PTAL.

[2021-02-03 19:52] christian-posta commented on #28880
Shouldn't this be a release blocker @jacob-delgado ?

[2021-02-03 20:01] Jefle2005 commented on #30594
Thanks i will test it with latest version.

to reproduce it, you just need to add some illegal character in the header name like Chinease.

[2021-02-03 20:10] christian-posta commented on #28880
I understand the TOC voted this not a release blocker which is unfortunate. This functionality being broken prevents canary upgrades. Unless there are some know workarounds? or order of operations to prevent getting into this state?

[2021-02-03 20:15] howardjohn commented on #30594
`curl ingress/productpage -H "Host: 文"`
[code]

Seems to log for me. Ithink DPE log is new, so maybe its fixed now

[2021-02-03 20:20] howardjohn commented on #30624
The real check we need is Envoy's hashing:
[code]

if the implementation is identical we might be able to use `proto.TextMarshaler{ExpandAny: true}`. The benefit of this is its closer to what envoy cares about and stable across Istiod versions - SetDeterministic requires the exact same binary to run (although its stable across instances). We can try both and compare results.

[2021-02-03 20:24] howardjohn commented on #28880
The general policy for release blocker is it is a regression from previous
versions. As this has been broken since ~1.6, it is not a release blocker
per that guidance. However, I think we all agree its a big issue and are
working to address it. The workaround in the meantime is to change the
Validating webhook address to the new revision, or make a `istiod` Service
selecting the new revision.

On

[2021-02-03 20:25] howardjohn commented on #30635
I agree the logs are bad, but I think this is a real bug that validation is not actually working? can you check if that is the case?

Or give some more info on what you did - looking at the code I dfon't understand how this state is possible. Where is this log? https://github.com/istio/istio/blob/e63270d703acaf38e5b703f4fc0b07195e4d46f6/pkg/webhooks/validation/controller/controller.go#L369

[2021-02-03 20:27] howardjohn commented on #30595
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/30628/integ-telemetry-mc-k8s-tests_istio/1357020390790008832

[2021-02-03 20:36] howardjohn commented on #30631
AuthorizationPolicy is ingress policy. Istio does not have egress policy

[2021-02-03 20:48] GeckoSplinter commented on #30615
Thanks a lot @howardjohn.
Yes we are working on it.

[2021-02-03 21:05] tbarrella commented on #28315
Ok, haven't solved this yet, but finally found a definitive issue. The summary is that there's an issue related to `FileEventImpl` that puts the SDS connection into a bad state.

Attached are logs where there are four successful test runs followed by a failure. This required turning on trace-level logging for all Envoy components.

The logs for starting the SDS stream in the failing test run start

[2021-02-03 22:00] mandarjog commented on #30624
I don’t think set deterministic is going to reorder a list. Since there is no way to tell repeated ( unordered ) to proto, but we know that some orders do not matter.

[2021-02-03 22:02] ceastman-ibm commented on #30631
@howardjohn the authorization policy also seems to control internal service mesh connections.

[2021-02-03 22:02] howardjohn commented on #30624
A re-ordered list is exactly the type of thing we *want* to catch with this test. Even if envoys matching logic doesn't care about order, its hashing *does*. So its a less critical bug to send in a different order in these cases, but will still cause drains which is pretty big issue I think.

[2021-02-03 22:12] #30010 closed

[2021-02-03 22:13] anuraagrijal3138 commented on #30010
Thank you!

[2021-02-03 23:41] istio-testing opened #30641 "[release-1.9] Control XDS auth header type by XDS_TOKEN_TYPE"
Manual cherrypick required.

#30604 failed to apply on top of branch "release-1.9":
[code]

[2021-02-03 23:46] howardjohn commented on #30621
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/30269/integ-pilot-multicluster-tests_istio/1356344062189244416

[2021-02-03 23:46] howardjohn commented on #30600
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/30269/integ-pilot-multicluster-tests_istio/1356344062189244416

Interesting it seems correlated to other flakes

[2021-02-03 23:46] howardjohn commented on #30592
still happens: https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/30269/integ-pilot-multicluster-tests_istio/1356344062189244416

seems correlated to https://github.com/istio/istio/issues/30600 and or https://github.com/istio/istio/issues/30621

[2021-02-03 23:48] lei-tang commented on #30641
Not applicable.

[2021-02-03 23:48] #30641 closed

[2021-02-03 23:49] howardjohn commented on #30600
Hmm, actually its in a different testsuite though. So that would be strange to be correlated, unless the k8s node is busted or something...

[2021-02-03 23:51] howardjohn commented on #30600
if you look at istiod internal state, it has status: https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/30269/integ-pilot-multicluster-tests_istio/1356344062189244416/artifacts/pilot-analysis-e64cfecd45e241cc/TestAnalysisWritesStatus/_test_context/istio-state724947152/primary/istiod-7d84fcb66d-sxhmd_configz. I am not sure how it can end up there if we didn't write it...

[2021-02-03 23:53] howardjohn commented on #30600
actually, if the Reconciled lastTransitionTime is anything to be trusted, we write exactly 1s after the test times out, which seems odd.

[2021-02-04 00:11] howardjohn commented on #30592
The problem is the remote ingress doesn't get the mesh config that the primary does:
https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/30269/integ-pilot-multicluster-tests_istio/1356344062189244416/artifacts/pilot-gateway-topology-57ba4f52/_suite_context/istio-state-544253653/remote/istio-ingressgateway-68c6498868-n55xv_proxy-config.json
vs
https://storage.googleapis.com/istio-pro

[2021-02-04 00:13] howardjohn commented on #30592
Ah my mistake.. this is super old failure, steven already fixed it. Thanks!!

[2021-02-04 00:13] #30592 closed

[2021-02-04 00:25] howardjohn commented on #30309
Thought about it some more, I think this is our best option. I will implement it.

[2021-02-04 00:36] #30629 closed

[2021-02-04 00:51] howardjohn commented on #29635
https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/30638/integ-security-multicluster-tests_istio/1357076861082931200/artifacts/security-e0fe1529c3c14d99a11597/_suite_context/test-ns1-2-81380-state-547277103/remote/b-v1-58bf85ddd7-xpfkk_istio-proxy.previous.log

Ran this one with a debug build

[2021-02-04 00:52] howardjohn opened #30645 "WASM test failure"
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/30638/integ-telemetry-mc-k8s-tests_istio/1357076859593953280

Ran a build with debug proxy image used. gateway fails to start: https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/30638/integ-telemetry-k8s-tests_istio/1357076859568787456/artifacts/telemetry-stats-prometheus-wasm-/_suite_context/istio-state-411826503/cl

[2021-02-04 00:57] esnible opened #30646 "'istioctl proxy-status' takes 30s when falling back from proxy-status to exec implementation strategy"
If port 15014 is firewalled, _istioctl_ will attempt to proxy to the control plane, wait 30 seconds to timeout, then use _exec_.

For most users, 15014 is open and this is faster than using exec.  It also requires less permissions.  The 30 seconds timeout is much to long.

Discuss:
- Use a much shorter timeout (5s?)
- Have an `--mode=exec` option to skip the proxy and go directly to exec.  Allow u

[2021-02-04 01:32] hzxuzhonghu commented on #30181
It is added in envoy 1.7, so it is.

[2021-02-04 01:53] zhranklin commented on #25021
@mstrYoda We've already been using our custom compiled version with support for regex.

[2021-02-04 01:55] howardjohn commented on #29635
https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/30638/integ-pilot-k8s-tests_istio/1357133224668565504/artifacts/pilot-f455d7b6476d4647b6de7a246/_suite_context/echo-1-28259-state-377749702/cluster-0/c-v1-69494bd86f-4pf7v_istio-proxy.previous.log another in debug build

[2021-02-04 01:58] howardjohn commented on #29635
@lambdai any way we can get a line number on where this occurs? seems pretty easy to reproduce with a debug build

[2021-02-04 02:10] linsun commented on #30625
@knrc @dgn could you shed some light on this?  Is there anything unique from openshift that prevents create-remote-secret cmd not working?  Note: in external istiod env, there is no istiod on the data plane cluster.

[2021-02-04 02:18] #30181 closed

[2021-02-04 02:18] istio-testing opened #30648 "[release-1.9] set MaxEjectionTime to BaseEjectionTime if it is greater than 300s"
Manual cherrypick required.

#30602 failed to apply on top of branch "release-1.9":
[code]

[2021-02-04 02:29] hzxuzhonghu commented on #30385
@mandarjog That fix is in 1.9. BTW, there is another istio-init panic #30393

[2021-02-04 02:36] Jefle2005 commented on #30594
you're right. i'm able to see the log now after upgrading version to 1.8

[2021-02-04 02:36] #30594 closed

[2021-02-04 02:44] hzxuzhonghu opened #30649 "Envoy outlier detection max_ejection_time breaks backward compatibility"
Envoy 1.17:`added max_ejection_time to limit ejection time growth when a node stays unhealthy for extended period of time. By default max_ejection_time limits ejection time to 5 minutes. `

If user previously set outlierDetection.BaseEjectionTime>5m, it would make envoy send NACK to cds.

In #30602, we manually set the max_ejection_time = base_ejection_time if base_ejection_time > 5m. According to

[2021-02-04 02:44] hzxuzhonghu commented on #30649
@istio/wg-networking-maintainers Need your advice

[2021-02-04 03:45] #30612 closed

[2021-02-04 03:56] lambotchi commented on #30614
Thank you, I also thought that deleting the namespace would delete this IOPs. I got stucked deleting the IOPs though. istio-operator namespace is already deleted. I istio operator from the finalizer entry of these IOPs. https://stackoverflow.com/questions/66029341/istio-operator-install-error-unmarshalerdecoder-unknown-field-policy/66039138#66039138

[2021-02-04 03:56] #30614 closed

[2021-02-04 05:03] #26772 closed

[2021-02-04 05:04] #27275 closed

[2021-02-04 05:04] #27466 closed

[2021-02-04 05:04] #27520 closed

[2021-02-04 05:04] #27675 closed

[2021-02-04 05:05] #28158 closed

[2021-02-04 05:05] #28159 closed

[2021-02-04 05:05] #28174 closed

[2021-02-04 05:06] jnovick commented on #23960
I believe it would be a poor decision to close this issue given the number of interested individuals. Please take action to prevent the bot from closing this issue automatically.

[2021-02-04 05:28] bianpengyuan commented on #23960
We have opencensus agent support now, which can use w3c trace context: https://github.com/istio/api/blob/8779b36cec99337f1b7dbd5f84a6b0e963aba0cb/mesh/v1alpha1/proxy.proto#L141

Will this suffice the need?

[2021-02-04 06:32] #30514 closed

[2021-02-04 06:50] binc75 commented on #30618
@SpecialYang if I apply this manifest:
[code]

The output of this command `kubectl get pods  nb-test -o yaml | grep concurr -A1` is:
[code]

I would anyway expect the parameter to be passed to envoy to be **0**, since in the configmap that's the value.

[2021-02-04 06:56] scr-oath commented on #26097
Yeah, this is pretty stale - for better or worse, I think I mistook the meaning of the upgrade policy to be directed at the app, when it's directed at the clients - I found another mechanism for forcing the protocol to the app to be http2 merely by naming the service portName http2.

Closing this as invalid to the original use of H2UpgradePolicy; if I get around to sending doc pr I'll either just

[2021-02-04 06:56] #26097 closed

[2021-02-04 07:44] adiprerepa commented on #30637
so are we benchmarking the time it takes for the control plane to authenticate/authorize something?

[2021-02-04 08:04] etifontaine commented on #30611
@howardjohn am I supposed to update the [istio/api doc](https://github.com/istio/api/blob/master/networking/v1beta1/virtual_service.proto#L1542), so it will update the doc automatically?

[2021-02-04 08:44] #30573 closed

[2021-02-04 08:53] jhart1685 commented on #30577
@lambdai - Thanks for the explanation. For now, we are going with setting `delayed_close_timeout` to 30s and will see how we get on.

I do agree that more intelligent default behaviour in Envoy would be desirable if possible.

We arrived at 30s by trying to understand how our nginx deployment handles this; and it seems that there are [more options to tweak](http://nginx.org/en/docs/http/ngx_http_c

[2021-02-04 09:38] libesz commented on #30625
New findings from my side:
* The K8S API certs in my environment are fully qualified (is this the right wording?). If I remove the CA data from the generated secret at all (and also remove the insecure flag), it also works.
* If I create a pod on the dataplane to use the same service account which is used to generate the secret on the external control plane, it also works, meaning the original tok

[2021-02-04 10:37] omerfsen opened #30655 "pilot/istiod podAntiAffinityTermLabelSelector is not respected on IstioOperator"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**

pilot/istiod podAntiAffinityTermLabelSelector is not respected on IstioOperator

**Affected product area (please put an X in all that apply)**

[

[2021-02-04 10:50] arief-hidayat opened #30656 "istio 1.8.2 pilot failed to patch istio-sidecar-injector webhook when istio is installed with revision"
**Bug description**
Error log in istiod
[code]

[ ] Docs
[x] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[x ] Upgrade

**Expected behavior**
istiod should patch istio-sidecar-injector webhook.

**Steps to reproduce the bug**

Install istio 1.8.2 with revision
[code]
https

[2021-02-04 11:01] ramaraochavali commented on #30649
I think we should check with Envoy on why max_ejection_time has to be enforced if it is not provided. I have asked that question here https://github.com/envoyproxy/envoy/pull/14235#issuecomment-773221219. Let us see the response and we can decide based on that.

[2021-02-04 11:13] baoervsdier commented on #30470
I started the debug mode, the log is as screenshot:
![WeChat Image_20210204191024](https://user-images.githubusercontent.com/32762305/106885058-0de8b880-671d-11eb-873b-4ada4eb549b2.png)

[2021-02-04 11:33] arief-hidayat commented on #29537
@howardjohn  could you please point me to the PR that fixed it.
I am facing same issue `SSL_ERROR_SYSCALL in connection to ...` with istio 1.8.2.

[2021-02-04 12:10] istio-testing opened #30657 "[release-1.9] Consolidate HTTP and TCP Client Settings with global DestinationRule"
Manual cherrypick required.

#30066 failed to apply on top of branch "release-1.9":
[code]

[2021-02-04 13:12] jnovick commented on #23960
I think that it will, but since Envoy supports W3C, I still feel like Istio should, but if OpenCensus allows W3C and when OpenTelemetry gets added, it will too then I guess it is fine for now. How do others feel?

[2021-02-04 13:49] esnible commented on #21118
I'm pretty sure an Istio team member performed an activity 16 days ago, IstioBot!

[2021-02-04 13:52] juergen-kaiser-by opened #30658 "Suppressed TCP keepalive in 1.6.12 and 1.8.2"
**Bug description**

Our service runs in a Kubernetes 1.18.10 cluster and performs operations on some other Kubernetes 1.18.10 cluster. The service tries to use TCP keepalive. However, we observe that the service does not send TCP keepalive messages if we use the Istio sidecar proxy. If we remove the Istio sidecar proxy then the service sends those messages.

For analysis we traced all tcp packets

[2021-02-04 13:53] esnible commented on #24345
Not stale.

Currently the analyzer only analyzes the K8s resources that Istiod watches.  So we don't check connectivity.  We have talked about a different tool to do connectivity with @GregHanson but did not complete a PR for that work.

I'd love to include more analysis of K8s and Istio resources for multicluster.  @lei-tang and others, do you have examples of invalid configuration that Istio doe

[2021-02-04 13:54] esnible commented on #23925
Not stale.

[2021-02-04 13:55] esnible commented on #25584
Not stale.  Adding `area/user experience` because UX merged with the config and must own config issues.

[2021-02-04 13:57] esnible commented on #25917
Not stale.

I'd like to target 1.10 for this.  We can handle it with docs, adding a note to every error code page if that analyzer that produces it only works with istioctl.  Better would be to enable these analyzers, unless there are performance penalties.

[2021-02-04 14:00] esnible commented on #22934
The only remaining issue is a docs issue, so removing the other areas.

[2021-02-04 14:12] esnible commented on #30632
@istio/wg-environments-maintainers To me it makes sense to for the tool to install them all if the revision tags are different.  For example, there could be a file that sets up Istio mid-canary with two control planes.

If the file contains multiple IOPs for the same `revision` should we
- Issue warning and skip?
- Issue warning and update the control plane twice?
- Merge all IOPs for the revision