[2019-03-14 19:39] linsun commented on #12493
Seems to me hosts are still need for many other scenarios, e.g. https://github.com/istio/istio/blob/master/tests/e2e/tests/pilot/testdata/networking/v1alpha3/service-entry-google.yaml

[2019-03-14 19:49] ymesika commented on #12493
@linsun it's making hosts not required. Not removing it.
I added a test to make sure that if both `hosts` and `addresses` are missing then validation fails.

If you have either of them or both then it's valid.

[2019-03-14 19:58] daparthi001 commented on #11977
After deploying the istio-system and istio-system1 on the same cluster ,second istio-system is not  able to start proxy ,is there way we can have ingress and egress gateways working properly ?

[2019-03-14 20:00] esnible commented on #9504
@nmittler I like the idea of an in-memory Pilot.  Could it be generalized beyond a new test case?  Something that would help me troubleshoot would be a CLI incantation that would read a YaML file into an in-memory Pilot and dump an Envoy configuration.  Something like `gen-envoy-config -f foo.yaml`.  We could pass in this user's Service and his Deployment (or injected output from `kubectl get <pod

[2019-03-14 20:32] duderino commented on #12162
Actually, rereading the comment in https://github.com/istio/istio/issues/12162#issuecomment-472839097 I think this is to be expected.

The fix in https://github.com/istio/istio/pull/12412 eliminated spikes from the xDS updates when there are no changes, but envoy still does lots of work when the xDS update has actual changes.   The same comment was made on https://github.com/istio/istio/issues/119

[2019-03-14 20:36] duderino commented on #12162
Hmmm, though I can't explain why 1.1 would be worse than 1.0.  @rshriram @mandarjog @kyessenov @costinm any ideas?

[2019-03-14 20:44] dwradcliffe commented on #12162
Ok, I tried rc5 with `PILOT_DISABLE_XDS_MARSHALING_TO_ANY=true` (and no Sidecar) and everything is MUCH BETTER! Zero failed requests, no cpu spikes, latency 3x lower.

![Istio | Datadog 2019-03-14 16-43-46](https://user-images.githubusercontent.com/118850/54390243-64a3ff80-4678-11e9-8e89-396fe030130c.png)

[2019-03-14 20:45] p4ali opened #12500 "Istio ingressgateway routing broken with two different gateways with same port name (SDS)"
**Describe the bug**
Using https/SDS to secure two gateways(in diff namespaces) which has same port name, the ingressgateway only route to the first

**Expected behavior**
Port name should not be necessary unique, since the gateways are in different namespaces, and ingressgateway should route correctly.
We have tested http, which works correctly and we hope https has same behavior.

**Steps to rep

[2019-03-14 20:47] howardjohn commented on #12055
Did you follow the AWS with Kops install instructions when you installed? I am not familiar with AWS setups but I believe there are some extra steps needed. https://istio.io/docs/setup/kubernetes/platform-setup/aws/

Istio in general shouldn't be messing with anything in kube-system.

[2019-03-14 20:52] duderino commented on #12162
@philrud boy am I glad we got your fallback plan into RC5.

OK, so there's a story here we still don't understand, and I'll leave the bug open to track the answer for it, but at least we can say this is not a 1.1 blocker.

@costinm @mandarjog @philrud @rshriram @hzxuzhonghu @kyessenov should we default PILOT_DISABLE_XDS_MARSHALING_TO_ANY to true for 1.1?

[2019-03-14 20:53] nrjpoddar commented on #12493
@ymesika you described it perfectly. Thanks for the PR!

[2019-03-14 20:55] pitlv2109 commented on #12496
Could you try this page first? https://istio.io/help/ops/security/debugging-authorization/

[2019-03-14 21:02] #9942 closed

[2019-03-14 21:20] dwradcliffe commented on #12162
My cluster is on the large end of the spectrum but even at smaller scale this is probably doing something undesirable, so to me it would make sense to default to true.

[2019-03-14 21:24] howardjohn commented on #11658
https://github.com/istio/istio/pull/12030 has the change for 1.0.7 if you want to track it

[2019-03-14 21:24] vikasguptaanaplan commented on #12496
I followed the steps at https://istio.io/help/ops/security/debugging-authorization/

Ensured that there is only 1 RbacConfig with the name default:

    $ kubectl get rbacconfigs.rbac.istio.io --all-namespaces
    NAMESPACE   NAME      CREATED AT
    dev         default   15h

Changed the rbac Output Level to debug.

I believe the issue is that the discovery container isn't printing any line conta

[2019-03-14 21:28] hmakkapati opened #12501 "Istioctl unable to reach proxies in remote clusters"
**Describe the bug**
Istioctl is unable to fetch config from proxies in remote clusters when Istio is deployed in a single control plane multi-cluster topology. Running the `istioctl proxy-status` and `istioctl proxy-config` commands for remote proxies from control plane cluster will fail.

[code]

[code]

**Expected behavior**
istioctl should return proxy config and sync diff with `proxy-config`

[2019-03-14 21:36] vikasguptaanaplan commented on #12496
here's the cluster dump:

https://www.dropbox.com/s/kr66b7fvi5o56ah/istio-dump.tar.gz?dl=0

     curl https://raw.githubusercontent.com/istio/istio/release-1.0/tools/dump_kubernetes.sh | sh -s -- -z
      % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                     Dload  Upload   Total   Spent    Left  Speed
    100  7837  100  7837    0     0

[2019-03-14 21:37] dwradcliffe commented on #12162
I just noticed that the listener config on the proxies are now different. (Maybe that's expected?) But we are missing some functionality - such as JSON access logs. There might be more things missing?
Listener config dump: https://gist.github.com/dwradcliffe/cc79db75c9054468dc8bac2bd42df256

[2019-03-14 21:42] venezia opened #12503 "Update gateways chart to list port 15443 (or some other always-on port) first in Service entries"
**Describe the feature request**
Update helm chart (or other possible vectors of installing istio) such that 15443 is the first port listed in the `ingressgateway` kubernetes service.

**Describe alternatives you've considered**
Out-of-band updating health check on ELB, is not fun

**Additional context**
In AWS environment, the first port on a service record is used for a health check.  In a defau

[2019-03-14 22:25] Stono commented on #12467
Brill, ta @sdake

[2019-03-14 22:25] #12467 closed

[2019-03-14 22:26] Stono commented on #12453
*bump* feels risky rolling out with this low limit

[2019-03-14 22:28] Stono commented on #11696
Nono I don't use ingress-gateway.  TBH my use case / work around is probably too specific to my infrastructure to help you out @ykoyfman

@vijaykumark yes if we have the app devs check the content of headers not to be nil or empty that fixes the problem, my issue is that they will not, they'll just (and are) blinding forward them.

Looks like it's resolved now anyway, but will probably have to wai

[2019-03-14 22:52] mehemken commented on #10464
This forces a significant deploy order for `VirtualServices`.

I vote no.

What if I need to update a `VirtualService` that needs to have the highest priority? Then I need to redeploy all the other `VirtualServices` too?

Can we just have sensible defaults that can be overridden with some `priority` setting at the `VirtualService` level?

[2019-03-14 23:35] duderino commented on #12500
@philrud is this similar to something you've looked at in the past?

Actually, this is a special P0 - we need to do it asap, but we can't get it into 1.1 because it shipped already

CC @costinm

[2019-03-14 23:41] bianpengyuan opened #12506 "Add mixer e2e test to cover out of process adapter feature"
An e2e test is needed to cover mixer out of process code path. Propose to replicate at least two test cases from the current mixer e2e suite: one for report with an oop prometheus adapter, and one for an oop check adapter. If we have an example route directive adapter, we could also add a case for that to exercise out of process decoding code path.

cc @douglas-reid @kyessenov

[2019-03-14 23:42] duderino commented on #11937
@silentdai Can you explain though why the Envoy process restarts instead of the pod?   In other words, what sort of xDS updates would cause Envoy to restart?

[2019-03-14 23:44] mandarjog commented on #12162
Was there any other change there? AccessLog / json access log are only available for `>=1.1` proxy. Is it possible that you also changed the proxy version in the middle?

[2019-03-14 23:57] duderino commented on #12181
@mandarjog this would be a good thing to try in one of the perf clusters

[2019-03-15 00:00] kyessenov commented on #12506
Adding OOP route direct adapter with https://github.com/istio/istio/pull/12505

[2019-03-15 00:01] dwradcliffe commented on #12162
No other changes. The proxy didn’t even restart, just got a new configuration push from the new pilot. If you look at my gist you can see all the keys of the config hash are different.

[2019-03-15 00:02] #8096 closed

[2019-03-15 00:13] p4ali commented on #12158
Verified in rc.5.

In rc.5, `useMCP` by default is true.  And `values-istio-auth-mcp.yaml` is gone.

[2019-03-15 00:16] philrud commented on #12500
@duderino another team previously reached out regarding a similar/related issue, but their use case was pretty simple: a single gateway with multiple hosts and the same name for secure ports. My understanding was that this is a known limitation with existing workaround: using distinct names for the ports solves the issue. That's what we ended up recommending them. No further investigation was done

[2019-03-15 00:26] JimmyCYJ commented on #12500
I can reproduce this issue with file mount based approach. ingress_config_dump_filemount_ingress.txt is the config dump of ingress gateway envoy, it only has one active_dynamic_listener for foo.example.com
[ingress_config_dump_filemount_ingress.txt](https://github.com/istio/istio/files/2968946/ingress_config_dump_filemount_ingress.txt)
This is my yaml file for reproducing this issue.
[foo-bar-file

[2019-03-15 00:29] philrud commented on #12500
yes, I don't believe this has something to do with SDS, just the lack of scoping while generating listener names or something like that

[2019-03-15 00:38] duderino commented on #12500
@philrud thanks for digging in.  please take it.  ideally this will go into 1.1.1

[2019-03-15 00:51] mandarjog commented on #12162
Given that this continues to be a problem here, I do vote for having `PILOT_DISABLE_XDS_MARSHALING_TO_ANY=1`

@PhilipGough can you make that change?

1. In pilot values install/kubernetes/helm/istio/charts/pilot/values.yaml , add `PILOT_DISABLE_XDS_MARSHALING_TO_ANY=1`  along with `GODEBUG`
2. Update pilot so that `PILOT_DISABLE_XDS_MARSHALING_TO_ANY="0"` will actually have the desired effect.

Th

[2019-03-15 01:10] hzxuzhonghu commented on #12162
agree

[2019-03-15 01:41] itsvikasgupta opened #12510 "Generating a cluster state archive tool: fatal error: runtime: out of memory"
I am seeing an error:

"fatal error: runtime: out of memory"

while dumping cluster state.

     $ curl https://raw.githubusercontent.com/istio/istio/release-1.0/tools/dump_kubernetes.sh | sh -s -- -z
      % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                     Dload  Upload   Total   Spent    Left  Speed
    100  7837  100  7837    0

[2019-03-15 01:43] vikasguptaanaplan commented on #12496
I created a separate bug for the OOM error in the cluster state collection tool:

https://github.com/istio/istio/issues/12510

[2019-03-15 01:46] myidpt commented on #12500
Thanks folks for prompt investigation.

[2019-03-15 01:59] morvencao commented on #12117
@duderino Thanks, will verify this in my today.

[2019-03-15 03:07] yangminzhu commented on #12395
I'm curious about why do you want to copy the istio generated secrets to other namespace? Why not let istio to do this for you?

[2019-03-15 03:19] yangminzhu commented on #12351
Is `saturn-istio-gateway-auth` applied to the ingress gateway? This is actually not supported yet, I have a PR to support this in 1.2. See https://github.com/istio/istio/pull/12415

The RBAC should be deterministic, do you have some more information for the request when it has different result?

Also just to confirm, your `saturn-services-role` is a super set of `saturn-ambassador-role` which mean

[2019-03-15 03:21] yangminzhu commented on #12305
Could you try to use the latest 1.1 rc5, and yes we have updated it to accept the pod name recently.
/cc @diemtvu

[2019-03-15 03:31] yangminzhu commented on #11787
/cc @yangminzhu

[2019-03-15 03:37] yangminzhu commented on #11975
mTLS should be reliable enough, (JWT provides more flexibility though)

Do you know why these test fail? Is it related to the big endian system?

/cc @diemtvu

[2019-03-15 03:54] hzxuzhonghu commented on #12501
I guess `istioctl` does not support multicluster @liamawhite @ymesika

[2019-03-15 04:27] #12493 closed

[2019-03-15 06:20] zengyuxing007 commented on #11736
@mandarjog  where i can found the mixer v2 design document? thanks

[2019-03-15 06:41] incfly opened #12513 "Write a debug tool for Istio developers to troubleshooting mTLS issues"
Istio provide mTLS, and sometimes it causes problems for us and customers. As an Istio developer, I want these things can be managed can tell me what is wrong. What's going on, unexpected ALPN? Failed at SAN validation? Invalid cert?

However, several things can make debugging even harder

- ALPN = "istio" and PERMISSIVE mode
- SNI Routing on Gateway, we use this for multi cluster and mesh expansi

[2019-03-15 06:42] incfly commented on #12513
@PiotrSikora @wattli thoughts? Anything we can turned to borrow or reference directly?

[2019-03-15 07:22] silentdai commented on #11937
I cannot reproduce the envoy process restart without pod restart. Maybe "envoy process restart" was referring to the fact that pod restart?

[2019-03-15 07:28] silentdai commented on #11937
My observation is more horrible: If the envoy process died, for example, killed by `killall envoy`.
The envoy process no longer restart. The istio-proxy is alive while the pod is not serving any app traffic. By app traffic I mean book-review http request in the demo.
The reason is that pilot-agent is the main process of istio-proxy
- pilot agent is alive so the pod is not restarted
- dead envoy wo

[2019-03-15 07:31] silentdai commented on #11937
@costinm ^^ What is the expected consequence if envoy die silently?

[2019-03-15 07:40] silentdai commented on #12162
@dwradcliffe  When you say you "tried rc5" or "Running 1.1.0-rc.4", is the pilot version rc5(or rc4) or istio-proxy pod? My understanding is that the version of pilot matters. Maybe other components as well. But not the version of istio-proxy (aka the injected sidecar pod)

[2019-03-15 07:54] incfly commented on #11091
/cc @incfly

[2019-03-15 08:50] PiotrSikora commented on #12513
Ideally, any issues should be visible in the logs, and we should be able to tell exactly why they are happening, without the need to run any CLI tool from the affected pod.

Note that most of the SSL errors have dedicated stats, see: https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/stats
(same `ssl.*` stats for clusters), so you could infer a lot from those and other stats.

[2019-03-15 08:52] FengLiqiong commented on #9764
Same issue in istio-1.1.0-rc.5.
But it seems istio 1.1.0 is using envoy 1.10.0, and envoy 1.10.0 ring hash load balancer seems to support weighting.

Please check https://github.com/istio/proxy/blob/1.1.0-rc.5/istio.deps:

and https://github.com/envoyproxy/envoy/blob/925810d00b0d3095a8e67fd4e04e0f597ed188bb/VERSION:

and envoy 1.10.0 docs https://www.envoyproxy.io/docs/envoy/latest/intro/arch_over

[2019-03-15 08:55] yangminzhu commented on #12513
I was working on a PoC tool (#11091) for this purpose but get distracted for 1.1 and other stuff later, hopefully I can get the first version out next week.

The tool basically reads and parses envoy config directly to output mTLS config on each ip/port in both listeners and clusters. I'm hoping this could help in the debugging mTLS (JWT, RBAC in the future) as the envoy config should give us the

[2019-03-15 10:00] robertpanzer commented on #11937
I just tested again, and for me only the Istio-proxy process dies, the container and therefore pilot-agent stays alive. I also checked the pod status and the container restartCount is still 0.

In the logs of istio-proxy I see this when the istio-proxy is killed:
[code]

For me the restarted envoy is serving traffic again.
I guess though that inflight requests will get lost.

In my console I found

[2019-03-15 11:04] ac111 commented on #12395
Copying the Istio secrets via the operator was as unintended side-effect -- the operator was originally used to copy other secrets between namespaces (eg. docker registry secret, for example), which was beneficial for my company's product stack deployment.  However, this interfered with the normal operation of Istio unintentionally.

[2019-03-15 11:15] rsbala commented on #12178
Thanks esnible for the quick response, the above configuration works !! Now we are facing the similar issue with Destination rule based on Consistent hash. Consistent hashing based on httpHeader works through ingress-gateway but not working through service.

**Newly added consistent hash destination rule:**
[code]

**Full yaml:**
[code]

**Behavior through ingress-gateway, outside the cluster:**
[

[2019-03-15 11:18] dwradcliffe commented on #12162
Each time it was full control plane and proxy versions upgraded.

[2019-03-15 12:26] dwradcliffe commented on #12162
@mandarjog @PhilipGough @philrud I found the reason the access log is broken, see my PR fix: https://github.com/istio/istio/pull/12516

[2019-03-15 13:48] esnible commented on #12513
I have an idea for how to expose this through _istioctl_.  Please comment at https://docs.google.com/document/d/1yoq1RLJbfljXfRmbaV4HAVoog1LzHgeHkbbR9wdKRW8/edit

I currently test manually with `kubectl exec $(kubectl get pod --selector app=myclient --output jsonpath='{.items[0].metadata.name}') -c istio-proxy -- curl -v https://myserver.default.svc.cluster.local:80/ --resolve "myserver.default.sv

[2019-03-15 13:52] mseravalli opened #12518 "Use all envoy http redirect capabilities"
Currently istio redirects only on the same domain by updating the path:
https://istio.io/docs/reference/config/istio.networking.v1alpha3/#HTTPRedirect

It would be interesting to be able to use all redirect attributes provided by envoy:
https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#route-redirectaction
so that they are configurable like:
[code]

[2019-03-15 13:52] esnible commented on #12510
I am not sure why you are seeing the Out Of Memory error.  I do know that fixes were made a few months ago to make sure that gigantic log files are not included.  I am not sure which versions have that fix.

The dump_kubenetes.sh tool has some problems running on bash 3 (Mac OSX) but not on bash 4 (Linux).  The work item is https://github.com/istio/istio/issues/12156 and there is a PR https://gith

[2019-03-15 13:53] pms1969 commented on #11973
I've solved the ingress problem now.

[2019-03-15 13:54] #11973 closed

[2019-03-15 14:01] serefacet commented on #10134
+1 :+1:

[2019-03-15 14:06] #12291 closed

[2019-03-15 14:08] #12112 closed

[2019-03-15 14:10] #9919 closed

[2019-03-15 14:17] Yannig opened #12519 "Outbound traffic for a metadata recovery service"
**Describe the bug**

We deploy our application in Istio and among one of our services, we have a metadata consultation mechanism. This service is used to retrieve information on links that will serve as a resource document.

The problem with this service is that by definition, we are unable to predict in advance which sites will be consulted.

Unfortunately, as I went through the documentation, I

[2019-03-15 14:52] Miouge1 commented on #7505
I found this chart repo: https://gcsweb.istio.io/gcs/istio-prerelease/prerelease/1.1.0-rc.5/ unfortunately it's available only on 1.1.x versions at the moment.

[2019-03-15 14:54] liamawhite commented on #12501
No, it requires kubectl access to the remote cluster. This is something we would like to support but it will need a rethink of how the command works. We should consider this as part of the CNI work changes as and when we need to do them.

[2019-03-15 15:09] douglas-reid commented on #12486
I believe container ports are required for proper proxy function, including tracing. So, this is Working As Intended, I believe.

The Networking WG was looking at changing this requirement. Perhaps @andraxylia can provide comment here?

[2019-03-15 15:59] nmittler commented on #9504
@esnible yeah that's a good idea and should be easy enough to cook up.  Want to raise an issue for post 1.1?

[2019-03-15 16:07] vhosakot commented on #10721
I still see this issue with latest istio (`1.0.6`). Is there any workaround?

Following https://istio.io/docs/setup/kubernetes/sidecar-injection/#manual-sidecar-injection. All the istio pods are up and running.

[code]

Versions:

[code]

[2019-03-15 16:08] monkeymorgan commented on #11977
Hi @daparthi001 - I've removed my multitenancy experiment so can't offer any debugging advice beyond that the ingress/egress gateways work fine restricted to a single NS and you can indeed run 2 control planes - start with configuring the sidecar injector to target the correct control plane. I'm not sure it's a good idea to use this issue to debug your setup though as we could end up getting away

[2019-03-15 16:40] pms1969 opened #12521 "Istio with Concourse"
**Describe the bug**
I'm trying to set up concourse with istio.  I've successfully got the web pod communicating with the database using mtls, but I cannot get the workers to join the tsa(running port 2222 on the web pod).  Without any policy or destination rules, I would have thought that this should just work.

Having looked at https://github.com/istio/istio/issues/10053, I changed all the web b

[2019-03-15 16:41] ibm-jason opened #12522 "HTTP Routing through EgressGateway via the endpoint method doesn't work."
**Describe the bug**

As part of the work to validate https://github.com/istio/istio.io/issues/3312, we discovered that defining the ServiceEntry that routes HTTP traffic using ServiceEntry endpoints instead of VirtualServices does not work.

**Expected behavior**

After defining and configuring an EgressGateway to allow HTTP traffic to hit the `edition.cnn.com/politics` URL as in the [Egress Gate

[2019-03-15 16:45] pms1969 commented on #12521
some extra info;
[code]

[code]

the concourse web pod has a lot of this:
[code]

[2019-03-15 16:53] vadimeisenbergibm commented on #12522
Note that there is no `edition.cnn.com` domain in the route configuration of the egress gateway.

[2019-03-15 17:08] quanjielin commented on #3519
Update for GCLB->Istio ingress-gateway:
Readiness probe was added to Istio ingress-gateway recently; in current Istio/IAP setup, GCLB depends on Istio ingress-gateway readiness probe for health check(details see https://github.com/istio/istio/issues/9385).

[2019-03-15 17:15] esnible opened #12523 "IDEA: Batch/offline Pilot"
This idea comes from a conversation between myself and @elevran as well as a comment from @nmittler https://github.com/istio/istio/issues/9504#issuecomment-473342916

The idea is to create an "offline Pilot".

We could feed the output of `dump_kubernetes.sh` to the tool and it would generate Envoy configuration for debugging problems that needed a dump.

You could also feed it the current system s

[2019-03-15 17:21] silentdai commented on #11937
@robertpanzer
Let's use "envoy" to specify the process and "istio-proxy" to specify the container. With your detailed the description I can understand this time :)

So we have understood that it's the oom killer that terminate envoy process. We won't try to reproduce other logic causing envoy died.

1. Are you still using the service entry config rotating delete and apply?
2. It's a known problem

[2019-03-15 17:22] vikasguptaanaplan commented on #12510
I ran

    ./dump_kubernetes.sh with bash -x

Here is where the OOM happens:

    + kubectl cluster-info dump
    fatal error: runtime: out of memory

[2019-03-15 17:27] robertpanzer commented on #11937
I was just wondering how the process was killed, and it looked to me like I was not alone with this :-D
To find out what happens I still did the repeating create and delete.

I agree that this should not happen too often, and it's not blocking me anymore.

[2019-03-15 17:31] vikasguptaanaplan commented on #12510
I ran

    $ kubectl --v=9 cluster-info dump

Looks like it is OOMing while getting the logs of calico-node container. I wonder if there is a way to tell cluster-info to skip that container.

    ==== START logs for container calico-node of pod kube-system/calico-node-2qksq ====
    I0315 17:26:05.286403    8198 loader.go:359] Config loaded from file /home/company/.kube/config
    I0315 17:26:05.2

[2019-03-15 18:12] esnible commented on #12510
I checked the source code for `cluster-info dump` (at https://github.com/kubernetes/kubernetes/blob/f229aa0ad65a0378645a68ebc7ca2bf65e4957e9/pkg/kubectl/cmd/clusterinfo/clusterinfo_dump.go ); no options other than restricting namespaces.

I ran with and without `-v 9`.  For me, the command takes 90 seconds and produces a 153 MB file.  I am using _kubectl_ v1.13.4.  I found nothing in github about

[2019-03-15 18:16] wattli opened #12527 "Ubuntu as Istio base image"
Reported by a customer:

"Istio is using ubuntu 16.04 with a full 150MB operating container which
is expanded to a 5 GB system disk.

This is much to much for a sidecar running in every pod.

You should find a solution with statically linked code. Envoy is already
statically linked. Please repeat it also for the pilot application and other programs needed
in the init container."

[2019-03-15 18:20] wattli commented on #12527
The ubuntu image was defined here: https://github.com/istio/istio/blob/d93e9eb86a104c77275e84077fd20435ab1c9cfa/docker/Dockerfile.xenial_debug#L1

It's been here for a while and I put it as a P1 for 1.2, but I would like to hear feedbacks.

@mandarjog @duderino for information.

[2019-03-15 18:27] howardjohn opened #12528 "Locality based load balancing requires client to have a Service"
**Describe the bug**

Locality based load balancing only works when the caller has a Service associated with it. This is because it's locality is set based on the locality of the first Service https://github.com/istio/istio/blob/009730f1abc86ee10d530022c5d79e18fe31fa37/pilot/pkg/proxy/envoy/v2/ads.go#L687

You shouldn't need a Service to do this -- think about situations where you are just a clien

[2019-03-15 18:43] silentdai opened #12531 "install instruction in preliminary 1.1 does not work"
**Describe the bug**
https://preliminary.istio.io/docs/setup/kubernetes/download/
I am try to download the latest 1.1.0-rc5 following instruction [here](https://preliminary.istio.io/docs/setup/kubernetes/download/#download-and-prepare-for-the-installation) but it report error

The reason is that 1.1.0 is not submitted to https://api.github.com/repos/istio/istio/releases/latest
To maintain the comp

[2019-03-15 18:47] philrud commented on #12162
Here's a PR based on the discussion with @mandarjog and @costinm (see the PR description for details): https://github.com/istio/istio/pull/12530

[2019-03-15 19:32] vadimi opened #12533 "Ingress gateway idle timeout"
**Describe the bug**
We're running istio ingress as `DaemonSet` in AWS EKS. We also have AWS ALB in front of the ingress. Everything is working fine until kubernetes drops connections to ALB due to `--conntrack-tcp-timeout-established` timeout configured in kube-proxy (https://kubernetes.io/docs/reference/command-line-tools-reference/kube-proxy/), 24 hours by default. After that when we make reque

[2019-03-15 19:45] quanjielin commented on #12444
@costinm instead of putting global.sds flag in meshconfig, I used env instead, could you pls take a look at https://github.com/istio/istio/pull/12534? If it's ok, I will move other existing SDS fields(in meshconfig) like this later.

[2019-03-15 19:57] kylebevans opened #12535 "galley log says authorizationpolicies.rbac.istio.io/v1alpha1 resource type not found"
**Describe the bug**
The istio-galley, istio-pilot, and istio-policy pods all go into a crash loop.  I think the cause is related to these errors in the galley log:

[code]

The errors in the pilot log are:

[code]

The errors in the policy log are:

[code]

**Expected behavior**
I expected all of the containers to run.  I have another cluster where everything is working normally.

**Steps to repr

[2019-03-15 19:58] mdgreenfield opened #12536 "Sidecar egress port results in listener with BlackHoleCluster filter"
**Describe the bug**
Configuring `Sidecar` `egress` ports for namespaces other than `istio-system` results in a `envoy.tcp_proxy` filter of `BlackHoleCluster`

**Expected behavior**
The Envoy outbound cluster configuration should be set to the correct cluster.

**Steps to reproduce the bug**
1. Configure a `Sidecar` with the configuration:

[code]
1. Inspect the Envoy's configuration (i.e. `localh

[2019-03-15 20:03] howardjohn commented on #12536
Cluster is set here https://github.com/istio/istio/blob/89f7d762ee635abd90b61321174383fbf37c8555/pilot/pkg/networking/core/v1alpha3/tls.go#L258-L266 because service is nil

Service is always nil because it is never set here https://github.com/istio/istio/blob/effeb0f9302054b13eccf9c1339fcd3f8b1f3ab0/pilot/pkg/networking/core/v1alpha3/listener.go#L768-L777

[2019-03-15 20:09] howardjohn commented on #12531
I think the docs are just meant for the real release not prereleases

[2019-03-15 20:35] emirhosseini commented on #12493
As a workaround until this change is made you can set the value to "*" but you are probably already aware. Putting this here for others who may run into this in the meantime.

[2019-03-15 21:11] wattli commented on #11091
/cc @wattli

[2019-03-15 21:12] wattli commented on #11091
Great work and it's really important if we can do it right. @yangminzhu /@incfly, does Ed's summary match what's in your mind?

[2019-03-15 22:18] kylebevans commented on #12535
I had to add this CRD, which is CRD-12 here: istio/install/kubernetes/helm/istio-init/files/crd-12.yaml
However, I think that still needs to make it into the istio-init helm chart.

[code]

[2019-03-15 23:26] #9017 closed

[2019-03-15 23:32] duderino commented on #12522
I think this is not a release blocker because, per @costinm Egress Gateway is an Alpha feature

[2019-03-15 23:42] silentdai commented on #11937
Actionable here and close this issue:
- @robertpanzer Please don't create and delete service entry point too frequently. It's known problem and not high priority as we shouldn't see this in production. In case of emergency we can reduce the drain window to mitigate.
- I confirm the envoy won't be restarted if I kill it. The pod is not dying. Maybe there is health check setting could mitigate it. I

[2019-03-15 23:57] linsun commented on #12522
i would agree with that, most users are struggling to get service entry working w/ outbound traffic (without the egress gateway).

[2019-03-16 00:11] yangminzhu commented on #12535
How are you installing Istio? We just added the authorizationpolicy, maybe we missed some place for the installation.

/cc @ozevren

[2019-03-16 00:22] hzxuzhonghu commented on #12522
Is anyone looking? If not, i am free today

[2019-03-16 00:30] duderino commented on #12522
@hzxuzhonghu it's all yours.  Thank you

[2019-03-16 01:17] mdgreenfield opened #12543 "ProxyConfig.InterceptionMode of NONE does not disable iptables interception"
**Describe the bug**
I'm trying to enable whitebox mode for istio by setting `.ProxyConfig.InterceptionMode` to `NONE` in the `istio` ConfigMap. However, doing so does not disable the `istio-init` `initContainer` in the sidecar injector.

**Expected behavior**
I believe that setting `.ProxyConfig.InterceptionMode` to `NONE` should disable the init container and therefore iptables redirect configur

[2019-03-16 01:26] #9933 closed

[2019-03-16 01:36] kylebevans commented on #12535
Using the helm charts in the Istio.io helm repo.

[2019-03-16 02:26] #9963 closed

[2019-03-16 02:36] vadimeisenbergibm commented on #12522
@linsun Note that https://github.com/istio/istio.io/issues/3312 is related to Egress Gateway only, so what should be it's priority?

[2019-03-16 03:21] zimmertr commented on #12535
I can confirm I'm effected by this issue as well. Using the Helm Template install solution to an EKS cluster.

[2019-03-16 03:24] hzxuzhonghu commented on #12522
It is expected behavior, without a VirtualService, the gateway can not work currently.

[2019-03-16 04:01] yangminzhu commented on #12535
I have sent out a PR to fix this, meanwhile you can manually apply the
crd-12.yaml to solve it.

On Fri, Mar 15, 2019 at 8:21 PM Thomas (TJ) Zimmerman <
notifications@github.com> wrote:

[2019-03-16 06:10] qiyongxiao opened #12545 "VirtualService in hosts not permite domain+port"
## Hello, I use istio(version:1.0.6) to edit VirtualService that hosts add an port. It show issues like this:

[code]

## This is the config.yaml
<img width="973" alt="dddd" src="https://user-images.githubusercontent.com/7349963/54471443-eec4a300-47f3-11e9-862b-162a6e6e9727.png">

### My istio cluster expose an nodePort 31380 to forward traffic.
While the VirtualService.spec.hosts value is "*",  a

[2019-03-16 07:44] incfly commented on #9659
/cc @incfly

[2019-03-16 08:17] vadimeisenbergibm commented on #12522
@hzxuzhonghu This is the new style proposed by @rshriram, to direct the traffic through the gateway by ServiceEntry's endpoints, and by a VirtualService.

[2019-03-16 08:18] vadimeisenbergibm commented on #12522
^ ... and **not** by a VirtualService.

[2019-03-16 09:25] Sanbornzhang commented on #11933
kube-controller-manager logs
[code]

[2019-03-16 16:06] duderino commented on #12162
Last two PRs will be in 1.1rc6 (and nothing else except for some samples and doc changes)

[2019-03-16 16:08] duderino commented on #12117
We can't wait any longer but if you see the issue later please reopen this bug

[2019-03-16 16:08] #12117 closed

[2019-03-16 17:41] skydoctor commented on #1206
Is there a way now to configure trace sampling?

[2019-03-16 18:39] objectiser commented on #1206
@skydoctor https://preliminary.istio.io/docs/tasks/telemetry/distributed-tracing/overview/#trace-sampling

[2019-03-16 18:53] skydoctor commented on #1206
Thanks @objectiser! From the [PR](https://github.com/istio/istio/pull/6989), this seems like a mesh-wide config, do you know if this will apply for requests coming in to the mesh via ingress-gateway? I presume yes because the envoy in ingress-gateway is also controlled by the same pilot but it is treated special in some cases so wanted to make sure.

[2019-03-16 18:56] objectiser commented on #1206
Yes the same config applies.

[2019-03-16 20:08] #8557 closed

[2019-03-17 01:13] gdhagger opened #12549 "Need ability to set use_remote_address to false in ingressgateway envoy config"
**Describe the feature request**
Need to be able to tell an ingressgateway that it's not the absolute edge proxy.  Currently the value for it's envoy http connection filter 'use_remote_address' configuration is hardcoded to true.  This causes it to ignore values set for x-forwarded-for, x-forwarded-proto etc.  In turn, this breaks the behavior of the httpsRedirect flag in a gateway configuration w

[2019-03-17 02:38] jaygorrell opened #12550 "Frequent "Client.Timeout exceeded while awaiting headers" in kubectl events (1.1.0-rc.6)"
**Describe the bug**
I deployed a very simple deployment (3 pods) with liveness/readiness probes and the `kubectl events` log had regular (every 30-60s) probe failures. I'm not positive if this happens with regular requests but I doubt that would be any different.

The default retries in 1.1 seem to take care of this, so it isn't end-user impacting but I would expect to rely on the retry for the _

[2019-03-17 08:36] adamglt opened #12551 "Headless services - pod fails mTLS handshake with itself"
**Describe the bug**
With mTLS auth enabled, when using `<dashed-pod-ip>.my-headless-service.my-namespace.svc.cluster.local` endpoints (provided a matching `ServiceEntry`) - pods successfully make HTTP calls to **all pods except themselves**.

This appears to be the root cause behind some of our headless services problems.
It is a repeating issue with many gossip-based clusters - e.g. akka, kafka,

[2019-03-17 09:39] Hamdan-Atypon commented on #1296
@vadimeisenbergibm ,

How can allow all ingress egress traffic between all the pods in the cluster? all internal communication ?

this option did not helped at all :
--set global.proxy.includeIPRanges="10.0.0.1/8"

[2019-03-17 13:42] vadimeisenbergibm commented on #1296
@Hamdan-Atypon All the traffic between all the pods is allowed by default for any Kubernetes service.

[2019-03-17 13:55] Hamdan-Atypon commented on #1296
@vadimeisenbergibm well the envoy is dropping my connection ..

![image](https://user-images.githubusercontent.com/43438708/54492199-0e7bca00-48cd-11e9-90f7-7a86425f1fdf.png)

[2019-03-17 17:00] giedroyc opened #12553 "HTTPRewrite not triggering before routing to destination"
**Describe the bug**
HTTPRewrite doesn't trigger. Request gets routed to destination correctly but without rewrite.

**Expected behavior**
Request should have prefix replaced according to rewrite uri.

**Steps to reproduce the bug**

[code]

**Version**
istio 1.0.6
kubectl 1.13.0

**Installation**
Istio without mutual TLS authentication between sidecars
kubectl apply -f install/kubernetes/istio-de

[2019-03-17 17:51] vadimeisenbergibm commented on #1296
@Hamdan-Atypon Did you define a Kubernetes service for 10.19.75.49, port 50000 ?

[2019-03-17 21:33] rshriram commented on #9659
this has been solved with exportTo.

[code]

[2019-03-17 23:00] rshriram commented on #12522
the example is not correct. you need a virtual service to route. When I spoke about eliminating a virtual service with the endpoint.network thing, what I meant was that you no longer needed a virtual service to route from the sidecar to the egress gateway. You will always need a virtual service for a gateway.

[2019-03-18 04:26] hzxuzhonghu opened #12558 "Split horizon EDS LoadBalancingWeight set not correct"
If we have multi-gateway for remote cluster, then the weight of `LbEndpoint.LoadBalancingWeight`
is not set accordingly.
And also `LocalityLbEndpoints.LoadBalancingWeight` which is set from`createLocalityLbEndpoints` is not right.

[2019-03-18 04:29] hzxuzhonghu commented on #12558
/cc @ymesika

[2019-03-18 06:11] loewenstein commented on #9659
@rshriram the problem still exists with egress- and ingress-gateway in the same namespace (as is the case by default when installing with the Helm chart).

Further, the namespace isolation was mentioned as mitigation, not a solution in this issue's discussion.

Not sure what a real solution would be. Maybe add a `gateways` field to DestinationRule, similar to VirtualService?

[2019-03-18 06:54] Sanbornzhang commented on #11933
if using `resourcequota`  must change configmaps istio-sidecar-injector setting requests and limits
[code]

[2019-03-18 06:54] #11933 closed

[2019-03-18 08:10] hzxuzhonghu commented on #12558
Opened @12560 Try to fix

[2019-03-18 08:18] Hamdan-Atypon commented on #1296
yes, but with no luck

also i don't want it to be specific per IP, i want an IP range to allow all there ports ..
I've tried the annotations for exclude InBound and OutBound but nothings work

@vadimeisenbergibm

[2019-03-18 09:12] vadimeisenbergibm commented on #1296
@Hamdan-Atypon What is your service definition?

[2019-03-18 09:15] vadimeisenbergibm commented on #12522
@rshriram I see, so it is a ServiceEntry with an endpoint, and also a VirtualService for the gateway.

@ibm-jason Please add a VirtualService to your HTTP Egress Gateway example:

[code]

[2019-03-18 09:27] Hamdan-Atypon commented on #1296
@vadimeisenbergibm  i am not using them as a service, i need the pods to communicate directly as a cluster, without reaching for the service ..

i have tried this just for debugging, and i could not even telnet from inside the same pod on that port ..

[code]

what i need is that the pods can communicate on port 50000 (there will be a lot of pods)

[2019-03-18 09:31] vadimeisenbergibm commented on #1296
@Hamdan-Atypon Note the Istio requirements for pods and services: https://istio.io/docs/setup/kubernetes/spec-requirements/

The port name must be `tcp-<some suffix>`.

[2019-03-18 09:41] Hamdan-Atypon commented on #1296
@vadimeisenbergibm nice,

can i add a range in the hosts part not a single ip ?

[2019-03-18 09:59] Stono opened #12561 "http.url in spans reported by istio are being cut to a fixed length (116 characters of qs values)"
**Describe the bug**
http.url in the span context is being stripped down (not showing the complete thing) which makes debugging rather difficult.

Taking my good old test case of `[ingress-nginx] -> [consumer-gateway] -> [sauron-web]`.

Here is the first span, which for us is recorded by `ingress-nginx` using the opentracing libraries:

[code]

And here is the span for consumer-gateway, as recorde

[2019-03-18 11:17] atotala opened #12562 "After serviceentry not able to access the external IP"
I am trying to access an IP address within the network but not able to access it with the below service entry.

apiVersion: "networking.istio.io/v1alpha3"
kind: "ServiceEntry"
metadata:
  name: "ABCD"
  namespace: "abcd"
spec:
  hosts:
  - 10.x.y.z
  ports:
  - number: 9443
    name: https
    protocol: tcp
  resolution: DNS
  location: MESH_EXTERNAL

Below is the error I am getting from my servic

[2019-03-18 11:52] vadimeisenbergibm commented on #1296
@Hamdan-Atypon Oh, sorry, I meant you should define a Kubernetes Service - https://kubernetes.io/docs/concepts/services-networking/service/, not an Istio Service Entry.

[2019-03-18 12:03] olegchorny opened #12563 "bookinfo service not able to communicate using short DNS names, while FQDN works."
Not sure if this is an issue or not, but the behavior is pretty weird, and should be somehow related to the setup. My bookinfo services not able to communicate to each other (stuck on envoy?) using short DNS names and able to do it using FQDN.

And it seems like non-DNS issue, since curl didn't return "Could not resolve host error".

**Describe the bug**
` kubectl exec -it $(kubectl get pod -l app

[2019-03-18 12:08] daleangus opened #12564 "Why is my ISTIO policy configuration not applied? Please see my problem in stackoverflow"
https://stackoverflow.com/questions/55218689/why-is-my-istio-policy-configuration-not-applied

[2019-03-18 12:38] mpuncel opened #12565 "CRD Installation instructions out of date"
**Describe the bug**
https://istio.io/docs/setup/kubernetes/quick-start/#installation-steps says to `kubectl apply -f install/kubernetes/helm/istio/templates/crds.yaml`, but this YAML file no longer exists as of January.

[2019-03-18 12:45] jaygorrell commented on #12565
Those are the 1.0 docs and the CRD file is still in 1.0.6. For 1.1 you should be using https://preliminary.istio.io/docs/

[2019-03-18 12:46] mpuncel commented on #12565
got it, thanks!

[2019-03-18 12:46] #12565 closed

[2019-03-18 13:02] gtseres commented on #9943
Hello! Is the issue on the Envoy side? If so, is there a bug in the Envoy repo for that?

[2019-03-18 13:30] linjinjin123 opened #12567 "How to save the metrics in prometheus more than one day？"
Hi, I have run a hipster demo with istio, but the metrics(such as service duration) were saved only one day(look like restart at 12:00 am). I want to know how to modify the configure so that I can save the metrics for longer time?
![image](https://user-images.githubusercontent.com/10062840/54533399-fdae7f80-49c4-11e9-9de4-8921cbc542ca.png)

[2019-03-18 13:33] esnible commented on #12564
You have

[code]

I tried and had the same problem as you until I specified the port.

I was using Bookinfo with this example:

cat <<EOF | kubectl apply -f -
apiVersion: authentication.istio.io/v1alpha1
kind: Policy
metadata:
  name: jwt-hello
  namespace: default
spec:
  origins:
  - jwt:
      issuer: "628645741881-noabiu23f5a8m8ovd8ucv698lj78vv0l@developer.gserviceaccount.com"
      jwksUri: "

[2019-03-18 13:39] jmazzitelli commented on #12567
When installing via helm, use `--set prometheus.retention=2d` to store data for 2d. Obviously, replace "2d" with your desired retention period.

When you look at your installed Prometheus pod that Istio provides you, it passes in the retention rate in the command line - so presumably if you already have Istio/prometheus installed, you can just edit the deployment yaml and redeploy the pod.

[2019-03-18 13:40] esnible commented on #12563
Can you try

[code]

For me, I get

[code]

The way name resolution works in Linux is that the system first tries to resolve.  If that fails, it tries each of the SEARCH choices as suffixes.  There is a limit of six search suffixes.

[2019-03-18 13:42] linjinjin123 commented on #12567
@jmazzitelli Thanks! I have found this parameter in my istio.yaml

![image](https://user-images.githubusercontent.com/10062840/54534096-a27d8c80-49c6-11e9-8244-318796cda574.png)

[2019-03-18 13:43] jmazzitelli commented on #12567
Yup  - that's it. If you had passed that --set option to helm when you installed, that "6h" would have been whatever you passed in for its value.

You could alter that "6h" in your yaml and redploy to get a new retention period.

[2019-03-18 13:44] ibm-jason commented on #12522
@rshriram, @vadimeisenbergibm

OK, I will re-test this again today. The missing piece from the example is the creation of a VirtualService to route traffic out from the EgressGateway. I'll post my results here when this testing is complete.

[2019-03-18 13:48] dwradcliffe commented on #12531
This is somewhat duplicate of https://github.com/istio/istio.io/issues/3325

Your original steps would have worked if you used the actual pre-release version `1.1.0-rc.5`. So: `curl -L https://git.io/getLatestIstio | ISTIO_VERSION=1.1.0-rc.5 sh -` does work.

[2019-03-18 13:50] esnible commented on #12531
This is how I do it:

[code]

[2019-03-18 13:50] dwradcliffe commented on #12162
Confirmed access logs are fixed in 1.1.0-rc.6.

[2019-03-18 14:05] olegchorny commented on #12563
[code]
Little bit more requests:
[code]

[2019-03-18 14:12] esnible commented on #12563
OK.  It is different with multicluster.

This may be a duplicate of https://github.com/istio/istio/issues/12324

Are the sleep pod and productpage on the same pod?

[2019-03-18 14:32] dankirkpatrick commented on #11509
@jensendw That is exactly what we are doing--sharing a single wildcard cert across multiple gateways.  We will try your work-around.

This behavior we are seeing sounds slightly different than #12500.  This affects gateways with distinct port names, as well.

Is there any reason multiple gateways cannot share the same wildcard cert?  By having a single Gateway definition across all of our VirtualS

[2019-03-18 14:42] howardjohn opened #12570 "Locality LB Distribute SIGSEGV"
[code]

If distribute is used, Pilot will crash every time, because we try to access the current weight which is nil.

I have a fix for this, just documenting this here.

[2019-03-18 14:59] ibm-jason commented on #12295
I've been digging around the codebase looking for the appropriate place to add this test automation. I look at this:

https://github.com/istio/istio/blob/fd6055a78808b5e5e3577989c0442f35050d48f8/Makefile#L49

This looks to be the Makefile target for istioctl tests. Can someone confirm whether I'm in the right place for adding this functionality?

[2019-03-18 15:09] Hamdan-Atypon commented on #1296
why ? i don't need a service :(
the communication should take place between all pods, directly, not through service (which will make load balancing, roundrobin)

[2019-03-18 15:13] rshriram commented on #12500
The gateway port names have to be unique, if they are sharing the same port. Thats the only way we differentiate different RDS blocks. We went through this motion earlier as well. I wouldn't rock this boat unless absolutely necessary.

[2019-03-18 15:23] dsanchor commented on #12454
I was trying to set the requestcount metric label 'response_code'  to:
` conditional((api.protocol | context.protocol | "unknown") == "grpc", response.grpc_status, (response.code | 200) )`
so I could have both gRPC and HTTP response codes in the same label.

The problem is that response.grpc_status is an String and response.code is int64, so mixer validation fails due to [type checking](https://is

[2019-03-18 15:24] vadimeisenbergibm commented on #1296
But the pods' IPs are temporary, I mean pods can come and go any time and get new IPs.

[2019-03-18 15:39] nrjpoddar commented on #12493
@ymesika can we re-open this issue as your PR was reverted? I think this is still an issue as the user experience is not good if you are required to provide unused fields in a resource spec which might have other implications.

[2019-03-18 15:40] motek80 opened #12572 "TCP connections inside mesh - "Connection closed by foreign host""
**Describe the bug**
Cannot establish TCP connection from one pod to another inside mesh (with sidecars injected in both pods).

**Expected behavior**
Pods should be able to communicate with other pods in same mesh.

**Steps to reproduce the bug**
We have several developers in the team, all of us apparently have the same environment. However, I'm the only one who experiencing this weird issue.

St

[2019-03-18 15:47] philrud commented on #12500
@rshriram @costinm @duderino
I have drafted a PR for this: https://github.com/istio/istio/pull/12556 (also fixes https://github.com/istio/istio/issues/11509)
This is currently against 1.1, I'll rebase it over 1.1.1 once the branch is cut.

[2019-03-18 15:49] philrud commented on #11509
@dankirkpatrick the root cause is the same. I got a PR that fixes #12500 and I've tested a wildcard cert shared across two namespaces/gateways, combination of wildcard+normal cert, etc. -- that works. I believe it's too late for it to go to 1.1, but 1.1.1 should be possible

[2019-03-18 15:54] nerusnayleinad opened #12573 "Request for more DOCUMENTATION in addition to samples"
I have noticed that when one tries to do something a little bit different to the examples, Istio FAILS, and since almost all your documentation is based on examples, it is very hard to get what is going wrong.

I prefer to read hundreds and hundreds of pages, and get a solid knowledge of what is this technology, rather then to read all your examples for some specific scenarios, and have no idea wh

[2019-03-18 16:23] myidpt commented on #12500
@duderino Shipping with 1.1.1 makes sense. Have we decided when the 1.1.1 release will be?

[2019-03-18 17:36] olegchorny commented on #12563
They are in different pods and namespaces and it looks like your reference to the issue is the answer for my question.

What I need to change exactly (as temp solution) to make it work and check if it helps?

[2019-03-18 17:58] douglas-reid opened #15729 "FR: Forward istio attributes in HTTP response header"
Just like we flow forward info like `source.*` attributes, we should flow back `destination.*` attributes and related.

`Report()`ing on requests at the client often depends on passing `destination.uid` attributes and having Mixer (the `kubernetesenv` adapter) populate details about the server workload, etc.

It would be useful if that information flowed between proxies for `Report`s instead. The

[2019-03-18 18:24] esnible opened #12580 "istioctl subcommands for multicluster"
We have helm options for setting up multicluster but it is difficult to view and modify the multicluster settings without reinstall.

Currently I use a non-user-friendly way of seeing my configuration

[code]

Design proposal at https://docs.google.com/document/d/19mQojPz0A6W56CE9iREjSfCXjrvCf_hkU-bw5trzRpI/edit

[2019-03-18 18:24] esnible commented on #11731
CLI / usability gap Issue: https://github.com/istio/istio/issues/12580

[2019-03-18 18:41] howardjohn opened #12582 "istio-locality label fails k8s validation"
https://github.com/istio/istio/blob/70f3993de38ebbdaaee745d9f17a40858abccfae/pilot/pkg/model/service.go#L387-L392

Since LocalityLabel is derived from a K8S labels, which do not allow `/` in them, this isn't very useful.

[code]

We can't actually define `region/zone/subzone` for an instance, because it will fail validation.

It may also be useful to let this override K8S definition, if it is prov

[2019-03-18 19:06] howardjohn commented on #12543
Looks like NONE is not a part of the ProxyConfig.InterceptionMode proto: https://github.com/istio/istio/blob/319ae418ed6564e4323b19d29a679f6f9234f829/vendor/istio.io/api/mesh/v1alpha1/proxy.proto#L156

I think we just need to add this and it should work

[code]

[2019-03-18 19:14] silentdai commented on #12531
Thank you for the comments. I assumed we should avoid user do extra homework to find the latest prerelease tag.
It's reasonable if we explicitly list the latest tag in doc.
Close this one as it duplicate istio/istio.io#3325.

[2019-03-18 19:14] #12531 closed

[2019-03-18 19:21] howardjohn commented on #12543
Just spoke with @costinm, who says this is working as intended. In order to disable the init container you will need the annotation on each pod. The sidecar injector template is a little misleading in indicating that it can be set disabled in the mesh config. Do you have any specific use cases where you would need to do this?

[2019-03-18 19:21] ozevren commented on #12550
/cc @andraxylia @costinm

This looks similar to the issue we've looked at a couple of days back with @sbezverk

[2019-03-18 19:23] kyessenov commented on #12454
@dsanchor thanks for the feedback! Both `int(_)` and `string(_)` are obvious candidates to help with response codes. I'm not sure why the gRPC status is even a string TBH, an enum is more appropriate.

[2019-03-18 19:28] mdgreenfield commented on #12543
Our planned default behavior in production is to disable the `istio-init` `initContainer`.

[2019-03-18 19:31] sbezverk commented on #12550
@jaygorrell it would be interesting to see if at the time of readiness probe failure, you could still curl pilot's endpoint.

[2019-03-18 19:36] jaygorrell commented on #12550
@sbezverk Apologies but can you clarify? Happy to try but I'm not quite sure what "pilot's endpoint" refers to.

[2019-03-18 19:39] ozevren commented on #12550
@sbezverk the failure in this case is in the bookinfo deployments, not Pilot.

[2019-03-18 19:40] ozevren commented on #12550
@jaygorrell Any chance you can port-forward to one of the bookinfo service pods and see if you can reach the service directly?

We have seen a similar problem recently, although it was in a Pilot deployment. There was some suspicion of this being related to Istio components, but if this is happening for bookinfo as well, it might be a general K8s problem.

[2019-03-18 19:41] sbezverk commented on #12550
`kubectl exec -n istio-system {pilot-pod} -c discovery -- curl http://localhost:8080/ready -vvv`

[2019-03-18 19:45] #12474 closed

[2019-03-18 19:46] jaygorrell commented on #12550
@ozevren Spinning it up now to test, but I want to clarify that it never actually killed any pods so the checks didn't fail continuously. They were intermittent (or mitigated by retries if those go through Istio?)

This was also on a vanilla test cluster install so I imagine it would happen regularly if anyone else can see if their `kubectl events` is full of similar.

[2019-03-18 20:02] jaygorrell commented on #12550
Interesting. I had the cluster spun down (0 hosts, but didn't wipe out the persistent data), but it's not happening now.

A bit more info on what happened before I hit this then:
I was re-testing https://github.com/istio/istio/issues/9043 to see how stable things are on a 1.1 candidate. I went up to about 500 pods (100 at a time until everything stabilized) before noticing the `kubectl get events`

[2019-03-18 20:08] dwradcliffe commented on #12531
You're right, for the pre-release site it would be better to show the latest rc version tag. Feel free to open an issue on that repo. 😄

[2019-03-18 20:13] andrewjjenkins commented on #12551
I am also seeing this issue.  I noticed that POD1->POD2 traffic does get the Envoy access log showing the "outbound|8855||*.curly-headless.alice-dev.svc.cluster.local" cluster was matched, but POD1->POD1 traffic never does.  I believe it works like this:

1) The iptables rules redirect the POD1->POD1 traffic to Envoy's listening port.
2) Envoy accepts the connection and uses SO_ORIGINAL_DST to fig

[2019-03-18 20:13] incfly commented on #12513
@esnible why --insecure is needed?

[code]

Success one ends up with connected client, failing one ends up error. I still haven't fully studied the output format yet.

[code]

[2019-03-18 20:26] andrewjjenkins commented on #12551
btw I would be happy to help out with a fix but I couldn't think of an easy one (not having thought very hard).  These were my rough thoughts:

1) Maybe a listenerFilter in Envoy could be used to say "If the source is us, then force this through the Outbound and Inbound policy  (https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/listener/listener.proto#listener-filterchainmatch - source_typ

[2019-03-18 20:56] liamawhite commented on #12582
Maybe we should change to `~`?

[2019-03-18 20:57] howardjohn commented on #12582
Seems reasonable to me. I think the ideal solution would be an annotation, but the current code only grabs all of the labels - not sure how much effort adding annotations would be but I don't think it is that straight forward.

[2019-03-18 21:28] Stono opened #12583 "503 retries, istio vs application source"
I have a question regarding all the work that's been done recently with istio retries behind the scenes.  My question at a high level is *will istio differentiate between a 503 returned by envoy, and a 503 returned by an application*?

It's my understanding (cc @nmittler) that the transparent retries behind the scenes will do connection errors etc, but also, 502/503.

Now what is to happen if the

[2019-03-18 21:37] #12359 closed

[2019-03-18 21:40] absc6 commented on #12332
This worked by adding destinationrule with following config
[code]

[2019-03-18 21:40] #12332 closed

[2019-03-18 21:55] howardjohn commented on #12543
Ok, thanks for the info. We would prefer to not change the ProxyConfig.InterceptionMode proto. Instead, we could just modify the injector behavior with helm values, by adding some value like `noneByDefault`.

Current behavior:
[code]
Proposed behavior:
[code]

Would something like this work for you? If so we can get it out in 1.1.x

[2019-03-18 21:55] nmittler commented on #12583
@Stono Our retry logic by default will retry 503s returned by the application (but not 502s). I don't believe we have a way of differentiating between a 503 generated by Envoy and a 503 from the application.

In all of the following cases below, envoyA will retry:

[code]

In all of these cases, the retry logic is nestled within envoyA and it only has the ability to determine whether the immediate

[2019-03-18 21:57] esnible commented on #12513
@incfly I suspect `-insecure` is needed because Istio checks only part of the certificate.

To reproduce, install Bookinfo.  Then:

[code]

The output will be as expected.  But leave off `--insecure`, and you will see

[code]

[2019-03-18 22:02] mdgreenfield commented on #12543
That will work for us. Prior to opening this issue, your proposed solution is what I envisioned until I saw the `interceptionMode` configuration.

[2019-03-18 22:13] yangminzhu commented on #12564
@esnible Yes, if you don't specify the port, it should match all by default.

@daleangus could you dump yaml config of your `hello` service? It seems you name the port following the Istio restriction: https://istio.io/docs/setup/kubernetes/spec-requirements/, also make sure you use the short name in the auth policy.

[2019-03-18 22:32] kyessenov commented on #2539
Oh no, another protobuf serialization as a hash bug.

[2019-03-18 22:32] kyessenov commented on #2539
/cc @bianpengyuan @mandarjog @douglas-reid
Found this while reviewing code in this area...

[2019-03-18 22:44] howardjohn opened #12587 "Locality LB Distribute ignored by Envoy"
For the load_balancing_weight to be used, we must set
[code]

In the cluster. This does not happen properly in the code, so the weights are ignored.

[2019-03-19 01:28] rshriram commented on #12536
does the service listen on same port as 5757?

[2019-03-19 01:34] howardjohn commented on #12536
I believe it is always blackhole cluster if the port is there. Take a look at the code I linked above. But when I was testing I set service as 5757 and something else and got same results

[2019-03-19 02:27] idouba opened #12590 "Does 1.1 support two virtualService share the same host."
In the spec of [1.0 VirtualService](https://istio.io/docs/reference/config/istio.networking.v1alpha3/#VirtualService)， host is described "Alternatively, the traffic properties of a host can be defined using more than one VirtualService". Especially for the case [One host(domain) and path-based service delegation in gateway](https://istio.io/help/ops/traffic-management/deploy-guidelines/#multiple-v

[2019-03-19 02:38] ozevren commented on #12535
@kylebevans are you sure that this is a 1.1 installation? Galley should not be looking for AuthorizationPolicies in 1.1.

[2019-03-19 02:44] idouba commented on #9375
/remove stale

[2019-03-19 06:35] hzxuzhonghu commented on #12590
/cc @rshriram

[2019-03-19 06:58] luguoxiang opened #12591 "how to enable mtls for mixer e2e-test?"
**Describe the bug**
{{ Succinctly describe the bug }}
It seems mixer's e2e tests are using non-mTLS destination rule,  I need to do following change to run the tests under mTLS enabled istio installation.
[code]
Is there any way to avoid such code change and make the test run under  mTLS enabled istio installation?

**Expected behavior**
{{ What did you expect to happen? }}
Test passed

**Steps t

[2019-03-19 07:00] idouba commented on #6070
@frankbu ,does this is supported in 1.1. I see VirtualService spec update the host description and emphasise that "A host name can be defined by only one VirtualService". what does this mean?

What is the suggested solution in 1.1 and what is he final solution?

[2019-03-19 07:02] idouba commented on #12590
#6070

[2019-03-19 07:04] hzxuzhonghu commented on #12590
I find https://github.com/istio/api/pull/621 is in release-1.0 but not in release-1.1.

But in 1.1, add a note **A host name can be defined by only one VirtualService**

[2019-03-19 07:19] hzxuzhonghu commented on #12582
`~`  is also not a valid character. ` regex used for validation is '(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?')`

So the only choice we should use is `_`  or `.`

[2019-03-19 07:36] daleangus commented on #12564
##################################################################################################
# Details service
##################################################################################################
apiVersion: v1
kind: Service
metadata:
  name: hello
spec:
  ports:
  - port: 8080
    protocol: TCP
  selector:
    app: hello
---
apiVersion: extensions/v1beta1
kind: Deployment
meta

[2019-03-19 08:09] hzxuzhonghu commented on #12582
/assign

[2019-03-19 08:15] qiaozhi58 opened #12593 "How can I open the Jaeger UI in a remote browser, not the localhost machine"
The official document said:
We can access the Jaeger UI by the following action:
kubectl port-forward -n istio-system $(kubectl get pod -n istio-system -l app=jaeger -o jsonpath=’{.items[0].metadata.name}’) 16686:16686 &

Then can use http://localhost:16686.
But the localhost is a Linux machine, there haven’t a browser.
I must open the browser on a remote machine.
How can I do?
thanks.

[2019-03-19 08:17] hzxuzhonghu commented on #12572
It may has something todo with envoy tcp proxy. Can not remember the issue number .
Actually for mysql or redis, you can use the cli to access. `Connection closed` should be caused by you send invalid data via the connection.

[2019-03-19 09:17] motek80 commented on #12572
@hzxuzhonghu

Thank you for your response. I can hardly believe it has something to do with data I sending, since: a - I just opening telnet, not sending anything and; b - without Istio it works as expected.

I will appreciate if you could recall issue number.

[2019-03-19 09:21] rvansa opened #12594 "gRPC tracing on in pilot-discovery"
**Describe the bug**
gRPC tracing is on by default in `pilot-discovery` process which leads to excessive memory usage. This is the offending line:
https://github.com/istio/istio/blob/1.1.0-rc.5/pilot/pkg/bootstrap/server.go#L121
When turning it off I can see substantially decreased memory usage as there are no `istio.io/istio/vendor/golang.org/x/net/trace.trace` objects on the heap.

**Expected be

[2019-03-19 09:26] procyclinsur commented on #12564
I believe I am having the exact same issue.. I didn't see @daleangus stack overflow issue and posted my own [Here](https://stackoverflow.com/questions/55237183/istio-jwt-authentication-does-require-auth).  Please see it for more information.

[2019-03-19 09:55] zengyuxing007 opened #12595 "bookinfo example: build review image error"
**Describe the bug**

jesse@ubuntu:~/go/src/istio.io/istio/samples/bookinfo/src/reviews$ docker run --rm -v "$(pwd)":/home/gradle/project -w /home/gradle/project gradle:4.8.1 gradle clean build

Welcome to Gradle 4.8.1!

Here are the highlights of this release:
 - Dependency locking
 - Maven Publish and Ivy Publish plugins improved and marked stable
 - Incremental annotation processing enhancement

[2019-03-19 10:10] joseguerrero commented on #10134
+1 :+1:

[2019-03-19 11:18] #10822 closed

[2019-03-19 11:41] hzxuzhonghu commented on #12572
#10832  I am not sure if this can help

[2019-03-19 11:42] hzxuzhonghu commented on #12572
Also https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/lds.proto.html

The listener_filters_timeout is 15s by default.

[2019-03-19 11:57] #10385 closed

[2019-03-19 12:08] aguromanodg commented on #10068
hello @ajit-hybris , I am having the same issue. Were you able to find a workaround or something? Appreciated.

[2019-03-19 12:26] elevran commented on #12563
@olegchorny if the pods are in different namespaces the short name should include the namespace.
See https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#what-things-get-dns-names:

This may still fail due to #12324 and not having the short name (w/ns) in the host name config.

[2019-03-19 12:43] serefacet commented on #12593
@qiaozhi58 you could bind the listen address to 0.0.0.0 in order to open 16686 port to outside.

`kubectl port-forward **--address 0.0.0.0** -n istio-system $(kubectl get pod -n istio-system -l app=jaeger -o jsonpath=’{.items[0].metadata.name}’) 16686:16686 &
`

References
[https://github.com/kubernetes/kubernetes/issues/40053](https://github.com/kubernetes/kubernetes/issues/40053)

[2019-03-19 12:49] olegchorny commented on #12563
@elevran
yep, in my example I've provided three different cases with different outputs, let me copy them:
This case is not expected:
[code]
These two expected:
[code]

[2019-03-19 12:52] linsun commented on #12590
it is documented here:  https://preliminary.istio.io/help/ops/traffic-management/deploy-guidelines/#multiple-virtual-services-and-destination-rules-for-the-same-host

cc @frankbu @louiscryan

[2019-03-19 13:01] elevran commented on #12563
I missed the example with the NS. Can you please do a DNS lookup on the `sleep` pod to confirm you're getting the same correct IP address in all cases. If so, I'd suggest marking this as duplicate of #12324.
I'd suspect a fix will be in 1.1.1 shortly after the release.

[2019-03-19 13:24] esnible commented on #12564
@daleangus Your Service port needs a name.  I recommend the name 'http'.  Kubernetes doesn't require a port but port names are meaningful for Istio.

[2019-03-19 13:32] olegchorny commented on #12563
@elevran

[code]
[code]
[code]

[2019-03-19 13:33] emichaf opened #12598 "Helm Ingress Prometheus & Grafana not working!"
Deploying Istio via Helm chart istio-1.1.0.tgz

Ingresses not working for Prometheus & Grafana (but works for Kiali, Jaeger & Servicegraph)

**Setting subchart params for ingresses:**

prometheus.enabled="true"
prometheus.ingress.enabled="true"
prometheus.ingress.hosts={"prometheus.mysystem.com"}

grafana.enabled="true"
grafana.ingress.enabled="true"
grafana.ingress.hosts={"grafana.mysystem.com"}

[2019-03-19 13:36] esnible commented on #12563
Could this be a duplicate of https://github.com/istio/istio/issues/12324 ?

[2019-03-19 13:38] elevran commented on #12563
Seems to be.

[2019-03-19 13:40] esnible commented on #12593
Create a VirtualService for the path /jaeger and set the destination to the Jaeger service.

@frankbu Should we consider a sample or other documentation showing how to expose the internal services?

[2019-03-19 13:44] yannlambret commented on #12290
Hello,

I have just made a test by applying the above configuration on the ingressgateway with istio 1.1.0-rc.6, as per your instructions.

I get more or less the same error from pilot:

[code]

[2019-03-19 13:58] iftachsc opened #12599 "RDS is stale only for a specific deployment blocking it from outbound traffic"
**Describe the bug**
we have 60 microservice.
after a recent update (not sure its related) only for this service we get stale (istioctl proxy-status) on its RDS column.
if we delete the pods of this service the new pods still gets staled over RDS which means its not an issue with pilot connectivity.
we currently have 224 injected pods in the mesh (including istio-system)

![image](https://user-ima

[2019-03-19 14:09] iftachsc commented on #12599
update: more pods start to have this now. i guess its related to the fact our environments grows today - i.e. we have more injected pods coming up.

only restarting pilots help but this is really bothering.

i cant see antyhing special in pilots logs.
pilots (3 replicas) are not even close to their resource requests (no limits set).
it seems to me that manually triggering pilot rolling update so i

[2019-03-19 14:23] Morishiri commented on #12456
Thanks, worked for me! Here is an updated version of the tar.gz archive:
[istio-dump-1903.tar.gz](https://github.com/istio/istio/files/2983824/istio-dump-1903.tar.gz)

[2019-03-19 14:48] iftachsc commented on #12599
update: after restarting the pilots and problem is fixed - synced pods that i delete are replaced by new pods that are again stale on RDS (even pilots are fresh now)

[2019-03-19 14:48] jnativio opened #12600 "Builds from Master branch since 03/15 cannot run successfully after deployment"
**Describe the bug**
Master builds since 03/15 have been failing to run. It appears that galley is failing to start and causing other pods to fail as well. See attached logs.

![image](https://user-images.githubusercontent.com/18554027/54613056-7139a680-4a30-11e9-977d-229459d4a7eb.png)

**Expected behavior**
Istio should run successfully using the default helm install values.

**Steps to reproduce

[2019-03-19 14:49] jaygorrell commented on #12550
@ozevren I went to 100 pods again, then back down to 3 and was able to get things back in this state.

It's interesting though -- no pods get killed because not 100% of health checks fail. I set `failureThreshold` to 1 and started getting restarts regularly. I haven't been able to replicate a timeout or any other issue using port-forward, though... it _seems_ like only k8s health checks.

I think

[2019-03-19 15:05] iftachsc commented on #12599
update: i see in logs of sidecars of these pods the following:
config for type.googleapis.com/envoy.api.v2.RouteConfiguration rejected: Only unique values for domains are permitted. Duplicate entry of domain 10.190.24.204

does it mean that they cannot update their routes for some reason?

[2019-03-19 15:11] jpittis commented on #12305
Confirming that this is a problem for us too.

[code]

All four of the above commands return

[code]

Using `istio-1.1.0-rc.6`.

[2019-03-19 15:24] andrewjjenkins commented on #12551
3. Change iptables rules so that POD1->POD1 traffic skips Istio/Envoy if it is using POD1's Pod IP 172.17.0.17 (just like how it skips if it is 127.0.0.1)

[code]

Disadvantage here is that if POD1 calls POD1 on the pod IP, maybe it should go through Envoy/Istio.  Comes down to behavior and expectations but at first pass, I think I would want metrics, traces, rate limiting etc. on this connection.

[2019-03-19 15:46] kylebevans commented on #12535
Yes, installed from the istio.io helm repo.  Perhaps that repo is sourced from the absolute latest version.  To be honest, it would be nice if there was a helm repo for the stable version.

Here is the output from helm list:
[code]

[2019-03-19 15:48] iftachsc commented on #12599
update: ok this wasthe reason for this stale porxies. we had a service entry that had both hosts and addresses that resolve to the same ips. i would just like to get a confirmation my behaviour is expected when this situation is set. because for me its odd that one mistake in a service entry can shutdown all traffic in the mesh (assuming stale porxy cannot access anything, as we experienced)

[2019-03-19 15:53] adamglt commented on #12551
@andrewjjenkins thanks for looking into this.

I think that **direct** self-connections are going to almost always be part of a gossip protocol using the "bound" hostname as an endpoint.
For example, the initial use case that brought us to this issue was `akka-cluster-bootstrap` - the coordinator resolves SRV records using the headless service and calls them (there's no logic branching dealing wit

[2019-03-19 15:58] frankbu commented on #10985
Is this only an issue for productpage? Do all the other bookinfo services (reviews, ratings, details) output log messages?

[2019-03-19 15:59] douglas-reid commented on #12593
@esnible We added documentation already on how to expose the telemetry services. See: https://preliminary.istio.io/docs/tasks/telemetry/gateways/.

This was also filed against istio/istio.io. Closing.

[2019-03-19 15:59] #12593 closed

[2019-03-19 16:00] douglas-reid commented on #12567
Closing, as this has been answered.

[2019-03-19 16:00] #12567 closed

[2019-03-19 16:06] douglas-reid commented on #12561
/cc @bianpengyuan

[2019-03-19 16:08] douglas-reid commented on #12561
@Stono just to clarify: in the traces you are seeing the `http.url` tag be truncated?

@objectiser any thoughts here?

[2019-03-19 16:09] Stono commented on #12561
Yes yes I can give you the JSON blob on slack

[2019-03-19 16:12] douglas-reid commented on #12561
@Stono here's a quick dig through source for what I think is the relevant bit:

https://github.com/envoyproxy/envoy/blob/23bf90446b4c196d64342b20cf39bbac18795fa9/source/common/tracing/http_tracer_impl.cc#L33-L36

[2019-03-19 16:15] ozevren commented on #12535
/cc @costinm @sdake. I am not sure how the helm repos are setup, but if I am not mistaken, the charts are showing as 1.1, even though they seem to be coming from master.

Can you guys update the version numbers so that it is explicit that the installations are coming from master?

[2019-03-19 16:17] douglas-reid commented on #12561
I can't find any solid reason for that limit in a quick search, but hopefully someone else can provide insight.

[2019-03-19 16:20] ozevren opened #12601 "Sidecar tests are flaky"
The sidecar tests using the new test framework are flaky. This seems to be due to the use of fsnotify in Galley. I am disabling the test and opening this bug to track re-enablement, so that I can land the new refactorings in master.

Once they land, I'll re-enable the tests.

[2019-03-19 16:23] douglas-reid commented on #12561
Asked a question here: https://github.com/envoyproxy/envoy/pull/444

[2019-03-19 16:29] jansmets opened #12602 "unable to drain k8s node running Istio components with PDB"
Deployed istio 1.1.0 RC with helm chart (not template)

I would like to drain out a specific node because it needs a reboot.
The PODs
[code]
prevents that.

[code]

(also note that annotation scheduler.alpha.kubernetes.io/critical-pod is deprecated and will be removed in k8s 1.14!)

[2019-03-19 17:10] adamglt commented on #12551
Just tried it (in a hacky way) - I think there's an ordering issue, or I'm missing something.

Changed the injector template to this:
[code]

That produces this `istio-init` log:
[code]

But still:
[code]

[2019-03-19 17:17] mbanikazemi opened #12603 "Virtual service binding to wrong gateways"
**Describe the bug**
For a given gateway that does not have any VS associated with it, it gets routes from a VS defined for a different gateway.

**Expected behavior**
No such binding of VS to a gateway for which the VS was not defined

**Steps to reproduce the bug**
1- create two gateways:

[code]

and

[code]

2- define a VS:

[code]

Check the envoy config on Ingress gateway and notice routes h

[2019-03-19 17:20] esnible commented on #10985
@frankbu I verified this is only an issue for Productpage.  Checked Feb 1 and verified today.

[2019-03-19 17:32] ozevren opened #12605 "TestCELExpressions has data race"
https://circleci.com/gh/istio/istio/357863?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

[2019-03-19 17:56] linsun commented on #12603
what happens if you hit the ingress gateway on port 99?  does it route to httpbin?

[2019-03-19 17:59] pluqueTheLuxe commented on #2641
Zack, what sidecar proxy are you using for your Windows pod?

We currently have a mixed-os cluster but I am not able to figure out what I should use!

Thanks

[2019-03-19 18:13] kyessenov commented on #12605
I cannot merge the fix. See the struggle here https://github.com/istio/istio/pull/12383

[2019-03-19 18:28] ozevren opened #12606 "Initial image pulls on Prow are extremely slow."
The initial unlucky test that happens to be pulling the images down takes an enormous amount of time.

https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/12574/istio-integ-k8s-tests/5157/build-log.txt

It starts deployment & wait at ```2019-03-19T16:25:56.902108Z```
[code]

First signs of life appear at ```2019-03-19T16:31:38.581693Z```, after ~6 minutes.
[code]

And by ```2019-03-

[2019-03-19 18:38] rlenglet commented on #8059
@zuzzas Thanks, that's a great find! I think the [Istio 1.1 doc on the Sidecar resource](https://preliminary.istio.io/docs/reference/config/networking/v1alpha3/sidecar/) may be a good place to document this.

[2019-03-19 18:41] linsun commented on #11606
@mabushey more investigation revealed that you need to refer the gateway with its namespace to get the VS bound to it properly.

I have tested the following examples in 1.1.rc.5:

https://github.com/linsun/istio-traffic-examples/blob/master/httpbin/vs-ns1.yaml. (ns1 namespace)
https://github.com/linsun/istio-traffic-examples/blob/master/httpbin/vs-default.yaml (default namespace)

The two works th

[2019-03-19 18:44] linsun commented on #11606
@rshriram @frankbu should we simply recommend users to specify namespace/ when referring to the gateway from VS?   Anything else we need for this issue?

cc @andraxylia @costinm

[2019-03-19 18:56] nishanth-pinnapareddy commented on #11091
/cc @nishanth-pinnapareddy

[2019-03-19 18:58] esnible opened #12607 "Build istioctl tab completion file along with binaries; document how to use it."
We have a "tab completion" ability in istioctl.  This saves typing for long commands such as "istioctl experimental verify-install".

We have a mechanism to generate the bash config file, `istioctl collateral --bash`.  But the command is hidden so users don't see it and we don't document it.

I produced a PR to make this option visible, possibly with a new name, but the feedback on that PR was tha

[2019-03-19 18:59] linsun commented on #11606
cc @louiscryan do we need to update release note for namespace scoping when referring to gateway?

[2019-03-19 19:03] yangminzhu commented on #11091
@wattli The situation (pod without sidecar) in Ed's comment could be improved with my ongoing PoC work. The other idea (checking connectivity) mentioned is not related to my work as I'm currently more focused on checking the static config first.

[2019-03-19 19:04] esnible commented on #11091
My command is a good start.  We also need to restore the RBAC tool that was removed for 1.1 because it didn't work.  https://github.com/istio/istio/issues/12075

It would also be good to understand why openssh cannot be used to debug Istio when mTLS is on (see https://github.com/istio/istio/issues/12513#issuecomment-474082391 )

[2019-03-19 19:16] yangminzhu commented on #12564
@procyclinsur
You have `name: api-svc-port` in your `core-api-service` service, could you rename it to something like `http-api-svc-port`? Istio requires the port name to start with the protocol name, see https://istio.io/docs/setup/kubernetes/spec-requirements/

[2019-03-19 19:17] esnible commented on #12603
It does!

I did a `kubectl -n istio-system edit service istio-ingressgateway` to add port 99 and verified it worked.

My concern is that I don't know what happens when the port matches a gateway that is actually in use.  Instead of 99 we could have used 15443 which is open for a multicluster gateway.  Need to check that case out.

[2019-03-19 19:21] ozevren commented on #12605
Presumably this is closed now.

[2019-03-19 19:21] #12605 closed

[2019-03-19 19:22] yangminzhu commented on #12535
@costinm @sdake, I have another question, does it mean we could potentially break the 1.1 installation with change committed to `master` branch? This doesn't seem right and we need to fix it as we're releasing 1.1 very soon, thoughts?

[2019-03-19 19:22] d47id commented on #9684
Looks like this got closed automatically but I'm pretty curious what the answer is. I was hoping maybe I could mount the certs just into the egress gateway pods, but no idea if that will work.

[2019-03-19 19:27] esnible commented on #12513
@incfly Where is the proposal for SDS key/cert provisioning?

I looked at the source code for _curl_ a few months ago.  It would be a one line change to add the Istio ALPN.  I don't want to deal with getting a custom curl to our customers however.

OpenSSL lets us supply the ALPN but I haven't figured out how to run it if the hostname doesn't match the subject name.  Does anyone know if that is po

[2019-03-19 19:31] murarisumit commented on #12367
Couldn't get time trying out automation, but created PR for 1.1.0 at https://github.com/Homebrew/homebrew-core/pull/38058

[2019-03-19 19:32] rshriram commented on #12590
still supported..

[2019-03-19 19:39] yangminzhu commented on #12513
@esnible The more severe trouble for the debugging is that you don't have access to the cert/key on the file system anymore once SDS key/cert provisioning is enabled, they will only exist in Envoy's memory. This is considered one of the key benefits of SDS key/cert provisioning, the other benefit is Envoy doesn't need to restart for any cert rotation. cc @wattli

[2019-03-19 19:45] esnible commented on #12513
@yangminzhu Perhaps we don't need the key on the filesystem?  I want to automate what I do now using curl.  (See https://docs.google.com/document/d/1yoq1RLJbfljXfRmbaV4HAVoog1LzHgeHkbbR9wdKRW8/edit ).  Perhaps instead of `--key /etc/certs/key.pem` we can do something like `--key <(kubectl get secret istio.default -o jsonpath='{.data.key\.pem}' | base64 --decode)`?

[2019-03-19 19:45] utka commented on #12606
istio-integ-k8s-tests and istio-presubmit are running at the same time, when in reality istio-integ-k8s-tests  should run only after  istio-presubmit is finished.
istio-integ-k8s-tests is pulling images which are not yet build by  istio-presubmit
https://github.com/istio/test-infra/blob/4d23ddb0a6b73730b0f3ea30cd83858d31ffff25/prow/cluster/jobs/istio/istio/istio.istio.master.yaml#L50

[2019-03-19 19:46] ozevren commented on #12606
What is the right fix? Do we need to order them correctly in the file?

[2019-03-19 19:48] utka commented on #12606
Yes, i am changing the order, PR is coming soon

[2019-03-19 19:48] frankbu commented on #12590
According to @rshriram, the "Alternatively, the traffic properties of a host can be defined using more than one VirtualService" part of the doc probably got accidentally removed with all the updating and merging for 1.1. So this issue should be redirected to istio/api. We need to put back in the reference doc that multiple VirtualServices for gateway host is allowed.

[2019-03-19 19:49] ozevren commented on #12606
Thanks!

On Tue, Mar 19, 2019 at 12:48 PM Maria Skidanova <notifications@github.com>
wrote:

[2019-03-19 19:54] andrewjjenkins commented on #12551
OK, thanks for feedback @adamglt .  I think whatever we come up with should probably be the default - the current behavior seems incorrect.  We might need some broader buy-in as the approaches so far seem a little bit bigger than a simple bugfix.

I didn't try any of the approaches (aside from the /etc/hosts hack); I guessed approach 3 would work by adding that iptables rule but I'm probably missi

[2019-03-19 19:58] frankbu commented on #6070
There is no change from 1.0 to 1.1. The docs in 1.1 need to be fixed.

[2019-03-19 20:00] yangminzhu commented on #12513
@esnible
In case of mTLS, you will need the client cert in order to issue a request to the server, and this client cert is not on the file system or k8s secret. So you cannot use `kubectl get secret ...` to get it.

[2019-03-19 21:10] howardjohn opened #12610 "STRICT_DNS Empty endpoints for each locality"
**Describe the bug**
From config_dump:
[code]

There are two empty `{}` endpoints. With each locality endpoint I add, another one is created.

This seems to have no impact so is low priority.

Occurs on 1.1

Config to generate:
[code]

[2019-03-19 21:26] jaygorrell opened #12612 "Image used in Grafana was removed with the 1.1 release"
**Describe the bug**
Grafana displays the image at https://istio.io/img/istio-logo.svg in 1.1. This was removed in the 1.1 docs.

**Expected behavior**
Image shows up

**Steps to reproduce the bug**
View Grafana Mesh dashboard

**Version**
1.1

[2019-03-19 21:28] jaygorrell commented on #12612
Sorry, this should probably be on the istio.io repo so it can be fixed for existing releases.

[2019-03-19 21:28] #12612 closed

[2019-03-19 21:41] jcetkov commented on #12436
@howardjohn looks like it doesn't matter to envoy and in istio it fails with the braces too
[code]

[2019-03-19 21:50] incfly commented on #12513
I would suggest us to add a util to get key cert for workload by following the same CSR flow as Envoy does via `kubectl exec` into workload pod.

[2019-03-19 21:52] utka commented on #12295
One thing that I would add test for this file pilot/docker/Dockerfile.proxyv2 and tools/deb/istio-start.sh should have the same version for ISTIO_META_ISTIO_PROXY_VERSION.

But in general it is not clear to me what is ISTIO_META_ISTIO_PROXY_VERSION supposed to be, for example for master it is[ 1.1.0 ](https://github.com/istio/istio/blob/f7feb0fcbab73d05375815f06956ac3002f231d6/pilot/docker/Dockerf

[2019-03-19 22:00] andrewjjenkins commented on #12551
Looks like the POD1->POD1 packets are hitting the top rule

[code]

If I add our new rule right after the first rule nothing happens (no hits, and kafka is still upset):

[code]

If I add it before the first rule, it hits and kafka gets happy:

[code]

The original first rule (to ISTIO_REDIRECT) comes from [here](https://github.com/istio/istio/blob/0e9cecab053aab744a7c3a731aacb07fd794d5f9/tools/de

[2019-03-19 22:07] andrewjjenkins commented on #12551
Also sounds like based on the original comment:

[code]

the plan was to force traffic through Envoy client and server (or "outbound" and "inbound" in the listener/cluster lingo).  That's great with me but wasn't what you said you expected @adamglt - you thought it would make more sense to skip Envoy entirely in the appN->appN case.

[2019-03-19 22:34] howardjohn commented on #12436
Sorry I didn't notice before, I thought Envoy was adding the `'`, but that is your issue.

Try:

[code]

Notice there are no `'` around the json

[2019-03-19 22:36] hdimitriou opened #12616 "Non-http/ssh traffic between pods?"
I am trying to perform ssh between pods and the sidecar envoy proxy is denying it with
`ssh_exchange_identification: Connection closed by remote host`
If I understand well the sidecar proxy iptables(?) rules redirect all incoming traffic and denies the ssh traffic.

Is there a way to work around that / tweak the configuration?

[2019-03-19 22:59] jcetkov commented on #12436
This indeed works - my mistake was to compare the log with command line, where the escaping is removed by shell

[2019-03-19 22:59] #12436 closed

[2019-03-19 23:07] duderino commented on #12500
@philrud please use the release-1.1 branch.

[2019-03-19 23:29] duderino commented on #11818
@howardjohn can you take this?

[2019-03-20 01:22] idouba commented on #12590
OK, thanks. @linsun @rshriram
Will the VirtualService chain we mentioned #6070  be provided in the next version? @frankbu

[2019-03-20 01:23] hzxuzhonghu commented on #12590
Thanks all. @idouba Would you help put back the reference doc

[2019-03-20 01:26] hzxuzhonghu commented on #10580
@Stono Is this fixed?

[2019-03-20 01:46] qiaozhi58 commented on #12593
@serefacet @esnible @douglas-reid
thank you very much!

[2019-03-20 01:50] procyclinsur commented on #12564
That worked... I feel stupid now hahaha Thanks!!

[2019-03-20 01:58] linsun commented on #12564
seems a common prob most users stump onto.  @esnible i think your add-to-mesh cmd could detect this and alert user :)

[2019-03-20 02:04] ibm-jason commented on #12295
@utka I'm not 100% certain, but yes, it sounds like the value for `ISTIO_META_ISTIO_PROXY_VERSION` should match the commit/release tag. `ISTIO_META_ISTIO_PROXY_VERSION` is equal to `RELEASE_TAG`, essentially. However, I'm not sure what that means for the master branch.

[2019-03-20 02:08] w564791 opened #12617 "istio-1.1.0/install/kubernetes/istio-demo.yaml line 1467 miss Separator"
istio-1.1.0/install/kubernetes/istio-demo.yaml line 1467 miss separate

[2019-03-20 02:19] linsun commented on #12617
Thanks for reporting this.  Did this impact anything for you?  my install went fine when i tried it yesterday.

[2019-03-20 02:34] mandarjog commented on #9454
You have two options
1. exclude `169.254.169.254` from capture by using `traffic.sidecar.istio.io/excludeOutboundIPRanges: 169.254.169.254"` annotation.
2. you can have a startup script *before* your app that checks if you required endpoints are up, and  waits / crashes the app if that is not present.

[2019-03-20 02:52] w564791 commented on #12617
我没直接apply呢,我先浏览了一遍,加上分隔符再测试的

[2019-03-20 02:54] w564791 commented on #8374
release 1.1 also get it
[code]
[code]

[2019-03-20 05:58] Excited-ccccly commented on #8846
Yes, I did some reserach today. In Envoy, the panic_threshold is default to 50%. If availability is below the panic threshold, traffic will go to all hosts regardless of their availability. That's why when you set maxEjectionPercent within 50%, ejection will work and some  pods will not receive traffic, while 60% will not.

[2019-03-20 06:11] idouba commented on #6070
@frankbu  ok.

[2019-03-20 06:11] Excited-ccccly commented on #8846
@tamxdx hi
in istio , `consecutiveErrors` was translating to `consecutive_gateway_failure`, which means only 502, 503 and 504 errors will be taken into account. So we don't need to care about `enforcing_consecutive_5xx` as long as `enforcing_consecutive_gateway_failure` is 100.

In your istio-proxy stat dump, `ejections_detected_consecutive_gateway_failure` is 0, so `outlier_detection.ejections_ac

[2019-03-20 06:18] nagapavan opened #12618 "Egress: VirtualService with domain name not working."
**Describe the bug**
I have NodeJS client which uploads files to AWS S3. If I enable Istio on the K8S cluster, service is not able to reach `sts.amazonaws.com` or `*.s3.amazonaws.com`

Config used is as follows:
[code]
I am getting ECONNRESET whenever the connection request is sent. If I specifically add my AWS Bucket URL `<bucker_name_here>.s3.amazonaws.com`, then only the connection is establish

[2019-03-20 06:45] adamglt commented on #12551
Yeah, I expected explicit self-connections (localhost:1234) to behave the same as implicit self connections (my-pod.headless-service:1234).

"Opaque" self-connections (normal-service-that-includes-my-pod:1234) should obviously go through the usual flow.

I haven't come across headless service use cases outside app cluster gossip/coordination, so there might be something I'm not thinking about.

[2019-03-20 06:51] daleangus commented on #12564
@esnible
apiVersion: v1
kind: Service
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"v1","kind":"Service","metadata":{"annotations":{},"name":"hello","namespace":"agud"},"spec":{"ports":[{"name":"http","port":8080,"protocol":"TCP"}],"selector":{"app":"hello"}}}
  creationTimestamp: 2019-03-20T06:49:59Z
  enable: true
  name: hello
  namespace:

[2019-03-20 07:17] elevran commented on #12513
@incfly do you mean reuse SDS against the local nodeagent from the Envoy pod or a CSR to Citadel?

[2019-03-20 08:37] prima101112 commented on #12618
if you just want to all traffict to amazon go to amazon i think you dont need virtualservice and destinationrule. and the resolution is none

[code]

[2019-03-20 09:08] umomany commented on #1296
@vadimeisenbergibm, regarding of what @Hamdan-Atypon is talking about; the problem happens when using istio as a mid level of communication between applications (micro-services); for each deployment (one application) the pods behind its proxy fail to communicate with each other
for example the pods of a java application that is deployed behind istio proxy can't communicate with each other for an i

[2019-03-20 09:27] vadimeisenbergibm commented on #1296
@umomany As far as I know, the correct way for the pods to communicate with each other on Kubernetes is via Kubernetes services. So you have to define a Kubernetes service for your pods and then the communication between the pods will work with Istio.

Note that Istio will perform its own load-balancing between the pods of a Kubernetes Service, bypassing the tube-proxy and accessing the pods direc

[2019-03-20 10:41] robertpanzer commented on #11818
I took a stab at this in #12620
No idea if this is sufficient or if I was missing important aspects as the PR looks so small.

[2019-03-20 11:00] olegchorny commented on #12563
Hi All,
I've made the fresh install using the release 1.1 bits and can't reproduce the issue.
I think I did the deployment using the bits from master branch, but not from release-1.1 branch, and something is not merged to master (yet).
I'm closing the issue. many thanks!

[2019-03-20 11:00] #12563 closed

[2019-03-20 11:33] robertpanzer commented on #11818
@howardjohn Taking the `proxy.Metadata` doesn't seem to work.
At least for me it's not updated on label changes to a pod.
It would need to create a new Envoy bootstrap config and restart it for that, right?

[2019-03-20 12:09] cospotato opened #12621 "OpenShift sdn error when cluster restarting with auto-inject enabled"
**Describe the bug**
Restart the openshift cluster. The `AdmissionWebhook` refer to the `openshift-sdn`.

[code]

[code]

**Expected behavior**
Start the openshift cluster.

**Steps to reproduce the bug**
Restart the openshift cluster.

**Version**
[code]

istio: `docker.io/maistra/sidecar-injector-centos7:0.5.0`

**Installation**
https://docs.openshift.com/container-platform/3.11/servicemesh-inst

[2019-03-20 12:16] idouba commented on #12590
YES, @hzxuzhonghu, I have submit a PR: https://github.com/istio/api/pull/870

[2019-03-20 12:34] robertpanzer commented on #11818
The same problem also seems to exist for the EnvoyFilter selectors:
https://github.com/istio/istio/blob/190d4c1c59328e2aca2611f3056a03d45c583ca8/pilot/pkg/networking/core/v1alpha3/envoyfilter.go#L116-L126
ProxyInstances = ServiceInstances, which don't exist for consumer only services.

[2019-03-20 12:42] linsun commented on #12621
@knrc could someone from redhat look into this?

[2019-03-20 12:44] knrc commented on #12621
@linsun We have some changes we are making to the sidecar injector to address this, I'll take it.

[2019-03-20 13:00] #10069 closed

[2019-03-20 13:31] yannlambret commented on #12290
Same behavior with Istio 1.1. I created resources in the following order:

* certificate
* virtual services
* gateway

[2019-03-20 13:43] linsun commented on #12618
+1, btw we have samples for this in samples/external dir:

https://github.com/istio/istio/blob/release-1.1/samples/external/pypi.yaml

[2019-03-20 14:35] vadimeisenbergibm opened #12623 "Split-Horizon EDS multicluster does not send the ingress gateway of the local cluster to the remote cluster as an endpoint"
The pilot does not send the ingress gateway of the local cluster to a remote cluster as an endpoint, so connectivity from the remote cluster into the local one is currently not possible.

[2019-03-20 14:35] vadimeisenbergibm commented on #12623
cc @costinm

[2019-03-20 14:41] howardjohn commented on #11818
This seems really common, I noticed the same problem for locality based LB. If we have found 3 places, I am sure there are more too.

[2019-03-20 14:54] ozevren commented on #11557
There is a test ordering problem that significantly effects timings. https://github.com/istio/istio/issues/12606 tracks this (there is already a pending PR fixing it). We also have new test framework refactoring that adds stability checks which I ran in the CI systems and it has been quite stable.

I am closing this bug. If we observe new failures after this, we can open new bugs.

[2019-03-20 14:55] ozevren commented on #11556
Closing this bug and tracking this issue through: https://github.com/istio/istio/issues/12606
If we see that the test is still failing after this, we can open a new bug.

[2019-03-20 14:56] #11556 closed

[2019-03-20 15:00] ozevren commented on #11436
It looks like there is a job ordering problem: https://github.com/istio/istio/issues/12606

See: https://github.com/istio/test-infra/pull/1188

[2019-03-20 15:01] ozevren commented on #11643
Hey @diemtvu, I've just landed a big refactoring of tests framework in master. The nocleanup flag should be working now. I am closing this bug. Please feel free to reopen it if you see any further cleanup related issues.

[2019-03-20 15:01] #11643 closed

[2019-03-20 15:04] ozevren commented on #11628
I've landed a new refactoring of the test framework in master. The namespace handling should be much finer grained and help with isolation of tests. I am closing this bug. Let me know/reopen the bug if you're seeing further issues.

[2019-03-20 15:04] #11628 closed

[2019-03-20 15:06] ozevren commented on #11172
This should be fixed now. Closing.

[2019-03-20 15:06] #11172 closed

[2019-03-20 15:07] ozevren commented on #8355
I've ported a few of these, but I won't be working to complete the rest. Unassigning myself.

[2019-03-20 15:15] frankbu commented on #11606
@linsun, the original issue, discussed with @esnible at the top, seems to have morphed into at least 3 separate complaints. I would like to understand all 3 better, so that we can make any needed changes to the docs.

1. the first problem discussed in this issue seems to be a known and documented behavior that the documentation explicitly warns about. If you use short names for VirtualService host

[2019-03-20 15:16] MrLuje opened #12624 "Istio 1.1 Galley not working from helm install"
**Describe the bug**
Galley pods are crashing with following logs :

DomainSuffix:
Port: 443
CertFile: /etc/certs/cert-chain.pem
KeyFile: /etc/certs/key.pem
WebhookConfigFile: /etc/config/validatingwebhookconfiguration.yaml
CACertFile: /etc/certs/root-cert.pem
DeploymentAndServiceNamespace: istio-system
WebhookName: istio-galley
DeploymentName: istio-galley
ServiceName: istio-galley
EnableValidati

[2019-03-20 15:19] ozevren commented on #12480
I believe this is due to: https://github.com/istio/istio/issues/12606
The CI version of the tests are running steadily after the landing of the refactored framework:
https://testgrid.k8s.io/istio-presubmits#circleci-integration-kubernetes

In light of this, I am closing this bug. Feel free to reopen it if the problem reappears.

[2019-03-20 15:19] #12480 closed

[2019-03-20 15:23] ozevren commented on #12624
Dup of https://github.com/istio/istio/issues/12535

[2019-03-20 15:23] #12624 closed

[2019-03-20 15:31] ozevren commented on #12267
As part of https://github.com/istio/istio/pull/12574, I've created an integration test for the test framework itself. This currently only has Istio deployment in it as a test, but it is possible to expand more to add more aspects.

My hope is to create a single, required presubmit gate (both Prow & CI) with that test. This way, we can at least make sure that the framework bits will not rot.

[2019-03-20 15:35] karsten42 opened #12625 "Istio sidecar upstream pod reconnection issue"
**Describe the bug**
I'm running istio 1.0.6 (no mTLS) on our EKS cluster and am experiencing connection issues between two pods that I can't seem to figure out.

I have a gRPC client (abc-client) and server (abc-server) running both written in go. The cluster has automatic sidecar injection enabled, so both have it running.
Everything is working fine if I just start the two services, but whenever

[2019-03-20 15:37] #11557 closed

[2019-03-20 15:47] ozevren commented on #12267
Here is the test location: https://github.com/istio/istio/tree/master/tests/integration/framework

[2019-03-20 16:05] ozevren opened #12628 "Test Flake: TestProcessor_EventAccumulation_WithFullSync"
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12626/istio-unit-tests/22329

[2019-03-20 16:18] dsanchor commented on #10858
Hi @hzxuzhonghu

While is it info, I would like to understand while this is happening.
In my  case, I am seeing the same issue, that is, every 5 minutes, I see that error in istio pilot:

[code]
On the sidecar containers running the istio-proxy, I see that a full proxy conf reload is happening, closing any established connection and creating a new one. This is having a side effect on the applicati

[2019-03-20 17:00] peter-fe commented on #9943
I was not able to track that down further, some assumption was that it is pilot related and the configure never gets applied to the proxy. But it's also possible it fails in Envoy itself.

[2019-03-20 17:02] rvennam opened #12632 "Simplify BookInfo install page using Tabs"
**Describe the feature request**
https://istio.io/docs/examples/bookinfo/
BookInfo install page is a bit long. There are two sections (Deploying and Clean up) which are broken apart with large If Kubernetes and If Consul sections.

**Describe alternatives you've considered**
Can we put `Kubernetes` and `Consul` in tabs? I've seen tabs being used for just code blocks, but they can used for steps as

[2019-03-20 17:03] rvennam commented on #12632
Closing and reopening in istio.io

[2019-03-20 17:03] #12632 closed

[2019-03-20 17:05] ibm-jason commented on #12522
@rshriram, @vadimeisenbergibm

I've retested the example and added the VirtualService as suggested. Looks like we're getting a good response now from the `curl` command:

[code]

That said, I'm going to re-verify the other examples and prep a PR for istio/istio.io to update the examples in the docs.

[2019-03-20 17:39] dwradcliffe opened #12634 "IP addresses in mixer logs are not readable"
**Describe the bug**
IP addresses in mixer logs are not readable. (Not Envoy logs)

Examples:
`sourceIp:	 CjQpPQ==`
`destinationIp:	 AAAAAAAAAAAAAP//CjRD8w==`

Istio config resources are defaults as provided by helm charts.
For example this is still present:

[code]

**Expected behavior**
I expected to see the string representation of the IP Address.

**Steps to reproduce the bug**
Run any workloa

[2019-03-20 17:48] diemtvu opened #12636 "Add update/delete config options for (native) service manager."
**Describe the feature request**

Currently, test with native environment can only add (create) resource to config store, via service [manager](https://github.com/istio/istio/blob/master/pkg/test/framework/components/environment/native/service/manager.go). However, in some test we need to delete/modify existing resources (e.g the global authentication policy).

**Describe alternatives you've consi

[2019-03-20 18:04] iftachsc commented on #11145
still seeing it in istio 1.1 official release - today.

[2019-03-20 18:06] linsun commented on #11606
@frankbu thanks, i only focus on the 3rd issue.  The question is if we feel better documentation is sufficient for fixing this, e.g. you should always refer to the gateway with namespace/gateway-name from VS when gateway resource and VS resource aren't in the same namespace.

[2019-03-20 18:28] utka commented on #12431
The test is still pretty flaky. Can we increase resources for CircleCI? @costinm  do you know?

[2019-03-20 18:33] GregHanson commented on #11847
@esnible I like the idea of adding the `proxy-logging` command to istioctl.  I don't think there needs to be logger type granularity though - it seems like something specific for advanced users whereas configuring all loggers to the same log level would cover the majority of use cases.

To address @jaredeis issue with istio control plane logging verbosity, that needs to be configured via helm.  Se

[2019-03-20 18:43] iftachsc commented on #10933
this is occurs in 1.1 official

[2019-03-20 18:46] jaygorrell commented on #12550
I'm going to close this because I can't reproduce it with another image. It even happens with `productpage` outside of Istio, but not with another image like nginx. Still very confused by it but it's not an Istio issue.

[2019-03-20 18:46] #12550 closed

[2019-03-20 18:51] bianpengyuan commented on #12634
cc @gargnupur

[2019-03-20 18:58] dwradcliffe commented on #12602
I don't think this is related to the critical-pod annotation, but instead the PodDisruptionBudget.

You can view with `kubectl describe pdb istio-policy -n istio-system`.
I'm guessing you only have 1 pilot pod running, and the PDB is preventing the eviction because that would violate the budget.

Try running 2 replicas of pilot.

[2019-03-20 19:20] nrjpoddar commented on #12503
Thanks for filing this @venezia. We had similar problems and was quite painful to pin down the issue. I have a PR out to address this.

[2019-03-20 19:31] gargnupur commented on #12634
The fix is not there in release 1.1 but we will try to include it in patch release of 1.1
https://github.com/istio/istio/pull/12502

[2019-03-20 20:03] ozevren commented on #12600
Dupe of : https://github.com/istio/istio/issues/12535

[2019-03-20 20:03] #12600 closed

[2019-03-20 20:26] dwradcliffe commented on #12634
Oh bummer

[2019-03-20 20:50] frankbu commented on #11606
For number 3, I'm wondering if we should also add a warning in the validator if the namespace is not provided. Documentation alone doesn't seem to always be enough, as number 1 is documented already. Maybe we should add a validator warning for number 1 too?

For number 2 I would encourage @mabushey to open one or more istio/istio.io issues with some specific examples of problems with the docs.

[2019-03-20 21:00] #9368 closed

[2019-03-20 21:16] Stono opened #12642 "istio-proxy deprecated spam when starting (1.1.0)"
Hey,
Istio-proxy on 1.1.0 absolutely spams the logs with an envoy depreciation warning:

[code]

356 times, when an app starts:
[code]

The unique items are:

[code]

[2019-03-20 21:18] utka commented on #12094
codecov is definitely flaky, but mostly because of https://github.com/istio/istio/issues/12316
Closing this one, reopen if see it again.

[2019-03-20 21:18] #12094 closed

[2019-03-20 21:27] utka commented on #12065
I found https://github.com/istio/istio/pull/9551 where you trying to fix the same issue, the flake is still happening, can you look into that?

[2019-03-20 21:31] utka commented on #11882
@ozevren Is it something you fixed recently in https://github.com/istio/istio/pull/12574 ?

[2019-03-20 21:51] costinm commented on #12642
@duderino we should prioritize this for 1.1.1 - there is also additional spam in pilot logs ( the service account list ). Probably low risk.

[2019-03-20 21:55] ozevren commented on #11882
It is hard to tell what is going on from the logs, but I'd say this is
fixed with my changes. TestAuthnPermissive has been working fine in
CI/local tests.

On Wed, Mar 20, 2019 at 2:32 PM Maria Skidanova <notifications@github.com>
wrote:

[2019-03-20 22:01] Stono opened #12644 "Feature Request: Configurable service name format in tracing data"
[This change](https://github.com/istio/istio/pull/7803) resulted in span names being recorded as `app-label:namespace`.  The PR makes sense, however for users like me where we have a loosely 1-2-1 mapping between application and namespace it is just overly verbose as the two values are typically the same:

<img width="441" alt="Screenshot 2019-03-20 at 21 48 56" src="https://user-images.githubuser

[2019-03-20 22:01] Stono commented on #12644
/cc @douglas-reid

[2019-03-20 22:01] Stono commented on #12644
/assign @douglas-reid

[2019-03-20 22:28] linsun commented on #11606
@frankbu for 3, how do you validate if the namespace is not provided because the gateway is in the same namespace (which in the case the `namespace/` is not required) vs in a different namespace which requires the `namespace/`?

[2019-03-20 22:58] ozevren opened #12647 "Test Gap: Istio check-in gates are not testing based on published Helm charts"
https://github.com/istio/istio/issues/12535
https://github.com/istio/istio/issues/12624
https://github.com/istio/istio/issues/12600

It looks like the check-in gates we have do not properly cover helm based installation. We've slipped in issues into the branch without tests catching them. We need to make sure there is at least one test gate that ensures the helm charts agree with the checked-in co

[2019-03-20 23:11] alaqelsplk commented on #11510
Also getting this issue after our upgrade to 1.1

[2019-03-20 23:12] douglas-reid commented on #12644
I think this might be something we should consider as part of a refactoring of a Trace API, as well.  Similar to access log format, we could support `traceOperationFormat` or similar.

/cc @objectiser

[2019-03-20 23:23] hmakkapati commented on #11235
Costin's fix: https://github.com/istio/istio/pull/11511

[2019-03-20 23:25] #12297 closed

[2019-03-20 23:47] pandey-adarsh147 opened #12648 "gRPC service call in istio behave inconsistent"
**Describe the bug**
Sometime happening
Service to service call in istio mesh giving Unimplemented, at the same time ingress call is working fine. After sometime, (may be due to restart target service) its working fine. This happening vice-versa as well (service to service call working fine but ingress giving Unimplemented exception).

**Expected behavior**
It should work at all cases all time
**S

[2019-03-21 01:54] hzxuzhonghu commented on #11818
Currently one sidecar workload must have associated service. If not, then the pod healthcheck will fail.

[2019-03-21 01:57] hzxuzhonghu commented on #11145
what's you problem? @iftachsc

[2019-03-21 02:36] linsun commented on #12602
agreed, try scale out istio-policy first before drain the node as PDB requires 1 replica to be alive.

[2019-03-21 02:38] linsun opened #12650 "remove to be deprecated critical pod annotation"
see https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/#marking-pod-as-critical

mentioned in #12602

[2019-03-21 02:39] linsun commented on #12650
@morvencao  could you help with this?

[2019-03-21 04:02] ssoor commented on #8374
I also use version 1.1 here, the same appears.

Create a gateway first, then create a virtual service

`
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: default
  namespace: istio-system
spec:
  selector:
    istio: ingressgateway
  servers:
  - hosts:
    - '*'
    port:
      name: http
      number: 80
      protocol: HTTP
  - hosts:
    - '*'
    port:
      name: tcp

[2019-03-21 04:07] ssoor commented on #8374
@mandarjog

I deleted and recreated the gateway, but the problem is still not resolved.

[2019-03-21 04:12] ssoor commented on #8374
@mandarjog

The 5001 port was once normal, and the 5001 listener error occurred after I modified the gateway, so although the log shows that the 5001 listener has an error, the port 5001 through the gateway can still perform normal access.

[2019-03-21 04:59] Erick-Yataco opened #12651 "Grafana - Mesh"
after install istio 1.1.0 with helm and tiler using configuration profile  demo-auth, i deploy a single services in a custom namespace and expose gafana by loadbalancer (aws), but in mesh dashboard of grafana i can't see any register for the services

[2019-03-21 05:27] linjinjin123 commented on #12567
I have tried to modify the --stroage.tsdb.retention=30d in istio-demo.yaml, and use "kubectl apply -f istio-demo.yaml" to redeploy it, but it seems doesn't work, the data still save only 6 hours.

I found there is a file in  install/kubernetes/helm/charts/istio/charts/prometheus/values.yaml which defined "retention: 6h" , but I think I haven't use helm to deploy my istio.  I just use "kubectl appl

[2019-03-21 06:36] chakravarthy392 commented on #11975
@yangminzhu Thanks for the info.

we could fix `//src/istio/mixerclient/referenced.cc` TC by making endianness related changes,
debugging is in progress for remaining TC faiures.

[2019-03-21 07:19] wansuiye commented on #12642
meet the same warning in istio 1.1.0

[2019-03-21 07:49] robertpanzer commented on #11818
Can you give a hint where that happens? Maybe I can do something about it.
This seems to be another bigger issue though.
Every application, also Pods without Services get a SidecarScope.

[2019-03-21 07:53] hzxuzhonghu commented on #11818
I mean this `func (p *Probe) checkInboundConfigured() error { `
in  `pilot/cmd/pilot-agent/status/ready/probe.go`

[2019-03-21 07:59] wansuiye commented on #6469
it seems that in istio 1.1 the problem is also existed. it can only be solved by disable galley, but the galley is more important such as mcp

[2019-03-21 08:05] objectiser commented on #12644
@douglas-reid Agree would be good to support in Trace API - although this would be about the service name, not operation name. Suggestion: title should be something like "Configurable service name format in tracing data"?

[2019-03-21 08:06] wansuiye commented on #6469
i met the same problem from istio 0.7, i used a 30080 nodeport which is mapped to 80 in istio-ingressgateway. the only solved way is to close galley, which i tested for every version of istio.
however 1.1 also not solve it.

[2019-03-21 08:13] mgxian commented on #6469
Istio developer think this behavior is right, gateway is only support dns formant host, so I think put a proxy at the front of the ingressgateway in you cluster can solve this problem. This also can help you make you ingressgateway more ha. You can use keeplive + lvs/haproxy/nginx/envoy and so on.

[2019-03-21 08:20] robertpanzer commented on #11818
I am not sure I understand the relation to selecting Sidecars for consumer applications given that there is always a Sidecar associated with Proxy.

I even have my PR deployed locally and configured a Sidecar to select my Pod, that is not exposed with a Service and I see this in the log of the istio-proxy container:
[code]
The function that you mentioned returns no error if the application/pod doe

[2019-03-21 08:32] wansuiye commented on #6469
however the http protocol's host header include port, and adding a gateway in front of ingressgateway just to convert header's host is much complicated. and the proxy need support multi protocols

[2019-03-21 08:44] hzxuzhonghu commented on #11818
yep

[2019-03-21 08:44] mgxian commented on #6469
Your front proxy only need support TCP protocol, you can proxy port 80 and 443 to the ingressgateway port 30080 or other port. If your client call http service by proxy and not carry the port number in the host header this will be work fine.

[2019-03-21 08:45] linjinjin123 commented on #12567
![image](https://user-images.githubusercontent.com/10062840/54741144-6cbfea00-4bf8-11e9-9ce6-0f37b0f53ead.png)
I have tried to use a small retention (2m), and then I entered the docker container to look the parameter, it looks like that the retention is changed.
But when I open the grafana, the data still remain more than 2 minutes.

[2019-03-21 09:04] Stono opened #12653 "Istio-proxy pretty much always initially fails readinessProbes"
Not urgent, but the default `initalDelaySeconds` on the `istio-proxy` `readinessProbe` of 1 second always results in at least one failure, which when you've got 500+ proxies, it's a lot :D

`42m         Warning   Unhealthy           Pod          Readiness probe failed: HTTP probe failed with statuscode: 503`

https://github.com/istio/istio/blob/0e9cecab053aab744a7c3a731aacb07fd794d5f9/install/kube

[2019-03-21 09:11] Stono commented on #10580
Yeah it was fixed by a patch in 1.0.6, we're testing 1.1.0 at the moment so will explicitly look for this

[2019-03-21 09:16] rvansa commented on #12594
Should I create a PR to fix it, linking the option to config map's `enableTracing`?

[2019-03-21 09:24] wansuiye opened #12654 "Galley valid virtualservice(and other crds) error when the host contain port"
**Describe the bug**
{{ Succinctly describe the bug }}
As mentioned in [#7242](https://github.com/istio/istio/issues/7242) and #6469, the galley return error when create a virtualservice that has a host  with port.

**Expected behavior**
{{ What did you expect to happen? }}

When port 80 is not opened, the ingressgateway is mapped to node port such as 3xx80, in HTTP 1.0, the host header of client

[2019-03-21 09:27] hzxuzhonghu commented on #10580
OK, close when you verified

[2019-03-21 09:27] Stono commented on #12550
Potentially linked: https://github.com/istio/istio/issues/12653

[2019-03-21 09:33] hzxuzhonghu commented on #12594
I suggest providing a flag `--enableGrpcTracing`

[2019-03-21 09:34] dimakievua opened #12655 "Gateway hosts does not work"
**Describe the bug**

Try to limit istio gateway to ser ve only requests from one host:

[code]
Try to test and found it absolutelly has no effect. If I put there any domain name or * it pass everything and block only on VirtualService level:

**Expected behavior**
I tried to find good explanation what exacly hosts in istio gateway should do but didn't find it.
My understanding it should pass only

[2019-03-21 09:39] wansuiye commented on #6469
@mgxian it's feasible.
however port 80 is not opened in our node, and it's just a very  little change.

[2019-03-21 09:44] linjinjin123 commented on #12567
![image](https://user-images.githubusercontent.com/10062840/54743958-9e3cb380-4c00-11e9-9be6-41e0674644a5.png)
![image](https://user-images.githubusercontent.com/10062840/54743984-b44a7400-4c00-11e9-97f1-99db499a2f99.png)
I opened the website of prometheus, the website shows storage.tsdb.retention=2m, but the data still more than 2minutes.

The version of prometheus is v2.3.1

[2019-03-21 09:50] mgxian commented on #6469
@wansuiye suppose you ingressgateway opened at nodeport 30080, there are two ways to deploy your proxy:
1. deploy it in the k8s cluster, and expose it on the k8s node's port 80 by using specify hostNetwork or hostPort in the k8s yaml file.
2. deploy it out of the k8s cluster, listening on port 80. proxy tcp traffic to node's 30080 port.

[2019-03-21 09:53] anthonyhaussman commented on #6071
Still same issue on 1.1.0 and same workarounds working describe by @edussx.
Tested with File Mount-Based approach and using Secret Discovery Service.

[2019-03-21 11:19] Stono commented on #12583
OK so been chatting about this more.  We've discovered that a lot of the http client libraries that are used in our java apps us http://hc.apache.org/httpcomponents-client-ga/httpclient/apidocs/org/apache/http/impl/client/DefaultServiceUnavailableRetryStrategy.html - so they default retry 503's.

So what we'd end up with is:
[code]

It feels like perhaps the mesh should only retry totally transpar

[2019-03-21 12:03] Stono opened #12658 "Control plane upgrade from 1.0.6 to 1.1.0 resulted in a batch of 503's"
I decided to test some load against a simple echo endpoint during a 1.0.6 to 1.1.0 upgrade of about 200 requests/second.

We experienced a whole batch of 503s (43 to be precise):

<img width="1007" alt="Screenshot 2019-03-21 at 11 53 51" src="https://user-images.githubusercontent.com/1486729/54750684-72a1d500-4bd0-11e9-9237-55c089288a13.png">

It's important that we're able to roll out control pla

[2019-03-21 12:07] jbrongtr commented on #6469
@wansuiye @mgxian This is actually how we got around the issue. We have a daemon set proxy deployment, that its only job is to accept port 80 and 443 traffic and pass it to the ingress gateway at the specific node port. While it would be nice to not have to deploy that extra piece, i guess its just how it has to be done for on-prem deployments.

Its an interesting thing that the gateway/proxies on

[2019-03-21 12:07] Stono opened #12659 "Mixer overloaded error after upgrading to 1.1.0"
`1.0.6` proxies following a control plane upgrade to `1.1.0` are currently logging:

[code]

Every second.

These errors are no present in `1.1.0` sidecars.

[2019-03-21 12:14] prune998 commented on #6469
Hi there.
Issue is closed as it's solved in 1.0.3, and we're now at 1.1. You should clearly upgrade instead of adding workaround...

[2019-03-21 12:16] Stono commented on #12658
/cc @nmittler @costinm

[2019-03-21 12:16] Stono commented on #12659
/cc @nmittler @douglas-reid

[2019-03-21 12:17] denniseffing commented on #6469
@prune998 Can you confirm that you are able to create a VirtualService with hosts that include a port when using Istio 1.1? I am asking because wansuiye said that this is still not possible and mgxian said that this is indeed intended by the Istio team and therefore won't be fixed.

[2019-03-21 12:19] prune998 commented on #6469
it's not possible, but it's not needed.
hosts like `www.your-domain.com` and `www.your-domain.com:443` are now treated the same, so you don't need to add the `:port` section

[2019-03-21 12:20] denniseffing commented on #6469
Thanks for clearing that up! I guess that works fine too.

[2019-03-21 12:44] mgxian commented on #6469
@prune998 Is other port except port 80 and 443 supported ? If I create a virtualservice with hosts `www.your-domain.com` referer to a gateway with hosts `www.your-domain.com` listen on port 80, but gateway  actually listening  on nodeport 30080. So can I access the service use `curl www.your-domain.com:30080` command ?

[2019-03-21 12:51] prune998 commented on #6469
`Gateway` filters the host/port and forward to the right `Virtualservice`.
`Virtualservice` does not care of the port part. The fact that it had-to was a bug which is now corrected.

@mgxian your question is more "can I access the gateway using a nodeport". I would say yes, it should work, but I never tried it, so you've better check by yourself. As long as the `Gateway` is matched and forward the

[2019-03-21 12:55] PhilipGough commented on #11226
Just for an update this is essentially fixed now with the 1.1.0 release. I did need to add an override for api like so, since it points at the branch as opposed to the tag:

[code]

[2019-03-21 13:07] loewenstein opened #14155 "Setup CI"
We should automatically verify that the new installer can install known Istio versions. As the current CI of the Istio community is CircleCI, we should deliver this as CircleCI config.

Things to verify:
* The installation is indeed modular:
   - Install Istio Citadel + Control plane and verify a service A can reach a service B via Envoy data plane
   - Add an Istio Ingress Gateway and verify we c

[2019-03-21 13:35] jaygorrell commented on #12550
@Stono I think that was different -- I see those 503s also but this is timeouts _after_ it's up and running. It turned out to happen even without Istio running though... something with the `productpage` image and health checks.

[2019-03-21 13:36] rshriram commented on #12655
where is the virtual service? gateway by itself is not sufficient

[2019-03-21 13:38] jpittis commented on #12305
Yeah this is for sure broken on 1.1 master.

[2019-03-21 13:39] mmerrill3 commented on #5384
just ran into this same issue, I was puzzled why my ELB load balancer was returning a 400 with istio 1.1.0.  Turns out it was the proxy-protocol setting on the ELB that I added, b/c I wanted to see the real client IP addresses to do rate limiting.  I guess that's not possible currently.

Removing this annotation from my ELB/service definition for the gateway resolved the issue, but this is a head

[2019-03-21 13:40] dimakievua commented on #12655
Hi, this is standard bookinfo virtualservice from istio tutorial:

[code]

[2019-03-21 13:45] frankbu commented on #11606
Recommend always being explicit. Use `./` for same namespace.

[2019-03-21 13:46] linsun commented on #11606
ok fair @frankbu  - then I don't think there is anything we need from this issue.
@mabushey please retry your scenario with `namespace/` when referring to the gateway resource from a VS in a different namespace.

[2019-03-21 13:52] dimakievua commented on #12655
Actually if I set URL in virtualservice's hosts it successfully filter by it. So I thought in Gateway it should be same behavior.

[2019-03-21 13:55] linsun commented on #12655
do you mean if you specify `Hosts: fuck.this.dumn.host` in the VS resource, it works fine now?

[2019-03-21 14:03] linsun commented on #12658
yes, we are doing continuously ping test (probably not much load) think we are testing ~85% passing rate.

If you are NOT using mixer, it is probably good to disable mixer or mixer check before the upgrade, because that is the only thing intercepts the app flow.

[2019-03-21 14:08] Stono commented on #12658
We have `policyCheckFailOpen` = true, which I thought was doing the same thing?

So just to be clear, you're saying there's currently not zero downtime method of upgrading the istio control plane?

[2019-03-21 14:10] linsun commented on #12594
A PR would be good, it would be good to be configurable via helm.  Please loop in @GregHanson for review as he has been making changes to get our logs configurable.

[2019-03-21 14:14] kramvan1 opened #12662 "Remove unneeded lists from jaeger templates"
**Describe the bug**
Embedded lists in the jaeger template can cause issues with automation tools like kustomize.  The list are not really needed and would be nice if they could be removed.
https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/tracing/templates/service-jaeger.yaml

**Expected behavior**
No Lists in the resource templates.

**Steps to reproduce the bug**

[2019-03-21 14:15] kramvan1 commented on #12662
@linsun cc

[2019-03-21 14:17] esnible commented on #12642
Related problem: https://github.com/istio/istio/issues/12294 .  This Envoy deprecation warning is sent to the logs every 30 minutes.

[2019-03-21 14:18] linsun commented on #12654
could you kindly produce sample yaml file(s) that can produce this?

[2019-03-21 14:23] rvansa commented on #12594
@linsun Ok, if an option is a better way to go, I'll use that. So in helm, this should be configurable through `--set pilot.enableGrpcTracing=true`, right? (default should be false).

[2019-03-21 14:28] linsun commented on #12655
i think it is a bug either way.  either we fail to validate host: * is not valid in VS resource or we fail to bind your VS that has host: * to the corresponding gateway.

I'll defer to @rshriram @frankbu @louiscryan for which direction we should go.

[2019-03-21 14:34] linsun commented on #12594
check out this: https://github.com/istio/istio/pull/12639

probably good to have a flag for pilot.tracing.enableGrpcTracing?

[2019-03-21 14:40] Stono opened #12664 "Pilot on 1.1.0 high memory usage (compared to 1.0.6), failure to push."
Hi,
Our pilot instances experienced massive spikes in memory usage immediately following the control plane upgrade and got killed by OOMkiller a few times:

<img width="805" alt="Screenshot 2019-03-21 at 14 37 39" src="https://user-images.githubusercontent.com/1486729/54759956-02527e00-4be7-11e9-9904-8bb75e1e4149.png">

This was presumably in the window that all the istio-proxy sidecars were recon

[2019-03-21 14:56] TimBozeman commented on #9504
Congrats on the release!

It looks like [the target port issue](https://github.com/istio/istio/issues/9504#issuecomment-472612138) is still happening on 1.1.0 on 1.12.5-gke.5.

[2019-03-21 15:03] howardjohn commented on #12610
Fixed in 1.1.1

[2019-03-21 15:03] #12610 closed

[2019-03-21 15:03] howardjohn commented on #12587
Fixed in 1.1.1

[2019-03-21 15:03] #12587 closed

[2019-03-21 15:04] howardjohn commented on #12582
Fixed in 1.1.1

[2019-03-21 15:04] #12582 closed

[2019-03-21 15:04] howardjohn commented on #12570
Fixed in 1.1.1

[2019-03-21 15:04] #12570 closed

[2019-03-21 15:08] rshriram commented on #12655
* is valid in virtual service if it binds to a gateway..
Restricting at the gateway hosts alone is not sufficient. It is a known bug in the system that if you have a unrestricted host in vs but not in gateawy, the one in vs takes over. So I would suggest that you use the same hosts in both

[2019-03-21 15:12] rshriram commented on #12583
the solution is to stop using computers and go back to abacus

[2019-03-21 15:39] Stono opened #12665 "TCP DNS Queries on clusters over a certain size fail"
@costinm @rshriram  this is now a permanent issue in 1.1.0 as we can't disable incremental EDS like we used to.

On large clusters, TCP dns queries fail:

Related: https://github.com/istio/istio/pull/12030/files

[code]

UDP:
[code]

[2019-03-21 15:40] Stono commented on #12665
Closing in favour of my original issue that i couldn't find a minute ago https://github.com/istio/istio/issues/12665

[2019-03-21 15:41] Stono commented on #11658
This is now a critical problem on 1.1.0, TCP DNS is broken for us and we can't set the EDS flag to fix it.

[2019-03-21 15:42] douglas-reid commented on #12659
@Stono you'll need to tune your loadshedding settings, it appears. That's more of an art than it is a science. I believe the default configuration is to reject gRPC requests if P50 latency > `100ms`.  If you are constantly stuck there, I'd bump that up. You could try something like `500ms` as a shot in the dark, but it'd be better to turn the loadshedding into `logonly` mode, watch the latency on

[2019-03-21 15:48] douglas-reid commented on #12651
The first thing to check is whether or not you've injected the proxy for your service's workload. Then you need to check that you've properly exposed container ports and followed the naming conventions around ports.

Let's move this to discuss.istio.io, which I think is a more appropriate forum for help.  Please open a thread there. If it turns out that there is an underlying issue, we can re-open

[2019-03-21 15:48] #12651 closed

[2019-03-21 15:49] mmerrill3 commented on #5384
I think something like this will work, although I'm still grasping all the moving parts.

https://github.com/mmerrill3/istio/commit/0d476fea0f6b5386fb4e5f00a7c20bd932305f7c

[2019-03-21 15:56] Stono commented on #11658
To be clear what we see here:

 - New pod comes up, can make TCP dns queries
 - Proxy receives a partial config update
 - TCP dns queries fail

Previously, we set `PILOT_DIRECT_EDS=0` to "fix" this, but that isn't an option in 1.1.0.

[2019-03-21 16:07] Stono commented on #11658
If i edit the `kube-dns` service, and add a random annotation, the other pods TCP DNS start working for a short period.  So seems like that service being edited pushes out an update which containers kube-dns.

Then another update will come along, and remove it.

[2019-03-21 16:11] ozevren commented on #9347
With the new framework refactroring, this is already done.

[2019-03-21 16:11] #9347 closed

[2019-03-21 16:14] douglas-reid commented on #12567
@linjinjin123 if you are having prometheus issues around their configuration, I suggest seeking out support via prometheus channels.

[2019-03-21 16:25] Stono commented on #11658
It's worth repeating that i only see this on large clusters.  This one is 553 pods with 387 services.

[2019-03-21 16:28] Stono commented on #11658
I'm chatting to @dwradcliffe - he has a cluster of a similar size, (but about 1/4 the number of services) and doesn't see it.  He runs galley, I don't.

[2019-03-21 16:32] #12665 closed

[2019-03-21 16:36] #12603 closed

[2019-03-21 16:36] rshriram commented on #12336
fixed by #12663

[2019-03-21 16:36] #12336 closed

[2019-03-21 16:37] rshriram commented on #10313
fixed by #12663

[2019-03-21 16:37] #10313 closed

[2019-03-21 16:43] Stono commented on #12664
This is preceded by lots of these:
[code]

[2019-03-21 16:44] Stono commented on #12659
Well we don't see it in 1.1.0 sidecars so I don't think I need to tune anything as we're upgrading them all anyway

[2019-03-21 16:44] nmittler commented on #12583
@Stono I'm not completely against excluding retryOn 503 by default.  In fact @rshriram was pushing for this [in my PR](https://github.com/istio/istio/pull/10566#pullrequestreview-188099348).

The one case that comes to mind is where the Envoy is up but the application behind it is down. By default this would cause a 503, but application readiness probes should be the solution here. I suspect there

[2019-03-21 16:46] robertpanzer commented on #11818
I created an alternative PR for this at https://github.com/istio/istio/pull/12666

[2019-03-21 16:54] douglas-reid commented on #12659
This should impact both 1.0.X and 1.1 in the same manner, as they should both be hitting the same `istio-telemetry` workloads, correct?  Load-shedding, in this case, is handled server-side.

[2019-03-21 16:55] Stono commented on #12664
We have a theory that when pilot is struggling to push changes, it's getting really backlogged.

We had 2x pilots at 150% CPU, we added a third, and now we have 3x pilots at 15% cpu...

[2019-03-21 16:55] Stono commented on #12659
They are, but we don't see this in 1.1.0 sidecars....

[2019-03-21 16:59] linsun commented on #12653
@mandarjog @jnativio - thoughts?  okay to make this change as default?

[2019-03-21 17:07] duderino commented on #11658
@howardjohn is working on this now

[2019-03-21 17:14] linsun commented on #12655
i think this is also fixed by #12663

[2019-03-21 17:16] linsun commented on #12618
closing this because I think it is a config error

[2019-03-21 17:16] #12618 closed

[2019-03-21 17:20] Stono commented on #12664
The memory profile if pilot seems to be all over the place:

<img width="798" alt="Screenshot 2019-03-21 at 17 19 44" src="https://user-images.githubusercontent.com/1486729/54771635-9e877f80-4bfd-11e9-8db2-0e5ea9c5b661.png">

[2019-03-21 17:21] #12463 closed

[2019-03-21 17:22] esnible commented on #12316
Closing because the threshold changed has been merged.

[2019-03-21 17:22] #12316 closed

[2019-03-21 17:22] linsun commented on #12658
I don't think these two params are the same. policyCheckFailOpen will perform the policy check but still allow the call to go through to mixer which could get stuck when mixer is down, where disablePolicyCheck will disable check completely.

Our test currently checks for 85% passing rate:  https://github.com/istio/istio/blob/release-1.1/tests/upgrade/test_crossgrade.sh#L47  In 1.0.x we didn't impl

[2019-03-21 17:33] frankbu commented on #12655
@linsun, no, this not fixed by #12663. It is a very different problem.

As @rshriram mentioned, this is a known issue when using `*` in the virtualservice host. We should document this for now, and hopefully fix it in the near future.

[2019-03-21 17:43] kyessenov opened #12671 "istio.io/istio/galley/pkg/runtime TestProcessor_EventAccumulation_WithFullSync is flakey"
/assign @ozevren
Log https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12458/istio-unit-tests/22388

[2019-03-21 17:46] mbanikazemi commented on #12603
fixed by Only use gateways for servers being processed #12663

[2019-03-21 17:48] kyessenov opened #12673 "Error: unknown command "server" for "galley""
Looks like Mixer error but actually Galley.
Occurs in many tests preventing merges from tide pool. See https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12505/e2e-mixer-no_auth/13913

/assign @ozevren

[2019-03-21 17:51] ozevren commented on #12671
Dup of: https://github.com/istio/istio/issues/12628

[2019-03-21 17:51] #12671 closed

[2019-03-21 17:51] kyessenov commented on #9415
wakawakawaka

[2019-03-21 17:52] kyessenov commented on #10092
not stale

[2019-03-21 17:57] mmerrill3 commented on #5384
I'll have to build the filter into the template for the proxy.

[2019-03-21 17:57] maxlambrecht opened #12674 "Node agent does not refresh certificates before expiry if expiry is less than requested TTL"
Istio uses always a static configuration parameter to determine if the secret cache should be refreshed and doesn't take into account the expiration time (NotAfter) of the cached certificate:

https://github.com/istio/istio/blob/2d951d1bd6efcf881ca5692c5c5b7dfd28089a0e/security/pkg/nodeagent/cache/secretcache.go#L547

If the node requests certificates from an external CA server and this server sig

[2019-03-21 18:02] yangminzhu commented on #11072
It seems even we could create a service entry with short host name, Pilot has some problems to handle it correctly. A service entry with short host name actually puts Pilot in a bad state, making it unable to distribute any configs to Envoy (Pilot becomes normal after deleting the service entry). Restarting Pilot solve the issue for some time (we can confirm the service entry with short host name

[2019-03-21 18:04] myidpt commented on #12674
@quanjielin Please take a look, thanks!

[2019-03-21 18:16] philrud commented on #12301
Doug's PR is merged, Istio 1.1 is out and updated docs are live. Closing.

[2019-03-21 18:16] #12301 closed

[2019-03-21 19:04] esnible opened #12677 "nil pointer dereference panic in TestProcessor_EventAccumulation"
A test flaked in TestProcessor_EventAccumulation.  See https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/12458/istio-unit-tests/22388/build-log.txt based on https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12458/istio-unit-tests/22388

The failure suggests a possible new or rare bug in galley:

[code]

[2019-03-21 19:06] ozevren commented on #11882
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12676/istio-integ-local-tests/7036
Reopening. It looks like we still have a flake.

[2019-03-21 19:07] ozevren commented on #11882
@incfly I am assigning this to you. I believe you're the original author of the test?

[2019-03-21 19:10] esnible commented on #12677
Closing as a duplicate of https://github.com/istio/istio/issues/12628

[2019-03-21 19:10] #12677 closed

[2019-03-21 19:11] esnible commented on #11022
Another failure; this one against master.  https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12670/istio-unit-tests/22390

[2019-03-21 19:13] Stono commented on #12642
@howardjohn saved the day for me here, as a work around add `--proxyLogLevel="error"` to your injector config to suppress the info noise

[2019-03-21 19:17] esnible commented on #11700
In addition to the 503s I am now seeing it fail because it runs out of time.  https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12675/istio-pilot-e2e-envoyv2-v1alpha3/16953#istioioistiotestse2etestspilot-testhttprequest reports after running `=== RUN   TestHttp/request/a_from_primary_cluster->b_8080`:

[code]

[2019-03-21 19:20] incfly commented on #11882
Yes. I'll take a look on that.

[2019-03-21 19:28] ozevren commented on #12628
@nmittler I believe you made some changes in this area recently. Could PTAL?

[2019-03-21 19:33] ozevren opened #12678 "TestIngressGateway503DuringRuleChange is flaky"
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12676/istio_auth_sds_e2e/3283

[2019-03-21 19:34] ozevren commented on #12678
@andraxylia can you triage and redirect?

[2019-03-21 19:35] esnible commented on #10786
TestCheckCache just failed for me.  Against master.  Reopening.
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12670/e2e-mixer-no_auth/13916

[2019-03-21 19:40] douglas-reid commented on #10786
@esnible what is the state of `master` at the moment?  all of the prior work was against `release-1.1` iirc. What's different between the two branches?

[2019-03-21 19:51] Stono commented on #12583
`Envoy is up but the application behind it is down` - yes application ready probes should stop that traffic getting to the envoy however, if an application goes unready from a previously ready state, that EDS update takes some time to propagate to the sending envoy so there will be a window == the duration of the EDS update in which traffic will get to that envoy.

Also our envoys never shut down

[2019-03-21 19:55] mmerrill3 commented on #5384
I tried the following, but still no luck with the 400 errors.  If anyone has time, can you point me in the right direction?

I see the new option for the listener_filter in the static configuration used by pilot inside istio-proxy container's directory /etc/istio/proxy/envoy.yaml

But, it looks like that doesn't make it over the the "json" file on the ingress gateway for some reason, I'm missing s

[2019-03-21 20:17] bianpengyuan commented on #10786
From the build log it seems like it is just because metric update is not in time:

[code]

I think we should just let the test code sleep a little longer. I will do a change for that.

[2019-03-21 20:18] jnativio commented on #12653
I don't think this is a good idea. It will delay directly the startup of a pod with sidecar. What is the impact of the warning message?

[2019-03-21 20:47] ozevren opened #12682 "TestMultipartEvents is flaky"
https://circleci.com/gh/istio/istio/360223?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

[2019-03-21 20:47] howardjohn commented on #12536
@mdgreenfield after talking with Shriram we think this is a bug, but the fix is non-trivial.

You mentioned this is not a blocker, right? I will have a change to take a closer look at this in a few days.

[2019-03-21 21:13] #11545 closed

[2019-03-21 21:23] diemtvu commented on #11091
While I find checking connectivity is a nice idea, I feel it is a challenge to implement it right. At the same time, it may somewhat overlapped with other add-ons (like Kiali and Grafana), which have graphical UI and present only the interested connections based on real traffic. For the command line tool, may be we should focus on the mechanism to investigate the source policy and the actual confi

[2019-03-21 21:30] loewenstein commented on #12527
See https://github.com/istio/istio/issues/12122 as well. We are currently looking into https://github.com/GoogleContainerTools/distroless for Envoy and later Istio images.

[2019-03-21 21:57] louiscryan commented on #12601
Fixed in https://github.com/istio/istio/pull/11617

[2019-03-21 22:20] mdgreenfield commented on #12536
Hemanth and I chatted about this. I don't think this is an immediate blocker for us but it is definitely important to us over the next couple weeks. If you've got time to look at it more closely in a couple days that should be fine.

[2019-03-21 22:32] duderino commented on #12500
@philrud https://github.com/istio/istio/pull/12556 has been merged. Anything left to do here?

[2019-03-21 22:35] philrud commented on #12500
no, this and #11509 should be addressed by that PR

[2019-03-21 22:39] esnible commented on #11091
@diemtvu Kiali and Grafana only show working connections.

The problem isn't always the configuration Envoy receives.  It could be KubeDNS crashing, or an application that doesn't bind to localhost, or Network Policy.  The problem could be Envoy configuration, but unrelated to Istio CRDs, perhaps all the Citadels have crashed and the certs have expired.

When there is an unexpected outage it will

[2019-03-21 23:14] ozevren commented on #12673
I think this was a one off failure. Do you concur? Can we close this?

[2019-03-22 00:09] quanjielin commented on #12674
@maxlambrecht

Today we don't parse certificate but rely on operator to config ```SecretTTL``` (and other params) to control cert rotation. For example, you could put below params in nodeagent yaml if your cert has a short time in 10m (not recommend in production).

[code]

[2019-03-22 00:46] #12673 closed

[2019-03-22 00:52] alphashaw commented on #6470
The same with 1.1.0

[2019-03-22 01:32] philrud commented on #5453
Confirming what previously has been mentioned: this not a sidecar/traffic management issue. The problem is that the `securityContext.runAsUser = 1001` directive is on a Pod level hence affecting all containers in the Pod including `istio-init`. `istio-init` has to be run as root in order to configure iptables.

Commenting out `runAsUser` field (or moving it to the container level) resolves the iss

[2019-03-22 01:51] hzxuzhonghu commented on #12664
@Stono Could you provide the pilot logs? I think it may help investigate。

[2019-03-22 02:42] #12500 closed

[2019-03-22 02:42] duderino commented on #11509
Fixed by #12556 which will be in 1.1.1

[2019-03-22 02:42] #11509 closed

[2019-03-22 02:42] duderino commented on #12500
Fixed by #12556 which will be in 1.1.1

[2019-03-22 02:59] hzxuzhonghu commented on #10858
`a full proxy conf reload `  this can happen in some scene.

[2019-03-22 03:01] hzxuzhonghu commented on #10858
In your env, does these logs always occur?

[2019-03-22 03:09] hzxuzhonghu commented on #10858
In 1.1,  `--keepaliveMaxServerConnectionAge 30m` is added to pilot discovery.  This implies pilot will disconnect connection every 30 minutes. I am not sure if this can influence proxy long-running connections.  @dsanchor Could you remove `keepaliveMaxServerConnectionAge ` option and test again?

[code]

@PiotrSikora can you help?

[2019-03-22 06:53] bangau1 commented on #10057
Wondering if this has been solved in latest istio release (1.1.0) 🤔

[2019-03-22 07:13] kramerul commented on #12122
We created a new envoy docker image based on ```gcr.io/distroless/cc```.
We are using the `e2e_pilot` test  with the 1.1.0 release to verify that the image is working fine.
In both cases (with and without distroless) we get exactly the same 19 failures:

[code]

Therefore, we would assume that the distroless images works fine.

@costinm, @kyessenov: Which additional tests would you propose to ensu

[2019-03-22 08:30] mumoshu commented on #12183
@Stono Hey! Thanks for sharing this. Really helped me shape the general direction I should go.

Sounds great. If I add one thing, we should ensure that only idempotent requests are retried.

Instead of:

[code]

We should probably do:

[code]

Sry if you've already done this/and my suggestion didn't work in any way. I just couldn't help leaving a note :)

[2019-03-22 08:41] Stono commented on #12183
@mumoshu I actually think for `gateway-error,connect-failure,refused-stream` you're safe to retry `POST`, `PUT` etc too, as those errors mean the request never made it to the target application anyhoo.

It's all a bit moot in 1.1.0 anyway as this retry stuff happens transparently!

[2019-03-22 08:45] mumoshu commented on #12183
Also, I agree that the prestop sleep is a must-have, and it isn't actually Istio or workload specific as far as I can say. I even hope we can extend the Istio's `Sidecar` resource it accept prestop sleep length.

Envoy, hence Istio, is eventually consistent. To make our Envoys/Istio sidecars and ingress gateways NOT to accidentally send traffic to "just-stopped" endpoints, we need a special care.

[2019-03-22 08:51] mumoshu commented on #12183
@Stono Thanks for clarifying. Maybe you're correct!

But my impression was that, if `gateway-error` stands for `502`, you still have a chance to receive it after envoy transferred your POST request to the upstream, the upstream processed it and prepared a response, but then the connection between the envoy and the upstream failed. We won't like envoy to retry the POST request in this case, though?

[2019-03-22 08:52] iandyh commented on #12183
@mumoshu Hello. I've sent a PR to add the `preStop` to gateway deployment.

[2019-03-22 09:00] mumoshu commented on #12183
@iandyh Hey! Just took a quick look at your PR #12342 - I think we need to consider two cases,

The one is `sidecar -> gateway`, and the another is `gateway -> sidecar`, `sidecar -> sidecar`.

Your workaround of adding `sleep 30` to the gateway should work, only in a way that all the other sidecars who wants to talk to the gateway has a grace period of 30 seconds until it stops traffic to the gate

[2019-03-22 09:14] mumoshu commented on #7136
I think I had a relevant discussion in another issue(https://github.com/istio/istio/issues/12183#issuecomment-475537762).

Even if the sidecar envoy collocated to the terminating app container stopped gracefully, the other envoys sending traffic to the terminating pods can still see errors. That's because  there's no practical way to make the terminating pod/sidecar to wait until the "client" envo

[2019-03-22 09:30] #12376 closed

[2019-03-22 09:31] hzxuzhonghu commented on #12211
@asifdxtreme

[2019-03-22 09:34] iandyh commented on #12183
@mumoshu `sidecar` actually does not talk to `gateway` since `gateway` only route the traffic into the cluster.

We are actually going to add the `preStop` hook to all the deployments in our cluster because regardless using istio or not, there is a chance of request drop during rolling update of these deployments.

[2019-03-22 10:04] iandyh commented on #7136
@mumoshu In most cases you can. Because once you start to delete the pod, it will be removed from the endpoint list then no more requests are being sent to this termination pod. After certain time(30s, 40s), Envoy finish processing the lingering request, then it can be shut down.

For persistent connections, the problem exists regardless whether you are using istio or not.

[2019-03-22 10:05] dsanchor commented on #10858
@hzxuzhonghu I just removed `keepaliveMaxServerConnectionAge` and took the value `2562047h47m16.854775807s` by defaut.

I see the same errors every 5 minutes, causing my gRPC application long-running connections to be closed and forcing the client to re-connect (while failing during couple of seconds.. which it seems it is what it takes to reload istio-proxy).

[2019-03-22 10:09] PiotrSikora commented on #12642
@costinm I'm confused as to why you assigned this one to me. Do you consider the fix for this to be silencing the deprecation logs (Envoy) instead of migrating off the deprecated fields (Pilot)?

[2019-03-22 10:13] iandyh commented on #9906
@dankirkpatrick Hello. I've tested your trick using `destinationrule` and it seems it still has 503s. I am using istio-1.1-rc5 though, because this is the fast version I can test with.

I am more than happy if you correct me....

[2019-03-22 10:28] Stono commented on #12653
Yeah I think I active with @jnativio - from a serverless perspective perhaps it needs to be on 1s and then the goal is to get that sidecar start time right down.

@jnativio in terms of impact we alert when apps fail their readiness probes successively so at the moment we get alerts every time a proxy starts.  We can tweak these values internally though.

[2019-03-22 10:52] ramaraochavali commented on #10659
@hzxuzhonghu I am trying stateful sets with simple TCP server - Do I have to create multiple Destination Rules for each host? any idea which steps I should follow - Does it even work?

[2019-03-22 12:00] Tushar120120 commented on #5726
if I install Isto with helm and follow the steps below, I still get error with istio 1.0.6 and 1.1.0 https://istio.io/docs/tasks/traffic-management/ingress/

[2019-03-22 12:01] Tushar120120 commented on #5726
if I install Isto with helm and follow the steps below, I still get error with istio 1.0.6 and 1.1.0 https://istio.io/docs/tasks/traffic-management/ingress/

[2019-03-22 12:06] yiqinguo opened #12695 "Circuit Breaking does not take effect for grpc service"
**Describe the bug**
I start a grpc server and client and set up a circuit breaker,the circuit breaker did not take effect.
Client sends one hundred requests per second.
**Version**
1.0.6

**Installation**
helm install

**Cluster state**
On kubernetes 1.11.0

**client.yaml**
[code]
**server.yaml**
[code]
**destinationrule.yaml**
[code]

[2019-03-22 12:23] Sherler commented on #11235
Is there any instructions to help us enable this feature?

[2019-03-22 12:32] mumoshu commented on #12183
@iandyh Thanks for confirming! Probably you're talking about the `sidecar -> gateway` case, right? I believe you're correct on that then 👍

I'd rephrase my idea to this: for cases like `gateway -> sidecar` and `sidecar -> sidecar`, we need prestop sleeps.

[2019-03-22 12:34] mumoshu commented on #12183
@iandyh I haven't encountered it yet myself but to confirm - you're talking about the case when kubeproxy + iptables + Service Endpoints not catching up pod terminations fast enough?

[2019-03-22 12:34] esnible commented on #7787
@andraxylia @geeknoid If we don't plan on fixing this for 1.0 and 1.1 should we document the problem in networking/v1alpha3/virtual_service.proto ?  Or hide the fields from the docs?

[2019-03-22 12:52] mumoshu commented on #7136
@iandyh Thanks again for your response! And sorry, I'm still trying to understand.

Doesn't this take some time, in the order of a second, or a few in a high-load condition? In that case I think we still need a short, explicit prestop sleep.

Some more context - My understanding was that, even though the downstream envoy had `drain_connections_on_host_removal` turned on, it has no way other than r

[2019-03-22 12:57] hzxuzhonghu commented on #10858
do you see envoy restarted? check the istio-proxy sidecar.

And any special configuration for pilot?

[2019-03-22 13:10] hzxuzhonghu commented on #10659
sorry, I donot understand you.

[2019-03-22 13:34] ramaraochavali commented on #10659
@hzxuzhonghu  Sorry for being vague. My question was - Is stateful set functionality fully supported in Istio? I am seeing conflicting docs and when I try TCP service - I am not able to make it work. So
My question was

1.  Are there any docs that explain how to configure stateful service?
2. Some issues mention that we have to create destination services for each of the stateful service node - Is

[2019-03-22 13:43] kylebevans opened #12697 "Galley Error: unknown flag: --meshConfigFile also please change istio.io helm repo to stable"
**Describe the bug**
Galley is stuck in CrashLoopBackoff due to this error:
[code]

**Expected behavior**
galley to run without error

**Steps to reproduce the bug**
Install istio from the helm repo at istio.io/istio

**Version**
The Istio version is 1.1.0, but the Deployments are set to load containers from master-latest-daily.  Here is the snippet from the galley Deployment:

[code]

**Installat

[2019-03-22 13:48] esnible commented on #12678
I looked into this on https://github.com/istio/istio/issues/11929 and even created https://github.com/istio/istio/pull/12207 to look into it.  See also https://github.com/istio/istio/issues/11700

What I discovered is that the test got 451 200s, then a 503, then 48 200s.

I discuss my findings at https://github.com/istio/istio/issues/11700#issuecomment-468976840 https://github.com/istio/istio/issu

[2019-03-22 13:51] dsanchor commented on #10858
No special configuration from pilot.

This is what I recurrently see on every istio-proxy:

`[2019-03-22 13:22:08.327][24][warning][config] [bazel-out/k8-opt/bin/external/envoy/source/common/config/_virtual_includes/grpc_stream_lib/common/config/grpc_stream.h:102] gRPC config stream closed: 13,
  | [2019-03-22 13:22:08.671][24][warning][misc] [external/envoy/source/common/protobuf/utility.cc:129]

[2019-03-22 13:54] hdimitriou commented on #12616
Not an issue, i found my way around this

[2019-03-22 13:54] #12616 closed

[2019-03-22 13:56] mmerrill3 commented on #5384
I've stashed my work here, the plumbing is done to pass through the option to enable proxy protocol.  I've seen it enabled on the ingress gateway, and pilot.  I still receive an error when placing the ingress gateway behind a proxy-protocol enabled ELB, so to me, either the envoy version we are using does not support the proxy-protocol, or there is something internal to the envoy proxy that doesn'

[2019-03-22 14:09] nmnellis commented on #12648
Im seeing a similar result, i can call my application service directly via grpc and it works but through the ingressgateway im getting Unimplemented and i do not see the request making it to the service. I do not see any logs in my applications istio-proxy logs when calling through the ingressgateway

Ingress gateway log
[code]

[code]

[2019-03-22 14:18] hzxuzhonghu commented on #10659
I think no.  At least this  https://github.com/istio/istio/issues/10659#issuecomment-449935064 is not implemented.

No

Do you mean DestinationRule? If so, I can hardly think how to config.  But i think we can create a service entry for statefulset pod as a workaround.

[2019-03-22 14:27] #10101 closed

[2019-03-22 14:32] hzxuzhonghu commented on #10858
1. Previously, I donot think reconnect of envoy will cause the proxied connections drain.

2. Have no idea why 5 minutes periodically disconnect client(envoy) connection.

@rshriram

[2019-03-22 14:38] ibm-jason commented on #12607
@esnible, I'm interested in tackling this one. Should I just re-assign this to myself?

[2019-03-22 14:57] ramaraochavali commented on #10659
Yes. I meant ‘DestinationRule’.  Ok I tried creating ‘ServiceEntry’ also. But let me look at that as well

[2019-03-22 15:06] dimakievua commented on #12655
Hi. If issue will be documented this you will avoid questions regarding this. Thank you for help.

[2019-03-22 15:24] kylebevans commented on #12697
Ok I think this is mostly my mistake.  My istio.io repo was installed with this as the url: https://storage.googleapis.com/istio-prerelease/daily-build/master-latest-daily/charts

I changed it to: https://gcsweb.istio.io/gcs/istio-release/releases/1.1.0/charts/
and that seems correct.  The container tags are still release-1.1-latest-daily though, which does worry me a little bit.

[2019-03-22 15:25] #12697 closed

[2019-03-22 16:17] howardjohn commented on #12642
Being undeprecated on Envoy side: https://github.com/envoyproxy/envoy/pull/6346

[2019-03-22 16:29] iamjem opened #12700 "Routing issues with Ingress + SDS"
**Describe the bug**
After installing Istio 1.1 using the default config, and following the steps in the configuring ingress with SDS task, I am unable to make requests to the httpbin service.

**Expected behavior**
I should be able to make both http and https requests to the ELB for the `httpbin.example.com` host, have them routed to the httpbin service, and see the expected responses.

**Steps t

[2019-03-22 16:52] quanjielin commented on #12700
/cc @JimmyCYJ @myidpt

[2019-03-22 17:20] esnible opened #12703 "istioctl version should report server version not just client version"
`istioctl version` should be more like similar commands `kubectl version` and `linkerd version` and print the server version by default.

This could be as easy as making `istioctl version --remote --short` the defaults.

[2019-03-22 17:21] #11971 closed

[2019-03-22 17:29] Stono commented on #11658
Keeping this up to date with slack, I can deterministically recreate this issue.

As you can see, no dns endpoints in the kube-dns cluster:
[code]

And digs fails:
[code]

If i create these two resources:
[code]

I get endpoints:
[code]

And digs work:
[code]

If I delete those entries:
[code]

Digs continue to work:
[code]

Until I do something to trigger a partial push (deleting another pod in t

[2019-03-22 18:43] kyessenov commented on #11882
Flakes https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12689/istio-integ-local-tests/7142

[2019-03-22 18:43] kyessenov commented on #12678
Flakes consistently for me: https://circleci.com/gh/istio/istio/361809?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link, as an example.

[2019-03-22 18:44] XBeg9 commented on #5453
@philrud that's totally right, we should disable `runAsUser` if want to inject istio's sidecars.

I am curious, do you use mTLS? Have you got a chance to run redis with mTLS? Thanks

[2019-03-22 19:12] markmssd commented on #9504
I have the same issue. My deployment has a service bound to it. Funny fact is:

[code]

But my deployment's service has another IP completely...

Also, checking all IPs from `kubectl get svc --all-namespaces`, and NONE of them have this IP...

Everything was working smoothly before upgrading from 1.0.6 to 1.1.0.

[2019-03-22 19:21] Stono commented on #12664
@costinm has a bunch of pilot logs from me investigating another issue, if you could grab them off him

[2019-03-22 19:58] philrud commented on #5453
@XBeg9 yes, I was running that setup with mTLS=on

[2019-03-22 19:58] esnible commented on #12678
A few weeks ago I ran `while time go test -run TestIngressGateway503DuringRuleChange -namespace=istio-system -skip_setup=true -pilot_hub=istio -pilot_tag=1.1.0-rc.0 -auth_enable=true; do date; done` for four hours against IBM Kubernetes Service and was not able to reproduce this problem even once.

I have been testing today with similar rules against Bookinfo with `/usr/bin/fortio -- load -qps 100

[2019-03-22 20:32] XBeg9 commented on #5453
@philrud namespace-policy or global one?

[2019-03-22 21:23] mmerrill3 commented on #5384
I'll need to update pilot to send the listener with the listener filter set for the proxy-protocol for http and https.  That's the part I'm missing.  My working branch only fixes port 15090, not port 80's listener.  I didn't realize that listeners were discovered from pilot.

[2019-03-22 22:31] #12455 closed

[2019-03-22 22:54] Stono commented on #11658
For anyone else experiencing this, adding a `ServiceEntry` and a `DestinationRule` if you have mTLS enabled, works around the issue:

[code]

[2019-03-22 23:09] #8585 closed

[2019-03-22 23:10] Stono commented on #11181
Seeing as this is enabled by default in 1.1.0 at 30minutes, I'd really like to understand:

1.  Is it even working?
2.  Is it safe to use?

I'm half inclined to edit the injector config and remove it because the potential increased churn worries me.

Also, can anyone confirm if `keepaliveMaxServerConnectionAge` has some jitter?  Otherwise we'll get all pilots reconnecting 30minutes after a rolling

[2019-03-22 23:32] howardjohn opened #12713 "1.1.x Helm Charts use release-1.1-latest-daily image"
The release binary uploaded to Github uses the correct image tags, but the Helm repo does not.

[code]

This will impact anyone using Helm from the repo (`helm install istio.io/istio ...` vs `helm install install/kubernetes/helm/istio ...`)

@utka @duderino @mandarjog

[2019-03-22 23:37] howardjohn commented on #12713
Tested on 1.1rc1, 1.1.0, 1.1.1 draft. All have the same issue. 1.0.6 did not have this issue since we didn't have a Helm repo I think.

[2019-03-22 23:41] kyessenov commented on #12713
What is helm repo? Is this published somewhere outside this repository?

[2019-03-22 23:43] howardjohn commented on #12713
https://storage.googleapis.com/istio-release/releases/1.1.0/charts/

Under "Helm Chart Index" in releases

[2019-03-22 23:44] kyessenov commented on #12713
I've never used `helm install`. Is this an issue with our CI?

[2019-03-22 23:45] kyessenov commented on #12713
I'm seeing "the specified key does not exist" when I follow that link.

[2019-03-22 23:48] howardjohn commented on #12713
[code]
https://storage.googleapis.com/istio-release/releases/1.1.0/charts/index.yaml describes what can be downloaded, helm will use this. So it shows the 3 charts we have, istio, istio-cni, istio-init.

https://storage.googleapis.com/istio-release/releases/1.1.0/charts/istio-1.1.0.tgz

[2019-03-22 23:58] kyessenov commented on #12713
Hmm, I've started looking for a place where this is published but so far no luck.

[2019-03-23 00:03] howardjohn commented on #12713
release/gcb/github_publish_release.sh:69 Indicates where we publish it on github - added in https://github.com/istio/istio/pull/9496/files

https://github.com/istio/istio/blob/master/release/gcb/helm_values.sh is what we need to run on https://github.com/istio/istio/blob/master/release/gcb/helm_charts.sh maybe?

[2019-03-23 00:09] mandarjog commented on #12713
This has never worked, all RCs also pointed to the latest daily...
I am fixing 1.1.0 and 1.1.1 charts now.

[2019-03-23 00:13] kyessenov commented on #12713
@mandarjog is this a manual fix? are we using GCB for helm repo?

[2019-03-23 00:23] iandyh commented on #7136
yes, this can be easily produced during high load.

For persistent connection, the retry it's inevitable.

[2019-03-23 00:32] mandarjog commented on #12713
Yes,  I fixed 1.1.0 release manually to point to the correct tag.

however 1.1.1 charts are not correct including its name, so I am not fixing them since 1.1.1 is not released yet.

[2019-03-23 00:34] howardjohn commented on #12713
I verified 1.1.0 looks good Mandar, thanks for the fix

[2019-03-23 00:36] iandyh commented on #12183
The issue we are discussing actually is entirely different from the main thread. You can read the details here: https://freecontent.manning.com/handling-client-requests-properly-with-kubernetes/

[2019-03-23 01:39] hzxuzhonghu commented on #11181
I think it has, but not much. With at most MaxServerConnectionAgeGrace, which is default to 10s.  IMO, this option should be disabled by default.

[2019-03-23 12:42] #9954 closed

[2019-03-23 14:51] Demonian commented on #11973
@pms1969 Hi, can you please describe in more details how did you solve the problem?

[2019-03-23 17:00] nagapavan commented on #12618
Thanks @linsun @prima101112 for helping with the correct way.

[2019-03-23 18:05] leecalcote commented on #10210
@incfly is setupMeshEx.sh deprecated as of 1.1?

[2019-03-23 18:19] esnible commented on #12573
@nerusnayleinad I cannot find the 20 unexpected behavior items you mention.

[2019-03-23 18:54] Bessonov commented on #2310
It's `community/help wanted`, not `help wanted`.

[2019-03-23 19:03] howardjohn commented on #12713
Actually, think it still has issues. The tag should be `1.1.0` not `release-1.1.0`

[2019-03-23 19:24] mandarjog commented on #12713
fixed.

[2019-03-23 20:02] mmerrill3 commented on #5384
I got this to work, only as a proof of concept, here:

https://github.com/mmerrill3/istio/commit/6fd46f540efae3d2e7fbcaf214ce81f4d408dbce

After I applied this patch, when I deployed the bookshop demo into my AWS accout with an ELB with proxy protocol enabled, I see 200 success responses.  No more 400 errors.

I updated pilot to inject the ListenerFilter for the proxy protocol when the lds service

[2019-03-23 20:09] esnible commented on #12080
I would like to see this under an `istioctl mc` subcommand.

Knowing that a cluster is already set up for multicluster is also important.  I have created a document at https://docs.google.com/document/d/19mQojPz0A6W56CE9iREjSfCXjrvCf_hkU-bw5trzRpI/edit perhaps you could comment on it and we could move forward together with a proposal for how users interact with multi-cluster configuration.

[2019-03-23 20:18] esnible commented on #12075
The command syntax was `istioctl experimental rbac can METHOD SERVICE PATH [flags]`.

The documentation included examples https://preliminary.istio.io/docs/reference/commands/istioctl/#istioctl-experimental-rbac-can

[code]

@yangminzhu Is the intention for a replacement to support the same syntax?

If I do `kubectl get crds | grep -i rbac` I see five different Istio RBAC CRDs.  Which ones are we

[2019-03-23 20:21] esnible commented on #11836
Can you point us to some instructions for setting up the dashboard CRDs or a tutorial on how to see the new dashboards?

[2019-03-23 20:30] jmazzitelli commented on #11836
@esnible Kiali Runtimes Monitoring documentation that talks about setting up the dashboards: https://www.kiali.io/documentation/runtimes-monitoring/

The bottom of that docs page gives some docs on the spec for the dashboard CRs. The dashboard CR yamls that Kiali has currently are found here: https://github.com/kiali/kiali/tree/master/deploy/dashboards

Here is an additional blog with some instruc

[2019-03-23 21:39] #11132 closed

[2019-03-23 22:20] esnible commented on #6324
Another work around would be an `istioctl quit-terminated-jobs` hack to look for jobs and do `kubectl exec <pod> -c istio-proxy -- curl -X POST localhost:15000/quitquitquit` on them.  That would at least make it easy to script this process.

Could Galley or another component could include a controller to watch for Job pods going into `containerStatuses[*].state.terminated.reason=completed` and POS

[2019-03-23 22:24] esnible commented on #6324
@cmeyertons Kubernetes won't let the Envoy sidecar pod start until the init container has completed.  Kubernetes starts the job and the sidecar together.  The app won't have networking until Envoy initializes.  We are tracking possible solutions under https://github.com/istio/istio/issues/11130

I add some code to my deployment descriptor to cause it to sleep before Envoy is ready.  (Replace `star

[2019-03-23 22:50] xeor commented on #8619
We need this as well, trying to setup SSO (beyondcorp style) using keycloak. @yskopets can you please share some of the configuration/lua you are doing as a workaround?

[2019-03-23 23:47] esnible commented on #12599
@iftachsc Can you attach the SE that caused trouble?  It would help with writing accurate test cases for the problem.

[2019-03-24 00:00] esnible commented on #12595
Works for me, in both `release-1.1` and `master` branch.  I am using OSX, but it shouldn't make a difference.

[2019-03-24 00:17] esnible commented on #12572
Your Sidecar may not be "READY".  Do `kubectl get pods` and verify that it is `2/2`.  https://github.com/istio/istio/issues/9504

I always do `kubectl get gw,vs,dr,se,policy,sidecar` and make sure I didn't forget some test configuration that adds or changes security.

Does this succeed:

[code]

[2019-03-24 02:06] esnible commented on #12553
I tried to reproduce this under 1.1.  For me it worked, but also for me I didn't see Envoy report the inbound access at all.

[2019-03-24 07:27] iftachsc commented on #12599
I won’t reveal hosts and ips so it doesn’t make sense to. It’s really simple. A minimal SE with ips and hosts  that resolve to these very ips , with resolution:dns . I think without resolution it also removes the error.

[2019-03-24 11:01] HamzaK8s opened #12720 "ISTIO 1.1 - ingressgateway not working on a fresh install"
**Describe the bug**
I installed the new version of istio-1.1 using both option 1 and option 2,  I got the same result, I can't access to the bookinfo through the ingressgateway.

**Expected behavior**
I expected to see logs on the ingressgateway while I'm creating resource like gateway or virtualservice, also I expected to access the bookinfo example through the ingressgateway

**Steps to reprodu

[2019-03-24 13:22] naveeng68 opened #12722 "How we implement kiali"
I installed istio 1.1(kubectl version 1.11 and Kops 1.10) without helm, kiali is coming with it.
I edit kiali service and change type Cluster ip to Loadbalancer.

as per helm we add grafana and jaeger via

But how we can add grafanaURL and jaegerURL under yaml file (service or deployement)?
Please do needful

[2019-03-24 16:25] jaygorrell opened #12723 "Grafana/Kiali don't show data with overlapping global DestinationRule enabling mTLS"
**Describe the bug**
When deploying a global `DestinationRule` to set `ISTIO_MUTUAL` for `host: "*.local"`, everything works correctly on the traffic side but Grafana does not show any data and Kiali just shows the first hop.

**Expected behavior**
Grafana and Kiali continue to show data.

**Steps to reproduce the bug**
Run the following
[code]
You should see that traffic is working correctly -- r

[2019-03-24 17:01] jshakk opened #12725 "Istio Curl commands connection refused error"
**Describe the bug**
{{ Succinctly describe the bug }}
apiserver is swapping between error, stopped and running state very frequently. Also the curl commands for the service exposed through node port is not working. Always getting error as connection refused.

**Expected behavior**
installed istio and created 3 deployments using istioctl kube-inject.
Apiserver status keeps changing between error,

[2019-03-24 17:16] Stono opened #12726 "Seemingly useless pilot log message (http: multiple response.WriteHeader calls)"
Running `istioctl proxy-status`, generates this log message in pilot.  As we have a scripe which runs that every 10 seconds to generate alerts if things aren't looking right, we get quite a bit of noise in the logs:

Feels relatively useless and could be removed in order to keep the pilot logs cleaner?

[code]

[2019-03-24 21:05] jaygorrell commented on #12305
Also hitting this on 1.1

[2019-03-24 22:52] myidpt commented on #12674
Hi Quanjie, do we have plans to improve it?

[2019-03-24 23:08] quanjielin commented on #12674
CA side decide cert lifetime by below sequence:
1. Certttl passed from node agent
2. CA side default cert lifetime

I.e, parse cert is the same as 1

[2019-03-24 23:16] jaygorrell commented on #12723
I figured this out. The `host` rule needs to be scoped to the namespace as well using `*.default.svc.cluster.local`, not just the `namespace` attribute of the resource.

I want to leave this open a bit to get confirmation that this is expected -- which may mean there's an issue to open on the docs side of things.

[2019-03-25 00:20] esnible commented on #12599
The symptoms you describe are very similar to https://github.com/istio/istio/issues/9504 .  That problem is Listeners going Stale when there are duplicates.  This problem is Routes going stale.

I tried to recreate your problem with Istio 1.1 using variations of the SEs below and couldn't make STALE appear.  It is possible that the problem is fixed.  It is also possible that I misunderstood your d

[2019-03-25 01:21] mumoshu commented on #12183
@iandyh Thanks! I agree on you about what you're considering is described in https://freecontent.manning.com/handling-client-requests-properly-with-kubernetes/.

Can you agree on, not only your app containers, but also istio-pilot/sidecar containers need prestop sleep? 😃

My understanding is that (1)all the containers in a pod, hence your app and the sidecar, receive SIGTERM concurrently (2)envoy(

[2019-03-25 02:42] idouba opened #12732 "Are compiledAdapter and adapter the required fields in Mixer Handler 1.0 & 1.1 ?"
Are compiledAdapter and adapter is the required field in 1.1 Mixer [Handler](https://istio.io/docs/reference/config/policy-and-telemetry/istio.policy.v1beta1/#Handler)?

And the two field are also marked as required filed [in 1.0 ](https://archive.istio.io/v1.0/docs/reference/config/policy-and-telemetry/istio.policy.v1beta1/#Handler).  But it seems that the two are not  used in 1.0 helm.

[2019-03-25 03:38] hzxuzhonghu commented on #12720
This may help you https://istio.io/help/ops/traffic-management/proxy-cmd/#deep-dive-into-envoy-configuration

[2019-03-25 03:41] hzxuzhonghu commented on #12720
Find this virtualservice setting is not right
[code]

[2019-03-25 05:34] iandyh commented on #12183
@mumoshu yes, the only correct way of doing this is Envoy(sidecar) still receives traffic even it's being killed by the cluster(at the same time, no more new requests being send to this Envoy), drain some time, can be a perfect drain, can be a timed drain(what Lyft is doing). After draining, `SIGKILL` .
According to this PR: https://github.com/istio/istio/pull/11630/, Envoy will still reject the n

[2019-03-25 05:46] philrud commented on #11658
I've spent some time digging into this on Friday, sharing my findings to the date.

One thing that's special about kube-dns service is that it (being a normal DNS server) talks two protocols on the same port. I.e. its Service resource has two "service ports" (UDP and TCP) on the same physical port (53).

From reading the source code it doesn't seem like Istio supports that very well. There are sev

[2019-03-25 05:48] mumoshu commented on #12183
@iandyh Fully understood.

If you don't mind paraphrasing - Yes, I agree that even after #11630 our sidecar need a `preStop` sleep, so that it won't reject new reqs arrived after SIGTERM but before other envoys actually stop sending.

Thanks for sharing your insight ☺️

[2019-03-25 06:02] sangwa commented on #12549
@gdhagger For the particular case of using a Google HTTPS balancer over GKE, we've been able to make it work with a bunch of workarounds:
- istio ingressgateway is deployed with Service `type: NodePort` and `externalTrafficPolicy: Local`, port 15020 (healthcheck) is also exposed to (an arbitrary) `nodePort` 31320 (similar to the default 31380 for HTTP and 31390 for HTTPS)
- a custom GCE Health Che

[2019-03-25 06:59] atotala commented on #12562
there was some invisible character in the script, removing that character things start to work properly

[2019-03-25 06:59] #12562 closed

[2019-03-25 07:28] Stono commented on #11658
@philrud - thanks for the update.  I'm glad the blast radius of the issue seems to be a bit more confined to kube-dns.  It's just a shame that the blast radius of kube-dns is large - haha!

I do find it odd that I only get it only on the larger more complex clusters so definitely feels like something else is a bit off.

To be clear, we never had the ServiceEntry on 1.0.6 with incremental push turn

[2019-03-25 08:16] HamzaK8s commented on #12720
@hzxuzhonghu  you right I tought that the namespace scoping was for virtualservice too but when I re-check the release notes 1.1, it was only for gateway
[code]
I'll modify it and let you know
thanks

[2019-03-25 08:41] iftachsc opened #12737 "Istio mesh monitoring dashboard contains duplicate list of all service with unknown workload and namespace"
**Describe the bug**
at some point, most likely because of a fault, we started to have in additional to correct service and metrics, an entry per service, where service name is correct but with "unknown.unknown" entry for the workload column (destination_workload & destination_workload_name) with 0 metrics.
so all works because we have all the correct metrics but we want to remove the duplicates f

[2019-03-25 08:43] sdake opened #12738 "Global Istio mutual TLS tutorial problem: discuss.istio.io reported issue with solution"
**Describe the bug**
Istio tutorial doesn't work: https://istio.io/docs/tasks/security/authn-policy/#globally-enabling-istio-mutual-tls

**Expected behavior**
Istio tutorial should work

**Steps to reproduce the bug**
See: https://discuss.istio.io/t/istio-tutorial-doesnt-work-on-minikube/1528

**Version**
Istio 1.1.0

**Installation**
Installing with mtls enabled=true doesn't suffer this problem.

[2019-03-25 08:52] iftachsc commented on #12599
im using 1.0.6. so my issue was with single ServiceEntry that its hosts resolve to the ips. i agree its weird and shoudnt occur if its within a single SE but maybe with small chance i missed a duplicate SE but im pretty sure not. for now please go ahead and close this issue.

[2019-03-25 09:04] huisebug opened #12739 "does not create pod"
**Describe the bug**
{{ Succinctly describe the bug }}

**Expected behavior**
{{ What did you expect to happen? }}

**Steps to reproduce the bug**
{{ Minimal steps to reproduce the behavior }}

**Version**
{{ What version of Istio and Kubernetes are you using? Use `istioctl version --remote` and `kubectl version` }}

**Installation**
{{ Please describe how Istio was installed }}

**Environment**
{

[2019-03-25 09:04] #12739 closed

[2019-03-25 09:05] sdake commented on #12122
@kramerul can you do me a solid and create a PR that builds envoy's container using distroless cc so we can see if this technique is functional in the gate?  IOW change your PR or create a new one that changes this:

<img width="397" alt="Screen Shot 2019-03-25 at 2 03 43 AM" src="https://user-images.githubusercontent.com/755849/54907264-4ae99000-4ea2-11e9-8803-d9fe0523ebf4.png">

to
`/pilot/docke

[2019-03-25 09:06] pms1969 commented on #11973
@Demonian I basically followed the setup here: https://istio.io/docs/examples/advanced-gateways/ingress-sni-passthrough/

Set a gateway passthrough for ports 80 and 443.
[code]

[2019-03-25 09:29] rvgud commented on #12417
there is one update to this issue:- When i upgraded my nginx container to http2 it is working fine without any issue. this is because the entire call browser---> istio ingress----> nginx pod is being served on http2. and there is no transformation of protocol at istio envoy. But i have other container having spring boot in them whic basically can't be upgraded to http2(due to tls). So here lets su

[2019-03-25 09:37] kramerul commented on #12122
@phil9909 will provide a new PR

[2019-03-25 10:47] gdhagger commented on #12549
@sangwa These workarounds shouldn't be necessary, and even with them I don't believe it actually solves the problem.
* Two loadbalancers = two IPs, which means having multiple DNS records and knowing ahead of time which one you want to request.   The whole point of the HTTP->HTTPS redirect is to be able to hit one endpoint and get redirected appropriately.

Also, from the testing I've done, even w

[2019-03-25 12:02] Karnich opened #12743 "1.1.0 Traffic is weird on GKE when using CNI"
**Describe the bug**
Newly created GKE cluster with Network Policy enabled. After installing Istio and the Istio CNI. Pods traffic is terminated and the response is a 503. Traffic between pod 1 and pod 2 is terminated. I can see both the inbound and outbound requests in the istio-proxy pods. The pods are in the same namespace and communication was fine before adding the CNI

Also rabbitmq doesnt w

[2019-03-25 13:01] bitsofinfo commented on #8807
Experiencing same issue, is there an open envoy issue around this?

[2019-03-25 13:19] #12599 closed

[2019-03-25 13:24] ibm-jason commented on #11922
### Status Update

Here is a table of E2E tests that I've identified as pre submit tests (assuming this means prior to being merged):

| Test | Runs Standalone | Documented? |
|------|-----------------|-------------|
| e2e-bookInfoTests-v1alpha3.sh | | |
| e2e-bookInfoTests.sh | | |
| e2e-dashboard.sh | | |
| e2e-mixer-no_auth.sh | | |
| e2e-simpleTests.sh | | |
| e2e_pilotv2_auth_sds.sh | | |
| i

[2019-03-25 13:57] GregHanson commented on #12232
bug fix for the timestamp merged - marking as closed unless further issues detected

[2019-03-25 13:57] #12232 closed

[2019-03-25 14:03] ibm-jason commented on #11527
@linsun Circling back around on this issue. At this point, we're just finding a place to document how to separately download `istioctl`, including the brew install process?

[2019-03-25 14:22] #11847 closed

[2019-03-25 14:54] howardjohn commented on #12738
We recently changed how we look for DestinationRules. We look in the namespace of the source and destintion (foo and bar) and the root config namespace (defaults to istio-system). It no longer will search all namespaces. So in the default setup, I think you would need to add the DR to either foo, bar (probably want both), or istio-system.

[2019-03-25 14:54] howardjohn commented on #12738
Thats also why mtls=true works, it creates the rule in istio-system

[2019-03-25 15:16] ozevren commented on #11436
This particular problem (image pull) seems to be fixed at this point. There are other flakes that make the job less stable. I'll track those separately.

[2019-03-25 15:16] #11436 closed

[2019-03-25 15:18] ozevren opened #12750 "Re-enable Mixer tests using the new test framework"
The Mixer tests written on the new test framework are flaking, especially in Prow w/ Kubernetes:
https://k8s-testgrid.appspot.com/istio-postsubmits#integration-k8s-tests

[2019-03-25 15:19] esnible commented on #12726
Turning over to Howard John, who already has an alternative PR.

[2019-03-25 15:50] andrewjjenkins commented on #12551
I added this bug to the Networking WG meeting agenda [here](https://docs.google.com/document/d/1xHy2jQ8oiwMponMVY2zJr2eUAmHW_Hi9JK42a7cg5Pc/edit#), to discuss with the broader networking team on Thursday.

[2019-03-25 16:09] esnible commented on #12501
`istioctl proxy-config` can access the remote cluster today if there is a Kubernetes context:

[code]

Would it be reasonable to extend the commands to allow arguments for two Kubernetes contexts and have it continue working like it does today?  `istioctl proxy-status --remote-context <context> <remote proxy pod>.<namespace>`

[2019-03-25 16:39] ozevren opened #12752 "Test Flake: istio.io/istio/pilot/pkg/proxy TestApplyThrice"
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12247/istio-unit-tests/22603

[2019-03-25 16:41] rmichela commented on #11181
grpc-lb is now [considered deprecated](https://groups.google.com/d/msg/grpc-io/0yGihF-EFQo/A4QKdXffBwAJ).

[2019-03-25 16:48] jaygorrell commented on #12723
Okay, the real setting here is `global.controlPlaneSecurityEnabled` that needs to be enabled. That will create a mTLS destination rule for telemetry. There might be a documentation gap here still.

[2019-03-25 16:48] #12723 closed

[2019-03-25 17:07] jotak commented on #11836
Also if you want a full working example with runtimes dashboards you can check https://github.com/jotak/bookinfo-runtimes (it's more or less bookinfo rewritten with the current supported runtimes, just don't expect to see all the capabilities of your existing bookinfo, it has been simplified)

[2019-03-25 17:08] vadimeisenbergibm commented on #12623
The code of [EndpointsByNetworkFilter](https://github.com/istio/istio/blob/116a6a6ed2a1dfbb7444e4fa8f13052f7bb00a0e/pilot/pkg/proxy/envoy/v2/ep_filters.go#L34) does not send the local gateway to the remote sidecars.

Proposed solution: define the local network as "default". If the sidecar does not specify its network, treat it as "default". If the endpoint doesn't have network metadata, treat it a

[2019-03-25 17:08] zimmertr commented on #12535
I'm still experiencing this issue when installing Istio by generating a template with Helm sourced from this command:

`curl -L https://git.io/getLatestIstio | ISTIO_VERSION=1.1.0 sh -`

[2019-03-25 17:19] cyrus-mc commented on #10933
Not sure if this is related to my issue but, output of proxy-status

NAME                                                   CDS        LDS        EDS               RDS          PILOT                           VERSION
awscli2-7f759d4446-59cmd.matt                          SYNCED     SYNCED     SYNCED (50%)      SYNCED       istio-pilot-f4c98cfbf-9hz8q     1.1.0
istio-ingressgateway-668676fbdb-252tp

[2019-03-25 17:19] ozevren opened #12754 "TestMtlsHealthCheck fails on circleci/minikube"
https://circleci.com/gh/istio/istio/364037?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-03-25 17:21] marcin-kasinski opened #12755 "ISTIO 1.1 - ingressgateway not working on a fresh install. Version 1.0.6 worked"
I have problem with istio 1.1.0.

I had no problem with 1.0.6 version.
It worked.
Now current version is 1.1.0 and it doen't work.

My install process:
[code]
Then based on https://istio.io/docs/tasks/traffic-management/ingress/ I've created Gateway and virtual service

Problem is that curl retuns 503
[code]
Pods
[code]

Kubernetes version

[code]

ingressgateway logs:

[code]

[2019-03-25 17:25] douglas-reid commented on #12750
Looking at the logs, it seems like the tests fail because of a failure to deploy Istio:

`2019-03-23T00:29:15.002609Z	info	CI	=== FAILED: Deploy Istio ===`

It seems like the first couple of tests run by Prow results in failure, based on pods in pending state.

[2019-03-25 17:39] jaygorrell commented on #11390
I just opened https://github.com/istio/istio.io/issues/3844 that I think is related to this. The mTLS migration documents don't refer to `controlPlaneSecurity`, so people that have taken that path are left with a control plane not using mTLS.

Does it ever make sense for `global.mtls` to be enabled but not `controlPlaneSecurity`? Wondering if this could just be more clear from the top-level Helm v

[2019-03-25 17:49] incfly commented on #12754
[code]

Meanwhile, the prow test succeeds...
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12751/istio-integ-k8s-tests/5506

[2019-03-25 17:50] jmazzitelli commented on #12722
If I understand the question correctly, you are asking how to configure Kiali so it knows the jaegerURL and grafanaURL when not installing Kiali via helm or the Kiali [installation script](https://git.io/getLatestKialiKubernetes).

If that is true, the settings are easily defined in Kiali's configmap.

[code]

See this page for a description of all the configmap settings: https://github.com/kiali/

[2019-03-25 17:58] XanderStrike opened #12757 "User can configure location of certificates in authentication policy"
**Describe the feature request**
Provide users the option to configure locations of certificates used for configuring the envoy proxy when using mTLS. We want to provide the location of the certificates when configuring the authentication policy.

Right now the authentication policy is using hardcoded paths specific to Kubernetes. In CloudFoundry we put our application instance certs in a differen

[2019-03-25 18:08] yangminzhu commented on #12535
@zimmertr I just tried and installed successfully, could you paste the contents of the yaml you used to install istio?

[2019-03-25 18:10] ozevren opened #12758 "Test Framework: Add support for dumping K8s events"
We're currently dumping pod state and logs when a test fails when running under K8s. We should add dumping of K8s events as well.

[2019-03-25 18:11] Stono opened #12759 "Does workloadSelector for Sidecar only work with `app`"
Hey,
The docs say:
[code]

However, it doesn't seem to be working for me, when I use `sidecar: cron`?

Pod:
[code]

And my sidecar resource:
[code]

But the sidecar gets populated with clusters that are not in those selectors:
[code]

So it doesn't appear to be applying.

[2019-03-25 18:15] sdake commented on #12535
Before we do anything drastic like backport this to 1.1.1 - it seems we need to verify it is actually a 1.1.1 problem.

@kylebevans can you paste the output of:
[code]

Cheers
-steve

[2019-03-25 18:16] sdake commented on #12535
@kylebevans can you also paste a describe of one of your containers (galley, pilot, any willl do)

e.g.
[code]

Cheers
-steve

[2019-03-25 18:20] zimmertr commented on #12535
Sure, I'm using an Ansible Role that looks like this:
[code]

Which produces and applies the following files:

[istio-init.yml](https://gist.githubusercontent.com/zimmertr/56a1599bde1b1e0ed99e26ef1a08be80/raw/fbff870765abd1280c29e92695ce16e3ad02fccb/istio-init.yml)
[istio.yml](https://gist.githubusercontent.com/zimmertr/4ad5380b19ab1e61fef45f16c22f5434/raw/8b8c62781af971a7d15e6833183cc73a2374a9b6/

[2019-03-25 18:23] sdake commented on #12535
@zimmertr can you paste the output of a describe operatiion on one of your containers (such as galley or pilot)?

Thanks
-steve

[2019-03-25 18:34] howardjohn commented on #11658
Not the cause, but related: https://github.com/kubernetes/kubernetes/issues/39188

Bug in kubernetes causes issues with ports overlapping, could be related. Kube-dns will always have both the TCP and UDP port, but when creating own service with both, need to be careful that both are created.

[2019-03-25 18:36] zimmertr commented on #12535
I have since manually applied the CRD from the above described manifest and redeployed the failed pods. So that may have tainted my describe. But [here](https://gist.githubusercontent.com/zimmertr/f03e46a4522341901c56bcbd1cf5aae4/raw/3ec40b14e1ee6d3c860d432352b852d402a1a1ff/istio-galley-694f4bd7bd-svsm7) is the Galley.

[2019-03-25 18:37] Stono opened #12760 "Statuscode 404 from istio-proxy when cluster isn't found is missleading"
Hey,
We've been going through the process of using `Sidecar` to scope all of our sidecars (which works beautifully I must add), however there is one behaviour that I think needs looking at.

We use both NetworkPolicy and Sidecar to restrict Egress.  Previously we only had NetworkPolicy, so when `appA` tried to talk to `appB` (when it shouldn't be able to), it'd network timeout and envoy would retu

[2019-03-25 18:39] sdake commented on #12535
This is a problem

[code]
The manifest (istio.yaml) clearly specify 1.1.0 yet yoursystem is clearly running a daily release.  The daily releases are of master.

Additionally you need some type of sync step in your Ansible script to wait for crds to register.

Cheers
-steve

[2019-03-25 18:40] esnible opened #12761 "Gateway sample invalid and makes Ingress go stale"
To reproduce: obtain the `my-gateway` sample from https://istio.io/docs/reference/config/networking/v1alpha3/gateway/ and replace the namespace with `default` and the selector with `istio: ingressgateway`.  Do a `kubectl apply -f` against it.

After this, `istioctl proxy-status` reports LDS is `STALE (Never Acknowledged)`

This is because the sample uses
[code]

Istio can't validate this, so it al

[2019-03-25 18:43] zimmertr commented on #12535
The syncing of the CRDs is addressed by:
[code]

The shell module will instruct Ansible to report a failure unless all of the manifests apply successfully. This attempts an apply, fails, waits 60 seconds, attempts another apply, etc. Until all have succeeded.

As for the galley image being the nightly release, I'm unsure why that is happening as well. It doesn't seem like user error though unless

[2019-03-25 18:43] Stono commented on #12759
Dupe of https://github.com/istio/istio/issues/11818

[2019-03-25 18:43] #12759 closed

[2019-03-25 18:45] sdake commented on #12535
@zimmertr CRD application is asynchronous, therefore, it is possible to report a result of success while the CRDs are not yet committed to the API server.  I believe this is being resolved in 1.14, but it is still racey at this time.

It is difficult to say why this is happening in your case.  your manifest clearly states 1.1.0 for images, yet your running master images.

[2019-03-25 18:51] sdake commented on #12535
Here are the results of the GetIstio shell step:

[code]

This downloads istio 1.1.0 to $HOME/istio-1.1.0.  In this case, the Ansible is running helm template against files in /tmp.  My guess is the files in /tmp contain the master-latest-daily images.
[code]

Cheers
-steve

[2019-03-25 19:06] zimmertr commented on #12535
As I'm sure you know the curl command is downloading to your home directory because you're currently within that directory. My Ansible command instructs curl to download to `/tmp` by first changing into that directory.

[code]

[2019-03-25 19:09] zimmertr commented on #12535
I just reran everything from scratch and it looks like 1.1.0 was deployed instead of latest. And everything is stable. I guess this was user error somehow after all. Thank you for your help in troubleshooting this.

[2019-03-25 19:12] Stono commented on #12760
or 418, naturally.

[2019-03-25 19:14] sdake commented on #12535
@zimmertr it would be great to get to a root cause, but if your running, that is a good first step.

Cheers
-steve

[2019-03-25 19:16] sdake commented on #12535
@kylebevans problem is not yet resolved.  This OPs problem may be different than @zimmertr.

[2019-03-25 19:18] kylebevans commented on #12535
This was my mistake. My istio.io repo was installed with this as the url: https://storage.googleapis.com/istio-prerelease/daily-build/master-latest-daily/charts

I changed it to: https://gcsweb.istio.io/gcs/istio-release/releases/1.1.0/charts/
and that seems correct.

[2019-03-25 19:20] sdake commented on #12535
@kylebevans we have work in progress to improve the docs here.  In the past the docs may have indicated istio-prerrelease for preliminary, while instead the release docs may not mention the helm location at all.

Thank you for your contributions in helping us sort out this problem.

Cheers
-steve

[2019-03-25 19:20] #12535 closed

[2019-03-25 19:21] ozevren commented on #12754
I think some of the failures are not obvious:
https://storage.googleapis.com/istio-prow/logs/istio-integ-k8s-tests/5510/build-log.txt
This is a prow failure that is due to the mtls_healthcheck, but Prow is showing Mixer tests as failed for this run:
https://k8s-testgrid.appspot.com/istio-postsubmits#integration-k8s-tests
(Run 5510)

[code]

[2019-03-25 19:28] incfly commented on #12754
If I read logs correctly, mixer tests are also failing at the istio deployment

[code]

[2019-03-25 19:32] Stono commented on #10279
Not stale!  Still have this with 1.1.0 and would love understand why the high CPU usage.  Seems to defiantly correlate to the size of the requests/responses so i'm still thinking this is encryption overhead/mtls perhaps?

[2019-03-25 20:04] Stono opened #12764 "Envoy stats around connections"
Hey,
We're trying to get some increased visibility into the load balancing of traffic on the mesh, in particular we want to observe changes by enabling [locality aware routing](https://github.com/istio/istio.io/pull/3593/files).

We used to be able to get the following metrics from envoy:

  - `downstream_cx_total`
  - `downstream_cx_active`
  - `downstream_rq_total`
  - `downstream_rq_active`

Bu

[2019-03-25 20:23] douglas-reid commented on #12764
@Stono yup. a large number of envoy stats were disabled by default (in an effort to reduce memory consumption, as well as duplication). it was _intended to_ be possible to change the exposed stats, but you'll need to be careful to include all the ones that Istio uses for health checking etc.

More work is needed here to fix it up. See: https://github.com/istio/istio/pull/11398, https://github.com/

[2019-03-25 20:36] jericks-duo commented on #12738
I'd like to add that I experienced this as well. For me, adding destinationrules in `foo` and `bar` namespaces doesn't work, but adding one in `istio-system` works.

I was getting
[code]
in the logs, if that helps.

[2019-03-25 21:22] gotwarlost opened #12765 "istio 1.1.1 : envoy proxies keep dying when there are ~600-700 TCP services in a cluster"
**Describe the bug**
We upgraded one of our larger clusters to `istio 1.1.0` from `1.0.6`. This caused all envoy proxies to thrash, constantly reloading with the message `Epoch 0 terminated with an error: signal: killed`.

Context: We are trying istio http for a few services but the cluster has a lot of older services (~650) that do not have an `http` prefix and so are being treated as TCP service