[2018-08-15 19:53] shalako commented on #1430
Another use case for UDP support: https://www.eclipse.org/hono/

[2018-08-15 19:53] ajaymandvekar commented on #7946
CN field of the certificate containing IP address or FQDN.

Yes

_**More context:**_
One of our goals is to use Istio's mTLS security solution across all components deployed in the internal infrastructure (mostly VM). However, certain components like Cassandra have technical challenges if proxied through Envoy. In such cases, we need to fall back on the native TLS support provided by the applicati

[2018-08-15 20:14] kyessenov commented on #7841
@ldemailly This is true, see https://github.com/istio/istio/pull/7545. There are two parallel efforts. The challenge with API is running the sync. There is no sync necessary for proxy.

[2018-08-15 20:41] mandarjog commented on #7817
@liamawhite I think these issue are very much related.
The following logs show that 503 returned by `ing` ingress gateway actually was returned by `api` sidecar.
A missing `RESPONSE_FLAG = "-"` and a 503 indicates a missing cluster or perhaps empty cluster.

[code]

[2018-08-15 20:44] rsnj commented on #7672
#7675

[2018-08-15 20:49] liamawhite commented on #7817
Here are some logs from one of my longer waits (around 15 mins)

[code]

[2018-08-15 20:50] #7153 closed

[2018-08-15 20:53] liamawhite commented on #6518
@MorrisLaw How is progress? Do you need any help?

[2018-08-15 21:00] liamawhite commented on #7478
OK, so I fixed this by reading another issue which I cannot find.

TL;DR the certs require the service account for the injector to not change from the chart default.

[2018-08-15 21:00] #7478 closed

[2018-08-15 21:12] PiotrSikora commented on #7679
@andraxylia I thought the plan for 1.0.1 was to only strip `X-Forwarded-For`, since we don't have `externalTrafficPolicy: Local` merged yet (see: https://github.com/istio/istio/pull/7918), so the info there is pretty useless.

[2018-08-15 21:29] gargnupur commented on #7672
#7944

[2018-08-15 21:35] vilobhmm commented on #7946
+1 @ajaymandvekar

[2018-08-15 21:53] vinayvenkat commented on #6490
@guptasu @mandarjog I'm going to close this and I'll open a new ticket on Istio debugging.

[2018-08-15 21:53] #6490 closed

[2018-08-15 21:56] MorrisLaw commented on #6518
Hey @liamawhite I should be making a PR soon. I've just noticed your response on rocket chat, I'm usually on slack and admittedly don't use rocket chat often. So I didn't notice your response until today. But based on what you've said, I think I have a better idea of the task now. Thank you!

[2018-08-15 22:02] vinayvenkat opened #7952 "Debugging Custom Istio Adapter"
**Describe the bug**
<sub><sup>Currently there is no documentation to help debug custom Istio (mixer) adapters</sup></sub>

**Expected behavior**
<sub><sup>It would be great to have a prescribed document on how to debug custom adpaters for the following scenarios:
1. Local development. (This exists)
2. Run the Mixer, ie. policy and telemetry containers independently and then be able to run check a

[2018-08-15 22:02] vinayvenkat commented on #7952
@guptasu @mandarjog Can you please help. I've been stuck on this for close to a month.

[2018-08-15 22:13] douglas-reid commented on #7952
What does your config proto look like?  And have you run the required generation steps, etc.?

[2018-08-15 22:27] mandarjog commented on #7817
@markns can you update `kubectl --namespace istio-system edit cm istio`
and set
`disablePolicyChecks: true` and restart pilot.

istio-policy is not available from time to time in your cluster, and that will also cause 503.
There are other issues going on here too, however I would like to isolate it first.
Thanks.

[2018-08-15 22:28] vinayvenkat commented on #7952
I followed all the steps outlined in: https://github.com/istio/istio/wiki/Mixer-Compiled-In-Adapter-Walkthrough

When I test it locally it works. (with the mixs and mixc)
However, when I push it to a running Istio deployment I get the errors shown above.

My config.proto is:

syntax = "proto3";

package adapter.mysampleadapter.config;

import "google/protobuf/duration.proto";
import "gogoproto/gog

[2018-08-15 22:28] douglas-reid commented on #7823
For the most part, Istio has provided relatively simple example configurations and deployments for the add-ons (such as Prometheus). We have not attempted, to-date, to focus on improving the robustness or general scalability of the add-ons. That being said, we would love to have community contributions around this issue.

For Prometheus itself, there is a FAQ about running HA prometheus here: http

[2018-08-15 22:32] douglas-reid commented on #7952
I'm confused. Your config.proto doesn't show any `metrics` field. Shouldn't it include a `metrics` field for this all to work?

[2018-08-15 22:35] douglas-reid commented on #7773
Are you certain that your service was receiving traffic?  Was your workload kube-injected?  Did you see any traffic to the underlying workloads (in the workload dashboard)?

Have you consulted the operations guide for telemetry: https://istio.io/help/ops/telemetry/ ?

[2018-08-15 22:49] mandarjog commented on #7817
Correction from earlier observation.
The `503` without a `RESPONSE_FLAG` is actually a istio-policy not available error

[code]

[2018-08-15 22:59] mandarjog opened #7958 "Mixer: Long delay between start and ready"
The following log shows 30s between config load and "started listening" message.

[code]

`/version` endpoint is available long before this.

[2018-08-15 23:02] mandarjog commented on #7958
Config of the running container
[code]

[2018-08-15 23:05] vinayvenkat commented on #7952
I was approaching this in a phased manner. As I mentioned, I followed the custom adapter walkthrough example. And following got me to the point of running the mixs and the mixc and I could see my adapter being invoked.
My assumption was that if I built the mixer and updated the mixer policy and telemetry pods with my new image and if I ran some traffic against my app with all the right configs (th

[2018-08-15 23:29] mandarjog opened #7959 "Proxy should indicate Mixer not available in RESPONSE_FLAGs"
At present If Mixer (istio-policy) is not available, then we get
`[2018-08-14T09:26:52.187Z] "GET /apis HTTP/1.1" 503 - 0 69 4 - "10.132.0.3" "FxVersion" "bae0a141-3e55-9240-9074-8429433ffc32" "mysvc" "-"`

Both `UPSTREAM_HOST` and `RESPONSE_FLAGS` are empty.

Mixer client should record the reason in RESPONSE_FLAGS

- [x] At present use `UNAUTHORIZED_EXTERNAL_SERVICE` response flag
- [ ] Add `UNAV

[2018-08-15 23:30] mandarjog commented on #7959
/cc @qiwzhang

[2018-08-15 23:40] myidpt commented on #7946
For Citadel to support CN containing IP or FQDN:
1. We do support putting the SPIFFE ID in CN with https://github.com/istio/istio/issues/7153.
2. How do you provision identities for the certs. Is the FQDN mapped from k8s service accounts/namespaces/service name or specified through other ways? Is the IP address the pod's IP address?
For Envoy side car to support validating CN:
Opened issue on Envo

[2018-08-15 23:55] #1487 closed

[2018-08-16 00:00] nmittler commented on #7852
@costinm so is this a dup of another issue then?

[2018-08-16 00:02] nmittler commented on #7873
@douglas-reid do we have an owner for this?

[2018-08-16 00:03] nmittler commented on #7912
@PiotrSikora I've assigned to you for now ... feel free to re-assign as appropriate.

[2018-08-16 00:18] nrjpoddar commented on #7793
@frankbu that's an interesting scenario. In my opinion the proposal here and the VirtualService delegation are both needed and are not exclusive. Convention based merging is great for path prefix matches and as @louiscryan pointed out for systems like let's encrypt, ingress which only require add/delete semantics.

For more complicated merging, delegation makes sense as it assigns a user defined p

[2018-08-16 00:43] mandarjog commented on #7817
The amount of cpu allocated to istio-policy is very low (10m) we will up that to 1000m for any production installation

[2018-08-16 00:53] douglas-reid commented on #7873
@nmittler not really. Istio doesn't really have a story for containers/processes we don't own. We are working towards a joint solution for replacing the need for this piece, but we don't have any  short-term fixes for the issue planned.

Interestingly, there is this issue on the source repo: https://github.com/prometheus/statsd_exporter/issues/76. The original suggestion there is to run an instanc

[2018-08-16 00:54] kyessenov commented on #7958
Between lines:
[code]
and
[code]

[2018-08-16 00:55] #4249 closed

[2018-08-16 00:56] kyessenov commented on #7958
@ozevren -- is there any blocking in the construct of store/runtime on top of your head?

[2018-08-16 00:59] douglas-reid commented on #7952
I'm not sure I follow your plan -- my apologies.

If you have istio config for your handler (you've `kubectl apply -f`'d some YAML) and it has config for `metrics` (as appears), then this cannot work unless you add a field to your config proto for `metrics` of the correct type, etc.

Please post your handler config here for confirmation.

Picking an adapter at random, we'll use `circonus` to expla

[2018-08-16 00:59] kyessenov commented on #7958
OK, this is actually happening on master on my local machine. Clearly a regression...
[code]

[2018-08-16 01:06] kyessenov commented on #7958
Seems to be caused by lack of some CRDs:
[code]

[2018-08-16 01:09] kyessenov commented on #7958
/assign @ozevren

We should not be spending 30s in call to `Init` in galley. Can we drop this whole "check for existence" of CRDs before `Run`?

[2018-08-16 01:13] louiscryan commented on #7793
I agree with @nrjpoddar here. Delegation would be within the context of a match expression which naturally implies an AND with the matches in the specification being delegated to. Note that the AND can be elided if the outer condition is a strict subset of the inner one, in the case of paths this works pretty well. E.g. outer path match is '/sales' and delegated match is '/sales/advertising'

[2018-08-16 01:42] sdake commented on #7675
@douglas-reid any ideas on the liveness probe timeout or further debug?  Just sluggish responsiveness on the network?  A slew of people are suffering from this problem.

Cheers
-steve

[2018-08-16 01:56] hklai commented on #4235
Still fails
E.g. https://circleci.com/gh/istio/istio/158967

[2018-08-16 02:03] #4247 closed

[2018-08-16 02:11] hklai commented on #7820
/CC  @salrashid123

I think we need to update this line for every LTS release.
https://github.com/istio/istio/blob/master/install/gcp/deployment_manager/istio-cluster.yaml#L20

However, I see some more substantial change in the past (e.g. https://github.com/istio/istio/commit/9d406f0fdb9a7de20b227cd064dc894306069cba#diff-d764556de0ab3729c898977dd8b12ab2) and I don't think we can automate more than

[2018-08-16 02:41] kyessenov commented on #7958
@mandarjog Do you mind providing `kubectl get crds`.

[2018-08-16 02:44] rkpagadala commented on #7943
@lei-tang @sdake Why is this important to go in 1.0.1? Why can't this go in 1.1?

[2018-08-16 02:46] lei-tang commented on #7943
@rkpagadala this is important because the older version does not have the security fixes in the latest version.

[2018-08-16 02:52] mingweiLIU commented on #7583
Wow, thanks, it works for me. Then what's the difference of disable validation or not?

[2018-08-16 03:31] hklai commented on #5115
If there is no API, we will have to do it manually for each LTS release, and I suspect we should not need it for patch releases (hence the 0.7.1 example should not apply).

[2018-08-16 03:33] lei-tang commented on #7943
An update to this issue: I have created the PR https://github.com/istio/istio/pull/7945 to fix this issue by updating the grafana used by Istio to the latest grafana version 5.2.2.  I have included two screenshots in https://github.com/istio/istio/pull/7945:  the first screenshot shows the upgraded grafana version 5.2.2 and the second screenshot shows the Istio service traffic in the dash board of

[2018-08-16 03:34] hklai commented on #6267
Are we still going to pursue this?

[2018-08-16 03:38] hklai commented on #6237
Looks like this has been fixed?
https://circleci.com/gh/istio/istio/159085

[2018-08-16 03:38] #6237 closed

[2018-08-16 03:44] rkpagadala commented on #7672
Everybody please don't forget to create your PR both in release-1.0 branch and master branch. There will not be a merge by the release team.

[2018-08-16 03:48] chanjarster opened #7963 "Tracing is not caught if traffic is from k8s nginx ingress"
**Describe the bug**

Doesn't catch tracing if request is from k8s nginx ingress: **k8s nginx ingress** -> **service**

But tracing can be caught if request if from within cluster: **pod in namespace A: curl svc-b.namespaceB.svc.cluster.local** ->

**Expected behavior**

Tracing can be caught if request is from k8s nginx ingress: **k8s nginx ingress** -> **service**

**Steps to reproduce the bug**

[2018-08-16 03:52] namsoila commented on #5829
@christian-posta I ran the following `kubectl apply -f <(istioctl proxy-config route istio-ingressgateway-aa000000a-aa0aa -n istio-system -o json | grep require)' with a pod value and received:
[code]

[2018-08-16 04:03] #3879 closed

[2018-08-16 04:04] namsoila commented on #5829
@christian-posta Everything otherwise is running in the pod:
[code]

[2018-08-16 04:33] mandarjog commented on #7958
[code]

[2018-08-16 05:03] #3939 closed

[2018-08-16 05:15] namsoila commented on #5829
@christian-posta  Here is the output of `istioctl proxy-config route istio-ingressgateway-aa00000a-aa0a -n istio-system -o json`.
[code]

[2018-08-16 06:03] ldemailly commented on #3879
stale bot, the real mvp :)
[more seriously it's quite sad to see all those issues getting auto closed whether or not they are resolved]

[2018-08-16 06:27] dotw commented on #6966
hello guys,
Was this bug fixed in 1.0? I have tried the sample but no lucy. I'm wondering we have fixed the bug or not in 1.0.

[2018-08-16 06:29] chanjarster opened #7964 "Istio give `x-forwarded-proto=http` to upstream server when using SSL termination"
**Describe the bug**

Istio give `x-forwarded-proto=http` to upstream server when using SSL termination.

**Expected behavior**

Istio give `x-forwarded-proto=https`

**Steps to reproduce the bug**

1. Deploy a nginx with SSL termination on a domain, change `<your domain name>`, [config file][1]
1. Deploy an `echo-server` app, see yaml file below, change `<your domain name>`, [config file][2]
1. `

[2018-08-16 06:30] git-duzhengjie opened #7965 "no healthy upstream"
**Describe the bug**
<sub><sup>I create the sample bookinfo , but when i visit it , i get the message 'no healthy upstream'</sup></sub>

**Steps to reproduce the bug**
<sub><sup>At first , i can visit it , it comes out when i remove the istio and install it again</sup></sub>

**Version**
<sub><sup>istio version:1.0.0
kubernetes version: 1.9.1
</sup></sub>

**Is Istio Auth enabled or not?**
<sub><s

[2018-08-16 06:36] dotw commented on #6966
by the way, how to check the logs?

[2018-08-16 06:46] namsoila commented on #7843
Thanks @shettyh. Will check out.

[2018-08-16 07:11] Stono commented on #7817
FYI we saw these 503's too and istio-policy on our cluster has more than the defaults allocation:

<img width="1362" alt="screen shot 2018-08-16 at 08 10 59" src="https://user-images.githubusercontent.com/1486729/44193795-ef953980-a12b-11e8-87be-c06db124f32d.png">

[2018-08-16 07:44] salrashid123 commented on #7820
yeah, the current DM template looks for the version specified in the schema values here as ```installIstioRelease```

* [istio-cluster.jinja.schema](https://github.com/istio/istio/blob/master/install/gcp/deployment_manager/istio-cluster.jinja.schema#L46)
* [istio-cluster.yaml](https://github.com/istio/istio/blob/master/install/gcp/deployment_manager/istio-cluster.yaml#L20)

and then downloads that

[2018-08-16 08:00] Stono opened #7968 "Traces are not being sampled, every request is sent to jaeger"
**Describe the bug**
It became apparent today during some load testing that every request is being sampled to Jaeger.  One of our tests was doing 100 requests/second and every single one had `x-b3-sampled`, and they all appeared in Jaeger.

[code]

**Expected behaviour**
Configurable, or sensible default behaviours where this isn't the case, as under any sort of production load we quickly dos jaeg

[2018-08-16 08:14] markns commented on #7817
Hi guys, here's a log of a few tests I've been doing this morning.

TLDR - When `disablePolicyChecks: false` connections start return 503 (at ingress-gateway) after 5 minutes.

`disablePolicyChecks: true` - connections are fine.

Most of the log is not useful, scroll down to `Interesting bit here ↓↓↓`

[code]

[2018-08-16 09:07] chanjarster commented on #7968
@Stono I think [Trace sampling][1] can help you

[1]: https://istio.io/docs/tasks/telemetry/distributed-tracing/#trace-sampling

[2018-08-16 09:18] Stono commented on #7968
Ahh brilliant @chanjarster - i totally missed that documentation.  Will give it a go now.

[2018-08-16 09:28] Stono commented on #7968
OK the issue appears to be in ingress-nginx now, not istio https://github.com/kubernetes/ingress-nginx/issues/2949 so i'll close this!

[2018-08-16 09:28] #7968 closed

[2018-08-16 10:46] olegchorny commented on #7586
@ChrisPei I've tried the latest daily build where is some fixes were added already, unfortunately, galley still not stable yet.

[2018-08-16 11:17] dunjut opened #7976 "Automatically synchronize between secrets and istio-ingressgateway certs"
**Is your feature request related to a problem? Please describe.**

Currently istio-ingressgateway only supports tls certificates through volume mount at deploy time. Adding new certificates requires editing and re-deploying the ingress-gateway pod (as discussed in [issue#7658](https://github.com/istio/istio/issues/7658))

**Describe the solution you'd like**

One way to dynamically adding certifi

[2018-08-16 11:30] markns commented on #7817
Here's a new output from dump_kubernetes.sh after:
- reducing the number of application services from ~55 -> ~15
- restarting nodes in the cluster.

Interesting path is `istio-system/istio-ingressgateway -> mns/apiproxy`.

Everything was working up until the `mns/welcome-to-gridarrow` pod was restarted at ~11.11 AM. After this you can see in the ingressgateway logs that the connection to `mns/apip

[2018-08-16 13:02] JCzz opened #7979 "How to get "istio-ingressgateway" open ports"
**Describe the bug**
I am trying to get gRPC to work, and I found that I need to open a specific port via helm `values.yaml`

Now how can I see if the port is actually open?

I tried:
`kubectl get svc --all-namespaces -o go-template='{{range .items}}{{range.spec.ports}}{{if .nodePort}}{{.nodePort}}{{"\n"}}{{end}}{{end}}{{end}}'kubectl get svc --all-namespaces -o go-template='{{range .items}}{{rang

[2018-08-16 13:06] mingweiLIU opened #7980 "How expose and route grpc services?"
I want to expose and route grpc services with gateway, however the grpc client could not access the service. The yaml files I used are:
Deploy.yaml

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: ast-deploy
  namespace: one
  labels:
    one: ast
spec:
  replicas: 2
  selector:
    matchLabels:
      one: ast
  template:
    metadata:
      labels:
        one: ast
    spec:

[2018-08-16 13:37] yurygoncharuk commented on #7907
Please close the issue.
It was bug in old version of flannel plugin

[2018-08-16 13:37] #7907 closed

[2018-08-16 14:49] Rajadeepan opened #7982 "Helm Charts: BookInfo Application example not working with mixer disabled"
**Describe the bug**
<sub><sup> As per the istio documentation the istio can work with minimal components(https://istio.io/docs/concepts/policies-and-telemetry/). Trying to test the BookInfo Application  deploying istio with disabling mixer . It is giving connection refused error.
(Tested the BookInfo application  deploying istio with all the components it works fine.)
Have used Helm for installat

[2018-08-16 15:13] dozer47528 opened #7984 "Application can not report to jaeger"
**Describe the bug**
My java code:

    Class.forName("com.mysql.jdbc.Driver");
    HikariConfig config = new HikariConfig();
    config.setJdbcUrl("jdbc:tracing:mysql://my-db:3306/my-db");
    config.setUsername("user");
    config.setPassword("pwd");
    config.setDriverClassName("io.opentracing.contrib.jdbc.TracingDriver");
    HikariDataSource ds = new HikariDataSource(config);

    // some db

[2018-08-16 15:17] Viali commented on #7583
@ayj Thanks... any suggestion if I used "kubeadm" to install K8S, and "kubectl apply" to install Istio ?

[2018-08-16 15:55] ijsnellf commented on #7982
@Rajadeepan: did you install istio using helm? Can you provide the command you used to install istio?

[2018-08-16 16:05] rshriram opened #7985 "Use go-control-plane/master instead of custom branch"
There was some grpc update in go-control-plane and its incompatible with rest of Istio code base (some gogo vodoo). As a result, we are stuck with go-control-plane:revert-grpc-update branch. We need to do the proper fix ups and move to go-control-plane:master, so that we can start getting the updates from Envoy in Pilot.

cc @kyessenov (who did the gRPC update thing in go-control-plane) / @mandarj

[2018-08-16 16:09] kyessenov commented on #7985
Seems like we need a conversation on the project-level tasks. At some point we need to update all libraries, including kubernetes APIs. Should this belong to test & release group?

@hklai Thoughts?

[2018-08-16 16:13] ijsnellf commented on #7979
You can specify what ports the ingressgateway listens on via the ingressgateway gateway definition. Exposing these ports to traffic from outside your cluster is a separate step. For example, in minikube, you can use a [NodePort](https://kubernetes.io/docs/concepts/services-networking/service/#nodeport).

[2018-08-16 16:15] mandarjog commented on #7817
The root cause is mixer (istio-policy) taking 30s to start and there was no readiness check.
Mixer took that long to start because it waits for up to 30s for all configuration “kinds” to show up, we are changing that logic now and also adding readiness check.

Also the task of which change from 1.0.0 caused this problem remains incomplete.
Potentially mixer started watching for a new kind or and o

[2018-08-16 16:18] ijsnellf commented on #7965
What does the output of `kubectl get po --all-namespaces` look like? For pods which are in a non-running state, what does the output of `kubectl describe po <pod>` look like? Are there errors or warnings in the logs of pods in the `istio-system` namespace?

[2018-08-16 16:27] rshriram commented on #7793
why cna't the delegation be done as part of pre-processing? After all, its just a construct to reduce the repeated configuration. ITs not something that influences runtime routing. A galley plugin could read in the virtual services with delegation and spit out the final processed virtual service without delegation. Will simply the code inside pilot as well. And allows for people to turn this on de

[2018-08-16 16:28] ijsnellf commented on #7963
I would expect the request reaching service to be recorded, but not the handling of the request in the k8s nginx ingress controller.

cc @kyessenov

[2018-08-16 16:30] ijsnellf commented on #7964
cc @rshriram

[2018-08-16 16:35] ijsnellf commented on #7931
cc @rshriram @ZackButcher

[2018-08-16 16:38] markns commented on #7817
Seems strange that istio-policy start up time would cause the ingress-gateway/services to start returning 503s when another pod is restarted, even after it (istio-policy) has been running for > 10 minutes.

But, I'm keeping all my fingers crossed! (Which makes it difficult to type ;))

[2018-08-16 16:44] ijsnellf commented on #7925
https://github.com/istio/istio/tree/master/mixer/tools

[2018-08-16 16:51] ayj commented on #7586
I had to decouple the health check and reconciliation updates to make this work on AKS (see https://github.com/istio/istio/pull/7986). I ran this overnight and didn't see any pod restarts.

[2018-08-16 16:56] ijsnellf commented on #7908
Could you please add more detail to your issue? How you know and what you expected?

[2018-08-16 17:02] ijsnellf commented on #7896
Please provide your config, your expected behavior and your observed behavior.

[2018-08-16 17:03] #6206 closed

[2018-08-16 17:05] ijsnellf commented on #7888
`sdsRefreshDelay` is no longer used, so it can be removed from your configuration.

[2018-08-16 17:07] ijsnellf commented on #7909
Similar issues reported elsewhere:
https://github.com/istio/istio/issues/7843
https://github.com/istio/istio/issues/7980

[2018-08-16 17:08] quanjielin commented on #7888
it will be used by SDS, implementation code is in ```collab-gcp-identity``` branch, which will be merged into master very soon.

[2018-08-16 17:25] rshriram commented on #7843
You have to expose additional ports in the Istio gateway service definition. It is exposing ports 80, 443 and 31400 only. The service definition in in the helm charts. Or modify the helm chart to add more ports to the gateway

[2018-08-16 17:26] rshriram commented on #7843
Also, set the protocol to HTTPS. (Envoy does HTTP1/Http2 out of the box for you. You don't have to specify that protocol explicitly for user facing gateway)

[2018-08-16 17:26] ayj commented on #652
Yes, I would recommend you use `kubectl` to manage your Istio resources.

[2018-08-16 17:36] louiscryan commented on #7878
@Stono For context. We believe we have optimized the CPU & garbage collection aspects of Pilot so that it has a significantly lower overhead, thereby making working with HPA less of a priority. Hence the priority of P1 instead of P0.

[2018-08-16 17:43] liamawhite commented on #7817
@mandarjog Pretty sure this is not my root cause, I have policy check disabled:

[code]

[2018-08-16 17:44] MaikJaek commented on #652
Many thanks for your quick response @ayj !

[2018-08-16 17:48] danehans opened #7990 "Add OCSP Certificate Revocation Support"
**Is your feature request related to a problem? Please describe.**
<sub>Yes, Istio does not support OCSP for certificate revocation checking.</sub>

**Describe the solution you'd like**
<sub>Support X.509 certificate revocation using OCSP. Istio may support other means of checking for revocation in addition to OCSP. Istio should skip OCSP for certificates validated using DANE/DNSSEC. Support OCSP

[2018-08-16 18:06] mandarjog commented on #7817
Just to confirm, @liamawhite is using `1.0` release build, not 1.0.1 build. It is possible that earlier pilot slowness issues are causing problems that you are seeing.

[2018-08-16 18:07] rkpagadala commented on #7746
@ayj can this be closed since the PR has been merged? Also please make create a PR for master branch if this is not in that branch already.

[2018-08-16 18:08] #7746 closed

[2018-08-16 18:40] liamawhite commented on #7817
Just confirmed I'm seeing the same with the latest nightly build.

[2018-08-16 18:40] bianpengyuan commented on #7936
@markns Do you have multiple adapters that simultaneously send data to Stackdriver?

[2018-08-16 18:47] Stono commented on #7878
@louiscryan that makes sense

[2018-08-16 18:59] asudhakarreddy commented on #7896
Steps to reproduce:
-------------------------

1. deploy k8s cluster using kubeadm (on premises)

#From the k8s master, execute below steps
2. Configure helm

3. Download and install Istio using helm
$ curl -L https://git.io/getLatestIstio | sh -
$ cd istio-1.0.0

$export PATH=$PWD/bin:$PATH

4. Install CRDs
$ kubectl apply -f install/kubernetes/helm/istio/templates/crds.yaml

5. Install istio
$ h

[2018-08-16 19:14] ayj commented on #7878
[Incremental xDS](https://github.com/envoyproxy/data-plane-api/blob/master/XDS_PROTOCOL.md#incremental-xds) may help here if Pilot uses consistent per-resource versioning.

[2018-08-16 19:16] ayj commented on #6481
https://github.com/istio/istio/pull/7881 adds mTLS support with a basic list ACL using pod identity.

[2018-08-16 19:31] Stono commented on #7817
@mandarjog not easily, no - the preprod cluster that this manifested on is being used to dev+test a bunch of critical work at the moment so I can't risk disrupting them.  Sorry

[2018-08-16 19:33] mandarjog commented on #7817
Ok, a fix for the mixer issue will be in the next build.

[2018-08-16 19:34] Stono commented on #7817
Brill, when you think you've got something working - let me know!

[2018-08-16 19:54] geeknoid opened #7997 "Eliminate https://github.com/istio/api/tree/master/common/v1alpha1"
**Describe the bug**
We've recently added https://github.com/istio/api/tree/master/common/v1alpha1 as a stand-alone proto, and it doesn't really fit how we've been organizing protos to date. It looks silly in our docs (https://preliminary.istio.io/docs/reference/config/istio.string.v1alpha1/)

Let's combine this proto with whatever place is trying to use it, instead of having this in a separate fi

[2018-08-16 19:54] geeknoid commented on #7997
@rshriram FYI

[2018-08-16 20:06] douglas-reid commented on #7675
@sdake unfortunately, I don't have any real insight on the liveness probe timeouts (or why that would impact the k8s dashboard or tiller. I have not experienced these issues on my test clusters.

One thing to try, perhaps, is giving `istio-policy` and `istio-telemetry` more CPU and see if that resolves OOM issues (this came up in this week's WG meeting).

@mandarjog any thoughts?

[2018-08-16 20:13] douglas-reid commented on #7734
I'd be cautious about suggesting that the solution is "simple". Mixer operates in multiple modes (check/quota v. report). Dropping requests may or may not be acceptable depending on the mode and backend requirements (billing systems v dashboards). Reducing the overhead of handling requests, to the extent that is possible, sounds like a good idea.

It is worth noting that the Prometheus server's pe

[2018-08-16 20:38] Stono commented on #7776
Have you enabled opentracing (zipkin) in ingress-nginx?

[2018-08-16 20:40] rshriram commented on #5815
I think around 60s for h1, perpetual (or upto 1024 requests) for h2, and perpetual for tcp.

[2018-08-16 21:05] andraxylia commented on #7679
@PiotrSikora the agreement was to have a flag for edge proxy, on by default, and to strip only for edge proxies. This way, when externalTrafficPolicy is fixed, we don't need to revisit this issue anymore, it will just work.

[2018-08-16 21:07] yangminzhu commented on #7997
It's currently only used in [policy.proto](https://github.com/istio/api/blob/168b2a7df6df30c4ff01cdbad156a22ed56cc1d2/authentication/v1alpha1/policy.proto#L175), I'll move it to that file.

/cc @diemtvu

[2018-08-16 21:32] kyessenov opened #8002 "TestLocalPilot is flaky"
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/8000/istio-unit-tests/11675/

/assign @nmittler @ozevren

[2018-08-16 21:37] kyessenov opened #8003 "helm: missing CRDs for dogstatds and cloudwatch"
Helm install is missing CRDs for two mixer adapters.

[2018-08-16 21:42] douglas-reid commented on #6741
@nmittler no worries. as soon as the PR gets the LG/Approval, it can be merged.

[2018-08-16 21:46] #7958 closed

[2018-08-16 22:03] #2920 closed

[2018-08-16 22:25] douglas-reid commented on #8003
This indicates to me that we probably should consider a better way for controlling inventory and requested adapter CRDs.

If I have no intention of using dogstatsd and cloudwatch, why would I want CRDs in my cluster for them?

At the very least, we need to consolidate down to ~3 CRDs, instead of having one per adapter.

[2018-08-16 22:33] #7997 closed

[2018-08-17 00:00] mandarjog commented on #7817
@liamwhite, the issue that you are observing is independent of the istio version.
You have seen it in both 1.0.0 and 1.0.1-pre.

The problem I see so far is that the kubernetes event is delivered much later than expected.
For example from the logs I see that the pod `registry-broadcaster-d79f8f6-s9j2b` came up at [2018-08-16 18:19:43.813] , but kubernetes event that added it to the service
[code]

[2018-08-17 00:03] #3385 closed

[2018-08-17 00:10] ZackButcher commented on #7793
I agree in principle with Shriram here: there's not one obviously best way to merge VS clauses.vThe general problem is that while HTTP may be "simple" enough (in practice it remains to be seen given we support matching on things like port, gateway, etc), other protocols aren't necessarily. Defining merge semantics per-protocol is going to be a real drag.  In my opinion the right thing for us to do

[2018-08-17 00:16] MorrisLaw commented on #7757
I'm still working on this btw. Just having some trouble running these tests locally @diemtvu

[2018-08-17 00:47] git-duzhengjie commented on #7965
all pod is running in the namespace istio-system ,but a pod named "istio-sidecar-injector" goes some wrong."Liveness probe errored: rpc error: code = DeadlineExceeded desc = context deadline exceeded" and "Readiness probe errored: rpc error: code = DeadlineExceeded desc = context deadline exceeded" are the messages in the described info.What does it mean?@ijsnellf

[2018-08-17 01:10] dozer47528 commented on #7984
@objectiser

        env:
        - name: JAEGER_AGENT_HOST
          value: "jaeger-agent.istio-system"
        - name: JAEGER_AGENT_PORT
          value: "6831"
        - name: JAEGER_REPORTER_LOG_SPANS
          value: "true"

I can get the value from Application.

![image](https://user-images.githubusercontent.com/1676951/44242644-369f2f80-a1fd-11e8-9e92-70a47345dea9.png)
And here is a wierd t

[2018-08-17 01:18] rokii commented on #5752
Is this fixed ?

[2018-08-17 01:22] gitfool opened #8008 "Inconsistent istioctl proxy-status and proxy-config namespace behaviour"
**Describe the bug**

`istioctl proxy-status` and `istioctl proxy-config` seem to use namespaces differently.

**Expected behavior**

I expect them both to work with global flags (`-n` or `--namespace`) specifying the config namespace.

**Steps to reproduce the bug**

Using `istioctl proxy-status` the namespace needs to be specified as part of the pod name:
[code]
Using `istioctl proxy-config` the

[2018-08-17 01:30] incfly opened #8009 "Merge collab-gcp-identity back to master"
If we merge directly, there're be lots of unintended conflicts. This is because https://github.com/istio/istio/pull/7305 uses a `squash merge` instead of the `commit merge` which preserves the original commits history.

To address this, we should:

1. Revert https://github.com/istio/istio/pull/7305
1. Re merge master into `collab-gcp-identity` using **commit merge**.
1. Merge `collab-gcp-identity`

[2018-08-17 01:54] csyszf commented on #7776
Nope, I thought the proxy sidecar would be able to do the tracing work.

[2018-08-17 02:47] vadimeisenbergibm commented on #7672
https://github.com/istio/istio/pull/8015

[2018-08-17 03:33] gitfool commented on #5379
For comparison, following is the proxy log from the app pod that starts successfully:
[code]
The successful DNS lookup happens at startup:
[code]
And this is used when "loading stats sink configuration":
[code]

[2018-08-17 04:04] bali2016 opened #8018 "Helm cannot ready Chart.Yaml"
Version: 1.0.0

[code]

[code]

[code]

[2018-08-17 04:14] namsoila commented on #5829
I currently had a virtual service running. Am I supposed to create something in the istio system namespace?

Here is my process:

I create a gateway in a new namespace with the istio sidecar enabled.

For that I use the following gateway configuration:

[code]

I then create a virtual service in that namespace:
[code]
The service has three running pods. Running `istioctl proxy-config route example

[2018-08-17 04:34] kyessenov commented on #2565
This would be great to have to prevent https://github.com/istio/istio/issues/8003

[2018-08-17 04:40] namsoila commented on #5829
@christian-posta I have also tried recreating these in the default namespace but there is still no redirect.

[2018-08-17 05:03] Rajadeepan commented on #7982
@ijsnellf  yes i have installed istio with helm.  This is the command used to install istio without mixer

**helm install install/kubernetes/helm/istio --name istio --namespace istio-system \
--set mixer.enabled=false**

(referred this doc https://istio.io/docs/setup/kubernetes/helm-install/#customization-example-traffic-management-minimal-set)

[2018-08-17 05:18] #1450 closed

[2018-08-17 05:49] chanjarster opened #8019 "HTTPRoute `appendHeaders` got wrong result if that header already exists in request headers."
**Describe the bug**

HTTPRoute `appendHeaders` got wrong result if that header already exists in request headers.

**Steps to reproduce the bug**

1. Deploy echo-server using this [yaml][1].
1. `curl -H 'x-foo:foo' http://<host>:<port>/echo-istio`
1. Observe the result:
[code]

**Expected behavior**

the correct result should be `x-foo=foo,bar`

**Version**

[code]

**Is Istio Auth enabled or not

[2018-08-17 05:55] dozer47528 commented on #7984
@objectiser
It works with go jaeger client.
So I think it should not be an istio issue.

I will check my code by myself.

[2018-08-17 06:01] #7984 closed

[2018-08-17 06:18] #2085 closed

[2018-08-17 06:49] zx3821ren commented on #2468
@rshriram  Any Update for the issue?

[2018-08-17 07:17] #2330 closed

[2018-08-17 07:18] #5816 closed

[2018-08-17 07:43] Yisaer opened #8020 "istio-sidecar-proxy includeOutboundIPRanges doesn't work"
**Describe the bug**
I am using [sleep ](https://istio.io/docs/tasks/traffic-management/egress/) sample with `istio-sidecar-proxy` auto inject and i step into this pod and execute `curl https://istio.io` and `curl https://www.baidu.com` and i can get the content these pages which I shouldn't get . I also didn' set the `serviceentry` for these hosts. Here is my description for my sleep pod and the

[2018-08-17 07:43] zehni commented on #7834
++

[2018-08-17 07:47] BernhardRode commented on #7675
I got an email from the aks team tonight. They told me that they increased the proxy_read_timeout for our clusters and everything should work now. So I started to create a fresh cluster (see description below).

* After helm install, the dashboard/helm is very responsive
* After istio install, the dashboard/helm is slower, but still usable.

At the moment I'm waiting for some time, if things get w

[2018-08-17 08:04] namsoila commented on #5829
I followed the following process to resolve this and have the redirect running currently:

I started by resetting the ingress IP and ports as it might have been the case that values were cleared between sessions.

https://istio.io/docs/tasks/traffic-management/ingress/#determining-the-ingress-ip-and-ports-when-using-an-external-load-balancer

I then followed the default setup for configuring the i

[2018-08-17 08:18] #3815 closed

[2018-08-17 08:33] JCzz commented on #7909
Hi @rshriram

Thanks, I now tried opening a new port in helm values.yaml

[code]

Should that be enough?

[2018-08-17 09:04] markns commented on #7817
No joy I'm afraid. I just built and deployed from release-1.0 5e75b149defb79138290974dc5704a27d99823ce

Connections responded 200 for 5 minutes, then spontaneously started returning 503:

[code]

The last line before the failures started occurring (marked with *) is interesting - status code was 200, but the duration was 7 seconds, as opposed to the 60 seconds that these connections should last fo

[2018-08-17 10:18] #3839 closed, assigned to geeknoid

[2018-08-17 11:18] #1089 closed

[2018-08-17 13:18] #5847 closed

[2018-08-17 13:40] mandarjog commented on #7952
@vinayvenkat It would be great if you write your adapter as out-of-process.
https://github.com/istio/istio/wiki/Mixer-Out-of-Process-Adapter-Walkthrough

It decouples you from mixer itself and arguable easier to test.
You can install a stock istio / Mixer release and then deploy your adapter independently.

Here is a sample adapter including its integration test.
https://github.com/istio/istio/blo

[2018-08-17 13:44] rshriram commented on #7793
I am not sure ordering by URIs first and then tie-breaking by other params is the way to go. We have several parameters (ports, gateways, source labels). We are also eliding headers, authorities, methods, schemes. We need to define a natural order of merging across all these parameters (and keep the door open for future match parameters we introduce. For example, some have been asking for source C

[2018-08-17 13:48] pamelin commented on #7357
Hey @jeusdi,  I'm not sure if you've tried using fully qualified domain names for services?

In your `VirtualService` you would use `recommendation.ns1.svc.cluster.local` for `v1` and `recommendation.ns2.svc.cluster.local` for `v2` similar for `DestinationRule` you would use full host name instead of short. You would need two `DestinationRules` one per service in the different namespace. I haven't

[2018-08-17 14:07] pamelin opened #8026 "Allow to apply HTTPRewrite on the destination level"
Currently our app in the kube is sending all requests to the service A. We want to route 50% of requests to this service and 50% to the external service.

We have achieved it with the below `VistualService` however in order for this to work we need to rewrite authority. Currently you can rewrite authority etc... only per route which means that traffic to service in kube will have authority rewritt

[2018-08-17 14:08] JohnDzialo opened #8027 "gke 1.10 istio 1.0 helm chart deploy with tracing, kiali is looking for tracing on localhost"
**Describe the bug**
I recently deployed istio1.0 to gke 1.10 with grafana, kiali and tracing using the helm chart.  on deploy kiali is not able to resolve distributed tracing as it is looking for jaeger tracing at localhost.  An option to overwrite the url for grafana and jaeger in the kiali deployment seems to make sense here.

**Expected behavior**
Helm deployment of istio1.0 with value overrid

[2018-08-17 14:18] #6269 closed

[2018-08-17 14:28] anastasiosyal commented on #2408
Is this under consideration?

[2018-08-17 14:32] ijsnellf commented on #8019
Replicated with minikube.

This is the corresponding Envoy field we are setting.
https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto.html?highlight=request_headers_to_add

This is the area of code where we set the field:
https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/route/route.go#L378

[2018-08-17 14:42] mandarjog commented on #7817
@markns you were able to run just fine with `disablePolicyCheck: true` just fine, but when you turned policy back on with the latest build, things failed?

I could not find the commit 5e75b149defb79138290974dc5704a27d99823ce from `release-1.0` branch, can you confirm your build?

Also it would be great, if you can attach logs again. Thanks for your help.

[2018-08-17 14:44] lubinson opened #8029 "ingressgateway can't access https service."
**Describe the bug**
_I tried to set up a gateway and virtual service for an https service. But the gateway can only send clear http request to the https service. And the https service return 400 Bad Request - The plain HTTP request was sent to HTTPS port._

**Expected behavior**
_https request should be sent from gateway to https service._

**Steps to reproduce the bug**
1, Install the my-nginx p

[2018-08-17 14:46] maximematheron commented on #6770
Hi all,

It is working for gRPC without TLS (when client and server are not using certificates) with hosts set to `*`.

With mTLS + gRPC, I tried to use the `PASSTHROUGH` option as @vadimeisenbergibm explained but the ingress is not receiving any requests. When I use `SIMPLE` or `MUTUAL` the ingress is mapping to the pods but the client receives "upstream connect error or disconnect/reset before h

[2018-08-17 14:57] ijsnellf commented on #8019
I think this is a bug with `gcr.io/google-containers/echoserver:1.10`. It isn't handling multiple headers correctly.

I wrote a simple Python echo server:
https://gist.github.com/ijsnellf/6c28a4a108d04db0654df673aebafb51

Note the two headers in the response:
[code]

[2018-08-17 15:03] fgraichen opened #8030 "Citadel installation failes istio_ca unknown flag"
Installation of istio using helm fails with start of Citadel.

Error: unknown flag: --identity-domain
Usage:
  istio_ca [flags]
  istio_ca [command]
Available Commands:
  help        Help about any command
  probe       Check the liveness or readiness of a locally-running server
  version     Prints out build version information
Flags:
      --append-dns-names                           Append DNS

[2018-08-17 15:09] ijsnellf commented on #8029
cc @vadimeisenbergibm

[2018-08-17 15:16] ijsnellf commented on #8027
cc @linsun @kyessenov

[2018-08-17 15:17] ijsnellf commented on #8018
cc @linsun

[2018-08-17 15:38] BernhardRode commented on #7675
I just tried to reconnect to the cluster and the issue is still there :(

[2018-08-17 16:01] vadimeisenbergibm commented on #8029
@lubinson @ijsnellf let me describe how to configure it, will submit a PR to istio.io.

[2018-08-17 16:16] lucasponce commented on #8027
Hello @JohnDzialo,
Could you test with the new istio-release-1.0 kiali image ?
https://hub.docker.com/r/kiali/kiali/tags/

We had a reported issue in kiali: https://github.com/kiali/kiali/issues/416 and it would help us to test it on GKE.

Thanks.

[2018-08-17 16:17] vadimeisenbergibm commented on #7658
@exiaohao Here is how you can do it https://preliminary.istio.io/docs/tasks/traffic-management/secure-ingress/#configure-a-tls-ingress-gateway-for-multiple-hosts

[2018-08-17 16:26] mandarjog commented on #7982
`mixer.enabled=false` removes stasd-to-prom bridge as well.
Envoy relies on statsd-to-prom bridge to emit metrics, needs to be fixed by always deploying stasd-to-prom and prometheus as well.

stats collection directly from envoy should not be conditional on mixer.

[2018-08-17 16:55] bmarshall13 commented on #7793
If these changes are going to be made in pilot (or any public API), I suggest that any "conflicting" VirtualService resources (or match rules) be ignored. i.e. Keep only the oldest, instead of including all sorted by creating time.

This would allow the merge ordering to start simple, and become more complex over time, without breaking existing use cases.  Any new merge rules added in future versi

[2018-08-17 17:56] JohnDzialo commented on #8027
Hi @lucasponce!  Thanks for the reploy.

I was using the kiali :latest tag previously I now have moved over to the istio-release-1.0 tag for kiali.  And the problem appears to be the same.

Let me know if there is anything else I can do to help diagnose a method.

[2018-08-17 18:02] JohnDzialo commented on #8027
![screen shot 2018-08-17 at 1 59 06 pm](https://user-images.githubusercontent.com/9005145/44281528-1899f500-a226-11e8-992d-675097ae9919.png)
I still see the error even with the new docker image istio-release-1.0.

[2018-08-17 18:05] cosoriog opened #8034 "Upgrading from 0.8.0 to 1.0.0 is non-functional with tiller (option 2)"
Version currently installed: [0.8.0](https://github.com/istio/istio/releases/tag/0.8.0)
Istio being upgraded to [1.0.0](https://github.com/istio/istio/releases/tag/1.0.0)
OS: CentOS 7.4.1708
Kubectl version: Client v1.9.7, Server v1.9.6+coreos.0
Helm version: Client and server v2.9.1

Istio 0.8.0 was installed with helm

Steps to upgrade (based on [this page](https://istio.io/docs/setup/kubernetes

[2018-08-17 18:05] mandarjog commented on #7982
/cc @liamawhite would you mind taking this ?

[2018-08-17 18:18] #5864 closed

[2018-08-17 18:26] vadimeisenbergibm commented on #7672
https://github.com/istio/proxy/pull/1924

[2018-08-17 18:46] markns commented on #7817
@mandarjog sorry, this was the commit: 4db4834e8cc831805d00d9256189c34ea47a018d

I didn't try with `disablePolicyCheck: true` with that build, but my assumption is that it would work fine.

I'm away for the weekend now, so can't get the logs to you until Monday.

[2018-08-17 18:57] markns commented on #7817
here's the dump:
[istio-dump.tar.gz](https://github.com/istio/istio/files/2298381/istio-dump.tar.gz)

[2018-08-17 19:11] gbaufake commented on #7982
@ijsnellf This problem is visible on Ansible Installer and openshift as well

[2018-08-17 19:18] #6261 closed

[2018-08-17 19:47] rshriram commented on #7817
Too many things going on. I don't think the initial failures or the startup delay is related to mixer. Can we do this piece meal? @markns / @liamawhite / @Stono [if possible]

[code]

This should give you a minimal install with just the CA and pilot. If we could confirm that the startup error is present in this mode as well, then we should be able to narrow down (one) issue.

[2018-08-17 20:14] mandarjog commented on #7817
@rshriram The original issue of "proxy starting slowly" has been resolved, and mark has confirmed it.

However because now the proxy does start quicker, it exposed problem with Mixer startup that has existed since 1.0.   `disablePolicyChecks: true` experiment was done to confirm that removing Mixer from equation does fix the newly introduced 503 problem. This was also confirmed by mark.

The last

[2018-08-17 20:37] markns commented on #7817
Sorry guys, I'm away for the weekend, so can't do any more tests. Unless the ingress gateway was restarted there should have been some 503s at 08:41.

[2018-08-17 20:46] douglas-reid opened #8038 "Improve mixer/pkg/runtime/dispatcher tests to be robust to proto serialization changes."
**Is your feature request related to a problem? Please describe.**
When updating the gogo protobuf deps, unit tests were failing because the `mixer/pkg/runtime/dispatcher/dispatcher_test.go` tests depend on the serialization of protobufs (which changed when the generation dep was updated). This requires manual inspection and resolution for updating a dep.

**Describe the solution you'd like**
More

[2018-08-17 20:47] lucasponce commented on #8027
Thanks @JohnDzialo.

A couple of checks:
- Could you run a `kubectl get services -n istio-system` (or equivalent in GKE) to check if the jaeger-query service is up an running in the expected port ?
- What is the output of the http://localhost:20001/api/jaeger ?

Basically, Kiali uses a simple proxy to serve jaeger-query under the port 32439, to not manually expose the jaeger-query service, but for

[2018-08-17 21:18] #526 closed

[2018-08-17 21:34] namsoila commented on #5829
My environment uses an external load balancer as shown here:

https://istio.io/docs/tasks/traffic-management/ingress/#determining-the-ingress-ip-and-ports

[2018-08-17 21:57] incfly opened #8042 "Use new workload identity provision workflow by Envoy SDS"
From high level, this will deprecate the existing secret mounts and use the new Envoy SDS API to install key certs in runtime dynamically. We need to:

- Document and share the design.
- Implement and test this.

Using an API to provision identity makes the overall flow more secure (compared with vulnerabilities of the secret mounts), more flexible (possible to wire Envoy SDS API to some external

[2018-08-17 22:14] sdake commented on #7965
@git-duzhengjie which platform?

[2018-08-17 22:27] sdake commented on #7672
@rkpagadala re https://github.com/istio/istio/issues/7782 fair enough - its a defect but helm is in beta, and does not meet the critical issues definition.

[2018-08-17 22:43] incfly commented on #7976
Thanks for explaining how `cert-sync` tool works. Here's my thoughts and understanding:

**Cert Sync**
It basically makes ingress gateway able to watch the resources and secrets (representing user provided tls key cerst). And add that to specific path (based on the rule pattern), since it's shared with Envoy ingress container's volume.

We are in process of using new Envoy SDS API to provision key

[2018-08-17 23:45] #5880 closed

[2018-08-17 23:47] bianpengyuan opened #8046 "e2e-bookInfoTests-v1alpha3 is consistently failing in both release-1.0 and master"
Example PRs: https://github.com/istio/istio/pull/8044 https://github.com/istio/istio/pull/7962

cc @mandarjog @rkpagadala

[2018-08-17 23:50] lei-tang commented on #7672
Issue #7943. The fix has been merged in #7945 on the master branch. The #7945 is cherrypicked by #8044 on the release 1.0 branch.

[2018-08-18 00:38] kyessenov commented on #8046
#8045

[2018-08-18 00:40] kyessenov commented on #8046
See https://161411-74175805-gh.circle-artifacts.com/0/tmp/istio.e2e.654652262/a-6c846ff7dc-5vxbx_container%3Aistio-proxy.log

Tons of removing/warming/adding cluster, as if nothing else is happening.

[2018-08-18 00:45] #4045 closed

[2018-08-18 01:45] #2704 closed

[2018-08-18 02:19] liubin-cm opened #8049 "istioctl kube-inject panic: template: inject:12: function "annotationOrDefault" not defined"
**Describe the bug**
when i run command like below:
 istioctl kube-inject -f istio-1.0.0/samples/bookinfo/platform/kube/bookinfo.yaml

i get this error:
[code]

**Steps to reproduce the bug**
1. install istio
[code]

2. run command
[code]

**Version**
kubernetes 1.10.3
istioctl 1.0.0

**Environment**
centos 7.4
docker 1.13.1

[2018-08-18 02:32] lichuqiang commented on #7502
/cc

[2018-08-18 04:13] zencircle commented on #7908
[2018-08-18 04:11:32.214][39][critical][main] external/envoy/source/server/server.cc:78] error initializing configuration '/etc/istio/proxy/envoy-rev0.json': malformed IP address: istio-statsd-prom-bridge
[2018-08-18 04:11:32.215][39][info][main] external/envoy/source/server/server.cc:449] exiting
2018-08-18T04:11:32.219607Z	warn	Epoch 0 terminated with an error: exit status 1
2018-08-18T04:11:32.

[2018-08-18 04:14] zencircle commented on #7908
[istio-dump.tar.gz](https://github.com/istio/istio/files/2299127/istio-dump.tar.gz)

[2018-08-18 04:39] zencircle commented on #7908
Installation
helm version
Client: &version.Version{SemVer:"v2.10.0", GitCommit:"9ad53aac42165a5fadc6c87be0dea6b115f93090", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.10.0", GitCommit:"9ad53aac42165a5fadc6c87be0dea6b115f93090", GitTreeState:"clean"}

Disabled egress gateway and changed ingress gateway to Nodeport
helm install istio-1.0.0/install/kubernetes/helm/istio --name istio --n

[2018-08-18 04:40] zencircle commented on #7908
RBAC enabled
Related to
https://github.com/istio/istio/issues/6465

[2018-08-18 04:40] lei-tang commented on #7867
The fix is in https://github.com/istio/istio/pull/8050.

[2018-08-18 05:13] geeknoid opened #8053 "Autoscaled pods need gradual load increase to avoid errors"
@mossuchida commented on [Thu Aug 16 2018](https://github.com/istio/istio.github.io/issues/2271)

Currently, when a new pod is provisioned by autoscale, suddenly it is fully loaded. Depending on the application language, the error rate varies (e.g. less error on Node.js apps, significant errors on Java apps/IBM Liberty).  Please provide a mechanism to gradually increase the load so that newly crea

[2018-08-18 06:30] git-duzhengjie commented on #7965
@sdake Kubernetes on CentOS，my own test environment

[2018-08-18 08:45] #3947 closed

[2018-08-18 12:45] #3969 closed

[2018-08-18 12:48] chanjarster commented on #8019
@ijsnellf Hmm... seems like echoserver's bug. But two headers is a little strange, why not one header with two values joined by comma. I'm not sure this a bug or not. Is there a *standard way* to handle this situation?

[2018-08-18 13:45] #3971 closed

[2018-08-18 14:45] #4070 closed

[2018-08-18 14:52] ymesika commented on #8049
Tested it and it indeed happens with `1.0.0`.
However, with latest 1.0 build (to be releases as `1.0.1`) and master this already got resolved so closing.

[2018-08-18 15:45] #3984 closed

[2018-08-18 16:30] sdake opened #8054 "Upgrade with Helm 2.10.0 fails"
**Describe the bug**
Upgrade with Helm 2.10.0 fails consistently.  Installation works properly.  Upgrade with helm 2.9.1 may suffer a different problem.

**Expected behavior**
Upgrade with Helm 2.10 to work properly.

**Steps to reproduce the bug**
[code]

[2018-08-18 16:31] sdake commented on #8054
From a fresh install with Helm 2.10
[code]

[2018-08-18 16:47] sdake commented on #8054
Fresh install of Istio 0.8.0:
[code]

[2018-08-18 16:49] sdake commented on #8054
During upgrade:
[code]

[2018-08-18 16:54] sdake commented on #8054
[code]

[code]

[2018-08-18 17:09] sdake commented on #8054
After a 0.8.0 installation:
[code]

[2018-08-18 17:34] sdake commented on #8034
[code]

[2018-08-18 17:35] sdake commented on #8034
[code]

[2018-08-18 17:36] sdake commented on #8034
[code]

[2018-08-18 17:45] #4225 closed

[2018-08-18 19:37] sdake commented on #8018
cc @isdake

[2018-08-18 19:45] #1411 closed

[2018-08-18 20:02] sdake commented on #7672
https://github.com/istio/istio/pull/8055

[2018-08-18 20:45] #1357 closed

[2018-08-18 23:52] sdake commented on #8034
Helm 2.7.2, which was tested on the release candidates and worked well, fails in the same way as reported in this bug log.

[2018-08-19 00:13] rshriram commented on #7931
cc @jasmine-jaksic ..

[2018-08-19 02:59] chrislatimer commented on #6717
Getting the same error trying to run `make` as [documented here](https://github.com/istio/istio/wiki/Dev-Guide#building-the-code)

[2018-08-19 03:16] #1962 closed

[2018-08-19 08:45] Stono opened #8057 "Advice for IP based services"
We have numerous applications which talked to clustered state stores by IP, not hostname - and this is a requirement of the data store rather than the client.

Redis is a prime example; take the following HA redis setup.  In this example, the client is configured to talk to the sentinel nodes by their hostnames:

  - sentinel1.redis-headless.namespace.svc.cluster.local
  - sentinel2.redis-headless

[2018-08-19 12:34] sdake commented on #8054
install of `1.0.0` followed by upgrade of `1.0.0` works as expected.  Have not tried 1.0.1rc.

[code]

[2018-08-19 13:05] 0xCA7F00D opened #8059 "Port 15001 not opened when trying to use TPROXY mode"
**Describe the bug**
Upon changing the env interceptionMode to the value "TPROXY",
kube-inject changes the yaml as expected(injecting the new mode, both on proxy_init and on proxyv2) and when I look at the iptables, changes are done correctly.
The problem is that the envoy proxy doesn't expose port 15001 as expected for making its communication and therefore I get an upstream error.
**Expected beh

[2018-08-19 13:13] sdake commented on #8054
https://github.com/helm/helm/issues/1193

[2018-08-19 13:16] #1415 closed

[2018-08-19 13:44] #7447 closed

[2018-08-19 14:16] #6387 closed

[2018-08-19 15:33] liamawhite commented on #7982
You also need to turn off the Envoy statsd stuff mentioned in the docs you linked to:

[code]

Otherwise Envoy expects statsd-to-prom to be there

[2018-08-19 16:35] sdake commented on #8018
@bali2016 can you do the following
1. install mlocate or its equivalent on your distribution
1. updatedb
1. locate Chart.Yaml
1. paste output

Thanks

[2018-08-19 16:45] sdake commented on #7780
This is likely because webhooks do not work on EKS.  See https://istio.io/about/notes/1.0/#known-issues-with-1-0

Try turning off galley.

Cheers
-steve

[2018-08-19 16:46] blackbaud-brandonstirnaman commented on #7675
Created a brand new AKS cluster with much larger nodes (8c, 28gb mem * 3). Definitely zero resource issues occuring in this setup.. but the moment Istio is installed Helm/Dashboard are unusable and some kubectl commands begin to fail.

From helm logs it seems to be having issues accessing the API.
[code]

After removing the istio namespace and everything in it.... Dashboard becomes responsive and

[2018-08-19 17:16] #1381 closed

[2018-08-19 18:16] #6383 closed

[2018-08-19 20:34] liamawhite commented on #6518
No worries, I also don't check the rocket chat too often.

[2018-08-19 22:16] #1394 closed

[2018-08-19 23:16] #5413 closed

[2018-08-19 23:32] mandarjog opened #8061 "Go mod: Switch to go modules for 1.11+"
**Describe the feature request**
With go 1.11 “go modules” is available in standard tools.

Evaluate and switch from dep to “go mod”

[2018-08-20 01:38] #6404 closed

[2018-08-20 02:10] liubin-cm commented on #8049
with master daily build from https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/master-20180819-09-15/, got the same error:
[code]

[2018-08-20 02:25] hzxuzhonghu commented on #8002
/assign

[2018-08-20 02:25] dunjut commented on #7976
@incfly Thanks for sharing the plan.

Is there a link we can see the design doc? What time can we expect to test new provision API?

[2018-08-20 04:38] #3868 closed

[2018-08-20 05:16] ymesika commented on #8049
I downloaded the release you mentioned (`istio-master-20180819-09-15`) and ran the same commands as you:
[code]
and I don't get any panic.

On the other hand I'm running it on OSX.

[2018-08-20 05:47] Balabala125 opened #8066 "Configuring Request Routing Example: unable to route traffic to v1 regarding the bookinfo sample"
I follow the document of "Configuring Request Routing" to route all traffics in v1 of each microservice. However, Istio still routes requests to all available versions in a round robin fashion when I access the Bookinfo app’s /productpage in a browser and refresh several. That's not I expected.

Additional information:
1. kubectl get virtualservices -o ymal
[code]

2. kubectl get destinationrules

[2018-08-20 06:28] namsoila commented on #7843
@rshriram Would that involve adding the values here?

https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/values-istio-gateways.yaml#L68

So something like:
[code]
I am using this to install: https://istio.io/docs/setup/kubernetes/helm-install/#option-1-install-with-helm-via-helm-template

Would I then change my initial command from a create with `kubectl create -f $HOME/istio

[2018-08-20 06:38] #1413 closed

[2018-08-20 07:41] sdake commented on #8034
I executed a `bisect` between `1.0.0-snapshot.0` ...`1.0.0` could not find an upgradeable version with `helm 2.10.0`.

[2018-08-20 07:49] vadimeisenbergibm commented on #8029
@lubinson Here is the example I wrote
https://preliminary.istio.io/docs/examples/ingress-for-https/

Note that you have to use `PASSTHROUGH` `tls` `mode` since the gateway must not perform TLS termination. Also note that the `VirtualService` should have `tls` match by `sni_hosts`.

[2018-08-20 07:54] namsoila commented on #7843
Switching the use of apply allows for the update however I receive this error:
[code]
When I simply use the `https` value for the port. Should it have a name such as `grpc-ingress` and with the envoy setting upgrade to http2?

[2018-08-20 08:00] sdake commented on #8054
@ymesika had a valid helm upgrade operation here: https://github.com/istio/istio/issues/7023#issuecomment-404628352 represented by this PR: https://github.com/istio/istio/pull/7062.

[2018-08-20 08:11] namsoila commented on #7843
I am adding the values here and it is updating using `kubectl apply`. I am exposing the desired ports in the default ingress gateway.

https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/values.yaml#L223

I can set a value using `https-grpc` to avoid the duplicate value error. Is this the recommended approach?

[code]
Or should the port have its own name?
[code]
Both create an

[2018-08-20 08:35] yepapa commented on #7726
I am facing this too
Have you solved it?

**Environment**
MAC
Docker Edge 18.06
Kubernetes v1.10.3

[2018-08-20 08:38] #1581 closed

[2018-08-20 08:51] lichuqiang commented on #6451
Is this still an issue?
If so, I'd like to help improve this :)

[2018-08-20 08:52] sdake commented on #8054
Commit f8c5be77ff72f1050d1336ada055072c205f8bad is upgradeable in `release-1.0` branch.

[2018-08-20 09:38] #1499 closed

[2018-08-20 09:57] liubin-cm commented on #8049
on my centos 7.4, still get it.
what's wrong?
any other reasons?

[2018-08-20 10:46] sdake commented on #8054
Not clear on why the post mixer cr jobs were removed.  With a107891fed3a58e2d857a3de5bf8ee3dad79f353 `kubectl apply` results in a proper upgrade without separate registration of CRDs for both `template` and `upgrade` modes.

Cheers
-steve

[2018-08-20 11:25] apichick opened #8069 "Message "Ratings service is currently unavailable" does not always show up for bookinfo app when applied abort fault rule for ratings service"
**Describe the bug**
In the bookinfo application when I apply virtual-service-ratings-test-abort.xml and I am logged in as user json, I do not always see the message "Ratings service is currently unavailable" even if I would expect so because the faul is configured with percent 100

    fault:
      abort:
[istio-dump.tar.gz](https://github.com/istio/istio/files/2302151/istio-dump.tar.gz)

[2018-08-20 11:38] #651 closed

[2018-08-20 11:56] ymesika commented on #8069
My guess is that because you didn't apply the `virtual-service-all-v1.yaml` there is some traffic going (in round-robin) to ratings versions other than v1 where the fault injection isn't applied.

[2018-08-20 12:02] apichick commented on #8069
Ah ok, that makes sense. Thanks.

[2018-08-20 12:18] rshriram commented on #7843
Just set any unique name that refers gh the port type. In your case, I think it’s https-...

[2018-08-20 12:18] #7843 closed

[2018-08-20 12:25] apichick commented on #8069
I applied that but, now it always goes to v1 when logged as jason, how do you control precedence?

[2018-08-20 13:32] markns commented on #7817
@mandarjog @rshriram Happy to report that a build from the latest commit to release-1.0 seems to have resolved the 503 issues.
Looking forward to the 1.0.1 release - is there an ETA by any chance?
Thanks

[2018-08-20 13:43] visheyra opened #8073 "port naming issue on gateways with https on istio 1.0.0"
**Describe the bug**
I'm using istio 1.0.0 and I'm experiencing v3 api on it with some services

I have one services that serve a webapp, and another one that when contacted do a 302 redirect to the external url of the first one.

My istio networking resources are the following:

2 gateways (one per domain / service, sharing the same wildcard certificate)
2 virtualservices (one per service exposed

[2018-08-20 14:02] visheyra commented on #8073
Just found this in some code

[code]

Did not see such statement in the doc. Maybe it should be clarified.

But I'm going to close this issue since this is the expected behaviour

[2018-08-20 14:32] sdake opened #8075 "Permit use of third party grafana"
**Describe the feature request**
Allow third parties that already have a grafana container to converge on one grafana container instead of having two (theirs which may just be pristine upstream grafana container, as well as the Istio grafana container).

This was not possible until grafana 5.y.z added a api versioning field.

**Describe alternatives you've considered**
I can't think of any alterna

[2018-08-20 15:25] douglas-reid commented on #8075
@sdake we also have an issue open for publishing our dashboards to grafana's site, easing use of the dashboards without our image. that might address this concern in a different fashion. thoughts?

[2018-08-20 15:27] douglas-reid commented on #8061
Has anyone tried playing around with `vgo` + Istio yet?

[2018-08-20 15:29] Stono commented on #8057
No, because pod IPs are ephemeral 🤷

On Mon, 20 Aug 2018, 3:38 pm Shriram Rajagopalan, <notifications@github.com>
wrote:

[2018-08-20 15:38] #6004 closed

[2018-08-20 16:05] craigbox opened #8076 "Can't rewrite to empty string"
**Describe the bug**

I have a `VirtualService` connected to a `Gateway` to allow traffic into my cluster.

I want to remove `/service-a` from the URL, so that `http://site/service-a` hits `/` on `service-a`, `http://site/service-a/metrics` hits `/metrics`, etc.

**Works, but not completely**

This `VirtualService` works, but does not let me hit `http://site/service-a` (without trailing slash)

[c

[2018-08-20 16:58] andraxylia opened #8077 "Managing core dumps"
Follow up from #8043

We can have a mounted volumes where core dumps are stored, and a CronJob that checks the space on the volume and removes older files and/or sends notifications.

Investigate if that mounted volume can auto-scale.

This issue is about managing core dumps in Kubernetes in general, and not so much tied with Istio, thus it is a good first contribution.

[2018-08-20 17:00] ayj commented on #8061
(from https://github.com/golang/go/wiki/Modules)

Should we consider waiting until 1.12 when modules are no longer experimental before switching?

[2018-08-20 17:01] ayj commented on #7780
You can disable the validation webhook with the `--set global.configValidation=false` helm option.

[2018-08-20 17:38] #6025 closed

[2018-08-20 17:42] Stono commented on #7817
Oh excellent news.  Thanks for your help testing this @markns

[2018-08-20 17:58] nmittler commented on #8049
So istioctl kube inject uses [this template](https://github.com/istio/istio/blob/master/pilot/pkg/kube/inject/mesh.go).  The `annotationOrDefault` function was never added to the `release-1.0` branch and was not included in 1.0.0.

Have you tried doing a `make clean`?

[2018-08-20 17:59] mandarjog commented on #7817
We are targeting a release end-of-week.

[2018-08-20 18:11] sprutner commented on #7562
I am experiencing this trying to upgrade from 0.8.0 to 1.0.0

[2018-08-20 18:32] ijsnellf commented on #8059
cc @costinm

[2018-08-20 18:44] frankbu commented on #8073
Maybe we can remove this restriction from the code.

[2018-08-20 19:04] apichick commented on #8069
I was meaning that it does not raise the fault ever.

[2018-08-20 19:11] nmittler commented on #8049
Running with a clean 1.0.0 tag, I am unable to replicate the problem. I can't image that the issue is related to platform.  I suspect it's related to a mismatch between istioctl version and local generated files.

[2018-08-20 20:07] arnecls opened #8081 "Add more configuration options to the retry policy"
**Describe the feature request**

Currently Istio (v1.0) hard codes the retry policy to `5xx,connect-failure,refused-stream`.
See https://github.com/istio/istio/blob/8f0adf314f58a22a6d54d979ec899277d0f7c1fd/pilot/pkg/networking/core/v1alpha3/route/route.go#L519

It would be great to be able to change this setting to the values allowed by envoy. See https://www.envoyproxy.io/docs/envoy/latest/confi

[2018-08-20 20:14] arnecls opened #8082 "Distinguish between 5xx and Gateway errors in outlier detection"
**Describe the feature request**

Currently Istio only supports `consecutive_5xx` for outlier detection. See https://github.com/istio/istio/blob/7c65420e82219d854908e1addc4d19dd3fbce739/pilot/pkg/networking/core/v1alpha3/cluster.go#L381

Enovy however also supports `consecutive_gateway_failure` for outlier detection.
This mode is extremely helpful when dealing with systems that misuse http 500 as

[2018-08-20 20:15] mandarjog opened #8083 "Pilot incorrectly removes clusters while sending CDS to certain endpoints"
In 1.0.0+ builds we have observed that pilot send less number of clusters to certain end points than others. Sometimes this could be due to the fact that the "inbound" clusters for that endpoints are not up, however we see that several istio clusters including `istio-telemetry`, `istio-policy` are removed.

`qrdhc.mns` is the pod in question.

[code]
After 3 minutes the clusters are restored.
pilo

[2018-08-20 20:25] rshriram commented on #8083
Was the push cancelled ? Any other metric after that ?

[2018-08-20 20:42] kyessenov commented on #7021
ref https://github.com/istio/istio/pull/8000
ref https://github.com/istio/istio/pull/7791

[2018-08-20 20:42] #7021 closed

[2018-08-20 20:43] kyessenov commented on #7021
Note: I left out TCP mTLS test since it TLS part is covered by HTTP test with better metrics.
Note: No report validation for TCP due to difficulty in making repeatable Report calls for streaming calls.

[2018-08-20 20:43] kyessenov commented on #7985
Fixed by https://github.com/istio/istio/pull/8036

[2018-08-20 20:43] #7985 closed

[2018-08-20 20:45] kyessenov commented on #7759
@PiotrSikora @rshriram close this is you believe this is done (and a regression test added).

[2018-08-20 20:48] kyessenov commented on #4647
Should be done. Regressions/bugs should be tracked independently from this issue at this point.

[2018-08-20 20:48] #4647 closed

[2018-08-20 20:58] mandarjog commented on #8083
don't see any pushed cancelled at pilot, details of all activity related to that endpoint.
[code]

[2018-08-20 20:58] ijsnellf opened #8084 "Flakey configmap test in Galley"
Seeing this in multiple places:
[code]
Example:
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/8040/istio-unit-tests/11882/

@ozevren: assigned to you because you showed up on the git blame. Please re-assign as you see fit.

[2018-08-20 21:42] andraxylia commented on #8081
I would change the title to "Add more configuration options to the retry policy", since it is already configurable, it is just missing all possible options.

[2018-08-20 21:47] arnecls commented on #8081
👍 agreed

[2018-08-20 21:58] jsenon commented on #6071
@subnova Could you check if it's help you? [https://github.com/istio/istio.github.io/pull/2321#discussion_r211398844](Issue #2321)
We've configured TLS ingress gateway for multiple hosts, with non unique port name in the gateway.yaml and we've received `SSL_ERROR_SYSCALL`

[2018-08-20 22:09] jsenon commented on #7726
Have you seen some CPU issue on pilot pod?

[2018-08-20 23:56] xaka commented on #7302
@james-r-smith I've found the solution, which is to use TCP proxy:
[code]

where `10.243.127.53` is your corporate proxy address (you could also use domain name, for that replace `addresses` with `hosts`)

[2018-08-21 00:09] #7934 closed

[2018-08-21 00:39] #6317 closed

[2018-08-21 01:39] #6298 closed

[2018-08-21 02:11] lichuqiang commented on #8077
I'd like to help with this :)

[2018-08-21 02:25] kyessenov opened #8090 "Race-enabled binary and RPC recorder"
Our unit/e2e tests do not provide sufficient coverage for the existing code.
This shows up in undetected data races (e.g. #8083). I think we can improve the situation by doing two simple things:

- turn on gRPC recorder in test clusters, by using https://godoc.org/cloud.google.com/go/rpcreplay; store as an artifact
- replay the traces against race and coverage enabled builds, as a separate job in

[2018-08-21 02:37] liubin-cm commented on #8049
i used two version，they all throw the same error.
[code]

[2018-08-21 02:38] rshriram commented on #8083
@mandarjog can you please test with #8088?

[2018-08-21 02:39] #6400 closed

[2018-08-21 02:40] rshriram commented on #8061
+1. I suggest waiting for 1.12.

[2018-08-21 03:06] sdake commented on #7672
https://github.com/istio/istio/pull/8091 - cherrypick here -> (waiting on master merge)

[2018-08-21 03:09] sdake commented on #8075
@douglas-reid wfm.  I am not a grafana wizard, so I'm not really clear on the best approach.

Cheers
-steve

[2018-08-21 03:28] adamzhoul opened #8093 "pilot push config very slow."
**Describe the bug**
takes about 35 seconds for ingressgateway to reload new config,  when change virtualservices.

**Expected behavior**
change virtualservices config. seconds(less then 15s, in istio 0.8 ) later,  ingress gateway reload the new config.

**Steps to reproduce the bug**

virtual service config
[code]

shell to see how long config reloaded.
[code]

step to reproduce.
1、make sure serv

[2018-08-21 03:36] lichuqiang commented on #8084
I ran the case hundreds of times, but failed to reproduce the error.
Have I missed something?

[2018-08-21 03:39] andraxylia commented on #8077
thanks for contributing @lichuqiang !

[2018-08-21 03:50] lichuqiang commented on #8077
Have the folks reach an agreement on ideas above?
Or it still need further discussion before we can set about?

[2018-08-21 04:20] hzxuzhonghu opened #8095 "data race in TestAdsReconnectWithNonce"
**Describe the bug**
data race of `networking.VirtualService` from `initVirtualServices` and `func (m *Monitor) checkAndUpdate() {`

**Expected behavior**
no read write race

**Steps to reproduce the bug**
run go test --race
**Version**
master branch
**Is Istio Auth enabled or not?**
{{ Did you install the stable istio.yaml, istio-auth.yaml.... or if using the Helm chart please provide full comman

[2018-08-21 04:39] #2876 closed

[2018-08-21 04:42] mandarjog commented on #8083
Tested with fix from 8088 and now I no longer see differing number of clusters in pushes.

[code]

[2018-08-21 06:17] rlenglet commented on #8059
@galniv1 The `proxyv2` image in Istio 1.0.0 doesn’t support TPROXY anymore. That got broken in https://github.com/istio/istio/pull/5846. You have to use the `proxytproxy` image now, cf. https://github.com/istio/istio/pull/6873. I think that’s the only change you have to make.

[2018-08-21 06:43] #8095 closed

[2018-08-21 06:46] hzxuzhonghu commented on #7808
The Config.Spec is an interface, so I think we can clone it in `initVirtualServices` before we mutate it.

[code]

[2018-08-21 06:50] johnzheng1975 commented on #7412
This issue raise again on coreos upgrade (UTC 20:00:00T Aug 17, 2018), from 1800.6.0 to 1800.7.0.
Coreos auto restart after upgrade. Then kubedns/ istio-pilot/ all pods are restarted.
After this, the whole stack cannot work,
1  ping mongo atlas, raise "bad address", mongodb cannot be accessed at all
2  In container, access fine for localhost:8080/xxx/health, access fail for servicename.namespacena

[2018-08-21 06:55] johnzheng1975 commented on #7412
I am surprised this issue has not been noticed, and pay enough attention.
The coreos auto-upgrade is by default, and it upgrade very frequently -- 7 times in last 1.5 months.
The issue raise rate is high (nearly 1 out of 3), and results is disaster (cannot recovery until restart all pods manually)

[2018-08-21 07:20] damozhiying opened #8096 "istio 1.0.0 can't run the bookinfo"
sudo kubectl version
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.6", GitCommit:"7fa1c1756d8bc963f1a389f4a6937dc71f08ada2", GitTreeState:"clean", BuildDate:"2017-06-16T18:34:20Z", GoVersion:"go1.7.6", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a", GitTreeSt

[2018-08-21 08:39] Balabala125 commented on #8066
I will close the issue, because I find that this problem isn't caused by Istio and it is the problem of my cluster.

[2018-08-21 08:39] #8066 closed

[2018-08-21 08:39] #6331 closed

[2018-08-21 09:15] ymesika commented on #8096
I suspect this is due to the old version of your `kubectl`.
We had users reporting this in the past and it got resolved when they upgraded their kubectl version.

[2018-08-21 09:19] visheyra opened #8103 "documentation not matching current release"
**Describe the bug**
In the istio 1.0.0 documentation in the [debugging component part](https://istio.io/help/ops/component-debugging/). The commands presented to use with the switch `proxy-command` are not matching the one available in the binary

from the docs:

[code]

from istioctl -h
[code]

**Expected behavior**
The doc to match the available commands

**Steps to reproduce the bug**
Use the

[2018-08-21 09:27] ymesika commented on #8103
What istioctl version is this help output from?
The output for the released v1.0.0 istioctl for me is:
[code]

[2018-08-21 09:39] #6291 closed

[2018-08-21 10:07] kamilgregorczyk commented on #8034
Might be related #7562

[2018-08-21 10:09] kamilgregorczyk commented on #7562
@objectiser
I made a mistake in the "steps to reproduce" sections, the install command should not have `--set tracing.enabled=true`, it should be added only to the upgrade command, I fixed it.

[2018-08-21 10:39] #4716 closed

[2018-08-21 12:27] visheyra commented on #8103
full log from `istioctl version`
[code]

full log from `istioctl pc -h`
[code]

[2018-08-21 12:30] visheyra commented on #8103
@ymesika your output is from `istioctl -h` my issue is that the options listed in the documentation for `istioctl pc` mismatch the one that I see when i run `istioctl pc -h` (note the **pc** here, can be replaced by **proxy-config**)

[2018-08-21 12:36] visheyra commented on #8075
I'm currently running istio with my custom grafana.

I get the istio's dash from the raw json from github that I pack as an archive containing the dash + the files needed by grafana for versionning.
All packed in a job for my grafana setup.

To link a third party setup to istio, tweak the grafana part of the helm chart should be sufficient.

I would be glad to help if you need any.

[2018-08-21 12:39] Stono opened #8107 "Proxy lost connection to pilot"
**Describe the bug**
We have a single instance of an app, where the istio-proxy has gotten into an unhealthy state, and has been like that for the last 10 hours.

Apps (see the last one):
[code]

Logs from the proxy:
[code]

As you can see this container is not appearing in istioctl:

[code]

Pilot is up and running just fine:
[code]

Restarting the pod fixed it.

[2018-08-21 12:39] Stono commented on #8107
cc. @nmittler your health checks would presumably catch this?  downside it'd just be "unready" whereas really, it needs to restart.

[2018-08-21 12:42] visheyra commented on #8073
As far as I see you need to have different name to have unitary management of http(s) pools. IMO, merge those name would implies issues with end to end TLS . This would be due to the fact that you can be routed arbitrarily to any router that old the name of your port and thus break the TLS communication.

Am I guessing wrong ?

[2018-08-21 12:50] visheyra commented on #5115
Why not have a istio provisionning package for dashboards that is available as an artifact ? You'll then have to put it in the provisionning folder of your grafana setup and this will works.

http://docs.grafana.org/administration/provisioning/#dashboards

[2018-08-21 13:15] frankbu commented on #8073
A possible fix could be to generate unique names for each port, for example, by appending the server's host name.

[2018-08-21 13:44] gyliu513 commented on #8075
Also some discussion at https://github.com/istio/istio/issues/2920 as well for reference.

[2018-08-21 14:16] damozhiying commented on #8096
@ymesika
sudo kubectl version
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.6", GitCommit:"7fa1c1756d8bc963f1a389f4a6937dc71f08ada2", GitTreeState:"clean", BuildDate:"2017-06-16T18:34:20Z", GoVersion:"go1.7.6", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a",

[2018-08-21 14:19] ymesika commented on #8096
1.6.6 isn't the latest

[2018-08-21 14:32] costinm commented on #8077
My primary concern is that core dumps include sensitive information -
private keys, user related info (from in-memory requests fragments), etc.
As such, it is a security/privacy risk. Files on a Volumes is not the right
way to store secret/private data, and RBAC alone is generally not
considered sufficient. Private data at rest must be encrypted, and have
better protection (many orgs have pretty s

[2018-08-21 14:33] damozhiying commented on #8096
@ymesika  thank you very much,i will try again

[2018-08-21 15:06] damozhiying commented on #8096
@ymesika  i use rancher 2.0 ,docker images is  rancher/rancher ,how to update the kubectl version

[2018-08-21 15:11] damozhiying commented on #8096
@ymesika rancher/rancher 2.0  can support istio?

[2018-08-21 15:22] ymesika commented on #8096
@damozhiying Sorry. I'm not familiar with rancher.
Let's keep it open and see if someone else is more familiar with it.

[2018-08-21 15:32] andraxylia commented on #8077
@costinm stack trace is not always sufficient , we need to be able to enable core files.

Your concerns are valid, so let's see how we can improve the proposal or come up with a better one.

- Core dumps is already an optional feature that can be enabled/disabled by Helm. I am ok with default disabled, it will be up to the users to make an informed decision. cc @ostromart . Can we maybe do a helm

[2018-08-21 15:42] nmittler commented on #8049
@ymesika I'm unable to reproduce with the [1.0.0 download for linux](https://github.com/istio/istio/releases/download/1.0.0/istio-1.0.0-linux.tar.gz). You mentioned that you could reproduce with 1.0.0 ... would you be willing to help investigate? Were you running with a fresh download? What version of helm are you using?

Here's my environment:

[code]

[2018-08-21 16:13] andraxylia opened #8111 "Consider merging the two init containers"
There is a separate init container just to enable core dumps. This can be done as part of the other init container to save on memory and startup time. Originally we had a single container, and it is not clear why the second has been introduced here:
https://github.com/istio/istio/pull/5044

Privileged mode and other options can be enabled even with a single init container.

cc @ostromart

[2018-08-21 16:14] ymesika commented on #8049
@nmittler I tested it again now and the panic is gone for me with the v1.0.0 release.
The only change since https://github.com/istio/istio/issues/8049#issuecomment-414063306 is that I've got Helm upgraded to 2.10.0 from 2.9.1.

The istioctl is the same as yours.
[code]

[2018-08-21 16:17] ymesika commented on #8103
@visheyra Right, my bad. Indeed doc issue.

[2018-08-21 16:18] #7859 closed

[2018-08-21 16:39] #4854 closed

[2018-08-21 17:27] ibuildthecloud commented on #6962
Did a bit of digging around and I think the idle CPU usage is due to https://github.com/istio/istio/blob/adb21944b0a79fabe9c67eba55549b6308b7f1d1/pilot/pkg/serviceregistry/kube/queue.go#L108.  The queue appears to run at the ratelimit all the time.  So something like 10 times a second it wakes up and does nothing.  I changed the implementation of queue.go to use a channel and my CPU usage went to

[2018-08-21 17:39] #4853 closed

[2018-08-21 18:31] andraxylia commented on #6962
@ibuildthecloud this is great find, ship it!

[2018-08-21 18:39] #2195 closed

[2018-08-21 19:33] james-r-smith commented on #7302
@xaka, can you be more specific.

1. Do you have any other Istio configurations involved in your test, for example, the address that you want to hit like `slack.com`.
2. Does your container have the env proxies set?
3. Can you possibly post output showing `CONNECT` from an https service request?

Appreciate it!

[2018-08-21 20:19] ayj commented on #8084
This should be fixed by https://github.com/istio/istio/pull/7950 which was merged ~22 hours ago. Developers need to rebase against master to pick up the fix.

[2018-08-21 20:19] #8084 closed

[2018-08-21 20:39] #1482 closed

[2018-08-21 20:50] sputtag1 commented on #7952
@douglas-reid We are following this defect as well. We followed all the steps in https://github.com/istio/istio/wiki/Mixer-Out-of-Process-Adapter-Walkthrough and configured a custom adapter to build a new adapter. Since we coded our custom adapter inside the mixer folder, we were wondering how could we deploy our adapter independently from the mixer. And if the mixer container is inside the teleme

[2018-08-21 21:24] rsnj commented on #7675
Just got this from Azure Support:

Readiness probe failed: Get http://10.200.0.39:8080/debug/endpointz: dial tcp 10.200.0.39:8080: connect: connection refused.

[2018-08-21 21:28] douglas-reid commented on #7675
@costinm @andraxylia any thoughts here re: istio-pilot health check?

[2018-08-21 21:43] douglas-reid commented on #7952
@sputtag1 a guide on deploying OOP adapters would be very useful, I agree. would you mind filing a separate issue to cover this need? we'd want to cover best practices, etc. and add to it as bits like auth and security are incorporated.

RE: the missing CRD

I believe you have to add the adapter to the adapter inventory for the `mixs crd` command to be aware of it. @mandarjog is this the intended

[2018-08-21 22:08] sputtag1 opened #8119 "Guide on Deploying OOP Adapters."
How do we deploy the out of proc adapters independently of the mixer containers?
Tried to follow the mixer using custom adopter guide, but we were lost (https://github.com/istio/istio/wiki/Mixer-Using-a-Custom-Adapter)

[2018-08-21 22:08] andraxylia opened #8120 "Need securityContext review against best security practices"
We need to go through the list of possible securityContext  flags and cross-check them against best security practices. Need to enable SELinux and so.

[2018-08-21 22:38] douglas-reid commented on #7952
An example OOP adapter with a deployment can be found in [mixer/test/prometheus/cmd](https://github.com/istio/istio/tree/master/mixer/test/prometheus/cmd). My suggestion would be to start with that as a guideline on how to get something working.

[2018-08-21 23:30] #1475 closed

[2018-08-22 00:32] #7710 closed

[2018-08-22 00:32] #7759 closed

[2018-08-22 01:04] gargnupur commented on #6966
@dotw: Yes, this bug was fixed in 1.0.

We just found one bug with the way it evaluates which quota override to choose which is fixed in this pr: https://github.com/istio/istio/pull/7913

you can look for logs in istio-policy pod logs..

[2018-08-22 02:01] hzxuzhonghu commented on #6962
Maybe we should make use of sync.Cond to notify instead of checking `if len(q.queue) == 0 {` every time.

I can test this today.

[2018-08-22 02:04] johnzheng1975 commented on #7412
@brianredbeard , Thanks a lot, I am very glad to see experts from coreOS jumping in.
I will ask cilium team help to take a look.
And, this issue raised this time is our prod env, we used to use stable version, instead of latest version. But yes, we will upgrade cilium version from dev/qa/stage gradually.

[2018-08-22 02:07] costinm commented on #6962
Yes, that's been a problem for a long time. We planned to get rid of it as
we refactor the serviceregustry to event based ( there will be no queue),
and for config galley would take over k8s integration, so lower priority.

On Tue, Aug 21, 2018, 10:27 Darren Shepherd <notifications@github.com>
wrote:

[2018-08-22 02:09] dunjut commented on #7976
ping @incfly @costinm

Any updates?

[2018-08-22 02:09] git-duzhengjie commented on #7965
i find the reason,i remove the bookinfo not via the istioctl but the kubectl

[2018-08-22 02:09] #7965 closed

[2018-08-22 02:26] #8083 closed

[2018-08-22 02:30] #1945 closed

[2018-08-22 02:40] costinm commented on #7976
I think using something like cert-sync is very reasonable - however I think
it's a bit too complex.
We could simply watch the secrets from pilot-agent ( or some other binary
that ships with ingress).
Probably best option would be to create a separate binary - for example
k8s-pilot-agent. We did have
k8s-specific code in agent before, and it would simplify a lot of other
problems, no need to watch

[2018-08-22 02:47] hzxuzhonghu commented on #6962
@all I opened a pr #8123 to fix this.

reduce pilot cpu usage from about 20% down to below 1%

[2018-08-22 02:53] hzxuzhonghu commented on #6962
we refactor the serviceregustry to event based ( there will be no queue),
and for config galley would take over k8s integration, so lower priority.

@costinm  I have interest in this.

[2018-08-22 03:00] #7476 closed

[2018-08-22 03:30] #1796 closed

[2018-08-22 03:49] james-r-smith commented on #7302
@xaka, just trying to get more information if you don't mind (appreciate your help, by the way).

1. Using `addresses` only produces the below issues when configuring.

[code]

2. Regarding your comment:

I'm reading this as, Istio enables all traffic through the corporate proxy. Doesn't this mean that you aren't taking advantage of the benefits that Istio brings, like its limiting of external hos

[2018-08-22 04:12] damozhiying commented on #8096
@ymesika now i update the kubectl to v1.11.1,   istio and bookinfo demo run well,
everything is ok ,the page http://192.168.3.6:31380/productpage show success,
but i run  kubectl apply -n istio-test -f istio-1.0.0/samples/bookinfo/networking/virtual-service-all-v1.yaml
![qq 20180822120816](https://user-images.githubusercontent.com/10277950/44442337-25db2900-a604-11e8-9ec6-82a15827a368.png)
 when r

[2018-08-22 04:46] xaka commented on #7302
Try this:

[code]

Though I'm not sure which version of Istio you're using. In my case it's 1.0.0.

The reason you're getting such behavior is because Istio recognizes the traffic as HTTP and tries to proxy it for you, but problem is Istio doesn't support CONNECT and responds back with HTTP 404.

That's why you have to have a ServiceEntry for a corporate proxy with protocol defined as TCP so Istio

[2018-08-22 05:52] ymesika commented on #8096
That's great.
Did you apply the `destination-rule-all.yaml` destination rules?

[2018-08-22 05:52] sdaschner commented on #6486
@prune998 Thanks a lot for writing that blog post, that's very helpful!

However, you can indeed define multiple ingress Gateways for the same port number, if the port name (label) differs.

E.g.

[code]

Using a single cert here, similar to your example (could also be wildcard).

Istio seems to generate config rules with the port definition taken as names. @costinm I think that's what you're refe

[2018-08-22 06:30] #6569 closed

[2018-08-22 06:38] damozhiying commented on #8096
@ymesika i think the sidecar not inject into the pod ,but i order execution these yaml

![qq 20180822143522](https://user-images.githubusercontent.com/10277950/44446839-e23eea00-a618-11e8-9706-7ce5ed9b6f90.png)
![qq 20180822143602](https://user-images.githubusercontent.com/10277950/44446841-e408ad80-a618-11e8-8124-0fc0b807296a.png)

So weird

[2018-08-22 07:02] ymesika commented on #8096
Yes, with sidecar injected you should have 2 containers per pod so it wasn't injected.
Do you have the `istio-sidecar-injector` running in `istio-system`?

[2018-08-22 07:30] #4638 closed

[2018-08-22 07:41] damozhiying commented on #8096
@ymesika
![qq 20180822154053](https://user-images.githubusercontent.com/10277950/44449833-cf7ce300-a621-11e8-9a2e-b69dd5a14cba.png)

[2018-08-22 07:42] truyet opened #8126 "Pod change to unknown when new pod deploy to k8s aws need deploy to new nodes"
**Describe the bug**
I have a cluster with 1 master and 2 nodes on aws (deployment by kops). When new deployment is created on node have insufficient cpu. All node in default namespace become:

NAME                                     READY     STATUS    RESTARTS   AGE
a-services-6c7f59b484-cfffq        0/3       Pending   0          21m
a-services-6c7f59b484-j5jbd        3/3       Unknown   0

[2018-08-22 07:48] damozhiying commented on #8096
@ymesika please see ,if the admissionregistration have some error
![qq 20180822154712](https://user-images.githubusercontent.com/10277950/44450161-c6d8dc80-a622-11e8-9e73-85cbd2c8de7c.png)

[2018-08-22 08:33] adamglt commented on #7558
bump - @rshriram, any thoughts?

[2018-08-22 08:41] tanapoln commented on #7798
Can you show your target service definitions?

I just got same problem when using headless service. You can try by changing service to be cluster ip.

[2018-08-22 10:30] #2204 closed

[2018-08-22 10:56] prune998 commented on #6486
You're right @sdaschner. Few things changed from 0.8.0 to 1.0.0 and my blog post needs to be updated !

[2018-08-22 11:30] #1479 closed

[2018-08-22 11:59] rshriram commented on #8081
Per my comments in your other PR, please change the existing retry policy to gateway-error,connect-failure,refused-stream. No point supporting retries for all 5XX. We had 5XX because gateway-error didn’t exist at that time.

[2018-08-22 12:30] #2202 closed

[2018-08-22 12:35] #7903 closed

[2018-08-22 13:08] wansuiye opened #8128 "consul platform use nodemeta to get the protocol of service port"
**Describe the bug**
{{ Succinctly describe the bug }}

When the consul platform convert the service port, the protocol type of port is determined according to NodeMeta. NodeMeta is the information of a node, not the endpoint or service. the relationship between node and services  is a one-to-many. Each service may also have different protocol ports.
so i think it should be instead by tag or meta

[2018-08-22 14:33] lubinson commented on #8029
@vadimeisenbergibm

Thanks. I have tried on Nginx Service. It works, even set ```sni_hosts``` to "*" in the VirtualService and even just using ```curl -i https://10.0.0.27:31390 -k```. My Gateway and VirtualService files are listed as below:

[code]
[code]
Run
[code]
Result
[code]
Then I apply the same steps to my service. I got below error reported by curl.
[code]
I found the ingress gateway send

[2018-08-22 14:36] james-r-smith commented on #7302
@xaka, I'm about to kiss you right now. It worked!! You're so awesome man. Major kudos to you, my friend. Papa bless. 🙏

[2018-08-22 14:43] xaka commented on #7302
Glad it worked. It's one of important use cases in a corporate world and I think Istio team should consider documenting it as it's likely more of similar questions will be raised in the future.

Let's keep it open to get an attention.

[2018-08-22 15:03] vadimeisenbergibm commented on #8029
@lubinson

Do you manage to call your HTTPS service from inside the cluster? Also note that the example has been moved to https://preliminary.istio.io/docs/examples/advanced-gateways/ingress-sni-passthrough/.

[2018-08-22 16:17] lubinson commented on #8029
@vadimeisenbergibm

This HTTPS service can be directly accessed by web browser by using the Node IP and Service Node Port (not the ingress node port). And also can be directly accessed by ```curl -i https://10.0.0.27:5443 -k ```. 5443 is the service node port.

All these cmds including the failed and successed cases are running in the master node of the cluster.

Yes, I have already follow the pre

[2018-08-22 16:27] linsun opened #8130 "Allow users to run mixer per node"
a couple of side conversation with @ymesika @geeknoid and @elevran @dcberg this seems a good option to allow user to configure.

[2018-08-22 16:47] tcnghia opened #8131 "Sidecar proxy adds 6 seconds to Pod startup"
**Describe the feature request**
When a Pod with HTTPGet ReadinessProbe get injected with sidecar, the time to reach Readiness increases by 5-6 seconds.

**Describe alternatives you've considered**
Removing the ReadinessProbe, but that transfers the problem to user requests.

**Additional context**
- This 6 seconds doesn't include the additional time of the Init container.
- In the log we notice t

[2018-08-22 17:28] nmittler opened #8133 "Flaky test on prow: TestTCPMixerFilterPeriodicalReport"
@kyessenov I've assigned to you since you were the last to modify the test.  Feel free to reassign.

[2018-08-22 17:30] #6567 closed

[2018-08-22 17:31] nmittler opened #8134 "Flaky test: TestAuthNJwt"
https://circleci.com/gh/istio/istio/164991?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

@wattli I'm assigning to you since you were the last to modify the test.  Feel free to reassign.

[2018-08-22 17:39] gargnupur commented on #6966
Closing this issue as it's fixed now.. please re-open if you feel otherwise

[2018-08-22 17:39] #6966 closed

[2018-08-22 17:46] Stono commented on #8107
@nmittler I think readiness as you have done it is fine for both startup, disruption (migration) and intermittent issues, but I do think you need liveness probes too.

It could even be the same as your readinessProbe but with a `failureThreshold` much higher, so what we're basically saying is - "if you've got bad config for 30 seconds or so, you're unready, but if that persists for 10 minutes, the

[2018-08-22 17:47] kyessenov commented on #8133
Send a log please?

[2018-08-22 17:48] nmittler commented on #8133
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/8132/istio-unit-tests/12051/

[2018-08-22 17:52] rosenhouse commented on #7783
For Cloud Foundry integration, we want endpoint identity to be authenticated.

We imagine this info being encoded in the client-cert which Envoy uses when connecting to Pilot/Mixer.  If client-cert is present, Pilot/Mixer would validate that the endpoint id presented in the XDS request matches what's present in the client cert.

Thoughts?

cc @shalako @sreetummidi

[2018-08-22 18:00] kyessenov commented on #8133
Root cause is envoy segfault. So the test is not flaky, but something in envoy is broken:
[code]

/cc @qiwzhang @bianpengyuan

[2018-08-22 18:03] myidpt commented on #7976
@costinm I lean toward using the security node agent for this purpose. The security node agent already implements the SDS API, and it is planned to support retrieving cert from:
1. Citadel
2. k8s secret
3. ACME, Let's Encrypt
4. other CAs via custom adaptors

Given what the security node agent does, reusing it for all cert provisioning purpose can reduce the security components, so it makes more s

[2018-08-22 18:07] nmittler opened #8135 "CircleCI reports config errors"
https://circleci.com/gh/istio/istio/165022

[code]

@rshriram feel free to reassign as appropriate

[2018-08-22 18:47] CapTaek commented on #7675
@blackbaud-brandonstirnaman  Were you able to get any response back from aks-help@service.microsoft.com regarding this issue?

[2018-08-22 19:23] vhosakot opened #8139 "Pods stuck in "Terminating" state after e2e_simple tests fail"
**Describe the bug**

After `e2e_simple` tests fail, the test pods will be stuck in `Terminating` state and not cleaned up:
[code]
**Expected behavior**

If `e2e_simple` tests fail, all the test pods should be properly deleted.

**Steps to reproduce the bug**

Run the following commands few times (5-10 times):

[code]

Then, run `kubectl get pods`:

[code]

**Version**

[code]
**Is Istio Auth enab

[2018-08-22 19:30] #4935 closed

[2018-08-22 19:33] vhosakot opened #8140 "Dump script to produce archive fails on Ubuntu"
**Describe the bug**

Following the steps in
https://istio.io/about/bugs/#generating-a-cluster-state-archive, the dump script (https://github.com/istio/istio/blob/master/tools/dump_kubernetes.sh) to produce archive fails on Ubuntu:

[code]

**Expected behavior**

Dump script should work as expected on Ubuntu.

**Steps to reproduce the bug**

[code]

**Version**

[code]

**Is Istio Auth enabled or

[2018-08-22 19:36] andraxylia commented on #7787
This is strange. Pilot implementation computes the labels to match against from the pod labels:
https://github.com/istio/istio/blob/master/pilot/pkg/serviceregistry/kube/controller.go#L469

Can you confirm by doing an envoy config_dump, rather than by observing the behavior?

[2018-08-22 19:37] costinm commented on #7675
We have a fix to the Pilot readiness in 1.0.1 - as well as several memory optimizations.

However I'm a bit confused - a pilot ( or any other app) crash loop or failure should not impact dashboard or apiserver. It's a different isolated container, and the probes are not happening that often.

We will need to find a way to run tests on multiple platforms - right now we rely on volunteers testing on

[2018-08-22 19:41] rsnj commented on #7675
@costinm How can I test the changes from 1.0.1 in my AKS cluster?
I don't see it tagged in the daily builds. Is 1.0.1 master?
https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/

[2018-08-22 19:42] esnible commented on #7787
The description above shows Envoy co fig dump confirmation.

[2018-08-22 20:10] ayj commented on #7931
The networking APIs are in v1beta1 stage despite the k8s apiVersion. Kubernetes CRD don't support multiple versions of the same group yet. As such, renaming the networking APIs from v1alpha3 to v1beta1 would have broken existing deployments.

Upstream k8s support for CRD versioning is targeted for alpha release in 1.12. Once that feature is widely available in supported k8s clusters, we can rename

[2018-08-22 20:14] #6962 closed

[2018-08-22 20:17] nmittler commented on #8107
@costinm @rshriram @mandarjog @PiotrSikora @Stono

After discussing with @mandarjog we think we can simplify the approach so long as we have both readiness and health checks.  I think our issue so far is that we've been conflating the two (both in discussions and with my initial attempt at the readiness logic). We propose separating the roles of the two probes as follows:

- **Readiness**: At star

[2018-08-22 20:19] Stono commented on #8107
Sounds spot on to me @nmittler

[2018-08-22 20:53] PiotrSikora commented on #8107
@nmittler I agree on the **Readiness** probe, but still disagree on the **Health** probe being conditional on a connection to Pilot, since misbehaving Pilot will effectively bring the whole, otherwise healthy, cluster down.

[2018-08-22 20:53] depohmel opened #8143 "istioctl kube-inject panics."
**Describe the bug**
I'm trying to use `istioctl` to ingest sidecar into deployment spec and it panics.

**Expected behavior**
I expect `istioctl` to return updated spec

**Steps to reproduce the bug**
1. install istio into none default namespace.
2. create a simple `deployment.yaml`
[code]
3. run istioctl
[code]

**Version**
[code]
**Is Istio Auth enabled or not?**
N/A
**Environment**
[code]

**C

[2018-08-22 20:57] kyessenov commented on #7841
/assign istio-testing

[2018-08-22 20:58] kyessenov commented on #7869
/assign @costinm
(to prevent staleness)

[2018-08-22 20:58] kyessenov commented on #8003
/assign istio-testing

[2018-08-22 20:58] kyessenov commented on #8090
/assign istio-testing

[2018-08-22 20:58] kyessenov commented on #7677
/assign @kyessenov

[2018-08-22 20:58] kyessenov commented on #7259
/assign @kyessenov

[2018-08-22 21:01] andraxylia commented on #7787
thanks @esnible I had missed it.

[2018-08-22 21:13] #7925 closed

[2018-08-22 21:19] kyessenov opened #8146 "dynamic proto decoder"
For out-of-process adapters, we have implemented a dynamic protobuf encoder, that takes an attribute bag, a proto descriptor, and produces the bytes to be sent over gRPC. However, there is no corresponding _dynamic_ proto decoder, that takes the output template proto descriptor, bytes, and produces an attribute bag to be consumed in expressions. This is an obstacle towards implementing templates t

[2018-08-22 21:49] ayj commented on #7586
@olegchorny, @dmyerscough - the [1.0 release branch](https://github.com/istio/istio/tree/release-1.0) includes the proposed fix for this issue. I tested tested the change overnight but it would be great if someone else that reported the problem could also confirm the issue is resolved.

[2018-08-22 21:55] nmittler commented on #8143
This is a dup of #8049 (the function annotationOrDefault was renamed to annotation recently).  Let's move the discussion to that issue.

[2018-08-22 21:55] #8143 closed

[2018-08-22 22:12] depohmel commented on #8143
Thanks, @nmittler. My bad, I did not remove is:open from search

[2018-08-22 22:14] #6563 closed

[2018-08-22 22:18] depohmel commented on #8049
I'm getting the similar error. with https://github.com/istio/istio/releases/download/1.0.0/istio-1.0.0-linux.tar.gz

[code]

[2018-08-22 22:31] ayj opened #8148 "Add Incremental MCP support"
Add support for incremental update support for Mesh Control Protocol (MCP) based on [incremental xDS](https://github.com/envoyproxy/data-plane-api/blob/master/XDS_PROTOCOL.md#incremental-xds). This provides the following benefits:

- Per-resource versioning. This aligns more closely with k8s CRD's notion of resource version for the purposes of tracking e2e operational status of configuration.
- Se

[2018-08-22 23:14] #6562 closed

[2018-08-22 23:29] myidpt opened #8151 "Use new proto between node agent and Citadel"
**Describe the feature request**
The proto between security node agent and Citadel should be the same as the proto used for Google managed CA.

This transition includes the following procedure:
1. Enable Citadel to support both services (protos).
2. Modify node agent to use the new proto.
3. Disable the old proto support on Citadel.

[2018-08-22 23:29] nmittler commented on #8049
@ostromart the 1.0.0 mesh.go doesn't include the use of the `annotation` function (it wasn't introduced until after 1.0.0).  Any idea how this might be happening?

[2018-08-22 23:32] nmittler commented on #8107
@Stono

I'd rather stick with the k8s idioms here.  Do you see an advantage of forcing the app to quit?

[2018-08-22 23:42] nmittler commented on #8107
@costinm @rshriram @mandarjog @PiotrSikora

from @PiotrSikora's comment:

We had an offline discussion and I agree that this just kicks the can a bit.  We can pick a large threshold, but what is a good value? A day? 3 days? Regardless, after that time the entire cluster would go down.

A better solution might be to make health a function of outbound request failures.  Assuming we have some metric

[2018-08-22 23:47] shalako commented on #7783
@rosenhouse Looking at the OP above, by `endpoint id` do you mean the proposed `node id`? This is the identity of the sidecar?

How would this work for gateways, which should also only receive a subset of config? Gateways are a little different from sidecars because, while all instances of a group of gateways should receive the same config, just as all sidecars of the same app should receive the s

[2018-08-23 01:03] rosenhouse commented on #7783
Yes, I mean `node id` here, and yes this is the identity of the sidecar (and by extension, the pod / workload it is proxying for).  `node` here is not a K8s "node" but instead the network node in the mesh, effectively a unique workload id, like a "container id" in CF Diego.

You're right that there's less a risk for the edge gateways maliciously requesting incorrect config.  But there is an attack

[2018-08-23 01:14] salrashid123 commented on #7820
@hklai  neverminds.  `master` has the latest set of changes in it already for `1.0.0`
- [https://github.com/istio/istio/blob/master/install/gcp/deployment_manager/istio-cluster.jinja#L79](https://github.com/istio/istio/blob/master/install/gcp/deployment_manager/istio-cluster.jinja#L79)

i didn't see any branch for any followup release so when you're ready to cut one for the next release, it should

[2018-08-23 01:36] chanjarster opened #8155 "Jaeger doesn't record the full call chain"
**Describe the bug**
Jaeger doesn't record the full call chain

I used [emojivoto][1] demo app( [yaml file][3] ) to see how istio tracing works. I found that jaeger can't record all spans in trace record.

According to below figure, the trace should have at least 3 spans: **vote-bot -> web-svc -> voting-svc**, but I only got 2 spans: **vote-bot -> web-svc**.

![Emojivoto Topology][2]

[1]: https:/

[2018-08-23 01:47] #7910 closed

[2018-08-23 02:28] wansuiye commented on #7798
@tanapoln the target service is registered both in kubernetes and consul. the client use kubernetes service name to request, the kubernetes definition is below:
[code]

[2018-08-23 02:29] lichuqiang commented on #7593
@ayj Not sure if I get your meaning.
Took a look at the error info
[code]

Seems something is wrong with the galley service. I think for e2e tests, galley (validatrr) is expected to keep running as a dependency, and should not be affected by the test resources cleanup stuff.
Have I missed someting?

[2018-08-23 03:00] m1093782566 opened #8159 "Failed to set up host by minikube"
**Describe the bug**

Failed to set up host by minkube scripts after installing minikube. ERROR logs:

[code]

**Expected behavior**

Can successfully set up a kubernetes host using minikube scripts.

**Steps to reproduce the bug**

./install_prereqs_debian.sh -- successfully

./setup_host.sh -- failed

**Version**
{{ What version of Istio and Kubernetes are you using? Use `istioctl version` and `

[2018-08-23 03:04] m1093782566 commented on #8159
The error message is

[code]

@gargnupur do you have any information?

[2018-08-23 03:43] lichuqiang commented on #6437
@ayj So you'd suggest we update MCP to not rely on TypeURL for supportedTypes validation, so that we can get rid of TypeURL in galley runtime?
Or like @ozevren [suggested](https://github.com/istio/istio/pull/6425#discussion_r196921068), we'd keep MCP as is, and only some inner update for galley?(that is, we will still need TypeURL to talk to MCP)

[2018-08-23 03:49] gargnupur commented on #8159
Can you please check if virtualization is enabled in your bios?
dmesg | grep kvm

And if it is, can you please try running "sudo modprobe kvm" (This step is now included in prereqs install step which was not there before)

[2018-08-23 04:16] m1093782566 commented on #8159
Thanks for your prompt reply @gargnupur

The output of `dmesg | grep kvm`

[code]

Seems kvm is detected?

I also run `modprobe kvm` and `lsmode | grep kvm` and found kvm module is already installed in my kernel.

[code]

But, it still does not work.

When I run `kvm-ok`, it tells me

[code]

I am not sure if it matters? PS. I just launched a GCE VM with Intel Haswell platform CPU.

[2018-08-23 04:30] bluecamel opened #8163 "OPA adapter: input set condition evaluation error: id='4', error='lookup failed: 'destination.service.name''"
**Describe the bug**
I am having a really tough time getting the OPA adapter to work.  I am able to create a combination of authorization instance, rule, and OPA handler that works for the bookinfo app.  However, I am unable to get it to work for our services.

When applying the exact same authorization instance and OPA handler with a rule that only differs by the match service name, we get errors

[2018-08-23 04:37] zhaohuabing opened #8164 "Does Mixer work with Consul installation (without k8s)?"
**Describe the feature request**
We're trying to integrate Istio 1.0.0 with our system, which is using consul for service discovery. Pilot and Envoy sidecars are successfully installed and the routing rules work just fine.  We would like to leverage Mixer for metrics collection and policy, does Istio 1.0.0 support mixer with consul installation, or it will be supported in future releases? I would

[2018-08-23 04:43] PiotrSikora commented on #8133
I suspect it might be full and/or too small `/dev/shm` partition, which can(?) result in `SIGBUS`, so this might be more of a test infrastructure issue than anything else (though crashing isn't great either), though it's interesting that we're not seeing this in the `release-1.0` branch. cc @rkpagadala

I opened a bug in Envoy to track this: https://github.com/envoyproxy/envoy/issues/4235

Regardl

[2018-08-23 04:44] kyessenov commented on #8133
@PiotrSikora we are using hot restart until certificate swap does not require hot restart (until SDS or file watching). I'm all up for getting rid of hot restart since it's been a steady source of segfaults.

[2018-08-23 04:47] PiotrSikora commented on #8133
@kyessenov oops, thanks for the info!

[2018-08-23 04:52] ayj commented on #6437
We should use TypeURL throughout MCP and Galley code. I updated the original issue to reflect this change.

[2018-08-23 05:12] ayj commented on #7593
The galley service shouldn't be running for `go test -v -timeout 25m ./tests/e2e/tests/controller`. These particular unit tests check internal pilot packages directly. The fact that we see this error means the galley`validatingwebhookconfiguration` wasn't cleaned up from the previous test (see below)

`validatingwebhookconfiguration` _should_ be cleaned up by deletion of its owner reference (istio

[2018-08-23 05:41] chanjarster commented on #8155
Hi, @douglas-reid .

How can I confirm that whether pod forward trace headers or not?

[2018-08-23 06:35] BernhardRode commented on #7586
@ayj
Was this (https://github.com/istio/istio/issues/7675#issuecomment-415305317) the correct way?

If yes, i can confirm the issue is fixed for me.

[2018-08-23 06:49] hzxuzhonghu opened #8165 "TestBuildJwtFilter flake"
**Describe the bug**
The ut `TestBuildJwtFilter ` failed in https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/8162/istio-unit-tests/12116/

`authentication_test.go:242: failed to start a mock server`

I think it is related to port allocation mechanism.  Find a free port, but when use it maybe it is used.

[2018-08-23 06:49] lichuqiang commented on #6437
Thanks! took a closer look at the code, seems we've already use TypeURL in MCP server and most of Galley logic, the parts that still related to MessageName are:
1. The logic to get goType via typeUrl, which makes use of `proto.MessageType`, I think the part difficult to modify, and we'll still need MessageName here.
2. the MCP client. A downside is that users will have to pass in fully qualified r

[2018-08-23 07:00] namsoila commented on #5829
Yes! Thanks @christian-posta

[2018-08-23 07:47] m1093782566 opened #8167 "Add kubeadm support for Istio local test installation"
**Describe the feature request**

Many PRs are blocked due to test failures, I feel a bit bad about the contributing experience. I think reproducing a test environment is the first step to reduce the failures but I was blocked in creating a local test environment.

I tried minikube and has no luck so far because my VM does not support nested virtualization even if I have installed kvm.

I am a Kub

[2018-08-23 07:51] m1093782566 commented on #8167
cc @costinm @gargnupur @hklai @JimmyCYJ

[2018-08-23 08:17] hzxuzhonghu opened #8169 "TestTCPMixerFilterPeriodicalReport flake"
**Describe the bug**

TestTCPMixerFilterPeriodicalReport failed in CI https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/8162/istio-unit-tests/12120/

But I can not reproduce in my local env.

[2018-08-23 08:28] hzxuzhonghu commented on #8169
[code]

[2018-08-23 09:30] olegchorny commented on #7586
@ayj Seems like you've fixed not only galley, but other issues, related to dozens messaged from pilot:
_"err the server was unable to return a response in the time allotted, but may still be processing the request (get pods)"._
Istio was barely operable because of them, but right now it looks much better.

[2018-08-23 09:54] tanapoln commented on #7798
@wansuiye your kubernetes service definition was not match the case that I found because it is not a headless service. Not sure that I can help you.

By the way, can you provide these informations:
- Kubernetes Service IP
- All Server Pod IPs
- a dig result of Kubernetes DNS for domain `foo.test.svc.cluster.local`
- a dig result of Consul DNS for domain `foo.test.svc.cluster.local`
- a new logs of

[2018-08-23 10:32] #4170 closed

[2018-08-23 12:32] #4250 closed

[2018-08-23 13:10] begoat commented on #7909
just add
[code]
in `kind: Service name: istio-ingressgateway`

and then access the gRPC-server  by  ingress service ip : 9090 is ok for me

[2018-08-23 13:32] #1857 closed

[2018-08-23 14:54] rsnj commented on #7675
I also installed the latest daily `istio-release-1.0-20180822-09-15` build on my AKS cluster. Everything was running smoothly for a bit so I deployed a simple application with a gateway configuration and then I noticed the `istio-telemetry` and `istio-policy` pods using a lot of CPU. When they autoscaled to 2 replicas their replicas went in to a CrashLoopBackOff state with the error:
`Liveness pro

[2018-08-23 15:07] polothy commented on #7675
Ran the same daily overnight on AKS (Istio installed via Helm with no options) and I also put in a couple of test services.  Telemetry and policy are having a bad time:
[code]

[2018-08-23 15:13] douglas-reid commented on #8155
@chanjarster you will need to look at the source code. a cursory look at the repo didn't return any results when I tried searching for "trace" and "b3" and other related terms and glancing at the source for the `web-svc` didn't show any special trace handling.

Distributed tracing is one of the few things that requires app-level support. Headers must be forwarded from the app for every outgoing ca

[2018-08-23 15:13] #8155 closed

[2018-08-23 15:16] polothy commented on #7586
Galley appears to be fixed, but problems with pilot and telemetry now.  See https://github.com/istio/istio/issues/7675#issuecomment-415447894 and https://github.com/istio/istio/issues/7675#issuecomment-415452434

[2018-08-23 15:32] #4430 closed

[2018-08-23 15:34] douglas-reid commented on #7675
So, with no load, the policy and telemetry services are crashing at startup?  @rsnj and @polothy is it possible that this is a recurrence of https://github.com/istio/istio/issues/6152?  There was a PR to fix that awhile back that was shelved because Istio 1.0 went with k8s 1.9 as the base. Maybe it is still needed?

[2018-08-23 15:53] polothy commented on #7675
I have no idea, sorry.  The cluster is still standing, would you like me to run any commands for you?

[2018-08-23 15:58] rsnj commented on #7675
@douglas-reid I'm using a brand new AKS Cluster running Kubernetes 1.11.2 that has no load on it.
I installed Istio via helm using the default settings.
I then deployed a simple service and connected it to a gateway.
After the services deployed the entire system went to into deadlock and the istio-policy and istio-telemetry started using more and more CPU until they replicated and the second repli

[2018-08-23 16:01] douglas-reid commented on #7675
@rsnj Wow: `Failed to list *v1.Pod: the server was unable to return a response in the time allotted, but may still be processing the request (get pods)`. That is not good. I wonder why everything with the API Server is so slow.

[2018-08-23 16:03] brunoban commented on #8096
Did you label your namespace with `istio-injection=enable`?

A `kubectl get namespace -L istio-injection` should show you. If you didn't, do `kubectl label namespace default istio-injection=enabled` and kill the relevant pods, they should be recreated with the sidecars.

[2018-08-23 16:08] brbarnett commented on #7586
I'm also seeing this on AKS:

    NAME                                        READY     STATUS              RESTARTS   AGE
    grafana-c9f9995bd-2fx7c                     0/1       CrashLoopBackOff    21         1h
    istio-citadel-f89fbffc-mtcw8                0/1       CrashLoopBackOff    21         1h
    istio-egressgateway-5f47f7849c-xtx4l        1/1       Running             13         1h

[2018-08-23 16:11] rsnj commented on #7675
@douglas-reid I'm not sure, but I'm happy to help debug. I also have a ticket open with Azure Support who are trying to troubleshoot on their end. They applied some patches on their end, but nothing has seemed to fix the issue. You can see their response [here](https://github.com/istio/istio/issues/7675#issuecomment-414826481).

Installing Istio makes the entire Kubernetes Dashboard unusable and r

[2018-08-23 16:16] olegchorny commented on #7586
[code]
[code]

[2018-08-23 16:18] #7731 closed

[2018-08-23 16:24] vhosakot opened #8180 "e2e tests fails with istio 1.0.0"
**Describe the bug**

Istio's e2e tests fail with istio 1.0.0 due to `kube-inject` failure below:

[code]
**Expected behavior**

Istio's e2e tests with istio 1.0.0 should work as expected.

**Steps to reproduce the bug**

[code]
**Version**

[code]
**Is Istio Auth enabled or not?**

Yes, `E2E_ARGS="--auth_enable"` was passed to `make e2e_simple` and `make e2e_bookinfo` above.

**Environment**

Ubu

[2018-08-23 16:30] vhosakot opened #8181 "--skip_setup missing in e2e tests' README"
**Describe the bug**

`--skip_setup` is a very useful parameter to make istio's e2e tests use pre-existing istio and not create istio for e2e tests, but `--skip_setup` is missing in the README in
https://github.com/istio/istio/blob/master/tests/e2e/README.md#options-for-e2e-test.s

**Expected behavior**

`--skip_setup` should be added in
https://github.com/istio/istio/blob/master/tests/e2e/README.

[2018-08-23 16:39] ymesika commented on #8181
There are actually other undocumented flags. Thanks for opening the issue, I will update it.

[2018-08-23 16:47] ayj commented on #6437
We've mostly switched over to TypeURL already but, as you've noted, there are few places in the MCP client and server codes that still use MessageName in their exported APIs.

That should be fine. `github.com/gogo/protobuf/proto` package uses message name but everything above that in MCP layers can use TypeURL. The `istio.io/istio/galley/pkg/runtime/resource` package has helper methods to get the

[2018-08-23 16:50] silvasong opened #8182 "Internal error occurred: failed calling admission webhook "sidecar-injector.istio.io"
**Version**
istio 1.0
kubernetes 1.9.9
**Is Istio Auth enabled or not?**
not
**Environment**
centos 7

automatic injection error.
 message: 'Internal error occurred: failed calling admission webhook "sidecar-injector.istio.io":
      Post https://istio-sidecar-injector.istio-system.svc:443/inject: dial tcp 10.254.156.130:443:
      getsockopt: connection refused'
help me .thx

[2018-08-23 16:52] vhosakot opened #8184 "k8s pods stuck in "Pending" state after installing istio"
****Describe** the bug**

After running istio's e2e tests a few times (like 5-10 times), some k8s pods like `etcd`, `kube-apiserver`, `kube-controller-manager` and `kube-scheduler` will be stuck in `Pending` state:

[code]

**Expected behavior**

No k8s pod should be in `Pending` state.

**Steps to reproduce the bug**

Run istio's e2e tests a few times (like 5-10 times):

[code]

Then, run:

[code

[2018-08-23 16:56] rsyvarth commented on #7675
Just jumping in here, I was experiencing the exact same issue (policy & telemetry scaling up, then entering CrashLoopBackOff, etc). I just removed those two deployments and the load dropped and everything seems to be responsive again (kubectl, dashboard, etc).

[2018-08-23 17:28] vhosakot commented on #7333
A workaround for this issue is to use the flags `--skip_setup` and `--skip_cleanup` when running the e2e tests like:
[code]
But, there is no documentation for `--skip_setup`, hence I opened https://github.com/istio/istio/issues/8181 for it.

[2018-08-23 17:40] awdrius commented on #8027
@JohnDzialo @lucasponce I'm having the same issue so hopefully you guys won't mind me jumping in the middle.

To answer your question:

* jaeger-query is running: `jaeger-query               ClusterIP      x.x.x.x   <none>            16686/TCP      1h`

* kubectl port-forwarding kiali and curl'ing http://localhost:20001/api/jaeger gives me this:
[code]

I have it freshly installed (using 1.0.0 tag

[2018-08-23 17:44] kyessenov opened #8186 "Consistent name for mixer template YAMLs"
It would be good rename all generate template descriptor YAMLs in a consistent manner, so we can teach git to treat them as binary. These files contain base64 encoded string, which make the git UI behave badly.

I suggest `mixer_template.yaml` as the name choice.

[2018-08-23 18:05] tiswanso commented on #8180
I think you need to add `--namespace=istio-system` (namespace where Istio is preinstalled) to get it going with a different namespace

[2018-08-23 18:05] rsnj commented on #7675
@douglas-reid I deleted both deployments and the system came back. The Dashboard is now working and my log is no longer being flooded with errors. The only issue now is that my service is still not accessible. The web frontend went from a 404 error to a 503: `UNAVAILABLE:no healthy upstream`.

[2018-08-23 18:07] bianpengyuan opened #8187 "Migrate the Stackdriver adapter to be out-of-process"
Move stackdriver adapter code to [istio/contrib](https://github.com/istio/contrib) from istio/istio mixer directory so that it could be built/tested separately as an out-of-process adapter.

cc @douglas-reid @mandarjog

[2018-08-23 18:32] kyessenov opened #8188 "mixer: compiler should generate symbols for late-bound attributes"
We have cases of using attribute variables in the expressions. For example, `$out` is used by APAs. Current implementation does an unsafe string substitution of `$out` with a long name, which would break any constant string expression `$out`. We should instead symbolize the attribute token with a fresh generated symbol after parsing, that can be safely bound during evaluation.

[2018-08-23 18:35] codelowr commented on #1368
any update on this one? Is it possible to enable grpc-web on envoy sidecar now ?

[2018-08-23 18:43] douglas-reid commented on #7675
@rsnj OK. It seems that the API Server in your cluster is possibly getting overwhelmed by the watch clients in the various components. Can you try adding back the `istio-policy` deployment and see if things still work?

[2018-08-23 18:47] duncanhealy commented on #8140
kubectl client 1.11.1 has a bug with cluster-info dump - was failing for me a while back running kubectl cluster-info dump with any server version - fix I used was to rollback client to 1.10.5 or 1.10.6!
[code]

[2018-08-23 18:59] venilnoronha opened #8190 "Need guidelines for creating out-of-tree mixer adapters"
**Describe the feature request**
Currently, it's possible to have out-of-process adapters via gRPC. It'd be great to have these adapters out of Istio tree. Good documentation around this would be really helpful.

[2018-08-23 19:12] rsnj commented on #7675
@douglas-reid If I just start `istio-policy` everything looks like its working.
I also tried starting `istio-telemetry` and then the entire system went down.

[2018-08-23 19:29] stoccoPismo commented on #4865
We are also having the same problem with istio-1.0, no matter what readiness/liveness probe we try, the requests still get connection err when applying changes to deployment or scaling down the pods.

Does anyone have an workaround for this issue?

[2018-08-23 19:31] theganyo commented on #8190
+1. And I could potentially help around this... once I get mine working.

[2018-08-23 19:32] #4524 closed

[2018-08-23 19:55] stoccoPismo commented on #4865
@FuzzOli87  that can be the case, trying to connect to an pod without the envoy side car can lead to these problems. I will give it a try.
This problem right now is happening to all my services

[2018-08-23 19:57] douglas-reid commented on #7675
@rsnj this seems like an issue with the resources given to the API Server. I'd suggest trying the experiment in reverse (delete both, then add back `istio-telemetry` and then, after testing, add back `istio-policy`).

Mixer (which backs both `istio-policy` and `istio-telemetry`) opens a fair number of watches (~40) on CRDs and otherwise. I suspect that the API Server in these clusters is just not

[2018-08-23 20:09] venilnoronha opened #8191 "Improve config.pb.go generation for out-of-tree adapters"
**Describe the feature request**
The [instructions](https://github.com/istio/istio/wiki/Mixer-Out-Of-Process-Adapter-Walkthrough) for creating out of process adapters suggests the following command for generating `config.pb.go`.

[code]

This has a couple of problems when working with out-of-tree adapters.

1. It depends on `$GOPATH/src/istio.io/istio`.
2. Needs the adapter to be at a relative loc

[2018-08-23 20:30] sputtag1 commented on #7952
@douglas-reid Thankyou, we followed the steps that you have mentioned. We were able to build the image, push it and apply it. But when the pod is starting we are running into this error: "container_linux.go:247: starting container process caused “exec: \“/usr/local/bin/mygrpcadapter\“: permission denied”". So why is it searching for the image at /usr/local/bin, while we have a different path set i

[2018-08-23 20:37] douglas-reid commented on #7952
You should probably consult the docker docs at this point, but you might try:

`FROM scratch ADD mygrpcadapter /usr/local/bin/ ENTRYPOINT ["/usr/local/bin/mygrpcadapter"]`

[2018-08-23 20:53] venilnoronha opened #8193 "Membership?"
I've contributed to Istio via the following and was wondering if I could obtain membership.

**PRs**
1. istio/istio#8064
2. istio/istio#8063
3. istio/istio#8037
4. istio/api#609
5. istio/istio#7833
6. istio/istio.github.io#2144

**Issues**
1. istio/istio#8190
2. istio/istio#8191

**Reviews/Comments**
1. istio/istio#7856
2. istio/istio#5379
3. istio/istio#8067
4. istio/istio#8068

/cc @rshriram @ma

[2018-08-23 20:56] rshriram commented on #7665
I checked the kube client code as well as the docs. https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-and-container-status

There is no way for pilot to know whether a pod is being terminated, as that status doesn't exist in the API. If someone finds it, please let me know. Otherwise, retry seems like the best solution so far

[2018-08-23 21:03] Stono commented on #7665
@rshriram I don't think you need to know if the other container is being terminated.  That's not really what I was trying to get across in the original issue.

Think about the kubernetes lifecycle, when a *pod* is terminated, both *containers*, eg the app and istio-pilot receive a `SIGTERM`, the pod is also marked as TERMINATING, at which point it is removed from the kubernetes endpoint list.

Bot

[2018-08-23 21:03] sputtag1 commented on #7952
@douglas-reid That dint work either. https://github.com/istio/old_issues_repo/issues/179 - our issue is similar to this one. We are using istio 1.0.0

[2018-08-23 21:03] anubhavmishra commented on #8030
I am seeing this too. Logs are as follows:

[code]

Kubernetes version:

[code]

Istio version:

[code]

[2018-08-23 21:06] Stono commented on #7665
OK, apologies - I think I miss read your comment.  In relation to pilot not knowing a pod is being terminated, wouldn't it get that event from the endpoint change?

As I mentioned before, when a pod is being terminated it is removed from the endpoints.

[2018-08-23 21:17] #8193 closed

[2018-08-23 22:31] douglas-reid commented on #8169
@JimmyCYJ can you please take a look at this issue?

[2018-08-23 22:32] #5190 closed

[2018-08-23 22:33] kyessenov commented on #8169
Dupe of https://github.com/istio/istio/issues/8133

[2018-08-23 22:34] douglas-reid commented on #8169
Closing in favor of #8133

[2018-08-23 22:34] #8169 closed

[2018-08-23 22:58] ayj commented on #7698
Should we consider moving the service registry ingestion code to a common top-level directory? i.e. `istio.io/istio/pilot/pkg/serviceregistry` => `istio.io/istio/pkg/serviceregistry`.

This would continued to be used by both Pilot in addition to Galley and any other out-of-process adapter that may wish to provide service registry information via MCP. We could keep the existing interfaces / data st

[2018-08-23 23:28] andraxylia commented on #7698
Absolutely!

Anything that can be re-used across components should be top level.

[2018-08-24 00:08] mandarjog commented on #7645
@theganyo can you test it against gcr.io/mixologist-142215/mixer:1.0.1-grpc1  build ?
The master build may not be ready yet.

[2018-08-24 00:19] hklai commented on #7672
Summarizing the current state:

#6974 -> Postponed to 1.1.
#7782 -> Fixed by #7784 (merged to master, but not release-1.0. Not critical enough.)
#7825 -> Merged to release-1.0
#7789 -> Merged to release-1.0
#7943 -> Fixed by #8044 (merged to release-1.0)
**#7675 -> Still open.**
#7944 -> Merged to release-1.0
#8015 -> Merged to release-1.0
istio/proxy#1924 -> Merged to release-1.0
#8055 -> Merged

[2018-08-24 00:45] voor commented on #6070
@nrjpoddar what would be the best way to follow the progress of that proposal?

[2018-08-24 00:47] yangminzhu opened #8202 "gometalinter failed to report lint errors due to missing dependencies"
**Describe the bug**
[gometalinter](https://github.com/istio/istio/blob/78d2f0e7770557872a66a3886d8d5a3eef1863dc/bin/linters.sh#L33) is one of the lint tools that will be ran when invoking `make lint`. However it failed to report a tons of lint errors when running in CircleCi due to missing dependencies.

**Expected behavior**
`gometalinter` reports all lint errors.

**Steps to reproduce the bug**

[2018-08-24 01:25] k opened #8203 "When tagging a release, don't have daily release build in helm"
**Describe the bug**
{{ Succinctly describe the bug }}
When uninstalling and reinstalling the chart, my grafana pod stopped being able to start because the new image was throwing a db migration error.

**Expected behavior**
{{ What did you expect to happen? }}
When reinstalling the chart, it would still work.

**Steps to reproduce the bug**
{{ Minimal steps to reproduce the behavior }}
Install the

[2018-08-24 01:32] hzxuzhonghu commented on #8187
/cc

[2018-08-24 02:45] yellowred opened #8205 "root-cert.pem is expired"
**Describe the bug**
Enabling jwt Policy `jwt-example` from Authentication tasks causes error when I try to connect to httpbin:
[code]

 Checking certificates:
[code]

**Expected behavior**
Expected successful response HTTP 200

**Steps to reproduce the bug**
Install istio 1.0 on a fresh kubernetes cluster. Follow Authentication tasks steps.

**Version**
1.0

**Is Istio Auth enabled or not?**
Isti

[2018-08-24 02:47] chanjarster commented on #8155
@douglas-reid Thanks for explanation.

[2018-08-24 02:56] chanjarster commented on #8019
Well this is not Istio's bug

[2018-08-24 02:56] #8019 closed

[2018-08-24 03:06] #454 closed

[2018-08-24 03:34] kyessenov opened #8208 "go generate broken on master"
`go generate ./mixer/...` fails with:
[code]

/assign @douglas-reid

[2018-08-24 04:06] #888 closed

[2018-08-24 04:07] quanjielin commented on #8205
It's still valid to 2019  - ```Not After : Aug 23 08:46:00 2019 GMT```

[2018-08-24 05:06] #4484 closed

[2018-08-24 05:12] BernhardRode commented on #7586
Sad but true, I can confirm the exact same behaviour:

➜  istio git:(master) k get pods -n istio-system
NAME                                        READY     STATUS             RESTARTS   AGE
grafana-777bdf8c65-ms9s9                    1/1       Running            0          19h
istio-citadel-7bcf9c887-7vd8l               1/1       Running            0          19h
istio-cleanup-secrets-vh964

[2018-08-24 05:59] jsco2t commented on #5726
Also having the same issue - I understand the benefits of `gateway/virtualservices` but for various reasons we aren't ready to transition to them yet. Any chance we can get this fixed in the 1.0.1 servicing release?

[2018-08-24 06:08] #4133 closed

[2018-08-24 07:08] #5878 closed

[2018-08-24 07:10] lucasponce commented on #8027
@awdrius @JohnDzialo Thanks for your details.
Definetely there is some issue with the networking configuration.
I'm trying to reproduce same environment to see if I can get same scenario and propuse a fix.

[2018-08-24 07:31] yellowred commented on #8205
Looks like the cert was updated

[2018-08-24 07:31] #8205 closed

[2018-08-24 08:08] #5582 closed

[2018-08-24 08:13] lichuqiang commented on #7877
I would like to help with this, but I think I need to make clear the requirement first.

Besides the symlinks issue, have we got any requirement that specific to istio (i.e. the istio common usage patterns described above)?

[2018-08-24 08:17] zhaohuabing commented on #8164
@douglas-reid
Thanks for the promote reply.

I'm following this document to install Istio control plane without Kubernetes: https://istio.io/docs/setup/consul/install/#setting-up-the-control-plane
It mentiones that Mixer can also be installed via docker(without k8s), but I didn‘t find an example in the downloaded Istio 1.0.0 release. The only reference I could find is the mixer configuration in ku

[2018-08-24 08:29] lucasponce commented on #8027
Ok, it seems the Helm Chart is missing here the kiali-jaeger port:
https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/kiali/templates/service.yaml

There is a PR coming to fix this:
https://github.com/istio/istio/pull/8115/files

Basically, kiali exposes the jaeger-query service with a proxy using an additional port, and it seems the Helm installation won't take it:
ht

[2018-08-24 08:38] hzxuzhonghu commented on #8208
@kyessenov I think we should also validate flags `-m`

[2018-08-24 08:40] ymesika commented on #8203
Agreed. The `1.0.0` tagged version of this file should point to `1.0.0`.
The `release-1.0-latest-daily` value picks up the latest 1.0.x build which isn't desired when working with the `1.0.0` tagged branch or the downloaded released source code.

cc @hklai

[2018-08-24 08:58] virnet opened #8216 "HTTP POST 502"
**Describe the bug**
post data to ingress, if body too large, ingress response HTTP 502, use tcpdump capture tcp packets, Existing packet retransmission,
![_20180824160644](https://user-images.githubusercontent.com/29397860/44575603-f0c70600-a7be-11e8-8544-856b7ab518df.png)
![_20180824161250](https://user-images.githubusercontent.com/29397860/44575605-f0c70600-a7be-11e8-921e-fef75fc67133.png)

**E

[2018-08-24 11:02] yellowred opened #8218 "Enabling Authentication Policy causes `upstream connect error or disconnect/reset before headers`"
**Describe the bug**
I have finished Authorization Task and enabled RBAC successfully. But in order to add JWT authorization I need enable Authentication. So I added a Policy from Authentication task:
[code]
After that curl starts to fail:
[code]
After I delete that policy everything works properly.

**Expected behavior**
Expect HTTP 200 or at least HTTP 401.

**Steps to reproduce the bug**
Instal

[2018-08-24 11:08] #6276 closed

[2018-08-24 11:26] robertpanzer opened #8220 "ServiceEntry with resolution DNS sometimes mapped to cluster of type EDS"
**Describe the bug**
I want to connect an external MySQL database, i.e. plain TCP communication over port 3306.
The database has an external hostname.
In the cluster I want to make this database available under a different hostname.

Therefore I create a Service to make the DNS name available in the cluster, e.g. `ext/istioprovider-dev-tcp`.
Then I created a ServiceEntry that uses the clusterIP of

[2018-08-24 11:34] robertpanzer commented on #8220
To clarify the meaning of "intermittently":
Sometimes after I create these resources the route works reliably.
Sometimes after I create these resources the route does not work at all.

[2018-08-24 11:47] robertpanzer commented on #8220
A reliable way to reproduce this is to first create the Istio resources.
After these changes are pushed out to the istio proxies create the Kubernetes service.
Then the cluster seems to have type EDS.

If I create the Kubernetes service first, wait a bit and then create Istio resource it seems to behave properly.

Currently I have an automated way to create the resources in the sequence Kubernetes

[2018-08-24 12:08] #6319 closed

[2018-08-24 12:42] awdrius commented on #8027
@lucasponce thanks for an update.

I've created that missing service manually.

[code]

The only downside is that now I need to kubectl port forward both kiali and kiali-jaeger to make "Distributed Tracing" work:

[code]
[code]

It makes sense as http://localhost:20001/api/jaeger return an address to the jaeger:

[code]

I get why it's implemented that way but I wish kiali would proxy requests to

[2018-08-24 12:47] lucasponce commented on #8027
Thanks @awdrius for the update.
Yes, the long term is to embed jaeger internally as a UI component to not need this proxy.
It is something we had in Kiali backlog and we hope to start working on next Sprint.
https://issues.jboss.org/browse/KIALI-1405

So, with the workaround put it in place, you can now get Jaeger correctly from Kiali pages ?
(Specially, it propagates the filter from the service d

[2018-08-24 13:01] awdrius commented on #8027
No worries, thanks for the speedy reply.

Jaeger is fully embedded and I can use its UI and see traces/spans. I do not have any complex services deployed yet so I do not know if complex queries work (I see no reason why they shouldn't). I'll try getting more of the stuff deployed and will post an update.

![2018-08-24-14 01 14_1846x804_scrot](https://user-images.githubusercontent.com/8440387/44586

[2018-08-24 13:08] lucasponce commented on #8027
Great @awdrius.
One of the features is to link this one from the service details page.
If you navigate from Services -> Details -> Tab Traces, you will see same info but filtered.

[2018-08-24 13:13] awdrius commented on #8027
Ah yes, it works: I can navigate directly to "Distributed Tracing" traces from "Services" tab meaning that that feature works. That is a neat integration!

[2018-08-24 13:45] frankbu commented on #6070
https://github.com/istio/istio/issues/7793
https://github.com/istio/istio/pull/8113
https://github.com/istio/istio.github.io/pull/2369

[2018-08-24 13:51] rsnj commented on #7675
@douglas-reid thanks for all your help with this issue. I forwarded all your comments to Azure support.

So I redeployed the `istio-telemetry` deployment and that pod just went into a CrashLoopBackOff state. So I deleted the `istio-policy` deployment and the `istio-telemetry` pod was stable, but my website went down with the error: `UNAVAILABLE:no healthy upstream`.

So far the only way the system

[2018-08-24 14:08] #5260 closed

[2018-08-24 15:21] k commented on #7823
@Douglas-reid thanks for pointing me to the relevant info. For now it seems single Prometheus instance will serve my need (it’s  supposed to support up to roughly 1000 servers I read online), but in the future if I need to revisit I can modify.

[2018-08-24 16:02] kyessenov commented on #8208
Certainly. There is a PR somewhere that should run go generate on presubmit. Seems like it hasn't been merged yet.

[2018-08-24 16:08] #3854 closed

[2018-08-24 16:17] ayj commented on #6437
No, not yet. `gen-meta` is already auto-generating types.go files with typeURL which is good enough for now.

[2018-08-24 16:32] ayj commented on #7586
Do you see the policy and telemetry pods in `CrashLoopBackOff` with the latest 1.0 branch snapshot _and_ galley validation disabled?

[2018-08-24 16:38] douglas-reid commented on #7675
@rsnj It appears, at the moment, that on AKS, you have to chose between policy or telemetry. If you aren't enforcing any policies in the Mixer layer (rate limits, whitelists, etc.), then I would recommend prioritizing telemetry (but that's the part of the system I spend the most time on, so I may be slightly biased). Istio RBAC currently does not require Mixer, so you'll still have some functional

[2018-08-24 16:44] myidpt opened #8223 "Merge collab-gcp-identity branch to master"
**Describe the feature request**
Due to the difficulty of a large merge https://github.com/istio/istio/pull/8056, we will gradually merge the collab-gcp-identity branch to master through a series of PRs.

[2018-08-24 16:44] #8223 closed

[2018-08-24 16:54] vhosakot commented on #722
I see this error too when I run istio 0.8 e2e tests with istio `0.8` and k8s `1.10.1`. Is there a solution/workaround for this?

[code]

[2018-08-24 17:00] rshriram commented on #8220
Overriding service registry level services is not supported. So the behavior is undefined when you try to reuse an already allocated service VIP as you seem to do above.
See if this helps: https://github.com/rshriram/istio-coredns-plugin
where you create the service entry with the appropriate IP. You need to program your KubeDNS to forward to this coreDNS as the upstream DNS server for the desired

[2018-08-24 17:07] sebastienvas commented on #7915
It is enabled. It works for test-release but not oncall for some reason.
https://github.com/istio/test-infra/blob/master/prow/plugins.yaml#L34

[2018-08-24 17:08] #5611 closed

[2018-08-24 17:11] hklai commented on #8203
All daily releases should have the correct tag in values.yaml.

I verified the tar balls in https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.0-20180823-09-15/gcr.io/ and found the right tag in install/kubernetes/helm/istio/values.yaml.

**tag: release-1.0-20180823-09-15**

Similarly, LTS releases should have the LTS version tag. The values.yaml in the tar balls on https://github.

[2018-08-24 17:25] ymesika commented on #8203
@hklai Sounds reasonable but I downloaded https://github.com/istio/istio/archive/1.0.0.zip and it has **tag: release-1.0-latest-daily**.

[2018-08-24 17:28] sebastienvas commented on #7915
I verified that the bot can write to the channel just fine. Checking if something is wrong when parsing the config.

[2018-08-24 17:29] hklai commented on #8203
https://github.com/istio/istio/archive/1.0.0.zip is a source code archive, so its values.yaml has the original tag value.

On the other hand, the release artifacts (i.e. istio-1.0.0-linux.tar.gz, istio-1.0.0-osx.tar.gz, and istio-1.0.0-win.zip) should have the right tag 1.0.0.

[2018-08-24 17:37] nrjpoddar commented on #6070
@voor the umbrella issue https://github.com/istio/istio/issues/7793 that @frankbu pointed is the best place to track where the community is headed for this overall functionality.

Regarding delegation and the proposal I submitted there was agreement on providing users with the ability to specify the merge behavior but nothing finalized in terms of implementation.

If there's a specific use case wh

[2018-08-24 17:48] voor commented on #6070
Historically, we leveraged the Nginx Ingress controller for Kubernetes, which used the decentralized Ingress type.  Seeing that Istio was approaching the VirtualService as a monolith was just a bit of a surprise for me, that's all.

[2018-08-24 17:49] #7915 closed

[2018-08-24 17:49] k commented on #8203
Okay thanks for the info @hklai, so it sounds like if I want the source for a specific tag or date I should download the release artifiacts from the releases tab or find it in that gcsweb online directory

[2018-08-24 17:52] hklai commented on #7672
It looks like #8091 is already in release-1.0 (#8194).
As for #7675, it seems like a resource related issue and there isn't anything we need in 1.0.1.

So it looks like we are good to cut 1.0.1 now. Any objection?

/cc @jasmine-jaksic

[2018-08-24 17:56] hklai commented on #8203
@k Correct.

I am closing this as I think this has been resolved. Feel free to reopen if you see more issue.

[2018-08-24 17:56] #8203 closed

[2018-08-24 17:58] nrjpoddar commented on #6070
This PR: https://github.com/istio/istio/pull/8113 addresses the simple Ingress type scenarios where the VirtualService resources with the same hostname only contain routes with no conflicting path match conditions.

[2018-08-24 18:04] brbarnett commented on #7586
Can you confirm you're referring to commit [a66a221](https://github.com/istio/istio/commit/a66a221bfe4cc068abad0c1fba93093600a5c6ef) and `--set global.configValidation=false` flag for Helm?

[2018-08-24 18:07] ayj commented on #7586
yes

[2018-08-24 18:15] brbarnett commented on #7586
It appears I still have the same problem:

    NAME                                       READY     STATUS             RESTARTS   AGE
    grafana-8cddb6cf5-fv2c2                    1/1       Running            0          4m
    istio-citadel-75cfbdf5d-ndsqn              1/1       Running            0          4m
    istio-egressgateway-79db7fcbff-c7pcg       1/1       Running            0

[2018-08-24 18:35] bluk commented on #4341
I've also encountered this issue when running a Kubernetes job which immediately tries to connect to a PostgreSQL instance. The job container failed with an `ERROR: connect ECONNREFUSED 10.99.214.72:5432`. I was thinking that it was because I enabled mutual TLS with Istio but I eventually found that just having the sidecar injected would cause this issue. If I ran the job without the sidecar being

[2018-08-24 18:52] costinm opened #8224 "If telemetry server is down or slow, envoy crashes"
Discussed on slack: to repro create a high load (2-3000 qps) on ingress, and kill the mixer pods.
The ingress shows a number of error messages that report can't be reached, and crashes (with
'signal: killed' message).

It is likely the mixer plugin doesn't have the right deadline or can't shed load. Telemetry should fail open.

[2018-08-24 18:52] costinm commented on #8224
For 1.0.2

[2018-08-24 18:55] rkpagadala opened #8225 "Istio 1.0.2 Tracker"
1.0.1 patch has been released on the 1.00 train.
We may create another patch release 1.0.2 next month if there are critical issues* in 1.0.1.

If you have any PRs that should be considered for 1.0.2, please add them to this issue.

(*) Critical Issues Definition
Regression of a feature that is used by customers in prior releases.
Runtime crashes that severely regress stability of the system (i.e.

[2018-08-24 18:56] rkpagadala commented on #8225
Referencing #7672 which is tracker for 1.0.1

[2018-08-24 19:07] ostromart opened #8226 "e2e_bookinfo test not working with auth"
using up to date release-1.0 branch:
kubectl create ns istio-system
kubectl apply -f install/kubernetes/istio-auth.yaml
(wait for pods to come up)
make e2e_bookinfo E2E_ARGS="--skip_setup --namespace=istio-system"

2018-08-24T18:58:38.563625Z	info	Waiting for rules to propagate...
2018-08-24T18:59:08.563774Z	info	Waiting for istio-ingressgateway to get external IP
2018-08-24T18:59:08.852196Z	info

[2018-08-24 19:46] lizan commented on #8224
It is likely due to OOM. What do we expect for this other than not failing, should mixer write pending reports temporarily to disk, or just drop the pending reports?

[2018-08-24 20:30] wattli commented on #8226
@incfly , could you take a look please? Thanks!

[2018-08-24 21:03] kronin opened #8227 "DestinationRule subset.name and VirtualService subset validation error typo"
**Describe the bug**
When creating a DestinationRule with an invalid subset.name (one that is not a valid DNS1123 label), the error message is:
"Error: validation error: subnet name is invalid: foo.bar"

**Expected behavior**
The error message should be:
"Error: validation error: subset name is invalid: foo.bar"

**Steps to reproduce the bug**
istioctl create -f foo.yaml <<EOF
apiVersion: networki

[2018-08-24 21:07] kronin commented on #8227
It's a one-character change in pilot/pkg/model/validation.go line 2051(master). Current employer makes it very difficult to contribute, else I'd submit a patch:

func validateSubsetName(name string) error {
        if len(name) == 0 {
                return fmt.Errorf("subset name cannot be empty")
        }
        if !IsDNS1123Label(name) {
                return fmt.Errorf("subnet name is inval

[2018-08-24 21:08] #6049 closed

[2018-08-24 21:27] gargnupur commented on #5306
/cc @ozevren , @geeknoid
Work done till now: there is a go.generate.diff target in Makefile now which can be run to update generated files in repo. This does not require any tools to be setup on developers box.
Work left: Run this target in circleci. While doing this, I got the error that docker run fails because it can't connect to docker daemon. To solve this, I think following needs to be done:

[2018-08-24 21:56] sputtag1 commented on #7952
@douglas-reid We have successfully deployed our custom adapter. But when we apply the handler/rules/instances in sample_operator_cfg.yaml.
We are running into this error:
[code]

[2018-08-24 21:58] hklai commented on #7672
1.0.1 is out. yay!
https://github.com/istio/istio/releases/tag/1.0.1

[2018-08-24 21:58] #7672 closed

[2018-08-24 22:04] gargnupur opened #8229 "Change request.timestamp and response.timestamp to use time's reported by envoy proxy"
**Describe the bug**
Currently request.timestamp is the time when envoy gets first check call and response.timestamp is the time when envoy gets first report call. Although good approximations, they are not really accurate with respect to when request actually came from client and when response was actually sent to client

**Expected behavior**
Use https://github.com/envoyproxy/envoy/blob/93657203

[2018-08-24 22:41] ZackButcher commented on #4363
I've also had some other customers hitting issues relating to Envoy startup. We need to pick this design work back up. I'll put it on the agenda for the Networking WG's next meeting to discuss.

[2018-08-24 22:42] dmyerscough commented on #7586
From the master branch there was a bunch of containers crashing. However, from the `release-1.0` branch the installation looks good.

@brbarnett did you use the `release-1.0` branch to install Istio?

[code]

I will leave this running for the next few days to see if Galley goes into a CrashLoop.

[2018-08-24 22:51] ZackButcher commented on #4244
Re-opening as help-wanted; this is, AFAIK, still an issue today. Shouldn't be too hard to fix.

[2018-08-24 23:02] louisvernon opened #8231 "1.0.x istio-autogenerated-k8s-ingress gateway uses 0.8 ingress selector"
**Describe the bug**
Helm templated YAMLs from the istio-1.0.x release template in the 0.8 ingress selector
 in the autogenerated gateway.

**Expected behavior**
I would expect the gateway istio-autogenerated-k8s-ingress to have a selector that matches the labels of the istio-ingressgateway service.
[code]
Instead we get:
[code]
In this
https://github.com/istio/istio/blob/8daa232df6ef7cdbb2987de11

[2018-08-24 23:03] mandarjog commented on #8224
Dropping is fine. This should only happen if no other upstream mixers are available.

I don’t think retry policy is set or used on this code path.

[2018-08-24 23:05] kyessenov commented on #8224
Dropping but recording how much got dropped. Endlessly accumulating failed RPCs seems like an anti-pattern.

/ref https://github.com/istio/istio/issues/5095

[2018-08-24 23:08] #5946 closed

[2018-08-24 23:17] rsnj commented on #7675
Just an update I left the cluster running for about 8 hours without `istio-telemetry` running. The `istio-policy` pod autoscaled to 5 instances that were all in a CrashLoopBackOff state and my entire cluster went down again. The cluster has zero load on it and only has a simple web service running without any external dependencies.

@douglas-reid I will try your suggestion next to enable telemetry

[2018-08-24 23:34] theganyo commented on #7645
Yup. It looks good! Thanks!

[2018-08-24 23:54] squillace commented on #8030
classic +1

[2018-08-24 23:57] squillace commented on #7688
me, too. I just tested this with 2.10 and 1.0 of istio, same error. did this happen?

[2018-08-25 00:41] #8165 closed

[2018-08-25 01:04] k commented on #8225
#7553

[2018-08-25 01:08] #5454 closed

[2018-08-25 02:43] hzxuzhonghu commented on #8227
/assign

[2018-08-25 02:43] hzxuzhonghu commented on #8227
Thanks @kronin

[2018-08-25 02:58] myidpt opened #8234 "Enable Ingress gateway to retrieve external certs via SDS from node agent"
**Describe the feature request**
Solves https://github.com/istio/istio/issues/7976.
This work has prerequisites (Istio team is working on them):
1. Get the merge work done: https://github.com/istio/istio/issues/8009. This work includes the node agent that is able to retrieve cert from Google CA and deliver it to Envoy via SDS. Envoy uses Google credential.
2. Envoy be able to load k8s [JWT](https:

[2018-08-25 03:08] #6266 closed

[2018-08-25 06:02] m1093782566 commented on #8167
If no one has objection to this, I will send a PR...

[2018-08-25 07:19] m1093782566 opened #8239 "Support install local test environment for Centos Platform"
**Describe the feature request**
Currently minikube and vagrant installation scripts only support debian/ubuntu and macos platform, for many centos users, there is no way to install a local test environment.

**Describe alternatives you've considered**
Support install local test environment for Centos Platform

**Additional context**
If no one has objections to this, I volunteered to send a PR.

c

[2018-08-25 10:57] #5075 closed

[2018-08-25 11:55] islinwb opened #8240 "Does the CI really work as expected?"

[2018-08-25 16:34] hklai commented on #8239
Contribution is certainly welcome. =)

[2018-08-25 16:44] hklai commented on #8167
The group is also working on a new test framework that runs all required istio components in memory without having to depend on k8s or gke. That should greatly improve testing/contributing experience.

However, that does not necessarily remove the need for testing with a cluster. So something like this can still be useful in the cases you described.

[2018-08-25 17:01] Stono opened #8243 "Istio upgrades still give me outages"
Going from 1.0.0 to 1.0.1 today, I had apps giving 503's with applications during the control plane upgrade.

Looking at the istio-proxy logs for the application, it looks like it lost a grpc connection then reconfigured once it reconnected.

[code]

I really can't stress how important it is that we're able to upgrade the control plane without causing mesh wide outages.

[2018-08-25 17:32] Stono opened #8244 "istioctl proxy-status not showing patch version"
Just upgraded to `1.0.1`, including all side cars, but they're still showing as `1.0.0`:

eg:
[code]

Purely cosmetic I guess.

[2018-08-25 17:57] #1774 closed

[2018-08-25 18:57] #4837 closed

[2018-08-25 19:28] mandarjog commented on #8243
Just confirming what you said: these 503s from just upgrading the control plane. No rolling restart of the applications which would inject the new proxy image.

Full logs from a few sidecars that reported 503s would be helpful.
Thanks.

[2018-08-25 19:31] Stono commented on #8243
@mandarjog Yes that's correct, we didn't touch the applications or their side cars.  Unfortunately I've since patched all deployments with the new sidecar too so I've lost those logs from the older pods.

I'll be doing another cluster however on Monday so I expect I'll see the same behaviour there.  I'll capture the logs from that.

[2018-08-26 00:57] #6097 closed

[2018-08-26 01:57] #2328 closed

[2018-08-26 03:46] dmyerscough commented on #7586
@ayj the changes you made look to have fixed the issue; I haven't seen any restarts :+1:

[2018-08-26 03:57] #4080 closed

[2018-08-26 06:15] m1093782566 commented on #8239
@hklai Thanks for your positive response :)

I will send a PR in recent days and will assign you for review when it's ready :)

[2018-08-26 07:45] Stono opened #8247 "High RAM usage for istio-proxy"
Hey,
The bump to 1.0.1 has significantly improved my boot times, yay, but I'm noticing a little higher memory footprint for the sidecars, they're all circa 220meg(ish) on our preprod cluster:

Numbers:
  - VirtualServices: 45
  - ServiceEntry: 14
  - Services: 76
  - Pods: 214

<img width="286" alt="screen shot 2018-08-26 at 08 32 33" src="https://user-images.githubusercontent.com/1486729/44625895

[2018-08-26 08:00] Stono commented on #8247
OK I've done some more digging in the dev cluster and it appears correlation =/= causation, I've found some `istio-proxy` pods on the less utilised cluster also using 2.5x the RAM of others:

<img width="268" alt="screen shot 2018-08-26 at 08 56 21" src="https://user-images.githubusercontent.com/1486729/44626053-ef582380-a90d-11e8-9c78-085d4c24a023.png">

What I have noticed is all the istio-proxi

[2018-08-26 08:14] #3568 closed

[2018-08-26 08:47] m1093782566 commented on #8239
I just sent out a PR(#8248), please check :)

[2018-08-26 09:14] #6623 closed

[2018-08-26 11:14] #6371 closed

[2018-08-26 12:29] ymesika commented on #8240
If you are asking whether the CircleCI is working correctly then no.
Many tests are broken on master now because of #8149.
#8245 is suppose to fix it.

[2018-08-26 13:14] #1452 closed

[2018-08-26 14:59] sdake commented on #7672
@hklai apologies on lag on a cherrypick on #8091.  I had originally thought cherrypicking would be the correct action for this repo, but have rethought that and believe direct merge for the helm preps make more sense.

Cheers
-steve

[2018-08-26 15:14] #626 closed

[2018-08-26 15:28] sdake commented on #6047
@costinm if you take a look at the PR submitted for this issue, the container ports are hard coded instead of dynamic.  This seems like an improvement to me as the root issue is "dynamic ports could cause breakage"

 Perhaps we don't need containerPorts at all to be specified in the yaml.  Is that why the issue was closed?

Cheers
-steve

[2018-08-26 16:14] #398 closed

[2018-08-26 17:14] #3619 closed

[2018-08-26 19:34] sdake commented on #6148
@aaronjwood if I parsed the bug log and PR correctly, the outcome the community desires is the ability to use either RSA or ECC crypto with a default to RSA and the ability to switch to ecc at deployment time.

[2018-08-26 19:43] aaronjwood commented on #6148
Yep, I just haven't had the time to circle back on this yet.

[2018-08-26 21:57] brbarnett commented on #7586
I used the [1.0.0-snapshot.2](https://github.com/istio/istio/releases/tag/1.0.0-snapshot.2) tag. Which commit/tag are you working off of, @dmyerscough?

[2018-08-26 21:59] dmyerscough commented on #7586
@brbarnett I worked off `release-1.0`

[code]

[2018-08-26 22:14] #1457 closed

[2018-08-26 23:14] #1443 closed

[2018-08-26 23:30] brbarnett commented on #7586
The `release-1.0` branch solved my problem. All pods are running and healthy in AKS. I misunderstood their branching strategy and assumed `master` would be stable v1.0. Thanks for your help, @dmyerscough!

[2018-08-27 00:13] rshriram commented on #8247
cc @PiotrSikora LCTrie mem optimizations don't seem to help.

[2018-08-27 00:14] #1441 closed

[2018-08-27 00:28] sdake commented on #8244
@Stono I'll take a look.

Cheers
-steve

[2018-08-27 01:14] #1436 closed

[2018-08-27 01:50] louisvernon commented on #8231
Thanks @rshriram. I don't quite follow your answer.
This is what we did - hopefully you can tell me where we went wrong.
- The default install creates the `istio-ingressgateway` LoadBalancer service (we have been using NodePort, but hopefully not relevant) through which traffic can enter the service mesh.
- The install also creates a default Istio Gateway `istio-autogenerated-k8s-ingress`.
- We bo

[2018-08-27 02:14] #6668 closed

[2018-08-27 03:11] lichuqiang commented on #7052
@ayj I have interest in this, have you got a proposal or draft for the idea?

[2018-08-27 03:48] lichuqiang commented on #4887
How's the thing going?
I'd like to help if possible :)

[2018-08-27 04:01] lichuqiang commented on #2413
How's the thing going?
I'd like to help if needed.

[2018-08-27 04:05] lichuqiang commented on #8148
Sounds interesting.
I'd like to help if possible (perhaps some of the downside implementations).

[2018-08-27 04:52] vpiduri commented on #2306
Hi Guys, I am facing similar issues with

* error reading ca cert file /etc/ssl/certs/ca-certificates.crt (Error while reading file.)

istio-proxy@consul1-v1-688df668c9-8cs25:/$ curl --verbose https://config.somedomain.com
* Rebuilt URL to: https://config.somedomain.com/
*   Trying 10.21.200.120...
* Connected to config.somedomain.com (10.21.200.120) port 443 (#0)
* error reading ca cert file /etc

[2018-08-27 05:14] #1428 closed

[2018-08-27 07:36] Szymongib opened #8261 "Can not get EnvoyFilter to work"
**Istio version: 1.0**

We would like to validate client certificate's Common Name with use of `EnvoyFilter`.

As a begining I wanted to create some simple filter that responds with 403 on every request:

[code]

Although I could not get it to work. The service was working the same as without the filter. Only thing I have found related to the filter in proxy logs was: `[2018-08-27 07:19:26.140][19

[2018-08-27 09:07] Szymongib opened #8263 "Forwarding client certificate info in header"
**Describe the feature request**
Provide ability to configure Envoy's [`forward_client_cert`](https://www.envoyproxy.io/docs/envoy/latest/api-v1/network_filters/http_conn_man#config-http-conn-man-forward-client-cert) option.

**Describe alternatives you've considered**
Provide some other way to pass client certificate's Subject to services.

**Additional context**
We use Istio Gateway to validate

[2018-08-27 09:15] #1426 closed

[2018-08-27 10:54] virendrasingh007 opened #8264 "Envoy's "per_filter_config" support in Istio"
**Describe the feature request**
{{ We want to use Envoy's "per_filter_config", which allows custom filters on envoy routing to having additional configuration and we have few use cases for the same. So hereby request is to add Envoy's "per_filter_config" support in Istio}}

**Describe alternatives you've considered**
{{ NA}}

**Additional context**
{{ Is this feature is already in plan/considerat

[2018-08-27 11:15] #2196 closed

[2018-08-27 12:12] dunjut commented on #6717
Same here.

`make init` then `make` outputs the `setup.go:347: envoy failed to get ready: map[]` error, caused by

[code]

[2018-08-27 12:29] 1282009188 commented on #7174
Has this bug been fixed in istio-1.0.1?

[2018-08-27 12:41] Lion-Wei opened #8268 "mixer/pkg/server TestErrors case result in host system err"
**Describe the bug**
After running ut case `go test ./mixer/pkg/server/ --run=TestErrors -v`, leave the host system some err, like:
[code]
Which is because `/dev/null` mod changed, before is `crw-rw-rw-`, and after test `srwxr-xr-x`.

**Expected behavior**
UT should have no influence for host environment.

**Steps to reproduce the bug**
1. Run unit test. `go test ./mixer/pkg/server/ --run=TestErro

[2018-08-27 12:46] sdake commented on #8167
@m1093782566 - note I use kubeadm (on bare metal) for all my workflows.  You may (or may not) find these scripts helpful:

[code]

where `configmap.yaml` is:
[code]

and `kubeadm.conf` is:
[code]

Note I test with multicluster, which is the rationale behind changing the service and pod subnets.  If you don't want to do that, you can leave those out.   Also I think the runtime-config is no longer n

[2018-08-27 12:48] Lion-Wei commented on #8268
@douglas-reid PTAL, thanks.
I'd like to send a pr to fix this problem, if this is not by design. : )
And by the way, I never got this case pass. Always failed in `TestErrors/unix_socket_removal`, is this case suppose return err `unable to remove unix`?

[2018-08-27 13:00] mihai-tiriplica-hs opened #8269 "Galley validator crashes for default webhook-config-file"
**Describe the bug**
If no option for webhook-config-file is sent to Istio Galley fails with the following error:
`cannot create validation webhook service: could not watch : no such file or directory`

I think it's caused by this check: https://github.com/istio/istio/blob/1.0.0/galley/pkg/crd/validation/webhook.go#L151
and that the fix should be to not set a watcher if there is no webhook config

[2018-08-27 13:14] m1093782566 commented on #8167
thanks @sdake - it is truely helpful to my work. I will add these scripts into my PR :)

[2018-08-27 13:16] Stono commented on #7872
This is still around in 1.0.1 (see https://github.com/istio/istio/issues/7872) - it's really noisy....

[2018-08-27 13:16] Stono opened #8270 "Excessive "gRPC config stream closed" log level"
Hey,
I'm unsure if this is something to be concerned about, but we're seeing gRPC stream close errors every 5 minutes in istio-proxy, since upgrading to 1.0.1

[code]

The proxies seem to be synced and up to date so i don't *think* it's causing any problems?

[2018-08-27 13:26] sdake commented on #8225
This may remove a regression - pending review: https://github.com/istio/istio/pull/8250

[2018-08-27 13:30] wmuizelaar opened #8271 "Have a nonroot proxy_init container"
**Describe the feature request**
We run our clusters with strict pod security policies, which don't allow things to run as root. The proxy_init container that set the iptables rules obviously needs to run as root, but we would like to have that more restricted.

**Additional context**
A solution that we implemented ourselves is to run the proxy_init with a pod security policy that allows the `NET_

[2018-08-27 13:43] linsun commented on #8082
Close since fixes are merged?

[2018-08-27 14:00] ijsnellf commented on #8019
Multiple headers with the same name are valid as long as the ordering is maintained and the values can be concatenated with commas (last paragraph):
https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2

[2018-08-27 14:26] wailua commented on #8261
The message in the logs is as expected as you havn't defined an "envoy_on_response" function (which is optional).

Can you also post your deployment?
You have to add "app: my-service" in your depoyment at spec->template->metadata->labels

[2018-08-27 14:55] sdake commented on #8271
@wmuizelaar what you describe is being worked here: https://github.com/istio/istio/pull/7488.  Note that setcap on files does not work correctly across distros from my recollection.  Istio remains platform agnostic and should run in as many environments as possible.

[2018-08-27 14:59] sdake commented on #8182
@silvasong how did you install?  The fact that 10.254.156.130 port 443 is inaccessible seems to indicate you have some form of networking problem.  IIRC the injector must be able to reach the control plane.

cc @ayj

[2018-08-27 15:08] sdake commented on #8131
cc @PiotrSikora

Please take a look at https://github.com/knative/serving/issues/1297#issuecomment-401058968 - there is a 5 second sleep during Envoy's startup.  The knative project use case is to spin up pods and kills them off dynamically depending on load.  During a spinup under load, unhealthy upstream often occurs (in my testing), however, I did notice it takes some time for the knative appli

[2018-08-27 15:10] wmuizelaar commented on #8271
@sdake ah! that looks great! I guess I can just wait until that is merged.

[2018-08-27 15:30] tcnghia commented on #8131
This was in 0.8.0.  I have not investigated this issue 1.0.x yet.

[2018-08-27 16:11] douglas-reid commented on #8268
@Lion-Wei That doesn't seem like it is by design.  So, please send a PR.

[2018-08-27 16:28] lachie83 commented on #7675
Related - https://github.com/Azure/AKS/issues/620

[2018-08-27 16:47] ayj commented on #8182
You didn't specific how you configuredk 8s on CentOS. Networking needs to be configured properly from kube-apiserver to reach the in-cluster webhook service. You may need to check your k8s provider specific instructions / troubleshooting guide /logs to verify things like CIDR ranges and `http_proxy` are configured correctly (see #4 on https://istio.io/help/ops/setup/webhook/#verify-dynamic-admissi

[2018-08-27 16:50] ayj commented on #7586
related https://github.com/Azure/AKS/issues/620

Let's close this issue since the galley specific problem seems to be addressed in the latest 1.0.1 release branch. Let's use https://github.com/istio/istio/issues/7675 to track the telemetry/policy liveness issue.

[2018-08-27 16:50] #7586 closed

[2018-08-27 18:15] #6448 closed

[2018-08-27 18:51] ymesika commented on #8130
It's possible to run Mixer per node but it's not just a matter of configuration and will require some code changes to support that.

The first question is what Mixer we want per node - Policy, Telemetry or both.

One approach, yet the simplest, of per-node is running the pods as `DaemonSets`. However when we discuss Mixer then it isn't that straightforward. Currently mesh config has the addresses

[2018-08-27 18:53] andraxylia commented on #2413
@qiujian16 I see your PR was closed, can you re-open and merge with latest ?

[2018-08-27 19:02] linsun commented on #8130
I think getting istio-policy running per node is more interesting as it is in the request flow so having it call local host can reduce network trips calling out to centralized mixer and hold up the call.

istio-telemtry running per node isn't that interesting IMHO as it doesn't block the request.

[2018-08-27 19:06] wattli opened #8272 "Mesh extension: Verify whether citadel check gcp service account to service name mapping"

[2018-08-27 19:06] quanjielin commented on #5074
This is done, documentation added
https://github.com/istio/istio.github.io/pull/2243
https://github.com/istio/istio.github.io/pull/2333

[2018-08-27 19:06] #5074 closed

[2018-08-27 19:11] kyessenov commented on #8130
Telemetry:
Per-node telemetry is actually fairly common. See https://kubernetes.io/docs/concepts/cluster-administration/logging/ for the architecture overview. Fluentd runs as a daemonset: https://github.com/GoogleCloudPlatform/container-engine-customize-fluentd/blob/master/kubernetes/fluentd-daemonset.yaml

Policy:
Per-node policy is also quite common. Calico uses a daemon set communicating with

[2018-08-27 19:15] #5941 closed

[2018-08-27 19:34] jnativio opened #8273 "perf: Telemetry optimization"
**Describe the feature request**
Improve the performance cost of the Istio Telemetry in terms of CPU usage as well as latency overhead.

**Describe alternatives you've considered**
Possibly using sampling to report metrics.

[2018-08-27 19:37] jnativio opened #8274 "perf: istio-proxy (envoy) optimization"
**Describe the feature request**
Improve performance of istio-proxy

[2018-08-27 19:40] jnativio opened #8275 "perf: Tracing (Jaeger) optimization"
**Describe the feature request**
Reduce the cost of the Istio Tracing component in terms of CPU usage and introduced latency.

[2018-08-27 19:41] jnativio opened #8276 "perf: Pilot optimization"
**Describe the feature request**
Optimize Pilot performance

[2018-08-27 19:42] jnativio opened #8277 "perf: Ingress Gateway optmization"
**Describe the feature request**
Improve performance of the Ingress Gateway

[2018-08-27 19:43] jnativio opened #8278 "perf: Egress Gateway optimization"
**Describe the feature request**
Improve performance of Egress Gateway

[2018-08-27 19:45] jnativio opened #8279 "perf: Statsd Prometheus bridge optimization"
**Describe the feature request**
Improve performance of the statsd-prom-bridge component.

[2018-08-27 19:53] jnativio opened #8280 "perf: Cache Management optimization"
**Describe the feature request**
Improve caching on Data and Control planes in order to minimize latency.

[2018-08-27 19:55] jnativio opened #8281 "perf: Buffer Management optimization"
**Describe the feature request**
Improve Istio buffer management

[2018-08-27 20:05] jnativio opened #8282 "perf: Improve the auto-scale parms for Istio components"
**Describe the feature request**
Currently, the cpu requests for Istio components are set to 10m which is very low, causing the hpa rules to trigger as soon the pods are deployed.

**Describe alternatives you've considered**
Use more realistic values to avoid unnecessary auto-scaling.

[2018-08-27 20:15] #4614 closed

[2018-08-27 21:10] yangminzhu commented on #8202
@geeknoid
Yeah, we cannot fix it simply like #8200, it's not reliable and people may run `make lint` locally and I don't want to change their local environment.

I think the root cause is those lint tools doesn't support vendoring? so I'm afraid it's hard to write a test that have a good coverage on possible failing cases, like in this one, we don't know those tools will fail for a missing depende

[2018-08-27 21:13] kyessenov commented on #8202
We used to run linters in a docker container, since that clearly solved all the dependency issues. Maybe we should just go back to that to at least get some functional linter enabled?

I don't like changing user's environment in general (installing software or messing with GOPATH).

[2018-08-27 21:15] #4610 closed

[2018-08-27 21:19] quanjielin commented on #5345
- envoy side change list
https://github.com/envoyproxy/envoy/pull/3554
https://github.com/envoyproxy/envoy/pull/4062
https://github.com/envoyproxy/envoy/pull/4216

- Istio proxy side change list
https://github.com/istio/proxy/pull/1900

- mixer side
https://github.com/istio/istio/pull/7919

- documentation

[2018-08-27 21:19] yangminzhu commented on #8202
@kyessenov
I mean only changing the $GOPATH in CircleCI, Not in user environment or `Makefile`. we have all the dependencies in the `istio.io/istio/vendor` directory, It seems it's just these line tools doesn't work with the vendored dependencies.
So even if running in a docker container, we still need to put those dependencies under `src` package if we do not want to change `$GOPATH`? and I feel

[2018-08-27 21:21] hklai opened #8283 "TestTCPMixerFilterPeriodicalReport is flaky and often fails"
**Describe the bug**
TestTCPMixerFilterPeriodicalReport has become flaky and fails more often than not in Prow.

According to https://k8s-testgrid.appspot.com/istio-postsubmits#postsubmit, the trend seems to have started since https://github.com/istio/istio/commit/5c3a283ad96010007ead9f34b9a7905988bfbadb

**Expected behavior**
No flake

**Steps to reproduce the bug**
N/A

**Version**
N/A

**Is Ist

[2018-08-27 21:26] kyessenov commented on #8283
Dupe of https://github.com/istio/istio/issues/8133, which seems to be closed too soon.

[2018-08-27 21:33] nmittler commented on #8283
Re-opened #8133 ... closing this as a dup.

[2018-08-27 21:33] #8283 closed

[2018-08-27 21:34] nmittler commented on #8133
This still seems to be an issue.  See #8283

[2018-08-27 21:35] kyessenov commented on #7841
/cc @hklai -- for your consideration, this is a proposal and a PR to merge proxy into istio repo. This is an easy solution to the divergence in the code bases (proxy changes failing to update corresponding istio tests).

[2018-08-27 22:15] #4404 closed

[2018-08-27 22:16] PiotrSikora commented on #8131
1. Are you also using Pilot or only Istio Proxy?
2. How many listeners / clusters are the proxies configured for?
3. A lot of startup issues were fixed in 1.0.0 and 1.0.1, so please test with the latest version, since you're unlikely to get any help for 0.8.
4. I recall `GrpcMuxImpl::establishNewStream()` retry timeout being fixed in Envoy, but I cannot find any PRs for it now.

[2018-08-27 22:29] myidpt opened #8286 "Citadel does not authorize the CSR based on JWT identities"
**Describe the bug**
When the Citadel agent sends a CSR to Citadel with JWT, Citadel does not verify if the JWT contains the identity that matches the requested identity in the CSR.
https://github.com/istio/istio/blob/collab-gcp-identity/security/pkg/server/ca/server.go#L82

**Expected behavior**
If the JWT carries identity not matching the requested identity, Citadel should reject the CSR.

[2018-08-27 22:30] myidpt commented on #8286
cc @costinm

[2018-08-27 22:38] lei-tang commented on #2802
https://github.com/istio/proxy/pull/1925

[2018-08-27 23:07] incfly commented on #8226
This is because our demo have `DestinationRule` for each BookInfo service does not have:
[code]

Adding these all the `DestinationRule` or removing all of them (we have a default destinationrule matching `*.local`, delete them should make this default take effect). Either should make bookinfo work.

[2018-08-27 23:16] gbaufake opened #8289 "I want to apply to join istio members"
Hello Istio Team,

I want to be part of istio members.

I think met the requirements: https://github.com/istio/community/blob/master/ROLES.md#member

My focus is on code quality, catching bugs, especially around the Helm Installer, Ansible Installer and Kiali related (policies and telemetry)

Some of my contributions (Pull Requests):
https://github.com/istio/istio/pull/8115
https://github.com/isti

[2018-08-27 23:18] gbaufake commented on #8289
/assign @gyliu513

[2018-08-27 23:54] tcnghia commented on #8131
@PiotrSikora I retried with 1.0.0 and it seems only take 1-2 seconds from the container starting to pass readiness check.  So this issue is fixed for 1.0.0.

[2018-08-27 23:54] #8131 closed

[2018-08-28 00:54] geauxvirtual opened #8293 "0.8.0 LTS deploys prom/statsd_exporter:latest image that introduced breaking change in 0.7.0"
**Describe the bug**
In the 0.8.0 LTS release files, there are .yaml files under install/kubernetes that deploy the `prom/statsd_exporter` container from `latest` image. Prometheus just released 0.7.0 of this container which introduced a breaking change of requiring command line parameters to use two dashs `--` instead of one `-`. The config yaml included in the 0.8.0 LTS files passes `-statsd.map

[2018-08-28 02:08] beefyamoeba5 opened #8295 "Envoy.ext_authz filter"
**Describe the bug**
I want to enable the enovy.ext_authz filter (with http_service in the filterConfig) on istio-ingressgateway.

Below is my EnvoyFilter manifest.

**$root@host1:~# cat istio_ingressgateway_envoy_filter.yaml**
apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: ext-authz
  namespace: istio-system
spec:
  workloadLabels:
    app: istio-ingressgateway
  fil

[2018-08-28 02:11] lichuqiang opened #8296 "Apply to be an istio member"
I want to be istio member.

I think met the requirements: https://github.com/istio/community/blob/master/ROLES.md#member

Mainly focus on config and API management, catching bugs

Some of my contributions (Pull Requests):

https://github.com/istio/istio/pull/8207
https://github.com/istio/istio/pull/7905
https://github.com/istio/istio/pull/7900
https://github.com/istio/istio/pull/8260
https://githu

[2018-08-28 02:12] hzxuzhonghu commented on #8296
+1

[2018-08-28 02:15] linsun commented on #8296
seems a good PR contribution to be invited as a member, anyone objects to this?

[2018-08-28 02:15] #3933 closed

[2018-08-28 02:37] PiotrSikora commented on #7817
@mandarjog wasn't this fixed in 1.0.1?

[2018-08-28 03:14] #8295 closed

[2018-08-28 03:15] beefyamoeba5 commented on #8295
The cause is found , not a bug.

[2018-08-28 03:15] #3129 closed

[2018-08-28 03:27] ldemailly commented on #3129
I think @mandarjog has done this!

[2018-08-28 04:06] mandarjog commented on #7817
Yes, it was, But we closed the issue before 1.0.1 was released.
We can close it now.

[2018-08-28 04:06] #7817 closed

[2018-08-28 04:15] #3386 closed

[2018-08-28 05:08] cizixs commented on #6085
Any update on this issue? same issue here.

[2018-08-28 06:15] #3383 closed

[2018-08-28 06:26] Szymongib commented on #8261
Yes, I have mentioned that log because it told me that the EnvoyFilter is visible to the proxy in the pod with desired application.

The label is also set in the deployment:
[code]
And I also have a service:
[code]

[2018-08-28 06:35] dunjut opened #8299 "Make failed on macOS"
**Describe the bug**

Following the [Dev Guide](https://github.com/istio/istio/wiki/Dev-Guide#building-the-code), `make` failed with the following details
[code]

I'm doing it on macOS.

Branch:
[code]

Most recent git commitId: 7904b4d58844582f4e87189020938b840bc0f378

[2018-08-28 06:56] gyliu513 commented on #8289
+1, thanks @gbaufake for the contribution!

/cc @sdake @linsun

[2018-08-28 07:27] namsoila commented on #5829
@izhukov What was your process for generating your own custom gateway?

[2018-08-28 07:30] arnecls commented on #8082
Yes.

[2018-08-28 07:30] #8082 closed

[2018-08-28 07:50] #8133 closed

[2018-08-28 08:04] dozer47528 opened #8301 "How can I make the istio-ingressgateway internal on AWS"
istio version: 1.0.1

I created kubernetes cluster by kops on AWS.

After I created the istio, I can find an internet-facing load balancer in AWS ec2 dashboard:
![image](https://user-images.githubusercontent.com/1676951/44709314-e917a200-aadb-11e8-9141-97ffbd890f7e.png)

How can I make this load balancer internal?

[2018-08-28 08:44] wailua commented on #8261
Looks good for me. You could try to debug it using request_handle:logInfo("Hello World"); and looking for it in the logs: kubectl logs <containerName> -c istio-proxy -n <namespace>

[2018-08-28 09:19] hzxuzhonghu opened #8306 "Should deprecate `--monitoringAddr`"
As https://github.com/istio/istio/blob/master/pilot/pkg/bootstrap/monitoring.go#L47 said
[code]

We should first deprecate `--monitoringAddr`  and eventually remove it in a future version.

cc @costinm @nmittler

[2018-08-28 10:00] dozer47528 commented on #8301
I added `--set gateways.istio-ingressgateway.type=NodePort` this flag when I install istio.
And I followed this guide: https://istio.io/docs/tasks/traffic-management/ingress/ but get `curl: (7) Failed to connect to 10.0.12.144 port 31380: Connection refused`

[2018-08-28 10:19] #4339 closed

[2018-08-28 10:35] MansM opened #8309 "envsubst is not default avail on macOS, kiali playbook failing"
**Describe the bug**
envsubst is not default avail on macOS

**Expected behavior**
able to install kiali dash through ansible

**Steps to reproduce the bug**
macOS, minishift with openshift 3.10.0, 1.0.1 release of istio:
ansible-playbook main.yml -e '{"istio": {"addon": ["kiali"]}}'

**Version**
istio: 1.0.1
minishift: v1.23.0+91235ee
openshift: 3.10.0

**Is Istio Auth enabled or not?**
{{ Did yo

[2018-08-28 11:19] #2352 closed

[2018-08-28 11:27] Stono opened #8310 "istio-proxy segfaults when it receives a non-mtls connection on an mtls port"
**Describe the bug**
We were experiencing segfaults on one of our istio-proxy pods:

[code]

We were struggling to get to the bottom of it, but we eventually found a cronjob that was periodically trying to talk to the pod without the mTLS credentials (obviously this shouldn't be allowed), when istio-proxy was getting that inbound connection it is segfaulting

I've recorded a terminal session which

[2018-08-28 11:30] mandarjog commented on #8310
@PiotrSikora perhaps issue with tls inspector ?

[2018-08-28 11:51] ymesika commented on #8299
Unfortunately the MacOS Envoy build is not at the same level as the Linux one. I believe the current binary which is being downloaded for the local test is missing that flag.

@rshriram what's the process of updating the Darwin build of Envoy? I mean, I can build it but who can update the online binary?

[2018-08-28 11:52] ymesika commented on #8293
Should be resolved by #8249

[2018-08-28 12:01] i-93 commented on #7659
Any progress on this issue?

I am able to reproduce it with Istio 1.0.0 and 1.0.1 on KOPS installed K8S (https://groups.google.com/d/msg/istio-users/OOSeCr50CpA/pPe8i1WACwAJ)

[2018-08-28 13:02] PiotrSikora commented on #8310
Trace-level log preceding the crash, which is unfortunately quite easy to replicate (so this is P0, cc @costinm):

[code]

[2018-08-28 13:07] Szymongib commented on #8261
Alright, I have tried deploying it on a clean cluster, only with fresh Istio 1.0 and it is working, so I guess the problem might be with some configuration on our cluster.

Thanks for help.

[2018-08-28 13:07] #8261 closed

[2018-08-28 13:11] PiotrSikora commented on #8310
Also, it seems that this is happening only for TCP proxy and not HTTP.

[2018-08-28 13:39] #8140 closed

[2018-08-28 13:53] EddiG opened #8312 "Example of using certmanager"
**Describe the feature request**
It would be very helpful to have an example of using the `certmanager` option in the documentation of Istio.

**Additional context**
Currently, we have the [options](https://preliminary.istio.io/docs/reference/config/installation-options/#certmanager-options) for leveraging it, but there is no corresponding example/task in the documentation.

[2018-08-28 14:02] duncanhealy commented on #7675
is it related to https://github.com/Azure/AKS/issues/618? - deleting the HPA stops the crash loop backoff in telemetry and policy

[2018-08-28 14:19] fleeto opened #8313 "Ratelimit doesn't work for egressgateway"
**Describe the bug**

Ratelimiting works for internal services, but doesn't work for the egressgateway

**Expected behavior**

Ratelimiting feature should work for both internal services and the egressgateway.

**Steps to reproduce the bug**
I'd run a 'sleep' deployment & service in the default namespace as the client service, and an 'httpbin' deployment & service in the 'istio-system' namespace a

[2018-08-28 14:33] diegomarangoni commented on #7665
I'm having the same issue.
Is there any workaround?

[2018-08-28 14:39] Stono commented on #7665
@diegomarangoni it sucks :-( but it is improved in istio 1.0.1

You can see these green lines as our deployments here and the blips are quite minor:

<img width="404" alt="screen shot 2018-08-28 at 15 36 43" src="https://user-images.githubusercontent.com/1486729/44730166-414ca500-aad8-11e8-863f-7400144cbd60.png">

We then use a RetryRule on the services:

[code]

Which further smoothes it.

But ye

[2018-08-28 15:19] #2296 closed

[2018-08-28 15:38] mandarjog commented on #7665
A chosen endpoint not being available can happen on the data path at any time. The sending proxy knows there is a problem when it receives conn reset, or 503 from upstream.  The datapath must be able to handle the case where it has slightly stale endpoints. Pilot cannot guarantee removal of endpoints in a timely manner. This is because 1. The event may be delivered late to pilot
2. Pilot may debou

[2018-08-28 16:19] #4117 closed

[2018-08-28 16:27] ostromart commented on #8226
Does this affect just make e2e_bookinfo or the online bookinfo example too?

[2018-08-28 16:32] incfly commented on #8226
Sorry, I may not explain clear enough:

- When istio-auth is enabled, every time you specify `DestinationRule` matching your service, it has to come with `ISTIO_MUTAL` mode for TLS.
- BookInfo example we only have CRD (not having `ISTIO_MUTUAL`) and test for no-auth mode.
- Thus when installing istio-auth.yaml we run the test, it failed; if customer use istio-auth.yaml, and use our sample bookinfo

[2018-08-28 16:33] andraxylia commented on #6299
@dmitri-d yes, it is available, help is greatly appreciated!

[2018-08-28 16:54] diegomarangoni commented on #7665
@Stono your workaround is working, increased the latency as expected, but working.
At least no more 503s, I am running in production :)

[2018-08-28 17:00] Stono commented on #7665
Glad it helped @diegomarangoni.  @mandarjog I largely agree with you, but we have to be *very* careful not to rely/fallback to "just do retries".   As retries can very quickly cascade (in a large microservice architecture like ours), and cause other problems.  They can also mask other issues.

I'm not sure how best to approach it, and I agree that 0 503's is probably unattainable, but there should

[2018-08-28 17:19] #4565 closed

[2018-08-28 17:49] andraxylia opened #8318 "Send pod/VM labels directly from Envoy to Pilot in the discovery request"
Envoy already sends Metadata associated with the discovery request, that is a map of KV pairs and contains currently environmental variables prefixed with ISTIO_META_ * .

We can use the same mechanism to send the Pod/VM labels/annotations used for source_labels filtering in the Gateway and VirtualServices, so Pilot will not need to read labels directly from Kubernetes. We can prefix them with IST

[2018-08-28 17:59] cameronmoreau opened #8319 "request.auth.claims[scope] does not allow a JWT with additional scopes"
**Describe the bug**
When enabling RBAC, the `request.auth.claims[scope]` [authorization property](https://istio.io/docs/reference/config/authorization/constraints-and-properties/#properties) only matches exact strings. The service role is not bound when a token contains sufficient scopes, but also has additional scopes.

**Expected behavior**
If the token has all the scopes the property value ask

[2018-08-28 18:25] Stono opened #8320 "Signals to detect stale proxies"
It would be great if metrics around the health of proxies was reported into prometheus, to allow us to detect stale/problem proxies as soon as possible.

I see this as an extension of https://github.com/istio/istio/pull/7465, when a pod is ready, but potentially out of sync, before it's been terminated by liveness probes.

I'd imagine it would be similar metrics to those reported by:

[code]

[2018-08-28 18:52] ymesika commented on #8318
Is it the same mechanism to be used by the Split Horizon EDS?

[2018-08-28 19:05] robertpanzer commented on #8220
Thanks for your response.
The plugin gives a good idea where to go and where to start.

[2018-08-28 19:05] #8220 closed

[2018-08-28 19:37] rshriram commented on #8231
istio-autogenerated-k8s-ingress should not even be present unless you enabled k8s ingress in Helm.

If you want to use Gateways, VirtualServices with the new gateway, please bind to gateway by name "istio-ingressgateway". Something like this
[code]

[2018-08-28 20:11] louisvernon commented on #8231
I see. We templated our istio.yaml [as follows](https://istio.io/docs/setup/kubernetes/helm-install/):
[code]
The generated yaml includes the following object:
[code]
We will follow your advice and deploy and bind our own gateway object to the `istio-ingressgateway `rather than patching the `istio-autogenerated-k8s-ingress` gateway object to select `istio-ingressgateway`.

Thanks.

[2018-08-28 20:31] craigbox commented on #7672
Do we compile 'release notes' or changelogs?  It seems like it would be a lot of work to reverse-engineer one from the [commit list](https://github.com/istio/istio/compare/3a136c90ec5e308f236e0d7ebb5c4c5e405217f4...af73923d620cfa52e4433a0102d0bbb80500d278).

[2018-08-28 20:32] hklai commented on #7672
Yes @geeknoid is preparing that.

[2018-08-28 20:33] linsun commented on #7672
yes - https://github.com/istio/istio.github.io/pull/2429

[2018-08-28 20:54] louisvernon commented on #7943
@lei-tang Did you test the istio-mesh-dashboard? It requires some changes to work with Grafana 5.2.3 (we did not test 5.2.2):

![image](https://user-images.githubusercontent.com/552230/44750255-16f7e900-aad2-11e8-86ca-5a5d24864f72.png)

[2018-08-28 21:05] lei-tang commented on #7943
@louisvernon The tests I did are generating some traffic in Istio and view the Istio service dashboard in grafana. The results are shown in the screenshots attached to #7945. The first screenshot shows the upgraded grafana version 5.2.2 and the second screenshot shows the Istio service traffic in the dash board of grafana 5.2.2.

[2018-08-28 22:09] john-a-joyce commented on #7411
Have you been able to try this using 1.0 code and if so do you still see this issue.   We are investigating a possible issue that could be the same,  but the setup is a bit different.  We are using 1.0 but it's a multicluster setup.  It is also on a GKE environment.    The endpoint that isn't populated is from a remote cluster.   Still doing a root cause but can provide an update here if we find s

[2018-08-28 22:14] john-a-joyce commented on #8184
I tried to look at some of the logs that were dumped and most are showing a size of 0 for me.  as an example tried to look at the kube-api server log.

[2018-08-28 22:51] andraxylia commented on #8318
@ymesika labeling of pods can be used for multiple purposes. This mechanism talks about how Pilot learns the labels from Envoy, not what Pilot uses the labels for.

[2018-08-29 00:08] yangminzhu commented on #8030
I think this is due to the `release-1.0-latest-daily` image doesn't include the PR that added the option `--identity-domain`. For more details see #7849.

As a workaround, I think you can either:
a) checkout and install from the `release-1.0` branch that doesn't use the `--identity-domain` option or
b) use this command `$ helm template install/kubernetes/helm/istio --name istio --namespace istio-s

[2018-08-29 00:11] yangminzhu commented on #7990
/cc @myidpt

[2018-08-29 00:12] yangminzhu commented on #7990
/cc @yangminzhu

[2018-08-29 00:17] squillace commented on #8030
@yangminzhu I'll give it a try first thing in the morning.

[2018-08-29 00:26] PiotrSikora commented on #8310
Added stacktrace.

[2018-08-29 01:28] hzxuzhonghu commented on #8320
+1

[2018-08-29 01:56] kyessenov commented on #8310
@PiotrSikora Is this an upstream bug? I don't see anything specific to mixer in the stack. Can you link an upstream bug?

[2018-08-29 02:32] dozer47528 commented on #8301
I reinstalled my kubernetes cluster and reinstalled istio again, it works now.

[2018-08-29 02:32] #8301 closed

[2018-08-29 03:35] kyessenov commented on #8270
xDS stream closure is harmless since the config is delivered in entirety (no deltas), but I don't know why pilot would be closing streams automatically every 5 minutes.

[2018-08-29 03:43] geeknoid commented on #3012
We need to be done so that we get proper command-iine help & docs for the commands.

[2018-08-29 04:15] ostromart commented on #8226
I'm not sure which destination rules you're referring to. From the run log, I see:
[code]
If you look at that file, those destination rules have ISTIO_MUTUAL.

[2018-08-29 04:51] kyessenov commented on #7328
I'd like to reiterate that we would like this set on ingress envoys. The load-balancing concern is outside of scope of istio, since it is usually handled by an external / cloud load balancer on the path to istio installation, and not programmed through k8s APIs.