[2019-06-27 16:12] scaratec commented on #15189
This is referring to istio 1.2.0.

[2019-06-27 17:01] peterwhitesell opened #15190 "Datadog tracing missing for gateways"
**Bug description**
When releasing the istio 1.1.5 helm chart with `global.proxy.tracer` value set to `datadog`, sidecar proxies are configured to send traces to datadog agent, however gateway proxies from the gateways subchart are still configured to send traces to zipkin

**Affected product area (please put an X in all that apply)**

[] Configuration Infrastructure
[ ] Docs
[X] Installation
[ ]

[2019-06-27 17:05] andrewjjenkins commented on #15171
@cscetbon That's an implementation option.  We discussed a little at the 6/20 networking meeting.  As long as the user experience feels like it went through both listeners I think it is great to optimize performance by omitting encryption+decryption.  Another example would be omitting actually making a loopback Envoy-to-Envoy TCP socket.

This may be hard to do from an implementation perspective,

[2019-06-27 17:12] howardjohn commented on #14744
More info, ref https://github.com/istio/istio/pull/14854/files. We do `Validate()` in duplicated locations sometimes

[2019-06-27 17:17] robertpanzer commented on #13719
I could reproduce the same problem with an own build of Istio-proxy(https://github.com/istio/proxy/commit/a975561b980463f08689d3debe33bb9eefc80c3d) from the release-1.2 branch on OSX without the Istio control plane.
Unfortunately the traces don't seem to tell much, but with a slightly modified configuration I could see that `response_handle:body()` throws an error:
I used this configuration:
[code

[2019-06-27 17:19] howardjohn opened #15191 "Potential CPU regression with distroless"
When moving to distroless images, ingressgateway seems to use 20% more CPU
![2019-27-06_10-18-10](https://user-images.githubusercontent.com/623453/60286729-f8ff3e80-98c4-11e9-9031-64662e72bcc3.png)

Note the spike too -- something went funky with my upgrade, but even after that the gateways used more CPU. What is interesting is that ingressgateway doesn't even use distroless yet, so it must be an

[2019-06-27 17:26] howardjohn commented on #15191
I think its plausible this is a master vs 1.2 regression rather than a distroless vs not distroless. Will explore some more

[2019-06-27 17:37] esnible opened #15192 ""make istioctl" no longer works"
"make istioctl" no longer works.

[code]

but the code has changed; I added a typo

[code]

This seems to have been caused by https://github.com/esnible/istio/commit/3ef921b984bcb5f8753c096613c712c4e995c6c2#diff-b67911656ef5d18c4ae36cb6741b7965

I am on OSX.

[2019-06-27 17:54] howardjohn commented on #15192
Fails on linux too

[2019-06-27 18:21] howardjohn opened #15193 "Pilot dashboard could use a refactoring"
Current issues:

* Pilot pushes attempts to show errors and non errors, but you essentially will never see the errors due to the number of pushes. See https://github.com/istio/istio/pull/14929
* Errors dashboard has some issues where the push error type is not displayed properly https://github.com/istio/istio/pull/14929
* There is no consistent place for errors. We have a pilot errors panel and th

[2019-06-27 18:22] JimmyCYJ opened #15194 "integration tests against Citadel Agent as a SDS proxy"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
We need an integration test framework with SDS clients, Citadel Agent and dummy CA backend, to test all the edge cases against Citadel Agent in a key/cert provision flow.

The tests run on local machine, so that the components are configurable in th

[2019-06-27 18:27] JimmyCYJ commented on #15168
About checking the UDS path, I have already filed a feature request on adding SDS prober in https://github.com/istio/istio/issues/15096

[2019-06-27 18:47] nmittler commented on #15192
Sorry about the breakage. Fix in #15196

[2019-06-27 19:20] mittalvikas opened #15197 "side car mounting issue"
I am using istio sidecar auto injection , I have grpc transcrpter Envoy Fliter which need a file which is mounted on shared drive on azure.But side car is not able to mount that directory because I have mounting configuration in my pod.

'''
apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: {{ .Values.filter.name }}
  namespace: {{ .Values.namespace }}

spec:
  workloadL

[2019-06-27 19:37] Ranger-X commented on #5829
I made the redirect work using protocol HTTP2 instead of just HTTP (Istio 1.2.0).
Example from my helm chart:
[code]

[2019-06-27 20:22] pitlv2109 commented on #15189
@quanjielin @JimmyCYJ

[2019-06-27 20:29] douglas-reid commented on #15193
@howardjohn thanks for putting together this list! the dashboard has been long overdue for a critical assessment. i'm happy to help get this in for 1.3. let's figure out a way to help make sure it gets done.

[2019-06-27 20:31] douglas-reid commented on #15188
/cc @mandarjog @kyessenov

[2019-06-27 20:39] quanjielin commented on #15189
The cert provision through ads is in memory instead of local files, so ls shows nothing is expected. From nodeagent logs certs were pushed down

[2019-06-27 21:14] skydoctor commented on #14335
Not sure if the helm changes have already been made or are under review to fix this? The solution is discussed in https://github.com/kiali/kiali/issues/865.

What I get from that is, to support the two basic cases of in-cluster and out-of-cluster Grafana, we would have to add a few more Grafana related variables to the chart and the corresponding defaults in values.yaml. The ConfigMap should look

[2019-06-27 21:19] pramodrj07 commented on #15173
Awesome! Thanks for the help guys. I was able to resolve it with a minor indentation and was finally be able to verify using the yamllint. :) Appreciate your help :+1:

[2019-06-27 21:19] #15173 closed

[2019-06-27 21:22] howardjohn commented on #15193
Sounds good. I've played around with the metrics a bit and look at the pilot dashboards all the time so I am definitely interested in doing this or helping do this

[2019-06-27 21:29] quanjielin commented on #15085
did you try 1.2 build on new cluster followed https://istio.io/docs/tasks/security/auth-sds/ ?
can you pull some nodeagent logs ? (```gRPC config stream closed: 14, no healthy upstream sidecar``` maybe caused by other issue)

[2019-06-27 21:30] #15189 closed

[2019-06-27 21:35] #12133 closed

[2019-06-27 21:41] vngzs opened #15204 "Frequent Envoy segmentation faults"
## Bug description

Envoy segfaults regularly in our production environment. That it crashes in the `onRead()` call in `TlsInspector::Filter::parseClientHello()` is particularly concerning.

Here is the backtrace:

[code]

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User E

[2019-06-27 21:42] howardjohn commented on #15057
@Kiddinglife take a look at https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#HTTPRoute. You can determine where you want to route to based on matching various things like headers, etc specified at https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#HTTPMatchRequest

In terms of fully custom lua/js, I am not sure this is possible today.

Istio does

[2019-06-27 21:58] #14264 closed

[2019-06-27 22:00] pitlv2109 opened #15205 "Metrics for Citadel agent"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Collect more metrics from Citadel agent, such as latency, number of retries, success rate, etc. Some of the work has been done by @JimmyCYJ for SDS metrics. This is useful for perf tests and for users in general.

- [x] Switch to use OpenCensus inst

[2019-06-27 22:00] howardjohn commented on #15204
It looks like you have some components from version 1.1.2 and some from 1.1.8 and some 1.1.7. It shouldn't cause the issue but I would recommend you keep all components at the same version, as that scenario gets the vast majority of the testing we do.

[2019-06-27 22:01] pitlv2109 commented on #15205
/cc @quanjielin @JimmyCYJ Feel free to assign yourselves or make changes :)

[2019-06-27 22:01] lei-tang commented on #14913
@mikedanese @myidpt
My understanding is that the k8s service account authenticated in https://github.com/istio/istio/blob/master/security/pkg/k8s/tokenreview/k8sauthn.go is the k8s service account on a workload pod, which does not have Citadel as audience. Thus, in this scenario, I am not sure Citadel can designate the audience as itself when invoking the TokenReview API.

[2019-06-27 22:04] vngzs commented on #15204
Thanks @howardjohn. We've been running Istio in production for a while, but this particular issue has limited its use in some critical components.

I am surprised the components are not all on the same version! We've used Helm to upgrade a couple of times. I can do some work to try to get everything on the same version without downtime.

[2019-06-27 22:06] howardjohn commented on #15204
You are possibly installing from the github source instead of the official releases and therefor using the release-1.1-latest-daily images or something

[2019-06-27 22:07] JimmyCYJ commented on #15205
1. We first need to convert prometheus library to open census library https://github.com/istio/istio/pull/14854/files.
1. Then we need to set up config to export metrics to prometheus server.
1. Some metrics require code refactoring. We can list most interested metrics, walk through them, and work in parallel.

[2019-06-27 22:11] #14557 closed

[2019-06-27 22:14] JimmyCYJ commented on #15194
/cc @pitlv2109 @quanjielin

[2019-06-27 22:14] andraxylia commented on #14520
Closed, will be addressed with changes proposed by Better Default Networking.

[2019-06-27 22:16] #14520 closed

[2019-06-27 22:17] howardjohn commented on #14496
Assigned to Yan who is working on this on envoy side. I'll pick up the work to configure it in Pilot side once it is ready

[2019-06-27 22:24] duderino commented on #15204
@vngzs how often do you see the crash and under how much load?

[2019-06-27 22:33] philrud commented on #14586
TLS "PASSTHROUGH" mode and URI-based routing are mutually exclusive. URIs are encrypted as part of HTTPS traffic which is opaque to the ingressgateway in "PASSTHROUGH" mode.

If you want to use URI-based routing you should allow ingressgateway to perform TLS-termination for you (e.g. by using "SIMPLE" TLS-mode), otherwise you're limited to "virtual host" based routing only (which is supported via

[2019-06-27 22:33] #14586 closed

[2019-06-27 22:44] andraxylia commented on #13906
Please also ask questions on discuss.istio.io.

[2019-06-27 22:54] vngzs commented on #15204
@howardjohn OK, I'll investigate the image use and try to correct it. While we _did_ build the 1.0.3 and 1.1.0 releases from GitHub source, although we used only tagged and released commits to create the (unmodified) charts. The last upgrade was to 1.1.3. I think the path forward would be moving to 1.1.8, but I'm hoping I can stick to `helm upgrade`s and won't have to do a `helm del --purge` to ge

[2019-06-27 22:55] venilnoronha commented on #15125
@sonahander in what order were the configurations deployed? `Service` first or `EnvoyFilter` first?

[2019-06-27 23:01] #13484 closed

[2019-06-27 23:03] #13398 closed

[2019-06-27 23:04] andraxylia commented on #13366
Is this still an issue with the latest release?

[2019-06-27 23:04] #13366 closed

[2019-06-27 23:08] JimmyCYJ commented on #13578
Tentatively assign to @PiotrSikora as I think the ingress gateway SDS works fine here. SSL connection has established successfully, which does not cause 404. It seems that the 404 is returned by routing rules. https://github.com/istio/istio/issues/13578#issuecomment-490351516

I could be wrong, please assign back to me if it is ingress SDS issue.

[2019-06-27 23:10] howardjohn opened #15207 "istio/installer needs a release process"
Currently there are two components of the installer: the manifests themselves, and the prerendered profiles to be installed with kustomize. Currently the prerendered templates are checked into the repo so they can be easily installed with `kubectl apply -k github.com/...`

Steps needed:
* Package the installer for the actual release binary. make sure we apply the same post-processing that we do no

[2019-06-27 23:15] #13274 closed

[2019-06-27 23:15] #13272 closed

[2019-06-27 23:17] Kiddinglife commented on #1430
+1 udp heavily used in game backend developments

[2019-06-27 23:19] #13200 closed

[2019-06-27 23:22] andraxylia commented on #12960
Is this still an issue with 1.2?

[2019-06-27 23:23] Kiddinglife commented on #15057
I see envoy has implemented UFO protocol to support quic 4 months ago. I believe adding that to Istio should not be hard task.

[2019-06-27 23:25] howardjohn commented on #15057
There is interest in doing so, but I am sure its easy. I think @rlenglet is working on it/familiar with it

[2019-06-27 23:34] PiotrSikora commented on #13578
I believe the issue is that you're using example config for  **PASSTHROUGH** mode, and expecting it to work in **SIMPLE** mode without any changes.

Notably, you're sending TLS-terminated traffic to port 443:
[code]
where NGINX expects TLS traffic, instead of port 80.

If you look at the response, it actually tries to redirect you to HTTPS using `Location` header.
[code]
(I'm not sure why the resp

[2019-06-27 23:36] pramodrj07 opened #15208 "Dynamic port creation upon adding services?"
Hi All,

I have deployed the ISTIO with all the pods running in istio-system namespace.

The ingress gateway chart exposes only a handful of ports. Let's say, I want to add 10 services that use the same HTTP protocol, is there a way to tell Istio to create and expose 10 nodeports or do we have to manually edit this configuration and update each time we add service?

https://github.com/istio/istio/

[2019-06-28 00:19] howardjohn commented on #15197
I think the problem is the file is mounted onto the application container, not the sidecar container?

[2019-06-28 00:21] JimmyCYJ commented on #12442
@howardjohn @andraxylia Can networking team take this one, or close it if the framework already exists?

[2019-06-28 00:35] #12105 closed

[2019-06-28 00:54] howardjohn commented on #12442
we have adsc which makes many connections and we do have tests with many connections so I think this is done?

[2019-06-28 00:58] rlenglet commented on #15057
I didn't look into the details of Quic, but I believe there's any general UDP support in Envoy.

And wok is not only required in Envoy. There's work required in the CNI. When using iptables REDIRECT (the default) for redirection, we can't redirect UDP traffic. This requires using the iptables TPROXY mode. Using TPROXY requires running the Envoy sidecar proxy with CAP_NET_ADMIN, which is not accept

[2019-06-28 01:11] kyessenov commented on #14884
@sdake Can you please reference the test log in prow? There is an artifacts folder attached to it that _may_ have a core dump.

[2019-06-28 01:12] irisdingbj commented on #12211
@liggitt Thanks!

Checked and we still need to work on samples, istioctl, test

Also now I have left Ingress unchanged, this part need to be migrated as well.

[2019-06-28 01:30] hzxuzhonghu commented on #15182
I mean this.  And i take a fast look at code, do not find the file watcher about the config file.

[2019-06-28 01:31] howardjohn commented on #12211
Also need to make sure Istio/installer is updated. I can own that

[2019-06-28 01:35] #11754 closed

[2019-06-28 01:48] howardjohn commented on #15182
take a look at https://github.com/istio/istio/pull/13480/files I think it modifies part of it. the part with the timer

[2019-06-28 01:55] hzxuzhonghu commented on #15182
Thanks, that's it.

[2019-06-28 01:55] #15182 closed

[2019-06-28 01:56] irisdingbj commented on #12211
Thanks John for taking care of istio/installer!

[2019-06-28 02:08] hzxuzhonghu commented on #14066
This is fixed by #14067 and #14072

[2019-06-28 02:08] #14066 closed

[2019-06-28 02:31] duderino commented on #15204
@PiotrSikora @htuch this is probably worth a gander.  I wonder if its something rare like a partial read from an incomplete client hello?

[2019-06-28 02:43] hzxuzhonghu commented on #13719
@gokhansengun By default it is 60KB, we can configure 96KB at most. I am not sure if this can meet your use case.

[code]

[2019-06-28 03:34] ramaraochavali commented on #15183
Yes, I meant specifying `PASSTHROUGH` loadbalancer type while creating `DestinationRule`.

So which approach should we take here - add that configuration in `DestinationRule` or add a flag to either in feature flags/mesh config and set this config for default 'PassThroughCluster'? Either would work for us.

I am leaning towards option #2 for now as it is simple.

We are blocked on this for one  of

[2019-06-28 04:03] hzxuzhonghu commented on #15088
I've seen this in 1.2.0 too
[code]

[2019-06-28 04:03] mikedanese commented on #14913
Token request allows an audience to be specified:

https://github.com/kubernetes/kubernetes/blob/47459465254b840b16220a163540631e416b22c2/pkg/apis/authentication/types.go#L121-L127

Token review accepts an audience:

https://github.com/kubernetes/kubernetes/blob/47459465254b840b16220a163540631e416b22c2/pkg/apis/authentication/types.go#L59-L64

cc @wattli

[2019-06-28 04:56] duderino commented on #13085
And will be in 1.1.11 too

[2019-06-28 06:06] gokhansengun commented on #13719
@hzxuzhonghu do you see a get to `http://edition.cnn.com/politics` returns headers greater than 60K?

I just made a get request and just got 1.5K of header data.

[2019-06-28 06:07] gokhansengun commented on #13719
BTW, the setup I described in the issue notes works without issues with bare Envoy. So I do not expect this to be an Envoy issue.

[2019-06-28 06:19] jotak commented on #14335
@skydoctor this is correct but this is very temporary, the settings have been refactored (along with those of jaeger and prometheus in Kiali) in v0.21.0

You can see a full setup here: https://github.com/kiali/kiali/blob/master/operator/roles/kiali-deploy/defaults/main.yml#L41-L81

[2019-06-28 06:24] c0d1ngm0nk3y commented on #12122
It is now part of the normal release process. So it will be available from 1.3 onwards.

[code]

Hence I will close this issue.

[2019-06-28 06:24] #12122 closed

[2019-06-28 06:44] #12147 closed

[2019-06-28 07:21] robertpanzer commented on #13719
I actually just tested this against the current master of Envoy and it also fails for me with the same error (OS X build from Envoy commit 9b096c31d36ee908888c071d2073d126693dc3c0)

[2019-06-28 07:29] mwieczorek commented on #11340
Adding comment just to make it not stale (I also would like to run jaeger agent as a sidecar)

[2019-06-28 07:31] Jonathan34 commented on #13009
i managed to get it working using the below and I don't get 403 anymore:
PS: i am not using workload identity
[code]

[2019-06-28 08:15] objectiser commented on #11340
This has already been documented: https://istio.io/docs/tasks/telemetry/distributed-tracing/jaeger/#before-you-begin (see option b).

This approach uses the Jaeger operator, which also provides the ability to inject the agent as a sidecar.

I'll close this issue, if further information is required in the docs then please reopen.

[2019-06-28 08:15] #11340 closed

[2019-06-28 08:21] idouba commented on #11130
Consider config postStart for app container to check envoy status.
`
 httpGet:
      path: /healthz/ready
`

[2019-06-28 08:40] robertpanzer commented on #13719
The HTTP 500 seems to be come from here:
https://github.com/envoyproxy/envoy/blob/9b096c31d36ee908888c071d2073d126693dc3c0/source/common/http/conn_manager_impl.cc#L2033-L2047

[2019-06-28 08:56] hzxuzhonghu commented on #11130
I think this makes sense.
[code]

[2019-06-28 08:58] hzxuzhonghu commented on #15041
/close

[2019-06-28 09:05] sonahander commented on #15125
Hi @venilnoronha I've tested both ways but it did not work.

[2019-06-28 09:10] Timoses commented on #15152
Thanks for the hint @howardjohn . It appears that Ship somehow manipulated the configmap.

I tested with `helm template` and it works!

Thanks for the help!

[2019-06-28 09:10] #15152 closed

[2019-06-28 09:52] ChangyuWang opened #15216 "Why envoyFilter is not isolated by namespace?"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
* If a envoyfilter with incorrect configuration created, the entire mesh could be crashed. So, why not support isolated feature like virtualservice or sidecar ?

**Describe alternatives you've considered**

**Affected product area (please put an X i

[2019-06-28 09:57] hzxuzhonghu commented on #7136
As the use case exist: when pod existing, app may need to communicate with outside. I would suggest allowing setting grace time before agent terminate envoy.

[2019-06-28 10:35] mnktsts2 commented on #13682
Even if `common_lb_config.healthy_panic_threshold` set to 0, envoy seems to shift to panic mode regardless of the value of the `common_lb_config.healthy_panic_threshold` ...

https://github.com/envoyproxy/envoy/blob/89d81e65df2a6b364bcf0af4c251241c2dd5866e/source/common/upstream/load_balancer_impl.cc#L222

[2019-06-28 10:53] gokhansengun commented on #13719
Sorry for the mislead @robertpanzer, I also get 500 in my Envoy-only setup.

I had used istio/proxyv2:1.1.3 and envoyproxy/envoy:v1.10.0 before and both produce 500.

So this seems to be an Envoy issue, can you suggest how to proceed? Should I create an issue there or move this one?

[2019-06-28 11:25] robertpanzer commented on #13719
It looks like this is due to the listeners buffer limit: https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/lds.proto#envoy-api-field-listener-per-connection-buffer-limit-bytes

per_connection_buffer_limit_bytes
    (UInt32Value) Soft limit on size of the listener’s new connection read and write buffers. If unspecified, an implementation defined default is applied (1MiB).

So the limit is n

[2019-06-28 11:35] robertpanzer commented on #13719
The default seems to come from here:
https://github.com/envoyproxy/envoy/blob/9b096c31d36ee908888c071d2073d126693dc3c0/source/server/listener_manager_impl.cc#L197-L198

[2019-06-28 12:14] dgn commented on #15086
I now have a working branch with the PEM inside the `MeshConfig`, populated by helm. You can specify the certificate when installing via passing `--set-file pilot.jwksCustomRootCa=mycertificate.crt` to helm, or manually editing the `values.yaml`.

If this shouldn't go into the MeshConfig, I would go down a slightly different route:
- make path to CA bundle within Pilot configurable via cmdline arg

[2019-06-28 12:19] Pluies commented on #12855
The [istio install guide](https://istio.io/docs/setup/kubernetes/install/helm/) documents both approaches. We like using Helm w/ Tiller (for all its faults :) ) so we go for option 2, which recommends (paraphrased):
- `helm install istio-init`
- Verify that all 23 Istio CRDs were committed to the Kubernetes api-server using the following command: `kubectl get crds | grep 'istio.io\|certmanager.k8s

[2019-06-28 12:45] gokhansengun commented on #13719
I can confirm that `per_connection_buffer_limit_bytes` is fixing the issue for me too.

I will create a separate issue for Envoy to log the fact in the console that the buffer limit was full for the request and the proxy had to give up. This will help troubleshooting the issues.

I agree on making Envoy property configurable in Istio.

[2019-06-28 13:28] danila-trushin commented on #9659
Comment to remain this issue opened. Investigations still needed as we have egress gateway in our custom namespace and exportTo doesn't resolve the problem.

[2019-06-28 13:40] ostromart opened #15217 "Remove call to exec kubectl in iop install command"
Currently, there's a cmd.Exec call to kubectl to install manifests in iop install. This is a temporary measure to unblock usability testing of the CLI tool and should be removed when integration with the real controller kubeclient code is complete.

[2019-06-28 13:50] frankbu commented on #13009
Are you sure the `x-forwarded-for` header is the problem? I'm wondering if the problem is visibility of the `DestinationRule` when there's no `VirtualService`. If you just add a NOOP `VirtualService` that simply forwards to the same host (i.e., take out the `headers` part, does that work too?

[2019-06-28 13:59] Jonathan34 commented on #13009
I do not have any `DestinationRule` anymore; I opened 80 and 443 to make the access happy although metadata only access 80.

[2019-06-28 14:22] howardjohn commented on #13009
@frankbu the x forwarded for header was changed in 1.2.0 which causes this issue, Here is the PR with merge resolved. https://github.com/istio/istio/pull/15167 reverts it which fixes the issue. I tested this by manual curling with x forwarded for (not through envoy) and it fails

[2019-06-28 14:27] howardjohn commented on #15183
Will EnvoyFilter not work for this? I haven't kept too much up to date on its development but I think this is like the exact type of use case it is intended for

[2019-06-28 14:39] howardjohn commented on #15207
Kustomize does only support github, so maybe we just need to publish our releases as branches. So some process that `make release` does whatever we need an pushes to release-xx branch. We maybe want to not name it release- because on other repos release- is the development branch *for* the release, not literally the release

[2019-06-28 14:47] dzmitry-lahoda commented on #1430
i am from games to. we consider if could `virtualize` games, could help a lot

[2019-06-28 14:53] Jonathan34 commented on #13009
Google support mentioned a fix is in preparation for 1.2.2 and being tested. Now i don't know if the fix means revert. Just FYI
Having an example from istio team is required now, we are all losing time deploying istio on GKE and using GCP services because of the lack of examples and guidance from the Google/Istio team. So it will be highly appreciated to have a recommended approach for that metada

[2019-06-28 14:55] UnwashedMeme commented on #10537
@frankbu I disagree some,

[2019-06-28 15:16] ozevren commented on #15088
@hzxuzhonghu Can you check with master HEAD or 1.2.x branch HEAD?

[2019-06-28 15:20] howardjohn commented on #15057
@rlenglet thanks, I never quite got the CNI/UDP/TPROXY connection until now.

[2019-06-28 15:42] abonas commented on #15157
But isn't Galley validating the json before the conversion when the request is received?

[2019-06-28 16:10] ozevren commented on #14788
@wattli @diemtvu @lei-tang
Folks, can one of you route this appropriately and get it fixed?

[2019-06-28 16:36] AWSmith0216 opened #15221 "Gateway Hosts Don't Match If Host Headers Include Port Number"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
A Gateway object's hosts list doesn't match against host headers that include a port

**Affected product area (please put an X in all that apply)**

[2019-06-28 16:46] JimmyCYJ commented on #12442
@howardjohn Thanks for the update. I am closing this issue now.

[2019-06-28 16:46] #12442 closed

[2019-06-28 16:49] howardjohn opened #15222 "Test Framework ReachabilityTest fails on naked->naked calls on minikube"
`./tests/e2e/local/minikube/setup_host.sh` then
`go test ./tests/integration/security/reachability/... -v -p 1 --istio.test.ci --istio.test.env kube --istio.test.nocleanup` leads to
[code]

Discovered by https://github.com/istio/installer/pull/262, because in the installer repo we run these tests on minikube

[2019-06-28 17:08] howardjohn commented on #15221
Maybe related, I think right now port 80 is a special case: https://github.com/istio/istio/pull/14346. @mbanikazemi what is the status on that pr? https://github.com/istio/istio/issues/14033

[2019-06-28 17:24] howardjohn commented on #11181
Another related problem, if you are on the border of 1 or 2 pilots needed, you get this really bad behavior where we keep flipping between 1 and 2 replicas and the pilot takes 30minutes to fully shed the load

https://snapshot.raintank.io/dashboard/snapshot/SceOCrNpdOr4qmTUk1UHF20xMiNqGk6K?panelId=4&fullscreen&orgId=2

[2019-06-28 17:36] #15029 closed

[2019-06-28 20:17] ostromart opened #15225 "Errors are too cryptic in Istio operator"
Much more work needs to be done to include context in the errors that are displayed to the user. Frequently, we are just returning err without wrapping any context around it which makes the error hard to track down.

[2019-06-28 20:29] howardjohn opened #15226 "VirtualService can create route to a cluster that does not exist"
Reproduce with
[code]

Clusters show
[code]

Route created:
[code]

The alarming part is here: `"cluster": "outbound|9081||svc-b.default.svc.cluster.local"`. This cluster does not exist.

Envoy logs `[2019-06-28 20:23:33.102][28][debug][router] [external/envoy/source/common/router/router.cc:319] [C27][S14180512412988955579] unknown cluster 'outbound|9081||svc-b.default.svc.cluster.local'` and 503s

[2019-06-28 20:36] ericvn commented on #15131
I was able to make code changes to run the SH test against two IKS clusters. A number of things needed to be done:
  - in test-values/values-istio-multicluster-split-horizon.yaml (updates to match new sample)
    - Add _network1_ in meshnetworks
    - set global network to _network1_
    - set int ingressgateway ISTIO_META_NETWORK env var to _network1_
  - kubernetes.go
    - don't create the mult

[2019-06-28 20:41] ericvn commented on #15131
I need to do some investigation based on the above:
  -  Is there an issue with getting the tokens and using in a kubeconfig instead of using the actual kubeconfig? Will this result in some expiring tokens that will cause theSH test to fail at some point.
  - Random failure in the test (once fails will fail until I do another ix ks cluster config on the remote cluster). I think there is something

[2019-06-28 21:09] linsun commented on #15124
should this be closed?  pls reopen if I'm wrong after you found it differently @Stono

[2019-06-28 21:09] #15124 closed

[2019-06-28 21:10] linsun commented on #15084
should this be closed - I don't see a PR associated with it.  this is referred as a fixed item in rel note.

[2019-06-28 21:20] kyessenov commented on #14884
@sdake Do you have a way to reproduce this outside of CI? A segfault in Envoy is a potential vulnerability so we need to get to the bottom of this.

[2019-06-28 21:24] silentdai commented on #15204
@vngzs Do you have the log lines above the crash moment?
FWIK the tls_inspector is done and the flow is to decide the listener. I cannot find something obviously wrong. Is there a coredump? Thanks!

[2019-06-28 21:34] #15084 closed

[2019-06-28 21:43] Monkeyanator opened #15228 "Add Grafana dashboard for Citadel"
**Describe the feature request**
Other major Istio components have Grafana dashboards (galley, pilot, mixer) to visualize their core metrics. We collect metrics from Citadel but do not provide a pre-made default dashboard. Such a dashboard might be useful for some operators.

**Describe alternatives you've considered**
Incorporating the Citadel metrics into another dashboard (rather than creating

[2019-06-28 21:50] dbarentine commented on #10336
I appeared to have inadvertently fixed this. I was messing with tracing and traffic management when I came across this page: https://istio.io/faq/traffic-management/ which at the bottom talks about port names.

It turns out my ports weren't named following the convention. Once I renamed them though, all the unknown traffic for the liveness requests seems to have disappeared from Kiali.

[2019-06-28 21:54] sushicw commented on #14190
Removing the static nodePort definitions from values.yaml seems to not break any tests: https://github.com/istio/istio/pull/15042

After asking around a bit, I haven't heard any reason why we shouldn't go ahead and remove the static nodeports from the helm config. If anyone has further thoughts, please add them here or on the above PR.

[2019-06-28 21:55] yangminzhu commented on #14788
This should already be fixed by https://github.com/istio/istio/pull/14910 in 1.2.

@daleangus you missed a few whitespaces before the `issuer` and `jwksUri` field, the correct yaml should be like the following:
[code]

[2019-06-28 21:58] yangminzhu commented on #14788
I'm closing this as it's already fixed. Please feel free to reopen if you have more questions. Thanks!

[2019-06-28 21:58] #14788 closed

[2019-06-28 22:06] hanymahajna commented on #15085
i reinstall istio 1.2 build using the link that you sent (https://istio.io/docs/tasks/security/auth-sds/ )
and here is the log from istio-proxy in httpbin app:
[code]

But what i see that the nodeagent does not start in all the nodes, it just runs on 5 from 12, so maybe it the core of my problem in 1.2
[code]
I checked the resources of the nodes, all of them have enough resources:
[code]

[2019-06-28 22:12] quanjielin commented on #15085
could you run below command to turn on trace level log in sidecar ?
to enter the proxy: kubectl exec -it pod -c istio-proxy -- /bin/bash, then curl -X POST localhost:15000/logging?level=debug

[2019-06-28 22:39] howardjohn commented on #12211
istio/cni still has old ones that need to migrate as well

@rlenglet @tiswanso

[2019-06-28 22:41] rlenglet commented on #12211
@howardjohn @tiswanso I have a PR to remove the istio/cni ones, that has been waiting for approval for a week: https://github.com/istio/cni/pull/130

[2019-06-28 23:02] yangminzhu commented on #14063
We have updated the RBAC API to v2 in Envoy, will send out a PR to update this in Istio.

[2019-06-28 23:05] hanymahajna commented on #15085
@quanjielin
i ran it, and here is the logs:
http://www.filedropper.com/logs_4

BTW, as i said before in my previous comment, i see the nodeagent does not ran in all the nodes,
so it may cause to this issue

[2019-06-28 23:05] yangminzhu commented on #14063
Actually this is already done in #15135

[2019-06-28 23:05] #14063 closed

[2019-06-28 23:06] #14638 closed

[2019-06-28 23:07] yangminzhu commented on #14603
Closing this one as we will switch to use the Envoy JWT filter in 1.3.

[2019-06-28 23:07] #14603 closed

[2019-06-29 00:01] douglas-reid opened #15229 "Bad environment variables in proxy lead to misleading metadata"
**Bug description**

There are some bad values for ENV vars for the proxy images:
- `ISTIO_PROXY_VERSION` is hardcoded to `"1.1.3"` (https://github.com/istio/istio/blob/master/pilot/docker/Dockerfile.proxyv2#L44)
- `ISTIO_VERSION` is set to `$istio_version`, which comes from `$VERSION` in the `Makefile`, which defaults to `"1.0-dev"` (https://github.com/istio/istio/blob/master/Makefile#L23)

If I

[2019-06-29 01:07] quanjielin commented on #15085
thanks, no nodeagent on machine that app runs will cause the problem

Could you pls double check ```kubectl get pods -n istio-system -o wide``` and ```kubectl get pods -o wide```(if you app run in default namespace, it will print out machine name), to check which machine your application runs, and if there is nodeagent running on that machine ?

If yes for 1, I don't know why since nodeagent deplo

[2019-06-29 01:10] yangminzhu opened #15230 "TestSdsVaultCaFlow is constantly failing for the past week"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
It started to fail in post-submit since 06/23.
https://k8s-testgrid.appspot.com/istio-postsubmits-master#integ-security-k8s-postsubmit-tests&width=2

[2019-06-29 01:15] hzxuzhonghu commented on #15088
I am gonna upgrade galley image.

[2019-06-29 02:04] hzxuzhonghu commented on #15226
/assign

[2019-06-29 02:08] hzxuzhonghu commented on #15226
[code]

The cause is u set two hosts in VS, we should not set multi hosts unless what we do.
Though, i think it is better if we can prevent in system level.

[2019-06-29 02:44] #8369 closed

[2019-06-29 02:54] hzxuzhonghu commented on #15226
I can think of the following additional checks in validation.

1. reject when multi shortname hosts specified

1. reject when hosts contain both shotname and Service FQDN

1. reject when hosts contain multi-service FQDN

[2019-06-29 04:08] ramaraochavali commented on #15183
I think it might work. But the reason I am proposing alternative is because
- We need this immediately , so looking for a solution that we can start with and migrate to EnvoyFilter if it works later
- And possibly exposing API for this does not harm as we do not have to go via complex EnvoyFilter manipulation for this simple setting.

[2019-06-29 04:18] mnktsts2 commented on #13682
@codependent @GregHanson Could you reopen this isuue ?
My PR(#15220) solved only istio side config error.
Your issue ("not allowing to evict all replicas") has remained yet.

I guess, it need PR to envoy repo. Like following changes.

[code]

[2019-06-29 04:33] #15192 closed

[2019-06-29 05:16] csantanapr opened #15232 "rbac namespace-level access control not working"
**Bug description**

rbac namespace-level access control not working

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[x] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
Followed the instructions in

[2019-06-29 07:02] Carmon-Lee commented on #8096
the same for me

Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.5", GitCommit:"17d7182a7ccbb167074be7a87f0a68bd00d58d97", GitTreeState:"clean", BuildDate:"2017-08-31T09:14:02Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.11", GitCommit:"637c7e288581ee40ab4ca210618a89a555b6e7e9", GitTreeStat

[2019-06-29 08:56] #12152 closed

[2019-06-29 09:56] #12176 closed

[2019-06-29 14:18] aanoaa opened #15234 "Automatic sidecar injection failing after re-installed"
**Bug description**

couldn't deploy application on namespace which is `istio-injection` label enabled.
when this error occurs, no log message `sidecar-injector-webhook`.

~~[Manual sidecar injection](https://istio.io/docs/setup/kubernetes/additional-setup/sidecar-injection/#manual-sidecar-injection) is working.~~

**Affected product area (please put an X in all that apply)**

[ ] Configuration In

[2019-06-29 14:29] hanymahajna commented on #15085
I think that I found the issue,
it was in my deployment, I add some annotation that makes it just deploy to on-demand node, so it wasn't deployed to spot instances

[2019-06-29 14:29] #15085 closed

[2019-06-29 20:35] cscetbon commented on #15171
@andrewjjenkins I understand, I thought that change would be *minor* but I don't really know istio's code. I also agree regarding the cost/performance ration to take into account in order to make it more efficient.

Any ETA for 1.3 ? I'd like to know how long it''ll take before I can test and use that feature.

[2019-06-29 20:56] #10916 closed

[2019-06-29 23:56] #10819 closed

[2019-06-29 23:57] lei-tang commented on #15230
This problem may result from the pod running the testing Vault server is restarted by GKE, which necessitates initialization, unseal, and configuration of the testing Vault server. I have initialized, unsealed, and configured the testing Vault server.
This test is in postsubmit already and  I agree with John's point in https://github.com/istio/istio/pull/15233 on this test failure: "I think it's f

[2019-06-30 00:49] aanoaa commented on #15234
this is happened when i was uninstall then install again.
at first time, <https://istio.io/docs/examples/bookinfo/> was working.

but now, all example pods can't starting.

    $ kubectl describe replicaset productpage-v1-689ff955c6
    ...
    Events:
      Type     Reason        Age                 From                   Message
      ----     ------        ----                ----

[2019-06-30 01:02] jaygorrell opened #15235 "Sending requests to Ingress Gateway immediately after creation can cause long-term problems"
*** **Update**: Replacing the original issue with the latest info. There was some irrelevant data that added confusion before this was more understood ***

**Bug description**
If I curl an ingress gateway with `-v`, I can see that it responds on one of the three ELB IPs... the other two just hang.

I'm pretty certain I've narrowed this down to happening when sending traffic to a `Gateway`/`Virtual

[2019-06-30 01:07] jaygorrell commented on #15235
Possibly not related, but I did observe that by default (no gateways) an ingress gateway elb will respond instantly with an `Empty reply from server`. After adding and then removing a gateway, I get a similar _hanging_ behavior.

I call it out because it's odd, but the bigger issue is getting different results at random through an ELB.

[2019-06-30 03:57] howardjohn commented on #15235
Is this related? https://github.com/istio/istio/issues/14102#issuecomment-501513047

[2019-06-30 06:50] vadimeisenbergibm commented on #9659
It seems the solution is as follows, starting from 1.1. There is `exportTo` field in DestinationRule https://istio.io/docs/reference/config/networking/v1alpha3/destination-rule/#DestinationRule which allows to export the destination rule to the current namespace. So you can deploy the egress gateway into a separate namespace, and define the destination rule to specify mTLS in that namespace with `

[2019-06-30 07:45] yanivroz commented on #7479
I'm facing the same issue and restarting the ingress gateway pod in order to reload the new certificate is less than ideal.
if the Gateway could somehow detect that the content of the key/cert was changes and reload them that would be great.

[2019-06-30 11:57] aanoaa commented on #15234
manual sidecar injection failed.

    $ istioctl kube-inject -f samples/sleep/sleep.yaml | kubectl apply -f -
    serviceaccount/sleep unchanged
    service/sleep created
    deployment.extensions/sleep created

    $ kubectl describe replicaset -l app=sleep
    ...
    Conditions:
      Type             Status  Reason
      ----             ------  ------
      ReplicaFailure   True    FailedCrea

[2019-06-30 14:38] jaygorrell commented on #15235
It does sound like it could be, given the relationship with ELBs and upgrade path -- but my ELBs in all 4 environments are already `Cluster`. And I was able to fix them by re-creating with no config changes.

[2019-06-30 14:42] jaygorrell commented on #14102
Looks like there was a time when the default was flipped in 1.0, corrected by https://github.com/istio/istio/pull/9143.

[2019-06-30 17:01] MirtoBusico commented on #13052
I have the same problem with istio 1.2.2 on K3S in a fresh install
`kubectl get pods --all-namespaces`
says
[code]

[2019-06-30 18:59] jaygorrell commented on #15235
I cleaned up my gateways/vs last night after this testing and tried rolling things out again today -- the issue popped back up. Across the 4 environments, 3 of them respond on one of the 3 ELB IPs while the other responds on 2 of the 3 ELB IPs.

It's very strange, but seems unrelated to the above issue/comment. My other ELBs in the same subnets (my old gateway) are working fine... this is specific

[2019-06-30 21:02] darwin67 commented on #14102
Thanks, that's good to know.
Pretty possible I might have been using the changed default without knowing since we started using Istio around November or December 2018.

[2019-06-30 21:07] markuszm commented on #15234
Most likely this is related to #13762 and #13840 as in these issues, sidecar injector is also restarted and admisson hooks are failing afterwards.
In all these issues this one included, EKS is used and this issue here is also using EKS.

Does your issue with sidecar injection also fix itself after around 20 minutes?

[2019-07-01 00:35] jaygorrell commented on #15235
Okay, it seems like if I left it sit long enough without adding rules it settles down. What could possibly explain this, given that the issue is 100% tied to the ELB IP it gets.

[2019-07-01 01:17] aanoaa commented on #15234
still failing.

[2019-07-01 02:18] incfly commented on #7479
@yanivroz you can refer to https://istio.io/docs/tasks/traffic-management/ingress/secure-ingress-sds/

let's file separate issue if you encountered any issue or have further FR.

[2019-07-01 02:18] #7479 closed

[2019-07-01 02:49] zqzzq commented on #13321
@DragonSuper Have you succeeded? Now I want to compile and package the istio image in ARM too.

[2019-07-01 03:39] howardjohn commented on #12362
Prow can do it with `verify-owners` plugin. https://prow.k8s.io/plugins

[2019-07-01 04:36] springrain opened #15236 "Isito 1.2.0 application can get source IP, 1.2.2 cannot be get"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Isito 1.2.0 application can get source IP, 1.2.2 cannot be get

The web application gets the visitor's ip, similar to request.getHeader("X-Real-IP")

[2019-07-01 04:45] ostromart opened #15237 "Makefile needs cleanup"
The current makefile needs some TLC. In particular:
- vfsgen should have dependencies on data/
- go generate should be fixed
Generally tidy it up and make consistent with istio.io.

[2019-07-01 04:47] ostromart opened #15238 "iop manifest parity with helm e2e tests"
Test are required to ensure that values.yaml customizations directly to helm vs. going through the operator CLI result in the same manifest.

[2019-07-01 04:51] ostromart opened #15239 "user gateways are not supported in values_types.go"
values_types.go is supposed to be a schema for values.yaml.
Currently, it does not support user defined gateways, which is possible when using helm directly.
Either provide an unvalidated passthrough for user defined gateways or (better) figure out how to represent this in the existing Go structs. Preferably without a custom unmarshal if it can be avoided.

[2019-07-01 04:52] ostromart opened #15240 "Migrate operator repo to Go modules"
We are still using dep and should switch to Go modules.

[2019-07-01 04:55] ostromart opened #15241 "Integrate operator iop command into istioctl"
This should be relatively straightforward, but attention must be given to the fact that istioctl assumes 1:N for Istio versions, which iop currently has a single hard coded version.

[2019-07-01 04:56] ostromart opened #15242 "istio.io docs for operator CLI mode"
Create user facing docs for the istio.io website.

[2019-07-01 04:59] ostromart opened #15243 "Tool to diff between manifest generated through iop and either cluster or manifest file"
To assist with migration, iop install tool must guarantee that a new cluster installed with a user config installed with the new API will be identical a previous version installed with helm.
To help with the migration, a tool is being created to migrate values.yaml to the new API but as a verification, a diff tool is required also.

[2019-07-01 05:00] divya21raj opened #15244 "JWT authentication still causing Segmentation Fault in Envoy, after 1.2.2 update"
**Bug description**
I raised an issue previously (#15084) reporting a seg fault in the proxy upon trying JWT authentication. Although the latest update promised to fix this, I'm still facing the issue. Here are the logs ->
[code]
[Here](https://raw.githubusercontent.com/divya21raj/Istio-Powered-Sentiment-Analysis/master/pub_key.json) is my public key. I've changed it a bit from last time and made

[2019-07-01 05:02] ostromart opened #15245 "Integrate with kustomize"
The current API has a simplified path spec/overlay mechanism for customizing the output manifest.
It would be useful to provide built in support for kustomize, since this is now available as a library. In this model, the kustomize overlays could come from a local path or be mounted in the container.

[2019-07-01 05:06] ostromart opened #15246 "Multi-cluster install"
Support a basic recommended case of multi-cluster installation. This includes docs for user experience, modifications to the API and code to perform any required actions when iop install is run with a multi-cluster CR defined.

[2019-07-01 05:14] ostromart opened #15247 "Create a release process"
Operator is intended to be released alongside Istio, since it has compiled-in charts and a behavioral dependency on Istio.
Some open question include:
- should charts be released separately as an install package for an operator, since it's possible to specify an URL target for the charts? This will eliminate need to constantly upgrade the operator binary to get latest charts but requires work in o

[2019-07-01 05:17] ostromart opened #15248 "Semantic validations for new API and values.yaml"
The current validations are very bare-bones and are just a simple syntax and schema check. While this is a big improvement over helm, we want to go even further and prevent cases of incompatible parameters, questionable values and just in general a lint-like functionality to help users find errors in their config.

[2019-07-01 05:21] ostromart opened #15249 "Create a single source of truth for values.yaml docs"
Currently the istio.io installation docs are auto-generated by concatenating all helm values files and scraping the comments.
This leads to very unreliable and poorly structured docs, not the least because it's mixing schema and data.
Ideally, since we now have a Go struct schema for values.yaml (values_types.go), the docs should go as comments in that file. It's possible then to compile the Go st

[2019-07-01 05:31] yanivroz commented on #7479
@incfly thanks for the tip.
I followed the SDS task and it worked perfect. exactly what i needed.

[2019-07-01 06:44] richardwxn commented on #15101
Looks like @morvencao you are already working on the PR for add unit tests

[2019-07-01 06:58] robertpanzer opened #15250 "HTTP 1.0 requests are rejected with HTTP 426 from pods without sidecar to pods with sidecar"
**Bug description**

Recently support for HTTP 1.0 was added for sidecar to sidecar (#11511) communication and for gateways (#14448).
However HTTP 1.0 requests are still rejected with HTTP 426, Upgrade Required, from pods without a sidecar even though pilot is running with the env var `PILOT_HTTP10=1`.
This seems to come from the fact that the protocol option `AcceptHttp_10` is only set for the si

[2019-07-01 08:39] rkamisetti792 opened #15252 "ingressgateway can't access http service with TLS termination"
Bug description
I tried to set up a gateway and virtual service for an http service.
used SIMPLE mode for the TLS termination in gateway
And the http service return upstream connect error or disconnect/reset before headers. reset reason: connection failure
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: sample-tls-gateway
spec:
  selector:
    istio: ingressgateway
  serve

[2019-07-01 09:12] dotw commented on #11808
hello, I have the similar issue. side cars are not injected by default even auto injection is enabled.

[2019-07-01 09:38] IamGabrielWu commented on #14205
I keep getting this error
[code]
And my scenario is I created two separate ingress gateway in two different namespaces. Like below
Namespace api-testing
-  cicdapi-testing-ingress-gateway
Namespace cicdapi-production
-  cicdapi-production-ingress-gateway
Namespace istio-system
-  istio-ingress-gateway

And i checked the logs from discovery
[code]

I don't know why it can't find pilot and how can i

[2019-07-01 11:15] MrBlaise commented on #15020
I've upgraded the cluster to 1.2.2 the node agents properly upgraded, but with mtls enabled I still have to restart all of my services because the old sidecars are rejecting the requests :/  The pods without mtls enabled started to work after a minute or so but they also had downtime.

[2019-07-01 12:02] hzxuzhonghu commented on #15088
I can still see GoAway error, but only one time.　
[code]

It is because client will adjust keep alive time when receive too many pings error.c And current keep alive time by default is 30s, but keepalive.EnforcementPolicy.MinTime is 1 minute.

[code]

[2019-07-01 12:20] kramerul commented on #15244
I analysed the backtrace

[code]

<pre>
Disassembly of section .text:
Envoy::Http::JwtAuth::Verifier::Verify(Envoy::Http::JwtAuth::Jwt const&, Envoy::Http::JwtAuth::Pubkeys const&):
  ...
  4a5dc6:	49 8b 8c 24 a8 00 00 00 	movq	168(%r12), %rcx
  4a5dce:	4d 8b 84 24 b0 00 00 00 	movq	176(%r12), %r8
  4a5dd6:	4c 8b 4d b0 	movq	-80(%rbp), %r9
  4a5dda:	48 8b 55 b8 	movq	-72(%rbp), %rdx
  4a5dde:	48 8

[2019-07-01 12:39] divya21raj commented on #15244
So, is there something wrong with the public key?
[Here](https://dell-sa.auth0.com/.well-known/jwks.json) is the Auth0 public key which worked. And [here](https://raw.githubusercontent.com/divya21raj/Istio-Powered-Sentiment-Analysis/master/pub_key.json) is mine which didn't.

[2019-07-01 12:57] kramerul commented on #15244
I don't think that there is something wrong with your public key.
I only added some information to ease the further root cause analysis.

[2019-07-01 13:18] Stono opened #15255 "Populate `destination_service` on 502 Bad Gateway errors"
**Describe the feature request**
The recent changes by @howardjohn that make requests that are not configured in an applications `Sidecar` [return a 502 rather than a 404](https://github.com/istio/istio/issues/12760), are great - however they'd be even more great if the `istio_requests_total` metric populated the `destination_service` with the fqdn of the target host.  That way we'd be able to rea

[2019-07-01 13:21] Stono commented on #15124
I've rolled out 1.2.2 and it's working as expected, thank you all.

[2019-07-01 13:21] ayan1207 opened #15256 "EndUser authentication is not working when applying on specific service where as EndUser authentication is working fine when we are applying on ingress-gateway"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**EndUser authentication is not working when applying on specific service where as EndUser authentication is working fine when we are applying on ingress-gateway **

**

[2019-07-01 13:21] soulseen commented on #5278
i met the same problem in istio-1.1.7

[2019-07-01 14:04] vadimeisenbergibm commented on #14258
@zhangbo1882 It works on master, does not work on release-1.2. @howardjohn should I handle it for release-1.2? I am not sure if it is important, since we can just update the yamls without updating the source code of bookinfo.

[2019-07-01 14:09] gokhansengun opened #15260 "Make Envoy's per connection buffer limit configurable"
This is a followup from #13719. As @robertpanzer shown there, Envoy allows to set `per_connection_buffer_limit_bytes` per listener as given in below example:

[code]

This limit appears to be 1MB and it cause Envoy to generate an HTTP 500 when an EnvoyFilter is added to the chain and the Filter has to make a buffered read due to its business requirements. When the HTTP response is bigger than 1MB,

[2019-07-01 14:13] gokhansengun commented on #13719
Created two issues to track enhancements in both Istio and Envoy. Closing this one as it is no bug.

[2019-07-01 14:13] #13719 closed

[2019-07-01 14:30] vadimeisenbergibm commented on #14258
Should be fixed by https://github.com/istio/istio/pull/15261.

[2019-07-01 14:43] ceisenach commented on #9504
To provide some additional data points, I am on 1.2.0 and also experience these issues. In my case, it occurs when there are one or more `DestinationRule`s which refer to a `Service` that does not exist. For example, this can happen when you have a `DestinationRule` to split traffic between versions of the same service, but not all of those versions are actually deployed in your cluster.

Interest

[2019-07-01 14:50] tibetsam opened #15410 "pilot ctlz listening on ipv4 in ipv6 cluster"
i'm running istio in an ipv6 cluster. But when i check ports which pilot is listening. I found one of port(9876) is listening on ipv4 loopback.

root@mastermint:~/go/src/istio.io/istio# kb exec istio-pilot-557f858dc4-26d9v -nistio-system -- netstat -anp
Defaulting container name to discovery.
Use 'kubectl describe pod/istio-pilot-557f858dc4-26d9v -n istio-system' to see all of the containers in th

[2019-07-01 15:10] howardjohn commented on #15247
May need some coordination with https://github.com/istio/istio/issues/15207

[2019-07-01 15:26] morvencao commented on #15101
@richardwxn oh... yes, that's included in https://github.com/istio/operator/pull/58

[2019-07-01 15:26] fleeto commented on #13204
I don't know if my suggestion is right or not.

Here is what I'm thinking of:

Client Service->Envoy proxy of the Server->Shared uds file->Server.
It means that: http->envoy->uds.

And I'd tried in these steps:

1. Create an nginx deployment (nginx.yaml) as the workload.
   - There is an EmptyDir volume for the `nginx.sock`, mounted as `/nginx-run/`
   - Nginx inside the workload container is list

[2019-07-01 15:55] howardjohn commented on #15236
Can you clarify exactly what you mean by "get source IP" so we can reproduce this more easily?

[2019-07-01 16:01] quanjielin commented on #15020
@MrBlaise from which version did you upgrade to 1.2.2 ?

[2019-07-01 16:02] MrBlaise commented on #15020
@quanjielin 1.1.8

[2019-07-01 16:06] quanjielin commented on #15020
did you mean when you upgrade 1.1.8 -> 1.2.2, pods needs to be restarted ? if yes, that's expected since the fix on 1.1(https://github.com/istio/istio/pull/15105) isn't in 1.1.8

[2019-07-01 16:33] MrBlaise commented on #15020
I see, thanks. It's gonna be a pain on production but at least later this shouldn't be a problem.

[2019-07-01 16:37] #15099 closed

[2019-07-01 16:57] howardjohn commented on #15229
Some more context, my understanding is that:

`ISTIO_PROXY_VERSION` is used as the "proxy capabilities version". In the code we check for this var to determine what the proxy can do (can it serialize `Any` types? etc).

`ISTIO_VERSION` is the actual istio version. While this is 1.0-dev when you build it, in the actual releases this (should) be correct.

It is a common source of confusion though. I

[2019-07-01 17:29] rcaballeromx commented on #15186
@bradenwright Can you help me understand what conditions you want to set up to route the traffic? Based on the configuration you shared:
[code]
I am not entirely sure what conditions need to be met for a request to reach a service in the blue subset, for example.

[2019-07-01 17:35] rcaballeromx commented on #15145
@mrtalley IMO the problem can also be in the value you used for `hosts` in the routing rule:
[code]
Have you tried using the name of the service entry instead?
[code]

[2019-07-01 17:38] rcaballeromx commented on #14923
@jaygorrell
Could there be an application level conflict causing the issue?
Please check our updated docs on the topic: https://istio.io/docs/concepts/traffic-management/#compatibility-with-application-level-fault-handling

[2019-07-01 17:43] rcaballeromx commented on #14740
@Tomasz-Smelcerz-SAP Can you point me to the sample you mentioned? I could not find any mention of `websocketUpgrade: true` on the Istio reference docs you linked.

[2019-07-01 17:48] rcaballeromx commented on #14660
@rajusharma Could this be related to: https://istio.io/docs/tasks/traffic-management/egress/egress-control/#envoy-passthrough-to-external-services ?

[2019-07-01 18:24] costinm opened #15264 "Customize the image and tag of Istio components"
We need a documented and tested mechanism to customize the image and tag for
all Istio components.

Kustomize should use the https://github.com/kubernetes-sigs/kustomize/blob/master/docs/fields.md#images

For Helm we should try to use a similar syntax in values.yaml.
This will deprecate or extend the current use, which is (example):
[code]

The kustomize style is:
[code]

In particular, it means t

[2019-07-01 19:19] springrain commented on #15236
The web application gets the visitor's ip, similar to request.getHeader("X-Real-IP") or
  request.getHeader("X-Forwarded-For"), istio 1.2.0 version can get the correct ip, 1.2.2 has always been 127.0.0.1

[2019-07-01 19:27] howardjohn commented on #15236
In 1.2.0 we made a change to this area, that had unintended side effects. We decided to revert the change by default and a flag to turn it on. I suspect with the flag youll get the behavior you need?

You'll need to set the environment variable `PILOT_SIDECAR_USE_REMOTE_ADDRESS=true` on the pilot deployment (discovery container). You can do this with `--set pilot.env.PILOT_SIDECAR_USE_REMOTE_ADDRE

[2019-07-01 19:31] springrain commented on #15236
How to set the environment variable PILOT_SIDECAR_USE_REMOTE_ADDRESS in isti-demo.yaml, is there a document?

[2019-07-01 19:43] howardjohn commented on #15236
That file is just intended to try out istio and doesn't support customization. If you want to customize settings you should follow https://istio.io/docs/setup/kubernetes/install/helm/

You could also `kubectl edit -n istio-system deployment/istio-pilot` and manually do it but its not a supported way of modifying Istio

[2019-07-01 19:49] springrain commented on #15236
Mainly I did not install helm, thank you very much, I tried

[2019-07-01 19:55] peterwhitesell opened #15265 "DataDog tracing - enable Trace Search and Analytics"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
DataDog APM _Trace Search and Analytics_ feature can be enabled in [multiple ways](https://docs.datadoghq.com/tracing/trace_search_and_analytics/agent_trace_search/?tab=agent630). Either at the tracer level, or in the DataDog agent config, with conf

[2019-07-01 21:33] yangminzhu commented on #15244
@divya21raj I think this is indeed related to your public key here

The `n` parameter in your [public key](https://raw.githubusercontent.com/divya21raj/Istio-Powered-Sentiment-Analysis/master/pub_key.json) is `5RO1teTQl6CGV/rhOxxdC0534AaWqqGMkBQ5lVDRHdFllfZ19OHN4ssWUqaE7KFGZLTXdAlMgvKFUYNscXT8QNmkVaTTMLA5Lg5zmTzWWQkuuEJjA+1eXm0gIuL0Oyx+s6PQwlcI81tdGTmd1hwMqCrjVRnm+cNvsQ0DNZhagKcuigezP29yhu3KqWXz5/

[2019-07-01 21:35] costinm opened #15267 "Moving SDS to Beta"
Epic for grouping all required and optional steps for beta/production use of SDS.

This is specific for use of SDS for Sidecars -  use of SDS for Ingress secrets is already relatively
stable and bugs/gaps for SDS-for-ingress should be addressed in separate issues.

[ ] SDS must be used for communication with the XDS server (pilot)
[ ] SDS enabled in Pilot, Mixer, Galley
[ ] Gradual adoption of SDS

[2019-07-01 21:42] costinm opened #15268 "Pilot agent won't start if SDS is used for control-plane security."
Epic: https://github.com/istio/istio/issues/15267

Issue: if controlPlaneAuthPolicy is enabled, but SDS is used to communicate with Pilot - the sidecar will keep looking for mounted certificates.

Desired behavior, taking into account 'upgrade' and gradual adoption:
- Pilot agent should verify that the SDS UDS path exists:
-- use SDS_PATH environment variable, with a list of ":" separated paths (

[2019-07-01 21:51] costinm opened #15269 "Citadel configuration option on which tokens to accept"
Epic: #15267

Currently Istio injection and pilot can be configured to use either the weak, long lived, unscoped k8s token or the new token type that expires, has audience - but is not supported in all k8s environments.

However Citadel doesn't appear to have any documented option in values.yaml to
enable/disable either of those tokens.

It is not clear if the default installation in 1.2 ships wit

[2019-07-01 22:19] crazyxy commented on #13710
Respect DNS ttl has been merged into upstream Envoy. `respect_dns_ttl` is the switch to turn on/off and feature.

[2019-07-01 22:21] howardjohn commented on #14331
I got the same stack trace on sending https requests. `curl https://destination` causes this consistently.
Logs (envoy log/crash is from the destination) and config dumps attached:
[segfault.zip](https://github.com/istio/istio/files/3347521/segfault.zip)

NOTE: I am running a completely broken pilot image that has a bug (its in development PR), so my config  is super messed up

[2019-07-01 22:24] gargnupur commented on #7695
Added this test using new integration test framework.. hence closing..

[2019-07-01 22:24] #7695 closed

[2019-07-01 22:25] howardjohn commented on #13710
Nice!

[2019-07-01 22:41] ostromart opened #15270 "Architecture docs for CLI and new API"
Docs oriented towards ramping up devs looking to contribute.

[2019-07-01 22:43] ostromart opened #15271 "Architecture docs for controller framework"
Docs to help contributors ramp up on that part of the code. General overview that helps with reading of the code and comments in there.

[2019-07-01 22:45] ostromart opened #15272 "Design docs for operator"
This doc should provide rationale for why the work is being done, and background and status quo, as well as related issues (upgrades, security, performance etc.)

[2019-07-01 22:47] crazyxy commented on #14496
I am not sure if I understand the requirement correctly. Do we want to support external service with FQDN for locality lb?

I added an external service using FQDN to the the locality endpoints. The config dump is like:

[code]

I found that the client can access `httpbin.org` and the `/cluster` shows healthy upstream.

[code]
`34.230.136.58` and `52.0.57.170` are two IPs resolved by DNS for `httpb

[2019-07-01 22:53] mandarjog opened #15273 "Operator should produce manifests that are diffable - in a consistent way"
At present a textual diff between `iop manifest` and `iop manifest -f custom.yaml`  is enormous. The reason is that the manifests are produced in a non-repeatable way. Most likely this is due
* Raging over Maps inside the code without sorting
* merging slices in an inconsistent way.

You can use
`istio.io/istio/bin/diff_yaml.py` to see what the actual differences.

[2019-07-02 01:07] IamGabrielWu opened #15275 "Envoy proxy is NOT ready: config not received from Pilot (is Pilot running?)"
I had the error "Envoy proxy is NOT ready: config not received from Pilot (is Pilot running?)".
my scenario is I created two separate ingress gateway in two different namespaces. Like below
[code]
And I keep getting this error. It's pods of ingress gateway unable to connect to pilot in istio-system.  my istio version 1.1.8
[code]

And i checked the logs from discovery and below i replace IP with \

[2019-07-02 01:13] springrain commented on #15236
Now it's normal. Can you say why PILOT_SIDECAR_USE_REMOTE_ADDRESS is set to false by default? Is there any hidden danger when set to true?

[2019-07-02 01:14] yangminzhu opened #15276 "TestMTlsWithAuthNPolicy is broken in presubmit"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
See https://k8s-testgrid.appspot.com/istio-presubmits-master#pilot-e2e-envoyv2-v1alpha3&width=20

[code]

**Affected product area (please put an X i

[2019-07-02 01:17] yangminzhu commented on #15276
From the log, it seems it failed with `authn_policy_test.go:49: command failed: "error: error parsing /tmp/kubedelete807161404.yaml: error converting YAML to JSON: yaml: line 2: mapping values are not allowed in this context\n" exit status 1
`

cc @nmittler @ozevren in case you know some changes in the test framework that might be related to this.

[2019-07-02 01:27] yangminzhu commented on #15230
I don't know how is the Vault server started but I think the test has recovered now, @lei-tang is it possible to setup and start the Vault server together with the test? It could be a docker image and deployed inside the cluster for testing, so that we don't need to depend on an external Vault server in a separate project and causes test failure like this.

[2019-07-02 01:39] lei-tang commented on #15230
There are some manual steps when configuring Vault server, e.g., unseal, login, etc, which makes it difficult to start the Vault server with the test. But I will investigate how the Vault server can be improved, e.g., docker image, k8s auto recovery, etc.

[2019-07-02 01:53] howardjohn commented on #15236
until 1.2 we always had it to false. in 1.2 we set it to true and it broke a bunch of users. I don't think there are any hidden dangers, just what behavior the user depends on

[2019-07-02 01:58] perrymana opened #15277 "istio-autogenerated-k8s-ingress gateway conflicts with other gateways"
**Bug description**
I’m trying to setup autogenerated Lets Encrypt certificates using cert-manager in an Kubernetes Istio environment. There seems to have been a lot of discussion on this and many improvements on how certificates are managed and reloaded, but very few documented outcomes on how to specifically setup cert manager to achieve this. There is of course the tutorial, [Kubernetes Ingress

[2019-07-02 02:28] ozevren commented on #15276
e2e tests are using the old framework not the new one.

[2019-07-02 03:01] huo4444 commented on #7583
the cause : kube-api-server node  can not access  the pod network of kubelet node. I use flannel ,my kube-api-server node can not access flannel network  ,so k8s apiserver access service in k8s cluster is failed.

[2019-07-02 03:08] hzxuzhonghu commented on #9504
Why does it has a relation with PSP, which is an admission controller, will allow/deny pod creation?

[2019-07-02 03:10] hzxuzhonghu commented on #15260
/assign

[2019-07-02 03:13] yangminzhu commented on #15276
@ozevren It's actually caused by `--export` being deprecated in kubectl: https://github.com/kubernetes/kubernetes/pull/73787, Let me see if https://github.com/istio/istio/pull/15278 will fix it.

[2019-07-02 03:28] aanoaa commented on #15234
i think this would be my mistake.
but not sure, the failing cluster already destroyed.

when i was create a new cluster with same terraform files,
the security group which belongs to worker node only allows port 1025 ~ 63353.

fix the security group rules(allow 443 port between subnet) then it works.

i guess the first installation,
the sample app pod and istio-sidecar-injector pod seem to have be

[2019-07-02 03:30] zhaofengcumt opened #15279 "when use curl command to visit 'httpbin.org' in pod, it shows 'Could not resolve host: httpbin.org'"

[2019-07-02 03:38] ceisenach commented on #9504
It is not clear to me why the two are related, but nonetheless, they appear to be. Possibly it is because the sidecar is injected by an admission controller...

[2019-07-02 03:48] divya21raj commented on #15244
@yangminzhu It's still giving a seg fault. I changed the n parameter to the one you gave....

[2019-07-02 03:50] #15276 closed

[2019-07-02 03:50] hzxuzhonghu commented on #9504
But only when all admit passes, it can come to stage starting up containers.

[2019-07-02 03:56] springrain commented on #15236
Ok, thank you very much.

[2019-07-02 03:56] #15236 closed

[2019-07-02 04:02] yangminzhu commented on #15244
Could you copy the full jwks you used? There might be something else wrong here.

[2019-07-02 04:03] divya21raj commented on #15244
[code]

[2019-07-02 04:08] divya21raj commented on #15244
Ok, it's working with the replacement. Had to refresh the policy.

[2019-07-02 04:48] #15234 closed

[2019-07-02 06:07] rajusharma commented on #14522
There was mistake in understanding the metrics, `pilot_total_xds_internal_errors` & `pilot_rds_expired_nonce` are both counter metrics. Once they get increase , they will never go down until unless we restart the pilot pods which were reporting this metrics.

**What happened:**
I got `pilot_total_xds_internal_errors` & `pilot_rds_expired_nonce` errors at x time which increased the count and i pret

[2019-07-02 06:07] #14522 closed

[2019-07-02 06:10] rajusharma commented on #14660
@rcaballeromx
Yes i have set ALLOW_ANY to * which is by default, the issue is even though there is `PassthoughCluster` created but the requests is not going there

[2019-07-02 06:28] bogdansucila commented on #14983
@sushicw Thanks for the suggestion, I did try one of the nightly builds with the sample bookinfo app, and the test case does indeed work.

Unfortunately I couldn't get it to work with my real-life app URI, and deploying an unstable build into production isn't something I'm particularly keen on. I see the feature was moved into 'Nebulous future' so I'm don't think I should be holding my breath for

[2019-07-02 06:44] kramerul commented on #15244
@yangminzhu, I only had a short look at the jwks. It seemed to be OK. But obviously I was wrong.

[2019-07-02 06:56] #14861 closed

[2019-07-02 07:10] #12088 closed

[2019-07-02 08:09] hzxuzhonghu opened #15280 "Support EnvoyFilter.WorkloadSelector"
As the `WorkloadLabels` field was deprecated, and `WorkloadSelector` is intended to replace it.

So we should add WorkloadSelector implementation in istio.

/cc @rshriram

[2019-07-02 08:10] #10213 closed

[2019-07-02 08:49] #15244 closed

[2019-07-02 09:10] simox-83 commented on #7583
I found the problem and it's our proxy. Basically the calls to .istio-system.svc were passing through the proxy. Adding the domain to the no_proxy variable in the api server flags fixed the issue.
Hope this helps anybody who encounters a similar issue!

[2019-07-02 09:13] istionary opened #15281 "ServiceEntry does not accept IPv6 Addresses and Endpoints"
**Bug description**

The ServiceEntry validator in pilot/pkg/model/validation.go only accepts

- IPv4 subnets for Addresses
- IPv4 addresses for Endpoints

For example in https://github.com/istio/istio/blob/1.2.2/pilot/pkg/model/validation.go:

Lines 2321 – 2324 (2323):

[code]

Lines 2357 – 2366 (2366):

[code]
Attempts to use IPv6 Addresses or Endpoints results in the respective error messages f

[2019-07-02 10:06] sdake opened #15283 "operator fails to compile"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
operator fails to compile
[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[X] Insta

[2019-07-02 10:12] sdake commented on #15283
this failure occurs if using golang 1.11 to compile.

[2019-07-02 10:12] #15283 closed

[2019-07-02 10:13] sdake commented on #15283
(note golang 1.12.6 works well)

[2019-07-02 10:17] chrismckean opened #15285 "Envoy issuing 503's intermittently"
**Bug description**

Hi All,

@Stono @martinhighton and myself have been looking into an issue with some of our K8 applications getting 503 errors.  We're seeing roughly 5-10 an hour between the 2 applications we've been targeting in this investigation. I have obtained the istio debug logs and some packet captures.  From the captures, you can see that the source application is the one sending the

[2019-07-02 10:42] sdake opened #15286 "Gate blocked on master testmtlswithauthpolicy"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
gate is failing with
[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installati

[2019-07-02 10:47] sdake commented on #15286
Example Failure: https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio_istio/15259/istio-pilot-e2e-envoyv2-v1alpha3-master/3119#istioioistiotestse2etestspilot-testmtlswithauthnpolicy

[2019-07-02 10:52] kramerul commented on #15240
I tried to create a PRs. But unfortunately, I have no permission to do so.

My PR is located here https://github.com/ConcourseWdf/operator/tree/go-modules.

[2019-07-02 11:28] sdake commented on #15286
This may have been fixed yesterday with commit: 8d263a7e07347c389b834bee82ad4bf8d31864d8

PR: https://github.com/istio/istio/pull/15287 will validate the current gate.

[2019-07-02 11:48] ceisenach commented on #9504
Right, I understand how that works. I am simply reporting observed behavior.

On Mon, Jul 1, 2019 at 11:51 PM Zhonghu Xu <notifications@github.com> wrote:

[2019-07-02 11:49] vitalijsvolodenkovsmagebit opened #15288 "HELM: istio-sidecar-injector istio-1.2.2"
After upgrading istio from 1.1 to 1.2 we have issue with istio-sidecar-injector Configmap.
You have changed template to "{{ .Files.Get "files/injection-template.yaml" | indent 6 }}"
For .Files.Get. function rendering is not working as result sidecar injector is not working as well.
From istio-sidacat-injector logs:
2019-07-02T11:39:57.005122Z	info	Policy: enabled
2019-07-02T11:39:57.005128Z	info	A

[2019-07-02 12:01] ChrisCooney commented on #9504
Just saw this behaviour when the pilot took a little while longer than expected to spin up.

[2019-07-02 12:26] aaron-trout commented on #14034
For Galley specifically in the 1.2.2 helm chart, the `.tpl` file for the pod affinity stuff seems to be missing.

[code]

For other components such as gateways there is an `_affinity.tpl` file.

[code]

[2019-07-02 12:31] aaron-trout commented on #13912
I agree that the current way to configure the pod anti affinity is very confusing. I was expecting to be able to specify anti affinity config exactly as per the Kubernetes API, as is the case in other helm charts.

The example in the values.yaml is a little sparse and confusing; I had to actually look through the helm template files to figure out what I was supposed to pass in. The comma separated

[2019-07-02 12:31] aaron-trout commented on #14034
I think #13912 is related to this too; it could certainly be one work item to fix both these issues.

[2019-07-02 13:04] jaygorrell commented on #13204
Since you bolded this, and it's not a step I currently do, I'm guessing this was the key. I'm not sure if there's an annotation or anything to prevent the initContainer on an auto-inject setup though -- but also not sure if that's the _right_ approach here. Do you know why this worked?

[2019-07-02 13:37] kramerul commented on #14045
Closing this because it's a duplicate of #15240

[2019-07-02 13:37] #14045 closed

[2019-07-02 14:18] sdake commented on #15286
The validation PR passed the gate.

[2019-07-02 14:18] #15286 closed

[2019-07-02 14:28] morvencao commented on #14034
@aaron-trout I think the original issue for this ticket has been fixed. If there is further discussion for pod anti-affinity, we can switch to https://github.com/istio/istio/issues/13912, do you agree?

[2019-07-02 14:52] morvencao commented on #13912
@aaron-trout In the following release, we will introduce the kustomize overlay style tool for this low level configuration and it will provide flexibility, also make the current `values` file make it more readable.

[2019-07-02 14:52] tibetsam opened #15290 "pilot ctlz listening on ipv4 in ipv6 cluster"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
i'm running istio in an ipv6 cluster. But when i check ports which pilot is listening. I found one of port(9876) is listening on ipv4 loopback.

roo

[2019-07-02 14:53] tibetsam commented on #15290
@sbezverk any ideas?

[2019-07-02 14:57] aaron-trout commented on #14034
@morvencao sounds good to me. Although I still think Galley's pod affinity/anti affinity being broken is a separate issue (although will most likely get fixed at the same time as #13912.

https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/galley/templates/deployment.yaml#L116

As you can see above it tries to include templates named `nodeaffinity` and `podAntiAffinity`

[2019-07-02 15:01] morvencao commented on #14034
@aaron-trout The two template are defined in `parent` chart template, not in single subchart, because they are totally reusable, see : https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/templates/_affinity.tpl

[2019-07-02 15:07] tibetsam opened #15291 "HTTP Host is not checked by envoy proxy"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
The sidecar proxy of an application pod does not verify HOST:

kubectl exec -it $(kubectl get pod -l app=sleep -o jsonpath='{.items[0].metadata.name

[2019-07-02 15:09] dwalton76 opened #15292 "httpsRedirect option for 308"
**Bug description**
httpsRedirect always sends a 301.  If you are doing a POST the 301 will force most clients to change from POST to GET per https://tools.ietf.org/html/rfc7231#section-6.4.2
[code]
curl, python's request library, many browsers, etc all follow this behavior.

We need a way for istio to send a 308 redirect instead of a 301. The 308 tells the client to not change the request method

[2019-07-02 15:10] howardjohn commented on #15288
I just updated to Helm `2.14.1` like you have and I am not seeing this error.

It seems to be caused by https://github.com/istio/istio/blob/f9394255ea6eacdb71bc96704e8029aa199d8f8c/install/kubernetes/helm/istio/files/injection-template.yaml#L27

I am suprised moving the file does anything.. it should be the same.

Can you add the output of `kubectl -n istio-system get cm istio-sidecar-injector`

[2019-07-02 15:11] howardjohn commented on #15281
fyi @sbezverk

[2019-07-02 15:12] howardjohn commented on #15279
This sounds like a DNS issue.

Can you run `nslookup httpbin.org` and `nslookup google.com`?

Can you `curl httpbin.org` from pods without a sidecar and it fails from pods in a sidecar?

Can you provide some more info?

[2019-07-02 15:13] howardjohn commented on #15275
Are all 3 unable to connect or just one?

[2019-07-02 15:27] kish3007 opened #15293 "JRMP protocol support in Istio"
Looks like JRMP is not one of the supported protocols in Istio, rmi calls over JRMP with envoy side car proxy injected on pods. Here is the failure i noticed: ```java.rmi.ConnectIOException: error during JRMP connection establishment; nested exception is:
        javax.net.ssl.SSLHandshakeException: Remote host closed connection during handshake```

[2019-07-02 15:27] #13177 closed

[2019-07-02 15:41] curtbushko commented on #15275
I have seen this error when my istio-ingressgateway was incorrect.  Usually when I redployed istio and a nodeport # was already in use.

[2019-07-02 15:58] Stono commented on #15041
@hzxuzhonghu do you know what release this will be in?  Looks like it isn't in 1.2.2 unless i'm missing something.

[2019-07-02 16:15] aaron-trout commented on #14034
@morvencao ah! In which case that needs removing from most of the other components helm charts I guess? 😄

For example: https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/gateways/templates/_affinity.tpl

[2019-07-02 16:17] ostromart commented on #15240
Hi Ulrich, thanks for tackling that. I don't think you need special permissions to create a PR, only approve and merge. I suggest trying the following workflow:
- clone istio.io/operator, call your repo origin
- create your branch for the work
- commit the work and push to origin <your branch>
This will create a PR in your repo. When you go to github, it should invite you to create a PR against is

[2019-07-02 16:38] sylus opened #15296 "Can't access Kiali / Grafana with ingress on Azure AKS"
**Bug description**

Can't access Kiali / Grafana with ingress on Azure AKS. I can successfully port-forward without issue to both services so this is just related to ingress.

The following works:

[code]

Everything is running:

[code]

But whenever I go to http://istio-kiali.xxxx.ca I get "upstream connect error or disconnect/reset before headers. reset reason: connection failure" and the https

[2019-07-02 16:41] sushicw commented on #14983
Looked into how the rewrite rules work, it looks like we're more or less forwarding this configuration on to the Envoy proxy and letting Envoy handle it. Unfortunately, Envoy doesn't seem to have support for partial rewrite on regex. (See "prefix_rewrite" [here](https://www.envoyproxy.io/docs/envoy/v1.5.0/api-v1/route_config/route)).

There's some support for partial rewrites if you use prefix mat

[2019-07-02 16:45] #15250 closed

[2019-07-02 17:00] howardjohn commented on #14496
In your case you have cluster type `STRICT_DNS` which works fine as you mentioned.

The problem is that for kubernetes services, Pilot will use cluster type EDS.

The use case is we should be able to have request sent in cluster to kubernetes services, and failover to external service. You can do this today by adding a ServiceEntry with resolution type STATIC and specifying an IP address. Pilot wi

[2019-07-02 17:02] sushicw commented on #15012
@esnible Would you mind posting your quick&dirty validation code? Even if it's not the solution we want, I at least would find it educational.

Your proposal makes sense to me: if we can do a "dry run" in validation of the same code that will actually try to execute later, we should be able to catch a lot of things. Either way, it's failing, but it's better to fail sooner and more obviously.

[2019-07-02 17:14] jstew7 commented on #14658
I'm seeing the same issue with redisquota. It works without any overrides, but as soon as I add an override to the handler it throws that warning and does not honor the quota. If I switch to memquota it works fine with same settings. I'm on Istio 1.2.0.

[2019-07-02 17:30] rcaballeromx opened #15299 "Develop and adopt templates for repositories' top-level README.md and DESIGN.md"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Develop and adopt templates for the top level README.md and DESIGN.md files in all Istio repositories.

**Describe alternatives you've considered**
The top level README.md files that have been created so far are inconsistent in terms of what informa

[2019-07-02 17:33] sdake commented on #15299
sounds excellent, especially given the upcoming repository split.  If you make a template, I'll transition the installer repo to the new template(s).

Cheers
-steve

[2019-07-02 17:45] sreenivasmrpivot commented on #10001
@markeijsermans
I have enabled my cluster with self signed cert. The problem I have with it is, "Citadel signs it with its own root/chain". As a result of this, browsers are not able to identify my test1.example.com, test2.example.com etc as secured sites and prompts for exception.

I assume, to avoid this, I will have to plugin external CA as mentioned here. https://istio.io/docs/tasks/security/p

[2019-07-02 17:45] costinm opened #15300 "Injector webhook to support user-generated certs"
Webhook injector relies on a DNS cert generated by citadel - and is very hard to install
in a different namespace (citadel needs to be restarted with a hard to use flag). There is no particular value on having this coupling.

The new installer template has a self-generating cert, using helm - but it would be better to
do it in code and not depend on helm feature. We also have a bug - currently if

[2019-07-02 17:46] howardjohn opened #15301 "Investigate why some E2E tests take so long"
In https://github.com/istio/istio/pull/15295 we increased the timeout on the E2E tests. This is a good short term fix, but really we should figure out why the tests take so long and try to cut them down.

[2019-07-02 17:47] sreenivasmrpivot opened #15302 "Configuring Gateway TLS for GoDaddy wildcard certs"
I have enabled my cluster with self signed cert. The problem I have with it is, "Citadel signs it with its own root/chain". As a result of this, browsers are not able to identify my test1.example.com, test2.example.com etc as secured sites and prompts for exception.

I assume, to avoid this, I will have to plugin external CA as mentioned here. https://istio.io/docs/tasks/security/plugin-ca-cert/

[2019-07-02 18:01] howardjohn commented on #15095
@sushicw any disagreement with above? I think this can be closed.

By the way, when the test hits the prow timeout (2 hours) it will have a different message -- the one you showed is different. Prow has a 2hr timeout then 15s for the test to "gracefully exit" once it gets a termination signal

[2019-07-02 18:07] vitalijsvolodenkovsmagebit commented on #15288
I have removed version 1.2.2.
But as I said, in files/injection-template.yaml you have:
rewriteAppHTTPProbe: {{ valueOrDefault .Values.sidecarInjectorWebhook.rewriteAppHTTPProbe false }}
{{- if or (not .Values.istio_cni.enabled) .Values.global.proxy.enableCoreDump }}
and so on
This values(for example, .Values.global.proxy.enableCoreDump) will not be rendered by .Files.Get. (https://github.com/helm

[2019-07-02 18:11] howardjohn commented on #15288
It does get templated still, in the sidecar injector not by helm. The sidecar injector gets .Values passed to it.

Did this actually work or did you just downgrade? Because there are all sorts of custom functions and things we add to the injector templating that aren't in Helm, not to mention things like `.ProxyConfig.ConfigPath` which helm doesn't know about, so I would suspect it wouldn't work

[2019-07-02 18:11] #14106 closed

[2019-07-02 18:13] vitalijsvolodenkovsmagebit commented on #15288
Ok, I will try to upgrade once more tomorrow

[2019-07-02 18:14] vitalijsvolodenkovsmagebit commented on #15288
I will upgrade istio in 5 min, I will give you info in 15 min

[2019-07-02 18:24] vitalijsvolodenkovsmagebit commented on #15288
kubectl -n istio-system get cm istio-sidecar-injector -o yaml > istio-sidecar-injector

[2019-07-02 18:26] howardjohn commented on #15296
I don't think you can access them over gateway out of the box, you need to follow https://istio.io/docs/tasks/telemetry/gateways/. Did you go through this already?

(I could be wrong, I have not done this before)

[2019-07-02 18:28] vitalijsvolodenkovsmagebit commented on #15288
[istio-sidecar-injector.txt](https://github.com/istio/istio/files/3351798/istio-sidecar-injector.txt)

[2019-07-02 18:31] vitalijsvolodenkovsmagebit commented on #15288
Warning from replica set side:
  Warning  FailedCreate  25s (x42 over 8h)  replicaset-controller  Error creating: Internal error occurred: admission webhook "sidecar-injector.istio.io" denied the request: template: inject:27:92: executing "inject" at <ne .Values.global.pr...>: error calling ne: invalid type for comparison

Log from istio-sidecar-injector:
2019-07-02T18:29:19.485959Z	info	Injection

[2019-07-02 18:32] costinm opened #15304 "Better Webhook and domain cert support"
Explore the use of https://github.com/JoelSpeed/webhook-certificate-generator for managing
the Webhook configs and Pilot/Galley DNS-based certificates.

Example:
[code]
Results in a secret named "pilot", signed by the public key of the Apiserver, with

[code]

For webhook (new installer in istio-control):

[code]

will update the mutating webhook with the apiservers own CA ( not sure if this is re

[2019-07-02 18:35] costinm commented on #15304
Gaps so far:
- cert rotation after 1 year
- may need to be integrated as a library into operator/istioctl to not distribute a second binary

It would be nice to extend the tool to also generate SPIFFE certificates ( relatively easy, just
change the CSR), and maybe to auto-generate them by watching the service accounts - this would provide equivalent functionality with citadel, but using K8S own CA

[2019-07-02 18:38] sushicw commented on #15012
After talking with @ozevren it sounds like we actually want to keep the non-strict validation for now. Eventually we want to be able to validate the schema, but in the meantime, we shouldn't fail on extra / unexpected fields. So the first immediate tactical move is to make it so that when Galley is trying to convert the unstructured proto, we ignore extra fields instead of failing on them.

[2019-07-02 18:45] vitalijsvolodenkovsmagebit commented on #15288
I have solved this issue, closing ticket for now.
Thank you for you time.
You are a good person ;)

[2019-07-02 18:45] #15288 closed

[2019-07-02 18:46] howardjohn commented on #15288
Looks like you don't have `excludeOutboundPorts` in the values which is weird since its set as a default. Not sure how that happened

[2019-07-02 18:50] gargnupur commented on #14658
I just tested on Istio 1.2.0 and I am seeing the same thing... Looking why this is happening

/cc @douglas-reid @mandarjog @kyessenov

[2019-07-02 18:56] gargnupur commented on #14658
Sorry red herring.. I saw it because I set the wrong redis url and had error like this in my logs:
"2019-07-02T18:48:37.610246Z	error	Unable to initialize adapter: snapshot='4', handler='redishandler.istio-system', adapter='redisquota', err='adapter builder validation failed: adapter validation failed : builder validation failed: '1 error occurred:
	* redisquota: could not create a connection to r

[2019-07-02 19:06] quanjielin commented on #15268
most change in pilot agent was in my original https://github.com/istio/istio/pull/13593, difference is using env var instead of proxy argument.

btw, why sds_path and sds_token_path are list of string(instead of one), what's pilot expected behavior is multiple values are set ? only first value is used or generate multiple sdsconfig ? if later, how to match uds path/token path, do we plan to suppor

[2019-07-02 19:57] yangminzhu commented on #15041
Thanks @incfly for noticing this and we have some security concern on the PR https://github.com/istio/istio/pull/15123.

Is the 15020 port accessible to everyone? If so, It seems a malicious pod could potentially shutdown another pilot-agent with a simple HTTP request.

Is 15020 enabled on ingress gateway by default? If so, it makes the situation worse as anyone can shutdown the pilot-agent on ing

[2019-07-02 20:00] incfly commented on #15041
I tried in a previous istio release. I'm definitely able to use public
ingress gateway ip to send request at 15020 port. If same applies for this
quitquitquit It will expose ingress gateway with being restart able by
anyone...

On Tue, Jul 2, 2019, 12:57 PM Yangmin Zhu <notifications@github.com> wrote:

[2019-07-02 20:05] Stono commented on #15041
The fact that 15020 is open on the public ingress gateway seems crazy, and should be closed.  I can't see any logical reason to have public ingress traffic straight to pilot-agent?

Is `15000` open too (i can't check, I don't use ingress gateways and also have a very locked down NetworkPolicy which completely mitigates this issue).  I ask this as you can _currently_ call `15000/quitquitquit` to ge

[2019-07-02 20:06] yangminzhu commented on #15041
@Stono I believe the envoy 15000 is only accessible from the localhost which means it cannot be called outside of the pod.

[2019-07-02 20:13] howardjohn commented on #15041
Looks to me like we can access 15020.. that doesn't seem right

[2019-07-02 20:31] sushicw commented on #15095
No disagreement, closing.

[2019-07-02 20:31] #15095 closed

[2019-07-02 20:36] JimmyCYJ commented on #15102
According to https://github.com/istio/istio/pull/15109#discussion_r299634997, there is ongoing work on improving the UX for SDS installation and to support opt-in/gradual. That will solve the current issue in istio 1.3

[2019-07-02 20:36] #15102 closed

[2019-07-02 21:02] jstew7 commented on #14658
@gargnupur : I just figured out what I had done wrong. When I switched from memquota to redisquota I had left a "validDuration" param in the override dimension. I didn't realize that was only part of memquota and had missed that subtle difference. Once I removed it is working as expected.

If I could've gotten more debug logs it might've been easier to figure out (I tried turning on all the debug

[2019-07-02 21:14] howardjohn opened #15305 "Consider using label_sync to manage cross-repo labels"
Prow has a feature to manage the labels as code: https://github.com/kubernetes/test-infra/tree/master/label_sync

We maybe want to use this to configure our labels as we branch out to more repos.

@geeknoid assigned to you just to get your opinion

[2019-07-02 21:33] vngzs commented on #15204
@silentdai Just turned on coredumps in prod and updated to get off the daily builds. Will report back with results once this has "baked" for a while to see if we still get segfaults.

[code]

[2019-07-02 21:34] pitlv2109 opened #15306 "Citadel agent recycles connection twice for each connection"
Currently in Citadel agent code, for each connection we recycle it twice. It should not cause any problem since we're only deleting connection keys from the connection map. However, this needs to be fixed for debugging logs + metrics to work correctly.

[2019-07-02 21:35] pitlv2109 commented on #15306
I can work on this since it's related to the metrics work. @JimmyCYJ @quanjielin

[2019-07-02 21:37] yangminzhu commented on #15256
Could you attach the pilot logs after applied the policy? I suspect it failed to get the jwks from the issuer.

To check this, could you make sure the pilot is able to access `http://xx.xx.xx.xx:31312/auth/realms/test/.well-known/openid-configuration`? You could also specify the jwksUri explicitly, see https://istio.io/docs/tasks/security/authn-policy/#end-user-authentication

[2019-07-02 21:41] quanjielin commented on #15306
can you paste link to the code ?

[2019-07-02 21:42] yangminzhu commented on #15232
`source.namespace` requires mTLS to be enabled, I think `istio-demo.yaml` doesn't enable mTLS by default. See https://istio.io/docs/tasks/security/authz-http/#before-you-begin.

[2019-07-02 21:43] costinm commented on #15268
List of paths for UDS is P2 - it's fine to have only one, with the default set. The use case is support of other SDS providers, like the SPIRE agent (or other SDS implementations). Technically we can map whatever host paths they have to a constant name.

For token - the point is to verify if the 'trustworthy' token is set first, and if yes use it. Otherwise fall back to the less secure token. And

[2019-07-02 21:57] costinm commented on #15268
I left few additional comments on #13593 - if you can create a separate PR with just the pilot-agent changes (i.e. check if UDS and which token exist, pass to pilot - without the additional setup complexity and risks) we can probably have the fix merged sooner.

[2019-07-02 21:57] crazyxy commented on #14496
Issue in Envoy https://github.com/envoyproxy/envoy/issues/7454

[2019-07-02 22:08] yangminzhu commented on #14901
We're working to improve the current authentication API, the next version should be more flexible to support such use cases. For example, the basic authentication could be one of the `authenticators`.

cc @diemtvu

[2019-07-02 22:09] quanjielin commented on #15268
sounds like a plan, I will create a new PR only for pilot-agent first; then we may change pilot code where sdsconfig is constructed, replacing global flag with sds related values passed by pilot-agent.

sg we should make uds path/token path configurable for each sidecar, IMO it's fine to just pass a single string env var(both uds path/token path) to pilot-agent and let sidecar injector to handle t

[2019-07-02 22:09] csantanapr commented on #15232
Yes I enabled mTLS as and enable rbac as instructions say in the page

I did this also:
$ kubectl apply -f samples/bookinfo/platform/kube/rbac/rbac-config-ON.yaml

[2019-07-02 22:15] sushicw commented on #15012
https://github.com/istio/istio/pull/15307 to do the above and make the conversion nonstrict.

[2019-07-02 22:24] yangminzhu commented on #14555
If your service is going to validate the JWT token anyway, would you mind to clarify a little bit why do you want Istio to do it again?

Also does the `originIsOptional` field solve your issue here? See https://istio.io/docs/reference/config/istio.authentication.v1alpha1/#Policy

[2019-07-02 22:25] yangminzhu commented on #14524
cc @yangminzhu

[2019-07-02 22:28] yangminzhu commented on #14400
Removing the admission webhook won't solve the problem as the underlying implementation in both pilot and envoy is relying on the fact that issuer is not empty.

Technically this is doable but requires some large refactor and maybe API change. Would you mind to give some more details about the use case here? Thanks

[2019-07-02 22:52] yangminzhu commented on #15232
Could you follow https://istio.io/docs/ops/security/debugging-authorization/ to debug this? It would be very helpful to debug the issue if you can attach the logs from each step. Thanks.

[2019-07-02 23:12] howardjohn opened #15309 "enableNamespacesByDefault does not work properly"
The current logic:

https://github.com/istio/istio/blob/9c1d128ed95e880922a82756f5555d12b2f72ae7/install/kubernetes/helm/istio/charts/sidecarInjectorWebhook/templates/mutatingwebhook.yaml#L26-L34

This doesn't do what is expected -- `name` cannot be used out of the box because matchExpressions only looks at labels and name is not (always, or by default) a label.

Because of this sidecar injector c

[2019-07-02 23:12] howardjohn commented on #15309
This impacts istio/istio and istio/installer

[2019-07-02 23:35] ostromart opened #15310 "Validations should be version specific"
Right now validations are the same for all versions. The validations table in validate package should be a map indexed by minor version.

[2019-07-02 23:37] ostromart opened #15311 "Feature/component relationships should be version specific data, not code"
Right now, the groupings of components under features are expressed in code and not version specific. These should be moved to data and keyed by minor version.

[2019-07-03 00:01] howardjohn opened #15312 "Integration race tests failing in postsubmit"
Example https://gubernator.k8s.io/build/istio-prow/logs/istio-integ-race-native-tests-master/400

Seems there are 3 failures

- [ ] Mixer logging
- [ ] Test framework internals on docker.newInstance
- [ ] MCP UpdateResourceVersionTracking

See https://prow.istio.io/?job=istio-integ-race-native-tests-master for all failures, they all look to be the same to me though

[2019-07-03 01:10] #8477 closed

[2019-07-03 01:17] DragonSuper commented on #13321
Sorry,I don't have Internet,  offline download required,the test progress is slow. Istio Compile it right away.

[2019-07-03 01:20] morvencao commented on #14034
@aaron-trout The affinity templates in gateways subchart is a little different from others, that's why we place that affinity templates for gateways only.

[2019-07-03 01:32] hzxuzhonghu commented on #15041
Thanks, so we could expose another port in pilot-agent listen only on the localhost and handle the quit request. Does this make sense?

[2019-07-03 02:04] csantanapr commented on #15232
I’m currently on PTO but I will double check and try to debug and attach logs when I return.

Does this works for you?

[2019-07-03 02:10] #8696 closed

[2019-07-03 02:11] yangminzhu commented on #15232
@csantanapr Sure, thank you!

[2019-07-03 02:15] xiaozhongliu opened #15313 "How to make domain redirection"
I need to make a 301 redirection from http(s)://fake.com to http(s)://www.fake.com.
I don't see relevant doc on this, also redirection in virtual service does not work.

[2019-07-03 02:44] incfly commented on #15041
Yeah, I talked with @howardjohn. A reasonable fix can be listening on
localhost with a separate port.

Meanwhile, we should remove 1502 from ingress gateway service as well.

On Tue, Jul 2, 2019 at 6:32 PM Zhonghu Xu <notifications@github.com> wrote:

[2019-07-03 02:51] hzxuzhonghu commented on #15041
Why remove this, then how do readiness probe for gateway?

[2019-07-03 02:54] incfly commented on #15041
We remove the k8s service object definition's port mapping, but not on the deployment object. readiness probe should continue to work, I think this can make public-ingress-gateway-ip:15020 unaccessible from internet, but i'm not 100% sure.

[2019-07-03 03:05] hzxuzhonghu commented on #15041
I know what you mean, SG

[2019-07-03 03:10] #12245 closed

[2019-07-03 03:41] yangminzhu opened #15315 "ABORTED test is reported as passed on Github"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
`prow/integ-security-k8s-presubmit-tests.sh` showed as passed in PR https://github.com/istio/istio/pull/15224 but actually it's aborted in prow: htt

[2019-07-03 03:47] howardjohn commented on #15315
the test isn't required so it would have been merged anyways I think. Still very problematic that it was marked as a success when it didn't pass though.

[2019-07-03 03:58] chadlwilson opened #15316 "tracing-jaeger: Add ability to specify different Jaeger storage backends in Istio Helm chart"
**Describe the feature request**

The current tracing-jaeger chart doesn't appear to allow you to change the storage backend. In our case we would like to use an **elasticsearch** backend. (in our case an AWS ElasticCache outside the cluster). We can hack the chart to specify env vars to the `jaeger:all-in-one` container to do so, but it'd be nice if the chart had an abstraction to support supplyi

[2019-07-03 04:10] #12244 closed

[2019-07-03 04:18] howardjohn commented on #15315
Looks like the last run was marked as a success by prow
[code]

The test pod isn't around anymore so hard to debug further. My guess is the node got killed and the failure wasn't properly reported because it got forcefully terminated -- I would expect it to default to failure in this case though, but I am not familiar with the internals to understand the behavior.

[2019-07-03 04:57] Niksko opened #15317 "Operator fails to compile"
**Bug description**

Operator is failing to compile.

I seem to be able to fix this by calling

[code]

However I'm pretty clueless about go modules so I'm not sure if adding this `-mod vendor` option is valid or not.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies

[2019-07-03 05:09] Niksko opened #15318 "Operator docs have incorrect build command"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

The Operator docs provide a confusing command for building the `iop` tool. Instead of outputting to `$GOPATH/bin/iop` as you might expect, they out

[2019-07-03 05:10] #12187 closed

[2019-07-03 05:15] kramerul commented on #15240
Hi @ostromart,
that's exactly what I did. For the last step, I get a HTTP 405.

![image](https://user-images.githubusercontent.com/13213351/60565057-529eb780-9d62-11e9-91fa-941e95db212f.png)

[2019-07-03 05:17] howardjohn opened #15319 "Linter getting OOMKilled in prow"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Perfor

[2019-07-03 06:13] kramerul commented on #15317
The operator is not using go modules yet (#15240).
For the moment you need to move your project to `$GOPATH/src/istio.io/operator`, ensure `GO111MODULE` environment variable is not set, and run `go build ./cmd/iop.go`.
This was working for me with commit 905dd84e868a0b88c08d95b7ccf14d085d9a6f6b.

[2019-07-03 06:41] yuxintong-github commented on #14969
the same issue facing!
istio seems like don't support Authorization request to self auth-server.
(Because auth is complicated of people ,permission and group in company,
 so we Do the auth request, to check the user if has the right of the resource of restfulApi inside,
not to check the JWT Token if legality)

[2019-07-03 07:05] Niksko commented on #15317
Apologies, I had removed `GO111MODULE=on` from my environment setup script, but it was being set elsewhere

[2019-07-03 07:05] #15317 closed

[2019-07-03 07:31] bruse-peng opened #15321 "a problem arise when i create gateway and virutalservice"
below is my configuration:
![image](https://user-images.githubusercontent.com/47881861/60571956-193c6b00-9da7-11e9-9311-665ac013a7be.png)

when  i  acccess http://114.55.204.248/php/ (request default index.php)  is ok below:
![image](https://user-images.githubusercontent.com/47881861/60572059-5a347f80-9da7-11e9-852d-3bb43cdfb744.png)

but when i access http://114.55.204.248/php/phpinfo.php  it is

[2019-07-03 07:41] Niksko opened #15322 "Operator default value of dry-run: true is confusing"
**Describe the feature request**

Just spent most of the day trying to figure out why the `iop` binary from the operator repo doesn't output anything when running an `iop manifest -o manifest_dir`, despite looking like it's going to.

Why is `dry-run` set to true by default?

**Describe alternatives you've considered**

A few options here:

1. Change `dry-run` to default to `false`. I understand t

[2019-07-03 07:58] #11668 closed

[2019-07-03 08:11] hzxuzhonghu commented on #15041
opened #15320

[2019-07-03 08:44] linzhou-zhong commented on #15321
Could you please upload a simple screenshot about the configuration of your pod "nginx-php"  ?

[2019-07-03 08:49] irisdingbj opened #15323 "can not report to istio-telemetry on VMs if not using ILB"
I follow this guide https://istio.io/docs/setup/kubernetes/additional-setup/mesh-expansion/#setting-up-the-vm to set up the mesh expansion.

The envoy running on vm failed to report to istio-telemetry:
[code]
Have tried to create the virtual service manually for istio-telemetry, but it still failed with the same error message.

[2019-07-03 08:51] irisdingbj commented on #15323
@incfly looking forward to your comments for this problem. Thanks

[2019-07-03 09:38] Niksko opened #15324 "Document virtual filesystem generation in operator repo"
**Describe the feature request**

The operator repo requires you to run the `vfsgen` make target before building, otherwise your changes to the baked in profiles are not included in the compiled binary. This may be obvious to those familiar with how vfs works in Go, but it could be worth explicitly documenting it.

**Describe alternatives you've considered**

**Affected product area (please put an

[2019-07-03 10:01] Niksko opened #15325 "Document / allow generation of CRDs in operator repo"
**Describe the feature request**

Playing around the with operator repo, using the default profiles, the CRD manifest is empty with the commend `crds component is disabled`. My read of the code is that it's actually not possible to enable this component at the moment, because the `IstioControlPlaneSpec` struct does not contain a `Base` field, which is the name of the base feature under which the c

[2019-07-03 10:14] withlin commented on #13052
the same problem

[2019-07-03 10:45] samcgardner opened #15326 "Pods injected with istio_cni.enabled=true cannot validate against any PSPs on GKE"
**Bug description**

If the CNI plugin is installed and istio is configured with `istio_cni.enabled: true` then injected pods cannot validate against any PSP on GKE, giving an error as follows:

[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[

[2019-07-03 10:54] jsPlachetka commented on #15313
Have you used [virtual service wtih destination rule](https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/)? Though it seems to be more common for a 301 redirect.
And what about a simple [routing rule](https://istio-releases.github.io/v0.1/docs/reference/config/traffic-rules/routing-rules.html)

[2019-07-03 13:37] xiaozhongliu commented on #15313
@jsPlachetka Yes I need a 301, I fixed my original post.
Is it ok to create a dedicated virtual service for 301 redirection, which only handles domain without www?
Also I do not see any sample on domain redirection, could you help to share a quick and dirty sample?

[2019-07-03 14:18] howardjohn commented on #15326
maybe related? https://github.com/kubernetes/kubernetes/issues/65716 except in your case you have "allowPrivilegeEscalation: true"

[2019-07-03 14:31] howardjohn opened #15327 "Perf For Daily Release failing"
https://gubernator.k8s.io/build/istio-prow/logs/perf-for-daily-release/102

[2019-07-03 14:35] jsPlachetka commented on #15313
A 301 redirect is one of the things virtual service is for as far as I understood it.
Is [this](https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#HTTPRedirect) already helping you? (unfortunatelly don't have the time right now even for a quick example)

[2019-07-03 14:43] howardjohn commented on #14888
Closing as we aren't on circle linter anymore. This is a great resource for future tweaks though, thanks!

[2019-07-03 14:43] #14888 closed

[2019-07-03 14:47] Stono commented on #15285
Just been re-reading this @chrismckean, the reason you're seeing a connection reset by the source envoy is because it received a 503 from the destination envoy and http1.1 spec dictates that connection must be closed.

So that part of the picture can be disregarded, and we need to focus on the connection issue in the destination envoy to destination app.

[2019-07-03 14:55] howardjohn opened #15328 "e2e-simpleTestsMinProfile-master frequent failures in postsubmit"
See history https://prow.istio.io/?type=postsubmit&job=e2e-simpleTestsMinProfile-master, looks like ~80% fail rate

[2019-07-03 15:01] jnsvd commented on #9783
I'm facing the same issue with Istio 1.1.0.

[2019-07-03 15:30] josejulio opened #15329 "Sidecar egress configuration is not honored when mode is ALLOW_ANY"
**Bug description**

Sidecar egress configuration is not honored when `global.outboundTrafficPolicy.mode` is set to `ALLOW_ANY`.

I think it shouldn't matter what your configuration for `outboundTrafficPolicy` is, because  as the [docs](https://istio.io/docs/tasks/traffic-management/egress/egress-control/#envoy-passthrough-to-external-services) say (emphasis mine):

Note that even if the workload

[2019-07-03 16:38] howardjohn commented on #15329
I don't think it makes sense to do this. You set the mode ALLOW_ANY, which does exactly what it says -- allow **any** traffic.

What you are asking for is not really possible. When you create the sidecar, the Envoy will only get config for the things you specify, in this case details and istio-system. When you send a request to `reviews`, Envoy has no way of knowing where the service is -- it just

[2019-07-03 16:39] ostromart opened #15330 "Add remaining configuration profiles"
Right now the only profile properly ported is default, which uses the settings from istio/installer.
The sds profile is just a copy, used to test profile selection.
Still needed are the real sds profile, and also minimal, demo, demo-auth.

[2019-07-03 16:53] josejulio commented on #15329
Isn't the `ratings` service defined in Istio's internal service registry?

I think the description is a bit misleading in that sense, maybe a note to clarify this behavior would be the best, or a warning in the resources (Sidecar) that are impacted by this default setting (allow_any).

[2019-07-03 16:55] therealmitchconnors opened #15332 "e2e SaveLogs overloads the build-log, and corrupts the junit report."
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
When an e2e test fails, we save tons of cluster info, which is great, but we save it to stdout in a non-parseable format (https://github.com/istio/i

[2019-07-03 16:58] #12258 closed

[2019-07-03 16:58] howardjohn commented on #15329
No, because you didn't specify it in the Sidecar. I guess what is a bit misleading here is "Istio's" internal service registry. Yes, pilot knows about it so it is in its internal service registry, but the Envoy's will not so it is not in its internal service registry.

I agree we should improve the docs to clarify the purpose and intent, and direct users trying to restrict access to other services

[2019-07-03 16:59] brian-avery commented on #11808
Hi @dotw have you updated your master? Also, assuming you're using Istio and not Maistra/OpenShift Service Mesh (it does injection differently). Also assuming you're on OKD/OCP?

[2019-07-03 17:05] howardjohn commented on #15332
I think we already store the logs as files but the `kubectl describe` dump we do is to stdout, so we can just move that to files?

Big +1 on this though, I do not like the huge describe dump

[2019-07-03 17:07] howardjohn opened #15333 "Yamllint should be automatically downloaded"
`make lint` gives me `bin/yaml_lint.sh: line 33: yamllint: command not found`

We should have this tool downloaded automatically like we do with golangci-lint or run it in docker etc. At the very least we can give some download instructions.

Since its not a golang tool its probably easiest to just run it in docker maybe? not sure how we do it for other tools

[2019-07-03 17:07] howardjohn commented on #10956
Yamllint is in use now

[2019-07-03 17:07] #10956 closed

[2019-07-03 17:08] howardjohn commented on #15333
Also we need a pinned yamllint version. I installed it and must have a different version because it is failing the lint

[2019-07-03 17:12] howardjohn opened #15334 "yamllint spams logs with warnings"
Example (repeated ~1000 times):

[code]

Example test: https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12276/istio-lint-master/827/?log#log

We should probably turn off this warning or fix it.

In general I don't think it really makes sense to have warnings anyways -- no one is going to look at a passing lint log to see the warning. We should either pass or fail. Other

[2019-07-03 17:29] howardjohn commented on #14694
Fixed via https://github.com/istio/istio/pull/15138. The only one still failing is due to https://github.com/istio/istio/issues/15222 which is being tracked there

Thanks for all the work tracking this down

[2019-07-03 17:29] #14694 closed

[2019-07-03 17:49] lds1804 commented on #9268
Thanks for posting your yamls. Helped a lot

[2019-07-03 17:54] jdfalk opened #15337 "Fix layout and index.yaml in Helm Repo"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Our organization uses flux. In order for flux to automate the helm based deployments your charts repo has to have index.yaml file that includes all the releases, and metadata around them.
So it should be something like this:
https://storage.googleap

[2019-07-03 18:54] therealmitchconnors commented on #15332
Good point.  I propose that we store as both yaml and text for ease of use.

Also at, https://github.com/istio/istio/blob/master/tests/e2e/framework/testInfo.go#L69 can I drop the ID from the folder name?  K8S workloads should have isolated file systems, and this ID makes the gcs bucket difficult (but not impossible) to read.

[2019-07-03 18:56] costinm commented on #15268
I don't think we have a use case to making it configurable - the problem we have is that we have far too much complexity in configuring and troboubleshooting. I am ok with having an env var to override the path for testing or VMs or special cases - but it must have a default value and by default should just work.  If it is ok to use /etc/certs as a fixed path ( with some env to override that we ad

[2019-07-03 18:58] #12260 closed

[2019-07-03 18:58] kyessenov commented on #15332
I was thinking whether log dumping is necessary for prow on GKE. All the data is already stored in GCP monitoring, so we just need to create the right queries to provide access to the logs, as well as an authorization proxy.

[2019-07-03 18:59] costinm commented on #15268
So the minimum requirements for pilot-agent are:
- check the hardcoded UDS path. If file is present - send it to pilot as metadata.
- check a hardcoded list of 2 tokens. First found - send it to pilot as metadata.

Optional:
- env variable to override the hardcoded UDS path. We can add it later (in 1.4).
- env variable to override the search path for tokens

For SPIRE agent ( or other agents  that

[2019-07-03 19:02] howardjohn commented on #15332
We will probably/possibly move our tests to running in KinD so I am not sure we should rely on GCP monitoring

[2019-07-03 19:04] kyessenov commented on #15332
I'm not saying we should disallow fetching logs directly. It's just going to be a lot faster not to fetch logs on GKE. I think up to half of the time was spent reading through logs (we can also log less of course).

[2019-07-03 19:04] costinm opened #15338 "Demo profile has wrong HPA or CPU settings"
To repro: install istio using the pre-rendered demo profile
The result is pilot, policy, ingress, egress (but surprisingly not telemetry) all running with 5 replicas.

Expected 1 replica.

Reason: each is set with 0.1 CPU requirements, and with HPA with max 5 and 80%.

The demo profile should have HPA off ( max to 1 ) - we need to keep the low CPU requirements
so it can be used in single-node or v

[2019-07-03 19:04] costinm commented on #15338
@fpesce
@duderino

[2019-07-03 19:05] costinm commented on #15338
``` kubectl apply -f istio-1.2.2/install/kubernetes/istio-demo.yaml```

results in

[code]

[2019-07-03 19:06] mike-holberger commented on #14909
did you try creating the necessary service entry (location: MESH_INTERNAL, hosts: *.cockroachdb) required for statefulsets, as described in issue:  https://github.com/istio/istio/issues/10659 ?

[2019-07-03 19:06] howardjohn commented on #15332
Ah I see what you mean. Makes sense to me if it works

[2019-07-03 19:06] costinm commented on #15338
Also
[code]

[2019-07-03 19:06] costinm commented on #15338
@mandarjog

[2019-07-03 19:07] therealmitchconnors commented on #15332
As John pointed out, logs are not impacting the build-log.  The real problem is the describe command, which I am fixing now.  If changes to how logs are fetched are needed, they should be addressed in a separate issue.

[2019-07-03 20:02] dkushner opened #15341 "Split-horizon EDS deployment fails to resolve remote service name."
**Bug description**

In a split-horizon EDS deployment (as documented under the cluster-aware service routing), with a three-cluster configuration, I am unable to resolve any service in the mesh from the remote by internal host name (`service.somewhere.svc.cluster.local`). The gateway correctly forwards inbound traffic to services in the remote clusters but none of the remotes are able to resolve

[2019-07-03 20:02] kyessenov commented on #15332
The test framework is not fetching logs on failure which is why there is no impact yet. I agree this is a separate issue, just wanted to make sure we're aware of the GKE monitoring option.

[2019-07-03 20:17] #15319 closed

[2019-07-03 21:02] sylus commented on #15296
Yeah I gave that a go I did get the http one to work with just the http method and port but otherwise can't get the ingress with lets encrypt to work. Not super sure where am going wrong.

[2019-07-03 22:02] #14773 closed

[2019-07-03 22:19] brucedlg opened #15347 "make rate limiting prefetching parameter "close_wait_window" configurable"
**Describe the feature request**
In the current quota prefetching logic, there are some options, in particular "close_wait_window" is hard-coded to 500 ms. It causes over or under throttling when the quota valid period is set to small value, e.g. 1 second.

See https://discuss.istio.io/t/rate-limiting-question-on-close-wait-window-and-is-it-configurable/2767 for more detail.

Suggest make the opti

[2019-07-03 23:42] #15318 closed

[2019-07-03 23:57] ostromart opened #15349 "Need some way to echo to console or log depending on config"
Some output needs to show up in both console and/or logs. If user chose --logtostderr we don't want the output to echo twice.
Investigate if something is available, possibly add this to istio.io/pkg/log

[2019-07-03 23:58] #12204 closed

[2019-07-04 01:26] bruse-peng commented on #15321
below is my configuration of “nginx-php”
![image](https://user-images.githubusercontent.com/47881861/60633557-c8c41c80-9e3d-11e9-8e61-712a44f64156.png)

[2019-07-04 01:37] bruse-peng commented on #15321
under the web document, phpinfo.php and index.php avalaiable but i can only access index.php when i config gateway and virtualservice
![image](https://user-images.githubusercontent.com/47881861/60633820-037a8480-9e3f-11e9-992f-5d2a44109cb1.png)

[2019-07-04 01:38] bruse-peng commented on #15321
![image](https://user-images.githubusercontent.com/47881861/60633906-679d4880-9e3f-11e9-8cbb-bd70a4904151.png)

[2019-07-04 01:46] #15338 closed

[2019-07-04 02:11] irisdingbj commented on #15333
yamllint has been included into our prow image and will be download automatically during the prow image build. We will always use the latest version.

[2019-07-04 02:16] 3223554 opened #15351 "corsPolicy allowMethods OPTIONS 404"
**Bug description**
In our VirtualServices, we have a CORS policy that specifies allowOrigin: ["*"]. If a request comes in with an Origin header set, the response includes an Access-Control-Allow-Origin header with the value of whatever the Origin request header specified. This is expected behavior.
now i use other domain request this gateway
first request method is OPTIONS，bug gateway response ht

[2019-07-04 02:23] howardjohn commented on #15333
we should he able to run `make lint` locally though ideally

[2019-07-04 02:55] 3223554 commented on #15351
Multiple Gateways ：A 、B、C
only one Gateway request OPTIONS Success ，other  response httpcode 404

[mchcenterapi - 副本.txt](https://github.com/istio/istio/files/3357435/mchcenterapi.-.txt)
[omsapi - 副本.txt](https://github.com/istio/istio/files/3357436/omsapi.-.txt)
[passportapi - 副本.txt](https://github.com/istio/istio/files/3357437/passportapi.-.txt)

[2019-07-04 03:12] 3223554 commented on #15351
[mobilewebapi - 副本.txt](https://github.com/istio/istio/files/3357470/mobilewebapi.-.txt)
[omsapi - 副本.txt](https://github.com/istio/istio/files/3357471/omsapi.-.txt)
[passportapi - 副本.txt](https://github.com/istio/istio/files/3357472/passportapi.-.txt)

i have three gateway , but only one can work ,others request OPTIONS,response 404

[2019-07-04 03:14] #14981 closed

[2019-07-04 03:27] xiaozhongliu commented on #15313
No no no, I think what I describe is quite clear. I need a ***domain redirection***, not a path redirection, the paths won't change.

[2019-07-04 03:28] irisdingbj commented on #15334
Agree the current warning is meanless as nobody will take action on them. In that case, I  have changed the yamllintrules to not warn anymore

[2019-07-04 03:28] mrshengzyzy opened #15352 "pilot.validation.istio.io doesn't work"
**Bug description**
I have a simply yaml file like this:
[code]
when we apply it
In istio-1.1.2 ：
[code]
but in istio-1.2.0（also in istio-1.1.4） it can create correctly：
[code]
Is a Bug or Feature ？
Or I miss something configuration？

[2019-07-04 04:59] tbarrella commented on #15326
It looks like this would be from the apparmor annotations (see https://github.com/kubernetes/kubernetes/issues/69953 which is also fixed in 1.15)

[2019-07-04 05:32] hanoisteve commented on #14601
Do you have a DestinationRule configured for the service?

[2019-07-04 06:00] MarkDeckert commented on #10768
Is there any movement on this?  It's such low hanging fruit and just basic old school security. Everything needs to run as least privilege.

[2019-07-04 08:21] 3223554 opened #15354 "Adding multiple gateways on istio ingressgateway"
**Bug description**
 i am trying to add multiple gateways on istio-ingressgateway
 ingressgateway  is LoadBalancer,  i use aliyun,
 but other gateway can not work, i find istio-ingressgateway log ,  requests cannot be properly proxied

**### this Success  log**
"OPTIONS /api/StoreAdmin/GetAlreadyStoreList?type=0 HTTP/2" 200 - "-" 0 0 0 - "192.168.6.1" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14;

[2019-07-04 08:38] ecojuntak commented on #10545
hi @sendilkumarn, how did you set the active-passive configuration in HAProxy Ingress? I already read the docs, but still not find it. Where did you put the configurations?

[2019-07-04 09:01] dzdx opened #15355 "The range of FaultAbort.http_status in envoy is different from that of istio"
**Bug description**
[code]
this virtualservice will cause envoy route config update failed:
[code]

**Affected product area (please put an X in all that apply)**

[ x ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

The range of Fault

[2019-07-04 09:44] samcgardner commented on #15326
You're both right - this is indeed caused by the general failure mode of the PodSecurityPolicy admission controller's mutations not being applied to pods injected by Istio, and specifically the PSP annotations.

It seems as if the only remediation for now is to remove the annotations altogether, do either of you know if there's documentation on the exact effects of this? I would _assume_ that I'll

[2019-07-04 10:10] objectiser commented on #15316
Hi @chadlwilson

The topic has been discussed in a number of threads as well as in the Policy/Telemetry WG. The current position is that configuring a production environment for tools such as Jaeger should be done outside the Istio installation - so for example the Jaeger operator could be used to provision an ES based environment, and then Istio refer to the Jaeger instance as described here: htt

[2019-07-04 11:12] chadlwilson commented on #15316
OK, fair enough @objectiser  - I thought that might be the answer; but also thought that perhaps allowing the env vars to be customised might be a quick win for little cost. I prefer to only have to install/configure one "thing" (Istio) rather than two, where we can - but do appeciate that it can be a death of a thousand cuts (just add this... and this.... and this other thing....) when you're mai

[2019-07-04 11:24] tushar00jain commented on #13832
This seems a new document https://istio.io/docs/ops/security/root-transition. So this means CA certificates are not rotated automatically, is there a plan to automate this?

[2019-07-04 11:57] ayan1207 commented on #15256
@yangminzhu The issue was with service created in kubernetes. The port name for a service should be http not other than this. Hence closing this issue.

[2019-07-04 11:57] #15256 closed

[2019-07-04 12:13] ayan1207 opened #15357 "Getting origin authentication failed when X service calling Y service(Mtls + origin authentication)"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Getting origin authentication failed when X service calling Y service(Mtls + origin authentication)**

**Affected product area (please put an X in all that apply)**

[2019-07-04 13:14] silverReaperMaster commented on #15221
host in gateway i think is been ignored as seen on #15262
I'm hitting this issue also.

Has some one been able to filter  directly by Host header ? would that work?

[2019-07-04 13:15] silverReaperMaster commented on #15221
host in gateway i think is been ignored as seen on #15262
I'm hitting this issue also.

Has some one been able to filter  directly by Host header ? would that work?

[2019-07-04 13:56] TanOfAllCodes opened #15358 "How to Include GRPC Status Codes in Envoy Access Logs?"
Hello, I'm relatively new to Istio and I would like a feature where the istio-proxy logs are able to show the GRPC status codes.
Now my dilemma here is that Envoy does not make it clear as to how to add the GRPC status codes to the Format String - HTTP and TCP are documented.

https://www.envoyproxy.io/docs/envoy/latest/configuration/access_log#format-rules
In this link ^ format string I want to b

[2019-07-04 14:36] josejulio commented on #15329
Would it make sense to use `Sidecar` to restrict traffic from one service to the other if the mode is set to `REGISTRY_ONLY`?

[2019-07-04 14:36] silverReaperMaster commented on #8807
I Manage to work around this issue using match -> authority:

apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: gateway-http-rabbitmq
  namespace: xxxx
spec:
  selector:
    istio: ingressgateway
  servers:
  - port:
      number: 80
      name: http-80
      protocol: HTTP
    hosts:
    - "*"
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  nam

[2019-07-04 14:46] howardjohn commented on #15329
I'm not sure what our official suggestion is on this, I will ask in the new networking meeting.

In theory it should work. I think the difference is that if there was a bug in sidecar restricting access it would be a normal (but high priority) bug, whereas if there was a bug in the rbac stuff which would cause a CVE, etc. In the future these features may converge.

Take what I said with a huge gra

[2019-07-04 15:10] mihai-tiriplica-hs opened #15359 "Pilot Sends Only CDS Updates To New Services Added To The Mesh"
**Bug description**

I noticed a problem with services in the mesh were not able to call a new service added to the mesh. When I checked the logs it seems that Pilot is sending only CDS updates to proxies. Proxy Status was "Not Sent" for the services in question.

There is nothing special that changed in the mesh config. On the previous day we removed quite a lot of services from the mesh tens due

[2019-07-04 15:11] jnsvd opened #15360 "Policy not respecting excluded_paths and included_paths"
**Bug description**

I've created a policy as follows:

[code]

With this policy in place, I'm getting a 401 Unauthorized when calling `/credit/category`. Making a call to `/health` results in a HTTP 200 response. It seems that paths in `excluded_paths` are not treated correctly if it also occurs in `included_paths`.

**Affected product area (please put an X in all that apply)**

[ ] Configuration

[2019-07-04 15:24] jnsvd commented on #15360
This issue was caused by an incorrect `-`.

[code]

needs to be

[code]

[2019-07-04 15:24] #15360 closed

[2019-07-04 15:29] mihai-tiriplica-hs commented on #15359
Sorry, just an update - this is a grep in logs on "testing-grpc-service". The logs were getting quite large.

[2019-07-04 15:53] fleeto commented on #13204
Just a suggestion. I'd tried and failed.

[2019-07-04 16:02] bradenwright commented on #15186
It should be same conditions, ultimately I just want to be able to flip traffic from blue having 100 of the weight and green having 0, to green having 100 of the weight and blue having 0.

For the matching you can ignore the `uri: regex` I'm fine with all traffic routing to the service if the authority matches (aka the service name)

[2019-07-04 16:12] bradenwright commented on #13174
Working on getting that put together and will post soon

[2019-07-04 17:22] howardjohn commented on #15355
Thanks, sounds like an easy fix. What version of Istio was this?

[2019-07-04 18:20] Martinlck opened #15362 "Deployment manager template does not work with latest releases."
Deployment manager template cannot properly install versions 1.1.x or 1.2.x

The problem is that it does not install istio-init which has the CRD's definitions that can be used later for tracing, etc...

[ ] Configuration Infrastructure
[ x ] Docs
[ x ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ x ] User Experience
[ ]

[2019-07-04 19:52] howardjohn commented on #15362
wow I did not know we even had this.. I don't think it's documented at all.

Is there any reason you want to use this?

[2019-07-04 19:54] howardjohn commented on #15359
This code has changed a lot since 1.0. Since you can't reproduce and the code has changed it will be challenging to debug. If possible I would recommend you upgrade to 1.2, we are no longer supporting 1.0

[2019-07-04 20:00] howardjohn commented on #15352
is nothing validating at all or just not that config? maybe the validation logic changed if so, I'll take a look.

If not maybe the webhook isn't installed, can you check with `kubectl get validatingadmissionwebhook`

[2019-07-04 20:07] Martinlck commented on #15362
@howardjohn
Hi! Well my reason is, that I do not want to use Istio on GKE as it does not allow me to touch the control plane, even for things like trace sampling on the pilot, which is very annoying.
So I decided to do my own install on my GKE cluster, and I have most of my GCP resources deployed through deployment manager, that's how I found the template on how to install it, which comes on the I

[2019-07-04 20:11] howardjohn commented on #15362
Yeah I would say we either need to fix it up or get rid of it. I would recommend you take a look at GitHub.com/Istio/installer as well which is where we are working on a newer installer that is more flexible

[2019-07-04 20:20] Martinlck commented on #15362
Oh wow, I did not knew about this installer repository... So what do you suggest? I could fix this installer for now, and later on when the new one is released I can migrate to it. Or do you want me to look at something in particular about the new installer?

[2019-07-04 21:02] howardjohn commented on #15362
If users are using deployment manager we want to make it easy for them to
integrate that, but I worry we will just have it get really stale like it
is now (and I think we have ansible installer as well which I suspect is in
the same state).

Just took a look at the current implementation, it looks like a very loose
wrapper around the helm installation we have. Really just sets up a GKE
cluster (mo

[2019-07-04 21:58] Martinlck commented on #15362
Sounds good,  we can spin up a regional cluster with more customisable parameters.

Then install istio taking a few more parameters into consideration (like tracing sample), also update the helm version as Istio site recommends to be greater than 2.9

I'll put a PR soon

[2019-07-04 22:20] howardjohn commented on #15362
What I meant was would it make more sense to use a supported templates for
gke like
https://github.com/GoogleCloudPlatform/deploymentmanager-samples/blob/master/community/cloud-foundation/templates/gke/README.md
then install Istio into it using the supported install methods?

We already have settings exposed through helm, I don't think it makes too
much sense to have another abstraction over this.

[2019-07-04 22:47] Martinlck commented on #15362
I see! That looks good, the only thing I would like to change from there are some of the deprecated properties.
https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.zones.clusters#resource-cluster

- initialNodeCount
- nodeConfig (as optional)

Instead of using nodePool, and node configurations.

Then install istio using helm just as is now, but with the fix for latest versio

[2019-07-05 01:12] jaygorrell commented on #15235
I've been able to consistently reproduce this and updated the OP, removing a bunch of irrelevant information.

[2019-07-05 01:33] mofee commented on #14386
today, i tried to config the envoy dynamic forward proxy, but it required that
1. filter should be configured with the name envoy.filters.http.dynamic_forward_proxy
2.Both filter and cluster must be configured together and point to the same DNS cache parameters for Envoy to operate as an HTTP dynamic forward proxy

i can config the http filter via the istio envoy filter, how can i config cluster

[2019-07-05 01:33] niejian opened #15363 "istio-citadel always CrashLoopBackOff"
* version： istio: 1.2.0, k8s: 1.5.0
when I installed istio, then use ` kubectl get pods -n istio-system` to see some pods.
[code]
here is the log
[code]
**I remove all components and install it again, it occur again, does any one know how to solve it**

[2019-07-05 01:34] #12311 closed

[2019-07-05 01:45] mrshengzyzy commented on #15352
@howardjohn thx to apply
I install the istio with default configuration.

Inistio-1.1.2
[code]

The  webhook isn't installed but validating also work.

In 1.2.0
[code]

[2019-07-05 02:04] claudiobizzotto commented on #15275
I'm having the same issue on GKE `1.13.6`. Hard to debug it, though, because the problem seems to be intermittent -- I don't have the slightest clue of what's causing the issue. In my case, all I have is a deployment and a service (no Istio ingress).

When I run `kubectl get pods --namespace=istio-system`, I can see that `istio-pilot` is only running one of its two containers (not sure if this is

[2019-07-05 02:32] dzdx commented on #15355
the version of istio I used is istio-1.1  （image tag： release-1.1-latest-daily ）

[2019-07-05 03:46] ckcd commented on #11815
I have confirmed that `delay` in Fault injection can support gRPC/HTTP2.

And the `abort` in Fault injection can NOT support gRPC/HTTP2 which is represented in source code:

[code]

[2019-07-05 03:56] dozer47528 opened #15364 "Sidecar graceful shutdown support"
We have a `DaemonSet ` and exposed to AWS load balancer with `hostPort`.

Before shutdown our Pods, we will call AWS API to deregister it from the load balancer.

We made a container for that: [aws-elb-hook-docker](https://github.com/AminoApps/aws-elb-hook-docker)

It works well when we deploy it without an istio sidecar.

But after using istio sidecar, the sidecar shutdown before our container, a

[2019-07-05 04:26] hanoisteve opened #15365 "http2 not supported as gateway port protocol specifier"
**Bug description**
For allowing GRPC traffic the Gateway only supports specifying HTTP, http, HTTPS, https for the port protocol.  Using HTTP2, or GRPC does not appear to be supported and will cause error.  I have confirmed this on my cluster for Istio 1.1.7 and have not yet tested on 1.2.1

This behavior was first noticed in Istio version 1.0

https://github.com/istio/istio/issues/7843

Its a hi

[2019-07-05 05:57] ckcd commented on #15292
/assign

[2019-07-05 06:24] IamGabrielWu commented on #15275
@howardjohn Yes and @curtbushko  I don't have the issue "node port already in use".
Actually i fixed the issue by using below values.yaml and then do helm upgrade. hope it can help others too.

[code]
The helm upgrade istio comand
[code]

[2019-07-05 06:33] tibetsam commented on #15291
@gyliu513 @vadimeisenbergibm could you please have a look into this issue? I saw you guys worked on https://github.com/istio/istio/issues/5995. Thanks a lot.

[2019-07-05 07:18] hanoisteve commented on #15365
When I use http for the gateway protocol port the logs at the echo service pod proxy does show that HTTP2 protocol is in use:

[2019-07-05T07:01:38.428Z] "POST /com.test.echo.EchoService/echo HTTP/2" 200 - "-" 12 26 4 3 "10.10.x.xx” "grpc-go/1.21.0" "c1cd647d-f4da-99de-a666-7b0aad6bafa78” “myserver.com:31380" "127.0.0.1:9009" inbound|9009|grpc|echo.default.svc.cluster.local - 10.241.32.xx:9009 10.

[2019-07-05 07:31] mihai-tiriplica-hs commented on #15359
@howardjohn thanks for the response! Unfortunately we can't afford to be very early adopters. We are trying to integrate Istio in a production environment where uptime is very important for our users and new releases can introduce unknown bugs. The incompatible changes between 1.1 and 1.0 also stopped us to upgrade to 1.1. I have 3 follow up questions:

1. Is there an official announcement that 1.

[2019-07-05 07:36] clyang82 commented on #10768
/assign

I will do it next week.

[2019-07-05 08:09] morvencao opened #15366 "Invalid pilot deployment manifest generated with istio operator"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

Generate the manifests with default profile plus build-in chart for Istio installer and apply into the k8s env, get invalid `istio-pilot` deployment yaml:
[code]

**Bug

[2019-07-05 08:15] morvencao commented on #15366
@ostromart Any special reason why we comment these lines in default profile: https://github.com/istio/operator/blob/master/data/profiles/default.yaml#L32-L35

This results in invalid pilot deployment.

[2019-07-05 08:56] anannaya opened #15367 "inter pod communication using ip How to achieve this in istio?"
I have multiple replicas of pod which is running in deployment. There is requirement where pods need to communicate each other using ip address, How can this achieved ? I have followed below thread which didnt work for me.

https://discuss.istio.io/t/question-enable-in-mesh-pod-to-communicate-with-another-in-mesh-pod-using-podip-mtls-enabled/1077

[2019-07-05 09:02] ckcd commented on #15292
I'm working on this issue and I have some idea: I think add a params in `virtualservice` may be a good method, for example:

[code]
use `usePermanentRedirect: true` to indicate that using `308` rather `301`.

@dwalton76 @howardjohn ideas welcome ~

[2019-07-05 09:23] morvencao opened #15369 "CRDs for cert-manager are missing for the manifests generated by istio-operator"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

Build the istio-operator with latest master, and generate the istio manifests, the apply to k8s env, found that the CRDs for cert-manager are missi

[2019-07-05 09:41] morvencao opened #15370 "Missing yaml separator for yaml manifests generated by istio-operator"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

Currently if you generate the yaml manifests with default profile:

[code]

You will find the yaml is invalid because there are some missing yaml s

[2019-07-05 09:53] harshul4274 opened #15371 "Readiness probe failed: HTTP probe failed with statuscode: 503"
Events:
  Type     Reason     Age    From                        Message
  ----     ------     ----   ----                        -------
  Normal   Scheduled  8m14s  default-scheduler           Successfully assigned ns-beta/pod-istio1-55476bf445-bjnkv to nkv01.example.com
  Normal   Pulled     8m13s  kubelet, nkv01.example.com  Container image "docker.io/istio/proxy_init:1.2.0" already present on

[2019-07-05 09:58] harshul4274 commented on #15371
In kubernetes a issue come during ingress gateway used. When i check the log a error come is Readiness probe failed: HTTP probe failed with statuscode: 503. All pod are run in the container and all are running mode. If i put the request through a curl and error come is curl: (6) Could not resolve host: abc.example.info .

[2019-07-05 10:45] sendilkumarn commented on #10545
@ecojuntak We had used `RouteRule` with `precedence` but it is deprecated in the recent releases.

[2019-07-05 12:27] zhangbo1882 commented on #14258
thanks

[2019-07-05 13:31] mihai-tiriplica-hs commented on #15359
Sorry for continuing this, but I was looking over the latest pilot push code and it looks close enough to the old code for me to compare. I noticed this comment:

https://github.com/istio/istio/blame/master/pilot/pkg/proxy/envoy/v2/ads.go#L472

Do you think the race condition can cause pilot to not send EDS configs? It seems that pushing configs takes around 10 seconds. I'm not sure if it's a lot

[2019-07-05 15:34] howardjohn commented on #15359
https://istio.io/blog/2019/announcing-1.0-eol-final/

On Fri, Jul 5, 2019, 6:32 AM mihai-tiriplica-hs <notifications@github.com>
wrote:

[2019-07-05 16:11] ncouse commented on #8319
The fix above seem to address Issue #8319, but not this issue (i.e. space separated scope string)

As per draft RFC for OAuth Token Exchange - Section 4.2, the `scope` claim is a space separated string of scopes, and not a list.

 https://tools.ietf.org/html/draft-ietf-oauth-token-exchange-16#section-4.2

The `scope` claim is also currently a _temporarily_ registered claim with IANA: https://www.i

[2019-07-05 16:35] howardjohn commented on #15371
could not resolve host sounds like you are having dns issues

[2019-07-05 16:36] howardjohn commented on #15367
/assign @philrud

I think he is working on this/similar issue

[2019-07-05 16:43] howardjohn commented on #15363
looks like failed to connect to api server, is it crashing or something? Do you have some restrictive network policy blocking it?

[2019-07-05 17:02] philbour opened #15373 "Documentation on default global concurrency incorrect"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
On the https://istio.io/docs/reference/config/installation-options/#global-options page, the default value for global.proxy.concurrency is set to 2,

[2019-07-05 17:38] adityats2020 commented on #13832
IIRC the root certificates are now valid for 10 years.

[2019-07-05 19:00] nfisher commented on #9504
I'm seeing similar issues with a new GKE+Istio cluster and a single deployment. Adding `readiness.status.sidecar.istio.io/applicationPorts: ""` seems to resolve the issue of the proxy not being ready but it starts emitting a number of log errors in the proxy as follows:

[code]

Prior to adding this annotation I was seeing similar log entries as this comment:

https://github.com/istio/istio/issues

[2019-07-05 19:51] nfisher commented on #9504
Adding a headless deployment seems to negate the need for `readiness.status.sidecar.istio.io/applicationPorts: ""`. There seems to be a new set of warnings in the istio-proxy sidecars logs:
[code]

[2019-07-05 21:17] cagataygurturk commented on #14555
We want to shift the JWT token validation responsibility to Istio. Since we are doing end-user authentication, `originIsOptional` is a bit closer to our requirement but not exactly.

The logic we'd like to use in upstream services is like this:

- If there is JWT token coming from Ingress, decode it and use the payload without validating the token again, because Istio already did.
- If there is no

[2019-07-05 23:35] #2802 closed

[2019-07-06 00:35] #11578 closed

[2019-07-06 02:32] withlin commented on #13052
I have solved the problem and I found it to be a network problem with my k8s.
[code]

[2019-07-06 05:01] howardjohn opened #15374 "CircleCi nightly config references non-existing target"
https://github.com/istio/istio/blob/master/.circleci/config.yml#L163 doesn't exist

[2019-07-06 05:33] richardwxn opened #15375 "Gateway setting need to be sync between value.yaml and new IstioControlPlaneSpec"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
The gateways definition in operator API and values.yaml is different. In operator API, IngressGateway and EgressGateway consists of array of gateway

[2019-07-06 06:49] asitaru commented on #1430
We would like to get some updates now that UDP is supported in envoy.

[2019-07-06 09:13] vadimeisenbergibm commented on #14258
@zhangbo1882 Could you please close this issue?

[2019-07-06 09:16] morvencao opened #15376 "Gateways(feature and components) are skipped by default with istio-operator"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

Bug description

Currently if you generate the yaml manifests with default profile, you will find that the gateways feature and components are skip

[2019-07-06 10:01] zqzzq opened #15716 "is it possible to build istio-proxy in mips64 platform"
my host is mips64 platform with linux:
[code]
and the bazel has already supported mips64:
[code]
but when I build istio-proxy I encountered this error:
[code]
Does this error mean that I need to change the source code to add a toolchain for mips64?

[2019-07-06 12:30] #14258 closed

[2019-07-06 12:54] niejian commented on #15363
no. But it work in version 1.1.7, failed in version 1.2.0

[2019-07-06 14:03] vadimeisenbergibm commented on #15291
@tibetsam Please note that in the passthru mode, the traffic is encrypted, so the HOST header and any other HTTP information can be seen by Envoy. So it cannot verify HOST.

[2019-07-06 18:49] ostromart commented on #15366
There's some problem with unmarshaling into the struct because of this - perhaps it's the wrong version of the API, or something like that. I haven't had time to look into it yet, feel free to take a crack at :-)

[2019-07-06 19:02] #15369 closed

[2019-07-06 19:06] ostromart opened #15377 "Sync operator and installer charts"
The operator charts in data/charts have diverged somewhat from the installer charts due to fixes (e.g. adding missing YAML separators).
We need to bring these back in sync and use the ones in installer as a source of truth going forward.

[2019-07-07 05:53] tushar00jain commented on #13832
@adityats2020 not automatic or triggered rotation sounds dangerous and I wonder why both kubernetes and istio chose to go down this path

do you know if what happens to the intermediate ca certificates and certificate chain when self signed certificates are disabled, will at least those be rotated automatically?

[2019-07-07 13:26] laobao commented on #8807
Experiencing same issue, is there an open envoy issue around this?

[2019-07-07 16:42] cscetbon commented on #12551
@andrewjjenkins @silentdai, don't know if it helps understanding it or fixing it, but I made some tests using istio-cni and it works without having to do any hack regarding the local communication. It means I don't need to force it to listen on `127.0.0.1` for local communications and do no longer need that special rule regarding POD_IP.

I'm just surprised by the output of istioctl :
[code]

Does

[2019-07-07 19:03] sudomann commented on #8076
Oh my goodness. I have wasted 4 hours of my day trying to diagnose this. Wonderful find @RafaelMarquesRodrigues .

My initial problem was that I thought the rewrite wasn't working at all, so I compared traffic logs from envoy sidecar in my deployment and the proxy in the default ingressgateway deployment. The paths were exactly the same.

I had to go deeper and check the logs of the webserver runn

[2019-07-07 20:24] craigbox commented on #8076
Could we please just make it work the way we expect?

[2019-07-07 22:17] richardwxn commented on #15240
@kramerul Hi Ulrich, I try to help create a PR from your fork and also got a 405. Is it because pr size issue?

[2019-07-07 22:33] evan2645 commented on #13158
This is fixed, right?

[2019-07-07 22:42] sudomann commented on #8076
I wish I knew how and where to make the changes for a pull request. The thought of maintainers later changing the behavior worries me enough.

Browsers and operating systems automatically ignore/remove duplicate slashes.
In my opinion, the sensible approach here:

- A slash is truncated where there are duplicates
- An empty string (not whitespace) is an accepted `rewrite.uri` value (and then the a

[2019-07-07 23:32] myidpt commented on #15269
values.yaml has flags to enable using trust-worthy JWT:
https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/values.yaml#L448
Yes, I think we are missing the document about how to enable it.

The default installation of 1.2 allows Citadel to generate certs based on either the un-scoped or trustworthy JWT. I agree that by default Citadel should not generate certs based on the un

[2019-07-08 03:54] mandarjog commented on #15358
@douglas-reid @kyessenov this is related to the grpc resp code metric.

[2019-07-08 05:21] toothbrush opened #15378 "Periodic hangs when calling external HTTP services"
Hello!  I've been struggling with this for quite a bit, and would like to ask for some input, please.  My apologies if it's PEBKAC.

### Context

Installed Istio 1.2.2 on Amazon EKS cluster (2 x t3.large nodes) in ap-southeast-2.

### Bug description

When deploying a Debian pod to the cluster in default namespace (sidecar injection enabled in default namespace), then running `apt update && apt in

[2019-07-08 06:36] bruse-peng commented on #15321
who can help me i will appreaction for you helping

[2019-07-08 06:40] johnma14 commented on #14220
All the PR's related to this issue has been fixed and merged. Closing this one. Thanks.

[2019-07-08 06:40] #14220 closed

[2019-07-08 08:05] harshul4274 commented on #15371
Thanks for give a comment. A actually problem is a ip address not set and in back end are not set a namespace which is not find a ip.

Now a proble, Resolve.
![Screenshot from 2019-07-08 13-34-45](https://user-images.githubusercontent.com/34963521/60793371-37c6ab80-a185-11e9-82b3-a9f0a37056cb.png)

[2019-07-08 08:15] anthonyhaussman commented on #6071
I still have the same issue in version 1.2.2.
When I try to set a specific `host` in my Gateway, I have an `SSL_ERROR_SYSCALL` but it works great with a wildcard.
I have a simple application who returns a token on a POST.
Here are my tests.
Set up working with hosts wildcard:

[code]

Set up not working with specific hosts:
[code]

I am not interested to use the `httpsRedirect` method (I don't hav

[2019-07-08 08:52] chaudyg opened #15379 "gateways from meshNetworks are not picked up when using ServiceEntries"
**Bug description**
Gateways from meshNetworks are not picked up when using ServiceEntries.

I would like to route every request from a specific CIDR block via a remote gateway. For example, route every request to *.mycompany.local (cidr 10.123.0.0/24) to a remote gateway 1.2.3.4:443 inside the mesh.

Note than not everything undert *.mycompany.local will be routed via the gateway, only whatever r

[2019-07-08 08:57] tibetsam commented on #15291
@vadimeisenbergibm thanks a lot...you are right....that is encrypted and that's why we have SNI...stupid me...
And you mentioned that proxy is not validating HOST in HTTP neither, so it's an expected behavior?
To me it's an bug for HTTP then.

[2019-07-08 09:56] vadimeisenbergibm commented on #15291
Yes, it seems it is an expected behavior for HTTP, see the output in https://github.com/istio/istio/issues/15291#issuecomment-508928851.

[2019-07-08 10:35] TanOfAllCodes commented on #15358
@mandarjog @douglas-reid @kyessenov How do I use the GRPC response code metric in this particular case?

[2019-07-08 10:36] hanoisteve commented on #15358
Have you asked on the envoyproxy.slack.com channel?

[2019-07-08 10:53] TanOfAllCodes commented on #15358
@hanoisteve I dont have access to it...

[2019-07-08 11:16] hanoisteve commented on #9919
What about the working sample? Where is that? It was part of the question?

[2019-07-08 11:30] mojsha commented on #11977
Is there any work being done on this? Our particular usecase is that our entire OpenShift cluster is multi-tenant  and we would like to have a service-mesh per project.

[2019-07-08 11:45] hanoisteve commented on #15358
Ok, I asked them. I will see what they say. I agree GRPC support is high priority.

[2019-07-08 11:52] dgn opened #15380 "End user authn: add support for alg=RS384 and alg=RS512 claims in JWT filter"
**Describe the feature request**
I'd like to use existing JWTs with alg=RS384 or alg=RS512 claims with Istio's end user authentication policies. Currently, the JWT authn filter will reject all JWTs with `alg` claims outside of `['RS256', 'ES256']`.

**Describe alternatives you've considered**
The only way right now seems to be changing existing applications to use the weaker hash algorithm (SHA256

[2019-07-08 12:47] dgn commented on #15380
I also filed a PR in the istio/proxy repository to apply the changes to the 'old' JWT filter: https://github.com/istio/proxy/pull/2301

[2019-07-08 13:00] TanOfAllCodes commented on #15358
@hanoisteve @crockeo @junr03 @mattklein123
I guess this issue relates to
https://github.com/envoyproxy/envoy/pull/5682

How do I apply this into my configuration?

[2019-07-08 13:25] MarcosDY commented on #13158
it is waiting for a final review, all suggested changes are done

[2019-07-08 13:48] tibetsam opened #15381 "istio CNI is not working correctly with IPv6"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
after enabling istio-cni and the side-car proxy never came up bcz of readiness failing.
the root cause is ip6tables INPUT tables rules are not corre

[2019-07-08 14:12] tibetsam commented on #15291
@vadimeisenbergibm  yes, i've checked your output. but it only tells me it is current behavior rather than expected behavior. what do you say ?

[2019-07-08 14:14] tibetsam commented on #15381
@tiswanso I saw you worked on https://github.com/istio/istio/issues/14318.
could you please help here? Thanks.

[2019-07-08 14:16] esnible commented on #14909
@mike-holberger I attempted to create the ServiceEntry.  I was unsuccessful with variants of

[code]

I could consistently get CockroachDB working by doing

[code]

This suggests the problem is related to port naming, not to StatefulSets.  I did NOT need a ServiceEntry to get CockroachDB working.

[2019-07-08 14:29] howardjohn commented on #15275
@claudiobizzotto pilot is having trouble talking to galley, the component which pushes config to pilot. I would suggest looking at galley for more

[2019-07-08 14:33] howardjohn commented on #15381
fyi @sbezverk

[2019-07-08 14:38] evan2645 commented on #13158
@MarcosDY Is the fix for this not #13163? It has already been merged

[2019-07-08 14:49] vadimeisenbergibm commented on #15291
You may want to rename the issue: Host names are not checked by application envoy proxy. Let's get the feedback of the community on this.

[2019-07-08 14:52] MarcosDY commented on #13158
Sorry it is merged! so this is issue is currently fixed, sorry for confusion

[2019-07-08 14:53] vadimeisenbergibm commented on #6071
@anthonyhaussman Please note that the host in the Gateway must match the host in the Virtual Service. So when you change the host name in your Gateway from wildcard to a specific host, please remember to change it in the VirtualService as well.

[2019-07-08 14:56] #13158 closed

[2019-07-08 14:57] elevran commented on #14240
Feature request [7488](https://github.com/envoyproxy/envoy/issues/7488) submitted to Envoy proxy repository

[2019-07-08 14:58] mike-holberger commented on #14909
@esnible it looks like your hosts are not formatted correctly. the correct format for headless service addressing is:

serviceName-0.serviceName.namespace.svc.cluster.local

Also: change the protocol to just "TCP" on both this service entry, and also in the port name in the headless service. For whatever reason, when it's labeled GRPC it cannot make the TLS handshake, but does work when labeled TC

[2019-07-08 14:58] cagataygurturk opened #15385 "Ability to add custom dashboards to Grafana"
**Describe the feature request**

It is already easy to add custom dashboards to Istio's Graphana instance by copying dashboard JSON into Helm chart before installing it. It smells a bit hacky though. I wonder if it possible to add an extra option to installer to streamline this process.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[x ]

[2019-07-08 15:27] howardjohn commented on #15371
Sorry this wasn't clear to me, is this fixed now or are you still seeing problems?

[2019-07-08 15:28] karlmutch commented on #14601
I believe we can close this.

After subsequent upgrades to 1.2 the problem has not re-appeared.

I dont know what the cause would have been but without a solid gRPC example/testing application I think its not worth it to return to the issue unless we seee it again.

Thanks for your message

[2019-07-08 15:28] #14601 closed

[2019-07-08 15:28] morvencao commented on #15330
@ostromart I think I can take this.

[2019-07-08 15:52] incfly commented on #15323
Adding `istio-mixer` to the `/etc/hosts` for the gateway dns? I think it get it work sometime without adding `istio-mixer` though...
https://github.com/incfly/eztio/blob/master/bin/istio-gce.sh

Btw, I don't think you'll get meaningful metrics from mixer currently...

[2019-07-08 16:48] howardjohn opened #15386 "Test Framework: Bookinfo should support native environment"
As far as I know there is nothing blocking native environment for bookinfo

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[x] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

[2019-07-08 17:08] lambdai opened #15715 "Use raw string literal in the test"
See https://en.cppreference.com/w/cpp/language/string_literal
```prefix(optional) R "delimiter( raw_characters )delimiter"```

One of the example to be update is here https://github.com/istio/proxy/blob/716f81bc6e24a4e8502c631c25df2aa3c7686beb/src/envoy/http/jwt_auth/jwt_authenticator_test.cc#L256

[code]

[2019-07-08 17:11] #15061 closed

[2019-07-08 17:26] howardjohn commented on #15364
Does this help: https://github.com/istio/istio/issues/14988 This allows the proxy 5 seconds to drain connections before it shuts down, and can be configured to be longer (although not through helm as the issue mentions).

If not, what benefit does the sleep have?

See https://github.com/istio/istio/issues/7136 for some additional context

[2019-07-08 17:30] howardjohn commented on #13883
@fpesce is this still needed? you closed the main issue

[2019-07-08 17:32] esnible commented on #15352
`istioctl validate` considers this VirtualService valid.  I tested with 1.2.0 and 1.1.8.

[2019-07-08 17:36] howardjohn commented on #15352
Confirmed this is marked as valid in 1.2 and fails in 1.1.0. Seems like a regression

[2019-07-08 17:41] gargnupur commented on #14658
Thanks @jstew7 for the comment. We should improve logging, so as to make it easy for users to figure out the errors.

[2019-07-08 17:45] esnible commented on #15313
Do this:

[code]

To test, start an interactive container and do `curl --location httpbin.org/headers`.  Without that rule you will see the Host set to httpbin.org, with that rule you will see the Host set to www.httpbin.org.

[2019-07-08 17:47] howardjohn commented on #15352
Behavior change is at least partial from https://github.com/istio/istio/pull/13054. It is not clear to me what exactly the validation should be for the destination field. According to https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#Destination it should be valid to have no subset and to not specify a port so I think there is nothing to be done here?

[2019-07-08 18:30] esnible commented on #14840
Note that if a ServiceEntry is created as recommended in https://github.com/istio/istio/issues/10659 then /debug/authenticationz does show the hosts, as does `istioctl authn tls-check`.

[2019-07-08 19:10] howardjohn commented on #15386
Actually this is a lot less trivial than I thought..

@nmittler what do you think? Options I can think of:

* Migrate mixer tests to use echo and not bookinfo
* Get bookinfo running on docker as well -- probably way to much effort/complexity to be worth it
* Keep all the mixer tests as kube only (:slightly_frowning_face:)

[2019-07-08 19:26] nmittler commented on #15386
@howardjohn makes sense.  At this point, I think migrating the tests to use echo is the right way to go.

[2019-07-08 20:26] kyessenov commented on #15386
Echo does not represent a realistic micro-services app. Mixer tests require sufficient complexity so we can show the interesting features (deep traces, policies between services, etc).

[2019-07-08 20:38] costinm commented on #15269
The flags to enable trust-worthy JWT exist - but don't apply to Citadel. Same for the flag to use un-trustworthy.

[2019-07-08 21:07] costinm commented on #15041
I'm not sure this is the right approach - in particular considering future plans on CNI.
Even exposing 15000 - with all the /admin capabilities - to the app seems risky, and I think should be avoided. I don't know if it's a good idea to assume that the sidecar will always be in the same network namespace with the application, or that application should have access to the /admin of envoy.

If I und

[2019-07-08 21:11] ostromart commented on #15151
Fixed in https://github.com/istio/operator/pull/61

[2019-07-08 21:11] #15151 closed

[2019-07-08 21:14] Stono commented on #15041
The goal I thinj is to not have to make modifications to applications in
order for them to run effectively on the mesh.

https://github.com/monzo/envoy-preflight is an example of how the community
already does this with envoy, pilot-agent breaks this

Karl

On Mon, 8 Jul 2019, 22:08 Costin Manolache, <notifications@github.com>
wrote:

[2019-07-08 21:16] quanjielin opened #15392 "pilot generate sdsconfig based on metadata passed from pilot-agent"
https://github.com/istio/istio/issues/15267

today we uses global flag in pilot code to decide whether to generate sds or secret mount, which is ok for new cluster setup; to support migration case, we need to update the sdsconfig generation logic based on metadata passed from pilot-agent(after https://github.com/istio/istio/issues/15268 is done)

[2019-07-08 21:20] Stono commented on #15041
Also we have quite a few apps that don't expose http listeners, eg cronjobs

[2019-07-08 21:49] ostromart opened #15394 "Remove common from components/common path in CRD"
There's no way to embed in proto so we get an unnecessary "common" field in the components path. Remove this to make life easier for users.

[2019-07-08 22:47] yangminzhu commented on #15230
@lei-tang It seems the test started to fail again.

[2019-07-08 22:50] #12358 closed

[2019-07-08 23:19] howardjohn opened #15396 "TestJobComplete flakes often"
Example failures:

- https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio_istio/14614/istio-pilot-e2e-envoyv2-v1alpha3-master/3062
- https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio_istio/14614/istio-pilot-multicluster-e2e-master/2355
- https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio_istio/14614/istio-pilot-multicluster-e2e-master/2496
- https://gubernator.k8s.i

[2019-07-08 23:20] howardjohn commented on #15191
Can't reproduce, closing

[2019-07-08 23:20] #15191 closed

[2019-07-08 23:27] howardjohn commented on #15222
We "fixed" this in installer with https://github.com/istio/installer/pull/272. If this is needed for istio/istio I suggest we do the same here. For now closing this

[2019-07-08 23:27] #15222 closed

[2019-07-09 00:00] istio-testing commented on #12431
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-09 00:00] istio-testing commented on #12678
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-09 00:00] istio-testing commented on #14125
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-09 00:00] istio-testing commented on #14672
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-09 00:00] istio-testing commented on #14791
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-09 00:00] istio-testing commented on #14819
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-09 00:01] yangminzhu commented on #14555
Just do confirm, your application will decode the JWT token (from base64 to json) and use it directly as you assume it's already validated Istio, right?

So to summary, a request is allowed if it has a valid JWT token or if it doesn't have JWT token at all?

[2019-07-09 00:24] #14237 closed

[2019-07-09 01:29] hzxuzhonghu commented on #12873
/reopen

This has not been finished.

[2019-07-09 01:29] istio-testing commented on #12873
@hzxuzhonghu: Reopened this issue.

<details>

In response to [this](https://github.com/istio/istio/issues/12873#issuecomment-509450990):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2019-07-09 01:38] toothbrush commented on #15378
See also my reply to this thread: https://discuss.istio.io/t/waiting-for-headers-takes-25-seconds/2762/3?u=pda

An extra detail:

[2019-07-09 01:46] howardjohn commented on #14791
Seems to still be failing. Recent one: https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio_istio/15297/istio-unit-tests-master/3070/

[2019-07-09 02:01] anannaya commented on #15367
@philrud  Do you any way to make it work?

[2019-07-09 02:27] hzxuzhonghu commented on #12873
done by #15257

[2019-07-09 02:27] #12873 closed

[2019-07-09 03:33] #15334 closed

[2019-07-09 04:01] dozer47528 commented on #15364
@howardjohn  #14988 that's really helpful for me.

[2019-07-09 04:51] cscetbon opened #15399 "Istio CNI and MUTUAL_TLS"
**Bug description**
Using istio-cni to encrypt communications between pods of a StatefulSet. When controlPlaneSecurityEnabled is globally enabled my service starts correctly but communications are not encrypted. I was able to confirm it using tcpdump in one of the Istio-proxy containers. istioctl shows that client uses HTTP :

[code]

the different tests I tried show that

- when [g] global contro

[2019-07-09 04:52] cscetbon commented on #12551
I created a new [issue](https://github.com/istio/istio/issues/15399) after having tested istio-cni

[2019-07-09 05:23] harshul4274 commented on #15371
Yes, problem is fixed and working with **abc.example.info** .

[2019-07-09 05:25] howardjohn commented on #15371
Great!

[2019-07-09 05:25] #15371 closed

[2019-07-09 05:30] harshul4274 commented on #15371
Thanks for shared your information.

[2019-07-09 06:16] ozevren commented on #12083
Hey @Nino-K sorry, I missed the tag. I am currently not working on it, feel free to grab it. Thanks!

[2019-07-09 06:34] toothbrush opened #15400 "Kiali doesn't report GRPC errors"
# Bug description

As with my other reports, this might be PEBKAC.  However, there is at the very least a gap in my understanding.  Thank you for indulging me!

## Context

I'd like to deploy a set of my services (which use GRPC to communicate) to an Istio-enabled Kubernetes cluster (i'm currently trialling EKS with 1.13) and subsequently have a way to be alerted of connectivity issues between the

[2019-07-09 07:45] cagataygurturk commented on #14555
Yes @yangminzhu this is exactly what is needed. I believe a lot of user-facing API‘s want to work in this way.

[2019-07-09 07:45] sudomann commented on #13113
Chiming in to say this should be better reflected in docs as well. Thankfully I found this before wasting hours to figure out what was going on. In my case: after I would create my custom gateway, it was detected/used if I did one of the following:

- Added `istio-autogenerated-k8s-ingress` to the `spec.gateways` list of my `VirtualService`.
- Deleted the `istio-autogenerated-k8s-ingress` gateway

[2019-07-09 08:17] ramaraochavali commented on #15183
@howardjohn @rshriram Any objections  on adding the "use_http_header" to default passthrough cluster based on a config? I will push a PR to that effect if you are fine with it.

[2019-07-09 09:01] Liv1020 commented on #10336
@dbarentine  This doc will help you, https://istio.io/docs/setup/kubernetes/additional-setup/requirements/. This issue can close?

[2019-07-09 09:03] #13309 closed

[2019-07-09 09:38] #15396 closed

[2019-07-09 10:20] neelmyrx commented on #15357
facing same issue. Any progress?

[2019-07-09 11:29] nirvanacc opened #15401 "Istio mutual TLS with consul"
In k8s, i want to use 'Istio mutual TLS' to control the communication between consul server and consul server, or consul server and consul client. At this time, i need to ensure the safe of the communication with TLS.
So i inject sidecar to consul, the method to join consul cluster is via
-retry-join="provider=k8s label_selector=\"app=consul-server\" namespace=micro-service"
i got a err msg from c

[2019-07-09 11:33] nirvanacc commented on #15401
yes, it work good even if i inject the sidecar as long as i don't usr 'Globally enabling Istio mutual TLS'

[2019-07-09 11:41] hzxuzhonghu commented on #15399
@cscetbon I doubt if you enabled `allow_any` outbound traffic policy, so the traffic goes through the PassthroughCluster  cluster, and it is expected to be passed transparently.

[2019-07-09 12:02] tibetsam commented on #15291
it's done. thanks for the suggestion.

[2019-07-09 12:10] vadimeisenbergibm commented on #15291
Could you please rewrite the first comment as well? It could be just:

{
  "headers": {
    "Accept": "*/*",
    "Host": "myhost.com",
    "User-Agent": "curl/7.60.0"
  }
}

[2019-07-09 12:47] hzxuzhonghu commented on #15367
How do you get the podip? As pod ip will may change, it is not suggested to use directly.  Please try to use headless service.

[2019-07-09 13:06] howardjohn commented on #15183
this seems like a security vulnerability waiting to happen. For instance someone sets this on their DR, now users through ingress gateway can set this header and he routed to arbitrary services? Maybe I misunderstand the feature though

[2019-07-09 14:08] cscetbon commented on #15399
@hzxuzhonghu all the commands I used are in the description (see how Istio was installed and my gist). I'm not sure I understand your point, can you elaborate ?

[2019-07-09 15:59] #14159 closed

[2019-07-09 16:17] fpesce opened #15407 "Need tests that exercise IPv6, ideally with IPv4 disabled so we can be sure that IPv6 continues to work / doesn't regress"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
There is no test or not enough testing for IPv6 support.
This is created after a [comment from @duderino ](https://github.com/istio/istio/issues/175

[2019-07-09 16:30] fpesce commented on #15269
A reminder here: please submit your fixes to master and cherrypick to 1.2 :
- master is going to be branched for 1.3 in a few weeks, and fixes will automatically land to 1.3 and further.

If your fix happens after that branch creation [planned for August 13th](https://discuss.istio.io/t/action-required-please-move-issues-for-1-3-to-the-1-3-milestone/3022) , you will have to cherrypick to 1.3 and 1

[2019-07-09 16:41] fpesce opened #15408 "Adding a SDS scenario to our existing upgrade tests"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
As per [ @duderino 's comment](https://github.com/istio/istio/issues/15020#issuecomment-505561763) in #15020 , we should have a SDS scenario in our

[2019-07-09 16:42] fpesce commented on #15020
I prefer to close this issue, and opened a new one with an appropriate subject/title to keep track of the task of creating a SDS scenario to our existing upgrade tests.

[2019-07-09 16:42] #15020 closed

[2019-07-09 16:52] rlenglet commented on #14141
According to @howardjohn, this can be solved by https://github.com/istio/istio/issues/14098.

[2019-07-09 17:16] gargnupur commented on #14494
Closing as fix is in...

[2019-07-09 17:16] #14494 closed

[2019-07-09 17:26] howardjohn commented on #15407
cc @sbezverk

[2019-07-09 17:59] cgetzen opened #15411 "Option to control istio configuration through annotations"
**Describe the feature request**
Problem: Decouple istio configuration from helm charts.
Example Solution: Ambassador can be controlled via CRD or annotations. You can then pass annotations into your helm chart via values.yaml. The users are given the flexibility to to hook ambassador up to any chart that allows annotations to be passed in.

Currently, my belief is that to incorporate istio into a

[2019-07-09 18:04] #14794 closed

[2019-07-09 18:12] esnible opened #15412 "Status and Events for Istio CRDs"
This work item tracks the progress of

Istio Config: Status Field Requirements
https://docs.google.com/document/d/1kS1X5GYVyxx1_yuMsi96eZ0u7UXc8M1FugFpt7fT6zM/edit?ts=5d24b8a2

Istio Config: Validation Approach
https://docs.google.com/document/d/1Ag0H7BAsAcW8BeIArQ57bX3U0rLc1cKwN1B5oVRN1Yw/edit

@ozevren @rvennam

[2019-07-09 18:21] howardjohn commented on #14202
Is there any reason you think these are needed?

[2019-07-09 18:23] howardjohn commented on #13619
What is this epic for? There are no issues associated with it and no details

[2019-07-09 18:26] howardjohn commented on #14490
This is fixed now

[2019-07-09 18:26] #14490 closed

[2019-07-09 18:29] fpesce commented on #9866
This test seems to be solid for past few dozen PRs

[2019-07-09 18:29] #9866 closed

[2019-07-09 18:48] #15376 closed

[2019-07-09 18:57] ajanthan commented on #14661
What is the best way to support it in the current config model? adding a new attribute(e.g `allowOrigin_regex`) under `CorsPolicy` or allowing to add regex URLs in `allowOrigin` attribute and separating it while translating it to Envoy config?

[2019-07-09 19:41] pitlv2109 commented on #15306
The code is here https://github.com/istio/istio/blob/master/security/pkg/nodeagent/sds/sdsservice.go#L198

Some logs

[code]

As you can see same SDS client connections were recycled twice. However, I think this may be due to the Envoy bug that generates duplicate requests. If you also think this is the case, feel free to close this.

[2019-07-09 19:49] howardjohn opened #15414 "Helm tests fail on distroless"
Failure: https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio_istio/15395/e2e-simpleTests-distroless-master/1

Logs from pods:
`container_linux.go:247: starting container process caused "exec: \"sh\": executable file not found in $PATH"`

Root cause: https://github.com/istio/istio/blob/f91f99e169c0a4a3ca25fc8aa678d1416d2390da/install/kubernetes/helm/istio/charts/prometheus/templates/tests

[2019-07-09 19:51] quanjielin commented on #15306
recycle twice should be expected when client/server try to disconnect at same time(https://github.com/istio/istio/pull/14043), since there is no harm to remove from map twice,  I think it's fine to close this.

[2019-07-09 19:51] #15306 closed

[2019-07-09 19:53] howardjohn commented on #12527
We have support for distroless now. See https://github.com/istio/istio/issues/12122. I think this can be closed?

[2019-07-09 19:53] #12527 closed

[2019-07-09 19:58] dbarentine commented on #10336
@Liv1020 Yes good to close the issue from my standpoint.

[2019-07-09 19:59] Monkeyanator opened #15416 "Add debug endpoints to Citadel agent"
**Describe the feature request**

The current [node agent](https://istio.io/docs/concepts/security/#node-agent-in-kubernetes) does not expose information on its active connections with proxies ([it includes count metrics](https://github.com/istio/istio/blob/master/security/pkg/nodeagent/sds/monitoring.go), but nothing more specific), and the secret configuration it is providing. This feature reque

[2019-07-09 20:26] #12750 closed

[2019-07-09 20:37] Jpatel86 opened #15417 "Support for multiple MCP sources for endpoints"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
For endpoints/service discovery, multiple MCP sources should be supported in multi cluster environment.

To sync service discovery from external sou

[2019-07-09 21:02] costinm commented on #15417
@nmittler

I believe multiple MCP sources are supported in the config - the problem seems to be that we want the first ( or one ) to be used for config objects, and the others to be used for ServiceEntry only.

Or to adjust the config to have a set of 'endpoint' sources, separate from the config sources.

One option worth considering here - given that there are other implementations of consul adap

[2019-07-09 21:33] howardjohn commented on #15041
Fixed by #15406

[2019-07-09 21:33] #15041 closed

[2019-07-09 21:36] bitva77 commented on #7776
@darkrasid - did you ever figure out how to use Nginx ingress to route to the Istio Virtual Service?

[2019-07-09 22:10] #15355 closed

[2019-07-09 22:34] kyessenov commented on #14061
@yangminzhu @howardjohn

Can we get rid of this dependency? We should not use any alpha-level xDS APIs since they put us at risk of sudden incompatible changes. An opaque blob containing alpha-level APIs should be the right way to enable experimentation, but please don't use the schematized versions, even if it is available in go-control-plane.

[2019-07-09 22:38] howardjohn commented on #14061
I am not sure what you mean by this?

[2019-07-09 22:40] kyessenov commented on #14061
What I meant is to pass-through YAML straight to Envoy without trying to parse it in Istio.

[2019-07-09 22:49] howardjohn commented on #14061
Where are we sending yaml to envoy using alpha APIs? As far as I can tell this is just the admin api that we read for debugging, readiness check, etc?

[2019-07-09 22:51] kyessenov commented on #14061
@howardjohn We should not query alpha APIs in this case. If we depend on the schema of admin APIs for readiness check, then that locks us with particular builds of Envoy since these APIs are churning, and we cannot expect that a month from now or a month ago build of Envoy works with the sidecar agent.

[2019-07-09 23:02] howardjohn commented on #14061
Is there any alternative?

[2019-07-09 23:02] yangminzhu commented on #14061
@kyessenov I think using alpha API doesn't make the things worse in some case. One recent example is here: https://github.com/istio/istio/blob/1a837b3fa74058ff1397bb0207cea20ae269c188/pilot/cmd/pilot-agent/status/util/listeners.go#L40 Previously the code is parsing the `/listeners` output manually using  regex. And it breaks in the test when updating to a newer Envoy because the text output change

[2019-07-09 23:12] kyessenov commented on #14061
@yangminzhu I agree that using API is better than regex-parsing the JSONs. I don't understand how this will be caught during build without a runtime test that validates the envoy output?

[2019-07-09 23:18] yangminzhu commented on #14061
Oh, I mean it will be caught when you updating the go-control-plane API. Also I think the error will be much obvious even if only updating the proxy sha. Previously I have to look deep into the test log to figure out it failed because the text output is changed.

[2019-07-09 23:31] yangminzhu commented on #14061
I think there are at least 3 main use cases of alpha API:
- istioctl uses the admin API to do some analysis on the Envoy config
- pilot-agent uses the admin API to get the active listeners of the Envoy for health check purpose
- pilot authn plugin uses v2alpha Envoy JWT filter API.
(I'm not sure how is this used in test code, feel free to add if there are other use cases)

For the authn v2alpha JW

[2019-07-09 23:52] kyessenov commented on #14061
I'm most concerned about #2. We should use some other stable mechanism to get that number (stats or some other self-monitoring way).

[2019-07-09 23:55] howardjohn commented on #14061
We also look at /server_info (https://github.com/istio/istio/pull/14928).

If there is a more stable way to get this information sgtm, but i am not sure if it is exposed anywhere else

[2019-07-10 00:00] istio-testing commented on #12431
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-10 00:00] istio-testing commented on #12678
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-10 00:00] istio-testing commented on #14125
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-10 00:00] istio-testing commented on #14672
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-10 00:00] istio-testing commented on #14791
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-10 00:00] istio-testing commented on #14819
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-10 00:20] mandarjog commented on #14061
I think stats have been more stable than the rest, but don’t know the api stability level.
Server_info, config-dump are also v2alpha.

That said, this is a good time to define a stable api inside envoy and then use it.
We can define it with the intention of graduating it to stable.

[2019-07-10 01:03] irisdingbj commented on #15323
@incfly    Thanks for the reply~

[3362][warning][filter] [src/istio/mixerclient/report_batch.cc:106] Mixer Report failed with: UNAVAILABLE:upstream request timeout

Have created virutal service for istio-telemetry and also added istio-telemetry into /etc/hosts. However it still report above error.
Why we can not get meaningful metrics even if we connect to mixer? Can you share the reason?

[2019-07-10 01:06] #15116 closed

[2019-07-10 01:25] cereus725 opened #15423 "build proxy rpm failed"
**Bug description**
tried to build sidecar rpm for RedHat VM mesh expansion, but failed with below error:

[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Exp

[2019-07-10 01:41] #15312 closed

[2019-07-10 02:30] cereus725 commented on #15423
INFO: From Generating Descriptor Set proto_library @envoy_api//envoy/service/accesslog/v2:als:
external/com_google_protobuf: warning: directory does not exist.
INFO: From Generating Descriptor Set proto_library @envoy_api//envoy/config/cluster/redis:redis_cluster:
external/com_google_protobuf: warning: directory does not exist.
INFO: From Generating Descriptor Set proto_library @envoy_api//envoy/c

[2019-07-10 02:45] cscetbon commented on #15171
@andrewjjenkins, any news on that feature ? I'm sure you're probably busy but it would be great to know when we'll have something we can test.

[2019-07-10 02:51] cereus725 commented on #15423
@jwendell, any thought on this? Thanks

[2019-07-10 04:00] #15374 closed

[2019-07-10 05:10] nrjpoddar commented on #12813
Duplicate of this: https://github.com/istio/istio/issues/12237

[2019-07-10 06:38] ajit555db opened #15425 "Bug in destination rule's "host" interpretation even if FQDN of service is provided"
**Bug description**

My destination rule resides in "default" namespace where my service resides in "ns1" namespace. In the destination rule definition, even if I use "FQDN" of the service, it is interpreted to reside in "default" namespace of destination rule and the call to service via istio fails (HTTP/1.1 503 Service Unavailable).

If I change the namespace of destination rule to "ns1" (same a

[2019-07-10 06:46] anannaya commented on #15367
@hzxuzhonghu  We  can get the PODIP from the some service discovery or some kafka catalog.
I just need a way to make it work. Is it possible currently in istio?

[2019-07-10 07:14] hzxuzhonghu commented on #15367
This is something like statefulset support, currently, you need to create ServiceEntry i think.

[2019-07-10 08:15] dgn commented on #15380
Closing this as PRs have been merged

[2019-07-10 08:20] xiaozhongliu commented on #11130
esnible's solution worked for us for a long period. Unfortunately the issue starts to occur again, and even worse.
Our external database can be unavailable for more than 8 seconds after the envoy is ready plus 5 seconds more sleep ...
[code]

[2019-07-10 08:30] irisdingbj commented on #15323
1.

The envoy config  has entry like ```"report_cluster": "outbound|15004||istio-telemetry.istio-system.svc.cluster.local" ```

1.

create vs for istio-telemetry: ``` apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: meshexpansion-vs-telemetry
  namespace: istio-system
  labels:
    app: mixer
    istio: mixer
    istio-mixer-type: telemetry
spec:
  hosts:
  - istio-t

[2019-07-10 09:23] ramaraochavali commented on #15183
Yes, it is a possibility as documented here https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cds.proto#cluster-originaldstlbconfig - That is why we only enable only few namespaces with care. I think PASSTHROUGH LB it self is for advanced use cases and must be used with care as documented here https://github.com/istio/api/blob/master/networking/v1alpha3/destination_rule.proto#L304.

[2019-07-10 09:40] zhaohuabing opened #15426 "Too many warn of ignored Consul service tag"
**Bug description**
I got too many warnings about ignored Consul service tag. I understand only key|value form of tag can be used by Istio, but other forms are also normal in our system. The pilot log is flushed by the warn messages, it could be better if it is printed as debug instead of warn log message.

[code]

[2019-07-10 09:52] sdake opened #15427 "Use gateways for mesh expansion"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Mesh expansion is pretty cool.  Unfortunately, it requires a VPC.  Sort out how to use a gateway instead.

**Describe alternatives you've considered**
None.  I want mesh expasion integration with gateways.

**Affected product area (please put an X i

[2019-07-10 09:54] irisdingbj commented on #15423
@sdake

[2019-07-10 09:58] sdake commented on #15423
@knrc any idea how to get the sidecar proxy built for RPM?  Looks like we have good in master that doesn't build.

[2019-07-10 10:43] alexanderbuhler commented on #6655
**Big bump!** We're having 15 lines of CORS config for about 15 routes = >200 lines. That's not even _wet_ anymore, more like standing in pouring rain. 😞

CORS or general headers per host would be much appreciated! 👍

[2019-07-10 11:23] alexanderbuhler commented on #9783
From what I could observe you have to provide the protocol aswell:

[code]

Does it work for you this way? I also thought it would be generic for any protocol

[2019-07-10 11:33] yarivlifchuk opened #15428 "Dropping websocket connections on scale (800+ pods)"
**Bug description**
On scale when creating 600+ pods with virtual services that are connected through web socket, connections get broken. Connections are dropped by Pilot and ingressGateway.

Pilot error msg:
"Client received GoAway with http2.ErrCodeEnhanceYourCalm
transport: loopyWriter.run returning. connection error: desc = "transport is closing"
mcp Error receiving MCP resource: rpc error: co

[2019-07-10 12:37] crhuber opened #15429 "Redis Connectivity Issues in 1.2.2"
**Bug description**

After upgrading the control plane from Istio v.1.2.0 to 1.2.2 we started getting the following error message on pods that have Istio sidecar running and connect to a redis instance outside the mesh

[code]

After checking the sidecar logs on affected pods, we found the following entries

[code]

ServiceA has the following kube config:

[code]
_Note: the port name is: `redis` a

[2019-07-10 12:49] anannaya commented on #15367
@hzxuzhonghu  Do you have any example?

[2019-07-10 13:34] knrc commented on #15423
@sdake I'll ask @jwendell to take a look today

[2019-07-10 13:57] darkrasid commented on #10057
I have same issue on v1.2.2

[2019-07-10 14:27] howardjohn commented on #15428
What issues are you actually running into? it is expected that pilot will drop connections.

The only log you provided that looks potentially concerning is the "epoch killed" but I would need to see the full log to know more.

Are you actually seeing real issues or just error messaged in the logs?

[2019-07-10 14:31] howardjohn commented on #15425
A destination rule will only be used it it is the client or destination namespace. So if you are not calling  hello from the default ns then it is expected that it would not be applied.

My understanding of the docs is that it never says that if you use a fqdns it will use that as the namespace (and it can't - huge security issue if it did since any namespace could hijack traffic), it just specifi

[2019-07-10 15:10] nmittler commented on #15417
@costinm @ozevren @Nino-K

Is the problem simply that Galley publishes `ServiceEntry` resources in the same collection as everything else? So if you subscribe to multiple galleys, you get duplicates of all of the resources?

Perhaps a first step would be to put `ServiceEntry` into a separate collection that Pilot can consume selectively?

[2019-07-10 15:11] howardjohn commented on #15012
fixed by 15307?

[2019-07-10 15:57] steffengy opened #15431 "Multicluster routing ServiceEntry to service without sidecar"
If you proceed like here
https://istio.io/docs/setup/kubernetes/install/multicluster/gateways/
everything works.

But how is this expected to work for pods without a sidecar (It doesn't, the ingress only returns 503's)?
This can be reproduced by omitting the `istio-injection=enabled` labeling for httpbin.

The only workaround I can think of is hosting another service that reverse-proxies and which