[2019-11-25 05:56] johscheuer commented on #19114
@howardjohn I don't if you already started working on it but if it's okay for you I would/could also implement this feature this week.

I also agree with you that a fixed label `topology.istio.io/subzone` makes sense to be domain specific and prevent to get over complicated.

[2019-11-25 06:17] #16685 closed

[2019-11-25 06:54] irisdingbj commented on #19154
https://github.com/istio/istio/issues/18513 . -dup with this one.

[2019-11-25 06:54] #19154 closed

[2019-11-25 07:17] sdake opened #19186 "Jaeger task is nonfunctional"
**Bug description**
The task: https://istio.io/docs/tasks/observability/gateways/#option-2-insecure-access-http is busted.  A 503 is received when connecting to Jaeger after following the cut and paste.

**Expected behavior**
Jaeger is exported via the ingress gateway as specified in the documentation.

**Steps to reproduce the bug**
Follow steps.
kubectl get svc -n istio-system

Open web browser

[2019-11-25 07:31] zhulinwei opened #19187 "Istio consumes too much CPU resources"
**Bug description**
Before using istio, the tps of my service app can exceed 4000/s, after using istio, the tps drop to 2300/s, and istio-telemetry service consume more than 1 core

**Expected behavior**
Reduce istio wastage and improve my service app performance

**Steps to reproduce the bug**

1.Install istio 1.3.4
2.Deploy your service
3.Using locust to run test
4.Watching grafana dashboard

**

[2019-11-25 07:50] #19169 closed

[2019-11-25 08:20] sdake commented on #19184
There are a few error conditions with prune I can think of off the top of my head:

1. The operator has things to prune, however, the prune fails in progress and should be completed on the next reconciliation.
1. The operator does not have this resource as a deployed resource prior, yet there are resources found indicative of duplicate resources deployed.
1. The operator has things to prune, but t

[2019-11-25 08:20] objectiser commented on #19186
Sounds like the same issue as https://github.com/istio/istio/issues/19021 ?

[2019-11-25 08:22] sdake commented on #19184
@howardjohn - to be more direct, a spew of 8 messages at WARN level that appear as if something went wrong, while the actual results are indeterminate is not an acceptable log message nor solution.  Even now, it is not possible to detect if this was a prune error on the human side, a prune error in our implementation, or a prune error in the infrastructure.

Cheers
-steve

Cheers
-steve

[2019-11-25 08:27] sdake commented on #19186
@objectiser #19021  has a similar profile although the task does not use the `ictioctl dashboard` commands - instead, a gateway/vs are installed.  Using `istioctl dashboard jaeger` works in this scenario (with 1.4.0) while usage of Istio traffic management does not.

I did see the change on the port fly by in a prior install build and thought it looked errant...:

[code]

Cheers
-steve

[2019-11-25 08:34] sdake commented on #19146
Merging repositories is not particularly easy - although I am happy to do the work if we can come up with a proper directory structure that works for people.

We need to preserve history...

@costinm I am not sure what the concern is. At present, the developers have a lot of work to do to even get to the point of being able to test a PR - the syncing process is error-prone and unnecessary.  We tra

[2019-11-25 08:39] sdake commented on #19095
@tkatrichenko thank you for the report.  What @howardjohn didn't say is that we have intentionally decided to freeze our existing addon integrations and instead move to a model where we provide a very thin set of manifests to launch the respective project's operator (We use prometheus, jaeger, kiali, and grafana, all of which have operators - there is no good reason to continue to develop parallel

[2019-11-25 08:45] sdake commented on #19080
I believe this is parallel to the addons not starting up properly.

Here is my brief analysis of what is happening:
1. CRDs are registeredd
1. operator waits for CRDs to finish registering
1. every other component is rendered and fed into the kubeapi interface.

That last one isn't quite right.  The ordering of application should **ALWAYS** be:
1. Any CRDs
1. Wait on CRDs
1. Any Custom Resources
1

[2019-11-25 08:48] sdake commented on #19056
we have a tool to analyze your installed Istio custom resources.  can you try `istioctl analyze -k` with istioctl 1.4.0 and report back?

Cheers
-steve

[2019-11-25 08:51] sdake commented on #19012
@maxekman if you are satisfied with the workaround, please leave a comment and close the bug.  If you are not satisfied, if you could provide more information on what you would suggest to @richardwxn - the information would be of value.

Cheers
-steve

[2019-11-25 08:59] piotrgwiazda opened #19188 "ServiceEntry protocol HTTPS vs TLS documentation + Virtual Services requirements"
**Describe the feature request**
On these two documentation pages:
- https://preliminary.istio.io/docs/tasks/traffic-management/egress/egress-control/
- https://preliminary.istio.io/docs/tasks/traffic-management/egress/wildcard-egress-hosts/
one can find multiple examples of egress traffic control. However, the samples on these two pages differ with no clear reason. Please update the documentation

[2019-11-25 09:19] NilsRenaud commented on #19139
I tried your workaround, but I get an error when applying it :

[code]

Any ideas ? ( I tried on differents namespaces although)

[code]

[2019-11-25 09:30] ckcd commented on #18987
/assign

[2019-11-25 09:35] morgulnet commented on #15363
istio-1.4.0

NAME                                      READY   STATUS              RESTARTS   AGE
grafana-6b65874977-24fzw                  1/1     Running             0          32m
istio-citadel-f74b87856-4pzmd             0/1     CrashLoopBackOff    11         32m
istio-egressgateway-c56696f94-89n65       0/1     Running             0          32m
istio-galley-566bcc7758-d2xpq             0/1

[2019-11-25 09:38] NilsRenaud commented on #19067
Agreed with @howardjohn, Here is what I got after my demo profile installation:

[code]

[2019-11-25 10:58] thecodejunkie opened #19190 "Using istioctl to generate manifests causes duplicate value"
**Bug description**
When using `Istioctl` to generate manifest, then the `Base\Telemetry\Telemetry.yaml` contains duplicate values in the `istioproxy` attributemanifest. There are two entries for `context.proxy_version`. This causes problems with some of our tooling since we parse the YAML which leads to a duplicate key error.

**Expected behavior**

No duplicate keys should be generated

**Steps

[2019-11-25 10:59] maxekman commented on #19012
Thanks for the reminder. I ended up creating an additional cluster issuer which instead used the DNS solver.

[2019-11-25 10:59] #19012 closed

[2019-11-25 11:06] wu0407 commented on #19009
same issue in 1.4
[code]

[2019-11-25 11:11] wu0407 commented on #11235
istioctl manifest apply  --set values.pilot.env.PILOT_HTTP10=1

[2019-11-25 13:22] illidan80 opened #19193 "helm template unknown flag: --name error: no objects passed to apply"
Helm 3 missing template "--name" flag.

Using instructions from [https://istio.io/docs/setup/install/helm/](https://istio.io/docs/setup/install/helm/)

Causing to helm error:

[2019-11-25 14:04] zhongfox commented on #18924
debug update:
when `sleep` pod report, there is `destination ip`(helloworld-v2 in remote cluster) in report data, but no `destination.uid`.
so this is probably an issue about envoy (istio/proxy), the outbound envoy(client) miss remote pod uid when report.

please take a look when you can, @douglas-reid @bianpengyuan

[2019-11-25 15:03] michaeldduffield commented on #14327
I believe I'm seeing this issue on a GKE test cluster using pre-emptible nodes and Istio 1.4.0.

Sometimes (but not always) when the pod restarts after pre-emption the primary container starts to receive TLS traffic directly; in these cases the Istio iptables rules seem to be missing entirely from the pod.

Happy to do some more investigation the next time I see this, if anyone can point me toward

[2019-11-25 15:03] NilsRenaud commented on #18936
Will that be possible to create a page explaining how to create the stubs and yaml files without mixer_codegen script ?

This way we could avoid to use the Istio codebase in order to build our own adapters and use other languages for out-of-process adapters than Go.

[2019-11-25 15:12] NilsRenaud commented on #18466
Well you probably can't customize the CheckResult struct but you can return your own struct next to the check result and then deal with your custom parameters yourself in the handler.

To be able to check and return results your proto file should have this Template variety :

[code]

[2019-11-25 15:31] NilsRenaud opened #19194 "Out-of-process adapter is not session based"
**Bug description**

I've created an out-of-process adapter, it's working well. I want it to be customisable and added a configuration proto and Yml files. Now this static configuration is passed for each request next to the payload.

That's great, but I rather like to have this configuration passed once at the adapter startup instead of for every requests.

So i tried to switch the "session_based

[2019-11-25 15:48] fsequeira1 commented on #18228
@howardjohn I have updated istio to 1.4.0 and the problem remained the same.

[2019-11-25 16:01] esnible opened #19195 "Analysis should consider <namespace>.svc.cluster.local"
If a DestinationRule specifies a host ending in `.svc.cluster.local`, and `--use-kube` is selected, check that the namespace exists.

A user showed me this DestinationRule.  The intention had been to deploy examples in a `prod` namespace, but they had been put into `default`, yet the full-qualified hostname the rule applied to was in the `prod` namespace.

[code]

cc @sdake

[2019-11-25 16:03] howardjohn commented on #19184
Yeah something is definitely wrong, just explaining the root cause. Those resources do not exist on your cluster, the k8s ones are because those were removed in k8s 1.16

[2019-11-25 16:06] mandarjog commented on #14327
I am working on a solution.

[2019-11-25 16:09] howardjohn commented on #19146
@sdake my understanding of what would need to be done:

* Copy all the charts over with some git command that preserves the history
* Rewire all the stuff in operator that calls the istio/installer repo. Mostly this stuff can be delete I think, since it was mostly about syncing
* Now we have 2 copies of things -- what the operator "imported" before, and the actual installer. We should reconcile th

[2019-11-25 16:29] howardjohn opened #19196 "istioctl --set doesn't support escaping strings"
Background: https://github.com/istio/istio/pull/17334

[2019-11-25 16:37] howardjohn commented on #18987
this would almost be perfect to use the Service (you can `kubecctl port-forward` to a service) except it won't work for envoy since 15000 isn't in the svc

[2019-11-25 16:45] howardjohn commented on #19193
We do not support helm 3 yet, as it came out after our latest istio version. Please use helm 2.x

[2019-11-25 16:45] #19193 closed

[2019-11-25 16:46] esnible opened #19197 "Analysis for RBAC Service to Service auth with mTLS turned off"
This tricky "gotcha" was the topic of a KubeCon talk by @mt-inside of Tetrate.  https://youtu.be/Rc_MM99wbYo

The problem is explained at the end https://youtu.be/Rc_MM99wbYo?t=1768

Earlier in the talk Matt highlights `istioctl x analyze` not working for this problem: https://www.youtube.com/watch?v=Rc_MM99wbYo

[2019-11-25 16:47] howardjohn commented on #19187
We are moving to a new deployment model where we remove the istio-telemetry deployment (freeing 1.7 cores in your case) and the proxy uses less (probably 0.77 -> ~0.5 cores). The primary motivation was the high cpu use you are seeing. See https://istio.io/docs/ops/telemetry/in-proxy-service-telemetry/ for more info

[2019-11-25 16:52] sushicw commented on #19197
This relates to https://github.com/istio/istio/issues/17687

[2019-11-25 16:54] howardjohn commented on #19188
@vadimeisenbergibm can you help here? I am not sure

https://istio.io/docs/ops/traffic-management/protocol-selection/

NONE will pass traffic through. So if you your client resolves `foo.com` to 1.2.3.4 we will send the traffic to 1.2.3.4. This is generally pretty useful for external services. DNS will do the resolution inside envoy and then do envoys smart load balancing between those. So if you

[2019-11-25 17:02] howardjohn commented on #19190
Thanks, we just fixed this a couple days ago: https://github.com/istio/installer/pull/565

This will be in 1.4.1 which we are hoping to release in the next week or 2

[2019-11-25 17:14] #16787 closed

[2019-11-25 17:19] bhicks329 opened #19198 "Outbound TCP connections reset on config update"
When an envoy sidecar receives an update it resets outbound connections to a websockets endpoint.

Config should be applied silently and not effect the existing connections

Restart any pod in the cluster that forces an update of configuration or restart pilot.

istioctl version --remote
client version: 1.4.0
control plane version: 1.4.0
data plane version: 1.4.0 (22 proxies)

kubectl version
Clie

[2019-11-25 17:20] pitlv2109 commented on #17687
Actually no. RBAC can be used with or without service to service authentication. One can use end-user authentication (i.e. jwt) with RBAC. RBAC can also be used with other conditions such as IP addresses, request headers, namespaces, etc.

[2019-11-25 17:25] sushicw commented on #17687
@pitlv2109 Do you think there are any analysis rules that can help prevent the sort of problems highlighted in e.g. #19197? The fact that RBAC just silently doesn't work if you've missed setting up some prerequisites is pretty painful, I've run into it twice myself.

[2019-11-25 17:26] #18480 closed

[2019-11-25 17:28] linsun commented on #19164
@rvennam can you clarify whether you hit this during the initial install time or afterwards for a while?  For the initial install time, it is common for mixer telemetry to restart 2 times to reach running.

Re livenessProbe, i don't think you can do multiple probes in there.   Also, it is best not to put dependencies in the livenessProbe.   I propose we use readinessProbe if port 42422 is a hard d

[2019-11-25 17:47] pitlv2109 commented on #17687
If in RBAC rules, you specify service identity (e.g. `user` field in ServiceRoleBinding) or workload identity (e.g. `principals` in AuthorizationPolicy), then service to service authentication must be turned on. The way it works is at the authentication filter layer, it will check the client's identity and pass that into the RBAC filter using envoy metadata. So I guess one way rule to check is if

[2019-11-25 17:47] rvennam commented on #19164
The problem is not during Install. I waited a long time after install and telemetry pods showed `Running`.

First thing I noticed was that the various dashboards (grafana, kiali) are not showing any application data.

I followed this guide: https://istio.io/docs/ops/common-problems/network-issues/ and saw that istio-telemetry:42422/metrics is DOWN

I did a port-forward to the telemetry pod:
`kubec

[2019-11-25 17:49] douglas-reid commented on #19164
We cannot put a readiness/liveness probe on mixer for a port exposed by an adapter. There is no requirement that mixer be run with the prometheus adapter, and I don't think we should introduce one now.

I'm not sure what is happening, but as @mandarjog relates, Mixer is already checking for existence of required CRDs from galley. I said that Mixer typically restarts 3 times, because that is typica

[2019-11-25 17:56] sushicw commented on #17687
@pitlv2109 to clarify: by "authentication should be on" do you mean mTLS specifically, or do we need to be checking more broadly?

[2019-11-25 17:58] tbarrella commented on #19139
The IstioControlPlane CRD would need to be added to the cluster for that to work. Need to either use `istioctl manifest apply -f` as in https://istio.io/docs/setup/install/istioctl/ or install the in-cluster operator if you want to use kubectl https://istio.io/docs/setup/install/standalone-operator/

[2019-11-25 17:59] douglas-reid commented on #19164
For debugging, we probably need to modify the telemetry deployment to set the logging scope `mcp` to `debug` and look at the logs for collections received, etc.

We probably also need detailed galley logs when we get in this situation.

I'd like to answer the question of "Why aren't the CRs for the CRDs being synced to Mixer?".

[2019-11-25 18:00] sushicw commented on #18887
We wouldn't want to do that via webhook, since we want cross-resource dependencies to work in an eventually-consistent model. It would, however, be a good thing to check via analyzer, and the specific case you mention (making sure a service actually exists) is tracked in https://github.com/istio/istio/issues/17538.

[2019-11-25 18:04] pitlv2109 commented on #17687
So basically the rule is something like this:
If the RBAC rule has a service or workload identity field (e.g. `user`), then Istio should have some service to service authentication mechanism turned on (this is usually mTLS + and/or destination rules).
If the RBAC rule has jwt-related field, then jwt should be used.

Another thing is that RBAC rules are additive, so if you have something like `user

[2019-11-25 18:36] esnible commented on #17442
When Istio is installed it can be installed with or without "Egress Gateway".  Most users do not install it.  The instructions for adding "Egress Gateway" are at https://istio.io/docs/tasks/traffic-management/egress/egress-gateway/#deploy-istio-egress-gateway

If the user analyzes with `--use-kube` then we want analyze to report an error for _tests/e2e/tests/pilot/testdata/rbac/v1alpha1/istio-egre

[2019-11-25 18:56] howardjohn commented on #19198
So to be clear, you have some Service A calling some Service B, and an unrelated service C restarts, and the connection from A -> B is reset?

Generally the only time a reset should happen is when a listener is changed. This happens only when some configs are changed like RBAC, things like new pods and VirtualServices, etc should have no impact. There have been some issues in the past where we acc

[2019-11-25 19:04] sushicw commented on #17442
Thanks for the clarification.

Setting aside for a moment the "rule of thumb" question, I feel like the test YAML is slightly buggy. It includes an entry that defines istio-egressgateway, but the one that it defines ends up in namespace default, and never gets referenced. If the test file is updated so that the `istio-egressgateway` Gateway is in namespace `istio-system`, then we don't actually ge

[2019-11-25 19:05] bhicks329 commented on #19198
The service is external to the cluster and this service.

The application makes a https outbound connection however when the config
on the mesh updates, these connections are dropped. I’ve tried every
version of istio to 1.4 with all sorts of config including egress gateways
and I juts can’t get the connection to stay. One thing that is strange is
that if I have a pod outside the mesh restart, it

[2019-11-25 19:23] bhicks329 commented on #19198
Apologies, just to be clear the service in cluster is making a connection to a https endpoint outside of the cluster. This service, only makes outbound connections and does not server any traffic itself.

[2019-11-25 19:30] ruigulala commented on #17583
@rlenglet So what's the final decision in this case? Should I continue with the proposal(wait->timeout->return an error) here?

[2019-11-25 19:31] jcetkov opened #19202 "Failed sidecar doesn't get restarted"
**Bug description**
if envoy sidecar stops responding (even on admin interface), while the process is still running, it stays in the failed state without being addressed either by a pilot-agent or a liveness probe (the default injection template doesn't have liveness probe defined)

The result of this situation is app container being restarted on it's liveness probe, while istio-proxy, that is the

[2019-11-25 19:40] howardjohn commented on #19198
This sounds normal, we send config about pods that are not injected with a sidecar ( I assume this is what you mean by "outside the mesh" - just to verify), so we can load balance to them.

But these changes should just be endpoint updates which shouldn't impact existing connections.

Any chance you could get a config dump before and after an event that drops the connection? See https://github.com

[2019-11-25 19:49] carolynhu commented on #19158
@nicktrav Could you elaborate the way that you enable multi-cluster. And the steps to reproduce your error. Thanks.

[2019-11-25 20:19] #19114 closed

[2019-11-25 21:10] bianpengyuan commented on #18924
cc @carolynhu you might want to take a look at this one as well, as you are starting investigating https://github.com/istio/istio/issues/19158 about mixer in multi-cluster setup.

[2019-11-25 21:30] sdake commented on #19125
@ostromart the reconcile loop has many error conditions that don't return an error.  My suggestion would be to audit the code and fix every single one of them, or as Microsoft Press states in Code Complete "If the code is broken, replace it with a new implementation"...

[2019-11-25 21:32] sushicw commented on #19195
If I understand the case correctly, this should be caught going forward by https://github.com/istio/istio/pull/18364, which will detect missing host references in destination rules.

[2019-11-25 21:36] sdake commented on #18971
I needed this to get things moving:
[code]

[2019-11-25 21:48] sushicw opened #19203 "DestinationRule analyzer followups"
Followup tasks from https://github.com/istio/istio/pull/18364:

* [ ] Splitting `destinationrule/targets.go`, to distinguish parts that require k8s resources from those that don't.
* [ ] Refactor common logic for availableServices with what we're doing in `sidecar/selector.go` and/or `gateway/gateway.go` .
* [ ] Make sure we correctly handle wildcard ServiceEntries (common logic with `destinationr

[2019-11-25 22:05] bhicks329 commented on #19198
I've taken another look and checked over the config and there wasn't anything obvious changing (I can't post it here unfortunately)

The app itself is deployed a number of times (not replica-sets - don't ask) and doesn't have an inbound port yet a k8s service for each one had been created of type: LoadBalancer. I've just removed the services as it didn't make sense for them to be there. This appea

[2019-11-25 22:11] bianpengyuan opened #19206 "Istioctl manifest gen does not add operator labels"
**Bug description**
When using istioctl to generate manifest based on icp, it does not apply operator labels, which potentially could make `istioctl upgrade` leak resources when use it to upgrade a cluster set up by manifest apply.

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you use

[2019-11-25 22:11] bianpengyuan commented on #19206
@ostromart assign to you for triaging.

[2019-11-25 22:13] bhicks329 commented on #19198
So interestingly, this app had a k8s service attached yet the container doesn't have any open ports, I've removed the service and it seems to be working as expected now. I believe it was put there originally as envoy wouldn't start without some for of open port / service

I'm struggling to understand why this may have such an effect? What would happen if the service had both ingress and ingress co

[2019-11-25 22:13] bhicks329 commented on #19198
Appreciate all your help btw 👍

[2019-11-25 22:21] carolynhu opened #19207 "istio/tools: add istio performance regression analysis and alerts"
Implement istio performance regression analysis and alerts in perf-dashboard

[2019-11-25 22:25] rlenglet commented on #17583
@ruigulala Yes, this proposal sounds good. Thanks!

[2019-11-25 22:39] mt-inside commented on #19197
Hey @esnible ! Thanks for posting the link to the talk; I wouldn't have seen this issue.

In Istio's defence, it is possible to enable RBAC using principles that aren't the caller's SA, so this isn't /strictly/ wrong. I'd say it's by far the most common setup though so at least a warning would be good.

[2019-11-25 22:57] cscetbon commented on #18921
Hey @hzxuzhonghu I'm trying to use a headless service with a statefulset. mtls is globally enabled and I'm trying to disable it for that service. However my nodes can't communicate. I'm on 1.4. Could it be caused by the issue described in this ticket ?

Here is deployment file I use :

[code]

[2019-11-25 23:19] howardjohn commented on #19146
Please take a look at https://docs.google.com/document/d/16t19vnwG2Rf6U_c6LxCdT3fXFfhjQYg7GAKeCykHOTY @sdake @ostromart

[2019-11-25 23:28] sushicw commented on #18236
While doing this, we should also have `-v` output include the namespace(s) analyzed.

[2019-11-26 00:01] mandarjog opened #19208 "Proxy: Segfault Stackdriver::exportLogEntry()"
`Version 1.4.0-beta.4-f6313b48f7596972d20a6c889c8a6f294bd6a88f-Clean`

[code]

[2019-11-26 00:09] aberistov commented on #18887
works on istio 1.4.0

[2019-11-26 00:15] cscetbon commented on #10659
@howardjohn it seems you missed my comment https://github.com/istio/istio/issues/10659#issuecomment-542979434

@arielb135 I've read your article and still can't make it work with Cassandra by disabling mtls on Gossip ports. I'm atm trying to disable MTLS for all the ports it uses (and will at the end just encrypt the clients connections). Here's what I use, if you can help that'd be more than appr

[2019-11-26 00:51] sushicw commented on #17381
Leaving this issue open for now to track the need to generally ignore system namespaces, even when we want to analyze all namespaces.

[2019-11-26 01:00] rlenglet opened #19210 "Create 1.3.6 release"
- [x] Prepare `istio/cni`.
  - [x] Sync the fork of the `istio-iptables.sh` script.
[code]
- [x] Check whether the commit SHAs in `istio/istio` and `istio/proxy` are consistent.
  - [x] Check whether the same `istio/api` commit is used in `istio/istio` and `istio/proxy`.
[code]
  - [x] Check whether the version of Envoy from which the go-control-plane's API has been extracted from is no more than

[2019-11-26 01:02] bianpengyuan commented on #19208
While trying to reproduce this, I got another crash:
[code]

[2019-11-26 01:56] bianpengyuan commented on #19208
Other crashes:
[code]

[code]

[2019-11-26 01:57] ckcd commented on #18987
Honestly, in `istioctl dashboard` there are just `istioctl dashboard controlz` and `istioctl dashboard envoy` that needs a `pod name` input, and the port for both of is NOT in the svc (15000 & 9876).

[2019-11-26 02:07] dontreboot opened #19211 "istio ingress gateway segmentation fault"
**Bug description**
I noticed frequent segmentation from Istio ingress gateway pods even though there is active traffic going through the gateway.
[code]

**Expected behavior**
No segmentation fault
**Steps to reproduce the bug**
see **How was Istio installed?**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

[code]
**How

[2019-11-26 03:08] mandarjog commented on #14327
The main issue here is that the plugin installation itself is done by a daemonset which races with other pods on the system. If an application pod starts before the installation is done, istio plug-in will not be called. The options I am considering
1. Use netd on gke so that installation is done by platform and not by a daemonset. Perhaps not call k8s platforms support it, but it will work for gk

[2019-11-26 03:20] zhulinwei commented on #19187
@howardjohn Thanks you very much. Istio 1.4 version is still in alpha state, may I ask when will it be used in production?

[2019-11-26 03:44] hzxuzhonghu commented on #18921
@cscetbon You disabled mtls, so i think your issue is not the same. Please file a new issue and provide more details like the errors and the configdump.

[2019-11-26 03:50] howardjohn commented on #19187
This is expected to be beta by 1.5, but will depend on how much stability and performance has improved

[2019-11-26 03:50] cscetbon commented on #18921
@hzxuzhonghu when MTLS is disabled are communications still proxified and that could explain why it does not work. The Gossip Protocol needs to communicate locally with the current node. But I thought disabling MTLS would just skip the configured flow, am I right ?

[2019-11-26 03:58] incfly commented on #13832
This is done. We have released the automatic cert rotation in 1.4. @JimmyCYJ for visibility.

[2019-11-26 03:58] #13832 closed

[2019-11-26 03:58] howardjohn commented on #19211
Am I missing something or is there no seg fault in your logs you added?

[2019-11-26 04:25] incfly opened #19213 "Istio Request Auth supports list audiences"
**Describe the feature request**

https://github.com/istio/istio/issues/2802 now is resolved, the TODO in the code of transforming the
authn metadata attributes now can be addressed without blocking dependencies.
https://github.com/istio/proxy/blob/master/src/envoy/utils/authn.cc#L61

we can revisit this as part of v2 api.

**Describe alternatives you've considered**

**Additional context**

[2019-11-26 04:26] incfly commented on #19213
I just happened to find the TODO item is now ready to be moving forward. @diemtvu do you know what's the use case? How can customers take use the audiences being a list, rather than a single value?

[2019-11-26 04:27] aidanbae opened #19214 "istio do not generate tcp metric anymore"
**Bug description**

After setting the adapter scope of the isio controllZ to debug mode, the isio_tcp metric is not created since then.
istio_tcp_sent_bytes_total{} nothing
and Kiali no longer shows tcp flow.
what's happen
[code]

It remains the same even after being deleted and reinstalled istiov1.4.0.

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `isti

[2019-11-26 04:29] howardjohn opened #19215 "TestIngressGateway503DuringRuleChange test failures SKIPPED"
There are many many issues with this test in the past and it's failing again. Will link some failures soon

[2019-11-26 04:50] morvencao opened #19216 "[Operator]Tracing component doesn't honor 'defaultNodeSelector' in global values"
**Bug description**

Deploy operator controller, apply the following ICP CR to cluster:
[code]

I found that the `tracing` pod is keep pending because `defaultNodeSelector` isn't taking effect on it.
[code]

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

**How was Isti

[2019-11-26 05:32] mandarjog commented on #19208
@bianpengyuan I was using a pre 1.4 build.
I am not seen this issue on 1.4 released proxy.

[2019-11-26 05:40] mandarjog opened #19218 "Unbounded cardinality with ReplicaSets"
A customer uses ReplicaSets directly instead of using a Deployment resource. We are not handling ReplicaSet resource correctly, so the source_workload_name degenerates to pod name.

example:
[code]
Normally `source_workload_name == productsvc-latestmaster-v001` , however in this case we are seeing the name of the pod.
so
[code]

This may affect telemetry v2 as well as Mixer.

[2019-11-26 05:41] mandarjog commented on #19218
If @douglas-reid cannot get to this, @carolynhu please take over the issue.

[2019-11-26 05:45] mandarjog commented on #19218
@bianpengyuan cc

[2019-11-26 06:03] bianpengyuan commented on #19208
I am using the latest build from master. We need to figure out them for master.

Let me try out 1.4 proxy.

[2019-11-26 06:04] hzxuzhonghu commented on #18921
Without tls, it works well. We have e2e cases cover this. The traffic is on this path: `app--->inbound listener (virtualInbound)--> matched by 80 filter --> inbound route --> inbound cluster ---> app`.

[2019-11-26 06:19] howardjohn commented on #19215
The first failure in recent times, according to https://testgrid.k8s.io/istio_istio#pilot-multicluster-e2e_istio&exclude-non-failed-tests=&width=20, was in https://github.com/istio/istio/pull/19019/files. Note that just because this failed, doesn't mean it introduced the flakes

[2019-11-26 06:20] howardjohn commented on #19215
The first postusbmit is days later in https://prow.k8s.io/view/gcs/istio-prow/logs/pilot-multicluster-e2e_istio_postsubmit/728

[2019-11-26 06:21] zhulinwei commented on #19187
@howardjohn Ok, I am lookging forward to the performance of the new version and close this issue, thanks you.

[2019-11-26 06:21] #19187 closed

[2019-11-26 06:29] rlenglet commented on #14327
This needs to be done also on "re-install," i.e. anytime Istio CNI detects that the CNI plugin config has been modified.

[2019-11-26 06:30] rlenglet commented on #14327
@mandarjog as we discussed, it will be tricky to scan the pods and/or network namespaces on the node and correlate pods with network namespaces, after the pods have been configured.

[2019-11-26 07:14] huntsman-li opened #19220 "istio policy pod start failed"
**Bug description**

- kubectl get pods -n istio-system -o wide

![image](https://user-images.githubusercontent.com/36752240/69606925-16485c80-105f-11ea-98c3-14318af64e75.png)

- kubectl describe pod  istio-policy-77964b9766-jt89q  -n istio-system

![image](https://user-images.githubusercontent.com/36752240/69607018-4a238200-105f-11ea-9405-6698e369ca39.png)

- kubectl logs istio-policy-77964b9766-

[2019-11-26 08:19] pc-rshetty opened #19221 "Document HorizontalPodAutoscaling using Latency as Custom Metrics"
**Bug description**
I know we have Metrics available in Istio . This might includes latency.  What i am trying to do is configure my HPA to scale according to the latency metrics available in istio. Now i believe i need to write query the Prometheus service installed as part of isito. But the complete solution is not documented . There are multiple solutions people have published and with isito re

[2019-11-26 08:21] piotrgwiazda commented on #19188
Thanks!
So it seems that DNS resolution is not useful for connecting to cloud services (document databases, APIs, queues, vaults). I'll stick to NONE unless I know "why" I need DNS.

I'm struggling with connection errors when pods are starting and trying to narrow down then the problem.
Please clarify the HTTPS vs TLS protocol as well.

Your comment looks like a great piece of documentation.

[2019-11-26 08:46] wu0407 commented on #19165
It is like memory leak in default profile, there is only two pod  to test.
![memory with galley](https://user-images.githubusercontent.com/7602218/69613266-45b19600-106c-11ea-9cca-3a19ddf69548.png)

[2019-11-26 09:01] tzakrajs commented on #19102
This is happening to me on 1.16.3 (Ubuntu 18.04 with fresh kubeadm init)

The manifests used below were generated by istioctl manifest generate from binaries shipped with istio 1.4.0:
[code]

[2019-11-26 09:26] objectiser commented on #19186
According to the [Operator architecture intro](https://github.com/istio/operator/blob/master/ARCHITECTURE.md#introduction), it uses the [istio.io/installer](https://github.com/istio/installer) helm charts. Therefore the fix https://github.com/istio/installer/pull/563 I applied will be picked up next release. There is also a patch to the 1.4 branch - but not sure when/if that will be released, and

[2019-11-26 10:20] magicFire commented on #19020
Is there a way to solve this problem before 1.4.1 temporarily?

[2019-11-26 10:30] pubudu538 commented on #19139
I think you can use the following command to disable policy check when using the istioctl.

istioctl manifest apply --set values.pilot.policy.enabled=true --set values.global.policyCheckFailOpen=true

[2019-11-26 11:55] cscetbon commented on #18921
Ok then I’ll create a ticket cause it doesn’t work in my tests

[2019-11-26 12:07] Stono opened #19224 "Istio 1.4.0 templated manifest contains creationTimestamp"
**Bug description**
I've noticed in the templated yaml for istio 1.4.0, a bunch of manifests contain a `creationTimestamp ` field, and they probably shouldn't.

<img width="370" alt="Screen Shot 2019-11-26 at 12 05 33" src="https://user-images.githubusercontent.com/1486729/69630800-2d7a5080-1045-11ea-8fa7-6757604bb26d.png">

**Expected behavior**
creationTimestamp should be added by the server not

[2019-11-26 12:14] Stono opened #19225 "Istio 1.4.0 templated manifest CRDs contain a status field"
**Bug description**
Similar to https://github.com/istio/istio/issues/19224, the status field should be added by the server not in the manifests:

<img width="316" alt="Screen Shot 2019-11-26 at 12 13 17" src="https://user-images.githubusercontent.com/1486729/69631911-53ecbb80-1046-11ea-9ec5-f2b33c4787e2.png">

**Expected behavior**
Status field to be added by the server

**Steps to reproduce the b

[2019-11-26 12:26] Stono opened #19226 "Istio 1.4.0 ClusterRole for Pilot is a bit confusing"
**Bug description**
The ClusterRole for pilot is a little confusing, firstly secrets are defined twice:

[code]

The second block (added in 1.4.0) gives pilot permission to create, update and delete secrets too.  What is that permission used for?

**Expected behavior**
The RBAC config to be concise and an explanation in the upgrade notes as to any privilege changes.

**Steps to reproduce the bug**

[2019-11-26 12:48] Stono opened #19227 "Istio 1.4.0 tracing service moved from port 80 to 9411"
**Bug description**
In istio 1.4.0, `tracing.istio-system` has moved from port `80` to `9411`.  There is already a `zipkin.istio-system` service in the namespace on `9411`.  Both services point to the same workload (Jaeger).

This is a breaking change for us so just wondering why it was made and if it was intentional, it should have been in the upgrade notes (as we have upstream systems talking to

[2019-11-26 12:52] Stono commented on #19227
Associated commit appears to be https://github.com/istio/istio/commit/9e0887f5cef4ef4038f464e113be28d02937c782#diff-264788198be8f0b9371c31fecce6d199 and issue https://github.com/istio/istio/issues/17204

[2019-11-26 12:54] cscetbon opened #19229 "MTLS disabled does not work with headless service"
**Bug description**
MTLS is enabled globally on my cluster. I have a headless service with a statefulset of Cassandra nodes and they can't communicate even if I disable MTLS. #12551 says It doesn't work with MTLS but even without MTLS I can't get it to work. I followed https://github.com/arielb135/RabbitMQ-with-istio-MTLS and also https://itnext.io/musings-about-istio-with-mtls-c64b551fe104 but no

[2019-11-26 12:59] cscetbon commented on #19229
@hzxuzhonghu here is the ticket with the information you asked.

[2019-11-26 13:35] sakajunquality commented on #19066
@xvzup maybe I'm having the same issue, can you share what you did to solve this?

[2019-11-26 13:56] sakajunquality commented on #19066
Figured out the solution... thanks

[2019-11-26 14:35] howardjohn commented on #19226
@lei-tang was the secret stuff for DNS certs? Is it always added?

[2019-11-26 14:47] thecodejunkie opened #19230 "Istioctl unable to set cni properties according to the documentation"
**Bug description**
I've downloaded Istio 1.4.0 and took the command straight from https://istio.io/docs/setup/additional-setup/cni/#excluding-specific-kubernetes-namespaces but there is a problem with Istio CNI value overrides

**Expected behavior**
That the code exampels execute correctly

**Steps to reproduce the bug**

I've downloaded Istio 1.4.0 and took the command straight from https://isti

[2019-11-26 15:02] sdake commented on #19227
Nodeport more trouble then it is worth...  These two PRs need a revert.  The author is free to resubmit the work.

[2019-11-26 15:23] sdake commented on #19227
Had a deeper look at the PR.  With `istioctl dashboard jeager` for example, none of these config options are needed across any of the third party component charts.  We should consider their removal.

@Stono for the moment, I am going to make a small surgical change that should exhibit the original behavior.

[2019-11-26 15:42] jwendell opened #19232 "Document how to edit service url's in Kiali"
Sometimes users need to instruct Kiali about URL's for some services like grafana, jaeger.
This is done by editing kiali config map and restarting kiali pod.

This should be documented somewhere, e.g. here: https://istio.io/docs/tasks/observability/kiali/

[2019-11-26 15:49] mahendrakariya opened #19233 "Missing metric galley_istio_networking_virtualservices"
**Bug description**

The metric `galley_istio_networking_virtualservices` is missing from prometheus.

**Expected behavior**
The above metric should be present.

**Steps to reproduce the bug**
  * Install Istio through Helm.
  * Deploy Bookinfo app.
  * Check for presence of metric in prometheus.

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version`

[2019-11-26 15:56] jwendell commented on #19233
This metric is not present on installer charts. Is this a leftover in istio/istio helm charts?
cc @ostromart @howardjohn

[2019-11-26 15:57] kinihun commented on #18927
[istio-proxy.txt](https://github.com/istio/istio/files/3892728/istio-proxy.txt)
@lei-tang , please find attached the requested log

[2019-11-26 16:05] sergii-koshel-exa opened #19234 "Having 2 services with the same port results in connections drop/drain in proxies"
**Bug description**

Slice `node.ServiceInstances` from https://github.com/istio/istio/blob/4b6fe07dc7918e0dfb387d8d698618197489d263/pilot/pkg/networking/core/v1alpha3/listener.go#L348 is not stable in terms of the order which results in the listener configuration flapping.

**Expected behavior**

Until nothing changed in listener configuration `pilot` should send the same listener config to proxi

[2019-11-26 16:11] dontreboot commented on #19211
my mistake. I just updated my logs to include the seg fault part.

[2019-11-26 16:14] Stono opened #19235 "Istio 1.4.0 proxy and proxy_init variables"
**Bug description**
In `1.4.0` istio-init was changed to use the same image as istio proxy, therefore you could infer that setting `global.proxy.image` would change the `image:` for both `istio-init` and `proxy`, however it doesn't.

In order to use my custom proxy image I had to set two variables:

 - `global.proxy.image`
 - `global.proxy_init.image`

which was a little counter intuitive.

**Expe

[2019-11-26 16:25] Stono commented on #19227
Thanks @sdake - no huge urgency on my part, I've patched around it locally.  Just don't want other users getting caught out when they upgrade to `1.4.0`.

[2019-11-26 16:45] howardjohn opened #19236 "build-tools 4x+ slower than istio-builder at building build-tools"
Here is a run of a build-tools build using istio-builder: https://prow.istio.io/view/gcs/istio-prow/logs/containers_tools_postsubmit/2 35min
Here is a run of a build-tools build using build-tools:   https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_tools/578/containers-test_tools/9 times out after 2hrs

[2019-11-26 16:48] camille-rodriguez commented on #18971
What I meant is that when you use the istioctl command to deploy istio, coredns does not have the addon "ready" . So the manifest files should be updated with that (install/kubernetes/operator/examples/multicluster/values-istio-multicluster-gateways.yaml)

[2019-11-26 16:53] howardjohn commented on #19235
The motivation for this was that someone might want to use a different image for the two? Not sure there is any real use case for this though

[2019-11-26 17:03] #18236 closed

[2019-11-26 17:04] vadimeisenbergibm commented on #19188
@piotrgwiazda cc @howardjohn
1. It seems HTTPS could be used in both cases, let me check and update the documentation. I think TLS can be used as well, since in this case HTTPS is treated the same as TLS, the Istio proxies see the encrypted traffic only (with SNI), they do not perform TLS termination.
1. As @howardjohn wrote
1. DNS resolution NONE should not work for the full FQDN gateway since th

[2019-11-26 17:09] hubermark commented on #19101
I found a way to bypass the problem

From Step 7. Define ServiceEntry to allow outgoing HTTPS call

1. Only define HTTP outgoing ServiceEntry instead HTTPS
[code]

2. Define VirtualService to re-route
[code]

3. Create DestinationRule to change from internal HTTP to outgoing HTTPS (mTLS)
[code]
You hava HTTPS and Timeout also is working and additionally you can see Traffic in Istio Service Dashboa

[2019-11-26 17:11] tcnghia commented on #17837
@howardjohn Knative doesn't require usage of sidecar, but we would like to function correctly in the presence of sidecar and take advantage of features like mTLS.

@incfly Ideally, we would like to take advantage of all Istio features that can be achieved by using a sidecar.  So yes we are expecting full-fledged features.  However as you say we can take one step at a time and get mTLS first.

Is i

[2019-11-26 17:17] ostromart commented on #19183
This is a side effect due to the structs being generated through protoc (specifically it's due to hidden fields being present). It's harmless and there's no easy way to get rid of this except for hacking the generated structs.

[2019-11-26 17:17] #19183 closed

[2019-11-26 17:19] ostromart commented on #19196
I feel like this is one where we should just document the limitations of --set rather than sinking effort into improving it - we really want to discourage its use except for experimenting.

[2019-11-26 17:27] douglas-reid commented on #19218
Are you sure you are seeing pod names in the data?  The code in `kubenetesenv` should be pulling from root controller name.  Code in question: https://sourcegraph.com/github.com/istio/istio@master/-/blob/mixer/adapter/kubernetesenv/cache.go#L138

[2019-11-26 17:27] ostromart commented on #19018
We've discussed doing something around this but it's not so simple. We need gogo to unmarshal enums and jsonpb due to our structs being protoc generated. It would be nice to investigate if some improvements can be made but we've already sunk a lot of time in trying to figure this out so it's not going to be a low hanging fruit for whoever takes it. I'm not opposed but we should be mindful of the c

[2019-11-26 17:31] nitishm opened #19237 "Report inbound metrics for Ingress Gateway and outbound requests for Egress Gateway"
**Describe the feature request**
In our deployment model specific to our organization, we run a set of ingress & egress `Gateway`s at each `Namespace` boundary, instead of deploying them at the mesh boundary.

We use Kiali extensively to monitor the traffic within the mesh. However, since the gateway controllers do not export a lot of metrics, we cannot visualize the traffic graph for requests bei

[2019-11-26 17:32] vadimeisenbergibm commented on #19129
@dhineshbabuelango So what is the protocol your client uses? Is it HTTPS? Do you define HTTPS_PROXY?

[2019-11-26 17:32] douglas-reid commented on #19218
We even have a test for this logic (albeit for `ReplicationController`):

https://sourcegraph.com/github.com/istio/istio@master/-/blob/mixer/adapter/kubernetesenv/cache_test.go#L103-118

[2019-11-26 17:34] nitishm commented on #19237
Attaching screenshots of Kiali to highlight the missing metrics reports for inbound vs exported metrics for outbound traffic

**Inbound**
![Screen Shot 2019-11-26 at 12 32 41 PM](https://user-images.githubusercontent.com/1494003/69657806-01f96500-1049-11ea-9f0c-68d7b8cd7b2b.png)

**Outbound**
![Screen Shot 2019-11-26 at 12 32 49 PM](https://user-images.githubusercontent.com/1494003/69657828-0c1b63

[2019-11-26 17:39] vadimeisenbergibm commented on #19129
@dhineshbabuelango Could you please specify the exact use case?
1. The protocol used by the client: HTTP/HTTPS.
1. Do you want to use a legacy proxy or an egress gateway?

To direct the traffic through an egress gateway, see https://istio.io/docs/tasks/traffic-management/egress/egress-gateway/, for both protocols.

[2019-11-26 17:56] Stono commented on #19235
Yup and my proposal still accommodates that, `global.proxy.image` is used by default on both but you can override just the init image with `global.proxy_init.image`

[2019-11-26 18:01] pc-rshetty commented on #19221
thanks @howardjohn since you added the label as enhancement does it mean this is not possible or just documentation is missing

[2019-11-26 18:10] bianpengyuan commented on #19218
This is from user's config, where they uses `destination.name` and `source.name` for workload label. I think this issue could be closed now.

[2019-11-26 18:10] #19218 closed

[2019-11-26 18:25] howardjohn commented on #19235
Ah right, I missed that. :+1:

[2019-11-26 18:25] thecodejunkie commented on #19225
I also ran into this and it does not play well with the Anthos Config Management validation rules and causes https://cloud.google.com/anthos-config-management/docs/reference/errors#knv1045 to be reported

[2019-11-26 18:29] howardjohn commented on #19221
Based on this I assume its possible and just not documented on our site

[2019-11-26 18:42] jasonwzm commented on #19224
We use direct transformation from CustomResourceDefinition object to yaml in CRD generation (which is the same approach used in kubebuilder). @Stono did it cause validation error on your side?
Anyhow, I will create a patch for this.

[2019-11-26 18:48] douglas-reid commented on #19233
@jwendell the metric is not controlled by helm.

@mahendrakariya did you add any virtual services to your cluster?

[2019-11-26 18:48] nitishm commented on #19237
@mandarjog Is this possible ?

[2019-11-26 18:49] selmanj opened #19238 "istioctl analyze should operate on a single control-plane"
Currently the analyze tool treats the entire cluster as a single control-plane. We should provide the ability to point the tool at a specific instance.

[2019-11-26 19:42] sushicw commented on #19238
This is something that will need to be solved much more broadly in Istio. We should make sure that whatever solution we end up using WRT Galley also works for analysis use cases. This will likely be pretty natural, since analysis uses the Galley pipeline.

[2019-11-26 19:48] johscheuer commented on #18971
@sdake like mentioned in my PR the ready and health block in `global ` can be dropped since we don't have a readinessProbe/livenessProbe configured and the actual main issue is/was that the newer versions of CoreDNS have the ready Plugin (1.5.0+) and tools like `kubeadm` create a CoreDNS Deployment with a readinessProbe and in my initial docs PR I didn't explicitly added the `ready` plugin if you

[2019-11-26 19:49] johscheuer commented on #18971
@camille-rodriguez ah, yeah that's actually not that critical but I can add it.

[2019-11-26 19:55] nitishm commented on #19237
Just so that we dont lose this discussion once the slack messages are purged
[code]

[2019-11-26 20:04] howardjohn opened #19242 "CNI should set status/annotation field on pod after it has process a pod"
Right now its pretty hard to tell that CNI actually worked or not. Its easy with the init container, since it will either crash or there are logs from the init container about what happened.

For CNI this is much more transparent.

We should consider adding a status field or annotation to the pod after we process it, so we can more clearly tell that a pod has successfully been process by CNI

[2019-11-26 20:13] howardjohn commented on #14692
Not stale

[2019-11-26 20:14] howardjohn commented on #14692
@ayj @nmittler are either of you interested in looking at this?

[2019-11-26 20:14] #19236 closed

[2019-11-26 20:20] howardjohn commented on #19215
According to https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/pilot-e2e-envoyv2-v1alpha3_istio/4004, https://github.com/istio/istio/pull/19019/files was also the first time the not multicluster variant of this failed, so maybe it is the root cause, or 1 big coincidence

[2019-11-26 20:28] richardwxn commented on #19230
@thecodejunkie Looks like the doc is not correct, thanks for pointing out, I would update that. There are two issues here, 1. cni.loglevel is not added to our internal values schema, so that's why you got the first bad path error saying unknown field. So you need to add --force flag to bypass. 2. We do not support using set overlay with array values yet, also we encourage to use file based overrid

[2019-11-26 20:35] #19216 closed

[2019-11-26 20:53] bianpengyuan commented on #19214
Do you mean after you restart, tcp metrics still do not show up, or did you tune log level in controlz and then it stops reporting tcp metrics?

Controlz log level adjustment should have no effect on istio-telemetry's functionality, and it won't be carried across restarts.

[2019-11-26 20:59] aidanbae commented on #19214
i tune log level in controlz and then it stops reporting tcp metric like istio_tcp_sent_bytes_total{}, istio_tcp_received_bytes_total{}
suddenly istio_tcp_sent_bytes_total{}, istio_tcp_received_bytes_total{] disapeared...

then i delete  istio and reinstall but still same

is there any variables/config to turn on that metric?

[2019-11-26 21:13] sushicw commented on #18007
We've actually backed away from this model: there's enough highly complex and changing-each-version code that it would be really difficult to support this kind of backwards compatibility, and doing so would make it much harder to share logic between analyzers and e.g. the actual Pilot code.

Closing this for now, since the new plan is to have `analyze` work like other `istioctl` tools in that we o

[2019-11-26 21:13] #18007 closed

[2019-11-26 21:16] pc-rshetty commented on #19221
So i read these 2
https://medium.com/google-cloud/kubernetes-autoscaling-with-istio-metrics-76442253a45a
https://medium.com/cloudzone/autoscaling-kubernetes-workloads-with-istio-metrics-92f86baabba9

Still researching ...

[2019-11-26 21:26] jonbcampos-alto commented on #19040
just upgraded to istio 1.4 and having the same issue. exactly the same

[2019-11-26 21:30] nmittler commented on #14692
Sounds like the action item here is to add documentation?

[2019-11-26 21:34] howardjohn commented on #19215
And in the multicluster one we see     `ingressgateway_test.go:289: Got non 200 status code while changing rules: map[200:494 503:6]` but the https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/pilot-e2e-envoyv2-v1alpha3_istio/4004 is 404 so its probably not related, I doubt that PR above is root cause

[2019-11-26 21:34] bianpengyuan commented on #19214
Ok then it must be coincident to happen at the same time at controlz update. So is there else you can think of happened during that time frame, such as adding prefix to service port, etc? I also would suggest following https://istio.io/docs/ops/common-problems/observability-issues/#expected-metrics-are-not-being-collected for debugging.

[2019-11-26 21:44] nitishm commented on #7590
Are there any plans to implement the INHERIT feature ?

[2019-11-26 21:56] jonbcampos-alto commented on #19040
fyi. adding `http-` in front of the service port name fixed the issue if you weren't doing that already. We found the issue by finding this thread and confirmed it with 2 methods:

curl with and without http2
`curl --http1.1 -I https://api...com/your-path/`

and

`curl --http2 -I https://api...com/your-path/`

if the http1.1 works and the http2 doesn't, you are in this issue. But the other tests.

[2019-11-26 22:08] diemtvu opened #19245 "Handle multiple JWT rules with the same issuer"
We need to define how multiple JWT rules with the same issuer (assuming they are slightly different, e.g in `audiences` spec or location) will be handled. Here are few options, but not limited to:

1. Use as is, each rule is treated independently. Might need some change in JWT filter to support different `providers`.
2. Combine into a single rule, where locations, audiences are union.
3. Combine i

[2019-11-26 22:29] thecodejunkie commented on #19230
@richardwxn thanks! @howardjohn showed me how to use the IstioControlPlane instead of `--set` parameters. However, I wanted to report this since I noticed the documentation was not functioning correctly

[2019-11-26 22:39] sushicw commented on #18963
It looks like what's happening here is that we end up generating synthetic virtual services that look like this:

[code]

In other words, the rules included in the virtual service are not filtered by the host the virtual service is for.

Will it be correct behavior if we simply skip over any rules that include a different host? Any rules that aren't host-specific would then get applied to all the

[2019-11-26 22:56] howardjohn commented on #19215
Just by looking at PRs that are before the tests started failing, potentional sources are #18964 #18952 #18312

[2019-11-26 23:58] cscetbon commented on #18921
@hzxuzhonghu could it be that it works with http protocol but not with “server-speaks-first” protocols ? I was able to get it to work with Linkerd by using specific options to skip those protocols https://github.com/linkerd/linkerd2/issues/3404. Does it help diagnosing what's going on ?

[2019-11-27 00:04] #14120 closed

[2019-11-27 00:05] #16159 closed

[2019-11-27 00:06] #16252 closed

[2019-11-27 00:39] howardjohn opened #19251 "Auto mTLS cannot be turned off without a complete cluster restart"
I had mTLS turned on which was causing some issues (due to a bug in a pilot I was developing). I edited mesh config, and set the flag to false.

Turns out this doesn't actually do anything, this is literally never used (unless I missed somewhere)?

We should either remove it from mesh config, or we should never look for the mtls label on pods if auto mtls is off in mesh config

Having a setting th

[2019-11-27 00:40] howardjohn commented on #19251
I guess the title doesn't match the description. This is really two issues:
* Mesh config does nothing
* I need to remove the label on all of the pods in my entire cluster to stop using auto mtls (I think?)

would solve both of these I think

[2019-11-27 00:44] incfly commented on #19251
We always add labels. no need to remove labels through redeployment. (actually we always add label regardless you enable auto mTLS via helm flag or not)

The actual steps to turn it off will be update mesh config, && restart pilot. This way you should observe different behavior.

I was under the impression pilot does not respect/catch up mesh config update. But seems like not the case, at least fo

[2019-11-27 00:45] howardjohn commented on #19251
Ok I actually realized I am wrong :slightly_smiling_face: I was looking for just direct access to `.EnableAutoMtls` but we call `GetEnableAutoMtls()` so it is actually used

[2019-11-27 00:45] incfly commented on #19251
Just to confirm, do you only **enable** auto mTLS and not configuring DestinationRule with "*.cluster.local" with ISTIO_MUTUAL?

Auto mTLS does not do anything if you define DR explicitly ISTIO_MUTUAL.

[2019-11-27 00:46] howardjohn commented on #19251
I was actually in a state where things were broken (not sure if its a user error, need to look at it more) and then I just modified mesh config and pilot pushed things and everything started working.

Pilot watches mesh config so no need to restart pilot

[2019-11-27 00:58] #19001 closed

[2019-11-27 01:05] #19251 closed

[2019-11-27 01:19] AL-Cui opened #19253 "istio/proxy can not build"
**Bug description**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release 1.4.0
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version`

[2019-11-27 01:19] #19253 closed

[2019-11-27 01:21] AL-Cui opened #19254 "istio/proxy can not build"
**Bug description**
Download from https://github.com/eile/tclap/archive/tclap-1-2-1-release-final.tar.gz failed: class com.google.devtools.build.lib.bazel.repository.downloader.UnrecoverableHttpException GET returned 404 Not Found

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used

[2019-11-27 01:58] bianpengyuan commented on #19208
1.4 proxy works normally for me for couple of hours. I think we can use this log to track fix those crashes for master.

[2019-11-27 01:59] wxq851685279 commented on #19020
istioctl manifest apply --set profile=demo --logtostderr
2019-11-27T01:59:08.541731Z     info    ReadProfileYAML for profile name: demo
2019-11-27T01:59:08.542729Z     info    Loading values from compiled in VFS at path profiles\demo.yaml
2019-11-27T01:59:08.543729Z     info    ReadProfileYAML for profile name: default
2019-11-27T01:59:08.544724Z     info    Loading values from compiled in VFS at

[2019-11-27 02:28] dhineshbabuelango commented on #19129
Hi Vadim,
1. The protocol used by the client: HTTP/HTTPS.
We are using HTTP proxy and we are injecting it as a variable inside the pod as config map like below

apiVersion: v1
kind: ConfigMap
metadata:
  name: proxy-environment-variable
data:
  HTTPS_PROXY: http://ip-10-87-2-217:8080
  NO_PROXY: 172.20.0.0/16,localhost,127.0.0.1,10.87.0.0/16,169.254.169.254,.internal,.s3.amazonaws.com

2. Do you w

[2019-11-27 02:35] #19173 closed

[2019-11-27 03:08] bianpengyuan commented on #19254
Should have been fixed master.

[2019-11-27 03:10] AL-Cui commented on #19254
I'm using version 1.4.0

[2019-11-27 03:12] bianpengyuan commented on #19254
Yeah, try fetch latest 1.4, it is also fixed there.

[2019-11-27 03:13] AL-Cui commented on #19254
我用的就是1.4.0的版本，然后报的这个错误，我在github上发现这个包确实没了

[2019-11-27 03:14] bianpengyuan commented on #19254
It was fixed by https://github.com/istio/proxy/commit/6ce5512ce09b760f79e33a06c2565f5974362edc, which is not in 1.4.0.

[2019-11-27 03:18] AL-Cui commented on #19254
I will manually modify the code and continue to try

[2019-11-27 03:20] mahendrakariya commented on #19233
No. We don't have any virtual services yet. Will this metric show up only when we have some virtual services?

[2019-11-27 03:22] bianpengyuan commented on #19254
Ok. Feel free to reopen, but this specific issue should have been fixed in all branches.

[2019-11-27 03:22] #19254 closed

[2019-11-27 03:27] bianpengyuan commented on #17884
Closing because of no activity. Please reopen if you need any more help.

[2019-11-27 03:27] #17884 closed

[2019-11-27 03:41] xUnholy commented on #10357
Out of each of the options, `sidecarInjectorWebhook.rewriteAppHTTPProbe=true` feels like the best approach to make default if there was a need for one.

Recommending to write liveness and readiness probes with commands is not always a feasible option, considering some images don't have any curl or equivalent CLI, additionally, it becomes cumbersome when you're consuming upstream helm charts that d

[2019-11-27 03:46] incfly commented on #10357
Thanks for the feedback. We do plan to enable this on by default, maybe in 1.5. Currently the last pending issue we found is the timeout specification is not respected. @johnma14 is working on that and once it's done, we can attempt to enable it by default.

By Pilot do you actually mean Pilot agent? To clarify, pilot is not involved in the health check request at all. It's the pilot agent which r

[2019-11-27 04:22] bianpengyuan commented on #19194
Session based OOP is not implemented and this is mentioned in dev guide: https://github.com/istio/istio/wiki/Mixer-Out-Of-Process-Adapter-Dev-Guide#adapter-lifecycle. I don't think this will be implemented in foreseeable future as we are shifting to WebAssembly based extension model. Mixer is in maintenance only mode and we are going to avoid adding new features like session based OOP to it. Reall

[2019-11-27 05:51] AL-Cui opened #19256 "/usr/bin/ld: cannot find -lc++"
When I compile proxy on aarch64 architecture machine
**Bug description**
`It fails with the following output:

    Change Dir: /tmp/tmp.ktB75d4fPk/CMakeFiles/CMakeTmp

    Run Build Command(s):/usr/bin/gmake cmTC_04a10/fast
    /usr/bin/gmake -f CMakeFiles/cmTC_04a10.dir/build.make CMakeFiles/cmTC_04a10.dir/build
    gmake[1]: Entering directory `/tmp/tmp.ktB75d4fPk/CMakeFiles/CMakeTmp'
    Buildi

[2019-11-27 06:17] johscheuer opened #19257 "Multicluster failover doesn't work/not supported?"
**Bug description**

We wanted to setup failover for our application that runs in multiple clusters with replicated control planes (see: https://istio.io/docs/setup/install/multicluster/gateways/)

I use the following configuration (it's the same in all clusters):

A `DestinationRule` with outlier detection:

[code]

We created an `ServiceEntry` for the other cluster (in the current test setup we

[2019-11-27 06:17] richardwxn commented on #19020
probably vfs gen files issues for the compiled in charts. I don't have a windows machine though to verify, @howardjohn any idea what might be the cause?

[2019-11-27 08:06] piotrgwiazda commented on #19188
@vadimeisenbergibm thank you! Since I have your attention for a while, I'd like to clarify few details

**ad 1 and 2:**
Looking at the [documentation of the protocol selection](https://istio.io/docs/ops/traffic-management/protocol-selection/) mentioned by @howardjohn I see that the protocol is actually selected by a name prefix. What is the meaning of the `protocol` attribute then?
Let;s say
[code

[2019-11-27 09:06] ckcd commented on #18903
Needs this +1 ...

@howardjohn @hzxuzhonghu  Are we working on it? if not I can do some coding and gives PR in both `istio/api` and here.

[2019-11-27 09:12] pravi1991 commented on #7773
Hi,
Even I am using the same setup as given above and I see the same results.
Some of my dashboards are empty.

I digged deeper using prometheus and ran these empty graph's prometheus query and I was able to find that the reporter label for **istio_requests_total** was showing as "destination" for bookinfo app and "source" for my custom app. The only difference between my app and bookinfo is the i

[2019-11-27 09:18] pravi1991 commented on #15528
Hi,
Even I am using the same setup as given above and I see the same results.
Some of my dashboards are empty.

I digged deeper using prometheus and ran these empty graph's prometheus query and I was able to find that the reporter label for **istio_requests_total** was showing as "destination" for bookinfo app and "source" for my custom app. The only difference between my app and bookinfo is the i

[2019-11-27 09:42] NilsRenaud commented on #19194
Thanks @bianpengyuan for your clear answer !

So there is no point in working on adapters nowadays, since they may disappear soon, right ?

Is there any documentation about this shift to WebAssembly ?

[2019-11-27 09:51] Svendegroote91 opened #19258 "Configuring egress IP range for Google Cloud Endpoints (GCE) with istio as add-on on GKE"
**Bug description**
Istio is deployed as add-on on GKE and I want to open up the egress traffic so my pods can reach Google Cloud Endpoints service. However, when istio is deployed as an add-on, it is not possible to follow the guide (https://istio.io/docs/tasks/traffic-management/egress/egress-control/#direct-access-to-external-services) that shows the set the settings via the deploy config optio

[2019-11-27 10:15] lhotrifork opened #19259 "Pilot sending repeated pushes due to listener conflicts when setting up secure egress to TCP services"
**Bug description**
After upgrading from 1.3.3 to 1.4.0 we see that `discover` is using all avaiable cpu.

[code]

Mostly it is constantly logging updates like the following. It is logging approximately 500 times per second:
[code]

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you use

[2019-11-27 10:46] seflerZ commented on #18981
@rshriram I know and this is the current state of Dubbo route configurations.

[2019-11-27 12:26] xeviknal commented on #17503
hey @sushicw ! Id like to take this one :) I can't do assignments, could you please do it for me?

[2019-11-27 12:40] fcantournet commented on #18300
https://github.com/istio/istio/issues/7607#issuecomment-490027057

For reference about trusting an external load-balancer for X-F-x headers

[2019-11-27 13:05] fredsted opened #19260 "Can't install 1.4.0 via helm, helm chart repository in readme seemingly invalid"
**Bug description**

The helm repository specified [here](https://istio.io/docs/setup/install/helm/#helm-chart-release-repositories) doesn't seem to be working. I get the following error when installing via helm:

[code]

The latest version I can find is 1.4.0-beta.1 (in this listing)[https://storage.googleapis.com/istio-release).

**Version (include the output of `istioctl version --remote` and `

[2019-11-27 13:51] fredsted commented on #19260
Got it to work; seems like this was caused by invalid helm/tiller permissions.

[2019-11-27 13:51] #19260 closed

[2019-11-27 13:52] Svendegroote91 commented on #19258
After browsing around some other related issues I found out that you can annotate your deployments with the following:

[code]

This will open up egress traffic for the specific IP range, even if the configmap istio-sidecar-injector contains the '*' value (which is the case for the istio add-on on GKE).

Is there a way I can contribute to further clarify the documentation part about Istio add-on o

[2019-11-27 14:10] NilsRenaud commented on #19067
A workaround to this demo profile bug is to run this command after having deployed Istio's Demo profile :

[code]

[2019-11-27 14:16] hubermark opened #19262 "Circuit Breaking doesn't work with TLS Origination"
**Bug description**
I followed [Circuit Breakin](https://istio.io/docs/tasks/traffic-management/circuit-breaking/) instructions and adapted it to our system but the circuit breaker configuration is ignored when using TLS Origination

**Expected behavior**
Circuit Breacing config works with TLS Origination same as without (HTTP standard)

**Steps to reproduce the bug**
Set outbound traffic policy m

[2019-11-27 14:45] howardjohn commented on #18903
That would be great

On Wed, Nov 27, 2019, 1:06 AM Kun Chang <notifications@github.com> wrote:

[2019-11-27 14:51] kovalyukm opened #19263 "Installation option for multiple ingress gateways, actually with ability to create additional internal load balancer in AWS"
**Bug description**
I cannot find how to create an additional ingress gateway via istioctl.
It should create an internal load balancer in AWS, so k8s Service should have annotation like:
    serviceAnnotations:
      service.beta.kubernetes.io/aws-load-balancer-internal: "true"
Please advise.

**Expected behavior**
Created an additional ingress gateway with an internal load balancer in AWS.
**Step

[2019-11-27 14:55] lhotrifork commented on #19259
The problem seems to be a misconfiguration:
The logs contains a number of `pilot_conflict_outbound_listener_tcp_over_current_tcp `, `pilot_duplicate_envoy_clusters` and `pilot_eds_no_instances` instances.

We've configured TCP egress like so:
[code]
We reached this configuration after a lot of trial and error.
Is there a better way to configure secure egress to TCP services? Ideally I would like t

[2019-11-27 15:03] vadimeisenbergibm commented on #19188
@piotrgwiazda Honestly,  I am not sure what the protocol field is used for in Istio. To be on the safe side, I specify the protocol name.

Regarding `resolution: NONE` and `resolution: DNS`. Sometimes they both work. `Resolution: DNS` is more secure since it instructs Envoy not to trust the original IP of the request, which can be set by a malicious client. `Resolution: DNS` instructs Envoy to the

[2019-11-27 15:05] howardjohn commented on #19188
The protocol is only selected by port name for Service because there isn't a proper protocol field on service. On service entry we don't look at the name.

[2019-11-27 15:21] howardjohn commented on #19020
@richardwxn the first error about `Could not configure logs: couldn't open sink "/dev/null": open /dev/null: The system cannot find the path specified.` is probably because there is no /dev/null on windows. The charts.yaml one -- no clue

[2019-11-27 15:37] frankbu commented on #7590
@nitishm Not that I know of, but there is a way to avoid setting a DestinationRule altogether. I'm not sure if a DR without TrafficPolicy is the same as no DR, but if so, it would behave just like INHERIT.
https://istio.io/docs/tasks/security/authentication/auto-mtls/

[2019-11-27 16:09] jmazzitelli commented on #19146
I'm watching this PR - when complete, it would help me immensely to getting the kiali operator in. :+1:

[2019-11-27 16:22] bianpengyuan commented on #19194
WebAssembly based extension dev is still in early days and not quite ready yet. Please take a look at this doc for recommendations about extensions: https://docs.google.com/document/d/12q-LdLEQorKrVaLRtnjf3ZbL7ZFpqofRLmci47AhV9k/edit#heading=h.rxu2g5zh5ovx.

[2019-11-27 16:35] howardjohn commented on #19215
Small sample size, but 1.4 seems unimpacted https://testgrid.k8s.io/istio_release-1.4_istio#pilot-multicluster-e2e_istio_release-1.4&exclude-non-failed-tests=&width=20

[2019-11-27 16:38] valer-cara commented on #18615
I got a similar issue while customizing the `ingressgateway.k8s.service` part. It went away after removing all `targetPort` keys from the yaml. Can't tell what that was..

[2019-11-27 16:54] douglas-reid commented on #15528
@pravi1991 if you see your app reporting to istio-telemetry, that is expected. Is your app calling out through an egressgateway?

[2019-11-27 16:55] douglas-reid commented on #19233
Yes.  I believe the logic for galley collections only reports on them when they exist.

Closing for now. Please feel free to reopen if you see this behavior after you've added virtual services.

[2019-11-27 16:55] #19233 closed

[2019-11-27 17:11] piotrgwiazda commented on #19188
Thanks for all of your answers. It would be fsntastic if your notes made it to the documentation.

[2019-11-27 17:29] johscheuer commented on #19242
This is also something that other CNI implementations like `calico` do:

[code]

[2019-11-27 17:58] bianpengyuan commented on #19208
Created https://github.com/envoyproxy/envoy-wasm/issues/327 and https://github.com/envoyproxy/envoy-wasm/issues/326 to track the newly found crashes in master branch. Closing since 1.4.0 does not have the issue.

[2019-11-27 17:58] #19208 closed

[2019-11-27 18:04] sushicw commented on #17503
@xeviknal Done.

Are you planning to have this look at pods, or deployments? The trouble with looking at pods is that pods generally only exist at runtime. This is fine for analyzing a live cluster, but means we can't do effective analysis on static files. Users probably have YAMLs defining their deployments, but not pods.

Looking at deployments instead of pods ends up being a bit more complex, b

[2019-11-27 18:05] sdake commented on #19146
@howardjohn a proposal for monorepo: https://docs.google.com/document/d/1sA7icak2OPwTrl-nXfNr2I1_QcJQfoEMPkpdTOOlEZ0/edit#

This leaves out the transition process.  WIll wait on TOC approval or rejection before authoring a design document. I welcome co-authors (if you want to contribute to the design of the monorepo transition @howardjohn)

Cheers
-steve

[2019-11-27 18:08] sdake commented on #19146
I've done a repo merge a few times.  The process involves a lot of git format-patch and git am with sed intermixed:)

See: https://github.com/sdake/vertical for an implementation of repo merging that was functional the last time we had this multiple repository issue :)

[2019-11-27 18:15] howardjohn commented on #18171
Thanks for the fix!

[2019-11-27 18:15] #18171 closed

[2019-11-27 18:15] #19016 closed

[2019-11-27 18:17] sdake commented on #19146
@istio/technical-oversight-committee Hi gang.  We will need a decision on a monorepo.  I have scheduled this for the next TOC call (december 6th).  The existing cost of a multiple repos does not generate any defendable benefit.

Strangely it has been about two years since the last multirepo to monorepo merge if this is approved :-)

[2019-11-27 18:19] sushicw commented on #17442
Another option to consider: when `--use-kube` is off, we could include a limited set of default istio-system resource definitions. This would involve less specialized plumbing and would prevent the analyzers from needing to know the state of `--use-kube`.

The risks are that this could become painful if the default definitions end up changing between versions, or if we need to handle different con

[2019-11-27 18:20] sushicw commented on #18451
https://github.com/istio/istio.io/pull/5885

[2019-11-27 18:20] #18451 closed

[2019-11-27 18:23] vadimeisenbergibm opened #19267 "egress gateway is ignored in istioctl manifest apply -f : no resources found"
**Bug description**

**Expected behavior**

I should be able to deploy an egress gateway by using IstioControlPlane resource.

**Steps to reproduce the bug**

1. Deploy a demo profile (includes egress gateway, works as expected):

[code]

2. Delete the egress gateway (works as expected):

Attached [egress-manifest-delete.yaml](https://github.com/istio/istio/files/3898303/egress-manifest-delete.yam

[2019-11-27 18:28] howardjohn commented on #17158
I am about 80% done with this in https://github.com/istio/istio/pull/18394/files, just need to fix a few tests and clean things up I think

[2019-11-27 18:30] sushicw commented on #17195
Closing this for now since we don't have any active or upcoming use cases that require it. (Feel free to re-open if you think of any).

[2019-11-27 18:35] vadimeisenbergibm commented on #19180
You can do it in the following way:

1. Change the port of the gateway. service, endpoints to 443, the protocol and name to TLS/tls.
2. Add the `tls` section:
[code]

3. Add a virtual service to direct the traffic from port 80 to port 443. See an example of such virtual service in https://istio.io/docs/tasks/traffic-management/egress/egress-tls-origination/#tls-origination-for-egress-traffic .

[2019-11-27 18:36] howardjohn commented on #19259
@vadimeisenbergibm can you help with the above config?

[2019-11-27 18:38] howardjohn commented on #19262
Is this the same as https://github.com/istio/istio/issues/19101?

[2019-11-27 18:38] yurishkuro commented on #19040
Don't know if this could be related, but Jaeger serves both HTTP and gRPC traffic on the same port using the cmux library.

[2019-11-27 18:39] howardjohn commented on #19263
@ostromart multiple gateways is a really common requirement, we should make sure we support this case

[2019-11-27 18:40] #19177 closed

[2019-11-27 18:44] howardjohn commented on #19258
We do have some (somewhat hidden, granted) docs about this on istio.io here: https://istio.io/docs/reference/config/annotations/. I'll send a PR to make this more explicit.

[2019-11-27 18:44] howardjohn commented on #19258
https://github.com/istio/istio.io/pull/5896 documents this

[2019-11-27 18:47] howardjohn commented on #19257
Seems like it might be https://github.com/istio/istio/issues/14367? more specifically https://github.com/istio/istio/issues/12528

[2019-11-27 18:49] nitishm commented on #7590
A DR without trafficPolicy defaults to no mTLS as an override for mesh/NS level DRs. So I haven't experienced the inheritance.

[2019-11-27 18:50] howardjohn commented on #18500
Based on the above I don't think this is feasible for Istio

[2019-11-27 18:50] #18500 closed

[2019-11-27 18:54] ericvn commented on #19267
@vadimeisenbergibm I can try this after I create another cluster, but want to note that in your notes above you apply the _delete_ twice (and not the _enable_ the second time). Might just be a cut/paste error. I'm also not sure the indention is correct, but if the first _delete_ worked, then it likely is.

[2019-11-27 19:17] #19258 closed

[2019-11-27 19:35] Svendegroote91 commented on #19258
Awesome, thanks for the swift support and making the istio.io as complete as possible :-).

[2019-11-27 19:45] #19234 closed

[2019-11-27 20:11] rolandkool commented on #14692
Hi,

We've found an alternative workaround to get this working by creating a destination rule in stead of using the traffic.sidecar annotation.

The rule looks like this:
`apiVersion: networking.istio.io/v1alpha3
kind: DestinationRule
metadata:
  annotations:
  name: kubernetes-api
spec:
  host: kubernetes.default.svc.cluster.local
  trafficPolicy:
    loadBalancer:
      simple: PASSTHROUGH
`

Th

[2019-11-27 20:15] bjoernw commented on #6566
If I terminate TLS at the ELB do I have send the traffic downstream over http? Does that mean that there is 1 hop in my system from the ELB to the istio gateway pod that will be plaintext (im using mtls between all the istio services)?

[2019-11-27 20:34] howardjohn opened #19269 "rotateDNSCertificatesWhenCertExpired test failure"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/19266/integ-security-k8s-tests_istio/4560
https://prow.istio.io/view/gcs/istio-prow/logs/integ-k8s-116_istio_postsubmit/778

[2019-11-27 20:54] sdake commented on #19151
@ostromart @richardwxn can you start with an RFC first so we are all on the same page about requirements?

Cheers
-steve

[2019-11-27 20:56] esnible opened #19271 "1.4 behavior change when VirtualSystem port set to `{}`"
A user reports that their VirtualServices contain `port: {}` when they intended to leave port blank.  This is not the issue.

The issue is that in Istio 1.3 `port: {}` seemed to have no effect.  In 1.4 it seems to prevent traffic to the service.  This may be related to auto mTLS.  `istioctl x analyze` correctly reports a problem.   `istioctl x describe` reports `Pod is DISABLE, client protocol uns

[2019-11-27 21:32] GregHanson commented on #19271
@esnible need a little more clarification.  Is `port: {}` the same as omitting it, or are users specifically adding the line `port: {}` in their spec?

Assuming users are specifically trying to set `port: {}`, I don't think we should support it because logically it doesn't make a lot a sense.  Declaring a rule with `port: {}` would be the same as specifying `subset: ""`.  Also from a Go standpoint

[2019-11-27 21:49] howardjohn commented on #19269
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/19266/integ-security-k8s-tests_istio/4571

[2019-11-27 22:10] nicktrav commented on #19158
@carolynhu - we enable multi-cluster via the instructions detailed here (i.e. create Secret in the control plane cluster, etc.):
https://istio.io/docs/setup/install/multicluster/shared-vpn/

Specifically, in this case, we were linking a new cluster for the _first_ time.

Let me poke around and see if I can get this to happen again when I re-link.

[2019-11-27 22:40] nicktrav commented on #19158
I was able to get mixer to crash again in the case where I _unlinked_ a cluster:

[code]

Still trying to reproduce the case where linking a new cluster causes a crash, but I suspect it's the same underlying issue.

[2019-11-27 22:51] #17195 closed

[2019-11-27 22:53] richardwxn commented on #19263
We currently don't support user define gateways yet but we would for 1.5

[2019-11-27 23:18] lei-tang commented on #19269
- The statistics for the tests TestDNSCertificate and TestDNSCertificate/regenerateDNSCertificates
from 11-12-2019 to 11-27-2019: out of 93 post-submit tests on https://testgrid.k8s.io/istio_istio_postsubmit#integ-k8s-116_istio_postsubmit, there is one failed test (https://prow.k8s.io/view/gcs/istio-prow/logs/integ-k8s-116_istio_postsubmit/778) for the PR https://github.com/istio/istio/pull/19248.

[2019-11-27 23:50] jamesmoriarty commented on #18912
I've also seen this issue with 1.3.5.

[2019-11-27 23:54] howardjohn opened #19276 "TestWorkloadAgentGenerateSecretWithPluginProvider test failure"
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/783

[2019-11-27 23:54] nicktrav commented on #19158
The same race condition for cluster deletion is also present in 1.4.0 (deleting the Secret for a remote cluster triggers a crash of all mixer Pods):

[code]

[2019-11-28 00:34] #19225 closed

[2019-11-28 00:34] #19224 closed

[2019-11-28 01:20] xUnholy commented on #10357
@incfly Thanks for that clarification, I must have misinterpreted the documentation to think it was Pilot, however, the Pilot agent makes a lot more sense once reading through the documentation. In that case, my concern is void.

[2019-11-28 01:41] linsun opened #19280 "zookeeper stops working after injecting istio-proxy"
**Bug description**
1. Installed zookeeper via helm chart via instructions here: https://github.com/helm/charts/tree/master/incubator/zookeeper

All worked fine and validated each of the 3 pods within the stateful set is good and the quorum is established.

2. Annotate the namespace with istio auto injection and kill each of the 3 zookeeper pod.  Watch the pod restarted with istio-proxy however, n

[2019-11-28 01:51] linsun commented on #19280
zookeeper pod log

[code]

Notice the pods are rebooted a few dozen times.

[2019-11-28 01:54] linsun commented on #14743
https://github.com/istio/istio/issues/19280

[2019-11-28 02:02] bibi520 opened #19281 "Istio exposes one more port 3307 but not the same"
We have exposed a 3307 port to connect to mysql
istio-ingressgateway   service：
![image](https://user-images.githubusercontent.com/42456284/69770890-ac969280-11c5-11ea-9d11-2f07e0f7e06d.png)
istio-ingressgateway  deployment：
![image](https://user-images.githubusercontent.com/42456284/69770943-e2d41200-11c5-11ea-8d04-fcc45b011d7f.png)
But the port I entered into the istio-ingressgateway pod was not

[2019-11-28 02:06] howardjohn commented on #19281
you need to create a Gateway object as well

[2019-11-28 02:09] bibi520 commented on #19281
This is my gateway object：
![image](https://user-images.githubusercontent.com/42456284/69771201-eb791800-11c6-11ea-91ad-4758e7804b9c.png)
![image](https://user-images.githubusercontent.com/42456284/69771217-f633ad00-11c6-11ea-9363-b09272083325.png)
I can get in by mapping mysql SVC nodepoet alone but I can't get in by istio

[2019-11-28 02:10] hzxuzhonghu commented on #19280
/assign

[2019-11-28 02:17] mahendrakariya commented on #19233
OK cool. Thanks for this.

[2019-11-28 02:49] linsun commented on #19280
Found a workaround for this... zookeeper has 3 ports: 2181/TCP,3888/TCP,2888/TCP

2181 are for client connnections, and 3888/2888 are both used internally for leader election and followers.  I went ahead and excluded 3888/2888 for inbound ports, e.g.

[code]

and redeployed the statefulset.  After that, all my zookeeper pods are coming up fine and the quorum are established.

[2019-11-28 03:03] howardjohn commented on #19269
on pr 19266 it's an issue with the pr itself, no clue why only this test fails though

[2019-11-28 03:11] pujunYang commented on #11340
@tillig , i have the same problem, do you have solve it?

[2019-11-28 03:51] dcberg commented on #19280
If you exclude these ports then when you have mTLS enabled the pods will not communicate with each other using mTLS....correct?

[2019-11-28 04:29] howardjohn commented on #19269
I get logs like
[code]

In CI and when I run locally

[2019-11-28 04:36] bibi520 commented on #19281
I made a mistake. Mysql was supposed to be TCP and I wrote HTTP

[2019-11-28 06:13] johscheuer commented on #19257
Thanks for your fast response ! And yes the missing piece was a service for my caller pod 🤦‍♂ I actually was a not sure if this works since it's never documented somewhere (and also see this discussion: https://discuss.istio.io/t/how-to-configure-a-multi-cluster-replicated-control-planes-to-failover/4034).

If you think it would be valuable I can write some documentation for this since it seems th

[2019-11-28 06:14] pravi1991 commented on #15528
No. I am not using any egressgateway. After some research, I found out this **connection_security_policy="none"** for bookinfo app and **connection_security_policy="unknown"** for my app. So I checked if there is any destination rule applied and I found that there is one for bookinfo and nothing for mine. I followed the documentation and applied a destination rule and policy for that service with

[2019-11-28 06:20] #19257 closed

[2019-11-28 06:27] ckcd commented on #18903
Should we use `enable` or `disable` in `LocalityLoadBalancerSetting` per DR ?

considering in early release the behavior of `locality` is controlled by `mesh config` and it's default value is `true`, which means for each DR it's `locality` is `turn on`. So I think we should use `disable` in this feature which means the default `bool disable = 0` is `turn on`.

@howardjohn  PTAL.

[2019-11-28 07:02] ckcd commented on #18903
Btw, if set `turn off` in global `mesh.config`, but set `turn on` in on DR, should it actually be `on` or `off`?

[2019-11-28 07:42] hzxuzhonghu commented on #18903
The settings in destination rule can override mesh settings, so it is `on`.

[2019-11-28 07:51] zdraganov commented on #15579
I have similar problem. Internally I have a service with port 80, and target port 8080. I can access the service only on the 8080 port, and not on 80.

[2019-11-28 08:09] Stono opened #19285 "Global Envoy Filter"
**Describe the feature request**
I caveat all the below with "i'm a envoy filter amateur".

I'd like to be able to apply an EnvoyFilter to _all_ workloads in _all_ namespaces, the envoy filter I can currently add to each workload is this one, to add a simple `x-calling-service` header.

Also, I'd like to be able to infer the current workload app in the `request_handle:headers():add("x-calling-serv

[2019-11-28 08:38] Stono commented on #10770
I'm interested in gzipping between two envoys, and wondering if anyone has had any joy with this?

eg `[service-a] --plaint--> [envoy-a] ---- gzip ----> [envoy-b] --plain--> [envoy-a]`

[2019-11-28 08:39] Stono commented on #10770
@howardjohn @douglas-reid would one of you mind re-opening this pretty please?

[2019-11-28 08:40] Stono commented on #10770
Actually just stumbled across https://github.com/istio/istio/issues/18443

[2019-11-28 08:40] Stono commented on #18443
My example from the other post:
`[service-a] --plain --> [envoy-a] ---- gzip ----> [envoy-b] --plain--> [envoy-a]`

[2019-11-28 08:50] NilsRenaud commented on #19194
Thanks @bianpengyuan, but I don't have read access to this document. Could you make it publicly readable ?

[2019-11-28 08:57] hzxuzhonghu commented on #19280
I can not startup with https://github.com/helm/charts/tree/master/incubator/zookeeper, the error is not related to istio.
[code]

But i tried with another deploy https://blog.csdn.net/wslyk606/article/details/90720424, it workes well in my env.

My env is installed from a recent `istio-1.5-alpha.3b7b43f911ab6c69bf0da9623966521563cff3f8`, by applying the istio-demo.yaml without mtls.

@linsun So ma

[2019-11-28 09:14] hzxuzhonghu opened #19286 "syntheticserviceentries CRD left after uninstalling istio"
**Bug description**

When i uninstall istio by ` kubectl delete -f install/kubernetes/istio-demo.yaml`, syntheticserviceentries is left.

[code]

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

**How was Istio installed?**

**Environment where bug was observed (cloud ve

[2019-11-28 09:15] hzxuzhonghu commented on #19286
/assign @Nino-K

[2019-11-28 09:22] vadimeisenbergibm commented on #19267
@ericvn This is a copy&paster error in the comment, sorry. In the reality, I do apply egress-manifest-enable.yaml, and get the message "No resources found".

[2019-11-28 09:27] hzxuzhonghu commented on #19280
install following this guide https://istio.io/docs/tasks/security/authentication/auto-mtls/#before-you-begin

It also works for me.

[2019-11-28 09:30] vadimeisenbergibm commented on #19267
@ericvn cc @howardjohn You are right, it is an indentation problem. Strange that the delete worked.

Attaching the files with the correct indentation:
[egress-manifest-delete.yaml.txt](https://github.com/istio/istio/files/3900898/egress-manifest-delete.yaml.txt)
[egress-manifest-enable.yaml.txt](https://github.com/istio/istio/files/3900899/egress-manifest-enable.yaml.txt)

[2019-11-28 09:30] #19267 closed

[2019-11-28 09:55] seflerZ opened #19287 "Enable EDS Patch on Pilot EDS incremental push"
**Describe the feature request**
Currently, incremental EDS push has been implemented on both Envoy and Pilot side. Even with this, some large clusters(with 10000 endpoints for example) may still suffer from performance issues due to:
1. Even with only 1 endpoints change within cluster would cause 10000 endpoints push. Most of the data is duplicated and wasted.
2. Full EDS refresh will trigger Env

[2019-11-28 10:25] rolandkool commented on #14327
I've verified it is still an issue with 1.4. After a node got reinstalled, pods on that node no longer have the necessary iptable rules for envoy.

[2019-11-28 10:36] luksa opened #19288 "Missing context information in operator logs"
**Bug description**
PR #328 switched operator logging to Istio common log. This caused important context information to no longer be logged (e.g. the ICP name/namespace that the log messages apply to).

For example, when the controller deletes an ICP, it now logs only `"IstioControlPlane deleted"`, whereas it previously logged `"IstioControlPlane deleted {request.namespace: mynamespace, request.na

[2019-11-28 10:44] NilsRenaud opened #19289 "validUseCount and validDuration are ignored in check policy"
**Bug description**

When developing a check policy adapter for Mixer, the adapter have to return a checkResult message composed of a status code, and 2 optional fields : validUseCount and ValideUseDuration.

I set theses two fields but nothing happened. I expected the envoy side-car proxy to cache the previous answer done for the same request (or at least istio-policy) but the request is still se

[2019-11-28 10:52] nak3 opened #19290 "readinessProbe for istio-telemetry always fails when MCP is enabled"
**Bug description**

- When readinessProbe is configured for istio-telemetry on MCP enabled cluster, probe always fails.
- This is because MCP does not support probe so [ReadinessProbe for ConfigStore](https://github.com/istio/istio/blob/0a5be9d306e88a5d243dfea0b4400a7460a24bc6/mixer/pkg/server/server.go#L260) is not updating probe file.

**Expected behavior**

- ReadinessProbe works fine when MCP

[2019-11-28 12:09] hubermark commented on #19262
Hello @howardjohn,
both tickets are from me but I think it's quite a difference in it.
I think it could be same code area but the occurrence is a little different

[2019-11-28 12:19] rolandkool opened #19292 "Support shortname for authorizationpolicies.security.istio.io resources"
**Describe the feature request**
With the new authorization policies, using kubectl to get or delete them, you'll need to specify the full resource name of `authorizationpolicies.security.istio.io`. This is because there is already a (deprecated) `authorizationpolicies.rbac.istio.io` which takes precedence if you do `kubectl get authorizationpolicy` (or `authorizationpolicies`).
It would be nice t

[2019-11-28 12:33] rolandkool commented on #19292
Checked out the source code and searched for `authorizationpolicies.rbac.istio.io` but there are no mentions of it (anymore). Guess it got left behind after upgrading.

[2019-11-28 13:56] linsun commented on #19280
@dcberg I don't think mTLS will be an issue on other ports that are excluded so basically i'm asking istio to do nothing with the inter member communication within the zookeeper cluster by excluding the 2 ports.

[2019-11-28 13:59] linsun commented on #19280
@hzxuzhonghu great you were able to recreate it.  I think the issue you had was caused by the configuration of the storage provider... you had to configure it when install the helm chart which I configured for IKS.   I have a fresh istio 1.4.0 installation with default profile (NO mTLS enabled).

Let me know if  you need anything.

[2019-11-28 14:19] hwinkel commented on #7521
AFAIK nginx has shown how to use nginx with istio as a proxy piloted by pilot

[2019-11-28 14:39] joakimr-axis commented on #19020
I guess the initial reported issue here, being the /dev/null one, is to be regarded as solved with the verified --logtostderr suggestion?
And that it reveals this new issue (to be handled separately?) with the compiled in charts.

[2019-11-28 14:40] jondunning commented on #18097
Having the same issue on v1.4.0, also running on AWS EKS. @adimania did you find a solution?

[2019-11-28 14:44] adimania commented on #18097
Nope. No one responded for a month. We uninstalled istio.

[2019-11-28 14:54] zsrinivas commented on #17419
@howardjohn
sorry, my mistake, thanks

[2019-11-28 15:05] LosGlennos commented on #19020
I got the Charts-error as well. If you want to get around this issue, I managed to get `istioctl manifest apply` working with WSL for Windows. As an interim solution.

[2019-11-28 15:08] psychoveter commented on #18912
I see the same for 1.4.0 (kube 1.16.2):

istioctl version
client version: 1.4.0
control plane version: 1.4.0

kubectl version
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe5036ef3df2967d086711e6c0c405941e14b", GitTreeState:"clean", BuildDate:"2019-10-15T19:18:23Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info

[2019-11-28 15:23] wu0407 opened #19294 "can't disable install component by IstioControlPlane file"
**Bug description**
If use IstioControlPlane file to disable prometheus  install use  istioctl  dose not take effect.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[x ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

[2019-11-28 15:34] howardjohn commented on #19287
Sounds great but as you mentioned needs envoy changes. My understanding is the delta xds protocol would not enable this, we need dinner grain patching

[2019-11-28 15:46] ivankorn commented on #18095
Helm 2.16.1 worked for me with doing the job for istio 1.4.0.

[2019-11-28 15:46] howardjohn commented on #19286
I didn't think SSE was a real CRD we installed in the kubernetes cluster? I thought it was just sent over mcp

[2019-11-28 15:47] #19281 closed

[2019-11-28 15:54] vadimeisenbergibm opened #19295 "Clarification needed on how to configure gateway ports with istiocl manifest"
**Describe the feature request**

It is not clear how to configure gateway ports with istioctl manifest. The instructions to use helm values do not work.

Context: Istio gateways are part of Istio a-la carte concept and should be customisable. In particular, the user should be able to deploy multiple gateways in different namespaces for different purposed. One of the basic customisation tasks is t

[2019-11-28 15:56] vadimeisenbergibm commented on #19129
The issue depends on https://github.com/istio/istio/issues/19295. Once it will be fixed, I will update the documentation on how to direct the traffic through the egress gateway.

[2019-11-28 15:56] wu0407 commented on #19294
it is my misstake, not add spec in the file.
[code]

[2019-11-28 16:04] vadimeisenbergibm commented on #19259
@lhotrifork cc @howardjohn

It seems there is a confusion between TCP and TLS routing. If the traffic is TLS with SNI, you should configure it as TLS. Use `tls-` in the names of the ports, and define the hosts only in the service entries, without addresses. Then you can omit the VirtualService. The configuration will be the same as https://istio.io/docs/tasks/traffic-management/egress/egress-contr

[2019-11-28 16:24] Nino-K commented on #18136
https://github.com/istio/istio/pull/19241

[2019-11-28 16:48] jondunning commented on #18097
@adimania Thanks for your response. I worked it out - because we both installed SDS it replaces the cert mounting method with a new method described here https://istio.io/docs/tasks/security/citadel-config/auth-sds/. Hope this helps

[2019-11-28 16:51] Nino-K commented on #19286
I don't think we install SSE as a CRD either, but let me dig into it see where it comes from since it is listed under `kubectl get crd`.

[2019-11-28 16:53] giggio commented on #18095
I'm on Helm 3 now, and both `1.3.4` and `1.4.0` install fine.

[2019-11-28 17:46] ichasco opened #19296 "Istio 1.4 with cert-manager 0.11.0 and SDS enabled get 404 with http01 solver"
**Bug description**

I am having problems deploying istio 1.4 with sds and cert-manger 0.11

**Expected behavior**

Get Let's encrypt certificates with http01 solver

**Steps to reproduce the bug**

## Deploy Istio 1.4

[code]

## Deploy cert-manager 0.11.0

`kubectl apply --validate=false -f https://github.com/jetstack/cert-manager/releases/download/v0.11.0/cert-manager.yaml`

[code]

## Create I

[2019-11-28 18:21] mandarjog commented on #19285
I think there is already a feature request to parameterize EnvoyFilter API, we heard about it at kubecon.

Metadata exchange filter does something similar, so wasm sandbox api supports accessing node metadata.
https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/headers#x-envoy-downstream-service-cluster    Perhaps you can do this instead?

[2019-11-28 19:07] Stono commented on #19285
@mandarjog that sounds like exactly what I need, I don't suppose you have any code examples?

[2019-11-28 19:07] richardwxn commented on #19294
thanks for reporting, I created a PR to let validation check fail for the yaml without spec field.

[2019-11-28 19:58] rolandkool opened #19297 "istioctl.bash and _istioctl auto completion files missing"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
The istioctl documentation contains a section on enabling bash/zsh autocompletion. It refers to files istioctl.bash and _istioctl in the tools direc

[2019-11-28 19:59] rolandkool commented on #19297
As a workaround, I managed to generate them using this command: `istioctl collateral completion --bash -o .` as documented in https://github.com/istio/istio/issues/6119

[2019-11-28 21:13] mariannegru commented on #13819
This is what worked for me:
`---
apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: authentication-filter
  namespace: istio-system
spec:
  workloadSelector:
    labels:
      app: istio-ingressgateway
  filters:
  - insertPosition:
      index: FIRST
    filterConfig:
      httpService:
        authorizationRequest:
          allowedHeaders:
            patterns:

[2019-11-28 22:44] dcberg commented on #19280
@linsun I wasn't able to get my environment working with just the annotation that you used to excludeInboundPorts. I had to excludedOutboundPorts as well.

`traffic.sidecar.istio.io/excludeOutboundPorts: 2888,3888`

Once I did this then establishing quorum did work for me.

[2019-11-28 22:45] dcberg commented on #19280
The question I have is should we have to use the annotations to exclude both inbound and outbound ports that are used for inter pod communications for the pods within the StatefulSet when Istio is enabled?

[2019-11-29 02:59] lys0224 opened #19298 "After the Pod is injected into the sidecar of istio, the websocket connection will be interrupted abnormally"
The backend uses Springboot to provide a websocket connection and sets the maximum idle time to 3 minutes. The program runs well in local . After 3 minutes of idle, the connection will be disconnected as scheduled. It can also be accessed normally by nodeport service when deployed in kubernetes.

But when I inject sidecar into this backend pod, there is a problem . The connection doesn't work prop

[2019-11-29 03:40] seflerZ commented on #19287
@howardjohn We can contribute to Envoy and benefit a lot from this. The primary objective is to make the patching protocol clear. Is there any suggestion you can give or any documentation/specification you've found?

Sounds I've mis-understood the xDS delta, I'll continue digging in.

[2019-11-29 03:53] howardjohn commented on #19287
Yes my understanding is that https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/discovery.proto#envoy-api-msg-deltadiscoveryrequest you still need to send a complete Cluster Load Assignment and therefore all the endpoints together

[2019-11-29 05:01] #13819 closed

[2019-11-29 05:03] #16314 closed

[2019-11-29 05:03] #16330 closed

[2019-11-29 06:00] johscheuer opened #19300 "Istio CNI should provide metrics"
**Describe the feature request**

During the setup of some alert rules for our Istio Setup (focused on the Istio "system" side) we noticed that Istio CNI is the only component that doesn't provide some metrics. So the only way to monitor Istio CNI is currently to check if the `DaemonSet` ist there and if there are some running `Pods` of Istio CNI.

Some Ideas from other CNI's:

- Calico: https://d

[2019-11-29 07:04] vvbogdanov87 opened #19302 "Can't enable istio-sidecar-injectior on minimal profile"
I try to install istio
[code]
staging.yaml
[code]
My goal is to have minimal istio installation with auto-injection enabled and configured to inject proxy only to annotated containers. But injector pod can't be started because of missing secret
[code]
[code]
If I install the default profile and later apply my profile, the injector starts successfully. Looks like the secret is created by another co

[2019-11-29 07:13] infa-ddeore commented on #19073
I was in same situation on my test cluster after doing `helm purge` and then trying `helm install` again

fixed it after deleting `istio-galley` `validatingwebhookconfigurations`

[code]

[2019-11-29 07:41] morvencao commented on #19073
This may be related to `istio-galley` validatingwebhookconfiguration update here: https://github.com/istio/istio/pull/18037,  the owner ref has been changed from `deployment` to `namespace`, so you need to delete `istio-system` namespace, then the `istio-galley` validatingwebhookconfiguration will be cleaned.

[2019-11-29 08:52] seflerZ commented on #19287
@howardjohn I got it. You'r right. So there should be a new way to do resource patching. @kyessenov I've read your sketch and think it helpful. Could you tell me the process of patching protocol you designed?

[2019-11-29 08:58] hobbytp commented on #16126
I have tried to modify istio-sidecar-injector.yaml as below, and then add annotation in application deployment, but the resource can work, and limits can not be added in istio-proxy.

----------------------
        resources:
          {{ if or (isset .ObjectMeta.Annotations `sidecar.istio.io/proxyCPU`) (isset .ObjectMeta.Annotations `sidecar.istio.io/proxyMemory`) -}}
          requests:

[2019-11-29 09:13] akandybaev commented on #6593
I'm quite new to Istio, but I think I kind of managed to make it work.

I've created the following service entry in the namespace I'm running my service:

[code]

and then restarted istio-pilot. Then after a few failures pod starts up correctly (apparently pilot needs some time to push configuration to envoy) and after that new pods start up correctly with the first attempt.
I'm still trying to fi

[2019-11-29 09:33] rforberger opened #19304 "Add hostPort to istio-ingressgateway deployment template of the official helm chart"
**Describe the feature request**
I want to add a hostPort key to my istio-ingressgateway deployment manifest.
I have added the following code:

[code]

And in the values.yaml I added:

[code]

The problem is, that the istio-ingressgateway service also uses this values.yaml config and is trying to deploy a hostPort field on the service, which is not possible, since the Service object doesn't have t

[2019-11-29 12:27] hantaowang opened #19306 "Istio Proxy binary not exported when using BUILD_WITH_CONTAINER"
**Bug description**
I am new to developing on Istio, and so I am been trying to get a deployment of Istio with a custom envoy proxy. In the istio/proxy repo, I am running make with the `BUILD_WITH_CONTAINER` env variable set to 1 so that I do not need to worry about getting all the correct dependencies locally.

I expect the envoy binaries to be outputed at `$HOME/.cache/bazel/_bazel_root/<hash>/e

[2019-11-29 12:44] bogdansucila commented on #18850
Yep, that's what happened initially at least, I would get a 301 and had my CDN-served content opened in a separate tab / window.

However, I managed to find a working version of the config with a few tweaks here and there, including rewriting the content type response header from octet-stream to text/html. Just in case someone attempts to replicate this admittedly fringe case in the future, this i

[2019-11-29 12:44] #18850 closed

[2019-11-29 12:51] riccardomc opened #19307 "Istioctl generates badly formatted serviceAnnotations"
**Bug description**
I am trying to specify an AWS certificate ARN value for the istio-ingressgateway service. I expected this would be possible using Helm syntax on CLI but the following command doesn't really do what I want:
[code]

Notice that this notation works for normal Helm charts (an [example](https://github.com/jfrog/charts/issues/42#issuecomment-559445679)).

Is there a way to achieve th

[2019-11-29 13:15] ncouse commented on #18985
I observed the same when following the instructions to enabling mixerless telemetry: https://istio.io/docs/ops/configuration/telemetry/in-proxy-service-telemetry/#enable-service-level-metrics-generation-in-envoy

I got the same behaviour on 2 different Kubernetes clusters after freshly installing Istio 1.4.0. Any previous installations were purged before installation.

[2019-11-29 16:52] douglas-reid commented on #15528
@pravi1991 if you are not using egressgateway then your app is likely calling out through the passthrough cluster. you might want to read https://istio.io/blog/2019/monitoring-external-service-traffic/. "unknown" is expected for client-side metrics.

I suggest moving this conversation to the [forums](discuss.istio.io), as this isuse was about egressgateway.

[2019-11-30 02:01] howardjohn commented on #19307
Thanks for the report. We are tracking this in https://github.com/istio/istio/issues/19196 which also gives a workaround

[2019-11-30 02:01] #19307 closed

[2019-11-30 02:03] howardjohn commented on #19302
the injector needs certificates in order to manage the webhook. I think this can be avoided
avoided with https://istio.io/docs/tasks/security/webhook/ though I'm not sure the install with remove the secret mount when this is used

[2019-11-30 02:06] howardjohn commented on #19304
If you are already modifying the helm templates yourself to add this, can't you just change it so that it doesn't use the same value for the deployment and service?

If you use the istioctl install method you could also achieve this with an overlay I think

[2019-11-30 02:07] howardjohn commented on #19300
we probably want version, # of success, # of failures at a minimum. This would be useful

[2019-11-30 02:08] howardjohn commented on #19297
Hey, thanks for the report. We have this fixed now so in the next release (hopefully pretty soon) will have this fixed. See https://github.com/istio/release-builder/pull/74

[2019-11-30 02:08] #19297 closed

[2019-11-30 05:01] #13204 closed

[2019-11-30 05:01] #13891 closed

[2019-11-30 05:23] rforberger commented on #19304
@howardjohn
Well, whatever value I use the the values.yaml, in the ports key, it will be used for the istio-ingressgateway service as well. And it will not be deployed when the key there is not found.
What I practically need is a separation of the data (values.yaml) between deployment and Service.

I think I can't use the istioctl install method because in that environment, helm is used.
I don't w

[2019-11-30 05:26] howardjohn commented on #19304
With istioctl you can overlay arbitrary configs, similar to kustomize, which should be able to handle this case.

[2019-11-30 07:42] hzxuzhonghu commented on #19229
Sorry @cscetbon, i didn't get a chance to reproduce until now. The cause i found is that the cassandra bind 7000 port on pod ip , but envoy will proxy traffic only to `127.0.0.1`. So you should change config i think. But since i am not familiar with it, can not help on that.
[code]

[2019-11-30 07:52] hzxuzhonghu commented on #19229
Embrassed, https://istio.io/faq/applications/#cassandra

[2019-11-30 08:01] hzxuzhonghu commented on #19280
The root cause is that zookeeper listens on pod ip only

[code]
Ref: https://istio.io/faq/applications/#cassandra

This is really a bad UX, @rshriram @howardjohn  @lambdai  any idea how can we solve this?

[2019-11-30 08:01] hzxuzhonghu commented on #19229
Same as #19280

[2019-11-30 15:34] haf opened #19309 "Operator pod disruption policies not matching"
[code]

via `kubectl get events --all-namespaces` after following the **operator** installation guide with the `default` set of settings.

Actual labels:
[code]

Selected labels for `poddisruptionbudget/istio-policy`:
[code]

**Bug description**

**Expected behavior**

Matching selectors

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl vers

[2019-11-30 16:28] #19015 closed

[2019-11-30 17:54] richardwxn commented on #19230
doc updated

[2019-11-30 17:54] #19230 closed

[2019-11-30 17:57] #19227 closed

[2019-11-30 22:44] howardjohn opened #19311 "New operator test failing"
Looks like mkdir command is invalid. Should be fixed or hidden asap

[2019-12-01 08:12] nak3 commented on #19263
+1. Knative Serving needs to deploy [two ingress gateways](https://github.com/knative/serving/blob/1d0cc5df234ed5bc84f200f683964e8b8b8e0534/third_party/istio-1.4.0/values.yaml#L13-L68) so this feature is necessary.

[2019-12-01 09:33] wu0407 opened #19312 "global includeInboundPorts is not effect"
**Bug description**
I want to default redirect no inbound traffic to Envoy, according https://github.com/istio/istio/blob/1.4.0/install/kubernetes/helm/istio/values.yaml#L255, it no effect to set `values.global.proxy.includeInboundPorts: ""`
But in init-container  and istio-proxy only use `traffic.sidecar.istio.io/includeInboundPorts`
https://github.com/istio/istio/blob/c4def934e4f8d1feb42725da41e

[2019-12-01 14:12] wu0407 opened #19314 "istioctl mixerCheckServer and mixerReportServer cluster domain not effect"
**Bug description**
set cluster domain in global.proxy.clusterDomain not change the mixerCheckServer and mixerReportServer domain in istio configmap.
it relate code:

https://github.com/istio/installer/blob/master/istio-control/istio-discovery/templates/configmap.yaml#L48-L58

https://github.com/istio/istio/blob/c4def934e4f8d1feb42725da41ee0078cde8397f/install/kubernetes/helm/istio/templates/confi

[2019-12-01 16:09] erezzarum commented on #19263
+1. We tried to migrate using the new istioctl (to be prepared for future releases) instead of helm charts, but we have multiple ingress gateways and this is a blocking issue for us.

[2019-12-01 16:15] howardjohn commented on #19314
Your manifest is missing the proxy: field it looks like? You are setting global.clusterDomain not global.proxy.clusterDomain

[2019-12-01 16:17] howardjohn commented on #19312
@lambdai did you intentionally make this not configurable?

[2019-12-01 17:38] howardjohn commented on #19263
Marking this as P0, this is a must have for 1.5.

@richardwxn is there any way to accomplish this in 1.4? Users are doing this with helm today so this is a loss of functionality

[2019-12-01 17:51] howardjohn commented on #14692
@rolandkool the concerns with PASSTHROUGH are that you are essentially trusting the client here. I can do `curl 1.2.3.4 -H "Host: kubernetes.default.svc.cluster.local" and the request will be sent to 1.2.3.4 with all the mtls settings, etc as if I was sending to the k8s service. Depending on your set up, this may or may not be a big concern

[2019-12-01 21:14] richardwxn commented on #19148
Related templates were added in installer, the pending change is to move the setting part from values pass through to the new IstioOperator API

[2019-12-02 01:33] howardjohn commented on #19020
Finally got my hands on a windows machine. Workaround for 1.4.0: `--logtostderr --set installPackagePath=install/kubernetes/operator/charts` (folder from the Istio release archive)

Hoping to have this properly fixed in 1.4.1. I at least have a fix for the logging part

[2019-12-02 01:45] wu0407 commented on #19314
sorry, has some mistake, but set global.proxy.clusterDomain not change  mixerCheckServer domain

[2019-12-02 01:52] howardjohn commented on #19314
Ah yes my misunderstanding. Thanks, will fix asap

[2019-12-02 02:50] jh-sz commented on #19056
Hi, i am also experiencing the same issue. I am not able to exec the `istioctl analyze -k` cmd, but slight different version `istioctl x analyze -k -n istio-system`, here's the result:

[code]

And here are my gateway and virtual service configs:
[code]

I have also setup the the `ingressgateway` to trust the downstream proxy (i.e. LB):
[code]

[2019-12-02 02:52] linsun commented on #19280
@hzxuzhonghu thank you so much for looking at this!  Could you elaborate why "listens on pod ip only" caused the prob?

@mbanikazemi have you ever tried zookeeper + istio ?  I noticed your https://istio.io/faq/applications/#cassandra is only for cassandra.

@dcberg I think users should not need to exclude these ports unless they specifically don't want istio to intercept traffic on these ports.  I

[2019-12-02 03:55] arunpmohan opened #19319 "Load test connection timing out for around 3% of request"
When around 2600 http connections are run concurrently from a single http client , around 3% of the request fail with connection timed out. CPU and memory of istio ingress controller looks good and we do not have any throttling in place. There is no errors show on istio ingress logs.

If we do not use istio then normal nginx ingress controller has no issues handling the same load without any timeo

[2019-12-02 04:41] jh-sz commented on #12549
@fcantournet have you got a solution for your issue for 1.3.x version, i have created a `EnvoyFilter` similar to yours, and confirmed that it works on 1.4.0, but there're intermittent 503 issues. Changing it to 1.3.5 doesn't seem to work

[2019-12-02 04:55] howardjohn commented on #19319
Do you have any way to reproduce this? From the error I assume the client is jmeter, what is the back end service?

[2019-12-02 05:56] hzxuzhonghu commented on #19280
The inbound cluster address is set to 127.0.0.1 for ipv4

[2019-12-02 06:33] sdake commented on #19020
nice @howardjohn !

[2019-12-02 06:53] mayank commented on #13840
this works if I scale the pilot, telemetry and all pods to 2, but some calls still fail.

[2019-12-02 08:30] Stono opened #19320 "Timeouts as a result of VirtualService report as status code 0 in Jaeger"
**Bug description**
Take the following example:

`[ingress-nginx] -> [unified-registration-service]`, where `urs` has a timeout of 3 seconds.

When you set a VirtualService with the timeout and a request exceeds it, the timeout is recorded in prometheus metrics in the `source` reporter correctly as a `504 gateway timeout`:

<img width="1920" alt="Screenshot 2019-12-02 at 08 23 15" src="https://use

[2019-12-02 09:13] namm2 opened #19321 "Istio ingressgateway emits "gRPC config stream closed: 13" errors every 30min"
**Bug description**

Istio ingressgateway logs have below error every 30 minutes

[code]

**Expected behavior**
Doesn't have errors

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

istio v1.4.0
helm v2.16.1

**How was Istio installed?**

Helm chart

**Environment where bug was observed (cloud

[2019-12-02 09:22] ramaraochavali commented on #19321
This is expected behaviour. Pilot will disconnect gateways/sidecars every 30 mins to balance the sidecar -> Pilot connections. It is configured here https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/pilot/values.yaml#L56

[2019-12-02 10:45] rforberger commented on #19304
@howardjohn
Ok thanks. We are deplyoing our k8s manifests with ArgoCD. We will run an istioctl init container in order to deploy the config overlay for the hostPort.
`istioctl manifest` is the right command to do this, right?

[2019-12-02 13:21] rforberger commented on #19304
Or is it `istioctl kube-inject`?

[2019-12-02 13:24] joakimr-axis commented on #19020
Wonderful. Tested here at my end and it works (as expected) like a charm. Thanks @howardjohn !!

[2019-12-02 13:33] linsun commented on #19280
Thank you @hzxuzhonghu, I see the difference now.

[code]

[2019-12-02 13:48] linsun commented on #18980
@irisdingbj this is one example of the update of ICP doesn't work issue I mentioned to you, could  you take a look?

[2019-12-02 13:51] sdake commented on #19227
@Stono this was fixed by an unrelated commit that syncronized the operator with the installer charts after my PR to fix the installer charts had merged for 1.4.

Cheers
-steve

[2019-12-02 13:55] sdake commented on #19227
verified 1.4-dev (what will be 1.4.1) operator instantiates the services as follows

[code]

Cheers
-steve

[2019-12-02 14:57] vadimeisenbergibm opened #19323 "Missing instructions on how to deploy a new gateway with istioctl manifest"
**Describe the feature request**

Gateways should easily deployed. Having multiple gateways is a design feature of Istio. Customers want to use different gateways (per namespace, per different LoadBalancer, etc.)

**Describe alternatives you've considered**

**Additional context**

[2019-12-02 15:13] howardjohn commented on #19321
As the comment above says, this is expected. We have an open issue to make the log message more user friendly

[2019-12-02 15:13] #19321 closed

[2019-12-02 15:19] mbanikazemi commented on #19280
This looks like the issues we have with apps that listen on local host. This can be changed with configuration parameter for a given app. Looking at zookeeper docs I see:
[code]
setting this to the pod IP should resolve the issue. @linsun I have not tested this. Is it easy for you to set this in your setup? If not I will try to start the zookeeper myself and test.

[2019-12-02 15:29] kramvan1 opened #19324 "Operator should support the new Startup Probes for k8s overrides"
**Describe the feature request**

Allow `startupProbe` for the

https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-startup-probes

https://github.com/istio/operator/blob/4dd3347fd0133ae06be7f65c0ac1eb75bb63bb0a/common-protos/k8s.io/api/core/v1/generated.proto#L1241-L1247

**Describe alternatives you've considered**

Need to override the rea

[2019-12-02 15:29] kramvan1 commented on #19324
cc @linsun

[2019-12-02 15:33] wu0407 opened #19325 "The listcheck of rule not effect with external serviceentry"
**Bug description**
I want  to set whitelist to access external service, it use listcheck handler, but it like not work serviceentry.  it work with k8s sevice.
https://discuss.istio.io/t/how-to-restricted-access-external-service-on-special-app/4583

**Expected behavior**
it limit  access for serviceentry host

**Steps to reproduce the bug**
istioctl manifest generate -f config.yaml | grep disableP

[2019-12-02 16:24] sushicw commented on #19056
Can you please clarify what happened when you tried?

[2019-12-02 16:34] vmaubert commented on #19056
@sushicw you have to enable "experimental" (alias "x") commands =>

[2019-12-02 16:54] timurb commented on #18061
I could not confirm it is fixed in 1.4.0 as well

[2019-12-02 16:58] sushicw commented on #17595
Note that in the Galley case, we need to make sure that the snapshot used for analysis includes all cluster resources, even if Galley is scoped to particular namespaces, because we need to be able to resolve references to things that may be outside the current control plane's scope. So we'd want the snapshot to include everything, but only distribute it to namespaces managed by that Galley and onl

[2019-12-02 17:49] ruigulala commented on #17583
Will close the issue when the PR merge.

[2019-12-02 17:52] arunpmohan commented on #19319
The back end is an app hosted on jboss wildfly . To me this should happen to any application as the problem i am seeing is the istio ingress gateway is refusing the connection. I do not see any logs showing why it refused connection though. Everyting executes as normal on server side and it is just the client having this problem

[2019-12-02 18:21] JimmyCYJ commented on #19276
@pitlv2109 since you refactored the test last time, could you please take a look?

[2019-12-02 18:45] gargnupur commented on #19171
@brianwolfe : How does Istio know which one user is going to propagate? That's why Istio is propagating all the trace contexts..

[2019-12-02 18:49] JimmyCYJ commented on #19226
@lei-tang Could you please take a look?

[2019-12-02 18:51] JimmyCYJ commented on #19097
@howardjohn Could you please elaborate more on the analyzer, e.g. current status of analyzer, expected behavior of the analyzer?

[2019-12-02 18:54] #17583 closed

[2019-12-02 18:54] mbanikazemi commented on #19280
as noted earlier, the issue is that the servers listen on their IP address for ports used for communication between the servers. There is a config option quorumListenOnAllIPs` which when set to `true` makes servers listen on all addresses and that seems to solve the problem. Note that this config option is among "unsafe" options. Will follow up to see why.

[2019-12-02 19:01] esnible commented on #19280
There is a PR to the Zookeeper helm chart that fixes this.  See https://github.com/helm/charts/issues/17183 and https://github.com/helm/charts/pull/17258 .  The PR is stuck because of a screwup with a contributor license bot.

[2019-12-02 19:02] JimmyCYJ commented on #19097
https://github.com/istio/istio/blob/master/galley/pkg/config/analysis/README.md

[2019-12-02 19:02] howardjohn commented on #19097
@JimmyCYJ the analyzer tool is shipped, see https://istio.io/docs/ops/diagnostic-tools/istioctl-analyze/

[2019-12-02 19:06] #19020 closed

[2019-12-02 19:09] lei-tang commented on #18927
The following logs in the attached istio-proxy.txt show there was a segmentation fault. You may use the method on https://github.com/envoyproxy/envoy/blob/master/bazel/README.md#stack-trace-symbol-resolution to resolve the symbols in the stack trace and check what caused the segmentation fault.

[2019-11-26 14:46:03.280][15][critical][backtrace] [bazel-out/k8-opt/bin/external/envoy/source/server/_

[2019-12-02 19:13] JimmyCYJ commented on #18651
@pitlv2109 could you check if the tests are still flaky, and remove the flakiness label if they are not flaky any more?

[2019-12-02 19:14] esnible commented on #18987
Thanks @ckcd for the PR!

[2019-12-02 19:14] #18987 closed

[2019-12-02 19:20] JimmyCYJ commented on #18327
@xeviknal Please let us know if the issue still exists, thanks!

[2019-12-02 19:22] #19294 closed

[2019-12-02 19:22] pitlv2109 commented on #18651
They were pretty stable before my change. https://testgrid.k8s.io/istio_istio_postsubmit#integ-security-k8s-tests_istio_postsubmit (look at the sds ingress tests at the bottom).

I sent out https://github.com/istio/istio/pull/19329 to revert the change and remove the flaky label. I'm closing this issue now, feel free to reopen.

[2019-12-02 19:22] #18651 closed

[2019-12-02 19:23] linsun commented on #19280
works pretty well after i remove the annotation! @banix @snible thank you much for the suggestion of using quorumListenOnAllIPs.

Here is what I did.
1. I had a generated zookeeper yaml based on helm template cmd.  Add the following to zookeeper cm:

echo "quorumListenOnAllIPs=true" >> $ZK_CONFIG_FILE

2. remove all istio related annotations for exclude ports in the zookeeper yaml

3.  redeploy zo

[2019-12-02 19:23] howardjohn commented on #19020
This will be in 1.4.1 which will be shipped by end of week (hopefully)

[2019-12-02 19:23] yangminzhu commented on #19292
`authorizationpolicies.rbac.istio.io` can be deleted safely, it's a leftover of internal implementation detail from previous version. A fresh install of Istio 1.4 should not have this CRD.

I think we can mention this in https://istio.io/news/releases/1.4.x/announcing-1.4/upgrade-notes/

[2019-12-02 19:26] #19314 closed

[2019-12-02 19:26] lei-tang commented on #19226
The permission to create, update and delete secrets is for Pilot (through Chiron linked with Pilot) to create, update and delete DNS certificates (e.g., for Galley and Sidecar Injector) in secrets.

[2019-12-02 19:34] Stono commented on #19226
OK that's fine, so I have a few questions:

1. We don't use that feature, is it something that is turned on an off with a helm config?  If so, should it also remove these permissions if not used?
2. When you change (increase) RBAC for a component between releases, it would be good to have in the changelog the reasoning behind the elevated privileges.
3. As mentioned in the issue above, `secrets` a

[2019-12-02 19:57] mbanikazemi commented on #19280
Added an entry to the FAQ: https://github.com/istio/istio.io/pull/5951

[2019-12-02 19:57] lei-tang commented on #19226
The DNS certificates can be turned on/off with a helm config in https://github.com/istio/istio/blob/release-1.4/install/kubernetes/helm/istio/values.yaml#L605. When the DNS certificate configuration is empty, no DNS certificates are generated. If DNS certificates are not used, the permission to create, update and delete DNS certificates can be removed.

The PR https://github.com/istio/istio/pull/1

[2019-12-02 21:35] kyessenov opened #19335 "Evaluate stats symbol table in istio scalability test"
The feature request is to enable stats symbol table in istio tests and observe the performance changes. Things to do:
- select a proxy with high worker count, high label cardinality, and stats plugin (e.g. ingress)
- set `--use-fake-symbol-table` to false
- set `--enable-mutex-tracing` to enable mutex contention measurements
- observe CPU/memory footprint of envoy
- observe lock contention `GET /c

[2019-12-02 21:41] kramvan1 commented on #19164
@douglas-reid   from what I see happening:
when the telemetry logs contain:
[code]
it seems to restart and try again (4 or 5 times in my working cases).
when the logs contains:
[code]
this seams to hang the pod and no restarts.

[2019-12-02 21:44] selmanj opened #19336 "istioctl analyze fails to parse some non-istio yaml files"
**Bug description**

I discovered this when setting up a GitOps-style workflow for a cluster. Running `istioctl x analyze` against the manifest generated by `istioctl manifest` produces a lot of parse errors (most seem to be against objects without a 'spec' field).

Here's a command that produces what I observed:
[code]

**Expected behavior**

The command
[code]
should emit no errors.

**Steps to

[2019-12-02 21:54] douglas-reid commented on #19164
@kramvan1 what do the galley logs look like at the same time? Those logs indicate that Mixer is not receiving the attributes CR from galley.

[2019-12-02 21:58] JimmyCYJ commented on #18233
@vadimeisenbergibm Could you please introduce the motivation and share more context about the usage of this change? We already support SDS for mTLS between workloads.

[2019-12-02 22:01] JimmyCYJ commented on #18097
I am going to close this issue as the root cause if found. Please feel free to reopen it. Thanks.

[2019-12-02 22:01] #18097 closed

[2019-12-02 22:01] kramvan1 commented on #19164
@douglas-reid
[galley.log](https://github.com/istio/istio/files/3913488/galley.log)

[2019-12-02 22:13] incfly commented on #18233
@JimmyCYJ This is to support using SDS + secret referenced by credential name, but also support configuring from client side, using customer provided certificate, rather than Citadel.

Today we only can configure key/cert in that type for gateway, server side, not client side.

My understanding.

[2019-12-02 22:46] howardjohn commented on #18334
@richardwxn current status of this is we just need to move `prow/upgrade-tests.sh` over?

[2019-12-02 22:46] richardwxn commented on #19157
@irisdingbj Are you working on it already, if it is I can assign it to you

[2019-12-02 23:26] JimmyCYJ commented on #17886
Looks like node agent fails to connect Citadel, @incfly would you mind to take a look since it is mesh expansion related?

[2019-12-02 23:41] pitlv2109 opened #19342 "Ingress SDS tests should be run as presubmit"
These tests are stable now, but they are running only in postsubmit. The only concern is that they will add about 15 minutes to the current security test job in presubmit. Native Citadel and/or running multiple test jobs for security tests should address this problem. More context: https://github.com/istio/istio/pull/19329, https://github.com/istio/istio/issues/18651.

[2019-12-03 00:21] haddadianhamed1 commented on #13938
I had the same issue then I found the solution when you chance externalTrafficPolicy from Cluster to Local it means istio needs to run on the host traffic is going to. since you are removing cluster service can not proxy traffic to the host that has istio running. to get around the issue I deployed istio as a daemonset instead of a deployment.

[2019-12-03 00:22] matkam opened #19344 "Mesh gateway ignoring request routing rules"
**Bug description**
Istio/Envoy does not honor routing rules specified by VirtualServices, including "subset" and "header" rules. We're running Istio 1.4.0 with Mixerless Telemetry enabled. Regular Gateways route traffic as expected, but internal traffic does not, using the "mesh" Gateway.

**Expected behavior**
Request routes specified in VirtualServices are honored as per the Bookinfo "Request R

[2019-12-03 00:25] yangyao-uipath commented on #18936
Hi Douglas,

Thank you for the clarification.

Hi Martin,

Would you please kindly update the document to share more about the correct way for custom mixer out of process adapter development? I managed to get custom adapter yaml generated and then got into troubles connecting custom adapter with mixer as there isn't much detailed info on instance definition.

Looking forward to hear back from you.

[2019-12-03 00:49] #18298 closed

[2019-12-03 00:49] #17585 closed

[2019-12-03 00:56] matkam commented on #19344
The Bookinfo Request Routing demo does work fine on a EKS v1.13 cluster, running Istio 1.1.

[2019-12-03 02:15] JimmyCYJ commented on #18061
@timurb Could you describe how you test it with Istio 1.4.0, and provide node agent logs so that I can take a look?

[2019-12-03 02:46] richardwxn commented on #18334
@howardjohn yep the only pending piece is upgrade test. But I am still thinking what it should goes to, istio/tools maybe since we already have the boskos setup stuff there?

[2019-12-03 03:13] hzxuzhonghu commented on #19127
Fixed

[2019-12-03 03:13] #19127 closed

[2019-12-03 03:15] zziawan opened #19345 "a application start with sidecar some can connect some can not return Connection reset"
**Bug description**
istio 1.0.4 when deploying some pods in same namespace with sidecar, some can connect some cannot, without sidecar all can connect.  restart pod not work, but after restart pilot or policy pod work.
what the problem ? can someone  give me a hint ?

[2019-12-03 03:42] howardjohn commented on #19345
Please upgrade your Istio, version 1.0 has not been supported for many many months and its unlikely the errors correlate to the current code.

[2019-12-03 03:42] #19345 closed

[2019-12-03 03:42] howardjohn commented on #19345
See https://istio.io/blog/2019/announcing-1.0-eol/

[2019-12-03 05:01] #13920 closed

[2019-12-03 05:03] #15723 closed

[2019-12-03 06:35] #14288 closed

[2019-12-03 06:50] irisdingbj commented on #19295
[code]

[2019-12-03 06:55] irisdingbj commented on #19295
@vadimeisenbergibm try to put the ports into values part like above. I have got below

[code]

[2019-12-03 07:22] Stono commented on #19226
Perhaps we should have this automatically happen in the template for the ClusterRole?  Most operators aren't going to go and edit the generated ClusterRole.

[2019-12-03 07:24] vadimeisenbergibm commented on #19295
It works, @irisdingbj, thanks a lot!

[2019-12-03 07:24] #19295 closed

[2019-12-03 08:38] y0zg commented on #14555
@geeknoid  what is alternative by closing this issue?
We would like to have the same option as per descritption

Thank you

[2019-12-03 08:52] vadimeisenbergibm commented on #15517
An alternative solution: add a selector to the DestinationRule, so it will be used at specific pods or gateways, similarly to VirtualService's https://istio.io/docs/reference/config/networking/virtual-service/#L4MatchAttributes `sourceLabels`/`gateways` fields.

[2019-12-03 10:10] maffeis commented on #13279
I'm installing grafana through stable/helm and make it accessible under the context /grafana. Attached find the grafana.yaml which I specify to helm --values. Also find my nginx ingress config. Maybe this can help.

grafana.yaml:

<pre>
imageTag: 6.5.1

persistence:
  enabled: true
  size: 100Mi

grafana.ini:
  server:
    root_url: https://admin.somewhere.com/grafana
</pre>

ingress.yaml:

<pre>

[2019-12-03 11:08] vadimeisenbergibm opened #19348 "prometheus is configured despite telemetry disabled in IstioControlPlane"
**Bug description**

Deploying an egress gateway only in a new namespace, configures prometheus despite telemetry being disabled.

To reproduce:
1.  `kubectl create namespace mynamespace`

Use attached [egress-gateway-icp.txt](https://github.com/istio/istio/files/3916234/egress-gateway-icp.txt), it has telemetry disabled.

2. `istioctl manifest apply -f egress-gateway-icp.txt --set values.global.i

[2019-12-03 11:13] vadimeisenbergibm commented on #19323
Thanks to @irisdingbj, the instructions to deploy an egress gateway **in a separate namespace** are as follows:
To reproduce:

1.  Create a namespace for the new gateway:
`kubectl create namespace mynamespace`

2. Use attached
[egress-gateway-icp.txt](https://github.com/istio/istio/files/3916261/egress-gateway-icp.txt)

istioctl manifest apply -f egress-gateway-icp.txt --set values.global.istioNam

[2019-12-03 11:22] xeviknal commented on #17503
Then is the idea here to detect if there is one deployment belonging to two different services?
Belonging: Services selector labels match with

[code]

The example below should raise a message saying that there are two services pointing to same deployment.

Perhaps I am missing something. That could be more than possible, haha.

[2019-12-03 11:40] erezzarum commented on #19263
@howardjohn I'm not sure this is possible, i have looked around installer code, it uses the helm charts "compiled" into the istioctl, those helm charts do not have support for multiple gateway (ingress/egress) like the normal helm charts have.
One thing that i noticed in the "IstioControlPlaneSpec" API is that there's a field named "installPackagePath", perhaps it is possible to temporary make a f

[2019-12-03 11:42] timurb commented on #18061
Sure.
I use the

Logs of ingressgateway when I see the problem
[code]

Logs of everything working fine.

[code]

[2019-12-03 11:46] timurb commented on #18061
Sorry, accidentally hit Cmd-Enter before I have everything in place. I will update my above comment shortly.
If you see this message it means that I haven't yet done that.

[2019-12-03 12:17] zachidan commented on #15517
Another alternative solution: Filtered out DestinationRules (also known as upstream clusters in Envoy) that are not referenced by any VirtualService. This filtering along with the VirtualService `sourceLabels` / `gateways` fields, can provide the same functionality of eliminating specific DestinationRules from specific pods.

[2019-12-03 12:37] timurb commented on #18061
ok, I updated the comment with info

[2019-12-03 13:36] erezzarum commented on #19323
@vadimeisenbergibm You could also disabe prometheus using the "values" field.
[code]
The only thing it will create along the ingress gateway in this case (you could switch to egress or use both) it's the CRDs (you can't disable their creation) and other cluster resources (which you can also disable using the "values.clusterResources" flag)

[2019-12-03 13:44] nak3 commented on #17837
As I heard from @tcnghia that you would like to know exact setup of Knative Serving, I will share the setup information in `serving-tests`, `knative-serving` and `istio-system` namespaces.

[dump-istio.yaml](https://gist.github.com/nak3/be9eec22e91b0d958b9e23f7b7402d30)
[dump-knative-serving](https://gist.github.com/nak3/01585690d6f8b524373cd30ef3c093c3)
[dump-serving-tests](https://gist.github.co

[2019-12-03 13:48] vadimeisenbergibm commented on #19323
@erezzarum thanks!

[2019-12-03 14:11] esnible commented on #19323
I talked about this with @sdake last month.  I feel the IstioControlPlane should offer a list of ingress/egress for this use case.  Users should be able to exchange an IstioControlPlane to set up their system, that can be implemented by a controller, not only a script with multiple `--set values.global.istioNamespace` invocations.

[2019-12-03 14:19] vadimeisenbergibm commented on #19323
@esnible I think ideally, IstioControlPlane should offer a list of ingress/egress gateways, each with different name and in a different namespace.

[2019-12-03 14:20] erezzarum commented on #19323
@vadimeisenbergibm @esnible According to issue #19263 it will be a priority in version 1.5

[2019-12-03 14:22] esnible commented on #19292
@istio/wg-user-experience-maintainers I have been bit by the same issue.  Do we want a short name for authorizationpolicies?

@sushicw Do we want an analyzer that checks for entirely deprecated CRDs?  I wrote code for deprecated fields in current CRDs, but this shows that there can be CRDs whose deletion is missed during an upgrade.

@rolandkool How did you upgrade?

[2019-12-03 14:23] vadimeisenbergibm commented on #19263
The same for egress gateways, multiple egress gateways are also required.

[2019-12-03 14:39] esnible commented on #19271
@GregHanson I believe {} is equivalent to `number: 0`.  I believe port 0 is reserved -- it is not a real port, it is used in programming languages for dynamically allocating a number.
https://en.wikipedia.org/wiki/List_of_TCP_and_UDP_port_numbers

I believe the Virtual Service webhook validator should block port `{}` or `number: 0`.

[2019-12-03 14:41] esnible commented on #17398
I am not sure how to triage this.  P1?  P2?  P3?

[2019-12-03 14:59] pawelprazak opened #19349 "Kubectl diff not working as expected with Istio"
When using `kubectl diff`:
[code]

I get a difference that should not be there (as it is not a difference actually), a false positive:
[code]

The manifest:
[code]

**Expected behavior**
No difference.

**Steps to reproduce the bug**
(above)
**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**
[code]

**How was Istio installed?**

[2019-12-03 15:05] jwendell opened #19350 "istioctl verify-install gives an error if istio-system ns exists"
If `istio-system` namespace already exists, it doesn't necessarily mean that Istio cannot be deployed, therefore it should not be considered an error by `verify-install`. Warning sounds more realistic. Unless there are Istio pods/deployments/objects in it. This is a signal that in fact Istio might be already installed.

[2019-12-03 15:40] esnible commented on #19271
@GregHanson https://istio.io/docs/reference/config/networking/virtual-service/#HTTPRouteDestination clearly says weight 0 is allowed.  If there are no tests we should add them.

[2019-12-03 16:01] howardjohn commented on #19349
We modify the webhook at runtime to patch the cert

[2019-12-03 16:16] howardjohn commented on #17398
This is P2 at best I think. Its arguable if we want mono-repo or multi-repo due to the complexity it brings

[2019-12-03 16:18] howardjohn commented on #18334
@richardwxn I think tools makes sense. Logically, its where we have all of our large scale/benchmark/periodic tests, so this is consistent with that. And it has the boskos stuff, so makes sense code wise as well

[2019-12-03 16:21] howardjohn commented on #19226
:+1: I agree. DNS certs can be turned on or off at install time, so we should update the cluster role as well

[2019-12-03 16:37] esnible commented on #18900
Should https://github.com/istio/istio/issues/19292 (removing non-current CRDs) be part of this?

[2019-12-03 16:55] howardjohn opened #19352 "TestIngress fails on operator test"
https://prow.istio.io/view/gcs/istio-prow/logs/integ-k8s-operator_istio_postsubmit/8
https://prow.istio.io/view/gcs/istio-prow/logs/integ-k8s-operator_istio_postsubmit/9
https://prow.istio.io/view/gcs/istio-prow/logs/integ-k8s-operator_istio_postsubmit/10

Seems like its getting 503s

[2019-12-03 16:56] howardjohn commented on #19352
Also TestIngessToPrometheus_IngressMetric, so seems like some ingress issues

[2019-12-03 16:58] #19311 closed

[2019-12-03 16:59] sushicw commented on #17503
According to [this doc](https://istio.io/docs/ops/deployment/requirements/), the precise prerequisite is:

So your example should generate a message, yes, but if the deployment exposed two ports and each service only mapped to one of them, that would be OK.

[2019-12-03 17:16] sushicw opened #19355 "Analyzer for deprecated CRDs"
Add an analyzer to detect deprecated CRDs and issue a warning. e.g. https://github.com/istio/istio/issues/19292

[2019-12-03 17:17] sushicw commented on #19292
Yes, good idea. Created #19355 to track that.

[2019-12-03 17:31] ostromart commented on #19263
We will have a temporary solution in place for 1.4.3 for both ingress and egress. In the meantime, you can indeed do a hack with the installPackagePath setting. Create a file with your gateway definition based on the minimal profile:

[code]

[code]

This will generate just the gateway YAML for my-namespace which you can kubectl apply.
You need the rm of the base chart files because otherwise isti

[2019-12-03 17:44] nmittler opened #19356 "FR: Service Discovery API for Pilot"
**Describe the feature request**

Add an optional MCP/XDS-based service discovery endpoint in Pilot, which serves EndpointSlice resources based on its internal model. This facilitates cross-mesh service discovery use cases.

See https://docs.google.com/document/d/109BOvVtgeFtx7_BYSY_jSZ4oSXK1SOyNiBsBuryz_ho/edit#

[2019-12-03 18:12] lei-tang commented on #19226
https://github.com/istio/istio/pull/19357 is created to automatically configure the ClusterRole based on certificates setting.

[2019-12-03 18:16] JimmyCYJ commented on #19166
@howardjohn would you mind to explain what are the time series for metrics? Does ```used_only``` help to remove time series for unused metrics?

[2019-12-03 18:20] howardjohn commented on #19166
Each unique metric (the metric name and labels) creates a new time series (eg database entry). So we have this time series created for every single cluster for every single pod. `used_only` is a parameter to the envoy /stats endpoint, which I think might help here, but I haven't tested

[2019-12-03 18:27] howardjohn commented on #18554
I can confirm this is still broken on 1.4.1 @ostromart

[2019-12-03 18:48] rolandkool commented on #19292
@esnible I'm pretty sure the upgrade path to 1.4 was this: on a newly installed cluster, install 1.3.4. Upgrade to 1.3.5. Deinstall Istio, with exception of the CRDs (we typically keep these inside the cluster as removing them will also remove all resources of that type. It's a precaution we build into our provisioning tooling). Do a new installation of 1.4.0.
So there was no upgrade done from 1.3

[2019-12-03 19:00] sushicw commented on #19336
To clarify what's happening: the issue here isn't a lack of "spec" field, it's that the group/kind isn't recognized by the code doing the parsing. Instances of the custom resources are recognized, as are some K8s types (e.g. Namespace, Deployment, Pod, Service) but other types are not recognized, and thus can't be converted. We only recognize what's in `metadata.yaml`.

This doesn't come up in Gal

[2019-12-03 19:04] selmanj commented on #19336
I strongly prefer we skip over resources we don't recognize, rather than trying to build an explicit whitelist.

[2019-12-03 19:13] sushicw commented on #19336
We do skip over them, the question is how noisy to be about it. :) Put another way: do we need to distinguish between "this resource is mistyped, thus I couldn't find it" and "this resource isn't one I care about, thus I couldn't find it but don't care" ?

For the `istioctl analyze` case, I think we're probably OK skipping over unrecognized resource errors, maybe with some extra output in `--verbo

[2019-12-03 19:20] selmanj commented on #19336
Ah, got it. Thanks for explaining - I agree that an "unknown type" error should be ignored when using istioctl analyze (and other errors should cause breakage).

[2019-12-03 19:32] #19344 closed

[2019-12-03 19:50] kramvan1 commented on #19164
@douglas-reid Some steps to reproduce this issue:

Steps to reproduce:

Fully Manual Install.
1) Clone down 1.4.0 community istio operator
`git clone https://github.com/istio/operator.git`
`cd operator`
`git checkout 1.4.0`
Edit deploy/operator.yaml to have the 1.4.0 image. It should be
`          image: docker.io/istio/operator:1.4.0`
2) Apply the community operator
`kubectl apply -k deploy/`
3)

[2019-12-03 20:12] howardjohn opened #19360 "Issues with mTLS analyzer"
[code]

Looks like a few issues:
* This analyze is not on the referenced docs page.
* This is repeating error messages
* `"(none)"` doesn't look right
* Not sure if this is a false positive or not... given that this is the default install, I would hope its a false positive

[2019-12-03 20:21] #18963 closed

[2019-12-03 21:03] selmanj commented on #19360
What profile are you using for the default install?

[2019-12-03 21:03] selmanj commented on #19360
Oh, sorry, I see it's above. Let me investigate.

[2019-12-03 22:15] selmanj commented on #19360
Definitely needs to be there.

Looks like a bug - `kube-dns` defines both a UDP and a TCP port on the same port number. The analyzer should probably include the protocol as well (or ignore UDP since Istio doesn't support UDP (yet))

I hate it too. This was due to my reluctance to introduce new error codes just to reword the message to make more sense. Right now in the analyzer framework, we only a

[2019-12-03 22:23] howardjohn commented on #19360
Here is what authn tls-check shows if its relevant:
[code]

Akthough I am not really sure what this should look like...

@incfly is there an issue with our installation setup? Should I have conflicts in the default install?

[2019-12-03 22:32] selmanj commented on #19360
Note that the mtls analyzer skips over all services in istio-system right now - it assumes they're all part of the istio control plane. This isn't ideal because we have some non control-plane components in there (like grafana). In this case, `authn tls-check` is correct about grafana being misconfigured (although, I think it's desirable in this case, as otherwise users couldn't use `kubectl port-f

[2019-12-03 22:36] kramvan1 commented on #19164
Looks like the ICP content is not directly related, can be recreated with just:
[code]

[2019-12-03 22:41] JimmyCYJ commented on #7990
@danehans  could you open a feature request to Envoy community for the OCSP support?

[2019-12-03 22:55] incfly commented on #19360
The current configuration indeed seems invalid, if a workloads trying to
talk to grafana and sidecar are injected on both ends. We have mTLS disable
grafana but not the corresponding destination rule. I don't know what's
breaking, but this can be a residue from very old release where we don't
even have DestinationRule for mTLS.

I did a quick search seem those config are there for quite a while,
h

[2019-12-03 22:57] Nino-K commented on #19286
@hzxuzhonghu I tried this on a freshly installed cluster using latest master 46193e3bdffc055bac66ed358d5c5a8124f69eed and I'm having a hard time to reproduce it. Since we don't install SSE as a CRD could this be an old CRD in your cluster?

[2019-12-03 23:16] rshriram opened #19365 "data race in eds"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/18941/unit-tests_istio/4752

[2019-12-03 23:20] JimmyCYJ commented on #19166
@howardjohn thanks! We are planning to turn SDS on by default in 1.5, and the metrics would be used by default as well.

[2019-12-03 23:22] howardjohn commented on #19286
Maybe with MCP disabled Pilot is creating the CRD

[2019-12-03 23:26] howardjohn commented on #18594
Turns out this was not properly backported :confused: it will land in 1.4.3 and 1.3.7 I think, ill send the backports

[2019-12-03 23:45] JimmyCYJ commented on #18912
@aaronjwood could you turn on debug logging at ingress-sds? You can do it via /ctrlz endpoint. Please share a copy of the log, or send me a copy by slack channel. From the piece of log you shared, ingress-sds does not detect the secret ```apa0401f02e6d286f2f0678eff4046e11571e58```. I need to figure out why it fails to detect the secret.

[2019-12-03 23:48] Nino-K commented on #19286
Why with MCP disabled? MCP is a dependcy for SSE. However I did test the `istio-non-mcp.yaml` and couldn't reproduce.

[2019-12-03 23:54] howardjohn commented on #19286
@Nino-K pilot without MCP has a mode where it will actually register CRDs if they don't exist. I have no clue if that would get a SSE crd created somehow, but that is the only way I could think.

I just looked at my cluster and I also have SSE installed in my cluster, so somehow its happening

[2019-12-03 23:59] howardjohn commented on #19365
Another with full trace https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/803

[2019-12-04 00:00] Nino-K commented on #19286
@howardjohn that makes sense now, I did initially have the SSE CRD too when @hzxuzhonghu filed the issue, but I recently had to recreate my cluster and after the upgrade I'm no longer able to repo.
can you please provide your k8s client/server and istioctl version here?

[2019-12-04 00:07] howardjohn commented on #19365
Seems like this can only happen if we have multiple pushes concurrently (which I don't think is the case) or if we have some shared object in the EDS response. The error doesn't give us that much detail about what part of the EDS object causes the race though, so hard to say. I couldn't repro locally, but happens multiple times in CI so not just a weird CI bug it seems

[2019-12-04 00:08] howardjohn commented on #19286
@Nino-K this is my development cluster that has had 100s of istio installs of various shapes, including ones where I was messing with this exact code path -- so it could have happened in any number of ways in my case. I didn't try to reproduce on a fresh cluster

[2019-12-04 00:12] JimmyCYJ commented on #18695
@turbotankist , could you please provide Envoy log and config dump if possible? I am not clear why ```curl https://cfg.mysiteaddress.ru -Iv --tlsv1.2``` works fine while ```curl https://cfg.mysiteaddress.ru -Iv --tlsv1.3``` fails. If the listener that is serving cfg.mysiteaddress.ru uses wrong cert ```wildcard.cert```, both curl requests should fail.
@PiotrSikora Are you aware of any SNI changes t

[2019-12-04 00:28] JimmyCYJ commented on #18641
@osswangxining could you please elaborate more about the multicluster deployment in your environment? Are you following any user guide or instructions for this setup? From what component did you get these logs?

[2019-12-04 01:14] whatsupbuddy opened #19371 "Istio 1.4 ingress-gateway RBAC not found issue"
**Bug description**
I have a clean install of Istio 1.4 running on an AKS K8's cluster. HTTP traffic is all good to a pod i am running. However after running through the Cert Manager Setup (Istio documentation may need updating to reflect their changes) I cannot get to my service over HTTPS following the issuing of certificates.

The error that my _**Istio-ingressgateway**_ pod is logging is:

_er

[2019-12-04 01:25] JimmyCYJ commented on #18061
@timurb Thanks for the update.
From the gateway yaml, it seems that credentialName should be istio-kafkagateway-istio-gateway, because credentialName needs to match gateway secret name.
In the ingress-sds log, it shows that the secret is rejected because at least one field is not filled.
```2019-12-03T11:38:06.484823Z	warn	secretFetcherLog	failed load server cert/key pair from secret istio-kafkaga

[2019-12-04 01:28] rlenglet opened #19372 "Create 1.3.7 release"
- [x] Prepare `istio/cni`.
  - [x] Sync the fork of the `istio-iptables.sh` script.
[code]
- [x] Check whether the commit SHAs in `istio/istio` and `istio/proxy` are consistent.
  - [x] Check whether the same `istio/api` commit is used in `istio/istio` and `istio/proxy`.
[code]
  - [x] Check whether the version of Envoy from which the go-control-plane's API has been extracted from is no more than

[2019-12-04 01:29] JimmyCYJ commented on #17835
This issue should be fixed in https://github.com/istio/istio/pull/18713. Closing now. Please feel free to reopen the issue. Thanks.

[2019-12-04 01:29] #17835 closed

[2019-12-04 01:30] howardjohn commented on #19371
Looks like its not creating the role properly. We should see:

[code]

created based on the command above. Can you check that the role exists?

[2019-12-04 01:33] whatsupbuddy commented on #19371
@howardjohn - i will check now and get back to you.

[2019-12-04 01:33] JimmyCYJ commented on #17681
Seems that minor doc revision is needed. @yangminzhu could you please take a look and close this bug if the issue is solved?

[2019-12-04 01:36] JimmyCYJ commented on #17602
@echavez could you please install 1.4 and try again? 1.1.15 is pretty old. There is also a permission issue by looking at the log.
[code]

[2019-12-04 01:37] whatsupbuddy commented on #19371
Ok here it is: **kubectl describe rolebinding istio-ingressgateway-sds -n istio-system**

Name:         istio-ingressgateway-sds
Labels:       operator.istio.io/component=IngressGateway
                   operator.istio.io/managed=Reconcile
                   operator.istio.io/version=1.4.0
                   release=istio
Annotations:  kubectl.kubernetes.io/last-applied-configuration:

[2019-12-04 01:40] howardjohn commented on #19371
When I used the flags you provided above (with generate, not apply) the role was there. So seems like it's either an issue with apply, or you somehow deleted the role

[2019-12-04 01:41] Nino-K commented on #19286
Ok, I got to reproduce it. It is actually being created by the integration test suite. More specifically by galley pkg.

[2019-12-04 01:44] JimmyCYJ commented on #17057
Closing this issue as istioctl could help. @saturnism please feel free to reopen if there are more issues found.

[2019-12-04 01:44] #17057 closed

[2019-12-04 01:46] whatsupbuddy commented on #19371
Ok the istioctl command you mean. Those flags were based off that Istio ingress-certmgr article and then the last four flags were just what I figured I would need to pass through to have them features. Previously I installed istio 1.1 via Helm earlier this year but opted for istio 1.4 via istioctl this time around.

The installation was done just yesterday and dont believe i've removed anything, e

[2019-12-04 01:50] howardjohn commented on #19371
it should be fine, you could also try rerunning the istioctl command

[2019-12-04 01:51] JimmyCYJ commented on #19371
@whatsupbuddy is the problem solved now?

[2019-12-04 01:52] whatsupbuddy commented on #19371
Ill let you know in 5 minutes!

[2019-12-04 01:53] JimmyCYJ commented on #19371
Assign to @howardjohn as John is helping with this issue. Feel free to reassign. Thanks!

[2019-12-04 01:59] whatsupbuddy commented on #19371
Ok - that issue is solved - i still have an issue with accessing over https but i think thats a seperate thing. Out of curiousity where is the best spot to seek advice on setting stuff like istio with cert manager up? As an issue on here or somewhere else?

[2019-12-04 02:25] whatsupbuddy commented on #19371
Just re running the istioctl command on a fresh cluster and that role does not get provisioned.

[2019-12-04 02:35] linsun commented on #19164
@kramvan1 can you confirm that if you *delete* the `istio.default` secret in the istio-system namespace at step 6 then continue to step 7, 8, and 9 would work for you with 200 return code?

If so, I think there may be a compatibility issue between the `istio.default` secret from prior ICP install and the istio CA secret and the few other secrets (citadel-sa-token, galley-sa-token etc) in the new I

[2019-12-04 02:35] rshriram commented on #19083
I dont think the discussion on the design doc on whether to do annotations vs a simple option in the sidecar CRD was resolved. There are still comments from @nrjpoddar and myself expressing concerns on use of annotations to configure core features like this.

[2019-12-04 02:36] whatsupbuddy commented on #19371
Question - are theyre meant to be two gateways provisioned in istio-system?

- ingressgateway
- istio-autogenerated-k8s-ingress

[2019-12-04 02:44] linsun commented on #19164
So control plane security is enabled by default in 1.4.0 default profile.  The error in istio-telemetry log seemed to indicate istio-telemetry pod can't establish connection with galley.

[2019-12-04 02:58] linsun commented on #19164
[code]

Note the erorr is transport connection refused.  so mTLS among mixer-telemetry to MCP failed on port 15019.

[2019-12-04 03:03] arunpmohan commented on #19319
is there anyway to increase number of connections available in istio ingress gateway ?

[2019-12-04 03:19] rvennam commented on #19164
@linsun @kramvan1 deleting the istio.default secret between deleting and reapplying the ICP (step 6 and 7) fixes the telemetry issue.

[2019-12-04 03:28] linsun commented on #19164
tagging security team @incfly @myidpt @yangminzhu could you shed some light on this?  My guess is the  istio.default secret generated from the prior ICP/istio install doesn't work with the new citadel and CA from the new ICP/istio.   Rebooting the telemetry pod will have the secrets refreshed with updated secret/certs issued from the new CA.  (for details, just read few comments from today).

[2019-12-04 03:30] linsun commented on #18384
@irisdingbj thoughts on cleaning up the istio.default secret as part of the icp resource deletion for that given namespace?

not removing it is clearly causing us lots of issues as described in #19164.

[2019-12-04 03:30] linsun commented on #18384
I think the default-token-* for the namespace is fine to stay if that namespace stays.

[2019-12-04 05:16] cioc commented on #18221
The blog post and documentation are both unclear as to how to alleviate this issue.  There doesn't seem to be any source of truth on how to proceed.  As @haf pointed out, this is a blocker for adoption of istio.

[2019-12-04 06:49] tiandong19860806 opened #19377 "the issue about white&black listing don't work"
**Bug description**
In my istio cluster, the white listing don't work.
I had test by the match condition by below two kinds:
1. match by 'source.ip' , I want it return real client PC ip, but actual it's istio-ingressgateway pod IP.
2. match by 'request.headers['x-real-ip']', I want it return real client PC ip, but actual it's empty value.
3. the attribute 'blacklist:true', it's can't change the wh

[2019-12-04 07:32] tiandong19860806 commented on #19377
the content of all whitelist yaml file as below:
[file.txt](https://github.com/istio/istio/files/3920588/file.txt)

[2019-12-04 07:39] tiandong19860806 commented on #19377
the step 1 '<1>. clear and deploy the productpage.' detail operations as below:

step 1:
# modify the attribute 'disablePolicyChecks' value to false.
root >> kubectl edit configmap istio -n istio-system -o yaml
# after modify and save , then query the result
root >> kubectl get configmap istio -n istio-system -o jsonpath="{@.data.mesh}" | grep disablePolicyChecks

----------------------

step 2:
r

[2019-12-04 07:49] tony-liuliu commented on #7009
@KKnapik  This issue is caused by kubernetes service .spec.ports.name. E.g:
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginxssl
spec:
  selector:
    matchLabels:
      app: nginxssl
  replicas: 1
  template:
    metadata:
      labels:
        app: nginxssl
    spec:
      containers:
      - name: base
        image: docker.xx.com/ops/nginxssl:v1
        ports:
        - containerPor

[2019-12-04 08:29] wu0407 commented on #18684
same issue with same tcp port on serviceentry and the only one listener is configed.
[code]
istioctl proxy-config listeners  test-network-nginx-canary-7b46c94cb4-hkgcv --port 80 -o json
[code]
[code]

[2019-12-04 08:38] quentinleclerc commented on #19066
Hi,
@xvzup @sakajunquality can you please explain what was the problem and how did you fix it? I have the exact same problem on one of my clusters and not in another with very similar Istio configuration.

[2019-12-04 08:55] #19115 closed

[2019-12-04 09:02] pawelprazak commented on #19349
Yes, that's what I could guess so far.

As far as I understand, `kubectl diff` currently uses `--server-dry-run` feature.
The [announcement blog post ](https://kubernetes.io/blog/2019/01/14/apiserver-dry-run-and-kubectl-diff/) says something about setting `sideEffects` field in webhooks.
Is there something similar that can be done for the `MutatingWebhookConfiguration` manifest?

This is the only

[2019-12-04 09:05] johscheuer commented on #16740
I just took a quick look and the labels for the tests currently are generated for no reason (at least I couldn't find any reason). If we set the labels according to the "mode" we can dynamically read all used modes and generate the graph. This should at least solve the issue that some data is not shown (e.g. because a `mode` is not defined in modes). If I find some free time today I will provide a

[2019-12-04 09:07] etherlai opened #19378 "application can not access until istio-proxy ready"
hi：
I have a question：when i start deployment with istio-proxy，the app container cat not connect mysql/redis because istio-proxy is not ready the first moment; the app have not liveness and reconnect strategy. Does istio or k8s has strategy to solve this problem, such as app container start after istio-proxy ready.

[2019-12-04 10:24] infa-ddeore commented on #4585
@kingsqv did you find any solution for this?

[2019-12-04 10:27] tkatrichenko commented on #19095
Thank you all for the explanations. It makes sense to me. Will think to use official operators instead

Closing this ticket

[2019-12-04 10:27] #19095 closed

[2019-12-04 11:53] skrytt opened #19379 "Could istio-proxy send traces directly to jaeger-agent?"
**Describe the feature request**
I'd like to configure istio-proxy to export tracing data to a colocated jaeger-agent, as opposed to via a jaeger-collector.

Based on the docs I've read for Jaeger and Istio, I think istio-proxy can emit zipkin format traces over HTTP/TCP, but jaeger-agent only accepts a few UDP-transport formats https://www.jaegertracing.io/docs/1.15/deployment/#agent so there is

[2019-12-04 12:10] timurb commented on #18061
Sorry for misleading. I'm using correct name for secret -- the one that shows up in logs.
I just pasted the output from `helm template` command here and didn't notice that the secret name is not correct. Exactly the same yaml (with the same correct secret name) works fine if I attach the HTTPS endpoint later when certificate is issued.

Right, this is correct log message: while certificate is not

[2019-12-04 13:18] ademariag commented on #8444
Ive also used the approach suggested by @BarDweller , but I would expect Istio to provide this functionality out of the box, without needing a Lua and especially having to decode the JWT by hand (as pointed out in the workaround documentation by @BarDweller )

has anyone got it to work with Mixer Adapters or any other more native way?

FYI @pieterderycke  @frankbu

[2019-12-04 14:19] objectiser commented on #19379
Another option would be to use the Opencensus tracer [within envoy](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/trace/v2/trace.proto#config-trace-v2-opencensusconfig), with ocagent exporter, to report to an OpenTelemetry collector (running as a sidecar agent) configured with jaeger exporter - which then reports the traces to the Jaeger collector.

[2019-12-04 15:07] howardjohn commented on #19349
that's about the config actually being modified through the webhook. We just have a deployment directly changing the config

[2019-12-04 15:08] rshriram opened #19380 "panic in istio-init"
[code]
(ignore the v0.0.0). This is from master branch. When the test is run on a circleci vm. The VM does have ipv6

[code]

[2019-12-04 15:13] howardjohn commented on #19378
You can find a lot of info on this topic here:  https://github.com/istio/istio/issues/11130

[2019-12-04 15:13] #19378 closed

[2019-12-04 15:21] erezzarum commented on #19263
@ostromart Thanks!
Perhaps for best practice it would be nice if it will be possible to also disable the the use of the "base" charts, you can disable the resource creation (service account, roles, etc..) but you can't disable the CRDs.

[2019-12-04 16:16] kramvan1 commented on #19164
@linsun
We were unable to replicate that result. When we delete the istio.default secret between deleting and reapplying the ICP, or even all secrets in the istio-system namespace, we still replicate the telemetry error.

We have even gone to deleting literally every kubernetes resource in the istio-system namespace (Even Events). As long as the namespace itself is not deleted, the telemetry error

[2019-12-04 16:23] ericvn opened #19381 "`make clean init build docker` fails on a Mac"
**Bug description**
make clean init build docker` fails on a Mac
[code]

**Expected behavior**

Command should build Docker images

**Steps to reproduce the bug**

Get latest source from _master_ branch and run `make clean init build docker`

**Environment where bug was observed (cloud vendor, OS, etc)**

Mac OS used for development

[2019-12-04 16:25] ericvn commented on #19381
A `make build-linux` is the work-around to make things work, (i.e. `make clean init build build-linux docker` works).

Just need to add the dependency.

[2019-12-04 16:32] crhuber commented on #19164
We are also having issues with istio-telemetry pod shows Running, but nothing responds on 42422/metrics. We are using regular helm to install and not using istio operator

[2019-12-04 16:33] sdake commented on #19164
@linsun the error `connection refused` indicates a bind()/listen() has not been executed within the MCP server.

[2019-12-04 16:39] xeviknal commented on #17503
According to the documentation you mentioned, the example in my previous comment should not generate any message. In that scenario, there are two services pointing to the same Pod in the same port number and protocol. It should break if one service uses port 9080 for http and other service uses port 9080 for tcp.

I submitted a PR (https://github.com/istio/istio/pull/19383) implementing this analy

[2019-12-04 16:43] howardjohn commented on #19371
@richardwxn I confirmed the role shows up from `generate` and is not there from apply
[code]

[2019-12-04 17:15] mrf commented on #18280
At a minimum some clarity around `Istio wont support helm3` would be really welcome.

We've been happily installing and upgrading Istio with helm2 across a half dozen clusters without issue and would really like to be able upgrade everything to helm3 and stop managing Tiller.

I'm not finding any documentation about when helm2 will go EOL but it will only be a matter of time, I don't see that comm

[2019-12-04 17:19] mrf commented on #18280
`Install a Helm client with a version higher than 2.10.` is the only mention of Helm version I'm finding in the 1.4 version of helm docs at https://istio.io/docs/setup/install/helm/  That definitely needs to be updated `<3  >2.10` since 3.x is the latest stable version of helm.

[2019-12-04 17:35] xeviknal opened #19384 "Destination Rule host - specify exactly what is a short name"
**Bug description**

I am having the issue of not understanding what `short names` means for a DestinationRule.spec.host in https://istio.io/docs/reference/config/networking/destination-rule/#DestinationRule

From the text there, I don't know exactly which formats of hosts are allowed. All possible formats from [K8S](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/)? Be it:

[2019-12-04 17:55] pitlv2109 commented on #18221
If you go to [one](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/auth/bound-service-account-tokens.md#footnotes) of the k8s links from the blog post, you'll see it mentions new api-server flags. K8s also has document about how to set api-server flags. [These](https://github.com/istio/istio/tree/master/prow/config) are the configs that we use depending on k8s ver

[2019-12-04 18:22] bianpengyuan opened #19385 "Make mx filter configurable on selectively upstream/downstream exchange"
Metadata exchange filter decides injection and removal of metadata based on direction information from listener. The logic works well for ingress and inter mesh case. But for cases like egressgateway where listener is configured as outbound, or white box middle proxy configured by Sidecar API, header injection/removal purely based on listener direction might not be intended. We probably should mak

[2019-12-04 18:31] frankbu commented on #18280
Since for better or worse, we're planning to deprecate the helm install and move to the new istioctl/operator install, I think that all we need to do is add a warning in the helm docs to say that helm 3 is not supported.

[2019-12-04 18:31] ostromart opened #19386 "Fall back to compiled in default for local file system profile"
Currently, local profiles require a default.yaml to be co-located in the same dir. Ideally it should be possible to just point to a profile and use the compiled-in default.yaml if a default.yaml is not found in the target dir.

[2019-12-04 18:44] yxue opened #19387 "istioctl cmd getting unnamed ports"
As protocol detection is on by default, having an istioctl cmd tool to get all unnamed ports will help customers migrate from unnamed ports to named ports.

The process would be
1. Running cmd
[code]
and output

[code]

2. Query prometheus and filter by service name and target port. This step will help the user to figure out which kind of traffic the port is serving and user can re-apply CRD with

[2019-12-04 18:46] yxue commented on #19387
^^ @duderino @esnible

[2019-12-04 18:50] #19271 closed

[2019-12-04 19:03] njfix6 commented on #9113
I have updated to 1.3.4 and still seeing 503 errors. Going to try to increase graceful shutdown time to 60. `terminationGracePeriodSeconds: 60`

[2019-12-04 19:04] kyessenov commented on #19385
Sure. Let's just specify what we want from egressgateway / middlebox and apply it consistently by adding it to envoy xDS traffic direction. I bet it affects more than exchange, things like tracing, sanitizations, etc.

[2019-12-04 19:25] kramvan1 opened #19388 "OPERATOR- Kube 1.16 has deprecated old resource apis"
**Bug description**

In operator logs:
[code]
from https://github.com/istio/operator/blob/1d937264909573a1b5edb170f761eef486e03b8c/pkg/controller/istiocontrolplane/pruningdetails.go#L42-L92

**Expected behavior**

Need to handle the old and new resource types.  Switch to `v1` instead of `v1beta1`.
Probably need both  in the prune list for now.

**Steps to reproduce the bug**

istio install with op

[2019-12-04 19:27] kramvan1 commented on #19388
cc @sdake @linsun

[2019-12-04 19:29] dontreboot commented on #19211
any update on this issue?

[2019-12-04 19:37] jdamata commented on #18995
I decided to just mount certs into envoy and remove the istio sidecar.

[2019-12-04 19:37] #18995 closed

[2019-12-04 19:39] howardjohn opened #19389 "Galley fails to startup with validation disabled"
I added the flag `--enable-validation=false` and now galley won't startup with logs

[code]

[2019-12-04 19:39] incfly commented on #19077
not applicable, obsolote. see the closing pr comment.

[2019-12-04 19:39] #19077 closed

[2019-12-04 19:58] incfly commented on #19164
yes. connection refused is not indicator of tls handshake failure, which usually ends up with a `upstream connection reset` msg.

[2019-12-04 20:19] quanjielin opened #19391 "error when extending cert lifetime using citadel"
**Problem**
customer hit below error when extending cert lifetime using citadel -
2019-11-08T00:26:09.074465Z error CSR signing error (requested TTL 87600h0m0s is greater than the max allowed TTL 2160h0m0s)
2019-11-08T00:26:09.074515Z error Failed to generate key/cert for kube-system/istio.pod-garbage-collector (error CSR signing error (requested TTL 87600h0m0s is greater than the max allowed TTL

[2019-12-04 20:22] prune998 opened #19392 "istioctl manifest --set with a list does not work"
**Bug description**
When trying to generate a manifest or deploy Istio using `istioctl manifest generate/apply`, the command fail if you try to pass a list (array) of arguments using `--set`

**Expected behavior**
The behaviour should be the same as using `helm` :
[code]
gives a file including :
[code]

**Steps to reproduce the bug**
I tried a lot of combinations like :
[code]
giving the error :
[

[2019-12-04 20:37] elfinhe commented on #19135
If we want to use ICPS to diff, the assumption is to have Istio installed with an ICPS CR applied (maybe used by the operator controller). I'd suggest that we try reading ICPS CR first and then fallback to Values in Injector's ConfigMap.

[2019-12-04 20:45] ostromart commented on #19153
To add more background to this, it comes from a proposal in the UX group. Users may wish to move between controller and CLI models, in which case they would probably use the in-cluster CR for both cases. Although it's clear to us working on operator that the CLI version requires istioctl manifest apply after the edit, it may be less clear to users. This just basically unifies the user interaction

[2019-12-04 22:03] incfly opened #19394 "istioctl pc listeners(clusters) add output whether its inbound or outbound"
**Describe the feature request**

Currently all listeners and clusters are listed as the same, without distinguishing as inboud or outbound.

Having it check the name prefix, then output the type can be helpful.

[code]

**Additional context**

[2019-12-04 22:06] kyessenov opened #19395 "Set cluster-autoscaler.kubernetes.io/safe-to-evict: "true" on sidecar by default (was EmptyDir in istio sidecar prevents cluster autoscaler from evicting a node)"
Per https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node, presence of local storage emptyDir prevents the cluster autoscaler from evicting nodes with injected pods.

/cc @howardjohn @duderino

[2019-12-04 22:33] Stono commented on #9113
@njfix6 I would _really_ encourage you to do some debugging into where the 503 errors are coming from, otherwise you're shooting blind with config changes.

The blog I linked talks through how you can use tpdump to identify more information about the source of the 503s to determine what settings you would need to configure, and where.

[2019-12-04 22:34] davidkarlsen opened #19396 "Istio fails using PSP through ClusterRoleBinding in namespace"
**Bug description**

I have a deployment where the container uses hostPath. This worked just fine, but as soon as I label the namespace for injection `k label namespace eos-jfr-srv-d1 istio-injection=enabled` the pod never gets created due to:

[code]

PSP is provided through:
[code]

w/o the istio label on the namespace it works just fine.
The pod has access to hostpath by using a PSP allowing so

[2019-12-04 22:39] itsmurugappan opened #19397 "Fake go client not working as expected for testing"
**Bug description**

Fake Go Client Used is : istio.io/client-go/pkg/clientset/versioned/fake
This client is not creating resources as provided.

versions from go.mod

	istio.io/api v0.0.0-20191101221011-3fcb499e2a05
	istio.io/client-go v0.0.0-20191104174404-7b65e62d85b0

**Steps to reproduce the bug**

#### Servicerolebinding I am trying to create
[code]

#### Go code to create the service rolebi

[2019-12-04 22:57] XanderStrike opened #19398 "Fields unconfigurable through operator"
**Bug description**

Some fields that were formerly configurable in the helm values are no longer configurable with operator.

**Expected behavior**

I am able to configure `tolerations` (and _all_ other fields) on ingress gateways (and _all_ other components).

**Steps to reproduce the bug**

Run `istioctl manifest apply -f controlplane.yaml`

where `controlplane.yaml` contains

[code]

An error

[2019-12-04 23:00] incfly commented on #17837
Thanks. I haven't checked the updated instructions, will take additional look on that to verify, but here's a solution should working, after talking with @howardjohn

## Solution

Basically we need to create a service entry with http port specified, matching the deployment/service definition. The addresses are the static IP addresses.

This way, we ensure the pod can the correct LDS (with envoy tl

[2019-12-04 23:03] incfly commented on #17837
This should also give full Istio server side capabilities such as telemetry, you need to sync the SE with your own app service definition though.

note it's important to create the service entry before the endpoints swapping, so that server sidecars are ready to serve right away, won't causing any 503.

[2019-12-04 23:13] kyessenov commented on #17207
There is no plan to support multi-wildcard in the match. In fact, we actually want to remove wildcard matching altogether, as it dis-agrees with the standard language definition https://github.com/google/cel-spec/blob/master/doc/langdef.md.

I suggest you rephrase the condition in terms of `startsWith`, `endsWith`, and/or `contains`. These three operators will receive support in the next-gen archi

[2019-12-04 23:14] kyessenov commented on #18466
Correct, you need to use CHECK_WITH_OUTPUT to supply an extra result with the check response.

[2019-12-04 23:14] #18466 closed

[2019-12-04 23:36] howardjohn opened #19400 "Link linter violates reproduciblity of tests"
Currently we are running a linter that fails when links in markdown files fail. This is constantly because links are flaky.

Its not appropriate for a test to fail based on external circumstances, everything should be hermetic.

I would suggest we remove this from all repos other than the docs repo.

If we insist on keeping it around, I would suggest:

* Run `git diff | link-checker` basically lin

[2019-12-05 00:04] howardjohn opened #19403 "codecov test failing with AddNetworksHandler segfault"
https://prow.istio.io/view/gcs/istio-prow/logs/codecov_istio_postsubmit/819
https://prow.istio.io/view/gcs/istio-prow/logs/codecov_istio_postsubmit/818

[2019-12-05 00:36] howardjohn commented on #19396
Sounds like the problem is not specific to hostpath, rather the sidecar is causing the wrong PSP to be applied?

[2019-12-05 00:39] howardjohn commented on #19398
This should work:

[code]

[2019-12-05 00:41] howardjohn commented on #19394
We will need bigger changes soon anyways once we move to filter chains cc @lambdai

[2019-12-05 00:42] incfly commented on #19394
Got it. Then I would re-word this as distinguish inbound and outbound config for `istioctl pc`, whether it's filter chain or listeners, making this difference always help IMO.

[2019-12-05 00:42] howardjohn commented on #19388
Thanks for reporting. This is the same issue reported by https://github.com/istio/istio/issues/19184

[2019-12-05 00:42] #19388 closed

[2019-12-05 00:52] elfinhe commented on #19135
synced with Martin offline, we should use the entire ICPS objects to compare.

[2019-12-05 01:15] rshriram commented on #19380
@abhide / @rlenglet ^^^ this has broken a bunch of environments internally. Please fix or lets revert the PR

[2019-12-05 01:24] rlenglet commented on #19380
@rshriram can you give the full istio-init container spec from the pod spec of one of the failing pods? We'll need that to generate the ip6tables-restore file to debug this.

[2019-12-05 01:31] rshriram commented on #19380
you mean the k8s yaml from kubectl describe po?

[2019-12-05 01:53] bappr commented on #15178
@hzxuzhonghu

Can u explain more about that plz?
I am fully using tcp probes cause my apps are not customisable. And it's a nice generic way to test the readiness and liveness of your servers.
Therefore, I am getting hit by this issue.

[code]

Very easy to reproduce.
We should reopen.

[2019-12-05 02:05] rlenglet commented on #19380
Yes, please.

[2019-12-05 02:27] hzxuzhonghu commented on #15178
This is the mechanism of k8s tcp probe, it thinks the pod is healthy when kubelet can establish a connection with podip:8080, but this is not enough, think about the iptables rule drops all the packet received.

The most effective way is to do probe in app level, envoy support active healthcheck, tcp echo.
However,  for http probe, k8s probe can work well.

[2019-12-05 02:42] bappr commented on #15178
Yeah agree, unfortunately for my case, that would mean asking to all the users of our platform to add some http `/healthz` endpoint. Not possible at all atm. But definitely something to consider in the future.
Thanks.

[2019-12-05 03:35] #19220 closed

[2019-12-05 03:38] rvennam commented on #19164
I disabled controlPlaneSecurityEnabled and set global log level: "mcp:debug" as requested by @douglas-reid  Please see attached logs for telemetry and galley.

[galley_debug_.log](https://github.com/istio/istio/files/3925007/galley_debug_.log)
[telemetry_debug.log](https://github.com/istio/istio/files/3925008/telemetry_debug.log)

[code]

[2019-12-05 03:44] Arnold1 commented on #12602
@vigohe I get this error:
[code]

[2019-12-05 03:47] linsun commented on #19164
@douglas-reid there is definitely some interesting timing.  I noticed my pod were created ~1 min before the rules and instances (CRs for the CRDs that you referred to earlier) and somehow galley didn't publish these rules and instances as events to mixer-telemetry.  I deleted these rules and instances manually,

[code]

then manually create them in istio-systems, (which kinda waked up galley to pu

[2019-12-05 03:58] douglas-reid commented on #19164
@linsun and everyone else - i haven't had any time to look into this again unfortunately, but deleting and re-adding the config does indeed seem like something is broken with the config update mechanism. I'm hoping one of the galley experts can offer a good theory on what is happening.

The repro listed above involved install + uninstall + reinstall to get into the stuck case, iiuc. That seems odd

[2019-12-05 04:55] dhineshbabuelango opened #19408 "Not able to route the traffic through egress gateway"
We are using istio in eks. We are trying to configure egress gateway to route our egress traffic through egress gateway for our service which listens on port 8443. But currently only if we create service entry we are able to reach our service on 8443 but if we create egress gateway and virtual service

Error:
![image](https://user-images.githubusercontent.com/51995628/70205238-5f369a00-175e-11ea-8

[2019-12-05 04:59] richardwxn commented on #19371
@howardjohn this should not happen since the logic of generating manifests is shared between manifest-generate and manifest-apply. I would try that out to see what happens

[2019-12-05 05:01] #13978 closed

[2019-12-05 05:01] #14127 closed

[2019-12-05 05:06] Arnold1 commented on #12602
what worked is:
cd istio-1.4.0
and than edit install/kubernetes/helm/istio/values.yaml:
[code]

and than:
[code]

is that the recomended way for istio 1.4?

[2019-12-05 06:20] abhide commented on #19380
Looks like iptables-restore failed for ipv4: `istio.io/istio@v0.0.0/tools/istio-iptables/pkg/cmd/run.go:491`

[2019-12-05 06:29] nak3 opened #19409 "RFE: istioctl configdump like proxy-config should support match-api-version option"
**Describe the feature request**

- Currntly `istioctl proxy-config` command ignores unknown field as it easily becomes fragile when new field is introduced (as per https://github.com/istio/istio/pull/15601, https://github.com/istio/istio/issues/15544.)

https://github.com/istio/istio/blob/d54f020b5c2642e42ff25dc04001a65eb0c8d0aa/istioctl/pkg/util/configdump/wrapper.go#L69-L70

- However, it hides

[2019-12-05 06:34] abhide commented on #19380
To help debugging such issues, I think we should add a fix to `cat` rules files that is passed to `iptables-restore`

[2019-12-05 07:08] davidkarlsen commented on #19396
@howardjohn yes, probably. Hard to tell - what is going on really. Istio hooks in via a mutating webhook right? So I should see the resulting resource in the replica-set? There seems to be some istio serviceAccounts in the ns, but even these should be matched by the binding as shown.

[2019-12-05 07:40] lambdai commented on #19394
IMHO inbound/outbound and my filter chain change is orthogonal
The reason is that each listener/filter has the attribute: inbound or outbound. It is never early to add the in/out attribute.

[2019-12-05 07:44] lambdai commented on #19394
WRT to the fact of listener when outbound listener only have 1 physical listener :15001
I think we might want to maintain the current listener *view* and hide the detail of the only port 15001 listener
WDTY @howardjohn

[2019-12-05 07:50] incfly commented on #19394
It depends on how the intended UX for our istioctl pc debugging tool should be. Whether it's for seasoned users to drill lower level Envoy config or we still need to maintain another higher level view.

I think we can have both. Displaying filter chain && listener, plus how are they  selected by the filter chain match attributes, in a priority order, destination port, ip address, etc.

@esnible mi

[2019-12-05 08:29] fujianan opened #19410 "I have two deployment added sidecar,other service not add,other service connect added service,traffic tranform two pod"
![image](https://user-images.githubusercontent.com/22000011/70217393-0d047180-177c-11ea-87c6-ecabba69962d.png)
![image](https://user-images.githubusercontent.com/22000011/70217407-0f66cb80-177c-11ea-9f27-b9170a321c6e.png)

![image](https://user-images.githubusercontent.com/22000011/70217425-17bf0680-177c-11ea-907b-2cbb0489aa6a.png)
![image](https://user-images.githubusercontent.com/22000011/702174

[2019-12-05 08:30] jeinwag commented on #15277
Also currently struggling with this (on Istio 1.4.0).
If the istio-autogenerated-k8s-ingress is there, I can't geht HTTP to work on any custom gateway.
When I delete the istio-autogenerated-k8s-ingress, ingress resources of the istio ingress-class stop working.

[2019-12-05 08:42] haf-afa commented on #18221
The flags are documented but not how to find out their values. @pitlv2109

[2019-12-05 08:56] mandarjog commented on #19211
This is a known issue for a long time. https://github.com/istio/istio/issues/16597

It was put on the back burner because it happens when envoy has already started shutting down.

[2019-12-05 09:05] mandarjog opened #19411 "Core dump does not work due to container restart"
In 1.4 pilot agent was updated to exit when Envoy exits. This generally works well since it gives visibility to the api server that proxy container has restarted.

However it has broken coredump capability, we have not tests for it.
As soon as a coredump finishes, the container exits and we have no mechanisms to copy the core dump over. Even during testing there is not way to override this behavio

[2019-12-05 09:18] raj-nag commented on #5679
Do we have any update on this?
I'm using Istio 1.4.0 with the interceptionMode as TPROXY (and even with the externalTrafficPolicy: Local for the istio-ingressgateway), still my app container in the pod sees the source IP as 127.0.0.1

I'm interested in preserving the source IP address for the TCP connection (not passing it as HTTP header)

Is there any workaround (like with bootstrapOverride and c

[2019-12-05 09:44] desek commented on #18575
I'm not able to reproduce this in 1.3.5. Closing issue.

[2019-12-05 09:44] #18575 closed

[2019-12-05 10:49] hahomdal commented on #19066
@quentinleclerc : Add a firewall which allows the master_ipv4_cidr range as source to talk to the network target tag for your instances on port 9443.

To get the network target tag, do for instance:
`gcloud` compute instances list --project <project> --format=json | /usr/bin/jq '.[].tags.items[0]'|head -1`

Thereafter adapt the following command to suit your environment:
`gcloud compute firewall-r

[2019-12-05 11:04] iahmad-khan commented on #11010
why is this closed?

[2019-12-05 11:19] zachidan commented on #15517
The current behavior (Istio version 1.4, xDS enabled, mutual TLS mode) is that `istio-proxy` ignores an upstream cluster that is defined with a missing certificate/key (the certs are NOT mounted to the pod).

Here is the **warning** message that `envoy` (istio-proxy) reports when it receives from `pilot` an upstream cluster with missing certificate:

[code]

Here is the `DestinationRule` that defi

[2019-12-05 11:53] ElliotPM opened #19413 "CNI helm template include/exclude options"
The CNI is a strategic solution to move away from using an init container with NET_ADMIN privileges; however, the helm template does not allow the option to set CIDR ranges or ports to include or exclude from the service mesh.

These are required for us to continue using init containers which access pod-external services, use statefulsets (We are aware of improvements to statefulset compatibility

[2019-12-05 12:48] RaduRaducuIlie opened #19414 "Rate limits not working as expected"
**Bug description**
I'm trying to use rate limits  from istio for httpbin service in httpbin `namespace,` but for some reason the behaviour is not the expected one.
I'm using the following configuration according to documentation:
Redis quota configuration:

[code]
**Expected behavior**
This configuration should allow only 1 request per second to the service httpbin.
**Steps to reproduce the bug**

[2019-12-05 13:07] mauricioadlima commented on #19296
I have the same issue. @ichasco did you create some workaround to certificate your cluster?

[2019-12-05 15:03] liamawhite commented on #19387
Could you help me understand why a user would want to migrate to named ports if protocol detection is working for them?

[2019-12-05 15:33] rlenglet commented on #19380
Sure. But in this case, having the istio-init container spec should be sufficient to reproduce this, since that's the only input used to generate the iptables-restore file.

[2019-12-05 15:57] nak3 commented on #17837
Thank you @incfly Please give me some time. I will test it (probably in this weekend) and feedback to you.

[2019-12-05 16:09] howardjohn commented on #19396
@davidkarlsen it may be related to https://github.com/istio/istio/issues/17318 or https://github.com/istio/istio/issues/17331 in some way? I must admit I don't fully understand PSPs though.

We are modifying the Pod, not he replicasset, so you only see the result in the pod

[2019-12-05 16:14] linsun commented on #19280
Thank you @mbanikazemi !  With the FAQ, I will close the issue

[2019-12-05 16:14] #19280 closed

[2019-12-05 16:41] kovalyukm opened #19417 "certmanager: ACME client is too old"
**Bug description**
Setup dns01 challenge instead of http01 in clusterissuers.
    dns01:
      providers:
      - name: route53
        route53:
          region: <region>

Get errors in logs like:
I1205 14:57:57.555936       1 setup.go:165] letsencrypt: Failed to verify ACME account: acme: urn:ietf:params:acme:error:rateLimited: Your ACME client is too old. Please upgrade to a newer version.
I12

[2019-12-05 16:48] #19403 closed

[2019-12-05 16:51] kovalyukm commented on #19417
There are a lot of errors with
        image: quay.io/jetstack/cert-manager-controller:v0.12.0

E1205 16:48:59.323979       1 reflector.go:123] external/io_k8s_client_go/tools/cache/reflector.go:96: Failed to list *v1alpha2.Certificate: certificates.cert-manager.io is forbidden: User "system:serviceaccount:istio-system:certmanager" cannot list resource "certificates" in API group "cert-manager.io"

[2019-12-05 17:32] yxue commented on #19387
The traffic could bypass authN/authZ policy when using protocol detection. E.g., if the user apply the policy to enable GET only. Because pilot cannot infer the protocol from the port name, it will create both HTTP and TCP filter chains and the client can send TCP traffic to bypass that policy.

[2019-12-05 17:39] ostromart commented on #19398
@richardwxn we should either add the k8s settings to the values schema or perhaps issue a specific warning that the new API should be used for these.

[2019-12-05 17:45] dontreboot commented on #19211
Does this mean there is no real impact with this segfault? It's just that there are lots of coredump files filling up disks.

[2019-12-05 18:01] sushicw commented on #16777
I'm increasingly leaning towards adding a deprecation notice to `istioctl validate` and redirecting users to `analyze` as being the right path to take. Does anyone have any further thoughts about this?

[2019-12-05 18:12] raj-nag commented on #5679
I got the TCP client source IP in the pod container with the following steps:

Edit “istio” configmap and add “interceptionMode: TPROXY” under defaultConfig.
Add “sidecar.istio.io/interceptionMode: TPROXY” to pod spec
Delete ISTIO_TPROXY rule on the sidecar proxy
-A ISTIO_TPROXY ! -d 127.0.0.1/32 -p tcp -j TPROXY --on-port 15001 --on-ip 0.0.0.0 --tproxy-mark 0x539/0xffffffff
Add PREROUTING rule on

[2019-12-05 18:30] rshriram commented on #19380
[code]

the proxyv2:0.6.6-istio-bc183b651 corresponds to image built from latest master.

[2019-12-05 18:30] rshriram commented on #19380
This fails on circleci VM with minikube. We haven't seen it fail on gke

[2019-12-05 18:40] davidkarlsen commented on #19396
Yes, those look related. Unfortunately there is no way to see the resulting pod spec as PSP prohibits it. I'll try to loosen up the PSP in order to get the pod created so that I can see what is actually going on.

[2019-12-05 18:40] dahutu opened #19418 "node-agent: implement SDS for mesh expansion"
**Describe the feature request**
Implement SDS in node-agent for Mesh Expansion.  Currently (1.4) CA cert chain and workload certs are stored in /etc/certs directory on the VM.  This is fine during bootstrap but not very secure in the long term, especially before Istio has a good cert revocation story.  Citadel agent has built-in SDS support.  node-agent should also implement SDS support so that /

[2019-12-05 18:44] liamawhite commented on #19387
Is this something that should be part of the analyze command rather than its own command?