[2018-06-22 18:41] #6434 closed

[2018-06-22 18:48] #6534 closed

[2018-06-22 18:48] jasmine-jaksic commented on #6534
Issue moved to [istio/istio.github.io #1575](https://github.com/istio/istio.github.io/issues/1575) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-22 18:50] ldemailly commented on #6534
this already exist / was https://github.com/istio/istio.github.io/issues/911

[2018-06-22 18:53] monubamb commented on #6508
Anyone have any idea on this one? I cannot proceed forward with testing the bookinfo.yaml due to this error..

Thanks much.

[2018-06-22 18:53] smawson commented on #5676
Looks like this was fixed but not closed, reopen if I got that wrong.

[2018-06-22 18:53] #5676 closed

[2018-06-22 18:57] liamawhite opened #6541 "Improve Istio Debugging Experience"
This is an epic to contain all the work going on to improve the debugging experience for users. Feel free to add any feature requests, suggestions or bugs to this epic.

[2018-06-22 19:00] esnible commented on #5308
Issue https://github.com/istio/istio/issues/2491 to have `istioctl version` show the server version is related.

[2018-06-22 19:06] ymesika commented on #6508
See #6465 and close this one if indeed duplicated.
Thanks.

[2018-06-22 19:07] ymesika commented on #6499
@monubamb Is it indeed a matter of time?

[2018-06-22 19:10] liamawhite opened #6542 "Proxy-Diff to debug difference between Envoy and Pilot"
As requested by multiple people there should be a command that we can pass a pod-name in and it will return a detailed diff between what Envoy has loaded in and what Pilot says Envoy should have loaded in. This will require Pilot to output some a config dump in the same form as the Envoy admin APIs.

`istioctl proxy-diff <pod-name>`

For a complete solution Envoy will need to support dumping EDS a

[2018-06-22 19:18] louiscryan commented on #1438
This seems out of date. We program the sidecars with routes.

[2018-06-22 19:18] #1438 closed

[2018-06-22 19:20] louiscryan commented on #1441
@qiujian16 are you still interested in working on this ?

[2018-06-22 19:22] louiscryan commented on #1443
ServiceEntry is likely to be the API we expose for this. We can also investigate annotating pods / services in K8S to control this behavior without an API.

[2018-06-22 19:32] louiscryan commented on #1470
This issue is pretty stale. Anyone care to comment on the state of coverage?

[2018-06-22 19:33] louiscryan commented on #1471
There are a lot of 'config push implies 4040/503' that seem like duplicates.

[2018-06-22 19:37] louiscryan commented on #1475
Is this still relevant ?

[2018-06-22 19:41] louiscryan commented on #1480
This seems pretty stale.

[2018-06-22 19:43] louiscryan commented on #1482
I think this is out of date now that we push changes rather than polling.

[2018-06-22 19:46] louiscryan commented on #1670
@ijsnellf please close if this is resolved or redundant

[2018-06-22 19:47] kyessenov commented on #1480
I don't think anything has been done about it: https://github.com/istio/istio/blob/master/pilot/pkg/config/kube/crd/client.go#L221

[2018-06-22 20:07] hklai opened #6545 "TestAuthNJwt in e2e-pilot is flaky"
**Describe the bug**
TestAuthNJwt is flaky and it occasionally blocks PR merges since e2e-pilot is a required test.

**Expected behavior**
No flake

**Steps to reproduce the bug**
Example flakes in CIs
https://circleci.com/gh/istio/istio/121646?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/58

[2018-06-22 20:43] subfuzion commented on #5327
Woohoo! Merged! Thanks @esnible!

[2018-06-22 20:44] louiscryan commented on #1679
This issue is pretty stale. Can you retest with 0.8 and reopen if you still have this problem

[2018-06-22 20:46] louiscryan opened #6547 "Cannot increase max websocket connections beyond 1024"
@amit-shah commented on [Wed Feb 14 2018](https://github.com/istio/old_issues_repo/issues/206)

**Is this a BUG or FEATURE REQUEST?:**FEATURE

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**: YES

**Bug:**
N

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is

[2018-06-22 20:46] #6547 closed

[2018-06-22 20:47] louiscryan commented on #1709
This is pretty stale. Can you retest with 0.8

[2018-06-22 20:51] louiscryan commented on #1710
0.8 shipped with the new APIs. Closing, feel free to re-open if you experience issues with the new release.

[2018-06-22 20:51] #1710 closed

[2018-06-22 20:54] louiscryan commented on #1774
This relates to the listener split work that Piotr is doing.

https://github.com/istio/istio/issues/6259

[2018-06-22 20:55] louiscryan opened #6548 "Secure cookie and Istio egress"
@msogrin commented on [Fri Feb 16 2018](https://github.com/istio/old_issues_repo/issues/211)

**Is this a BUG or FEATURE REQUEST?:**  BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**: Yes

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enab

[2018-06-22 21:43] incfly opened #6551 "Multiplexing does not work on 1.0.0-snapshot.0 release"
When I tried to use https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.0.0-snapshot.0-20180622-17-43/ to verify multiplexing feature, it does not work.

After some investigation, I found it's because pilot is not generating correct LDS Envoy configuration in that release version.

1. Check the build SHA, based on [manifest.xml](https://storage.googleapis.com/istio-prerelease/daily-

[2018-06-22 21:54] kyessenov opened #6552 "Mixer may report incorrect referenced attribute"
Proxy log:
[code]

Note that that `request.headers[x-user]` is marked as exact incorrectly.

Log: https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/6338/e2e-mixer-no_auth/113/

[2018-06-22 21:54] kyessenov commented on #6309
Original issue is resolved, filed https://github.com/istio/istio/issues/6552 for the new one.

[2018-06-22 21:54] #6309 closed

[2018-06-22 21:55] kyessenov commented on #6552
Seems related to internal mixer caching, but I can't quite isolate the code responsible for this.

[2018-06-22 22:03] monubamb opened #6553 "istio- Sidecar injector fails to start - CrashLoopBackOff"
**Describe the bug**

**Register webhook failed: the server could not find the requested resource (get mutatingwebhookconfigurations.admissionregistration.k8s.io istio-sidecar-injector)**

**Expected behavior**
 MountVolume.SetUp failed for volume "certs" : secrets "istio.istio-sidecar-injector-service-account" not found
Readiness probe failed: Error: fail on inspecting path /health: stat /health:

[2018-06-22 22:05] hklai commented on #6551
@incfly did you add any test for the feature? if so, could you check why https://github.com/istio-releases/daily-release/pull/677 passes?

[2018-06-22 22:21] louiscryan commented on #1873
This feature is effectively the same as the 'secure naming' features being worked on by the security folks.

Assigning to Tao for triage.

[2018-06-22 22:23] louiscryan commented on #1945
@mandarjog is this the same as the Pilot race condition that has been resolved.

[2018-06-22 22:31] andraxylia commented on #1475
We had some tests but they have been deleted by some refactoring. No tests currently.

[2018-06-22 22:50] PiotrSikora commented on #6421
There is nothing thorny here, #6158 introduced invalid behavior. Because of how ALPN and HTTP/2 negotiation works, downstream protocol negotiated between client and the sidecar is not necessarily the same as the one client would negotiate directly with the upstream server, and it might be one that upstream server doesn't support at all, e.g. `client(h1,h2) -> server(h1)` negotiates `h1`, but `clie

[2018-06-22 22:52] geeknoid commented on #3960
We need to at least flip the default to failing closed for 1.0 if Mixer can't be contacted for Check, and failing open if Mixer can't be contacted for report.

Current fail open default is not acceptable for any real world uses of Check IMO.

[2018-06-22 22:55] louiscryan commented on #2468
@rshriram this would be launch blocking for 1.0 if not already resolved.

[2018-06-22 22:56] quanjielin commented on #6545
looks similar to https://github.com/istio/istio/issues/6288
one JWT test case fail(TestAuthNJwt/b->d[401]) with authN enabled recently(seems regression),

[2018-06-22 23:01] kyessenov commented on #6552
cc @douglas-reid @geeknoid
I've spent a few hours today trying to reproduce in a unit test, or find an obvious error in the relevant code, but no luck.

[2018-06-22 23:03] incfly commented on #6551
I do add a test for the feature, it's part of the circle ci, e2e-pilot-noauth-v1alpha3 test. That test indeed pass.

Let me recreate a refresh env to reproduce the verification.

[2018-06-22 23:09] hklai commented on #6545
Closing this in favor of https://github.com/istio/istio/issues/6288

[2018-06-22 23:09] #6545 closed

[2018-06-22 23:13] kornholi commented on #2554
We're still seeing slow startup sometimes on 0.8 with proxyv2, depending on cluster size and pilot? load.

Here's an example, but this is on the better side. We've seen way worse with liveness checks restarting the app containers 10-30 times because it was taking so long to initialize. I'm trying to track down those logs.

[code]

[2018-06-22 23:21] hklai opened #6555 "serviceregistry/kube TestServices is flaky"
**Describe the bug**

serviceregistry/kube TestServices has been flaky and it blocks PR merges.

https://circleci.com/gh/istio/istio/119705?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/6435/istio-unit-tests/9219/

**Expected behavior**
No flake

**Steps to reproduce the bug**
Steps to reprod

[2018-06-22 23:32] tianyicaii opened #6557 "Running iptables script on Debian VMs does not intercept users whose group ID equals -u argument"
**Describe the bug**
iptables script does not redirect users with group ID equals the number specified with -u option.
https://github.com/istio/istio/blob/master/tools/deb/istio-iptables.sh#L265

**Expected behavior**
I am expecting only the user whose user ID specified with -u is not affected by the iptables redirection.

**Steps to reproduce the bug**
Given two users: user-a and user-b:
username

[2018-06-22 23:33] kyessenov commented on #6555
That's because it's not a unit test. Do you want to move it to e2e suite?

[2018-06-22 23:39] hklai commented on #6555
My 2C is yes, but I don't own the code and the test. =)

[2018-06-22 23:42] kyessenov commented on #6555
Neither do I :)

[2018-06-22 23:51] geeknoid commented on #6552
I think it's driven by the specific way the config references the attribute.

request.headers["x-user"] != ""
request.headers["x-user" != "ABC"
request.headers["x-user"] == ""
request.headers["x-user" == "ABC"

[2018-06-23 00:02] kyessenov commented on #6552
Evaluation seems to be not conditional on the binary operation. There's going to be symbol resolution for the map, in all of the cases. Is there some optimizer running that can erase sub-expressions?

[2018-06-23 00:46] ayj commented on #4938
This could possibility be related to the version of github.com/imdario/mergo we've vendored for k8s's go-client. kubectl uses an older version of mergo where `Merge()` overwrites existing values. istioctl uses a newer version which doesn't. This might be manifesting in the k8s client loading code with multiple config sources not being merged properly. See https://github.com/kubernetes/kubernetes/p

[2018-06-23 00:47] ZhiminXiang commented on #6500
Sorry I gave a bad example in this issue. But I do see request timeout does not work in my side. I will close this one and open a separate one.

[2018-06-23 00:47] #6500 closed

[2018-06-23 01:08] ZhiminXiang opened #6558 "Request timeout does not work in VirtualService"
**Describe the bug**
I want to apply a request timeout on a service. So I tested with httpbin example, and applied a VirtualService with request timeout 1s. And it does not work. Please see below "Steps to reproduce the bug" for more details.

**Expected behavior**
Request to service httpbin should be timed out after 1s.

**Steps to reproduce the bug**
Step 1: kubectl apply -f sample/httpbin/httpb

[2018-06-23 01:14] ZhiminXiang commented on #6558
This is the related config from httpbin Pod sidecar:
[code]

[2018-06-23 01:42] vadimeisenbergibm commented on #6548
@msogrin Note that Istio 0.8.0 supports HTTPS (originated by the application), no requirement to use HTTP anymore, see the second example in https://istio.io/docs/tasks/traffic-management/egress/#configuring-the-external-services .

[2018-06-23 01:43] vadimeisenbergibm commented on #6548
Resolved in 0.8.0, closing.

[2018-06-23 01:43] #6548 closed

[2018-06-23 01:55] #5327 closed

[2018-06-23 02:15] #6069 closed

[2018-06-23 03:02] andraxylia commented on #6421
@PiotrSikora should we revert #6158 meanwhile?

[2018-06-23 03:06] andraxylia commented on #6461
@rokii Do you have a particular scale, or have you noticed problems? Or is it more of a theoretical proposal?

We have plans to add similar functionality in the future, but not before 1.0.

[2018-06-23 03:09] andraxylia commented on #6384
@incfly please use istio-users for questions, do not open issues unless there is an issue.

[2018-06-23 03:13] andraxylia commented on #6356
Could you please attach the following info?

kubectl get all

istioctl proxy-config pilot mesh ads

For the pod with IP 100.96.2.19:
istioctl proxy-config endpoint <pod-name>

[2018-06-23 03:17] andraxylia commented on #6283
cc @ldemailly @mandarjog

[2018-06-23 03:19] andraxylia commented on #6046
Fixed in #6483

[2018-06-23 03:19] #6046 closed

[2018-06-23 03:20] zachgersh commented on #6421
Think we should have a discussion around that in slack - mentioned it in the other issue.
On Jun 22, 2018, 8:02 PM -0700, Andra Cismaru <notifications@github.com>, wrote:

[2018-06-23 03:28] andraxylia commented on #5376
@rlenglet I will close this for now, please re-open if you still see this with 0.8.

[2018-06-23 03:28] #5376 closed

[2018-06-23 03:31] andraxylia commented on #5348
cc @alexburnos

[2018-06-23 03:33] rokii commented on #6461
@andraxylia  We have lots of applications deployed in k8s. Now some teams want to adopt Istio. And many applications like data mining or ML jobs  are not services and will never join the mesh. So it is better to have Istio just manage and list limited endpoints.  In the long run , we may have dedicated k8s cluster for Istio service mesh. But in the initial phase , operation could be cost effective

[2018-06-23 03:38] PiotrSikora commented on #6384
@andraxylia This issue tracks switching from TLS multiplexing to `"istio"` ALPN for incremental mTLS, and it's definitely not a question for istio-users@.

[2018-06-23 03:39] andraxylia commented on #5307
Dup of #5643 which is being looked at.

[2018-06-23 03:39] #5307 closed

[2018-06-23 03:41] andraxylia commented on #6384
ok. The description sounded like a question.

[2018-06-23 03:43] andraxylia commented on #5295
@JCzz can you please try with release 0.8 and Gateway?
https://istio.io/docs/tasks/traffic-management/ingress/#determining-the-ingress-ip-and-ports

[2018-06-23 03:45] andraxylia commented on #5278
Could you please try release 0.8 and re-open if you still see the issue?

[2018-06-23 03:45] #5278 closed

[2018-06-23 03:47] andraxylia commented on #5258
@baodongli I see the issue was fixed by your commit, closing it.

[2018-06-23 03:47] #5258 closed

[2018-06-23 03:48] andraxylia commented on #5243
@ccx1024cc could you please try with release 0.8?

[2018-06-23 03:54] andraxylia commented on #5190
@mounika2540 could you please try with release 0.8 and Gateway?

https://istio.io/docs/tasks/traffic-management/ingress/#determining-the-ingress-ip-and-ports

[2018-06-23 03:56] andraxylia commented on #5182
Could you please try with release 0.8 and ServiceEntry?

https://istio.io/docs/tasks/traffic-management/egress/

[2018-06-23 03:59] andraxylia commented on #5121
Is this issue still valid?

[2018-06-23 04:00] andraxylia commented on #5043
cc @alexburnos

[2018-06-23 04:08] andraxylia commented on #5003
Please check for serviceCluster here:
https://istio.io/docs/setup/kubernetes/sidecar-injection/

[2018-06-23 04:08] #5003 closed

[2018-06-23 04:36] andraxylia commented on #4999
Is this still an issue?

[2018-06-23 04:38] andraxylia commented on #4999
proxyv2  works with gRPC streaming from pilot, so you should not see this anymore.

[2018-06-23 04:39] andraxylia commented on #4980
Can you please try with release 0.8 and Gateway and re-open if you still encounter issues?
https://istio.io/docs/tasks/traffic-management/ingress/

[2018-06-23 04:39] #4980 closed

[2018-06-23 04:41] andraxylia commented on #4743
@kyessenov is this still an issue?

[2018-06-23 04:55] andraxylia commented on #4155
You can use k8s to increase/decrese the number of pods.

[2018-06-23 04:55] #4155 closed

[2018-06-23 04:58] andraxylia commented on #4037
Please re-open if you see the issue with 0.8.

[2018-06-23 04:58] #4037 closed

[2018-06-23 04:59] andraxylia commented on #4026
@rshriram can you please comment?

[2018-06-23 05:06] andraxylia commented on #3938
is this still the plan?

[2018-06-23 05:09] andraxylia opened #6562 "Circuit breaking destinationPolicy not working with labels."
@vidhy commented on [Thu May 03 2018](https://github.com/istio/old_issues_repo/issues/318)

**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
YES.

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio

[2018-06-23 05:11] andraxylia opened #6563 "Deploying an application with configuration tty: true and stdin: true causes istio to not complete connection to other services"
@FuzzOli87 commented on [Wed May 02 2018](https://github.com/istio/old_issues_repo/issues/317)

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
no

**What happened**:
When I deploy an application with the following
`apiVersion: apps/v1
kind: Deployment
metadata:
  name: scout-processor

[2018-06-23 05:12] andraxylia opened #6564 "Pilot restarts and apps are not available anymore"
@dpacierpnik commented on [Mon Apr 30 2018](https://github.com/istio/old_issues_repo/issues/313)

**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
YES

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
Istio version

[2018-06-23 05:13] andraxylia commented on #6564
A similar issue was fixed in 0.8.

[2018-06-23 05:14] andraxylia opened #6565 "Recovered pilot causes CrashLoopBackOff in cluster, killing/recreating all Pilot pods fixes it."
@KresoDenis commented on [Sat Apr 28 2018](https://github.com/istio/old_issues_repo/issues/311)

**Is this a BUG or FEATURE REQUEST?:**
BUG
**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:

**Bug:**
Y/N
Y
**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Ist

[2018-06-23 05:17] andraxylia commented on #6565
@KresoDenis could you please try with release 0.8 and Gateway instead of Ingress?
https://istio.io/docs/tasks/traffic-management/ingress/

[2018-06-23 05:19] andraxylia opened #6566 "Istio Ingress TLS key management use ACM"
@truyet commented on [Thu Apr 26 2018](https://github.com/istio/old_issues_repo/issues/305)

**Is this a BUG or FEATURE REQUEST?:**
FEATURE REQUEST
**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:

**Bug:**
N

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**I

[2018-06-23 05:21] andraxylia opened #6567 "Specify httpFault and tcpFault delay as distribution"
@spockz commented on [Mon Apr 23 2018](https://github.com/istio/old_issues_repo/issues/298)

**Feature Request:**
Y

**Describe the feature:**
Currently, it is possible to configure the delay as a [fixed or exponential](https://istio.io/docs/reference/config/istio.routing.v1alpha1.html#HTTPFaultInjection.Delay) delay. Many of our performance metrics from production are captured in min, max, avg, a

[2018-06-23 05:24] andraxylia commented on #3519
Will need to split this into issues.

[2018-06-23 05:25] andraxylia opened #6568 "DNS over TCP egress traffic is hijacked by iptables rules"
@janosi commented on [Thu Apr 19 2018](https://github.com/istio/old_issues_repo/issues/293)

**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:

Yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Isti

[2018-06-23 05:27] andraxylia opened #6569 "Dose istio only support rewriting http header "url" and "authority"？"
@c52662 commented on [Wed Apr 18 2018](https://github.com/istio/old_issues_repo/issues/292)

**Is this a BUG or FEATURE REQUEST?:**
FEATURE REQUEST

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
yes

**Bug:**
N

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
$istio

[2018-06-23 05:29] andraxylia opened #6570 "When multiple gateways are defined, only the first one is being used."
@witlessbird commented on [Thu Jun 07 2018](https://github.com/istio/old_issues_repo/issues/381)

**Is this a BUG or FEATURE REQUEST?:**

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Au

[2018-06-23 05:31] andraxylia commented on #6570
Closing, please re-open if the issue is still there after the fix.

[2018-06-23 05:31] #6570 closed

[2018-06-23 05:32] andraxylia opened #6571 "BUG: Currently conversion tool changes namespace to default"
@lordofthejars commented on [Wed Jun 06 2018](https://github.com/istio/old_issues_repo/issues/376)

**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
Y

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is

[2018-06-23 05:34] andraxylia opened #6572 "Provide an easy way to trace which envoy version is being used in the proxy_debug and release docker images"
@mdhume commented on [Tue Jan 30 2018](https://github.com/istio/old_issues_repo/issues/176)

**Is this a BUG or FEATURE REQUEST?:** Feature Request

**Did you review istio.io/help and existing issues to identify if this is already solved or being worked on?**: Yes

**Feature Request:**
Y

**Describe the feature:**

Currently to figure out which envoy version is being used, one would need to trace

[2018-06-23 05:35] andraxylia opened #6573 "ingress running on non standard ports: authority/port matching issue (for gRPC host based routing for instance)"
@maruina commented on [Wed Sep 20 2017](https://github.com/istio/old_issues_repo/issues/60)

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
This is istio on minikube
[code]

**What happened**:
I have a service exposing 2 ports: one is gRPC, the other is HTTP. I created an ingress rule to talk to the service
[code]
[code]
but w

[2018-06-23 05:40] andraxylia commented on #1368
@rshriram is this fixed?

[2018-06-23 05:41] andraxylia commented on #2031
We switched to v2 in 0.8, closing.

[2018-06-23 05:41] #2031 closed

[2018-06-23 05:43] andraxylia commented on #5580
Please re-open if you still see issues with the 0.8 release and the new alpha3 apis:

https://istio.io/docs/tasks/traffic-management/egress/

[2018-06-23 05:43] #5580 closed

[2018-06-23 05:45] #1679 closed

[2018-06-23 05:46] andraxylia opened #6574 "TCP routing rules are ignored"
@mydoal commented on [Thu May 10 2018](https://github.com/istio/old_issues_repo/issues/334)

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**

Installed from:
https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-0.8-20180504-17-20/

**What happened**:

TCP Routing rules are

[2018-06-23 06:55] liamawhite commented on #6541
I have an upcoming PR that will retrieve all loaded clusters/listeners/route that includes static and dynamic.

Does this cover your requirements?

[2018-06-23 07:16] ldemailly commented on #6541
#358

[2018-06-23 07:31] ldemailly commented on #6283
it’s pilot and shows the data - ptal?

[2018-06-23 08:54] liamawhite commented on #5308
We should unify this all in a single command in istioctl. Users shouldn't be expected to run multiple scripts and commands in order to send this to us. A single command like `istioctl mesh-info dump` should just create an archive for them to send.

We should probably break some of these things down into smaller chunks. Or start by implementing https://github.com/istio/istio/issues/6382 and iterate

[2018-06-23 14:08] Stono commented on #5997
@rshriram no I don't have service entries for those addresses

[2018-06-23 14:10] Stono commented on #5992
@rshriram no it is not possible unfortunately.  We have a centralised PaaS system where istio lives in a single namespaces, and teams deploy apps into further isolated namespaces.

We have 1 istio namespace and all going to plan, 200 application namespaces.

[2018-06-23 14:36] andraxylia commented on #6461
@rokii thanks for the clarification.

[2018-06-23 14:37] andraxylia commented on #6421
@zachgersh How about having the discussion in github?

[2018-06-23 14:43] andraxylia opened #6576 "iptables script does not intercept users whose group ID equals the number specified with -u option"
iptables script from Istio does not intercept users whose group ID equals the number specified with -u option.

https://github.com/istio/istio/blob/master/tools/deb/istio-iptables.sh#L265

For example, say there are two users: user-a and user-b:

username  |  user-id  |  group-id
user-a        |  5001     |  8001
user-b        |  8001     |  8001

If I evoke the script with: "sudo ./iptables.sh -u

[2018-06-23 14:53] andraxylia opened #6577 "Irregular connection reset."
@fudali113 commented on [Sun Apr 08 2018](https://github.com/istio/old_issues_repo/issues/275)

**Is this a BUG or FEATURE REQUEST?:**
BUG
**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
YES
**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Isti

[2018-06-23 16:12] cmluciano commented on #6558
cc @andraxylia @rshriram think we should prioritize/confirm this works for 1.0?

[2018-06-23 16:39] sdake commented on #6504
I was able to reproduce what appears like the Helm chart not rendering properly on 0.8.0 in the sidecar injector.

e.g.:
[code]

[2018-06-23 16:57] sdake commented on #6504
Reading the git logs, `[[` and `]]` are delimiters for sidecar injection configuration.

[2018-06-23 17:38] liamawhite commented on #5005
@nmnellis is this still an issue?

[2018-06-23 17:42] liamawhite commented on #4935
@costinm are you happy to close this?

[2018-06-23 17:43] liamawhite commented on #4868
@costinm I believe this was delivered as part of 0.8?

[2018-06-23 18:51] sdake commented on #6504
I should have been more clear above.  I didn't duplicate the issue - just the helmish looking stuff from the sidecar configmap.  That turns out to not be a problem (I speculated the templates were rendering incorrectly and still somehow functional).

[2018-06-23 19:50] sdake commented on #6470
Note I ran into this today.  The logs were:
[code]
With the last line spewed hundreds of times.  after 2 or 3 restarts, the pod started up correctly.

[2018-06-23 19:51] sdake commented on #6470
@ayj is this a startup ordering issue related to galley?

[2018-06-23 20:44] dcberg opened #6579 "Istioctl CLI fails with a merged KUBECONFIG"
**Describe the bug**
A clear and concise description of what the bug is.

The istio CLI (istioctl) fails to execute commands if the terminal session is using a merged KUBECONFIG. A merged KUBECONFIG is where the KUBECONFIG environment variable lists multiple kubernetes configuration files separated by a `:`. When using a merged KUBECONFIG every `istioctl` command fails with the following message..

[2018-06-23 22:50] aneslozo commented on #5989
I have the same issue. I am trying to figure out what is a problem, but if someone resolve it first please let us know.

[2018-06-23 23:32] lei-tang commented on #5077
The tests have been added in https://github.com/istio/istio/pull/5458.

[2018-06-23 23:33] #5077 closed

[2018-06-24 01:52] wansuiye commented on #6512
i find this description in [The](https://istio.io/docs/reference/config/istio.networking.v1alpha3/#VirtualService)
"hosts field applies to both HTTP and TCP services. Service inside the mesh, i.e., those found in the service registry, must always be referred to using their alphanumeric names. IP addresses are allowed only for services defined via the Gateway."

Does this mean that requests with  a

[2018-06-24 03:53] rokii commented on #6541
@liamawhite Exactly!

[2018-06-24 07:08] ymesika opened #6581 "Galley fails to be created when RBAC is disabled"
When installing Istio with `global.rbacEnabled=false` Galley fails to create containers with the following errors:

[code]

[2018-06-24 07:13] ymesika commented on #6470
Sleep or even request timeout is just a temporary solution because each platform is different than the other in the time it takes to bring up the various components.
We need to figure a way to have dependencies between the helm charts as galley needs to available before starting the other charts. I will look into what Helm has to offer.

[2018-06-24 07:37] ymesika commented on #6581
This has been solved in master. I was using another branch.

[2018-06-24 07:37] #6581 closed

[2018-06-24 07:57] ymesika opened #6582 "Mixer post-install fails to complete when RBAC is disabled"
When installing Istio with `global.rbacEnabled=false` istio-mixer-post-install keeps restarting with the following repetitive errors in failed logs:

[code]

[2018-06-24 08:27] liamawhite commented on #6541
@rokii https://github.com/istio/istio/pull/6575

[2018-06-24 09:36] gyliu513 commented on #6579
@dcberg @ymesika Is this duplicate with https://github.com/istio/istio/issues/4081 and already fixed in master?

[2018-06-24 10:12] ymesika commented on #6579
@gyliu513 Yes, I just wanted to re-verify it first before closing.

@dcberg We now have a new `context` flag so you can also choose a context when using istioctl: `istioctl get all --context my-context`.

[2018-06-24 10:12] #6579 closed

[2018-06-24 10:53] ymesika commented on #6576
@andraxylia Should we just replace L264-265 with:

[code]

[2018-06-24 11:42] wansuiye commented on #6469
i met the sanme problem ,but i canot make it work by add host "host:port" in virtualservice hosts section, err message is
"Error: configuration is invalid: 2 errors occurred:

* domain name "xxx.xxx:9090" invalid (label "io:9090" invalid)
* xxx.xxx:9090 is not a valid IP"

Environment
Kubernetes

[2018-06-24 11:55] craigbox commented on #1857
help wanted is tagged already...

[2018-06-24 12:10] apettey commented on #6520
@ymesika I ran into this issue today, I pulled and configured for 1.10.4-gke.2. What do you think about upgrading the PR to match with latest? Perhaps it will be supported for longer than 1.9.7-gke.3, although the rate goggle is going this might be void.

[2018-06-24 12:45] ymesika opened #6583 "Helm install error when enabling Kiali"
When trying to install Istio from master with Kiali enabled an error is being printed.

Install command:
[code]
Error:
[code]

[2018-06-24 13:07] iblazhko commented on #6520
@ymesika I don't think there is such thing as a LTS GKE, see https://cloud.google.com/kubernetes-engine/versioning-and-upgrades

[2018-06-24 13:28] dcberg commented on #6579
@ymesika what version of the istio CLI is this new flag?

Are you saying that the istioctl will *NOT* respect the current context from the kubernetes config?

[2018-06-24 13:52] ymesika commented on #6579
It will respect the current but you can overwrite it with a different one if you have multiple contexts within your config.

This has been added after the 0.8.0 release and any recent daily release has this and the multiple paths bug fix.

[2018-06-24 14:32] #6517 closed

[2018-06-24 14:40] ymesika commented on #6388
@ntcong After following your steps to reproduce I have some good news and some bad.
The good news is that I also got 503 and your scenario works when you update the `VirtualService` to point to a FQDN of the Bookinfo service like below:
[code]
__AND__ creating it in the namespace of the app:
[code]

The bad news is that the release has a validation issue that denies having `.` in the host name and

[2018-06-24 14:40] #6388 closed

[2018-06-24 14:47] apettey commented on #6520
@ymesika Some people are saying that 1.10 is not supported, I found that the following two bugs have been resolved taken from the notes:
[code]
I am spinning up another GKE cluster using `latest`, it did work so I will test and give feedback here.

[2018-06-24 14:56] ymesika commented on #6520
Thanks @apettey.
I meant that maybe we specify just a major version instead of being very picky about the exact one.
I believe that minimum requirement for 1.0 will be 1.9 so we can just use that tag.

[2018-06-24 15:03] ymesika commented on #6576
And it's the exact duplicate of #6557

[2018-06-24 15:03] #6576 closed

[2018-06-24 15:14] ymesika commented on #6571
This should be fixed by #5973

[2018-06-24 15:14] #6571 closed

[2018-06-24 15:47] #6583 closed

[2018-06-24 16:02] apettey commented on #6520
To finalize, everything works great right `now` using latest instead of `1.9.7-gke.3` and `1.10.4-gke.2`. General tests and everything is running, this is still using kubectl 1.9.6.

My view is that latest can be considered a bit dangerous however with the current upgrade paths of Kubernetes and GKE it is more than likely the best solution right now. Short term it will reduce the number of PR's fo

[2018-06-24 20:58] ZhiminXiang commented on #6558
Thanks @ymesika for looking into this.
I just tried from pod samples/sleep, it works.

Then I tried to set up below Gateway and VirtualServices so that I can curl from outside of service mesh. But the timeout does not work.
[code]
I have ran "istioctl proxy-config pilot mesh ads " to verify that these two VirtualServices have been applied. See https://paste.googleplex.com/6272946473533440

[2018-06-24 23:35] aminebizid opened #6586 "Missing doc for building and running from source"
Any link please

[2018-06-25 01:59] ldemailly commented on #4484
not stale

[2018-06-25 02:01] ldemailly commented on #888
not stale (not the most useful bot)

[2018-06-25 02:02] ldemailly commented on #454
bots...

[2018-06-25 02:04] ldemailly commented on #5509
closing this in favor of more current data

[2018-06-25 02:04] #5509 closed

[2018-06-25 02:42] jicowan commented on #5327
Still encountering the issue with kubectl 1.10.4 and istioctl 0.8.0.

[2018-06-25 05:09] tushar00jain commented on #5878
@guptasu awesome thanks will try soon

[2018-06-25 05:48] liamawhite commented on #4999
@johnzheng1975 could you give a quick summary of the issue you see in 0.8?

[2018-06-25 05:52] tushar00jain commented on #5940
@andraxylia yes containerPorts are specified
[traffic-management.txt](https://github.com/istio/istio/files/2131858/traffic-management.txt)

[2018-06-25 05:59] ldemailly commented on #4133
not stale

[2018-06-25 06:00] ymesika commented on #6586
Dev information can be found in [the Wiki](https://github.com/istio/istio/wiki).
If you are building from scratch please let us know if there is info there missing or inaccurate.

[2018-06-25 06:00] #6586 closed

[2018-06-25 06:05] ymesika commented on #6558
In your YAMLs above the ingress traffic is being routed to the httpbin:8000 without any timeout. So it's expected that there won't be any timeout.

[2018-06-25 07:21] aminebizid opened #6587 "Unable to access sql azure when using sidecar"
I'm using the ServiceEntry below and I get this error:
[code]

[code]

It works without sidecar

[2018-06-25 07:38] SeriyBg opened #6588 "Servicegraph add query parameter to filter by namespace"
**Is your feature request related to a problem? Please describe.**
When looking at servicegraph for the standard Istio installation you can see a lot of Istio services which makes a lot of noise and make it hard to understand the topology of your application

**Describe the solution you'd like**
I'm think that it would be great to add the query parameter for to filter out the services by namespace

[2018-06-25 07:39] SeriyBg commented on #6588
If you consider this feature, I can try to work on it. It seems easy to implement

[2018-06-25 08:12] ymesika opened #6589 "Remove Pilot's sidecar"
Use the TLS/GRPC port configured by pilot for ADS instead of envoy proxy.
Once v1 is out, remove the sidecar and old ports, since it'll no longer be used.

[2018-06-25 10:30] michaelpjohnson commented on #5327
@jicowan The working solution with kubectl 1.10.4 + istioctl is to download one of the links above from @esnible https://github.com/istio/istio/issues/5327#issuecomment-397845262

The fix is merged to master which means it will be released with istioctl 0.8.1. So you can either build from master, wait until 0.8.1 comes out, or use the links above.

[2018-06-25 11:35] wansuiye opened #6591 "How to route request internal with a external domain"
**Describe the bug**
A clear and concise description of what the bug is.

now i have tow svcs: A and B, B's domain is b.xx.yy, now deploy A and B in istio，but stil use the domain。 i set a virtual service, host is domain and destination is B's serviceName, it can work, but i find the request go through the ingressgateway。How can the request flow internal，while the svcs are all internal

**Expected

[2018-06-25 12:37] sdake commented on #5828
@wattli another possibility with this bug is your servers are not running NTP.  Can you verify NTP was running in this scenario?

Cheers
-steve

[2018-06-25 13:20] esnible commented on #5260
My preference would be to have Istio default to 15s if the timeout is unspecified.  Does anyone object?

[2018-06-25 14:16] aneslozo commented on #5989
@vinayakshnd This issue is related to this one https://github.com/istio/istio/issues/5037
If you remove livenessProbe and readinessProbe from yaml you will see that everything is working as it should.

I am still looking into this.

[2018-06-25 14:18] aneslozo commented on #5037
I can confirm that issue is still present in 0.8.
As soon as I remove readiness and liveness everything is working fine.

[2018-06-25 14:46] xolott opened #6593 "Can't connect to Google Cloud Sql"
**Describe the bug**
Can't connect to Cloud SQL (postgres 9.6) using istio in Google Container Engine (Kubernetes). The service uses the cloudsql proxy sidecar along with istio in the same pod. Tested with a docker container with psql installed to test the connection.

In vanilla kubernetes I can connect to the database:
[code]
But, with istio I got:

[code]

In the early tries I got blocked by th

[2018-06-25 14:52] SeriyBg commented on #6588
Prometheus supports some filter by name, so in the query could be added `{job=".*default"}` so it could be implemented not only to filter by namespaces, but by service names
Can someone discuss which option is more preferable?

[2018-06-25 15:30] ozevren commented on #1983
That code is gone now. We do not do caching at the expression level.

[2018-06-25 15:30] #1983 closed

[2018-06-25 15:33] ldemailly commented on #3619
vgo in theory is the future so we should keep this open

[2018-06-25 15:34] ldemailly commented on #3933
Not stale, image content is still not settled

[2018-06-25 15:35] ldemailly commented on #398
Still needed (helm values for smallest footprint)

[2018-06-25 15:36] ldemailly commented on #626
Andy/costin update ?

[2018-06-25 15:48] ldemailly commented on #2422
Not resolved, not stale

[2018-06-25 15:49] ldemailly commented on #1452
Not stale (bot is only creating noise and busy work :/ )

[2018-06-25 15:56] ldemailly commented on #415
This is still needed

[2018-06-25 16:32] debianmaster commented on #415
This issue still persists in openshift.

On Mon, Jun 25, 2018 at 11:57 PM Laurent Demailly <notifications@github.com>
wrote:

[2018-06-25 16:48] ayj commented on #6470
The security and mixer post-install jobs both use `restartPolicy: Never`. Shouldn't we be using `OnFailure`? That would limit the number of outstanding failed jobs and avoid pod re-scheduling.

[2018-06-25 16:54] a-robinson commented on #6443
Thanks for the quick responses and fix, everyone.

I had a couple different invalid configs and don't remember exactly what they were anymore. I don't remember the name being mismatched, though. I actually believe the last problem with it that I fixed in order to make everything work was just missing the `users:` line, meaning that I had

[code]

instead of

[code]

Also, since it's not clear whet

[2018-06-25 17:00] costinm commented on #6037
Seems like a very good list of improvements to make to our templates so custom changes are not needed.

1. Add an option to do "helm template --set crd_only" to generate a file with only the CRDs (or maybe 'preinstall' ? )

2. Have similar options to generate only prom/graphana/etc - i.e. helm template generating single component for easy upgrade/changes of a component.

3. add the suggested optio

[2018-06-25 17:01] costinm commented on #5944
P0 for 1.0 - mesh expansion and other things will not work well without it. Was left over from 0.8

[2018-06-25 17:03] costinm commented on #6047
Actually - not clear this is needed or good ( and conflicts with the goal of simplified installation ).

We ship docker containers - the install should match the target ports. They are not customisable, and we don't have tests for istio using different ports. If users change the ports and use their own values - they should change helm as well, and not expect us to support them

[2018-06-25 17:05] costinm commented on #6161
Is validation fail open or fail close ?

We can't have it fail close - based on the experience with sidecar injector, it must be opt-in until we are
super confident and had enough user testing.

[2018-06-25 17:06] costinm commented on #6161
Making it P0 to either make it opt-in (enabled by user - either with namespace tags as in sidecar injector or explicit option), or to confirm that it is fail open and if it goes down or has cert problems or anything goes wrong it doesn't affect rest of Istio.

We are moving pilot and other features to beta - I don't t think galley is beta yet or had similar amount of
testing as the rest of Istio.

[2018-06-25 17:08] costinm commented on #6161
Note it is ok to ship and run galley by default - but using validation and new config must be opt-in, not default, for at least 1 release ( so we get soak in and long-term testing ). See the sidecar injector bugs for
what can go wrong.

[2018-06-25 17:10] costinm commented on #6582
See the other bug on not enabling it by default.

For the case user enables it - we need a test suite and this bug fixed.

[2018-06-25 17:12] ayj commented on #6161
Config resource validation is P0 for Beta / 1.0. It shipped with 0.8 defaulting to off. We enabled it by default immediately after 0.8 shipped so we could get early testing for 1.0.

cc @ozevren @geeknoid @jasmine-jaksic

[2018-06-25 17:15] #6589 closed

[2018-06-25 17:34] costinm commented on #4481
Setting it for 1.0 - I think it's required.

[2018-06-25 17:36] costinm commented on #2328
Not blocking for 1.0.

[2018-06-25 17:44] #2203 closed

[2018-06-25 17:48] costinm commented on #4951
Not sure it is a standard practice - I would rather move all dockerfiles in the top level (/docker/mixer/Dockerfile, /docker/pilot/Dockerfile, etc) - and make sure they have a restricted set of owners and are consistent ( same base, etc ).

[2018-06-25 17:51] costinm commented on #6324
Martin going in vacation.

Targeting to 1.0 - since it seems to just not work for batch jobs as expected.

[2018-06-25 17:52] costinm commented on #6324
Quick fix: Add a '/quitquitquit' handler to proxy-agent. Users can manually add a curl or http request to localhost to stop sidecar when the job is done ( or we can add it automatically - but P0 is to have a workaround, we can improve it in 1.1 )

[2018-06-25 17:53] costinm commented on #5075
Not critical for 1.0

[2018-06-25 17:55] costinm commented on #5720
WAI.

[2018-06-25 17:55] #5720 closed

[2018-06-25 17:56] costinm commented on #4340
Not blocking for 1.0.

[2018-06-25 17:57] costinm commented on #6553
Martin - if you get a chance to look at it before vacation it would be great.

[2018-06-25 18:05] wattli commented on #1873
@myidpt , can you help to take a look please? Thanks.

[2018-06-25 18:07] yacut opened #6596 "Istio 0.8.0 mTLS + MongoDB 3.6 does not work"
[code]

**Steps to reproduce:**

1. Deploy Istio 0.8.0 with mTLS: `kubectl apply -f install/kubernetes/istio-demo-auth.yaml`
2. Create and label namespace: `kubectl create namespace mongodb && kubectl label namespace mongodb -istio-injection=enabled`
3. Deploy [MongoDB Chart](https://github.com/kubernetes/charts/tree/master/stable/mongodb) with replica set: `curl -O https://raw.githubusercontent.c

[2018-06-25 18:30] afroDC opened #6597 "GKE Requires "--cluster-version=1.10.4-gke.2" in docs"
**Describe the bug**

Following the GKE instructions for quick starting Istio, the following command fails:

From [here](https://istio.io/docs/setup/kubernetes/quick-start/#google-kubernetes-engine):

Create a new cluster.
[code]

Throws

[code]

GKE no longer supports 1.9.7-gke.1 according to [these release notes](https://cloud.google.com/kubernetes-engine/release-notes)

**Expected behavior**
Ru

[2018-06-25 18:32] baodongli commented on #6443
Are you testing it with this PR: https://github.com/istio/istio/pull/6339? I think it should fix the crash. But let me know otherwise.

For the headless service, do you mean the service that exists in one cluster, but not in others? Yea, right now, it requires them to created manually. We should consider how to automate it.

[2018-06-25 18:32] afroDC opened #6598 "Istio GKE Deployment Manager Fails"
**Describe the bug**
Using the provided link for the GKE Istio Deployment manager throws the following error:

[code]

**Expected behavior**

A successful launch. I'm not sure what to expect, I haven't gotten it to work.

**Steps to reproduce the bug**

Click [this link](https://accounts.google.com/signin/v2/identifier?service=cloudconsole&continue=https://console.cloud.google.com/launcher/config?

[2018-06-25 18:35] ldemailly commented on #5720
what is “WAI”?
afaik it’s still not documented- I ended up using helm template but istioctl gendeploy should be documented

[2018-06-25 18:40] a-robinson commented on #6443
I haven't tested with that, no. I only tested last week with the 0.8 release.

Yes, that's what I mean. How would one create a workable headless service manually? I'm not seeing how the endpoints would ever be populated, particularly as the pods' IP addresses change over time.

[2018-06-25 18:40] #6466 closed

[2018-06-25 18:58] ZhiminXiang commented on #6558
Thanks @ymesika !

Two followup questions:
1. Will the Istio sidecar in server side also check and apply VirtualService? Or only the Istio sidecar in client side applies VirtualService? In my above example, I thought when a request was routed from Gateway to httpbin service, the Istio sidecar in httpbin service would apply VirtualService "timeouttest", which would enforce timeout to 1s. But my und

[2018-06-25 19:00] costinm commented on #6259
Is this realistic for 1.0 ?

Is there a clear design - and understanding of the tradeoffs and what will break ?

[2018-06-25 19:03] ostromart commented on #6553
Could you please describe what steps you took to observe/repro the bug.
After bug happens:
 - kubectl get pods -n istio-system -o wide
 - kubectl describe pods -n istio-system <sidecar injector and citadel pods>

[2018-06-25 19:05] ozevren commented on #3960
It looks like this issue is now a 1.0 ship blocker P0.

[2018-06-25 19:10] costinm commented on #1774
Extracting from Shriram's comments and adding few:
1. Stateful sets / headless services
2. Non k8s environments (we could solve this once we do our own DNS - but it's not scheduled for 1.0)

I think we could do it for k8s and services that have cluster VIPs, it's also not a huge change - but
we still need port-based capture for at least the 2 cases above.

[2018-06-25 19:11] geeknoid commented on #3960
Correct, we should not ship with the default being fail open.

[2018-06-25 19:12] kidiyoor opened #6601 "enable node_agent(running in GCE) to generate certs for non 'default' namespace"
Currently node_agent running in GCE is capable of generating certs only for default namespace. However for non-GCE VMs we are able to generate certs for other namespaces by provisioning the initial cert(copy the cert from required namespace).

node_agent should get namespace info as cmd parameter of ENV variable.

[2018-06-25 19:28] costinm commented on #6259
@rshriram  Scenario is:
Service A - port 8000
Service B - HTTP, port 9000
Attacker connects to a pod on Service A, on port 9000, and makes a request with "Host: b". It hits the *:9000 listener, which forwards to service B (with A's credentials).

This is only a problem for outbound path - inbound is fine ( connecting to A on port 8000 correctly goes to the inbound listener ).

[2018-06-25 19:29] costinm commented on #6259
What setting container port does is changes iptables capture, so only the ports that are used by the app are captured by the inbound table.

That means an app connecting to Service A pod on port 9000 will not be intercepted by iptables/envoy, so request will be rejected.

[2018-06-25 19:38] monubamb commented on #6553
I have not been able to get this working successfully. The istio-side car pod keeps crashing and even when it shows as running 'ingressgateway' does not resolve the productpage. I can get productpage to work fine standalone with port-forwarding but not with ingress. i do see sidecar proxy running inside the product pod. need soome help.

details-v1-1967954601-864bw                 2/2       Runnin

[2018-06-25 19:40] monubamb commented on #6553
Crashed again..

Created by
Name
Kind
Labels
Pods
Age
Images
error
istio-sidecar-injector-663956164
replicaset
istio: sidecar-injector
pod-template-hash: 663956164
1 / 1
an hour
docker.io/istio/sidecar_injector:0.8.0
Back-off restarting failed container
Error syncing pod
Events
Message
Source
Sub-object
Count
First seen
Last seen
Container image "docker.io/istio/sidecar_injector:0.8.0" already pre

[2018-06-25 19:41] ymesika commented on #6597
Duplication of #6520

[2018-06-25 19:41] #6597 closed

[2018-06-25 19:47] ayj commented on #6553
Possibly related to https://github.com/istio/old_issues_repo/issues/383. Increasing the readiness/liveliness delay/interval would help rule that out.

[2018-06-25 19:49] ymesika commented on #6598
See the discussion in #6520 .
Other devs were using `latest` GKE tag to successfully install it or you can simply use `1.9` to get the lates available 1.9 version from GKE.

We will update the doc and the jinja file to be less coupled with specific versions of GKE platform.

[2018-06-25 19:49] ozevren commented on #3960
@JimmyCYJ @liminw any thoughts on how/when we can land fail-close?

[2018-06-25 20:19] ozevren commented on #6161
There is TOC note here regarding targeting 1.9 and 1.10.
https://docs.google.com/document/d/13lxJqtlaQhmV2EwsNnS6h-_O4pobZQZuMjrzOeMgVI0/edit#

Where do we document minimum & recommended Kubernetes versions on istio.io? The only reference I see is here for 1.9 recommendation:
https://istio.io/docs/setup/kubernetes/quick-start/

Let's nail minimum/recommended versions first (as @ymesika mentioned).

[2018-06-25 20:31] ostromart commented on #6553
One more thing:
kubectl logs -p -n istio-system istio-sidecar-injector-663956164-ncpvn

[2018-06-25 20:34] jasmine-jaksic commented on #3295
Team, we need to figure out what specifically can be done within the next couple of weeks (for 1.0 launch)

@ldemailly and @lizan Did either of you try increasing the QPS to see if that made a difference?

@kinghrothgar can you provide more specifics?

[2018-06-25 20:39] afroDC commented on #6598
Sounds good. Thanks @ymesika

[2018-06-25 20:39] #6598 closed

[2018-06-25 20:39] jasmine-jaksic commented on #5865
@nixgadget are you encountering this issue with 0.8?

[2018-06-25 20:41] zachgersh commented on #6421
@andraxylia - I'd prefer not to revert this because that just puts us in a state where we are again broken. I think the behavior right now (with protocol) stays the same all the way through is correct. The true fix, though it is long term, is that envoy supports h1.1 --> h2 upgrade and then this problem disappears completely.

So instead of thrashing on this I think we prioritize that work if more

[2018-06-25 20:47] costinm commented on #6259
For tracking, if the change is made please reopen (and test):
  https://github.com/istio/istio/issues/5865

[2018-06-25 20:49] costinm commented on #5865
With 0.8 it should not be a problem: 0.8 does not intercept any port not declared as container port, and since you use different port the request doesn't use the sidecar.

This may change - https://github.com/istio/istio/issues/6259 - closing this bug since it's not reproductible or actionable at this point, we'll need to make sure 6259 PR doesn't add this back.

[2018-06-25 20:49] #5865 closed

[2018-06-25 20:52] jasmine-jaksic commented on #5588
@costinm What could potentially be done to fix this? And can it be done in 1.0 timeline?
Also, has anyone complained about the 60sec push (delays on large clusters)?

[2018-06-25 20:53] jasmine-jaksic commented on #5204
Does this issue still exist with 0.8 upgrade?

[2018-06-25 20:53] costinm commented on #5588
Just got back from vacation - not clear yet if the locking is the root cause (would be easy to fix), I agree that 60 sec delay on pod is not acceptable and needs to be fixed. Once I can repro and understand the root cause I can have an estimate.

[2018-06-25 20:54] costinm commented on #5588
(the 60 sec was a gross fix to unblock 0.8 launch - not intended as a permanent solution)

[2018-06-25 20:55] monubamb commented on #6553
2018-06-25T20:48:51.419017Z     info    version root@48d5ddfd72da-docker.io/istio-0.8.0-6f9f420f0c7119ff4fa6a1966a6f6d89b1b4db84-Clean
2018-06-25T20:48:51.421178Z     info    New configuration: sha256sum 6fb54ce8cab658754b93e2064ea052a1cd0682a6a385ea03d4ebe66707327e2a
2018-06-25T20:48:51.421205Z     info    Policy: enabled
2018-06-25T20:48:51.421221Z     info    Template: |
  initContainers:
  - n

[2018-06-25 20:59] JimmyCYJ commented on #3960
I will discuss with @liminw about how to land fail-close. I think what we need to do is let pilot set network_fail_policy to FAIL_CLOSE in mixer client config. That will let it fail if Mixer can't be contacted for Check.  https://github.com/istio/api/blob/master/mixer/v1/config/client/client_config.proto#L75

[2018-06-25 21:01] jasmine-jaksic commented on #6463
@sdake can you please confirm this is just a doc issue? It's a blocker for 1.0 release

[2018-06-25 21:04] vinayvenkat opened #6605 "Instructions to enable Istio with Kubernetes with the MutatingWebhookConfiguration enabled"
**Describe the bug**
I've been following the Istio instructions to deploy the side using automatic injection at
https://istio.io/docs/setup/kubernetes/sidecar-injection/#automatic-sidecar-injection

However, I've been unsuccessful in getting the automated injection to work. I've followed the instructions verbatim and ensure I'm using the right kubernetes version as well as the right Istio version.

[2018-06-25 21:15] kvudata commented on #6371
@vadimeisenbergibm, here are the requested outputs:
[code]

@prune998, I'm using curl `curl 7.54.0 (x86_64-apple-darwin16.0) libcurl/7.54.0 SecureTransport zlib/1.2.8` on OS X 10.12.6

[2018-06-25 21:18] PiotrSikora commented on #6421
Broken how, exactly?

The previous behavior is the correct one (configure/negotiate HTTP protocol version on each leg). Yes, we could optimize it with opportunistic upgrades to HTTP/2, but that's only an optimization.

The behavior introduced in #6158 completely ignores capabilities of other peers and forces HTTP protocol version negotiated on the downstream leg to peers that don't even support it

[2018-06-25 21:20] jasmine-jaksic commented on #2468
@ijsnellf Are you working on this? If so, can you provide an update (and ETA)?

[2018-06-25 21:30] costinm commented on #6421
I think if this affects gateway - it's P0, it means gateways is unusable.

A H2 client should be able to talk with a H1 backend using the gateway - it's basic HTTP functionality.

[2018-06-25 21:36] ayj commented on #6504
The injection configuration is also a template. Using helm we have a template of a template :/. We've used different delimiters to differentiate - `{{` and `}}` for the _outer_ helm template and `[[` and `]]` for the _inner_ injection template.

[2018-06-25 21:43] monubamb commented on #6553
FYI.. this is running under ACS / Kubernetes in Azure

[2018-06-25 22:00] ayj opened #6607 "Create playbook for Galley webhook configuration service"
Per the [revised istio.io proposal](https://docs.google.com/document/d/10N7-nhtL0grTTakFAkoLNQq2Ee81pSoEOyu-Y0IvqD4/edit#bookmark=id.iri249fe6mgk), we should create a  Ops-oriented content for the galley webhook configuration service.

See related https://github.com/istio/istio/issues/6608

[2018-06-25 22:02] ayj opened #6608 "Create playbook for Sidecar injector service"
Per the [revised istio.io proposal](https://docs.google.com/document/d/10N7-nhtL0grTTakFAkoLNQq2Ee81pSoEOyu-Y0IvqD4/edit#bookmark=id.iri249fe6mgk), we should create a  Ops-oriented content for the sidecar injector service.

See related https://github.com/istio/istio/issues/6607.

[2018-06-25 22:06] ayj opened #6609 "Add telemetry to galley config validation service"

[2018-06-25 22:12] sdake commented on #6463
@jasmine-jaksic I'll take a look thanks.

Cheers
-steve

[2018-06-25 22:21] kyessenov commented on #5696
/assign @kyessenov

[2018-06-25 22:45] geeknoid commented on #6266
The repo has been renamed to old_issues_repo, and description+template were updated to point people to istio/istio, so we're as close as we can get to deleting the repo outright, without moving items.

[2018-06-25 22:47] PiotrSikora commented on #6384
@andraxylia this should be targeting 1.0, otherwise we're going to ship the half-working solution based on TLS multiplexing (https://github.com/istio/istio/issues/5059).

cc @incfly @diemtvu @wattli @wenchenglu

[2018-06-25 22:59] costinm commented on #5454
AFAIK it works - but needs testing.
@vilobhmm  - if you have some time, please check it, if it works we can document it in 0.8.
( code is using ServiceEntry labels to set the equivalent of the zone aware node annotations)

[2018-06-25 23:03] costinm commented on #4702
I think this should be in 1.0 - it's very important for any user with multiple zones, and a regression that it no longer works.

[2018-06-25 23:03] liminw commented on #3960
I am fully supportive for making the default FAIL_CLOSE for Check calls. I have brought this up several times when we were working on OPA adapter and later RBAC adapter. FAIL_OPEN is completely unacceptable for any serious security check. I was told previously that there was some concern for making the default FAIL_CLOSE, and hence I filed the issue to make it configurable. I am glad that we have

[2018-06-25 23:05] costinm opened #6613 "Move networking APIs to beta1"
I think it should be P0, filling it initially as P1.

What is required:
- create the beta1 resources
- change the k8s code to read both alpha3 and beta1 - same proto and validation.
- verify both alpha3 and beta1 configs are loaded - to support upgrade from 0.8
- change docs, examples, tests to use beta1

[2018-06-25 23:10] costinm opened #6614 "Verify 1.0 performance/scalability"
This was quite time consuming in 0.8 - we need to get it started much earlier in case there are regressions.

We need to repeat the typical Fortio tests - with/without mtls, with/without policy, via ingress and service-to-service, and compare with the similar tests in 0.8.

Also this time we also need to run the tests with auto-scaling enabled and repeat the 'large number of endpoints/services' te

[2018-06-25 23:35] sdake commented on #6463
With RBAC disabled via helm (with 0.8.0) istio-pilot fails to start:
[code]

I'll have to look into this on master.

[2018-06-25 23:51] sdake commented on #6463
With minikube 0.28.0 and kubernetes 1.10.0 kubedns fails (prior to installation of Istio) with the flags `    --extra-config=apiserver.Authorization.Mode=RBAC`

The describe of kube-dns is here:
[code]

[2018-06-26 00:04] gyliu513 commented on #5944
@costinm what do you mean by 'mesh expansion and other things will not work well without it'? I think we do not want to let end user set service type but want to use gateway?

For service mesh expansion, we may need to add the https://github.com/istio/istio/blob/master/install/kubernetes/mesh-expansion.yaml to the helm chart as well and use a parameter to decide if customer want to enable it or no

[2018-06-26 00:06] sdake commented on #6508
@monubamb you mentioned in the bug report your using Azure VMs.  What deployment tool did you use to deploy Kubernetes?

Cheers
-steve

[2018-06-26 00:07] #4856 closed

[2018-06-26 00:07] kyessenov opened #6617 "mixerfilter: incorrect TCP metrics"
TCP filter occasionally reports incorrect reports `connection.received_bytes`:
[code]

/assign @qiwzhang @JimmyCYJ

[2018-06-26 00:08] #5033 closed

[2018-06-26 00:20] sdake commented on #6463
The Minikube documentation here states:
https://github.com/kubernetes/minikube/blob/master/docs/configuring_kubernetes.md#examples

the flag is:
`--extra-config=apiserver.Authorization-Mode=RBAC`

The flag reported as working in this issue is `--extra-config=apiserver.Authorization.Mode=RBAC`

[2018-06-26 01:16] quanjielin opened #6620 "non cluster scoped authN policy CRD validation fail with namespace passed from istioctl"
**Describe the bug**
[non cluster scoped authN policy CRD validation fail](https://github.com/istio/istio/blob/da6d5e4200f06518df5c3532113b717f6c2b5f7e/pilot/pkg/model/validation.go#L1753) with namespace passed from istioctl

**Expected behavior**
CRD validation should pass

**Steps to reproduce the bug**
1. follow https://istio.io/docs/tasks/traffic-management/ingress to setup env(used docker ima

[2018-06-26 01:17] quanjielin commented on #6620
/cc @diemtvu

[2018-06-26 01:29] monubamb commented on #6553
I dont see that issue anymore... Pod is crashing for some other reason. here is the more pod information
describe and logs

kubectl --namespace=istio-system describe pods istio-sidecar-injector-663956164-ncpvn
Namespace:      istio-system
Node:           k8s-agent-a1c5ad3f-0/10.240.0.4
Start Time:     Mon, 25 Jun 2018 10:57:37 -0700
Labels:         istio=sidecar-injector
                pod-templa

[2018-06-26 01:30] monubamb commented on #6553
If this is indeed Probe liveliness issue, WHERE do i make that change to increase the timeout?

[2018-06-26 01:34] rshriram commented on #2468
A big blocker for this is supporting destination/source ip/cidr matching in Envoy. Cc @PiotrSikora
We have some basic stuff out for a PR though

[2018-06-26 01:40] sdake commented on #6463
The bootstrap option `-b=localkube` is deprecated in 0.28.0.  In addtiion, the default 2GB of ram is not sufficient to run minikube VM + Istio + bookinfo with automatic injection (the default).  Further, minikube does not support metallb or any type of cloud provider (meaning the service object type `LoadBalancer` is not available - only `NodePort` is available.

This workflow works for me and pro

[2018-06-26 01:43] sdake commented on #6463
@jasmine-jaksic TLDR - docs are wrong and look to have not been updated in some time related to minikube.  With correct workfow, Istio 0.8.0 works perfectly with automatic injection.  Also 0.8.0 RBAC disabled does not render a correct chart. I know there have been several changes in master related to rbac - will open a different issue for that if its a problem on master.

[2018-06-26 02:19] wansuiye commented on #6146
@andraxylia Can you please provide an example YAML for your suggestion? I will try and see if it works.

[2018-06-26 02:57] sdake commented on #5310
@janevalleye2e how did you install Kubernetes?  You mentioned you have 1.8.6 of kubectl.  can you run kubectl version?

Would you be willing to try the 0.8.0 release?  The April/May pre releases were a bit buggy.

Cheers
-steve

[2018-06-26 02:59] sdake commented on #5944
@gyliu513 all service types throughout Istio can be customized between NodePort and LoadBalancer.  I'm not sure what is left to be done for  this issue?

Cheers
-steve

[2018-06-26 03:02] sdake commented on #6582
@costinm can you link the issue where it was suggested RBAC should be disabled by default?  I'm not sure what the use case is for not installing with RBAC all the time.

Cheers
-steve

[2018-06-26 03:04] PiotrSikora commented on #6421
@andraxylia why reopen? @markns previously [confirmed](https://github.com/istio/istio/issues/6421#issuecomment-399459602) that reverting #6158 fixes this issue.

[2018-06-26 03:30] sdake commented on #6582
@ayj I ran this against PR https://github.com/istio/istio/pull/6595 with RBAC disabled.  With RBAC enabled, things work fine.

I have the same result as @ymesika :
[code]

[2018-06-26 03:40] sdake commented on #6582
caBundle is "" - is this correct?
[code]

[2018-06-26 03:50] Yisaer opened #6621 "Upgrade Istio into 0.8version and istio-mixer still be version 0.7.1"
**Describe the bug**
Hi, I am using Istio0.7 and recently i upgrade Istio into 0.8 verison with no auth by [following steps](https://istio.io/docs/setup/kubernetes/upgrading-istio/)
And I found that my istio-mixer 's version is still be 0.7 while others version are still 0.8. Is it correct?
![123](https://user-images.githubusercontent.com/13427348/41888092-40e814ec-7936-11e8-975a-f2a2a80351fe.png)

[2018-06-26 04:51] andraxylia commented on #6421
@PiotrSikora I agree the revert is the way to good, I must have re-opened it when I assigned the pipeline, did not notice it got closed meanwhile. Closing it.

[2018-06-26 04:51] #6421 closed

[2018-06-26 04:52] vadimeisenbergibm commented on #6371
@kvudata The values you shared seem correct. And do you use `curl --resolve httpbin.example.com:$SECURE_INGRESS_PORT:$INGRESS_HOST -HHost:httpbin.example.com -I -k https://httpbin.example.com:$SECURE_INGRESS_PORT/status/200` to test your ingress?

Additional check to perform, run `kubectl exec -it -n istio-system $(kubectl -n istio-system get pods -l istio=ingressgateway -o jsonpath='{.items[0].me

[2018-06-26 04:54] andraxylia commented on #6384
@PiotrSikora great if it makes it in 1.0, but according to @louiscryan it is not a P0 for 1.0, he assigned it to 1.1.

[2018-06-26 05:00] andraxylia commented on #6146
K8s does not support variabe cidr range AFAIK, the cluster and service IP are supplied when the kube-apiserver is started. Even with stable ranges, we still do not have the API. I asked k8s for the API about 1 year ago, when we initially added the include IP ranges, and it is still not there.

[2018-06-26 05:03] andraxylia commented on #6146
Especially because we are dealing with changing CIDRs, we need a more dynamic solution that what k8s apis would offer. Using the VirtualService was suggested by Louis, if this does not work maybe we can make it work.

[2018-06-26 06:36] sdake commented on #6605
Kubernetes 1.8 (your client) does not support mutating webhooks.  Can you try a newer version of kubectl?

Also, I'd recommend using 0.8.0 as its an LTS and 0.7.1 is unsupported.  The 0.8.0 version enables webhooks by default.  Documentation is here:
https://istio.io/docs/setup/kubernetes/

Cheers
-steve

[2018-06-26 06:39] sdake commented on #6470
The latest TOC notes list Kubernetes 1.9 and 1.10 as the supported versions, however, other versions should work (YMMV).

[2018-06-26 06:41] sdake commented on #6161
Note the sidecar is enabled by default at present:
https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/values.yaml#L205

[2018-06-26 06:52] ymesika commented on #6470
@sdake Good decision. Can we move to Hyperkube 1.9.x then?

[2018-06-26 07:37] Yisaer commented on #6621
Dashboard is [kubernetic](https://kubernetic.com/) and thx your reply 👍  @ymesika

[2018-06-26 08:02] shenjieyao commented on #6504
Sorry ! I didn't clearly understand what your comments meaning  .Do I need to change sidecar configmap? or is this problem a bug and  you will fix it in milestone 1.1?

[2018-06-26 08:16] wansuiye commented on #6146
@andraxylia thanks for your reply,
you suggested above:"We need to configure a VirtualService for host * that points to a ServiceEntry with resolution NONE. The VirtualService * will be matched after the specific hosts."
how to configurate it ?

[2018-06-26 09:00] zxDiscovery opened #6623 "Fortio can't be accessed through the istio-ingressgateway in release-0.8"
Have follow the guide to run istio performance test: https://github.com/istio/istio/blob/release-0.8/tools/README.md
The guideline still use istio ingress to access the fortio with sidecar and indeed it works.

But have tried to access the fortio through the istio-ingressgateway, but it doesn't work.
The follow is my gateway and virtualservice definetion:
[code]

Why the release-0.8 can't support

[2018-06-26 09:06] morvencao commented on #6623
Istio-0.8.0 release version still use istio ingress and `routerules` to access fortio service.
https://github.com/istio/istio/blob/release-0.8/tools/perf_k8svcs.yaml#L67-L84
https://github.com/istio/istio/blob/release-0.8/tools/perf_istio_rules.yaml

[2018-06-26 10:08] Lord-Y opened #6624 "unknown flag: --configStore2URL"
Hi all,

When you tried to install istio with chart version 0.2.13-chart4, you can't because of this flag. In the help of the mixer you have
`--configStoreURL string
`
In the template templates/deployment/mixer.yaml you must replace configStore2URL by configStoreURL

To reproduce it:
[code]
Log of my pod:
[code]

My kubectl version:
[code]
Auth is enable and I'm deploying istio on gcloud.

Thx

[2018-06-26 10:23] JCzz commented on #5295
I went on using Ambasador as an edge service exposign istion. I will test
it before full deployment and get back. Thanks for the reply.

Regards
Christian

Den lør. 23. jun. 2018 kl. 05.43 skrev Andra Cismaru <
notifications@github.com>:

[2018-06-26 11:12] ymesika commented on #6624
This flag no longer exists in any helm chart. We also don't have `istio-mixer-*` pods anymore.
What version of istio are you using? What is the `incubator/istio`?

[2018-06-26 11:32] prune998 commented on #6371
@kvudata don't use OSX `curl`...  use a linux curl or go with https://httpie.org/

[2018-06-26 11:58] prune998 commented on #6469
@wansuiye please give the full virtualService Manifest.

[2018-06-26 12:40] Stono opened #6626 "Response time and Response Size queries slow"
Hey,
One for @douglas-reid
Something we've noticed today is that the response time and response size graphs on the individual service dashboard are slow to load on applications which have a high frequency of deployments (this particular app is deployed 30-40 times per day.

<img width="1680" alt="screen shot 2018-06-26 at 13 37 29" src="https://user-images.githubusercontent.com/1486729/41912040-4e

[2018-06-26 12:41] Lord-Y commented on #6624
Yes `incubator/istio` as previously mentionned but I figure this out. I was using chart version 0.2.13-chart4 and then I saw that istio-0.3.0 version exist here https://kubernetes-charts-incubator.storage.googleapis.com/.
The thing is when you try to deploy istio version 0.8.0 this charts istio-0.3.0, you can't because there is no docker ca image version 0.8.0 on docker hub.
[code]
The last versio

[2018-06-26 12:46] ymesika commented on #6624
In 0.8.0 CA is called `Citadel`

[2018-06-26 12:54] arnecls commented on #6511
FYI: After upgrading the whole cluster to 1.10.4-gke.2 (with the non-working setup still in place and not touched) it started working.
After removing and re-deploying Istio on that cluster it's still working, so I guess there is some incompatibility with 1.10.2-gke.3.

[2018-06-26 13:58] sgilsonapigee opened #6627 "istio-sidecar-injector pod shows "CrashLoopBackOff" on Kubernetes version 1.8.x or earlier"
If you install Istio 0.8.0 on Kubernetes version 1.9 or earlier, you will see an error in the pod for the istio-sidecar-injector.

$ kubectl get pods -n istio-system

NAME                                        READY     STATUS             RESTARTS   AGE
istio-sidecar-injector-7d58f79779-bxtld     0/1       CrashLoopBackOff   573        1d

While you can ignore that error, it should not occur.

**

[2018-06-26 14:16] frankbu commented on #5940
Your whitelist checking is done in the server-side sidecar, while routing is done in a client-side sidecar. The request path is `client` -> `client sidecar` -> `server-sidecar` -> `server`. So, I would say that you probably have the sidecar in your app pods (v1 and v2), but you're not calling your app from a client with a sidecar. How are you testing?

I would suggest you try running the [sleep se

[2018-06-26 14:17] hkshaw1990 opened #6628 "Unsupported argument --admission-service in pilot template file"
**Describe the bug**
`--admission-service` exists as an argument to `pilot-discovery` in `install/kubernetes/templates/istio-pilot.yaml.tmpl` template file:
[code]
`--admission-service` is not supported by `pilot-discovery` anymore:
[code]
The templates in helm charts are however have been updated.

**Expected behavior**
`--admission-service` argument to be removed from the template file.

**Versi

[2018-06-26 14:18] Lord-Y commented on #6624
I finally make version 0.8.0 works but following only istio documentation on istio website.

[2018-06-26 14:18] #6624 closed

[2018-06-26 14:33] ymesika commented on #6627
What is Anchor?
Sidecar injector in Istio 0.8.0 are base on a Kuberenete feature called Mutating Webhooks which is only available from K8s v1.9.
We documented it [here](https://istio.io/docs/setup/kubernetes/sidecar-injection/).

[2018-06-26 14:36] ymesika commented on #6628
`istio-pilot.yaml.tmpl` and any other template in `install/kubernetes/templates` are not updated and will be removed soon (#6585).
Installation should be done with Helm template/install.

[2018-06-26 15:02] hkshaw1990 commented on #6628
@ymesika thanks for the update. Will close this issue then.

[2018-06-26 15:02] #6628 closed

[2018-06-26 15:05] monubamb commented on #6553
If this is indeed Probe liveliness issue, WHERE do i make that change to increase the timeout?

[2018-06-26 15:22] ozevren commented on #1493
Kuat,
Can you please add more info/context into this bug?

[2018-06-26 15:30] Lord-Y opened #6630 "Grafana service improvements"
Hi guys,

Grafana service charts is not good enough. If you want to expose grafana with an internal IP or public IP with firewall you can't with the default chart.
You guys can take example on `stable/grafana` chart service for the improvements from `helm repo url https://kubernetes-charts.storage.googleapis.com`.

With this improvements, people will be able to do:
[code]

Cheers.

[2018-06-26 15:31] ldemailly commented on #1485
is it still an issue with ADS / 0.8 v2 proxies?

[2018-06-26 15:33] ldemailly commented on #1484
open a new issue if needed based on current data

[2018-06-26 15:33] #1484 closed

[2018-06-26 15:34] #1680 closed

[2018-06-26 15:41] tcnghia commented on #5204
I no longer observe this when moving to v1alpha3.

[2018-06-26 15:42] sdake commented on #6470
@ymesika I'll ask the TOC mailer for a commitment so we aren't left guessing and get back to you.

Cheers
-steve

[2018-06-26 15:46] #5204 closed

[2018-06-26 16:00] jasmine-jaksic commented on #6463
@sdake Thank you for verifying the issue and fixing the documentation so quickly.

[2018-06-26 16:04] prune998 commented on #6486
Hi there.
I'm the one who wrote the blog post cited here.

As of Istio 0.8.0  I recommend not using the `HTTP` challenge and go with the `DNS01` one. I'm about to write a blog post about it.

There's still some issues here and I don't see any simple way to resolve them :
# you can define only one `Gateway` per port
This means that if you have `1.site.com` and `2.site.com` both listening on the por

[2018-06-26 16:18] rshriram commented on #4810
@smawson why move to P1 ? Issues in this epic are in P0 still.

[2018-06-26 16:26] sdake commented on #6582
@smawson @jasmine-jaksic IMO this should be a P0.  Alternatives to actually fixing this problem include:

1. Documenting that the flag --set global.rbacEnabled=false does not work and will yield a nonfunctional Istio
1. Removal of the global.rbacEnabled flag from the templates

What is the use case for running without RBAC?  I get in Kubernetes 1.6 RBAC was painful, but in 1.9/1.10 RBAC is rock so

[2018-06-26 16:28] ostromart commented on #6553
Take a look at the merged issue above - either pick up that change, or set --healthCheckInterval=1s in your yaml above.

[2018-06-26 16:28] ymesika commented on #6582
+1 Removal
Will also cleanup all charts with those if enabled conditions.

[2018-06-26 16:31] ostromart commented on #6504
A couple of fixes address the symptoms you describe - hopefully they will work for you:
https://github.com/istio/istio/pull/6610
https://github.com/istio/istio/pull/6435
Please update to the latest and see if the issue persists.

[2018-06-26 16:37] douglas-reid commented on #6626
@Stono i wonder if this is because it is trying to load all the p*s at the same time for each version?

BTW, does each deployment have a unique name?  Would you ever want an individualized workload graph?

[2018-06-26 17:04] rshriram commented on #1774
I thikn the LDS churn would be too high. Coupled with the fact that @kyessenov complained that disabling RDS from LDS caused mixer filter's cache to go haywire, we are looking at a LDS+RDS request for every service in the system. Which seems wasteful given that we can collapse all http listeners on a port into a single listener with a single RDS call.

[2018-06-26 17:14] #4743 closed

[2018-06-26 17:32] ayj commented on #6582
Yes (ish). The sidecar injector and config validation webhooks patch `caBundle` with the caCert data when running once certs are provisioned. With `rbacEnabled=false`, use of service accounts is disabled and thus Citadel provisioned certs are not generated for the webhooks.

The [Istio Webhook Cert/Key Management]( https://goo.gl/tVJRdY) design requires the precedence of Citadel (Istio CA) and use

[2018-06-26 17:40] nmittler commented on #5992
@rshriram given that renaming one of the ports resolves the problem, wouldn't involving the namespace into the key be a reasonable fix?

[2018-06-26 17:41] nmittler commented on #5968
@mandarjog gentle ping :)

[2018-06-26 17:43] nmittler commented on #1425
We really should get something going here ... is anyone looking into this?

@ijsnellf @wattli I see you're both assigned .. any updates?

[2018-06-26 18:06] wattli opened #6635 "Multi-cluster support for Istio security"
This is a post-1.0 feature.

[2018-06-26 18:11] ostromart commented on #4933
Closing due to staleness, please reopen if still relevant.

[2018-06-26 18:11] #4933 closed

[2018-06-26 18:13] rshriram commented on #1425
This has nothing to do with the readiness probes for local proxy. Active health checks are a completely different ballgame. We have not considered doing this in our core design for various scalability reasons.

[2018-06-26 18:13] smawson commented on #6582
I'm OK saying RBAC is required, although I'm a bit worried about the spaghetti we're getting ourselves into here where everything depends on everything else. We need to figure out our layering / composability story. For 1.0 we may be too late to really break things apart in that way, so I'm OK removing those options (e.g. turning off RBAC).

BTW we also clearly need to do a better job of tracking

[2018-06-26 18:19] kinghrothgar commented on #3295
I got a tcpdump of the issue. It appears the TCP connection is getting closed without an HTTP connection close header being sent.  The link bellow is a pcap with the 2 TCP streams. One is the connection between the nginx pod and envoy, the other is the one between envoy and the python app over localhost. Please let me know if there's any more information that would be helpful.

https://gobin.io/dR

[2018-06-26 18:19] rshriram commented on #6582
I thikn we should literally get rid of that option to avoid confusion. And then document that a kubernetes cluster needs to have RBAC enabled in order for Istio to work properly. (and this is Kubernetes RBAC and not Istio RBAC :) )

[2018-06-26 18:36] jasmine-jaksic commented on #1038
@andraxylia Can you please test it manually with 0.8 and confirm whether this still exists?

[2018-06-26 18:45] #6196 closed

[2018-06-26 18:45] incfly commented on #6445
Duplicated by https://github.com/istio/istio/issues/6501

[2018-06-26 18:46] #6445 closed

[2018-06-26 18:46] #6501 closed

[2018-06-26 18:46] incfly commented on #6551
We recut the release so this becomes obsolete.

[2018-06-26 18:46] #6551 closed

[2018-06-26 18:47] incfly commented on #4805
This is now done after we make istio-citadel as a service.

[2018-06-26 18:47] #4805 closed

[2018-06-26 18:47] incfly commented on #4406
No longer needed since SDS is on the way.

[2018-06-26 18:47] #4406 closed

[2018-06-26 18:51] jasmine-jaksic commented on #2468
Update: ETA for fix end of week

[2018-06-26 18:54] nmittler commented on #1425
@rshriram ah I see ... thanks for clarifying.

[2018-06-26 20:21] ozevren commented on #6161
Updated the issue title. This issue may be closed with no action, if the TOC decides that the minimum supported K8s version is 1.9.

[2018-06-26 20:25] ayj opened #6640 "Temporarily remove ServiceEntry from server-side validation for 1.0"
Per @costinm's request, we can temporarily omit ServiceEntry from server-side validation for 1.0.

[2018-06-26 20:27] ayj commented on #6582
FWIW, sidecar-injector should have a similar problem when running with RBAC disabled.

[2018-06-26 21:07] monubamb commented on #6553
Tried setting it to 1s in yaml and get this error...

2018-06-26T21:06:26.419037Z     error   Register webhook failed: the server could not find the requested resource (get mutatingwebhookconfigurations.admissionregistration.k8s.io istio-sidecar-injector). Retrying.

[2018-06-26 21:09] rshriram commented on #5992
He is not just renaming. He is declaring them as headless HTTP services. For http, we allow any number of headless services on same port because we differentiate services by the virtual host name. So if headless services in all namespaces are http, then please name them as http. The problem should be resolved then.

[2018-06-26 21:11] rshriram commented on #1368
Nope

[2018-06-26 21:15] rshriram commented on #4026
Service entries do not respect namespaces. Google.com is visible everywhere. Whether it’s accessible from a pod is a question of policy. By confining service entries to namespaces, you get into the problem of defining some default global namespace applicable everywhere, as well as resolving conflicts when same service entry is present in both namespaces but with different settings, etc.

[2018-06-26 21:17] rshriram commented on #4026
I suggest using istio RBAC or mixer policies to restrict the namespaces that are allowed to talk to a service entry.

[2018-06-26 21:18] rshriram commented on #5121
No I think

[2018-06-26 21:37] kyessenov commented on #5696
The root cause is that tests ping the same port for readiness, which pollutes the report batches.

[2018-06-26 21:46] Stono commented on #5992
They're not http though.  We have redis and rabbitmq which are both TCP
headless services used for cluster auto Discovery.

Karl

On Tue, 26 Jun 2018, 10:09 pm Shriram Rajagopalan, <notifications@github.com>
wrote:

[2018-06-26 21:58] nmittler opened #6642 "Document how to query proxy configuration"
There are many cases where it may be desirable to query the configuration of the proxy.

One common scenario is at pod startup.  Kubernetes will start the service container and the `istio-proxy` container at the same time and will allow traffic as soon as the service container reports that it's healthy. This can lead to temporary traffic loss if Envoy hasn't yet received its first configuration fr

[2018-06-26 22:00] nmittler commented on #6642
cc @rshriram @Stono

[2018-06-26 22:00] nmittler commented on #6642
Also cc @liamawhite who has done some work in this area and may have some thoughts.

[2018-06-26 22:01] nmittler commented on #6642
@costinm I feel like we should target 1.0 for this? WDYT?

[2018-06-26 22:05] ayj opened #6643 "Add helm feature flag to enable/disable server-side config validation"
Server-side config validation should be configurable with an explicit feature flag (i.e. `configValidation`). The current helm files only allow all of galley to be enabled/disabled which is not desirable long term.

[2018-06-26 22:13] andraxylia commented on #1038
There are still some issues with 0.8 image, though not in all scenarios. I tried with bookinfo app, changing the VirtualService as below produces traffic loss.

istioctl replace -f samples/bookinfo/routing/route-rule-reviews-80-20.yaml

to

istioctl replace -f samples/bookinfo/routing/route-rule-all-v1.yaml

This can be easily reproduced by installing booking, running fortio continuosly from the l

[2018-06-26 22:37] costinm commented on #6643
Maybe the 'fail open/fail close' should also have a flag.

This will allow users to have validation - but if galley has any problem still be able to make changes.
We can continue to debate what is the right default - but still allow users to make the tradeoffs they need.

[2018-06-26 22:37] incfly opened #6644 "Authentication Policy has no reference doc"
In configuration reference, we only have RBAC reference but not authentication policy.
https://istio.io/docs/reference/config/istio.rbac.v1alpha1/

We can add one and similar to "Telemetry", group them together as security sub category.

[2018-06-26 23:30] kvudata commented on #6371
@prune998, wow, you're right! I tried using a linux curl (used the `radial/busyboxplus:curl` image) and it works!

[2018-06-26 23:40] hklai commented on #5982
Summary:

0.8.0 will be patched with the following fixes and become 0.8.1.
#6007 (originally #5965)
#6042
#6081 (originally #5934)
#5952
#6156
#6073
#6435 (originally #6069)

The following mentioned issues are still open. Please provide updates.
#5916
#6313

[2018-06-26 23:47] vadimeisenbergibm commented on #6371
@kvudata @prune998 Strange, I use OS X curl and it works for me:
[code]

[2018-06-26 23:47] vadimeisenbergibm commented on #6371
@kvudata So if it works for you, could you please close the issue?

[2018-06-26 23:57] hklai commented on #6313
Ping. This is included in the [0.8.1 tracker](https://github.com/istio/istio/issues/5982) but this is still open.

Please provide an update as we are finalizing 0.8.1.

[2018-06-26 23:59] kvudata commented on #6371
Looks like my curl is slightly different:
[code]

[2018-06-27 00:02] kvudata commented on #6371
@vadimeisenbergibm, it seems like there is some sort of compatibility issue here (I haven't done anything special with my version of curl) - perhaps worth calling out in the tutorial / FAQ?

[2018-06-27 00:03] vadimeisenbergibm commented on #5916
I do not think it was fixed.

[2018-06-27 00:29] hklai commented on #5916
Any ETA? If it is not available by end of this week, the fix will most likely not be included in 0.8.1.

[2018-06-27 00:32] vadimeisenbergibm commented on #5916
@costinm ^

[2018-06-27 00:35] ayj commented on #6643
Fail open is susceptible to gaps in validation when pods are reschedule, e.g. preemptible instances. This would occur even when galley is operating correctly. Changing the failure policy is a one-line YAML change that could be achieved with `kubectl patch`. We can document this option in the validation playbook (TBD).

[2018-06-27 00:36] #4013 closed

[2018-06-27 00:36] incfly commented on #4013
This has been deleted.

[2018-06-27 00:37] vadimeisenbergibm commented on #6371
@kvudata I see now - it is `SecureTransport` vs `LibreSSL`. I will document it in the task.

[2018-06-27 00:40] danehans opened #6650 "virtualservice and gateway resource flake"
**Describe the bug**
I deploy the bookinfo sample app shortly (between 30-60 seconds) after deploying Istio. I receive the following error, even though the associated CRDs have been created and show `type: Established` and `status: "True"`:

[code]

**Expected behavior**
I expect the following:
[code]

**Steps to reproduce the bug**
Follow the official docs to deploy Istio, then `kubectl create -f

[2018-06-27 01:05] dongdan39 opened #6652 "How to access the dashboard of prometheus and servicegraph after istio 0.8 is installed?"
Hi, Experts,
  I have installed istio 0.8 on my kubernetes 1.10 cluster and all components are running. Besides that, the bookinfo example are tested and runs successfully. But one question, I could not find out how to access the dashboard of prometheus and servicegraph although they are running there:
# kubectl get svc --all-namespaces
default        details                    ClusterIP      10.1

[2018-06-27 01:15] gyliu513 commented on #6623
/cc @ldemailly

@ThanosAndLichKing @morvencao  can we first use ingress to test performance for 0.8?

[2018-06-27 01:19] rokii commented on #6652
You can edit the svc prometheus&prometheus  to change type from ClusterIP to LoadBalancer. Then access the svc through external-ip

[2018-06-27 01:23] hklai opened #6653 "istio/pilot/pkg/proxy/envoy/v2 Test_Syncz is flaky"
**Describe the bug**

istio/pilot/pkg/proxy/envoy/v2 Test_Syncz has been flaky and it blocks PR merges.

Examples:
https://circleci.com/gh/istio/istio/119705?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

https://k8s-gubernator.appspot.com/build/istio-prow/istio-postsubmit/2308/

**Expected behavior**
No flake

**Steps to reproduce the bug**
**Steps to reproduc

[2018-06-27 01:29] hklai commented on #4578
@chxchx

Please fix testgrid as:
1. Some test jobs are out of sync.
2. Some job failed in parsing test log (https://k8s-gubernator.appspot.com/build/istio-circleci/presubmit/test/124574)

[2018-06-27 01:47] rokii commented on #6650
This is actually k8s issue. They just has fix here https://github.com/kubernetes/kubernetes/pull/63068

[2018-06-27 01:53] morvencao commented on #6623
@gyliu513 OK, istio ingress with `route rule` works fine currently.

[2018-06-27 02:34] sdake commented on #6582
I'll work on a patch - its a few hours of work at most.  If we decide to remove the option, we can just merge that patch :)

Cheers
-steve

[2018-06-27 02:37] gyliu513 commented on #6623
good, let's go ahead to get some data first. @morvencao @ThanosAndLichKing

[2018-06-27 02:40] sdake commented on #6582
@smawson the proposal on the table is to remove the flag `rbacEnabled=true` and replacing that with always enabling Kubernetes RBAC for Istio.  I can't think of a use case for `rbacEnabled=false`, unless someone has some form of degenerate Kubernetes cluster that doesn't have an rbac implementation.  With the choice for rbacEnabled, the code is a lot more complicated as there are 42 additional con

[2018-06-27 02:45] kyessenov commented on #6582
It is surprising that it is so hard to disable RBAC. FWIW I prefer not to have RBAC since I test on a personal GKE cluster from GCE dev VM, and getting RBAC to work in this case is difficult (due to various complexities around GCE service account vs GKE service account).

[2018-06-27 02:52] wansuiye commented on #6469
@prune998
virtual service:
[code]
when create it，the err msg is:
[code]

env:
kubernetes 1.9.5
istio 0.8.0

[2018-06-27 03:13] ldemailly commented on #6623
the plan is to convert the setup script to v1alpha3 through the swat team or volunteers, unfortunately nobody had time to step up and do it. In theory it’s just a matter of running the conversion tool, but I do expect there maybe a couple of issues to solve.

it would be interesting to define “not working” above, as in what happens exactly as the config appears correct as pasted, to my non pilot s

[2018-06-27 03:16] shenjieyao commented on #6504
I updated the latest version ,but still have this issue !

[2018-06-27 04:30] truyet opened #6655 "Should have CORS config for a host."
**Is your feature request related to a problem? Please describe.**
I have a virtualservice same as:
[code]
I want to add CORS for all match request. I have to add cors config to each match as:
[code]
On above case, If I have a host for api of multiple match to microservices, I need to duplicate the same cors config for multi match. It's not clean.
**Describe the solution you'd like**
We need have

[2018-06-27 04:46] truyet opened #6656 "VirtualService is configured error http route. Connection is dropped"
**Describe the bug**
I have a virtualservice config:

[code]

istio-pilot discovery show warn:
[code]

Ingress gateway can work at the moment before request on host died with err_connection on chrome browser, you can't trace why request connection is dropped.

**Expected behavior**
- We need show some error log on discovery or ingressgateway, request should work normal.

**Version**
- istio : 0.8

[2018-06-27 05:35] jsenon commented on #1703
Does, with new version of envoy, this feature will be covered? https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#route-routeaction-hashpolicy-cookie

[2018-06-27 05:37] Stono commented on #6642
Rather than querying / grepping the proxy config, a simple /ready endpoint would be welcome.

[2018-06-27 05:51] sdake commented on #6582
https://github.com/istio/istio/pull/6657

[2018-06-27 05:53] sdake commented on #6582
@kyessenov I think its not super hard to disable RBAC - although in the particular case of this bug, I don't know how to fix the root problem.  Certainly removing the ability to disable RBAC as done in https://github.com/istio/istio/pull/6657 is one approach.

Cheers
-steve

[2018-06-27 05:56] dongdan39 commented on #6652
@rokii Thanks a lot, it works!

[2018-06-27 05:56] liamawhite commented on #6642
We could add a ready endpoint to pilot-agent. The handler could query the Envoy admin API config dump and check for the presence of dynamic clusters and listeners.

We would probably have to add another static listener in order to get a request routed there.

[2018-06-27 06:11] ymesika commented on #4026
Should we update validation to deny `ServiceEntry` with non-default namespace?

[2018-06-27 06:16] liamawhite commented on #4999
Added to the traffic loss umbrella and set to P0 as it seems like these issues need to be resolved before 1.0.

[2018-06-27 06:31] morvencao commented on #6623
@ThanosAndLichKing
Try this `gateway` and `virtualservice` settings:
[code]

It will rewrite `/fortio1/fortio/` and `fortio2/fortio/` to `/fortio/`, so that you can access `fortio1` service by `http://${ingressgateway}//fortio1/fortio/` and `fortio2` by `http://${ingressgateway}//fortio2/fortio/`

[2018-06-27 07:08] ldemailly commented on #6623
thanks @morvencao ! did you get to try / confirm it works ? do you want to submit a PR with this to update  the fortio daily tests on master / for 1.0?

[2018-06-27 07:41] morvencao commented on #6623
@ldemailly I have tried on a kubernetes cluster and it works with istio-0.8.0, but didn't try on GKE cluster for I don't have one. PR has been created: https://github.com/istio/istio/pull/6658

[2018-06-27 08:10] ymesika commented on #6653
I think it's related to a bug I solved yesterday: #6632

[2018-06-27 08:11] #6652 closed

[2018-06-27 08:56] rokii opened #6661 "Helm install should support domain param"
**Is your feature request related to a problem? Please describe.**
Refer to https://github.com/istio/istio/issues/6313

**Describe the solution you'd like**
Since  Pilot has parameter --domain and there are fixed domain suffix in the yaml templates(e.g. [configmap](https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/templates/configmap.yaml#L23-L24)), helm install should provi

[2018-06-27 09:43] LillyWu opened #6662 "creationTimestamp always return null in istio resources"
**Describe the bug**
When I get resources in yaml and the **creationTimestamp** is **null**
for example:
[code]

**Expected behavior**
creationTimestamp should be set with the creation timestamp like resource in kubernetes (eg" `creationTimestamp: 2018-06-27T06:22:21Z`)

**Steps to reproduce the bug**
1. istioctl create -f  <yaml_file>
2. istioctl get <resource> <resource_name> -o yaml

**Version*

[2018-06-27 09:55] vadimeisenbergibm commented on #6371
@kvudata I have added a commit to address this https://github.com/istio/istio.github.io/commit/91dc65d2bcb7232524cc3f1f7c151e889d7cc361.

[2018-06-27 10:32] arun-gupta opened #6663 "Inaccurate instructions to setup INGRESS_HOST environment variable"
Instructions to setup `INGRESS_HOST` at https://istio.io/docs/tasks/traffic-management/ingress/#determining-the-ingress-ip-and-ports says:

[code]

Where as, what worked was:

[code]

[2018-06-27 10:36] arun-gupta opened #6664 "COPY button for a code copies $ sign"
On https://istio.io/docs/guides/bookinfo/, clicking on the COPY button of the following code:

[code]

copies the `$` as well. This makes it annoying to copy/paste the command in a terminal.

For other boxes, `$` is not copied.

[2018-06-27 10:58] prune998 commented on #6469
Don't you need a `match` between `http` and `route` ?
something like :

[code]

[2018-06-27 11:02] prune998 commented on #6469
It's working with `kubectl apply -f config.yml` but not with `istioctl create -f config.yml`
It may be a bug then... but not related to my issue.
Please, open another issue.

[2018-06-27 11:50] Stono commented on #6642
In the interim if anyone wants to share a working envoy readiness probe they've done that'd be sweet :-)

[2018-06-27 13:16] #4868 closed

[2018-06-27 14:24] rcurran1 commented on #6664
Fixed on master: https://preliminary.istio.io/docs/guides/bookinfo/
via https://github.com/istio/istio.github.io/pull/1558
Also note that this issue should have been opened under: https://github.com/istio/istio.github.io/issues
(this is the repo for the Istio docs.)

[2018-06-27 14:24] #6664 closed

[2018-06-27 14:39] #6663 closed

[2018-06-27 14:39] ymesika commented on #6663
Issue moved to [istio/istio.github.io #1603](https://github.com/istio/istio.github.io/issues/1603) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-27 15:19] zachgersh commented on #1703
@jsenon - yes, this is exactly what we are implementing now.

[2018-06-27 15:21] terinjokes commented on #4026
If these apply across namespaces, why are the CRDs defined to be namespace scoped instead of cluster scoped.

[2018-06-27 15:43] andraxylia commented on #4999
@liamawhite the traffic loss umbrella deals with intermittent traffic loss due to config changes. The issue here seems to have different root causes.

[2018-06-27 16:19] vadimeisenbergibm opened #6667 "Wrong secret name in the Helm template of the egressgateway"
**Describe the bug**

Egress gateway Helm template contains `istio.default` as the secret name, should be `istio.istio-egressgateway-service-account`. The bug is fixed in master by https://github.com/istio/istio/pull/6350 on master , I would like to have it in 0.8.1.

Due to the wrong secret name, mTLS between a sidecar proxy and the egress gateway will fail.

**Expected behavior**
Directing egres

[2018-06-27 16:23] #5588 closed

[2018-06-27 16:29] ymesika commented on #6582
"Fixed" by #6657

[2018-06-27 16:29] #6582 closed

[2018-06-27 16:31] #6532 closed

[2018-06-27 17:07] quanjielin opened #6668 "hit response code 503 after applying authN policy without explicitly set peers.mtls"
**Describe the bug**
customer report this issue:
hit response code 503 after applying authN policy without explicitly set peers.mtls

**Expected behavior**
response code shouldn't be 503(expected 200 or 401).

**Steps to reproduce the bug**
sample policy which causes the problem
[code]

**Version**
v1.10.4-gke.2

**Is Istio Auth enabled or not?**
authN enabled

**Environment**
gcloud

[2018-06-27 17:14] hklai commented on #5982
https://github.com/istio/istio/pull/6350 as requested by @vadimeisenbergibm (https://github.com/istio/istio/issues/6667)

[2018-06-27 17:15] hklai commented on #6667
Added in https://github.com/istio/istio/issues/5982. Please use it for further request.

[2018-06-27 17:20] vadimeisenbergibm commented on #6667
@hklai I see, will do.

[2018-06-27 17:30] incfly commented on #6668
What does it mean authn enabled? MeshConfig `AuthEnabled`? I think we're deprecating that, https://github.com/istio/istio/issues/5900

@diemtvu

[2018-06-27 17:32] quanjielin commented on #6668
I don't think this issue is related to authN enabled or not.

[2018-06-27 17:35] incfly commented on #6668
I think current implementation still configure the client CDS using TLS when mesh config authn flag is enabled, so if server (authn policy) does not set so correspondingly, it will fail as expected.

Either adding mTLS in authnPolicy or disable meshconfig flag, should fix the issue.

[2018-06-27 17:42] jasmine-jaksic commented on #6640
New P0 issues should be approved by ToC (refer to the email I sent to istio-dev@ yesterday). Why is this a launch blocker for 1.0? And what's the ETA?

[2018-06-27 17:50] ayj commented on #6613
k8s CRD doesn't supported versioning yet. See https://groups.google.com/forum/#!topic/kubernetes-sig-api-machinery/rX99p_YWObA. You'll need to create a new group/kind, making a breaking change, or wait until 1.11 is min required version.

Support for no-conversion versioning is targeted for k8s 1.11 (see https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machiner

[2018-06-27 17:51] jasmine-jaksic commented on #4810
@rshriram @andraxylia At ToC last week, we decided not to tag Epics as P0 blockers and instead only add individual issues so they can be tracked/closed easily. Of the 3 open ones, #1038 and #3295 are already on this list, I'm not sure if #1462 is still an issue. If someone can confirm that it is, then we can run it by ToC on Friday.

[2018-06-27 17:51] ayj commented on #6640
Moved to P1. @costinm requested that ServiceEntry be omitted if config validation is enabled by default in 1.0

[2018-06-27 17:56] nmittler commented on #6613
@costinm please advise

[2018-06-27 18:06] ayj commented on #6470
https://github.com/istio/istio/pull/6648 adds an explicit dependency check between the custom-resource jobs and galley.

[2018-06-27 18:19] andraxylia commented on #4810
@jasmine-jaksic got it, will change the epic to P1.

[2018-06-27 18:21] yacut commented on #6486
Could the `hot reload` issue be solved with [vault](https://www.vaultproject.io/) integration? [The cert manager supports vault](https://cert-manager.readthedocs.io/en/latest/tutorials/vault/creating-vault-issuers.html), so the istio ingress gateway could also make it.

[2018-06-27 18:24] andraxylia commented on #4026
k8s require any resource to be created in a namespace. CRD is like any type of k8s resource. The meaning and application for that resource is not enforced.

[2018-06-27 18:34] terinjokes commented on #4026
@andraxylia Resources can be cluster-scoped or namespace-scoped. EgressRules and the replacement networking APIs are namespace-scoped despite taking effect globally.

This leads users (like me as the OP here) assuming this is a bug in Istio, and these resources are supposed to only effect single namespaces, just like any other type of K8S resource.

@rshriram This might be true now, with the newer

[2018-06-27 18:43] andraxylia commented on #4026
@terinjokes you are right, thanks for correcting me. There is a "scope" field which can be set to Namespaced or Cluster. I did a quick search and all of our CRDs are Namespaced. This issue makes sense, we should change the scope to all APIs that we mean to be cluster scope.

[2018-06-27 18:43] andraxylia commented on #3295
@ldemailly are you looking into this?

[2018-06-27 18:47] costinm commented on #3295
@PiotrSikora - it seems connection reused after close issue again.

HTTP close without close header is generally ok and common - but if the close happens immediately
I think it's normal to have a 503 and not aware of any way to avoid it, envoy wouldn't have time to
process the close event before sending. It's also not common behavior - the close without header typically happens when server clears

[2018-06-27 19:02] dpacierpnik opened #6674 "Authentication policy does not work anymore"
**Describe the bug**
We were using Istio [Authentiction policies](https://istio.io/docs/tasks/security/authn-policy/) to authenticate end-users by JWT. It seems, that after migration from 0.7.1 to 0.8.0, policies don't work anymore.

**Expected behavior**
Authentication policies should work, so end-users should not be able to call services without valid JWT (401 Unauthorized should be returned if

[2018-06-27 19:09] kyessenov commented on #6510
@bianpengyuan Can you elaborate what are the subsequent effects of missing destination service here? Is this just breaking grafana dashboard or something else, too?

[2018-06-27 19:09] ldemailly commented on #3295
andra I am not as I already filled and have a repro for the original envoy problem. I was just trying to clarify if this new report is indeed the same issue or a new one (or the route change one)

[2018-06-27 19:15] andraxylia commented on #1485
Not anymore!

[2018-06-27 19:15] #1485 closed

[2018-06-27 19:32] baodongli commented on #6443
For the services that exist in one cluster, but not in the others, what is actually needed is clusterIP services without endpoints configured in those other clusters. So it's not headless services. This is needed so that these services, while created without endpoints, can be resolved to clusterIPs in those clusters. Otherwise, they will be configured in the mesh but not accessible from those clus

[2018-06-27 19:45] vadimeisenbergibm opened #6676 "Clarify TLS ServiceEntries/VirtualServices semantics"
I would like to use this issue to discuss TLS ServiceEntry/VirtualService semantics, related to https://github.com/istio/istio/pull/6402.

- First, the semantics of HTTP ServiceEntries/VirtualServices is as follows:
One can define HTTP service entries for `www.google.com` and `edition.cnn.com`. Then an HTTP request sent to `www.google.com` will be routed by the HOST header to `wwww.google.com`, an

[2018-06-27 19:47] vadimeisenbergibm commented on #6676
@louiscryan @rshriram @ijsnellf @frankbu - what do you think?

[2018-06-27 20:04] quanjielin commented on #6668
thanks, I first thought it's just end-user(jwt) related, turned out caused by mTLS settings.

global.mtls.enabled is set to true in my repro env, debug logs show destination rule is set to ISTIO_MUTUAL mode(set by https://github.com/istio/istio/pull/6395?), while server side doesn't have tls setup since passed policy.peers isn't set in correct format(mtls or jwt).

another thing is seems https://g

[2018-06-27 20:04] bianpengyuan commented on #6510
@kyessenov  There is no server side TCP metrics reported, and I am keep getting `preprocessing attributes failed: identity parameter not found: 'destination.service'` in mixer log.

[2018-06-27 21:13] quanjielin commented on #6668
Seems there is some inconsistency between client/server tls settings config now,
1. client side - default destination rule with ISTIO_MUTUAL model is applied when global.mtls.enabled is set to true (see below debug logs)
2. server side [ignore MeshPolicy](https://github.com/istio/istio/blob/master/pilot/pkg/networking/plugin/authn/authentication.go#L71).

https://github.com/istio/istio/issues/5900

[2018-06-27 21:22] ZhiminXiang opened #6681 "Request timeout per route destination in traffic split use case"
**Is your feature request related to a problem? Please describe.**
We use VirtualService to implement the feature of splitting traffic to multiple destinations. In our use case, we need to set request timeout per destination so that when a request comes to a destination, a correct request timeout could be enforced accordingly.

Currently the request timeout can only be set in the HttpRoute level,

[2018-06-27 21:58] chxchx commented on #4578
The job list has been in sync in already.

Offhand, the parsing error seems to be due to go-junit-report outputting `<testcase classname="trace" name="TestValidate/[1]_10%!"(MISSING) time="0.000"></testcase>` in the junit.xml. This only seems to happen for circleci, since the same line for prow test is `<testcase classname="trace" name="TestValidate/[1]_10%" time="0.000"/>`.

The specific test cas

[2018-06-27 22:06] jon-whit commented on #4611
If I'm not mistaken, the topic of this discussion is something that we are currently in need of. We'd like the ability to make an access control decision at the sidecar level that influences if the route to the backend is sent through or not.

Here's our ideal scenario...
1. Store a mapping between users and the roles the user has been granted in an IAM service.
2. Use Mixer to get the permissions

[2018-06-27 22:41] hklai commented on #4578
Both post submit and daily are out of sync for sure, as the new jobs are yet not showing up.

Also, we probably should figure out how we handing branching in testgrid, as tests are diverging in different branches.

[2018-06-27 22:55] monubamb commented on #6553
Is it possible i dont have the plugin for mutatingwebhookconfigurations installed in ACS...?

i used ACS-kubernetes deployment in Azure.. Does that install the plug for mutatingwebhookconfigurations ?

I was going through this link https://istio.io/docs/setup/kubernetes/quick-start/ and noticed maybe i need to install that separately?

[2018-06-27 22:58] monubamb commented on #6553
Just ran this command and noticed i indeed dont see it..

 kubectl describe pod --namespace=kube-system $(kubectl get pods --namespace kube
-system | grep api | cut -d ' ' -f 1) | grep admission-control

--admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota

How do i add it to ACS - Azure cluster?

[2018-06-27 22:59] andraxylia commented on #3295
I see https://github.com/envoyproxy/envoy/issues/2715 is fixed and it's clear there will be some timing situations where we cannot avoid the 503s for applications that do not send close. There is nothing more we can do in istio, so closing this one.

[2018-06-27 22:59] #3295 closed

[2018-06-27 23:00] ayj commented on #6553
The MutatingWebhook and ValidatingWebhook plugins need to be specified in the list of admission controller plugins per the instructions at https://istio.io/docs/setup/kubernetes/quick-start/#azure.

Did you use https://raw.githubusercontent.com/Azure/acs-engine/master/examples/service-mesh/istio.json when you created your cluster?

[2018-06-27 23:06] ayj commented on #6161
k8s 1.11 was released today (see
https://github.com/kubernetes/website/blob/release-1.11/content/en/blog/_posts/2018-06-26-kubernetes-1.11-release-announcement.md)

[2018-06-27 23:06] costinm commented on #4578
grep -v "(MISSING)" for now - to get it moving...

[2018-06-27 23:08] costinm commented on #4578
I mean - remove the offending line, you can also use sed s/(MISSING)//

Also grep for MISSING in the junit code.

[2018-06-27 23:10] chxchx commented on #4578
Or maybe update the test case from `{"10%", &config.Params_Trace{SampleProbability: 0.1}, false},` to `{"10percent", &config.Params_Trace{SampleProbability: 0.1}, false},`, so we don't use special characters?

[2018-06-27 23:34] andraxylia commented on #6470
I just hit this issue with 06/27 daily and k8s 1.10.4.

It's not ok to ship with one of the install components failing.

[2018-06-27 23:35] andraxylia commented on #6470
It actually recovers after a while, but still not ok.

[2018-06-27 23:37] ayj commented on #6470
A proper installer or controller (e.g. operator) would help. The current install flow is not orchestrated and relies on some post-install jobs (w/bash scripts) which eventually converge to the right state.

[2018-06-27 23:47] andraxylia opened #6686 "Bookinfo broken in master with daily 06/27"
This task was working in 0.8 and it's broken in master:

https://istio.io/docs/guides/bookinfo/

[2018-06-27 23:48] monubamb commented on #6553
Nope i did not use that. Created ACS - Kubecluster and started directly with istio-demo.yaml
let me do that.

[2018-06-27 23:49] hklai commented on #4578
It will be best to fix the post processing job to handle these more gracefully instead of chasing the tests. and the same can probably happen to other tests.

[2018-06-27 23:57] andraxylia commented on #6686
It turns out I was deploying kube/bookinfo-gateway.yaml instead of routing/bookinfo-gateway.yaml. The former deploys an Ingress. Bad naming.

[2018-06-27 23:57] #6686 closed

[2018-06-27 23:58] andraxylia opened #6687 "Bad naming for kube/bookinfo-gateway.yaml"
It deploys an Ingress, not a Gateway, and can be very misleading since there is already a routing/bookinfo-gateway.yaml. At a minimu, it should be renamed to bookinfo-ingress.yaml.

In general, unclear why we need the two directories.

[2018-06-28 00:08] ldemailly commented on #3295
which istio release is the first that has the fix?

[2018-06-28 00:18] #4285 closed

[2018-06-28 00:46] ayj opened #6689 "Re-enable ServiceEntry in validatingwebhook configuration"
ref: https://github.com/istio/istio/issues/6640

[2018-06-28 02:27] gyliu513 opened #6692 "Restrict the cluster secrets in istio-system"
This is a follow up issue for PR https://github.com/istio/istio/pull/6339#pullrequestreview-132669150

From @costinm , having secrets in arbitrary namespaces is risky, I think it's good to remove the namespace and require the secrets in istio namespace. Also simpler and more secure ( RBAC can be used to restrict who can add clusters) .

/cc @baodongli @sdake

[2018-06-28 03:35] hklai commented on #4578
Reopen as the % fix is not complete and there are some other pending items.

[2018-06-28 04:33] #5696 closed

[2018-06-28 04:33] #6265 closed

[2018-06-28 04:33] #6617 closed

[2018-06-28 04:39] kyessenov commented on #5311
Why is this nebulous future? Are we expecting more breaking changes in this area?

[2018-06-28 06:05] dpacierpnik commented on #6674
Ok. I found the issue. In 0.8.0 I can not use fully qualified service address (`httpbin.default.svc.cluster.local`) as target. I have to use only service name (`httpbin`). Not it works.

[2018-06-28 06:05] #6674 closed

[2018-06-28 08:27] wralph opened #6694 "Egress using https causing SSL23_GET_SERVER_HELLO:unknown protocol"
**Describe the bug**
I wanted to configure some egress to call external services. To do so I have specified egress policies according to the documentation here -> https://istio.io/docs/tasks/traffic-management/egress/
To keep it simple I kept with the example from the doc but am using bbc.com instead of google.com.
Although I can not call an https endpoint from within my pods due to the following

[2018-06-28 08:42] wansuiye opened #6695 "listener conflict when configure egress, svcs use the same port and the protocal is tcp"
**Describe the bug**
A clear and concise description of what the bug is.

there are two mysql instances(external), port are all 3306,  i set two service entry ,but the pilot log warn that:

`listener conflict (TCP current and new TCP) on 0.0.0.0:3306, destination:outbound|3306||mysql-1.xxx.io, current Listener: (0.0.0.0_3306 name:"0.0.0.0_3306" ...`

i config these according to  [hosts and address

[2018-06-28 09:36] gyliu513 opened #6697 "Isito sidecar impacted performance a lot"
I was following steps at https://github.com/istio/istio/blob/master/tools/README.md to test the performance of istio, and focusing on two cases:

- service communication without sidecar
- service communication with sidecar

![image](https://user-images.githubusercontent.com/4461983/42026306-608a8e0a-7af9-11e8-88e7-59394245691e.png)

And I found that the performance with sidecar is almost 40+ times

[2018-06-28 10:42] ostromart commented on #6504
Could you please confirm which version (git sha or release link) you used to try it?

[2018-06-28 11:31] hhovsepy commented on #4447
any news on this issue?

[2018-06-28 12:49] geeknoid opened #6698 "Enable tracing for GKE"
Refer to https://github.com/istio/istio.github.io/pull/1505 for details

[2018-06-28 13:18] bgokden opened #6699 "When first connection to fluentd fails, fluentd adaptor is disabled."
**Describe the bug**
When first connection to fluend fails, fluentd adaptor is disabled.
Create a fluend adapter while fluentd service is not available.
We observed this problem when fluentd is restarted or not ready yet.

In our environment,
we have a mapping creation at start up, it requires to fluentd connect to Elasticsearch.
Elasticsearch starts slowly and fluentd elasticsearch pligin restart

[2018-06-28 13:22] bgokden commented on #6699
Our proposed solution is to change the  line at https://github.com/istio/istio/blob/c0f1ea7471bbef8f9912e7cf54d2ffdb8fd452de/mixer/adapter/fluentd/fluentd.go#L78

To:
`han.logger, err = fluent.New(fluent.Config{FluentPort: p, FluentHost: h, Async: true})`

It will enable async client, and fluentd client will handle the connection failures.

[2018-06-28 13:29] vadimeisenbergibm commented on #6510
@kyessenov Is it possible to replace the error with warning for TCP services? Also, is there any default logger for TCP, like `stdio`? Should it be added? For HTTP, `stdio` prints source/destination IP, URL etc. in the output of the proxy container, very convenient.

[2018-06-28 14:18] #6640 closed, assigned to ayj

[2018-06-28 14:18] akshaymankar opened #6700 "Running E2E simple tests with Helm takes 15 minutes extra and doesn't delete namespace"
**Describe the bug**
When I run `make test e2e_simple_run TAG='0.8.0' E2E_ARGS='--installer=helm'`, the tests keep waiting with this message:

[code]
It seems like the test code doesn't delete namespace and keeps waiting for 10 minutes and then moves on anyways.

**Expected behavior**

The tests should delete the namespace and not take so long to finish.

**Steps to reproduce the bug**
Checkout to

[2018-06-28 14:38] vadimeisenbergibm commented on #3372
Closing since `EgressRules` will be removed soon.

[2018-06-28 14:38] #3372 closed

[2018-06-28 16:16] ayj commented on #6643
Fixed by https://github.com/istio/istio/pull/6690

[2018-06-28 16:16] #6643 closed

[2018-06-28 16:28] ldemailly commented on #6697
please also see
https://github.com/istio/fortio/wiki/FAQ#i-want-to-get-the-best-results-what-flags-should-i-pass
or use the script in tools/ as right now you tested with the default 8 connections which is not meant to work for real test, as latency increases you need more connection to sustain the same throughput

[2018-06-28 16:52] ayj opened #6703 "TestListener_Tombstone flake (galley/pkg/kube)"
[code]

Steps to reproduce:

[code]

[2018-06-28 17:02] andraxylia commented on #3295
0.8

[2018-06-28 17:56] jshearer opened #6706 "Deploy ingressgateway as daemonset"
I'm in the process of setting up a bunch of microservices to run in GKE, and have been using ingresses with the nginx ingress controller, but wanted some of the features of istio, specifically more customizable request routing etc. The problem is, we really don't want to use `LoadBalancers` from the cloud provider (GCE), as they are painfully expensive at small scale. We've been running the ingres

[2018-06-28 18:00] jon-whit opened #6707 "Istio RBAC Guide Not Working as Explained"
I'm trying to get the RBAC engine working. I'm following the [guide here](https://istio.io/docs/tasks/security/role-based-access-control/).

I've followed the [Before You Begin](https://istio.io/docs/tasks/security/role-based-access-control/#before-you-begin) section and have successfully deployed the Bookinfo application. Here's a snippet of my `kubectl` output from the _istio-poc_ namespace.

[c

[2018-06-28 18:37] parrish488 commented on #6707
I'm having the same problem.

[2018-06-28 19:04] kyessenov opened #6711 "mixer: servicecontrol side channel"
servicecontrol adapter makes use of net context metadata to extract the destination service:
https://github.com/istio/istio/blob/60c7f8f5396fd206b6695de0b0406e5a44598a5e/mixer/adapter/servicecontrol/handler.go#L153

This seems to bypass the normal means of passing attributes and likely cause issues with caching.

/cc @geeknoid

[2018-06-28 19:39] frankbu commented on #6687
Do we need bookinfo/ingress-gateway.yaml anymore? I think it was only needed during the transition period where we were supporting both old and new routing APIs.  think we can delete it, because in 1.0 I don't think we will document how to use Ingress, the sample will only use Gateway.

[2018-06-28 19:40] frankbu commented on #6687
We need two directories. One for the kube deployment resources (bookinfo/kube) and one for the platform-independent Istio networking resources (bookinfo/routing).

[2018-06-28 19:44] #6125 closed

[2018-06-28 19:45] frankbu commented on #6687
And btw, all the route-rule-*.yaml files in bookinfo/kube are now obsolete, not supported, and need to be removed for 1.0.

[2018-06-28 19:50] infinitydon commented on #6356
Sorry, I deleted the installation when I did not get a response on time and recreated from scratch..

Will re-open if I face the issue again.

[2018-06-28 19:50] #6356 closed

[2018-06-28 21:17] xiang90 opened #6717 "master failed to pass test"
**Describe the bug**
master failed to pass test

[code]

**Expected behavior**

test success

**Steps to reproduce the bug**

[code]

**Version**

master

**Environment**

osx 10.13.5

[2018-06-28 21:35] xiang90 commented on #6717
@kyessenov

Yes. I did run `make init`.

[2018-06-28 21:37] #6443 closed

[2018-06-28 21:38] xiang90 commented on #6717
[code]

[2018-06-28 21:43] kevincvlam opened #6719 "Enable mutual TLS for all services in a namespace fails when global.proxy.includeIPRanges=''"
**Describe the bug**
I installed istio (without mtls enabled by default) to allow all egress traffic by setting global.proxy.includeIPRanges=''.

When trying to test out Mutual TLS using the demo at [1] I found that the mtls didn't work and sleep.foo and sleep.bar couldn't successfully hit httpbin.foo, their requests returning:

[code]

However it's worth noting during debugging that if I kubectl

[2018-06-28 21:46] kyessenov commented on #6717
Please run with `-v` and post the logs here.

[2018-06-28 21:51] gyliu513 commented on #6697
@ldemailly thanks for the explantation, still not clear why the performance test has so much difference between with and without sidecar, can you elaborate more for this?

Also what is the impact of `v1alpha3`? Does the perf improved for this? Where is the PR?

We also test with 48 connections but found the result is almost same, will check https://github.com/istio/fortio/wiki/FAQ#i-want-to-get-th

[2018-06-28 21:52] xiang90 commented on #6717
@kyessenov run what with -v? `make -v` will should the version of make I guess.

[2018-06-28 21:56] kyessenov commented on #6717
Don't use make. Run using standard `go` tool.  At the root, `go test -v -count=1 ./mixer/test/client/dynamic_attribute/...`

[2018-06-28 22:00] xiang90 commented on #6717
[code]

[2018-06-28 22:07] kyessenov commented on #6717
Still not clear.. Can you nuke local envoy and retry? Maybe you have an old build of envoy around...

[2018-06-28 22:11] #6719 closed

[2018-06-28 22:30] ozevren commented on #4418
I think there is already a linter for this
bin/check_pilot_codegen.sh

If you think this is still applicable, please reopen.

[2018-06-28 22:30] #4418 closed

[2018-06-28 22:31] ldemailly commented on #6697
#6658 is the PR aiming to convert to v1alpha3 but when @rkpagadala is testing it, the ingress doesn't seem to work (though not sure yet if the issue is something unrelated)

[2018-06-28 22:39] #1724 closed

[2018-06-28 22:46] andraxylia commented on #6687
@frankbu see my PR, I added the gateway and the ingress to the main bookinfo.yaml file.

I find the structure of the two directories /kube and /routing a bit confusing, I thought /kube is now for v1 old stuff and /routing is for v1alpha3.

Shouldn't we remove /kube completely?

[2018-06-28 23:07] sakshigoel12 commented on #6380
@douglas-reid can you provide an ETA for this issue?

[2018-06-28 23:13] kyessenov opened #6723 "Check-on-check"
With istio-on-istio, we have internal telemetry available for consumption by istio adapters. Internal policy enforcement is currently disabled. Its main purpose is to authorize `Check` calls. Note that there is no need to perform 2 RPCs here,  this can be done internally in Mixer, except for one problem: Mixer's sidecar strips some attributes as part of mTLS termination. This request is to add an

[2018-06-28 23:18] knrc commented on #4447
@hhovsepy We have managed to get this deployed both with and without mTLS, the confusing aspect is likely the separate gateway/virtualservice needed to expose the productpage since that is in a separate directory (routing) if using v1alpha3.  It is documented however perhaps this can be consolidated/simplified for 1.0 with the removal of Ingress etc.

[2018-06-28 23:24] xiang90 commented on #6717
@kyessenov

Ah... No problem. I guess I will just debug this myself and report back :)

[2018-06-28 23:38] rshriram commented on #6676
I think the contentious issue here is one of auto inferring SNI names based on the host value. With HTTP, service name is same as HTTP Host header (or most often). but with TLS, it may not be the case. Especially when people have wildcard certs, e.g., they declare foo.bar.com, abc.bar.com as TLS ports and have a common *.bar.com cert.
Also, think of SNI based routing as a mode of tunnelling. We wo

[2018-06-29 00:53] ldemailly commented on #3933
could wait for https://github.com/istio/fortio/issues/246 (apt-get pkg) or install from the vendor'ed copy of fortio in istio source tree

[2018-06-29 01:20] gyliu513 commented on #6697
@ldemailly I think this will not impact the performance, but we are trying to compare the performance between ingress and ingressgateway soon.

Still have some concern why the performance test has so much difference between with and without sidecar, did you also got same result when doing the tests? This might be a big impact for customer deploy istio to production.

[2018-06-29 01:47] hklai commented on #4578
@chxchx
https://k8s-testgrid.appspot.com/istio-presubmits#presubmit does not show any rows as well.
And what is the difference between that and https://k8s-testgrid.appspot.com/istio-presubmits#unit-tests-presubmit?

Can we drop the -presubmit suffixes on https://k8s-testgrid.appspot.com/istio-presubmits#unit-tests-presubmit as they are already implied from the tab?

[2018-06-29 02:59] rokii commented on #6717
You need fix this first
[code]

[2018-06-29 03:16] rokii commented on #6681
TrafficPolicy can satisfy your requirement. https://istio.io/docs/reference/config/istio.networking.v1alpha3/#ConnectionPoolSettings

[2018-06-29 03:23] LillyWu opened #6727 "istio policies are not cleaned up when kubernetes namespace deleted"
**Describe the bug**
When kubernetes namespaces deleted, istio policies still exists.

**Expected behavior**
policies should be also cleaned up together with the namespace

**Steps to reproduce the bug**
1. Follow the task in the official doc here:  https://istio.io/docs/tasks/security/authn-policy/
2. clean up all resources with `kubectl delete ns foo bar legacy`
3. check the policies and destina

[2018-06-29 03:45] gyliu513 commented on #6697
@ldemailly but there are indeed customer want to get some overhead for the sidecar, anyway that I can test this?

Also if this case is not valid, I think we should remove it from  https://github.com/istio/istio/blob/master/tools/README.md ?

[2018-06-29 04:08] ZhiminXiang commented on #6681
Thanks @rokii ! I think the connectTimeout is the timeout of establishing tcp/http connection, not the request timeout.
There is a discussion related to it: https://groups.google.com/d/msg/istio-networking/jmIOKuJ7dao/b1SFMKoLBAAJ

[2018-06-29 04:10] bianpengyuan commented on #6380
@sakshigoel12 I am going to work on this and ETA is next week.

[2018-06-29 04:38] ldemailly commented on #6697
I don't think we understand each other
please review the second part of https://istio.io/docs/performance-and-scalability/scalability/
which is determined using
https://istio.io/docs/performance-and-scalability/synthetic-benchmarks/
which is done using
https://github.com/istio/istio/blob/master/tools/README.md

[2018-06-29 04:38] #6697 closed

[2018-06-29 06:31] ymesika opened #6730 "Make racetest stable"
This issue is for tracking changes and fixes that are resolving `racetest` with the intention to make it consistently stable across `master` builds.

Due to the nature of `racetest` the failures are not deterministic and require long-term watching of the `master` builds to track down the issues. Therefore issue will remain open until stabilisation achieved.

cc @hklai

[2018-06-29 07:22] rokii commented on #6681
Actually Envoy proxy restriction blocks your requirement. As the api shows https://www.envoyproxy.io/docs/envoy/latest/api-v1/route_config/route#config-http-conn-man-route-table-route-weighted-clusters, the timeout can only be set to route.   Weighted cluster has no such config for each destination.

[2018-06-29 09:53] SeriyBg commented on #6588
Please take a look at my post in the Istio Developers mailing list [here](https://groups.google.com/forum/#!topic/istio-dev/6H6eLIBxTfk).

[2018-06-29 11:54] tushar00jain commented on #5940
I'm directly calling the http endpoint exposed by istio ingress controller from the browser

From what you described it seems that for the routing to work the request needs to from a pod that is running the sidecar. Is that true?

If this functionality is not present on the istio ingress controller, can it be added?

[2018-06-29 12:30] SeriyBg commented on #6588
cc @douglas-reid

[2018-06-29 13:46] frankbu commented on #5940
For ingress you should use the new [Istio Gateway](https://istio.io/blog/2018/v1alpha3-routing/#gateway). Take a look at the [ingress task](https://istio.io/docs/tasks/traffic-management/ingress/) for details.

Make sure you add your routing rules to the VirtualService that is bound to the Gateway because the ones with host equal to the internal service host name won't be active for requests going

[2018-06-29 14:37] craigbox opened #6731 "istioctl kube-inject does not inject where kind: Pod"
**Describe the bug**
Given YAML where kind: Pod, istioctl kube-inject outputs the same input, with no Istio injected.
The injector works where kind is ReplicaSet or Deployment.

**Expected behavior**
Istio configuration injected into my solo Pod

**Steps to reproduce the bug**
Istio 0.8 installed on a new cluster with the helm template method.

`istioctl kube-inject`

Paste in bold:

<pre><b>apiVe

[2018-06-29 14:45] vosst opened #6732 "Support building out-of-tree mixer adapters"
**Is your feature request related to a problem? Please describe.**
Right now, when trying to build an out-of-tree mixer adapter using a pre-defined template (say 'apikey'), leveraging the pre-generated code from, e.g., istio.io/istio/mixer/template/apikey fails as that package pulls in the vendored istio.io/api module (which is not available to the out-of-tree adapter.

**Describe the solution you

[2018-06-29 15:17] elvizlai commented on #6499
same issue using helm.

[2018-06-29 15:30] JohnDzialo opened #6733 "istio 0.8.0 with tls gateway and virtual service not routing traffic to backend, envoy 404"
**Describe the bug**
I am using istio 0.8.0 on gke 1.9.6.

I am trying to create a simple gateway with a simple virtual service to route to my sonatype-nexus service on port 8081.  However envoy produces a 404 everytime I make a request despite hosts being set correctly.

Here are my yaml files...

[code]

**Expected behavior**
I would expect the above to work routing traffic hitting the istio ing

[2018-06-29 15:43] douglas-reid commented on #6588
@SeriyBg a big +1 to this feature. If you want to work on it, that'd be great. I've been wanting similar controls for awhile now, but it has just not been a priority.  It should be a fairly straightforward change -- and I'd be happy to review any PR for it.

I should mention that more full-featured and better supported graphing solutions are being developed in the community (kiali, scope). I don't

[2018-06-29 16:45] nmittler commented on #6613
@costinm gentle ping

Looks like all 1.0 changes need to be merged by Monday 7/2.  I suspect that it's unlikely to get this change through review and submitted by then. I recommend pushing this work out until after 1.0.  Thoughts?

[2018-06-29 16:46] cjongseok commented on #6324
Hello guys. I had the same issue on my k8s cronjob. It seems /quitquitquit handler in pilot-agent is not implemented yet. So I made a PR.

I looked through both envoy and pilot-agent and could notice [Agent waits until the next 'config update'](https://github.com/istio/istio/blob/a4df8f85dcf3c32d4fd944e69f662a51b1eb43da/pilot/pkg/proxy/agent.go#L185), if the last epoch terminates normally. I think

[2018-06-29 17:18] frankbu commented on #6687
I'll take the TODO of cleaning up these directories as much as possible.

[2018-06-29 17:50] sgilsonapigee commented on #6627
Thanks @ymesika. That was a typo, I meant Istio.

[2018-06-29 18:30] costinm opened #6738 "Istio-1.0 monthly - upgrade from 0.8 problems"
Testing a 0.8 sidecar against pilot from 1.0, the listener config is rejected.
Upgrade from 0.8 to 1.0 is still required - this is probably a P0.

[2018-06-29 18:07:18.065][24][warning][upstream] external/envoy/source/common/config/grpc_mux_impl.cc:218] gRPC config for type.googleapis.com/envoy.api.v2.Listener update rejected: Error adding/updating listener 10.52.5.23_8080: Unable to parse JSON as

[2018-06-29 18:31] costinm commented on #6738
We probably need to include an env variable with envoy/proxy config in the sidecar injector - and based on that to not generate configs that are not compatible.

[2018-06-29 19:12] Stono opened #6741 "Istio Telemetry retention issues causing Prometheus death"
Hey,
As discussed with @douglas-reid we have a big problem with prometheus and mixer.  At a high level we:

  - Have a very high turnover development environment, which results in mixer returning a very high number of metrics due to the cardinality around IP's, pod names etc.
  - We have been tweaking prometheus retention lower and lower, only to realise the issue wasn't actually the amount of dat

[2018-06-29 19:16] douglas-reid commented on #6741
There is a way to purge old labels from a vec. It will take a little custom config in the prom adapter, but we should be able to put something together. Still need to reflect on proper way to deal with long-lived stale metrics.

[2018-06-29 19:18] Stono commented on #6741
Having it configurable for us is also key, as we'd most likely want a lower setting in our pre-prod, higher turnover environments

[2018-06-29 19:22] Stono commented on #6741
Thinking about this a little more, there'd be no need to expose things in /metrics for any longer than `prometheus scrape period`?

I don't know the ins and outs here but if there was a way to detect a certain cardinality of metrics as stale/dead/no longer exists, you could probably get rid of it after say, 10 minutes?

[2018-06-29 20:03] douglas-reid commented on #6741
@Stono yeah, that's the general idea i have too. but i'm not sure if there is a built-in way to expire, or if we need to build it.

[2018-06-29 20:16] karanvasnani opened #6747 "AWS CloudwatchLogs support in existing Mixer/Cloudwatch adapter"
**Is your feature request related to a problem? Please describe.**
The existing cloudwatch adapter supports sending metrics from mixer to AWS Cloudwatch but, it does not support sending logentries, this is because AWS CloudwatchLogs is a separate service than Cloudwatch.

**Describe the solution you'd like**
The mixer cloudwatch adapter should allow the user to send both metrics as well as logentr

[2018-06-29 21:04] kyessenov commented on #6329
/assign @kyessenov

[2018-06-29 21:31] chxchx commented on #4578
https://github.com/istio/istio/blob/master/prow/istio-presubmit.sh builds and pushes docker images and then run the integration tests.

https://github.com/istio/istio/blob/master/prow/istio-unit-tests.sh runs all unit tests and runs after presubmit.sh has finished.

I made a PR to generate junit report for presubmit.sh https://github.com/istio/istio/pull/6750

I will removed the `-presubmit` suffi

[2018-06-29 21:58] costinm opened #6753 "TCP proxy broken if >1 service defined"
I have 2 services, on different ports.
With only one service it works. It seems the problem is we generate multiple TCP proxy entries for each listener.

In gateway:
[code]
Each has a virtual service like:
[code]

Generated code:
[code]

[2018-06-29 22:02] nmittler commented on #6741
@smawson can we make this a P0?

[2018-06-29 22:09] #6154 closed

[2018-06-29 22:32] hklai commented on #4578
@chxchx
Thanks. I think we are still missing the circle cloudfoundry test in presubmit. Please add and check if there is anything else missing (and that existing pages all work).

It looks like we need to remove those integration tests as they no longer run.
https://github.com/istio/istio/pull/6752/files

[2018-06-29 22:47] costinm opened #6755 "Mixer TCP reporting seems to be broken"
On latest 1.0 monthly build, with one TCP gateway and VirtualService defined, it seems
prometheus and grafana don't show any tcp metric. Looked with Doug for istio_tcp in prom.

Generated config for ingress looks like:
[code]

and on sidecar:

[code]

[2018-06-29 22:52] kyessenov commented on #6755
Yes, there is no longer "destination.service" for server-side TCP metrics:
https://github.com/istio/istio/issues/6510
Please use Doug's workload oriented charts.

On Fri, Jun 29, 2018 at 3:48 PM Costin Manolache <notifications@github.com>
wrote:

[2018-06-29 22:54] douglas-reid commented on #6755
We have e2e tests for TCP metrics and e2e tests for the dashboards that examine TCP metrics. I suspect something about the setup in whatever testing env is missing TCP config or otherwise.

[2018-06-29 22:54] kyessenov commented on #6510
@bianpengyuan @vadimeisenbergibm the error about config resolution failing should be resolved. It's a separate issue.

[2018-06-29 23:00] costinm commented on #6738
This seems to be caused by 'attributes_for_mixer_proxy' - which is not present in 0.8

We can add an env variable with the istio release - similar with the TPROXY control - and mixer plugin
can use it to generate 1.0 config only for 1.0+

Upgrade is very important to all users, this should be a P0.

[2018-06-29 23:04] douglas-reid commented on #6738
@kyessenov @ostromart @qiwzhang anyone know where/when `attributes_for_mixer_proxy` was introduced? I can't recall that PR.

[2018-06-29 23:07] douglas-reid commented on #6738
Introduced here: https://github.com/istio/api/pull/502

[2018-06-29 23:09] kyessenov commented on #6738
This seems like an envoy issue. Filter config protos are meants to be extensible.

[2018-06-29 23:10] kyessenov commented on #6738
Is there some weird JSON serialization in pilot? Can we just drop the field in pilot when converting to proto struct?

[2018-06-29 23:14] qiwzhang commented on #6738
@lizan  may have insight on this JSON and proto Struct conversion with backward compatible for adding fields.

[2018-06-29 23:15] costinm commented on #6753
As an update: I changed the config to use 2 gateways:
[code]
And a similar one with only port 5201 for the other app.

Now 5201 looks ok - there is a single tcp proxy and is accepted.

However the config for 5203 is still bad:

[code]

[2018-06-29 23:25] hklai opened #6756 "Security integration tests are failing"
The security integration tests have been disabled in https://github.com/istio/istio/pull/6752, because they started failing in setup.

Example:
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/6752/istio-presubmit/13856/

I0629 22:52:24.766] 2018-06-29T22:52:24.761283Z	error	failed to create test namespace: failed to create a role (error: failed to create role (error: roles.rba

[2018-06-29 23:55] kyessenov commented on #6738
If this is P0, let's just remove this feature.

[2018-06-30 00:50] costinm commented on #6753
User error - the 'match was missing'.

We need to add more logging and reject cases where multiple TCP proxies match (or none)

[2018-06-30 00:50] #6753 closed

[2018-06-30 00:53] costinm opened #6757 "TCP proxy from istio gateway to MTLS service fails."
I got a TCP proxy working great, with mtls disabled.

Same service, with a DestinationRule and policy setting mtls - fails. Spent some time debugging, will restart next week - we need to sort it out for 1.0

Please try lastest 1.0 build and create a TCP proxy with mtls enabled for any service, let me know if you get it working. (one way to do it is to declare the port as tcp on fortio, or use the

[2018-06-30 02:44] lizan commented on #6738
I’m OOO whole next week so I can take a look after that, if it’s urgent
then just as Kuat said, remove the feature first.

On Sat, Jun 30, 2018 at 7:55 AM Kuat <notifications@github.com> wrote:

[2018-06-30 05:00] rshriram commented on #6313
This was fixed recently. Don’t have the sha though.

[2018-06-30 07:45] phanibalaji opened #6758 "Istioctl replace -f is not working"
**Describe the bug**
Istioctl replace -f is not working

**Expected behavior**
Istioctl replace -f should work

**Steps to reproduce the bug**
1. Follow instructions given at the link https://istio.io/docs/tasks/traffic-management/request-routing/
2. Prepare the deployment yaml file as attached to this issue.
3. run `istioctl replace -f samples/bookinfo/routing/route-rule-all-v3.yaml`
4. Access th

[2018-06-30 08:00] SeriyBg commented on #6588
@douglas-reid thanks for your reply! I have actually done this, but it uses `destination_service` and `source_service` metric labels. I will change it to use the new labels and then submit the PR.

[2018-06-30 10:15] #5576 closed

[2018-06-30 14:49] veotax opened #6760 "Support Casbin as the authorization backend"
I saw there's a working-in-progress PR here: https://github.com/istio/istio/issues/6377. I don't know if it's too late, but there's a library called [Casbin](https://github.com/casbin/casbin) that already provides the RBAC functionality.

In functionality, in the above PR, the RESTful scenario of ``user, method, path``, the IP match (match an IP with a network address), the prefix match (like /boo

[2018-06-30 16:30] #6703 closed

[2018-06-30 17:19] Stono commented on #6257
Hey @douglas-reid
Another thing i've noticed:

If a service has never had any errors (ever), it displays differently to a service that has had errors, but outside the current grafana time window:

<img width="709" alt="screen shot 2018-06-30 at 18 16 39" src="https://user-images.githubusercontent.com/1486729/42127498-db323010-7c91-11e8-964e-7c3b43126de8.png">

<img width="1451" alt="screen shot 20

[2018-06-30 17:34] Stono opened #6763 "Non-tcp services being logging as tcp services"
Hey @douglas-reid
As i've mentioned before, in our grafana dashboard __all__ http services are also tcp services:

<img width="1370" alt="screen shot 2018-06-30 at 18 32 47" src="https://user-images.githubusercontent.com/1486729/42127618-0261bed8-7c94-11e8-9451-516e3ee26327.png">

Looking in prom, there is data in the tcp services bucket for them, but always 0

<img width="1444" alt="screen shot 2

[2018-06-30 19:22] mattouille commented on #1430
I'll plus one the Telecom usecase here and broaden it to IOT/m2m devices. A huge array of existing IOT and m2m protocols are using UDP. We've been writing our new IOT platform and unfortunately will not be able to utilize a service mesh because of this.

[2018-06-30 19:30] douglas-reid commented on #6257
While your proposed fix would work theoretically, that would actually be much harder than it seems. Because everything is so configurable, `response_code` is not necessarily always going to be on metric instances and even then, we'd have to figure out the "right" code to zero.

I think there are probably options available in the promQL or the dashboard setups themselves (i find the table widget in

[2018-06-30 19:31] douglas-reid commented on #6257
BTW, I think I fixed the original issue in the last dashboard update. I think you'll now see `NaN` in the `Success Rate` column.

[2018-06-30 21:42] Stono commented on #6763
HTTP isn't a valid value for `metadata.spec.ports.protocol`, its `TCP` or `UDP`

[2018-06-30 21:44] Stono commented on #6626
@douglas-reid I'm happy to close this in favour of https://github.com/istio/istio/issues/6741 - as the underlying problem is the build up of versions due to mixer not clearing out historical data.

[2018-07-01 00:05] douglas-reid commented on #6763
@Stono what does your config look like for the rules `promhttp` and `promtcp` ?

You should have something like:
[code]

[2018-07-01 02:10] vadimeisenbergibm commented on #6694
Could you please attach your Service Entry definition?

[2018-07-01 02:18] vadimeisenbergibm commented on #6687
@andraxylia @frankbu please note that this was exactly the plan - leave routing yamls bookinfo/kube with the original names and then remove them after 0.8.0. As an anecdote, the ingress was also gateway in the previous istio versions.

A question - would it be useful to use helm charts for bookinfo? Different versions of micro services are required for different documentation tasks.

[2018-07-01 07:15] Stono commented on #6763
Interesting, it looks different.  We haven't changed it at all since the 0.8 release:

[code]

There is no match

[2018-07-01 07:38] Stono commented on #6763
I can confirm adding those lines in resolves the problem for me, so this'll be inherently fixed in the next release

[2018-07-01 07:53] Stono commented on #6037
@costinm from a CRD perspective https://github.com/kubernetes/helm/blob/master/docs/charts_hooks.md#the-available-hooks

Note the `crd` hook. This isn't in the currently release, it'll be in the next

[2018-07-01 09:35] tushar00jain commented on #5940
Thanks a lot for the great support!  This issue can be marked as resolved.

I had to configure the gateway to get it working. I was using the ip address provided by the ingress controller as of version 0.7 however using the ip address provided by the ingress in `istio-system` namespace works as expected.

[2018-07-01 09:41] xiajidexue opened #6769 "Netework issue encountered when using Istio Gateway for supportting gRPC"
**Describe the bug**
I am a new commer to Istio, i am trying to use Istio Gateway for gRPC traffic supports, the command "wget" fails after executing the command "istioctl kube-inject", but it works before the sider car injected.

![image](https://user-images.githubusercontent.com/6821543/42133234-f507e968-7d58-11e8-89b0-01dee11c17a5.png)

Error pod log in the screen shotcut shown as below:

Conne

[2018-07-01 10:17] zvikaga opened #6770 "virtualservice for grpc does not get applied for ingressgateway"
**Describe the bug**
Could not make virtualservice routing rule applied to ingressgateway for grpc service.
Other regular http exposed services are reachable through the gateway.

**Expected behavior**
virtualservice config for GRPC routing should be successfully configured.

**Steps to reproduce the bug**
[code]

**Version**
What version of istio and Kubernetes are you using? Use `istioctl versio

[2018-07-01 10:35] xiajidexue commented on #6770
Also encountered the problems when using Istio for support the gRPC:
https://github.com/istio/istio/issues/6769

[2018-07-01 13:14] namsoila opened #6772 "ImagePullBackOff Error For 0.8.0"
**Describe the bug**
Running on GKE 1.10.4-gke.2. Using the following to setup istio:

`kubectl apply -f install/kubernetes/istio-demo-auth.yaml`

Services are installed without error but pods have numerous ImagePullBackOff errors:

[code]

Running `kubectl describe` for one of the pods yields:

`Failed to pull image "docker.io/istio/grafana:0.8.0": rpc error: code = Unknown desc = Error response

[2018-07-01 13:41] ymesika commented on #6770
You have mismatch in names between the gateway (`test-gateway`) and the VirtualService (`orca-gateway`).
Do you have other gateway or is it typo?

[2018-07-01 13:43] namsoila commented on #6772
This was due to creating a private gke cluster. Will resolve based on gke setup since istio setup running on non private gke has all pods running.

[2018-07-01 13:43] #6772 closed

[2018-07-01 13:50] vadimeisenbergibm commented on #6770
@zvikaga Additional issue to the one mentioned in https://github.com/istio/istio/issues/6770#issuecomment-401607709, your GRPC service `guru.default.svc.cluster.local` expects GRPC over HTTPS, doesn't it? In such a case your gateway must not perform TLS termination, so the `tls` `mode` must be `PASSHTROUGH`,  without the key/certificate.

[2018-07-01 14:35] zvikaga commented on #6770
Thanks Yossi, this is of course a typo and not what was actually configured.
In regards to the tls termination, in our current deployment, the ingress terminates the SSL while the end grpc service listens to port 80.

You may look at the following k8s ingress resource config which was working for a long time:

[code]
The ingress terminated TLS also for the grpc service. I'm looking for the equival

[2018-07-01 14:51] vadimeisenbergibm commented on #6770
OK, I see, so the TLS termination is correct. Let me check the routes.

[2018-07-01 16:35] vadimeisenbergibm opened #6773 "Port numbers are not supported in Host headers of requests sent to ingress gateway"
**Describe the bug**
Port numbers are not supported in Host headers of requests sent to ingress gateway.

**Expected behavior**
Port numbers in Host headers must be supported. According to [the HTTP 1/1 RFC](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.23), a host header may contain port number.

**Steps to reproduce the bug**
Follow the steps in https://preliminary.istio.io/docs/

[2018-07-01 21:53] xiajidexue commented on #6769
anyone can give me a help?

[2018-07-01 22:04] ilmatic commented on #6301
@andrew-dinunzio I'm seeing the same error on AWS cluster provisioned with kops.

[code]

[2018-07-01 23:49] douglas-reid commented on #6763
OK. Let's close this then. Sound good?

[2018-07-01 23:49] #6763 closed

[2018-07-02 01:12] shenjieyao commented on #6504
I used this command "curl -L https://git.io/getLatestIstio | sh -" to get latest version that is V0.8.0. I think that is this release "6f9f420f0c7119ff4fa6a1966a6f6d89b1b4db84" . And V0.7.1 release link is https://github.com/istio/istio/releases/download/0.7.1/istio-0.7.1-linux.tar.gz .

[2018-07-02 06:24] #6694 closed, assigned to nobody

[2018-07-02 07:13] vadimeisenbergibm commented on #6694
@wralph Yes, the destination rule is used for TLS origination, when the service entry is HTTP, and there is a requirement to connect to the destination by HTTPS.

In your case the service entry is HTTPS, it means that the origination is performed by the client application.

More on TLS origination - https://istio.io/docs/tasks/traffic-management/egress-tls-origination/

[2018-07-02 07:40] vadimeisenbergibm commented on #6769
@xiajidexue I do not see any log entries regarding the blocked requests. It means that your request may not arrive to the ingress gateway at all. Can you verify that an HTTP ingress gateway works for you?

[2018-07-02 07:54] zxDiscovery opened #6777 "Web/Graphical UI can't generate the chart when the fortio deploy on the istio with sidecar"
**Describe the bug**
I test the istio performance according to the **Istio Load Testing User Guide** ([https://github.com/istio/istio/tree/master/tools#istio-load-testing-user-guide](url))
The case is S1 to S2 (istio service 1 to istio service 2 through the sidecar).
fortio parameter as follows:
QPS (-1), Duration (30s), Threads/Simultaneous connections: 48
Then the fortio doesn't graph the result

[2018-07-02 07:57] ThanosAndLichKing commented on #6777
/cc @gyliu513 @morvencao

[2018-07-02 09:00] andresusanto commented on #2554
@hrishin hi, sorry for late response, we decided to leave Istio and allocate our effort to go with vanilla Envoy instead, so we have not tested the 0.8 right now.

CC @novendriono

[2018-07-02 09:21] rokii opened #6778 "Host without domainsuffix in virtualservice can not be accessed through ingressgateway"
**Describe the bug**
When adding a route in virtualservice , providing the host with format <svc name>.<ns>,  the app can not be accessed through ingressgateway.

**Expected behavior**
Virtualservice appgateway is  created in ns bookinfo. In vs appgateway, there is a route destination to a svc in ns istiosample(host : sampleapp.istiosample),  the sampapp can be access through ingress gateway.

**S

[2018-07-02 09:23] #6778 closed

[2018-07-02 09:30] zvikaga commented on #6770
Thanks!! this is exactly what we've seen. The GRPC client requires to add the port to the hostname in the URL. That can be seen in the ingressgateway's logs.
Workaround was to you use "*" in the host field of both gateway and the virtualservice of the GRPC service. This of course requires the prefix match to be different.

[2018-07-02 09:30] #6770 closed

[2018-07-02 09:31] deva26 commented on #5327
@esnible - Thanks for the binary. It works fine if mTLS is not enabled. If enabled, I get the  error ---- Error: failed to convert to proto. unknown field "mtlsExcludedServices" in v1alpha1.MeshConfig. However, if I comment mtlsExcludedServices in istio configMap it looks fine. Downside would be I would be be able to access the k8s api server from my pods. Do you think the error is a known thingy?

[2018-07-02 09:40] emmayang commented on #5997
I met same error, and the service cannot be found in my env is introduced into mesh via ServiceEntry.

[2018-07-02 09:51] ThanosAndLichKing commented on #6777
Step 1 link content

**setup VM**

 1. Prepare VM and git & golang env…
 2. update_fortio_on_vm

[code]

3. run_fortio_on_vm
[code]
**setup cluster**

1. install_non_istio_svc
[code]
Note: Get ingress loader balancer IP and add DNS record to /ets/hostsby
[code]
2. Install Istio(helm chart)
[code]
3. install_istio_svc
[code]

**Get IP**

1. get_vm_ip
[code]
2. get_fortio_k8s_ip
[code]
3. get_istio_

[2018-07-02 09:52] wansuiye commented on #6695
could someone help me solve this problem?

[2018-07-02 10:41] AWKIF opened #6779 "Be able to change default k8s cluster domain"
**Is your feature request related to a problem? Please describe.**
My default k8s cluster domain is not "cluster.local"

**Describe the solution you'd like**
I'd like to be able to change my cluster domain easily

**Describe alternatives you've considered**
Manually change/add param to the default istio-demo.yaml

Thank you !

[2018-07-02 10:57] craigbox opened #6780 "Can't connect to Pilot from sidecars in second cluster of multi-cluster install"
**Describe the bug**
Having installed Istio into two GKE clusters, the sidecars in the second cluster appear not to be able to connect to the Pilot in the first cluster.

**Steps to reproduce the bug**
Install Istio 0.8 in a multi-cluster mesh in two GKE clusters (cluster-1 and cluster-2), largely following the preliminary 1.0 docs.

Created a hello-world app Deployment in each, with a Service sel

[2018-07-02 11:22] craigbox commented on #6780
/area environments

[2018-07-02 12:31] craigbox commented on #6153
This isn't obvious to a new user.

When I install Istio in two clusters, it seems I get a regular Citadel installation in the first, and a self-signed? Citadel in the second.

I'm currently trying to debug why sidecars in the second can't talk to Pilot in the first, and it seems reasonable that it might be a CA problem.

I'm therefore trying to check the certs, but if they're being acquired from a

[2018-07-02 12:34] craigbox commented on #5535
(AIUI, CoreDNS can be installed by kubeadm as GA in 1.11, but it's not the project default, and GKE for example won't have it.)

[2018-07-02 13:10] jaredeis commented on #5327
I got the same error and chalked it up to the fact we have 0.7.1 installed. I’m glad you figured out that it was the mtls option. That needs to work for us as well.

[2018-07-02 13:39] #6542 closed

[2018-07-02 13:39] craigbox commented on #6780
OK, this was an "impedance mismatch" of an issue.

The default firewall for projects created since VPCs were introduced to GCP is for the subnet 10.128.0.0/9 (as opposed to the 0/0 of yore).

The pod IP ranges were 10.36.0.0/14 and 10.40.0.0/14, so the pod ranges were firewalled from each other.

Thanks to @cwest, who makes an excellent rubber duck.

[2018-07-02 13:39] #6780 closed

[2018-07-02 13:44] xiajidexue commented on #6769
thanks a lot, i will take a look later, maybe i miss the ServiceEntry defination as i need to access outside world of the Istio servicemesh

[2018-07-02 14:06] zvikaga opened #6782 "EnvoyV2 forwards HTTP requests improperly to the upstream server"
**Describe the bug**
Puma server, the front end on few of our services supports only HTTP 1.1.
ingress gateway manipulates the request in such a way it gets malformed to the upstream service.
We don't have this behavior in another http service we use.
Also we don't have this issue on Istio 0.7.1

**Expected behavior**
The HTTP 1.1 request should be served properly by the PUMA HTTP server.

**Steps

[2018-07-02 14:11] rokii commented on #6779
same requirement https://github.com/istio/istio/issues/6661

[2018-07-02 14:19] AWKIF commented on #6661
this would be great indeed

[2018-07-02 14:24] rshriram commented on #6782
is there a sidecar in the portrus pod? can you get the logs from the sidecar in the portrus pod?
and when you say this behavior is not present in other services, are these services capable of receiving http2 ?

[2018-07-02 14:32] rshriram commented on #6733
is 8081 a nodeport or the service port? We don't support routing to nodeports.
Secondly, can you try using a FQDN in the destination.host instead of a short name, to see if it works? the way you have it, the short name host should resolve to nexus-sonatype-nexus.nexus.svc.cluster.local == is this where the service is running?

[2018-07-02 14:34] rshriram commented on #6779
closed as duplicate

[2018-07-02 14:34] #6779 closed

[2018-07-02 14:35] rshriram commented on #6706
You can do this easily. Simply modify the YAML for ingress gateway to deploy as a daemon set. The ingressgateway we ship is merely an example of how to deploy the gateway. There is nothing preventing you from deploying the gateway as an ILB/daemonset, etc.

[2018-07-02 14:39] rshriram commented on #6695
why can't you add all addresses in same service entry? You also don't need the /32 prefix.

[2018-07-02 14:51] zvikaga commented on #6782
Nothing! No log we're seen in the sidecar. Forgot to mention that.

On Mon, Jul 2, 2018, 17:25 Shriram Rajagopalan <notifications@github.com>
wrote:

[2018-07-02 15:28] ozevren opened #6783 "Allow disabling of Galley web-hook registration in Helm"

[2018-07-02 15:28] ozevren commented on #6161
https://github.com/istio/istio/issues/6783

[2018-07-02 16:04] ayj commented on #6783
Fixed by https://github.com/istio/istio/pull/6690. Validation (via webhook) can be disabled with [this](https://github.com/istio/istio/blob/12d362277ca15bcb7784eb1a65f6277a47d87fd8/install/kubernetes/helm/istio/values.yaml#L106) option.

We'll need to document in the k8s setup instructions when this option should be disabled (e.g. unsupported k8s provider, older versions).

[2018-07-02 16:04] #6783 closed

[2018-07-02 16:05] andraxylia commented on #6313
@Rigdon could you please check with the latest master? #6432 should have fixed this , but there is no automated test.

[2018-07-02 16:11] andraxylia commented on #5940
great, thanks @tushar00jain

[2018-07-02 16:11] #5940 closed

[2018-07-02 16:14] andraxylia commented on #6687
I personally like to run the simplest thing for bookinfo, which is a kubectl apply, and we need to install all versions anyway.

[2018-07-02 16:29] Rigdon commented on #6313
@andraxylia #6432 did indeed stop the Pilot errors. Pilot still doesn't register services with the correct cluster domain but at least routing works correctly now using the short service names (i.e., `service.namespace`). IMO #6432 should definitely be backported.

[2018-07-02 16:36] costinm commented on #6755
Have you verified against the monthly release ? Users don't run tests. We may need extra docs or release notes - I haven't done anything special, just installed istio and added a TCP gateway.

Note that this is for the gateway - I haven't looked at service-to-service yet.

[2018-07-02 16:39] costinm commented on #6738
+1 on removing the feature - yes, it is a P0, upgrade and graceful roll-out is required in any production environment.

Any chance to get a PR in today or tomorrow - Andy is willing to cut another 'monthly'/RC. We need
users to start testing 1.0.

[2018-07-02 16:42] costinm commented on #6738
I noticed that master also has a new "NetworkFailPolicy" - we need to cut 1.0 branch ASAP to avoid further destabilization, please remove that as well, I suspect it has the same problems.

[2018-07-02 16:51] andraxylia commented on #5982
Please include #6432

[2018-07-02 17:42] Stono commented on #6741
@douglas-reid I don't think this is going to help....
Long story short if the metrics expire from mixer, they seem to get back-deleted from prometheus.

You can observe this behaviour by simply restarting mixer, then querying prometheus and you'll see `istio_request_count` is totally empty.

[2018-07-02 17:58] hklai commented on #5982
With 1.0 (the next LTS) on the horizon (ETA 7/18), Sven, Jasmine, and I have decided not to create 0.8.1.

Please stay tuned for the upcoming 1.0 release.

[2018-07-02 17:58] #5982 closed

[2018-07-02 18:02] wattli commented on #6757
@costinm , i would be great if you could provide the DestinationRule and AuthPolicy in this issue, which would make it easier for the reproduce. And have you tried the http proxy with mTLS?

[2018-07-02 18:16] arianmotamedi opened #6786 "Istio 0.8 TLS: Per-service Client Certificate"
Reading through https://istio.io/docs/reference/config/istio.networking.v1alpha3, looks like you can use your own client certificates when a request is being routed to an upstream server through a DestinationRule:

[code]

My understanding is in this case all requests going to `mymongodb.somedomain` will use this cert. In our use case we need to be able to have each downstream service pass its own

[2018-07-02 18:57] JohnDzialo commented on #6733
oh, I was able to solve it.

I did not reference the gateway in the virtual gateway :(.

so envoy was 404'ing because there was no where for the gateway to send the request.

[code]

[2018-07-02 18:57] #6733 closed

[2018-07-02 18:58] JohnDzialo commented on #6733
FYI, it was a nodeport and I was able to route to it 🤔

[2018-07-02 20:44] quanjielin commented on #6786
My understanding is DestinationRule.host is service name rather than 'server' (see definition [here](https://github.com/istio/api/blob/master/networking/v1alpha3/destination_rule.proto#L111)), and [more examples](https://istio.io/docs/tasks/security/authn-policy/#enable-mutual-tls-for-all-services-in-a-namespace); So probably using two DestinationRules works for your scenario ? Let's know if it do

[2018-07-02 20:57] rshriram commented on #6782
can you get the config please? istioctl proxy-config pilot mesh ads

[2018-07-02 21:05] vishalpandey2192 opened #6791 "Unable to get running virtual services"
**Describe the bug**
A clear and concise description of what the bug is.
I am running istio using consul , While deploying any configuration/application, lets say the official bookinfo sample, after successfully deploying the required yaml files when I run istioctl get virtualservices, I get an error  Error: the server could not find the requested resource (get virtualservices.networking.istio.io)

[2018-07-02 21:11] pbochynski commented on #6587
The problem is with connection handling in Azure SQL. It is initiated through the gateway on port 1433, but if the connection origin is located in the Azure network then the connection is redirected to the proxy middleware. You have 2 options:
- disable redirects by changing connection settings as described here: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connectivity-archite

[2018-07-02 21:15] jmazzitelli commented on #4647
Do we know if client-side reporting of telemetry is available in the 1.0 work yet (e.g. in the https://github.com/istio/istio/tree/release-1.0.0-snapshot.0 branch)?

[2018-07-02 21:21] #5976 closed

[2018-07-02 22:09] #3789 closed

[2018-07-02 22:11] hklai commented on #2797
@douglas-reid
2018/06 Snapshot (pre 1.0) has passed. Should this remain P0 for 1.0?

[2018-07-02 22:12] hklai commented on #4862
I think this has been fixed, and boskos resources can be monitored at https://velodrome.istio.io/dashboard/db/boskos-dashboard?orgId=1.

[2018-07-02 22:12] #4862 closed

[2018-07-02 22:13] hklai commented on #3387
@geeknoid 2018/06 Snapshot (pre 1.0) had passed. Should this remain P0 for 1.0?

[2018-07-02 22:21] hklai commented on #6667
As noted in #5982, we do not intend to cut 0.8.1 anymore since 1.0 is right around the corner.

Closing this for now.

[2018-07-02 22:21] #6667 closed

[2018-07-02 23:00] jon-whit opened #6795 "Question: Custom Mixer Template Types"
I'm reading into Mixer templates and trying to figure out how to most elegantly solve the following use case:

We have a gRPC service that stores a mapping between users and the permissions the user has been assigned. JWTs are used for end-user authentication on protected service paths. We would like to use Mixer to get the permissions associated with the subject of the request at request time (ei

[2018-07-02 23:01] jasmine-jaksic commented on #2468
@PiotrSikora @rshriram Any progress on this?

[2018-07-02 23:07] jasmine-jaksic commented on #1038
@douglas-reid Per our discussion, please verify that the 503 scenario you encountered is still reproducible. If not, let's close this issue tomorrow.

[2018-07-02 23:28] kyessenov commented on #4647
The next snapshot to be shipped today-ish should have this feature enabled, and displayed on dashboards. There are some caveats that we are going to document.

[2018-07-03 00:01] kyessenov opened #15746 "attribute derivation: add an option to use upstream connection as opposed to downstream connection"
Currently, mixerfilter uses downstream connection attributes for check and report. It would be useful to check/report on upstream connection as well. This applies to `connection.*` group of attributes.

[2018-07-03 00:17] jasmine-jaksic commented on #6259
Based on discussions with @rshriram and @costinm, this issue is 1) not 1.0 blocking 2) is non-trivial, risky and time-consuming (not something that can be done in 1.0 timeline). So we are making this a P0 for 1.1 milestone instead.

[2018-07-03 00:33] andraxylia commented on #6259
@jasmine-jaksic this should be decided/vetted by the TOC, since the TOC set the initial P0 priority.

[2018-07-03 00:36] PiotrSikora commented on #2468
@jasmine-jaksic yeah, but not done yet... I hope to have the Envoy PR out later tonight, though.

[2018-07-03 00:38] andraxylia commented on #1038
As discussed with @douglas-reid , he was seeing 503s with stable traffic , which is covered by #3295, and with a qps of 20s.

[2018-07-03 00:42] costinm commented on #6661
Sounds reasonable - but not sure if we'll have time to test it in 1.0
The helm change doesn't seem too big - but if we add a param we need to also test it, and we don't have
infrastructure in place. I don't know if any code is also making this assumption.
Adding an option without testing it is risky.

[2018-07-03 01:11] #1703 closed

[2018-07-03 02:56] PiotrSikora commented on #6259
@jasmine-jaksic I was under the impression that the agreed-upon solution for this is separating inbound/outbound listeners and reverting iptables back to intercepting all the traffic by default.

On the Envoy side, the code is the same as for #2468 (another P0), one the Istio side, it will require small changes to the iptables script (to use 2 ports instead of 1) and then Pilot changes to match it

[2018-07-03 03:09] #6707 closed

[2018-07-03 03:12] jasmine-jaksic commented on #6259
@PiotrSikora and @andraxylia This seems very risky but let's discuss the details in tomorrow's 1.0 stand-up.

[2018-07-03 03:40] Rigdon commented on #6661
Multi-cluster should eventually support this as well. Currently the secret used to tell pilot about remote clusters doesn't have an option to indicate the remote clusters custom domain even if Pilot supported it.

[2018-07-03 03:53] xiajidexue commented on #6770
@zvikaga , I am also investigating Istio gateway for supporting  gRPC, can you help to paste all your whole yamls which can be successfully run for our reference? or just send me via the mail: 1214682008@qq.com.

Your quick response will be much appreciated :)

[2018-07-03 03:56] theganyo opened #6803 "Istio snapshot 0: "no matches for authentication.istio.io" using istio-demo.yaml"
Using the June RC release: https://github.com/istio/istio/releases/tag/1.0.0-snapshot.0

Did a clean install on a Docker Kubernetes cluster using:

`kubectl apply -f install/kubernetes/istio-demo.yaml`

The following error occurs:

[code]

Note: `istio-demo.auth.yaml` works fine.

[2018-07-03 04:02] theganyo opened #6804 "Mixer adapter HandleAuthorization() called twice in 1.0.0-snapshot.0"
After upgrading my Mixer and adapter from 0.8 to 1.0.0-snapshot.0, I'm seeing the adapter's HandleAuthorization() function being called twice per request instead of once as expected.

[2018-07-03 05:54] gyliu513 opened #6806 "Istio install failed when PSP (Pod Security Policy) enabled"
When I enabled PSP for my Kubernetes cluster and then install Istio, it failed to install.

[code]

[code]

We need create a PSP policy for istio-system as well to give all permissions.

[2018-07-03 06:19] sdake commented on #6700
@akshaymankar thanks for contribution of the bug report.  This will be addressed when time permits.  We are working very hard to release 1.0 on schedule, and this particular problem, while annoying, doesn't seem to be a P0 or P1 as per 1.0 release criteria.

Cheers
-steve

[2018-07-03 06:20] sdake commented on #6699
@douglas-reid looks like a simple change, can you take a look?

[2018-07-03 06:29] sdake commented on #6504
@ayj yup - I understood that after I made the statement in the bug log and indicated my misunderstanding in https://github.com/istio/istio/issues/6504#issuecomment-399700758 - although I guess that also wasn't clear.

@shenjieyao you may ignore my comments about the templating.  The implementation is normal and the results are correct.

[2018-07-03 07:12] zvikaga commented on #6770
The below config works for me.

- Please pay attention to the order of the virtualservice entries. the more general should be the last. The rule is: within the MATCH it's AND, between matches it's OR.

- According to the above bug, I use "*" for the host field. So we'll have to make the prefixes different.

[code]

[2018-07-03 07:14] xiajidexue commented on #6770
@zvikaga, cool, thanks a lot for your sharing, i will try it later:)

[2018-07-03 07:31] gyliu513 opened #6808 "How to evaluate the overhead of sidecar container"
Any test cases which can help me to test what is the overhead of sidecar container? How much impact and how much latency does a sidecar container can impact the application?

@ldemailly @suryadu comments for this?

FYI @morvencao @zxxa

Related with https://github.com/istio/istio/issues/6697

[2018-07-03 07:31] zvikaga commented on #6782
[proxy-config.txt](https://github.com/istio/istio/files/2158093/proxy-config.txt)

[2018-07-03 07:55] sdake commented on #6635
@wattli - bit confused by this issue tracker as it lacks a bit of detail.  Currently multicluster is secure although could benefit from a design audit.  For reference, citadel is deployed on each multicluster Kubernetes control plane, and certificates can be set in either intermediate mode or with a shared root certificate.

Cheers
-steve

[2018-07-03 08:40] vadimeisenbergibm opened #6810 "Use SNI in telemetry reports and policy checks"
**Is your feature request related to a problem? Please describe.**
The problem: lack of monitoring and access policies based on the SNI value of TLS handshake.

**Describe the solution you'd like**
Istio proxy should be able to extract the SNI value from the TLS connection and to send it to telemetry and policy components.

[2018-07-03 08:48] crowfrog opened #6811 "ServiceEntry.Resolution not applied for outbound traffic"
**Describe the bug**
I create a ServiceEntry for a non-existent external service called foo.bar.com backed by one ip address "150.132.165.169". And set resolution to STATIC.

[code]

But when I run cmd "curl -i http://foo.bar.com:31490", I still got following issue:
"curl: (6) Could not resolve host: foo.bar.com; Name or service not known"

**Expected behavior**
curl should get successful response

[2018-07-03 08:51] AWKIF commented on #6313
@andraxylia @Rigdon I will test it right now, but if you can tell me what need to be changed, from what i see:
add --domain to pilot discovery, istio-proxy(sidecar),
is it needed to add this to every proxy ? (ie ingress gateway, pilot)
Thanks :)

[2018-07-03 09:17] crowfrog commented on #6811
one more, if I set ServiceEntry.Resolution to DNS, same issue occured.

[2018-07-03 09:39] thangchung commented on #6499
I have got the same today. I'm struggling to sort it out, but no luck :(

[2018-07-03 10:16] AWKIF commented on #6313
Finally got it working fine, no errors, all looks good! thanks !!

[2018-07-03 12:30] ldemailly commented on #6808
you can use the s1->s2 scenario compared to fortio1->fortio2 one; both are setup and have functions in tools/

you will find that the non istio injected case is negligible (<0.5ms) so you can just use s1->s2 as the overhead itself

[2018-07-03 12:33] ldemailly commented on #1038
but that other issue is also claimed to be fixed, so what is the explanation for what doug observed?

[2018-07-03 12:54] bobbytables commented on #6421
Would this effect GRPC Gateways ([This project](https://github.com/grpc-ecosystem/grpc-gateway))  as well? We have a setup like so:

[code]

We see this error _only_ on GRPC gateways:

[code]

Just want to make sure I found the correct issue affecting us.

[2018-07-03 14:18] holgero opened #6816 "Istio-1.0: Helm template creates a manifest that contains references to release 0.8"
**Describe the bug**
When I execute the first command line described in https://preliminary.istio.io/docs/setup/kubernetes/helm-install.html#option-1-install-with-helm-via-helm-template the generated manifest contains references to release 0.8

**Expected behavior**
The generated manifest should only contain references to release 1.0 (probably with some snapshot identifier).

**Steps to reproduce

[2018-07-03 15:07] arianmotamedi commented on #6786
@quanjielin

But how would I distinguish them based on sources? In this case, I'd need to have two destination rules, one for Service A (to load A's client cert) and one for Service B (to load B's client cert) but how would I tell the rule to match on a source? Seems like you can do it at the virtual service level using label selectors (https://istio.io/docs/concepts/traffic-management/rules-confi

[2018-07-03 15:09] kyessenov commented on #6804
Can you please elaborate on what attributes you are seeing? Is it happening
for a single sidecar?

On Mon, Jul 2, 2018, 9:02 PM Scott Ganyo <notifications@github.com> wrote:

[2018-07-03 15:17] gyliu513 commented on #6808
Thanks @ldemailly , does istio have some criteria for the overhead? What value can be treated as acceptable?

[2018-07-03 15:37] holgero commented on #6816
Seems this has been noticed on the mailing list, too: https://groups.google.com/d/msg/istio-dev/3i-xlzmjKmo/i6ogFI_tCAAJ
When I apply the workaround mentioned there, the docker image tags no longer contain the label with 0.8. But still grep finds occurrences of '0.8' in the manifest (all in the values for a property named 'chart'). I am not sure if this is important, or can/should be ignored.

[2018-07-03 16:17] andraxylia commented on #6313
great, thanks @AWKIF for the confirmation.

[2018-07-03 16:17] #6313 closed

[2018-07-03 16:36] quanjielin commented on #6803
Just tried following below steps in GKE cluster and couldn't repro, could you pls add more info(like how env is setup) so that we could take a look ?
1. create a GKE cluster (version 1.9.7-gke.3)
2. connect to cluster following https://istio.io/docs/setup/kubernetes/quick-start/
3. download istio-1.0.0-snapshot.0-linux.tar.gz from https://github.com/istio/istio/releases/tag/1.0.0-snapshot.0
4. run

[2018-07-03 16:42] theganyo commented on #6803
This is on Docker for Mac, Version: 18.05.0-ce-mac67.

$kubectl version
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.7", GitCommit:"dd5e1a2978fd0b97d9b78e1564398aeea7e7fe92", GitTreeState:"clean", BuildDate:"2018-04-19T00:05:56Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3", GitCommit:"

[2018-07-03 17:18] quanjielin commented on #6786
sourceLabels sounds like a solution to match the source; also VirtualService can be associated with DestinationRules using subset, which is a collection of labels; [example](https://github.com/istio/api/blob/master/networking/v1alpha3/virtual_service.pb.go#L19) and [subset in DestinationRules](https://github.com/istio/api/blob/master/networking/v1alpha3/destination_rule.proto#L119).

[2018-07-03 17:29] andraxylia commented on #6613
Kubernetes 1.11 is out. It seems reasonable to make this change in 1.1.

[2018-07-03 17:52] douglas-reid commented on #6699
assigning to @jeffmendoza who wrote the fluentd adapter.

[2018-07-03 17:54] ayj commented on #6613
Multiple versions of the same CRD group/kind cannot coexist (see example below).

[code]

[code]

[2018-07-03 17:56] douglas-reid commented on #6804
@theganyo can you share a dump of your rules?  is it possible we have multiple rules configured for the handler?

[2018-07-03 17:58] douglas-reid commented on #6804
It also looks like the handler is run with two different contexts (differing sets of attributes).

[2018-07-03 17:58] andraxylia commented on #1038
It's the bookinfo not handling well concurrent requests. If I run fortio with qps 20 and 4 concurrent threads, I see some 503s from time to time, but if I run it with 1 thread and 100 qps there is no 503.

fortio load -loglevel warning -c 1 -qps 20 -t 0 35.232.86.12/productpage

@costinm ran 1000 qps with fortio on the backends, for about a month, without seeing any 503s. I saw the stress test das

[2018-07-03 18:13] sakshigoel12 commented on #5992
@costinm

[2018-07-03 18:15] arianmotamedi commented on #6786
But a host name can appear only once in a VirtualService, so I can't define multiple VSs with different sourceLabels. This all just doesn't sound right.

[2018-07-03 18:16] theganyo commented on #6804
[code]

BTW: My apigee-rule is simply:

[code]

[2018-07-03 18:28] jeffmendoza commented on #6699
Sounds great. We are vendored to v1.3.0, the latest release

https://github.com/istio/istio/blob/master/Gopkg.toml#L116
https://github.com/fluent/fluent-logger-golang/releases

I'm not sure this change is included in the latest release, it might be more recent. CC @tagomoris @alexlrt if they can provide any insight. Thanks!

[2018-07-03 18:39] jasmine-jaksic commented on #6804
@kyessenov Could you take a look at this please?

[2018-07-03 18:55] quanjielin commented on #6786
One VS contains multiple [HTTPRoute](https://github.com/istio/api/blob/master/networking/v1alpha3/virtual_service.pb.go#L120), each route could specify source labels and [destination](https://github.com/istio/api/blob/master/networking/v1alpha3/virtual_service.proto#L305)(Host + subset)

[2018-07-03 19:29] nmittler commented on #6642
@liamawhite

What if there was only a single service instance? Would any dynamic clusters/listeners be assigned?

[2018-07-03 19:38] nmittler commented on #6642
Actually, we could just look for the existence of the blackhole cluster.  WDYT?

[2018-07-03 19:59] costinm opened #6825 "Generate a single istio-demo.yaml, with a subset of services using mtls"
In previous versions we distributed 2 installs - with mtls on by default and off by default.

Now we have ability to do per-service policy config as well as transparent migration - it would be great for the 'default' demo to showcase those 2 features, and no longer distribute one with no mtls and one with all mtls.

We could set a policy and destination rule for one of the services to be mtls, ano

[2018-07-03 20:00] costinm commented on #6825
@rshriram
This will also help reduce the use of the global mtls setting - and point users to the new API.

[2018-07-03 20:07] #6738 closed

[2018-07-03 20:09] jasmine-jaksic opened #6826 "Add FAQ about known issue (503 with concurrent requests)"
As a follow-up to 1038# please add FAQ that lets the users know that they can encounter 503s if they run concurrent threads

[2018-07-03 20:11] jasmine-jaksic commented on #1038
Added #6826 for documenting the known issue

[2018-07-03 20:15] nmittler commented on #6642
@liamawhite

Pilot already adds management ports for 3333 and 9999 ... could we use those?

[2018-07-03 20:22] kyessenov commented on #6804
@theganyo You are seeing a Check call from ingress/ingressgateway, and then another one at the server-side sidecar. If you get latest build, you should condition on `context.reporter.kind==outbound` and `source.labels` to select ingress check, or `context.reporter.kind==inbound` and `destination.labels` to select the sidecar server check.

Attribute 196 is `context.reporter.local` which got deprec

[2018-07-03 20:44] theganyo commented on #6804
The conditions that I need to use in my rules keep changing and I'm very confused. Last time I had an issue with changes to Mixer calls (moving to 0.8) it was recommended that I select on namespace. Is there a FAQ on how rules should be set up now - for at least the most common scenarios? I assume there's some overall matcher strategy that I haven't quite grokked so that my rules won't break from

[2018-07-03 21:01] liamawhite commented on #6642
In kube there will be kube stuff in there. Kube-dns, kube-dash, etc. Maybe not if we decide to selectively load clusters at a later date though.

[2018-07-03 21:06] kyessenov commented on #6804
We had several last-minute changes to update the rules, mostly due to the increased amount of data piped into mixer. Conceptually, everything is same, but the rules must be more selective to maintain compatibility with older versions. There is a new dimension `context.reporter.kind` that selects which side of the connection attributes are flowing from. The values are `inbound` for the server and `

[2018-07-03 21:08] kyessenov commented on #6804
Re: namespace. That's another last-ditch attempt to fix the model pre-release. The new config selection uses the namespace of the reporter to scope the config. That means we use the config namespace of the client for outbound, and the server for inbound. Placing the config into the right namespace would make the rule visible to mixer.

[2018-07-03 21:10] andraxylia commented on #6826
@jasmine-jaksic to clarify, this is only related to bookinfo, not a general problem.

[2018-07-03 21:33] arianmotamedi commented on #6786
that's not very maintainable if we want to have each service owner be responsible for their own VirtualService deployment if we're using one vs with multiple routes to multiple destinations :( I'm really hoping there's another solution here, especially considering how easy this is to setup in Envoy.

[2018-07-03 21:38] kevincvlam opened #6828 "RabbitMQ Crashes with Mutual TLS Enabled"
**Describe the bug**
RabbitMQ fails to start on a Kubernetes Cluster hosted on GKE at version 1.9.6-gke.1 with Istio installed at v. 0.8.0.

It crashes with an error:

`ERROR: epmd error for host rabbitmq-596f977747-k58bb: timeout (timed out)'`

Note that we were able to set-up and test mutual tls in a namespace as outlined in the demo at https://istio.io/docs/tasks/security/authn-policy/#enable-m

[2018-07-03 21:52] quanjielin commented on #6803
I followed below steps, still didn't see this issue; could you re-install docker and try again ?
1. install docker for mac(using 18.05.0-ce-mac67, downloaded from [here](https://docs.docker.com/docker-for-mac/edge-release-notes/))
2. start k8s followed [here](https://docs.docker.com/docker-for-mac/#kubernetes)(choose docker-for-desktop)
3.
quanlin-macbookpro:~ quanlin$ /usr/local/bin/kubectl versi

[2018-07-03 21:55] theganyo commented on #6803
Strange. I have tried resetting Kubernetes. Yes, I'll try a full reinstall of Docker.

[2018-07-03 22:01] kyessenov commented on #6810
The process to add attributes is as follows:
1. define a new attribute in the compression dictionary: https://github.com/istio/api/blob/master/mixer/v1/global_dictionary.yaml
2. document a new attribute on the website
3. implement extraction in proxy; related to this, we should work out upstream/downstream connection differences
4. expose the attribute to mixer adapters using mixer's config.yaml
5

[2018-07-03 22:12] ldemailly commented on #1038
are you saying you see 503s with bookinfo without istio?

[2018-07-03 22:12] theganyo commented on #6804
Ok, thanks. FYI - I tried your rule, but it looks like `context.reporter.kind` isn't available in 1.0.0-snapshot.0. I'll switch to a later build and try it soon.

[2018-07-03 22:16] ldemailly commented on #6808
currently we have been tracking and measuring as well as insuring no regression and that the number improves release over release. 1.0.0 is likely to be what it is and « acceptable »/more agressive targets are for the rest of 2018 and early 2019

[2018-07-03 22:20] costinm commented on #6613
Last time we did this I think we changed the group or the names.

Adding @rshriram @louiscryan
The options are:

- do nothing

- update only the docs (and api directory) and say "Networking APIs are beta, but due to limitations in K8S < 1.11 users will still need to use alpha3 labels until 1.11 is available"

- update the group - v1.networking.istio.io   with version beta1

[2018-07-03 22:20] costinm commented on #6613
Of course - the trick with v1.networking.istio.io will not work for beta2 - but by that time hopefully we'll have k8s 1.11

[2018-07-03 22:49] quanjielin commented on #6828
Thanks for reporting the issue, was able to repro this, failure logs below; looks like a similar error mentioned https://github.com/istio/istio/issues/5989

[code]

[2018-07-03 22:57] bochuxt commented on #5994
works now. Thank you so much.

[2018-07-03 23:30] ayj commented on #6613
Encoding the version in the group name will make the YAML confusing, e.g.

[code]

Updating the docs seems like a reasonable compromise until k8s 1.11 is our minimum supported version (~9 months).

[2018-07-03 23:46] costinm commented on #6613
No, it will be v1.networking.istio.io/beta1

No need to double v1

On Tue, Jul 3, 2018 at 4:30 PM Jason Young <notifications@github.com> wrote:

[2018-07-03 23:48] costinm commented on #6613
I don't think v1.networking.istio.io/beta1 versus
networking.istio.io/v1beta1 is a huge problem - and less than the risks of
users
not comfortable with 'alpha3' label in all their configs and hurting
adoption.

On Tue, Jul 3, 2018 at 4:46 PM Costin Manolache <costin@gmail.com> wrote:

[2018-07-03 23:52] quanjielin commented on #6727
didn't get repro in gke env.

[2018-07-03 23:57] rshriram commented on #6613
Lets please not do the group name hack again.. its gross.. We went through a big cycle of changes across istio to have consistent naming for all our resources. We can communicate in the docs that networking APIs are beta but are still called alpha due to k8s limitations. By the next istio release (or after that), everyone would have moved to kube 1.11, at which point we can name this v1beta1.

Its

[2018-07-04 00:00] ayj commented on #6613
Following k8s apiVersion conventions we'd have `v1.networking.istio.io/v1` and, take to the extreme, `v1.networking.istio.io/v2` which is really confusing.

[2018-07-04 00:02] quanjielin commented on #6786
Thanks for the feedback, I agree current solution is a bit complicated; hopefully we could improve user experience based on more customer feedback after 1.0 release.

btw, could you point me to how envoy setup looks like for the scenario you mentioned ? that would be helpful for us to redesign user interface in the future, thanks.

[2018-07-04 00:09] costinm commented on #6613
Ok, let's just document.

@rshriram by the time we have beta2 or stable I hope k8s 1.11 will be available - and we can have
v1.networking.istio.io/beta2 or /stable as expected.

But given the time we have left - and all the doc updates we would need to do - it's probably safer to postpone this.

The K8s naming model - with separate labeled 'version', which ends up appended to name anyways - is not

[2018-07-04 00:52] ayj opened #6836 "Remove job(s) that handled 0.8-to-1 mitgration"
ref: [istio-clean-old-ca](https://github.com/istio/istio/blob/560c9f991fbdfa325fe81a5a180794ecfcb5285b/install/kubernetes/helm/istio/charts/security/templates/cleanup-old-ca.yaml#L1
) and possibly [istio-clean-secrets](https://github.com/istio/istio/blob/560c9f991fbdfa325fe81a5a180794ecfcb5285b/install/kubernetes/helm/istio/charts/security/templates/cleanup-secrets.yaml#L65)

[2018-07-04 00:53] ayj commented on #6836
cc @costinm

[2018-07-04 00:58] crowfrog commented on #6811
@vadimeisenbergibm  @kyessenov
who can help to check it? thx a lot!

[2018-07-04 01:02] ayj opened #6837 "Consider consolidating post-install jobs for default istio configuration"
The default Istio installation includes network and policy configuration for the mixer and authentication (see  [istio-mixer-post-install](https://github.com/istio/istio/blob/560c9f991fbdfa325fe81a5a180794ecfcb5285b/install/kubernetes/helm/istio/charts/mixer/templates/create-custom-resources-job.yaml#L60) and [istio-security-post-install](https://github.com/istio/istio/blob/560c9f991fbdfa325fe81a5

[2018-07-04 01:14] LillyWu commented on #6727
@quanjielin  I am using [IBM Kubernetes Service](https://console.bluemix.net/catalog/?category=containers)

[2018-07-04 02:18] hklai opened #6838 "E2E tests fail with gke1.10 Prow Setup"
**Describe the bug**
pilot-e2e tests are consistently failing with gke 1.10 setup in Prow.
https://prow.istio.io/?job=istio-pilot-e2e-envoyv2-v1alpha3-k8s-1.10

This is likely a test setup problem as istio works with gke1.10 in manual testing.

**Expected behavior**
Test passes, just like the 1.9 variation.
https://prow.istio.io/?job=istio-pilot-e2e-envoyv2-v1alpha3

**Is Istio Auth enabled or not

[2018-07-04 04:08] rshriram commented on #6613
?? are you saying that in k8s 1.11, we cant do networking.istio.io/v2alpha1 ?

[2018-07-04 05:38] costinm commented on #6613
in 1.11 - we can do anything.

The question is - are we stuck with alpha3 (and the other alphas) until
1.11 ? Keep in mind it's not when 1.11 is released - but when 1.11 is the
minimum version and we stop supporting 1.10

I think that's a long time to be stuck.

The alternative is to forget the broken k8s version - and use the 'group'
to namespace and version the API.

I personally don't see a hug

[2018-07-04 05:40] costinm commented on #6837
More urgent: in 1.0 we need to cleanup the jobs that are no longer relevant
( the citadel rename, etc).
No point in shipping dead jobs.

On Tue, Jul 3, 2018 at 6:02 PM Jason Young <notifications@github.com> wrote:

[2018-07-04 07:11] rokii opened #6839 "istioctl deregister doesnot remove service and endpoint"
**Describe the bug**
istioctl deregister the only endpoint doesnot delete service. Or this works as design?

**Expected behavior**
When there is only one endpoint registered, istioctl deregister  should  delete k8s service.
If the servcie is not removed and then I try to register svc with another ip and port, it won't success.

**Steps to reproduce the bug**
Run:
istioctl register myvmsvc 10.156.1

[2018-07-04 07:15] Stono commented on #6741
@douglas-reid a broader question... why do we create metrics named per application and not variablised?

eg.

`envoy_cluster_inbound_80__app_consumer_platform_svc_cluster_local_external_upstream_rq_200`

vs:

`envoy_cluster_inbound_80_external_upstream_rq_200{service="app.consumer-platform.svc.cluster.local"}`

[2018-07-04 08:13] w564791 opened #6840 "can not proxy css/js"
**Describe the bug**
A clear and concise description of what the bug is.
can not proxy css/js
**Expected behavior**
config likes neex,
[code]

istio-ingress logs likes
[code]
**Steps to reproduce the bug**
Steps to reproduce the behavior.

**Version**
What version of istio and Kubernetes are you using? Use `istioctl version` and `kubectl version`
0.8(LTS)
**Is Istio Auth enabled or not?**
Did you

[2018-07-04 09:55] wansuiye commented on #5997
I also met the same error, external service not be found via ServiceEntry, the service entry is:
[code]

[2018-07-04 11:09] PureWhiteWu opened #6841 "[BUG] Failed to inject into pod when using helm to install istio on gke version 1.10.5-gke.0"
**Describe the bug**
Auto Injection does not work on GKE version v1.10.5-gke.0, using helm to install Istio.

**Expected behavior**
Auto Injection should work.

**Steps to reproduce the bug**
1. Create a cluster on gke, use version v1.10.5-gke.0, three 2C 7.5G nodes, with alpha features enabled and all API access.

2. Create clusterrolebinding:
[code]

3. Using helm to install Istio:
[code]

4. In

[2018-07-04 11:09] PureWhiteWu commented on #6841
/kind bug

[2018-07-04 11:10] msogrin commented on #6230
@Stono Adding this resulted in a warning in ingressgateway, due to empty `weighted_clusters` block.
[code]

[2018-07-04 11:38] msogrin opened #6843 "Response time capped to 10s in dashboard"
**Describe the bug**
Response time charts in dashboard seem to be capped at 10s, even when many requests take longer than that.

![image](https://user-images.githubusercontent.com/9539622/42274953-67f55454-7f86-11e8-86b9-d2141a47c1d0.png)

In the first portion in the screenshot above, istio-ingressgateway service has average (p50) response time ~4-5s, but other lines (p90, p95, p99) are all too cl

[2018-07-04 11:52] mydoal commented on #6574
If the support for inter service TCP routing rules is postponed until version 1.1, why is it described in the documentation since 0.7? It can be understood that this is already supported.

https://istio.io/docs/reference/config/istio.networking.v1alpha3/#TCPRoute

[2018-07-04 11:57] #6840 closed

[2018-07-04 13:52] typedefstructer opened #6846 "Istioctl kube-inject livenessProbe getting omitted"
I a have deployment yaml file react.yaml

I run kubectl apply -f <(istioctl kube-inject -f react.yaml --includeIPRanges=100.0.0.1/24)

but the livenessProbe which is present is react.yaml is omitted after it goes through istioctl kube-inject command

**Expected behavior**
The config in react.yaml should not disappear after it goes through istioctl kube-inject
Also I have another deployment  where

[2018-07-04 14:12] kevincvlam commented on #6828
Thanks for looking into it, @quanjielin and reproducing the error. Note that RabbitMQ doesn't crash when mutual TLS is disabled (eg. remove the policy and destination rule).

Do you have any ideas about what the issue is? Is it on the Istio side?

[2018-07-04 14:13] zxDiscovery opened #6847 "Istio performance test, the result of istio-0.7.1 is better than the istio-0.8.0"
**Describe the bug**
I used two versions of istio to test performance, istio-0.7.1 and istio-0.8.0

Why the result of istio-0.7.1 is better than the istio-0.8.0?

The result as follows, purple represent istio-0.7.1, orange represent istio-0.8.0:
Through istio-ingress to fortio1 with sidecar MAX qps
<img width="1440" alt="2018-07-04 9 47 19" src="https://user-images.githubusercontent.com/40016978/4

[2018-07-04 16:04] alexlry commented on #6699
Hi guys, the "Async: true" was not released in v.1.3.0 and is only available in master. You can instead use "AsyncConnect: true" with v1.3.0 and it should work just fine.

However, please note v1.3.0 can panic if your fluent service is down for a long time. This is solved with latest changes from PR fluent/fluent-logger-golang#56 along with performance improvements of asynchronous mode.
I don't kn

[2018-07-04 18:04] loewenstein commented on #6811
@crowfrog afaik Istio does not provide DNS resolution itself. I.e. if there is no DNS server configured that serves a response for the requested name resolution the output from curl is expected.

If there was a resolution (even to 0.0.0.0) Envoy would be configured to route to the endpoint you specified in the ServiceEntry.

[2018-07-04 18:11] ozevren opened #6849 "The istio/api dependency needs to be reverted to master during merge back"
I am opening this issue to track the fact that I am changing the istio.io/api dependency constraint from branch master to release-1.0 in the release branch. This is needed to establish relationship between release branches in istio & api repos.

When merging back to master, this needs to be reverted.

The PR that it is being introduced is here: https://github.com/istio/istio/pull/6835