[2019-01-11 18:55] bianpengyuan commented on #10786
Recent runs of check cache test are all green except some test infra related failure. Close this for now.

[2019-01-11 19:20] kyessenov commented on #10786
If this is indeed true, we need to celebrate. @mandarjog @douglas-reid

[2019-01-11 19:44] ekuefler commented on #8772
It looks like the workaround for the time being is to use the dynamic client as described at https://dwmkerr.com/manipulating-istio-and-other-custom-kubernetes-resources-in-golang/.

[2019-01-11 19:47] ozevren commented on #10902
Sorry, I've been away from Mixer rules a while. What is requestHeaderOperations? What is the behavior difference between rule firing v.s. not?

In the original model, the rule is being elided as there is nothing to do when there is no action. (IIRC). It looks like "requestHeaderOperations" is implicitly an action.

If that is the case, then it makes sense to not elide if there is "requestHeaderOpe

[2019-01-11 19:59] mabushey commented on #10898
I'm running into something similar to this. You have to change the HTTPS 443 to 31390 port to SSL TCP. However It appears Isto is changing it back every 24 hours.

[2019-01-11 20:14] douglas-reid commented on #9566
@gargnupur let's revert the PR that changed the labels if it was forced merged

[2019-01-11 20:20] wstrater commented on #10794
I didn't see a DestinationRule in your post. I have not gone back but I don't think my test had one either. My latest works does and I am not experiencing the same issues.

Wes.

[2019-01-11 20:48] gargnupur commented on #9566
sorry for the red herring.. I was looking at pre-submits and that's why failures from https://github.com/istio/istio/pull/10807#pullrequestreview-191859334 showed up...

[2019-01-11 20:54] zombor commented on #6324
Is there any kind of reasonable workaround for this?

[2019-01-11 21:05] jnativio opened #10904 "Some ingress gateway instances may be inactive."
**Describe the bug**
The results of regression patrol have been flaky since beginning of December. There are connection errors at the start of each run (rg.apache.http.conn.HttpHostConnectException), some jmeter clients are terminated, and in the worst case, all are terminated.  I noticed that only some of the ingress gateway replicas (spawned after hpa kicks in) are taking traffic and others are

[2019-01-11 21:33] douglas-reid commented on #10808
Closing as #10816 has merged. Will reopen if flakiness continues beyond that PR.

[2019-01-11 21:33] #10808 closed

[2019-01-11 22:01] theganyo commented on #10902
@ozevren That was my feeling as well - it's an action by another name.

[2019-01-11 22:07] theganyo commented on #10902
@ozevren Sorry, I didn't answer your question on "what is it?". :) It's a rule operation that allows setting headers on a request. I can't find docs offhand, but here's the dev guide: https://github.com/istio/istio/wiki/Route-directive-adapter-development-guide.

[2019-01-11 23:06] kyessenov commented on #10801
An empty header value is one of those HTTP gotchas that many people did not get right. If you look around, you can see find many bugs around handling of empty header values. However, it is a legitimate case, and http2 in fact, uses an empty "http2-settings" header. Therefore, I think we should support an operation that forcibly sets a value to an empty if necessary. But it's not common, so I belie

[2019-01-11 23:09] mabushey commented on #10122
Use Helm template, then you have configurable yaml. Just delete the CRD's from the yaml, or move them to a separate file. Helm goes from unusable garbage to tolerable by only using template.

[2019-01-11 23:31] kyessenov commented on #10802
OK, can you please elaborate on the use case for setting explicit HTTP code and body? Is this for redirect?

If this is something that is needed, then we can extend our config model to support it. I think this amounts to adding direct response next to header operations in a rule.

[2019-01-12 00:44] douglas-reid commented on #10468
I think this has been done now and is working on `release-1.1` (thanks, @gargnupur !). Marking as closed.

[2019-01-12 00:44] #10468 closed

[2019-01-12 00:58] liminw commented on #10673
Authentication policy uses "namespace" as access control boundary. DestinationRule does not. I agree this is a bit confusing.

There are a few proposals on controling networking policies (including DestinationRules) scopes. I think the latest proposal is https://docs.google.com/document/d/1x8LI3T7SHW-yDrrt3ryEr6iSs9ewMCt4kXtJpIaSSlI/edit?pli=1#heading=h.o9naebk7osi6

cc @louiscryan

[2019-01-12 03:46] hzxuzhonghu commented on #10883
@kahou82 What's the output `kubectl -n istio-system rollout status deployment istio-galley --v=6`?

[2019-01-12 04:53] kyessenov commented on #10845
@costinm We need clarification of what sort of toggles are requested. In addition to workload instance, what else needs to be part of the decision? Client vs server-side checks? HTTP vs TCP? Route-level? Unless we restrict the dimensions, we need to have a full configuration API for this.

[2019-01-12 07:38] supereagle opened #10911 "Fail to create CRDs by istio-init"
**Describe the bug**
As the changes of #10562, fail to install Istio CRDs by istio-init.yaml.

**Expected behavior**
Istio CRDs can be installed by the new way.

**Steps to reproduce the bug**

**Installation:**

[code]

**Result:**

[code]

**Version**
Branch: release-1.1

**Installation**
{{ Please describe how Istio was installed }}

**Environment**
{{ Which environment, cloud vendor, OS, etc a

[2019-01-12 13:49] #2690 closed

[2019-01-12 19:53] feitnomore opened #10915 "Multicluster Mixer Error with Single Control Plane"
**Describe the bug**
After following instructions on https://istio.io/docs/setup/kubernetes/multicluster-install/ using 1.1.0-snapshot4 (tested with 1.0.5 also), I've deployed bookinfo application and moved reviews-v3 to the remote cluster. Traffic goes fine, application works fine, I can see traces also on Jaeger UI, however, Mixer is not able to identify the pod, and I'm getting some "unknown" o

[2019-01-12 19:56] myidpt opened #10916 "Enable SDS for Istio control plane"
**Describe the feature request**
Currently Istio workloads are able to retrieve key and cert from Citadel agent. But Istio control plane still uses the legacy secret volume mount to retrieve key and cert. The Istio control plane should have the option to get the key and cert from node agent.

**Describe alternatives you've considered**
No.

**Additional context**
This work involves multiple parts:

[2019-01-12 20:07] feitnomore commented on #10915
Just to make sure its clear, I have created the credentials according to Istio Multicluster documentations, by doing:
[code]

The secret in question is:
[code]

[2019-01-12 20:07] myidpt opened #10917 "Enable SDS for workload-Pilot/Mixer connections"
**Describe the feature request**
Currently the workloads to Pilot/Mixer CDS configuration is the legacy secret volume file mount. They should be able to use SDS.

**Describe alternatives you've considered**
No.

**Additional context**
Both the static init envoy config file and the Pilot-delivered Envoy config file are using the legacy secret file mount approach. They should be able to support SDS.

[2019-01-13 03:34] shoeb240 commented on #5056
I had the same issue. Thanks!

[2019-01-13 09:40] qinqon commented on #10469
Will try to help here, what's the most straightforward way to reproduce this?

[2019-01-13 12:30] feitnomore commented on #10915
[clustera.tar.gz](https://github.com/istio/istio/files/2753061/clustera.tar.gz)
[clusterb.tar.gz](https://github.com/istio/istio/files/2753062/clusterb.tar.gz)

Those are the for dump_kubernetes.sh -z on both clusters.

[2019-01-13 13:17] #8616 closed

[2019-01-13 16:14] #8631 closed

[2019-01-13 19:14] je-al commented on #7369
FWIW, I thought I was experiencing this issue but it turned out to be I hadn't noticed naming the port exposed in the service (regular k8s service) is *mandatory*, i.e.:
[code]

[2019-01-14 01:18] irisdingbj commented on #10891
@nmittler Is there a way for me to get details of the failure?  eg: a file example which caused the parsing fail? Then I can see how to fix it. thanks!

[2019-01-14 02:40] cwocwo commented on #9385
Istio ingress-gateway should support for health check.

We have two ingressgateway pods, for some reason we restart the two pods, unfortunately one of the pods made an error, but it's `status` was `Running`.    This cause the restful api through virtualservice show errors sometimes.

### istio pods status
[code]

### The error pod's log
[code]

[code]

[2019-01-14 04:38] nmittler commented on #10891
@irisdingbj just grab json for a real k8s pod ... should be easy to repro.

[2019-01-14 06:13] l10xbin commented on #10576
I think you need to use egress to visit outside:
Check this [](https://preliminary.istio.io/docs/tasks/traffic-management/egress/)

[2019-01-14 06:19] devops083 commented on #10576
@l10xbin thnx for your response, I got a solution for above one but not sure  with Egress, In GCP GKE and AWS EKS by default we can access pod ips from outside cluster with in VPC.

[2019-01-14 06:39] gyliu513 opened #10924 "Performance issue of ingress gateway"
I deployed an application with istio enabled, and found that with istio, when I access the services via ingress gateway, the mixer report the response time is 2+s as `"responseTime":"2.067324415s"`, but with `NodePort`, the response time is ms level.

I also checked the log of `istio-proxy` in ingress gateway and does not found any clue why using ingress gateway is very slow,  any comments for whe

[2019-01-14 07:40] l10xbin commented on #10564
@absc6  This "samples/bookinfo/platform/consul/bookinfo.sidecars.yaml" can be find in release folder.  I checked it exist in 1.0.5 and istio-release-1.1-20181202-09-15.
I think this file was generated during the build process.  As you can see there is a template file here [https://github.com/istio/istio/tree/master/samples/bookinfo/platform/consul/templates](https://github.com/istio/istio/tree/mas

[2019-01-14 08:40] robertpanzer commented on #10873
Maybe it helps more trying to explain what I am trying to achieve:

I have routes to external systems configured that pass via the egress gateway.
At the same time I only want to allow usage of these routes only to certain workloads.

ServiceDependencies are a way that can achieve sth similar, but only as long as every workload has its own namespace, which cannot be assumed in general.

[2019-01-14 08:46] tim-beatson commented on #8443
Thanks @thedodd, for me this was resolved by setting the relevant security context to allow the Istio sidecar to alter IP tables.

[2019-01-14 09:19] robertpanzer commented on #10801
Tested with 48caa5300d4552a31ec7700a64b1640bf1c7f705 that empty headers are skipped, which is fine for me.

[2019-01-14 09:19] #10801 closed

[2019-01-14 10:11] hzxuzhonghu commented on #10924
I remember we tested this on Huawei cloud, and the latency is about 100+ms in average.

[2019-01-14 10:42] robertpanzer commented on #10802
With moving to a Service Mesh we want to move certain tasks like policy enforcement etc to the infrastructure, i.e. Istio.
Existing applications that dealt with these tasks previously created payloads even in case of rejected requests corresponding to the requested content type.
E.g. if an application would reject a request because it has a bad signature, it would respond with a JSON or XML respon

[2019-01-14 13:35] markya0616 commented on #8617
Any updates about this issue. We also need similar feature.

[2019-01-14 13:56] PhilipGough opened #10932 "bug: Mixer Dashboard - Individual adapter metrics shows "No Data Points" for OOP adapter"
**Describe the bug**
While working on an out of process adapter I noticed that the "Dispatch Count By Handler" and "Dispatch Duration By Handler" graphs were producing graphs with "No Data Points" text. Screenshot added.

I took a look at the query and was able to obtain those data points directly from Prometheus. It appears the get request to obtain the data from Grafana has added escaped charact

[2019-01-14 14:11] PhilipGough commented on #10932
@mandarjog @douglas-reid pinging you guys as the only two contributors to the file in question. I've added a fix which I will happily port over to other branches if approved. Thanks

[2019-01-14 14:20] vadimeisenbergibm opened #10933 "Routes config is not updated randomly"
Follow the steps in https://preliminary.istio.io/docs/tasks/traffic-management/egress/#configuring-an-external-http-service, access to httpbin.org is not enabled. The cluster is added, but there is no route to it.

Version release-1.1-20190108-09-15.

[2019-01-14 15:34] irisdingbj commented on #9121
@ymesika I think this PR https://github.com/istio/istio/pull/10237 fixed this issue.

[2019-01-14 15:49] esnible commented on #10079
Verified that this problem no longer manifests in release-1.1-20190114-09-15

[2019-01-14 15:49] #10079 closed

[2019-01-14 15:49] naganaidu commented on #6587
@aminebizid
did you make it work with sidecar ?

we tried using external service with serviceentry, but still we are getting the handshake issue.

[2019-01-14 16:12] sdake commented on #10701
@polothy given that, I'll close out this issue for now.  Please feel free to reopen if needed.

[2019-01-14 16:12] #10701 closed

[2019-01-14 16:38] SrinivReddy opened #10937 "ISTIO 1.1 root user access"
Gone through ISTIO 1.1 mesh expansion docs looks interesting and found in troubleshooting section that

When making requests from a VM to the cluster, ensure you don’t run the requests as root or istio-proxy user. By default, Istio excludes both users from interception.

As default excluding root and istio-proxy users,
How can we make a request with root and istio-proxy user. (How can we include

[2019-01-14 16:51] feitnomore commented on #10915
Looks like there was a problem with RBAC on the istio-multi user, so I created a ClusterRoleBinding on the remote giving istio-multi cluster-admin role. Now the things are showing up twice on the interface.
<img width="1279" alt="screen shot 2019-01-14 at 14 35 45" src="https://user-images.githubusercontent.com/41125128/51127104-dba15100-180b-11e9-8dce-7e19e1076bf8.png">

[2019-01-14 17:06] mrolla commented on #9783
For envoy to return the CORS related headers you need to send at least the `Origin` ([preflight request](https://developer.mozilla.org/en-US/docs/Glossary/Preflight_request)).

Try with

[code]

If it still does not work, make sure envoy is actually configured as expected with

[code]

[2019-01-14 17:43] quanjielin commented on #10595
this is done, e2e works(using config https://github.com/istio/istio/blob/release-1.1/install/kubernetes/helm/istio/values-istio-sds-auth.yaml)

[2019-01-14 17:43] #10595 closed

[2019-01-14 17:57] ayj opened #10941 "MeshPolicy and DestinationRule changes not visible with MCP enabled"
1) `istioctl authn tls-check`
2) Disable meshpolicy
3) `istioctl authn tls-check` to see if it gets updated

With MCP enabled step (3) shows incorrect results (mesh policy is still present?). The same problem does not occur with MCP disabled.

[2019-01-14 17:58] quanjielin commented on #8736
/cc @quanjielin

[2019-01-14 18:09] wattli opened #10942 "Add an e2e test to verify mesh policy is propagated with Galley/MCP enabled"
When galley is enabled, mesh policy is not automatically propagated. Users have to manually restart pilot to see the mesh policy take effect.

[2019-01-14 18:11] chrisob commented on #10134
@nixgadget In your cluster, are you injecting Istio's Envoy sidecar into your Prometheus pods (also including pods running `prometheus-operator`, `alertmanager`, and `kube-state-metrics`)?

How is your Prometheus able to scrape specific pod endpoints via Envoy?

For example, I've injected the Envoy sidecar into each `prometheus-operator` component, but my Prometheus pod isn't able to scrape any po

[2019-01-14 18:21] wattli commented on #10556
Thanks @quanjielin

[2019-01-14 18:21] #10556 closed

[2019-01-14 18:33] ayj commented on #10941
dup of https://github.com/istio/istio/issues/10942

[2019-01-14 18:33] #10941 closed

[2019-01-14 19:08] rshriram commented on #6574
thi sis implemented now..

[2019-01-14 19:08] rshriram commented on #6574
will be in 1.1 release

[2019-01-14 19:08] #6574 closed

[2019-01-14 19:15] ozevren commented on #10942
Can you give more context? Is there a test that is capturing the problem?

[2019-01-14 19:27] ostromart opened #10946 "MTLS strict/permissive mode doesn't work with helm"
Steps to repro:
1. Create a cluster without auth per quick start: https://istio.io/docs/setup/kubernetes/quick-start/
2. Now change to auth by applying the auth manifest.

Expected behavior:
MeshPolicy and DestinationRules CRs should be updated from permissive to strict.

Actual behavior:
CRs are not updated.

This creates a problem for Istio on GKE, in that the Istio cluster auth config doesn't w

[2019-01-14 19:31] ostromart commented on #10946
Root cause is that the CR's above come from a ConfigMap that is consumed by a job. The job does not re-run if the ConfigMap is changed, so the update is not triggered unless the cluster is upgraded to a different version.
Fix is to move the CRs out of the ConfigMap and into the crd manifest. The job was originally created because of a race between the CRDs and CRs, but CRDs are now created as a se

[2019-01-14 19:31] hklai opened #10947 "Galley integration test failures"
Error log
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/10888/istio-integ-local-tests/3370

Note that due to bugs in the test job, tests were NOT run, so it is not easy to figure out if any PR broke this or if the test really ran correctly before.

https://github.com/istio/istio/pull/10888 has uncovered this.

[2019-01-14 19:33] hklai opened #10948 "Mixer integration test failures"
Error log
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/10888/istio-integ-local-tests/3370

Note that due to bugs in TestMain, the integ test job was previously passing in CI even if some tests have failed, so it is not easy to figure out if any PR broke this or if the test really ran correctly before.

#10888 has uncovered this.

[2019-01-14 19:38] hklai opened #10950 "Pilot integration test failure"
Error log
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/10888/istio-integ-local-tests/3370

Note that due to bugs in TestMain, the integ test job was previously passing in CI even if some tests have failed, so it is not easy to figure out if any PR broke this or if the test really ran correctly before.

#10888 has uncovered this.

[2019-01-14 19:41] wattli commented on #9240
Unfortunately I am pretty occupied for other issues.

[2019-01-14 19:41] kyessenov commented on #10845
Please take a look at the linked PR and let me know if it is sufficient.
The PR provides three controls using policy.istio.io/check annotation:
- disable all checks
- enable all checks but fail open
- enable all checks

[2019-01-14 19:42] wattli commented on #10555
@myidpt  citadel-agent sounds good to me.

[2019-01-14 19:49] ellis-bigelow opened #10951 "Sidecar does not work with GKE Auth Scopes"
**Describe the bug**
I create K8s Pods that load a file from GCS and then start a server. All successful examples of this that I've seen online use K8s Service Accounts to load GCP credentials, but for my use case I'm using GKE Auth Scopes. It appears that the istio-proxy is somehow interfering with the outbound requests to the GCP metadata server when loading credentials.

**Expected behavior**
M

[2019-01-14 19:57] mandarjog commented on #10904
Can you clarify what you mean by active.
Are they not ready per k8s or they are simply not receiving any traffic ?

[2019-01-14 20:03] linsun commented on #7863
status update from Ed:  I am actively monitoring Gubernator and will close that issue when I have some confirmation.  Strangely over the weekend all release-1.1 builds succeeded and 1/3 of the release-1.0 builds that don’t have the proposed fix failed.  But I can’t confirm my fix is the reason.
I have not forgotten the issue.

[2019-01-14 20:11] ozevren commented on #10947
Just had a chat with @nmittler, he is working on a change to fix this.

[2019-01-14 20:16] nmittler commented on #10947
Just sent out #10953 to fix.

[2019-01-14 20:17] jnativio commented on #10904
I meant by inactive, the instances that do not take any traffic. They appear as Running status in the kubectl command, but they seem to be stuck in such state that they are not functional.

[2019-01-14 20:39] knrc commented on #5043
@ibm-jason The static server naming was added but I haven't yet submitted my update for making it configurable.  I added an extra entry to the mesh config, proxyServerName, which would be used as the proxy name.

[2019-01-14 20:40] knrc commented on #5043
This issue should probably be closed

[2019-01-14 20:45] kramvan1 opened #10954 "YAMLException: duplicated mapping key name: http-kiali"
**Describe the bug**
YAMLException: duplicated mapping key name: http-kiali in https://github.com/istio/istio/blob/1.0.5/install/kubernetes/helm/istio/charts/kiali/templates/service.yaml#L10-L13

**Expected behavior**
No dup key error for this yaml template

**Steps to reproduce the bug**
Just the line describe above

**Version**
1.0.5

**Installation**
n/a

**Environment**
n/a

**Cluster state**

[2019-01-14 20:48] kramvan1 opened #10955 "YAMLException: duplicated mapping key name: port"
**Describe the bug**
https://github.com/istio/istio/blob/1.0.5/install/kubernetes/helm/istio/charts/mixer/templates/deployment.yaml#L63 is a dup of the above port line

**Expected behavior**
no dup keys

**Steps to reproduce the bug**
see description

**Version**
1.0.5

**Installation**
n/a

**Environment**
n/a

**Cluster state**
n/a

[2019-01-14 20:52] linsun commented on #10954
@kramvan1 can you pls describe how to recreate this?  I don't see a dup key name in the file.

[2019-01-14 20:54] ibm-jason commented on #5043
@knrc - Thanks for the update.

[2019-01-14 20:55] linsun commented on #10955
believe this is fixed in 1.1.

[2019-01-14 20:58] linsun commented on #10954
this is also fixed in 1.1

[2019-01-14 21:00] linsun opened #10956 "investigate using yamllint to avoid common yaml issues"
We can gate some of the simple yaml issues via yamllint:

https://pypi.org/project/yamllint/

Example, Our team reported 2 simple issues on 1.0, which are fixed in 1.1 now:

https://github.com/istio/istio/issues/10954
https://github.com/istio/istio/issues/10955

[2019-01-14 21:45] jnativio commented on #10904
I restarted Pilot in the situation where I had 5 ingress-gateway replicas but some of them were "inactive". After the new Pilot instance came up, all 5 ingress-gw replicas were taking traffic.

[2019-01-14 21:48] liminw commented on #9520
@quanjielin Is this done? Shall we close it?

[2019-01-14 21:54] liminw commented on #10357
@incfly @wattli What is the plan to move forward?

[2019-01-14 21:55] quanjielin commented on #9520
not yet, should be ok to postpone it after 1.1

[2019-01-14 22:14] ellis-bigelow commented on #10951
I managed to solve this by instead allowing metadata.google.internal:80,443

[code]

It's not clear to me why www.googleapis.com isn't needed, but it looks like all data correctly transmitted over the metadata.google.internal domain.

[code]

[2019-01-14 22:32] #10951 closed

[2019-01-14 22:38] wattli commented on #10942
Copied from #10941 for more context:

1. istioctl authn tls-check
2. Disable meshpolicy
3. istioctl authn tls-check to see if it gets updated

With MCP enabled step (3) shows incorrect results (mesh policy is still present?). The same problem does not occur with MCP disabled.

[2019-01-14 22:40] ozevren commented on #10942
Are there customer logs for this? We were chatting with @ayj about this, and restarting Pilot seems to have fixed the issue apparently. Did they also restart Galley? If not, the problem maybe scoped to the mcp client and/or Pilot code handling the demuxing.

[2019-01-14 23:00] kyessenov commented on #10802
Thanks for clarifying the question. I'm a bit concerned about the necessary API changes to support this. In particular, I'm not sure whether the expressions are a good fit for the request response. One would expect some form of template for the body text. And another issue, is how to combine the results from multiple adapters that want a direct response. We've punted on this combinator issue befor

[2019-01-14 23:47] kyessenov commented on #10873
Could you please provide the networking config that you used? There may be differences depending on whether or not mTLS is used.

[2019-01-15 00:10] mandarjog commented on #10873
@kyessenov can you check the "inbound" |  "outbound" logic? I think there is a bug in that code inside proxy. It is detecting the egress proxy as "outbound" and then setting itself as source.

[2019-01-15 00:32] jasminejaksic commented on #9185
@linsun Did you get a chance to test this? Did #9951 fix this issue?

[2019-01-15 00:35] jasminejaksic commented on #9884
Based on discussion with @costinm and team, the fix is good enough, so closing the issue.

[2019-01-15 00:35] #9884 closed

[2019-01-15 00:35] mandarjog opened #10964 "Scalability Testing for 1.1-pre"
There are several scalability fixes that have gone into 1.1

Pilot scalability testing
1. `Sidecar crd` implementation is expected to help reduce pilot CPU.   Test is a large setup.
2. Removal of MCP diff should also help CPU and mem

[2019-01-15 00:36] jasminejaksic commented on #9961
PR merged, closing the issue

[2019-01-15 00:39] liminw opened #10965 "Add descriptive error messages to Envoy access logs for Mixer upstream errors"
Need to add cause in the error messages, so that users can easily identify reasons for the failed requests.

[2019-01-15 00:39] liminw commented on #10965
cc @duderino

[2019-01-15 00:41] jasminejaksic commented on #9964
PRs for overload protection is merged, need to set-up parameter tuning for overload protection. Mandar is working on it and is likely to submit before EoW.

[2019-01-15 00:46] jasminejaksic commented on #10220
@ozevren and @ayj this is assigned to you two? Are you working on CF? If not, who is working on it and what's still pending? Also, why is this a blocker (P0) for 1.1?

[2019-01-15 00:47] myidpt commented on #10555
If we change this naming after 1.1, it won't require migration effort (the name is not used to refer to the node agent component). So maybe we can make this P1?

[2019-01-15 00:52] jasminejaksic commented on #10393
What's the fix (PR#)? And who is going to verify this?

[2019-01-15 00:54] liminw opened #10967 "Retry request against fallback clusters"
For a failed request, Envoy needs to retry the request multiple times. If all retries fail, it needs to fallback to the specific clusters (e.g., in a different location).

[2019-01-15 00:55] jasminejaksic commented on #10555
After brief discussion with Oliver and Costin, this is a 1 line fix and should happen before 1.1. Costin or Tao could work on this.

[2019-01-15 00:56] liminw commented on #10967
cc @duderino @costinm

[2019-01-15 00:58] jasminejaksic commented on #10589
Did istio/istio.io#2907 fix this? if not, @nmittler what's still pending and what's the ETA?

[2019-01-15 01:02] jasminejaksic commented on #10356
Only pending task is user instructions, so moving this to P1. Oliver is working on it, ETA EoM

[2019-01-15 01:08] duderino commented on #10967
This would be a P1 for 1.1, P0 for 1.2

[2019-01-15 01:11] lei-tang opened #10968 "User guide for Istio Vault integration"
**Describe the feature request**
User guide for Istio Vault integration. This user guide will be placed under https://preliminary.istio.io/docs/tasks/security/.

**Describe alternatives you've considered**
None.

**Additional context**

[2019-01-15 01:12] lei-tang commented on #10968
#10356

[2019-01-15 01:13] jasminejaksic commented on #10873
@kyessenov Are you working on this? Can I make you the assignee?

[2019-01-15 01:16] jasminejaksic commented on #10497
What's the ETA? And is this a blocker for launching 1.1?

[2019-01-15 01:16] douglas-reid commented on #10393
There are two PRs that address this issue: #10880 (1.0.X) and #10839 (1.1). I've manually verified that the PRs do what we would expect, but having @mandarjog or even @zhu0516123 verify the fixes would be great.

[2019-01-15 01:17] jasminejaksic commented on #9035
Per Oliver this is working, closing this issue

[2019-01-15 01:18] iandyh commented on #7665
@Stono Thanks for the effort.

Speaking of retry, since Envoy really confuses me with connection error/timeout, I don't know whether retry will have impact on non-idempotent requests. In Nginx world, you can define what errors the retry will be performed. In Envoy/istio, it only says timeout. But connection timeout is different than application timeout.

From my understanding, if the pod is create

[2019-01-15 01:22] duderino commented on #9961
I'd like @mandarjog and mitch connors to say that 1.1 Pilot memory and cpu usage is acceptable, then we can close this

[2019-01-15 01:35] quanjielin commented on #9035
Remove this issue from 1.1 radar, as envoy->nodeagent->citadel path works.
Keep it open until Google CA e2e works(which is the original intention for this issue)

[2019-01-15 01:39] lei-tang commented on #10356
The issue #10968 has been created to track the task of user instructions and is assigned to @lei-tang.

[2019-01-15 01:40] hzxuzhonghu commented on #9035
@quanjielin Where can I find more doc about how to use SDS?

[2019-01-15 01:43] quanjielin commented on #9035
@hzxuzhonghu we will add documentation in istio.io soon, for now you could refer https://github.com/istio/istio/pull/10605 and https://github.com/istio/istio/pull/10887 (for integration test for sds e2e)

[2019-01-15 01:53] hzxuzhonghu commented on #9035
Great, thanks.

[2019-01-15 01:58] PiotrSikora commented on #7665
Connection timeout (`connectTimeout`) in Envoy/Istio(?) is configurable on a per-cluster basis, and it's 10s by default in Istio. In this case, request wasn't sent, so it's safe to retry.

Retry policy (`numRetries`, `retryOn`, `perTryTimeout`, etc) in Envoy/Istio is configurable on per-route basis, and the default retry policy that @nmittler is adding in #10566 retries only on the connection fail

[2019-01-15 02:05] morvencao commented on #10924
@gyliu513 I think this is where open tracing(jaeger or zipkin) can really help. We can find how much time each span takes and overall response duration for the whole trace.

/cc @clyang82

[2019-01-15 02:08] yangminzhu commented on #8477
@mandarjog Stats about the Pilot cpu/memory usage with 3000 RBAC rules applied for 2 pods:
![pilot-cpu-with-3k-rbac-rules](https://user-images.githubusercontent.com/2189160/51153909-c4bc2800-1826-11e9-9f8d-9df54748740e.png)
![pilot-memory-with-3k-rbac-rules](https://user-images.githubusercontent.com/2189160/51153911-c71e8200-1826-11e9-9087-8c8099de7a25.png)

[2019-01-15 02:16] #10855 closed

[2019-01-15 04:01] sdake opened #10971 "Istio Gateway Multicluster DNS resolution doesn't work properly"
**Describe the bug**
Istio multicluster should resolve namespace.global and .global in search order via dnsConfig, however, dnsConfig is not applied by the automatic sidecar injector.

**Expected behavior**
Istio multicluster resolution works cross-cloud without modification of applications.

**Steps to reproduce the bug**
Follow guide: https://preliminary.istio.io/docs/setup/kubernetes/multiclust

[2019-01-15 04:12] ozevren commented on #10891
I think the problem is with certain fields. The original bug should have a
the field names

On Mon, Jan 14, 2019 at 7:27 PM Iris <notifications@github.com> wrote:

[2019-01-15 04:37] hehailong5 opened #10973 "pilot-agent proxy command line not compatible with envoy command line regarding arguments"
**Describe the bug**
Can not modify the --log-path of Envoy via "pilot-agent proxy" command line
The argument "--log_target" is for pilot-agent proxy, not for the Envoy.
**Expected behavior**

All the arguments for Envoy can be feed in via pilot-agent proxy command line

**Steps to reproduce the bug**
{{ Minimal steps to reproduce the behavior }}

**Version**
$ ./pilot-agent version
Version: c9254

[2019-01-15 05:04] michaellandi commented on #1789
For anyone else having issues:

Azure SQL v12 is using gateway redirection to non-standard ports in order to connect SQL clients to their correct database servers.  This redirection occurs by default on any modern applications connecting from within Azure.  See: [https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connectivity-architecture](https://docs.microsoft.com/en-us/azure/sql-d

[2019-01-15 05:20] sdake commented on #10971
WIP: https://github.com/istio/istio/pull/10972

[2019-01-15 05:44] iandyh commented on #7665
@PiotrSikora Thanks for the clarification. Things are getting much clearer than before.

Right now, unfortunately istio does not expose `retryOn` condition. ref: https://github.com/istio/old_issues_repo/issues/235

[2019-01-15 06:15] erks commented on #9943
Same here. Istio 1.0.5 on Kubernetes 1.11.5 (EKS). The workaround so far is to add `livenessProbe` and `readinessProbe` on one of the ports, so that the pod get restarted when it fails.

[2019-01-15 07:02] robertpanzer opened #10975 "Prometheus export errors in Galley logs"
**Describe the bug**
I installed a recent Istio 1.1 release. (48caa5300d4552a31ec7700a64b1640bf1c7f705)
Galley emits log messages every few seconds complaining about an error during the export of Prometheus metrics:
[code]

It looks like Galley emits metrics about the pods in the Kubernetes cluster and tries to created labelled metrics containing the apiVersion, kind and group.
For Pods the group

[2019-01-15 07:31] sikka commented on #9943
@erks did you add `livenessProbe` to `bookinfo-gateway.yaml`? Can you please share the config?

[2019-01-15 08:51] robertpanzer commented on #10873
Here is an example to reproduce the problem:

I have a simple configuration that forwards calls to http://www.google.com via the egress gateway to https://www.google.com.
Communication between the consumer and the egress gateway uses mTLS:
[code]

Now add a test consumer from which I am sending the test requests:
[code]

When we send a request from one of the pods of this Deployment we should get

[2019-01-15 08:55] kyessenov commented on #10873
Thank you. We found the culprit change in the proxy responsible for the regression.

[2019-01-15 09:16] #10722 closed

[2019-01-15 09:17] erks commented on #9943
@sikka i did that on the ingress gateway deployment (https://github.com/istio/istio/blob/master/install/kubernetes/helm/subcharts/gateways/templates/deployment.yaml).

[2019-01-15 09:20] irisdingbj commented on #10891
seems now jsonpb.UnmarshalString(js, pb) can not deal with inline struct.  It fails in https://github.com/istio/istio/blob/master/vendor/github.com/gogo/protobuf/jsonpb/jsonpb.go:L1005

I tried to use  json.Unmarshal([]byte(js), pb) directly , but using this way, it will skip all the inline struct..

@ozevren any suggestions for moving on?

[2019-01-15 11:56] vadimeisenbergibm commented on #10933
I do not see the problem in release-1.1-20190115-09-15, closing the issue.

[2019-01-15 14:47] GregHanson commented on #10965
The `503 upstream connect error` comes from envoy right?  i.e. not a log message controlled by istio?

[2019-01-15 15:35] gerasym commented on #10875
Found the similar behavior with deployment on aws using kops. The reason was that by default kops uses 10.64.0.0/10 for pod network, which is not compatible with https://www.envoyproxy.io/docs/envoy/latest/configuration/http_conn_man/headers#x-forwarded-for

For your case i think the problem is quite the same:

`XFF is what Envoy uses to determine whether a request is internal origin or external o

[2019-01-15 15:49] volatilemolotov commented on #3800
Yes that explains it, forgot that global are L7.

Thanks for clarifing that

[2019-01-15 16:00] GregHanson commented on #10973
The `--log_target` flag can take an array of log files:
https://github.com/istio/istio/blob/release-1.1/pkg/log/options.go#L329

Envoy access log is currently configured through the mesh config:
https://github.com/istio/api/blob/release-1.1/mesh/v1alpha1/config.pb.go#L210

Envoy apparently does support multiple access log files per listener:
https://github.com/envoyproxy/go-control-plane/blob/mast

[2019-01-15 16:00] GregHanson commented on #10973
cc @rshriram @costinm any thoughts?

[2019-01-15 16:42] fdhex opened #10983 "Sidecar Injector Service Unavailable"
**Describe the bug**
No pod deployed through sidecar-injector. Replicaset show
`Error creating: Internal error occurred: failed calling admission webhook "sidecar-injector.istio.io": Post https://istio-sidecar-injector.istio-system.svc:443/inject?timeout=30s: Service Unavailable`

Pods are all running
[code]
Services seem present
[code]

**Expected behavior**
Two containers start in my bookinfo ap

[2019-01-15 17:06] thedodd commented on #8443
Just an update:
- I am running a k8s cluster on DO (which is excellent, btw).
- Standard istio installation in recommended namespace.
- Used the MongoDB helm chart to create a 3 node replicaset ... haven't had any issues.
- Replicaset was able to cluster and stay in sync, microservices haven't had any issues.

Figured I would just update this issue with my results.

[2019-01-15 17:42] #10851 closed

[2019-01-15 17:56] mandarjog commented on #9964
Next steps are
1. Configure overload protection
2. Update istio-telemetry hpa to a much higher level "max" and put cpu and memory limits on the POD. We will use 5 CPU and 6 GB limits with 20 instances max. Max should be scaled by the actual size of deployment.  @therealmitchconnors

[2019-01-15 18:03] wattli commented on #10357
The doc is under review: https://github.com/istio/istio.io/pull/2961

And we will keep this feature disabled by default in the beginning and encourage customers to try out this feature. Later on we will enable it by default if the feedback is positive or we can fix potential issues reported by them.

[2019-01-15 18:04] ayj commented on #10220
@costinm and @Nino-K are working on https://github.com/istio/istio/pull/10446 to address this.

[2019-01-15 18:16] liminw commented on #10357
@wattli thanks, sounds good.

[2019-01-15 18:33] hklai commented on #10757
This has been addressed by https://github.com/istio/istio/pull/10878.

[2019-01-15 18:33] #10757 closed

[2019-01-15 18:42] sdake commented on #10911
This was merged to release-1.1 branch.

[2019-01-15 18:42] #10911 closed

[2019-01-15 18:52] hklai commented on #9867
The tests are mostly green recently.
https://testgrid.k8s.io/istio-postsubmits#pilot-e2e-envoyv2-v1alpha3
https://testgrid.k8s.io/istio-postsubmits#circleci-e2e-pilot-auth-v1alpha3-v2

The remaining occasional flakes are:
* TestVirtualService and TestGateway
E.g. https://gubernator.k8s.io/build/istio-circleci/e2e-pilot-noauth-v1alpha3-v2/289657
We need some help from the pilot folks to fix them.

[2019-01-15 19:14] louiscryan commented on #9659
With namespace isolation for Sidecars implemented in 1.1 it is possible to avoid this situation. It would be nice to have a softer failure mode but there is a viable workaround.

Marking as P1 and targeting for the next release.

[2019-01-15 19:18] costinm commented on #9659
The 'viable workaround' will be to use Sidecar and export API so the DestinationRule using certs is contained to a namespace, and that namespace will have the certs..

[2019-01-15 19:22] munrodg commented on #10783
Closed

[2019-01-15 19:22] #10783 closed

[2019-01-15 19:34] munrodg commented on #10258
Closed due to #10826 merge.

[2019-01-15 19:34] #10258 closed

[2019-01-15 19:34] mandarjog commented on #10964
@therealmitchconnors

[2019-01-15 19:35] duderino commented on #7912
We think this is done except for a final measurement/validation which we will track in https://github.com/istio/istio/issues/10964

[2019-01-15 19:55] esnible commented on #7863
Closing.  These problems stopped happening on release-1.1 builds after the change.

If there is interest we can update the release-1.0 branch.  However the script should eventually turn on the IPv4 forwarding on all the build machines so that may be unneeded.

[2019-01-15 20:20] justinburke commented on #8736
With Citadel, one of the reasons for wanting to use SDS was to remove sensitive key material from k8s secrets (where access to those secrets is often too broad). Seems like we'd have the same concerns here for at least the Galley component, or is that not the case?

/cc @wattli @myidpt

[2019-01-15 20:24] sfesfizh commented on #7583
The same issue in 1.0.4.
istio-galley pod logs at the end make sense I think:
`2019-01-15T20:05:40.233777Z	warn	istio-galley validatingwebhookconfiguration update deferred: istio-system/istio-galley endpoint not ready: no ready addresses
2019-01-15T20:05:45.185312Z	info	istio-galley validatingwebhookconfiguration updated`

[2019-01-15 20:37] kramvan1 opened #10985 "Nice to have `kubectl logs productpage` output"
**Describe the feature request**
Would be great to be able to use `kubectl logs productpage-v1 -c productpage`

Looks like the sample dumps it's output to a file called microservice.log in the root dir.  Would be great to have that tailed out to stdout to allow logs to pick it up.

**Describe alternatives you've considered**

**Additional context**

[2019-01-15 20:40] ayj commented on #8736
I don't think its necessarily an either/or scenario. Galley requires key material for two purposes: service-to-service (e.g. Pilot-to-Galley) and k8s webhooks (kube apiserver-to-Galley). I think we want to eventually use SDS for the former case and require Citadel. The latter case is a bit different when we consider minimal Istio installs (w/o Citadel).

[2019-01-15 20:50] linsun commented on #10985
I think we have logs for product page, but I will test.

In your case, it is possible you aren't seeing it because no traffic is routed to it.

[2019-01-15 20:53] PiotrSikora commented on #9104
@ijsnellf any chance this could make it before 1.1? Thanks!

[2019-01-15 20:53] linsun commented on #9185
@hklai is this the right place to look at the upgrade test?  https://k8s-testgrid.appspot.com/istio-release#Summary&width=80

I checked our tests aren't run with multiple control plane so I plan to enable that in our test first.

[2019-01-15 20:54] linsun commented on #9185
also @hklai we recently merged #9951 in release-1.1, should we also merge it to release-1.0 as the upgrade test is being tested on release-1.0?

Or should we simply test upgrade from release-1.1 build 1 to release-1.1 build 2?

[2019-01-15 20:54] linsun commented on #9185
cc @costinm @sdake for input

[2019-01-15 20:58] hklai commented on #9185
@linsun yes, but the upgrade tests currently need some fixing in release-1.1 and master first.
https://github.com/istio/istio/issues/10806

They have been running in release-1.0 though.

That PR was closed?

For now we are trying to up/down grade from/to 1.0.x, what do you mean by release-1.1 build 1 and 2?

[2019-01-15 21:02] rayepudi commented on #10441
@hzxuzhonghu we're not able to connect to the external service using the  egress gateway mentioned above. while executing the service entry through sleep.yaml config, It's throwing the error "command terminated with exit code 6".  Can you please help

[2019-01-15 21:07] esnible commented on #10725
The message comes from a gRPC library init() function that isn't called except by the Go runtime.

@ibm-jason and I have reproduced the issue and are working on finding the particular commit.  This problem was introduced between commit fc88f5881854901e4621fe033aafbfcacd3d475e 28 days ago and e38bbc8373648750d12548e610380ed4d835554b 21 days ago.  The message is coming from _vendor/google.golang.org

[2019-01-15 21:21] incfly commented on #10950
We identified the issue was a test setup problem, fixed in https://github.com/istio/istio/pull/10984

[2019-01-15 21:51] kramvan1 commented on #10985
@linsun the logs are inside the container in the `microservice.log`, but it's a hassle to have to exec into the container just to see them, hence this issue.

[2019-01-15 21:54] jnativio opened #10988 "Telemetry is using more CPU in recent builds"
**Describe the bug**
Telemetry pods have been using more CPU for the same workload in recent builds of master branch.
build master-20190109-09-15:
![image](https://user-images.githubusercontent.com/18554027/51212000-20e58180-18e5-11e9-87c0-35d910aab4ef.png)
telemetry flame graph: https://ibmcloud-perf.istio.io/regpatrol/master-20190109-09-15/istio_full//flamegraphs/flame.telemetry.svg

The next bu

[2019-01-15 22:01] hklai opened #10989 "TestSecretCreationKubernetes is failing"
Error log
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/10984/istio-integ-k8s-tests/1722

[code]

[2019-01-15 23:14] costinm opened #10993 "Envoy deprecation: Use Any instead of Struct"
https://github.com/envoyproxy/envoy/pull/5435  deprecates 'struct' and enables 'any' for passing
config.

We need to update Pilot code to use Any - this was identified as a major overhead in flamegraphs,
and the change is relatively small and safe.

Not blocking - but would have big impact on performance in the default case ( with isolation disabled )

@mandarjog

[2019-01-15 23:36] costinm commented on #10817
Talked offline with @louiscryan about the DestinationRule policy - he will update the API docs to clarify the behavior.

On implementation - I don't think we need to change the cluster names, but we need to change the generation code to use the proper configs, as we do in other places where we honor Sidecar isolation.

I'll start working on this based on the clarifications from Louis - i.e. Destin

[2019-01-15 23:36] costinm commented on #10817
BTW - this also impacts CDS generation.

[2019-01-15 23:45] costinm commented on #10817
Note this may have a performance impact: we now cache endpoints per cluster, we'll need internally to cache per cluster and namespace.

One way to avoid the overhead, considering the common use case:
- Without sidecar - keep current behavior( to avoid backward incompatible issues or risks)

- With sidecar
-- if the DestinationRule is in the same namespace with a Service - add it to a new map, keye

[2019-01-15 23:46] diegoug commented on #7777
I have a question, in the official site of Istio I saw that there is a docker installation guide, can this be used in swarm?

[Running on Docker with Consul or Eureka](https://archive.istio.io/v0.7/docs/guides/bookinfo.html#running-on-docker-with-consul-or-eureka)
[Quick Start on Docker](https://archive.istio.io/v0.7/docs/setup/consul/quick-start.html)
[Using Istio in a non-kubernetes environment]

[2019-01-16 00:04] costinm commented on #10817
Another note: technically with Sidecar isolation we expect a relatively small number of clusters per proxy, and we may be able to compute them dynamically without caching ( and based on perf numbers add a cache if needed ).

We still need to keep the structs mapping hostname to the shards, but we won't use the updated clusters when serving EDS in namespaces with Sidecar.

I'll start with this impl

[2019-01-16 00:08] mandarjog commented on #10904
@jwendell can you investigate this ?
Some ingresses are not getting any traffic so it could either be an issue with the cloud provider LB or pilot itself. After pilot is restarted all ingresses start receiving traffic.

@jnativio is this problem repeatable ?

[2019-01-16 00:08] liminw commented on #9111
@yangminzhu Any more work left? Shall we close it?

[2019-01-16 00:09] mandarjog commented on #10904
@linsun can you have someone from IBM look at this problem?

[2019-01-16 00:21] smawson commented on #9867
Create you create more targeted issues for those and then close this one out?

[2019-01-16 01:49] hzxuzhonghu commented on #10441
can  you show your config here?

[2019-01-16 02:10] linsun commented on #9185
@hklai yes, it is merged to 1.1 but I can create a new one for 1.0.

[2019-01-16 02:10] linsun commented on #10806
@ostromart are you looking at this?  if not, I can look at it tmr.  cc @hklai

[2019-01-16 02:43] karthikt-yahoo opened #10999 "Istio ingressgateway routing broken with two different gateways using same port and different protocol(HTTP, GRPC)"
Istio ingress gateway routing is broken when same port is used by two different gateways with different protocol(HTTP and GRPC).

Example:
if port 80 is shared by two gateways, 1. HTTP, 2. GRPC, routing is broken for the application associated with gateway, virtual service created latter.  individual application with different gateway with same protocol and same port works fine.
**Expected behavio

[2019-01-16 02:57] murarisumit commented on #9696
@rinormaloku thanks a lot for that, I been pulling my hairs from last 2 days because named ports were not in this `<protocol>[-<suffix>] ` convention.

[2019-01-16 03:33] iandyh opened #11001 "Istio Gateway does not have readiness/liveness enabled"
**Describe the bug**
We rely on Istio Gateway to point the traffic into the cluster. Through our testing, we found out unready Envoy process can be added to the fleet to receive the traffic. This will result to `Connection Refused` at the client side.

More alarmingly, we also found out that sometimes Envoy process fail to establish a connection with the pilot, please see the log from the gateway

[2019-01-16 05:07] pnovotnak opened #11003 "Perf Cluster Setup Script"
While trying to run the `setup_perf_cluster.sh`, I got to a point where I am stuck:

unable to recognize "istio-1.0.5/tools/perf_istio_rules.yaml": no matches for kind "RouteRule" in version "config.istio.io/v1alpha2"
unable to recognize "istio-1.0.5/tools/perf_istio_rules.yaml": no matches for kind "RouteRule" in version "config.istio.io/v1alpha2"

**Expected behavior**
I had hoped to generate pe

[2019-01-16 06:04] larryrun commented on #2120
Hi, @gyliu513 what's the status of this feature for now? Has it been implemented?

[2019-01-16 06:46] yangminzhu commented on #9111
@liminw I think we can close this now.

[2019-01-16 06:46] #9111 closed

[2019-01-16 09:42] hzxuzhonghu commented on #11001
should add readiness probe as sidecar.

[2019-01-16 09:56] hzxuzhonghu commented on #10999
currently we only support same port if both using HTTP or TLS

[2019-01-16 10:05] irisdingbj commented on #10942
Reproduced, working on a fix..

[2019-01-16 10:06] motek80 commented on #10864
I noticed that this issue exist only on specific Microk8s deployment. On my another environment everything works as expected. It seems like a bug somewhere, not sure where to address this.

[2019-01-16 10:14] #10983 closed

[2019-01-16 10:32] motek80 opened #11008 "DNS based issues"
**Describe the bug**
Declaring DNS name inside "hosts" of VirtualService does not working (routing fails).

**Expected behavior**
Routing will work

**Steps to reproduce the bug**
I have a Windows machine running Linux VM (Ubuntu 18.04). Inside Windows "hosts" file I have an entry pointing to IP of my VM (e.g. "micro.service xxx.xxx.xxx.xxx").

On my Ubuntu VM, I have installed Microk8s with Istio

[2019-01-16 11:00] ldemailly commented on #576
I don't know, you should ask @hklai or @louiscryan

[2019-01-16 11:02] shovelend commented on #10875
Thank you for your answer @gerasym ! That's what we're trying to do here: setting `use_remote_address` to `false` for the default http connection manager filter of envoy. However, we didn't find a way, an interface where we could do that. How did you manage to modify the use_remote_address in your case?

[2019-01-16 11:34] wooderz commented on #10898
Yeah I've not got anything running on port 31390 as far as I know? We're not running in AWS whatsoever

[2019-01-16 12:22] paolosalvatori opened #11010 "How can you define SMTP server used by Grafana?"
How can I customize Grafana.ini and in particular add SMTP server and credentials as explained at https://github.com/helm/charts/issues/6222 when deploying Istio using helm to Kubernetes?

[2019-01-16 13:37] mdhume commented on #10999
@hzxuzhonghu This was supported in prior versions of Istio (e.g. 0.6) Is there any reason this is not supported now? It is common for us to have both https and grpc traffic over port 443.

[2019-01-16 14:52] elevran commented on #6355
@gyliu513 currently the application workload must use clear text to communicate with the world, so that the proxy can provide request routing, per request metrics, etc.
mTLS works between proxies (and by extension, between workloads), but not between the workload and the sidecar proxy itself:
- workload--(`cleartext`)->proxy--(`mtls`)->proxy--(`cleartext`)->workload; or
- workload--(`cleartext`)->

[2019-01-16 16:30] rayepudi commented on #10441
apiVersion: networking.istio.io/v1alpha3
kind: ServiceEntry
metadata:
  name: cnn
spec:
  hosts:
  - myserver_hostname
  ports:
  - number: 10080
    name: http-port
    protocol: HTTP

kubectl exec -it $SOURCE_POD -c sleep -- curl -sL -o /dev/null -D - http://myserver_hostname/resource

[2019-01-16 16:32] rayepudi commented on #10441
`apiVersion: networking.istio.io/v1alpha3
kind: ServiceEntry
metadata:
  name: cnn
spec:
  hosts:
  - myserver_hostname
  ports:
  - number: 80
    name: http-port
    protocol: HTTP`

kubectl exec -it $SOURCE_POD -c sleep -- curl -sL -o /dev/null -D - http://myserver_hostname/resource

[2019-01-16 16:43] vadimeisenbergibm commented on #10441
Can you provide the log and the Envoy's configuration:
[code]

[2019-01-16 16:56] kramvan1 opened #11015 "Missing metadata name for List in chart template"
**Describe the bug**
Version tag 1.0.5
These 2 templates
https://github.com/istio/istio/blob/c3012ce4021f20cb4c39cbb2b302af5d71a8d006/install/kubernetes/helm/subcharts/tracing/templates/service.yaml
https://github.com/istio/istio/blob/9c8ca47b64fa2d152f6a1d3027f25d38246210c5/install/kubernetes/helm/subcharts/tracing/templates/service-jaeger.yaml
don't have a list metadata section

**Expected behav

[2019-01-16 16:57] kramvan1 commented on #11015
Wrong links above:
https://github.com/istio/istio/blob/1.0.5/install/kubernetes/helm/istio/charts/tracing/templates/service-jaeger.yaml#L4
https://github.com/istio/istio/blob/1.0.5/install/kubernetes/helm/istio/charts/tracing/templates/service.yaml#L2

[2019-01-16 16:58] kramvan1 commented on #11015
@linsun  cc

[2019-01-16 17:08] #10576 closed

[2019-01-16 17:16] linsun commented on #11015
@jmazzitelli I checked we still have this prob in 1.1, would you be the right person from red hat to fix this?  any reason we need the list kind?  if not, i'd remove it.

[2019-01-16 17:20] ostromart commented on #10806
Yes, I plan to take a look today. Thanks for the offer though @linsun.

[2019-01-16 17:27] ibm-jason commented on #10725
@esnible I **think** that I've identified the commit that causes the issue. 59c0a8d19d604e56de5fa77b0332da9997445c24 is the first commit where the `2019-01-16T17:25:20.736811Z     info    Channelz: socket options are not supported on non-linux os and appengine.` is observed after building and running istioctl. Looking at the code now to see what changed that could've affected this.

[2019-01-16 17:28] liamawhite commented on #10965
Yes, we are working with Envoy to improve this.

[2019-01-16 17:38] #10511 closed

[2019-01-16 18:34] duderino commented on #10965
First pass error messages:

"5xx Unable to contact mixer (fail closed)
429 Mixer rejected over quota
5xx Mixer rejected due to an internal error
5xx Mixer rejected due to a downstream error
403 Mixer rejected due to policy"

[2019-01-16 18:37] duderino opened #11017 "Add descriptive error messages to Envoy access logs for common TLS errors"
Three high level cases:

TLS server handshake failure (cannot differentiate what part failed, certificate or protocol or version)

mTLS client fail (failed to validate server certificate, etc)

general TLS fail. Server side we can't generate access logs - it never hits HTTP filter.

[2019-01-16 19:42] hklai opened #11020 "mixer/adapter/list TestRefreshAndPurge is flaky"
Example: https://gubernator.k8s.io/build/istio-prow/logs/istio-postsubmit/4176

[code]

Basically the same as https://github.com/istio/istio/issues/3686, which was never fixed.

[2019-01-16 19:46] hklai opened #11021 "pilot/pkg/serviceregistry/kube tests are flaky"
Example: https://gubernator.k8s.io/build/istio-prow/logs/istio-postsubmit/4173

Failures:
pilot/pkg/serviceregistry/kube.TestController_GetIstioServiceAccounts
pilot/pkg/serviceregistry/kube.TestController_getPodAZ
pilot/pkg/serviceregistry/kube.TestServices

/assign @irisdingbj who closed https://github.com/istio/istio/issues/10312

[2019-01-16 19:48] hklai commented on #10023
Still happening in postsubmit.
https://gubernator.k8s.io/build/istio-prow/logs/istio-postsubmit/4160

[2019-01-16 19:50] hklai opened #11022 "pilot/pkg/proxy/envoy/v2 TestEnvoyRDSProtocolError is flaky"
Example: https://gubernator.k8s.io/build/istio-prow/logs/istio-postsubmit/4164

[code]

[2019-01-16 19:56] linsun commented on #10956
Putting on hold, yamllint is written in GPL.

[2019-01-16 20:01] hklai opened #11023 "Flaky E2E tests due to istio-prometheus-test not starting"
E.g.
https://gubernator.k8s.io/build/istio-prow/logs/e2e-simpleTests/15836
https://gubernator.k8s.io/build/istio-prow/logs/e2e-simpleTests/15328

`FAILED: istio-prometheus-test, run `kubectl logs istio-prometheus-test --namespace istio-system` for more info`

[code]

[2019-01-16 20:14] linsun commented on #10273
just checked, this issue is fixed in 1.1.

[2019-01-16 20:15] linsun commented on #10273
given we don't have a plan to spin 1.0.x, close this.  pls reopen if it is not fixed in 1.1

[2019-01-16 20:15] #10273 closed

[2019-01-16 20:24] linsun commented on #10956
ok I ran through this tool locally on my machine with our istio install helm dir, there are lots of errors we need to fix.

@sdake do you see an issue with using a tool that is GPL for building/testing?  I don't... think it is okay as long as we don't use it at runtime.  cc @hklai @smawson

[2019-01-16 20:55] douglas-reid commented on #11023
Can we just remove this test?  I'm not sure why it was added nor what purpose it serves.

[2019-01-16 20:58] ozevren commented on #10891
Hey @irisdingbj, @nmittler has a PR in-flight that should take care of this:
https://github.com/istio/istio/pull/10995

[2019-01-16 21:03] gephcott commented on #10053
any hope of this being fix in the near future? If not are there any Istio consultants out there that could pick this up?

[2019-01-16 21:15] hklai commented on #11023
@douglas-reid This is happening to e2e-simpleTests What are you suggesting to remove?

[2019-01-16 21:20] kramvan1 commented on #11015
+1 to remove the unneeded lists here.

[2019-01-16 21:29] hklai opened #11026 "e2e-bookinfo TestExternalDetailsService is flaky"
Example: https://gubernator.k8s.io/build/istio-prow/logs/e2e-bookInfoTests-envoyv2-v1alpha3/12667

`main_test.go:230: could not find 0486424618 in response`

[2019-01-16 21:49] kyessenov commented on #10802
@robertpanzer

Both out-of-process and in-process adapter use [grpc.Status](https://github.com/grpc/grpc/blob/master/src/proto/grpc/status/status.proto) as a result. Status has a message string field. This message is then propagated as part of proxy response, for example:
[code]

Does this functionality cover your use case?

[2019-01-16 21:59] douglas-reid commented on #11023
this is coming from some `test/` directory under the helm artifacts from the `prometheus` subchart.  `e2e-simple` has apparently been expanded to do helm validation. I'm wondering if we need any validation of prometheus starting, seeing as we have other tests already that depend on it... and because I don't know how to debug helm test artifacts.

[2019-01-16 22:00] mandarjog commented on #10904
Do you use LB health checks?
We expect `2019-01-16T19:13:08.656329Z     info    Envoy proxy is ready` message to show up in the logs.

[2019-01-16 22:37] hklai opened #11029 "circleci e2e test infra problems"
e2e tests are occasionally failing on circleci for a few different reasons:

* Image pulling problem
https://circleci.com/gh/istio/istio/293876
https://circleci.com/gh/istio/istio/292034
[code]

* external http access problem
https://circleci.com/gh/istio/istio/290151
https://circleci.com/gh/istio/istio/290150

[code]

* local file access problem
https://circleci.com/gh/istio/istio/291031
`chown:

[2019-01-16 22:38] michaelkipper commented on #6314
Any update on this, given that https://github.com/envoyproxy/envoy/pull/4699 was merged upstream?
We'd be happy to beta test something.

[2019-01-16 22:42] hklai opened #11030 "mixer e2e test init problem on circle"
Examples:
https://circleci.com/gh/istio/istio/290968
https://circleci.com/gh/istio/istio/290514
https://circleci.com/gh/istio/istio/290318

Possible failure

[code]

[2019-01-16 22:45] hklai commented on #9863
Re-opening. TestValidation is pretty flaky.
See https://testgrid.k8s.io/istio-postsubmits#circleci-e2e-galley

Examples:
https://gubernator.k8s.io/build/istio-circleci/e2e-galley/295047

`galley_test.go:221: got unexpected for valid config: command failed: "Error from server: error when creating \"/tmp/kubeapply882953105.yaml\": admission webhook \"pilot.validation.istio.io\" denied the request: e

[2019-01-16 22:52] duderino commented on #10683
Duplicate of https://github.com/istio/istio/issues/9992

[2019-01-16 22:52] #10683 closed

[2019-01-16 23:01] hklai opened #11032 "Mixer adapter build/test problems on circleci"
See https://testgrid.k8s.io/istio-postsubmits#circleci-test

There are a lot of recent build and test failures in

istio.io/istio/mixer/adapter/circonus.[build failed]
istio.io/istio/mixer/adapter/denier.[build failed]
istio.io/istio/mixer/adapter/stackdriver.[build failed]
istio.io/istio/mixer/adapter/statsd.[build failed]
istio.io/istio/mixer/adapter/prometheus.TestMetricExpiration
istio.io/isti

[2019-01-16 23:07] michaelkipper opened #11033 "Using Pilot with statsd daemonsets"
**Describe the feature request**

Currently, we run DataDog agents as DaemonSets in Kubernetes. We use the [downward API](https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/#the-downward-api) to connect pods to the agents:

[code]

Unfortunately, `statsdUdpAddress` is passed to Pilot via `ConfigMap/istio` in a string field. This leads to a runtime

[2019-01-16 23:08] kyessenov commented on #11032
Can we increase memory capacity of CI worker?
https://discuss.circleci.com/t/go-build-receives-sigkill/12213/2

[2019-01-16 23:18] hklai commented on #11032
Perhaps, but I am not a circle admin.

cc @rshriram @costinm @louiscryan

[2019-01-16 23:21] kyessenov commented on #11032
You can try to build a test binary first with `go test -c ...`. This might help if some test allocates a lot of memory. If the build just fails with OOM then we need more memory. Given that prow does not exhibit this issue, we should just give both same amount of memory.

[2019-01-16 23:28] myidpt opened #11034 "Validate hostNetwork workloads are working with kafka"

[2019-01-17 00:24] dicarlo2 opened #11037 "istio-cni race condition with autoscaling clusters and calico"
**Describe the bug**
istio-cni frequently has the following problems in clusters with autoscaling nodes:

1. istio-cni runs __before__ calico -> configuration appears to be overwritten entirely by calico.
2. istio-cni runs __after__ calico and __after__ another pod starts on the new node -> iptable configuration does not kick in and the pod is typically stuck in a blackhole state because mtls traf

[2019-01-17 01:25] harpratap opened #11039 "Pilot fails to update ingress gateway about new gateways and virtual services"
**Describe the bug**
When I create new gateway and virtual service they aren't being reflected in istio's ingress gateway. When I curl hostname:31380/ it fails to connect and returns connection refused. However, on restarting all the ingress gateway pods the rules are updated and I can access my deployment on port 31380 successfully.
Sometimes if I wait for few minutes the new changes are reflecte

[2019-01-17 01:31] hzxuzhonghu commented on #11001
of course,  pilot-agent can listen on a statusPort 15020 if configured.  Which serves a healthcheck endpoint.

[2019-01-17 01:40] hzxuzhonghu commented on #10999
I think   https and grpc traffic over port 443 is posssible.

ref: `func MergeGateways(gateways ...Config) *MergedGateway {}`

[2019-01-17 01:41] myidpt commented on #11034
/cc @costinm @duderino

[2019-01-17 01:51] costinm opened #11041 "Galley using 33G and crash looping"
Not clear what is the cause - I checked with Mandar, but galley uses 'scratch' so normal tools are not available.

This is from an upgrade from 1.0 to 1.1 - it seems one of the new resources (Sidecar) was missing,
triggering pilot connection to be reset and got pilot into a connect loop - but galley memory kept growing until it got killed.

This suggest several problems:
- retry logic on client si

[2019-01-17 02:02] myidpt opened #11042 "Verify SDS failure won't cause Ingressgateway failure"
**Describe the feature request**
Please verify that if the Citadel-agent continuously sends back error code to Envoy in SDS response, the ingressgateway Envoy listeners without SDS / with valid SDS responses can still work.

[2019-01-17 02:33] linsun opened #11044 "istioctl: Create a convenience mesh check command"
**Describe the feature request**
Check: istioctl check

**Describe details**
We don’t currently have a check cmd, except istioctl experimental verify-install

Ideally, this cmd should contain options to check the following:
Check if the env meets prerequisites of install
Check if the install is success
Check if the control plane is healthy.
It should have a verbose mode to print out details of wha

[2019-01-17 02:33] linsun commented on #11044
@esnible thoughts?

[2019-01-17 02:43] pluttrell opened #11045 "Jobs are Broken (they Never Complete)"
**Describe the bug**
Jobs in Kubernetes don't ever get marketed successful.

**Expected behavior**
When the container(s) that are declared as part of the job complete successfully, the job should be marked as successful, per normal Kubernetes operation. This works _without_ Istio.

**Steps to reproduce the bug**
1. Retrieve [this example yaml](https://raw.githubusercontent.com/kubernetes/website/m

[2019-01-17 03:40] dozer47528 commented on #10703
Have the same problem for high traffic service.

[2019-01-17 05:16] clyang82 commented on #11041
I think this is a real issue for https://github.com/istio/istio/pull/10897

if there are some errors on send/receive, the client will retry in time.Nanosecond

[2019-01-17 05:53] iandyh commented on #11001
@hzxuzhonghu Then my guess is that we need to add this healthcheck to `istio-ingressgateway` deployment?

[2019-01-17 08:17] elevran commented on #9818
Perhaps I misunderstood the OP's intent, but TTBOMK, terminating pods are removed from the service's endpoint list (see [docs here](https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods), and [here](https://cloud.google.com/blog/products/gcp/kubernetes-best-practices-terminating-with-grace); and [code here](https://github.com/kubernetes/kubernetes/blob/54dc9db17b1ce17be884c35

[2019-01-17 08:41] iandyh commented on #11001
@hzxuzhonghu I think a more  alarmingly issue here is that sometimes I notice that `ingressgateway` fail to start.

[2019-01-17 09:34] hzxuzhonghu commented on #11001
@iandyh Can you provide some more logs when it  fails to start? I think there maybe some clues.

[2019-01-17 09:37] hzxuzhonghu commented on #9818
Exactly, pilot will remove it from EDS.

[2019-01-17 11:45] Stocco commented on #7525
Same here, using istio1.0.5, we're getting the same "errors" on pilot. Could we have this removed or changed to warn? It spams the pilot logs making it harder to track actual errors.

[2019-01-17 12:40] irisdingbj commented on #10942
@ozevren  , you are correct. The problem is caused by the demux logic in pilot when dealing with mesh-policy and policy. Both of them have the same typeURl: "authentication.istio.io/v1alpha1""

I have not found the fix @ayj is working on.  Where is the fix I can try to see whether it fixed the problem or not?

[2019-01-17 14:19] vadimeisenbergibm commented on #10933
The issue happens with istio-release-1.1-20190117-09-15 as well.

[2019-01-17 14:41] vadimeisenbergibm commented on #10933
[code]

[2019-01-17 14:51] novakov-alexey commented on #6085
Similar behaviour with 1.0.5. Restarting the pilot POD helps.

[2019-01-17 14:51] adinunzio84 commented on #9378
We ran into problems without this when using client-go, Istio, and AKS (kubernetes/client-go#527), which may be resolved by this.

[2019-01-17 14:53] robertpanzer commented on #10802
Not completely.

Apparently there is a selection of a response status and an error message.
It would be great if I could alternatively create a full response payload that is returned to the client instead of a message that is assembled from 3 different parts (Status code, handler name and Status message).

[2019-01-17 15:02] ayj commented on #10942
https://github.com/istio/istio/pull/10963 added collections and removed the demux logic.

[2019-01-17 15:06] jnativio commented on #10904
@mandarjog I am afraid I did not understand your question. Where is this log message?
The http requests are directed to the public ip/ port of the ingressgateway service, which is type Load Balancer, e.g.:
istio-ingressgateway     LoadBalancer   10.10.10.176   169.46.63.219   80:31380/TCP

[2019-01-17 15:10] liamawhite commented on #4481
@Stono @cainelli @munnerz @mumoshu @bjhaid

Hopefully, you can all see this design doc. I will be presenting it in the networking group later this evening but I believe the locality affinity section covers your use cases.

https://docs.google.com/document/d/1ALscYDDeYuhxiS-DWogDSEHThIDON2J_I88AQYtf9Xw/edit?usp=sharing

[2019-01-17 15:37] ozevren commented on #3586
Closing this: The current Galley + MCP architecture makes it obsolete.

[2019-01-17 15:37] #3586 closed

[2019-01-17 15:54] rvansa commented on #8938
Hello, I've been trying to get some grisp on the actual effect of changing worker thread count. Please see [this report](https://docs.google.com/document/d/1UCqHBOL24is47R1mbM417h8XAvATNER_oGTxHQTlER8/edit?usp=sharing); TLDR is that using as many threads as cores is helpful if the server is not doing very heavy computation, and if it is, 4 - 8 threads on a 32-core machine seems as the optimum.

I'

[2019-01-17 15:57] linsun commented on #10806
looks like the test is trying helm from master instead of release -1.1

```+ /home/prow/go/src/istio.io/istio/tests/upgrade/test_crossgrade.sh --from_hub=gcr.io/istio-release --from_tag=1.0.1 --from_path=istio-1.0.1 --to_hub=gcr.io/istio-release --to_tag=master-20190107-09-15 --to_path=istio-master-20190107-09-15```

[2019-01-17 16:20] linsun commented on #10806
@hklai can you show us how to find the latest test result upgrade test for release-1.1?   should I make this upgrade test in presubmit for easier debugging (e.g. istio release pipeline 1.1 yaml file)?

I also own https://github.com/istio/istio/issues/9185 which is blocked by this issue.

[2019-01-17 16:20] ericvn commented on #10293
@Evesy Hello, I am trying to replicate this issue and trying to better understand the scenario.

The `istioctl` output shows version 1.0.2 while version 1.0.4 was mentioned. Did you possibly upgrade from 1.0.2 to 1.0.4?

I believe in your steps you have two Istio enabled services (steps two and three) and one of them (step three) has a virtual service. Is that correct?

Thanks.

[2019-01-17 17:00] rcernich commented on #8772
I've been looking into this and have written a code generator to generate types.go and register.go files for tagged istio types.  The new generator can be run after generate-protos.sh.  After that, the standard k8s code generators can be run to generate clientsets, informers, deepcopy, etc.  The benefit of this approach is that type generation is essentially driven off the proto files, using a tag

[2019-01-17 17:22] linsun commented on #10806
I don't think this is still a prob in looking at the latest upgrade test that @hklai (thank you!) pointed to me.  The helm install of 1.1 runs fine.

https://storage.googleapis.com/istio-prow/pr-logs/pull/istio-releases_pipeline/209/release-upgrade-tests-1.0.2/223/build-log.txt

[2019-01-17 17:29] linsun opened #11054 "istio upgrade failed at roll back stage"
Based on https://storage.googleapis.com/istio-prow/pr-logs/pull/istio-releases_pipeline/209/release-upgrade-tests-1.0.2/223/build-log.txt

upgrade actually worked from 1.0.x to 1.1
Roll back data plane also worked, but roll back control plane failed:

****************

Starting rollback - first, rolling back data plane to istio-release-1.1-20190117-09-15

****************

configmap "istio-sidecar

[2019-01-17 17:30] ksemba opened #11055 "Mixer adapter metric "source.port" not working"
My custom Mixer adapter defines a custom instance metric using the corresponding yaml file. This allows me to choose which of the metric data I want to forward to my adapter. Most of the metrics work fine except for this one:

`source_port: source.port | 0`

As soon as I add this config line to the yaml (within the `params --> dimensions` section - this is where I have all my metrics listed and th

[2019-01-17 17:37] Evesy commented on #10293
@ericvn Sorry, the output I wasn't too clear. `1.0.4` is the version of `istioctl`.

Both Service A and Service B are Istio enabled services, both of which have `VirtualService`'s and `DestinationRule`'s.

When running `istioctl proxy-status` against a specific pod/envoy instance, it shows constant diffs in the Envoy config on (from what I've observed) all routes that have a non-empty `requestHead

[2019-01-17 17:40] bianpengyuan commented on #11055
source.port is not in mixer attributes vocabulary: https://istio.io/docs/reference/config/policy-and-telemetry/attribute-vocabulary/

[2019-01-17 17:48] ksemba commented on #11055
thanks for the hint @bianpengyuan. Any idea why mixer is not providing the source port? Can this be added?

[2019-01-17 17:54] bianpengyuan commented on #11055
We used to have source.port attributes, but its value is random and useless, so we removed it. How do you
plane to use source.port?

[2019-01-17 17:56] santhosh-git opened #11056 "Not able to access the ingress URL from pod"
We have to connect istio ingress load balancer from the pod. For that, We have created the service entry. Earlier It worked fine, Suddenly it's started giving 404 from the pod for HTTP but HTTPS is working.

**Service Entry**
[code]

**Version**

Istioctl :  1.0.2
Kubernetes & CLI : 1.10.8

**Installation**
Helm

**Environment**
AWS - Kubernetes ( Installed through KOPS)

[2019-01-17 17:59] ksemba commented on #11055
I agree that in between the microservices the source port is useless. But when the request enters the environment (through the ingress gateway) it could be interesting to get the original source port (next to the original source IP which already exists). Requests can originate on customer's on-prem, internal networks but then get NAT-ed by their firewall before they leave towards the cloud. Most f

[2019-01-17 18:04] hklai commented on #10806
These tests are actually failling for release-1.1 too.

See https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio-releases_pipeline/209/release-upgrade-tests-1.0.1/220

See more of these tests at https://prow.istio.io/?repo=istio-releases%2Fpipeline&type=presubmit

[2019-01-17 18:04] linsun commented on #10904
@GregHanson do you have bandwidth to check this out?  let me know!

[2019-01-17 18:08] linsun commented on #10806
yes they failed but was a different error and at roll back of control plane thus I opened https://github.com/istio/istio/issues/11054

[2019-01-17 18:11] hklai commented on #10806
Arh ok. Let's use the new one then.

[2019-01-17 18:11] #10806 closed

[2019-01-17 18:20] mandarjog opened #11057 "Fluentd mixer adapter can stall Mixer"
Fluent adapter sends one instance at a time over http to the fluentd server. This is inefficient and the adapter can stall progress of mixer when this happens.

The adapter is unable to keep up with 1k rps of mesh traffic.

connection write has stalled for 8 minutes
[code]

getting lock to the connection
[code]

getting lock on the buffer
[code]

This stalls all forward progress of mixer.

[2019-01-17 18:23] mandarjog commented on #11057
Reported by knative... @tcnghia

[2019-01-17 18:42] louiscryan opened #11058 "DestinationRule resolution allows for cross-namespace interference"
**Describe the bug**
The current behavior of Pilot attempts to resolve a DestinationRule for a k8s Service or ServiceEntry by first looking in the namespace where the service is being consumed and then searching in all namespaces in the system. This global search makes resolution of DestinationRules hard to reason about and can lead to situations where peer namespaces interfere with each others be

[2019-01-17 18:47] esnible opened #11059 "Istio 1.1 multicluster breaks if remote services also accessed from their own non-mTLS cluster"
I installed two clusters, 'test-multizone' and 'istio-test-paid' and configured them with kube-dns ConfigMap directing to Istio DNS.  I put a reviews server on _istio-test-paid2_ and a 'curl' client on both.

Neither had mTLS enabled.

I created a Service Entry on the cluster called `test-multizone`.

`kubectl --context test-multizone exec -it curl-8449cd8d96-g775r -- curl -v reviews.default.globa

[2019-01-17 18:48] louiscryan commented on #11058
@Stono can you take a look and see if this works for you

[2019-01-17 19:00] louiscryan commented on #11058
For those reading along there is a similar issue in 1.0 with VirtualService declarations having impacts across namespaces for sidecar behavior. The new Sidecar resource resolves that problem substantially though it doesn't change the default behavior when Sidecar is not used. In general the project is working to correct these issues by treating namespaces as isolation boundaries.

[2019-01-17 19:03] JimmyCYJ commented on #10989
I have set up a GKE cluster and run this test a few times, all those runs passed. I think this error is caused by the test framework. The error shows that istio is not deployed successfully because some containers are not ready (pilot, mixer, galley). Citadel is running and is ready.

info	CI	Checking pods...
info	CI	  [ 0]                 istio-citadel-8cdb5fc59-2kh4h         Running (Ready)
info

[2019-01-17 19:05] myidpt commented on #11058
@diemvu

[2019-01-17 19:12] douglas-reid commented on #11057
I'm testing a workaround now specifically for `fluentd` adapter. Longer term, we may want to look a broader solution.

[2019-01-17 19:18] hklai commented on #10989
It still fails after those two PRs.
https://gubernator.k8s.io/build/istio-prow/logs/istio-integ-k8s-tests/1873

[2019-01-17 20:12] dvlato commented on #9107
We are using an nginx-ingress to do the routing based on path and never change the Host: header (so it is example.com for all our apps).  That works perfectly fine for us right now.

 If we started intercepting inbound traffic with Istio in app1, the request would go to the envoy proxy who has to forward it to the app.  What is it used to do this 'internal forwarding'? It seems to be the "Host: "

[2019-01-17 20:15] aminmithil commented on #10659
@costinm I have tried with zookeeper and kafka. I am facing similar issue because we use headless service for inter pod communication. What should be the workaround for that? I have tried this solution - https://github.com/istio/istio/issues/7495. But still zookeeper pods cannot talk to each other. Istio resolve zookeeper.zookeeper.svc.cluster.local instead of resolving zookeeper-0.zookeeper.svc.c

[2019-01-17 20:44] tcnghia commented on #11057
/cc @mdemirhan
/cc @yanweiguo

[2019-01-17 21:14] lizan commented on #11017
https://github.com/envoyproxy/envoy/issues/5603

[2019-01-17 21:57] incfly commented on #9150
/cc @mandarjog @hzxuzhonghu

I think we have a security hole by using http header to pass the original application port to the pilot agent. Pilot agent does not check whether the seen path or port matches the config in `PodSpec.Container.Probe`. Anyone can send anything to the pod using `15020` with header configured. Even we strip out the body content, response code still reveals information and

[2019-01-17 23:22] cgilmour commented on #6314
Hi @michaelkipper @c-knowles , Caleb from Datadog here.
Our team did a bit of work internally to add Datadog APM to istio following the change to envoy.
It works, but would need some tidy-up before it can be submitted.

@douglas-reid would you be open to a submission that adds support for Datadog tracing in a similar way to Lightstep?

[2019-01-17 23:33] ozevren commented on #10942
@irisdingbj, when @ayj was looking at this, he wasn't able to repro. Do you have concrete repro steps? You mentioned something about sequencing of changes in Slack.

His changes in the PR he mentioned simplifies the code path both in Galley and also in Pilot, making it the same as every other resource. So I'd expect this to be fixed at this point by his change.

[2019-01-17 23:58] lei-tang opened #11067 "Envoy unable to communicate with Node Agent's SDS grpc server"
**Describe the bug**
Envoy unable to communicate with Node Agent's SDS grpc server when the SDS grpc server's Serve() returns an error.

logs on Node Agent:
2019-01-15T22:47:58.874575Z	error	SDS grpc server for workload proxies failed to start: accept unix /var/run/sds/uds_path: use of closed network connection
2019-01-15T22:47:58.874608Z	info	SDS grpc server for workload proxies started
2019-01-1

[2019-01-18 00:18] ostromart commented on #11054
I'm guessing this may be due to pods being ready from the last version, not the target version.
The script applies a new manifest and immediately checks if pods are ready:

installIstioSystemAtVersionHelmTemplate "${FROM_HUB}" "${FROM_TAG}" "${FROM_PATH}"
waitForPodsReady "${ISTIO_NAMESPACE}"

This just greps kubectl get pods output to check pod status.
It's reasonable to do that from a clean slat

[2019-01-18 00:40] kramvan1 opened #11071 "autoscaleEnabled: true does not require replicas: 1"
**Describe the bug**
When using `autoscaleEnabled: true` the `replicas: 1` is not needed and can cause harm for a managed environment.

**Expected behavior**
When `autoscaleEnabled: true`, don't include the unneeded `replicas: 1` for deployments.
Add templating logic around the deployment template replica definition:
[code]

**Steps to reproduce the bug**
Set `autoscaleEnabled: true` and when HPA

[2019-01-18 00:40] kramvan1 commented on #11071
@linsun fyi

[2019-01-18 01:00] ellis-bigelow opened #11072 "Istio is Incompatible with Google's Metadata FQDN"
**Describe the bug**
Istio's ServiceEntry "hostnames" field is overly restrictive on FQDNs.

Tensorflow hardcodes the GCS metadata uri to "http://metadata/..." when downloading from GCS. Istio's admission controller rejects FQDNs of this format which prevents downloading from GCS when using Tensorflow, Istio, and GKE Auth scopes.

https://github.com/tensorflow/tensorflow/blob/7817237d5852c7778d3ba

[2019-01-18 01:01] ozevren commented on #10779
This should be fixed now.

[2019-01-18 01:04] Lorryrui commented on #7174
yum install -y nfs-utils nfs-utils-lib
then retry.

[2019-01-18 01:20] yangminzhu commented on #11072
@costinm @rshriram
Can we extend the restriction of the hosts field here? The validation logic is [here](https://github.com/istio/istio/blob/b8e30e07ec7b36cf1ba1b445b78c81fdf0d417b9/pilot/pkg/model/validation.go#L1859)

[2019-01-18 01:42] hzxuzhonghu commented on #9378
Since we support keepalive now , close it.

[2019-01-18 01:42] #9378 closed

[2019-01-18 03:03] linsun commented on #11054
That seems odd @ostromart.  Looking at the script, it starts roll back data plane then control plane.  I don't see any where it removes 1.1 control plane or 1.0 control plane either so no reason for galley to be not ready.

[2019-01-18 03:09] linsun commented on #11071
confirmed this is good practice:  https://github.com/kubernetes/kubernetes/issues/25238#issuecomment-217928835

[2019-01-18 03:18] xianke9 opened #11075 "springboot jar app on istio can't be accessed by https"
After I deploy a springboot app with command "java -jar xxx.jar" on istio/kubernetes, I can't access it with https. Once I remove the istio and only deploy this app into kubernetes, it is working fine, and I can access it with https.

The error as the following:
root@m-1:~/sso# curl https://10.0.0.167/login.html -k -tls1_2 -v

Trying 10.0.0.167...
Connected to 10.0.0.167 (10.0.0.167) port 443 (#0)

[2019-01-18 06:50] iandyh commented on #11001
@hzxuzhonghu I've pasted the logs in the description. Let me paste again here:
This is from the `ingressgateway` pod.

[code]
If need more info, please instruct me. I really want to fix the issue.

Please also look at the issue above that is referencing this one. We are facing similar problems.

[2019-01-18 06:53] hzxuzhonghu commented on #9150
Why not only support `GET` ? As k8s probe only support `GET`.

[2019-01-18 07:03] hzxuzhonghu commented on #9150
Yeah, with `GET`, this can be even inevitable.  Passing probe path and port in as flags sounds a good solution.

[2019-01-18 07:10] hzxuzhonghu commented on #11001
Is the pilot service healthy?

grpc error shows that no healthy pilot.

[2019-01-18 08:03] santhosh-git commented on #11056
### **Findings**

We are using **groot-abc.com** in our environment. If we change it to some other domain like **ingress-abc.com** It's working fine. It's not working with **groot-abc.com**.

 Is there any reserved keyword concept for istio?

[2019-01-18 08:06] iandyh commented on #11001
@hzxuzhonghu pilot was healthy. With 1.1 snapshot 4, I think you can easily reproduce the issue. Just sending the traffic continuously and scale up the ingress gateway.

[2019-01-18 08:54] boazjohn commented on #11058
Hi,

Would agree @louiscryan, I feel it'll be better if the `ServiceEntry` and `VirtualService` defined in namespaces would be applied for that namespace alone. Is there any reason behind this being extended to all namespaces?

I didn't know this could create problem. I have two namespaces right now which usually has similar rules or non-colliding rules and there are some core components sitting o

[2019-01-18 10:20] SrinivReddy opened #11078 "getting CSR signing failed in ISTIO 1.1 mesh expansion"
**Describe the bug**
testuser@istio-vm:~$ /usr/local/bin/node_agent
2019-01-18T10:16:09.309748Z     info    parsed scheme: ""
2019-01-18T10:16:09.310055Z     info    scheme "" not registered, fallback to default scheme
2019-01-18T10:16:09.310267Z     info    Starting Node Agent
2019-01-18T10:16:09.310418Z     info    Node Agent starts successfully.
2019-01-18T10:16:09.324971Z     info    ccResolve

[2019-01-18 11:02] yacut commented on #6596
@evanfoster I've tested [mongodb statefulset](https://github.com/helm/charts/tree/master/stable/mongodb-replicaset) with Istio 1.0.2 and 1.0.5, it still does not work. I've also tried different configurations for [DestinationRule](https://istio.io/docs/reference/config/istio.networking.v1alpha3/#DestinationRule) and [Policy](https://istio.io/docs/reference/config/istio.authentication.v1alpha1/#Pol

[2019-01-18 11:47] #7848 closed

[2019-01-18 11:58] duderino commented on #7878
Sorry for the late commentary, but I'm worried that this approach may cause more harm then good.  If all the Envoys start around the same time, then all will have their connections age out around the same time.

I think some randomness needs to be added to the max connection age so all the Envoys don't try to reconnect to the Pilots all at once.

[2019-01-18 12:03] ramaraochavali commented on #7878
gRPC's max connection age implementation adds jitter to address the same behaviour. See java docs for example https://github.com/grpc/grpc-java/blob/master/netty/src/main/java/io/grpc/netty/NettyServerBuilder.java#L369

[2019-01-18 12:05] ksemba commented on #11055
@kyessenov your suggestion sounds good to me. Would be great to get the implemented. Do I need to create a CR (if yes: how?)?

[2019-01-18 13:31] duderino commented on #9951
Reopening:  would be good to get some test feedback from Mandar here

[2019-01-18 13:41] duderino commented on #7878
Thanks for the clarification.  I see Etai said something similar above for the Go impl.  Sorry I missed that

[2019-01-18 14:01] duderino commented on #8938
@rvansa thanks for the analysis.

@knrc how about changing the default to 4 envoys threads per virtual core?

@PiotrSikora and @mandarjog please sanity check ^^

[2019-01-18 14:34] linsun commented on #11058
at the first glance, I am hesitate to introduce another new rules for this now that we have sidecar API.  I'm worried about 2 types of valid configuration (when side car api is used or not) to resolve this conflict and the complexity that user has to understand the caveats.

[2019-01-18 14:36] linsun commented on #9951
Yes, I'm trying to get this tested in our upgrade test.  At least per yesterday's upgrade test, this portion run successfully.

https://github.com/istio-releases/pipeline/pull/209

[2019-01-18 14:40] knrc commented on #8938
@duderino I can certainly take a look at that.  I'll be meeting with @rvansa next week in any case, he's one of the performance guys assigned to us and we had been talking about this earlier in the week.

[2019-01-18 14:50] frankbu commented on #11058
Would a more general configuration approach be better, or overkill? Allow administrators to configure a `namespacePath`, which is used instead of "any namespace". The algorithm would then be:

1. Search the namespace where the service is being consumed.
1. Search the namespaces in the configured `namespacePath`. A `namespacePath` set to '.:istio-system', where `.` is the namespace where the servic

[2019-01-18 16:13] philnichol commented on #5288
We had similar issues when using google cloud java libraries within an istio-enabled cluster. The following fixed it for us:
[code]

[2019-01-18 16:41] ericvn commented on #10293
Thanks @Evesy. I was able to reproduce your issue on 1.0.4 using the BookInfo sample and tweaking the _reviews_ virtual service resulting in intermittent failures when doing a `istioctl proxy-status` against _ratings_.

I am trying the same scenario with the current 1.1 builds and have been unsuccessful so far. I need to investigate more but wondering if https://github.com/istio/istio/pull/10233 m

[2019-01-18 17:23] cyucelen commented on #1277
@gephcott hey, how did you get it work without mTLS. I can not even make it work without mTLS. I am using istio 1.0.5.

[2019-01-18 17:37] mandarjog commented on #7878
This forces server side disconnects after the configured time. System responds slowly, and does not actually respond to changing load or imbalance. If this slow response is ok, this is a fine solution.

For faster response time, we can reduce this time, but it introduces a lot of churn.

In a very large deployment this is needless even when load is correctly balanced.

Ultimately we will have grpc

[2019-01-18 17:45] #7863 closed

[2019-01-18 17:51] duderino commented on #10041
@vadimeisenbergibm looks like the Envoy PR has been merged.  What's left to be done here?

[2019-01-18 17:58] linsun commented on #7878
@elevran any work remaining for it?  does pilot have the right config to leverage the new config nob you added?

[2019-01-18 17:59] linsun commented on #7878
e.g. could we have our automated test enabled for the 2 flags...

[2019-01-18 18:07] linsun commented on #11029
@esnible is this similar issue you are tracking related to network connectivity from circle ci?

[2019-01-18 18:08] ayj commented on #9863
Investigating this now

[2019-01-18 18:09] linsun commented on #11029
@mbanikazemi cc

[2019-01-18 18:10] linsun commented on #11026
@mbanikazemi can you help look at this issue?

[2019-01-18 18:11] linsun commented on #11026
would be good to check if this flaky also exists in circle....

[2019-01-18 18:11] #10947 closed

[2019-01-18 18:25] ayj commented on #10815
Closing this issue as it seems to be caused by an environment setup issue.

@stephen-dahl, you might try checking your environments no_proxy setting:

https://github.com/kubernetes/kubeadm/issues/666
https://github.com/kubernetes/kubernetes/pull/58698#discussion_r163879443

[2019-01-18 18:25] #10815 closed

[2019-01-18 18:34] liminw commented on #10547
To rotate keys, you need to strictly follow the lifecycle of a key. In the following steps, from step 2 to step 3 is the duration you can use a key to sign tokens.

1. Add a new key (k1) to the key server. At this time, you cannot use k1 to sign any token yet. Wait for the duration of cache refresh, and k1 is fetched by Pilot.
2. Start using k1 to sign tokens.
3. Stop using k1 to sign tokens. At t

[2019-01-18 18:36] mandarjog commented on #7878
These are command line Params and we don’t have helm options for them. We just need to expose one param, I don’t see a reason to keep grace period configurable. It just adds to confusion.

[2019-01-18 18:53] kyessenov commented on #11055
You are welcome to make a contribution to istio/proxy. Seems like a couple of lines of changes.
Take a look at https://github.com/istio/community/blob/master/CONTRIBUTING.md

cc @duderino for visibility

[2019-01-18 18:59] ayj commented on #9863
The recent failures on https://testgrid.k8s.io/istio-postsubmits#circleci-e2e-galley are from three PR / commits.

1) https://github.com/istio/istio/pull/11073 - https://gubernator.k8s.io/build/istio-circleci/e2e-galley/297003
2) https://github.com/istio/istio/pull/10923 - https://gubernator.k8s.io/build/istio-circleci/e2e-galley/295973
3) Feature branch (1.0?) - https://gubernator.k8s.io/build/is

[2019-01-18 19:23] rvansa commented on #8938
@duderino @knrc I've added more results for a case with 4 proxies on the same machine. The results show that even here the effect of more threads is rather positive.

Is it even wise to expose configuration of worker threads through Istio? I assume that the number of cores is taken through c-group information, and this can be set natively through resource limits on CPU. If we keep the default base

[2019-01-18 20:02] esnible opened #11085 "Citadel should re-issue secrets immediately when it starts if the certificate should change"
Step 3 of https://istio.io/docs/tasks/security/plugin-ca-cert/#plugging-in-the-existing-certificate-and-key says "To make sure the workloads obtain the new certificates promptly, delete the secrets generated by Citadel (named as istio.*). In this example, istio.default. Citadel will issue new certificates for the workloads."

This request is for Citadel to check the secrets on start-up and patch t

[2019-01-18 20:04] linsun commented on #10330
@vadimeisenbergibm can this be closed now?

[2019-01-18 20:07] linsun commented on #6146
isn't this partly covered by https://github.com/istio/istio/issues/10330?

egress open by default ( by installing a tested set of ServiceEntries).

cc @costinm

[2019-01-18 20:09] linsun commented on #7878
okay with not user configurable but we need to configure pilot more than the infinite timeout today.

[2019-01-18 20:10] linsun commented on #10500
ping @costinm

[2019-01-18 20:13] costinm commented on #10500
If 'legacy ingress' is disabled ( which I believe is a values.yaml setting ) - we should not touch ingress.
User has disabled it, done.

If it is enabled - and I believe it can be enabled either as a separate Gateway or in the ingressgateway - we should do the right thing. Both modes are needed ( and certmanager needs the second ).

[2019-01-18 20:48] ibm-jason commented on #10725
Update:

I was able to narrow down the package dependencies that are most likely causing the issue:

[code]
By commenting out the packages above, alongside any code that leverages them, the log message is no longer shown:

<img width="1075" alt="screen shot 2019-01-18 at 3 46 45 pm" src="https://user-images.githubusercontent.com/38068894/51412076-5e8e1880-1b38-11e9-807a-e3a497b7934e.png">

I'm gue

[2019-01-18 20:53] ibm-jason commented on #9363
/cc @ayj Hi there! 👋

I'm new to the Istio community, and looking for things to tackle. Is this still a valid task?

[2019-01-18 20:53] esnible commented on #11029
@linsun It is identical.  My fix was applied to release-1.1.  These failures are for release-1.0.  I will create a fix for release-1.0.

[2019-01-18 20:55] ibm-jason commented on #8505
/cc @animo3, @linsun

Is this still a valid task?

[2019-01-18 20:58] kyessenov commented on #10802
API proposal: https://github.com/istio/api/pull/765

[2019-01-18 20:59] ibm-jason commented on #9102
/cc @hklai - Hi there! 👋

New to the community, and I'm looking for things to tackle. Is this still a valid task?

[2019-01-18 21:04] ayj commented on #9363
@hklai @costinm - do we still need a custom VM image for circleci testing?

[2019-01-18 21:10] myidpt opened #11088 "Restrict the paths Pilot agent can forward for health checks"
**Describe the bug**
To enable health check bypassing Envoy, the Pilot agent can open a port to forward the requests to the the workload for health check, in which the path is specified in the request header. But there's no restrictions on which path the pilot agent can call. This leaves a backdoor for callers to bypass Envoy to call the workload for services other than health check.

**Expected b

[2019-01-18 21:22] duderino commented on #10975
@douglas-reid can you review the PR?

[2019-01-18 21:31] linsun commented on #11044
@ibm-jason cc

[2019-01-18 21:35] linsun commented on #10985
@johnma14 - could you check if there is anything we can provide in product page to make this troubleshooting easier for our user like @kramvan1 ?

[2019-01-18 21:35] linsun commented on #10985
you can deploy book info sample to recreate what he hits...

[2019-01-18 21:36] awly commented on #11088
Consider also restricting methods (only GET), body (no body) and headers.
IMO ideally only path and port are taken from incoming request, with restrictions.

[2019-01-18 21:48] incfly commented on #11088
I've add a comment in https://github.com/istio/istio/issues/9150#issuecomment-455346955. I'll continue working to use pilot agent to pass original app prober config.

[2019-01-18 21:48] #11088 closed

[2019-01-18 21:58] incfly commented on #9150
Quote from @awly

IMO ideally only path and port are taken from incoming request, with restrictions.

Good point, since `HTTPGetAction` from k8s only allow GET request from kubelet anyway.

[2019-01-18 22:07] yangminzhu opened #11091 "Improve Istio security (mTLS, jwt, RBAC, etc.) debuggability"
We have seen many users asking for help about why does Istio auth policy (mTLS, jwt, etc) doesn't work or not working as expected in their environment. Usually we have to look deep into the policy applied, pilot logs, envoy logs and the actual request being sent to determine the root cause (e.g. policy misconfiguration, bug in the code, broken environment, expired cert, etc.)

Sometimes, this is a

[2019-01-18 22:07] yangminzhu commented on #11017
Thanks for filing the issue, this should be very helpful to debug mTLS related issues for customers.

On the other side, I think we can also improve the error message related to the Authentication policy in Istio. Filed #11091 to track the efforts.

/cc @diemtvu

[2019-01-18 22:18] hklai commented on #9102
I believe so. Feel free to spend some time to do some investigstion first.

[2019-01-18 22:21] hklai commented on #11029
@esnible errors like https://circleci.com/gh/istio/istio/293876 is from release-1.1.

[2019-01-18 22:32] johnma14 commented on #10985
@linsun I will look at it and update this with what I find.

[2019-01-19 00:08] jmazzitelli opened #11093 "Need source telemetry to capture 'the first hop' when mirroring traffic"
_This was originally reported on "Discuss Istio" - I was asked to create a github issue regarding this bug. See: https://discuss.istio.io/t/need-source-telemetry-to-capture-the-first-hop-when-mirroring-traffic/369_

**Describe the bug**
I have traffic mirroring set up in bookinfo (see [this yaml](https://github.com/kiali/kiali/blob/c2b4df3738c40bf52c1debd043f2d54f5c3e093a/hack/istio/bookinfo-revie

[2019-01-19 00:33] ozevren opened #11094 "Switch over to the new MCP protos"
We have made changes to the MCP API surface, to accommodate some upcoming needs (incremental and reverse MCP). We'd like to switch over to using these protos to avoid unnecessary backward compatibility issues and having to support the old protocol protos.

The majority of changes to the protocol is structural refactoring, switching over to the new protos.

[2019-01-19 00:34] liminw commented on #11059
@incfly @myidpt Could one of you take a look?

[2019-01-19 00:46] incfly commented on #11059
What's the error code/message you see when the second time request is not going through?

If your theory is correct, if
1. Default single cluster installment.
1. PERMISSIVE mode for a service.
1. Install two clients, one with envoy injected, one without.
1. A request from client without sidecar, **Should succeed**
1. Turn on client side mTLS using `DestinationRule` first. && send a request from cl

[2019-01-19 00:48] incfly commented on #11059
Without further looking at it, my inclination is this more likely due to a secure naming and certificate problem, not about permissive mode.

[2019-01-19 01:16] lei-tang opened #11097 "Add a test for the code change in https://github.com/istio/istio/pull/11063"
**Describe the feature request**
Add tests for the code change in https://github.com/istio/istio/pull/11063 to test that a failed SDS grpc server will retry its serving.

**Describe alternatives you've considered**

**Additional context**

[2019-01-19 13:31] sdake commented on #11045
Seems like jobs should be ignored by the sidecar injector.  As a workaround, you can add the following annotation to your manifest:

[code]

[2019-01-19 13:31] sdake commented on #11045
@ayj ^^

[2019-01-19 20:00] ozevren commented on #9876
@hklai Assigning to you. I believe this is fixed. Could you confirm?

[2019-01-19 21:58] cyucelen commented on #10659
cassandra can not handshake even without mTLS.

[2019-01-20 03:35] dozer47528 opened #11107 "Add custom PersistentVolumeClaim support for Prometheus"
**Describe the feature request**

When Prometheus restarted, it will lose all the data.

**Describe alternatives you've considered**
Can istio support custom PersistentVolumeClaim for Prometheus and jaeger?

[2019-01-20 03:57] VenkateshSrini commented on #10568
any help. This is still a problem for me

[2019-01-20 08:31] vadimeisenbergibm commented on #10041
@duderino I asked a question in
https://github.com/envoyproxy/envoy/pull/5337#issuecomment-455847185, let's see the answer.

[2019-01-20 08:44] osswangxining commented on #10360
what's the commit for this fix?

[2019-01-20 09:19] vadimeisenbergibm commented on #10330
@linsun I still have to document it, and also fix https://github.com/istio/istio/issues/10933, since now Egress control is broken altogether.

[2019-01-20 10:25] pmoncadaisla opened #11108 "End user JWT payload is not forwarded"
**Describe the bug**
After the JWT has been validated by envoy, the payload is not being forwarded to the service although the config says it should be forwarded.
Full JWT is being forwarded in the Authorization header, which remains intact.

Athentication is working fine, non valid JWT result in `401`, and valid requests are forwarded to the application as expected.

**Expected behavior**
Have a

[2019-01-20 12:08] ymesika opened #11110 "Pilot fails to start when installing Istio minimal"
Pilot fails to start when installing Istio minimal with the values from `values-istio-minimal.yaml`.
As Galley is not installed in this setup, Pilot fails to use MCP.
MCP should also be disabled in a minimal set.

[2019-01-20 12:57] Gadigg commented on #9764
Hi @vadimeisenbergibm did you get a chance to look at this?

[2019-01-20 13:34] elevran commented on #7878
@linsun the default is unset to ensure "least surprise" and maintain current behavior, leaving this under user explicit control. Adding documentation and helm option (for maxConnectionAge only, we can hardcode grace to 10s) can be done.  I'll submit against the `release-1.1`, if needed. Let me know.

@mandarjog the system should converge after the `maxConnectionAge`. A value of a few minutes could

[2019-01-20 14:46] Gadigg opened #11112 "Ingress routes to incorrect podIP"
**Describe the bug**
We have a cluster with a lot of services. This doesn't always happen, but is frequent enough. Ingress returns 503 error, browser displays: `upstream connect error or disconnect/reset before headers.`
It seems that the istio-pilot does not map a new service deployed to the right IP thus making the pod unreachable.
The weighted routing works as expected but when routed to the ne

[2019-01-20 18:33] ravigude commented on #7776
@Stono , @darkrasid , I am having the same issue with virtualservice as you have mentioned. It would help us too. https://github.com/istio/istio/issues/7776#issuecomment-446847610

[2019-01-20 20:12] ozevren commented on #7698
Closing this. Nathan's current work should take care of this.

[2019-01-20 20:12] #7698 closed

[2019-01-21 01:06] pluttrell commented on #11045
@sdake Thanks for the temporary workaround.

But I don't think preventing sidecar injection is the best long term solution. I think the Envoy Proxy should always be injected into Jobs by default, so that we can take advantage of the benefits of Istio in Job workflows as well. For example, we want mTLS and load balancing between our Jobs and Services.

I wonder if the root cause lies in Kubernetes

[2019-01-21 02:43] xilu0 commented on #5010
@tommyJimmy87

[2019-01-21 02:44] xilu0 commented on #5010
How do I open envoy debug mode? thank you!

[2019-01-21 03:32] hzxuzhonghu opened #11114 "[build failed]"
**Describe the bug**
CI failed:

[build failed] - gateway
[build failed] - opa

**Expected behavior**
{{ What did you expect to happen? }}

**Steps to reproduce the bug**
{{ Minimal steps to reproduce the behavior }}

**Version**
{{ What version of Istio and Kubernetes are you using? Use `istioctl version` and `kubectl version` }}

**Installation**
{{ Please describe how Istio was installed }}

**

[2019-01-21 06:35] hzxuzhonghu opened #11115 "TestPodChurn flake"
Found many flake about `TestPodChurn `

https://github.com/istio/istio/pull/11113

https://circleci.com/gh/istio/istio/298715?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-01-21 06:36] hzxuzhonghu commented on #11115
/assign @nmittler

[2019-01-21 07:46] hzxuzhonghu commented on #11107
Isn't this a k8s issue? `PersistentVolumeClaim ` is for users to store persistent data.

[2019-01-21 08:30] irisdingbj commented on #10891
@ozevren thanks, I will close this issue now.

[2019-01-21 08:30] #10891 closed

[2019-01-21 08:43] liamawhite commented on #10112
closing in favour of #7136

[2019-01-21 08:43] #10112 closed

[2019-01-21 08:44] liamawhite commented on #9818
closing in favour of #7136.

[2019-01-21 08:44] #9818 closed

[2019-01-21 10:01] liamawhite commented on #7136
OK, looking to get this closed out. To summarise the various issues I have seen w.r.t. this.

In Kubernetes, all containers in a pod are sent SIGTERM at the same time. This means Envoy often gets killed before the application it is serving. This causes the following issues:

- Any open TCP connections (inbound and outbound) with the application get severed when Envoy terminates.
- Any new outbound

[2019-01-21 10:03] pxzero opened #11119 "HTTP PayLoad Size Limit Support"
**Describe the feature request**
Istioctl support limit the http payload size , and return the 413 status code .

In our production environment , we sometimes need to limit the request payload size to protect the server side. So we think maybe istio can cover this?

**Describe alternatives you've considered**
At now , we want to expand the fault inject feature , may be add an condition action ?

*

[2019-01-21 10:04] liamawhite commented on #7136
cc @hzxuzhonghu @elevran @ZackButcher @lizan @costinm @duderino @rosenhouse

[2019-01-21 10:15] hzxuzhonghu commented on #7136
+1

[2019-01-21 10:39] procyclinsur commented on #7726
I am also having the same issue with version 1.0.5 deploying to AWS, except that this is not resolved by waiting 30 minutes... I have been waiting over 2 hours and I still receive the `Empty reply from server` error message.

What can be done to fix this?

[2019-01-21 11:46] rvansa commented on #8938
@knrc In the PR you've set the `--concurrency` to `ceil(CPUs)`, but from the 4-proxy setup it looks that having multiple threads per core might be beneficial. IIUC there is no way to override concurrency when `sidecar.istio.io/proxyCPU` is set; it might be useful to allow `sidecar.istio.io/proxyThreadsPerCore` multiplier. The default is questionable ofc, from what I've seen 2 might be actually bet

[2019-01-21 11:51] knrc commented on #8938
@rvansa We can chat about this on Friday and then update this issue

[2019-01-21 13:12] erikparienty opened #11120 "elasticsearch tcp disconnecting"
Im trying to install elasticsearch from Helm on namespace with istio auto inject sidecar when installing it with no sidecar all is working well but with sidecar i see the servers disconnect from each other (the masters) and i dont know how to debug it (no virtual service and no gateway only internal communication from elastic-0 to elastic-1)

**the service is **
[code]
**and the pod**
[code]

[2019-01-21 14:45] linsun commented on #7878
@elevran agreed, so if pilot replica is 1, there is no need to configure this `maxConnectionAge`.  If replica is 1+, then user can configure it based on what they are willing to tolerate.

Agreed this is a short term solution for 1.1... for longer term, it would be much better to have some intelligence to balance the loads among all replicas of Pilot.

[2019-01-21 15:13] musicformellons opened #11121 "sample needed for websockets with socket.io"
I am trying to setup a node.js socket.io server (express) on GKE but can not get it working. Might be since the sample code here for websockets (which did work on GKE) is python based it does not need a handshake / sticky session. Anyway, would be great to have an example with nodejs & socket.io as I run into problems.

See details on my issue are [here](https://stackoverflow.com/questions/5398745

[2019-01-21 15:28] donina commented on #7136
`Call Envoy's /healthcheck/fail endpoint on SIGTERM, wait for grace period, Kube SIGKILLs.
+1

[2019-01-21 15:33] ymesika opened #11122 "Racetest is flaky"
Recently (past few weeks) the `racetest` is very flaky and typically fails on one of the Mixer adapters.
Examining the logs shows build errors such:
[code]
Which hints a lack of memory.

[2019-01-21 15:39] robertpanzer opened #11123 "Cannot invoke OpenSSL functions from Lua filter"
**Describe the bug**
I am trying to implement a Lua filter that uses the OpenSSL API.
While I can access OpenSSL functions an a stock Envoy, I cannot access these functions in an istio-proxy.
The strange thing is that these symbols appear in `nm`.

**Expected behavior**
I expect being able to invoke functions that are statically linked, in particular OpenSSL.

**Steps to reproduce the bug**
Create

[2019-01-21 15:44] markusthoemmes commented on #7136
Until envoy itself supports a "wait until done" kind of behavior, could we use @Stono's hack above to find out when envoy is done? Waiting until the terminationGrace is over can be a loooooong time.

[2019-01-21 15:48] Stono commented on #7136
Yeah you don't wanna wait until termimationGracePeriod has passed as some of our apps have multiple hours on the off chance they're hitting a batch half way through - but the vast majority of the time they are not.  We would want the shutdown to be as fast as possible so as not to slow down rollingUpdates.

[2019-01-21 15:53] axel7born opened #11124 "Example "Configure an Egress Gateway" does not work with release-1.1"
**Describe the bug**
We installed release-1.1 and followed the example https://preliminary.istio.io/docs/examples/advanced-gateways/egress-gateway/.
After installing the network rules, the request fails with 503.

We attached the config of the sidecar envoy. It seems that "cluster": "outbound|80|cnn|istio-egressgateway.istio-system.svc.cluster.local" is referenced by a route but missing in the clu

[2019-01-21 15:55] Bessonov commented on #8619
Interested in this too. Storing JWT on localStorage isn't an option. Even there is no 100% protection, but Cookie + CSRF-Protection improve security AFAIK.

But I doubt that istio should care about JWT at all. For me it's out of the scope, even it is nice. Things get more complicated, if you want to accept JWT as Cookie from a browser.

[2019-01-21 16:12] linsun opened #11125 "change default monitoring port"
In our global helm configuration, we are currently using port 9093 as default. This has caused port conflict issues for a number of users, especially who uses Kafka which also often uses port 9093. (And it is not easy to debug this prob, can take days.)

-----------//--------------

monitoring port used by mixer, pilot, galley
monitoringPort: 9093
-----------//--------------

[2019-01-21 16:13] linsun commented on #11125
@ericvn can you take a look at this and see if we can pass all testing with the change?

@GregHanson do we have a list of reserved ports documented somewhere?

[2019-01-21 16:53] loewenstein commented on #9659
@costinm @louiscryan

How would the 'viable workaround' config look like?
I found [ConfigScope](https://preliminary.istio.io/docs/reference/config/istio.networking.v1alpha3/#ConfigScope) on `ServiceEntry`s. I suppose that would have to be set to PRIVATE for a `ServiceEntry` in the egress gateway namespace for the service that needs a client certificate applied at the egress gateway. Correct?

What

[2019-01-21 18:15] esnible commented on #11029
@hklai Yes, this particular problem does sometimes affect release-1.1.

The offending line is `FROM ubuntu:xenial` when building _proxy_init_.  Every other Istio build is based *indirectly* on _ubuntu:xenial_ via _istionightly/base_debug_.  If we based _proxy_init_ on _base_debug_ we could eliminate the extra attempt to contact docker.io.  In this case the error message was

[code]

The only diffe

[2019-01-21 18:47] esnible commented on #10500
Still trying to diagnose.  I will install Istio 0.7 and get the legacy Ingress running.  Then I will move forward and see which version first triggers this issue.

[2019-01-21 20:20] eoftedal commented on #8263
Just referencing this for history/linking: https://github.com/istio/old_issues_repo/issues/165

[2019-01-21 20:30] eoftedal opened #11128 "Support EC certificates in citadel"
**Describe the feature request**
Issues is described in: https://github.com/istio/old_issues_repo/issues/167
I would like to see support for EC certs, instead of only RSA.

**Describe alternatives you've considered**

**Additional context**
EC seems to be supported in the crypto module:
https://github.com/istio/istio/blob/master/security/pkg/pki/util/crypto.go#L27
However in the CA it apparently o

[2019-01-21 20:50] linsun commented on #11085
cc @wattli @liminw for thoughts

[2019-01-21 20:57] linsun opened #11130 "App container unable to connect to network before sidecar is fully running"
**Describe the feature request**
We had users who spend very long time to debug why their app container stops working initially when sidecar is used in istio.  They have found out the app container could not reach out to network for simple things like clone a file from GitHub before the envoy proxy is ready and running.  It is hard to debug this because when they exec into the container after the

[2019-01-21 20:57] linsun commented on #11130
@esnible pls feel free to add things I missed.  cc @GregHanson

[2019-01-21 21:04] GregHanson commented on #10933
Tried with latest in release-1.1 branch:

[code]

[2019-01-21 21:06] Evesy commented on #10293
Great, thanks @ericvn, that certainly looks better!

Does this mean in this setup with 1.0.4 Envoy is very frequently reloading to pull in these 'changes' or is it purely just a visual manifestation when running `proxy-status`?

[2019-01-21 21:13] linsun opened #11131 "Gateway and virtual service in different namespaces not working"
**Describe the bug**
One of our users report that he has to put gateway resource and virtual service that bound to the gateway in the same namespace to get it working.  Is this a limitation (or a bug) we have?  I don't find it documented as a limitation in istio.io (https://istio.io/docs/concepts/traffic-management/#gateways) or api (https://github.com/istio/api/blob/master/networking/v1alpha3/gat

[2019-01-21 21:13] linsun commented on #11131
@frankbu @rshriram could you comment if this is a limitation that is purposely done or a bug we should fix?

[2019-01-21 21:38] frankbu commented on #11131
The virtual service needs to qualify the gateway name with the namespace. I think it was something like `mygateway.somenamespace` in 1.0, but as part of the sidecar model and gateway cleanup, the syntax is like this now: https://github.com/istio/api/blob/6286ff0e63603c77cf7ec30510c39e5cebae65b2/networking/v1alpha3/gateway.proto#L104

[2019-01-21 21:40] GregHanson commented on #11125
@linsun I know this list has made appearances in PRs/issues in the past but I can't find any links.  The best bet is to check the helm charts for service ports.  Can create a httpbin ServiceEntry with TCP port definition for any of the ports in question.  Will see errors in XDS pushes in pilot-discovery from sidecars rejecting configs with duplicate listeners

[2019-01-21 21:47] linsun commented on #11131
Thank you @frankbu, so this is a supported scenario where VS and Gateway are in different namespaces.

I will try it in a 1.1 build.

[2019-01-21 21:51] linsun commented on #11125
@GregHanson thank you!  Agreed that helm files (values.yaml, deployment, service yaml etc) would be good starting point to capture a list of ports used currently.

[2019-01-21 21:51] linsun commented on #11125
@duderino  FYI

[2019-01-21 22:09] linsun commented on #10956
@irisdingbj do you have bandwidth to pick this up?  1) fix our current yaml to make yamllint happy 2) add this to our CI (circle/prow).

[2019-01-21 22:47] adityats2020 opened #11132 "Injecting sidecar behaves differently for different containers - Missing envoy filters on listener"
I am seeing inconsistent behavior on injecting sidecar. Primarily, I am not seeing ingress access logs in envoy for my container. The same mode (commands) of injection for httpbin however does not face this issue.

Command used: istioctl kube-inject

**Expected behavior**
Envoy sidecar should have Http Connection Manager filter added to the corresponding listeners. Http Connection manager is respo

[2019-01-21 22:54] pluttrell commented on #11045
[Kubernetes #25908](https://github.com/kubernetes/kubernetes/issues/25908), appears to confirm that this is indeed an issue with Kubernetes itself not properly implementing the lifecycle of Jobs when any sidecar is injected.

That ticket was opened over 2.5 years ago and to date no solution has been implemented. I wonder if Istio should implement one of the work arounds proposed, such as listening

[2019-01-22 01:06] martinbaillie commented on #10822
We're on 1.0.5 and I believe we just hit this. Similar pprof:

summary:
[code]

from dump:
[code]
![graph](https://user-images.githubusercontent.com/613740/51505919-84b7ff00-1e3d-11e9-9f50-3da881e6410f.png)

[2019-01-22 01:35] hzxuzhonghu commented on #10822
#10998 fixes it in release-1.1.

[2019-01-22 01:42] hzxuzhonghu commented on #10822
#11134 fixes in release-1.0

[2019-01-22 02:49] ermik commented on #5989
@eduardobaitello is 1-to-1 port match between PodSpec and Service a known feature of kubernetes or istio? Where can I read more about it?

[2019-01-22 02:50] linsun commented on #11131
https://github.com/istio/istio/pull/11127

[2019-01-22 02:59] linsun commented on #10500
@duderino can you pls provide your view of priority of this for 1.1?

[2019-01-22 03:02] linsun commented on #10500
@costinm checked istio ingress gateway helm values.yaml, don't see a place I can enable the legacy ingress.  I think you may be referring to the code that auto convert the legacy ingress to the new gateway yaml?

I did find the legacy ingress disable/enable flag.

[2019-01-22 03:30] jfourment opened #11135 "istioctl not reporting correct version info"
**Describe the bug**
Our cluster has been migrated from istio 1.0.2 to istio 1.0.5, but when running istioctl proxystatus the reported version of the proxy is 1.0.2

**Expected behavior**
I would expect version 1.0.5 to be returned by istioctl proxy-status

**Steps to reproduce the bug**
* set up a kube cluster with istio 1.0.5 installed
* run `istioctl proxy-status`

[code]

**Version**
* istio 1

[2019-01-22 05:04] kish3007 commented on #6085
My issue is in GKE, running Istio 1.0.5(mtls not enabled), noticed this when I was trying to access one of my service(https) through Gateway.

[2019-01-22 08:14] liamawhite commented on #7136
When to actually terminate would be left up to choice. There's nothing stopping you from terminating if, after 30 seconds, Envoy is still draining you can just kill it anyway.

[2019-01-22 08:19] abhinavabcd commented on #7338
The pods were not able to communicate to the api server.
this is what fixed for me.
https://github.com/rancher/rancher/issues/13484#issuecomment-432995536

[2019-01-22 09:02] hzxuzhonghu opened #11139 "DiscoveryServer.WorkloadsByID read and write concurrently"
There are two places acccess WorkloadsByID, which may cause panic

1. DiscoveryServer.WorkloadUpdate write https://github.com/istio/istio/blob/d93e9eb86a104c77275e84077fd20435ab1c9cfa/pilot/pkg/proxy/envoy/v2/eds.go#L490

1. /debug/workloadz handler workloadz read
https://github.com/istio/istio/blob/d93e9eb86a104c77275e84077fd20435ab1c9cfa/pilot/pkg/proxy/envoy/v2/debug.go#L171

[2019-01-22 09:02] hzxuzhonghu commented on #11139
/cc @costinm

[2019-01-22 09:18] hzxuzhonghu commented on #11139
`EndpointShardsByService`  face the same issue. All these can lead to pilot panic.

[2019-01-22 09:23] nixgadget opened #11140 "Problems connecting to redis cluster on 1.1.0-snapshot.4"
**Provider**: EKS
**Kubernetes version**: v1.11.5
**mTLS**: enabled
**Istio**: 1.1.0-snapshot.4

I'm trying to connect a java application (running inside the mesh) to a redis cluster (running outside the mesh).
redis cluster is in the namespace `storage` while application is running in `apps` namespace.
As I have mTLS enabled in the mesh I disabled it specifically for `storage` namespace with the

[2019-01-22 09:39] wutianya commented on #10588
I also encountered the same problem, helm version v2.12.0
Error: release istio failed: customresourcedefinitions.apiextensions.k8s.io "rbacconfigs.rbac.istio.io" already exists
The solution is to use helm version v2.10.0

[2019-01-22 09:41] vadimeisenbergibm commented on #10933
The problem is related to routes in general, they are not updated randomly. Appears in  istio-release-1.1-20190121-09-16.

[code]

[2019-01-22 09:43] hzxuzhonghu commented on #11140
`DestinationRule` is not necessary

[2019-01-22 09:45] nixgadget commented on #11140
@hzxuzhonghu reason i have the `DestinationRule` is to disable TLS in `storage` namespace. You think this is what is causing this ?

[2019-01-22 10:21] xianyuLuo commented on #6282
[code]

Secret is created from the folder

[2019-01-22 10:23] xianyuLuo opened #11141 "support Update HTTPS certificates automatically"
Use ACME to enable Istio-IngressGateway to automatically update HTTPS certificates

[2019-01-22 10:51] ekarlso commented on #10883
I am getting a similar error when deploying snapshot 4

kubectl version
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.3", GitCommit:"a4529464e4629c21224b3d52edfe0ea91b072862", GitTreeState:"clean", BuildDate:"2018-09-09T18:02:47Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.4", GitCommit

[2019-01-22 10:56] elevran commented on #7136
Can both

and

be done?

[2019-01-22 11:19] akaimo opened #11142 "Response code changes"
**Describe the bug**
I am publishing web services using Istio sidecars. The web server and its istio-proxy will return 200 as a response code, but ingressgateway and its istio-proxy may return 500 or 504 in some cases.

**Expected behavior**
If the web server and its pod's istio-proxy return 200, ingressgateway and its istio-proxy will also return 200.

**Steps to reproduce the bug**
I do not know

[2019-01-22 12:18] vadimeisenbergibm commented on #9764
According to https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/load_balancing/load_balancers#ring-hash:

I guess this is the reason. @rshriram Am I correct?

[2019-01-22 12:43] nixgadget commented on #11140
The storage layer (which consists of Redis, Cassandra, Kafka e.t.c), that the java services connect to, sit out the mesh. Hence why `TLS` is disabled. I don't want TLS enabled for any of the storage services.

The point is with `DestinationRule`, I see two different results with `1.1.0-snapshot.3` and `1.1.0-snapshot.4` when it comes to Redis. So the question is there anything special happening wi

[2019-01-22 13:00] procyclinsur opened #11144 "bookinfo demo: istio-proxy doesn't connect to istio-pilot.istio-system"
**Describe the bug**
I have installed bookinfo on EKS according to the instructions [here][1] and [here][2].

While verifying that the application was installed correctly, i received `000` when trying to bring up the product page.  After checking my network connections VPC/Subnets/Routing/SecurityGroups, I have narrorwed the issue down to being an istio networking issue.

Upon further investigatio

[2019-01-22 13:11] ymesika commented on #11144
Might be related: https://github.com/istio/istio/pull/10863

[2019-01-22 13:16] sjanota commented on #10884
I'd say this label can be added regardless of sidecar injector configuration. It doesn't break anything, and is simpler.

[2019-01-22 14:00] musicformellons commented on #11121
Thanks, I solved this a couple of hours ago... I had a dependency, uws, which need an older node version. It all works great now!!

[2019-01-22 14:00] #11121 closed

[2019-01-22 14:02] mbanikazemi opened #11145 "new service entries or editing the existing one does not get propagated to istio proxies"
**Describe the bug**
Changes from adding new service entries or editing the existing one does not get propagated to istio proxies running as side cars.

**Expected behavior**
Changes will get propagated to istio proxy containers.

**Steps to reproduce the bug**
Create a simple deployment by applying the following:
[code]
create s service entry by applying the following:
[code]
if you run the istio

[2019-01-22 14:04] mbanikazemi commented on #11145
/cc @esnible

[2019-01-22 14:21] morvencao opened #11146 "Pilot supports to watch multiple specified namespaces"
**Describe the feature request**
Current, if we specify `oneNamespace` to be true when deploying istio, pilot will  watch resources in `istio-system` namespace by default, and we have to deploy applications and traffic rules in `istio-system` namespace.

If we use the default value(`false`) of `oneNamespace`, pilot will watch resources in all namespace. If there are large amount of services existi

[2019-01-22 14:22] geeknoid commented on #11020
PR pending.

[2019-01-22 14:37] axel7born commented on #11124
We can't reproduce the problem with an empty cluster. Seems cause of the problem where conflicts with other destination rules. We will investigate this and open a new issue.

[2019-01-22 14:37] #11124 closed

[2019-01-22 14:49] sysC0D opened #11147 "LoadBalancing GRPC on istio-ingressgateway not working"
We're working on Kubernetes (GKE) v1.10.11-gke with Istio 1.0.5 on GCP.
I wonder about the best way to have a functional loadbalancing with GRPC from an external client.
Currently, only one Ingress of 6 is using by our GPRC clients and it takes 10Kreq/s, everything works fine until this ingress is destroyed or crashed.
I want to implement loadbalancing on my istio-ingressgateway, I understood with

[2019-01-22 14:55] wooderz commented on #10898
Any more news here? It's so annoying to have to refresh my page all the time!

[2019-01-22 16:48] mbanikazemi commented on #11026
I see a single test failing in one run in the past couple of weeks: https://testgrid.k8s.io/istio-postsubmits#e2e-bookInfoTests-envoyv2-v1alpha3
That test fails because the details is not returned in the bookinfo example page. This can possibly be because the details service was not available on time for the request sent to it to get a response. Anyway, I will keep an eye on this test to see if it

[2019-01-22 16:49] gowthamreddyvintha commented on #6085
My issue on AKS, running Istio 1.0.5(mtls not enabled). Sample Book info app is running fine, but when deployed own application( simple web app) VS not routing to the route path of the pod.

[2019-01-22 17:17] elevran commented on #7878
@linsun #11126 has been merged into release 1.1. Does it make sense to close this issue with the merged short term fix (limiting maximum connection age via the command line) and open a separate issue for more advanced and informed LB by Istio components?

[2019-01-22 17:22] ozevren commented on #10589
@nmittler and I working on this (Mostly @nmittler writing code, I am reviewing). The next PR should be going in soon (today) that enables reading of the appropriate resources from K8s. The next one will be for synthesizing the endpoints.

[2019-01-22 17:24] ozevren commented on #10942
This should be fixed right now, but I'd very much prefer if we have a regression test for this.
@irisdingbj, can you add a test to cover this? If you don't have time, it would be wonderful to detail the precise repro steps, so that we can capture in a bug to add a test.

[2019-01-22 17:25] ozevren commented on #11041
I have a tentative fix for this, WIP, but it is quite probably not the right fix. Will work with @ayj to see how to make it check-in ready.

[2019-01-22 17:26] jmazzitelli opened #11151 "Telemetry resulting from injected faults is wrong."
**Describe the bug**
Telemetry resulting from injected faults is wrong.

I have Istio 1.1-snapshot.4 installed, with bookinfo. I then added my own fault injection rule using this yaml:

[code]

When I view this traffic in Kiali, I see some really odd connectivity:

![bad-telemetry-graph](https://user-images.githubusercontent.com/2029470/51552145-f7c17580-1e3d-11e9-8488-3d4570a3ebfe.png)

That red

[2019-01-22 17:48] jmazzitelli commented on #11151
@douglas-reid does this sound familiar to you? I'm curious if it's a known issue. It's easily detected in the Kiali graph, but not sure how many are using Kiali to visualize 1.1 telemetry yet.

[2019-01-22 17:58] linsun commented on #11054
checked 1/21's log, it is failing at roll back too.

My guess is that we have an CRD incompatible.  when 1.1's CRD is installed, it will fail 1.0's control plane.

[2019-01-22 18:13] ozevren commented on #11041
Here is a theoretical fix: https://github.com/istio/istio/pull/11136/commits/6afa264b7d4aacd42767a8330936cf13926c416c

[2019-01-22 18:13] douglas-reid commented on #11151
@jmazzitelli I haven't fully digested this yet, but there was another (possibly related ?) issue with the calculation of attributes in the proxy. @mandarjog and @kyessenov have looked at that issue -- perhaps they can help here. I'll dig in more in a bit.

[2019-01-22 19:14] #11071 closed

[2019-01-22 19:19] #11122 closed

[2019-01-22 19:20] munrodg commented on #10873
@mandarjog can you pick this one up?

[2019-01-22 19:21] wattli commented on #10584
This can be fixed by the whitebox issue

[2019-01-22 19:21] #10584 closed

[2019-01-22 19:24] kyessenov commented on #10933
I'm not sure what changed lately in pilot recently to cause this. Perhaps, @rshriram can diagnose it better?

[2019-01-22 19:31] #11115 closed

[2019-01-22 19:39] ostromart commented on #11054
The script doesn't explicitly remove the control plane but since the images are updated there's a restart. We're updating control plane in place, not doing both versions side by side (we should try this sometime but afaik we it's completely untested so if it works it's by accident rather than intent).

Coming back to the error log I looked at, the error says:
webhook "pilot.validation.istio.io": P

[2019-01-22 19:43] linsun commented on #7878
+1 @elevran to what you said!

[2019-01-22 19:49] douglas-reid commented on #11151
@jmazzitelli I can duplicate your issue. Looking through logs now...

[2019-01-22 19:53] costinm opened #11158 "High memory use for Galley"
I've left a small-size test Istio cluster over the long weekend - Grafana and k8s showed ~16G in use for galley. The good news is that it was constant, not increasing. I did have some frequent config changes while I was setting up the cluster ( it had a pilot in a test namespace that was updating ingress at the same time with the one in istio-system, resulting in frequent config changes ) - but I

[2019-01-22 19:54] costinm commented on #11158
[grafana_galley.pdf](https://github.com/istio/istio/files/2784373/grafana_galley.pdf)

[2019-01-22 20:16] ozevren commented on #11158
This is most likely the same issue with https://github.com/istio/istio/issues/11041. That one is crash looping due to much faster accumulation of leaked go routines, this one is most likely holding onto the go-routines, which in turn hold on to the snapshot data.

@ayj is working on an isolated fix for the go-routine leak in the MCP Server right now. That should address both issues.

[2019-01-22 20:41] douglas-reid commented on #11151
Got some attribute logs:

[code]

Looks like `destination.workload.uid` is wrong.

[2019-01-22 20:43] gargnupur commented on #9566
Looking stable here: https://testgrid.k8s.io/istio-presubmits#e2e-mixer-no_auth.

Hence closing...

[2019-01-22 20:43] #9566 closed

[2019-01-22 20:48] jmazzitelli commented on #11151
looks like a bunch of  destination attribs are wrong:

[code]

If these are from the result of the fault injection, anything related to a destination workload should be unknown, right?. Secondly, I'm not sure how these even got references to "reviews" because all requests with a destination.service of "details" should never have telemetry with destination.workload of "reviews". All those requests

[2019-01-22 20:51] mandarjog commented on #11151
I am looking at another destination.uid issue, I wonder if this is related? If uid is wrong then all metadata will also be wrong.

[2019-01-22 20:53] kyessenov commented on #11151
In case of FI there should not be destination.uid sent by envoy. Normally, it's set through EDS, but in FI case EDS is not utilized.

[2019-01-22 20:54] douglas-reid commented on #11151
It appears that `destination.uid` is not being set on the wire:

[code]

[2019-01-22 20:55] douglas-reid commented on #11151
So, I think the bag logic is faulty...

[2019-01-22 21:12] jmazzitelli commented on #11151
Let me ask this question - and I only bring it up because I came across a similar "weird telemetry" issue about the same time when I found this bug - is issue #11093 related to this one we are discussing? Notice mirrored traffic has wrong reporter="source" telemetry in that case, too (only this time the telemetry is actually missing).

[2019-01-22 21:38] douglas-reid commented on #11151
We have identified the issue as a protocol issue. We are attempting to determine when the semantics changed in the client so that we can assess the right approach to fix on server side.

[2019-01-22 22:01] pnovotnak commented on #8358
Hey all, is thrift on the roadmap now that Envoy supports it? If not, could someone give a ballpark estimate for how much time would be required to add it?

[2019-01-22 22:08] douglas-reid commented on #11151
@jmazzitelli possibly. I haven't looked closely at that issue, but I would like to re-validate once this gets patched.

[2019-01-22 22:23] costinm commented on #11158
Might be the same - but Pilot was not crash looping or reconnecting, it was quite stable.

Either way - we need load tests for both client reconnections and high rate of change in k8s.

[2019-01-22 22:44] christianang opened #11170 "Envoy RDS doesn't update when Pilot restarts"
**Describe the bug**
When Pilot is restarted, any existing Envoy connected to Pilot will no longer receive their Route Configuration through RDS. Looking at Pilot logs it is still pushing EDS/CDS/LDS configuration to Envoy; so Envoy appears to have reconnected to Pilot, but there is an issue with how Pilot is handling RDS responses. Envoy must be restarted for Pilot to start pushing RDS again.

**

[2019-01-22 23:38] mandarjog commented on #11151
Mixer client (prior to 1.1-pre) uses batch compression protocol to compress multiple bags into a single report request sent to Mixer. The protocol *does not* support *deletions*.
When an attribute like `destination.uid` is not present in a bag, it incorrectly assumes value from the previous bag.

At present 1.1-pre snapshots (Post Oct 2018) , the client does not send batch compressed data. This ch

[2019-01-23 01:02] hklai opened #11172 "Restore integration tests in codecov (disabled due to port conflict)"
The new integration tests and/or test framework seem to rely on a fixed port 9901 (see https://github.com/istio/istio/search?utf8=%E2%9C%93&q=9901&type=))

These tests had been disabled in the codecov job previously, but upon restoring these tests, codecov fails with errors like
`Error starting Galley: unable to listen: listen tcp 0.0.0.0:9901: bind: address already in use
`
See https://circleci.c

[2019-01-23 01:48] christianang commented on #11170
After some reading up on the XDS protocol and looking at what the code is doing. I think this would be solved by considering no sent nonce to be a case where it just accepts the `Discovery Request` from Envoy. Right now it would consider it to be a stale nonce because the nonce that was sent by Envoy doesn't match Pilot's "sent" nonce, which is blank.

It seems it would be as straight forward as d

[2019-01-23 02:09] hzxuzhonghu commented on #11140
@nixgadget You mean the service with named port `redis-` can work well on `1.1.0-snapshot.3` but not on `1.1.0-snapshot.4`?

[2019-01-23 02:15] nixgadget commented on #11140
@hzxuzhonghu the other way around. If I have `redis-` in the named port then the java application breaks with the above stack error in `1.1.0-snapshot.4`.  Im assuming it treats it as `redis` protocol rather than tcp ?. Not sure.
Works fine with `1.1.0-snapshot.3`.

Some changes in `envoy` perhaps ?

[2019-01-23 02:17] hzxuzhonghu commented on #11140
If it is this, I think I find the cause
https://github.com/istio/istio/blob/e661de08e04e78e60f7fbec067e4357974fa27c3/pilot/pkg/networking/core/v1alpha3/networkfilter.go#L181-L194

[2019-01-23 02:18] hzxuzhonghu commented on #11140
@venilnoronha the redis filter added by you, any comment?

[2019-01-23 02:31] zhu0516123 commented on #10393
@mandarjog @douglas-reid
Will this issue be fixed in 1.0.6 or 1.1 release?

[2019-01-23 02:50] morvencao commented on #10126
/cc

[2019-01-23 02:55] morvencao commented on #7878
/cc

[2019-01-23 03:11] hzxuzhonghu commented on #11170
good catch

[2019-01-23 04:14] ayj commented on #11146
cc @costinm @rshriram @louiscryan - I believe the sidecar API resource is intended to address this problem.

[2019-01-23 04:16] FengLiqiong commented on #9926
I got the same `upstream connect error or disconnect/reset before headers` error with the same configuration, and if you check the log of `istio-proxy` container in `hellonode` pod, you can see `[info][client] external/envoy/source/common/http/codec_client.cc:117] [C3] protocol error: http/1.1 protocol error: HPE_INVALID_CONSTANT`.

I think the log message means that the envoy is expecting an http

[2019-01-23 05:31] kenske commented on #7449
According to this page, EKS now supports webhooks:

https://aws.amazon.com/blogs/opensource/getting-started-istio-eks/

So I followed the instructions there and left confg validation and webhooks **enabled**. However, I'm running into issues when installing Istio via helm:
[code]

After a few minutes, I get this:
[code]

After digging some more, I found that the `istio-grafana-post-install` Job wa

[2019-01-23 06:16] hzxuzhonghu commented on #11158
I meet the same issue, deployed 1.1.-.snapshot.3 yesterday. but galley memory is 1.68G now.

[2019-01-23 06:43] hzxuzhonghu commented on #11145
Address here is not used

	// the destination will be identified based on the HTTP Host/Authority
	// header.

[2019-01-23 06:45] hzxuzhonghu commented on #11145
I tried with 1.1 latest code,  updated endpoints.address, the xds can be repushed.

[2019-01-23 06:46] hzxuzhonghu commented on #11145
The RDS status NOT SENT maybe related to #11170

[2019-01-23 06:47] morvencao commented on #8462
/cc

[2019-01-23 06:51] #11170 closed

[2019-01-23 06:55] hzxuzhonghu commented on #11145
When delete the serviceentry, found that the xds is not repushed.

[2019-01-23 07:06] hzxuzhonghu commented on #11145
Verified with  the #11177 commit, the issue should be addressed.

[2019-01-23 07:08] lizan commented on #10965
The plan is putting message in a metadata that can be configured to be included in access logs.

[2019-01-23 07:09] lizan commented on #11091
Related to #10965, this could be put in the same metadata.

[2019-01-23 07:27] exiaohao opened #11178 "e2e tests can't specify istio's namespace"
**Describe the bug**
I've running e2e tests:
[code]

set namespace to `test-istio`, after running `istioctl kube-inject` error occurs:
[code]

`Running command /usr/local/bin/istioctl kube-inject -f /Users/hao/go/src/istio.io/istio/samples/bookinfo/platform/kube/bookinfo.yaml -o /var/folders/lj/dyqht_wj4hq2z2gb8rx8qbf00000gn/T/istio.e2e.703755069/KubeInject056321898.yaml  -n test-istio -i test-ist

[2019-01-23 07:54] hzxuzhonghu opened #11180 "Pilot memory leak risk"
There is a potential risk of memory leak in pilot.

Because the `EndpointShardsByService` is a map keyyed by hostname. But there is no delete when service and its endpoint deleted

[2019-01-23 07:55] hzxuzhonghu commented on #11180
Both 1.0 and 1.1 have this problem.

[2019-01-23 08:00] igas commented on #6574
Hi @rshriram,

I'm sure it was asked many times but could not find it. Is there are expected date for 1.1 or roadmap somewhere?

Thank you.

[2019-01-23 08:03] elevran opened #11181 "Better load balancing of Envoys across Pilot instances"
**Describe the feature request**

This is in continuation of #7878
Envoys maintain long lived connections to Pilot. In HA scenarios, instances are ready at different times and thus earlier instances receive a disproportionate number of connections. This imbalance is exacerbated during rolling upgrades.
The request is to create a more balanced split of connections between Envoy and Pilots, one that

[2019-01-23 08:07] elevran commented on #7878
@linsun @Stono @morvencao @mandarjog opened #11181 to track enhancement, post release-1.1
@Stono - please consider closing this issue - the original issue is (at least partially) addressed and further work will be done in context of follow up issue.

[2019-01-23 08:52] hzxuzhonghu commented on #11180
/kind bug

[2019-01-23 09:59] Bessonov commented on #7793
Full ack. Furthermore, I can imagine an attribute like `order`.

My use case is to routing to different services, which should have own `VirtualService` configuration, but share same `host`. I can split it just by prefix. Therefore, my suggestion for the first step is just to concatenate routes and don't care about ordering (but wildcard). First match wins. For an absolute control everyone can sta

[2019-01-23 11:30] nixgadget commented on #10904
I certainly have seen this happening as well with `1.1.0-snapshot.4`
Despite of the gateway deployed correctly and running looking at the listening ports `80` is missing.

[code]

[2019-01-23 14:03] robertpanzer commented on #11123
It looks like I can load libnettle dynamically, that should be sufficient for me.

[2019-01-23 14:03] #11123 closed

[2019-01-23 14:19] vadimeisenbergibm commented on #10933
Probably related to https://github.com/istio/istio/issues/11170

[2019-01-23 14:36] jnativio commented on #10904
@GregHanson Thanks for the investigation. I can confirm that I see the same but in my case the problem occurs all the time, like in the case below where 4 out the 5 ingressgateway instances are "dead":

`root@dal10-vsi1:/mount/may# /mount/istio_regpatrol/istio-1.1.0-snapshot.4/bin/istioctl proxy-status
Warning! error execing into istio-pilot-684c86bdfd-5vjhm/istio-system discovery container: gc 1

[2019-01-23 15:02] jakubbujny opened #11189 "Istio sidecar crash when running in one POD with Envoy gateway"
**Describe the bug**
We use Envoy proxy as a gateway for microservices. When sidecar is injected to gateway POD, envoy sidecar crash with following error:

[code]

**Expected behavior**
I want to run 2 Envoy proxies in one POD - istio sidecar shouldn't crash

**Steps to reproduce the bug**
Run istio sidecar and regular Enovy within one POD

**Version**
Kubernetes: v1.11.5-eks-6bad6d
Istio: 1.0.5

[2019-01-23 15:38] dotLou commented on #10832
Not sure if this helps at all, but I ran this and then re-ran it again with the following added:

[code]

The end result of this was _interesting_. You could actually see the `server` receive the connection, but then as soon as the client tries to send any data at all, the connection gets severed. So it at least proxies to the service after the initial TCP handshake, but then it's non-functional.

[2019-01-23 15:54] GregHanson commented on #10933
@rshriram @kyessenov may also be related to https://github.com/istio/istio/issues/10904
Seems to be something odd going on with RDS sync's.  In the 10904, an occasional ingressgateway won't receive RDS configs from pilot
[code]

[2019-01-23 16:03] erikparienty commented on #11120
So i am working with EKS so today i open a support ticket and they asked me to update cni to 1.3.1
so I did it and now istio not working at all
all the servers ingress are outofservice

[2019-01-23 16:09] rcernich commented on #8772
I've created a [PR in the tools project](istio/tools#37) with a tool to generate `types.go` and `register.go`, which wrap Istio types.  The [PR for the api project](istio/api#764) contains the generated k8s apis, including client sets, informers and listers.

There may be some tweaking needed in the builder for the api project (specifically, a new protoc builder image needs to be pushed and integr

[2019-01-23 16:27] dotLou commented on #10832
For what it's worth, this was also tried in a cluster where istio was installed with the helm chart, and `global.mtls.enabled` set to the default of `false` and the same behaviour was observed as the original issue. 🤔

[2019-01-23 16:38] sdake commented on #11145
@duderino
This has been fixed in master and is a real irritation for service entries.  Can we get a backport approved?

Cheers
-steve

[2019-01-23 17:11] douglas-reid commented on #10393
@zhu0516123 as soon as the PRs are approved, they can be merged.

[2019-01-23 17:11] janosi commented on #7521
@ijsnellf I would like to understand, is it really so, that other proxy cannot integrate with Istio? Is Envoy a mandatory component as proxy? If other proxy can be integrated with Istio, can we say that SCTP support in Istio is independent from the same feature in Envoy? I.e. Istio could support "SCTP" as protocol value on the API to the proxy - no matter which proxy it is. Thank you!

[2019-01-23 17:28] suryadu commented on #8938
I think we need to do some more analysis in the concurrency as our results on Cloud native end to end workload are here
![image](https://user-images.githubusercontent.com/13684010/51625144-10935f00-1f02-11e9-90c2-bc677590c007.png)

[2019-01-23 17:29] suryadu commented on #8938
As seen in the chart, with 1 worker threads, we do see less sidecar CPU. we need to do more tests

[2019-01-23 18:05] GregHanson commented on #10904
@mandarjog please observe my steps in https://github.com/istio/istio/issues/10904#issuecomment-456605277

[2019-01-23 18:51] XBeg9 commented on #11140
Have the same issue here, envoy proxy intercepts my request to Redis and says it's not implementing AUTH command. I found that [Envoy Redis](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/redis#arch-overview-redis) is not implementing `AUTH`. Do you have any ideas how to fix that?

[2019-01-23 18:54] duderino commented on #11059
@incfly are you planning on working on this?

[2019-01-23 18:55] geeknoid commented on #11151
What's the motivation to turn off batching completely?

The design intent was always to break up a batch on the client if deletion were necessary. This would seem to me as the lowest impact change, rather than messing with the wire-protocol and potentially introduce some upgrade challenges (when a V1.1 proxy sends stuff to a V1.0 Mixer during an upgrade cycle).

[2019-01-23 19:07] venilnoronha commented on #11140
@XBeg9 this needs to be fixed in the Redis filter implementation in Envoy. See https://github.com/envoyproxy/envoy/tree/master/source/extensions/filters/network/redis_proxy. As a workaround, you should be able to connect to Redis by replacing the `redis-` prefix in the service port name with something else.

[2019-01-23 19:11] alexburnos opened #11198 "pilot-agent processes Envoy bootstrap template passed via templateFile differently than the default one"
**Describe the bug**
When templateFile is provided to the pilot-agent, it does some processing and writes out a custom config file for Envoy (https://github.com/istio/istio/blob/247e36f89c4fc08433cd67c54cb19dd3f98a09fc/pilot/cmd/pilot-agent/main.go#L268).

This effectively stops further processing of the template by bootstrap_config module and customConfigFile is being treated "as is". Which is in

[2019-01-23 19:14] kyessenov commented on #11198
FYI this flag was added to support internal istio sidecars (pilot and mixer envoy sidecars).
I agree that the app-specific template and control-plane specific templates should in theory be merged but they serve different purpose.

[2019-01-23 19:17] ayj commented on #10975
fixed by https://github.com/istio/istio/pull/10976

[2019-01-23 19:17] #10975 closed

[2019-01-23 19:57] mandarjog commented on #10904
@GregHanson @jnativio can you guys upload logs from pilot, galley and ingress gateways ?

[2019-01-23 19:58] kramvan1 opened #11202 "Missing namespace definition for Bookinfo samples"
**Describe the bug**
Resource in kube that are namespace specific should specify the namespace in the resource definition.

**Expected behavior**
Bookinfo resources have namespace defined, even pull from chart value if wanted.

**Steps to reproduce the bug**

**Version**
1.0.5

**Installation**

**Environment**

**Cluster state**

[2019-01-23 19:58] kramvan1 commented on #11202
@linsun

[2019-01-23 20:13] GregHanson commented on #10904
@mandarjog here are the logs:
https://gist.github.com/GregHanson/0ff0ab351db063175429448e72aaedef

[2019-01-23 20:53] esnible commented on #10500
@linsun @costinm I verified the legacy ingress can be enabled using `--set ingress.enabled=true` as an option to `helm template install/kubernetes/helm/istio`.  The ingress starts and gets a public IP.

The first problem I noticed is that the `istio` ConfigMap has the wrong value: `ingressService: istio-`.  It should be `ingressService: istio-ingress`.  I have a one-line PR to fix that.  If that i

[2019-01-23 21:12] vhosakot commented on #10721
I'm following https://istio.io/docs/setup/kubernetes/sidecar-injection/#manual-sidecar-injection and see the same error. @coolboi567 How did you resolve this error? All the istio pods are up and running.

[code]
Versions:
[code]

[2019-01-23 21:31] douglas-reid commented on #11151
@geeknoid the issues that may arise are that the ordering of the reporting could have a large impact on number of requests sent to Mixer and there may be a fair amount of additional logic that has to be added to detect and handle batch segregation client-side. If the compression logic was removed for perf reasons, we may end up regressing with the intro of new batch separation logic (and return to

[2019-01-23 21:39] johngmyers opened #11203 "Incorrect/misleading documentation of gateways field of VirtualService CRD"
**Describe the bug**
The sentence "To apply the rules to both gateways and sidecars, specify `mesh` as one of the gateway names." in the documentation of the gateways field of VirtualService is incorrect. Specifying `mesh` as one of the gateway names does not in fact apply the rules to both gateways and sidecars; it only applies them to sidecars.

**Expected behavior**
Parsing the sentence with st

[2019-01-23 22:05] nitishm opened #11205 "Istio sidecar injection not working with pod annotation set to true and namespace label set to disabled"
**Describe the bug**
The automatic sidecar injection fails to inject the istio-proxy sidecar in to the sleep pod with the `default` namespaces labeled with `istio-injection=disabled` and the pod template spec annotated with `sidecar.istio.io/inject: "true"`.

**Expected behavior**
According to the truth table in https://istio.io/help/ops/setup/injection/#the-result-of-sidecar-injection-was-not-wha

[2019-01-23 22:09] nixgadget commented on #10904
Just killing the pilot may not be sufficient as I found out that the ingress gateway needed to be killed as well.

For me this seems to be happening every time the `gateway` config is published.

[2019-01-23 22:45] PiotrSikora commented on #8938
@rvansa @suryadu yes, ultimately, this is a trade-off between latency vs CPU and memory usage, and no default will be perfect for all the use cases.

The main reasons for drastically lowering the default number of worker threads are:
- lower sidecar's total memory usage, since there is a non-zero memory overhead per thread, though it has been significantly reduced in the past few months (see: #791

[2019-01-23 22:55] nixgadget commented on #11140
@venilnoronha any documentation around the redis proxy ? Is it https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/redis ?

[2019-01-23 22:59] sdake opened #11210 "PodDisruptionBudget changes result in immutable error"
**Describe the bug**
Applying Istio from release-1.1 branch, then modifying spec.minAvailable to 2 results in an apply error.

**Expected behavior**
No error.

**Steps to reproduce the bug**
Apply release-1.1 manifest.
Hand modify a release 1.1 manifest PodDisruptionBudget minAvailable from 1 to 2 in any of the PDBs.
Apply the new manifest.
Error occurs.

**Version**
release-1.1 branch

**Installa

[2019-01-23 23:00] sdake commented on #11210
This will make upgrading a z stream (x.y.z) (i.e. 1.1.0 to 1.1.1) impossible to update the PDB for any service.

Not sure if it is necessary to make such a change but it seems problematic.

[2019-01-23 23:03] sdake commented on #11210
Added in commit: e788fe2d

[2019-01-23 23:04] sdake commented on #11210
PR that introduced the change: https://github.com/istio/istio/pull/9957

[2019-01-23 23:30] alexburnos commented on #11198
As a simple, non-intrusive workaround, proposing PR #11211. Whether we want to implement more scaleable solution - I'll leave to Istio maintainers to comment.

[2019-01-23 23:32] venilnoronha commented on #11140
Then there is

https://www.envoyproxy.io/docs/envoy/latest/configuration/network_filters/redis_proxy_filter#config-network-filters-redis-proxy

and

https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/redis_proxy/v2/redis_proxy.proto#envoy-api-msg-config-filter-network-redis-proxy-v2-redisproxy.

[2019-01-24 00:16] liminw commented on #10873
@robertpanzer If the goal of using denier rule here is to provide security, instead of using source.workload.uid, we recommend to use source.principal (i.e., source service account). The reason is that source.principal (i.e., source service account) is strongly authenticated through mTLS, but source.workload.uid is not. source.workload.uid is ok to use for network routing/segmentation purpose, but

[2019-01-24 02:43] hzxuzhonghu commented on #9929
This should be fixed by @nmittler

[2019-01-24 02:43] #9929 closed

[2019-01-24 03:38] exiaohao commented on #11178
@costinm @baodongli

[2019-01-24 03:38] hzxuzhonghu commented on #11205
This is the expected behavior,.

Three stuff influence the sidecar inject.  You should look at the chart carefully.

https://preliminary.istio.io/help/ops/setup/injection/

[2019-01-24 03:57] nitishm commented on #11205
In that case I am little confused. How can I get this working on a per pod basis ? What knobs do I need to turn ?

I'd appreciate it if you could help me with this.

[2019-01-24 04:40] incfly commented on #11059
I can help with investigation with @esnible  and will try to identify the root cause first.

[2019-01-24 05:15] SrinivReddy commented on #9117
@MrTrustor  , Did you configure mesh expansion on RHEL/CesntOS ?

[2019-01-24 05:33] idarvind commented on #7640
Check if gateway and virtual services created, if not then create it and then try to access the bookinfo app
[code]
[code]

Now try to access the http:/<istio-ingress IP>productpage

[2019-01-24 06:10] pangsq commented on #4941
Adding an env `WLP_OUTPUT_DIR=/opt/output` fix the problem on my k8s.

- os: centos7.2
- kubernetes: v1.12.2
- docker: 18.09.0, overlay2

The deployment is now like:
[code]

[2019-01-24 07:51] ymesika opened #11221 "Mesh networks config modifications don't propagate"
Having a setup of Multi-cluster with Mesh networks configured in the Istio config map.
Modify the address/port of the network gateway within the deployed config map and examine updated pushed EDS configuration in one of sidecars.

While Pilot's log shows that the changes were detected and configmap reloaded, the initial network gateway values are still being pushed while expecting the new values t

[2019-01-24 07:55] LzyRapx commented on #10335
### **update. solved.**

[2019-01-24 09:03] MrTrustor commented on #9117
Yes. I've been working with the istio team at Google, along with the RedHat team.
We have a working prototype for now (I'll let the istio team decide if they want to share it). Producing a production-ready RPM as part of the release process is currently being worked on.

[2019-01-24 09:13] derbeneviv commented on #6984
Hello! Found this issue and guess it's most suitable to ask here.

task is marked as 'done' here but i can't find a proper syntax on how to implement this in configuration in istio 1.1.
Is this released at least i some kind of dev release? What is the syntax, if yes?

[2019-01-24 09:16] SrinivReddy commented on #9117
@MrTrustor , Great, how soon we expect a release or pre-release..?

[2019-01-24 09:19] MrTrustor commented on #9117
Probably sometime this spring, but I don't have a specific schedule.

[2019-01-24 09:37] DhirendraMaurya opened #11223 "How to log mongodb query request in istio-proxy ? Scenario i have deployed mongodb and webserver in 2 different pods , these 2 services running along with istio-proxy ? Any help would be appricited ??"
**Describe the bug**
{{ Succinctly describe the bug }}

**Expected behavior**
{{ What did you expect to happen? }}

**Steps to reproduce the bug**
{{ Minimal steps to reproduce the behavior }}

**Version**
{{ What version of Istio and Kubernetes are you using? Use `istioctl version` and `kubectl version` }}

**Installation**
{{ Please describe how Istio was installed }}

**Environment**
{{ Which e

[2019-01-24 09:48] knrc commented on #9117
@MrTrustor If you want to share your work with us then we can help, we already publish CentOS RPMs via copr with containers based on those to dockerhub as well as push RHEL based containers to our public repo.

[2019-01-24 09:55] hzxuzhonghu commented on #9655
as no seeing again

[2019-01-24 09:55] #9655 closed

[2019-01-24 11:11] PhilipGough opened #11226 "Compilation errors when using test package in istio 1.1.x"
**Describe the bug**
We have an existing out-of-process adapter which currently, has a dependency on istio `1.0.5` in `Gopkg.toml`. The code uses istio's built in framework for integration testing.

Attempting to upgrade the dependency to any of the 1.1.x releases or branch and running the same integration test results in compilation errors:

[code]

No other direct dependencies (or sub-deps from

[2019-01-24 11:35] sdake commented on #11210
Thanks, @linsun for finding the Kubernetes issue.  Since the issue has been open for about 20 months with no movement, we should probably revert the PDB patch if we intend to update the 1.1 release of Istio.  We won't be implementing multiple namespace upgrades in 1.1, so we need an in-place z stream upgrade path.

Cheers
-steve

[2019-01-24 11:41] erikparienty commented on #11120
This morning i cam back and the istio is back to work nothing was changed
but still the elasticsearch disconnect from each other
the istio-proxy (sidecar) logs show in loop

[2019-01-24T11:39:46.608Z] - 748 8522 12935 "127.0.0.1:9300" inbound|9300||elasticsearch-master.elk.svc.cluster.local 127.0.0.1:54544 10.3.27.133:9300 10.3.37.7:37144
[2019-01-24T11:39:44.645Z] - 11238 126 14898 "127.0.0.1:930

[2019-01-24 12:05] PhilipGough commented on #11226
Looks like a breaking change here https://github.com/istio/istio/pull/10628

[2019-01-24 12:31] MrTrustor commented on #9117
@knrc you are still talking about those packages, right? https://copr.fedorainfracloud.org/coprs/g/maistra/istio/packages/
If so, I can probably test them again in the next 2 weeks and will report back after that.

[2019-01-24 12:38] SrinivReddy commented on #9117
@MrTrustor, I am also facing same issue with envoy binary

earlier you mention below points about envoy binary

1)the one from the Debian package doesn't work because of a wrong libc version
2) the one from the package you linked earlier in this issue doesn't work because it doesn't have the --allow-unknown-fields flag.
3) the one we extracted from a Docker image doesn't work for the same reason.

[2019-01-24 12:44] hzxuzhonghu commented on #11226
It is likely caused by k8s.io/client-go upgrade

[2019-01-24 12:48] PhilipGough commented on #11226
Well, the Gopkg.toml references branch names of its own dependencies. [client-go](https://github.com/istio/istio/blob/release-1.1/Gopkg.toml#L52) for example. So it's not really surprising this is broken.

That method works fine for istio itself since it uses a lock file and vendors but for external code that depends on istio, this is a major problem.

[2019-01-24 12:48] dacappo commented on #10875
We are running in the same problem and cluster behaviour when setting the `server_name` within the Istio gateway.

[2019-01-24 13:16] morvencao commented on #11146
@ayj @rshriram @louiscryan  I wonder if this is getting any focus in Istio v1.1. Some users intent to take Istio into production ending up with a very overloaded pilot, they really want the multi-tenant support to accomplish resources isolation.

[2019-01-24 13:32] PhilipGough commented on #11226
@kyessenov pinging you just fyi. Anyone who attempts to start an OOP adapter currently based off 1.1 will hit this. Is it intended that this path is supported? If so, maybe worth linking to this workaround.

[2019-01-24 14:08] Bessonov commented on #8443
Have same issue with [stable/redis](https://github.com/helm/charts/tree/master/stable/redis) chart. Lets summarize issues together.

The issue https://github.com/istio/old_issues_repo/issues/316 propose 3 ways:
1. [Set securityContext to false](https://github.com/istio/old_issues_repo/issues/316#issuecomment-449626408), which is worked for me, but well, that's not great.
2. [To run as root](https:

[2019-01-24 14:33] yaman commented on #10053
@diemtvu & @costinm Istio is great for a lot of things but is not ready for production use if we can not run Cassandra/Kafka/Zookeeper/NameYourDistributedDataStuff. We have been struggling with istio transition for a while, and could not be able to deploy Cassandra in any way. I will try taking cassandra out of mesh and see if I can access it within mesh, while diminishing the benefits of istio an

[2019-01-24 14:50] linsun commented on #11210
or ask users not to modify the  spec.minAvailable?

I am not seeing this problem with our cross_upgrade test result, FYI, @sdake so in think in general upgrade does work.  cc @ostromart @hklai

[2019-01-24 15:14] slega commented on #8603
The same here (see the log below), did anybody know how to fix this?

`I0124 18:09:29.470703    2355 request.go:942] Request Body: {"apiVersion":"networking.istio.io/v1alpha3","kind":"VirtualService","metadata":{"name":"my-wiki-rule","namespace":"default"},"spec":{"hosts":["wikipedia.org"],"http":[{"route":[{"destination":{"host":"wikipedia.org"}}],"timeout":"5s"}]}}
I0124 18:09:29.470737    2355

[2019-01-24 15:21] costinm commented on #11198
I don't see any reason mixer sidecar wouldn't work if full template is supported - or needs a special case in agent. Pilot sidecar is on its way out, galley is not using a sidecar either.

Let's not add more complexity and ifs...

[2019-01-24 15:40] MrTrustor commented on #9117
@SrinivReddy you can try [this RPM](https://storage.googleapis.com/theochamley-share/istio-sidecar.rpm). This is our PoC. It comes with all the warnings you can expect: it's not supported, I don't guarantee that it will work, etc., etc.

[2019-01-24 15:43] linsun commented on #10904
looking at the logs I saw an error connecting to MCP:

```2019-01-23T17:26:12.660128Z error mcp Failed to create a new MCP stream: rpc error: code = Unavailable desc = all SubConns are in TransientFailure, latest connection error: connection error: desc = "transport: Error while dialing dial tcp 172.21.52.14:9901: connect: connection timed out"```

[2019-01-24 15:45] amishra1982 commented on #7479
Any updates on this? We would like to not restart pods

[2019-01-24 16:00] linsun commented on #10500
@mandarjog @costinm @rshriram @louiscryan @frankbu @andraxylia do you see any value to continue support istio's old ingress in v1.1?  We already given user a grace period (which is istio v1.0) to either transition to the new istio gateway or continue using their existing ingress controller (e.g. nginx).

I don't... I don't think user will be using istio's old ingress regardless.  I had thought it

[2019-01-24 16:33] esnible commented on #11059
@incfly unexpected results when testing.

I first installed Istio using _helm_ and `--set global.mtls.enabled=true`.  I then installed Bookinfo.

Before I turned on permissive for reviews I needed TLS, which I verified with _curl_:

[code]

I then attempted to make the service permissive:

[code]

After that, I found the service only worked with plaintext.  I repeated the above kubectl exec / curl

[2019-01-24 16:49] yaman commented on #10053
@mabushey

Thanks for the info. I am already running multiple namespaces for multiple environments, and istio already brings tons of complexity anyway, the last thing I would like to add more *pseudo*-namespaces just for istio-cassandra sake. I am seriously thinking to move back to good old days of nginx ingress world.

I am using incubator/cassandra helm chart. By default *clusterIP: None* and *s

[2019-01-24 17:12] nitishm commented on #11205
@hzxuzhonghu I did figure it out but I had to modify the `istio-sidecar-injector` **configmap** by setting the `default` policy to `disabled` and also modify the `istio-sidecar-injector` **mutatingwebhookconfiguration** to the right _namespaceSelector_.

In my case, I set it to, _(depends on how you want the namespaceSelector to return true. In my case I want it to return true if it the label is s

[2019-01-24 17:12] #11205 closed

[2019-01-24 17:24] jacob-koren-zooz opened #11233 "Tracing issue | spans are not correlated as expected"
**Describe the bug**
Spans in a trace are not correlated as expected

**Expected behavior**
We installed istio 1.0.5 on k8s cluster with tracing enabled, and deployed the bookInfo example from the samples folder.
We exposed "productpage" service on the ingress-gw and made requests.
On jaeger UI we see the following hierarchy:
![image](https://user-images.githubusercontent.com/16208244/51695354-89c

[2019-01-24 17:50] vbuciuc commented on #8526
Looking at the code, there is no counter per "Cartesian product of all quota dimensions" (what does that even mean?) but rather one counter per quota template + a separate counter for each dimension override in the handler definition (not really, since only keys are used to build the hash for the counter name so I see a possibility that two overrides of the same dimension might conflict as well).

[2019-01-24 17:55] TimBozeman commented on #8772
Links <3
[PR for the tools project](https://github.com/istio/tools/pull/37).
[PR for the api project](https://github.com/istio/api/pull/764).

[2019-01-24 18:05] chrisob commented on #10883
I'm also hitting this error.

Pretty sure the bug is [in the ClusterRole here](https://github.com/istio/istio/blob/fc03e9f2a8f99ebb04cd4c0366edae8a9b9cc9b4/install/kubernetes/helm/subcharts/security/templates/create-custom-resources-job.yaml#L32-L34), which specifies the `extentions` apiGroup, but not the `apps` apiGroup.

As of k8s v1.9, [`extensions` is deprecated in favor of `apps`](https://git

[2019-01-24 18:48] wattli opened #11235 "Support http 1.0 traffic in Istio"

[2019-01-24 18:55] incfly commented on #4794
/cc @incfly

[2019-01-24 18:57] kyessenov commented on #11198
@alexburnos The internal envoy does not use pilot. So there's a significant difference between bootstraps. It only needs certificates (using file rotation or SDS), and also wires telemetry differently for telemetry sidecar. I wouldn't worry about merging the internal bootstrap with the app bootstrap, and leave the internal one as a special case. There are plans to replace it with direct gRPC libra

[2019-01-24 18:58] jeffmendoza commented on #10785
Things we need:

* #10834 So callout config can be specified
* #11068 Auth to be used for callout
* #11040 Actual MCP source client code.

Then we can have code to do the actual callout.

[2019-01-24 19:00] yangminzhu commented on #6984
@derbeneviv Please take a look at the 1.1 doc: https://preliminary.istio.io/docs/tasks/security/rbac-groups/

[2019-01-24 19:11] mbanikazemi commented on #9685
/cc @sdake @linsun

[2019-01-24 19:15] liminw opened #11236 "Document trust level and produced source for Istio attributes"
We should provide clear documentation on Istio attributes' trust level, and how they are produced.

Some example:
[code]

[2019-01-24 19:19] liminw commented on #11236
@geeknoid @mandarjog @wenchenglu @diemtvu @yangminzhu @incfly

[2019-01-24 19:30] johngmyers commented on #11203
That would work. Or "To apply the rules to both gateways and sidecars, specify the desired gateways and `mesh` as the gateway names."

[2019-01-24 19:36] linsun commented on #10313
This issue was discussed briefly in today's istio user community call.  @GregHanson mentioned each port should have a unique port name  they are all currently called “http”.

would be great to retry with unique port name.

[2019-01-24 19:36] zhqworld opened #11240 "tcp ingress port not listening"
**Describe the bug**
Creating a gateway for ingress to accept TCP has no result, ingress not listening on new ports.
(If I switch the protocol from TCP to HTTP then ingress will take it and listening on those ports)

**Expected behavior**
ingress should listen on new TCP ports

**Steps to reproduce the bug**
1. create a gateway with tcp ports:
[code]

2. check ingress port:
istioctl -n istio-syste

[2019-01-24 19:41] GregHanson commented on #10313
A few things just looking at the config:
- all ports have the same name "http", each port should have a unique names such as `http-fortio1`, `http-fortio2`, etc. I know this is a requirement for apps/services and seems like you might get into trouble with duplicate names. Port naming conventions can be found here: https://istio.io/docs/setup/kubernetes/spec-requirements/
- it is generally expected

[2019-01-24 19:41] GregHanson commented on #10313
@amyroh ^^

[2019-01-24 19:54] objectiser commented on #11233
I don't think it can be done currently through configuration - hence my PR to try to get it disabled by default. If that PR is accepted, we can look at getting it applied to the 1.0 branch.

Are you able to build the master version, or the 1.0 branch, with the same fix from #11232 to see if it fixes your problem?

[2019-01-24 20:03] objectiser commented on #11233
Actually, just checked the 1.0.5 distribution, and found `./tools/deb/envoy_bootstrap_v2.json` - so might be possible to manually add the `trace_id_128bit` and `shared_span_context` values. However I will need to check and see whether the `shared_span_context` flag is supported in the envoy proxy version used by 1.0.5.

I'll give it a try tomorrow - but feel free to try it out and let me know.

[2019-01-24 20:03] #10524 closed

[2019-01-24 20:08] esnible opened #11241 "Allow Root CA and Citadel on same cluster"
In Multimesh Istio it is not possible to run the Root CA and regular Citadel in the same cluster.

This is because _/usr/local/bin/istio_ca_ always watches and attempts to create secrets for ServiceAccounts.  If the Root CA and Citadel are both attempting to create and renew secrets then there will be a race.  Only the non-Root CA should renew secrets.

I propose the Citadel image should not call

[2019-01-24 20:57] amyroh commented on #10313
@GregHanson  @linsun Thanks for your input.  I think there is still an issue with merge logic for Gateways.  I tried the following Gateways with different hosts and http port names and still all these urls are accessible?

http://test1.com:80/hello1
http://test1.com:81/hello2
http://test1.com:82/hello3
http://test2.com:80/hello1
http://test2.com:81/hello2
http://test2.com:82/hello3
http://test3.co

[2019-01-24 21:11] linsun opened #11244 "Unable to get kiali pod up running with demo profile"
grabbed latest 01/24's build, installed istio-demo.yaml.  Kiali pod stucks in container config error as below.

[code]

[2019-01-24 21:19] tcnghia commented on #11001
We also run into this issue.  Without some readiness probes, new gateway pods are added into the Endpoints as soon as they are up and running and not necessarily ready to receive requests.

/cc @andraxylia

[2019-01-24 21:53] jmazzitelli commented on #11244
[code]

As [per the Istio docs](https://istio.io/docs/tasks/telemetry/kiali/#before-you-begin), you have to create the Kiali secret first. The Istio team asked that we NOT provide a default secret or default credentials in the helm charts for security purposes; the user must create one prior to installing Kiali.

[2019-01-24 22:01] tcnghia commented on #6146
@linsun can you explain how #10330 will solve this?  Thanks

[2019-01-24 22:37] incfly opened #11246 "Authn policy without port selector not configure TCP port"
**Expected behavior**
All ports declared in the container

**Steps to reproduce the bug**
Configure a service with authn policy as

[code]

**Version**
1.1 head version.

**Environment**
GKE

[2019-01-24 22:44] mandarjog opened #11247 "Istio value defaults should be performant"
Many potential istio users test istio with default configuration for performance.

The default configuration must have a reasonable performance.
1. request enough cpu for control plane
2. disable access logs on Mixer
3. disable access logging on istio-proxy
4. perhaps disable istio-policy ?

[2019-01-24 22:44] mandarjog commented on #11247
cc @jnativio @suryadu

[2019-01-24 22:46] incfly commented on #11246
Actually I found it's not related to TCP. After putting that in service's port declaration, the TLS is configured correctly...

[2019-01-24 22:46] #11246 closed

[2019-01-25 00:13] hklai commented on #11023
@douglas-reid are you talking about https://github.com/istio/istio/blob/master/install/kubernetes/helm/subcharts/prometheus/templates/tests/test-prometheus-connection.yaml?

It was added byhttps://github.com/istio/istio/pull/10623.
cc @morvencao and @linsun

[2019-01-25 00:41] iandyh commented on #11001
@tcnghia Are you using ipvs or iptables mode in kubeproxy?

[2019-01-25 01:01] myidpt opened #11250 "Support migration from legacy secret volume mount to SDS"
**Describe the feature request**
In Istio security, we need to support the gradual migration from the legacy secret volume mount to SDS.

**Describe alternatives you've considered**
No.

**Additional context**
The design doc will be shared out.

[2019-01-25 01:33] bianpengyuan commented on #4794
The test is passing in my test environment. We should try to re-enable the test.

[2019-01-25 01:49] hzxuzhonghu commented on #10883
@chrisob I want to say is that, kubectl only access extensions group at least until now latest version.

[2019-01-25 02:13] kyessenov commented on #11226
Thanks for letting us know. We did not have strong guarantees on updates of mixer's test framework. However, it is certainly true that it's being used for out-of-process adapter development. I think the step forward for us is to isolate the test framework into something less dependent on the rest of istio. That way accidental dependency updates in istio are not going to break adapter developers.

[2019-01-25 02:13] mandarjog opened #11254 "istio 1.1 Egress / Ingress gateway use excessive memory"
version: release-1.1-20190123-09-16
In a large setup (400 services) with no egress configuration defined, egress proxy uses `200MB` memory.

[code]
The configuration at egress gateway contained only 1 listener, (2 static routes) and 1077 clusters.
When nothing is bound to the egressgateway, it should use minimal memory.

As seen from the `kubectl top` report, ingressgateway faces the same issue.

[2019-01-25 02:14] mandarjog commented on #11254
cc @louiscryan @rshriram @costinm

[2019-01-25 02:15] ayj commented on #11158
https://github.com/istio/istio/pull/11167 has been merged which should fix the goroutine leak. I've run a 24+ hour test in the scale cluster (w/400 services + config churn) in addition to scaling pilot replicas up and down between 10 and 100 to check for resource leaks in Galley. The memory usage has been hovering around few hundred MB. Restarting pods (mixer maybe?) could trigger this leak.

FWIW

[2019-01-25 02:15] kyessenov commented on #11254
Envoy requests CDS in aggregate. This is probably an issue in pilot to filter clusters by use.

[2019-01-25 02:20] ayj commented on #11158
@hzxuzhonghu, can you confirm whether or not mixer/pilot pods have been restarted at all when you observed this problem? #11167 has been merged into the 1.1 release branch and may be worth testing. Additionally, if you can reproduce the problem, could you enable galley pprof profiling (add --enableProfilingflag) and capture pprof profiles for memory and goroutines? e.g.

[code]

[2019-01-25 03:07] yangminzhu commented on #11058
/cc @yangminzhu

[2019-01-25 03:30] linsun commented on #6146
because a mesh config param is added via remove deprecated from OutboundTrafficPolicy. REGISTRY_ONLY and ALLOW_ALL #744 (linked from #10330) that will enable users to configure this allow_all easily.

[2019-01-25 03:33] linsun commented on #11244
I see, but that is an odd experience for quick install path as user will be looking at pods reach running before even getting to the kiali doc in telemetry section.

[2019-01-25 03:35] piaoyu opened #11260 "mixer: enforce type discipline for attribute values cause panic Unknown map type []"
**Describe the bug**
[code]
#10260

**Expected behavior**
panic: Unknown map type []uint8
goroutine 2342 [running]:
istio.io/istio/mixer/pkg/il.MapGet(0x1a9c220, 0xc420dbf720, 0xc421aadad7, 0x7, 0xc420dbf720, 0x1, 0xc4227c3800)
	/home/root/gopath/src/istio.io/istio/mixer/pkg/il/types.go:99 +0x149
istio.io/istio/mixer/pkg/il/interpreter.(*Interpreter).run(0xc421b2ac20, 0xc420d52810, 0x20a33e0, 0xc4

[2019-01-25 03:47] vadimeisenbergibm commented on #10933
With istio-release-1.1-20190124-09-17, all the pods except for gateways have RDS synced.

[2019-01-25 03:49] hzxuzhonghu commented on #10933
I think it is expected. For gateways, rds will be pushed only when virtualservice selected .

[2019-01-25 03:56] clyang82 commented on #11244
Yes. that is not a good experience. I remembered there is the same issue raised before. but it is closed.

since kiali v0.11, the authentication can be disabled. so we can consider to upgrade to v0.13 then kiali is not required to create secret anymore. just anonymous login allowed.  refer to https://issues.jboss.org/browse/KIALI-1958?_sscc=t

[2019-01-25 04:01] kyessenov commented on #11260
Can you provide more context? Which attribute is causing this and what
value is used? Looks like an array of IP addresses.

On Thu, Jan 24, 2019, 7:36 PM piaoyu <notifications@github.com wrote:

[2019-01-25 04:01] vadimeisenbergibm commented on #10933
@hzxuzhonghu I see. So it seems everything works as expected now, even after deleting pilot pods. Once I define a VirtualService on egress gateway, it is synced too:

istioctl proxy-status
2019-01-25T03:58:31.489235Z	info	Channelz: socket options are not supported on non-linux os and appengine.
Warning! error execing into istio-pilot-54b8685584-qqvz9/istio-system discovery container: gc 1 @0.015s

[2019-01-25 04:01] #10933 closed

[2019-01-25 04:03] clyang82 opened #11261 "ServiceRole and ServiceRoleBinding"
Refer to this document: https://preliminary.istio.io/docs/reference/config/authorization/istio.rbac.v1alpha1/. it allows Istio RBAC (Role Based Access Control) for service level. I have tried with bookinfo as an example. but the results is not desired.

Here is my test yaml
[code]

the result is that i can browse the productpage from the browser, but cannot see the details and ratings. my expected

[2019-01-25 04:19] morvencao commented on #11146
Great! That really helps a lot.

[2019-01-25 04:46] sdake commented on #11244
Istio should be secure by default.  I believe this should be true for cases of istio-demo.yaml as well.  I don't have any good solutions for setting credentials during a quick installation path.  I agree seeing an error is not intuitive.

Unfortunately, we can't pass the password via values.yaml (because `helm get values` can return the creds).  This is why we reference it via a secret.  Perhaps a

[2019-01-25 04:50] sdake commented on #11241
@esnible - can you share your workflow for creating intermediate certificates?  My understanding is that an operator creates root certificates - then generates intermediate certificates- then registers via --self-signed=false in all cases.  There is no need for a "root ca" - instead the root CA is simply the certificate that is used to create new intermediate certificates for new clusters.

Is thi

[2019-01-25 04:54] sdake commented on #11210
@linsun if we want to hardcode the values, that seems fine - but currently they are not hardcoded.  cross-upgrade won't test this scenario.  What we need in addition is a check that modifies all KV pairs from one value to another, and applies the same manifest (IOW a z stream upgrade test where configuration values are changed).

Cheers
-steve

[2019-01-25 05:03] sdake commented on #9951
@mandarjog https://github.com/istio/istio/issues/11210

The PDB spec is completely immutable.  If PDB works well in upgrades, I believe the consensus is the spec values should be hard-coded and not configurable.

[2019-01-25 06:11] mandarjog commented on #11254
I don’t think pilot is filtering any clusters.

[2019-01-25 06:12] iandyh commented on #11001
@hzxuzhonghu One thing needs to be noted: The proxy is running != The proxy is ready to accept the traffic. So I am wondering if port 15020 on pilot-agent can verify it.

IMO, the readiness port should be the ones that are being defined by the `gateway` resources. Since they are dynamic it seems pretty difficult to define at pre-installing state.

[2019-01-25 06:21] ronakpandya7 opened #11262 "Pilot error: "Failed to update lock: Operation cannot be fulfilled on configmaps "istio-ingress-controller-leader-istio""
Hello,

We have istio enabled kubernetes cluster and it is working fine.
But from before some days pilot is giving below errors

[code]
I do not know why it is happening and because of this error our applications are misbehaving.
But when we restart the pilot it works fine.
So how can we solve this error in the pilot.

We google it but did not find any help. We came across [this link](https://gith

[2019-01-25 07:12] hzxuzhonghu commented on #11001
As Istio is eventual consistent, so it is unsure when xDS will be pushed when rules are created. But I believe currently we have perf and scale test @mandarjog   to monitor the latency.

[2019-01-25 07:30] piaoyu commented on #11260
[code]

[2019-01-25 08:15] gelius7 commented on #10535
I hit same issue

[2019-01-25 08:22] iandyh commented on #11001
@hzxuzhonghu The safest approach will be create another deployment with some sort of consistency check to ensure all the Enovys have the right configuration and then point the traffic to this deployment.

[2019-01-25 08:22] caohe opened #11267 "Faild to run Pilot testcase: istio.io/istio/pilot/pkg/proxy/envoy/v2"
### Description:
I'm running Pilot testcases on the Istio source code, master branch at b8e30e07ec7b36cf1ba1b445b78c81fdf0d417b9.

### Env:
[code]

I followed the dev guide to build the environment, except using K8s provided by Docker for Mac instead of Minikube. And I encountered the same problem on Ubuntu 16.04 with Minikube 0.25.1.

### Command:
`make pilot-test`

### Output:
[code]

[2019-01-25 08:37] hzxuzhonghu opened #11268 "Sidecar should support configure the number of worker threads to run"
We guys from Huawei have tested how the [--concurrency](https://www.envoyproxy.io/docs/envoy/latest/operations/cli.html?highlight=concurrency#cmdoption-concurrency) flag influence Envoy performance.

And the result shows that when we configure concurrency the number of cpu cores, it supports the maximum qps and takes up less cpu.

But as we know Envoy in a container can see all cores in host  mach

[2019-01-25 08:55] hzxuzhonghu commented on #11268
/cc @rshriram @costinm @mandarjog @ayj  @ymesika

[2019-01-25 09:50] SrinivReddy commented on #9117
@MrTrustor , Sorry Its working fine, thanks a lot,
1) I am able to connect k8s services, and en=xternal Vm registered with k8s cluster(istioctl proxy-status)
2) But in istio.err.log getting  metadata missing warning.

[ec2-user@ip-xx-xx-xx-xx istio]$ cat istio.err.log
[2019-01-25 08:17:33.596][006119][warning][upstream] [external/envoy/source/common/config/grpc_mux_impl.cc:268] gRPC config stream

[2019-01-25 11:43] jmazzitelli commented on #11244
As @sdake said, Istio standards dictate that we not provide a default, canned username/password, nor allow it to be unsecured by default (this is why we took out the canned "admin" username/password in the latest helm chart - we used to have it but removed it).

I don't see how Kiali can startup and not report an error (remember, it isn't Kiali reporting the error here - it's Kubernetes not being

[2019-01-25 12:06] objectiser commented on #11233
Unfortunately the `shared_span_context` is not supported in the version of envoy being used in `1.0.5`.

[2019-01-25 12:55] sdake opened #11269 "e2e simpletest flaky during deployment of helm charts"
**Describe the bug**
The very first kubectl apply -f of istio-auth.yaml is failing in e2e simpletest run.  This causes the test case to flake out.  This happens 100% of the time on bare metal.  Not sure about in the gate checks, although it happens often enough to warrant correction there.

**Expected behavior**
istio-auth.yaml to be applied without error if possible.

**Steps to reproduce the bug

[2019-01-25 13:06] morvencao commented on #9784
/cc

[2019-01-25 13:48] anandkumarpatel commented on #2010
We have a use case for this. We need to pass all headers to our adapter because we do not know the name of the header value we need to look for during deploy time.

[2019-01-25 13:57] Justin2997 commented on #6962
@mnuttall Having the same problem that was not fixed in the past version?

[2019-01-25 14:25] #11054 closed, assigned to linsun

[2019-01-25 14:30] nmittler commented on #3063
@knrc @duderino is this still targeted for 1.1?

[2019-01-25 14:31] jmazzitelli commented on #11244
FYI: I think we can make these env vars based on secrets optional - and that would allow kiali to still start but present a more user-friendly error message. I read this at https://kubernetes.io/docs/concepts/configuration/secret/

[code]

[2019-01-25 14:36] knrc commented on #3063
@nmittler I'm still expecting it to be for 1.1, we've just updated our openshift integration to support a recent snapshot from the release-1.1 branch so I can now test this works in our environment.  I'll handle it on Monday when I return from my travels.

[2019-01-25 14:36] sdake commented on #11269
https://github.com/istio/istio/pull/11271

[2019-01-25 14:37] sdake commented on #11269
recommend merging into 1.1 release - to speed up development cycles.

[2019-01-25 14:40] linsun commented on #11244
@jmazzitelli would it be reasonable to not provide default secret/credential in helm chart but provide it in the istio-demo.yaml when building that yaml file?  I think that will provide the best experience for users trying istio using the istio-demo.yaml one step install.

[2019-01-25 14:43] jmazzitelli commented on #11244
That would probably be the easiest solution if that would be allowed (having default credentials when installing using the demo.yaml). By "allowed" I mean is that OK with the Istio team to do this?

[2019-01-25 14:46] linsun commented on #11244
(I apologize I entered my comment without refreshing my browser so I missed all your comments :)

Yes, I would be okay with that, demo profile is for demo purpose and not for production, people should know that.  It is targeted to provide the best demo experience for istio, else, I'd vote for not providing the istio-demo.yaml.

I also like this option too...

[2019-01-25 15:06] jmazzitelli commented on #11244
@linsun Let me see if I can get helm to create a default secret and turn that on via a value from the demos values file. Just so I'm clear - we are talking about allowing something like this via helm:

`helm --set kiali.createDefaultSecret=true ...`

where that setting would be on by default in the [values-istio-demo.yaml](https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/va

[2019-01-25 15:08] GregHanson commented on #11267
@caohe unfortunately some of the envoy specific unit tests will fail.  In the `make init` command, a different binary version is dowloaded depending on whether OS version is darwin or linux, see [here](https://github.com/istio/istio/blob/master/bin/init.sh#L96).  Envoy team doesn't release mac builds of every release and as a result, the mac binary is out of date enough that it will complain about

[2019-01-25 15:11] GregHanson commented on #11267
if you are doing development in istio, and want to test a specific package where you have made some changes, you can run `go test ./path/to/modified/dir/...` to test your changes.  If you have made changes that may impact envoy configuration, I personally will spin up a linux VM using VirtualBox to test things.  Another solutions is you could clone envoy and build the mac binary yourself.

[2019-01-25 15:12] nmittler commented on #3063
@knrc sounds good ... thanks for the update!

[2019-01-25 15:16] GregHanson commented on #11267
similarly if you want to build istio images locally for testing, make sure you set the right `GOOS` to that images are built with a linux binary rather than mac:
[code]
you can omit the `docker.push` portion if you are testing locally with minikube and have your env configured to use its docker registry
[code]

[2019-01-25 15:17] GregHanson commented on #11267
@amyroh I know you asked a little about this ^^ in yesterday's community call

[2019-01-25 15:31] MrTrustor commented on #9117
@SrinivReddy I don't think I had this exact error at any point, but try to check the TLS parameters of istio on your VM. That's what caused us the most problems.

[2019-01-25 15:41] SrinivReddy commented on #9117
@MrTrustor , Okay, Can please tell us for which istio version above istio-sidecar.rpm will suitable...?

[2019-01-25 15:48] MrTrustor commented on #9117
It should be OK for 1.0.x.

[2019-01-25 15:55] jmazzitelli commented on #11244
@linsun please review PR #11272 - that should install a secret when using the demo (or demo-auth) yaml. The default credentials will be username=admin and passphrase=admin.

[2019-01-25 16:10] jmazzitelli commented on #11244
OK, this issue with letting kiali start even with a missing secret is easier than I thought. I'll just add the "[optional](https://github.com/kubernetes/kubernetes/blob/e9e190c57c61a88a2ba96c4b0688b8eb3a8945a8/pkg/apis/core/types.go#L1770)" flag on the secret declaration in the Deployment. Kiali can then handle the empty env var to spit out a friendly error msg. This work will be done via https://

[2019-01-25 16:40] linsun commented on #11244
+1 @jmazzitelli thanks, agreed with your plan on the optional flag.  It'd be much easier to use and debug.

[2019-01-25 17:09] caohe commented on #11267
@GregHanson Thanks a lot!

However, I have tried to run pilot test cases on a **Ubuntu** 16.04 VM. And also failed to run the same test cases mentioned above.

Therefore, I guess it may be not caused by the darwin version of envoy binary.

[2019-01-25 17:27] rajdhandus opened #11273 "Mixer Report failed with: UNAVAILABLE:upstream request timeout"
**Describe the bug**
We are seeing the below message in our logs... its happening very frequently.. almost every second..

[libprotobuf ERROR src/istio/mixerclient/report_batch.cc:83] Mixer Report failed with: UNAVAILABLE:upstream request timeout
[libprotobuf ERROR src/istio/mixerclient/report_batch.cc:83] Mixer Report failed with: UNAVAILABLE:upstream request timeout

**Expected behavior**
No suc

[2019-01-25 17:32] ayj commented on #11158
https://github.com/istio/istio/pull/10893 and https://github.com/istio/istio/pull/11167 should address the memory leaks.

Are those health check failure logs from the latest image / tip of release-1.1? That seems to indicate an issue with port reuse which I thought was fixed by https://github.com/istio/istio/pull/10339?

[2019-01-25 18:01] rshriram commented on #11254
You need to apply the Sidecar config to filter the clusters that the gateway is supposed to see. Secondly, not sure if you are using the bootstrap template that @douglas-reid wrote that drops cluster level stats to cut down memory

[2019-01-25 18:09] louiscryan commented on #11032
ping @douglas-reid - can you provide an update ?

[2019-01-25 18:09] louiscryan commented on #11032
@wenchenglu please track

[2019-01-25 18:10] linsun commented on #11032
might be covered by https://github.com/istio/istio/pull/11116, cc @douglas-reid @ymesika

[2019-01-25 18:10] louiscryan commented on #11030
@douglas-reid might be fixed by change from @sdake
please add priority and update status

[2019-01-25 18:11] louiscryan commented on #11029
@esnible please add priority to this

[2019-01-25 18:11] mandarjog commented on #11254
@rshriram This is a build from a few days ago. It *does* include the stats exclusion. Doesn't gateway implicitly know what clusters it needs?  However if  `sidecar` is the only way to get there it is probably ok.

[2019-01-25 18:12] linsun commented on #11029
@esnible that sounds reason, re retry several times.

[2019-01-25 18:15] sdake commented on #11030
A fix for this problem merged in PR: https://github.com/istio/istio/pull/10929.

[2019-01-25 18:20] douglas-reid commented on #11273
Are you still seeing information you expect (metrics, logs, etc.) ?  What is the status of your `istio-telemetry` pods?

[2019-01-25 18:22] sdake commented on #11030
The PR solution waits for tiller to be ready when tiller is in use during deployment in the test cases.  In the case of redis, helm was initialized, but tiller was not ready `Error: could not find a ready tiller pod
`.  The above PR uses `helm version` in a loop to validate that tiller is ready to provide service.

[2019-01-25 18:22] kyessenov commented on #9556
I don't know if this is still an issue.
There was a problem found in mixer's cache that got resolved and may have been causing some unexpected matches.
If the issue is just missing attributes, then using `(destination.labels | emptyStringMap())` could help. I believe `_ | _ ` is recursive right now. We are trying to change the recursive nature, however, so expect some changes to expression languag

[2019-01-25 18:31] kyessenov commented on #11260
The first error seems to be caused by:
`sourceName: source.name | ""`
with `source.name = []uint8{49 50 55 46 48 46 48 46 49}`. This is string "127.0.0.1" in bytes.

The second error seems to be caused by `[]uint8` placed into a string map attribute. Since this is accesslog, there is only `source.labels` and `destination.labels` there.

[2019-01-25 18:31] kamboyer commented on #11273
Hey Doug, appreciate your curiosity.
We haven't lost any metric or log information.
We've bounced istio-telemtry which no affect. We're in the midst of switching mixer to debug logging.

We've been able to pin point the exact time this started to occur, but have failed to correlate any change to the environment any other event which would seem to relate.

[2019-01-25 18:32] kyessenov commented on #11260
I believe there is leakage between attribute values. An IP address is assigned to `source.name` and either `source.labels` or `destination.labels`. Looking further...

[2019-01-25 18:36] kyessenov commented on #11260
@piaoyu Can you give more details if you made change to istio config? Is this a default install? Does this happen randomly?

[2019-01-25 18:40] douglas-reid commented on #11273
@mandarjog @kyessenov @qiwzhang any ideas here?

[2019-01-25 18:42] ostromart commented on #10946
Per offline discussion, we can live without this in 1.0 but it definitely should go into 1.1 sooner rather than later.

[2019-01-25 18:58] ellis-bigelow commented on #11072
Awesome thanks. When can I expect to see this in the GKE Istio Addon?