[2018-12-19 05:39] sdake commented on #5535
@gdoctor read first link in https://github.com/istio/istio/issues/5535#issuecomment-448475486 - it shows how to protect from a restart of pilot.  This mechanism does not protect from a failure of a the main control plane cluster.  1.1 has a (IMO) better architectural approach to solving this problem documented in the second link above.

@rshriram can provide more details.

[2018-12-19 05:43] sdake commented on #6037
@Stono see https://github.com/istio/istio/pull/10562 for how I plan to split out CRDs from the rest of the system.  We actually did implement `crd-install` but as you know, it introduced more problems then it solved.

Cheers
-steve

[2018-12-19 05:44] sdake commented on #4822
this has been released in alpha quality.  If others have additional changes they wish to propose, please file a new issue in the issue tracker.

Cheers
-steve

[2018-12-19 05:44] #4822 closed

[2018-12-19 06:39] zhu0516123 commented on #10393
@mandarjog
I have already sent  goroutine and heap dump of mixer-policy to your gmail, please check it.

[2018-12-19 06:52] sweetib commented on #10337
Thanks

[2018-12-19 07:06] PiotrSikora commented on #10533
Ah, this is kind of blocked on [FilterChain Discovery Service (FDS)](https://github.com/envoyproxy/envoy/issues/4540) and [incremental xDS](https://github.com/envoyproxy/envoy/issues/4991), otherwise each update will require draining of the listener.

[2018-12-19 08:05] dozer47528 commented on #10548
Find the problem, `--set global.proxy.includeIPRanges="10.0.2.0/24\,10.0.12.0/24"`
This ip range was wrong, that's why the router info looks fine, but not work.

[2018-12-19 08:05] #10548 closed

[2018-12-19 08:11] vadimeisenbergibm commented on #10330
A discussion at the Istio users group https://groups.google.com/forum/#!topic/istio-users/J_Ad-wTLjmY

[2018-12-19 08:31] vadimeisenbergibm commented on #10537
@duderino This is OK with me.

[2018-12-19 08:39] vadimeisenbergibm commented on #10515
@duderino Done, assigned P1.

[2018-12-19 08:49] vadimeisenbergibm commented on #10515
@wansuiye So it seems you have two issues:
1. Some pods cannot connect to pilot.
2. Some pods can connect to pilot but cannot connect to an external service.

The problem 2 is a simpler one, so let's debug it first. I propose that you define egress to some public url, e.g. httpbin.org like in https://preliminary.istio.io/docs/tasks/traffic-management/egress/#configuring-istio-external-services, an

[2018-12-19 09:04] GavinLin168 opened #10573 "how client app send https request with certificate to access external https server which already has its own certificate"
Follow https://github.com/jonashackt/spring-boot-rest-clientcertificate and wrote a spring boot https server and client application. Run the client application with istio sidecar inject , istio is "globally enabling mutual TLS"，and run the server in another vm .  I try many ways like config a serviceentry , disable tls , and some other way from https://preliminary.istio.io/docs , while can't find

[2018-12-19 09:06] objectiser commented on #10258
@yurishkuro Agree with your examples.

@mandarjog @douglas-reid At present mixer is a leaf service, so doesn't propagate the trace context any further. Is this possibly going to change in the future? e.g. tracing into adapters?

If not, then might be reasonable to have a noopSpan returned.

[2018-12-19 10:08] VenkateshSrini commented on #10502
Thanks it worked

[2018-12-19 10:08] #10502 closed

[2018-12-19 11:05] devops083 commented on #10488
I am uable to connect pod endpoints

[2018-12-19 11:25] devops083 opened #10576 "unable to access pod endpoint on ExternalVM after service mesh expansion...."
Hi, I have implemented mesh expansion in AWS, after implementing, i am able to resolve services and I tried to access POD endpoint in external VM but unable to telnet and ping.

[2018-12-19 12:10] wansuiye commented on #10515
test the problem 2, it report 404:
[code]

sidecar report:
[code]

the config is set as the wiki:
[code]

the clusters of the proxy:
[code]

the endpoint of the proxy:
[code]

[2018-12-19 12:52] #8093 closed

[2018-12-19 14:00] morvencao commented on #10488
@devops083 Depends on your case, if you just call service on external VM from cluster, you don't need to network connect pods from External VM.

[2018-12-19 14:03] devops083 commented on #10488
@morvencao I want to access application which is running on pod from external VM,    seems like pod endpoints are not acceesible from VM.

[2018-12-19 14:22] lei-tang commented on #10514
This issue is closed because integration tests for authenticating an exchanged token have been added to https://github.com/istio/proxy/pull/2063 under istio/proxy/tree/test/integration.

[2018-12-19 14:22] #10514 closed

[2018-12-19 14:53] vadimeisenbergibm commented on #10515
@wansuiye The listener looks OK, according to the log of the proxy the request was successfully forwarded to 34.238.3.58 which is an IP of httpbin.org. Could it be that you have some firewall that blocks traffic to httpbin.org? Can you run the same curl command from the proxy? You are using Istio 1.0.3, right?

[2018-12-19 15:18] frankbu commented on #10485
That implementation had side effects that were not backward compatible, so the implementation was changed in #8114, before it was released.

It currently works exactly as documented, as I explained above.
https://github.com/istio/istio/blob/ab79844e47ff881a0aadcb1c9e361d7ab8ea62a4/pilot/pkg/networking/core/v1alpha3/route/route.go#L841

[2018-12-19 15:42] jbrongtr commented on #9212
@clyang82 @x15zhang PR #9656 was reverted. see #10278  :(

[2018-12-19 15:44] rvennam commented on #10552
That script needs a couple of tweaks. Working on that now

[2018-12-19 16:01] jpza commented on #10221
FWIW, I ran into this on AWS EKS and had to switch to the helm template install option. I had to apply the templated manifests twice due to some 'no matches for kind` errors on the initial `kubectl apply`.

[2018-12-19 17:42] Stono opened #10580 "Deleted pod not removed from EDS"
Potentially a dupe of https://github.com/istio/istio/issues/9254 and potentially a long standing issue that I've not noticed before.  We've recently added alerts which monitor EDS, however we restart pilot nightly to "rebalance" it, so that may explain why we haven't noticed this before (nobody is eyeballing EDS and we restart pilot daily).

<img width="637" alt="screenshot 2018-12-19 at 17 42 53"

[2018-12-19 17:50] idarvind commented on #10535
Thanks let me know if you are able to figure out the issue here.

[2018-12-19 17:50] douglas-reid commented on #10397
what happens if you add the port to the list of ports in your deployment spec?

[2018-12-19 17:52] incfly opened #10581 "Testing framework native envoy support dynamic listener"
We post-processing pilot's discovery response, https://github.com/istio/istio/blob/master/pkg/test/framework/runtime/components/apps/agent/pilot_agent.go#L597

- Trim away the dynamic listeners.
- Rewrite the clusters for A->envoy->envoy->B. Due to lack of the iptable.

This issue is to address the first one. Potential solutions,
- Configure app using different label. So that app can be distinguis

[2018-12-19 17:59] esnible commented on #10573
You have configured Istio to globally enable mutual TLS.  This means the istio-proxy sidecars are
will send all traffic via TLS.  Your Spring client and server are also explicitly doing TLS.

Although your Spring server is doing HTTPS one approach is to tell Istio that the server is doing raw TCP.  This will configure the sidecar to pass the data along unchanged.  Follow the instructions at https:

[2018-12-19 17:59] douglas-reid commented on #10565
I'm not sure we want to switch exclusively to "points". "Points" + "Lines" may work (with a small points radius). Can you may be work on a draft PR with the dashboards snapshots exported, and we can discuss in the P&T WG ?

[2018-12-19 18:04] douglas-reid commented on #10513
@likunbyl that is consistent with my understanding that 1.7.x is too old for the `kubernetesenv` adapter. There is work that *could* be done to add that (in fact, I think there may even be an old PR around), but iirc we are no longer attempting to support 1.7.x.

[2018-12-19 18:43] #8077 closed

[2018-12-19 18:59] wattli opened #10584 "TCP egress port allocation per namespace"

[2018-12-19 19:00] wattli opened #10585 "TCP egress port allocation per application"

[2018-12-19 19:04] Stono commented on #10580
Did a bit of digging to see what, if any impact this caused.  Unfortunately the app is *very* low traffic and only received around 300 requests during the 20 minute window in which pilot had this state.

If i query the source reporter (`istio_requests_total{reporter="source", destination_app ="sourcing-client", response_code=~"5.*"}`) there doesn't appear to be any `5xx` requests.

Interestingly i

[2018-12-19 19:06] Stono commented on #10580
Ahh; the uptime of nginx in this case shows that it was restarted *after* this incident therefore the envoy retry logs above are moot (and unfortunately we currently don't scrape them to prometheus)

[2018-12-19 19:21] wattli opened #10586 "StatefulSet with internal discovery using pod ip"

[2018-12-19 19:40] jmazzitelli opened #10587 "Add TLS in the internal network of Istio addons"
We would like addons to be internally secured with TLS (as opposed to simply being secured at the edge of the mesh).

For context, see:
* https://github.com/istio/istio/pull/10340#issuecomment-448480720
* https://github.com/istio/istio/issues/10317
* https://github.com/istio/istio/pull/10349
* https://github.com/istio/istio/pull/10363

[2018-12-19 19:42] jmazzitelli commented on #10587
This should be targeted for Istio 1.2 release

[2018-12-19 19:50] #8069 closed

[2018-12-19 19:53] vhosakot commented on #10168
I saw the same error too when installing istio `1.1.0-snapshot.3` in https://github.com/istio/istio/releases/tag/1.1.0-snapshot.3:

[code]

The following steps in https://github.com/istio/istio.io/issues/2787#issuecomment-443688642 resolved these errors for me:

[code]

[2018-12-19 20:04] vhosakot commented on #10326
I saw the same error too when installing istio `1.1.0-snapshot.3` in https://github.com/istio/istio/releases/tag/1.1.0-snapshot.3:

[code]

The following steps in https://github.com/istio/istio.io/issues/2787#issuecomment-443688642 resolved these errors for me:

[code]

[2018-12-19 20:06] jmazzitelli commented on #10317
This will be addressed with issue #10587

This current issue will be for putting https on the edge only.

[2018-12-19 20:40] jmazzitelli commented on #10317
https://github.com/istio/istio/pull/10363 has been merged. I don't know if we want to close this issue and move to issue #10587 for the future work or if we want to keep this open for other reasons.

[2018-12-19 20:49] 21stio commented on #8076
@mleneveut you aren't doing it the way @buckhx described it

The matches are ordered. The first one to match is going to be executed. Thus you need to match the more specific prefix first.

Let's say you call `/api/inspection-validation`, having the following match defined

[code]

It's going to rewrite the path to `//inspection-validation`, the emphasis lies on the leading `//`.

That's what's ca

[2018-12-19 20:52] #6476 closed

[2018-12-19 21:18] marcin-kasinski opened #10588 "Helm installation ends with error"
**Describe the bug**
{{ Succinctly describe the bug }}

Im trying to install istio (current versio 1.0.5)  on fresh kubernetes installation.

curl -L https://git.io/getLatestIstio | sh -
ISTIO_VERSION=$(ls | grep istio- )
cd $ISTIO_VERSION
helm install install/kubernetes/helm/istio --name istio --namespace istio-system

Im gettin g error:

Error: release istio failed: customresourcedefinitions.api

[2018-12-19 21:42] wattli opened #10589 "Get multi-cluster discovery working (galley + pilot) with a galley and a pilot in each cluster"

[2018-12-19 22:13] mehemken commented on #8076
Yeah guys. Still doesn't work with @buckhx 's solution. The rewrite doesn't even happen...

[2018-12-19 22:18] incfly commented on #10557
@tiswanso I ran the test myself without specifying kube-inject's sidecar injector map, basically to simulate the e2e-simple with istio/istio run.

[code]
You can see that the app container's probe is not modified, but the containers are still ready.

[2018-12-19 22:20] JimmyCYJ commented on #9145
@hklai could you please triage this issue for us? Thanks!

[2018-12-19 22:20] JimmyCYJ commented on #9145
cc @myidpt

[2018-12-19 22:20] thesandlord commented on #10397
I added the port, now Prometheus cannot connect over HTTP as well. Which makes sense as it's now being proxied by Istio. However, in the `istoctl listeners` command, I still don't see port 9464! However if I do a `kubectl describe` on the deployment I can see that Istio is binding to port 9464. I restarted the prom pod as well just in case, no change.

[code]

[code]

I'm pretty lost now, not sure

[2018-12-19 22:30] karthimohan commented on #9943
You need to create a Gateway so istio ingress controller can bind to that port
kubectl apply -f samples/bookinfo/networking/bookinfo-gateway.yaml

[2018-12-19 22:33] thesandlord commented on #10397
@bianpengyuan that fixed it! I'm a little confused why the Kubernetes service comes into play here, as Prometheus is bypassing the service and directly scraping the pods.

[2018-12-19 22:33] #10397 closed

[2018-12-19 22:39] bianpengyuan commented on #10397
@thesandlord Did you change istio-secure prom target back to use https scheme in order to make it work, or you use http scheme and it still works after adding port into service spec?

[2018-12-19 22:46] thesandlord commented on #10397
@bianpengyuan yes, changed backed to HTTPS. Solves my original use case of not wanting to set up my own HTTPS server.

HTTP does not work which makes sense as it is being proxied by Istio now.

I also had the same issue described in #10528 so I had to restart prom.

[2018-12-19 23:02] incfly commented on #10557
@tiswanso I ran the test myself without specifying kube-inject's sidecar injector map, basically to simulate the e2e-simple with istio/istio run.

What I found:
- The nginx application itself http probe is not rewritten, still at port 8080, original path. **rewriteAppProbe is not taking effect.**
- However, I did see the pod crash looping after a while and then came up.
- The test passed.

I think

[2018-12-19 23:03] incfly commented on #10557
https://gist.github.com/incfly/984196d9b155b6351ff249891d1ca2c5

[2018-12-19 23:09] costinm opened #10592 "Nodeagent base image"
Proxy, pilot and other images all share a common base image.
Please move nodeagent to the same base - both build speed and ability to use a different base are affected.

We had several discussions and users who want deb_lite or a more recent version of ubuntu - this can be done today by building the base image with a different config (and labeling it istionightly/base_debug - this can be a local l

[2018-12-19 23:50] igorlimansky commented on #7688
upgrading to 2.12.1 and doing `helm reset --force` fixed the issue

[2018-12-20 00:11] #10011 closed

[2018-12-20 00:54] wansuiye commented on #10515
@vadimeisenbergibm  from the proxy, the command return 200, other new egress are also can not be accessed by the the pod, so it's not the problem of environment.
[code]
yeah, i'm using istio 1.0.3

[2018-12-20 01:11] mandarjog commented on #9658
@douglas-reid #9658 will address the problem only when a particular request is traced.
While testing, the request can force trace.
But if the requirement is to know why a particular request was rejected this solution is not sufficient.
@liminw what is the customer requirement ?

[2018-12-20 01:15] douglas-reid commented on #9658
@mandarjog as i've raised elsewhere, I believe the follow-on is that Mixer should put adapter results (yes/no, validity period) in attributes that are available for the Report functionality. This should be fairly straightforward to add onto the route-directive work.

[2018-12-20 02:14] #6898 closed

[2018-12-20 03:23] costinm opened #10595 "Nodeagent default install not working"
I did a helm install with nodeagent.enabled = true - it doesn't seem to work. There are some values (ca address) that are not filled in, I can't see how this is passing the tests.

Are we sure the e2e tests are enabled with node agent ? If we want to ship it in 1.1 we need to make
sure it gets a lot of stability and usability testing - right now I can't even install it...

[2018-12-20 03:37] irisdingbj commented on #10589
@wattli  I am interested in this scenario. But as of now galley can not provide services info to pilot. So what is the detailed expection for this scenario?

[2018-12-20 03:49] 1046102779 opened #10596 "optimize mixer backend storage: filesystem watch"
![image](https://user-images.githubusercontent.com/20457624/50262528-be67a580-044c-11e9-94ba-a3861faa4bf7.png)

vim $GOPATH/src/istio.io/istio/mixer/pkg/config/store/fsstore.go

if we write the codes that check `watchCh` is nil on the function's first line, is it better? because of getting all yaml files changes, the purpose is to  send events to channel queue. Now the watchCh is nil, so it's inva

[2018-12-20 04:10] GeekyTex commented on #3870
I just ran into this and it took the majority of a day to troubleshoot. I know this is a stale issue, but both the above examples have merit.

Specifically, I ran into the same issue (using the same example @linsun did). I also confirm @ymesika 's example works as they pointed out.

Working through several permutations, it seems that the named "targetport" is not the underlying issue, but rather i

[2018-12-20 04:14] #7828 closed

[2018-12-20 05:20] jonathan-lo commented on #10565
Yep, what I meant was "Points" + "Lines".

Will draft up a PR, thanks.

[2018-12-20 05:41] dingyahui opened #10597 "TCP Traffic Shifting not supported in low version"
**Describe the bug**
{{ Succinctly describe the bug }}
I tried to exercise TCP Traffic Shifting in different versions of istio. In version 1.1, there was no problem with weight allocation, Not in version 1.0.3 or 1.0.4, there has been an error  “configuration is invalid: TCP route must have exactly one destination”. I don't think the lower version supports TCP's weight allocation resolution patter

[2018-12-20 05:59] irisdingbj commented on #10588
Please try to  clean up the environment before hand:
kubectl delete -f install/kubernetes/helm/istio/templates/crds.yaml

then helm install install/kubernetes/helm/istio --name istio --namespace istio-system
It should succeed.

[2018-12-20 06:21] marcin-kasinski commented on #10588
There is nothing to clean up.
Like I said it is first installation on istio always.
I know that this problex exists if I try to install istio with help another thime, but this is always first installation.

I tried your commands without succeed.

It ends with error
`Error: release istio failed: customresourcedefinitions.apiextensions.k8s.io "checknothings.config.istio.io" already exists
`

Another

[2018-12-20 06:43] #8119 closed

[2018-12-20 07:15] robertpanzer commented on #9658
@mandarjog I don't fully understand what you mean, can you clarify?
I understand that I will not be able to find out why the request was rejected in case it was not sampled, that's just how things are and it seems that sampling is the decision of the originator of a request.
But if it is sampled I would expect to see that the Mixer rejected it on purpose instead of only seeing that an HTTP 403 was

[2018-12-20 07:35] #10596 closed

[2018-12-20 07:41] 1046102779 commented on #10596
it maybe use sync.Once mechnism to load all backend server yaml files.

[2018-12-20 08:25] lei-tang opened #10599 "Implement a Vault adaptor for Citadel Agent to call Vault"
**Describe the feature request**
 Implement a Vault adaptor for Citadel Agent to call Vault.

**Describe alternatives you've considered**
Citadel Agent -> Citadel -> Vault

**Additional context**
{{ Add any other context about the feature request here }}

[2018-12-20 08:36] vadimeisenbergibm commented on #10515
@wansuiye I checked the meaning of  "NR" in the proxy log - it means that the request was not routed, my mistake, sorry.

So the problem is that the routing was somehow not performed, the listener definition you pasted did not take effect.

There is something in listeners' definition that confuses Envoy and it does not perform the routing, maybe some conflict on port 80.

Can you run `grep '_80"'

[2018-12-20 08:52] #8126 closed

[2018-12-20 08:58] vadimeisenbergibm commented on #10330
@rshriram What do you think? Do we want this behavior:

Do we want a flag?

See https://groups.google.com/forum/#!topic/istio-users/J_Ad-wTLjmY

[2018-12-20 10:01] oaudry commented on #10588
hello

I can confirm. I got the same error on minikube.

[code]

[code]

[code]

[code]

[2018-12-20 10:35] Stono commented on #10565
A couple of things we've done to our dashboards to improve things:

  - If you change the graph to "connected" it'll join the gaps where there is no data available
  - Where we're calculating success rate percentile, we have modified the query to have an `or` returning a result when no data is present:

[code]

[2018-12-20 10:44] mandarjog commented on #9658
This issue is framed narrowly and the PR addresses it fully. If a request is traced, we can get this info.

If my requirement is to audit an arbitrary request in the past as identified by x-request Id and know why it was rejected, then the PR does not solve that problem and we need additional solutions.

[2018-12-20 11:31] robertpanzer commented on #9658
Agree.
My current goal was to just give the right information for what is there, because the traces that are currently presented to the user – if sampled – don't help in analyzing such problems.
It would certainly be nice to give additional information for all requests that were rejected.

[2018-12-20 11:43] #7412 closed

[2018-12-20 13:06] wansuiye commented on #10515
@vadimeisenbergibm  hi, there are several 80 listener.
[code]
and the counter: "listener.0.0.0.0_80.http.0.0.0.0_80.downstream_rq_4xx" is increased by the test request. several other listener are also increased by the test request and other request:
[code]
[code]

[2018-12-20 13:32] vadimeisenbergibm commented on #10515
@wansuiye OK, so we see that the listener 0.0.0.0_80 gets the request as expected. However, it does not manage to route it. Can you paste the listener definition? `istioctl proxy-config listeners -o json` ?

[2018-12-20 14:10] tonyjt commented on #9943
ame issue here

[2018-12-20 16:18] zhu0516123 commented on #10393
@mandarjog
By the way, do you know how to set the interval of periodical report which generated by proxy when tcp connection is alive. The default interval for periodical report is 10s. But I do not find where to set the period in istio-demo.yaml.

[2018-12-20 16:24] isnellfeikema-isp commented on #7688
Upgrading to helm/tiller 2.12.1 resolved the issue for me as well.

[2018-12-20 16:58] jstol commented on #10588
I'm also running into this issue with 1.0.4 and 1.0.5, but with the following CRDs: `adapters.config.istio.io`, `apikeys.config.istio.io`, `attributemanifests.config.istio.io`, `authorizations.config.istio.io`, `bypasses.config.istio.io`, `gateways.networking.istio.io`. Tried deleting with `kubectl delete -f install/kubernetes/helm/istio/templates/crds.yaml`, but that didn't seem to solve the issu

[2018-12-20 17:04] #8128 closed

[2018-12-20 17:05] lubinson commented on #10520
@douglas-reid

Is this config applicable for non-istio-controlled promethus?  This promethus was installed separately in another namespace and I think it is not under control of istio.

[2018-12-20 17:39] #7780 closed

[2018-12-20 17:52] myidpt commented on #10595
The features are implemented. Now the node agent doesn't install by default - you still need to set a couple of parameters. We are fixing it. Now we are working on the integration tests. Our goal is to make everything done before 1.1.

[2018-12-20 18:01] douglas-reid commented on #10520
@lubinson the jobs in the config should be safe to add to any existing Prometheus. There may be an issue merging on top of other jobs... the only gotcha, as far as I can tell, would be if the Prom deployment does not have certs.  You do need the port exposed in the k8s service + deployment if it is a distinct port for metrics.

[2018-12-20 18:09] quanjielin commented on #9035
hit below error when nodeagent initialize CA client to calls into citadel
[code]

[2018-12-20 18:24] quanjielin commented on #9035
https://github.com/istio/istio/issues/10283

[2018-12-20 18:35] arnecls opened #10603 "localhost connectivity broken for one specific container/port"
**Describe the bug**

We're running a pod with several containers, one of them being php-fpm listening on port 9000 (tcp).
For this specific port we cannot connect via localhost, i.e. using a test fast-cgi query returns an error.
We also tested the following:

Using the pod-ip instead of localhost yields into a different error.
Using the test query from outside the pod works (!).
`nc -zv localhost

[2018-12-20 18:40] quanjielin commented on #10283
[code]

[2018-12-20 18:52] nmittler commented on #9043
@costinm could you provide an update?

[2018-12-20 18:56] incfly commented on #10589
FYI I have a PR on `istio.io` to explain how to setup gateway/sni based multi cluster.
https://github.com/istio/istio.io/pull/2907

[2018-12-20 19:01] mandarjog commented on #10393
Thanks for sending the data. Re reporting period, it is not configurable at present.
Do you need it to be configurable?

[2018-12-20 19:35] mandarjog commented on #10393
regarding the memory leak, we found an issue with kubeenv adapter, as seen in the log messages. It is not relinquishing the state even after close. This causes the k8s client cache to live forever.

We will fix it soon. I would like to fix it in 1.1 . If you can use 1.1 pre-release builds.
If you need the fix in 1.0, please let us know.

[2018-12-20 19:59] jgrossmac opened #10606 "Pod with Istio-proxy cannot communicate with service in a different namespace"
**Describe the bug**
Pod in namespace "A" with istio sidecar injection turned **ON** cannot reach cockroachdb service in namespace "B".

Pod in namespace "A" with istio sidecar injection turned **OFF** is able to reach cockroachdb service in namespace "B".

Cockroachdb service in namespace "B" does **NOT** have an istio proxy sidecar.

DNS resolves properly in both cases.

I checked the service lo

[2018-12-20 21:35] myidpt commented on #8234
Duplicate of https://github.com/istio/istio/issues/7976.

[2018-12-20 21:35] #8234 closed

[2018-12-20 21:36] #8542 closed

[2018-12-20 23:30] isnellfeikema-isp commented on #10588
There is a helm bug. Upgrading to helm/tiller v2.12.1 and installing worked for me. You may have to delete/purge your existing Istio install as well.

[2018-12-21 01:31] incfly commented on #10581
To get permissive e2e test working, more stuff is needed:

- generate localhost/127.0.0,1 cert locally.
- configure authn config and then wait for that being propagated to sidecar. (it takes some delay)

[2018-12-21 01:35] zhu0516123 commented on #10393
@mandarjog
Thank you. Please fix it in 1.0 because we have deployed istio in prod env.
And I find another issue that the default interval for periodical report is 1s not 10s as the mixer-telemetry log shows. Should I open another issue?

[2018-12-21 01:45] irisdingbj commented on #9347
sorry for late. working on this now

[2018-12-21 01:59] darkrasid commented on #6319
@grayglj Thank you.
I tested that way also, and it worked well.

[2018-12-21 02:33] quanjielin commented on #10283
after apply fix in https://github.com/istio/istio/pull/10613 and https://github.com/istio/istio/pull/10615, now nodeagent shows below error logs when sending CSR request to citadel using normal jwt, pending on citadel jwt validation/cert issue change

[code]

[2018-12-21 03:13] li1191863273 opened #10616 "Modify the sidecar listening port"
I want to modify the istmap whose name is isti-sidecar-injector. The port that sidecar reads by default is

     - "-b"
     - "[[ annotation .ObjectMeta `traffic.sidecar.istio.io/includeInboundPorts` (includeInboundPorts .Spec.Containers) ]]"

I want to read this value first. If it exists, use this value. If it does not exist, use port 8080. How should I modify it? I don't know how to write this

[2018-12-21 04:12] devops083 commented on #10488
I have implememted this in AWS, In AWS , UDP loadbalancer is not supporting, Is there any other way to expose kube-dns.

[2018-12-21 04:20] devops083 commented on #10511
@morvencao , Protocol UDP not supporting for Loadbalancer in AWS.

[2018-12-21 05:14] wansuiye commented on #10515
@vadimeisenbergibm  the dump json file as blew:
[listener-test.txt](https://github.com/istio/istio/files/2701589/listener-test.txt)

[2018-12-21 06:07] marcin-kasinski commented on #10588
We are not talking about delete/purge Istio.
We are talking about creating Istio with helm in fresh kubernetes installation.

Everytime i try to install with helm I get error.
Everythime this error refers to different customresourcedefinitions.

I'm pretty sure it worked week or two ago.

[2018-12-21 06:17] irisdingbj commented on #9347
@ozevren   code is in: https://github.com/istio/istio/pull/10617

[2018-12-21 07:51] bangau1 commented on #10057
Hi Guys,

I also encountered this same issue on istio-1.0.0 version.
Aside from bug reported by @sergio-fleetsmith , I also want to share another finding with the same deployment configuration like above, but instead of **client** and **server** (serverA and serverB) communicated directly (through side-car istio-proxy), I also tried to use an internal **Istio Ingress Gateway** routed by certain ho

[2018-12-21 08:21] vadimeisenbergibm commented on #10515
@wansuiye The listeners dump looks correct. The only remaining issue could be with the routes, maybe there is some conflict there. Could you please publish the whole routes file?

[2018-12-21 08:47] vadimeisenbergibm commented on #10515
@wansuiye Additional diagnosing step: run `curl localhost:15000/config_dump` from your pod - this will dump the configuration the envoy sees (as opposing to the configuration that is sent to it by pilot, returned by `istioctl proxy-config`.) Check the listener and the route in the dump.

[2018-12-21 09:07] #8163 closed

[2018-12-21 09:30] vadimeisenbergibm commented on #10515
@wansuiye Additional diagnosing step - set the Envoy's logging level to tracing, run the request and examine the log: `curl -X POST localhost:15000/logging?level=trace`

For a request, that is routed correctly, the following message should appear: `cluster 'outbound|80||httpbin.org' match for URL '/`

For a request which fails to be routed: `no cluster match for URL '/'`

[2018-12-21 10:17] jotak commented on #10487
@douglas-reid not sure if I'm answering your question, but I rebooted prometheus several times (while I was trying different things in the config map) and it didn't fix anything, I think it's really caused by the new config map relabeling as pointed in my PR

[2018-12-21 11:48] #7798 closed

[2018-12-21 12:22] volatilemolotov commented on #3800
@ostromart is there a reason not to support Global ip from GCE, it makes sense for some deployments.

[2018-12-21 12:30] arnecls commented on #10603
Ok, turned out we were passing too many environment variables (more than 8KB) into the `cgi-fcgi` command, causing malformed requests being sent to the fast cgi server, causing the request being canceled. Took us a few hours of tcpdump to figure that out.
So: no bug

[2018-12-21 12:30] #10603 closed

[2018-12-21 14:09] garyxuehong opened #10624 "Apply custom EnvoyFilter with "start_child_span: true""
**Describe the feature request**
I want to replace existing "envoy.router" in the envoy proxy config by using a default "EnvoyFilter(envoyfilters.networking.istio.io)"

**Describe alternatives you've considered**
Not yet.

**Additional context**

I want to make use of the "start_child_span" property in the envoy doc https://www.envoyproxy.io/docs/envoy/v1.8.0/api-v2/config/filter/http/router/v2/ro

[2018-12-21 14:18] garyxuehong opened #10625 "Apply custom SpanTags in Tracespan"
**Describe the feature request**
Apply custom spantags for tracing purpose

**Describe alternatives you've considered**
noop

**Additional context**

I want to apply custom span.tags in Tracespan as follow:

[code]

After I `kubectl apply -f`, I get following in the logs:

`error   failed to evaluate expression for field 'SpanTags[my.value]'; unknown attribute value1`

[2018-12-21 16:11] bryanlarsen commented on #10134
This should be two flags: a flag that enables the installation of prometheus-operator, and a flag that enables the installation of the ServiceMonitor's that prometheus-operator uses so that this can also be used with an externally installed prometheus-operator.

@nixgadget's last comment about envoy prometheus not working as a ServiceMonitor is the hard part of this task, the rest is relatively st

[2018-12-21 18:55] evanfoster commented on #6596
I'm having this exact same issue. I'm guessing it's because MongoDB doesn't use HTTP to communicate with the replicaset members, so Envoy doesn't know what to do. This is just pure conjecture on my part, but it's the only thing that makes sense to me.

[2018-12-21 20:08] mandarjog opened #10629 "Mixer should make adapter responses available as attributes"
When an adapter rejects a request, Mixer sends back this information to the Proxy.
However this information is not available as an attribute.

This information should be available as an attribute so that it can be used in reports or logs.

This attribute can be a `stringmap` or something else that is structured.

[2018-12-21 20:10] mandarjog commented on #10629
@liminw @douglas-reid

[2018-12-21 20:28] #8180 closed, assigned to nobody

[2018-12-21 21:00] kyessenov commented on #10629
There are two attributes populated by the proxy on error response (https://github.com/istio/proxy/blob/4cfa354bbeb42ae67c3c634e19ad01a54339cb3a/src/istio/control/http/attributes_builder.cc#L225):
- `check.error_code` is the gRPC error code
- `check.error_message` is the error string from Mixer that includes the failing rule

Can you clarify what other information we need?

[2018-12-21 21:01] liminw commented on #10629
@robertpanzer

[2018-12-21 21:45] majelbstoat commented on #9045
More precisely, when I had this problem running within k8s, I found I needed to give the services a named port that followed a very specific format: `grpc-*`. (I understand `http2-*` might also have worked.) When it was named `http-*`, it did not work, as requests were sent at HTTP 1.1.

[2018-12-21 23:09] thockin commented on #4429
Chiming in from the other side of the fence - this seems particularly problematic to me.  We have spent a lot of energy telling Kubernetes users that they should all be using readiness and liveness probes.  I feel like there should really be a transparent "fast path" for this that doesn't require users to create additional resources nor to disable mTLS.  Am I asking for too much?

[2018-12-21 23:18] thockin opened #10632 "Docs don't match repo for install"
**Describe the bug**
The docs at https://istio.io/docs/setup/kubernetes/quick-start/ say "kubectl apply -f install/kubernetes/istio-demo.yaml" and the README in that dir points back to those docs, but there's no such file.

**Expected behavior**
I expected to find the file that the docs mention.

**Version**
HEAD for istio

[2018-12-21 23:30] thockin opened #10633 "Helm fails when following docs"
**Describe the bug**
Following the helm docs I get to `helm template install/kubernetes/helm/istio --name istio --namespace istio-system --set global.mtls.enabled=true` whereupon I am told "Error: found in requirements.yaml, but missing in charts/ directory: sidecarInjectorWebhook, security, ingress, gateways, mixer, nodeagent, pilot, grafana, prometheus, servicegraph, tracing, galley, kiali, isti

[2018-12-22 01:53] #8139 closed

[2018-12-22 02:34] hzxuzhonghu commented on #10632
/cc @hklai @linsun

[2018-12-22 02:35] hzxuzhonghu commented on #10633
/cc @hklai @linsun

[2018-12-22 03:05] #8103 closed

[2018-12-22 04:10] aaronmell opened #10637 "istio-security-post-install fails on AWS EKS"
**Describe the bug**
istio-security-post-install never completes. Error log returns

+ kubectl apply -f /tmp/security/custom-resources.yaml
Error from server (Timeout): error when creating "/tmp/security/custom-resources.yaml": Timeout: request did not complete within allowed duration

**Expected behavior**
Istio to install correctly.

**Steps to reproduce the bug**
Installed Istio via Helm
Helm r

[2018-12-22 10:10] #8003 closed

[2018-12-22 11:16] #8090 closed

[2018-12-22 13:38] jmazzitelli commented on #10633
@thockin you didn't say what version of Istio (1.0.x? 1.1.snapshot?) or version of Helm you are using or which page in which set of docs you are referring to (istio.io? preliminary.istio.io? a README?)  - three important pieces of info that would be needed to help you. However, please see https://github.com/istio/istio.io/issues/2787 - i think it will provide an answer.

[2018-12-22 16:16] #7823 closed

[2018-12-22 16:41] nmnellis commented on #5032
in helm there is a post "hook" that populates the config for mixer. if this hook doesn't run, mixer has no context. since this issue is older there is a chance that the config isn't loaded via these means anymore

[2018-12-22 19:21] #8188 closed

[2018-12-22 23:12] #8229 closed

[2018-12-22 23:36] #5306 closed

[2018-12-23 05:01] nalbam commented on #10588
Same error to me...

[code]
[code]
[code]
[code]

[2018-12-23 17:43] przemekwojcik opened #10640 "HTTP404 when expected to reach a service"
**Describe the bug**
I've deployed an IdentityServer4 demo pod, that works fine & is reachable through Istio's gateway but only when the pod is being set up in the root of the address, so:

`apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: istio-gateway
spec:
  selector:
    istio: ingressgateway
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP

[2018-12-23 19:35] popaaaandrei opened #10641 "API load testing has better success rate without sidecars. Is this normal?"
**Describe the bug**
I have a service that exposes a simple API. I want to perform API load testing and I have tried it with and without the Envoy sidecar (thus managed by Istio or not). The service is exposed either through the Istio Ingress Gateway or behind Ambassador API Gateway. The issue happens with both.

What happens is that when I don't have the sidecars deployed I get almost everytime 1

[2018-12-23 19:52] popaaaandrei commented on #10641
Second test, disabled automatic sidecar injection and added Envoy manually with istioctl inject. Works like a charm. 100% every time :)

[2018-12-24 04:33] garyxuehong commented on #10624
Actually it working already, I just need to NOT set/forward the header (x-b3-traceid, etc.) if the value is null. I don't know why I can't forward it if the value is null, nor it is documented anywhere.

[2018-12-24 04:33] #10624 closed

[2018-12-24 14:10] vadimeisenbergibm commented on #10640
Does your identity service have the `/identity` path? If not, I think you have to rewrite the path to `/`, using https://istio.io/docs/reference/config/istio.networking.v1alpha3/#HTTPRewrite:
[code]

[2018-12-24 14:24] shahaf600 opened #10647 "Istio rewrite to a different prefix does not work"
**Describe the bug**
{{ Succinctly describe the bug }}
trying to use one port for GRPC in the ingress gateway, as well as 1 gateway .
I want to create a virtualservice for each service i deploy to K8S and to route to those services with 1 load balancer and one port but different api calls(prefix or virtual host like in nginx)

**Expected behavior**
{{ What did you expect to happen? }}
i want the e

[2018-12-24 14:31] vadimeisenbergibm commented on #10640
@przemekwojcik You are welcome :)

[2018-12-24 14:39] vadimeisenbergibm commented on #10277
@jcetkov Just to be sure - you are using TCP without TLS and SNI? My guess is that most calls to external services have to be over TLS anyway, so the section https://preliminary.istio.io/blog/2018/egress-mongo/#egress-control-for-tls would be more relevant than just TCP control.

[2018-12-24 14:43] vadimeisenbergibm commented on #10235
The solution and the problem are probably described in https://github.com/istio/istio/issues/10062#issuecomment-441575769

[2018-12-24 15:19] jcetkov commented on #10277
@vadimeisenbergibm the usecase was indeed TCP from the node (mysql protocol) tunneled via the TLS to the egress gateway. I think this applies to any non HTTP/HTTPS traffic to the egress gateway, since there is no field to preserve the original routing.

[2018-12-24 15:30] jcetkov commented on #10277
@vadimeisenbergibm that's what I did, between the mesh and the egress-gateway, however if I have 22 distinct mysql instances that I need to distinguish, the original rewrite rule before the TLS SNI gets in the picture needs to be IP address based, as nothing else is available

[2018-12-24 15:42] vadimeisenbergibm commented on #10277
@jcetkov I do not understand why you need IP-address-based routing. Consider https://preliminary.istio.io/blog/2018/egress-mongo/#direct-tls-egress-traffic-through-an-egress-gateway. Instead of `$MONGODB_HOST`, you just specify multiple mysql instances; you will have to specify multiple matches in the following section:
[code]

[2018-12-24 15:47] adinunzio84 commented on #8696
@mkjoerg, does the plug-in use client-go? If so, there's a strange issue that seems to only happen when combining Istio, AKS, and client-go (but any 2 are fine): kubernetes/client-go#527

[2018-12-24 15:50] mkjoerg commented on #8696
@adinunzio84, no the rabbitmq plugin is erlang based. https://github.com/adinunzio84

[2018-12-24 15:52] jcetkov commented on #10277
Right, which is the problem, as the `$MONGODB_HOST` or equivalent is fixed in the yaml which is the IP I'm talking about. Now if the resolution of the hostname in the external DNS changes, the yaml becomes invalid, as the original request in the pod will have different address, not `$MONGODB_HOST`

[2018-12-24 15:55] vadimeisenbergibm commented on #10277
$MONGODB_HOST is the host name, like mongo1.composedb.com.

[2018-12-24 16:03] jcetkov commented on #10277
in that case I'm missing something. in the pod, it's TCP traffic, which has IP address and port. there is no place where the hostname can be preserved. there is iptables rule that forwards it to the envoy. now how does envoy know this is matching traffic? reverse dns search?

[2018-12-24 16:07] vadimeisenbergibm commented on #10277
I guess your client opens TLS with SNI connection. Envoy reads the value of the SNI from the TLS handshake and performs routing according to the SNI. In the sidecar, it forwards the traffic to the egress gateway. In the gateway, it forwards the traffic to the destination host. This is what `sni_hosts:` match means.

[2018-12-24 16:17] jcetkov commented on #10277
well if it could - but that's the root of the problem, if I cannot change how the client works. the SNI match works just fine from envoy onwards. So the workaround I was using is to use a phony IP address that gets matched on envoy which than initiates the TLS. (wouldn't it be quite overkill and waste of resources to do TLS hop just to my own sidecart even if I could?)

[2018-12-24 16:30] vadimeisenbergibm commented on #10277
There is no TLS hop between the client and the sidecar. The scenario I describe in the blog post is as follows:

1. The client initiates TLS connection with SNI to the remote server, let's say mongo1.composedb.com. For the client Istio is transparent, the code is the same with our without Istio.
2. The sidecar Envoy intercepts the connection, reads the SNI and forwards the connection to the egress

[2018-12-24 16:34] jcetkov commented on #10277
in my case it's plain TCP (or I cannot do any assumptions about the client or it's protocol). Without istio, or without egress gateway (serviceentry with resolution `NONE`), there is direct connection to the IP address resolved by DNS.

[2018-12-24 16:37] jcetkov commented on #10277
The scenario is this:
I'm an infrastructure team. I want to route all traffic via egress-gateway for control and policy application. I do not own and cannot change what runs in the pods (but I know what external resources it consumes)

[2018-12-24 16:50] vadimeisenbergibm commented on #10277
And why can't you require from your app developers to use TLS? Otherwise, you can have a situation where pods connect to external services unencrypted. Alternatively, you can check with the external services if they require TLS (so the clients have to use TLS).

The simplest way to check the current situation is to enable TLS external traffic control described in https://preliminary.istio.io/blog/

[2018-12-24 17:01] jcetkov commented on #10277
because I don't have that kind of power? Sure, in ideal world, that makes sense. But if I have existing software base moving to kubernetes, the reality will be I can't force everyone to change everything; so as first step, I need to lift and shift.
The IP based rule allows me to achieve this event now, but either I'd have to have my servicerules synchronized with the external DNS system, or I can

[2018-12-24 17:13] vadimeisenbergibm commented on #10277
One possible solution for migration could be to use `global.proxy.includeIPRanges` or` global.proxy.excludeIPRanges` to exclude the traffic to MySQL from Istio control, initially.

I am not sure the solution you propose will be implemented in Istio soon.

[2018-12-24 17:13] vadimeisenbergibm commented on #10277
^ described here https://preliminary.istio.io/docs/tasks/traffic-management/egress/#calling-external-services-directly.

[2018-12-24 17:43] jcetkov commented on #10277
that was the conclusion I came to also - but rather to create a serviceentry with an address range and respective port and resolution `NONE` to have the traffic still flowing through the local envoy for telemetry and don't send it to the egress-gateway

[2018-12-24 17:45] vadimeisenbergibm commented on #10277
yes, this could be a better solution.

[2018-12-25 04:41] murarisumit commented on #10484
istioctl is available via homebrew now.

[2018-12-25 08:57] vadimeisenbergibm commented on #10647
As @hzxuzhonghu , there is `"prefixRewrite": "/"` in the route definition. The path in the decorator does not mean that the prefix was not rewritten.

I would check the log of istio-ingressgateway istio-proxy and see which command appears there, with or without the path. Also would check the log of `trs-tulip.ud.svc.kube.am.taboolasyndication.com` which request it received.

[2018-12-25 09:03] vadimeisenbergibm commented on #10632
@thockin `install/kubernetes/istio-demo.yaml` is in release archives https://github.com/istio/istio/releases. The assumption is that the user uncompresses the archive and runs the commands in the root directory of the archive.

[2018-12-25 09:34] shahaf600 commented on #10647
and btw the decorator means how the request is going to reach to this service right ?
so the meaning of what im trying to do with prefix rewrite is eliminate the "trs-tulip" that I added in first place it was just for the routing.
and I will explain even more of what i'm trying to do:
1. I want to listen with my ingress gateway on only 3 ports, each for 1 protocol - HTTP,HTTP2,HTTPS
2. I want to c

[2018-12-25 09:41] vadimeisenbergibm commented on #10647
I do not think so, I guess it is just a "decorator", to mark the operation in statistics and logs, it is not related to routing.

What you are trying to achieve with the routing is totally reasonable and it should work in Istio.

[2018-12-25 09:43] shahaf600 commented on #10647
interesting so yea if you say i'm doing it right so whats left is to check the logs

[2018-12-25 09:46] vadimeisenbergibm commented on #10647
Please write the command you perform to test, e.g. curl, and what you see in the logs of istio-ingressgateway and trs-tulip.ud.svc.kube.am.taboolasyndication.com

[2018-12-25 09:49] shahaf600 commented on #10647
I have a GRPC client trying to make a request, (it works when I try to match only by port)

[2018-12-25 10:55] #10647 closed

[2018-12-25 11:37] xilu0 commented on #9906
We encountered the same problem

[2018-12-25 14:39] mkjoerg commented on #5673
@Stono I am stumbling over the same issue. In my case, I didn't even activate mTLS right now, but prometheus (instantiated by prometheus operator) isn't able to find the actuator endpoint with injected sidecar. If I don't inject the sidecar into the prometheus pod, it can find them without problems. Did you manage to find a solution for this issue?

[2018-12-25 16:53] #8268 closed

[2018-12-25 19:02] #8271 closed

[2018-12-25 20:39] aminmithil commented on #7495
@dstockton I have tried implement zookeeper with headless service and ServiceEntry. I am getting the same problem. Zookeeper pods are not able to communicate with each other. I don't have mutual TLS enabled. If you have tried and work for you can you put your sample yaml file for zookeeper?

[2018-12-25 20:43] #8272 closed

[2018-12-25 21:13] #8130 closed

[2018-12-25 23:13] rinormaloku commented on #9696
In case anyone has the problem as well the issue was that I didn't name the port of the services, which is a requirement for Istio: https://istio.io/docs/setup/kubernetes/spec-requirements/

[2018-12-25 23:13] #9696 closed

[2018-12-25 23:43] #8202 closed

[2018-12-26 02:17] wansuiye commented on #10515
@vadimeisenbergibm hi, I'm sorry to reply you so late because I was delayed by other things.
And the problem that sidecar report 503 i found the reason is that：
If no clusterid is specified for the registry, the registry will use "" as the default.
When running edsupdate, code causes coverage of different registry data.
Meanwhile EndpointShardsByService will also be affected, which will allect the

[2018-12-26 02:39] #8286 closed

[2018-12-26 04:57] crowfrog commented on #9502
hi @vadimeisenbergibm,

Thank a lot! I got successful after I applied following configuations.
And will got failed when I didn't rewrite "authority". You can see the failed log in following.
PS: the "rewrite" operation is different. I will got failed too if I applied the "rewrite" operation as yours.

serviceentry.yaml
[code]

virtualservice.yaml:
[code]

egressgateway log:
[code]

egressgateway f

[2018-12-26 05:49] crowfrog commented on #9502
But I still think there is an issue here.

now I can make the case (mesh:30511 => egressgateway:80 => 10.210.140.25:30511) passed. By:
from mesh (dest is 10.210.140.25:30511, rewrite authority from "10.210.140.25:30511" to "10.210.140.25") to egressgateway:80
from egressgateway (got 10.210.140.25 route) to 10.210.140.25:30511

When I can check http.80 route on egressgateway, I got following result

[2018-12-26 06:22] crowfrog opened #10658 "Egressgateway gets intermittent 503 in "TLS origination with the egress Gateway" case"
**Describe the bug**
I made a TLS origination with EgressGateway configruation by https://istio.io/docs/examples/advanced-egress/egress-gateway/.
Run "curl -i http://x.x.x.x" in my Pod with sidecar "envoy" and got 200 OK. Also saw same related log in egressgateway pod log. TLS trafic done between egressgateway and my test server.
But when I run curl (or my http performance test tool) frequently, s

[2018-12-26 07:05] wansuiye commented on #9735
anyone help？

[2018-12-26 08:18] #5829 closed

[2018-12-26 08:39] clyang82 commented on #8736
Is anybody working on this one? if no, I would like to pick it.
/assign @clyang82

[2018-12-26 08:39] istio-testing commented on #8736
@clyang82: GitHub didn't allow me to assign the following users: clyang82.

Note that only [istio members](https://github.com/orgs/istio/people) and repo collaborators can be assigned.
For more information please see [the contributor guide](https://git.k8s.io/community/contributors/guide/#issue-assignment-in-github)

<details>

In response to [this](https://github.com/istio/istio/issues/8736#issue

[2018-12-26 08:55] wansuiye commented on #7492
@mingweiLIU hi, late to reply. do you use the consul and k8s platform adaptor at the same time? if the service name is same, there is the problem.

[2018-12-26 09:05] hzxuzhonghu opened #10659 "Istio support statefulset"
Istio currently does not support statefulset.  There are already many issues related, so here is a umbrella issue.

#10053  #1277 #10490 #10586 #9666

Anyone can add missing issues below.

[2018-12-26 09:10] hzxuzhonghu commented on #10659
We should build listeners and clusters for statefulset pod,  like `outbound|9042||cassandra-0.cassandra.default.svc.cluster.local` . Not just `outbound|9042||cassandra.default.svc.cluster.local`
https://kubernetes.io/docs/tutorials/stateful-application/cassandra/

[2018-12-26 13:34] vadimeisenbergibm commented on #10515
@wansuiye So can you resolve this issue? Or is there some other problem that has to be solved?

[2018-12-26 13:52] vadimeisenbergibm commented on #9502
@crowfrog You are asking for some higher level functionality - Istio should understand the port rewriting that happens, mesh:30511 => egressgateway:80 => 10.210.140.25:30511, and add hostname matching accordingly. This is not how Istio currently works, it does not recognize such high level patterns.

[2018-12-26 14:15] shahaf600 opened #10662 "can't set egress with serviceentry to allow all egress traffic without a specific host or address"
**Describe the bug**
I have a pod which runs a kafka writter service along with an istio sidecar.
this pod is trying to reach kafka with port 6667 to the exact DNS name of the kafka servers.
kafka is using TCP protocol for communication.
I have configured a serviceentry for the port 6667 so the app will be able to reach kafka outside with port 6667:
[code]
when I configured it like this it works a

[2018-12-26 16:13] vadimeisenbergibm commented on #10515
@wansuiye ^  I meant can you close this issue?

[2018-12-26 16:35] GregHanson commented on #10662
The rule above will capture all traffic for port 6667 and if any other VirtualServices or ServiceEntries attempt to use the same port will result in collisions.  There is a good egress article that walks through using IP ranges found here: https://istio.io/blog/2018/egress-tcp/#mesh-external-service-entry-for-an-external-mysql-instance

[2018-12-26 17:07] GregHanson opened #10663 "e2e-simpleTestsMinProfile test failing in release-1.1 branch"
**Describe the bug**
the minProfile CI test is failing for PR's.  For example: https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/10656/e2e-simpleTestsMinProfile/857/build-log.txt

Can't see the exact failure without logs but pilot is in crashloop fallback

[code]

Tried recreating locally with helm but not seeing the same behavior:
[code]

[2018-12-26 17:30] quanjielin commented on #9035
for some reason, app deployed by sidecar auto injection webhook doesn't have k8s normal jwt in ```/var/run/secrets/kubernetes.io/serviceaccount```(manually injection works fine), need to figure out why

[2018-12-26 17:39] costinm commented on #9035
It never had it - it's one of the reasons we stopped making k8s calls from
sidecar when auto-injection was added.
Did you test the new token type (with audience ) in auto-injected pods ? I
suspect it behaves the same.

As I mentioned before - I believe using the CNI plugin to handle
communication and auth to the node agent is the
most reliable ( and secure ) option.

On Wed, Dec 26, 2018 at 9:30 A

[2018-12-26 17:47] quanjielin commented on #9035
@costinm, I verified trustworthy jwt was mounted to proxy container(```/var/run/secrets/tokens/ istio-token```) last Friday with fix https://github.com/istio/istio/pull/10636

[2018-12-26 18:04] GregHanson commented on #10663
potential flake, or was resolved.  re-kicking the tests after a few days gets them to pass

[2018-12-26 18:04] #10663 closed

[2018-12-26 18:51] BanerjeeDeb opened #10666 "User Agent Information is getting ignored in traffic routing in BookInfo"
Even if one creates VirtualService as
...
  http:
  - match:
    - headers:
        user-agent:
          regex: ".*Chrome.*"
    route:
...

the Http header gets ignored and the intended route is not taken.

Long (llcao@cn.ibm.com) located the issue in the code -- the Productpage micro-service is dropping the header. Long already has a fix for the code
 **Describe the bug**
See above.

**Expected

[2018-12-26 19:44] davinkevin commented on #7640
+1 with @chainat !
I didn't find where to do a PR to fix this. Any idea ?

[2018-12-26 20:26] #8313 closed, assigned to nobody

[2018-12-27 02:19] crowfrog commented on #9502
@vadimeisenbergibm thanks for your response!
Yes, maybe it is a new feature for istio. But I think it makes sense for most user cases.
anyway, I got the way to make it working. Thanks again! :)

[2018-12-27 03:54] chainat commented on #7640
@davinkevin I haven't created a PR yet. I will need a little extra time to understand the project structure and code contribution process. FYI - `istio-demo.yaml` seems to be an autogenerated file which value is derived from Helm's file. The fix would be to update a value in a Helm's value file. Will create a PR once I have a chance.

[2018-12-27 05:33] ervikrant06 opened #10673 "Envoy security destination rule policy not working as expected"
**Describe the bug**
namespace define in destinationrule is not honored by Istio policy.

**Expected behavior**
Services in other namespace which is not allowed in destinationrule shouldn't be able to contact the service for which the policy is implemented.

**Steps to reproduce the bug**

- Create policy and destination rule.

[code]

- Create new namespace `curlworld1`, deploy new POD in this NS

[2018-12-27 06:32] ervikrant06 opened #10674 "Disabling helm global mtls setting not working as expected"
**Describe the bug**
Changing mtls default setting from true to false not giving expected results.

**Expected behavior**
Disabling mtls setting should not create secrets of existing deployments.
[code]

**Steps to reproduce the bug**
Do the minimal installation of istio following official guide.

[code]

Before doing the installation, modify the mtls setting from default of true to false.
[code]

[2018-12-27 07:18] #9502 closed

[2018-12-27 09:16] MrSaints commented on #9906
Since upgrading to 1.0.4 (and now, 1.0.5), the issue appears to be resolved.

[2018-12-27 09:20] systemlogic commented on #7909
@facundomedica when you say `add port 30051 to the istio-ingressgateway` does it mean you have edited `kubectl edit svc istio-ingressgateway -n istio-system` and added something like
[code]
I am following the same way. and here is my gateway and VirtualService
[code]
Let me know what I am doing wrong.
NOTE: I am doing all this on IBM blue cloud and able to access the app using nodeport settings.

[2018-12-27 09:20] neillee95 opened #10676 "Rate limiting does not work for external services"
Following this [task](https://istio.io/docs/tasks/traffic-management/egress/) I can access to external services by defining ServiceEntry configurations. And in another [task](https://istio.io/docs/tasks/policy-enforcement/rate-limiting/) I can limit the traffic to a service, it works in cluster. But I failed to limit the traffic from service in cluster to external urls like www.google.com.

I try

[2018-12-27 11:47] shahaf600 commented on #10662
First of all thank you @GregHanson ! it worked perfectly and really completed my missing parts about it. and this is actually what I needed and that's fine that I can't use another VirtualServcice and a ServiceEntry with the same port.

And regarding to this article, I have a question, what do you think about allowing all CIDR addresses for a certain port, and you ask why doing that?
because all o

[2018-12-27 11:53] #8332 closed

[2018-12-27 12:33] 01deyishu commented on #8906
same issue with istio-1.0.4 + kubernetes 1.9

[2018-12-27 12:49] Liv1020 commented on #8938
if template has more containers, you don't know which one container's requested cpu is main, we can add metadata's annotation like `proxy.sidecar.istio.io/concurrency`?

[2018-12-27 13:38] #3012 closed

[2018-12-27 14:36] robertpanzer commented on #10629
It would be nice though to also see at least a flag in the access log of the proxy that initiated the istio mixer check that the request was rejected because of a failed mixer check.

[2018-12-27 14:43] rshriram commented on #10330
we added this feature because another set of users complained that default istio install broke everything.. So we can't remove this.

we need a flag from the global mesh config. Something like allow_traffic_to_unknown_ports

[2018-12-27 15:12] vadimeisenbergibm commented on #10330
@rshriram, OK, let me add the flag.

[2018-12-27 16:36] robertpanzer opened #10679 "Allow external Mixer plugins to edit request headers"
Mixer adapters are able to edit request and response headers via the `istio.io/istio/mixer/pkg/adapter/CheckResult.RouteDirective`.
However this property is not available in the API type `istio.io/api/mixer/adapter/model/v1beta1/CheckResult`.
Therefore external Mixer plugins are not able to edit request and response headers.

It would be nice to have this as well.

[2018-12-27 16:57] esnible commented on #10500
@costinm I thought the Ingress was working, but I was mistaken.  You are correct, Ingresses don't configure IngressGateway pods in 1.0 or 1.1.

I propose that we should not put ANY IP address into the Ingress.  The problem isn't that the wrong address is there, it is that we are not supporting the Ingress.

[2018-12-27 16:57] robertpanzer commented on #10679
Ideally there should be only one type to transport a CheckResult independent of if the adapter is internal or external to the mixer.

[2018-12-27 18:59] jaygorrell commented on #7675
https://github.com/istio/istio/pull/10404 was merged so this can probably be closed

[2018-12-27 21:07] nixgadget opened #10682 "1.1.0-snapshot.4 availability"
I noticed that no release notes have been published for 1.1.0-snapshot.4. What is the ETA for this ?
And where can i get the link for the mac os x build ? I can do the build myself but saves me the trouble if it has already been done.

[2018-12-27 23:09] zhqworld opened #10683 "Application down time issue during istio upgrade time window"
During istio upgrade time window, sidecar of the application reporting 503 due to mixer not available. Here are details:
Istio version 1.0.2, upgrading to 1.0.4
k8s version: 1.12.4

### Test Setup:
istio version: 1.0.2
itstio-policy replicas set to 2, both policy pods running
setup a client app without sidecar, replicas: 1
setup a server app with istio sidecar, replicas: 2

### Test:
client app ma

[2018-12-27 23:57] #7333 closed

[2018-12-28 04:57] sweetib commented on #10606
I am facing same issue. How can check routes for a given pod that doesn't belong to the cluster where Pilot is running? I am getting POD not found error all the time. Everything works in default namespace.

[2018-12-28 06:15] hzxuzhonghu commented on #10606
specify namesapce with `-n xxx`

[2018-12-28 07:02] sweetib commented on #10606
I tried that but no luck

[2018-12-28 08:43] raffaelespazzoli commented on #9888
Yes, we can close this.

On Fri, Dec 28, 2018, 3:25 AM Yongli Chen <notifications@github.com wrote:

[2018-12-28 10:32] ldemailly opened #10685 "fortio.istio.io down"
Something happened ? https://fortio.istio.io/ isn't responding anymore (it serves the perf results)

cc @geeknoid who asked recently about the admin sites config, @ayj who may know how to check/fix it, @mandarjog for perf WG, @rkpagadala (https://fortio-daily.istio.io/ somehow is still up)

[2018-12-28 14:53] rvennam commented on #10632
Follow the steps in the Prerequisites section to [download and prepare for the installation](https://istio.io/docs/setup/kubernetes/download-release/). This should put you inside the Istio package directory where you can kubectl commands.

[2018-12-28 16:03] rvennam commented on #10484
I tried brew install/reinstall/uninstall istioctl and it all appears to work well.

FYI - there was a discussion in the past regarding brew packaging, and pulling down of the yaml files required to install istio into your cluster using istioctl:
https://groups.google.com/forum/#!topic/istio-dev/fnlk9G37auU

[2018-12-28 17:44] #4206 closed

[2018-12-28 17:48] MrSaints opened #10687 "Trace sample probability in Stackdriver vs. Istio Pilot"
Question. In several configurations for Stackdriver, I noticed there is either `sample_probability: 0.1` or `sampleProbability: 0.1` defined (a separate issue, but I am also quite curious what is the _correct way_ here). From my understanding, this configures the sampling probability on the side of Stackdriver.

There is also a configuration for Pilot, `PILOT_TRACE_SAMPLING`.

I am curious what is

[2018-12-28 17:53] quanjielin commented on #10674
it's expected, today set mTLS=fase only disable service to service communication through TLS, while secret is always generated and mounted to sidecar.

https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/templates/sidecar-injector-configmap.yaml#L257

[2018-12-28 17:56] quanjielin commented on #10673
/cc @diemtvu

[2018-12-28 19:34] lukesiler commented on #9943
I am seeing same issue here with our own gateway running in minikube.  After deleting ingress gateway pod, it seems to come up just fine.

Failure log tail:

[2018-12-28 17:56:15.656][18][info][main] external/envoy/source/server/server.cc:401] all clusters initialized. initializing init manager
[2018-12-28 17:56:15.769][18][info][upstream] external/envoy/source/server/lds_api.cc:80] lds: add/updat

[2018-12-28 19:40] mdhume opened #10688 "Expose watch functionality for Istio CRDs"
**Describe the feature request**
Expose watch functionality for Istio CRDs.
Currently the Istio CRD client only exposes Get, List, Create, Update, Delete functions - https://github.com/istio/istio/blob/master/pilot/pkg/config/kube/crd/client.go#L331-L495
However these are not sufficient to set up a watch on any of the Istio CRDs.
Existing pilot controller code does create an Informer however most

[2018-12-28 19:43] lukesiler commented on #9943
Whoops, that drain manager seems to be a red herring as success case exhibits that also after pod reschedule.

[2018-12-28 19:26:07.941][18][info][main] external/envoy/source/server/server.cc:401] all clusters initialized. initializing init manager
[2018-12-28 19:26:07.962][18][info][upstream] external/envoy/source/server/lds_api.cc:80] lds: add/update listener '0.0.0.0_443'
[2018-12-28 19:26:07.9

[2018-12-28 21:10] diemtvu commented on #10673
This is working by design. DestinationRule applied to host (destination) are the same, regardless of namespace.

Add @costinm to comment on upcoming changes.

[2018-12-28 21:48] #8376 closed

[2018-12-28 22:17] justinmoninger commented on #4500
I have a similar issue, was this ever addressed?

[2018-12-28 22:40] Stocco commented on #10360
We are also using istio 1.0.5 and we are receiving 503 errors every time we touch virtualservices or destination rules in order to do canary releases. Our logs are pretty much the same from those logs, but our pilot memory consumption stays in the 40mb mark peaking to the 120mb mark sometimes.  Because of these errors touching the istio rules feels like hell :(

[2018-12-29 01:55] #5345 closed

[2018-12-29 03:40] VenkateshSrini commented on #10568
Hi Any help on this please. I'm unable to proceed

[2018-12-29 07:19] SrinivReddy opened #10691 "app access on external VM after mesh expansion"
Hi, I am unable to access k8s app on external VM with ROOT user after implementing mesh expansion, I am able to access the application with all other users. what may be the reason any idea???

I have implemented mesh expansion in AWS,
In AWS, UDP protocol LoadBalancer is not supporting so I took NodePOrt for exposing Kube-DNS.
'
And, Used weave overlay for acceesing app from external VM.

[2018-12-29 07:52] warmchang commented on #458
PR is in process: https://github.com/kubernetes/kubernetes/pull/71479

[2018-12-29 10:43] #7726 closed

[2018-12-29 16:31] #1403 closed

[2018-12-29 20:44] #7590 closed

[2018-12-30 09:17] #8406 closed

[2018-12-30 10:12] #7872 closed

[2018-12-30 11:52] #4286 closed

[2018-12-30 12:52] Gadigg commented on #9764
Same issue here,
 I'm trying to use Istio for implementing sticky sessions between two versions of the same service for a canary build, the cookie is set on request header but it seems that the VirtualService doesn't know how to lock on to a single subset after it was set to it keeps changing between services according to the weights supplied..
Did anyone succeed on achieving something like that?

[2018-12-30 18:58] jaygorrell commented on #9043
I just edited the original post to represent what the current status of this issue is (as of 1.0.5) with some new details. Would still be happy to test the above changes to see the impact there when it's available.

[2018-12-30 20:49] kbhattac opened #10694 "Webhook "pilot.validation.istio.io" reports invalid configuration error for valid config"
ServiceEntry fails to create egress rule with host "metadata": https://raw.githubusercontent.com/kbhattac/CoolRetailer/master/setup/istio-manifests/whitelist-egress.yaml

kubectl apply -f setup/istio-manifests/whitelist-egress.yaml
Error from server: error when applying patch:
{"metadata":{"annotations":{"kubectl.kubernetes.io/last-applied-configuration":"{\"apiVersion\":\"networking.istio.io/v1al

[2018-12-31 03:48] nigel-dewar opened #10697 "LetsEncrypt very hard to setup"
**Describe the feature request**
Whilst researching istio to use (first time) I found the whole setup around letsencrypt completely missing!

The istio doco goes over creating a self signed cert, and using that, who does that?  thats crazy these days when you have letsEncrypt

Istio's only loading up 1 secret for the entire stack, is really quite poor. There needs to be a decent way of managing th

[2018-12-31 11:37] vadimeisenbergibm commented on #8410
@garystafford Note that it will allow traffic to any IP on the port 27017. You can test it by running
[code]

[2018-12-31 13:04] VeitSanner commented on #10484
Works on my end as well. Thanks for the fast solution.

[2018-12-31 13:55] sdake commented on #10688
@mdhume the project direction is to use Galley to watch CRDs.  Galley consolidates CRD watching and then exposes that information via MCP.  The main rationale is the ListWatch API is very expensive for kubeapi to handle, and we want to minimize the impact there as much as possible.

If you plan to implement gaps that exist in MCP in galley, why not just submit a PR that does that work?

See this r

[2018-12-31 14:05] sdake commented on #10697
Istio does have an implementation of certmanage (Reference: r, but from what I can tell (which isn't exhaustive) - there is no documentation for certmanager's integration with Istio.

I agree with your assessment that the documentation could be improved in this area to point out how certmanager could be used.  Can you file an issue here to track the documentation ssue?

https://github.com/istio/is

[2018-12-31 14:05] sdake commented on #10697
https://github.com/istio/istio/issues/6486

[2018-12-31 14:41] sdake commented on #10633
@thockin apologies for long delay - holiday season.

If you are using a released version of Istio (1.0.z series) this issue cannot occur.  This would indicate you are using Istio 1.1 or master.  If you are giving Istio an eval, may I recommend using the release-1.1 branch rather than master.

For preliminary instructions for 1.1, see:
https://github.com/istio/istio.io/issues/2787#issuecomment-4436

[2018-12-31 15:02] sbezverk commented on #10694
I tried to locate which part of the webhook code generates this error and even though I could clearly see the code validating `ServiceEntry` crd, it does not have any error related to `host metadata`.  I am using `master` branch of Istio. I think Steve's request is right about version. It looks to me there is a mismatch between webhook version and ServiceEntry config you try to push.

[2018-12-31 16:32] costinm commented on #10330
Please make sure when Sidecar is implemented, this is preserved - i.e. if user adds a '*' to the Sidecar
egress, that namespace has the equivalent 'allow_traffic_to_unknown_ports'.

Most users I know require egress to work as before installing Istio, i.e. 'allow_traffic'  - but they configure this using the other option, the CIDR range. It would be good to cross-link the docs. The CIDR range doesn

[2018-12-31 16:47] vadimeisenbergibm commented on #10330
@costinm Will do. Note that currently, by default the traffic to unknown ports is not controlled - it does not have the mixer filter. @rshriram Should I add the mixer chain before the filter below? (the filter itself will be added conditioned on `ALLOW_ANY`)

[code]

[2019-01-01 01:11] nigel-dewar commented on #6486
Im not going to be using istio until they sort out some basics, like using letsencrypt. I might be the only 1 who feels like that, but ya know, just sayin.

[2019-01-01 01:12] nigel-dewar commented on #10697
Thanks @sdake , unfortunately I only have a few days off in break and then going back to work, so I cant spend the time. I'll watch and wait till something happens, Im sure somebody in 2019 will sort it out. hopefully.

[2019-01-01 01:12] #10697 closed

[2019-01-01 07:37] tjimsk commented on #5995
still encountering this problem in 2019.

I own the domain from `gateway.spec.servers[0].hosts` and I get 404 if I don't use `"*"` for `virtualservice.spec.hosts[0]`.

If I use `"*"`, how am I supposed to match subdomains with my services?

[2019-01-01 12:35] murarisumit commented on #10484
@rvennam I see that version issue is there, as it is on discussion page.

Will try and look how to populate that info during build, meanwhile if anyone has pointers about how to do that, it would be really helpful.

[2019-01-01 21:11] #8437 closed

[2019-01-02 03:56] VenkateshSrini commented on #10568
any suggestion?

[2019-01-02 04:18] #6409 closed

[2019-01-02 10:17] rahul2393 opened #10701 "Getting error when deploying through Helm"
I was trying to deploy on clean cluster
My Helm version is 2.12
I used 2.10 version of Helm and was able to deploy it successfully, so there is the issue while deploying when Helm version > 2.10

![ad](https://user-images.githubusercontent.com/18293335/50587911-c50f0780-0ea5-11e9-97ce-143ae90f428d.png)

[2019-01-02 12:26] motek80 opened #10702 "Weird SNI Behavior"
**Describe the bug**
I have two domains:
"a.acme.com" and "b.acme.com" (both are A records pointing to the same AWS ELB)

I want to accept TLS traffic for "a.acme.com" but not for "b.acme.com". I want to use SNI feature to route incoming traffic based on destination host.

 I configured Gateway like this:

[code]

If I trying right away to send request to "b.acme.com" - it fails (as expected).

Ho

[2019-01-02 12:39] tsiq-oliver commented on #10694
FWIW, I just ran into this (with a different hostname).  It appears the cause is https://github.com/istio/istio/blob/master/pilot/pkg/model/validation.go#L1818:

[code]

[2019-01-02 13:13] jaygorrell opened #10703 "Zero downtime Deployments and HPA with services using Istio"
**Describe the feature request**
When rolling out new pods in Kubernetes, it's a common solution to add a `preStop` lifecycle hook to wait before cleaning up the pod so that the application can handle the sigterm. In Istio, this doesn't work because the cause is different -- it's based on local caching.

Details for these are written up very well by @sdaschner here:
https://blog.sebastian-daschner

[2019-01-02 13:14] ervikrant06 commented on #10674
Thanks.

[2019-01-02 13:14] #10674 closed

[2019-01-02 13:54] coolboi567 commented on #5218
I encountered similar issue today.
[code]

With the latest version of istioctl:
[code]

[2019-01-02 14:13] motek80 commented on #10702
Looks like configuration mess on my side, closing

[2019-01-02 14:13] #10702 closed

[2019-01-02 14:39] esnible commented on #10484
@murarisumit _istioctl_ version is baked into the binary.  The script _bin/get_workspace_status.sh_ uses the environment variables `VERSION` and `BUILD_GIT_REVISION` to create some flags, then _bin/gobuild.sh_ uses the `-ldflags` to bake them in.

The recipe should set BUILD_GIT_REVISION to the GIT revision of https://github.com/istio/istio .  I don't know if the VERSION appears in the source code

[2019-01-02 14:48] linsun commented on #10633
@thockin yes, what @sdake said.  Since this file is generated, it is only in the released version right now, not head.

[2019-01-02 15:02] linsun commented on #10701
thanks for the report.  I assume you are relying on helm to install the istio custom CRDs for you?

If so, it is well known to us that helm 2.x doesn't manage CRDs well and we are leaning towards not using helm to manage CRDs.  cc @sdake

[2019-01-02 15:05] rshriram commented on #8264
@itsrajivbansal / @virendrasingh007 really sorry. I missed this notification (one too many GH notifications).

So if you want to add per-filter config, simply add an extensionConfig field to the VirtualService.route block. This field can specify the per filter config and in Istio, you simply convert this field to perFilterConfig.

And then, to enable your custom filter, you use the EnvoyFilter CRD

[2019-01-02 15:23] linsun opened #10706 "flaky TestGcpGetServiceIdentity in unit-tests"
Need to open up a PR to disable it before it is stable.  This test failed over 30% per test grid data for various PRs.

[2019-01-02 15:30] linsun commented on #10706
@hklai do we have instruction documented for disabling an individual test out of a bucket?  I can't find it other than disable/make optional the whole test set like unit-tests.

[2019-01-02 15:45] rvansa commented on #10706
I am having this issue building master, too: seems that the certificate is valid only until `2019-01-01 15:04:05 +0000 UTC`

[2019-01-02 16:31] vadimeisenbergibm commented on #10633
@sdake How about putting the dependencies in the released tar? What is the point of letting the users update dependencies?

[2019-01-02 16:58] sbezverk commented on #10694
@tsiq-oliver what was the host name? this code catches is the host name is "*" or not fqdn.

[2019-01-02 17:00] tsiq-oliver commented on #10694
@sbezverk In my case, it was my Travis VM's hostname (something like `travis-job-0cc65e30-9e6e-4e18-a2d4-deadbeef`).  So indeed not an FQDN, which is also the case for the OP here (`metadata`).

[2019-01-02 17:13] devops083 commented on #10691
Today, I tried to configure mesh expansion in GKE, after configuring mesh expansion on GKE, there also I am not able to access k8s services with ROOT user.

[2019-01-02 19:08] quanjielin commented on #10706
seems all [recent run fai](https://testgrid.k8s.io/istio-presubmits#unit-tests&include-filter-by-regex=%5EOverall%24%7Cistio%5C.io%5C/istio%5C/security%5C/pkg%5C/probe%5C%20TestGcpGetServiceIdentity)l which blocks check in

[2019-01-02 19:13] myidpt commented on #10706
Sorry, the cert is expired. I will create a PR to fix that.

[2019-01-02 19:21] linsun commented on #10358
what k8s env are you using?  is it open shift?

It is known that in some k8s distro the security is tightened thus root privilege is required for init container.  The community is aware of this and are working towards a solution using https://github.com/istio/cni

[2019-01-02 19:40] bianpengyuan commented on #10687
There are two data paths to collect trace spans: 1) envoy directly reports to zipkin/jeager. 2) envoy reports to various backends through mixer and its backend adapters (Stackdriver adapter is one of them). Pilot config is for envoy tracing sample rate, which affects data path 1). Stackdriver trace sample rate config takes effect when stackdriver adapter processes data, which happens in data path

[2019-01-02 19:40] #10687 closed

[2019-01-02 20:53] geeknoid commented on #10685
The DNS entry for fortio.istio.io points to 35.197.102.163. I can ping that address. But trying to access the web site there fails with ERR_CONNECTION_REFUSED. Both for http: and https:.

[2019-01-02 20:55] ayj commented on #10685
[code]

[2019-01-02 21:12] ayj commented on #10685
Ingress can't get configuration from Pilot.

[code]

Possibly related to https://github.com/istio/istio/issues/3757. It looks like we may still be running Istio 0.7.x. cc @mandarjog for upgrading Istio/fortio perf cluster.

[2019-01-02 21:20] ldemailly commented on #10685
maybe the cluster k8s autoupgrade caused problems and it just needs a
restart.

don’t blindly upgrade from 0.7 as it won’t work with the ingress spec and
certmanager setup

assuming you can first restore fortio.istio.io (maybe a simple restart of
pilot?) I would test a 1.x setup on fortio-stage first (which also runs
fortio-daily.istio.io which somehow still works so maybe check what has
become di

[2019-01-02 21:20] #10706 closed

[2019-01-02 21:20] linsun commented on #10706
Thank you @myidpt

[2019-01-02 21:30] ayj commented on #10685
fortio.istio.io seems to be working again after I restarted Pilot, Ingress, and CA. I'll defer to @mandarjog on upgrading the control plane.

[2019-01-02 21:37] mdhume commented on #10688
@sdake Seems like the mcp client code is not present in Istio 1.0.x - only present in istio-1.1.snapshot -https://github.com/istio/istio/blob/1.1.0.snapshot.1/pilot/pkg/config/coredatamodel/controller.go

Since Istio 1.1 is not released yet, could we temporarily add support for the functions I mentioned in the client code and then switch over to using galley subsequently. We are blocked on upgradi

[2019-01-02 21:42] ldemailly commented on #10685
thanks jason!

[2019-01-02 21:42] #10685 closed

[2019-01-02 21:45] snguyen-ith commented on #10588
I can install 1.0.4 just fine, but it looks like the 1.0.5 release is giving problems with the CRDS when installing via the helm chart

[2019-01-02 21:45] jbialy commented on #7776
For the most recent releases of `Istio`, are the annotations for nginx-ingress deployment and ingresses still required in order to properly route traffic from nginx to the mesh?

[2019-01-02 22:21] quanjielin commented on #10283
with https://github.com/istio/istio/pull/10672 and https://github.com/istio/istio/pull/10657, api server review normal jwt fail with 403(see below debug logs from citadel), which causes citadel fails to issue cert to nodeagent.  @lei-tang could you pls take a look ?

[code]

[2019-01-02 22:38] ken-experiment commented on #1703
Hi there @ZackButcher @rshriram , after reading this issue and the PR, I'm a bit confused of the requested feature and the implementation. If you guys could take some time to help me clear my confusion, it would be much appreciated.

So I'm using Envoy directly, not through istio. And the scenario @zhaohuabing described is exactly what we need. But reading through [Envoy Documentation](https://www

[2019-01-02 23:06] myidpt opened #10712 "Integrate Istio Citadel agent and Vault on VM"
**Describe the feature request**
The Citadel Agents running on VMs should be able to request certificates from Vault.

**Additional context**
This work is related to https://github.com/istio/istio/issues/10356.

[2019-01-03 00:35] ayj commented on #10688
Galley w/MCP is available in Istio 1.1+. We don't have any plans to backport to 1.0.x.

@mdhume, it looks like you might be using pilot/pkg/config/kube/crd/client.go as a client library for accessing Istio CRDs from 3rd party code? If so, you might be to track https://github.com/istio/istio/issues/8772 which would solve this problem for _all_ Istio CRDs. This won't decrease load on the k8s apiserv

[2019-01-03 00:47] #9613 closed

[2019-01-03 01:06] mkinoshi opened #10716 "Write EPIPE Error or read ECONNRESET error when using istio with cloudsql proxy sidecar"
**Describe the bug**
I'm using GCK, and I have a pod that runs an application along with both istio and cloudsql proxy sidecar. The application can successfully access database but always gets the following errors in the application logs. Any ideas how to solve this error ?
[code]
[code]
Cloudsql proxy runs with the following setup.
[code]

I also wrote the following `ServiceEntry` and `VirtualSer

[2019-01-03 01:37] MrSaints commented on #10687
I see, if that is the case, I am quite uncertain as to why it seems to be sampling quite possibly 100% of traces to Stackdriver.

[2019-01-03 01:38] lei-tang commented on #10283
For the review token attached here to work, the review token needs to be issued by the k8s API server you are testing and has correct RBAC. If any of the above two conditions is not met, it will fail.

[2019-01-03 01:40] lei-tang commented on #10283
/assign @quanjielin

[2019-01-03 01:50] quanjielin commented on #10283
@myidpt  could you pls take a look of this, does the [review token got in citadel](https://github.com/istio/istio/blob/release-1.1/security/pkg/server/ca/authenticate/kube_jwt.go#L42) satisfy above two requirements that @lei-tang mentioned above ?

[2019-01-03 01:56] myidpt commented on #10283
Yes, I can verify that. @lei-tang do you know which RBAC permission allows the tokenreview API call?

[2019-01-03 02:12] PiotrSikora commented on #9104
You should be able to use [`tls.Config`](https://golang.org/pkg/crypto/tls/#Config) to set min/max protocol versions in Go, e.g.
[code]
Background: I'm in process of [modernizing TLS defaults in Envoy](https://github.com/envoyproxy/envoy/issues/5401), so it would be great to make sure that configuring TLS protocol versions in Istio works, so that users can re-enable older protocols if needed.

[2019-01-03 02:17] hzxuzhonghu commented on #10391
This makes sure retry on will not happen to previously failed host.  @sakthishanmugam02 Would you help verify this?

https://github.com/istio/istio/blob/e3653d5a8244c2f30e2e0600cb5af956a575bae1/pilot/pkg/networking/core/v1alpha3/route/route.go#L547-L552

[2019-01-03 02:17] lei-tang commented on #10283
The review token should have RBAC role "system:auth-delegator". For the details, please refer to https://kubernetes.io/docs/reference/access-authn-authz/rbac/. Quoted from this k8s document link: the "system:auth-delegator" role allows delegated authentication and authorization checks. This is commonly used by add-on API servers for unified authentication and authorization.

[2019-01-03 02:21] myidpt commented on #10283
Thanks @lei-tang!

[2019-01-03 03:07] irisdingbj commented on #10312
fixed

[2019-01-03 03:07] #10312 closed

[2019-01-03 03:07] irisdingbj commented on #10130
fixed

[2019-01-03 03:07] #10130 closed

[2019-01-03 06:13] sakthishanmugam02 commented on #10391
@hzxuzhonghu
Could you please elaborate?

My issue was it is not retrying, you mean to say. because of this check. it is not retrying?

[2019-01-03 07:15] yangdihangN commented on #10503
Where can I get more public information about mcp? We want to use eureka as one of the istio's registry to be compatible with spring-cloud based microservices.
Or can you give me enough permission to view "Pilot Decomposition"? @ayj

[2019-01-03 07:55] hzxuzhonghu commented on #10391
Yeah

[2019-01-03 08:21] denglouping opened #10719 "Configuration of rate-limiting doesn't work on grpc service"
I have a pod that provide both http and grpc api at different ports

I wrote a configuration of rate limiting, and when I test the http port, I witness the qutota is exhausted error, but when it comes to the grpc port, it just worked as usual. I wonder if I missed some special parameters in the configuration when you want to limit a grpc port or does istio just not support rate-limiting for grpc?

[2019-01-03 08:59] irisdingbj commented on #10023
@nmittler now every agent will have his own portManager.  When envoy starts the port reserved by his portManager might be reserved by another portManager. So it will have error like" external/envoy/source/server/server.cc:84] error initializing configuration '/tmp/istio_agent_envoy_config879447953.yaml': cannot bind '127.0.0.1:36463': Address already in use"
I have submitted a PR https://github.co

[2019-01-03 09:01] murarisumit commented on #10484
@esnible thanks for help, really helpful pointers. H

omebrew generally discourages to build from git repo or they prefer from source archive. As I see here https://github.com/istio/istio/blob/master/bin/get_workspace_status.sh#L17, it doesn't check for environment variables and directly gets it from git repo. Pardon me for naive-ness, if I have missed something here.

Thanks to your reference, fo

[2019-01-03 09:06] coolboi567 opened #10721 "Error: failed to convert to proto. unknown field "tracing" in v1alpha1.ProxyConfig"
**Describe the bug**
I encountered the following issue today. The same YAML file was working fine couple of months back.
[code]

**Version**
[code]

**Installation**
Using helm charts.

**Environment**
Google Cloud Platform

[2019-01-03 09:21] coolboi567 commented on #10721
Hello @linsun, your input would be helpful.

[2019-01-03 09:22] coolboi567 commented on #10721
Hello @linsun, help would be appreciated.

[2019-01-03 09:43] wql6 opened #10722 "istio-tracing Readiness probe failed"
**Describe the bug**
When I was installing the istio software, I encountered the following problem "Readiness probe failed" when executing statements " kubectl istio-1.0.apply -f istio-1.0.0/install/kubernetes/istio-demo.yaml"

**Expected behavior**
`
# istioctl version
[code]

#kubectl get pods -n istio-system
[code]

# kubectl describe pod istio-tracing-6445d6dbbf-jjblq -n istio-system
[code]

H

[2019-01-03 10:56] thomschke opened #10724 "K8s: Using common labels with namespace 'app.kubernetes.io'"
There are [common labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels) for K8s and Helm [recommends](https://github.com/helm/helm/blob/master/docs/chart_best_practices/labels.md) using these:

- `app.kubernetes.io/name`
- `app.kubernetes.io/version`

Actually Istio requires its [own label set](https://istio.io/docs/setup/kubernetes/spec-requirements):

- `app`
-

[2019-01-03 11:09] thomschke commented on #10724
Due to multiple app instances are able to run in one service mesh
Istio has to check following common labels (in this order):

- `app.kubernetes.io/instance` and if not exists then
- `app.kubernetes.io/name` and if not exists then
- `app`.

and

- `app.kubernetes.io/version` and if not exists then
- `version`.

[2019-01-03 12:13] #8481 closed

[2019-01-03 12:25] vadimeisenbergibm opened #10725 "grpc-go info log appears in istioctl on Mac, causing kube-inject to fail"
The message :`info	Channelz: socket options are not supported on non-linux os and appengine.` appears in stdout on Mac, in the latest build https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.1-20190101-09-15/.

A related issue https://github.com/grpc/grpc-go/issues/2335.

[2019-01-03 12:43] sakthishanmugam02 commented on #10391
@hzxuzhonghu how to configure retry on grpc codes then?

[2019-01-03 13:00] shakti-das commented on #10358
@linsun We have our own k8s deployment and the restrictions are intended restrictions. But we have a workaround for now till the CNI solution is ready. So, I think this issue can be closed.

[2019-01-03 14:45] linsun commented on #10358
Thank you @shakti-das !

[2019-01-03 14:54] linsun commented on #10721
my guess is your mesh config is outdated/not refreshed to 1.0.5 level but I haven't tried 1.0.5 personally myself.

[2019-01-03 14:59] nmittler commented on #10023
@irisdingbj approved ... thanks!

[2019-01-03 15:58] brian-avery commented on #8887
The link is still broken on the web page.

[2019-01-03 16:40] rvennam commented on #10552
New 1.10.0 images have been built, tagged with 1.10.0 & latest, pushed to dockerhub and yaml files have been updated.

[2019-01-03 16:41] rvennam commented on #6383
The script has been updated to output a message with a workaround if this happens.
`Unable to get latest Istio version. Set ISTIO_VERSION env var and re-run. (export ISTIO_VERSION=1.0.4)`

[2019-01-03 18:18] ayj commented on #10503
See https://goo.gl/EJu5hg for a high-level overview of MCP. You can get access to that doc and the pilot decomposition doc by joining the istio-team-drive-access account per the instructions at https://istio.io/about/community.

[2019-01-03 18:53] ayj commented on #8736
/assign @clyang82

[2019-01-03 18:53] istio-testing commented on #8736
@ayj: GitHub didn't allow me to assign the following users: clyang82.

Note that only [istio members](https://github.com/orgs/istio/people) and repo collaborators can be assigned.
For more information please see [the contributor guide](https://git.k8s.io/community/contributors/guide/#issue-assignment-in-github)

<details>

In response to [this](https://github.com/istio/istio/issues/8736#issuecomme

[2019-01-03 18:54] ayj commented on #8736
/assign @clyang82

[2019-01-03 21:06] k-vishwa commented on #4817
I'm also getting the same error "Error: Connection reset by peer". Here is the scenraio

redis pods are in a namespace where istio injection is disabled.
I have another po (say foo) in a different namesapce where istio injection is enabled.

I can able to connect to redis mater using redis-cli, but when I do any operations say read/write it is throwing error.

root@foo-lmnxyz:/# redis-cli -h 10.44

[2019-01-03 21:36] polothy commented on #10701
Is there a way to install the CRDs prior to running helm?  Was hoping I could disable the install of CRDs in helm via `global.crds`, but it appears it wont do anything if you have helm later than 2.10:

[code]

[2019-01-03 22:58] polothy commented on #10701
For us, we were consistently getting this error with Helm 2.12, but 2.12.1 seems to resolve it (NOTE: Tiller must be on 2.12.1 as well).  Release notes about the regression: https://github.com/helm/helm/releases/tag/v2.12.1

[2019-01-03 23:07] FierceElements commented on #6706
We're also trying to deploy the `istio-ingressgateway` pods as a DaemonSet of privileged pods whose proxies bind to port 80 and 443 directly on the host. We wanted to avoid setting the `nodePorts` of the `istio-ingressgateway` service to those ports, which would require changing the `--service-node-port-range` option of the apiserver to allow such lower ports, and we don't want to give all users t

[2019-01-03 23:57] quanjielin commented on #10283
with https://github.com/istio/istio/pull/10728, cert was issued by citadel and pushed to sidecar through nodeagent successfully; however mtls handshake fails using the cert.
[code]
below is a sample cert issued by citadel its SAN field is ```DNS:foo:default``` which seems wrong, the format should be something like ```URI:spiffe://cluster.local/ns/foo/sa/sleep```(aligned with cert issued by citadel

[2019-01-04 00:30] #9725 closed

[2019-01-04 01:14] kyessenov commented on #10679
Both in-process and out-of-process support the route directive. There are integration tests in the code base that include samples, but please make sure to look at the developer guide: https://github.com/istio/istio/wiki/Route-directive-adapter-development-guide

The API for out-of-process adapters does not use CheckResult directly. Instead, it uses a generic output proto-type, from which the opera

[2019-01-04 01:16] louiscryan commented on #10683
@mandarjog can you triage ?

[2019-01-04 01:31] hzxuzhonghu commented on #10391
Don't you have multi service instances ? Then configure as above seems work well.

The reason why we set `envoy.retry_host_predicates.previous_hosts` is not to retry previous attempted host.
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http_connection_management.html?highlight=envoy%20retry_host_predicates%20previous_hosts

[2019-01-04 05:36] sdake commented on #10701
Istio 1.1 won't include `crd-install` usage.  On upgrade from 1.0, CRDs will no longer be managed by Helm.

You asked if you can register the CRDs ahead of time.  This can be done via:
https://istio.io/docs/setup/kubernetes/helm-install/#installation-steps

[2019-01-04 05:41] sdake commented on #10688
@mdhume I don't believe there is another planned release of the 1.0 series.  I think @mandarjog leads the maintenance branch, but I'm not certain.  We don't typically add features to stable releases, however.

Cheers
-steve

[2019-01-04 05:41] sdake commented on #10688
This is almost spot on, but as you have found MCP is not available until 1.1.  I am also not clear if MCP supports distribution to third party applications, but I suspect it would be possible.

[2019-01-04 05:51] kbhattac opened #10732 "Enable 128 bit x-b3-traceid istio-proxy/Envoy headers"
**GCP Stackdriver Trace/Logging correlation requires 128 bit traceid**

Istio traces don't have log correlation as traceids are not properly filled up:

`
timestamp>="2019-01-04T05:31:34.408000Z" timestamp<="2019-01-04T05:31:54.411000Z" (trace="projects/coolretailer/traces/00000000000000000c627e0ffa7588b3" OR labels."appengine.googleapis.com/trace_id"="00000000000000000c627e0ffa7588b3")
`

Envoy i

[2019-01-04 05:52] LzyRapx commented on #10457
updated.
solved.

[2019-01-04 07:12] szymonpk commented on #6566
Just FYI, idle-timeout works on 1.0.5 with double quoting `service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: '"120"'`, as suggested by @abuchanan920.

[2019-01-04 07:14] robertpanzer commented on #10679
Thanks for the pointer.
Now I also found the docs for the config in the preliminary Istio docs.
That means though that I would have to build a second version of the adapter that is not compatible with 1.0, right?

[2019-01-04 07:14] laniakea1990 commented on #7525
I had the same problem in istio 1.0.3 version.
Pilot  print the log  irregularly:
`error  Failed to update lock: Operation cannot be fulfilled on configmaps "istio-ingress-controller-leader-istio": the object has been modified; please apply your changes to the latest version and try again.`

[2019-01-04 07:21] #10679 closed

[2019-01-04 07:34] sakthishanmugam02 commented on #10391
@hzxuzhonghu Is there any ways to unset this value. My use case is to retry irrespective of the previous failure attempt;

**also one important thing here: it never retries in my case though it is freshly brought up.** (not even once).

[2019-01-04 07:40] hzxuzhonghu commented on #10391
There is no way to unset this.

[2019-01-04 08:42] coolboi567 commented on #10721
After deleting istio as well as tiller and starting over.
The issue seems to be resolved.

[2019-01-04 08:42] #10721 closed

[2019-01-04 09:13] objectiser commented on #10732
Agree we should switch to 128bit.

[2019-01-04 10:27] arcimboldo opened #10733 "IPv6: istio proxy_init should not block connections to `::1`"
**Describe the bug**

Connection to `localhost` (`::1`) are blocked when using IPv6. In many distributions `localhost` resolves to `::1` instead of `127.0.0.1`, even when outbound ipv6 connectivity is not enabled. This causes connectivity to services in the same host/pod to be blocked in some setup.

**Expected behavior**

When using IPv4 istio does not intercept/block connections to localhost. I

[2019-01-04 10:42] sakthishanmugam02 commented on #10391
@hzxuzhonghu as I mentioned, it is not even retried once? what could be the reason; as per this check, only for already failed host it will not retry right? in my case it never retries

[2019-01-04 10:55] chenzhenyang commented on #8218
@fadeojo 我也遇到这个问题了，但是我用这个方法，也没有解决

[2019-01-04 12:03] mathspanda commented on #9710
Is there anyone working on this? I could help with it.

[2019-01-04 12:45] liamawhite commented on #4488
I believe this has been added.

[2019-01-04 12:45] #4488 closed

[2019-01-04 12:49] metacosm commented on #4488
Has this been documented? If yes, where?

[2019-01-04 15:57] klustria commented on #10719
Can you please provide a sample of your configuration and your test case scenario?

[2019-01-04 17:01] polothy commented on #10701
Sounds great, looking forward to that.

AFAIK, that doesn't work because when you try to install the helm chart, it will try to re-add the CRDs and there is no way to prevent the CRDs from being added.  But, since Helm 2.12.1 works, we are OK for now and will patiently await for Istio 1.1!  Cheers!

[2019-01-04 17:38] munrodg commented on #7912
@rshriram we believe your subsetting work should address this issue.

[2019-01-04 17:41] munrodg commented on #9818
@ZackButcher can you take a look at this issue.

[2019-01-04 17:43] duderino commented on #9818
@costinm @rshriram @frankbu how would you go about implementing this?

[2019-01-04 17:48] munrodg commented on #7878
@ZackButcher can you take a look at this issue.

[2019-01-04 17:48] duderino commented on #7878
@costinm @rshriram @frankbu how would you go about implementing this one too?

[2019-01-04 18:20] linsun commented on #10725
@ibm-jason could you help look at this?

[2019-01-04 18:21] ibm-jason commented on #10725
@linsun absolutely!

[2019-01-04 18:23] linsun commented on #10725
@esnible assign to you to help review any PR for it, since I can't assign to @ibm-jason.

[2019-01-04 18:31] esnible commented on #10722
We must determine why istio-tracing, istio-ingressgateway, and istio-egressgateway are crashing for you.  Can you do `kubectl logs -n istio-system <pod>` to see if there are error messages?

[2019-01-04 18:37] esnible commented on #10716
Those errors usually indicate that one side is doing TLS and the other is not.

I see you have configured port 5432 and your rule is for port 3307.  You might try adding TCP ports for 5432 and 3306.

I will often troubleshoot this by starting a pod with the _mysql_ client in it and doing `mysql -u dbuser -p<password> -h <host> -P3306 -e "show databases"` interactively, tinkering with the Istio rul

[2019-01-04 20:17] arun-gupta commented on #6383
@rvennam The default download is still failing:

<img width="999" alt="screen shot 2019-01-04 at 12 14 22 pm" src="https://user-images.githubusercontent.com/113947/50708830-89497e80-101a-11e9-892e-fc565f227c0b.png">

Is this not a problem for all macOS users?

[2019-01-04 20:35] mkinoshi commented on #10588
It' still happening on helm `1.12.1`. Cleaned up the environment and purge deleted istio, but no luck.

[2019-01-04 21:16] rvennam commented on #6383
@arun-gupta This isn't a problem for all users. As someone pointed out earlier, I suspect its a github rate limiting issue from your network

Take a look at the sh script : https://github.com/istio/istio/blob/master/release/downloadIstioCandidate.sh#L25
It tries to get the ISTIO_VERSION by curling https://api.github.com/repos/istio/istio/releases/latest

I suspect this curl call is failing for you

[2019-01-04 22:02] isnellfeikema-isp commented on #10588
@mkinoshi: You may need to delete the CRD definitions manually.

[2019-01-04 22:04] kyessenov opened #10746 "Deprecate config.istio.io/v1alpha2 CRD group"
This is technical debt from the times of too-many CRDs per each adapter in mixer. The work is to align Mixer's configs by placing them in policy.istio.io/v1alpha3 group-version and the supported kinds:
- attributemanifest
- rule
- instance
- handler

This is also a chance to re-evaluate the config protos.

/cc @ozevren
/cc @geeknoid

[2019-01-04 22:18] cmluciano commented on #5679
not stale

[2019-01-05 02:13] arun-gupta opened #10748 "Gateway and VirtualService ordering should not matter"
**Describe the bug**
{{ Succinctly describe the bug }}

Gateway needs to be created VirtualService in order for the service to respond back. Otherwise the service endpoint gives `curl: (52) Empty reply from server`.

**Expected behavior**
Expected the service to return a valid response

**Steps to reproduce the bug**

Use the following config file for the service to return an error:

[code]

If Ga

[2019-01-05 02:19] ZackButcher commented on #10748
We reliably saw Pilot fail to configure the ingress gateway when these resources were submitted in the order VirtualService-then-Gateway (in rapid succession - `kubectl apply -f file-with-virtualservice-then-gateway.yaml`), but works as expected in the other order.

This seems to point to a race condition processing the config and generating xDS for Envoy. I would've expected the error in xDS to b

[2019-01-05 02:41] VenkateshSrini commented on #10568
any suggestion

[2019-01-05 03:11] arun-gupta opened #10749 "CRDs should be removed with Istio Helm charts"
**Describe the bug**

CRDs are not deleted during Istio Helm chart deletion

**Expected behavior**

Deleted Istio as:

`helm del --purge istio`

Tried installing Istio again using the Helm chart. It reported:

[code]

CRDs should have been removed for a clean removal of Istio.

**Steps to reproduce the bug**

Install Istio:

[code]
Delete istio: `helm del --purge istio`

Install again

**Version**

[2019-01-05 06:38] pengweiqhca opened #10750 "What the plan to support Windows container?"
https://github.com/istio/istio/issues/2641

[2019-01-05 07:59] liamawhite commented on #4488
https://preliminary.istio.io/docs/reference/config/istio.networking.v1alpha3/#OutlierDetection under `minHealthPercent`

The functionality should be in the 1.1 release.

[2019-01-05 12:06] #8548 closed

[2019-01-05 14:03] #8535 closed

[2019-01-05 16:38] #8543 closed

[2019-01-05 21:53] #6769 closed

[2019-01-05 22:33] #7820 closed

[2019-01-05 23:41] rvennam commented on #10749
This is expected. Please see https://github.com/istio/istio/issues/7688

[2019-01-05 23:47] arun-gupta commented on #10749
Helm version:

[code]

This is a freshly installed k8s cluster.

What else should be done?

[2019-01-06 01:55] sdake opened #10757 "Flakey test condition"
In a PR I am working on I see the following failure:
https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/10756/e2e-bookInfoTests-envoyv2-v1alpha3/12250/build-log.txt

A clean run of this same test case is:
https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/10756/e2e-bookInfoTests-envoyv2-v1alpha3/12250/build-log.txt

The code that is killed while looping is this:
htt

[2019-01-06 01:57] sdake commented on #10757
note, I am not sure if my PR is to blame, but if it is, the current test code is a bit brittle.  The PR in question is here:
https://github.com/istio/istio/pull/10562

Cheers
-steve

[2019-01-06 05:52] sdake commented on #9858
Here is another example of a context deadline failure reported:
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/10269/e2e-dashboard/9688

this time in e2e-dashboard in a different PR.

[2019-01-06 06:42] sdake commented on #10749
@arun-gupta for Istio 1.0.z you can manually delete the crds that have been registered using
`kubectl delete -f install/kubernetes/helm/templates/crds.yaml`.  In 1.1, we are resolving this by adding an initializaiton chart.  You can follow that work here:

https://github.com/istio/istio/pull/10562

[2019-01-06 06:45] sdake commented on #10748
@ZackButcher afaik the periodic config re-push doesn't happen anymore.  Instead, each xDS response is calculated for each specific sidecar each time - atleast for EDS.  Still seems like a problem :)

[2019-01-06 06:46] arun-gupta commented on #10749
@sdake yep, I've been deleting it manually for now, will close the issue.

[2019-01-06 06:46] #10749 closed

[2019-01-06 06:49] sdake commented on #10722
@wql6 you mentioned that the readiness probe failed in 1.0.0, but your istioctl indicates you have a 1.0.5 binary.  Can you clarify if you installed the 1.0.5 demo yaml?

I believe readiness probes in 1.0.0 were a little flakey, but YMMV.

Cheers
-steve

[2019-01-06 06:57] sdake commented on #10694
@kbhattac note that SEs must be FQDNs.  Your yaml that is failing parsing does not contain a FQDN hostname:
[code]

in this case, metadata is not a fully qualified host.  It is possible a protection check was added in a z stream of Istio to prevent operators from configuring their systems in this way.

Cheers
-steve

[2019-01-06 06:59] neweyes opened #10759 "istio-mesh state is Down"
Hi，all. This problem has been bothering me for a few days. I have no idea about it now, How can I get it running？

![2019-01-06 14 58 33](https://user-images.githubusercontent.com/8642098/50733169-9e154600-11c3-11e9-9449-b37a79cf8c9b.png)
![2019-01-06 14 58 43](https://user-images.githubusercontent.com/8642098/50733173-a53c5400-11c3-11e9-8fd2-54e1b917587c.png)

[2019-01-06 07:03] sdake commented on #10633
@vadimeisenbergibm I have said time and again in multiple issue trackers that the released tarball should be generated using `helm package -u`.  This will generate a tarball with all dependencies packaged and ready to be deployable from a helm repo add operation.

Further `helm fetch` can be used with `helm template` from a `helm package -u` packaged tarball.  Also `helm install` can also be used

[2019-01-06 07:05] sdake commented on #10632
@thockin I'd highly recommend if you are working with Istio to use the release-1.1 branch.  The master branch has been blocked for months and is in a bit of a state of disrepair.

Cheers
-steve

[2019-01-06 08:07] sdake commented on #7863
@esnible confirmed tonight while I was debuugging other gate failures:

[code]
https://circleci.com/gh/istio/istio/282475?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

nice find!

[2019-01-06 09:01] sdake commented on #9685
rolloutstatus has a context timer of 480 seconds (8 minutes).  This can be seen in the actual timeout that occurs during a rollout.  I see this about 30% of the time on a PR in atleast one of the required gates, meaning this is a significant problem for developers.

Will record the failures in this issue tracker.  We need to fix this - these types of problems really slow down velocity.

[2019-01-06 09:01] sdake commented on #9685
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/10562/e2e-simpleTestsMinProfile/1130

[2019-01-06 09:02] sdake commented on #9685
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/10269/e2e-dashboard/9688

[2019-01-06 09:03] sdake commented on #9685
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/10562/istio-pilot-e2e-envoyv2-v1alpha3/13062

[2019-01-06 09:14] sdake commented on #10641
@ayj seems like an odd behavior with injection?

[2019-01-06 12:26] chenzhenyang opened #10762 "Authentication policy configuration does not work for some service in one namespace"
I have two service in one namespace , I create a authentication policy file as below:

[code]

but , two service in one namespace ,one is work and another is not work;

maybe what's reason?

[2019-01-06 13:28] petenorth opened #10765 "Port already in use when attempting to inject sidecar"
**Describe the bug**
Unable to inject sidecar pod for micronaut based app

**Expected behavior**
A pod with two containers remains at ready state

**Steps to reproduce the bug**
    kubectl apply -f https://raw.githubusercontent.com/petenorth/micronaut-tutorial-1/master/kubernetes/deployments.yaml
    kubectl get deployment books --export=true -o yaml > books.yaml
    istioctl kube-inject -f books

[2019-01-06 13:48] hzxuzhonghu commented on #10391
Your virtualservice rule is not correct. You configure it for gateway.

[2019-01-06 13:51] hzxuzhonghu commented on #9710
welcome

[2019-01-06 14:06] sakthishanmugam02 commented on #10391
@hzxuzhonghu Could you please help me to configure it properly?

[2019-01-06 14:51] vadimeisenbergibm commented on #10676
Related to https://github.com/istio/api/issues/509

[2019-01-06 15:01] vadimeisenbergibm commented on #10606
The fix is:
cat <<EOF | kubectl apply -f -
apiVersion: "networking.istio.io/v1alpha3"
kind: "DestinationRule"
metadata:
  name: external
  namespace: default
spec:
  host: "*.B.svc.cluster.local"
  trafficPolicy:
    tls:
      mode: DISABLE
EOF

See https://istio.io/docs/tasks/security/mutual-tls/#verify-mutual-tls-configuration

[2019-01-06 15:04] sakthishanmugam02 commented on #10391
@hzxuzhonghu now I have changed my vs configuration as below: still not working

[code]

[2019-01-06 15:37] #8135 closed

[2019-01-06 15:42] vadimeisenbergibm commented on #10765
Can you check who listens to that port in your container?

E.g.: `netstat -plnt`.

I tried:
1. Inside the application container:
[code]

1. Inside the `istio-proxy` container:
[code]

Note that PID/Program name of Envoy inside `istio-proxy` container.

[2019-01-06 15:52] vadimeisenbergibm commented on #10616
You can set `global.proxy.includeInboundPorts` during helm installation. https://preliminary.istio.io/docs/reference/config/installation-options/#global-options

Note that this option means the ports which Istio sidecar will handle (it will ignore other ports).

Documentation: https://github.com/istio/istio/blob/df0d817c5ecf6f3fab94cb599ddd90c363c4d533/pilot/pkg/kube/inject/inject.go#L206

[2019-01-06 16:31] petenorth commented on #10765
I have created a test image

https://hub.docker.com/r/petenorth/test

The image has everything (including the java source for SocketQuery.java). The Dockerfile for this image is

    FROM openjdk:8u171-alpine3.7
    RUN apk --no-cache add curl
    COPY build/libs/*-all.jar books.jar
    COPY run.sh run.sh
    COPY SocketQuery.class SocketQuery.class
    COPY SocketQuery.java SocketQuery.java
    R

[2019-01-06 21:41] mehemken opened #10766 "VirtualService HTTPMatchRequest.regex breaks when using pipes"
**Describe the bug**

## As seen on [StackOverflow](https://stackoverflow.com/questions/54066089/how-to-achieve-logical-or-in-an-istio-virtualservice-regex).

The pipe character does not seem to work in Istio's VirtualService.

The example below is intended to route requests based on the user-agent header. Requests from a mobile device should go to myapp and requests from a desktop user should go

[2019-01-06 21:42] mehemken commented on #10766
This is superficially similar to #10666 , however, my application is in fact sending the user-agent header.

[2019-01-07 02:04] hzxuzhonghu commented on #10391
I want to know how you simulate unavailable?

[2019-01-07 02:37] hzxuzhonghu commented on #10391
This is not right. If you do this, pilot will not generate outbound cluster for Service2.  Unless you can make sure the outbound configuration for Service 2 exist, and you are shutting down grpc server.

[2019-01-07 03:35] clyang82 opened #10768 "Process run as root"
I see the process is running as root in `galley` `pilot` `citadel` and `mixer` pod while the process is running as user `istio-proxy` for `envoy`.
is it must running as root for `galley` `pilot` `citadel` and `mixer`? why? Thanks.

[2019-01-07 03:35] clyang82 commented on #10768
/cc @ayj @linsun @gyliu513

[2019-01-07 05:44] sakthishanmugam02 commented on #10391
@hzxuzhonghu this situation can happen in real time also right?
app is getting crashed. how to handle the retry in this scenario

[2019-01-07 06:01] wjwinner opened #10770 "istio does not support gzip"
Envoy already supports [gzip](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/gzip_filter),but I haven't found any instructions for istio to support gzip. Is istio planning to support gzip?

[2019-01-07 06:04] hzxuzhonghu commented on #10391
They are not same thing.  Keep in mind, pilot generate and dispatch configurations for only running pod.
If a request shipped to a crashing pod, then envoy makes a retry on other healthy endpoints automatically .
But firstly you have to simulate this scenario.

[2019-01-07 06:21] vadimeisenbergibm commented on #10765
I do not see that the port 8082 is in use by Envoy or some other app. Does your app runs without Istio? Does it run with Istio on some cluster other than minikube?

[2019-01-07 08:35] popaaaandrei commented on #10641
It appears so, yes. I will test some more.

[2019-01-07 11:12] petenorth commented on #10765
Yes the application runs without istio:

    kubectl apply -f https://raw.githubusercontent.com/petenorth/micronaut-tutorial-1/master/kubernetes/deployments.yaml

results in three deployments with pods running successfully. I have deployed the test image without injection and see the following

    Active Internet connections (servers and established)
    Proto Recv-Q Send-Q Local Address

[2019-01-07 11:13] kbhattac commented on #10694
Looks like this is going to be fixed at the [source].(https://github.com/googleapis/google-cloud-java/issues/4269)

[2019-01-07 11:19] GavinLin168 opened #10776 "if enable istio_cni will take place of OpenShift's network plugin Open vSwitch"
## Description

Follow https://github.com/istio/cni install `istio` with `helm` by setting
[code]

I found every time container creating will occur error like below
[code]

I have two questions:
- If I set `istio_cni.enabled=true` when deployed istio, if `istio_cni` plugin will take place of OpenShift's default network plugin `Open vSwitch`?
- How to solve this issue `incompatible CNI versions` ?

[2019-01-07 11:21] vadimeisenbergibm commented on #10765
Ok, so the second question - Does it run with Istio on some cluster other than minikube?

[2019-01-07 12:39] esnible commented on #9863
For #7863 I confirmed that the problem is that at least one CircleCI machine has IPv4 forwarding turned off.  If IPv4 forwarding is turned off the Docker builds fail but the build doesn't stop, leading to image pull failures.

I will track down the specific machines.  We can decide if we want the build to turn IPv4 forwarding back on or if we want to exclude those machines from the build.

[2019-01-07 12:40] esnible commented on #9858
For #7863 I confirmed that the problem is that at least one CircleCI machine has IPv4 forwarding turned off.  If IPv4 forwarding is turned off the Docker builds fail but the build doesn't stop, leading to image pull failures.

I will track down the specific machines.  We can decide if we want the build to turn IPv4 forwarding back on or if we want to exclude those machines from the build.

[2019-01-07 14:21] linsun commented on #5679
I noticed envoyproxy/envoy#3481 is closed... is this scenario supported by istio now, e.g. what is missing?  @cmluciano

[2019-01-07 14:23] linsun commented on #8658
@frankbu do you know why we don't support wildcard * on the gateways?  Or is this only for the egress gateway @vadimeisenbergibm ?   host: "*" is listed as an example here https://github.com/istio/api/blob/master/networking/v1alpha3/gateway.proto#L74

[2019-01-07 14:40] linsun commented on #10768
so we don't use root for data plane, but uses root process for control plane components.  Any issue with this?

[2019-01-07 14:42] linsun commented on #8826
@morvencao @gbaufake can this be closed now with latest kiali?

[2019-01-07 14:46] linsun commented on #9211
@gyliu513 can this be closed?  Seems they are both used per @rshriram.  The helm comments on deprecation look odd to me too.

[2019-01-07 14:53] jmazzitelli commented on #8826
We fixed this in istio 1.1 via PR https://github.com/istio/istio/pull/10363
So I think this issue can be closed.

[2019-01-07 15:09] clyang82 commented on #10768
I am filling in the Threat Model for ICP. it requires to provide justification as to why it needs to run as root. so I wonder to know some details.

[2019-01-07 15:59] petenorth commented on #10765
A framework code change could fix this but it isn't clear why this change is required, anyway see

https://github.com/micronaut-projects/micronaut-core/issues/1081#issuecomment-451980818

The framework check for whether the TCP port is available seems reasonable.

[2019-01-07 16:42] morvencao commented on #8826
Yep, OK to close.

[2019-01-07 16:42] #8826 closed

[2019-01-07 16:43] morvencao commented on #8677
Yes, `helm test` cases haven been included in this PR: https://github.com/istio/istio/pull/10623
Let's close this.

[2019-01-07 16:43] #8677 closed

[2019-01-07 16:58] mehemken commented on #10766
The Stackoverflow question got answered. I will try the change in regex and report if it works or not.

[2019-01-07 17:02] sdake commented on #9185
@rshriram from what I can tell from procceeding WG meetings, the approach you outline is roughly planned for 1.2.  Essentially when upgrading, there will be two control planes in action - the 1.1 control plane, the 1.2 control plane, and 1.1 will be terminated after 1.2 is in place and providing service.

Cheers
-steve

[2019-01-07 17:20] jondinard commented on #9783
I'm having this issue as well, using the following configuration:
`apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: whitehall
  namespace: whitehall-istio
spec:
  hosts:
  - "*"
  gateways:
  - whitehall-gateway
  http:
  - match:
    - uri:
        prefix: /case/healthz
    rewrite:
      uri: /healthz
    corsPolicy:
      allowOrigin:
      - example.com
      all

[2019-01-07 17:22] ozevren opened #10779 "Galley does not unmerge Virtual Services when processing Ingress resources."
Galley Ingress generation code is not creating the correct generation numbers. This causes the underlying MCP Server code to not detect the change.

[2019-01-07 17:22] ozevren commented on #10779
This PR fixes the issue: https://github.com/istio/istio/pull/10670

[2019-01-07 18:35] kyessenov commented on #9858
Would stopping the build when the docker push fails be a sufficient workaround for now?

[2019-01-07 19:06] linsun commented on #10552
closing this, thank you @rvennam and @frankbu !!

[2019-01-07 19:06] #10552 closed

[2019-01-07 19:10] Nino-K commented on #9961
We do have a PR in flight related to this. https://github.com/istio/istio/pull/10475

[2019-01-07 19:16] linsun commented on #7528
@ymesika could you help look into this?  A couple of IBM users also have asked about this.

[2019-01-07 19:18] SrinivReddy opened #10780 "Unable to access applications deployed in ISTIO from ExternalVM as a ROOT user."
/bug

**Describe the bug**
Unable to access applications deployed in ISTIO  from ExternalVM as a ROOT user.
root@ curl -v -w "\n" http://productpage.default.svc.cluster.local:9080/api/v1/products/0/ratings
*   Trying 10.35.xx.xx...
curl(7) Failed to connect productpage.default.svc.cluster.local port 9080: connection timed out

**Expected behavior**
below output is with istio-vm user, we are expect

[2019-01-07 19:18] aaronmell commented on #10637
@hatmatter I get a different issue now, not sure if this error happens before or after the other error

helm_release.istio_bootstrap: rpc error: code = Unknown desc = release istio failed: Internal error occurred: failed calling admission webhook "pilot.validation.istio.io": Post https://istio-galley.istio-system.svc:443/admitpilot?timeout=30s: no endpoints available for service "istio-galley"

[2019-01-07 19:18] esnible commented on #9858
@kyessenov Stopping the build when the `docker build` fails would allow the test to fail in 1 minute instead of 13 minutes.  It would still fail.

I have a PR to gather more data at https://github.com/istio/istio/pull/10777 but it hasn't failed yet.  (I have actually never seen it fail in a PR, only in Gubernator reports, which is mysterious.)

The PR is supposed to `exit 1` fail when there is a p

[2019-01-07 19:19] linsun commented on #9121
@ymesika another one if you have bandwidth to help out.

[2019-01-07 19:20] linsun commented on #9211
pls reopen if needed

[2019-01-07 19:20] #9211 closed

[2019-01-07 19:32] liminw commented on #6984
Here is a [proposal](https://docs.google.com/document/d/1diwa9oYVwmLtarXb-kfWPq-Ul3O2Ic3b8Y21Z3R8DzQ) on changes to the existing Authorization Policy:

[2019-01-07 19:38] mehemken commented on #10766
Unfortunately the project was nixed before I could verify the Stackoverflow answer.

[2019-01-07 19:38] #10766 closed

[2019-01-07 19:48] Nino-K commented on #10220
I don't think the diff today is necessarily related to CF use case, I believe after the incremental update changes the diff should completely go away (even for CF), of course this requires some changes in configuration provider for CF (co-pilot).

[2019-01-07 19:49] cmluciano commented on #5679
@linsun This likely is still missing on the Istio side but is supported on the Envoy side. The parameter is [source_address(]https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/address.proto#envoy-api-msg-core-bindconfig).

This should be set in the upstream_bind_config from CDS.

[2019-01-07 19:49] linsun commented on #9447
@vadimeisenbergibm not sure what exactly is the issue...  Seems this config is not valid while you accept *.google.com but reject all *.com?

                "message": "Listener=0.0.0.0:443 AcceptedTCP=*.google.com RejectedTCP=*.com TCPServices=1"

cc @ymesika

[2019-01-07 19:50] linsun commented on #9770
close it per made http-monitoring port configurable for istio control plane #10019

[2019-01-07 19:50] #9770 closed

[2019-01-07 19:54] esnible commented on #10768
Envoy MUST run as istio-proxy (uid 1337).

I don't know of any particular reason the galley, pilot, citadel and mixer as running as root.  They should be able to run as any user *except* they must not run as istio-proxy.

[2019-01-07 20:00] esnible commented on #10573
@GavinLin168 Re-open if you have any more questions.

[2019-01-07 20:00] #10573 closed

[2019-01-07 20:04] esnible commented on #10490
Closing as duplicate.

[2019-01-07 20:04] #10490 closed

[2019-01-07 20:10] esnible commented on #10712
Also related to #10599 .

[2019-01-07 21:03] linsun commented on #5752
If you use service entry to connect to the remote details and mysqlDB on VM, would you at least get the client side metrics for these 2 services?  I am not sure if we'd advocate mesh expansion over service entries??

[2019-01-07 21:16] GregHanson opened #10783 "Update in envoy breaks route directive for some headers."
**Describe the bug**
As discovered here:
https://github.com/istio/istio/pull/10737

[2019-01-07 21:39] myidpt commented on #9349
If I recall correctly, it’s fixed on all branches other than release-1.0.

[2019-01-07 22:56] douglas-reid commented on #9658
PR #10681 has been approved. Awaiting full test passing.

[2019-01-07 22:57] douglas-reid commented on #10012
https://github.com/istio/istio/pull/10678 was merged. I'm marking this as CLOSED for 1.1.

[2019-01-07 22:57] #10012 closed

[2019-01-07 23:03] douglas-reid commented on #10759
Have you tried going through any of the operations guide: https://istio.io/help/ops/telemetry/missing-metrics/ ?

I'm going to close this issue, as the istio-users mailing-list is a better channel for support and discussion of this nature.

If you feel that this is a novel issue, please feel free to reopen.

[2019-01-07 23:03] #10759 closed

[2019-01-07 23:09] douglas-reid commented on #10724
I believe the only changes required here are in the default set of configs for logs/metrics.  Do you want to own the PR to change the default config, @thomschke ?

[2019-01-07 23:11] douglas-reid commented on #10625
Do you want the literal value of `value1`?  Or the value of a new attribute that you trying to add?

[2019-01-07 23:12] garyxuehong commented on #10625
New attribute

Douglas Reid <notifications@github.com>于2019年1月8日 周二上午10:11写道：

[2019-01-07 23:12] #10597 closed

[2019-01-07 23:18] kyessenov commented on #10629
@robertpanzer UAEX is the Envoy's error code for Mixer's failed check request. See https://www.envoyproxy.io/docs/envoy/latest/configuration/access_log. Mixer is technically an external authorization service here.

[2019-01-07 23:32] douglas-reid commented on #9858
A quick check on this issue:

- the postsubmit job shows that most of the recent failures have not been test failures, but infrastructure issues. For example, https://gubernator.k8s.io/build/istio-prow/logs/e2e-mixer-no_auth/9902: 12 tests passed, 1 test was skipped, and yet the job is marked as a failure (`*** Test killed with quit: ran too long (36m0s).`). This killed when run too long was happe

[2019-01-07 23:37] jeffmendoza opened #10785 "Galley: Add support for outgoing connections."
As seen in MCP enhancements (https://goo.gl/RTKMwF). MCP can be initiated from Galley out to a "ConfigSink" service. This issue is to track adding support to Galley for it to be able to initiate these connections.

I am working on a doc with details on an implementation that I will share soon.

[2019-01-07 23:38] douglas-reid opened #10786 "TestCheckCache still flaky (pre/postsubmit)"
**Describe the bug**
`TestCheckCache` (part of the `e2e_mixer` test suite) still fails every-so-often with the ultimate failure being: `mixer_test.go:867: Check cache hit: 0 is less than expected: 1` (link: https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio_istio/10777/e2e-mixer-no_auth/10133). This should not fail.

**Expected behavior**
`TestCheckCache` to always pass.

**Steps to rep

[2019-01-07 23:45] geeknoid commented on #4611
@kyessenov Is this functionality totally done? Do we have docs?

[2019-01-07 23:59] mkinoshi commented on #10716
@esnible Thank you for your suggestion. Unfortunately, it didn't work even though I added both of these ports. I worked around by calling external services directly which is not ideal. I'm just curious but what is the reason of adding 3306 in this case ?

[2019-01-08 00:03] douglas-reid commented on #10625
If you are adding a new attribute, have you made sure to add it to one of the existing attribute manifests (or create new attribute manifest for this attribute)?

See: https://github.com/istio/istio/blob/master/install/kubernetes/helm/subcharts/mixer/templates/config.yaml#L3

[2019-01-08 00:10] kyessenov commented on #4611
@geeknoid
Header editing functionality is implemented. There is a developer guide here:
https://github.com/istio/istio/wiki/Route-directive-adapter-development-guide
and reference documentation (https://preliminary.istio.io/docs/reference/config/policy-and-telemetry/istio.policy.v1beta1/) based on the proto declarations.

The issue, however, is about influencing the routing decisions. This has bee

[2019-01-08 00:12] garyxuehong commented on #10625
Thanks I will look into that. I must missed that part

Douglas Reid <notifications@github.com>于2019年1月8日 周二上午11:03写道：

[2019-01-08 00:14] geeknoid commented on #4611
OK, I thought we had gone ahead with the route directive support. Given that it's not there, I wouldn't spend any time documenting how to modify headers to affect routing, lets leave that for the reader.

We'll probably revisit this strategy within the V2 context.

[2019-01-08 00:17] kyessenov commented on #10746
@ozevren I've started looking into this issue. Can you clarify the expectations how things should look like in the end? Do we want to support the legacy k8s and "fs" config backends in mixer for policy.istio.io/v1beta1 group? Does MCP provide an auto-conversion mechanism, to avoid subscribing to both config.istio.io/v1alpha2 and policy.istio.io/v1beta1 groups?

[2019-01-08 00:20] kyessenov commented on #4611
@geeknoid it's there and works in practice. There's been requests for this feature from various parties, so I'd keep the users in the loop in case it goes away (e.g. @theganyo ). I'm fine leaving it in this state until v2.

[2019-01-08 01:00] frankbu commented on #10485
Closing this issue as it is working as designed.

[2019-01-08 01:00] #10485 closed

[2019-01-08 01:06] costinm commented on #10584
Sorry, more details please.

[2019-01-08 01:09] eyeofthefrog opened #10789 "go generate fails inside mixer/adapter when run from Docker container"
**Describe the bug**
This happens with any 1.1 branch/tag, including the latest master.
When running `go generate ./...` from mixer/adapter/cloudwatch, I get the following errors:
[code]

The directories do exist:
[code]

If I switch the branch/tag to 1.0.5, it works fine:
[code]

This is all within a Docker container. If I run it on my Mac, then it works.

**Expected behavior**
No errors during `

[2019-01-08 01:10] costinm commented on #9240
We need more people familiar with mesh expansion install - can you take a look ? The problem is testing the current build (including all the changes in security and config) and validating the .deb still works.

[2019-01-08 01:39] costinm commented on #10556
Try enabling SDS, and check the resulting config. It should not include a mount for the secret.

[2019-01-08 01:40] costinm commented on #10586
Details ?

[2019-01-08 01:44] ozevren commented on #10746
The plan for Galley is to enable it by default in 1.1, and retire the K8s based code (in favor of MCP) in Pilot & Mixer in the next release, when Galley stabilizes.

Separately, the legacy CRDs are subject to the standard deprecation policies. So we will need to first deprecate them and remove them after a set period.

In Galley, we can do the legacy => standard config conversion. Currently it is

[2019-01-08 01:46] costinm commented on #10592
node_agent is not using scratch - but ubuntu, with its own 'apt-get update'.

The goal is to be able to have a single base image, so we can have the base moved to deb_slim or
different version of ubuntu.

[2019-01-08 01:48] kyessenov commented on #10746
Sounds good to me. I'll focus on MCP version only, and rely on Mixer to subscribe to both for now.
On an unrelated note, it'd be good to document how to run MCP server locally. I run mixs locally, and without k8s backend, mcps becomes a necessity.

[2019-01-08 02:00] vadimeisenbergibm commented on #8658
@rshriram Do you know why `*` hosts are not allowed?

[code]

[2019-01-08 02:09] clyang82 commented on #10768
Thanks @esnible for your information.

If `pilot`/`mixer`/`galley`/`citadel` can be able to run as any user except from istio-proxy, we may consider to create a user for them to run the process.

[2019-01-08 02:33] andrewshan opened #10790 "support multiple RotateOutputPath in log options"
**Describe the feature request**
istio has provided a common log utility for the whole project to use. Currently, user can only set 1 rotateOutputPath. In some scenarios, we may want to print multiple logs, hence support different scope  output to different path (eg. separate the access-log to other logs).

**Describe alternatives you've considered**
add attribute in Options, support user to defin

[2019-01-08 04:19] costinm commented on #10659
AFAIK we do support stateful sets - using original dst, with the restriction that stateful sets can't share port.

Cassandra - it is not clear what is wrong, I tried it once and the envoy config looked right but it didn't work.  We need to repro again and get tcpdumps.

We can't build n.cassandra.... clusters - too many and we would need too many listeners as well.

On-demand LDS may allow more fl

[2019-01-08 06:01] iandyh commented on #10541
@linsun The validation can only happen in webhook stage. Having a flag will be helpful in dev environment.

Speaking of dry run, does something like `istioctl verify -f ${virtual_service_file}` look good to you?

[2019-01-08 06:51] gyliu513 commented on #9349
@myidpt thanks, can we merge it to release-1.0, so that the fix is available when we release 1.0.6 if we have that version? ;-)

[2019-01-08 06:57] myidpt commented on #9349
Sure. I will do that.

[2019-01-08 08:01] objectiser commented on #10722
@douglas-reid Have tested with 1.0.5 and worked for me - as @sdake has indicated, it looks like a version mismatch, but waiting for @wql6 to confirm.

[2019-01-08 08:13] vadimeisenbergibm commented on #10765
My guess is it is somehow related to the initialization of the container, somehow a port becomes unavailable for some period of time. Maybe the framework should wait for the port to become available for some time, before giving up.

[2019-01-08 08:19] thomschke commented on #10724
Hi @douglas-reid, I'm afraid I do not have time for that at the moment.

There are a lot of existings charts out there using `app` and `version`. For backward compatibility it could be better to change the order:

- `app`
- `app.kubernetes.io/instance`
- `app.kubernetes.io/name`

and

- `version`
- `app.kubernetes.io/version`

[2019-01-08 08:53] liyongxian opened #10794 "gateway/virtualservice 404 access url when using chrome"
**Describe the bug**
 I configure ingress gateway/virturalservice,when using chrome access the url,happen 404.However,Using Nginx-ingress is OK. The DNS "istio-designer.hiacloud.net.cn" is OK.(ping by CMD is OK)
**URL: http://istio-designer.hiacloud.net.cn**

**Expected behavior**
  exactly access the url by chrome.
**Steps to reproduce the bug**
    ### ----gateway
apiVersion: networking.istio.io

[2019-01-08 09:00] thomschke opened #10795 "Remove all nodeports in gateway chart"
**Describe the bug**
Sometimes there is an install error like this: `release istio failed: Service "istio-ingressgateway" is invalid: spec.ports[1].nodePort: Invalid value: 31390: provided port is already allocated`

**Expected behavior**
Please remove all nodePort (if possible)

https://github.com/istio/istio/blob/565aaa99dcfc7d584e9f8eb9a04844b0b0faa1d5/install/kubernetes/helm/subcharts/gateways

[2019-01-08 09:36] thomschke opened #10796 "SidecarInjection should use one common label"
**Describe the feature request**
There are two different labels to control the sidecar injection:
- `sidecar.istio.io/inject` on pod level.
- `istio-injection` on namespace level.

**Describe alternatives you've considered**
I would prefer only `sidecar.istio.io/inject`.
For backward compatibility I would check both labels for a transitional period.

[2019-01-08 09:37] thomschke commented on #10796
see #10724

[2019-01-08 09:40] morvencao commented on #5752
@linsun Seems that the `zipkin` address parameter is not passed to envoy on VM in this case, have raised a [PR](https://github.com/istio/istio/pull/10797) to fix this, still working on it.

[2019-01-08 09:51] ymesika commented on #9121
@ramaraochavali @mandarjog This seems to be resolved already. Am I right?
Just tried a minimal install with `release-1.1` and the listeners don't have `per_filter_config` for mixer in them.

[2019-01-08 12:19] pritchetttony35 opened #10798 "development community"
I need help with code removing remote access from android and learning proper steps in code and submitting demands

[2019-01-08 13:33] #7585 closed

[2019-01-08 14:01] petenorth commented on #10765
This is fixed in Micronaut 1.0.3 (yet to be released) - tracked by the issue mentioned in this comment https://github.com/istio/istio/issues/10765#issuecomment-451982815

[2019-01-08 14:36] rshriram commented on #7912
If you manage to run a snapshot of istio 1.1, I think you should find a lower memory usage as we have now trimmed stats [which saves a lot of memory].

[2019-01-08 14:37] esnible commented on #10716
@mkinoshi CloudSQL has a MySQL mode and 3306 is the default for MySQL.  I just copied the .yaml I use for MySQL.

[2019-01-08 14:38] vadimeisenbergibm commented on #9447
@linsun The use case here is: a user configures access to `*.google.com` and to `*.com`. The problem is that one of the configurations is rejected.

Checked on the latest daily https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.1-20190108-09-15, the error, this time *.google.com is rejected
[code]

[2019-01-08 14:45] robertpanzer opened #10801 "Mixer emits warning if value for responseHeaderOperation of a Rule is not defined"
**Describe the bug**
I am testing route directives with a current 1.1 snapshot according to https://github.com/istio/istio/wiki/Route-directive-adapter-development-guide.
I created a Rule that should set a response header.
When my custom external adapter sets this header everything is fine and I see the header in the response to the client.
But when the adapter does not set this value, because it

[2019-01-08 14:47] #10765 closed

[2019-01-08 14:51] robertpanzer commented on #10801
If I return `nil` as OutputMsg I also don't get a warning.
But it might comprise multiple fields where some are set, some are not set.

[2019-01-08 14:51] ymesika commented on #9447
This rejection is from Envoy, is that right?
So, if I understand correctly, before pushing the configuration to Envoy you need to check for overlapping hosts ranges and keep only the broader ones?

[2019-01-08 14:53] vadimeisenbergibm commented on #9447
Right, the rejection is from Envoy. My claim is that Envoy should not reject any configuration. The user may want to configure access to both *.google.com and to *.com, differently.

[2019-01-08 15:07] ymesika commented on #9447
But if you don't want Envoy to reject then isn't it an Envoy issue?

[2019-01-08 15:11] vadimeisenbergibm commented on #9447
Oh, sorry, the rejection is from pilot, this is a message from pilot.

[2019-01-08 15:35] robertpanzer opened #10802 "External adapters should be allowed to set response status and body"
**Describe the feature request**
This feature request is a follow up to #10679.
While it is apparently possible to set request and response headers from an external adapter, it is not possible to set the response status code or response body.
External adapters should be allowed to do everything that an internal, builtin adapter is allowed to do as well.

Builtin adapters can set a response status

[2019-01-08 15:50] seandanesh commented on #1430
+1 for UDP routing
a great use case is handling DNS communication, for reasons such as telecommunication apps and security/policy based DNS routing.

[2019-01-08 16:37] esnible commented on #5726
Closing because we cannot reproduce.

[2019-01-08 16:37] #5726 closed

[2019-01-08 16:37] esnible commented on #10725
@ibm-jason Can you update the status of this work item?  It is assigned to me as a place-holder until you are allowed as an Assignee.

[2019-01-08 16:43] esnible commented on #10500
@costinm This defect was caused because @mandarjog noticed the wrong IP appearing in the legacy Ingress.  I fixed it incorrectly, by putting a different wrong IP.  I propose we fix it by not putting any IP into the legacy Ingress.  Does that sound reasonable to you?

[2019-01-08 16:47] #8500 closed

[2019-01-08 16:49] ibm-jason commented on #10725
I'm in the process of testing this out locally on my mac workstation. Once I've done this, I can begin to look at how to fix this.

[2019-01-08 16:56] esnible commented on #10725
@ibm-jason Ping me on Slack if you have trouble reproducing or fixing.

[2019-01-08 17:45] douglas-reid commented on #10798
I don't believe that this issue is against the correct repo or that it is appropriate for this forum. Closing.

[2019-01-08 17:45] #10798 closed

[2019-01-08 17:46] wstrater commented on #10794
I am getting 30% to %70 success rate when I go through a Gateway and VirtualService using `curl`. Deleting a reapplying sometimes helps but not always.

I have a long write up with lots of output that I can submit if that will help. If not I will spare you.

Versions kops: 1.11.0, istioctl: 1.0.5, kubectl Client: v1.13.0, Server: v1.11.6

Thanks, Wes.

[2019-01-08 18:20] douglas-reid commented on #10789
@eyeofthefrog my guess is that running docker inside of docker is the likely the cause of what is happening here. awhile back (iirc, post 1.0 but pre 1.1), the protoc stuff was switched to use a docker image.

Is there a reason you desire to use your own docker container (instead of allowing `mixer_codegen.sh` to start one for you from the istio-blessed image) ?

Docker is not my forte, but I susp

[2019-01-08 18:39] eyeofthefrog commented on #10789
Thanks for the reply @douglas-reid. We're building an out-of-process adapter, and the build process for the adapter is done inside a docker container.

When mounting volumes, docker binds them using the daemon running on the host. So when the docker inside my build container attempts to bind those paths, it expects those paths on the host...but uses the path names from the container. However, I've

[2019-01-08 18:41] douglas-reid opened #10804 "TestKubeenvMetrics occasionally fails"
**Describe the bug**
Some failures for TestKubeenvMetrics in the `e2e_mixer` test. Appears that sometimes the config gets pushed after the initial call from ingress -> productpage, leading to failure as that is the exact metric being checked.

**Expected behavior**
No occasional failures.

**Steps to reproduce the bug**
Look at history of pre/postsubmit jobs.

**Version**
release-1.1 branch

**Ins

[2019-01-08 18:48] douglas-reid commented on #10789
@eyeofthefrog any help you can provide here is much appreciated. we should loop in the folks that updated `protoc.sh` as well.

@gargnupur can you provide any insight into the docker invocation in `protoc.sh`? It works fine directly from a shell, but seems to cause issues when invoked from a `docker run` command that remaps the mounts, etc.

[2019-01-08 18:56] douglas-reid commented on #10384
Everything looks green on the release-1.1 pre/post-submits.  Thanks to @ayj for tracking down the install artifacts issue!

I'm going to close for now. Hopefully, when the release-1.1 changes are merged to master, we see similar benefits on that branch.  Feel free to reopen if my assessment is incorrect.

[2019-01-08 18:56] #10384 closed

[2019-01-08 18:58] hklai opened #10806 "Upgrade tests are failing due to helm problems"
Upgrade tests in release qualification started to fail in December, possibly due to helm install problem.

Sample log
https://storage.googleapis.com/istio-prow/pr-logs/pull/istio-releases_pipeline/171/release-upgrade-tests-1.0.1/167/build-log.txt

Error:
Error: found in requirements.yaml, but missing in charts/ directory: sidecarInjectorWebhook, security, ingress, gateways, mixer, nodeagent, pilot

[2019-01-08 19:05] douglas-reid opened #10808 "TestTCPMetrics fails occassionally"
**Describe the bug**
In presubmit runs, there have been a few failures of the TestTCPMetrics test in the `e2e_mixer` test suite.

Example failure: https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio_istio/9957/e2e-mixer-no_auth/10154

**Expected behavior**
No failures.

**Steps to reproduce the bug**
Look at the presubmit runs for the past week or so.

**Version**
test env

**Installatio

[2019-01-08 19:11] liminw commented on #10762
The policy should apply to both services in "default" namespace. How do you send the JWT? Through Gateway? In that case, what is your Gateway and VirtualService policy? What error message did you see?

[2019-01-08 19:12] jmazzitelli commented on #10724
This has some big ramifications for Kiali. Is this saying that now Istio will look at those other labels as a replacement for "app" and "version"?

So if a deployment has "app.kubernetes.io/instance" that this is the same as saying "app" in the old implementation?

What will be the telemetry label? Right now, the telemetry labels are things like "destination_app" and "source_version". Will these b

[2019-01-08 19:17] jmazzitelli commented on #10724
This also is going to require a change in istio.io - the glossary is one place where I know these labels are discussed: https://preliminary.istio.io/docs/setup/kubernetes/spec-requirements/ (see the bulleted item "Deployments with app and version labels")

[2019-01-08 19:18] quanjielin commented on #10795
/cc @costinm @quanjielin
is this issue propose removing nodeport type option from istio ingress-gateway ? if yes, then pls keep this since we have a user case that requires istio ingress-gateway to be nodeport type.

[2019-01-08 19:30] quanjielin commented on #10555
/cc @quanjielin

[2019-01-08 19:30] quanjielin commented on #10592
/cc @quanjielin

[2019-01-08 19:31] quanjielin commented on #10556
this one is fixed in https://github.com/istio/istio/pull/10684

[2019-01-08 19:38] linsun commented on #9951
close out, thank you @kimxogus for your contribution!

[2019-01-08 19:39] douglas-reid commented on #10789
Either way. I'm fine closing it for now, I guess. I feel like we may want to add that command to the wiki or something similar (with instructions) in case this comes up again. Thoughts?

[2019-01-08 19:47] hklai commented on #9858
Would increasingly the timeout be sufficient to address these deadline
exceeded issues?

On Mon, Jan 7, 2019 at 3:32 PM Douglas Reid <notifications@github.com>
wrote:

[2019-01-08 19:52] eyeofthefrog commented on #10789
I'm trying to think of a way to phrase it. Maybe something like:

Note: The protoc command is executed inside a Docker container during the `go generate` command. If you will be running `go generate` within a container during your build process, ensure the file system matches the host and that the `docker.sock` file is mounted inside your container. For example:
[code]

[2019-01-08 19:57] douglas-reid commented on #9658
The PR has been merged. Closing this issue.

[2019-01-08 19:57] #9658 closed

[2019-01-08 20:15] rmb938 commented on #6706
When deploying as a daemonset it would also be nice to have node affinity.

[2019-01-08 20:19] cmluciano commented on #8938
@knrc Are you still working on this?

[2019-01-08 20:46] douglas-reid commented on #10724
@jmazzitelli my understanding of the request is to pull the information from additional places, not to update the telemetry labels.

[2019-01-08 20:49] gargnupur commented on #10789
@douglas-reid:  Hadn't run this scenario of running go generate within docker..
We needed to add /var/run/docker.sock because otherwise container was not able to find certain files on host...

@eyeofthefrog : Thanks for the command ! We should add this to wiki..

[2019-01-08 20:52] douglas-reid commented on #9858
@hklai maybe?

I'm happy to come back to look at those issues once the individual tests are passing consistently.

Ultimately, I don't think we want tests to run for more than 36min. However, if that is the only failure happening, I'll consider it a short-term success (which hopefully the new framework, etc., will help with).

[2019-01-08 21:04] kyessenov commented on #10802
@robertpanzer (cc @geeknoid )

The linked proto definition is for the interface between Mixer and the proxy. I don't think we have exposed the capability to modify the response body/code for either internal or external adapters.

Can you provide more details about your use case? There is some complexity in combining multiple adapters that would like to perform response code/body operations, and we

[2019-01-08 21:15] knrc commented on #8938
@cmluciano Yes, I had a slight break to get a release out but am now on this

[2019-01-08 21:20] knrc commented on #8938
@cmluciano I have a WIP which I'm about to test and can submit a PR within the next day, it adds a validator for the sidecar.istio.io/proxyCPU annotation and a new function for determining the correct quantity within inject.go.

Do we want to introduce a second annotation as suggested?

[2019-01-08 21:38] jmazzitelli commented on #10724
OK. That helps. So it won't affect Kiali's graph querying/generation. Kiali still does look up these optional labels via k8s API for other things it does, so Kiali is going to have to be updated in order to support these multiple app and version labels. Kiali team will track that work here: https://issues.jboss.org/browse/KIALI-2211

[2019-01-08 22:20] kyessenov commented on #10801
/cc @geeknoid @douglas-reid @mandarjog for thoughts.

Setting the unnecessary warnings aside, the culprit is that the schema for header operations is rigid. The output values are only there to fill in the templates regardless what the values are.

I can only think of the following change to support this:

WDYT?

[2019-01-08 22:23] zombor commented on #10062
Can anyone chime in about what

[code]

affects other than fixing this bug? We've ran into it, but I'm curious about what other impact it has.

[2019-01-08 22:41] ldemailly commented on #9988
happy new year... and... ping ? can you give any update at all on what's going on here?

[2019-01-08 22:59] ldemailly commented on #3598
If it is solved/fixed mark it as fixed/closed (which pr or doc) - I haven't looked at mixer rules recently so happy to know if `| "unknown"` aren't needed anymore ? if it's ongoing/future leave it open until it is fixed?

at minimum I would think the samples still need cleanup ?
https://github.com/istio/istio/search?q=%60%7C+%22unknown%22&unscoped_q=%60%7C+%22unknown%22

[2019-01-08 23:04] kyessenov commented on #3598
It's going to take longer to finish than stale bot waits for. But it's on the roadmap I think.

[2019-01-08 23:07] ldemailly commented on #3598
I let the stale bot closes a lot of valid issues in hope maybe the team would look at the effect of that bot... but couldn't resist reopening this one. I don't think issues should be closed just because they are on the roadmap... but then again I disagree with a lot of how the project has been driven.

[2019-01-08 23:23] stephen-dahl opened #10815 "creating gateways times out on clean install"
**Describe the bug**
creating gateways times out on a clean install

**Steps to reproduce the bug**
[code]

**Version**
Istio 1.0.5
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3", GitCommit:"2bba0127d85d5a46ab4b778548be28623b32d0b0", GitTreeState:"clean", BuildDate:"2018-05-21T09:17:39Z", GoVersion:"go1.9.3",
Compiler:"gc", Platform:"windows/amd64"}neties>Server Version:

[2019-01-08 23:30] hklai commented on #9858
@douglas-reid

agreed. the timeout is meant for killing hanging tests. If some tests actually need that much time to complete (i.e. statistics don't lie) we should increase the timeout. =)

[2019-01-08 23:37] eyeofthefrog commented on #10789
Cool, I'll leave this issue open for wiki updating. Thanks!

[2019-01-09 01:59] fnp927 commented on #8846
Personally, I think you may hit the panic threshold.. When I set the maxEjectionPercent within 50%. It works fine. However, When I set it as 60%. It doesn't work.  I guess when the major part of hosts crash, the requests would forward randomly and no host would be ejected. @bijukunjummen

[2019-01-09 03:29] rshriram opened #10817 "EDS code correctness issue with config scopes and the Sidecar API"
**Describe the bug**
The new sidecar API for subsetting allows a namespace to import specific sets of destination rules from limited namespaces. This means, I could have a private destination rule in local namespace, or import a public destination rule from one namespace (but not import the public destination rule from another namespace).

Consequently, a cluster of the form `outbound|8000|v1|foo.

[2019-01-09 03:46] andrewshan opened #10818 "istio-iptables.sh got exit status 4 occasionally"
**Describe the bug**
We try to start proxy_init image, it fail in some time, we got the stdout error as "exit status 4" when executing the istio-iptables.sh.

**Expected behavior**
Run  istio-iptables.sh return no error eternally

**Steps to reproduce the bug**
This bug can not be reproduced each time, it may occurs when the hosting machine was running iptables same time as the container

**Versio

[2019-01-09 03:48] andrewshan commented on #10818
it may occur by the iptables fail to get the file lock. As it's mentioned: https://github.com/moby/moby/issues/30379

[2019-01-09 03:48] iandyh commented on #7665
I cannot reproduce the issue in 1.1-snaptshot as well. The application has liveness and readiness configured.

[2019-01-09 04:19] dicarlo2 opened #10819 "Pilot fetches jwksUri in a cluster without direct internet access."
**Describe the feature request**
Pilot is responsible for fetching and caching the jwt public keys via the specified jwksUri. This does not work if the cluster does not have direct internet access (e.g. no public IPs) and the jwksUri requires entering the public internet. However, the cluster could have access to the internet through a different mechanism, e.g. a dedicated internet egress cluster

[2019-01-09 05:05] kyessenov commented on #10783
@rshriram @duderino : A quick investigation makes me think there is some transient bug in envoy that make it set `content-length` header even if filters explicitly remove it. Proving this would require building a new filter in envoy and validating it with a custom build. I noticed that we picked a random SHA in envoy (2525...). Was there a logic behind which SHA we picked for 1.1 release? Should w

[2019-01-09 06:03] kbsivacse commented on #9943
I'm also facing same issue with Istio 1.0.3 running Kubernetes cluster 1.10.0 & minikube 0.25.2 on Windows 10 platform. Any workaround or solution to this?

[2019-01-09 06:58] hzxuzhonghu opened #10821 "In k8s push is not triggered when node az annotation update"
looking through the kubernetes service registry code. Find that pods and nodes informer does not add effective event handler to trigger push.   For example, if we use workload source routing with matching workload labels,  then the RDS / LDS configuration can not be repushed.

[2019-01-09 07:05] ymesika commented on #10818
Just to make sure it is indeed a lock issue, can you add a `-w` flag to the `iptables` commands in the script? Assuming you have iptables v1.6+ on your distro, this should cause the command for the lock to be released.

[2019-01-09 07:13] andrewshan commented on #10818
Indeed we are using iptables v1.4.12, it's already supported `-w` flag to retry the flock, now we resolve the problem by `-w 5` to retry 5 times when it fail to be RESOURCE_PROBLEM

[2019-01-09 07:20] ymesika commented on #10795
@quanjielin This issue is not about removing the type. It's about avoid using our fixed values for the requested node ports so k8s can assign one of the avail ones.

Anyway, since our users (with their docs, scripts, etc) are pretty much used to the port number that we have historically chose for them I guess it's too late to remove this.

@thomschke If you have such an issue you can comment the p

[2019-01-09 07:54] pxzero opened #10822 "Pilot goroutine leak and memory leak"
**Describe the bug**
When Pilot  Ads pushAll function return err , the goroutine will return at once . this will cause the  receiveThread goroutine leak and also leak the XdsConnection instance which may has large data in a big istio cluster.

The bug relative code is in pilot/pkg/proxy/v2/ads.go , (s *DiscoveryServer) StreamAggregatedResources function .

**Expected behavior**
no goroutine leak
n

[2019-01-09 08:35] thomschke commented on #10795
LGTM

like this:
https://github.com/istio/istio/blob/565aaa99dcfc7d584e9f8eb9a04844b0b0faa1d5/install/kubernetes/helm/istio/values-istio-gateways.yaml#L70
https://github.com/istio/istio/blob/565aaa99dcfc7d584e9f8eb9a04844b0b0faa1d5/install/kubernetes/helm/istio/values-istio-gateways.yaml#L73
https://github.com/istio/istio/blob/565aaa99dcfc7d584e9f8eb9a04844b0b0faa1d5/install/kubernetes/helm/istio/

[2019-01-09 08:35] #10795 closed

[2019-01-09 08:48] hasusuf opened #10824 "[question] Pilot headless service in multi-cluster setup"
At KubeCon 2018, Rohit from Cisco demoed istio multi-cluster setup. At the minute [19:45](https://youtu.be/bLJL53UIcqI?t=1186) he deployed `istio-pilot` service as headless service on his `secondary` cluster, and it was able to discover the remote pilot pod's IP running on his `primary` cluster.

I have two GKE clusters with VPC-native enabled, and I'm not able to reproduce the same behavior. The

[2019-01-09 08:51] #8603 closed

[2019-01-09 09:33] robertpanzer commented on #10802
Ah, I see.
An internal adapter could set these fields, but they are eventually ignored here: https://github.com/istio/istio/blob/69d8588ccd743dd1f540d14a494e1b36b6e4506e/mixer/pkg/runtime/dispatcher/session.go#L242-L246
And adding support for this would also require additions to the Rules to apply setting status codes or response bodies.

The motivation for this is that currently istio-proxy will

[2019-01-09 09:40] andrewshan commented on #10818
customers will doubt about the unexpected restart.

[2019-01-09 10:00] hzxuzhonghu commented on #10818
OK, so this is a improvement.

[2019-01-09 10:10] wansuiye commented on #10116
A potentially related problem [pr](https://github.com/istio/istio/pull/10621)

[2019-01-09 11:11] venkiradkris opened #10825 "x509: certificate signed by unknown authority - ISSUE"
Hi - Please help to solve the issue.
[root@whf00aoi networking]# cd /root/ISTIO/istio-1.0.5/samples/bookinfo/networking
[root@whf00aoi networking]# kubectl apply -f bookinfo-gateway.yaml
Error from server (InternalError): error when creating "bookinfo-gateway.yaml": Internal error occurred: failed calling admission webhook "pilot.validation.istio.io": Post https://istio-galley.istio-system.svc:443

[2019-01-09 11:19] ymesika commented on #10824
I believe the deployment there is similar to what we called Multi-cluster in v1.0.x (things changed in v1.1).

There is actually [a detailed deployment example](https://istio.io/docs/setup/kubernetes/multicluster-install/#example-deployment) that shows how to install such a local/remote setup on two clusters. See if it helps.

[2019-01-09 11:58] ksemba opened #10827 "Mixer: Report original client IP"
Hi all,

I'm writing an istio Mixer telemetry adapter and need to know the original client IP that initiated the http request towards the istio ingress gateway. The first mixer report I receive is the one that shows
 - RequestHost: public IP of my app (I'm using the example bookstore app)
 - SourceIP: IP of the ingress gateway as it is sending a request towards the first microservice (productpage

[2019-01-09 12:58] clyang82 opened #10829 "Route based on user identity"
Here is an example about [Route based on user identity](https://istio.io/docs/tasks/traffic-management/request-routing/#route-based-on-user-identity). I want to have 2 end users to access the same service. so I create 2 virtualservices. for instance:
[code]

it is not working as my expected.
When I create 1 virtualservice with multiple match, it works well. for instance:
[code]

I know we have a f

[2019-01-09 12:59] clyang82 commented on #10829
/cc @ymesika @rshriram

[2019-01-09 14:09] hasusuf commented on #10824
Thanks, @ymesika 👍

[2019-01-09 14:09] #10824 closed

[2019-01-09 14:42] rshriram commented on #10817
namespace will not help. The problem is that you can have a public dest rule for a cluster and a private dest rule for the same cluster, in same namespace.
Simple example:

[code]

For a cluster `Outbound|80|v1|myservice.ns2.svc.cluster.local`, for sidecars in ns1 namespace, it would get endpoints with labels `version:v1, state: prod-test-fix`, whereas sidecars in ns2 namespace and any other names

[2019-01-09 15:04] GregHanson commented on #10030
@jeffcai had some time to dig into this one some more.  You need to expose consul dns to kubernetes.  In order to hook up consul dns to kubernetes, your k8s installation must use coredns instead of kube-dns.  Coredns is the default is latest versions of k8s:
[code]
If coredns is enabled in k8s, you will need:
[code]
 `kubectl get svc consul-dns -o jsonpath='{.spec.clusterIP}'` assumes the instance

[2019-01-09 15:46] robertpanzer commented on #10629
I think this is ok.
You'll see that the request was rejected due to a rejected authorization, to find the root of the problem you can check the logs generated by istio-policy (if configured) using the requestId that is also part of the access log.

[2019-01-09 16:50] Will2817 opened #10832 "Istio proxy does not complete TCP connections until data is sent"
**Describe the bug**

When using a TCP server and client, connections don't complete to the server until data is sent by client with istio-proxy sidecars in place. Istio is deployed as a sidecar in all pods in this scenario.

**Expected behavior**

Expected TCP server to see connection immediately when client establishes a connection.

**Steps to reproduce the bug**

`kubectl apply` the following

[2019-01-09 17:12] douglas-reid commented on #10827
If you desire to have additional information reach your adapter, one option would be to use a custom template for your adapter that has a field for `source_ip` that you can derive from an attribute expression of `request.headers["X-Forwarded-For"]` for example.

[2019-01-09 17:42] douglas-reid commented on #9858
OK. We now have issues opened for the four individual flaky tests in e2e_mixer (all with release-1.1, P1 labels) with some PRs open against them. I'm going to close this issue, with an eye towards opening another issue if/when the long-running issue becomes the blocker.

[2019-01-09 17:43] douglas-reid commented on #10724
There is a PR open that is attempting to address this issue. Let's all review that: https://github.com/istio/istio/pull/10807

[2019-01-09 17:45] douglas-reid commented on #10258
This should be addressed by https://github.com/istio/istio/pull/10826.

[2019-01-09 18:08] kyessenov commented on #10827
I believe there is `origin.ip` that would be the downstream IP, especially, in the context of the ingress gateway. Note that ultimately this depends on the cloud provider. You would also need to disable k8s load balancing for the ingress service, per https://github.com/istio/istio/issues/7328.

[2019-01-09 18:14] zombor commented on #10062
I guess this means that turns off service-to-service TLS encryption? Any way to fix this bug without disabling TLS?

[2019-01-09 18:23] #10789 closed

[2019-01-09 18:55] kyessenov commented on #10783
After looking at the code and experimenting, it seems that envoy auto-inserts content length = 0 header for requests with empty bodies. So this issue is restricted to requests with no bodies and directives that want to remove the content length header.

[2019-01-09 19:40] ja30278 commented on #7878
In fact, it seems like this could be done internal to the connection servicing loop, and looks like a relatively non-invasive change (see the WIP PR).

[2019-01-09 19:42] douglas-reid commented on #10393
I've sent a provisional fix for what I believe the underlying issue was. Please take a chance to review, if possible.

[2019-01-09 19:47] ja30278 commented on #7878
(actually, I see this was proposed earlier in the thread, but raised the possibility of unwanted churn)

[2019-01-09 20:01] douglas-reid commented on #8986
This was actually addressed in install code recently.

[2019-01-09 20:01] #8986 closed

[2019-01-09 20:22] ksemba commented on #10827
I'm running the bookinfo example app on GKE. I added both suggestions to my instance metric definition like:

`origin_ip: origin.ip` and `xff_header: request.headers["X-Forwarded-For"]`

This did not provide any values for those metrics. Then I patched my GKE k8s cluster like this:
`kubectl patch svc istio-ingressgateway -p '{"spec":{"externalTrafficPolicy":"Local"}}' -n istio-system`

but since t

[2019-01-09 21:00] douglas-reid commented on #10815
@stephen-dahl there have been reports of issues on AWS EKS before that may be related. If you have a chance, you may consider trying with a 1.1 snapshot release, setting the mixer option of "useAdapterCRDs" to "false" to see if that helps.

[2019-01-09 21:41] douglas-reid commented on #10236
As this has been patched in the 1.0 and 1.1 branch, I think it is now safe to close this issue.  Please re-open if you feel it is not appropriate.

[2019-01-09 21:41] #10236 closed

[2019-01-09 21:42] douglas-reid commented on #8906
This issue was root-caused and addressed in the 1.0 and 1.1 branches. When 1.0.6 and 1.1 are out, the fix will be to upgrade.

[2019-01-09 21:42] #8906 closed

[2019-01-09 21:43] ksemba commented on #10827
@kyessenov thanks for the clarification. But as soon as I set the `externalTrafficPolicy `to `Local `on my `istio-ingressgateway` service, that service is no longer available (web page doesn't load anymore). Do you know why and how to fix this? Thanks again for you support.

[2019-01-09 21:48] kyessenov commented on #10827
I don't know why it would stop working. @PiotrSikora has tried this awhile ago, or maybe @rshriram might know about any recent changes. Which version are you on?

[2019-01-09 21:50] kyessenov commented on #7544
@douglas-reid I haven't done any specific work for this request. I'd expect the following work items:
- modify envoy to support filters for connection upgrades
- integrate mixerfilter into the connection upgrade pipeline
- add a new protocol to mixer protocol attribute for websockets

[2019-01-09 21:51] mhamrah commented on #10236
thank you!

[2019-01-09 21:57] douglas-reid commented on #7544
@kyessenov thanks. a quick look seems to imply that filter chains are supported for upgrades (checking latest docs). is it possible that this may (mostly) just work at this point?

[2019-01-09 21:58] kyessenov commented on #7544
I'm pretty confident that it won't work by itself, since we need to register mixerfilter in the correct place and implement upgrade-specific interfaces in the filter.

[2019-01-09 22:07] ayj commented on #10768
Galley doesn't need root privileges. I think the same is true for Mixer and Pilot. Their `istio-proxy` sidecars are a bit different than the app sidecars in that traffic is not automatically captured (via iptables) and the proxy configuration itself is hardcoded (vs. configured by Pilot) such that the root privileges and special uid is not needed.

[2019-01-09 22:09] dicarlo2 commented on #10819
I got this working by instead sending a request to a local cluster gateway which then routed it to the remote cluster gateway.

However, the connection from pilot to the local cluster gateway is unencrypted. AFAICT there's no way to configure the CAs for pilot to trust (aside from changing the system settings), so it's not possible to secure the connection to the local cluster gateway. I'm not a s

[2019-01-09 22:19] kyessenov commented on #10802
Have you tried returning a different Status in the check result? The dispatcher should return the error status back to the proxy, where it is translated to an HTTP code according to gRPC rules: https://github.com/grpc/grpc/blob/master/doc/http-grpc-status-mapping.md

[2019-01-09 22:22] ijsnellf commented on #9447
@vadimeisenbergibm: Last I checked, the code is non-deterministic for situations with conflicting wildcards. See: https://github.com/ijsnellf/istio/pull/1/files (especially the comments inside the PR)

[2019-01-09 22:33] stephen-dahl commented on #10815
after more digging, I found it is timing out trying to run the sidekick injection hook also. EKS is supposed to support mutation hooks now. I will try with the 1.1

[2019-01-09 22:46] robertpanzer commented on #10802
Thanks for the pointer! I'll try that and report back.

[2019-01-09 22:47] costinm commented on #10277
So to solve this - we would need something like the Istio filter ( or some extension to envoy ) get a setting indicating 'traffic should go trough egress' and modify the destination cluster to egress and add the original dst via 'proxy protocol'.

It is possible - but requires envoy or istio-envoy changes.

In the end - we need some way to propagate the IP from client to egress, and to simplify th

[2019-01-09 23:04] jcetkov commented on #10277
yes, that sounds like a generic and more reliable solution that wouldn't need the DNS hack. And indeed there would be a need to propagate the original intended destination from envoy to the egress gateway (be it by wrapping in another protocol or options in the ip header).

without that you can still achieve this via controlling the name resolution - the pod would resolve a name to unique 'virtual

[2019-01-09 23:08] costinm opened #10845 "Configure the open/close mixer policy at pod level"
We need to be able to configure a pod to use mixer with fail open / fail close, overriding the default.
Some pods require policy checks for security, others don't need any policy check.

Envoy metadata is passing annotations/labels to Pilot, and we can use this to fine tune settings for pods.
We may eventually express this in the Sidecar API, but we can start with using just an annotation.

We had

[2019-01-09 23:14] kyessenov commented on #10845
Are annotations considered secure enough for administrative control over policy opt-out?
Shouldn't the controls be outside of hands of the pod service account?

Longer term, a partial evaluation of match conditions in rules could statically determine whether policy checks are necessary.

[2019-01-09 23:39] douglas-reid commented on #7544
@kyessenov so, testing with the Tornado app, hitting the service via ingressgateway, I see the following in prometheus:

query: `sum(istio_requests_total{reporter="destination", destination_workload="tornado"}) by (source_workload, destination_workload, response_code)`

[code]

and

query: `sum(istio_request_bytes_sum{destination_app="tornado", reporter="destination"}) by (source_workload)`

[code

[2019-01-09 23:42] costinm commented on #10845
Long term we may refine it - but short term we need a way to solve the customer issue.

They could simply bypass injection ( which we support ) - without admin control.

@mandarjog  - do you remember what happened with the annotation to not call mixer policy at all that we used during 1.0 testing ?

[2019-01-09 23:48] douglas-reid commented on #7544
Totally works for basic Mixer rules!

Added:

[code]

Then, `$ curl -v --header "websocket: yes"  http://35.188.6.141/`:

[code]

Then: `$ curl http://35.188.6.141/`:

[code]

So, I think we can mark this as DONE?

[2019-01-09 23:50] mabushey opened #10847 "pip does not work inside container with Envoy proxy."
**Describe the bug**
Cannot retrieve data from pipy.python.org - `pip install boto3` from inside container with Envoy sidecar proxy.
[code]

**Expected behavior**
`Pip install` installs

**Steps to reproduce the bug**
Add egress rule:
[code]
Exec into container and run `pip install boto3`.

**Version**
[code]
This is a mostly an obsolete tool, the only thing it's good for is checking the mTLS sett

[2019-01-09 23:51] douglas-reid commented on #7544
@srinandan is the above deny rule example sufficient enough to meet your request? Is there more needed here (like some sort of attribute indicating that the request is going to be upgraded or similar) ?

[2019-01-10 00:03] jtimdwyer opened #10848 "SSL Cert Error when connecting to Cognito"
**Describe the bug**
Cannot connect to AWS Cognito from within a pod with sidecar. The pod is able to communicate without a sidecar.

[code]

**Expected behavior**
I expect to be able to connect to AWS Cognito from a pod with sidecar.

**Steps to reproduce the bug**
Use CognitoIdentityProvider from the ruby aws-sdk to connect to Cognito.

**Version**
[code]

**Installation**
[code]

**Environment*

[2019-01-10 00:43] quanjielin commented on #10283
with https://github.com/istio/istio/pull/10836, cert format is correct ```URI:spiffe://cluster.local/ns/foo/sa/default```, pod start successfully;

current issue is mtls hit 503, close this issue and use the main bug to track for mtls issue.

[2019-01-10 00:43] #10283 closed

[2019-01-10 01:02] Nino-K commented on #10785
Just going to throw the corresponding PR's in here so it's easier to keep track of this.
Proto updates: https://github.com/istio/api/pull/741 and Pilot changes: https://github.com/istio/istio/pull/10635

[2019-01-10 01:21] Nino-K commented on #10497
Just going to throw the related PRs in here: https://github.com/istio/api/pull/741 and https://github.com/istio/istio/pull/10635

[2019-01-10 01:22] quanjielin commented on #9035
verified workload provision pipeline envoy -> nodeagent -> citadel works, mtls works.

[2019-01-10 01:33] ayj opened #10851 "TestPollingWatcher_PollingUpdates_Update flake"
https://circleci.com/gh/istio/istio/286627

[2019-01-10 01:34] clyang82 commented on #10768
Thanks @ayj for your information. How about create a user `istio` to run the process?

[2019-01-10 05:17] YealZoy opened #10855 "istio policy pod and istio telemetry pod restart always"
**Describe the bug**
![image](https://user-images.githubusercontent.com/10301073/50942750-b38cb780-14c4-11e9-9f14-8a64fd9fed0e.png)

\#  kubectl logs istio-policy-85c8dcc59c-kr9n2 mixer -n istio-system
gc 1 @0.043s 7%: 0.084+7.0+2.8 ms clock, 0.50+0.45/5.4/0.30+16 ms cpu, 4->4->2 MB, 5 MB goal, 6 P
Mixer started with
MaxMessageSize: 1048576
MaxConcurrentStreams: 1024
APIWorkerPoolSize: 1024
Adapte

[2019-01-10 06:38] naveeng68 commented on #6981
HI,
I am getting below line after implematation ISTIO in my project. its running successfully but getting below line:
2019-01-10T06:04:30.333979Z\u0009info\u0009ads\u0009ADS: \"127.0.0.1:52312\" sidecar~100.126.88.78~<appname>-56cd986847-n6swf.<namespace>~<namespace>.svc.cluster.local-782 terminated rpc error: code = Canceled desc = context canceled

I am using:
Client Version: version.Info{Major:

[2019-01-10 06:51] Disturbing commented on #4963
Agreed, this is a good solution.

I will look into this with my use case and confirm the feature + resolution in the next 3-4 weeks.

[2019-01-10 06:55] naveeng68 opened #10858 "getting error in istio pilot"
HI,I am getting below line after implematation ISTIO in my project. its running successfully but getting below line. is its error?:
`2019-01-10T06:04:30.333979Z\u0009info\u0009ads\u0009ADS: \"127.0.0.1:52312\" sidecar~100.126.88.78~app-name-56cd986847-n6swf.<nameepace>~<nameepace>.svc.cluster.local-782 terminated rpc error: code = Canceled desc = context canceled`

and below is istio pilot logs:

[2019-01-10 07:02] eric4545 commented on #10637
Having the same issue with this [Chart master-latest-daily/charts/istio-1.1.0.tgz](https://storage.googleapis.com/istio-prerelease/daily-build/master-latest-daily/charts/istio-1.1.0.tgz).
Trying to reproduce in local with below got same error `Error from server (Timeout): error when creating "STDIN": Timeout: request did not complete within allowed duration`

[code]

[2019-01-10 08:43] elevran commented on #7878
in order to create a more balancing connection distribution, Envoys would need to reconnect. This can be forced entirely by Pilot, by Envoy or by some cooperative measure.

- A Pilot only solution could use [keepalive.ServerParams.MaxConnectionAge](https://github.com/grpc/grpc-go/blob/bd0b3b2aa2a9c87b323ee812359b0e9cda680dad/keepalive/keepalive.go#L59)
- similarly, Envoy could force a reconnect as

[2019-01-10 08:52] wansuiye commented on #10360
there are lots of warn logs and gc logs, 1.0.4 and 1.0.5 all have the problem

[code]

[2019-01-10 10:43] #8649 closed

[2019-01-10 10:58] ksemba commented on #10827
The hint regarding my cluster version lead me to upgrade my cluster from some v.1.9 to the latest v1.10.9-gke.5. This has fixed the issue and I can now see the real client IP within the `origin.ip` metric --> very nice!

@douglas-reid although my issue is solved, I still wanted to mention that for me, the `request.headers["X-Forwarded-For"]` metric is not getting populated with any value (always s

[2019-01-10 10:58] #10827 closed

[2019-01-10 12:07] motek80 opened #10864 "Istio on Kubernetes: pod to service communication doesn't work"
I have two deployments (A and B), each one exposing ClusterIP Service. Before deploying Istio, I was able to communicate from pod A to any of B pods via its Service (e.g. http://B.default.svc.cluster.local/dosomecrazystuff)

After deploying Istio (1.0.5), I getting "http://B.default.svc.cluster.local refusing connection" when calling it from pod in deployment A.

What is default routing policy in

[2019-01-10 14:20] clyang82 commented on #10815
FYI @morvencao

[2019-01-10 14:43] zombor commented on #10062
I was able to get things working by applying this `DestinationRule`

[code]

I'm able to connect to mysql from another pod after this was applied.

[2019-01-10 14:51] #7448 closed

[2019-01-10 15:03] wansuiye opened #10868 "Pilot 1.0.5: concurrent map iteration and map write"
**Describe the bug**
{{ Succinctly describe the bug }}
pilot restart at times and the logs:

[code]
**Expected behavior**
{{ What did you expect to happen? }}

**Steps to reproduce the bug**
{{ Minimal steps to reproduce the behavior }}

**Version**
{{ What version of Istio and Kubernetes are you using? Use `istioctl version` and `kubectl version` }}
istio 1.0.5
**Installation**
{{ Please describe

[2019-01-10 15:04] knrc commented on #8938
The PR was pushed up yesterday, https://github.com/istio/istio/pull/10854

[2019-01-10 15:08] wansuiye commented on #10515
ok i will close the issue, and please review the pr or solve the problem in another way, thanks

[2019-01-10 15:09] #10515 closed

[2019-01-10 15:14] vadimeisenbergibm commented on #10515
@wansuiye The PR is not in the code that I am familiar with, sorry. Also, note that you have a conflict in the PR.

[2019-01-10 15:20] linsun commented on #10768
@clyang82 probably worth exploring if this can work, if it works, it will folks who don't like to use root to run processes.

[2019-01-10 15:44] stephen-dahl commented on #10815
@douglas-reid I was not able to find the "useAdapterCRDs" setting in values.yaml is it a helm configuration? if not where do I set it?

[2019-01-10 16:02] luksa commented on #10768
Ideally, the image should allow running the container with _any_ uid, so that it can be run with a new (random) uid every time. This improves security in cases where an attacker is able to escape from the container. Using a static uid may help the attacker do things outside of the container, if that same uid is used on the host (e.g. if the uid is allowed to access sensitive files).

Allowing the

[2019-01-10 16:12] wjwinner opened #10871 "The log format of ingressgateway is incorrect"
**Describe the bug**
[code]

as you can see, the uri path and protocol are mixed together.

**Version**
1.0.5

[2019-01-10 16:31] nea1 commented on #9043
@jaygorrell We've been refocused on other projects so we haven't revisited this in anger. I was initially thinking that we would hold out for the 1.1.0 release, however it looks like 1.0.5 is worth trying. I'll be sure to update you if we give it a go.

[2019-01-10 16:45] luksa opened #10872 "Ensure kubectl explain works with Istio CRDs"
**Describe the feature request**
`kubectl explain` allows you to look up documentation for any Kubernetes resource and its fields. This helps tremendously, since you don't need to use a browser to look up the information. Currently, `kubectl explain` does not work for Istio CRDs.

To make this work, the CRD's `spec` field should be properly structured instead of being just a `map[string]interface{

[2019-01-10 17:07] robertpanzer opened #10873 "Value of source.workload.ui changed between 1.0 and 1.1"
**Describe the bug**
I have a mixer rule using the listchecker adapter.
The listentry looks like this:
[code]

The rule should ensure that only one certain deployment is allowed to use this route:
[code]

The listchecker looks like this:
[code]

My routes are configured to route from a pod in the Istio cluster to the egress gateway.
The egress gateway routes the request to an external endpoint tha

[2019-01-10 17:28] shovelend opened #10875 "X-Request-Id gets overwritten by Istio (Envoy)"
**Describe the bug**

When implementing request tracing in our clusters we noticed that `x-request-id`s generated by nginx get overwritten by the Envoy proxy.

Our internal nginx gateway(outside the k8s cluster) proxies requests to Istio's `31380` port with all the request headers, the `x-forwarded-for` with nginx's ip appended and a generated `x-request-id` by nginx gateway.

Having checked [Envo

[2019-01-10 17:35] bianpengyuan commented on #10855
Several CRDs are missing which will make mixer fail to initialize: Unable
to initialize Mixer: unable to listen: failed to discover critical kinds:
[template handler adapter instance].

Could you check if you defined them properly in your cluster?

On Wed, Jan 9, 2019 at 9:18 PM 郑玉燕 <notifications@github.com> wrote:

[2019-01-10 17:36] stephen-dahl commented on #10815
found the pull request that adds useAdapterCRDs I'm guessing that it is not a part of any of the snapshots, it is only on the 1.1 branch

[2019-01-10 17:54] jeffmendoza commented on #10785
In addition to those, #10834 will be used for config.

[2019-01-10 18:04] ayj commented on #10872
xref: https://github.com/kubernetes/kube-openapi/issues/97

[2019-01-10 18:18] djannot opened #10876 "Allow Istio Multicluster to work without all pod CIDRs in every cluster to be routable to each other"
**Describe the feature request**
Having Kubernetes private nodes communicating on one cluster communicating with private nodes on another cluster doesn't seem to be a nice thing.
Kubernete public nodes should be used for external services to reach Kubernetes services.
Why not leveraging Ingress Controllers to expose the different Istio pods (pilot, policy, ...) so that the other Kubernetes cluster

[2019-01-10 18:32] kyessenov commented on #10873
Gateways generally act as client-side proxies in istio. It gets confusing with the egress gateways since the source is ambiguous (it is either the gateway itself or whoever originated the request inside the mesh). I'm also not sure how hosts are carried over to the egress gateway. Can you please retrieve Envoy configurations for the egress and the test app using `istioctl proxy-config`? We can the

[2019-01-10 19:10] douglas-reid commented on #10845
So, as I understand it, this request is: enable override the policy enforcement defaults (fail open vs. closed and/or don't call mixer at all) for workloads.

@geeknoid is this something that could be addressed longer term via application-level config artifacts (in galley) or similar?  Or do we feel like annotations on deployment specs / pod specs is the right mechanism for this behavior ?

[2019-01-10 19:15] stephen-dahl commented on #10815
put this in my values file and helm installed with the release-1.1 branch. still same result.
[code]

[2019-01-10 19:17] stephen-dahl commented on #10815
`kubectl get deployments -o yaml`
[code]

[2019-01-10 19:18] douglas-reid commented on #10815
@stephen-dahl OK. Thanks for trying.

It looks like you are having issues reaching the sidecar injector webhook. What is the state of that pod in your `istio-system` namespace ?

[2019-01-10 19:19] douglas-reid commented on #10815
/assign @ayj

Jason, it looks like the sidecar-injector webhook is having issues. Would you mind taking a look?

[2019-01-10 19:20] stephen-dahl commented on #10815
the pods where find when i was running on 1.0.5 looks like problems with some in this branch
[code]

[2019-01-10 19:43] hklai commented on #9858
@douglas-reid I have sent https://github.com/istio/istio/pull/10878 to hopefully improve the first problem you mentioned in https://github.com/istio/istio/issues/9858#issuecomment-452120297.

[2019-01-10 19:59] stephen-dahl commented on #10815
in 1.0.5
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2019-01-10 20:23] nmittler commented on #6257
@Stono, is this still an issue?

[2019-01-10 20:43] Nino-K commented on #10779
@ozevren going to close this issue since the PR fixed it, feel free to re-open if needed.

[2019-01-10 20:43] douglas-reid commented on #10732
This should be the default in 1.1 now. Closing, pending indications that more work is needed.

[2019-01-10 20:43] #10732 closed

[2019-01-10 20:45] ozevren commented on #10779
The PR is not in yet.

[2019-01-10 20:57] Nino-K commented on #10503
@yangdihangN you can build your own MCP server using the [mcp pkg](https://github.com/istio/istio/tree/master/pkg/mcp) if your requirements are outside K8s and Cloudfoundry.

[2019-01-10 21:05] douglas-reid commented on #10804
Patch to (hopefully) deflake is merged. Will close for now; will reopen if issue persists.

[2019-01-10 21:05] #10804 closed

[2019-01-10 21:32] stephen-dahl commented on #10815
It looks like this is a problem with my cluster setup. I was having the problem on a terraform setup that I wrote myself. I just tried again using `eksctl` and everything works. are there any extra required ports or something like that that could be causing this?

[2019-01-10 22:41] karthikt-yahoo commented on #8374
Pilot Configuration generation behavior is different for HTTP and TCP Applications.

HTTP Gateway doesn't have dependency on VirtualService. When ever a HTTP Gateway is created, listeners configs are created and pushed to ingressgateway immediately.

But incase of TCP, Virtual service must be created before TCP gateway. If TCP Gateway is created first, Pilot omits the listener configuration with f

[2019-01-10 23:12] kahou82 opened #10883 "istio-security-post-install-1.1.0-snapshot.4 crashes"
**Describe the bug**
Deploy a greenfield and pod/istio-security-post-install-1.1.0-snapshot.4 crashes.

From the pod log, it complains some role binding is missing

[code]
But the service account and the binding is there tho:

[code]

[code]

One thing i notice is there is no role and rolebinding:

[code]
Note: this problem only happens intermittently. I cannot always reproduce it but it is unpred

[2019-01-10 23:15] stephen-dahl opened #10884 "tag istio-system with istio-injection: disabled when enableNamespacesByDefault: true"
**Describe the bug**
if istio is installed with `sidecarInjectorWebhook.enableNamespacesByDefault=true` then it can fail trying to inject sidecars on itself. We need to ensure the `istio-injection: disabled` label is applied to the istio namespace.

**Expected behavior**
namespace should have label to prevent it trying to inject itself

**Steps to reproduce the bug**
install istio using `sidecarIn

[2019-01-11 00:03] #2158 closed

[2019-01-11 00:15] kyessenov commented on #10801
@robertpanzer Regarding the warning: that is a consequence of the expression language semantics. In CEXL, a missing attribute value is an error. We're trying to change that with CEL to default to a type-default value, but for now, we ask to use "|" operator.

The linked PR implements the suggestion to not set or append empty header values.

[2019-01-11 02:06] liyongxian commented on #10794
@wstrater Thanks.It happens to me sometimes,I don't know why.
I am trying to test Istio-inggress for replacing Nginx-ingress,especially in L4 routers.

[2019-01-11 02:06] nmittler opened #10891 "Galley improperly parses Pod yaml/json"
This is mostly an issue for the file-based input source. During testing for #10846, I noticed that the parsing of the following fields are problematic when running the [Galley conversion test](https://github.com/istio/istio/blob/master/tests/integration2/galley/conversion/conversion_test.go):

- IntOrString (used in the liveness/readiness Probe/Handler/HTTPGetAction/Port)
- Quantity (used in Conta

[2019-01-11 02:16] liyongxian commented on #10864
Maybe it causes by protocols.Istio 1.0.5,envoy can not  support filters for some protocols like Kafka, AMQP or MQTT.

[2019-01-11 02:32] hzxuzhonghu commented on #10822
Really weird, Looked through grpc code, I find that when `StreamAggregatedResources` exits, the related stream will be closed(this is the grpc behavior).    And then `stream.Context()` canceled ,  so `req, err := con.stream.Recv()` should return with error.

[2019-01-11 02:37] hzxuzhonghu commented on #10822
Oh, I see.   It is blocked here. https://github.com/istio/istio/blob/d3b598579ec4d395e6c26ac6b468a3ea5315efbc/pilot/pkg/proxy/envoy/v2/ads.go#L361

[2019-01-11 02:58] #4244 closed

[2019-01-11 03:18] l10xbin commented on #10871
I think this issue was resolved latest code.  Here are the logs in version1.1-20181202-09-15.

 "GET /productpage HTTP/1.1" 200 - 0 5719 99 95 "10.244.0.0" "Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.80 Safari/537.36" "18065eca-40bd-43f4-a2bd-a41d90c22020" "xxxx:31380" "10.244.1.56:9080" outbound|9080||productpage.default.svc.cluster.local - 10

[2019-01-11 03:41] hzxuzhonghu commented on #10883
Can you tell what kubectl version are you using?

[2019-01-11 03:46] hzxuzhonghu commented on #10883
kubectl request extensions API group not `apps/v1`

[2019-01-11 04:12] hzxuzhonghu commented on #10858
This error if from grpc, shows grpc connection down. It's just a info.

[2019-01-11 04:13] #10871 closed

[2019-01-11 04:13] hzxuzhonghu commented on #10871
Remember it's resolved

[2019-01-11 04:18] hzxuzhonghu commented on #10868
/assign

[2019-01-11 04:19] hzxuzhonghu commented on #10868
this can also occur in release-1.1

[2019-01-11 06:11] Liv1020 commented on #8938
I look at other annotation format, Is `proxy.sidecar.istio.io/cpu` more suitable?

[2019-01-11 06:16] knrc commented on #8938
@Liv1020 it's an existing annotation

[2019-01-11 06:17] Liv1020 commented on #8938
@knrc I see, so i delete comment

[2019-01-11 06:46] fnp927 commented on #8846
Hi
       I 've read part of the envoy code and find that "consecutiveErrors" in istio should be translated to "consecutive_5xx" in Envoy.
![image](https://user-images.githubusercontent.com/28209602/51017521-499d0c80-15af-11e9-9616-7872e2341820.png)

      And the consecutive_5xx refers to all HTTP response code that equal or greater than 500.
![image](https://user-images.githubusercontent.com/282

[2019-01-11 07:04] fangchao117 opened #10896 "Nginx compatible istio configuration"
**Describe the bug**
{{ Succinctly describe the bug }}

Ingress-nginx (exposed port)---->istio (does not expose any ports inside the cluster) ----->services

**Expected behavior**
{{ What did you expect to happen? }}

access web

**Steps to reproduce the bug**
{{ Minimal steps to reproduce the behavior }}

Unable to access

**Version**
{{ What version of Istio and Kubernetes are you using? Use `is

[2019-01-11 09:11] robertpanzer commented on #10802
Setting the status code via the grpc status code indeed seems to work, thanks!
The linked document is not complete and not correct though, the full mapping is available here: https://github.com/gogo/googleapis/blob/master/google/rpc/code.proto

I would like to keep this issue open, as I would still like to define the response body.
And setting the status code to other values than the ones given by

[2019-01-11 09:43] pilhuhn commented on #10666
Ha, wanted to open a similar one for quite a while. Thanks for doing this and thanks @morvencao for fixing that in the code.

[2019-01-11 09:58] robertpanzer commented on #10801
This would solve my concrete case.

But I think it would not work in general. There are probably folks out there that would like to set empty headers as these might have a different meaning than an absent header.

Would it make sense to add 2 additional operations `APPEND_IF_NOT_EMPTY` and `REPLACE_IF_NOT_EMPTY` that only add or replace a header if it's not `""`?
(I am very bad at naming things)

[2019-01-11 10:30] markusthoemmes commented on #7136
I feel like envoy (or rather the whole proxy) should stay up until all connections it proxies are drained (or the terminationGrace expires). That'd automatically keep it up until the downstream application has shut down itself.

Also related #10112

[2019-01-11 10:30] wooderz opened #10898 "Websocket connection dies on refresh"
**Describe the bug**
VirtualService with DestinationRule running including websocketUpgrade: true - all works on first load of page, but refreshes cause the Websocket connections to throw 404 errors. I'm not 100% sure but I think this could be caused by using multiple replicas?

**Expected behavior**
Websocket Connection to be stable throughout lifetime of request and browser refreshes

**Steps to

[2019-01-11 12:03] #6171 closed

[2019-01-11 12:20] robertpanzer commented on #10873
Well, for requests to external destinations the egress gateway is the only place where I could apply a policy unless I want to enable client side mixer calls, which I definitely don't want as it seems to be a cluster wide setting.

When doing a call to a provider that is in the same cluster I can see that mixer identifies the correct consumer workload.
Only the mixer calls from the egress gateway

[2019-01-11 14:48] #2885 closed

[2019-01-11 17:00] nmittler commented on #7665
@Stocco @iandyh thanks for the update.

Quick update on my end, I have a PR out for review that should even further reduce the likelihood of encountering 503s during pod churn: https://github.com/istio/istio/pull/10566

The main thing that this PR does is to apply a reasonable default retry policy to outbound clusters.

As a part of this PR, I added an e2e test to cause 503s by churning pods. I ex

[2019-01-11 17:06] kahou82 commented on #10883
[code]

[2019-01-11 17:21] theganyo opened #10902 "requestHeaderOperations in rule inoperative without an action"
I'm not sure if this is a "bug" or just needs to be documented as a quirk, but I wanted to raise it for discussion at least:

If I declare a rule that has requestHeaderOperations, it will not fire unless it has an associate "action". I feel that this is not intuitive to the operator (at least it wasn't to me) as `actions:` and `requestHeaderOperations:` are peers in the spec.

For example, a rule

[2019-01-11 17:23] theganyo commented on #10902
FYI: I'd be happy to provide a PR if we decide it's a bug and not a "feature".

[2019-01-11 18:09] smawson commented on #10757
Andy this looks like some sort of infra failure, resources were deleted and then something checked them, can you take a look and see what the cause is and pass it on to someone?

[2019-01-11 18:10] smawson commented on #10023
Is this issue fixed?

[2019-01-11 18:12] smawson commented on #9994
Status on this? What needs to happen here if anything?

[2019-01-11 18:13] smawson commented on #9867
Andy are these tests still failing regularly? What are next steps to figure out the issue here?

[2019-01-11 18:14] smawson commented on #9866
Venil can you give an update once you're back from vacation?

[2019-01-11 18:16] smawson commented on #9685
Steve can you give an update on this? Are you looking into this or should someone else take it?

[2019-01-11 18:16] ayj commented on #9863
The galley specific flake should be fixed by 9871. The CircleCI problem is being tracked by 7863.

[2019-01-11 18:17] smawson commented on #9566
Doug or Nupur can you give an update?

[2019-01-11 18:17] smawson commented on #7863
What's the status on the fix for these issues?

[2019-01-11 18:18] smawson commented on #7696
Mandar giving this to you, why was this test submitted disabled?

[2019-01-11 18:19] smawson commented on #4794
Ping Peter, can you take a look?

[2019-01-11 18:22] nmittler commented on #9994
This was fixed by #10002. The github autoclose feature must not have like the PRs reference to this issue for some reason. Closing now.

[2019-01-11 18:22] #9994 closed

[2019-01-11 18:24] douglas-reid commented on #9566
@smawson the underlying fundamental issue with quota enforcement has not been addressed. the test changes have provided stability in postsubmit runs, but it appears that the tests still fail every so often in presubmit runs (i'm not entirely sure what is different). @gargnupur is looking at dialing up the limits and traffic for the tests to avoid the enforcement issue... but that would just hide t

[2019-01-11 18:30] bianpengyuan commented on #4794
@smawson Ack. Looking into it now.

[2019-01-11 18:41] gargnupur commented on #9566
Just found that there has been a regression too in mixer tests.. getting errors like these:
prometheus query: sum(envoy_http_mixer_filter_total_check_calls{app.kubernetes.io/name="productpage"})
2019-01-11T10:49:07.823451Z	info	Could not get remote check calls metric from prometheus: bad_data: parse error at char 50: unexpected character inside braces: '.'

As Doug said, also looking at adjusting