[2019-02-07 21:29] ayj commented on #10337
fixed by https://github.com/istio/istio/pull/10339

[2019-02-07 21:29] #10337 closed

[2019-02-07 21:44] onixmatt commented on #7317
After some trial and error I managed to figure out how to accomplish this:

[code]

[2019-02-07 22:11] absc6 commented on #11504
@esnible  I tried to configure an external service, I am getting **UNAVAILABLE:upstream connect error or disconnect/reset before headers**. Can you please have a look.

The service is accessible from the server. There are no restricting in iptables, the service is present outside of istio mesh.
[code]

Below is my configurations, I have removed any other service entries to void conflicts:
[code]

[2019-02-07 22:15] daparthi001 commented on #6841
@ayj
i had the same issue, i enabled the auto injection on the default namespace and trying to deploy the bookinfo application none of the pods are getting started ?Any help on it would greatly appreciated

[2019-02-07 22:52] jeffmendoza opened #11604 "Galley needs to support metadata for outgoing MCP sink connections"
Galley should allow attaching arbitrary gRPC stream metadata to outgoing MCP sink connections. This should be a cli option. This would be used in addition to the `sinkAddress` cli option. (Not used in default Istio installs).

[2019-02-07 22:53] jeffmendoza commented on #11604
PR #11602

[2019-02-07 23:09] ayj opened #11605 "Remove legacy MCP stack"
https://github.com/istio/istio/pull/11292 introduced the new MCP source/sink stack into Galley, Pilot, and Mixer. The legacy stack was temporarily retained during the transition. We don't not plan to support the legacy stack in the 1.1 release. It should be removed.

[2019-02-07 23:22] mabushey opened #11606 "VirtualService rules change when active namespace is changed"
Istio 1.0.5, k8s 1.11.6

Changing the active namespace changes the namespace in the Virtualservice. Notice the `host:` line change from `httpbin.httpbin.svc.cluster.local` to `httpbin.microservice-stg.svc.cluster.local`
[code]

[2019-02-07 23:30] mabushey commented on #11606
Somehow the rules got applied against multiple namespaces (depending on active namespace), which makes no sense as the route file specifies the `microservice-stg` namespace. I moved httpbin from `httpbin.microservice-stg` to `httpbin.httpbin`. The VirtualService stayed in `microservice-stg`.

[2019-02-07 23:37] mabushey commented on #11606
It looks like the same VirtualService can be applied to multiple namespaces, and as they're "global", one will randomly take priority.

[2019-02-07 23:54] sdake commented on #11316
This work has merged.  Closing issue.

[2019-02-07 23:54] #11316 closed

[2019-02-08 00:02] yangminzhu opened #11608 "Support host/scheme field in health rewrite probe"
**Describe the feature request**
k8s HTTP probe allows user to specify the [Host/Scheme](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#httpgetaction-v1-core) for the HTTP probe request.

I think most user may not using these fields but we probably should also support them in the rewritten [probe HTTP request](https://github.com/istio/istio/blob/9f6064f30dce6f3ff779000b753679

[2019-02-08 00:20] costinm commented on #11509
I spent quite a bit of time testing this - it seems using different port names is needed with the current code, we'll need to make it very clear in the docs.

With the 'scoping' (Sidecar) API the Gateway will be defined only in the ingress namespace ( istio-system or wherever ingresses are running if using a-la-carte), so the risk of different namespaces messing it up is low.

[2019-02-08 00:24] #11397 closed

[2019-02-08 00:24] #7976 closed

[2019-02-08 00:32] #11589 closed

[2019-02-08 00:56] anilutcs opened #11609 "Locality aware routing not applied when empty locality config on proxy"
**Describe the bug**
Locality aware config is not applied when side car proxy has empty locality config, something like:
[code]

**Expected behavior**
Locality aware routing should fall back to locality of side car service instances when both i) locality is not set or ii) empty locality is set on side car.

**Steps to reproduce the bug**
1. Checkout and build istio/release-1.1 branch commit `a0ac8

[2019-02-08 01:28] esnible commented on #11504
@absc6 this Issue is about providing sample ServiceEntries.  You must create a new Issue for your problem with test.abc.com:18080.

Because of Issue https://github.com/istio/istio/issues/10330 Istio 1.1 is allowing all pods to talk on port 18080.  I don't have test.abc.com but I had no problem doing `curl http://portquiz.net:18080` from within the cluster.  Which Istio version are you using?

The

[2019-02-08 01:30] MorrisLaw commented on #6518
https://github.com/istio/istio/pull/11568

[2019-02-08 02:42] incfly commented on #9150
From the error message it seems like the prober is not written, still remains as what it is.

Did you turn on `sidecarInjectorWebhook.rewriteAppHTTPProbe=true` using Helm? Also this feature depends on istio-proxy version to be at 1.1. Older proxy does not work.

https://preliminary.istio.io/help/ops/setup/app-health-check/#probe-rewrite

[2019-02-08 03:17] daparthi001 opened #11611 "Auto sidecar injection"
Unable to inject auto sidecar injection ,can some can suggest what is causing auto inject fail .

 systemctl status kube-apiserver -l
● kube-apiserver.service - Kubernetes API Server
   Loaded: loaded (/etc/systemd/system/kube-apiserver.service; enabled; vendor preset: disabled)
   Active: active (running) since Thu 2019-02-07 18:13:20 EST; 3h 56min ago
     Docs: https://github.com/GoogleCloudPla

[2019-02-08 04:19] ozevren opened #11612 "Racetest failure: istio.io/istio/mixer/adapter/fluentd TestHandleLogEntry"
https://gubernator.k8s.io/build/istio-circleci/racetest/319930
[code]

[2019-02-08 04:59] vadimeisenbergibm commented on #11509
@costinm note that the requirement of @dankirkpatrick is to be able to define multiple Gateways in multiple namespaces by multiple teams. This is how Kubernetes Ingress works - you can define multiple Ingress resources in multiple namespaces and Kubernetes will combine them.

[2019-02-08 05:29] ymesika opened #11614 "Racetest fails on the release-1.1 branch"
Package: istio.io/istio/security/pkg/nodeagent/sds
Test: TestStreamSecretsPush

https://gubernator.k8s.io/build/istio-circleci/racetest/320044

[2019-02-08 08:57] insider89 commented on #8893
Hello @objectiser. I've successfully run production-ready Jaeger in jaeger namespace with sidecar injection enabled (disable it only for jaeger-collector). Thx for the help.

[2019-02-08 11:06] shakti-das commented on #7787
Just noticed the same issue in our self-managed k8s environment as well. When the labels were only at `Deployment` label, the pilot logs were showing the related clusters in `ProxyStatus.pilot_eds_no_instances`. After adding labels to the `Service`, the related clusters were immediately removed from `ProxyStatus.pilot_eds_no_instances`.

[2019-02-08 15:30] dankirkpatrick commented on #11509
As I've been investigating my issue, I came accross https://github.com/istio/istio/issues/5829

I think it's the same issue.  The person resolved the issue by putting a wildcard in their gateway definition.

[2019-02-08 15:31] dankirkpatrick commented on #5829
I believe this is the same issue I'm seeing.  I filed this issue: https://github.com/istio/istio/issues/11509

[2019-02-08 16:06] esnible commented on #11552
Background: custom columns require no code, just additional fields in the CRD.
I have a demo of custom columns.  Please try it out.  If the CRDs you use have too much or two little data please attach your feedback.

To set up:
[code]

To run the demo:

[code]

[2019-02-08 16:11] ozevren opened #11620 "Flaky test: Upgrade tests-1.0.1"
https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio-releases_pipeline/294/release-upgrade-tests-1.0.1/321

It looks like the test is indicating success, but the job is failing.

[code]

Compare to output from a healthy test:
[code]

[2019-02-08 16:19] ozevren commented on #11620
I also noticed that 1.0.1 and 1.0.2 tests panes in testgrid seems to be reporting same things:
https://k8s-testgrid.appspot.com/istio-release#upgrade-tests-1.0.1
https://k8s-testgrid.appspot.com/istio-release#upgrade-tests-1.0.2

[2019-02-08 16:23] ibm-jason commented on #11527
@linsun here is something that we could try:

Using the `RAW` URL link to the file as it is hosted on GitHub, we can create subfolders to host the binary files right inside the repository itself. For example, https://raw.githubusercontent.com/istio/istio/master/istioctl/OWNERS is the download link to retrieve the `OWNERS` file from istio/istio. If we create a `releases/` subfolder in the `istio/is

[2019-02-08 16:43] #9272 closed

[2019-02-08 16:50] gbaufake commented on #10915
@dicarlo2 after you fix, did you see things doubled on Kiali?

[2019-02-08 16:56] esnible commented on #11611
Is your Sidecar Injector running?  `kubectl -n istio-system get pods | grep sidecar-injector` to check.

[2019-02-08 17:01] esnible commented on #11606
Most of the Istio samples do not specify a namespace.  For example _samples/httpbin/httpbin.yaml_ has no namespace.  It can be applied to whatever namespace you wish using `-n <namespace>`.

This allows users to deploy the service in whichever namespace they want without modifying the .yaml.

[2019-02-08 17:58] daparthi001 commented on #11611
# kubectl -n istio-system get pods | grep sidecar-injector
istio-sidecar-injector-7f4c7db98c-b44lj   1/1       Running     3          12h
 # kubectl logs istio-sidecar-injector-7f4c7db98c-b44lj -n istio-system
2019-02-08T15:56:20.025773Z     info    version root@6f6ea1061f2b-docker.io/istio-1.0.5-c1707e45e71c75d74bf3a5dec8c7086f32f32fad-Clean
2019-02-08T15:56:20.029051Z     info    New configurati

[2019-02-08 18:03] caohe opened #11621 "Racetest failure: istio.io/istio/pilot/pkg/proxy/envoy/v2 TestEds"
[https://gubernator.k8s.io/build/istio-circleci/presubmit/racetest/320345](https://gubernator.k8s.io/build/istio-circleci/presubmit/racetest/320345)

[code]

[2019-02-08 18:11] mabushey commented on #11606
@esnible I gave up on any of the Istio examples, and highly recommend everyone to do the same. Saying they're a wild goose chance is an understatement. Even the spec pages for Istio are almost always wrong. Love the project, but have never seen more inaccurate docs in my life. Even the httpbin you're mentioning is an out of date fork. I'm using the real one.

My bug report is that if you do not sp

[2019-02-08 18:16] caohe commented on #11621
Lint fails on unrelated files

[2019-02-08 18:32] BLaurenB commented on #10694
Hi Folks - is anyone currently working on this issue?

[2019-02-08 18:40] ostromart commented on #11571
From the first log I see:
     message: 'pods "httpbin-7cf66f94c4-hzhhd" is forbidden: unable to validate against
        any pod security policy: [spec.initContainers[0].securityContext.capabilities.add:
        Invalid value: "NET_ADMIN": capability may not be added]'

So it seems that injection is failing in this case because you don't have NET_ADMIN, not because you need privileged. Further, t

[2019-02-08 18:50] nitishm commented on #11571
@ostromart I dont think I agree with that. I have verified that it works when I have a PSP with the following spec.
[code]

Its always the `allowPrivilegeEscalation: true` that makes it work and `allowPrivilegeEscalation: false` errors out with the same message stating
[code]

[2019-02-08 18:53] ayj opened #11626 "Galley Grafana dashboard doesn't default to last 5 minutes"

[2019-02-08 18:53] diemtvu opened #11628 "Multiple tests doesn't work using Test scope"
**Describe the bug**

The integration2 test framework fails with `item already exists` error, when there is more than one test cases that define a test context like this.

[code]

**Expected behavior**

Tests should be able to run.

**Steps to reproduce the bug**

Create 2 tests like this.
[code]

**Version**
1.1

**Installation**
N/A

**Environment**
N/A

**Cluster state**
N/A

[2019-02-08 19:21] linsun commented on #11527
@ibm-jason are you proposing to check in the binary to github?  If so, I would prefer not to do it.  It should be created as part of the release archive process imho but serve it as an individual item for downloading.

[2019-02-08 19:36] ostromart commented on #11571
Since you have the repro, could you humor me and try it with the quotes?

[2019-02-08 20:10] esnible opened #11634 "Neither webhook nor istioctl validation detects extra fields in CRDs"
To reproduce:

[code]

Although there is a section `unexpected_junk` the admission controller happily accepts it.  `istioctl validate` does as well.

The `kubectl get` with `-v 9` option shows that Kubernetes is still holding the unexpected junk and transmitting it over the networking.

This is not a problem if the extra data is just comments, but as a user shows in https://discuss.istio.io/t/conf

[2019-02-08 20:24] nitishm commented on #11571
@ostromart  Just tried editing the psp and add the quotes and it state,
[code]

Seems like it doesn't see any difference.

The weird part is, like I stated earlier, with the same PSP/clusterrole/clusterrolebinding and the istio-injection label removed from the namespace (disabling automatic injection, manual injection and deploy successfully deploys.

@ostromart Does the mutatingwebhookadmission c

[2019-02-08 20:46] dicarlo2 commented on #11578
I had some time to look into this a bit more today - you're correct that it comes from the `destination.service.host` attribute in the envoy filter's route config. After a bit of digging through the code, I realized that this is mostly expected, when istio encounters duplicate services for a particular workload/port it simply picks one. However, I'd argue that it should pick one consistently (e.g.

[2019-02-08 20:48] esnible commented on #11606
I am trying to make the samples better.

The httpbin.yaml example is the latest version and can be seen at https://github.com/istio/istio/blob/release-1.1/samples/httpbin/httpbin.yaml

How do you change the namespace of a virtual service?  I tried with `kubectl edit` and `kubectl patch` and always received ```Error from server (BadRequest): the namespace of the object (istio-system) does not match

[2019-02-08 20:50] nitishm commented on #11571
@ostromart Here's a snapshot of the logs, created right after `kubectl create -f sleep.yaml` from the istio-sidecar-injector pod in case you can find something here,
[code]

[2019-02-08 20:51] nitishm commented on #11571
Not sure why it prints it 12 times ?!

[2019-02-08 21:50] douglas-reid commented on #11578
/cc @mandarjog @kyessenov @rshriram

[2019-02-08 22:12] castlemilk commented on #11601
might be related to [envoyproxy/envoy#5023](https://github.com/envoyproxy/envoy/issues/5023), [envoy/issues#5876](https://github.com/envoyproxy/envoy/issues/5876)

[2019-02-08 22:31] xeor commented on #7505
Is istio helmchart in a repository happening soon, or is it still going to take a while? There are many pr's and issues on this, all pointing in different directions.. Whats going on?

[2019-02-08 22:42] MBauer83 opened #11638 "No metrics in grafana with CNI enabled in istio 1.1.0-snapshot.5"
I have installed istio as per the [prelim install instructions](https://preliminary.istio.io/docs/setup/kubernetes/helm-install/#option-2-install-with-helm-and-tiller-via-helm-install) with the following settings during the actual installtion of istio (not istio-init): `--set grafana.enabled=true --set tracing.enabled=true --set kiali.enabled=true --set servicegraph.enabled=true --set istio_cni.en

[2019-02-08 22:48] ostromart commented on #11571
I think in this case the prints are due to admission failure and retries. Normally on success there would only be one request per resource.
So I've never used PodSecurityPolicy, but my interpretation of the docs is that allowPrivilegeEscalation must be true in order to set NET_ADMIN in the container. The docs state: "This bool directly controls whether the no_new_privs flag gets set on the contain

[2019-02-08 22:51] mabushey commented on #11606
@esnible

That's awesome! You have your work cut out for you! Thank you. :)

I figured out a little more. I have services in `xxxx-stg` and `xxxx-prd`. I tried putting the VirtualServices in each namespace, but only one worked. This was on a fresh setup of K8s 1.11 with kops and Istio 1.0.5. Once I set them to both use a namespace of `default`, both sets of rules worked.

To change the namespace y

[2019-02-08 22:59] nitishm commented on #11571
Can you point me to the docs ?

[2019-02-08 23:03] ostromart commented on #11571
https://kubernetes.io/docs/concepts/policy/pod-security-policy/#privilege-escalation

[2019-02-08 23:19] aslafy-z commented on #7505
I built a small helm add-on to address this kind of issue, see https://github.com/aslafy-z/helm-git

[2019-02-08 23:30] nitishm commented on #11571
Yep that baffles me as well.

Do you know if the right serviceaccount gets used by the admission controller when deploying the modified spec ? I ask because the log shows, `[system:serviceaccounts system:serviceaccounts:kube-system system:authenticated]` and not `serviceaccount: default`

[2019-02-09 01:48] diemtvu opened #11643 "Integration framework flag --istio.test.noCleanup doesn't work."
**Describe the bug**
This flag doesn't have any effect.

**Expected behavior**
Test environment won't be destroyed if this flag is set.

**Steps to reproduce the bug**
Run test with `--istio.test.noCleanup`

**Version**
n/a
**Installation**
n/a
**Environment**
n/a
**Cluster state**
n/a

[2019-02-09 03:37] VenkateshSrini commented on #10568
Hi If you could see the yaml file that I have generated and put above is a result of Kube-inject only. I need help in correcting the Gateway and or Virtual service orelse I would like to what else is missed in my deployment

[2019-02-09 03:38] #11601 closed

[2019-02-09 12:46] esnible commented on #11606
@mabushey II reproduced a problem, I am not sure if it is yours because I don't know what you are using for `hosts`.  Are you using two VirtualServices for the *same host*, in two different namespaces?  I don't think it is allowed, because the VirtualService is not bound to the namespace it is created in.

I created two VirtualServices `default` and `ns`, both for ns1-httpbin.ns1.svc.cluster.local

[2019-02-09 13:48] esnible commented on #10568
@VenkateshSrini I am not familiar with the annotation `kompose.service.type` and I do not use Windows so I may not be able to help but I will try.

For Istio, traffic flows through the "IngressGateway" into your cluster.  It is the IngressGateway that applies the Gateway rules and sends traffic to instances according to your VirtualService and Service.

Your Service "istio-test" has a port named "

[2019-02-09 17:44] iftachsc commented on #11001
+1!

[2019-02-09 18:23] klausenbusk commented on #10330
Is the traffic routed through the egress gateway? If yes, does that mean I can route all cluster traffic through a specific node (so the ip is static regardless of autoscaling)?

[2019-02-09 19:22] #11626 closed

[2019-02-09 19:23] #11614 closed

[2019-02-09 19:23] #10694 closed

[2019-02-09 19:26] #11549 closed

[2019-02-09 19:32] #11306 closed

[2019-02-09 19:35] #11280 closed

[2019-02-09 19:37] #11139 closed

[2019-02-09 19:40] #11023 closed

[2019-02-09 19:41] #11001 closed

[2019-02-09 19:42] #3063 closed

[2019-02-09 19:46] #10868 closed

[2019-02-09 19:47] #10802 closed

[2019-02-10 02:57] #9191 closed

[2019-02-10 03:57] #9190 closed

[2019-02-10 04:57] #4314 closed

[2019-02-10 05:57] #1423 closed

[2019-02-10 06:57] #9252 closed

[2019-02-10 07:56] #9249 closed

[2019-02-10 08:56] #9248 closed

[2019-02-10 09:40] objectiser commented on #11015
@linsun This is fixed in master and 1.1 branches. Will there be another release from branch 1.0?

[2019-02-10 09:56] #9099 closed

[2019-02-10 10:49] #11057 closed

[2019-02-10 10:52] #10915 closed

[2019-02-10 10:55] ymesika commented on #11516
Close?

[2019-02-10 10:56] #9037 closed

[2019-02-10 10:56] #11534 closed

[2019-02-10 10:57] ymesika commented on #11488
Can be closed?

[2019-02-10 11:00] #9030 closed

[2019-02-10 11:56] #9254 closed

[2019-02-10 12:56] #9238 closed

[2019-02-10 13:45] alejandrox1 opened #11652 "[Failing Test] istio-release: e2e-stackdriver"
**Which jobs are failing**:
* [istio-release#e2e-stackdriver](https://testgrid.k8s.io/istio-release#e2e-stackdriver)

**Which test(s) are failing**:
* [istio.io/istio/tests/e2e/tests/stackdriver.Failure](https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio-releases_pipeline/271/release-e2e-stackdriver/86)

**Since when has it been failing**:
It has been failing since before 2019/1/28.

**

[2019-02-10 13:56] #9246 closed

[2019-02-10 14:56] #8568 closed

[2019-02-10 16:25] kamilgregorczyk opened #11654 "Grafana post install CrashLoopBackOff"
**Describe the bug**
I ran:
[code]

**Expected behavior**
Grafana to be up and running but it is not, whole helm install command is hanging with such logs:
[code]

**Version**
[code]

**Installation**
helm install

**Environment**
MacOS, minikube

[2019-02-10 17:05] esnible commented on #11593
Happened for me this morning on https://circleci.com/gh/istio/istio/321930

"Failed to complete Init. Error context deadline exceeded" caused by Prometheus getting stuck in `0/1       Init:0/1   0          16m`.  The build attempts `Running command kubectl logs prometheus-68896c5775-5rtm6 -n istio-system -c prometheus --kubeconfig=` which fails with `Command error: exit status 1` and of course the

[2019-02-10 17:28] esnible commented on #11526
Test failed today with a documentation-only PR: https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/11508/istio-pilot-multicluster-e2e/8397

3 failed / 631 succeeded in 30m58s

Failures were of the form "expected 10 requests to reach v2 => Got map[]" from _tests/e2e/tests/pilot/pilot_test.go_

[code]

**The error "expected 10 requests to reach v2 => Got map[]" is confusing

[2019-02-10 17:37] esnible commented on #11436
I had a similar failure this morning.

https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/11508/istio-integ-k8s-tests/3369

1 failed / 6 succeeded after 24m52s.

[code]

Although the complain is that the container isn't ready the dump in the log shows that it is ready:

[code]

The error message is `2019-02-10T13:50:03.136896Z	error	CI	Wait for Istio pods failed: timeout

[2019-02-10 18:56] #9155 closed

[2019-02-10 19:56] #9239 closed

[2019-02-10 21:56] #6717 closed

[2019-02-10 22:56] #9161 closed

[2019-02-10 23:26] esnible commented on #11654
Which version of _helm_ are you using?

https://istio.io/docs/setup/kubernetes/helm-install/ says "If using a Helm version prior to 2.10.0" you must first do `kubectl apply -f install/kubernetes/helm/istio/templates/crds.yaml` (or a variant) before installing with Helm.

This is for Istio 1.0.x.  There are different instructions for Istio pre-1.1.

[2019-02-10 23:56] #9189 closed

[2019-02-11 00:56] #9123 closed

[2019-02-11 01:56] #9168 closed

[2019-02-11 03:30] huikang opened #11657 "Cronjob run incorrectly with istio"
I have a question about running cronjob with istio. I have a cronjob which runs fine without istio; the cronjob has a schedule say every one minute (`*/1 * * * *`).

With istio, the cronjob is triggered once and then stopped. Following is the output of kubectl get pod

[code]
If I force delete the pod, and then another pod of the cronjob is launched, but it stays in the same status. Could anyone h

[2019-02-11 03:56] #9170 closed

[2019-02-11 04:18] VenkateshSrini commented on #10568
@esnible,
Thanks for  your reply. Kompose service type is not something specific to windows. We use the tool Kompose (http://kompose.io/) to generate the Service.Yaml and deployment.yaml from docker-compose file. If I deploy the service without side car injection  then using the url http://localHost:5000/api/version works fine. So I do not think if that is the issue. Do you think that is adding th

[2019-02-11 04:56] #9174 closed

[2019-02-11 05:56] #9171 closed

[2019-02-11 06:52] ymesika commented on #11657
What does your job do?
Which container is crashing? Is it your `myapp` or `istio-proxy`?
Any logs from crashed container?

[2019-02-11 06:56] #9169 closed

[2019-02-11 07:26] ymesika commented on #11527
Apparently we do have `istioctl` homebrew (currently v1.0.5).
Contributed by @murarisumit

[2019-02-11 07:34] sdake commented on #10633
@esnible We could, although our istio.io website is user-facing, not developer facing.  We have a developer wiki for this type of content though.

I still recommend *not* running `helm dep update install/kubernetes/helm/istio` but instead using `helm package -u`.

Cheers
-steve

[2019-02-11 07:51] kamilgregorczyk commented on #11654
helm `v2.12.3` and 1.0.5 istio, I didn't run apply on crds.yaml

[2019-02-11 08:17] Stono opened #11658 "Unable to make TCP DNS queries on one cluster, not others, until DestinationRule recreated"
Hi,
We have three clusters, dev, preprod and prod, which are all built identically (same Infra as Code etc).  On one of them (preprod), applications that are behind Istio are unable to make TCP DNS queries:

[code]

Looking at istio debug logs, there's nothing particularly telling:
[code]

Pods in Dev and Prod are absolutely fine.

We have mTLS enabled on our cluster, and have done since day one.

[2019-02-11 08:37] Stono opened #11659 "Using Istio with CronJobs"
Hey all,
I have an issue with Istio when used in conjunction with CronJobs or Jobs, in that when the primary pod completes, the "Job" never completes because istio-proxy is still running:

[code]

I tried adding the following to the end of the primary pod script as suggested by @costinm in https://github.com/istio/istio/issues/6324, but that doesn't work (envoy exits, proxy doesn't):
[code]

Which

[2019-02-11 08:37] Stono commented on #11657
Ahhh this is a dupe of the issue I raised: https://github.com/istio/istio/issues/11659 - I've got a little more information on mien so perhaps close this issue?

[2019-02-11 08:51] #9173 closed

[2019-02-11 08:54] Stono commented on #11658
OK
This came back only moments later.  This time we tried restarting pilot and again this has (probably temporarily) fixed the problem.

**I have captured cluster debug logs from both before and after** - please can someone from istio reach out to me directly on Slack so I can provide them securely.

Thanks
Karl

[2019-02-11 09:04] Stono commented on #11658
It has returned after an istio-pilot restart too.

[2019-02-11 09:17] Stono commented on #11658
OK - latest changes, I set `PILOT_DIRECT_EDS=0` to disable the incremental EDS updates because the only difference between these clusters is that preprod has *more pods* than the other clusters.

Setting `PILOT_DIRECT_EDS=0` seems to have resolved the problem and our DNS queries are now working fine and dandy again.

cc @costinm

[2019-02-11 09:33] vadimeisenbergibm opened #11660 "The excludeInboundPorts option is broken: it never takes any effect."
The `excludeInboundPorts` option cannot have any effect. The reason:

According to https://github.com/istio/istio/blob/release-1.1/tools/deb/istio-iptables.sh#L39:

The script: https://github.com/istio/istio/blob/release-1.1/tools/deb/istio-iptables.sh#L252 :

[code]

However, since `INBOUND_PORTS_INCLUDE` is set according to `(includeInboundPorts .Spec.Containers)` in https://github.com/istio/ist

[2019-02-11 10:22] aljesusg opened #11662 "Some services of istio have not app selector"
**Describe the bug**
Service.spec.selector not has the label app in istio-services:

- pilot
- telemtry
- policy ...

**Expected behavior**
They should have the label in the selector how
istio-ingressgateway

**Version**
Istio 1.1.0-snapshot.5 - January 2019 Release

**Installation**
Official one from docs

**Environment**
Fedora

[2019-02-11 10:30] Stono commented on #11659
Associated: https://github.com/kubernetes/kubernetes/issues/25908

[2019-02-11 10:34] musicformellons commented on #9030
Could anyone maybe clarify why [mixing with standard ingress (which does work with cert-manager)](https://medium.com/@gorilych/did-you-think-about-mixing-istio-with-standard-k8s-ingresses-which-is-already-well-integrated-with-759f2d1cae0f) might not be a good idea? Or could this work fine?

[2019-02-11 10:38] Stono commented on #6324
@costinm the `quitquitquit` doesn't work, see: https://github.com/istio/istio/issues/11659

[2019-02-11 10:51] #6723 closed

[2019-02-11 11:04] Stono opened #11664 "Reduce load on Pilot by ignoring services"
Hi,
I'm trying to think of ways to reduce the load on pilot and one of those is having the ability to exclude certain services from EDS, so that if the pods for these services change the updates just aren't propogated.  These are services that will never receive an incoming connection from my applications.

For example:

  - calico-typha.kube-system.svc.cluster.local
  - heapster.kube-system.svc.c

[2019-02-11 11:19] AWKIF commented on #8771
hello,
any fix/workaround for this issue?

[2019-02-11 11:22] cmeyertons commented on #4693
this is the one thing holding me back from going full istio ingressing as we need a low effort mechanism to protect lower envs + not ready features

[2019-02-11 11:48] vadimeisenbergibm commented on #9755
@ssubramanian123 Check https://preliminary.istio.io/docs/tasks/traffic-management/egress/.

[2019-02-11 11:51] #9141 closed

[2019-02-11 12:51] #8282 closed

[2019-02-11 13:14] esnible commented on #11553
Verified that if the istio-sidecar-injector cm includes "toJson" instead of "toJSON" that it panics with

[code]

and after that no pods get created.  (Errors can be seen describing the replicasets).

[2019-02-11 13:27] esnible commented on #10568
@ VenkateshSrini what URL do I use to test your system?  I brought it up, did `kubectl exec istio-test-7bb957c5c8-rvbhl -- curl -v localhost:80/v1/api/` to make sure it is running, but I get a 404.

[2019-02-11 13:41] rvansa commented on #8938
I've amended [my report](https://docs.google.com/document/d/1UCqHBOL24is47R1mbM417h8XAvATNER_oGTxHQTlER8/edit#) with results from a setup on Openshift with Istio. TLDR: on 8 or 16 CPU node giving 2 CPUs and passing `--concurrency 4` look like a good tradeoff.

[2019-02-11 13:41] rvansa commented on #8938
Since this issue was closed I'll post on discuss.

[2019-02-11 13:43] #10884 closed

[2019-02-11 14:28] VenkateshSrini commented on #10568
@esnible,
Thank you very much. You need to access http://localHost:<<Port>>/api/version. You would receive "ding <version number>" if the everything works fine.

Can you please try accessing the same from browser also and confirm it is working ?

 In windows we do not have curl.  So should I run Kubectl exec <Isttio test pod> and do the http access from browser?

[2019-02-11 14:36] rshriram commented on #11664
With 1.2, you can add an annotation to these services `networking.istio.io/exportTo` with value set to '.' . This would cause the service to become visible only in the kube-system namespace. Other sidecars wont see this service. If they dont see this service, there wont be an EDS update.

[2019-02-11 14:47] bangau1 opened #11668 "Weird Behavior of Istio Gateway with HTTPS"
**Describe the bug**
VirtualService route to the same gateway causing https failure

**Expected behavior**
It should working fine by terminate the SSL in the first layer Gateway

**Steps to reproduce the bug**
See the description below

**Version**
[code]

[code]

**Installation**
Using helm installation

**Environment**
GKE

**Issue Description**

Hi Guys,

Before I describe my issue is, I want t

[2019-02-11 14:48] rshriram commented on #11606
if you use shortnames in the hosts, they will be expanded based on the namespace of the virtualService. It is possible that k8s triggers a CRD change update causing Pilot to reevaluate the virtualServices, expanding short names like httpbin to httpbin.Namespace.default.svc.cluster.local ..

[2019-02-11 14:50] loewenstein commented on #10288
@costinm @louiscryan Could we please have the mentioned PR linked here, so I can read up on what happens and how this works?

[2019-02-11 14:51] #8638 closed

[2019-02-11 14:53] #11657 closed

[2019-02-11 14:56] huikang commented on #11659
Same issue for me.

[2019-02-11 15:13] Stono commented on #11664
@rshriram that sounds awesome, shame it's two major releases away haha :D

[2019-02-11 15:15] Stono commented on #11659
For those who are interested, we worked around this by adding a livenessProbe to the sidecar injector for istio-proxy:

[code]

And then the script looks like this:
[code]

[2019-02-11 15:39] vadimeisenbergibm commented on #10330
@klausenbusk If you want the traffic to be routed through the egress gateway, you have to configure it explicitly, see https://preliminary.istio.io/docs/examples/advanced-gateways/egress-gateway/.

You can route all cluster egress traffic through a specific Kubernetes service. You then can deploy all the pods that provide that service to some specific node, I guess using https://kubernetes.io/docs

[2019-02-11 15:43] esnible commented on #10568
From my Mac I can't access localHost, because I am running your pods on IBM Container Service.

_curl_ is a Linux command.  When you run `kubectl exec` it runs the command on the container.  The command I gave you runs on the container itself.  I fat-fingered the previous one, I should have typed `kubectl exec istio-test-7bb957c5c8-rvbhl -- curl -v localhost:80/api/version`

I found two problems w

[2019-02-11 15:47] defat commented on #10875
We hit the same problem after the decision to generate x-request-id on the client side. This approach enables timed out requests tracing having client generated request id.

[2019-02-11 15:51] #8829 closed

[2019-02-11 16:03] awwithro commented on #9170
While this is still a valid issue, I've since moved on to working other projects and don't have the cycles to convert this. Help would be appreciated if this is an adapter people are still using.

[2019-02-11 16:03] awwithro commented on #9170
@geeknoid ^^

[2019-02-11 16:23] ozevren opened #11669 "Flaky Test: TestController_GetIstioServiceAccounts"
https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio-releases_pipeline/295/release-unit-tests/310
[code]

[2019-02-11 16:27] linsun commented on #11527
Thank you @ymesika!

@ibm-jason could you ensure the istioctl homebrew is properly doced in istio.io?

[2019-02-11 16:30] ozevren commented on #11620
More failures over the weekend.

https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio-releases_pipeline/302/release-upgrade-tests-1.0.1/336

[code]

[2019-02-11 16:30] huikang commented on #11659
@Stono thanks for sharing your work around. Are the above script and the livenessProbe added to the cronjob yams file? I am asking because I could not understand how to `adding a livenessProbe to the sidecar injector for istio-proxy`. Thanks.

[2019-02-11 16:33] Stono commented on #11659
I use the auto sidecar injector.  The probes are added to the injected
template for the istio-proxy pod.

Karl

On Mon, 11 Feb 2019, 4:31 pm huikang <notifications@github.com wrote:

[2019-02-11 16:38] anthonyhaussman opened #11670 "Host Header service require between pod"
Kuberntes: **v1.13.2**
Istio: **1.0.5**

Hi,

I have a simple configuration with an Nginx  who proxy_pass to a service like this:

[code]

Without an ISTIO running, the service work great.

Here my problem is when I push istio with sidecar, the service returns a 404 Not Found.
I know this is a known bug and if I set the ` proxy_set_header Host` with the service name `oauth` it worked.

The problem

[2019-02-11 17:01] douglas-reid commented on #6314
@Rigdon I was hoping that we could extend that to support the tracespan template.

[2019-02-11 17:05] ibm-jason commented on #11527
@linsun great idea, and yes, I'll make sure that it is properly documented.

[2019-02-11 17:17] ozevren commented on #11652
@douglas-reid is this something that you can take a look?

[2019-02-11 17:27] bianpengyuan commented on #11652
I am working on it.

[2019-02-11 17:28] absc6 opened #11671 "virtual service not calling service entry for external service"
We have the following configuration. The object is to call external service via istio-ingressgateway.
When the curl request is triggered we are getting
[code]
Istio server does have access to external service, present on different server.
Jaeger trace shows virtual service getting called and destination (test1.abc.com) is getting populated, but then it is showing error **async outbound|9091||istio

[2019-02-11 17:31] wattli opened #11673 "TokenReview API Capacity Issue"
**Describe the bug**
TokenReview API takes a lot of resource, once it reaches certain capacity, Citadel will fail

**Steps to reproduce the bug**
Set up node agent with 4 mins cert lifetime and create 20 pods.

**Version**
istio-release-1.1-20190125-09-16

**Error log from citadel**
2019-02-11T17:01:36.164625Z	warn	Authentication failed: failed to validate the JWT: failed to get a token review res

[2019-02-11 17:32] wattli commented on #11673
Some mitigation: https://github.com/istio/istio/pull/11641

[2019-02-11 17:40] #11488 closed

[2019-02-11 17:46] duderino commented on #11402
@ostromart can you take a stab at this?  or failfast and tell me to find someone else?

[2019-02-11 17:47] huikang commented on #11659
Hi, @Stono, it is still unclear to me how the liveness probe can be added to the istio-proxy pod (my understanding is that the istio-proxy image is not managed by the end user).

Could you point me to some online resources? Thanks.

[2019-02-11 17:50] duderino commented on #11545
@diemtvu @rshriram @costinm

Can we live with this bug for 1.1?  Should it be documented in the release notes?

[2019-02-11 17:51] #9323 closed

[2019-02-11 17:54] Stono commented on #11659
Ohhh I get you.
So in our CI pipeline we build our own istio-proxy image which pulls from
the main image and copies these files in.

Another thing you could do is mount them from a ConfigMap.

Karl

On Mon, 11 Feb 2019, 5:48 pm huikang <notifications@github.com wrote:

[2019-02-11 17:59] pitlv2109 commented on #11516
@ymesika Not yet. Some PRs are not merged yet and there are some PRs coming in for this issue.

[2019-02-11 18:03] esnible commented on #11504
Merged.

[2019-02-11 18:03] #11504 closed

[2019-02-11 18:12] duderino commented on #9185
@linsun did you mean to close this?  if so please close

[2019-02-11 18:12] duderino commented on #9964
@mandarjog update please

[2019-02-11 18:13] duderino commented on #10393
@douglas-reid is anything left to be done here?

[2019-02-11 18:13] duderino commented on #9928
@mandarjog update please

[2019-02-11 18:14] duderino commented on #10589
@nmittler update please

[2019-02-11 18:18] kyessenov commented on #10560
#11598

[2019-02-11 18:20] duderino commented on #10330
@rshriram @vadimeisenbergibm is anything left to be done here?

What are the implications of not merging https://github.com/istio/istio/issues/6146 into 1.1?

[2019-02-11 18:22] kamilgregorczyk commented on #11654
nvm, it got working after 10-15 minutes

[2019-02-11 18:22] #11654 closed

[2019-02-11 18:22] utka commented on #11436
@esnible
Test started 2019-02-10T13:41:53.733776Z
istio-proxy started  2019-02-10T13:47:42Z
Test failed 2019-02-10T13:50:03.136945Z
It was polling the state of the containers every second, it had 3 second to get ready state from istio-proxy. something is not add up.

[2019-02-11 18:22] louiscryan commented on #10288
We don't really use the Gateway resource to do this, we introduced the Sidecar CRD to cover this case for which the implementation is

https://github.com/istio/istio/pull/10717

[2019-02-11 18:23] duderino commented on #10873
@kyessenov @mandarjog what's left to be done here?  merge https://github.com/istio/istio/issues/10676 ?  Anything else?

[2019-02-11 18:24] louiscryan commented on #10288
some samples here

https://github.com/istio/istio/blob/master/tests/testdata/config/none.yaml

[2019-02-11 18:28] nmittler commented on #10589
Sure ... so most of the work has landed in the 1.1 branch (including incremental MCP). There are 2 PRs that are outstanding to piece things together:

- #11293: this is the main Galley work to add ServiceEntry synthesis and adds a new collection that can be observed by Pilot
- #10994 (by @Nino-K) this is a WIP that contains the Pilot-side changes to use the new collection.

Once those two land, ev

[2019-02-11 18:29] duderino commented on #9961
@mandarjog I think you are saying 'no, pilot memory and cpu usage is *not* acceptable'.   Looks like 1.1 memory and cpu efficiency is still much worse than 1.0

[2019-02-11 18:30] mabushey commented on #11606
@esnible - no my host for `stg` is `xxx-stg.example.com`. and `prd` is `xxx-prd.example.com`
Putting them in `xxx-stg` and `xxx-prd` namespaces resulted in one set of rules that worked, and one that did not. Putting them both in `default` results in both rules working.

[2019-02-11 18:31] mabushey commented on #11606
@rshriram I've used both full names and also short names within the namespace, that does not seem to change the behavior.

[2019-02-11 18:33] kamilgregorczyk opened #11675 "Istio breaks MongoDb from helm"
I'd like to run stable/mongodb chart from helm repo but I'm not able to connect to it once istio is enabled in cluster. It works perfectly when there is no istio. I tried connecting to mongo with other deployment, I also tried their client from their helm notes and I'm getting connection refused errros. What's more, kubernetes can't perform any readiness checks as it's also failing. Here's what I

[2019-02-11 18:34] duderino commented on #10817
@rshriram please take over and get into 1.1

[2019-02-11 18:36] duderino commented on #9951
@linsun anything left to do here?

[2019-02-11 18:38] nmittler commented on #10497
Closing this as a dup of #10589

[2019-02-11 18:38] #10497 closed

[2019-02-11 18:40] esnible commented on #11436
Had a failure this morning on a PR that does not touch the integration.

https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/11592/istio-integ-k8s-tests/3414

[code]

caused by, most likely,

[code]

“prom-init” is just a busy-box running `"counter=0; until [ \"$counter\" -ge 30 ]; do if [ -f /etc/istio-certs/key.pem ]; then exit 0; else echo waiting for istio certs \u0026

[2019-02-11 18:43] duderino commented on #11125
@linsun https://github.com/istio/istio/pull/11421 has been merged.  is anything else needed here?

[2019-02-11 18:43] duderino commented on #11125
@costinm @sdake ^^^

[2019-02-11 18:49] esnible commented on #11526
Another failure on TestTLSMultiplexing today.

[2019-02-11 18:51] #9056 closed

[2019-02-11 18:52] kamilgregorczyk commented on #11675
I just created a new namespace without istio injection and it works flawlessly

[2019-02-11 18:53] howardjohn commented on #11336
https://github.com/istio/istio/pull/11559 makes the changes to allow a JSON patch to the generated bootstrap with a custom annotation

[2019-02-11 18:57] rshriram opened #11676 "Istio CNI prevents Galley & sidecar webhook from starting on PKS"
I installed Istio with CNI enabled (per instructions in the docs, excluding istio-system, etc.) on a PKS cluster. For some reason, Galley and sidecarInjector fail to start. They are in container creating state for a long time.

kubectl describe po istio-sidecar-injector shows this

[code]

There is no error from the CNI daemon set pods

[code]

[2019-02-11 18:58] rshriram commented on #11676
cc @ayj / @ozevren , @sdake / @tiswanso

[2019-02-11 18:59] rshriram commented on #11676
Update, after a few minutes, since Galley doesn't start, others fail
[code]

[2019-02-11 18:59] duderino commented on #6085
I'll try this one, but it won't make it into 1.1, sorry

[2019-02-11 19:01] duderino commented on #11520
Deferring this to Istio 1.2.  We think that the readiness check from @philrud will do much to address this and the residual problem can be tolerated until 1.2  See https://github.com/istio/istio/pull/11548

CC: @costinm @incfly

[2019-02-11 19:01] ayj commented on #11676
cc @ostromart

[2019-02-11 19:02] linsun commented on #11125
I think the issue can be closed, pending @ericvn approval when he returns tomorrow. :).

[2019-02-11 19:03] ozevren commented on #11676
Any chance you can get logs?

[2019-02-11 19:04] linsun commented on #11125
https://github.com/istio/istio.io/pull/3183

[2019-02-11 19:07] linsun commented on #9951
Sorry for the slow reply, yes, okay to close as all changes are merged.

[2019-02-11 19:07] #9951 closed

[2019-02-11 19:12] rshriram commented on #11676
the container is in creating state. The only log is from kubectl describe po. and I pasted the output of that command in the issue

[2019-02-11 19:15] ayj commented on #11676
Can you access kubelet logs?

[2019-02-11 19:17] douglas-reid commented on #10393
@duderino not that I know of at this time. we can always re-open if the issue persists.

[2019-02-11 19:17] #10393 closed

[2019-02-11 19:19] ostromart commented on #11402
Yes, I'll take it.

[2019-02-11 19:23] douglas-reid commented on #11638
Have you tried troubleshooting with https://preliminary.istio.io/help/ops/telemetry/missing-metrics/?

[2019-02-11 19:30] Stono commented on #11670
Hi,
I'm guessing you're using the oauth-proxy image.
Unfortunately I found it to be very inflexible, especially when it comes to getting oauth-proxy, istio and ingress-nginx to work in harmony.

In the ended, I ended up writing my own version of oauth-proxy (it's pretty simple really) to resolve the problem because as you say, istio/envoy do need the correct outbound headers.

Karl

[2019-02-11 19:36] #9185 closed

[2019-02-11 19:40] esnible commented on #11526
Test today failed with same PR.  https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/11592/istio-pilot-multicluster-e2e/8434

[code]

[2019-02-11 19:41] tiswanso commented on #11676
From the pod error, the `istio-cni` executable is not being found in kubelet's cni_bin_dir location.  It's looking in `/var/vcap/jobs/kubelet/packages/cni/bin`.  I'm not familiar with how PKS sets up kubelet but from that output I'd suggest changing the istio-cni's `kubernetes.cni_bin_dir` to `/var/vcap/jobs/kubelet/packages/cni/bin`

[2019-02-11 19:52] ozevren commented on #11542
https://circleci.com/gh/istio/istio/323089?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-02-11 19:53] ozevren commented on #11542
costinm@, it looks like you have the most edits in the file.

[2019-02-11 19:54] rshriram commented on #11676
that didn't help @tiswanso .. It seems to randomly affect istio-system  pods.. Right now, citadel is stuck in that state.

[2019-02-11 19:59] adrienjt commented on #10971
@sdake thanks for the fixes so far!

What's the current status of Istio Gateway Multicluster? I ran the full example this morning: https://preliminary.istio.io/docs/examples/multicluster/gateways/

1) from the master branch

As expected, the last step,
[code]
errored with
[code]

2) from the release-1.1 branch

That's where the PRs referenced in this issue have been merged, so I expected a 200, bu

[2019-02-11 20:07] MBauer83 commented on #11638
Thank you for pointing me at that help page. Here are my results:

**Verify Mixer is receiving Report calls**
This fails - when I forward port 9093 for the telemetry container, I get a 404 response in the browser, so I was unable to complete any "search for" instructions. Or is there some other way I ought to access the endpoint. Here are my exact steps:

[code]

In a parallel window, after forwar

[2019-02-11 20:15] #11584 closed

[2019-02-11 20:15] tiswanso commented on #11676
Unfortunately I've just boarded a flight...  The istio-cni daemonset mounts the configured cni_bin_dir into the damonset's pod on each node and copies the istio-cni binary there.  The implication is that the cni_bin_dir needs to be the same for each node in the cluster.

Maybe a Pivotal k8s expert could chime in regarding kubelet is configured and any potential cni_bin_dir issues.

[2019-02-11 20:19] MBauer83 commented on #11638
Looking into the prometheus-container log, I find this warning is consistently issued: `level=warn ts=2019-02-11T20:15:16.139090873Z caller=scrape.go:713 component="scrape manager" scrape_pool=kubernetes-pods target=http://10.244.4.110:16686/metrics msg="append failed" err="no token found"`. Always with the same url - could this be relevant? Should this happen with a helm install given the values

[2019-02-11 20:42] linsun commented on #10633
@esnible that is a good idea, probably worthy a warning in our doc as quite a few folks reported this.

[2019-02-11 22:00] nmittler commented on #11660
I assume the use case is that you want to exclude some of the ports that are being automatically included?

FYI, you can override the default port inclusion behavior with the annotation `traffic.sidecar.istio.io/includeInboundPorts` (e.g. "*"). So you can still include everything and then exclude as you'd like.

[2019-02-11 22:45] ayushpateria opened #11682 "Zero downtime rollouts with Istio"
When doing a rolling update using Kubernetes deployments for our gateway service (not Istio's gateway) there are many failed requests (503 responses). I dug in deeper to find out the cause of this, and found out it has to do with the nature of Kubernetes being eventually consistent. After a pod is deleted, it takes some time to propagate this information to the kube-proxy agents running on nodes,

[2019-02-11 23:51] #9127 closed

[2019-02-12 00:00] incfly opened #11683 "Create istio/tools setup automation for VPC based multicluster"
We need to verify our multicluster setup for VPC based solution is working in a large scale deployment. We'll follow up with what we did for large scale deployment release qualification, https://github.com/istio/tools/tree/master/perf/istio.

Namely create another folder under `istio/tools/perf` and have bash script to automate the VPC based setup. Deploy basic bookinfo app to make sure across clu

[2019-02-12 00:00] incfly commented on #11683
/cc @mandarjog @costinm @duderino

[2019-02-12 00:16] chriskolenko commented on #9764
+1

[2019-02-12 00:47] howardjohn commented on #11682
This might be fixed by https://github.com/istio/istio/pull/11485

[2019-02-12 00:51] #9053 closed

[2019-02-12 01:17] shalako commented on #9944
@rshriram @Nino-K Could you tag this `help wanted`?

[2019-02-12 01:25] rosenhouse commented on #9944
I think we can make this work using SDS now.

On Mon, Feb 11, 2019 at 5:17 PM Shannon Coen <notifications@github.com>
wrote:

[2019-02-12 01:51] #9078 closed

[2019-02-12 01:55] zhqworld opened #11686 "galley validation still expects older gateway resource format"
**Describe the bug**
With sds node agent on ingress gateway, there is no more need to provide certificate path in gateway resources, but it failed with following yaml:

[code]

The failure message:

[code]

**Expected behavior**
Gateway resource that does not specify a certificate path should be accepted by Galley given that the SDS agent loads the certificates dynamically from the API server.

**

[2019-02-12 02:34] ostromart commented on #11402
I tried to repro but it works for me when starting from a clean slate.
I need some more info to see what's happening in your case:
helm repo list
kc get deployment istio-egressgateway -o yaml
kc get service istio-egressgateway -o yaml
What options do you pass to helm install (if any)?

[2019-02-12 02:42] ostromart commented on #11571
The log you're talking about is the PSP admission controller right?
In that case, it's something that runs out of kube-system so this would use that service account.
Do you actually see a successful admission response in the PSP controller logs for manual injection? I wonder if the controller even sees the request in this case because I'd expect the behavior to be the same as in auto-inject case.

[2019-02-12 02:51] #9051 closed

[2019-02-12 03:09] ostromart commented on #11611
I assume your cluster is working normally otherwise? If so, it suggests a narrow networking problem where API server cannot reach 443 port on injector.
It looks like you're running on EKS, if so did you follow:
https://aws.amazon.com/blogs/opensource/getting-started-istio-eks/
EKS webhook support is somewhat new and requires platform specific config, which may also be EKS version dependent, see th

[2019-02-12 03:13] VenkateshSrini commented on #10568
Now my side car injected yaml looks like below
`apiVersion: v1
items:
- apiVersion: v1
  kind: Service
  metadata:
    annotations:
      kompose.cmd: C:\Program Files\KomposeTool\kompose.exe convert -o istio-test-deployment.yaml
      kompose.service.type: loadbalancer
      kompose.version: 1.4.0 (c7964e7)
    creationTimestamp: null
    labels:
      app: istio-test
      io.kompose.service: is

[2019-02-12 03:51] #9049 closed

[2019-02-12 04:51] #9046 closed

[2019-02-12 05:51] #8990 closed

[2019-02-12 06:00] cptaffe opened #11689 "ECONNRESET with Redis"
**Describe the bug**

Redis connections fail with `ECONNRESET` when using Istio Proxy and a `ServiceEntry`

**Expected behavior**

Redis connections should not fail

**Steps to reproduce the bug**
1. Have a Redis server running outside the mesh
2. Add a `ServiceEntry` like the following
[code]
3. Try to connect to redis using `redis-cli` from the cluster in a namespace with `istio-injection=enable

[2019-02-12 06:51] #8692 closed

[2019-02-12 07:51] #8184 closed

[2019-02-12 08:08] AtomWyq opened #11692 "Unable to mount volumes for pod error"
run istio as doc describe, some pod never success:

 kubelet.go:1616] Unable to mount volumes for pod "istio-galley-787758f7b8-7vzs8_istio-system(11275e08-2e8c-11e9-9a01-000c297d4fe7)": timeout expired waiting for volumes to attach or mount for pod "istio-system"/"istio-galley-787758f7b8-7vzs8". list of unmounted volumes=[certs config istio-galley-service-account-token-snh7s]. list of unattached v

[2019-02-12 08:25] murarisumit commented on #11554
@berstend  can you pls guide me in explaining more in it. What I found out in envoy documentation here "https://www.envoyproxy.io/docs/envoy/v1.9.0/intro/arch_overview/load_balancing/load_balancers" that it doesn't provide such load-balancing functionality.

Do we need something like this : https://www.haproxy.com/blog/haproxys-load-balancing-algorithm-for-static-content-delivery-with-varnish/

ha

[2019-02-12 08:35] murarisumit commented on #11664
Not sure, if it is right to point out. Learning by making mistakes here :sweat_smile:

Should we mark this issue close ?

[2019-02-12 09:55] liamawhite commented on #11659
I would imagine native Istio support for this would require a similar approach. Exposing an additional path on the pilot-agent server that tells it to shut down. This would still require the batch job calls that endpoint after it is finished.

I wonder if there is something else we could hook into in Kube that would automatically call this endpoint once the job is finished?

[2019-02-12 10:26] clyang82 commented on #10138
@linsun @ymesika @douglas-reid I cannot make the bookinfo works when disable the policy. here are my steps:
1. install the latest 0211 release-1.1 build from https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.1-latest-daily/
[code]
2. install bookinfo with auth-injection=true for `default` namespace
[code]
3. access the bookinfo -  http://xxxxx:31380/productpage
the output is `UNAV

[2019-02-12 11:00] #6508 closed

[2019-02-12 11:39] ymesika commented on #10138
@clyang82 Can you share the generated istio ConfigMap?

[2019-02-12 12:00] #8868 closed

[2019-02-12 12:03] ymesika commented on #11671
You have `host: 1test.abc.com` in your VirtualService. Shouldn't it be `host: test1.abc.com`?

[2019-02-12 12:37] vadimeisenbergibm commented on #11660
Following https://github.com/istio/istio/issues/11660#issuecomment-462512103.

Right.

@nmittler Could you please let me know how can I add this annotation? I tried to use helm:
[code]

Got this yaml generated:

[code]

The `includeInboundPorts .Spec.Containers`.

[2019-02-12 12:49] cmeyertons commented on #10062
had the same issue connecting from AKS -> external Azure MySql database.

performing the combination of `ServiceEntry` & `Destination Rule` worked for me:

[code]

[2019-02-12 13:00] #8718 closed

[2019-02-12 13:28] hugree opened #11693 "Missing metrics when deployed in another namespace"
**Describe the bug**
I did all the demos and I'm not sure I'm missing something in the concepts of Istio, but after applying very simple routing options to my own application, but in a different namespace, I can't get all the metrics to work accordingly.
Deploy any hello world service in default namespace:
- service metrics in Grafana appear correctly: both Client workloads and Service Workloads a

[2019-02-12 13:50] sUpniverse opened #11694 "cannot connect to mysql when i follow Consuming External TCP Services"
**Describe the bug**
i complete step on [Access the webpage](https://istio.io/blog/2018/egress-tcp/#access-the-webpage) but in the [Mesh-external service entry for an external MySQL instance](https://istio.io/blog/2018/egress-tcp/#mesh-external-service-entry-for-an-external-mysql-instance) step i can`t do it because the Ratings  are not displayed

**Expected behavior**
Book Ratings Displayed Corre

[2019-02-12 13:51] clyang82 commented on #10138
@ymesika here is istio configmap
[code]

[2019-02-12 14:00] #8940 closed

[2019-02-12 14:07] ymesika commented on #10138
Ok, so Mixer policy check is still enabled in this configmap because `mixerCheckServer: istio-policy.istio-system.svc.cluster.local:9091\n` exists there. Can you try changing it to `#mixerCheckServer...`?

Can you also let me know if you have `istio-policy` service/pod running under `istio-system` namespace?

It's an issue and deserves a new one. Thanks.

[2019-02-12 14:14] volatilemolotov opened #11695 "Istio components daemonset"
**Describe the feature request**
I would like to have an option to deploy some of the istio masterplane components as a Kind: DaemonSet (eg. istio-ingressgateway). Is this viable?

**Describe alternatives you've considered**
One could edit the deployment manually but it would be better to have helm option to spec this and official docs to cover it

**Additional context**
I am willing to create a p

[2019-02-12 14:14] mbanikazemi commented on #11427
Not occurring anymore. Please reopen if observed again.

[2019-02-12 14:14] #11427 closed

[2019-02-12 14:15] Stono opened #11696 "Istio instanced traces don't appear to be valid"
Consider the following application flow:

`service-a -> service-b -> service-c -> service-d`

When we just rely on istio to start traces, we only ever see single traces (`a->b`, `b->c`, or `c->d`), we never see `a->b->c->d` in Jaeger.  B is correctly forwarding the trace headers to C, and C to D.

Digging into this a little more, it looks like envoy is not correctly setting up the trace and the sp

[2019-02-12 14:15] mbanikazemi commented on #9685
Please reopen if observed again.

[2019-02-12 14:15] #9685 closed

[2019-02-12 14:18] Stono commented on #11696
I'm guessing in your example https://istio.io/docs/tasks/telemetry/distributed-tracing/, you have the ingress gateway start the trace, in my example we do not have an ingress gateway as the request is starting intra-mesh.

[2019-02-12 14:20] clyang82 commented on #10138
I have made the change to comment the `mixerCheckServer`. the pods are running. but still get `UNAVAILABLE:Cluster not available` message.
[code]

there is no istio-policy service or pod running under `istio-system`
[code]

[2019-02-12 14:21] esnible commented on #10568
It worked for me.  I had to do one more thing

[code]

This is because mTLS is on by default, but not for the namespace you are using.

[2019-02-12 14:23] Stono commented on #11659
@liamawhite do you know of any way to make istio-proxy exit with a 0 status code, at the moment if i send a `SIGTERM` I get 137, which causes a cronjob failure.  I need an exit signal which will shutdown with a 0

[2019-02-12 14:36] ymesika commented on #10138
My assumption is that you also need to have `policyCheckFailOpen: true` in the configmap in this case.
We definitely need to take care of those in the Helm charts when you chose policy disabled.

[2019-02-12 14:50] esnible opened #11697 "/debug/authenticationz reports confusing "mTLS" for non-inject namespaces (affects istioctl authn tls-check)"
Istio only performs mTLS for pods with sidecar injected.  Even if the mesh default policy is to inject, if a namespace is created and the user doesn't label it `istio-injection=enabled` the sidecar will not be injected.

If a Service is created in a namespace that is not labeled `istio-injection=enabled` the `istioctl authn tls-check` will report the server uses mTLS.  However there is no sidecar

[2019-02-12 15:00] #8605 closed

[2019-02-12 15:05] rshriram commented on #11664
Oh sorry I meant 1.1 thats gonna be out in a few days

[2019-02-12 15:07] Stono commented on #11664
Aweeeesoommmeeee

On Tue, 12 Feb 2019, 3:06 pm Shriram Rajagopalan <notifications@github.com
wrote:

[2019-02-12 15:26] #10395 closed

[2019-02-12 15:28] anthonyhaussman commented on #11670
@Stono So I imagine there is no solution today to passthrough Host headers easily via istio/envoy? :crying_cat_face:

I have two services pods with my nginx-gateway in front used to proxy-pass the traffic so to modify my `VirtualService` to have host entries for the external addresses does not work well when 2 services are involved and I need to have the external header host.

Is it not possible t

[2019-02-12 15:36] nitishm commented on #11571
What do you mean by PSP controller ? What pod is this ?

[2019-02-12 15:49] esnible commented on #11689
Your ServiceEntry looks good.  I tried to reproduce your problem but I don't know of a public Redis endpoint to test with.

Istio may have a problem if you are using port 6379 for more than one TCP service, such as an internal Redis as well as an external Redis.

[2019-02-12 16:01] cptaffe commented on #11689
This is the only redis I have on this cluster.

You could use redis in docker on your local + ngrok. I just tested this method and it works:

Run a local redis server on your machine

[code]

Invoke ngrok

[code]

Use the endpoint and port it generates

[code]

And it seems to work
[code]

Unfortunately the port isn't the same, but hopefully it'll at least allow testing redis traffic.

[2019-02-12 16:12] cptaffe commented on #11689
Geeze, I just realized I overwrote the `ServiceEntry` because I added another and didn't change the name. Thanks so much for your help 🤦‍♂️

[2019-02-12 16:12] #11689 closed

[2019-02-12 16:13] clyang82 opened #11699 "Disabling only istio-policy does not work"
I cannot make the bookinfo works when disable the policy only by using `--set mixer.policy.enabled=false`. but use `--set mixer.policy.enabled=false --set global.disablePolicyChecks=true` is working. Suggest to just have 1 flag to control mixer policy is used or not.

here are my steps:
1. install the latest 0211 release-1.1 build from https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/relea

[2019-02-12 16:14] clyang82 commented on #10138
@ymesika Thanks. I have opened a new issue to address this problem. refer to https://github.com/istio/istio/issues/11699

[2019-02-12 16:15] ozevren opened #11700 "Test Failure: istio-pilot-e2e-envoyv2-v1alpha3-k8s-latest"
https://gubernator.k8s.io/build/istio-prow/logs/istio-pilot-e2e-envoyv2-v1alpha3-k8s-latest/832/

Multiple failures, although there are some passing tests as well:

[code]

There was a lot of repeated messages like this. Not sure if these are benign or not:
[code]

[2019-02-12 16:18] ozevren commented on #11700
@nmittler, looking at the TestGrpc history, it looks like you might be familiar with these tests. Any chance you can take a quick look and see what is going wrong?

[2019-02-12 16:20] clyang82 commented on #11699
It seems we need to modify the configmap to make it works according to @ymesika 's suggestion
https://github.com/istio/istio/blob/release-1.1/install/kubernetes/helm/istio/templates/configmap.yaml#L54:L70

[2019-02-12 16:27] douglas-reid commented on #11699
I'm looking into this now.

[2019-02-12 16:28] daparthi001 commented on #11611
We are not using eks ,we are just deploying k8's cluster on ec2 .
my api server is complaining about Failed calling webhook, failing closed sidecar-injector.istio.io: failed calling admission webhook "sidecar-injector.istio.io": Post https://istio-sidecar-injector.istio-system.svc:443/inject?timeout=30s: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaitin

[2019-02-12 16:33] #11693 closed

[2019-02-12 16:41] markmssd commented on #9764
I ended up using https://istio.io/blog/2017/0.1-canary/#focused-canary-testing instead

[2019-02-12 16:59] mandarjog commented on #10138
If policy is not enabled ‘policyCheckFailOpen’ should not matter

[2019-02-12 17:19] absc6 commented on #11671
Thanks @ymesika , I have updated the destination to test1.abc.com, but still getting the same error.
[code]

[2019-02-12 17:21] esnible commented on #10330
Should we add the `area/security` tag to this Issue?

[2019-02-12 17:28] ostromart commented on #11611
I see - regardless, the problem is that API server cannot reach the sidecar injector in your setup. Pod is running (health probe would fail otherwise) and shows no errors.
Could you verify with AWS that k8s webhook is supported on EC2? Your issue looks very similar to what happened with EKS. It is quite likely network policy related.
Alternatively if you want to debug further yourself, try deployi

[2019-02-12 17:34] vadimeisenbergibm commented on #10330
@esnible No, I think it is networking only. Closing the issue, it is already implemented.

[2019-02-12 17:34] #10330 closed

[2019-02-12 18:00] #8919 closed

[2019-02-12 18:21] daparthi001 commented on #11611
curl https://istio-sidecar-injector.istio-system.svc:443/inject?timeout=30s
curl: (56) Received HTTP code 503 from proxy after CONNECT

[2019-02-12 18:27] bianpengyuan commented on #11652
The test is still failing because trace span data is not successfully exported, because boskos cluster does not have enough oauth scope:

The test should pass istio-testing service account key into the adapter.

[2019-02-12 18:35] #10356 closed

[2019-02-12 18:36] #9349 closed

[2019-02-12 18:36] bianpengyuan commented on #11652
The other option is to create cluster with trace.append access scope as mentioned [here](https://cloud.google.com/trace/docs/setup/go):

This seems to be easier than service account volume mount. @sebastienvas Do you know if it is easy to add this oauth access scope? Could you give me a pointer where it should be added? Thanks!

[2019-02-12 18:42] ostromart commented on #11611
Where are you curling from?

[2019-02-12 18:53] douglas-reid commented on #11699
So, I think what we actually want here is to use the `global.disablePolicyCheck` flag, setting it to false.

[2019-02-12 18:53] douglas-reid commented on #11699
`mixer.policy.enabled` is rather confusing, but only serves to disable the *deployment* of the policy pods.

[2019-02-12 19:00] #9013 closed

[2019-02-12 19:04] kyessenov commented on #11351
ref #10630

[2019-02-12 19:14] rshriram commented on #11676
That folder fix did the trick. Thanks!

[2019-02-12 19:14] #11676 closed

[2019-02-12 19:17] munrodg commented on #10965
@lizan Please check if this can be closed.

[2019-02-12 19:17] #10817 closed

[2019-02-12 19:18] sdake commented on #10971
@adrienjt which cloud provider are you on?  I have only seen this problem on AWS classic load balancers.

Cheers
-steve

[2019-02-12 19:20] munrodg commented on #11303
@douglas-reid to review so confirm this can be merged into 1.1

[2019-02-12 19:29] sdake opened #11705 "We need a release-1.1 charts repo"
**Describe the bug**
Currently, we have a dailies repo for master which is here:

```helm repo add istio.io https://storage.googleapis.com/istio-prerelease/daily-build/master-latest-daily/charts"```

We need a release-1.1 repo on storage.googleapis.com for the helm charts.  I don't know who has permissions to create such a thing - probably T&R.

A secondary problem is there is no daily for istio 1

[2019-02-12 19:29] sdake commented on #11705
cc / @munrodg @duderino

[2019-02-12 19:30] sdake commented on #11705
cc @douglas-reid

[2019-02-12 19:38] sdake commented on #10971
@geoand - note current release 1.1 worked for me as of a few days ago on GCE.  What does your SE look like?

Cheers
-steve

[2019-02-12 20:00] #9002 closed

[2019-02-12 20:02] lizan commented on #10965
Fixed by #11471

[2019-02-12 20:02] #10965 closed

[2019-02-12 20:08] esnible commented on #11526
Failed with same PR: https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/11592/istio-pilot-multicluster-e2e/8495

[code]
etc.

[2019-02-12 20:12] linsun commented on #11699
yes mixer.policy.enabled is intended to not install policy at all... I assume when that is disabled, we would want policy check to be disabled automatically since policy is not even there.

[2019-02-12 20:13] linsun commented on #11699
just realized you have mtls enabled... I believe we test non-mtls enabled as part of daily build now with the minimal istio profile.

[2019-02-12 20:19] daparthi001 commented on #11611
i am curling from the master node of the cluster

[2019-02-12 20:28] linsun commented on #11552
@esnible getting this error when applying the CRDs.

`Error from server (NotFound): customresourcedefinitions.apiextensions.k8s.io "clusterrbacconfigs.rbac.istio.io" not found`

think this one is already deprecated.... to rbacconfig?   Or perhaps because my env is using 1.0.... let me switch to 1.1

[2019-02-12 20:45] esnible commented on #11552
@linsun clusterrbacconfigs is defined in _install/kubernetes/helm/istio-init/files/crd-10.yaml_.  It was added to 1.0 back in September.  It is used in _samples/bookinfo/platform/kube/rbac/rbac-config-on-mongodb.yaml_ in the 1.1 release.

I created https://github.com/istio/istio.io/issues/3214 to discuss the lack of documentation for it on preliminary.istio.io.  We need to either document it, or g

[2019-02-12 20:46] linsun commented on #11552
cc @liminw ^^

[2019-02-12 21:01] esnible commented on #11552
@linsun You are free to ignore any error messages from the patch, especially from resource types you never used.

If we like the `kubectl` output the patches demonstrate then it is easy to just add the JSON from the patch to _/install/kubernetes/helm/istio-init/files/crd-10.yaml_.  No code needs to be written.  It would be a nice feature to have in 1.1.0 or 1.1.1.

[2019-02-12 21:06] linsun commented on #11244
hmm, pulled down latest 1.1 release - istio-release-1.1-20190212-09-1

still getting the same error.  @jmazzitelli perhaps the config isn't propogated to istio-demo.yaml?

[code]

[2019-02-12 21:07] duderino commented on #11526
Here are three recent examples:

https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/11702/istio-pilot-multicluster-e2e/8490
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/11602/istio-pilot-multicluster-e2e/8470
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/11707/istio-pilot-multicluster-e2e/8497/

[2019-02-12 21:08] duderino commented on #11526
@wenchenglu can you assign someone to fix the TestTLSMultiplexing errors.

[2019-02-12 21:11] duderino commented on #11526
This is affecting lots of 1.1 PRs so P0.

[2019-02-12 21:14] duderino commented on #11526
I think there are at least 2 issues here.  The TestTLSMultiplexing errors may have resulted from a recent Envoy import, but @wenchenglu will ask someone to look into that.

There also seems to be a much older general environment instability.  Commentary from @ozevren:

[code]

@utka can you check out the latter?

[2019-02-12 21:27] ostromart commented on #11611
There are no Istio proxies between API server and sidecar injector. I assume this is from kube-proxy, can you do curl -v?
Are you using ClusterIP or NodePort?
How is your cluster set up, i.e. which recipe on istio.io did you follow, or describe your own steps.

[2019-02-12 21:36] wenchenglu commented on #11526
@JimmyCYJ will look into it

[2019-02-12 21:40] JimmyCYJ commented on #11526
I am looking at the test log of TestTLSMultiplexing/request/a->d_7070.
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/11570/istio-pilot-multicluster-e2e/8257?log#log

From the following error logs, it is very likely that proxy crashes.
=== RUN   TestTLSMultiplexing/request/t->d_7070
2019-02-06T21:19:16.668162Z	error	client request error command failed: "2019-02-06T21:

[2019-02-12 21:48] ostromart commented on #11571
Oh, you're talking about an earlier log entry of a successful request from API server showing up on sidecar injector. In that case, what you're seeing is the request parameters (API server uses kube-system SA because it's part of kubernetes master).
If you log into the master node you should be able to see logs of admission requests: https://kubernetes.io/docs/tasks/debug-application-cluster/debug

[2019-02-12 21:48] incfly commented on #11526
Trying to narrow down the root of cause. Questions

- TLSMultiplexing only fails/flakey in multicluster-e2e? I looked at the test grid and seems it's passing stable in pilot e2e test, https://testgrid.k8s.io/istio-presubmits#pilot-e2e-envoyv2-v1alpha3
- If it's only failing in multicluster setup, I really doubt this has something to do with our SNI based gateway(tls inspector) used in multi cluste

[2019-02-12 21:52] rshriram commented on #11526
are the requests crossing two clusters, where service in one cluster is accessing a serivce in another cluster over plain text?
I am not sure what is the state of the current multicluster, single control plane setup. Not sure if we use the ingress gateway by default to forward requests. If we do that, then the TLS multiplexing wont work as the ingress gateway will only do SNI passthrough and nothi

[2019-02-12 22:00] #8970 closed

[2019-02-12 22:02] incfly commented on #11526
I don't know that either... @esnible could you comment on current multi cluster setup and what are app deployments in the test?

@rshriram We don't need ingress gateway to do more fancy stuff other than replay the requests. My concern is: gateway sni is based on `envoy.listener_filter.tls_inspector`, the targeted server side service sidecar also rely on `listener_filter.tls_inspector`, and PERMISS

[2019-02-12 22:03] liminw commented on #11552
ClusterRbacConfig is documented in https://preliminary.istio.io/docs/concepts/security/#enabling-authorization.

ClusterRbacConfig replaces RbacConfig (which has the wrong scope). There is a migration guide https://preliminary.istio.io/docs/setup/kubernetes/upgrading-istio#migrating-the-rbacconfig-to-clusterrbacconfig.

@esnible Is there other documentation you refer to?

/cc @yangminzhu

[2019-02-12 22:03] rshriram commented on #11526
that was my point. if you are not using a gateway and directly talking from source sidecar to destination server sidecar in another cluster, then things should work. If you are talking via any intermediary, then it will break immediately.

[2019-02-12 22:08] daparthi001 commented on #11611
istio-sidecar-injector   ClusterIP      192.168.88.191    <none>        443/TCP                                                                                                                  3h
curl -v 192.168.88.191:443
* About to connect() to proxy  port 80 (#0)
*   Trying 153.114.217.9...
* Connected to () port 80 (#0)

< HTTP/1.1 503 Service Unavailable
< Cache-Control: no-cache
< Pragma: no

[2019-02-12 22:09] utka commented on #11526
This is additional setup which happens for multicluster test comparing to single one
https://github.com/istio/istio/blob/c3973fd36b55c8a38999e1fa0feecea3040c6226/prow/cluster_lib.sh#L65 and https://github.com/istio/istio/blob/c3973fd36b55c8a38999e1fa0feecea3040c6226/prow/cluster_lib.sh#L123

[2019-02-12 22:17] incfly commented on #11526
So if I understand correctly, with current Envoy expected behavior, inspected bytes can only be consumed once, then permissive mode doesn't really work for gateway based multi cluster? And only works for VPC based multi cluster. Does that sound right?

[2019-02-12 22:20] jmazzitelli commented on #11244
@linsun this new feature (kiali secret installed via demo profile) was only introduced in the master branch via PR https://github.com/istio/istio/pull/11272/files

You'll see this is not in release-1.1. It was my understanding only high priority bug fixes and the like were getting in the relase-1.1.

Should I create a PR to cherry-pick that over into the release-1.1 branch?

[2019-02-12 22:27] douglas-reid commented on #11303
Merged. Marking as Fixed.

[2019-02-12 22:27] #11303 closed

[2019-02-12 22:32] douglas-reid commented on #11151
@jmazzitelli OK. I think all the pieces are there to have fixed this issue. Do you mind helping to verify that they do what we think?  I'm gonna try testing it out now.

[2019-02-12 22:41] esnible commented on #11552
@liminw I missed ClusterRbacConfig in the documentation because I looked for it with the Search feature.  It is not searchable.

[2019-02-12 22:48] PiotrSikora commented on #11526
That's not necessarily true, if intermediary is acting as a TCP proxy and not terminating TLS, then it shouldn't affect anything and service-to-service `PERMISSIVE` mode should still work.

Having said that, I have no idea how the multi-cluster is supposed to work. Could someone draw a diagram with network paths and transport protocols involved? Thank you.

[2019-02-12 22:51] douglas-reid commented on #11696
@Stono you are correct in your understanding of the tracing task that we send requests via the ingressgateway. but i don't believe that is a strict requirement. the gateway is just a differently configured version the same proxy image.

How are you forwarding the headers exactly?  Are you using a library or doing it manually?

[2019-02-12 22:54] incfly commented on #11526
/cc @incfly

[2019-02-12 22:55] Stono commented on #11696
Doing it manually mate.
But as I say it works fine when we use a third party component to start the
trace.

The headers I show you above where the spanid and traceid are the same is a
dump from service B, before we forward anything to C.  So they're what has
been generated by proxy either on the way out of A, or on the way in to B.

On Tue, 12 Feb 2019, 10:51 pm Douglas Reid <notifications@github.

[2019-02-12 22:55] incfly commented on #11526
Assigned to @esnible and @ymesika per https://github.com/istio/istio/issues/11526#issuecomment-462970163

[2019-02-12 22:59] JimmyCYJ commented on #11526
Is there a way to run istio-pilot-multicluster-e2e from local machine? I am trying to run this test in my own cluster. $ ./prow/istio-pilot-multicluster-e2e.sh E2E_ARGS="--skip_cleanup" does not work. It keeps printing out these messages.

[code]

[2019-02-12 22:59] douglas-reid commented on #11151
@jmazzitelli with a test from tip using your supplied config, I see the following:

query: `istio_requests_total{response_code="555"}`

result:
[code]

[2019-02-12 23:00] #9001 closed

[2019-02-12 23:00] douglas-reid commented on #11151
I'm going to mark this as closed. If you see it recur, please re-open.

[2019-02-12 23:00] #11151 closed

[2019-02-12 23:00] Stono commented on #11696
It should be easy to reproduce.  Simply spin two services up on a cluster
(no ingress gateway), make the second service a headers echo server.

Exec into the first and curl the second to see the header dump and you'll
see it doesn't contain the correct set of headers for a instantiated trace.

Karl

On Tue, 12 Feb 2019, 10:54 pm Karl Stoney <me@karlstoney.com wrote:

[2019-02-12 23:24] daparthi001 commented on #11611
yes done posted .

cluster ip

i just used istio.demo.yaml file

[2019-02-13 00:13] incfly opened #11714 "Qualify mesh expansion documentation for release-1.1"
**Describe the bug**
Navigate prelimairy.istio.io about mesh expansion is hard to get it right. Lots of sections are outdated. For example helm flag should be `meshExpansion.enabled = true` instead of `meshExpansion=true`; sidecar deb package is still `1.0.0` release.

**Expected behavior**
Customers can follow the doc to install the mesh expansion without problems.

We can create `istio/tools/mes

[2019-02-13 00:13] incfly commented on #11714
/cc @justinburke

[2019-02-13 00:18] ostromart commented on #11611
I mean, how did you create your cluster. e.g.
https://istio.io/docs/setup/kubernetes/platform-setup/aws/

[2019-02-13 00:29] jmazzitelli commented on #11244
@linsun I created a release-1.1 PR in case you want to get this in the 1.1 release. See https://github.com/istio/istio/pull/11715

[2019-02-13 00:44] daparthi001 commented on #11611
We used internal devleoped scripts for setting up cluster

[2019-02-13 00:45] pitlv2109 commented on #11516
Also Ports in ServiceRole and Ips in ServiceRoleBinding?

[2019-02-13 00:46] harpratap commented on #10138
@clyang82 You need to set `disablePolicyChecks: true` in values.yaml to disable policy completely.

[2019-02-13 01:00] #4539 closed

[2019-02-13 01:08] yangminzhu commented on #11516
@pitlv2109 Right

[2019-02-13 01:23] AtomWyq opened #11719 "is there any doc to show how to configure istio for dns"
![image](https://user-images.githubusercontent.com/5525384/52679704-da7d5400-2f70-11e9-9b33-b3df0e526082.png)

[2019-02-13 01:34] hzxuzhonghu commented on #4341
/remove stale
since this is not addressed

[2019-02-13 01:50] clyang82 commented on #10138
@harpratap Thanks for your information. You are right. set `disablePolicyChecks: true` can be able to disable policy. but it is better to use `mixer.policy.enabled` as a top-level parameter to decide `disablePolicyChecks` is true or false. refer to @douglas-reid 's PR - https://github.com/istio/istio/pull/11707

[2019-02-13 02:00] #9294 closed

[2019-02-13 02:11] linsun commented on #11244
@jmazzitelli thanks, sorry I had thought it was fixed in 1.1 already.  I'll try to see if we can get it in 1.1

[2019-02-13 02:23] linsun commented on #10138
+1 it is very much easier if we can just have 1 flag especially when mixer policy is not even installed.

[2019-02-13 02:38] linsun commented on #11552
@liminw thanks.  yes unfortunately our 1.1 doc isn't searchable right now which makes it very hard to find anything.

We probably should note this as the release note:  ClusterRbacConfig replaces RbacConfig

cc @geeknoid

[2019-02-13 02:41] yangminzhu commented on #11552
@linsun We have added it here: https://preliminary.istio.io/about/notes/1.1/#security

[2019-02-13 02:47] linsun commented on #11552
@esnible I ran the scripts, the output is way much better improved in kubectl.  This will help user a lot especially we are trying to ask users to use kubectl in most if not all cases.

[2019-02-13 03:00] #8969 closed

[2019-02-13 03:26] VenkateshSrini commented on #10568
Oh. Could you please if I have done all the changes that you have said the above repository. For some reason it https://github.com/VenkateshSrini/IstioTest. Also what is the environment that you are using. I use Kubernetes with Docker for windows. Minikube on windows is also Highly unstable. If you don't mind can you please share what you have modified and did from your git hub.

Another question

[2019-02-13 04:00] #8613 closed

[2019-02-13 04:35] duderino commented on #11247
Related to https://github.com/istio/istio/issues/11280 and https://github.com/istio/istio/issues/8938

[2019-02-13 04:36] duderino commented on #11247
@knrc please review

[2019-02-13 05:00] #7608 closed

[2019-02-13 05:49] gyliu513 opened #11723 "FIPS 140-2 encryption using Istio"
**Describe the feature request**
Some discussion here https://groups.google.com/forum/#!topic/istio-users/Zk82Wxu4Zrc

**Describe alternatives you've considered**
Envoy already support FIPS with x86, we should enable Istio use the latest envoy to support FIPS encryption. Checkout here https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/ssl#fips-140-2 for detail.

FYI @morvencao @clyang

[2019-02-13 06:00] #8968 closed

[2019-02-13 06:37] sdake commented on #11705
Looks like @hklai has already resolved this - we just didn't know abow about it.  I have pushed a docs pr here: https://github.com/istio/istio.io/pull/3249

After this merges, we will be mostly resolved with this issue.

We can then change to the release-1.1 chart (rather than the dailies) once istio 1.1 is tagged.

[2019-02-13 06:53] HWPeiyao opened #11724 "Istio control plane performance problems"
**Describe the bug**
We do some performance tests on istio-1.0.0 control plane recently. The result indicate some of the problems:
1.	When we have a large scale of services and pods, the pilot will consume a very large Memory **(2500 pods need at least 30GB).**
2.	Mixer CPU will cost **over 40 cores when under 100,000 QPS**. With the rapid increase of the cost, the process will soon use up the VM

[2019-02-13 07:00] #8883 closed

[2019-02-13 07:00] sdake commented on #11705
This uses the release-1.1 daily images in the release-1.1 branch:
https://github.com/istio/istio/pull/11725

[2019-02-13 07:01] sdake commented on #11705
@munrodg both PRs need a merge to solve some many of the problems people are struggling with when installing the 1.1 branch.

[2019-02-13 07:09] javafuns commented on #9752
I got this output:

[2019-02-13 07:20] javafuns commented on #9752
The gRPC server is alive:

[2019-02-13 08:00] #8660 closed

[2019-02-13 08:02] hzxuzhonghu commented on #11609
Thanks, I will fix it. It should be easy since we have implemented it in #10720

[2019-02-13 08:29] hzxuzhonghu commented on #11609
opened #11727 to move it from cluster.go to ads.go.  Which is more appropriate place for it.

[2019-02-13 09:00] #8503 closed

[2019-02-13 10:07] vijaykumark opened #11728 "gRPC microservice not shown in Grafana dashboard’s HTTP/GRPC Workloads pane?"
Need input on how to debug why my gRPC microservice is not showin in Grafana dashboard’s HTTP/GRPC Workloads pane?

Here is the current traffic flow into my application:

External Traffic --> Istio Ingress Gateway --> HTTP NodeJS Microservice (converts REST API to gRPC) --> gRPC NodeJS Microservice.

Appended “grpc-” to the port name of my grpc service. I can see that the protocol is HTTP2 in envo

[2019-02-13 10:59] #8871 closed

[2019-02-13 11:52] ymesika commented on #11526
This test is an old one for what we called in v1.0 "VPN Connectivity" where a flat network is assumed.
In that Multicluster setup the calls between clusters were direct and not through a gateway like we have in _Gateway connectivity_ or _Split Horizon EDS_. Therefore you need a shared and routable network between the local/remote clusters in order to run it.

Not sure who added this test but I bel

[2019-02-13 11:59] #5815 closed

[2019-02-13 12:04] sUpniverse commented on #11694
here is my ratings-v2-mysql proxy logs

and it is reviews v3 proxy logs

[2019-02-13T11:41:11.592Z] "GET /reviews/0HTTP/1.1" 200 - 0 425 230 227 "-" "python-requests/2.18.4" "fc4ffd56-9198-92a1-af3b-29a25968c0fc" "reviews:9080" "127.0.0.1:9080" inbound|9080||reviews.default.svc.cluster.local - 10.1.0.227:9080 10.1.0.228:58224

[2019-02-13 13:09] vijaykumark commented on #11728
Also checked the prometheus metrics.
In Prometheus, istio_requests_total{destination_service="mygrpcapp.default.svc.cluster.local"} metric shows request_protocol="grpc"

[2019-02-13 13:17] jakubbujny opened #11730 "Istio redirect HTTPS traffic to accounts.google.com 404 site when traffic should be blocked by networking rules"
**Problem description**
I have POD which contains:
- Container with debian
- Injected istio's sidecar

In my istio deployment I have istio egress configured using default installation via Helm. I have neither ServiceEntries nor VirtualServices

Now from within debian container I'm trying to reach via curl https://github.com
[code]
So it looks that istio make some TLS interception. When I add -k (i

[2019-02-13 13:59] #7589 closed

[2019-02-13 14:02] linsun commented on #11723
cc @johnma14

[2019-02-13 14:26] ymesika opened #11731 "Istio Multi-Cluster Gaps/Issues"
The purpose of discussion and items within this epic is to gather and track gaps/bugs/missing features/etc of the current Multi-Cluster support in Istio. Specifically, the [Cluster-aware (Split Horizon EDS)](https://preliminary.istio.io/docs/examples/multicluster/split-horizon-eds/) and [Gateway-Connectivity](https://preliminary.istio.io/docs/setup/kubernetes/multicluster-install/gateways/).

## C

[2019-02-13 14:38] linsun opened #11733 "Our gateway enablement flag is not working"
@shriram I don’t think we can use istio-ingressgateway with a dash in values.yaml, helm doesn’t allow it when you use it in if condition like .Values.gateways.istio-ingressgateway.enabled, it creates error when I run helm template.  (found this when working on https://github.com/istio/istio/pull/11732/files)

[2019-02-13 14:42] adrienjt commented on #10971
@sdake I wasn't sure about the Helm install, and, indeed, the problem was that I was still using the master sub charts, as explained better by you in #11705. I implemented the fixes locally (as they aren't merged yet), and now it works! Thank you!

[2019-02-13 14:48] esnible commented on #10568
I can't push to your Github.  Here is what I would have pushed:

[code]

I was able to access from a browser.

I used IBM Container Service.

When I test locally I use a Vagrant box that a colleague made for me, running Linux with Docker and Kubernetes on that Docker.  I am not sure how it works.  I didn't try that environment with your repo.

[2019-02-13 14:49] sdake commented on #11705
note to T&R, we will need a PR similar to this prior to the release of 1.1 to change release-1.1-dailies to wherever the new images are located.  @hklai was able to help get the information needed to implement this very small change.

[2019-02-13 14:59] #9324 closed

[2019-02-13 14:59] VenkateshSrini commented on #10568
Would it be possible to just attach the virtual service.yaml and istio deployment to this thread atleast. Or you could send me by email at venkateshsrini3@gmail.com

[2019-02-13 15:59] #9355 closed

[2019-02-13 16:20] nmittler commented on #11660
@mandarjog @costinm are you aware of a way to pass in annotations for a deployment via helm?

I suppose you can manually modify the subcharts.

[2019-02-13 16:28] caohe commented on #9894
Hi @dotw @esnible ,

For the **redisquota** adapter, we **cannot** configure a specific validDuration for an override. While for the **memquota** adapter, we **can**. This applies to both release-1.0 and release-1.1.

The docs of release-1.0 was wrong. It has been fixed in this [pr](https://github.com/istio/istio.io/pull/3235).

[2019-02-13 16:28] esnible commented on #10568
Uploaded with .txt extension because Github wouldn't accept as .yaml.

[istio-test-deployment.yaml.txt](https://github.com/istio/istio/files/2861221/istio-test-deployment.yaml.txt)
[VirtualService.yaml.txt](https://github.com/istio/istio/files/2861222/VirtualService.yaml.txt)

[2019-02-13 16:43] Bessonov commented on #11659
Similar issue: https://github.com/istio/istio/issues/11045

[2019-02-13 16:59] #8860 closed

[2019-02-13 17:23] kish3007 commented on #10588
any update on this issue?

[2019-02-13 17:59] #8892 closed

[2019-02-13 18:17] douglas-reid commented on #11699
@clyang82 can we close this now ?

[2019-02-13 18:34] nitishm commented on #11571
@ostromart I will try to get those logs later today.

Meanwhile I stumbled across this issue on the kubernetes page, https://github.com/kubernetes/kubernetes/issues/55435

Specifically,
[code]
, which might explain why `allowPrivilegeEscalation: true` is required by the injecting controller.

Do you think its related ? My understand seems to link it to the problem, but I might be misunderstanding

[2019-02-13 18:50] mandarjog opened #11736 "Proposal: Switch off Mixer policy enforcement by default in 1.1"
We are considering switching off Mixer policy enforcement by default in Istio 1.1

1. Most customers do not use Istio policy, but still pay latency cost of using istio-policy. P99 latency doubles in the test setup.  (6ms -> 12 ms)
2. Even for customers that want to use policy, Istio rbac can be used in most cases. It is evaluated client side, and thus does not suffer from the latency issue.
3. Mix

[2019-02-13 18:56] mandarjog commented on #11736
@theganyo @louiscryan @geeknoid @douglas-reid @rshriram @costinm

[2019-02-13 18:59] #7562 closed

[2019-02-13 19:07] geeknoid commented on #11736
My $0.02

Given that we're trying to ship 1.1 in earnest, instead of having a note somewhere that tells people about the breaking change, I think we should instead publish a note informing them how they can turn policy checks off and get the benefits of increased perf and resiliency to failure.

We will eventually get the benefits of Galley making intelligent decisions about which paths to light u

[2019-02-13 19:07] theganyo commented on #11736
It seems to me that the safer, more consistent, and backward compatible play would be to have it on by default, but allow it to be turned off. It's on in 1.0 and I assume that in Mixer v2, policy would be on by default as the issue goes away... so having it off by default in 1.1 seems both incompatible and inconsistent.

(Ideally, of course, it would be even better if Istio could detect if there i

[2019-02-13 19:07] costinm commented on #11736
Also: in 1.1 we have ability to enable policy for specific workloads ( Mandar - please add a link to an example).

The proposal is to not make Check calls from all workloads, by default - policy server will still run, but will need to be enabled by user either at workload or by explicit setting.

[2019-02-13 19:14] Stono commented on #11696
Any thoughts @douglas-reid ? We currently can't use tracing for requests unless they entire via our edge, which is only a fraction

[2019-02-13 19:24] linsun commented on #11736
+1 on switch off policy by default.  No one is using policy afaik, and everyone isn't happy that they are paying for that latency cost of using istio-policy even when they don't have any policy enforcement configs deployed.  In fact, that comes as a surprise to everyone, as they don't expect to pay for that latency.

It is a breaking change, but it aligns with what people are expecting of the beha

[2019-02-13 19:25] linsun commented on #11736
This could have improved in 1.1, but last time when I tried (maybe 1.0.x), I don't have any mixer policy deployed but it is still calling to mixer to check if a call is allowed.

[2019-02-13 19:37] ostromart commented on #11571
It's related but not quite what we're talking about here.  The way I read k8s docs, allowPrivilegeEscalation: true should be required, so to me we are getting the behavior I'd expect.
The gap is why manual injection works, and my current theory here is that you might be using the default injection template in (some older version of) istioctl rather than the one which is part of the release.

[2019-02-13 19:40] nitishm commented on #11571
Where does istioctl source it;s template from ? Is it baked into the binary ?

[2019-02-13 19:41] ostromart commented on #11611
Based on what you've told me so far it looks like the cluster needs some additional setup to enable webhooks. Next thing to try would be to deploy the simple webhook (link above) and ensure that works.
You can use the AWS platform setup link above to get some clues for steps you might be missing.

[2019-02-13 19:46] rshriram commented on #11736
Do we have a clear idea of who is using policy in prod in 1.0? It seems to be a very small fraction of people, while the 99% of majority dont use it. If we keep policy on for backward compatibility for this 1% of user base, we are unduly adding the latency overhead to teh rest of the 99% that dont even use RBAC for instance.

My vote would be to turn it off in 1.1, and make big bold release notes

[2019-02-13 19:58] uk000 commented on #11686
Apprently istio-1.1.0-snapshot.6 has the same issue as well.

[code]

[2019-02-13 19:59] #7926 closed

[2019-02-13 19:59] incfly commented on #11683
Regarding improvements about using ingress gateway to expose istio control plane, I found by default we don't create port on ingress gateway doing sni based routing.

That is only enabled when [`helm.Values.meshExpansion.enabled=true`](https://github.com/istio/istio/blob/master/install/kubernetes/helm/subcharts/gateways/templates/preconfigured.yaml#L37). It does not seem to be a good name if we wa

[2019-02-13 20:03] ssuchter commented on #11736
It seems like there are 2 distinct but related questions:
1. Do we want to ever change policy checking to be off-by-default?
2. Do we want to make that change in 1.1?

Addressing just #1:

We know the common use case does not need this check, so it'd be good to cater to that. The main problem is backwards compatibility. I'm personally in favor of turning this off, but I could see multiple ways of

[2019-02-13 20:05] anilutcs opened #11737 "Ability to override subjectAltNames (SAN verification) for ISTIO_MUTUAL auth type"
**Describe the feature request**
Ability to override subjectAltNames for ISTIO_MUTUAL. Currently, subjectAltNames can be overriden for MUTUAL auth policy but not for ISTIO_MUTUAL. This results in skipped SAN verification for service entries (added for services running in remote istio cluster) which are not associated with istio service accounts in the local cluster.

**Describe alternatives you've

[2019-02-13 20:09] rshriram commented on #11737
You can override the SAN check using a destination rule

[2019-02-13 20:09] rshriram commented on #11737
try it with ISTIO_MUTUAL

[2019-02-13 20:23] smawson commented on #11736
I am strongly opposed to making breaking changes in software that could negatively impact production users of the project, as a general rule.

The right solution here is to turn off policy checks for envoys that don't need them (and likewise turn off telemetry reports if they aren't needed, and turn off the rbac filter if it isn't needed). We shouldn't even need a global setting, that's just makin

[2019-02-13 20:25] anilutcs commented on #11737
Yep, I tried the following service entry and destination rule:
[code]
[code]
So I specified subjectAltNames for both ISTIO_MUTUAL and MUTUAL, but only the specified for MUTUAL works. Envoy configs generated below:

Generated envoy tlsContext for MUTUAL:
[code]

Generated envoy tlsContext for ISTIO_MUTUAL:
[code]

I can submit a PR if you think its supposed to work and it isn't currently.

[2019-02-13 20:26] rshriram commented on #11736
The problem is mixer doesn't have "policy for a workload" kind of setup. The adapters/templates/etc.. dont define workload label selectors or anything that can be gleaned from the config, can they? With RBAC, we already do this. Same goes for authN policies as well. Mixer is the only exception as of now.

[2019-02-13 20:31] rshriram commented on #11737
shux you are right.. look in cluster.go under conditionallyConvertToIstioMtls ..
[code]

Also please submit this fix to release-1.1 branch

[2019-02-13 20:40] rshriram commented on #11731
fwiw
 with the gateway based clustering,

We already have this support. Simply declare the localities in the service entry's endpoint. You can add the local version of the service in this list as well. It doesn't work for the flat network thing as there is no locality support in EDS.

Also present in the gateway setup. the sni resolves to local cluster only. Unless you setup some external service

[2019-02-13 20:44] daparthi001 commented on #11611
One final question i want to decide on the network cidr
kube-controll-manager
--cluster-cidr=172.20.0.0/14
--service-cluster-ip-range=192.168.0.0/16
kube-apiservice
--service-cluster-ip-range=192.168.0.0/16
kubelet service
 --pod-cidr=172.20.0.0/14
Dns
--cluster-dns=192.168.0.10

weave:
cidr range :  value: 172.20.0.0/14

Some network conflict is happening do you think this ranges work what if i k

[2019-02-13 20:59] #8838 closed

[2019-02-13 21:12] linsun opened #11739 "Proposal: enable all traffic going outside of mesh allowed by default"
When user uses istio initially, they often spend long hours to get their app working simply because they didn't realize/know that we disable all traffic going out of the mesh/k8s by default.   This is a show stopper for moving to run user's microservices to istio without any changes.  Our goal of the istio project has been it is transparent and not there without user noticing he/she is using it wh

[2019-02-13 21:12] linsun commented on #11739
cc @costinm @rshriram @louiscryan @esnible @vadimeisenbergibm @duderino @frankbu

[2019-02-13 21:16] linsun commented on #11739
with the new global option added by @rshriram and @vadimeisenbergibm we could toggle this easily

[2019-02-13 21:17] douglas-reid commented on #11736
@rshriram I share your concern that detection of use of policy, especially for a workload, is a challenge -- and is not completely supported by the current config scheme. Perhaps the system _should_ work that way, but we haven't designed it to make that particular task easy.

This change does have the disadvantage of being a silent failure. If your policy enforcement was an action seldom taken, bu

[2019-02-13 21:22] geeknoid commented on #11736
So we have two approaches here:

- Breaking change. We tell users about the breaking change. If a user misses the note and depends on policy checks, they are broken and they don't know it.

- Leave as-is. We tell users about the ability to turn off policy checks to gain additional perf. If the users don't notice the note, life goes on as before. If did do notice the note, they can change things on

[2019-02-13 21:23] anilutcs commented on #11737
Sure shriram, will submit a PR.

[2019-02-13 21:26] duderino commented on #11686
@liminw will triage

@ozevren @ayj @myidpt @wenchenglu @wattli FYI

[2019-02-13 21:28] esnible commented on #11739
I believe it would be a good default for applications to behave as expected unless additional security is requested.

Recently closed bug https://github.com/istio/istio/issues/10330 allowed traffic to go out by default on most ports.  It would be very confusing if users were getting that behavior and then we turned it off as part of the 1.1 upgrade.

[2019-02-13 21:37] ayj commented on #11686
[validateTLSOptions](https://github.com/istio/istio/blob/72683f6bb7e7e9d3f95b11293dd97cc8eb13aa66/pilot/pkg/model/validation.go#L499-L523), which is called by ValidateGateway, hasn't been updated to allow this combination yet.

[2019-02-13 21:42] ssuchter commented on #11736
I can explain why there is a discussion: I know of at least one company that switched from Istio to Linkerd because they thought Istio's performance was worse. Their measured delta was explainable by policy checks that were unnecessary. I think that having policy checks by on by default (because of their cost) is a bad state and the above situation will keep repeating. Should we keep things foreve

[2019-02-13 21:42] linsun commented on #11736
can we do what @douglas-reid suggested and honor this for upgrade but disable it for new install?  I think that is a good meet-in-the-middle method :)

[2019-02-13 21:54] geeknoid commented on #11736
@ssuchter 1.1 != forever.

In Mixer V2, the overhead will be eliminated. Additionally, Galley will be well established and in a position to control exactly what the data plane is doing, based on what features the user has enabled.

[2019-02-13 21:58] ssuchter commented on #11736
Do we have a way to achieve honor for upgrade but disable for new install? What if the customer's method of "upgrade" is to uninstall Istio entirely, install the new version, and deposit their same config? How could we detect that?

I think we're having trouble deciding between two evils:
1. We've got a "default" that is penalizing 99% of the users (quoting Shriram here) with performance and SPOF-

[2019-02-13 22:02] liminw commented on #11686
According to @JimmyCYJ , this is expected behavior. @zhqworld, you can put arbitrary string for "serverCertificate" and "privateKey" fields, because the validation code requires that the fields are not empty. This is a slight behavior change from what Jimmy demoed last time. Let us know if this works for you.

Jimmy is working on a tutorial for this Ingress cert manager feature, and he will clarif

[2019-02-13 22:11] shriram commented on #11733
Please don't use my @ name here. I'm not part of this project.

[2019-02-13 22:12] dkushner commented on #7018
Can we have confirmation that this is working as intended? Is there really no way for a VirtualService to produce routes in a Gateway definition that does not live in the same namespace? For our purposes, we have istio deployed in the `istio-system` namespace, along with the gateway definition for all of our services. We use namespaces to group related services within the cluster and these service

[2019-02-13 22:39] bradenwright opened #11741 "2nd Service Entry causes both dns entries to route to 1st ServiceEntry"
**Describe the bug**
I have 2 Service Entries in 2 separate charts for CloudSQL.  CloudSQL is using private ip and I can connect to both of them if I turn off my Istio side cars.

Also each ServiceEntry / CloudSQL works if the other is not deployed.  If both are deployed then the 2 separate charts/deployments/pods both try to route to which ever was setup first.  I'll post some output below.

**Ex

[2019-02-13 22:42] mabushey opened #11742 "Grafana does not come up with Istio 1.0.6"
**Describe the bug**
Grafana pod in CreateContainerConfigError

**Expected behavior**
Grafana to work (like in 1.0.5)

**Steps to reproduce the bug**

`helm template istio-1.0.6/install/kubernetes/helm/istio --name istio --namespace istio-system  --set grafana.enabled=true  --set grafana.security.enabled=true  --set grafana.security.adminUser=admin --set grafana.security.adminPassword=mypass --set

[2019-02-13 22:43] bradenwright commented on #11741
[code]
[code]
NOTE: I changed the dns entry to example.com, but the dns entry I'm using does resolve

[code]

Error is b/c the database auth only exists on auth cloudsql and the database stats only exists on the stats database.

[code]

***************************************************************

If I delete the first chart, then it starts working

[code]

If I redeploy `stats` then `auth` kee

[2019-02-13 22:49] ostromart commented on #11571
Yes, there's a version baked into the binary. It was probably intended to make life easier for users but it's not without its problems.

[2019-02-13 22:49] isnellfeikema-isp commented on #10588
@marcin-kasinski: I also hit the issue with Helm v2.12.0 on a pristine, 100% fresh cluster. Helm v2.12.1 works on a completely fresh cluster, but if you've already attempted to install Istio with Helm v2.12.0 you will have to manually delete the CRDs.

[2019-02-13 22:50] myidpt opened #11744 "Citadel fails to talk to apiserver after running for long time"
**Describe the bug**
In the stress test, if Citadel is running with 20 pods, each pod rotates the cert once per minute, Citadel will fail to call apiserver to verify the JWTs with the log error:

2019-02-13T21:01:53.889758Z	warn	Authentication failed: failed to validate the JWT: failed to get a token review response: failed to send the HTTP request: Post https://kubernetes.default.svc/apis/authent

[2019-02-13 22:51] douglas-reid commented on #11736
@mandarjog what happens if we turn the default TTL for check cache entries up to basically infinity (and stripped referenced attributes when no check adapters were used, eliminating noise from APAs)?  Do we have perf impact assessments for essentially infinite caching of OK responses with the minimal set of referenced attributes?

hopefully, we would just pay the one-time cost of `Check` per proxy

[2019-02-13 22:56] myidpt commented on #11744
This is due to the connection proliferation from Citadel to apiserver. Currently Citadel is creating one httpclient per request to apiserver. The connection is not closed after being established.
After running Citadel for long time, Citadel will eventually have no ports available, which leads to the error.

[2019-02-13 22:58] myidpt commented on #11744
This is verified by doing the `netstat` against the Citadel pod. We found 28000+ ESTABLISHED connections to the apiserver.

[2019-02-13 23:00] duderino commented on #11742
At first glance, nothing in the 1.0.6 vs. 1.0.5 diff looks suspicious:  https://github.com/istio/istio/compare/1.0.5...1.0.6

[2019-02-13 23:13] douglas-reid commented on #11742
@mabushey i see that you are trying to set a password and username. are you potentially impacted by https://github.com/istio/istio/commit/fb125ead87e5b7489599a7af3480ab2743fded6e ?

[2019-02-13 23:14] zhqworld commented on #11686
By providing fake field can let galley pass the validation but ingress gateway component does not fetch certs from ingress sds agent as expected, even though sds agent container is running.

Note:  sds agent feature works with version1.1.0-snapshot.5
Please check why it's not working with below version:
1.1.0-snapshot.6
release-1.1-20190211-09-16

[2019-02-13 23:16] douglas-reid commented on #11742
It seems so, given:

`Warning  Failed     19m (x12 over 21m)  kubelet, ip-10-132-9-51.us-west-2.compute.internal  Error: secrets "grafana" not found`.

[2019-02-13 23:21] costinm commented on #11736
@douglas-reid interesting idea. My understanding was that checking the cache is also a bit expensive, but it may help a bit on latency side, and maybe a bit on SPOF.

Regarding upgrade: I want to remind everyone that we have many other changes in default behavior.
We're allocating more CPU - some users may have scheduling problems. CRD install mechanism
has changed - users who don't read the relea

[2019-02-13 23:29] ostromart commented on #11611
No, these cannot overlap. You can find more info and examples on how to set things up if you google around e.g. https://github.com/CiscoCloud/k8sclass/tree/master/Networking
Also check out the AWS setup link since your install is going to be similar.

[2019-02-13 23:29] #11611 closed

[2019-02-13 23:29] JimmyCYJ commented on #11686
Hi, I am adding doc into istio.io for this feature. https://github.com/istio/istio.io/pull/3224.
Below is an example for the gateway definition. The feature is disabled by default.
https://github.com/istio/istio/blob/27bfde8a011339ab63117b629fe0bf9f16d8fa2f/install/kubernetes/helm/subcharts/gateways/values.yaml#L17

[code]

[2019-02-13 23:42] douglas-reid commented on #11742
@mabushey Yeah, unfortuately that PR removed the `adminUser` params and introduced a new way to install security enabled grafana.

The new instructions are:

[code]

@gyliu513 @linsun do we need to update the release notes or something to flag this more appropriately?

[2019-02-13 23:59] #8467 closed

[2019-02-14 00:00] howardjohn opened #11748 "Galley nil pointer dereference"
**Describe the bug**

When Galley fails to initialize, it causes a nil pointer dereference.

[code]

**Expected behavior**
It seems like it should exit gracefully - it is clearly detected that Galley doesn't initialize, as it is logged, so we should probably just exit if so.

**Version**
Istio 1.1 snapshot 6

[2019-02-14 00:33] uk000 commented on #11686
Confirmed the correct config (with serverCertificate, privateKey and credentialName) works with snapshot.6.
Apparently there was a change between snapshot.5 and 6. Snapshot.5 works even without these config fields, because it likely matched certs based on host/cn without explicitly passing the credentialName.
We had tried with arbitrary values serverCertificate and privateKey, but didn't know the

[2019-02-14 00:42] mabushey commented on #11742
The change from 1.0.5 to 1.0.6 is:
[code]
Not sure why `password` was renamed to `passphrase`.

[2019-02-14 00:43] JimmyCYJ commented on #11686
Thanks for confirming that. There were API and function-wise changes recently. This final version will be introduced in the istio.io page once that PR is in.

[2019-02-14 01:02] mandarjog commented on #11736
Checking cache is not very expensive, so I think increasing the TTL and usecount to a high level for demo setup works well. `destination.uid`  is a good static referenced attribute since it is used to lookup config.

For anything other than demo, this will not work as well. We can potentially reduce the usecount and TTL for prod use, but then we are back to where we started.

It is also cleaner an

[2019-02-14 01:04] clyang82 commented on #11699
sure. Thanks @douglas-reid

[2019-02-14 01:04] #11699 closed

[2019-02-14 01:09] geeknoid commented on #11736
In the 1.2 timeframe, we should be able to make this dynamically selected
by Galley. In the 1.3 timefrsme, we'll start to roll out Mixer V2.

On Wed, Feb 13, 2019 at 5:02 PM mandarjog <notifications@github.com> wrote:

[2019-02-14 01:12] ssuchter commented on #11736
Does this mean that we could build a smarter thing into Galley that would disable policy checking in Mixer V1 when it is unnecessary? Will Galley be able to correctly detect this?

[2019-02-14 01:49] ozevren commented on #11748
Hi @howardjohn, Could you double check that this is with snapshot 6 binaries?
We fixed an issue in this area some time ago, which should be included in snapshot 6. I double checked the stack in this bug and it doesn't align with the code that snapshot 6 is cut from.

[2019-02-14 02:06] rshriram commented on #11736
fwiw, we have had the option to disable mixer since 1.0 but to @ssuchter 's point, people drop Istio because they dont read the fine print.
At the very least, in all our docs on the main site, we should advertise that people turn mixer off for the standard install. And change the demo.yamls (since its "demo"). This way, we could keep mixer on by default in the helm charts for people who generate t

[2019-02-14 02:58] linsun commented on #11742
I think it is to allow user to configure this from the helm param like {{ .Values.security.passphraseKey }}

Probably worthy documenting this.  I think there was some security concern with the old grafana in 1.0.5 as we expose id/pwds.

@gyliu513 @morvencao @clyang82 thoughts?

[2019-02-14 02:59] #7652 closed

[2019-02-14 03:03] linsun commented on #11733
sorry meant for @rshriram :)

[2019-02-14 03:18] exiaohao commented on #11178
https://github.com/istio/istio/pull/11218

[2019-02-14 03:25] morvencao commented on #11742
@mabushey If you want to enable the security mode for grafana and kiali, you should create secrets that contains the `id/pwds` firstly. See: https://github.com/istio/istio/issues/7476

[2019-02-14 03:41] piaoyu commented on #11260
It seem like  config error .  I close the issues first

[2019-02-14 03:41] #11260 closed

[2019-02-14 03:59] #8767 closed

[2019-02-14 04:02] pauldthomson commented on #11467
I was having the same issue, mine was because I was using the same port for the app and health check and we have mutual TLS enabled. Kubelet doesn't present a client cert as mentioned here:
_"Note that the image in liveness-http exposes two ports: 8001 and 8002 (source code). In this deployment, port 8001 serves the regular traffic while port 8002 is used for liveness probes. Because the Istio pro

[2019-02-14 04:22] vadimeisenbergibm commented on #11739
See this thread https://groups.google.com/forum/#!msg/istio-users/J_Ad-wTLjmY/ErpE6AKqDQAJ

https://groups.google.com/d/msg/istio-users/J_Ad-wTLjmY/ahxgS_raDQAJ

[2019-02-14 04:59] #8216 closed

[2019-02-14 05:59] #5208 closed

[2019-02-14 06:59] #8537 closed

[2019-02-14 07:04] liamawhite commented on #11659
I think the lastest in release-1.1 should return 0. I will try to find some time to verify.

[2019-02-14 07:44] harpratap commented on #11571
Facing similar issue here, works with istioctl but not with sidecar injector when we don't apply privileged PSP.

[2019-02-14 07:59] #8770 closed

[2019-02-14 08:59] #7707 closed

[2019-02-14 09:46] clyang82 commented on #9043
/cc

[2019-02-14 09:56] clyang82 opened #11754 "HPA for galley"
Galley acts as MCP server which is connected by pilot and mixer. if there are many pilot and mixer instances running in the environment, does Galley have the performance issue? do we need to consider to support galley auto-scaling?

@ayj @ozevren any thoughts?

[2019-02-14 09:59] #8563 closed

[2019-02-14 10:46] #8664 closed

[2019-02-14 11:28] robertpanzer opened #11755 "Mixer tracing does not work with 1.1.0-snapshot.6"
**Describe the bug**
After enabling tracing the proxies start sending their traces to jaeger.
I created rules that make Mixer reject the request with a validUseCount of 1.
However the mixer-policy pod does not sample the trace, even though I installed with `--set pilot.traceSampling=100.0 --set tracing.enabled=true`.

Debugging a bit through mixer it seems like the Istio-proxies are sending x-b3-t

[2019-02-14 11:46] #8598 closed

[2019-02-14 12:10] dawidmalina commented on #3063
https://github.com/istio/istio/pull/11548 will not cover external load balancer as we need to expose this port with istio-ingressgateway service.

[2019-02-14 12:14] ymesika commented on #11755
@douglas-reid consider reverting https://github.com/istio/istio/pull/10811

Seems like jaeger still doesn't support 128bit trace IDS: https://github.com/jaegertracing/jaeger/issues/858

[2019-02-14 12:29] gyliu513 commented on #11731
@morvencao @clyang82

[2019-02-14 12:46] #8620 closed

[2019-02-14 13:46] #7411 closed

[2019-02-14 13:49] vijaykumark commented on #9273
@liamawhite  For example, pod1 service is listening on 8080 as HTTP and pod2 service is listening on 8080 as grpc, will that cause conflict?

[2019-02-14 13:54] vijaykumark commented on #9273
In `istio-system` namespace itself, port 8060 of `istio-citadel` and `istio-ingressgateway` are listening on grpc and tcp protocols respectively. At least, the port names are `grpc-citadel` and `tcp-citadel-grpc-tls`.

[code]

[2019-02-14 13:57] xianglinghui opened #11758 "Are there any tutorials for installation on bare machine(without docker、k8s)?"
Hi，are there any tutorials for installation on bare machine(without docker、k8s)?

[2019-02-14 14:46] #8506 closed

[2019-02-14 14:54] #11565 closed

[2019-02-14 15:04] nitishm commented on #11571
The istioctl version is 1.0.3 from the same upstream repo, used to deploy the sidecar-injector component.
[code]

[2019-02-14 15:24] yannlambret commented on #8374
Hello, I'm facing the same issue, and creating the virtual services before the gateway didn't change anything. I'm currently trying to create three listeners on a custom ingress gateway:

* an HTTP listener on port 80
* an HTTPS listener on port 443
* a TLS listener on port 4343, to perform traffic routing for TCP services using the SNI host field

I'm using istio 1.0.5 on GKE, and my service is a

[2019-02-14 15:27] kish3007 commented on #10588
This issue doesn't exist/fixed in 2.12.2  version.

[2019-02-14 15:30] BarDweller commented on #8444
This does sound like it could be really quite useful.

[2019-02-14 15:46] #6461 closed

[2019-02-14 15:54] toantc commented on #7603
**Describe the bug**
I'm still getting this problem.

[code]

CURL output:

[code]

**Expected behavior**
All secure external web services are accessible

**Steps to reproduce the bug**

1. Install istio using `helm install helm install install/kubernetes/helm/istio --name istio --namespace istio-system`
2. Create 3 ServiceEntry with the yaml file above
3. Make a request to the last domain `curl -

[2019-02-14 16:13] costinm opened #11759 "Upgrade issues: options renamed can cause major upgrade problem"
For tracking/reverting the changes in 1.1 - a separate issue already exists for 1.0.6.

This is critical/blocker IMO, at least for grafana pass and policy -> istio-policy and similar changes.
Initial review shows about 5 risky changes, and dozens of changes in tracing that may be P2.

[2019-02-14 16:21] frankbu commented on #8444
So the issue is that the JWT is encoded, so you can't write rules directly using things in it, is that right? Although I haven't used them, I think there are a couple of possible ways you could do it. You can plug in some lua code in envoy (lua filter) that could extract the fields and maybe add some temporary headers that are used in the route rules. I think you can also add a custom envoy filter

[2019-02-14 16:26] esnible opened #11760 "Confusing error message from istioctl validate"
`istioctl validate -f samples/httpbin/httpbin.yaml`

yields

Error: error validating resource (/v1, Kind=Service Name=httpbin Namespace=): mixer API validation is not supported

and errorlevel 255.  (error codes > 127 are reserved for serious errors; using 255 messes up interop with tools like xargs).

[2019-02-14 16:28] ericvn commented on #11125
Two documentation PRs were merged:
- https://github.com/istio/istio.io/pull/3183
- https://github.com/istio/istio.io/pull/3184

[2019-02-14 16:31] GregHanson commented on #11125
closing since all related PR's have merged

[2019-02-14 16:31] #11125 closed

[2019-02-14 16:38] esnible commented on #11760
The error message is because of https://github.com/istio/istio/issues/4887

@ayj Should `istioctl` consider validating Istio Annotations on non-Istio objects?  For example, if I had a Deployment with

[code]

... (mispelled `false`) I would expect `istioctl validate` to say "invalid annotation value for sidecar.istio.inject in deployment httpbin".  Currently only Istio non-Mixer CRDs are validated

[2019-02-14 16:44] duderino commented on #11759
It'd be nice to know which commit(s) need to be reverted

[2019-02-14 16:46] #9172 closed

[2019-02-14 16:52] howardjohn commented on #11748
You are right it doesn't. Maybe I wasn't running snapshot 6.

Still seems like it should be an issue from looking at the code though:
https://github.com/istio/istio/blob/6113e155ac85e2485e30dfea2b80fd97afd3130a/galley/pkg/server/server.go#L323-L328

We detect that it failed to initialize (`s` is nil), then we call `s.Run()`

[2019-02-14 17:01] douglas-reid commented on #11755
@ymesika the work tracker shows the go client support as being completed. @objectiser should we just updated the client lib in vendor?

[2019-02-14 17:03] ozevren commented on #11748
Fatalf kills the process

On Thu, Feb 14, 2019 at 8:52 AM John Howard <notifications@github.com>
wrote:

[2019-02-14 17:07] ozevren commented on #11754
Our latest tests show there is no performance issue. Copy pasting from some of the investigation that @ayj did:
[code]

[2019-02-14 17:08] howardjohn commented on #11748
Oops, definitely must have been running an old version then. Thanks.

[2019-02-14 17:08] #11748 closed

[2019-02-14 17:11] ozevren commented on #11754
Serving path of Galley is pretty efficient. The config snapshots are already pre-calculated. Per client additional cost is currently relatively low. CRD count and config size is the main impactors (and I suspect endpoints support will be as well, once it lands). Those will not be helped by HPA.

[2019-02-14 17:18] BarDweller commented on #8444
Yes, JWTs are base64 encoded, and their claims are often used in the way that http headers used to be, but with the added value of knowing they haven't been tampered with (either via shared-secret, or public cert validation of the JWT).

At a basic level it would be great to be able to route based on the claims within a JWT, at a more advanced level it would be advantageous to be able to only do s

[2019-02-14 17:24] douglas-reid commented on #11755
Actually, I've now sent https://github.com/jaegertracing/jaeger-client-go/pull/373.

[2019-02-14 17:28] douglas-reid commented on #11696
@Stono I haven't had time to try this out yet. I'll try today and see if I can provide more insight.

[2019-02-14 17:34] howardjohn opened #11762 "Sidecar resource not updated properly"
**Describe the bug**
When a Sidecar resource is modified, it does not seem to update correctly.

**Expected behavior**
Applying a new config should have the same effect as deleting the config, then applying the new config, but it does not.

**Steps to reproduce the bug**
Turned on `global.outboundTrafficPolicy.mode=ALLOW_ANY` (not sure if related)

1. No Sidecar - all external traffic is blocked (

[2019-02-14 17:39] tcnghia commented on #11319
/cc @ayj @ozevren

[2019-02-14 17:52] gjcarneiro commented on #5384
I can't believe some people say "Istio is the future" and it doesn't even support the basic PROXY protocol, which ingress-nginx has supported for years.  For me this is a blocker, I cannot possibly accept traffic into our prod cluster if I do not know exactly where it is coming from, for legal reasons.

[2019-02-14 18:05] 4c74356b41 opened #11763 "Custom Ingress Gateway doesnt work in a different namespace"
**Describe the bug**
no rules get populated in envoy proxy getting a bunch of `gRPC config stream closed: 14, no healthy upstream` in the gateway pod logs

**Expected behavior**
custom gateway working

**Steps to reproduce the bug**
follow this article: https://preliminary.istio.io/blog/2019/custom-ingress-gateway/#configuring-the-custom-ingress-gateway

**Version**
k8s: 1.12.4
istio: 1.0.6 and 1.

[2019-02-14 18:12] eduardobaitello commented on #7603
@toantc Istio is meticulous about using wildcard hosts **and** `resolution: DNS`. Here are some quotes from official docs:

[1.0.3 release notes:](https://istio.io/about/notes/1.0.3/#behavior-changes)

[Service Entry:](https://istio.io/docs/reference/config/istio.networking.v1alpha3/#ServiceEntry)

[code]

Git it a try by setting `resolution: STATIC`, and see if it works.

_Another [comment](https

[2019-02-14 18:21] ostromart commented on #11571
Could you check the master logs (link above) to see what the admission requests look like from auto and manual injection?

[2019-02-14 18:32] douglas-reid commented on #11696
@Stono was this with 1.1 snapshots (or tip) or a 1.0.X release (just so I'm not testing something different)?  It looks like 1.0.X, based on the 64bit traceids.

[2019-02-14 18:35] myidpt commented on #11744
With the PR #11743 , we observed about 55 connections to the apiserver after running Citadel for 13 hours. The reason of increased number of established connections is under investigation. But it is very likely to be the re-connections due to failures in the secret/service account/service calls.

[2019-02-14 18:41] nitishm commented on #11571
@ostromart I cant find /var/log/*.log for the k8s components on the master node (probably because of systemd), but I can acquire the logs from the individual docker containers. Is it the kube-controller-manager container or the api-server container that would provide the admission controller logs ?

[2019-02-14 18:46] #9358 closed

[2019-02-14 19:15] douglas-reid commented on #11696
@Stono I cannot repro this issue.  Here's what I'm doing:

- deployed Istio 1.0.6 from release via helm template:

`helm template install/kubernetes/helm/istio --name istio --namespace istio-system --set tracing.enabled=true --set tracing.jaeger.enabled=true > $HOME/istio-1.0.6.yaml`

- labeled the default namespace for automatic injection
- deployed everyone's favorite bookinfo sample

[code]
- c

[2019-02-14 19:19] #11604 closed

[2019-02-14 19:23] douglas-reid commented on #11696
@Stono also, checking the `stdio` access logs, I see a bunch of incoming into productpage with the following:

`{"level":"info","time":"2019-02-14T19:03:50.984120Z","instance":"accesslog.logentry.istio-system","apiClaims":"","apiKey":"","clientTraceId":"","connection_security_policy":"none","destinationApp":"productpage","destinationIp":"10.36.2.8","destinationName":"productpage-v1-54b8b9f55-g25jf

[2019-02-14 19:37] jmazzitelli commented on #11151
@douglas-reid yes, I will confirm. I've been on vaca the past 2 weeks - I'll look at by next week.

[2019-02-14 19:39] BarDweller commented on #8444
See also.. https://github.com/envoyproxy/envoy/issues/3763

[2019-02-14 19:41] Stono commented on #11696
Hey
Thanks so much for trying to reproduce.. my tests were on 1.0.5, we are
rolling out 1.0.6 today so I'll give it another go but judging from the
change log there shouldn't be anything.

Unfortunately I'm away for a few days, but let me gather as much
information about my setup as possible for you over the weekend or Monday
and maybe we can identify the delta.

Ta
Karl

On Thu, 14 Feb 2019, 7:16

[2019-02-14 20:17] sdake opened #11770 "Remove subcharts and instead conslidate them into one chart"
The community has requested the removal of `helm dep update`.  This issue tracks that work.

[2019-02-14 20:17] sdake commented on #11770
https://github.com/istio/istio/pull/11767

[2019-02-14 20:17] sdake commented on #11770
https://github.com/istio/istio/pull/11769

[2019-02-14 20:35] kyessenov commented on #8444
In 1.1, you can utilize Mixer adapters to change request headers. See https://github.com/istio/api/blob/master/policy/v1beta1/cfg.proto#L171. You can then write a networking config to route using the headers. In the next-gen architecture, Mixer functions are going to be executed inside Envoy process, to avoid extra operations and cost of Mixer itself.

[2019-02-14 20:46] #8026 closed

[2019-02-14 21:39] ostromart commented on #11571
I've never looked in there but it sounds like it would show up there. Try auto inject first because we know that definitely hits the PSP controller.

[2019-02-14 21:46] #8111 closed

[2019-02-14 22:00] douglas-reid commented on #11742
@mabushey I see a different diff, actually.

[code]

@linsun can we edit the release notes for 1.0.6 ?

[2019-02-14 22:20] frankbu commented on #8444
Sounds like using Mixer header operations is another experiment that would be good to try, but it seems that it would be a lot more work to configure it this way vs. just adding a little bit of lua code in an [EnovyFilter](https://preliminary.istio.io/docs/reference/config/istio.networking.v1alpha3/#EnvoyFilter), assuming that works.

Maybe if we provide a built-in Mixer adapter that does the jwt

[2019-02-14 22:25] #11671 closed

[2019-02-14 22:26] #10564 closed

[2019-02-14 22:27] #10429 closed

[2019-02-14 22:50] julianvmodesto commented on #3519
Is there a current workaround and example for the GCLB => Istio Ingressgateway config?

[2019-02-14 22:52] kyessenov commented on #8444
Yes, the intent is to have cooperative adapters using basic JWT codecs in proxy and Mixer external adapters if necessary. Policy rules would tie everything together regardless of which component executes them. Lua code may works in the interim, but there is no compatibility guarantees, as with any EnvoyFilter config since it breaks the abstraction barrier.

[2019-02-14 22:53] julianvmodesto commented on #3519
This is a big blocker for some pretty interesting Istio <=> GCLB L7 usage w/ features like Cloud IAP + Cloud Armor for us.

[2019-02-14 23:07] liminw commented on #11686
@zhqworld Can we close this issue?

[2019-02-14 23:11] zhqworld commented on #11686
yes. Will we get istio document updated as well for the gateway tls section?

[2019-02-14 23:24] liminw commented on #11686
@JimmyCYJ can confirm, but it seems that his PR (https://github.com/istio/istio.io/pull/3224) for updating the documentation is close to be merged.

I will close this PR since the problem is already solved.

[2019-02-14 23:24] incfly commented on #11683
@mandarjog Next step is to incorporate this into existing big cluster. Can you share me the setup links, project/cluster access details? Thanks!

[2019-02-14 23:46] #8459 closed

[2019-02-14 23:54] davidkarlsen commented on #7486
Avoid issue running stale - this is still needed for istio to be useful in any production-grade cluster...

[2019-02-15 00:07] #11744 closed

[2019-02-15 00:20] dicarlo2 commented on #10915
@gbaufake I haven't tested it yet, was waiting for a few other things to go in first. Will take a look in the next few days.

[2019-02-15 00:25] mabushey commented on #11763
It's the same with VirtualServices. They need to all go in `default` if you want them to work right.

[2019-02-15 01:45] hzxuzhonghu commented on #8224
/remove stale

[2019-02-15 01:50] hzxuzhonghu commented on #11762
I think the title should be updated to be clearly  `Sidecar resource influence outbound traffic`

[2019-02-15 02:25] kyessenov commented on #11736
Here's another implementation proposal to avoid making unnecessary Mixer policy calls.
1. Let pilot call out to mixer with partially filled attributes at regular intervals.
2. Interpret results as trivially true, trivially false, or maybe, where maybe happens if there are referenced attributes that are not in the original partial attribute set.
3. Only insert mixerfilter if the result is maybe.

[2019-02-15 03:46] #8720 closed

[2019-02-15 05:43] 4c74356b41 commented on #11763
I'm not sure, they seem to work with the istio-system namespace, but not with custom gateway. At least I'm unable to make them work.

[2019-02-15 06:46] clyang82 commented on #11754
@ozevren Good to know that. That means 1 galley replica can meet the requirements. right?

[2019-02-15 06:46] #1425 closed

[2019-02-15 07:59] emedina commented on #10360
This is announced as fixed in the release notes of `1.0.6`, is this actually the case?

https://istio.io/about/notes/1.0.6/

[2019-02-15 08:17] marcin-kasinski opened #11778 "Istio coredns and host name resolution"
**Describe the bug**

I've created ServiceEntry based on tutorial https://istio.io/docs/tasks/traffic-management/egress/
[code]

I try to test it with:

`curl http://httpbin.org/header`

I got error:
`curl: (6) Could not resolve host: httpbin.org`

In coredns I can see:
` [ERROR] plugin/errors: 2 httpbin.org.local. A: unreachable backend: no upstream host`

I have no idea wy there is .local suffix

[2019-02-15 08:28] marcin-kasinski commented on #11778
More logs....

First there is httpbin.org. Then httpbin.org.local.

[code]

[2019-02-15 08:42] #10588 closed

[2019-02-15 08:43] marcin-kasinski commented on #10588
I can confirm.
It works with newest version.

[2019-02-15 09:16] rvansa opened #11779 "Race condition getting pod IP and sending listeners list"
**Describe the bug**
When I start many nodes concurrently some nodes get stuck, the sidecar never boots. This is happening because pod's IP:port is not among the listeners list; `pilot/pkg/serviceregistry/kube/controller.go:GetProxyServiceInstances()` tries to get pod info from PodCache on the controller, but gets `nil` at that point. Adding some debug logs I've found that `pilot/pkg/serviceregist

[2019-02-15 10:07] 4c74356b41 commented on #11763
ok, I made a bit more progress, it appears, I can see the listener with the proper domain configured, I can see curl returning proper certificate when I curl the endpoint, but it gives me 404. I can access the service endpoint internally from the gateway and\or using port-forward.

I can see the dynamic_active_cluster pointing to my service, but in the dynamic_route_configs I only see blackhole fo

[2019-02-15 10:07] vishal-yadav opened #11781 "[Minimal Install] Rendering core components to kubernetes manifest fails"
**Describe the bug**
When installing with [helm template](https://preliminary.istio.io/docs/setup/kubernetes/minimal-install/#option-1) option following error is encountered while rendering core components to k8s manifest:
[code]

**Expected behavior**
Rendering to k8s manifest should finish successfully.

**Steps to reproduce the bug**
1. Download istio 1.1 snapshot
[code]
2. Install all the Isti

[2019-02-15 10:08] 4c74356b41 commented on #11763
[code]

[2019-02-15 10:22] piotrmsc commented on #10547
It will help but unfortunately will not solve the issue. Even if you set refresh time to 1 minute it will increase load on pilot and still for this period of time tokens will be rejected. I understand the problem with access to the internet of the Envoy, however, pilot needs this access as well so if the cloud policy blocks such calls it will not be possible to use AuthN policy at all cause even p

[2019-02-15 10:24] vishal-yadav commented on #11781
Step 5: Install the istio chart [using tiller (helm install)](https://preliminary.istio.io/docs/setup/kubernetes/minimal-install/#option-2) also fails with above error.

[2019-02-15 10:40] murarisumit commented on #9944
@rosenhouse @shubhaat  if no one is doing it, can I pick this issue ?

[2019-02-15 10:54] murarisumit commented on #6892
hi @rshriram  @ayj can I pick this issue, i was almost stuck for a day because of "ports were not named correctly".

[2019-02-15 11:27] 4c74356b41 commented on #11763
ok, not sure what changed (because that's what I've been trying since the start) after moving the virtualservice back to the istio-system namespace everything started working.

[2019-02-15 11:27] #11763 closed

[2019-02-15 11:38] bangau1 opened #11782 "Istio Mixer - No valid actions found in rule Istio-1.0.5"
**Describe the bug**
Many errors found on istio-policy mixer container. (First I realized this on Istio Mixer grafana dashboard, rules error count is high)
[code]

**Expected behavior**
Should be none

**Steps to reproduce the bug**
- Previous installation using helm, with istio-1.0.0 version
- Then I upgraded the same installation (using `helm upgrade --install`) using istio-1.0.5 helm template/c

[2019-02-15 11:51] davidkarlsen commented on #9605
Let's keep the issue alive and not stale

[2019-02-15 11:53] #9394 closed

[2019-02-15 12:50] vishal-yadav commented on #11781
Okay so [Minimal Install](https://preliminary.istio.io/docs/setup/kubernetes/minimal-install/#installation-steps) should also explicitly mention to **update helm dependencies** before installation as mentioned in general helm installation [Installation with Helm](https://preliminary.istio.io/docs/setup/kubernetes/helm-install/#installation-steps) section.

After updating helm dependencies installa

[2019-02-15 12:51] MarcMielke opened #11783 "Officially recommended way to install?"
What is the officially recommended installation procedure via `helm` for any given LTS (K8S v1.13.2 on AWS, if that matters) ?

- checkout the repo, then `helm install...` from master
- OR checkout the repo, then `git checkout release-1.0` (how do I know which LTS I would be on?), then run `helm install...`
- OR checkout the repo, then `git checkout tags/1.0.6 -b branch2InstallFrom`, then run `hel

[2019-02-15 13:22] esnible commented on #11593
Happened for me this morning in https://circleci.com/gh/istio/istio/326914 .  @GregHanson are you the test-watcher this month?  How about the idea I proposed above, having FetchAndSaveClusterLogs() record pod status so we can see why Prometheus is getting stuck?

[2019-02-15 14:44] 4c74356b41 opened #11785 "Custom gateway detects wrong port for the service"
**Describe the bug**
different port appears in the gateway route
[code]

virtual services:
[code]

services:
[code]

**Expected behavior**
proper port :)

**Steps to reproduce the bug**
create a custom gateway in istio-system namespace, create a custom wildcard certificate, map 2 virtual services to the same gateway\dns name, create 2 services in a different namespace, create egress entry for serv

[2019-02-15 14:50] duderino commented on #11686
Please leave this issue open until the PR is merged

[2019-02-15 15:02] GregHanson commented on #11778
@marcin-kasinski do you have anything in your coredns configmap for appending `.local`?
[code]

[2019-02-15 15:38] rshriram commented on #6892
That would be great.. The AspenMesh folks have been working in istio-vet https://github.com/aspenmesh/istio-vet
I think that addresses most of this..

[2019-02-15 15:40] #11737 closed

[2019-02-15 15:41] BarDweller commented on #8444
I've just tried with an EnvoyFilter configured to add the path as a header to the request, combined with a VirtualService configured with http match rules to match on the header to select which app to route to.

The routing works when I send the header from my rest client, but does not work if the the EnvoyFilter sets the header.  It's as if the EnvoyFilter is running after the decision is already

[2019-02-15 15:55] rshriram commented on #11736
for every pod?

[2019-02-15 16:03] rshriram commented on #11555
I added that explicitly because we now have a global export option that could be set to . or *. If someone sets the global export option to ., then dest rules for policy and telemetry wont be visible to anyone.. all sidecars start calling mixer with plain text and calls fail.

Put another way, you will have this problem if someone changes the global exportTo to . and tries to upgrade. That said, c

[2019-02-15 16:07] #11268 closed

[2019-02-15 16:10] frankbu commented on #8444
Hmm, I would think that insertPosition index FIRST would do the trick. Maybe, to debug, you could add two lua filters, yours as the first one, and a second one that does something with the header that should have been added by the first, to confirm that the change is getting passed on to the next filter.

@rshriram Do you have an idea what might be the problem here?

[2019-02-15 16:11] rshriram commented on #11762
step 5 implies that the code generating the config is working as expected. step 3 implies that something in the system is ignoring the config update notifications. This part of the system is in ads.go or discovery.go where there is some dampening logic.. cc @costinm who knows the details of this..
To me, 3 seems like a config update is being ignored. I have seen this issue surface every now and th

[2019-02-15 16:16] frankbu commented on #8444
Btw, if headers being added by one filter are not being finished before the routing is done, I would guess that the mixer approach will have the same issue.

@kyessenov have Mixer  header operations that add headers been tested in conjunction with route rules that act on those headers?

[2019-02-15 16:16] rshriram commented on #8444
are you retriggering route computation in the lua filter>? Lua filter is executed after envoy matches the routes, and selects the upstream cluster. IF you add/remove stuff in lua, you have to retrigger route computation for this to take effect.

[2019-02-15 16:27] rshriram commented on #8444
looking at the lua code in envoy, it is re-triggering route computation. So it depends on how you are adding the headers in Lua

[2019-02-15 17:00] dansiviter commented on #11045
I'm hitting this with Helm Tests. The actual test work, but just hangs then finally times out with:

[code]

...as istio-proxy doesn't terminate although the Pod has reached Completed. As we have mTLS `STRICT` we don't have an option for `sidecar.istio.io/inject: "false"`.

[2019-02-15 17:13] #11178 closed

[2019-02-15 17:14] douglas-reid commented on #11782
Something is wrong with your install:

`error   Instance not found: instance='requestcount.metric'` means that there is no configuration for the basic building blocks.

Please see: https://istio.io/help/ops/telemetry/missing-metrics/#verify-mixer-metric-instances-configuration-exists

And perhaps attempt a reinstall.

Closing, as this is an installation issue. Please re-open or move the conversati

[2019-02-15 17:14] #11782 closed

[2019-02-15 17:18] marcin-kasinski commented on #11778
configmap:
[code]
Problem is that I setup kubernetes with istio with vagrant from scratch with scripts (no manual changes) and somethimes everything is ok, and somethimes I get this dns error.

It's 50% / 50%

I have no idea where is a source of this problem.

I think I've had this problem since I added istio to my environment, but I'm not 100% sure.

[2019-02-15 17:20] itaysk commented on #9595
this issue is resolved so should be closed.

[2019-02-15 17:25] adenis-sv opened #11786 "TLS modes PASSTHROUGH and SIMPLE do not work in same cluster"
**Describe the bug**
I am trying to implement TLS termination on Gateway for one application and on backend side for another.
Following tasks from the documentation.

    https://istio.io/docs/tasks/traffic-management/secure-ingress/ 1
    For TLS mode SIMPLE
    https://preliminary.istio.io/docs/examples/advanced-gateways/ingress-sni-passthrough/ 1
    For TLS mode PASSTHROUGH

Each of them separ

[2019-02-15 17:40] mabushey commented on #11763
My experience is VirtualServices somewhat work, but not 100%, unless you apply them to the `default` namespace. One rule by itself is usually OK, but multiple rules in multiple namespaces is where things start to break.

[2019-02-15 17:46] louiscryan commented on #11736
Mixer folks - Is there a way to introspect the Mixer job at runtime and
figure out if it has any enabled policy checks, either through a call as
Kuat suggests or via its metrics ?

On Fri, Feb 15, 2019 at 7:55 AM Shriram Rajagopalan <
notifications@github.com> wrote:

[2019-02-15 17:47] 4c74356b41 commented on #11763
yeah, take a look at this: https://github.com/istio/istio/issues/11785. seems like what you are talking about. but why default namespace? i read somewhere that virtual service needs to be in the gateway namespace @mabushey

[2019-02-15 17:51] geeknoid opened #11787 "Attach a sidecar to Galley"
We should be using a sidecar on Galley to enable full support for mutual TLS and OAuth over inbound and outbound MCP channels, along with SDS-based provisioning.

We need to eliminate custom auth solutions in the platform and capitalize on Envoy where possible.

The challenge with applying a sidecar to Galley is around bootstrapping, given that Galley is responsible for delivering config.

@wenche

[2019-02-15 17:53] sdake commented on #11555
3 is not achievable in 1.1 timeframe without serious risk to the delivery.  I did consider breaking the config into a third chart back when istio-init was broken into a separate chart, but decided not to, as was already getting pushback about the number of steps.  Guess I should have done it anyway :)

For this particular DR, we could add a special case that applies it "later" by adding a DR appli

[2019-02-15 18:00] douglas-reid commented on #11736
Starting assumption:  `Check` is provided by Istio's Mixer (and not some other workload).

Then, yes, it would be possible to tell at any given time whether or not there are any templates of variety `Check` in Mixer's internal routing table. That info is not currently exposed in a consumable fashion today, but it could be added.

My PoC PR is essentially using that information to create a proxy-li

[2019-02-15 18:14] smawson commented on #11700
@howardjohn can you take a look?

[2019-02-15 18:15] #11594 closed

[2019-02-15 18:16] ostromart commented on #9605
afaics it's fixed - if so could you close it @mandarjog ?

[2019-02-15 18:16] howardjohn commented on #11700
Yep, I'll look at it now

[2019-02-15 18:18] rshriram commented on #11786
If you mark the passthrough port's protocol as TLS, it should work as intended.. HTTPS implies you are doing TLS termination of HTTP requests. TLS implies (in istio), you are either terminating TLS connection or forwarding it based on SNI.

[2019-02-15 18:26] rshriram commented on #11555
The DRs for istio-policy and istio-telemetry are not going anywhere.

[2019-02-15 18:39] kyessenov commented on #11736
@rshriram I was hoping we can do that per namespace since O(mixer filter configs) = O(namespaces). Referenced attributes should show if pod ID is necessary to make a policy decision.

[2019-02-15 18:43] mabushey commented on #11763
I found that putting VirtualServices in xxx-stg and similar routes in xxx-prd results in xxx-stg routes that work, but xxx-prd that don't. Putting both prd and stg default works for both. I never specified the namespace for the gateway, so it went in default. With the gateway in default, xxx-stg in xxx-stg namespace works, but not xxx-prd in xxx-prd namespace.

[2019-02-15 18:49] sdake commented on #11555
if the DRs are not present immediately after installation, do bad things happen?

There are two scenarios:

- install: everything gets installed, then the DRs are appied 3-10 seconds later
- upgrade: everything IS installed, an upgrade occurs, then the new DRs get applied 3-10 seconds later

Is this solution viable for the use case?  I am not sure precisely how these DRs are used so asking the exp

[2019-02-15 18:50] yangminzhu commented on #10547
@pitlv2109 is working to make the refresh time configurable.

The model you described is very similar to the [SDS (Secret Discovery Service)](https://preliminary.istio.io/docs/concepts/security/#node-agent-in-kubernetes) we added in 1.1, currently it's only used to fetch the certificate/key for Envoy. Technically It's possible to extend it to also fetch the JWT public key, but it's not a trivial c

[2019-02-15 18:52] sdake commented on #11555
@ayj @douglas-reid any idea on the above approach?

[2019-02-15 18:53] incfly opened #11789 "Cleanup StatsD support in helms"
**Describe the bug**
https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/values.yaml#L198
states that the statsd support is deprecated, however, we still have lots of helms value files, binary flags reference `statsd` if we do a grep in istio/istio

**Expected behavior**

- Remove the helm references
- Deprecate the flag.

[2019-02-15 18:56] douglas-reid commented on #11736
PoC PR for adding metrics to enable metrics-based detection: https://github.com/istio/istio/pull/11790

[2019-02-15 19:02] BarDweller commented on #8444
@rshriram Hi there =)

I'm adding them using the add method, as the example did..
[code]
Then over in my VirtualService I have..
[code]

Shout if you'd like any other info...

[2019-02-15 19:16] dwradcliffe commented on #11555
I attempted to upgrade snapshot.5 to snapshot.6 on a test cluster and came across this as well.

[2019-02-15 19:26] incfly commented on #11526
Thanks for the explanation and deep dive! @ymesika

So if the issue is due to the root cert is not the same, and TLS failed at STRICT mode, then we definitely should fix the test infra setup to make multi cluster use the same root, which is what we recommend to our users.

FYI @utka

Remove this from release-1.1 milestone give the issue is about align test setup with our release.

[2019-02-15 19:43] linsun commented on #11606
@mabushey would it be possible for you to provide some examples?  Virtual Service in 1.0 is global scoped so I would expect only 1 is effective (probably the newer one).

I am having a bit trouble to understand this ```Putting them both in default results in both rules working.```.   Do you mean you have a virtual service for stage host, and the same named VS for prod host where stage and prod are

[2019-02-15 19:55] linsun commented on #11739
@vadimeisenbergibm we are not saying this feature isn't useful, of course, this is one of the most important features of istio.  However, we don't want users to stumble on this during day 1 of using istio.

Per yesterday's discussion in networking WG, people are in favor of making this default for the demo profile.  It seems people are in favor of making this change in the standard profile as well

[2019-02-15 20:03] vadimeisenbergibm commented on #11739
@rshriram wrote here https://groups.google.com/d/msg/istio-users/J_Ad-wTLjmY/QC-6ediuCQAJ

So should we still change the default behavior in the standard profile?

[2019-02-15 20:06] linsun commented on #11739
didn't expect you are still online @vadimeisenbergibm , thanks :)

Yes, I would propose we definitely change for demo profile, and default profile as well since we are making a bunch of changes in 1.0->1.1 and we can add this to the list of items to be documented.

if you agree, could you submit two PRs?  one for demo profile, one for default?

[2019-02-15 20:11] linsun commented on #11606
@mabushey I would like to make sure we have an automated tests for your scenario to demonstrate the expected behavior for this in 1.1 or 1.1.x.

In 1.1, I'm expecting you to use the new export_To support to mark if you want a given VS to be exported.  Further, you can also use the sidecar API to indicate the ingress and egress scope of the sidecar for your service.

[2019-02-15 20:11] adenis-sv commented on #11786
Tried these changes, still same error
[code]
and just in case tried with 'tls-" port name as well
[code]

[2019-02-15 21:08] nitishm commented on #11571
@ostromart
I just realized while doing an upgrade to istio-1.0.3 that I had a hack in place to use `privileged` from values.yaml. Istio-1.0.3 had `proxy.privileged` declared but not used in the sidecar-injector-configmap.yaml template.

I added
[code]
in the security context for injected images.

The helm chart was deployed using `--set proxy.privileged=false`.

This might differ from the manually

[2019-02-15 21:36] mabushey commented on #11606
@linsun

Gateway:
[code]

Prd:
[code]
Stg:
[code]

When they are both in the default namespace they work. When stg is in xxx-stg and prd is in www-prd, Only stg works, which I assume is because it was applied first.

[2019-02-15 22:09] GregHanson commented on #10904
I have found that in at least the case for LDS, gateways on startup don’t receive the correct config from Gateway rules because the pods do not have the correct labels.  Turns out, when pilot gets to the gateway logic, for comparing labels of the pod with gateway selector, the instance occasionally won’t have any labels: https://github.com/istio/istio/blob/release-1.1/pilot/pkg/model/config.go#L69

[2019-02-15 22:25] bdecoste opened #11796 "Preliminary 1.1 Security documentation for verifying no destination rules is incorrect"
**Describe the bug**
{{
https://preliminary.istio.io/docs/tasks/security/mtls-migration/

Expected behavior per the doc:
$ kubectl get destinationrule --all-namespaces
No resources found.

Actual behavior:
$ kubectl get destinationrule --all-namespaces
NAMESPACE      NAME              AGE
istio-system   istio-policy      25m
istio-system   istio-telemetry   25m
}}

**Expected behavior**
{{
See des

[2019-02-15 22:27] bdecoste opened #11797 "Preliminary 1.1 Security doc references missing file"
**Describe the bug**
{{
The doc here: https://preliminary.istio.io/docs/tasks/security/authn-policy/
references install/kubernetes/istio.yaml which does not exist
}}

**Expected behavior**
{{
Doc should reference install/kubernetes/istio-demo.yaml or install/kubernetes/istio.yaml should be added to release
}}

**Steps to reproduce the bug**
{{
Follow "Before you begin" steps at https://preliminary

[2019-02-15 22:36] sdake commented on #11555
@dwradcliffe ya we will solve this problem - upgrade breakers are no good.

[2019-02-15 22:39] sdake commented on #11555
@duderino I moved this to new issues as I believe this should be a blocker (P0) for the release.  Depending on the speed of people's gear and timing factors, upgrades will sometimes fail.

[2019-02-15 23:41] douglas-reid opened #11799 "Adjust rate intervals on dashboard queries to support large scale clusters (and traffic)"
**Describe the feature request**
At scale, we have observed issues (grafana fails to render data) with queries that rely on `irate` calculations using `30s` intervals. Experimentally, changing these intervals to `5m` allows the queries to return in grafana and render data.

**Describe alternatives you've considered**
Provide recording rules in prometheus config that will precompute the data to eas

[2019-02-16 00:58] rshriram commented on #8444
the filter is applied in the inbound path on a sidecar .. Virtual Services are applied on the outbound path from the clients. So the lua filter you have here wont have any impact

[2019-02-16 01:36] #11609 closed

[2019-02-16 01:48] zhu0516123 commented on #10393
@douglas-reid @mandarjog
Thank you. The mixer memory is not leaked in release-1.0.6.

[2019-02-16 01:58] hzxuzhonghu commented on #11762
I think we do not allow empty Hosts
[code]

[2019-02-16 01:59] hzxuzhonghu commented on #11762
I donot know why 4 influence the rxternal traffic.

[2019-02-16 04:10] murarisumit commented on #6892
thanks @rshriram  for response.  I think it should part of istioctl  like `--validate` flag similar to `--configtest` in nginx.

Should I work on to add it in istio or leave it for `istio-vet` tool ?

cc @nrjpoddar

[2019-02-16 06:33] loewenstein commented on #10040
This is still a problem.

[2019-02-16 06:45] loewenstein commented on #11739
@linsun is the proposed default really allowing all egress traffic or is it the "allow all - unless there happens to be configuration for the port you are trying to connect to" thing?
While I am in favor of allowing egress by default, the latter version of it is probably worse than blocking all egress because it is going to be more confusing.

[2019-02-16 06:53] #5095 closed

[2019-02-16 06:54] vadimeisenbergibm commented on #11739
@linsun @loewenstein The PR that describes allowing all egress traffic by default was merged yesterday. Please take a look https://preliminary.istio.io/docs/tasks/traffic-management/egress/#install-istio-with-access-to-all-external-services-by-default.

[2019-02-16 10:36] kevinsimper commented on #10040
You can retrigger builds with a command like this:
[code]

[2019-02-16 10:46] loewenstein commented on #10040
Well, this would remove any kind of approval, lgtm and the like.

[2019-02-16 10:52] loewenstein commented on #11739
@vadimeisenbergibm @linsun I still think this mode is going to be even more confusing than blocking all egress.
E.g. calling any external http service on 80 and/or 443 is likely to be blocked right.

[2019-02-16 11:12] Bessonov commented on #11675
Dup of https://github.com/istio/istio/issues/8443

Should be fixed by https://github.com/istio/istio/pull/10507

[2019-02-16 11:22] vadimeisenbergibm commented on #11739
@loewenstein Calling any external service on port 80 will be blocked. (we can hope that external services will be called over TLS only, so this will not be a limitation).
Calling external services on port 443 will be allowed.

The problem is only with existing HTTP services or with any Service Entry that the user defines. So once the user installs Istio and starts testing it, without defining any

[2019-02-16 12:21] BarDweller commented on #8444
Can I move where the filter is applied?

This VirtualService is definitely affecting inbound traffic because it does correctly select the alternate service if I manually add the header being matched.

If not, then I guess a filter wont help, and I should look at a Mixer adapter

@kyessenov are there any example of adapters that change headers I can look at?

[2019-02-16 12:26] #7288 closed

[2019-02-16 13:25] #9275 closed

[2019-02-16 15:09] Stono commented on #11696
@douglas-reid I've upgraded to 1.0.6 but still get exactly the same result, traces only go two applications deep when i'm using istio instantiated tracing, i see the full trace when i use a client library to start the trace at the edge.

Even the simplest of traces though, Service A -> Service B, dumping the request headers in Service B shows what i believe to be invalid headers being generated by

[2019-02-16 19:25] #9414 closed

[2019-02-17 02:25] #9426 closed

[2019-02-17 05:25] #9440 closed

[2019-02-17 06:26] #5903 closed

[2019-02-17 09:36] ymesika commented on #11781
The need to call `helm dep update` has been removed very recently so in the next daily build or RC there won't be a need for it.

[2019-02-17 09:36] #11781 closed

[2019-02-17 09:40] #11770 closed

[2019-02-17 11:45] supereagle commented on #10040
Want to re-run CircleCI test cases just like re-running prow test cases though commands.

[2019-02-17 13:03] #9074 closed

[2019-02-17 14:03] #9340 closed

[2019-02-17 14:12] #11755 closed

[2019-02-17 14:14] #8545 closed

[2019-02-17 15:00] #11553 closed

[2019-02-17 15:02] ymesika commented on #11527
/assign @ibm-jason

[2019-02-17 15:02] istio-testing commented on #11527
@ymesika: GitHub didn't allow me to assign the following users: ibm-jason.

Note that only [istio members](https://github.com/orgs/istio/people) and repo collaborators can be assigned.
For more information please see [the contributor guide](https://git.k8s.io/community/contributors/guide/#issue-assignment-in-github)

<details>

In response to [this](https://github.com/istio/istio/issues/11527#issu

[2019-02-17 15:03] ymesika commented on #11527
@ibm-jason ^^^

It's time to become an Istio member..

[2019-02-17 15:03] #9076 closed

[2019-02-17 15:11] ymesika commented on #11454
Each Istio component can have it's own requested resources in its values file or, if not specified, we take the default which is just 10m CPU.

I think that based on your experience we should specify a higher requested resources for prometheus.
Do you think this will be sufficient:

[code]

[2019-02-17 15:17] opotmans opened #11808 "OKD 3.11: Automatic sidecard injection doesn't work"
**Describe the bug**
The automatic sidecar injection doesn't work for a specific namespace where the label istio-injection corresponding to the configmap
oc get mutatingwebhookconfiguration istio-sidecar-injector -o yaml | grep "namespaceSelector:" -A5
  namespaceSelector:
    matchLabels:
      **istio-injection: enabled**
  rules:
  - apiGroups:
    - ""
**Expected behavior**
Automatic sidecar i

[2019-02-17 17:03] #9058 closed

[2019-02-17 18:24] jmazzitelli commented on #11808
FYI: That URL only works for OpenShift. If deploying in a non-OpenShift Kubernetes environment, the URL is http://git.io/getLatestKialiKubernetes

[2019-02-17 22:54] ibm-jason commented on #11527
@ymesika Perhaps you are right! :-)

[2019-02-18 01:27] hzxuzhonghu commented on #8061
/remove stale

[2019-02-18 01:33] sl1pm4t commented on #11078
I'm also getting this issue.
I did not get this error the first time I ran `node_agent` (on a fresh VM), but I do on subsequent runs.

Also, despite `node_agent` reporting success on it's first run:
[code]

The istio-citadel logs showed:

[code]

[2019-02-18 02:54] linsun commented on #10904
@ymesika could you look at this issue and see if you have any ideas?  Greg also tried to run the tests with useMCP=false and same result.

[2019-02-18 06:03] #4276 closed

[2019-02-18 06:06] nicktrav commented on #10915
I think I might be running into something similar to this, in a similar single control plane multi-cluster configuraiton, though the issue manifests for me as missing metrics from the pods in the remote clusters. What's interesting is that remote pods are sending telemetry data to mixer, though that doesn't seem to be picked up by Promethus.

Here's what I see in the mixer logs for workloads from

[2019-02-18 06:30] ymesika commented on #10876
I believe this is exactly the scenario of the [Split Horizon EDS introduced in v1.1](https://preliminary.istio.io/docs/examples/multicluster/split-horizon-eds/).
It allows clusters on different networks to route traffic through the ingress gateway.

[2019-02-18 06:30] #10876 closed

[2019-02-18 08:03] #4573 closed

[2019-02-18 08:40] edude03 commented on #7852
I'm still seeing this on 1.0.5, should I open a new ticket?

[2019-02-18 08:47] Stono commented on #7852
Try 1.0.6? but yeah fi youre still seeing it i would suggest a new ticket

[2019-02-18 09:08] ankoh opened #11813 "Advanced load balancing"
We are currently investigating, how we can integrate replicated database servers in an Istio service mesh.
I'm convinced that envoy itself is a perfect fit for us but the interplay with Istio is holding us back a bit.
We would use envoy primarily as L4 load balancer with a custom network filter to inspect the database protocol.
From skimming the docs, I got the strong impression that Istio is prim

[2019-02-18 09:22] kbhattac opened #11815 "Fault injection support for HTTP2/gRPC"
[Fault injection](https://istio.io/docs/reference/config/istio.networking.v1alpha3/#HTTPFaultInjection) is right now only supported for HTTP/1.1
A lot of microservices use gRPC/HTTP2 for intercommunication and Envoy can't be consistently configured in the same way to simulate faults in such use cases.

[2019-02-18 10:03] #4572 closed

[2019-02-18 10:12] bangau1 commented on #11782
Hi @douglas-reid ,

Thanks. I've verified based on your  suggested link https://istio.io/help/ops/telemetry/missing-metrics/#verify-mixer-metric-instances-configuration-exists. I even attempted to:
- install back the istio-1.0.0 version --> error is disappeared
- reinstall the istio-1.0.5 version --> error occurring again.

With istio-1.0.5 version, based on this section https://istio.io/help/ops/

[2019-02-18 10:52] volatilemolotov commented on #7330
Can this issue be expanded for other plane components eg. pilot (all of them would be nice with defaults in helm)

[2019-02-18 11:08] vijaykumark commented on #11696
I have seen the same issue after forwarding tracing headers in my microservices.
x-b3-traceid and x-b3-spanid have the same value and I dont see those traces in the Jaeger.

` info: [dcd546a1-5d8b-4927-a84f-f1f1bce0b4d3] ForwardTraceHeaders: {"_internal_repr":{"x-request-id":["52ad7e03-f69a-980d-ac46-f3f8604264fe"],"x-b3-traceid":["1a5bceb247e625c9"],"x-b3-spanid":["1a5bceb247e625c9"],"x-b3-sample

[2019-02-18 13:21] atrifan opened #11819 "Mixer adapter scaling issue"
Hello,

I am unable to scale the mixer / my out of process adapter. I can set a bigger replicas number for both (mixer from the istio configuration yaml and my adapter directly from the yaml) the issue is that I don't receive any traffic on 3 out of 4 adapters.

My adapter is out of process, type authorization.

Istio version used: 1.0.5

Are there any additional things I need to enable? Can you h

[2019-02-18 13:36] rvansa commented on #11779
It seems I can fix this by calling `pc.c.XDSUpdater.ConfigUpdate(true)` instead of `pc.c.XDSUpdater.WorkloadUpdate(...)` in `pod.go:event(...)`; I doubt this is a correct fix as it could result in excessive pushes, though. I could limit it the full push to cases when the IP is set in PodCache for the first time; would that be acceptable?

[2019-02-18 13:44] jmazzitelli commented on #9392
FWIW: a recent change went into the helm charts - a kiali secret will be automatically created for you IF you deploy the demo profile (demo.yaml or demo-auth.yaml).

Other production installations (non-demo) still require the secret to be created. If this happens, kiali will still deploy and run, but the login screen will tell you about the problem.

See: https://issues.jboss.org/browse/KIALI-2303

[2019-02-18 13:53] li1191863273 commented on #9392
yes， This issue can be closes

[2019-02-18 13:53] #9392 closed

[2019-02-18 14:23] 4c74356b41 commented on #11785
any ideas, folks?

[2019-02-18 14:34] robertpanzer opened #11818 "Sidecar resource with workloadSelector only match Services"
**Describe the bug**
When registering a Sidecar resource to restrict what a certain Pod can see, the restrictions are not applied if the spec contains a `workloadSelector`.

**Expected behavior**
When a Sidecar resource has a `workloadSelector`, it should be used to select pods for which the restrictions should be applied.

**Steps to reproduce the bug**
Take an empty Kubernetes cluster with Istio

[2019-02-18 14:48] #4538 closed

[2019-02-18 14:49] linsun commented on #11742
@douglas-reid yes, the note is here - https://istio.io/about/notes/1.0.6/, can you submit a PR to note this breakage?

[2019-02-18 15:26] blkwtch commented on #10402
this one https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/master-latest-daily/charts/ doesn't work either !

[2019-02-18 15:32] jmazzitelli commented on #10402
Do we even need this anymore? I thought changes were made where the latest Istio builds have all the charts it needs in the distro itself.

See https://github.com/istio/istio/pull/11769 and https://github.com/istio/istio/pull/11767

[2019-02-18 15:50] rshriram commented on #11818
could you delete the sidecar resource completely and retry with the new one (that has label selectors)? There was an issue earlier that the config updates to sidecar resources were not respected

[2019-02-18 16:03] rshriram commented on #11813
if you represent the database as a service entry with endpoints for each peer in the pool, you can add weight for each endpoint in the service entry's endpoint. You can dynamically adjust these weights based on your telemetry info and update the service entry spec. A standard weighted round robin https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/load_balancing/load_balancers should s

[2019-02-18 16:08] rshriram commented on #11762
./* is valid @hzxuzhonghu ..

[2019-02-18 16:14] bradenwright commented on #11741
Anyone have ideas?  This feels like its a pretty legit issue and I am currently blocked.  I've had to disable the istio sidecar for the time being.

[2019-02-18 16:15] rshriram commented on #11741
if there is no vip for a tcp service, we listen on 0.0.0.0:3306 .. so if you have two service entries with tcp 3306, no vips, only one of them will win unfortunately.

If you could make your app send traffic to some dummy VIP (eg 1.1.1.1), and you update the service entry to use that VIP in the `address` field, then things should work.

[2019-02-18 16:19] ymesika commented on #10904
See https://github.com/istio/istio/pull/11816#discussion_r257745665 for suggested directions to fix this.

[2019-02-18 16:23] rshriram commented on #8444
set listener type to GATEWAY if this is applied at gateway

[2019-02-18 16:28] rockholla commented on #10402
@jmazzitelli with charts only published in a distro or available via a clone of this repo, I don't see a way of using standard helm requirements/dependencies for pulling from a chart repo/museum, e.g:

[code]

This seems like it could be a common need for others wanting to extend your official chart. Currently I'm using an alternative script in our pipeline to basically recreate what helm does int

[2019-02-18 16:33] #11797 closed

[2019-02-18 16:33] #11796 closed

[2019-02-18 16:49] ankoh commented on #11813
Interesting, thanks.
But that would force me to do the endpoint discovery on my own right?
This is quite undesirable especially as this cuts even more from Istio's feature set.

[2019-02-18 17:18] sdake commented on #10358
@MBauer83 probably bestto open a new issue as this one is closed and won't be examined.

[2019-02-18 17:22] nicktrav commented on #10915
Tested the above with `1.1.0-snapshot.6`, and metrics seem to be coming through 👍

[2019-02-18 17:23] bdecoste opened #11821 "https://github.com/istiPreliminary 1.1 Security documentation for verifying no mesh policy is incorrect"
**Describe the bug:**
{{
https://preliminary.istio.io/docs/tasks/security/authn-policy/

$ kubectl get policies.authentication.istio.io --all-namespaces
No resources found.

$ kubectl get meshpolicies.authentication.istio.io
No resources found.

**Actual behavior:**
$ kubectl get meshpolicies.authentication.istio.io
NAME      AGE
default   1m
$ kubectl get policies.authentication.istio.io --all-na

[2019-02-18 17:39] feitnomore commented on #10915
I've tested with: https://storage.googleapis.com/istio-prerelease/daily-build/release-1.1-20190212-09-16/istio-release-1.1-20190212-09-16-linux.tar.gz

I'm still seend everything twice.

Thanks,
Marcelo

[2019-02-18 17:48] #4574 closed

[2019-02-18 18:05] jmazzitelli commented on #11151
Looks good running on Istio 1.1 Snapshot 6

![image](https://user-images.githubusercontent.com/2029470/52969318-e6f11a80-337d-11e9-8198-fa97a9bfe873.png)

[2019-02-18 18:41] robertpanzer commented on #11818
I tried directly creating the sidecar resource with the workload selector and it showed the same behavior, i.e. it allowed the call to `testserver.provider` even though.

Looking at the sources now it seems like this functionality is implemented in pilot/pkg/model/push_context.go:
https://github.com/istio/istio/blob/f62b4fa7d7ade9ab1c4a7d0307e649cc86d1434f/pilot/pkg/model/push_context.go#L455-L463

[2019-02-18 19:03] edalford11 commented on #6071
Same problem here on 1.0.5. I've tried many different configurations and the only one that works is when both http and https are enabled on the gateway but I don't want anything to be accessible on http. `httpRedirect` won't suffice as that then causes a "too many redirects" issue when enabling the cloudflare proxy and we absolutely need cloudflare.

[2019-02-18 19:31] iftachsc commented on #8220
Hi,
This seems related to my goals which I’m not able to get. I have 3 external tco endpoints(eg redis cluster) I am trying to create a combo ration of a Kubernetes service(without selector) maybe with manually created endpoints  and a service entry so pods inside the mesh can address the host (service name and host in serviceentry) and to be able to be loadbalancer on these 3 endpoints. I expecte

[2019-02-18 19:34] iftachsc opened #11824 "ServiceEntry - create an external service and load balance on endpoints"
Hello,

I have 3 external vms
Running redis as part of a cluster. There is no loadbalancer or a vip. I want to somehow register inside the mesh a service with fictional hostname that will translate to loadbalancing on these 3 redis vms. These vms has resolvable hostnames.I tried to create a combination of a Kubernetes service(without selector) with manually created endpoints  and a service entry s

[2019-02-18 19:36] adrienjt commented on #11731
@rshriram, I'm trying to make that work. Should I declare a [MeshNetworks](https://preliminary.istio.io/docs/reference/config/istio.mesh.v1alpha1/#MeshNetworks)? What would it look like in the [Gateway-Connected Clusters example](https://preliminary.istio.io/docs/examples/multicluster/gateways/) if httpbin were to be deployed in both clusters?

Also, are there docs / examples / blog posts that I'v

[2019-02-18 19:48] #4537 closed

[2019-02-18 19:52] ymesika commented on #11731
@adrienjt The `MeshNetworks` is used for a different purpose and you don't need it for the Gateway connected.
If you followed the example you've noticed that you added a `ServiceEntry` for the service on the other cluster (global). What @rshriram meant is that you can specify in this ServiceEntry also the [locality](https://preliminary.istio.io/docs/reference/config/istio.networking.v1alpha3/#Serv

[2019-02-18 20:18] bdecoste opened #11825 "Update 1.1 preliminary doc for multiple default-token secrets"
**Describe the bug**
{{
https://preliminary.istio.io/docs/tasks/security/authn-policy/

Doc has:
TOKEN=$(kubectl describe secret $(kubectl get secrets | grep default | cut -f1 -d ' ') | grep -E '^token' | cut -f2 -d':' | tr -d '\t')

To support multiple default-token secrets:
TOKEN=$(kubectl describe secret $(kubectl get secrets | grep default-token | cut -f1 -d ' ' | head -1) | grep -E '^token' |

[2019-02-18 20:20] adrienjt commented on #11731
From https://preliminary.istio.io/docs/reference/config/istio.networking.v1alpha3/#ServiceEntry-Endpoint:

@ymesika I did read the ServiceEntry.Endpoint reference, esp. the locality field. So my actual question is: how does the sidecar know its own locality? Is it determined from node labels?

I'll for sure let you know when I make it work. Part of what I'm doing also solves the automatic creation

[2019-02-18 20:32] linsun commented on #11606
thank you  @mabushey, i am able to recreate this with the simple httpbin example and 2 VSs in 1 namespace or in 2 namespaces.  The behavior is different as you described.  investigating

[2019-02-18 20:50] ankoh commented on #11813
I just learned that Envoy supports HTTP/2 CONNECT.
https://github.com/envoyproxy/envoy/issues/1630

With that, this feature request boils down to something like **intra cluster load balancing with mixer telemetry**.
If you think this is feasible without too much architectural rework and want to give me some first hints, I'd be happy to contribute some code.

[2019-02-18 20:51] ymesika commented on #11731
@adrienjt the locality is constructed from the `region/zone` labels of the Pod (https://kubernetes.io/docs/reference/kubernetes-api/labels-annotations-taints/#failure-domain-beta-kubernetes-io-region).

[2019-02-18 21:01] bdecoste opened #11826 "gen-jwt.py referenced in preliminary 1.1 doc is missing"
**Describe the bug**
{{
https://preliminary.istio.io/docs/tasks/security/authn-policy/

security/tools/jwt/samples/gen-jwt.py is missing from release distro but available and working properly in Istio source. Referenced in "End user authentication" section of doc.
}}

**Expected behavior**
{{
See description
}}

**Steps to reproduce the bug**
{{
Follow  "End user authentication" steps
}}

**Versio

[2019-02-18 21:16] ankoh commented on #11813
On the other hand, deriving endpoint weights should probably not be generalized as there are too many moving parts involved.
I'll probably just do the endpoint discovery and weight adjustment externally for now.

Thanks.

[2019-02-18 21:34] ekarlso opened #11827 "Error with CRD's on 1.1 sn6"
Error installing 1.1 snapshot 6

**Expected behavior**
helm install working fine

**Steps to reproduce the bug**
Install using helm chart for the 1.1 sn6 release from github

**Version**
kube 1.12.x, kubectl 1.12.x

**Installation**
helm chart from the sn6 release tarball

**Environment**
Azure AKS vanilla

Not working.

[2019-02-18 21:38] narun4sk opened #11828 "404 if VirtualService.spec.hosts is set to FQDN"
**Describe the bug**
I tried to see how the basic examples in the official istio [docs](https://istio.io/docs/examples/bookinfo/) work. Everything works as prescribed but only as long as `VirtualService.spec.hosts == "*"`. When I set it to fully qualified domain name (FQDN) envoy is giving me 404.

**Expected behavior**
Get response from the configured service.

**Steps to reproduce the bug**

Set

[2019-02-18 23:22] adrienjt commented on #11731
This may be a documentation gap and/or a feature gap (and/or some misunderstanding on my part):

From the [Gateway-Connected Clusters example](https://preliminary.istio.io/docs/examples/multicluster/gateways/):
[code]

The emphasis is on _any port_. Does that mean any single port specified in the configuration (and at most one, unfortunately), or does it mean all ports, whether they are specified

[2019-02-18 23:26] nrjpoddar commented on #6892
@murarisumit here's [istio-vet](https://github.com/aspenmesh/istio-vet/blob/master/pkg/vetter/serviceportprefix/README.md) vetter for service port prefix. Let me know if this is sufficient and also we accept contributions if you have suggestions to improve it. :)

[2019-02-18 23:58] adityats2020 opened #11830 "[Support] Updating Envoy SHA in 1.0 to patch a bug in Envoy"
I am looking to pull this fix from Envoy into istio-proxy (release 1.0) and had some questions about it: https://github.com/envoyproxy/envoy/commit/d646949e0534557084196dea850c26599e53f1b8

1. Is it sufficient to run Circle CI builds for `istio-proxy`? Or is there any integration test that involves `istio` repo that includes mixer and pilot?
2. `linux_asan` and `linux_tsan` builds are failing with

[2019-02-19 01:37] hzxuzhonghu commented on #11818
@rshriram @robertpanzer I think the root cause it `testCurl` not belong to any service so there is empty serviceInstances when calling
`func (ps *PushContext) getSidecarScope(proxy *Proxy, proxyInstances []*ServiceInstance) *SidecarScope {
`

So that the workloadSelector does not take effect.

[2019-02-19 02:01] hzxuzhonghu commented on #11828
As can be seen from above, the routable domains are "
`domains": [
                    "bookinfo.example.com",
                    "bookinfo.example.com:80"
                ],`

so this is expected, you can access by specify -H"host: bookinfo.example.com"

[2019-02-19 02:02] hzxuzhonghu commented on #11828
By default, the host in header is `bookinfo.example.com:31380`

[2019-02-19 02:13] narun4sk commented on #11828
Have you tested your ideas, or you are just assuming?

[2019-02-19 02:45] jeffcai commented on #9504
I encountered the same issue when running the task: https://preliminary.istio.io/docs/tasks/traffic-management/circuit-breaking/, the fortio-deploy pod not working with sidecar proxy error.

[code]

[2019-02-19 03:37] jmazzitelli opened #11832 "[Kiali][release-1.1] kiali needs to be told about the new istio-pilot port for /version"
**Describe the bug**

It appears the latest Istio snapshot (1.1.0-snapshot.6) has changed the port istio-pilot is listening to for its /version endpoint. This endpoint is used by Kiali to determine what version of Istio it is talking to. The old port is no longer active and thus causing Kiali to fail in places. See: https://issues.jboss.org/projects/KIALI/issues/KIALI-2403 and https://issues.jboss

[2019-02-19 03:41] murarisumit commented on #6892
@nrjpoddar istio-vet is fine tool, does what I need it for.

I was just thinking should this functionality be baked into `istioctl` with `--validate/--configtest` flag  or we use third-party tool for that.

[2019-02-19 04:06] jmazzitelli commented on #11832
What the Kiali About Box should look like (yes the Jaeger and Grafana URLs are bogus - I don't have them installed - I actually configured Kiali with those bogus URLs):

![image](https://user-images.githubusercontent.com/2029470/52989382-1f6e1400-33d1-11e9-91b5-940f378a3f51.png)

What it looks like with this bug:

![image](https://user-images.githubusercontent.com/2029470/52989420-55ab9380-33d1-11

[2019-02-19 04:35] ZackButcher commented on #9043
He means the new [`Sidecar`](https://preliminary.istio.io/docs/reference/config/istio.networking.v1alpha3/#Sidecar) resource, and accompanying [`export_to` fields](https://github.com/istio/api/blob/release-1.1/mesh/v1alpha1/config.proto#L220-L260), which lets you restrict what config gets sent to each set of sidecars (that link is the mesh wide default, similar fields exist on each resource: [Virt

[2019-02-19 05:48] #3745 closed

[2019-02-19 07:25] ymesika commented on #11731
/cc @wattli
For security aspects in general and the Citadel section in particular

[2019-02-19 07:43] robertpanzer commented on #11818
Configuring a Service for my Deployment indeed fixed the problem.

But what is the reason for this? (Not in terms of implementation, but why)
My consumer deployment does not expose any ports. A Service though must have at least one Port, so I have to actually misconfigure it.

Also if this workloadSelector refers to a Service, I think the name 'workloadSelector' is unfortunate.
The policies vocabu

[2019-02-19 08:17] vharitonsky opened #11835 "Invalid service entry hostname causes istio to stop endpoint discovery"
**Describe the bug**
When istio encounters an invalid hostname(consiting of less than 2 words), it will bail on updating the rest of endpoints. The only indication of this is info in logs:

[code]

[code]

Presumably the culprit is here, but it is only a guess.
[code]

**Expected behavior**
Istio skips invalid hostname or crashes with severe error.

**Steps to reproduce the bug**
Create a service

[2019-02-19 08:54] jotak opened #11836 "Enable Kiali runtimes dashboards"
Kiali is now able to display more than Istio metrics, it can show some dashboards using metrics found in Prometheus (either Istio's Prometheus, or a different one that needs to be configured in Kiali).

In order to do so, we defined a new CRD for dashboards. Kiali can also come with a few default dashboards for some popular frameworks (at the moment: node.js, thorntail and vert.x ; springboot soon

[2019-02-19 08:55] jotak commented on #11836
cc @jmazzitelli

[2019-02-19 08:57] jotak commented on #11836
Example of a dashboard:

![vertx metrics](https://i.imgur.com/u1J8pfN.png)

[2019-02-19 09:24] RaduRaducuIlie commented on #6037
Is this available to deply when installing istio:
 *kube-state-metrics
* prometheus-alertmanager.
Or is still in progress?

[2019-02-19 09:43] ymesika opened #11837 "Auto-discovery of a remote Istio ingress gateway"
**Describe the feature request**
When [defining the connected networks in Values.yaml](https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/values.yaml#L367) for the mesh configmap I would like to be able to specify the service name of the ingress gateway instead of a fixed IP address.
Currently it can be specified with a `registryServiceName` but it's not implemented.

**Descr

[2019-02-19 09:53] dmxlsj opened #11838 "Sidecar does not open TCP port and ends up failing the service and liveness probes"
**Describe the bug**
All the auto-injected sidecars across the namespaces suddenly starts failing to open the service TCP ports and this keeps the service from getting traffics and health check, which results all the sidecar enabled services in `CrashLoopBackOff` status.

**Expected behavior**
Sidecar container `istio-proxy` should open up the TCP port for the service so traffic can reach to the s

[2019-02-19 10:32] Stono commented on #11696
Yay someone validating my issue haha, thanks @vijaykumark

Yes that's exactly what i'm doing, using opentracing module in ingress-nginx, when i do that, my traces are spot on.  But i need to enable traces for intra-cluster traffic (stuff that doesn't go via nginx) so need istio to do it; but as you've seen - it doesn't.

[2019-02-19 10:46] caitong93 commented on #8609
By returning nil, we have no change to know what error happened inside.
Please consider return the error so we can react to it.
@hzxuzhonghu

[2019-02-19 11:20] ankoh commented on #11813
I just saw that Envoy is getting support for weighted consistent hashing very soon.
https://github.com/envoyproxy/envoy/pull/5846/files

It would be perfect for us, if there was a way to adjust the endpoint weights of the cluster load assignment in pilot via an API.

[2019-02-19 11:30] dimthe opened #11839 "istio-1.0.6 fails to run pods"
**Describe the bug**
 on a kubernetes 1.12.1 cluster deployed with kubespray and with podsecuritypolicy set to true all istio pods are failing to run with the exception of only one pod .

[code]

**Expected behavior**

all istio pods to run

**Steps to reproduce the bug**

i run istio-demo-auth.yaml from the official istio quick start

**Version**
{{ What version of Istio and Kubernetes are you us

[2019-02-19 11:32] vadimeisenbergibm opened #11840 "Cluster-Aware: Support availability zones and zone-aware routing among the connected clusters"

[2019-02-19 11:39] 4c74356b41 commented on #11783
whats wrong with official docs on this: https://istio.io/docs/setup/kubernetes/quick-start/ ?

[2019-02-19 11:40] vadimeisenbergibm opened #11841 "Single control plane multiclusters - Cluster-aware: Incoming traffic through the Gateway should only be routed to local endpoints and avoid routing it back to the originating cluster or to a 3rd connected cluster"

[2019-02-19 11:50] vadimeisenbergibm opened #11842 "Cluster-aware: Check using the standard port 443 instead of port 15443 to facilitate working with firewalls."

[2019-02-19 12:59] murarisumit opened #11843 "packaging or documentation error for JWT authentication"
**Describe the bug**

Got the error while testing https://preliminary.istio.io/docs/tasks/security/authn-policy/#end-user-authentication section.

For getting jwt token snippet gives:

[code]

but these files `security/tools/jwt/samples/gen-jwt.py`, `security/tools/jwt/samples/key.pem` are not there in https://github.com/istio/istio/releases/download/1.1.0-snapshot.6/istio-1.1.0-snapshot.6-osx.tar

[2019-02-19 13:03] yancl commented on #3398
Yes, we have the same problem when we use prometheus to scrape metrics(business metrics, not service metrics) from pod directly, it just return 404(NOT FOUND) from the pod sidecar since we haven't exposed the metrics port to the service.

Currently the workaround is that we almost expose the metrics port to every service to make it work, it looks not very ideal for this case. So, @rshriram, do you

[2019-02-19 13:12] berstend commented on #11554
@murarisumit thanks for your followup questions.

Unfortunately I'm not too familiar with the envoy proxy internals (yet), to know with certainty wether or not envoy supports url based load balancing currently.

Let me instead lay out my use-case in more detail:
[code]
As a developer using istio I wish to use the URL (or path) as the ring key for load balancing/sticky sessions. Currently that does

[2019-02-19 13:18] berstend commented on #11554
This envoy issue might be related: https://github.com/envoyproxy/envoy/issues/2436

[2019-02-19 13:40] berstend commented on #10402
I had a hard time finding the right combo to get a recent istio working with helm (I didn't see the benefit of checking out the helm chart repo?)

This is what I ended up with, in case anyone else gets as confused as I was 😄:

Makefile / Env:
[code]

Bash:

[code]

Note entirely sure if this is the recommended way to do it, as the docs seem partially outdated on that matter.

[2019-02-19 13:57] esnible commented on #11830
When I build custom sidecar issues for testing I do something like this:

[code]

"HUB" is my Docker account, and TAG is some tag I am using so that I can keep track of which bug I am attempting to fix.  Replace those with your own values.

After I have pushed a personal test build to Docker hub I do `kubectl -n istio-system edit cm istio-sidecar-injector` and replace `gcr.io/istio-release/proxyv2

[2019-02-19 14:01] berstend commented on #7505
In case anyone else is having issues with the istio helm chart repo flow, I've posted a working setup here: https://github.com/istio/istio/issues/10402#issuecomment-465131590

[2019-02-19 14:13] esnible commented on #11828
This may be the same as https://github.com/istio/istio/issues/11008

I set the VirtualService Hosts to bookinfo.example.com like you did and see that Istio will reject requests with :31380 in the Host header.  Like you, my sidecar was configured with  `"domains": [ "bookinfo.example.com", "bookinfo.example.com:80"  ],`.  I would have preferred that it also have `bookinfo.example.com:31380`.

[code

[2019-02-19 14:16] esnible commented on #11827
You didn't report the actual problem but the instructions for installing Istio CRDs with Helm have changed.  See the instructions at

https://preliminary.istio.io/docs/setup/kubernetes/helm-install/

Try the options there, let us know if that solves your problem.

[2019-02-19 14:17] emedina commented on #9113
I keep suffering this issue...

Using Istio 1.0.4 here.

I’m struggling with random 503s that I get in a stupid simple application even when getting the JS to display the page. After setting the proxy logging level to debug, I can spot this:

[code]

In the target application, I don’t see any 503 whatsoever. Everything is always 200:

`“GET /client.min.js?version=1.7.0 HTTP/1.1” 200 8774206`

Anyo

[2019-02-19 14:18] esnible commented on #11843
May we close this as a duplicate of https://github.com/istio/istio/issues/11826 ?

[2019-02-19 14:23] linsun opened #11845 "Identify any work in IKS to leverage the recent zone/locality support"
We need to identify how we can leverage the recent zone support to ensure the zone info from IKS nodes are passed correctly to the envoy sidecars when users use istio within IKS.  Is there anything we need to populate when bootstrap when users run multiZone IKS clusters, similarly like https://github.com/istio/istio/pull/11607/files

cc @ericvn

[2019-02-19 14:30] ymesika commented on #11845
cc @vadimeisenbergibm

[2019-02-19 14:36] esnible commented on #11778
I suspect the problem is the "unreachable backend", not the unexpected suffix.

I had problems with crashed kube-dns and crashed core-dns pods but.  Make sure both are running and able to communicate.

The ".local" suffix comes from the /etc/resolv.conf that Kubernetes injects into your pods.

For example when I run `kubectl exec productpage-v1-744b9bdd78-tl5tz -- cat /etc/resolv.conf` I see `sear

[2019-02-19 15:10] bdecoste opened #11846 "preliminary 1.1 doc "Authorization for TCP Services" should include command for manual sidecar injection"
{{
https://preliminary.istio.io/docs/tasks/security/authz-tcp/

In step 2 of "Enforcing Service-level access control" there should be commands for both automatic and manual sidecar injection. Currently there is only the former:

kubectl apply -f samples/bookinfo/platform/kube/bookinfo-ratings-v2.yaml

}}

Expected behavior
{{
See description
}}

Steps to reproduce the bug
{{
Follow doc steps
}}

V

[2019-02-19 15:21] esnible commented on #11700
These "try again" failures are quite irritating.  Just got them for https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/11734/istio_auth_sds_e2e/1933 as well.  Any interest in a better error description?

[2019-02-19 15:22] GregHanson opened #11847 "Log levels for Istio are not easily configurable and missing documentation"
**Describe the bug**
Istio control plane and sidecars have options for configuring log verbosity level but are not exposed as something configurable via helm.  Also control plane log level requires `scope:level` and some references in the charts still refer to just a `level` format.

Gateways include incorrect `--log_output_level info` example in helm charts:
https://github.com/istio/istio/blob/re

[2019-02-19 15:23] esnible commented on #11526
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/11734/istio_auth_sds_e2e/1933

15 failed / 286 succeeded in 20m46s.  Failures are pilot TestGrpc, pilot TestHttp, and pilot TestRouteMirroring.

[2019-02-19 15:26] bdecoste opened #11848 "preliminary 1.1 rbac-groups doc has inconsistent namespace"
**Describe the bug**
{{
https://preliminary.istio.io/docs/tasks/security/rbac-groups/

Step 1 identifies the namespace as "rbac-listclaim-test-ns" but the command uses "rbac-groups-test-ns"
}}

**Expected behavior**
{{
Consistent namespace
}}

**Steps to reproduce the bug**
{{
Follow "Before you begin" steps
}}

**Version**
{{
istio-1.1.0-snapshot.6
}}

**Installation**
{{
From "Before you begin"

[2019-02-19 16:17] bradenwright commented on #11741
So I was able to get both working with the virtual ip, like follows:

[code]
[code]

This definitely lets me move forward, but I'd like to keep the ticket open.  Reason being it really makes it a pain to automate.  I'll explain, right now we create sql dbs, and other external resources via automation.  We install more the helm chart we've built for the 2 services more than once in every cluster.

[2019-02-19 16:21] rshriram commented on #11813
You dont have to do endpoint discovery if you use stateful sets. All members of a stateful set get a stable DNS name (peer-1.mystatefulset.ns1.svc.cluster.local). So your service entry could be like this:

[code]

[2019-02-19 16:27] rshriram commented on #6892
you could import istio-vet and  use it in istioctl.. soemthing like istioctl --vet blah.. That would be great..

[2019-02-19 16:31] rshriram commented on #11818
that comment simply implies that if you have two or more sidecars with same workload Selectors or two or more sidecars with no workload selectors, there is no "merging" logic in place. You can definitely have multiple sidecars in a namespace as long as they all have different workload selectors.

[2019-02-19 16:34] robertpanzer commented on #11818
Yes, I figured that by now. I misread the comment.
I also tested that I can have two consumers in the same namespace with different egress clusters.

I still don't understand though why it is required to have a Service.
Not every consumer is a provider at the same time.

[2019-02-19 16:39] rshriram commented on #11741
Do you need the service entry to use DNS?
If you set the resolution to NONE, then envoy will forward the traffic to the IP that the application requested.. In that case you could literally have just one service entry like this:

[code]

Note that in the case above, any traffic for port 3306 will be forwarded to the intended destination. If you know that all your applications are using TLS to talk

[2019-02-19 16:47] rshriram commented on #11818
That is a valid point. I believe we had this restriction right from the start of the project. Though it has been removed recently, parts of the Pilot code (like the sidecar selection) still rely on this GetProxyServiceInstances() call. And as the name implies, it returns a non-empty array if and only if the proxy has ServiceInstances associated with it [i.e. pod is part of a service]. If it is not

[2019-02-19 16:55] PandaXass opened #11851 "Missing double quotes for annotation values in Istio helm chart gateways template service.yaml file"
**Describe the bug**
The `serviceAnnotations` is not interpolated correctly in `service.yaml` file under gateways templates.

**Expected behavior**
The annotation values shall be double quoted.

**Steps to reproduce the bug**
Create a helm values yaml file with following configurations:
[code]
And then run `helm template install/kubernetes/helm/istio --name istio --namespace istio-system > $HOME/i

[2019-02-19 17:01] krancour commented on #7505
It's a little disheartening that 7 months later this is unresolved. The UX for initial install should be a an important concern for any project and as long as Istio's install story starts with "go download something," it's really not optimal.

Can someone please make a decision about _where_ charts will be published? Maybe even go ahead and provision a chart repository? Once those minor hurdles ar

[2019-02-19 17:27] duderino commented on #11843
closing as duplicate of https://github.com/istio/istio/issues/11826

[2019-02-19 17:27] #11843 closed

[2019-02-19 17:40] edalford11 commented on #7603
I've tried every permutation I can think of between service entries and virtual services. I can't for the life of me figure out how to get my app to curl an external third party api. It always results in
`error:1400410B:SSL routines:CONNECT_CR_SRVR_HELLO:wrong version number`

[2019-02-19 17:55] toantc commented on #7603
Thanks. It's working for me with the `resolution: NONE`. Amazing that `resolution: DNS` is still working with for the 1st ServiceEntry.

[2019-02-19 18:10] dmxlsj commented on #11838
Forgot to attach `istio-proxy` logs. (details can be different from the example above)
[code]
And the log gets stuck here without getting any `add/update cluster outbound` activities.

[2019-02-19 18:18] howardjohn opened #11853 "CircleCI integration tests broken - master-latest-daily charts not found"
CircleCI integration tests are failing with error:

[code]

Example: https://circleci.com/gh/istio/istio/330161?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-02-19 18:48] narun4sk commented on #11828
It's a very basic use case, so I'm assuming there must be a workaround. Can I somehow configure istio to accept traffic on the NodePort?

[2019-02-19 18:55] linsun commented on #11606
it looks like dynamic route config isn't pushed to the ingress gateway when the VS is applied to the 2nd namespace.

[2019-02-19 18:57] louiscryan commented on #11736
As mentioned in the TOC meeting it sounds like we are already giving users a significant upgrade burden though all the changes to values.yaml that have been made for other reasons (thanks @costinm
 for taking us through that). These changes already require the user to walk through documentation to understand how the options have changed and to make decisions on how to translate their config from t