[2019-04-22 22:18] ostromart commented on #13476
That assumes that the operator will be able to correctly transition between every possible configuration, which is the long term goal but it will take a while to get there.
From a pragmatic standpoint we probably need more constraint here for the time being. The environment can be specified through operator, but initially O(10) rather than O(100) test environments would be a realistic target (excl

[2019-04-22 22:20] kyessenov commented on #13476
My 2c: go test is too simplistic for the kind of batching and parallelization that we need. I think it makes sense to group tests by environment to avoid unnecessary transitions between system values. It also makes sense to parallelize tests across environments if there are multiple available.

[2019-04-22 22:33] ozevren commented on #13408
Sounds great.

When can we expect a fix? ;)

[2019-04-22 22:35] howardjohn opened #13530 "Test framework Echo component https/grpc broken"
`instance.go:121: failed calling a->'https://b:34431/': rpc error: code = Unknown desc = Get https://127.0.0.1:34805: http: server gave HTTP response to HTTPS client`

Anytime a call over https is made

I am looking into it @nmittler, but if you have any pointers that would be useful

[2019-04-22 22:37] howardjohn commented on #13530
GRPC also fails
[code]

[2019-04-22 22:37] kyessenov commented on #13408
I need a permission to work on this. Put it into Code Mauve :)

[2019-04-22 22:48] cleverguy25 commented on #9504
I am still seeing this issue with 1.1.3, even if I set the annotation readiness.status.sidecar.istio.io/applicationPorts to the right set of ports. I see this as a command line to the istio-proxy container:

`--applicationPorts 8250,19000,8260,80,9700,7483,27142,18000,18003`

Still seeing this in logs:
envoy missing listener for inbound application port: 8250
envoy missing listener for inbound app

[2019-04-22 22:48] ozevren commented on #12752
@andraxylia @rshriram please redirect as appropriate.

[2019-04-22 22:52] ozevren commented on #12967
I believe this was fixed some time ago. The postsubmit board seems to show all green now:
https://testgrid.k8s.io/istio-postsubmits#unit-tests&include-filter-by-regex=WithFullSync

[2019-04-22 22:52] #12967 closed

[2019-04-22 22:53] ozevren commented on #12944
This should be fixed now:
https://testgrid.k8s.io/istio-postsubmits#unit-tests&include-filter-by-regex=TestProcessor_Publishing

[2019-04-22 22:54] #12944 closed

[2019-04-22 22:54] howardjohn commented on #13530
GRPC issue is with the framework, https seems to be with echo client/server itself:

[code]

[2019-04-22 22:54] ozevren commented on #12935
This should be fixed now:
https://testgrid.k8s.io/istio-postsubmits#unit-tests&include-filter-by-regex=EventAccumulation

[2019-04-22 22:54] #12935 closed

[2019-04-22 22:59] chilu49 commented on #13471
Good to hear that its working for you.
For me its not working though.
I tried in a different way, by install istio 1.0.6 first which got installed successfully and
then tried upgrading  to istio 1.1.3 but got below error.

[root@linuxhost1 istio-1.1.3]# (Kubernetes-prod) helm upgrade istio /root/istio-setup/istio-1.1.3/install/kubernetes/helm/istio --values /root/istio-setup/istio-1.1.3/install/ku

[2019-04-22 23:34] viharikrishna opened #13533 "Grafana UI do not load any data"
I've the Prometheus UI loading data and also data source with in Grafana working. But for some reason Grafana UI doesn't load any data.
Any suggestions on where to look for?

[2019-04-22 23:37] cleverguy25 opened #13534 "Support override configuration of Envoy access logging at namespace/deployment/pod level."
**Describe the feature request**
Can we leverage annotations to configure Envoy access logging not at the central config map level, but at the namespace, deployment, or pod level?  That way we can turn it on to troubleshoot specific scenarios not at the entire cluster level.  The same really goes for Mixer telemetry and a host of other logging/tracing/telemetry.

**Describe alternatives you've con

[2019-04-22 23:41] gargnupur commented on #13283
@mwei2016: Did overriding using IP list work for you?

[2019-04-23 00:14] douglas-reid commented on #13524
It looks like this was introduced in https://github.com/istio/istio/pull/6341.

@diemtvu and @rshriram what is the best way forward to fix this issue?  the namespace config for "default" is to use mTLS for all hosts, yet (in this case), Mixer is not configured for mTLS (control plane auth is disabled).

[2019-04-23 00:42] howardjohn commented on #13517
What version of the official image are you using? 1.1.3?

[2019-04-23 01:17] mandarjog commented on #13517
You need to create a release build ‘-c release’ to produce optimized code.
Otherwise a debug image is produced.

[2019-04-23 01:17] #13517 closed

[2019-04-23 01:32] morvencao commented on #13508
/cc @linsun

[2019-04-23 02:17] Bulls1986 commented on #13503
Hello,Thank for your help.There are all demo's' configuration.

    apiVersion: networking.istio.io/v1alpha3
    kind: Gateway
    metadata:
      name: demo-gateway
    spec:
      selector:
    istio: ingressgateway
      servers:
      - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
    - "demo.istio.test"
    - "demo-backend.istio.test"
    ---
    apiVersion: apps/v1

[2019-04-23 02:38] #3361 closed

[2019-04-23 02:43] tiswanso commented on #12906
The pod annotation `traffic.sidecar.istio.io/includeOutboundIPRanges` is the parameter to pass to the istio-cni for this (also for the init-container).

For your work-around to get the same behavior as defaulting to the istio/istio helm setting, the sidecar-injector-configmap could be modified to set that pod annotation.

[2019-04-23 03:21] #13412 closed

[2019-04-23 03:27] vadimeisenbergibm commented on #13490
@kyessenov Thanks, these errors disappeared in 1.1.3. Closing the issue.

[2019-04-23 03:27] #13490 closed

[2019-04-23 03:34] jmzwcn opened #13541 "How to config yaml when a http-proxy visit a grpc service in another pod."
A api-gateway expose 8080, it will proxy a grpc service with 50051.
I hit '{"error":"stream terminated by RST_STREAM with error code: PROTOCOL_ERROR","code":500}' problem.

yaml is as follows:
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: nevis-system
spec:
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    nevis.io/service: api-

[2019-04-23 03:34] howardjohn opened #13542 "TestGrid shows failures because of feature branches"
Example: https://testgrid.k8s.io/istio-postsubmits#circleci-test

See many failures like https://circleci.com/gh/istio/istio/395136 TestTLS, which is something that has been fixed on master.

These would normally never fail in postsubmit, because we wouldn't merge changes that fail unit tests, but this isn't the case for feature branches.

I think feature branches should be removed from the test g

[2019-04-23 03:37] howardjohn commented on #13542
cc @utka

[2019-04-23 03:41] zhu0516123 commented on #13508
We have such a situation：
Two systems in kubernetes. System A is in istio, and the spans were generated by envoy. System B is not in istio, and the spans were generated by other distributed tracing  system, such as libraries which been supported by the OpenZipkin. The service of system A access The service of system B. Then the spans  of system A and system B were send to the same zipkin-collector

[2019-04-23 04:04] An0nymous0 opened #13543 "Whether you can add a layer of custom interceptor"
**Describe the feature request**

Whether you can add a layer of custom interceptor, you can customize the pointing service to handle complex interception requests. It can also be written in a language that you are familiar with, similar to the Spring Interceptor feature.

**Describe alternatives you've considered**

Mixer Adapter

But the Mixer Adapter is too dependent on the language and the dev

[2019-04-23 05:36] bianpengyuan commented on #13508
@zhu0516123  How does` shared_span_context` help in this case? `shared_span_context` controls envoy whether to generate new span for ingress request or not. If system B is not even using envoy, how would shared_span_context affect span generation in systemB? Instead, the tracing library used by systemB should properly handle tracing context from request headers so that spans from two systems could

[2019-04-23 07:19] hzxuzhonghu commented on #9504
Try to test with this image `zhhxu2011/pilot:debug` built from #13228

[2019-04-23 07:35] lucasponce commented on #11131
Hello @frankbu,
I think this issue is addressed in upstream as gateway validations support multiple namespaces
https://github.com/kiali/kiali/blob/master/business/checkers/gateway_checker.go#L18

This commit is included from Kiali version v0.16.

I think that should cover the scenario you propose.

[2019-04-23 08:09] zhu0516123 commented on #13508
@bianpengyuan It seems that if the **shared_span_context** is true, the spans in two systems will be  normaller in zipkin-ui.

shared_span_context=true:
![shared_span_context=true](https://user-images.githubusercontent.com/20107856/56564766-6222b700-65e1-11e9-8d02-794e04572e46.PNG)

shared_span_context=false:
![shared_span_context=false](https://user-images.githubusercontent.com/20107856/56564792-

[2019-04-23 08:12] jmazzitelli commented on #11131
istio will get this version of kiali as soon as someone merges this PR: https://github.com/istio/istio/pull/13312

it is hit-or-miss when these PRs get merged... I don't know what the criteria is to get things merged into the 1.1 branch. I just create the PRs, I don't merge them :)

[2019-04-23 09:07] marcin-kasinski commented on #13474
additional info:

With  istio 1.1.2 it works fine.
Problem " Prober does not exists " exists with istio 1.1.3.

[2019-04-23 09:14] jmzwcn commented on #6421
the same issue happen too.

[2019-04-23 09:30] edude03 commented on #13171
[code]

[2019-04-23 10:31] sdake opened #14157 "Makefile implodes"
Running make

[code]

[2019-04-23 10:33] rajusharma opened #13544 "Prerequisite for istio have wrong/confusing information"
#### Description
Currently on istio documentation it says pod should have list of container ports
https://istio.io/docs/setup/kubernetes/prepare/requirements/
[code]
But without having containerPort Istio is working fine, requests are not by-passing the proxy which is confusing because document says if we don't have containerPorts defined in pod, all the requests will be bypassed from proxy.

I co

[2019-04-23 10:55] Stono opened #13545 "Istio pilot crash during rollout, lots of errors"
Hey,
On the latest nightly (1.1-20190423-09-16), one instance of istio-pilot died a horrible, fire-filled death.

It started with:
[code]

I've attached the whole pilot log for you.
[bad.log](https://github.com/istio/istio/files/3107145/bad.log)

[2019-04-23 10:56] montss commented on #12417
@JagadeeshSreeram Could you please describe what you did exactly we are having the exact same issue, but we are using Jetty, we as well were able to configure Jetty to support http/2 with no-ssl.

By adding `RUN java -jar "$JETTY_HOME/start.jar" --create-startd --add-to-start=http2c --approve-all-licenses` to our Dockerfile

But what did you mean by "make istio to talk to our service using http2 p

[2019-04-23 11:12] Baykonur commented on #10983
@fdhex , can you please let me know what the issue was and how you fixed it? I am seeing the same issue with istio 1.1.3 and k8s 1.14.1 where we have PSP enabled.

[2019-04-23 11:57] 27wyc commented on #13484
Got similar problem.

[code]
with proxyv2:1.1.3

![image](https://user-images.githubusercontent.com/8376288/56578585-93f74600-6600-11e9-8102-b4526f56013b.png)

and with proxy2:1.0.5
![image](https://user-images.githubusercontent.com/8376288/56579107-e4bb6e80-6601-11e9-9b38-0a571e38fd96.png)

[2019-04-23 12:06] hzxuzhonghu commented on #13545
/assign

[2019-04-23 12:27] #12503 closed

[2019-04-23 12:27] #12957 closed

[2019-04-23 12:58] huang195 commented on #13517
@howardjohn the official image I was using was `image: gcr.io/istio-release/proxyv2:release-1.1-latest-daily`, which had good performance. The custom built one had issues, but as @mandarjog mentioned, I could have been using an optimized code. The documentation in istio/proxy is pretty lacking as I couldn't find any instruction on how to build the code, let alone optimized one vs. unoptimized one.

[2019-04-23 13:04] rshriram commented on #13504
@hzxuzhonghu can you take a look?

[2019-04-23 13:18] JagadeeshSreeram commented on #12417
@montss  Our was with nodejs, so we enabled http2 in nodejs without ssl.  about make istio talk to app using http2. I was referring to naming your service right with right protocol prefix. Istio determines the protocol based on service name prefix if specified otherwise it defaults to TCP. Here is the doc that explains it https://istio.io/docs/setup/kubernetes/prepare/requirements/

[2019-04-23 13:36] tiswanso commented on #13171
@edude03 --thanks for the update.  It looks like the istio-cni `plugins` config portion either didn't get applied OR it got removed/clobbered by calico.  This condition should be detected by the install-cni daemon on that node and the config reapplied--here's the check:  https://github.com/istio/cni/blob/master/deployments/kubernetes/install/scripts/install-cni.sh#L64-L73

Is the kubectl log outpu

[2019-04-23 13:40] volatilemolotov opened #13551 "Istio Envoy acces log issue"
When activating access logs via istio configmap i get the following format :
`[2019-04-23T11:02:56.481Z] “- - -” 0 - “-” 129 200 81 - “-” “-” “-” “-” “127.0.0.1:8081” inbound|8081|mgmt-8081|mgmtCluster 127.0.0.1:43756 10.16.118.7:8081 10.16.118.1:60630 -`

while on the other cluster has valid logs
`[2019-04-23T12:07:22.912Z] "GET /productpage HTTP/1.1" 200 - "-" 0 5723 32 31 "10.166.15.195" "curl/

[2019-04-23 13:42] linsun opened #13552 "tune rolling update strategy for istio"
our current strategy is

  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0

I don't think that is as efficient as using percentage as it doesn't count towards number of replicas.

We should revisit this:

https://medium.com/kokster/updating-kubernetes-deployments-867421d4e337

@Stono shared his config that he didn't get 503 during istio update (at least not caused by istio):

[2019-04-23 13:49] rvgud commented on #12417
@montss Simply reame your kubernetes service object's port to "http2-yourservicename". By doing this istio will always use h2 to communicate to this service.

[2019-04-23 13:50] linsun commented on #12237
folks, we also have this file...install/kubernetes/global-default-sidecar-scope.yaml, did you apply this file @nrjpoddar ?  This file currently defaults to allow communication to istio-telemetry or istio-policy.

If we feel users will install istio in non istio-system ns, we can update the hosts to

    - "*/istio-telemetry.istio-system.svc.cluster.local"
    - "*/istio-policy.istio-system.svc.clu

[2019-04-23 13:52] Stono commented on #13552
Hey.
I'd probably suggest making it user configurable as it's largely down to personal preference.

We run 3 pilot instances and prefer 100% burst, then scale down the old as it helps to keep the load more evenly spread across the new instances of pilot (from proxy reconnections).

[2019-04-23 13:53] howardjohn commented on #12237
Lin that still has Istio-system in the hostname

[2019-04-23 14:00] sdake commented on #13507
@imroc if your satisfied with this outcome, please close this issue and leave a comment.  Note we won't be adding features to the 1.1.z (z streams).  This is planned as a new feature for 1.2.  If you want to get involved in the installer development, now is the time :)

Cheers
-steve

[2019-04-23 14:02] sdake commented on #13501
Depending on how tidy the change is, this should be considered for backport to the 1.1 series.  Not being able to deploy in a firewalled environment is a problem.

@duderino agree?

Cheers
-steve

[2019-04-23 14:05] montss commented on #12417
The port in our service/NodePort had now name at all after naming it http2
[code]
Things are working fine, of course that's after enabling non-SLI HTTP/2 in jetty as well.

Thanks

[2019-04-23 14:08] sdake commented on #13485
@monubamb there are some vague ideas to support service entry synthesis in 1.3 release via MCP.  This would automate the SE creation for some scenarios, but not the scenario you describe (which is specifically synthesis in virtual machines).

The MCP protocol is designed to handle this problem, but the work is as I mentioned incomplete and won't make 1.2 and is not available in 1.1.

One option is

[2019-04-23 14:08] sdake commented on #13485
@nmittler ^^

[2019-04-23 14:16] linsun commented on #13501
agreed this should be configurable, most of our images are already configurable, think we missed this one.

[2019-04-23 14:22] ericvn commented on #13402
@dwradcliffe I think we can close this as #13470 cherry picked the change to *master*.

[2019-04-23 14:28] frankbu commented on #12237
@linsun install/kubernetes/global-default-sidecar-scope.yaml doesn't help here. The default sidecar scope is not the problem. The problem is when users want to define their own sidecar, they need to add the policy and telemetry services to the egress in every sidecar they create, since they override the default egress. https://github.com/istio/api/pull/903 is the only solution for now.

[2019-04-23 14:28] howardjohn commented on #13543
@douglas-reid can you direct this to the right people/get follow up info needed?

[2019-04-23 14:31] linsun commented on #12237
@frankbu yes, that is precisely where my question is - this may not be how the code works today but could we inherit the default sidecar scope and overwrite it with user's own sidecar scope for the namespace?

BTW, the mixer v2 won't land in v1.2 so this extra step could take a while.

[2019-04-23 14:33] howardjohn commented on #13533
Can you provide some more information? What error messages are there? How did you install?

Without any info we cannot help you

[2019-04-23 14:34] dwradcliffe commented on #13402
Yep, thanks for that!

[2019-04-23 14:34] #13402 closed

[2019-04-23 14:37] #13545 closed

[2019-04-23 14:40] linsun commented on #13552
good point, yea configurable seems reasonable too, along with a reasonable default.

[2019-04-23 14:53] howardjohn opened #13553 "TestEchoNoSidecar flakey"
Example:
 https://prow.k8s.io/view/gcs/istio-prow/logs/istio-integ-k8s-tests/7246

https://testgrid.k8s.io/istio-postsubmits#integration-k8s-tests

[2019-04-23 14:58] howardjohn commented on #13542
Briefly looked at testgrid, don't think it supports this. This is also a problem with release branches vs master. Some tests consistently fail in 1.1 but are stable in master

[2019-04-23 15:03] frankbu commented on #12237
Sidecar inheritance would be pretty complicated in general and a lot harder to implement then what I suggested above (https://github.com/istio/istio/issues/12237#issuecomment-484571607).

[2019-04-23 15:03] huang195 commented on #13517
OK, got it. I think you meant '-c opt' that gets passed to `bazel build` comand. After making the change, latency number from the custom build proxyv2 matches that of the official image. Thanks @mandarjog for pointing this out. It would be nice to have this documented somewhere for folks who's tinkering with these envoy filters (unless I missed the document somewhere).

[2019-04-23 15:50] linsun commented on #12237
agreed @frankbu sidecar inheritance is bigger than this and can be used for other purposes too.  I had envisioned (or dreamed?) we had this already with calling our default sidecar file global-default-sidecar-scope.yaml.

I think we need to decide if we should do something about this in 1.2 (ideally we should do something simple so user doesn't have to worry about control plane config in their app

[2019-04-23 15:59] nrjpoddar commented on #12237
@linsun I know about the defaults but as you all have been discussing without inheritance any new Sidecar resource overrides the defaults.

I don't see any harm in implementing what @frankbu has suggested. I understand that in 1.2 or 1.x we will change interfaces and this might not be a problem but providing poor user experience (possibly breaking) until that happens should not be an acceptable an

[2019-04-23 16:00] #10235 closed

[2019-04-23 16:14] tiswanso commented on #13171
Ok, playing around on GKE with istio-cni, it looks like the fixes for detecting removal of the istio-cni CNI config from the `plugins` list aren't working correctly on GKE: https://github.com/istio/cni/issues/82 and/or https://github.com/istio/cni/pull/86

If I manually remove the istio-cni `plugins` list entry from a node's CNI config, the install-cni pod doesn't detect it and exit (restart) and

[2019-04-23 16:29] howardjohn commented on #13386
Fixed https://github.com/istio/istio/pull/13510

[2019-04-23 16:37] howardjohn commented on #12533
Related pr: https://github.com/istio/istio/pull/13515

[2019-04-23 16:40] viharikrishna commented on #13533
Hello howardjohn

Setup we have is Istio, gRPC running on GKE for handling Millions of RPS.
We are using Isito’s build-in monitoring framework with Prometheus, Grafana and following instructions as mentioned in https://istio.io/docs/tasks/telemetry/metrics/querying-metrics/ and https://istio.io/docs/tasks/telemetry/metrics/using-istio-dashboard/

Prometheus version - image: docker.io/prom/promethe

[2019-04-23 16:40] howardjohn commented on #13386
https://github.com/istio/istio/pull/13510

[2019-04-23 16:40] #13386 closed

[2019-04-23 16:45] sdake opened #14152 "README.md missing content for CNI install"

[2019-04-23 16:45] sdake opened #14151 "Enable CNI"
Please use this Epic to track any issues encountered with the CNI.

[2019-04-23 16:50] howardjohn commented on #13533
Thanks for the info @douglas-reid can you help or direct to someone who can?

[2019-04-23 16:51] frankbu commented on #12237
@nrjpoddar I tend to agree.

@rshriram, @howardjohn WDYT?

[2019-04-23 16:58] douglas-reid commented on #13533
What happens if you issue some of the queries in the dashboard directly against Prometheus?  Even just something simple like `sum(istio_requests_total)` ?

Do you have live traffic for the time period in which you are looking in the dashboard?

What do the Mixer metrics look like in Prometheus (`grpc_io_server_completed_rpcs{grpc_server_method="istio.mixer.v1.Mixer/Report"} `)?

Have you gone thro

[2019-04-23 17:43] pitlv2109 commented on #12877
I think supporting Google Cloud Function is still under development...
@yangminzhu could you confirm?

[2019-04-23 17:53] costinm opened #14150 "Autoinject: support 1.1 labels"
For upgrade/migration, add a flag to allow one 'environment' to support the 1.1 injection labels.
This will allow a smooth upgrade.

istio-env label allows namespaces to target a specific environment.

[2019-04-23 18:24] yangminzhu commented on #12877
The GCP service account is not supported in Istio authorization. Could you modify your function to attach the [identity token](https://cloud.google.com/functions/docs/securing/function-identity#identity_tokens) with the request, and use Istio Authentication/Authorization policy to check the identity token?

[2019-04-23 18:35] GregHanson commented on #13436
shortnames now make it to sidecar in config_dump, closing

[2019-04-23 18:35] #13436 closed

[2019-04-23 19:06] tiswanso commented on #13171
Root-cause:  the `gcr.io/istio-release/install-cni:master-latest-daily` images are built with an older version of istio-cni.  Need to update the `istio.deps` SHA to pick up new stable version

[2019-04-23 19:08] howardjohn commented on #13171
Would this be fixed by merging **https://github.com/istio/istio/pull/13549**

[2019-04-23 19:45] tiswanso commented on #13171
@howardjohn -- Yes... I didn't see that and posted a different PR.  I'll close mine if that's going to be the way to go for this.

[2019-04-23 19:56] howardjohn commented on #13171
Those prs haven't been merged in a long time, need to bug owners

[2019-04-23 20:31] fnature commented on #13493
any ideas ?

[2019-04-23 20:36] duderino commented on #13355
Current state of this bug is that we have exposed the ability to set idle timeouts in https://github.com/istio/istio/pull/13515 which will be in 1.1.4, but it's currently opt-in.

[2019-04-23 20:46] gargnupur commented on #13326
@kyessenov : should we use this bug to track adding a split function for headers?
Otherwise problem in the issue can be closed as "working as intended behavior"...

[2019-04-23 20:54] rshriram commented on #13204
You have to mount the socket in the istio proxy. Otherwise it can’t see your Unix domain socket in the Nginx container. This is a k8s restriction.

[2019-04-23 20:56] pitlv2109 commented on #13390
@howardjohn  Any update on this?
fyi @yangminzhu

[2019-04-23 20:59] howardjohn commented on #13390
Haven't looked into it, it only fails when you enable those tests as presubmit and therefor run in circle? Because testgrid shows no failures

[2019-04-23 21:01] howardjohn opened #14148 "Need to supply ingressNamespace and mcpAddr to Pilot"
https://github.com/istio-ecosystem/istio-installer/pull/33/files

mcpAddr:

It's a bit more complicated - Galley has a cert that is based on the name, so we'll need to test how using a different mcpAddress really work - I don't think in the istio/istio it was tested too much.

ingressNamespace:

[2019-04-23 21:07] ndhanushkodi opened #13559 "Pilot MCP sink shouldn't expect all collection types from source server"
**Describe the feature request**
When the source server only provides a subset of collections (e.g. istio/networking/v1alpha3/VirtualService), pilot operates on just the data provided, without throwing this error for the collections not in the subset `Error receiving MCP response: rpc error: code = InvalidArgument desc = unsupported collection "istio/mixer/v1/config/client/quotaspecs"`.

**Describ

[2019-04-23 21:25] Nino-K commented on #13559
I think it is reasonable to configure Pilot to only support (listen for) types that source can provide. This could also be a configuration where default is all the istio config types so we can guarantee that it will not impact config path for galley or other components if one decides not to provide this config property. @ozevren & @ayj WDYT?

[2019-04-23 21:38] pitlv2109 commented on #13390
Yes. It fails only when presubmit label is enabled and if it uses testing apps, e.g. a, b, c

[2019-04-23 21:44] sjtuprog commented on #7909
Thank you guys for the help. I just successfully configured gRPC load balancing with Istio on GKE. The two lessons I learned are
1. Use local DNS(/etc/hosts) for your self-defined host name, especially when you don't have a public domain.
2. Use port 31400 instead of 80 for Gateway if you are using the default istio-ingressgateway.

[2019-04-23 22:13] yangminzhu commented on #13493
Please see my reply in https://discuss.istio.io/t/unable-to-apply-auth-to-service-accounts/1990/11

I suspect the mTLS is not used between your 2 clusters that's why the `user: "cluster.local/ns/default/sa/service-account-name"` doesn't work, as there is no certificate to provide the identity in this case.

[2019-04-23 22:19] viharikrishna commented on #13533
@douglas-reid

Yes, We are sending 1million RPS to gRPC server on Istio/GKE and it shows up on Stackdriver.

sum(istio_requests_total) doesn't execute any data.

(grpc_io_server_completed_rpcs{grpc_server_method="istio.mixer.v1.Mixer/Report"} )
![image](https://user-images.githubusercontent.com/23062111/56601688-aa75b100-65b0-11e9-9244-6a983fc116c3.png)

I did verified the outputs of the commands

[2019-04-23 22:47] nirvanagit commented on #12382
What was the solution to this? @mandarjog. Ingress gateway is not able to come up due to this.

[2019-04-23 22:53] #13471 closed

[2019-04-23 22:54] chilu49 commented on #13471
Resolved this issue  by manually deleting all PodDisruptionBudget resources in istio-system namespace and then attempted the upgrade which finally upgraded my istio to 1.1.0.

[2019-04-23 23:00] incfly opened #13562 "Fix the breakage of mesh expansion due to IsValidIP in iptables-start.sh"
**Bug description**
Mesh expansion does not work due to #13291

1. iptable-starts.sh stops on a mesh expansion VM instance.
1. Cluster.env file is
[code]

**Expected behavior**
istio-sidecar.deb package after installed on a VM, we are able to start Envoy side car.

**Steps to reproduce the bug**

1. Build sidecar Debian package, install it on a VM.
1. `iptable-start.sh` will fail at `IsValidIP` fu

[2019-04-23 23:09] incfly commented on #13562
Apart from the fix, I really think we should invest less on bash script... They are hard to be unit testable and maintain and syntax is quirky, IMHO. We've already have 500+ LOC of iptables.sh

For this particular case, we might need to live with what currently have, but we should really starts thinking about better language(python, e.g) for new tasks like this.

fyi @utka @kyessenov @louiscryan .

[2019-04-23 23:13] kyessenov commented on #13562
Besides the choice of the language, what is missing is testing with a sufficient functional coverage.

[2019-04-23 23:13] sbezverk commented on #13562
@incfly Agree 100%, I would love to refactor it into a nice go code with bunch of unit tests ;)

[2019-04-23 23:19] incfly commented on #13562
@kyessenov yup on testing coverage. I actually find the issue when writing e2e test for mesh expansion. I will add that to our PR gate. I just think switching to a more maintainable language still benefit us additionally.

[2019-04-23 23:20] sdake opened #14147 "make run-bookinfo fails"
[code]

[2019-04-23 23:45] ndhanushkodi commented on #13559
We are going to start working on a PR to configure pilot to listen for specific config types, with the default being all config types, as @Nino-K mentioned.

In the long term, we'd like to discuss a potential change to MCP itself to have sinks discover the config types supported by a source server.

[2019-04-24 01:26] springrain commented on #5679
@linsun @rlenglet I also encountered this problem, modify the InterceptionMode: TPROXY has no effect, is there a solution now?

[2019-04-24 01:40] hzxuzhonghu commented on #13504
sure

[2019-04-24 01:42] hzxuzhonghu commented on #12382
#13228  Try to fix it

[2019-04-24 02:25] tvieira opened #13564 "Cannot build linux binaries (GOOS=linux) on a MacOS"
**Bug description**
While setting up a KinD e2e tests from a MacOS machine, if I set GOOS=linux and run

[code]

The build breaks at https://github.com/istio/istio/blob/603f116baf9d1b1fba1af7b33041fc697bc06fe4/Makefile#L329

because it tries to run a linux binary on a MacOS.

[code]

**Expected behavior**
Build should not break.

**Steps to reproduce the bug**
[code]
**Version (include the output

[2019-04-24 02:27] tvieira commented on #13564
I suspect this was caused by https://github.com/istio/istio/pull/13024

[2019-04-24 02:41] howardjohn commented on #13564
See also https://github.com/istio/istio/issues/13444

@ibm-jason

[2019-04-24 03:18] joberdick opened #13565 "JWT scope support does not support space delimted format"
**Bug description**
Currently, policies with JWT scopes only support an array.. That is actually not how the scope claim is to be implemented by spec: https://tools.ietf.org/html/rfc6749#page-23

The official way is via a single string that is space delimited. This is causing issues with token issuers that only support generating tokens via space delimited, such as Auth0.

**Some clarification: it

[2019-04-24 03:48] mandarjog opened #13566 "Pilot 1.1.4-pre panic - concurrent map read and map write"
`push.ServicePort2Name` is not protected correctly across all accesses.
eds.go:707. It is updated in `svcUpdate` and accessed in `loadAssignmentsForClusterIsolated` and  `updateClusterInc` in eds.go.

[code]

[2019-04-24 03:49] mandarjog commented on #13566
@ymesika Please check this concurrent map access.

[2019-04-24 04:02] kyessenov commented on #13408
The root cause is that the internal k8s REST mapper considers istio APIs as non-namespaced, which makes the client erase the namespaces from the input files.

To what extent are we committed to using kubectl for parsing istio APIs? There is a simple fix of using YAML parser directly, or a complex fix of packaging istio CRDs with istioctl to educate the mapper about namespace scoping.

[2019-04-24 04:06] kyessenov commented on #13566
I think (and correct me if I'm wrong) @ymesika has left the project.

[2019-04-24 04:56] hzxuzhonghu commented on #13566
duplicate with #13545 ?

[2019-04-24 05:03] mandarjog commented on #13566
Yup, thanks. Closing.

Can anyone volunteer to go thru eds.go and review it again?
This is the 4th or the 5th error of this kind, and review is the only real way of fixing it.

@nmittler

[2019-04-24 05:03] #13566 closed

[2019-04-24 05:24] bianpengyuan commented on #13391
@foshantiger The actual root cause is that envoy injects tracing header after mixer filter records request headers. istio/proxy#2182 should resolve the issue and I've verified dependency graph looks good with the change.

[2019-04-24 06:59] farcaller commented on #13484
Same here. FWIW changing the mysql service port name from `mysql` to `tcp-mysql` fixed it for me with istio's mTLS still enabled, but the [istio docs](https://istio.io/docs/setup/kubernetes/prepare/requirements/) don't name the mysql port as anything special.

[2019-04-24 07:05] bianpengyuan commented on #13508
@zhu0516123  Thanks for the detailed explanation! I see, it is to make istio tracing behavior consistent with non-istio environment. That makes sense to me. I've created the api change: https://github.com/istio/api/pull/907. Once that is in, I will update the code in main repo.

[2019-04-24 07:22] farcaller commented on #13484
And indeed, the envoy on the mysql side has `envoy.filters.network.mysql_proxy` loaded when the port name is `mysql`. Here's some of the envoy logging:

[code]

Apparently envoy fails to parse a mysql packet and that silently stalls the connection.

Why is mysql filter silently enabled in istio with no docs is it's called "alpha"?..

[2019-04-24 07:34] mwei2016 commented on #13283
Not yet: used overrides to pass 11K IP CIDR, but got blocked in the testing due to an issue in the env.

[2019-04-24 07:38] SilviaDominguezP opened #13572 "Istio circuit breaker not opening the circuit when downstream service throws 500 error"
I have a couple of microservices, customer-service and customer-rating-service. The first one invokes the latter.

I have placed a circuit breaker on invocations to customer-rating-service, and forced this service to always throw a 500 error to validate the circuit breaker. However customer-service always calls it, apparently the circuit is never open.

customer-rating-service - Istio Virtual Serv

[2019-04-24 07:42] zhu0516123 commented on #13508
@bianpengyuan Thanks!

[2019-04-24 07:43] hzxuzhonghu commented on #13504
Will open a fix pr,  this is not right, the egress gateway == root namespace , so ignore this branch
https://github.com/istio/istio/blob/603f116baf9d1b1fba1af7b33041fc697bc06fe4/pilot/pkg/model/push_context.go#L498-L505

[2019-04-24 08:35] Baykonur opened #13575 "Amend documentation about proxy settings - automatic sidecar injection issue in istio.io/help"
**Describe the feature request**
I propose to give an alternative solution to [Automatic sidecar injection fails if the Kubernetes API server has proxy settings](https://istio.io/help/ops/misc/#automatic-sidecar-injection-fails-if-the-kubernetes-api-server-has-proxy-settings) where we did not have the chance to remove the `https_proxy, http_proxy, no_proxy` environmental variables for kube-apiserv

[2019-04-24 09:48] farcaller commented on #13484
I did the further debugging in the [envoy bug](https://github.com/envoyproxy/envoy/issues/6696).

I guess the current workaround is to not use `mysql` in the service port names.

Istio [pods & services docs](https://istio.io/docs/setup/kubernetes/prepare/requirements/) should be updated to mention the mysql special case (and – preferably – a warning that it's broken).

[2019-04-24 09:57] mrshengzyzy opened #13577 "Istio sidecar init-proxy-container requires to run as `root`"
**Describe the feature request**
In the [#10358](https://github.com/istio/istio/issues/10358) we can specify it explicitly in the ConfigMap like this:
[code]
How can I perform as a `root` in container istio-proxy cause I need exec ‘iptables’
[code]

[2019-04-24 09:57] rajusharma commented on #13544
Example :-
I deployed serviceA and serviceB with istio-cars and both serviceA and serviceB doesn't have containerports.
But while executing `tcpdump -n src net {serviceA pod ip}` in serviceB's istio-proxy container i can see that inbound requests are coming from serviceA to serviceB's istio-proxy which means request is not by-passed. Please correct me if my understanding is wrong.

[2019-04-24 10:30] savitaashture opened #13578 "ingressgateway can't access https service with TLS termination."
**Bug description**
I tried to set up a gateway and virtual service for an https service.
used **SIMPLE** mode for the **TLS** termination in gateway.
And the https service return 404 Not Found.
But if i use **PASSTHROUGH** then https service return proper response.

**Expected behavior**
https request should be sent from gateway to https service with SIMPLE mode.

**Steps to reproduce the bug**
1

[2019-04-24 11:03] kramerul commented on #12122
We created a new pull request #13579, which builds distroless docker images in addition.

[2019-04-24 11:35] HARISHDARA commented on #6652
@rokli. Thanks for your help for me as well, but want to know why we need to change the type from ClusterIP to LoadBalancer. Just give some description, it will help to me.

[2019-04-24 11:55] geeknoid commented on #13355
Can we close this, given #13515, or is there still more work needed?

[2019-04-24 12:16] geeknoid commented on #13383
Given #13519, can we close this issue or is there more work we want to do?

[2019-04-24 12:42] imroc commented on #13507
that sound great

[2019-04-24 12:42] #13507 closed

[2019-04-24 13:33] ibm-jason commented on #13444
@howardjohn I hadn't, but it looks like the PR from @tvieira should fix the issue.

[2019-04-24 13:34] carvercj commented on #13009
We're seeing this too. Any workarounds?

[2019-04-24 13:53] c0d1ngm0nk3y opened #14146 "istio-installer does not work anymore for release-1.1"
Since https://github.com/istio-ecosystem/istio-installer/commit/b7e869e69f8755af913ae19763e7483b01db0974, the istio-installer does not work anymore with release-1.1. Reason is that the sidecar-injector does not understand the introduced template.

Currently the concourse pipeline is testing following:

* Install release-1.1-daily
* Test it
* Install 1.1.0 (to have something to update from)
* Updat

[2019-04-24 14:05] mikebryant commented on #12623
We were able to solve this without any code changes - though a docs update would be good.

This is our config:
[code]

It turned out to be sufficient to add a gateway config for `""` - as that's already the hardcoded default

[2019-04-24 14:28] mikebryant opened #13581 "Using FQDNs for meshNetworks gateways silently fails"
**Bug description**

Specifying `address: 10.1.1.1` in a gateway section works for us, that endpoint shows up appropriately when going cross-cluster.

Specifying `address: some.fqdn.com` does not. The gateway endpoints silently vanish.

**Expected behavior**

The address would resolve to the IP address.

We've verified that from the pilot discovery container `host` can resolve the hostname we're t

[2019-04-24 14:34] howardjohn commented on #13355
In 1.1.4 set it with `--set gateways.istio-ingressgateway.env.ISTIO_META_IDLE_TIMEOUT=5s`

Value should be go duration format

[2019-04-24 14:34] #13355 closed

[2019-04-24 14:44] mikebryant commented on #13581
I started trying to add some debug output for this, and I think I spotted the real bug - the host resolution is done on the wrong object which then gets overwritten. Opened #13582

[2019-04-24 14:45] #13444 closed

[2019-04-24 14:48] howardjohn commented on #13564
Fixed by https://github.com/istio/istio/pull/13567

[2019-04-24 14:48] #13564 closed

[2019-04-24 14:54] ibm-jason commented on #13564
@howardjohn thanks for the heads up. Once https://github.com/istio/istio/pull/13140 PR merges, we'll have to make sure that we move the zsh completion file in the same fashion as this.

[2019-04-24 15:05] ozevren commented on #13408
I am not sure about the historical context here, as it predates me. It maybe a simple artifact of kubectl being the starting point/source of library methods for istioctl. In either case, using the K8s Yaml parser directly seems like a reasonable approach.

[2019-04-24 15:12] howardjohn commented on #13577
The init container will run as root, but the proxy will not - major security reasons for this.

If you are 100% sure you want root in the istio-proxy container, you could modify the injector template - it is an option to pass to `istioctl kube-inject`.

However, I strongly recommend not doing this. If you want to set up some custom iptables, you could add an init container to your pod that does th

[2019-04-24 15:14] howardjohn commented on #13575
That sounds like an improvement on the current solutions, we would welcome a PR against https://github.com/istio/istio.io to change the docs.

[2019-04-24 15:21] ozevren commented on #13559
Discovery is something we have discussed in the past. I think it is reasonable have a collection that will serve discoverability metadata.

I am a bit worried about serving empty collections when the source is not serving the requested collection. This is likely to be an indicator of misconfiguration and it is harder to diagnose when looking from only one side (i.e. just Pilot logs).

[2019-04-24 15:34] #13432 closed

[2019-04-24 15:38] ozevren commented on #13323
Why is the addition? Is that setup time for Kind, or general slowness.

[2019-04-24 15:39] ozevren commented on #13462
It should be a community/group effort. If you see something missing, you should help implement it. :)

[2019-04-24 15:40] lei-tang commented on #13383
Closing this issue sounds good to me.

[2019-04-24 15:44] #13383 closed

[2019-04-24 16:03] tiswanso commented on #13526
<ugh so much thrashing on this helm stuff>  This has changed several times in the 1.1 timeframe.  I can't keep up with where things stand with it... I know at one point this script was what updated the chart repo:  https://github.com/istio/istio/blob/release-1.1/release/gcb/helm_charts.sh#L30-L53

But I guess there's something else that creates the release tarball and we need the same type of code

[2019-04-24 16:07] ericvn commented on #13444
It looks like there were at least 3 of us working on a fix and two PRs created.

[2019-04-24 16:12] fleeto commented on #13204
@rshriram thank you, I'd mounted socket files into `istio-proxy`, and I can run `curl --unix-socket /nginx/socket/backend.socket http://local/` to get pages from nginx on the `istio-proxy` container of nginx pod.

[code]

But in another pod:

[code]

Then I was trying to get access logs from telemetry:

[code]

[code]

Any suggestions? thanks again.

[2019-04-24 16:21] douglas-reid commented on #13533
So wait, you are using both Stackdriver and Prometheus?

How did you install Istio?

Not having any `istio_requests_total` to me suggests that the Prometheus adapter isn't properly configured, but more info is needed.

[2019-04-24 16:30] #9760 closed

[2019-04-24 16:45] howardjohn commented on #1472
We have readiness for proxies and pilot, can this be closed? @andraxylia

[2019-04-24 16:52] nerusnayleinad opened #13588 "several replicas of `istio-ingressgateway` pod"
I am making some simple tests, and sometimes have to kill istio-ingressgateway, so it will get the new configuration, but when I kill it, it spins up extra replicas. I used to do this with 1.0.5|6. Now I'm using 1.1.2 and 1.1.3, and on both, this is happening.

I tried setting the number of replicas manually, by editting the deployment and running `kubectl scale deploy istio-ingressgateway -n isti

[2019-04-24 16:53] nerusnayleinad commented on #13588
/sig area/environments
/sig area/user experience

[2019-04-24 16:55] nerusnayleinad commented on #13588
/area environments
/area user experience

[2019-04-24 17:09] quanjielin commented on #13364
@x15zhang do you have the global sds flag turn on ? like https://github.com/istio/istio/blob/f523998fd8a3b070a91d34690d5e5f72910b4d47/install/kubernetes/helm/istio/charts/gateways/templates/deployment.yaml#L262;

[2019-04-24 17:12] trevorlinton opened #13589 "Istio does not adhere to HTTP/2 RFC 7540"
**Bug description**

Istio does not properly send a 421 response when a connection is reused and accident sent to a server that is not the correct origin.  This can occur when there are two gateways, one with a wildcard certificate (*.example.com) and one with a different non-wildcard certificate (b.example.com) routing to two different apps (a.example.com and b.example.com) where a http/2 connect

[2019-04-24 17:21] trevorlinton commented on #13589
Seems related: https://github.com/istio/istio/issues/9429

[2019-04-24 17:24] dwradcliffe commented on #12623
Did you set the meta network name on the remote cluster?

[2019-04-24 17:24] neiltoshten commented on #13009
If you specify the meta data IP using CIDR notation, that should fix it for you. See the documentation here: https://istio.io/docs/reference/config/networking/v1alpha3/service-entry/#ServiceEntry.

[2019-04-24 17:37] utka commented on #13526
@tiswanso  The code you pointed to is adding cni to release/charts, but does not add it to -linux.tar.gz files. Working on fixing it.

[2019-04-24 17:37] linsun commented on #12658
I think this can be closed?  @stono indicated he was able to not get 503 by disable mixer check, leverage pod disruption budget and rolling strategy.  I opened an issue to improve our rolling strategy configuration:  https://github.com/istio/istio/issues/13552

[2019-04-24 17:37] #12658 closed

[2019-04-24 17:37] linsun commented on #12658
pls reopen if needed.  for 1.0.6, we didn't implement pod disruption budget so it will have issue, however from 1.1 to 1.1.x, PDB is in place.

[2019-04-24 17:38] howardjohn opened #14145 "Clean up template helpers for chart name, etc"

[2019-04-24 17:46] howardjohn opened #14144 "Need to sync templates with master"
The templates here have drifted from istio/istio. Some of these changes are intentional, but we need to make sure we pull in the changes we need, or we will have a lot of regressions in 1.2.

We have already done this for pilot

[2019-04-24 17:48] costinm commented on #13559
Let's not make this even more complex without a reason.
Pilot asks for all the things it cares about.
The MCP server should send empty result if it doesn't have any resource of that type ( including if the CRD is missing or it's something it doesn't know about ).

Simple and easy.

[2019-04-24 17:52] linsun commented on #11733
update: wait for new installer to check this

[2019-04-24 17:54] linsun commented on #12602
@jansmets is this still an issue?

[2019-04-24 17:59] alex-koturanov commented on #13588
Do you horizontal pod autoscaling enabled?

Please try to run `kubectl get hpa -n istio-system` and post the results.

[2019-04-24 18:14] ndhanushkodi commented on #13559
We think that if we leave it this way, in a world where there are multiple MCP servers sending Pilot configuration, every MCP server would have to know to send these empty results, so they would break anytime Pilot starts requesting a new resource type.

It seems like the goal of MCP servers is so that unique configuration can be sent to Pilot, and requiring all MCP servers to implement the full s

[2019-04-24 18:30] shashankn91 commented on #11498
@ymesika webSocketUpgrade value should be given and it is working with the upgraded version (1.1)of Istio. Maybe it wasn't working because WebSockets was in beta in 1.0.5.

[2019-04-24 18:55] douglas-reid commented on #13424
Links for issue search:
- [P0 items](https://github.com/istio/istio/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22code+mauve%22+label%3Apriority%2F0+label%3A%22area%2Fpolicies+and+telemetry%22)
- [P1 items](https://github.com/istio/istio/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22code+mauve%22+label%3Apriority%2F1+label%3A%22area%2Fpolicies+and+telemetry%22+)

[2019-04-24 18:58] pitlv2109 commented on #13530
/cc @pitlv2109 @yangminzhu since we will add grpc tests for rbac.

[2019-04-24 18:59] howardjohn commented on #13530
Part of the GRPC issue is the timeout will be 0 if you don't explicitly set it, but even with that fix still had errors

[2019-04-24 19:06] howardjohn commented on #13589
Seems like the spec says the we cannot return a 421? Or maybe I am reading that wrong

[2019-04-24 19:09] howardjohn commented on #13588
What is likely happening is you set the replicas to 1, but then the HPA immediately scales back up the pods. If you want, you can modify the autoscale. For example, to have a max of 1 pilots you could set `pilot.autoscaleMax=1`.

[2019-04-24 19:13] salla2 commented on #10441
@vadimeisenbergibm @rayepudi i'm looking for external service health check . My external service is subset of ip's  and when we hit external service it should route to those ip's which passed health check alone. Is this functionality can be configurable when we have service entry in istio? Any idea or suggestions please

[2019-04-24 19:14] jwendell opened #13592 "subpackage cloud.google.com/go/contextgraph/apiv1alpha1 is missing"
I'm starting a new project and importing (using `dep`) istio.io@master

`dep` is complaining:
[code]

It seems this package `cloud.google.com/go/contextgraph/apiv1alpha1` does not exist anywhere else but in istio repo, under `mixer/adapter/stackdriver` within the `vendor` folder.

Is this the right place to put dependencies? Could it get into main `vendor` dir?

[2019-04-24 19:24] salla2 commented on #10537
@cleverguy25 does a health check for external service optional available

[2019-04-24 19:29] linsun commented on #11742
see doc PRs above

[2019-04-24 19:29] #11742 closed

[2019-04-24 19:39] linsun commented on #13042
agreed, I think these are just ports we forgot to clean up:

[code]

since we requires user to run additional steps to configure gateway with these components now for accessing them now:  https://istio.io/docs/tasks/telemetry/gateways/

[2019-04-24 19:40] linsun commented on #13042
hold this work a bit for new installer merge in cc @costinm @howardjohn

[2019-04-24 19:48] linsun commented on #10537
@vadimeisenbergibm any update for this?  We got a lot of users asking for this.  This is also relevant for services in k8s that may not have health check itself.

[2019-04-24 19:54] viniciusramosdefaria commented on #6855
I'm having the same problem. The logs are the same and I could see on Wireshark some weird packages without payload and showing me that the packages are malformed.

**Version**
What version of istio and Kubernetes are you using? Use ```istioctl``` version and ```kubectl``` version:

[code]
**Is Istio Auth enabled or not?**
Did you install the stable istio.yaml, istio-auth.yaml.... or if using the

[2019-04-24 19:56] mgrand opened #13595 "Authentication policy side-effects and debugging"
The issue
_authentication policy side-effects and debugging #7464_
is marked stale and closed. I just had the same issue with Istio 1.1.0

[2019-04-24 20:01] nerusnayleinad commented on #13588
I can't believe I didn't think of that.

Thanks a lot.

[code]

Very weird behavior though. More likely this is a kubernetes issue. Will do more tests tomorrow with other deployments.

[2019-04-24 20:01] #13588 closed

[2019-04-24 20:12] jwendell commented on #13592
If I copy & paste this Gopkg.toml snippet from istio repo into mine
[code]

Then `dep ensure` works but the build fails:
[code]

[2019-04-24 20:13] jwendell commented on #13592
@jeffmendoza any hints?

[2019-04-24 20:18] jeffmendoza commented on #13592
I'm not a dep expert. We had to import this client library manually here:
https://github.com/istio/istio/tree/master/mixer/adapter/stackdriver/vendor
As it's not available in it's proper locations yet.

[2019-04-24 20:41] jwendell commented on #13592
@jeffmendoza yeah, thanks for your response. I saw that you added it that's why I guessed you might give some light...

[2019-04-24 20:50] jeffmendoza commented on #13592
Again, not sure on the dep capabilities, but I think that this can't go in the top level vendor, as  dep will delete it because it is not upstream.

[2019-04-24 21:04] trevorlinton commented on #13589
@howardjohn they mean proxies in the traditional sense, istio could be considered a reverse proxy but its not a proxy by the RFC definition.  Folks at chromium also clarified that the proxy only applies to forward proxies: https://bugs.chromium.org/p/chromium/issues/detail?id=954160#c5

[2019-04-24 21:20] dileep-p commented on #11304
@douglas-reid this url throwing 404.

[2019-04-24 21:29] rshriram commented on #10537
We should not mix active and passive. It leads to a lot of complexity and a very brittle system with installation issues. We can switch all of k8s to use active health checks if we need to. But let’s not half ass it

[2019-04-24 21:31] gargnupur commented on #13503
Thanks for the config file.. Few things stand out:
1) `destination: source.workload.name` in requestcount quota instance spec => I think given you have multiple versions of backends this value might be of the form backend-v1, backend-v1 etc.. I am guessing you want to ratelimit irrespective of the version? In that case you can use `destination: destination.labels["app"] | "unknown"`
2) As you ment

[2019-04-24 21:34] utka commented on #13526
This looks incorrect https://github.com/istio/istio/blob/9f57f080bb8fa239643a0265769f0cf5dd8e79d9/release/gcb/helm_charts.sh#L31
Getting master even for release 1.1

[2019-04-24 22:05] ceastman-ibm opened #13598 "Large # hosts in service entry yaml cause kube-dns to be overloaded"
**Bug description**
I have a single service entry yaml with 60 hosts defined. Soon as I do the kubectl create -f the kube-dns start crashing with: dnsmasq[25]: Maximum number of concurrent DNS queries reached (max: 150)

**Expected behavior**
kube-dns doesn't crash due to overwhelming number of dns queries. I would expect that the dns requests would be cached according to their ttl so the dns serv

[2019-04-24 22:10] rshriram commented on #13504
But root namespace is not istio-system. By default there is no root namespace

[2019-04-24 22:25] tokaplan commented on #13494
Well I'm not sure what's relevant. It's an OOP mixer adapter which receives tracespan instances. Some of the attributes that I'm inspecting are _source.namespace_, _destination.namespace_, _source.uid_, _destination.uid_, _source.name_ _destination.name_.
All values in incoming instances seem to make sense except this one particular aspect described above.

[2019-04-24 22:34] nmittler commented on #13530
FYI I'm having similar issues in echo right now. Ongoing work in #13586

[2019-04-24 22:37] nmittler commented on #13464
Closed by #13175

[2019-04-24 22:37] #13464 closed

[2019-04-24 22:40] nmittler opened #13599 "[Test Framework] Echo is broken for TCP"
Waiting for outbound configuration for an Echo component with a TCP port never completes.

[2019-04-24 23:38] yangminzhu commented on #13595
The essential problem is that we allow only 1 authentication for 1 specific service. This has a side effect that you cannot share 1 authentication policy (e.g. JWT) easily to other people as it will override the mTLS setting (i.e. the side effect). Instead, the other people have to add the `peers: mtls` before using the shared policy.

I think this is still an issue for the ongoing authentication

[2019-04-25 00:02] yangminzhu commented on #13188
In this case I think you can have 2 separate authentication policy, One enables mTLS for machine-to-machine inside the mesh, the other one enables the JWT policy on the Istio ingress gateway, assuming your publicly accessible services are exposed via the Istio ingress gateway.

/cc @diemtvu

[2019-04-25 00:26] yangminzhu commented on #13188
Assume you have configured the ingress gateway to expose your `svc-organizations` to public:
[code]

You can have the following two authentication policy for your purpose:
[code]

[code]

If you don't want to use istio ingress gateway and want to expose your service directly to public, one possible way it to make the mTLS permissive which means to allow mTLS and plaintext traffic at the same time.

[2019-04-25 00:50] x15zhang commented on #13364
@quanjielin Yes.I upgrade istio with this:
helm upgrade istio install/kubernetes/helm/istio --namespace istio-system --set gateways.istio-ingressgateway.sds.enabled=true

with the same config, Istio 1.1.0 is OK.

[2019-04-25 00:51] tiswanso commented on #13526
It's correct... since no one has merged #12186 there is no release-1.1 tagged image for CNI in gcr.io/istio-release.  Anyway, it's exactly the same content in release-1.1 and master for istio/cni.  In istio/cni we CI test every PR against both istio master and release-1.1.

[2019-04-25 00:52] mandarjog opened #13602 "Release Build image and tags issues"
There are several issues with image releases at present.

- [ ] Pre-release images are pushed to docker.io as tagged version while qualification testing is in progress. If qualification testing fails, the bits of the published image have to be re uploaded. We should not release these images prematurely. Instead they should be placed in a `gcr.io/istio-prerelase/` bucket. After the release is quali

[2019-04-25 01:13] hzxuzhonghu commented on #13504
[code]

[2019-04-25 01:27] hzxuzhonghu commented on #13504
So should I just change RootNamespace to `istio-config` or leaves empty?

[2019-04-25 01:30] linsun commented on #13598
@ceastman-ibm i noticed your kubectl client version is really old, would be good to update it.

[2019-04-25 01:31] karthimohan commented on #13484
@farcaller Changing the mysql service port name from mysql to anyname worked actually. Thanks for the solution. However i disabled Istioproxy for mysql pod when i was facing the issue. So i am puzzled how the above service port name change for mysql helped my application POD with istio enabled to get the full packet without any issue.

[2019-04-25 01:33] linsun commented on #13598
Is this the actual cmd that you hit the crash?  `kubectl create -f the kube-dns`

I tried to apply your se, and it went fine.

[2019-04-25 01:50] yangminzhu commented on #13371
@2ZZ I tried to reproduce this with the following yaml in Istio 1.1.3:
[code]

And tested with the following command:
[code]

[code]

It seems it's working as expected, see the response on port 3307. Note the prefix `mysql` is a reserved for ports serving MySQL protocol, so I guess it doesn't work on port 3306 because you're not speaking the MySQL protocol.

Probably we should add the `mysql` to t

[2019-04-25 01:53] linsun commented on #10537
@rshriram sorry I don't fully understand your comment.   Don't we already support passive healthcheck by using outlier detection?

[2019-04-25 02:09] linsun commented on #12654
sorry for the delay on this.   i don't think port number is allowed in the hosts field, see https://github.com/istio/api/blob/master/networking/v1alpha3/virtual_service.proto#L137

You don't need to specify port number in your hosts in your VS.  Can you remove that line `- "foo.xxx.io:31180"` and retry?

[2019-04-25 02:14] yangminzhu commented on #13578
Are you only enabling the SDS on ingress but not in the mesh? /cc @JimmyCYJ

[2019-04-25 02:14] foshantiger commented on #13391
Thanks @bianpengyuan , I will try it if the PR merged.

[2019-04-25 02:16] yangminzhu commented on #13364
I suspect this might be due to the sds path left over from 1.1.0 not cleaned correctly when upgrading to 1.1.2. Would you mind to try this in a complete new cluster with fresh install of Istio 1.1.3?

[2019-04-25 02:43] foshantiger commented on #13508
@morvencao @zhu0516123 for now, there are two ways to override the shared_span_context value:
1. define a custom-bootstrap.yaml and apply it, then add the annotation to the deployment, refer to [https://github.com/istio/istio/tree/master/samples/custom-bootstrap](url)
[code]
[code]
2. mount a configmap to the path /var/lib/istio/envoy/envoy_bootstrap_tmpl.json at istio-proxy container to override

[2019-04-25 02:58] castlemilk opened #13604 "setting sdsUdsPath when sds is disabled breaks functionality of gateways when deployed"
**Bug description**
with `global.sds.enabled=false` and a `sdsUdsPath` set as non-empty such as `global.sds.sdsUdsPath="/some/path"`, causes gateway configuration to have a non-empty sdsUdsPath, which in turn causes issues in the deployment as there are a number of conditional checks (in pilot) which use the sdsUdsPath to check if SDS functionality should be used or not.

**Expected behavior**
whe

[2019-04-25 03:15] mrshengzyzy commented on #13577
@howardjohn thanks a lot you are right
Just append the configuration
[code]
to istio-proxy container Node `securityContext`.
And you shoule  execute `sudo -i` to switch `root`  in istio-proxy container.

[2019-04-25 03:15] #13577 closed

[2019-04-25 03:34] lei-tang opened #13606 "Add more integration tests for the native environment"
**Describe the feature request**
Currently, most integration tests under tests/integration folder are for k8s environment. This feature requests for adding more integration tests for the native environment. Moreover, the test framework needs more support for native integration tests, e.g., ApplyPolicyFiles(env *kube.Environment, ...), in pkg/test/util/policy/policy.go, only supports k8s environmen

[2019-04-25 03:47] lei-tang commented on #13439
https://github.com/istio/istio/pull/13557

[2019-04-25 03:49] lei-tang commented on #13606
#13439

[2019-04-25 04:47] savitaashture commented on #13578
@yangminzhu
i followed these steps
https://istio.io/docs/tasks/traffic-management/secure-ingress/sds/

[2019-04-25 05:04] vadimeisenbergibm commented on #10537
@rshriram So for external services, is the proposed solution valid:

[code]

[2019-04-25 05:09] vadimeisenbergibm commented on #10537
@linsun Let's agree with @rshriram on the proposed solution, and then I will implement it.

[2019-04-25 05:22] Kampe commented on #6593
I'm having this same issue, can confirm am able to hit www.googleapis.com from the running container, but while on the sidecar, I'm unable to get a response and get this error:
`/ $ wget accounts.google.com
Connecting to accounts.google.com (74.125.142.84:80)
Connecting to accounts.google.com (74.125.142.84:443)
wget: can't execute 'ssl_helper': No such file or directory
wget: error getting respon

[2019-04-25 06:13] Stono commented on #11498
The field should definitely be removed if it is redundant now

[2019-04-25 06:17] shashankn91 commented on #11498
@Stono I don't think it is redundant. There has to be information which can let Istio know to bypass the request. If there is no field to do the same request can go to any of the pods in that virtual service which is not desirable in WebSockets case.

[2019-04-25 06:19] Stono commented on #11498
I'm pretty sure that's what mandar is saying above, eg websocket upgrades are supported automatically on all routes.

Routing some requests to a different pod is a different concern

[2019-04-25 06:20] Stono commented on #11498
PS.  We removed all referenced to websocketUpgrade and websockets still work 😎

[2019-04-25 06:23] shashankn91 commented on #11498
Let me give a try by removing websocketUpgrade . @rshriram I would be really happy to know how is Istio handling WebSockets without the websocketUpgrade flag.

[2019-04-25 07:19] maonaoda opened #13607 "can't connect to GCE's redis with istio sidecar by creating serviceentry"
**Bug description**
     Application which is created on GKE can't connect to GCE's redis with istio sidecar by creating serviceentry.but works well without  istio sidecar.
    At first, application internal log was "redis.clients.jedis.exceptions.JedisConnectionException: All sentinels down, cannot determine where is mymaster master is running..."
    After create Serviceentry ,log was chagned as

[2019-04-25 07:35] #9735 closed

[2019-04-25 08:35] #10658 closed

[2019-04-25 09:17] farcaller commented on #13484
@karthimohan no idea, really, disabling the sidecar should have mitigated the issue same good but given renaming the port helped you we seem to be talking about the same issue.

[2019-04-25 09:35] #7492 closed

[2019-04-25 13:07] morvencao commented on #13508
@foshantiger we'd better have Istio API support configurable shared span context.

[2019-04-25 13:13] xuemzhan commented on #12308
I met the same problem, how to fix it?

[2019-04-25 13:38] ceastman-ibm commented on #13598
@linsun kubectl create -f devtest-service-entry.yaml is the command i used. could it also be a factor that i have roughly 70 microservices with 3 replicas each?

ill update my kubectl version

[2019-04-25 13:43] codependent opened #13612 "Istio circuit breaker not opening the circuit when downstream service throws 500 error"
**Bug description**
The full description is on this StackOverflow question: https://stackoverflow.com/questions/55707778/istio-circuit-breaker-not-opening-the-circuit-when-downstream-service-throws-500

Summing up, given this configuration:

**customer-rating-service - Istio Virtual Service**
[code]
**customer-rating-service - Istio Destination Rule**
[code]

When customer-rating-service returns a

[2019-04-25 13:50] linsun commented on #12654
BTW, I don't see your gateway resource, you need to create a gateway resource which should include the port 31180 in there.

[2019-04-25 13:50] tiswanso commented on #13526
@utka -- actually, we should probably change it to checkout the release branch but it's not urgent (will have little/no net effect) for the reasons I mention.  I was thinking more of the HUB and TAG settings in the helm chart.  Do you want to do that now or in a follow on PR?  Is there a release branch env var that this type of code could use?

[2019-04-25 13:50] linsun commented on #12654
Closing this because I believe it is a config error trying to do things we don't allow and we already gave an error msg.

[2019-04-25 13:50] #12654 closed

[2019-04-25 13:51] mbanikazemi commented on #13504
Let's see if I understand this correctly.
The RootNamespace is where the root config stuff will reside and has nothing to do with IstioSystemNamespace (Istio-system) where Istio pods et al are deployed. It is being suggested by @rshriram that we should prevent RootNamespace from being set to IstioSystemNamespace. Is this correct? This makes sense to me. I would say we could change the name RootNam

[2019-04-25 14:01] mandarjog commented on #12382
Under what conditions will :15000/stats will timeout waiting to read headers?
I can’t see how pilot slowness would cause this problem.

[2019-04-25 14:19] frankbu commented on #13598
Maybe the `60 + 70 + system services` is reaching a max (150) for kubedns. Maybe kubedns can be configured for more than 150? Seems like this is a scalability issue, but maybe with kubedns, not Istio. It would be interesting to know if creating kube [ExternalName services](https://github.com/istio/istio/pull/13573#issuecomment-486399596), instead of the ServiceEntry, for the 60 external services w

[2019-04-25 14:27] 2ZZ commented on #13371
@yangminzhu thanks, I can confirm the behaviour is the same for us too.
If you can add mysql and any other missing protocols to that requirement list that would be very helpful.

[2019-04-25 14:38] vadimeisenbergibm commented on #6593
@Kampe Did you define the ServiceEntry for `www.googleapis.com` or for `accounts.google.com`? Can you share your ServiceEntry?

[2019-04-25 14:45] huang195 opened #15725 "Issue with default batch_report size"
We were looking at Istio long-tail latency issue in 1.0.6, and eventually came to the conclusion that a major contributor to the problem is the batch reporting mechanism for telemetry data. By default, batch report happens every 1000 requests or 1 second, whichever comes first. In Istio 1.1, the default value was changed to every 100 requests. This gave a big improvement to the long-tail latency i

[2019-04-25 14:54] ceastman-ibm commented on #13598
so i changed out kube-dns (which was scaled to 12 pods which still caused crashes) for 2 pods of coredns and its working, no crashes so far.

[2019-04-25 14:59] mbanikazemi commented on #13504
@hzxuzhonghu I hope you don't mind me pushing a new PR. Will update based on reviews.

[2019-04-25 15:02] howardjohn commented on #13612
Opened https://github.com/istio/api/issues/909 to track fixing the docs. If you have any more problems you can reopen this or create a new issue

[2019-04-25 15:02] #13612 closed

[2019-04-25 15:04] howardjohn commented on #13607
Not super familiar with redis, but do you need ports 26379 AND 6379? Or is 26379 sufficient since you connect to the sentinel directly?

[2019-04-25 15:11] dwradcliffe opened #13614 "Removing k8s registry doesn't remove endpoints"
**Bug description**

I setup multi-cluster as documented with https://istio.io/docs/setup/kubernetes/install/multicluster/vpn/. When I removed the config for the second registry the endpoints did not get removed from pilot or the sidecar proxy.

[code]

**Expected behavior**

I would expect the endpoints to be removed right away.

**Steps to reproduce the bug**

1. Setup multicluster mesh with hel

[2019-04-25 15:12] #12410 closed

[2019-04-25 15:21] dwradcliffe commented on #13614
If I dump the endpoints on pilot, they are not present (as expected) but the cluster-vips for the old registry _are_ present.

`kubectl exec -n istio-system $(kubectl get pod -l istio=pilot -n istio-system --field-selector=status.phase=Running -o jsonpath={.items[0].metadata.name}) -c discovery -- curl --silent http://istio-pilot.istio-system:8080/debug/endpointz | jq '.[] | select(.svc=="hellowor

[2019-04-25 15:45] aaronjwood commented on #11498
I am also seeing issues with websockets when the sidecar is in place (404's from Envoy). In my case I'm not using a virtual service. The service I have that listens for websocket connections is using `tcp` as the port name. Shouldn't that translate to L4 proxying and not care about what's on top?

[2019-04-25 15:48] dwradcliffe commented on #13614
I also tried starting a brand new pod, to rule out envoy holding on to the endpoints for some reason. A new pod started _after_ the registry/endpoints were removed still shows the old endpoints.

Then I tried restarting pilot, and the endpoints went away, as expected.

[2019-04-25 15:59] jswattjr commented on #13438
I'm having a similar issue, but I'm seeing 'x509: certificate signed by unknown authority' errors all over.

**Steps to reproduce**
1. Install istio as described in the documentation using helm templates (this installs istio-1.1.3), using values-istio-multicluster-gateways.yml and --set global.mtls.enabled to 'true'
2. Sign custom certs with custom CA per [instructions here](https://jamielinux.com

[2019-04-25 15:59] quanjielin commented on #13364
@x15zhang , to double check, did you turn on ```global.sds.enabled``` (it's a different flag from ```gateways.istio-ingressgateway.sds.enabled```) ? if yes, could you try -
1. kubectl get pods -n istio-system
to see if there is nodeagent pod running in your env
2. if yes for 1, could you pls restart each nodeagent pod(by delete old pod so that k8s will start a new one)

[2019-04-25 16:08] varungbt commented on #13438
Yes I can confirm that I too see `x509: certificate signed by unknown authority` when I use a valid certificate.
I have  a end user certificate signed by a intermediate authority.

I tried all possible combinations of splitting the certs into various files (ca-cert.pem,cert-chain.pem) and none of the various splits worked. It would be helpful if an example highlighting the usage of a certificate w

[2019-04-25 16:54] jaygorrell opened #13616 "Reproducible 503s during service deployment in 1.1.4 with low traffic"
**Bug description**
Under low load, I am seeing 503 responses during deployment of services that did not have connection problems without Istio.

The deployments are just k8s Deployment `RollingUpdate` deployments with `maxUnavailabile` set to 0... so it brings up a new pod, waits for it to be healthy, then tears down an old one. Repeat until done.

To mitigate these problems without Istio, we had

[2019-04-25 17:16] JimmyCYJ commented on #13364
Found some discussion on a issue that looks quite similar to this one.
https://github.com/argoproj/argo/issues/826
https://github.com/kubernetes/kubernetes/issues/61801
This is a known issue in Kubernetes, and the fix is in v1.9.7.

[2019-04-25 17:18] mikebryant commented on #12623
Yes, we have. Though since we're also explicitly setting fromRegistry I think it might be redundant? Eh, followed the guide and it worked :)

[2019-04-25 17:20] #4810 closed

[2019-04-25 17:23] #2197 closed

[2019-04-25 17:24] #2198 closed

[2019-04-25 17:24] #1677 closed

[2019-04-25 17:36] hitesh1907nayyar opened #13617 "HPA enablement for grafana"
**Bug description**
I need to enable HPA configuration for grafana,prometheus, telemetry via istio. Can anybody please help me with the configuration that needs to be passed in values.yaml ?
**Expected behavior**
Enablement of HPA in grafana,prometheus, telemetry via installing istio
**Steps to reproduce the bug**
Normal helm command to install istio
**Version (include the output of `istioctl vers

[2019-04-25 17:39] douglas-reid commented on #12506
what is left for this issue now that #12577 and #12505 have merged ?

[2019-04-25 17:39] gargnupur commented on #13503
@Bulls1986 : Config like yours should work.. I tested it in TestRateLimiting_DefaultLessThanOverride test in https://github.com/istio/istio/pull/11209

[2019-04-25 17:46] JimmyCYJ commented on #13578
From the curl response, it looks like the SSL handshake is okay, but ingress gateway could not find resource for the request. Probably the VirtualService tls section is not configured correctly. Could you try with the file mount based approach? https://istio.io/docs/tasks/traffic-management/secure-ingress/mount/
If the issue still exists, then we can check VirtualService configuration or ask netwo

[2019-04-25 17:46] #6471 closed

[2019-04-25 17:47] #4429 closed

[2019-04-25 17:51] andraxylia opened #13618 "Security of Istio"
(P0) Secure coding & testing practices that affect all new work  -code-mauve style
(P0) CVE practice - disclosure, remediation, including a way to validate that we are doing it right.
(P1) Security scanning/adversarial testing of Istio codebase
(P2) Distroless prototype

[2019-04-25 17:53] bianpengyuan commented on #12506
I am trying to add an end to end test for policy oop adapter in the new test framework. It's simple and almost done since there is already a fake policy backend talking template api.

We should also introduce an end to end test for oop route directive adapter added by kuat, though not sure how hard it would be to add it with the new test framework, maybe we could add the functionality into the fak

[2019-04-25 17:53] andraxylia opened #13619 "Refinements to namespace isolation"

[2019-04-25 17:56] andraxylia commented on #13156
Thanks for investigatin @silentdai

[2019-04-25 17:56] #13156 closed

[2019-04-25 18:07] andraxylia opened #13620 "UX improvements for networking area"

[2019-04-25 18:09] andraxylia opened #13621 "Elimination of dependency on port name for protocol identification"
**Describe the feature request**

**Describe alternatives you've considered**

**Additional context**

[2019-04-25 18:10] andraxylia opened #13622 "Support promiscuous ingress listeners."
Support promiscuous ingress listeners for systems that dynamically allocate ports.
Eliminate dependency on reverse lookup of service ports to generate inbound listener.

[2019-04-25 18:12] andraxylia opened #13623 "Tooling in operator/Pilot to simplify mesh federation / multi-cluster"
**Describe the feature request**

**Describe alternatives you've considered**

**Additional context**

[2019-04-25 18:57] Miouge1 commented on #12308
In my cluster I use Calico for CNI and I had IP-in-IP encapsulation enabled by accident. Therefore pod to pod communication was broken to start with, even without Istio installed.

[2019-04-25 19:18] vadimeisenbergibm commented on #12623
@mikebryant I see, but it is a hack. I propose to use some dedicated name instead of `""`, e.g. `default`.

[2019-04-25 19:18] kyessenov commented on #11882
Still flaky as of today https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/13624/istio-integ-local-tests/9384

[2019-04-25 19:19] mattmi88 opened #13625 "galley validatingwebhook not deployed when namespace isn't istio-system"
**Bug description**

The helm chart for galley fails to deploy the `validatingwebhookconfiguration` object when galley is deployed to a namespace other than `istio-system`.

This problem was fixed in PR [#7477](https://github.com/istio/istio/pull/7477) in July, 2018 but the commit has never been merged into a release since then. It is a simple one-line fix. The update is not in `master` and is cur

[2019-04-25 19:20] mandarjog opened #13626 "Incorrect service grafana dashboard with traffic split"
With traffic splitting enabled during canary deployment, service dashboard show incorrect success percentages.
Success rate varies from 50% to 150%.

https://snapshot.raintank.io/dashboard/snapshot/mimQl4yS42oWPWpaW0na0rDozt5jRYLf

[2019-04-25 19:29] monubamb commented on #13485
Thank you @sdake. Appreciate the response. The controller part is done (there is a resource manager running on the VM's collecting that information). What i want to know is how do I provide it to the Istio Config.  Also I need a point to point web socket connection between client and the VM's which preserves session affinity(there is stateful VM on the other side).

Below is what i have now and wo

[2019-04-25 19:30] incfly commented on #11882
The error seems to be deep in the native environment testing framework, not related to this test per se.

[code]

I know @nmittler is working on some improvements. Not sure if that can help this particular case though.

[2019-04-25 19:34] mikebryant commented on #12623
Yeah, I'm not opposed to some special name. Thought it would be helpful to share how to make it work right now though. (as we actually need this to work, so we're ploughing ahead)

[2019-04-25 19:36] douglas-reid commented on #13626
This appears to be caused by, at least in part, the difference in use of `irate` and `rate` in the numerator and denominator.

[2019-04-25 20:02] jswattjr commented on #13438
@varungbt I tried redeploying the cluster with no intermediate certificate (i.e. end user cert signed by the root) and have the same errors. Not sure custom CA's are working at all with mTLS.

[2019-04-25 20:12] Kyslik commented on #12985
The problem is with the annotation so remove it using:

[code]

Credit: https://www.timcosta.io/kubernetes-service-invalid-clusterip-or-resourceversion/

[2019-04-25 20:12] #12985 closed

[2019-04-25 20:13] Nino-K commented on #13559
We need to consider the fact that not all the environments (K8s, CF, Consul, etc) are equal in the type of configuration they provide. Having a source that sends empty resources to bypass MCP errors does not seem very semantic. Discovery process seems very reasonable where a source and a server can establish a contract on what collection types they should exchange. Also, this will solidify the MCP

[2019-04-25 20:30] ozevren commented on #13428
https://docs.google.com/document/d/1QEb0TWo-JEuMMnDecz9GinRFIXxD4csbQNpAz1LJ_18/edit

[2019-04-25 20:42] vadimeisenbergibm commented on #12623
@mikebryant yes, it helps, thank you for sharing!

[2019-04-25 20:48] nictrix commented on #11866
Bump, has anyone taken a look at this? I saw updates that allowed SNI routing with PASSTHROUGH, but nothing that would cover this situation.

[2019-04-25 21:02] kyessenov commented on #12773
Announced the plan to deprecate in WG and on discuss https://discuss.istio.io/t/deprecation-notice-custom-mixer-adapter-crds/2055

[2019-04-25 21:32] ericvn commented on #13625
It looks like the mentioned PR was merged into `release-1.0`, but never got back into `master` or reflected from there to `release-1.1`. Seems this needs to be cherry-picked to those two branches. I can create those PRs.

[2019-04-25 21:55] lei-tang commented on #13439
https://github.com/istio/istio/pull/13628

[2019-04-25 22:06] costinm opened #14143 "Injector can't be installed a-la-carte"
After the merge we can no longer install just injector without discovery - it depends on a config map ( istio ) defined in discovery chart.

The use case is quite common - you can have a cluster that only runs injector, and points to a remote cluster pilot ( standard multi-cluster ).

Probably best fix would be to stop using MeshConfig (1 use) and ProxyConfig (several), since they are derived from

[2019-04-25 22:37] mattmi88 commented on #13625
Hey @ericvn - Thanks for following up on this so quickly.

I wonder if anyone has gone through the other commits in that branch to find any that didn't make it into master and should have.

[2019-04-26 01:17] romo8D commented on #12623
Thanks. So if we create a service end point in cluster1, it will never show up in cluster2, whether is a cluster  having control plane installed or not, right?

I checked the endpoints of 2 clusters, they only have end points in their local service endpoints.

[2019-04-26 01:19] romo8D commented on #12623
So the - address: 10.1.1.1 is the local cluster  gateway ip addr and - address: 10.2.2.2 is the remote  cluster gateway ip addr, right?

[2019-04-26 01:58] hzxuzhonghu commented on #13504
OK, happy to review.

[2019-04-26 02:30] hzxuzhonghu commented on #13614
I think this maybe related to incremental eds

[2019-04-26 02:36] hzxuzhonghu commented on #13614
For this, is there any logs in pilot showing the cluster registry  is deleted?

[2019-04-26 03:31] hzxuzhonghu commented on #13619
Any more details?

[2019-04-26 03:43] clyang82 commented on #13018
@morvencao Can this feature meet your requirements? https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#Headers
Here is example vs configuration for productpage:
[code]

from the envoy log, you can see `'x-team', 'develop'` was added.
[code]

[2019-04-26 03:53] xeor commented on #8337
https://github.com/istio/istio/pull/12748 seams to fix this.. I'm waiting for it as well..

[2019-04-26 04:13] morvencao commented on #13018
@clyang82 `Header manipulation rules` help us to manipulate headers in http request/response to/from destination service.

We need something beyond that, more specifically, we need to customize jaeger tags from headers in http request/response to/from destination service.

We need to update the Istio api to implement this feature.

[2019-04-26 04:27] Tushar120120 commented on #13366
Here is an update, i found if the POD is scheduled int 1 of the 2 worker nodes, the POD runs, but if scheduled in the master node(tushar 5), readiness probe is still failing(Pilot got scheduled in worker node, so working)

NAME                             READY   STATUS    RESTARTS   AGE     IP              NODE       NOMINATED NODE   READIN
ESS GATES
details-v1-677c45466d-kfnww      2/2     Runni

[2019-04-26 05:15] maonaoda commented on #13607
@howardjohn Thank you for your repaly.
 I am not sure, maybe for other reasons.I only see the logs about 26379 like
''
2019-04-26 13:07:25.964 HKT
[2019-04-26T05:00:16.509Z] - 102 76 424950 "10.100.20.4:26379" outbound|26379||10.100.30.6 10.36.0.66:45982 10.100.30.6:26379 10.36.0.66:45980
''

[2019-04-26 05:15] jeffcai commented on #9504
when using hostport, I encountered same issue, istio version is a recent daily build, after removing hostport from port definition it works without problem.

[2019-04-26 07:05] maonaoda commented on #13607
@howardjohn
After creating serviceentry of port  6379 , redis works well . Thank you for your tips.
However, when the master ip is changed, it means I need to modify the serviceentry again.
Is it possible to automatically change the service entry of 6379 based on the returned master ip?

`apiVersion: networking.istio.io/v1alpha3
kind: ServiceEntry
metadata:
  name: redis-instance4
spec:
  hosts:

[2019-04-26 07:24] Bulls1986 commented on #13503
@gargnupur There are still some problems.

I update my quota and redisquota config.

    apiVersion: "config.istio.io/v1alpha2"
    kind: quota
    metadata:
      name: requestcount
      namespace: istio-system
    spec:
      dimensions:
    destinationApp: destination.labels["app"] | "unknown"
    sourceApp: source.labels["app"] | "unknown"

And

    overrides:
    - dimensions:
        source

[2019-04-26 08:46] codependent commented on #12349
In my opinion, as stated [here](https://github.com/istio/api/issues/909) and [here](https://github.com/istio/istio/issues/13612), this should be reconsidered.

[Envoy](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/outlier) offers two kinds of configurations:

However Istio is constraining us to only open the circuit breaker on consecutive gateway failures.

Firstly, the Istio pro

[2019-04-26 09:36] anthonyhaussman commented on #6314
Hi. I want to use the Datadog tracing APM in istio.
I use the release 1.1.3 of istio.
I have modified the istio ConfigMap to use the Datadog tracer.
[code]
And relaunch my pod for the envoy sidecar to use the new tracing:
[code]
For dogstatsd, I use the image `datadog/docker-dd-agent:12.6.5281` with env:
[code]
When I search for the `cluster-name:dev-orscale-04-dm-istio` tag into Datadog Trace sea

[2019-04-26 09:46] morvencao opened #13636 "Support pilot hot reload for the change of watching namespaces"
The PR https://github.com/istio/istio/pull/13635 is meant to add support watching multiple namespaces for pilot, but it specifies the namespace list in the command line parameter, and
does not support hot reload.

A proposal is to add the watching namespace list to the mesh config and label the watching namespaces, once watching namespace list is updated, reload controller without restarting pilot

[2019-04-26 10:09] rshriram commented on #13504
Whoa!!
The default value of config root namespace was supposed to be empty and not istio-system.

[2019-04-26 10:10] SilviaDominguezP commented on #12349
I'm totally agree. This should be mandatory and a circuit breaking responsibility and a workaround could be a solution but it's not the ideal situation in service mesh.

[2019-04-26 10:17] #13572 closed

[2019-04-26 10:43] T-Manson commented on #12382
Other problem.Envoy proxy get ready very slow.
Isito version: 1.1.3
k8s version: v1.13.0

istio-pilot service is running.

NAME                                      READY   STATUS      RESTARTS   AGE
istio-citadel-899dfb67c-k7whq             1/1     Running     0          114m
istio-cleanup-secrets-1.1.3-kwcfq         0/1     Completed   0          114m
istio-galley-555dd7c7d7-kqb2t             1/

[2019-04-26 10:47] T-Manson opened #13637 "Envoy proxy get ready very slow"
Isito version: 1.1.3
k8s version: v1.13.0

istio-pilot service is running.

NAME READY STATUS RESTARTS AGE
istio-citadel-899dfb67c-k7whq 1/1 Running 0 114m
istio-cleanup-secrets-1.1.3-kwcfq 0/1 Completed 0 114m
istio-galley-555dd7c7d7-kqb2t 1/1 Running 0 114m
istio-ingressgateway-5b547dfb7b-4jx4d 1/1 Running 0 114m
istio-init-crd-10-zwt8b 0/1 Completed 0 114m
istio-init-crd-11-jh8cg 0/1 Completed

[2019-04-26 10:50] emedina commented on #12801
It seems I'm still facing this issue with `1.1.3`, but I will confirm in a while whether it's actually the case. I will downgrade to `1.0.1` and see...

[2019-04-26 10:55] mikebryant commented on #12623
Yes, that's right on the ip addresses.

With this config we have the `istioctl proxy-config endpoints` command showing both local endpoints and the other cluster gateway endpoint (if the same services has endpoints in the other cluster)

[2019-04-26 11:53] dwradcliffe commented on #13614
Yep. It picks up the Secret delete right away and claims it is deleting the registry.

[code]

[2019-04-26 11:54] hanahmily opened #13639 "Enabling Envoy gRPC Access Log Service (ALS)"
**Describe the feature request**
Envoy gRPC access log service is another option for the access log. A user could use it to send access logs to a central log inventory or AMP system. [Apache SkyWalking](https://github.com/apache/skywalking) as an oss APM project has supported this protocol, so I submit this proposal to enable it in istio.

I submit the following PR to support this feature.
 - http

[2019-04-26 12:40] linsun commented on #13598
i have a hard time to imagine that is reaching a max for kubedns.   people have done thousands of services with k8s for scale test.  A bit googling indicates this could be a network config issue such as https://github.com/openshift/installer/issues/1282

@ceastman-ibm can you update the result after with new kubectl?  Curious if you'd get this without istio with that number of external services an

[2019-04-26 13:09] #10662 closed

[2019-04-26 13:12] Tushar120120 commented on #13637
i am also facing the same issue when i deploy httpbin, can we have a trouble shooting section in the Istio doc instead of people all over the world doing google search and going though so issues in github.
Or can we have something like below where expert from Istio replies.
Sleep  POD and most POD of bookinfo(except Rating and review 3) are working, so environment seems to be correct.
https://askt

[2019-04-26 13:30] Tushar120120 commented on #13215
I am facing the same issue with Istio 1.1.3 when i deploy httpbin, but able to deploy sleep pod

[2019-04-26 14:19] ceastman-ibm commented on #13598
@linsun we currently have that many services in our development clusters accessing that many external endpoints. we do not have istio installed in our development clusters. and kube-dns is fine there, no restarts.

[2019-04-26 14:27] howardjohn commented on #13637
Can you provide logs from pilot as well to see if there is an indication anything is wrong?

[2019-04-26 14:37] howardjohn commented on #13617
A quick grep shows we only have HPA for mixer (that is telemetry, what you want), ingress/egress, and pilot.

For telemetry, you should be able to enable it with  `--set mixer.telemetry.autoscaleEnabled=true --set mixer.telemetry.autoscaleMax=5 --set mixer.telemetry.autoscaleMin=1`. Telemetry is already enabled by default I think though.

For the other ones you want, you can easily just add your o

[2019-04-26 14:43] rajusharma opened #13642 "Error in Pilot logs"
**Bug description**
Getting errors in pilot's discovery container logs
[code]
As you can see JSON is printed in pilot's discovery container

**Expected behavior**
There shouldn't be any error in pilot discovery container

**Steps to reproduce the bug**
Deploy pilot with below values.yaml
[code]

**Version (include the output of `istioctl version --remote` and `kubectl version`)**
istio version =>

[2019-04-26 14:44] rshriram commented on #10537
active health checks is not just about adding some envoy configs. Its about enabling health check filters in the inbound path, uniformly setting all clusters to use active health checks and setting http health checkers on the inbound path.

[2019-04-26 16:42] knrc commented on #11146
We have been working on something similar to this but are taking a different approach to the configuration, we're working on a more dynamic solution through a custom resource that the control plane can react to.  We're integrating this with our operator so the appropriate roles etc. can be updated.

[2019-04-26 16:44] knrc commented on #11146
BTW the work we are doing is specifically focussing on soft multi-tenancy so not related to the issue addressed by sidecar but rather to ensuring we have appropriate segregation between the multiple control planes.  Moving away from ClusterRoles is another part of our change.

[2019-04-26 16:52] howardjohn opened #13643 "Improve Pilot metrics"
We got some feedback that users are parsing Pilot logs and deriving metrics. This is because:

* we don't expose metrics they need
Some examples:
[code]
* we don't document the metrics we do expose
Other than digging around prometheus or reading the code, there is no documentation.
* we expose metrics with enough details
ex: `pilot_xds_push_errors` doesn't indicate target

At the very least, addin

[2019-04-26 16:55] romo8D commented on #12623
I'm using istioctl 1.1.3 the latest version and run "istioctl proxy-config endpoints sleep-88ddbcfdd-bhstf.sample --context=$CTX_CLUSTER1 | grep helloworld" following the instruction@https://istio.io/docs/examples/multicluster/split-horizon-eds/#split-horizon-eds-in-action

And I got
<local cluster ip>:5000       HEALTHY     outbound|5000||helloworld.sample.svc.cluster.local
<remote cluster gatewa

[2019-04-26 16:56] rlenglet commented on #5679
I don't think there has been any effort on the Istio side re: this issue.

[2019-04-26 16:57] quanjielin commented on #11787
/cc @quanjielin

[2019-04-26 17:00] #4887 closed

[2019-04-26 17:05] howardjohn commented on #13642
`accessLogFormat` should be the Envoy log format, something like https://github.com/istio/istio/blob/7d61672e25a28b0fa49ef2091f5b49703307572f/pilot/pkg/networking/core/v1alpha3/listener.go#L85 (but in json format, I couldn't find any examples but should be trivial to convert). If you don't specify one, it will use the format I linked above

If you want JSON you should set `accessLogEncoding: JSON`

[2019-04-26 17:17] incfly commented on #13599
/cc @incfly

[2019-04-26 17:43] gargnupur commented on #13503
Config looks right now... I see you have validDuration set to 1s above, by any chance could you be hitting this bug : https://github.com/istio/istio/issues/3028?

[2019-04-26 17:52] douglas-reid opened #13644 "Add install config options to control durations"
Right now, there is a bunch of search/replace code in the e2e tests that has the potential to cause lots of issues. The existing comments read as follows:

	note these config nobs aren't exposed to helm

and

	note these config nobs aren't exposed to helm

These test patches rely on the presence of comments in install artifacts to achieve their goals.  Example:

[code]

We should provide helm-expo

[2019-04-26 18:30] hitesh1907nayyar commented on #13617
Hi @howardjohn ,
Can you please let me know how can i do with the installer. Presently i just use the command helm install    istio-f values.yaml. How can i inject the auto scaling component configuration in the chart which is downloaded at the run time.

[2019-04-26 18:34] howardjohn commented on #13617
There is currently no way to get a HPA for grafana or prometheus with the installer. As I mentioned before you can easily add your own. For example:
[code]

[2019-04-26 18:48] killmeplz opened #13646 "Incorrect values in values.yaml"
**Bug description**
Incorrect values in values.yaml

https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/values.yaml#L115

"logging" is dublicated

[2019-04-26 18:51] howardjohn commented on #11835
I am fairly certain this is fixed in https://github.com/istio/istio/pull/13447/files. Which should be in 1.1.4.

If you run into this again, please file another issue, since this is (was) clearly a bad bug.

[2019-04-26 18:51] #11835 closed

[2019-04-26 18:54] howardjohn commented on #13646
https://github.com/istio/istio/pull/13647

[2019-04-26 19:27] sdake commented on #13400
@ozevren will do thanks.

[2019-04-26 19:32] sdake opened #13648 "Environments Workgroup 1.2 Features and Code Muave Epic"
These are features and code mauve wok planned in the Environments workgroup. Focusing on these items is our priority. Folks are free to submit work unrelated to these items. We can consider altering the Epic features over time.

(P0) Code Mauve:

stability testing for multi cluster and mesh expansion
Load balancing with locality (howardjohn)
More automated stability tests for whitebox - stability,

[2019-04-26 19:35] sdake opened #13649 "Environments WG Code Mauve and Features"
These are features and code mauve work planned by the Environments workgroup. Individuals are free to submit work unrelated to these items. We can consider altering the Epic features over time.

- More automated stability tests for whitebox - stability, performance, etc (@costinm this code mauve item is confusing and needs a better definition.).

[2019-04-26 19:35] sdake commented on #13400
closing in favor of an actual epic :) https://github.com/istio/istio/issues/13649

[2019-04-26 19:36] sdake opened #13650 "12122"

[2019-04-26 19:38] sdake opened #13651 "Operator Implementation"

[2019-04-26 19:39] sdake opened #13652 "Operator Implementation"
Experimental version for 1.2. It will be released in parallel with Istio 1.2 from its own repo.
MVP:
 - work with new istio-ecosystem/istio-installer helm charts
 - define functional install API, while Istio dynamic config will remain a passthrough to values.yaml. The Istio config specific part of values.yaml will be deprecated in future releases and install part will remain in operator API.
 - pr

[2019-04-26 19:40] #13651 closed

[2019-04-26 19:40] #13650 closed

[2019-04-26 19:44] sdake commented on #13648
zenhub spit out an error "Unknown error occured".  This is a duplicate so closing.

[2019-04-26 19:44] #13648 closed

[2019-04-26 19:45] sdake opened #13653 "Decomposed Installation"
https://github.com/istio-ecosystem/istio-installer

[2019-04-26 20:06] jaygorrell commented on #13616
I've been reading through a bunch of issues and this is very similar to https://github.com/istio/istio/issues/7665. What I believe is happening is:
1. A deployment/scale-down triggers
2a. The endpoint is removed from k8s (and thus Envoy as of 1.1.4 with https://github.com/istio/istio/pull/13403)
2b. (Same time) The preStop sleep prevents `SIGTERM` from being sent to the service pod; while Envoy go

[2019-04-26 20:10] jaygorrell commented on #7665
For anyone arriving here with similar issues in 1.1.x, I've opened a new issue: https://github.com/istio/istio/issues/13616

[2019-04-26 20:36] rakelkar commented on #2857
Can you link the related issue(s) you created?

[2019-04-26 20:59] Stono commented on #6037
It's been a while since I raised this thread, so thought i'd update it with the current deviations.

These are the things we do by hard-core yaml mutations in a scripted manner, because they're not (that i'm aware of) configurable in config:

 - We configure RolloutStrategies for all components with 100% burst
 - We don't deploy istio-ingress, we use ingress-nginx as an edge
 - We remove all the d

[2019-04-26 21:05] monubamb commented on #13485
any comments on ^^

[2019-04-26 21:07] sdake opened #13655 "stability testing for multi cluster and mesh expansion"

[2019-04-26 21:07] sdake opened #13656 "load balancing with locality"

[2019-04-26 21:08] sdake opened #13657 "Tests for environments WG related documentation"
- e2e tests for multicluster
- e2e test for mesh expansion

[2019-04-26 21:09] jacktuck commented on #2857
https://github.com/envoyproxy/envoy/issues/2784

[2019-04-26 21:09] Stono commented on #13643
Why can't I thumbs up this! :-)

[2019-04-26 21:10] sdake commented on #13657
mesh expansion: #13373 #13374

[2019-04-26 21:11] howardjohn commented on #13656
? What is this?

We already have this feature https://preliminary.istio.io/help/ops/traffic-management/locality-load-balancing/

[2019-04-26 21:18] sdake opened #13658 "application test cases for cassandra"
**Describe the feature request**

**Describe alternatives you've considered**

**Additional context**

[2019-04-26 21:19] sdake opened #13659 "application test cases for consul"
**Describe the feature request**

**Describe alternatives you've considered**

**Additional context**

[2019-04-26 21:20] sdake opened #13660 "application test cases for kafka"
**Describe the feature request**

**Describe alternatives you've considered**

**Additional context**

[2019-04-26 21:21] sdake opened #13661 "Application test cases for nats"
**Describe the feature request**

**Describe alternatives you've considered**

**Additional context**

[2019-04-26 21:22] sdake opened #13662 "application test cases for mysql"
**Describe the feature request**

**Describe alternatives you've considered**

**Additional context**

[2019-04-26 21:23] sdake opened #13663 "application test cases for postgresql"
**Describe the feature request**

**Describe alternatives you've considered**

**Additional context**

[2019-04-26 21:24] sdake opened #13664 "application test cases for redis"
**Describe the feature request**

**Describe alternatives you've considered**

**Additional context**

[2019-04-26 21:26] howardjohn commented on #13662
https://github.com/istio/tools/tree/master/perf/stability/mysql

[2019-04-26 21:26] #13662 closed

[2019-04-26 21:26] howardjohn commented on #13664
https://github.com/istio/tools/tree/master/perf/stability/redis

[2019-04-26 21:26] #13664 closed

[2019-04-26 21:28] sdake opened #13665 "SRE-related documentation"
**Describe the feature request**
- Document metrics.
- Document alerts.

**Describe alternatives you've considered**

**Additional context**

[2019-04-26 21:38] #13400 closed

[2019-04-26 21:41] monubamb opened #13667 "No documentation on how to dynamically update istio-pilot with new ips/ports find out how to dynamically update istio configs"
I want to be able to  dynamically update gateway, serviceentry, virtual service with random IP/ports. I believe istio-pilot has api's for it. I could not find anywhere documentation on how to do that. Need help!

Here is my complete scenario.

I need a front-proxy to VM Scale Set VM’s which is deployed with a web socket server with their application. The clients need to connect via a reverse proxy

[2019-04-26 22:07] chris530 commented on #9504
I noticed I was getting this error with deployments that did not have services,  once I exposed them then istio started successfully.

[2019-04-26 22:19] gargnupur commented on #13433
I think we need tests for following tasks:
1) IP whitelist : https://preliminary.istio.io/docs/tasks/policy-enforcement/denial-and-list/#attribute-based-whitelists-or-blacklists (https://github.com/istio/istio/pull/13654)
2) Control Headers : https://istio.io/docs/tasks/policy-enforcement/control-headers/
3) Logs: Collecting Istio and Envoys logs : https://preliminary.istio.io/docs/tasks/telemetry

[2019-04-26 22:35] howardjohn commented on #12486
Like Doug mentioned, this is a requirement for Istio. FYI https://istio.io/docs/setup/kubernetes/prepare/requirements/

[2019-04-26 22:35] #12486 closed

[2019-04-26 22:50] howardjohn commented on #12952
Sounds like this was fixed with PILOT_ENABLE_FALLTHROUGH_ROUTE, so I am going to close this. This is the default behavior on 1.1.4 by the way.

[2019-04-26 22:50] #12952 closed

[2019-04-26 23:08] aaronjwood commented on #11498
Looking at all the listeners for my pod I see that there are websocket upgrade types applied:
[code]

Now for the two ports that the service listens on:
[code]

The port that the websocket server listens on (TCP) shows nothing:
[code]

For the other port that this service listens on (HTTP) I see the websocket upgrade types applied:
[code]

This leads me to believe that my service should be using H

[2019-04-26 23:42] howardjohn opened #13668 "TestClientOnExampleHttpVaultCA Unit Test Failure - Breaks ALL commits"
Example: https://circleci.com/gh/istio/istio/400907?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Reproduce with: `go test ./security/pkg/nodeagent/caclient/providers/vault/... -v`

This failure was NOT introduced by the code change. Commits that were passing previous are now failing. I think certs expired or something.

[2019-04-26 23:42] howardjohn commented on #13668
Fix needs to be applied to release-1.1 and master

[2019-04-27 00:19] #13501 closed

[2019-04-27 00:19] bianpengyuan commented on #13501
Init container has been removed. so configurability is no longer needed.

[2019-04-27 00:40] nmittler commented on #13668
/lgtm
/approve

[2019-04-27 00:40] howardjohn commented on #13656
I think this was for additional testing? Which Liam added already so I'll close this

[2019-04-27 00:40] #13656 closed

[2019-04-27 01:12] lei-tang commented on #13668
These test failures are due to that the GKE cluster hosting the Vault server on the GCP endpoints-jenkins project were deleted. I have to find a GKE cluster that is reliable, re-create a Vault server, and update the test cases to use the IP address of the new Vault server. In addition, all Vault related user guides and integration tests need to be updated to use the new IP address.

[2019-04-27 01:14] howardjohn commented on #13668
A unit test should not depend on GKE... it should not even require internet connection

[2019-04-27 01:21] lei-tang commented on #13668
The unit tests ./security/pkg/nodeagent/caclient/providers/vault/ consists of tests on mock Vault server and on real Vault server. I can move the ones using real Vault server to integration tests after creating a  new Vault server.

[2019-04-27 02:02] AL-Cui commented on #6085
Similar behaviour with 1.0.5. But, How to restarting the pilot POD.I delete the pilot pod,but it Cannot start automatically。how to restarting the pilot。

[2019-04-27 02:46] lei-tang opened #13674 "Fix test failures caused by the deleted Vault server"
**Bug description**
Tests under security/pkg/nodeagent/caclient/providers/vault/ and tests/integration/security/sds_vault_flow fail because the cluster hosting the test Vault server on was deleted.
To fix these tests, a new test Vault server needs to be created, and the test cases need to be updated to use the IP address of the new test Vault server.
In addition, Vault related user guides  need to

[2019-04-27 05:59] rajusharma commented on #13642
I see.
Thank you for your quick response,  i will add `accessLogFormat="" ` and `accessLogEncoding: JSON`

[2019-04-27 06:00] morvencao commented on #13018
There is already a proposal by @douglas-reid to add tracing control(including `tagsFromHeaders`) in `Sidecar` API, hopefully we will have this feature in next release.

[2019-04-27 06:35] hitesh1907nayyar commented on #13617
Hi @howardjohn ,
Thanks for the reply. Is the process to implement this is like:
a) First I install the grafana and prometheus through the installer.
b) Then convert theabove HorizontalPodAutoscaler script to autoscaler.yaml and then apply through kubectl apply -f autoscaler.yaml right ?

[2019-04-27 06:53] liamawhite opened #13677 "Test framework needs support for Mac Envoy builds"
**Bug description**
When calling `apps.NewOrFail` during native tests I'm only and to get the latter half of that promise...

[code]

**Expected behavior**
App is created.

**Steps to reproduce the bug**
Comment out [this line](https://github.com/istio/istio/blob/master/tests/integration/pilot/locality/prioritized/prioritized_test.go#L90) and run the tests in native mode...
[code]

**Version (incl

[2019-04-27 06:54] liamawhite commented on #13677
cc @howardjohn

[2019-04-27 10:05] #9888 closed

[2019-04-27 10:07] Stono opened #13679 "Pilot warnings endpoint without pod"
Bumped a cluster to 1.1.4 yesterday and noticed quite a few of these warnings:
[code]

What I find really strange is that they're all on the `admin` service.  For context all of our deployments throwing this warning fit the same model with an `admin` and `app` service both pointing to the same pod.

[code]

[code]

[code]

[code]

Potentially associated to:
  - https://github.com/istio/istio/pull/

[2019-04-27 11:44] hitesh1907nayyar opened #13680 "Information of Unavailable PODs in prometheus"
**Bug description**
Information is required as how can i get the number of unavailable PODs in prometheus. Presently if i install prometheus through istio then all the information of kubernetes is there in kubelet_XXX_XX table names. I am not able to find any table which specifies the information related to unavailable PODs. By unavailable i mean which PODs have gone from running state to evicted/

[2019-04-27 14:07] howardjohn commented on #13617
yes

On Fri, Apr 26, 2019, 11:35 PM hitesh1907nayyar <notifications@github.com>
wrote:

[2019-04-27 14:07] howardjohn commented on #13677
maybe a mac issue since it runs fine in ci?

On Fri, Apr 26, 2019, 11:55 PM Liam White <notifications@github.com> wrote:

[2019-04-27 14:26] 4c74356b41 commented on #4429
so is this released or what @andraxylia

[2019-04-27 17:27] codependent opened #13682 "Outlier detection with maxEjectionPercent 100 minHealthPercent 0 not allowing to evict all replicas"
**Bug description**
Given this outlier detection config:

[code]
Let' suppose I have 2 replicas of an application and both always fail with a 502 error. I want that all replicas failing more than once are evicted from the pool. What I was expecting was that the circuit breaker would be open and a 503 response (open circuit breaker) is returned for every request at this service. However what I see

[2019-04-27 18:01] ozevren commented on #13668
External dependencies for unit tests is a no-no, and mostly a bad idea even for integration and end to end tests.

Can we deploy it hermetically?

[2019-04-27 18:09] lei-tang commented on #13668
I will create a PR to make these unit tests hermetical. The tests that use real Vault server will be moved to integration tests; there are manual steps to set up the Vault server, so an external Vault server is set up for testing purpose.

[2019-04-27 18:22] markmarijnissen commented on #9152
No, I stopped using istio and am using Traefik instead. (As I needed an
edge router more than I needed to control the entire service mesh)

[2019-04-27 21:15] lei-tang commented on #13668
https://github.com/istio/istio/pull/13683 has been created to fix the failed unit tests of Vault CA integration, which:
- Fixes the failed tests to use a new Vault server.
- Moves the tests using real Vault server to integration tests.

[2019-04-27 21:19] lei-tang commented on #13439
#13683

[2019-04-27 23:41] #4500 closed

[2019-04-28 00:18] lei-tang commented on #13439
#13684

[2019-04-28 00:18] lei-tang commented on #13439
#13685

[2019-04-28 01:32] T-Manson commented on #13637
This is pilot logs.

2019-04-26T08:29:37.410225Z     info    PilotSAN []string(nil)
2019-04-26T08:29:37.410271Z     info    Starting proxy agent
2019-04-26T08:29:37.410350Z     info    Received new config, resetting budget
2019-04-26T08:29:37.410357Z     info    Reconciling retry (budget 10)
2019-04-26T08:29:37.410374Z     warn    watching /etc/certs/cert-chain.pem encounters an error no such file

[2019-04-28 01:34] T-Manson commented on #13637
2019-04-26T08:29:37.410225Z info PilotSAN []string(nil)
2019-04-26T08:29:37.410271Z info Starting proxy agent
2019-04-26T08:29:37.410350Z info Received new config, resetting budget
2019-04-26T08:29:37.410357Z info Reconciling retry (budget 10)
2019-04-26T08:29:37.410374Z warn watching /etc/certs/cert-chain.pem encounters an error no such file or directory
2019-04-26T08:29:37.410370Z info Epoch 0 s

[2019-04-28 06:03] springrain commented on #7607
Can I only use envoyFilter at the moment?

[2019-04-28 06:03] springrain commented on #7964
Can I only use envoyFilter at the moment?

[2019-04-28 06:32] lurenjia528 opened #15724 "build proxy"
git clone "https://github.com/istio/proxy.git"
git checkout 1.1.4
bazel build //...

INFO: Elapsed time: 6136.435s, Critical Path: 1727.53s
INFO: 2483 processes: 2483 linux-sandbox.
INFO: Build completed successfully, 3397 total actions

envoy  version: 73fa9b1f29f91029cc2485a685994a0d1dbcde21/1.11.0-dev/Modified/DEBUG/BoringSSL

can this version be used?

[2019-04-28 07:27] Bulls1986 commented on #13503
@gargnupur request-count

[2019-04-28 07:50] Bulls1986 commented on #13503
@gargnupur Thank.
I have found the mistake in my quotaSpecBinding configuration. I make double services configuration but All name is appgateway.  The gateway to backend Path Rate-limit has been worked after I update config.  I seem to have been hitting : #3028 as you said.

This is my new redisquota configuration:

    apiVersion: "config.istio.io/v1alpha2"
    kind: redisquota
    metadata:

[2019-04-28 08:36] vadimeisenbergibm commented on #10537
@rshriram I am confused about the _inbound path_ and the _health check filters_ that you mentioned in https://github.com/istio/istio/issues/10537#issuecomment-487083299. Consider the scenario of an **external** service with endpoints with health checks. It seems in Envoy you just configure the port in [Endpoint's health_check_config field](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/

[2019-04-28 09:37] brightzheng100 commented on #9504
It was a big surprise to me that I even couldn't run the official helloworld app in Istio v1.1.3.

To reproduce it:
[code]

Is it related issue or did I do anything wrong?

[2019-04-28 09:41] anoopl commented on #9597
We have upgraded from Istio 1.1.3 to 1.1.4
But even after restarting pods, istioctl proxy-status shows version 1.1.3.
When I check the pods with `k get pods <pod_name> -o yaml` we can see that istio-proxy image tag is 1.1.4.

[2019-04-28 11:16] dellkeji opened #13691 "helm chart deploy error"
**Bug description**
helm apply istio error; parse the configmap error, found character `\t` in follow files

file path:
charts/security/templates/configmap.yaml & charts/security/templates/create-custom-resources-job.yaml

istio version: 1.1.4

[2019-04-28 14:14] geeknoid opened #13692 "Nothing works."
**Bug description**

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version`)**

**How was Istio installed?**

**Environment where bug was observed (cloud vendor, OS, etc)**

**Affected product area (please put an X in all that apply)***

[ ] Configuration Infrastructure
[ ] Docs
[x ] Installation
[x] Networking
[x ]

[2019-04-28 14:16] #13692 closed

[2019-04-28 14:16] geeknoid opened #13693 "Nothing works"
**Bug description**

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version`)**

**How was Istio installed?**

**Environment where bug was observed (cloud vendor, OS, etc)**

**Affected product area (please put an X in all that apply)**

- [] Configuration Infrastructure
- [x] Docs
- [x] Installation
- [x] Networking

[2019-04-28 14:17] #13693 closed

[2019-04-28 14:18] geeknoid opened #13694 "Nothing works."
**Bug description**

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version`)**

**How was Istio installed?**

**Environment where bug was observed (cloud vendor, OS, etc)**

**Affected product area (please put an X in all that apply)**

- [x] Configuration Infrastructure
- [ ] Docs
- [x ] Installation
- [x] Networki

[2019-04-28 14:18] #13694 closed

[2019-04-28 14:23] jadedevin13 commented on #4210
I hope this gets reopened as envoy proxy now have [request.body](https://github.com/envoyproxy/envoy/blob/b8325ac4167284b4d566c2779c15ec3c8473dc66/api/envoy/service/auth/v2/attribute_context.proto#L118).

[2019-04-28 15:14] wansuiye opened #13695 "pilot report warning:"got nil value for route 0.0.0.0" and pod can not work well"
**Bug description**
when the pod is injected with proxy, the pilot report warning and pod can not be working well.

[code]
the pilot log:
[code]
the deployment
[code]
And can not find the service's route though "istioctl pc route"

**Expected behavior**
no warning and the pod is running well.

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl

[2019-04-28 15:33] howardjohn commented on #13691
Are you upgrading or a new installer? What is the error?

It doesn't seem like those files have been changed recently and we haven't seen any issues like this before

[2019-04-28 21:48] lei-tang commented on #13674
#13439

[2019-04-29 01:51] dwradcliffe commented on #11324
I got this working by adding a custom rewrite on the destination cluster to map a custom domain back to the expected cluster name. It does require significant orchestration to get the rewrite filters in place though.

[2019-04-29 05:25] peter-c-larsson commented on #12915
I have created a PR to add PVC to prometheus since we are suffering from that in our Istio installation: https://github.com/istio/istio/pull/13698

[2019-04-29 05:26] peter-c-larsson commented on #11974
Created a PR for this here: https://github.com/istio/istio/pull/13698

[2019-04-29 06:05] T-Manson commented on #13637
It's OK after add settings "--set tracing.enabled=true --set tracing.provider=zipkin".

[2019-04-29 06:05] #13637 closed

[2019-04-29 06:39] ardenxu commented on #4941
we run into similar issue with kubelet v1.11.8+istio-1.1.4+docker 1.13.1, and adding "env"option does not work for us, we solved this issue after changing
/etc/sysconfig/docker-storage DOCKER_STORAGE_OPTIONS from overlay2 to devicemapper.

here is the final content:
DOCKER_STORAGE_OPTIONS="--storage-driver devicemapper "

and you need stop kubelet/docker before changing this config, and restart do

[2019-04-29 06:57] cgilmour commented on #6314
Hi @anthonyhaussman, I'd suggest contacting Datadog on support@datadoghq.com if you haven't already done so. That's a more appropriate place than istio's issue tracker.

The things that get checked first are
- if datadog-agent is running as a daemonset or deployment
- if it's a deployment, the spec for the service
- the `istio-sidecar-injector` to make sure it matches those settings
- the running

[2019-04-29 07:54] hzxuzhonghu commented on #12623
[code]

Can use the above config. Btw , the official doc for cluster-aware ,multicluster install guide is not complete.

[2019-04-29 08:06] Kansuler commented on #6593
@vadimeisenbergibm

This is my ServiceEntry and Virtual Service that allows me to establish connection to googleapis.com

[code]

[2019-04-29 09:08] sdake opened #13700 "Evaluate KIND for CNI test cases"

[2019-04-29 09:09] sdake opened #13701 "Move bookinfo tests to KIND"

[2019-04-29 09:10] sdake opened #13702 "Move the install/upgrade to KIND"

[2019-04-29 09:10] sdake opened #13703 "MCP automated stability and install tests"

[2019-04-29 09:14] Tushar120120 commented on #13637
will there be any relation between enabling tracing and making the POD @howardjohn

*****kubectl describe pod httpbin-8c96b975-5hpd4 ***

Name:               httpbin-8c96b975-5hpd4
Namespace:          default
Priority:           0
PriorityClassName:  <none>
Node:               tushar-5/192.168.1.14
Start Time:         Mon, 29 Apr 2019 04:40:43 +0000
Labels:             app=httpbin

[2019-04-29 09:37] Tushar120120 commented on #13052
i am facing same issues with 1.1.1/1.1.2 and 1.1.3 , first pilot was not up, now telemetry is not up.  However Policy is up/

***kubectl describe pod -n istio-system istio-telemetry-5f78bf78b7-btcp9 ***
Events:
  Type     Reason     Age                     From               Message
  ----     ------     ----                    ----               -------
  Warning  Unhealthy  20m (x145 over 145m)

[2019-04-29 10:07] vadimeisenbergibm commented on #12623
@hzxuzhonghu Cool, thank you! I did not know how to specify the "fromRegistry" in this case.

[2019-04-29 10:07] #12623 closed

[2019-04-29 10:14] mailzyok commented on #9504
Met same issue using Istio 1.1.3, the problem happened more than 50% possibility, and we cannot figure out any clue on how it happens.
We use the workaround to put annotation **readiness.status.sidecar.istio.io/applicationPorts: ""** on application deployment spec to skip it for now, but this will cause 503 service unavailable if you access the application port right after deployment.

[2019-04-29 11:07] dsanchor commented on #10858
I just updated to Istio 1.1.2 and dont see this issue anymore

[2019-04-29 11:38] viktorpeacock opened #13704 "Retry policies not being triggered as expected"
**Bug description**

I have the following yaml that defines a retry policy. The retry policy is not being applied when a service returns 503.

[code]
There is an end-point that returns 503 status code with no body every other second.

**Expected behavior**
When calling the end-point via gateway or from another service within a mesh, I would expect ISTIO to apply a retry policy and return a 200OK.

[2019-04-29 11:46] viktorpeacock opened #13705 "Apply a retry policy and a fault injection on the same virtual service"
**Describe the feature request**
I would like to be able to use fault injection and retry policies for testing purposes.

I have a service A that calls a service B. Service B has been configured with a retry policy, i.e. any incoming route into service B should be retried if that service returns a 503.

I now want to validate this configuration via a CI pipeline by getting service A to call servic

[2019-04-29 11:55] esnible commented on #13408
This may be a duplicate of https://github.com/istio/istio/issues/12407 .  I researched this, see my comment at https://github.com/istio/istio/issues/12407#issuecomment-472174065

[2019-04-29 13:13] #12994 closed

[2019-04-29 13:43] morvencao opened #14142 "The new installer doesn't isolating components in different namespaces"
https://github.com/istio-ecosystem/istio-installer#namespaces
The new installer recommends isolating components in different namespaces, however,  if I execute `make install-full`, indeed it creates several namespaces
[code]

However, I found the istio control plane workloads except citadel are located in namespace `istio-control`:

[code]

@costinm Is there any other consideration, if not, let me

[2019-04-29 14:10] frankbu commented on #13474
Maybe this is caused by this recent change? https://github.com/istio/istio/pull/12872

cc @hzxuzhonghu @incfly

[2019-04-29 14:12] dsanchor commented on #12846
I just had same needs and set a workaround (for demo purposes) to configure grpc codes... but the side-effect was that I was forced to lose http ones (due to CEXL and type checking). I commented on this as well:[ CEXL / CEL improvements ](https://github.com/istio/istio/issues/12454#issuecomment-473957417 )

[2019-04-29 14:25] nmittler commented on #13677
Yeah it's Envoy ... we don't create mac new builds for Envoy.  We probably should though.

@PiotrSikora we had discussed this briefly in the past.  Do you recall what is involved?

[2019-04-29 14:36] howardjohn commented on #13680
If you use https://github.com/kubernetes/kube-state-metrics you can do a query like: `rate(kube_pod_container_status_restarts_total{job="kube-state-metrics"}[15m])`

AFAIK this isn't really related to Istio, we don't deal with any kubernetes level metrics, there are already other solutions for those as linked above.

[2019-04-29 14:47] howardjohn commented on #13705
Why is it not possible? Does something like this not work
[code]

[2019-04-29 14:48] trevorlinton opened #13708 "Add x-request-start header header for new relic"
**Describe the feature request**

Some diagnostic services used by our engineering staff rely on a x-request-start header that contains the unix epoch time when a request first arrived.  I've tried adding this with virtual service / rules but with no luck.  It would appear envoy added this support to the proxy itself (https://github.com/envoyproxy/envoy/issues/1966) is this something that can be a

[2019-04-29 15:02] esnible commented on #12803
Removing myself, because we can't write tests for this until we have at least K8s 1.11 in the pipeline.

[2019-04-29 15:03] #12703 closed

[2019-04-29 15:18] howardjohn opened #13709 "Unit Test has external dependency - TestResourceLifecycle"
Ran without internet and got

[code]

Do we need to initialize the Helm repo here?

Also the test galley target depends on `depend` which requires internet as well. Not sure if this is needed - pilot and mixer don't depend on `depend`

[2019-04-29 15:19] howardjohn opened #13710 "Reduce Envoy DNS Requests for STRICT_DNS clusters"
## Problem

For STRICT_DNS clusters, Envoy will send a DNS requests every X seconds (5 by default). DNS lookups in Kubernetes can potentionally involve many requests. This is due to the search and ndots (default 5 in Kubernetes) configuration.

From my findings, the following number of DNS requests are needed

| Request                                                           | Lookups | Reason

[2019-04-29 15:26] esnible commented on #12138
Removing myself because I have no idea how to solve it.

To inventory uses of `cluster.local` in did `find . -name "*.go" -not -name "*_test.go" -not -name "*_mock.go" -not -path "*test*" | xargs grep "^[^/]*cluster.local"` which found 25 occurrences of "cluster.local" that are not comments, tests, or mocks.  I am not sure what do do with them.

[2019-04-29 15:27] #12078 closed

[2019-04-29 15:35] cleverguy25 commented on #9504
This workaround did not work for me at all.
________________________________
From: mailzyok <notifications@github.com>
Sent: Monday, April 29, 2019 3:14:44 AM
To: istio/istio
Cc: Cleve Littlefield; Mention
Subject: Re: [istio/istio] Istio-proxy fails to start with Istio 1.1 (#9504)

Met same issue using Istio 1.1.3, the problem happened more than 50% possibility, and we cannot figure out any clue

[2019-04-29 15:36] cainelli commented on #10360
Got similar issue in 1.0.5 when enabled Istio in a namespace with 140 Pods - The total number of services on this cluster is 180. The difference from the previous comments is that right after the first "ads	Repeated failure to push" log message we started to see an increase in memory utilization of Pilot.

![image](https://user-images.githubusercontent.com/3514984/56907127-ed99bd80-6aa3-11e9-85f6-

[2019-04-29 15:36] dhanvi commented on #6828
Even this isn't working in istio 1.0+

[2019-04-29 15:51] dhanvi commented on #6828
@sdake can you please open this issue by marking it as help wanted ?

[2019-04-29 16:38] dwradcliffe commented on #12305
Duplicate of https://github.com/istio/istio/issues/13028

[2019-04-29 16:38] #12305 closed

[2019-04-29 16:39] howardjohn commented on #12606
This is fixed right? Going to close

[2019-04-29 16:39] #12606 closed

[2019-04-29 16:52] dwradcliffe commented on #13028
@esnible A better error is great, but I think there's an underlying problem here.
If I run multiple pilot replicas, only the one connected to a particular pod has the auth data (it seems).
When I scaled pilot down to 1 replica it immediately started working again. I also ran the authenticationz query on each pilot replica to confirm. Perhaps istioctl should pick the pilot pod to query based on the

[2019-04-29 17:12] esnible commented on #13028
I don't think it is possible to figure out which instance of Pilot is being used by a sidecar.  @dwradcliffe I think it would make sense to ask each Pilot instance and not fail until all running Pilots refused to acknowledge the pod.  Do you agree?

[2019-04-29 17:29] dwradcliffe commented on #13028
If we can't figure out which one to target, yes that makes sense. But how does `istioctl ps` report the connected pilot?
(Also, why does only one pilot have this data?)

[2019-04-29 17:38] douglas-reid commented on #13680
Closing, as this issue appears to be more directly related to k8s than istio and a suggestion has been provided.

[2019-04-29 17:38] #13680 closed

[2019-04-29 17:46] howardjohn commented on #13710
Some more follow up after talking with @costinm and @fpesce.

In all our [documentation](https://istio.io/docs/tasks/traffic-management/egress/#access-an-external-https-service) we recommend using `resolution: DNS` on ServiceEntry to expose external services. This means that when doing `curl google.com`, curl resolves `google.com` and sends to the request to Envoy which uses its own DNS resolution

[2019-04-29 18:16] esnible commented on #13028
@dwradcliffe `istioctl ps` literally calls `AllPilotsDiscoveryDo()` while `istioctl authn tls-check` only calls `PilotDiscoveryDo()`.

[2019-04-29 18:18] ozevren commented on #13709
The helm based setup is(was) just a copy of what we had in the Makefile for test setup. If it has changed, we should change the one in the framework as well. (It has gone through quite a bit of churn, it is possible that helm repo access is not needed anymore). So, as of the time the component was written, this was required; it may not be so right now.

As for the test itself, I am removing it in

[2019-04-29 18:20] marcin-kasinski commented on #13474
Problem " Prober does not exists " exists with istio 1.1.4 too.

[2019-04-29 18:24] esnible commented on #13329
I had intended to make heavy use of JsonPath {range} extension the destination rule subset generator work but ran into difficulties with https://github.com/kubernetes/client-go/issues/594 .  Trying to rewrite without ranges.

[2019-04-29 19:14] therealmitchconnors opened #14006 "Replace gopkg and dep with go modules"
Istio projects are moving to go modules for dependencies, and the tools repo should follow suit.

[2019-04-29 19:40] venilnoronha commented on #13649
/sub

[2019-04-29 19:47] #13408 closed

[2019-04-29 19:56] gargnupur commented on #13503
What are the success and failure numbers you are seeing with your config?

[2019-04-29 19:58] gargnupur commented on #11430
This PR fixed this: https://github.com/istio/istio/pull/13247

Closing it for now..

[2019-04-29 19:58] #11430 closed

[2019-04-29 20:48] jnativio commented on #13474
I have hit this problem too with 1.1.3, and it works with 1.1.2. I don't think this is caused by PR #12872 as it was merged on master but not on 1.1 branch.

[2019-04-29 21:15] michaelkipper commented on #12348
I'm seeing this issue in a dev cluster, with 600 endpoints (200 replicas x 3 deployments).
Namespace isolation probably isn't an issue here because there are only 2 namespaces, 400 endpoints in one, 200 in the other.

[2019-04-29 21:22] johnma14 opened #13714 "Update the docker build commands in the sample apps Dockerfile to always pull newer version of images to get the latest security updates of base images"
**Bug description**
Scanning of docker images using our image scanning tool: http://imagescanner.cloud.ibm.com revealed several security vulnerabilities for the bookinfo-reviews sample applications. The base image used for this sample app is correctly tagged to pull the latest version of websphere-liberty (web sphere-liberty:latest) but the docker build command need to be updated to use the --pull

[2019-04-29 21:32] michaelkipper commented on #12382
Another datapoint for this issue:
<img width="552" alt="Screen Shot 2019-04-29 at 5 06 39 PM" src="https://user-images.githubusercontent.com/24932723/56927953-6ba99480-6aa3-11e9-9ab8-db2a0335c678.png">
Above: Scaling up a deployment from 100 to 150 to 200 replicas.
At 100 & 150 replicas, each replica can sustain 2 RPS. But at 200 replicas, we cannot sustain 2 RPS, and the logs are riddled with tho

[2019-04-29 21:47] yangminzhu commented on #13028
@dwradcliffe @esnible
We're planning to change the `istioctl auth` in the following directions:
- check the Envoy config to detect potential mTLS problems directly, so that we don't rely on Pilot at all, then multiple pilot instances won't be a problem,
- get the policy from galley instead of pilot as galley is the central point for config processing since Istio 1.1, but we might still have the pr

[2019-04-29 22:08] ibm-jason commented on #9363
@ayj not sure if this is needed any longer. @costinm, @hklai can you confirm?

[2019-04-29 22:14] sdake commented on #9504
Would someone that is suffering from this issue with Istio 1.1.3 please try @hzxuzhonghu 's PR?  He has built an image for testing.

Simply render the manifest as follows:
[code]

and then`kubectl apply -f $HOME/rendered.yaml`

Cheers
-steve

[2019-04-29 22:18] mandarjog commented on #12382
I think the issue here is with the client code running inside the pilot agent.
`/stats?usedonly=true` should not timeout ordinarily.

[2019-04-29 22:18] kyessenov commented on #12773
Deprecation warnings should be covered as part of https://github.com/istio/istio/issues/10746.
We need a general mechanism for warning about API deprecations across istio, not just for Mixer custom CRDs.

[2019-04-29 22:19] #12773 closed

[2019-04-29 22:41] sdake commented on #9504
@brightzheng100 1.1.3 works for me.  This issue seems intermittent and is effecting a large portion of deploymments.

I'd encourage folks suffering from this problem to please try @hzxuzhonghu's debug image if you have a staging environment.
[code]

[2019-04-29 22:48] ndhanushkodi commented on #13559
Do you all think you'd consider a PR  at this point with configuring Pilot with config types to start with, and at the next config working group meeting we can bring up the possibility of discovery for resource types for the long term?

[2019-04-29 22:51] gdhagger commented on #9504
I get this issue pretty reliably with one of my helm charts that updates multiple kubernetes deployments in parallel.  The issue never seems to occur when individual pods are coming up, only when a bunch are launched at the same time.

I'm now testing the image `zhhxu2011/pilot:debug` in my dev environment and it looks good at first glance, but will need to wait for several deploys to go through b

[2019-04-29 23:04] PiotrSikora commented on #13677
Prow, which we use to build releases, doesn't support macOS. The releases that are available were created and uploaded manually, which isn't great.

cc @utka

[2019-04-29 23:05] howardjohn opened #13717 "Overlapping Gateway HTTPS hosts causes ACK ERROR, rejecting full listener"
Pilot gives
[code]

Relevant part is `multiple filter chains with effectively equivalent matching rules are defined`.

This causes the full 0.0.0.0_443 listener to be rejected, effectively breaking all ingress traffic.

Reproduce with:
Follow steps in https://istio.io/docs/tasks/traffic-management/secure-ingress/mount/ to create secret

Make Gateway config:
[code]

`--set global.proxy.image=istio/

[2019-04-29 23:24] PiotrSikora commented on #13717
@howardjohn could you paste config that's pushed to Envoy? I believe it should show up in k8s logs when Envoy is logging at the `trace` level.

[2019-04-29 23:34] aaronjwood commented on #11498
Scratch what I said above, I seem to have an even deeper issue. My virtual service config is not making it to Envoy...

[2019-04-29 23:36] mandarjog commented on #13422
@philrud can you take a look at this?

[2019-04-29 23:38] aaronjwood commented on #11498
Well, I figured out why this was happening. I have two gateways and one of them is for this websocket thing. When I deleted the other gateway everything started flowing in. It seems that having multiple separate gateways poses a problem in this scenario. Is this something that's not supported anymore?

[2019-04-29 23:42] silentdai commented on #13717
I am wonder if a proper fix is to reshape the generated config at pilot.
I don't have the log to confirm but I highly suspect that there will be two filterchains of which
Port-DesitationPort-DestinationIP are the same, while beneath that tree node,
the first filter chain add "httpbin.example.com" node first, and then the second filter chain try to add 2 nodes with "google.com" and "httpbin.example

[2019-04-29 23:56] silentdai commented on #13717
@howardjohn @costinm
Let's suppose the envoy did not throw exceptions somehow,
If a connection is hitting httpbin.example.com, what would envoy choose to reach access httpbin?
Another way to ask is what if secret is different(although the comment says it must be same)?

[2019-04-29 23:57] howardjohn commented on #13717
Filter chains are matched in order, which is the same order specified in the Gateway config

[2019-04-30 00:11] howardjohn commented on #13717
Tried to reproduce this with simpler set up1.1.4, default install
[code]
Now I get `Error adding/updating listener(s) 0.0.0.0_443: error adding listener '0.0.0.0:443': multiple filter chains with the same matching rules are defined`

[2019-04-30 00:15] PiotrSikora commented on #13717
@howardjohn Filter chains are NOT matched in order, it's a decision tree.

[2019-04-30 00:18] howardjohn commented on #13717
@PiotrSikora thanks, you are right. I thought I read that recently. docs are at https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/listener/listener.proto#listener-filterchainmatch

[2019-04-30 00:21] PiotrSikora commented on #13717
This seems to be working as expected, the same host cannot be used in two otherwise equivalent filter chains, since the selection between the 2 would be impossible.

I don't think it was working before envoyproxy/envoy#6022 either.

Why do you think this is an issue?

[2019-04-30 00:23] howardjohn commented on #13717
Here is the config generated by istio-proxy 1.1.2

[code]

After my previous comment with the PASSTHROUGH gateway config, I think the following:

* Istio should reject these configs
* Envoy still has a bug. It should fail with `multiple filter chains with the same matching rules are defined` not the error we get - it just happens to be caught by that change.

[2019-04-30 00:27] silentdai commented on #13717
With extra changes we might make filter chain in order. However, is the order based match we must promise?

Some alternative approach:
- Make it an istio side undefined behavior, so envoy is free to build the filter chain match tree as long as envoy doesn't throw exception.
- Reject user request. It is unknown to me if istio could detect this improper config when there is stale state.

[2019-04-30 00:35] dwradcliffe commented on #13028
@yangminzhu That seems good to me. Each galley should have the same config, so in theory that's fine. (I'm still not sure why each pilot doesn't have the same config)
What's the timeline for this?

[2019-04-30 00:50] silentdai commented on #13717
As we already broke the first match rule for long, we could explore options in parallel
- istio: Determine the what is the best the users. It's not that bad if istio wrongly rejected at small chance, but it is terrible if the spec pass the validation but lead to chaos. Should also considered if it is easy to sanitize the spec. I would be crazy if I submit a 10K line spec but the response is "not v

[2019-04-30 01:32] hitesh1907nayyar commented on #13617
Hi @howardjohn
Thanks for all your help.
In addition , can you please also help in let me know as how can i reconfigure hpa setting for telemetry using values.yaml. Presently it is having max 5 pods . I need to increase to 20. The method you mentioned is using set values. I need to have done this configuration through values.yaml

[2019-04-30 01:35] howardjohn commented on #13617
https://istio.io/docs/reference/config/installation-options/#mixer-options set `mixer.telemetry.autoscaleMax`

[2019-04-30 01:53] yangminzhu commented on #13028
@dwradcliffe
I'm not sure about the pilot part either. For the new tool, I just checked in the first PoC PR (https://github.com/istio/istio/pull/12774) last week, will need to come up with a doc and discuss it in the user experience group. Generally, we're aiming for 1.2.

[2019-04-30 02:47] liu-sheng commented on #6650
I have met same issue in 1.4.1 k8s cluster deployed by kubeadm.

[2019-04-30 04:13] brightzheng100 commented on #9504
I upgraded to v1.1.4 but it's still reproducible if we installed Istio by `-f values-istio-minimal.yaml`.

For example:
[code]

It works if we enabled more features, for example:

[code]

So the issue might be caused by missing something required and the file under `install/kubernetes/helm/istio/values-istio-demo.yaml` must be updated to remove the confusion.

[2019-04-30 05:26] gokhansengun opened #13719 "EnvoyFilter causes HTTP 500 with content bigger than 500K"
Adding an EnvoyFilter and referencing `response_handle:body()` in Lua filter causes HTTP 500 error though the same Http Lua filter works well when setup only with Envoy without Istio.

It seems that the problem only happens with response sizes over 500KB. With smaller (20, 30K) responses, no problems at all. Also without referencing `response_handle:body()` in Lua script, no problems seen.

Reprod

[2019-04-30 05:56] petomalina opened #14005 "Installing kubetype-gen results in a type inconsistency error after repository clone"
Hi, this is a full log from my console. I got it to work after running `dep ensure`, but I believe this shouldn't be needed as vendor packages are committed in the repo.

[code]

[2019-04-30 07:36] liamawhite commented on #13677
We (Tetrate) will be building macOS istio proxies soon. I wonder if Istio could leverage some of our infra? cc @lizan.

[2019-04-30 08:17] Bulls1986 commented on #13503
It is not fixed value.

I try to test 5 times.

the result following:
total success Failure
100 85 15
100 82 12
100 80 20
100 83 17
100 86 14

the error messages are "429 Too Many Requests".

I use The Jmeter 5.0 r1840935
The Thread properties is 100 Threads,1 Loop Count and 1s Ramp-up Period.
So I think they should all succeed but they shouldn't.

[2019-04-30 08:26] rshriram commented on #13704
per try timeout is bound by the total timeout. you have to specify the request timeout in virtual service.

[2019-04-30 08:33] viktorpeacock commented on #13704
Hi, doesn't yaml specify that we want to retry on 503, regardless of the timeout values? Why do we need to specify a request timeout?

[2019-04-30 09:50] robertpanzer opened #13722 "Istio-Proxy segfaults on simple Lua scripts"
**Bug description**
After configuring a very simply Lua script the Istio Proxy crashes with a segfault.

**Expected behavior**
A Lua script should never make the proxy crash, the script may fail and result in an HTTP 500, but it should never crash.

**Steps to reproduce the bug**
First create a Service that is available externally via the ingress gateway:
[code]

Afterwards configure this EnvoyFil

[2019-04-30 09:54] hitesh1907nayyar commented on #13617
Hi @howardjohn ,
Thanks for your reply. In additon to this i need to increase the cpu request for istio telemetry. How to acheive that. If i see the link  that you shared above then mixer.telemetry.resources.requests.cpu has 1000m but when i see my istio-telemetry POD using describe it shows me 10m

 Ready:          True
    Restart Count:  0
    Requests:
      cpu:     10m
    Liveness:  http-ge

[2019-04-30 10:20] lsjostro commented on #13125
Can confirm the same behavior using https://github.com/istio/istio/blob/master/samples/certs/Makefile to generate intermediate ca certs.

[2019-04-30 10:32] mikesimons commented on #11659
@stono Have you observed the sidecar living for a while after receiving quitquitquit? Ours are living for another minute or so before exiting (although 15000 gets closed immediately).

We're also getting log spam on Completed jobs until we delete them:
[code]

[2019-04-30 10:34] Stono commented on #11659
Yeah so we also have a liveness probe that looks for 15000 listening and if
it's missing exits.

It's hacky.

On Tue, 30 Apr 2019, 11:33 am Mike Simons, <notifications@github.com> wrote:

[2019-04-30 10:36] lsjostro commented on #13125
and here is the issue, https://github.com/istio/istio/blob/8d82dbe6377f2ab8ea24a12b9ef0c0a1f7cd2f13/security/pkg/pki/ca/ca.go#L326

[2019-04-30 11:00] hitesh1907nayyar commented on #13617
@howardjohn
I am using this values.yaml for reference:

gateways:
  istio-ingressgateway:
    ports:
    - port: 80
      targetPort: 80
      name: http2
      nodePort: 31381
    - port: 443
      name: https
      nodePort: 31390
mixer:
    telemetry:
        autoscaleMax:10
mixer:
    telemetry:
        resources:
            requests:
              cpu: 2000m
servicegraph:
  enabled: true
gra

[2019-04-30 12:18] rshriram commented on #13704
You dont have to. But in your example, you explicitly specified a per Try timeout of 10s, while omitting the request level timeout.

[2019-04-30 12:35] Tushar120120 commented on #12880
Yes, can we have this.
As per "https://docs.giantswarm.io/guides/deploying-istio/"

Some of them, as pilot, have a large impact in terms of memory and CPU, so it is recommended to have around 8GB of memory and 4 CPUs free in your cluster. Obviously, all components have requested resources defined, so if you don’t have enough capacity you will see pods not starting.

[2019-04-30 12:50] gokhansengun commented on #13719
Addendum: in trying the Envoy alone with Lua filter, I am using the same container image (istio/proxyv2:1.1.3) as what Istio uses. Besides I do the Envoy-alone test inside a container, so it seems to eliminate a runtime or an OS issue.

[2019-04-30 14:10] rokerkony commented on #11107
Hey guys, we have the same issue that all the data are lost after restart... We are using istio's chart, but maybe would be good to migrate here smth from the "default chart"?
https://github.com/helm/charts/tree/master/stable/prometheus

[2019-04-30 14:26] esnible commented on #11130
Removing myself because I am not a sidecar networking guru.  That is what we need for this item.

[2019-04-30 14:32] esnible commented on #10872
https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/ says that `kubectl explain` works on custom resources in Kubernetes 1.14 if `--feature-gates=CustomResourcePublishOpenAPI=true`.  Removing myself because I don't have a Kubenetes 1.14 to experiment with.

[2019-04-30 14:33] howardjohn commented on #13617
Are you using Istio 1.0.x? If so you need to follow https://archive.istio.io/v1.0/docs/reference/config/installation-options/.

Note there are no configurable requests in the 1.0.x release it looks like.

[2019-04-30 14:47] howardjohn commented on #13717
Istio: we can pretty easily add validation here. Probably in https://github.com/istio/istio/blob/master/pilot/pkg/model/gateway.go.

Envoy: Either reject all or reject none. Right now we have a weird scenario where some stuff is rejected but some is not. Given Istio will validate, which one it doesn't doesn't matter too much?

[2019-04-30 14:49] robertpanzer commented on #13722
I tested the same minimal config with a plain Envoy from the latest image of `envoyproxy/envoy`, but I could not reproduce the error with it.

[2019-04-30 15:24] ericvn commented on #13139
The changes as noted depend on a cobra PR spf13/cobra#828. Not seeing any traction on the PR, and from the UX workgroup, @therealmitchconnors communicated with Steve (owner of the repo):
[code]

Based on that feedback, I created a number of branches to figure out ways to move forward:

1) Fix the broken _cobra_ zsh completion. The current file generated by the cobra _GenZshCompletion_ does not wor

[2019-04-30 15:47] lukeforehand commented on #7659
We are suffering from this bug and unable to move Istio into production until we can debug and resolve.

[2019-04-30 16:07] ericvn commented on #13139
@linsun @kyessenov @andraxylia @costinm @esnible

Can I get some feedback on the previous comment relative to the options. Feel free to add others as needed.

Thanks.

[2019-04-30 16:54] johnma14 commented on #13714
In all the examples-bookinfo-reviews-<tag>, they use the base-image websphere-liberty:latest to build these sample app images. The websphere-liberty:latest image has the latest versions, 1.0.2g-1ubuntu4.15 and 229-4ubuntu21.16 that address the security vulnerabilities mentioned above (https://github.com/docker-library/repo-info/blob/master/repos/websphere-liberty/local/latest.md). If you build a n

[2019-04-30 17:00] linsun commented on #13139
Giving 1) doesn't work for flags and 2) drags on large dependency and potentially increase on istioctl binary, I'd vote for 3.

[2019-04-30 17:12] pitlv2109 opened #13726 "PRs are being blocked from merge because prow tests are stuck"
Prow tests were somehow turned off yesterday, now they are stuck with `Expected — Waiting for status to be reported`, causing approved PRs not being merged. For example: https://github.com/istio/istio/pull/13683. Posting here besides Slack for visibility, awareness, and better tracking.

[2019-04-30 17:46] gokhansengun opened #13728 "EnvoyFilter request/response hooks called twice"
Setting up a simple EnvoyFilter and adding request/response hooks result in them being called twice instead of once.

Issue exists starting with 1.1.0 onwards including latest 1.1.4, did not test it before 1.1.0. Same setup with bare Envoy (using the same Docker image as Istio) does not exhibit the behaviour.

Reproduction is pretty straightforward:

- Install Istio 1.1.4
- Install BookInfo sample

[2019-04-30 17:49] mbanikazemi commented on #13581
Fix merged.

[2019-04-30 17:49] #13581 closed

[2019-04-30 17:51] howardjohn commented on #13717
By the way, not sure if this was clear, but this does not apply for HTTP. HTTP we don't create a fitler chain match, and instead match everything on the port and direct to the routes, where this is already handled properly

[2019-04-30 18:09] silentdai commented on #13722
lua is not running in the sandbox mode. It's not realistic to expect **A Lua script should never make the proxy crash** But for this particular case envoy should not crash. Looking

[2019-04-30 18:23] vadimeisenbergibm commented on #7659
@lukeforehand Could you please specify the Istio version and what does not work? An example configuration? Does the [Istio egress task](https://istio.io/docs/tasks/traffic-management/egress/) for you?

[2019-04-30 18:51] silentdai commented on #13722
I saw your created issue https://github.com/envoyproxy/envoy/issues/6373

So probably it is fixed in envoyproxy upstream.

[2019-04-30 18:59] robertpanzer commented on #13722
Yes, right. I already forgot about that. :)
But that issue exlusively occurred on OSX and I could not reproduce it on Linux.
Also all stack traces that I see here are always unrelated to Lua itself.
Here it seems like all errors are around destruction of thread locals, `~ThreadLocalData()` is the root of the stack trace in both cases above.

[2019-04-30 19:01] robertpanzer commented on #13722
Meaning, I might be wrong, but currently I cannot imagine that this is a dupe of envoyproxy/envoy#6373

[2019-04-30 19:09] duderino commented on #13722
1.1.3 and 1.1.4 are both built against code that is publicly available.  Both 1.1.3 and 1.1.4 use the same version of envoy too.  So one of these commits introduced the problem for macos:   https://github.com/envoyproxy/envoy/compare/925810d00b0d3095a8e67fd4e04e0f597ed188bb...ac7aa5ac8a815e5277b4d4659c5c02145fa1d56f

@PiotrSikora @silentdai

[2019-04-30 19:16] robertpanzer commented on #13722
Just to repeat that in case I was unclear (sorry about that):
This issue is not about a crash on OSX!
The crash happens when running istio-proxy in Istio on K8s.
I can also reproduce it if I run the istio-proxy Docker image 1.1.4 with a static Envoy configuration that doesn't use any mixer plugin, but only the Lua filter.

Sorry, I probably got this wrong, my understanding from the discussions on

[2019-04-30 19:26] incfly commented on #13474
https://github.com/istio/istio/commit/f724bc3e1a9e8cc621809a8b56fa9cbde2f309aa#diff-c1bdb159b354a382bbfe6a0bb13863b8R79

This line seems wrong to me... But it was introduced since 1.1.0, does not match the description that it was a regresssion between 1.1.3 and 1.1.2...

[2019-04-30 19:39] incfly commented on #13474
I'll try it myself some time later today. Let me try to summarize the reproducing setup,

- Deploy an app, maybe httpbin should work?.
- Declare nodeport service.
- Access using `node_ip:service_port` will not work.
- Binding with gateway/virtualservice, will work.
- And this bug was introduced between 1.1.2 and 1.1.3

Seems gateway is not related to this bug because it's working as before? We can

[2019-04-30 19:43] incfly commented on #13474
Also by the way, what's the Helm installation profile you're using? Do you use `sidecarInjectorWebhook.rewriteAppHTTPProbe` = true?

[2019-04-30 19:45] arianmotamedi commented on #9113
@emedina @jaygorrell did either of you get a chance to try out `idleTimeout`? Did it help with the overall rate of 503s?

[2019-04-30 19:47] mobilitie commented on #13526
I ran into two issues when installed with CNI
1) tar build file doesn't exist as mentioned in docs for both 1.1.3 and 1.1.4 ( Too BAD  )
2) Gallery, policy and telemetry pods go into crashbackloop because it doesnt have communication to proxy , probably because of CRD's, which i thought was part of istio-init

There could be 1 or 2 extra steps but below are the sequential  manual steps i followed

[2019-04-30 19:49] arianmotamedi commented on #13598
This might be related to https://github.com/istio/istio/issues/13710.

[2019-04-30 20:03] ceastman-ibm commented on #13710
For my IBM cloud cluster, i switched from kube-dns to coredns and that cleared up the issues i was having. From what I have read coredns is much better at external dns lookups than kube-dns.

[2019-04-30 20:25] lukeforehand commented on #7659
Istio version 1.1.4.  We have an existing Service kind defined with a port
"443" named "grpc".  After injecting an istio sidecar on a pod with no no
other istio resources created, attempts to curl https://www.google.com
result in `SSL23_GET_SERVER_HELLO:unknown protocol`  I searched the pilot
discovery log and found:
[code]
I used `istioctl proxy-config listeners` and `istioctl proxy-config routes

[2019-04-30 20:28] jnativio commented on #13474
I use the default value for this which is `false`

[2019-04-30 20:30] fpesce commented on #10160
@costinm any update on this? Is this about refactoring/renaming NetworkEndpoint in the code? It seems like IstioEndpoint is the easiest to remove (from a quick grep), should we consider that bug to Nebulous future instead of 1.2 (freeze is coming soon).

[2019-04-30 20:31] jnativio commented on #13474
The application I use does not have liveness probes. Here is the gateway and virtual services definition:
##################################################################
# Gateway for Acmeair
##################################################################
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: acmeair-gateway
spec:
  selector:
    istio: ingressgateway # use

[2019-04-30 20:33] #13171 closed

[2019-04-30 20:37] jaygorrell commented on #9113
I did, thanks! Setting it to 3s (nodejs server is 5s) eliminated 100% of my errors _during runtime_. I did continue to get some 503s but was able to correlate them with deployments and tracked that down to an Envoy issue: https://github.com/envoyproxy/envoy/issues/6726

[2019-04-30 20:57] howardjohn opened #13735 "Bad listener config segfaults istio-proxy 1.1.2"
Steps to reproduce:
* Install Istio 1.1.4
* `helm upgrade istio install/kubernetes/helm/istio --namespace istio-system --set global.proxy.image=istio/proxyv2:1.1.2`
* Some variation of killing pilot and ingressgateway

Seems to only happen on ingressgateway

[code]

Still investigating root cause and how to consistently reproduce. The failures to connect to pilot are NOT the issue, I had purposely

[2019-04-30 21:00] rafik8 commented on #13279
@esnible, could you assigned to me?

[2019-04-30 21:05] quanjielin commented on #12674
this is done.

[2019-04-30 21:05] #12674 closed

[2019-04-30 21:10] howardjohn commented on #13735
I think it is less to do with the timing of pilot, and more to do with this config:
[code]

[2019-04-30 21:39] frankbu commented on #13474
@jnativio How are you accessing the service when you get the prober does not exist error? Are you also only seeing the problem when using a nodeport to access the service?

[2019-04-30 21:40] cjwagner commented on #13726
The root issue has been resolved. You can use `/test all` to trigger tests on PRs where they are currently missing.

[2019-04-30 22:19] howardjohn commented on #13735
Pilot 1.1.4 + Proxy 1.1.3 does not crash, config is rejected with `multiple filter chains with effectively equivalent matching rules are defined`
Everything on 1.1.2 DOES crash

[2019-04-30 22:28] pitlv2109 commented on #13726
Looks like it's been fixed. Thanks Cole.

[2019-04-30 22:28] #13726 closed

[2019-04-30 22:29] monubamb commented on #13485
Hello.. Any update on this either way.. If dynamically updating PILOT config is not possible.. that is ok.. but i need to know before we finalize architectural decision.

[2019-04-30 22:38] silentdai commented on #13735
That make sense. One of the fundamental goals of the config rejection is to simplify the heap management.

I am trying to watch the source code of 1.1.2 to confirm, but I remember istio.deps was lying in some version. Is this correct? https://github.com/istio/proxy/blob/1.1.2/istio.deps#L14

[2019-04-30 22:48] howardjohn opened #13739 "Modifying gateway servers causes envoy PROTOCOL ERROR, excessive ADS pushes"
On 1.1.4

These both repeats a few times a second, for roughly a minute (I think its related to the drain time):
Pilot Logs:
[code]
Proxy logs:

[code]

Pilot finally ends with
[code]

Steps to reproduce:
Apply this config:
[code]
Then apply this config:
[code]

Aside from major log spam, it is also triggering a new push ~5 times a second

[2019-04-30 23:04] silentdai commented on #13735
From the stack trace `ListenerImpl::initalize()` and what is described in https://github.com/envoyproxy/envoy/pull/6360

We definitely want this PR in 1.1.5, with or without Harvey's config rejection.

[2019-04-30 23:05] howardjohn commented on #13717
The reason the config I posted above with PASSTHROUGH is rejected in 1.1.2 is because I have no VirtualService for google.com, so it gets filtered out. Then the two filterChainMatches are *exactly* the same, not just that they have some overlap. A quick look at the code confirms the check is just an exact equality check.

[2019-04-30 23:09] sbezverk commented on #13679
@Stono Curious how busy is your cluster? Is there a high churn of pods come and go? Where this IP belongs 35.204.188.215?

Can you get kubelet logs grep for `10.194.39.17`? Would be interesting to correlate k8s event with discovery log.

[2019-04-30 23:11] incfly commented on #10210
It's not officially deprecated. We need a few tweaks to make it work again. I recently get it working on master branch. I plan to update the doc with automation in 1.2 release, but if anyone is interested in getting 1.1.x release working, we probably can do it (assuming it fits release schedule although)

Re AWS, I haven't tried it on AWS, but I believe we just need to make `istioCP` command worki

[2019-04-30 23:26] Kampe commented on #6593
Yup here that is
`apiVersion: networking.istio.io/v1alpha3
kind: ServiceEntry
metadata:
  name: external-svc-https
spec:
  hosts:
  - www.googleapis.com
  location: MESH_EXTERNAL
  ports:
  - number: 443
    name: https
    protocol: TLS
  - number: 80
    name: http
    protocol: HTTP
  resolution: DNS
`

[2019-04-30 23:35] jnativio commented on #13474
@frankbu This is my ingressgateway service:
root@dal10-vsi1:/mount/istio_regpatrol# kubectl -n istio-system get svc istio-ingressgateway
NAME                   TYPE           CLUSTER-IP       EXTERNAL-IP      PORT(S)                                                                                                                                      AGE
istio-ingressgateway   LoadBalancer   172.21.2

[2019-05-01 01:24] #13562 closed

[2019-05-01 03:20] hitesh1907nayyar commented on #13617
Hi @howardjohn
Thanks for the reply. I was using 1.0.4 istio . I was able to resolve the issue. But now the problem is something else. I have enabled hpa for prometheus and grafana using kubectl. Even though it ran sucessfully as soon as I see the grafana dashboards then the chart appears to show inconsistent trends. All the graphs shows distorted results on every referesh. Can you suggest any app

[2019-05-01 03:23] howardjohn commented on #13617
Best way to debug would be to run the same queries in Prometheus and see if those are consistent, so we can see if issue is in prom of grafana

[2019-05-01 04:42] trevorlinton commented on #13589
@howardjohn thoughts?

[2019-05-01 04:52] howardjohn commented on #13589
I agree with what you said, Istio isn't a proxy by the rfc definition

Seems like a bug but probably something to change in Envoy rather than Istio?

[2019-05-01 06:17] vadimeisenbergibm commented on #6593
@Kampe But in https://github.com/istio/istio/issues/6593#issuecomment-486523767 you show output of connecting to `accounts.google.com`, not to `www.googleapis.com`. If you want to connect to `accounts.google.com`, you have to use this host in the ServiceEntry.

[2019-05-01 06:30] vadimeisenbergibm commented on #7659
@lukeforehand Great, you found the problem. First, the port names are important in Istio, see https://istio.io/docs/setup/kubernetes/prepare/requirements/. So you have to use port names according to the Istio expectations for all your services.

Second, as far as I can see, Istio treats GRPC as HTTP, according to
https://github.com/istio/istio/blob/7d61672e25a28b0fa49ef2091f5b49703307572f/pilot/pk

[2019-05-01 08:58] viktorpeacock commented on #13705
Hi @howardjohn ,

It doesn't seem to work. Fault injection works on its own and retries work on their own as expected, but not the two combined. I have a fault that is injected 80% of the time. I then have a retry policy that retries 1,000 times (complete overkill), so that if 8 out of 10 calls fail, I then retry up to a 1,000 times until I get a 200OK. With this scenario I'd expect to see no 503

[2019-05-01 09:25] BlueMaverick opened #13742 "wrong helm release in istio docs while enabling mesh expansion"
**Bug description**
helm release name istio is used while installing istio.
--Command: helm install install/kubernetes/helm/istio --name istio --namespace istio-system \
    --values install/kubernetes/helm/istio/values-istio-demo.yaml
--URL: https://istio.io/docs/setup/kubernetes/install/helm/

But during mesh expansion, release name is used as istio-system.
--Command: helm upgrade --set global.m

[2019-05-01 13:47] mikebryant opened #13744 "DestinationRule of type PASSTHROUGH breaks with istio >= 1.1.3"
**Bug description**

A DestinationRule with of type PASSTHROUGH

breaks CDS downloads to sidecars

pilot log:
[code]

A pilot diff shows:
[code]

**Expected behavior**

This should work as it did in istio 1.1.2

**Steps to reproduce the bug**

Create an object with these fields
[code]

**Version (include the output of `istioctl version --remote` and `kubectl version`)**

[code]

**How was Istio in

[2019-05-01 14:13] trevorlinton commented on #13589
I can open an issue on envoy, link the tickets, we'll see where we land, for now if its alright to leave this ticket up to let other teams comment that would be helpful.

[2019-05-01 14:19] xelfe commented on #13279
Same here. I had to use {} for --set grafana.ingress.hosts . ex: --set grafana.ingress.hosts={theoneiwant.com}
If I dont, I got this message;

`Error: render error in "istio/charts/grafana/templates/ingress.yaml": template: istio/charts/grafana/templates/ingress.yaml:19:30: executing "istio/charts/grafana/templates/ingress.yaml" at <.Values.ingress.host...>: range can't iterate over thehostiwant.c

[2019-05-01 14:23] trevorlinton commented on #13589
@howardjohn If you'd like to expand what envoy would need to fix it would help, I've opened a ticket for them here: https://github.com/envoyproxy/envoy/issues/6767

[2019-05-01 14:40] esnible commented on #13279
@rafik8 I can't assign you.  You aren't a choice -- this happens with new people.  I assigned myself but you can do the work and submit the PR, which I will mark as ok-to-test.

[2019-05-01 15:02] howardjohn commented on #13744
If this broke in 1.1.3 and worked in 1.1.2 it may be related to https://github.com/istio/istio/pull/12766/files

[2019-05-01 15:08] howardjohn commented on #13744
Can you provide the output of:
`istioctl pc endpoints istio-ilbgateway-7c6687bc5d-6zvhn.istio-system --port 53 -ojson`

[2019-05-01 15:20] dwradcliffe commented on #9597
ref: https://github.com/istio/istio/pull/8252

[2019-05-01 15:32] howardjohn commented on #13744
Looks like we call updateEds
https://github.com/istio/istio/blob/be080911d101fb67f80d5b7bb5cbcf5cafcdd1f0/pilot/pkg/networking/core/v1alpha3/cluster.go#L191

Before applyTrafficPolicy, where we set the LB policy to passthrough.

So every cluster is treated as EDS cluster. This doesn't seem right?

@rshriram @hzxuzhonghu any idea if this is intentional?

[2019-05-01 15:56] mikebryant commented on #11841
We're getting very stuck on this issue. We're trying to get single control plane multicluster working, and what we can see in the endpoints for pilot is both the local (cluster1) ones and also an endpoint for the gateway of cluster2.

We believe this is because we do have a Service/Endpoints object in cluster2, configured statically to point at the cluster1 gateway for the initial bootstrap

Then

[2019-05-01 16:17] jeremygiberson commented on #12761
@esnible can you elaborate what the typo is? I seem to be experiencing this issue but I'm not sure how to resolve it.

[2019-05-01 17:08] mikosa opened #13749 "httpredirect on error"
**Describe the feature request**
Suppose I have service1 receiving traffic through a gateway.
I need a way to redirect the traffic to another service or url in case there is an error 400 or 500 received from service1

**Describe alternatives you've considered**
I have seen that virtualservice supports retries in case of errors, but the httpredirect does not support on condition there is an error

[2019-05-01 17:22] marshallford commented on #12761
@jeremygiberson I ran into this error because I used the `sds` installation profile thinking that would configure the ingress gateway to pick up secrets created by cert-manager. After re-reading the [docs](https://istio.io/docs/tasks/traffic-management/secure-ingress/sds/#configure-a-tls-ingress-gateway-using-sds) I realized my mistake. Be sure to enable SDS for the ingress gateway specifically. C

[2019-05-01 17:23] Jonathan34 opened #13751 "unknown field "trigger_rules" in v1alpha1.Jwt"
**Bug description**
[code]
`unknown field “trigger_rules” in v1alpha1.Jwt`
Also tried with `triggerRules` as camelCase seems odd but no go.

**Expected behavior**
trigger_rules is applied.
Even better, i d like to exclude a service using targets.

**Steps to reproduce the bug**
deploy he policy above.

**Version (include the output of `istioctl version --remote` and `kubectl version`)**
`Error: un

[2019-05-01 17:25] Stono commented on #13679
Sorry mate, logs are long gone now as this happened 4 days ago.
We had relative high churn at the time as we were rolling out a new sidecar, so every deployment was being patched one by one to do a rollout.

But, pilot never went above 15% CPU and 10% RAM.

[2019-05-01 18:14] esnible commented on #12761
@jeremygiberson The problem is that If using `credentialName:`, the secret must exist.  If the secret doesn't exist Envoy will be unable to retrieve it, and it will put `""` into a field that must contain a non-empty string.

Unfortunately Istio can't validate that the secret exists, because the secret and the Gateway might not be created in order.

[2019-05-01 18:26] fpesce commented on #10592
@wattli it looks like the merged PR  #10949 changed and reverted the image used, eventually just updating some dependency (ca-certificates), can you confirm this ( #10592 )  is *not* fixed?

[2019-05-01 18:40] wattli commented on #10592
This is not fixed yet. @myidpt do you have time to pick it up?

[2019-05-01 18:43] vadimeisenbergibm commented on #11841
@mikebryant We are currently in the process of writing integration tests for multi-cluster, and then I will work on fixing this issue, I will not be able to work on it before the KubeCon Europe (20-th of May).

[2019-05-01 18:45] Stono opened #13752 "istio-pilot's istio-proxy 100% ram increase almost instantly"
Well a picture says a 1000 words, check the istio-proxy on istio-pilot suddenly double its memory:
<img width="804" alt="Screenshot 2019-05-01 at 19 43 11" src="https://user-images.githubusercontent.com/1486729/57035216-61c19600-6c49-11e9-8d8f-2b4872f46a2b.png">

Another pilot in the same cluster, did it at exactly the same time:
<img width="808" alt="Screenshot 2019-05-01 at 19 43 54" src="https:

[2019-05-01 18:54] mgrand commented on #13595
Another option that will work is that if you apply a policy that does not specify a mTLS setting, it defaults to the existing mTLS setting. The question is which way of doing this will cause the least breakage and inconvenience. I think that there will be many situation in which the option of defaulting the the current setting will not break anything.  The option of splitting the policies will bre

[2019-05-01 19:04] marshallford commented on #12761
@esnible is right on the money. A note to future readers: Cert manager partially solves this problem by issuing a temporary self signed certificate while issuance is in progress. This isn't a perfect fix as Helm has a [set order for applying resources](https://github.com/helm/helm/blob/master/pkg/tiller/kind_sorter.go#L29) and it appears that multiple CRDs aren't guaranteed to be applied in the sa

[2019-05-01 20:02] nmittler opened #13754 "[Test Framework] Native Echo broken for WebSocket and GRPC"
When using a sidecar, the native echo component fails for WebSocket and GRPC. Without a sidecar, it's fine.  I suspect it's related to the way we're filtering inbound resources.

[2019-05-01 20:34] Stono commented on #13710
Problem is a lot of people using GKE, and managed istio on gke just can't do that 🤷‍♂

[2019-05-01 20:36] Stono commented on #13710
Please do number 4, most people will surely use zipkin/tracing as its a big value add of istio.

[2019-05-01 21:01] Jonathan34 commented on #13751
I am apparently using the version 1.0.6 of istio (is it supposed to be gke managed?) and it's apparently not supported before 1.1.0.
will try to upgrade (if i find how).

this is misleading since the package name of the proto is v1alpha1.

[2019-05-01 21:06] douglas-reid opened #13758 "Add test that verifies telemetry functionality for VMs (mesh expansion)"
Istio does not currently have any tests that validates telemetry functionality for mesh expansion use cases. This issue is to track the creation of such a test(s).

[2019-05-01 21:07] douglas-reid commented on #13758
/cc @incfly

[2019-05-01 21:08] incfly commented on #13758
I have a PR to do basic E2E test for mesh expansion setup using new testing framework。 https://github.com/istio/istio/pull/13672

We can add tests on top of that.

[2019-05-01 22:12] douglas-reid commented on #12976
I think this problem has gone away... or at least moved to a different problem.  All of the circleci presubmits are flaky. And the failures are before the tests even start.

Example: https://circleci.com/gh/istio/istio/405299

git reset --hard "$CIRCLE_SHA1"
Cloning into '.'...
Warning: Permanently added the RSA host key for IP address '192.30.253.112' to the list of known hosts.
remote: Enumerati

[2019-05-01 22:12] #12976 closed

[2019-05-01 22:32] ljdev92 opened #13762 "Istio sidecar injection fails on scale down in EKS"
**Bug description**
On a scale down event in the EKS ASG, whether via the cluster autoscaler or after forcibly terminating a node, the api server can fail to talk to the sidecar injector service, throwing errors such as:

`Failed calling webhook, failing closed sidecar-injector.istio.io: failed calling admission webhook "sidecar-injector.istio.io": Post https://istio-sidecar-injector.istio-system.

[2019-05-01 23:03] howardjohn opened #13764 "Multicluster Gateways config broken + Testing Gap"
https://raw.githubusercontent.com/istio/istio/master/install/kubernetes/helm/istio/example-values/values-istio-multicluster-gateways.yaml

`  - "[[ valueOrDefault .DeploymentMeta.Namespace \"default\" ]].global"`

will no longer work with the new injector. Should be a simple change from `[[` to `{{`.

But the fact this went unnoticed makes it clear that we do not have any testing for this.

[2019-05-01 23:09] howardjohn opened #13765 "Test framework features needed for reusing existing installer"
We need to be able to

- [x]  Skip tests that require custom install
- [ ]  Cleanup tests without cleaning up Istio - maybe
- [x]  Investigate why echo tests fail (may be new installer related)
- [x]  Investigate why mixer/bookinfo tests create a file with contents `null` and try to kubectl apply it (may be new installer related). Fixed in https://github.com/istio/istio/pull/13767

[2019-05-01 23:11] #11683 closed

[2019-05-01 23:13] incfly commented on #13259
/cc @incfly

I think this warrants a design doc. We need to consider wide range of install scenario.

- multi cluster installation in different modes, we have three.
- plan for operator / installer.

[2019-05-02 00:10] incfly commented on #13474
I failed to reproduce. Here's what I did.

- Install istio-1.1.3, with `istio-demo.yaml`.
- Apply minimal necessary config for gateway/virtualservice/httpbin. I use httpbin, [gist](**https://gist.githubusercontent.com/incfly/5316c0cf5e907d41fe06f9c04cbd769e/raw/bb43ec8c1b48381dcb944b25e3b73d21f0edca60/gistfile1.txt**) can be found here.
- run the bash above
[code]
I got
[code]
- `gcloud compute in

[2019-05-02 00:56] philrud commented on #13422
@nirvanagit if I understand your use-case correctly you may want to try using "AUTO_PASSTHROUGH" mode instead of regular "PASSTHROUGH" here. Could you try that and let us know if DRs are still in the way? Thanks!

[2019-05-02 00:58] howardjohn commented on #13717
This is fixed in 1.1.5, although we may want to do some followup work in Envoy

[2019-05-02 00:58] #13717 closed

[2019-05-02 02:09] rshriram commented on #13744
Not sure. But that’s a very easy fix. We had not considered overriding the service resolution to none which is what the original dst lb stands for.

[2019-05-02 02:38] dwradcliffe opened #13771 "Need a way to configure max connections on PassthroughCluster"
**Describe the feature request**

We need a way to customize the max connections on the passthrough cluster. As we transition onto the mesh we will have many outbound connections and the default of 1024 is not enough.

**Describe alternatives you've considered**
Since there is no destination rule for the passthrough/fallback, we can't use that.

**Additional context**
I can see clearly where to ad

[2019-05-02 04:04] #13668 closed

[2019-05-02 04:05] howardjohn commented on #13372
fixed

[2019-05-02 04:05] #13372 closed

[2019-05-02 05:03] sneko commented on #13087
Hi @esnible ,

After upgrading to 1.1.4 the work disappeared. I'm sorry I'm not able to explain why, I didn't modified the settings.

So now I'm able to reach Google APIs endpoints even without specifying any VirtualService with `outboundTrafficPolicy.mode: "REGISTRY_ONLY"`. But it means there is no restriction because all my microservices can reach Google APIs.

How could could I restrict that?

[2019-05-02 06:13] #11714 closed

[2019-05-02 07:10] itayariel commented on #12417
We also experience this issue, is there a way to make the connection end-to-end pure http1.1?

[2019-05-02 07:20] iftachsc commented on #11868
still seeing it when upgrading from 1.0.6 to 1.1.4

[2019-05-02 08:37] #13704 closed

[2019-05-02 10:58] emedina commented on #9113
@arianmotamedi Sorry, but haven't been able yet to test this out due to other priorities. I will send feedback back whenever I find a chance, hopefully next week.

[2019-05-02 11:27] viktorpeacock opened #13775 "Retry external service calls"
**Describe the feature request**
I would like to be able to retry external HTTPs calls to third party services, similarly to how we can retry via HTTPRetry.

**Describe alternatives you've considered**
Implementing this functionality in code via Polly.

**Additional context**

[2019-05-02 12:41] esnible commented on #13087
I suspect you are in a situation where Istio is configured in the newer version to allow external traffic by default.  See https://istio.io/docs/tasks/traffic-management/egress/#change-to-the-blocking-by-default-policy

[2019-05-02 13:32] Tushar120120 commented on #7595
Can we get Istio minimum system requirements like number of CPU/amount memory for each system POD like Pilot/side car/proxy/telemetry/Prometheus  etc.

[2019-05-02 13:51] viktorpeacock commented on #13775
Just realized that this can be achieved via TLS origination.

[2019-05-02 13:51] #13775 closed

[2019-05-02 14:02] nmittler opened #13778 "[Test Framework] Support TLS is Native Echo component"

[2019-05-02 14:35] howardjohn commented on #13764
This actually isn't that straightforward, if we just change to `{{` then it won't actually get templated; this relied on the double templating aspect. We can probably just add a function to funcmap that templates again though so we can have dynamic values again.

[2019-05-02 14:42] howardjohn opened #13780 "sds_vault_flow_test test failures"
https://circleci.com/gh/istio/istio/405901?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Might be a flake, I didn't investigate much.

Another example: https://circleci.com/gh/istio/istio/406310?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-05-02 14:42] howardjohn commented on #12811
Can't find the commit, but we fixed this

[2019-05-02 14:42] #12811 closed

[2019-05-02 14:46] howardjohn commented on #13320
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/13746/istio-unit-tests/24687 another example
Failure is the ApplyThrice one, junit report shows it as passing

[2019-05-02 15:10] howardjohn commented on #12752
Digging deeper - This commonly fails with

[code]

So a goroutine calls `.Error` *after* the test completes. If you add some delay you'll see it will just fail like normal with `go test ./pilot/pkg/proxy/ -run ApplyThrice -count 100`.

[2019-05-02 15:19] mbanikazemi commented on #13423
Can you post the yank you use to create the pods and corresponding services. Also the error message you get please.

[2019-05-02 15:25] mandarjog commented on #13752
Can you get config dump from after?
Since some times it is the high watermark I am wondering if proxy gets some transient config and then back to normal but does not release memory.

@silentdai am incorrect in thinking that the allocator does not release memory back?

[2019-05-02 15:31] mbanikazemi commented on #13422
How come the gateway definition does not have a "selector" in the info provided above?

[2019-05-02 15:32] howardjohn commented on #13751
The api versions are not linked to the istio version, much like Kubernetes apis (for example, Deployments `apps/v1`)

[2019-05-02 15:39] johnma14 commented on #13714
This partially fixes #13262

[2019-05-02 15:41] Jonathan34 commented on #13751
Do you want to  close this since it is dependent on Google to push the istio update to GKE?

[2019-05-02 15:43] howardjohn commented on #13751
Sure, thanks

[2019-05-02 15:43] #13751 closed

[2019-05-02 15:54] myidpt commented on #10592
@wattli Sure. Could you tell me why this can't be fixed by a simple image change PR / is there any dependency specifically on xenial?
@quanjielin

[2019-05-02 15:55] mario-dicarlo opened #13781 "Multicluster Service MeshGateway - Connected Clusters - Could not resolve host: httpbin.bar.global"
I'm following the steps to create connected clusters from this page:
https://istio.io/docs/examples/multicluster/gateways/

I get to step 5 which calls:
`kubectl exec --context=$CTX_CLUSTER1 $SLEEP_POD -n foo -c sleep -- curl -I httpbin.bar.global:8000/headers`

and the response is:
`curl: (6) Could not resolve host: httpbin.bar.global`

Also, when looking at the CoreDNS ConfigMap which has been t

[2019-05-02 15:56] johnma14 commented on #13262
This note is to serve as a summary of the work done in this WI:

The istio images that were showing security vulnerabilities are the following:
- bookinfo-reviews (https://github.com/istio/istio/pull/13716)
- bookinfo-mysqldb (https://github.com/istio/istio/pull/13774)
- bookinfo-mongodb (the fix for booking-reviews should fix the vulnerabilities for this app)
- bookinfo-ratings (https://github.co

[2019-05-02 15:56] mbanikazemi commented on #13421
Yes, it seems that request timeout was disabled a while ago here: https://github.com/istio/istio/pull/6042 but the documentations have not been updated accordingly.

[2019-05-02 15:59] #8264 closed

[2019-05-02 16:15] frankbu commented on #13474
@incfly, I wonder if the problem only occurs if the service does not implement the uri path `/`, since that's what the prober error is complaining about. Can you try your same setup, only using the helloworld sample, instead of httpbin? https://github.com/istio/istio/tree/master/samples/helloworld

@jnativio if you add `/` to your service, does the prober error go away?

[2019-05-02 16:20] howardjohn opened #14141 "Fix tests relying on SystemNamespace"
At least one does, `mixer_policy_ratelimit`.

Probably need to search for usages of https://github.com/istio/istio/blob/baa1815a1422cb52aa2112dcf3ce1604884bf747/pkg/test/framework/components/istio/config.go#L78 and clean them all up

[2019-05-02 16:25] sneko commented on #13087
As mentioned I use `outboundTrafficPolicy.mode: "REGISTRY_ONLY"`, I just checked with `kubectl get configmap istio -n istio-system -o yaml` and this setting is present.

It seems according to https://github.com/istio/istio/issues/9477 that's something other people has already experienced.

[2019-05-02 16:38] Kampe commented on #6593
I have one for both at the moment, `accounts.google.com` & `www.googleapis.com` as these were the logs of what I was seeing fail via the cloudsql proxy sidecar.

[2019-05-02 16:56] cosoriog commented on #11510
I'm seeing this in 1.1.0.
Fixed it by splitting virtual service in two, one for public requests and one for internal

[code]

In my case, match section for service A and service C are different (different URLs) so this solution might not work in this case.

[2019-05-02 17:03] wattli commented on #10592
I think building from the base image should work, but i may not have the full context.

[2019-05-02 17:12] lei-tang commented on #13780
Created a PR https://github.com/istio/istio/pull/13785 to trigger integration tests and check the integration tests.

[2019-05-02 17:25] XanderStrike commented on #13559
In the config meeting, a third option was proposed:

Pilot could handle `unsupported collection` errors, and assume that that means the configuration source doesn't support that configuration type. Then Pilot could report that configuration type as synced and not attempt to retrieve configuration for that type from that source again.

This reduces the configuration burden while still satisfying ou

[2019-05-02 17:39] pitlv2109 opened #13787 "Tests are failing because unrecognized import path istio.io/test-infra/boskos/cmd/mason_client"
Snippet of error logs
[code]

Example PR: https://github.com/istio/istio/pull/13627

[2019-05-02 17:42] pitlv2109 commented on #13390
ping. Any update? Some tests are stable enough to have presubmit label.

[2019-05-02 17:56] mandarjog commented on #13752
@Stono did you by any chance delete the sidecar resource around that time and then re-created it ?

[2019-05-02 18:11] lei-tang commented on #13780
The integration tests of PR #13785 pass: https://circleci.com/gh/istio/istio/406603?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link.

[2019-05-02 18:15] kenthua opened #13788 "istio-init - helm template does create all the necessary CRDs 1.1.4"
**Bug description**
In 1.1.4, istio-init with helm template doesn't create all the necessary crds.

[code]

[code]
**Expected behavior**
More CRDs created, 53 for cert manager not enabled

**Steps to reproduce the bug**
[code]

**Version (include the output of `istioctl version --remote` and `kubectl version`)**
[code]
No `--remote` because I've reverted to 1.1.3

[code]
**How was Istio installed?

[2019-05-02 18:17] iftachsc commented on #9504
this occurs for us in 1.1.4

[2019-05-02 18:21] nrjpoddar commented on #7669
This is something that we also need both for our usage and our customers. Is there an agreement on how to add this functionality? I can add the code needed if we agree on the approach.

[2019-05-02 18:25] howardjohn opened #13789 "TestGrid missing test Failures"
Testgrid marks a lot of failed tests as still running, giving us a false sense of our tests - things look green when they really are not.

I believe there are 3 distinct causes of this

1. Status not reported to gubernator. Already fixed in https://github.com/istio/istio/issues/13208
2. Status reported to gubernator, but test grid not updated
Example:
https://prow.k8s.io/view/gcs/istio-circleci/pr

[2019-05-02 18:28] howardjohn commented on #13780
I think testgrid is missing failures due to https://github.com/istio/istio/issues/13789, as mentioned in the PR there are 2 failures in very recent history

[2019-05-02 18:30] kyessenov commented on #13788
Could you provide the logs from the two jobs?
CRDs are installed asynchronously and may take some time to be established in k8s.

Also, please be aware of some CRD changes coming in 1.2 (https://discuss.istio.io/t/deprecation-notice-custom-mixer-adapter-crds/2055).

[2019-05-02 18:32] howardjohn commented on #13787
Happens on Circle too if that helps https://circleci.com/gh/istio/istio/406594?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-05-02 18:39] nrjpoddar commented on #7669
@Stono I think the behavior is a little different if you do HTTPS for external services and  if you don't have a ServiceEntry defined and you're by default blocking all external access, you don't get a 404 NR.

[2019-05-02 18:48] Stono commented on #7669
Yeah this thread is about capturing 502'd stuff in registry only.

Fundamentally I just want more metrics capturing failed requests ha

[2019-05-02 19:04] PiotrSikora commented on #13589
@trevorlinton could you share `/config_dump` from Envoy?

[2019-05-02 19:10] kenthua commented on #13788
Sorry, my bad, it appears that the jobs were not able to pull the 1.1.4 images.  1.1.3 didn't have issues, because I'm guessing the images were cached.  This was in a GKE private cluster.  Once I added a Cloud NAT

[code]

[2019-05-02 19:10] #13788 closed

[2019-05-02 19:16] nrjpoddar commented on #7669
Proposal from discussion on slack:

Update pilot to add the mixer filter for the `0.0.0.0:15001` listener before it gets routed to the BlackHole cluster. I'm hoping by doing that the mixer filter can add some context and we can generate metrics based on those attributes. Here's the Envoy config where this change will be made:

[code]

@mandarjog @douglas-reid will this approach work? open to sugge

[2019-05-02 20:01] ldemailly commented on #9988
ping

[2019-05-02 20:10] ermik commented on #6593
@Kampe Private IP may be the issue. I think there is a separate set of criteria as to how Google CloudSQL expects requests to be made to a Private IP you provision.

[2019-05-02 20:15] nrjpoddar opened #13791 "Istio metrics for TLS (including mTLS) related errors"
**Describe the feature request**

When you turn on mTLS for a subset of services in your cluster often you have misconfigurations like missing DestinationRules, incorrect TLS setting (one side has STRICT but other side has no TLS setting) or SSL handshake error (invalid cert, protocol negotiation errors) which leads to traffic failures. This issue also exists when you have an incorrect setting in

[2019-05-02 20:30] jnativio commented on #13474
@frankbu  I figured out what was my problem: my script was getting the ingress-gw http nodeport based on its position only. Until 1.1.2, it was always the first port in the json. At some point after that, the status port started appearing in first place, so I was getting the wrong nodeport. Fixed my script to look for "http2" port.  Thanks.

[2019-05-02 20:46] dwradcliffe commented on #11936
Yes, we need this also. Our ingress gateways can't keep up with the full mesh config being delivered. We're seeing constant cpu throttling.

[2019-05-02 20:49] frankbu commented on #13474
Ah, that makes sense.

@marcin-kasinski Could this be the same problem you are having? How did you get the nodeport value `30999` that you are using?

[2019-05-02 21:30] marcin-kasinski commented on #13474
Hello.

After installing istio I set nodeport with code

`kubectl patch svc istio-ingressgateway -n istio-system --type=json -p='[{"op": "replace", "path": "/spec/ports/0/nodePort", "value": 30999}]'
`

I get host nodeport with code:

`export INGRESS_NODEPORT=$(kubectl -n istio-system get service istio-ingressgateway -o jsonpath='{.spec.ports[?(@.name=="http2")].nodePort}')
`

[2019-05-02 22:07] Kampe commented on #6593
I was using the public IP, this was just my workaround since it was an issue.

[2019-05-02 22:43] duderino commented on #13722
@PiotrSikora pointed us to this fix https://github.com/envoyproxy/envoy/pull/6599

That will require a new Envoy update so I can't say yet whether we can pull this in for a 1.1.x vs. 1.2

[2019-05-02 22:45] silentdai commented on #13752
@mandarjog I have the same guess. There was a high cpu usage at the ram bump moment. And I don't expect istio-proxy ram because of tcmalloc.

[2019-05-02 22:51] trevorlinton commented on #13589
@PiotrSikora I'm unsure how to grab that, I'm not terribly familiar with envoy, just as much as exposed by istio. Here's the `istioctl proxy-config routes` if it helps, I can directly jump on the envoy pod if you know the local port to get that information.

[code]

[2019-05-02 22:53] silentdai commented on #13735
Fixed in since 1.1.3
1. 1.1.3 and 1.1.4 envoy will reject the config by not updating the listener
2. since 1.1.5: pilot will reject it

[2019-05-02 22:53] #13735 closed

[2019-05-02 23:08] pitlv2109 commented on #13787
Seems like it has been fixed.

[2019-05-02 23:08] #13787 closed

[2019-05-02 23:25] PiotrSikora commented on #13589
@trevorlinton it's `localhost:15000/config_dump`, but I think `istioctl proxy-config` returns the same information (I keep forgetting about it...).

Could you also paste output from `istioctl proxy-config listeners`?

[2019-05-02 23:39] mabushey opened #13799 "Load balancer does not come up on AWS"
Running Istio 1.1.2 via the amazing Banzai operator, but this has been an issue as far back as 0.8. Under Kops, the ELB for Istio comes right up, however with either Typhoon or KubeSpray, it doesn't bring it up:

[code]

Both master and nodes have roles with the following IAM policies:
[code]

**Bug description**
LoadBalancer stays in `<pending>`

**Expected behavior**
LoadBalancer is provisioned

[2019-05-03 00:31] PiotrSikora commented on #13722
@robertpanzer I've been running istio-proxy-1.1.4 (extracted from the Docker image) with your Lua script for the past hour, with 2 clients sending requests in a loop, and I couldn't get it to crash.

Do you mind posting the static Envoy configuration that you're using to reproduce this locally?

They all include `PANIC` in LuaJIT, so I wouldn't call them unrelated ;)
[code]

[2019-05-03 00:46] quanjielin commented on #10592
this is done.

[2019-05-03 00:46] #10592 closed

[2019-05-03 01:55] howardjohn commented on #13799
I don't this is an Istio issue, unless you can create load balancers for other services but not for ingress gateway

[2019-05-03 03:10] wstrange commented on #7505
Lateral thought: Given that kustomize is now built in to `kubectl` and an upstream base can be hosted on github, is there really a need for a helm chart?

[2019-05-03 04:43] #13125 closed

[2019-05-03 06:44] anoopl opened #13803 "RBAC not working with Namespace isolation"
[istio-dump.tar.gz](https://github.com/istio/istio/files/3141537/istio-dump.tar.gz)
I am using Istio 1.1.4.
I am trying to allow traffic to a service only from default namespace.
mTLS is enabled with:
[code]
RBAC enabled with:
[code]
I have the following ServiceRole & binding:

[code]
But I am able to access the service using curl from namespaces other than default as well.
To test whether the ser

[2019-05-03 06:51] #7783 closed

[2019-05-03 07:51] #10691 closed

[2019-05-03 09:07] Stono commented on #13752
No we didn't delete and recreate any Sidecars at that time.

[2019-05-03 09:32] iftachsc commented on #13492
We see this in 1.1.4 after Upgrading from 1.0.6 according to the instructions using helm upgrades path. We see it toggling between this status and synced. So every now and then if u run proxy-status u will see it sometimes synced all (some with 50%) but most of the times we see many STALE (Never Acknowledged). Is this a regression from 1.0.6? I see many hit this but ok the other hand I hear this v

[2019-05-03 10:53] mikebryant commented on #13762
Is this a transient failure? i.e. it happens immediately after the scale down event, but recovers on it's own?

(I'm wondering, are you only running one copy of the sidecar-injector, and it's on the node that gets terminated, so it takes time to be redeployed onto a different node)

[2019-05-03 11:10] robertpanzer commented on #13722
Ok, so I'll not reproduce with a plain istio-proxy in Docker anymore, as this is running on OSX for me, and that seems to be kind of burned.
The configuration in the issue was what I used as a static config.

I created the configuration below on a "real" cluster running with 1.1.5 on Azure:
[code]
Then I created a shell inside the testcurl container and executed this command:
[code]

The log of th

[2019-05-03 11:46] bhushanrade opened #13804 "access istio provided grafana, prometheus dashboard"
not able to access istio-system's grafana, Prometheus etc dashboard through an external network
I tried to do port forwarding for grafana but it works with the only localhost  like http://localhost:3000 but not for http://publicip:3000

[2019-05-03 12:30] ermik commented on #6593
That is certainly odd, but I think as far as istio is concerned, Private IP for CloudSQL **is still considered an Egress**. Hopefully team will clarify.

[2019-05-03 12:45] ragoragino opened #13806 "gRPC context timeout used as per retry timeout by sidecar proxy"
**Bug description**
Sidecar proxy does not seem to respect gRPC context timeout as a timeout for the whole request, instead it uses it as a timeout for each retry.

**Expected behavior**
Sidecar proxy should respect gRPC context timeout as a timeout for the whole request when retrying.

**Steps to reproduce the bug**
Deploy a gRPC server that waits 10s before returning RESOURCE_EXHAUSTED status co

[2019-05-03 12:46] linsun commented on #11984
should we close this as PR is merged?  This is mentioned in release note 1.0.5, better to be closed

cc @duderino @geeknoid

[2019-05-03 13:21] frankbu commented on #13474
@marcin-kasinski So that is your problem. You are setting 30999 as the nodeport for the first port (`/spec/ports/0`).
[code]
 Since 1.1.3 port 0 has become the status port, as @jnativio discovered. You need to set the http2 port, not port 0.

[2019-05-03 13:21] #13474 closed

[2019-05-03 14:28] mbanikazemi commented on #13421
The documentation was fixed to note that the request timeout is disabled by default.

[2019-05-03 14:28] #13421 closed

[2019-05-03 15:05] frankbu commented on #6116
Closing this issue because things have changed significantly in this area since last June and there has been no further update about this problem.

@johnzheng1975 Please try to move to Istio 1.1 and if you are still having 503 problems, either reopen this issue or open a new one with more specific details of the problem you are having in the 1.1 env.

[2019-05-03 15:05] #6116 closed

[2019-05-03 15:19] frankbu commented on #12590
Fixed by https://github.com/istio/api/pull/873 and https://github.com/istio/api/pull/874

[2019-05-03 15:19] #12590 closed

[2019-05-03 15:25] ozevren commented on #11882
@nmittler any thoughts? This is the only flake plaguing the presubmit/local tests at this point.

[2019-05-03 15:43] howardjohn commented on #13804
To set up external access to the dashboards, you can find instructions at https://istio.io/docs/tasks/telemetry/gateways/

[2019-05-03 15:52] ozevren opened #13810 "Failing test on Kube: TestEcho/NoSidecar"
https://testgrid.k8s.io/istio-postsubmits#integration-k8s-tests&exclude-non-failed-tests=

https://prow.k8s.io/view/gcs/istio-prow/logs/istio-integ-k8s-tests/7708

[2019-05-03 15:53] ozevren commented on #13810
It looks like this is after your Echo related changes has landed. Could you take a look?

[2019-05-03 15:59] ozevren opened #13811 "Flaky Test: istio.io/istio/tests/integration/mixer.TestMixer_Report_Direct"
https://testgrid.k8s.io/istio-postsubmits#integration-k8s-tests&exclude-non-failed-tests=

https://prow.k8s.io/view/gcs/istio-prow/logs/istio-integ-k8s-tests/7672

[2019-05-03 16:01] marcin-kasinski commented on #13474
Thank you to all of you.
Now it is clear

[2019-05-03 16:07] ozevren opened #13812 "Flaky Test: istio.io/istio/tests/integration/pilot/locality/failover.TestLocalityFailover"
https://prow.k8s.io/view/gcs/istio-prow/logs/istio-integ-k8s-tests/7620
@liamawhite I believe you wrote the tests?

[2019-05-03 16:11] fpesce commented on #10592
Thanks.

[2019-05-03 16:15] ozevren opened #13813 "Flaky test: istio.io/istio/tests/integration/pilot/outboundtrafficpolicy/allowany.TestOutboundTrafficPolicyAllowAny"
https://testgrid.k8s.io/istio-postsubmits#integration-k8s-tests&exclude-non-failed-tests=
https://prow.k8s.io/view/gcs/istio-prow/logs/istio-integ-k8s-tests/7620

[2019-05-03 16:18] ozevren commented on #12750
These are still failing. There is a bunch of them:
https://testgrid.k8s.io/istio-postsubmits#integration-k8s-tests&exclude-non-failed-tests=

[2019-05-03 17:20] mabushey commented on #13799
You can claim this is not an Istio issue, however the reality is the only AWS distro of Kubernetes that Istio works on is Kops, which is two major versions back. Six moths ago I tried using Typhoon, and the developer of Typhoon says to file this as an Istio issue: https://github.com/poseidon/typhoon/issues/358 Please either help me fix the issue, or update the docs to reflect that Istio only compa

[2019-05-03 17:28] mike-holberger opened #13817 "v1.1.4 Telemetry pod will not schedule on GKE n1-standard-1 (1 vCPU) nodes"
**Bug description**
According to https://istio.io/docs/concepts/performance-and-scalability/ the telemetry pod for 1.1.4 should only require 0.6 vCPU. This is less than pilot which requires 1 vCPU. However, the telemetry will not schedule on the default n1-standard-1. I tried adding more of these n1-standard-1, 1 vCPU nodes and deleted the telemetry pod, but it comes back pending again with the sa