[2018-11-13 16:35] offzale commented on #9902
I forgot to add `spec.addresses` on the ServiceEntry. Once I added that pods started resolving the DNS, and then through the sidecar proxy I could reach the service on the other cluster.

It works like a charm now :)

[2018-11-13 16:36] #9902 closed

[2018-11-13 16:36] rshriram opened #9929 "Need e2e tests for http retryon"
cc @hzxuzhonghu

[2018-11-13 16:38] offzale commented on #9823
Closing issue since it worked well with the new multicluster approach using gateways https://github.com/istio/istio/commit/ce90c45dfe8aaf46315aca1b31ddbc2d12a4d090

[2018-11-13 16:38] #9823 closed

[2018-11-13 16:39] offzale commented on #9788
Closing issue since `gateways.istio-mcgateway.enabled` is not used anymore on the new multicluster approach using gateways https://github.com/istio/istio/commit/ce90c45dfe8aaf46315aca1b31ddbc2d12a4d090

[2018-11-13 16:39] #9788 closed

[2018-11-13 16:43] beemarie commented on #9897
@vadimeisenbergibm Thanks, the simplified version works fine.  I'll update the guestbook app.

[2018-11-13 16:56] christian-posta opened #9931 "Helm charts dir is not included in istio-1.1 snapshot/daily"
**Describe the bug**
Cannot use helm with Istio 1.1; fails with:

`Error: found in requirements.yaml, but missing in charts/ directory`

If you check the install/kubernetes/helm/istio directory there is no `charts` dir

**Expected behavior**
Expected installation to progress.

**Steps to reproduce the bug**
See below how I installed

**Version**

kubernetes:
Client Version: version.Info{Major:"1",

[2018-11-13 17:25] douglas-reid commented on #9928
@johnzheng1975 Can you share any info on the configured adapters you have for policy?

[2018-11-13 17:35] mandarjog commented on #9928
Can you export the mixer grafana dashboard to raintank ?
That will tell us goroutine use, adapters and errors.

[2018-11-13 17:42] kyessenov commented on #9560
@johnholiver Sorry, I should have shared my branch immediately:
https://github.com/kyessenov/istio/tree/nondet

I have started off the tip of release 1.1. I don't think we made big changes in the underlying proto/gRPC code to matter.

I think most details are already up above. I pushed the template and the adapter config first:
[code]

I started mixer server with this command:
[code]

Let me know

[2018-11-13 17:44] geeknoid opened #9933 "Switch from gometalinters to golang-ci"
We should switch from gometalinters to the new golangci-lint meta linter. It runs 5x-7x faster than golemtalinter and handles dependencies in a much cleaner way, ensuring consistent results.

https://github.com/golangci/golangci-lint

FYI: @douglas-reid @rshriram

[2018-11-13 17:47] douglas-reid commented on #9933
:+1: you had me at 5x faster and consistent results.

[2018-11-13 17:52] jeffmendoza commented on #4887
Sounds good.

[2018-11-13 18:56] linsun commented on #9931
@christian-posta Check the instruction here:  https://github.com/istio/istio/pull/9920/files

[2018-11-13 18:56] linsun commented on #9931
basically you'd need `helm repo add` first, then run `helm dep update`

[2018-11-13 19:00] douglas-reid opened #9938 "FR: Method to identify source container"
**Describe the feature request**
In a few settings, the need to identify traffic not just to the originating pod, but also to the originating container has been brought up. I'm not aware of any reliable way to meet this need given current implementation. It would be great, however, if this was possible.

**Describe alternatives you've considered**
None.

**Additional context**

[2018-11-13 19:11] wattli commented on #7844
One thing you can try is to deploy internet/intranet in the default namespace, which should work. And if it does work, it's the meshPolicy/DestinationRule setup issue.

Suggest to
1) Create istio with mTLS *disabled*, since step 2 will actually enable mTLS
2) Create global meshpolicy/destRule, link: https://istio.io/docs/tasks/security/authn-policy/#globally-enabling-istio-mutual-tls
3) redeploy y

[2018-11-13 19:11] douglas-reid opened #15741 "FR: Improve handling of UNAVAILABLE within Mixer client"
For `Check` calls especially, but also potentially for `Report`, it would be good to align on a strategy that appropriate handles load-shedding scenarios, etc., when the mixer server returns `UNAVAILABLE`. It appears we added retry behavior in #1192, but it would be nice to add some tests to verify behavior and decide on appropriate budgets, etc.

[2018-11-13 19:12] wattli commented on #7844
Please feel free to assign back to me if the problem still exists.

[2018-11-13 19:20] linsun commented on #7174
@blerko were you running pilot in sidecar=false mode?

[2018-11-13 19:37] beemarie commented on #9897
@irisdingbj can you confirm this is working for you?  The simplified version that is working for me can be found in this PR, but this looks similar (same?) as what you posted is not working:
https://github.com/IBM/guestbook/pull/59/files

[2018-11-13 19:55] ahsannaseem opened #9940 "Adding port in istio-ingressgateway service but unable to access it from virtual service endpoint."
Hey so for sake of project need I have configure application that will response on port `8083` for that I configured following deployment, gateway, service and virtual service inside **dedicated namespace**

[code]
kubectl -n istio-system get service istio-ingressgateway -o yaml
[code]

As we can see I edited the port in service `ingress-gateway`. But when I hit endpoint it gets response on port 8

[2018-11-13 21:38] douglas-reid opened #9942 "FR: Investigate usage of envoy's stats_matcher to remove generation of unused stats"
**Describe the feature request**
In 1.9, Envoy has added support for [StatsMatcher](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/metrics/v2/stats.proto#config-metrics-v2-statsmatcher) config. The intent of this config is to address memory concerns raised in https://github.com/envoyproxy/envoy/issues/4196. I think that Istio should look to aggressively use this instead of (or in concer

[2018-11-13 21:40] douglas-reid commented on #8902
@venilnoronha one of the issues that will be exposed by those stats is that the istio clusters may not align with the other service/workload-oriented stats. However, I think we should pursue both avenues.

[2018-11-13 21:53] ssubramanian123 opened #9943 "istio ingressgateway connection refused on port 31380"
**Describe the bug**
Not able to hit ingress gateway svc on port 31380. Getting connection refused error.  I have deployed istio in our k8s 1.10.8 cluster, all the pods are up and running. Gateway svc got deployed with nodeport and the service is exposed with nodeport 31380. When I try to hit the service from the node or from the container getting connection refused error.
`[centos@--kubernetes-88

[2018-11-13 22:05] shubhaat opened #9944 "Configure ingress-gateways with URL references to certificates for SNI"
**Describe the feature request**
We want to be able to configure envoy to fetch secrets(TLS keypairs) from a remote secure store for vanity ingress domains. This would be more secure and dynamic.

**Describe alternatives you've considered**
Currently the requirement that keypairs reside on the filesystem as the ingress-gateway is not ideal, updating the certificates is tedious and storing them on

[2018-11-13 22:41] douglas-reid commented on #9931
I discovered a new make target: `make helm-update-repo` which handles the first step. There is not a `make helm-dep-update` as far as I can tell however.

[2018-11-13 22:47] douglas-reid commented on #9918
Have you fetched and rebased recently?  I just created a branch tracking `release-1.1` and was able to successfully run `helm template` without issue. And running a `git grep prometheusPort` does not return any results in the `install` dir.

[code]

[2018-11-13 22:49] douglas-reid commented on #9899
The two most recent failures were test init failures. I'll monitor this over the next week to see what else needs to be addressed from a test execution perspective.

[2018-11-13 22:54] torbjornvatn commented on #2704
What happened to this? I'm testing some grpc services in Istio now, and even though my services returns non-OK `codes.Error` grpc error codes they doesn't show up in the Prometheus metrics. There all the `istio_requests_total` entries for these services has response_code 200.

[2018-11-13 23:04] douglas-reid commented on #2704
@torbjornvatn new attributes were added at some point, including `response.grpc_status`. That should make it possible to edit the configuration for Mixer such that `istio_requests_total` either includes an additional field, or the `response_code` derivation is overridden when gRPC is used.  Does that help?

[2018-11-14 01:43] hzxuzhonghu commented on #9919
You should provide more, like configs and deployment yaml...

[2018-11-14 01:51] acmore opened #9949 "Is it should be a delete event"
**Describe the bug**
https://github.com/istio/istio/blob/a247fd8985bf4434558320bd0fc1c3e3c01331aa/pilot/pkg/serviceregistry/kube/controller.go#L200 is it intended to be an add event?

**Expected behavior**
{{ What did you expect to happen? }}

**Steps to reproduce the bug**
{{ Minimal steps to reproduce the behavior }}

**Version**
{{ What version of Istio and Kubernetes are you using? Use `istioc

[2018-11-14 01:59] imikushin opened #9950 "Incorrect handling of ExternalName k8s services"
When a request is made to a VirtualService backed by a Kubernetes service of type `ExternalName` (in my case, pointing to a cluster local name), the request doesn't get through and the reply is `503 Service Unavailable`.

[code]

VirtualService for host `www.test.svc.cluster.local` is backed by `nginx.test.svc.cluster.local` (http.route.destination.host field of the VirtualService object).

Hittin

[2018-11-14 02:20] hzxuzhonghu commented on #9916
/assign

I can fix it.

[2018-11-14 02:21] #9892 closed, assigned to nobody

[2018-11-14 02:31] mandarjog commented on #9916
How do you plan to fix it ?

[2018-11-14 02:32] mandarjog commented on #9916
Adding more locks or using concurrent hash map seem like obvious choices..., but not the best ones.

[2018-11-14 02:35] lichuqiang commented on #9950
Thanks for digging this!
What I kind of concerned about is that to manage activation, revision controller would have to be aware of istio resource (ServiceEntry) this way, which is not what we expect to see.

[2018-11-14 02:38] hzxuzhonghu commented on #9916
I plan to add a RW lock.

[2018-11-14 03:05] mandarjog commented on #8902
Does kiali consume stats from Prometheus today? If so it should have access to all envoy stats already.

Adapters are request bound today, so any information conveyed to them will be sampled at the request boundary. We can have mixer filter reach into local prom and provide arbitrary metrics if requested.

The other use case is direct api, like statsd direct api (prom is a bit wierd because it is

[2018-11-14 03:14] jeffcai commented on #7492
I have the same issue, deployed the consul and related services outside of K8s cluster, and configure the pilot discovery to discover service from the consul, services are listed  by running: istioctl proxy-config clusters -n istio-system istio-ingressgateway-xxxxx, and configured the gateway and virtualservice, when accessing the service it return 404 and check the logs which outputs:
[code]
exec

[2018-11-14 05:43] kimxogus opened #9951 "Pod Disruption Budget for helm install"
**Describe the feature request**
As there's no pdb in helm chart, when you upgrade istio chart, existing pods turns into `Terminating` status before new pods become healthy which causes downtime! I temporally set `replicaCount: 2` to contain healthy pod, but I don't think this is right solution. Also, istio system downtime may cause without pdb in various situations like node draining.
I suggest t

[2018-11-14 07:05] crowfrog commented on #9502
hi @vadimeisenbergibm,

thx for your response.
Yes, single host be fine. Also if I define an endpoints list(IPs) for "*." host, It also works fine.

One correction for my configuration:
mesh:80   =>  egressgateway:80 => dest:80                              works fine
mesh:30923  =>  egressgateway:30923 => dest:30923              works fine after I open the port 30923 on egressgateway service

mesh

[2018-11-14 07:21] SmileSees commented on #7584
I support it is not realistic, close this issue.

[2018-11-14 07:21] #7584 closed

[2018-11-14 07:31] pc-rshetty opened #9954 "Deleting the Gateway does not delete the ELB"
**Describe the bug**
I am deploying Istio 1.0.3 on EKS(AWS)
I used the Bookinfo as shown here https://istio.io/docs/examples/bookinfo/
and ran the
`kubectl apply -f <(istioctl kube-inject -f samples/bookinfo/platform/kube/bookinfo.yaml)`
and then created the Gateway
`kubectl apply -f samples/bookinfo/networking/bookinfo-gateway.yaml`

Everything came up fine and i was able to test various scenario

[2018-11-14 07:49] praveensastry commented on #8823
@rshriram I would like to pick this up, would this also require a change in envoy proxy or has already been changed in the v2 api?

[2018-11-14 07:51] #7168 closed

[2018-11-14 09:07] dotw commented on #6966
@gargnupur I'm using redisquota now and found it's not so accurate even using rolling window. e.g. I define a rate with 1 request in 10 seconds, and then I using a curl to request the service to display the result. I found sometimes 2 or more requests are permitted in 10 seconds. Is this a correct behavior? As my understanding, only 1 request is permitted in 10 seconds.

[2018-11-14 09:11] torbjornvatn commented on #2704
That was my first intuition to, but I'm having a hard time figuring out how to reconfigure the Mixer.
I tried editing the `istio-1.0.3/install/kubernetes/helm/istio/charts/mixer/templates/config.yaml` to include these attributes, but then it seemed like I didn't get any `istio_requests_total` metrics in Prometheus at all.
Isn't it a bit strange that the official helm chart doesn't expose pass thes

[2018-11-14 12:44] lvjing2 commented on #1430
+1

[2018-11-14 12:52] itaysk commented on #7588
AFAICT annotatations are pod level, not container level. given that, how will pod level annotaion help proxy-config find the proxy containers in pods? maybe I'm missing something about this issue?

[2018-11-14 13:04] torbjornvatn commented on #2704
Aha, I found this: https://github.com/istio/istio/commit/07a6b84cd969e5b6158b6c60a23a8b8b641448f6
Seems like these attributes will be added in 1.1.0, but I guess I can just copy that `config.yaml` and get them now

[2018-11-14 13:46] #7182 closed

[2018-11-14 14:55] jmazzitelli commented on #9931
OK, I see a PR has recently been created to add these instructions to the helm install Setup page. I added some comments because I don't think that PR is complete: https://github.com/istio/istio.io/pull/2876

[2018-11-14 15:59] mleneveut commented on #9927
I fixed my problem by adding a global.proxy.includeIPRanges in the istio-sidecar-injector.

https://istio.io/docs/tasks/traffic-management/egress/#calling-external-services-directly

Is there a better solution ?

[2018-11-14 15:59] #9927 closed

[2018-11-14 17:12] douglas-reid commented on #9942
@rshriram I have not attempted any quantification at this time. I stumbled across this feature while tracking down something else and filed this bug so that I wouldn't forget.

[2018-11-14 17:22] mandarjog opened #9961 "1.1 Pilot memory and cpu regression"
The two snapshots below show the same configuration and workloads running on 1.1-pre and 1.0.4-pre clusters.

At 300 active connections in both cases, 1.1-pre is using more goroutines, cpu and memory.

1.0.4 https://snapshot.raintank.io/dashboard/snapshot/sAVoeBv98auA0V5lfLNUo2D89gpnFV9y
1.1 https://snapshot.raintank.io/dashboard/snapshot/KvgVBadMUtTlPSwU5NAMAjItuLv37Gd7

[2018-11-14 19:02] kyessenov opened #9963 "mixer: unifying mixer runtime for in-process and out-of-process adapters"
There is some amount of tech debt left by introduction of out-of-process adapters:

1. Different registration configuration (Adapter kind for OOP, inventory YAML for IP). It would make sense to have a single standard way to lookup which adapters are present.

2. Different code generation tooling for IP and OOP. IP adapters use distinct function signatures from OOP service stubs.

3. Different test

[2018-11-14 19:15] imikushin commented on #9950
I'd like to take a shot on fixing this. Any pointers?

Is https://github.com/istio/istio/blob/4a76c4f06e372794b29caf8d093f5d523f79d259/pilot/pkg/serviceregistry/kube/conversion.go#L66 the place responsible for this?

[2018-11-14 19:30] ayj opened #9964 "1.1 Mixer telemetry memory and cpu regression"
Mixer telemetry pods are consuming significantly more resources (CPU/memory/goroutines) compared to 1.0.

https://snapshot.raintank.io/dashboard/snapshot/WmdWry4GLEUffhZzbrPEERArkcU9Jyks

![screenshot from 2018-11-14 11-22-17](https://user-images.githubusercontent.com/116378/48507000-98246980-e7ff-11e8-832a-a81195ac52b2.png)
![screenshot from 2018-11-14 11-22-23](https://user-images.githubusercont

[2018-11-14 19:32] bianpengyuan commented on #9964
This is a known bug and has been fixed by https://github.com/istio/istio/pull/9946.

[2018-11-14 19:34] kyessenov commented on #9933
Is there anything I can help here? I'd like to fix the import sorting issue, in particular.

[2018-11-14 19:49] mandarjog commented on #9964
Lets see what we find after the upgrade. I think this issue is different. #9946 fixes the tight loop. Tight loop is seen as purely more cpu. It is *not* associated with increasing memory and go routine use.

[2018-11-14 19:53] geeknoid commented on #9933
Well, you could do the work I suppose :-) I haven't started. I was going to
do it over the weekend...

On Wed, Nov 14, 2018 at 11:34 AM Kuat <notifications@github.com> wrote:

[2018-11-14 19:57] xeor commented on #7505
Not yet it seams.. https://github.com/istio/istio/blob/master/Makefile#L87

[2018-11-14 19:58] kyessenov opened #9968 "istio.io/istio/pilot/pkg/proxy/envoy/v2 TestAdsClusterUpdate is flaky"
Example of flake:
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/9965/istio-unit-tests/16725#istioioistiopilotpkgproxyenvoyv2-testadsclusterupdate

The owner is discovered using git blame.

/assign @Nino-K

[2018-11-14 20:33] aslafy-z commented on #7505
There was kind-of one but it has been sadly removed. It had to be triggered manually but still.

[2018-11-14 21:46] #7191 closed

[2018-11-14 22:08] ayj commented on #9593
Which release did you try? https://github.com/istio/istio/pull/9489 was merged 22 days ago which includes `policy_check_fail_open`. Any Pilot/Injecter build with that change should recognize policy_check_fail_open.

[2018-11-14 22:57] douglas-reid commented on #9660
@StefanCenusa does #9974 provide you with an adequate regex example to unblock?

[2018-11-14 23:22] MrSaints commented on #9618
Potentially related to #9906

[2018-11-14 23:50] douglas-reid commented on #9694
I believe that we can close this, as we had several PRs in `release-1.1` to address this issue.

[2018-11-14 23:53] douglas-reid commented on #9803
Closing, as PR fix is merged.

[2018-11-14 23:53] #9803 closed

[2018-11-14 23:54] vnugent commented on #9918
I applied `helm repo add...` in PR9920 and it solved my problem.   This [doc](https://preliminary.istio.io/docs/setup/kubernetes/helm-install) should be updated with those 2 additional steps as well

[2018-11-14 23:55] #9918 closed

[2018-11-15 00:06] ayj opened #9976 "helm rollback broken with 1.1 to 1.0"
1. Install 1.0.3
[code]

2. Upgrade to 1.1
[code]

[code]

3. Rollback to 1.0.3
[code]

[2018-11-15 00:08] ayj commented on #9976
Using `helm upgrade` to downgrade from 1.1 to 1.0.3 also had problems:

[code]

[2018-11-15 00:08] ayj commented on #9976
cc @sdake

[2018-11-15 00:42] kyessenov commented on #9933
Started https://github.com/istio/istio/pull/9970

[2018-11-15 01:36] ayj commented on #9884
Specifically for 1.1, given that `crd-install` is broken for upgrades, is there any reason we can't use the [helm < 2.10.0 two-step install process](https://istio.io/docs/setup/kubernetes/helm-install/#installation-steps) with helm upgrade? CRD aren't managed anyway and Istio CRD are left in the cluster after `helm del --purge istio`.

[code]

We'd need to modify the crds.yaml template as follows

[2018-11-15 01:36] mandarjog commented on #9964
The issue here is open census libraries we are using. Under the same load direct use of prometheus client libraries did not have this issue.  Mixer uses open census library to export self monitoring metrics.

The metrics code uses a buffered channel of 1024 capacity to record metrics. Mixer records ~15 metrics per telemetry request. Mixer is receiving 50% more requests than in 1.0.x, and requests

[2018-11-15 01:41] songy23 commented on #9964
/cc @jbd @odeke-em

[2018-11-15 02:12] kyessenov opened #9980 "istio.io/istio/pkg/kube/secretcontroller Test_SecretController is flaky"
Example: https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/9970/istio-unit-tests/16769

/assign @rcurran1

[2018-11-15 02:40] xiaozhongliu commented on #9919
Thanks for ur reply, plz check all the yamls as below:
[code]

[2018-11-15 03:56] FierceElements commented on #6316
@gyliu513, you're right. I can only guess that Istio knows the port carries HTTP traffic by the prefix itself.

[2018-11-15 06:18] #6032 closed

[2018-11-15 06:47] stevenlee87 commented on #9821
Istio does not currently have native support for Mesos.However, you can take advantage of our integration with Consul to run Istio Mesh on Mesos with it.For more details, refer to the Consul installation.

[2018-11-15 07:03] li1191863273 opened #9982 "Istio 1.0.3 version, sidecar can't be injected in statefulset"
**Describe the bug**

When I use the isti 1.0.3 version, deploying with deploy is normal, using statefulset deployment fails, the following exception occurs

	create Pod nginx-0 in StatefulSet nginx failed error: Pod "nginx-0" is invalid: spec.containers[1].env[8].name: Invalid value: "ISTIO_META_statefulset.kubernetes.io/pod-name": a valid environment variable name must consist of alphabetic char

[2018-11-15 08:17] AtebMT commented on #9906
Ditto. Looked like a timeout after 1sec with some requests. Downgraded to 1.0.2 and all seems fine again.

[2018-11-15 08:18] #7197 closed

[2018-11-15 09:08] naithagoni opened #9984 "statsd_exporter: error: unknown short flag '-s', try --help in Istio-mixer"
**BUG REPORT**

**Version of Helm and Kubernetes:**
Kubernetes: 1.11.3
Helm: v2.10.0
Istio: 0.2.13-chart4

**What happened:**
All the Istio containers deployed successfully except "Istio-mixer".
statsd_exporter container doesn't start. Viewing the pod with kubectl get pods I see that the pod is getting into a CrashLoopBackOff state.

**What you expected to happen:**
Would like to see the pod start

[2018-11-15 09:21] clyang82 commented on #9593
@ayj I use latest `release-1.1` code, run `helm install --name istio --namespace istio-system install/kubernetes/helm/istio --debug --tls` to install istio. Here is the logs of pilot:
[code]

[2018-11-15 09:25] objectiser opened #9985 "Duplicate B3 tracing headers"
**Describe the bug**
Envoy recently added support for the B3 single header, which resulted in the existing B3 headers being duplicated with different values: https://github.com/envoyproxy/envoy/issues/5017

This bug seems to be included in the Envoy versions currently being used in master and release-1.1 branches.

The fix https://github.com/envoyproxy/envoy/pull/5019 has been merged in Envoy.

**

[2018-11-15 09:57] iliecirciumaru commented on #7603
I have encountered same problem. Virtual Service resolved all problems

[2018-11-15 10:09] StefanCenusa commented on #9660
@douglas-reid Sorry for the delay, I had to downgrade to 1.0.2 in order to fix 503 issues caused by pilot, thus changing the setup mentioned above.

**Installation**:

[code]

I've just tested that regex against istio-proxy reported stats. Although the envoy proxy docs says it would be `delay_injected`, the actual metric reported is `delays_injected`.

Here's the full list:

[code]

Except that, t

[2018-11-15 11:19] objectiser commented on #9985
This should be resolved in master when https://github.com/istio/istio/pull/9915 is merged.

[2018-11-15 11:43] shakti-das commented on #9378
I would like to pick it up. Please assign.

[2018-11-15 13:15] jbrongtr commented on #6469
@wansuiye @dreadbird It seems as though we are all having the same issue. #9656 seems to be the fix we are waiting on.

[2018-11-15 13:35] prune998 commented on #6469
you should NOT need to add the port anymore (so you should not trigger Galley validation)
Which version are you running @jbrongtr  ?
Did you made a clean install or an upgrade ?  (or how did you clean between versions) ?

I'm running 1.0.2 in a GKE cluster 1.10.9 and everything is working fine.

# Gateway
[code]

# Virtualservice
[code]

I'm using gRPC and I'm calling the HTTP/2 endpoint `useredge

[2018-11-15 13:53] harryge00 commented on #9821
@stevenlee87 Thanks. I will have a try.

[2018-11-15 13:53] #9821 closed

[2018-11-15 14:16] jbrongtr commented on #6469
Hey @prune998,

Currently running kubernetes 1.11 with istio version 1.0.3. This is running on cloud servers that we manage.

Trying to simply allow external web access to istio's grafana. See config below

[code]
[code]
We don't have a load balancer in-front. Using Curl, i can get a good response by specifying what the header should be. When hitting this service with the node port 31380 by web br

[2018-11-15 14:19] prune998 commented on #6469
Could you also give the Ingress Gateway logs and the `Envoy` config generated.
You can do that by forwarding the port 15000 of the Ingress Gateway container and browser `http://localhost:15000` and check the config option (don't remember the exact name)

[2018-11-15 17:48] jbrongtr commented on #6469
Below you will see a curl request with edited headder:
curl -I -HHost:grafana.iddls.com https://grafana.iddls.com:31380

Then i tired to access it from a chrome browser.
[code]
I seem to be having issues getting the envoy config....

Additionally, when i try to apply a config file with host:port, pilot yells:
[code]

[2018-11-15 17:53] mabushey commented on #9982
I believe this change in istio.yaml will fix that specific problem:
[code]

However the containers will still not internally route to each other in 1.0.3, at least when they are all in a custom namespace.

[2018-11-15 18:07] mabushey opened #9987 "istio-1.1.0-snapshot.2 does not install with helm"
**Describe the bug**
Trying istio-1.1.0-snapshot.2 as the 1.0 series appears fubar since 1.0.2

**Expected behavior**
helm template create istio.yaml

**Steps to reproduce the bug**
[code]

**Version**
{{ What version of Istio and Kubernetes are you using? Use `istioctl version` and `kubectl version` }}
[code]
istioctl should be removed from this issue template as it's been obsolete/unneeded since

[2018-11-15 18:12] kyessenov commented on #9933
Per offline discussion, it's up to pilot team to decide whether they want linting or not, since the rest of the code is linted. Therefore, assigning the issue to networking area.

[2018-11-15 18:16] prune998 commented on #6469
Well @jbrongtr  :
- due to Galley you can't create a `Gateway` with a `host` that includes a `port`. So your last issue is "normal". Don't add port !

- it sounds you're trying to acces your server on port `31380` from the outside... but the IngressGateway is bound to port 80 (and/or 443)... so it won't work.

I don't think your problem is due to this `port` issue.
Try to `curl -I -HHost:grafana.i

[2018-11-15 18:17] mandarjog commented on #9694
converting this to an epic.

[2018-11-15 18:36] ayj commented on #9987
Dup of https://github.com/istio/istio/issues/9931 (see https://github.com/istio/istio.io/pull/2876)

[2018-11-15 18:36] #9987 closed

[2018-11-15 18:45] jbrongtr commented on #6469
@prune998

-  While it may currently be normal for that error to be thrown, i think that the purpose of the aforementioned patch will allow us to access services within the mesh when specifying port. This may be particularly useful for on-prem kubernetes deployments and in development environments.

- Port 80 on the istio-ingressgateway is mapped to node port `31380`, to allow external traffic int

[2018-11-15 19:05] ldemailly opened #9988 "restore fortio automated daily runs"
https://fortio-daily.istio.io/?s=master
has last data from July 2017

the 4 scenarios described in https://istio.io/docs/concepts/performance-and-scalability/#testing-scenarios and that have been running continuously from the 0.2 to the 0.7 releases should continue to be run (or why not?)

[2018-11-15 19:05] douglas-reid commented on #9694
@mandarjog is this still 1.1 focused then?  Or can we make this 1.2?

[2018-11-15 19:07] ymesika commented on #9799
Currently the Mesh config file watcher only tells the XDS server about the update.
The `policyCheckFailOpen` is used by the Mixer and we currently don't have the logic for updating Mixer with the new config.

[2018-11-15 19:38] douglas-reid commented on #9964
Without knowing the full context here, I feel like it would be nice to avoid refactoring the client code to deal with the internals of a specific library. Obviously, there is a need for some pragmatism for a solution here, but batching only delays the issue and could lead to brittle code (depending on how it is refactored, etc.).

[2018-11-15 20:12] victorboissiere commented on #9488
@vadimeisenbergibm The answer I needed. It makes perfect sense. Thank you. I can close the ticket.

[2018-11-15 20:12] #9488 closed

[2018-11-15 20:19] mandarjog commented on #9964
@songy23 We have a two fold plan, I will submit a PR to opencensus for non-blocking write.
Doug is working on a PR to do some batching, both are independently needed.

[2018-11-15 20:32] rvandegrift commented on #8572
Both sound great!

[2018-11-15 20:37] ozevren commented on #9863
Any update on this? Were you able to figure out whether there was a race or not?

[2018-11-15 20:39] Stono commented on #8270
Hey, can I rekindle this issue please because I seeming it correlate to 503s in a service.

[code]

<img width="659" alt="screenshot 2018-11-15 at 20 39 18" src="https://user-images.githubusercontent.com/1486729/48580231-8bdf0000-e916-11e8-9366-d3229d4a8967.png">

[2018-11-15 20:40] Stono commented on #9113
Dunno if this is related https://github.com/istio/istio/issues/8270

[2018-11-15 21:46] wattli commented on #9837
@incfly , any update on this one?

[2018-11-15 21:49] wattli commented on #8541
This should be a dup of https://github.com/istio/istio/issues/9659, @castlemilk ,  https://github.com/istio/istio/pull/9786/ should fix this.

[2018-11-15 21:50] wattli commented on #8541
Close this for now since it is a dup of #9659

[2018-11-15 21:50] #8541 closed

[2018-11-15 21:52] vadimeisenbergibm commented on #9488
@victorboissiere You are welcome.

[2018-11-15 21:54] vadimeisenbergibm commented on #9017
@huydinhle Please see https://preliminary.istio.io/docs/examples/advanced-gateways/egress-gateway/ for TLS and https://preliminary.istio.io/blog/2018/egress-mongo/ for TCP traffic.

[2018-11-15 22:11] munrodg commented on #9380
Closed per Steve's comments

[2018-11-15 22:11] #9380 closed

[2018-11-15 23:34] scaratec commented on #7656
Same issue here with istio 1.0.3

[2018-11-15 23:42] theganyo opened #9992 "Bouncing mixer causes 503s on Istio 1.0.3"
**Describe the bug**
After restarting a policy mixer, client calls can fail with a 503 error:

HTTP/1.1 503 Service Unavailable
content-length: 69
content-type: text/plain
date: Thu, 15 Nov 2018 23:29:44 GMT
server: envoy
x-envoy-upstream-service-time: 1016
UNAVAILABLE:upstream connect error or disconnect/reset before headers

**Expected behavior**
All curl commands to complete successfully once p

[2018-11-15 23:50] mabushey opened #9993 "Issues with istio-release-1.1-20181115-09-15"
I like the premise of istio, I wish someone could release a working version. After 3 months of working with it I'm about to give up. The docs and the quality control is about the worst I've ever seen, especially for a project this big. I love how the ingress/routing works, if it could only do it w/o corrupting packets.

#1 - chart/subcharts is still messed up - you have to run `cp -r istio-release

[2018-11-15 23:57] kyessenov commented on #9992
This is likely due to some delays in propagating new mixer endpoint. The fail close scenario is by design, and can be turned off if needed.

It would help us to report how long it takes for envoy to pick up the new mixer endpoint (perhaps, observe mixer cluster stats for refreshes).

[2018-11-16 00:05] theganyo commented on #9992
I filed this issue 20 minutes ago and just tried again now. Still getting errors.

[2018-11-16 00:06] kyessenov commented on #9992
That's no good. Can you provide cluster dump?

[2018-11-16 00:08] theganyo commented on #9992
I tried, but the dump failed - see below. (This should be very easily reproducible, though.)

[code]

[2018-11-16 00:10] kyessenov commented on #9992
cc @ostromart @mandarjog for the dump tool.

[2018-11-16 00:17] costinm commented on #9504
Nate: can you take a look ? It seems the readiness is causing this - the case is a pod that has container ports, but not service, which can happen if they open a port for prometheus scraping for example.

[2018-11-16 00:30] ayj commented on #9863
This seems to be a race between starting the k8s cluster (via minikube) and the webhook becoming reachable via dns/kube-proxy. Even with enhanced galley readiness checks I still occasionally see "connection refused". I cannot reproduce the problem if I re-run the test in the existing cluster.

[2018-11-16 00:33] ayj commented on #8558
Created https://github.com/istio/istio.io/issues/2887 to track the documentation change.

[2018-11-16 00:33] #8558 closed

[2018-11-16 00:35] kyessenov commented on #9933
Not all are recommended actually. I've tried nakedret, gosec, errcheck, goconst, maligned. There is a very large number of fixes needed (and of arguable quality). We can leave those for later, in case we decide to put in the work needed to fix all the files.

[2018-11-16 00:35] hklai commented on #9931
It looks like a doc issue and istio/istio.io#2876 should address this.

Is there anything else that needs to be done here?

[2018-11-16 01:04] mabushey commented on #9923
Galera is awesome. :) It's good that using Istio 1.0.2 as 1.0.3 and newer is broken for Stateful sets (istio-release-1.1-20181115-09-15 finally fixes the statefulset problem but introduces numerous new bugs).

Have you tried bringing up MariaDB without the automatic sidecar injection, and then after it's up enabling it?

maria-ns-no-sidecar.yml:
[code]

maria-ns-sidecar.ns
[code]

[2018-11-16 01:09] nmittler opened #9994 "TestNodeMetadata fails on Go 1.11.1+"
1.11 works (which is what CI uses), but the method fails on both 1.11.1 and 1.11.2 with:

[code]
It appears that there is a difference in behavior of the built-in json library.

[2018-11-16 01:15] mabushey commented on #9333
Anything to get away from Helm would be great as all it does is add complexity and problems. Helm causes way more problems than it solves.

[2018-11-16 01:30] mabushey opened #9995 "Is it possible to only run gateway and ingress?"
Istio Ingress is awesome, but it's the only part of Istio that I can make work. Is it possible to run only the gateway and ingress portion of Istio? Linkerd2 looks like it can handle the rest. I've seen some docs on this, but they are a year old and I doubt they have much in common with Istio Ingress now.

[2018-11-16 01:46] liminw commented on #9921
I had a discussion with @mandarjog today on this issue. The proposal is to add a default RBAC rule to allow any user (user: "*") to access "/healthz" path. @mandarjog, do you plan to make the change?

[2018-11-16 01:51] kyessenov commented on #7814
Not stale I think.

[2018-11-16 02:00] kyessenov commented on #9992
OK, can you perhaps extract logs from mixer pod (both mixs and the proxy). Maybe we can find some signal about what's going on? Describing the mixer pod with kubectl would also help.

[2018-11-16 02:01] rchernobelskiy commented on #9488
Do you guys know if it's possible to have Istio do egress TLS origination with a wild card domain? Or this is not possible?

[2018-11-16 02:08] mandarjog commented on #3063
@nmittler yes it is. We should be mostly done here, proxy-agent readiness should suffice this requirement. It should be a matter of testing this feature and helm chart updates.

[2018-11-16 02:56] clyang82 commented on #9593
update the `istioctl` again and modify the `imagePullPolicy: Always`. it is working now.

[2018-11-16 02:56] #9593 closed

[2018-11-16 02:58] clyang82 commented on #9593
@vnugent Here is document mentioned that istioctl is required. https://preliminary.istio.io/docs/setup/kubernetes/download-release/

[2018-11-16 03:08] Linuxbody opened #9998 "Error from server (InternalError): error when creating "samples/bookinfo/networking/bookinfo-gateway.yaml": Internal error occurred: failed calling admission webhook "pilot.validation.istio.io": Post https://istio-galley.istio-system.svc:443/admitpilot?timeout=30s: dial tcp 10.254.176.80:443: connect: connection timed out"
**Describe the bug**
{{ Succinctly describe the bug }}

**Expected behavior**
{{ What did you expect to happen? }}

**Steps to reproduce the bug**
{{ Minimal steps to reproduce the behavior }}

**Version**
{{ What version of Istio and Kubernetes are you using? Use `istioctl version` and `kubectl version` }}

**Installation**
{{ Please describe how Istio was installed }}

**Environment**
{{ Which e

[2018-11-16 03:10] clyang82 commented on #9876
+1
I met the same issue that the `master-latest-daily` cannot get pushed, because the `imagePullPolicy: IfNotPresent`. You can modify it to `imagePullPolicy: Always` to pull the latest images.

[2018-11-16 03:46] hzxuzhonghu commented on #9998
@Linuxbody Can you check your  galley service by
 `kubectl get svc -n istio-system`

[2018-11-16 03:57] chunheisiu commented on #9923
Thanks for the comment.

I haven't tried it, but I doubt it would make a difference, since the issue is caused by the sidecar interfering with the communication between the MariaDB pods. Even if they are able to initialise without the sidecar at first, adding the sidecar afterwards would cause the state and snapshot transfer to fail, as far as I know.

[2018-11-16 04:11] vadimeisenbergibm commented on #9488
@rchernobelskiy I think it is possible. See https://preliminary.istio.io/docs/examples/advanced-gateways/wildcard-https-egress-gateway/ and https://preliminary.istio.io/docs/examples/advanced-gateways/egress-gateway-tls-origination/#perform-tls-origination-with-an-egress-gateway. Please let me know if you see any issues.

[2018-11-16 05:02] rchernobelskiy commented on #9488
Thanks so much for you help @vadimeisenbergibm - I saw those but still not seeing a way to craft a DestinationRule that initiates TLS with a wildcard host - maybe I'm missing something?

[2018-11-16 05:07] #6377 closed

[2018-11-16 06:25] markeijsermans opened #10001 "Gateway TLS does not serve intermediate cert chain"
**Describe the bug**

I'm configuring TLS for a gateway in `SIMPLE` mode. It's a wildcard DNS and the cert is issued by GoDaddy which requires 3 intermediate chained certs. Configuring the gateway with a `caCertificates` file has no effect.

With scant documentation on this, I attempted configuring certs similar to nginx: http://nginx.org/en/docs/http/configuring_https_servers.html#chains

**Expec

[2018-11-16 08:36] #2805 closed

[2018-11-16 09:46] shakti-das commented on #9378
/assign

[2018-11-16 09:46] istio-testing commented on #9378
@shakti-das: GitHub didn't allow me to assign the following users: shakti-das.

Note that only [istio members](https://github.com/orgs/istio/people) and repo collaborators can be assigned.
For more information please see [the contributor guide](https://git.k8s.io/community/contributors/guide/#issue-assignment-in-github)

<details>

In response to [this](https://github.com/istio/istio/issues/9378#i

[2018-11-16 09:51] hzxuzhonghu commented on #9378
/assign @shakti-das

[2018-11-16 09:51] istio-testing commented on #9378
@hzxuzhonghu: GitHub didn't allow me to assign the following users: shakti-das.

Note that only [istio members](https://github.com/orgs/istio/people) and repo collaborators can be assigned.
For more information please see [the contributor guide](https://git.k8s.io/community/contributors/guide/#issue-assignment-in-github)

<details>

In response to [this](https://github.com/istio/istio/issues/9378#

[2018-11-16 09:51] hzxuzhonghu commented on #9378
Please feel free to do it.

[2018-11-16 11:44] sdake commented on #9884
@ayj your proposal is viable for folks that have not used Helm 2.10+ to install Istio.  If they have the following constraints apply:

https://github.com/istio/istio/issues/9604#issuecomment-437372398

Quoted here:
[code]

In short, we can't do the following:
- remove the annotation as I have done in https://github.com/istio/istio/pull/9847.  The annotations need to stay.

I really like @costinm's

[2018-11-16 11:52] FaKod commented on #9982
Same here for Prometheus Operator

creating a Pod fails because Pod has the annotation:

`statefulset.kubernetes.io/pod-name:  "prometheus-kube-prometheus-0"`

Obviously ISTIO_META_statefulset.kubernetes.io/pod-name is not a valid ENV name.

So, what can I do with (defined in ConfigMap istio-sidecar-injector):

[code]

to add a check or to create a valid ENV name?

[2018-11-16 13:36] #6782 closed

[2018-11-16 14:41] linsun commented on #9995
Yes, that is possible, I think you also need pilot to push config to the gateway.  BTW, istio ingress is deprecated now.

[2018-11-16 15:05] hd-deman commented on #7528
And/Or support Prometheus operator
https://github.com/coreos/prometheus-operator/issues/1160

[2018-11-16 15:38] nmittler commented on #9504
You should be able to disable readiness by setting the annotation `status.sidecar.istio.io/port: "0"` in your deployment

[2018-11-16 15:48] nmittler commented on #3063
@mandarjog @PiotrSikora My main concern is that we have the metrics we need in Envoy.

See the table in the `Liveness` section: https://docs.google.com/document/d/1jC0a2ku8-e3a7uMIc39HbMFbD4eh8JqWh-NFuLZSOwk/edit#heading=h.an3m8yo3ehje.

Specifically `failedRequests` and `totalRequests` need to be accounted for.

Also, this doc has been out there a while ... are we even happy with the liveness cal

[2018-11-16 15:56] vadimeisenbergibm commented on #9488
@rchernobelskiy Hmm, the problem could be with setting the SNI value. Let me check this tomorrow.

[2018-11-16 16:09] rchernobelskiy commented on #9488
Thanks @vadimeisenbergibm, I think you may be right - when I tried it, the nginx logs seemed to indicate that there wasn't an SNI or that it was empty or a dash (depending on whether I set ROUND_ROBIN or PASSTHROUGH for load balancer in the DestinationRule)

[2018-11-16 17:03] GregHanson opened #10010 "make generate_yaml command broken for TAGs with of type int"
**Describe the bug**
from the release-1.1 branch:
add `set -x` to start of /install/updateVersion.sh script
run `./install/updateVersion.sh -a "gihanson,111618"`

[code]

the following line in the yaml does not work for int TAG's
`name: istio-security-post-install-{{ .Values.global.tag | trunc 32 }}`

Following lines cause problems:
https://github.com/istio/istio/blame/release-1.1/install/kubernet

[2018-11-16 17:07] tiswanso commented on #10010
FWIW, the issue seems to be pretty narrow to specific TAG formats.  I noticed no problems with the following tags:
`TAG=release-1.1-latest-daily`
`TAG=master-latest-daily`
`TAG=f9d12c36c87dfa46187641711a1953ed467d3ea8`
`TAG=f9d12c36c`

[2018-11-16 17:14] GregHanson commented on #10010
if the TAG is interpreted as string, everything is fine

[2018-11-16 17:15] PiotrSikora commented on #9659
If I understand this correctly, the sidecars are not starting because of missing certificates needed for connections to external services, which should be only configured on the egress gateway(s) and not all sidecars.

Is that correct? If so, that sounds like Pilot is pushing too much configuration to sidecars.

cc @costinm @rshriram @duderino

[2018-11-16 17:21] odeke-em commented on #9964
@mandarjog would you mind sharing with me what your fix for "non-blocking write" would look like? If private, my email is in my Github profile. Thanks!

[2018-11-16 17:21] robertpanzer opened #10011 "Mixer EL should support string length function"
**Describe the feature request**
The Mixer EL has some functions for strings to match them with a regex, and methods to check for prefixes, suffixes etc.
It would be nice if there would be a method to get the length of a string.
I.e. a match condition in a Rule like `"abc".length() == 3` should evaluate to true.

**Describe alternatives you've considered**
An alternative could be to match against

[2018-11-16 17:23] robertpanzer opened #10012 "Mixer EL should support < and > operators"
**Describe the feature request**
Currently the Mixer EL only supports operators that check for equality (or inequality).
It would be good if there were also operators to compare two values for greater than and less than, i.e. `<` and `>`.
Maybe even `<=` and `>=`.

**Describe alternatives you've considered**
There are no alternatives to my knowledge.

**Additional context**
{{ Add any other contex

[2018-11-16 18:06] c0d1ngm0nk3y commented on #9659
Right. That would be the *real* fix. I would consider this more as a mitigation, since introducing this health probe hinders the sidecars of starting. Before, the configuration was `rejected`, but the sidecars started anyway.

[2018-11-16 18:07] kyessenov commented on #10011
FWIW, CEL supports `size` function: https://github.com/google/cel-spec/blob/master/doc/langdef.md#functions.

[2018-11-16 18:08] mabushey commented on #9995
@linsun Thanks for the response. :) I believe the `istio ingress` being deprecated is the old system, and the new system is the Gateway / VirtualService routing rules, correct? Gateway / VirtualService is what I'm using now and it is absolutely awesome.

[2018-11-16 18:14] vadimeisenbergibm commented on #9488
OK, I see. @rchernobelskiy, could you please open a separate issue for that? Can you also describe your use case? I think some development will be required to forward the SNI according to the HOST header.

[2018-11-16 18:14] robertpanzer commented on #10011
Hm... both `size("foo")` and `"foo".size()` give me `unknown function: size.
Is there anything that I am doing wrong?
From the document I would assume that the first example should work.

[2018-11-16 18:19] kyessenov commented on #10011
Sorry, I didn't mean we support them! Thank you for making the contribution to add it. We do want some alignment between our IL and CEL. It's not on any short-term road map. Picking the same function names might just help in the longer term if we decide to extend IL to full CEL.

[2018-11-16 18:23] robertpanzer commented on #10011
Ah ok, thanks for the clarification :-)
I was already on the way providing a PR for `.length()`.
But I'll adapt it then to `size(arg)`.

[2018-11-16 18:30] idibidiart commented on #7777
I guess support for Docker Swarm is not a high priority. Does the Istio team see Docker Swarm as a distraction? I find Swarm easier to setup and would love to play with Istio+Docker Swarm.

[2018-11-16 18:32] mandarjog opened #10014 "Mixer: invalid attributes: duplicate attribute"
This is only seen when 1.1 proxy communicates with 1.0 Mixer.

Ostensibly, this is not supported, but It is very helpful for testing.
If this is easy to fix, we should fix it in 1.1

[code]

[2018-11-16 18:33] rshriram commented on #9743
fixed by @frankbu

[2018-11-16 18:33] #9743 closed

[2018-11-16 18:43] sebastienvas commented on #9865
Sorry I resolved this last week, by adding more resources.

[2018-11-16 18:43] #9865 closed

[2018-11-16 18:45] mabushey commented on #6566
@naveeng68 In AWS with cert manager you can create one SSL cert with numerous domains and wildcard subdomains.

[2018-11-16 18:50] mandarjog commented on #9964
@douglas-reid please hold off on the batching work. The root cause appears to be something different.

[2018-11-16 19:02] mabushey commented on #6566
`aws-load-balancer-connection-idle-timeout` in the helm values.yaml is generated in istio-release-1.1-20181115-09-15 and applies perfect.

[2018-11-16 19:09] ayj commented on #9884
Removing the new CRD as a temporary mitigation seems reasonable. 1.0.3 would be discouraged and we'll need to provide documented workarounds for those that have already applied it.

I wasn't suggesting we remove the `crd-install` annotation (yet). That would need to come later post 1.1, either with a helm fix (e.g. 3-way merge) or we switch away from helm for managing CRDs. I was trying to underst

[2018-11-16 19:33] mandarjog commented on #9928
@johnzheng1975  it would be great if you are able to use 1.0.3 for the same test and send us the dashboard. Thanks.

[2018-11-16 19:40] daugustus commented on #8557
I am having a similar problem with the bookinfo demo on AWS-eks but I think this has to do with the automatic sidecar injection. Here are my commands:
`kubectl label namespace default istio-injection=enabled`
`kubectl apply -f samples/bookinfo/platform/kube/bookinfo.yaml`

[code]

`kubectl get services`

[code]

`kubectl get pods`

[code]

**At this point, shouldn't there be 2 pods as the demo sho

[2018-11-16 19:58] robertpanzer commented on #10011
Looks like it is not that easy to add polymorphic functions.
I will need some more time to find out how that would work and to understand the whole architecture of that thing.

[2018-11-16 20:06] mandarjog commented on #9994
@hzxuzhonghu the original test included the type of strings that we expect to see in the field.
This fixes the test failure, but it is going to fail when this sort of data is present in a deployment.
We need to look at this closely, can you investigate?

[2018-11-16 20:09] douglas-reid commented on #9982
@mandarjog Can you provide comments here?

[2018-11-16 20:52] linsun commented on #9995
@mabushey yes, that is correct.  Gateway / VirtualService replaces the old ingress and routing rules.

[2018-11-16 21:31] kyessenov commented on #9560
Thanks very much for bisecting! I can finally reproduce it off 1.0.3 tag.

[2018-11-16 21:40] duderino commented on #9659
@costinm assigning to you for at least an answer, but if you don't have the bandwidth to fix please assign to me

[2018-11-16 21:48] duderino commented on #8224
I'll try this one

[2018-11-16 22:05] #4864 closed

[2018-11-16 22:16] bianpengyuan commented on #9542
Close this for now since the initial issue has been resolved.

[2018-11-16 22:16] #9542 closed

[2018-11-16 22:30] duderino commented on #9921
@liminw mjog agreed to the solution but didn't agree to do the work.

The minimum for 1.1 is to document the behavior.  Per mjog "If this is the case, please provide clarity in config examples and docs."

If a fix can't be provided in 1.1 timeframe, please move to 1.2 after the documentation fix is made.

[2018-11-16 22:33] PiotrSikora commented on #9546
From the logs:
[code]
it looks that Pilot sends invalid configuration. Perhaps it's internally mixing/overriding `0.0.0.0_443` (HTTPS) and `0.0.0.0_443` (TCP) resources? cc @costinm @rshriram

FWIW, I don't believe mixing HTTPS & TCP listeners on the same IP:port is currently supported. Adding support for it would require moving from non-binding listeners to a filter chain matching with SNI-based

[2018-11-16 22:39] duderino commented on #9546
I think the priority is on fixing Pilot to send valid config, but does Envoy need to protect itself better too?

@castlemilk did Envoy actually crash here?  The crash isn't visible in the logs.  If it entered an unstable state, what did that look like?

[2018-11-16 22:43] duderino commented on #9858
@hklai how does mixer look now?  can this be closed?

[2018-11-16 22:49] ayj opened #10023 "pkg/test/framework/components/apps/local/agent::TestFull is flaky"
xref: https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/10021/istio-unit-tests/16875

[code]

[2018-11-16 23:00] duderino commented on #6391
@ymesika any update?

[2018-11-16 23:02] sdake commented on #9884
A more advanced take on this problem (for 1.1 or 1.2) is in this PR: https://github.com/istio/istio/pull/10015.  I am unclear if we have enough time available to properly test this approach for 1.1.  It may make more sense to just forward port https://github.com/istio/istio/pull/10005 to 1.1 and introduce the operator approach as a more completely baked implementation in 1.2.

Cheers
-steve

[2018-11-16 23:03] duderino commented on #9980
@rcurran1 can you work on this?  if not, please unassign yourself and add the 'community/help wanted' label

[2018-11-16 23:03] duderino commented on #9968
@Nino-K can you work on this?  if not, please unassign yourself and add the 'community/help wanted' label

[2018-11-16 23:04] duderino commented on #7695
@rshriram can you work on this?  if not, please unassign yourself and add the 'community/help wanted' label

[2018-11-16 23:06] sdake commented on #9884
Fwiw, Helm upstream has indicated they have no interest in a 3 way merge upstream at least for the 2.y.z series.  They left 3.y.z open for debate IIUC.

Otherwise, agree.  I did ask @douglas-reid to review and verify the removal of the CRDs would not cause the telemetry WG significant difficulties.

Cheers
-steve

[2018-11-16 23:35] liminw commented on #9921
I checked with @wattli. It seems that @incfly 's health check change is still not in yet. And [the doc regarding health check](https://preliminary.istio.io/help/faq/security/#k8s-health-checks) still describes the old behavior.

Since the RBAC related documentation mentioned in this issue is only relevant in the context of the new way of health check. I will wait for @incfly 's change in and relev

[2018-11-16 23:39] ayj commented on #10023
xref: https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/10025/istio-unit-tests/16882

[code]

[2018-11-17 00:01] odeke-em commented on #9964
@mandarjog @douglas-reid  interestingly I've spun a rough profiler
[code]

which when run gives values such as
[code]
where the first column is the number of concurrent goroutines for a `stats.Record(context, stats.Measure)` call and so far with ~10K goroutines concurrently invoking that function, the worst time am getting is about ~23ms

[2018-11-17 00:07] hklai commented on #9858
@duderino still looking flaky
Postsubmit: https://testgrid.k8s.io/istio-postsubmits#e2e-mixer-no_auth
Postsubmit: https://testgrid.k8s.io/istio-presubmits#e2e-mixer-no_auth

[2018-11-17 00:08] rcurran1 commented on #9980
@duderino - Unfortunately, I won't be able to work on this issue. Someone else in my group may take it over it time permits. I'll unassign. One possible way to fix is similar to what was done for a mixer test for accessing the secret controller; https://github.com/istio/istio/pull/8536/files#diff-173fd746907fbbed803ceaa79e43a1f6R423 in the creation of the verifyControllers() function.

With this c

[2018-11-17 00:11] douglas-reid commented on #9858
Unfortunately, a lot of the failures still seem related to init issues:

`2018-11-13T01:28:48.516541Z	error	Failed to complete Init. Error context deadline exceeded`.

[2018-11-17 00:46] mandarjog commented on #9964
Thanks for that info. It appears that so many go routines blocked on open-census go may be a symptom of the problem and not the cause. I will update this issue as I know more.

[2018-11-17 00:51] sdake commented on #9976
@ayj will take a look.

[2018-11-17 00:52] ayj commented on #9976
Thanks @sdake. It's also entirely possible i'm using the wrong set of helm commands to roll things back.

[2018-11-17 01:42] costinm opened #10029 "Disable by default alpha/untested features ( multinetwork/cluster)"
Multicluster adds "network" config to each endpoint, and processing ( filtering the endpoints) - it should be at turned off using an env variable or flag until it has sufficient testing. We need to review other parts of config generation that are different from 1.0 and make sure they're either tested ( and don't regress
performance or stability ) or off by default.

In particular the implementatio

[2018-11-17 01:43] sdake commented on #9976
possible commit that broke this: af1d9c96

[2018-11-17 01:50] jeffcai opened #10030 "can not access the external service registered on external Consul inside K8s service but is accessible via ingressgateway"
**Describe the bug**
I have a service-b registered on Consul, and service-b and Consul both are running outside of Kubernetes, and modified the pilot discovery to add the Consul registry, and meanwhile I deployed a service-a on Kubernetes which is to call service-b with the http url: http://service-b.service.consul:8071, and also created gateway, virtualservice and destinationrule as shows below:

[2018-11-17 02:16] mandarjog commented on #9916
This is still an issue, I missed a spot in the last code review....
When object is constructed in `buildSidecarOutboundHTTPRouteConfig` the map reference is copied, so there is no unique lock protecting access to the clusterVIP map.

[2018-11-17 02:44] hzxuzhonghu commented on #9994
@mandarjog It's because the json lib changed behavior since golang 1.11.

https://play.golang.org/p/SqdmEDT2SZ2

golang 1.10  {\"abc\": 20}==>map[string]string{}

golang latest {\"abc\": 20}==>map[string]string{"abc":""}

[2018-11-17 02:51] hzxuzhonghu commented on #9994
xref: https://github.com/golang/go/issues/27318

[2018-11-17 03:03] sdake commented on #9976
@ayj  the best I've got is this:

[code]

Unfortunately, it appears Helm times out during a forced rollback.  --force does the following:
[code]

which will result in some downtime of the control plane during a rollback I suspect.

There is a --timeout field which defaults to 300 seconds (not enough on my bare metal fast gear).  I will take a look at a higher timeout.

I suspect we will have to se

[2018-11-17 03:05] hzxuzhonghu commented on #10029
/cc @ymesika

[2018-11-17 03:12] #7855 closed

[2018-11-17 03:19] mandarjog commented on #9994
We expect the strings like the one used in the test. Most keys in the stringified json should be strings. I want to make sure that the original code works. We have effectively disabled string test.

[2018-11-17 03:48] hzxuzhonghu commented on #10023
`TestMinimal` also failed

[2018-11-17 04:46] ymesika commented on #10029
/assign

[2018-11-17 06:56] castlemilk commented on #9546
The way this issue was reached was from trying to enable transparent HTTPS traffic with TLS origination from the client application and also TLS origination from the egressgateway. These two scenarios are covered in the documentation here:
* https://istio.io/docs/examples/advanced-egress/egress-gateway/#perform-tls-origination-with-the-egress-gateway
* https://istio.io/docs/examples/advanced-egres

[2018-11-17 07:05] #426 closed

[2018-11-17 07:11] castlemilk commented on #8541
@wattli I don't fully agree with this issue being resolved. Maybe another issue should be raised that more specifically addresses the current limitations of both namespace isolation and `ServiceEntry` and `DestinationRule` selectors. As it stands, because of this missing capability, there's still plenty of room for miss-configuration and/or malicious actors to severely impact the functionality of

[2018-11-17 08:01] mr-smithers-excellent commented on #6593
@danielfoehrKn I’m curious if you’re using the JDBC Socket Factory natively or as a part of the Spring Boot GCP project, which uses it under the hood. I’m having similar issues connecting a Java app to Cloud SQL in a GKE cluster with Istio 1.0.3.

[2018-11-17 11:05] #7250 closed

[2018-11-17 13:35] maximbaz commented on #7352
I just wanted to follow-up, although that PR did enable using built-in Prometheus with mTLS (thanks for submitting it!), after a fair amount of testing we ended up disabling Istio's Prometheus and Grafana and opting for using `stable/prometheus-operator` helm chart instead.

In case someone else is looking for a similar setup, here's how to befriend Istio with mTLS and Prometheus deployed via prom

[2018-11-17 14:17] ymesika commented on #6391
No update. Sorry didn't notice I was assigned to this preventing from others to pick it up.

[2018-11-17 15:13] xiaozhongliu commented on #9919
@hzxuzhonghu Hi, could you help to check the configs provided?

[2018-11-17 16:33] #10029 closed

[2018-11-17 16:38] itaysk commented on #9595
Good point. Envoy supports this case by specifying `append: false` in [HeaderValueOption](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/base.proto#envoy-api-msg-core-headervalueoption) but this is not exposed in the Istio API which is a simple `map[string]string`.
I'll work on this if no one minds. expect a PR soon

[2018-11-17 18:05] #3771 closed

[2018-11-17 20:33] #7282 closed

[2018-11-17 23:18] castlemilk commented on #8541
@costinm is this how it operates today? We're currently running the egress gateway in the istio-system namespace, but defining `DestinationRule` resources in other namespaces, these resources still seem to get deployed to the given egress gateway.

[2018-11-18 02:05] MorrisLaw commented on #6518
Commented in PR, still in progress

[2018-11-18 02:14] castlemilk opened #10039 "FR: Namespace isolation"
**Describe the feature request**
Currently Istio violates namespace isolation by applying configuration to all sidecars/gateways. This can lead to undesired behaviour when establishing a multi-tenanted or mirrored environment. Some of these issues include:
* overlapping hosts for ingress/egress use-cases (mitigated if pilot/galley did some validation against already existing host entries in the me

[2018-11-18 02:50] supereagle opened #10040 "Have no permission to re-run CircleCI"
Sometime CI failures are flakes, not related with the PRs. We need to re-run them to pass CI.
There is commands to re-run Prow CI, but none for CircleCI. I find a useful wiki [Working with CircleCI](https://github.com/istio/istio/wiki/Working-with-CircleCI) , but still have no permission to re-run CircleCI.

![image](https://user-images.githubusercontent.com/3390333/48668078-98827480-eb1f-11e8-81b

[2018-11-18 04:11] rchernobelskiy opened #10041 "TLS origination doesn't seem to work with wildcard domains"
**Describe the feature request**
TLS origination with wildcard domains

**Describe alternatives you've considered**
The only alternative seems to be for something outside of Istio, like Nginx, to do TLS origination as a forward proxy.

**Use case**
We interact with AWS Services through their HTTP APIs and would like calls to AWS to appear as part of our end-to-end traces in Jaeger. To do this, we

[2018-11-18 04:37] jaygorrell commented on #9043
I've been debugging this as much as I can in my spare time. The first issue was just choking the pilot -- it settles down after deployments and scales back to 1 by default so throwing 200 pods at at time will cause lots of health check failures until it catches up but setting the HPA minimum to 3 fixes this.

For the main issue, I found that Kubernetes services are another factor here. Here are so

[2018-11-18 06:33] #7243 closed

[2018-11-18 08:33] #3938 closed

[2018-11-18 14:32] sdake commented on #9976
@morvencao ok - why were they removed?

Cheers
-steve

[2018-11-18 19:33] #7001 closed

[2018-11-19 01:44] #6811 closed

[2018-11-19 02:59] morvencao commented on #9976
@sdake I thought they are duplicated with `labels` in pod spec. Since they are mandatory in helm upgrade&rollback, it's better to add them back.

[2018-11-19 03:54] c-knowles commented on #6314
I believe will be resolved by https://github.com/envoyproxy/envoy/pull/4699 assuming that can be easily configured with the next Envoy release.

[2018-11-19 04:44] #7117 closed

[2018-11-19 05:44] #6881 closed

[2018-11-19 06:40] osswangxining commented on #7679
You can specify the parameter gateways.istio-ingressgateway.externalTrafficPolicy to Local if using Helm to deploy.

[2018-11-19 07:04] osswangxining commented on #9919
You should specify the port name of K8S Service  k8s-demo-grpc by following the format:
name: grpc-suffix

[2018-11-19 09:11] irisdingbj commented on #9897
@beemarie Thanks, it works with your version. Thanks!
@vadimeisenbergibm Does it mean we can not have two tls entries in virtualService? The problem is there is no error message when applying the virutal service, so it is hard for user to know what is the problem..

[2018-11-19 09:29] vadimeisenbergibm commented on #9897
@irisdingbj You can have a single tls entry with multiple `match` sections. Note that it is just a YAML syntax - you cannot have the same field with the same name, as far as I understand. What happens is that Kubernetes takes into account the last field value, you can see it for Kubernetes objects as well.

Try this:

[code]

The output will be:
`service "sleep3" created`. Kubernetes ignores the t

[2018-11-19 11:29] sdake commented on #9980
@kyessenov @duderino appears that @john-a-joyce has resolved this - just needs a review.

Cheers
-steve

[2018-11-19 11:44] #7308 closed

[2018-11-19 11:57] lmctest commented on #7587
helm upgrade istio install/kubernetes/helm/istio --set grafana.enabled=true

[2018-11-19 12:35] incfly commented on #9837
@diemtvu I tried the steps you mentioned, however I can't reproduce the failure.

- my-nginx lds output, https://gist.github.com/incfly/744d92f08baaafa3d270604d1f7a6de7
- no destinationrule exists for this service.
- global mtls permissive exists, https://gist.github.com/incfly/744d92f08baaafa3d270604d1f7a6de7#file-meshpolicy

[code]
succeeds with "Welcome Nginx"

[2018-11-19 12:50] shubhamitc opened #10050 "Not able to access service running outside of mesh"
**Describe the bug**
Not able to access specific application running out of Mesh. Other applications running on same network are accessible. (Service running on port 8000)

**Expected behavior**
Should be able to access this service over port 8000.

**Steps to reproduce the bug**
Run any python service(port 8000) on VM within same network as kubernetes. Enable side car injection on namespace and t

[2018-11-19 13:36] xiaozhongliu commented on #9919
@osswangxining Thanks Xining for ur reply. I don't understand ur suggestion, is there any doc on this?

[2018-11-19 14:38] blackbaud-brandonstirnaman commented on #7675
To report back.. I deployed a new cluster with `useAdapterCRDs=false` and its been running for ~10 days or so now without a recurrence of the watch issue slowing helm/dashboard.

Good work! It'd be great if we could get the helm option @douglas-reid mentioned so my scripts can stop hacking the subchart in 1.1 releases. Can't find the PR mentioned though.

[2018-11-19 16:17] GregHanson commented on #10010
resolved by #10021

[2018-11-19 16:17] #10010 closed

[2018-11-19 16:37] #9980 closed

[2018-11-19 16:44] #6187 closed

[2018-11-19 17:34] vadimeisenbergibm commented on #7073
Addressed by https://github.com/istio/istio.io/pull/2892, closing.

[2018-11-19 17:34] #7073 closed

[2018-11-19 17:43] vadimeisenbergibm commented on #9502
@crowfrog I think you should add port 30923 to your ServiceEntry, so the case _mesh:30923 => egressgateway:80 => dest:30923_ would work.

[2018-11-19 18:23] diemtvu opened #10053 "Istio doesn't work with Cassandra"
**Describe the bug**
Cassandra node cannot communicate with each other (handshaking / gossip), with or without mTLS.

Note: this is different from issue https://github.com/istio/istio/issues/1277 which partly due to incorrect containerPort. That issue get this same problem once the containerPort was fixed.

**Expected behavior**
[istio-dump.tar.gz](https://github.com/istio/istio/files/2596502/isti

[2018-11-19 18:40] diemtvu commented on #9837
Which Istio version did you try? I can reproduce this with 1.0.3 still.
I'll make a quick test with HEAD.

On Mon, Nov 19, 2018 at 4:35 AM Jianfei Hu <notifications@github.com> wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-215-8127

[2018-11-19 18:57] diemtvu commented on #9837
Ok. Looks like the issue gone for 1.1 (pre-release) and master HEAD (would love to know what is the cause in the first place, and may be adding e2e tests for it though). Close the issue for now.

[2018-11-19 19:09] ayj commented on #9976
I'm not sure they ever existed. Match selectors were not required with `extensions/v1beta1`. Instead, they would be defaulted to match the pod template spec's set of labels. Subsequent re-applying the same `extensions/v1beta1` deployment with a different set of pod labels would result in "match selector doesn't match pod labels" error since the previous defaulted selector no longer matches the new

[2018-11-19 19:33] mandarjog opened #10056 "Configurable AcessLogFormat"
At present, Istio is unable to configure accessLog format per evnoy's access [Log definition](https://www.envoyproxy.io/docs/envoy/latest/configuration/access_log#configuration).

1. Add `AccessLogFormat` to mesh config
2. Add `AccessLogEncoding`   (text, json ...)

Ensure that those two settings interoperate correctly.

At present `AccessLogFormat` is hardcoded

[2018-11-19 19:40] sergio-fleetsmith opened #10057 "gRPC mirroring does not work"
**See second comment for easy to reproduce setup.**

**Describe the bug**
gRPC calls are not mirrored properly. Only server reflection calls are mirrored.
Other gRPC calls are only mirrored once client pod is restarted/deleted.

**Expected behavior**
All gRPC calls to be mirrored properly, not just server reflection calls.

**Steps to reproduce the issue**
**See second comment for easy to reproduc

[2018-11-19 21:17] rshriram commented on #9429
Sorry I missed this. When you said two ingress gateways, what are their gateway specs like? Do they have distinct ways to be identified using the selector labels in the gateway?

[2018-11-19 21:19] rshriram commented on #9429
Also what do you mean by adding a service to the gateway? Did you mean adding a gateway spec and a virtual service?

[2018-11-19 21:48] kyessenov commented on #9560
The fix has been merged to 1.0 branch. 1.1 is not affected (which is why it was difficult to reproduce the bug). I'll reconcile the two fixes in another PR.

Thank you very much @johnholiver for raising the issue!

[2018-11-19 21:49] #9560 closed

[2018-11-19 23:06] yciabaud commented on #9429
Well it looks like this is not related to having multiple ingressgateway instances.

This occurs when you have 2 virtualservices configured on 2 subdomains and each have its own gateway configured on the subdomain.
The ingressgateway is using a wildcard TLS certificate and the handshakes are ok but persistent connections from browser are failing when switching from one service to the other.

[2018-11-20 01:01] venilnoronha opened #10062 "Connection Failure to a MySQL Service"
**Describe the bug**
When running a MySQL service over Istio, other services are able to discover it; however, on attempting a connection, the following error is observed.

[code]

**Expected behavior**
The connection should succeed.

**Steps to reproduce the bug**
Create the necessary storage.

[code]

Deploy MySQL with the following config.

[code]

**Version**
[code]

[code]

**Installation**
U

[2018-11-20 01:32] uromahn commented on #7656
I see the same issue with Istio 1.0.3.

It is very interesting that multiple people seem to report the same issue but no response. So, either this "issue" has a trivial fix or the community does not seem to be very interested getting this resolved.

[2018-11-20 01:34] michaelkipper commented on #8772
This issue was referenced in https://groups.google.com/d/msg/istio-users/RNrQTudtIdk/cT5eq4KmAQAJ

I'd love to see a solution to this in the API repo.

[2018-11-20 01:38] ozevren commented on #8772
Well, we wouldn't mind getting community to help to get this implemented. :)

I think this is fairly straightforward to implement, but involves fair bit of coding and testing. We should be able to generate the client library via a plugin to the protoc compiler.

[2018-11-20 01:42] hzxuzhonghu commented on #10050
Did you create your ServiceEntry?

[2018-11-20 02:50] liutanrong commented on #6085
i am facing this issue on 1.0.3,and i want to know why the pilot closes the connection every 5 minutes,and how i can solve it

[2018-11-20 02:54] crowfrog commented on #9502
hi @vadimeisenbergibm,
I had added ServiceEntry with 30923. But still got 404 error
when I check "istioctl proxy-config routes" in egressgateway pod, I found only rule which http.80 for dest:80 but not http.80 for dest:30923

I think istio have some issues here.

[2018-11-20 02:57] crowfrog commented on #9502
additional
mesh:80=> egressgateway:80 => dest:30923
this path works fine. But I think this is not used in common cases

[2018-11-20 04:19] #7025 closed

[2018-11-20 05:36] Linuxbody commented on #9998
kubectl get svc,endpoints -n istio-system|grep ga
service/istio-egressgateway      NodePort    10.254.158.174   <none>        80:31435/TCP,443:32910/TCP                                                                                                3d
service/istio-galley             ClusterIP   10.254.129.150   <none>        443/TCP,9093/TCP

[2018-11-20 06:43] scaratec commented on #7656
If there is a fix, I would be happy to learn more about it. ;-)

[2018-11-20 07:51] osswangxining commented on #9919
https://istio.io/help/faq/traffic-management/#naming-port-convention

[2018-11-20 08:10] hzxuzhonghu commented on #9998
Check if your galley service accessible?

[2018-11-20 08:12] vadimeisenbergibm commented on #10041
Implementation of this depends on https://github.com/envoyproxy/envoy/pull/4973 and https://github.com/envoyproxy/envoy/pull/4334.

[2018-11-20 08:16] vadimeisenbergibm commented on #10041
Regarding _The only alternative seems to be for something outside of Istio, like Nginx, to do TLS origination as a forward proxy._

Note that this way you will not be able to implement keepAlive, envoy will open a new connection to the forward proxy every time, and it will hurt performance. I tried various options here - https://github.com/vadimeisenbergibm/envoy-generic-forward-proxy.

[2018-11-20 08:35] dove-young commented on #7888
I hit similar issue on `istio-1.0.3`

[code]

[2018-11-20 09:17] irisdingbj commented on #9800
@mandarjog  For #1, can you clarify whether we need the proxy uid and namespace or not? Also are you working on this now?
For #2, I have not found issue opened in envoy.  Do you have some clues for it?
  // [#not-implemented-hide:]
  // The per_filter_config field can be used to provide virtual host-specific
  // configurations for filters. The key should match the filter name, such as
  // *envoy

[2018-11-20 10:17] ajit-hybris opened #10068 "Service role rules do not support wild cards for get paths"
**Describe the bug**
The Service role RBAC rules only works with exact match of string. Wild cards in the paths verb are ignored.
Adding a query string to http path makes rule fail.

**Expected behavior**
As suggested in this [test at istio repo](https://github.com/istio/istio/blob/master/tests/e2e/tests/pilot/testdata/rbac/v1alpha1/istio-rbac-rules.yaml.tmpl#L78) , 'the paths with wild cards at t

[2018-11-20 11:38] AbrahamAlcaina commented on #7688
And add this one
[code]

[2018-11-20 12:04] Javatar81 commented on #9906
We encountered the same problem. In the logs of the ingress gateway pod, we found several 200 OKs and several 503 errors. The log contains the target pod ips and we found that the ones returning 503 do not pertain to any of the pods behind the k8s service. This issue might disappear when you redeploy your pods. I would assume that the ips returning the error are obsolete pod ips and the ingress ga

[2018-11-20 12:11] darkrasid opened #10069 "Can not use hostname on virtualService"
Hello, I use 1.0.3 istio.

I use a Nodeport ingressgateway and want to access pod with hostname.

my gateway
[code]

and my virtual service.
[code]

And I regist `test-bookinfo.pilsner.com` url on my dns server.

[code]

With these config, it works well.

However when I try to add specific hostname on virtual service, it occurs error.

[code]

I already read [docs](https://istio.io/docs/tasks/traf

[2018-11-20 12:12] shubhamitc commented on #10050
Yes , i have copied it here.
[code]

[2018-11-20 13:01] hzxuzhonghu commented on #10050
Then I suggest using istioctl proxyconfig to check `listener` and `cluster`

[2018-11-20 14:13] Linuxbody commented on #9998
@hzxuzhonghu
 logs:

kubectl -n istio-system logs -f istio-galley-58f566cb66-556db
  warn    istio-galley validatingwebhookconfiguration update deferred: istio-system/istio-galley endpoint not ready: no subsets
2018-11-20T14:06:20.187377Z     warn    istio-galley validatingwebhookconfiguration update deferred: istio-system/istio-galley endpoint not ready: no subsets
2018-11-20T14:06:25.184009Z

[2018-11-20 14:15] Linuxbody commented on #9998
[root@k8s-master1 istio-1.0.3]# kubectl -n istio-system get po,svc
NAME                                         READY     STATUS      RESTARTS   AGE
pod/grafana-59b787b9b-55rk9                  1/1       Running     0          8m
pod/istio-citadel-78df8c67d9-qkj94           1/1       Running     0          8m
pod/istio-cleanup-secrets-bg477              0/1       Completed   0          8m
pod/isti

[2018-11-20 14:18] Linuxbody commented on #9998
![image](https://user-images.githubusercontent.com/9931457/48779241-21f99880-ed12-11e8-9295-ed32c00979c0.png)

[2018-11-20 14:19] #7239 closed

[2018-11-20 16:59] shubhamitc commented on #10050
I am sorry i do not know how to do that. Can you please point me to some documents or instructions?

[2018-11-20 19:21] masstamike opened #10075 "Pilot - multi-cluster deployment not routing to secondary cluster"
**Describe the bug**
When deploying bookinfo as described in the guide, reviews-v3 is not routed to when deployed in secondary (remote) cluster.

**Expected behavior**
Refreshing routes to v1,v2, and v3 equally

**Actual behavior**
Refreshing routes to only v1 and v2 (deployed on primary cluster)

**Steps to reproduce the bug**
Follow multi-cluster GKE guide for deploying BookInfo: https://istio.i

[2018-11-20 19:44] mandarjog commented on #9964
Some more info here
v104 sawtooth https://snapshot.raintank.io/dashboard/snapshot/4IQrG35rzYhxwCy30xVgExMmsCAcPGMi
This shows the problem occurring in v104-pre at high load. As seen from the chart, the issue associated with large spikes of incoming requests to the istio telemetry pod.

[2018-11-20 20:14] draeron commented on #9368
I encountered this situation with an ingress-gateway sending traffic to a dead pod. The problem did solved itself after a while (around 30 min) but I would expect istio to eject bad IPs from the mesh in a timely manner (as in less than a minute).

The problem is two fold:

1. _pilot_ seems to send an invalid IP for a an endpoint from a now delete pod
2. the envoy in the gateway doesn't do any sort

[2018-11-20 20:19] #2173 closed

[2018-11-20 21:04] ayj commented on #9998
Could you try deleting the `istio-galley` validatingwebhookconfiguration and seeing what happens? Galley doesn't create the configuration until the endpoint is ready.

That said, even if a previous configuration was leftover, the logs below show that despite the endpoint being ready (via kubectl get), the logs showing the endpoint is not ready. I'm not sure what to make of that.

What k8s provider

[2018-11-20 21:15] esnible opened #10079 "Extra cluster in Envoy configuration"
I am using Istio version: release-1.1-20181120-09-15 and
Envoy version: 4d8eb98dee59b8cd57962230c0430fa2a486c05e/1.9.0-dev/Clean/RELEASE

The generated Envoy configuration for Bookinfo looks fine:
[code]

After following the sample set to perform `kubectl apply -f samples/bookinfo/networking/virtual-service-all-v1.yaml` there is an extra Route in the Istio configuration that refers to a cluster th

[2018-11-20 21:38] myidpt commented on #7976
https://docs.google.com/document/d/1agtVQADCk32mLwot8iygVGhHcP1Lna7G1Cne4Zwllgg/edit#heading=h.qex63c29z2to

[2018-11-21 00:19] #6795 closed

[2018-11-21 01:35] hzxuzhonghu commented on #9998
This is the cause.

[2018-11-21 01:36] hzxuzhonghu commented on #10050
https://istio.io/help/ops/traffic-management/proxy-cmd/

[2018-11-21 01:38] ayj commented on #9998
https://github.com/istio/istio/issues/9998#issuecomment-440146973 shows a istio-galley endpoint with address 192.168.169.167:443. It's not clear if that was was captured at roughly the same time or not as the logs, or if there is a transient endpoint readiness issue.

[2018-11-21 01:45] hzxuzhonghu commented on #9998
Notice that, weird

[2018-11-21 01:45] hzxuzhonghu commented on #9998
Check this:
`kubectl get ep -n istio-system istio-galley -oyaml`

[2018-11-21 02:23] hzxuzhonghu opened #10082 "Propose to support MeshConfig CRD"
Currently the meshConfig is deferred from configmap `istio`.

[code]

By which the config is difficult to read and update. If change it to a CRD like other apis, it will be easy to maintain by administrators.

[2018-11-21 02:47] rshriram commented on #10082
What else will break? Keep in mind that the mesh config is needed in order for Pilot to know where Galley servers are. So, if Galley is the only one that can read CRDs in future, then we have a problem. So at minimum we need some mesh config map that can be supplied to pilot and mixer to bootstrap themselves. Everything else in mesh config should definitely move to CRD as you suggest.

I am open t

[2018-11-21 03:49] morvencao opened #10083 "Get 503 Error Code when accessing service on remote cluster from local pod with ingress gateway"
**Describe the bug**
Have followed the doc here: https://preliminary.istio.io/docs/setup/kubernetes/multicluster-install/gateways/
to setup `Istio multi-cluster` deployment with daily build: https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/

I found that if I use the daily build on [20181112](https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.1-20181112-21-12/), then everyt

[2018-11-21 04:41] mailzyok opened #10084 "make pilot-test failing"
**Describe the bug**
The piolt test always failed for tag 1.0.3, Maybe it is due to some configuration issues, but i cannot figure it out.

**Expected behavior**
The test cases pass

**Steps to reproduce the bug**
1. clone istio to $ISTIO
2. following dev guide https://github.com/istio/istio/wiki/Dev-Guide to do the configuration, and KUBECONFIG points to the config of local minikube

in .profile:

[2018-11-21 07:53] robertpanzer commented on #10012
Created #10086 to add this.

[2018-11-21 08:12] Linuxbody commented on #9998
[root@k8s-master1 ~]# kubectl get ep -n istio-system istio-galley -oyaml
apiVersion: v1
kind: Endpoints
metadata:
  creationTimestamp: 2018-11-20T14:05:56Z
  labels:
    istio: galley
  name: istio-galley
  namespace: istio-system
  resourceVersion: "1804656"
  selfLink: /api/v1/namespaces/istio-system/endpoints/istio-galley
  uid: 664f02a7-eccd-11e8-8c32-000c29f04163
subsets:
- addresses:
  - ip:

[2018-11-21 08:35] mylife6585 commented on #9728
I have same problem
**Version**
istio 1.0.3
kube 1.11.3
helm 2.10.0

**Installation**
helm install

**Environment**
bare instal

[2018-11-21 09:38] Linuxbody commented on #9998
@ayj
Self-built kubernetes, version 1.11.3 ;
After removing istio-galley, the same error

[root@k8s-master1 ~]# kubectl -n istio-system delete pod istio-galley-58f566cb66-556db
pod "istio-galley-58f566cb66-556db" deleted
[root@k8s-master1 ~]# kubectl -n istio-system get pod
NAME                                     READY     STATUS      RESTARTS   AGE
grafana-59b787b9b-55rk9                  1/1

[2018-11-21 11:12] mikksoone commented on #7665
nginx-ingress has a similar problem. It might update endpoints a few seconds later than the start of termination. In order for the pod to respond, it is advised to use sleep 15 in lifecycle.preStop.

However as @Stono reported, it does not work for the istio-proxy sidecar. When using sleep 15, I find this in the upstream istio-proxy, confirming that the 503 NR happens right after start of pod term

[2018-11-21 12:17] shubhamitc commented on #10050
[code]

[code]

[code]

[2018-11-21 12:42] shubhamitc commented on #10050
Additional info in json
[code]
[code]

[2018-11-21 14:53] emedina commented on #9113
Still facing sporadic 503s, but maybe related to the HPA autoscaling the Control Plane and impacting applications. Does this make sense?

[2018-11-21 16:29] masstamike commented on #10075
Resolution details in PR

[2018-11-21 16:29] #10075 closed

[2018-11-21 17:03] ayj commented on #9998
Can you check the endpoint _after_ you delete the pod and the new pod is running again? Also, can you check the logs after you verify that the new pod/endpoint are up and running? Can you also do `kubectl -n istio-system describe pod <istio-galley-pod-name>` after the new pod is created to see if the readiness probe is intermediately failing?

[2018-11-21 17:12] vadimeisenbergibm commented on #9502
Trying port rewriting 8080 -> 80 -> 8080, with portquiz.net
[code]

[2018-11-21 17:32] vadimeisenbergibm commented on #9502
@crowfrog Please check the example in https://github.com/istio/istio/issues/9502#issuecomment-440742993. It shows port rewriting 8080 -> 80 -> 8080.

[2018-11-21 17:41] ayj opened #10088 "kiali helm deployment template has invalid replica count"
[code]

[2018-11-21 18:51] kyessenov commented on #2706
Route directive proposal has been implemented. It satisfies the basic use-case of mutating headers with mixer adapters.

@brian-avery

In the current model, the header value comes from the adapter. The rules define the operations using those values, e.g. removing or setting a header. The rule operations are only applied if the check succeeds. Please take a look at the example here https://github.c

[2018-11-21 20:04] draeron commented on #9385
hi there, is there any workaround for istio 1.0.3? right now everytimes we have a new deployment we're having issues where the gateway sends requests to the deads pods IPs.

[2018-11-21 20:43] kyessenov commented on #8186
Not stale?

[2018-11-21 20:45] kyessenov commented on #7841
/cc @JimmyCYJ -- who has been going the painful process to update envoy repeatedly.

[2018-11-21 20:52] kyessenov opened #10092 "mixer codegen uses old gogo"
It turns out that mixer codegen uses gogo inside the image gcr.io/istio-testing/protoc:2018-06-12. This image contains an old version of gogo, which is inconsistent with the istio vendored gogo.

[2018-11-21 21:30] JimmyCYJ commented on #7841
Currently when we commit a PR, the proxy-postsubmit job builds proxy image with the changes made in that PR. This job takes over one hour to finish, and we cannot update istio.deps before that. Normally people does not update istio.deps right after the proxy-postsubmit job completes. Therefore every time people update istio.deps, it always contains multiple commits made in proxy repo. If any commi

[2018-11-21 21:38] ayj commented on #9976
Confirmed that #10033 fixed the rollback issue I originally reported. I was able to successfully upgrade and then downgrade between 1.0.4 and the istio-release-1.1-20181120-09-15 daily build. I didn't need to use `--force`. I didn't look too closely at traffic drops, but didn't observe that the bookinfo app was briefly unavailable during the upgrade/downgrade.

[2018-11-21 21:38] #9976 closed

[2018-11-21 22:11] venilnoronha commented on #1368
Port names prefixed with `grpc-web-` will have the `envoy.grpc_web` filter enabled automatically. See #10064 for further details.

[2018-11-21 22:11] #1368 closed

[2018-11-21 23:02] frankbu commented on #9429
@yciabaud Let me try to describe an example the fits the problem scenario.

* wildcard certificate `*.test.com` installed in `istio-ingressgateway`
* `Gateway` configuration `gw1` with host `service1.test.com`, selector `istio: ingressgateway`, and tls config using ingressgateway's mounted (wildcard) certs
* `Gateway` configuration `gw2` with host `service2.test.com`, selector `istio: ingressgatew

[2018-11-22 01:34] Linuxbody commented on #9998
@ayj
[root@k8s-master1 ~]# kubectl -n istio-system describe pod istio-galley-58f566cb66-2kt8r
Name:               istio-galley-58f566cb66-2kt8r
Namespace:          istio-system
Priority:           0
PriorityClassName:  <none>
Node:               k8s-node1/10.117.150.34
Start Time:         Wed, 21 Nov 2018 16:14:16 +0800
Labels:             istio=galley
                    pod-template-hash=1491227

[2018-11-22 01:49] hzxuzhonghu commented on #9998
Your format is so difficult to read.

[2018-11-22 02:08] uromahn commented on #7656
@objectiser and @scaratec increasing the sampling rate "fixed" it for me. :)
Thank you!

[2018-11-22 02:12] #9998 closed

[2018-11-22 02:46] xiaozhongliu commented on #9919
@osswangxining Thanks I changed all port names of the supplied four k8s/istio entities to "grpc-test", then it started to work for a go grpc sample, but it's still not working for nodejs.
Do you have any practice on nodejs grpc proxy?

[2018-11-22 02:54] xiaozhongliu commented on #9919
@osswangxining Also, do you have Dingding, QQ, or is there any discussion group? Let's play together. 让我们愉快地玩耍. My Dingding account is 18702188069.

[2018-11-22 04:32] harryge00 commented on #6085
I deploy consul as service registry using 1.0.4. Hit the same issue:

[code]

[2018-11-22 10:20] wnstar commented on #9906
This issue might disappear when you  reedit gateways or virtualservices or service.

[2018-11-22 12:33] sauldhernandez commented on #10053
Running into the same issue here with istio 1.0.4 running on minikube.

[code]

[2018-11-22 14:09] ckousik opened #10101 "Read error on TCP connections causing Postgres to drop connections"
**Describe the bug**
Connections to Postgres (TCP) are failing with `handshake error: 5` with mTLS enabled and `read error: 11` without mTLS. However any modification to Istio configuration (eg. Changing max number of connections to 200 from 201 in the DestinationRule) seems to fix the problem many times (sometimes this fails too).

**Expected behavior**
All connections to the Postgres service wor

[2018-11-22 14:22] #7367 closed

[2018-11-22 14:50] morvencao commented on #10083
@rshriram Would you please help to have a look at this?

[2018-11-22 15:05] ymesika commented on #9949
Thanks. It's fixed in `release-1.1` by #9853.

[2018-11-22 15:05] #9949 closed

[2018-11-22 16:20] #10088 closed

[2018-11-22 16:22] #4099 closed

[2018-11-22 16:54] knrc opened #10105 "Handling envoy protocol errors with routes"
**Describe the bug**
While running tests on 1.0 we discovered a race between pilot's push and envoy's processing of the resources, if routes are sent before envoy is prepared to respond to them then envoy will log the following error

and responds with a DiscoveryRequest containing the correct nonce but the previous version.  When envoy eventually asks for the routing information pilot refuses to

[2018-11-22 17:03] knrc commented on #10105
I've included two configurations, one is from a working run showing the expected configuration and the second from a run when the race occurs.  The major differences between the two are

- The working configuration contains the dynamic_route_configs section
- The working configuration contains dynamic_active_listeners whereas the broken configuration contains dynamic_warming_listeners

[ig.config.

[2018-11-22 19:36] zparnold commented on #6085
I've kept 1.0.2 running until I see an improvement. Hoping 1.1 provides it.

On Wed, Nov 21, 2018 at 8:32 PM Haoyuan Ge <notifications@github.com> wrote:

[2018-11-22 20:34] knrc commented on #10105
PR for master: https://github.com/istio/istio/pull/10107
PR for branch 1.1: https://github.com/istio/istio/pull/10108
PR for branch 1.0: https://github.com/istio/istio/pull/10109

[2018-11-23 02:27] mailzyok opened #10110 "The pilot and policy pods kept restarting"
**Describe the bug**
The pilot and policy pods kept restarting. the critical error log

"Error initializing configuration '/etc/istio/proxy/envoy.yaml': Didn't find a registered implementation for name: 'mixer'"

**Expected behavior**
The pilot and policy pods are running

**Steps to reproduce the bug**
1. git checkout istio 1.0.3
2. change the base image from ubuntu to redhat for istio/pilot/dock

[2018-11-23 03:00] chinglinwen commented on #9943
I encounter the same issue.

I found it had worked one time, after I delete the pod to see if it can working again, then it's not working anymore.

For the working case I see the following logs

[code]

It's almost cause three hours to show the listener setup log ( too long ).

For the second time I try, it never show the add/update listener log, and so it's not working for ten hours now.

For the

[2018-11-23 04:14] #7321 closed

[2018-11-23 05:14] #7166 closed

[2018-11-23 07:14] #7349 closed

[2018-11-23 07:35] dotw commented on #10062
I have checked the proxy-config endpoint and it listen on 3306, but it can't be connected through another client without sidecar.
[code]
[code]

[2018-11-23 07:40] FaKod commented on #9982
should be fixed in 1.0.4 (see #9634)

[2018-11-23 07:42] mailzyok commented on #10110
Close it.
i should clone the istio/proxy code, not enovy. And in istio/proxy, using centos docker image to build. Then copy the envoy binary out to build a new docker image based on centos/rhel. Now all the pods starts running.

Thanks for your patience

[2018-11-23 07:42] #10110 closed

[2018-11-23 08:07] Stono commented on #9597
Hi all
This is still a problem in 1.0.4, and kind of annoying when you're trying to do a cluster upgrade and check all the sidecars are OK.

[2018-11-23 08:14] #6828 closed

[2018-11-23 08:27] mailzyok opened #15740 "build failure istio/proxy at tag 1.0.3 by changing the SHA ID of envoy"
Hello.

I can build istio/proxy (1.0.3 release) successfully, and the SHA id of envoy is **2d8386532f68899ca1fe6476dc458b0df1260b29**

I change the sha id to "5d25f466c3410c0dfa735d7d4358beb76b2da507", which is the commit id of envoy version v1.8.0 tag,

Then i met the following errors.

 make
WARNING: Running Bazel server needs to be killed, because the startup options are different.
WARNING: --b

[2018-11-23 08:36] liutanrong opened #10112 "istio-proxy stop before my containers"
**Describe the bug**
When I stopped a pod, I found that istio-proxt was stopped immediately, but my own container could not be stopped immediately because it was still processing transactions within the thread.This caused my own container to be unable to make network requests and was unable to transfer the container's stop signal to other services.

**Expected behavior**
I expect to be able to pro

[2018-11-23 09:02] Stono commented on #4481
Hey
Just wanted to rekindle this issue a bit, we're *super* interested in zone aware routing both from a performance and cost optimisation perspective.

It'd be great to see some traction?

[2018-11-23 11:27] Paic opened #10114 "Websocket HTTP error 400"
I have a NodeJS application serving non-TLS websocket but I cannot get it to work since injection of the sidecar. mTLS is disabled in the whole cluster but enabled for specific services using `DestinationRule` and a `Policy` (the websocket service has mTLS enabled).

I'm getting an HTTP error 400 on the `Upgrade: websocket` request.

Gateway:

[code]

VirtualService:

[code]

[code]

I can provide

[2018-11-23 11:37] liamawhite commented on #4481
Discussions are currently underway on how we can implement this efficiently. Could everyone who is interested please go into a bit more detail on their use cases? This will allow us to better understand what things need to be made configurable.

[2018-11-23 11:42] ymesika commented on #10114
Can you see if https://github.com/istio/istio/issues/9152 helps?

[2018-11-23 11:49] #9995 closed

[2018-11-23 11:59] ymesika commented on #9954
The ELB you are referring to is the Istio Ingressgateway and it is installed with Istio.
When you run the `cleanup.sh` of Bookinfo it only deletes resources related to the Bookinfo and doesn't remove Istio. That's why the ELB is still around. You need to remove Istio too to completely clean up.

[2018-11-23 12:04] Paic commented on #10114
I'm not quite sure how to adapt this to my case. Does this looks ok ?

[code]

[2018-11-23 12:05] #9812 closed

[2018-11-23 12:12] corey-aloia-sap commented on #8906
Any update on this thread? We are experiencing this with Istio 1.0.1. When I delete the telemetry pod, it will then work for ~1 hour before hitting this again. We were using Istio 0.8, and build our dashboards based on this. In 0.8 we never ran into any issues. Any update on this would be great as its blocking us :)

[2018-11-23 13:30] Stono commented on #4481
Happily,
So we run in GKE/GCP are for availability reasons run our cluster across three availability zones.    We make use of affinity rules to ensure latency sensitive applications are co-located (node, and zonal) but we also then distribute those instances across AZ's for BCP reasons.  So for example;

[code]

etc....

We quite simply want to keep the traffic between App1 and App2 within the sam

[2018-11-23 15:05] gbaufake commented on #9272
@supereagle
If you are using the istio that comes with the release, you will find these files (istio-demo-auth and istio-demo files) on the repository and ansible playbook should run fine. If not please create an issue and assign to me that I will take a out

If you want to test straight out from istio repository, you need to do some installation with helm:

- Install Helm (https://docs.helm.sh/us

[2018-11-23 16:14] #3937 closed

[2018-11-23 17:14] #6462 closed

[2018-11-23 20:14] #467 closed

[2018-11-23 21:56] cainelli commented on #4481
We have a similar use case described above. However, we still also need to prioritize traffic within the same availability zone for things running outside Kubernetes, such as databases. We have an in-house solution for this ATM that integrates with our former 'service mesh' solution but deprecating this custom stuff would be great.

Also, we have concerns of unbalanced deployments across the clust

[2018-11-24 00:14] #7425 closed

[2018-11-24 04:54] ramaraochavali commented on #8270
If the stream is being closed exactly every 5 mins, it could be related to [stream idle timeout](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/http_connection_manager/v2/http_connection_manager.proto.html?highlight=stream_idle_timeout).

[2018-11-24 07:05] #5904 closed

[2018-11-24 13:05] #415 closed

[2018-11-24 14:48] Stono opened #10116 "Broad issues with pilot / push_status / restarting pilot"
Hey,
I'm trying to set up signals to detect common Istio problems based on the output from `push_status`.  Whilst working on it, push_status was reporting a lot of issues (which don't appear to actually be issues).

For example, `pilot_eds_no_instances` which [according to this](https://github.com/istio/istio/blob/master/pilot/pkg/model/push_context.go) is "ProxyStatusClusterNoInstances tracks clu

[2018-11-24 15:07] Stono commented on #10116
PS the gauge in prometheus `pilot_eds_no_instances` also reports a count === the output from push_status

[2018-11-24 15:31] Stono commented on #10116
Here's another example on a different cluster:
[code]

That namespace doesn't even exist (was purged about 15 minutes ago):
[code]

[2018-11-24 22:06] nixgadget opened #10117 "Missing entry in Grafana dashboard on Istio 1.11"
**Describe the bug**
Noticing an odd entry in the Grafana dashboard as shown in the screenshot for a given workload.
<img width="1877" alt="grafana" src="https://user-images.githubusercontent.com/2648624/48973322-b9a80f80-f0a1-11e8-9fcf-369b08a2b53b.png">

**Expected behavior**
The corresponding service for the workload

**Steps to reproduce the bug**
NA

**Version**
release-1.1-20181101-09-15

**

[2018-11-24 22:09] Stono commented on #7878
This is becoming more of a problem for us now... we run two instances of pilot, during a node upgrade, one of the pilots will terminate and *all* connections will go onto the other.  Then, the second one will terminate and *all* connections go onto the second one.  Leaving everything wildly imbalanced.

We've gone down the route of writing customer prometheus metrics which monitor `istioctl proxy-

[2018-11-25 04:05] #7464 closed

[2018-11-25 13:31] itaysk opened #10118 "Validation for HTTPRoute header name is validating header value"
**Describe the bug**
Validation for HTTPRoute's `AppendRequestHeaders` and `AppendResponseHeaders` is wrong. It validates the header value instead of the name.
I'll send a PR soon to fix this.

**Expected behavior**
Validating a Header map will make sure the header name is not empty.

**Steps to reproduce the bug**
`istioctl validate` fails this model:

[code]

While this one succeed:

[code]

**V

[2018-11-25 15:33] sdake commented on #9884
Solution to this problem: https://github.com/istio/istio/pull/10120

[2018-11-25 15:37] sdake commented on #7688
I'd highly recommend against this solution.  This will make upgrades very difficult for you in the future.

[2018-11-25 15:48] sdake commented on #7688
Ok peeps, apologies for my silence so far on this thread.  I have been sorting out a path for CRDs to work properly in a Helm upgrade scenario.  That work is here: https://github.com/istio/istio/pull/10120

It is more important that Helm upgrade work than helm delete --purge work for the case of dangling CRDs.  I have commented on several issues with Helm upstream, and the conclusion I am coming t

[2018-11-25 15:51] sdake commented on #7688
@nixgadget thanks for digging into the code base.  I haven't tested if this would work, however, we have had **ALOT** of problems with helm hooks and are removing/have removed them from the code base.

As such, if you use this approach, you may end up with a Helm chart that can't be upgraded.  I just thought you should know.

Cheers
-steve

[2018-11-25 15:54] jeremyxu2010 commented on #7688
@sdake maybe should use  `"helm.sh/hook-delete-policy": "before-hook-creation"`, see [here](https://github.com/helm/helm/blob/master/docs/charts_hooks.md#automatically-delete-hook-from-previous-release)

[2018-11-25 21:28] ilackarms opened #10122 "allow disabling installation of crds"
**Describe the feature request**
i'd like to be able to install istio without (re) installing CRDs. disabling `global.crds` has no effect because of the `or` here:
[code]

i'm not sure if this `or` needs to be here, or we can make it an `and`, because i'd like to disable installing CRDs period

[2018-11-26 02:14] hzxuzhonghu commented on #10112
That's the current behavior: when SIGTERM sent to sidecar, pilot-agent got it, and then agent send SIGKILL to envoy process.

So the sequencing signal is like:   SIGTERM -->pilot-agent-->SIGKILL-->envoy.

And currently envoy does not support graceful shutdown. xref: https://github.com/envoyproxy/envoy/issues/2920 Once envoy implements this, we can support it in sidecar.

[2018-11-26 03:32] rshriram commented on #7878
So it seems the default load balancing mode in all proxies towards Pilot is set to RoundRobin!!!
https://github.com/istio/istio/blob/dce455456d77ca5af34ba5848f9704577349c6bd/tools/deb/envoy_bootstrap_v2.json#L93

If you are interested, see if you can replace this with RANDOM. That should effectively redistribute load.

[2018-11-26 03:34] rshriram commented on #7878
hmm.. ignore.. it shouldn;t make any difference because we are using Pilot's clusterIP. So, the fault is at Kubernetes level really.

[2018-11-26 03:55] chunheisiu opened #10124 "Jaeger traces are not kept for more than an hour"
**Describe the bug**
Retention time of Jaeger traces is less than an hour. There are no obvious settings to configure a longer time.

**Expected behavior**
Ability to extend the retention time for traces captured by Jaeger.

**Steps to reproduce the bug**
N/A

**Version**
Istio 1.0.2, Kubernetes 1.12.1

**Installation**
Istio was installed via `helm`.

**Environment**
Ubuntu Server 18.04

[2018-11-26 04:15] rshriram commented on #10114
[code]
is not needed. Please share the service config for the above service

[2018-11-26 04:43] harpratap commented on #9993
Facing the same problems with installing 1.1 snapshots. You can try 1.0.x versions which seem to install fine.

[2018-11-26 05:48] detailyang commented on #7888
check the output of the command like the following:

[code]
if the fields exist, consider redeploying istio to k8s

[2018-11-26 07:31] Stono commented on #10116
Im on 1.0.4

On Mon, 26 Nov 2018, 7:29 am Zhonghu Xu <notifications@github.com wrote:

[2018-11-26 07:41] hzxuzhonghu commented on #10116
wow, that's indeed a issue in 1.0.4, it is not updated when push happens.
 I would fix it in release-1.0

[2018-11-26 09:12] shubhamitc commented on #10050
any update will be helpful.

[2018-11-26 09:39] maorfr commented on #10062
Hi,

We are also facing this issue, and found that it is related to the default `MeshPolicy`.
Do you get a `CONFLICT` when running this command?
[code]
Deleting the default `MeshPolicy` solved this issue right away:
[code]

@venilnoronha can this be an issue with the `PERMISSIVE` mode for tls?

[2018-11-26 09:39] objectiser commented on #10124
Jaeger installed with the helm chart is the `all-in-one` server with `in-memory` storage. To prevent the server from running out of memory, it is [configured to only retain 50000 traces](https://github.com/istio/istio/blob/master/install/kubernetes/helm/subcharts/tracing/values.yaml#L12).

Does the same Jaeger pod run for more than an hour? If it is restarting regularly it would loose previous tra

[2018-11-26 09:40] objectiser commented on #10124
Jaeger installed with the helm chart is the `all-in-one` server with `in-memory` storage. To prevent the server from running out of memory, it is [configured to only retain 50000 traces](https://github.com/istio/istio/blob/master/install/kubernetes/helm/subcharts/tracing/values.yaml#L12).

Does the same Jaeger pod run for more than an hour? If it is restarting regularly it would loose previous tra

[2018-11-26 09:49] Stono opened #10126 "Prod outage: Multiple services affected (upstream connect error or disconnect/reset before headers)"
Hi,
We had a production outage this morning which was resolved by restarting pilot.

We run two pilots (1.0.4, k8 1.10.7) in production and whilst trying to capture debug logs for you I noticed one of them was not responding to `127.0.0.1:8080/debug/adsz`.  I was also unable to run `istioctl proxy-status`.

I have captured:

  - discovery logs from both pilots from before, and after the restart

[2018-11-26 10:14] Stono commented on #10126
As a temporary mitigation to this issue I'm going to add a healthcheck to pilot which curls each `debug` endpoint with a `--max-time`, and restarts pilot.  However this will then bump all connections over to the other pilot and we'll hit https://github.com/istio/istio/issues/7878, but at least it'll be "up".

[2018-11-26 10:17] Stono commented on #7878
@rshriram yeah k8s does round robin load balancing that's true, I wouldn't say "fault" is the right word... it's how kubernetes works so should be a consideration of istio at scale.  Perhaps pilot should reject connections if it's wildly imbalanced, or reject connections with a message like "connect to this pilot instead x.x.x.x"

[2018-11-26 11:07] shakti-das commented on #9300
This would mean exposing TrafficPolicy and HttpRetry in api/mesh/config and use the values if set as mesh-wide defaults unless overridden by DestinationRule or VirtualService respectively.

Order of priority would then be:
TrafficPolicy specified in DestinationRule overrides TrafficPolicy set in MeshConfig.
Similarly, HttpRetry specified in VirtualService overrides HttpRetry set in MeshConfig.

If

[2018-11-26 12:32] Stono commented on #10126
This has just happened again on a different cluster.  One istio-pilot was failing to respond to the /adsz query.

Restarting the pilots has resolved the problem.  The infrastructure stats (cpu/ram) in this case for the bad pod in question (istio-pilot-688dc4995d-8tf9b) are quite interesting.  Basically no CPU usage at all and an ever increasing RAM count.

<img width="1591" alt="screen shot 2018-1

[2018-11-26 12:38] hzxuzhonghu commented on #10116
I found the diff between 1.0 and 1.1 in

https://github.com/istio/istio/blob/1.0.4/pilot/pkg/serviceregistry/kube/controller.go#L796-L798

only eds push will be triggered
[code]

But in 1.1,
[code]
I think this will trigger eds and also full push.

[2018-11-26 12:49] hzxuzhonghu commented on #10116
Also push_status update is not correct, which only set  in full push.

[2018-11-26 13:00] Stono commented on #10126
Also:
<img width="1618" alt="screen shot 2018-11-26 at 13 00 41" src="https://user-images.githubusercontent.com/1486729/49015545-4e327080-f17b-11e8-8d8b-3ba51fb5cfe6.png">

[2018-11-26 14:19] dstockton commented on #7964
👍

[2018-11-26 14:30] pnambiarsf commented on #9300
defaults was discussed in the last networking WG meeting. Current thought is that galley would be a good place to support defaults. Ideally we should have one consistent pattern to specify defaults for all types of config and not just networking.

@ozevren - FYI.

[2018-11-26 15:04] blackbaud-brandonstirnaman commented on #9429
Changed my `Gateway` configurations to make sure 2 gateways don't share a certificate (as described above by @frankbu), no longer have the issue. The downside of this is that I'm unable to differentiate things like TLS protocol for services that use this cert.. but at least I can connect to services correctly now.

[2018-11-26 15:23] hzxuzhonghu commented on #10126
/cc

[2018-11-26 16:42] Stono commented on #10126
Hey guys, it's happened again now.
We've had four production outages caused by this today.

<img width="1619" alt="screen shot 2018-11-26 at 16 41 56" src="https://user-images.githubusercontent.com/1486729/49028416-42a27200-f19a-11e8-981f-8bae266fdfbc.png">

[2018-11-26 17:06] adinunzio84 commented on #9447
Are wildcards permitted in the tls.route.destination? The [docs for Destination](https://istio.io/docs/reference/config/istio.networking.v1alpha3/#Destination) say

And the `destination` field of the [DestinationWeight docs](https://istio.io/docs/reference/config/istio.networking.v1alpha3/#DestinationWeight) says

[2018-11-26 17:07] kongyi-ibm commented on #8029
Except the SSL passthrough, do we have any other solution can let ingressgateway to terminal SSL and send https request to backend https service ?

I want to implement the solution like this:

https request --> ingressgateway --> https service

gateway:
===================================
spec:
  selector:
    istio: ingressgateway
  servers:
  - hosts:
    - '*'
    port:
      name: https

[2018-11-26 17:07] Stono commented on #10126
We've had to add this to istio-pilot as a temporary mitigation:
[code]

[2018-11-26 17:29] Stono commented on #10126
It's worth nothing that this was not a problem with 1.0.2, and only seems to have started since 1.0.3 and incremental EDS

[2018-11-26 17:38] duderino commented on #9968
No response from @Nino-K so asking for someone else to pick this up.

[2018-11-26 18:11] Stono commented on #10126
@costinm @mandarjog could you advise if it is safe to just revert pilot to `1.0.2` without any other changes? (eg leave all sidecars/mixer etc on `1.0.4`)

[2018-11-26 18:33] lubinson commented on #8029
@vadimeisenbergibm Sorry, not have change to try again after latest reply to you. Will try again these several days.

[2018-11-26 18:34] ayj opened #10130 "pilot/pkg/serviceregistry/kube/pod_test.go::TestPodCache is flaky"
xref: https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/9871/istio-unit-tests/17127?log#log

[code]

[2018-11-26 18:51] wattli commented on #1277
Thanks for the investigation, Diem.

[2018-11-26 19:12] mandarjog commented on #9618
This issue has been addressed by #9805

[2018-11-26 19:13] mandarjog commented on #9604
Addressed by #9922

[2018-11-26 19:13] #9604 closed

[2018-11-26 19:14] mandarjog commented on #9571
Addressed by #9634 #9678

[2018-11-26 19:14] #9571 closed

[2018-11-26 19:17] mandarjog commented on #6977
fixed by #8813

[2018-11-26 19:17] #6977 closed

[2018-11-26 19:19] Stono commented on #9618
It has, I think there are still some lingering EDS issues though, see: https://github.com/istio/istio/issues/10116 - but this one can be closed

[2018-11-26 19:19] #9618 closed

[2018-11-26 19:20] Stono commented on #8410
Closing this as there isn't anything specific to progress as part of this issue

[2018-11-26 19:20] #8410 closed

[2018-11-26 19:21] Stono commented on #8320
We've started writing our own prometheus exporter for a bunch of this stuff.  It'd be great to make it redundant...

[code]

[2018-11-26 19:29] Stono commented on #7852
Not seen this since 1.0.2

[2018-11-26 19:29] #7852 closed

[2018-11-26 19:30] #3384 closed

[2018-11-26 19:32] Stono commented on #7665
Hmm interesting @mikksoone.  We've tried so many combinations of sleeps etc in the downstreams but got nowhere with this, so very frustrating!

[2018-11-26 19:32] Stono commented on #7524
We still get absolutely loads of these on `1.0.4`:

[code]

[2018-11-26 19:35] Stono commented on #7525
Not stale!  Still spammy without reason

[2018-11-26 19:37] Stono commented on #7136
We handle this in the most hacky way possible...
Our `istio-proxy` has a `preStop` hook which fires this script:

[code]

Basically waits for any non envoy ports to stop listening before envoy itself shuts down.

[2018-11-26 19:37] #4154 closed

[2018-11-26 19:37] Stono commented on #7523
Closing this, as it's a dupe of some other issues around external mesh traffic

[2018-11-26 19:37] #7523 closed

[2018-11-26 19:43] douglas-reid commented on #9964
Any updates here (or newer action items)?

[2018-11-26 19:46] yciabaud commented on #9429
Well @frankbu the original need was to have a working service independently from the certificates used in the gateways so each service exposed has its own gateway using a common ingressgateway. It may not be the way it was designed but we wanted to define each host without a wilcard in the gateways and we wanted each service to be configured independently.

I will try to use different configuratio

[2018-11-26 19:50] costinm commented on #10126
Yes, the sidecars are backward compatible, so is mixer, etc.
Technically we can also disable just incremental EDS - but safer to just move pilot back to 1.0.2

[2018-11-26 20:20] colt-jay opened #15739 "Istio-Proxy does not log JSON anymore"
Istio: 1.0.3

In this closed issue [#1807](https://github.com/istio/proxy/issues/1807) the problem of istio-proxy not loggin in JSON was raised. And it seems that it was fixed in PR [#1808](https://github.com/istio/proxy/pull/1808).

However, the code that fixed the issue seems to have been removed when PR [1980](https://github.com/istio/proxy/pull/1980) was merged into master.

I'm wondering if i

[2018-11-26 20:20] DevSync opened #10133 "Allow Istio to access Kubernetes existing TLS secrets instead of using a SAN cert for all incoming connections."
**Describe the feature request**
Currently, implementing Istio breaks my automated PKIM process by forcing a manual single cert update on the Istio Ingress Gateway.

**Describe alternatives you've considered**
Please allow Istio to access Kubernetes existing TLS secrets instead of using a SAN cert for all incoming connections.  By doing so, Istio will be independent and not care which service crea

[2018-11-26 20:25] RaymondArias opened #10134 "Prometheus Operator Installation with Istio"
**Describe the feature request**
Have the ability to install Prometheus Operator Helm Chart with Istio Helm installation.
Prometheus Operator has many features that are easier to work with than the vanilla Prometheus that gets installed with Istio and it would be nice to leverage these features. Service monitors for integrating custom works

**Describe alternatives you've considered**
Integrating

[2018-11-26 21:15] ayj commented on #10023
Confirmed. I renamed the PR to indicate the test is flaky.

Most recent flake: https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio_istio/10004/istio-unit-tests/17106

[code]

[2018-11-26 21:18] nmittler commented on #10023
Great - thanks, @ayj

[2018-11-26 21:19] Stono commented on #10116
This is not an issue on 1.0.2 btw

[2018-11-26 21:30] #2422 closed

[2018-11-26 21:41] douglas-reid commented on #10117
A few questions:

- what service is associated with that workload?
- what happens when that service receives traffic?
- what does the instance config look like for `requestcount` in your install?

[2018-11-26 21:54] ayj commented on #9863
Fixed in 1.1 branch by https://github.com/istio/istio/pull/9871

[2018-11-26 21:57] Stono commented on #10126
For others reading this, `PILOT_DIRECT_EDS=0` on the istio-pilot pod also disables the EDS incremental update (this issue)

[2018-11-26 21:58] costinm commented on #10116
Yes, the push_status is updated after full push - incremental EDS doesn't update it (only does the push for the cluster that changed ). We should update it.

1.1 still needs to be fixed, I didn't get to it yet.

[2018-11-26 22:07] douglas-reid commented on #10092
first step is generating a new `protoc` image. iirc, the script lives in istio/api in the tools/protoc dir. I can try running it from my desktop later today.

[2018-11-26 22:07] cmluciano commented on #8274
closing since #9798 & #8993 is good to go

[2018-11-26 22:21] frankbu commented on #9429
@yciabaud I think it also works if each gateway uses its own certs, as is shown in this example: https://preliminary.istio.io/docs/tasks/traffic-management/secure-ingress/#configure-a-tls-ingress-gateway-for-multiple-hosts. Unless, maybe that also has the same browser issue? I'm trying to understand exactly what does and doesn't work so we can figure out if it's a bug that can be fixed, or an intr

[2018-11-26 22:29] #6601 closed

[2018-11-26 22:56] sergio-fleetsmith commented on #10057
Was able to replicate this using a contrived gRPC example which makes it easy to reproduce.
Here I use [YAGES](https://github.com/mhausenblas/yages) as the base image for the two servers.
I then use a [dockerized grpcurl](quay.io/datawire/grpcurl) to continuously send grpc requests to the YAGES service.

### To reproduce
Create the resources below (create the client last so it does not error out w

[2018-11-26 23:04] kyessenov commented on #10092
using `protoc` inside `mixgen` makes the whole go generate slower than running protoc binary.
perhaps, we could try running protoc directly with locally built plugins.

[2018-11-26 23:05] Stono commented on #7665
So I've been working on another issue today and had a bit of a thought process around these 503s.

Take a scenario on a larger cluster like mine where it can take up to 10seconds for pilot to push config to all the proxies:

[code]

So; take an app that is up and running.  You come along and you do a rolling deployment of the application, which starts a new endpoint.

That endpoint comes up, as so

[2018-11-26 23:09] douglas-reid commented on #10092
we switched away from that so that people wouldn't be required to install protoc on their own machines, nor manage versions (which were issues in early istio days).

`gcr.io/istio-testing/protoc:2018-11-26` is available for testing now.

[2018-11-26 23:12] kyessenov commented on #10092
@douglas-reid This doesn't prevent out-of-sync issues. The plugins (gogo, protodoc) are in this source tree. If we want to use vendored sources, then we need to build them, and run them as part of a native protoc. Or we can build them in docker, but then someone needs to make sure docker versions are same as vendored versions.

[2018-11-26 23:35] sangnguyen7 commented on #6045
@xiajidexue could you please share how you do that?

[2018-11-27 00:32] chunheisiu commented on #10124
Thanks @objectiser for your advice.

I've checked the status and it seems to me that the Jaeger pod does run for more than an hour, so I believe the problem isn't caused by the pod restarting itself from time to time.

On the other hand, I am uncertain about the actual number of traces being generated. Apart from the traces between our microservices, there were other traces such as `istio-policy:

[2018-11-27 01:03] mabushey commented on #9993
I went back to 1.0.2, it's the last version that still allows communication between containers.

[2018-11-27 01:54] hzxuzhonghu commented on #6299
/remove stale

[2018-11-27 02:05] ozevren commented on #10082
Agree with @rshriram & @ayj. It would be nice to have a rationalized proposal that outlines the shape of the CRD, as well as what would be the new shape of the Mesh config that contains streamlined bootstrapping options.

[2018-11-27 02:40] harpratap opened #10138 "Disabling only Policy does not work"
**Describe the bug**
PR #9722 introduced option to enable/disable individual components of mixer - policy and telemetry. However I am not able to have policy disabled - telemetry enabled in mixer. Although I can enable policy and disable telemetry.

**Expected behavior**
Policy disabled but telemetry to be enabled.

**Steps to reproduce the bug**
Install via helm install with options --set mixer.p

[2018-11-27 02:40] mailzyok commented on #10084
There is no test failure when:
1. using master branch
2. use go 1.10.5 according to Makefile
make build & test works.
However if i checkout 1.0.3, and switch go to 1.9 according to Makefile, othere env keeps the same.
make build succeed, but make test failed with logs below,
"ok      istio.io/istio/pilot/pkg/serviceregistry/external       0.025s
2018-11-26T13:49:21.934454Z     info    Service cont

[2018-11-27 04:08] kongyi-ibm commented on #8029
@vadimeisenbergibm the TLS PASSTHROUGH can works on my environment.  Thanks!

But I just wondering If there have any other approach which is most like ( enable secret backend on ingress) to terminate TSL at ingressgateway (At Front ) and send https to backend https service

[2018-11-27 04:43] sdake commented on #9884
An earlier solution to this problem: https://github.com/istio/istio/pull/10015

[2018-11-27 04:44] sdake commented on #9884
Costin's Helm chart restructure: https://github.com/costinm/istio-helm/blob/master/README.md

[2018-11-27 04:45] sdake commented on #9884
A thread on istio-env asking for assistance on this issue: https://groups.google.com/forum/#!topic/istio-dev/J5gy_7pSwCc

[2018-11-27 05:14] sdake commented on #9884
The current status of this issue is as follows:
- `crd-install` is defective in Helm 2.y.z series
- Helm upstream very focused on implementing helm 3.y.z and is not accepting PRs for 2.y.z series.
- A process-based implementation has been generated
- An implementation in Galley has been generated
- High level details of the implementation
  - The implementation reads configmaps
  - The configmaps

[2018-11-27 05:29] #7409 closed

[2018-11-27 06:06] hzxuzhonghu commented on #10116
I am working on this.

[2018-11-27 06:57] Stono commented on #10116
I don't have the ability to test from master unfortunately @hzxuzhonghu :'(
The code looks solid though

[2018-11-27 07:46] mailzyok commented on #10084
Update:

the reason is found.

In master branch there is an update to controller_test.go which will skip the test on circleCI.
For 1.0.3, user need to run bin/testEnvLocalk8s.sh start for dev env.

Thanks.

[2018-11-27 07:46] #10084 closed

[2018-11-27 08:09] harpratap commented on #10138
Caused by this - https://github.com/istio/istio/commit/89297445b3bc057e440eebae2dc8ad94b35ef524#r31306948

[2018-11-27 08:48] objectiser commented on #10124
@chunheisiu I was focusing on causes related to the backend - but missed the potentially obvious one - do you change the `Lookback` value on the search page in the UI? By default this is set to 1 hour.

If not changed - then can you change this to 1 day and confirm whether you see data for more than an hour.

[2018-11-27 09:04] objectiser commented on #8893
In Istio 1.0.x, there is no Zipkin deployment available. However in 1.1.x it will be possible to deploy an in-memory version of Zipkin using the helm install parameters `--set tracing.enabled=true --set tracing.provider=zipkin`.

[2018-11-27 09:11] chunheisiu commented on #10124
@objectiser Per your suggestion, I set the `Lookback` value to *Last 2 Days* and `Limit Results` to *500* but the results seem to be the same. Querying the `istio-telemetry` service did return 500 traces that I have specified, with each trace being a few seconds apart from one another. The fact that it is generating 500 `istio-telemetry` traces between 4:11:57 pm and 5:07:26 pm could explain why t

[2018-11-27 09:20] chunheisiu commented on #8893
I see. My concern is whether Zipkin is necessary for a standalone Jaeger to collect traces generated by Istio 1.0.x. Or is the `jaeger-agent` daemon set essentially replaces the functionality of it?

Right now as experimentation, I have deployed a standalone Jaeger using helm chart along with Istio and configured it to use an existing ES backend for storage. So far, I'm not seeing any traces gener

[2018-11-27 09:32] objectiser commented on #8893
No Zipkin is an alternative to Jaeger, so they both shouldn't be installed at the same time.

The `jaeger-agent` is not relevant in the context of collecting tracing information from Istio's control plane (i.e. proxies, mixer, telemetry, etc). The information is sent directly to the Jaeger collector via the zipkin port (and data format). The `jaeger-agent1` is used when collecting tracing data cre

[2018-11-27 09:33] castlemilk commented on #8893
@chunheisiu Once you've deployed jaeger using the helm chart, you need to create a zipkin service that points to your jaeger collectors. For example:

[code]

[2018-11-27 09:35] chunheisiu commented on #10124
I have maxed out the limit to 1500 but it is still showing results within the hour. I tried setting `Min Duration` to *10ms*, but now it is showing me 1304 traces, still within the past hour.

I understand why a `50000` limit is set in the first place. Hence, I would like to experiment with an alternative approach rather than blindly raising the limit to an arbitrary larger number.

[2018-11-27 09:43] objectiser commented on #10124
For future reference, Jaeger may provide a [local storage option](https://github.com/jaegertracing/jaeger/pull/760) in the near future which could be used as an alternative to the current default in-memory approach.

[2018-11-27 12:21] devops083 opened #10147 "ISTIO mesh expansion in AWS"
**Describe the bug**
{{ Succinctly describe the bug }}

**Expected behavior**
{{ What did you expect to happen? }}

**Steps to reproduce the bug**
{{ Minimal steps to reproduce the behavior }}

**Version**
{{ What version of Istio and Kubernetes are you using? Use `istioctl version` and `kubectl version` }}

**Installation**
{{ Please describe how Istio was installed }}

**Environment**
{{ Which e

[2018-11-27 12:22] devops083 commented on #10147
setupMeshEx.sh is for only GCP?
how to implement mesh expansion in AWS?

[2018-11-27 12:51] #7493 closed

[2018-11-27 13:02] annismckenzie commented on #7658
This shouldn't have been closed until @myidpt's suggestion is either implemented or documented to be working?

[2018-11-27 13:31] Stono commented on #10126
OK this doesn't appear to be just an EDS issue.
With `PILOT_DIRECT_EDS=0`, it just happened again:

<img width="471" alt="screen shot 2018-11-27 at 13 30 59" src="https://user-images.githubusercontent.com/1486729/49084947-c9158d00-f248-11e8-90ba-f087355212e3.png">

[2018-11-27 13:54] ymesika commented on #7551
Please re-open if you still experience this issue.

[2018-11-27 13:54] #7551 closed

[2018-11-27 13:56] sdake commented on #9884
@munnerz approach to this problem:

https://gist.github.com/munnerz/9c08a5744a73ff63f96ae16e7a96c392

I had thought of this line of approach, however, it doesn't solve upgrades for 1.1.  I had thought of an intermediate step in addition where we have a two phase upgrade to get us to a crd-definition-free implementation in 1.1

[2018-11-27 14:02] moshe0076 commented on #6085
See very similar behavior with 1.0.4. Restarting the pilot pod solves the problem.

[2018-11-27 14:32] 6869dan commented on #7964
Hi - saw mention of keycloak here...
I am getting the "HTTPS Required" error on a keycloak instance we are accessing via an AWS ALB into istio ingressgateway. If I remove istio ingress from the equation ie ELB -> keycloak it works as expected.
I tried the filter and appendHeaders suggestions here but without any joy. Was anyone able to get keycloak to work using istio ingressgateway and/or able to

[2018-11-27 14:51] #7362 closed

[2018-11-27 15:00] linsun commented on #7615
This is working now, and minimal profile is published

[2018-11-27 15:00] #7615 closed

[2018-11-27 15:01] rafik8 commented on #9982
Hi, Upgrading to 1.0.4 and be able to have my MariaDB broken deployment (in 1.0.3 )working.

[2018-11-27 15:01] linsun commented on #7624
We have chose to favor kiali over service graph.

@jmazzitelli I don't think Kiali 's helm subchart has this prob, could you check?

[2018-11-27 15:11] sebarys commented on #8906
Also facing this issue with Istio 1.0.1.
Is there any update or any way to mitigate this?

[2018-11-27 15:32] stryd3r commented on #7174
If you install the minimal just set :
 kubectl label namespace default istio-injection=enabled

and then restart the pod (scale the deployment to 0, then restore it to 1)

[2018-11-27 16:03] dstockton commented on #7964
FYI I couldn't reproduce this with 1.0.2
My issue was that the destination host was fronted by an ELB which itself was replacing the ```X-Forwarded-Proto``` header 🤦‍♂️

[2018-11-27 16:40] cmluciano commented on #8274
reopen-ing as epic

[2018-11-27 17:19] #9353 closed

[2018-11-27 17:50] MrTrustor commented on #9117
For the records, some initial work on this is being done on #9701

[2018-11-27 17:54] ayj commented on #5532
We cannot rename Istio's existing `quota` CRD without breaking backwards compatibility. Using the full k8s name `resourcequota` may inconvenient but should only be temporary until the Istio `quota` is deprecated and removed.

[2018-11-27 17:55] wattli commented on #7666
@diemtvu @liminw i think it should work now. Could you help to verify? Thanks.

[2018-11-27 18:11] kyessenov commented on #3027
Not stale. Still useful to track errors to source code. Extra useful for caching related issues.

[2018-11-27 18:29] liminw commented on #9921
Dependency on issue #9921

[2018-11-27 18:44] sdake commented on #9884
@sbezverk 'z tool works correctly in an upgrade.  He is working up a PR for release-1.1 branch now from my understanding.  It isn't mandatory to run, unless the operator has deployed with Helm < 2.10.  I'd recommend just running it in all conditions to simplify the upgrade process.

[2018-11-27 18:45] wattli opened #10151 "Mesh expansion page is broken"
https://istio.io/docs/setup/kubernetes/mesh-expansion/
According to the first paragraph of this page, this feature/doc is broken.

[2018-11-27 18:46] #10151 closed

[2018-11-27 18:57] ostromart commented on #9333
https://github.com/istio/istio/pull/10015
Early version of an operator for 1.1. Additional work is going on that will hopefully land in 1.2.

[2018-11-27 19:12] munrodg commented on #9931
Closed due to doc issue

[2018-11-27 19:12] #9931 closed

[2018-11-27 19:17] mandarjog commented on #9916
This is fixed by #10031 and #9952

[2018-11-27 19:17] #9916 closed

[2018-11-27 19:44] linsun commented on #9897
@irisdingbj can we have this closed now?  I think you have a working egress rule from Belinda now.

[2018-11-27 19:51] #3623 closed

[2018-11-27 20:10] sdake commented on #7688
Hey folks,

The Helm upstream recommends letting CRDs leak with the hook policy of `crd-install`.  The reason the CRDs should leak is because the human operator should have full control over the deletion of the mesh configuration which is stored in the CRDs.  As a result, I am marking this closed as it works as intended.  For those folks that need to be able to clean up in their evaluations, there

[2018-11-27 20:10] #7688 closed

[2018-11-27 20:11] sdake commented on #7688
@jeremyxu2010 at this point, I can't recommend using any type of hook feature in Helm.  We are migrating away from hooks in Istio upstream as soon as viable.

Cheers
-steve

[2018-11-27 20:18] sdake commented on #7688
@amyroh we are moving away from `crd-install` as it is full of various problems.   One of the most egregious is that CRDs cannot be added during an upgrade.  There are other problems - well described here:
https://github.com/istio/istio/issues/9604#issuecomment-437291974

I am hopeful that Helm upstream can repair these problems in the future, but it is clear this will not happen prior to the Isti

[2018-11-27 20:51] #6064 closed

[2018-11-27 21:10] nixgadget commented on #7688
@sdake Thanks for the heads up steve. It makes sense when it comes to `helm upgrade`. So whats the plan of attack in 1.1 which is due soonish ?

[2018-11-27 21:23] Stono opened #10153 "Unable to set per-request timeout override"
As per https://istio.io/docs/tasks/traffic-management/request-timeouts/ - I should be able to override the request timeout by specifying `x-envoy-upstream-rq-timeout-ms`, however as you can see that doesn't seem to work:

[code]

The virtualservice is:
[code]

[2018-11-27 21:32] Stono commented on #6861
There's a whole bunch of other defaults i'd be interested in too, like the RetryPolicy

[2018-11-27 21:33] mkjoerg commented on #10124
Is there any documentation available for connecting a standalone jaeger instance instead using the default one in the chart? As far as I have understood, Pilot is emitting the traces, but I couldn't find out how to configure the target jaeger instance. Does anyone know, how to configure the trace target or are there any issues with a standalone instance?

[2018-11-27 21:43] nixgadget commented on #10117
@douglas-reid
- To answer your first two questions its a webhook service that publishes an event to kafka.
   Traffic flows from istio ingress -> yodlee webhook service
- How do you go about checking the `requestcount` ? Some guidance is appreciated.
- Also just for my lack of understanding how is the service different from the workload ? i.e. the difference between the two columns

[2018-11-27 21:56] costinm commented on #10126
That's very interesting - also the logs seem to suggest incremental EDS is sending data as expected.
To be clear: the env variable should bypass the incremental sending and updates, so it's unlikely the leak is related to actual incremental part.

Looking at the goroutines graph - and the number of sidecars I'm more and more suspecting something related with the close connections or reconnect. It

[2018-11-27 22:15] Stono commented on #10126
Here are some stats from this cluster:
[code]

So 218ish proxies

[2018-11-27 22:51] #3596 closed

[2018-11-27 23:12] sdake commented on #9333
For folks following this work, the initial goal is to solve one very simple problem as simply as possible:
https://github.com/istio/istio/issues/9884

[2018-11-27 23:51] #7413 closed

[2018-11-28 00:15] chunheisiu commented on #10124
@mkjoerg Take a look at #8893 and see if it helps.

[2018-11-28 00:18] costinm commented on #10126
I looked at the close and connect (`grep terminated discovery.stdout.log` and `grep ADS:CDS discovery.stdout.log`) - both show similar and expected numbers, and the close seems to happen.

Only strange thing is that the 127.0.0.1:PORT seems to be used by multiple concurrent ADS connections - it appears 12 TCP connections are used for ~80 sidecars, but doesn't seem to leak.
It may not be a close/co

[2018-11-28 00:20] chunheisiu commented on #8893
@castlemilk Thanks for the tip. Does this service need to in the `istio-system` namespace?

I currently have the standalone Jaeger deployed in the separate `tracing` namespace and I wonder if it would work.

[2018-11-28 00:47] chunheisiu commented on #8893
@castlemilk I have deployed the Zipkin service and the standalone Jaeger to `istio-system` and I am beginning to see traces in my ES instance.

However, after deploying the BookInfo application, I noticed that a lot of the traces showed up as "<trace-without-root-span>" and are broken into separate traces. Do you happen to have experienced such behaviour and possibly have a fix for that?

Thank yo

[2018-11-28 00:51] #1773 closed

[2018-11-28 01:12] liutanrong commented on #10112
thanks

[2018-11-28 01:40] hzxuzhonghu commented on #10126
@costinm Whatever I think first should add keepalive for grpc server.

[2018-11-28 01:47] sdake commented on #9884
@sbezverk 'z tool: https://github.com/istio/istio/pull/10155

[2018-11-28 02:18] markeijsermans commented on #10001
Error is on my part. Adding the full cert chain to `serverCertificate` (`tls.crt`) works. You can close this issue. I'll submit a PR to add clarification to the docs.

[2018-11-28 02:51] #7517 closed

[2018-11-28 03:51] #3572 closed

[2018-11-28 04:51] #7080 closed

[2018-11-28 06:33] wansuiye commented on #8893
we use an existing zipkin: "kafka-es=zipkin", istio support the template tracespan, so if it can be used by an custom kafka adaptor? it seems that the tracespan template don't have annocation field and can not support zipkin api

[2018-11-28 06:35] AceHack commented on #8358
Any update?

[2018-11-28 07:25] hzxuzhonghu opened #10160 "Refactor Endpoints"
We have `IstioEndpoint` `NetworkEndpoint`,and this makes a mess in control plane. In the long run, this can lead to misuse for developers.  So we should get rid of one type.
AFAIK,  `IstioEndpoint` is designed to replace `NetworkEndpoint`, so we can remove `NetworkEndpoint` totally.

[2018-11-28 07:51] #7275 closed

[2018-11-28 09:20] edodekel commented on #7645
hi. is there any update? all of the attribute-vocabulary should be supported.

[2018-11-28 09:57] EyMaddis commented on #9097
Did you have any luck implementing this in your setup?

[2018-11-28 10:03] #8365 closed

[2018-11-28 10:12] sunyl527 commented on #9466
I am the same issue.Did you solve it?

[2018-11-28 10:41] Stono commented on #10126
OK good news it happened again and I've captured logs *including* thread dumps, at 1 minute intervals for 3 minutes.

istio-pilot-cc5d77d79-6hbhr is the bad proxy in these logs.  PM me on slack and I'll send them over.

[2018-11-28 11:34] yuanzhang commented on #7640
same problem

[2018-11-28 11:35] Stono commented on #10126
Seeing some really weird errors as well today:

istioctl proxy-status showing:
[code]

So a stale pod that actually no longer even exists in the cluster?
[code]

[2018-11-28 13:49] BrianChristie commented on #9030
I've done some research on the state of TLS Termination with Istio-IngressGateway, here's what I've found in case it's useful to others following this:

There appears to be two problems that block using cert-manager effectively:
1. Multiple certificates are not supported
2. Certificates are not reloaded when updated

Presently it looks like Istio-IngressGateway directly loads a local certificate i

[2018-11-28 14:07] turbotankist opened #10166 "pilot-agent proxy using {{ .PodIP }} in templateFile"
When I'm using pilot-agent proxy --templateFile
And if template has {{ .PodIP }} it puts in config something like AAAAAAAAAAAAAP//CmtDEQ==
But I need normal IP Address.
I saw in https://github.com/istio/istio/blob/1.0.4/pilot/cmd/pilot-agent/main.go
`opts["PodIP"] = base64.StdEncoding.EncodeToString(net.ParseIP(os.Getenv("INSTANCE_IP")))`

I want to make custom listeners for ingressgateway but if

[2018-11-28 14:44] yciabaud commented on #9429
OK I will try using separate certs for each host and then I will try to duplicate my wilcard cert in the gateway.

[2018-11-28 16:14] wstrange commented on #9030
@BrianChristie Thanks for the summary. This is a blocker for us moving to istio. We need smooth cert manager integration and support for multiple certs.

[2018-11-28 16:27] hd-deman opened #10168 "helm template not working with istio-1.1.0-snapshot.3"
**Describe the bug**
helm template gives me an error with `istio-1.1.0-snapshot.3`

[code]

**Expected behavior**
But with `istio-1.1.0.snapshot.1` it works fine
[code]
**Steps to reproduce the bug**
{{ Minimal steps to reproduce the behavior }}

**Version**
istio version `istio-1.1.0-snapshot.3`
[code]
**Installation**
Downloaded from github releases
`istio-1.1.0-snapshot.3-osx.tar.gz`

[2018-11-28 16:30] supereagle opened #10169 "CRD quotas.config.istio.io hides k8s original quotas"
**Describe the bug**
K8s has resourcequotas (aka 'quota'), but it will be hidden by Istio CRD quotas.config.istio.io after install Istio. Then the pods with quota can not be created.

[code]

After install istio:

[code]

After delete `quotas.config.istio.io` and restart apiserver:

[code]

**Expected behavior**
K8s original quotas should not be hidden.

**Steps to reproduce the bug**
{{ Minimal s

[2018-11-28 16:45] prune998 commented on #9030
@wstrange you can check `CertMerge-Operator` in the meantime...
https://medium.com/@prune998/istio-1-0-2-envoy-cert-manager-lets-encrypt-for-tls-certificate-merge-7a774bff66c2

note that it will not automatically reload/restart the Ingress Gateway when certs are renewed...

[2018-11-28 16:52] jmazzitelli commented on #10168
dup - several issues on this already. One is: https://github.com/istio/istio.io/issues/2787

[2018-11-28 17:11] nmittler commented on #3063
@mandarjog @PiotrSikora I've updated the [Liveness section of the design doc](https://docs.google.com/document/d/1jC0a2ku8-e3a7uMIc39HbMFbD4eh8JqWh-NFuLZSOwk/edit?ts=5bef7197#heading=h.an3m8yo3ehje).  I'm now calling out specific Envoy stats that are being collected. Please review.

cc @duderino @costinm

[2018-11-28 17:45] duderino commented on #9546
@rshriram told me he could do this for 1.1

[2018-11-28 17:50] duderino commented on #7665
Thoughts @costinm @rshriram @mandarjog?  We need a plan for 1.1.  If there is work to be done other than graph pruning we need to capture it here and get someone on it :)

[2018-11-28 18:18] douglas-reid commented on #3028
I think this needs attention.

From offline conversation:

This way we will have a lower limit than advertised.

@geeknoid @kyessenov @mandarjog

[2018-11-28 18:41] qiwzhang commented on #3028
#2 is already there. It has a predict_window of 1 second.  it counts how many requests in the window and prefetch that amount.

I will look into #1, to make it prefetch bucket multi thread.

[2018-11-28 18:49] qiwzhang commented on #3028
Hmm,  since quota is part of Check call, it is not easy to separate Check cache with quota prefetch.   If we want to use one quota prefetch for all worker threads,  we have to make Check cache for all worker threads too.

This is not easy for Envoy.  Each worker thread has its own grpc transport.  They could not be shared.

It also means using mutex to protect the cache.   Envoy doesn't like mutex

[2018-11-28 18:52] frankbu commented on #10153
I'm wondering if the timeout in the VirtualService is taking precedence over the header. Have you tried only setting the header without also having a timeout in the VirtualService?

[2018-11-28 18:53] cmluciano commented on #9802
istio/proxy#1970 decreased the ReportBatch operation by a bit as seen in the [before](https://ibmcloud-perf.istio.io/regpatrol/1.0.3/istio_full//flamegraphs/flame.envoy.flight.svg) and [after](https://ibmcloud-perf.istio.io/regpatrol/release-1.1-20181120-09-15/istio_full//flamegraphs/flame.envoy.flight.svg).

Two more possible enhancements:
- [istio::mixerclient::CompressByDict ](https://github.co

[2018-11-28 18:57] Stono commented on #10153
@frankbu aye that works, we've used `x-envoy-upstream-rq-timeout-ms` before to override the default envoy timeout so your hypothesis could be correct.

[2018-11-28 18:57] kyessenov commented on #7645
/ref https://github.com/istio/istio/issues/9415

[2018-11-28 19:02] imikushin commented on #9950
Looks like this can be closed in v1.1

[2018-11-28 19:13] adinunzio84 commented on #8696
We have this problem - we made a ServiceEntry and VirtualService to account for the fact that the apiserver is now accessed over a public URL. I made the following ServiceEntry and VirtualService:
[code]

This gets it to the point where I can access the api-server, but after 5 minutes, it stops working, and calls to the api-server hang. Also, calls to Go's **net.LookupIP(host)** hang during this p

[2018-11-28 19:15] frankbu commented on #10153
So I guess it's working as designed. It makes sense that the VirtualService config takes precedence since that's what Istio is all about: operator control of traffic flow without touching the application code. I think we just need to document this better, since the current doc seems to imply that the header will override.

[2018-11-28 19:21] Stono commented on #10153
Working as designed but completely contradictory to the documentation?  I think having the ability to override some things on a per request basis makes absolute sense.

This particular service serves user request which we do want to time out without a reasonable time frame, but we have some internal service requests which are long running by design.  Enforcing a one size fits all doesn't really wo

[2018-11-28 19:28] chrisob opened #10172 "Missing v1.0.4 release notes"
**Describe the bug**
Release notes at https://istio.io/about/notes/1.0.4.html are missing, even though there is [a (broken) link to them on istio's GH releases page](https://github.com/istio/istio/releases/tag/1.0.4).

Previous releases have notes with the expected URL format:
- https://istio.io/about/notes/1.0.3.html
- https://istio.io/about/notes/1.0.2.html
- https://istio.io/about/notes/1.0.1.h

[2018-11-28 19:49] frankbu commented on #10153
Yes, I agree that the documentation is wrong and needs to be fixed.

Operators do have the ability to specify traffic flow options based on the source workload. You could do the above experiment with both timeouts in the VirtualService:

[code]

That said, if you feel strongly that the headers should be able to override, you need to start a design discussion.

[2018-11-28 19:59] Stono commented on #10153
I was not aware of that, will give it a go. Thanks

I do still think per request overrides would allow further flexibility but not enough to start a design doc about it considering there is source workload support.

[2018-11-28 20:01] #7538 closed

[2018-11-28 20:02] #10001 closed

[2018-11-28 20:04] jmazzitelli opened #10174 "telemetry for ServiceEntry requests has wrong destination_service_namespace"
**Describe the feature request**

Access to a ServiceEntry endpoint results in telemetry stored in Prometheus where the destination_service_namespace is (apparently) hardcoded to "default".

"default" is a real namespace - in fact, it's the name of the most commonly used namespace in k8s - but obviously is not where the Service Entry endpoint really lives. So this telemetry is actually providing i

[2018-11-28 20:09] liamawhite commented on #7588
@itaysk you are correct, this conversation was a while ago so I cannot remember the reasoning or context behind it. It should be possible to add an annotation to the pod that gives the name of the proxy-container though.

I think this issue has actually been solved by making sure all `istio-proxy` containers are named `istio-proxy`. So I will close it and reopen if we do see any related ones.

[2018-11-28 20:09] #7588 closed

[2018-11-28 20:33] geeknoid commented on #3028
Yes, having a shared check cache is highly desirable for the same reason.

I realize that sharing between threads can lead to contention, but there
are substantial upsides in reducing the number of blocking RPC calls and
improve quota usage.

On Wed, Nov 28, 2018 at 10:49 AM Wayne Zhang <notifications@github.com>
wrote:

[2018-11-28 20:36] jmazzitelli commented on #10174
Just quickly looking, I *think* this could be a single line change - changing the value of this constant from "default" to something else like "\_\_external\_\_":

https://github.com/istio/istio/blob/1.1.0-snapshot.3/pilot/pkg/model/service.go#L110

Otherwise, I think the places where this default string is used when creating Service objects for a Service Entry are here (again, not 100% sure - I t

[2018-11-28 20:38] kyessenov commented on #3028
Partitioning the cache can improve performance as long as it respects the locality. The problem is that the cache right now is partitioned by workers (inconsistent with key locality), rather than by destination/source (which is much more likely to be consistent with policies). So we can avoid some of the contention, if there are several caches grouped by some primary attributes.

[2018-11-28 20:54] geeknoid commented on #3028
Given that the cache access rate is limited to the request rate arriving at
the proxy, it puts an upper limit on potential contention:

- The critical region for a typical cache write should usually be a few
dozen instructions. So that's a few nanoseconds, compared to a request rate
of say ~10000 QPS or 10 microsecond per request.

- Of course, cache reads can be non-blocking and executed in paral

[2018-11-28 21:18] douglas-reid commented on #10138
Let's close this, as the issue has been addressed. Thanks @ymesika and @linsun !

[2018-11-28 21:18] #10138 closed

[2018-11-28 21:21] douglas-reid commented on #9660
@StefanCenusa with the merge of #9974, I believe this issue is now closed (in 1.1 and forward). Please re-open if you believe this is not the case.

[2018-11-28 21:21] #9660 closed

[2018-11-28 21:31] costinm commented on #10126
https://github.com/istio/istio/pull/10177

[2018-11-28 21:32] costinm commented on #10126
Workaround: don't use istioctl proxy-status in 1.0.4

[2018-11-28 21:33] costinm commented on #10160
Yes, NetworkEndpoint needs to be removed - but can wait until 1.2, we can't afford more instability, only critical fixes in 1.1.

[2018-11-28 21:34] costinm commented on #10160
Also: doing changes in master now will make it harder to merge, so I think this or similar refactor changes should wait until 1.1 is firmly out - and people should focus on 1.1, no need to get distracted.

[2018-11-28 21:34] douglas-reid commented on #9899
@supereagle mind if we track stability fixes with #9858 ?  I'll close this for now. If not, please feel free to reopen this issue.

[2018-11-28 21:34] #9899 closed

[2018-11-28 21:36] kyessenov commented on #10174
Agree, that unsetting the value of namespace to "" is reasonable. The entries are cluster-scoped if I understand it correctly. So assigning them to a namespace seems to not be consistent with read/write access to service entries.

[2018-11-28 21:47] ewbankkit opened #10179 "Istio 1.0.4 Helm chart Grafana persistence errors"
Deploying Istio 1.0.4 via Helm chart with
[code]
I get
[code]

If I massage the chart's `deployment.yaml` so that the Grafana pod starts then the Grafana pod crashes:
[code]

[2018-11-28 22:07] mabushey commented on #10062
All versions of Istio above 1.0.2 (ie 1.0.3 and 1.0.4) have this bug.

[2018-11-28 22:11] kyessenov commented on #9992
I'm unable to reproduce this on 1.1.
Here's what I did:
1. install 1.1 tip, deploy it and the helloworld sample.
2. delete istio-policy HPA
3. run a continuous load: `while true; do curl $INGRESS/hello; done`
4. edit istio-policy deployment and scale down to 0.
5. observe gradual degradation (no healthy upstream):
[code]
6. scale up istio-policy to 1 replica.
7. observe a hanging request (envoy se

[2018-11-28 22:18] mabushey commented on #10062
[code]

[2018-11-28 23:04] douglas-reid commented on #10174
Added this as a topic for the next P&T WG meeting.

[2018-11-28 23:31] geeknoid commented on #10172
Mandar's been working on these in https://github.com/istio/istio.io/pull/2910

[2018-11-28 23:34] akpsgit commented on #1430
+1 for UDP

[2018-11-28 23:37] #9748 closed

[2018-11-29 00:02] gyliu513 commented on #8590
Thanks @jnativio for the reminder. Close it first, and we are going to do another test based in Istio 1.1 after it released. Let's check the result then.

FYI @zxDiscovery

[2018-11-29 00:02] #8590 closed

[2018-11-29 00:04] hklai commented on #9858
Another TestCheckCache failure (not init related)
https://circleci.com/gh/istio/istio/257511?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Can we get that fixed first?

[2018-11-29 00:50] chrisob commented on #10172
Cool, looks like it's up now, thanks!

[2018-11-29 00:50] #10172 closed

[2018-11-29 00:57] mabushey commented on #10062
[code]

This mesh policy was added in 1.0.3, and explains why 1.0.2 was the last working version.

[2018-11-29 01:02] mabushey commented on #10062
[code]
This gets rid of the conflict but results in a different mysql error:
[code]

[2018-11-29 01:14] supereagle commented on #9899
@douglas-reid  It's ok

[2018-11-29 01:44] hzxuzhonghu commented on #7665
When a  pod is terminating, it is removed from endpoint and a push will be triggered to remove it from outbound clusters. So as soon as a proxy applies this update, it will not ship traffic to the not existing cluster. But as @mandarjog said https://github.com/istio/istio/issues/7665#issuecomment-416634476 There is a delay, which can not be eliminated.

But IMO, if sidecar has a graceful terminati

[2018-11-29 01:48] mandarjog commented on #9964
It appears that once mixer enters this situation we have unbounded number of grpc goroutines in the front end contending for the same pool of mutable bags that the bounded back end go routines do

front end:
[code]
Back end thru goroutine pool
[code]

This causes a snowball effect. The back end cannot make progress and more and more goroutines from front end get thru this lock, but get stuck later

[2018-11-29 02:17] chunheisiu commented on #8893
@castlemilk I tried earlier today and the problem seems to be gone for me as well, similar to what you experienced.

I believe the ingress gateway was not sending traces and caused the other traces to become orphans. Do you have a theory as to why this happens and how it was able to correct itself after a certain amount of time?

[2018-11-29 05:14] douglas-reid commented on #9858
@hklai I'm fairly certain that was addressed by the Makefile changes in `release-1.1` (#9857), but it doesn't seem like CircleCI is using those changes in that merge PR. Any ideas why not?

[2018-11-29 05:50] songrgg commented on #7607
Thanks, externalTrafficPolicy: Local works for me, I hosted Kubernetes on Tencent Cloud.

[2018-11-29 06:01] #6681 closed

[2018-11-29 06:42] irisdingbj commented on #9968
In failure cases, new test starts to run before s.grpcServer.GracefulStop() completes.
below is printed in the new test:
Push finished: 662.904µs {
    "ProxyStatus": {
        "pilot_destrule_subsets": {
            "c-weighted.extsvc.com": {
                "message": "Duplicate subset v2 found while merging destination rules for c-weighted.extsvc.com"
            }
        },
        "pilot_eds

[2018-11-29 06:59] dunjut commented on #9030
If you don't have a requirement for reloading updated certificates, you can try [cert-sync](https://github.com/dunjut/cert-sync) as a current workaround for dynamic certs provision.

The ingress gateway agent is still in review.

[2018-11-29 07:45] Javatar81 commented on #9906
The problem disappeared after updating to 1.0.4. Maybe this fix solved it: https://github.com/istio/istio/pull/9805

[2018-11-29 08:50] emedina commented on #7665
Quick question: couldn't the `Gateway` just `ignore` a `503` provided it has other routes to try out? Notice that this is not about re-trying, but detecting the `503` and then discarding it, similarly to how a load balancer like HAProxy or NGINX work.

[2018-11-29 09:10] hzxuzhonghu commented on #7665
I think yes, if HTTP retry is configured.  But we have retry limit, like timeout.

[2018-11-29 09:12] Stono commented on #7665
Retries aren't fully effective and tbh are just a plaster on the problem of
stale cluster config

On Thu, 29 Nov 2018, 9:10 am Zhonghu Xu <notifications@github.com wrote:

[2018-11-29 09:29] clyang82 commented on #9142
I met the same problem in IBM Private Cloud environment. When I inject the sidecar into the kibana deployment. And then perform `curl` in the kibana container:

[code]
@geeknoid @kyessenov @douglas-reid any input here? Thanks.

[2018-11-29 10:09] emedina commented on #7665
@hzxuzhonghu Then I'm afraid the issue is whether the retry guarantees idempotency.

[2018-11-29 10:23] hd-deman commented on #10134
Absolutely agree. This is a huge problem for me too. Currently I have two kubernetes setup because merging istio provided prometheus and prometheus operator is really painful.

[2018-11-29 10:33] emedina commented on #7665
@Stono Weird, because in my case I have one cluster with `1.0.3` where I was facing this issue, and then another with `1.0.4` where it's working properly. But here I'm strictly speaking about #9480.

[2018-11-29 13:23] Stono opened #10193 "Recently added scrape of envoy generates quite a lot of network traffic"
The switch from the statsd exporter, to prometheus scraping envoy for metrics directly creates quite a jump in network traffic for us:

<img width="894" alt="screen shot 2018-11-29 at 11 29 47" src="https://user-images.githubusercontent.com/1486729/49224034-47ed0000-f3d8-11e8-85e7-880591668068.png">

We're actually only interested in a handful of metrics from envoy, but a typical envoy returns a w

[2018-11-29 13:33] Stono commented on #10179
I'm not sure about the fix that was merged here.
Making it configurable is fine, but changing from ReadWriteOnce to ReadWriteMany is not a storage mode supported by any of the cloud provider default storageClasses (eg, gcp persistent disks etc) and is only supported if you're running a specific distributed shared storage.

[2018-11-29 13:38] emedina commented on #9113
Most probably fixed with #9805 for #9480.

[2018-11-29 13:41] brunsgaard commented on #8509
Any news on this one, I am experiencing the same with envoy as sidecar for grpc services

[2018-11-29 13:46] Stono commented on #9113
It won't be fixed btw.   Sporadic 503s are a common issue in istio at the moment due to the delays in pushing out mesh config to all envoys.

The fixes you have linked are to a specific to an issue in 1.0.3, but the OP is on 1.0.1

[2018-11-29 13:57] ewbankkit commented on #10179
@Stono I copied from https://github.com/istio/istio/pull/8416 which is in Istio 1.1; I found that I had to override with `ReadWriteOnce` for Amazon EBS FWIW. I guess the thing to do would be to open an issue against the 1.1 code.

[2018-11-29 14:03] michaelkipper opened #10194 "Response headers missing x-envoy-attempt-count"
**Describe the bug**
I set up an environment with a server that holds on to requests until they time out at the client side. We have monitoring set up on the client side to report the attempt count so we can get a signal when things are starting to get flaky, even when we're getting consistent successful responses.

**Expected behaviour**
I expected to see `x-envoy-attempt-count` in the headers of

[2018-11-29 14:09] ewbankkit commented on #10179
Fix merged to `release-1.0` with https://github.com/istio/istio/pull/10180.

[2018-11-29 14:09] #10179 closed

[2018-11-29 14:37] Docteur-RS commented on #6105
I had the **exact** same problem.
My error was that I needed to have kubectl AND ansible installed on the same machine.

[2018-11-29 14:48] frankbu commented on #6070
@dreadbird You should be able to use [this new feature](https://istio.io/help/ops/traffic-management/deploy-guidelines/#multiple-virtual-services-and-destination-rules-for-the-same-host) to address your requirement.

[2018-11-29 14:59] garethdown44 commented on #7730
After struggling with the lack of tracing reports in Jaeger for a long time, I realised that `pilot.TraceSampling` is set to 1. It needs to be set to 100 if you want to see traces for every request. It doesn't say to do this in any of the tutorials; it only mentions that you can reduce it if you wish.

[2018-11-29 15:41] mandarjog commented on #10193
We merged  https://github.com/istio/istio/pull/10184  that addresses the issue.

[2018-11-29 17:00] #7564 closed

[2018-11-29 17:21] douglas-reid commented on #9142
@clyang82 Can you clarify what you would like input on?  Tracing with HTTPS ?  Or all Istio features with kibana+HTTPS?

[2018-11-29 18:55] theganyo commented on #9596
I'm not certain if my underlying issue is the same, but I just noticed a similar(?) issue with an incorrect cache hit. I perform auth check in an adapter based on a header value which Mixer caches. But if I drop the auth header from the request, it still gets hits from the cache and allows the unauthorized requests through until the cache expires.

[2018-11-29 18:56] kyessenov commented on #9596
@theganyo can you share your example please? is it for 1.1?

[2018-11-29 18:59] theganyo commented on #9596
This is 1.0.4. I'm using the following template for the auth check:

[code]

[2018-11-29 19:00] kyessenov commented on #9596
Do you mind trying 1.1? That would help narrow it down. I've spent quite some time trying to recreate a wire corruption issue that was fixed but not back ported.

[2018-11-29 19:34] zachjsh opened #10197 "Does istio support adding header who's value is based on api response"
I have a use case where we want to support old clients with new system that requires a JWT token in the HTTP Authorization header to be in request, but the old clients aren't passing these tokens in the request, and we would like to avoid updating the client if we can. We would like the JWT token to be injected by istio envoy proxy when it receives the request from old client. Does istio support t

[2018-11-29 19:50] theganyo commented on #9596
Hmm. I reinstalled the entire 1.0.4. mesh and tried it again, and this time didn't see this error. I retract my  issue until I can properly recreate it.

[2018-11-29 19:55] facundomedica commented on #4865
I'm getting `gRPC config stream closed: 14, upstream connect error or disconnect/reset before headers` on a istio-proxy

[2018-11-29 20:03] douglas-reid commented on #9858
@hklai sure. do we know why it started lying ?

[2018-11-29 20:46] facundomedica commented on #4865
I solved it by adding this policy:

[code]

[2018-11-29 21:00] #7570 closed

[2018-11-29 21:42] patrickbadley commented on #2802
This seems related if not identical to the issue I'm encountering, has this been coded?  My issue is that my token has a claim that holds an array of values, however when istio parses it, it doesnt not recognize the array value and ignores the claim.  If I change the claim value to be a string, it recognizes it.  Here are my raw claims:
fields {
      key: "request.auth.raw_claims"
      value {

[2018-11-29 21:45] kyessenov commented on #9596
I'll investigate the internal mixer cache. I'm still having difficulties reproducing the issue, but let's keep it open until we're confident it's OK.

[2018-11-29 22:00] #3850 closed

[2018-11-29 22:10] liamawhite commented on #4865
@facundomedica this is unrelated to the original issue but does indicate we need to do a better job identifying what is causing the 503s.

[2018-11-29 23:00] #7571 closed

[2018-11-29 23:31] karthikt-yahoo commented on #9992
it is reproducible in istio-1.3
Steps to reproduce:
   1. kubectl edit cm istio -n istio-system
         update the setting to policyCheckFailOpen: true
              # policyCheckFailOpen allows traffic in cases when the mixer policy service cannot be
                  reached.
              # Default is false which means the traffic is denied when the client is unable to connect to Mixer.

   2.

[2018-11-29 23:43] kyessenov commented on #9992
@karthikt-yahoo I think this might be a different issue. Your example suggests that FailOpen is not being respected. The original issue was that 503s go away after mixer is killed/restarted.

[2018-11-29 23:50] louiscryan commented on #9818
Should see how we tie K8S shutdown hooks to

https://github.com/envoyproxy/envoy/issues/1990

[2018-11-30 00:23] mitchhh22 commented on #7787
Experiencing the same issue here... any idea if this is being worked on?

[2018-11-30 01:14] clyang82 commented on #9142
@douglas-reid Thanks for your response. I would like to
1. Kibana can be able to start successfully - right now, Kibana cannot connect with es when enable sidecar
2. Tracing with HTTPS

[2018-11-30 01:45] karthikt-yahoo commented on #9992
@kyessenov Thanks for checking. I take back. i am not able to reproduce the issue i reported and the problem reported in this issue.

[2018-11-30 01:45] linsun opened #10200 "Install Kiali in one command"
Based on our doc of Kiali, a user will have to do a 2 steps installation and configuration:

https://preliminary.istio.io/docs/tasks/telemetry/kiali/#before-you-begin

The step installs istio first, then update istio with kiali.dashboard.jaegerURL and kiali.dashboard.jaegerURL.   Is it possible to consolidate this into 1 helm cmd where user can just pass in the in cluster or external grafana or ja

[2018-11-30 02:01] JadeQin opened #10201 "why the sidecar can not process trace span"
**Describe the feature request**

now if you want use jaeger,you must process the header params like `x-request-id` in your code.why the sidecar can not process this? it only get the header params from requesr and put it into reponse,there is not any business logic.

**Describe alternatives you've considered**

process the header params in the code

**Additional context**

[2018-11-30 02:10] krucelee commented on #9779
@objectiser thank you for your update, happy to try jaeger-operator under istio prelim 1.1 and everything going well.

[2018-11-30 03:03] nixgadget commented on #9466
@sunyl527 not quite. This seems to be much worse in 1.1 snapshot 3 version.

[2018-11-30 03:10] nixgadget commented on #10134
This is the very reason why I have a custom Helm setup for Istio so I can remove all the bloat like grafana and prometheus and instead manage all of that in the operator. Doing so comes with its own problems such as having to manage the config and versions but it seems to be working well for me so far.

[2018-11-30 03:33] gbaufake commented on #10200
Hi @lisun,

I think the main problem on Helm is that you don't know for sure what is going to be the URL for grafana and jaeger before istio is installed... (even query the ingress would not solve the problem, because there is no ingress installed if you we are going to use one command)

On Ansible Installer installing on Openshift, it is possible to use one command because we can grab the openshi

[2018-11-30 04:00] #7388 closed

[2018-11-30 05:59] nixgadget opened #10205 ""Failed to start secure grpc server open /etc/certs/cert-chain.pem" on Pilot"
**Describe the bug**
Similar to #9466 I'm observing Pilot crashing couple of times when it waits for citadel to generate the certs. It eventually recovers but would like to get to the bottom of why it doesnt start cleanly. This may or may not be related to #9466 hence raising this issue.
[code]

**Expected behavior**
Pilot to start without crashing

**Steps to reproduce the bug**
Just following th

[2018-11-30 06:41] sunyl527 commented on #9466
I got it.Thanks for your reply!

[2018-11-30 08:00] #7540 closed

[2018-11-30 08:21] Liv1020 opened #10206 "Why is spring cloud request in kiali is tpc traffic"
**Describe the bug**
spring cloud request in kiali is tpc traffic, Not http.
jaeger not tracing of it

**Expected behavior**
jaeger work well

**Steps to reproduce the bug**
use zuul gateway and spring cloud service in istio

**Version**
[code]

[code]

**Installation**
helm install

**Environment**
centos 7.5

**Cluster state**

![image](https://user-images.githubusercontent.com/5382358/49277297-

[2018-11-30 09:05] sdake commented on #7688
@nixgadget the upgrade issue is being worked here:
https://github.com/istio/istio/issues/9884

Cheers
-steve

[2018-11-30 09:29] zhaohuabing opened #10207 "Pilot high CPU usage when working with Consul registry"
**Describe the bug**
Pilot CPU usage is very high when working with Consul registry, 200% with about 300 services in Consul

**Expected behavior**
Pilot should consume reasonable CPU since it‘s not a calculation intensive component

**Steps to reproduce the bug**
Run Istio with Consul registry integrated

**Version**
1.0.0
Version
1.0.0
the latest master branch has the same issue.

**Installation*

[2018-11-30 09:36] clyang82 commented on #9142
note that egress service does not function as HTTP Proxy. It intercepts tcp traffic by iptables. So you cannot use it a HTTP proxy. The only solution I see currently is calling Cloudant directly - https://istio.io/docs/tasks/traffic-management/egress.html#calling-external-services-directly.

I am not sure it is only solution or not so far. When I configured the elasticsearch ip address into `exclu

[2018-11-30 10:35] jmazzitelli commented on #10200
@linsun @gbaufake

This request is actually already documented as a Kiali JIRA issue here: https://issues.jboss.org/browse/KIALI-1939

Knowing the Jaeger and Grafana URLs beforehand is the problem, and why you need 2 commands. If you know of a way to find out what Jaeger and Grafana's URLs are going to be BEFORE you install them (or at least BEFORE you run that kiali install command) then let us k

[2018-11-30 10:46] Stono commented on #10153
@frankbu it doesn't work with VirtualServices either:

[code]

Here is the pod definition:
[code]

Here it is timing out at 10s again:
[code]

Could this be because sourceLabels is read from a service definition, and in this case this a `Job` which is running, which is ultimately not represented by a service/workload?

In that case; we'd really need per request overrides (for non-workload related

[2018-11-30 11:01] nixgadget commented on #10205
@hzxuzhonghu Yeah when Pilot crashes `istio-pilot-service-account` is missing. Heres the citadel log. It does take several seconds to create the secret.

[code]

[2018-11-30 11:06] nixgadget commented on #9466
@sunyl527 part of the problem I'm seeing is a delay in creating the certs/service accounts in citadel. Trying to get to the bottom of it.

[2018-11-30 11:53] rafik8 commented on #10062
Deleting the default MeshPolicy resolve the issue for me. Thank you @maorfr for sharing this workaround. I spent two days debugging the whole platform end to end, I haven't get this path in my mind as mTLS is disabled in my case, so strange that we had mTLS disabled and getting the connection served over mTLS.

[2018-11-30 11:56] rafik8 commented on #10062
Hi @mabushey, What I can see from the tls-check command that mTLS is enabled, could you disable mTLS and retest ?

[2018-11-30 12:09] prune998 commented on #9030
On my side, a `.crt` is around 3600 bytes and a `.key` is `1600`...
If my maths are good, it's around 174 certificates before reaching the 1MB (or is it one mega Bit ?)
From my point of view, having 174 certs in your external ingress endpoint is a bad idea... but it's just me :)

[2018-11-30 12:11] prune998 commented on #9030
And thinking out loud... the other solution would be to have those 174 certificates in their own secret. That's 174 `volumes` to mount into your IngressGateway pod, and you'll have to recycle this pod every time you add a new `Gateway` with a new certificate... not sure it's better either :)

[2018-11-30 12:33] hd-deman commented on #10134
@nixgadget can you share your approach?

[2018-11-30 13:56] objectiser commented on #10201
The problem is that, although the same sidecar may process in the inbound request to the service, and the outbound request from the service, it has no implicit way of knowing that the two requests are connected - we need some way to determine that the two requests are correlated, and this can only be achieved by some information in the inbound request header being explicitly copied over to the out

[2018-11-30 14:39] linsun commented on #10200
@jmazzitelli could we at least simplify it for the demo profile which kiali is enabled by default now.  Given the demo profile installs everything into istio-system ns, could we simply set `kiali.dashboard.jaegerURL={jaeger-service-name}.{namespace} where the {namespace} and {jaeger-service-name} is pre-configured for the demo profile.

[2018-11-30 14:47] frankbu commented on #10153
One problem is that rules in the VirtualService are order dependent, so you need to put the one with the sourceLabels first.

https://istio.io/docs/concepts/traffic-management/#precedence

That said, I would have expected the timeout to be 20s (since that's what the timeout is in the VirtualSevice rule, but you are just getting 10s in your experiment, which implies the VirtualService isn't coming

[2018-11-30 14:52] jmazzitelli commented on #10200
@linsun yes, for the demo profile I think that would work, assuming kiali and jaeger and grafana are all installed in the same namespace and kiali can access them (which is true - as you say, everything goes into istio-system).

[2018-11-30 15:01] Stono commented on #10153
@frankbu The 20s did kick in eventually, I didn't wait long enough for my change to be propagated to proxies.  So you can ignore that as a red herring.

However, I believe arrays in yaml/json like this aren't ordered lists, so probably shouldn't be considered as such?  I have been burned before, by several golang projects ([helmfile as an example](https://github.com/roboll/helmfile/issues/137)) wh

[2018-11-30 15:38] jmazzitelli commented on #10174
as an example of where this comes into play, see this KIALI JIRA issue: https://issues.jboss.org/browse/KIALI-2026

[2018-11-30 15:54] ksemba opened #10209 "Instance metrics config change has no effect"
**Describe the bug**
I create a custom mixer telemetry adapter / handler and deployed it on GKE according to this guide https://github.com/istio/istio/wiki/Mixer-Out-Of-Process-Adapter-Walkthrough. It worked fine for a few days but now if I modify the dimensions that I want to forward to my adapter it doesn't seem to apply the changes. Whichever dimensions I add or remove from my yaml file, the ex

[2018-11-30 15:59] frankbu commented on #10153
It's based on pod labels, so as far as I can tell, your rule should work.

Btw, you could try putting the timeout in a rule with a `match: headers:` instead, if you can't figure out the source labels problem. That way you give the control to the request code, independent of source pod.

https://istio.io/docs/concepts/traffic-management/#conditional-rules

[2018-11-30 17:53] #7494 closed

[2018-11-30 18:09] douglas-reid commented on #9142
for 1: did you answer your own question with your follow-on question?

for 2: please see @kyessenov 's explanation for tracing with HTTPS to the instance: https://github.com/istio/istio/issues/9142#issuecomment-427458450

[2018-11-30 18:28] geeknoid opened #10210 "ISTIO mesh expansion in AWS"
@devops083 commented on [Tue Nov 27 2018](https://github.com/istio/community/issues/104)

setupMeshEx.sh is for only GCP?
how to implement ISTIO mesh expansion in AWS?

[2018-11-30 18:30] cmluciano commented on #8938
@duderino Are you still working on this?

[2018-11-30 18:48] incfly commented on #9030
/cc @JimmyCYJ @myidpt @costinm

[2018-11-30 18:50] #7497 closed

[2018-11-30 19:10] linsun commented on #5944
Is this issue still valid @gyliu513

[2018-11-30 19:19] #9897 closed

[2018-11-30 19:22] linsun commented on #9185
503 are caused often when control plane is down.   During the upgrade, does the control plane have HA?  If so, were the upgrade rolled to the control plane components in a way that is not causing down time.

[2018-11-30 19:23] mabushey commented on #10062
@rafik8 yes, disabling mTLS works, having meshpolicies.authentication.istio.io setting for mTLS (added in all istio releases newer than 1.0.2) just bricks all internal traffic. I figured if mTLS is sent on the receiving (server) end, then adding the DestinationRule to make both client and server use mTLS would work. The STATUS shows OK, but it still does not work. Really strange why istio is shipp

[2018-11-30 19:24] linsun opened #10211 "Add a minimal profile test"

[2018-11-30 19:30] ostromart commented on #9185
That's a very good observation Lin. We'll try it with HA, and we should make this a requirement for 503-free upgrades.

[2018-11-30 19:34] hklai commented on #9185
Also updated bug description to reflect the current state.

[2018-11-30 19:35] jmazzitelli commented on #10200
one thing is that the jaeger and grafana need to be accessible to the end user (i.e. it is not just that Kiali needs to access them - but rather, Kiali is simply providing links for the user to click to see the Jaeger and Grafana screens). So we need ingresses defined for jaeger and grafana and those ingress URLs are the ones that Kiali needs to know about.

Does Jaeger and Grafana have ingress de

[2018-11-30 19:36] ts4z opened #10213 "job istio-security-post-install isn't deleted when helm chart is deleted"
**Describe the bug**
I'm installing istio via helm (with a concourse pipeline). I have had a few different problems, and the install has failed. Cleaning up doesn't "just work"; instead, there are two things that don't get cleaned up by themselves.

One is the added CRDs, which I have been told is a Helm bug

The other is a job called `istio-security-post-install`.

After a failed install, and hav

[2018-11-30 19:42] #7521 closed

[2018-11-30 19:48] linsun commented on #9185
+1 thanks @ostromart @hklai

[2018-11-30 20:03] rshriram commented on #10062
I think @diemtvu wanted to set the default policy to PERMISSIVE but @costinm had some reservations.

[2018-11-30 20:42] #7242 closed

[2018-11-30 20:57] linsun commented on #10200
I think it is fair to hardcode it for demo profile, it provides the best experience for our users.

[2018-11-30 20:59] linsun commented on #10200
Given it is the same namespace, it is possible to simply use:  http://tracing:80

[2018-11-30 21:02] linsun commented on #10200
Oh i see your point about user access jaeger or grafana via UI... i had thought it is just kiali consumes it...

[2018-11-30 21:42] #7554 closed

[2018-11-30 22:04] rafik8 commented on #10062
I see now @mabushey, I will enable mTLS and retest to confirm that.

[2018-11-30 22:08] jsw opened #10214 "istio-proxy AccessLog bad format - missing space"
**Describe the bug**
istio-proxy AccessLog format missing a space

`GET /k8sHTTP/1.1`

**Expected behavior**
`GET /k8s HTTP/1.1`

**Steps to reproduce the bug**
view istio-proxy stdout

**Version**
1.0.3
1.0.4

**Installation**
helm

**Environment**
GKE 1.11

[2018-11-30 22:23] hklai opened #10216 "TestTcpMetrics fails after merging release-1.1 to master"
TestTcpMetrics started failing after merging release-1.1 to master. See https://github.com/istio/istio/pull/10186

Circle:
https://circleci.com/gh/istio/istio/259212?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Prow:
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/10186/e2e-mixer-no_auth/8869

[2018-11-30 22:39] douglas-reid commented on #10216
PR #10218 hopefully fixes.

[2018-11-30 22:51] mandarjog opened #10220 "istio1.1-pre mcp pilot needs to more CPU than non mcp"
Investigate why [mcp pilot](http://grafana.v11-mcp.qualistio.org/d/3/pilot-dashboard?refresh=5s&orgId=1) [snapshot](https://snapshot.raintank.io/dashboard/snapshot/3TjSEM70HR3JQT9jUfgv2NXS1s81EyQY) needs more cpu than  [non-mcp pilot](http://grafana.v11.qualistio.org/d/3/pilot-dashboard?refresh=5s&orgId=1&panelId=47)  [snapshot](https://snapshot.raintank.io/dashboard/snapshot/j12o6M7v5i58GUqywDbX7

[2018-11-30 22:56] ayj commented on #10220
MCP currently supports pushing the full set of resource (per type) each time. Pilot's MCP client integration [computes](https://github.com/istio/istio/blob/df0d817c5ecf6f3fab94cb599ddd90c363c4d533/pilot/pkg/config/coredatamodel/controller.go#L213-L241) a diff against the previous snapshot to generate add/update/remove events.

For starters, we can optimize dispatch by type. I believe only ServiceE

[2018-11-30 23:14] ts4z opened #10221 "deleting chart doesn't remove added CRDs"
**Describe the bug**
Deleting the istio chart, then re-installing it, doesn't work, because of added CRDs. The documentation says that CRDs must be deleted (`kubectl delete -f istio-1.0.4/install/kubernetes/helm/istio/templates/crds.yaml` or similar) but I had to do this with a later version of helm.

It would be best if the deletion was automatic, but at a minimum the docs seem to be wrong. They

[2018-11-30 23:50] adityats2020 opened #10223 "Configure EnvoyFilter on istio ingress-gateway"
**Describe the feature request**
The docs (https://istio.io/docs/reference/config/istio.networking.v1alpha3/#EnvoyFilter) are not clear if the envoy filter can be configured for istio ingress gateway, which are also envoy instances. The configuration seems to be applied on side car proxies only by the docs provided. I would like to avoid the extra hop if possible to have istio ingress gateway call

[2018-11-30 23:52] douglas-reid commented on #10216
Marking as fixed.

[2018-11-30 23:52] #10216 closed

[2018-11-30 23:52] kyessenov commented on #9596
OK I reproduced it locally:
[code]

The mitigation is to disable L2 cache with --numCheckCacheEntires=0

/cc @geeknoid

[2018-11-30 23:53] douglas-reid commented on #10214
This was reported in a different context, iirc. @qiwzhang any thoughts on the formatting here?  iirc, this may be being set via Pilot too...

[2018-12-01 00:00] geeknoid commented on #9596
Well, it's definitely my bug. I wrote the cache package, and I wrote the
check cache that uses the cache package to deliver this buggy behavior.

:-(

On Fri, Nov 30, 2018 at 3:53 PM Kuat <notifications@github.com> wrote:

[2018-12-01 00:03] bianpengyuan commented on #10209
It is surprising that with rule, handler and instance deleted your adapter is still getting report calls. Would you mind to kubectl get -n istio-system {rule, handler, instance} to make sure there is no garbage config left?

[2018-12-01 00:07] douglas-reid commented on #10209
@ksemba my instinct is that there is a configuration error in your updated config. If you are not able to get port-forwarding to work for mixer, can you try querying for the metrics via prometheus? We are interested in values for metrics like `mixer_config_rule_config_errors_total` and `mixer_config_rule_config_errors_total` and `mixer_config_rule_config_errors_total` and `mixer_config_handler_val

[2018-12-01 00:10] douglas-reid commented on #10201
@objectiser I feel like this (and related questions) continue to crop up around tracing. I think we should probably work on a detailed FAQ entry, and maybe companion doc / blog post on tracing with Istio.  Thoughts?

I have a doc from awhile back that attempts to explain various aspects of distributed tracing. Do you have time to collaborate?

[2018-12-01 00:11] douglas-reid commented on #10193
See also: https://github.com/istio/istio/issues/9942

[2018-12-01 00:42] #2798 closed

[2018-12-01 00:55] kyessenov commented on #9596
Interestingly, it doesn't even matter if the value is correct for EXACT match (note value `secret2`):
[code]

Without the cache:
[code]

[2018-12-01 00:57] kyessenov commented on #9596
And it also works the other way (secret should be passed):
[code]

[2018-12-01 01:42] #6241 closed

[2018-12-01 01:43] nixgadget opened #10226 "Galley crashes in 1.1.0-snapshot.3"
**Describe the bug**
Galley is crashing with the following stack trace,
[code]

**Steps to reproduce the bug**
Deployed via Helm and ran a number of pod applications.

**Version**
**Istio**: 1.1.0-snapshot.3
**Kubernetes**:
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.7", GitCommit:"0c38c362511b20a098d7cd855f1314dad92c2780", GitTreeState:"clean", BuildDate:"2018-08-20T10:0

[2018-12-01 02:06] dreadbird commented on #6070
@frankbu I'm sorry, there are some mistakes in my description.

My question is about your previous reply:

[2018-12-01 02:41] zhaohuabing opened #10227 "Two many TIME_WAIT sockets caused by Pilot Consul registry"
**Describe the bug**
Consul registry is pulling services and service instances from consul server everytime receiving a discovery request, without any cache.

The pulling is using Consul Rest API, in my test environment (about 300 services),  this behaviour causes a lot of short-lived TCP connections and many TIME_WAIT sockets. The server can't accept incoming requests after a short while.

**Expe

[2018-12-01 02:42] #5899 closed

[2018-12-01 03:42] #4756 closed

[2018-12-01 03:49] nixgadget commented on #10134
@hd-deman
- I simply stripped prometheus, grafana and zipkin charts and moved them to external charts.
- Promtheus and grafana are all part of prometheus-operator.
- And I've defined `ServiceMonitor` config like below,
[code]
- Unfortunately envoy prometheus could not converted to a `ServiceMonitor` as it doesnt have a concept of scraping metrics from every pod. So I used external scraping config

[2018-12-01 04:42] #5322 closed

[2018-12-01 05:42] #4433 closed

[2018-12-01 05:54] psaia commented on #7607
Confirmed: `externalTrafficPolicy: Local` works well on GKE + envoy. 👍

[2018-12-01 06:42] #5323 closed

[2018-12-01 07:42] #3833 closed

[2018-12-01 09:42] #3816 closed

[2018-12-01 10:42] #7619 closed

[2018-12-01 11:42] #3756 closed

[2018-12-01 12:42] #3738 closed

[2018-12-01 13:42] #4689 closed

[2018-12-01 13:46] mandarjog commented on #10220
Since we would like to make MCP default for 1.1, we should do these optimization. For completeness, can you investigate CDS rejections too?

[2018-12-01 13:51] mandarjog commented on #10220
![MCP flamegraph](https://storage.googleapis.com/artifacts.mixologist-142215.appspot.com/perfdata/MCP-istio-pilot-5fb4cbd4d-8tprh__1543618218.svg)

![Non MCP flamegraph](https://storage.googleapis.com/artifacts.mixologist-142215.appspot.com/perfdata/NONMCP-1.1-istio-pilot-5b6d5c4488-nmz2w__1543618436.svg)

![MCP heap](https://storage.googleapis.com/artifacts.mixologist-142215.appspot.com/perfdata/

[2018-12-01 13:53] mandarjog commented on #10220
Non MCP flamegraph
![Non MCP flamegraph](https://storage.googleapis.com/artifacts.mixologist-142215.appspot.com/perfdata/NONMCP-1.1-istio-pilot-5b6d5c4488-nmz2w__1543618436.svg)

 Non MCP heap
![Non MCP heap](https://storage.googleapis.com/artifacts.mixologist-142215.appspot.com/perfdata/no_mcp_pilot_mem.svg)

[2018-12-01 14:42] #3774 closed

[2018-12-01 15:42] #7599 closed

[2018-12-01 16:54] costinm commented on #10220
The diffs are not currently needed - any config change causes a push in
1.1, and the plan is for pilot to do its own
checks on what needs to be pushed - but with "isolation" it'll be a very
different implementation.
So just remove the diff - it is not needed now nor in the future.

ServiceEntry can be sent as configuration - they don't change very often,
but please make sure and test that no
'synt

[2018-12-01 16:59] costinm commented on #10220
Also: for endpoints we expect to only use 'on-demand', not incremental.

For configs - in 1.2 we will likely need incremental ( similar with K8S
watch interface ).

On Sat, Dec 1, 2018 at 8:54 AM Costin Manolache <costin@gmail.com> wrote:

[2018-12-01 17:42] #2988 closed

[2018-12-01 17:47] liveincomputers opened #10229 "Mesos Installation Guide for Beginner"
**Mesos Installation Guide**
Dear Team and friends, I am a new user on Github and this is my first request please help me out I will be really obliged.
I want to install Mesos on my system can anyone help me with an Installation guide for beginners I tried searching online but did not get easy installation guide.
please help me with installation guide or let me know steps
can mail - me on - mohd.s

[2018-12-01 18:42] #7616 closed

[2018-12-01 18:55] mandarjog commented on #10220
Note: MCP flame graph shows more time on GC.

[2018-12-01 21:05] #2784 closed

[2018-12-01 22:29] rajdhandus opened #10230 "Need a way to get the name and namespace of a virtual service programmatically"
**Describe the feature request**

I am trying to get the details of a virtual service programmatically. The virtual service object comes as a byte array. after parsing it as a VirtualService, I am not able to retrieve any details.. given below is a sample..

**Describe alternatives you've considered**

parsing the byte array as string/json and retrieve the required values

**Additional context**

[2018-12-01 23:05] #2327 closed

[2018-12-01 23:17] missourian55 commented on #9113
one option suggested in istio-user groups to disable policy check
[code]

[2018-12-02 00:05] #2928 closed

[2018-12-02 00:19] kuberkaul commented on #9142
@clyang82 - You can't have HTTPS originating from your container if you wants istio to be able to trace your request all the way to the container. (won't be able to decrypt it and is fully opaque to istio). HTTP only from container and you can encrypt from envoy proxy using istio config. (this will be fully traceable via istio integrations)

[2018-12-02 01:05] #6342 closed

[2018-12-02 02:05] #1836 closed

[2018-12-02 03:05] #1985 closed

[2018-12-02 05:05] #1801 closed

[2018-12-02 06:05] #1511 closed

[2018-12-02 06:33] nixgadget commented on #10226
Also observing the error,
[code]

[2018-12-02 07:05] #1078 closed

[2018-12-02 07:16] arghya88 commented on #7822
@mandarjog Can you share an example of how to configure envoys in a namespace send metrics to a specific mixer

[2018-12-02 08:05] #6698 closed

[2018-12-02 09:05] #6757 closed

[2018-12-02 10:05] #5272 closed

[2018-12-02 11:05] #6362 closed

[2018-12-02 13:05] #6755 closed

[2018-12-02 14:33] mhamrah commented on #8906
This can be closed, we updated to 1.0.4 and have seen stable telemetry metrics.

[2018-12-02 15:05] #2801 closed

[2018-12-02 16:54] lubinson commented on #8029
@vadimeisenbergibm

This time succeed! I don't know what happened. I think most prossibly is the sidecar injection. Last time maybe I forget to inject it again after server times try. ~~

Another question is I want to confirm the messages between ingressgateway and service is using http/2. Then I dump the tcp packets. But the packets can't be decode into http messages using wireshark which is ok f

[2018-12-02 17:05] #7131 closed

[2018-12-02 18:05] #7055 closed

[2018-12-02 19:05] #7114 closed

[2018-12-02 20:56] #5310 closed

[2018-12-02 21:56] #5088 closed

[2018-12-02 22:07] hemantseth0210 commented on #8846
I was able to manage it work in my case. Initially it wasn't tripping the circuit when I was returning 500 error from the service. Outlier detection was configured like below:
[code]

I pulled up the config using
`kubectl exec podname -i -t -c istio-proxy -- curl localhost:15000/config_dump`

I found out that envoy config was set to
[code]
Basically consecutiveErrors was translating to consecutive

[2018-12-02 22:40] Dimss commented on #8846
@hemantseth0210 you are 100% right! Thank you! :)
I just spent view hours to understand why my broken pod wasn't ejected from the poll, and apparently it was an 500 issue.
I've created a test SpringBoot app, with just throw 500 error, and until I changed it to return 502, my broken pod wasn't  ejected from the pool.
Looks like there is a bug in Istio docs where clearly say, that `5xx return code q

[2018-12-02 22:56] #6498 closed

[2018-12-02 23:56] #6687 closed

[2018-12-03 00:56] #6565 closed

[2018-12-03 01:50] SundayCloud opened #10235 "the http is changed to https when the url reuqest is forwarded by istio ingressgateway envoy proxy"
**Describe the bug**

1) when I send a http request On the browser，and  istio ingressgateway forward the request , but the service receive a https request by checking the log, the request protocol has been changed

2) And the strange thing is that，when I send a https request On the browser，and  istio ingressgateway forward the request , but the service receive a http request by checking the log, t

[2018-12-03 01:54] loveai88 commented on #10201
Thanks

[2018-12-03 01:56] #3387 closed

[2018-12-03 02:18] nrjpoddar commented on #6070
@dreadbird the [virtualservice chaining](https://docs.google.com/document/d/17K0Tbp2Hv1RAkpFxVTIYPLQRuceyUnABtt0amd9ZVow/edit#heading=h.m6yvqjh71gxi) proposal is still not implemented.
The example you gave is the primary use case of Virtual Service chaining/delegation but it appears implementing this feature is currently a lower priority.

[2018-12-03 02:52] vadimeisenbergibm commented on #8029
@kongyi-ibm Yes, terminating TLS and originating TLS by the gateway should work. You just create  a DestinationRule to your service, and specify `tls` mode as SIMPLE. Something like:
[code]

[2018-12-03 02:55] vadimeisenbergibm commented on #8029
@lubinson Since currently it works for you, could you please close the issue?

Regarding http2, note that you have to specify the port name as `http2-<some suffix>`, e.g. `http2-myport`, so Istio will know to treat it as HTTP2. See https://istio.io/docs/setup/kubernetes/spec-requirements/.

[2018-12-03 02:56] #2797 closed

[2018-12-03 03:20] clyang82 commented on #9142
@douglas-reid @kuberkaul Thanks for your answers. It is clear for me now.

[2018-12-03 03:56] #7075 closed

[2018-12-03 05:16] irisdingbj commented on #9968
THis has been fixed now. no occurrence any more.

[2018-12-03 05:16] #9968 closed

[2018-12-03 05:17] irisdingbj commented on #9864
fixed already.

[2018-12-03 05:17] #9864 closed

[2018-12-03 05:38] c-knowles opened #10236 "Duplicate labels on telemetry metric export"
**Describe the bug**
We just installed Istio 1.0.4 using the Helm chart instructions on k8s 1.11.4 and it has been running several days. We also hooked it up to Datadog metric collection using their instructions. Metrics were coming through ok for a couple of days and all of a sudden stopped. Looking into why, it appears the telemetry is returning dozens of the below error about duplicate labels.

[2018-12-03 05:56] #7501 closed

[2018-12-03 06:56] #7559 closed

[2018-12-03 06:59] hzxuzhonghu commented on #10235
Check if you deploy istio with mTLS enabled.

[2018-12-03 07:20] SrinivReddy opened #10238 "How Service Discovery will happen with ISTIO?"
How Service Discovery will happen with ISTIO?

any service discovery APIs are available to open..?

[2018-12-03 07:30] SundayCloud commented on #10235
I have removed the https gateway 443 port, and and the strange thing is that，when I send a https request On the browser，and istio ingressgateway forward the request , but the service receive a http request by checking the log, the request protocol has been changed

[2018-12-03 07:33] hzxuzhonghu commented on #10235
Would you mind pasting your configs?

[2018-12-03 07:56] #7529 closed

[2018-12-03 08:02] SundayCloud commented on #10235
I check the ingressgateway envoy config and I haven't found the point that the envoy  change the the protocol of request header.
I have a test, if the url request route won't pass by the istio envoy, and the service receive the correct protocol

this is the config info ,please check  it ,thanks.
[config.zip](https://github.com/istio/istio/files/2638517/config.zip)

[2018-12-03 08:37] lubinson commented on #8029
@vadimeisenbergibm

actually http/1.1 also has the same problem. I will try your confuration later. thanks.

[2018-12-03 08:51] c-knowles commented on #10236
I found some comments that appear to be related in https://github.com/istio/istio/issues/9043#issuecomment-441217621

[2018-12-03 08:55] hzxuzhonghu commented on #10230
You should use "github.com/gogo/protobuf/jsonpb"
 to unmarshal json to protobuf.  I remember similar issues are answered in slack.

[2018-12-03 08:56] #7142 closed

[2018-12-03 09:32] arunvg commented on #1430
+1

[2018-12-03 09:46] Nethminiromina commented on #1778
[code]

But when I am trying to install it,

[code]
How to fix this issue?

[2018-12-03 10:09] ksemba commented on #10209
@bianpengyuan if I try to delete my custom istio config (that yaml deletes the handler, rule and metric instance but not my adapter) I get the following output:

handler.config.istio.io "analytics-cloud" deleted
instance.config.istio.io "i1metric" deleted
rule.config.istio.io "rule-analytics-cloud" deleted

So it seems that all three objects are deleted. But the adapter seems to still live:

NAMES

[2018-12-03 10:13] mleneveut commented on #8076
I have the same problem, and the solution of @buckhx does not work for me.

Istio 1.0.4
Kubernetes 1.11.3 in Azure (AKS)

[code]

(If I put the 2 prefix in the same match, the website does not respond. No specific logs in ingress or pilot)

[code]

The SPA is working, but any call to https://xxx.westeurope.cloudapp.azure.com/api/yyy get a 404. I can see in the ingress logs that it wants to redirec

[2018-12-03 11:45] ksemba commented on #10209
I tried to use the original YAML file that I created when I setup my istio dev environment (copied from the istio documentation) and with that file everything started working again. I used three different file editors to edit that file over time (vi and Visual Studio under Linux and Notepad++ on Windows) and maybe that messed up the file (-format) somehow. Notepad++ shows the file format as Linux

[2018-12-03 11:56] #7602 closed

[2018-12-03 13:07] cypherfox commented on #6806
As @MarkDeckert pointed, the tone of the repsonse is even more troubling than the lack of support for proper security controls.

[2018-12-03 14:03] arnecls opened #10244 "Pilot wrongly reports endpoint_no_pod after 1.0.4 upgrade"
**Describe the bug**
After an update from istio 1.0.2 to 1.0.4 pilot (`curl http://istio-pilot.istio-system:8080/debug/push_status`) reported a lot of `endpoint_no_pod` errors.
However the reported services were definitely having pods attached that were healthy and ready.
Using `istioctl deregister` did not help as it was reporting `Could not find ip %s in svc %s endpoints [...]`.

- Restarting pi

[2018-12-03 14:07] sdake commented on #10200
@linsun did you intend to set this as a P1 for 1.1?  Since none of the telemetry code implements HTTPS, I'd consider the telemetry integration beta at best.  This seems like an optimization that could wait for 1.2...

Can you clarify on the priority?  If you indeed want it as a p1, someone needs to get cracking on a PR.

Cheers
-steve

[2018-12-03 14:21] linsun commented on #10200
@sdake sorry I had thought it is a simple fix for demo profile thus setting to P1... Now after further discussion, I realized this is not something simple.   I'm okay for 1.2.

[2018-12-03 14:51] frankbu commented on #6070
@dreadbird Although not quite as simple as if we had VirtualService delegation, you can use the feature I mentioned to reduce some of the duplication. All you need are the two inner VirtualServices but they will include the gateway host and paths.
[code]