[2017-10-16 20:18] costinm commented on #998
It's not orthogonal - how we organize dependencies is a major issue. We do
have (experimental) dep in Istio pilot -
unfortunately mixer is trickier, dep can't seem to resolve.

The real issue is that Istio doesn't check in generated artifacts, and dep
has no option to skip/ignore missing deps.
In pilot we 'hack' it by having a separate git with generate artifacts (but
it's not yet automated). If w

[2017-10-16 23:21] sdboyer commented on #998
generated artifacts, e.g., generated Go code, right? if so, yeah, that can definitely be a pain point. this was a calculated risk that we took in the design, based on guidance from [the original blog post on go generate](https://blog.golang.org/generate). however, there are some workarounds - golang/dep#1077 has more info and discussion.

yeah, it can't adaptively do this - dep's entire model is b

[2017-10-17 14:20] FuzzOli87 commented on #506
@rshriram Is the 2.7 release good to test this feature with? You mention the 2.6 release however the release notes specifically say that the talking to non-istio services is not yet part of the release.

[2017-10-17 17:07] #957 closed

[2017-10-17 18:29] vadimeisenbergibm commented on #506
@rshriram will it work with SNI https://github.com/envoyproxy/envoy/issues/1843 ?

[2017-10-18 01:54] #1112 closed

[2017-10-18 18:32] sdake opened #1174 "developer workflow is unclear about force pushing"
The workflow suggests doing a force push on each commit.  During iteration of a PR, each separate change should be submitted instead, with a squash prior to merging.  See: https://github.com/istio/istio/pull/1061#discussion_r145501354

[2017-10-18 18:57] #1060 closed

[2017-10-19 13:05] mattymo commented on #626
@ldemailly Can this doc made readable to the public?

[2017-10-19 22:10] andraxylia opened #1187 "Applying istio.yaml file times out sometimes"
Is it because the file is too big, or server too busy? Need to follow up with k8s team about what we can do to prevent this.
One way might be to split everything in smaller files under a directory called istio. kubectl apply -f istio will still work.

[2017-10-19 22:10] andraxylia commented on #1187
cc @ZackButcher

[2017-10-19 22:13] andraxylia commented on #1113
Related to #1187

[2017-10-19 22:13] andraxylia commented on #1187
Related to #1113

[2017-10-19 22:39] ldemailly commented on #1187
How is a directory different from a file with sections (---), what makes you say it will work ?

[2017-10-19 22:44] andraxylia commented on #1187
I am not saying it will work, since I do not know yet how kubectl works. Merely brainstorming, edited the initial.

[2017-10-19 23:06] yutongz commented on #1113
fyi @sebastienvas
We will switch to use yaml template in pilot and mixer to generate install yaml for istio/istio e2e, under the assumption of visual/physical mono-repo. And this also requires change on the way Prow works.

[2017-10-20 02:38] linsun commented on #1187
subscribe

[2017-10-20 11:38] sebastienvas commented on #1113
I think this aligns with https://goo.gl/v5jv1o. I am also thinking of getting rid of the updateVersion.sh all together since istio.VERSION is going away. More details once we have a global build working.

[2017-10-20 12:50] geeknoid commented on #1035
This finally seems to be working properly. Please let me know if this happens again.

@ldemailly, anytime you add a new versioned branch of the docs, we need to update robots.txt to reflect that in order avoid this issue happening again.

[2017-10-20 12:50] #1035 closed

[2017-10-20 14:09] prune998 opened #1194 "Omitting listener for management address"
I have some Kubernetes Deployment/service with Istio sidecart that are generating a lot of warnings :
[code]
At the same time I have Envoy sidecart errors too :
[code]

The deployment is pretty simple, with port 12900 (grpc) and 12901 (http), in a testing Namespace (staging).

[code]

The entrypoint in this image connect to a Kafka broker. If no Kafka broker is reachable, the application quits (an

[2017-10-20 14:27] prune998 commented on #1194
Istio 2.7, Kubernetes 1.7.8 on GKE, coreOS nodes

[2017-10-20 15:17] ldemailly commented on #1035
Ok,
Would
Disallow: /v-*
Work ?

[2017-10-20 16:25] gnirodi commented on #626
Hi Matthew,

The doc is publicly shared with the Istio community. I have additionally
shared it with you via matthew.mosesohn@gmail.com. Please let me know if
this does not work for you. You may want to join https://istio.io/community/,
that way you get access to referenced docs as well :-)

Thanks,

Gautam

On Thu, Oct 19, 2017 at 6:05 AM, Matthew Mosesohn <notifications@github.com>
wrote:

--
Ga

[2017-10-20 17:35] geeknoid commented on #1035
​Possibly. Worth trying.​

On Fri, Oct 20, 2017 at 8:17 AM, Laurent Demailly <notifications@github.com>
wrote:

[2017-10-20 19:00] yutongz opened #1196 "Cluster-wide e2e test failed in master"
Example here:
https://github.com/istio/istio/pull/1195
https://github.com/istio/istio/pull/1191

Robot merged them since this is not a required check and should we make it required for merged?

[2017-10-20 19:01] yutongz commented on #1196
/assign @costinm

[2017-10-20 21:18] thesandlord opened #1197 "Connecting to external HTTP service returns 404 - Egress Rules"
I'm was running into a strange problem where trying to connect to external HTTP services always returns a 404. I finally figured out that by default Istio blocks all Egress HTTP traffic and created the appropriate Egress rules.

The only place I can find where this is documented is here: https://istio.io/docs/tasks/traffic-management/egress.html

None of the getting started guides really mention t

[2017-10-21 20:16] hollinwilkins commented on #506
@rshriram Will get a chance to test this this week, excited to using istio for our service mesh :)

[2017-10-23 15:04] rcurran1 commented on #642
Having trouble reproducing.

Downloaded istio (git clone https://github.com/istio/istio) to two different OS systems ("Linux version 3.10.0-514.10.2.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-11)" and "Linux version 3.13.0-68-generic (buildd@lgw01-46) (gcc version 4.8.2 (Ubuntu 4.8.2-19ubuntu1) )")
Testing against tag 0.2.7 (from "git describe --tags --

[2017-10-23 23:16] douglas-reid opened #1206 "Need way to configure trace sampling"
cc: @kyessenov @louiscryan

We should support a mechanism to control trace sampling in Istio. Right now, tracing is either 100% on or it is off.

[2017-10-23 23:32] mandarjog commented on #1206
Related to https://github.com/istio/issues/issues/100

[2017-10-25 17:30] danehans commented on #626
@gnirodi thank you for the pointer to the google design doc for multi-cluster. I do not see any PR references here or in the design doc for the work that needs to be accomplished. Are there any PR's in flight? If so, can I get a pointer? I would like to start contributing, but I want to avoid duplicating efforts. It may be helpful to create a label (i.e. /area multicluster) that can be used to tra

[2017-10-25 18:11] gnirodi commented on #626
OK I've updated the design doc  http://goo.gl/AQARBs#heading=h.wgf09th1ifw0
I'll assign this issue to myself until the design is complete.
Implementation may be farmed out to various folks and I'll move assignee accordingly.

[2017-10-25 18:17] gnirodi opened #1223 "Multi-cluster capability for supporting 2 or more K8s clusters"
This requires mostly testing and documentation for the multi-k8s registry code we have.

Use cases covered: https://goo.gl/AQARBs#heading=h.myl1ds62om2j

[2017-10-25 18:29] gnirodi opened #1224 "Design Doc - Istio multi-cluster Hybrid Mesh on flat networks"
Needs review / approval by Environments working group
https://goo.gl/AQARBs

[2017-10-25 18:35] gnirodi opened #1226 "POC - Multi-zone capability with 2 K8s clusters"
Demo basic MSA functionalilty to shore up design doc

The first cut of the POC was demoed on 11/15. Feedback from this demo can be found @ https://drive.google.com/corp/drive/u/0/folders/0BzW5bSyKst8JQWtfaS1MVk1pOHc#heading=h.ofo67lrgv8g9

The 2nd cut of the POC is due for Dec 5th 2017

[2017-10-25 18:42] gnirodi opened #1227 "User documentation for Multi-zone K8s for flat networks"

[2017-10-25 18:45] gnirodi opened #1228 "Demo App / Scripts for demonstrating Multi-zone capability"

[2017-10-25 19:12] sebastienvas opened #1229 "//tests/e2e/tests/simple:go_default_test is flaky"
I keep on having to rerun the test.
Here is an example
https://storage.googleapis.com/istio-prow/pull/istio_istio/1225/e2e-suite-rbac-no_auth/1366/build-log.txt

@ldemailly  originally wrote the test but is out. @ijsnellf Could you take a look at it since you are on call.

[2017-10-25 20:14] gnirodi opened #1231 "Custom Resource Definition for local copy of the mesh configuration"
Design doc reference: https://goo.gl/AQARBs#heading=h.hldaf2qspyb7

The MSA will write this resource as a CRD on the lines of https://github.com/gnirodi/pilot/blob/hybrid-multi-cluster/bridge/istioctl/cmd/mesh-cmds.go#L327

The key difference here is that instead of istioctl creating the CRD, the MSA will create the CRD after reading relevant info from the cluster registry

[2017-10-25 22:25] spikecurtis opened #1232 "Incremental mTLS adoption"
Allows mutually authenticated TLS to be used without breaking existing services.

 * Ideally, this can be done without downtime for the services
 * Must not break the service for clients outside the Istio mesh
 * Must not break services which already use TLS (workload, not proxy originated or terminated)

[WIP Design Doc](https://docs.google.com/document/d/11WYt8cZGzPvU6JYZr8GuFBNzimfjav-Or0P0kxOw

[2017-10-25 22:30] mandarjog commented on #1206
I think it is best to sample requests one time at envoy / at the edge.

https://www.envoyproxy.io/envoy/configuration/http_conn_man/runtime.html#config-http-conn-man-runtime-random-sampling.

From then on Mixer should add spans only if the request is already traced. @douglas-reid

[2017-10-25 22:30] spikecurtis opened #1233 "Istio Native RBAC"
"batteries included" adapter that enforces Role Based Access Control (RBAC) for Istio-enabled services in the mesh.

[Design Doc](https://docs.google.com/document/d/1dKXUEOxrj4TWZKrW7fx_A-nrOdVD4tYolpjgT8DYBTY/edit)

Owner: https://github.com/liminw

[2017-10-25 22:36] spikecurtis opened #1234 "Control over Policy"
* Policy hierarchy
* Policy access controls

[Problem statement](https://docs.google.com/document/d/1AMAv75znAjVPVKxa88Zq88emGAEj6X5pM26_Y6PB7ss/edit)

[2017-10-25 22:40] spikecurtis opened #1235 "Authorization with Open Policy Agent"
Allows authorization policy for Istio-enabled services to be specified using Open Policy Agent policies written in Rego.

[Design Doc](https://docs.google.com/document/d/1U2XFmah7tYdmC5lWkk3D43VMAAQ0xkBatKmohf90ICA/edit)

[2017-10-25 22:43] douglas-reid commented on #1206
@kyessenov i believe you had a recommended set of places to open issues to get this support in all the right places for the new APIs. can you list your suggestions here?

[2017-10-25 22:52] jasminejaksic opened #1236 "Community working group meetings"

[2017-10-25 23:26] kyessenov commented on #1206
envoyproxy/data-plane-api to expose the setting away from bootstrap config (if  it's not done already) and envoy/envoy to implement the change in the api. then an issue in pilot if the repo is still going to be around.

[2017-10-26 03:49] retroryan opened #1238 "Problem with connecting to redis"
Application can not connect to redis when using named ports that route traffic through Istio.

Example application:

`https://github.com/retroryan/istio-workshop/blob/master/guestbook/`

This works:

`guestbook/deployGuestBookIstio.sh`

Delete the redis service and guestbook-ui and redeploy with broken redis service to observe the problem:

[code]

Redeploy with redis named port:

[code]

When gue

[2017-10-26 09:32] ldemailly commented on #1229
It wasn't flacky before - what changed ?

[2017-10-26 09:39] wuzhihui1123 opened #1240 "istioctl version info is not right"
see below image:
![image](https://user-images.githubusercontent.com/4246626/32046098-9a1a2bee-ba74-11e7-9f24-b70d2540cd36.png)

my istio release is : 0.2.10

---- so the problem is coming. when I apply bookinfo to kubernetes , i get the info :
![image](https://user-images.githubusercontent.com/4246626/32056889-634a613c-ba98-11e7-8f35-5a08fbf44a40.png)

docker hub :
![image](https://user-images.git

[2017-10-26 16:10] ijsnellf commented on #1229
Could just be that the network got a little flaky, or things started taking longer to spin up. The issue is that the tests fail if any of the `kubectl` commands fail, which means one random `getsockopt` will cause everything to fail. I think we just need to have some retry logic.

[2017-10-27 00:05] sakshigoel12 commented on #996
This wont lead to a new release candidate therefore moving to 0.3/

@costinm please could you update this issue with the number

[2017-10-27 00:07] sakshigoel12 commented on #686
@linsun can you check if this is complete? and close the issue

[2017-10-27 00:09] sakshigoel12 commented on #879
@douglas-reid How far are we on this? can we add an ETA

[2017-10-27 00:11] yutongz commented on #1139
/close
Close this issue since I fixed the release-0.2 branch and in the future, flat build/repo tool is going to handle dependency.

[2017-10-27 00:11] #1139 closed

[2017-10-27 01:39] linsun commented on #686
closing it as Doug has added the telemetry one and all others have FAQs now.

[2017-10-27 01:39] #686 closed

[2017-10-27 02:43] retroryan opened #1246 "Using httpHeaders in Route Rules results in an unknown field error"
Using the httpHeader examples from this doc page:

https://istio.io/v-0.1/docs/concepts/traffic-management/rules-configuration.html

Gives an error  -  unknown field "httpHeaders" in istio_proxy_v1_config.MatchCondition

For an example modifying the book sample route rule `route-rule-reviews-v3.yaml` to use httpHeader like this:

[code]

[2017-10-27 13:11] prune998 commented on #1194
same with istio 0.2.10

I had my application container changed so it won't restart when istio proxy is not yet ready, same behaviour...

[2017-10-27 16:20] ijsnellf commented on #1246
Which version of Istio are you using? In the current version of Istio the definition is somewhat different:
https://istio.io/docs/concepts/traffic-management/rules-configuration.html#qualify-rules-by-sourceheaders

[code]

[2017-10-27 16:30] gnirodi commented on #626
The doc has a reasonably outlined design criteria.
yutongz has volunteered to help flesh out the detailed design around test infrastructure. So adding him to this issue.

[2017-10-27 17:12] retroryan commented on #1246
I am using the latest version of Istio.  I tried the new format - which I think should be something like:

    request:
       headers:
         user-agent:
           exact: mobile

Istio added the rule but I don't see it getting applied when I test from curl:

For example something like:

curl http://104.198.198.111/echo/universe -A mobile

And the rule is not applied.  This same type of rule us

[2017-10-27 17:48] thesandlord commented on #1246
@retroryan I changed my config to the new format for 0.2 and it seems to work for me. If I send the header, it goes on this route, otherwise it goes on the other route. Did you set the precedence correctly?
 https://istio.io/docs/concepts/traffic-management/rules-configuration.html#rules-have-precedence

[code]

[2017-10-27 18:48] yutongz opened #1251 "Clearer signal the test phases in e2e-tests with durations in log"
Golang library to signal the following test phases: Test setup, test run and Test teardown
Min requirements: golang should log the following phases
*Setup Started
*Setup Done + time
*Run Started
*Run Completed + time
*Teardown started
*Teardown Completed + time

cc @gnirodi

[2017-10-27 18:49] yutongz commented on #1251
/assign @yutongz

[2017-10-27 19:37] retroryan commented on #1246
That works!  Thank you @thesandlord and @ijsnellf !

For the future if anyone needs a route rule for the user agent  use the following:

    request:
      headers:
        user-agent:
          exact: mobile

[2017-10-27 19:37] #1246 closed

[2017-10-27 22:32] chrishiestand commented on #467
I'd love to see "Proxy Protocol" (mentioned above with haproxy, also used by other LBs like AWS classic and TLS terminators like hitch) supported by RouteRules in `spec.match.request` or e.g. `spec.match.proxyprotocolrequest`

[2017-10-30 15:31] rcurran1 commented on #1240
Can not reproduce. Bug seems fixed on 'release' version. Reproduce steps taken:

Version: 0.2.10
GitRevision: f27f2803f59994367c1cca47467c362b1702d605
GitBranch: release-0.2
User: sebastienvas@ee792364cfc2
GolangVersion: go1.8.3

[2017-10-30 16:02] munnerz commented on #1194
I've just deployed Istio onto an alpha GKE 1.8.1 cluster with RBAC and initializers enabled. I've deployed [microservices-demo](https://github.com/microservices-demo/microservices-demo). Specifically, I've only deployed the front-end service. I'm seeing this same issue after creating just a Deployment (with a single pod) and a corresponding service:

(from Pilot):
[code]

and from the istio sideca

[2017-10-30 16:08] munnerz commented on #1194
Ah - so after removing my livenessProbe & readinessProbe from my application deployment, it seems I'm no longer getting this problem.

This is roughly in-line with this paragraph in the [quick start doc](https://istio.io/docs/setup/kubernetes/quick-start.html):

[code]

[2017-10-30 17:10] ldemailly commented on #1229
I'm back. is it still happening ?
for kubectl retries if needed - I think the retry logic should be in the e2e framework so it's done once for all tests

[2017-10-30 17:17] ldemailly commented on #459
mandar is kindly doing this as part of the reorg
(cc @kyessenov who was interested)

[2017-10-30 21:05] ldemailly opened #1276 "setup regular backups of the git repo(s)"
In case something happens to github - or someone force pushes something wrong etc...

we should have backups somewhere independently from github

cc @mandarjog @rshriram

[2017-10-30 22:45] andraxylia opened #1277 "Auth support for StatefulSets"
Currently Istio Auth does not work for StatefulSets, like those used for databases like Cassandra or Mysql. If injection is enabled cluster-wide, the pods backing the StatefulSet are injected with Envoy, but, if auth enabled, connectivity to them is lost. Example:

INFO  [HANDSHAKE-cassandra-0.cassandra/172.17.0.9] 2017-10-26 15:14:41,318 OutboundTcpConnection.java:560 - Handshaking version with c

[2017-10-30 23:34] andraxylia commented on #1277
Pilot uses Original Destination feature of Envoy https://www.envoyproxy.io/envoy/intro/arch_overview/service_discovery.html

but it does not add SSL context with SAN.

[2017-10-30 23:41] wattli commented on #1277
Currently the auth team is working on a solution for per-service auth enablement. We will let customers play with it and see if there is a strong desire to use auth for this case. And if the answer is positive, we will plan proper resource on it, probably in Q1.

[2017-10-30 23:42] wattli commented on #1277
@diemtvu who is working on per-service auth enablement

[2017-10-31 00:05] ldemailly commented on #626
side note, terminology can be confusing

we should test both
a) 1 kubernetes cluster spanning availability zones (datacenters) - a production readiness task
b) 2 kubernetes cluster (and 1 VM) in a single mesh

[2017-10-31 00:34] ldemailly commented on #642
looks like someone fixed it since
and we want to get rid of updateVersion anyway

[2017-10-31 00:34] #642 closed

[2017-10-31 00:40] ldemailly opened #1278 "wrong PROXY_TAG in istio.VERSION for release 0.2.10"
export PROXY_TAG="docker.io/istio,0.2.10"

while 0.2.7 has
export PROXY_TAG="5d544187a15e11b593e931902e2d74f8dca26ef7"

[2017-10-31 00:45] ldemailly commented on #1278
the good news (!) is it is correct in the generated yaml and in kube-inject

so only https://github.com/istio/istio/search?utf8=%E2%9C%93&q=PROXY_TAG&type=
consul/eureka may be broken

(and if the users tries to regenerate the yaml)

[2017-10-31 01:26] andraxylia commented on #1277
There integration in pilot in headless.go skip the auth case, they can be changed to use a StatefulSet instead of a Deployment. Same is applicable to bookinfo-mysql in e2e.

[2017-10-31 03:00] rshriram commented on #1277
you cannot use auth with headless services because access are made to the pods, not to the service. so, identifying the backing service is not feasible. Anything that uses orig dst service cannot use auth. Handling headless services was a special case for us. If we enforce auth, then we have to keep track of the state of a stateful set/cluster, create a listener for every destination pod as applic

[2017-10-31 04:23] andraxylia opened #1279 "Docs: Fault injection should use abort instead of timeout"
Task fault injection:
https://istio.io/docs/tasks/traffic-management/fault-injection.html

is similar with Injecting Timeouts here. they both set http timeout
https://istio.io/docs/tasks/traffic-management/request-timeouts.html

The fault injection task could instead inject an http abort to simulate a failure:
envoyproxy/envoy#219

[2017-10-31 04:39] diemtvu commented on #1277
FYI, this [PR](https://github.com/istio/pilot/pull/1665) update the headless.go test. It shows the status quo that headless service doesnot work with auth, and per-service annotation can be used to disable it (agree it's not the ideal solution but at least it's a work around for now).

[2017-10-31 12:49] #724 closed

[2017-10-31 15:34] andraxylia commented on #1277
First, I do not have a strong use-case, yet, to justify the need for using auth with StatefulSet, so if anybody has this, please comment on this issue.

You can identify the backing endpoints individually by $(statefulset name)-$(ordinal).$(service name).$(namespace).svc.cluster.local, so it is feasable. I am not so sure we would run into scale problems in a realistic deployment, this is a subset

[2017-10-31 18:18] ldemailly commented on #459
fixed now ! woot ! 10x reduction while adding pilot + mixer + auth !

[code]

[2017-10-31 18:18] #459 closed

[2017-10-31 18:59] andraxylia opened #1282 "need to cherry pick fix for istioctl fails with Error: an empty namespace may not be set during creation"
The istioctl command fails with the latest kubernetes version > 1.7.6 , because, as opposed to kubectl, it does not populate the namespace with the "default" namespace:

istioctl create -f samples/bookinfo/kube/route-rule-all-v1.yaml

This has to be cherry-picked into 0.2 release.

Lomg-term, istioctl should use the same go library as kubectl, to avoid duplicating work.

[2017-10-31 19:00] andraxylia commented on #1282
cc @xiaolanz

[2017-10-31 19:39] andraxylia commented on #1282
1.7.6

It's not a bug in k8s, it'a an extra check.

[2017-10-31 20:12] ldemailly commented on #1282
this seems to be a dup of
https://github.com/istio/pilot/issues/1472
and
https://github.com/istio/pilot/issues/1637

which @ayj fixed in https://github.com/istio/pilot/pull/1499 but that didn't make it to release-0.2 ? (or is not fully fixed?) - though I see another commit more recent https://github.com/istio/pilot/pull/1638

[2017-10-31 20:14] ldemailly commented on #1282
I can confirm that istioctl on master works fine:
[code]

[2017-10-31 20:43] xiaolanz commented on #1282
Andra, I assigned it back to you since it's fixed. Feel free to assign bugs to me if you need my help.

[2017-10-31 22:10] andraxylia commented on #1282
Great , thanks @xiaolanz
Closing this issue, since it was fixed in istio/pilot#1638. We just need a cherry-pick into 0.2.

[2017-10-31 22:10] #1282 closed

[2017-10-31 22:39] ldemailly commented on #1240
reopen if you see it again after downloading the current version/image ?

[2017-10-31 22:39] #1240 closed

[2017-11-01 03:46] rshriram commented on #1277
On Tue, Oct 31, 2017 at 11:35 AM Andra Cismaru <notifications@github.com>
wrote:

Neither. A special cluster type was created in Envoy. One that does not
require load balancing, but simply forwards the connection to the exact ip
for which the incoming request arrived. That’s what we use.

—

[2017-11-01 12:21] prune998 opened #1296 "need Egress rule to git clone using SSH"
One of my microservice is cloning an external GIT private repo. As we are using SSH keys for auth, I have to create an Egress rule of type SSH (or GIT) like :

[code]

Any idea how to support this ?

[code]
Kubernetes on GKE, version 1.7.8

[2017-11-01 14:57] prune998 commented on #1296
I wasn't able to git clone using an HTTPS url either...
I reverted using the includeIPRanges trick. it's working, but I'm losing Egress features...

I was also supprised the I had to use an `http://` request on port 443 to be able to reach an `https` website... All this sounds like bad design to me...

[2017-11-01 17:16] ldemailly commented on #407
environments tag already existed with 9 tasks so deleting the "new" one to have only one

not sure if prefixing labels with istio- inside the istio repo makes sense?

[2017-11-01 17:25] ldemailly opened #1302 "VM service TCP missing destination.service - mixer/pilot service uid/pods match"
Currently any inbound call to a TCP service on VM yields the following error in mixer:
[code]

We may want to solve this globally where mixer would stop using pods for figuring out service names

ideally a (quick) fix would be cherry picked in 0.2 (a hacky version of that is https://github.com/istio/pilot/pull/1515)

[2017-11-01 22:58] ldemailly commented on #1302
cc @sakshigoel12

[2017-11-02 00:49] mandarjog opened #1307 "Remove prometheus v.0.8 dependency from promgen.go"
`mixer/example/servicegraph/promgen/promgen.go` uses an old version (0.8) of prometheus api.
Now api version v1 is out and the rest of the code base is using that.

We should update this code to use api.v1 of prometheus and remove the old dependency.

[2017-11-02 03:19] chxchx commented on #1278
Please review
The bug is that udpateVersion.sh takes a slightly different flag on proxy to update the SHAs, where proxy does not need a hub like auth or pilot would.
[code]
The release tool was passing in a proxytag that was still in the form of <hub,tag>, which is wrong. The fault originated from this PR https://github.com/istio/test-infra/pull/519 which I LGTM-ed. Oops. It won't happen again.

[2017-11-02 11:23] jpkrohling commented on #1277
I'm still getting started with Istio and its mutual SSL auth capabilities, so, I might be getting it wrong, but I would expect a cluster of Cassandra instances to communicate with each other via a secure channel, specially for a public cloud scenario.

[2017-11-02 12:14] jpkrohling commented on #1277
By the way, this is how I'm setting it up, on a fully up-to-date Fedora 26

[code]

After a while, this can be seen on the logs for `cassandra-1`:
[code]

[2017-11-02 12:25] prune998 commented on #1194
@munnerz I'm not using Auth (mTLS) at all.
This may explain your issues, as well as a badly defined probe.

My issue is different in that whatever I deploy, I have the `collision` log every seconds, and it only ends after istio_proxy reload (shutting down parent after drain)

[2017-11-02 18:04] rshriram commented on #1296
Egress rules are currently restricted to just http traffic. @vadimeisenbergibm is working on enabling tcp/mongo/redis.
With regard to the https, I agree that its bad UX. But depending on what you want to leverage in egress, its not possible to use encrypted traffic and take advantage of routing rules as Istio has to be able to look at the headers in order to do something useful (for http). Once th

[2017-11-02 18:13] prune998 commented on #1296
I would love to live in a HTTP only world, but it's not the case. (I actually wouldn't love it anyway)
I hope the TCP ingress will cover both HTTPS and SSH...
Do you have a lot of users that are using routing rules on external (Egress) URLs anyway ? I would love to understand the use case.

Do you have any schedule or issue I could track for TCP Egress ?

Thanks for the answer.

[2017-11-03 01:31] #1307 closed

[2017-11-03 09:36] #395 closed

[2017-11-03 09:39] sebastienvas commented on #187
this will be resolved by cluster pool.

[2017-11-03 09:39] #187 closed

[2017-11-03 19:40] douglas-reid commented on #1302
It seems like there are multiple layers that need attention here. Is this tracking just the sending of `destination.service` from Envoy to Mixer?  Or is this covering the additions/modifications to the `kubernetes` adapter code for Mixer too?

I think I'd prefer to track adapter changes separately, if that makes sense to everyone involved.

[2017-11-03 19:45] ldemailly commented on #1302
happy to split into
a) short term: pilot to send the service name even for tcp
b) longer term: mixer to not use pod cache/... at all

[2017-11-03 19:50] ayj commented on #1302
/cc @qiwzhang and myself for option (a)

[2017-11-03 20:18] ldemailly commented on #1302
afaik for a) it's just changing `mixerTCPConfig` in a less hacky way than https://github.com/istio/old_pilot_repo/pull/1515/files but by actually using the service object from the parent

[2017-11-03 22:13] kyessenov opened #1356 "support istio quota config: write quota name/amount in Envoy mixer filter"
@qiwzhang commented on [Wed Sep 06 2017](https://github.com/istio/old_pilot_repo/issues/1186)

Now "RequestCount" quota is hard coded in the Envoy Mixer HTTP filter config.   Pilot needs to process istio quota config, and write quota name/amount for each metric in Envoy mixer filter.

---

@kyessenov commented on [Sat Sep 09 2017](https://github.com/istio/old_pilot_repo/issues/1186#issuecomment-32

[2017-11-03 22:15] kyessenov opened #1357 "Investigate spurious cert change events"
@ldemailly commented on [Thu Sep 14 2017](https://github.com/istio/old_pilot_repo/issues/1277)

Investigate spurious cert change events
[code]
also would be great to have a test confirming that no errors occur early at startup (that we don't show anything ready/available for serving traffic before it is actually available)

---

@ldemailly commented on [Thu Sep 14 2017](https://github.com/istio/ol

[2017-11-03 22:16] kyessenov opened #1358 "Make mixer a first class service"
@kyessenov commented on [Fri Sep 22 2017](https://github.com/istio/old_pilot_repo/issues/1338)

Pilot creates a special cluster for mixer with a CB configuration hard-coded.
We should treat mixer as another first-class service (with EDS and secure naming), and convert CB settings to a destination policy.

[2017-11-03 22:16] kyessenov opened #1359 "istio-initializer fails to initialize jobs"
@ayj commented on [Wed Oct 11 2017](https://github.com/istio/old_pilot_repo/issues/1439)

istio-initializer fails to initialize jobs. The same job can be properly initialized with `istioctl kube-inject` which suggests this is a problem with the initializer specifically and not the overall injection template.

* Steps to reproduce

[code]
The job creation will timeout. The initializer logs show tha

[2017-11-03 22:17] kyessenov opened #1360 "Use readable cluster names in stats"
@rshriram commented on [Tue Oct 24 2017](https://github.com/istio/old_pilot_repo/issues/1613)

Currently, the cluster names are using cryptic shas. This is not useful from monitoring perspective, since end users cannot decode these shas. Envoy now has the ability to use configurable cluster name lengths. (--max-obj-len). We need to use this option to start Envoy with larger max obj lengths (189 ch

[2017-11-03 22:19] kyessenov opened #1361 "destination.labels is ignored in weighted rule"
@rshriram commented on [Wed Oct 25 2017](https://github.com/istio/old_pilot_repo/issues/1625)

Weighted route rules allow using IstioService object as a way of specifying the destination (https://istio.io/docs/reference/config/traffic-rules/routing-rules.html#destinationweight). IstioService object has the notion of labels, name/namespace, etc. However, the weighted route rule (DestinationWeight o

[2017-11-03 22:19] kyessenov opened #1362 "destination.labels is ignored in weighted rule"
@rshriram commented on [Wed Oct 25 2017](https://github.com/istio/old_pilot_repo/issues/1625)

Weighted route rules allow using IstioService object as a way of specifying the destination (https://istio.io/docs/reference/config/traffic-rules/routing-rules.html#destinationweight). IstioService object has the notion of labels, name/namespace, etc. However, the weighted route rule (DestinationWeight o

[2017-11-03 22:20] kyessenov opened #1363 "istioctl kube-inject doesn't work when my pod has 2 containers"
@linsun commented on [Fri Oct 27 2017](https://github.com/istio/old_pilot_repo/issues/1640)

I'm having a 2 container pod and using `istioctl kube-inject` didn't see istio-proxy side car injected.

A simple test yaml from a tutorial (https://www.mirantis.com/blog/multi-container-pods-and-container-communication-in-kubernetes/)

[code]

[2017-11-03 22:21] kyessenov opened #1364 "Client Mutual TLS support for ingress controller"
@rshriram commented on [Mon Sep 11 2017](https://github.com/istio/old_pilot_repo/issues/1234)

Need to support users who want to enable mutual tls in ingress controller, where the client info needs to be specified via annotations- just like standard kubernetes ingress.

[2017-11-03 22:22] kyessenov opened #1365 "Transparent proxy injection into existing K8s clusters"
@andraxylia commented on [Wed Mar 15 2017](https://github.com/istio/old_pilot_repo/issues/335)

- Initial initializer deployment and configuration is merged into istio/pilot. Additional enhancements are pending review (https://github.com/istio/pilot/pull/1104).
- The feature is disabled by default in in e2e presubmit tests but can be enabled with `-use-initializer` flag to `bin/e2e.sh`. The featur

[2017-11-03 22:23] kyessenov opened #1366 "Manifest test failure reasons due to test infra failures"
@xiaolanz commented on [Mon Sep 18 2017](https://github.com/istio/old_pilot_repo/issues/1302)

modify https://github.com/istio/pilot/blob/master/test/integration/driver.go to clearly delineate if a test died because the test fails or if the test died because of infrastructure setup / teardown.

---

@kyessenov commented on [Mon Sep 18 2017](https://github.com/istio/old_pilot_repo/issues/1302#issue

[2017-11-03 22:23] kyessenov opened #1367 "nodeport support (was curl helloword service error：Recv failure: Connection reset by peer)"
@ldemailly commented on [Thu Sep 28 2017](https://github.com/istio/old_pilot_repo/issues/1370)

@hzxuzhonghu commented on [Mon Sep 11 2017](https://github.com/istio/istio/issues/744)

when create app helloword in local cluster
[code]
and I visit helloword
[code]

I curl pod ip, the same error,
then I enter container, and curl 127.0.0.1:5000/helloword it works ok. But curl podIP:5000, still recv  C

[2017-11-03 22:23] kyessenov opened #1368 "gRPC-web"
@arbarlow commented on [Mon Oct 30 2017](https://github.com/istio/old_pilot_repo/issues/1663)

As discussed in https://github.com/istio/pilot/issues/928 it would great if Pilot could enable Envoy's gPRC-web filter so that browsers can interact with backend gRPC services directly (useful for admin interfaces etc).

Also, in general, it would great to get a bit more control over Envoy config for fil

[2017-11-03 22:24] kyessenov opened #1369 "Add a script to query pilot for proxy configurations"
@baodongli commented on [Fri Oct 27 2017](https://github.com/istio/old_pilot_repo/issues/1641)

Per Istio Networking Roadmap: https://docs.google.com/document/d/1oLiEkescgAbUmv7ZsAW-W4_4g4xmrpbnOpyo6yfn06A/edit#heading=h.x9snb54sjlu9, there is a feature in the Debuggability section to introspect on Pilot. Open this issue to track the effort.

[2017-11-03 22:24] kyessenov opened #1370 "Compute Envoy config eagerly rather than on-demand"
@ZackButcher commented on [Fri Oct 27 2017](https://github.com/istio/old_pilot_repo/issues/1639)

Today Pilot implements Envoy's v1 xDS APIs, which are pull based: Envoy sends a request, we compute the config it needs (cache it), then reply to Envoy. As a result of the current implementation, we don't keep track of which Istio config was used to construct Envoy's config. This means we have poor ca

[2017-11-03 22:24] kyessenov opened #1371 "Diego BBS adapter for Pilot platform data"
@shalako commented on [Fri Oct 20 2017](https://github.com/istio/old_pilot_repo/issues/1566)

Cloud Foundry Routing team is offering to submit a PR for an adapter and runtime options to use it.

Proposal: https://docs.google.com/document/d/16SexdTBgKyhM3ebUB4eVk-lJSXwiCDdJwH3L9yShf5o/edit?usp=sharing

@cmluciano

---

@cmluciano commented on [Fri Oct 20 2017](https://github.com/istio/old_pilot_rep

[2017-11-03 22:25] kyessenov opened #1372 "Build fails on Intel for Istioctl(pilot)"
@kadamvandita commented on [Wed Oct 25 2017](https://github.com/istio/old_pilot_repo/issues/1622)

Hi ,

The pilot version used is 0.2.9 and bazel version used is 0.7.0

The pilot build fails on x86 with error ERROR: /usr/local/go/src/istio.io/pilot/tools/version/BUILD:3:1: in go_library rule //tools/version:go_default_library:
Traceback (most recent call last):
        File "/usr/local/go/src/ist

[2017-11-03 22:26] kyessenov opened #1373 "Support headless services with auth"
@kyessenov commented on [Tue Sep 12 2017](https://github.com/istio/old_pilot_repo/issues/1253)

Tracking issue to support mTLS auto-upgrade for headless services.

---

@rshriram commented on [Tue Sep 12 2017](https://github.com/istio/old_pilot_repo/issues/1253#issuecomment-328971370)

Currently auth is automatically disabled for headless services.. see #1249

[2017-11-03 22:26] kyessenov opened #1374 "Eureka adapter support for Eureka pre-v1.2.2"
@ijsnellf commented on [Mon Oct 02 2017](https://github.com/istio/old_pilot_repo/issues/1378)

We need to have additional logic to handle pre-v1.2.2 Eureka servers as pointed out here: https://github.com/istio/pilot/pull/994#pullrequestreview-56501078

See https://github.com/hudl/fargo/pull/59 for precedent in handling the differences.

We need to either add logic or switch to fargo/hudl.

[2017-11-03 22:27] kyessenov opened #1375 "istio incorrect handle of ingress backend path"
@linsun commented on [Wed Oct 04 2017](https://github.com/istio/old_pilot_repo/issues/1389)

@eigokor commented on [Wed Oct 04 2017](https://github.com/istio/issues/issues/86)

**Is this a BUG or FEATURE REQUEST?:**

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):

**Bug:**
Y

**What Version of Istio and Kub

[2017-11-03 22:27] kyessenov opened #1376 "make setup command fails on s390x system"
@kadamvandita commented on [Fri Oct 06 2017](https://github.com/istio/old_pilot_repo/issues/1405)

make setup command fails with error:

external/go1_8_3_linux_amd64/bin/go: 1: external/go1_8_3_linux_amd64/bin/go: uE@p@8: not found
external/go1_8_3_linux_amd64/bin/go: 2: external/go1_8_3_linux_amd64/bin/go: @$: not found
external/go1_8_3_linux_amd64/bin/go: 1: external/go1_8_3_linux_amd64/bin/go:E

[2017-11-03 22:27] kyessenov opened #1377 "Redirecting all ingress http traffic to https"
@charlesverdad commented on [Mon Oct 16 2017](https://github.com/istio/old_pilot_repo/issues/1512)

I am looking for a way to redirect all site visitors to the https version of my site. Something like http 301 or 302 redirect. I was told that envoy has built in support for this and we just need a way to configure that with istio.

Here's my current ingress resource for reference:
[code]
Related:
h

[2017-11-03 22:27] kyessenov opened #1378 "Relational database adapter for Pilot config store"
@shalako commented on [Thu Oct 19 2017](https://github.com/istio/old_pilot_repo/issues/1557)

Cloud Foundry Routing team is offering to submit a PR for an adapter and runtime options to use it.

Proposal: https://docs.google.com/document/d/16SexdTBgKyhM3ebUB4eVk-lJSXwiCDdJwH3L9yShf5o/edit?usp=sharing

---

@kyessenov commented on [Thu Oct 19 2017](https://github.com/istio/old_pilot_repo/issues/155

[2017-11-03 22:29] kyessenov opened #1379 "productpage shows error on product reviews: "Sorry, product reviews are currently unavailable for this book.""
@costinm commented on [Thu Oct 12 2017](https://github.com/istio/old_pilot_repo/issues/1457)

@DanielWangZhanggui commented on [Wed Oct 11 2017](https://github.com/istio/issues/issues/95)

**Is this a BUG or FEATURE REQUEST?:** Bug

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):

**Bug:**
Y

**What Version

[2017-11-03 22:29] kyessenov opened #1380 "Request Headers Route Rule with composite services does not work"
@ayj commented on [Mon Oct 16 2017](https://github.com/istio/old_pilot_repo/issues/1498)

@my3sons commented on [Sun Oct 15 2017](https://github.com/istio/issues/issues/98)

**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):
**Bug:**
Y

**What Version of Istio and Kub

[2017-11-03 22:30] kyessenov opened #1381 "Ingress with host network"
@ayj commented on [Fri Oct 13 2017](https://github.com/istio/old_pilot_repo/issues/1478)

@decker502 commented on [Thu Sep 28 2017](https://github.com/istio/istio/issues/984)

The `hostnetwork` configuration option of Deployment does not take effect, after pod started  the `80` and `443` port did not find

    apiVersion: extensions/v1beta1
    kind: Deployment
    metadata:
      name: istio-ingr

[2017-11-03 22:30] kyessenov opened #1382 "Istio injection is not working for modified Deployments."
@ayj commented on [Fri Oct 13 2017](https://github.com/istio/old_pilot_repo/issues/1477)

@emaildanwilson commented on [Fri Oct 13 2017](https://github.com/istio/istio/issues/1130)

With istio injection running with a setting of `disabled` I'm experiencing an issue where Deployments which are modified to contain `annotations:
    sidecar.istio.io/inject: "true"` do not get injected with envoy. If

[2017-11-03 22:30] kyessenov opened #1383 "Pilot discovery doesn't have retries of requests to apiserver"
@ijsnellf commented on [Wed Oct 04 2017](https://github.com/istio/old_pilot_repo/issues/1392)

Noticeable when deploying the Eureka/Consul demos. The API server takes half a second to startup, which means that pilot isn't not able to make the initial request to the apiserver.
[code]

This wouldn't be a big deal in K8S or with Nomad, since the container would restart and work the 2nd time, but you

[2017-11-03 22:31] kyessenov opened #1384 "Make one script for setting up iptables rules in all repos"
@saumoh commented on [Mon Sep 18 2017](https://github.com/istio/old_pilot_repo/issues/1300)

There are two versions of the prepare_proxy.sh script. One in istio/pilot [1] and another one in istio/proxy[2]
There should be just one such script so that all the testing and changes are managed in one place.
Opening an issue to track this requirement.
[1]: https://github.com/istio/pilot/blob/master/dock

[2017-11-03 22:31] kyessenov opened #1385 "istioctl produces unhelpful error message when using a incorrectly formatted file"
@kyessenov commented on [Tue Aug 29 2017](https://github.com/istio/old_pilot_repo/issues/1140)

@kyessenov commented on [Mon Jun 19 2017](https://github.com/istio/galley/issues/36)

@saturnism commented on [Mon Jun 19 2017](https://github.com/istio/istio/issues/420)

E.g.,

[code]

However, when you turn on verbose mode, you can see the server side error:
[code]

[2017-11-03 22:32] kyessenov opened #1387 "Ingress Status is updated with Pilot's address instead of Ingress controller's node address"
@andraxylia commented on [Fri Aug 11 2017](https://github.com/istio/old_pilot_repo/issues/1021)

Observed by debugging the Ingress Status gets updated with the node where the pilot discovery pod is scheduled, and it should be updated with the node where the ingress-controller pod is scheduled.

---

@ijsnellf commented on [Fri Aug 18 2017](https://github.com/istio/old_pilot_repo/issues/1021#issuec

[2017-11-03 22:32] kyessenov opened #1388 "Direct route to external TCP services from sidecar"
@rshriram commented on [Tue Aug 29 2017](https://github.com/istio/old_pilot_repo/issues/1126)

We need to be able to reach external HTTP(S) and TCP services via client sidecar. This requires egress rules where user specifies external domains, and ip blocks that need to be passed through -
 using the orig_dst_cluster option in Envoy.

cc @vadimeisenbergibm @saumoh @kyessenov @GregHanson

---

@ldem

[2017-11-03 22:32] kyessenov opened #1389 "Create bazel test target for prepare_proxy_test.sh"
@ayj commented on [Tue Aug 22 2017](https://github.com/istio/old_pilot_repo/issues/1095)

Create a bazel test target for [prepare_proxy_test.sh](https://github.com/istio/pilot/blob/master/docker/prepare_proxy_test.sh) to avoid regressions in sidecar iptable rules programming.

[2017-11-03 22:33] kyessenov opened #1390 "non-transparent proxy support"
@rshriram commented on [Tue Aug 29 2017](https://github.com/istio/old_pilot_repo/issues/1129)

Allow folks to run envoy without the iptables interception.
1. Requires fixed inbound and outbound port (cluster wide) for HTTP services (partly solved via HTTP_PROXY support)
2. a startup flag in pilot that generates appropriate envoy configs
3. real listeners in the outbound path for tcp services
4. om

[2017-11-03 22:33] kyessenov opened #1391 "Check that artifacts and image already exist before pushing them"
@sebastienvas commented on [Sat Aug 26 2017](https://github.com/istio/old_pilot_repo/issues/1109)

This apply to docker and istioctl. We should not attempt to push an image if it already exists. If possible prevent build as well

---

@sebastienvas commented on [Tue Aug 29 2017](https://github.com/istio/old_pilot_repo/issues/1109#issuecomment-325747946)

This was not the reason of the issue. This

[2017-11-03 22:33] kyessenov opened #1392 "Stale Ingress certificates after Ingress resource is deleted"
@andraxylia commented on [Fri Aug 11 2017](https://github.com/istio/old_pilot_repo/issues/1020)

Certifs are still there after resource is deleted:

$ kubectl exec istio-ingress-1709403620-m1czk -n istio12 -- ls /etc/istio/ingress-certs
tls.crt
tls.key

---

@rshriram commented on [Wed Oct 11 2017](https://github.com/istio/old_pilot_repo/issues/1020#issuecomment-335967548)

close if no longer vali

[2017-11-03 22:34] kyessenov opened #1393 "Decouple proxy from pilot agent"
@andraxylia commented on [Fri Jul 28 2017](https://github.com/istio/old_pilot_repo/issues/968)

Right now, proxy and agent are bundled in the same container. Their lifecycle cannot be controller by k8s native, it's the agent controlling the proxy process, and it's flaky.

Proxy should be the same container in ingress, sidecar or middle proxy.

This will also simplify the build.

---

@kyessenov co

[2017-11-03 22:34] kyessenov opened #1394 ""istioctl kube-inject -f -" JSON support has inconsistent behavior than kubectl"
@kilianc commented on [Sat Aug 26 2017](https://github.com/istio/old_pilot_repo/issues/1108)

given:

[code]

I get : `Error: error converting YAML to JSON: yaml: line 9: did not find expected <document start>`
while it works in `kubectl`.

Strange enough, if I add `---` in between documents it will work for `istioctl` and fail for `kubectl`.

---

@gyliu513 commented on [Mon Aug 28 2017](https://

[2017-11-03 22:34] kyessenov opened #1395 "Need finer-grain logs on pilot, from 1-4"
@andraxylia commented on [Mon Aug 14 2017](https://github.com/istio/old_pilot_repo/issues/1028)

Envoy debug is turned on on pilot log 3, and generates lots of logs.
We need finer-grain logs on pilot, from 1-4, and turn envoy debug on for logs on 5.

[2017-11-03 22:35] kyessenov opened #1396 "ability to change envoy configuration without istio code change/release"
@ldemailly commented on [Fri Jun 16 2017](https://github.com/istio/old_pilot_repo/issues/883)

there should be an optional "merge" or "patch" or externalized template so people can tweak the resulting envoy configs

ps: it does mean they can also break istio but that's not a reason to have it completely locked down and hardcoded like now

---

@rshriram commented on [Fri Jun 16 2017](https://githu

[2017-11-03 22:36] kyessenov opened #1397 "Add model.ConfigStore as a parameter to validate methods"
@vadimeisenbergibm commented on [Wed Aug 16 2017](https://github.com/istio/old_pilot_repo/issues/1043)

Currently, model Validate methods receive proto messages for validation. They validate the message only, without a possibility to verify that the new message does not interfere with other messages in the configuration. The current use case - to verify that two egress-rules do not have a same dom

[2017-11-03 22:36] kyessenov opened #1398 "Add tests to validate deterministic configuration"
@kyessenov commented on [Mon Aug 14 2017](https://github.com/istio/old_pilot_repo/issues/1026)

Config generation normalizes the final config from randomized sources to improve caching and reduce re-configuration events. We should add tests to make sure config generation removes randomness from sources.

[2017-11-03 22:36] kyessenov opened #1399 "define typed error conditions for the config store"
@kyessenov commented on [Mon Jun 19 2017](https://github.com/istio/old_pilot_repo/issues/888)

[2017-11-03 22:36] kyessenov opened #1400 "define error conditions for config model"
@kyessenov commented on [Mon Jun 19 2017](https://github.com/istio/old_pilot_repo/issues/887)

[2017-11-03 22:37] kyessenov opened #1401 "e2e checkLogs in mixer unreliable in minikube"
@andraxylia commented on [Mon Aug 21 2017](https://github.com/istio/old_pilot_repo/issues/1088)

Pilot e2e checkLogs check for the existence of a request ID in mixer logs.

I have seen mixer logs rotate in minikube, it seems rotation is enabled by default:

https://github.com/kubernetes/minikube/issues/830

The VM has something like this:
https://stackoverflow.com/questions/39021832/kubernetes-how

[2017-11-03 22:37] kyessenov opened #1402 "k8s svc vip integration (istio init/iptables and kube proxy (node proxy or other))"
@ldemailly commented on [Thu Jun 29 2017](https://github.com/istio/old_pilot_repo/issues/905)

Today istio bypasses and re implements the k8s svc vip->pod translation through the side car injection

consider integrating at the svc vip -> pod k8s level (for kubernetes env)

was:
integrate kube-proxy and istio init

it seems odd to have 2 layers of iptables and 2 components attempting the same task

[2017-11-03 22:37] kyessenov opened #1403 "Tracing: sampling and configuration"
@kyessenov commented on [Mon May 22 2017](https://github.com/istio/old_pilot_repo/issues/808)

It seems that we might be over-sampling the tracing data, especially the health probes.
We should expose the configuration to sample and filter certain traces.

---

@kyessenov commented on [Mon May 22 2017](https://github.com/istio/old_pilot_repo/issues/808#issuecomment-303252162)

ref https://github.co

[2017-11-03 22:38] kyessenov opened #1404 "Adding Probes to sidecars"
@kameshsampath commented on [Wed Jul 05 2017](https://github.com/istio/old_pilot_repo/issues/908)

I see right now the sidecars does not have liveliness and readiness probes attached to them, sometime when i restart the servers e.g. minikube the apps immediately shows its Running 2/2 but when the apps tries to connect it shows connection refused ...  the `kubectl describe <pod>` shows that its try

[2017-11-03 22:38] kyessenov opened #1406 "Add config dump from pilot"
@kyessenov commented on [Thu Sep 07 2017](https://github.com/istio/old_pilot_repo/issues/1196)

Need to add dumps from all xDS endpoints for troubleshooting errors. Amounts to enumerating service nodes and returning configs for each node.
Should also include service model dump.

[2017-11-03 22:38] kyessenov opened #1407 "redis is inaccessible"
@kyessenov commented on [Thu Aug 17 2017](https://github.com/istio/old_pilot_repo/issues/1055)

A basic redis service appears to be inaccessible:
[code]

---

@sakshigoel12 commented on [Fri Aug 18 2017](https://github.com/istio/old_pilot_repo/issues/1055#issuecomment-323488254)

Please add assignees

---

@ijsnellf commented on [Mon Aug 21 2017](https://github.com/istio/old_pilot_repo/issues/1055

[2017-11-03 22:38] kyessenov opened #1408 "Envoy crashes with assertion failure and does not restart"
@esnible commented on [Wed Jun 14 2017](https://github.com/istio/old_pilot_repo/issues/869)

This one is difficult to reproduce because it is timing dependent.  The symptom is that /productpage returns HTTP 200 before a rule update but returns 503 forever after the update.

**It occurs using gcr.io/istio-testing/proxy_debug:8a9b2576ce82b84d38a6fd5c2dd8105ff3779f95** .  Using the 0.1.5 version on A

[2017-11-03 22:39] kyessenov opened #1409 "Extend cluster ingress to TCP services"
@kyessenov commented on [Fri Jul 28 2017](https://github.com/istio/old_pilot_repo/issues/969)

Currently, cluster ingress is entirely HTTP based (in line with k8s notion of ingress).
There's extra benefit of having dedicated TCP proxy ingress in Istio:
- reuse IP for multiple services using port redirection (contrast with LoadBalancer type service which requires a fresh external IP address)
- enfo

[2017-11-03 22:40] kyessenov opened #1410 "Add routing external traffic to pilot according to egress rules"
@vadimeisenbergibm commented on [Wed Aug 16 2017](https://github.com/istio/old_pilot_repo/issues/1044)

Part of https://github.com/istio/istio/issues/496

[2017-11-03 22:40] kyessenov opened #1411 "Eliminate hardcoded exceptions for `kube-system` or make it optional"
@kyessenov commented on [Tue Aug 29 2017](https://github.com/istio/old_pilot_repo/issues/1133)

Currently, the service controller is excluding kube-system without a way to change it. This will cause problems when istio runs in kube-system.
See https://github.com/istio/pilot/commit/720d751f5a82dcd746e3b36d8dadee96647c1d17#diff-9b493b4288200b30b3d0953052d6abdaR425

---

@ldemailly commented on [Tue

[2017-11-03 22:40] kyessenov opened #1412 "Proxy fail open on Mixer internal error: configure network_fail_open option"
@mandarjog commented on [Thu Aug 17 2017](https://github.com/istio/old_pilot_repo/issues/1053)

This is a follow up to https://github.com/istio/proxy/issues/409.

After the mixer client change, the default is to fail open on a 500 from Mixer.
A check option `network_fail_open` should be added to filter config.

Related mixerclient PR: https://github.com/istio/mixerclient/pull/96

---

@mandarjog c

[2017-11-03 22:40] kyessenov opened #1413 "Secure local connection between proxy and app"
@wattli commented on [Fri May 12 2017](https://github.com/istio/old_pilot_repo/issues/747)

When we use "kubectl port-forward" to forward traffic from local port to pod, we can use

curl http://127.0.0.1:[port#]

to access pod from local desktop. However, this request will bypass envoy and hit the service directly, which produces a security hole (istio auth does not work in this case).

This is so

[2017-11-03 22:41] kyessenov opened #1414 "Ingress controller: faults not supported"
@kyessenov commented on [Thu May 11 2017](https://github.com/istio/old_pilot_repo/issues/731)

Issue #723
This is because fault filter is not injected into the envoy config. Long run, we should use opaque config for the fault filter, short term, might have to restart the ingress proxy.

---

@rshriram commented on [Thu May 11 2017](https://github.com/istio/old_pilot_repo/issues/731#issuecomment-30

[2017-11-03 22:41] kyessenov opened #1415 "HTTP<->GRPC transcoding"
@kyessenov commented on [Thu Jul 13 2017](https://github.com/istio/old_pilot_repo/issues/928)

@lizan what needs to be configured to support GRPC transcoding in Istio?
Do we want to expose a new port for HTTP for GRPC services or GRPC endpoint for HTTP services? How do we provide API specification to Envoy and in what form?

---

@lizan commented on [Thu Jul 13 2017](https://github.com/istio/old_p

[2017-11-03 22:41] kyessenov opened #1416 "Ingress resource: allow URI regexes"
@kyessenov commented on [Thu May 11 2017](https://github.com/istio/old_pilot_repo/issues/730)

Requires merging header match conditions to combine with the in-cluster route rules.

---

@rshriram commented on [Thu May 11 2017](https://github.com/istio/old_pilot_repo/issues/730#issuecomment-300978333)

not sure if this will work as order of URI matches remains undefined when you have a list of rege

[2017-11-03 22:42] kyessenov opened #1417 "Add resource lower bounds to sidecar proxy container"
@kyessenov commented on [Thu Apr 27 2017](https://github.com/istio/old_pilot_repo/issues/608)

Need to add lower bounds. Since the proxy agent is a go program that runs a bunch of watchers, we may need more RAM than k8s may choose to give to us.

---

@costinm commented on [Fri Apr 28 2017](https://github.com/istio/old_pilot_repo/issues/608#issuecomment-298048887)

I did a bit more research into t

[2017-11-03 22:42] kyessenov opened #1418 "Add sidecar initializer option to customize injected sidecar per deployment"
@ayj commented on [Fri Aug 18 2017](https://github.com/istio/old_pilot_repo/issues/1061)

cc @costinm

For example, customizing the injected sidecar image per deployment would look something like the following. The initializer would look for this annotation during injection and override the default sidecar image. The initializer may need additional policy to allow/disallow such customization to av

[2017-11-03 22:42] kyessenov opened #1419 "Include root CA file for outgoing HTTPS requests"
@kyessenov commented on [Mon Apr 17 2017](https://github.com/istio/old_pilot_repo/issues/548)

Now that proxies can make HTTPS requests outside the cluster, we need to include a collection of root CAs for the root of trust. We can use the standard debian package and wire a reference to it to `envoy`.

---

@rshriram commented on [Tue Apr 18 2017](https://github.com/istio/old_pilot_repo/issues/548#

[2017-11-03 22:43] kyessenov opened #1420 "Hybrid secured services with plaintext ports"
@kyessenov commented on [Mon Apr 17 2017](https://github.com/istio/old_pilot_repo/issues/551)

To allow exceptions to Istio Auth, we need to allow listing additional ports to use for plaintext communication. This needs to be configured either per service or per individual service port. This mechanism would be the preferred option for services willing to opt out from Istio Auth when the global flag

[2017-11-03 22:43] kyessenov opened #1421 "Improve e2e test infrastructure"
@kyessenov commented on [Thu Apr 13 2017](https://github.com/istio/old_pilot_repo/issues/533)

The integration test framework has served well but we're at the limits of what it can do. Here is the call to identify any gaps in the e2e test coverage so that we can set the goals towards building a more robust test framework. Feel free to edit this issue and add more items or mark the completed items.

[2017-11-03 22:43] kyessenov opened #1422 "need to not break non istio traffic (and be able to selectively intercept or not some services/namespaces/pods/...)"
@ldemailly commented on [Thu Aug 10 2017](https://github.com/istio/old_pilot_repo/issues/1015)

Edit:

When auth is enabled the following doesn't work:

- [ ] outcalls to system services (k8 api server)
- [ ] outcalls to non injected services
- [ ] https in/out calls shouldn't be double TLSed by default (unless the user really wants to), in particular https outcalls shouldn't be touched (would sol

[2017-11-03 22:44] kyessenov opened #1423 "Duplicate endpoint ports in a service break configuration generation"
@kyessenov commented on [Tue Apr 11 2017](https://github.com/istio/old_pilot_repo/issues/501)

Kubernetes allows services with duplicate service ports for the same pod ports. This causes issues with configuration generation since we cannot infer back the original service port. For example, if a service A declares two ports 80 and 81 that both point to 8080 on the pods, then traffic is captured by

[2017-11-03 22:44] kyessenov opened #1424 "Ingress controller: SNI support"
@zcahana commented on [Sun Apr 09 2017](https://github.com/istio/old_pilot_repo/issues/484)

[Ingress spec](https://kubernetes.io/docs/api-reference/v1.6/#ingressspec-v1beta1-extensions) allows for per-host TLS cert/key, which needs to be served on a single port.
Implementation depends on Envoy to support SNI, which is track in lyft/envoy#95.

[2017-11-03 22:44] kyessenov opened #1425 "Envoy active health checks"
@kyessenov commented on [Tue Feb 28 2017](https://github.com/istio/old_pilot_repo/issues/233)

Envoy provides health checking functionality. We need to be careful how it integrates with the platform health checking. Notably, Envoy does not remove hosts absent from SDS that are still healthy.

Alpha will not utilize active health checks, so this is aimed for post-alpha.

---

@rshriram commented on

[2017-11-03 22:45] kyessenov opened #1426 "Support sharing between TCP and HTTP services"
@ayj commented on [Tue Feb 28 2017](https://github.com/istio/old_pilot_repo/issues/237)

Envoy currently doesn't support using both `tcp_proxy` and `http_connection_manager` filter on the same port for different services. Support for this features requires updating envoy tcp_proxy filter to be optionally non-terminal and fallback to other filters (e.g. HTTP) on the same port. The workaround for th

[2017-11-03 22:46] kyessenov opened #1427 "Manager and proxy mesh self-monitoring"
@kyessenov commented on [Wed Jan 25 2017](https://github.com/istio/old_pilot_repo/issues/59)

This is a tracking issue to investigate mechanisms for self-monitoring in Manager and Proxies.
We would like to monitor health of manager service, proxies, proxy agents, completion of config reloads across Istio deployment in a consistent way.

Potential options to explore:
- align with Mixer to trigger a

[2017-11-03 22:46] kyessenov opened #1428 "iptables rules interference"
@kyessenov commented on [Tue Feb 21 2017](https://github.com/istio/old_pilot_repo/issues/182)

This is something that is inevitably going to pop up: how do we deal with multiple sidecars operating on iptables rules. At the very least, we should document how we can exclude traffic per port or per container/process from istio proxy traffic capture. For per node set-up, dealing with kube-proxy iptabl

[2017-11-03 22:48] kyessenov opened #1429 "Performance targets"
@kyessenov commented on [Mon Mar 13 2017](https://github.com/istio/old_pilot_repo/issues/309)

Since we've got more load on RDS, I want to make sure the service can handle the load or at least get some guidelines of how many replicas we might need.

We need to set expectations for:
1. number of route rules, rules per service, policies, policies per service.
2. frequency of changes, extent of chang

[2017-11-03 22:48] kyessenov opened #1430 "UDP support"
@kyessenov commented on [Thu Jan 26 2017](https://github.com/istio/old_pilot_repo/issues/62)

Proxy manager should be in charge of routing UDP traffic. There are many pieces needed for this to work:
* Envoy UDP routing support
* IP tables rules to trap UDP traffic
* Code to handle UDP protocol in the Manager services model

---

@rshriram commented on [Thu Jan 26 2017](https://github.com/istio/old

[2017-11-03 22:48] kyessenov opened #1431 "Platform support for CloudFoundry"
@rshriram commented on [Wed Mar 15 2017](https://github.com/istio/old_pilot_repo/issues/333)

Need to support running the manager/mixer in a cloud foundry environment, where the sidecar runs alongside the app in the same CF container. This would imply that we can no longer use iptable rules to capture all traffic (sidecar might not be transparent).

The config generation for this platform would be

[2017-11-03 22:49] kyessenov opened #1432 "Istio generic service registry based on Etcd"
@andraxylia commented on [Thu Jun 01 2017](https://github.com/istio/old_pilot_repo/issues/824)

---

@rshriram commented on [Tue Jun 27 2017](https://github.com/istio/old_pilot_repo/issues/824#issuecomment-311390173)

For VM/CF environments with no service registry solution in place, it would be beneficial to provide a simple service registry implementation based on Etcd backend. The idea is not t

[2017-11-03 22:49] kyessenov opened #1433 "Mixer-driven routing (was: Support for session affinity based routing)"
@cosminilie commented on [Wed May 17 2017](https://github.com/istio/old_pilot_repo/issues/769)

Hello,

I'm not sure if this is the best place to raise the issue (or feature request) but anyway i wanted to know if you support/or plan supporting routing based on session affinity. Our use case is a bit messy  since we have a big monolith application with some microservices. Basically we're striping

[2017-11-03 22:49] kyessenov opened #1434 "Force better decoupling of manager components"
@ayj commented on [Wed May 31 2017](https://github.com/istio/old_pilot_repo/issues/821)

The istio/manager repo includes many components that share code. This is advantageous for code-reuse but introduces possibility of unnecessary tight coupling between components at the wrong abstraction level. It would be good to enforce stricter decoupling between these components and make the API integration

[2017-11-03 22:49] kyessenov opened #1435 "Determine correct securityContext for the init container"
@cmluciano commented on [Thu Aug 03 2017](https://github.com/istio/old_pilot_repo/issues/983)

As a followup to #921 & #922 we should determine the exact permissions that the init container needs to function under systems like SELINUX. Since we strive to increase security for others, we should focus on these fine-grained details as well.

We currently add ```"securityContext":{"capabilities":{"add

[2017-11-03 22:50] kyessenov opened #1436 "unstable pod IP"
@kyessenov commented on [Tue Aug 01 2017](https://github.com/istio/old_pilot_repo/issues/977)

pod IP are an unreliable identity for pods since they can change during pod lifetime.

---

@rshriram commented on [Tue Aug 01 2017](https://github.com/istio/old_pilot_repo/issues/977#issuecomment-319525870)

Can you reproduce this ?
On Tue, Aug 1, 2017 at 7:32 PM Kuat <notifications@github.com> wrote:

[2017-11-03 22:50] kyessenov opened #1437 "istioctl replace an existing rule causes a 404 reponse"
@maruina commented on [Wed Jul 12 2017](https://github.com/istio/old_pilot_repo/issues/926)

Hello, I noticed that when I'm updating the istio pilot rules while serving traffic, sometimes I get back a 404 from envoy.

I have a service with 3 different backends (`istioctl kube-inject` omitted)
[code]
an ingress
[code]
and a default istio traffic rule
[code]

I have a Python script that opens a requ

[2017-11-03 22:50] kyessenov opened #1438 "Bypass ingress proxy for in-cluster routes to ingress"
@kyessenov commented on [Mon May 22 2017](https://github.com/istio/old_pilot_repo/issues/805)

There is an evolving pattern to use a single proxy endpoint for all routing (e.g. ambassador, apigee), which can act as an advanced ingress proxy. With the current design, there would be 3 network hops (client sidecar, ingress, server sidecar). We can bypass the ingress proxy on the request path from the

[2017-11-03 22:50] mandarjog opened #1439 "Pilot linter errors"
[code]

[2017-11-03 22:50] kyessenov opened #1440 "Auto figure out includeIPRanges by default"
@ldemailly commented on [Thu Jun 29 2017](https://github.com/istio/old_pilot_repo/issues/903)

By default we should only intercept cluster traffic (or even istio managed services traffic)

We shouldn't need complex manual steps like
https://istio.io/docs/tasks/egress.html#calling-external-services-directly
for apps to continue to work with external services

A clean (k8s api driven) solution depen

[2017-11-03 22:51] kyessenov opened #1441 "Support k8s app protocols alpha annotation"
@kyessenov commented on [Tue Jul 25 2017](https://github.com/istio/old_pilot_repo/issues/957)

k8s GCE ingress supports a new annotation to clarify the port protocols, e.g.
`service.alpha.kubernetes.io/app-protocols: {"my-aport":"HTTPS","my-bport":"HTTP"}`
(defined https://github.com/kubernetes/ingress/blob/103d082d89e23ce61f895b77be81210ec6406f6a/controllers/gce/controller/utils.go#L69-L73)

We s

[2017-11-03 22:51] kyessenov opened #1442 "Need API be override instance weights and tags"
@rshriram commented on [Fri May 19 2017](https://github.com/istio/old_pilot_repo/issues/798)

Envoy supports weighted routing within a cluster as well. We need to expose an API to allow users to set such weights as well as add additional tags to the instances through an API. There are use cases where the tags attached to a pod change frequently and a single pod can host multiple different tags (10

[2017-11-03 22:51] kyessenov opened #1443 "Need API be override instance weights and tags"
@rshriram commented on [Fri May 19 2017](https://github.com/istio/old_pilot_repo/issues/798)

Envoy supports weighted routing within a cluster as well. We need to expose an API to allow users to set such weights as well as add additional tags to the instances through an API. There are use cases where the tags attached to a pod change frequently and a single pod can host multiple different tags (10

[2017-11-03 22:51] kyessenov opened #1444 "Make zone aware load balancing configurable."
@liamawhite commented on [Thu Jul 27 2017](https://github.com/istio/old_pilot_repo/issues/962)

Enable users to configure `upstream.zone_routing.enabled` and `upstream.zone_routing.min_cluster_size`.

Currently these are only runtime setting, but we have raised an issue against envoy in order to get them configured as config file settings. See [this](https://github.com/lyft/envoy/issues/1344) issu

[2017-11-03 22:51] kyessenov opened #1445 "routeconfig for http(s)- named ports"
@akshaychitneni commented on [Fri Aug 04 2017](https://github.com/istio/old_pilot_repo/issues/992)

I am trying to see if communication with podIP works between replica containers in a single deployment with istio. I see the following issue with http named ports.
For communication with podIP, when I use http- named ports, istio proxy uses httpproxy to filter requests. This is using envoy rds api t

[2017-11-03 22:52] mandarjog opened #1446 "Istio-security linter errors"
[code]

[2017-11-03 22:52] kyessenov opened #1447 "add some tools to pilot image"
@andraxylia commented on [Mon Aug 28 2017](https://github.com/istio/old_pilot_repo/issues/1124)

Pilot image has nothing, some tools like ps, ls, etc are useful and do not take so much space.

[2017-11-03 22:52] kyessenov opened #1448 "UX: istioctl register needs documentation for labels/annotations behavior"
@rshriram commented on [Tue Aug 29 2017](https://github.com/istio/old_pilot_repo/issues/1125)

Kubernetes endpoints objects do not support labels.

`istioctl register svc ip port -l foo:bar` conveys the impression that labels are per endpoint, which is not true. Users need to be made aware that labels are per service and that they need to make sure all invocations of istioctl for the same service

[2017-11-03 22:52] kyessenov opened #1449 "Add watchers for mesh configmap"
@rshriram commented on [Wed Aug 30 2017](https://github.com/istio/old_pilot_repo/issues/1143)

Istio has a global config map that enables/disables mixer, auth, tracing. We need to watch the global mesh configmap for changes. Users adopting istio incrementally (which is the case in production) will not want to bring down all of istio just to enable mixer or auth or tracing in the mesh configmap. If

[2017-11-03 22:52] kyessenov opened #1450 "Derivation of core mixer attributes"
@kyessenov commented on [Wed Aug 30 2017](https://github.com/istio/old_pilot_repo/issues/1147)

Follow-up from an offline discussion:
Currently, Mixer is trusted to derive the majority of core Istio attributes (`source.*` and `destination.*`) from the identity of the proxy/app instance (called `source.uid` and `destination.uid`). There's nothing in principle preventing us to perform this derivatio

[2017-11-03 22:53] kyessenov opened #1451 "upgrade google GRPC lib we use"
@andraxylia commented on [Fri Sep 01 2017](https://github.com/istio/old_pilot_repo/issues/1167)

Currently we are stuck with grpc 1.2.1, because the grpc > 1.5 is not compatible with gogo.

Find a way to upgarde to newer grpc, get it to support gogo or drop gogo.

go_repository(
    name = "org_golang_google_grpc",
    commit = "8050b9cbc271307e5a716a9d782803d09b0d6f2d",  # v1.2.1
    importpath =

[2017-11-03 22:53] kyessenov opened #1452 "Pilot need to generate the list of pod ips for mixer for envoy"
@ldemailly commented on [Fri Sep 08 2017](https://github.com/istio/old_pilot_repo/issues/1218)

Pilot need to generate the list of pod ips for mixer for envoy:

As far as I know envoy uses the (service) clusterIP to reach mixer, instead it should do the cluster->podIP translation we do for regular services

cc @kyessenov who says it's already there and @costinm (and I) who need it for rawvm and wo

[2017-11-03 22:53] mandarjog opened #1453 "broker linter errors"
Please fix these errors so that linter can start enforcing again.
[code]

[2017-11-03 22:53] kyessenov opened #1454 "Integration test coverage in 0.2.x"
@rshriram commented on [Mon Sep 11 2017](https://github.com/istio/old_pilot_repo/issues/1232)

The following features are not covered by Pilot's integration tests. Need to fix this in the coming weeks to improve test coverage
- [ ] Mongodb/redis filters (@rshriram)
- [x] Egress rules (@rshriram, @vadimeisenbergibm, @elevran  )
- [ ] Consul ( @GregHanson )
- [x] Eureka ( @ijsnellf )

(modified by @

[2017-11-03 22:53] kyessenov opened #1455 "Improve code coverage to ~90%"
@rshriram commented on [Mon Sep 11 2017](https://github.com/istio/old_pilot_repo/issues/1233)

Our code coverage is at 70%. Need unit tests to increase code coverage to 95%.
Lets track all PRs related to this issue here.

---

@rshriram commented on [Mon Sep 11 2017](https://github.com/istio/old_pilot_repo/issues/1233#issuecomment-328515547)

PTAL at this for details: https://codecov.io/gh/istio/p

[2017-11-03 22:53] kyessenov opened #1456 "Need an easy way to tell if auth is enabled or not"
@andraxylia commented on [Tue Sep 19 2017](https://github.com/istio/old_pilot_repo/issues/1320)

Need to understand if pilot picked up the auth enabled and proxy will encrypt traffic.

Current suggested way was to query RDS, but this is cumbersome.

---

@wattli commented on [Wed Sep 20 2017](https://github.com/istio/old_pilot_repo/issues/1320#issuecomment-330922848)

The easiest way is to check p

[2017-11-03 22:54] kyessenov opened #1457 "Ingress only gets IP when it is in the istio-system namespace"
@ijsnellf commented on [Wed Sep 27 2017](https://github.com/istio/old_pilot_repo/issues/1367)

The ingress status syncer tries to grab the IP from `<discovery namespace>/<ingress service>`. We watch for ingress definitions in either all namespaces, or a given user namespace.

---

@ijsnellf commented on [Thu Sep 28 2017](https://github.com/istio/old_pilot_repo/issues/1367#issuecomment-332861248)

[2017-11-03 22:54] kyessenov opened #1458 "Return trace span ID in a header"
@kyessenov commented on [Mon Oct 09 2017](https://github.com/istio/old_pilot_repo/issues/1423)

[2017-11-03 22:54] kyessenov opened #1459 "Istio working on two different services backed by the same workload (e.g. pod)"
@kyessenov commented on [Tue Sep 12 2017](https://github.com/istio/old_pilot_repo/issues/1250)

This seems to cause problems: service `store` with `app:store` and service `store-np` with `app:store version:v1`

---

@rshriram commented on [Tue Sep 12 2017](https://github.com/istio/old_pilot_repo/issues/1250#issuecomment-329011620)

Why ? These are distinct services right?

---

@kyessenov commente

[2017-11-03 22:54] kyessenov opened #1460 "Namespace annotation for sidecar injection"
@andraxylia commented on [Thu Oct 12 2017](https://github.com/istio/old_pilot_repo/issues/1463)

Need to support annotation for sidecar.istio.io/inject for namespaces, similar to the one for workload, but higher precedence. IncludedNamespaces/ExcludedNamespaces are not under the control of the regular user.

https://istio.io/docs/setup/kubernetes/sidecar-injection.html#configuration-options

Moreo

[2017-11-03 22:55] kyessenov opened #1461 "SimpleLBPolicy has no effect?"
@kyessenov commented on [Thu Aug 17 2017](https://github.com/istio/old_pilot_repo/issues/1054)

@fleeto commented on [Tue Aug 01 2017](https://github.com/istio/istio/issues/522)

I'm trying to eject a pod which will return a status code of 500.

There are 4 pods in the deployment, 3 of them will return 500, the other 1 will return 200.

I'd create the default route-rule for a service named "svc-fr

[2017-11-03 22:55] kyessenov opened #1462 "requests looping back through envoy repeatedly"
@kyessenov commented on [Tue Aug 01 2017](https://github.com/istio/old_pilot_repo/issues/978)

`"GET /b HTTP/1.1" 431 - 0 0 67 67 "-" "Go-http-client/1.1" "55548f90-2a21-9840-80fb-9672123adad6" "b.istio-test-fb9t4:8080" "10.60.7.124:8080"` indicates that the request may be looping back through envoy and exceed trace/xff header limits

---

@ldemailly commented on [Tue Aug 15 2017](https://github.c

[2017-11-03 22:55] kyessenov opened #1463 "Tests :Sidecar injection with mutating webhooks"
@andraxylia commented on [Fri Oct 13 2017](https://github.com/istio/old_pilot_repo/issues/1475)

---

@ayj commented on [Tue Oct 17 2017](https://github.com/istio/old_pilot_repo/issues/1475#issuecomment-337337450)

/fyi @linsun @gyliu513

---

@cmluciano commented on [Mon Oct 30 2017](https://github.com/istio/old_pilot_repo/issues/1475#issuecomment-340574136)

/assign

I will be helping with this

[2017-11-03 22:56] kyessenov opened #1464 "Sidecar injection with mutating webhooks"
@andraxylia commented on [Fri Oct 13 2017](https://github.com/istio/old_pilot_repo/issues/1474)

---

@ayj commented on [Tue Oct 17 2017](https://github.com/istio/old_pilot_repo/issues/1474#issuecomment-337326673)

Initializers will not be beta in k8s 1.9. Instead the k8s API machinary SIG's plan is to push mutating webhooks to beta in 1.9. The automatic sidecar injection feature should use these

[2017-11-03 22:56] kyessenov opened #1465 "Sidecar injection with mutating webhooks"
Initializers will not be beta in k8s 1.9. Instead the k8s API machinary SIG's plan is to push mutating webhooks to beta in 1.9. The automatic sidecar injection feature should use these mutating webhooks instead of the initializer mechanism.

Ref https://groups.google.com/forum/#!topic/kubernetes-sig-api-machinery/OTApxKFiGt8

- [x] Update k8s.io/client-go to 1.9 - https://github.com/istio/istio/is

[2017-11-03 22:56] kyessenov opened #1466 "Incomplete tests: Eureka service registry"
@andraxylia commented on [Thu Oct 12 2017](https://github.com/istio/old_pilot_repo/issues/1458)

Context: production readiness proposal and plan

The feature “Eureka service registry” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This is

[2017-11-03 22:56] kyessenov opened #1467 "Incomplete tests: Add liveness and readiness probes to proxies and discovery services"
@kyessenov commented on [Tue Oct 10 2017](https://github.com/istio/old_pilot_repo/issues/1429)

Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “Add liveness and readiness probes to proxies and discovery services #1421
” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress

[2017-11-03 22:56] kyessenov opened #1468 "Incomplete tests: Proxy configuration update without 404"
@kyessenov commented on [Tue Oct 10 2017](https://github.com/istio/old_pilot_repo/issues/1428)

Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “Proxy configuration update without 404 #1422” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test c

[2017-11-03 22:57] kyessenov opened #1469 "Incomplete tests: Proper derivation of source and destination service attributes"
@kyessenov commented on [Tue Oct 10 2017](https://github.com/istio/old_pilot_repo/issues/1427)

Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “Proper derivation of source and destination service attributes #1315 ” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of pr

[2017-11-03 22:57] kyessenov opened #1470 "Incomplete tests: Move to Envoy v2 xDS API"
@kyessenov commented on [Tue Oct 10 2017](https://github.com/istio/old_pilot_repo/issues/1426)

Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Move to Envoy v2 xDS API #1257_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for

[2017-11-03 22:57] kyessenov opened #1471 "Proxy configuration update without 404"
@kyessenov commented on [Mon Oct 09 2017](https://github.com/istio/old_pilot_repo/issues/1422)

Changes to service, ingresses, or CRDs can cause 404 for live traffic due xDS protocol not staging updates between RDS/CDS/EDS.
Proxy should not apply partial xDS configuration update.

Also:
- https://github.com/istio/pilot/issues/926
- https://github.com/istio/istio/issues/1038
- https://github.com/is

[2017-11-03 22:57] kyessenov opened #1472 "Add liveness and readiness probes to proxies, discovery services and CA"
@kyessenov commented on [Mon Oct 09 2017](https://github.com/istio/old_pilot_repo/issues/1421)

- Add probes to the sidecars, ingress, egress, discovery services, etc.
- Avoid serving traffic with incomplete configuration state.
- Provides signals for horizontal scheduling

Also:
- https://github.com/istio/pilot/issues/908

---

@cmluciano commented on [Mon Oct 30 2017](https://github.com/istio/ol

[2017-11-03 22:57] kyessenov opened #1473 "Incomplete tests: availability zones support"
@kyessenov commented on [Mon Oct 09 2017](https://github.com/istio/old_pilot_repo/issues/1420)

Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_availability zones support_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the

[2017-11-03 22:57] kyessenov opened #1474 "Incomplete tests: fault injection"
@kyessenov commented on [Mon Oct 09 2017](https://github.com/istio/old_pilot_repo/issues/1419)

Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_fault injection_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in

[2017-11-03 22:57] kyessenov opened #1475 "Incomplete tests: multi-namespace support"
@kyessenov commented on [Mon Oct 09 2017](https://github.com/istio/old_pilot_repo/issues/1418)

Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_multi-namespace support_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the fea

[2017-11-03 22:57] kyessenov opened #1476 "Egress rule must support Mongo/Redis/TCP services"
@kyessenov commented on [Mon Oct 09 2017](https://github.com/istio/old_pilot_repo/issues/1417)

Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_cluster egress_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in q

[2017-11-03 22:57] kyessenov opened #1477 "Incomplete tests: HTTP/gRPC routing support"
@kyessenov commented on [Mon Oct 09 2017](https://github.com/istio/old_pilot_repo/issues/1416)

Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_HTTP/gRPC routing support_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the f

[2017-11-03 22:57] kyessenov opened #1478 "Tests: Server side configuration validation with WebHooks"
@kyessenov commented on [Mon Oct 09 2017](https://github.com/istio/old_pilot_repo/issues/1413)

Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_configuration validation_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the fe

[2017-11-03 22:58] kyessenov opened #1479 "Incomplete tests: Consul service registry"
@kyessenov commented on [Mon Oct 09 2017](https://github.com/istio/old_pilot_repo/issues/1412)

Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Consul service registry_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the fea

[2017-11-03 22:58] kyessenov opened #1480 "in code: wait for, instead of create, pilot CRDs (as those are created when pilot is installed already (yaml))"
@linsun commented on [Fri Sep 29 2017](https://github.com/istio/old_pilot_repo/issues/1375)

We have code in pilot to create CRDs and we also added code in istio.yaml to create these same resources via istio installation, mainly for the purpose to delete them easily during istio uninstallation via `kubectl delete -f istio.yaml`.   We should look into an optimized approach.

open this for discussio

[2017-11-03 22:58] kyessenov opened #1481 "Proper derivation of source and destination service attributes"
@kyessenov commented on [Tue Sep 19 2017](https://github.com/istio/old_pilot_repo/issues/1315)

As observed in https://github.com/istio/pilot/pull/1307, `destination.service` is being set to `b.namespace.svc.cluster.local,headless.namespace.svc.cluster.local` which doesn't work with any of the mixer configs. Additionally, neither `destination.name` nor `destination.namespace` is being set either.

[2017-11-03 22:58] kyessenov opened #1482 "Default config values should be for production, not testing"
@andraxylia commented on [Tue Sep 19 2017](https://github.com/istio/old_pilot_repo/issues/1312)

Current default config values int he code (discovery refresh rate etc) are good for testing, not for production. It should be the other way, so the user only needs to override values that they want to change, not all of them.

https://github.com/istio/pilot/blob/master/proxy/context.go#L145

The config

[2017-11-03 22:58] kyessenov opened #1483 "Move to Envoy v2 xDS API"
@rshriram commented on [Tue Sep 12 2017](https://github.com/istio/old_pilot_repo/issues/1257)

Should be fully backward compatible. Lyft folks are going live with it as well. Let's use this issue to track

---

@ZackButcher commented on [Fri Oct 27 2017](https://github.com/istio/old_pilot_repo/issues/1257#issuecomment-340051593)

Related, we need to change how Pilot computes Envoy config to move f

[2017-11-03 22:58] kyessenov opened #1484 "Tracking: perf profiling for Pilot Ingress"
@rshriram commented on [Mon Sep 11 2017](https://github.com/istio/old_pilot_repo/issues/1237)

Use this issue to track all perf profiling aspects of Istio pilot.
Sample app: acme air (diagram below)
![pasted image at 2017_09_11 12_25 pm](https://user-images.githubusercontent.com/8202871/30287152-04011f1e-96f2-11e7-970d-ef7d0b3c2bba.png)

First tested with Istio 0.1.6. Big performance jump when ref

[2017-11-03 22:58] kyessenov opened #1485 "Scale issues in istio-pilot discovery service, affecting alpha perf targets and installation"
@kyessenov commented on [Thu Mar 09 2017](https://github.com/istio/old_pilot_repo/issues/292)

with about 10 rules, it's ~50% CPU; at 30 rules, proxies start dropping requests.

---

@GregHanson commented on [Wed Mar 29 2017](https://github.com/istio/old_pilot_repo/issues/292#issuecomment-290183009)

What CPU and memory requests/limits did you use in testing?  I used
[code]
With 50 rules:
Exec'ing

[2017-11-03 22:59] kyessenov opened #1486 "Epic: Ingress bugs"
@kyessenov commented on [Mon Oct 09 2017](https://github.com/istio/old_pilot_repo/issues/1414)

Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_cluster ingress_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in

[2017-11-03 23:02] xiaolanz commented on #1453
broker/pkg/model/config/mock_store.go is generated code. I want to skip it in the linter. How does pilot deal with the similar issue?
I will fix the file.go issue.

[2017-11-03 23:15] mandarjog commented on #1453
Ok I will exempt check for mock.

[2017-11-03 23:17] kyessenov opened #1487 "Use go-swagger to automatically generate testing clients"
@xiaolanz commented on [Thu Jun 01 2017](https://github.com/istio/old_broker_repo/issues/11)

https://github.com/cloudfoundry-incubator/cf-swagger @ayj

---

@sakshigoel12 commented on [Thu Sep 28 2017](https://github.com/istio/old_broker_repo/issues/11#issuecomment-332988649)

@xiaolanz is this 0.2 blocking? If yes please add an ETA otherwise move it to the next release

[2017-11-03 23:17] kyessenov opened #1488 "Use go-swagger to automatically generate testing clients"
@xiaolanz commented on [Thu Jun 01 2017](https://github.com/istio/old_broker_repo/issues/11)

https://github.com/cloudfoundry-incubator/cf-swagger @ayj

---

@sakshigoel12 commented on [Thu Sep 28 2017](https://github.com/istio/old_broker_repo/issues/11#issuecomment-332988649)

@xiaolanz is this 0.2 blocking? If yes please add an ETA otherwise move it to the next release

---

@kyessenov commented

[2017-11-03 23:18] kyessenov opened #1489 "Create a etcd client library for broker storage"
@xiaolanz commented on [Tue Oct 03 2017](https://github.com/istio/old_broker_repo/issues/30)

The storage is accessed by mixer adapter too.

[2017-11-03 23:18] kyessenov opened #1490 "Create a etcd client library for broker storage"
@xiaolanz commented on [Tue Oct 03 2017](https://github.com/istio/old_broker_repo/issues/30)

The storage is accessed by mixer adapter too.

---

@kyessenov commented on [Fri Nov 03 2017](https://github.com/istio/old_broker_repo/issues/30#issuecomment-341850060)

Issue moved to [istio/istio #1489](https://github.com/istio/istio/issues/1489) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 23:19] kyessenov opened #1491 "Implement auth client to provision Istio identity for consumer instance"
@xiaolanz commented on [Tue Oct 03 2017](https://github.com/istio/old_broker_repo/issues/31)

[2017-11-03 23:19] kyessenov opened #1492 "Create mixer adapter to fetch binding information based on auth certificate"
@xiaolanz commented on [Tue Oct 03 2017](https://github.com/istio/old_broker_repo/issues/32)

[2017-11-03 23:19] kyessenov opened #1493 "Implement provision API without deployment"
@xiaolanz commented on [Tue Oct 03 2017](https://github.com/istio/old_broker_repo/issues/33)

[2017-11-03 23:19] kyessenov opened #1494 "Implement service broker binding API"
@xiaolanz commented on [Tue Oct 03 2017](https://github.com/istio/old_broker_repo/issues/34)

[2017-11-03 23:19] kyessenov opened #1495 "Deploy broker into Istio core and add integration tests"
@xiaolanz commented on [Tue Oct 03 2017](https://github.com/istio/old_broker_repo/issues/35)

[2017-11-03 23:37] jmuk commented on #1453
seems there's a file called `generated_files` for the list of autogen files. Why not use it for the exclusion?

[2017-11-03 23:40] xiaolanz commented on #1453
Hey, why do we want to check in generated files?

[2017-11-03 23:47] mandarjog commented on #1453
The idea is that if someone does not want to use bazel, they should be able to simply run a `go build ...`.  This cuts out a lot of expensive proto compile/ compiling the tool chain etc. so if all the files are present locally, then things just work.

[2017-11-03 23:48] #1490 closed

[2017-11-04 00:46] costinm opened #1499 "Cache invalidation not working for host header"
1. Created an ingress resource, with a "host" option

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: httpbin
  namespace: istio-test
  annotations:
    kubernetes.io/ingress.class: "istio"
spec:
  rules:
  - host: httpbin.release02.istio.webinf.info
    http:
      paths:
      - path: /.*
        backend:
          serviceName: httpbin
          servicePort: 8000

2. Deploy

3.  c

[2017-11-04 13:23] #1439 closed

[2017-11-04 18:01] vadimeisenbergibm commented on #1296
@prune998 The issue is here - https://github.com/istio/istio/issues/1476, I will work on it starting tomorrow.

[2017-11-04 20:53] sebastienvas opened #1511 "Needs to link kube config to build and test istio"
This is an artifacts from pilot, where we need to link the kube config in order to get pilot to build and run certain tests. If tests need such things that s fine, they can be tagged as manual, but user should be able to build and test istio out of the box.

[2017-11-05 00:20] mandarjog opened #1515 "Bazel_to_go should copy genfiles only on change and maintain go dep file"
Bazel_to_go already processes the workspace.

1. It copies generated files and updates a manifest.
2. Creates symlinks from vendors dir

It should
1. Only copy gen files if they have meaningfully changed.
 The generated files have the absolute source file path embedded in them.
 This makes it susceptible to spurious changes. Tool should ignore change if it is purely path change in the genfile.
2.

[2017-11-05 16:04] adnankobir commented on #1377
@kyessenov

I am also looking for a solution to this. I'm stripping ssl at the ELB and forwarding http to envoy - AWS ELBs always add a "x-forwarded-proto". In my previous setup using nginx ingress controller, it was simple enough to redirect to https based on this header like so:

        listen   80;

        #redirect to https
        if ($http_x_forwarded_proto != "https") {
          return

[2017-11-05 16:58] mandarjog commented on #1403
Related to https://github.com/istio/istio/issues/1206

[2017-11-06 01:12] #1236 closed

[2017-11-06 03:16] ldemailly opened #1533 "add a check for file size"
to avoid a repeat of the bigger repo, let's add a check for PR that they do not
add big files - say over 1mb

ps: fun stuff maybe also check for filenames likely to cause issues like with space in the name:
[code]

[2017-11-06 08:32] elevran opened #1537 "Running make generates Makefile warning and bazel debug messages"
Running 'make build' produces a warning:
[code]
There are also a number of bazel debug messages for renaming 'files' attribute as 'srcs' for some targets. For example:
[code]

[2017-11-06 10:22] elevran opened #1541 "add vscode tool artifacts directory to ignored files"
Visual Studio Code directory shows up in `git status`.

[2017-11-06 13:04] ymesika opened #1545 "Adapter Development Walkthrough is not updated for the new repo structure"
The instructions of the Mixer Adapter Development Walkthrough are not updated to match the new location of the Mixer within the Istio repo.

E.g. `BUILD` file for `mysampleadapter` (in step 1) should have:
[code]

Instead of:
[code]

[2017-11-06 16:37] #1537 closed

[2017-11-06 18:35] #1541 closed

[2017-11-06 20:45] kyessenov commented on #1377
cc @rshriram for a use case of route rule instead of ingress rule

[2017-11-06 23:11] mandarjog opened #1566 "Consolidate fmt.sh"
`make fmt` target should format source code.
At present mixer, pilot, security have their own ways of formatting in `*/bin/fmt.sh`
1. Consolidate the script at the top leve bin/fmt.sh
2. Add a top level make target for it.

[2017-11-06 23:16] guptasu commented on #1566
@mandarjog  The first step is to make the scripts work since they are currently broken. Then I can look into consolidation, which can be tricky because that will need finding a shared set of features that every component devs are happy about.

[2017-11-07 00:04] rosenhouse opened #1569 "Pilot platform adapter returns nil slice for Instances"
In building the platform adapter for Cloud Foundry (#1371), we were cribbing from the k8s adapter.

We see that the [k8s platform adapter's `Instances` function sometimes returns `nil`](https://github.com/istio/istio/blob/8c078c6ec6e41857a39fbf01b0561223a2c5d16d/pilot/platform/kube/controller.go#L276).

This was a bit surprising, and we're curious if it has a particular purpose.  Do clients interp

[2017-11-07 01:04] cmluciano commented on #1430
/assign

[2017-11-07 02:12] ldemailly opened #1574 "kubectl 1.8 validation errors for mesh-expansion.yaml"
this will hit users soon (when 1.8 is the default) - I don't know how widespread it is (ie is it an issue with more than that yaml) - second hand report I didn't see it myself

error: error validating "https://raw.githubusercontent.com/istio/istio/master/install/kubernetes/mesh-expansion.yaml": error validating data: apiVersion not set; if you choose to ignore these errors, turn validation off wit

[2017-11-07 05:15] guptasu commented on #1545
Hi Yossi and Etai,

Any of you guys working on this issue ? Let me know if that is the case, I am also working on similar PR to update the guide and walk-though doc.

[2017-11-07 05:38] ymesika commented on #1545
Hi, I began updating the walkthrough while going through the steps there. If you already did it feel free to close this issue as resolved by your PR.
Which PR is it?

[2017-11-07 05:46] guptasu commented on #1545
https://github.com/istio/istio/pull/1576

On Mon, Nov 6, 2017 at 9:38 PM, Yossi Mesika <notifications@github.com>
wrote:

--
*Thanks,*
*-SG*

[2017-11-07 05:47] guptasu commented on #1545
I have not tested it, I too have to go through the steps and see if things will work with mono repo.

[2017-11-07 07:28] ymesika commented on #1545
Resolved by #1576

[2017-11-07 07:28] #1545 closed

[2017-11-07 09:27] kadamvandita commented on #1372
Hi @rshriram ,

A new stable release of pilot is out 0.2.12.But can't find pilot source code  in the source. Moreover If I try building with bazel 0.6.1 on Intel it fails with below error.

ERROR: /root/.cache/bazel/_bazel_root/2325d0d2e5f42b9a686a34f251405905/external/io_bazel_rules_go/go/private/binary.bzl:226:48: name 'lib' is not defined (did you mean 'libs'?).
 ERROR: error loading package ''

[2017-11-07 14:58] mandarjog opened #1578 "mixer/tools/codegen/pkg/bootstrapgen test fails using go test"
[code]

[2017-11-07 15:57] cmluciano commented on #1474
cc @GregHanson @ijsnellf

[2017-11-07 17:04] andraxylia commented on #1474
Looks good, thanks!

[2017-11-07 17:05] andraxylia commented on #1474
For Ingress, @ZackButcher can you please open a separate issue with the correct title?

[2017-11-07 18:07] cmluciano opened #1581 "Incomplete tests: ingress fault injection"
xref: #1474

We are lacking tests for ingress fault injection rules with delay/abort timeouts.

Similar tests for this features can be based on the following:
https://github.com/istio/istio/blob/a97ee8df3a1bc4a163ae56aa8b9d99951c3352bb/pilot/test/integration/routing.go#L82

https://github.com/istio/istio/blob/master/pilot/test/integration/testdata/rule-fault-injection.yaml.tmpl

[2017-11-07 18:08] cmluciano commented on #1474
Opened https://github.com/istio/istio/issues/1581 to track the ingress issue

[2017-11-07 18:08] #1474 closed

[2017-11-07 18:34] jmuk opened #1583 "pilot/test/mixer/wordlist/wordlist.go: is it necessary?"
I've noticed that there's a file called `pilot/test/mixer/wordlist/wordlist.go` which nobody refers to. As a quick research, pilot repository had `test/mixer` code for mock mixer server (for pilot e2e test), and this `wordlist.go` file was a part of it. That mock server code isn't in this istio monorepo now, but the `wordlist.go` still exists.

Does this mean we can simply remove the whole `pilot/

[2017-11-07 18:34] jmuk commented on #1583
@kyessenov

[2017-11-07 18:48] manlinl opened #1584 "Mixer segfault if default namespace in command flag doesn't match namespace config"
I accidentally set --configDefaultNamespace=istio-syste instead of istio-system. When using mixc calls check, mixer has segfault.

I1107 10:46:34.824156   12741 grpcServer.go:160] Dispatching Check
I1107 10:46:34.824174   12741 resolver.go:174] Resolve: no namespace config for istio-syste
I1107 10:46:34.824185   12741 resolver.go:174] Resolve: no namespace config for svc
I1107 10:46:34.824236   12

[2017-11-07 19:01] manlinl commented on #1584
The problem is in pkg/runtime/dispatcher.go:224

(gdb) f 7
#7  0x0000000001aa0d0d in istio.io/istio/mixer/pkg/runtime.(*dispatcher).Check (m=0xc4204802c0, ctx=..., requestBag=..., ~r2=0x0, ~r3=...)
    at mixer/pkg/runtime/dispatcher.go:224
224			glog.Infof("Check %s", res)
(gdb) list
219				return ra
220			},
221		)
222		res, _ := cres.(*adapter.CheckResult)
223		if glog.V(3) {
224			glog.Infof("

[2017-11-07 19:32] cmluciano commented on #1409
cc @ZackButcher Is this part of your work in Ingress?

[2017-11-07 20:16] cmluciano commented on #1478
https://github.com/istio/istio/blob/master/pilot/platform/kube/admit/admit_test.go is now running successfully in pilot-presubmit.

@andraxylia @kuat @ayj Is there still a need for a dedicated e2e test?

[2017-11-07 20:20] ayj commented on #1478
Yes, I think so. `admin_test.go` unit tests elements of validation but server-side validation via webhook is still not on by default in e2e tests.

[2017-11-07 21:48] douglas-reid commented on #1584
This appears to be related to bad handling of nil values in [status.String](https://github.com/istio/istio/blob/master/mixer/pkg/status/status.go#L111).

[2017-11-07 22:03] ZackButcher commented on #1409
Short term my work is focused on k8s ingress which is HTTP only. So no, I'm not planning on working this in the short term (next month or so). I'll definitely keep this in mind so it'll be easier to add down the line.

[2017-11-07 22:20] brentcty opened #1590 "Cloudant Egress Does not Work"
using...

istio 0.2.12
kubectl 1.8.x
minikube 0.23.0

I've applied the EgressRule to allow access to *.cloudant.com from the mesh. I can curl to HTTP specifying port 443 inside the pod shell.

curl http://70d5a96b-b80f-4e87-a0bf-fc22053d6a2d-bluemix:55e07c44dbe7d359ddc1ecc36599ce0b586b6db3d3820bd2dafde31499076928@70d5a96b-b80f-4e87-a0bf-fc22053d6a2d-bluemix.cloudant.com:443

I get the below, so eg

[2017-11-07 23:17] ldemailly commented on #472
now would be a good time for this (in the new mono repo)

[2017-11-08 00:46] ldemailly commented on #1447
should probably be a _debug vs non _debug images
- the non debug is just the binary, a tiny image
- the debug has an os base like proxy_debug

[2017-11-08 02:15] ldemailly commented on #1574
PRs are most welcome, and even just Issues reports !

[2017-11-08 02:57] cmluciano commented on #1409
@rshriram Is this something that we can still do now or is this awaiting pending changes to either upstream k8s ingress or our own ingress implementation?

[2017-11-08 10:38] ymesika commented on #1447
Do you think that a debug image that is based on busybox would be enough?

[2017-11-08 14:43] ymesika commented on #1451
Is this still valid issue? I can't find any dependency on the specific version after the move to the new repo

[2017-11-08 17:06] ldemailly commented on #1447
not really for actual debugging - I guess @andraxylia can elaborate on what she would do connecting to pilot (that she can't do from the proxy sidecar) ?

[2017-11-08 18:33] rcurran1 opened #1599 "Fix typos in istio/DEV-GUIDE.md"

[2017-11-08 19:06] xiaolanz commented on #472
Did we just decide to keep using BUILD instead of BUILD.bazel?

[2017-11-08 19:47] costinm commented on #1196
I think the agreement is for pre-submit (and anything that is blocking the merging) to be:
- fast ( few minutes )
- stable / non flaky.

We can't block everything until someone fixes a flaky test  - we can still run it and have bugs
assigned to fix whatever is broken (including the tests that are flaky).

[2017-11-08 19:47] #1196 closed

[2017-11-08 19:48] costinm commented on #1077
No longer scheduled for 0.3.

[2017-11-08 19:48] #1077 closed

[2017-11-08 19:49] costinm commented on #1095
External DNS no longer scheduled for 0.3/0.4 - will reopen when we add it to the roadmap.

[2017-11-08 19:49] #1095 closed

[2017-11-08 19:50] costinm commented on #1079
No longer planned for 0.3 or 0.4.

There are still efforts to make it work - but will not be considered production ready.

[2017-11-08 19:50] #1079 closed

[2017-11-08 20:08] costinm commented on #1515
The 'dep file' doesn't have to be updated on every build, it is ok to do it daily or if a new dep is added or needs to be updated.

I think we should fix 'absolute source files embedded' - I doubt it helps in any real use, and then we can
just copy files on each build and git will detect they're unchanged. This way any submit that changes
a proto or file that has generated artifacts will include t

[2017-11-08 21:37] brentcty commented on #1590
Looks like wildcards for EgressRules requires quotes (i.e. "*.cloudant.com") according to YAML LINT. Should probably update the documentation to indicate such.

[2017-11-08 22:06] ldemailly commented on #472
I missed that decision, which would be a bad decision I think as BUILD is too vague/generic/conflicting

[2017-11-08 22:15] brentcty commented on #1590
I'm getting the following console.log when initializing cloudant like above when I use the http:// preface in the url. Looks like this is happening before the request gets to the envoy. As a result, envoy is sending as https:// url, which does not seem to work.

WARNING: You are sending your password as plaintext over the HTTP; switching to HTTPS

[2017-11-08 23:21] ldemailly commented on #1574
fixed in #1312

[2017-11-09 00:27] ozevren opened #1613 "[Mixer/CEL] Align Mixer's match function with CEL counterpart (matches)."
Mixer currently has a "match" function that performs a prefix/suffix match:

`match("ns1.svc.local", "ns1.*") => true`
`match("ns1.svc.local", "ns2.*") => false`
`match("svc1.ns1.cluster", "*.ns1.cluster") => true`
`match("svc1.ns1.cluster", "*.ns1.cluster1") => false`

CEL also introduces a similar function matches:
https://github.com/google/cel-spec/blob/master/doc/langdef.md
`// matches second

[2017-11-09 00:30] ozevren commented on #1613
@geeknoid @mandarjog @guptasu @douglas-reid

[2017-11-09 00:51] #1174 closed

[2017-11-09 01:31] jmuk commented on #1515
done for 1. for 2 -- it's a bit harder for me due to my lack of knowledge of Gopkg.lock file format -- @rshriram, do you have bandwidth for that?

[2017-11-09 03:12] linsun opened #1618 "Allow users to configure ports for istio-ingress"
Currently istio-ingress listens on port 80 and 443 (if auth is enabled).  This works when running standalone, however, doesn't work if user wants to run nginx and envoy together.

[2017-11-09 03:16] #1574 closed

[2017-11-09 04:50] andraxylia commented on #1447
We could use a pilot_debug base linux image to have same tools as proxy_debug images, otherwise it is pretty hard to do any troubleshooting. Similar to this, it installs dnsutils, netcat, tcpdump.

https://github.com/istio/proxy/blob/master/docker/Dockerfile.debug

[2017-11-09 04:51] andraxylia commented on #1451
@mandarjog AFAIK we still use gogo

[2017-11-09 05:14] ldemailly commented on #1447
with secure pilot there is now a sidecar image with pilot no ? so that can be the launch point for debugging the pilot pod ? do both need to have debug utils ?

[2017-11-09 05:56] geeknoid commented on #1613
I like starts/ends, they're simple and intuitive.

[2017-11-09 06:39] mandarjog commented on #1578
@guptasu ping ...

[2017-11-09 09:11] Blasterdick opened #1621 "[help wanted] istio-init: readdirent: invalid argument"
I have VirtualBox vm with Ubuntu Server 16.04 and `kubernetes-core`, installed by `conjure-up` on local `lxd`. Also, `Istio` v0.2.12 is up and running.

[code]

[code]
[code]
But when I'm trying to execute this:

`istioctl kube-inject -f app-deployment.yaml |kubectl create -f -`

pod won't get created with following error in kubernetes dashboard:

`failed to start container "istio-init": Error res

[2017-11-09 11:41] kadamvandita commented on #1372
Hi @rshriram ,

I followed the instructions mentioned by you as follows:

cd $GOPATH/src/istio.io/istio
 git clone https://github.com/istio/istio.git
 cd istio
 git checkout 0.2.12
 dep init
 dep ensure
 go build .//...

I get the error :
tests/e2e/apps/hop/app.go:36:2: no Go files in /home/test/go_new_dir/src/istio.io/istio/tests/e2e/apps/hop/config

Any updates on this?

[2017-11-09 14:32] rshriram commented on #1372
dep ensure only works on master.

On Thu, Nov 9, 2017 at 6:41 AM kadamvandita <notifications@github.com>
wrote:

[2017-11-09 14:33] GregHanson opened #1622 "[Mixer] unit tests fail for `go test ./mixer/...`"
Mixer tests only work with bazel currently.  Mixer tests should not require bazel and should be compatible with `dep ensure`.  For example:

[code]

Bazel has significant memory needs and some circleci jobs fail due to OOM errors

[2017-11-09 15:45] rshriram commented on #1590
@vadimeisenbergibm ^^^

[2017-11-09 15:53] vadimeisenbergibm commented on #1590
@brentcty as you noted, the client library switches to https ( TLS origination on the client), which is not yet supported by Istio egress rules. Before this support is added in Istio, you can call Cloudant directly - see https://istio.io/docs/tasks/traffic-management/egress.html#calling-external-services-directly .

[2017-11-09 16:27] douglas-reid commented on #1613
starts/ends seems reasonable. As for better names, I might be inclined to use `startsWith` and `endsWith`, or `hasPrefix` and `hasSuffix`.

I also wonder whether or not the prefix/suffix arg should be second in the args order (`hasPrefix(foo, "ns1")`), but I guess we should follow whatever the CEL convention is.

[2017-11-09 16:47] cmluciano commented on #1464
duplicate of #1465

[2017-11-09 16:47] #1464 closed

[2017-11-09 16:50] spikecurtis commented on #1232
@diemtvu can you link the relevant PRs to this issue for tracking?

[2017-11-09 16:51] cmluciano commented on #1404
duplicate of https://github.com/istio/istio/issues/1472

[2017-11-09 16:51] #1404 closed

[2017-11-09 16:52] cmluciano commented on #1396
@ldemailly Are you working on this?

cc @ayj Is this effectively the template that we are working on?

[2017-11-09 17:04] ayj commented on #1396
No, this is referring to externalizing envoy's [configuration](https://www.envoyproxy.io/envoy/configuration/configuration) so a user could, for example, tweak filter settings that aren't exposed through existing Istio config.

[2017-11-09 17:18] cmluciano opened #1624 "templatize sidecar configuration format"
[Design Doc ](https://docs.google.com/document/d/1f61uHoPvozoVhlut6TG66L2XQ_DvFQWUUeFjHJeypHQ/edit#)

Consistent sidecar configuration format that can be used by both manual and automatic injection methods. Configuration format should be fully customization of injected resources without rebuilding applicationstion.

[2017-11-09 17:57] ldemailly commented on #1396
@cmluciano no but I think it'd be very useful so users can try / tweak envoy features

[2017-11-09 18:47] ozevren commented on #1613
I did a cursory research in CEL implementations and, there is very little reliable information to glean from.

It looks like matches has two implementations in two different places: one instance method, the other not (i.e. "foo.*".matches("fooo") v.s. matches("foo.*", "fooo") ). The matches parameter ordering makes sense for use as instance method model.

For prefix/suffix functions, my initial th

[2017-11-09 18:52] guptasu commented on #1578
@mandarjog I am unable to reproduce this . Can it be related to the generated files now being submitted by someone after this bug was filed ?

[code]

[2017-11-09 18:57] guptasu commented on #1578
@mandarjog okie, I can now reproduce it. These test need descriptor_set to be sym linked. taking a look

[2017-11-09 19:19] mandarjog opened #1627 "Junit style test results for go-tests"
It would be great to have junit/xunit style test results output for go-test.

There are several  libraries that do this.
https://github.com/jstemmer/go-junit-report

There is a proposal to add `-json` output flag to gotest
https://github.com/golang/go/issues/2981

@sebastienvas @yutongz

[2017-11-09 21:46] ozevren commented on #1613
Here is the latest:
matches function in CEL will be an instance method.
There is an ongoing proposal for startsWith/endsWith instance methods.

With this, the final shape will be:
`"regex".matches("input") => bool`

`"str".startsWith("prefix") => bool`

`"str".endsWith("suffix") => bool`

[2017-11-09 21:57] geeknoid opened #1630 "Move attribute producing adapters to the new adapter model."
@geeknoid commented on [Fri Oct 20 2017](https://github.com/istio/old_mixer_repo/issues/1477)

We need to move the APAs to the new adapter model and then proceed to expunge all old adapter model code from the codebase.

---

@jmuk commented on [Fri Oct 20 2017](https://github.com/istio/old_mixer_repo/issues/1477#issuecomment-338269609)

blocking #1411

---

@guptasu commented on [Fri Oct 27 2017](

[2017-11-09 22:07] geeknoid opened #1631 "Add support for default expressions in template definitions"
_From @geeknoid on November 8, 2017 17:49_

We should make it possible for template authors to specify default expressions for individual fields in a template definitions. If the instance defined by the operator doesn't include the given field, Mixer will use the default expression automatically.

This provides a way to have extremely low-cost instances where all the defaults are assumed. It also

[2017-11-09 22:07] geeknoid commented on #1631
_From @guptasu on November 8, 2017 21:34_

One thing is unclear to me. Expression's vocabulary is owned by the operator, they can choose to define their own attributes config and therefore the expressions used by the template developer might just not work. Which would mean with every template there should be an equivalent attributes config that expresses the vocabulary of attributes used in the de

[2017-11-09 22:07] geeknoid commented on #1631
We've adopted a largely generic attribute vocabulary at this point, so I think it's reasonable for these templates to be expressed in terms of this generic vocab.

[2017-11-09 23:16] brentcty commented on #1590
Thank you. I would hate to lose out on the istio auditing and tracing. If I am able to configure Cloudant client libs to use an HTTP server, what address would I give it? The address of the egress service?  with port 80?

[2017-11-09 23:38] asridharan opened #1636 "Building istio fails"
OS: Mac OS X :
[code]

Bazel:
[code]
Getting the following error when I compile from the `istio` source directory.

make build
bazel  build  //...
ERROR: package contains errors: .
ERROR: no such package '@io_bazel_rules_go//go': error loading package 'external': Could not load //external package.
INFO: Elapsed time: 0.084s
make: *** [build] Error 1
Avinashs-MBP:istio asridharan$
[code]

[2017-11-10 00:07] hrishin opened #1637 "[doc] broken link in contribution guideline"
Link for is for "setup developer environment"  is broken

[2017-11-10 00:37] theganyo opened #1638 "adapter logger isn't formatting parameters correctly"
In adapter:

[code]
Emits:
[code]

[2017-11-10 01:43] rosenhouse opened #1643 "Pilot: Out-of-process platform adapters"
As part of the Cloud Foundry (CF) integration work (https://github.com/istio/istio/issues/1371), considerations for availability and scalability have led us to consider introducing a new platform component in CF (working name: `copilot`) that will serve service discovery data to the (work-in-progress) CF Pilot platform adapter.

[code]

We're thinking that the in-process CF Platform Adapter will b

[2017-11-10 02:12] mandarjog commented on #1643
We have similar plans for Mixer grpc adapters. We want to make it a build time decision. You should be able to build it in process or out of process if written in go.

Are you planning to implement `copilot` in a language other than go ? For availability and scalability we could simply scale Pilot with built in CF adapter. How different is it from that.
I think the operator should see clear benefi

[2017-11-10 02:30] rshriram commented on #1643
This is no different than us talking to service registries today (kube api server, consul, eureka). From that point of view, you really should not be focusing on standardizing the service registry interface as there is no standard. Besides, the service model undergoes changes. Many newly introduced fields can be derived from existing fields.

I suggest you use whatever protocol/data format that is

[2017-11-10 02:57] rosenhouse commented on #1643
@mandarjog That's good to know about Mixer.  Long-term we can think about maybe allowing an option between in-process/out-of-process.  As for scaling, yes, we plan to horizontally scale the Pilots.  But then we have to consider the load they put onto the upstream platform API servers.   Suffice to say, we think a new component, scaled independently, is a good plan to start with.

@rshriram These a

[2017-11-10 02:57] #1643 closed

[2017-11-10 04:19] kadamvandita commented on #1372
Any specific instructions for stable release branch?

[2017-11-10 04:25] hklai opened #1646 "Implement Post-Submit test failure alerts"
When PostSubmit test failures, the current oncall needs to be alerted, so that s/he can resolve the failures ASAP.

Possible resolutions include:
1. Identify and fix the issue.
2. Identify the culprit PR and roll it back.
3. Get help from other developers to help debug and identify the problems.

Without prompt alerts, oncall needs to periodically and manually check post-submit test results. It is

[2017-11-10 04:29] hklai opened #1647 "Block Pre-Submit in case Post-Submit tests have failed"
When Post-Submit test failures, normal PRs merge needs to be blocked until post-submit tests are fixed.

This reduces the chance of worsening the broken state, and also increase the pressure for everyone to address the failures ASAP.

[2017-11-10 04:34] #1637 closed

[2017-11-10 04:50] rshriram opened #1648 "remove bazel based docker build in security/*"
The code under security/* (https://github.com/istio/istio/blob/master/security/bin/push-docker#L29) is using bazel based docker build. This has proven very inefficient in the past and slows down the build as there is not much caching benefit (bazel tars up everything as one layer), and changes timestamps - so new image is pushed no matter what (IIRC).

this needs to be changed to plain Dockerfile

[2017-11-10 04:59] rshriram commented on #1449
@kyessenov is no longer working on this. @costinm / @andraxylia since you folks had some serious concerns on an earlier PR that implemented this feature two months ago (https://github.com/istio/old_pilot_repo/pull/1223), I am assigning this to you so that you can design it in the way you wish to.

My suggestion would be to dump the config map and use a CRD so that you can take advantage of the wat

[2017-11-10 05:02] kyessenov commented on #1569
I think clients interpret nil as an empty array. This seems sensible when the requested service does not exist.

[2017-11-10 05:03] rshriram commented on #1583
you could remove it as long as you build the mixer as part of pilot e2e test. But please dont use bazel to build it as it wont work in circle ci.

[2017-11-10 05:05] kyessenov commented on #1583
Feel free remove. I removed mock mixer as part of the move since we can run real mixer under one roof.

[2017-11-10 06:12] rshriram commented on #1372
none. there is no dep ensure for stable release branch.

[2017-11-10 06:20] kadamvandita commented on #1372
@rshriram : I have been trying to build istio **release v 0.2.12** on intel
I have installed go - 1.9 as pre requisites, jdk 1.8
I have used build instruction

- istio/istio> go build .//... ( but the build fails with the below log)
tests/e2e/apps/hop/app.go:36:2: no Go files in /home/test/go_new_dir/src/istio.io/istio/tests/e2e/apps/hop/config

So I was optimistic to know why is the build failing

[2017-11-10 06:47] rosenhouse commented on #1569
Yes, as long as those clients are not relying on the distinction between an empty slice and a nil one.  In other words, a platform adapter is free to return `[]*model.ServiceInstance{}` instead of `nil` without causing any surprises for clients.

[2017-11-10 07:38] hklai opened #1650 "Create a smoke e2e test"
Break tests/e2e and create a smoke test to be included in presubmit test.

It should not take over 10 minutes, and it is used as a smoke test to cover GKE deployment. The full e2e test suite is tested in post-submit only, but the smoke test can help gate changes that breaks GKE deployment.

[2017-11-10 08:42] vadimeisenbergibm commented on #1590
@brentcty note that egress service does not function as HTTP Proxy. It intercepts tcp traffic by iptables. So you cannot use it a HTTP proxy. The only solution I see currently is calling Cloudant directly - https://istio.io/docs/tasks/traffic-management/egress.html#calling-external-services-directly.

[2017-11-10 09:48] rosenhouse opened #1653 "data race in pilot/platform/consul"
from a fresh checkout
[code]
exits with status 1 and shows several warnings like

[code]

[2017-11-10 12:39] vermapratyush opened #1655 "Choice of language"
Hi,
This is not really an issue, but more for information purpose. Not even meant for debating.
I am wondering why golang is the choice of language for a sidecar. From my understanding, SideCar is expected to have a very predictable memory/CPU footprint, since it basically shares the resource with the "main" (host) application.
What I understand about GoLang is that,

- It does not provide a good

[2017-11-10 15:13] mandarjog commented on #1655
The sidecar is written in C++. It is the  Envoy proxy. https://istio.io/docs/concepts/what-is-istio/overview.html#envoy

All Other components are written in go.

[2017-11-10 15:43] GregHanson opened #1658 "[Security] bin/push-docker script no longer works with -build-only flag"
PR #1560 changed the `security/bin/push-docker.sh` script and broke the `-build-only` flag.  CircleCI calls `make docker` :
[code]
The `make` command is specifying `-build-only` so that images are only built and NOT pushed.  This is significant optimization so that our PR jobs do not need to waste time pushing images to dockerhub when the e2e tests can use local images.  The script switched to use

[2017-11-10 16:18] vermapratyush commented on #1655
Oops, that's really stupid of me. Thanks.

[2017-11-10 16:18] #1655 closed

[2017-11-10 16:19] ldemailly commented on #1650
simple/ can be that test and we can add to it

though we still run also mixer and demo in parallel

[2017-11-10 16:41] brentcty commented on #1590
Unfortunately, direct is not working either. I am running in minikube and issue the following command

kubectl apply -f <(istioctl kube-inject -f install/app.yml --includeIPRanges=10.0.0.1/24)

I go into the app shell, and...

curl http://httpbin.org/headers

and I get nothing. I am using auto initializer if that matters.

[2017-11-10 17:29] ldemailly commented on #1621
@rkpagadala can you try a 1.8 cluster (gke first) and see if you get the same error (or find someone who can) ?

[2017-11-10 18:43] jmuk commented on #1622
seems failing on `tools/codegen` tests, possibly some expected filepath is different among bazel and `go test`?  @guptasu FYI

But, I think we will keep using bazel as for our canonical build tool. I'm not sure if "flaky-test" label can apply here.

[2017-11-10 18:57] nmittler opened #1662 "New file watch for Pilot"
To support testing without k8s, it will be useful to have a file-based config watch for Pilot.

Mixer already has a similar implementation: https://github.com/istio/istio/blob/32dd233e2b9e07fae372bbec3efa1485f7609b6c/mixer/pkg/config/store/fsstore2.go#L195-L213

[2017-11-10 18:58] myidpt commented on #1658
@mangchiandjjoe Jae, any chance you can fix this? Thanks.

[2017-11-10 19:05] vadimeisenbergibm opened #1664 "Replace protocol field in egress rule protobuf with an enum"

[2017-11-10 19:13] vadimeisenbergibm commented on #1590
@brentcty I do not know how kube-inject works with istio initializer. @ayj - any comment on this?
I would remove initializer and try to perform kube-inject.

[2017-11-10 19:22] ayj commented on #1590
Both automatic (initializer) and manual (kube-inject) injection methods have no effect if the input resource already has a sidecar injected. This is determined by the presence of `sidecar.istio.io/status` annotation.

You can try disabling automatic injection for the specific workload and using kube-inject instead. Override the default automatic injection policy by adding the `sidecar.istio.io/inj

[2017-11-10 19:33] sebastienvas commented on #1647
There is no good way to prevent writers or admins from merging. We can reduce the amount of admins and completely remove writers on each repo and have the bot do the merge.

For info, the api is very limited
https://developer.github.com/v3/repos/collaborators/

[2017-11-10 19:35] sebastienvas commented on #1646
Prow supports slack notification, but I don't know how configurable it is. It would be good to have the failure being set to the #oncall channel directly.

[2017-11-10 19:37] mangchiandjjoe commented on #1648
PR https://github.com/istio/istio/pull/1661 was made

[2017-11-10 19:40] yutongz commented on #1650
I did it :)
https://github.com/istio/istio/pull/1654

[2017-11-10 19:42] yutongz commented on #1650
We can run parallel, but my concern is the resource pressure. Let's first enable one, or maybe two, we can buy some more machine. :)

[2017-11-10 19:45] mangchiandjjoe commented on #1648
The PR was merged

[2017-11-10 20:05] prune998 opened #1667 "istio-proxy error 504 on GRPC Server stream"
Istio : 0.2.10
Kubernetes : 1.7.8 on GKE
Client/Server made with Go 1.9.2 and gRPC 1.6

Overview :
When using the "Server Stream" feature of GRPC/HTTP2, Istio-proxy close the connexion with a 504 error after some timeout.

Details :
I have a GRCP client that connect to my Istioified Micro Service (Useredge). This client do regular POST on  /lab.useredgesvc.UserEdgeSVC/UserEventReport endpoint, whi

[2017-11-10 20:31] GregHanson commented on #1658
resolved by https://github.com/istio/istio/pull/1661

[2017-11-10 20:31] #1658 closed

[2017-11-10 20:57] rshriram commented on #1653
@GregHanson ^^^ .

[2017-11-10 21:01] vadimeisenbergibm commented on #1590
Thanks, @ayj !

[2017-11-10 21:05] ijsnellf opened #1670 "Fix and re-enable config aggregation tests"
Some of the config aggregation tests were temporarily disabled due to flakiness in https://github.com/istio/istio/pull/1669.

The tests fail randomly because of race conditions. The race condition issue should be fix and the tests re-enabled.

[2017-11-10 21:34] mangchiandjjoe commented on #1648
This issue has been resolved.

[2017-11-10 21:44] rshriram commented on #1667
From matt klein (envoy):
[code]

[2017-11-10 23:19] diemtvu opened #1673 "Run pilot e2e from dev machine"
In the old pilot repo, I can run bin/e2e from my working machine (actual tests were still run on gke cluster, but images were built locally from my machine). However, in the new repo, we stop building the (test) mixer image for this e2e, so it no longer works.

What is the right way to run pilot e2e nowadays? Should we add mixer image to the pilot/bin/push-docker to make it work again?

[2017-11-10 23:24] diemtvu commented on #1232
https://github.com/istio/api/pull/229
https://github.com/istio/old_pilot_repo/pull/1443

[2017-11-11 01:14] rshriram commented on #1372
@costinm FYI

On Fri, Nov 10, 2017 at 1:20 AM kadamvandita <notifications@github.com>
wrote:

[2017-11-11 03:13] rkpagadala commented on #1673
in pilot directory I am running
make e2etest HUB=<your docker repo name> TAG=<your tag name> TESTOPTS="-mixer=false"

[2017-11-11 13:29] nmnellis opened #1677 "Feature - add support for envoy lua http filters"
Envoy recently added support to inject filters via lua scripts. [Lua Http Filter](https://github.com/envoyproxy/envoy/blob/986432ac0aca514b62bcf58e8cf51d6c17433675/docs/configuration/http_filters/lua_filter.rst). It would be great to configure and add these filters via pilot.

[2017-11-11 22:28] theganyo opened #1678 "Missing template causes panic in Mixer"
When I failed to register a custom template in mixer/template/BUILD, Mixer crashed with the following error. Hopefully, this could be handled in a more graceful manner.

[code]

[2017-11-12 01:21] mandarjog commented on #1678
Did this fail on startup? Or failed at a later time?

I agree It should not sigsegv .

I think it is better to fail hard on internal inconsistencies. An explicit panic is better with a clear error message that states missing template info.

/cc @guptasu

‘’’
		// ti should be there for a valid configuration.
		ti, _ := h.tmplRepo.GetTemplateInfo(tmplName)
‘’’
Code already states that it expects va

[2017-11-12 01:50] guptasu commented on #1678
This is broken since we are not yet validating the config during config
ingestion. There is  inot much we can do during runtime.

Will take a look to handle this better.

On Nov 11, 2017 5:22 PM, "mandarjog" <notifications@github.com> wrote:

[2017-11-12 11:55] mandarjog commented on #1678
I don’t think this is strictly related to config Validation. An adapter that is a part of the Mixer build is using an unknown template. This should fail build validation and must fail a unit test.

[2017-11-12 19:41] #1583 closed

[2017-11-13 02:45] brentcty opened #1679 "Ingress Deny RouteRules Don't Seem to Work"
I've followed the Istio Ingress Controller task to the letter, but the Deny RouteRules don't seem to be working. Using Minikube 0.22.3 with automatic injection again. Could this be related to not being able to change sidecar config after they have been injected?

$ curl -I http://$INGRESS_HOST/headers
HTTP/1.1 200 OK
server: envoy
date: Mon, 13 Nov 2017 02:42:41 GMT
content-type: application/json

[2017-11-13 04:34] jasminejaksic opened #1680 "Include k8s version check for Istio installation"
I tried to install Istio but didn't realize the cluster was running an older k8s version (1.5.x) and got a litany of unhelpful error messages (see below). Though we mention on istio.io that it requires 1.7.3 or newer, it would be a good idea to do a version check on k8s before Istio installation begins.

Exact message after I tried to install Istio (kubectl apply -f install/kubernetes/istio.yaml)

[2017-11-13 05:43] ldemailly commented on #1680
good idea but where/how would we check, it's just a yaml file at the moment (we don't have an installer...) ?

[2017-11-13 06:05] mandarjog opened #1683 "prow should checkout project at $gopath/src/istio.io/istio"
Prow boostrap checks out source code at it's github location inside the `GOPATH`.
Workaround requires creating a symlink from
`GOPATH/src/istio.io/istio --> GOPATH/src/github.com/istio/istio`

Even this is not good because it makes the same package available at two different locations within `GOPATH`.

This should be fixed. It may as simple as passing `--jobsdir` parameter correctly.

[2017-11-13 06:16] mandarjog commented on #1622
This is related to https://github.com/istio/istio/issues/1578.
I have added  PR #1682 to run code coverage that includes running all tests except the one in the above issue.

[2017-11-13 07:21] yutongz commented on #1683
I guess this should be opened at test-infra but anyway. Can you specify a priority of this fix, does it affect current developing?

[2017-11-13 11:34] elevran opened #1684 "Vulnerabilities found in proxy image"
Istio proxy (debug) [image 0.2.9](https://anchore.io/image/dockerhub/istio%2Fproxy_debug:0.2.9) has known vulnerabilities (>70 medium and >70 low priority vulnerabilities).
Result of anchore.io run on 0.2.9 can be found [here](https://anchore.io/image/dockerhub/f0994e4220bc54041dc937ebfe744ef6f44aa112b1973c084ef6e912c2efb09c?repo=istio%2Fproxy_debug&tag=0.2.9#policy) and [here](https://anchore.io/

[2017-11-13 12:00] prune998 commented on #1667
tried it with no luck for now.
Also, by the doc, the timeout duration should be > 1ms.

Am I missing something ?
[code]

[2017-11-13 12:50] prune998 commented on #1667
seems the timeout is applied in Envoy, still, I get the timeout anyway...
[code]

[2017-11-13 12:54] prune998 commented on #1667
On the sidecar Envoy side, the 504 error refers to "upstream request timeout"

[2017-11-13 13:07] staenker commented on #1485
Hi,

Can somebody point me to a page describing what are exactly the "alpha targets"?
I would like to manage the expectation of 0.3 release's performance.

Thanks
Richard

[2017-11-13 14:46] linsun commented on #925
+1, user may choose to deploy istio on edge nodes, for example.

[2017-11-13 16:20] sebastienvas commented on #1683
Maybe the right way to fix this would be to have a proper golang setup and
to be able to go get and clone from istio.io

On Nov 12, 2017 11:21 PM, "Yutong Zhang" <notifications@github.com> wrote:

[2017-11-13 16:52] andraxylia commented on #1485
This is an older issues and many things have improved.
@ldemailly what is the current state, do we have any document or results?

[2017-11-13 17:30] mandarjog commented on #1683
That will work too. I think simply providing an alternative place where the project is checked out is easier. That way this CI/CD is not predicated on go gettability of the project.

[2017-11-13 17:35] ldemailly commented on #1485
I started on the data path so far (aka envoy and mixer); once I have solid data about that I'll get to pilot - this being said, scalability and performance is everyone's work too so I'm happy to help anyone else who wants to look at that for pilot; that would probably scale better than if I try to do everything alone

[2017-11-13 17:41] ayj commented on #1680
We'll need an installer and/or more detailed installation instructions going forward. For example, use of k8s webhooks required cert provisioning (see [here](https://docs.google.com/document/d/1f61uHoPvozoVhlut6TG66L2XQ_DvFQWUUeFjHJeypHQ/edit#bookmark=id.74mjrvtdgjl4)).

[2017-11-13 18:12] ayj commented on #1683
FWIW, `go get -u istio.io/istio` should already work.

[2017-11-13 18:18] secat opened #1685 "Unable to access the Kubernetes apiserver when injecting the istio_proxy sidecar"
When I inject the `istio_proxy` sidecar, my pod's main container which needs to access the Kubernetes apiserver can't reach it and receives socket errors:
[code]

Here are some error logs from the `istio_proxy` sidecar:
[code]

The istio version used are:
- 0.2.10
- 0.2.12

The Kubernetes version is 1.7.5

[2017-11-13 18:23] sebastienvas commented on #1683
bootstrap supports multiple repos, so its not that simple. the --job-dir flag is common to every repo checked out so if job-dir = istio.io, you ll end up with istio.io/github.com/istio. Since we have a fork already for bootstrap we can just hard code it for istio.io:
https://github.com/istio/test-infra/blob/master/docker/istio_builders/prow_builder/bootstrap/bootstrap.py#L201

@ayj do you know why

[2017-11-13 18:25] diemtvu commented on #1673
This command assumes you already have the images, right? Is there any command to build all images in the first place, including mixer images?

[2017-11-13 18:28] jmuk opened #1687 "update DEV-GUIDE for autogen files"
I've added a presubmit check for autogen files vs checked-in files, so now it will fail when the gen sources (like proto files) are modified but checked-in files are not.

This needs to be documented at DEV-GUIDE.

[2017-11-13 18:28] ayj commented on #1683
Golang supports vanity domains and [canonical import paths](https://golang.org/doc/go1.4#canonicalimports); git does not.

Hardcoding this case seems like the most expedient thing to do, especially considering that is how k8s handles it.

[2017-11-13 18:54] prune998 commented on #1667
I built a test setup so this behaviour could be reproduced as will :

- clone the repository https://github.com/prune998/goHelloGrpcStream.git
- go in the kubernates directory
- deploy the server
  note that the file is not istio-ified
- deploy the client (a job)

you should see one log line `Greeting: Hello world:7788` then `Hello Stream world:7788` every 5 seconds.

- undeploy the server :
``` k

[2017-11-13 18:58] jasminejaksic commented on #1680
+1 on installer. We are going to need this sooner or later, we might as well do it now.

[2017-11-13 18:59] ldemailly commented on #1680
cc @andraxylia ^

[2017-11-13 19:10] jmuk opened #1689 "presubmit can fail randomly for nonexistent autogen files"
from https://github.com/istio/istio/pull/1672:

the presubmit fails with missing `mixer/template/authz` files, but those files do not exist on master, on the base branch, nor on the PR. We need to figure out the solution.

cc: @mandarjog @yutongz

[2017-11-13 19:32] jmuk commented on #1689
It would be summarized the situation here. Here's my theory:
1. presubmit bot instances keep the old build artifacts (binaries or genfiles). This helps to speed up the incremental build.
2. `bin/bazel_to_go.py` checks `bazel-genfiles` in the workspace, and copies the generated files into the repository (and updates `generated_files` file)
3. when a PR adds a new autogen file, and then a presubmit

[2017-11-13 19:34] jmuk commented on #1689
Apparently we can run `bazel clean` before building, but the build would take longer with this structure. An idea is cleaning up `bazel-genfiles` directory only -- another approach would be to fix `bin/bazel_to_go.py` to collect the autogen files properly.

[2017-11-13 19:35] elevran opened #1691 "Vulnerabilities found in mixer image"
Istio [mixer image 0.2.9](https://anchore.io/image/dockerhub/istio%2Fmixer%3A0.2.9) has known vulnerabilities (4 high, ~24 medium, 60 low).
Result of anchore.io run on 0.2.9 can be found [here](https://anchore.io/image/dockerhub/7da8720eaa841cbf5776c8da8b2e5ccb48339348f3037079eaf618f49fcbaae3?repo=istio%2Fmixer&tag=0.2.9#policy) and [here](https://anchore.io/image/dockerhub/7da8720eaa841cbf5776c8d

[2017-11-13 19:37] kyessenov commented on #1691
@mandarjog @douglas-reid an easy way to fix this is to avoid using ubuntu base, and use scratch as the base. I think the same applied to proxy-debug image (it's bloated and exposes too much of a surface).

[2017-11-13 19:47] andraxylia commented on #1680
We will use helm most likely, so no installer.

[2017-11-13 19:51] bigangryrobot opened #1692 "Feature request: Istio Node Agent should allow for configurable remote ca, pilot and mixer endpoints"
### Problem Statement
Following the mesh expansion documentation is overly convoluted, though more pointedly the need for statically addressing the remote ca, pilot and mixer ip addresses introduces un-necessary fragility due to dependency on dnsmasq or host file entries. Additionally, the ports to connect back to the istio endpoints (8080,9091,8060) are hardcoded and do not allow flexibility for

[2017-11-13 19:57] ayj commented on #1680
Is there an issue for install?

Also, does helm manage cert provisioning, e.g. create cert, sign with k8s CA?

[2017-11-13 19:57] douglas-reid commented on #1691
@kyessenov . Awhile back, I tried to move mixer to a minimal image, but that encountered some resistance. I'd be open to once again pursuing a minimal base across Istio. + @ldemailly for thoughts.

[2017-11-13 19:59] kyessenov commented on #1691
Security is more important than developer convenience. We need to minimize the image so we can audit what goes in there. Golang is particularly good with minimal images, we only need root CAs for it to be functional (and potentially not use bazel, since it seems to generate weird warnings currently for static builds).

[2017-11-13 20:04] ldemailly commented on #1691
our proxy_debug image is marked as fine (for debug) [not sure what anchor.io is though or how reliable that is] - I don't see a specific issue there ?

and the prod/non debug should indeed be
[code]
(like the fortio ones)

[2017-11-13 20:06] douglas-reid commented on #1691
I'm not sure that anyone was arguing security wasn't important. Maybe we are in violent agreement. Awhile back, I sent in a PR using the GCP distroless golang as a base (with certs -- needed for adapter comms). I would very much welcome returning to a similar state. The distroless builds are bazelified already, so that is somewhat interesting.

[2017-11-13 20:18] kyessenov commented on #1691
I was referring to a collection of tools we stuffed into proxy debug image.

[2017-11-13 20:45] kyessenov commented on #1667
Thanks for your investigation. The error does appear to be on Istio side, specifically missing or incorrect `timeout_ms` data plane value. The docs also need to updated to allow 0 value.

[2017-11-13 21:40] ldemailly commented on #998
This is done - thanks @mandarjog

Still left :

- [ ] the  api->mixerclient->proxy->istio chain
- [ ] istio.io website

[2017-11-13 21:41] ldemailly commented on #1680
I'm not sure helm meets the requirements but yes there is discussions in #1113 , #851 ...

Not sure we prioritized any of that work though/who is working on it

[2017-11-13 22:28] jmuk opened #1696 "DEV-GUIDE.md refers to gazelle, do we support that?"
Currently DEV-GUIDE.md recommends to use gazelle for formatting BUILD files (see https://github.com/istio/istio/blob/580f97c0c232129bdd5560bf2846e6b8e75e73f2/DEV-GUIDE.md#source-file-dependencies). I've heard from @douglas-reid and @mandarjog that gazelle does not work with current istio/istio repository. Also the `make gazelle` command (mentioned in the link) doesn't even exist actually.

Shouldn

[2017-11-13 22:35] andraxylia commented on #1680
It's a P2, not a priority.

[2017-11-14 00:49] bigangryrobot opened #1699 "[Istio Mesh] Why does istio-auth-node-agent route all traffic through itself"
I'm wondering why istio-auth-node-agent inserts a ton of routing rules on the host? This isn't called out in the documentation for mesh expansion https://istio.io/docs/setup/kubernetes/mesh-expansion.html nor can i find a reason why specifically we are routing all calls through the service as this would make it most difficult to install without breaking things. What is the goal of the mesh expansi

[2017-11-14 01:24] theganyo opened #1701 "More request and response timestamps"
Currently, there are just 2 timestamp attributes for a request in Mixer:
  request.time
  response.time

In contract, Apigee metrics uses a much more granular breakdown of request and response timestamps:
  client received start time
  client received end time
  target sent start time
  target sent end time
  target received start time
  target received end time
  client sent start time
  client s

[2017-11-14 02:28] zhaohuabing opened #1703 "Support sticky sessions for weight based routing"
The requests from the same IP are distributed to different destination services based on the weight if weight-based routing rule is applied. Let's say if I set a rule like this

[code]

The requests from the same IP are dispatched to V1 and V2 of reviews services randomly, of course,
 each version gets roughly 50% of the requests.

I'm wondering should we keep the requests from the same user/clien

[2017-11-14 02:52] gyliu513 commented on #925
I have finished this in istio charts here https://github.com/kubernetes/charts/pull/2436  , will try to create a PR for istio next week. @linsun @ldemailly

[2017-11-14 02:54] sbezverk commented on #1048
@andraxylia since I do not know  the code structure yet, appreciate if you could give me some pointers in the code it will save a bit of time. I want to look into it, if nobody else is actively working on it.

[2017-11-14 10:11] kadamvandita commented on #1372
@costinm , Any updates on this for the stable release?

[2017-11-14 11:36] vadimeisenbergibm opened #1708 "Add a check for already used wildcard addresses in buildEgressTCPListeners()"
Similar to `buildOutboundTCPListeners()`, `wildcardListenerPorts`.

[2017-11-14 12:07] uday31in opened #1709 "Ingress rules for httpbin service not working"
After publishing Ingress rule for httpbin service is accessible at "/" instead of "/httpbin"

Ingress pod shows following warning in pod log

[code]

[code]

[2017-11-14 12:21] prune998 commented on #1667
What do you mean by `incorrect timeout_ms data plane value` ?
It seems the config returned by the RDS endpoint is providing the right `timeout_ms` value to Envoy... but this value is not taken into account. This is the part I don't understand...

[2017-11-14 12:24] prune998 commented on #1667
FYI, I tried a timeout of 1000ms, (and 24h) and I still get the 15s timeout anyway :

`GET /v1/routes/7788/greeter-server/sidecar~10.20.1.108~greeter-server-1295887777-g1mr9.staging~staging.svc.cluster.local`

[code]

[2017-11-14 13:21] olofwalker opened #1710 "Problems with routing with multiple ingresses"
istio 0.2.12 running on GCE (v1.8.2-gke.0)

**Expected behaviour**
Below is a simple ingress example where we want to setup ingresses per project and route the traffic hitting these to respective service. The ingresses will share the same IP in this example.

**Result**
Requests sent to both the url's are always routed to service nginx-0-service, the second service is unreachable from the outside.

[2017-11-14 15:11] mandarjog commented on #1372
Hi vandita,
If your goal is to build and use the istioctl binary from 0.2.x, you should use bazel.

Is there a reason why you specifically want to use pure go tools to build 0.2.x ?

[2017-11-14 15:58] sdake opened #1711 "make push fails because gcr.io is hardcoded into push script"
[code]

To reproduce:
[code]

[2017-11-14 16:49] andraxylia commented on #1048
@sbezverk thanks for helping.

In general, this PR is about not giving * permissions to a role, but explicitly state them (similar to what Android does when installing an app ).

For pilot, one of the offending line is here, it gives * permissions on pods, endpoints, services, where in fact it only needs get, watch, list:
https://github.com/istio/istio/blob/master/install/kubernetes/templates/isti

[2017-11-14 18:30] rkpagadala opened #1714 "Pilot e2e test flaky"
e2etest for pilot  is flaky

Sometimes it is pod not being ready
W1113 23:03:06.460] I1113 23:03:06.428760   26348 kubernetes.go:97] Container app in Pod a-763649473-mn5qj in namespace istio-test-h7wtp is not ready

And sometimes it is failure in tests for route-rules. Increasing the config propagation timeout to 10s from 3s currently does not solve the issue, although it helps.

[2017-11-14 19:16] ayj commented on #1680
We need certs provisioned for mutating webhooks (injection) and read-only webhooks (pilot/mixer validation). If the recommendation is to use helm for this, then helm task needs to be higher priority.

[2017-11-14 20:44] guptasu commented on #777
@sebastienvas can you please help triage this and have someone look into this. We want a clean oncall bug list. This one has been hanging for some time.

[2017-11-14 20:45] guptasu commented on #1229
Hi @ldemailly can we close this if no one is looking into it and it is not happening right now ?

[2017-11-14 20:45] guptasu commented on #1229
or reduce the priority to p2 or something.

[2017-11-14 22:33] rshriram commented on #1667
The problem is that we don’t allow 0s timeout ie explicitly disable timeout. The Envoy config should have timeout: 0

[2017-11-14 23:38] ldemailly opened #1723 "mixer: set of rules for perf testing"
it'd be great to have a set of rule such as

s1 -> s2 is always cached

s2 -> s1 is not cached  (optionally/fancier: unless header X is present)

that way with one setup we can get both/worse case scenario

[2017-11-15 00:14] FanghuiQ opened #1724 "config: assign GUIDs to Istio meshes and clusters"
Istio config system should assign a GUID to an Istio mesh so it is identifiable; potentially assign a user friendly display name as well. The same needs to be done for clusters.

[2017-11-15 00:51] kyessenov opened #1727 "First class workloads in Istio"
(thoughts after discussion with @mandarjog @louiscryan)

There is currently a gap in Istio model for naming and assigning config to workloads. We've made a simplifying assumption early on that workloads (e.g. pods) carry _source service_ attribute, and that drives the entire Istio request processing workflow from pilot configuring envoys to mixer selecting configs for a request. We need to address

[2017-11-15 01:11] ayj commented on #1727
`source.workload` instead of `source.service` makes some sense. The need for `destination.workload` is less clear to me.

A server Proxy/Mixerclient needs to invoke Check() conditional on local route/domain/port info (e.g. destination.service) for things like Quota and APISpec and not simply rely on Mixer to disambiguate.

[2017-11-15 01:18] kyessenov commented on #1727
@ayj agree that destination workload should _always_ lead to derivation of a derivation service. I can't come with a case when a workload can address another workload without a name. This derivation can be made deterministic with mTLS and authority enforcement. I'm suggesting here that either Mixer or Pilot needs to push the derived attribute down to the proxy.

[2017-11-15 02:35] prune998 commented on #1667
Well, when calling the istio-pilot RDS endpoint, I do see the `timeout_ms` as specified in the RouteRule, so my understanding is that Envoy is getting the value.
While we can't set it to 0 as Istio don't support it, it should support a large value, many seconds or hours.
What I see is that it does not. Whatever the value, the timeout is always 15s...

I'm really confused by this issue...

[2017-11-15 03:11] linsun commented on #1618
email discussion:  https://groups.google.com/forum/#!topic/istio-users/EEhKrspuH10

PR for API:  https://github.com/istio/api/pull/236

[2017-11-15 03:18] linsun commented on #1618
cc @kyessenov @ZackButcher @louiscryan on user cases ^^

[2017-11-15 05:59] costinm commented on #1727
I think it is reasonable to make most decisions based on the identity and
attributes of the workload - both for source and destination.

source.service doesn't make any sense - a workload initiates the request,
and it may belong to multiple services with no way to
determine in which capacity it is acting.

destination.service is also tricky - what if a request is made directly to
the IP.

My only

[2017-11-15 06:16] #1569 closed

[2017-11-15 07:47] rshriram commented on #1667
On Wed, Nov 15, 2017 at 8:05 AM Prune Sebastien THOMAS <
notifications@github.com> wrote:

That seems unlikely. Take a look st the generated config files in
istio/pilot/proxy/Envoy/testdata/..-timeout-..json

The bug you are looking for is in proxy/Envoy/route.go. Just remove the
check for >0 timeout value.

[2017-11-15 08:00] kameshsampath opened #1733 "istioctl does not work for Kubernetes kind `List`"
[code]
when there is a Kubernetes manifest that is if of kind `List`, then  istioctl does not work injecting sidecars

e.g. maninfest
[code]

[2017-11-15 09:00] kadamvandita commented on #1372
Hi @mandarjog ,

As mentioned by you in your comments about use of bazel, which bazel version should be used to build istio? The readme file mentions 0.6.1 (But that doesn't seem to work and fails with .libs error ), as can be seen in my previous comments.

[2017-11-15 12:03] prune998 commented on #1667
Thanks @rshriram.

I think you're refering to :

[code]

Looking at this code, setting a timeout of, let's say, 120 seconds, should lead to a timeout of 120 seconds right ?
It's not the case.

I changed the `> 0` to `>= 0` and am re-building the code right now.
But again, when I look at the Pilot answer to the routing request from Envoy, I have something like :

[code]

Still, the 120s timeout is

[2017-11-15 13:05] prune998 commented on #1667
I spent some time testing Envoy using RDS or local config simplified config, and everything is working as expected, still, I hit the 15s timeout when the full config is coming from Pilot.
My expectation so far is that "something" is overriding the timeout somewhere...

[2017-11-15 14:00] loewenstein commented on #407
I just tried to access the vocabulary document above and access seems to be restricted.
I requested access. However as I already requested access to other design documents with no response yet I thought I'd ask here as well.

[2017-11-15 14:22] #1653 closed

[2017-11-15 15:05] prune998 commented on #1667
OK, so after some more debug, I'm still not sure if I understand clearly what is going on here, but here is what's going on :

client in a pod tries to reach the service:7788
service forward to the server pod, port 7788
an IpTable rule forward traffic from port 7788 to Envoy:15001
Envoy proxy traffic to <???>:7788

Looking at the logs, it seems that Envoy is thinking the "cluster" to use (ie, the

[2017-11-15 16:31] kameshsampath opened #1734 "istioctl does not work within cluster"
When we try to execute `istioctl` from within kubernetes cluster it fails with the following error searching for default NS.  IMHO the tool should try to fallback to incluster configurations something like https://github.com/kubernetes/client-go/blob/master/examples/in-cluster-client-configuration/main.go#L32  when its not able to find the configuration in default location `~/.kube/config` or via

[2017-11-15 16:57] prune998 commented on #1667
@rshriram, could you point me to the right location in the code where the buildInboundHttpRoute is defined ? Is it in Pilote ?
I would like to test the 2nd option.

I'm not a dev (more a sysadmin, maybe a bad SRE :) ), but I would like to implement option 2 and maybe do a PR. Of course, I hope it's in Istio, because my GO is not so bad, but I won't be able to change the  C++ code of Envoy...

[2017-11-15 17:14] sebastienvas commented on #777
I don't think we want to remove it from the oncall, we should leave it such that the next oncall does not create a duplicate. There is a issue file for GKE to fix this. I don't think there is anything else we can do.

[2017-11-15 17:29] linsun commented on #1710
I dont think you could have 2 services where both uses /.* as the path.  If you want traffic to route split to nginx-0-service and nginx-1-service, you should make them the same service but put weight for them in a route rule.

@frankbu @rshriram knows this more and may want to chime in.

[2017-11-15 17:32] ayj commented on #1734
See https://github.com/istio/istio/pull/1735 for fix cherry-picked from old pilot repo.

[2017-11-15 17:54] frankbu commented on #1710
If 2 projects are visible through the same ingress IP (e.g., 1.2.3.4), requests need to somehow specify which service they are for. For example, a path prefix can be used:
[code]
or, the host header:
[code]
In either of these cases, you would specify the appropriate path or host in the two ingresses (instead of `path: /.*` in both).

A third option, which is not currently supported, but will be in

[2017-11-15 18:50] olofwalker commented on #1710
@frankbu

The following request:

`curl -v http://1.2.3.4/nginx.conf -H "Host: ingress.customer2.example.com`

I up until now assumed would matched Ingress "nginx-1-ingress" , as it has a `host` field in `rules:` that matches the host header, but this is clearly not the case ?

The `path: /.*` field I just assumed would match anything after `/`

So I removed the path from the rule and tested again

[2017-11-15 19:28] frankbu commented on #1710
Oh, sorry, I didn't notice the host fields in your ingress. That should work.

The curl example in your post doesn't match the host header in the ingress (i.e., `ingress.customer2.example.com` vs `ingress1.customer2.example.com`). Maybe that's the problem?

[2017-11-15 19:34] olofwalker commented on #1710
@frankbu Sorry, attempt to redact the real urls generated some typos, they are corrected now to reflect how they are used.

[2017-11-15 20:11] tagarwal commented on #1194
seeing this with 0.2.12 as well
I don't have mTLS enabled
The services were kube-injected into the mesh
seeing these errors in kube-pilot
[code]

Due to which calls to the service are not being routed through proxy,
[code]
As we can see the Server is nginx, rather than envoy

[2017-11-15 20:37] frankbu commented on #1710
Hmm, I think your example should work. If not, I would say there's a bug. Did you try putting both host rules into one ingress resource, instead of two?

[2017-11-15 21:20] prune998 commented on #1667
So, I did some more more more testing, and compiles Pilot with this change :
[code]

I also added some more debug, but from what I see, I'm not in the right place...
Also, I tcpdumped the traffic between Envoy and Pilot, and while Envoy is receiving the `cluster` config for `in.7788`, there is no route associated, so the timeout is never set...

I'm still missing something there...

How does Envoy

[2017-11-15 22:56] andraxylia commented on #777
Clarification if issues are followed up by the original person oncall, or handed over to the next person is missing from the oncall duties.

In any case, we should not change the oncall label, maybe just re-assign if it is handover.

As for this issue, we got to the bottom of it, it is a bug out of our control. We can work around it by changing our scripts to delete any LoadBalancer type service b

[2017-11-15 23:00] andraxylia commented on #407
Are you a member of istio-dev@googlegroups.com ? All docs are in the community drive, accesible to istio-dev.

[2017-11-16 00:06] douglas-reid opened #1738 "Mixer Client Cache Improvements"
Epic for tracking overall work on improving the caching of Mixer Check() requests on the client/proxy side. This includes protocol changes (in istio/api), client code changes (in istio/mixerclient), and Mixer service code changes (in istio/istio).

Proposal doc: https://goo.gl/3QP4FJ

[2017-11-16 02:01] rshriram commented on #1667
On Thu, Nov 16, 2017 at 2:50 AM Prune Sebastien THOMAS <
notifications@github.com> wrote:

In resources.go, under httpRoute, I think the timeout_ms field has
omitempty setting. I think that needs to be removed. But you are on the
right track. Also you need to look for the timeout setting in RDS
(route/virtual host) and not in clusters/CDs. That connect timeout is for
tcp connection establishment t

[2017-11-16 02:05] djgilcrease commented on #1419
Please do not forget the ability to add custom root CA's, eg internal company CAs for internal services.

Also better documentation about this would be good as it took me a few days to track down the cause of the error ```http: server gave HTTP response to HTTPS client``` I was getting from my go service when deployed to k8s with istio side car and talking to an external service

[2017-11-16 05:24] mattklein123 commented on #1667
sidecar on the server receiving inbound traffic, I am suggesting that
timeouts be disabled by setting “timeout_ms: 0” in the route config in both
ends. This should effectively disable timeouts right?

Yes for streaming APIs timeouts must be disabled on both ends. We will be adding streaming timeouts soon.

[2017-11-16 05:59] ayj commented on #1727
the IP.

Mixerclient defines policy (e.g. quota, apispec, authn) per service. Pilot can provide service identity through authority (e.g. domain:port) with some reasonable default behavior (e.g. falllback default service name).

[2017-11-16 08:26] olofwalker commented on #1710
Unless I'm missing something here it seems to be a bug, yes. Tried to merge the resources, same result.

[code]

[2017-11-16 08:32] olofwalker commented on #1710
@frankbu I merged the Ingress resources and got the same result, I think this is a bug unless someone can point to something in the config.

[2017-11-16 14:09] prune998 commented on #1667
sounds removing the `omitempty` in the route type is the only thing needed... will submit a PR once my tests are all done

[2017-11-16 17:43] Stono opened #1752 "Multiple ingress IPs"
Hi all,
I'm relatively new to istio and currently trying out some more complex scenarios and can't figure out from the documentation of this scenario is supported - and would really like guidance.

At a very high level, I have an istio deployment setup with mutual-tls so when I deploy pods with istioctl, the sidecar transparently handles the mtls for me, which is wonderful.

However, there are cer

[2017-11-16 18:28] kyessenov commented on #1752
cc @louiscryan for multiple gateways.

[2017-11-16 18:31] ozevren opened #1753 "CircleCI/codecov.sh is consistently failing."

[2017-11-16 18:33] ozevren commented on #1753
https://circleci.com/gh/istio/istio/1479?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

The codecov.sh is consistently failing in CircleCI. I've been unable to glean any useful information at the moment.

[2017-11-16 18:36] tagarwal commented on #1194
One more point if it helps
when we do kube-inject prior to deployment in kubernetes this works for me
so kubectl apply -f <(istioctl kube-inject -f deployment.yaml), this works

But if this is done

1. kubectl apply -f deployment.yaml
2. kubectl get deployment xyz -o yaml | istioctl kube-inject -f - | kubectl apply -f -

Then I start seeing the collision in istio-proxy container log

[2017-11-16 18:40] Stono commented on #1752
FYI I first thought that creating a service with an external IP and using `--includeIPRanges` would work, however as the clientIP is masked by the cluster service the sidecar still intercepts the ingress traffic and expects client certs.

[2017-11-16 18:46] kyessenov commented on #1194
Unfortunately, there is an issue with liveness/health probes on the pod ports that are used for the service. The warning you see is about the case when the pod port is exposed as a service, and also used as a liveness/health probe. The simplest workaround (that also works for mTLS mode) is to use exec probes with curl, until we fix this bug properly in the upcoming releases.

[2017-11-16 18:55] ldemailly commented on #1076
Andra has started a doc: https://docs.google.com/document/d/1XVigTQ1pZZIdfm94MyQChexh8BFTMjZSiCbVtMtT-7I/edit#heading=h.x9snb54sjlu9

[2017-11-16 19:03] ldemailly commented on #1684
none high, also 0.2.9 is old

[2017-11-16 19:10] ldemailly commented on #1691
There aren't any high vulnerability in the proxy_debug (#1684)

For mixer image the "4" high are really a single duplicated one
https://people.canonical.com/~ubuntu-security/cve/2017/CVE-2017-9445.html
about dns and thus irrelevant (as dns in the image isn't used/reachable)

[2017-11-16 19:17] ldemailly commented on #1229
I haven't seen the flackyness - sadly I don't know if those important tests are still running

[2017-11-16 19:17] #1229 closed

[2017-11-16 19:21] ldemailly opened #1755 "mixer in non-default domain name of kubernetes"
@fleeto commented on [Fri Oct 27 2017](https://github.com/istio/issues/issues/113)

**Is this a BUG or FEATURE REQUEST?:**

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):

Yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is

[2017-11-16 19:24] ldemailly opened #1756 "Add IPv6 Support"
@danehans commented on [Mon Oct 30 2017](https://github.com/istio/issues/issues/115)

**Is this a BUG or FEATURE REQUEST?:**
FEATURE REQUEST

**Did you review existing epics or issues to identify if this already being worked on?**
Yes

**Bug:**
N

**Feature Request:**
Y

**Describe the feature:**
The Kubernetes community is in the process of adding IPv6 support and https://github.com/kubernetes/ku

[2017-11-16 20:02] costinm commented on #1684
Do you have a run for 0.2.12 ?

We need  to track this - it seems we mostly need to update to current versions of the packages.

[2017-11-16 20:07] costinm commented on #1691
Using 'scratch' is an easy fix for this problem - but will make debugging
more difficult. We do need debug/perf tools at least for -debug images.

Making sure we upgrade all packages to the current version should take care
of most of those issues.

On Thu, Nov 16, 2017 at 11:10 AM, Laurent Demailly <notifications@github.com

[2017-11-16 20:19] tagarwal commented on #1194
@kyessenov Thanks for the reply
Would reseting the pod help in anyway for now

[2017-11-16 20:55] prune998 commented on #1667
Now I can set the timeout_ms to 0, my Stream gRPC connexions are working fine.
Still, I see the Envoy proxy process restarting every 30 mins, breaking the TCP connexion.
It seems to be the `pilot-agent` that is restarting it... I'm digging in the doc but can't find any info on that ? Could you help a little ?
Thanks @rshriram

[2017-11-16 20:56] kyessenov commented on #1667
I think it's due to Istio CA re-issuing new certificates. Do you have mTLS
on?

On Thu, Nov 16, 2017 at 12:55 PM Prune Sebastien THOMAS <
notifications@github.com> wrote:

[2017-11-16 20:57] prune998 commented on #1667
no mTLS (no auth) used

[2017-11-16 20:59] kyessenov commented on #1667
Can you fetch the logs from the sidecar container? It should print out the
reason for restart. Something is triggering the base config change or certs
change.

On Thu, Nov 16, 2017 at 12:57 PM Prune Sebastien THOMAS <
notifications@github.com> wrote:

[2017-11-16 20:59] andraxylia commented on #1076
Is this issue about Bring your Own Service Name? There is nothing in the description.

[2017-11-16 21:01] prune998 commented on #1667
sure, thanks.

[2017-11-16 21:09] costinm commented on #1076
Yes, 'service alias' is part of 'bring your own service name' - but the
current design covers a bit more than aliases.

On Thu, Nov 16, 2017 at 12:59 PM, Andra Cismaru <notifications@github.com>
wrote:

[2017-11-16 21:13] baodongli opened #1758 "xDS key validation in pilot"
pilot accepts queries with keys as in below, for example:

or

The above can apply to any xDS queries for sidecar, ingress and egress.

This means, any keys with the above formats will be accepted by Pilot. Meanwhile, Pilot keeps cache for xDS queries, and never flush it. This could potentially make the cache grow out of bound if random keys are used to query it.

Keys should be validated to confo

[2017-11-16 22:32] prune998 commented on #1667
Here are the logs... it seems some certs have been updated, but I'm actually not using mTLS...

[code]

[2017-11-16 22:34] kyessenov commented on #1667
We might be watching for certs changes even if the certs are not used... This is a bug. An easy workaround is to remove Istio CA which will stop the certs reissue.

cc @myidpt

[2017-11-16 22:51] mandarjog commented on #1446
@wattli ping !

[2017-11-16 23:14] wattli commented on #1446
oh, sorry, I just saw it, there are too many emails about istio/istio and apparently I missed this one, will take care of this soon...

[2017-11-17 02:25] prune998 commented on #1667
where to remove the CA ? in Mixer ? Pilot ?

[2017-11-17 03:30] kyessenov commented on #1667
CA is another component that you might have installed as part of
istio.yaml. it's necessary for mTLS, but seems like it cause unnecessary
restarts even when mTLS is off.

On Thu, Nov 16, 2017, 6:25 PM Prune Sebastien THOMAS <
notifications@github.com> wrote:

[2017-11-17 04:27] sbezverk commented on #1449
@andraxylia if this issue is not urgent to fix, I would like to look into it. Could you please point me in the code where you have already implemented CRD watchers.

[2017-11-17 07:06] loewenstein commented on #407
No, I wasn't. Thanks.

[2017-11-17 09:28] carpenterm commented on #1277
I'm also have this use case and am seeing the same issue trying to use Istio with auth enabled.

My team has a document based persistency store that synchronizes between members over http using a gossip scheme. It generally runs with only 3 or 5 replicas and currently resides in a StatefulSet. I was hoping to use Istio to enable mutual TLS between the pods in this StatefulSet, and also for other s

[2017-11-17 09:57] archerbj opened #1763 "istio-proxy in bookinfo example keeps spamming lds fetch error , currently only static (non-CDS) clusters are supported"
Istio version : 0.2.12
kubernetes version:  1.7

[code]

[code]

[2017-11-17 10:29] dpacierpnik commented on #1636
Hi,
We also haven't managed to build Istio directly on MacOS, however we've managed to build it using Docker Tools (it does not work with Docker native driver for MacOS because of lack of support for AUFS) and Docker image with Ubuntu. We just start the container in which we build Istio and publish image to docker registry. Maybe you can also try this approach.

Cheers,
Damian

[2017-11-17 12:30] prune998 commented on #1667
I removed the CA component... wasn't aware it was there... wait and see...
Thanks again @kyessenov

[2017-11-17 16:58] nmnellis opened #1764 "Mixer adapter build issue - target 'mixer' not declared in package 'mixer'"
while trying to build a mixer adapter i get the following issue building with bazel.

I was following the example here https://github.com/istio/istio/blob/master/mixer/doc/adapter-development-walkthrough.md

ERROR: no such target '//mixer:mixer': target 'mixer' not declared in package 'mixer' defined by /usr/local/Cellar/go/1.9.1/src/istio.io/istio/mixer/BUILD.

Bazel version
[code]

[2017-11-17 17:20] theganyo commented on #1764
I believe the issue you have is because of the switch to the new single repo structure. You need update your adapter's WORKSPACE and BUILD...

in your WORKSPACE (remove mixer repo, add istio):
[code]
in your adapter BUILD (use @ refs to istio):
[code]

[2017-11-17 17:36] nmnellis commented on #1764
This is an issue with the existing default adapters as well.

[2017-11-17 17:40] theganyo commented on #1764
Yes. Please ignore my answer above. That is for an external custom adapter.

[2017-11-17 18:25] douglas-reid commented on #691
cc: @costinm

Costin, this is related to our discussion this morning. Please take a look and add comments here.

[2017-11-17 18:35] douglas-reid commented on #1764
@nmnellis as discussed on slack, I'm not able to reproduce these issues. our test and build infrastructure systems are also successful in building the existing set of adapters (and mixer as a whole).

have you tried with `bazel clean` and `bazel shutdown` to ensure a fresh start of the build ?

also, when you run a `bazel query 'deps(//mixer/adapter/<any of the adapters>:go_default_library)' do yo

[2017-11-17 18:37] douglas-reid commented on #1755
note: that in addition to update the flag for mixer, the kubernetes adapter config should also be updated.

[2017-11-17 18:41] ldemailly commented on #1755
can you spell out what the user would have to do exactly to avoid the error ?

[2017-11-17 18:53] nmnellis commented on #1764
here are the steps i retried
[code]

[2017-11-17 18:54] nmnellis commented on #1764
mixer query
[code]

[2017-11-17 19:06] douglas-reid commented on #1764
So, bazel doesn't appear to think there are any `//mixer:mixer` deps.  And, of course, nothing in the BUILD file for prometheus refers to the non-existent target.

The differences in my environment is that I'm working out of `istio.io/istio` instead of `istio/istio` with slightly different versions of bazel (a few days earlier build).

[2017-11-17 19:25] kyessenov commented on #1758
Pilot flushes the cache on any change to the inputs, but no TTLs or expirations.
I think the impact is not as big once we start using mTLS between proxies and pilot, but I agree we should add more validation for all external inputs.

[2017-11-17 19:28] baodongli commented on #1758
I also see that keys corresponding to deleted services (or pods) are not removed from the cache.

I'd like to work on this. Can someone assign this to me? thanks

[2017-11-17 19:43] kyessenov commented on #1758
/assign baodongli

[2017-11-17 19:47] kyessenov commented on #1727
ping @rshriram. I'd like to eliminate `HostInstances` use and use workload IP as the query key. This has several implications:
1. inbound calls are TCP by default (override requires pod annotations)
2. health ports are extracted from pod template and are opened up automatically.
3. mTLS vs health ports are reconciled per pod.
4. mixerfilter needs conditional attributes.

[2017-11-17 20:17] #1714 closed

[2017-11-17 20:19] costinm opened #1772 "Ingress doesn't work for ACME ( or any path with .)"
I was trying to setup an Ingress to kube-lego, to automate getting TLS cert.
It requires a rule like:

  /.well-known/acme-challenge/.*
Also tried
  /\\.well-known/acme-challenge/.*

It seems there are several problems:
- the detection of regex is based on isRegularExpression() using regexp.QuoteMeta - but that method
doesn't take into account escape characters.
- even if the path would be treated

[2017-11-17 20:56] ayj commented on #1691
Relavent for easier debugging `scratch` of images https://twitter.com/tallclair/status/931204129279524864

[2017-11-17 20:59] ayj commented on #1691
Also, eventually https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/troubleshoot-running-pods.md

[2017-11-17 21:08] ayj opened #1773 "Consider cluster scoped CRD for global mixer policy."
Kubernetes supports cluster and namespace scoped CRD. Mixer is currently using a special namespace for policies that apply globally, i.e. clusterwide. Consider introducing the equivalent non-namespaced CRDs to manage globally scoped policy.

[2017-11-17 21:17] costinm commented on #1772
It seems 'header match in ingress' not supported means that any path that is a regex - or contains . - will not work, so I suspect short term the best option is to fix 'isRegularExpression', I assume there is a separate issue to fully support the ingress spec.

[2017-11-17 21:59] kyessenov opened #1774 "RDS vs LDS for HTTP routes"
Currently, HTTP routes are captured on wildcard listeners 0.0.0.0:<http_port>. That means that combined routes for multiple HTTP services on <http_port> are aggregated in RDS, and Envoy selects a route using virtual host domains within the same listener.

An alternative design is to instead capture on the <http_service_ip>:<http_port> and avoid using virtual host selection. RDS becomes optional an

[2017-11-17 22:12] ozevren commented on #1753
It looks like the failure is due to proto files going out of sync with the generated pb files.
@guptasu is working on changes to the build system to run regular go tools as part of Prow jobs. This should avoid this type of breakages in the future.

[2017-11-17 22:15] theganyo opened #1776 "build fails on linux (gubuntu)"
As of commit: 390f196bfbdd3b04f64dd163cf360b7bc9d9509b
bazel version: 0.6.1
[code]

[2017-11-17 22:19] ozevren commented on #1776
Once you create/have a kube config, soft-linking to that folder works:

ln -s ~/.kube/config istio/pilot/platform/kube

[2017-11-17 22:25] theganyo commented on #1776
I don't have kubernetes on that box. Is that a requirement now?

[2017-11-17 22:37] theganyo commented on #1776
Ok. I got it. I created an empty file at ~/.kube/config. It builds now, so Kubernetes isn't required. It's just a bug in the build expectations.

[2017-11-17 22:58] jmuk commented on #1776
`make setup` will create the symlink too.

Some pilot tests actually want to connect to kubernetes cluster. An empty file would fix the build, but I think such tests will fail. cc @kyessenov

[2017-11-17 23:02] ayj commented on #1774
This is for inbound and outbound routes? For outbound routes, how would this would work if a source workload tried to reach a destination service through the destination workload IP or explicitly through the proxy via localhost?

[2017-11-17 23:06] kyessenov commented on #1774
Both are not supported for iptables-based routing. Direct workload IP addressing requires a dedicated port right now. Explicit routing through a middle proxy is a distinct problem.

[2017-11-17 23:10] kyessenov commented on #1774
cc @louiscryan as for gateways, since we don't have dedicated gateway IP, we can fallback to the wildcard listener. Better granularity should help with less config churn in the long run, it's strange than an HTTP route affects all routes for the same port at the moment.

[2017-11-17 23:12] ayj commented on #1774
Supported as-in we don't want to support that feature, or it won't work with current code? I thought we handled direct workload IP at one time and the iptable rules should allow for workloads to reach proxy directly via localhost and rely on host header for routing.

[2017-11-17 23:31] theganyo opened #1778 "mixc doc documents nonexistent `mixc quota` command"
The command `mixc quota` doesn't exist, but is documented here:
https://istio.io/docs/reference/commands/mixc.html#mixc-quota

The correct command should be `mixc check -q=xxx` or `mixc check --quotas=xxx`.

[2017-11-17 23:34] kyessenov commented on #1774
I think it's something we don't want to support in sidecars.
Middle proxy (which is what you're referring for explicit addressing) was always a separate proxy deployment model. This could be a per-node deployment, or a dedicated service. Sidecars assume iptables redirect, and that's what we support and optimize for at the moment.

Direct workload IP never worked for outbound requests. There's spec

[2017-11-17 23:35] jmuk opened #1779 "bin/linters.sh still uses go1.8?"
bin/linters.sh complains some of my local changes of using `t.Helper()` function which was added by go1.9.

linter is running within a docker container, so -- I think it runs with go runtime built on go 1.8?  Should we update to 1.9? The bazel build already uses 1.9.1.

[2017-11-17 23:37] kyessenov commented on #1774
There's one extra upside of not parsing hosts - IPs are not contextualized by source, while authority headers differ between DNS contexts.

[2017-11-17 23:42] kyessenov commented on #1779
Yes it does. Please re-build docker image for gometalinter (https://github.com/istio/istio/blob/master/pilot/docker/Dockerfile.lint)

[2017-11-17 23:52] ayj commented on #1774
I was considering explicit addressing in the context of consistent transparent proxying (network capture). There might be confusion around inconsistent auth/policy between services depending on how that remote service was addressed.

[2017-11-17 23:55] kyessenov commented on #1774
In k8s, we should only support addressing via VIP when it's available in the sidecar. The issue seems to be Consul environment, with no VIPs assigned. Perhaps, may need both modes of operation. The current way is somewhat strange as it routes based on HTTP port, but not HTTP destination IP. If we do transparent proxying then we should rely on both matching the expectation, and if we don't, then we

[2017-11-18 01:32] #1711 closed

[2017-11-18 03:23] andraxylia commented on #1277
Thank you @jpkrohling and @carpenterm for the realistic use cases, will bring this up in the discussions about the roadmap.

[2017-11-18 04:35] sdake opened #1781 "e2e tests for pilot fail"
In a recent development guide PR, this error popped up:

https://storage.googleapis.com/istio-prow/pull/istio_istio/1746/istio-pilot-e2e/80/build-log.txt

As no code was modified, having a deeper look:
[code]

The implication of the ECONNREFUSED is that either kube-apiserver is not operational or there may be a synchronization point missing before infrastructure is deployed.

[2017-11-18 04:43] sdake commented on #1781
This looks suspicious:
[code]

[2017-11-18 05:04] sdake commented on #1781
this sync point looks ok although a stronger sync point would be to verify the various pods are operational on the existing 1 node:
https://github.com/istio/istio/blob/master/prow/cluster_lib.sh#L60-L68

Even though the namespace is present, that may not be enough to guarantee that kubernetes itself is ready to operate.

[2017-11-18 05:20] sdake commented on #1781
timestamp of infrastructure reported as operational in the test cases:
[code]

timestamp of failed test case:
[code]

Just speculating, but the 7 seconds may not be sufficient to handle CRD rest operations.

[2017-11-18 06:20] rshriram commented on #1727
Well, I am glad that you have finally decided to ditch the host level sidecar :). While this is generally in the right direction, my main concern is that we are losing a bunch of out of the box features that users have become used to so far. The key feature being metrics for inbound http, and the access logs on the inbound path.

Not worried about websockets because it works out of the box with tc

[2017-11-18 06:25] rshriram commented on #1772
We already have a bug for this. Dots in the path/prefix won't work. Some gRPC users noticed this.

We dont allow regex in our ingress because we cannot combine with teh internal route rules. If we stop doing the application of route rules to ingress, then we might be able to use regex always, but that will result in fractured user experience. Take a look at the combinePathPrefix in route/resources

[2017-11-18 08:33] rshriram commented on #1774
One advantage of the vip thing is that metrics might be better.

As you pointed out, there are no vips outside kubernetes. Esp in cf.

Even dns might not exist, ie we didn’t have a requirement that sidecar will
always trap by iptables. We made it a point to allow direct access to the
proxy. You can talk to localhost proxy to do your routing. For non
transparent proxy, service ports need to be uniq

[2017-11-18 11:57] sbezverk commented on #1781
@sdake if you can list available namespaces, it is pretty much a guarantee that api server is up and running, but with the error you have pasted, you would not get anything back. If you can get logs from kube-apiserver container, it would be easier to figure out what happened.

[2017-11-19 18:44] ekarlso opened #1784 "Istio 0.2.10 - services showing as unknown"
Hi, I am not getting any services in my service group or prometheus. They are all showing unknown. Any ideas on this?

[code]

[2017-11-19 20:27] andrepinto opened #1786 "Istio: 0.2.12 - istio-proxy 15 minutes to come up"
I'm using the sample / hello world project.
After installation it was only available 15 minutes later
Please check the dates in the log:

[code]

**istio-ingress:**

`[2017-11-19 19:52:36.347][20][warning][http] src/envoy/mixer/mixer_control.cc:419] Could not convert to ip: destination.ip: `

**istio-proxy** (INSTANCE_IP is empty)
Image:
docker.io/istio/proxy_debug:0.2.12
Environment variables:
PO

[2017-11-20 10:43] kahootali opened #1788 "istioctl kube-inject not working"
I am using Minikube 0.23, Kubernetes 1.8.0 and Istio 0.2.7 on Windows 10
The issue is whenever I call
`kubectl apply -f (istioctl kube-inject -f .\svc.yaml)`
I get

But my kubectl context is set as when I call
`kubectl config view`,
 I get the desired result and even the file exists in C://,,,/.kube/config

[2017-11-20 10:53] kahootali opened #1789 "Cant Connect to Azure SQL using SideCar Injection"
I am using Minikube 0.23, Kubernetes 1.8.0 and Istio 0.2.7 on Windows 10.
I have also used Istio 0.2.12 and it also had the same issue.

I have deployed the bookinfo sample and its working fine but when I am deploying my own application which calls Azure SQL for data or other external services, it gives exception.

`A connection was successfully established with the server, but then an error occur

[2017-11-20 14:41] nmnellis opened #1791 "Feature - Add support for envoy shadow requests"
Envoy has the ability to "shadow" requests to another service. It would be great to see this as another routing rule to send requests to another service or version of the same service.

https://www.envoyproxy.io/docs/envoy/latest/configuration/http_conn_man/route_config/route#shadow

[2017-11-20 15:08] Stono opened #1792 "Ingress proxy / service mesh `guid:x-request-id` not compatible with Jaeger UI"
Hey,
I am trying to trace requests from our monitoring system through Jaeger, after following the [instructions on installation](https://raw.githubusercontent.com/jaegertracing/jaeger-kubernetes/master/all-in-one/jaeger-all-in-one-template.yml).  In my monitoring system, I am setting `x-request-id` on the request, which appears to be being reflected in Jaeger as `guid:x-request-id`:

<img width="8

[2017-11-20 15:25] nmnellis commented on #1791
this is already in master! Closing.

[2017-11-20 15:25] #1791 closed

[2017-11-20 16:26] ldemailly commented on #1791
is it ? curious which PR added it and how to configure it

[2017-11-20 16:54] nmnellis commented on #1791
@ldemailly There is no documentation yet for it but here is an example rule. https://github.com/istio/istio/blob/a97ee8df3a1bc4a163ae56aa8b9d99951c3352bb/pilot/test/integration/testdata/rule-default-route-mirrored.yaml.tmpl

[2017-11-20 17:34] kdillane commented on #1437
Is this expected to be fixed in 0.3?  Also, can this issue be worked around?  We expect near 100% uptime for the routes in our cluster.

[2017-11-20 17:52] ayj commented on #1788
istioctl uses the `HOME` environment variable to locate the default kubeconfig. This doesn't seem to be set on windows (see https://github.com/eirslett/kubectl-windows/issues/2). Maybe we need to use `USEPROFILE` [here](https://github.com/istio/istio/blob/95e7a1f3d1d5383f0353dc60977dcc2ddc6daaf9/pilot/cmd/istioctl/main.go#L489) instead on windows?

Setting the path explicitly should work, i.e. `is

[2017-11-20 19:08] ZackButcher commented on #1703
So work here would be to add the ring hash LB policy to Istio's destination policy resource.

[2017-11-20 19:51] #1662 closed

[2017-11-20 20:33] jmuk opened #1795 "update the webhook registration story"
In `pilot/platform/kube/admit/admit.go`, a comment says:
[code]

The referred issue has been fixed/closed already. Then, do we want to generate the certificates on-the-fly?  Do we need something else?  I've heard we're going to use k8s certificates API (https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/), it's unclear to me how it's aligned with this comment description.

[2017-11-20 20:33] jmuk commented on #1795
@ayj wdyt?

[2017-11-20 20:41] ayj commented on #1795
We should use k8s CA for cert provisioning. The comment is inaccurate and should read "cert consumption and webhook registration".

[2017-11-20 21:11] rshriram opened #1796 "use lyft's protoc-gen-validate in our apis"
The v2 api that we are building out in envoy is using the protoc-gen-validate plugin that automates some of the common validation tasks. It targets Go based code specifically.

We could use this in our istio/api and cut down on JSON schema style validations across our code base.

https://github.com/lyft/protoc-gen-validate

Thoughts? @geeknoid @mandarjog @ZackButcher @kyessenov @ayj

[2017-11-20 21:17] geeknoid commented on #1796
This seems very nice.

Do you know if this integrate with gogo code generation?
​

On Mon, Nov 20, 2017 at 1:11 PM, Shriram Rajagopalan <
notifications@github.com> wrote:

[2017-11-20 21:17] geeknoid commented on #1796
@wora

[2017-11-20 21:29] manlinl opened #1797 "Add regex list support to list checker adapter"
It is very useful to have a regex based list checker in Mixer. We will leverage it to implement API management authz black/white list.

[2017-11-20 21:45] kyessenov commented on #1796
It acts as another protoc plugin over protos. The generated functions `Validate()` currently target golang/proto sources. The functions are templatized (see https://github.com/lyft/protoc-gen-validate/blob/master/templates/go/ltgt.go), so all the differences in gogo would require another set of templates where it matters.

[2017-11-20 21:46] kyessenov commented on #1796
I'm targeting standard golang protobuf in Envoy contorl plane, by the way.

[2017-11-20 22:35] ldemailly commented on #1302
cc @hklai , @jasminejaksic this is a critical issue with 0.2 that needs resolution/tracking

[2017-11-20 23:04] andraxylia commented on #1302
This has currently multiple people assigned, which means nobody is working on it. I will assign it solely to you @ldemailly .

[2017-11-20 23:11] ldemailly commented on #1302
jasmine can you find an owner ? thanks! (someone from pilot and/or someone from mixer)

[2017-11-20 23:18] andraxylia commented on #1302
a) changes in pilot should completely fix the problem, no need to do anything in mixer.

[2017-11-20 23:35] ldemailly commented on #1302
mixer shouldn't be looking at pods (directly) that part of the issue is beyond the VM problem
(and so is assuming there is an app label and said label is == to the service name)

[2017-11-21 00:03] manlinl opened #1801 "Mixer quota handler interface should accept an array of qutoa args."
Today the mixer's quota handler interface accepts a single adapter.QuotaArg, which corresponds to one quota. This is inefficient. Because if n quotas are requested, there will be n calls into backend.

[2017-11-21 00:06] terinjokes commented on #491
For 0.3, do you still plan on supporting proxy traces with istio auth?

[2017-11-21 00:09] jmuk opened #1802 "mixer lint errors still exist"
Even with updating go runtime for linters to 1.9.x (see https://github.com/istio/istio/pull/1798), I see following (possibly new) lint errors for mixer. We should fix this.

[code]

[2017-11-21 00:10] jmuk commented on #1802
cc: @geeknoid @manlinl @mandarjog @ozevren @guptasu FYI

[2017-11-21 00:13] jmuk opened #1803 "allow presubmit to fail for lint errors on some components?"
I see some new lint failures coming in the mono repo, and that's because presubmit does not fail for lint failures, currently it simply prints out the lint warnings and pass through. That's mostly because we still haven't make security module pass the linters (see #1446).

Can we make linters.sh to fail for other modules? This will prevent new lint failures anymore to many of the modules.

[2017-11-21 00:16] kyessenov commented on #1803
Yes, please force linters as a presubmit check once we have lint-clean code.

[2017-11-21 00:22] geeknoid commented on #1802
These are all new and slipped in because the linters haven't been running.

On Mon, Nov 20, 2017 at 4:11 PM, Jun Mukai <notifications@github.com> wrote:

[2017-11-21 00:41] ozevren commented on #1802
I can fix these (most of it is in il code anyways). However, I'd like to do
so after I land my next 2 PRs, to avoid excessive merge issues.

On Mon, Nov 20, 2017 at 4:22 PM, Martin Taillefer <notifications@github.com>
wrote:

[2017-11-21 00:56] guptasu commented on #1802
@geeknoid @jmuk  Do we really need to fix all of these (may be in other directories too) before enabling the linter ? Can we enable linter now and start barking only if new linter errors happen. Otherwise by the time @ozevren fixes this list, there will be more and we will keep playing catchup game. Can we enforce linter now ?

[2017-11-21 01:05] jmuk commented on #1802
We should make presubmit to fail for lint errors once we clean up lint errors. Note that there are not only mixer errors but also pilot and security errors.

[2017-11-21 02:05] ayj commented on #1796
SGTM.

On a related note, it'd be great to consistently use gogoproto _or_ golang_ proto for user-facing APIs. The current mix of the two leads to funny things like parallel name-to-type maps depending on now the proto was defined, e.g.

[code]

I don't think this needs to necessarily match what `go-control-plane` uses, though I wouldn't complain if it did, since we don't mix/match those protos wi

[2017-11-21 02:09] kyessenov commented on #1796
We could use gogo and goproto at the same time, just not for the same protos. I understand the performance requirements for Mixer request-path protos, but those requirements don't apply to config protos.

[2017-11-21 02:13] costinm commented on #1772
The problem is detection of regex. Escaping the dot is fine.

Easiest fix is to document regex are not supported - and remove or fix the
broken test. Worst case a regex will show up as prefix - but it seems
better than rejecting valid prefix or exact matches.

On Nov 17, 2017 20:25, "Shriram Rajagopalan" <notifications@github.com>
wrote:

[2017-11-21 02:16] costinm commented on #1772
I mean - I want a plain prefix path, no regex. Happy to specify it with or
without escaping, but can't reject a valid use case because the path may
look like an unsupported regex. Without this both grpc and acme are
unuseable with istio ingress.

On Nov 20, 2017 16:12, "Costin Manolache" <costin@gmail.com> wrote:

[2017-11-21 02:56] rshriram commented on #1792
@objectiser ^^^

[2017-11-21 03:00] rshriram commented on #1789
this is related to the tcp egress rule that @vadimeisenbergibm is doing.. see PR #1651
until then use the includeIPranges or try accessing 443 over http (sidecar will do tls upgrade)

[2017-11-21 03:17] #1734 closed

[2017-11-21 03:19] rshriram commented on #1772
I dont mind. easy to fix.

[2017-11-21 03:38] costinm commented on #1772
Thanks. Fix is just deleting one line :-)

Afaik servlet spec still doesn't support regex in web.xml, neither does the
golang mux  - and there are few good reasons to avoid using them in routing.

On Nov 20, 2017 17:19, "Shriram Rajagopalan" <notifications@github.com>
wrote:

[2017-11-21 08:37] objectiser commented on #1792
This is a Jaeger issue, so could close this - although you might want to keep it open until fixed in case other users find the same problem?

[2017-11-21 12:58] geeknoid commented on #1796
Given that we need the perf for Mixer's stuff, so we want gogo there, is
there a compelling reason why we shouldn't be consistent and not use gogo
everywhere? I think consistency across the project is a pretty important
principle in general.

On Mon, Nov 20, 2017 at 6:09 PM, Kuat <notifications@github.com> wrote:

[2017-11-21 16:33] kyessenov commented on #1796
I think one-of serialization to JSON is different between the two (hit a
bug there). So we're imposing gogo on all projects which want to use istio
config or istio libraries.

On Tue, Nov 21, 2017, 4:59 AM Martin Taillefer <notifications@github.com>
wrote:

[2017-11-21 16:34] kyessenov commented on #1796
We also will need to write gen validate for gogo from scratch.

On Tue, Nov 21, 2017, 8:32 AM Kuat Yessenov <kuat@google.com> wrote:

[2017-11-21 17:11] roommush opened #1809 "Failed to register custom resources"
The error msg is "failed to register custom resources. Post https://kubeleteservice-ip:443/apis/apiextensions.k8s.io/v1beta1/customresourcedefinitons: dial tcp kubeleteservice-ip:443 i/o timeout. ".  I use istio 0.2.12, k8s 1.8.1.

[2017-11-21 18:51] manlinl commented on #1802
I will take care of linter error in svcctrl adapter code. Some lint error should have been fixed. But I agree with @guptasu, linter in presubmit should ignore existing problem.

[2017-11-21 18:57] manlinl commented on #1802
Some of the linter errors in svcctrl like this one
mixer/adapter/svcctrl/handler.go:89:19:warning: method HandleApiKey should be HandleAPIKey (golint)
is because the conflict between Go and proto message convention.  HandleApiKey is generated code, I don't think it is possible (or worth) to fix. Can we get an exemption on such thing?

[2017-11-21 18:59] jmuk commented on #1802
@manlinl I think that's okay. Make a comment to suppress lint errors (`// nolint: golint`). see https://github.com/alecthomas/gometalinter#comment-directives

[2017-11-21 19:01] geeknoid commented on #1802
My outstanding cache PR fixes the issues from mixer/pkg/cache.

On Tue, Nov 21, 2017 at 10:59 AM, Jun Mukai <notifications@github.com>
wrote:

[2017-11-21 19:01] Stono commented on #1792
I think it makes sense to keep it open, I came here first looking for answers before I spoke with the jaeger devs!

[2017-11-21 19:21] jmuk opened #1812 "shared module for validator webhook server"
Currently `pilot/platform/kube/admit/admit.go` defines the http server which behaves as k8s external admission webhook for validating pilot config. #1728 is going to add the webhook for mixer config.

The abstract server code (i.e. http server / certification / webhook registration) would be quite similar, although currently it is hard to merge them since some data types are incompatible for histo

[2017-11-21 19:37] ayj commented on #1812
/subscribe

[2017-11-21 20:01] baodongli commented on #1758
I am looking at a couple of approaches
 1. Methods in controller code such as platform/kube/controller.go doesn't return error when the result is empty. The methods can either return error, or the caller can check the result in addition to the error to decide if it's a success. This approach takes an easy road, and doesn't validate the key. Also the existing controller methods take partial informa

[2017-11-21 20:23] mandarjog commented on #1812
/subscribe

[2017-11-21 20:24] kyessenov commented on #1812
/subscribe

[2017-11-21 20:58] gnirodi commented on #1224
Hi Laurent / Costin (and Jose Ortiz)

I've updated the design doc with comments from the community so far. Please could you review the design doc towards eventual approval.

Note: Does anyone know how to reach Jose Ortiz? He seems to be one of the reviewers on the Environments Working Group but there's no email listed there and nor do I see him listed as a github member.

Thanks,

Gautam

[2017-11-21 22:38] manlinl commented on #1797
Done in https://github.com/istio/istio/pull/1800

[2017-11-21 22:38] #1797 closed

[2017-11-21 23:08] jmuk commented on #1446
Seems there are several others. Maybe new things came in meanwhile, or the original reports were missing some portion. Let me reopen either way. Here's what currently the linter says:
[code]

[2017-11-22 01:01] JimmyCYJ commented on #1446
Thanks for letting me know. Will fix them soon.

[2017-11-22 01:10] kyessenov commented on #1758
cc @andraxylia @ZackButcher @nmittler

[2017-11-22 02:59] hzxuzhonghu opened #1822 "Example Bookinfo, I can not see how to use envoy?"
I can not see how sidecar is used for traffic ingress and egress. As pod `productpage`, I can see it listen on 9080 and request to backend service directly. How sidecar used for traffic?

[2017-11-22 03:03] hzxuzhonghu commented on #1822
sidecar container, It does not include listener in config file. And only listen on port in control plane.
[code]

[2017-11-22 04:16] liangrog commented on #1709
I can confirm I encountered the same:

[2017-11-22 04:14:22.729][259][warning][http] src/envoy/mixer/mixer_control.cc:419] Could not convert to ip: destination.ip:
[2017-11-22T04:14:22.729Z] "GET / HTTP/1.1" 200 - 0 11602 13 9 "192.168.2.222, 100.96.7.0" "curl/7.29.0" "5551708a-a381-9630-8537-fbba21aac605" "acc4a702ccda411e7bd6a0ab14db3372-2086655442.ap-southeast-2.elb.amazonaws.com" "100.96.7.27: