[2020-05-13 04:31] #20116 closed

[2020-05-13 04:33] howardjohn commented on #19970
There is a flag to switch behavior; PILOT_SCOPE_GATEWAY_TO_NAMESPACE. The problem is we will break 99% of users if we change this in a release, even our demos rely on this scoping

[2020-05-13 04:36] howardjohn commented on #23795
We need to impotr this in https://github.com/istio/istio/blob/705b21cd474e645d87f8784b70c4d748c077c27d/pkg/config/xds/filter_types.go

[2020-05-13 04:39] pandey-adarsh147 commented on #23746
I am using istio version 1.5.2. Also, confirmed v1.1.3

[2020-05-13 04:40] howardjohn commented on #15843
We have removed manifest migrate so I think this is not relevant anymore?

[2020-05-13 04:40] #15843 closed

[2020-05-13 04:44] howardjohn commented on #17518
I don't think this is relevant now

1 less docker image to manage - fixed, we have a single image
1 less docker image to pull - fixed
1 less thing to do when we restart envoy - no more hot restarts
1 step closer to removing pilot-agent - I think with just this change you could use upstream envoy (with turned off, sds turned on if you care about certs) - no longer a goal, we have a lot of logic in

[2020-05-13 04:44] #17518 closed

[2020-05-13 04:45] howardjohn commented on #17763
related https://github.com/istio/istio/issues/7990

[2020-05-13 04:47] howardjohn commented on #17962
Just seeing this now. Sorry we didn't do a great job here. At this point this is old enough that I don't think there is any action we need as we don't suppotr the old 1.3 docs anymore. Sorry we didn't improve this earlier

[2020-05-13 04:47] #17962 closed

[2020-05-13 04:49] howardjohn commented on #18034
Strongly recommend open API over webhook, webhooks cause nothing but pain :slightly_smiling_face:

[2020-05-13 04:50] howardjohn commented on #17969
I think this has been improved a lot in 1.6 - in too many PRs to link here.

[2020-05-13 04:50] #17969 closed

[2020-05-13 04:51] howardjohn commented on #18081
This is fixed now, I couldn't find the PR though

[2020-05-13 04:51] #18081 closed

[2020-05-13 04:52] howardjohn commented on #18090
Closing as this is now fixed in 1.5+ by default

[2020-05-13 04:52] #18090 closed

[2020-05-13 04:55] incfly opened #23799 "grafana mtls disable peer authn policy exists, mismatching the authn task doc"

[2020-05-13 04:55] howardjohn commented on #23746
So you see on 1.5 and 1.1?

[2020-05-13 04:55] howardjohn commented on #23746
Is your test app public so we can reproduce?

[2020-05-13 05:01] #13512 closed

[2020-05-13 05:01] #14366 closed

[2020-05-13 05:07] xhhoho commented on #23753
+1, I think we need more sidecar options

[2020-05-13 05:26] Atreus-Technologies opened #23802 "Istio blocking initContainer traffic (using Istio CNI)"
Hoping someone can help with this issue. I have a few initContainers which need to reach out to download various bits and pieces before my application containers spin up.

Currently I'm getting errors trying to deal with any HTTP(S) traffic but IP layer traffic seems fine.

I have the CNI plugin running (rather than using Istio's traditional initContainer approach to configure IPTABLES).

E.g., in

[2020-05-13 05:26] chadlwilson commented on #23064
`1.5.3` has been released - i believe this fix is in that, although not in release notes at https://istio.io/news/releases/1.5.x/announcing-1.5.3/

Haven't yet tested but will close this @yangminzhu - let me know if that's not appropriate.

[2020-05-13 05:26] #23064 closed

[2020-05-13 05:27] jacob-delgado opened #23803 "Accessing External Services document is out of date: outboundTrafficPolicy not found in istio configmap in istio-system namespace"
**Bug description**
Unsure if this is a docs bug or a bug in Istio.

Following https://preliminary.istio.io/docs/tasks/traffic-management/egress/egress-control/

when I run Step 1 ```kubectl get configmap istio -n istio-system -o yaml | grep -o "mode: ALLOW_ANY" | uniq``` nothing is returned.

When I look at the istio configmap in the istio-system namespace it is not present.

**Affected product a

[2020-05-13 05:28] jacob-delgado commented on #23803
cc @howardjohn @ostromart Do either of you have any information?

[2020-05-13 06:36] pandey-adarsh147 commented on #23746
Yes v1.5.2 and v1.1.
No it is not public, but it is reproducible on any istio cluster.

[2020-05-13 06:56] spacejam101 commented on #13113
/activity!

[2020-05-13 06:57] spacejam101 commented on #15277
Same here

[2020-05-13 07:44] penglei opened #23805 "Make envoy.router filter configurable"
**Bug description**
I want to disable dynamic_stats to improve envoy performance. This can be implemented by patching filter with EnvoyFilter CRD, but I found the following configuration didn't work.

[code]

After I checked the source code, I think envoy.router can be built with typed_config in buildHTTPConnectionManager.

**Expected behavior**

**Steps to reproduce the bug**

**Version (include

[2020-05-13 08:38] john-deng commented on #23753
+1， add an option to sidecar that implemented in Go will bring a lots of benefit to the community, it easier to debug, easier to understand, extend the community participants, of cause without performance compromise.

[2020-05-13 08:53] irisdingbj commented on #23803
encounter same issue

[2020-05-13 10:03] dgn commented on #23753
This is really cool. Will definitely try out mosn at some point.

Generally, we're moving away from including third-party components in upstream Istio in order to improve maintainability and limit our attack surface. Apart from that I don't really see why including the binary would be necessary, as the proxy container image is already configurable using `global.proxy.image`. Interested users are a

[2020-05-13 11:14] wangfakang commented on #23753
Sorry, maybe I did not express clearly. The `proxyv2` image produced by `make docker.proxyv2` only contains the `pilot-agent` and `envoy` binaries, so users can only choose `envoy` as the sidecar, so they need to modify the Istio `Makefile` file  to support `proxyv2` image integrate `mosn`, just like integrating `envoy`.

[2020-05-13 11:22] ragunathan23 commented on #22068
@devstein Could you please help with this request.

[2020-05-13 11:30] ragunathan23 commented on #22068
[envoy-rate-limit.txt](https://github.com/istio/istio/files/4621609/envoy-rate-limit.txt)

@devstein could you please help with this request?

[2020-05-13 12:05] simox-83 commented on #23073
Just to let you know that I am using OPA (Open Policy Agent) to prevent this and it seems to work.
Happy to share the details if needed.

[2020-05-13 12:47] metacosm opened #23808 "Istio 1.5.4 should be promoted as a release since people shouldn't use 1.5.3"
**Bug description**
1.5.3 is still being promoted as the latest release which `curl -L https://istio.io/downloadIstio | sh -` to download it instead of 1.5.4

**Expected behavior**
1.5.4 should be downloaded

[2020-05-13 12:59] irizzant commented on #17378
For kubespray I updated:
roles/kubernetes/master/defaults/main/main.yml

 to be like:
[code]

and then I updated the cluster with the corresponding playbook. This way the cluster can be restarted and it takes the configuration straight away.

[2020-05-13 13:03] linsun commented on #23753
cc @istio/steering-committee FYI I am not sure if we want to allow users to easily configure another data plane like MOSN... istio is being perceived as complicated and I'd rather not introduce a data plane variation.  Perhaps it is interesting if we could standardize a test complaint suite to allow MOSN with istio control plane being istio compliant.

[2020-05-13 13:21] howardjohn commented on #23746
I have done a fair amount of performance testing and have not sent his. It would be really helpful if you had a reproducable example as there are many variables that could impact this

[2020-05-13 13:56] wangfakang commented on #23753
Yeah, I think it's a good idea. In this way, list the supported data planes in the Istio‘s document, such as Envoy, MOSN. Allow users could choose the data plane according to their own scenarios.

[2020-05-13 14:08] #23319 closed

[2020-05-13 14:08] istio-testing opened #23809 "[release-1.6] Neither validate nor suggest alternate revision injection labels"
Manual cherrypick required.

#23756 failed to apply on top of branch "release-1.6":
[code]

[2020-05-13 14:09] gargnupur commented on #23782
@esnible : Does this error go away if you don't do step 6 and still see the metrics?

[2020-05-13 14:10] howardjohn commented on #23808
Thanks, sorry about that. Its published now: https://github.com/istio/istio/releases/tag/1.5.4

[2020-05-13 14:10] #23808 closed

[2020-05-13 14:14] #23735 closed

[2020-05-13 14:17] howardjohn commented on #23753
So my understanding is the main asks here are

* Include MOSN into the proxyv2 image
* Recommend MOSN in our official docs

Neither of these are require for Istio to simply support/work with MOSN, which it does today as far as I can tell. Rather this is more about making things "official".

My 2c is that we should continue to make Istio flexible enough to support projects like MOSN, by allowing op

[2020-05-13 14:18] irizzant commented on #22220
Hi @incfly
if I deploy Elasticsearch using [this chart](https://github.com/bitnami/charts/tree/master/bitnami/elasticsearch/templates) with `values-production.yaml` you can see this is the kind of resources deployed:
* coordinating only: Deployment
* data + master: StatefulSet
* ingest: Deployment

so that would explain why elasticsearch-elasticsearch-data-1 -> elasticsearch-elasticsearch-master-2

[2020-05-13 14:20] gargnupur commented on #22068
@ragunathan23 : some answers below:

This is the ratelimiting service that actually does the ratelimiting. You can take a look at envoy/lyft's open source ratelimiting service for this(https://github.com/envoyproxy/ratelimit)

Don't think so..

You can verify from proxy config. You can get that via istioctl (https://github.com/envoyproxy/ratelimit) or getting a config dump via curl.. something lik

[2020-05-13 14:20] VRanga000 commented on #7607
I am also using Istio (1.5.1) in EKS (1.15.11). Just like @jaepyoung, setting `externalTrafficPolicy: Local` in the Istio svc gateway does not set the client ip to the external IP.
[code]

Per the [kubernetes documentation, that feature is supported in GKE](https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#preserving-the-client-source-ip). Anyone having suc

[2020-05-13 14:28] howardjohn commented on #23803
Its a docs bug. The default is `ALLOW_ANY`. We are hoping to make the mesh config file just overrides for the defaults, so it should be empty for new installs in the future

[2020-05-13 14:40] howardjohn commented on #23802
This is a limitation of CNI. Because it sets up iptables rules before init containers, the traffic will be redirected to Envoy which is not yet running. There are a few workarounds that you can use. You can run as UID 1337 in the init container, or disable iptables for specific port/ip ranges (https://istio.io/docs/reference/config/annotations/).

[2020-05-13 14:40] howardjohn commented on #23802
cc @lambdai @stewartbutler if my info is outdated

[2020-05-13 14:57] aletundo commented on #23673
@hzxuzhonghu I'm trying the same with a MongoDB ReplicaSet with headless service but it doesn't seem to work.

I specified a DestinationRule for each of the Pods of the StatefulSet but I still got

`Error receiving request from client: SSLHandshakeFailed: SSLHandshakeFailed. Ending connection from 10.16.3.149:33538 (connection id: 195431)`

in the MongoDB container log when a workload with the sid

[2020-05-13 15:09] ragunathan23 commented on #22068
@gargnupur thanks a lot for your response. I am having sleepless nights with getting this up and running. Is it possible for you to look at the configuration details and suggest anything wrong?

[2020-05-13 15:11] howardjohn commented on #18169
This is how proto merge behaves: https://github.com/golang/protobuf/issues/1050

Example test:

[code]

[code]

Note this specific case is solved in Istio 1.6 via https://deploy-preview-7242--preliminary-istio.netlify.app/docs/ops/configuration/traffic-management/network-topologies/, but the general EnvoyFilter issue applies

[2020-05-13 15:19] howardjohn commented on #18233
The main issue is we probably do not want to give secret access to all sidecars, so we probably need istiod to push the secrets or something? Or I guess if they are opting into this they can configure a Role themselves to give Secret access (even to the specific secret they need)?

[2020-05-13 15:20] howardjohn commented on #18418
Fixed by ^

[2020-05-13 15:20] #18418 closed

[2020-05-13 15:22] howardjohn commented on #18448
Lets track in #14935

[2020-05-13 15:22] #18448 closed

[2020-05-13 15:22] howardjohn commented on #14935
This would have caught the pruning bugs we say @jasonwzm

[2020-05-13 15:25] esnible commented on #23782
https://preliminary.istio.io/docs/tasks/observability/metrics/customize-metrics/

OK, I deleted and recreated bookinfo but skipped step 6.  Bookinfo works.

I supplied some load and did `kubectl exec reviews-v1-5cddfdfd64-f54qf -c istio-proxy -- curl 'localhost:15000/stats/prometheus' | grep request_host`.  Also tried `grep destination_port`.  Neither had data.

There was lots of data if I did `gr

[2020-05-13 15:26] howardjohn commented on #18425
Closing as this is assumed fixed with ^. Let us know if not

[2020-05-13 15:26] #18425 closed

[2020-05-13 15:31] howardjohn commented on #18423
@lambdai is this an Envoy bug?

[2020-05-13 15:32] chadlwilson commented on #23064
Confirmed that the issue seems to be gone now in `1.5.3/1.5.4` on my limited/small test cluster. Will proceed to more exhaustive testing with active traffic. Thanks!

[2020-05-13 15:33] SuleimanWA commented on #12985
it is okay to remove the annotation if u are deploying using kubectl.

But how to solve this with continuous delivery?

[2020-05-13 15:34] howardjohn commented on #18461
There have been a number of changes to the makefiles since this issue. If you still see this in master, can you open a new issue with more details? Thanks!

[2020-05-13 15:45] omerozery commented on #22552
is this still on progress ?

[2020-05-13 15:50] nrjpoddar commented on #18169
Sorry @esnible I lost this in my email until John commented on it now. It's "networking" and we should target 1.7 if it's actually fixable.

[2020-05-13 15:52] howardjohn commented on #18169
I don't actually know if we can fix this unless we use something other than proto.merge to do merges

[2020-05-13 16:06] #18461 closed

[2020-05-13 16:24] howardjohn commented on #18565
All components now have a PBD and HPA and are fully configurable, so I think this is fixed

[2020-05-13 16:24] #18565 closed

[2020-05-13 16:29] howardjohn commented on #18515
This is done

[2020-05-13 16:29] #18515 closed

[2020-05-13 16:30] howardjohn commented on #18598
Has this been resolved in newer versions? I believe this is fixed now per above issue

[2020-05-13 16:31] howardjohn commented on #18502
Sorry this wasn't addressed earlier. node agent is no longer a part of Istio so I don't think there is any work to be done here

[2020-05-13 16:31] #18502 closed

[2020-05-13 16:33] soloitguy commented on #18598
It has!  Thanks.

[2020-05-13 16:33] #18598 closed

[2020-05-13 16:34] irizzant opened #23813 "Istio telemetry Pod crashes"
**Bug description**
Telemetry Pod is being restarted as shown below:
[code]

Logs show a number of "waiting for file" output and after 2m it crashes and it's restarted:
[code]

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[] Networking
[ ] Performance and Scalability
[X] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expec

[2020-05-13 16:34] howardjohn commented on #18639
Closing as this is tracked in https://issues.redhat.com/browse/MAISTRA-987?_sscc=t which also claims it is fixed

[2020-05-13 16:34] #18639 closed

[2020-05-13 16:38] Hmerac opened #23814 "Traffic mirroring to an external service in another cluster does not work"
**Bug description**
I'm currently trying to mirror traffic from A cluster(service) to B cluster(service), yet, when I make a request to the httpbin Service in A cluster via a `curl` Pod I created, I can see the requests in the A service, but can't see any kind of requests in the B service. Both services are injected with sidecar.

I also cannot execute `tcpdump` on sidecars because `tcpdump` doesn

[2020-05-13 16:48] stewartbutler commented on #23802
That sounds accurate to me.

[2020-05-13 16:56] georgyturevich opened #23815 "ingress-gateway does not report a span for an inbound request"
**Bug description**
Jaeger shows only one span for an ingress-gateway where the  `upstream_cluster` has the `outbound|9080||productpage.default.svc.cluster.local` when I send a request to ingress-gateway with the `x-client-trace-id` header

**Expected behavior**
I expect to see two spans in Jaeger where the first one has the `upstream_cluster` tag equal to `inbound|???`. For example, in the same t

[2020-05-13 16:58] rolandkool commented on #23770
Should have mentioned that, on a fast pod, the hostname error is not present.

01","-u","1337","-m","REDIRECT","-i","*","-b","*","-d","15020,15090","-o","15020","-x","","-k",""]}
May 07 01:30:03 internal-e34dfc9b-ppgj kubelet[1047]: {"level":"info","time":"2020-05-07T01:30:03.922107Z","msg":"nsenter done: Environment:\n------------\nENVOY_PORT=\nINBOUND_CAPTURE_PORT=\nISTIO_INBOUND_INTERCEPTION_M.

[2020-05-13 17:00] rolandkool commented on #23770
The `istio-iptables.sh` script has a single `hostname` call: https://github.com/istio/cni/blob/master/tools/packaging/common/istio-iptables.sh#L267

[2020-05-13 17:04] stewartbutler commented on #23770
OK, I think it is safe to assume that the hostname lookup issue is related
to the source of the problem, then.

A few debugging questions:
1) How is DNS configured in your system?
2) Do you notice that the slow pods are correlated with cluster events
(e.g. do they appear only on newly started or restarted nodes)?
3) Are the slow pods isolated to a single node or set of nodes? Or are they
random?
4

[2020-05-13 17:12] howardjohn commented on #18637
I believe this is fixed now but we need to add a test in  https://github.com/istio/istio/blob/c0680c17d65da6c217620b3e8c466083927b5b25/operator/cmd/mesh/manifest-generate_test.go#L163

[2020-05-13 17:15] wangfakang commented on #23753
@howardjohn About the problem of test cost,  as mentioned by @linsun `Perhaps it is interesting if we could standardize a test complaint suite to allow MOSN with istio control plane being istio compliant`  can be solved, that means one test cases could run any data plane.

[2020-05-13 17:16] rolandkool commented on #23770
1) Our setup is GKE and no customizations are done on the nodes themselves. There are Cloud DNS zones active so I expect those zones to be hit by the DNS setup on GCE nodes.
2) Slow startups are also observed on nodes that have been running for a while. Also both regular and pre-emptibles.
3) We have not checked. It seems random, but we can try to see if it could be related to for example a specif

[2020-05-13 17:29] douglas-reid commented on #23782
@esnible repeating what I added in the chat. please modify all three places in step 3.

[2020-05-13 17:55] gargnupur commented on #22068
@ragunathan23 : looks like you are mixing the config of setting up rate limit service with setting up ratelimit in envoy config.
This, looks like should go in rate limit service config:
descriptors:
             # Naively rate-limit by IP
             - key: remote_address
               rate_limit:
                unit: minute
                requests_per_unit: 20

[2020-05-13 17:57] incfly commented on #23799
False alarm. Only occurred when using demo profile, docs is not using that.

[2020-05-13 17:57] #23799 closed

[2020-05-13 17:59] howardjohn commented on #23753
@wangfakang even if we could just plug MOSN into the tests today, it still has a substantial cost. Each PR undergoes ~5 hours of testing (some in parallel), so if we were to double all of those there is a large cost. Additionally there is additional test failures to debug, development is slowed if a feature is available in MOSN not envoy, etc

[2020-05-13 18:04] linsun commented on #23753
I'm not proposing adding MOSN to our tests.  I think it is interesting for community to produce istio compliance test suites and each project who are interested in claiming istio compliant can submit its test result for approval for a given istio compliant level.

[2020-05-13 18:06] howardjohn commented on #23181
Strongly agree - there is a few issues around this so I suggest we consolidate to simplify. Lets track in https://github.com/istio/istio/issues/22950

[2020-05-13 18:06] #23181 closed

[2020-05-13 18:06] howardjohn commented on #18755
Strongly agree - there is a few issues around this so I suggest we consolidate to simplify. Lets track in https://github.com/istio/istio/issues/22950

[2020-05-13 18:06] #18755 closed

[2020-05-13 18:13] ragunathan23 commented on #22068
@gargnupur thanks for your response. Sorry for troubling you, is there a document or steps available to configure this rating limit service in Kubernetes cluster? ISTIO just says use envoy filter but there aren't details about this rating service as I understood is a pre-requisite for envoy filter to work in Istio. We are left in the dark as the mixer based rate limit has already been deprecated.

[2020-05-13 18:17] istio-testing opened #23819 "[release-1.6] patch caBundle for webhook config in remote cluster"
Manual cherrypick required.

#23758 failed to apply on top of branch "release-1.6":
[code]

[2020-05-13 18:22] #22577 closed

[2020-05-13 18:28] howardjohn commented on #18854
This looks like you are sending traffic to `192.168.192.5:8085`. Routing in Istio is based on host header, so `192.168.192.5:8085` would not be treated as "communicating inside the mesh". So I think this is expected that ServiceEntry would be needed here

[2020-05-13 18:31] linsun commented on #23819
Manual created PR - https://github.com/istio/istio/pull/23820

[2020-05-13 18:31] howardjohn commented on #18915
This is fixed by upgrading the image as above, so closing this. Thanks!

[2020-05-13 18:31] #18915 closed

[2020-05-13 18:34] JimmyCYJ opened #23821 "TLS origination for egress traffic gets 503"
**Bug description**
I am following the user guide and testing this step
https://preliminary.istio.io/docs/tasks/traffic-management/egress/egress-tls-origination/#tls-origination-for-egress-traffic

$kubectl exec -it $SOURCE_POD -c sleep -- curl -sL -o /dev/null -D - http://edition.cnn.com/politics
HTTP/1.1 503 Service Unavailable
date: Wed, 13 May 2020 18:32:28 GMT
server: envoy
content-length: 0

[2020-05-13 18:36] howardjohn opened #23822 "DestinationRule serving file over SDS grabs wrong cert"
Steps:

[code]

End result:

[code]

The file-root:deny is invalid, and file-cert:deny~deny is generating a new cert

@ramaraochavali do you have a chance to take a look? Let me know if not

[2020-05-13 18:36] howardjohn commented on #18938
This bug is fixed and resulted in another bug :slightly_smiling_face: - we will track in https://github.com/istio/istio/issues/23822

[2020-05-13 18:36] #18938 closed

[2020-05-13 18:43] Sovietaced commented on #18854
I can provide some more context now... The use case here is that we have service A which wants to make a request to **a specific pod** for service B which holds a sticky, persistent TCP connection to devices located outside the service mesh.

I'm not sure the best way to handle this use case but I ended up hacking something together that works. I updated service B to use a stateful set which gives

[2020-05-13 18:44] jacob-delgado opened #23823 "Updating (Envoy to) Proxy to Istio"
**Describe the feature request**

When istio/envoy is updated, we have to wait for a build, manually update istio/proxy, wait again for that to build and then update istio/istio with the appropriate shas. This should be triggered by acceptance into istio/envoy.

There are also only times when istio/proxy needs to be updated (not istio/envoy) and that needs to be updated in istio/istio.

This makes

[2020-05-13 18:56] #23646 closed

[2020-05-13 18:59] silverlyra commented on #22851
I went back to the [heap profile instructions](https://github.com/istio/istio/wiki/Analyzing-Istio-Performance#data-plane), but this time I scrolled up and saw the _Prerequisites_ section 🤦‍♀️.

I turned on `enableCoreDump`. I still had to make the `/var/log/envoy` directory in the `proxyv2` image itself, but at long last, we have heap dumps:

<img width="1744" alt="Screen Shot 2020-05-13 at 11 57

[2020-05-13 19:07] howardjohn commented on #22851
that looks like we might be missing some symbols or something @lambdai how do wd get those?  Did you include the PPROF_BINARY_PATH=/tmp/envoy/lib part?

It may be helpful to upload the profile and maybe we can get the symbols as well

[2020-05-13 19:38] #23710 closed

[2020-05-13 19:39] silverlyra commented on #22851
I did set `PPROF_BINARY_PATH`. `go tool pprof` wouldn’t resolve the symbols, but I installed `github.com/google/pprof` directly and for whatever reason, that works much better:

<img width="1754" alt="Screen Shot 2020-05-13 at 12 37 06 PM" src="https://user-images.githubusercontent.com/25393735/81857029-7ac87c80-9516-11ea-9191-db69729d44bf.png">

[profile001.pdf](https://github.com/istio/istio/fil

[2020-05-13 19:42] howardjohn commented on #22851
Thanks! That is super useful, looks like its part of RDS. @lambdai I think I recall you making changes to some memory usage aspects of RDS, any ideas?

[2020-05-13 20:03] linsun commented on #23819
@irisdingbj the PR is getting complicated so I closed the manual merged PR.  It is intermingled with #23331 and not sure if it is in 1.6 yet.  please manually generate a PR yourself, thank you!

[2020-05-13 20:05] howardjohn commented on #19190
Closing as this is fixed

[2020-05-13 20:05] #19190 closed

[2020-05-13 20:05] howardjohn commented on #19184
This has been fixed in master/1.6 now

[2020-05-13 20:05] #19184 closed

[2020-05-13 20:21] howardjohn opened #23828 "Improve pilot debugging around multi-network"
I have debugged 3 issues relating to networking in the past few weeks. All 3 times it was needle in haystack, we have very little visibility.

Example issues:
* ISTIO_META_REQUESTED_NETWORK_VIEW isn't as expected, so we miss endpoints
* `fromRegistry: kubernetes` instead of Kubernetes - we added `istioctl analyzer` for this
* ISTIO_META_NETWORK=default but endpoints network is `""` because meshNet

[2020-05-13 20:38] howardjohn commented on #19094
Closing as this is addressed by https://github.com/istio/istio/issues/13717

[2020-05-13 20:38] #19094 closed

[2020-05-13 20:39] howardjohn commented on #19094
Yes it happens with the same hostname in 2 virtual service sections. but its fixed in newer releases

[2020-05-13 20:41] howardjohn commented on #19101
if the application is sending HTTPS then envoy cannot operator at the HTTP level. So it cannot do things like return a 504 response, handle timeouts, etc. We can only do TCP level things, which looks like is just connect timeout and idle timeout: https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/timeouts#tcp.

So I think the only way to do this, even in theory, is to have envoy origina

[2020-05-13 20:47] justinkillen commented on #23792
Ah, yes, it does seem I have posted this in the wrong place - my bad.  I've created an issue in Calico: https://github.com/projectcalico/calico/issues/3549

[2020-05-13 20:47] #23792 closed

[2020-05-13 20:55] howardjohn commented on #19110
I attempted to reproduce:

[code]

When I applied this, requests to xip.io worked. Then, I tried nip.io (not yet in gateway) and got the same `curl: (35) LibreSSL SSL_connect: SSL_ERROR_SYSCALL in connection`.

Then i added nip.io to the gateway, and nip.io worked. This was on Istio 1.6.

So it seems like the update to the gateway just didn't go through. This could be propagation delays, but seems

[2020-05-13 20:58] howardjohn commented on #19113
I am not sure what happened here, but I don't think we can debug further without the output from Helm. Since helm support has been dropped in Istio, I think we can close this. Sorry we didn't resolve this sooner

[2020-05-13 20:58] #19113 closed

[2020-05-13 21:00] howardjohn commented on #19157
We do `--wait` already, what more is required here?

[2020-05-13 21:02] howardjohn commented on #19175
Sorry I am not sure which PR fixed this, there have been many related to this. But I have verified this is fixed:
[code]

[2020-05-13 21:02] #19175 closed

[2020-05-13 21:08] howardjohn commented on #21635
This is expected based on ^ and galley is removed now so I will close

[2020-05-13 21:08] #21635 closed

[2020-05-13 21:08] howardjohn commented on #21381
Sorry I did see this earlier - Duplicate of https://github.com/istio/istio/issues/21635 which has some more info

[2020-05-13 21:08] #21381 closed

[2020-05-13 21:09] howardjohn commented on #22938
Agreed. This is a duplicate of https://github.com/istio/istio/issues/20299, lets consolidate there. We have made some progress on this

[2020-05-13 21:09] #22938 closed

[2020-05-13 21:10] howardjohn commented on #20520
I think this is no longer applicable on master as Galley has been removed

[2020-05-13 21:10] #20520 closed

[2020-05-13 21:11] howardjohn commented on #20685
I  think this was a bug with SSE. This has been removed in 1.5, so I think this is resolved

[2020-05-13 21:11] #20685 closed

[2020-05-13 21:15] howardjohn commented on #19296
I am able to get this working With 1.6:

[code]

I think the problem is all of the configs above have the solver ingress missing the `class`. So the Ingress created won't have the `istio` class and by default the Istio ingress will ignore these.

[2020-05-13 21:21] howardjohn commented on #19262
@hubermark sorry not sure why I thought they were the same, I understand now.

I can reproduce this, thanks for the config. I will take a look

[2020-05-13 21:37] howardjohn commented on #19262
I think this is actually caused by two misconfigurations

[code]

Then send `curl httpbin.org/status/501` a few times and it will switch to 503.

The problem with httpstat is the subset doesn't actually select the service entry, so its empty, resulting in 503
The problem with the google.com one is the portLevel setting replaces, not merges, with the global settings. So you don't actually apply the

[2020-05-13 21:41] howardjohn commented on #19232
https://github.com/istio/istio.io/pull/5879/files

[2020-05-13 21:41] #19232 closed

[2020-05-13 21:42] howardjohn commented on #19302
This is working as intended prior to 1.5 citadel is needed for the webhook. It is no longer required in 1.5+

[2020-05-13 21:42] #19302 closed

[2020-05-13 21:43] howardjohn commented on #19304
Yes, you can use istioctl can configure options like this on the GW: https://preliminary.istio.io/docs/setup/install/istioctl/#configure-gateways

[2020-05-13 21:43] #19304 closed

[2020-05-13 21:43] myidpt commented on #14598
We didn't have time to cover this in today's meeting.
Today we have managed to avoid istiod accessing secrets in other namespaces. Granting istiod the permission to access secrets could be more dangerous since it's by default exposed to the public network.

With above said, the question here is do we want to offer such an option (not default) for users? What can be done to avoid / mitigate the pot

[2020-05-13 21:46] howardjohn commented on #14598
I am not really against giving an option to users (off by default) and they can make their own decisions on whether its secure or not. We do need to figure out how cross namespace references work.

1) we can look only in the namespace of the Gateway object. But in the future we may want all Gateways to reside in the same namespace as the deployment so that would undo this basically
2) allow ns/sec

[2020-05-13 21:47] howardjohn commented on #19323
https://preliminary.istio.io/docs/setup/install/istioctl/#configure-gateways for those of you who have not seen it

[2020-05-13 21:50] howardjohn commented on #19386
[code]

This is the issue ^. Seems still valid

[2020-05-13 21:51] howardjohn commented on #19420
#23076
related^

[2020-05-13 21:57] howardjohn commented on #19442
I think this is fixed by the indent - or at least in Istio 1.6 it seems to be. If that is not correct please reopen

I applied

[code]

and got
[code]

[2020-05-13 21:57] #19442 closed

[2020-05-13 22:01] nrjpoddar commented on #17763
Is there any progress on this issue?

[2020-05-13 22:01] #19604 closed

[2020-05-13 22:01] howardjohn commented on #19604
Closing as question is answered

[2020-05-13 22:02] howardjohn commented on #19480
This is now provided via https://deploy-preview-7248--preliminary-istio.netlify.app/docs/setup/install/istioctl/#customize-kubernetes-settings. Thanks!

[2020-05-13 22:02] #19480 closed

[2020-05-13 22:04] howardjohn commented on #19483
@ostromart made some changes here, this might actually be possible now -- not 100% sure

[2020-05-13 22:06] howardjohn commented on #19495
This pilot_conflict_outbound_listener_tcp_over_current_tcp is no longer an issue in Istio 1.6

[2020-05-13 22:06] #19495 closed

[2020-05-13 22:07] howardjohn commented on #19518
We are tracking shipping RPMs in https://github.com/istio/istio/issues/9117. Lets continue discussion there .Thanks!

[2020-05-13 22:07] #19518 closed

[2020-05-13 22:10] howardjohn commented on #19531
Seems reasonable, I am curious what the motivation is though?

[code]

Current non distroless images are already based on debian10 so seems reasonable. Would be welcome to see a PR, seems like its mostly about sending a tiny PR and testing it works

[2020-05-13 22:11] howardjohn commented on #19522
I think the default is set by the k8s environment/nodes, not something Istio controls?

[2020-05-13 22:12] ostromart commented on #23236
Should be fixed in https://github.com/istio/release-builder/pull/243.

[2020-05-13 22:13] howardjohn commented on #19536
I see, I didn't realize traefik would use pod IP without host header? This is tracked in https://github.com/istio/istio/issues/23494 which has some conversation around this. To simplify things, lets consolidate there. Thanks!

[2020-05-13 22:13] #19536 closed

[2020-05-13 22:16] howardjohn commented on #19570
The docs say to only apply this on 1.1 and earlier: https://istio.io/docs/tasks/observability/mixer/logs/fluentd/#configure-istio

We should probably clean this up since no one is using 1.1 now (hopefully!), but we are going to remove Mixer entirely so its wasted effort.

[2020-05-13 22:17] howardjohn commented on #19588
This is supported by `proxy.istio.io/config` option now in istio 1.6

[2020-05-13 22:17] #19588 closed

[2020-05-13 22:17] esnible opened #23834 "Ingress in CrashLoopBackoff / Envoy backtrace on invalid EnvoyFilter"
Reproduced under 1.6.0 beta.1 trying to troubleshoot https://github.com/istio/istio/issues/23782

The instructions at https://preliminary.istio.io/docs/tasks/observability/metrics/customize-metrics/ have the user customizing EnvoyFilter.  While testing that page I damaged my EnvoyFilter such that the Ingress crashed and wouldn't restart.

It was my own fault, I left off a comma and quotes in some

[2020-05-13 22:26] howardjohn commented on #19609
I am not sure we can debug this without the additional info requested 6 months ago. Without this, I wil close. If we can get more info we can investigate further. Thanks

[2020-05-13 22:26] #19609 closed

[2020-05-13 22:27] howardjohn commented on #19619
Hi @prashantchari . The prometheus installed with Istio is meant to get users quickly started. For advanced usages, you may need to modify it manually or integrate with another Prometheus installation. We have documentation for doing this at https://preliminary.istio.io/docs/ops/integrations/prometheus/. Thanks!

[2020-05-13 22:27] #19619 closed

[2020-05-13 22:28] howardjohn commented on #19626
We are no longer supporting Galley as an MCP source so I don't think there is any action items here. Thanks!

[2020-05-13 22:28] #19626 closed

[2020-05-13 22:30] howardjohn commented on #19636
These now offer the exact same flags, closing

[2020-05-13 22:30] #19636 closed

[2020-05-13 22:32] howardjohn commented on #19676
I couldn't find the PR, but i have confirmed this is fixed in 1.6:
[code]

[2020-05-13 22:32] #19676 closed

[2020-05-13 22:34] esnible commented on #23782
OK, made the JSON change to all three places in step three.  I did this using a tricky `kubectl patch` but I believe I did it correctly.  HOWEVER, THE VALUES SENT TO PROMETHEUS ARE NOT WHAT I EXPECTED.

First, here is my configuration:
[code]

Next, here is the output of `kubectl exec reviews-v1-5cddfdfd64-f54qf -c istio-proxy -- curl 'localhost:15000/stats/prometheus' | grep request_host`:

[code

[2020-05-13 22:34] howardjohn commented on #6299
Duplicate of https://github.com/istio/istio/issues/19681

This one was around first but the other has more conversation

[2020-05-13 22:34] #6299 closed

[2020-05-13 22:36] howardjohn commented on #19816
Fixed in #23314

[2020-05-13 22:36] #19816 closed

[2020-05-13 22:38] howardjohn commented on #19887
If i understand this right, this is working now? If not, please add a config dump as requested and reopen. Thanks! https://github.com/istio/istio/wiki/Troubleshooting-Istio for more info

[2020-05-13 22:38] #19887 closed

[2020-05-13 22:39] howardjohn commented on #19972
Closing as required debug info is missing. Please reopen if you can get some more info

[2020-05-13 22:39] #19972 closed

[2020-05-13 22:42] mandarjog commented on #23834
@esnible this is the designed behaviour. The alternative is to not crash and the filter `does not work`, which makes debugging harder later.

The newer filters do not crash on bad input, and just stop working. We are planning to do this for all filters in 1.7.

[2020-05-13 22:47] mandarjog commented on #23823
Updating istio/proxy --> istio/istio makes sense.
Updating istio/envoy --> istio/proxy involves API changes from time to time. But I am ok with it working auto magically, so long as it is not disruptive to dev flow.

[2020-05-13 22:50] douglas-reid commented on #23782
what value did you expect for `request_host`?  that looks reasonable to me, assuming the client used a host header of `reviews:9080`.

`destination_port` indeed looks problematic. is it potentially a problematic UTF-8 encoding or something? what does it look like in prom? do all the `destination_port` values have `x#` or are they random strings?

[2020-05-13 22:51] mandarjog commented on #23805
@rshriram ^^

[2020-05-13 22:57] mandarjog commented on #23794
At present using prometheus / prometheus federation is the correct way to go.
However we will add support for sending telemetry to stackdriver from outside gcp in 1.7 / 1.8 timeframe.

[2020-05-13 22:57] ajitchahal commented on #23767
@howardjohn Thank you for your help, I can confirm it works after this change to fault section.

[2020-05-13 22:57] #23767 closed

[2020-05-13 23:16] gargnupur commented on #23782
`destination_port` doesn't look right... will try to repro this in istio/proxy..

[2020-05-13 23:27] bianpengyuan opened #23836 "Wasm remote load expects pilot to retry on nack"
Currently when a listener update that references a remote Wasm module reaches proxy, it will kick off download at background and Nack the listener update. It expects control plane to retry on Nack, so that when the module file is downloaded, it could do synchronous config validation and reject listener update if it is not valid.

However, pilot does not retry on Nack, and listener with remote Wasm

[2020-05-13 23:40] istio-testing opened #23837 "[release-1.6] support root cert refresh and provide option to disable CA"
Manual cherrypick required.

#23331 failed to apply on top of branch "release-1.6":
[code]

[2020-05-13 23:41] jacob-delgado commented on #23782
I was able to replicate this. I've attached my filters and file I used to install (with MeshConfig)

I installed using `./istioctl manifest apply --set profile=default -f extra_stat_tags.yaml`
[filter-iop.tar.gz](https://github.com/istio/istio/files/4625226/filter-iop.tar.gz)

[2020-05-13 23:54] gargnupur commented on #23782
@jacob-delgado : what if you don't set extraStatTags? do you see the crash still?

[2020-05-14 00:11] bianpengyuan commented on #23823
Is the proposed automation to update proxy sha in istio/istio when envoy sha is updated in istio/proxy? That sounds reasonable to me.

[2020-05-14 00:21] jacob-delgado commented on #23823
Travis recently did some great work to have an issue created when /cherry-pick RELEASE fails. In the event of a failure it'd be great to have something similar. Another issue could be is that when envoy-wasm (and istio/envoy) get merged into upstream envoyproxy/envoy this workflow could break. I don't know what the horizon is for getting envoy-wasm merged into upstream envoyproxy/envoy is.

[2020-05-14 00:41] esnible commented on #23834
@mandarjog I am happy to close this issue if the intended behavior is to crash the ingress to let the user know their EnvoyFilter is invalid.

Would it not make sense to have Istio's webhook also reject any EnvoyFilter where `.spec.configPatches[*].patch.value.typed_config.value.config.configuration` is not valid JSON?  If you agree, create an issue and assign it to me.

[2020-05-14 01:05] jacob-delgado opened #23840 "Update istio/cni sha in istio/istio when istio/cni is updated"
**Describe the feature request**

Similar to https://github.com/istio/istio/issues/23823

istio/cni repo merges for a release branch should have its SHA be updated in istio/istio istio.dep file. It is possible to not have the version of istio/cni ready for consumption in the next version of Istio. Automating this process would make it less error prone.

**Describe alternatives you've considered**

[2020-05-14 01:33] howardjohn commented on #23836
If nacks are expected behavior it's going to cause some problems in my opinion. Many people have alarms set up (and they should) for NACKs - general Nack == something horribly broken.

If wasm is really going to nack for this can we possibly have special logic for wasm?

[2020-05-14 01:34] yangyongzhi7 commented on #23753
In my opinion, we should support multiple data planes for istio uses, as far as I know, some company which want to adopt isito to implement traffic management has need to enhance data plane's function  , they are limited by language because envoy is written in C++, It is very difficult to extend some filter function by writing in Golang with Envoy, otherwise, using another plane such as MOSN to do

[2020-05-14 01:35] howardjohn commented on #23834
We cannot validate this, everything under patch.value is a generic blob

[2020-05-14 01:36] howardjohn commented on #23753
@yangyongzhi7 Istio+Envoy supports extensibility via WASM which can be compiled from golang if that is a requirement

[2020-05-14 01:43] mandarjog commented on #23834
@esnible am closing this.
We can not validate it *yet*, so the only two options are crash or ignore. Since crash is in your face, users are likely to fix it right away in canary or similar.

[2020-05-14 01:43] #23834 closed

[2020-05-14 01:52] bianpengyuan commented on #23836
Yeah, would be better if proxy could populate [error status](https://github.com/envoyproxy/envoy/blob/8771d31f8595531bcd040bf6f42f7a8316c5fc9d/api/envoy/service/discovery/v3/discovery.proto#L63) and let pilot behave specially on Wasm fetch failure. @jplevyak @PiotrSikora @mandarjog does this make sense to you?

[2020-05-14 01:58] jacob-delgado commented on #23782
@gargnupur If I only modify the `stats-filter-1.6` the pods continue to stage.

[2020-05-14 02:10] mandarjog commented on #23836
We have discussed at length on if we can provide metrics on this to set appropriate alarms, but we cannot be precise.
We do have directional metrics though.

Users today expect a NACK to mean marlformed configuration, and a control plane programming error, so a 4xx.

We want to a 5xx like error, which so that control plane will retry the request.

Lack of nack does not mean working config. The cur

[2020-05-14 02:35] hzxuzhonghu commented on #23673
Did you disable the tls with a DestinationRule?

[2020-05-14 02:48] carolynhu commented on #23696
Update: after revert #23663, error log is: https://storage.googleapis.com/istio-prow/logs/daily-fortio-performance-benchmark/7/build-log.txt

[code]

[2020-05-14 03:12] rshriram commented on #23805
can we disable dynamic stats in our code? if we dont use it, it sounds useful to just disable it for general perf sake right?

[2020-05-14 03:12] tvkit commented on #23703
Here's logging I pulled from the kube scheduler.  I split the logging into two segments. The first segment shows a normal node expansion that doesn't involve the Istio proxy.  The second segment shows the failed distribution of  pods subject to the Istio proxy.

-----

The following segment shows a virtually unoccupied cluster with 4 nodes that successfully expands within the _non-auto-injected_ n

[2020-05-14 03:16] mandarjog commented on #23805
We should not disable it in general case, they are very useful. Options
1. Add to api (some where, destinationrule?)
2. It *should* work with envoyfilter , I think
3. Add a pilot option + workload annotation

[2020-05-14 03:44] istio-testing opened #23842 "[release-1.6] sds: handle file mounted certs use case in sds agent"
Manual cherrypick required.

#23647 failed to apply on top of branch "release-1.6":
[code]

[2020-05-14 04:18] yangminzhu commented on #23777
yeah, we need to replace that YAML anyway, the old Policy is gone.

[2020-05-14 04:28] Atreus-Technologies commented on #23802
Thanks all, this is the info I needed. On reflection, this is probably a weakness of K8s, as it should probably support something like runlevels rather than a binary init/application container distinction.

Would it be worth someone (potentially me) updating the CNI docs to reflect that using it will break initContainer's usual behaviour? Running as 1337 would probably cause issues with PSPs, but

[2020-05-14 04:45] ramaraochavali commented on #23805
Do we really need the config for every service and how will services figure out whether they need them or not? We should probably start with a pilot option and then if people want more control , we could add workload annotations?

[2020-05-14 04:59] carolynhu commented on #23564
Update: the root cause is `--force` flag needs to be handled properly

[2020-05-14 05:01] #15558 closed

[2020-05-14 05:01] #17556 closed

[2020-05-14 05:01] #18297 closed

[2020-05-14 05:01] #18457 closed

[2020-05-14 05:07] penglei commented on #23805
I like the third option.

In addition, According to my investigation on protobuf3, the envoyfilter patch is currently not able to do this because protobuf3 cannot distinguish between the absence of a primitive typed field and its default value.

[2020-05-14 05:15] ramaraochavali commented on #23822
@howardjohn Yes. I will fix it.

[2020-05-14 05:28] thejasn commented on #23746
Will work on getting a reproducible example. But another question related to this anomaly, the above stats was observed while using the istio-ilbgateway, but performing the same tests on istio-ingressgateway results in expected behavior.

With single instance of istio-ingressgateway,
[code]

With 3 instances of ingressgateway,
[code]
So are the two gateways that different in their implementations

[2020-05-14 05:57] rishiraaz commented on #7776
@memorais can you please help, i am using istio mtls only along with ingress-nginx (0.30). I have enabled envoy injecttion alongwith annotation traffic.sidecar.istio.io/includeInboundPorts: "".
Doesnt seem to work, my ingress-nginx-controller pod goes in crashloopback due to not able to talk to apiserver.

I0514 05:50:21.858613       6 main.go:222] Unexpected error discovering Kubernetes version (

[2020-05-14 06:38] bianpengyuan commented on #23836
Looks like `error_details` status code is hard coded to be [INTERNAL](https://github.com/envoyproxy/envoy/blob/ed6a1b8b60a23e6bae7f08f990d1680b26b26cde/source/common/config/grpc_mux_impl.cc#L202). One possible option is to extend EnvoyException to embed a gRPC status code and throw exception on Wasm remote cache miss with a more reasonable error code (Unavailable?) and let pilot retry on that. Alt

[2020-05-14 06:48] istio-testing opened #23844 "[release-1.6] Disable TransportSocket for headless service when mtls is auto detected"
Manual cherrypick required.

#21987 failed to apply on top of branch "release-1.6":
[code]

[2020-05-14 07:01] scraly opened #23845 "PeerAuthentication not working in Istio 1.5.2"
**Bug description**

**Expected behavior**

When we deploy PeerAuthentication object (for namespace-wide), it should activate mTLS in strict or permissive mide (depending on what we want).

**Steps to reproduce the bug**

1. Deploy PeerAuthentication object for a namespace:

`apiVersion: "security.istio.io/v1beta1"
kind: "PeerAuthentication"
metadata:
  name: "default"
  namespace: "test"
spec:

[2020-05-14 07:06] gongwei0921 commented on #23750
My installation method in k8s is "istioctl manifest apply --set profile = demo". When I modify the nodeport in the ingressgateway of svc, I find that the original nodeport can also be accessed. You can also access it after trying it with other computers to eliminate session problems

[2020-05-14 07:06] hendrikmaus commented on #23814
Hey, I am with @Hmerac on this one. It popped back into my head, that we can tcpdump anyway since the network interface in the pod is shared by all containers, hence we can see all packets.
Anyhow, here is what I found when curling the httpbin from the above mentioned curl pod.

[code]

The host header for the mirrored request was set to `httpbin-shadow:8000`. I would have expected to see `httpbin

[2020-05-14 07:06] gongwei0921 commented on #23750
My installation method in k8s is "istioctl manifest apply --set profile = demo". When I modify the nodeport in the ingressgateway of svc, I find that the original nodeport can also be accessed. You can also access it after trying it with other computers to eliminate session problems

[2020-05-14 07:15] irisdingbj opened #23846 "[release-1.6] istiodRemote and base can not be specified in iop in release-1.6"
Using latest rc.0 build: https://github.com/istio/istio/releases/tag/1.6.0-rc.0
`istioctl install -f multi-remote-cluster.yaml`

`Error: failed to apply manifests: validation errors (use --force to override):
unknown field "base" in v1alpha1.GlobalConfig`

`cat multi-remote-cluster.yaml`

[code]

[2020-05-14 07:27] irisdingbj commented on #23846
@linsun

[2020-05-14 07:46] ramaraochavali commented on #23822
@howardjohn Are you saying when root cert is invalid, key cert (`file-cert:deny~deny`) ? I did not understand "grabs wrong cert" part ?

[2020-05-14 07:50] dominicqi opened #23847 "Virtual Service Add HeaderOperation Not working"
**Bug description**
Use Add HeaderOperation  want append value vs comma but it add a same name new header.

**Steps to reproduce the bug**
1. one echoserver pod `gcr.io/google_containers/echoserver:1.0`
2. one curl pod .
3. VirtualService

4. curl in curl pods

5.  here is the envoy debug log

6. I see the envoy config

**Version (include the output of `istioctl version --remote` and `kubectl vers

[2020-05-14 08:00] zziawan commented on #23752
for example， deploying a service with 2 pods, with round robin load balance.  when sending requests to the service with postman, traffic always the same pod, no traffic go to the other pod.  sending batch requests with jemeter,  you can see a certain num request responsed by the same pod  then the traffic go to the next pod. it shouldn't be one pod response only one request ? thanks ！

[2020-05-14 08:07] #23561 closed

[2020-05-14 08:17] irizzant commented on #23813
UPDATE

The issue above occurs also when the cluster is started like this:
[code]

Even if 3rd party JWT is disabled (see above) the Telemetry Pod still shows:
[code]

[2020-05-14 08:26] arnecls commented on #23814
As far as I can see from the config dump, the mirroring sends requests directly to the cluster (see `requestMirrorPolicy`), i.e. the request is neither modified nor goes through any kind of routing (like one would expect when setting up a virtual service for the mirror target in the source cluster).

I.e. the `host` of the curl request should be `httpbin.default.svc.cluster.local` or any kind of a

[2020-05-14 08:48] xiewenzhou commented on #18293
what the "security.istio.io/tlsMode:istio" feature?

[2020-05-14 08:58] ramaraochavali commented on #23752
@zziawan Please refer to this FAQ https://www.envoyproxy.io/docs/envoy/latest/faq/load_balancing/concurrency_lb

[2020-05-14 09:17] hendrikmaus commented on #23814
The `httpbin-shadow` comes from Envoy; its mirroring module suffixes the `host`/`authority` header with `-shadow` and the port is added at the very end as well.

We curled `http://httpbin:8000/status/200` in cluster A.

[2020-05-14 09:17] rishiraaz opened #23848 "Nignx-ingress-controller is not able to connect to api-server after Envoy is enabled"
**Bug description** We are using istio service mesh (mtls), once envoy sidecar injection was enabled ingress controller went in crashloopback off

6 request.go:848] Got a Retry-After 1s response for attempt 9 to https://100.23.0.1:443/version?timeout=32s
I0514 05:21:52.474986 6 main.go:222] Unexpected error discovering Kubernetes version (attempt 0): an error on the server ("") has prevented the r

[2020-05-14 09:38] ramaraochavali commented on #23805
https://github.com/istio/istio/pull/23849 - For Pilot option. If people think, we need a workload annotation (more control), we can add later

[2020-05-14 09:52] kebe7jun commented on #23813
It seems that the deployment istio-telemetry missing jwtPolicy env.
which fixed in 1.6.x but exists in 1.5.x.

You can add a env to istio-proxy container in istio-telemetry deployment like:

[code]

I'll try to request a pr to fix it.

[2020-05-14 09:53] kebe7jun commented on #23813
/assign

[2020-05-14 10:03] shamsher31 opened #23850 "[release-1.6] Plugging in existing CA Certificates: throws can't evaluate field GetTlsSettings in type *v1alpha1.Tracing"
**Bug description**
Ref: https://preliminary.istio.io/docs/tasks/security/cert-management/plugin-ca-cert/

While testing Plugging in existing CA Certificates, setting up `httpbin` sample throws following error.
[code]

**Expected behavior**
No Error

**Steps to reproduce the bug**
1. kubectl create namespace istio-system
2. istioctl manifest apply --set profile=demo
3. kubectl create ns foo
4. kub

[2020-05-14 10:28] ragunathan23 commented on #22068
@gargnupur Thanks for your response. Able to solve the issue and rate limit is working in the Kubernetes cluster with ISITO.

[2020-05-14 10:38] irizzant commented on #23813
@kebe7jun ok for first-party JWT, but what is causing the issue with third party JWT enabled then?

[2020-05-14 10:39] kebe7jun commented on #23813
It is maybe a buug, JWT_POLICY missed in telemetry pod.

[2020-05-14 10:42] irizzant commented on #23813
So you're saying that the same env var is causing the pod to crash even with 3rd party JWT?

With third party jwt enabled, the log is still:
[code]

[2020-05-14 11:20] nataraj24 opened #23851 "configuring multiple gateway objects and virtualservice objects in different namespaces not working"
i am configuring multiple gateway, virutalservice objects with different hostnames in different namespaces. but the requests are getting routed only to first one.

namespace: k8s
hosts: k8s.example.com
gateway: k8s-gateway
virtualservice: k8s-virtualservice(referring to k8s-gateway)

namespace: k8s1
hosts: k8s1.example.com
gateway: k8s1-gateway
virtualservice: k8s1-virtualservice(referring to k8s1

[2020-05-14 11:22] irizzant commented on #23813
@kebe7jun yes, but that's in the [update](https://github.com/istio/istio/issues/23813#issuecomment-628473444).

The [original](https://github.com/istio/istio/issues/23813#issue-617592071) post still shows:
[code]
and in that case 3rd party jwt was enabled.

[2020-05-14 11:34] knight42 commented on #23673
this issue should be resolved by #21987.
closing

[2020-05-14 11:34] #23673 closed

[2020-05-14 12:51] piotrmsc opened #23855 "Non deterministic ingress gateway https request hanging"
**Bug description**

I have an issue with connectivity via ingress gateway to the sidecar enabled service over HTTPS. Requests made via ingress hangs in a non-deterministic way.
In my case, I have an application deployed in the namespace with sidecar. This application reads request body, modifies it (adds more content), and returns it in the response.
For payloads with size like a couple of KB or

[2020-05-14 13:04] piyush0609 commented on #23333
@howardjohn We have upgraded to istio 1.4.5 now but we also excluded inbound port from mesh. The issue stopped after we did the latter.

[2020-05-14 13:16] howardjohn commented on #23822
Rama the entire cert is bogus, referencing a file that does not exist (neither the cert or root cert).It looks like for the root cert it just become. empty but for the cert it must call the CA to generate a new one when it should be getting a file instead

[2020-05-14 13:18] howardjohn commented on #23836
@mandarjog are you saying the NACK was a short term solution anyways so we should just work on the longer term plan rather than add retries?

[2020-05-14 13:20] howardjohn commented on #23746
By ilb you mean you out `service.beta.kubernetes.io/azure-load-balancer-internal` annotation right?

If that's the difference between fast and slow it may be an AKS issue potentially

[2020-05-14 13:21] mandarjog commented on #23836
yes.

[2020-05-14 13:22] kishor-tricon opened #23856 "Proxy all HTTP(s) calls to Auth0 through a virtual service in istio using redisquota adapter"
Hi,

We are using Auth0 universal login platform for managing user login, recently our auth0 API calls exhausted the maximum limit of 1000. To tackle this, we thought of proxying the auth0 endpoint through a virtual service within our cluster and using our own quota/rate limit on it. But redisquota is deprecated and I have no idea how to do this using telemetry v2.

I am new to istio so kinda hard

[2020-05-14 13:26] linsun commented on #23846
Thanks @irisdingbj I will download rc.0 and try.  I noticed one issue, why is your profile empty?

[2020-05-14 13:33] ramaraochavali commented on #23822
Just so that I understand, so for key cert, it is incorrectly calling CA and generating one instead of erroring out because the file is bogus? Is that the issue?

[2020-05-14 13:37] howardjohn commented on #23822
I am pretty sure - I didn't verify in the code though. It should be easy to repro with the config above

[2020-05-14 13:49] linsun commented on #23846
@irisdingbj I think this may be an user error.  I just downloaded rc.0 and manifest generates fine for me.  Below is the IO yaml I used.

[code]

[2020-05-14 14:18] rolandkool commented on #23770
Hi

We did some more digging and managed to track down the cause of the delay. The issue is caused by the DNS server not being reachable due to a network policy that is blocking the IP address of the metadata server (169.254.169.254). As the metadata server can leak all kinds of sensitive data, access to it is blocked by default for all our applications.
However, this IP address is also what is co

[2020-05-14 14:20] brian-avery commented on #23726
@elfinhe any thoughts? Thanks.

[2020-05-14 14:23] ericvn commented on #23236
Fixed in 1.6.0-rc.o

[2020-05-14 14:23] #23236 closed

[2020-05-14 14:45] gargnupur commented on #23782
@jacob-delgado : and you see the configured attributes in istio_requests_total in prometheus right?
@mandarjog , @douglas-reid : I don't think we need the extraStatsTags option in documentation? We see the new attributes in prometheus without it and with it, it thinks that definition of the attribute is happening twice and thus crashes.
And I think `destination_port` is coming up as random in prom

[2020-05-14 14:55] morozovcookie opened #23857 "Dumped demo-profile can't be deployed to minikube, but embedded into istioctl can"
**Bug description**

I'm trying deploy istio with dumped profile (because I have a lot of change), but it does not works. Then I tried deploy istio with dumped demo-profile without any changes and got the same result.

**Expected behavior**

Dumped profile should be deployed as an embedded profile.

**Steps to reproduce the bug**

[code]

As additional step you can generate manifest with embedded

[2020-05-14 15:15] esnible commented on #23782
My misunderstanding?  I expected `request.host` to be the requesting host/workload, not the HOST header on the HTTP request.

In the Prometheus web UI I see the same `destination_port="x#"` that I saw with _curl_.

[2020-05-14 15:25] esnible commented on #23857
@ostromart
Using 1.6.0-beta.1 I did `diff <(istioctl manifest generate --set profile=demo) <(istioctl manifest generate -f <(istioctl profile dump demo))` and I see some differences.

Some of the differences look unimportant but this does not:
[code]

The GODEBUG and CONFIG_NAMESPACE are ENV vars on istiod.  Spooky that they are not present on one of these.

[2020-05-14 15:29] howardjohn opened #23858 "istio-proxy debug images crash"
[code]

Reproduced locally with:

port forward istiod to 15012
[code]

where proxyconfig.yaml is
[code]

Switching debug image for release image and things work

[2020-05-14 15:33] esnible commented on #23857
The reporter used 1.5.4.  I tried

diff <(istioctl-1.5.4 manifest generate --set profile=demo) <(istioctl-1.5.4 manifest generate -f <(istioctl-1.5.4 profile dump demo))

and the only difference I saw was the signing_key.

If this was reported against 1.6.0 I would believe the problem was these differences.  I am confused why I am not seeing differences with 1.5.4.

[2020-05-14 15:58] linsun opened #23859 "istio ingress gw doesn't reach running on remote cluster"
**Bug description**

[code]
The log look fine, I think it is just an status for the port failed.

**Expected behavior**
ingress gw reaches running

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**
1.6.0 rc.0
**How was Istio installed?**
Followed the example here on the primary cluster:  https:/

[2020-05-14 15:59] bianpengyuan commented on #23836
Then sending a dummy listener, or cluster (seems like less expensive?) to do out of band warming? This sounds great as long as we could wrap it in a user friendly API so that we can change the underlying implementation later when async xds is ready.

[2020-05-14 16:01] linsun commented on #23859
[code]

[2020-05-14 16:02] linsun commented on #23859
what exactly is our status port, the log has
[code]

[2020-05-14 16:05] morozovcookie commented on #23857
@esnible

I forget, that before reported an issue, I used version 1.5.2 and they did not work too. After I'm trying to use 1.5.4 and after few hours posted this issue :)

[2020-05-14 16:20] ostromart commented on #23564
Duplicate of https://github.com/istio/istio/issues/23397.

[2020-05-14 16:20] #23564 closed

[2020-05-14 16:21] ostromart commented on #23397
Fixed in https://github.com/istio/istio/pull/23458.

[2020-05-14 16:21] #23397 closed

[2020-05-14 16:22] ostromart commented on #23003
Fixed in https://github.com/istio/istio/pull/23670.

[2020-05-14 16:22] #23003 closed

[2020-05-14 16:24] ostromart commented on #21909
List working as intended now, closing.

[2020-05-14 16:24] #21909 closed

[2020-05-14 16:25] #22156 closed

[2020-05-14 16:26] #23429 closed

[2020-05-14 16:27] jacob-delgado commented on #23844
cc @rshriram @hzxuzhonghu @ramaraochavali @incfly

I was asked to make sure https://github.com/istio/istio/pull/21987 was put into 1.6.0, but due to the code freeze last night will not make it into 1.6.0. Is this still needed and if so can it wait until 1.6.1?

[2020-05-14 16:30] ostromart commented on #22253
Docs and features are now all working and part of 1.5+ with some minor exceptions.

[2020-05-14 16:30] #22253 closed

[2020-05-14 16:30] brian-avery commented on #23844
Does this have to be in 1.6.0 or can this wait until 1.6.1? The code freeze was yesterday.

[2020-05-14 16:30] howardjohn commented on #23859
I think you have the wrong version running

[2020-05-14 16:44] incfly commented on #23844
The impact of not having that will be customer needs to configure DestinationRule to disable mTLS for headless service when they don't have sidecar injected.

Sorry I didn't know that PR is very much wanted to 1.6.0 by then, will take higher priority to review then.

[2020-05-14 16:45] igorcezar commented on #14598
It would be nice if this was a option when installing Istio, with off by default as @howardjohn said.

The default could be look in the namespace of the Gateway object if there is no namespace defined in credentialName, otherwise it would get from "ns/secret" in credentialName.

Our policy here is that all resources of an application must be in application's namespace (or any namespace the applica

[2020-05-14 16:45] mandarjog commented on #23836
I am now writing a doc, but we will have to embrace warming state with all its niceties!

[2020-05-14 16:45] howardjohn commented on #19993
This is documented at https://istio.io/docs/ops/deployment/requirements/ and https://istio.io/docs/ops/configuration/traffic-management/protocol-selection/ which are linked from the setup guides. Sorry it wasn't easier to find, we realize its a painpoint and have introduced automatic protocol detection. Based on this I think there is no action needed here, but feel free to suggest docs improvement

[2020-05-14 16:45] #19993 closed

[2020-05-14 16:47] howardjohn commented on #19999
[code]

This appears fixed

[2020-05-14 16:47] #19999 closed

[2020-05-14 16:53] howardjohn commented on #20153
This was fixing in 1.6:

[code]

[2020-05-14 16:53] #20153 closed

[2020-05-14 16:53] howardjohn commented on #20209
This is no longer flaky

[2020-05-14 16:53] #20209 closed

[2020-05-14 16:54] howardjohn commented on #20257
Were you able to get an example we can reproduce?

[2020-05-14 16:58] howardjohn commented on #20255
Have you tried using the k8s settings? https://preliminary.istio.io/docs/setup/install/istioctl/#customize-kubernetes-settings

[2020-05-14 16:59] turbotankist commented on #23031
Problem still is on:

![image](https://user-images.githubusercontent.com/9462236/81963147-60c59180-961d-11ea-9c30-79628179192d.png)

![image](https://user-images.githubusercontent.com/9462236/81962134-fbbd6c00-961b-11ea-840d-d7cfd50620b8.png)

![image](https://user-images.githubusercontent.com/9462236/81961980-c1ec6580-961b-11ea-830b-0baa145bb602.png)

May be I can show any metrics from pilot?
Als

[2020-05-14 17:01] howardjohn commented on #23031
Yes, large amount of config contributes to the cost. Istio 1.6, releasing next week, also has very substantial performance improvements. It would be very helpful to get a CPU profile following https://github.com/istio/istio/wiki/Analyzing-Istio-Performance, otherwise we will just be guessing where time is spent

[2020-05-14 17:03] howardjohn commented on #20270
I don't think this is applicable now with the gen changes

[2020-05-14 17:03] #20270 closed

[2020-05-14 17:10] linsun commented on #23859
That was it, sorry forgot to remove hub and tag from my io.   Thank you @howardjohn !!

[2020-05-14 17:14] howardjohn commented on #20307
I am not sure which PR fixed it but I have verified its fixed at least in 1.6:

[code]

[2020-05-14 17:14] #20307 closed

[2020-05-14 17:16] howardjohn commented on #20360
Closing as this hasn't gotten the required debug info for a few months. Please reopen if you are still seeing issues!

[2020-05-14 17:16] #20360 closed

[2020-05-14 17:17] howardjohn commented on #20350
This generally indicates a networking issue in your K8s setup. The apiserver needs to access the injector pod. You may have firewall, etc

See https://istio.io/docs/ops/common-problems/injection/

[2020-05-14 17:18] howardjohn commented on #20384
We have tests now so I think this is resolved

[2020-05-14 17:18] #20384 closed

[2020-05-14 17:18] howardjohn commented on #20412
Closing as this is workign as intended per ^

[2020-05-14 17:18] #20412 closed

[2020-05-14 17:19] howardjohn commented on #20471
Please see https://preliminary.istio.io/docs/setup/install/istioctl/#configure-gateways. Thanks!

[2020-05-14 17:19] #20471 closed

[2020-05-14 17:27] howardjohn commented on #20583
this is done

[2020-05-14 17:27] #20583 closed

[2020-05-14 17:27] howardjohn commented on #20596
this is done

[2020-05-14 17:27] #20596 closed

[2020-05-14 17:27] howardjohn commented on #20610
I don't think this is still flaky

[2020-05-14 17:27] #20610 closed

[2020-05-14 17:32] howardjohn commented on #20547
There is a default policy, so the docs are wrong.

Easy to reproduce:

`curl httpbin/status/503`

access logs will show

[code]
matching the 2 retry policy

[2020-05-14 17:34] elfinhe commented on #23726
sorry I got occupied by something this week.

@ostromart is this a regression in 1.6?

[2020-05-14 17:35] elfinhe commented on #23726
[code]

maybe we should not support 1.6 -> 1.6 upgrade and give more helpful error. but this error will go away after we release 1.6.

[2020-05-14 17:37] howardjohn commented on #20606
I have verified this is fixed in 1.6. Thanks everyone!

[2020-05-14 17:37] #20606 closed

[2020-05-14 17:38] howardjohn commented on #20641
The slack message is deleted, can you give more info here?

[2020-05-14 17:40] howardjohn commented on #20723
istio.default secret is no longer ever created in istio 1.5+, so I don't think there is any fix needed here

[2020-05-14 17:40] #20723 closed

[2020-05-14 17:41] howardjohn commented on #20684
I have ran through this example without any errors. Can you give some more info about your environment and how you installed, steps you took, etc?

[2020-05-14 17:42] howardjohn commented on #20680
I think both of these are done in 1.6. See https://preliminary.istio.io/docs/tasks/traffic-management/ingress/kubernetes-ingress/ and https://preliminary.istio.io/docs/tasks/traffic-management/ingress/secure-ingress/ for docs

[2020-05-14 17:42] #20680 closed

[2020-05-14 17:42] howardjohn commented on #20728
If the namespace is created previously we will no longer tamper with it. Thanks for the suggestion!

[2020-05-14 17:42] #20728 closed

[2020-05-14 17:43] howardjohn commented on #20771
fixed by https://github.com/istio/istio.io/pull/7308

[2020-05-14 17:43] #20771 closed

[2020-05-14 17:45] howardjohn commented on #20841
Closing as followup questions are not addressed so we cannot continue debugging. See https://istio.io/docs/ops/common-problems/validation/ for more info

[2020-05-14 17:45] #20841 closed

[2020-05-14 17:46] howardjohn commented on #20859
This can be configured by a https://istio.io/docs/reference/config/networking/envoy-filter/

[2020-05-14 17:48] howardjohn commented on #20878
working now with https://github.com/istio/istio/pull/20872

[2020-05-14 17:48] #20878 closed

[2020-05-14 17:48] howardjohn commented on #20895
Closing as this is no longer applicable

[2020-05-14 17:48] #20895 closed

[2020-05-14 17:49] howardjohn commented on #20928
You can verify retries by looking at access logs on the server side

[2020-05-14 17:51] howardjohn commented on #21098
Fixed by k8s upgraded

[2020-05-14 17:51] #21098 closed

[2020-05-14 17:52] howardjohn commented on #21004
No longer relevant as citadel is gone

[2020-05-14 17:52] #21004 closed

[2020-05-14 17:52] howardjohn commented on #21009
This is fixed by leader election

[2020-05-14 17:52] #21009 closed

[2020-05-14 17:54] howardjohn commented on #21029
As we have deprecated Istio policy so we are unlikely to make any changes, this is on an unsupported version, and there hasn't been any activity for months after asking for followup debug info, I think we can close this. Please reopen if you are still seeing issues. Thanks!

[2020-05-14 17:54] #21029 closed

[2020-05-14 17:55] howardjohn commented on #21031
Thanks for the reports! Not only is this fixed in 1.6 but we even have testing this time to ensure we do not regress: https://github.com/istio/istio/blob/c0680c17d65da6c217620b3e8c466083927b5b25/operator/cmd/mesh/manifest-generate_test.go#L533

[2020-05-14 17:55] #21031 closed

[2020-05-14 17:58] howardjohn commented on #21138
This is now documented in https://preliminary.istio.io/docs/setup/platform-setup/gke/ and tracking improving the UX in https://github.com/istio/istio/issues/19532#issuecomment-595769193. Thanks!

[2020-05-14 17:58] #21138 closed

[2020-05-14 17:59] howardjohn commented on #21171
This can be handled with https://preliminary.istio.io/docs/setup/upgrade/#canary-upgrades

[2020-05-14 17:59] #21171 closed

[2020-05-14 18:00] howardjohn commented on #21140
Kubernetes LoadBalancer type applies to a single service. So I think you cannot do this, at least without doing some weird things.

If you can, please take a look at https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/. This is purely Kubenetes configuration, not Istio, as Istio just receives the traffic from the LB. Thanks!

[2020-05-14 18:00] #21140 closed

[2020-05-14 18:03] howardjohn commented on #21286
this was done

[2020-05-14 18:03] #21286 closed

[2020-05-14 18:05] howardjohn commented on #21308
I think this is fixed now in 1.5+ and we have a test case covering this: https://github.com/istio/istio/blob/9dd64b43f7fd7750eca86c940bd13c8255fb29ab/tests/integration/pilot/tls_test.go#L87

Thanks for reporting!

[2020-05-14 18:05] #21308 closed

[2020-05-14 18:05] howardjohn commented on #21312
As of istio 1.6 all components are using SDS

[2020-05-14 18:05] #21312 closed

[2020-05-14 18:05] brian-avery commented on #23726
Ah ok. I read the 404 error as being unable to download the content to upgrade to, not upgrade from. Thoughts on the docs? Is this what we want to support?

[2020-05-14 18:06] howardjohn commented on #21317
Sorry we didn't resolve this earlier. As of Istio 1.6 these jobs are no longer used, so I don't think there are any changes we can make here. Please try out the latest version. thanks!

[2020-05-14 18:06] #21317 closed

[2020-05-14 18:08] howardjohn commented on #21358
This should not have the `name` part. I have verified this is working correctly with

[code]

On istioctl 1.6

[2020-05-14 18:08] #21358 closed

[2020-05-14 18:09] howardjohn commented on #21386
These docs have been completely revamped for 1.6 so I think these issues are resolved now. Thanks!

[2020-05-14 18:09] #21386 closed

[2020-05-14 18:21] turbotankist commented on #23031
I've got cpu profile:
![image](https://user-images.githubusercontent.com/9462236/81970501-4fce4d80-9628-11ea-9908-eda8b8b7be99.png)
![image](https://user-images.githubusercontent.com/9462236/81970784-ba7f8900-9628-11ea-8c1c-b2919056f210.png)
[pilot.txt](https://github.com/istio/istio/files/4630202/pilot.txt)

[2020-05-14 18:53] jshaughn opened #23862 "Unwanted TCP telemetry [istio 1.6.0-rc.0 w/ CNI]"
Using Istio 1.6.0-rc.0 on OpenShift 4.4.3 (CNI) there is unwanted TCP traffic involving mgmtCluster.  This is not new in rc.0 but I don't know when it was introduced.   There is telemetry from unknown to destination_service_name "mgmtCluster" and to each destination_workload.  This is what I see with rc.0 using bookinfo with mongo.

![image](https://user-images.githubusercontent.com/2104052/819679

[2020-05-14 18:59] jacob-delgado commented on #23862
Is it possible for you to test with `1.6.0-beta.1`?

[2020-05-14 19:12] bjoernw commented on #22510
While the kiali configmap now contains the right prometheus url because of https://github.com/istio/istio/pull/22554, at runtime kiali still tries to pull metrics from the istio-provided prometheus, essentially ignoring what i had set in kiali.prometheusAddr.
`E0514 19:04:11.213815       1 dashboards.go:286] runtimes discovery failed, cannot load metrics for labels: {namespace="cert-manager",app="

[2020-05-14 19:44] linsun commented on #23859
I am still seeing issues with my ingress gw on remote cluster:

[code]

[code]

[2020-05-14 19:45] linsun commented on #23859
Not sure if anyone else hit it... I think the ingress gw did come up it just take slightly longer (65+s) thus it was not marked as ready.

[2020-05-14 19:50] linsun commented on #23859
may need to tweak this slightly longer for ingress gw as it does take a while to come up - https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-startup-probes

[2020-05-14 20:01] JimmyCYJ commented on #20347
There might be some restrictions set by Envoy on using/sharing session keys for security concerns. There is no such service that stores session keys and provisions session keys to multiple ingress gateways.

[2020-05-14 20:10] howardjohn commented on #23859
Lin the time it takes does not matter, it could take 1 hr and once it becomes ready it will be marked ready. Can you post the full logs when it's slow to get ready maybe?

[2020-05-14 20:11] JimmyCYJ commented on #20659
@fpesce @myidpt Do we need a separate label for these issues?

[2020-05-14 20:14] JimmyCYJ commented on #22813
/assign @samprit

[2020-05-14 20:16] JimmyCYJ commented on #22733
@raffaelespazzoli could you check https://github.com/istio/istio/issues/22733#issuecomment-610102082 and let us know if the problem still exists?

[2020-05-14 20:18] JimmyCYJ commented on #23284
@yangminzhu can I assign to you for triage?

[2020-05-14 20:25] jshaughn commented on #23862
@jacob-delgado That is what I was running yesterday when I reported this issue in slack.  1.6.0-beta.1 did have this tcp problem, as well as the http problem with InboundPassthroughClusterIpv4.  The latter went away with rc.0.

[2020-05-14 20:27] JimmyCYJ commented on #23740
Thanks @justinkillen given this is solved, I will just close it for now. Feel free to reopen it.

[2020-05-14 20:30] JimmyCYJ commented on #23715
Does the config dump show the old secret? It would take some time for the SDS flow to push the new one. Are there istio-proxy logs available.

[2020-05-14 20:32] JimmyCYJ commented on #23706
@lei-tang could you take a look?

[2020-05-14 20:36] jacob-delgado commented on #23837
Closing due to merge of manual cherry pick PR https://github.com/istio/istio/pull/23839

[2020-05-14 20:36] #23837 closed

[2020-05-14 20:37] JimmyCYJ commented on #23409
Assign to @yangminzhu for triage.

[2020-05-14 20:38] JimmyCYJ commented on #23246
cc @williamaronli

[2020-05-14 20:39] JimmyCYJ commented on #23422
@pantelis-karamolegkos any updates? Could you try https://github.com/istio/istio/issues/23422#issuecomment-622174116 and see if it works now?

[2020-05-14 20:40] jacob-delgado commented on #23197
cc @douglas-reid Is it fine for this to be in 1.6.1 due to code freeze of 1.6.0?

[2020-05-14 20:42] jacob-delgado commented on #23590
Closing in lieu of PR https://github.com/istio/istio/pull/23800

[2020-05-14 20:42] #23590 closed

[2020-05-14 20:47] istio-testing opened #23863 "[release-1.6] support jwt token authen using remote cluster"
Manual cherrypick required.

#22989 failed to apply on top of branch "release-1.6":
[code]

[2020-05-14 20:48] jacob-delgado commented on #23863
cc @linsun @irisdingbj Lin contacted Brian about this PR being merged into the release-1.6 branch. Will wait for 1.6.1.

[2020-05-14 20:59] mandarjog opened #23865 "Telemetry plugins *should not* crash on invalid config"
Metadata exchange, stats, stackdriver none of these plugins should crash on failed config validation.

They should increment an invalid config counter and disable them selves.
AttributeGen already does this.

It is ok to get this into 1.6.1

[2020-05-14 20:59] mandarjog commented on #23865
@esnible changing behaviour of telemetry plugins.

[2020-05-14 21:00] jacob-delgado commented on #20369
cc @mandarjog What is the status of this? This will have to be in a release post 1.6.0 if you are still working on this feature.

[2020-05-14 21:01] jacob-delgado commented on #17386
cc @douglas-reid What is the status of this? It will have to wait post 1.6.0.

[2020-05-14 21:02] jacob-delgado commented on #23521
cc @richardwxn what is the status of this? It will have to wait until 1.6.1

[2020-05-14 21:19] stewartbutler commented on #23770
It looks like checking `/proc/net/if_inet6` may work for systems that have proc enabled. I'll throw together a prototype to see if that will work.

[2020-05-14 21:26] howardjohn commented on #23031
Thanks! if you still have it around can you upload the raw tar.gz of the profile? it helps to dig around a bit more

But ultimately right now there doesn't look to be any major areas that are going wrong, just looks like standard high load of pilot

[2020-05-14 21:29] linsun commented on #23859
I need to test this without centralIstiod but I think the ingress gw doesn't reach running was due to citadel agent on the gw can't get the certs via CSR.  @irisdingbj I think you forgot to cherry pick https://github.com/istio/istio/pull/22989/files to release-1.6.

[code]

cc @brian-avery @GregHanson

[2020-05-14 22:05] howardjohn commented on #23246
you can just do

[code]

and this will work in 1.6

[2020-05-14 22:05] #23246 closed

[2020-05-14 22:11] douglas-reid commented on #17386
I think we need to expand the API to include Metadata custom tags. I think this is 1.7 territory.

[2020-05-14 22:12] douglas-reid commented on #23197
i think this is a docs issue more than a release issue. i was able to complete this task w/o this step. I think we can remove it in the docs and keep the task correct.

[2020-05-14 22:17] fpesce commented on #20659
@JimmyCYJ yes. Also, feel free to add this point to the next PS WG meeting notes agenda.

[2020-05-14 22:20] brian-avery commented on #23186
CI runs on 1.18.

[2020-05-14 22:21] #23186 closed

[2020-05-14 22:31] mandarjog opened #23867 "Telemetry V2 e2e with CNI"
We have a problem arise late in 1.6 release cycle, where telemetry was broken with CNI.https://github.com/istio/istio/issues/23862

We are lacking end to end test with cni that would expose this telemetry behaviour.

@jshaughn @douglas-reid @nrjpoddar

[2020-05-14 23:11] stewartbutler commented on #23643
I'm investigating this now.

[2020-05-14 23:13] tariq1890 opened #23868 "Istioctl should be able to pick up context from a set of user-defined defaults (Think Kubens but for Istio)"
Edit: @esnible https://docs.google.com/document/d/1M_5Ji5A6MKRMFDUupwx3r1yQZDeIPvqHmFs-IAIxaak/edit# to was created for this request.

**Describe the feature request**

As a user of Istio in a different namespace, I would like `istioctl` to point to my custom istio namespace instead of having to use `-i` flag all the time

**Describe alternatives you've considered**

`istioctl analyze -i`

**Addit

[2020-05-14 23:43] stewartbutler commented on #23643
It looks like https://github.com/containerd/containerd/issues/4182 may be the cause. I'm creating a new CNI image that uses the listed workaround and testing it out.

[2020-05-14 23:47] lei-tang commented on #23706
Before the istioctl uninstall command deletes the configmap istio-ca-root-cert, a workaround is to manually delete it by running the following command for each namespace containing the configmap istio-ca-root-cert (replace $NAMESPACE with the namespace containing the configmap istio-ca-root-cert):

  kubectl delete configmap istio-ca-root-cert -n $NAMESPACE

[2020-05-14 23:48] #23635 closed

[2020-05-14 23:52] jacob-delgado commented on #23862
I am able to replicate this with OpenShift 4.4.3. Going to test with vanilla k8s.

[2020-05-15 00:14] andrewhertog commented on #22552
No. I ended up using Prometheus federation rather than the Prometheus operator CRDs

[2020-05-15 00:19] brian-avery commented on #23850
[code]

Works for me in 1.6. I tried this with both manifest and operator installs and confirmed this works. Let me try with the custom installation used in https://preliminary.istio.io/docs/tasks/security/cert-management/plugin-ca-cert/

[2020-05-15 00:44] brian-avery commented on #23850
I'm not seeing this issue.

[2020-05-15 01:01] irisdingbj commented on #23859
@linsun 22989 is in 1.6 . It is checked in before we cut 1.6 branch . So it does not need a cherry-pick PR

[2020-05-15 02:07] mbanikazemi opened #23871 "Cannot install Replicated Control Planes"
**Bug description**
I tried `istioctl manifest apply -f manifests/examples/multicluster/values-istio-multicluster-gateways.yaml` to install multiple control planes from 1.6.0-rc.0 and get the following error:

[code]

Using version 1.6.0-rc.0.

[code]

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm

[2020-05-15 02:14] nrjpoddar commented on #23821
I think we need to address this and shouldn’t release with this regression. @jacob-delgado @brian-avery @costinm feels like a release blocker. Don’t have time today to test/triage it.

[2020-05-15 02:24] linsun commented on #23859
Found out this is caused by port 15012 is not opened up by default.  By having the following in the yaml will solve it.

[code]
can update doc for this.

[2020-05-15 02:34] howardjohn commented on #23867
We would not have caught this issue even if it was not cni with current tests I think, as we don't have negative test to ensure we don't produce extraneous metrics (I think?)

[2020-05-15 02:40] mandarjog commented on #23867
Whoever adds a test should ensure that negative tests are added.

[2020-05-15 02:48] howardjohn commented on #23857
It's possible https://preliminary.istio.io/docs/ops/best-practices/security/#configure-third-party-service-account-tokens which is automatically detected at runtime if not configured?

[2020-05-15 02:54] jacob-delgado commented on #17386
There will be support, albeit it's in development, for this in Istio 1.6.

[2020-05-15 02:55] jacob-delgado commented on #21368
This didn't make it into 1.6. Moving to 1.7 where it will have to be re-evaluated.

[2020-05-15 03:00] nrjpoddar commented on #23862
This might break other dashboards & alerting etc folks might have. Does anyone know what’s causing this?

[2020-05-15 03:06] linsun commented on #23859
It appears some change from https://github.com/istio/istio/pull/23102 broke my sleep container on remote cluster to reach running.  @irisdingbj is going to follow up with @hzxuzhonghu on this.

[code]

[code]

[2020-05-15 03:08] jacob-delgado commented on #23821
I confirmed that this does happen. I've attached all of my envoy configs to help make it easier.
[envoy-config.tar.gz](https://github.com/istio/istio/files/4632036/envoy-config.tar.gz)

[2020-05-15 03:25] lck0129 opened #23874 "Istio 1.5 Ingress Gateway Proxy Crash when custom lua filter is applied"
**Bug description**

We’re having a problem with the IngressGateway Envoy Proxy crashing regularly on incoming requests when our custom lua filter is applied in a particular order (running Istio 1.5.0).

**Steps to reproduce the bug**

**keep pressing F5** to refresh the web browser after apply below lua scritps on ingress gateway:

	apiVersion: networking.istio.io/v1alpha3
	kind: EnvoyFilter
	met

[2020-05-15 03:28] howardjohn commented on #21400
I am not sure the PR that fixed this, but I can confirm this is now fixed:

[code]

[2020-05-15 03:28] #21400 closed

[2020-05-15 03:29] thanhlong9x commented on #22677
Thanks, @williamaronli . Do you talk about hub and tag parameters of image?
 I checked describe pod istiod and don't see wrong hub and tag with image.

[2020-05-15 03:29] howardjohn commented on #21403
Closing this as this was a result of Istio on GKE so is working as expected.

[2020-05-15 03:29] #21403 closed

[2020-05-15 03:34] howardjohn commented on #21446
#23346

[2020-05-15 03:34] #21446 closed

[2020-05-15 03:37] howardjohn commented on #21475
Can you add the logs from the pod? It will show why its crashing hopefully

[2020-05-15 03:38] howardjohn commented on #21477
This is not expected. Does this always happen? Can you reproduce it?

It would be helpful to look at the config dump before and after to see if it changes - https://github.com/istio/istio/wiki/Troubleshooting-Istio for more info. You can also run `istioctl ps POD` to see if the config matches in control plane and data plane. Thanks

[2020-05-15 03:41] mstrYoda commented on #21477
Hi @howardjohn I will try to reproduce it (if possible) as soon as I become available. May be (probably) I did something wrong.

[2020-05-15 03:42] howardjohn commented on #21510
This sounds like an issue with your Kubernetes setup rather than Istio? Seems like the cert is signed for the internal IP but the Kuberntes service IP is an external one?

[2020-05-15 03:42] thanhlong9x opened #23876 "istiod 1.5.2 error pkica when install on kubernetes 1.18"
Hi, I'm testing cilium with istio but I have some problem when install istio. When I run cilium-istioctl, I see istiod not running, I checked logs of istiod. As below:

![](https://user-images.githubusercontent.com/29721257/81653477-febf2d80-945e-11ea-9625-4212a02e0c79.PNG)

How to fix this problem ?
Thanks for watching

[2020-05-15 03:44] howardjohn commented on #21517
When envoy shows

[code]

the SHA is istio/proxy sha not istio/envoy SHA which is what is requested here.

However, we are now based on Envoy releases not random SHAs, so using userAgentBuildVersion.version is actually probably pretty close

[2020-05-15 03:46] howardjohn commented on #21519
We have fixed this #23314

[2020-05-15 03:46] #21519 closed

[2020-05-15 03:47] howardjohn commented on #21577
I think it was a mistake to have it there but in my opinion we should not backport as its a major behavior change. It is documented in the upgrade notes for 1.6. We are tracking this in https://github.com/istio/istio/issues/22095. Thanks!

[2020-05-15 03:47] #21577 closed

[2020-05-15 03:48] williancampos commented on #22290
I upvote it.

I noticed the code sets a PrefixRewrite here https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/route/route.go#L422

But now there's also a RegexWrite available (https://github.com/envoyproxy/go-control-plane/blob/master/envoy/api/v2/route/route_components.pb.go#L1136).

May be the HTTPRewrite could have something similar to 'StringMethod method' (as in HTT

[2020-05-15 03:51] irisdingbj commented on #23871
Got a clean VM and tried this, same error for me.

[2020-05-15 03:51] howardjohn commented on #21581
I have confirmed the only occurrences now are two intentional ones:

[code]

thanks for the tip!

[2020-05-15 03:51] #21581 closed

[2020-05-15 03:52] howardjohn commented on #21601
Closing as this is fixed in 1.5+

[2020-05-15 03:52] #21601 closed

[2020-05-15 03:54] irisdingbj commented on #23871
we should not have template in this file, `        - "{{ valueOrDefault .DeploymentMeta.Namespace \"default\" }}.global"` need a fix for it

[2020-05-15 03:56] howardjohn commented on #21718
This was fixed in the 1.5.0 release by https://github.com/istio/istio/pull/20775 I believe

[2020-05-15 03:56] #21718 closed

[2020-05-15 03:59] howardjohn commented on #21752
Thanks for the issue! We are tracking changes/experience with the bot in https://github.com/istio/istio/issues/19111

[2020-05-15 03:59] #21752 closed

[2020-05-15 04:00] howardjohn commented on #21766
I have verified this is fixed in 1.6 by zipkin upgrade

[2020-05-15 04:00] #21766 closed

[2020-05-15 04:00] howardjohn commented on #21769
I have verified this is no longer present on  https://preliminary.istio.io/docs/tasks/observability/distributed-tracing/overview/

[2020-05-15 04:00] #21769 closed

[2020-05-15 04:01] howardjohn commented on #21774
I confirmed https://preliminary.istio.io/docs/tasks/observability/logs/access-log/ is fixed

[2020-05-15 04:01] #21774 closed

[2020-05-15 04:02] irisdingbj commented on #23871
@ericvn what the value is expected here? can we just provide a default value here to remove this error? Thanks!

[2020-05-15 04:02] howardjohn commented on #21792
This is fixed in 1.6

[2020-05-15 04:02] #21792 closed

[2020-05-15 04:02] irisdingbj commented on #23871
@brian-avery @jacob-delgado FYI

[2020-05-15 04:03] howardjohn commented on #21826
no longer applicable

[2020-05-15 04:03] #21826 closed

[2020-05-15 04:03] howardjohn commented on #21827
fixed in https://github.com/istio/operator/commit/3bf9ba540a4eedcda733279e4087a86c80913c10

[2020-05-15 04:03] #21827 closed

[2020-05-15 04:04] howardjohn commented on #21834
This is done

[2020-05-15 04:04] #21834 closed

[2020-05-15 04:05] howardjohn commented on #21852
This means the api server cannot reach the pods. This may be from firewall rules, networking issues, etc

[2020-05-15 04:11] howardjohn commented on #21986
This is a duplicate of https://github.com/istio/istio/issues/21720 so I will close, I think its still an issue in 1.6 though

[2020-05-15 04:16] #21986 closed

[2020-05-15 04:17] howardjohn commented on #22050
done

[2020-05-15 04:17] #22050 closed

[2020-05-15 04:18] howardjohn commented on #20108
https://github.com/istio/istio/issues/22054 duplicate

[2020-05-15 04:18] #20108 closed

[2020-05-15 04:18] howardjohn commented on #22077
Closing as this is answered by ^

[2020-05-15 04:18] #22077 closed

[2020-05-15 04:20] howardjohn commented on #22093
@stevenctl I haven't been following this closely but may be applicable to what you are doing

[2020-05-15 04:20] howardjohn commented on #22094
We have added a number of tests here. I think this can be considered resolved. If not, we have many testing issues open for specific areas

[2020-05-15 04:20] #22094 closed

[2020-05-15 04:23] howardjohn commented on #22148
Closing as this is working as intended. Take a look at the upgrade notes which give a safe migration path from Helm to istioctl as well in 1.6. Thanks!

[2020-05-15 04:23] #22148 closed

[2020-05-15 04:25] howardjohn commented on #22192
Closing as the doc is updated and we are trackng this in #20345

[2020-05-15 04:25] #22192 closed

[2020-05-15 04:27] howardjohn commented on #22194
When you say sometimes it works, do you mean if you did 10 requests in a row 5 would fail or so? Or for a few hours everything works, then a few hours everything fails?

It would be useful to get a config dump (https://github.com/istio/istio/wiki/Troubleshooting-Istio) to see what is going on here

[2020-05-15 04:28] howardjohn commented on #22196
No, this is not something Istio supports or intends to support. If you want to do this type of configuration management you will need to use other tools, we do not manage application deployments

[2020-05-15 04:28] #22196 closed

[2020-05-15 04:29] howardjohn commented on #22210
might be the same as https://github.com/istio/istio/issues/22194

[2020-05-15 04:31] howardjohn commented on #22236
Fixed by #22238

[2020-05-15 04:31] #22236 closed

[2020-05-15 04:33] howardjohn commented on #22306
Questions here are addressed and document so I will close this

[2020-05-15 04:33] #22306 closed

[2020-05-15 04:34] howardjohn commented on #22311
Closing as this is working as expected

[2020-05-15 04:34] #22311 closed

[2020-05-15 04:38] howardjohn commented on #22402
fixed

[2020-05-15 04:38] #22402 closed

[2020-05-15 04:40] howardjohn commented on #22420
thanks! I have fixed this

[2020-05-15 04:40] #22420 closed

[2020-05-15 04:41] howardjohn commented on #22461
Closing as this is working as expected, it is just a transient error during scaling

[2020-05-15 04:41] #22461 closed

[2020-05-15 04:42] howardjohn commented on #22432
This is the same root cause as https://github.com/istio/istio/issues/22451 so lets track there

[2020-05-15 04:42] #22432 closed

[2020-05-15 04:42] howardjohn commented on #22451
This indicates pilot is unable to connect to galley. Are you able to send requests from the pilot pod to galley with `curl` for debugging to see if there is network connectivity?

[2020-05-15 04:44] howardjohn commented on #22497
I am going to close this because we have a temporary workaround (EnvoyFilter) and having a proper per-service API for telemetry is being tracked in https://github.com/istio/istio/issues/12818 which has a lot of history. Thanks!

[2020-05-15 04:44] #22497 closed

[2020-05-15 04:49] howardjohn opened #23877 "Gateway values do not apply without explicitly gateway enablement"
[code]

Works completely

[code]

Applies only the nodeport type, not the ports part

[2020-05-15 04:50] howardjohn commented on #22538
Closing as we are tracking in the above issues and https://github.com/istio/istio/issues/23877. Thanks for reporting!

[2020-05-15 04:50] #22538 closed

[2020-05-15 04:52] howardjohn commented on #22544
This should be set with https://github.com/istio/istio/blob/52b751dd8c9c022ae0c933cc629442d98a3fea68/manifests/charts/istio-control/istio-discovery/templates/istiod-injector-configmap.yaml#L21 by the `.Values.global.proxy.autoInject` flag. Thanks!

[2020-05-15 04:52] #22544 closed

[2020-05-15 04:55] howardjohn commented on #22601
We have drop this dependency in isto/tools so I think this is fixed. Let me know if not

[2020-05-15 04:57] howardjohn commented on #22676
We fixed this issue in the latest 1.6 so 1.5 -> 1.6 upgrade is working. We also have tests to prevent regression

[2020-05-15 04:57] #22676 closed

[2020-05-15 04:59] howardjohn commented on #22672
`docker pull quay.io/kiali/kiali:v1.15` works on my machine as well as most users clusters (as others run Kiali fine). This seems very likely a weird issue with your Kubernetes cluster (or quay). In either case, I am not sure the istio team can help here. Thanks!

[2020-05-15 04:59] #22672 closed

[2020-05-15 05:01] howardjohn commented on #22727
I do not think we can proceed with debugging this issue without the info above. Please reopen if you can provide this. Thanks!

[2020-05-15 05:01] #22727 closed

[2020-05-15 05:01] #18085 closed

[2020-05-15 05:02] howardjohn commented on #22784
https://preliminary.istio.io/docs/tasks/observability/kiali/ has info about existing deployments now

[2020-05-15 05:02] #22784 closed

[2020-05-15 05:02] howardjohn commented on #22785
Closing as all associated issues are closed

[2020-05-15 05:02] #22785 closed

[2020-05-15 05:03] howardjohn commented on #22808
Fixed by #22828. Thanks!

[2020-05-15 05:03] #22808 closed

[2020-05-15 05:05] howardjohn commented on #22804
confirmed this is still broken on 1.6

[2020-05-15 05:06] howardjohn commented on #22855
As mentioned above there are 2 options

* Enable citadel
* Disable injector and use Istiod

In 1.6, only the 2nd option is possible

Thanks!

[2020-05-15 05:06] #22855 closed

[2020-05-15 05:08] howardjohn commented on #22983
Hi @yuenwah . Most of us on here only speak English. Is there any chance you can describe the issue template in english? Otherwise I am not sure we can help

[2020-05-15 05:11] howardjohn commented on #23001
fixed in https://github.com/istio/istio/pull/23417

[2020-05-15 05:11] #23001 closed

[2020-05-15 05:11] howardjohn commented on #23027
Fixed ^

[2020-05-15 05:11] #23027 closed

[2020-05-15 05:15] parthshah86 commented on #23267
The issue does not seem to be completely resolved with istio 1.5.2. We started getting the issue again.
With the same setup where a container is talking to an external service via the istio proxy we are getting 503 continuously. These are the log messages from the istio proxy.

[code]

[2020-05-15 05:25] #18089 closed

[2020-05-15 05:28] pandey-adarsh147 commented on #23746
During installation. We are enabling gateways.istio-ilbgateway.enabled.

[2020-05-15 05:47] shamsher31 commented on #23850
I tried that with `1.6.0-rc.0` which was released yesterday. It fails on both clean `minikube` and `kind` clusters.

[2020-05-15 05:53] zackzhangkai commented on #21643
when I upgrade from istio1.3.3 to Istio1.4.8, I met the same issue. Now I am writting the [upgrade doc](https://github.com/kubesphere/ks-installer/blob/master/docs/IstioUpgradeGuide.md).  If anything wrong with me? How can I solve this problem?

After a while, the warning(erro) log disapeared. It's amazing!

The error log  is same as the above.

[2020-05-15 06:00] tariq1890 commented on #12602
Re-opening since this was auto-closed and we have yet to receive a working solution to this.

I think we should have a good set of defaults here. As per the manifests, the `replicaCount` is set to 1 (the default value) if `autoscaling` is enabled. If a replicaCount of 1 leads to a problematic PDB, then this default value should certainly be reconsidered

[2020-05-15 06:28] justinkillen commented on #23740
I feel like it would be beneficial to drop the networking and security tags, but leave it open as a docs issue.

[2020-05-15 06:28] zackzhangkai commented on #8270
after I upgrade from istio.1.3.3 to 1.4.8, I started notice this warning log. I ever wonder if my process met with trouble, it misleaded me.

[2020-05-15 06:40] linuxbsdfreak commented on #22253
@ostromart . Could  you please point me to the docs or samples for configuring multiple istio ingress GWs via the Operator method ?

[2020-05-15 06:58] zackzhangkai commented on #21643
I have found that in https://github.com/istio/istio/issues/17383

[2020-05-15 07:30] arnecls commented on #23814
We got this figured out.

Envoy textually appends "-shadow" to the host header, i.e. you can end up with one the following values, depending on how you target the service in the source cluster (the one you want to mirror):
`<service>-shadow`, `<service>.<namespace>-shadow` and `<service>.<namespace>.svc.cluster.local-shadow`.

On the target cluster, the only chance you currently have is to react o

[2020-05-15 07:53] buzypi commented on #23083
Thanks a lot! That saved my day!

For anyone stumbling on this, here is a functioning Virtual Service:

[code]

So when you apply this and:

[code]

goes to service1, while:

[code]

goes to service2

[2020-05-15 07:54] buzypi commented on #15456
Please check my solution here: https://github.com/istio/istio/issues/23083#issuecomment-629088918

[2020-05-15 08:06] #23876 closed

[2020-05-15 08:08] arshchimni opened #23878 "Envoy FIlter Script load Error when using lua filter"
**Bug description**
Following the discussion on this [thread](https://github.com/istio/istio/issues/8444).  We tried to implement the routing decisions based on functional attributes encoded in JWT .
We migrate the [config](https://github.com/BarDweller/istio-content-based-routing/blob/master/istio-envoy-filter-jwt-lua.yaml) that was present in the [repository](https://github.com/BarDweller/istio-

[2020-05-15 08:19] ImmortanJoe commented on #23487
@packyzbq I have solved the problem.

      - --discoveryAddress - istiod-remote.istio-system.svc:{your port}

{your port} must be 15012.

      # If port is 15012, will use SDS.
      # controlPlaneAuthPolicy is for mounted secrets, will wait for the files.
      controlPlaneAuthPolicy: NONE
      discoveryAddress: istiod-remote.istio-system.svc:15012

I edit the NodePort of the primary cluster t

[2020-05-15 08:19] ImmortanJoe commented on #23595
I have solved the problem.

    - --discoveryAddress - istiod-remote.istio-system.svc:{your port}

{your port} must be 15012.

      # If port is 15012, will use SDS.
      # controlPlaneAuthPolicy is for mounted secrets, will wait for the files.
      controlPlaneAuthPolicy: NONE
      discoveryAddress: istiod-remote.istio-system.svc:15012

I edit the NodePort of the primary cluster to 15012, and

[2020-05-15 08:19] #23595 closed

[2020-05-15 09:39] #23805 closed

[2020-05-15 09:50] #23863 closed

[2020-05-15 09:51] #23819 closed

[2020-05-15 09:53] opusmagnum commented on #21996
It seems to be solved in 1.5.4.

[2020-05-15 09:54] irisdingbj opened #23879 "Istiod fails to issue certificate to a remote cluster"
In the scenario like https://github.com/istio/istio/issues/22918. I encounter an error on k8s 1.18 like below:

[code]
Looking through the codes, I do not find problem as the cluster ID and remote client all are there.  I also printed them out:

[code]

I compared the token from log with the one in the ingress gatewway pod and they are exactly the same.
 looks like :https://github.com/kubernetes/k

[2020-05-15 10:23] snailbing commented on #23874
This situation will occur when the http client quickly stops the http request;
<img width="1069" alt="WX20200515-181729@2x" src="https://user-images.githubusercontent.com/1305451/82040412-228da800-96d9-11ea-9723-7a52ba258cb4.png">

[2020-05-15 10:31] snailbing commented on #23874
This situation will occur when the http client quickly stops the http request;

<img width="1069" alt="WX20200515-181729@2x" src="https://user-images.githubusercontent.com/1305451/82041143-4a314000-96da-11ea-9e2c-8461bae474ae.png">

[2020-05-15 10:36] prune998 commented on #8270
@zackzhangkai each proxy should log that every 30 min by default. It closes the connexion to pilot and create a new one. You can safely ignore it in this case.
If it's more often then you may have another problem. Please open a new issue then.

[2020-05-15 11:18] CatchZeng opened #23880 "Istio cannot upgrade addon components using istioctl"
**Bug description**

When I use istioctl to upgrade istio, from v1.5.0 to v1.5.4, the output is stuck in `Applying manifest for component AddonComponents...` , and all AddonComponents are not installed.

[code]
<img width="1045" alt="istio" src="https://user-images.githubusercontent.com/10027281/82043755-ba41c500-96de-11ea-92b3-b748ba8e4811.png">

**Version (include the output of `istioctl version

[2020-05-15 11:33] hzxuzhonghu commented on #23879
One way to narrow down the issue scope is to verify your token by hand.
https://jpweber.io/blog/a-look-at-tokenrequest-api/

[2020-05-15 11:55] ramaraochavali opened #23881 "Metrics Service and Access Log Service are using deprecated TLS context"
Metrics Service and Access Log  Service are using deprecated TLS context https://github.com/istio/istio/blob/master/pkg/bootstrap/option/convert.go#L59 and need to be moved to use Transport Sockets

[2020-05-15 12:05] sdake commented on #23871
The file itself has not been touched since the operator repo merger. I don't yet have a root cause, although it appears that the transformation system in use is no longer able to parse template content in `values.yaml` files. While this may be a regression, there are a couple of easy options:
1. just document an IOP for this that doesn't include the line `        - "{{ valueOrDefault .DeploymentMe

[2020-05-15 14:07] brian-avery commented on #23850
Not sure. If I follow the steps above, this is what I see:

[code]

[2020-05-15 14:12] linsun commented on #23859
#23879

[2020-05-15 14:15] linsun opened #23884 "Confusing pruning removed resources msg at the end of istioctl install"
**Bug description**
On a fresh cluster, it is unclear why I'm getting `Pruning removed resources`.  @howardjohn mentioned to me it is because nothing is pruned in this case.
[code]

**Expected behavior**
 We should not show our users if it doesn't apply

**Steps to reproduce the bug**
Just install istio 1.6 rc0

**Version (include the output of `istioctl version --remote` and `kubectl version` and

[2020-05-15 14:46] esnible commented on #23536
RFC at https://docs.google.com/document/d/1u0KxDY9R3-nwuAjccRRyefV3TToSCWqei3TMLVm1uSA/edit#

@howardjohn
We don't want to port-forward because we want to be able to run in situations where the Istio user doesn't have rights to inventory pods and port-forward into the Istio control plane namespace.  We want a single Service or API that offers an unsharded view of Pilot.

[2020-05-15 14:46] mbanikazemi opened #23886 "PASSTHROUGH mode for ingress gateway does not work"
**Bug description**

Has there been any change in the use of the PASSTHROUGH mode for gateways? The exact set of resources (that is, Istio gateway, vs, and dr) which were working fine with 1.4.* do not work anymore. The traffic gets directed to destination pod through the port  15443 but the request fails with no healthy upstream error. I do not use *.global and do not need the rewrite.

requests

[2020-05-15 14:52] mbanikazemi commented on #23886
Note that while PASSTHROUGH does not work, AUTHO_PASSTHROUGH works as expected.

[2020-05-15 14:58] shamsher31 commented on #23850
The issue occurs due to different versions of `istioctl` installed on the system. It works fine with latest `istio-1.6.0-rc.0` and `istio-1.6.0-rc.1`.

[2020-05-15 14:58] #23850 closed

[2020-05-15 15:02] #20547 closed

[2020-05-15 15:09] vugardzhamalov opened #23887 "Istio operator cannot deploy configuration profile on Minikube, error: no matches for kind "IstioOperator" in version "install.istio.io/v1alpha1""
**Bug description**
First of all I would like to confirm that I can deploy both minikube addons istio-provisioner( istio-operator) and istio on my minikube profile - and it seems like both istio-operator and istio demo config profile end up deployed expected. At the moment both Minikube addons  istio-provisioner( istio-operator) and istio shipped at version 1.5.0

If I would rather deploy istio-op

[2020-05-15 15:16] linsun commented on #23879
Thank you @hzxuzhonghu!  That is a good link.

I found out on my main cluster, I'm seeing 3 secrets with token (istio ingress GW SA's, Istiod SA's & reader SA) but not seeing token with the Istio-remote-secret.  This seems an issue and certainly was not created as part of create remote secret cmd.

Name:         istio-remote-secret-remote0
Namespace:    istio-system
Labels:       istio/multiCluste

[2020-05-15 15:30] esnible commented on #23536
@costinm proposes _istioctl_ use XDS Event reporting https://docs.google.com/document/d/1X7DmkP10x4nEcTGpikxmvLbBTTK59B0WL3liQzVy8Ms/edit# instead of @therealmitchconnors 's proposal.

[2020-05-15 15:50] esnible opened #23889 "Feature: Rewrite injector ConfigMaps to select control plane "master""
THIS DESCRIPTION EDITED TO MATCH THE [1.8 Roadmap](https://docs.google.com/document/d/15J59Bz4ogsM5my1dtEycgPq8uOPB93uy8CU5-Ehv2qw/edit#).

Istio 1.6 offers control plane canarying but no recommendations or tools to help the user finish the job.
Istio 1.7 offers the `istioctl x uninstall` to remove a Canary version.

For 1.8 we want a command that
- Patches webhooks so that the `istio-injection=en

[2020-05-15 15:51] garciarodrigor opened #23890 "Istio 1.5 Proxy Sidecar Crash on WASM filters that made a httpCall to an endpoint without response body"
**Bug description**

Istio Proxy Sidecar is crashing when the WASM filter made a httpCall to an endpoint which the response is empty ex: http://httpbin.org/status/200

It seems there’s trying to access a null pointer to the body content…

Here’s the backtrace from the crash:
[code]

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote`

[2020-05-15 16:39] bianpengyuan commented on #23890
Should be fixed by https://github.com/envoyproxy/envoy-wasm/pull/455. Unfortunately the PR is missing in istio/envoy release-1.6 branch and will not be in next week's 1.6.0 release. I will try to make it in 1.6.1 release.

[2020-05-15 17:02] esnible opened #23891 ""istioctl wait" support for XDS Events"
`istioctl wait`

Thought experiment.  Suppose fortio client runs in canary control plane and echo server runs in default/master control plane.
User applies a DestinationRule and waits for it.
The optimum wait is for the control canary control plane only.
User applies an AuthenticationPolicy and waits for it
The optimum wait is for the default/master control plane only
It is fine to wait for all co

[2020-05-15 17:05] esnible commented on #22274
If <pod> argument is specified, get the pod metadata to determine the control plane and its troubleshooting API endpoint.
Currently that endpoint is an arg to the sidecar, not an annotation or label! [esnible]
We need to reimplement for the troubleshooting API and/or new XDS anyway

[2020-05-15 17:07] esnible opened #23892 "Better way to list useable Istio control planes"
**Unapproved** RFC for this: https://docs.google.com/document/d/1E4bda0RcmKQOpn7_h3dEcKBLCARK1MsbNZn3OUm-VSE/edit#

Currently the user can do `kubectl get istiooperator`, if they are running the Istio operator or their cloud provider gives them IOPs for managed install.

This lists the `revision` label now.

This item is to make it prettier and make sure it works with *External Istiod*.

External

[2020-05-15 17:15] esnible commented on #22274
We need to be able to find the out-of-cluster control plane, instead of just assuming all control planes are in istio-system istiod pods.

Currently the control plane address is passed to the proxy as an argument, that isn’t good enough.

[2020-05-15 18:28] deadc commented on #19094
@howardjohn is it possible to find out in a simple way which VirtualService or Gateway would be with this duplicate information?

[2020-05-15 18:40] ostromart opened #23893 "Apply only changed resources when istioctl apply is called"
Right now, the entire manifest is re-applied to the cluster. Usually this is fairly quick but it could be speeded up even further by checking the saved in-cluster IOP that reflects the installed state, and pre-populating the helmreconciler cache with values generated from it before calling Reconcile(). The code will only update the values that change, as it does in the operator controller use case

[2020-05-15 18:41] gargnupur commented on #23782
@kyessenov 's suggestion works(https://github.com/istio/envoy/pull/215).. of changing it to string(int_value)

so, I think we should do following change in the doc:
1) Remove extraStatTag step for now
2) and change `destination_port` to `string(destination_port)` and add a note that for int values, add a string label above.

[2020-05-15 19:30] dkirrane opened #23894 "Installation errors - no matches for kind "Gateway" and namespaces "istio-system" not found"
**Bug description**
I'm trying to install Istio for Ingress only. And I'm getting Install errors:
[code]
[code]

Also see this sometimes
[code]

**Expected behavior**
No errors

**Steps to reproduce the bug**
1. My `manifest.yaml` to install just Istio for Ingress only.
[code]

2. `istioctl manifest generate -f manifest.yaml > generated-manifest.yaml`
3. `kubectl apply -f generated-manifest.yaml`

[2020-05-15 19:31] sdake commented on #9117
@howardjohn I have extensive knowledge of RPM. I can help here. How were you able to solve the glibc problem? Every solution I have seen thus far involves patching Envoy.

[2020-05-15 19:33] sdake commented on #9117
RPM [Spec file](https://download.copr.fedorainfracloud.org/results/@maistra/istio/epel-8-x86_64/01062229-istio-proxy/istio-proxy.spec)

[2020-05-15 19:36] sdake commented on #9117
More recent spec files: https://github.com/Maistra/rpms

[2020-05-15 19:47] stevenctl commented on #22093
At one point it looks like istiod would default the clusterID for the local cluster to "Kubernetes" is an example of this sort of overlap. Our multinetwork-multicluster docs actually recommend using that value (see https://github.com/istio/istio/pull/23825). In reality we do want to reference registries by clusterID, and what kind of registry by providerID.

[2020-05-15 20:40] myidpt commented on #23879
Can you make sure this issue only exists on K8s 1.18?

[2020-05-15 20:54] myidpt commented on #23879
It seems like istiod isn't able to get authenticated to the remote apiserver. Is the remote cluster's JWT provisioned correctly to istiod?
@nmittler

[2020-05-15 20:59] linsun commented on #23879
@myidpt it also existed in my 1.16 k8s cluster.

I have the remote cluster's secrets set up in main istiod.

I think @hzxuzhonghu changed the code lately so it uses the remote cluster's k8s client to talk to remote cluster's API server with the service's bear token to do the token review.

[2020-05-15 21:00] linsun commented on #23879
We will have a quick debug session in 1 hour pls join if you are avail and interested.  (ping me on slack for url)

[2020-05-15 21:07] lambdai commented on #23821
The listener and http conn manager looks good. HCM has the route and referring to cluster `outbound|443|tls-origination|edition.cnn.com` as expected.

[2020-05-15 21:08] lambdai commented on #23821
That cluster is originated from the virtual service. It is missing in envoy config.

[2020-05-15 21:11] lambdai commented on #23821
My latest finding is that pilot attempted to generate the cluster but somehow pilot cannot fill the hostname for that strict DNS cluster.
The strict dns cluster with no endpoint is considered a invalid cluster config. Pilot won't push to envoy.

At my side these pilot logs are dumped:
[code]

[2020-05-15 21:30] howardjohn commented on #23821
https://github.com/istio/istio/commit/4591e5efbe40f1aa85e26ead850df7cd7901d395 is probably root cause

[2020-05-15 21:31] howardjohn commented on #23821
Suggest a fix similar to:

[code]

I need to head out though so won't be able to send out the PR/fully test

[2020-05-15 21:42] #23714 closed

[2020-05-15 21:43] lambdai commented on #23821
Build endpoint regardless the label? Pretty sure it will gain more endpoint so looks like the right direction

[2020-05-15 21:47] jacob-delgado commented on #23821
Testing locally. Will report back.

[2020-05-15 21:47] howardjohn commented on #23821
The current code says "if there are labels select only those. If there are no labels select none"

The old code / spec / docs says " if there are labels select only those, if there are no labels select all endpoints."

if you look at the commit I linked you can see where this changed

[2020-05-15 22:05] jacob-delgado commented on #23821
Testing the code locally it works and the test case passes. Great work @howardjohn.

[2020-05-15 22:40] linsun commented on #23879
@myidpt and @nmittler and I had a quick meeting about this issue and discussed next step to debug this:

Manually validate the token extracted from the context is correct.  It should be the same token from the caller sidecar container's /var/run/secrets/tokens/istio-token.   We should be able to take the token to run through a manual test with the token review API server (Thanks to @myidpt for the

[2020-05-15 22:41] howardjohn commented on #23893
I thought we already do this? not up front but before each object we do a get the  decide update or create call? Do we just need to skip if there is no change (if we are not already doing so)?

[2020-05-15 22:55] linsun commented on #23879
Also @myidpt and @nmittler and I agreed this is a critical fix and we should get into 1.6.x ASAP when fix is avail.

[2020-05-15 22:58] mandarjog opened #23899 "Test Coverage: add test for TLS origination for egress traffic"
Add  integration / e2e test for https://github.com/istio/istio/issues/23821

https://github.com/istio/istio/pull/23898 does not add tests for expediency.

[2020-05-15 23:01] mandarjog commented on #23821
@howardjohn This is excellent work !  Now please do enjoy your time off.

[2020-05-15 23:14] #23871 closed

[2020-05-15 23:29] bianpengyuan opened #23901 "Clean up TCP stats for passthrough cluster"
**Bug description**

In the TCP there are lots of connection open/closed stats which only has passthrough filled in as destination service and all other metadata label being `unknown`, e.g.
[code]

And the corresponding tcp sent/received bytes stats for them are all zero.

We need to figure out why those closed/open stats gets collected. Is it a real application connection or something else. Based

[2020-05-15 23:31] mandarjog commented on #23901
A bug fix in 1.6.x would be better.

[2020-05-15 23:34] linsun commented on #23879
@myidpt and I had more discussion, I think we have some idea what is wrong. @hzxuzhonghu, when you did the optimization for #23563, you changed the code to use remote k8s client to call remote k8s API with token review API... That would require a valid bear token (e.g. a service account JWT provisioned by some tooling from the remote cluster, with the privilege to call TokenReview API)... I think

[2020-05-15 23:35] bianpengyuan opened #23902 "Expose TCP metadata exchange stats by default"
**Describe the feature request**

Currently TCP [metadata exchange debugging stats](https://github.com/istio/proxy/blob/d665d3d02d5d94f5519f4738746aaa2704fcc36d/src/envoy/tcp/metadata_exchange/metadata_exchange.h#L42) is not exposed in default Istio installation. We should expose them by default. This would be a noop if https://github.com/istio/istio/issues/23166 is resolved, but still open this i

[2020-05-15 23:43] myidpt commented on #23879
I think L68 is only extracting the cluster ID from the context. Actually istiod tries to use the right client to call the remote cluster:
https://github.com/istio/istio/blob/ab9afbebc3f12e517bbd48f1e2ec0e75af611f88/security/pkg/server/ca/authenticate/kube_jwt.go#L102

[2020-05-15 23:45] gargnupur commented on #23901
We don't get any destination labels because in case of PassthroughCluster there is noone to exchange metadata exchange with..
what did we see in mixer v1 for this?

[2020-05-15 23:50] bianpengyuan commented on #23901
What I am really wondering is this a real connection or some other random behavior, because the bytes sent/read are all 0, which does not make sense to me. I don't recall that we see the similiar thing with mixer v1

[2020-05-16 00:14] linsun commented on #23879
Ok thanks @myidpt!  Now the question is when the remote k8s client is calling the remote k8s API's with token review request, does it have the right bearer token that has the privilege to call TokenReview API:

```-H "authorization: Bearer `more /var/run/secrets/kubernetes.io/serviceaccount/token`"

[2020-05-16 02:04] parthshah86 opened #23905 "Istio envoy sidecar does not update IP incase the destination LB IP changes"
**Bug description**
We use the istio sidecar within our pods with main container to manage traffic to external services. Let's say the container makes a call to server X via an AWS LB. The request goes through the sidecar to the LB and eventually to the server. One pattern which we see is that in-case the LB switches Network interfaces and gets a new IP, the sidecar still keeps pointing to the OLD

[2020-05-16 02:04] #23267 closed

[2020-05-16 02:50] CatchZeng commented on #23880
The reason is that I did not configure the storageClassName for grafana. It works in istioctl v1.5.0, but it needs to be specified in v1.5.4.

Below is my solution.

istio-1.5.4.yaml
[code]

[2020-05-16 02:50] #23880 closed

[2020-05-16 03:43] howardjohn commented on #23905
Is this service configured by a DNS service entry? I'd so it will follow the TTL from the DNS response

[2020-05-16 04:02] defyjoy commented on #19599
I have all the files in the root directory in angular . With load balancer everything works as expected . Why is it with istio virtualservice it fails . The path is /
[code]

[2020-05-16 04:21] defyjoy commented on #19599
Found the answer to the post above . I had to include all static files on root directory as regex . In future it may help someone -

[code]

[2020-05-16 04:35] bianpengyuan opened #23907 "Proto sniffing upstream cluster tls context misses istio-peer-exchange in alpn"
The following upstream cluster misses istio-peer-exchange in upstream tls context, and it is used by both TCP and HTTP traffic for proto sniffied traffic, which makes metadata exchange not happening. Probably related to https://github.com/istio/istio/pull/23465.
[code]

[2020-05-16 04:37] bianpengyuan commented on #23907
@istio/release-managers-1-6 I think this is a release blocker.

@mandarjog fyi

[2020-05-16 04:41] sdake commented on #23479
@ostromart I am not sure why I wrote the original issue as I did. See [my youtube video demonstrating upgrades done right](https://developer.ibm.com/videos/istio-upgrades-reloaded-revisions-tech/). I had hoped istioctl/standalone operator would provide an easy way to manage different revisions. in Istio 1.6 the istioctl/operator code doesn't seem to. I am ok with that, but I think our HuOperator c

[2020-05-16 05:08] sdake commented on #22344
@douglas-reid will remove E&T thanks.

[2020-05-16 05:09] sdake commented on #20526
this issue is old and the code is morphed significantly. Closing.

[2020-05-16 05:09] #20526 closed

[2020-05-16 05:34] sisinduku commented on #20257
@howardjohn sorry for the late response

I have tested with different service and it was returning the same error in the `PassthroughCluster`

`[2020-05-16T05:28:42.247Z] "POST /proto.CustomerService/AddPerson HTTP/2" 200 UC "-" "-" 19 0 2 - "-" "grpc-python/1.19.0 grpc-c/7.0.0 (linux; chttp2; gold)" "0eb5422b-4fb8-419c-9181-02a19a5ad81a" "othergrpc.example.com:80" "172.28.102.239:80" PassthroughC

[2020-05-16 06:23] mandarjog commented on #23907
Does it just cause missing tcp stats or does it cause lost traffic? If it is only missing tcp stats for protocol sniffed tcp, I don’t think it is a release blocker. The solution is to name the port correctly.

If it causes us to receive Mx header without the ability to process it, then it is a release blocker.

[2020-05-16 06:59] bianpengyuan commented on #23907
Yeah it does not block tcp traffic, just missing labels in stats. The corresponding upstream cluster tls context misses the istio-peer-exchange alpn:

[code]

[2020-05-16 14:38] vadimeisenbergibm commented on #21863
This one is required for https://istio.io/docs/tasks/traffic-management/egress/wildcard-egress-hosts/#setup-egress-gateway-with-sni-proxy. There is a use case of running an additional proxy together with Envoy in a gateway. I would like to deploy a custom gateway with a custom proxy. For that, I need an ability to add pods/volumes to the deployment of the gateway.

Explanation about the custom gat

[2020-05-16 16:49] tariq1890 commented on #12602
@linsun @howardjohn Requesting your attention on this. I think we need better defaults here. Since we are in `istiod`, I'd just suggest defaulting the replicaCount of  istiod and the gateways to 2. This seems to work rather well especially with PDB's being enabled by default

[2020-05-16 17:53] robertpanzer opened #23909 "Impossible to configure aggregate clusters via an EnvoyFilter"
**Bug description**

**Expected behavior**
The EnvoyFilter should allow adding arbitrary clusters as long as Envoy supports the configuration.
However it is not possible to configure an aggregate cluster.

**Steps to reproduce the bug**
Try to configure an aggregate cluster with this EnvoyFilter:
[code]

The configuration is rejected with this error:
[code]

The problem seems to come from the corr

[2020-05-16 18:46] #23886 closed

[2020-05-16 19:10] nrjpoddar commented on #23470
@howardjohn this is all quite complicated & error prone. Since, you have done rounds of testing, can you tell me the following for 1.5 & 1.6?

1. How can you set Envoy to use all available CPUs for both gateways & sidecars via Istio config?
1. How can you set Envoy to use all the cpu set allowed for both gateways & sidecars via Istio config?

[2020-05-16 21:38] vadimeisenbergibm opened #23910 "Missing Istio Mutual TLS between sidecars and egress gateways"
**Bug description**

Setting Istio Mutual TLS for traffic to egress gateways was removed from istio.io by the following PRs:
https://github.com/istio/istio.io/pull/6795, https://github.com/istio/istio.io/pull/6805 .

While Auto mTLS applies to traffic between sidecars, it probably cannot work for traffic between a sidecar and an egress gateway, since the gateway expects plain HTTP traffic and it h

[2020-05-17 00:57] gael-jurin commented on #23643
Same error after istio 1.5.3 upgrade on Kubernetes 1.16.0 environment.

`standard_init_linux.go:211:exec user process caused "permission denied" `

I have to disable sidecar injection on my namespace to have them running again.

[2020-05-17 05:01] #18110 closed

[2020-05-17 05:52] rajivml commented on #22800
@howardjohn am using istio 1.5.2 and the same problem over there, how do you recommend setting up the same in prod

[2020-05-17 06:47] jamesthegiantpeach commented on #23383
For prometheus you can set the —web.external-url in the server run command.

[2020-05-17 08:37] bethmage commented on #22391
This is still not fixed in istio v1.5.4

[2020-05-17 09:01] sdake opened #23912 "no upgrade path for observability in 1.5 to 1.6."
Istio 1.5 has instructions for exposing telemetry over port 15029-15032. During an upgrade from 1.5 to 1.6, observability breaks. A pre-canned yaml blob is needed to continue export over 15032. Then the upgrade documentation should guide users to transitioning to the new model.

[2020-05-17 09:03] sdake commented on #23912
@howardjohn is busy, and I don't immediately know how to write the precanned yaml blob. i had spoken to John about this two weeks back, and he said he would get to it. This may miss the initial upgrade notes.

This is not an upgrade blocker and can be managed shortly after 1.6 releases.

[2020-05-17 09:16] lei-tang commented on #22391
In Istio 1.5.4, the job "kubernetes-pods-istio-secure" is still gated behind the flag ".Values.security.enabled" whereas the default profile has ".Values.prometheus.security.enabled=true". Thus, the job "kubernetes-pods-istio-secure" is not started with the default profile.

@hagen93 Thank you for offering to provide a PR to fix this problem! Gating the job "kubernetes-pods-istio-secure" behind ".

[2020-05-17 09:20] bethmage commented on #22391
Thank you. I did so.

[2020-05-17 09:37] hagen93 commented on #22391
@lei-tang Looks like someone already fixed it. The [configmap](https://github.com/istio/istio/blob/dad709d38bede911ed4f7732a64d9444c78e11dc/manifests/charts/istio-telemetry/prometheus/templates/configmap.yaml#L257) now gates it behind `and .Values.prometheus.provisionPrometheusCert (not .Values.meshConfig.enablePrometheusMerge)` which seems to be the values provided by the default profile [here](h

[2020-05-17 09:47] sdake commented on #23290
The issue here is the disk pressure. I am not see why this is, given that the system has loads of available space.

Any ideas?

[2020-05-17 09:54] lei-tang commented on #22391
@hagen93 Thanks! The fix you mentioned is in the master branch. Can you cherrypick the change related to the job "kubernetes-pods-istio-secure" to the release-1.5 branch?

[2020-05-17 10:15] hagen93 commented on #22391
@lei-tang Sure, but the fix is part of a much larger commit, f44354b25790a88f6581227d22f00948b51a7d45. We should probably just cherry-pick the relevant changes right? Otherwise I'm afraid we'll break other stuff :)

[2020-05-17 10:17] lei-tang commented on #22391
@hagen93 That is right, just cherry-pick the relevant changes/lines :)

[2020-05-17 10:18] hagen93 commented on #22391
@lei-tang Cool, I'll have an MR in soon :)

[2020-05-17 11:05] hagen93 commented on #22391
@lei-tang I think the MR I just linked should fix the problem, but I am a bit unsure of how to test the changes. Tried building istioctl with go build, but the changes seems to not be included in the final binary. I suspect that is because go ends up pulling stuff from the GitHub repo instead of using my local copy. Had a quick look at the Makefile to see if there was a make profile that would bui

[2020-05-17 11:20] lei-tang commented on #22391
@hagen93 Regarding to test the changes, "export HUB=YOUR-HUB; export TAG=YOUR-TAG; make push" should build istio (including istioctl) and push the binaries to the HUB you specified. After "make push", you can use the istioctl built locally along with other istio binaries pushed to the HUB to test the changes you made.

[2020-05-17 11:54] 1hanymhajna opened #23914 "Load balance not working as expected with outlierDetection"
We are using istio v1.4.7, no sds, mtls enabled
We are trying to configure **circuit breaking** by creating `destinationRule` with `outlierDetection` for specific service, but we face that after we adding it and all the pods are healthy,
 it just sends the request to the first pod in the list without doing any round robin/ (or random),
I tried to configure it manually as well to be "round robin" b

[2020-05-17 12:15] hagen93 commented on #22391
@lei-tang I think I fixed it, but to compile the fix into the binary it looks like I need to regenerate operator/pkg/vfs/assets.gen.go, do you know which make command triggers the regeneration? :)

[2020-05-17 12:18] lei-tang commented on #22391
@hagen93 IIRC, the command to trigger the regeneration is "make gen".

[2020-05-17 12:45] hagen93 commented on #22391
@lei-tang I ended up only gating the job behind `.Values.prometheus.provisionPrometheusCert` as `.Values.meshConfig.enablePrometheusMerge` seems to be intertwined with other things from f44354b25790a88f6581227d22f00948b51a7d45.

`make gen` edited a lot of files in addition to operator/pkg/vfs/assets.gen.go but I only included the one file in the MR.

Otherwise AFAIK the MR should be good now, pend

[2020-05-17 16:23] drzdbd1 opened #23916 "Custom CA: mutual TLS failure (CERTIFICATE_VERIFY_FAILED & SSLV3_ALERT_CERTIFICATE_UNKNOWN)"
In order to support multi-cluster scenario, we plugged in an existing custom CA. In most of the cases mTLS worked fine but some clusters are having mTLS failures between pods.

**Symptom**:
Pilot cannot talk to Galley and we found below errors from log.

_From caller (Pilot):   [Envoy (Epoch 0)] [2020-05-05   15:00:58.846][25][debug][connection]   [external/envoy/source/extensions/transport_socket

[2020-05-17 19:24] vugardzhamalov commented on #23887
So I've decided to proceed with a clean install of Fedora 32 (the issue was opened while I was still on Fedora 31). And it seems like I don't get any delays with 'IstioOperator' object and/or istio-operator CRD deployments anymore... Not sure what could've been the problem, I've realized that I was having similar issues with CRDs during Knative deployment - so that made me suspicious. Closing for

[2020-05-17 19:24] #23887 closed

[2020-05-17 19:30] rajivml opened #23917 "Istio 1.5.4 tls: error decrypting message"
**Environment:**

Istio Version: 1.5.4
Kubernetes Version: 1.15.10
Deployed On: AKS
Certificate Manager: Installed

**Description:**

HI,

I am trying to setup istio along with cert manager by following this tutorial,
https://istio.io/docs/tasks/traffic-management/ingress/ingress-certmgr/

these are my installation options,

[code]

and cert manager I have installed it as mentioned over that artic

[2020-05-17 21:50] howardjohn commented on #23909
We should add all filters in go control plane and if possible add a test to verify this. And backport to 1.6

[2020-05-17 22:23] drzdbd1 commented on #23916
Quick update: the issue seems to be certs minted from Citadel violate the "URL name constraint" set in intermediate CA cert.

![image](https://user-images.githubusercontent.com/21187075/82161502-22fd7e80-9852-11ea-9b16-a266dda3d3c5.png)
![image](https://user-images.githubusercontent.com/21187075/82161503-27299c00-9852-11ea-8b89-785b67951698.png)

I wonder whether this is related to #17111?

[2020-05-17 22:32] gargnupur commented on #23907
Don't this can be related to https://github.com/istio/istio/pull/23465 as that was specifically for DownstreamTlsContext only...
Does the cluster specify Http2ProtocolOptions?

[2020-05-17 22:57] #23881 closed

[2020-05-18 00:30] bianpengyuan commented on #23907
Yes it does. This is the full upstream cluster:
[code]

[2020-05-18 00:41] JimmyCYJ commented on #23526
@yangminzhu could you take a look?

[2020-05-18 00:42] JimmyCYJ commented on #23605
@justinpettit Could you take a look?

[2020-05-18 01:09] JimmyCYJ commented on #21077
Looks like both gateways use "*" in hosts matching. Perhaps this will always use the first deployed gateway with the matched host. If you deploy these gateways in the reverse order, will that 404 happen? You can also gateway config dump and check if both secrets are fetched: somehost-credential and otherhots-credential. If they both exist, SDS is working properly. SDS is responsible for pushing ke

[2020-05-18 01:52] hzxuzhonghu commented on #23879
@linsun I think it uses the certificate provided by multi-cluster secret.

`Authentication failed: Authenticator ClientCertAuthenticator at index 0 got error: no verified chain is found. Authenticator KubeJWTAuthenticator at index 1 got error: failed to validate the JWT: the service account authentication returns an error: [invalid bearer token, square/go-jose: error in cryptographic primitive]. A

[2020-05-18 02:27] costinm commented on #23916
The good news: envoy is checking the name constraints !!

We should probably start using them more - and also respect them when
generating certs.
Do you have any control over what constraints are defined in the
intermediate CA ?

On Sun, May 17, 2020 at 3:23 PM drzdbd1 <notifications@github.com> wrote:

[2020-05-18 03:40] #23874 closed

[2020-05-18 03:40] lck0129 commented on #23874
更新到1.5.4就好了

[2020-05-18 04:00] carolynhu opened #23919 "istio/istio: unit test failures need to be fixed"
Here is the log I got when I run unit test locally via `make test`:

[code]

[code]

[code]

Please also check the Istio unit-test prow job.

[2020-05-18 04:01] carolynhu commented on #23919
cc @yangminzhu @richardwxn

[2020-05-18 04:12] carolynhu commented on #22564
cc @clarketm

[2020-05-18 04:23] gargnupur commented on #23907
So, I think the assumption was that, if there are http2_protocol_options in the cluster, it would be used specifically for HTTP traffic only.. @mandarjog , @bianpengyuan : is that assumption not correct?

[2020-05-18 04:30] bianpengyuan commented on #23907
From the config, it is used for TCP connection upstream. This is the L4 filter chain of proto sniffing listener.
[code]

[2020-05-18 04:54] mandarjog commented on #23907
After istio started using "USE_DOWNSTREAM_PROTOCol” we set h2 options for all clusters and then let the downstream protocol choose between h1.1 and h2

This is completely orthogonal to tcp, as these fields have no effect.

[2020-05-18 05:01] #18179 closed

[2020-05-18 05:43] jsalgado78 commented on #23605
I define the following SELinux CIL on RHEL to allow istio-cni container install or repair CNI plugin. I patch istio-cni-node daemonset later to use securityContext:

echo '(block ps-istio-cni
              (blockinherit container)
              (allow process var_lib_t ( dir ( getattr search open read lock ioctl )))
              (allow process var_lib_t ( file ( getattr read ioctl lock open  )))

[2020-05-18 05:46] morvencao commented on #23894
This should be fixed in https://github.com/istio/istio/pull/22549

[2020-05-18 06:02] morvencao commented on #23688
You can change `labels` field to other value for your `values.yaml` if you are intent to deploy extra gateway.

[2020-05-18 06:25] morvencao commented on #23521
I can't reproduced this in master or release-1.6
The status is updated to `RECONCILING` immediately after edit the IOP instance:
[code]

[2020-05-18 06:43] morvencao commented on #23773
This should be fix in https://github.com/istio/istio/pull/23798

[2020-05-18 07:34] piyush0609 opened #23922 "Disable istio citadel to stop rotation of certs and envoy hot restarts"
**Bug description**
I am using istio 1.4.3 helm charts for istio installation. It has an option to disable security and install istio components. But when i do that all other components are going into crashback loop because certs are not being created for them because citadel is not present

**Expected behavior**
We are using istio to control our cluster egress traffic and not using mutual TLS fea

[2020-05-18 07:43] morvencao commented on #23711
This happens on `release-1.6`branch, looks like this is caused by
[code]

https://github.com/istio/istio/blob/release-1.6/operator/data/examples/multicluster/values-istio-multicluster-gateways.yaml#L18

which will be rendered in `values` of istio-sidecar-injector configMap.

I can see that the line `"{{ valueOrDefault .DeploymentMeta.Namespace \"default\" }}.global"` has removed from master.

[2020-05-18 08:00] erdun opened #23923 "[release-1.6] Istioctl upgrade failed"
Flow https://preliminary.istio.io/docs/setup/upgrade/

**Bug description**

Flow doc https://preliminary.istio.io/docs/setup/upgrade/ with actions

We run version 1.5.4 current， after run

[code]

There will be pod/istiod-xxx with version 1.5.4 and pod/istiod-canary-xxx with version 1.6.0

then run

[code]
it will be faild

**Expected behavior**

1. Upgrade success
2. What about the canary pod, th

[2020-05-18 08:05] jotak commented on #22510
@bjoernw the error you describe relates to a specific feature of kiali which is pulling custom metrics (not the istio ones) for custom dashboards: https://kiali.io/documentation/runtimes-monitoring/
For this feature and unlike core Kiali features (graph, service health, etc.) Kiali checks configmap's `external_services.prometheus.custom_metrics_url` instead of `external_services.prometheus.url`.

[2020-05-18 08:27] irisdingbj commented on #23879
@hzxuzhonghu I verified without your change in #23563 and it works. So I will revert your changes in #23563 and #23229.  I think your PR is good at optimization so we can investigate how to make them in afterwards.

[2020-05-18 08:49] hzxuzhonghu commented on #23879
I agree to revert if this is a bug. But i can not see from the above comments.

What i suggest is: compare the `clusterid` taken from istio-agent in the csr with the kubeClient got from `GetRemoteKubeClient`.  If they are consistent,  i can not imagine this should fail.

[2020-05-18 08:50] irisdingbj commented on #23846
[code]

tried using rc.1 build

[2020-05-18 09:26] mitom commented on #23455
Thanks for the explanation @howardjohn. I'll close this given the stance in the issue you linked.

[2020-05-18 09:26] #23455 closed

[2020-05-18 09:39] xeviknal opened #23925 "Istio CRDs timeline document"
**Describe the feature request**
It would be really useful for Istio's ecosystem to have a document where for each Istio managed CRD users could see: when CRD was introduced, when it was officially supported, when became deprecated, when will be completely removed. (when = which version).
It is not a planning schedule with perfect timings but a document that shows the current status of each CRD.

[2020-05-18 09:42] irisdingbj commented on #23879
The problem is the cluster id in my remote cluster is using the name of main cluster.  Based on this, changes in #23563  are good. @hzxuzhonghu I will not revert your changes and sorry for the confusion.

@linsun We will need to modify the injection template for istiod-remote chart otherwise the injected deployment will use the main cluster name as the webhook is running on main cluster.

[2020-05-18 12:07] bedla commented on #10625
It seems that from version 1.6 (https://github.com/istio/api/pull/1369) it is possible to configure custom span tags in `istio`-`ConfigMap`.

[code]

[2020-05-18 13:02] zillani commented on #23000
issued PR
https://github.com/istio/istio/pull/23927

[2020-05-18 13:24] linsun commented on #23846
@irisdingbj thanks for reporting this.  Can you share your multi-remote-cluster.yaml file so I can reproduce this?

[2020-05-18 14:15] gargnupur commented on #23907
But we use that information to set Alpn: https://sourcegraph.com/github.com/istio/istio@master/-/blob/pilot/pkg/networking/core/v1alpha3/cluster.go#L1071:8

I think with #23465 change, we can set `istio-peer-exchange` in all upstreamtlscontext for Mtls traffic as on server it will send `istio-peer-exchange` only for TCP traffics.

[2020-05-18 14:24] #23000 closed

[2020-05-18 14:26] sshishov commented on #12503
Hey, I am not a professional here. But is it good practice to open some random port to the public just to have health-check? What if this port or SW running on this port have vulnerabilities? Also to have LB healthy without any VirtualService running behind it is not what is considered a healthy environment. If you do not have consumers of your request, how the stack can be healthy? Did I miss som

[2020-05-18 14:30] linsun commented on #23879
Nice job - thank you @irisdingbj !

I manually modified the istio-sidecar-injector cm on my remote cluster by updating with correct values in 2 places:

[code]

Then when I deploy the sleep pod, it still uses the ISTIO_META_CLUSTER_ID and ISTIO_META_NETWORK from main cluster.  It doesn't look the main cluster's istiod would read the istio sidecar injector ConfigMap on remote cluster right now.

[2020-05-18 14:30] mandarjog commented on #23907
Yes, that sounds correct .

[2020-05-18 14:35] linsun commented on #23846
@irisdingbj I still can't reproduce this.  Did you remote `profile: empty` off your yaml file?

Here is what I did:

[code]

[2020-05-18 14:36] linsun commented on #23846
[code]

[2020-05-18 14:38] linsun commented on #23846
also, make sure your istioctl is the right version and not a developer built istioctl

[2020-05-18 14:40] esnible commented on #23923
Adding `area/user experience` because the question of what to do next about the canary revision is important and not addressed in 1.6.0 docs.

[2020-05-18 14:56] esnible commented on #23923
The failure message is:

[code]

[2020-05-18 15:08] erdun commented on #23923
Yes, there are two pod istiod-xxx and istiod-canary-xxx, but ingress and egress update replace the old, should they run as istiod do

[2020-05-18 15:29] mbanikazemi opened #23930 "No validation for duplicate YAML keys"
User submitted YAML with the same key and two different values; none of the Istio tools noticed this.  I tried several online YAML validators.  https://onlineyamltools.com/validate-yaml caught this; most others did not.

Was:

**Bug description**

~~In a destination rule if you specify a traffic policy for a subset it does not take effect. The overall traffic policy is what is being applied.~~

**

[2020-05-18 15:31] esnible commented on #23930
cc @GregHanson @vadimeisenbergibm

[2020-05-18 15:44] linsun commented on #23879
Confirmed that if I modify the main cluster's istio-sidecar-injector cm, and restart istiod afterwards, then deploy sleep pod on the remote cluster with auto sidecar injector, the pod will come up nicely.  @hzxuzhonghu this confirms your change is okay but require us to configure the sidecar with proper cluster id in remote cluster.

[2020-05-18 15:49] jshaughn commented on #23862
1.6.0-rc.2 solves the `mgmtCluster` issue in my testing on OpenShift 4.4.3.

If necessary, I will open a separate issue to follow up on the way the mongo traffic is represented.

[2020-05-18 16:04] linsun opened #23933 "sidecar injection cm change requires istiod restart"
**Bug description**

While testing remote cluster and mutating webhook configuration, I found out sidecar injection cm change does require istiod to restart to pick up the change.  It would be great if this isn't required.

The change I did for testing: https://github.com/istio/istio/issues/23879#issuecomment-630268528

**Expected behavior**
restart istiod should not be required
**Steps to reprodu

[2020-05-18 16:08] jacob-delgado commented on #23862
Let's close this issue--I'll have you do it since you opened it--and open an new one to track. Thanks for verifying this.

[2020-05-18 16:21] howardjohn commented on #23912
[code]

can retain the old ports (copy+paste from default profile in 1.5)

[2020-05-18 16:26] jacob-delgado commented on #23821
Verified in 1.6.0-rc.3

[2020-05-18 16:26] #23821 closed

[2020-05-18 16:39] howardjohn commented on #23470
@nrjpoddar the ideal end case:

* Setting concurrency=X will use X threads
* Setting concurrency=0 will use all CPUs available
* Not setting concurrency will use the pod resource requests
This behavior will be consistent on sidecar and gateway

---

The case today:

* Setting concurrency=X will use X threads
* Setting concurrency=0 or not setting concurrency will use the pod resource requests on s

[2020-05-18 16:39] brian-avery commented on #23726
@ostromart @elfinhe Checking in on this. Do we need to update docs for 1.6 for in-place upgrades?

[2020-05-18 16:58] howardjohn commented on #9117
Steve, the approach I came up with is  we need to create a
build-tools-centos that is based on CentOS 7 and build the proxy image with
that. I have such a Dockerfile in the tools repo but haven't gotten things
running end to end yet. Once we build with that, it will have the correct
glibc version.

With the proper envoy binary, the RPM shouldn't be too much work. The main
work here is in envoy bui

[2020-05-18 17:08] #23862 closed

[2020-05-18 17:16] JimmyCYJ commented on #23822
cc @lei-tang @myidpt @JimmyCYJ

[2020-05-18 17:27] stewartbutler commented on #23643
Still working on it. I've confirmed the issue is that the binaries are mounted in a volume with `noexec`. I'm testing a few alternate images to see if I can pin down a configuration which mounts the binaries in an executable location without too much change.

[2020-05-18 17:37] linsun commented on #23879
[code]

[2020-05-18 18:44] #23909 closed

[2020-05-18 19:03] incfly commented on #16676
FYI, https://github.com/istio/istio/issues/21841

[2020-05-18 19:29] linsun commented on #23879
I'm working on a PR for this to allow users to pass in cluster name and network as part of the injectionURL.  should be out soon.

thanks all for your help in troubleshooting this!

[2020-05-18 19:33] stevenctl commented on #22093
@ayj I made a sample PR https://github.com/istio/istio/pull/23938 that I think takes care of this. It seems like the root of the issue is overloading the value of "Kubernetes" for both provider and cluster id. I couldn't find any references outside what's in this PR that compare Kubernetes with a clusterID. What do you think?

[2020-05-18 19:35] howardjohn commented on #23933
I don't think it does unless it recently regressed. It should be automatically updated.

However, kubernetes configmaps are incredibly slow to update for some reason - takes 30-60s

[2020-05-18 19:50] jmdamato opened #23939 "Improved AWS documentation"
**Describe the feature request**
When going through the getting started guide on AWS, the istio-ingressgateway EXTERNAL-IP remains pending. The docs pretty much say your SOL in that case and to use the Node Port.

I am looking for information on how to get this working or how to manually assign the aws load balancer so that I can get ingress traffic.

**Describe alternatives you've considered**
I

[2020-05-18 19:55] howardjohn commented on #23922
@myidpt do we support plaintext only mode in 1.4?

@piyush0609 in 1.5+ there is no more hot reload during cert rotation if you are able to update

[2020-05-18 19:56] howardjohn commented on #23919
some sort of networking issue. Is this the test actually reaching out to some external jwks server or something?

[2020-05-18 19:57] howardjohn commented on #23919
The other one is  also a networking issue. @carolynhu did you run this without internet access?

These *should* work without connectivity but they clearly don't - should be updated to use mocks

[2020-05-18 19:58] howardjohn commented on #23917
These errors are unrelated to cert-manager stuff. This means a pod is connecting to Istiod (control plane, not Ingress traffic) with a bad cert.

I would checkout what `10.244.2.12` is as that is the client. I recommend `kubectl get pods -A -owide | grep 10.244.2.12` to find this

[2020-05-18 20:00] howardjohn commented on #23914
Are the pods in the same locality? May be enabling https://preliminary.istio.io/docs/ops/traffic-management/locality-load-balancing/?

[2020-05-18 20:35] jasonwzm opened #23943 "Move Analysis Framework to Istiod"
`istioctl analyze` can remain use the existing framework. Merge with distribution status controller is also good to have.

[2020-05-18 20:58] carolynhu commented on #23919
@howardjohn I run this with network access.

[2020-05-18 20:58] howardjohn commented on #23879
I really don't think this URl approach is possible. What if I want to specify just one config and not the other? Or if I instead want to override discoveryAddress or some other arbitrary field?

Its disappointing there is not support for query parameters... we could possibly hack it like `istiod/inject/foo=bar/baz=something` and process as query parameters but that feels wrong

[2020-05-18 21:08] linsun opened #23945 "validation controller too chatty in istiod log"
**Bug description**

The info log is too hard to read because too many messages from validation controller, every min?

[code]

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

**How was Istio installed?**
when centralIstiod is enabled

**Environment where bug was observ

[2020-05-18 21:37] howardjohn opened #23947 "Workload Entry: read labels from metadata labels"
No it doesn't work with metadata today.. it will probably be a pain point though. Not sure if we do the superset of metadata and spec maybe? Fallback to metadata if spec.labels is empty?

[2020-05-18 21:46] howardjohn commented on #23945
I don't think we want to make this less verbose, its indicating a real error. We should fix the error

[2020-05-18 21:48] howardjohn commented on #23939
Are you using EKS or self run k8s on ec2? I thought EKS supports LB out of box (https://docs.aws.amazon.com/eks/latest/userguide/load-balancing.html)?

[2020-05-18 22:01] howardjohn commented on #23899
I am working on this

[2020-05-18 22:31] myidpt opened #23948 "Using istiod as an RA"
**Describe the feature request**
Today, istiod can be used as a CA or RA for K8s CA. We need to extend this to make istiod can be used as an RA for other CAs.

**Describe alternatives you've considered**

* Having istio-agent directly integrate with custom CAs. This has the limitation that the custom CA needs to support the fine-grained authn and authz of the request.
* Having Envoy directly integ

[2020-05-18 22:49] luislhl opened #23950 "Istio 1.5.1 - Error changing Grafana environment variables"
**Bug description**
I am trying to change the environment variables applied in the Grafana deployment, but I am getting errors and inconsistent behavior.

I'm running this command to update an existing installation:
[code]

Sometimes I got errors, sometimes I got strange behavior, like one of the variables being missing in the grafana Deployment/Pod, or each variable being duplicated with differen

[2020-05-18 23:39] howardjohn commented on #23715
I am pretty sure what happens is:

* Empty secret is created
* Agent fails to read it
* Secret update with key/cert

But we don't handle the update. I will verify this in a bit, just a guess right now

[2020-05-18 23:40] howardjohn commented on #23715
Btw its not just changing the secret, I reproduced with a brand new cert which is why I think ^ is the root cause. will try to get 100% reproducer

[2020-05-18 23:40] sha-rath commented on #7640
I am having the same problem. I'm using Mac with Docker for Desktop installed (k8s running too). Istio v1.5.2 and bookinfo deployment is fine. I have defined both gateway and virtual service, but I'm unable to access http://localhost/productpage

[2020-05-19 00:25] howardjohn opened #23951 "auto mtls might be breaking regular TLS"
Configure DR like
[code]

config_dump shows both transport_socket and transport_socket_matches and the traffic is wrong - its neither recognized as a TLS handshake nor is it plaintext.

Disabling auto mtls and everything works.

Assigning to myself to investigate further

[2020-05-19 00:28] howardjohn commented on #23933
I think this is a regression. `curl 0:8080/debug/inject` shows the update but injection calls use the old one

[2020-05-19 00:29] howardjohn commented on #23933
Actually nevermind, its just slow :slightly_smiling_face: at least for me, it seems to update

[2020-05-19 01:51] howardjohn commented on #23950
https://github.com/helm/helm/issues/6002 mentions it may happen with duplicate env vars  - so  ithink this might be because we already define `GF_AUTH_BASIC_ENABLED`?

[2020-05-19 02:04] godsend1024 commented on #21459
我也遇到了，请问如何解决这个问题呢？

[2020-05-19 02:11] howardjohn commented on #23948
Other alternatives is to integrate with 1/2 APIs, the k8s CSR api or cert-manager CSR api (soon cert manager will implement k8s CSR anyways though). Then we can leverage one API and use any CA that has a controller for that. cert-manager has venafi and vault support at the very least, possibly more

[2020-05-19 02:53] rajivml commented on #23917
aah, thanks for the suggestion @howardjohn , I have restarted the pod in question and it fixed the issue, I think this happened because of istio and cert manager un-installation n installation again

[2020-05-19 02:53] rajivml commented on #23917
you can close the issue, thanks again for the support

[2020-05-19 02:56] #23917 closed

[2020-05-19 03:02] irisdingbj commented on #23945
we do not need try to update failure policy from validation controller in remote cluster. This has already been done by the validation controller in main cluster.

[2020-05-19 03:39] hzxuzhonghu commented on #23933
https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#mounted-configmaps-are-updated-automatically

[code]

[2020-05-19 04:59] suchita-jain commented on #23118
I am curious how you got the "endpoints with no pods" metric?

[2020-05-19 05:01] #18213 closed

[2020-05-19 05:01] #18631 closed

[2020-05-19 06:05] drzdbd1 commented on #23916
Yes we do, we developed a service that creates the intermediate CA cert and sets the name constraints.

We figured out the root cause, for some reason we missed the change from #17111 in our custom 1.4.7 citadel image so the generated certs from citadel violated the name contasints.

Envoy does check name constraints, which caused mTLS to fail.

[2020-05-19 07:33] rishiraaz commented on #23332
Facing a similar issue where even though ALLOW_ANY is set, i had to create serviceentries to enable outside communication. I have a lot of calls to outside and is not possible to add all as service entries

[2020-05-19 09:28] alexichepura commented on #22672
quay.io outages
https://status.quay.io/history

[2020-05-19 10:44] barrieumaru commented on #7589
**Can someone help: If i run the following command i got the result**

=> kubectl describe pods -n istio-system kiali-7ff568c949-4vxcm

Name:           kiali-7ff568c949-4vxcm
Namespace:      istio-system
Priority:       0
Node:           k8s-agentpool1-39702042-2/10.240.0.4
Start Time:     Tue, 19 May 2020 10:06:05 +0000
Labels:         app=kiali
                pod-template-hash=7ff568c949

[2020-05-19 10:50] mhus commented on #22672
I have the same problem:

docker pull quay.io/kiali/kiali:v1.15
Error response from daemon: Get https://quay.io/v2/kiali/kiali/manifests/v1.15: received unexpected HTTP status: 500 Internal Server Error

[2020-05-19 10:54] mhus commented on #22672
And the server is offline again ....

[2020-05-19 12:09] jmdamato commented on #23939
Sorry I should have clarified, yes I saw that guide, but I have to use strait up k8s on ec2.

[2020-05-19 12:34] esnible commented on #23923
@ostromart Would it be reasonable to fix this for 1.6.1?

[2020-05-19 12:37] mzegarras commented on #13612
Hello, I can open circuit but it apply inside subsets:

`apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: lab06apictaaho
spec:
  hosts:
    - lab06apictaaho
  http:
    - match:
        - uri:
            prefix: /accounts
      route:
        - destination:
            host: lab06apictaaho
            subset: bus
            port:
              number: 7070
        #

[2020-05-19 12:44] tasdikrahman opened #23956 "Timeouts being caused due to the DestinationRule configuration to propagate to the envoy sidecars"
**Describe the feature request**

Not very clear here [https://istio.io/docs/ops/best-practices/traffic-management/#avoid-503-errors-while-reconfiguring-service-routes](https://istio.io/docs/ops/best-practices/traffic-management/#avoid-503-errors-while-reconfiguring-service-routes) on how long should one wait after updating the destination rule with the new subset, before going forward with updati

[2020-05-19 12:49] luislhl commented on #23950
@howardjohn , thanks for you response.

My intention doing this was to disable Anonymous login in Grafana, so I thought I could pass those variables and override the defaults.

Is there a better way to do it?

[2020-05-19 13:18] piyush0609 commented on #23922
@howardjohn is there any possible way we could disable citadel for our usecase?

[2020-05-19 14:14] btoonk opened #23957 "HTTP request lost"
**Bug description**

An app with Istio enabled connects to a http service outside the mesh during startup.
Most (or all initial) request fails. In the istio-proxy container log we don't see the request getting logged. With debug enabled we do see the following:

[code]

We're using the scuttle wrapper for this app so the istio-proxy is already running once the app starts.
The service that it's con

[2020-05-19 15:08] howardjohn commented on #20811
still desired

[2020-05-19 15:19] howardjohn commented on #23923
Setting revision is not supported on Istio 1.5, only 1.6+

Gateway not having the -canary suffix is intended, you can already create multiple gateways

[2020-05-19 15:36] howardjohn commented on #23715
I think there are two related problems

Deleting secret and creating empty secret behave different

Scenario one:
* Apply secret with cert
* Apply empty secret
* Remove gw and reapply
* Nothing happens, old cert remains, old cert is sent

Scenario two:
* Apply secret with cert
* Delete secret
* Nothing happens, old cert remains
* Remove gw and reapply, NO cert is sent

Empty secret means
[code]

-

[2020-05-19 15:42] howardjohn commented on #23715
I confirmed similar behavior is present in Istio 1.5 so its not a (new) regression

[2020-05-19 15:42] howardjohn commented on #23715
Bumping to P0 as we have a reproducer now

[2020-05-19 15:43] #23945 closed

[2020-05-19 15:43] #21415 closed

[2020-05-19 16:18] #21395 closed

[2020-05-19 16:18] #23511 closed

[2020-05-19 16:19] erdun commented on #23923
If ingress and gateway are updated by replacing the old ones, you cannot use the label `istio.io/rev` to know which revision the pod belongs to.

And whether to consider adding command `rollback`, we can install pods by revision, but other resources replace the old, that would cause serious errors

[2020-05-19 16:30] crhuber opened #23959 "Istio Upgrades Cause Spike in Istio-Proxy Memory"
**Bug description**

We have a large istio deployment with ~1000 connected istio-proxy's.

When upgrading from Istio 1.4.7 > 1.5.4 (or any other version upgrade) we experience a large increase of memory use per istio-proxy for a few hours after the deployment. The net result is that the memory use spike on roughly 1000 istio-proxy's causes Kubernetes nodes to be starved of memory and eventually go

[2020-05-19 16:51] quinn commented on #23688
@morvencao that sounds great. thats actually my question: "Can i somehow reference a different values.yaml for the istio manifest generate command?"

[2020-05-19 17:04] dominicqi commented on #23847
Any one help ?

[2020-05-19 17:18] sb1975 commented on #23428
So essentially I am suggesting that the way today we have" istioctl kube-inject " mechanism to inject a pod into any Application pod, can we enhance the istioctl with another module to remove the injected service proxy.
Something like "istioctl kube-remove .. " which will remove the injected service proxy but at the same time ensuring that end user continue to get served, maybe using the Rollingup

[2020-05-19 17:20] jnovick opened #23960 "Look again at support for W3C Trace Context for distributed tracing"
**Describe the feature request**

There previously was an issue for this but it got closed due to inactivity and was wondering whether it should be re-examined again. You can look at it for more details: https://github.com/istio/istio/issues/16703

**Describe alternatives you've considered**

**Additional context**

I see W3C support in Envoy: https://www.envoyproxy.io/docs/envoy/latest/api-v3/con

[2020-05-19 17:21] howardjohn commented on #23428
There is a `istioctl x kube-uninject` command that may give you what you are interested in

[2020-05-19 18:03] jshaughn opened #23963 "[1.6] TCP traffic reported in disparate prometheus time-series"
I think there is an issue with TCP telemetry but perhaps it's intended this way with Telemetry V2.  In short, a request is being reported in two parts.  Using bookinfo with the mongo option, we can see in the Kiali graph below that TCP requests from ratings-v2 to mongodb are reported in two parts:  from ratings -> mongo host, and then unknown -> mongo service/workload.

![image](https://user-image

[2020-05-19 18:14] #23217 closed

[2020-05-19 18:27] esnible commented on #23536
Currently we have
an RFC from mitch on using Kubernetes API aggregation for the API
… but also a XDS event reporting mechanism proposed by costin that may be sufficient.  It will be alpha in 1.7.
The API MUST fully function as replacement of the current GET /debug/* functionality used by istioctl
The API MUST offer unsharded results
The API MUST work with remote control plane (multicluster and Cen

[2020-05-19 18:34] bianpengyuan commented on #23963
I cannot reproduce this on a non-cni cluster. So probably related to CNI. Can I get a config dump from your ratings-v2 and mongodb pod?

[2020-05-19 18:35] rvennam commented on #23225
If you upgrade Istio 1.4 to 1.5.2, it now has both Gateways:
[code]

@morvencao

[2020-05-19 18:37] bianpengyuan commented on #23963
This is not expected. The metrics indicate TCP metadata exchange does not happen.

[2020-05-19 18:41] lambdai commented on #23858
I finally reproduced it... Huge thanks @howardjohn to have envoy at localhost running.  Will update later today

[2020-05-19 19:02] howardjohn opened #23966 "Test_KubeSecretController fails locally"
Some dependency on KUBECONFIG

[2020-05-19 19:12] Shashankft9 opened #23967 "Blocking one microservice to send requests to other microservices"
I went through the documentation and examples but failed to achieve this use case:
Lets say there is a namespace `test`, and it has two microservices `test-1` and `test-2`. And there is another namespace` target`. How can I make sure that my `test-1` microservice can send requests to the `target` ns microservices while the other microservice `test-2` can't?

Sidecar CRD can do the blocking of comp

[2020-05-19 19:13] djamaile commented on #22672
Ah server is offline, I already thought what is going on

[2020-05-19 19:34] ajitchahal commented on #22893
With istio 1.5.4, adding the annotations work, but now even the envoy own readiness is failing because of https://github.com/istio/istio/issues/22498
[code]

So even for envoy i need a POD annotation to ignore its healthcheck port.
[code]
15020: is istio proxy health check & 9090 is my own port that I want to exclude.

[2020-05-19 19:35] linsun commented on #23933
@howardjohn @hzxuzhonghu thank you very much for your comments!  This makes sense, and I have validated it does take 2 mins to pick up the change without restart.

[2020-05-19 19:35] #23933 closed

[2020-05-19 19:43] jshaughn commented on #23963
ratings-v2 Pod:
===========
ind: Pod
apiVersion: v1
metadata:
  generateName: ratings-v2-65fdc4b4f6-
  annotations:
    k8s.v1.cni.cncf.io/networks: istio-cni
    k8s.v1.cni.cncf.io/networks-status: |-
      [{
          "name": "openshift-sdn",
          "interface": "eth0",
          "ips": [
              "10.130.2.8"
          ],
          "dns": {},
          "default-route": [

[2020-05-19 19:53] howardjohn commented on #23967
Take a look at our authorization APIs: https://istio.io/docs/tasks/security/authorization/

[2020-05-19 19:55] mandarjog commented on #23865
Not fully done. We need to update plugins to continue working with sane defaults if possible.

[2020-05-19 20:34] JimmyCYJ commented on #23715
Thanks @howardjohn

Secret update broken in some cases. Reproducer:

- Create secret+gw
- Delete secret
- Delete gw
<wait 45s for drain>
- Create gw
- Recreate secret
Secret is stuck warming permanent

@williamaronli could you take a look and try reproduce it following these steps?

===============
Scenario one:

- Apply secret with cert
- Apply empty secret
- Remove gw and reapply
- Nothing happe

[2020-05-19 21:19] jshaughn commented on #23963
Sorry, @bianpengyuan, here are the dumps you wanted.  Feel free to delete the above comment if you like.

[dump_mongov1_json.txt](https://github.com/istio/istio/files/4653200/dump_mongov1_json.txt)
[dump_ratingsv2_json.txt](https://github.com/istio/istio/files/4653201/dump_ratingsv2_json.txt)

[2020-05-19 21:27] bianpengyuan commented on #23963
Ah, do you turned off mtls or auto-mtls? TCP stats will require mtls in order to be fully populated. It relies on ALPN to make sure both sides have sidecar and they are capable for exchange metadata.

[2020-05-19 21:28] 1hanymhajna commented on #23914
@howardjohn make sense, the `locality-load-balancing` enabled by default, and yes they are in the same subnet

Thanks for you help

[2020-05-19 21:39] gargnupur commented on #23963
Even if mtls is on, I think this would be another case of https://github.com/istio/istio/issues/23907 -> UpstreamTlsContext doesn't have `istio-peer-exchange` alpn as the cluster has http2_protocol_options specified.

[2020-05-19 21:47] bianpengyuan commented on #23963
@gargnupur That does not apply here. Mongo db in bookinfo has its port named and proto sniffing is not enabled here.

[2020-05-19 22:23] ycai-aspen opened #23970 "Redirect: excludeInboundPorts should exclude port 15020"
**Bug description**
In the documentation about traffic.sidecar.istio.io/excludeInbouldPorts,
https://istio.io/docs/reference/config/annotations/
it states that excludeInboundPort only works when includeInboundPort is "*". However, port 15020 should be excluded. Otherwise, traffic for istio will go through sidecar. The document should specified the ports that automatically excluded such as port 22,

[2020-05-19 23:05] adiprerepa commented on #22804
Is this an update to the docs or a code update? Should a custom case be created in the code for this?
The error occurs at: https://github.com/istio/istio/blob/master/operator/pkg/validate/validate_values.go#L46

Not really sure how to more forward from this.

[2020-05-19 23:08] howardjohn opened #23971 "Service selecting workload entry issues"
https://github.com/istio/istio/blob/f47d20bb15e7d14a9c3004987568334bd7224c12/pilot/pkg/serviceregistry/kube/controller/controller.go#L922 can panic

Something is broken with Service that has different target port and port

This issue is vague, opening so I remember to investigate

[2020-05-19 23:48] howardjohn commented on #23065
I think this is fixed - error no longer occurs. Will leave open in case there is context I am missing

[2020-05-19 23:50] howardjohn commented on #23063
Closing as this is a documentation issue and the confusing doc has since been removed in 1.6. Please try this out, thanks!

[2020-05-19 23:50] #23063 closed

[2020-05-19 23:51] howardjohn commented on #23020
Would you mind trying out 1.6? I verified it myself but would be good to get a second set of eyes on it

[2020-05-19 23:53] AlexDHoffer opened #23973 "Istio 1.5.1 periodically reports high inbound traffic latencies"
**Bug description**

An upgrade to Istio 1.5.1 seems to have caused the istio_request_duration_milliseconds_bucket to periodically report very high p95 latencies, specifically when the window of the metric is low (~1 minute).

Specifically, the following metric:

``sum(rate(istio_request_duration_milliseconds_bucket{reporter="destination",destination_app!~"unknown|telemetry", cluster=~"$Cluster"}[

[2020-05-20 00:15] howardjohn commented on #23038
@stewartbutler is this fixed?

[2020-05-20 00:20] howardjohn commented on #23024
The reason here is the difference between HTTP and TCP protocols.

TCP routing is done based on IP/CIDR. This is why in the example the host says "not used" - TCP doesn't have a host header so of course cannot be used for routing

HTTP on the other hand is doing routing based on host header. For convenience of direct IP connectivity, when you have an IP in the `addresses` field it will also match

[2020-05-20 00:22] #23879 closed

[2020-05-20 00:23] howardjohn commented on #23080
#23212

[2020-05-20 00:23] #23080 closed

[2020-05-20 00:23] howardjohn commented on #23112
@shakti-das is this done?

[2020-05-20 00:37] bianpengyuan commented on #23973
So is it possible that your service is actually responding occasionally with 10s latency? You can check it by enabling tracing, or access log on the problematic workload (https://github.com/istio/istio/wiki/EnvoyFilter-Samples#tracing-and-access-logging).

Your observation would make sense if the service indeed could take 10s to response, in which cases 1 min might not have enough requests, so 95p

[2020-05-20 00:45] stewartbutler commented on #23038
Yes, though I need to go back and make the fix more general.

I'm going to close this issue though.

[2020-05-20 00:45] #23038 closed

[2020-05-20 00:51] nak3 commented on #23485
Any news for ths?
I think that it would be alright to add `sideEffects: None` like other validation webhook, but is there any problem?

[2020-05-20 00:58] devkws opened #23975 "Update Grafana to 7.0"
It would be nice to have the latest version of Grafana (7.0) come with Istio. I realize it just came out however🤓

[2020-05-20 01:07] #23865 closed

[2020-05-20 02:09] morvencao commented on #23225
Currently we can deploy gateways with:
[code]

the name of ingress gateway can be specified in istio operator api.

[2020-05-20 02:13] istio-testing opened #23976 "[release-1.6] update cluster info based on injection url"
Manual cherrypick required.

#23942 failed to apply on top of branch "release-1.6":
[code]

[2020-05-20 02:18] linsun commented on #22918
Closing this now, my thanks to @irisdingbj @hzxuzhonghu @myidpt for the help in delivering/providing consultation to this feature.  I've validated it today (with https://github.com/istio/istio/pull/23942) and it works nicely.

[2020-05-20 02:18] #22918 closed

[2020-05-20 02:19] linsun commented on #23028
I think this is working nicely, with https://github.com/istio/istio/pull/23942 in.

[2020-05-20 02:19] #23028 closed

[2020-05-20 02:22] linsun commented on #23495
Pending validation but this is fixed with configuring `fromRegistry` to the cluster name in main cluster per @GregHanson

[2020-05-20 02:27] linsun commented on #23182
Could be 2 scenarios for this.   Scenario 1 is top priority:

1. Users use central istiod on a management cluster to manage remote data plane.  This management cluster isn't intended for users to access it or deploying user's workloads on it.  Workloads should be deployed in remote data plane.  We should be able to validate remote data plane can function normally:
- book info can come up via gatew

[2020-05-20 02:34] linsun opened #23978 "istioctl function review and validation for central istiod"
**Describe the feature request**

We need to understand what istioctl cmds are working and not working for central istiod, particularly for remote cluster (see scenario 1  - https://github.com/istio/istio/issues/23182#issuecomment-631196102)

I've found `istioctl ps` is broken.

`istioctl kube-inject` is also broken.
**Describe alternatives you've considered**

**Additional context**

[2020-05-20 02:34] linsun commented on #23978
@esnible appreciate you have this as an 1.7 item for UX roadmap

cc @irisdingbj

[2020-05-20 03:05] musaprg commented on #21862
Hi, is anyone already working on this? If not, I would like to try.

[2020-05-20 03:06] linsun commented on #23976
https://github.com/istio/istio/pull/23979

[2020-05-20 03:20] dosten commented on #22601
Currently we moved to go modules, so now we use the `replace` directive to replace `istio.io/fortio` by `fortio.org/fortio`.

But this will affect to anyone stick to `dep` and using an older version of `istio/tools`

[2020-05-20 03:25] #23225 closed

[2020-05-20 04:26] ramaraochavali commented on #23112
Yes. We can close this.

[2020-05-20 04:26] #23112 closed

[2020-05-20 05:01] #18262 closed

[2020-05-20 05:09] mandarjog commented on #20538
@nrjpoddar @douglas-reid Adding this back to 1.7 P0.

[2020-05-20 05:58] tvdinh opened #23983 "Having port range or port wildcard in configurations and rules"
**Describe the feature request**
Having port range or port wildcard in configurations and rules.

Context:

1. Configure external service (Apache ActiceMQ server in particular) for Istio Service Mesh

2. External services like Apache ActiceMQ, they have a few standards ports but then also use a random port to communicate with established clients (via JMS etc.). So to whitelist them, it would be us

[2020-05-20 06:42] nataraj24 commented on #8807
when will version 1.6 will be released

[2020-05-20 07:23] softshipper opened #23984 "Failed to wait for resource: resources not ready after 10m0s: timed out waiting for the condition"
Hi all

I tried to install Istio on my digital ocean cluster as follows:

.`/istioctl manifest apply --set addonComponents.grafana.enabled=true --set addonComponents.kiali.enabled=true`

and it showed the following error message:

[code]
What am I doing wrong? K8S version is 1.17 and it is not a multi cluster.

Thanks

[2020-05-20 07:32] lambdai commented on #23858
stack trace: http://paste.ubuntu.com/p/4C6wc4QTSK/
We are hitting the issue again that protobuf message as key in hash table is not stable.
This time is even worse: it's not about the pilot. A c++ copied message doesn't have the exact hash/equality.
Will dig deeper tomorrow.

[2020-05-20 07:32] venkatk-25 opened #23985 "Need Docs/Guide on setting trust-between-meshes"
**Describe the feature request**
Need more documentation around  [trust-between-meshes](https://istio.io/docs/ops/deployment/deployment-models/#trust-between-meshes).
The document mentions trust bundles can be added manually or automated, a guide/ example on the same would be really helpful. We are in need for this as we have multiple orgs which needs to have different rootCAs.

**Describe alterna

[2020-05-20 07:37] Shashankft9 commented on #23967
@howardjohn thanks for the quick response. So, if I let the `selector` in `spec` be empty and just mention the rules as:
[code]
the policy applies on the complete namspace, allows `test-1` to POST while stops `test-2` to do the same, is it?
Anyway, I am going to try this hands on as well, currently installing Istio in our infra, thanks a lot!

[2020-05-20 11:55] gopaltirupur commented on #23984
I am also getting the same issue,

Works with out any issues when using the release-1.5.4  binary
Facing the same issue when going for local build generated from release-1.5.4

[2020-05-20 12:26] angelovopsan commented on #9783
Hi, could you please share on which version you managed to block request with cors?

[2020-05-20 13:16] rvennam opened #23987 "Improve istioctl proxy-config routes output"
**Describe the feature request**
[code]
proxy-config routes for gateway pod doesn't show useful information, unless you add the `-o json` flag. Json output shows very useful debug data (path matches and routes). It would be good to to have the metadata field with the rule name to show up standard output.

**Describe alternatives you've considered**

**Additional context**

[2020-05-20 13:24] linsun commented on #23859
This ingress gw issue is fixed by adding caAddress in the remote yaml config (see https://github.com/istio/istio.io/issues/7243).   With that, ingress gw can reach running.

The sidecar not reach running issue is tracked under #23879

[2020-05-20 13:24] #23859 closed

[2020-05-20 13:25] GregHanson commented on #23987
cc @esnible

[2020-05-20 13:26] linsun commented on #22934
Initial steps are avail for folks who are interested in trying this out:

https://github.com/istio/istio.io/issues/7243. (One caveat, there is one issue we discovered very late in 1.6 release cycle that was just fixed today and it will be in 1.6.1.  Manual workaround is provided in 7243 when using 1.6 rcs.)

[2020-05-20 13:26] rvennam opened #23989 "istioctl convert-ingress references istio-autogenerated-k8s-ingress"
**Bug description**
If you convert an ingress, it generates a VS with gateway set to `istio-system/istio-autogenerated-k8s-ingress`

It would make sense to just set this to the default GW resource that gets created with the install...
`istio-system/istio-ingressgateway` in Istio 1.5.2+

If in 1.6, we aren't creating a GW resource out of the box, then we should change this name to something more ob

[2020-05-20 13:28] chandra210893 commented on #22986
Team, Any update on this ?

[2020-05-20 14:08] softshipper commented on #23984
I downloaded the Istio binary from `curl -L https://istio.io/downloadIstio | sh - ` and installed Istio with command
[code]
and always the installation of Pilot failed.

What am I doing wrong?
Thanks

[2020-05-20 14:08] rvennam commented on #23989
cc @esnible

[2020-05-20 14:11] rvennam commented on #23925
cc @istio/steering-committee

[2020-05-20 14:13] bobdonat commented on #19392
This workaround generates the same result as using --set

[2020-05-20 14:15] esnible commented on #23989
Added `area/networking` because the code is in _pilot_.

The code is _pilot/pkg/config/kube/ingress/conversion.go_ and `istio-autogenerated-k8s-ingress` is a constant defined in _pkg/config/constants/constants.go_.  _Istioctl_ itself isn’t setting that name.  Pilot /pkg sets it.  It is likely that the rest of Pilot stopped calling this method but _istioctl_ is still calling it.

[2020-05-20 14:25] howardjohn commented on #21862
@musaprg I don't think anyone is, thanks! We should see if we can use the same logic that `istioctl kube-inject` uses so those code bases do not diverge more

[2020-05-20 14:25] esnible commented on #23987
This PR https://github.com/istio/istio/pull/22186 might fix things.  The PR hasn't gotten much attention because it wasn't linked to an Issue.

[2020-05-20 14:26] howardjohn commented on #22601
So my understanding is this is fixed in master, but not in older versions. But we cannot really change older versions now? So I think there is nothing we can do here; if people run into this they can update or use the replace? Am I understanding correctly?

[2020-05-20 14:28] ajitchahal commented on #22893
Update: addingsidecar.istio.io/rewriteAppHTTPProbers: "true" as pod annotation fixes the issue.

[2020-05-20 14:56] Adharsh-Muraleedharan opened #23990 "Installing istio with istioctl version 1.5.2 fails during applying manifest"
**Bug description**
Installing Istio on our EKS cluster via istioctl fails while applying manifest.
note: if i rerun it again it get deployed

**Expected behavior**
Should be correctly deployed without erroring out

**Steps to reproduce the bug**
Below are the shell commands used to install istio via istioctl:

curl -L https://git.io/getLatestIstio | ISTIO_VERSION=1.5.2 sh -

export PATH=$PWD/isti

[2020-05-20 14:58] Adharsh-Muraleedharan commented on #23990
@ramaraochavali - Could you please help us with this ?
Also we would like to know what is the best way to upgrade istio from one version to another without any traffic loss in prod setup ?

Thanks in Advance

[2020-05-20 15:07] softshipper commented on #23984
When I look into the pod, it shows the following:

![Screenshot from 2020-05-20 17-01-49](https://user-images.githubusercontent.com/56756949/82462824-5d6a5400-9abc-11ea-8185-d0cf93a1a363.png)
What am I doing wrong?

Thans

[2020-05-20 15:08] linsun commented on #23930
If you don't specify an overall traffic policy, the traffic policy for a subset will apply?

[2020-05-20 15:09] whitleykeith opened #23991 "TCP Metrics not being recorded accurately"
**Bug description**
When installing the bookinfo sample + MongoDB, we are seeing an issue where TCP Traffic is inaccurately being recorded.

For traffic calling to that destination, we see the destination service being $SERVICE.$NAMESPACE.svc.cluster.local with unknown destination workload/namespace.

When the source side of that traffic is being recorded, we see unknowns on everything.

**Expecte

[2020-05-20 15:10] juniorz commented on #23959
This graph is for memory use across all sidecars. When we aggregate by image version, we see that `1.4.7` proxies had a ~`100M` increase after the control plane was upgraded, and the `1.5.4` sidecars had only a slight increase in memory use.

![image](https://user-images.githubusercontent.com/30809/82461848-23e51900-9abb-11ea-8927-6e23c90a46fc.png)

Our current hypothesis is that the `1.4.7` proxi

[2020-05-20 15:22] 2ZZ commented on #18672
I also tried to use this but the header was still lowercased.
This was on istio 1.5.4

[2020-05-20 15:33] howardjohn commented on #23989
@esnible agree that is what happened. Pilot not internally generates both the Gateway and VirtualService

[2020-05-20 15:34] howardjohn commented on #23990
You need to create the istio-system namespace prior to kubectl apply

[2020-05-20 15:38] alefcarlos commented on #9783
@angelovopsan, yap ! I'm using Istio 1.2.4 ;)

[2020-05-20 15:40] howardjohn commented on #23987
That PR just fixes the one empty name though, I think this is about showing more columns?

[2020-05-20 15:53] howardjohn commented on #23983
I am not sure this is really possible in Envoy. I assume you do not want to whitelist literally all traffic, and instead just any IP addressed returned from DNS for activemq.external, on any port?

As far as I know Envoy cannot do this; its DNS resolution is only for load balancing

[2020-05-20 15:53] howardjohn commented on #23983
And if you want to allow all traffic, you can use ALLOW_ANY

[2020-05-20 15:55] musaprg commented on #21862
Thanks @howardjohn , I will start investigating. At first, let me confirm that I got it correctly,
- currently `istioctl kube-inject` don't care if sidecar pod is already injected to the target Pod.
- It will impact in some cases, so it should be fixed.

[2020-05-20 16:03] howardjohn commented on #21862
Yeah I think today the kube-inject command just checks for the presence of
istio-proxy container and does nothing if it's already there. And it
shouldn't ever be double injected in normal cases, but there may be
misconfigurations that cause it. For example, using kube-inject then
deploying to a injection-enabled namespace

On Wed, May 20, 2020 at 8:55 AM Kotaro Inoue <notifications@github.com>
wro

[2020-05-20 16:14] howardjohn commented on #23984
Sounds like your cluster is not large enough to fit pilot (insufficient memory)

[2020-05-20 17:21] richardwxn commented on #23919
this seems like a local environment issue

[2020-05-20 17:52] rvennam commented on #23987
Right - more columns....maybe a table that shows information like:

path "/productpage" ->  "outbound|9080||productpage.default.svc.cluster.local" and the VS is defined in "namespaces/default/virtual-service/bookinfo"

Sample of what `-o json` shows:
[code]

[2020-05-20 18:37] nareshbaliga opened #23996 "Istio 1.2.10 TLS connection issues with GCP Cloud NAT, under load"
**Bug description**
When an external HTTPS endpoint is accessed through the istio-proxy and GCP Cloud NAT, TLS connection issues start getting reported after a certain requests/sec rate is crossed.

I have a curl script that executes within a container and hits an externally located HTTPS endpoint. The endpoint is a randomly chosen asset on cnn.com, but the issue presents itself with any HTTPS end

[2020-05-20 18:37] #21077 closed

[2020-05-20 20:39] therealmitchconnors opened #23998 "istioctl wait always times out for Virtual Service"
[code]

will always timeout.  It doesn't appear that this is due to any particulars of the virtual service.  Rather, the cluster connection will never receive an update due to a virutalservice changing.  Example output of debug is:

[code]

[2020-05-20 20:48] therealmitchconnors commented on #23956
Hi Tasdik,

The good news is this is just the kind of feature the User Experience working group has been focused on for a few releases now.  In 1.4, we added `istioctl experimental wait`, which blocks until the specified resource has been distributed.  This is probably where I'd recommend starting, as it's enabled by default and available today.  Two caveats are that 1.6 has some known issues (#23

[2020-05-20 20:49] therealmitchconnors commented on #23998
This is currently blocking istio.io adoption of wait for tests.

[2020-05-20 21:08] sdake commented on #23959
@crhuber first off, thank you for adopting Istio into such a large deployment!

Are the Sidecar objects in use?

I have copied @mandarjog and @douglas-reid as the two foremost experts in the project around memory consumption. Will get others involved as needed.

Cheers
-steve

[2020-05-20 21:10] gopaltirupur commented on #23984
Given below the " kubectl describe pid <pod-name> -n istio-system" output for both the release-1.5 and my custom build.

---------------------------------------------------------------------------------------------------------------------
From release-1.5:
---------------------------------------------------------------------------------------------------------------------
Name:         istiod-8688

[2020-05-20 21:11] ostromart opened #24000 "Validate PDB and HPA settings are compatible"
autoscaling enabled causes PDBs to be installed, but there's no enforcement of minReplicas to be compliant with PDB which means that if the value is too low pods can be completely prevented from restarting, blocking rescheduling, upgrade etc.
This feature would at least validate that the settings are correct.

[2020-05-20 21:14] howardjohn commented on #23984
@gopaltirupur you are referencing an image that does not exist

[2020-05-20 21:16] howardjohn commented on #23075
This is a duplicate of https://github.com/istio/istio/issues/12602, lets track there to make things simpler. Thanks!

[2020-05-20 21:16] #23075 closed

[2020-05-20 23:43] gopaltirupur commented on #23984
I am following the standard  'make build'  and using the build available at ./out/linux_amd64/
for installation

[2020-05-20 23:44] gopaltirupur commented on #23984
I am able to successfully build using make build, make docker and make docker.push, I have my images in local as well as in docker hub

[2020-05-20 23:52] gopaltirupur commented on #23984
how to configure
'Image:         docker.io/gopaltirupur/pilot:7f81d0c3107bdaaf7fdf867119fb01ea9777d60d-dirty'
during istioctl installation using 'istioctl manifest apply'

[2020-05-20 23:53] gopaltirupur commented on #23984
@howardjohn Is there any configuration available, can you help me with a hint where I am wrong

[2020-05-21 00:04] gopaltirupur commented on #23984
@howardjohn
in my local have only one pilot image
------------------------------------------------------------------------
docker image ls | grep pilot
gopaltirupur/pilot                        1.5.4                                      0c961f1b5011        2 hours ago         221MB
------------------------------------------------------------------------
But not sure how
''Image: docker.io/gopaltir

[2020-05-21 00:36] webercoder commented on #16126
Any idea when PR #23053 might land in 1.4?

[2020-05-21 01:13] mandarjog commented on #23959
@crhuber thanks for the analysis.
1. How many namespaces do you have?
2. 200MB Steady state mem for proxy is higher than usual for a sidecar.
3. How are you upgrading ? Rolling restart one deployment at a time or more ?
4. Can you get a config dump from the older proxy
5. Can you also get a head dump? https://github.com/istio/istio/wiki/Analyzing-Istio-Performance#memory-profile

[2020-05-21 02:40] howardjohn commented on #24000
It's not just about validating they are correct, right? Our current defaults are "wrong" so we would need to change those

[2020-05-21 02:40] howardjohn commented on #23998
Is it waiting for route ack?

[2020-05-21 02:53] yjbdsky opened #24004 "istioctl: pilot-agent request port is hardcoded to 15000"
**Bug description**
When I modify the envoy adminPort, the istio pc command is not available because the pilot-angent request port is hardcoded to 15000
![image](https://user-images.githubusercontent.com/20083081/82517722-4b39f580-9b50-11ea-9199-eef1a8861322.png)

**Expected behavior**
Modify adminPort in istio-sidecar-injector configmap
**Steps to reproduce the bug**
istioctl pc cluster -n istio-

[2020-05-21 03:01] #22666 closed

[2020-05-21 03:05] adiprerepa commented on #24000
where are the current defaults even located? is this a k8s issue?

[2020-05-21 03:17] cakiem8x commented on #22730
Same issue :(

[2020-05-21 04:16] sb1975 commented on #8374
/open

[2020-05-21 04:59] gopaltirupur commented on #23984
Issue resolved for me by setting correct HUB, TAG environmental variables

export HUB="docker.io/<mydockerPath>"
export TAG="myTag-Build-eg-1.5.4"

after ensuring above environmental variables,  make docker ensures local images available and installation with kubectl just works fine

[2020-05-21 05:04] #20358 closed

[2020-05-21 05:08] gopaltirupur commented on #23984
@howardjohn Thanks for guiding

[2020-05-21 05:55] VinothChinnadurai commented on #23990
Thanks @howardjohn . We also would want best practice of istio degradation for production clusters without losing any traffic. if we have any document. Kindly suggest

[2020-05-21 06:35] hobbytp commented on #23845
The same issue in istio 1.5.4, after do some testing, seems only the output of "istioctl authn tls-check" is wrong, the PeerAuthentication configuration work correctly.

And I also found that the output of "istioctl authn tls-check" will always aligned with MeshPolicy configuration. But it is only incorrect showing, not impact to the function which is aligned with PeerAuthentication configuration.

[2020-05-21 06:38] hobbytp commented on #23845
https://github.com/istio/istio/issues/22471

[2020-05-21 06:46] arshchimni commented on #23878
Solved it by combining the jwt authn filter and using the decoded jwt payload from the dynamic metadata in the lua filter.

Thanks. I will close this issue now

[2020-05-21 07:07] nfw-legion commented on #15145
I have a similar problem here as well, ISTIO 1.4.3, I'm trying to blacklist an HTTPS-accessible URI prefix with a NOT-FOUND/404.  Using "fault.abort.httpStatus:404" for the uri-prefix-match in ISTIO VirtualServer leads from external request perspective to too-many-redirects.

[2020-05-21 08:32] julienperignon opened #24007 "IstioOperator reverts any change on port number or host"
**Bug description**
With the IstioOperator, when i change the gateway port number to 443 (instead of 80) and/or host to 'gw.domain.com' after some time the IstioOperator reverts back the port number to 80 and host to '*'.
I'm running behind an AWS LoadBalancer with the SSL certificate installed
I would expect this to be customizable from the IstioOperator spec but couldn't find anything in the doc

[2020-05-21 08:37] rytswd commented on #23688
If you want to handle additional Helm `values.yaml` input in your IstioOperator, you can add `values` stanza as explained here https://istio.io/docs/reference/config/istio.operator.v1alpha1/#IstioOperatorSpec.
You can check out this example IstioOperator definition which has similar setup.
https://github.com/istio/istio/blob/master/manifests/examples/multicluster/values-istio-multicluster-gateways

[2020-05-21 09:51] taisho6339 commented on #9764
In my use case, I solved that issue with the following configuration.

[code]

[2020-05-21 09:52] zhaohuabing opened #24008 "Security risk: no client certificate authentication between envoy/pilot-agent and pilot GRPC"
**Bug description**

There is no client certificate authentication between envoy/pilot-agent and pilotd GRPC. As a result, a malicious third-party could pretend to be a valid service and send a CSR request to the pilotd CA  to get a certificate. Then this malicious attacker can use the signed certificate to access other services in the mesh.

I found this security issue by looking into the codes,

[2020-05-21 10:11] alx13 commented on #23960
For us it's real pain because we are using NewRelic monitoring, and NR monitoring agent is supporting W3C headers, but not supporting B3. So spans within application are not connected with spans in istio.

Very hacky solution for 1.5.4: I hijacked [envoy_bootstrap_v2.json#L579](https://github.com/istio/istio/blob/1.5.4/tools/packaging/common/envoy_bootstrap_v2.json#L579)

Replacing in my docker im

[2020-05-21 10:40] uc-dang-tiki commented on #18672
I used istio 1.5.2 and with this envoyfilter. It's worked.

[2020-05-21 10:47] hasakura12 opened #24009 "Failed to get secret "istio-ca-secret" thus istiod pod's readiness probe fails on EKS"
**Bug description**
Failed to get secret "istio-ca-secret" thus istiod pod's readiness probe fails.

**Expected behavior**
istiod pod should be running on EKS

**Steps to reproduce the bug**
Install `default` profile (tried `demo` as well, no luck)
[code]

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

**How was Istio inst

[2020-05-21 11:45] tvdinh commented on #23983
ALLOW_ANY is not a preferable for my use case as mentioned in https://istio.io/docs/tasks/traffic-management/egress/egress-control/, we want any service internal/external to be registered (to be aware of)

You are right, only for `activemq.external` host  and any port.

I think the use case is quite straightforward, is there a way to achieve that ?

[2020-05-21 12:42] esnible commented on #24004
I believe Istio's install does not provide a mechanism to customize the proxyAdminPort.

The port can be customized by editing the istio-system/istio ConfigMap, and therefore it makes sense to allow _istioctl_ to work with other ports.

Can you give us some background on why you have modified this value?  I cannot recall anyone else doing so.

The mechanism of https://github.com/istio/istio/pull/2

[2020-05-21 13:12] tasdikrahman commented on #23956
Thanks for replying back @therealmitchconnors

A bit more about our setup,
- istio: 1.4.0
- multi-cluster setup, with single control plane and multiple remote clusters

How we are doing crud operations on the istio resources
- using istio client-go

[code]

### Operation which we are doing when we get the timeouts

The orchestration steps which we are doing at the moment(in order)
- create/update

[2020-05-21 13:17] tasdikrahman commented on #23956
Also noticed that the poll function that you were mentioning here https://github.com/istio/istio/blob/120d9ff04920f1c9a1db943052dd210dd5644dea/istioctl/pkg/kubernetes/client.go#L166, you are using it here in istioctl x wait  https://github.com/istio/istio/blob/master/istioctl/cmd/wait.go#L178-L184, what exactly happens when someone does a wait like `istioctl x wait VirtualService fooservice`, will