[2020-04-22 18:35] #22389 closed

[2020-04-22 18:36] #19995 closed

[2020-04-22 18:38] ostromart commented on #23124
I'm going through fixing this. The check was reverted because I originally put it into the wrong place and it got blown away by an update to common.

[2020-04-22 18:47] yann-soubeyrand opened #23151 "ServiceEntry Endpoints are not updated"
**Bug description**

When adding an endpoint to a ServiceEntry, this endpoint is not propagated to the sidecar proxies.

**Expected behavior**

Updates to ServiceEntry endpoins should be propagated to the sidecar proxies.

**Steps to reproduce the bug**

Let's start with the following ServiceEntry:

[code]

`istioctl proxy-config endpoints proxy-name | grep 5432` shows the endpoint:

[code]

Then

[2020-04-22 18:55] davesargrad opened #23153 "Automatic Sidecar Injection Not Happening on BookInfo Demo"
I've followed the instructions to install bookinfo.

I see my apps but they do not become ready.

Here they are in the coolio namespace.
![image](https://user-images.githubusercontent.com/48793689/80021653-d1f3a800-84a8-11ea-829c-4fe2235b89a9.png)

I've properly labeled that namespace.
![image](https://user-images.githubusercontent.com/48793689/80021712-f059a380-84a8-11ea-921f-865143f7c153.png)

T

[2020-04-22 19:06] josephpeacock opened #23155 "Istio Operator docs have the wrong spec for coreDNS"
**Bug description**

Istio operator examples have the wrong name for the coreDNS plugin.

**Expected behavior**

Applying provided manifests is successful.

**Steps to reproduce the bug**

I tried installing istio by applying the manifest here: (via `istioctl manifest apply -f` https://github.com/istio/operator/blob/master/data/examples/multicluster/values-istio-multicluster-gateways.yaml

but got

[2020-04-22 19:16] davesargrad commented on #23153
Same behaviour if I run bookinfo in default (rather than my own namespace)
![image](https://user-images.githubusercontent.com/48793689/80023884-38c69080-84ac-11ea-91c5-439eb9ea4fc6.png)

![image](https://user-images.githubusercontent.com/48793689/80023936-4b40ca00-84ac-11ea-82de-6a90dd49a091.png)

[2020-04-22 19:51] johnma14 commented on #23078
Closing this as fixed by #23090. Thanks.

[2020-04-22 19:51] #23078 closed

[2020-04-22 21:47] clarketm opened #23157 "Monitoring/Alerting for production perf-dashboard"
**Describe the feature request**

Add monitoring and/or alerting for the production perf-dashboard instance (https://perf.dashboard.istio.io/).

**Describe alternatives you've considered**

1. ProwJob to poll the health check endpoint (https://perf.dashboard.istio.io/healthz)
2. Stackdriver monitoring/alerts in GCP.
3. Velodrome (https://velodrome.istio.io/) or other  Grafana/Prometheous solution.

[2020-04-22 22:38] BrandonSharp commented on #19923
@cagataygurturk Ran into a similar issue just now. If you haven't solved it yet, using `--set cni.namespace=kube-system` seems to work for me.  HTH!

[2020-04-22 22:42] jmazzitelli commented on #23146
The istioctl installer was fixed. If you installed with the old helm charts, then it wasn't fixed there. I thought the helm charts were deprecated. In any event, add these two lines to the kiali configmap template in the helm chart:

[code]

I don't know where these helm charts are now - they appear to have been deleted from the install/ directory which is where they used to be.

[2020-04-22 22:50] therealmitchconnors opened #23160 "Add observability to ledger"
istio.io/pkg/ledger is difficult to introspec for debugging, and would be more useful with a GetFullGraphAtVersion which returns all key value pairs at that version, rather than just operating on one kv pair at a time

[2020-04-22 23:15] suchita-jain opened #23161 "Routing inconsistencies"
**Background**
We have an EKS cluster with Istio app mesh with around 30 services with around 30k TPS.

**Bug description**
We had a robot attack increasing traffic from 34k to 57k resulting in autoscaling from 60 to 104 nodes with pilot scaling up from 10 to max 50 pods and ingress-gateway scaling up from 50 to 461 pods. The attack was mitigated within 5 minutes. The descaling began shortly after

[2020-04-22 23:45] hq6 commented on #106
I'm confused by the commits that appear to reference this.
Is there Slicer support in Istio currently?

[2020-04-23 00:48] yankunsam opened #23162 "Istio v1.5.1"
I deploy the Istio v1.5.1, the business app's sidecar  like productpage (bookinfo) always report "Envoy proxy is NOT ready: config not received from Pilot(is Polit running?)". How to solve this problem @all

[2020-04-23 01:09] linsun commented on #23028
We had a few rounds of discussion on this today, unfortunately, this is not straightforward due to the fact that we introduced revision support in 1.6 and the way we supported mutating Webhook configuration with revision in 1.6 is that each revision has its own mutating Webhook configurations (they are differentiated based on the name including the revision id).  This is not the ideal model becaus

[2020-04-23 01:12] lainra opened #23163 "Using DestinationRule subsets per RPC method instead of per service"
Hi everyone, I’m currently considering a design for Istio abstraction for microservices and wanted to hear your opinion about it, especially the feasibility with Istio.

The idea is to create DestinationRule subset and VirtualService destination per RPC method instead of per service.

This would define the atomicity of a service down to RPC method instead of the service itself. Since a service has

[2020-04-23 01:14] linsun commented on #23138
Had some discussion within environment WG today on this and some offline discussion as well.  The summary is that we have agreed the simple approach is to modify existing Istiod code to work with multiple k8s clients from each plane to check for namespaces and create the istio-ca-root-cert configmap for each namespace and watch for namespace updates.  The main cluster should already has access to

[2020-04-23 01:29] linsun commented on #23138
Discussed with @irisdingbj and she kindly agreed to help with this.

[2020-04-23 02:52] incfly commented on #22220
I got some time to take a look again, sorry of the delay.

---
With your config dump, they are all looking as expected. The `with annotations` does not have "_9300" listeners because Envoy does not intercept traffic on that port.

When I'm looking the `without annotations` config dump, the `_9300` listeners indeed have the mTLS configured. And this configuration will remain the same regardless of

[2020-04-23 03:09] morvencao opened #23164 "iop status missing for add component after reconcile"
**Bug description**

Build and deploy in-cluster operator, create iop instance with `demo` profile, then check iop status:

[code]

Then edit or update the iop instance by changing the profile from `demo` to `default`, after all resources are reconciled, check the status again:
[code]

The status should contains `AddonComponents` because `default` profile contains `prometheus` component:

[code]

[2020-04-23 03:27] pixystone commented on #22443
how to workaround this? I met this 503 `TLS error: Secret is not supplied by SDS`

[code]

[2020-04-23 03:41] bianpengyuan opened #23166 "Consider exposing more envoy generated stats by default"
Back to Istio 1.1 release, we trimmed Envoy native stats to only collect control plane cluster stats due to excessive memory usage https://github.com/istio/istio/issues/7912. Lack of these low level signals sometimes makes it hard to debug proxy issues. Over time, Envoy has made improvement to the stats system especially its memory footprint, which makes it possible to enable envoy stats again. Th

[2020-04-23 05:01] #14523 closed

[2020-04-23 05:01] #15133 closed

[2020-04-23 05:04] #19443 closed

[2020-04-23 05:29] lei-tang commented on #22463
There are a few PRs merged for this issue (e.g., https://github.com/istio/istio/pull/22598 and https://github.com/istio/istio/pull/22606). Does this issue occur for an Istio binary with these PRs?

Meanwhile, thanks @emedina for sharing a workaround, which restarts the `istiod` deployment through "kubectl -n istio-system rollout restart deployment istiod".

[2020-04-23 06:09] #17457 closed

[2020-04-23 06:45] bianpengyuan opened #23168 "Propose creating a Wasm extension repo"
Propose creating a wasm extension repo under Istio org, it has several roles:
* Hosts production extensions, including extensions migrated from `istio/proxy` repo (prometheus stats, metadata exchange, attribute generation, etc) and extensions to get parity with Mixer functionality. This follows the direction of using upstream envoy directly and removing `istio/proxy`.
* Hosts easy-to-consume examp

[2020-04-23 08:35] nazarewk opened #23169 "Wildcard domains in `ServiceEntry` cause connection resets in high traffic scenarios (eg. ETL jobs)"
**Bug description**

This is not as much a bug as a performance observation. This should be at least mentioned in a documentation and possibly benchmarked. I will provide more details later on (possibly minimal reproduction configuration)

After weeks of on-and-off debugging of random connection resets (more resets the more parallelism was added) when switching ETL jobs to use Istio I have determi

[2020-04-23 08:50] erdun opened #23170 "xff not work on https port"
**Bug description**

https://github.com/istio/istio/wiki/EnvoyFilter-Samples
EnvoyFilter-Samples

[code]

https port not works

HTTP filters:
![image](https://user-images.githubusercontent.com/16429864/80079491-f02dd680-8582-11ea-802b-787137f95bb6.png)

https filters:
![image](https://user-images.githubusercontent.com/16429864/80079142-77c71580-8582-11ea-8906-0386911efdf1.png)

**Expected behavior

[2020-04-23 09:10] lei-tang opened #23172 "run_upgrade_test.sh in istio/tools repository fails due to charts is no longer bundled in the release"
**Bug description**
run_upgrade_test.sh (https://github.com/istio/tools/blob/master/upgrade/run_upgrade_test.sh) in istio/tools repository fails due to charts is no longer bundled in the release.
The error message is as follows:
****************
istioctl upgrade istio using version 1.6-alpha.b8b73e85c1f83b93acde15d25f1fbf83719355f7 from to_dir.UkuznB/istio-1.6-alpha.b8b73e85c1f83b93acde15d25f1fbf8

[2020-04-23 09:31] dgn commented on #23072
I hit the same issues but didn't investigate further for lack of time. What I can say though is that we're running gateways as non-root users in Maistra with no code modifications (ie I already pushed the required modifications upstream) - we do use different container images though. So changing the ownership will likely fix the issues you're seeing

[2020-04-23 10:51] ElliotPM commented on #23146
Thanks for the response. I see, we haven't tested using Istioctl but I can't see any commit between 1.4.6...1.4.7 which whould have resolved the issue?

I can see from the docs that Istio is in the process of deprecating using helm to install, but some pages refer to this as a work in process and others say it will happen in future, so we expected the security fix to be added there as well.

I und

[2020-04-23 11:55] so-jelly commented on #22463
@lei-tang the resync period looks promising, can these be cherry picked into 1.5?

[2020-04-23 11:58] davesargrad commented on #23153
I'm hoping someone from the istio team can suggest a couple things for me to look at. I can provide detailed feedback that hopefully will help you to ensure that such things get ironed out. It seems like this kind of failure can lead to slower adoption of istio.

[2020-04-23 11:59] irizzant commented on #22220
@incfly thanks for following up.
I confirm the traffic drops on port 9300 because of the aforementioned connection error, so:

This statement is correct.

[2020-04-23 12:03] lei-tang commented on #22463
The PR (https://github.com/istio/istio/pull/22606) that adds the resync period has been cherry picked into 1.5 as https://github.com/istio/istio/pull/22773.

[2020-04-23 12:05] dgn commented on #23072
I have a draft PR up in https://github.com/istio/istio/pull/23174 to see if we can get the ball rolling again on this. Thanks for your input!

[2020-04-23 12:08] lei-tang commented on #22463
#22773 was merged into the 1.5 branch on 4-8-2020, which should be included in the next 1.5 release (1.5.2).

[2020-04-23 12:22] lmarszal opened #23176 "Observability improvement idea - record tls requested_server_name on PassthroughCluster"
**Describe the feature request**

I’m running mesh with ALLOW_ANY outbound traffic policy - but I can’t really see outbound destinations, unless they’re plain HTTP connections.
I did experiment a little bit with istio 1.5 configurable metrics https://github.com/istio/istio/wiki/Configurable-V2-Metrics and EnvoyFilters - and got quite interesting results.
With patch to add TLS inspector to virtualO

[2020-04-23 12:29] yann-soubeyrand commented on #23151
If I wait for some time (about half an hour), I get the following in istiod logs and the endpoints are updated in the sidecar of the corresponding pod (shell in default namespace):

[code]

[2020-04-23 12:36] Stono commented on #21682
Yeah follow https://github.com/istio/istio/issues/22968#issuecomment-616803231 - i think the release is due today(ish??)

[2020-04-23 12:46] davesargrad commented on #23153
I have noticed that the istiod pod outputs the following once every second:
![image](https://user-images.githubusercontent.com/48793689/80101038-d5397300-853e-11ea-9c9d-3b5b0aff249c.png)

[2020-04-23 12:53] davesargrad commented on #23153
I have a simple reader_pod, writer_pod, that use a simple "fortune generator".

This too fails to create, because of the istio sidecar injection failure, as seen in the following.
![image](https://user-images.githubusercontent.com/48793689/80101714-ca331280-853f-11ea-83dc-d1f9d0513c5a.png)

[2020-04-23 13:43] gustavovalverde commented on #7964
OMG, I had 3 full days having the same problems as OP using nginx as a front proxy.

Thank you @jh-sz, this was my last missing piece for my setup and also @Stono, who hit this walls a long time ago and have a few good issues here on the subject

[2020-04-23 14:00] #22814 closed

[2020-04-23 14:14] kumarsiva07 commented on #17265
We tried with ELB. That also rewrites the scheme to http.

[2020-04-23 14:42] esnible commented on #23162
First check that Pilot is running using `kubectl -n istio-system get pods -l istio=pilot`.

Do `istioctl analyze` to see if something is misconfigured.

Perhaps ask this question on https://discuss.istio.io

[2020-04-23 14:47] esnible commented on #23153
I would be curious to know what you see with `istioctl kube-inject -f writer_pod.yaml | kubectl apply -f -`.  Any interesting error messages?

If it fails, for some non-obvious reason, attach the output of `istioctl kube-inject` here and I will investigate.

[2020-04-23 14:53] esnible commented on #23145
I have seen this error before.

The "weight" field is optional.  Istio cannot distinguish between a weight of 0 and an unset weight.  Setting the weight explicitly to 0 is the same as setting it to 100.

@istio/wg-networking-maintainers : is it too late to change the protobuf so that the default value for weight is deserialized as -1?  Then Istio could distinguish between unset and set-to-0 weight

[2020-04-23 14:56] howardjohn commented on #23145
I am not sure if changing from `int` to `int wrapper` is a compatible change. If it is seems like a good idea

[2020-04-23 14:56] yann-soubeyrand commented on #23151
The problem seems to happen only with DNS resolution. STATIC resolution works just fine.

[2020-04-23 14:59] howardjohn commented on #23145
Seems like even if I have two hosts, one with `weight: 100` and one with no weight specified this is wrong behavior. Isn't weight supposed to add up to 100? Do we just throw out weights if a single item is missing a weight?

[2020-04-23 15:00] esnible commented on #23133
Yes, you can create multiple egress gateways.

Install Istio using a custom IstioOperator or add `--set components.egressGateways[1].enabled=true`, `--set components.egressGateways[2].enabled=true` etc.

I haven't actually done this recently.  You may need to set other things.

I recommend using a custom Istio Operator instead of `--set` because it is easy to screw up using complex `--set` options

[2020-04-23 15:07] esnible commented on #23074
I agree.  Which commands are causing you the most trouble so that we may set priorities?

Istio 1.5.x uses a newer version of Envoy and we have had trouble with `istioctl proxy-config` because of this (see https://github.com/istio/istio/issues/20714 ).  We want to fix things to be more flexible.  Agreed we should produce more warnings.

If you intend to use both Istio 1.4.x and 1.5.x what I have b

[2020-04-23 15:14] esnible commented on #23073
Try `istioctl analyze`.  If it does not detect the problem we will want to add this feature there.  Can you attach the VirtualServices that exhibit this problem to this work item so that they may be used as a test case for `analyze` enhancement?

In 1.6.x Istio will have an option to set the Status field on VirtualServices that are in conflict.

It is better to prevent errors than to make them det

[2020-04-23 15:28] esnible commented on #23145
@yuenwah my previous comment might be mistaken!

I am not seeing `-` in your screenshot.  Maybe it is too small to see?  Follow the formatting of example _samples/bookinfo/networking/virtual-service-reviews-50-v3.yaml_ and have dashes before each `destination`.

[2020-04-23 15:28] davesargrad commented on #23153
Hi Ed @esnible
Thanks for the response. I have isolated this. I found the solution on this [jetstack issue](https://github.com/jetstack/cert-manager/issues/2640).

It turns out that a corporate proxy creates many challenges for a fully operational k8s cluster. The solution was to add .svc, .svc.cluster.local to my no_proxy environment. I then had to update the kubernetes manifests for kube-apiserv

[2020-04-23 15:30] esnible commented on #23145
@howardjohn I am not a protobuf guy and maybe my suggestion is foolish.  Also I was remembering 0.9 code and not 1.5.0 code.  I looked up the code now and it looks correct.

This VS is valid.  A VirtualService is valid with 0 weights as long as all the weights add up to 1:
https://github.com/istio/istio/blob/master/pkg/config/validation/validation.go#L2332

https://github.com/istio/istio/blob/mast

[2020-04-23 15:33] esnible commented on #23153
May I close this?

[2020-04-23 15:43] davesargrad commented on #23153
Thanks Much. Closed

[2020-04-23 15:43] #23153 closed

[2020-04-23 16:16] howardjohn commented on #23147
escalating to release blocker since this comes up about 1/10 installs

[2020-04-23 16:23] pixystone commented on #22443
I disabled the `auto mTLS` to workaround it.

[code]

[2020-04-23 16:23] ostromart opened #23177 "istioctl upgrade command produces confusing output"
See https://discuss.istio.io/t/ingress-and-egress-gateways-issue-during-upgrade/6257
Not sure if this is correct but if so, some output filtering would be required to make it comprehensible:
[code]

[2020-04-23 16:31] infa-rbliznet opened #23178 "EnvoyFilter doesn't merge set_current_client_cert_details with ingress gateway envoy config"
**Use case: I need to disable client certificate being propagated to XFCC header. For that I need to update set_current_client_cert_details.cert=false but it doesn't work. Istio doesn't merge in the false value. Mutating of numeric values work perfectly.**

**Expected behavior**
Boolean 'false' values from EnvoyFilter should be merged in into the config

**Steps to reproduce the bug**
1. Configure

[2020-04-23 16:33] ericvn opened #23179 "deprecated warnings on istioctl manifest apply"
[code]

[2020-04-23 16:57] infa-rbliznet commented on #23178
I see that there were a similar issue of setting boolean to false: https://github.com/istio/istio/issues/12549

[2020-04-23 16:58] jwendell opened #23181 "Installation page looks like a book"
https://preliminary.istio.io/docs/setup/install/istioctl/

I found it to be too long, it could certainly be split into sub pages or point to other sections.

**Additional context**

[2020-04-23 17:05] kramvan1 commented on #23074
@esnible yup, the `proxy config` is most used.    Was also thinking that this could be something more generic that ANY sub command that calls into the cluster would provide the same warning for, just as a heads up/nagware to make sure folks know to keep the cli in sync.

[2020-04-23 17:05] linsun opened #23182 "automated e-2-e testing for central istio managing remote plane"
**Describe alternatives you've considered**
e-2-e testing for https://github.com/istio/istio/issues/22934

**Additional context**

[2020-04-23 17:07] esnible opened #23183 ""istioctl upgrade" should use in-cluster IOP if it exists"
If the user previously did `istioctl install (AKA `istioctl manifest apply`) there will be an IOP in the cluster.

`istio upgrade` should use that as the basis before apply `--set` options, instead of using the default profile.

The code to get the operator from the cluster, `operatorFromCluster()`, exists in _istioctl/pkg/install/verify.go_.  Probably make it public and/or relocate and use it.

[2020-04-23 17:07] lambdai commented on #19975
That's a good call. So there is only one possibility: the iptables capture.

@chadlwilson
1. Could you paste your iptables rule?
2. Are you using istio-cni? I realize 15090 is not in the exclude list if you use istio-cni and leading to your case. [Fixed days ago](https://github.com/istio/cni/pull/299)

[2020-04-23 17:10] howardjohn opened #23184 "Determine Kubernetes version support range for 1.6"
Currently 1.5 is 1.14-1.16. Per prior art of shifting by one, we are at 1.15-1.17.

However, Kubernetes 1.18 has been out for a while and our CI runs on this version. We don't run release qual on 1.18 since we run on GKE and GKE doesn't support 1.18 yet - however we could use IKS or manually build a cluster.

If we do support 1.18, we need to consider if we should support 4 versions at once, 1.15-

[2020-04-23 17:13] linsun commented on #23184
Thank you @howardjohn for tracking this.  For 1.18, @ericvn is looking at qualification test with IKS.  I'll open a WI and link to this to track it properly.

[2020-04-23 17:13] nrjpoddar opened #23185 "Istioctl based install instructions is broken in 1.6 docs"
**Bug description**

Istioctl based install instructions is broken in 1.6 docs

List of broken instructions:
* https://preliminary.istio.io/docs/setup/install/istioctl/#install-from-external-charts sections refers to charts/path that no longer exist.
* https://preliminary.istio.io/docs/setup/install/istioctl/#display-the-list-of-available-profiles output is wrong

[2020-04-23 17:14] linsun opened #23186 "Support k8s 1.18 for Istio 1.6"
IKS support 1.18 today, we need to run qualification test with Istio 1.6 on 1.18 so that we can qualify 1.18 as a supported version.

**Additional context**

[2020-04-23 17:15] linsun commented on #23186
related to #23184

[2020-04-23 17:15] JimmyCYJ commented on #23172
cc @JimmyCYJ

[2020-04-23 17:15] linsun commented on #23184
My vote would be support 1.16-1.18 if we can qualify 1.18.

[2020-04-23 17:20] howardjohn commented on #23184
I am -1 on 1.16-1.18 because I don't think its fair to users to drop 2 versions without warning. many users are on 1.15 for now. I would rather support 4 versions than that personally

[2020-04-23 17:21] ostromart opened #23187 "Install state CR not written to cluster"
This is a regression, was previously written.

[2020-04-23 17:35] IGassmann commented on #7964
Any workaround for knative-serving?

[2020-04-23 17:40] kyessenov commented on #23168
It's probably easier to fork istio/proxy and delete a bunch of stuff.
 We should also make sure the footprint is small in shared routines. E.g. do not import protobuf by default.

[2020-04-23 17:41] kish3007 commented on #19454
Finally, I figured out whats happening in my environment, I am running istio 1.3.3 with eventhough global envoy circuit breaker setttings were
`        "circuit_breakers": {
          "thresholds": [
            {
              "priority": "DEFAULT",
              "max_connections": 100000,
              "max_pending_requests": 100000,
              "max_requests": 100000
            },

[2020-04-23 17:41] esnible opened #23188 ""istioctl install" / "manifest apply" insufficient information on timeout"
An install of 1.6.0-alpha.2 fails on an empty system with no explanation.  Re-running the same command succeeds.

[code]

[2020-04-23 17:42] esnible commented on #23188
cc @ostromart Using `--readiness-timeout` did not let me change the timeout.

[2020-04-23 17:53] jwendell opened #23189 "uninstall does not remove istio-system namespace"
Since `istio-system` namespace was created by the installer (`istioctl manifest apply`) I'm expecting that following the instructions for uninstalling (`kubectl delete -f <manifest-generated-file>`) would also remove that namespace.

I also see some stuff in that namespace that were also not removed. For instance:
[code]

**Expected behavior**

**Steps to reproduce the bug**

**Version (include th

[2020-04-23 17:55] therealmitchconnors opened #23190 "AuthN demo cleanup deletes non-existent resource type"
https://github.com/istio/istio.io/blob/master/content/en/docs/tasks/security/authentication/authn-policy/index.md#cleanup-part-3
Step 2 deletes "authorization", but should be "authorizationPolicy"

[2020-04-23 17:55] carolynhu commented on #23172
This bug introduced by recent operator change. I can fix it! @lei-tang Thanks for filing this!

[2020-04-23 17:58] incfly commented on #22220
Thanks.

TLDR is that I found when a elastic search pod 1 -> client enovy --> sever envoy ---> Elastic Search pod2. Between envoy2 and elastic search pod2, I see connection is broken.[1]  The envoy log [2] shows it's using
`inbound|9300|tcp-transport|elasticsearch-1-elasticsearch-svc.default.svc.cluster.local` inbound cluster, which I confirm the configuration does not have the TLS context[3], but

[2020-04-23 18:04] jnovick commented on #16703
Hey, has there been any update with whether W3C will be supported in Istio?

[2020-04-23 18:05] #23141 closed

[2020-04-23 18:15] guyromb commented on #22068
Any ideas to support this natively in istio?

[2020-04-23 18:18] #23190 closed

[2020-04-23 18:53] therealmitchconnors opened #23197 "Jaeger UI instructions result in error from `manifest apply`"
https://github.com/istio/istio.io/blob/master/content/en/docs/tasks/observability/distributed-tracing/jaeger/index.md#accessing-the-dashboard
recommends using `--set values.tracing.ingress.enabled=true` to enable ingress to the jaeger UI, but setting this value causes errors in `manifest apply`

[code]

[2020-04-23 18:55] esnible opened #23198 ""istioctl install" / "manifest apply" fails with timeout"
Using 1.6.0-alpha.2 or master, same problem.

`istioctl install` (alpha.2) or `istioctl install --charts manifests --set hub=gcr.io/istio-testing --set tag=latest` (master) fails with “Component Pilot installation had error” with either the error “Timeout: request did not complete within requested timeout 30s” or the error “context deadline exceeded”.  I was not able to extend that period (I tried

[2020-04-23 18:56] esnible commented on #23198
`--wait` makes no difference.

[2020-04-23 18:57] ericvn opened #23199 "Cannot login to Kiali dashboard."
Working through https://preliminary.istio.io/docs/setup/getting-started/ I get to `istioctl dashboard kiali` which brings up the dashboard in my browser (both Chrome and Safari). I see the _Log In_ button, but clicking it doesn't do anything.

The Documentation and Contribute links to open up in new tabs.

[2020-04-23 19:10] bianpengyuan commented on #21820
To draw a conclusion on this, I think it is not quite possible to achieve the desired state. The best effort we could do is to add host header as a label, which does not seem to fulfill kiali's use case. @jshaughn wdyt?

[2020-04-23 19:13] iftachsc commented on #20082
still an issue in 1.5.1

[2020-04-23 19:55] jorenknieper opened #23200 "Cannot get Multi Cluster with the Bookinfo Application to work"
Hi Istio

I've a question. I'm following the guide on the istio website
https://istio.io/docs/setup/install/multicluster/gateways/
and
https://istio.io/blog/2019/multicluster-version-routing/

So I'm trying to deploy the bookinfo application on 2 kubernetes clusters. GKE or on AKS.

For GKE I'm using KubeDNS and AKS CoreDNS.

I'm following every step in the guide but if I login as user "jason" I g

[2020-04-23 20:03] ericvn opened #23201 "docs/setup/platform-setup/ibm/ updates needed"
**Bug description**

 ibmcloud ks zones requires a --provider specified

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

**How was Istio installed?**

**Environment where bug was observed (cloud vendor, OS, etc)**

[2020-04-23 20:10] presidenten commented on #7136
@Stono Im running your script and the istio-proxy seems to stay alive, but the connection to my application seem to die anyways after about 1m. Is there something else I need to tweak?

[2020-04-23 20:10] iftachsc commented on #15517
we are hitting this on 1.4.7, 1.5.1

[2020-04-23 20:11] ericvn opened #23202 "docs/setup/platform-setup/kind/ updates"
**Bug description**
Should update version (or maybe have a variable) in: `Please use the latest Go version, ideally Go 1.13 or greater.`

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

**How was Istio installed?**

**Environment where bug was observed (cloud vendor, OS

[2020-04-23 20:30] therealmitchconnors opened #23203 "istioctl analyze - report success when no messages found"
analyze currently only reports failures, making the output a bit questionable when no problems are found.  Can we add a success message?

[2020-04-23 20:36] esnible commented on #23198
Created https://github.com/istio/istio/pull/23204 which will help with error messages to at least explain when this happens.

[2020-04-23 20:37] elfinhe opened #23205 "Error for in-place upgrade 1.6.0 alpha.2"
**Bug description**
Testing https://preliminary.istio.io/docs/setup/upgrade/#in-place-upgrades for Istio 1.6 Community Testing.

[code]

[code]

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

**How was Istio installed?**

**Environment where bug was observed (cloud ven

[2020-04-23 20:45] howardjohn commented on #23181
related: https://github.com/istio/istio/issues/22950

Strongly agree!

[2020-04-23 20:45] ericvn commented on #23189
Agree that this is a change in behavior from earlier releases.

[2020-04-23 20:51] ericvn opened #23206 "Overall should we use `istioctl install` or `istioctl manifest apply` in docs?"
**Bug description**

Using the former will cause issues if we cherry-pick back to 1.5?

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

**How was Istio installed?**

**Environment where bug was observed (cloud vendor, OS, etc)**

[2020-04-23 20:54] ericvn opened #23207 "docs/setup/install/standalone-operator/ updates needed"
`The only dependencies required are a supported Kubernetes cluster, the kubectl and the istioctl command at the release version.` doesn't make sense since one maybe 1.7.2 and the other 1.6.0. Maybe at their respective versions.

Note that mentions helm install should be removed.

**Bug description**

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl

[2020-04-23 21:01] esnible commented on #23198
I have reproduced this on both of my test clusters.  Another IBMer and a Googler have failed to reproduce this.

[2020-04-23 21:06] padzikm commented on #23133
'I haven't actually done this recently. You may need to set other things.' - this isn't the answer I can go to production environment with. I don't know istio's internals and with that I can't be sure (even after multiple tests) that everything is set up correctly in edge cases. Especially when there is unresolved discussion about setting up multiple ingress gateways with just setting parameters d

[2020-04-23 21:09] howardjohn commented on #23178
should it be set_current_client_cert_details -> setCurrentClientCertDetails? I don't think its the bool issue because its missing the whole struct not individual bool fields

[2020-04-23 21:39] bianpengyuan commented on #23168
If fork, we need to nuke LOT of things except the test framework and some common utils? I don't think we want to have duplicated code of any extensions in two repos right? Also do we expect the new repo to still be in dual mode (Wasm + compiled in)? I would think of it as a Wasm only repo,  otherwise we will still need to maintain upstream envoy dependencies. If it is Wasm only, I don't think it m

[2020-04-23 21:42] howardjohn commented on #23162
And paste the full logs

[2020-04-23 21:43] infa-rbliznet commented on #23178
I tried but the result is the same:
[code]

Also if property is wrong it complains usually

[2020-04-23 21:43] howardjohn commented on #23161
related? https://github.com/istio/istio/issues/23118

[2020-04-23 21:55] mandarjog commented on #23168
@bianpengyuan this differs from the previous doc in which we wanted a repo in the istio-ecosystem org.

I do see the need for 1st party istio extensions to be hosted in the istio org, but that is just the proxy repo today.

Should prod extensions and the common utils be in the same repo? Would it be better that that to be a separate repo?

[2020-04-23 22:04] kyessenov commented on #23168
Additionally, we need to decide what to do with the supporting infrastructure. Build system, testing framework(s) may belong outside of istio in proxy-wasm. There is an extra pain with the multi-repo set-up.

[2020-04-23 22:13] howardjohn commented on #23149
we get files like https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/23209/integ-mixer-k8s-tests_istio/10174/artifacts/outbound-traffic-policy-telemetry-v2-/_suite_context/env-kube-959005479/istio-kube-accessor-667206475/accessor_652739118

which have `! global.proxy.accessLogFile is deprecated; use meshConfig.accessLogFile instead` at the top, which is of course invalid yaml

[2020-04-23 22:18] bianpengyuan commented on #23168
The original thought was istio-ecosystem, but I think it will need to be released together with Istio, so better just put it under istio org. As @kyessenov said, it is more efficient for us to just put common utils in the same repo. 3rd party developer experience won't be different whether plugins and utils are in the same repo or different ones. So either we just evolve in `istio/proxy` repo and

[2020-04-23 22:20] suchita-jain commented on #23161
Yes, same issue.

[2020-04-23 22:27] howardjohn commented on #22007
confirmed fixed

[2020-04-23 22:27] #22007 closed

[2020-04-23 22:28] #23188 closed

[2020-04-23 22:40] howardjohn commented on #22443
on some versions just the ROOTCA is broken:

[code]

full log:
[root-missing.txt](https://github.com/istio/istio/files/4525677/root-missing.txt)

[2020-04-23 22:52] yangminzhu commented on #19975
I can reproduce this with a fresh install of 1.4.7, the following is the iptable rules for httpbin:
[code]

[2020-04-24 00:03] howardjohn commented on #22443
ae0ceeb13e0675f889dd7230b7659b5b149f0943 was the commit that fixed it. This update envoy and go-control plane.

Envoy diff:

[code]

contains a couple envoy-wasm updates. Envoy-wasm diff: https://github.com/envoyproxy/envoy-wasm/compare/e64efd960cd8e97287764b9bae39b3a0def95046..e067c80e5cc43bd462aac6e69713913f1ad4c48d

[2020-04-24 00:14] howardjohn commented on #22443
Confirmed its the envoy update, no go control plane. So the fix is somewhere in the diff ^

[2020-04-24 00:40] bianpengyuan opened #23215 "Use bazel to build Wasm plugins in istio proxy"
Currently Wasm modules in `istio/proxy` repo uses docker based build, this issue is to track the work to switch to bazel build.

This is part of the effort for https://github.com/istio/istio/issues/23168

@kyessenov @mandarjog @jplevyak @PiotrSikora fyi.

[2020-04-24 01:13] yankunsam commented on #23162
Here is the istioctl analyse's output
[code]

And Here is the log from productpage pod's sidecar

[code]

[2020-04-24 01:15] yankunsam commented on #23162
Also there is no productpage's message in istiod's log. And If I delete the istiod Pod And then the productpage's sidecar is running.

[2020-04-24 01:22] #20355 closed

[2020-04-24 01:57] lizan commented on #23215
cc @Shikugawa has been working on authn migration and looked into this. I'm also working on some envoy-wasm to make wasm build easier / integrated.

[2020-04-24 02:07] harshal-shah commented on #23161
We rolled back our Istio from `1.4.7` to `1.4.3` and have not faced the `pods "abc-5674bc9fb7-mxpzt" not found` error since then.

[2020-04-24 02:13] livelyRyan commented on #23114
The problem has resolved. Istio will get the gateway svc ip by svc.status.loadBalancer.ip. In my environment the ip is null.So istio used pod ips.

[2020-04-24 02:13] #23114 closed

[2020-04-24 02:24] howardjohn commented on #23189
This is working as intended, deleting something we don't fully own is not safe - other things may be in istio-system. we may just want to add an optional delete ns step

[2020-04-24 02:28] stevenctl opened #23217 "Enhance test framework to allow multicluster with shared control plane"
Current the test framework accepts a flag ` --istio.test.kube.controlPlaneTopology 0:0,1:0` to configure each cluster to use the control plane from a specific cluster.

Examples:
[code]

The test framework currently only uses this topology to [mark clusters as control plane clusters](https://github.com/istio/istio/blob/master/pkg/test/framework/components/environment/kube/kube.go#L68) so that [onl

[2020-04-24 02:31] yuenwah commented on #23145
@esnible
As shown, there is "-"
![image](https://user-images.githubusercontent.com/34834139/80168863-937bfb80-8616-11ea-8a48-4306cd491e19.png)

[2020-04-24 02:34] erks opened #23218 "istioctl install in non istio-system namespace having a broken PodDisruptionBudget"
**Bug description**

When installing istio using `istioctl manifest` command in a non istio-system namespace, some PDB resources (e.g. istio-ingress, istio-egress) are not matching any pods due to mismatching label selectors.

This is due to:
- https://github.com/istio/istio/blob/811b5d365613b65fca3222bc1234dc9f917a9e1a/manifests/charts/gateways/istio-ingress/templates/poddisruptionbudget.yaml#L10

[2020-04-24 02:37] hzxuzhonghu commented on #23145
We can do a quick fix, do a more strict validation to intercept this invalid config.

Currently we have soem logic when building route
[code]

Not sure why it does not work

@yuenwah Can you share your config dump of the client?

[2020-04-24 03:43] #23179 closed

[2020-04-24 03:52] sbueringer opened #23219 "Publish non-root productpage image"
**Describe the feature request**

There was a change enabling productpage to be run as nonRoot: https://github.com/istio/istio/pull/16326

Apparently this version of productpage was never published to DockerHub. Would it be possible to publish this version? (so that I don't have to build it myself :))

Can be reproduced via:
[code]

[2020-04-24 04:41] lambdai commented on #19975
[code]
Interesting... above is mine on 1.5.1

The workaround is to set INBOUND_PORTS_EXCLUDE by adding 15090 to deployment annotation [traffic.sidecar.istio.io/excludeInboundPorts](https://istio.io/docs/reference/config/annotations/)
This workaround is harmless when you upgrade to istio 1.5

[2020-04-24 05:01] #17464 closed

[2020-04-24 05:02] #17465 closed

[2020-04-24 05:02] #17466 closed

[2020-04-24 05:08] VinothChinnadurai commented on #22536
@ramaraochavali sorry for multiple threads. Once you are available. Please check the route configuration and let us know what we are missing?

[2020-04-24 05:14] morvencao opened #23221 "in-cluster operator panic for uninitialized ProgressLog"
**Bug description**

Build and deploy in-cluster operator, create IOP instance, then found that in-cluster operator panic for uninitialized mutex of ProgressLog:

[code]

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

**How was Istio installed?**

**Environment where b

[2020-04-24 05:15] ramaraochavali commented on #22536
@VinothChinnadurai No problem. Sorry. I was about to send a message - I am little busy right now and I could not immediately figure out what is problem in applying the route rate limits via Envoy filter.

tagging @rshriram @hzxuzhonghu  if they can find some thing immediately - otherwise I will take a look when I get free

[2020-04-24 05:17] bianpengyuan commented on #20489
not stale, we still need to this to track removing mixer stats prefix match.

[2020-04-24 05:21] yuenwah commented on #23145
@hzxuzhonghu 看你在杭州，我就用中文了，我没太明白是说要我共享什么

[2020-04-24 06:05] chandra210893 commented on #22986
@istio-policy-bot can you please provide an update regarding this issue. Our production systems are getting affected with on daily basis and we are holding them up with some temporary work arounds. Kindly do the needful at the earliest possible.

[2020-04-24 06:16] gmemcc commented on #5679
@rlenglet  `original_src` did work, but extra iptables rule needed,  for example:
[code]

with listener filter `original_src` enabled, envoy will connect to local process with real client ip instead of `127.0.0.1`, but resoponding packet will be routed through `eth0` by default.

policy routing already set up in TPROXY mode, so only a rule is required.

if this solution is ok, i can submit a PR.

[2020-04-24 06:29] emedina commented on #22463
@lei-tang Has this eventually been included in `1.5.2`? It's definitively not in the changes of the release notes: https://istio.io/news/releases/1.5.x/announcing-1.5.2/#changes

[2020-04-24 06:33] yuenwah commented on #23145
@esnible @howardjohn The current architecture is relatively simple, as shown in the figure, svc and virtualservices and destinationrules are as follows
![image](https://user-images.githubusercontent.com/34834139/80181887-4b6dd080-8638-11ea-90fe-45681679dc5a.png)
![image](https://user-images.githubusercontent.com/34834139/80181966-72c49d80-8638-11ea-9189-e2d95721a106.png)
![image](https://user-imag

[2020-04-24 07:02] #23221 closed

[2020-04-24 07:24] jdomag commented on #20089
Hi,
I'm having the same issue with kubectl 1.16.7 and istioctl 1.5.1
![image](https://user-images.githubusercontent.com/28705876/80185716-16985400-860d-11ea-997a-4640a2511745.png)

Command i used:
`./bin/istioctl manifest apply --set addonComponents.prometheus.enabled=false --set addonComponents.kiali.enabled=true --set addonComponents.tracing.enabled=true`

Error I'm getting:
[code]

[2020-04-24 07:37] xiaoxi1989 opened #23224 "Gateway StatefulSet GRPC Proxy not work"
**Bug description**
StatefulSet GRPC Port use istiogateway proxy failed.

[code]
Did I do something wrong？

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**
[code]
**How was Istio installed?**
istioctl daemon

**Environment where bug was observed (cloud vendor, OS, etc)**
Centos 7.6
Kubernetes 1.7

[2020-04-24 07:54] cameronbraid opened #23225 "istio-system/ingressgateway name changed to istio-system/istio-ingressgateway in 1.5.2"
I had deployed virtualservices like the following that worked with istio 1.5.1

[code]

however the `ingressgateway` name has been changed to `istio-ingressgateway` meaning I have to update all of my virtual services

This should be explicitly highlighted in the release notes

[2020-04-24 07:57] #22449 closed

[2020-04-24 07:59] mandarjog commented on #23168
What about non-core istio extensions?
Do we want to accept it in istio org? I don’t think so.
Installing an extension from istio repo should mean that it is reviewed and maintained by our team.
I agree we need a repo inside istio, but we also need a rep outside istio.

Timing
1. When do we need to do this ? We can make the switch at the beginning of 1.7
2. As long and we are shipping istio-proxy w

[2020-04-24 08:21] lei-tang commented on #22463
Yes, https://github.com/istio/istio/pull/22773 has been included in 1.5.2, which can be found in https://github.com/istio/istio/commits/1.5.2.

[2020-04-24 08:28] softcane commented on #13861
[code]

This enjoy filter will remove the server header.

[2020-04-24 08:39] crhuber commented on #23161
https://github.com/istio/istio/issues/23118 for us was also caused during a period of a high amount of churn. We have a deployment that creates roughly 300 new pods and during this time is when we see this error

[2020-04-24 08:50] hzxuzhonghu commented on #23145
So from the above flow, i can tell that no outbound route takes effect, and the behavior is expected.

[2020-04-24 08:58] hzxuzhonghu commented on #5679
PR is welcome

[2020-04-24 09:06] anoophp777 commented on #22672
@howardjohn I used helm to install Istio and its working perfectly fine. But the version 1.5.1 is acting up. Version 1.1.11 seems to be very stable.

I hope helm 1.5.1 is fixed in the next iteration.

[2020-04-24 09:24] lei-tang commented on #23172
Before the final solution for this issue is merged, a workaround for this issue is added in: https://github.com/istio/tools/pull/912.

[2020-04-24 09:28] jdomag opened #23227 "Setting components doesnt work or is not well documented"
**Bug description**
Can't set components via istioctl
Command:
`./bin/istioctl manifest generate --set addonComponents.prometheus.enabled=false --set addonComponents.kiali.enabled=true --set addonComponents.tracing.enabled=true --set components.Galley.enabled=ture > generated-manifest.yaml`

Error:
`Error: failed to generate tree from the set overlay, error: bad path=value: components.Galley.enabl

[2020-04-24 09:47] #23172 closed

[2020-04-24 10:09] infa-ddeore commented on #23024
any comment on this?

[2020-04-24 10:41] bogiva commented on #10543
Why was this issue closed without a solution?
We have to now stop using Istio because we cannot customize the response and we have a hard requirement to return application/json for example...

[2020-04-24 10:46] stevehipwell commented on #19744
Thanks @ostromart. Is there a reason why the chart isn't being published?

[2020-04-24 11:57] jwendell commented on #23189
That's the point: istio owns istio-system. I didn't create that namespace, istio did.
Anyway, if you feel that's too dangerous to remove it, I'm fine with adding this step in the docs.

[2020-04-24 12:07] tobiasgiese opened #23231 "add excludeNamespace helm value to pilots namespace-controller"
**Describe the feature request**

We operate a managed kubernetes platform for several customers. So we're using [opa](https://github.com/open-policy-agent/opa) to i.e. restrict access to specific namespaces.
The pilot namespace-controller is deploying the istio-ca as a configmap `istio-ca-root-cert` to every namespace on startup.
Is it possible to add a similar key as `excludeNamespace` in `cni`

[2020-04-24 12:25] tobiasgiese opened #23232 "make bookinfo sample deployment non-root"
**Describe the feature request**

There is no need of running the bookinfo example containers as root. There is already an open issue regarding the productpage image #23219.
Quick fix would be to add a user except root to the Dockerfiles.

[2020-04-24 12:27] kunalekawde commented on #14039
Assuming we still don't have this, what are the ways we can achieve configuring multiple certs, key dynamically possibly w/o restarting envoy. As I understand current we would have to:
1. Use the cert, key provided to generate secret.
2. Mount this at egress gw.
3. To handle any dynamic addition of #1 or revocation, generate new secrets and restart envoy.
@chadlwilson

[2020-04-24 12:56] makwiatkowski commented on #20606
When tried to respond to incoming message (HTTP/2) we mistakely used Host instead of Location. Host is illegal in response and our engine created garbled response header (which was impossible to decode). Envoy in reaction to getting garbage responded to invoker with 503, but in my opinion 502 shall be raised, which is clearly defined for such situation

[2020-04-24 13:20] nerusnayleinad opened #23233 "Fail to secure LB to cluster traffic"
We are trying to reach lots of micro-services behind Istio Gateway, but the requests fail with `Empty reply from server`. To decouple the connections, its pretty simple; this is what we have:

Client ------> AWS (nlb) -------> eks-cluster (Istio Gateway) -------> Backends

All these communication needs to be encrypted. The problem we are having is with the connection from the load balancer to the

[2020-04-24 14:14] linsun opened #23234 "Istio analyzer - how to analyze against a namespace"
**Describe the feature request**

Either this feature already exists or I can't find them via help menu :)

I created a gw/vs/dr resource (mesh-expansion.yaml) and want to deploy it to Istio-system ns.  I want to validate if it is good.

I've tried a few commands:

istioctl analyze mesh-expansion.yaml

It didn't tell me it did analyze the Istio-system ns.  Then I found out -A can analyze all names

[2020-04-24 14:15] linsun commented on #23234
@esnible @therealmitchconnors @jasonwzm The issue I mentioned on user experience slack yesterday, wanted to track it in GitHub.  Appreciate your looking into this.

[2020-04-24 14:23] linsun opened #23235 "Analyzer should detect port and host conflict within gateway resources"
**Bug description**

Related to https://github.com/istio/istio/issues/23234, I spent an hour debugging this prob with a few maintainers on the environment WG.  The analyzer didn't give me any error but gateway isn't routing for me.  It turned out my gateway resource has a conflict with a port and host specified in another gateway resource deployed in the Istio-system namespace.  It would be really

[2020-04-24 14:25] howardjohn commented on #23189
We only create istio-system because people complain about needing a 1 step install. managing the namespace is an anti-pattern (as determined by tools that think about this stuff a lot more than us like helm, and my own personal opinion) - if it exists already istio will **not** manage it. We just create it one time if it doesn't exist and never touch it again.

The docs should probably ask users t

[2020-04-24 14:25] linsun commented on #23235
Provided as part of multi cluster shared control plane setup for me:

[code]

My gateway/vs/dr resource I'm using analyzer to analyze with no errors flagged:
[code]

[2020-04-24 14:27] linsun commented on #23235
@esnible @therealmitchconnors @jasonwzm PTAL thank you!

[2020-04-24 14:34] linsun commented on #23234
Also, I think it is annoying to print warning for each namespace like this.  I think many are intentional not enabled for sidecar injector.  A summary for this is sufficient.

[code]

[2020-04-24 14:37] jwendell commented on #23189
SGTM

[2020-04-24 14:46] ericvn opened #23236 "Istio operator fails to install demo from docs on 1.6-alpha.2 and beta.0"
**Bug description**

Istio failed to be installed.

Using instructions from https://preliminary.istio.io/docs/setup/install/standalone-operator/

Running the first snippet to install demo profile.

Nothing is created in the istio-system namespace.

Logs have:
[code]

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl ver

[2020-04-24 15:02] ericvn opened #23237 "docs/setup/install/istioctl/ updates needed"
**Bug description**

Page mentions `istioctl manifest apply --set installPackagePath=< base directory where installed >/istio-releases/istio-1.6.0/install/kubernetes/operator/charts
` whose directory no longer exists.

List of profiles is different. Looks like `separate` was replaced by `preview`

https://preliminary.istio.io/docs/setup/install/istioctl/#show-differences-in-manifests section has `

[2020-04-24 15:18] deva26 opened #23238 "Operator watched resources not getting created when deleted"
**Operator watched resources not getting created when deleted**
Istio operator reconciler gets called when a watched resource is deleted. However the reconciler does not recreate the deleted resource as part of running the reconciliation.

**Expected behavior**
When a resource, say istiod deployment is deleted (possibly by a mistake), istio operator has to recreate the deleted resource as part of

[2020-04-24 15:20] despondency commented on #10543
Shamelessly reopening the issue, it would be great if you can manipulate the error response when an authentication failure happens. It could be as easy as having a callback url configured which creates a json/or any response and returns it to the proxy which in turn returns it to the client.

What do you guys think?

[2020-04-24 15:47] simox-83 commented on #23073
Ok so the first vs is defined as follows:
[code]
the second is pretty much the same, except for the route destination:
[code]

This will cause LDS to go to stale:
[code]
Yeah I agree with you, it's better to prevent errors rather than detect them so I am now looking into OPA (open policy agent) - basically I want to prevent the user to install a conflicting vs and it will be kubernetes rejecting t

[2020-04-24 15:48] linsun commented on #23028
Very close to get a manual pass working for this but did find I need to add custom hostname so that the Webhooks server doesn't complain about certs from unknown host.

[2020-04-24 16:00] joberdick opened #23240 "Root Namespace not working in IstioOperator API"
**Bug description**
When using the the option:

apiVersion: install.istio.io/v1alpha1
kind: IstioOperator
spec:`
  meshConfig:
    rootNamespace: istio-config

The envoyfilters do not get put into the root namespace. This results in broken metrics and anything else that relies on the installed envoy filters.

[ x] Configuration Infrastructure
[x ] Installation

**Expected behavior**
Envoy filter o

[2020-04-24 16:03] jshaughn commented on #21820
@bianpengyuan , this was again discussed in the WG meeting on wednesday.  There were a variety of ideas presented, including how tracing could be used and how potentially we could offer more intensive metric labeling for short periods, when debugging.  These are good topics to refine going forward but I think it can still be useful in a non-debug scenario to show as much routing as possible in a t

[2020-04-24 16:06] Laci21 commented on #23133
@padzikm, We encountered the same issue and solved it for ourselves, you can read more about it in this blog post: https://banzaicloud.com/blog/istio-multiple-gateways/. Please note, that this solution uses the open-source Banzai Cloud [Istio operator](https://github.com/banzaicloud/istio-operator) and not the official Istio operator by the Istio community.

[2020-04-24 16:10] #23072 closed

[2020-04-24 16:20] #23189 closed

[2020-04-24 16:23] jasonwzm commented on #23235
Thanks for raising the issue. I will take a look.

[2020-04-24 16:26] howardjohn opened #23241 "istioctl install ignores log_output_level"
If I set this to error I still get info logs

[2020-04-24 16:34] mbrowne opened #23242 "`istioctl analyze` parse error when there are empty resources"
**Bug description**

If you run `istioctl analyze` on a valid yaml file including empty resources, or resources containing only comments, it fails with a parse error, e.g.:

[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[x ] Test

[2020-04-24 16:43] dgn commented on #20853
@michaelbannister This should now work as of https://github.com/istio/istio/pull/23174 - make sure to set the gateway to `runAsRoot: false` like so:

`istioctl manifest apply --set values.gateways.istio-ingressgateway.runAsRoot=false`

[2020-04-24 16:46] howardjohn commented on #23147
Ill fix this

[2020-04-24 16:55] ericvn opened #23243 "Add presubmit to release-builder build request to vuln scan the base images."
**Describe the feature request**

This will shorten the window on shipping a release with images with vulnerabilities. We won't pick up changes for those after the build.

**Describe alternatives you've considered**

We could have a chron job that does this, but we would also need automation to make the changes. Having someone manually watching the chron job and doing the changes seems problematic

[2020-04-24 17:05] dahutu opened #23246 "Add support for custom SECRET_TTL for istio-proxy using annotation"
**Describe the feature request**
Different workloads within an Istio cluster may have different security requirements and warrants different cert validity length, or TTL. Currently there is no known way to customize SECRET_TTL for individual workloads. SECRET_TTL can be set globally during installation process by the following option:
`--set meshConfig.defaultConfig.proxyMetadata.SECRET_TTL=<durat

[2020-04-24 17:15] howardjohn commented on #22078
TODO: add new label: `cherrypick/release-1.6`

[2020-04-24 17:42] brian-avery commented on #22078
1.6 cherrypick label PR is here: https://github.com/istio/bots/pull/177

[2020-04-24 17:42] brian-avery commented on #22078
Branch protection PR is here: https://github.com/istio/test-infra/pull/2612

[2020-04-24 17:46] yann-soubeyrand commented on #23151
After digging deeper into the problem, it seems the difference between STATIC resolution and DNS resolution is the resulting Envoy cluster service discovery type: in the first case it's EDS and in the second case it's STRICT_DNS. As I understand, STRICT_DNS service discovery does not allow updating the hosts composing the cluster without reloading the full cluster.

So this issue seems to be in fa

[2020-04-24 17:46] #23151 closed

[2020-04-24 17:51] jacob-delgado commented on #22078
Disregard. Done to preserve old PRs. Will remove later.

This issue aims to track all steps needed to prepare the release 1.6 branches/builds.

Please add all steps taken here so we can document for future releases

-  [X] Set up release manager team (owner: @jacob-delgado) - Make sure the new team has write access to the repositories.
- [X] (Optional) Update go dependencies. This must be done **b

[2020-04-24 17:54] jacob-delgado commented on #22078
Cleaned up the tasks. Put older comment at https://docs.google.com/document/d/1ejb4HvPYlEchkD5klDKTMIzFZrHGJ5n5lNij8NjRE-Y/edit if we need help troubleshooting it.

[2020-04-24 17:58] yann-soubeyrand commented on #23151
I've opened a feature request to the Kubernetes project which could solve the problem in a clean and elegant fashion in my opinion: https://github.com/kubernetes/kubernetes/issues/90444.

[2020-04-24 18:00] rlenglet commented on #5679
@gmemcc +1, this solution looks good! Please go ahead with a PR. I'm expecting this to be a significant PR, since it will touch the `iptables` code (and the same change will also need to be replicated into the `istio/cni` repo's `istio-iptables.sh` script), Pilot to setup `original_src`, etc.

My main concern is that we have zero automated test coverage on TPROXY mode, so I'd appreciate if you cou

[2020-04-24 19:14] bianpengyuan commented on #23168
Ok, make sense to me about the separation of examples from core extensions. Common and frameworks should always stay with core, so that they could be released together. Ecosystem will only have examples which takes `istio/proxy` as a dependency for now.

Timing wise, by 1.7 let's make common & frameworks ready in istio/proxy and add example wasm modules into ecosystem, which takes a dependency on

[2020-04-24 19:17] brian-avery commented on #22508
@lei-tang Can you please update this?

[2020-04-24 19:18] brian-avery commented on #22602
Can you please update this?

[2020-04-24 19:18] shwsingh commented on #22874
@howardjohn  Can you please provide ETA ?

[2020-04-24 19:19] brian-avery commented on #22815
@richardwxn is this complete?

[2020-04-24 19:19] shwsingh commented on #22874
@howardjohn  Can you please provide ETA since it's a release blocker ?

[2020-04-24 19:20] brian-avery commented on #23088
@richardwxn can you please update this?

[2020-04-24 19:20] kyessenov commented on #23168
Taking a dependency on istio/proxy SGTM. Later we can migrate to proxy-wasm or something new. I would generally prefer less big bang.

[2020-04-24 19:27] brian-avery commented on #21212
How much of this is expected to be completed for 1.6?

[2020-04-24 19:32] howardjohn commented on #22874
We have a PR: https://github.com/istio/istio/pull/23194 so blocked by review of this PR. its only 5 lines so Ill optimistically say today

[2020-04-24 19:33] howardjohn commented on #22729
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/23194/unit-tests_istio/12280

[2020-04-24 19:35] jacob-delgado commented on #22457
While not a first class API (that'll be part of Telemetry/Extensions) the deliverable is done for 1.6. Closing.

[2020-04-24 19:35] #22457 closed

[2020-04-24 19:37] davesargrad opened #23249 "TCP Gateway/Virtual Service Not Working"
I have a test pod in the "coolio" namespace

![image](https://user-images.githubusercontent.com/48793689/80249537-064d9c80-8640-11ea-9a5e-5100c4e02be1.png)

The pod is loaded with a [netshoot ](https://github.com/nicolaka/netshoot)image, and runs bash

 I manually enter the following iperf service command to open up a TCP listener on port 9999
![image](https://user-images.githubusercontent.com/487

[2020-04-24 19:38] esnible commented on #23198
I can reproduce this 100% on 1.6.0-alpha.2 but not on 1.6.0-alpha.1.

[2020-04-24 19:44] howardjohn commented on #22680
This was fixed

[2020-04-24 19:44] #22680 closed

[2020-04-24 19:45] howardjohn commented on #15864
No flakes for a while.. lets optimistically close

[2020-04-24 19:45] #15864 closed

[2020-04-24 19:48] davesargrad commented on #23249
The service pod shows the injected istio proxy container
[code]

[2020-04-24 19:53] howardjohn commented on #21211
this is passing now

[2020-04-24 19:53] #21211 closed

[2020-04-24 19:54] howardjohn commented on #21792
This code path is not in 1.6 anymore so this would apply to 1.5 only

[2020-04-24 19:56] howardjohn commented on #21920
I believe this is fixed in Istio 1.5.2: https://github.com/istio/istio/issues/22841

Please try this version. if this reproduces please open another issue/reopen. Thanks!

[2020-04-24 19:56] #21920 closed

[2020-04-24 19:56] howardjohn commented on #22837
Fixed by above PRs

[2020-04-24 19:56] #22837 closed

[2020-04-24 19:57] #19411 closed

[2020-04-24 19:57] howardjohn commented on #19411
Fixed by https://github.com/istio/istio/pull/23154 (?)

[2020-04-24 19:57] howardjohn commented on #21455
Not sure the exact PR but this is fixed now

[2020-04-24 19:57] #21455 closed

[2020-04-24 19:59] #21466 closed

[2020-04-24 19:59] howardjohn commented on #21466
This was fixed

[2020-04-24 19:59] howardjohn commented on #21772
This was enabled in 1.6

[2020-04-24 19:59] #21772 closed

[2020-04-24 20:00] howardjohn commented on #22347
Fixed by ^

[2020-04-24 20:00] #22347 closed

[2020-04-24 20:01] #20779 closed

[2020-04-24 20:03] howardjohn commented on #22054
We did the first half. Second half will be 1.7 I think

[2020-04-24 20:04] PeterGrace commented on #22939
Another technician managed to work around the issue by creating an EnvoyFilter object for each workload that sets the initial stream and connection window sizes to 65kB.  With this setting, the problem appears to be resolved.  Thanks for your help.

[2020-04-24 20:04] #22939 closed

[2020-04-24 20:04] howardjohn commented on #17053
This was cleaned up

[2020-04-24 20:04] #17053 closed

[2020-04-24 20:06] howardjohn commented on #21222
This is 95% done. The rest is cosmetic mostly. Bumping to nebulous future P1

[2020-04-24 20:15] marshallford commented on #22347
@howardjohn I see this missed 1.5.2. Will we not see the fix until 1.6?

[2020-04-24 20:33] ericvn opened #23251 "docs/setup/platform-setup/minikube/ issues"
**Bug description**

- Latest minikube version is 1.9.2, way later than that mentioned on the page.
- vm-driver is deprecated, use driver instead
- k8s versions specified is no loner supported. Update to something supported or remove (uses stable version of k8s).
- `minikube ssh
top
` doesn't work as it will do the top after you exit the login on your local host.

**Expected behavior**

**Steps to

[2020-04-24 20:40] nrjpoddar commented on #23184
1.15-1.17 or 1.15-1.18 if we can qualify it. Users shouldn't be penalized for our delays in releasing coupled with timely releases of K8s.

[2020-04-24 20:43] ericvn opened #23253 "MultiCluster issues with docs"
**Bug description**

[code]

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

**How was Istio installed?**

**Environment where bug was observed (cloud vendor, OS, etc)**

[2020-04-24 20:58] ericvn opened #23255 "Replicated control plane issues with docs"
**Bug description**
Step says: `istioctl manifest apply \
    -f install/kubernetes/operator/examples/multicluster/values-istio-multicluster-gateways.yaml`

The install directory no longer exists. Replaced with manifests/examples/multicluster/values-istio-multicluster-gateways.yaml, and fails like #23253:
[code]

[2020-04-24 21:10] jacob-delgado commented on #22078
cc @howardjohn @fpesce

I get the following error when I try to create a branch for `gogo-genproto`

[code]

This works for the other repositories.

[2020-04-24 21:10] brian-avery commented on #22078
PR to update CODEOWNERS and Makefile for common-files. Based off of https://github.com/istio/common-files/pull/184/files

[2020-04-24 21:11] tariq1890 commented on #11131
Hello @linsun @frankbu I am able to get the `bookinfo` application to work if the pods, gateways and virtualservices aree deployed in the same namespace as that of `istio-ingressgateway`.

But If I move `bookinfo` resources to another namespace, it doesn't work. I've even tried the approach suggested by @frankbu where I create the gateway of `bookinfo` in the same namespace as `istio-ingressgatewa

[2020-04-24 21:11] tariq1890 commented on #11131
By "getting it to work", I mean access the `productpage` from external traffic through the `istio-ingressgateway` load balancer.

[2020-04-24 21:16] fpesce commented on #22078
Weird @jacob-delgado , I haven't seen this one before. I'm not sure there is a need for particular privileges, do you want me to create the branch as a quick workaround?

[2020-04-24 21:16] jacob-delgado commented on #22078
That's fine. A root cause can be done later.

[2020-04-24 21:33] #23149 closed

[2020-04-24 21:33] #23147 closed

[2020-04-24 21:34] howardjohn commented on #23246
There is now a way to override anything in https://istio.io/docs/reference/config/istio.mesh.v1alpha1/#ProxyConfig with the istio.io/proxyConfig annotation starting in istio 1.6

[2020-04-24 21:35] bogiva commented on #10543
@despondency

Sounds fine for greater flexibility, but I would also love to have the chance to define a static (customized) response as callback might be an overhead in some situations.

[2020-04-24 21:40] dosten commented on #22463
Hi,

We are facing the same issue with 1.5.2 on AKS, our pods are stuck on the Init phase:

[code]

using this `IstioOperator` spec:

[code]

started working again after restarting the `istiod` deployment and our app pods.

[2020-04-24 21:49] brian-avery commented on #22078
PR for updating common-files on release-builder: https://github.com/istio/release-builder/pull/213

[2020-04-24 21:49] jacob-delgado commented on #22078
PR for updating CODEOWNERS istio/pkg: https://github.com/istio/pkg/pull/148

[2020-04-24 21:56] jacob-delgado commented on #22078
PR to update common files for istio/api: https://github.com/istio/api/pull/1402 similar to https://github.com/istio/api/pull/1264

[2020-04-24 22:04] jacob-delgado commented on #22078
PR to update common files for istio/cni: https://github.com/istio/cni/pull/307 similar to https://github.com/istio/cni/pull/238

[2020-04-24 22:10] #23135 closed

[2020-04-24 22:19] bianpengyuan commented on #22968
This should be fixed in 1.6. I will use this issue to track how to make the test more strict in order to catch a random bug like this.

[2020-04-24 22:21] jacob-delgado commented on #22078
PR to update common files and CODEOWNERS for istio/client-go https://github.com/istio/client-go/pull/108 similar to https://github.com/istio/client-go/pull/42 and https://github.com/istio/client-go/pull/46

[2020-04-24 22:29] JimmyCYJ commented on #22729
Oh, I removed the sds update stats in https://github.com/istio/istio/pull/23016, that breaks the test verification. I will skip this test for now.

[2020-04-24 22:40] jacob-delgado commented on #22078
PR to update common files and CODEOWNERS for istio/gogo-genproto https://github.com/istio/gogo-genproto/pull/68 similar to https://github.com/istio/gogo-genproto/pull/34 and https://github.com/istio/gogo-genproto/pull/33

[2020-04-24 22:52] bianpengyuan opened #23260 "Improve tracing test to catch proxy tracing bug early"
Due to retries in tracing test, we've been bitten several times by the bugs from envoy tracing (https://github.com/istio/istio/issues/22968, https://github.com/istio/istio/issues/16985). This issue is to track the work to make tracing test more strict, so that we can catch them earlier.

[2020-04-24 22:52] bianpengyuan commented on #22968
Close in favor of https://github.com/istio/istio/issues/23260

[2020-04-24 23:09] jacob-delgado commented on #22078
PR to update common files and CODEOWNERS for istio/tools https://github.com/istio/tools/pull/914 similar to https://github.com/istio/tools/pull/705. This may have more work given the previous PR

[2020-04-24 23:10] howardjohn commented on #22443
134c006dcfc37452d9a8ae3818732f32e47a0ef1 was the commit that transitioned from both broken to just ROOTCA broken

[2020-04-24 23:11] howardjohn commented on #22443
Full bisect log:

[code]

Interesting, 134c006 is in 1.5. need to check if 1.5 is just rootca broken?

[2020-04-24 23:14] lei-tang commented on #22508
I am working on other items and have not been able to work on this issue.

[2020-04-24 23:17] howardjohn commented on #22443
On 1.5.2 both are missing, yet it has the same 134c006dcfc37452d9a8ae3818732f32e47a0ef1... I am confused

[2020-04-24 23:42] lei-tang commented on #22463
@dosten Thanks for letting us know that this issue still occurs with 1.5.2 on AKS.

The PR #22613 is created to simplify the implementation of the namespace controller that manages the ConfigMap in this issue. It may solve the bugs in this issue, but is unverified. If anyone can try the PR #22613 and let us know the results, it will be helpful.

[2020-04-25 00:00] howardjohn opened #23261 "Perf test applies deprecated Policy CRD"
This is broken now since that crd is removed in 1.6

from load/templates/mtls.yaml

[2020-04-25 00:07] howardjohn commented on #22443
1.5.2 + envoy from 1.6 is broken: gcr.io/howardjohn-istio/proxyv2:mismatch
1.6 + envoy from 1.5 is working: gcr.io/howardjohn-istio/proxyv2:mismatch-16-agent

conclusion: its purely on pilot-agent that we have broken this

[2020-04-25 00:20] howardjohn opened #23262 "Perf cluster: stop installing ServiceMonitors from istio/installer"
We should either use istioctl or manage them ourselves

[2020-04-25 00:49] marshallford commented on #21996
Doesn't appear fixed in 1.5.2. The 1.5.2 release notes describe #22703 as fixed but it is a different issue?

[2020-04-25 01:45] irisdingbj opened #23263 "follow up on 23173"

[2020-04-25 01:54] esnible commented on #23198
Closing because https://github.com/istio/istio/pull/23244 fixes this problem as well.

[2020-04-25 01:54] #23198 closed

[2020-04-25 02:09] therealmitchconnors opened #23264 "Race Condition in pilot/pkg/proxy/envoy/v2/lds_test.go"
See https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/22873/unit-tests_istio/12392 for example.  Apparently caused by #22573.

[2020-04-25 05:01] #17475 closed

[2020-04-25 05:05] #20090 closed

[2020-04-25 08:08] parthshah86 opened #23267 "Istio sidecar keeps pointing to a stale dst host"
**Bug description**
We have istio sidecar running alongside pods within a deployment. The pods communicate with the istio gateway via the sidecar. One pattern which we have observed is that GET request from the pod keeps giving 503 intermittently and does not recover without restarting the pod.

Looking at the gateway logs, the request does not hit the gateway. In the istio sidecar logs, one thing

[2020-04-25 08:22] amir-hadi commented on #13205
I think we are experiencing this with istio 1.4.4. If we don't set `maxRequestsPerConnection` to 1, we are getting 503s all the time. This feature still makes sense for us, so I'd like to keep it on, but with that many errors, our hands are tied.

[2020-04-25 08:26] irisdingbj commented on #22078
PR to update common files and CODEOWNERS for istio/proxy https://github.com/istio/proxy/pull/2826. similar to https://github.com/istio/proxy/pull/2641

[2020-04-25 08:53] morvencao commented on #23141
Encountered the same issue in master, looks like https://github.com/istio/istio/pull/23165 removed the fix.

[2020-04-25 08:57] irisdingbj commented on #22078
PR to update common files and CODEOWNERS for istio/istio https://github.com/istio/istio/pull/23268 . similar to https://github.com/istio/istio/pull/20559

[2020-04-25 09:06] irisdingbj commented on #22078
PR to update  CODEOWNERS for istio/envoy https://github.com/istio/envoy/pull/203. similar to https://github.com/istio/envoy/pull/134

[2020-04-25 12:08] davesargrad commented on #23249
I've continued to try to experiment with this. I've also looked at the tcp-echo configuration. It seems to be similar to what I have, except that its gateway points to the default istio: ingressgateway. I've also tried this.

So far no success.

Can someone please suggest a specific experiment that I might try?

[2020-04-25 13:46] #23264 closed

[2020-04-25 14:05] fffffreedom opened #23271 "Error: unknown command "manifest" for "istioctl""
**Bug description**

$ istioctl manifest apply
Error: unknown command "manifest" for "istioctl"

[ ] Configuration Infrastructure
[* ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

[ ] Multi Cluster
[* ] Virtual Machine
[ ] Multi Control Plane

**Expected behavior**

[2020-04-25 14:15] chadlwilson commented on #23064
Thanks. After looking at this, it seems a bit painful and risky to me to refactor this across all our rules and services. We have many hybrid rules, like the below which seem difficult to express in the same way when using `condition`s without repeating the entire rule since we need the `method`s to be whitelisted as well.

[code]
It feels like a not-so-good idea to me to make such changes over so

[2020-04-25 14:40] justinrsweeney commented on #20090
@yangminzhu Looks like the bot closed this. The PR was merged, is there a way to link that to this issue?

[2020-04-25 21:18] brian-avery commented on #22078
Need to get https://github.com/istio/istio/pull/23265 and https://github.com/istio/istio/pull/23268/files merged before we can finish the branch process and kick off the build.

[2020-04-25 21:30] brian-avery commented on #22078
PR to set branches for release-builder: https://github.com/istio/release-builder/pull/215

[2020-04-25 21:46] brian-avery commented on #22078
This PR stops publishing latest for 1.6: https://github.com/istio/istio/pull/23273 similar to https://github.com/istio/istio/pull/20587

[2020-04-25 22:15] ThomasK33 commented on #22732
@Sh4d1 what was your fix?

I'm facing the same issue on a self hosted k3s on an EC2 instance.

[2020-04-25 23:05] jacob-delgado commented on #22078
We are awaiting PR https://github.com/istio/istio/pull/23265 before we can launch a beta build. Envoy 14.1 is deemed necessary for Istio 1.6. The current cause of why tests are failing is being actively investigated. We will keep this updated with more information as it becomes available. Thanks for your understanding and patience.

[2020-04-25 23:14] howardjohn commented on #20123
I think we can have a single system with multiple types of "tests":

* Simple Istio CR creation/deletion/modification. Example simulations are changing virtual service (simulate things knative or flagger does), creating gateway + SDS secrets and rotating frequently, modifying various configs (especially SE)
* Fake API server simulating pods/endpoints/etc. Pilot connects using the multicluster code

[2020-04-25 23:26] brian-avery commented on #22078
PR to bump to 1.7 is here: https://github.com/istio/istio/pull/23274

[2020-04-26 02:13] bianpengyuan opened #23277 "Network tcp stats filter cannot use semantic name"
After proxy sha update to envoy 1.14.1, network filter cannot use semantic name: https://github.com/istio/istio/pull/23265/files#diff-1e82666f6c50fc89b17fee45dfe8d289L1638. Specifically envoy complains: `Didn't find a registered implementation for name: 'istio.stats'`.

Not sure if this is an upstream envoy bug or we missed a related PR in istio/envoy 1.14.1.

[2020-04-26 02:48] rsalmond commented on #22734
^^ this fix was part of the 1.5.2 release. Closing.

[2020-04-26 02:48] #22734 closed

[2020-04-26 03:05] gnz00 opened #23278 "Pilot v1.5.2: SIGSEGV on startup when calling security/pkg/pki/ca.(*IstioCA).GetCAKeyCertBundle(...)"
When trying to run docker-compose examples from the Consul integration, https://github.com/istio/istio/blob/master/install/consul/templates/istio.yaml.tmpl, Pilot crashes with the following stacktrace.

[code]

**Expected behavior**
It generates the CA and starts up correctly.

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `h

[2020-04-26 03:28] yuenwah commented on #23145
@hzxuzhonghu Am I missing something here?

[2020-04-26 03:45] hzxuzhonghu commented on #23145
Yes, please understand that the route setting takes effect on the proxy's outbound direction. That is to say your traffic should be through a proxy.  So behind the nginx ingress, there should be istio's ingress gateway.

[2020-04-26 05:01] #17494 closed

[2020-04-26 05:01] #17498 closed

[2020-04-26 06:05] gnz00 opened #23279 "istio-sidecar.deb fails to start on Debian buster with iptables default nftables setting"
Unable to start on the latest debian due to Istio dependency on iptables.
**Bug description**

**Expected behavior**

**Steps to reproduce the bug**
[code]
[code]

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**
1.5.2

**How was Istio installed?**
Manually installed the debian package, see above.

**Environment where bug was

[2020-04-26 06:17] Sh4d1 commented on #22732
@thomasK33 WE had some configuration mismatch on the `sa` flags. Could you share yours?

[2020-04-26 06:22] morvencao opened #23280 "in-cluster doesn't prune all resources after iop instance is deleted"
**Bug description**

This is different from https://github.com/istio/istio/issues/23141

After iop instance is deleted, the istio resources created by in-cluster controller are just clean the **istiod**, others are still there:

[code]
After checking the code, I found that the prune cycle is using iop without merged with profile.
See: https://github.com/istio/istio/blob/master/operator/pkg/control

[2020-04-26 06:28] kevinsingapore commented on #12456
and how to sovle the error? thank u!

[2020-04-26 06:30] hanzhc commented on #12456
pay attention to your settings such as http-proxy

On 04/26/2020 14:28, kevin Fu wrote:

and how to sovle the error? thank u!

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-04-26 07:29] #23048 closed

[2020-04-26 08:26] hzxuzhonghu commented on #23225
Not sure i understand you right. The vs's gateway specifies the gateway name. And the gateway(I mean the api object here) is created by yourself.

[2020-04-26 08:36] kevinsingapore commented on #19066
i have met the same error, and do u have sovle it？

[2020-04-26 08:39] cameronbraid commented on #23225
I deploy istio with
[code]

And the gateway that is deployed form this is the gateway I am using.

[2020-04-26 08:43] wpf710 opened #23283 "Readiness probe failed: HTTP probe failed with statuscode: 503"
How to fix this - if possible?

Download istio 1.5.2 installed by
[code]
[code]
[code]
Environment:
   Virutal Machine on private cloud
[code]
Logs
[code]

[2020-04-26 08:54] hzxuzhonghu commented on #23249
From the error log, it seems your gateway does not open a port 9999. You can use an existing port exposed by the gateway service, or expose a new port.

[code]

[2020-04-26 09:10] fujianan commented on #22770
hello,Do you solve this problem?

[2020-04-26 09:11] wpf710 commented on #23283
on  k8s 1.16.1 worked

[2020-04-26 09:16] chaudyg opened #23284 "Allow PeerAuthentication on ingress gateways"
**Describe the feature request**
Allow Peer authentication (aka Istio mTLS) to work on gateway.

Currently, you can set TLS/mTLS via gateway API. This however doesn't add the authn filter on the gateway, which is confusing. For more details, see https://github.com/istio/istio/issues/21343.

**Describe alternatives you've considered**

The following envoy filter is a an alternative workaround.
[cod

[2020-04-26 09:16] chaudyg commented on #21343
Created the feature request. See https://github.com/istio/istio/issues/23284

[2020-04-26 09:29] champly opened #23285 "queue close signal, Run method not exit"
**Bug description**

`pkg/queue` if stop signal closed, the Run method may not exited, if wait sync.Cond it not exited.

[2020-04-26 09:34] jiribaloun opened #23287 "Minimal list of components necessary for logging to remote ELK"
**Bug description**
I'm trying to install Istio with default profile.
However, it doesn't work as expected.

Is there any detailed minimal list of components necessary to install for sending logs to remote ELK Stack?

**Expected behavior**
List of  "--set" following "istioctl manifest apply" to bring successful installation sending logs.

**Steps to reproduce the bug**
istioctl manifest apply <--s

[2020-04-26 09:35] hzxuzhonghu commented on #23225
IC, not an expert on operator. @howardjohn may help

[2020-04-26 09:45] hzxuzhonghu commented on #22770
anyone please show the configdump of both the client and server side

[2020-04-26 09:54] fujianan commented on #22770
redis-configmap.yaml
[code]
redis-service.yaml
[code]
redis-deployment.yaml
[code]

client service configuration:
[code]

And this problem occurs sporadically

[2020-04-26 09:58] ThomasK33 commented on #22732
Sure, where can I find them?

[2020-04-26 10:00] fujianan commented on #22770
Do you need more information? If necessary, please contact in time

[2020-04-26 10:00] Sh4d1 commented on #22732
It's in the API server and controller command line flags

[2020-04-26 10:30] shinynz opened #23288 "Istio 1.5.1 is installed on the Alibaba server istio init. Initialization error"
## Bug description

- k8s：v1.16.6-aliyun.1
- istio: v1.5.1

Istio 1.5.1 is installed on the Alibaba server istio init. Initialization error
use namespace injection sidecar

## Environment

[code]

## Variables

[code]

Writing following contents to rules file:  `/tmp/iptables-rules-1587896609463992300.txt031496377`

[code]

[2020-04-26 10:52] ThomasK33 commented on #22732
These are the flags the api server and controller get started with:

[code]

[2020-04-26 11:10] Sh4d1 commented on #22732
I think you are missing some service account flags, see  https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/

[2020-04-26 11:17] hzxuzhonghu commented on #22770
@fujianan I mean xds configdump from envoy

[2020-04-26 11:51] fujianan commented on #22770
@hzxuzhonghu Hi,What command should I execute to get con
figdump?Thanks

[2020-04-26 12:20] SmartsYoung commented on #23283
How to get the pod  istio-ingressgateway-6cf56d9598-ptqp7? Can you provide the specific info?

[2020-04-26 12:28] davesargrad commented on #23249
@hzxuzhonghu Thanks for this. However it confuses me. I've defined a gateway above that is intended to expose port 9999. How is this definition wrong? Also I am not sure why you are suggesting that I look at istio-ingressgateway. Are you saying that I should add port 9999 to this?

[code]

Why cant' I use either of the following gateway as I indicated above?

[code]
or
[code]

[2020-04-26 12:47] #23285 closed

[2020-04-26 13:15] rainmetersjtu commented on #22582
Is there any config we can use to change timezone for istio-proxy (envoy) accesslog ? it will be a lot of work to do if change timezone for sidecar image. thank you

[2020-04-26 13:43] sdake commented on #22938
@nmittler I unassigned you and am closing this window. Hopefully an intern can pick this up as a day 30 project and hopefully you can coach.

Cheers
-steve

[2020-04-26 14:15] howardjohn commented on #23287
Please take a look at https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-service-mesh-istio.html. If that doesn't solve your problem, can you give some more details on the issue? You mentioned it doesn't work but not what happens

[2020-04-26 14:16] howardjohn commented on #23283
Looks like the envoy cannot connect to pilot. Can you try to curl istio-pilot:15012 from the gateway maybe? Since the endpoint looks ready it may be a networking issues like network policy blocking

[2020-04-26 14:21] howardjohn commented on #23279
@rlenglet @abhide @lambdai what is the fix here? Do we need to support nftables or use some subset of the iptables command that nftables supports or something? Not super familiar here but this will likely become more common as time goes on

[2020-04-26 14:24] howardjohn commented on #23277
Even before your Sha update merged I saw this error ij master sometimes. unfortunately I didn't record the exact images - very likely the install and proxy images where mismatched though.

I don't 100% understand the timeline of changes here but we should make sure that this never occurs in the 1.5 to 1.6 upgrade

[2020-04-26 14:24] howardjohn commented on #23271
I suspect you have an old version, can you run `istioctl version`?

[2020-04-26 14:25] howardjohn commented on #23267
Please upgrade to 1.4.8 this bug was likely fixed by https://github.com/istio/istio/issues/20676

[2020-04-26 15:39] rlenglet commented on #23279
@gnz00 what is the Linux kernel version?

[2020-04-26 15:45] rlenglet commented on #23279
I think the vanilla `iptables` command is too forgiving. We're passing a `--to-port` flag whereas we should be passing `--to-ports` (with a `s`) according to the manpage. `nftables`'s `iptables` command may be more strict.

@gnz00 could you do a quick check that this works if you replace `--to-port` with `--to-ports` in the commands [here](https://github.com/istio/istio/blob/f56ef77cdeda173e971841

[2020-04-26 16:33] sdake opened #23290 "analysis_test.go:75 test failure"
**Bug description**
[code]

**Expected behavior**

this test does not timeout.

**Steps to reproduce the bug**
See description.

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**
master@b58fbba2a6decfb6071a4a1cdb37d191ace2079e + PR: https://github.com/istio/istio/pull/23068

**How was Istio installed?**
by the test cases.

**E

[2020-04-26 16:37] sdake commented on #23290
May have had state in my cluster. After completing the `make test.xyz` operation above, The following is observed:

[code]

[2020-04-26 16:38] sdake commented on #23290
[code]

[2020-04-26 16:39] sdake commented on #23290
Surprised to see disk pressure:
[code]

[2020-04-26 17:24] alecor191 commented on #20952
I noticed that the milestone for this work used to be "1.6", but got then de-prioritized to "backlog". Are you able to share any information on potential release schedule for this feature?

[2020-04-26 17:24] VinothChinnadurai commented on #22068
@songford @bianpengyuan @gargnupur @devstein  Can some body look this below configuration and help us? It does not created **routes entry(RDS)** in envoy config_dump but **cluster entry(CDS)** is there.

[code]
Our Service Entry:
[code]

[2020-04-26 19:37] jiribaloun commented on #23287
Thank you for taking a care of my case.

Procedure is simple.
I've followed guide on: https://istio.io/docs/setup/getting-started/ and installed istio with following command:
./istioctl manifest apply --set profile=default --set components.telemetry.enabled=true --set values.global.controlPlaneSecurityEnabled=true --set values.security.enabled=true --set addonComponents.prometheus.enabled=false

T

[2020-04-26 20:44] jacob-delgado commented on #22078
This was fixed and cherry picked into 1.6 via https://github.com/istio/istio/pull/23276. Thanks to everyone for their hard work.

[2020-04-27 00:12] fffffreedom commented on #23271
fffffreedom:minikube jonny$ istioctl version
Version: 1.0.2
GitRevision: d639408fded355fb906ef2a1f9e8ffddc24c3d64
User: root@66ce69d4a51e
Hub: gcr.io/istio-release
GolangVersion: go1.10.1
BuildStatus: Clean

[2020-04-27 00:21] howardjohn commented on #23271
please update, that is almost 2 years old

[2020-04-27 01:52] mandarjog commented on #20952
We are adding it to 1.7 .

[2020-04-27 01:52] hzxuzhonghu commented on #22770
https://istio.io/docs/ops/diagnostic-tools/proxy-cmd/

[2020-04-27 01:59] hzxuzhonghu commented on #23249
When you access your service through istio ingress gateway. It is like a normal k8s service, you should expose `9999` firstly. `9999` should be a target port of the service.

[2020-04-27 01:59] kevinsingapore commented on #12456
the 3 nodes（1 master nodes + 2 nodes）have configured http_proxy and https_proxy，the settings cause the error？ thank u!

[2020-04-27 02:00] lei-tang commented on #23278
@gnz00 Can you share detailed steps to reproduce the problem? Have you tried the steps on other Istio versions and do the steps work for other Istio versions?

Meanwhile, the history of consul template https://github.com/istio/istio/commits/master/install/consul/templates/istio.yaml.tmpl shows that there is only one commit from 4-10-2019 to 4-21-2020. Thus, it is unclear whether the Consul integra

[2020-04-27 02:38] wpf710 commented on #23283
[code]

[2020-04-27 02:46] wpf710 commented on #23283
[code]

[2020-04-27 02:49] erks commented on #23218
dupe of https://github.com/istio/istio/issues/22267

[2020-04-27 02:58] jmazzitelli commented on #23199
Details? What is your version of Istio and Kiali? What is the command you used to install? What do the Kiali pod logs say?

[2020-04-27 03:05] ericvn commented on #23199
1.6-alpha-2 install from dev testing day 1. I followed the steps as listed on the pages above. At this point I've moved on to many other tests so no logs at the moment.

[2020-04-27 03:16] #21812 closed

[2020-04-27 03:28] ericvn commented on #23206
Question asked in Slack: https://istio.slack.com/archives/C50V5EATT/p1587958049126700

[2020-04-27 03:56] ramaraochavali commented on #22536
@VinothChinnadurai  My wild guess is you may be missing the route name -
[code]

Good that you have posted here https://github.com/istio/istio/issues/22068 - they might have better idea as they were able to make it work

[2020-04-27 04:00] johnzheng1975 commented on #22803
Ok, I can implement my user case through exportTo.

[2020-04-27 04:01] johnzheng1975 commented on #22803
With below:
[code]

[2020-04-27 04:11] rlenglet commented on #23279
Keeping this open until I cherry-pick https://github.com/istio/istio/pull/23289 into `release-1.5`.

[2020-04-27 04:12] johnzheng1975 commented on #22803
I can implement my requirement with exportTo now.   So close it.
[code]

Thanks for your time and support. @howardjohn

[2020-04-27 04:12] johnzheng1975 commented on #22803
@howardjohn , thanks a lot for your time and support!

[2020-04-27 04:12] #22803 closed

[2020-04-27 04:52] wpf710 opened #23297 "InitContainer istio-validation failed to run in default namespace"
**Enviroment:**

 Try to follow  the guide https://istio.io/docs/setup/getting-started/  on istio-1.5.2 and k8s 1.16

[code]
CNI enabled
[code]
ServiceAccount controller enabled
[code]
**How to do**

Install istio
[code]
**what Happens**

 label the default namespace
[code]
Create the sample bookinfo
[code]

[2020-04-27 04:55] rlenglet commented on #23279
Changing to `--to-ports` didn't fix this issue. It seems like `nftables` just doesn't support `-j REDIRECT`: https://github.com/istio/istio/pull/23289#issuecomment-619717363.

[2020-04-27 05:01] #17531 closed

[2020-04-27 05:02] #17863 closed

[2020-04-27 05:14] rlenglet commented on #23279
Note that this issue is not blocking usage on Debian Buster. `iptables` can be switched back to not using `nftables`:
[code]

[2020-04-27 05:41] rlenglet commented on #23279
Actually, `nftables` properly supports the `REDIRECT` target and the `--to-ports` option, cf. http://git.netfilter.org/iptables/tree/extensions/libipt_REDIRECT.c#n26. 🤔

[2020-04-27 05:45] VinothChinnadurai commented on #22536
Sure.. Thanks @ramaraochavali for getting back to us.. We will try out this solution as well

[2020-04-27 05:45] rlenglet commented on #23279
`nftables` can actually parse and translate the rule setup by istio:
[code]

[2020-04-27 05:56] rlenglet commented on #23279
Minimal reproducer:
[code]
This seems like a bug specific to `iptables-nft-restore`, not `nftables` in general.

[2020-04-27 06:17] rlenglet commented on #23279
I would recommend filing this as a bug in Debian against the [`iptables` package](https://bugs.debian.org/cgi-bin/pkgreport.cgi?src=iptables), which is the package that installs `/usr/sbin/iptables-nft-restore`, with [the minimal reproducer](https://github.com/istio/istio/issues/23279#issuecomment-619741901).

[2020-04-27 06:20] #16615 closed

[2020-04-27 06:31] illidan80 opened #23298 "Question: is it possible to use Istio as a reverse proxy? (similar to nginx proxy_pass)"
I running on AWS + EKS + Istio, and I using AWS Elasticsearch Service for logging. By default, AWS Kibana is not exposed to the Internet, and in order to do that they [propose three approaches](https://aws.amazon.com/premiumsupport/knowledge-center/kibana-outside-vpc-cognito-elasticsearch/). One of the approaches is to deploy a dedicated Nginx to serve as a reverse proxy, which will pass traffic t

[2020-04-27 06:37] rlenglet commented on #23279
The `iptables-nft-restore` command is linked to the same `nftables` extensions as the `iptables-translate` command, since they are both symlinks to the same binary:
[code]
So the problem would seem to be that `iptables-nft-restore` does not enable `nftables` extensions at all.

[2020-04-27 06:44] erks commented on #23218
Never mind. The issue still exists in 1.5.2 for istio-ingress/egress.

[2020-04-27 07:10] irisdingbj opened #23300 "provide a way to disable CA functions in remote cluster"
part of https://github.com/istio/istio/issues/22934

[2020-04-27 07:12] irisdingbj commented on #23138
https://github.com/istio/istio/issues/22934

[2020-04-27 07:14] SmartsYoung commented on #23283
I try curl istio-pilot:15012 from the gateway is the same with you.
[code]
But the describe pod  istio-ingressgateway-64f6f9d5c6-8m98h is ok.

[code]

[2020-04-27 07:43] roywangtj commented on #22463
I also meet same issue with 1.5.2 on on-premise.  Need restart istiod, and then istiod-ca-cert configmap was auto generated in namespace which label istio-injection=enabled.

[2020-04-27 07:59] lambdai commented on #23288
@shinynz
The error indicates an error happens when istio-init create iptables chain at line `-N ISTIO_REDIRECT`
The latter iptables-save does dump the nat table has ISTIO_REDIRECT

It's likely that istio-init created the iptables **prior to this attempt** but the pod failed somehow at initialization. Then the istio-init reruns and failed. Do you have the history of istio-init logs owned by the sam

[2020-04-27 08:00] littleroad commented on #23009
Centos 8 seems to have replaced iptables-legacy with iptables (nf_tables). I think maybe the version of iptables in the proxy_v2 image is different from the version of iptables in Centos 8, resulting in different results between initcontainer and istio-cni.

[2020-04-27 08:06] kevinsingapore commented on #12456
the method is ok . thank u! delete the https_proxy & http_proxy

[2020-04-27 08:24] jhughes2112 commented on #23283
I'm having essentially the same problem, specifically with the rancher/istio-pilot:1.4.7 image.  If I `kubectl exec -ti ... /bin/bash` over to the discovery container in the pod, if I curl 127.0.0.1:15010 I get a warning about binary content (which means it's working, I assume), but if I curl 127.0.0.1:8080 I get a error 404, but the web server is present to return such an error code.  That is why

[2020-04-27 08:34] #17549 closed

[2020-04-27 08:53] fujianan commented on #22770
@hzxuzhonghu
redis server
istioctl proxy-config listeners redis-6676857d78-nvc7s -o json
[redis-listener.json.zip](https://github.com/istio/istio/files/4538466/redis-listener.json.zip)

[2020-04-27 11:21] davesargrad commented on #23249
@hzxuzhonghu As you see in  my above description I have created a ClusterIP service that exposes 9999.
[code]

I made this a ClusterIP service, rather than a NodePort service, because this is how the bookinfo demo creates a service. My assumption was that the gateway then does the work of exposing the service outside the cluster.

Do I actually need to make this a nodeport service (or a loadbalanc

[2020-04-27 11:49] hzxuzhonghu commented on #23249
Yes.

The service exposure is k8s related knowledge, so istio doc does not say much.

[2020-04-27 11:53] rytswd opened #23303 "User defined IngressGateway not configured correctly with istioctl"
**Bug description**

A user defined IngressGateway configuration is not handled correctly, and results in incorrect configuration, and some duplication.

The resources that are incorrectly handled are:
- HorizontalPodAutoscaler
- Deployment
- Gateway
- Service

These get the default `metadata.labels` and `spec.selector` regardless of the user defined configuration, and in case of Deployment, it al

[2020-04-27 11:57] davesargrad commented on #23249
@hzxuzhonghu Thanks for your fast response.
I know that the service exposure is k8s related knowledge however the interplay with istio is istio knowledge. The description of how istio interacts with the underlying k8s services is a key piece of istio.

For example, the fact that I need two services (a ClusterIP service and a LoadBalancer service) is not k8s related knowledge. I think this relates

[2020-04-27 12:43] hzxuzhonghu commented on #23249
I will show you a traffic flow:

client outside the cluster----[gateway service(Loadbalancer or NodePort type)]----->istio ingress gateway ---> backend service

In your case, I understand you want to use `9999` as the port. So u have to specify it as a target port of gateway service.

[2020-04-27 12:48] davesargrad commented on #23249
@hzxuzhonghu Thanks!!
Thats a good description.

Its that kind of flow description that is quite useful. Its the "wiring" that I was looking for. I didnt actually realize that the service I needed to define would target the gateway port, rather than the actual iperf application port.

Maybe I was a lot closer than it seemed. Thanks I'll try a different experiment based on your help!!

Hopefully I'

[2020-04-27 13:01] fffffreedom commented on #23271
thks

[2020-04-27 13:01] #23271 closed

[2020-04-27 13:04] davesargrad commented on #23249
Ok. This is what I am now trying to use. Please review quickly and see if this looks like it does what you are recommending.

I am specifically not sure how to set the selector in the gateway. Typically one would specify a label on the application (not a selector), and then the service would select on that label.

**My LoadBalancer Service**
[code]
**My Gateway**
[code]

**My Virtual Service**
[co

[2020-04-27 13:12] #23251 closed

[2020-04-27 13:16] wangfakang commented on #22640
@howardjohn This problem still exists in istio-1.5.2.

[2020-04-27 13:17] linsun commented on #23184
@howardjohn @nrjpoddar I'm good with 1.15 to 1.18 as well.

@knrc @dgn pls chime in from redhat service mesh perspective.

[2020-04-27 13:17] wangfakang commented on #22640
/reopen

[2020-04-27 13:17] linsun commented on #23184
cc @sdake

[2020-04-27 13:35] jdomag commented on #17527
Doesn't work for me as well with istio 1.5.2 - password and username has been mounted as below. Does extra empty line or "%" is relevant?
Secret has been generated using commands for ZSH provided here:
https://istio.io/docs/tasks/observability/kiali/

![image](https://user-images.githubusercontent.com/28705876/80378199-99830e00-889c-11ea-95b7-10114c030f35.png)

[2020-04-27 13:41] howardjohn commented on #22463
@roywangtj can you please provide the full istiod logs ?

[2020-04-27 13:47] #23201 closed

[2020-04-27 13:47] #23202 closed

[2020-04-27 13:50] wangfakang commented on #22640
Same issue in istioctl-1.6.0-alpha.2.
[code]

[2020-04-27 14:00] davesargrad commented on #23249
:( This is still not working; discouraging. I'm crawling through the istio documentation to see if there is any clue.

[2020-04-27 14:08] jmazzitelli commented on #17527
@jdomag that secret doesn't look correct. Make sure when you build the secret no newlines or any special characters are on the values. When I do those commands:

[code]
Notice no newlines or special characters. So it sounds like the secret is not generated properly

Here's what my YAML looks like:

[code]

[2020-04-27 14:14] #23207 closed

[2020-04-27 14:14] #23237 closed

[2020-04-27 14:18] jdomag commented on #17527
@jmazzitelli
I think this is just how ZSH parsing the output as kubectl get secret return the same result. In fact i've just copied your definition of Secret and restarted Kiali pod - still doesnt work :/

[code]

[2020-04-27 14:30] amir-hadi commented on #14037
@Stono Do you think we should re-open this? Because I am getting the same results as you, but in istio 1.4.4. Not 100% if its the exact same problem though, but setting `maxRequestsPerConnection: 1` seems to fix the issue. AFAIK this effectively disables pooling between envoy and app, so it could be related.

[2020-04-27 14:33] gargnupur commented on #22068
@VinothChinnadurai: can you share your config_dump ? Config looks ok..
Your ratelimit service is hosted on vpce-xxx-xxx.vpce-svc-xxx.us-east-1.vpce.amazonaws.com?

[2020-04-27 14:35] lei-tang commented on #22463
Added the contributors of the pilot/pkg/bootstrap/namespacecontroller.go (@howardjohn, @hzxuzhonghu) to collectively diagnose this issue.

[2020-04-27 14:42] israel-hdez commented on #17527
@jdomag How are you exposing/accession Kiali?

[2020-04-27 14:44] #22952 closed

[2020-04-27 14:48] devstein commented on #22068
@VinothChinnadurai

What does your rate limit service config look like? Have you tried simplifying your rate limit actions as a sanity check? (i.e **only use** `- remote_address: {}`)

Also, did you try explicitly to create a `CLUSTER` definition for the service? I found this to be simpler/less error-prone than referencing the default generated cluster name.

If you can, post your `istioctl proxy-

[2020-04-27 14:53] Stono commented on #14037
Hey @amir-hadi - I don't see this issue any more and narrowed down those 503UC errors to general issues with keep alive timeouts (as per my blog).

I'm not sure what we'd get from reopening the issue.

If you've got some specific debug information though perhaps it's worth opening a new issue, you can always reference this one back if you feel it's related?

[2020-04-27 14:54] jdomag commented on #17527
i run kubectl proxy and access it via:
`http://localhost:8001/api/v1/namespaces/istio-system/services/kiali:20001/proxy/kiali/`

[2020-04-27 14:56] gargnupur commented on #12115
@PeterPanHaiHai : apologize for the late reply.
From Istio 1.5+, we are suggesting users to use Envoy's rate limiting service. Am not sure, if we want to invest in improving performance of older versions..
@mandarjog , @douglas-reid wdyt?

[2020-04-27 15:00] gargnupur commented on #20034
Can be closed via https://github.com/istio/istio/issues/21992

[2020-04-27 15:00] #20034 closed

[2020-04-27 15:06] linsun commented on #23255
this should be fixed by https://github.com/istio/istio/pull/23304

[2020-04-27 15:06] linsun commented on #23255
please reopen if the issue still exists.

[2020-04-27 15:06] #23255 closed

[2020-04-27 15:09] linsun commented on #23253
should be also fixed with https://github.com/istio/istio/pull/23304, if not, please reopen.

[2020-04-27 15:09] #23253 closed

[2020-04-27 15:10] israel-hdez commented on #17527
Please, do not use `kubectl proxy` because it has a conflict with Kiali Authentication headers (see explanation here: https://github.com/kiali/kiali/issues/1059#issuecomment-509848506).

You must try another exposure method. See the FAQ for some suggestions: https://kiali.io/faq/general/#how-do-i-access-kiai

[2020-04-27 15:16] jdomag commented on #17527
@israel-hdez
Thx, i exposed it via "kubectl port-forward svc/kiali 20001:20001 -n istio-system"  and worked fine.

[2020-04-27 15:18] esnible commented on #23042
Last year I investigated regenerating these files.  I couldn't figure out how to get Pilot to cough up the files.

Here is what I propose.

1. Add a test for `istioctl x authz` to the integration tests.
2. Remove the unit tests for `x describe` and `x authz`.

Will this be sufficient?  We will no longer need static test data because we will have no unit tests that use it.  The commands will still

[2020-04-27 15:23] sdake commented on #23184
@linsun four versions is documented in the [RFC Istio + Kubernetes Support Matrix](https://docs.google.com/document/d/14Xfe9V0vv8d7W75c21d-cY2XyK6xvRH0_Kg8j_zfh4Y/). Moving to four supported versions is not without its challenges. I have added to the T&R agenda for Tuesday where we can further discuss.

Cheers
-steve

[2020-04-27 15:23] esnible commented on #22164
@howardjohn Do you think this a duplicate of https://github.com/istio/istio/issues/20714 ?

[2020-04-27 15:24] antimin13 opened #23305 "watchFileEvents disable"
Hello!
How can I hide these messages from the istio proxy log?

2018-08-27T12:57:56.018026Z     info    watchFileEvents: "/etc/certs/": MODIFY|ATTRIB
2018-08-27T12:57:56.018118Z     info    watchFileEvents: "/etc/certs//..2018_08_27_05_04_19.862743226": MODIFY|ATTRIB
2018-08-27T12:58:06.018249Z     info    watchFileEvents: notifying
2018-08-27T12:59:12.086320Z     info    watchFileEvents: "/etc/ce

[2020-04-27 15:25] howardjohn commented on #23042
That sounds good to me. Alternatively we could possibly to a lightweight in memory pilot, then call /debug/config_dump. And have all the services mocked. There are a few pilot tests that do the same thing. Either one works for me, I am not sure if the pilot approach would be easy in practice

[2020-04-27 15:26] howardjohn commented on #22164
Yes, we can consolidate

[2020-04-27 15:26] #22164 closed

[2020-04-27 15:27] esnible commented on #19080
I believe `manifest apply` AKA `upgrade` will work as expected if we get a fix for https://github.com/istio/istio/issues/23183 so that the default can be the current Istio settings for an  Istio installation instead of the default built-in IOP.

[2020-04-27 15:28] esnible commented on #19080
I will close this as a duplicate of https://github.com/istio/istio/issues/23183

[2020-04-27 15:28] #19080 closed

[2020-04-27 15:31] ThomasK33 commented on #22732
Turns out my kubelet provider id was set incorrectly.

[2020-04-27 15:40] antimin13 opened #23307 "istio-proxy timezone"
istio-proxy logs all accesses to the console using the UTC timezone e.g.

istio-proxy [2020-02-22T17:41:29.836Z] "GET ...
How can I change the timezone to my current timezone e.g. Europe/Berlin ?

[2020-04-27 16:02] davesargrad commented on #23249
Do I have to add 9999 to the istio-ingressgateway?

![image](https://user-images.githubusercontent.com/48793689/80393738-efe15400-887e-11ea-8798-60276f332851.png)

And then have my gateway select on "istio: ingressgateway"

[2020-04-27 16:05] parthshah86 commented on #23267
Thanks @howardjohn, I will try upgrading the version.

[2020-04-27 16:09] howardjohn commented on #23297
@stewartbutler @lambdai

[2020-04-27 16:20] howardjohn opened #23309 "perf: use dest rule h2 upgrade policy"
This can be set by destrule now, right https://github.com/istio/tools/blob/ecba922b240c40d0b8ac39be32ce2da39830ce30/perf/load/templates/h2upgrade.yaml#L3

[2020-04-27 16:32] #23261 closed

[2020-04-27 16:59] davesargrad commented on #23249
Perhaps I have to update both the default istio ingress controller, and the default istio ingress loadbalancer service (in the following you'll see that I updated the service to include 9999):

![image](https://user-images.githubusercontent.com/48793689/80399043-92510580-8886-11ea-83e4-27791bd72d3c.png)

and in the following you'll see that I've also updated the controller deployment (note specifi

[2020-04-27 17:36] davesargrad commented on #23249
This seems like a step in the right direction:
![image](https://user-images.githubusercontent.com/48793689/80402615-22de1480-888c-11ea-8a19-465840781268.png)

[2020-04-27 17:42] ostromart opened #23313 "operator remove not functional"
After refactoring, operator remove is not functional.

[2020-04-27 17:42] davesargrad commented on #23249
But still no luck.
![image](https://user-images.githubusercontent.com/48793689/80403076-f7a7f500-888c-11ea-8821-ce8f961a3bd3.png)

![image](https://user-images.githubusercontent.com/48793689/80403000-d2b38200-888c-11ea-9e4b-527349c5cd8d.png)

[2020-04-27 17:48] gnz00 commented on #23278
Seems to be a 1.5.x issue, as it works as expected on 1.4.5.

`docker-compose.yml`:
[code]
`kubeconfig`:
[code]

Start etcd, kube-api first. Then Pilot.

[2020-04-27 17:56] gnz00 commented on #23279
I did actually try `update-alternatives --set ...`, but I ran into some issues which I assume are due to the lack of kernel module loading on Docker for OSX. I assume it works on a VM, but I was just looking for a way to run a standalone Istio container for a proof-of-concept so I gave up.

[code]

[2020-04-27 18:42] #23164 closed

[2020-04-27 18:58] esnible commented on #22553
UX is unable to triage this or set a priority.  Can someone from @istio/wg-networking-maintainers or @istio/wg-docs-maintainers evaluate this?

[2020-04-27 18:58] rlenglet commented on #23279
I think so. You may need to run your container as privileged for this to work? There are definitely ways to make this work, since KIND works on Docker Desktop.

[2020-04-27 18:59] esnible commented on #22602
Is this still planned for 1.6?  Is this a P1, P2, or P>2?

[2020-04-27 19:08] esnible commented on #23203
The current version reports

[code]

Does that mean this work is complete?

[2020-04-27 19:15] #23205 closed

[2020-04-27 19:22] ericvn commented on #23199
Working in #kiali, the Kiali CM that istioctl creates does not have an auth.strategy. It looks like it should be set:
[code]
[code]

[2020-04-27 19:24] Stratouklos opened #23317 "Released Helm charts are not up to date"
**Bug description**

The correct Helm charts to install Istio 1.5.2 are located in [manifests/charts](https://github.com/istio/istio/tree/0aa22424c2f73f2187a8a279ef6744f725a45277/manifests/charts).

But the [1.5.2 release ](https://gcsweb.istio.io/gcs/istio-release/releases/1.5.2/charts/) is releasing old charts.

**Expected behaviour**

The officially released charts should be up to date.

**Step

[2020-04-27 19:24] jmazzitelli commented on #23199
release-1.6 branch has the kiali values.yaml correctly setting this (this code hasn't changed between 1.5 and 1.6, so not sure why it isn't taking effect):

https://github.com/istio/istio/blob/release-1.6/manifests/charts/istio-telemetry/kiali/values.yaml#L42

[2020-04-27 19:27] kauana opened #23318 "Unexpected behavior when using 2 Gateways in different namespaces with the same host specified"
**Bug description**
Given `gateway1`:
[code]

and `gateway2`:
[code]
and a virtual service for `app.example.com` in `namespace-2` that selects `gateway-2`. Then, when we send a request to `app.example.com`, we get a 404.

**Expected behavior**
When we send a request to `app.example.com` we expect that the correct gateway configuration takes affect (the cert from secret-2 is used in our example), a

[2020-04-27 19:36] howardjohn commented on #23199
https://github.com/istio/istio/blob/9550ee4a1084ded0df27e516930acf91a3bb8096/manifests/profiles/default.yaml#L599 is the breakage. Good thing we duplicate values.yaml in two places for extra confusion :slightly_smiling_face:

[2020-04-27 20:07] esnible opened #23319 "Analyzers should see but not validate namespace "istio.io/rev=default" injection label"
If I install Istio without `--set revision=` sometimes the revision is `default` and other times `""` and this is screwing up injection.

To reproduce

[code]

@ostromart I will fix the analyzer.  To do that I need to know what the intended value of the `istio.io/rev` label on Istiod.
I am hoping you can assign someone from environments to fix the injector to work using only the new label.
If the

[2020-04-27 20:32] frankbu commented on #22553
@phyllisstein I think the source of your confusion is thinking that the Gateway does some routing. A gateway simply accepts requests on the the defined port(s), that's all. The VirtualService that's bound to it will specify the routing for the requests. You can specify in the Gateway to redirect HTTP to HTTPS, a common security pattern, but that's sending a 301 back to the caller, not forwarding t

[2020-04-27 20:44] howardjohn commented on #22640
@wangfakang if the discovery address port is 15012, we will automatically set up TLS settings, because pilot listens on TLS for port 15012. I have verified with  `--set meshConfig.defaultConfig.controlPlaneAuthPolicy=NONE --set meshConfig.defaultConfig.discoveryAddress=istiod.istio-system.svc:15010` this works. Can you test that out? Did you have some other use case?

[2020-04-27 20:59] ronberna commented on #13009
Would the same ServiceEntry work for AWS?  Getting 403 errors as well connecting to 169.254.169.254.

[2020-04-27 21:00] frankbu commented on #11131
@tariq1890 Maybe this will help you: https://istio.io/docs/ops/best-practices/traffic-management/#cross-namespace-configuration

[2020-04-27 22:40] nmittler commented on #22624
Just getting back to this ... looks like my main issue was that I had `ISTIO_OUT` set, which was just generally causing some bad things to happen in the makefile. Looks like things are working now.  Thanks for the help!

[2020-04-27 23:45] howardjohn commented on #23319
@esnible istio.io/rev=default is currently a bit of an implementation detail. if you are not using a revision you would set the istio-injection=enabled label. We should probably change that though

[2020-04-27 23:49] howardjohn commented on #23317
In 1.5 there are two sets of helm charts - one under manifests/ and other under install/. The install/ ones are legacy and removed in 1.6; this is what is published. The manifests/ ones are meant to be installed via https://istio.io/docs/setup/install/istioctl/

[2020-04-27 23:54] howardjohn commented on #23305
You can set the log level with `--set global.proxy.logLevel=warn` to remove all info messages. filtering individual logs is not supported

[2020-04-27 23:59] #23034 closed

[2020-04-28 00:20] howardjohn commented on #23319
I think we should support this, for consistency. https://github.com/istio/istio/pull/23323 implements this

[2020-04-28 01:15] hobbytp commented on #17131
@kunalekawde you can use envoyfilter to configure it, but seems there is an issue [here](https://github.com/envoyproxy/envoy/issues/9300#event-2871548300), that would be why tls 1.3 is not used as default.

[2020-04-28 01:29] shinynz commented on #23288
@lambdai After deleting a pod, it will automatically regenerate into a new pod, but istio-init will still report an error

[2020-04-28 01:43] ostromart commented on #15217
Fixed in https://github.com/istio/istio/pull/23165.

[2020-04-28 01:43] #15217 closed

[2020-04-28 01:44] ostromart commented on #21892
Fixed in https://github.com/istio/istio/pull/23165.

[2020-04-28 01:44] #21892 closed

[2020-04-28 01:44] ostromart commented on #21898
Fixed in https://github.com/istio/istio/pull/23256.

[2020-04-28 01:44] #21898 closed

[2020-04-28 01:45] ostromart commented on #21901
Fixed in https://github.com/istio/istio/pull/23165.

[2020-04-28 01:45] #21901 closed

[2020-04-28 01:55] lambdai commented on #23288
Sorry to hear that.
I cannot explain why the istio-expected iptables looks legit before "iptables-restore".

You may need to figure out what happened before istio-init pre init container executes.

I would guess
1. there was a failure after istio-init, and all pre-init container are executed more than once. Istio-init reports error at the second execution
2. Or, there are somehow istio-init -ish p

[2020-04-28 02:22] wangfakang commented on #22640
@howardjohn It works in `istio-1.6.x`, But `Istio-1.5.x` still not works.
BTW, Why the discovery's port is not depend on the value of ` controlPlaneAuthPolicy`?

[2020-04-28 02:25] #23199 closed

[2020-04-28 02:39] shinynz commented on #23288
@lambdai

{
  "kind": "Pod",
  "apiVersion": "v1",
  "metadata": {
    "name": "reviews-v3-67b4988599-4sgql",
    "generateName": "reviews-v3-67b4988599-",
    "namespace": "default",
    "selfLink": "/api/v1/namespaces/default/pods/reviews-v3-67b4988599-4sgql",
    "uid": "4b56c5e4-5b86-442c-b247-f83f23d84dad",
    "resourceVersion": "214884492",
    "creationTimestamp": "2020-04-28T02:33:38Z",

[2020-04-28 03:01] yuenwah commented on #23145
Do I need to go to the istio-gateway for calling within the service mesh?

![image](https://user-images.githubusercontent.com/34834139/80442499-9c830a80-893f-11ea-97a3-ccb5d3ec04ed.png)

[2020-04-28 03:11] agrajm commented on #22463
For what its worth, Istio 1.5 installation is working fine on AKS 1.16.7 and 1.17.3 (preview)

[2020-04-28 03:42] lambdai commented on #23288
istio-init looks good.
Could you run a iptables-restore from in istio-init container to verify the privileges are good?

[2020-04-28 03:55] shinynz commented on #23288
@lambdai
[root@iz2zed870nkxaeivsmd6t8z mnt]# kubectl exec reviews-v3-67b4988599-4sgql -c  istio-init  iptables-restore -n default
error: unable to upgrade connection: container not found ("istio-init")

[2020-04-28 04:10] antimin13 commented on #23305
Yeah, I set the loglevel=error but it not help. Info messages keep going. Maybe can I fix  messages event “watchFileEvents: "/etc/certs/": MODIFY|ATTRIB”?
It spamming envoy log and not informative.

[2020-04-28 04:19] lambdai commented on #23288
The istio-init exited immediately. You don't have a large window to run kubectl exec.
I think you have to
1. disable auto injector in this namepace,
2.inject the deployment by yourself, substitute the entrypoint by bash
3. run kubectl exec. You may also want run iptables-save before istio-iptables command runs.

BTW: I believe you have other pod beside review pod. Are those istio-init working well

[2020-04-28 04:46] abhide commented on #23288
`istio-iptables` will print the contents of the rules file that is passed to `iptables-restore`. k
You will be able to get the contents on the rules file.

[2020-04-28 05:01] #17555 closed

[2020-04-28 05:01] #17557 closed

[2020-04-28 05:01] #17573 closed

[2020-04-28 05:04] #19545 closed

[2020-04-28 05:05] #20092 closed

[2020-04-28 05:05] #20119 closed

[2020-04-28 05:35] shinynz commented on #23288
All my services, istio-init, are started incorrectly
![image](https://user-images.githubusercontent.com/15795798/80450899-1e316300-8955-11ea-9c0e-59d0720725af.png)

[2020-04-28 05:58] widdix123 opened #23328 "Istiod - remote error: tls: expired certificate"
**Bug description**
Envoy proxy is Not Ready on istio-proxy logs for any application . It works only if i restart istiod pods on istio-system

The error i  get is "remote error: tls: expired certificate" on istiod logs. This gets resolved once i delete the istiod pods.

**Expected behavior**
Envoy Proxy Ready

**Steps to reproduce the bug**
Install istioctl with mtls enabled and deploy few applica

[2020-04-28 06:02] hzxuzhonghu commented on #23145
It is not a must. But we recommend that for general users

[2020-04-28 06:15] yuenwah commented on #23145
But the problem now is that the application calls in the grid do not follow the rules of virtual services. For example, application A calls application B. Application B is configured with virtual services, but the rules do not take effect

[2020-04-28 06:31] roywangtj commented on #22463
@howardjohn there is no istiod logs, Maybe the issue only happens at first istiod installation.  I try to reproduce it but failed.
 I will list my first play scenario at the following:
1. download: curl -L https://istio.io/downloadIstio | sh -
2.install: istioctl manifest apply --set profile=demo
3.create new ns: kubectl create ns sidecar
4.incorrectly label new ns(enabled miss d letter like that)

[2020-04-28 06:39] Flodu31 commented on #22463
Hello,

Same issue here, with istioctl 1.5.1, on AKS, version 1.15.7.

Florent

[2020-04-28 07:05] pandagodyyy opened #23329 "Select authentication more smartly when PEER and JWT auth enabled simultaneously"
**Describe the feature request**
In the Istio 1.4 version, we use Policy to enable mtls and origin auth for a service A, I expose service A to the Internet, and one non-istio service B will have a call to A with the JWT token, then request will accepted by A. However a service C in the same istio also have a call to A, A reject the request because of "origin authentication failed", Is it possible

[2020-04-28 07:26] VinothChinnadurai commented on #22068
@gargnupur @devstein  First of all, thanks a lot for your responses.

@gargnupur
`Your ratelimit service is hosted on vpce-xxx-xxx.vpce-svc-xxx.us-east-1.vpce.amazonaws.com?`
Yes it is our ratelimit service endpoint.
Config_dump
https://gist.github.com/VinothChinnadurai/66561838310c63b6a7657b0cde6fc194

@devstein
`What does your rate limit service config look like? Have you tried simplifying your

[2020-04-28 09:03] catper opened #23332 "Istio blocks connection to external service"
**Bug description**
I have two services that need to talk to each other, over https. When both services are outside the service mesh this works as expected but when pulling the services into the mesh communication no longer works, all requests time out.

`global.outboundTrafficPolicy.mode` is set to `ALLOW_ANY`

I cannot see any trace of the requests in question when running with an Istio sidecar

[2020-04-28 09:49] piyush0609 opened #23333 "Envoy Listeners wrong configuration intermittently"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Listeners in envoy proxy config is listening on some random port against the pod IP.

Some pods were failing health checks on port 8080. This is the

[2020-04-28 10:05] nak3 commented on #22095
On 1.5.2, istioctl still creates `Gateway` but in this time it has the same name with `ingressGateway`'s name. It is the final fix? Or can we completely remove the Gateway in the future?

[2020-04-28 10:26] kunalekawde commented on #17131
Thanks @hobbytp , so by default its not enabled but can be enabled on need basis.. shall explore that.

[2020-04-28 10:56] skolenkin commented on #8807
I have checked this issue on the  istio version (1.4.6, 1.4.7, 1.5.2) and it's still there. So if you are using a custom ports to connect to service - envoy will receive header as domain:port and  it will cause a problem that envoy can not match expected domain name and received domain:port. As a temporary workaround - you can create a nginx proxy with config like:

[code]
http://nginx.org/en/docs

[2020-04-28 11:04] sk-ss commented on #11828
I have checked this issue on the  istio version (1.4.6, 1.4.7, 1.5.2) and it's still there. So if you are using a custom ports to connect to service - envoy will receive header as domain:port and  it will cause a problem that envoy can not match expected domain name and received domain:port. As a temporary workaround - you can create a nginx proxy with config like:

[code]
http://nginx.org/en/docs

[2020-04-28 11:06] skolenkin commented on #11828
I have checked this issue on the  istio version (1.4.6, 1.4.7, 1.5.2) and it's still there. So if you are using a custom ports to connect to service - envoy will receive header as domain:port and  it will cause a problem that envoy can not match expected domain name and received domain:port. As a temporary workaround - you can create a nginx proxy with config like:

[code]
http://nginx.org/en/docs

[2020-04-28 11:07] davesargrad commented on #23249
I solved this.
![image](https://user-images.githubusercontent.com/48793689/80479859-b1e73d00-891d-11ea-997f-29fb6d7596ab.png)

[code]

[code]

[code]

In addition to this, I reinstalled the istio, with an updated profile, and integration controller

`istioctl manifest apply --set installPackagePath=`pwd`/operator/charts --set profile=`pwd`/operator/profiles/netshoot.yaml`

netshoot.yaml was seeded

[2020-04-28 12:41] dockercaptain commented on #14983
it's version 1.5.2 and this proxy doesn't even support rewriting :(

[2020-04-28 12:49] esnible commented on #23319
@howardjohn For 1.6.0 should I change the analyzer to recommend the label `istio-injection=enabled` and never say to use `istio.io/rev=default`?

[2020-04-28 12:52] haf commented on #22463
For docker-desktop, [trustworthy JWTs](https://istio.io/blog/2019/trustworthy-jwt-sds/) are [still not enabled](https://github.com/istio/istio/issues/18221). Editing the API server pod config with:

[code]
can't be done as it's overwritten by the Docker Desktop application continuously.

However, since SDS moved into `istiod` now, it can't be shut off; despite configuring the IstioOperator CRD lik

[2020-04-28 12:56] haf-afa commented on #18221
@howardjohn So we've moved onto the next release now, Istio 1.5.2 and now it would seem that it's even impossible to turn off SDS locally, thus stopping us from testing istio in docker-desktop.

[2020-04-28 12:58] widdix123 commented on #23328
Can someone please suggest ?

[2020-04-28 13:00] hzxuzhonghu commented on #23249
👍 The last one is what I am saying.

[2020-04-28 13:01] jshaughn commented on #11475
I'm not aware of anything that has resolved this issue.  The initial question is whether it's even feasible to provide this telemetry in V2.  If it's not feasible or not going to be done then this issue should be closed and the telemetry hole just made a known issue.  Otherwise, it would probably look like something where you have time-series with the same source and request_host, but with differe

[2020-04-28 13:05] esnible commented on #23187
On success the CR state is written.  It fails if some of the components don't come up.

I will clear the milestone because the important functionality, having the CR on success, is working.

[2020-04-28 13:10] esnible commented on #22274
Moving to 1.7.  1.6 has support for explicit `--revision <rev>`.  In some cases for 1.6.0 `--revision` will be optional because _istioctl_ will consult all control planes.  The work to test that `--revision` is entirely optional will wait for 1.7.

[2020-04-28 13:11] gustavovalverde commented on #7964
With this setup: `nginx --> ingress-gateway --> VirtualService --> Pod` now my actual problem is that nginx is getting an 15s timeout which I don't find a way to change.

[2020-04-28 13:12] esnible commented on #22740
@sdake Will this make it into 1.6.0?  1.6.x?

[2020-04-28 13:13] gustavovalverde commented on #14923
@Dev25 @jaygorrell did you guys finally managed to solve this?

With this setup: `nginx-ingress --> ingress-gateway --> VirtualService --> Pod` I'm always getting an 15s timeout which I don't find a way to change.

This didn't happened without the nginx-ingress. Seems like the additional hops cause this headers to be stripped out.

[2020-04-28 13:15] jotak commented on #11475
I thought it would be nice to have some kind of flagging for mirrored requests, similar to the DI / FI of fault injection. Except that here it would be a requests flag, not a response flag.

[2020-04-28 13:22] accountgit commented on #22697
Same it's happening to me, empty cluster with the demo profile with istio 1.5.1 and 1.5.2 with a bare metal cluster made with kubespray with calico cni.
    istioctl manifest apply -w --log_output_level all:debug --set values.global.logging.level="all:debug" --set values.global.proxy.logLevel="debug" --set values.global.k8sIngress.enableHttps=true --set values.gateways.istio-ingressgateway.sds.ena

[2020-04-28 13:23] howardjohn commented on #18221
please take a look at https://preliminary.istio.io/docs/ops/best-practices/security/#configure-third-party-service-account-tokens. depending on how you install it may require manually setting the flag

[2020-04-28 13:46] haf commented on #18221
I read the docs on `docker-desktop` for v1.5, are those not up to date?

[2020-04-28 13:53] haf commented on #21138
Opening port 15017 as well as 9443 on private GKE clusters worked for me for 1.5.2 (as per https://github.com/istio/istio/issues/19532#issuecomment-595769193 and (too long) https://github.com/istio/istio/issues/22944#issuecomment-614938014)

[2020-04-28 13:59] haf commented on #18221
Why can't istiod just check what environment it's running in and do the right thing??

[2020-04-28 14:12] rvennam commented on #22199
@ostromart , Thank you for the examples in the doc: https://istio.io/docs/setup/install/istioctl/#configure-gateways Very helpful!

If users want to deploy the custom gateways in the same istio-system namespace, they would need to have custom labels on the gateways so they can select the Gateway they want right? How do you provide the label for a gateway in IstioOperator ?

[2020-04-28 14:30] howardjohn commented on #22095
@nak3 1.6 will remove it completely. I am not sure it was the right move to not remove it in 1.5.2, but we are hesitant to make changes like that in patch releases - although apparently we renamed it, I was not aware of that. Sorry for any pain this is causing

[2020-04-28 14:32] ericvn commented on #23236
I tried again with `istio-1.6.0-beta.0`. Still fails to deploy.

Logs:
[code]

[2020-04-28 14:33] howardjohn commented on #23319
In my opinion, we should recommend istio-injection=enabled but support `istio.io/rev=default`, to keep changes minimal for 1.6. `istio-injection` has been around forever so I don't want to randomly change it and cause confusion. What do you think?

[2020-04-28 14:33] Stratouklos commented on #23317
Excellent! IMHO this should be noted in [the docs](https://istio.io/docs/setup/install/helm/) and if possible/easy can you please consider publishing the `manifests/` charts?

Is the idea that all installation methods will be deprecated soon in favour of `istioctl`, if so when? If helm is not to be supported anymore is there a link to the discussion where that decision was made?

I'm new to Istio

[2020-04-28 14:42] howardjohn commented on #17567
not stale

[2020-04-28 14:46] krancour commented on #8807
This is not stale. Can it please be re-opened.... _again_?

[2020-04-28 14:49] howardjohn commented on #8807
not stale, sorry

[2020-04-28 14:54] devstein commented on #22068
I was referring to the [envoy proxy ratelimit service](https://github.com/envoyproxy/ratelimit#configuration) but I see you are using a custom GRPC service.

I'm referring to simplifying the rate limit actions. See below
[code]

What version of Istio are you using?

@VinothChinnadurai  Your route definition looks correct. Unfortunately, I'm not sure as to what your issue is. As a next step, I sugg

[2020-04-28 14:57] howardjohn commented on #8807
I am pretty sure this is fixed in master.

VS:
[code]

GW:
[code]

requests:
* `curl 192.168.9.3:31682/productpage -H "Host: productpage.com:31682"` works,
* `curl 192.168.9.3:31682/productpage -H "Host: productpage.com:80"` works,
* `curl 192.168.9.3:31682/productpage -H "Host: productpage.com"` works,

Envoy config:
[code]

Please let me know if I am reproducing this wrong

[2020-04-28 15:04] Stratouklos commented on #23317
I found answers to my questions @howardjohn sorry for asking before googling :(

[Timeline for helm deprecation](https://discuss.istio.io/t/timelines-for-helm-installation-deprecation/4709/5)
[To istioctl or to helm](https://discuss.istio.io/t/to-istioctl-or-to-helm/4498)

[2020-04-28 15:04] #23317 closed

[2020-04-28 15:15] linsun opened #23339 "Unable to access bookinfo via gateway"
**Bug description**

With 1.6 beta.0 build, I'm not able to access bookinfo via gateway ip/productpage.  I used default profile with values-istio-multicluster-primary.yaml file and i disabled meshExpansion.enabled to simply config.

Debugged with @howardjohn and he found out that my listener is listening on port 80 while it should be 8080 as what has been configured in istio ingress gw service obj

[2020-04-28 15:16] linsun commented on #23339
@esnible @sdake @GregHanson @ericvn FYI, curious if you hit the same issue with IKS as well.

[2020-04-28 15:21] howardjohn commented on #23339
@dgn any ideas here? Looking at the code I don't see how we are sending the wrong listener config for this

[2020-04-28 15:26] esnible commented on #23319
@howardjohn Currently the analysis does this if both labels are present:

[code]

If the `default` revision has special semantics the message must not recommend `kubectl label namespace default istio-injection-`.  We would need a new message for this case.

If the injection label refers to an unknown revision analysis currently generates this message:

[code]

(I will fix the typo).  If the `defau

[2020-04-28 15:27] skolenkin commented on #8807
Hi @howardjohn

Could you please run the following command:
curl http://productpage.com:31682/productpage

curl -v -H "Host:helloworld.test.com" http://helloworld.test.com:32287/hello - works
curl -v http://helloworld.test.com:32287/hello - doesn't work

[2020-04-28 15:31] Stratouklos commented on #21572
See [this post](https://discuss.istio.io/t/istios-helm-support-in-2020/5535) for more information on what's happening with Helm and Istio

[2020-04-28 15:34] esnible commented on #22247
Already implemented with https://github.com/istio/istio/pull/22755

[2020-04-28 15:34] #22247 closed

[2020-04-28 15:36] esnible commented on #21517
@istio/wg-networking-maintainers-data-plane Would it be useful to provide a troubleshooting command to show the Envoy version running in a pod? Should it be implemented by getting a config_dump and looking at the bootstrap info, similar to my work-around above?

[2020-04-28 15:37] howardjohn commented on #8807
@skolenkin `curl 192.168.9.3:31682/productpage -H "Host: productpage.com:31682"` is the same as  `curl -v http://helloworld.test.com:32287/hello` right? I don't have a real domain to test it on. This is on 1.6 alpha builds, not older versions this was reported on

[2020-04-28 15:40] esnible commented on #20945
@sdake Can your "version pin" PR also address the wording of the error message?

[2020-04-28 15:41] douglas-reid commented on #11475
i'm in favor of leaving this open, as it should be possible to appropriately capture this somehow.

[2020-04-28 15:41] howardjohn commented on #23319
I have realized with https://github.com/istio/istio/pull/23323 if you have both injection labels it will actually cause it to *not* be injected. In order to fix that we would need to add a 3rd webhook which seems awfully heavy weight. let me see if there is a better way to support `istio-injection=enabled || istio.io/rev=default`, and if we cannot come up with one add special handling for `default

[2020-04-28 15:43] skolenkin commented on #8807
@howardjohn I tested on real DNS name and fake domain name (added in my /etc/hosts 35.242.141.132 helloworld.test.com).
I was deployed cluster on GKE.
curl -v http://35.242.141.132:32287/hello
*   Trying 35.242.141.132...
* TCP_NODELAY set
* Connected to 35.242.141.132 (35.242.141.132) port 32287 (#0)

< HTTP/1.1 200 OK
< content-type: text/html; charset=utf-8
< content-length: 60
< server: istio-

[2020-04-28 15:44] esnible commented on #20189
@howardjohn I am tempted to close this because your work adds much better support for `apply` output.

The remaining work are the bullet points on what a user should do post-install https://github.com/istio/istio/issues/20189#issuecomment-576833124 .  Shall I create a new issue that `apply`, `install`, and `upgrade` should also output a few lines of text making suggestions about what to do AFTER i

[2020-04-28 15:48] howardjohn commented on #20189
Yeah I would say the original issue presented here is done. The followups of the actual output and "next steps" type info is not, could be separate issue if you want or this one

[2020-04-28 15:49] esnible commented on #19394
@incfly I am considering giving this the `community/intern-help-wanted` tag.  Can you summarize what you now believe this subcommand's output should look like for 1.7?

[2020-04-28 15:50] infa-ddeore opened #23341 "labels to user g/w in IstioOperator object doesn't work in 1.5"
**Bug description**
labels to user g/w in IstioOperator object doesn't work

**Expected behavior**
g/w pod should get the provided labels in `IstioOperator` object (workaround is to use helm api overrides)

**Steps to reproduce the bug**

Generate manifest with below file:

[code]

labels dont appear in g/w deployment, it takes the default labels, as per [document](https://istio.io/docs/reference/

[2020-04-28 15:51] esnible commented on #19350
Fixed with https://github.com/istio/istio/pull/22846

[2020-04-28 15:51] #19350 closed

[2020-04-28 15:52] esnible commented on #19292
For new installs at least there is only one authorizationpolicies.

@rolandkool @yangminzhu Does it make sense to close this?

[2020-04-28 15:54] esnible commented on #19155
https://github.com/istio/istio/issues/23183 may be a duplicate of this.  Closing this in favor of the newer one.

[2020-04-28 15:54] #19155 closed

[2020-04-28 15:55] esnible commented on #19111
Removing `area/user experience` because this is about the developer, not end-user, experience.

[2020-04-28 15:58] esnible commented on #18855
@irisdingbj If you are no longer working on this please remove yourself.

[2020-04-28 16:01] #18378 closed

[2020-04-28 16:05] esnible commented on #18169
@sdake @nrjpoddar  No one has triaged this issue in six months.  I don't know how to triage it as UX.  Or who should work on it.  I propose we re-label this so only one working group owns it.  Should this be Networking?

[2020-04-28 16:14] skolenkin commented on #8807
@howardjohn
I deployed now a new GKE cluster with Istio 1.5.2
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]
cat  /etc/hosts |grep helloworld.test.com
104.199.76.75 helloworld.test.com

[code]

[code]

[code]

curl -k -v -H "Host:helloworld.test.com"  http://104.199.76.75:31831/hello - works
curl -k -v http://helloworld.test.com:31831/hello - doesn't work
cu

[2020-04-28 16:14] esnible commented on #12439
Removing `staleproof` because I don't understand this issue.  Please add context explaining what needs to be done.

[2020-04-28 16:16] esnible commented on #8841
I believe the plan is that `istioctl install` writes the IstioOperator to the cluster.  I am working on a PR for `istioctl upgrade` that causes that IstioOperator to be used as the basis for `istioctl upgrade` rather than the default Istio profile.  https://github.com/istio/istio/issues/23183 .

Will this behavior be sufficient for this Issue?

[2020-04-28 16:21] howardjohn commented on #8807
Yes this is changed in 1.6, you can see in my envoy config its `:*` now instead of `:80`

[2020-04-28 16:23] infa-rbliznet commented on #23178
Found an another duplicate: https://github.com/istio/istio/issues/18169

[2020-04-28 16:30] skolenkin commented on #8807
@howardjohn
Do you have any plans to make backports for 1.4 and 1.5 releases?
Thank you very much for the information

[2020-04-28 17:03] howardjohn commented on #23319
@esnible can you take a look at https://github.com/istio/istio/pull/23342? it basically implements matching `istio-injection=enabled || istio.io/rev=default`. Slightly roundabout, as k8s doesn't natively support this, but from the user perspective it should work fine

[2020-04-28 17:04] ostromart opened #23343 "tpath list item selection not working"
webhooks.0.clientConfig works, webhooks.0 does not - probably some selection problem with list being a terminator.

[2020-04-28 17:10] howardjohn commented on #19365
I think this may have been fixed

[2020-04-28 17:10] #19365 closed

[2020-04-28 17:11] howardjohn commented on #19702
this is one in 1.6

[2020-04-28 17:11] #19702 closed

[2020-04-28 17:11] #19746 closed

[2020-04-28 17:12] howardjohn commented on #22312
I think this was fixed in 1.5.2, we are now using istio-pilot-service-account again

[2020-04-28 17:12] #22312 closed

[2020-04-28 17:17] incfly commented on #22591
Thats a separate issue. Closing this one since you already filed #22590

[2020-04-28 17:17] #22591 closed

[2020-04-28 17:34] keatz55 commented on #6574
Did this issue ever get resolved? I'm using istio 1.5 with the following config and the `hosts` option is being completely ignored for me:
[code]

[2020-04-28 17:34] incfly commented on #10543
/cc @incfly

[2020-04-28 17:38] howardjohn commented on #22448
Plan of action:
* Create a new dockerfile, build-tools-centos, alongside the other build-tools
* Add new postsubmit job into istio/proxy that will build+push envoy-centos.tar.gz
* In istio/istio we already create a sidecar.deb. I believe using fpm we can utilize similar logic to bundle a similar sidecar.rpm

[2020-04-28 17:39] incfly commented on #18221
/cc @myidpt

[2020-04-28 17:39] incfly commented on #23001
/cc @JimmyCYJ @myidpt

[2020-04-28 17:43] incfly commented on #14555
Closing. Feel free to open new issue if new API does not handle your requirement.

[2020-04-28 17:43] #14555 closed

[2020-04-28 17:43] keatz55 commented on #22767
I'm experiencing the same issue with istio 1.5.1 via the following config:
[code]
Does anybody know of a workaround?

[2020-04-28 17:51] ostromart commented on #23241
Fixed in https://github.com/istio/istio/pull/23315.

[2020-04-28 17:51] #23241 closed

[2020-04-28 17:53] #23262 closed

[2020-04-28 17:53] ostromart commented on #23187
Perhaps the idea here would be to write status as well @esnible? Otherwise if Istio is not successfully installed I'm not sure that writing the CR would be the correct action.

[2020-04-28 17:54] howardjohn commented on #18221
This only applies when using `manifest apply`. It is not possible when doing `generate`, because that command does not connect to the kubernetes cluster and therefor cannot do automatic detection.

By "doesn't work" do you mean it returns nothing? That means it is working -- and indicates your cluster does not support the feature. The doc here could be a little more clear

[2020-04-28 18:01] rlenglet commented on #23279
BTW, another workaround is to enable Istio CNI. It still runs individual `iptables`/`ip6tables` commands instead of `iptables-restore`/`ip6tables-restore` which seems broken in Debian Buster's `iptables` package.

[2020-04-28 18:01] rlenglet commented on #23279
I will check whether upgrading to `iptables` ≥1.8.3 instead of Buster's 1.8.2 would fix this.

[2020-04-28 18:10] rlenglet commented on #23279
`iptables` 1.8.3-2~bpo10+1 can be installed from [buster-backports](https://packages.debian.org/buster-backports/iptables):
[code]

But that version too has a broken `iptables-restore` which doesn't enable extensions:
[code]

[2020-04-28 18:14] ericvn opened #23345 "istio/istio.api Fix Lightstep capitalization."
**Bug description**

There was a PR, https://github.com/istio/istio.io/pull/7123, merged into istio/istio.io which changes the capitalization of LightStep to Lightstep.

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

**How was Istio installed?**

**Environment where bu

[2020-04-28 18:15] howardjohn commented on #22443
I have run into the ROOTCA stuck warming error on master (gcr.io/istio-testing/proxyv2:1.6-alpha.b335aa12125dce539a60f1f52d59f3c896b9e9f1)

[2020-04-28 18:22] rlenglet commented on #23279
`iptables` 1.8.4-3 can be installed from testing/[bullseye](https://packages.debian.org/bullseye/iptables):
[code]

That version 1.8.4-3 has a working `iptables-restore` which _does_ enable extensions:
[code]

So this is not an Istio bug. It's a bug in `iptables` versions <1.8.4. It's been fixed upstream.

I will close this bug. Feel free to file a bug against Debian Buster to ask them to upgrade

[2020-04-28 18:22] #23279 closed

[2020-04-28 18:26] howardjohn commented on #23332
Might be https://github.com/istio/istio/issues/16458?

[2020-04-28 18:28] ltdeoliveira commented on #22278
Any updates on this?

[2020-04-28 18:33] tariq1890 opened #23347 "The Bookinfo example does not seem to work for Istio 1.5.x"
**Bug description**
I have tried this several times, and I just can't seem to get bookinfo to work despite following the instructions here: https://istio.io/docs/examples/bookinfo/

The only way I can get bookinfo to work if the bookinfo pods, gateways and virtualservices are in the same namespace as that of Istio.

**Expected behavior**

Bookinfo should work even if its pods, virtualservices and

[2020-04-28 18:54] #23345 closed

[2020-04-28 19:40] #22698 closed

[2020-04-28 19:41] tariq1890 commented on #11131
@frankbu Thanks for your response. That did not help unfortunately. I have raised the issue here. Requesting your inputs on that:
https://github.com/istio/istio/issues/23347

[2020-04-28 19:42] esnible commented on #23187
This was created in error ... I reported that the CR creation wasn't happening.  We can close it.

It would be desirable to write the status.  We have UX issues (e.g. https://github.com/istio/istio/issues/20377 ) about helping the user know when they may begin using Istio.

[2020-04-28 19:44] #20189 closed

[2020-04-28 20:10] GregHanson commented on #23347
Going to need more information here.  Please provide terminal outputs where possible.

1. How did you install istio? istioctl / helm / operator?
2. Which profile did you use to install istio, demo/default?
3. Where is istio installed, GKE / IKS / Minikube?
4. Bookinfo pods are all running and injected with sidecar?
5. What is the exact failure you are seeing?  Connection refused? 404's?

I just tr

[2020-04-28 20:27] tariq1890 commented on #23347
Thanks for your response @GregHanson

1. We are using a custom helm chart to deploy `istiod`. Please note that with this installation, I am able to get bookinfo to work if it is in the namespace as istio: `istio-system`
2. N/A. See the above point
3. What is IKS? This is Kubernetes on AWS
4. Yes, the Bookinfo pods are running fine. The Istio proxy sidecars are running too. I am using IstioCNI
5. W

[2020-04-28 20:30] myidpt commented on #23001
Lei, can you fix it:
https://github.com/istio/istio/blob/502423c80c0a14b65de3172c359246af7c45aee6/security/pkg/nodeagent/cache/secretcache.go#L259

[2020-04-28 20:41] keatz55 commented on #22767
I tried limiting traffic at the gateway, but unfortunately ALL tcp traffic is being forwarded to the service regardless of hosts:
[code]

[2020-04-28 20:46] howardjohn commented on #22767
@keatz55 tcp does not have a Host, as that is part of HTTP, so you cannot filter TCP traffic by host

[2020-04-28 20:50] tariq1890 commented on #23347
I just need to know how to debug I don't know what is not working here. When I compare the Istio Ingressgateway envoy config dump (with bookinfo in different and the same namespace), I don't see unexpected differences/discrepancies.

[2020-04-28 20:50] lambdai commented on #23288
@shinynz As @abhide described, below is what should want to save to file and run iptables-restore manually.
Since the failure is consistent on all pods, it's probably a platform compatibility issue.
@seflerZ Could you route to a person in alibaba cloud? The failure is that iptables-restore cannot set up the iptables correctly. My guess is the chain ISTIO_REDIRECT is already added to the iptables b

[2020-04-28 21:26] diemtvu commented on #22602
It's done.

[2020-04-28 21:26] #22602 closed

[2020-04-28 21:43] GregHanson commented on #23347
@tariq1890 Can you share your chart or install command?  Being able to replicate would help.

Also, can you clarify in which namespace things are created when they are not working for you?  Bookinfo pods are in default namespace and what about the Gateway and VirtualService? In your broken case, what does this output look like?
[code]

Define `empty response`, are you trying to access using curl o

[2020-04-28 21:47] howardjohn commented on #23333
could be https://github.com/istio/istio/issues/20676? Which is fixed in 1.4.5

[2020-04-28 23:07] tariq1890 commented on #23347
@GregHanson Thanks again. I have enabled access logs. I seem to be getting `400 Bad Requests` actually

[code]

[2020-04-28 23:07] myidpt commented on #23001
Are there customers using it? This requires medium amount of work, if not many customers are using it, we will keep this one as P2.

[2020-04-28 23:17] tariq1890 commented on #23347
This is my Gateway. I am not sure what could be misconfigured here

[code]

[2020-04-29 00:35] mandarjog opened #23358 "Istiod tests: input events record / playback"
Create a harness that records all Inputs to istiod so that they can be played back later.
This feature is similar to traffic mirroring. Record must contain all config and registry changes.

Options.
- Publish all incoming events to an event bus.
   - https://cloudevents.github.io/sdk-go supports kafka / NATS etc.
   - Write a cloud events subscriber to store events
   - write a cloud events consum

[2020-04-29 01:11] #22741 closed

[2020-04-29 01:23] howardjohn commented on #23358
Do we have a use case for "replaying" or do we just need to take point in time snapshot?

[2020-04-29 02:08] jacob-delgado commented on #13018
Verified

[2020-04-29 02:08] #13018 closed

[2020-04-29 02:10] jacob-delgado commented on #14563
Verified in 1.6.0-beta.0

[2020-04-29 02:11] jacob-delgado commented on #22457
Verified in 1.6.0-beta.0

[2020-04-29 02:15] linsun opened #23364 "citadel client having trouble to create certificate with remote istiod"
**Bug description**

Seeing this in the ingress gw pod in the remote cluster log when configured to use main cluster's istiod.  @irisdingbj @myidpt I should have the change from you https://github.com/istio/istio/pull/22989

[code]

**Expected behavior**
Able to get the certificate from remote istiod.

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and

[2020-04-29 02:24] linsun commented on #23364
@myidpt seems we are missing some code when citadel agent sends the create cert request to remote istiod to authenticate the create cert request... would appreciate your thoughts and expertise on this!

[2020-04-29 05:01] #17590 closed

[2020-04-29 05:01] #17595 closed

[2020-04-29 05:02] #17923 closed

[2020-04-29 05:05] #20059 closed

[2020-04-29 05:05] #20175 closed

[2020-04-29 05:11] ramaraochavali commented on #23001
We (Salesforce use it) and also once we merge https://github.com/istio/istio/pull/22019, we expect the certs specified in DR's are watched. We plan to implement this once https://github.com/istio/istio/pull/22019 is merged

[2020-04-29 05:21] lei-tang commented on #23001
@ramaraochavali Thanks! As you plan to implement this once #22019 is merged, I have changed the issue assignee to you.

[2020-04-29 05:59] ramaraochavali commented on #23001
Sure. Thanks. Will do

[2020-04-29 06:10] CodyKurtz opened #23368 "Istio Sidecar proxy won't start due Invalid path cert location. Auto mTLS"
**Bug description**

Auto inject is enabled. Verified Istio pilot and citadel are running correctional. Cert secret was properly created and mounted. Auto injection is configured at namespace level. I checked the root cert and it’s valid as well.  The istio proxy fails to start with the following logs:

[code]

Pod Volumes

[code]

Secret

[code]

When looking at the istio injector config map and

[2020-04-29 06:42] irisdingbj commented on #23364
@linsun can you share the steps to recreate the problem? also what is the log looks in the istiod in the main cluster?

[2020-04-29 06:59] sdake commented on #23339
@linsun I have not run into this issue. I use my own gear.

My tests were very basic:
[code]

Opening a web browser to https://192.168.7.150/productpage yields this:
<img width="1098" alt="Screen Shot 2020-04-28 at 11 55 31 PM" src="https://user-images.githubusercontent.com/755849/80568604-37b1c980-89ac-11ea-91e5-3a65e2a3f08c.png">

Cheers
-steve

[2020-04-29 07:15] sdake commented on #23339
Attempting the workflow you mentioned also works for me if I comment out `values.security`. It appears the `values.security` field is no longer valid.

My IOP is:

[code]

Workflow is:
[code]

Yields:

<img width="769" alt="Screen Shot 2020-04-29 at 12 13 10 AM" src="https://user-images.githubusercontent.com/755849/80569685-48633f00-89ae-11ea-9a9f-d6247a225788.png">

Cheers
-steve

[2020-04-29 07:29] #17604 closed

[2020-04-29 07:32] gmemcc opened #23369 "TProxy mode in 1.6 cause infinite loop"
**Bug description**

when running with interception mode TPROXY, requests initiated from outside the Pod will cause Envoy to request itself indefinitely.

workload been tested:
[code]

curl from another pod will be blocked, after ctrl + c envoy will keep dumping logs until all ports are used:
[code]

**Expected behavior**

TPROXY mode should work normally.

**Steps to reproduce the bug**

** Versi

[2020-04-29 08:32] gmemcc commented on #23369
I'm confused why we trpoxy inbound traffic to listener 15001,  from its name 'virtualOutbound' it should be used for outbound.

in istio 1.5 it worked fine but is broken now.

change port to 15006 (virtualInbound) working:
[code]

[2020-04-29 09:03] haf commented on #18221
I understand, but I'm using this thing; code as config, where we place all our config in our repositories, to make deployments repeatable. Having the **templates** be smart is not in our best interest, and we're not going to start versioning the `istioctl` in our git repo.

We want this to be smart:

- the software we run inside k8s, and if that's not possible
- the operator that runs the software

[2020-04-29 09:25] irisdingbj opened #23370 "no install/kubernetes any more in downloaded istio package"
https://preliminary.istio.io/docs/setup/getting-started/#download

The installation directory contains:

Installation YAML files for Kubernetes in install/kubernetes . --no such dir any more in 1.6, need update docs

[2020-04-29 09:38] ryan4yin opened #23371 "IngressGateway's stats api is intermittently abnormal: failed to get server info: Get http://127.0.0.1:15000/stats"
**Bug description**

IngressGateway's api `http://127.0.0.1:15000/stats` is intermittently abnormal, which caused the readiness probe to fail.

IngressGateway's logs:

[code]

**Expected behavior**

ingressgateway(envoy) are always healthy.

**Steps to reproduce the bug**

I don't know how to reproduce it on other k8s clusters， it has only appeared on our development cluster, and haven't sovled ye

[2020-04-29 10:20] irisdingbj opened #23373 "sample custom gateway yaml need be updated"
https://preliminary.istio.io/docs/setup/install/istioctl/
Note that Helm values (spec.values.gateways.istio-ingressgateway/egressgateway) are shared by all ingress/egress gateways. If these must be customized per gateway, it is recommended to use a separate IstioOperator CR to generate a manifest for the user gateways, separate from the main Istio installation:

need to add `namespace: user-ingres

[2020-04-29 11:13] dgn commented on #23339
I don't see any obvious connection. I'll reserve an hour this afternoon to take a closer look.

[2020-04-29 12:28] GregHanson commented on #23347
Are there any k8s network policies in effect which limit ingress/egress communication between namespaces?

Does `istioctl proxy-status` show anything as `NOT SENT`?

Do you have any DestinationRules, Policies, or PeerAuthentication rules in place?
[code]

[2020-04-29 12:50] ryandawsonuk opened #23375 "unable to run 1.5.2 on openshift 4.3.13"
In the 1.5.x docs there's a [section on installing to openshift with the cni plugin that says it only applies for 1.4.x](https://istio.io/docs/setup/additional-setup/cni/#instructions-for-istio-1-4-x-and-openshift). But I see the initContainers fail with connection refused when running [the bookinfo sample](https://istio.io/docs/examples/bookinfo/) with the [privileges set for the namespace](https

[2020-04-29 13:13] VinothChinnadurai commented on #22068
@devstein @gargnupur
Sorry We are also using envoyproxy ratelimit spec only. https://github.com/envoyproxy/envoy/blob/master/api/envoy/service/ratelimit/v2/rls.proto
we are using **istio 1.5.0**

[code]
The above one applied without any issue

We tried sanity using **remote_address:{}** only as you mentioned and call reaches to our ratelimit service :)
Please find debug log for this:
https://gist.

[2020-04-29 13:13] linsun commented on #23339
@sdake thanks for reporting back!  Yes, I fixed the security blob in the example in a PR (merged now) but unfortunately didn't make to beta.0.  Sorry I forgot that detail earlier.

[2020-04-29 13:28] esnible opened #23376 "Fields removed without deprecation (TracerLightStepConfig.cacertPath and secure)"
A PR yesterday, https://github.com/istio/istio/pull/23220 , removed `cacertPath` and `secure` from `v1alpha1.TracerLightStepConfig`.

I hadn't even looked at that pull... the name "Add TLS settings to tracer" did not make me think anything was going away.

This breaks our deprecation/upgrade policy.

I don't know how many users have a TracerLightStepConfig setting in their IOP file, so maybe 1.5.x

[2020-04-29 13:37] seflerZ commented on #23298
You need to have an ingress gateway and expose the internal service.

[2020-04-29 13:38] howardjohn commented on #18221
What you are asking for is not possible (or I couldn't figure it out anyways - suggestions welcome). We need to determine the jwt policy at install time, NOT at runtime, because it's part of the deployment spec. That is why we do it in istioctl, and not part of pilot for example. So in your case you will need to explicitly set the option as you mentioned

[2020-04-29 13:43] ramaraochavali commented on #22068
Does all the headers have values in the actual request? Please note if the request does not have value for any of those headers, Envoy skips calling the rate limit service. See this issue https://github.com/envoyproxy/envoy/issues/10124 in Envoy

[2020-04-29 13:50] VinothChinnadurai commented on #22068
Sure @ramaraochavali . Lets check with my ratelimit service team and try only with supported headers and come back.

[2020-04-29 13:52] catper commented on #19323
@esnible is there a way to apply different labels to the second gateway compared to the first one? i need to be able to apply an envoy filter to a specific gateway but it seems that the only thing the workloadSelector accepts is `app: istio-ingressgateway` or `istio: ingressgateway`?

[2020-04-29 14:32] nazarewk commented on #23169
Stats update: it is significantly harder to cause an issue when the service is running inside the same cluster as benchmarking client, 200 workers usually don't error out. Working on reproducing it in this setup, but looks like i'm hitting Python limitations.

I’m benchmarking for combinations of:
- benchmark (not) running istio
- service (not) running istio
- benchmark with(out) wildcard entries

[2020-04-29 14:35] brian-avery commented on #22078
Announcements posted and the beta is out :) Closing.

[2020-04-29 14:35] #22078 closed

[2020-04-29 15:45] adriangonz commented on #22246
Thanks for the quick fix @howardjohn! Are you planning to release this with Istio `1.5.3`?

I can see that the PR was flagged to get cherry-picked to the `release-1.5` branch, but it seems there were some conflicts there.

[2020-04-29 15:48] howardjohn commented on #23371
Does it actually cause the pod to be marked unready? It should only occur if this happens 30x in a row. Seems likely to be the same as https://github.com/istio/istio/issues/18046, there is some more info there if you want to take a look

[2020-04-29 15:53] howardjohn opened #23381 "New test flake: TestResourceFree"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/23378/unit-tests_istio/12655

[2020-04-29 15:54] howardjohn commented on #23381
broken by https://github.com/istio/istio/pull/23286 @champly

[2020-04-29 15:56] howardjohn commented on #23381
This is trivial to reproduce locally with golang.org/x/tools/cmd/stress. Please don't use `time.Sleep` in unit tests

[2020-04-29 15:57] #23370 closed

[2020-04-29 15:57] jwendell commented on #23375
You need to follow the steps described here: https://istio.io/docs/setup/platform-setup/openshift/#additional-requirements-for-the-application-namespace

[2020-04-29 16:11] tariq1890 commented on #23347
i) We don't use network policies in our Kubernetes clusters as yet.

ii) Everything shows up as `SYNCED`

ii) I do have `destinationrules`

[code]

[2020-04-29 16:26] Morriz opened #23383 "contextPath not honored in client"
The concept of `contextPath` is consistently used throughout the configuration for at least the following services:
- grafana
- prometheus
- tracing
- kiali

If we, as users wish to expose them behind one telemetry domain without separate ports,  the results are not as expected.

I would expect `https://$TELEMETRY_HOST/$SERVICE` to show a working service, but this does not work as the client chart

[2020-04-29 16:33] ryandawsonuk commented on #23375
Have just tried putting the `networkattachmentdefinition.k8s.cni.cncf.io/istio-cni` in the bookinfo namespace (which has sidecar injection on) with the first configuration above and in the bookinfo pods I still get:
[code]
Will try the second configuration.

[2020-04-29 16:37] Morriz commented on #23383
I managed to quick fix grafana in my `Kind: IstioOperator`:
[code]
And would love to see this possible for the other apps. Let's see...

[2020-04-29 16:55] ryandawsonuk commented on #23375
With the second configuration it works. Thanks!

[2020-04-29 16:55] #23375 closed

[2020-04-29 17:33] yann-soubeyrand opened #23387 "Allow providing a Service endpoints from a ServiceEntry"
**Describe the feature request**

When adding a TCP ServiceEntry with DNS resolution, you need to provide a virtual IP on which Istio will create a listener, otherwise the listener will use 0.0.0.0 and will conflict with other ServiceEntry using the same port.

Service of type ClusterIP can already provide such virtual IP with the guarantee that it's unique cluster wide. The idea is to create a Cl

[2020-04-29 17:49] esnible commented on #23376
More data.  In this example, _istioctl-1.6.0-alpha.1_ is just the _istioctl_ binary from 1.6.0-alpha.1.

`istioctl manifest apply --force -f <(istioctl-1.6.0-alpha.1 profile dump)` fails with
[code]

`./bin/istioctl manifest generate --force -f <(istioctl-1.6.0-alpha.1 profile dump)` succeeds.

Without `--force`, generate fails with
[code]

[2020-04-29 18:01] therealmitchconnors commented on #23373
Note that this issue refers to this section: https://preliminary.istio.io/docs/setup/install/istioctl/#configure-gateways

[2020-04-29 18:17] rvennam opened #23388 "Improve output for istioctl x describe"
**Bug description**
[code]

1. `9080 Pod is DISABLE, clients configured automatically` - what is disabled?
2. This section needs a title so users know it's describing mTLS setting
3. `/trader* when headers are user-agent=regex:".*Firefox.*"` - Is it possible to show subset here? It should be v2 in this example

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infras

[2020-04-29 18:32] ostromart commented on #21905
Fixed in https://github.com/istio/istio/pull/23362.

[2020-04-29 18:32] #21905 closed

[2020-04-29 18:33] ostromart commented on #21906
Fixed in https://github.com/istio/istio/pull/23362.

[2020-04-29 18:33] #21906 closed

[2020-04-29 18:43] esnible opened #23389 "'istioctl manifest generate' producing incorrect yaml (master, not -beta.0)"
Using Master, `istioctl manifest apply --charts manifests --set hub=gcr.io/istio-testing --set tag=latest` works.  This doesn't:

[code]

`kubectl version` says I am running kubectl client 1.18.2, Kubernetes server 1.16.8

[2020-04-29 18:45] ashishksingh commented on #22162
I was finally able to test this .

If I remove mixer filter by setting both mixerCheckServer and mixerReportServer meshconfig to empty string, then the istio-authn filter itself works as expected. It gives 401 if the JWT token is not there or invalid, and 200 if the token is valid.

[2020-04-29 19:15] rvennam commented on #19323
related:

https://github.com/istio/istio/issues/22199#issuecomment-620633034

[2020-04-29 19:30] linsun commented on #23364
@irisdingbj I'm having the following in istiod log

[code]

I do have the secrets in the main cluster by create secret cmd:

[code]

[2020-04-29 19:45] esnible opened #23392 "Cannot set custom ingress labels"
Testing with 1.6.0-beta.0

[code]

The output is
[code]

[2020-04-29 19:45] esnible commented on #19323
@catper I tried, couldn't get it to work like I expected, and filed https://github.com/istio/istio/issues/23392 .  Check back for answers there?

[2020-04-29 20:34] linsun commented on #23364
steps:

main cluster, deploy with instruction: https://istio.io/docs/setup/install/multicluster/shared/#main-cluster

remote cluster, deploy with pilot.enabled=false

Need to manual create cm istio-ca-root-cert (unless has Iris's change)

run create secret cmd on main cluster to create token for accessing remote cluster

Check logs for istio ingress gw.

[2020-04-29 20:52] incfly commented on #4693
What's the scope of this bug? https://istio.io/docs/tasks/security/authorization/authz-ingress/ this is now well supported. We do we need beyond standard istio authn and authz support on gateway?

@yangminzhu @mandarjog

[2020-04-29 21:03] ostromart commented on #21212
I think this is complete for 1.6. We've made some really important cleanups and I'm pretty happy with the state of the code to start the next release.

[2020-04-29 21:05] ostromart commented on #23124
https://github.com/istio/istio/pull/23252
https://github.com/istio/istio/pull/23312
https://github.com/istio/istio/pull/23213

[2020-04-29 21:05] #23124 closed

[2020-04-29 21:06] ostromart commented on #23313
Fixed in https://github.com/istio/istio/pull/23321.

[2020-04-29 21:06] #23313 closed

[2020-04-29 21:17] ostromart opened #23396 "Restore TestValidateValuesFromProfile"
This is an important gate for schema and profile changes.

[2020-04-29 21:19] #23373 closed

[2020-04-29 21:22] ostromart opened #23397 "manifest apply failing validation with --force"
From https://github.com/istio/istio/issues/23376#issuecomment-621364595:
[code]
It should not fail since the force flag is used. There's a test for this with generate but not apply, so one should be added there as well.

[2020-04-29 21:25] ostromart commented on #23376
A number of things here:
1. The profiles should be compatible with validation and TestValidateValuesFromProfile used to test that. It's being skipped and should be restored. That would take care of the output from profile dump being incompatible. (https://github.com/istio/istio/issues/23396)
2. --force appears to be not working as advertised in manifest apply (https://github.com/istio/istio/issues

[2020-04-29 22:19] aaronmell opened #23399 "Accessing External URL with no serviceEntry causes Forbidden error from kube-apiserver"
**Bug description**
Hitting any external https url from a pod with an istio sidecar that does not have a serviceEntry returns an error from the api service

`curl -vvvv -k https://www.google.com
*   Trying 172.217.14.228:443...
* TCP_NODELAY set
* Connected to www.google.com (172.217.14.228) port 443 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* successfully set certificate verify locations

[2020-04-29 22:22] aaronmell opened #23400 "Accessing External URL with serviceEntry randomly fails with Forbidden error"
**Bug description**
This is related to https://github.com/istio/istio/issues/23399. Same error. However, its intermittent when I have a serviceEntry setup to allow access to the external resource.

`curl -vvvv -k https://www.google.com
*   Trying 172.217.14.228:443...
* TCP_NODELAY set
* Connected to www.google.com (172.217.14.228) port 443 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* succ

[2020-04-29 22:36] jwendell commented on #9117
@howardjohn is this essentially what you're doing on #22448? We should close this one then if it's the case...

[2020-04-29 22:44] tariq1890 opened #23401 "Istio does not route traffic correctly if it's deployed in a namespace other than istio-system"
**Bug description**

When I deploy Istio to a namespace which is not `istio-system`, It is unable to route traffic from the ingress-gateway to the application pods situated in another namespace. It's only able to route traffic when the application pods are in the same namespace as that of the istio control plane

cc @GregHanson who has confirmed that it is reproducible

**Expected behaviour**
It s

[2020-04-29 22:45] howardjohn commented on #9117
Yes its the same. We can probably close that one instead as this one has much more history

[2020-04-29 22:48] howardjohn commented on #22448
closing in favor of https://github.com/istio/istio/issues/9117

[2020-04-29 22:48] #22448 closed

[2020-04-29 22:55] tariq1890 commented on #23347
Raised a new GitHub issue with more details and clarity around this: https://github.com/istio/istio/issues/23401

[2020-04-29 22:55] rvennam commented on #23392
+1 If there are public and private gateways, they need different labels for selection

[2020-04-29 23:17] GregHanson commented on #23401
verified the problem exists in 1.6.0-beta branch as well

[2020-04-29 23:42] howardjohn opened #23404 "ledger.Update race condition"
https://prow.istio.io/view/gcs/istio-prow/logs/integ-local-tests_istio_postsubmit/782

[code]

[2020-04-29 23:42] GregHanson commented on #23401
ingress gateway access log:
[code]

trace level logs of ingress gateway on 400
https://gist.github.com/GregHanson/2427b6c49a513bfe3b2c8727c492e262

listeners:
[code]
https://gist.github.com/GregHanson/2a4a86cd619b321e58dcafb8c1d76a08

routes:
https://gist.github.com/GregHanson/c1ebf34801af9ae033a6fe8d2dc2d14a

clusters:
https://gist.github.com/GregHanson/92acfbb87a3a492422bd1f3d0228faa9

[2020-04-29 23:49] GregHanson commented on #23401
ingressgateway can reach productpage directly via curl:
[code]

and service to service communication works for booking services:
[code]

bookinfo Gateway and VirtualService are the only istio resources in effect:
[code]

Seems like a port configuration issue on the ingress gateway but I can't see the problem in the config dumps

[2020-04-29 23:59] howardjohn commented on #23401
envoy logs:
[code]

btw to reproduce this I had to fix the webhook config - did you guys both do something?

[2020-04-30 00:03] tariq1890 commented on #23401
Oh yes, I did do that. A Kubectl deploy edit to point to the right MWC.

Looks like this fix isn't included yet: https://github.com/istio/istio/pull/22828

[2020-04-30 00:17] howardjohn commented on #23401
I think this is due to telemetry v2, going to eat dinner but will update soon more info. tl;dr `kubectl delete envoyfilter --all` will fix it (not the proper fix though)

[2020-04-30 00:19] GregHanson commented on #23401
@howardjohn I am using the 1.6.0-beta.0 release.  Yes, `kubectl delete EnvoyFilter --all -n <control_plan_ns>` does resolve the issue

[2020-04-30 00:21] irisdingbj commented on #23364
@linsun we guard our cluster roles with flag now. you need to add `-set values.global.centralIstiod=true`  besides the instructions in  https://istio.io/docs/setup/install/multicluster/shared/#main-cluster in both main and remote cluster. Let me know if you still have issues after this change.

[2020-04-30 00:26] tariq1890 commented on #23401
+1 I can confirm that deleting the envoy filters solves the issue

[2020-04-30 00:37] howardjohn commented on #23401
The problem is that the envoyfilters only apply to the gateway, not the `default` ns. Thats why it works when they are in the same namespace as well, since its scoped to that namespace. The reasoning is that Istio has a concept of "root" namespace where (some) configs there are treated as global objects. Its not the best documented feature there is... Basically its istio-system by default, so they

[2020-04-30 00:41] tariq1890 commented on #23401
https://github.com/istio/istio/pull/23407

[2020-04-30 00:52] mandarjog commented on #23401
@GregHanson were you able to reproduce it with 1.6 telemetry v2?

[2020-04-30 00:54] howardjohn commented on #23401
I can try on master

[2020-04-30 00:57] howardjohn commented on #23401
On master I see the same

[2020-04-30 01:05] ryan4yin commented on #23371
@howardjohn yes, pod did actually tirgger Unhealthy warning:

[code]

another point: when envory started, it took about 2 minutes from `Not Ready` to `Ready`.

as mentioned at https://github.com/istio/istio/issues/18046,
is this because we have too many pod/virtualservices/destinationrules configurations?

**Kubernetes Cluster Environment**:

All virtual machines are configured with 8c/16g

master

[2020-04-30 01:08] esnible commented on #23376
https://github.com/istio/istio/pull/23377 should take care of the problem with `--force`.

[2020-04-30 01:10] howardjohn commented on #23371
its possible, if there are lots of large config changes coming in it may make the main thread busy. Do you have 2000+ virtual services then? Why do you have one virtual service per pod, I would expect one per Service?

[2020-04-30 01:16] ryan4yin commented on #23371
@howardjohn yes, we did have 2000+ virtualservices, cause we treat each business worker as a
independent testing machine.

each business worker belongs to a certain developer, has its unique namespace, developer can deploy a completely independent micro-service system into this namespace/business worker.

[2020-04-30 01:32] #23300 closed

[2020-04-30 01:41] mandarjog commented on #23401
@gargnupur  The client `advertised that it supports alpn, but did not actually support MX.`
Why is it inserted in a http filterchain?

[code]

[2020-04-30 02:05] Trojaner commented on #15277
I have the same issue

[2020-04-30 02:42] linsun commented on #23364
After setting values.global.centralIstiod=true on both main cluster and remote cluster, this issue is gone, at least not in logs.  Thank you @irisdingbj !!

[2020-04-30 02:42] #23364 closed

[2020-04-30 02:49] mattwongsd opened #23409 "Option to configure JWKs public key refresh interval"
Hi, I apologise in advance if this request is bad. I've tried to search for an alternative to this for a day now. Thank you for your patience.

I understand the default JWKs public key refresh interval in Istio is 20 minutes. I was wondering if there was an option to modify this without modifying the source code of Istio. Could we possibly provide this option via the Global Mesh options when deplo

[2020-04-30 03:25] lizongshen commented on #23303
Any progress? I have the same problem

[2020-04-30 04:37] mandarjog commented on #22561
Fixed by tools #846

[2020-04-30 04:37] #22561 closed

[2020-04-30 04:37] mandarjog commented on #20369
Still work in progress.

[2020-04-30 04:38] mandarjog commented on #22661
@ostromart ping! Is this done now?

[2020-04-30 05:05] #20216 closed

[2020-04-30 05:21] catper commented on #23392
[there is a way around this](https://github.com/istio/istio/issues/19263#issuecomment-609094185) but it would be nice with something that wasn't so verbose

[2020-04-30 05:50] jetndra opened #23410 "after enabling istio In a namespace evoy is not running with Readiness probe failed: HTTP probe failed with statuscode: 503"
**In the event of pod**

 Normal   Created    11m                   kubelet, k8s-worker-0  Created container istio-proxy
  Normal   Started    11m                   kubelet, k8s-worker-0  Started container istio-proxy
  Warning  Unhealthy  106s (x298 over 11m)  kubelet, k8s-worker-0  Readiness probe failed: HTTP probe failed with statuscode: 503
[root@k8s-master-0 ~]#

**Proxy logs say**

ful, 0 r

[2020-04-30 05:55] gargnupur commented on #23401
For Http Filterchain, "istio-peer-exchange" protocol should not be added in alpn protocols.

@yxue : https://sourcegraph.com/github.com/istio/istio@master/-/blob/pilot/pkg/networking/core/v1alpha3/cluster.go#L1071:12, could this be adding "istio-peer-exchange" alpn for Http filterchains too?

[2020-04-30 06:22] chris922 commented on #4341
I am using Istio v1.5.2 and still have this issue. Unfortunately the app container doesn't fail so that the workaround with the restart policy doesn't work for me.

Any other ideas for a workaround or plans to solve this? We are evaluating Istio right now for our project and this seems to be a blocking issue.

Only solution I see is to add something like a sleep in the app container before the rea

[2020-04-30 06:39] hillbun opened #23411 "healthcheck return 426 http code"
**Describe the feature request**

I have installed istio-1.4.7

I test a health check from one node:

curl -v -0 -I -H 'Host:www.xxxx.com' -X HEAD http://192.168.100.216:80

it return 426 HTTP code, not but 200 code:

* About to connect() to 192.168.100.216 port 80 (#0)
*   Trying 192.168.100.216...
* Connected to 192.168.100.216 (192.168.100.216) port 80 (#0)

< HTTP/1.1 426 Upgrade Required
HTTP

[2020-04-30 07:08] yuenwah opened #23412 "Regarding the sidecar automatic injection of job types, after the execution of the job is not exited"
**Bug description**
Regarding the sidecar automatic injection of job types, after the execution of the job is not exited

**Expected behavior**
![image](https://user-images.githubusercontent.com/34834139/80682083-6fc42400-8af4-11ea-87a4-08525b746e54.png)

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you use

[2020-04-30 07:21] haf commented on #18221
@howardjohn What I'm saying is that perhaps it should be part of the runtime? I'm not familiar with the Istio code-base, but is there something architecturally that prohibits doing it at runtime?

We've run into another problem with first-party-jwts with Elastic ECK: `{"level":"info","time":"2020-04-29T02:31:08.581859Z","msg":"JWT policy is first-party-jwt"}`; but my colleagues will be joining in

[2020-04-30 07:38] VinothChinnadurai commented on #22068
@ramaraochavali @devstein @gargnupur Thanks a lot guys for all your responses. It is working now as if we pass all headers in the request matched with **request_headers(Under rate_limits.actions)**

I have two questions here.
[code]

One this header_name should match with what we sending in the request to this IG envoy and descriptor_key is something we will make it as ** header ** for all outboun

[2020-04-30 08:27] wapdat commented on #11659
Hi @mbrowne - FWIW it works for me - the job calling 127.0.0.1:15020 to quitquitquit the sidecar.

[2020-04-30 08:38] shakti-das opened #23414 "Policy and MeshPolicy CRDs are missing from base in latest master"
**Bug description**
Policy and MeshPolicy CRDs are missing from base in latest master.

https://github.com/istio/istio/blob/c09eb030dec8c90c6c10131b264adad242a73ae7/manifests/charts/base/files/gen-istio-cluster.yaml

**Expected behavior**
Expected to see the v1beta1 CRDs for Policy and MeshPolicy

**Steps to reproduce the bug**
- https://github.com/istio/istio/blob/c09eb030dec8c90c6c10131b264adad2

[2020-04-30 09:30] foxracle commented on #22463
Same issue with istioctl 1.5.2, on Docker for mac(edge 2.3.0.0), k8s version 1.16.5.

it work fine after restart k8s

[2020-04-30 09:32] gitdotvaibhav opened #23415 "kind --help command wont show --config option"
**Bug description**

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

**How was Istio installed?**

**Environment where bug was observed (cloud vendor, OS, etc)**

[2020-04-30 09:32] #23415 closed

[2020-04-30 09:33] dgn commented on #20853
Closing this as it has been merged to both `master` and `release-1.6`

[2020-04-30 09:33] #20853 closed

[2020-04-30 09:33] gitdotvaibhav commented on #23415
raised issue in this repo by mistake

[2020-04-30 10:09] shakti-das commented on #23414
This was removed in https://github.com/istio/istio/pull/22972/files#diff-1146d828e0e5506de02a98f87a00ca7f. I expected `apiVersion: apiextensions.k8s.io/v1beta1` Policy and MeshPolicy to remain after the PR.

[2020-04-30 10:56] emrahcetiner opened #23416 "Regex negative lookahead not working in VirtualService HTTPMatchRequest"
when I use `^\/(api)\/.*$` it works as expected. allows only path starts with `/api/`

if i add negative lookahead in regex, it doesn't work. `^(?!\/(internal)\/?)(.*)$`

I check proxy-config with this command and I see that proxy-config is not updated.
`istioctl proxy-config -n istio-system route istio-ingressgateway-... -ojson`

I think if i use `?!` in regex something is working wrong.

how can

[2020-04-30 11:16] sdake commented on #23401
Appears to be a legitimate bug requiring some resolution. I marked as a P0, although this feels like a blocker.

Cheers
-steve

[2020-04-30 11:33] sdake commented on #23414
@shakti-das we should have two files. one are CRDs, one are the rest of the base manifest. The CRDs can be generated from the CRDs directly - but not using helm - instead using concatenation.

[2020-04-30 11:44] sdake commented on #20563
On IKS, to reference the pem file correctly according to @kramvan1 - the solution (to be documented upstream in IKS documentation) is:
[code]
This should work with the conditional mounts already in the system as the above command consolidates all credentials into one yaml file instead of spreading them around on the filesystem.

[2020-04-30 11:47] sdake commented on #20563
@eric4545 do your original question, I don't think it is wise to remove `KUBECONFIG` from `Makefile.core.mk`. The ability to support a custom `KUBECONFIG` is valuable. We may be able to execute a shared bind mount for all entries in KUBECONFIG as part of `setup_env.sh`. I will investigate this approach further for viability.

Cheers
-steve

[2020-04-30 12:51] shakti-das commented on #23414
This bug isn't related to the #23413, both are independent issues.

[2020-04-30 13:18] rytswd commented on #23303
I can see a few other issues such as #23341 and #23392 have been newly filed since this issue was raised. Also, [some workaround](https://github.com/istio/istio/issues/19263#issuecomment-609094185) is mentioned - it is certainly difficult to manage, and probably won't solve the issue of having duplicated resource definitions.

I am not familiarized enough with IstioOperator resource handling, but

[2020-04-30 13:30] angelovopsan commented on #13861
@softcane, how can I adapt this for 1.2.10, I get:
Error from server: error when creating "envoyfilter.yaml": admission webhook "pilot.validation.istio.io" denied the request: configuration is invalid: envoy filter: missing filters when I apply in istio-namespace.

[2020-04-30 14:00] shakti-das commented on #23414
What's the replacement of `Policy` and `MeshPolicy`? We didn't use `Policy` but we did use `MeshPolicy` to mandate mesh wide TLS.

[2020-04-30 14:09] howardjohn commented on #23414
https://istio.io/blog/2019/v1beta1-authorization-policy/ and https://istio.io/news/releases/1.5.x/announcing-1.5/upgrade-notes/#authentication-policy

[2020-04-30 14:13] howardjohn commented on #18221
@haf its part of the pod spec. If we try to use 3p jwt then the pod won't even start so we cannot determine at runtime. See https://github.com/kubernetes/kubernetes/issues/86827

For the other issue, maybe you are setting automountServiceAccountToken to false?

[2020-04-30 14:21] bitgandtter commented on #22210
sadly not @gustavovalverde and also sadly this its been ignored

[2020-04-30 14:46] munnerz commented on #22161
From the cert-manager side, one major motivation for Istio adopting the in-built CSR API is to allow users to switch out Istio's in-built signing capability with one backed by some kind of enterprise CA/external signing capability.

We are intending to port across our Venafi, Vault, 'CA', SelfSigned and ACME implementations to support the in-built CSR API, and this (combined with some kind of solu

[2020-04-30 15:01] shakti-das commented on #23414
Ah! Thank you @howardjohn. This section probably needs to be updated too if not done already: https://istio.io/docs/reference/config/security/istio.authentication.v1alpha1/#Policy

[2020-04-30 15:11] GregHanson commented on #23401
What are the expected istioctl flags/settings for installing istio in a different namespace with demo or default profile?
[code]

[2020-04-30 15:12] bcochofel opened #23419 "Add prometheus rules"
Hi, how can I add the rules described [here](https://istio.io/docs/ops/best-practices/observability/) to the prometheus instance?

Thanks,
Bruno

[2020-04-30 15:26] mandarjog commented on #23401
@gargnupur are you able to reproduce the issue? You can get config dump and verify if it is being added.

[2020-04-30 15:29] howardjohn commented on #22161
Yeah I think "isn't much value" was not right here. There is a lot of value in it being an integration point with external CAs which is great. For the time being, I don't think we would introduce a hard dependency on any other systems though, so we would still need to maintain our implementation as well most likely. It seems feasible that if k8s provided the CA we could expect that to be there and

[2020-04-30 15:50] pantelis-karamolegkos opened #23422 "TLS communication breaks when deployed an nginx-based application behind istio"
**Bug description**

Exposing a service (whose container uses `nginx`) behind envoy, causes cryptic TLS error and connection is terminated.

**Expected behavior**

I have an application that uses `istio`.

Its virtual service is configured to listen to `myservice.myurl.com`.

[code]

Pod and its sidecar are healthy

[code]

The app is exposed on port `8080` on the container, using `nginx` with the

[2020-04-30 15:52] gustavovalverde commented on #22210
It works for me now, in my case it was an indentation problem with the `tls `parameter.

[code]

[2020-04-30 16:01] howardjohn opened #23423 "Add Kubernetes 1.19 to our postsubmit"
Currently we run some super early alpha builds. A change since then has blocked us from upgrading; we will need the next version of kind. This tracks adopting this

[2020-04-30 16:17] mandarjog commented on #4693
https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-http-basic-authentication/

[2020-04-30 16:33] #23414 closed

[2020-04-30 17:15] jacob-delgado opened #23426 "Ability to configure RSA keysize used to generated certificates"
**Describe the feature request**

Certificates are generated using RSA are done with 2048 bits. While this is secure (and probably the minimum that should be allowed) the user may wish to configure a different key size.

**Describe alternatives you've considered**

**Additional context**

See discussion at https://github.com/istio/istio/pull/23226#discussion_r417431096 for a possible implementatio

[2020-04-30 18:13] sb1975 opened #23428 "Ability to remove the sidecar injected in a pod or a namespace"
**Describe the feature request**
Today we have the ability to inject sidecar containers into a pod or namespace using manual mechanism or automatic.
Ref: https://istio.io/docs/setup/additional-setup/sidecar-injection/
So the request is to build mechanism to remove the sidecar injected in a pod or a namespace (using either manual or automatic mechanism) without impacting the running pod or applicat

[2020-04-30 18:23] #23347 closed

[2020-04-30 18:43] ostromart opened #23429 "Cannot delete paths with overlays"
It's currently not possible to unset values that are already set in default.yaml. It should be possible to do so both with tpath k8s.overlays and by unsetting values in overlay files (perhaps using nil as a special value to that yaml parsing passes).

[2020-04-30 18:43] #22716 closed

[2020-04-30 18:59] Stono commented on #22968
Bad news, looks like this is still broken.
Please can we reopen it @bianpengyuan @douglas-reid @fpesce and i'll try and debug more tomorrow

[2020-04-30 19:02] bianpengyuan commented on #22968
Is it still broken with 1.5.2?

[2020-04-30 19:04] Stono commented on #22968
Seems so yes :-(
<img width="1680" alt="Screenshot 2020-04-30 at 20 04 29" src="https://user-images.githubusercontent.com/1486729/80749063-d3af1280-8b1d-11ea-906f-28df3c2d1003.png">

[2020-04-30 19:09] bianpengyuan commented on #22968
Ok thanks! I will also try out 1.6 installation and see if I can reproduce.

[2020-04-30 19:10] justinrsweeney commented on #20090
@howardjohn Just wanted to check in on the best way to update this issue with the associated PR and mark as resolved or at least not closed. Anything I can do there?

[2020-04-30 19:15] howardjohn commented on #20090
I don't think there is any official way to link it other than mentioning it in the PR or vise-versa

[2020-04-30 19:20] howardjohn opened #23431 "Error message in any `make` commands"
[code]

[2020-04-30 19:42] knight42 opened #23434 "Envoy doesn't got notified about the updated header name used in consistent hash"
**Bug description**
The corresponding hash policy is not updated after the header name specified in `DestinationRule.trafficPolicy.loadBalancer.consistentHash.httpHeaderName` is changed.

**Expected behavior**
The hash policy of the route should be consistent with the spec of DestinationRule.

**Steps to reproduce the bug**
Create a DestinationRule shown as below, then change the `httpHeaderName`

[2020-04-30 19:45] kramvan1 commented on #23392
Need to be name based, not indexes.

[2020-04-30 19:45] howardjohn commented on #23404
#23430  does **not** fix this - however, it does fix some other issues

[2020-04-30 19:52] bianpengyuan commented on #22968
How often does it happen in your env? I cannot find any occurrence of this bug in my cluster installed head. If I remembered correctly it happened quite often before the fix. So not sure if it is just a transient error that you caught.

[2020-04-30 19:53] Stono commented on #22968
No unfortunately I have a lot of examples.  It's quite late here so I'll collect more information for you tomorrow.

[2020-04-30 20:10] cbarton opened #23435 "idleTimeout does not apply to upstream TLS TCP proxied connections"
**Bug description**
I've been experimenting with leveraging the mesh's ability for maintaining HTTP keep-alive for our `MESH_EXTERNAL` calls so we can push that responsibility away from the applications.

During that investigation, I found that setting the `trafficPolicy.connectionPool.http.idleTimeout` works as expected for both TCP keep-alive and not for non-HTTPS traffic where envoy can do
the

[2020-04-30 20:14] treethought commented on #23199
I'm 1.6.0--beta.0 and am still experiencing this issue.

[2020-04-30 20:14] kyaparla opened #23436 "Ingress gateway crashes when virtual service has regex with negative match pattern (?!)"
Istio ingress gateway shows STALE sync status for RDS, when any virtualservice has regex match with negative pattern matching (regex with operator ?! ),  and breaks the whole ingress and results 403 error.

This is happening with Istio 1.5 version, the same regex works fine on 1.2 version.  So not sure when it was broken.

**Expected behavior**
Not break the whole ingress gateway and routing shoul

[2020-04-30 20:42] yangminzhu commented on #22813
@samprit will look into this, currently I couldn't assign it in github, probably because he is not in the istio github org yet.

[2020-04-30 22:05] emrahcetiner commented on #23436
same issue  #23416

[2020-04-30 22:10] tariq1890 commented on #23401
Any updates on this? @mandarjog @gargnupur

[2020-04-30 22:14] gargnupur commented on #23401
@tariq1890 : I am working to get a local repro of this on istio/istio to be able to debug this easily and will update the bug as I have more info...

As of now here is the update we have:
It's happening because http traffic is negotiating TCP Alpn (istio-peer-exchange) and that should not be happening...
Client has mxc filter and server does not because of which client sends metadata exchange info

[2020-04-30 22:43] jacob-delgado opened #23442 "Download scripts fail to install for Istio 1.6"
This is an issue created to track an issue found on internal dev testing day for Istio 1.6. It has since been fixed.

**Bug description**

Currently, the downloadIstioCtl and downloadIstioCandidate scripts are broken on release-1.6 due to the fact that the architecture was added to the filename. This PR adds the ability to specify the architecture and download the appropriate version.

**Expected

[2020-04-30 22:44] jacob-delgado commented on #23442
This has since been fixed. No more action is needed.

[2020-04-30 22:44] #23442 closed

[2020-04-30 22:50] mandarjog commented on #23411
You are trying to send an HTTP/1.0 request which is not supported, so it is asking you to upgrade.
Do not use `curl -0`  unless you specifically want to use http1.0.

Please reopen if this is not the issue.

[2020-04-30 22:50] #23411 closed

[2020-04-30 22:55] mandarjog opened #23443 "'istioctl upgrade' (or install) --profile-from-cluster"
When installing a new revision it is easy to forget to add all the `--set` options that were provided with the initial install. The result is that the new revision is different code and different config from the one in cluster.

`--profile-from-cluster` let you use the profile that was previously active and then add your modifications on top.

Alternative
Discourage users from use `--set` options

[2020-04-30 22:55] mandarjog commented on #23443
@ostromart @richardwxn

[2020-04-30 23:01] howardjohn commented on #23443
This is implemented in https://github.com/istio/istio/pull/23377

[2020-04-30 23:03] nigeltiany commented on #7607
What about IPV6 ```(xff_header, "(%d+.%d+.%d+.%d+)")```?

[2020-04-30 23:19] nairb774 commented on #23225
Is it related to #22737 and https://github.com/istio/istio/commit/022c2ee467a207bdd4bdcd27c51547b0e36094e2?

[2020-04-30 23:29] howardjohn commented on #23435
is your expectation that **http**.idleTimeout applies to TCP connections or that there is a `tcp.idleTimeout` option in the API? I think the historical context is the tcp option in envoy did not exist at the time as far as I know (could be wrong though). But it certainly does now and seems appropriate to add to `tcp`. https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/tc

[2020-04-30 23:31] howardjohn commented on #23428
There are two components here:
* The container with the sidecar. This cannot be done by kubernetes
* The iptables which impacts the traffic. In theory this might be possible using https://github.com/istio/cni but without CNI I don't think its possible

[2020-04-30 23:32] howardjohn commented on #23422
Can you try upgrade to a recent version of Istio and see if its resolved? Istio 1.2 is no longer supported and this bug may be fixed since then. See https://istio.io/news/support/announcing-1.2-eol/.

Thanks for the thorough bug report

[2020-04-30 23:33] howardjohn commented on #23419
The configs to add are found here: https://istio.io/docs/ops/best-practices/observability/#federation-using-workload-level-aggregated-metrics

The instructions here are meant to be implemented in a Prometheus deployment not created as part of the istio install, so it would be best to consult the docs for that, whether its helm stable/prometheus, prometheus operator, etc.

[2020-04-30 23:34] howardjohn commented on #23412
Please see https://github.com/istio/istio/issues/11659 which has lots of info on workarounds + future plans

[2020-04-30 23:34] #23412 closed

[2020-05-01 00:01] lee-zhg commented on #19184
Hi, is there a solution/workaround for this error? I hit the same problem in Istioctl v1.5.2.

It appears there are .yaml file(s) somewhere that refers "apiVersion: extensions/v1beta1".

istioctl manifest apply --set profile=demo

- Applying manifest for component Base...
✔ Finished applying manifest for component Base.
- Applying manifest for component Pilot...
✔ Finished applying manifest for co

[2020-05-01 00:11] cbarton commented on #23435
I think the tough part about this (at least confusing to me when I started digging in) is that  _http_ requests are made over a TCP socket, so I would expect that `idleTimeout` to cover that case. What wasn't apparent is that when TLS origination happens downstream, envoy treats the http request over the TCP socket as a raw TCP connection.

It would be lovely if they allowed a configuration to tre

[2020-05-01 00:31] nigeltiany commented on #22770
I also tried this configuration but it did not help
[code]

[2020-05-01 00:56] howardjohn commented on #23410
Please fill out the full issue template, especially information on your environment and istio version/install steps. Generally this error means trouble connecting to pilot

[2020-05-01 01:01] howardjohn commented on #23416
See https://github.com/istio/istio/issues/21717, Envoy uses RE2 regex which does not support this

[2020-05-01 01:02] howardjohn commented on #23436
Is it actually crashing, or just no longer accepting traffic/config? As noted on #23416 envoy uses Re2 regex which doesn't not support `(?!`. See https://github.com/istio/istio/issues/21717 as well

[2020-05-01 01:18] stevenctl opened #23447 "NewSubTest(...).RunParallel(...) skips artifact dumping"
**Bug description**

Parent tests call *Test.Done/*TestContext.Done before parallel subtests finish. If one of the subtests fails, the parent test does not dump artifacts.

**Expected behavior**

When running a `SubTest` with `RunParallel`, the parent test should wait for parallel children to finish before being "done". An example test is [multicluster/TestMulticlusterReachability](https://github.