[2020-10-28 19:04] howardjohn commented on #28372
@jasonwzm any ideas?

[2020-10-28 19:06] Stono commented on #28372
Fundamentally if you're receiving **any** Admission events, the webhook is working?  so:

[code]

[2020-10-28 19:06] sdake commented on #27840
@morvencao do you have time to resolve this issue prior to November 10th?

Cheers,
-steve

[2020-10-28 19:07] howardjohn commented on #28372
Ah yeah the issue with the current implementation is only one is writing the webhook, but any instance may get the event. If any of them could update then it would work

[2020-10-28 19:08] sdake commented on #27840
@houshengbo do you have time to pick this up for the 1.8 release if @morvencao doesn't?

Cheers,
-steve

[2020-10-28 19:29] ericvn commented on #24586
Summary:

master:
  envoy has periodic task (168h) looking for envoy updates causing proxy to use a new sha
  proxy update causes update of proxy sha in istio/istio
  cni not needed

release-1.8
  envoy updates causes update of envoy sha in istio/proxy
  proxy update causes update of proxy sha in istio/istio
  cni not needed

release-1.7
  envoy updates are not automatically made in istio/proxy

[2020-10-28 19:31] rvennam opened #28379 "Istio server operator not honoring revision field"
**Bug description**

The Operator is ignoring the revision field. If I set revision to `revision: 1-7-3`, I assumed it would create istiod deployment with name `istiod-1-7-3`. However, the name is just `istiod`. This blocks me from doing a canary install.

This works as expected if run `istioctl manifest generate` or `istioctl manifest install`

[ ] Docs
[ X] Installation
[ ] Networking
[ ] Perfor

[2020-10-28 19:32] rvennam commented on #28379
cc: @sdake

[2020-10-28 19:43] Monkeyanator commented on #28371
I've run into this as well. Had to change the `REPO_ROOT` environment variable to get things working.

[2020-10-28 19:47] KashyapPutta commented on #24941
@fscz I am facing this issue. did you get this issue fixed?

[2020-10-28 19:59] ngocketit commented on #8709
I tried the Bookinfo example with Istio 1.7 and there are only traces for `istio-ingressgateway` and `jaeger-query`. Is there a way to debug tracing (e.g, whether traces have been sent or not)?

[2020-10-28 20:24] howardjohn commented on #23029
consistent reproducer:
[code]

[2020-10-28 20:25] ingluife commented on #27423
Hi guys.
Is there any solution here?
I have the same problem.
I'm uploading a long file (More than 120 Mb) and when the uploading process is 4% the connection is closed with the same message:

[code]
Additional context:
It works when I upload a small file (less than 100 Gb).

Tested:
I tried to simulate the upload process from inside the POD, using `curl` and the same long file pointing directly t

[2020-10-28 20:41] richardwxn commented on #20369
@mandarjog I think it is ok to promote it to Beta considering that we have the above items done

[2020-10-28 20:50] carolynhu commented on #26544
Hi @opnarius we are able to reproduce your issue, i mean reproduce is to get all things setup as your ways. And everything works fine when we visit the Mesh Dashboard and Workload Dashboard, they do have a prefix of `/grafana` there (the url looks like: http://34.122.248.187/grafana/d/G8wLrJIZk/istio-mesh-dashboard?orgId=1).

One thing I noticed that your setting of those env var for grafana is in

[2020-10-28 20:52] israel-hdez opened #28381 "Istio's 1.8 multi-cluster multi-primary multi-network not working properly"
**Bug description**

After configuring two clusters, each one in it's own pod network and own control plane, traffic is not properly load-balanced between the two clusters.

_My guess:_

When verifying installation (as in https://preliminary.istio.io/latest/docs/setup/install/multicluster/verify/), I can see that traffic is flowing OK within the same cluster, but some requests fail with `upstream

[2020-10-28 20:53] kyessenov commented on #24720
@kppullin Are you also observing the discrepancy between connections_opened and connections_closed metrics?

I'm trying to simulate the flaky upstream with the following:
- envoy/proxy 1.8 configured with TCP stats
- flakey `fortio server` that restarts every few seconds
- load generator `fortio load -qps 10000 -c 100 -t 60s `

After two runs of this setup I'm seeing slight memory increase:
[code]

[2020-10-28 20:53] medkbadri commented on #28360
A more simple approach would be maybe something like this:

[code]

[2020-10-28 20:59] stevenctl commented on #28381
Could you dump the endpoints on a source pod from each cluster by hitting `127.0.0.1:15000/clusters` or using `istioctl proxy-config endpoint <pod>.<namespace>`?

[2020-10-28 21:00] howardjohn opened #28382 "Only send NDS if DNS is enabled"
No need to add the extra cost/risk for this when dns is not used

[2020-10-28 21:19] stevenctl commented on #27916
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/28296/integ-security-k8s-tests_istio/22996

In #28296 we use `istioctl install` instead of `istioctl generate | kubectl apply` and we're seeing the gateway never ready due to not getting config from pilot. No errors in istiod logs, getting this in eastwest logs:
[code]

[2020-10-28 21:23] israel-hdez commented on #28381
@stevenctl Yes... using ` 127.0.0.1:15000/clusters` very large file!

Attaching: [endpoints.txt](https://github.com/istio/istio/files/5454904/endpoints.txt)

[2020-10-28 21:40] howardjohn commented on #23029
Finding that if control plane does not send EDS to a request in 15s (initial fetch timeout), it will give exactly 1 503 UH per connection.

Debug logs:
[code]

[2020-10-28 21:50] howardjohn commented on #23029
Also to be explicit, this happens only on changes to cluster. Typically this is automtls, but also triggered by adding `metadata: random()` to the cluster build

[2020-10-28 22:02] #27931 closed

[2020-10-28 22:22] #27511 closed

[2020-10-28 22:36] jasonwzm commented on #28372
Is it a reproducible behavior? I could not find the logs in my GKE cluster. The implementation shows that we ignore the response from API server and only cares about if the config creation fails or not.

[2020-10-28 22:46] howardjohn commented on #28372
@jasonwzm yes, I can easily reproduce. I am not sure how you do not have the log. The api server calls the istiod validation server, and it logs all errors. It doesn't know it is a dry run. Also the metric Karl is looking at is from the api server, although istiod also emits its own metric that is also incremented

[2020-10-28 22:50] howardjohn commented on #28189
@nmittler got basically the same

[2020-10-28 23:06] ngocketit commented on #11696
I'm using `ingress-nginx` instead of Istio gateway (due to that I need to have external auth, which Istio currently doesn't support) and traces don't get collected to Jaeger. Tthe traffic flow is like so:
`ingress-nginx -> service1 -> service2 -> service3`

There is a sidecar on the ingress-nginx and every service pod. For the services, I only forward the tracing headers as instructed here https:/

[2020-10-28 23:06] #28117 closed

[2020-10-28 23:17] kyessenov commented on #24720
Correction: yes, it is a missing onLog. The reason why it doesn't how up in my metrics is because I closed too fast to detect any data sent (which drops labels automatically).

[2020-10-29 00:21] howardjohn commented on #23029
[code]

[code]
2020-10-29T00:14:26.097692Z     debug   ads     Authenticated XDS: 10.36.2.15:38826 with identity [spiffe://cluster.local/ns/istio-system/sa/istio-ingressgateway-service-account]
2020-10-29T00:14:26.099325Z     info    ads     ADS: new connection for node:router~10.36.2.15~istio-ingressgateway-6bdf7c75d4-z82q2.istio-system~istio-system.svc.cluster.local-13
2020-10-29T00:14:26.099958

[2020-10-29 00:29] howardjohn commented on #23029
From above logs, both pilot and envoy logs are essentially identical at the :27 push and the :29 push. Yet in one of them we get a bunch of 503s...

[2020-10-29 00:35] pretendhigh commented on #28359
Thank you. It works when I change istioctl 1.7  to istioctl 1.3

[2020-10-29 00:43] howardjohn commented on #23029
Another set
[code]
[code]

[2020-10-29 00:54] howardjohn commented on #23029
I am suspecting https://github.com/envoyproxy/envoy/issues/13070

[2020-10-29 00:55] daixiang0 commented on #28382
Mind share more details?

[2020-10-29 00:56] howardjohn commented on #28382
Yeah, https://github.com/istio/istio/blob/f5321ed627dd414d252ff0f75c767ce1c7713d99/pkg/istio-agent/xds_proxy.go#L197  is only needed if localDNSServer != nil. You can see we ignore the response if localDNSServer == nil already

[2020-10-29 01:39] iandyh commented on #25898
@aattuluri Unfortunately this has multiple bugs. As you can see from this PRs and issues:

https://github.com/istio/istio/pull/27184 <- This fixed some issues I found in 1.6.x, but not all.
https://github.com/istio/istio/issues/27935 I submitted this issue in 1.7.x

[2020-10-29 01:41] hzxuzhonghu commented on #23369
Thanks very much.

[2020-10-29 01:42] howardjohn commented on #28069
This is fixed by https://github.com/istio/istio/pull/27803, please try this out. Thanks @alexandrefilgueira !

[2020-10-29 01:42] #28069 closed

[2020-10-29 01:43] howardjohn commented on #25154
With newest changes mertics is a trivial portion of istiod flame graphs

[2020-10-29 01:43] howardjohn commented on #24667
This is implemented and shipped in 1.8

[2020-10-29 01:43] #24667 closed

[2020-10-29 02:06] #28382 closed

[2020-10-29 02:09] hzxuzhonghu commented on #28189
Yes, that's why i file https://github.com/istio/istio/pull/28298 Not sure which component changed all the envoyfilters.

[2020-10-29 02:20] zyfjeff commented on #28265
@howardjohn Both Webhook and SidecarSet are supported to manage mesh sidecar. For users, Sidecarset is not directly exposed, and the usage is the same as that of Webhook. I'd love to do that, do you have any suggestions?

[2020-10-29 02:42] achilles-git commented on #28313
attaching a PV to ingress-gateway pod would be easy. But does Istio have capabilities to take a directory of certificates and serve based on the SNI ?

[2020-10-29 02:52] howardjohn commented on #28313
No, it doesn't. I was asking to understand the requirements

[2020-10-29 02:56] Sathishkunisai commented on #26990
@jurschel similar issue noticed in 1.6.11 as well, did upgrade from 1.6.2 to 1.6.8 and then to 1.6.11. issue remain same.

[2020-10-29 03:03] iandyh opened #28387 "Unknown labels in istio_requests_total metrics when the destination workload does not have sidecar"
**Bug description**
[code]
Several labels are unknown. for example, destination_app, destination_service_namespace. Despite the required labels are presented.

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ X ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
Metrics regarding destination

[2020-10-29 03:07] bianpengyuan commented on #28387
This has been addressed in 1.8. Although `destination_app` label is not going to be filled, since it is going to be replaced by canonical service label.

[2020-10-29 03:07] achilles-git commented on #28313
ok
also not sure if underlying envoy proxy supports this.

[2020-10-29 03:08] udaymadu commented on #24018
Is any one assigned to it to work on as dont see any activity since May 21.

@istio-policy-bot

[2020-10-29 03:24] tbartelmess commented on #24052
@howardjohn is #23932 in Istio 1.7.3? I am running into a very similar issue after upgrading to 1.7:

```admission webhook "validation.istio.io" denied the request: configuration is invalid: Envoy filter: can't unmarshal Any nested proto type.googleapis.com/envoy.extensions.filters.http.ext_authz.v3.ExtAuthz: json: cannot unmarshal object into Go value of type string```

[2020-10-29 03:46] zhongfox opened #28388 "istioctl dashboard controlz not working for istiod"
**Bug description**

[code]

1. why can not find istiod pod?
2. seem namespace shortcut not working: `-n istio-system`

[X] Installation
[X] User Experience
[X] Developer Infrastructure

[2020-10-29 04:34] hustshawn opened #28390 "Istio-proxy not working when using customized envoy inside of istio-proxy image."
**Bug description**
Hi, I built then envoy binary from the source code, and shipped the envoy binary into the istio-proxy image. I updated my istio-ingressgateway image with my customized istio-proxy image, it turns out not working and the ingressgateway pod keeps crashing.

The logs here
[code]

It probably not an existing bug, and I am not sure where I can post this issue.

[ ] Docs
[ ] Installa

[2020-10-29 04:35] hustshawn commented on #28390
Could anyone help suggest what's going wrong? and what should I do？

[2020-10-29 04:40] shamsher31 commented on #28388
@zhongfox can you try appending namespace `istio-system` to istiod pod?

[code]

[2020-10-29 04:40] hustshawn commented on #28390
By the way, the envoy version in the istio-proxy official image is
[code]
While the one I checked out from envoy repo and built is
[code]
Could it be a problem? Is there any specific authentication mechanism or mapping between the envoy version and the istio control plane version?

[2020-10-29 04:45] yangminzhu commented on #27994
If a port in portLevelMtls is not included in an associated Service, there is no config for that port. This is because pilot does not generate a filter chain for this port, and therefor the plugin cannot apply the mTLS config on that port. Instead it goes through passthrough which gets the non-portLevelMtls settings.

When port is specified in service:
Case 1: no sidecar resource applied -> good
C

[2020-10-29 04:50] howardjohn commented on #27994
I think from an implementation perspective it makes sense how it works. From an API/user perspective, I think it's pretty clear that if you specify the port level setting you expect it to apply. IMO we should optimize for the API not the implementation.

and yes that's what I meant by case 5

[2020-10-29 05:02] #23021 closed

[2020-10-29 05:03] shamsher31 commented on #28388
You can directly access controlz dashboard by appending namespace to the pod instead of `-n`. as `-n` is a global flag and not directly supported by controlz. https://github.com/istio/istio/pull/28391

[2020-10-29 05:04] #25515 closed

[2020-10-29 05:04] #25528 closed

[2020-10-29 05:04] #25548 closed

[2020-10-29 05:04] #25555 closed

[2020-10-29 05:20] yangminzhu commented on #27994
yeah, I agree from the API perspective the user would expect it just work since the creation of filter chain is an implementation detail and should not affect the API. Regarding implementation, it seems the only feasible solution is to duplicate all the passthrough filter chains for the ports that are ONLY specified in portLevelSettings, do you have any suggestions? (Not sure how complex to do thi

[2020-10-29 05:28] morvencao commented on #28379
This was fixed in https://github.com/istio/istio/pull/28044
@ostromart I found that you close https://github.com/istio/istio/issues/28299  any reason for that?

[2020-10-29 05:31] mandarjog commented on #20369
Sounds good! Update the docs to claim beta and add a release note. @douglas-reid anything else we need to do?

[2020-10-29 05:55] PiotrSikora commented on #28017
https://github.com/proxy-wasm/proxy-wasm-cpp-host/pull/78 and https://github.com/envoyproxy/envoy/pull/13753 are ready for review and they should fix the issue if anyone wants to give it a try.

[2020-10-29 06:05] morvencao commented on #28375
Do you accidentally include any .tgz or any other large file in the chart directory?

[2020-10-29 06:14] shamsher31 commented on #28359
@pretendhigh Closing based on your comment.

[2020-10-29 06:14] #28359 closed

[2020-10-29 06:19] zhongfox commented on #28388
this works correctly, thx

[2020-10-29 06:19] #28388 closed

[2020-10-29 06:39] iandyh commented on #28387
@bianpengyuan Great. Thank you very much.

[2020-10-29 06:40] morvencao commented on #27840
@sdake I still have some questions about the solution.
Option 1: we will only need to prompt warning message for additional IOP instance creation without revision and skip reconcile. The same logic can also be applied with IOP update action, we only care about the update for the first IOP instance and prompt warning message for additional IOP instance update. For deletion action, additional IOP in

[2020-10-29 07:10] Siddharthk commented on #28144
@howardjohn I debugged this further...looks like Istio telemetry is causing prometheus to go out of memory and thus have cascading effect and bringing down the node where prometheus pod is hosted.

Sometimes istio telemetry is fluctuating between service name and pod ip thus causing too many services to be scraped by prometehus and ultimately bringing it down. Screenshots below from prometheus and

[2020-10-29 07:12] #18855 closed

[2020-10-29 07:23] yangminzhu commented on #27994
Actually thinking more of case 3 and 6 and looking at the [sidecar.ingress API](https://istio.io/latest/docs/reference/config/networking/sidecar/), it seems the semantic is that the sidecar should only process inbound traffic to the attached workload instance for ports specified in sidecar.ingress (if any)?
If so, shouldn't we restrict the passthrough filter chain to only accept the explicitly spe

[2020-10-29 07:51] #28075 closed

[2020-10-29 07:58] abhassine commented on #28375
No !
I even deleted some files :

[code]

[2020-10-29 08:06] #25549 closed

[2020-10-29 08:39] ZhuangYuZY commented on #25685
@howardjohn It is great to have PR to fix the issue. What is the target release for this PR ? Thank you.

[2020-10-29 10:09] ngocketit commented on #11696
One thing I noticed is that `x-b3-sampled` is always zero. Looking into this https://stackoverflow.com/questions/63507749/x-b3-sampled-header-is-always-set-to-0-when-accessing-service-through-ingress-co and it seems it's somehow related to the `x-request-id` format but what I don't understand is that since Envoy generates request id, why doesn't it put it in the correct UUID format.

[2020-10-29 10:18] nak3 opened #28394 "Allow to build and publish built-in custom profile"
**Describe the feature request**

- It would be great if we could publish our custom profile (e.g. knative) and allow users to use it as:

[code]

[code]

- For example, Knative needs many customization for Istio installation like [Istio profile for Knative](https://knative.dev/docs/install/installing-istio/#installing-istio-without-sidecar-injection).
- Although Istio supports [external charts](h

[2020-10-29 10:56] Stono commented on #11696
Hi @ngocketit - yes I use `ingress-nginx`, the way we have it configured though is to set istios trace sampling to 0, and then instantiate traces on `ingress-nginx` using [opentracing](https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/third-party-addons/opentracing.md).  nginx will then create the trace and initial span and set b3-sampled:1, and then the downstream envoys wil

[2020-10-29 11:04] shamsher31 commented on #28394
Openshift profile was recently added https://github.com/istio/istio/pull/28076, https://github.com/istio/istio.io/pull/8334

[2020-10-29 11:18] nak3 commented on #28394
Oh, great! Thank you. Then, probably we can add the knative profile maybe. I will send the PR.

[2020-10-29 11:30] shamsher31 commented on #28394
I think so, later we can add the ability to distinguish between core Istio profile and additional profiles? Eg:

[code]
cc: @esnible

[2020-10-29 11:47] xiaozhongliu opened #28397 "Tracing series is breaked by nginx?"
**Bug description**
My api (k8s-demo-bff) is proxied directly by the nginx-hosted frontend app (k8s-demo) like this: https://k8s-demo.me/k8s-demo-bff/ with the following frontend nginx config:
[code]
It seems the istio tracing headers cannot be passed through successfully:
![image](https://user-images.githubusercontent.com/17674404/97564034-e9df5200-1a1e-11eb-909a-65d0019f04ef.png)

[ ] Docs
[ ] I

[2020-10-29 12:25] connatix-cradulescu opened #28398 "Response application in/out duration increased on istio"
Hello,

We are in the process of migrating from Nginx ingress to istio. During our test, we saw that the call duration for in/out requests for our application has increased from 4-6 microseconds (Nginx ingress) to 300-800 microseconds.  This increase might affect the quality of our services being a high traffic application.

We are suspecting that has to do with client body size, which is a bit hi

[2020-10-29 12:26] rvennam commented on #27840
my2c: I think both options are needed...but definitely Option 2. My primary concern is that if you remove the secondary operator, it should reconcile and go back to it's previous state. Option 1 will only guard against this only if it correctly identifies it as a conflict. What if the secondary operator is defective for some other reason? We need the reconcile to reapply the previous state.

[2020-10-29 12:39] ngocketit commented on #11696
@Stono Thanks for your comment but isn't that enabling opentracing in ingress-nginx will bypass Istio & Envoy tracing capability because as shown in the guide, you need to specify tracer backend agent host that ingress-nginx will send traces to? What I'd like to have is tracing being handled automatically by Istio. Currently with my setup, it doesn't work because as I said in my previous comment,

[2020-10-29 13:00] connatix-cradulescu commented on #28305
I did create multiple gateways with the same certificate and never had an issue. Can you provide your configuration of the gateways and virtual services?

[2020-10-29 13:07] ngocketit commented on #11696
I think I may have figured it out. By setting `generate-request-id` to `false` in ConfigMap, ingress-nginx won't generate a random ID and instead that would be taken care of by Envoy sidecar.

[2020-10-29 13:10] Stono commented on #11696
<img width="326" alt="Screenshot 2020-10-29 at 13 10 12" src="https://user-images.githubusercontent.com/1486729/97578024-1fb51400-19e8-11eb-9fd8-562a32734016.png">

:)

[2020-10-29 13:38] ceastman-ibm commented on #28031
@howardjohn Is there a possibility we could build our own proxy-image with a different base OS? like redhat's UBI

[2020-10-29 13:45] howardjohn commented on #28031
I am not sure how that is related to the docker rate limiting?

[2020-10-29 13:46] ceastman-ibm commented on #28031
The proxy image could be stored in a private repo so docker hub is getting pulled from. Just a thought.

[2020-10-29 13:47] howardjohn commented on #22161
not stale

[2020-10-29 13:49] howardjohn commented on #28031
We can store the final image wherever we want regardless of the base image we use I believe

[2020-10-29 14:10] shamsher31 opened #28399 "istioctl bug-report: does not collect operator logs"
The bug-report only displays that it's collecting logs from the operator but it only runs an analyzer on the operator. The bug-report should also include logs from operators.

[code]

[2020-10-29 14:12] shamsher31 commented on #28399
@liamawhite As discussed offline, if you have a bandwidth feel free to assign it to yourself.

[2020-10-29 14:24] sdake commented on #27840
cc/ @ostromart  - this is really happening in the field, so an FYI.

The requirement is:
If two or more conflicting IOPs are registered, the resulting state is undefined. Once there is no conflicting IOP, the state should be defined (the remaining IOP's state should be enforced).

Printing a warning would be helpful in a conflicting state - and possibly preventing the conflicting IOP from registra

[2020-10-29 14:28] saikaushik-itsmyworld commented on #25578
@yangminzhu @MirtoBusico Can you provide me the details on how you made it work with https. I'm running into same errors with https. RequestAuthentication and AuthorizationPolicy works well with keycloak on http but fails when I enable https. Not sure how to make istio to trust the keycloak's custom cert from the go daddy.
Note: I have deployed the keycloak in the same cluster and exposed it on ht

[2020-10-29 14:35] JuanSeBestia commented on #25467
Please!

Also, I tried to install it with HelmOperator with git option like this
[code]

but your repo wight 706MB, it is too much!

It doesn’t work :(

[2020-10-29 14:41] linsun opened #28400 "istio root namespace should default to istioNamespace first"
**Bug description**
I'm deploying istio to istio2 namespace, and if I don't have below, the generated manifest will use istio-system as root namespace.  root namespace should default to istioNamespace vs hardcoded to istio-system as today.

[code]

generated yaml via istioctl manifest generate without meshConfig.rootNamespace: istio2

[code]

[ ] Docs
[x ] Installation
[ ] Networking
[ ] Performan

[2020-10-29 14:54] shamsher31 opened #28401 "istioctl bug-report: should skip further scanning if istio is not installed in any namespace"
If Istio is not installed in any namespace, bug-report should simply exit
[code]

Instead of running through and printing empty messages.

[code]

[2020-10-29 15:02] howardjohn opened #28402 "ads bug: CDS update without EDS results in 503 UH"
If we push CDS, and update an existing cluster without an EDS update, we will get 503 UH 15s later

Pilot logs:
[code]

Note at 14:54:52 we get an "EDS ACK", but in reality envoy is re-requesting the endpoints for this cluster. When we fail to send them, we get an initial_fetch_timeout and get 503 UH 15s later.

Possible solutions:
* Always send EDS when CDS changes. We almost do this, except for

[2020-10-29 15:11] Stono commented on #28120
@howardjohn could you please reopen this because we just saw it again going from `1.6.12` to `1.6.13`, this time it wasn't caused by me so there's definitely something odd going on during `istiod` deployments.

Struggling to consistently reproduce at the moment however.

<img width="1627" alt="Screenshot 2020-10-29 at 14 59 54" src="https://user-images.githubusercontent.com/1486729/97592745-e6d16b

[2020-10-29 15:18] #28387 closed

[2020-10-29 15:26] ericvn opened #28403 "Periodic envoy update job fails"
**Bug description**

Investigating some of the automated jobs, and I noticed that the periodic envoy update job, https://storage.googleapis.com/istio-prow/logs/update-proxy_envoy_periodic/1321601339968458752/build-log.txt, is failing:
[code]
The issue seems to be that the SHA being passed into the update_envoy script is the current test-infra sha (expect because it's automated) instead of the late

[2020-10-29 16:16] stevenctl commented on #28381
Just ran through the steps again myself on GKE and could not reproduce this.

Can you confirm the following outputs each cluster's network?

[code]

My concerns is that the [step to deploy the eastwest gateway](https://preliminary.istio.io/latest/docs/setup/install/multicluster/multi-primary_multi-network/#install-the-east-west-gateway-in-cluster1) may have some issue or another and continue. One

[2020-10-29 16:21] bianpengyuan commented on #28189
I can reproduce this with KinD, but not GKE.

[2020-10-29 16:25] muniganti commented on #26815
Any update on this? We are facing the same issue on our ingress gateway. We are evaluating if this is affecting some of the ingress requests as there are occasional connection timeouts faced by clients.

[2020-10-29 16:35] kppullin commented on #24720
@kyessenov for the service we're seeing most affected by this issue, the opened total is slowly but continuously growing (60,000) whereas the closed_total is nearly constant and nearly zero (< 10).

[2020-10-29 16:42] felipeschossler commented on #24941
Me too. Please some Istio team member help us.

[2020-10-29 16:42] israel-hdez commented on #28381
Hi, @stevenctl

Not, using contexts, but different KUBECONFIG files. But yes, the command on each cluster is outputting the right networks:

[code]

then the other node:

[code]

---

I'm curious... and also giving some more context...

In that same section you pointed (the [step to deploy the eastwest gateway](https://preliminary.istio.io/latest/docs/setup/install/multicluster/multi-primary_multi

[2020-10-29 16:45] myidpt commented on #22161
Reassign to @shankgan
Hi Shankar, let's sync up and get this done in Istio 1.9.

[2020-10-29 17:00] stevenctl commented on #28381
Ah, that would explain it. For the time being inn your use-case you'll need to configure `meshNetworks`.

You can either edit the `istio` config map in `istio-system` or reinstall putting the following yaml under `global` in your installation yaml.

[code]

 I think we can add support for auto-detecting externalIP although I don't know if it will make the initial 1.8 release.

[2020-10-29 17:09] israel-hdez commented on #28381
@stevenctl OK, let me try.
Do I have to specify both networks on both clusters?

[2020-10-29 17:11] stevenctl commented on #28381
Yes, this config needs to be identical in all primary clusters.

[2020-10-29 17:12] aattuluri commented on #25898
@iandyh Thanks for letting me know, this helps.
Also, have you tried using headless services (clusterIP: None). Headless service in combination with ServiceEntry did work with load balancing as EDS is showing the pod IPs.

[2020-10-29 17:34] gargnupur commented on #22068
@jdomag : You can use other envoy descriptors like remote_address that are not dependent on HTTP headers?

[2020-10-29 17:37] gabrielfreire commented on #8076
@ClareChu  solution works perfectly

[2020-10-29 18:11] howardjohn opened #28407 "generateAltVirtualHosts generates invalid partial dns domains"
We generate domains like
[code]

This is not right. `istiod.istio-system.svc.cluster` is incorrectly splitting the cluster dns domain. We should only have chunks of {cluster.local,svc,namespace}, not split at every dot.

Related: https://github.com/istio/istio/issues/28053

[2020-10-29 19:04] stevenctl commented on #28381
Support for externalIPs will be included in 1.8

[2020-10-29 19:15] bianpengyuan commented on #28189
Some findings:
* Use official 1.8 istioctl (which has server side apply) install canary, all envoyfilters are rewritten with empty value, including the ones installed by 1.7 istioctl. and from now on, any installation of envoyfilter will be override with empty value, even clean up the istio-system namespace.
* Use an customzied istioctl which does not have server side apply install canary, everyth

[2020-10-29 19:20] richardwxn commented on #28189
taking a look, but still not sure why it happen only on Kind but not GKE though

[2020-10-29 19:26] israel-hdez commented on #28381
That's nice :)
And FWIW, manually configuring `meshNetworks` works fine!

[2020-10-29 19:29] bianpengyuan opened #28410 "First class telemetry filter config"
Proposal: https://docs.google.com/document/d/1f_emnIfPX3i_rLFzNYmUQvsKxuUknXWv_qJZ3RYBn9U/edit#

Work items:

- [x] Implement HTTP metadata exchange in istiod
- [x] Implement TCP metadata exchange in istiod
- [ ] Implement Prometheus filter in istiod
- [ ] Implement Stackdriver filter in istiod
- [ ] Implement Access log policy filter in istiod

[2020-10-29 19:30] Monkeyanator commented on #26919
Should be fixed with #28336, going to go ahead and close

[2020-10-29 19:30] #26919 closed

[2020-10-29 19:34] howardjohn commented on #28189
CRD pruning may be relevant as well @jasonwzm. I am now remembered when we saw this before, its because we had pruning enabled on the CRD. Sounds like its the serverside apply, but probably relevant

[2020-10-29 19:48] bianpengyuan opened #28411 "Add presubmit test for canary upgrade"
Not sure if there is already a presubmit check or not for canary upgrade, but https://github.com/istio/istio/issues/28189 suggests it unlikely exists. We should add a smoke test to prevent this kind of issue. cc @ostromart @sdake

[2020-10-29 20:08] rvennam opened #28412 "Multi-Cluster & Plug in CA Certificates: Missing common.mk"
**Bug description**

Following this guide to `Generate the root certificate and key` Step 2:
https://preliminary.istio.io/latest/docs/tasks/security/cert-management/plugin-ca-cert/

[code]
[code]

[ X] Docs
[ X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected beha

[2020-10-29 21:02] douglas-reid opened #28413 "feat: add linter to istio/proxy to check CEL expressions for validity"
**Describe the feature request**
Add a linter to istio/proxy that prevents typos and misconfigurations around CEL expressions. These are hard to catch during human review of code.

Example: https://github.com/istio/proxy/pull/3076

[ X ] Extensions and Telemetry

**Additional context**

/cc @gargnupur @kyessenov @bianpengyuan

[2020-10-29 21:20] howardjohn commented on #28398
Your application was handling requests in 4 **micro**seconds before?? That seems quite fast. Are you sure this is not milliseconds?

800 microseconds would be well within the expectations for Istio, but 800 milliseconds would be quick a bit slower than expected. See https://istio.io/latest/docs/ops/deployment/performance-and-scalability/#latency-for-istio-hahahugoshortcode-s3-hbhb for some details

[2020-10-29 21:21] howardjohn commented on #28394
You can also just pass `-f knative.yaml`

[2020-10-29 22:17] jasonwzm commented on #28189
@howardjohn EnvoyFilter should allow any fields thus should not prune unknown fields.

[2020-10-30 00:00] #21340 closed

[2020-10-30 02:58] richardwxn commented on #28189
Updates:
1. the issue can happen on GKE as well, but just 1.18, cannot reproduce it on 1.17/1.16. It is suspicious that related to the beta2 change launched with k8s 1.18
2. the CRD managedFields look suspicious so CRD probably should not be applied with server-side apply as it may collide with controller-manager or api-server and also it might not be necessary

Will create a PR to exclude the CRD

[2020-10-30 03:22] hzxuzhonghu commented on #28402
@lizan Is it a must that eds should always following a cds?

If it is not we should `Handle the ACK differently`

[2020-10-30 03:24] howardjohn commented on #28402
I believe this is only when updating an existing cluster that this can happen. see envoy issue #13009

Note this case is extremely rare. but still possible

[2020-10-30 03:42] hzxuzhonghu commented on #28402
wrong link

[2020-10-30 03:42] hzxuzhonghu commented on #28402
https://github.com/envoyproxy/envoy/issues/13009

[2020-10-30 04:33] morvencao commented on #28400
related to https://github.com/istio/istio/issues/26813

[2020-10-30 05:05] #23009 closed

[2020-10-30 05:07] #23753 closed

[2020-10-30 05:11] #25575 closed

[2020-10-30 05:28] ramaraochavali commented on #28402
Yes. If cluster properties are changed which will move the cluster to warming state, EDS is expected to finish the warming.

[2020-10-30 06:39] hustshawn commented on #14579
Hi @lambdai , I tried to run `make docker.proxyv2 --dry-run` inside of `istio`, but seems it's not available anymore, especially when I was trying to checkout to `1.7.3`.
[code]
is there any alternative way so I can build the proxyv2 image only?

[2020-10-30 07:04] srinivas-kandula commented on #28216
@morvencao Thanks for the command it worked.
Any idea why `--istioNamespace=istio-test` didn't work? Is this a bug?

[2020-10-30 08:05] richardwxn commented on #28411
It seems to be hard to add presubmit test between different versions, specifically between different minor releases. That's why we define upgrade/downgrade test(canary or rolling upgrade, the canary one was recently added) as periodic job running on a real gke clusters. But the problem with that is it does not get enough attention and it is not stable enough. Are you currently maintaining that? @c

[2020-10-30 08:32] Stono commented on #28120
This just happened again much more significantly when we rolled `istiod`:

<img width="1601" alt="Screenshot 2020-10-30 at 08 31 40" src="https://user-images.githubusercontent.com/1486729/97677611-6c512b80-1a8a-11eb-8e20-eaf8874eb35e.png">

[2020-10-30 08:37] Stono commented on #28120
@howardjohn I've narrowed this down to `PILOT_ENABLE_LEGACY_INBOUND_LISTENERS`.  When adding or removing that flag, there's a moment where all the sidecars are broken.

The two events above were caused by the removal of `PILOT_ENABLE_LEGACY_INBOUND_LISTENERS` flowing through the environments now we're rolled out to 1.6

Whilst i'm not hugely concerned (as we won't be bringing that flag back) - It'

[2020-10-30 09:00] shamsher31 commented on #20945
Tested `1.8.0-alpha.2` with k8 `v1.14.2`. The message looks useful. Implemented in this PR https://github.com/istio/istio/pull/26145

[code]

[2020-10-30 09:00] #20945 closed

[2020-10-30 09:12] singhdeepu commented on #26628
@howardjohn  The main problem that we are getting is the grpc disconnection. if we solve the somehow the grpc disconnection problem then we do not need to disable the load balancer and we would be able to use it. The problem is happening when we are making a gRPC connection first with a pod and then we are trying to execute some RPC call then the request is going to some different pod as it is som

[2020-10-30 09:31] poussa opened #28422 "istioctl: fails to add custom root CA for JWKS if cert contains '='"
**Bug description**

The following command fails if the `cert-text` contains character '='.

[code]

Example of such cert is attached below.

[bad-rootCA.crt.txt](https://github.com/istio/istio/files/5464178/bad-rootCA.crt.txt)

[code]

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[X] Security
[ ] Test and Release
[X] User Experience
[ ] Dev

[2020-10-30 09:55] shamsher31 commented on #21430
@linsun I installed different istio version (1.6.8, 1.7.3, and 1.8.0-alpha.2) and bookinfo. I see that bookinfo components are removed from the output and the analyzer also warns properly which I think solves the issue?
[code]
[code]

Also tried running analyzer.
[code]

[2020-10-30 09:59] ysjjovo opened #28424 "Add customized metric don't work!"
**Bug description**
- I follow this instruction '[Customizing Istio Metrics](https://istio.io/latest/docs/tasks/observability/metrics/customize-metrics/)' to add a new metric 'request_id'.
- use command ```kubectl edit envoyfilter -n istio-system   stats-filter-1.7```
modify value of 'spec.configPatches[match.context: ```GATEWAY```][patch.value.typed_config.value.config.configuration]' to
{"debug"

[2020-10-30 10:05] morvencao commented on #28216
@srinivas-kandula The field `istioNamespace` has not mapped to `values.global.istioNamespace`, so you have to use the `values.global.istioNamespace` to set the istio namespace.

[2020-10-30 10:12] shamsher31 opened #28425 "istioctl bug-report: --exclude multiple namespace appear as a separate object"
The functionality works fine and this is mostly a display problem.

[code]

It should display exclude namespaces as.
[code]

[2020-10-30 10:15] ducoppa commented on #27373
I have read all problem, but still don't know Is itbug in Istio for misconfig?

[2020-10-30 10:28] shamsher31 commented on #21473
@esnible I think it is working as expected. Mostly fixed by https://github.com/istio/istio/pull/21644.

I used the following YAML.
[code]

The `validate` works as expected.
[code]
And `install also detects invalid IstioOperatorSpec.

[code]

[2020-10-30 10:28] #21473 closed

[2020-10-30 10:59] shamsher31 commented on #23234
Analyze on default namespace
[code]

If you want to analyze specific namespace use `-n`
[code]
[code]

If you want to run the analyzer on all the namespaces. Notice few improvements did via https://github.com/istio/istio/pull/27794 and https://github.com/istio/istio/pull/27846

[code]
You can run validate on the file to check if it is having any issues.

[code]
`namespace` is provided as a global

[2020-10-30 10:59] #23234 closed

[2020-10-30 11:07] connatix-cradulescu commented on #28398
Hi @howardjohn Thank you a lot for having a look into this.  I can confirm that are **micro**seconds and istio the worst is 800 microseconds.

Istio would not buffer on disk no matter the size of the client body or there is a limit? I am asking cause I just can't find this information.

[2020-10-30 11:38] masaeedu commented on #10750
@howardjohn It seems Envoy now has alpha support for Windows. Is the next step you referred to something that can now be investigated for Windows?

[2020-10-30 11:53] connatix-cradulescu opened #28428 "Number of sockets opened by sidecar"
Hi,

We are in the process of migrating the ingress solution from Nginx ingress to istio. During our tests, we observed that the number of sockets opened on a node ( Kubernetes) after enabling the injection is very high and this can bring an overhead to our application.

Here is an example:
Application x
- without istio injection 10 to 20 opened sockets
- with istio injection from 1300 to 2500

Th

[2020-10-30 11:55] masaeedu commented on #2641
@ZackButcher Could you elaborate on what "the initializer" refers to, and how we can run several of them? Is this something like an admission controller that we manually create a tweaked copy of?

I was following the Getting Started guide here: https://istio.io/latest/docs/setup/getting-started/ and am having trouble seeing how I would tweak `kubectl label namespace default istio-injection=enabled

[2020-10-30 11:56] masaeedu commented on #2641
@pluqueTheLuxe I haven't been able to get any of this to work, so take this with a grain of salt, but I would imagine the sidecar to use would be: https://hub.docker.com/r/envoyproxy/envoy-windows-dev (although I believe this didn't exist at the time you posted your comment).

[2020-10-30 12:32] sdake commented on #20289
@lei-tang @incfly last call before I make the suggestion for removal of these operations.

I have never seen them used not documented, and if we can reduce the footprint of the CLI, we should do so.

Cheers,
-steve

[2020-10-30 12:37] pluqueTheLuxe commented on #2641
hahahaha @masaeedu, I no longer run in mixed mode, we switch all our platform to linux. Fixed :P

[2020-10-30 12:48] Stono commented on #28120
Definitely other situations causing this too, this was going from `1.6.13` -> `1.7.4`:

<img width="1596" alt="Screenshot 2020-10-30 at 12 46 52" src="https://user-images.githubusercontent.com/1486729/97706712-04acd780-1aae-11eb-8626-d041e3a54387.png">

[2020-10-30 13:13] linsun commented on #28400
Thanks Morven!  BTW, it is critical for us to not always install istio in istio-system ns, as we don't intend to.

[2020-10-30 13:19] linsun commented on #21430
I'm fairly sure the istioctl analyze does this already - i have been mentioning to folks to use it.  @shamsher31 thanks for looking at this.  In your scenario, you don't have a pod that would trigger the warning.  It typically happens right after you upgrade istiod but haven't had chance to update the data plane yet.

[2020-10-30 13:24] linsun commented on #21430
Probably not within a single cmd but a few cmds combined will be able to tell you that such as check istioctl version, verify-install cmd (with an IO file).  Then istioctl analyzer helps you analyze the data plane pods and other istio resources.

[2020-10-30 13:32] linsun commented on #23234
@shamsher31 Thanks!  Yep looks like -n is added to help menu.

One thing I'd ask for improvement is this:  can we change it to one msg and list all namespaces vs multiple messages?

[2020-10-30 13:34] linsun commented on #23234
BTW, warn is changed to info which I like

[code]

[2020-10-30 13:38] linsun commented on #28412
Oh yes, I opened an issue on this earlier.  I believe you can just ignore those files they are not needed

[2020-10-30 13:39] linsun commented on #28412
dup of https://github.com/istio/istio.io/issues/8345

[2020-10-30 13:42] linsun commented on #28412
Actually your issue is different in a prior step.

[2020-10-30 13:47] linsun commented on #28412
Think this is a build issue, works fine for me in master:

[code]

@ericvn can you look into this?  Think we want all 4 files in the release binary in tools/certs dir:

[code]

[2020-10-30 14:18] shamsher31 commented on #23234
AFAIK analyzer generates these messages dynamically so it's hard to combine them into one message.
https://github.com/istio/istio/blob/9a07550c196fc315c1b3c9406fc39d830a03a6e1/galley/pkg/config/analysis/msg/messages.yaml#L33-L42

[2020-10-30 14:38] howardjohn commented on #28398
How are you measuring latency?

For the buffer, based on https://github.com/istio/istio/issues/24370 I believe this is the case, we never buffer

[2020-10-30 14:43] ceastman-ibm opened #28430 "Istioctl upgrade - upgrade check warning after upgrading"
**Bug description**
I just used istioctl upgrade -f config.yaml to upgrade from 1.7.3. to 1.7.4. After the upgrade I run the same command but i get warnings that "The following IOPS will be changed as part of upgrade." Shouldn't there be no changes/warnings if I just upgraded?

[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Te

[2020-10-30 14:50] nrjpoddar commented on #27147
Related PRs and changes:

1. https://github.com/istio/istio/pull/28385
1. https://github.com/istio/test-infra/pull/3021
1. https://github.com/istio/istio.io/pull/8283
1. https://github.com/istio/istio.io/pull/8350
1. https://github.com/istio/istio.io/pull/8373

[2020-10-30 15:19] howardjohn commented on #28428
Can you describe your workloads a bit more? Is this 1300 per pod, per node, cluster wide?

Can you run `ss` and/or `netstat` to see what the open sockets are?

How many requests are the pods handling and how many services are they sending traffic to?

[2020-10-30 15:20] howardjohn commented on #28422
I highly recommend you use the IstioOperator file approach rather than `--set` flags. I believe it would get around this.
You might also be able to fix this by escaping the `=`, not sure

[2020-10-30 15:32] israel-hdez commented on #28381
I'm closing, as I think there is no work left.
I'll try without the `meshNetworks` configuration once the final 1.8 is released (or a new alpha is released, whatever comes first)

Thanks for your help!

[2020-10-30 15:32] #28381 closed

[2020-10-30 15:52] Stono opened #28433 "Transfer encoding issues between 1.6 and 1.7 sidecar breaking http 204 responses"
**Bug description**
Given two services, on different sidecar versions:
- portal: 1.7
- leads-service: 1.6

When we make a `HEAD` request from a to be, which should return a `204`, we see:

[code]

Looking at the envoy logs, we see:
[code]

The issue appears to be that the destination service (`leads-service`) is returning a `Transfer-Encoding: chunked` header.  We validated this by going onto the

[2020-10-30 16:21] #28175 closed

[2020-10-30 16:23] stevenctl commented on #25616
@incfly is this actually possible to implement?

If I understand correctly, any changes to PeerAuthentication would affect client-side configuration for the entire mesh regardless of namespace. The only sort of filtering out we could do is finding if the current sidecar can even access the namespace affected by the CR.

[2020-10-30 16:26] bianpengyuan commented on #26632
This is going to be fixed by https://github.com/istio/istio.io/pull/8354

[2020-10-30 16:36] howardjohn commented on #28091
I think Steven is working on this currently

[2020-10-30 16:41] Stono commented on #28433
Associated I believe: https://github.com/istio/istio/issues/24753#issuecomment-674283173

[2020-10-30 16:53] bianpengyuan commented on #27521
I think this is fixed and it actually leads to a release blocker https://github.com/istio/istio/issues/28189. Closing this and please reopen if you think this is not the case. @richardwxn

[2020-10-30 16:53] #27521 closed

[2020-10-30 16:53] jacob-delgado commented on #25184
Closing this issue as @howardjohn and @nrjpoddar have done the work necessary to get this into 1.8.

[2020-10-30 16:53] #25184 closed

[2020-10-30 16:53] bianpengyuan commented on #27137
@nmittler @linsun Can we close this now? Or is there still item left?

[2020-10-30 18:15] #26632 closed

[2020-10-30 18:44] howardjohn opened #28436 "Auto update common-files when build-tools is built"
Its a bit painful to do this manually

[2020-10-30 19:38] howardjohn opened #28437 "TrustDomainAliases requires Istiod restart"
Following https://preliminary.istio.io/latest/docs/tasks/security/authorization/authz-td-migration/#migrate-trust-domain-without-trust-domain-aliases, we need to restart istiod to change trustdomain aliases. Seems like this should be dynamically updated?

[2020-10-30 19:47] howardjohn commented on #28437
Also just normal trustdomain. This breaks https://preliminary.istio.io/latest/docs/tasks/security/authorization/authz-td-migration/#migrate-trust-domain-without-trust-domain-aliases, requires restart of istiod and pods

[2020-10-30 19:57] howardjohn commented on #28437
cc @ericvn I think this is why its broken

[2020-10-30 20:04] #28189 closed

[2020-10-30 20:08] howardjohn commented on #21394
should see if https://preliminary.istio.io/latest/docs/ops/common-problems/network-issues/#port-conflict-when-configuring-multiple-tls-hosts-in-a-gateway is still accurate today. If it still is, likely won't be once we fix this

[2020-10-30 20:26] linsun commented on #23234
Could we update the message to be one or more namespaces are not enabled for istio injection?

[2020-10-30 20:37] tsjohns9 commented on #28216
Just want to mention that I have this problem too and I am not on GKE, so it is not specific to the platform like. I am on kops 1.16 and using istio 1.6.8.

I tried the workaround to set the global istioNamespace variable but that led to installation errors with not being able to find istiod.

[code]

Here is the override file provided
[code]

[2020-10-30 21:02] Monkeyanator commented on #28433
I'm able to reproduce by curling from a sleep container running with `proxyv2:1.6.13` to `{httpbin-addr}/status/204` on a httpbin instance with `proxyv2:1.7.3`. Setting `envoy.reloadable_features.strict_1xx_and_204_response_headers=false` on the sleep container's sidecar allowed the request to succeed with `204`.

Will look into whether just setting that in our `envoy_bootstrap.json` is the right

[2020-10-30 21:09] lei-tang commented on #20289
The documentation for this command and the motivation behind this work can be found at https://istio.io/v1.4/docs/tasks/security/webhook/ and https://istio.io/latest/blog/2019/webhook/.

In short, the motivation behind this work is to enhance Istio security by letting the operator manage the webhooks, which still applies to istiod. However, the plan for updating this work to stay current with the

[2020-10-30 21:14] howardjohn commented on #28120
I (not too surprisingly) was not able to reproduce this. Do you see this on any environment that we can play around in? Either direct access or we can set up a call perhaps

[2020-10-30 21:30] howardjohn commented on #17499
this is implemented

[2020-10-30 21:30] #17499 closed

[2020-10-30 22:05] howardjohn opened #28445 "istioctl analyze missing schema validation errors"
[code]

No errors reported. `istioctl validate` properly finds the errors.

Should see info about unknown field and baseEjectionTime being negative

[2020-10-30 22:23] howardjohn commented on #28120
bringing slack conversation here:

Suspect there are possible multiple issues. focusing on UF,URX first. Observed on 1.6 <-> 1.7 rollback/forward.

Diff on config:
[code]

Logs:
`client disconnected, failure reason: TLS error: Secret is not supplied by SDS`

[2020-10-30 22:45] kyessenov commented on #28424
Can you show proxy logs?
Did you add sidecar.istio.io/extraStatTags on pods or in mesh config?

[2020-10-30 23:28] howardjohn commented on #28120
I build a custom image with v2 TLS context and its zero downtime. So seems extremely likely due to ^. Looking into what the "proper" fix is

[2020-10-31 03:32] #19044 closed

[2020-10-31 04:07] hzxuzhonghu opened #28455 "Question: Difficult to setup env to do integration test locally"
I tried to run an integration test in my local dev cluster, however several issues i have found:

1. the east-west gateway can not run: my cluster does not support third-party-jwt, and there is no way to set it.

2. istio-eastwestgateway is not available `Test setup error: build instance: generate yaml: failed to get ingress IP for cluster-0`. I have no load balancer.

This is not a good experienc

[2020-10-31 05:04] #25289 closed

[2020-10-31 05:04] #25450 closed

[2020-10-31 07:15] #25628 closed

[2020-10-31 08:02] daixiang0 commented on #28455
+1

[2020-10-31 12:02] Stono opened #28465 "CPU limit behaviour for istio-proxy changes from 1.6+"
**Bug description**
There are numerous known issues with overzealous docker CPU throttling, for certain critical components - such as `istio-proxy`, we do not set CPU limits, only CPU requests.

On `1.5` you could achieve that with:
[code]

Which mapped into the `injection-template`:
[code]

However, on `1.6`, the same configuration in `istiooperator.yaml`, the cpu when omitted is defaulted to `20

[2020-10-31 18:36] nrjpoddar commented on #28326
It's fixed now after updating the CI docker builder images. Un-assigning myself.

[2020-10-31 19:04] mmerickel opened #28466 "probe httpheaders are duplicated when using istio probe rewriting"
**Bug description**

Using a probe (tested with liveness and readiness) with containers running an injected istio-proxy sidecar and probe rewriting enabled causes the `httpHeaders` from the probe to be injected twice into the request.

For example, my test application is receiving the following raw tcp traffic via tcpdump.

I know a tcp echo is not ideal for an HTTP issue, but the problem is with

[2020-10-31 20:19] howardjohn commented on #28465
Is this just an (undocumented) defaulting change or is it also not possible to unset the limit?

[2020-10-31 20:25] Stono commented on #28465
@howardjohn I can't seem to unset it, so it could be both an intentional change but then also an issue that I can't remove it

[2020-11-01 09:10] #25606 closed

[2020-11-01 09:31] #25562 closed

[2020-11-01 14:20] carolynhu commented on #28424
@kyessenov I could reproduce this issue. I add sidecar.istio.io/extraStatTags on pods.

Here is the sample output:
[code]
Which does not contain the "request_host" and "destination_port" dimensions.

Proxy logs:
[config_dump_with_customized_metrics.txt](https://github.com/istio/istio/files/5471013/config_dump_with_customized_metrics.txt)
[config_dump_without_customized_metrics.txt](https://github.

[2020-11-01 20:16] pisto commented on #26627
cc

[2020-11-01 21:06] #28437 closed

[2020-11-02 00:46] howardjohn commented on #28445
seems broken for v1beta1 version

[2020-11-02 00:56] daixiang0 opened #28473 "Docs: clean up dead links"
**Describe the feature request**

I read docs and find some dead links.

I do not put them in one pr since they belong to different areas, may be hard to review in one place.

Some are merged:

- #28458
- #28461
- #28460
- #28464
- #28459
- #28454
- #28462
- #28454
- #28463
- #28453
- #28559
- #28560
- #28561

In some cases, i am not sure right link so i remove directly, please tell me if possible

[2020-11-02 01:27] daixiang0 commented on #28436
Add it as a prow job?

[2020-11-02 03:14] #28242 closed

[2020-11-02 05:08] #25642 closed

[2020-11-02 05:52] ysjjovo commented on #28424
Yes,I patch deployment ```istio-ingressgateway``` with
[code]
It don't work!Here is gateway logs.
[code]

[2020-11-02 06:02] ysjjovo commented on #28424
I followed 1.7 instruction,the demo is ok!the "request_host" and "destination_port" dimensions are in [DefaultStatTags list](https://github.com/istio/istio/blob/release-1.7/pkg/bootstrap/config.go),no need to add annotation "sidecar.istio.io/extraStatTags".But extra tag "request_id" didn't work!

[2020-11-02 06:56] hustshawn opened #28476 "How to build istio/proxy"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
I checked out istio/proxy, and trying to build with `make build` or `make`, it would fail.
[code]
**Affected product area (please put an X in all th

[2020-11-02 06:57] hustshawn commented on #28476
Anyone could suggest what's the best way to build istio/proxy?

[2020-11-02 07:05] tehleet commented on #27666
any update?

[2020-11-02 07:21] connatix-cradulescu commented on #28428
Hi @howardjohn. Here is the data you were asked for:
`
Number of connection to istio-proxy:

Type of connection
Proto Recv-Q Send-Q Local Address           Foreign Address         State
tcp        0      0 0.0.0.0:15021           0.0.0.0:*               LISTEN
tcp        0      0 0.0.0.0:15090           0.0.0.0:*               LISTEN
tcp        0      0 127.0.0.1:15000         0.0.0.0:*

[2020-11-02 07:25] AEGQ commented on #28476
[code]
have a try ...

[2020-11-02 07:47] morlay commented on #28476
Or trying

[code]

it will be simpler and clean than `build-tools-proxy`
Dockerfile: https://github.com/querycap/istio/blob/master/build/istio-envoy-build-env/Dockerfile.istio-envoy-build-env

This used for multi arch support.
https://github.com/istio/istio/issues/26652#issuecomment-714858976

[2020-11-02 08:10] herbguo commented on #28105
hello,
I encountered the same problem, and I have opend all the port,but the remote istio-ingressgateway is not normal running ,It's still 0/1 status , and the log is

`2020-11-02T08:09:14.386567Z	warn	Envoy proxy is NOT ready: config not received from Pilot (is Pilot running?): cds updates: 0 successful, 0 rejected; lds updates: 0 successful, 0 rejected
2020-11-02T08:09:16.386447Z	warn	Envoy prox

[2020-11-02 08:16] daixiang0 commented on #28473
/help

[2020-11-02 09:33] zhengqisong opened #28477 "The host can not visitor internet. istioctl upgrade error"
**Bug description**
The host can not visitor internet.
Use istioctl upgrade version from 1.6.8 to 1.6.13, can not download 1.6.8 files.

**istioctl print info**
[code]

[2020-11-02 10:40] zufardhiyaulhaq commented on #28172
@howardjohn where do you think this can be applied? inside `istioctl analyze`?

[2020-11-02 13:10] hickeyma commented on #28375
@abhassine Where did you get the charts from? Is there a `manifests/charts` directory?

[2020-11-02 13:45] jshum2479 opened #28479 "readiness probe failed if container listens for SSL"
We have setup a readiness probe to a port in our container using ssl, when we have a container that listens to the container address with SSL (instead of all addresses or localhost),  the readiness probe from other pod / sidecar /istiod fails.   The only way to avoid this is to use annotations, essentially take the port out of the mesh:

[code]
If the container is not listens to the container's ip

[2020-11-02 13:51] jshum2479 commented on #28479
Both options of listen to all addresses for the readiness probe or take the port out of the mesh is not a solution at all;  the specific requirement of setting up a ssl port with specific address is for security purpose.

[2020-11-02 14:23] djannot opened #28480 "RBAC doesn't seem to work with Virtual Machines"
**Bug description**

I deployed Istio 1.7.4 and a Virtual Machine.
After enforcing mTLS (with a PeerAuthentication object), I can have the VM accessing a Service running on Kubernetes from the VM and a Service running on the VM from Kubernetes.
So, this part is fine.
Then, I enabled RBAC (by creating an AuthorizationPolicy with `spec: {}` in the istio-system namespace) and get a `RBAC: access deni

[2020-11-02 14:42] howardjohn opened #28482 "Allow enabling gRPC logging with --log_output_level"
Currently we hard code disable: https://github.com/istio/istio/blob/961d87dec7c13d9fe0b428adf2fa48280d064e50/pilot/cmd/pilot-agent/main.go#L174

Would be great if this is controlled by log_output_level so users can control this

[2020-11-02 14:45] howardjohn commented on #28428
Seems like it has many open connections to port 5000. Can you give more info about what is on this port? Looking at config dump and /clusters may help: https://github.com/istio/istio/wiki/Troubleshooting-Istio

[2020-11-02 14:46] howardjohn commented on #28172
Yes

[2020-11-02 14:47] amckee23 commented on #23855
I am seeing the same issue on 1.7.4

It seems to be approx 1/4 requests to the endpoint are impacted.  Interestingly only when the content type is not application/json.  If i set it correctly i see traffic working the issue appears if i change it to text/plain.

[2020-11-02 15:04] Monkeyanator commented on #28473
Don't we have a CI step checking for dead links? Wonder why so many are getting past it (or maybe we only check the links on check-in?)

[2020-11-02 15:07] howardjohn commented on #24707
Very similar to MatchesAnalyzer, although MatchesAnalyzer is not this sophisticated (yet?)

[2020-11-02 15:10] howardjohn commented on #23855
@amckee23 any chance you have some reproducible config?

If not, is it possible for you to get a config dump and debug logs from the ingress pod? see https://github.com/istio/istio/wiki/Troubleshooting-Istio#collecting-information-2 for more info

[2020-11-02 15:22] howardjohn opened #28483 "Provide end to end example of Metrics, Logging, and Tracing correlation"
Grafana has been blogging about correlating metrics, logs, and tracing for quite some time now (see https://grafana.com/blog/2020/10/27/announcing-grafana-tempo-a-massively-scalable-distributed-tracing-system/, among many others). Given Istio provides all 3 of these things, it seems like a good value-add to at the very least provide a sample or blog post on how to set this up with Istio.

I have a

[2020-11-02 15:23] howardjohn commented on #28479
This seems to be just caused by the listener address, not SSL related, which is tracked in https://github.com/istio/istio/issues/25177. Is that correct or did I miss something? thanks

[2020-11-02 15:24] howardjohn commented on #28476
@istio/wg-networking-maintainers-data-plane it would be great to have a doc on this. I have struggled as well

[2020-11-02 15:35] totallyGreg commented on #28107
Does adding this test make sense?

`+++ b/operator/cmd/mesh/manifest-generate_test.go
@@ -566,6 +566,7 @@ func TestConfigSelectors(t *testing.T) {
                // First we fetch all the objects for our default install
                cname := "istiod"
                deployment := mustFindObject(t, objs, cname, name.DeploymentStr)
+               hpa := mustFindObject(t, objs, cname, name.HPASt

[2020-11-02 15:58] jshum2479 commented on #28479
I suspect that's the case

netstat -an | grep LISTEN
tcp        0      0 172.18.0.14:9003        0.0.0.0:*               LISTEN

curl -v -L --insecure https://172.18.0.14:9003/weblogic/ready
*   Trying 172.18.0.14...
* TCP_NODELAY set
* Connected to 172.18.0.14 (172.18.0.14) port 9003 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* successfully set certificate verify locations:
*   CAfile: /e

[2020-11-02 16:20] poussa commented on #28422
@howardjohn thanks for the info. The operator api does not talk about how to do this. Can you share a pointer how to do it?

Escaping the offending character does not solve the issue with the `--set` flag approach.

[2020-11-02 16:31] howardjohn commented on #28422
you can see some examples in https://preliminary.istio.io/latest/docs/setup/install/istioctl/#customize-istio-settings-using-the-helm-api

[2020-11-02 16:33] amckee23 commented on #23855
Sorry for the delay @howardjohn i was doing a little extra digging.

for us it looks to be an issue when the upstream server returns an exception and istio tries to reuse the connection.  Adding a destination rule with the following:
`apiVersion: networking.istio.io/v1alpha3
kind: DestinationRule
metadata:
  name: my-flakey-host
spec:
  host: my-flakey-host.dev.svc.cluster.local
  trafficPolicy:

[2020-11-02 16:39] zufardhiyaulhaq commented on #28172
I am taking this one

[2020-11-02 16:42] piotrmsc commented on #23855
@howardjohn I did not have later on time to test on new version.

@amckee23 what do you exactly mean by "server returns an exception"? In my scenario, I reproduced it with example httpbin and there wasn't any server-side errors.

Did limiting connectionPool : maxRequestsPerConnection  as above helped in your case?

[2020-11-02 16:47] #27257 closed

[2020-11-02 16:50] amckee23 commented on #23855
Yes sorry im not suggesting the exception was the reason for the issue.  I suspect (although i haven't had time to go into the next level of detail) that the issue is the server is closing connections incorrectly in-between requests. We are running our regression packs now but we have gone from ~25 failures per run to so far 0.

[2020-11-02 17:23] udaymadu commented on #24018
Can we make this issues has priority and can get it started.

[2020-11-02 17:30] howardjohn opened #28489 "Operator resources ignored"
[code]

[code]

You can see it does nothing

[2020-11-02 17:33] connatix-cradulescu commented on #28428
On port 5000 is running the APP. I will enable tomorrow the sidecar again and I will put the requested info.

Thank you!

[2020-11-02 17:34] howardjohn opened #28491 "Improve ability to set feature flags in tests"
Current problems:
* All tests need to handle setting and reset the flag, this leads to bugs and excessive code
* Two tests may set the flag to conflicting settings
* There are often race conditions in the setting

I think ideally we would have a `SetFlagForTest(t)` option. This would mutex protect and automagically handle cleanup.

The tricky thing is we do not want mutex in the non-test path. may

[2020-11-02 17:35] poussa commented on #28401
Yeah, this seems to be working for the operator

[code]

[2020-11-02 17:36] nmittler commented on #28105
@herbguo did you follow the new docs at https://preliminary.istio.io/latest/docs/setup/install/multicluster/primary-remote/?

[2020-11-02 17:38] poussa commented on #28422
Yeah, the below seems to be working with the operator.

[code]

[2020-11-02 17:43] howardjohn commented on #28465
1.5 chart:
[code]

Seems like it would set it if you didn't have an annotation, and we didn't support setting limit via annotation

[code]

Suggest the CPU is set there as well

How did you actually get this below?

[2020-11-02 17:47] howardjohn commented on #27938
`istioctl analyze` has a `--failure-threshold` which would do similar

@esnible I think `validate` is a subset of analyze, do we intend to keep both around? Is validate deprecated in favor of analyze? Should it be?

[2020-11-02 17:57] bianpengyuan commented on #28424
@ysjjovo Can you get a config dump from ingressgateway (mainly the bootstrap part if other part contains sensitive information, so that we can make sure `request_id` is there in tag list): https://github.com/istio/istio/wiki/Troubleshooting-Istio#collecting-information-2

Also please note it is very dangerous to put request_id as a metric dimension. It is going to explode metrics cardinality, your

[2020-11-02 18:10] nmittler commented on #26990
@jurschel @Sathishkunisai This was never a well tested or maintained configuration, unfortunately. Starting in 1.8 multicluster is moving to Beta, but without the use of the `.global` hack ... we don't recommend or document this approach for beta.

I've heard some folks have had some amount of success with 1.7.3, so you could try upgrading. I think the best approach at this point, however, would b

[2020-11-02 18:42] keerthig9 opened #28493 "TLSV1_ALERT_UNKNOWN_CA for some deployments in cluster and Gateway with tlsMode SIMPLE"
**Bug description**
We are migrating istio from 1.4.5 to 1.7.3 version, we recreated our cluster with istio 1.7.3 using istioctl. We started experiencing 503 errors for deployments with error TLSV1_ALERT_UNKNOWN_CA in ingressgateway pods. We are using Gateway with tlsMode: SIMPLE and ideally it shouldn't fail with CA error. Also, out of 5 deployments, 2 deployments started working after a day with

[2020-11-02 18:45] ylu36 commented on #28000
@howardjohn Going back to this topic, I don't know if others have experienced this issue as port 22 for SSH connection should be a common use case. I have this configuration but still didn't work. I tailed live log and didn't even see requests going into the SSH service container or the istio proxy container
[code]

[2020-11-02 18:55] tbarrella commented on #25933
Keeping this open for now (the option isn't removed yet)

[2020-11-02 19:06] carolynhu commented on #28424
I saw a kind of inconsistency, using `kubectl exec "$(kubectl get pod -l app=productpage -o jsonpath='{.items[0].metadata.name}')" -c istio-proxy -- curl 'localhost:15000/stats/prometheus' | grep istio_requests_total` which is the output i got above.

Well, on prometheus, I could see `request_host` and `destination_port`, like:
[code]

and the corresponding piece of istio-ingressgateway logs:
[cod

[2020-11-02 21:09] linsun commented on #28299
@ostromart looks like this is only fixed in master but not in 1.7?  If so, could you cherry pick this to 1.7 as well?

cc @morvencao @rvennam

[2020-11-02 21:44] jurgenweber commented on #25642
yeah, well I still feel this is valid until otherwise notified. Thanks

[2020-11-02 22:34] howardjohn commented on #28066
When/if https://github.com/envoyproxy/envoy/pull/13832 merges we can pull this in. Seems likely to mean it may be until 1.9 though

[2020-11-02 22:39] istio-testing opened #28503 "[release-1.8] Convert Stackdriver and Stats telemetry tests to use Multicluster"
Manual cherrypick required.

#27915 failed to apply on top of branch "release-1.8":
[code]

[2020-11-02 23:07] istio-testing opened #28504 "[release-1.7] Disable strict_1xx_and_204_reponse_headers in envoy bootstrap config"
Manual cherrypick required.

#28450 failed to apply on top of branch "release-1.7":
[code]

[2020-11-02 23:49] howardjohn opened #28506 "Sidecar.Ingress adds unneeded match on Pod IP"
Matches for Sidecar.Ingress pod:
[code]

Matches without Ingress section:
[code]

I am fairly sure `addressPrefix` is a legacy and we should not be modifying this when sidecar.Ingress is in place

[2020-11-03 00:22] howardjohn opened #28510 "Sample samples/multicluster/expose-istiod-https.yaml fails istioctl analyze"
[code]

Seems like we should not suggest config that triggers a warning

cc @stevenctl @linsun

[2020-11-03 00:23] howardjohn opened #28511 "istioctl analyze: dedupe outputs"
After updating the control plane on a 1k pod cluster, I ran analyzer. I get spammed with many many lines of
[code]

it would be useful if this could be deduped in some way.

[2020-11-03 00:51] daixiang0 commented on #28511
Use regex or some rules?

[2020-11-03 00:53] daixiang0 commented on #28476
@howardjohn put doc under istio repo or proxy repo?

[2020-11-03 01:43] anannaya commented on #25449
My header would be like x-auth-request-groups : 'CN=EMSUDEMY,OU=Groups,O=cco.xxx.com, CN=all-xxxx-people,OU=xxxx Groups,O=cco.xxxx.com, CN=xxxxxxxxx,OU=xxxx Groups,O=cco.xxxx.com' now I would like match * all-xxxx-people*

[2020-11-03 01:59] istio-testing opened #28518 "[release-1.6] Infer auto tls for headless service"
Manual cherrypick required.

#27105 failed to apply on top of branch "release-1.6":
[code]

[2020-11-03 01:59] istio-testing opened #28519 "[release-1.7] Infer auto tls for headless service"
Manual cherrypick required.

#27105 failed to apply on top of branch "release-1.7":
[code]

[2020-11-03 01:59] istio-testing opened #28520 "[release-1.7] Infer auto tls for headless service"
Manual cherrypick required.

#27105 failed to apply on top of branch "release-1.7":
[code]

[2020-11-03 01:59] istio-testing opened #28521 "[release-1.6] Infer auto tls for headless service"
Manual cherrypick required.

#27105 failed to apply on top of branch "release-1.6":
[code]

[2020-11-03 02:01] #28309 closed

[2020-11-03 02:11] Monkeyanator commented on #28466
The duplication is happening here: https://github.com/istio/istio/blob/master/pilot/cmd/pilot-agent/status/server.go#L447-L461

[2020-11-03 02:12] carryxyh opened #28523 "How to debug istio's pilot component"
How to debug the pilot component of istio? I try to use telepresence, but telepresence can only forward traffic on a specific port to the local.

I prefer a way to debug the pilot all the way (meaning from the start). Is there any way or suggestion?
Thanks.

[2020-11-03 02:35] tony-liuliu opened #28524 "When using istio to proxy external https requests, applying some AuthorizationPolicy will cause the proxy to fail"
When using istio to proxy external https requests, applying some AuthorizationPolicy will cause the proxy to fail. I am not sure if this is a bug. But I think this must be a problem, such as the envoy.

The following is my case:
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: www.xxx.com-proxy
spec:
  selector:
    istio: ingressgateway # use istio default ingress gateway

[2020-11-03 02:50] #28519 closed

[2020-11-03 02:50] #28518 closed

[2020-11-03 02:51] howardjohn commented on #28523
What exactly are you looking to debug? if you need access tocertain ports you can use `kubectl port-forward`

[2020-11-03 02:53] howardjohn commented on #28493
Can you get a configdump from the ingress pod? SEe https://github.com/istio/istio/wiki/Troubleshooting-Istio

Do you have any other Gateways that are MUTUAL type?

[2020-11-03 02:56] howardjohn commented on #13138
We now set default to
[code]

[2020-11-03 02:58] howardjohn commented on #13279
This is not an Istio bug, we provide the routing to support either rewriting, passing that url through, etc. For help setting up Grafana please refer to grafana docs/github/support.

That being said, this config should work:
[code]

[code]

[2020-11-03 02:58] #13279 closed

[2020-11-03 02:58] linsun commented on #28510
Yes, it is an analyzer bug imho, see https://github.com/istio/istio/issues/27960

[2020-11-03 02:59] linsun commented on #28510
Actually the msg is changed from error to warning, I think warning is correct because it is commonly to have caCertificates but not needed here.

[2020-11-03 03:00] linsun commented on #27960
Close this since this is changed to warning now, thanks @shamsher31 !

[2020-11-03 03:00] #27960 closed

[2020-11-03 03:01] howardjohn commented on #28510
I am not sure its not needed here - we are not actually verifying the identity of Istiod. The warning is legit. If someone were to impersonate the Istiod service somehow we have no protection.

[2020-11-03 03:01] howardjohn commented on #13559
Given our current plans moving away from MCP I don't think we will implement this

[2020-11-03 03:01] #13559 closed

[2020-11-03 03:06] tmshort commented on #13138
Where is this specified and/or what was the PR?

[2020-11-03 03:07] howardjohn commented on #16585
@yangminzhu is this solved by https://github.com/istio/istio/issues/27984?

[2020-11-03 03:08] howardjohn commented on #7990
This is a duplicate of https://github.com/istio/istio/issues/17763

[2020-11-03 03:08] #7990 closed

[2020-11-03 03:09] howardjohn commented on #17933
test is still skipped @istio/wg-security-maintainers

[2020-11-03 03:10] howardjohn commented on #13138
PR https://github.com/istio/istio/pull/27500

[2020-11-03 03:13] #18789 closed

[2020-11-03 03:14] howardjohn commented on #18990
Fixed by https://github.com/istio/istio/pull/25158

[2020-11-03 03:14] #18990 closed

[2020-11-03 03:16] howardjohn commented on #20611
[code]

Other common commands do not support this
[code]
[code]
Personally, I don't think this is something we should do

[2020-11-03 03:17] howardjohn commented on #20347
This is essentially the same as https://github.com/istio/istio/issues/26009, lets tackle this in that issue which has some good discussion. thanks!

[2020-11-03 03:17] #20347 closed

[2020-11-03 03:22] linsun commented on #28510
Should we just configure mtls among ingress gw and istiod?  could that work?

[2020-11-03 03:23] howardjohn commented on #28510
if you do mtls then istiod will verify the identity as the gateway instead of from the jwt token. Not sure what we should do here.

[2020-11-03 03:24] howardjohn commented on #21058
closing as we haven't gotten any followup info on this. We can proceed in https://github.com/istio/istio/issues/27585#issuecomment-700604617

[2020-11-03 03:24] #21058 closed

[2020-11-03 03:26] howardjohn commented on #21186
consider this a duplicate of https://github.com/istio/istio/issues/28015

[2020-11-03 03:26] #21186 closed

[2020-11-03 03:27] #28390 closed

[2020-11-03 04:04] akhalyavka commented on #22997
@billyshambrook We have exactly the same use case. Is your controller is publicly available by any chance?

[2020-11-03 04:29] hustshawn commented on #28476
Thank you all for the suggestion.  I am trying the way @morlay suggest.

@morlay more context to you, the reason I am starting to build the istio envoy is I need to do some hacks on the envoy binary. Actually I started from the official `envoyproxy/envoy`, and built the binary with my hack(`http_parser` source code change) and shipped to `istio-proxy` image, but it can not work as expected. https:

[2020-11-03 05:02] #23115 closed

[2020-11-03 05:04] #25491 closed

[2020-11-03 05:04] #25595 closed

[2020-11-03 05:04] #25634 closed

[2020-11-03 05:06] yangminzhu commented on #16585
yes, but we're evaluating if glob matching would be good enough for most use cases.

---

@wereeder  @jpatters  @edgel  @nak3  @lgarrett-isp  @DanSalt @ajit-hybris  @aguromano @ajitchahal  @mcieplak @rolandkool

I'm wondering would the [glob matching](https://en.wikipedia.org/wiki/Glob_(programming)) good enough for your use cases? It looks like most examples (e.g. `\/.*swagger.*` or `/countries/*

[2020-11-03 05:26] keerthig9 commented on #28493
Config from ingress pod:
[code]

[2020-11-03 05:28] keerthig9 commented on #28493
Question: Do you have any other Gateways that are MUTUAL type?

- We have two Gateway , one in istio-system namespace and other one in custom-namespace and both are using SIMPLE mode. Other gateway in custom-namespace works fine and we have this issue in istio-system namespace.

[2020-11-03 05:30] howardjohn commented on #28493
the config dump seems to just be showing the bootstrap configuration and is missing all the interesting portion

[2020-11-03 05:57] shamsher31 opened #28527 "istioctl install: Duplicate warning: cluster does not support third party JWT authentication"
May be caused by https://github.com/istio/istio/pull/28253

If you install istio, the actual message for showing which version and components are being installed is hidden between the JWT warning and is hard to read..

[code]

[2020-11-03 06:08] ysjjovo commented on #28424
Thanks for your reply!Here is the whole ingressgateway pod logs.
[code]

[2020-11-03 06:15] keerthig9 commented on #28493
configdump is over 10000 lines and i need to remove lot of content which i can't share. Is there anything specific your looking for?

[2020-11-03 06:15] carryxyh commented on #28523
Hi, I want to debug the entire life cycle of istio components. Take the pilot as an example. I want to debug its startup, accept configuration, push configuration to sidecar, etc.
Just like using `dlv` to remotely debug a normal golang project. I want to know how it works. Is there any good way?

[2020-11-03 06:18] Siddharthk opened #28528 "Istio telemetry causing prometheus to crash"
Istio telemetry is causing prometheus pod in getting evicted. Istio telemetry is giving pod IP and random ports instead of service names.

![image](https://user-images.githubusercontent.com/718854/97954657-22d64880-1dca-11eb-8c9d-cf77c3281b70.png)

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[x] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experi

[2020-11-03 07:31] connatix-cradulescu commented on #28428
Hi @howardjohn . I did dump all the logs and configuration. I cant share the logs here, cause might have sensitive data.  I will read them and try to understand if there is any issues. At this moment I did not balance all the traffic through istio ingress gateway, only 5%, the rest of 95% is going through old Nginx ingress. I am wondering if this can cause this issue?  Does the istio proxy have di

[2020-11-03 07:46] #28476 closed

[2020-11-03 08:06] sagyvm commented on #26990
@nmittler Even Istio 1.7.3 does not help. Still getting NR from Ingress gateway of remote cluster.

[2020-11-03T07:59:45.573Z] "- - -" 0 NR "-" "-" 0 0 0 - "-" "-" "-" "-" "-" - - 192.168.62.201:15443 192.168.5.201:49230 - -
[2020-11-03T07:59:49.995Z] "- - -" 0 NR "-" "-" 0 0 0 - "-" "-" "-" "-" "-" - - 192.168.62.201:15443 192.168.1.103:55900 - -
[2020-11-03T07:59:50.006Z] "- - -" 0 NR "-" "-" 0

[2020-11-03 08:17] abhassine commented on #28375
Hello @hickeyma

I used this charts https://github.com/abhassine/istio/tree/master/manifests/charts/base but without success.

Finally, I was able to deploy ISTIO with Helm3 through ISTIO Operator.

I just included the configuration **profile manifest** under i**stio-operator/templates** into ISTIO OPERATOR charts removed namespace.yaml

[code]
by this

[code]
and I was able to deploy successfully

[2020-11-03 08:49] connatix-cradulescu commented on #28428
Seams the issue is coming from istio ingress being too low. We face the next type of error reading from pipe:
[code]

[2020-11-03 09:02] nguyenhoaibao opened #28531 "Missing istio_requests_* and istio_response_* metrics"
**Bug description**

We have several services running behind istio-ingressgateway.

The `istio_requests_*` and `istio_response_*` metrics don't exist in both the gateways and the sidecar, but the `istio_tcp_*` metrics still exist.

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[x] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Develope

[2020-11-03 09:37] connatix-cradulescu commented on #28398
Seams the issue is coming from istio ingress being too low. We face the next type of error reading from pipe:
[code]
We dont face this king of issues with Nginx ingress.  Any advice?
Might be helpful https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.server.kestrel.core.kestrelserverlimits.minrequestbodydatarate?view=aspnetcore-3.1

[2020-11-03 10:04] san360 commented on #11723
Any tentative plan to incorporate this in upcoming release?

[2020-11-03 10:28] herbguo commented on #28105
Thank you! I follow the current release docs , the version is 1.7.4. And I found the problems ,the remote cluster install profile lack the item `profile: remote` in the docs. I add the content and lanch pr to the repository.

[2020-11-03 10:33] anannaya opened #28533 "Support Autherization Policy rule with substring match."
My header is  be like x-auth-request-groups : 'CN=EMSUDEMY,OU=Groups,O=cco.xxx.com, CN=all-xxxx-people,OU=xxxx Groups,O=cco.xxxx.com, CN=xxxxxxxxx,OU=xxxx Groups,O=cco.xxxx.com'

 now I would like match * all-xxxx-people*.

I undestand from the document that we can only match Prefix/Suffix.    Is there any way I can apply Autherization based on the substring match.

[2020-11-03 10:35] mkuligow opened #28534 "Multicluster obsolete options"
**Bug description**
During replicated multicluster deployment, i get issue about globalDomainSuffix and includeEnvoyFilter options:

[code]

[ ] Docs
[X ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
Installation complete successfully
**Steps to repr

[2020-11-03 11:02] andrascz commented on #24720
We are hitting this with a https://github.com/DandyDeveloper/charts/tree/master/charts/redis-ha deployment with HAproxy. The envoy sidecar process uses an increasing amount of memory over time, and the difference between opened and closed connections grows too. This is after two hours:
[code]

[2020-11-03 11:48] 2ZZ commented on #28493
Also seeing this issue. How can I send you a dump @howardjohn?

[2020-11-03 13:33] wimo7083 commented on #26152
@ppawiggers Thank you for your example and is probably the best concise example I've seen for this problem.

I don't understand how the workloadSelector works and I have a slightly different scenario:

ingressgateway is in one namespace, which sends traffic to a pod in a manner described by virtualservice that resides in the second namespace.

In this example, I'd like to set a global limit which

[2020-11-03 13:49] esnible commented on #27364
Closing because cannot reproduce.

[2020-11-03 13:49] #27364 closed

[2020-11-03 14:15] ericvn commented on #28436
We would either have to wait some period of time, say 45 mins, and then look for an image that was updated in the last 45 mins (and hope it was caused by the same PR that tripped the job). If multiple changes went in near each other, as long as the image build wasn't slow and missed, both automator jobs might pick up the same one, but that might not be too bad. I have some code in my release-build

[2020-11-03 14:20] howardjohn commented on #28436
can't we do it in the actual job that builds the image as well? do we don't
need a wait?

On Tue, Nov 3, 2020, 6:15 AM Eric Van Norman <notifications@github.com>
wrote:

[2020-11-03 14:20] jamesmedice commented on #25578
as i understood, changing the

  - issuer: "http://keycloak.keycloak-ns:8080/auth/realms/master"
    jwksUri: "http://keycloak.keycloak-ns.svc.cluster.local:8080/auth/realms/master/protocol/openid-connect/certs"

from the cluster ip to nodeport it worked, using a valid token for me i get the message "Jwt issuer is not configured"

[2020-11-03 14:27] #18221 closed

[2020-11-03 14:44] howardjohn commented on #21430
[code]

I think this can be considered resolved

[2020-11-03 14:45] shamsher31 commented on #28394
@nak3 Found this info https://github.com/istio/istio/blob/master/manifests/profiles/PROFILES.md

[2020-11-03 14:46] howardjohn commented on #28428
I don't think the ingress pod knows how much traffic % it gets? Would be interesting to look at /stats and grep for "connections" to get envoy's view, as well as see the number of endpoints for the backend on 5000 and see if it correlates to the number of connections.

@lambdai may have more insight as well

[2020-11-03 14:48] esnible commented on #23892
@therealmitchconnors should we backport https://github.com/istio/istio/pull/27849 to 1.8?

[2020-11-03 14:48] howardjohn commented on #28493
Specifically looking for the listener on port 443/8443. But the full one can be useful to avoid back and forth. You can send me on slack if you need to (same username)

[2020-11-03 14:51] howardjohn commented on #28523
You can use dlv (https://medium.com/@linsun_unc/debug-istio-components-with-goland-b0f9f9f60384 may help) just like any other golang app. You can also run it locally in a debugger connected to a remote k8s cluster. otherwise the localhost:8080/debug/* endpoints and logs are a good start

[2020-11-03 14:56] stevehipwell commented on #25728
It'd be really useful to have this documented either way; the current documents are incomplete/incorrect.

[2020-11-03 14:56] shamsher31 commented on #28401
Closing based on https://github.com/istio/istio/pull/28478#issuecomment-721173020

[2020-11-03 14:56] #28401 closed

[2020-11-03 14:59] howardjohn commented on #28107
yeah absolutely the test does - surprised we did not have that already

[2020-11-03 15:12] stevehipwell commented on #25728
@sanigo do you have the config that you used to get this working correctly?

[2020-11-03 15:35] howardjohn commented on #28493
For @2ZZ , this is fixed by https://github.com/istio/istio/pull/28273. May be different issue for @keerthig9 . Can verify by looking for anything with `file-root` in the config dump (at the bottom)

[2020-11-03 15:43] howardjohn commented on #21572
This is added in https://preliminary.istio.io/latest/docs/setup/install/helm/! For 1.8.

https://github.com/istio/istio/issues/27147 tracks promoting this to beta. Thanks everyone

[2020-11-03 15:43] #21572 closed

[2020-11-03 15:49] howardjohn commented on #21990
Given current plans to use tokens this no longer seems desired. I agree with Steve

[2020-11-03 15:52] howardjohn commented on #22095
remaining work:
Envoy filters - https://docs.google.com/document/d/1f_emnIfPX3i_rLFzNYmUQvsKxuUknXWv_qJZ3RYBn9U/edit
Mesh expansion - https://github.com/istio/istio/issues/25933

[2020-11-03 15:54] #18294 closed

[2020-11-03 15:54] howardjohn commented on #25933
Is the plan to just remove this now for Istio 1.9? Or anything else we need to do?

[2020-11-03 15:54] howardjohn commented on #22341
@yangminzhu fixed by https://github.com/istio/istio/pull/27906 or needs more work?

[2020-11-03 15:56] howardjohn commented on #22443
The backport PR, https://github.com/istio/envoy/pull/281, causes another bug which is more frequent: https://github.com/envoyproxy/envoy/issues/13874. @lambdai is looking into it

[2020-11-03 15:57] howardjohn commented on #28031
I think once https://github.com/istio/istio/pull/28517 and https://github.com/istio/release-builder/pull/448 land this is done

[2020-11-03 15:58] howardjohn commented on #22536
looks like this is resolved. Note we are tracking better support for rate limit in https://github.com/istio/istio/issues/20952

[2020-11-03 15:58] #22536 closed

[2020-11-03 16:00] howardjohn commented on #22733
Closing as this is assumed fixed by https://github.com/istio/istio/pull/17176 and has no response for half a year. Thanks!

[2020-11-03 16:00] #22733 closed

[2020-11-03 16:02] howardjohn opened #28536 "verify-install does not work"
[code]

running 1.8

[2020-11-03 16:02] howardjohn commented on #28536
cc @esnible to prioritize

[2020-11-03 16:03] howardjohn commented on #22740
Fixed by https://github.com/istio/istio/pull/26145

[2020-11-03 16:03] #22740 closed

[2020-11-03 16:13] howardjohn commented on #23219
This is essentially the same as https://github.com/istio/istio/issues/23232,. lets track there. Thanks!

[2020-11-03 16:13] #23219 closed

[2020-11-03 16:15] howardjohn commented on #23889
https://docs.google.com/document/d/1k9V3D5jhZdFvEdJhw-T7mHCEIjkK0hFSdvtJIWEqIs0/ is a design for this

[2020-11-03 16:19] howardjohn commented on #23493
Closing as a duplicate of https://github.com/istio/istio/issues/23605. Still valid though. Thanks!

[2020-11-03 16:19] #23493 closed

[2020-11-03 16:21] christianAckman commented on #28534
these options were released in 1.7.4

[2020-11-03 16:22] howardjohn commented on #24047
is this done @ericvn ?

[2020-11-03 16:24] howardjohn commented on #24441
1.5 is EOL

[2020-11-03 16:24] #24441 closed

[2020-11-03 16:38] howardjohn commented on #24628
anymore info? also would help to try on latest version, 1.4 is quite old now https://istio.io/latest/news/support/announcing-1.4-eol-final/

[2020-11-03 16:39] howardjohn commented on #24636
Is this still relevant given we do not install and manage addons?

[2020-11-03 16:39] howardjohn commented on #24672
Closing per ^

[2020-11-03 16:39] #24672 closed

[2020-11-03 16:40] howardjohn commented on #24671
Given the deprecation of istiocoredns and since we do not backport features to old versions, I do not think this will be done. Thanks. See https://istio.io/latest/blog/2020/addon-rework/ for more info

[2020-11-03 16:40] #24671 closed

[2020-11-03 16:40] howardjohn commented on #24711
closing per https://github.com/istio/istio/issues/24711#issuecomment-668728070

[2020-11-03 16:40] #24711 closed

[2020-11-03 16:41] smawson commented on #21990
Yeah I think this is obsolete and can be closed.

[2020-11-03 16:43] #21990 closed

[2020-11-03 16:43] ericvn commented on #24047
I just need to update the documentation in the repo now that the other PRs have merged.

[2020-11-03 16:44] #28527 closed

[2020-11-03 16:45] howardjohn commented on #24924
Given https://istio.io/latest/news/support/announcing-1.5-eol-final/ I think there is no action here. Users can upgrade kiali themselves though, or preferably update Istio as well.

[2020-11-03 16:45] #24924 closed

[2020-11-03 16:45] howardjohn commented on #27091
@therealmitchconnors any info?

[2020-11-03 16:47] howardjohn commented on #25144
Please file an issue in https://github.com/Maistra, this is not an istio code

[2020-11-03 16:47] #25144 closed

[2020-11-03 16:52] howardjohn commented on #25493
Closing as resolved/mitigated by https://github.com/istio/istio/pull/24737. At the very least its a known bug actively tracked in https://github.com/istio/istio/issues/11130

[2020-11-03 16:52] #25493 closed

[2020-11-03 16:54] howardjohn commented on #25745
Closing as this is fixed and not supported

[2020-11-03 16:54] #25745 closed

[2020-11-03 16:56] howardjohn commented on #25840
fixed by https://github.com/istio/istio/commit/b6e2e45a75af160db5e7cf08ed6919dc12daa678

[2020-11-03 16:56] #25840 closed

[2020-11-03 16:57] howardjohn commented on #25926
needs-triage is deleted

[2020-11-03 16:57] #25926 closed

[2020-11-03 16:59] howardjohn commented on #25992
@nrjpoddar can you take a look?

[2020-11-03 17:00] howardjohn commented on #26018
Closing as this is working as intended and on an unsupported version: https://istio.io/latest/news/support/announcing-1.3-eol-final/. Thanks!

[2020-11-03 17:00] #26018 closed

[2020-11-03 17:04] howardjohn commented on #26154
Would be great to add this but it doesn't seem possible without AWS adding explicit support for Istio. Given they added support for app mesh, its clearly possible but the ball is in their court: https://github.com/aws/containers-roadmap/issues/682

[2020-11-03 17:06] howardjohn commented on #26183
What endpoint was it checking? if its an admin (port 15000) endpoint it would make sense, the XDS pushes are on a shared thread and could lock out any calls.

Previously hitting port 15021/healthz/ready would indirectly call the admin API, now we are caching this result so I think we would avoid this issue. Since #26820

[2020-11-03 17:08] howardjohn commented on #26222
@esnible is this because we only are reading from namespace `bar-ns`?

I think analyzer should analyze all namespaces by default..

[2020-11-03 17:14] howardjohn commented on #26239
fixed by https://github.com/istio/api/pull/1582

[2020-11-03 17:14] #26239 closed

[2020-11-03 17:16] howardjohn commented on #26375
We added an option to the template, users can add `[X]` next to it and automatically add this, even when not in the org.

[2020-11-03 17:16] #26375 closed

[2020-11-03 17:19] howardjohn commented on #26493
Our new documentation now longer has any `*.global` mentions: https://preliminary.istio.io/latest/docs/setup/install/multicluster/. Thanks for the tips above on swapping out for custom.domain!

[2020-11-03 17:19] #26493 closed

[2020-11-03 17:20] howardjohn commented on #26476
@hzxuzhonghu can you take a look?

@ufese if you have an opportunity I would be very interested if this is fixed on 1.7 or 1.8 (only pre-release builds are available currently). we change a lot in this area

[2020-11-03 17:20] #26503 closed

[2020-11-03 17:21] howardjohn commented on #26504
100% agree, but lets track in https://github.com/istio/istio/issues/25760. Thanks!

[2020-11-03 17:21] #26504 closed

[2020-11-03 17:32] howardjohn commented on #26547
Does envoy even support configuring log levels via XDS? perhaps with RTDS?

[2020-11-03 17:35] MirtoBusico commented on #25578
@jamesmedice @yangminzhu
Well, I'm still not able to use Keycloak with https protocol.
I have to use
- keycloak exposed using nodeport
- use the address of the cluster node used by istio ingressgateway
- use the http protocol

Still trying to use https protocol using a private Certification Authority to issue certificates

Up to today I have done:

- I generated the server key and certificate sign

[2020-11-03 17:38] howardjohn commented on #26598
I think we should keep this. It doesn't hurt to have it, right? And allows people to continue to use mounted certs - which is supported

[2020-11-03 17:44] howardjohn opened #28540 "Improve ProxyMetadata and env.RegisterVar support"
Currently, we stick ProxyMetadata into `env:` in injection/gateway template. Then the code reads env vars.

This is a bit tricky for various reasons. Gateways will not get dynamically updated from configmap changes, or may suffer from other proxy-config on gateway issues. VMs are also a bit tricky.

We should have a way to consistently get proxy metadata set in places we expect it.

One such idea

[2020-11-03 17:57] howardjohn commented on #28531
Can you give more info about your services and config? Services need to be http type to get these metrics. see https://preliminary.istio.io/latest/docs/ops/configuration/traffic-management/protocol-selection/

[2020-11-03 17:58] howardjohn commented on #28528
cc @bianpengyuan

[2020-11-03 18:12] howardjohn commented on #26690
Verfiied in 1.8 this does not crash as we have the envoy fix

[2020-11-03 18:12] #26690 closed

[2020-11-03 18:16] esnible commented on #28536
Using 1.8 alpha 2, I get

[code]

Using release-1.8 branch, compiled myself, it seems to work.

[2020-11-03 18:17] howardjohn commented on #26010
duplicate of https://github.com/istio/istio/issues/26751, lets track in one place

[2020-11-03 18:17] #26010 closed

[2020-11-03 18:18] howardjohn commented on #26754
done: https://github.com/istio/istio/blob/2be2ef65a57ac5652d6629e686c75bc4f51d25eb/security/pkg/nodeagent/cache/secretcache.go#L857

[2020-11-03 18:18] #26754 closed

[2020-11-03 18:19] howardjohn commented on #26760
this might be the same as https://github.com/istio/istio/issues/24512, although looks like this is not weighted cluster

[2020-11-03 18:40] esnible opened #28541 "Ingress fails to start with bogus Gateway"
I had a problem.  Install of 1.8.0-alpha.2 failed when the IngressGateway pod didn't start.  I verified deleting a particular Gateway let the IngressGateway start, and restoring that Gateway caused a failure.

If the following Gateway is present, the Istio Ingress won't become ready.

[code]

Envoy rejects config from Pilot with

[code]

`istioctl analyze` doesn't notice this.  Possible related ht

[2020-11-03 18:44] howardjohn commented on #26793
The responsibility of Istio is to apply the config field to Envoy. We cannot support users misconfiguring Envoy, or configuring envoy fields with bugs. Note the docs in https://istio.io/docs/reference/config/networking/envoy-filter/ that this is a break glass API.

if the field is not working as Envoy docs suggest I suggest filing a bug in envoy repo. Thanks!

[2020-11-03 18:44] #26793 closed

[2020-11-03 18:47] howardjohn opened #28542 "Log mTLS permissive warning only once"
[code]

log is very spammy. Should log it once for the lifetime of a pod

[2020-11-03 18:48] Monkeyanator commented on #28433
This should be fixed with #28450 (with a follow-up fix coming later, as [explained here](https://github.com/istio/istio/pull/28450#issuecomment-720753207)). Thanks so much for finding this @Stono

[2020-11-03 18:50] howardjohn commented on #26843
any more info?

[2020-11-03 18:52] howardjohn commented on #26844
Fixed by https://github.com/istio/istio/pull/28498

[2020-11-03 18:52] #26844 closed

[2020-11-03 18:53] tbarrella commented on #25933
Yeah, I think it should be safe to just remove, unless that's against the deprecation policy or something (although it doesn't work anyway in most cases...)

[2020-11-03 19:01] howardjohn commented on #26915
https://preliminary.istio.io/latest/blog/2020/dns-proxy/ describes more

[2020-11-03 19:02] howardjohn commented on #26970
This is fixed and a duplicate of https://github.com/istio/istio/issues/27179

[2020-11-03 19:02] #26970 closed

[2020-11-03 19:26] #28466 closed

[2020-11-03 19:26] istio-testing opened #28545 "[release-1.7] Adjust inbound and outbound filter chains"
Manual cherrypick required.

#28442 failed to apply on top of branch "release-1.7":
[code]

[2020-11-03 19:26] istio-testing opened #28546 "[release-1.8] Adjust inbound and outbound filter chains"
Manual cherrypick required.

#28442 failed to apply on top of branch "release-1.8":
[code]

[2020-11-03 19:26] istio-testing opened #28547 "[release-1.6] Adjust inbound and outbound filter chains"
Manual cherrypick required.

#28442 failed to apply on top of branch "release-1.6":
[code]

[2020-11-03 19:49] h35gao opened #28548 "Intermittent 503 UH errors for egress to external services without duplicated service entries"
**Bug Description**
Similar to https://github.com/istio/istio/issues/26282, we're getting intermittent 503 UH errors for egress to external services, _however_, we don't have duplicated service entries for the host.

**Istio sidecar logs**
Failed call with 503
[code]
Successful call
[code]

**Configuration**
service entry, virtual service, and destination rule
[code]

**Version (include the output

[2020-11-03 20:56] yangminzhu commented on #22341
This can be close now, the final PR adds the necessary documentation on istio.io: https://github.com/istio/istio.io/pull/8390, thanks @kylebevans !

[2020-11-03 20:56] #22341 closed

[2020-11-03 21:13] howardjohn commented on #25437
[code]

Then `$ grpcurl --insecure <ingress-ip>:443 proto.EchoTestService/Echo`

this works for me. For those having issues, please post your GW/VS configs and config dump from gw: https://github.com/istio/istio/wiki/Troubleshooting-Istio

[2020-11-03 21:15] howardjohn commented on #25437
Above also works with mtls

[2020-11-03 21:20] ldemailly opened #28550 "grafana mesh dashboards hardcode /dashboard link without using GF_SERVER_ROOT_URL (setting. appSubUrl)"
**Bug description**

https://github.com/istio/istio/blob/master/manifests/addons/dashboards/istio-mesh-dashboard.json#L1055

So if you try to re-root grafana away from / to say /grafana then the links are broken

[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[X] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

*

[2020-11-03 21:27] howardjohn commented on #23494
What version of istio is this? It actually works for me. I suspect the issue is auto mtls worked poorly for older versions with headless/passthrough services. Your `mtls-services` does not kick in since the `server` Dr has precedence and there is no merging.

I would suspect if you upgrade OR add the tls settings to the `server` DR it would work. I suspect if you look at envoy config, `outbound|80

[2020-11-03 22:25] udaymadu commented on #24018
@howardjohn Is there a timeline for when this will get looked at?
Please pass it right member if you are not the correct one .

[2020-11-03 22:49] howardjohn commented on #28548
How frequently does this happen? When it does is it a short spike, lasts a while, etc?

Possibly related is https://github.com/istio/istio/issues/23029#issuecomment-718291563

[2020-11-03 23:00] howardjohn commented on #26009
@gertvdijk thanks for the investigation. I tried setting disable_stateless_session_resumption=true, does not seem to work. the ssl scanner linked fails with same error, and

[code]

Envoy config:
[code]

May need some help from @PiotrSikora

[2020-11-03 23:04] zenvdeluca commented on #27300
I have to apply overlay patches in order to modify .global to another .custom.domain

see a mention of this fix in 1.7.4 changelog, but not sure if address my use case

[2020-11-03 23:09] aattuluri commented on #27300
This has been fixed with https://github.com/istio/istio/pull/27427

[2020-11-03 23:09] #27300 closed

[2020-11-03 23:11] zenvdeluca commented on #27300
for posterity, the parameter I was looking for is multicluster.globalDomainSuffix

[2020-11-03 23:13] bianpengyuan commented on #28326
I think this is fixed.

[2020-11-03 23:13] #28326 closed

[2020-11-03 23:14] aattuluri commented on #27300
@zenvdeluca
Yes, you can use `.Values.global.multiCluster.globalDomainSuffix` to configure a custom domain. However, this doesn't set up the DNS though. Meaning, you have to still update the dns lookup.

[2020-11-04 00:03] ostromart opened #28555 "istioctl upgrade in-place has confusing output"
[code]

The output below has a couple of issues:
1. it is testing changes in components like egressGateways and kiali which are not installed. This generates a tremendous amount of irrelevant output which obscures the useful information.
2. entries like
              '[?->0]': -> map[name:tcp-citadel-grpc-tls port:8060 targetPort:8060]
need to be explained
3. kiali and prometheus are deprecated an

[2020-11-04 00:08] carolynhu commented on #28550
@ldemailly please reference this: https://github.com/istio/istio/issues/26544

[2020-11-04 00:27] keerthig9 commented on #28493
I will get configdump soon, Meanwhile i see other custom Gateway in custom namespace is working fine and have issues with only istio-ingressgateway which is default. Do u think any of below flags will be issue for default ingress
[code]
What does "ingressControllerMode": "STRICT" means? Can we have Gateway with tlsMode: SIMPLE when all below flags are enabled?
  "ingressControllerMode": "STRICT",

[2020-11-04 00:30] howardjohn commented on #28493
all these refer to https://istio.io/latest/docs/tasks/traffic-management/ingress/kubernetes-ingress/, should be fine

[2020-11-04 00:40] keerthig9 commented on #28493
We were using below config to enable mtls in 1.4.5, is it applicable now? Having this config will have any impact?
[code]

[2020-11-04 00:43] howardjohn commented on #28493
Ah, I was thinking original the error was between client and gasteway, but it is in gateway to `keerthg-test-card-5-v1.default.svc.cluster.local`

Can you give more info about keerthg-test-card-5-v1.default.svc.cluster.local, in particular the destination rule `v1`?

When you do get a config dump get it from keerthg-test-card-5-v1.default.svc.cluster.local as well as the gateway if possible!

[2020-11-04 01:29] howardjohn commented on #24915
![2020-03-11_17-28-38](https://user-images.githubusercontent.com/623453/98058624-0baf4f00-1dfa-11eb-858f-2a006fb60c2b.png)
example of VERY extreme case where I close 10k connections at once. We are spending 3 CPU and 3 minutes JUST recording the push triggers.

So probably 99.99% of the time we record one, but in rare cases we record 100ks and it gets horrible

[2020-11-04 01:37] hzxuzhonghu commented on #26476
Yeah, assign to me

[2020-11-04 01:38] keerthig9 commented on #28493
Attached config dump for ingress and my test deployment
[keerthg-test-config_dump.log](https://github.com/istio/istio/files/5485019/keerthg-test-config_dump.log)
[ingressgateway-config_dump.log](https://github.com/istio/istio/files/5485020/ingressgateway-config_dump.log)

[2020-11-04 01:41] keerthig9 commented on #28493
**Cardrelated deployment resources:**

DestinationRule
[code]
VirtualService:
[code]

[2020-11-04 01:57] jijiechen opened #28558 "defaultVirtualServiceExportTo does not support specified namespace (inconsistency documentation and implementation)"
**Bug description**
Similar to #17466 the documentation on the field of `defaultVirtualServiceExportTo` was described inconsistently in documentation and its implementation. I didn't check other related fields like `defaultServiceExportTo ` and `defaultDestinationRuleExportTo `, probably it's the same situation.

Docs at https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/#MeshConfig

[2020-11-04 03:06] nguyenhoaibao commented on #28531
Here is my service config:
[code]

The envoy filter stats config:

[code]

We have 2 environments, staging and production. We were using istioctl to install istio for both of them, using the same istio operator config above.
In staging, I can see the `istio_requests_*` and `istio_response_*` metrics, but they don't exist in production environment. I suppose there might be some missing configuratio

[2020-11-04 03:37] irisdingbj opened #28562 "istio-reader lack update authority for mutataingwebhookconfigs"
due to we change to use update to patch the webhook  in https://github.com/istio/istio/pull/28228/

we now have error like:

[code]

[2020-11-04 03:45] irisdingbj commented on #28562
https://github.com/istio/istio/pull/28181

[2020-11-04 03:51] su225 opened #28563 "Add control plane health check after installation by Istio Operator"
Add control plane health check after installation by Istio Operator. This is a followup of https://github.com/istio/istio/issues/21715 .
This needs refactoring in verification code to separate how resources are fetched from Kubernetes API server and how verification is performed. This is because kube-client for operator and CLI are configured differently.

[X] Installation

[2020-11-04 05:04] #25702 closed

[2020-11-04 05:04] #25709 closed

[2020-11-04 05:04] #25713 closed

[2020-11-04 06:58] connatix-cradulescu commented on #28428
I did observe that the numbers of sockets were going down as number, as I was redirecting more and more traffic through Istio Ingress.  I did make a test yesterday until 15% traffic through Istio and I have seen that fewer and fewer sockets are opened. But I can't go and make a real test with over 50% trough istio as long I can't figure out what is the issue with #28398. The more traffic I was red

[2020-11-04 07:15] #25735 closed

[2020-11-04 07:25] zhaohuabing commented on #28271
I'd like to take this issue.

[2020-11-04 07:26] zhaohuabing commented on #21228
I would like to take this issue if there is no other people working on it.

[2020-11-04 07:38] shamsher31 opened #28566 "istioctl upgrade: failed to upgrade if previous version is installed with --revision"
[code]

Goes into an infinite loop and the upgrade is never finishedd.
[code]

If you install Istio without the `--revision` flag then the upgrade went smoothly.

[code]

[2020-11-04 07:53] zhengzepeng opened #28567 "DestinationRule Subset Name must be DNS1123Label"
DestinationRule Subset Name must be
`  [a-zA-Z0-9](?:[-a-zA-Z0-9]*[a-zA-Z0-9])?`
But in my scene ，we use x.x.x to define the version，like 1.0.0，so can it support "." ?

[2020-11-04 08:04] zhengzepeng commented on #28567
can use this one to validate the destinationrule subset name?
[code]

[2020-11-04 08:35] shamsher31 opened #28568 "istioctl upgrade: should say IOPS unchanged if upgrade is run on the same version."
Currently, if an upgrade is run on the same version it should say.

https://github.com/istio/istio/blob/e2da6e166f44541c1a0316c587e151db61b67191/operator/cmd/mesh/upgrade.go#L246-L248

The comparison diff is not working and it displays the following message and there is no diff available to check.

[code]

This appears with `1.7.3`.
[code]
[code]

[2020-11-04 08:50] Stono commented on #21228
@zhaohuabing I would be extremely interested in helping you test this, if you do :)

[2020-11-04 09:16] #25740 closed

[2020-11-04 09:19] zhaohuabing commented on #21228
@Stono great!

[2020-11-04 10:26] hairongGao opened #28570 "Istio stop loadbalancing when adding configs for outlier detections"
**Bug description**

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

**Steps to reproduce the bug**
Setup svc recommendation, deployment recommendation-v1/recommendation-v2
Add outlier detection configs to vs-dr.yaml
[code]
Before

kubectl

[2020-11-04 10:41] shamsher31 commented on #28555
@ostromart Does it make sense to use `util.YAMLDiff` here? I tried the following during https://github.com/istio/istio/pull/28571

The output is a huge YAML diff but is more readable than the current output mentioned above.
[code]

[code]

[2020-11-04 10:45] ramaraochavali commented on #28570
When outlier detection is enabled, locality load balancing is also enabled. So the load balancing happens based on localities which I suspect is the case for you. If you do not want locality loadbalancing, disable it in either meshconfig https://github.com/istio/api/blob/master/mesh/v1alpha1/config.proto#L313 for all services or in DR https://github.com/istio/api/blob/master/networking/v1alpha3/de

[2020-11-04 11:02] Stono commented on #28433
@Monkeyanator no problemo, thanks for the fix!
Just rolled it out in our testing environment and it seems to have done done the job.

[2020-11-04 11:07] blackenz opened #28573 ""No healthy host for TCP connection pool" on plain TCP Services in Multicluster - 1.7.x"
**Bug description**
Plain TCP services on a replicated control plane multicluster steup, fail with with a "No healthy host for TCP connection pool". Bug does not affect HTTP services.
This bug seems to affect every 1.7.x version.
Also, 1.7.4 version doesn't seem to fix the new EnvoyFilter bug referecend in [https://github.com/istio/istio/issues/27909](url)

[ x ] Docs
[ ] Installation
[ x ] Networ

[2020-11-04 11:14] bitmexgmarkey opened #28574 "TCP connection closed after client sends data"
**Bug description**
Ingress connections are closed prematurely when the client sends data. I have confirmed that there is *some* application data flow, as I am primarily testing with a server-first application (NATS) and am able to receive the protocol preamble header.

I've tested with both TLS (via `openssl`) and TCP (via `nc`) modes on the gateway and both seem to show the same behaviour. I've

[2020-11-04 11:47] hairongGao commented on #28570
Hi @ramaraochavali  , thanks for quick response . I tried added configs under DR spec and no luck
[code]

[2020-11-04 11:57] andrewridout commented on #27383
Confirmed that this is now working in Istio 1.7.4.

[2020-11-04 13:53] dntosas commented on #28191
@howardjohn are you looking to assign this to someone? maybe i can give it a try ^^

[2020-11-04 14:01] #21161 closed

[2020-11-04 14:01] #24193 closed

[2020-11-04 14:09] sandeep1699 opened #28575 "Certificate Automatic Rotation"
We are plugging in existing CA certificates as mentioned in this https://istio.io/latest/docs/tasks/security/cert-management/plugin-ca-cert/
Does Root CA(root-cert.pem) , Intermediate CA (ca-cert.pem) and Workload certificates will be rotated automatically upon expiration?  Will there be any downtime during this process?

[2020-11-04 14:43] su225 opened #28576 "Clean up legacy stuffs from upgrade downgrade tests"
In `test_upgrade_downgrade.sh` in istio/tools repo we have plenty of legacy stuffs like Helm based installation, passing installation option parameter to select Helm or Istioctl. Over the past few releases, we have been moving to `istioctl`. Even the jobs are configured to use `istioctl`. We can get rid of legacy stuffs in these tests and simplify them.

[ ] Docs
[X] Installation
[ ] Networking
[

[2020-11-04 14:43] su225 commented on #28576
cc: @ostromart , @carolynhu

[2020-11-04 14:45] Stono commented on #28120
I can confirm @howardjohn fix for https://github.com/istio/istio/pull/28498 has fixed the majority of the rollout issues we experienced going from 1.6 to 1.7, however we are still seeing some (very small amount) of requests get "BlackHole" (we run `REGISTRY_ONLY`) as the control plane rolls out, as you can see here:

<img width="812" alt="Screenshot 2020-11-04 at 14 31 47" src="https://user-images

[2020-11-04 14:57] howardjohn commented on #28271
lets track in https://github.com/istio/istio/issues/21228

[2020-11-04 14:57] #28271 closed

[2020-11-04 14:58] howardjohn commented on #21228
@zhaohuabing can you look into implementing it in Envoy? I do not think its great for pilot to be "stateful" like this would require. I realize it can be implemented without literally maintaining external state but still

[2020-11-04 15:02] shashanksrivastava10 commented on #26367
Hi,

I also have a similar issue is there any solution for this, im using istio 1.7.1

Regards,
Shashank.

[2020-11-04 15:07] Stono commented on #28120
Also; `istiod` logs are filled with
[code]

[2020-11-04 15:07] howardjohn commented on #28191
That would be great! I would recommend we have at minimum json output (can just directly pass from envoy without parsing), but could be useful to also do the equivilent of `istioctl pc {secret,listener,cluster,eendpoint,route}`

similar to
[code]

[2020-11-04 15:13] howardjohn opened #28578 "xdsproxy causes unexpected request on shutdown"
without proxy

[code]

With proxy
[code]

[2020-11-04 15:24] howardjohn commented on #22054
This is still valid. `CSR information` could be useful for istiod dashboard

Everything in "Istio Data Plane dashboard" part has not been done

[2020-11-04 15:29] rvennam opened #28581 "Docker Hub rate limiting impact on istio-proxy image pulls"
https://www.docker.com/blog/what-you-need-to-know-about-upcoming-docker-hub-rate-limiting/
"anonymous users are limited to 100 container pulls per six hours"

k get pod sleep-8f795f47d-pmm7v -n httpbin -o yaml shows:
[code]

Does this mean it's possible to hit this limit?

[ ] Docs
[ X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ X] Test

[2020-11-04 15:42] howardjohn commented on #28578
can reproduce without xds proxy, just less frequent, dropping priority

[2020-11-04 15:42] howardjohn commented on #28578
it is consistently requesting eds without `outbound|15010||istiod.istio-system.svc.cluster.local` oddly

[2020-11-04 16:03] howardjohn commented on #28578
closing in favor of https://github.com/envoyproxy/envoy/issues/13900

[2020-11-04 16:03] #28578 closed

[2020-11-04 16:05] devkid commented on #25841
From my perspective, the request is still valid. What do I need to do to prevent the issue from being closed?

[2020-11-04 16:05] howardjohn commented on #28120
For the logs about failed CSR, that should be unknown to envoy. From its perspective it just seeings that there is a 2s window where it request a secret and didn't get one. I could see that making envoy unhappy (it shouldn't, but seems a plausible bug), but if it was the cause I would expect 2s outage likely.

[2020-11-04 16:08] howardjohn commented on #28531
The first step would be to get a config dump (see https://github.com/istio/istio/wiki/Troubleshooting-Istio) and ensure the configuration is correct. I would also enable access logs if possible and verify the requests are matching up with the correct cluster we expect and isn't somehow getting routed incorrectly (due to misconfig or bug)

[2020-11-04 16:11] howardjohn commented on #28493
I am pretty sure this is fixed by https://github.com/istio/istio/pull/28273

As a temporary workaround until that is shipped you can remove `destination-rule/originate-tls-for-aaaa-api`

[2020-11-04 16:11] howardjohn commented on #28493
Oh that just merged. You can find info about running pre-release builds at https://github.com/istio/istio/wiki/Dev%20Builds if you want to try it out or wait 1-2 weeks for the release

[2020-11-04 16:20] ramaraochavali commented on #21228
https://github.com/envoyproxy/envoy/issues/11050 -  There is an issue in Envoy already

[2020-11-04 16:26] Monkeyanator opened #28582 "downloadIstioCandidate shows success message when installing non-existent version"
**Bug description**

Istio download reports success message when I download non-existent version:

[code]

[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[x] User Experience
[ ] Developer Infrastructure

**Expected behavior**
Report that the install failed because specified version doesn't exist

[2020-11-04 16:32] ldemailly commented on #28550
we do have GF_SERVER_SERVE_FROM_SUB_PATH true

[2020-11-04 16:34] ldemailly commented on #28550
everything else is working it’s just the mesh dashboard but i will triple check

[2020-11-04 16:41] Monkeyanator opened #28583 "istioctl upgrade should display warning when skipping past minor versions"
**Bug description**

Since we warn against upgrading across >=1 minor versions in our upgrade docs, might make sense to double-check with users whether they want to perform an unsupported upgrade as they're about to do it

[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[x] User Experience
[ ] Developer Infrast

[2020-11-04 16:46] howardjohn commented on #28581
Certainly. We are tracking this in https://github.com/istio/istio/issues/28031. tl;dr we are mirroring to gcr.io/istio-release and open to mirror to any other registries the community demands/will setup and support

[2020-11-04 17:08] uromahn commented on #11723
@antweiss while this might not be a RedHat repo, I think this is what you might be looking for: https://github.com/envoyproxy/envoy-openssl

I haven't really checked if the referenced OpenSSL is FIPS 140-2 compliant but that should be relatively easy to do.

[2020-11-04 17:22] rvennam commented on #28581
To fix in 1.7, changing the image registry in a patch release seems scary as access to other registries might be blocked. Can the problem be alleviated by removing imagePullPolicy: Always ?

[2020-11-04 17:27] ceastman-ibm opened #28585 "Sort fields in the various profile yamls"
**Describe the feature request**
Please sort the various fields in the manifets/profiles/*. yamls

**Describe alternatives you've considered**

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[x] User Experience
[ ] Developer Infrastructure

**Additional context**
By having the various profile yamls sorted will

[2020-11-04 17:28] ericvn commented on #28031
I think this satisfies the problems our pipeline will have, but do we have want to update so a customer install will pull from gcr.io. I think this just makes the images available there, but doesn't actually update the code so a customer install uses gcr.io. Or maybe I missed a PR.

[2020-11-04 17:29] howardjohn commented on #28581
We have no plans to change the default image, users are free to customize it as easily as `--set hub=foo`. I wouldn't recommend any serious users use dockerhub in production anyways (for Istio or anything), so hopefully users are already using their own registries.

I am not sure if `imagePullPolicy: Always` impacts it or not. It depends how dockerhub counts things. "Always" does not actually down

[2020-11-04 17:32] ericvn commented on #28581
I do believe `imagePullPolicy: Always` will have a impact in that the manifest pull does count. Since we have a tag, and don't reuse the tag on pushes, a change here shouldn't have a negative impact on the user and would help with the rate limiting.

[2020-11-04 17:47] carolynhu commented on #28567
offline discussed with @howardjohn , we'd not support this. As we have supported the existing subset name regex matches with our stable API for years. It's hard for us to make a change there to only make it available for your single case. I'm going to close this request, thanks!

[2020-11-04 17:47] #28567 closed

[2020-11-04 18:29] keerthig9 commented on #28493
I removed destination-rule/originate-tls-for-aaaa-api and it works. We need this destinationrule for external calls and we cannot leave it, Any workaround? Removing tls from destination rule avoids the issue?

When will be next istio release with fix?

[2020-11-04 18:31] h35gao commented on #28548
@howardjohn It happens a few times a week or two. It's a short spike every time. We had two more groups of occurrences last night and this morning. All times below are in Eastern time.

Nov 3, 21:25:31 to Nov 3, 21:26:42  (3 total occurrences)
Nov 4, 05:09:25 to Nov 4, 05:12:45 (26 total occurrences)

Groups of occurrences from two weeks ago.
Oct 21, 21:00:52 to Oct 21, 21:01:33 (7 total occurrenc

[2020-11-04 18:32] keerthig9 commented on #28493
One more question: We also have error logs in ingressgateway pods for DestinationRule certificate error as it cant find secret of DestinationRule certificate. is this also related to https://github.com/istio/istio/pull/28273

Error:
`2020-10-21T07:19:21.297898Z    info    sds    resource:aaaa-ca-certs-cacert new connection
2020-10-21T07:19:21.301919Z    warn    secretfetcher    Cannot find secret

[2020-11-04 18:32] howardjohn commented on #28493
it is the caCertitficate part that breaks it. release should be out in 1-2
weeks.

On Wed, Nov 4, 2020 at 10:30 AM keerthig9 <notifications@github.com> wrote:

[2020-11-04 18:35] keerthig9 commented on #28493
[code]
Can you please check this?

[2020-11-04 19:45] ostromart commented on #28566
istioctl upgrade is for in-place upgrade and not compatible with revisions. So the first thing would be to change the docs to mention that. But regardless, the command itself should be able to check the cluster to see if there's a revision label on istiod and fail with an error in that case rather than proceeding as it does.

[2020-11-04 20:20] Ghazgkull commented on #24318
@howardjohn Does the Istio project have any way to flag regressions like this? This is something that worked and was broken by a defect that snuck into a release.

[2020-11-04 20:46] howardjohn opened #28592 "Move distributionEventQueue to a proper queue"
https://github.com/istio/istio/blob/96dc4165768648dcd9cc72a3a09183202a28acf3/pilot/pkg/status/reporter.go#L68

Currently this always uses fixed 5mb of memory and may actually fill up and drop events. Should use a dynamic queue size

[2020-11-04 22:47] ostromart opened #28595 "istioctl upgrade fails for 1.6.x to 1.7.x demo profile"
[code]

The reason appears to be that externalComponents were removed in 1.7 and the upgrade command compares the base profiles (in this case demo). At some point it probably tries to unmarshal into the new version schema and any missing fields cause it to fail.
It should be reporting that those fields are no longer available in the target schema instead.

[2020-11-04 23:21] akhilgoel09 opened #28596 "getting error on gRPC elb: gRPC config for type.googleapis.com/envoy.config.listener.v3.Listener rejected: Error adding/updating listener(s) 0.0.0.0_443: cannot bind '0.0.0.0:443': Permission denied 0.0.0.0_80: cannot bind '0.0.0.0:80': Permission denied"
Hi, i am new to istio and we are trying to use gRPC aws elb to support grpc services, I am getting the below errors from my logs
--service-cluster istio-egressgateway --service-node router~100.96.91.17~grpc-ingressgateway-fc8c59f54-9h8jh.istio-system~istio-system.svc.cluster.local --local-address-ip-version v4 --log-format-prefix-with-location 0 --log-format %Y-%m-%dT%T.%fZ	%l	envoy %n	%v -l warni

[2020-11-04 23:22] salrashid123 commented on #27918
any suggestions on troubleshooting this?  (the only error i see even onthe proxy logs is  `InternalFailure`).

as mentioned, i buildt the plugin using the default envoy 1.7 branch here and envoy `1.7.2` (tried `1.7.3` too today)
[code]

note, i'm trying to call a grpc service thats in cluster...i think i set it up right

the wasm plugin loads the target service to contact

[code]

and i define and

[2020-11-04 23:33] max0ne opened #28597 "meshConfig.accessLogFormat does not allow nested JSON"
**Bug description**
Setting a JSON string with nested JSON structure to `meshConfig.accessLogFormat` cause Pilot fail to parse the JSON string, and fallback to the default log format.

Something like `{"foo":"bar"}` works for `meshConfig.accessLogFormat`, but something like `{ "foo": "bar", "foo2": {} }` would result in envoy access log fallback to the default format.

My envoy access logs are shi

[2020-11-05 00:22] howardjohn commented on #28596
Please take a look at https://istio.io/latest/news/releases/1.7.x/announcing-1.7/upgrade-notes/#gateways-run-as-non-root

[2020-11-05 00:34] jtrbs opened #28599 "Consolidate echo instances used by security e2e tests"
**Describe the feature request**

**Describe alternatives you've considered**

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[X] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Additional context**

After security tests are converted into multicluster support and echo setups are consolidated, namespaces insta

[2020-11-05 00:42] howardjohn commented on #28597
cc @douglas-reid

[2020-11-05 01:32] steveoh commented on #3800
I am having a hard time using a static ip. Has this been sorted out since it was last discussed?

[2020-11-05 01:38] zhengzepeng commented on #28567
Roger that. I understand. Thank you for reply

[2020-11-05 01:41] zhaohuabing commented on #21228
@howardjohn  It looks that the envoy guys have already made a good process: https://github.com/envoyproxy/envoy/pull/13176.

Let's wait until they finish it and then add the necessary piece to Pilot to make this feature in Istio.

[2020-11-05 01:46] hobbytp commented on #24619
currently our internal workaround is to add h2 at the end of mtlsHTTP2ALPN = []string{"istio-h2", "istio", "h2"} in
https://github.com/istio/istio/blob/master/pilot/pkg/xds/filters/filters.go#L139
this can make egress traffic work for H2 protocol.
But this will also send out istio-* alpn out of mesh.

[2020-11-05 02:03] carryxyh commented on #28523
Thanks for answering. I will try the approach you mentioned.

This way seems better, any docs for help ?

[2020-11-05 02:41] zhangxingdeppon opened #28605 "Prometheus traget kubernetes-service-endpoints error "server returned HTTP status 404 Not Found""
**Bug description**

Hi team, I have met a problem when I use istio 1.6.12, that Istio addon prometheus have been auto injected istio-proxy sidecar, and foud the prometheus traget kubernetes-service-endpoints happened error `server returned HTTP status 404 Not Found`, is it a bug? ,can you give me some ideas?  thanks.

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Ex

[2020-11-05 02:50] carolynhu commented on #27516
Confirmed with @ostromart , this issue has been resolved.

[2020-11-05 02:50] #27516 closed

[2020-11-05 03:54] hzxuzhonghu opened #28606 "Provide a load test tool without running real pods"
**Context**

Currently if we want to do scalability test, we need to set run real pods in the cluster, however usually we donot have so much resource, no such large cluster.

**Describe the feature request**

Provide a tool allowing simulate/run number of sidecars from within a process, in k8s the `kubemark` provides a similar capability

[2020-11-05 04:42] nguyenhoaibao commented on #28531
Thanks, I dumped the config from my staging and production, and I noticed that the staging configuration has this filter:
[code]
while the production config doesn't, maybe that's the reason why the production doesn't have `istio_requests_*` metrics.

Do you have any idea why those filters don't exist on production? The installation command is the same for both environment, so I wonder why those co

[2020-11-05 04:49] anannaya commented on #16585
@yangminzhu  For My header is be like x-auth-request-groups : 'CN=EMSUDEMY,OU=Groups,O=cco.xxx.com, CN=all-xxxx-people,OU=xxxx Groups,O=cco.xxxx.com, CN=xxxxxxxxx,OU=xxxx Groups,O=cco.xxxx.com'

now I would like match *all-xxxx-people*.
Glob matching should be fine for my usecase.

[2020-11-05 05:02] #23176 closed

[2020-11-05 05:04] #25683 closed

[2020-11-05 05:04] #25728 closed

[2020-11-05 05:04] #25741 closed

[2020-11-05 05:04] #25753 closed

[2020-11-05 05:04] #25771 closed

[2020-11-05 05:35] zhangxingdeppon commented on #28605
@howardjohn what do you think?

[2020-11-05 07:19] sblargaba commented on #18758
@cmanzi can you describe what was the issue here and how did you solve it? I'm running into the same problem and I'm not sure how to troubleshoot it.
Thanks!

[2020-11-05 07:27] PeterPanHaiHai opened #28609 "VM fails to access k8s service when TLS mode is ISTIO_MUTUAL"
**Bug description**

we're experimenting with mesh expansion with VMs, setup done accordingly to [1.7 doc](https://istio.io/latest/docs/setup/install/virtual-machine/) and [1.6 doc](https://istio.io/v1.6/docs/setup/install/virtual-machine/)

After setup, the machine **can access** upstream services （running in the Kubernetes cluster）, its related `DestinationRule tls mode` field was set  `DISABLE`

[2020-11-05 07:32] PeterPanHaiHai opened #28610 "VM fails to access k8s service with tlsMode ISTIO_MUTUAL"
**Bug description**

we're experimenting with mesh expansion with VMs, setup done accordingly to [1.7 doc](https://istio.io/latest/docs/setup/install/virtual-machine/) and [1.6 doc](https://istio.io/v1.6/docs/setup/install/virtual-machine/)

After setup, the machine **can access** upstream services （running in the Kubernetes cluster）, its related `DestinationRule tls mode` field was set  `DISABLE`

[2020-11-05 07:34] #28610 closed

[2020-11-05 07:36] irisdingbj opened #28611 "eastwest gateway fails to start"
following guide in https://preliminary.istio.io/latest/docs/setup/install/multicluster/multi-primary_multi-network/

the eastwest gateway can not be started due to the required mount `istio-token` does not exist.

[2020-11-05 07:44] shamsher31 commented on #28566
@carolynhu I have added a warning in docs https://github.com/istio/istio.io/pull/8447

[2020-11-05 07:53] PeterPanHaiHai commented on #28609
I'm not sure this is a problem.
$ cp istio-1.6.9/samples/certs/ca-key.pem /var/run/secrets/istio/key.pem  # Is that a problem?

[2020-11-05 07:54] PeterPanHaiHai commented on #28609
I'm not sure this is a problem.
`$ cp istio-1.6.9/samples/certs/ca-key.pem /var/run/secrets/istio/key.pem  # Is that a problem?`

[2020-11-05 08:35] irisdingbj commented on #28611
This is because my cluster does not support 3rd party jwt , but `istioctl manifest generate` will not detect this.

[2020-11-05 08:43] LSChyi opened #28613 "Multiple Egress not Working and Inconsistent Behavior with Deploy Order"
**Bug description**
Some external service is getting 503 when deploying multiple HTTP egress resources. Also, this bug is related to the order of when the resource is deployed. This issue exists when deploying resources with some specific orders.

When getting the 503, the sidecar log shows there is no route (`503 NR`), and the traffic is not sent to the `istio-egressgateway` pod for no logs emerg

[2020-11-05 08:56] Stono commented on #28433
For anyone coming to this the fix will be released in 1.7.5

[2020-11-05 08:56] #28433 closed

[2020-11-05 08:58] Stono commented on #28120
I've not been able to recreate the BlackHole/Zipkin one and have had 1.7 on a cluster for 24 hours with 400 different apps and about 300 deployments, and haven't seen any other errors.

I'm going to close this issue as sorted, for anyone coming to this the fix will be released in 1.7.5.

[2020-11-05 08:58] #28120 closed

[2020-11-05 08:59] Stono commented on #28050
Closing this issue as there's a PR merged to document it.

[2020-11-05 08:59] #28050 closed

[2020-11-05 08:59] Stono commented on #28099
Closing this issue as once we resolved https://github.com/istio/istio/issues/28050 - it fixed, so it's a side effect of the mount path for certs.

[2020-11-05 09:01] Stono commented on #27851
@douglas-reid that's right, we only use `source` metrics.

Is there anything to do on this issue, or is it just a learning piece that we can close off?

[2020-11-05 09:08] rajivml opened #28614 "Istio 1.5.6 Retries Not working"
HI,

Environment: Baremetal Kubernetes 1.16
Istio Version: 1.5.6
Http Method: POST

Am trying to configure retries for all 5xx errors but looks like none of the requests are getting retried. If we notice the route that is generated, it's getting overwritten always with retriableStatusCodes as 503 regardless of what ever value that I specify for retryOn field

This is my Virtual Service Config:

[c

[2020-11-05 09:12] Stono commented on #25415
I'm going to close this as it feels like it's stale and probably not going to go anywhere

[2020-11-05 09:12] #25415 closed

[2020-11-05 09:16] Stono commented on #12818
We actually "disable" sampling for a service now by using the `http request headers` on the `virtualservice`:

[code]

[2020-11-05 09:43] christian-vent commented on #19531
@deissnerk @jronak @howardjohn did this PR #24564 really resolve this ticket? We scanned the istio/proxyv2:distroles-1.7.3 image and found vulnerabilities that are related to glibc 2.24 and were fixed in glibc 2.28. Pilot and operator did not contain the findings.

[2020-11-05 09:51] hzxuzhonghu commented on #28614
`"retryOn": "connect-failure,refused-stream,unavailable,cancelled,resource-exhausted,retriable-status-codes",`
This is the default retry policy, it seems the vs you declared that not matching the root path

[2020-11-05 09:52] hzxuzhonghu commented on #28611
FYI https://github.com/istio/istio/issues/28455

[2020-11-05 10:02] irisdingbj commented on #28455
In integration test, we will set up MetalLB as loadbalancer, you can try this in your local test as well @hzxuzhonghu

[2020-11-05 10:13] hzxuzhonghu commented on #26476
I have tried with 1.6.13 many times, can not reproduce.

[2020-11-05 10:37] #28568 closed

[2020-11-05 10:56] canyousayyes commented on #23923
I hit the same problem. I think the upgrade is either:

1. Canary deployment -> migrate all pods to canary -> delete old istio

1. In-place deployment

But not "Canary + In-place". I think the doc can be written more clearly to avoid such confusion.

---

Anyway in my case, I followed the istio 1.7 upgrade guide (but using istioctl 1.6) to create an istio installation with `--revision=1-6-13`. It

[2020-11-05 11:15] PiotrSikora commented on #26009
Envoy doesn't support session resumption via Session ID (stored on the server-side), but Session ID is most likely assigned anyway, since historically some clients would break if there was no Session ID at all.

Envoy only supports session resumption via Session Tickets (stored encrypted on the client-side), and if the encryption key is shared across multiple instances, then sessions can be resume

[2020-11-05 12:20] ormam commented on #16293
hello, can you please share your configuration files for noninternet access environments?
It would be amazing!
or if you can create a helm chart for it

[2020-11-05 13:08] hzxuzhonghu commented on #27935
I can not reproduce, but find that pod in terminating status is still in endpoints. We should remove it.

[2020-11-05 13:37] sandeep1699 commented on #13832
@elevran @incfly  @tushar00jain  @adityats2020
We are plugging in existing CA certificates as mentioned in this https://istio.io/latest/docs/tasks/security/cert-management/plugin-ca-cert/
Could you please let me know, Root CA, Intermediate CA will be rotated automatically upon expiration? Will there be any downtime during this process?

[2020-11-05 13:49] sandeep1699 commented on #22161
Hi @howardjohn  @myidpt
Could you please suggest, Is it supported to Use k8s CA as a signing authority for workload proxies using chiron?

[2020-11-05 14:17] zufardhiyaulhaq commented on #27315
@andrascz I believe this is expected behavior. since you don't define port 443 in the gateway itself?
[code]
of course, if you define `httpsRedirect`, it will return `HTTP/1.1 301 Moved Permanently`, and your AWS LB cannot forward to the service.

**My testing environment:**
**Gateway**:
[code]
**VirtualService**
[code]
**curl testing**:
[code]

[2020-11-05 14:43] andrascz commented on #27315
@zufardhiyaulhaq I can only repeat my former comment:

Port numbers does not matter, what matters is the protocol of the port which needs to be HTTP as the AWS LB terminates TLS.
This was a working setup with istio < 1.7 and I do not see why it should be invalid.

[2020-11-05 14:57] ceastman-ibm opened #28615 "Istio 1.8.0-alpha.2 upgrade on openshift - ingressgateway not ready"
**Bug description**

istiod has repeated warnings in its log:
[istiod-656fd9fbc6-zqr9c] {
  "level": "warn",
  "time": "2020-11-05T14:38:10.956150Z",
  "scope": "ads",
  "msg": "ADS:LDS: ACK ERROR sidecar~172.30.49.20~mdms-77f85596bf-rdczv.devtest~devtest.svc.cluster.local-930 Internal:Proto constraint validation failed (ListenerValidationError.FilterChains[i]: [\"embedded message failed validatio

[2020-11-05 15:02] marcfong opened #28616 "1.8-alpha2 - istio-proxy cannot start when following multi-cluster install"
**Bug description**
istio-proxy of the helloworld sample/validation app cannot start when following multi-cluster install.
https://preliminary.istio.io/latest/docs/setup/install/multicluster/multi-primary_multi-network/

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastru

[2020-11-05 15:18] zufardhiyaulhaq commented on #27315
@andrascz pardon me, forget about AWS LB TLS termination behaviour, currently using NLB and TLS termination happen in Gateway object. CCMIW, the AWS LB will terminate TLS but still using the same port for forwarding to Istio right?

so for example, `user port:443 -> AWS LB downstream port:443 -> AWS LB TLS termination -> AWS LB upstream port:443 -> Istio port:443`

[2020-11-05 15:23] howardjohn commented on #28606
I have been working on this in https://github.com/howardjohn/pilot-load. It mostly works, let me know if the docs need improvements

[2020-11-05 15:26] howardjohn commented on #28614
Becauseo f

This only applies to the gateway. Looks like the config you have is a sidecar. You should add gateways=[mesh] for it to apply to sidecars

[2020-11-05 15:27] howardjohn commented on #28616
Likely fixed by #28439, asked offline to try head of 1.8

[2020-11-05 15:28] howardjohn commented on #28615
I am fairly sure this is fixed, see https://github.com/istio/istio/issues/28616#issuecomment-722448986. Please try https://gcsweb.istio.io/gcs/istio-build/dev/1.8-alpha.09df30801a3b1bc4a6c3e2dde6fb7a633003741f. If that doesn't work please let us know, since this would be a release blocker. thanks

[2020-11-05 15:36] andrascz commented on #27315
Yes, the istio-ingressgateway Service maps the Istio Ingressgateway ports 80 and 443 to the Gateway port 80 with protocol HTTP. The problem is that in istio 1.7.x `port.protocol: HTTP` conflicts with `tls.httpsRedirect: true` which results in virtualservices not getting routed.

[2020-11-05 15:38] howardjohn commented on #28531
that is what generates the stats, so it would explain it. Can you check `kubectl get envoyfilter -n istio-system` to ensure they are all aligned?

The other thing I would check, at the top fo the config dump will be ISTIO_VERSION. That needs to match the `proxyVersion` match on the envoyfilter, perhaps its somehow out of sync

[2020-11-05 15:49] ceastman-ibm commented on #28615
@howardjohn I don't believe i did a multi-cluster install. Is that a setting in my config.yaml that i used to run the istioctl upgrade with?

[2020-11-05 15:50] howardjohn commented on #28615
I don't think the multicluster part of that issue is relevant to the issue

[2020-11-05 15:56] niscoveanumircea opened #28618 "Istio metrics causes Kiali to show incorrect graph - "unknown" instatead of "istio-ingressgateway""
**Bug description**

My workloads are deployed in the `default` namespace along with the `gateway` and the `virtualService` that I use to configure the `istio-ingressgateway` which is installed in the `istio-system` namespace.
When I use Kiali to visualize any graph in the `default` namespace, it shows that the entry of the traffic in the mesh is represented by the object `unknown` instead of `ist

[2020-11-05 16:09] ceastman-ibm commented on #28615
I am getting this error trying to run istioctl ugprade -f confg.yaml: with the new istioctl i downloaded.

Error: failed to read the current Istio version, error: different versions of Istio components found: [egressgateway pod - istio-egressgateway-77bdb7b84c-g95sl - version: 1.8.0 egressgateway pod - istio-egressgateway-77bdb7b84c-r2ldk - version: 1.8.0 ingressgateway pod - istio-ingressgateway-

[2020-11-05 16:11] ceastman-ibm commented on #28615
and i checked my config.yaml and the only entry i see has this:
      multiCluster:
        clusterName: ""
        enabled: false

[2020-11-05 16:16] shankgan commented on #22161
@sandeep1699 - Note that this (experimental) feature is available in Istio 1.8. Refer https://preliminary.istio.io/latest/docs/tasks/security/cert-management/custom-ca-k8s/ for further information.
However, could you elaborate on what you mean by Kubernetes CA? Were you planning to use the same CA that we use for signing DNS certificates? Usage of that particular CA (kubernetes.io/legacy-unknown)

[2020-11-05 16:36] harveyxia opened #28620 "istio-proxy v1.8.0-alpha2 crashing on aggregate cluster"
**Bug description**

Following creation of an EnvoyFilter and ServiceEntry, istio-injected pods are unable to start up due to `istio-proxy` crashing with a segfault. Also note that this error seems indeterministic, you may have to run through the reproduction procedure a few times to trigger it.

[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry

[2020-11-05 16:58] ceastman-ibm commented on #28615
ah found i can use the undocumented --force to skip that different version warning.

[2020-11-05 17:09] ceastman-ibm commented on #28615
with this new istioctl, the ingressgateway are still not starting. I see this in their log files:

[ingress_log.txt.gz](https://github.com/istio/istio/files/5495861/ingress_log.txt.gz)

[2020-11-05 17:13] akhilgoel09 commented on #28596
Thank you soo much!!, Seems like the issue is fixed for the above but now getting one more issue with external dns, can if I am missing anything please:

[code]

External DNS logs
[code]

external dns configuration yml file:

[code]
kubectl get endpoints -n istio-system output:

[code]

[2020-11-05 17:19] omerfsen commented on #8696
I know it is an old issue but i solved this issue with:

K8S_INTERNAL_API_IP=$(kubectl get svc  kubernetes -o jsonpath='{.spec.clusterIP}')
[code]

Path is:

**.spec.values.global.proxy.excludeIPRanges**

[2020-11-05 17:23] carolynhu commented on #27516
https://github.com/istio/istio/pull/28039

[2020-11-05 17:47] munjalpatel opened #28623 "Unable to connect to nats from an istio (1.7.1) enabled namespace"
**Bug description**

I am trying to connect to `nats` from a namespace where istio (and mTLS) is enabled.
I am consistently getting `i/o timeout` error.

_**Connecting directly to the POD IP works fine.**_

[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[x] User Experience
[ ] Developer Infrastructure

**Expec

[2020-11-05 17:50] Monkeyanator commented on #28613
Thanks for posting @LSChyi. I haven't been able to reproduce this on `1.6.11` (whether I apply the `cnn` resources then the `teil` resources or the other way around). Could you clarify which ordering fails for you (think your bug report might mistakenly say "CNN then TEIL" twice)? And whether all this is getting deployed in the same namespace?

[2020-11-05 18:40] jronak commented on #19531
I don't think the commits from the PR were cherry-picked into the release

[2020-11-05 18:43] akhilgoel09 commented on #28596
I also see this error from my istiod pod command :**istioctl proxy-status istiod-64855f5d5b-wdbh5     -n istio-system** :

[code]

[2020-11-05 20:52] ostromart commented on #24318
The problem comes from the fact that translate uses the tpath package, which treats YAML strings as objects for the purpose of supporting overlaying trees. yaml.Unmarshal unmarshals valid JSON strings as YAML which is not expected. The workaround is to check if the string is JSON and if so, treat it as a string.
This still leaves a potential hole of paths that expect a YAML to be passed as string.

[2020-11-05 21:32] harveyxia commented on #28620
More detailed debug logs from istio-proxy:

[code]

[2020-11-05 21:41] ostromart commented on #24000
we should modify the defaults but the correct value must be conditional on whether PDBs are enabled or not, so that would have to be wrapped up in some logic.

[2020-11-05 22:37] akhilgoel09 opened #28631 "Seeing istio-proxy envoy errors on ingress and egress gateways"
I am seeing the below warning messages on my ingress and egress gateway:

[code]

[code]

Below are version for istio, kube and kops and I installed istio with default profile to start with:

[code]
installed istio 1.7.3 from curl command using istio doc and then installed ingress gateway by using default configuration steps shown below:

[code]

1) Added some custom config to ingressgateway to ad

[2020-11-05 23:23] lambdai commented on #28620
[code]
It seems the tls_ in Aggregate::Cluster is invalid

[2020-11-06 00:01] bianpengyuan commented on #28620
@lizan @PiotrSikora

[2020-11-06 00:21] carolynhu commented on #24707
Currently we only support exact match duplication errors out like:
[code]

[2020-11-06 00:32] iandyh commented on #25898
@aattuluri Sorry for late reply. Our use cases are mostly normal services with clusterIP. So making them headless sound quite anti-pattern to me...

[2020-11-06 00:37] aattuluri commented on #25898
@iandyh No problem, was just listing my findings.

[2020-11-06 00:42] lambdai commented on #28620
Not fully sure but this PR https://github.com/envoyproxy/envoy/pull/13875 fixed a CDS cluster update execution order issue.
Istio recent changes seems introduce more CDS update at start phase and surfaces Envoy bugs.
Also see discussion https://github.com/istio/istio/pull/28500#issuecomment-720816639

[2020-11-06 00:49] iandyh commented on #27935
@hzxuzhonghu I can still reproduce it in 1.7.4. Have you tried to restart to selecting workloads multiple times? I can reproduce it after restart the deployment 3 times.

[2020-11-06 01:08] hzxuzhonghu commented on #27935
What i did is restarting the deployment.

[2020-11-06 01:12] bianpengyuan commented on #28536
I marked this P0. @esnible Please raise it if you think this should be a release blocker.

[2020-11-06 02:02] EItanya commented on #28620
It seems that most likely [this capture](https://github.com/envoyproxy/envoy/blob/7620e7d53c6ede82043eb32e2a7b84fca90c24b1/source/extensions/clusters/aggregate/cluster.cc#L94) is the problem. The lambda outlives the parent.

[2020-11-06 02:21] LSChyi commented on #28613
Hello @Monkeyanator, after the machine restarts, I also can not reproduce this issue. Maybe it is caused by some stats, I will try to reproduce it.

Here is a more detailed step about how I met this phenomenon:

1. Install the rancher cluster with 3 machines:
    * 1 is just for rancher dashboard
    * 1 is the main node with etcd, control plane, and worker option enabled
    * 1 is the worker nod

[2020-11-06 02:35] LSChyi commented on #28613
Hello @Monkeyanator, after the machine reboots, I also can not reproduce this issue. Maybe it is caused by some stats not cleaned, I will try to reproduce it.

Here is a more detailed step about how I met this phenomenon:

1. Install the rancher cluster with 3 machines:
    * 1 is just for rancher dashboard
    * 1 is the main node with etcd, control plane, and worker option enabled
    * 1 is the

[2020-11-06 02:53] PeterPanHaiHai commented on #28609
https://istio.io/v1.6/docs/setup/install/virtual-machine/
Follow this article to create certificates and install, verified ok

[2020-11-06 02:53] #28609 closed

[2020-11-06 03:38] rajivml commented on #28614
@howardjohn thanks for your reply,  I have modified the config as you suggested, where I have set gateways to mesh and I can now see the default config is overrided i.e retryOn is set to 5xx now

But now the problem am facing is, I have one gateway which is common to all the namespaces and all the VS in other namespaces are pointing to the common GW, but after changing the gateway to mesh, the tra

[2020-11-06 03:52] nguyenhoaibao commented on #28531
Thanks, I ran `kubectl get envoyfilters.networking.istio.io -n istio-system stats-filter-1.7-1-7-3`, and see this output:

[code]

But in the config dump output, this filter doesn't exist :thinking:

I checked and see that the ISTIO_VERSION from the config dump is `1.7.3`, and the `proxyVersion` is `^1\.7.*`, that means they're match right?

[2020-11-06 03:58] hzxuzhonghu commented on #28631
It is normal, istiod disconnect each connection every 30 minutes

[2020-11-06 03:58] #28631 closed

[2020-11-06 04:09] hzxuzhonghu commented on #28623
maybe dup with https://github.com/istio/istio/issues/27042

[2020-11-06 04:51] bianpengyuan commented on #28528
The random port does not make sense to me. It looks like source port somehow used in dimension. Could you disable host header fallback follow the document here: https://istio.io/v1.6/docs/tasks/observability/metrics/customize-metrics/. Unfortunately you'd need to deal with EnvoyFilter resource in order to achieve this. This is much easier to configure in 1.7: https://istio.io/latest/docs/tasks/obs

[2020-11-06 05:01] #21222 closed

[2020-11-06 05:02] #23231 closed

[2020-11-06 05:04] #25706 closed

[2020-11-06 05:04] #25792 closed

[2020-11-06 05:04] #25801 closed

[2020-11-06 05:04] #25807 closed

[2020-11-06 05:05] #25813 closed

[2020-11-06 05:05] #25814 closed

[2020-11-06 05:05] #25820 closed

[2020-11-06 06:40] hzxuzhonghu commented on #28606
Cool. We will try that.

[2020-11-06 06:50] tobiasgiese commented on #23232
lifecycle/staleproof

[2020-11-06 06:52] tobiasgiese commented on #23232
@howardjohn could you plrease reopen the issue and add `lifecycle/staleproof `? Thanks

[2020-11-06 06:52] tobiasgiese commented on #23231
@howardjohn could you please reopen this issue and add `lifecycle/staleproof `? Thanks

[2020-11-06 06:58] samuel-hopko opened #28641 "Add possibility to define custom labels"
**Description**
I would like to see a possibility to add custom labels to Istio components when installing via IstioOperator. I would like to have labels unified in all apps running in Kubernetes cluster, but istio is only one which has just its default labels.

**Use case**
I am installing _prometheus_ an _kiali_ to my cluster. I would like to add there cluster-wide set of labels:

- app.kubernet

[2020-11-06 07:04] lambdai commented on #28620
That `this capture` is risk originates from the fact that the post lambda, which is dispatched by `tls->runOnAllThreads`, are supposed to be running on worker threads.
However, this crash thread is master thread. See `backtrace	#35: Envoy::Config::GrpcMuxImpl::onDiscoveryResponse() [0x5602ae48b858]` which could only on master thread.

This crash could happen even without the data race between mast

[2020-11-06 07:05] lambdai commented on #28620
@EItanya
Sorry, i get your point. The first crash is on work thread.
[code]

[2020-11-06 07:08] LSChyi commented on #28613
Hello @Monkeyanator, this issue persists. I reinstall the whole rancher cluster (follow the [cleanup steps](https://rancher.com/docs/rancher/v2.x/en/cluster-admin/cleaning-cluster-nodes/) and reboot both nodes), and it is reproducible by following the steps I documented above.

The curl command I used is

[code]

to access the CNN website and

[code]

. Not sure is this issue related to the ranche

[2020-11-06 08:36] vbalaganes opened #28645 "IPV6 address in Virtual Services are assumed as short names & updated as incorrect fqdn in ingress routing info."
Hi ,

I have installed Istio **1.6.8** in a IPv6 K8s Cluster.
I created a Virtual Service with IPv6 Address in Host Field.

spec:
  gateways:
  - istio-k8s-ingress
  hosts:
  - **2a00:4000::614**
  http:
  - match:

When I checked the routing info in ingress gateway pod with [ curl [::1]:15000/config_dump2].
It shows ,

"domains": [
"2a00:4000::614.ns.svc.cluster.local",
"2a00:4000::614.ns.svc.clu

[2020-11-06 08:49] kzzalews opened #28646 "Connection between pod and external Kafka works randomly with Istio sidecar enabled"
**Bug description**

We're using AWS EKS in which we have installed Istio and running some Kafka consumers. Outside of EKS, in the same VPC, we've installed three Kafka nodes. We've created `Service` (so called headless service), `Endpoints` and `ServiceEntry` K8s objects to expose Kafka into service mesh (see steps to reproduce).

This configuration works flawlessly as long as you create pods wit

[2020-11-06 08:53] infa-jowoods commented on #11723
Hi, instead of recompiling Istio linking against a FIPS mode version of BoringSSL, would it not be possible to simply, restrict the crypto used by Istio to FIPs primitives.. i.e. (AES, ECDSA, RSA, SHA2), for example by changing ciphersuites... or indeed, is Istio using non-compliant crypto elsewhere that is non-configurable?

[2020-11-06 08:59] kzzalews commented on #28646
It seems that with `kafkacat [...] -d all` we get more info about problems affecting 2 in 3 Kafka connections:
[code]

This error - "Broker: Not leader for partition" - is showing up with Istio sidecar and doesn't when Istio sidecar is disabled.

[2020-11-06 10:00] irisdingbj opened #28647 "Test Framework: enhance eastwest gw installation option to inherit the same install setting with cluster"
Look at the  pilot integration test failures in #28296 and found out

previously we will generate  install manifest for eastwest gw and then apply them.   Since we only check whether the pod is in running status
 https://github.com/istio/istio/blob/master/pkg/test/framework/components/istio/eastwest.go#L111  this hides the fact that the eastewst gateway pod fails to connect the istiod in some case

[2020-11-06 10:05] irisdingbj commented on #28647
cc @howardjohn

[2020-11-06 10:19] Siddharthk commented on #28528
@bianpengyuan  I have edited the Envoy filter:
[code]
But this is still happening. Notice the random ports getting associated with the pod IP in below image.
![image](https://user-images.githubusercontent.com/718854/98355043-a2bd1680-2047-11eb-9455-6c938224d819.png)

[2020-11-06 14:24] AEGQ opened #28651 "Grpc traffic changed to TCP traffic"
**Version:**
istio 1.6.7 kubernetes 1.16

**Call relationship：**
service A (grpc) ===Unary RPCs===>> service B (grpc)

**Grpc traffic changed to TCP traffic ：（Figure below is service B ）**
![image](https://user-images.githubusercontent.com/16302289/98372567-ed0abb80-2078-11eb-87f1-780c321e7467.png)

**Figure below is service A**
![image](https://user-images.githubusercontent.com/16302289/98443339-

[2020-11-06 14:44] Monkeyanator commented on #28645
Think the issue is that we're checking whether the host is FQDN by just doing

https://github.com/istio/istio/blob/eaacb6e0037b81551fa2c6017406d4f3de703d80/pilot/pkg/model/config.go#L201

[2020-11-06 14:50] Stono opened #28652 "Approx. 20% increase in istio-proxy memory usage on 1.7 vs 1.6"
**Bug description**
Hi,
I've been chatting to @howardjohn about this, and felt it warrants a github issue to track.

We've recently upgrade a staging cluster which has circa 500 istio-proxies on it from 1.6.13 to 1.7 and once we'd updated all sidecars we observed about a 20-25% increase in istio-proxy memory cluster wide:

<img width="1672" alt="Screenshot 2020-11-06 at 14 31 11" src="https://user

[2020-11-06 14:58] Stono commented on #28287
Possibly related: https://github.com/istio/istio/issues/28652

[2020-11-06 15:07] kody-abe opened #28653 "Intermittent ECONNRESET"
**Bug description**

Our applications that have an attached sidecar see intermittent ECONNRESET to external services. We don't see this with calls to other services within the cluster, specifically those with VirtualService entries.

[code]

We are utilizing keepAlive. When we remove the sidecar injection on the pod and redeploy, the issue does not happen. It is also worth noting, that we see that

[2020-11-06 15:20] howardjohn commented on #20235
not stale

[2020-11-06 15:22] tobiaskohlbau opened #28654 "Mesh expansion using wrong ISTIO_VERSION"
**Bug description**

Istio sidecars deployed on virtual machines report for e.g. version _1.7.0_ instead of the installed version _1.7.4_. I've tracked down that the issue is caused by _ISTIO_META_ISTIO_VERSION_ being hardcoded into the shell scrip and bumped only on major releasest:

https://github.com/istio/istio/blob/4ce531ff1823a3abb9f42fa9d35523b0436e2d04/tools/packaging/common/istio-start.sh

[2020-11-06 15:23] Stono commented on #28652
I'm going to document the things I check here as I go.
The first thing I wanted to validate was that we haven't had an explosion of metrics.

There are some new metrics in the 1.7 envoy:

[code]

It looks as if locality metrics are now enabled by default, which is a bit annoying as we don't need them, and also, they're still in a strange broken statsd format (the `europe-west4-a` part should be a

[2020-11-06 15:29] Stono commented on #28652
`top` from 1.7:
[code]

`top` from 1.6:
[code]

[2020-11-06 15:32] Stono commented on #20235
These metrics (in an invalid format) seem to be enabled by default now in 1.7.  Is that intentional?  Does anyone know how to turn them off?

[2020-11-06 15:37] bianpengyuan commented on #28528
@Siddharthk could you set `disable_host_header_fallback` to true? I'd like to rule out host header fallback causing this high cardinality.

[2020-11-06 15:45] zufardhiyaulhaq commented on #28654
@tobiaskohlbau this documentation clearly said using 1.7.4 https://istio.io/latest/docs/setup/install/virtual-machine/
can you point me which documentation that using `istio-start.sh`?

[2020-11-06 15:48] zufardhiyaulhaq commented on #28641
IIRC this is possible
[code]

[2020-11-06 15:54] #28562 closed

[2020-11-06 15:56] Stono commented on #28652
Associated: https://github.com/istio/istio/issues/26232

[2020-11-06 15:58] Monkeyanator commented on #28654
From checking around it looks like our [systemd entrypoint](https://github.com/istio/istio/blob/master/tools/packaging/common/istio.service) is `istio-start.sh`, which indeed remains pointed at the `1.x.0` version across all patches. Not sure if this is intended

[2020-11-06 16:01] Stono commented on #26232
As someone using istio with a _lot_ of pods, a 25% increase in proxy usage, after we've just took a 10% increase 1.5 -> 1.6 for SDS, is certainly **upgrade** blocking for us.

[2020-11-06 16:02] zufardhiyaulhaq commented on #27990
@howardjohn can we make analyzer for this one?

[2020-11-06 16:07] #26935 closed

[2020-11-06 16:09] howardjohn commented on #23231
Lets track in https://github.com/istio/istio/issues/26679?

[2020-11-06 16:10] #28482 closed

[2020-11-06 16:12] howardjohn commented on #27990
we actually have one sort of, PortNameAnalyzer, we can just extend it to ServiceEntry I think?

[2020-11-06 16:13] Siddharthk commented on #28528
@bianpengyuan it was true in the first place...changed it back to true but still same issue.
![image](https://user-images.githubusercontent.com/718854/98388585-f8f67d80-2078-11eb-80e2-e20ecbc7ac8f.png)

[2020-11-06 16:15] bianpengyuan commented on #28528
Could you set it to true at all three places? I believe you flipped the configuration at gateway envoyfilter, could you add the option to sidecar ones?

[2020-11-06 16:36] Siddharthk commented on #28528
Added in inboundSidecar, outboundSidecar and gateway. Still same issue after restarting prometheus.
![image](https://user-images.githubusercontent.com/718854/98391131-3f99a700-207c-11eb-9c01-23de64de2114.png)

[2020-11-06 16:38] bianpengyuan commented on #28528
@Siddharthk You'd need to restart sidecars as well, prometheus stats are emitted there and persist for the lifetime of the proxy.

[2020-11-06 16:57] stevenctl commented on #28647
https://github.com/istio/istio/pull/28657

[2020-11-06 17:02] Siddharthk commented on #28528
@bianpengyuan redployed the apps and monitored for 5 mins...I don't see this happening now. Is this the solution?

[2020-11-06 17:04] stevenctl commented on #28647
The above PR doesn't bring over all install options, only revision for now to avoid enabling components we don't want to include. It also allows users to specify revision with a flag to the gen-eastwest script.

[2020-11-06 17:11] kyessenov commented on #28652
istio-agent increased in memory because xDS proxy was added, which requires importing a whole bunch of protobufs from envoy. I think the question is whether the value added by the proxy justifies the cost.

[2020-11-06 17:18] zufardhiyaulhaq commented on #27990
I am not sure by the way, correct me, but currently we don't have dedicated analyzer for serviceentry. I believe `PortNameAnalyzer` is under service package which means should analyze related to Kubernetes `service` object right?

[2020-11-06 17:19] kyessenov commented on #28424
From the ingress proxy logs, it looks like extraStatTags did not take effect...

[2020-11-06 17:19] kyessenov commented on #28424
cc @howardjohn Is there something special about annotations processing in the gateway?

[2020-11-06 17:28] e-zhang opened #28659 "Improve memory footprint of dynamic route config when handling multiple domains"
**Describe the feature request**

For our use case, we have a single Gateway object that has many domains attached under the `hosts` section of the spec.

We also have multiple VirtualServices, each with multiple http routes, that are attached to this Gateway.

An example config would be

[code]

What we've noticed is that the envoy config pushed to the IngressGateway essentially forms the cartesi

[2020-11-06 17:28] howardjohn commented on #27990
I see, yeah I just meant its similar, but doesn't do ServiceEntry

[2020-11-06 17:29] howardjohn commented on #28659
@ramaraochavali @hzxuzhonghu I know its theoretically possible to collapse these but its challenging to come up with an algorithm that optimizes all cases. LMK if you have ideas

[2020-11-06 17:35] howardjohn commented on #28424
@kyessenov I should end up the same. I am not actually sure how `sidecar.istio.io/extraStatTags` can ever work, how/where is it supposed to take effect?

[2020-11-06 17:35] ntap-joshuap commented on #11723
No.  It is not sufficient to limit algorithms and cipher suites.  You must use a library that has been certified by NIST's Cryptographic Module Validation Program.  See below link.  Note that there are both BoringSSL and OpenSSL modules which have been validated.

https://csrc.nist.gov/Projects/cryptographic-module-validation-program/validated-modules/Search

[2020-11-06 17:38] kyessenov commented on #28424
It should be processed into envoy bootstrap via some very indirect framework methods. But it's tested and documented here: https://istio.io/latest/docs/tasks/observability/metrics/customize-metrics/

[2020-11-06 17:39] infa-jowoods commented on #11723
Thanks @ntap-joshuap .

[2020-11-06 17:44] howardjohn commented on #28424
I don't see any code that is getting it there though, sidecar or gateway. iut would end up nested under ANNOTATIONS for sure, but not sure where it would get added to top level

[2020-11-06 17:46] mandarjog commented on #28652
Is xds proxy already present in 1.7?
If you look at the effect on memory 1.7 uses 15MB of additional unshared memory. Details in the attached bug.

[2020-11-06 17:50] #24318 closed

[2020-11-06 17:52] zufardhiyaulhaq commented on #27990
Let me try working on this one sir

[2020-11-06 18:29] richardwxn commented on #28615
Can you try to do a clean reinstallation with the new istioctl build?(removing the control plane resources and also CRD must be removed)

[2020-11-06 18:40] irizzant opened #28662 "HTTP traffic through Gateway is blocked between Pods"
**Bug description**
Hello
I have a cluster with a wildcard Gateway defined as below:
[code]

Which exposes one web application through the following virtual service and DestinationRule:
[code]

The Gateway is using a TLS certificate from LetsEncrypt that is valid.
The problem is that I cannot curl the domain from the web application, this is what I get:
[code]
This kind of traffic should be Passth

[2020-11-06 18:46] nightmareze1 commented on #21228
Support for progressive traffic increase for new Pods (slow start mode) is very important :)
https://aws.amazon.com/about-aws/whats-new/2018/05/application-load-balancer-announces-slow-start-support/

+1

[2020-11-06 18:50] richardwxn commented on #28616
It is fixed by #28439, the in-place upgrade test and canary upgrade test pass since then:

1. https://prow.istio.io/job-history/gs/istio-prow/logs/istio-dual-control-plane-upgrade-1.7-1.8.
2. https://prow.istio.io/job-history/gs/istio-prow/logs/istio-upgrade-using-istioctl-1.7_latest-1.8_latest

I guessed it was caused by the bad CRDs/CRs hanging in the cluster, you probably did not clean up the C

[2020-11-06 18:52] mandarjog commented on #28652
multiple questions
1. Is it possible for a user to pay the cost of xds proxy *only* when they use features that require it.
2. Is it possible to fix it?
3. 25% is a large number, but the absolute number is what really matters which is 50-60mb per proxy, that is why I felt we don't need to make it a release blocker. A Java app would use 100s MBs to a few GBs.
But in aggregate istio ends up using mo

[2020-11-06 18:55] howardjohn commented on #28652
On 3 month old memory: when looking into this, its extremely challenging to reduce the binary size in 1.7

In 1.9 we will drop the k8s imports, which I have done locally, and its 40mb, so we definitely have a long term path forward. Also the `gogo` api migration will drop multiple mb as well

[2020-11-06 18:56] kyessenov commented on #28652
There's a budget of how much users are going to tolerate per-pod overhead. Keep in mind Wasm overhead and whether it's better to use the budget for xDS proxy or Wasm.

[2020-11-06 18:58] howardjohn commented on #28652
We can reduce the overhead of XDS proxy. We don't unmarhsal Any so we don't need to import all the filters. The bare cost of just importing core XDS is not that high

[2020-11-06 19:00] howardjohn opened #28663 "Add liveness probe to istio-agent"
This will resolve issues where pod permanently fails to get ready. We should be careful not to make this have false positives, most of this is resolved by caching result.

For safety, this should be off by default.

The probe should be the same as readiness but with different failure threshold/interval

[2020-11-06 19:02] totallyGreg commented on #28107
So I've created a test #28544 that I thought would at least indicate where this is failing.  Unfortunately it did not.
I need to understand why this `bin/istioctl-1.6.9 manifest generate  --revision 1-6-9 -f revision-test.yml > revision-manifest.yml` fails to create a valid hpa object.  So that we can stop manually patching the hpa object after an `istiotctl install`
I would appreciate any help in

[2020-11-06 19:04] zufardhiyaulhaq commented on #27990
@howardjohn create the PR. https://github.com/istio/istio/pull/28664

[2020-11-06 19:06] Stono commented on #28652
Sorry but this is not a valid point.

This isn't the main application, it's supposed to be a lightweight transparent proxy!

[2020-11-06 19:25] howardjohn commented on #28605
I don't see how it can happen. we look for `[__meta_kubernetes_service_annotation_prometheus_io_scrape=true]` in the config... can you ensure this annotation is not present on the prometheus pod/service/endpoint? when looking at the manifest generate I do not see it, but not sure how this could happen otherwise

[2020-11-06 19:35] yann-soubeyrand opened #28666 "maxConnections on outbound clusters should scale according to number of servers the clusters contain"
**Bug description**

Let's consider an application composed of 10 Unicorn servers behind two Varnish cache proxies. Due to how Unicorn works, we want to limit the number of connections to each server to, say, 8. We do this by setting trafficPolicy.connectionPool.tcp.maxConnections to 8 in the destination rule associated with the service provided by the Unicorn servers. However, doing so leads Varn

[2020-11-06 19:38] yann-soubeyrand commented on #28666
CC @hzxuzhonghu following our discussion on Slack (https://istio.slack.com/archives/C38CF1PEC/p1603826093253600).

[2020-11-06 20:09] ostromart commented on #24318
Fixed, also backported to 1.7. Test included to prevent any regressions.

[2020-11-06 20:47] incfly commented on #27997
The exception or other config knobs if mis designed or misused can really cause security holes right? How to ensure attackers won't be taking advantage of those corner case and exception? For that reason, I feel it's quite unlikely we will add some way to by pass mTLS. So closing the issue for that.

One alternative I could think of though is to use authorization && permissive. You can write a pol

[2020-11-06 20:47] #27997 closed

[2020-11-06 21:04] howardjohn commented on #27997
For the last point, you can look into experimental feature `holdApplicationUntilProxyStarts`

[2020-11-06 21:35] linsun commented on #28647
Thank you @irisdingbj for the analysis!

[2020-11-06 21:37] Monkeyanator commented on #28645
Thanks for reporting this @vbalaganes! Should be fixed in 1.7.5 with #28661

[2020-11-06 21:37] #28645 closed

[2020-11-06 21:41] akhilgoel09 opened #28668 "Entries are not getting created in route-53 istio 1.7.3 version issue"
[code]

[2020-11-06 21:47] #28596 closed

[2020-11-06 21:47] akhilgoel09 commented on #28596
Thanks for the help closing the ticket

[2020-11-07 00:40] howardjohn commented on #28668
The Istio external dns adaptor is not maintained by this project, maybe useful to look into https://github.com/kubernetes-sigs/external-dns

[2020-11-07 05:04] #25825 closed

[2020-11-07 05:04] #25841 closed

[2020-11-07 05:04] #25849 closed

[2020-11-07 06:08] munjalpatel commented on #28623
@incfly any ideas? Would really appreciate some help here.

[2020-11-07 06:15] adiprerepa commented on #28663
I'll take this one since I did the readiness probe for VMs.

Would we define the "new" failure threshold/interval the same way we did for healthchecking? i.e. adding it to ProxyConfig

[2020-11-07 07:58] charshin opened #28681 "Path rewrite to external service"
**Bug description**
Request is forwarded/routed successfully to an external service outside the cluster via ServiceEntry, but path rewrite is ignored. Is this a bug or not supported?

This question has been raised [here](https://discuss.istio.io/t/rewrite-to-externalname-service-isnt-working/5141) but looks like it doesn't get any attention so I'd like to put it here.

[ ] Docs
[ ] Installation
[X

[2020-11-07 08:07] rajivml commented on #28614
HI, can you plz share an example, not sure what do u meant by root path

[2020-11-07 10:49] jamesmedice commented on #26559
for me using the config of
[
jwtRules:
  - issuer: "testing@secure.istio.io"
    jwksUri: "https://raw.githubusercontent.com/istio/istio/release-1.8/security/tools/jwt/samples/jwks.json"
]
https://preliminary.istio.io/latest/docs/tasks/security/authentication/authn-policy/

works...

when i use my keycloak instance that is on the same cluster (since i use it on k8s on my machine) it gives the erro

[2020-11-07 11:02] sbvitok opened #28682 "tls listener for sidecar"
**Bug description**
TLSRoute of VirtualSevice dose not create tls listener in envoy for mesh gateway.

[x] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
Creating TLSRoute in VirtualSevice must create tls listener in envoy for mesh gateway.
Ho

[2020-11-07 11:31] yann-soubeyrand commented on #24806
Hi,

I'm also seeing TCP RST with an external service for which TLS origination is configured.

![wireshark-screenshot](https://user-images.githubusercontent.com/8511577/98439846-f0dc2380-20f4-11eb-95f6-d55fec62e3c8.png)

Could we reopen this issue?

[2020-11-07 16:28] munjalpatel commented on #28623
@hzxuzhonghu I created and added `serviceAccount` to `nats` deployment. However, still the same issue.

[2020-11-07 18:11] mirobertod commented on #22769
Hi, there is no mention in the wiki page about permissions.
Do we need to add some permission to the service account? Our nodes on GKE have already the role to write metrics and logging to stackdriver.

[2020-11-07 18:46] howardjohn opened #28683 "Possible 1.8 regression: 503s, 500s"
![2020-07-11_10-44-27](https://user-images.githubusercontent.com/623453/98449179-452bd700-20e6-11eb-8bc1-9f9da84b0dfa.png)

Running head of 1.8 with custom Envoy by Lizan: https://github.com/istio/envoy/tree/sds_backport

[2020-11-07 22:17] aalmazanarbs opened #28684 "LDAP protocol is not working with mutual TLS and traffic policy ISTIO_MUTUAL"
**Bug description**
When a client pod tries to connect to another pod (statefulSet) with LDAP protocol (STARTTLS or SSL) the Istio sidecar is not handling connection properly. The following logs are present in the istio-proxy container of the LDAP server:
[2020-11-07T21:30:46.625Z] "- - -" 0 URX "-" "-" 0 0 0 - "-" "-" "-" "-" "127.0.0.1:1389" inbound|1389|tcp-ldap|ldap.default.svc.cluster.local -

[2020-11-07 22:31] munjalpatel opened #28685 "Istio 1.7.1 - connection to Kubernetes API fails with 401 Unauthorized"
**Bug description**

Calls to `https://kubernetes.default.svc.cluster.local/version` fail with `401 Unauthorized`.

[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[x] Security
[ ] Test and Release
[x] User Experience
[ ] Developer Infrastructure

**Expected behavior**

Calls to `https://kubernetes.default.svc.cluster.local/version` should succ

[2020-11-08 04:19] AEGQ commented on #26603
@lut777 how do you solved the problem ? (你是怎么解决这个问题的？)
I seem to have a similar problem,grpc traffic suddenly processed by passthroughputcluster https://github.com/istio/istio/issues/28651
（我好像遇到类似的问题，grpc 流量突然走到了passthroughputcluster）

[2020-11-08 15:42] andrewshaoyu opened #28687 "Does ledger memory leak?"
**Bug description**
when a istio resource (like serviceentry) updated 1qps,the pilot memory usage will increase quickly, and cpu util increased.
the resource update quickly is my problem,but why the memory usage keep increasing, does this situation meet the design?

[ ] Docs
[ ] Installation
[ ] Networking
[x] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Relea

[2020-11-08 16:07] tobiaskohlbau commented on #28654
Yes @Monkeyanator is right. The systemd entrypoint uses the `istio-start.sh` which I referenced above to initialize the system and run the `pilot-agent proxy` command. I'm not sure if this is this is intended but I would suggest that this should not be intended. It could confuse users to get different versions reported through for e.g. `istioctl proxy-status` for in cluster and VM nodes. Another o

[2020-11-08 16:38] carolynhu commented on #28687
https://github.com/istio/istio/issues/28015

[2020-11-08 19:25] cagataygurturk opened #28688 "Ability to annotate Ingress and Egress gateway service accounts"
**Describe the feature request**

Istio Operator should have an option to add annotations for gateway service accounts.

This is mainly required to add Workload Identity support to gateways.

[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Additional context**

[2020-11-08 21:34] ghahramani commented on #14662
I am using the helm chart of elastic search and I had the same problem; it seems istio, even suggested env values in istio documentation does not work but I solved the problem with config below for anyone who interested.

[code]

[2020-11-08 22:14] tru-cstavares opened #28689 "command 'istioctl manifest generate' returns errors"
**Bug description**
I am trying to upgrade istio from v1.4.10 to v1.5. Istio v1.4.10 was installed using Helm templates followed by Kubectl apply. Knowing this and considering that upgrade using istioctl is now the recommended way to procceed I am trying to 'migrate' current setup to istioctl as follows:

1. istio-1.4.10# bin/istioctl manifest migrate my-values.yaml > migrate_export.yaml
2. istio-

[2020-11-08 22:59] sdake commented on #28031
@howardjohn I have the `istio` namespace on quay.io that I registered 3+ years ago when starting work on Istio. Thought it may come in handy at some point 👍

I would like to mirror to quay please. @stewartbutler I will wait for your mirror PR to merge, and then setup quay.io as a second mirror.

Cheers,
-stee

[2020-11-08 23:03] sdake commented on #28031
@ceastman-ibm, the request you have made isn't related to the docker hub image rate limiting in this issue tracker. Please file a new enhancement request for such a feature.

The Istio tree supports multiple base images and could - in theory - support UBI in addition to Debian and distroless.

The real challenge with UBI is ensuring it has the proper set of base libraries to support Envoy.

If you

[2020-11-08 23:07] sdake commented on #28031
@ericvn I think at a minimum - we must change the image source for every released version of Istio as well as any maintenance releases. This is a lot of work - but I foresee a future, especially in high churn environments, where there are major complaints about Istio "not working" because the source hub is invalid.

While we all know docker hub should not be used in production, it certainly is use

[2020-11-08 23:08] andrewshaoyu commented on #28687
there are different. pkg ledger it self Vs pkg ledger misused.

[2020-11-09 00:20] #26762 closed

[2020-11-09 00:31] howardjohn commented on #26232
Doing a bunch of work on https://github.com/howardjohn/istio/pull/new/agent/tiny-binary-full-branch to trim the deps a lot. Down to 37mb currently. 30mb seems feasible. It contains about 15 changes so I will be splitting it out into many smaller prs

[2020-11-09 00:49] howardjohn commented on #28683
The 500s are returned from the app. Logs look like
[code]

Each failure can be correlated to an SDS push log

[2020-11-09 00:49] howardjohn commented on #28683
I have TTL set to 10mins on the certs, possibly related

[2020-11-09 00:51] howardjohn commented on #28683
[code]

Pushes are either every 10min or every 5 mins. They should all be 5 mins, otherwise we are likely hitting expirations?

[2020-11-09 01:01] howardjohn commented on #28683
Seems like SECRET_TTL=10m, SECRET_ROTATION_CHECK_INTERVAL=5mins, SECRET_ROTATION_CHECK_INTERVAL=0.5 is a perfect bad storm of allowing this to happen.

Long term we should move of the naive "sleep loop" algorithm. Short term we can probably just make SECRET_ROTATION_CHECK_INTERVAL capped at `(SECRET_TTL*SECRET_ROTATION_CHECK_INTERVAL/2)`

[2020-11-09 01:36] howardjohn commented on #28651
was there anything on your side that changed? Config, istio version, etc?

[2020-11-09 01:42] zhangxingdeppon commented on #28605
@howardjohn yes, I saw `[__meta_kubernetes_service_annotation_prometheus_io_scrape=true]` in prometheus svc, see below:
<pre><code>
[root@ecs-5274-0318468 ~]# kubectl get  svc prometheus -n istio-system  -o yaml
apiVersion: v1
kind: Service
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"v1","kind":"Service","metadata":{"annotations":{"promethe

[2020-11-09 02:44] Coder63 opened #28695 "Unable to set serviceAnnotations using Istio operator"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
I'm unable to set ingressGateway to use internal loadbalancer using istio operator

**Affected product area (please put an X in all that apply)**

[

[2020-11-09 02:56] champly opened #28696 "Inject sidecar with resouce limit warn log"
When i inject a sidecar with annotation

[code]

will inject succ. But `istiod` print warn log

[code]

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[x] User Experience
[ ] Developer Infrastructure

**Affected features (please put an X in all that apply)**

[ ] Multi Cluster
[ ] Virtual Machine
[ ] Multi Con

[2020-11-09 03:22] bryant-rh opened #28698 "istio-ingressgateway can’t access"
k8s version: v1.18.8
istio version: 1.7.4

istio deploy is successed
![image](https://user-images.githubusercontent.com/43403977/98496755-4f340e00-227d-11eb-97e2-50c151885077.png)

but can't access ingressgateway
![image](https://user-images.githubusercontent.com/43403977/98496892-a0dc9880-227d-11eb-8810-4d6017623e03.png)

then I use exec access  istio-ingressgateway pod ,I found not listen 8080 p

[2020-11-09 04:07] #28582 closed

[2020-11-09 05:28] bjwyun opened #28699 "istio-operator get remote error: tls: bad certificate"
in OCP 4.3
![image](https://user-images.githubusercontent.com/31024715/98503354-3fbdc080-228f-11eb-8929-29cbe6ebb67f.png)

the logs from istio-operator is
E1109 04:51:50.309730       1 reflector.go:178] sigs.k8s.io/controller-runtime/pkg/cache/internal/informers_map.go:224: Failed to list *v2.ServiceMeshControlPlane: conversion webhook for maistra.io/v2, Kind=ServiceMeshControlPlaneList failed: Po

[2020-11-09 05:37] lanceliuu opened #28700 "remove init containers with CNI enabled"
**Bug description**
We want to optimize pod start time with sidecar injection enabled. Seems that the parameter `cni.repair.enabled` controls whether to inject the `istio-validation` container or not with CNI enabled.
https://istio.io/latest/docs/setup/additional-setup/cni/#helm-chart-parameters

I installed istio with `cni.repair.enabled=false` but still find the `istio-validation` init-container

[2020-11-09 06:51] #28699 closed

[2020-11-09 07:15] christian-vent commented on #19531
@jronak do you know when this change will be released?

[2020-11-09 07:19] morvencao commented on #28700
The `istio-validation` init container will be injected once you enabled istio cni, you can't disable that currently.

[2020-11-09 07:29] morvencao commented on #28698
istio gateway will not listen on port 8080 until you create `gateway` and coresponding `virtualservice` on that port. Try to deploy bookinfo application and corresponding `gateway` and `virtualservice` and then check it again.

[2020-11-09 07:39] morvencao commented on #28695
There are quite problems with your IstioOperator CR:
1. `components` is same level field with `profile`
2. the content of `ingressGateways` can slice, not object
3. `serviceAnnotation` should be `serviceAnnotations`

The correct IstioOperator CR should be:
[code]

[2020-11-09 08:12] morvencao commented on #28688
I can see the straightforward way to implement this is using advanced k8s overlay:
[code]

which will generate `istio-ingressgateway-service-account`:
[code]

[2020-11-09 08:14] lanceliuu commented on #28700
I removed the `istio-validation` from the istio-sidecar-injector template and everything seems remain working without issue. Could you give more hints for the necessity of `istio-validation` container? Any related issue/discussion would be apperaciated.

[2020-11-09 08:29] samuel-hopko commented on #28641
@zufardhiyaulhaq thx for answer. That means that kiali and prometheus will be separated in the near future? And will be this configuration option possible?

[2020-11-09 08:46] sha-rath commented on #24538
Not stale..there are a couple of issues to be addressed wrt IPv6 and dual-stack. Can we pls keep this issue open and continue to work on it?

[2020-11-09 08:52] cagataygurturk commented on #28688
@morvencao this is promising but I have an issue when the annotation name contains dots. The configuration below is ignored by the operator

[code]

I am not sure whether there is a special syntax for this.

[2020-11-09 09:08] morvencao commented on #28688
You can escape the dot in the annotation key, for example:
[code]

[2020-11-09 09:18] cagataygurturk commented on #28688
Of course the simplest thing again does not come to mind...

Thanks it works now, I can close the issue!

[2020-11-09 09:18] #28688 closed

[2020-11-09 09:19] bryant-rh commented on #28698
thanks ，The problem is solved！！

[2020-11-09 09:21] morvencao commented on #28700
@lanceliuu See the original PR to add the `istio-validation` init container: https://github.com/istio/istio/pull/20130

[2020-11-09 09:26] lechen26 commented on #23878
@arshchimni any chance you can share your solution?
this is exactly what i'm trying to do but with no luck

[2020-11-09 09:43] Stono commented on #26232
That's awesome @howardjohn - guessing we're looking at 1.9 for most of them however?

[2020-11-09 09:46] Stono commented on #28652
I'm going to close this in favour of https://github.com/istio/istio/issues/26232 which seems to be tracking the regression and all associated fixes.

@howardjohn has also back ported https://github.com/istio/istio/pull/28670 to 1.7 which is awaiting merge which will help a bit with the bloat on 1.7 (believe to land roughly half way between what I've observed here and 1.6).

I think; for those comi

[2020-11-09 09:46] #28652 closed

[2020-11-09 09:56] marcfong commented on #28616
purging the CRDs and installing build `1.8-alpha.09df30801a3b1bc4a6c3e2dde6fb7a633003741f` solved the issue

[2020-11-09 09:57] #28616 closed

[2020-11-09 10:16] morvencao commented on #28698
I'll close this, feel free to reopen it if you still have problem.

[2020-11-09 10:16] #28698 closed

[2020-11-09 10:31] morvencao commented on #28641
@samuel-hopko From istio-1.6.0, istio addons(kiali, tracing, prometheus and grafana...) are be bundled with istio installation, it is the user’s responsibility to install these components by using the doc: https://istio.io/latest/docs/ops/integrations/

[2020-11-09 10:50] samuel-hopko commented on #28641
@morvencao thanks for the clarification

[2020-11-09 10:50] #28641 closed

[2020-11-09 12:20] #28583 closed

[2020-11-09 12:23] esnible commented on #25688
I added an item to discuss this issue and the PR to the UX meeting tomorrow.

[2020-11-09 12:28] AEGQ commented on #28651
I found that the service code has a special strategy when the traffic peaks (change header or something).
I will close this issue because it appears to be a problem with the service code not istio.

[2020-11-09 12:28] #28651 closed

[2020-11-09 12:58] SuleimanWA commented on #11659
This is a good solution if RBAC not enabled, when u enable it, this will fail because it considered out of mesh

[2020-11-09 12:58] SuleimanWA commented on #11659
This is a good solution if RBAC not enabled, when u enable it, this will fail because it considered out of mesh

[2020-11-09 14:21] #27490 closed

[2020-11-09 14:27] Monkeyanator commented on #28613
I'm able to reproduce this for short periods of time (requests to whichever egress was created last fail for ~5 minutes with `503 NR` with no traffic sent to egress) and then the requests begin to succeed again. Strange because I couldn't find anything abnormal in the route config, even when the requests were failing. Could be an issue in the Gateway merge logic- will keep looking into it.

[2020-11-09 15:11] esnible commented on #27938
We should deprecate `istioctl validate`.

I don't think `--fail-on-deprecated` should be added.  We have `--suppress <code>=<resource>`.  If we need this we should probably handle it the same way, with `--only IST0002=*` or similar.

[2020-11-09 15:11] howardjohn commented on #28685
did this work without istio sidecar?

[2020-11-09 15:32] esnible commented on #25893
@jasonwzm Are you available to take this one?

[2020-11-09 15:34] esnible commented on #24583
@stevenctl are you working on this?  If not, please unassign yourself.

[2020-11-09 15:36] esnible commented on #23235
@jasonwzm Are you working on this?  If not, please unassign yourself.

[2020-11-09 15:37] esnible commented on #22478
@therealmitchconnors Are you working on this?

[2020-11-09 15:45] esnible commented on #20289
@lei-tang @sdake `istioctl x post-install webhook` is deprecated in 1.8 and will be removed in 1.9.  Please don't work on it.  `webhook` was the only command in `post-install` and it is likely that `istioctl x post-install` will be removed at the same time.

[2020-11-09 15:56] Stono commented on #27938
@esnible sorry I'm not familiar with the syntax, would that enable me to exit with a non-zero status code when deprecated apis are detected?

[2020-11-09 16:05] howardjohn commented on #25893
I think this will be obsolete once we move to Istiod code

On Mon, Nov 9, 2020 at 7:33 AM Ed Snible <notifications@github.com> wrote:

[2020-11-09 16:05] howardjohn commented on #22478
I think this will be obsolete once we move to Istiod code, unless we want
to fix for older versions

On Mon, Nov 9, 2020 at 7:38 AM Ed Snible <notifications@github.com> wrote:

[2020-11-09 16:08] howardjohn commented on #26232
Yeah unfortunately so. The bulk of the changes are from dropping Kubernetes imports which is not feasible on older versions.

[2020-11-09 16:14] esnible commented on #27938
@Stono We don't have a good way to suppress all-but one type.

As a work-around, until we have a design and merged implementation, `istioctl analyze | grep IST0002` works in scripts.  It does a bit of extra work, and it sets `$?` to the opposite of what you want, but it can be used in scripting.

[2020-11-09 16:48] Monkeyanator commented on #28681
Think the issue in your configuration is that you're setting `hosts` on the `VirtualService` to `restwrapjdbc`. Route rewrite should work if you make the host `mytestsvc`

[2020-11-09 16:52] istio-testing opened #28705 "[release-1.7] Trim agent binary by 14mb by conditionally compiled XDS filters"
Manual cherrypick required.

#28670 failed to apply on top of branch "release-1.7":
[code]

[2020-11-09 16:52] istio-testing opened #28706 "[release-1.8] Trim agent binary by 14mb by conditionally compiled XDS filters"
Manual cherrypick required.

#28670 failed to apply on top of branch "release-1.8":
[code]

[2020-11-09 16:54] jaronoff97 opened #28707 "Istio Operator Reconciliation causes downtime"
**Bug description**
We manage our istio configuration through the istio operator on istio 1.6.4, and recently we've seen that on pod eviction or a restart, our operator (as expected) begins the reconciliation loop. Once it begins the loop, it finds MANY diffs between the current and desired states – even though we haven't updated our IstioOperator configuration between the restarts. We see these l

[2020-11-09 17:02] linsun opened #28708 "simplify external istiod and MC config for remote cluster"
**Describe the feature request**
We are asking mesh operator to specify a bunch of data which we already asked for.  Examples:

caAddress
injectionURL
validation URL

The content of these can be generated either from discoveryAddress or cluster name or network info.  We should generate these defaults to our users vs asking them to configure them explicitly.

Related to discussion earlier in slack

[2020-11-09 17:09] kunalekawde opened #28709 "Unable to route application traffic on mesh gateway with port other than 80"
**Bug description**
I'm not sure if this is bug but posting it here as I'm not able to get through this.
Posted the scenario and observation here: https://discuss.istio.io/t/egress-traffic-to-multiple-ports-on-same-server/8711/3

Briefly, the case is, if traffic has to steered from application --> istio-proxy(sidecar) --> egress --> out, where application wishes to address to different port other

[2020-11-09 17:28] sbueringer opened #28710 "Make iptables initContainer run as non-root user"
**Describe the feature request**
It would be nice if the iptables initContainer would be run as non-root user.
This should be possible by adding the necessary capabilities to the pilot-agent and iptables.
Group 0 is still required as `iptables-restore` needs it to read the `/proc/net/ip_tables_names` file.

**Describe alternatives you've considered**

[ ] Docs
[ ] Installation
[ ] Networking
[ ] P

[2020-11-09 17:33] howardjohn commented on #26232
Note sure how much this will impact once we are done trimming, but golang 1.16 will net us a few wins as well:
[code]

[2020-11-09 17:40] Stono commented on #27938
@esnible just to be clear I'm not looking to suppress all but one type, I'm happy for all warnings to come through, I was just looking for a way to set at which level we would fail?

Of course I could parse the output from istioctl analyze with some custom scripts, however what I was requesting is quite a common pattern with any sort of linting or validation tool, you set a failure threshold or fa

[2020-11-09 17:44] howardjohn commented on #27938
`--failure-threshold` is already there, takes info/warn/error. Then if there is some check that is false positives you can filter it out with `--suppress`.

What @esnible is suggesting, which I think may be useful but not required, is an allowlist option rather than denylist of `--suppress`

[2020-11-09 17:44] udaymadu commented on #24018
Is anyone actively working on it.

[2020-11-09 17:45] Stono commented on #27938
Ahhh so I could do `istioctl analyze --failure-threshold=warn` and `IST0002` = deprecated warning?

[2020-11-09 17:50] Stono commented on #27938
This seems to make sense to me by the way so long as we're able to continue to do offline validation with analyze, I don't see any reasons validate exists.

[2020-11-09 17:56] Stono commented on #27938
Can you see what i'm doing wrong here?:

Deprecated API:
[code]

[code]

[2020-11-09 17:58] Siddharthk commented on #28528
@bianpengyuan let me know what needs to be done next

[2020-11-09 18:00] ceastman-ibm commented on #28615
@richardwxn I upgraded from a work 1.7.4 istio install. i also deleted all the envoyfilters that i installed. the following are the only envoyfilters in place:

kubectl get envoyfilter --all-namespaces
NAMESPACE      NAME                        AGE
istio-system   metadata-exchange-1.6       4d1h
istio-system   metadata-exchange-1.7       4d1h
istio-system   metadata-exchange-1.8       4d21h
istio-

[2020-11-09 18:25] howardjohn opened #28712 "Refactor agent SDS handling"
Now that gateway SDS will be removed, we should use this as an opportunity to refactor the SDS handling of the agent.

Goals:
* Reduce code and complexity
* Expand testing
* Improve performance, in particular startup latency

Current design:
* Custom XDS implementation, not following best practices we have learning in Istiod
* Secrets generated on demand, stored in cached designed for multi-tenant

[2020-11-09 18:56] #28685 closed

[2020-11-09 18:57] munjalpatel commented on #28685
Just verified. It does not appear to be Istio related issue. In my tests, I was not passing proper Auth headers.

[2020-11-09 19:06] gargnupur opened #28714 "Add source_cluster and destination_cluster in access logs"
**Bug description**
Add source_cluster and destination_cluster in access logs

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[X ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expected behavior**
Easily know source and destination cluster for multicluster scenarios in access logs in stackdriver

[2020-11-09 19:14] #28647 closed

[2020-11-09 19:16] douglas-reid commented on #28714
This sounds good. The only catch is we need to define cluster behavior for VMs.

[2020-11-09 19:16] stevenctl commented on #27916
I believe this is fixed as of #28657  – we _should_ be waiting for Ready state with `istioctl install`.

[2020-11-09 19:16] #27916 closed