[2019-10-29 15:00] #18208 closed

[2019-10-29 15:11] Sovietaced opened #18432 "Secure Gateway (SDS) breaks when changing namespaces"
I have a custom ingress gateway deployed using a helm template that has been running in the `istio-system` namespace for some time with SDS working just fine. I updated the helm template so that the custom ingress gateway now runs in another namespace and it is now broken. The `ingress-sds` container seems to be unhappy because it cannot fetch secrets:

[code]

Note: I have created appropriate cre

[2019-10-29 15:15] rnkhouse commented on #18242
@incfly
I get `ISTIO_KUBE_APP_PROBERS: {"/app-health/example-app/readyz":{"path":"/app-health/example-app/readyz","port":15020,"scheme":"HTTP"}}` in environment variables.

When I add `sidecar.istio.io/inject: false` and re-deploy app then I get `ISTIO_KUBE_APP_PROBERS: {"/app-health/example-app/readyz":{"path":"/healthz","port":3000}}`

My app health check timeout is 10 seconds.

[2019-10-29 15:24] mandarjog opened #18434 "SignalFX depends on an incompatible license"
@keitwb

The SignalFX adapter has a dependency on the sfxclient library, which depends on a few packages from github.com/juju, which uses a license that we can't use. We need to either get SignalFX to remove this dependency in their sfxclient library, or we need to remove the signalfx adapter code from our repo immediately in master and in the release-1.4 branch.

[ x] Policies and Telemetry

If s

[2019-10-29 15:32] vadimeisenbergibm commented on #18424
Closing the issue, since a workaround is found.

[2019-10-29 15:32] #18424 closed

[2019-10-29 15:33] howardjohn commented on #18225
Thanks for the feedback @haf-afa. Some notes:

The command is brand new, as far as I know its not even in istioctl 1.3 so I of course don't expect users to be using it yet. That being said, it is useful, and we intended to ramp up the docs for it as well.

I don't really get what you mean? What exactly did you apply to get in the terminal bad state? All of the configs in the gist in order?

I don'

[2019-10-29 15:54] Sovietaced commented on #18432
It looks like helm is generating a `role` and `rolebinding` in the default namespace (as opposed to the new namespace) which is likely the cause of this issue.

[2019-10-29 15:54] #18432 closed

[2019-10-29 15:56] howardjohn commented on #18428
In Istio 1.4 when sidecar restarts the whole container will restart, so you can use standard kubernetes tooling (metrics, `kubectl get pod`, etc) to figure this out. I think this is outside the scope of istioctl. `kubectl get pod` will show OOMKilled now.

[2019-10-29 16:06] Shnatsel commented on #18428
So starting with 1.4 it should be impossible to get into a state where the sidecar container restarts but the pod does not? I feel it would still be useful for diagnosing earlier versions of Istio, and not produce any false positives in 1.4 and later, but I understand if this is out of scope.

[2019-10-29 16:12] howardjohn commented on #18430
Looks like you did not install CNI. The docs are a bit confusing I think, but you should follow https://istio.io/docs/setup/additional-setup/cni/

[2019-10-29 16:48] Sovietaced commented on #18432
It looks like this issue was caused by the helm templates supplied in Istio 1.2.2. The role and rolebinding templates do not support custom namespaces which breaks permissions for the service account to retrieve secrets.

[code]

[code]

[2019-10-29 16:54] geeknoid commented on #18434
RE: https://github.com/istio/istio/issues/18155

[2019-10-29 16:56] geeknoid commented on #18155
@esnible Not sure why there is this discrepancy. Maybe it has to do with direct vs. indirect dependency?

[2019-10-29 17:11] mihalios opened #18436 "gRPC Channel state not updating immediately after server crash"
**Bug description**
Upon a gRPC server crash, the channel state only gets updated 30 minutes after the disconnection.

**Expected behavior**
When the gRPC server is stopped I expect the channel to go instantly in a !Ready state.

**Steps to reproduce the bug**
I have a service deployed in Kubernetes that exposes a gRPC server via envoy.
Another service is acting as the gRPC client and establishes

[2019-10-29 17:14] keitwb commented on #18434
Hi, you can remove the adapter from the tree, we have moved to the out of tree model. http://github.com/signalfx/signalfx-istio-adapter

Is it ok if out of tree adapters use an incompatible license?

[2019-10-29 17:19] lambdai commented on #17613
@Stono The format looks great. It should be translated to a valid protobuf.
1. The timeout value is greater than perTryTimeout, so you do leave some time for the next retry.
2. However, I remember your goal is to retry on certain scenario, where you may want to append "gateway-error" to the `retryOn`.

[2019-10-29 17:32] esnible commented on #15804
We didn't standardize this for 1.4.

I'd like to add one other point.  We added `istioctl proxy-config log`.  This is a new command that joins the other `istioctl proxy-config` commands.  Should we have called it `istioctl proxy-config experimental log` because it is new?

My intuition is that if we add new subcommands they should begin life as experimental.  Thoughts?

[2019-10-29 17:37] jwendell opened #18439 "Do I need to supply --set cni.enabled=true and --set cni.components.cni.enabled=true?"
According to the new docs, to install CNI I must supply

`--set cni.enabled=true` and `--set cni.components.cni.enabled=true`

to `istioctl manifest apply`.

They sound redundant.

[2019-10-29 17:40] lgillstrom commented on #1430
+1 UDP,  any update?

[2019-10-29 18:01] hprateek43 commented on #18288
@brian-avery Is someone working on this? If not, I can pick this up ?

[2019-10-29 18:15] #17976 closed

[2019-10-29 18:19] brian-avery commented on #18288
Feel free to pick it up. Thanks! Let me know if you need any help.

[2019-10-29 18:25] brian-avery opened #18441 "Manifest Yaml Files Need to Be Included in Install Archive"
**Describe the feature request**
Currently, the manifest install files aren't present in the install files. This leads to things like:

[code]

from https://preliminary.istio.io/docs/setup/install/operator/ not working. We should include the YAML files in our release archive so that users can find them.

**Describe alternatives you've considered**

**Additional context**

[2019-10-29 18:40] jwendell opened #18442 "istioctl manifest apply: control plane sidecar not installed with cni"
I tried to install istio+cni using the new istioctl command:

`istioctl manifest apply --set profile=demo --set cni.enabled=true --set cni.components.cni.enabled=true`

Turns out pilot, mixer don't get the sidecar applied. The deployments only contain one container, not the istio-proxy one.

If I install using `istio-demo.yaml` or using `helm template`, it works fine.

[2019-10-29 18:43] cdmurph32 commented on #17660
@denniswebb

I can confirm that I do not have the issue with version 1.2.7.  Unfortunately for me, I really need the Envoy option `preserve_external_request_id`, which is only available in 1.3.

[2019-10-29 18:57] flatmap13 opened #18443 "Support gzip compression"
Envoy has support for [gzip compression](https://www.envoyproxy.io/docs/envoy/v1.8.0/configuration/http_filters/gzip_filter), would it be possible for Istio to expose the configuration of this feature for the ingress/egress gateways and the sidecars? Ideally, the gzip compression config should be selectively applicable to specific internal or external services.

[2019-10-29 19:01] lambdai commented on #18411
I know most http load client would quit if the client/server has too many errors.

[2019-10-29 19:26] esnible commented on #18154
@sdake Go itself https://golang.org/dl/ does `<project><version>.<os>-<arch>.<compressor>`.

- Is there a name for the convention?  I didn't know what to call this convention and couldn't figure out how to search for best practices.
- You request `<project>-<os>-<arch>.tar.gz` which is slightly different than what Go itself uses.
- Does anyone know how to test `istioctl` on a non-OSX Darwin?  It w

[2019-10-29 19:30] esnible commented on #16997
@irisdingbj Can you label this with the milestone you intend to deliver?  1.5?  Nebulous?

[2019-10-29 19:31] esnible commented on #16576
@sdake Please explain the problem or close the issue.

[2019-10-29 19:32] esnible commented on #15635
@linsun is `istioctl x describe service <svc>` sufficient?  Shall we close this Issue?

[2019-10-29 19:34] rshriram commented on #18443
Example ?

[2019-10-29 19:54] #17861 closed

[2019-10-29 20:23] josephpeacock opened #18445 "Control what mixer attributes Envoy uses to cache its Mixer responses"
**Describe the feature request**

We would like a way to control what mixer attributes Envoy uses to cache its Mixer responses.

**Describe alternatives you've considered**

We've already implemented a cache in our MixerAdapter, that has a very high cache hit rate. However, even on cache hits we're seeing 4-5ms of latency added purely on the Mixer grpc call. This seems to be in line with Istio's p

[2019-10-29 20:24] josephpeacock commented on #18445
CC @aattuluri @jwebb49

[2019-10-29 20:27] gbrlcustodio commented on #16171
It actually causes any preflight requests to be declined, regards if the policy is targeting an ingress gateway or a service. The issue is that [OriginAuthenticator](https://github.com/istio/proxy/blob/e613d1c445ce9ddd75f3f0a8ee623401e12df519/src/envoy/http/authn/origin_authenticator.cc#L64) doesn't have any validation against the request type, as there is at [JwtAuthenticator](https://github.com/

[2019-10-29 20:27] flatmap13 commented on #18443
For example, if I have service A and B running in a k8s/istio cluster and C running somewhere externally. I would like to be able to specify that payloads to/from A and C can be compressed but not to/from B. Not sure if this is the example you're looking for though.

[2019-10-29 20:45] lambdai commented on #17660
@denniswebb has the config that https is involved. I suspect tls_inspector is wrongly determine tls traffic as non-tls.

Is there a config_dump so that I can confirm
1. tls_inspector is in the config
2. there is a limited listener timeout
Also,
What is the LDS config update frequency on istio-ingressgateway? You can `kubectl -n istio-system exec -it deploy/istio-ingressgateway -- curl localhost:15

[2019-10-29 20:51] jwendell opened #18447 "istioctl manifest apply: sidecar not installed on demo profile"
When installing Istio using `istioctl manifest apply --set profile=demo` pilot, mixer, etc don't get the sidecar. The deployment doesn't contain it.

If I use the default profile, it works fine.

Reproducible on minikube and OpenShift, but somehow it works on kind.

[2019-10-29 20:57] howardjohn commented on #17837
@nak3 my understanding is Knative was creating a "dummy service" with a selector that sets up the proper Istio config, but is not actually sent traffic, as that is all handled by the Service without a selector. Is that not the case here? In the original example there is no dummy Service, is that intentional?

What is the timeline/priority of this? We maybe be able to handle this with https://istio

[2019-10-29 20:58] jwendell commented on #18447
Closing, it's the expected behavior in demo profile.

[2019-10-29 20:58] #18447 closed

[2019-10-29 20:59] PiotrSikora commented on #17660
I'm pretty sure this is the listener filters timeout set too low, can we set it to something more reasonable? Is there an easy way to configure that, @rshriram?

[2019-10-29 21:00] lambdai commented on #17660
The default listener timeout is 0.1s, which is a small timeout crossing cluster/region. The traffic may failed to be determined as TLS. The follow up depends on the ingress listener config. I will try reproduce once I fix another bug on this and I will get back later

[2019-10-29 21:10] yxue commented on #17660
We can specify a larger value for this timeout https://github.com/istio/istio/blob/0993a09a47ecce2de3ad31f6cf001066c7ef29af/install/kubernetes/helm/istio/values.yaml#L218
when install the pilot.

[2019-10-29 21:20] lambdai opened #18448 "Config fuzz test"
We are hitting non-deterministic config multiple times. I contribute one.
I believe there could be more but we didn't catch only because it is not that destructive.

We should add fuzz test to catch the unknown cases. Maybe not all below are equally sensitive to deterministic config but it's good to have.

[ ] LDS
[ ] CDS
[ ] RDS
[ ] EDS

[2019-10-29 21:21] lambdai commented on #18448
Related PR and Issues

https://github.com/istio/istio/issues/18088

[2019-10-29 21:23] howardjohn commented on #18385
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/18310/unit-tests_istio/3356

Please take a look, bumping to P0

[2019-10-29 21:26] lambdai commented on #17660
I think it a good start to increase the value to 1s or 500s and see if it is mitigated.

[2019-10-29 21:28] sushicw opened #18451 "Include a link pointing to documentation in the output of `istioctl analyze`"
When `istioctl analyze` finds validation issues, in addition to listing them it should also print a link to the documentation.

Mockup:
[code]

Note that the docs don't actually exist yet on istio.io, but do appear in preliminary.istio.io.

We should add this message once we have the reference on istio.io and it's fleshed out enough to be basically useful.

[2019-10-29 21:31] jwendell commented on #18442
closing, this is expected on demo profile.

[2019-10-29 21:31] #18442 closed

[2019-10-29 21:33] sushicw commented on #18451
Once we have support for YAML/JSON output, we can include links to the specific doc for each message code directly. We don't want to do so for the "regular" output, though, because it would be very cluttered.

[2019-10-29 21:33] bianpengyuan commented on #18445
Does your mixer rule or instance reference those attributes? Mixer should already construct cache key from attributes that are actually being looked up. Also by principal namespace do you mean namespace from source.principal? It so it is weird why that attribute does not show up in your cache key.

[2019-10-29 21:41] josephpeacock commented on #18445
I edited my description to be a little more specific. It's not that the attributes we care about are missing from the cache key, it's that we would like to exclude the rest. Both the principal and namespace are being incorporated into the existing cache key. But additional cache misses are being triggered by (for example) requests with different methods, although we know a different method will ne

[2019-10-29 21:46] bianpengyuan commented on #18445
Yes, mixer should not include attributes into cache key if it is not used by rule/instance. So you are saying other attributes like `destination.port`, `request.method` are not used anywhere in your config but show up in cache key? That sounds like a bug to me...

[2019-10-29 22:52] sushicw commented on #18265
I've looked at this a bit, and so far haven't been able to find any more examples or anything obvious in the code that could be leading to it.

[2019-10-29 23:03] #12437 closed

[2019-10-29 23:05] incfly commented on #12437
Thanks for making this happen!

On Tue, Oct 29, 2019 at 4:03 PM Istio Automation <notifications@github.com>
wrote:

[2019-10-29 23:10] gbrlcustodio commented on #16171
Since I was targeting the service itself, and not the ingress gateway, setting the corsPolicy at virtual service level fixed for me.

[source](https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#CorsPolicy)

[2019-10-29 23:30] carolynhu commented on #17950
following steps:
1. we'd better replace GKE cluster with `kind`.
2. add more upgrade jobs
3. escalate periodic jobs to postsubmit

[2019-10-29 23:32] elfinhe commented on #17868
I installed istio with operator as a controller. Then I applied the CR below:
[code]

And everything looks good.

@sdake can you elaborate what error did you see when the "operator implodes"?

[2019-10-29 23:51] josephpeacock commented on #18445
The short answer is that we do have rules/instances that use these attributes.

But I think this is where my understanding breaks down. I think my core question is how does the Proxy determine which mixer calls to make synchronously, and which to make asynchronously? I read this in the docs: ```The Envoy sidecar logically calls Mixer before each request to perform precondition checks, and after ea

[2019-10-29 23:54] howardjohn commented on #11741
not stale

[2019-10-30 00:00] howardjohn commented on #7794
still important

[2019-10-30 00:00] howardjohn commented on #13320
still important

[2019-10-30 00:01] howardjohn commented on #13435
still desired

[2019-10-30 00:04] howardjohn commented on #13822
I believe this issue is still present, we should address this as soon as possible

[2019-10-30 00:05] elfinhe commented on #15825
Just verified that all resources managed by operator is using labels:
operator.istio.io/component={{ComponentName}},
operator.istio.io/managed=Reconcile

except for namespace, namespace is still using:
istio-operator-managed
https://github.com/istio/installer/blob/master/crds/templates/namespaces.yaml

[2019-10-30 00:11] howardjohn commented on #14367
bumping to avoid stalebot: I think this is still something useful, although it may not be feasible in the current design of Pilot unfortunately

[2019-10-30 00:12] LinLshare commented on #18375
@lambdai I try to answer your 3 questions,
1. I use locust to test my service, just because 503s occur in our production env, so I had not tried to look  look for parameters in locust for mitigating.
2. Yes, and the sidecar proxy print the log. I open the istio-proxy's debug logs following this article https://karlstoney.com/2019/05/31/istio-503s-ucs-and-tcp-fun-times/index.html.
3. No, I never do

[2019-10-30 00:53] sdake opened #18456 "Pilot DNS certificate provisioning must be guarded by a feature flag"
**Bug description**
All alpha features must be guarded by a feature flag and must meet specific requirements to exit alpha:
https://github.com/istio/community/blob/master/FEATURE-LIFECYCLE-CHECKLIST.md#alpha

Please add a feature flag guard for this feature.

**Expected behavior**
dns certificate provisioning can be turned off

**Steps to reproduce the bug**
dns certificate provisionign can't be t

[2019-10-30 01:15] sdake commented on #18154
@esnible
- I am not aware of a name for this convention, but I think you will be hard-pressed to find `osx` in the majority of darwin binary naming conventions.
- I think golang has it right by including the version (my original request was incomplete).
- Is there such a thing as a non-osx darwin?
- I am not sure we have any ci around our darwin binaries at this time.
-

[2019-10-30 01:18] ayj opened #18457 "Make it easier to run istioctl commands over multiple clusters in a mesh"
We should consider making it easier to run the same command over all clusters in a mesh. Today, running a kubectl/istioctl command for multiple clusters in a mesh can often result in something like the following.

[code]

This works so long as the list of clusters in the user's kubeconfig file(s) matches the list of clusters in the mesh. Users must keep this lists in sync, e.g. merging via `KUBECO

[2019-10-30 01:19] sdake commented on #18222
Closing as this appears solved:

[code]

[2019-10-30 01:19] #18222 closed

[2019-10-30 01:20] sdake commented on #18280
I've assigned to @frankbu as he has done a nice job improving the 1.4 installation documentation.  He can close this out as he sees fit.

Cheers
-steve

[2019-10-30 01:23] sdake commented on #18441
@howardjohn can you fix this defect in the packaging?  I think you are or maybe already have done thiis.

If not, please reassign to someone that can for 1.4 or un-assign.

[2019-10-30 01:24] sdake commented on #18441
Note docker.save should be functional and match that of the other repositories now so the containers can additionally be packaged.

Cheers
-steve

[2019-10-30 01:25] sdake commented on #18167
@douglas-reid not sure who the best person is to fix this.  Is this something we move to 1.5?

[2019-10-30 01:27] incfly commented on #17498
I can't reproduce this issue, with istio.io docs as https://istio.io/docs/tasks/traffic-management/ingress/secure-ingress-sds/, for the multi host section. I tweaked the credential for the example.com to use `*.example.com` as common name as the certificate. curl request against helloworld still works. Following gist has the content of the keycert, gateway configuration, virtual service I'm using.

[2019-10-30 01:28] lei-tang commented on #18456
When the DNS cerfificate configuration is empty, dns certificate provisioning is turned off. I have created a PR https://github.com/istio/installer/pull/471 to set the DNS cerfificate configuration to be empty such that dns certificate provisioning is turned off.

[2019-10-30 01:28] incfly commented on #17498
Plus you get 404 error, I suspect this is a error of your reconfiguration of the routing, virtual service. The gateway CRD looks fine.

[2019-10-30 01:34] kramvan1 opened #18458 "Pilot DNS certificate provisioning possible timing issue"
Related #18456

**Bug description**

[pilot.log](https://github.com/istio/istio/files/3786478/pilot.log)
[policy.log](https://github.com/istio/istio/files/3786479/policy.log)

There appears to be a possible timing issue for the Pilot certificate creation path.  I'm that during some deploy of the istio control plane (via the operator) the pods end up in this state:
[code]

I'm see both galley and s

[2019-10-30 01:51] kramvan1 commented on #18458
[galley.log](https://github.com/istio/istio/files/3786563/galley.log)

[2019-10-30 01:52] lei-tang commented on #18458
@kramvan1 Can you provide the steps to reproduce the problem?

[2019-10-30 01:52] kramvan1 commented on #18458
[pilot-describe.log](https://github.com/istio/istio/files/3786568/pilot-describe.log)

[2019-10-30 02:04] howardjohn commented on #18458
Please provide the full pilot log and `kubectl get secrets -n istio-system`

[2019-10-30 02:07] howardjohn commented on #18458
There has always been dependency on ordering of control plane start up, this DNS certs does not change that. To me it looks like the certs just aren't created for some reason, which is why we need the logs

[2019-10-30 02:11] denniswebb commented on #17660
I ran some more tests using the latest images and had some success with a 1.4 build. This happened after some guidance on Istio slack

`gcr.io/istio-release/proxyv2:release-1.3-20191029-10-16`: It took many attempts, but after almost 1,800 requests I got a failure
[code]
I re-ran the test again with timestamps because I thought maybe it was a 10-minute thing since 1,800 was about 10 minutes. But o

[2019-10-30 02:30] xxlaila opened #18459 "Failed to install istio in helm mode"
[code]

[code]

[code]

[code]

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version`)**

**How was Istio installed?**

**Environment where bug was observed (cloud vendor, OS, etc)**

[2019-10-30 03:31] xxlaila commented on #18459
The log is new，My kubernetes version is native，

[2019-10-30 03:39] nkorange opened #18461 "Build Istio error"
I tried to build Istio from master branch by command:
```CGO_ENABLED=0 GOOS=linux GOARCH=amd64 make```

 Envoy download error showed up:

[code]

[2019-10-30 04:45] howardjohn commented on #18461
Shouldn't the sha be 586ca4896aac3c3cad7e6596afddbc89e376a43e from istio.deps on the master branch?

[2019-10-30 06:08] zhangxingdeppon commented on #18161
@bianpengyuan I carefully checked the log and status,but no useful information to be found,I just found some gc operation in mixer log ,did the gc  cause it ?I have uploaded the relevant logs, maybe you can confirm it,if need,I'm pleasure to provide more details ,thanks.
the status:
<pre><code>
[root@D21112U04-61-142 ~]#  kubectl describe pod istio-telemetry-66d5594d99-z6nhn  -n istio-system
Name:

[2019-10-30 07:16] johscheuer commented on #18092
The problem is that forwarding "everything" won't work as described here: https://github.com/istio/istio/pull/17291#issuecomment-533778576  (at least from my experience). You could try to set `fallthrough` to the forward plugin but at least from the docs I can't tell you if it will work.

IMHO instead of forwarding all the requests making the `global` domain as an input/variable of the helm charts

[2019-10-30 07:21] johscheuer commented on #18092
@rahulrai-in in order that the information is not spread across multiple threads: https://github.com/istio/istio/pull/17291#issuecomment-547670188

The `grpc global 127.0.0.1:8053` forwards all requests to `*.global` to the istio-coredns plugin which is listening on port `8053` and runs as another container inside of the istio coredns pod see: https://github.com/istio/istio/blob/master/install/kub

[2019-10-30 08:26] martinbaillie commented on #13138
Noting that the policy bot has kicked in, FWIW, I would also be keen to see something happen in this area 👍

[2019-10-30 09:33] mrnonz commented on #9783
Any update?

[2019-10-30 10:25] 3RX0 commented on #12723
Solution with enabling global.controlPlaneSecurityEnabled and defining DR with full ns name works for seeing requests in Kiali, but I'm still not able to see HTTP statuses

[2019-10-30 10:44] vikaschoudhary16 commented on #18244
@howardjohn hey, sorry for the delayed response, i was on vacations. Taking a look

[2019-10-30 10:48] vikaschoudhary16 commented on #18385
sure, taking a look!

[2019-10-30 10:55] tegk commented on #15777
Yes, maistra was used

[2019-10-30 10:55] #15777 closed

[2019-10-30 11:08] jmazzitelli commented on #11475
@douglas-reid I think this is still valid. How will telemetry be able to discern mirrored traffic versus non-mirrored traffic?

[2019-10-30 11:11] jmazzitelli commented on #11093
@douglas-reid I believe this is still relevant.

[2019-10-30 11:21] cscetbon commented on #12795
Is it supposed to be fixed in the latest 1.3 ?

[2019-10-30 12:04] juanmanuel-tirado opened #18465 "Shared control plane (multi-network) example not working"
**Bug description**
The process described to install a shared control plane in a multi-network environment (https://istio.io/docs/setup/install/multicluster/shared-gateways/) fails. After installing Istio following the current instructions, citadel shows GRPC security handshake problems.

Citadel logs
[code]
I have stopped any additional installation steps right here.

**Expected behavior**

No er

[2019-10-30 12:22] ashishksingh opened #18466 "Way to extend Mixer Check Result response Struct"
**Describe the feature request**
I am looking for a way to extend the Mixer Authz component such that as part of the 'Check' Mixer call, the response from the corresponding Mixer Authz Adapter could also include some custom data, such as a list of roles in case of an allowed=true decision.
Is there a way to accomplish that ?
 I checked the istio.mixer.package.adapter.check.go file, and CheckResult

[2019-10-30 12:28] johnjjung commented on #14708
@FridayPush any work around discovered yet?

[2019-10-30 12:32] FrederikNS commented on #14636
It's insanely annoying that some bot tries to close an issue, when there are multiple people who want some feature, and even offers to help build the feature, and the Istio team members, completely ignores it.

Should I just start tagging random istio team members in here?

[2019-10-30 13:04] joncak commented on #10279
This issue could be related to https://discuss.istio.io/t/istio-sidecar-consuming-high-cpu/3894/21

[2019-10-30 13:05] camille-rodriguez commented on #17290
@hzxuzhonghu  @johscheuer
I am having the same issue. The setup works with kube-dns but not with coredns. I think this issue should be reopened.

[2019-10-30 13:08] johscheuer commented on #17290
Could you ensure that this fix is already included in your setup: https://github.com/istio/istio/pull/17291 ? Also what version are you using ?

[2019-10-30 13:09] haf-afa commented on #18225
Great, so I'm supposed to be able to run Istio on D/D then!

I'm going to 1) try again to run Istio 1.3.3 on D/D WITHOUT SDS, which SHOULD work, 2) see if I create a minimal "step by step" repro for the internal routing corruption. Do you have a QuickCheck suite for actor-invarient property testing?

[2019-10-30 13:15] vadimeisenbergibm commented on #16885
Recreating the issue:

1. Create namespaces:

[code]

2. Deploy `sleep` in `a`:

[code]

3. Deploy `httpbin` in `b`:

[code]

[2019-10-30 13:17] camille-rodriguez commented on #17290
Hi @johscheuer , thanks for the quick reply! I am using istio 1.3.3, so the template is a bit different. The corefile part looks like this :

install/kubernetes/helm/istio/charts/istiocoredns/templates
[code]

[2019-10-30 13:39] GregHanson commented on #16851
I haven't been able to get elasticsearch to deploy properly in my env (even without istio deployed):
[code]
So I cannot verify the fix.  @mc1711 @MVJosh will close at end of week if I don't hear anything back

[2019-10-30 13:41] johscheuer commented on #17290
I actually didn't changed anything in the old code (see:  https://github.com/istio/istio/pull/16417/files) and seems to be correct (at least with a quick review). What domain are trying to resolve?

I will spin up a cluster later on and will cross check it with version 1.3.3.

What istio version are you using ?

Thanks for your report !

[2019-10-30 13:43] jwendell commented on #17324
Is the fix for this https://github.com/istio/pkg/pull/83?
Does it need to be backported to 1.3?

[2019-10-30 13:53] jwendell commented on #13512
Any reason to close this one? I think it's a valid issue.

[2019-10-30 14:06] kramvan1 commented on #18458
Pilot and Policy log are at the top of the issue description

[2019-10-30 14:07] alyssa-tc commented on #7450
still waiting on this

[2019-10-30 14:12] #14161 closed

[2019-10-30 14:17] haf-afa opened #18467 "HTTPS readyness-liveness probe rewrite"
Related: https://github.com/istio/istio/pull/17941

[code]

with

[code]

causes

[code]

**Bug description**

**Expected behavior**

That rewriting of probes work for HTTPS

**Steps to reproduce the bug**

[code]

then

[code]

And for Elastic:

[code]

**Version (include the output of `istioctl version --remote` and `kubectl version`)**

1.2.8 since it starts

**How was Istio installed?**

See r

[2019-10-30 14:17] esnible commented on #18457
An admin user might have credentials into more than one mesh.  For example, _sales_ and _human-resources_.

I haven't tried this, but I imagine something like

[code]

Having _istioctl_ manage groups of contexts seems more difficult than doing it explicitly in _bash_.

[2019-10-30 14:22] Stono commented on #3395
Not sure about this bot, this is a valid feature request IMO but I appreciate it that it's low priority?

[2019-10-30 14:24] esnible commented on #18451
Are there tasks to write the https://preliminary.istio.io/docs/reference/config/analysis/ detail links?  I see some messages are linked to a detail page.

[2019-10-30 14:28] #8270 closed

[2019-10-30 14:28] brian-avery commented on #13512
+1. We actually have an entire suite commented out right now because of this. I vote we reopen.

[2019-10-30 14:34] kramvan1 commented on #18458
@howardjohn the pilot  is in a hard retry loop with the log section as attached above.   The log has wrapped many times.

[2019-10-30 14:34] Stono commented on #18088
This is fixed in 1.3.4

[2019-10-30 14:34] #18088 closed

[2019-10-30 14:35] Stono commented on #18275
I have a feeling this is the current version of GKE we're on, going to close until i can gather more information

[2019-10-30 14:35] #18275 closed

[2019-10-30 14:39] xeviknal opened #18468 "Adding analyzer for selector-less Sidecar resources"
**Describe the feature request**
Adding an analyzer for selector-less sidecar resources. See the documentation
**Additional context**
cc @sushicw what do you think about this validation?
https://github.com/kiali/kiali/issues/1541

[2019-10-30 14:43] cpick commented on #4693
This would still be very useful.

[2019-10-30 14:46] sdake commented on #13649
Closing.  I think we have solved the initial problems identified in the code mauve and we have bigger fish to fry in 1.5.

[2019-10-30 14:46] #13649 closed

[2019-10-30 14:47] lei-tang commented on #18458
@kramvan1 Can you provide the steps to reproduce the problem?

[2019-10-30 15:07] howardjohn commented on #13512
Sorry I incorrectly thought this was fixed already! reopening

[2019-10-30 15:17] howardjohn commented on #18458
`2019-10-30T14:35:48.185903Z     error   err when watching CSR domain-cluster.local-ns-istio-system-secret-dns.istio-galley-service-account: unknown (get certificatesigningrequests.certificates.k8s.io)`

[2019-10-30 15:30] Nino-K opened #18469 "Investigate incremental MCP from galley"
This is to investigate when both snapshots in galley and pilot are set to support incremental MCP why galley does not forward any MCP config with incremental flag set during SynthticServicEntry exchange. This is required in order to test incremental MCP behaviour in the integration test.

Depends on the completion of: https://github.com/istio/istio/pull/18416

**Expected behavior**

**Steps to rep

[2019-10-30 15:33] howardjohn commented on #18441
What files do you want where? Put everything in operator repo samples/ under samples/operator?

[2019-10-30 16:12] vsquare1 opened #18473 "External Service - Self-signed - Verification Failed"
**Bug description**
I have configured ServiceEntry to point to external server which TLS enabled with Self-Signed cert.
I am getting Verification failed issue.
Our corporate CA has to be added to the CA certificates and How do I add that to the Istio-Proxy?

Tried to issue curl from the istio-proxy and here is the curl -v <myhost>  output.
------
*   Trying 11.16.119.141...
* Connected to <REDACTE

[2019-10-30 16:16] sushicw commented on #18468
Makes sense. Copying from the relevant reference doc to add context:

https://istio.io/docs/reference/config/networking/v1alpha3/sidecar/

[2019-10-30 16:19] duderino commented on #17660
@denniswebb could you try a `protocolDetectionTimeout: 500s` on 1.3?  If the request failures go away that both isolate the issue and give an immediate workaround.

[2019-10-30 16:31] xeviknal commented on #18468
It looks like the istio-policy-bot ate half of the issue description.
Thanks for adding the documentation info back.

[2019-10-30 16:41] bianpengyuan commented on #18161
gc logs are expected and telemetry pod looks like working fine. Please follow https://archive.istio.io/v1.2/docs/ops/telemetry/missing-metrics/ to check if everything is normal.

[2019-10-30 16:48] lei-tang commented on #18458
@kramvan1 To reproduce the problem using the same commands, steps, and environment as yours, can you share the detailed commands, steps, and environments (cluster size, cpu, memory, etc) you use?

[2019-10-30 16:49] haf commented on #18221
Indeed; which is why it would be awesome if it's easy for people to use this new feature in the default k8s config of docker's installation package. :)

👍

[2019-10-30 16:53] vadimeisenbergibm commented on #16885
@linsun With istio-1.4.0-beta.0, it works as expected for me, see https://github.com/istio/istio/issues/16885#issuecomment-547896625

[2019-10-30 16:54] lei-tang commented on #8736
This issue is tracked in https://github.com/istio/istio/issues/17061.

[2019-10-30 16:59] #18258 closed

[2019-10-30 17:04] lei-tang commented on #18456
The investigation of this issue is in https://github.com/istio/istio/issues/18458.

[2019-10-30 17:24] sushicw opened #18475 "Come up with a plan for keeping Pilot & Analyzer logic in sync"
A lot of config analysis code will end up duplicating the logic ultimately used by Galley. Writing the same logic twice is difficult and fraught with peril, especially when the logic is complex. We need to come up with a plan to keep these in sync.

A PR where this comes up and there is some discussion about it: https://github.com/istio/istio/pull/18350

One option: create a common lib package (un

[2019-10-30 17:38] Bessonov commented on #11682
@howardjohn @liamawhite istio-policy-bot is the new way of disrespecting community.

[2019-10-30 17:39] Bessonov commented on #11120
@howardjohn @liamawhite istio-policy-bot is the new way of disrespecting community.

[2019-10-30 17:39] Bessonov commented on #9783
@howardjohn @liamawhite istio-policy-bot is the new way of disrespecting community.

[2019-10-30 17:43] knrc commented on #15777
The report states istio 1.2 was used which is not a maistra version, it's also says the upstream installation instructions were followed which would not apply to maistra.  Could you please confirm the operator/image versions which you were using?  Was this one of the tech preview releases?

Thanks very much

[2019-10-30 18:20] liamawhite commented on #9783
bump

[2019-10-30 18:26] brian-avery commented on #18441
Looking through the istio.io docs, the only referenced file in the operator repo is samples/pilot-k8s.yaml. That said, these are all samples for the IstioControlPlane.

[2019-10-30 18:36] kramvan1 commented on #18093
@ostromart @morvencao   Trying to understand this one better.    A few questions to start with:

1. Why does the operator re-write/override the `spec:` section at all?   Seems very unnecessary.
2. Why do the component names change?  from example above `trafficManagement` to `traffic_management`    Which one is correct for this `v1alpha2` version?   Should the later be used for input then?
3. Does

[2019-10-30 18:41] camille-rodriguez commented on #17290
The error message disappeared, but I am still stuck with a failure. The coredns coreconfig keeps reverting to its original configuration. I tried creating a new config map coredns-custom with the global configuration, and the result is the same

[2019-10-30 18:42] boazjohn commented on #18223
@rshriram This works!

[2019-10-30 18:56] sdake commented on #18441
the `deploy` directory needs to be put somewhere.  `install/operator` would be a good target for that.

The directory you proposed seems good for samples.

Cheers
-steve

[2019-10-30 19:03] linsun commented on #13468
mark as no stale bot think this is an important issue to not forget, unless the new operator provides a decent pass for user to change it effectively.

[2019-10-30 19:21] njfix6 opened #18477 "Abort specific URI endpoints"
**Describe the feature request**
In a virtual service, I would like to abort on an endpoint for a specific URI. For example, if I want to abort the uri `/endpoint`, I could be able to add the following config, and block the endpoint `/endpoint`and return a status code 400:
[code]
So this would return a 400 whenever the `/endpoint` is hit for that service. This is very useful to shutdown endpoints

[2019-10-30 19:26] njfix6 commented on #18477
Nevermind this works but not very clear in the documentation:
[code]

[2019-10-30 19:41] josephpeacock commented on #18445
Thanks for that pointer. I'm doing a little digging on my end as well based on that.

Here's our config: https://gist.github.com/josephpeacock/6490d6f78f50499c514f6fb36a4400c6

Based on our conversation and looking more closely, my original example of method was a poor one, as ```request.method``` is used for the registry-auth instance. But I'm still concerned that we see the ```context.protocol``

[2019-10-30 19:42] esnible opened #18479 "Stable ports for "istioctl dashboard""
`istioctl dashboard` uses a dynamic port to avoid dealing with conflicts.

While working on https://github.com/istio/istio.io/pull/5296 I realized this makes it difficult to create documentation that links to dashboards.

The requested feature is that `dashboard` will first try to use the same port locally as the service, only falling back to a dynamic service if the local service is unavailable.

[2019-10-30 19:48] Nino-K opened #18480 "Optimize SynthetiServiceEntry discovery"
Currently, discovery keeps track of the not ready endpoints separately. This has a negative implication when returning serviceInstances. The discovery functions that return serviceInstances have to iterate twice, once for NotReadyEndpoints and a second time for all other associated configs. We can fix this by having to iterate once over more flat data structure just by looping over already stored

[2019-10-30 19:52] ayj commented on #15804
So option 0 or 1 below? How would this change if we used `alpha`/`beta` instead of `experimental` for the prefix? cc @geeknoid

[code]

[2019-10-30 20:00] fpesce commented on #18229
@elvizlai  / @crhuber Would you mind sharing some of your configuration dump?
Possibly using the dump_kubernetes.sh tool of this PR:  the dump_kubernetes.sh tools that we're working on: (c.f. this Pull Request) : https://github.com/istio/istio/pull/18013 ?

[2019-10-30 20:06] rshriram commented on #17660
we should just disable the timeout for gateways completely

[2019-10-30 20:07] yxue commented on #17660
I have a PR for fixing this. https://github.com/istio/istio/pull/18463

[2019-10-30 20:23] rshriram commented on #17660
What would be ideal is to never even have the TLS inspector in Envoy for things like gateways. It makes no sense to enable TLS sniffing filters for a gateway. Disabling the inspector causes a ton of spam in the envoy logs though https://github.com/istio/istio/issues/7601 which should ideally be fixed rather than us putting a bandaid over a serious issue like this. We had enabled the TLS inspector

[2019-10-30 20:26] rshriram commented on #17660
I say user consent because folks from Yahoo! have requested TLS sniffing at the gateway [ #18179 ] but that is explicit intent. So, @yxue 's PR #18463 will just be a temporary bandaid until it gets reverted completely to support TLS sniffing - and then this problem will return.

[2019-10-30 20:38] johscheuer commented on #17290
Please take a look here: https://preliminary.istio.io/docs/setup/install/multicluster/gateways/#setup-dns the docs update was merged just recently (see: https://github.com/istio/istio.io/pull/4811) if you follow the instructions for 1.4.0+ everything should work just fine. If you still have some trouble let me know :)

[2019-10-30 20:54] yangminzhu commented on #13489
This is already done.

[2019-10-30 20:54] #13489 closed

[2019-10-30 21:16] incfly commented on #18467
[code]

where this log is coming from? kubelet or pilot-agent?

[2019-10-30 21:29] incfly commented on #18467
Can you attach the full deployment YAML for the workload? You only have the container section. I deployed as

[code]

The app container fails to get up, I saw log from the container

[code]

[2019-10-30 21:35] #17649 closed

[2019-10-30 21:48] pitlv2109 commented on #18221
In the meantime, could you show me the error logs when you tried deploying Istio 1.3.3 without SDS? Also run `kubectl -n istio-system get pod` to see if there is a node-agent pod.

[2019-10-30 22:07] #18001 closed

[2019-10-30 22:10] lambdai commented on #15730
Sorry it's too old to investigate.
Please create new issues if you see crashes in recent istio

[2019-10-30 22:10] #15730 closed

[2019-10-30 22:27] PiotrSikora commented on #17660
@rshriram TLS inspector is installed only when needed by the filter chain rules, and it's going to be injected when needed, even when not explicitly configured.

We either misconfigure the filter chain rules (which trigger TLS inspector warning when it's not necessary), or we need TLS inspector, in case your point is moot.

The real issue is introduction of the timeout (with an extremely low defau

[2019-10-30 22:36] howardjohn commented on #14366
If you want to apply this today:
[code]

Then follow other directions in `samples/custom-bootstrap/`

[2019-10-30 22:36] fpesce commented on #18297
single match regex is part of #18449
Could easily do the negative Regex on a following PR.

[2019-10-30 22:36] #18173 closed

[2019-10-30 22:42] ostromart opened #18487 "istioctl manifest apply command should issue warning if the installed Istio version is different"
It's quite possible that a user would have multiple versions of istioctl floating around - we want to prevent them running (say) istioctl manifest apply using the wrong version of istioctl, since this may lead to wrong charts being used.

[2019-10-30 22:43] jasonwzm commented on #17600
xref: https://github.com/kubernetes/client-go/issues/574

[2019-10-30 22:51] hairyhenderson commented on #10832
I still think it deserves attention... We never did successfully deploy Istio at all because of this issue. In a way that's not a bad thing though, we realized we probably never did need a service mesh to begin with 😉

[2019-10-30 23:07] elfinhe opened #18488 "Add upgrade checks into the controller"
Add upgrade checks into the controller. This may require some refactoring of the current upgrade code, to make a shared pkg between CLI and controller.

[2019-10-30 23:11] howardjohn commented on #18479
I feel like that may just cause more confusion when there is a conflict and then it chooses a random port. Won't the user then be confused why the port doesn't match the docs? We should be able to just make the docs not depend on the port most likely

[2019-10-30 23:22] howardjohn commented on #18477
Does this not work today? It seems like it should based on docs at https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#HTTPFaultInjection-Delay

[2019-10-30 23:58] PiotrSikora commented on #10832
Keep open.

[2019-10-31 00:08] chris-ng-scmp commented on #4693
Yes, this is an important feature

[2019-10-31 00:10] howardjohn opened #18490 "New istio.io test, TestBookinfo is flaky"
See https://prow.istio.io/view/gcs/istio-prow/logs/integ-istioio-k8s-tests_istio_postsubmit/101 and https://prow.istio.io/view/gcs/istio-prow/logs/integ-istioio-k8s-tests_istio_postsubmit/102 for example failures

[2019-10-31 00:14] #18348 closed

[2019-10-31 00:19] esnible commented on #18479
@howardjohn My original plan was to make the docs not depend on the port.  I became concerned looking at deep links such as the reference to http://localhost:9090/graph#%5B%7B%22range_input%22%3A%221h%22%2C%22expr%22%3A%22istio_double_request_count%22%2C%22tab%22%3A1%7D%5D from https://preliminary.istio.io/docs/tasks/observability/metrics/collecting-metrics/ .

@frankbu What do you think?  Give us

[2019-10-31 00:34] lambdai commented on #18369
I am seeing all kinds of failure

[code]
Will investigate

[2019-10-31 00:36] incfly commented on #18242
okay, i see the kubelet code has a time out duration specified, we didn't respect that, rather using a hardcoded 10 seconds. https://sourcegraph.com/github.com/kubernetes/kubernetes@a381f7cb3efa64395661c73961c07b02594acf64/-/blob/pkg/kubelet/prober/prober.go#L172

In your case, you explicitly set the time out to be 10 seconds, and we're on the boundary line for this, so we might time out too early

[2019-10-31 01:33] therealmitchconnors opened #18493 "bots repo has bad test advice"
The gen-check test on the bots repo has the following in it's failure message:
`Some files need to be updated, please run 'make gen' and include any changed files in your PR`
But running 'make gen' from the root of the repo results in:
`make: *** No rule to make target 'gen'.  Stop.`
And running 'make gen' from the policybot folder results in:
`../../../scripts/gen_topic.sh: line 19: go-bindata: c

[2019-10-31 02:09] LSChyi commented on #17967
I found some implementation problems in the proxy, so the sidecar sends the check request normally. Please close this issue if you are ok, thank you.

[2019-10-31 02:25] tangiel opened #18495 "operator patch fails on new leaf"
**Bug description**

**Expected behavior**
Running mesh manifest generate with a patch that creates a new map entry should work.

**Steps to reproduce the bug**
Run mesh manifest generate with the following ICP:

[code]

The output is `patch error: path not found at element annotations in path metadata.annotations`.

**Version (include the output of `istioctl version --remote` and `kubectl version

[2019-10-31 02:26] nkorange commented on #18461
My problem, thanks @howardjohn .

[2019-10-31 02:57] nkorange commented on #18461
Master branch seems not stable?
[code]

[2019-10-31 03:02] howardjohn commented on #18461
seems like something in the environment, that is weird. Does it fail if you just run `go test ./istioctl/...` directly instead of by the makefiles? What arch is your machine?

[2019-10-31 03:12] nkorange commented on #18461
Seems ok with ```go test ./istioctl/...```:
[code]

[2019-10-31 03:12] kevinsingapore opened #18496 "some error about mixer"
[root@notepad istio-1.3.3]# kubectl version
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.1", GitCommit:"4485c6f18cee9a5d3c3b4e523bd27972b1b53892", GitTreeState:"clean", BuildDate:"2019-07-18T09:18:22Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.2", GitCommit:"f6278300bebbb750328ac16ee6

[2019-10-31 03:15] howardjohn commented on #18461
if direct go test does works but `make test` doesn't then something is probably being set wrong in the makefiles related to GOARCH or GOOS or something similar. I'm not too familiar with these work though

[2019-10-31 07:04] nak3 commented on #18046
Hi @ramaraochavali @howardjohn

We are seeing very similar issue which @howardjohn mentioned above by Knative Serving's e2e test. The issue happened 100 pods scale tests, though does not happen 10 pods scale test. Also,
strangely the issue started after upgraded t 1.3.3 from 1.3.2.

Should I open a separated ticket for that? Or perhaps https://github.com/istio/istio/pull/18164 will address it?

P.

[2019-10-31 08:29] lecourtoisn commented on #18430
Indeed, sorry... Thx !

[2019-10-31 08:29] #18430 closed

[2019-10-31 08:31] nkorange opened #18498 "synthetic service entry MCP data not work"
I installed the 1.4.0-beta.1, and I configured a synthetic service entry MCP server:

![image](https://user-images.githubusercontent.com/4593375/67930604-12115680-fbfb-11e9-9414-072e8510a013.png)

But when I sent synthetic service entry data to Pilot, it prompted error not recognizing this type:

![image](https://user-images.githubusercontent.com/4593375/67930915-c3b08780-fbfb-11e9-8078-01bac960fd

[2019-10-31 08:31] yuzisun commented on #15221
Is this issue still on track with 1.4 release ?

[2019-10-31 08:42] haf-afa commented on #18221
@pitlv2109 Absolutely, I'm going to loop back around to it in a few days; in particular if I can get a good state/invariant test setup going, like asked about in #18225

[2019-10-31 08:47] haf-afa commented on #18467
Ah, no, the "container section" is created by the command line repro I posted; the Kibana CRD creates it; I just wanted to let you know what it looks like when it's been created by the operator.

`kubectl get events --all-namespaces -w`

I hope this helps. Sorry about the confusion.

The connection warnings comes from the fact that you indeed only have the container section, but there are env vars

[2019-10-31 09:09] ckcd opened #18499 "support zone aware routing of envoy"
for now istio support
**Additional context**

[2019-10-31 09:09] #18499 closed

[2019-10-31 09:13] linkingli commented on #11838
hi,did it happen again? i just find the same problem when i was use the namespace to inject sidecar,.its ture,the istio-proxy can not read pod culsterIp,so i cant use   Liveness and Readiness with pod'vip.     :(
[code]
[code]
[code]

[2019-10-31 09:15] ckcd opened #18500 "support zone aware routing of envoy"
For now istio support [Locality weighted load balancing](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/locality_weight#arch-overview-load-balancing-locality-weighted-lb) of envoy with the `localityLbSetting` config. it's a great function but it may causes imbalance across all upstream hosts if replicas of a service is NOT equal in each zones.

And, for k8s

[2019-10-31 09:30] #18498 closed

[2019-10-31 09:49] Disturbing commented on #4963
Unfortunately we deprioed this - but it’s coming up in December post
knative integration. Sorry about that.

On Wed, Oct 30, 2019 at 2:31 PM Istio Policy Bot <notifications@github.com>
wrote:

[2019-10-31 10:02] BoOgatti opened #18501 "Galley "istio_mcp_message_sizes_bytes_bucket" metric flooding"
**Bug description**
(not sure that a bug, just question). After upgrading from 1.2.6 to 1.3.3 I've seen huge increasing amount of prometheus' scraped metrics. After investigation I found new metric _istio_mcp_message_sizes_bytes_bucket_ that not mentioned in [documentation](https://istio.io/docs/reference/commands/galley/#metrics)

**Expected behavior**
Not so much metrics

**Steps to reproduce th

[2019-10-31 10:13] ramaraochavali commented on #18046
@nak3 I looked at the log - your problem seems to be too much of initial config updates delaying proxy startup, IIUC your proxy is not even coming up. Is that correct?

If yes, you should try to trim your configuration using sidecar resource or some thing else. #18164 does not fully address your issue. So I suggest filing a different issue for discussion.

[2019-10-31 10:16] cyclingwithelephants opened #18502 "node agent being installed even though marked as disabled"
**Bug description**

When installing Istio V1.2.8 using helm 2.14.1 the nodeagent is installed even though it is marked as being disabled at both the chart and the subchart level, this is using the default release by Istio. This is causing the nodeagent to enter a crash back loop off with the error reading `error CA Provider is missing`.

**Expected behavior**
Istio is installed without the nodeag

[2019-10-31 10:26] TkClark opened #18503 "Multi-cluster Remote Cluster Pods couldn't be access"
**Bug description**
i use Shared control plane (multi-network) to deploy istio by helm.
when i tested request two different clusters ingressgateway,the request only sent to the control plan cluster.

**Steps to reproduce the bug**
[code]
[code]

[code]
**Version (include the output of `istioctl version --remote` and `kubectl version`)**
[code]
**How was Istio installed?**
via helm  (https://istio.

[2019-10-31 10:28] ramaraochavali commented on #18046
@howardjohn to your question "Are you sure it can handle traffic fine in this case" - Yes it would be able to handle because traffic is handled by worker threads. Admin endpoint processing and config ingestion from Pilot happen on main thread - so continuous updates/large updates from Pilot which takes more than a second to process in  Envoy can create these timeouts to admin endpoints. I handled

[2019-10-31 10:36] zhangxingdeppon commented on #18161
@bianpengyuan I follow https://archive.istio.io/v1.2/docs/ops/telemetry/missing-metrics/ to check it,but still don't get any userful informations.
according to the above article ,I checked the information below：

Firstly，Verify Mixer is receiving Report calls
<pre><code>
[logview@D21015U04-62-99 ~]$ curl 10.222.187.132:15014/metrics |grep grpc_io_server_completed_rpcs
# HELP grpc_io_server_complet

[2019-10-31 10:39] 7895179 commented on #18503
$ istioctl -n sample pc endpoint sleep-695c67cb5-vdcqp
172.27.2.93:5000       HEALTHY     OK                outbound|5000||helloworld.sample.svc.cluster.local

only one message,it doesn't have the pod that on date cluster plan,just have 1 rule that to the pod on  control plan

[2019-10-31 11:17] ramaraochavali commented on #1430
Please follow this https://github.com/envoyproxy/envoy/issues/492 for UDP support in Envoy

[2019-10-31 11:44] #18324 closed

[2019-10-31 12:24] jakubigla opened #18505 "Can't access pilot-agent API when istio probes are disabled"
**Bug description**
I'm running my jobs in Istio mesh, which does not expose any ports. So I have set the following annotation:
`status.sidecar.istio.io/port: "0"`

Unfortunately, now I can't call:
`curl -X POST 127.0.0.1:15020/quitquitquit`
from my main container to cleanly complete the job. It works correctly without that annoutation but it's raising probe errors, which I don't need.

**Expected

[2019-10-31 12:40] tkatrichenko opened #18506 "VirtualService match: same uri, differ methods"
Is it possible to map VirtualService to different services using same uri but different methods?

I'm trying to do something like this
[code]
For the GET method it works, but for POST says `method not allowed`.
If I comment out the first match and leave only POST, then POST works

So Istio takes only first entry with same uri and ignores the second

** Istio version: 1.3.3 **

[2019-10-31 13:20] juanmanuel-tirado commented on #18465
Does this problem something to do with #18503?

[2019-10-31 13:21] juanmanuel-tirado commented on #18503
This could be related with #18465

[2019-10-31 13:56] gottfrois commented on #7136
I have some feedback to share when using a `preStop` hook with the following code:

[code]

My k8s deployment has:
* `terminationGracePeriodSeconds` set to `60s`
* `readinessProbe` set to some HTTP path

When deploying new pods, old pods receive the `SIGTERM` signal and start to shutdown gracefully. The `terminationGracePeriodSeconds` will keep the pods around in a `Terminating` state where we can

[2019-10-31 14:13] linsun commented on #16885
Thank you @vadimeisenbergibm - it does looks working for you.

I have one q - did you use external service in your example? That is the only difference i noticed.

```Create service B's external name service in namespace-a so that A can reach B (in namespace-b) the same way as A reach B as if B runs in namespace-a.```

[2019-10-31 14:18] howardjohn commented on #18505
This seems expected, you are telling it not to listen on 15020 but then trying to call 15020. What probe errors do you get without the annotation, I think it should work fine even if you don't expose any ports in 1.3

[2019-10-31 14:27] jwendell opened #18507 "Bookinfo istio.io test is failing"
see https://testgrid.k8s.io/istio_istio#integ-istioio-k8s-tests_istio

cc @fpesce

[2019-10-31 14:46] linsun commented on #18151
i noticed this too, and nost just the controller side operator, but also istioctl.

Is this intended?  Does this mean the control plane dashboard will be broken?

[2019-10-31 14:47] linsun commented on #18151
it is for pilot and policy and telemetry pods, all without sidecar

[2019-10-31 15:01] vadimeisenbergibm commented on #16885
@linsun I did not use external services. So is the issue about ExternalName services and Sidecar? Or ExternalServices are used as a workaround? I would like to focus the problem.

[2019-10-31 15:03] jakubigla commented on #18505
@howardjohn
when I describe that pod I can see the following event:
`Warning  Unhealthy  19s   kubelet, aks-agentpool-22551266-2  Readiness probe failed: HTTP probe failed with statuscode: 503`

[2019-10-31 15:14] #18507 closed

[2019-10-31 15:15] liamawhite commented on #7136
@gottfrois what version are you running? I think `pilot-agent` isn't handling SIGTERM correctly in your case.

[2019-10-31 15:17] nmittler commented on #7136
@liamawhite IIUC the draining logic in pilot-agent won't kick in during a `preStop` hook, since it relies on the `SIGTERM` which will occur after the `preStop` runs.  So I guess the preStop would have to manually drain envoy via https://www.envoyproxy.io/docs/envoy/latest/operations/admin#post--drain_listeners? Do you know of any limitations with draining Envoy in this manner?

[2019-10-31 15:22] howardjohn commented on #18505
The pod should log why its failing the check in the istio-proxy container

[2019-10-31 15:24] juliendangers commented on #18061
We faced the same issue when migrating from istio 1.2 to 1.3 (confirmed with 1.3.3).

We're using cert-manager to generate our certicate through Let's Encrypt. Istio Gateway is created at the same time we ask for the certificate, so before the certificate challenge being accepted.

Once secret is generated/updated:

[code]

Unfortunately the certificate used is issued by `cert-manager.local`, but

[2019-10-31 15:25] howardjohn commented on #7136
@nmittler `drain_listeners` was added by @ramaraochavali very recently (week or so maybe?). I think what we can probably do now is to use that draining rather than our original approach of hot restarting with an empty config. So we get SIGTERM, call `/drain_listeners`, wait X seconds, then exit.

If preStop doesn't send any signal to the app, then the preStop hook would do that

We could also just

[2019-10-31 15:30] Stono commented on #7136
Please don't!
The example being used about is wrong.  A pre stop blocks pilot agent from ever getting the sigint if it runs forever, so of course it will listen forever.

I am on 1.3.3 and confirm pilot agent works exactly as it should do

[2019-10-31 15:37] Stono commented on #7136
To be clear my original issue is not really an istio problem, more of a kubernetes container ordering problem.  As two containers within the same pod will receive the `SIGTERM` at the same time, there is no logic around guaranteeing that pilot-agent doesn't exit (and stop accepting new outbound connections) which means that if your application has some shutdown logic which involves creating new co

[2019-10-31 15:44] jakubigla commented on #18505
@howardjohn
So now events in `describe pod` command produced this:
`Warning  Unhealthy  3m24s                  kubelet, aks-agentpool-22551266-3  Readiness probe failed: Get http://10.252.4.108:15020/healthz/ready: net/http: request canceled (Client.Timeout exceeded while awaiting headers)
  Warning  Unhealthy  2m37s (x3 over 2m41s)  kubelet, aks-agentpool-22551266-3  Readiness probe failed: Get h

[2019-10-31 15:50] howardjohn commented on #18505
The proxy logs look good to me, shows it gets marked as ready (Envoy proxy is ready) then later gets the quitquitquit you sent and exits normally.

So this means its failing the readiness probe most likely because of connectivity issues between api-server and 15020?

[2019-10-31 15:54] duderino commented on #18311
@incfly @PiotrSikora why does automtls require more resources?

[2019-10-31 15:55] sdake commented on #18151
If this breaks control telemetry this is a release blocker as this would be a regression (The implementation change is not operator-specific, but throughout the old and new installers).  At this point, we have been operating under the assumption that the sidecar was only needed for control plane security.

This needs verification that control plane telemetry is not impacted.

[2019-10-31 16:00] jakubigla commented on #18505
by api-server, you mean kubelet? If so, they should be on the same node and there shouldn't be any connectivity isssue?

[2019-10-31 16:06] duderino commented on #18311
Thanks.  This needs to be mentioned in the 1.4 release notes

[2019-10-31 16:10] howardjohn commented on #18500
Envoy cluster name must be static, In Istio this isn’t true - cluster names change based on Istio configuration so they aren’t static.

[2019-10-31 16:10] ashishksingh opened #18510 "Write Mixer Adapter in language other than Go"
**Describe the feature request**
Although Mixer uses Grpc to invoke Adapters, most of the samples provide ways to write the adapter in Go only. Is there a reason for that, or can I write an adapter in any language I want as long as it sticks to the grpc service defintion ?

**Describe alternatives you've considered**

**Additional context**
I wish to write mixer adapters in languages other than Go

[2019-10-31 16:12] howardjohn opened #18511 "SKIPPED TestAuthorizationForHTTPServices istio.io test failure"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/18508/integ-istioio-k8s-tests_istio/964

[2019-10-31 16:38] ostromart opened #18513 "istioctl manifest apply should check for presence of controller"
Users may make a mistake of trying to run istioctl manifest apply when controller is in the cluster. In that case, we should check and issue a warning, since it would override the in-cluster CR temporarily, before being reverted again by the controller.

[2019-10-31 16:39] ostromart commented on #18344
I ran through the tests and it works as expected.

[2019-10-31 16:39] #18344 closed

[2019-10-31 16:47] timurb commented on #18061
I wonder what happens when Letsencrypt certificate expires and needs to be renewed.
If SDS fails to load the updated cert it could become challenging to update certs in production with this setup.

[2019-10-31 16:54] #18366 closed

[2019-10-31 17:18] duderino opened #18515 "503 reduction: Add 'reset' as a 'retry_on' condition"
**Describe the feature request**

Upstream Envoy added retry on TCP socket reset (see https://github.com/envoyproxy/envoy/pull/7505/files).

At a minimum, add 'reset' to the list of supported options in https://github.com/istio/istio/blob/8ece9bfa6161b2ec8fc0712f000bcb8ba71ef468/pkg/config/validation/validation.go#L66

Consider adding it to the default set of things that Istio retries

**Describe

[2019-10-31 17:30] nmittler commented on #7136
@Stono

Just to be clear, you're just warning that people should not to use `preStop` handlers, right?

I expect you wouldn't be against the change [suggested](https://github.com/istio/istio/issues/7136#issuecomment-548429291) by @howardjohn regarding use of the new envoy drain endpoint, since it would just be a replacement for the current draining logic in the pilot_agent.

[2019-10-31 17:30] harsha070 commented on #18511
Can I work on this?

[2019-10-31 17:36] Stono commented on #7136
Just against Istio shipping with one by default.

On Thu, 31 Oct 2019, 17:31 Nathan Mittler, <notifications@github.com> wrote:

[2019-10-31 17:37] howardjohn commented on #17497
Close as tracked in https://github.com/istio/istio/issues/13840

[2019-10-31 17:37] #17497 closed

[2019-10-31 17:38] duderino commented on #15558
@myidpt can you link to the solution documentation?  Also what is the minimum Istio release version?

[2019-10-31 17:40] nmittler commented on #7136
@Stono sure makes sense. I wouldn't expect this would ever be a default for (I'm sure) a variety of reasons.

[2019-10-31 17:42] Stono commented on #7136
Also I'm struggling to see what we are trying to fix with this convo.  Changing to a prestop hook that triggers a drain Vs the current behaviour of catching sigterm and draining doesn't feel like it solves anything?

Unless I'm missing a trick!

[2019-10-31 17:46] #18190 closed

[2019-10-31 17:46] rshriram commented on #18223
I think in the examples. But if you want to add it to the faq or operations manual, that would be welcome.

[2019-10-31 17:46] #18223 closed

[2019-10-31 17:47] #17999 closed

[2019-10-31 17:50] Stono commented on #7136
I actually propose closing off this issue and creating new ones for the specific separate issues that people are reporting on here as it's become a bit of a dumping ground for any old shut down issue 😂

[2019-10-31 17:50] JRBANCEL commented on #18046
This particular test was running fine before 1.3.3, so it is clearly a regression.
100 Knative Services translates to 200 VirtualServices. 100 Pods with sidecars are created.
Nothing extravagant for a 96 cores cluster with 300+GB of RAM.

[2019-10-31 17:51] #7136 closed

[2019-10-31 17:52] nmittler commented on #7136
Agreed, this issue has overstayed its welcome :).

Karl, do we already have separate issues tracking the specific problems you see?

[2019-10-31 17:53] #18495 closed

[2019-10-31 17:56] Stono commented on #7136
Not sure.  Will have a hunt around tomorrow and tbh validate what is even still an issue.

[2019-10-31 18:03] therealmitchconnors commented on #17993
fixed in the referenced pr

[2019-10-31 18:03] #17993 closed

[2019-10-31 18:05] therealmitchconnors opened #18519 "debug/config_distribution is not guarded against empty string"
in certain scenarios, the pilot debug/config_distribution api can cause pilot to crash.  This happens when the AckedNonce string is shorter than 12 characters.

[2019-10-31 18:09] howardjohn commented on #18046
Changes from 1.3.2 -> 1.3.3:

[code]

so if there was a regression, it appears it would have been in the proxy

[2019-10-31 18:21] rnkhouse commented on #18242
I have auto-inject enabled but it should overwrite global setting over deployment values.

Please take a look at below logs (sidecar inject enabled):

    Name:           example-app-7c6ddc6c4b-xrzn8
    Namespace:      default
    Priority:       0
    Node:           aks-agentpool-17141372-vmss000003/10.0.11.35
    Start Time:     Thu, 31 Oct 2019 14:13:38 -0400
    Labels:         app=example-a

[2019-10-31 18:23] #13427 closed

[2019-10-31 18:25] #13439 closed

[2019-10-31 18:41] howardjohn commented on #17746
Could not reproduce.

Please give the full config you used to find the problem and the info above

[2019-10-31 18:51] howardjohn commented on #18401
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/18517/unit-tests_istio/3498

[2019-10-31 18:53] lambdai commented on #18375
I am curious how many envoy instances are involved in the test cases.
You mentioned using istio-ingressgateway, so
1. is it  locust_outside_mesh -> istio-ingressgateway -> service_sidecar_envoy -> service ?
2. is the service_sidecar_envoy print the DC log?
If both answer are yes, the DC should be referring to istio-ingressgateway and <ip-a> is either the ip of istio-ingressgateway  or anything bet

[2019-10-31 18:56] davidebbo opened #18521 "'istioctl x upgrade' fails with cryptic message when using 1.4 beta 1"
Steps:
- Start with cluster with Istio 1.3
- Run `'istioctl x upgrade` using Istio 1.4 Beta 1

Result: it fails with `Error: the target version 1.4-dev in  is not supported by istioctl 1.4.0, please download istioctl 1.4-dev and run upgrade again`.

A few issues:

- Ideally, it should work
- If it really cannot, it should give a clear message why. Right now, the message seems to be missing a word

[2019-10-31 18:58] davidebbo opened #18523 "'istioctl x upgrade --help' refers to the 'mesh' command"
Using 1.4 Beta 1, `istioctl x upgrade --help` includes:

    Examples:
    mesh upgrade

It's referring to a `mesh` command instead of the `istioctl` that users actually use.

[2019-10-31 19:06] mmosttler commented on #17163
I am seeing the same issue in trying to route tcp for an external mongo through the egressgateway.

Are there any updates to this issue?

[2019-10-31 19:25] ayj commented on #18457
I was thinking of this as a way to filter contexts for a specific mesh. For example, suppose we had a file that defined the mesh deployment model as such:

[code]

The cluster name (i.e .`us-central-a_mc0`) corresponds to the context in the users kubeconfig file(s). Given the user already defined the list of clusters once, it seems a bit cumbersome to  manually redefine the same list as an environ

[2019-10-31 20:10] kramvan1 commented on #18093
@ostromart @morvencao I'm also seeing that our added annotations and labels are also removed during the ICP processing,   this should never happen.

[2019-10-31 21:04] richardwxn commented on #18411
The issue was caused by using outdated envoyfilter url.  PR to update merged.

[2019-10-31 21:04] #18411 closed

[2019-10-31 21:04] denniswebb commented on #17660
I just tested, and installing with `--set-string global.proxy.protocolDetectionTimeout=500s` fixed the issue.

I then tested with that Timeout set to just 5ms, and got the LibreSSL error for almost 50% of the calls.

Thanks @duderino for the answer.

Should I leave this open until a fix has been implemented for default installs?

[2019-10-31 21:25] kramvan1 commented on #18458
@lei-tang reproduction has been hard to do, it only seems to happen on slower clusters with smaller workers nodes.     As state above, this is just laying down the default profile icp with the operator, no other steps required.    Cluster is 1.16.

[2019-10-31 21:29] lei-tang commented on #18458
@kramvan1 Can you share the commands you run ("laying down the default profile icp with the operator")?

[2019-10-31 21:30] pitlv2109 commented on #18327
Actually, that was an issue with the document on the istio.io website. If you want to do prefix or suffix matching, you need to add the * character. You can take a look at the updated version here https://preliminary.istio.io/docs/reference/config/authorization/istio.rbac.v1alpha1/#AccessRule

[2019-10-31 21:41] njfix6 commented on #18477
@howardjohn I tried this and I can't get it to work. Maybe you have better luck?

[2019-10-31 21:43] njfix6 commented on #18477
[code]
for context this is my exact config http config.

[2019-10-31 21:48] PiotrSikora commented on #17660
@denniswebb yes, please leave it open. And thanks for verifying the fix!

[2019-10-31 21:55] njfix6 commented on #18477
I am also running istio 1.3.0

[2019-10-31 22:11] njfix6 commented on #18477
Oh gosh, I found my issue. I assumed the percentage was on a sliding scale, 1.0 being 100%. I updated it to the following at it worked:
[code]

[2019-10-31 22:11] #18477 closed

[2019-10-31 22:37] duderino commented on #17079
@lambdai can you take a look at this?  Not a crisis, but would be good to resolve it in 2019 ;)

[2019-10-31 22:38] howardjohn commented on #18515
done :slightly_smiling_face:

[2019-10-31 22:40] carolynhu commented on #16735
to avoid memory leak, we are going to kill the container while keeping proxy running, then restart a new container.

[2019-10-31 22:44] elfinhe commented on #18521
This is actually great finding! thanks for playing with it and reporting the issue. @davidebbo!
The hub naming pattern (1.4-dev) is a new feature added this week. I will fix this one.

[2019-10-31 22:47] duderino commented on #17613
Should we add retryOn reset (see https://github.com/istio/istio/issues/18515)

[2019-10-31 22:52] #18490 closed

[2019-10-31 22:54] incfly commented on #18242
probers point to a new endpoint at port 15020, this is expected. As the name indicates, "prober rewrites" means the actual podspec container prober configuration is configured to different path and port.

The buggy part is that we miss the delay & time out section... which needs to be implemented in sidecar injector, and respect the original timeout as well..

[2019-10-31 23:11] duderino commented on #17746
@lambdai isn't this already fixed?  Is this a duplicate?

[2019-10-31 23:13] jwendell opened #18534 "istioctl manifest apply: "No resources found""
Installed Istio with
`istioctl manifest apply --set profile=demo`

And saw some messages like this:

[code]

It's confusing because it says it installed successfully which I don't think it's true.

Ideally it should not show those messages for components not present in the profile or not selected for installation.

[2019-10-31 23:18] incfly commented on #17660
Just curious, what's our original use case to put the `tls_inspector`? I saw Yahoo folks' FR is still open, which means some other existing use case requiring us to add tls_inspector there.

[2019-10-31 23:19] #15935 closed

[2019-10-31 23:44] mandarjog opened #18538 "tools: multi-cluster service graph test"
1. Update tools/perf/load tests to include multi cluster servicegraphs.
2. Use [replicated control plane setup](https://istio.io/docs/setup/install/multicluster/gateways/)
3. Only use telemetryV2. Disable Mixer.
4. Use federated prometheus install with operator. [link](https://github.com/coreos/prometheus-operator/issues/1530)

[2019-11-01 00:32] n-moser commented on #11675
Our problem was that the MongoDB only creates the user configuration in the very first run. However, the initial connection to the database can only be established later due to Istio, so the MongoDB is restarted and the configuration becomes corrupt. Our workaround was to deactivate the sidecar injection, then install the Mongodb and reactivate the injection afterwards.

[2019-11-01 00:35] kramvan1 commented on #18456
@sdake I have the following in the ICP
[code]
but still seeing 2 `dns....` certificates being created in istio-system

[2019-11-01 00:36] sdake commented on #18458
@lei-tang if it is helpful - it seems to possibly occur more often in overload conditions.

[2019-11-01 00:41] lei-tang commented on #18458
If the cluster is overloaded to the degree that there is no resource to create secrets containing certificates, the certificate provisioning problem in this issue is not a timing issue but a cluster out-of-resource problem.

[2019-11-01 00:41] sdake commented on #18456
@lei-tang @ostromart can you PTAL at the assumptions around this change?  It appears the values yaml passthrough is not working to disable this entry.

Cheers
-steve

[2019-11-01 00:46] lei-tang commented on #18456
I am not aware of ICP. For diagnosis purpose, can you provide instructions on running ICP to reproduce the problem?

[2019-11-01 00:48] kramvan1 commented on #18456
ICP is the Operator IstioControlPlane resource, which has the values to use to customize istio.

[2019-11-01 00:48] lei-tang commented on #18456
Where is the code of ICP?

[2019-11-01 00:50] kramvan1 commented on #18456
istio operator https://github.com/istio/operator/blob/master/data/profiles/default.yaml

[2019-11-01 00:52] lei-tang commented on #18456
Found it: https://github.com/istio/operator/blob/master/data/profiles/default.yaml#L312. I will create a PR to set the certificate configuration to be empty to turn off the certificate provisioning.

[2019-11-01 00:56] carolynhu commented on #18298
@richardwxn please also link your related PRs here, thanks

[2019-11-01 01:07] lei-tang commented on #18456
PR created to turn off DNS certificate provisioning on ICP: https://github.com/istio/operator/pull/500

[2019-11-01 01:55] xxlaila commented on #18459
do not know why? I don't execute
[code]
using `kubectl create -f <(istioctl kube-inject -f samples/bookinfo/platform/kube/bookinfo.yaml)`, yes

but in execution Tips for `kubectl apply -f samples/bookinfo/networking/bookinfo-gateway.yaml`
[code]
I have not made any changes to the isio installation file, full reference to the official steps

[2019-11-01 02:49] 7895179 commented on #18503
I set labels for  the secret that is the kubeconfig of data plan cluster.
[code]
I think maybe it due to pilot didn't linstion monitor the data plan cluster from that secret.

[2019-11-01 04:04] LinLshare commented on #18375
@lambdai I had tested it again, please look at following.

-------
YES, I'm sure.

-------
YES, look at the following log:
**locust say bye**
[code]
**test-svc service_sidecar_envoy say DC**
[code]
**istio-ingressgateway say DC**
[code]

[2019-11-01 04:11] rjshrjndrn commented on #18120
@JimmyCYJ @howardjohn
I am really sorry to bother you guys again. But This issue persists, even with 3rd cluster creation. And I did all the things in my power to triage this but in vein. So if you guys can help me a bit, hugely appreciated.

[2019-11-01 05:17] irisdingbj opened #18547 "Enhance `istioctl verify-install` to consume operator icp cr or profile"
Thanks @linsun for this idea.

Currently `istioctl verify-install` has two functions
`istioctl very-install` - perform install pre-check against cluster
`istioctl verify-install -f, --filename strings   Istio YAML installation file.` -perform post install verification against a cluster

Now we support install Istio via `istioctl manifest apply` it is better we add below two functions into `istioct

[2019-11-01 05:19] incfly opened #18548 "[Istio auto mTLS] Customer feedback report"
**Describe the feature request**

This issue is a placeholder for user to submit the feedback of auto mTLS. Please comment on this issue to give us feedback. For example, considering

- Do you encounter any issues of auto mutual TLS? Any application/traffic starts to break after opt-in this feature?
- Do you have any concern if we turn this on by default, while still keep the Helm option to disabl

[2019-11-01 05:41] rjshrjndrn opened #18549 "Istio is unstable. Pilot crashloop"
**Bug description**
Entire istio cluster is down, because of pilot crash loop. In discovery I can see this logs
[code]
 istioctl version
client version: 1.3.3
citadel version: 1.3.3
galley version: 1.3.3
ingressgateway version: 1.3.3
ingressgateway version: 1.3.3
nodeagent version:
nodeagent version:
nodeagent version:
pilot version: 1.3.3
pilot version: 1.3.3
sidecar-injector version: 1.3.3
Error

[2019-11-01 07:18] Ghost---Shadow commented on #6855
Same
[code]

[code]

[2019-11-01 07:20] ramaraochavali commented on #13822
@howardjohn I am looking in to this.

[2019-11-01 08:06] 7895179 commented on #18503
[code]
pilot discover get the secret but the logs show this:
[code]

[2019-11-01 08:32] 7895179 commented on #18503
There are the same pods in control plane and data plane.
However, the pod of istio-proxy is injected into the data plane cluster. The endpoint configuration of proxy-config only has the IP information of the remote control plane cluster, but no IP information of the cluster. All hosts point to the IP of the remote control plane ingressgateway.
In data plane cluster the endpoint config Like this:
[

[2019-11-01 09:16] gudeyang1 commented on #16486
have the same problem with vault 1.2.2 istio 1.2.7 kubernetes 1.13
logs for `sidecar`:
[code]

strace log of sidecar when runing `curl` command form my `pod1` to `svc2`

[code]

[2019-11-01 09:24] marcusschiesser opened #18551 "Zero request Rate-Limiting is leaking 0.3% requests under load"
**Bug description**

Adding a `maxAmount: 0` rate-limiting policy to all services, about 0.3% of all requests are still served under load

**Expected behavior**

All requests would return with HTTP code 429, none would return with HTTP code 200.

**Steps to reproduce the bug**

1. Deploy a `maxAmount: 0` policy affecting all services

[code]

2. Create a namespace with sidecar injection enabled
`k

[2019-11-01 10:03] morvencao commented on #6855
@Ghost---Shadow I haven't got a chance to try this on latest Istio version.

[2019-11-01 10:59] funkypenguin commented on #12521
Likewise I'd like to know where the istio/install docs @costinm  mentioned are.

In my case, I can connect from the workers to the web via port 2222 with mTLS enabled under Istio 1.3.3 (below)...

[code]

But concourse-web logs errors like this:

[code]

Which leads me to believe that the sidecar is causing ATC to assume that the source of the incoming worker registration 127.0.0.1, and so fail to

[2019-11-01 13:45] rjshrjndrn commented on #18549
Fixed it. DNS resolver issue. phew... cloud is ..

[2019-11-01 13:45] #18549 closed

[2019-11-01 13:46] rjshrjndrn commented on #18120
fixed it. Dns resolving issue with cloud

[2019-11-01 13:46] #18120 closed

[2019-11-01 13:48] #18092 closed

[2019-11-01 14:22] inteon opened #18553 ""https://127.0.0.1:6443" gets replaced by "http://localhost:8080""
**Bug description**

Impossible to use a k8s server not on "http://localhost:8080" (ex. "https://127.0.0.1:6443"); configuration gets overwritten by output of depricated function "getDefaultServer()" (see clientcmd).
https://github.com/istio/istio/blob/6c96552ed3954a89989b12f35c2bb91bb5e36b6f/pkg/kube/config.go#L59

This function is being used by https://github.com/kubernetes-sigs/external-dns and

[2019-11-01 14:47] inteon commented on #18553
Removing this line solves the issue for me. https://github.com/istio/istio/blob/6c96552ed3954a89989b12f35c2bb91bb5e36b6f/pkg/kube/config.go#L59

Is this a valid solution? Why was this line added in the first place?

[2019-11-01 14:51] ggilley commented on #12521
The only thing I can find in the installer project is using concourse to test the istio installer: [](https://github.com/istio/installer/blob/master/.concourse/concourse.yaml) @costinm Is there something else we are missing? We are trying to install concourse into an istio environment.

[2019-11-01 15:08] Darwiner commented on #18221
For the record (in case anyone else winds up looking around at this, although I might be mistaken?), it seems the Kubernetes' link that you refer to (https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection), itself, is already outdated and doesn't reflect the right information.

This `--service-account-api-audiences` flag seems to

[2019-11-01 15:18] #17600 closed

[2019-11-01 15:53] kramvan1 opened #18554 "Operator beta-4 and prior install 1.4-dev control plane images instead of beta-4 control plane images"
**Bug description**
The operator image ref here:
https://github.com/istio/operator/blob/1.4.0-beta.1/deploy/operator.yaml#L19

still has the dev tag instead of the beta tag.

**Expected behavior**
Operator image should have tag matching the release

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version`)**

**How was Istio installed?**

*

[2019-11-01 16:13] howardjohn commented on #18553
Introduced in https://github.com/istio/istio/pull/6987

[2019-11-01 16:22] pitlv2109 commented on #18221
@Darwiner Thank you for bringing this up. Yes that what I found out when I was experimenting with trustworthy JWT. In the blog post, it says "You may also want to refer to the api-server page for the most up-to-date flag names". We didn't want to create another yet source of truth, since this is a K8s feature.

[2019-11-01 16:35] howardjohn opened #18555 "Enable outlierDetection logging"
https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/bootstrap/v2/bootstrap.proto#envoy-api-msg-config-bootstrap-v2-clustermanager-outlierdetection

envoy supports logging an event when outlier detection is triggered, this would be pretty useful for debugging

[2019-11-01 17:09] prune998 opened #18557 "Istio Ingress Gateway (Envoy) memory leak with bi-directional GRPC Streams"
**Bug description**
Istio Ingress Gateway (more specifically Envoy Proxy) memory keeps increasing when some Bi-Directional GRPC streams (HTTP2) are opened.

My test case is using my own load-testing tool, which open one GRPC bi-directional Stream per simulated client, then send one message every 10s.
For this test I started 2500 clients by batches of 100 every 20s.

In this graph :
- purple : clie

[2019-11-01 17:23] lei-tang commented on #16486
@gudeyang1 From the logs you posted, I did not see any errors related to certificate provisioning but your log shows a certificate verification failure as follows. You may want to dump the certificate chains and the CA bundles of the source Envoy and the destination Envoy to check whether the certificate chains of the source Envoy and the destination Envoy can be validated through their CA bundles

[2019-11-01 17:34] howardjohn commented on #18359
Done https://github.com/istio/istio/pull/18362

[2019-11-01 17:34] #18359 closed

[2019-11-01 17:35] jasonwzm commented on #17438
With the CRD validation, API server will output errors for the incorrect config. The example config will have the following error:
`The VirtualService "external-vs" is invalid: []: Invalid value: map[string]interface {}{"apiVersion":"networking.istio.io/v1alpha3", "kind":"VirtualService", "metadata":map[string]interface {}{"annotations":map[string]interface {}{"kubectl.kubernetes.io/last-applied-c

[2019-11-01 17:35] #17438 closed

[2019-11-01 17:37] israel-hdez opened #18558 "Kiali wizards not working on Istio 1.4-beta"
**Bug description**

There is an issue in Kiali when using configuration Wizards available at the Service Details page. I'm talking about this:

!
**Expected behavior**
Kiali wizards should create the VirtualServices, DestinationRules and any other required objects to properly apply que requested config in the Wizards.

**Steps to reproduce the bug**

**Version (include the output of `istioctl ver

[2019-11-01 17:41] israel-hdez commented on #18558
The istio-policy-bot removed my image :(
This is the image:
![](https://user-images.githubusercontent.com/23639005/68043517-17be7900-fc9b-11e9-8e7a-5499adcd9d48.png)

[2019-11-01 17:43] israel-hdez commented on #18558
The istio-policy-bot truncated my description. Please check the history to see the original description.

[2019-11-01 17:50] prune998 commented on #18557
I tried to delete the upstream pod, to ensure all TCP connexions or H2 streams are closed, but the Ingress Gateway memory stays the same.

I tried running some connexions, then stop them, then start again. I monitored the `server.memory*` metric from Envoy :
- before re-starting
  server.memory_allocated: 47296392
  server.memory_heap_size: 331350016

- `memory_allocated` start increasing
  server

[2019-11-01 17:53] JRBANCEL commented on #18046
I am not sure how this is possible given it doesn't seem to have changed, but the issue seems to be in `init_proxy`.
Running everything (proxyv2, pilot, ...) in `1.3.3` fails.
Running everything (proxyv2, pilot, ...) in `1.3.3`, but `init_proxy` in `1.3.2` works.

In 1.3.2, it is super fast:
[code]

In 1.3.3, it takes ~30s:
[code]

Any idea?

[2019-11-01 17:54] prune998 commented on #18557
To keep track, here's the logs from the Linux node showing the OOM killer and process/pod memory usage :
[code]

[2019-11-01 18:05] lambdai commented on #18046
@JRBANCEL  IIUC istio is not involved between
`Container image "docker.io/istio/proxy_init:1.3.3" already present on machine` and `Started container istio-init`. It's pure k8s work and the utilization of k8s node plays the role.
Is that particular node overloaded?
You could retry by schedule the pod to another node. Or simply delete the pod and retry.

[2019-11-01 18:09] bianpengyuan commented on #18139
Fixed by https://github.com/istio/proxy/pull/2503

[2019-11-01 18:09] #18139 closed

[2019-11-01 18:11] JRBANCEL commented on #18046
I don't know. It is tricky to cleanly isolate specific pods.
All I know, is that creating 100 Pods with sidecar in the first scenario (all 1.3.3) results in some Pods not being ready after 3 minutes.
The exact same scenario in 1.3.2 has all Pods ready under 60s.
So something regressed somewhere.

[2019-11-01 18:23] prune998 commented on #18557
I tried changing the frequency of messages sent from the clients :
![image](https://user-images.githubusercontent.com/1110398/68046642-ba362680-fcb2-11e9-8b3b-9d20ff01fb88.png)

The memory consumption rate goes with the number of messages going inside the connexions.
I don't know where to go from here...

[2019-11-01 18:29] Stono commented on #18089
eeek, this isn't fixed, I closed the wrong issue :D

[2019-11-01 18:40] selmanj commented on #17703
I plan on doing this, but am waiting for the doc to get reviewed, and for me to make a bit more progress on some other analyzers first...

[2019-11-01 18:41] selmanj commented on #17560
Closing for now, unless someone can confirm that my reasoning above is wrong.

[2019-11-01 19:18] chris530 commented on #10815
@gregdurham   thank you !   Finally istio pod injection works in EKS

[2019-11-01 19:21] jwendell opened #18561 "`istioctl manifest` does not work with CNI"
[code]

This is istioctl from 1.4:
[code]

[2019-11-01 19:21] jmazzitelli opened #18562 "CNI options cause istioctl manifest to fail"
As per docs: https://preliminary.istio.io/docs/setup/additional-setup/cni#installation I want to install CNI because I'm using OpenShift 4. But istioctl fails:

[code]

Replication: run this script

[code]

[2019-11-01 19:23] jmazzitelli commented on #18561
I just wrote up a dup of this issue. I'll close it - here's what my description said with replication procedures:

---

As per docs: https://preliminary.istio.io/docs/setup/additional-setup/cni#installation I want to install CNI because I'm using OpenShift 4. But istioctl fails:

[code]

Replication: run this script

[code]

[2019-11-01 19:23] jmazzitelli commented on #18562
dup of #18561

[2019-11-01 19:23] #18562 closed

[2019-11-01 19:25] eroji opened #18563 "Istio-proxy sidecar won't start for an application in namespace"
**Bug description**
I have a Rancher 2.3.2 managed cluster with Istio 1.3.3 deployed. The sidecar injection is enabled for a namespace where there are multiple applications running in. Redeploying all the running applications were successful except for one. Digging into the logs, it looks like the istio-proxy sidecar cannot start and it is unclear why. All system level Istio components are running

[2019-11-01 19:34] richardwxn opened #18564 "istioctl manifest generate output order not stable with k8s object overlay"
Although the manifest order doesn't affect outcome during apply, but it makes the manifest generate test output not stable whenever syncing charts from installer or updating operator profiles.

I am suspicious that it is caused by random reordering during overlay: https://github.com/istio/operator/blob/master/pkg/patch/patch.go#L108

@ostromart

[2019-11-01 19:45] njfix6 opened #18565 "High Availability for Istio Services"
**Describe the feature request**
It is still not clear to me whether it is safe to run citadel, galley, and the sidecar injector with multiple pods? Also wondering why they don't have an HPA attached to them?

I am thinking of adding the following flags to the helm install, but not sure if it Is it safe:
[code]
I would hope this would raise sidecarInjector, galley, and citadel to each have 5 pods

[2019-11-01 19:53] sdake commented on #18561
@ostromart can you offer some advice on how to solve this problem.  I am super overloaded atm but I might be able to find someone to fix if you can provide some idea on resolution.

Cheers
-steve

[2019-11-01 20:16] howardjohn commented on #18558
Issue on helm install, running k8s 1.15. Suspected: #16320 @Jason-ZW

[2019-11-01 20:19] howardjohn commented on #18558
Error is:

[code]

[2019-11-01 20:20] howardjohn commented on #18558
This doesn't look like a valid VirtualService... I think this is equivalent to
[code]

[2019-11-01 20:23] israel-hdez commented on #18558
I just tried with this YAML:

[code]

Note the `gateways: null` line.
This YAML gets rejected in Istio1.4 but is accepted in Istio1.3. By removing that attribute from the YAML, the VS is accepted in Istio1.4.

A similar issue happens with DestinationRule CRD.

[2019-11-01 20:26] howardjohn commented on #18558
[code]

DR is rejected as well

[2019-11-01 20:27] howardjohn commented on #18558
[code]

works for me... which is weird because its being rejected from kiali but not kubectl somehow?

kube version: `Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTreeState:"clean", BuildDate:"2019-08-20T18:57:36Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}` (running kind)

[2019-11-01 20:28] howardjohn commented on #18558
Oh interesting, if I modify a VS (reviews-route) it is allowed, but if I make a new one its rejected

[2019-11-01 20:33] gregdurham commented on #10815
@chris530 np! Glad I could be of some help :)

[2019-11-01 20:33] geeknoid commented on #18558
PS: Seems the policybot did some slash and burn on this issue's initial description. You can recover the original text via the pull down menu near the description area. I'm investigating what happened there, but I bet it has something to do with the embedded picture.

[2019-11-01 20:36] jasonwzm commented on #18558
`gateways: null` should be `gateways: []`. The error shows: `spec.gateways in body must be of type array: "null"`

[2019-11-01 20:44] howardjohn commented on #18557
@prune998 I am not an expert here, but @lambdai has been looking at a somewhat similar case. I think its about general high memory, not necessarily a leak. Basically the default buffers are really high and can end up using a lot of memory.

https://github.com/istio/istio/wiki/EnvoyFilter-Samples#http2-flow-control could be tested to see if there are improvements

[2019-11-01 20:46] howardjohn commented on #18565
I believe there was a time when these did not handle multiple replicas, but they now do.

@myidpt and @ayj can confirm?

[2019-11-01 20:47] sdake commented on #18561
trimming the input a bit seems to work:

[code]
...

[2019-11-01 20:50] jmazzitelli commented on #18561
@sdake right, that is what I first did too :) The problem is that doesn't apply CNI completely. How I found this out is because if you look at the telemetry in Prometheus, you don't see any telemetry coming from any pods other than istio-ingressgateway.

See: https://istio.slack.com/archives/C382V8Q92/p1572613433131600

[2019-11-01 20:55] jmazzitelli commented on #18561
In case that slack URL doesn't work, here's what I said - this is how you know CNI isn't working:

----

is anyone seeing telemetry not getting generated from non-ingress pods on 1.4.0.beta-1? I see istio-proxy containers on all my bookinfo pods, but all the telemetry I get is:

![image](https://user-images.githubusercontent.com/2029470/68055900-240cfb00-fcc8-11e9-8904-ba1a7028727d.png)

`istio_re

[2019-11-01 20:59] richardwxn commented on #18561
not familiar how CNI works, but the reason why you get the bad path error is because it doesn't exist in the values pass through proto defined here for CNI: "https://github.com/istio/operator/blob/master/pkg/apis/istio/v1alpha1/values_types.pb.go#L298"

[2019-11-01 21:00] sdake commented on #18151
Reports from @linsun indicate that control plane telemetry is not impacted.

[2019-11-01 21:00] #18151 closed

[2019-11-01 21:02] jmazzitelli commented on #18561
@richardwxn right - I think the issue is the wrong version is being used.. I think @sdake said istioctl should be using v1alpha2

[2019-11-01 21:05] sdake commented on #18561
@jmazzitelli I was mistaken - the values pass-through only has one version atm.

[2019-11-01 21:08] jasonwzm commented on #18558
@israel-hdez Please also let me know if there are other schema validation errors you are seeing from your side.

[2019-11-01 21:11] richardwxn commented on #18561
yep the values pass through proto defined in v1alpha1 is used internally for validation only, which should not be used in this case that cause the overrides error. Let me take a deeper look to check.

[2019-11-01 22:02] #17916 closed

[2019-11-01 22:11] prune998 commented on #18557
As the memory usage keeps increasing at each message and not each new connexion, I'm not sure it's just buffers. I'll look at flow control, but this is usually related to how much you send on the line and even a large window should not lock memory indefinitely (I went up to 4Gb of memory for 2500 cnx and one message every 5s).

[2019-11-01 22:43] douglas-reid commented on #18510
@ashishksingh my advice would be to avoid writing an adapter for Mixer altogether, and wait for the dust to settle on 1.4 and the extensibility v2 work.

if, however, you have a business need in the more immediate term, you should be able to write an adapter in any language you desire.

[2019-11-01 22:43] #18510 closed

[2019-11-01 23:05] douglas-reid commented on #18496
I'm not sure what has generated your errors. The data is not sufficient to debug. You might get some more insights by describing the restarting pods and seeing what other info is available.

In the meantime, I'd suggest moving this sort of support/question to the forums: discuss.istio.io. That is a more appropriate place for questions like this one.

[2019-11-01 23:05] #18496 closed

[2019-11-01 23:16] #18523 closed

[2019-11-01 23:17] ayj commented on #18553
I don't remember the exact details, but this was aligning istioctl with kubectl behavior at the time. We switched to an older version of github.com/imdario/mergo to fix a bug in k8s/client-go. Maybe this broken when we moved to a new version?

[2019-11-01 23:52] josephpeacock commented on #18445
After some testing on my end, I suspect there may be a bug somewhere in the cache key creation logic. I set up two test services within the mesh, let's call them inbound and backend. I SSH'd into the inbound pod, and curled the backend, measuring the time taken (round-trip) per call. For each new path attempted, the first call would take 11ms, and subsequent calls would take 8-9ms. In addition, I'

[2019-11-02 00:14] gudeyang1 commented on #16486
Can &nbsp;you show me the way &nbsp;how to dump
&nbsp;certs from Enovy,i'm new &nbsp;to Istio &nbsp;do &nbsp;i &nbsp;need &nbsp;to modify the code &nbsp;of Envoy for debugging?thansks&nbsp;

发自我的iPhone

------------------ Original ------------------
From: lei-tang <notifications@github.com&gt;
Date: Sat,Nov 2,2019 1:24 AM
To: istio/istio <istio@noreply.github.com&gt;
Cc: gudeyang1 <1010676991@qq.c

[2019-11-02 00:17] eroji commented on #18563
Problem seems to be something in the deployment yaml. I deleted it and recreated it entirely with sidecar injection enabled and now it's working.

[2019-11-02 00:17] #18563 closed

[2019-11-02 00:38] nrjpoddar commented on #17560
@selmanj @sushicw I missed this notification so apologies for the delay. I think this analyzer is still needed and yes, Kiali’s implementation might be too restrictive. Pilot in master has fairly complicated logic for the merge but I still think there are scenarios in which it will randomly pick one of the two gateways.

[2019-11-02 00:56] bianpengyuan commented on #18445
k8s adapter is mostly for telemetry purpose and if you don't need the generated extra k8s attributes, it does no harm to remove it:
https://github.com/istio/istio/blob/f8149a108b613994be519b42a96e671f303ec80f/install/kubernetes/helm/istio/charts/mixer/values.yaml#L86

I think this is actually expected, as attr gen adapter runs as precondition adapter for both policy check and telemetry, though I d

[2019-11-02 01:51] morvencao commented on #18093
@kramvan1 Did't catch that, let me have a try.

[2019-11-02 01:53] howardjohn commented on #9784
This is believed to be fixed in 1.4 but I haven't had a chance to verify all of the scenarios in the original issues. If someone has tried these, please let us know how it functions.

We do have some testing for this as well but can't beat diversity of kafka/zookeeper/etc

[2019-11-02 02:00] gudeyang1 commented on #16486
and also, if enable SDS , is secret generated by `Istio`  like `istio.io/key-and-cert` will be useless?  sidecar doesn't mount the secret in pod at `/etc/certs`

[2019-11-02 02:02] howardjohn commented on #13851
@duderino @PiotrSikora @lambdai any update on this?

[2019-11-02 03:48] ramaraochavali commented on #18046
@mandarjog for your timeouts issue, my PR got merged, can you please run your scenario and see if it helps?

[2019-11-02 07:37] richardwxn commented on #17779
PR merged in installer: https://github.com/istio/installer/pull/467

[2019-11-02 08:44] desek opened #18575 "Infinite loop of handshake error when Gateway has hosts=* and TLS enabled"
**Bug description**

When deploying a Gatway with a TLS enabled HTTPS port with hosts=* Gateway goes into an inifinite handshake error loop and consuming 100% CPU.

Debug logs (enabled by global.proxy.logLevel=Debug) surfaces the following output:

[code]

**Expected behavior**

Gateway should listen to all hosts (hosts=*) and present the specified TLS certificate, event if it will be a certificat

[2019-11-02 14:59] jwendell commented on #17583
Using the new install mechanism `istioctl manifest` as described in CNI doc page, CNI daemonset/pods will be created in `istio-system` namespace. Is this an issue?

[2019-11-02 15:30] jwendell opened #18576 "CNI charts are outdated"
Previously (or currently) CNI components can be - and are - encouraged to be installed on `kube-system` namespace:

[code]
This way users can setup additional priorities for pod scheduling like `system-node-critical`.

With the `istioctl manifest` method, those components are installed in `istio-system` namespace.

Is there an way to install them in a different namespace like it's possible with `h

[2019-11-02 15:31] jwendell commented on #18576
cc @sdake @ostromart @rlenglet

[2019-11-02 15:32] rlenglet commented on #17583
I have no idea why the namespace was changed. In 1.3, the daemon must be created in `kube-system` due to its `priorityClass`. We @ruigulala changed the priority class, and it should not require being created in `kube-system` anymore. We're lucky this was done before 1.4 release then.

[2019-11-02 15:35] rlenglet commented on #18576
This is incorrect. It *had* to be created in `kube-system` due to using the `system-node-critical` priority class. This is no longer required in 1.4, where we use the `system-cluster-critical` priority class.

[2019-11-02 15:35] rlenglet commented on #18576
cc @ruigulala

[2019-11-02 15:37] rlenglet commented on #18576
That said, for some reason, `istio/installer` has forked the Helm chart seemingly months ago and never sinced again: https://github.com/istio/installer/blob/release-1.4/istio-cni/templates/daemonset.yaml It does even have the `priorityClass`. This is a recipe for disaster. @jwendell I'd recommend rewording the issue about `istio/installer` being way out of sync with upstream `istio/cni`.

[2019-11-02 15:39] rlenglet commented on #18576
`istio/installer` CNI charts being out of sync with `istio/cni` is a release blocker IMHO. @istio/release-managers-1-4

[2019-11-02 15:41] jwendell commented on #18576
@rlenglet Do you know who is the source of truth when we talk about charts? It's confusing to me.

So, we have charts in istio/cni, then install/cni. We also have istio/operator. Where does `istioctl manifest` copy them from? Which one does it use?

[2019-11-02 15:45] howardjohn commented on #18576
istioctl imports the operator as go code. The operator has the charts built
into the go code using the vfsgen stuff. Those charts are from
istio/installer.

istio/cni also has charts that are shipped as part of the helm install

On Sat, Nov 2, 2019, 8:42 AM Jonh Wendell <notifications@github.com> wrote:

[2019-11-02 15:54] sdake commented on #18561
Thanks a bunch, @richardwxn - super appreciate your effort in this area.  I would also like the operator controller loop to be able to take these configuration values.  Is that viable or possible?

Cheers
-steve

[2019-11-02 15:58] jwendell commented on #18576
I've created https://github.com/istio/installer/pull/476

Could someone from CNI team please verify if it's enough?

[2019-11-02 17:43] jwendell commented on #16998
Can we close this issue then?

[2019-11-02 17:53] jwendell commented on #18456
Can we close this then?

[2019-11-02 20:42] #14721 closed

[2019-11-02 20:47] howardjohn commented on #16998
Should drop down the priority now, but probably keep open as we are still seeing ~30% failure rates on various tests. If someone on security wants to break out individual failures we could close this though? ref https://testgrid.k8s.io/istio_istio_postsubmit#integ-security-k8s-tests_istio_postsubmit

[2019-11-02 20:50] howardjohn commented on #14283
@Freyert my understanding of this is that high rate of config change leads to Envoy spending more CPU on processing those, which leads to increased latency. So best metrics would be around number of config updates I suppose?

Original issue has a mitigation now for short term, and long term solution is tracked in https://github.com/istio/istio/issues/10533

[2019-11-02 20:50] #14283 closed

[2019-11-02 20:52] howardjohn commented on #14819
https://prow.k8s.io/view/gcs/istio-prow/logs/integ-mixer-k8s-tests_istio_postsubmit/468
https://prow.k8s.io/view/gcs/istio-prow/logs/integ-mixer-k8s-tests_istio_postsubmit/497
https://prow.k8s.io/view/gcs/istio-prow/logs/integ-mixer-k8s-tests_istio_postsubmit/430
https://prow.k8s.io/view/gcs/istio-prow/logs/integ-mixer-k8s-tests_istio_postsubmit/441

[2019-11-02 20:54] howardjohn commented on #14791
This doesn't really seem to fail anymore

[2019-11-02 20:54] #14791 closed

[2019-11-02 20:55] mandarjog opened #18578 "tools/Isotope: allow returning errors"
At present istio.io/tools/isotope only respond with successes.

1. Add the ability  to respond with probabilistic 4xx errors.
2. Add the ability  to respond with probabilistic 500 errors.

[2019-11-02 21:15] #17951 closed

[2019-11-02 21:17] howardjohn commented on #16306
I bumped this to P1 because its not terribly onerous to have these tests done manually per release anyways

@carolynhu does the upgrade test you are working on exercise this at all? I think it should, but haven't looked at the logic in the test

[2019-11-02 21:22] #17909 closed

[2019-11-02 21:52] gustavovalverde commented on #18229
I'm also experiencing this, istio is using the whole CPU, and it autoscaled to 5 (using 5 vCPU).

I made a simple install on GKE using this parameters (no further customization)

[code]

[2019-11-02 23:31] #18561 closed

[2019-11-03 01:42] mandarjog commented on #18261
1.4 builds from November 2, 2019
![ingress: Flamegraph](https://storage.googleapis.com/artifacts.mixologist-142215.appspot.com/perfdata/istio-ingressgateway-69c569cff9-b96bc_istio1.svg)
16% in Wasm stack

mx -  4% encodeHeaders, 2% decodeHeaders
stats - 5%
stackdriver - 3.5%

![sidecar: Flamegraph](https://storage.googleapis.com/artifacts.mixologist-142215.appspot.com/perfdata/svc03-0v1-589f6cb9b8

[2019-11-03 02:04] mandarjog commented on #18261
Total cpu For a constant size cluster
mx+stats+sd = 28 vcpu
mx only = 24 vcpu
nofilter = 21 vcpu

[2019-11-03 02:18] mandarjog commented on #18261
Latency with nofilter, mxonly, stats and stats+sd
<img width="1250" alt="Screen Shot 2019-11-02 at 7 17 00 PM" src="https://user-images.githubusercontent.com/800375/68079344-65270d00-fda5-11e9-89df-e561a6814b2a.png">

[2019-11-03 04:01] carolynhu commented on #16306
@howardjohn no, the upgrade script do not have this logic.

[2019-11-03 04:25] carolynhu commented on #18298
https://github.com/istio/tools/pull/488

[2019-11-03 04:32] carolynhu opened #18580 "istio/tools: could not ssh into gce instance when enabling perf record"
In perf benchmark pipeline. When enabling perf-record in gce instance. We got the following error:
[code]

[2019-11-03 04:39] howardjohn commented on #16306
But when we upgrade we will have new control plane and old proxy for some
period of time right? Do we restart all the proxies as well?

On Sat, Nov 2, 2019, 9:02 PM carolynhu <notifications@github.com> wrote:

[2019-11-03 04:39] nak3 commented on #17837
Yes, you are correct. Knative creates a "dummpy service", which is a placeholder.

Hmm... When I researched on Knative, I gueesed that Knative's switching endpoint IPs caused the error so I tried the reported scenario to narrow down it. And I got the same error and filed this. Do you think that creating a "dummy service" will make different result?

Istio mTLS STRICT mode is not so extremely high

[2019-11-03 09:05] vagababov commented on #17837
None of the services is dummy.
One is used to route client requests to it (public), the other (private) is used for internal proxying.

[2019-11-03 09:30] nak3 commented on #17837
Thank you for the correction. I misunderstood for the private svc as a placeholder just only for [copy source of the endpoint](https://github.com/knative/serving/blob/fee536a1ea1e91386c622727fd08486216e62e9b/pkg/reconciler/serverlessservice/serverlessservice.go#L229).

[2019-11-03 14:28] gustavovalverde commented on #5580
I'm still not understanding why if the if the `outboundTrafficPolicy.mode` is set to ALLOW_ANY this steps are still needed. Isn't this a bug? @rshriram @vadimeisenbergibm

[2019-11-03 18:04] zhangxingdeppon commented on #18161
How can I verify the sidecar "envoy" after each request to report telemetry succeed?
In addition,when I access metric "istio-mesh", it’s always response code is 200,but  sometimes not any data,the data length is 0,"Content-Length: 0"，I think if the response code 200 was returned,the result must be return,but it return ""Content-Length: 0",so I feel very confused.

[2019-11-03 18:15] #15379 closed

[2019-11-03 19:21] bianpengyuan commented on #18161
The output from debug steps looking fine to me. Based on the output from the first step indicates, Mixer is receiving reports from the proxy.

Could you try to turn on adapters debug log (add `--log_output_level=adapters:debug` to `istio-telemetry` deployment) and check if there is anything fishy in output?

[2019-11-03 19:25] gustavovalverde commented on #6593
@rshriram this one should be kept open. There's no defined solution for it.

[2019-11-03 19:46] nrjpoddar opened #18584 "Add example for verifying client-go"
**Describe the feature request**

Add an example package which verifies that the generated client-set in client-go is usable.

[2019-11-03 19:55] nrjpoddar commented on #17688
This is fixed in master of istio.io/client-go as I have an example package using the generated code successfully: https://github.com/istio/client-go/pull/16

[2019-11-03 19:55] #17688 closed

[2019-11-03 21:57] incfly commented on #18242
I think you are right, the way it works for our webhook auto inject, we do not copy over the original probers' intialDelay fields. I think `istioctl kube-inject` does not have this problem, the original 700s initialDelay you specified on the app is preserved.

I'll work on a fix for the webhook one and the timeout carrying to the pilot agent.

[2019-11-03 22:40] incfly commented on #18242
Actually I think because we use `jsonpath` `replace` action for only `httpGetAction` part of the probe, so I think we j leave the initial delay seconds as what it is. The initialDelaySeconds part of the probe should not be relevant to this bug

I confirmed in my own deployment with a readinessProbe.initialDelaySeconds = 50s, and that's kept untouched after rewrite.

Are you sure you set original p

[2019-11-04 00:18] richardwxn commented on #18564
fixed in referenced PRs

[2019-11-04 00:18] #18564 closed

[2019-11-04 00:23] richardwxn commented on #18561
@sdake What configuration values you are referring to? The manifests generation logic is shared between CLI and controller including the validation part. Or are you talking about the force flag from CLI?

[2019-11-04 01:16] ruigulala commented on #17583
@rlenglet Some complement information to add here. priorityClass requires a particular feature gate(DynamicKubeletConfig) to be enabled. Prior to Kubernetes 1.11, this feature gate is "false" by default.
https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/
https://v1-13.docs.kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

[2019-11-04 01:29] howardjohn commented on #17583
@ruigulala Istio 1.4 only supports Kubernetes 1.13+ so I think its reasonable ot assume its enabmed

[2019-11-04 01:44] LSChyi commented on #17967
I found some implementation problems in the proxy I wrote, so the sidecar does send check request, but the problem I encounter is related to this issue #18551. Please close this issue, thank you.

[2019-11-04 03:01] lambdai commented on #18557
@howardjohn  If the destination service could digest the grpc request, envoy should buffer nothing. The parameter of how large envoy could buffer per request doesn't matter.

@prune998 According to your goal, the number of connection (2500) and the number of http2 stream (1 streaming grpc request per h2 connection) should both stay at 2500.
Could you confirm that envoy has the same view?

Below sh

[2019-11-04 03:25] Ghost---Shadow commented on #11120
unstale

[2019-11-04 03:39] Ghost---Shadow commented on #6855
unstale

[2019-11-04 03:39] Ghost---Shadow commented on #6855
\unstale

[2019-11-04 03:46] Ghost---Shadow commented on #6855
I found this
https://stackoverflow.com/questions/51409379/istio-elasticsearch/55317283#55317283

[2019-11-04 04:05] dzdx commented on #17679
the memory leak may be caused by the `DiscoveryServer.EndpointShardsByService`
https://github.com/istio/istio/blob/f3371be953598f89b5bd4ef93061ea7807c10e5e/pilot/pkg/proxy/envoy/v2/eds.go#L270-L309
the above code that update `EndpointShardsByService` will not clear the old service.
you can verify this by：
1. Push 1000 serviceentry
2. Push 1 serviceentry
3. `curl http://$pilotip:15014/debug/endpoin

[2019-11-04 04:13] Ghost---Shadow commented on #14662
Still doesnt work.

It is certainly an istio related problem as my ELK was working fine before I installed istio.

[2019-11-04 04:15] LinLshare commented on #18375
@howardjohn I have tested it with the v1.3.4 istio, but still show the problem. Is there any plan to solve the problem?

[2019-11-04 04:58] mandarjog opened #18586 "disableMixerHttpReports: does not remove http filter from inbound."
With  `meshconfig.disableMixerHttpReports: true`

mixerClient http filter is not inserted in any outbound listeners.
However, it *is* still inserted in the inbound listener.
 `disable_report_calls: true` is present, but filter should not be injected at all.

[2019-11-04 05:01] mandarjog commented on #18586
Enabling TCP only shows workload as `unknown:unknown`
<img width="1457" alt="Screen Shot 2019-11-03 at 9 00 37 PM" src="https://user-images.githubusercontent.com/800375/68100488-0fbe2f00-fe7d-11e9-948e-395abf196c56.png">

[2019-11-04 07:36] zhangxingdeppon commented on #18161
I added the parameter `--log_output_level=adapters:debug`,  but no error messages was found, anyway I find a strange phenomenon，maybe it's key, if service mesh gateway has no traffic  coming in for a period of time ,the  `istio_requests_total` metric statistic  will reset to 0 and response "Content-Length: 0", but as long as the request is coming in , this `istio_requests_total`  metric statistic

[2019-11-04 07:53] nkorange opened #18590 "Unknown flag of mcpMaxMsgSize"
**Bug description**
When I installed Istio 1.4.0-beta.1 with helm and then there was error below:
[code]

**Expected behavior**
No error.

**Steps to reproduce the bug**
Edit file ```install/kubernetes/helm/istio/charts/pilot/templates/deployment.yaml``` and insert the following content at line 78:
[code]
Then install.

**Version (include the output of `istioctl version --remote` and `kubectl vers

[2019-11-04 08:28] yacut commented on #17469
@howardjohn Unfortunately, I have noticed that not all custom values are applied.

For example:
[code]

This manifest should generate kiali config with dashboard setting, but it's not:
[code]
Is it a bug or am I doing something wrong?

[2019-11-04 08:32] dcedyga commented on #17409
Hi @JimmyCYJ,
I have been testing version 1.3.4 with letsencrypt and I'm getting a nil pointer exception. here are the logs from ingress-sds:
`kubectl -n istio-system logs istio-ingressgateway-c46947c85-rbc84 -c ingress-sds -f
2019-11-04T08:01:48.736917Z        info    ControlZ available at 127.0.0.1:9876
2019-11-04T08:01:48.748358Z     warn    secretFetcherLog        failed load server cert/key p

[2019-11-04 09:14] xeviknal commented on #18327
@pitlv2109 thanks for pointing this out. Now it makes more sense. Still, I would like to to test it out before closing the issue.

[2019-11-04 09:23] chershma commented on #17646
Seems we have overcome the issue

Instead of a PATCH call, we now use a POST call with this URL parameter: "_HttpMethod", "PATCH"
We will do some more tests, but it seems the issue is resolved.

[2019-11-04 10:05] xUnholy opened #18593 "Istio LDS becoming stale due to invalid privateKey"
Issue Reference https://github.com/istio/api/issues/1153

[2019-11-04 11:14] juanmanuel-tirado commented on #18575
Potentially related to #18465

[2019-11-04 12:09] prune998 commented on #18557
Of course the metrics you are requesting does not exist by default :)
But yes, they are stable and not updating.

I tested to run my 2500 Cnx with no memory limits during the week-end. It finally stabilized at 5.6Gb :
![image](https://user-images.githubusercontent.com/1110398/68118350-c77b2d00-fecd-11e9-9abb-6ae614042509.png)

I then added a few more cnx and the memory went up a little too.

Final

[2019-11-04 12:49] prune998 commented on #18557
re-reunning a clean test with 4000 clients  :
![image](https://user-images.githubusercontent.com/1110398/68121782-a0752900-fed6-11e9-81ef-db8c2b8e8bbe.png)

Envoy metrics are not stable, but in fact, my client, which simulate a car running along a path, close the connexion and open a new one with another path to follow.
Still, buffers are stable :
[code]

So the number of connexions is stable (aro

[2019-11-04 12:50] fsequeira1 commented on #18228
@lambdai I'm having some problems making this change, I've already changed the value in the cm/istio-sidecar-injector and apparently the value is not propagated to the istio-proxy. I've also tried to change the value directly as an argument in the helloworld-v2 deployment but it doesn't work since this value is received by the pilot-agent process and not the envoy one. I can try to install istio f

[2019-11-04 13:05] hzxuzhonghu commented on #17679
@dzdx Good catch, indeed. Maybe  the mem leak is introduced in #13631.  We should make use of the delete event for each registry other than k8s. @ramaraochavali `SvcUpdate` may be a good choice.

[2019-11-04 13:41] linsun commented on #11723
Marking as staleproof as this issue still exists.

[2019-11-04 13:42] sl31pn1r commented on #18229
We have recently upgraded from 1.2.0 to 1.3.1 and experiencing the same issue.

Did some investigation and it seems like the issue for us only appears when Istio acts as an HTTP proxy.
Sidecar is using anywhere between 1-2 CPU cores if the service definition has the name: http at the port section (as the documentation recommends it). If the sidecar acts only as a TCP proxy there is no issue.

For

[2019-11-04 14:12] howardjohn commented on #17469
@richardwxn ^

[2019-11-04 14:14] about-cloud commented on #2420
**Although HTTP field names are not case sensitive, it is rude to change upper case to lower case without the permission of the user. Have you considered other case sensitive languages? This deviated from the concept of openness and inclusiveness**

[2019-11-04 14:23] sergii-s commented on #17139
I'm experiencing the same problem after upgrading istio to `1.3.1`
Problem still persist after upgrade to `1.3.3`
My gke version `1.14.7-gke.10`

![image](https://user-images.githubusercontent.com/2659133/68127623-85c2a480-ff16-11e9-996e-6290d7c40c62.png)
![image](https://user-images.githubusercontent.com/2659133/68127655-95da8400-ff16-11e9-90a5-662bdab8152c.png)

For high-load applications cpu co

[2019-11-04 14:27] prune998 commented on #17139
Upgrade to 1.3.4, that's where the issue is solved.

[2019-11-04 14:33] sergii-s commented on #17139
@prune998
Thank you, didn't notice 1.3.4 was already available ! (it's in the bottom of the page https://istio.io/news/2019/ )

[2019-11-04 14:38] rnkhouse commented on #18242
@incfly 700s to 200s I changed it. So, that's not the issue (sorry for the confusion). But, When I set it to 200s it shouldn't check for readiness before that.

This happened in 60 sec which is incorrect I guess.

    Warning  Unhealthy  63s (x2 over 64s)  kubelet, aks-agentpool-17141372-vmss000003  Readiness probe failed: HTTP probe failed with statuscode: 503
    Warning  Unhealthy  60s

[2019-11-04 14:44] jaesquivel opened #18594 "If there is a container that doesn't expose any port, istio-proxy won't start"
If there is a container that doesn't export any port, istio-proxy won't start,

2019-11-04T14:32:36.150148Z	error	Failed to generate bootstrap config: invalid character ',' looking for beginning of value

**Expected behavior**
Ignore the container with no network connectivity

**Steps to reproduce the bug**
Create a POD with two containers, one of them with no ports, istio-proxy won't start and wi

[2019-11-04 14:45] howardjohn commented on #17139
Thanks, will make sure the news page gets fixed so it's at the top

[2019-11-04 14:51] #16851 closed

[2019-11-04 15:15] sergii-s commented on #17139
Unfortunately the same for `1.3.4`

Example for 6-pods application (normally 1 pod is enough to handle 120 rps, but the deployment is scaled to 6 pods due to istio cpu consumption, and 6 is a max of the HPA) :
![image](https://user-images.githubusercontent.com/2659133/68131465-6bd89000-ff1d-11e9-905e-ea0d63ffb196.png)

3 pods are ok and 3 pods consuming too much cpu

[2019-11-04 15:21] fcantournet commented on #18300
This commit in envoy is of interest : https://github.com/istio/envoy/commit/b2da45af1c86efc5056b8eb8f18644954be43809

With this Envoy will keep the x-forwarded-proto if `xff_trusted_num_hops > 0`.
This commit is only on the `release-1.4` branch of istio/envoy.

[2019-11-04 15:32] prune998 commented on #17139
At least the connexions are not closed anymore ?
Are you sure you updated everything (ingress, pilot, proxies) to 1.3.4 and restarted everything ?
did you removed `PILOT_DISABLE_XDS_MARSHALING_TO_ANY` ?

I'm testing with 4000 GRPC cnx and the Istio-proxy is "only" taking 0.3 CPU (on a single pod)
![image](https://user-images.githubusercontent.com/1110398/68133387-41bba980-feee-11e9-9f2e-65fddc26f5

[2019-11-04 15:48] nicktrav commented on #13322
@howardjohn - if you think this would still be useful in the Helm chart installation method, would you mind assigning to me? If it's not relevant, we can close.

[2019-11-04 15:50] nicktrav commented on #15669
@howardjohn @geeknoid - not sure if there's much specific action to take here, other than a note that we've hit a few "backwards incompatible" changes going from 1.1 -> 1.2 and 1.2 -> 1.3 that should probably have been gated by a feature flag, as you mentioned.

Thoughts on closing this one out? Unless it can be repurposed to improve the backwards incompatibility story.

[2019-11-04 15:58] geeknoid commented on #15669
I think we can close this item. We're working towards improved testing across versions and this kind of issue would be caught by that.

[2019-11-04 15:58] #15669 closed

[2019-11-04 16:21] howardjohn commented on #17139
@sergii-s I think there are two issues with the same symptoms of high CPU usage, this one (fixed) and another https://github.com/istio/istio/issues/18229. We have (at least) 2 people looking at that one as a top priority. Any info you can add there would be helpful

[2019-11-04 16:26] sergii-s commented on #17139
I didn't override `PILOT_DISABLE_XDS_MARSHALING_TO_ANY` settings.
I'm sure I've updated all components + rollout to re-inject sidecar . I've checked the version of all docker images, and they are all `1.3.4`.
I'm not using mTLS

@howardjohn thanks for update. I will check if I can add something new to #18229

[2019-11-04 16:48] howardjohn commented on #18441
https://github.com/istio/release-builder/pull/54 adds deploy under install/kubernetes/operator/deploy and samples under samples/operator

[2019-11-04 16:56] k0ffee opened #18596 "TrafficPolicy ISTIO_MUTUAL not honored when using SDS ingressgateway"
**Bug description**

Istio ingressgateway responds with Error 503 to request to working service when SDS secrets are enabled for the gateway.

**Expected behavior**

mTLS TLS handshake succeeds and ingressgateway responds with HTTP status-code "200 OK".

**Steps to reproduce the bug**

Setup Istio via helm chart with option
[code]
Setup chart-manager to supply a public TLS certificate in kubernets

[2019-11-04 16:57] kramvan1 commented on #18093
@morvencao   Hi, we have the following in the `metadata` section to begin with:
[code]
After the reconcile, the annotations and labels are lost.
[code]
This causes issues with our resource manager which uses these annotations and labels for tracking purposes.

[2019-11-04 16:58] kramvan1 commented on #18093
@ostromart @morvencao

Would be great to get an answer to the question #2 above.  Why the component names are different than the API.

[2019-11-04 16:59] k0ffee commented on #18596
Frontend istio-proxy config_dump:
[code]

[2019-11-04 17:00] bianpengyuan commented on #18161
This does not sounds right to me. `istio-telemetry` pod should retain all stats collected over its life time. Did your telemetry pod restart during the time when there was no traffic?

[2019-11-04 17:07] sdake commented on #18093
This requires a solution sooner rather than later.

[2019-11-04 17:09] aattuluri opened #18597 "Test data file names not OS agnostic (result in go get failures)"
**Bug description**
`go get istio.io/istio` fails due to unzip error. The following files have a `*` in the filename which is not OS agnostic and hence the unzip fails in go get:
`pilot/pkg/security/authz/builder/testdata/v1alpha1/simple-policy-user-with-*-in.yaml`
`pilot/pkg/security/authz/builder/testdata/v1alpha1/simple-policy-user-with-*-out.yaml`

**Expected behavior**
I would expect `go get

[2019-11-04 17:15] soloitguy opened #18598 "High CPU Utilization in Istio-Ingressgateway"
**Bug description**
Exponential CPU Utilization in Istio Proxy after 1.3.*.

When upgrading from Istio 1.2.5 to 1.3.0, I noticed a dramatic increase in CPU Utilization in the istio-ingressgateway.  I admittedly didn't look directly into it after the upgrade, just assumed there were some underlying changes that required a bit more CPU.

**Then** when deploying a new workload to the cluster, it fail

[2019-11-04 17:34] sdake commented on #18576
The source of truth, for the time being, is istio/installer repo. We plan to delete charts from other repositories including this one to centralize the installation charts.  In istio/istio, the install directory has taken a hard line on merging changes to installer first. Sadly that was not done with this repo.

Cheers
-steve

[2019-11-04 17:35] pitlv2109 commented on #18327
Sure, feel free to close this issue once you've tested it, or let me know if you have more questions.

[2019-11-04 17:39] kramvan1 commented on #18384
With operator image 582a from Nov 3, still seeing some left over secrets
[code]

[2019-11-04 17:44] #18584 closed

[2019-11-04 17:46] israel-hdez commented on #18558
Is there any chance that this issue can block Istio 1.4 release?
We are working on a fix in Kiali and want to do a release as quickly as possible. So, I'm asking just in case.

[2019-11-04 17:47] jmazzitelli commented on #18558
Kiali team is feverishly working on a fix for this -- see https://github.com/kiali/kiali/pull/1870 -- in the hopes of getting this into Istio 1.4 release. If we can do it in time, we'd need to update the Istio installer stuff so it pulls in this new Kiali release (right now it is pulling in Kiali v1.4.2).

cc @jwendell

[2019-11-04 17:49] howardjohn commented on #18558
@jmazzitelli are there major changes since Kiali 1.4.2 and kiali latest? It may be best to start doing testing of kiali latest with Istio 1.4 so that we can ensure that upgrade is fine, then pick up the CRD fix

[2019-11-04 17:50] jmazzitelli commented on #18558
@howardjohn there are some major changes since v1.4.2 yes.

[2019-11-04 17:51] jmazzitelli commented on #18558
Once we get a new 1.4.beta2, I'll be testing to ensure the installer works (we need the CNI fixes). We'll also be doing our own testing over here.

[2019-11-04 17:57] jmazzitelli commented on #18558
(BTW: folks can test the latest 1.8 release which went out friday... we'll be building this fix into a new 1.9 that we will release for this fix. We usually release on a 3-week cadence but for this fix, we can release 1.9 this week, if we can get it into istio 1.4. If not, we'll probably just hold off and keep with the regular release cadence.

[2019-11-04 17:58] lei-tang commented on #16486
When SDS is enabled, the workload certificates are not read from k8s secrets like "istio.io/key-and-cert".
The SDS code of Envoy is at: https://github.com/envoyproxy/envoy/tree/master/source/common/secret.

[2019-11-04 18:11] selmanj commented on #17560
So, maybe handling something like:

[code]

It certainly is a bad situation, but I see that use case as a bit lower priority. Still, happy to leave it open (but anyone else is free to tackle it as I'm not working on it atm).

[2019-11-04 19:08] #18576 closed

[2019-11-04 19:14] incfly commented on #18242
healthz/ready is for the sidecar, istio-proxy container, health check. It's
there regardless you enable the rewrite or not. It's just the path
collision introducing some confusion.

On Mon, Nov 4, 2019 at 6:38 AM rnkhouse <notifications@github.com> wrote:

[2019-11-04 19:19] Mister101 commented on #13705
Just ran into the same issue. Tried using fault injection with "abort" returning 500's 50% of the time - but with 5 retries, it seemed like requests were still failing about 50% of the time.

[2019-11-04 19:23] howardjohn opened #18605 "Errors using operator controller"
Running from `master` (`v0.0.0-20191031143837-04d907950632`)

I see errors in logs:
[code]

[code]

[code]

[2019-11-04 19:23] howardjohn commented on #18605
My ICP:
[code]

[2019-11-04 19:28] howardjohn commented on #18605
After a change to the ICP, I have two trafficManagement fields in the ICP, one with snake case and one with camel case:
[code]

[2019-11-04 19:29] elfinhe commented on #18488
start working...

[2019-11-04 19:31] howardjohn commented on #18605
Sidecar injector was crashlooping with `Error: failed to create injection webhook tls: private key does not match public key`. I deleted the deployment in hopes of a fix, and the operator never reconciled this and added it back

[2019-11-04 19:31] howardjohn commented on #18605
The MeshPolicy issue may be because I had a MeshPolicy around from an old install. I deleted it and a new one was not created though

[2019-11-04 19:34] howardjohn commented on #18605
Citadel errors:
[code]

[2019-11-04 19:36] howardjohn commented on #18605
Deleted ICP and got errors:
[code]

[2019-11-04 19:40] howardjohn commented on #18605
[code]

upon redeploy, because the galley webhook is not pruned it looks like?

[2019-11-04 19:41] lambdai commented on #17746
Still looking
The work around is to use x-envoy-external-address
https://www.envoyproxy.io/docs/envoy/v1.11.0/configuration/http_conn_man/headers#x-envoy-external-address

[code]

[2019-11-04 19:47] abhijitherekar opened #18607 "SDS: currently there is no way for SDS server to communicate over the abstract_UNIX_Socket as the SDS_UDS_PATH is hard-coded in the pilot-agent."
**Bug description**
If you want to change the SDS_UDS_PATH to communicate over unix Abstract sockets, currently we cannot communicate, as the SDS_UDS_PATH is hardcoded.

Haver talked to @JimmyCYJ about this on slack, hewre's the converstaion:
https://istio.slack.com/archives/C3TEGNZ7W/p1572396617081000

cc: @JimmyCYJ @myidpt

**Expected behavior**
The SDS server should be able to talk on a given p

[2019-11-04 19:50] howardjohn commented on #18605
`istioctl manifest apply` does get the injector running; not clear why. Maybe slight difference in version. Will retry once beta2 is out

[2019-11-04 19:53] howardjohn commented on #18598
Likely related to https://github.com/istio/istio/issues/18229

[2019-11-04 19:57] howardjohn commented on #18590
mcpMaxMsgSiz -> mcpMaxMsgSize

[2019-11-04 20:05] gargnupur commented on #18336
@schmidtp0740 : rather than using white/black listing mechanism, why not use https://istio.io/docs/tasks/traffic-management/egress/wildcard-egress-hosts/ for controlling egress traffic?

[2019-11-04 20:20] howardjohn commented on #18594
Can you provide a reproduction? I applied this yaml:
[code]

[2019-11-04 20:24] pib commented on #18061
This seems to be fixed in 1.3.4

[2019-11-04 20:59] howardjohn commented on #18554
Fixed in beta2

You need to install from the release archive not the github repo though

[2019-11-04 21:25] howardjohn opened #18611 "Short proxy log messages"
The prefix for each log line is absurdly long, making it really hard to read:

[code]

Compared to upstream envoy:
[code]

Is it feasible to remove all the bazel-out junk?

[2019-11-04 21:29] howardjohn opened #18612 "operator.istio.io/version: 1.4.0 shows wrong version"
This version looks to be hardcoded, and does not match the actual version that ends up being installed

[2019-11-04 21:29] lambdai commented on #18369
The top priority is 503.
I see http 503 errors as long as I restart dataplane in 1.3 series.

@carolynhu  Could you add another test case as upgrading from 1.2.4 to 1.2.8? If we see 503 in this case, it is not a pure 1.3.X issue.

[2019-11-04 21:30] lambdai commented on #18369
@carolynhu  https://prow.istio.io/?type=periodic&job=istio-upgrade-using-helm* this is great!

[2019-11-04 21:36] lambdai commented on #17746
Additional comment:
I use httpbin and I don't see X-F-F on 1.3.1 and 1.3.4
remoteHost and x-real-ip are correct only because envoy deem them as payload header.

[2019-11-04 21:40] rshriram commented on #5580
Outbound traffic policy controls the behavior of the sidecar (after traffic capture). The sidecar will forward the traffic as is, for "unknown" services. However, in the case above, there is a service entry for port 5432 or 3306 or whatever. All captured traffic lands on that envoy listener. Per the service entry, traffic for that port is configured in Envoy as 0.0.0.0:3306 (i.e. traffic for ANY i

[2019-11-04 21:41] mandarjog opened #18613 "Proxy: Metrics V2 stackdriver attempting to write metrics from the past."
[code]

[2019-11-04 21:47] incfly commented on #17614
This works for me, tried on 1.3.3 release.

https://github.com/istio/istio/blob/release-1.3/samples/health-check/liveness-http.yaml#L34

We don't have a readiness probe defined in the liveness-http.yaml. Only liveness probe. And that works for me as well.

It's using port 8002, which is not listed on the liveness service definition. so mTLS configuration(authentication policy) is not covered there

[2019-11-04 21:47] incfly commented on #17614
I'm closing but feel free to reopen.

[2019-11-04 21:47] #17614 closed

[2019-11-04 21:52] bianpengyuan commented on #18613
I guess opencensus library retains time series for stale pods and keeps sending them to the backends. @g-easy Any insight about this?

[2019-11-04 21:54] mandarjog opened #18614 "Telemetry v2: 1.4 stackdriver protobuf assert"
[code]

[2019-11-04 22:04] jplevyak commented on #18614
The backtrace is not particularly useful.  Do you have a core?

[2019-11-04 22:09] bianpengyuan commented on #18614
Mandar mentioned this happens when he turns on edge, which leads to this line:
https://github.com/istio/proxy/blob/787a566773980c28bb3cffd54af3fb6256031c5a/extensions/stackdriver/edges/edge_reporter.cc#L74

[2019-11-04 22:21] ostromart commented on #18612
We do use a hardcoded internal "charts version" to determine compatibility, regardless of which version is supplied through the build. Where are you seeing this exactly? We may need some way to display this differently.

[2019-11-04 22:25] howardjohn commented on #18612
I see this on some deployments after using istioctl.

[2019-11-04 22:27] kyessenov commented on #18614
at() crashes on missing key. I think it needs `find()` first.

[2019-11-04 22:29] kramvan1 opened #18615 "Operator bug error json: cannot unmarshal string into Go value of type map[string]json.RawMessage"
**Bug description**

Seeing the following bug in the Istio operator logs from image https://console.cloud.google.com/gcr/images/istio-testing/GLOBAL/operator@sha256:582a9f9dce2e11a085f1d4f3f53af51e4137b76fa87e49090aca532d54a35779/details?tab=info

LOGS and ICP content attached

**Expected behavior**

No errors like this in log

**Steps to reproduce the bug**

1.  deploy operator
2. apply the ICP
3

[2019-11-04 22:31] kramvan1 commented on #18615
[operator.log](https://github.com/istio/istio/files/3806358/operator.log)
[icp.txt](https://github.com/istio/istio/files/3806360/icp.txt)

[2019-11-04 22:32] sdake commented on #18615
Unclear if this is impacting behavior or not.

Marking as P0 for 1.4.

[2019-11-04 22:34] sushicw commented on #18265
I haven't been able to find any examples of this more recent than 10/20 (the one linked above). Going ahead and closing this,  but we should reopen if this starts happening again.

[2019-11-04 22:34] #18265 closed

[2019-11-04 22:54] mandarjog commented on #18614
I do not think the value is missing from node metadata.
Can you check ?
[code]

[2019-11-04 23:04] richardwxn commented on #17469
@yacut
The reason is that some of the values schema in operator is outdated, but you can always add --force flag to the manifest apply command bypass the validation and just pass through. I think that 's available for 1.4

Also you may need to make sure you put the kiali part under the values, the CR yaml you pasted most recently was not correct.

I can get below configmap using the values your pr

[2019-11-04 23:07] geeknoid commented on #18493
Is your repo up to date? Cause the current sources do contain a `gen` target:

https://github.com/istio/bots/blob/77bd89cf6268fad2e2e451291b722a5060768f79/Makefile.core.mk#L23

[2019-11-04 23:14] ostromart opened #18618 "operator controller install fails due to CRD sequencing"
The CRD should be either installed separately or instructions be given to use -k. Note that the command below succeeded when it was re-run.

$ kubectl apply -f https://preliminary.istio.io/operator.yaml
namespace/istio-operator created
customresourcedefinition.apiextensions.k8s.io/istiocontrolplanes.install.istio.io created
serviceaccount/istio-operator created
clusterrole.rbac.authorization.k8s.i

[2019-11-04 23:21] therealmitchconnors commented on #18493
ok, it looks like I can get 'make gen' in the root by rebasing.  running it from /policybot still results in a failure, but that's less of a problem.

[2019-11-04 23:33] #17759 closed

[2019-11-04 23:33] #17271 closed

[2019-11-05 00:22] sushicw commented on #17442
Revisiting this:

First issue is solved.

Second issue is still occurring. @esnible Is `istio-system/istio-egressgateway` a special value that is recognized even if no such Gateway CR actually exists in the cluster? If so, I can't find docs indicating that. The repro file defines an `istio-egressgateway` Gateway, but doesn't put it in istio-system specifically. I'm wondering how this is supposed t

[2019-11-05 00:34] #18456 closed

[2019-11-05 00:35] howardjohn commented on #17660
1.3 backport https://github.com/istio/istio/pull/18526 will be in 1.3.5

[2019-11-05 01:15] #18580 closed

[2019-11-05 01:19] howardjohn opened #18621 "istioctl analyze doesn't understand operator annotations"
[code]

Probably needs to be added to a list somewhere, I think there is one is istio.io/api?

[2019-11-05 01:19] howardjohn commented on #18615
I got the same issue

[2019-11-05 01:45] bianpengyuan commented on #18614
That code path could also be triggered with `peer_node_info`, which might not exist, like readiness check. Edge happens to be the only part that pays attention to peer node metadata. We should just make the code tolerate missing field in node metadata.

[2019-11-05 02:14] nkorange commented on #18590
I can't believe I misspelled it!! 😭

[2019-11-05 02:14] #18590 closed

[2019-11-05 02:16] luxianlong commented on #18326
Is there any suggestion about this issuer?

[2019-11-05 02:49] Simbafa opened #18624 "istio doesn't support service selecting pods by endpoint"
istio 1.3.4

change a service from selecting pod by label to by endpoind,
“no healthy upstream” returned when accessing the web page.

[2019-11-05 03:17] ramaraochavali opened #18625 "synthetic service entries need full push for eds/config updates"
**Bug description**
Synthentic service entries need a full push for eds/config update. Currently it is dependent on the behaviour that the eds code removing service from EndpointShardsByService when endpoints become zero which triggers a full push on the next endpoint update. That is changing in https://github.com/istio/istio/pull/18574. With that PR e-e piliot synthetic service entry test fails t

[2019-11-05 03:27] linsun commented on #18618
@sdake should we use kustomize instead so that CRDs can be installed first?

[2019-11-05 03:58] sdake commented on #18615
seems sloppy at best.  Wondering what the impact is.

[2019-11-05 04:16] mancini0 commented on #6655
Just want to mention it seems that envoy config allows one to  apply the same cors policy to multiple routes:

`virtual_hosts:
                    - name: local_service
                      domains: ["*"]
                      routes:
                        - match: { prefix: "/secwager.MarketDataService" }
                          route:
                            cluster: marketdata

[2019-11-05 04:21] howardjohn commented on #18624
Can you provide the config to reproduce this? services without selectors are support

[2019-11-05 06:06] Simbafa commented on #18624
1. delete the service which selecting pod by label
2. create the service without selector
3. get the pod ip
4. create same name endpoint with the pod ip

[2019-11-05 06:07] #18614 closed

[2019-11-05 06:34] jh-sz commented on #5580
Apologies, i found the root cause of my problem, and haven't got a chance to update my comment. Still new to istio.

My problem is because I defined an externalName for the db address:
[code]
And since ExternalName does not have a `ClusterIP`, it becomes `0.0.0.0`. I have removed the port from `ExternalName` service for now. Which seem work for my case, and I don't need to add a `ServiceEntry` for

[2019-11-05 06:44] yacut commented on #17469
@richardwxn Thank you for your answer. Then I'll wait until version 1.4 and test it again.

[2019-11-05 06:51] hendrikmaus commented on #18229
We are also facing the issue after an upgrade from 1.2.4 to 1.3.3; as a temporary fix, we used the `sidecar.istio.io/proxyImage` annotation to downgrade the istio-proxy image to 1.2.4. This has been working out for the past 24 hours without other issues.

Furthermore, and I double checked it, the ingress gateways are **not** affected on our clusters.

[2019-11-05 06:58] yacut commented on #17848
@howardjohn I think it's a problem after all. If I want to install istio using the operator in the mtls mode then I also expect that the relevant policies will be applied as well (mesh policy, grafana policy). At the very least, I expect a comment in [the documentation](https://istio.io/docs/setup/install/operator/) that the policies need to be applied manually. Otherwise, in my opinion, this meth

[2019-11-05 08:02] zhangxingdeppon commented on #18161
yes, I also agree, but that event is very strange,and verified the telemetry pod didn't restart during the time , so  I added `--log_output_level=default:debug,adapters:debug,api:debug,attributes:debug,grpcAdapter:debug`, but no any userful message found, you can verify the result,
[istio-telemetry-20191105.log](https://github.com/istio/istio/files/3807799/istio-telemetry-20191105.log)

![image](h

[2019-11-05 08:18] AL-Cui commented on #13321
I can't find the istio/base docker image  based arm64. Where can I find it? or,Where can I find the dockerfile

[2019-11-05 08:41] fpesce commented on #18229
Everyone, would you mind experimenting with a different proxy image that would include gdb and Envoy's symbols so we could try to see if some kind of infinite loop is identifiable in a backtrace?

If you're manually injecting Istio, you could replace in the injected sidecar (as a reminder, this could be generated by `istioctl kube-inject -f yourconf.yaml`, c.f.  [bookinfo](https://istio.io/docs/ex

[2019-11-05 09:11] haf-afa commented on #18225
Here's a stand-alone repro that fails for 1.2.8 and 1.3.4: https://github.com/haf-afa/istio-bugs

Repro: ` make istio_1_3_4` or `make istio_1_2_8`

[2019-11-05 09:11] haf-afa commented on #18221
Here's a stand-alone repro that fails for 1.2.8 and 1.3.4: https://github.com/haf-afa/istio-bugs

Repro: make istio_1_3_4 or make istio_1_2_8

[2019-11-05 09:17] haf-afa commented on #18467
Did that work for you?

[2019-11-05 09:39] vikaschoudhary16 commented on #18385
I could not reproduce it in my local environment despite running the galley tests ~20-25 times.

In the failure case, default timeout of 1 sec happens before the `update` or `delete` could be picked up watcher. While trying to reproduce locally, i even tired with timeout as low as 500 ms but it worked all the time.

on the ci, last time it flaked on 31st october, https://prow.istio.io/view/gcs/ist

[2019-11-05 10:09] feisuzhu opened #18631 "Feature Request - quota handlers read `maxAmount` from instance value"
**Describe the feature request**
`maxAmount` in quota handlers can only be assigned statically, and we want to lift this limitation.
We plan to put rate limiting info in JWT claims,  and found no way to use that info.

**Describe alternatives you've considered**
Custom out-of-process adapter, not acceptable since it will impact performance.

**Additional context**

[2019-11-05 10:11] feisuzhu commented on #18631
I have time budget for implementing this so if this seems acceptable pls let me know

[2019-11-05 10:27] nak3 opened #18632 "Multiple ports in service causes Envoy's high CPU load when deploying"
**Bug description**

- When creating services that have multiple ports in `spec.port`, __all__ envoy process in the cluster causes high load at the same time.
- The CPU load increase approximately linearly by the number of ports in the svc.
- Knative Serving deploys `100 svc * (4 ports svc + 2 ports svc + 1 ports svc)` on e2e test. It  produces `Envoy proxy is NOT ready` error after more than 20 s

[2019-11-05 10:33] nak3 commented on #18046
Thank you @ramaraochavali @howardjohn @JRBANCEL @lambdai

As @lambdai mentioned, I also suspected the CPU load and found an issue related Knative's specific structure so opened separated ticket https://github.com/istio/istio/issues/18632 (`Envoy proxy is NOT ready` was also reproduced.)

@mandarjog sorry for hijacking your report.

[2019-11-05 10:39] sl31pn1r commented on #18229
I did the test on one of our services in an environment of ours with the Image: docker.io/francoispesce/proxyv2:1.3.1-gdb:
[code]

[2019-11-05 10:58] elvizlai commented on #10875
Is there any guide to config `HttpConnectionManager` or how to set `preserve_external_request_id` when using istio 1.2.x?

[2019-11-05 11:01] elvizlai commented on #10875
Is there any guide to config `HttpConnectionManager` or how to set `preserve_external_request_id` when using istio 1.2.x?

[2019-11-05 11:06] eric4321 commented on #17918
Hi,

The problem seems to be that ```istio-proxy``` cannot reach the nifi container in the same pod via localhost.

This is can be fixed by modifying the ```nifi.web.http.host``` property in ```nifi.properties``` to ```nifi.web.http.host=localhost```.

NOTE: This only works in non-secure mode (not https).

[2019-11-05 11:09] DragonSuper commented on #13321
my arm64 istio is ok! your email or qq?------------------ 原始邮件 ------------------
发件人: "崔铎"<notifications@github.com>
发送时间: 2019年11月5日(星期二) 下午4:19
收件人: "istio/istio"<istio@noreply.github.com>;
抄送: "Super"<xiaozheng8187@qq.com>;"Mention"<mention@noreply.github.com>;
主题: Re: [istio/istio] Whether ARM64 platform is available Now？ (#13321)

I can't find the istio/base docker image  based arm64. Where

[2019-11-05 12:01] jwendell opened #18633 "Proxy postsubmit failing"
https://prow.istio.io/view/gcs/istio-prow/logs/proxy-postsubmit/819

[code]

[2019-11-05 12:02] jwendell commented on #18633
The example job above is for 1.4 branch.

cc @clarketm @howardjohn @PiotrSikora

[2019-11-05 12:09] ahmedwaleedmalik opened #18634 "Unable to access external services/URLs"
**Bug description**
Can't access any external website over HTTPs from my service container. I am getting this error
`curl: (35) error:140770FC:SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol`

**Steps to reproduce the bug**
I have created a service that uses port 8080. I created a gateway and virtual service like:

[code]

[code]
Now i want to allow the service `test` to be able to access any

[2019-11-05 12:31] AL-Cui commented on #13321
qq1966590104,thanks

[2019-11-05 12:58] PiotrSikora commented on #18633
Hmm, I thought that I fixed this in https://github.com/istio/test-infra/pull/2041, but I must have forgotten to login using service account, so my verification didn't require `docker-credential-gcloud`.

In any case, it seems that we need to install gcloud SDK in the RBE images: https://github.com/envoyproxy/envoy-build-tools/issues/16

In the meantime, let's disable RBE in the postsubmit job: htt

[2019-11-05 13:17] jwendell opened #18636 "istioctl version reports dirty state"
[code]

cc @howardjohn @ericvn

[2019-11-05 13:18] dbnegative opened #18637 "Installer - Template labelling issues causing deployment failures"
**Bug description**
Various installer templates (for example gateways/ingress-gateway chart) have a hardcoded exclusion statements that overwrite labels when "istio-system"  is used as a  namespace. This causes the release label to be to set to "istio" rather than the provided release name.

This affects resources such as the horizontal pod autoscaler that require the release label to be to match

[2019-11-05 13:25] LinLshare opened #18638 "Envoy too many open files ( tcp sock connections)"
**Bug description**
Envoy too many open files ( tcp sock connections), more than 44k, when use istio-ingress-gateway & my service written by Go.

**Expected behavior**
fd less than 7k

**Steps to reproduce the bug**
1. install istio-1.3.4 with default values;
2. deploy a web service written by Go;
3. increase the requests to the web service;
4. see `node_filefd_allocated` metric on prometheus;
5.

[2019-11-05 13:49] faust64 opened #18639 "IPv6 loopback broken"
**Bug description**

As I've been trying out Istio on OpenShift 4, I've noticed the following behavior.

Using OpenShift 4.2.2
istio-operator 1.0.1, kiali-operator 1.0.6, jaegger-operator 1.13.1
Working with a dummy OpenLDAP image (github.com/Worteks/docker-ldap).

While booting, my LDAP container would start a slapd service and inject ldifs initializing its database.
Trying to deploy that contain

[2019-11-05 14:01] StefanCenusa commented on #18229
I did the test on my production env where this issue happens, using `docker.io/francoispesce/proxyv2:1.3.3-gdb`

on a pod with high-cpu usage envoy:

[code]

for comparison, on a a pod with **no** high-cpu usage envoy I've got this:

[code]

Strangely, after quitting the gdb process, envoy process was killed (did not show up on `ps auxw` anymore).

Moreover, on previous debugging, in our case, we

[2019-11-05 14:05] jwendell opened #18640 "CNI daemonset should be able to deploy in kube-system ns"
**Original description of https://github.com/istio/istio/issues/18576 :**

Previously (or currently) CNI components can be - and are - encouraged to be installed on `kube-system` namespace:

[code]
This way users can setup additional priorities for pod scheduling like `system-node-critical`.

With the `istioctl manifest` method, those components are installed in `istio-system` namespace.

Is there

[2019-11-05 14:19] pbohman commented on #18089
The envoy drain logic probabilistic. During the first second of a 45 second drain period there is a 1/45 chance of closing the connection, 2/45 for the second, 3/45 for the third and so on. This could explain immediate connection termination without draining.

https://github.com/envoyproxy/envoy/blob/master/source/server/drain_manager_impl.cc#L35

[2019-11-05 14:46] howardjohn commented on #18634
likely duplicate of https://github.com/istio/istio/issues/16458

Please do not install 1.1.0, it is no longer support and there are a number of clustsr-wide-outage inducing bugs that have been fixed since then

Please see the relevant issue and upgrade, and if you still have issues open a bug. Thanks

[2019-11-05 14:46] #18634 closed

[2019-11-05 14:47] dgn commented on #18639
OpenShift Service Mesh uses a fork of istio/cni, so it possibly does not affect Istio itself. I'm currently investigating. There's a downstream issue about it: https://issues.jboss.org/browse/MAISTRA-987

[2019-11-05 15:00] osswangxining opened #18641 "citadel cannot work fine within multicluster deployment mode"
**Bug description**
2019-11-05T14:57:02.583564Z	info	grpc: addrConn.createTransport failed to connect to {istio-citadel.istio-system.svc.cluster.local:8060 0  <nil>}. Err :connection error: desc = "transport: Error while dialing dial tcp 172.23.4.219:8060: i/o timeout". Reconnecting...
2019-11-05T14:57:02.583623Z	info	pickfirstBalancer: HandleSubConnStateChange: 0xc00044e600, TRANSIENT_FAILURE
201

[2019-11-05 15:14] #18216 closed

[2019-11-05 15:15] Stono commented on #18089
Hhmmmm for want of a better word, that sucks!

Why would it not just give everything 45s to drain then close, instead we have a non deterministic lottery chance of closure

[2019-11-05 15:15] jwendell commented on #18640
This is possible using `--set cni.components.cni.namespace=kube-system`. Will update docs. Closing.

[2019-11-05 15:15] #18640 closed

[2019-11-05 15:53] s1k3ira commented on #17163
I have this same issue, any news about. ?

[2019-11-05 15:58] stuart-warren commented on #17728
looks like you are not handling `cache.DeletedFinalStateUnknown` in a couple of locations:

https://engineering.bitnami.com/articles/a-deep-dive-into-kubernetes-controllers.html#resource-event-handler

https://github.com/istio/istio/blob/master/security/pkg/k8s/controller/workloadsecret.go#L306

https://github.com/istio/istio/blob/master/security/pkg/registry/kube/serviceaccount.go#L95

[2019-11-05 16:04] esnible opened #18643 "istioctl verify-install usage message refers to istio-demo.yaml"
cc @ericvn

https://preliminary.istio.io/docs/reference/commands/istioctl/#istioctl-verify-install%20Examples
mentions the demo profile.

[code]

This documentation is auto-generated from _istioctl/pkg/install/verify.go_.  It should be sufficient to remove two lines.

[2019-11-05 16:25] pbohman commented on #18089
I think closing all of the connections at once could cause a large number of clients to re-initiate connections at exactly the same time. It would be great if there was a guaranteed drain period followed by a separate period for probabilistic connection closing.

[2019-11-05 16:26] jwendell opened #18644 "Even with CNI enabled the istio-init container is being injected"
Installed with
[code]

Installation went fine.

Deployed bookinfo and noticed the init container was being auto injected.

Looked at config map:
`$ kubectl -n istio-system get cm istio-sidecar-injector -o yaml | grep istio_cni`

I see within `values` field: `"istio_cni":{"enabled":false}`

That seems to be what is causing the init container to be injected: https://github.com/istio/installer/blob/m

[2019-11-05 16:28] faust64 commented on #18639
Interesting. I'll keep an eye on that one, thanks!

And indeed, I've only checked Service Mesh. Upstream might just be fine.
Though considering we have an issue related to CNI tests being broken with v6 (istio#17382) , ... could be worth checking.

[2019-11-05 16:34] ericvn opened #18646 "istioctl profile list still shows demo-auth profile"
**Bug description**

istioctl profile list still shows demo-auth profile

**Expected behavior**

istioctl shouldn't show the demo-auth profile which was removed from the docs

**Steps to reproduce the bug**

`istioctl profile list`

**Version (include the output of `istioctl version --remote` and `kubectl version`)**

1.4.0-beta.2

**How was Istio installed?**

Doesn't need to be installed

**Envi

[2019-11-05 16:41] ostromart commented on #18644
There are a couple of problems afaics: per prior comments, it should not be necessary to set both feature and component flags, only feature. Also, setting this should reflect in values.cni.enabled, which it doesn't seem to be the case.

[2019-11-05 16:42] ericvn commented on #18646
Note that it's not listed on https://preliminary.istio.io/docs/setup/additional-setup/config-profiles/

[2019-11-05 16:48] Stono commented on #18089
Yes fair enough that would also work, having no guaranteed drain period at all is pretty poor and will cause lots of istio users headaches.

Cc. @rshriram @howardjohn

[2019-11-05 16:55] ericvn opened #18647 "istioctl help verify-install mentions no longer used itio-demo.yaml"
**Bug description**

istioctl help verify-install shows
[code]

While the file does still exist, the use of the file to install Istio has been removed from the docs so I'm not sure if this still needs to be documented. I'm not sure how upgrading works if they installed using the file in 1.3.

**Expected behavior**

Possibly not show a file which is no longer documented as an install option?

**Ste

[2019-11-05 16:56] #18647 closed

[2019-11-05 17:20] ostromart commented on #17743
I think this is important for release. @elfinhe, would you mind taking another look? It's just a matter of sorting all the outputs correctly into stdout and stderr, ping me if you need help.

[2019-11-05 17:24] howardjohn commented on #18636
ack, the issue is we modify the templates to replace the version before we build. Note that this has been an issue in every single Istio version, so not a regression, so I don't think P0 is warrented

[2019-11-05 17:25] howardjohn commented on #18636
Do we actually care to report `-dirty`? Seems like we can just always make it `clean`...

[2019-11-05 17:27] howardjohn opened #18648 "Grafana/prometheus really hard to configure with operator"
Here is my config to get grafana and prometheus working:

[code]

These should be first class components

[2019-11-05 17:30] Nino-K commented on #17814
Closing this in favor of https://github.com/istio/istio/issues/18625

[2019-11-05 17:30] #17814 closed

[2019-11-05 17:34] Nino-K commented on #16976
Going to close this as [this](https://github.com/istio/api/pull/1083) PR has set up the groundwork for any future expansions.

[2019-11-05 17:34] #16976 closed

[2019-11-05 17:38] elfinhe commented on #17743
Sure, I will work on this later today.

[2019-11-05 17:39] #18633 closed

[2019-11-05 18:15] zerobfd commented on #18306
I think there's enough acceptance of the doc to go ahead and get started so I'm gonna claim this issue and go ahead.

[2019-11-05 18:31] jmazzitelli opened #18650 "kiali cannot show logs due to missing permission"
**Bug description**

Go to view logs in the Kiali console and you will get an error about missing permission.

![image](https://user-images.githubusercontent.com/2029470/68234901-3ccf2680-ffd0-11e9-9d2b-7f9a005688ab.png)

**Expected behavior**

You should be able to view logs in Kiali.

**Steps to reproduce the bug**

Go to the Logs tab for any workloads page and you'll see the error.

**How was I

[2019-11-05 18:46] rshriram commented on #18089
fair enough.. cc @istio/wg-networking-maintainers-data-plane ^^^ .

[2019-11-05 18:50] JimmyCYJ opened #18651 "Ingress SDS integration tests are flaky"
**Bug description**
The ingress SDS Secret rotation tests are flaky

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version`)**

**How was Istio installed?**

**Environment where bug was observed (cloud vendor, OS, etc)**

[2019-11-05 18:52] JimmyCYJ commented on #16998
@howardjohn I have created https://github.com/istio/istio/issues/18651 to trace the flakiness of ingress SDS tests. Given that other tests are not flaky now, I am going to close this issue. Please feel free to reopen.

[2019-11-05 18:52] #16998 closed

[2019-11-05 19:09] incfly opened #18654 "istioctl manifest has many unnecessary destination rule just for the tls.DISABLE"
**Bug description**

[code]

Many of them are just for setting the TLS, which I don't think is needed.

[code]

I didn't see that in previous demo profile and helm install, I haven't verified in 1.4.

[ X] Installation

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version`)**

**How was Istio installed?**
istioctl

[2019-11-05 19:10] incfly commented on #18654
istio-1.4-alpha.4c58b3d2f32c715f2188f227774256e2f81d865b build.

[2019-11-05 19:20] incfly commented on #18654
I confirmed the old helm yaml does not have this issue

[code]

[2019-11-05 19:20] thangbn commented on #9783
still happening with 1.2.5 release

[2019-11-05 19:26] howardjohn commented on #18654
@incfly noticed this as well, I am going to send a change to delete them

[2019-11-05 19:26] ericvn opened #18656 "istioctl manifest apply missing fields: istioRemote, createRemoteSvcEndpoints"
**Bug description**

Trying to do the shared control plane (multi-network example) with 1.40-beta2.

Trying to install Istio on the second context yields (when doing a `--force`):
[code]

**Expected behavior**

No `--force` required

**Steps to reproduce the bug**

Follow steps here:  https://preliminary.istio.io/docs/setup/install/multicluster/shared-gateways/
specifically, Deploy Istio to cluste

[2019-11-05 19:28] kramvan1 commented on #18554
@howardjohn   I'm still seeing this the `1.4-dev` tag in the operator.yaml
https://github.com/istio/operator/blob/1.4.0-beta.2/deploy/operator.yaml#L20
same in the release archive.

[2019-11-05 19:30] ericvn opened #18657 "istioctl manifest apply yields a fatal error"
**Bug description**

Received a fatal error:
[code]

**Expected behavior**

No Fatal Error

**Steps to reproduce the bug**

Run example from as specified on https://preliminary.istio.io/docs/setup/install/multicluster/shared-gateways/

Setup on cluster 2 has the following command. Not the `--force` was needed because of missing fields in another PR.

Running:
[code]

**Version (include the output

[2019-11-05 19:32] howardjohn commented on #18554
[code]

[2019-11-05 19:32] howardjohn commented on #18554
That is from the release binary. We do not support install from github source

[2019-11-05 19:33] howardjohn commented on #18554
Ahh it does look like its not fixed in the `install/kubernetes/operator/profiles` though...

[2019-11-05 19:37] incfly commented on #18467
This works for me. The initial request seems fail for a couple of seconds, but then it starts to succeed. The pod becomes ready.

initial failure
[code]

eventually ok
[code]

logs from the container

[code]

[2019-11-05 19:45] ericvn opened #18658 "istioctl manifest apply --set profile=demo does not create jaeger-agent service"
**Bug description**

The docs and the helm install of the demo profile mention that there should be a jaeger-agent service (with no clusterIP) after installing the demo profile.

I see the service when using helm, but not when using istioctl.

**Expected behavior**

jaeger-agent service created

**Steps to reproduce the bug**

See https://preliminary.istio.io/docs/setup/install/kubernetes/

Do `is

[2019-11-05 19:45] #18519 closed

[2019-11-05 19:49] douglas-reid commented on #18613
This seems like a potential error with the flushing logic. Like, for some reason, a req was left unsent, and then sending more traffic to it all of a sudden (but after 24h) caused a flush of old data.

I'm not sure what would cause that, however.

I saw something similar on a cluster I left up over the weekend, but didn't stop to investigate, unfortunately.

[2019-11-05 19:54] sushicw commented on #18475
UX WG brainstorm notes:
[code]

We agreed that a good first step is to actually try hoisting useful common logic into istio/pkg the next time it comes up, and see how easy or painful the process is.

We also noted that there's a pretty hard tradeoff between sharing code and being able to support older versions of Istio. If we drop (or at least severely weaken) our promise of backward compatibility

[2019-11-05 19:55] douglas-reid commented on #18586
is the problem that the filter is present, or that the report calls are still happening?  the code merely sets a value in the service config for the filter, it does not remove the filter altogether.

Removing the filter altogether seems problematic as `Check` and `Report(TCP)` may still be desired.

[2019-11-05 19:56] bianpengyuan commented on #18613
A quick bandaid is to filter out day old time series at sd exporter: https://github.com/census-instrumentation/opencensus-cpp/blob/master/opencensus/exporters/stats/stackdriver/internal/stackdriver_exporter.cc#L105

But this might hide some underlying bug if the behavior is unexpected.

[2019-11-05 20:00] ericvn commented on #18658
I do see the service in:

https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/tracing/templates/service-jaeger.yaml

I do not see the service in:

https://github.com/istio/installer/blob/master/istio-telemetry/tracing/templates/service-jaeger.yaml

[2019-11-05 20:09] elfinhe opened #18661 "Missing steps of shared control plane multi-cluster Installation"
Now the shared control plane multi-cluster Installation guide only has steps to install istio in the local cluster and the remote cluster.
https://preliminary.istio.io/docs/setup/install/multicluster/shared-vpn/

Some missing parts comparing with [the old guide](https://istio.io/docs/setup/install/multicluster/shared-vpn/)

1. Variable setups (e.g., PILOT_POD_IP,).
1. "Generate configuration files

[2019-11-05 20:19] prune998 commented on #18557
@lizan pointed to the issue https://github.com/envoyproxy/envoy/issues/6617 on Envoy's list. This seems really similar, but it should not happen anymore as it was patched... Maybe the patch does not involve buffering of HTTP/2 streams ?

I would appreciate If anyone with C++ skills could have a look ?

[2019-11-05 20:21] geeknoid opened #18662 "Remove the ability to disable Galley"
We need to remove the ability to remove Galley from Istio deployments. Galley implements the validation webhook and without this hook in place, it's possible to insert bogus configuration into the API server, which can lead to Istio to have unexpected and/or undefined behavior.

[2019-11-05 20:26] rshriram commented on #10832
This should be fixed in 1.3 as we automatically fallback after the protocol detection timeout expires, when mTLS is enabled. The timeout is around 50ms I think.

[2019-11-05 20:37] silverlyra opened #18663 "Links to Envoy docs should be versioned"
**Bug description**

The [HTTPRetry docs](https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#HTTPRetry) link to the relevant Envoy docs to define valid values for `retryOn`. But the link points to Envoy `latest` docs; there is no way to know if the options described there are valid for the version of Envoy included in your Istio version.

**Expected behavior**

All links t

[2019-11-05 20:37] lambdai commented on #18089
I can add a option to minimum drain timeout.
I am curious since the behavior was there at least 1 year. Why is it suddenly escalated?

[2019-11-05 20:45] ayj commented on #18565
Galley and sidecar injector should run fine with multiple replicas. HPA is less critical given the amount of load these typically get.

[2019-11-05 20:51] Stono commented on #18089
Because there used to be many issues causing 503s, now we are down to just a handful - this being one of them 😊

[2019-11-05 20:55] lambdai commented on #18369
503 occurs only on internal fortio client where no sidecar is provided. The fortio server could be shutdown before its sidecar envoy and sidecar has to respond fortio envoy with 503.  To eliminate it either
1. fortio server catch SIGTERM and live longer than its sidecar envoy
2. attach sidecar envoy to fortio client so that let client sidecar to retry.

[2019-11-05 20:55] davidebbo commented on #18521
The error is a little better in beta2, but it still doesn't make much sense:

    Error: the target version 1.4.0-beta.2 is not supported by istioctl 1.4.0, please download istioctl 1.4.0-beta.2 and run upgrade again

It's asking me to download beta2 when it's what I'm already running...

[2019-11-05 20:56] lambdai commented on #18369
2 is the reason why external traffic doesn't see 503: istio-gateway acts as the sidecar of external fortio client

[2019-11-05 20:56] lambdai commented on #18369
Close for now. Please reopen if you see different kinds of failure

[2019-11-05 20:56] #18369 closed

[2019-11-05 20:56] elfinhe opened #18664 "Concurrent access fatal error"
···
Applying manifest for component Citadel
fatal error: concurrent map writes
goroutine 169 [running]:
runtime.throw(0x3240c8c, 0x15)
    runtime/panic.go:774 +0x72 fp=0xc000b87e58 sp=0xc000b87e28 pc=0x102de32
runtime.mapassign_faststr(0x2e58b40, 0xc000975d40, 0x3223a6b, 0x7, 0x400000001)
    runtime/map_faststr.go:211 +0x417 fp=0xc000b87ec0 sp=0xc000b87e58 pc=0x1012cf7
istio.io/operator/pkg/mani

[2019-11-05 21:02] lambdai commented on #18575
[code]
It's the client/cloud providerLB's responsibility to resend https request to istio-gateway when istio-ingresgateway respond 301 with https request.

Istio-gateway respect X-Forwareded-Protos: "https". if clould LB terminate TLS and put "https" in X-F-P. Please confirm the 2 requests hitting istio-ingressgateway:
1. first it's a http request
2. 2nd request is either https, or http request wi

[2019-11-05 21:10] ericvn commented on #18664
Looks like #18657

[2019-11-05 21:11] elfinhe commented on #18521
this error will go away when the official release is out.
agree that we need find a better way to handle the version across different repos.

[2019-11-05 21:11] inteon commented on #18553
**I found the root cause of the error:**

Our client-go library is pinned to version f68efa97b39e67ee47d4b4683d0037d721f077be (https://github.com/kubernetes/client-go/tree/f68efa97b39e67ee47d4b4683d0037d721f077be).

In client-go version 44530d33a7601800a3eec3ad159a38ac9bfafecc (https://github.com/kubernetes/client-go/commit/44530d33a7601800a3eec3ad159a38ac9bfafecc#diff-b592c01441adb8472d19cb283d36

[2019-11-05 21:14] #18553 closed

[2019-11-05 21:16] ericvn commented on #18658
https://github.com/istio/installer/pull/132/files was used to move the templates.

[2019-11-05 21:21] #18313 closed

[2019-11-05 21:24] #18664 closed

[2019-11-05 21:26] howardjohn opened #18665 "Regression in proxy readiness probe, leading to pods failing to start up"
This is a regression caused by https://github.com/istio/istio/pull/18164

Running into many cases where pods fail to start up, when they previously pass:

https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_installer/488/noauth_installer/137/artifacts/kind/istio-testing-control-plane/pods/istio-micro_istio-ingressgateway-86d769f88-rqr6g_afe97ec4-6ad6-4c11-a4a4-b494bee24ac7/istio-proxy/0.l

[2019-11-05 21:26] kyessenov commented on #18089
Just to add to the topic: 45s is excessively large. Envoy holds on all listeners resources for that duration, which in turn can slow it down. I've seen requests taking 5s with >1000 draining listeners.

[2019-11-05 21:36] Stono commented on #18089
Excessively large for your use case maybe, but we’re moving hundreds of legacy applications to istio and many of them are old, slow apps that have timeouts for certain batch requests up to 30s, less than ideal but unfortunately the real world for us, and having an increasing probability of premature termination of the in-flight request during a drain is certainly undesirable.

As our apps don’t ha

[2019-11-05 21:38] kyessenov commented on #18089
Agree it should be configurable. It just needs to be linked to the rate of xDS change for a particular proxy. As long as we give controls for both, we can provide guidance how to tune them.

[2019-11-05 21:45] #18650 closed

[2019-11-05 22:10] carolynhu commented on #18369
@lambdai We set the maximum % of 503 to be 15, which is safe now. Since most of our upgrade tests have a failure rate under 1%.

[2019-11-05 22:19] carolynhu commented on #18369
@lambdai also, 1.2 job have same error, which identifies that this is not only occurred in 1.3. I'm going to remove 1.2 job.

[2019-11-05 22:26] jwendell commented on #18636
Tried 1.3 and 1.2, they report a clean build status.

[2019-11-05 22:27] kramvan1 opened #18668 "Operator istio control plane tag not being updated"
**Bug description**

For `1.4.0-beta.2` the operators default control plane tag is still `1.4-dev`.
https://github.com/istio/operator/blob/1.4.0-beta.2/data/profiles/default.yaml#L5

**Expected behavior**

All profiles in https://github.com/istio/operator/tree/1.4.0-beta.2/data/profiles should be updated with the release tag.

Operator release would use the new Istio release image tag `1.4.0-beta.

[2019-11-05 22:31] pitlv2109 opened #18670 "Check security-task installation options regarding the new installation method"
In Istio 1.4, we recommend users to install Istio via operator. Some of the tasks need to update their installation instructions. For example, the [authz http task](https://preliminary.istio.io/docs/tasks/security/authz-http/#before-you-begin) doesn't mention installing Istio with mtls, the [sds task](https://preliminary.istio.io/docs/tasks/security/auth-sds/) won't work because sds cannot be inst

[2019-11-05 22:31] ayj opened #18671 "Gateway locality not observed with multi-cluster / multi-network mesh"
I'm trying to setup a mesh with three clusters on two networks. The simpler two-cluster/two-network and two-cluster/same-network mostly work. When combining the two configurations into a single mesh I've observed that the gateways are sometimes routing to other gateways when local endpoints are available.

For example, Cluster A's ingress gateway routes to Cluster B's ingress even though they're o

[2019-11-05 22:33] howardjohn commented on #18636
[code]

[code]

I guess its just istioctl is clean but the docker images are dirty

[2019-11-05 22:39] jwendell commented on #18636
ah ok, just tried istioctl. Which is weird, because all binaries share the same script and values... :/

[2019-11-05 22:44] sdake commented on #18668
@ostromart I am not really sure what to do about this bug.  I think it would make alot more sense to not hardcode this value, and instead retrieve it as part of the build and release process.  Any ideas?

[2019-11-05 22:45] sdake commented on #18668
@howardjohn this probably in some way involves the release builder code as well.  Any thoughts on how we can remove lines 4+5 from the profiles and have things just work would be valuable.

Cheers
-steve

[2019-11-05 22:49] howardjohn commented on #18668
not sure what happened to the other issue with the same info we just need to remove hub and tag from the profiles yaml so they use the defaults. Pure operator change

[2019-11-05 22:50] howardjohn commented on #18636
we build istioctl at a different point in the release, so probably modify
something between those two are built

On Tue, Nov 5, 2019, 2:40 PM Jonh Wendell <notifications@github.com> wrote:

[2019-11-05 22:50] #18657 closed

[2019-11-05 23:06] ayj commented on #18671
Omitting the cluster A/B's gateway entries in cluster A/B's meshnetwork also didn't work. Pilot stopped pushing endpoints (via eds) from the vpc0 network to proxies. Inbound traffic falls over to the passthrough envoy cluster which fails when mTLS is enabled.

[2019-11-05 23:20] #18644 closed

[2019-11-05 23:36] howardjohn commented on #18665
I thought this was mostly happening in the installer repo because it has a smaller cluster resource size, but its happening in istio/istio as well. For example: https://storage.googleapis.com/istio-prow/logs/e2e-simpleTests-distroless_istio_postsubmit/610/artifacts/simple-auth-test-5be7916f218b4dd29c03/istio-ingressgateway-7655768485-97vbg_container:istio-proxy.log

See https://testgrid.k8s.io/ist

[2019-11-05 23:40] g-easy commented on #18613
Are you seeing this despite https://github.com/census-instrumentation/opencensus-cpp/pull/395? The end_time should be the time of export.

[2019-11-05 23:43] carolynhu commented on #16740
graph.py also cannot properly generate graph for linkerd.csv, i.e.` python ./runner/graph.py linkerd.csv p90 --mesh=linkerd` command is broken somehow.

[2019-11-05 23:44] bianpengyuan commented on #18613
Ah, I guess the sha in envoyproxy is not new enough: https://github.com/envoyproxy/envoy/blob/cf74f816933d1350d7c588a3b8478dd399ce3d18/bazel/repository_locations.bzl#L262. Let me update that. Thanks!

[2019-11-05 23:55] igcherkaev opened #18672 "Allow configuring header_key_format for envoy-proxy"
**Describe the feature request**

Allow configuring HeaderKeyFormat in envoy-proxy. See https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/protocol.proto#envoy-api-msg-core-http1protocoloptions and https://github.com/envoyproxy/envoy/pull/8499 for details

**Describe alternatives you've considered**

Forcing third party libs to expect lower-cased headers is, unfortunately, impossible a

[2019-11-06 00:37] fpesce commented on #18229
Everyone, thanks again for your help, I'd like to ask again if you can share some of your configuration dump?
You can send it to me at [my-github-handle] @ google.com .

I'm curious about any network details (is there any UDP listeners configured for example).

[2019-11-06 00:50] richardwxn opened #18675 "Operator install with sds profile does not work"
Use operator to install sds profile, then istio-proxy seems to not work properly. See abnormal frequent xds connection close message from the proxy logs.

[2019-11-06 01:06] lambdai commented on #18229
@StefanCenusa
Could you share your config_dump of the busy sidecar proxy? I started to think about you have non-trivial configs/filters so that I cannot reproduce

[2019-11-06 01:06] howardjohn opened #18676 "Operator relies on cluster.local"
There are many places in installer cluster.local is hardcoded, which will break people using other domains

[2019-11-06 01:44] howardjohn commented on #18675
trying this out as well, will add some details shortly

[2019-11-06 01:48] howardjohn commented on #18675
My config:
[code]

Pilot istio-proxy logs:

[code]

but eventually comes up

Ingress logs are similar

Pretty sure the problem is nodeagent is never created though

[2019-11-06 01:50] howardjohn commented on #18675
`mesh generate` shows `# NodeAgent component is disabled.` and `"nodeagent":{"enabled":false, ....` (in the injector template .values config)

This is an operator/installer bug, not SDS issue @richardwxn

[2019-11-06 01:54] richardwxn commented on #18675
@howardjohn yep I believe so, I am trying to see whether can I find a fix.

[2019-11-06 02:42] feisuzhu commented on #18631
Example

[code]

[2019-11-06 02:47] pitlv2109 commented on #18675
We don't use `useNormalJwt` and `useTrustworthyJwt` anymore in the old installer, this needs to be updated in the operator as well.

[2019-11-06 02:56] howardjohn commented on #18668
Nevermind, I'll fix it though

[2019-11-06 03:54] mandarjog opened #18680 "Stackdriver Tracing: incorrect env vars"
When annotation and attribute params are not set, the template inserts `nil` thereby injecting an env var with value = `nil`.

The following was obtained by doing kubectl describe pods

[code]

[2019-11-06 03:55] richardwxn commented on #18675
@pitlv2109 yep I noticed that change but that doesn't seem to be the reason?

[2019-11-06 04:06] howardjohn commented on #18675
My issue was a misconfiguration btw -- will try with the correct config
tomorrow

On Tue, Nov 5, 2019 at 7:56 PM Xinnan Wen <notifications@github.com> wrote:

[2019-11-06 04:16] howardjohn opened #18681 "yamllint broken on release-1.3 branch"
We updated the build image for 1.3 which accidentally updated yamllint, causing failures

[2019-11-06 04:23] elfinhe opened #18683 "Upgrade panic when comparing values with overrides"
This is caused by some compare paths are deeper than overrides, but not supported by GetFromTreePath()

The error and CLI command:

[code]

[2019-11-06 04:33] elfinhe commented on #17743
@ostromart  This is more complicated than I thought. But I can start with `manifest generate`, `profile dump` use cases, where --logtostderr is more helpful.

[2019-11-06 04:50] #18441 closed

[2019-11-06 04:56] #13822 closed

[2019-11-06 04:57] jtakamine opened #18684 "Connection Drops: Unstable inbound listener config when multiple TCP services map to the same Pod and port"
**Bug description**
We have a use case where there are two TCP services (say, ServiceA and ServiceB) that map to the same Pod and port. This is [recognized as a conflict](https://github.com/istio/istio/blob/1.3.4/pilot/pkg/networking/core/v1alpha3/listener.go#L529-L538) when building the inbound listener map for the Pod (in itself, this isn't an issue since both TCP services expect the same protoc

[2019-11-06 04:58] duderino commented on #18229
@lambdai found the bug tonight.  fix will be out shortly.

In the meantime, we think setting global.proxy.protocolDetectionTimeout = 0 will address the issue for unpatched 1.3 versions.  See https://istio.io/docs/reference/config/installation-options/#global-options

[2019-11-06 05:03] howardjohn commented on #18684
@nrjpoddar @yangminzhu

[2019-11-06 05:31] jasonwzm commented on #18165
Not seeing the test failing since 10/28. https://k8s-testgrid.appspot.com/istio_istio_postsubmit#codecov_istio_postsubmit

Closing the issue.

[2019-11-06 05:31] #18165 closed

[2019-11-06 05:36] nicktrav commented on #18684
In terms of the sorting, it seems like a similar approach was taken in #18091, which was also working around instability in the inbound listeners.

There's also #18089, which seems relevant here in terms of the listener change triggering reload, which is severing connections.

[2019-11-06 05:37] jasonwzm commented on #18133
protolock provides a mechanism to track breaking changes, but it does not currently prevent us from breaking the API.

[2019-11-06 05:40] #18665 closed

[2019-11-06 06:49] #2806 closed

[2019-11-06 06:49] #3606 closed

[2019-11-06 06:50] #3706 closed

[2019-11-06 06:50] #4963 closed

[2019-11-06 06:50] #5281 closed

[2019-11-06 06:50] #5384 closed

[2019-11-06 06:50] #6566 closed

[2019-11-06 06:50] #6937 closed

[2019-11-06 06:50] #7369 closed

[2019-11-06 06:50] #7427 closed

[2019-11-06 06:50] #7450 closed

[2019-11-06 06:50] #8120 closed

[2019-11-06 06:50] #8615 closed

[2019-11-06 06:50] #9081 closed

[2019-11-06 06:51] #9520 closed

[2019-11-06 06:51] #9988 closed

[2019-11-06 06:51] #10068 closed

[2019-11-06 06:51] #10341 closed

[2019-11-06 06:51] #10456 closed

[2019-11-06 06:51] #10712 closed

[2019-11-06 06:51] #11439 closed

[2019-11-06 06:51] #11554 closed

[2019-11-06 06:51] #11582 closed

[2019-11-06 06:51] #11608 closed

[2019-11-06 06:51] #11815 closed

[2019-11-06 06:51] #11837 closed

[2019-11-06 06:51] #11931 closed

[2019-11-06 06:51] #11937 closed

[2019-11-06 06:52] #12063 closed

[2019-11-06 06:52] #12108 closed

[2019-11-06 06:52] #12126 closed

[2019-11-06 06:52] #12224 closed

[2019-11-06 06:52] #12231 closed

[2019-11-06 06:52] #12290 closed

[2019-11-06 06:52] #12417 closed

[2019-11-06 06:52] #12461 closed

[2019-11-06 06:52] #12506 closed

[2019-11-06 06:52] #12518 closed

[2019-11-06 06:52] #12768 closed

[2019-11-06 06:52] #12789 closed

[2019-11-06 06:52] #12795 closed

[2019-11-06 06:52] #12830 closed

[2019-11-06 06:52] #12892 closed

[2019-11-06 06:52] #12908 closed

[2019-11-06 06:53] #12998 closed

[2019-11-06 06:53] #13009 closed

[2019-11-06 06:53] #13042 closed

[2019-11-06 06:53] #13093 closed

[2019-11-06 06:53] #13113 closed

[2019-11-06 06:53] #13122 closed

[2019-11-06 06:53] #13193 closed

[2019-11-06 06:53] #13361 closed

[2019-11-06 06:53] #13414 closed

[2019-11-06 06:53] #13492 closed

[2019-11-06 06:53] #13516 closed

[2019-11-06 06:53] #13522 closed

[2019-11-06 06:54] #13523 closed

[2019-11-06 06:54] #13524 closed

[2019-11-06 06:54] #13644 closed

[2019-11-06 06:54] #13657 closed

[2019-11-06 06:54] #13658 closed

[2019-11-06 06:54] #13659 closed

[2019-11-06 06:54] #13661 closed

[2019-11-06 06:54] #13758 closed

[2019-11-06 06:54] #13850 closed

[2019-11-06 06:54] #13863 closed

[2019-11-06 06:54] #13926 closed

[2019-11-06 06:54] #13957 closed

[2019-11-06 06:54] #14033 closed

[2019-11-06 06:55] #14051 closed

[2019-11-06 06:55] #14121 closed

[2019-11-06 06:55] #14124 closed

[2019-11-06 06:55] #14125 closed

[2019-11-06 06:55] #14126 closed

[2019-11-06 06:55] #14130 closed

[2019-11-06 06:55] #14132 closed

[2019-11-06 06:55] #14141 closed

[2019-11-06 06:55] #14143 closed

[2019-11-06 06:55] #14162 closed

[2019-11-06 06:55] #14167 closed

[2019-11-06 06:55] #14183 closed

[2019-11-06 06:55] #14187 closed

[2019-11-06 06:55] #14189 closed

[2019-11-06 06:55] #14202 closed

[2019-11-06 06:55] #14213 closed

[2019-11-06 06:55] #14386 closed

[2019-11-06 06:55] #14449 closed

[2019-11-06 06:56] #14619 closed

[2019-11-06 06:56] #14645 closed

[2019-11-06 06:56] #14708 closed

[2019-11-06 06:56] #14736 closed

[2019-11-06 06:56] #14840 closed

[2019-11-06 06:56] #14870 closed

[2019-11-06 06:56] #14871 closed

[2019-11-06 06:56] #14872 closed

[2019-11-06 06:56] #14875 closed

[2019-11-06 06:56] #14876 closed

[2019-11-06 06:56] #14877 closed

[2019-11-06 06:56] #14878 closed

[2019-11-06 06:56] #14879 closed

[2019-11-06 06:56] #14891 closed

[2019-11-06 06:56] #14960 closed

[2019-11-06 06:57] #14963 closed

[2019-11-06 06:57] #14980 closed

[2019-11-06 06:57] #15040 closed

[2019-11-06 06:57] #15125 closed

[2019-11-06 06:57] #15221 closed

[2019-11-06 06:57] #15246 closed

[2019-11-06 06:57] #15271 closed

[2019-11-06 06:57] #15323 closed

[2019-11-06 06:57] #15392 closed

[2019-11-06 06:57] #15407 closed

[2019-11-06 06:57] #15408 closed

[2019-11-06 06:57] #15479 closed

[2019-11-06 06:57] #15487 closed

[2019-11-06 06:57] #15504 closed

[2019-11-06 06:58] #15606 closed

[2019-11-06 06:58] #15664 closed

[2019-11-06 06:58] #15694 closed

[2019-11-06 06:58] #15728 closed

[2019-11-06 06:58] #15729 closed

[2019-11-06 06:58] #15733 closed

[2019-11-06 06:58] #15735 closed

[2019-11-06 06:58] #15736 closed

[2019-11-06 06:58] #15737 closed

[2019-11-06 06:58] #15738 closed

[2019-11-06 06:58] #15739 closed

[2019-11-06 06:58] #15740 closed

[2019-11-06 06:58] #15741 closed

[2019-11-06 06:58] #15742 closed

[2019-11-06 06:58] #15743 closed

[2019-11-06 06:58] #15744 closed

[2019-11-06 06:59] #15746 closed

[2019-11-06 06:59] #15747 closed

[2019-11-06 06:59] #15749 closed

[2019-11-06 06:59] #15751 closed

[2019-11-06 06:59] #15752 closed

[2019-11-06 06:59] #15754 closed

[2019-11-06 06:59] #15755 closed

[2019-11-06 06:59] #15756 closed

[2019-11-06 06:59] #15758 closed

[2019-11-06 06:59] #15759 closed

[2019-11-06 06:59] #15760 closed

[2019-11-06 06:59] #15761 closed

[2019-11-06 06:59] #15763 closed

[2019-11-06 06:59] #15765 closed

[2019-11-06 06:59] #15766 closed

[2019-11-06 06:59] #15767 closed

[2019-11-06 06:59] #15768 closed

[2019-11-06 07:00] hzxuzhonghu commented on #18638
You can set the env `ISTIO_META_IDLE_TIMEOUT`

[2019-11-06 07:45] Stono commented on #12644
@geeknoid @howardjohn not sure your bot is working :'(

[2019-11-06 07:45] dcedyga opened #18688 "Unstable and unexpected Ingress-SDS behaviour after 1.3.4 upgrade"
**Bug description**
After fix on SDS done on version 1.3.4 for updating certs(#17409), I have been testing with letsencrypt and I'm getting a nil pointer exception.

**Expected behavior**
Creating a placeholder secret with temporary values, and updating them should result in an update in SDS and the ability to access my services. Letsencrypt certs updates are propagated as expected.

**Steps to re

[2019-11-06 07:45] Stono commented on #3395
Same with this one @howardjohn @geeknoid

[2019-11-06 07:58] hzxuzhonghu commented on #18684
We don't have test cases cover this scenario: pods belong to multi services, the behavior is unknown for us.  IIRC, previously we announced this.

[2019-11-06 07:59] myidpt opened #18690 "SDS doesn't work with version 1.3.4"
**Bug description**

**Expected behavior**
Following https://istio.io/docs/setup/install/helm/
SDS should be configured to work correctly.

**Steps to reproduce the bug**
Following https://istio.io/docs/setup/install/helm/
The auto-injected sidecars do not get the currect SDS configuration.

**Version (include the output of `istioctl version --remote` and `kubectl version`)**
1.3.4

**How was Isti

[2019-11-06 08:00] myidpt commented on #18690
Jimmy, could you take a look? Thanks.

[2019-11-06 08:06] bappr commented on #8772
Hey guys,
Trying to use your `client-go` and have a question about the `mode` field under `spec.servers.*.tls` in the `gateway` structure.
Is there anyway to make it a string to match Istio Doc? Right now it's an integer with
[code]

[2019-11-06 08:07] LinLshare commented on #18638
It work, thanks so much 😘
![image](https://user-images.githubusercontent.com/11910355/68279913-6f038580-00af-11ea-874b-ec759a6fdfe0.png)

[2019-11-06 08:07] #18638 closed

[2019-11-06 08:29] yacut opened #18692 "[Feature] Web Application Firewall for Istio Ingress Gateway"
**Describe the feature request**

I want to protect me web application from common web exploits using my existing Istio Ingress Controller, so I don't need to install any additional components or implement it myself.

**Describe alternatives you've considered**

NGINX with ModSecurity Sidecar can be used as additional protection layer in front of my web application.

**Additional context**

- Rela

[2019-11-06 08:37] desek commented on #18575
It's not a redirect as far as I can see since this problem occurs when not sending any http requests.

See the below configurations that works as expected as long as requests are sent to `*.my.doman` (what we want is catch-all even it ends up with certificate error for the clients):

# No handshake loop configuration, catch-all not working

[code]

**Not working as intended**: HTTPS redirect does

[2019-11-06 08:55] yacut commented on #13861
@pingz Thank you for the solution. It does work on Istio 1.3.4.
P.S. Please add the `apiVersion` field to your yaml example.

[2019-11-06 09:30] Simbafa commented on #18624
It's my fault.
I created the endpoint as [Services without selectors](https://kubernetes.io/docs/concepts/services-networking/service/#services-without-selectors) described.
It seems Istio requires the ports name.
I  referenced  issue [17837](https://github.com/istio/istio/issues/17837) .

The following config works for me.
[code]

[2019-11-06 09:30] #18624 closed

[2019-11-06 10:01] Ghost---Shadow commented on #11120
105 days? I commented on it 2 days ago.

[2019-11-06 10:04] haf-afa commented on #18467
Thank you! ❤️  I didn't realise it started working after a bit. I'm going to close this issue.

[2019-11-06 10:04] #18467 closed

[2019-11-06 10:07] StefanCenusa commented on #18229
@duderino I've set to `0ms` but still having the issue. moreover, my pilot was already running with
[code]
I guess I'll wait for the fix to try it out...

[2019-11-06 10:08] LinLshare opened #18694 "Envoy: status code 500, response_flags="-""
**Bug description**
when  using istio, I found the following error from prometheus by `istio_requests_total{destination_service_namespace="my-ns",response_code=~"^5.*",response_flags="-"}`

[code]

**Expected behavior**
no such error: `response_flags="-" & status code=500`

**Steps to reproduce the bug**
1. install istio 1.3.4
2. deploy your service
3. query `istio_requests_total{destination_servi

[2019-11-06 10:42] fhopfensperger commented on #9783
have the same problem with istio version: 1.3.3.
Tried to specifiy allowOrigins with procotol (https) and without.
kubeversion:
[code]

[2019-11-06 10:47] sergii-s commented on #18229
@duderino didn't work for me either

[2019-11-06 12:13] cscetbon commented on #12795
@geeknoid, Why does it say no activity for 105 days ? I asked a question 7 days ago !

[2019-11-06 12:13] dbnegative commented on #18637
in addition the release label is neverset  on the ingress-gateway pod template even if another namespace is used.

[2019-11-06 12:37] gustavovalverde commented on #6593
This should be kept open; there's no solution to it.

[2019-11-06 13:21] vadimeisenbergibm commented on #17163
@mmosttler @s1k3ira I am checking the issue, will update you.

[2019-11-06 13:31] s1k3ira commented on #17163
@vadimeisenbergibm I have an open case on IBM Cloud support, follow the number CS1201134

We are a big IBM customer

[2019-11-06 13:36] turbotankist opened #18695 "some problem this SNI when using --tlsv1.3"
**Bug description**
We have gke cluster with custom istio installation 1.2.6.
With gateway configuration like this
[code]
and we have external services that has connections to our service cfg.mysiteaddress.ru. There are were working fine.
But then we update istio to 1.3.4 the external services begin to fail connections: _Error: self signed certificate_
With debuging we saw wrong certificate wildca

[2019-11-06 13:36] vadimeisenbergibm commented on #17163
@s1k3ira Could you please write me to my IBM email?

[2019-11-06 13:41] s1k3ira commented on #17163
@vadimeisenbergibm
Of course, what is your IBM email?
follow my corporate email: bruno.lopes@multivarejogpa.com.br

[2019-11-06 14:37] geeknoid commented on #12795
It's no activity by an Istio team member. I'll update the bot's comment text accordingly to make it clearer.

[2019-11-06 14:38] bweston92 commented on #17551
I have this issue on GKE using Helm to install version `v1.14.8-gke.2` I have the following log lines from `isito-ingressgateway > istio-proxy` any help would be appreciated:

[code]

[2019-11-06 15:06] howardjohn commented on #18694
What makes you think this is an Istio issue? It looks like the application just returned a 500

[2019-11-06 15:06] howardjohn commented on #18692
FYI @fpesce

[2019-11-06 15:07] howardjohn commented on #18688
@JimmyCYJ @myidpt

[2019-11-06 15:11] jmazzitelli commented on #18558
This is also related: https://github.com/kiali/kiali/pull/1888

[2019-11-06 15:14] howardjohn commented on #18690
Don't we have tests for this?

[2019-11-06 15:14] rcernich commented on #8772
Initially, there were some issues with the json serialization in client-go, but I think they should be fixed as of now.  @nrjpoddar can you confirm whether or not this is one of the issues you were seeing with json serialization on client-go?

[2019-11-06 15:20] vadimeisenbergibm commented on #16885
Recreated the issue. ExternalName to in-mesh services seems not to work in Istio.

1. Create namespaces:

[code]

2. Deploy `sleep` in `a`, `httpbin` in `b`:

[code]

3. Create external name service in namespace `a`:

[code]

4. Define a destination rule to set mTLS for the traffic to `httpbin` in `a`:

[code]

5. Define a destination rule to set mTLS for the traffic to `httpbin` in `b`:

[code]

[2019-11-06 15:22] vadimeisenbergibm commented on #16885
For some reason, the address prefix contains the IP of the source pod:

[code]

[code]

[2019-11-06 15:23] linsun commented on #18658
@costinm @douglas-reid @objectiser @rshriram  what is the purpose of jaeger-agent? I did a quick testing of book info with jaeger, and it seems to work fine with traces shown up.

[2019-11-06 15:24] linsun commented on #18658
Some history: https://github.com/istio/istio/commit/6dbbacac0b478017179480778637c9d8d781ac25
it was added by @objectiser @rshriram

[2019-11-06 15:26] linsun commented on #18658
per https://www.jaegertracing.io/docs/1.14/deployment/#agent, it is used as jaeger library and run locally on each host... which I don't think it applies to our jaeger service provided by istio installation.

[2019-11-06 15:36] objectiser commented on #18658
For the `all-in-one` deployment (which Istio is using) the jaeger agent is bundled in the one container image - in production deployments, the agent is separate and can be used as a sidecar or daemonset.

[2019-11-06 15:41] ericvn commented on #18658
@objectiser So when should this jaeger-agent service be created in an Istio install if at all? In the deprecated helm install, it was created as part of the demo profile (and maybe others (I haven't looked)). In the new istioctl install, it is no longer part of the demo profile.

[2019-11-06 15:50] objectiser commented on #18658
@ericvn It should be created to enable Jaeger to be used natively within the applications, along with jaeger-query and jaeger-collector.