[2020-01-15 15:56] howardjohn commented on #20184
the job shouldn't have a Sidecar so mtls shouldn't matter. did it somehow get a Sidecar injected?

[2020-01-15 16:07] tillig commented on #20184
In my case there was no sidecar, I'm somewhat grasping at straws. I saw other issues where mTLS was the cause of failure to connect to the Kubernetes API server so it seemed like a logical possibility. Beyond the logs above I don't really have any insight. Everything else in the cluster seems to connect just fine to the Kubernetes API endpoint.

[2020-01-15 16:11] nicktrav commented on #20135
In _Envoy_ that is most likely true, as [`healthy_panic_threshold` is a `type.Percent`](https://github.com/envoyproxy/envoy/blob/7bd0c07fa397ab9b5b34c5a79a4a886129828b16/api/envoy/api/v2/cluster.proto#L392):

[code]

[The absence of a value implies the default value](https://github.com/envoyproxy/envoy/blob/7bd0c07fa397ab9b5b34c5a79a4a886129828b16/source/common/upstream/load_balancer_impl.cc#L105-

[2020-01-15 16:21] Kampe commented on #19229
Same issues trying to set up gossip with Thanos StatefulSet components, without istio everything works accordingly.  Add in proxy and pilot and everything refuses to communicate.

[2020-01-15 16:26] howardjohn opened #20207 "regression: Addon components pruning broken in master"
[code]

We get an unexpected `- Applying manifest for component Addon...`. This used to say prometheus, not addon. The prometheus deployment remains.

Even if I add
[code]

Its not in the output but its still not pruned

[2020-01-15 16:41] sushicw commented on #20072
Some options I've considered, none of which I'm thrilled about:

1. Abandon `--timeout` (don't attempt to redo #19890). This doesn't fix the underlying race, but does keep it pretty rare. Now that we're doing a permissions pre-check to prevent infinite execution on insufficient permissions, analyze-wide timeout is probably downgraded to just a "nice to have."

2. Keep timeout, but also add a short

[2020-01-15 16:45] howardjohn commented on #20072
1 seems reasonable if we have avoided the "normal" case of infinite
execution. Other tools like kubectl don't have --timeout on
potentially long operations, so it seems fine

On Wed, Jan 15, 2020 at 8:41 AM Chris Wilson <notifications@github.com>
wrote:

[2020-01-15 16:59] howardjohn opened #20208 "Support multiple CRDs with the same type internally"
Kubernetes is adding a "Gateway" object. We reference our CRDs by the type (eg "Gateway") in about 10000 places in our codebase. We need to update these to reference by GroupVersionKind (or at least GroupKind)

[2020-01-15 17:07] chris-free commented on #19263
This helm style works in 1.4.2

[code]

[2020-01-15 17:08] sushicw opened #20209 "Rare test flake in apiserver source_dynamic_test.go tests (< 0.5% error rate)"
To reproduce:
[code]

Note that rarely (< 0.5% of runs on my machine in the above scenario) there will be a test failure. These are all from various tests in `source_dynamic_test.go`. If you dig deeper into the run error logs, you will see these timeout waiting for expected results, and you'll also see that the underlying issue is that we receive the CRD FullSync event before sending the CRD Add e

[2020-01-15 17:09] sushicw commented on #20072
Created https://github.com/istio/istio/issues/20209 to track the rare test flake. Closing this since the revert successfully fixed the immediate P0 issue.

[2020-01-15 17:09] #20072 closed

[2020-01-15 17:15] heimweh commented on #18557
Thanks for the quick reply @prune998,

we're currently on 1.4.2 but happy to upgrade to 1.4.3 and see if that helps.
We removed the invalid host entry and restarted the pods but no luck so far.
It might be that something's wrong in our setup, so happy to share the config with you directly.

Thank you so much :pray:

[2020-01-15 17:17] #20195 closed

[2020-01-15 17:47] cscetbon commented on #19229
@Kampe as a workaround removing the gossip ports from my headless service worked

[2020-01-15 18:03] su225 commented on #18287
@brian-avery - addressed the comments and updated the pull request.

[2020-01-15 18:53] howardjohn commented on #20158
This also fails 100% of the time for me locally.. TestEndpointFlipFlops and PushIncremental specifically. Not sure how it works in CI? @ramaraochavali any idea why?

[2020-01-15 19:30] irl-segfault opened #20212 "Feature request: Add metrics on failure to communicate with api-server from Istiod"
We had an outage where the K8's master was unreachable from Pilot instances (in general, this could be due to infrastructure changes or GKE availability, etc).  This meant Pilot was unable to fetch up to date workload information and as new deployments occurred, routes in Envoy sidecar configs became stale and invalid.

Pilot logs indicated API call failures to the K8s master.  We have created a l

[2020-01-15 20:08] irl-segfault opened #20216 "Add statsInclusion annotation to Gateways for configuring Envoy metrics"
The pod annotations "sidecar.istio.io/statsInclusion[Prefixes|Suffixes]" can be used to configure sidecar Envoys to emit additional metrics beyond those enabled by default.

Summary:
The annotation is not respected when used with Gateways (i.e, hard coded into the Deployment template for the Gateway).  Now, these Pod labels do eventually cause the `ISTIO_METAJSON_LABELS` env variable to be set, so

[2020-01-15 20:19] howardjohn commented on #20216
This is the recommended way for now

I guess we could get them from the downward API though

[2020-01-15 20:39] #18008 closed

[2020-01-15 21:17] tillig commented on #20184
I did a rolling restart of all the nodes in the cluster and the job is now able to run to completion. I'm not sure what happened to cause nodes in the cluster to lose the ability to talk to K8S, but... if folks are hitting weird things like that, try a node restart.

[2020-01-15 21:17] #20184 closed

[2020-01-15 21:33] #19708 closed

[2020-01-15 22:56] howardjohn opened #20219 "Envoy 1.13 hard deprecations"
**ORIGINAL_DST_LB**: ok, https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/cluster.go#L1358

**tls_context**: ok, we never use this

**extension_protocol_options**: ok, we never use this

**use_http2**: ok, we never use this

**allow_origin** regex: ACTION REQUIRED: We ARE using this: https://github.com/istio/istio/blob/48ec8ebe5abbb0982fbc4b8c833ab49786393139/pilot/pkg

[2020-01-15 23:16] NelsonJeppesen commented on #19371
I still see this with 1.4.3

Completely deleted the `istio-system` namespace and re-deployed istio 1.4.3 from scratch but I still see this issue. Just like in 1.4.2, creating the `istio-ingressgateway-sds` Role by hand fixed the issue

[2020-01-15 23:41] howardjohn commented on #15431
To send mTLS requests/understand ServiceEntry you will need a sidecar

[2020-01-15 23:41] #15431 closed

[2020-01-16 00:00] incfly commented on #20208
The point of this issue is to disambuigiate for us to introduce k8s gateway, essentially?

[2020-01-16 00:05] howardjohn commented on #20208
Yes. And maybe future conflicts, but that is the immediate one. We cannot support it unless we disambiguate or you run into weird cases where your code randomly has the wrong type (I learned the hard way :slightly_frowning_face: )

[2020-01-16 00:32] #7502 closed

[2020-01-16 00:41] carolynhu opened #20227 "istio/tools: cpu and memory usage of istio-proxy for client and server side pods separately"
Istio Perf tests should collect cpu and memory per proxy (client and server) for their max and average usage.

[2020-01-16 01:12] ostromart opened #20230 "--set flag doesn't support indexing or path selection"
The operator tpath package supports a rich syntax for selecting list items e.g.
containers.[name:discovery].spec
It would be nice for the --set flag to support a similar syntax. Right now there's no way to change values via CLI that are in lists.

[2020-01-16 01:33] hzxuzhonghu commented on #20200
FYI: https://github.com/istio/istio/pull/19496
`strict mTLS does not work since passthrough cluster is using ORIGIN_DST cluster type, thus we don't have TLS config on client side.`

[2020-01-16 01:34] hzxuzhonghu commented on #20200
We need to fix it.

[2020-01-16 01:45] su225 commented on #20164
I'll take this one.

[2020-01-16 01:49] hzxuzhonghu commented on #20200
BTW, I think you are using istio 1.4, this is caused by autoMTLS

[2020-01-16 03:02] hzxuzhonghu commented on #20100
It is better if you could send your cpu profile. We can see what takes more cpu. I am not sure if it related to services with no ready endpoints

[2020-01-16 03:58] ramaraochavali commented on #20158
@howardjohn Not sure. Will take a look

[2020-01-16 04:09] ramaraochavali commented on #20158
@howardjohn Is it possible to get logs for one failure?

[2020-01-16 05:09] #17570 closed

[2020-01-16 05:09] #17582 closed

[2020-01-16 05:55] #20147 closed

[2020-01-16 08:00] #19562 closed

[2020-01-16 08:25] xinxinzhao1212 commented on #16851
Did this bug fix already？because i can not find it in the commits .If it had been fixes ,could  anyone kindly share the commit for this bug ? thanks a lot

[2020-01-16 08:31] xinxinzhao1212 opened #20234 "issue with elasticsearch fix or not ?"
In istio1.4.2 , my client can not connect with elasticsearch server with sidecar and can be connected without sidecar ,it is the same as the issue 16851 ,but i can not find the commit in the source code ,so could anyone kindly tell me if the bug has fix or not , if it has been fixed ,could you share the commit link to me ? thank you .

https://github.com/istio/istio/issues/16851

[2020-01-16 08:35] manikantabandaru commented on #18993
Hi,

By installing latest 1.4.3 and applying all rules worked for me. Thanks for your time

[2020-01-16 08:49] Stono opened #20235 "locality aware routing metrics strange format"
**Bug description**
The format of the locality aware envoy metrics are a bit odd, and make it difficult to work with in prometheus, and doesn't fit the typical model of exposing cardinality in the labels rather than the metric name

As an example, why is this:
[code]

Not just a label on the existing metric, like this:
[code]

**Expected behavior**
Metrics to expose their cardinality in labels, ra

[2020-01-16 08:57] lwx294821 opened #20236 "k8s version and istio version"
I have a k8s  cluster with v1.11.1. which istio version support?

[2020-01-16 09:42] hzxuzhonghu commented on #20200
autoMTLS https://istio.io/docs/tasks/security/authentication/auto-mtls/

Please try to test with #20301

[2020-01-16 12:49] FilipB opened #20238 "OCP 4.2 left broken after istio 1.4.3 uninstall"
**Bug description**
When the istio is removed from OCP 4.2 it leaves the cluster in broken state and newly started pods fail with:
(combined from similar events): Failed create pod sandbox: rpc error: code = Unknown desc = failed to create pod network sandbox k8s_registry-puller-89bd55495-8qc6s_registry-puller_b0cf5e01-383d-11ea-93d2-fa163ee5acb3_0(d93218e9cc51c4a6ed1a49829e9983d01ba0071bea5bb55df

[2020-01-16 13:23] #20168 closed

[2020-01-16 13:36] bernardoVale commented on #15145
@rcaballeromx I'm trying to do the same thing. It doesn't work. I've tried to set the name of the service entry as the destination as you suggested. Any thoughts?

[2020-01-16 13:52] #19138 closed

[2020-01-16 14:14] tuwid commented on #15525
I've set this to true and I'm facing the same problem after deleting the pods. Is there any additional steps I'm missing @howardjohn ?

`Host="test.domain.com" Client-IP="127.0.0.1" Masked-Header="custom-app-header custom_id=XXX-XX-45e0-80c2-XXXX" URI="/v2/XXXX/:id/XXXXXX" Status="201" Request-Time="0.272" User-Agent="XXX.mpos.android/2.47.1 (client: f0cc4651ec56570b, mode: TEST, os: Android, vers

[2020-01-16 14:23] etiennejournet commented on #19642
I should say as of yesterday and istio 1.4.1 the new API didn't work on azure.

[2020-01-16 14:25] howardjohn commented on #20235
I don't think we have any control over this as it's an envoy metric?

[2020-01-16 14:26] howardjohn commented on #20236
No supported istio version supports 1.11. On our install page we list the supported versions, right now it's 1.13+

[2020-01-16 14:26] #20236 closed

[2020-01-16 16:56] nirvanagit commented on #17913
@hzxuzhonghu @howardjohn - can we open this issue.

This is what I am observing with 1.3.6.

Pilot is watching on pod and endpoint resources, so an update on either will trigger a push to sidecar proxies.

Whenever the following events occur at the same time
1. POD is deleted
2. Pilot receives the DELETE pod event.
3. Sidecar proxy of the deleted pod requested for a `type.googleapis.com/envoy.api.

[2020-01-16 17:10] smawson commented on #14692
Nate/Jason since we were just talking about this yesterday, can we chat about a potential short-term fix? Easiest would be a way to opt an entire namespace out of merging, better would be to support topology keys but that would take longer. We should see if there is anything we can do in 1.5 timeframe.

[2020-01-16 17:14] #17753 closed

[2020-01-16 17:22] howardjohn commented on #19018
@ostromart aren't we on golang proto now?

[2020-01-16 17:23] howardjohn commented on #19242
Dropping priority since we now have an active check that CNI worked. Still seems useful though

[2020-01-16 17:25] howardjohn commented on #19516
https://github.com/istio/istio/commit/715ec75c7ea4bddd61d3a68c8a8e8ad047987eaa Fixed

[2020-01-16 17:25] #19516 closed

[2020-01-16 17:26] nicktrav commented on #20216
@irl-segfault - did you mean `ISTIO_METAJSON_ANNOTATIONS` instead?

[2020-01-16 17:27] howardjohn commented on #19539
Any more info?

[2020-01-16 17:27] #19625 closed

[2020-01-16 17:28] howardjohn commented on #19779
done

[2020-01-16 17:28] #19779 closed

[2020-01-16 17:38] nmittler commented on #14692
I won't have bandwidth to work on this for 1.5 .... I'm trying to get in some other changes for istiod.

But yes, we should fix this soon (1.6?). The short-term fix sounds reasonable to me.

[2020-01-16 18:01] myidpt commented on #17318
@rlenglet one of our customers is asking this feature to be supported by istioctl and cherry picked in 1.4 release. Can we do that?

[2020-01-16 18:08] #20158 closed

[2020-01-16 18:10] rlenglet commented on #17318
The installer was patched in time for 1.4.3, but the operator was not updated for that release do some reason.

[2020-01-16 18:21] #18019 closed

[2020-01-16 18:21] #20066 closed

[2020-01-16 18:21] sushicw commented on #17443
Our strategy around this has evolved a bit since this issue was created.

Our current thinking around supporting CI cases is primarily focused on error code suppression (see https://github.com/istio/istio/issues/17703), and possibly also fine-grained controls for what resources to inspect (see https://github.com/istio/istio/issues/18932).

Analyzers sit in between this, requiring *N* resources and

[2020-01-16 18:21] #17443 closed

[2020-01-16 18:22] sushicw commented on #18006
Closing this since we're also closing https://github.com/istio/istio/issues/17443, which this is just a follow-up to.

[2020-01-16 18:22] #18006 closed

[2020-01-16 18:23] sushicw commented on #17507
PR #18364 by @burmanm is still WIP, removing stale marker.

[2020-01-16 18:25] sushicw commented on #17538
@nrjpoddar Are you still planning to do this in the near future? If not, we can unassign you so it's available for others to pick up.

Also: will this analyzer still be relevant after switching to the new authorization policy resource?

[2020-01-16 18:32] howardjohn commented on #19276
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/20225/unit-tests_istio/6616

[2020-01-16 19:24] antiqe commented on #19263
@chris-free The issue is about handling multiple gateway, not annotate the default gateway as internal.

[2020-01-16 20:59] howardjohn commented on #15478
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/20215/unit-tests_istio/6643

[2020-01-16 21:07] rshriram opened #20246 "sidecar HTTP_PROXY protocol generates incorrect listeners"
for a sidecar
[code]

the config generated on the VM where this sidecar is running without iptables is shown below. Notice presence of http inspector and hence two filter chains.

[code]

[2020-01-16 21:10] mandarjog commented on #20183
These changes also need to be backported to proxy 1.4

[2020-01-16 21:25] nrjpoddar commented on #17535
@jacob-delgado will be working on this from Aspen Mesh. I cannot assign him the issue.

[2020-01-16 22:22] incfly commented on #17837
Sorry for late updates. I verified your script and confirmed the failure. switching from none -> endpoint http1 -> endpoint httpbin2, -> switch back to httpbin1 (back), this time request starts to fail.

After looking at Pilot eds update logic, I think this is a bug. Our internal data structure only increment the endpoint service account set, no shrinking. this cause the third endpoint update (bac

[2020-01-17 00:04] rshriram commented on #20246
cc @ramaraochavali

[2020-01-17 00:15] incfly commented on #17837
okay, i did a quick fix, and seems like now swapping back to httpbin1 works. @nak3 could you help to verify? This will require to install istio a bit of different, the rest tesitng automation remains the same as `knative-bug.sh`.

[code]

gcr.io/jianfeih-test/pilot:0116a-knative-sa-fix

[2020-01-17 00:37] #20208 closed

[2020-01-17 01:30] howardjohn opened #20253 "istioctl ServicesReady false negative on clusters without LoadBalancer"
https://github.com/istio/istio/blob/2d137b1d5106efb5292f041f8247d4ad76a59639/operator/pkg/manifest/installer.go#L714

This will hang forever if installed on a cluster without a LB like Kind, since LB endpoint is not set. I can see that technically its not "fully ready", but at this point it seems its ready enough... maybe we should remove this check?

[2020-01-17 01:48] anupash147 opened #20255 "The nodeSelector override does not work"
My helm command goes as
helm install --name net --namespace istio-system  \
    --values=${MYDIR}/values.yaml \
    --set-string global.NodeSelector."node-role\.kubernetes\.io\/system-worker"="yes" \
    istio.io/istio

or

helm install --name net --namespace istio-system  \
    --values=${MYDIR}/values.yaml \
    --set global.NodeSelector."node-role\.kubernetes\.io\/system-worker"="yes" \
    ist

[2020-01-17 02:05] hzxuzhonghu commented on #17913
We should not allow access to a shutting down pod.  Because we can not guarantee the request can be gracefully handled.

[2020-01-17 02:08] brianwolfe commented on #15631
@yangminzhu would it make more sense to make this part of authorization & AuthorizationPolicy?

If a trust domain is not intended to be trusted for authentication, it should probably not be trusted by the root CA installed in the proxy. I'm currently coming up with our multi-trust-domain PKI and am running into difficulty understanding the trust model this is actually intending to implement.

If i

[2020-01-17 02:55] yangminzhu commented on #15631
@brianwolfe Yeah, I think you raised a good point of delegating the trust domain validation to the authorization layer which gives more flexibility. @myidpt and I had some discussions recently about this but we haven't looked deep to see how to improve this. Would you mind to open an issue for further discussions? Thanks.

[2020-01-17 03:07] ramaraochavali commented on #20246
@rshriram Will take look, did you forget to mention second problem, I see you mentioned "Secondly" and nothing after that?

[2020-01-17 03:22] sisinduku opened #20257 "PassthroughCluster doesn't support gRPC"
**Bug description**

when a request inside the mesh tries to go outside the mesh by default it will go through PassthroughCluster.  This gRPC request is failing and envoy log says

`HTTP/2" 200 UC "-" "-" 807 0 2 - "-" "grpc-go/1.25.0" "081edcb4-ff81-4a61-9a06-ec610533cfb3" "mygrpc.mydomain.com:80" "192.168.1.123:80" PassthroughCluster - 192.168.1.123:80 172.28.71.32:55762 - -`

It is working prop

[2020-01-17 03:33] brianwolfe commented on #20235
Stats are parsed out in the bootstrap configuration to create the tags. An additional field in the bootstrap should work to parse those stats out to tags correctly: https://github.com/istio/istio/blob/master/tools/packaging/common/envoy_bootstrap_v2.json#L21-L24

The zone format is specified here: https://www.envoyproxy.io/docs/envoy/latest/configuration/upstream/cluster_manager/cluster_stats.html

[2020-01-17 04:01] howardjohn commented on #20255
is this because "yes" means a true Boolean in yaml maybe?

[2020-01-17 04:01] howardjohn commented on #20235
Ah very cool, I didn't realize that config existed

[2020-01-17 04:21] howardjohn commented on #20257
that's really weird because it's just a pure tcp proxy. do other services work just not this grpc one? maybe try another grpc service like https://grpcb.in/?

[2020-01-17 04:33] sisinduku commented on #20257
We have multiple services which have gRPC call but all of them are
accessing another service inside the mesh except for this one

Accessing gRPC server inside the mesh is working fine

Let me try another gRPC call to outside the mesh

On Fri, Jan 17, 2020, 09:51 John Howard <notifications@github.com> wrote:

[2020-01-17 05:01] #12621 closed

[2020-01-17 05:02] #15097 closed

[2020-01-17 05:03] #17149 closed

[2020-01-17 05:32] #17609 closed

[2020-01-17 05:43] hobbytp commented on #19549
The new envoy filter and old one difference are :
1. with the new spec lua envoyfilter configured, it only modify one listener which name “<POD_IP>_9080”
2. with the old spec lua envoy filter configured. it will modify two listener <POD_IP>_9080 and virtualInbound (0.0.0.0: 15006)
without the modification for virtualInbound, it will fail.

[2020-01-17 06:06] Kampe commented on #19229
I did just that for the moment, but that's definitely not ideal

[2020-01-17 06:41] ramaraochavali opened #20260 "Pilot generates invalid inbound listeners some times"
**Bug description**

Pilot some times generates an invalid inbound listener on unrelated ports of the Service. Recently we have seen Pilot complaining about conflicting inbound listeners for a service on a port that is not related to Service (Service does not listen on that port and Service spec does not define that port).

The specific error we got was
[code]

In the specific case, pilot is tryin

[2020-01-17 06:48] ramaraochavali commented on #20260
Looking at the code it is possible if `GetPodServices` incorrectly selects the service (because of label mismatch/ invalid spec selector - not sure if that is what has happened in our case) here https://github.com/istio/istio/blob/master/pilot/pkg/serviceregistry/kube/controller/controller.go#L552 . Once the service is selected we do not further validate whether service has the right ports defined

[2020-01-17 06:49] hzxuzhonghu commented on #19229
Hope to fix it #20231

[2020-01-17 09:25] piyush-pruthi opened #20262 "Istio Pilot consuming huge CPU resources"
**Expected behavior**
Limited CPU Usage

**Steps to reproduce the bug**
Deploy pods to a GKE cluster in a sequential manner.

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

kubectl version - v1.15.0
helm version - v2.14.3
Istio Version - 1.4.3

**How was Istio installed?**
Using helm template.

**Environment where bug was

[2020-01-17 10:28] nak3 commented on #20098
In https://istio.io/blog/2019/trustworthy-jwt-sds/ it mentioned:

But is is possible to use file-mount approach by `istioctl manifest apply` and complete the installation?

[2020-01-17 10:55] tj-kev commented on #19263
@ostromart

Did the temporary solution make it into 1.4.3? Can't find any mention of it?

[2020-01-17 12:18] paweloczadly opened #20263 "Downgrade 1.4.3 -> 1.4.2 doesn't work with istioctl experimental upgrade"
**Bug description**

Downgrade 1.4.3 -> 1.4.2 doesn't work with `istio experimental upgrade -f istio-control-plane.yaml`. The output looks as follow:

[code]

According to the official doc: https://istio.io/docs/setup/upgrade/istioctl-upgrade/#downgrade-to-istio-1-4-and-higher-versions-steps, it should work this way.

It is only possible to downgrade by using `istioctl manifest apply -f istio-cont

[2020-01-17 13:20] fcantournet opened #20264 "Pilot gets cpu throttled because GOMAXPROCS not set"
**Bug description**

Pilot gets throttled by the linux CFS if cpu limits are set on the pod spec.

**Expected behavior**

Pilot doesn't get throttled

**Steps to reproduce the bug**

Run pilot with a cpu limit and add load.

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

1.3.5

**How was Istio installed?**

Helm charts (of

[2020-01-17 13:42] tgunsch commented on #17556
FYI: Just found an older issue describing the same: https://github.com/istio/istio/issues/9292. We solves this as described there by using `conditional(context.proxy_error_code == "DC", 499, response.code | 0)` in our log instance.

[2020-01-17 14:33] howardjohn commented on #20098
yes, just need to turn off SDS (which is the default)

On Fri, Jan 17, 2020, 2:28 AM Kenjiro Nakayama <notifications@github.com>
wrote:

[2020-01-17 14:35] ericvn opened #20265 "istio/istio: `make docker.save` has warnings on MacOS"
**Bug description**

Using MacOS, `make docker.save` has several warnings.

[code]
The issue seems to be that ./tools/buildx-gen.sh has a few lines with an xarg -d command. The xarg command on MacOS does not have a -d parameter.

**Expected behavior**

`make docker.save` should complete without issues

**Steps to reproduce the bug**

Prepare MacOS development as specified.

Run `make docker.save`

[2020-01-17 15:02] michaelbannister commented on #17318
@rlenglet that's a shame! Is that because of the way that istio/operator, istio/installer and istio/istio were related for 1.4.x releases? (I see that installer & operator have both been subsumed into the main istio repo now.)
(If the istio Slack or Discuss forum would be a better place to ask such things, please say so.)
I'm interested in how they relate as I might want to try and build an update

[2020-01-17 15:04] howardjohn commented on #20264
you can add this to the template. there is no universal value that applies to everyone so it is hard to see how we would make a default. note pilot has no cpu limit by default

[2020-01-17 15:10] howardjohn commented on #20264
the auto proc thing may be useful though, thanks for the link

[2020-01-17 15:21] michaelbannister commented on #19720
Would files such as [manifests/istio-control/istio-discovery/templates/deployment.yaml](https://github.com/istio/istio/blob/master/manifests/istio-control/istio-discovery/templates/deployment.yaml) be the right place to adjust these settings? or is there a reason to make this optional somehow?

[2020-01-17 15:35] nak3 commented on #20098
Thank you. Yes turning off SDS worked fine on 1.4.2 and local build from master branch.

But only daily build (I needed to use for https://github.com/istio/istio/issues/17837#issuecomment-575407320)  gets rid of `{{- if .Values.global.sds.enabled }}` and it does not work :cry:

[code]

I guess that it is by design.

[2020-01-17 15:36] nak3 commented on #17837
Sure, but the daily build does not allow me to disable SDS so it seems that I need to create a new cluster which supports TokenRequestProjection. Please give me some time.

[2020-01-17 15:36] howardjohn commented on #20098
by the time 1.5 comes out we will support clusters without projected token
mounts, but right now we don't

On Fri, Jan 17, 2020, 7:35 AM Kenjiro Nakayama <notifications@github.com>
wrote:

[2020-01-17 15:40] howardjohn commented on #17837
global.istiod.enabled=false might work without it

[2020-01-17 16:31] nak3 commented on #17837
Thank you so much @howardjohn !
And @incfly, Yes I verified the image gcr.io/jianfeih-test/pilot:0116a-knative-sa-fix fixed the problem https://github.com/istio/istio/issues/17837#issuecomment-568891183

[2020-01-17 16:31] #20265 closed

[2020-01-17 17:52] howardjohn opened #20268 "TestSecureIngressSDS test flaky"
https://testgrid.k8s.io/istio_istio_postsubmit#integ-k8s-115_istio_postsubmit&width=20&exclude-non-failed-tests=

https://prow.istio.io/view/gcs/istio-prow/logs/integ-k8s-115_istio_postsubmit/363
https://prow.istio.io/view/gcs/istio-prow/logs/integ-k8s-116_istio_postsubmit/1014

[2020-01-17 18:00] jaygorrell commented on #19111
Not mine, but I just ran into this issue that still seems valid: https://github.com/istio/istio/issues/15010

It got tagged to a future milestone but then closed by the stale-bot.

[2020-01-17 18:22] amir-hadi commented on #18557
@prune998 We were able to stop the memory issues by disabling retries on all edges. There was another stream from that `processing-service` to a service `X` and we disabled retries on `X` as well. Now the memory is stable.

The only remaining parts are the `RST_STREAM` with error code `0` that we get a lot and sometimes gRPC 14 (UNAVAILABLE) errors, but I guess thats a separate ticket...

[2020-01-17 18:54] prune998 commented on #18557
RST_STREAM happen every one and a while when Envoy reload (and close the stream to Pilot).  Is this what you are talking about ?

I'm glad you found the solution to your issue.

[2020-01-17 18:55] richardwxn opened #20270 "gencheck issue for operator test output"
Not sure whether it is the gen check's issue or the update-goldens logic issue.

Some of the operator test output files didn't include all the output but with just the objects we are select to compare, but now this would lead to failure of the make check-clean-repo check as it believes all the output of manifest generate command should be written to output.

[2020-01-17 19:04] ericvn opened #20272 "istio/istio: `BUILD_WITH_CONTAINER=1 make sidecar.deb` fails on MacOS"
**Bug description**
Trying `BUILD_WITH_CONTAINER=1 make sidecar.deb` on MacOS fails:
[code]

**Expected behavior**
`BUILD_WITH_CONTAINER=1 make sidecar.deb` should work on MacOS. Note that one does need to build using the container as some linux function is needed.

**Steps to reproduce the bug**
Prepare MacOS development as specified.

Run `BUILD_WITH_CONTAINER=1 make sidecar.deb`

**Version (inc

[2020-01-17 19:11] esvirskiy opened #20274 "Issues after upgrading from 1.3.x to 1.4.x"
**Bug description**
We are using coredns to rewrite hostnames to services, after upgrading to 1.4, services 404 unless a host header of the kubernetes DNS name is supplied.

example:

curl -I http://service.com
HTTP/1.1 404 Not Found
...
curl -I http://service.com -H "Host: service.namespace.svc.cluster.local"
HTTP/1.1 200 OK

I have tried to set a host header in Virtual Service by doing the follo

[2020-01-17 19:14] sushicw opened #20275 "Performance test Galley `enableAnalysis` on a large cluster"
To make sure we understand the performance implications of the currently-experimental `enableAnalysis` flag, we should do perf testing on a large cluster with and without it and measure the difference.

https://github.com/istio/istio/issues/17863 might make this easier.

[2020-01-17 19:21] sushicw opened #20276 "Add `istioctl analyze` to sample and/or tutorial docs"
In order to help increase awareness of `istioctl analyze` and train users in its use, we should add it to some of our existing sample and/or tutorial documents.

For example, we could run `istioctl analyze` at the end of installing Bookinfo, to verify everything looks correct. Or we could create a tutorial to demonstrate the workflow of:
1. have a config bug
2. run `istioctl analyze` to find it
3.

[2020-01-17 19:28] howardjohn commented on #20047
I have been testing with many replicas for a long time. No issues after the above fix

[2020-01-17 19:28] #20047 closed

[2020-01-17 19:32] rshriram commented on #20262
can you give some stats on the configs you have in your system (EnvoyFilters, or other networking APIs, etc.) ?

[2020-01-17 19:32] rshriram commented on #20262
cc @howardjohn / @mandarjog

[2020-01-17 19:33] howardjohn opened #20277 "istiod: upgrade path testing"
Istiod has a considerable number of update paths we need to verify. The table below attempts to capture all of them and our progress on testing these. If you are working on this please add yourself as an owner.

| Start | End | Owner | Results |
| - | - | - | - |
|Default 1.4|Default 1.5|||
|SDS 1.4|Default 1.5|||
|Minimal 1.4|Default 1.5|||
|Demo 1.4|Demo 1.5|||
|Ingress SDS 1.4|Default 1.5|||
|D

[2020-01-17 19:33] rshriram commented on #20246
oops. sorry that was a typo.

[2020-01-17 19:35] howardjohn commented on #20262
Can you upload the cpu profile as well?

Also is my math here correct that you are deploying a new pod every 4s?

[2020-01-17 19:35] howardjohn commented on #20262
And are the pods all in one deployment/Service?

[2020-01-17 19:58] howardjohn opened #20279 "istiod: disable control plane security by default"
With istiod, we can do tls without the "controlPlaneSecurity" option (a bit confusing, but its actually still secure). We only need that if migrating from 1.4 with `controlPlaneSecurity`, so we can default it off and add an upgrade note.

[2020-01-17 20:03] howardjohn commented on #17568
Still flaky?: https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/20248/unit-tests_istio/6734

[2020-01-17 20:47] #20272 closed

[2020-01-17 20:59] nmittler commented on #14692
AFAIK nothing beyond https://github.com/istio/istio/issues/14692#issuecomment-559235529.

For a short-term fix, I think all we would have to do is filter resources from the `kube-system` namespace when talking to remote API Servers. If so, I should be able to cook something up early next week (hopefully in time for 1.5).

@howardjohn @costinm @smawson does that sound about right?

[2020-01-17 21:21] #17216 closed

[2020-01-17 21:21] #19146 closed

[2020-01-17 21:22] howardjohn commented on #17638
We have no plans to make changes to the legacy helm charts anymore

[2020-01-17 21:22] #17638 closed

[2020-01-17 21:49] anupash147 commented on #20255
i did try putting a different string as well, it did not work.. Another thing i observed that istio templates have only provision for values; what it means is if I have to use true/boolean the operator used is exists.

[2020-01-17 21:49] bplotnick opened #20282 "Open design docs to the public"
Currently the design docs are not publicly accessible and [require](https://github.com/istio/community/blob/master/CONTRIBUTING.md#design-documents) requesting membership of a google group. This is unusual for OSS in my experience, and is burden on the public - you wouldn't ask people to sign up to see the source code, right?

Please make these documents open to the public.

[2020-01-17 21:53] gargnupur opened #20283 "Have same metric in telemetry v2 for tcp in 1.5 as v1 in 1.4"
**Bug description**
Have same metric in telemetry v2 for tcp in 1.5 as v1 in 1.4
Current implementation of tcp v2 metrics used http metrics only which is not correct and tcp should have it's own metrics like in 1.4
Ref: https://istio.io/docs/reference/config/policy-and-telemetry/metrics/

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ X]

[2020-01-17 21:54] howardjohn opened #20284 "Test/Support gRPC xDS"
gRPC has added native support for xDS. We should figure out if they can work with Pilot, add tests if possible, etc.

[2020-01-17 21:55] #18675 closed

[2020-01-17 22:48] rlenglet commented on #17318
Yes, commit SHAs have to be explicitly picked up in each release branch. Istio 1.5 won't have that problem. But we still have to update SHAs manually in `release-1.3` and `release-1.4`.
I've done the work in `release-1.3` for the upcoming 1.3.7: https://github.com/istio/operator/pull/754, https://github.com/istio/istio/pull/20256. I will do the same for `release-1.4` ASAP.

[2020-01-17 23:12] rlenglet commented on #17318
Fixing this with https://github.com/istio/istio/pull/20286. This will make it into Istio 1.4.4.

[2020-01-17 23:21] rlenglet commented on #19720
I don't think we need to make this optional.
And yes, the template files under [manifests/](https://github.com/istio/istio/tree/master/manifests) are the ones that need to be modified.

[2020-01-17 23:23] rlenglet commented on #19720
Also the similar template files in the Helm charts under [install/kubernetes/helm/](https://github.com/istio/istio/tree/master/install/kubernetes/helm) may need be modified. Those will be deprecated in 1.5, so that may not be necessary.

[2020-01-17 23:43] marcellodesales commented on #18557
@prune998 do you have any reference on that? We are seeing the `OOM killed` while serving  `server streaming` endpoints (using Istio Ingress Gateway as `north-south` LB) plus the `UNAVAILABLE` errors using `1.4.2`... Maybe that's unrelated to `bidi streams`, but I'd like to proxy the info to our team...

[2020-01-17 23:56] howardjohn commented on #19276
Still flaking? https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/20213/unit-tests_istio/6766

[2020-01-18 00:09] #20279 closed

[2020-01-18 01:17] ayj opened #20289 "Make `istioctl x post-install webhook` commands work with istiod"
`istioctl x post-install webhook` assumes the webhooks use key/certs from a k8s secret. Istiod generates its owns certs. istioctl needs to be updated to handle this case.

[2020-01-18 01:32] elfinhe opened #20290 "istioctl manifest apply: got ValidationError"
Using istioctl built from master:1a7f7645a
K8s: 1.13.11-gke.14.

Running `istioctl manifest apply`:

[code]

[2020-01-18 04:16] dockercaptain opened #20293 "frontend virtual service requests k8s internal fqdn for a service always gives 404 and because of that istio gives 500 internal error"
i have created a virtual service and able to access the frontend service via istio's ingress gateway, but if frontend service needs to access another backend service within the k8s cluster using it's internal name  which is backend1.ns1.svc.cluster.local. it always gives 404 and because of that istio gives 500 internal error to my main request(that i made for frontend service). interesting thing i

[2020-01-18 05:01] #13433 closed

[2020-01-18 05:21] mandarjog commented on #4695
Reopen, adapter hack candidate

[2020-01-18 05:21] #4695 closed

[2020-01-18 07:09] jasonwzm commented on #20290
Which version are you upgrading from? Do you know if, during upgrade, any CR is being applied?

[2020-01-18 09:38] deveshmehta commented on #19263
I mange to create additional load balancer just by changing the name of the Service and by keeping rest of the parameters same :).

In my use case, we need both internal and external load balancer to expose service to both internet and internally over different load balancer but need the same DNS name.

Happy to provide more details if you need any..

[2020-01-18 09:59] deveshmehta commented on #19263
I manage to create additional load balancer by just changing the Service name and keeping rest of the parameters same.

In my use case, we need both internet facing and external load balancer to expose services to internet and to the internal network separately by keeping both end point URL same.

Happy to provide more details if you need any.

[2020-01-18 11:58] tareqhs commented on #19993
The isdue turned out to be in the service port name. It does not follow a strange undocumented convention of having a prefix ‘[protocol]-‘ thus istio defaulted to TCP mode. Istio tries to turn every connection into HTTP/2 which causes issues on the pod side.

The documentation should state this convention clearly in bold IMHO.

[2020-01-18 12:30] ramaraochavali opened #20295 "Proxies loose clusters some times when Pilot is restarted"
**Bug description**
When Pilot instances get restarted, some times Proxies loose cluster and listener information leading to request failures.

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ X] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
Proxies should n

[2020-01-18 12:34] ramaraochavali commented on #20295
Relevant Proxy Log
[code]
Please note that remove cluster log just after it got disconnected from Pilot

Relevant Pilot Logs - Notice it is sending only 17 clusters

[code]

[2020-01-18 12:42] ramaraochavali commented on #20295
Looks like this is caused by this https://github.com/istio/istio/pull/19107 and specifically this comment https://github.com/istio/istio/pull/19107#discussion_r353016536.

This is opening the gRPC server before cache sync happens. However it is expecting that the readiness probe ensures that no Envoy connects to it because we mark Pilot ready after caches have been synced.

I think this is what is

[2020-01-18 15:01] trnl commented on #11366
@luksa, on the following:

Can you elaborate on this? May be I can throw some braincycles to this.

[2020-01-18 17:10] elfinhe commented on #20290
it is not an upgrade, just a plain install. I tried it again after cleaning up all istio crds, the error is still there.

[2020-01-18 18:41] michaelbannister commented on #19720
Thanks! I'm making a start on this. I've asked for some help regarding local testing over in the istio slack channel #test-and-release

[2020-01-18 21:30] piyush-pruthi commented on #20262
@howardjohn : On an average, in every 8 seconds, a new nginx deployment is being created.

[pprof.pilot-discovery.samples.cpu.041.pb.gz](https://github.com/istio/istio/files/4081796/pprof.pilot-discovery.samples.cpu.041.pb.gz)

[2020-01-18 23:36] howardjohn opened #20299 "Make test framework not dependent on Galley"
Currently every test is dependent on Galley, because we apply config through the galley interface. This is not really needed; in reality almost all of the tests are not calling Galley. We should make Galley truly optional; for now we will need a workaround to support running k8s tests without Galley until we have MCP in pilot

[2020-01-18 23:42] howardjohn commented on #20262
So you have 200 deployments of a single pod each, right? What you have described is pretty much the worst case scenario for Pilot. You are making changes fast enough that it needs to do a ton of work, but slow enough that it won't group changes together as a batch

[2020-01-19 00:04] howardjohn commented on #20219
All of these have been fixed except the authz stuff. @yangminzhu are you still working on this? This will block us from updating Envoy

[2020-01-19 00:28] howardjohn commented on #20299
related https://github.com/istio/istio/pull/20300

[2020-01-19 00:29] howardjohn commented on #17512
https://github.com/istio/istio/pull/20297 helps this

[2020-01-19 05:02] #15358 closed

[2020-01-19 05:34] jasonwzm commented on #20290
What version of Kubernetes are you using? In 1.5, we will only support Kubernetes 1.14, 1.15 and 1.16.

Here is the output I get on a Kubernetes 1.14 cluster:
[code]

[2020-01-19 05:39] elfinhe commented on #20290
thanks jason, i am using 1.13.11-gke.14. That must the root cause. Now upgrading..

[2020-01-19 05:43] arunbatar commented on #17810
I am also having this issue as well with just plain Envoy installed on Digital Ocean Kubernetes cluster.

[2020-01-19 07:29] arunbatar commented on #17810
My issue was solved by naming the service port correctly according to:
https://istio.io/docs/ops/configuration/traffic-management/protocol-selection/

[2020-01-19 07:46] arunbatar commented on #17810
For someone configuring Envoy directly, this is the related option if upstream is using HTTP2:
https://www.envoyproxy.io/docs/envoy/v1.12.2/api-v2/api/v2/cds.proto#envoy-api-field-cluster-http2-protocol-options

[2020-01-19 13:40] 1hanymhajna commented on #11660
I tried to use this annotation but it it seems like istio ignore this annotation
my global istio configuration is:
[code]
And want to exclude specific port in specific pod ,
as the documentation i can use this annotation in deployment level:
[code]
but it seems like istio ignoring it, maybe i miss understand how i have to configure it ..
anyone can help with that?

[2020-01-19 13:48] 1hanymhajna opened #20307 "istio 1.2.2 ignore include/exclude port annotation in pod level"
Hi,
i'm using istio vesion 1.2.2, mtls feature is enabled,
As the documentation, i can exclude
I tried to use this annotation but it it seems like istio ignore this annotation exclude specific inbound port from the mesh,
my global istio configuration is:
[code]

And want to exclude specific port in a specific pod ,
as the documentation I can use this annotation in deployment level:
[code]
**And th

[2020-01-19 14:29] #20295 closed

[2020-01-19 15:23] 1hanymhajna opened #20308 "Istio 1.2.2 upgrade path to 1.3.6 with SDS"
Hello,
We are trying to upgrade istio to latest version 1.4.x and in the documentation mentions that we have to pass throw minor version 1.2.x -> 1.3.x -> 1.4.x
Our istio running with SDS enabled & MTLS enabled
Current behavior:
After few mins from the upgrade, we notice that istio-sidecar in the pods crashed and failed to start again, with this error:
[code]
Do we have to do more soft upgrade lik

[2020-01-19 15:38] chadlwilson commented on #13840
After another round of digging and trying to parse all the comments above; https://github.com/kubernetes/client-go/issues/374 also seems to be related root of the problem here. Fallback to a 15 minute kernel timeout client side (apiserver in this case) due to go client timeouts not working; dead connections not being purged and everything being multiplexed over a single HTTP/2 connection.

Has any

[2020-01-19 15:41] howardjohn commented on #20307
Please try on a newer version, this may have already been fixed: https://istio.io/news/support/announcing-1.2-eol/

[2020-01-19 15:42] howardjohn commented on #20308
We need more info, can you send the full logs of the proxy?

What replicaset?

Upgrades require restarting pods in order to get the proxy updated

[2020-01-19 15:52] amir-hadi commented on #18557
Hey @prune998,

we get the `RST_STREAM` and `UNAVAILABLE` errors in our application, not in the `envoy` logs. Are you telling me that this is normal? If yes, this would mean that you can never run a application that requires long living connections without TCP resets all the time in a service mesh, which would be kind of a deal breaker for me. Can you clarify this?

Best,
Amir

[2020-01-19 16:01] 1hanymhajna commented on #20307
Thank you @howardjohn for your fast answer,
Can you please send the link to the relevant issue?

[2020-01-19 16:17] 1hanymhajna commented on #20308
here is the full logs for the proxy:
https://gist.github.com/1hanymhajna/c3a2d39af8490f88e81fbe506cea694c

Regarding the replicaset:
[code]

[2020-01-19 16:34] howardjohn commented on #20308
The readiness probe fails because Envoy is constantly crashing. Not sure why though, the stack trace doesnt have anything useful

[2020-01-19 17:23] 1hanymhajna commented on #20308
what is your suggestion for the upgrade path from 1.2.2 to the latest version?

[2020-01-19 18:52] michaelbannister commented on #19720
I've managed to run some tests (`make run-micro-tests` in the `manifests` directory) that deploy from the manifests into my local (docker-desktop) cluster.
The `istio-galley` pod is crash-looping, I think because the `istio-proxy` container can't write to `/etc/istio/proxy/envoy.yaml` if it's run as user 1337; the directory is owned by root.

Log from the container:
[code]

[code]

I thought all t

[2020-01-19 19:19] jacob-koren-zooz commented on #20308
It's reasonable to restart the pods to get the envoys upgraded, but backward compatibility with the old envoys is a must. I guess we are missing the right upgrade path

[2020-01-19 19:30] howardjohn commented on #20308
Yes, we (try) to ensure backwards compatibility with older envoys and test that. something must be going on here, but it's hard to tell what from the logs. @lambdai any ideas?

[2020-01-19 20:27] fcantournet commented on #20264
I agree, don't see a good general solution from Helm templating either.
I think the best solution to this is in the code via uber's automaxprocs.

There is on-going discussion(IIRC), about making this directly in the go runtime, but it's pretty complicated because you have to parse the cgroups stuff from `runtime` i.e essentially in assembly.

[2020-01-19 20:37] howardjohn commented on #20264
automaxprocs seems good to me. I would love to see some real numbers from a large Pilot deployment to see if it makes a tangible difference though. I'll try it out myself if I find some time

[2020-01-19 21:39] howardjohn opened #20313 "iptables tests should be in golang"
The tests can call out to shell if needed, but we should not re-invent a test suite in bash. Writing in go allows standard `go test` etc to work and is more intuitive to understand.

cc @abhide @rlenglet

[2020-01-20 01:31] richardwxn opened #20316 "AddonComponent issues of new operator API"
There are couples issues regarding addoncomponents of new operator API, for example: https://github.com/istio/istio/issues/20207, https://github.com/istio/istio/issues/20137.

For the enablement part, part of it would be addressed by: https://github.com/istio/istio/pull/20244. Besides that, look at the code, seems like the AddonComponent is treated as one component and thus has only one helmrender

[2020-01-20 05:01] piyush-pruthi commented on #20262
yes...200 deployments of single pod each.
A major bottleneck, this creates is - beyond 100 workloads deployed, the ping time for a service starts taking more than 10 minutes.
Also, when we deployed a single workload per second, the cpu usage graph was like this only.

Can we configure pilot batch size to tune for performance acc. to our requirements?
Also, can you suggest some things here to reduc

[2020-01-20 05:01] #14430 closed

[2020-01-20 05:02] #15385 closed

[2020-01-20 05:02] #15706 closed

[2020-01-20 05:02] howardjohn commented on #20262
@piyush-pruthi I think there must be some other factors here. Pilot should have no correlation to your service ping time? Its on the control plane path only, not impacting traffic to your service

[2020-01-20 05:02] #15718 closed

[2020-01-20 05:03] mandarjog commented on #20262
Are you holding the first ping until the pods are ready like knative?

[2020-01-20 05:40] howardjohn opened #20319 "Possible duplicate RDS response"
Logs show

[code]

For very new pod. We should see why RDS is happening twice and see if it can be improved

[2020-01-20 05:42] piyush-pruthi commented on #20262
This is the script for deploying workloads.
Create a deployment - wait for it to be in ready state - note ping time - then go for next deployment.

<img width="977" alt="Screenshot 2020-01-20 at 11 07 25 AM" src="https://user-images.githubusercontent.com/55531020/72701484-76e2aa00-3b75-11ea-88c5-0d41c1cbf80d.png">

[2020-01-20 05:44] howardjohn commented on #20262
Reproduce this.

Same setup, 200 deployment+svc+vs (single replica). I created them every 1s though since I am impatient...

results of various settings

Baseline: https://snapshot.raintank.io/dashboard/snapshot/MPan18WkEpkp780Q3VmNwvEAthvXmn3g?orgId=2. 5 CPU, 2.6s push time

PILOT_PUSH_THROTTLE=1: https://snapshot.raintank.io/dashboard/snapshot/EJujuyFo3K8wXY01JenH75CUkeVxGf1r?orgId=2. 2.5PCPU, 5

[2020-01-20 06:39] carolynhu commented on #20263
/cc @elfinhe

[2020-01-20 06:53] elfinhe commented on #20263
yes, this is fixed with https://github.com/istio/istio/pull/20187

[2020-01-20 07:44] rbraeunlich commented on #19666
@bianpengyuan @douglas-reid
Sorry to keep bothering you but I still couldn't fix this. Might it be an option to upgrade my Kubernetes cluster so that I'll get Istio 1.2?

[2020-01-20 08:02] morvencao opened #20322 "Operator init command doesn't honor 'wait' and 'readiness-timeout' options"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

Build the istioctl with latest code from master, try the `istioctl operator init -w`, you will find that it will exit before all the operator contr

[2020-01-20 08:20] 1hanymhajna commented on #20308
i tried this path and it failed as well `1.2.2 --> 1.2.10 --> 1.3.6`
[code]
Failed in both two scenarios:
- Upgrade to 1.2.2 then to 1.2.10, Then upgrade to 1.3.6 , **Result: istio sidecar crashed when upgrading to 1.3.6**
- Upgrade to 1.2.2 then to 1.2.10, **Do  rolling restart for the sleep & httpbin**, Then upgrade to 1.3.6 , **Result: istio sidecar crashed when upgrading to 1.3.6**

Will try t

[2020-01-20 08:35] richardwxn commented on #19799
The new PR to fix core component enablement issues after new operator API merge: https://github.com/istio/istio/pull/20244.

However, the enablement issue for addOnComponents seems more complicated, check detail here:  https://github.com/istio/istio/issues/20316

[2020-01-20 09:19] hzxuzhonghu opened #20325 "SSE controller duplicate xds push"
For SSE, the gvk of it is same as SE.

We register event handler for it here https://github.com/istio/istio/blob/f729b5aa6d66edd60ae5b48900f620f997e7c5b4/pilot/pkg/serviceregistry/external/servicediscovery.go#L66

and inrenally, we call both `dispatch` and `ConfigUpdate`

https://github.com/istio/istio/blob/f729b5aa6d66edd60ae5b48900f620f997e7c5b4/pilot/pkg/serviceregistry/synthetic/serviceentry/s

[2020-01-20 09:35] irisdingbj opened #20328 "operator fails to generate egressgateway even if I have egressGateways enabled in my iop cr"
[ ] Configuration Infrastructure
[ ] Docs
[X ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

**Ho

[2020-01-20 09:47] irisdingbj opened #20329 "1.5 operator fails to prune resources created by 1.4.x operator"
This is to cover the upgrade path in istio operator.

1. have istio operator and related icp crd and crs installed at version 1.4.3
2. Update istio operator to latest master build and deploy iop crd and cr  to master
3. The old deployment will not be deleted if it is not part of current iop due to annotation changes.

[2020-01-20 10:43] 1hanymhajna commented on #20308
@howardjohn , tried as well this path`1.2.10 --> 1.3.0` and it still with the same problem,
istio sidecar crash.
**i run the envoy sidecar with _TRACE_ mode to give you more details:**
here: https://gist.github.com/1hanymhajna/18d7a47171d9dc02b7a7fa8a755f031e#file-envoy-trace-log
**### node agent logs:**
https://gist.github.com/1hanymhajna/18d7a47171d9dc02b7a7fa8a755f031e#file-istio-nodeagent-log

[2020-01-20 10:48] kong62 commented on #11828
kubectl get svc -n istio-system istio-ingressgateway
NAME                   TYPE       CLUSTER-IP      EXTERNAL-IP   PORT(S)                                                                                                                      AGE
istio-ingressgateway   NodePort   10.96.201.173   <none>        15020:30254/TCP,80:31480/TCP,443:31443/TCP,15029:30685/TCP,15030:30013/TCP,15031:30164/TCP

[2020-01-20 12:00] prune998 commented on #18557
@amir-hadi, NO, this is not normal. I do have streaming connexions opens for days, maybe months, pushing tons of gigabytes in them.

So :
- this issue is about a kind of memory leak, that appear because Istio set a default retry policy. For envoy to be able to retry a request, it have to cache everything happening in the TCP connexion to the host. Obviously, for HTTP2 streams, this mean caching ev

[2020-01-20 12:03] #18557 closed

[2020-01-20 12:06] johscheuer commented on #17886
I will try to look into this issue again (was on vacation). I think there is some mismatch in the certificate or the citadel implementation. Also notice that the DR doesn"t deactivate mTLS for the node_agent and citadel (because both are not managed by Istio itself: https://github.com/istio/istio/pull/19553#issuecomment-566175360).

[2020-01-20 12:41] dgn commented on #20277
What do we do about the different ways of installing Istio? For 1.4 I know four methods from the top of my head: helm, istioctl, in-cluster operator and istio/installer

[2020-01-20 13:25] wuestkamp commented on #20153
Same issue. When using the `--set values.pilot.resources.requests.memory=1024Mi` for me its not applied to pilot but to:

[code]

[2020-01-20 13:46] giggio commented on #15385
This is important. Please reopen.

[2020-01-20 15:02] ericvn opened #20330 "release-builder: Debian sidecar copy fails"
**Bug description**

Trying to run release-builder locally (note that I am doing it from within a docker container and IN_BUILD_CONTAINER=1), and to the point where the Debian sidecar is being built. It gets built into the work/out directory. The next statement tries to copy it from `manifest.RepoOutDir("istio")` where it doesn't exist. I'm not sure if the code is building it to an incorrect locat

[2020-01-20 15:04] howardjohn commented on #20290
did we explicitly break 1.13 support? from the CRD stuff?

[2020-01-20 15:05] esnible commented on #15837
@irisdingbj Will you be able to get this in 1.5?

[2020-01-20 15:11] dgn commented on #20316
I agree with changing AddonComponents to work like normal Components. Also, it seems that there is not a single component that works with the default helmSubDir, the values must all be taken from the translation yamls

[2020-01-20 15:44] dgn commented on #20316
I will take a shot at making addonComponents work like normal components

[2020-01-20 15:53] howardjohn commented on #20277
helm -> helm has none of the new changes, so is much lower risk (but should still be tested). I am not sure of the upgrade path from helm -> operator @ostromart ?
istio/installer was never documented on istio.io or beyond an "experimental" stage. At its core its just the operator, so presumably upgrade there works but I don't think we need to prioritize it.
istioctl and operator should work the sa

[2020-01-20 15:58] howardjohn commented on #20308
https://github.com/envoyproxy/envoy/issues/8941 Looks like maybe this bug?

@JimmyCYJ in 1.3 did we start expecting the trustworthy JWT to be mounted and now we are crashing because it isn't because they are using old proxies?

[2020-01-20 16:00] ramaraochavali commented on #20260
I am closing this for now as we are not able to reliably reproduce this. But if it happens again and we have reproducible steps, I will reopen.

[2020-01-20 16:00] #20260 closed

[2020-01-20 16:30] anoopl commented on #19828
@xiaozhongliu  how did you fix this? can you please share the working yamls?

[2020-01-20 18:13] Nino-K commented on #19450
Looks like fixed here https://github.com/istio/istio/pull/20237

[2020-01-20 18:13] #19450 closed

[2020-01-20 18:14] Nino-K commented on #16950
Done here https://github.com/istio/istio/pull/19978

[2020-01-20 18:14] #16950 closed

[2020-01-20 18:19] howardjohn commented on #20328
dupe of https://github.com/istio/istio/issues/19799? Or is this different

[2020-01-20 18:43] elfinhe commented on #20290
I think so. AFAICT, the Isito 1.5 CRDs cannot be installed in K8s 1.13.

[2020-01-20 19:08] howardjohn opened #20334 "Deprecate duplicate bookinfo E2E tests"
Motivation for this is to migrate our testing over istioctl, which is easier to do with the new test framework, and reduce number of tests we have with duplicated coverage. All of these can/should/might be covered by istio.io testing

The test currently covers:
* [ ] TestVersionRouting - this is routing based on version. It tests the routing for user "jason". As far as I know we currently have no

[2020-01-20 19:15] howardjohn commented on #20290
what specifically breaks it? 1.13 is the default on GKE...

On Mon, Jan 20, 2020 at 10:43 AM Tao HE <notifications@github.com> wrote:

[2020-01-20 19:24] elfinhe commented on #20290
I guess it is caused by the `nullable` fields in https://github.com/istio/istio/blob/master/manifests/base/files/crd-all.gen.yaml.

https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#publish-validation-schema-in-openapi-v2

[2020-01-20 19:26] howardjohn commented on #20290
Should we undo that change? I am not sure `nullable` is worth cutting out support for 1.13, especially to pick up a feature that is alpha in 1.14!

[2020-01-20 19:28] elfinhe commented on #20290
@jasonwzm any way we can have a workaround for the nullable issue?

[2020-01-20 19:50] #19953 closed

[2020-01-20 20:04] howardjohn opened #20335 "Deprecate simple E2E test"
Motivation for this is to migrate our testing over istioctl, which is easier to do with the new test framework, and reduce number of tests we have with duplicated coverage

The test currently covers:
* [x] TestSimpleIngress - just a simple Ingress. Covered by tests/integration/pilot/ingress
* [x] TestSvc2Svc - just a simple service to service call. Covered by 100s of tests, especially TestReachabi

[2020-01-20 20:25] eddiewang commented on #19075
@nigeltiany were you ever able to figure this out?

[2020-01-20 20:34] howardjohn commented on #17933
not stale, the test is skipped

[2020-01-20 20:42] nitishm commented on #15517
I don't think it is just a benign warning.
On seeing this error message in pilot logs
[code]
I also checked the proxy-status and it seems to show STALE CDS entries
[code]

IMO a specific selector for `DestinationRule` like @vadimeisenbergibm mentioned, is the best route.

[2020-01-20 21:06] howardjohn opened #20336 "Deprecate e2e_pilotv2_v1alpha3 E2E tests"
Related: https://github.com/istio/istio/issues/20335, https://github.com/istio/istio/issues/20334

This will help remove duplication in our testing and move everything to the new istioctl installation

* [x] TestMTlsWithAuthNPolicy - just a subset of TestReachability
* [x] TestAuthNJwt, TestGatewayIngress_AuthN_JWT - this is covered by tests/integration/security/jwt_test.go
* [x] TestRouteHTTPViaE

[2020-01-20 21:13] #20246 closed

[2020-01-20 21:24] howardjohn commented on #19276
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/20331/unit-tests_istio/6901

[2020-01-20 21:34] nigeltiany commented on #19075
@eddiewang not yet. I'm still waiting for the team's response

[2020-01-20 22:00] balamuru commented on #20098
Works with upstream k8s as long as i add the service-account-issuer and service-account-signing-key-file parms to kube-apiserver.yaml.

At this point (or in the near future), is sds a recommended means of secrets delivery or is the file mount still the way to go. We have to make a decision at work but I don't see a clear recommendation either way?

Closing the issue for now

[2020-01-20 22:00] #20098 closed

[2020-01-20 22:16] ericvn opened #20338 "istio/istio: `BUILD_WITH_CONTAINER=1 make istioctl.completion` fails on MacOS"
**Bug description**

Using MacOS,  `BUILD_WITH_CONTAINER=1 make istioctl.completion` fails
[code]

The issue is that the makefile running on Linux in the container is trying to run a MacOS binary crated during the build process.

**Expected behavior**

`BUILD_WITH_CONTAINER=1 make istioctl.completion` shown run successfully on a Mac

**Steps to reproduce the bug**

Prepare MacOS development as spe

[2020-01-20 23:48] howardjohn opened #20343 "TestEDSServiceResolutionUpdate Race Condition"
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/1164

@ramaraochavali this could be from https://github.com/istio/istio/pull/20323, I didn't get a chance to look closely though

[2020-01-20 23:55] eddiewang commented on #10827
@dweidenfeld were you ever able to figure out a solution for this? I tried setting the `externalTrafficPolicy` to `Local` to no avail :(

[2020-01-21 01:51] richardwxn opened #20345 "IOP API different levels of override inconsistent"
There are different types of customization we can do using IOP: via the operator API, values.yaml pass through or overlay the k8s object directly, and they can be defined in file or using --set override.

However there are some inconsistency when using them. For example: https://github.com/istio/istio/issues/20153, overriding the k8s settings via values.yaml pass through would have no effect as it

[2020-01-21 01:52] richardwxn commented on #20345
/CC @ostromart @howardjohn

[2020-01-21 02:11] #20338 closed

[2020-01-21 02:41] rjshrjndrn commented on #14708
Facing the same Issue. Is there any annotation which you can use to tell don't use http2 for a particular deployment ?

[2020-01-21 05:00] #8619 closed

[2020-01-21 05:11] piyush-pruthi commented on #20262
After this configuration on my setup,
CPU came down significantly.

With PILOT_PUSH_THROTTLE=1:
https://snapshot.raintank.io/dashboard/snapshot/U2RWfGwn3nndegfAUFMxYXjth27y02sD?orgId=2
2.2 CPU

PILOT_DEBOUNCE_AFTER=10s:
https://snapshot.raintank.io/dashboard/snapshot/lj2WXXrZSZOAJdVMgOI5QqM1M62ohRJp?orgId=2
1.25 CPU

PILOT_PUSH_THROTTLE=2:
https://snapshot.raintank.io/dashboard/snapshot/F4S8d2J6QE

[2020-01-21 05:22] ramaraochavali commented on #20343
@howardjohn It seems not related to #20323 , but a race with regular push and debounce happening in test and SetDestinationRules seems to modify the DR' host. May be related to removing the sleep in `initLocalPilotTestEnv`. Will take a lookl

[code]

[2020-01-21 06:43] #20325 closed

[2020-01-21 07:21] irisdingbj commented on #20328
This is a different problem. The issue here is we use protobuf as source of truth and the generated pb.go are using different names for ingressGateways and egressGateways.

[2020-01-21 07:21] dweidenfeld commented on #10827
@eddiewang unfortunately not. We live with the fact that we cannot use the client IP for now, but hopefully this will change with Anthos / Istio 2 / 1.x...

[2020-01-21 08:05] Paic opened #20347 "Multiple ingressgateway TLS Ticket keys"
**Describe the feature request**

Currently, TLS sessions ticket keys are generated internally per envoy, which mean multiple ingressgateway will generate different keys, and sessions will not correctly be resumed (unless some kind of sticky session is used in the K8s service).

It could be nice if we found a way to generate and share keys so that sessions could be resumed independently from the i

[2020-01-21 08:21] prageethw commented on #16126
to set global restrictions... on sidecars

 --set values.global.proxy.resources.limits.memory="300Mi" \
 --set values.global.proxy.resources.limits.cpu="500m" \

[2020-01-21 09:27] tiaroy opened #20350 "Pods of Bookinfo failed to startup"
**Bug description**
Install k8s with 3 nodes
install istio with demo profile
install bookInfo with "kubectl apply -f samples/bookinfo/platform/kube/bookinfo.yaml"
Then, all pods of bookInfo is not startup.
The error message in Replica Sets are below:
"Error creating: Internal error occurred: failed calling webhook "sidecar-injector.istio.io": Post https://istio-sidecar-injector.istio-system.svc:44

[2020-01-21 09:39] Deathhush commented on #14708
I am have encountered a similar issue and not sure if this is the right place to discuss this. I have a micro service which only supports http 1.1. Is it possible for the gateway to support 2.0 while still forward the request to a 1.1 only backend service?

[2020-01-21 09:55] tiaroy commented on #20350
kubectl get all -o wide -n istio-system
NAME                                          READY   STATUS    RESTARTS   AGE   IP            NODE     NOMINATED NODE   READINESS GATES
pod/grafana-6b65874977-8zkq5                  1/1     Running   0          53m   10.244.1.29   knode1   <none>           <none>
pod/istio-citadel-f78ff689-7vxr4              1/1     Running   0          53m   10.244.2.18

[2020-01-21 10:17] tj-kev commented on #19263
@deveshmehta
Yeah that worked. The downside being from a monitoring perspective it gives the impression all traffic is coming from a single source (istio-ingressgateway). Would be nice to see the separation between internal and external with actually having separate ingress gateways.

Not a big deal until 1.5 is out though.

Thanks

[2020-01-21 10:50] tj-kev commented on #19263
@deveshmehta
Played with this a bit further and that solution might actually be a security issue if I've understood you correctly.

Setup 2 services both pointing to the same ingress gateway. 1 for an internal LB and 1 for an external.

I was able to access internal services from the external load balancer just setting a "Host" header with the internal domain.

Only way to solve that would be sepa

[2020-01-21 11:14] piotrmsc commented on #20153
it also does not work for mixer telemetry: `istioctl manifest apply --set values.mixer.telemetry.resources.requests.memory=256Mi --set values.mixer.telemetry.resources.limits.memory=512Mi --set values.mixer.telemetry.resources.requests.cpu=100m --set values.mixer.telemetry.resources.limits.cpu=500m`

but works for mixer policy

/CC @richardwxn

[2020-01-21 11:38] dgn commented on #20316
See https://github.com/istio/istio/pull/20352

[2020-01-21 13:28] sneko commented on #13851
Hi, any news?

[2020-01-21 13:48] ahmedwaleedmalik commented on #19990
Any update on this ?

[2020-01-21 14:46] dgn opened #20354 "flaky test: TestWebhook/key/cert_reload"
This test keeps failing on postsubmit, examples:
- https://prow.istio.io/view/gcs/istio-prow/logs/integ-k8s-114_istio_postsubmit/1191
- https://prow.istio.io/view/gcs/istio-prow/logs/integ-k8s-116_istio_postsubmit/1050
- https://prow.istio.io/view/gcs/istio-prow/logs/integ-k8s-115_istio_postsubmit/399

[x] Developer Infrastructure

[2020-01-21 14:53] howardjohn commented on #20262
push throttle will limit the speed at which updates are sent (as will the denounce), so pods may not be able to communicate to new pods for some period of time. However the new pod should get its own config quickly still

[2020-01-21 14:55] esnible opened #20355 ""istioctl install precheck""
Currently the command `istioctl verify-install` is used to both see if a Kubernetes cluster without Istio is compatible with Istio (a precheck), and to see if a Kubernetes cluster with Istio is running with the original install configuration.

This is confusing.

This work item tracks the proposal https://docs.google.com/document/d/1x7eFR7e7yw_M1KB0ds5XUQPqai7HeSlnNEUyq8dpFeI/edit which is to brea

[2020-01-21 14:56] esnible opened #20356 "Istio operator install documentation improvements"
This issue is based on Erin Gannon’s deck on friction encountered by new users installing Istio in a cluster that already had applications.
https://youtu.be/nGnKkyltm9w?t=284

Erin's user was NOT successful using Operator instructions
https://istio.io/docs/setup/install/standalone-operator/

They felt there was a lack of clarity around prerequisites.  Erin suggested a checklist / command for prere

[2020-01-21 15:14] esnible opened #20357 "Istio install profile documentation"
This issue is based on Erin Gannon’s deck on friction encountered by new users installing Istio in a cluster that already had applications.
https://youtu.be/nGnKkyltm9w?t=284

Erin's user who installed using the Operator felt there were no guidelines for when a particular profile is most appropriate.  (It was not clear when to use one or another.)

Currently the operator instructions at https://is

[2020-01-21 15:21] esnible opened #20358 "Standalone Operator Install should include more expected output and completion checks"
This issue is based on Erin Gannon’s deck on friction encountered by new users installing Istio in a cluster that already had applications.
https://youtu.be/nGnKkyltm9w?t=284

Erin's user felt

-steps without ‘expected output’ created guesswork.  Errors printed even when the command was successful.
- There were Manual steps that should be automatic.  The user had to count on his fingers that the s

[2020-01-21 15:26] esnible commented on #19350
@jwendell after talking with Iris we came to the conclusion that changes are needed in `verify-install`

- We should separate out the compatibility check from the Istio-is-healthy check.
- We need to understand how `verify-install` will work when the user has multiple Istio control planes in the same cluster.

See https://github.com/istio/istio/issues/20355 for separating out precheck.

[2020-01-21 15:31] esnible commented on #19350
@irisdingbj the feedback from Erin Gannon regarding install using the Operator shows that users want to watch the progress if Istio install.  If they are installing via the Operator, and not the CLI, it isn't obvious when Istio becomes available for use.

We need to make sure that `istioctl verify-install` produces good output so that users who are installing via the Operator can run this command

[2020-01-21 15:52] howardjohn commented on #17568
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/20346/unit-tests_istio/6943

[2020-01-21 15:57] howardjohn opened #20359 "TestTrafficShifting test flakes"
This fails really often: https://testgrid.k8s.io/istio_istio#integ-istioio-k8s-tests_istio&width=20

Unfortunately, because this is an istio.io test written in bash, we cannot use our existing deflaking approaches that we use on all of our other tests

@brian-avery @nmittler

[2020-01-21 16:02] Emmerson-Miranda opened #20360 "gRPC config stream closed: 13"
**Bug description**
Envoy proxy close connections on a HTTPS service.

I have published a service using HTTPS following Istion official documentation [Secure Gateway using SDC](https://istio.io/docs/tasks/traffic-management/ingress/secure-ingress-sds/)

Differences:
- I did generate certificates using Hashicorp Vault (using REST pi), not mtls-go-example.
- Gateway, VirtualService, Deployment and S

[2020-01-21 16:07] fpesce opened #20361 "Prepare 1.5 branches"
This issue aims to track all steps needed to prepare the release 1.5 branches/builds.

Please add all steps taken here so we can document for future releases

- [ ] (Optional) Update go dependencies. This must be done **before branching** so that PRs can be easily backported later. (owner: @dgn ) _See discussion below if this should be a pre or post branch item._
  - [x] istio/istio #20420
  - [x]

[2020-01-21 16:08] fpesce commented on #20361
Checklist inspired from the 1.4 one:
c.f.: https://github.com/istio/istio/issues/17856

[2020-01-21 16:15] freedome-max commented on #20360
UnsubscribeSent from my Samsung Galaxy smartphone.
-------- Original message --------From: Emmerson <notifications@github.com> Date: 1/21/20  10:03 AM  (GMT-06:00) To: istio/istio <istio@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Subject: [istio/istio] gRPC config stream closed: 13 (#20360) Bug description
I have published a service using HTTPS following Istion official doc

[2020-01-21 16:23] mt-inside commented on #14598
I agree with all the above: we run a small number of physical gateways (1-m) and have n namespaces with service teams own. They use cert-manager to get LE certs in their namespace; I really don't want to give them *write* access to *secrets* in `istio-system`. It would be very very useful for `credentialName` to be of the form `namespace/name`. We're running with SDS on so it's fine for this suppo

[2020-01-21 16:24] klarose opened #20362 "503 response_code on sidecar soon after "grpc config stream closed""
**Bug description**

We have been seeing external health checks randomly fail with 503 URX reported by the ingress gateway. This failure happens infrequently (once or twice a day per service). I have analysed two cases, and in both I was able to narrow down the cause to 503s being reported by the sidecar itself. The sidecar is reporting 503s with response_code "NR".

These failures are affecting o

[2020-01-21 16:28] 1hanymhajna commented on #20308
Hi @howardjohn , i want to update about tests that I did ,
I tried to upgrade from istio 1.3.0 **without** sds to 1.3.0 **with** sds and it also failed error.
After restarting the pods it back to work again,
Is there any special flow that i have to do in order to enable sds in existing installation?

here is my values for **DISABLED SDS**:
[code]

And here is my values for **ENABLE SDS**:
[code]

[2020-01-21 16:31] howardjohn commented on #20308
SDS is an alpha feature and does not yet support zero downtime upgrades. I believe the requirement is to do a full restart of all proxies for things to start working. In 1.5 we will support file mount -> SDS upgrade with zero downtime and SDS will become the default

[2020-01-21 16:56] 1hanymhajna commented on #20308
@howardjohn is there any plan to fix the issue that we saw when upgrading from 1.2.2 with SDS to 1.3.0 with SDS

[2020-01-21 16:56] Njierahim commented on #20165
I try run out the first code.
function.log(a)"istio.io/istio/pkg/test/framework" function.log(b)"istio.io/istio/pkg/test/framework/components/environment" function.log(c)"istio.io/istio/pkg/test/framework/components/istio" function.log(d)"istio.io/istio/pkg/test/istioio"

[2020-01-21 16:56] howardjohn commented on #20308
Not sure, I am not an SDS expert, @JimmyCYJ can help

[2020-01-21 16:59] cmanzi opened #20364 "Custom CA not working - istio-proxy can't verify (multi-cluster)"
**Bug description**
After installing a custom CA for Citadel to use to issue certificates, istio-proxy sidecars/gateways cannot validate the custom certificates signed by Citadel.

I followed this guide: https://istio.io/docs/tasks/security/citadel-config/plugin-ca-cert/#plugging-in-the-existing-certificate-and-key on setting up a custom CA for Citadel (while working on a multi-cluster setup). I e

[2020-01-21 17:10] GregHanson opened #20365 "Missing validation and inconsistent documentation for protocolDetectionTimeout"
**Bug description**
No validation logic exists for `global.proxy.protocolDetectionTimeout` in https://github.com/istio/istio/blob/master/pkg/config/validation/validation.go but Istio.io docs specify that the value should be >=1ms ([see here]( https://istio.io/docs/reference/config/installation-options/) and [here](https://github.com/istio/api/blob/master/mesh/v1alpha1/config.pb.go#L254) ).  Per en

[2020-01-21 17:17] howardjohn opened #20366 "Envoy hot restarting with SDS, ingress segfault"
Running from master

[code]

cc @JimmyCYJ @myidpt

[2020-01-21 17:24] brian-avery commented on #20161
Ok, then let's discuss with the docs team and leave this one alone for now.

[2020-01-21 17:26] brian-avery commented on #20165
@Njierahim I'm a bit confused by your comment above. Are you seeing an issue with the test framework? What's the error you're seeing?

[2020-01-21 17:27] brian-avery commented on #20164
Thanks @su225

[2020-01-21 17:37] Njierahim commented on #20165
No error where found, I'm just showing an example

On Jan 21, 2020, at 12:26 PM, Brian Avery <notifications@github.com<mailto:notifications@github.com>> wrote:

@Njierahim<https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FNjierahim&data=02%7C01%7CNjie02%40email.franklin.edu%7C703be08a2d0446a120dd08d79e970d62%7C5f846636437d46ba9152d0632a997016%7C1%7C1%7C6371522439216640

[2020-01-21 18:02] k8s-skipper commented on #20033
Same problem, trying to migrate from helm installation to istioctl (as recommended), converting istio-values.yml to istio-profile.yml
`apiVersion: install.istio.io/v1alpha2`
`kind: IstioControlPlane`
`spec:`
`  values:`
`    global:`
`      gateways:`
`        istio-ilbgateway:`
`          enabled: true`
getting
` istioctl manifest generate -f istio-profile.yaml`
` input file failed validation wit

[2020-01-21 18:15] klarose opened #20367 "503s to one of two subsets despite all pods being healthy"
**Bug description**
For a period of time, all requests to one of two subsets in our cluster received a 503 with a response flag UH, indicating that no upstream hosts are healthy. However, there were clearly two healthy upstream hosts which should have mapped to that subset.

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X ] Networking
[ ] Performance and Scalability
[ ] Policies and

[2020-01-21 18:29] mandarjog opened #20369 "Telemetry V2: Support request classification"
Istio has had a frequent FeatureRequest of using `request.path` as a metric dimension.
Simply using `request.path` directly is not recommended as that dimension has unbounded cardinality.

The more approachable way of adding `request.path` information is to classify the request so as to have bounded cardinality. A regex match, prefix match are ways assign requests to classes and then use the class

[2020-01-21 18:32] mandarjog commented on #20369
@douglas-reid @gargnupur

[2020-01-21 18:39] therealmitchconnors commented on #20275
Is there a particular metric we would like to test against?  What does success or failure look like?

[2020-01-21 18:50] sushicw commented on #20275
Good questions! Also, currently open ones.

I'm not sure what metrics we currently pay attention to, but the ones that come to mind for me are latency (are we slowing Galley's critical-path operation down?) and CPU (are we consuming significant cluster resources?)

This issue is framed as "understand the impact", so the success criteria is being confident that we know what the impact of this featu

[2020-01-21 18:57] cmanzi commented on #20364
Also tried this using the provided test certificates under the `samples/certs` directory, with the same result. I will try a local deployment next to see if that works, following this guide (minus GKE): https://github.com/GoogleCloudPlatform/istio-samples/tree/3f286963ec49403b229689bf70cdc501249d9eec/multicluster-gke/dual-control-plane

[2020-01-21 19:05] esnible commented on #20189
Erin Gannon’s deck on friction encountered by new users installing Istio (video at https://youtu.be/nGnKkyltm9w?t=284 ) says "Output of successful commands should print as warnings rather than errors."  The current output, "Finished applying manifest for component X" is not especially clear.  The last line, "✔ Installation complete".  I am not sure what is output when there is problems.  Should we

[2020-01-21 19:10] esnible commented on #20189
Erin Gannon’s deck on friction encountered by new users installing Istio (video at https://youtu.be/nGnKkyltm9w?t=284 ) mentions that users who are deploying Istio on a cluster with existing apps don't know what to do next.

"✔ Installation complete" means the control plane is installed.  Users don't know
- That they may need to enable auto-injection on namespaces and restart pods to "install" the

[2020-01-21 19:12] nmittler commented on #14692
Actually, this will take more work and won't make it for 1.5.  I think this is what needs to happen:

- Pilot will need to know which cluster each endpoint resides in. This is effectively a form of locality, but I'm not sure if Pilot stores this today.
- Pilot will need a blacklist for namespaces that are considered cluster-local.
- When building clusters/listeners, Pilot will only add cluster-loc

[2020-01-21 19:15] esnible opened #20376 "Over-all install documentation improvements"
This issue is based on Erin Gannon’s deck on friction encountered by new users installing Istio in a cluster that already had applications.
https://youtu.be/nGnKkyltm9w?t=284

For the page https://istio.io/docs/setup/install/ Erin pointed out some friction for new users

- There are four install style gudes.  Users don't know how to "Choose the guide that best suits your needs and platform."   =>

[2020-01-21 19:21] PiotrSikora commented on #20361
`istio/envoy` and `istio/proxy` are still blocked pending update to Envoy v1.13.0, which was released yesterday. Please don't branch them just yet.

[2020-01-21 19:24] esnible opened #20377 "Improve instructions for install using istioctl"
This issue is based on Erin Gannon’s deck on friction encountered by new users installing Istio in a cluster that already had applications.
https://youtu.be/nGnKkyltm9w?t=284

- Erin suggested an up-front guide of navigation - which options apply.
- Consider numbering the required steps to complete the task
- Include guidelines for checking prerequisites.  (Perhaps mention `istioctl verify-install

[2020-01-21 19:32] richardwxn commented on #20143
Took a look at the code, I think the reason is that we treat the hpa spec as a whole block during merging. For example, in this case, the overlay you have doesn't specify scaleTargetRef, so during merging with the HPA specs in the templates(which has scaleTargetRef defined actually), the overlay would override the base, resulting in an empty scaleTargetRef.

Maybe we should update the merge logic

[2020-01-21 19:34] ericvn commented on #20330
This is no longer an issue. The problem was determined to be how I set up the container running the release-builder code. I should not have set any TARGET* environment variables.

[2020-01-21 19:34] #20330 closed

[2020-01-21 19:34] howardjohn commented on #20143
Its hard because if we make it purely additive there is no way to remove something that is already set? I think? We should probably do whatever https://github.com/kubernetes-sigs/kustomize does

[2020-01-21 19:34] linsun commented on #20361
@release-managers-1-5 have been created  cc @fpesce @johnma14 @dgn let me know if you have any issues.

[2020-01-21 19:40] ericvn commented on #15090
@linsun I mentioned on the T&R call today that I was successful running the release-builder code inside a docker container on my Mac. This included the build and validation steps. I did copy out of the container a number of artifacts included docker save images of the images, the various archive files which would be available for download as well as artifacts for licenses, etc.

At this point, I w

[2020-01-21 19:45] johnma14 commented on #20361
Thanks @linsun. Appreciate it.

[2020-01-21 19:53] esnible commented on #18972
https://github.com/istio/istio/pull/20169 implements this test.

[2020-01-21 19:53] #18972 closed

[2020-01-21 19:53] esnible commented on #20157
https://github.com/istio/istio/pull/20169 implements the fix.

[2020-01-21 19:53] #20157 closed

[2020-01-21 19:53] esnible commented on #20160
https://github.com/istio/istio/pull/20169 implements the fix.

[2020-01-21 19:53] #20160 closed

[2020-01-21 20:04] myidpt commented on #20366
Which profile were you using? Did you configure the ingress gateway?

[2020-01-21 20:04] JimmyCYJ commented on #20366
@asraa has found this issue before and did some investigation, and had discussed with Envoy team on the fix.
This segfault happens sometimes when Envoy is tearing down. There is a local_info_ which is passed to SdsApi as a const ref, and SdsApi passes local_info_ to gRPC subscription service (GrpcMux). When a segfault happens, the flow is like this
- The Envoy server initialization creates a local

[2020-01-21 20:08] howardjohn commented on #20366
@myidpt I did no option `istioctl manifest apply`.

@JimmyCYJ the other part of the issue is we shouldn't be restarting Envoy when we have SDS at all

[2020-01-21 20:11] JimmyCYJ commented on #20366
One case that Envoy is restarting is that, Pilot agent detects file-mount secret changes, and tries to restart the Envoy. When Envoy is in the middle of initialization and gets hot-restarted by Pilot agent, then the heap-use-after-free could happen. I am not clear if it is the case in your setup.

[2020-01-21 20:11] howardjohn commented on #20366
@JimmyCYJ that is what is happening, but its the wrong behavior. We have SDS so we should not be restarting Envoy...

[2020-01-21 20:15] JimmyCYJ commented on #20366
I agree with @howardjohn When we use SDS with Istiod, we should not let Pilot-agent to hot restart Envoy during file updates.

[2020-01-21 20:27] Stono commented on #20055
OK so I think I've figured this out and @lambdai was right (thank you), so updating here in case other people see the same problem.

What we're seeing above appears to be a symptom rather than a cause.  The extremely high connection count to one instance of the application, was simply envoy _needing_ to create more connections, because that specific instance of the application was being slow to re

[2020-01-21 20:27] #20055 closed

[2020-01-21 20:29] Stono commented on #19932
Will close this as a PR has been merged

[2020-01-21 20:29] #19932 closed

[2020-01-21 20:33] Stono commented on #19285
I'm going to close this issue as I recently discovered that I can create `EnvoyFilter` in the `istio-system` namespace and it is applied to all workloads in the mesh.

@lfundaro i think your issue is subtly different to mine, so might be worth opening a separate issue

[2020-01-21 20:33] #19285 closed

[2020-01-21 20:34] GregHanson opened #20381 "Istioctl manifest not handling array notation args and commas"
**Bug description**
Attempting to deploy istio and configure the `includeIPRanges` with a comma separated list of CIDRs per docs on istio.io and the command can't handle `,` or `/,`
[code]

Docs in question: https://istio.io/docs/tasks/traffic-management/egress/egress-control/#configuring-the-proxy-bypass

[ ] Configuration Infrastructure
[ X ] Docs
[ X ] Installation
[ ] Networking
[ ] Performanc

[2020-01-21 20:36] GregHanson commented on #20381
workaround is to repeat the --set commands:
[code]

[2020-01-21 20:36] GregHanson commented on #20381
cc @esnible

[2020-01-21 20:38] esnible commented on #20381
Reproduce safely with `./istioctl manifest apply --set values.global.proxy.includeIPRanges="172.30.0.0/16\,172.21.0.0/16" --dry-run`

[2020-01-21 21:01] gargnupur commented on #20034
Looks like error is coming from here:
Check failed: performing check operation failed: 1 error occurred:
* evaluation failed at [sourceip.instance.default]'Value': 'lookup failed: 'request.headers''

Can you get the config dump of your istio proxy and see if request.headers is defined there?

[2020-01-21 21:10] rnkhouse commented on #20034
@gargnupur How can I get the istio proxy config dump?

[2020-01-21 21:17] howardjohn commented on #17175
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/1176

[2020-01-21 21:33] howardjohn commented on #20366
We hot restart intentionally for gateway": https://github.com/istio/istio/blob/57d82c21aa090c9dfe5ac312276524fc95ac5832/pilot/cmd/pilot-agent/main.go#L538 because in Gateway config you can reference a patch like /etc/certs or whatever. So we still need a restart for those cases. For longer term maybe we want to actually have Pilot be smart enough to expose those over SDS

[2020-01-21 21:39] kyessenov commented on #19785
Good try, but the bot unassigns things from me.

[2020-01-21 21:41] kyessenov commented on #19785
Re: the original question.

We don't have a capability to parse strings in the template right now. That means the cookie content should be parsed in the adapter, and the example you have should work provided you implement the parsing in the adapter itself.

[2020-01-21 22:04] howardjohn commented on #20366
Actually even that doesn't make sense.. we are watching `/etc/certs`, but the Gateway can reference any path, which we don't watch. So I think we should always set it for empty, and long term properly reload gateway certs

[2020-01-21 22:27] yangminzhu commented on #20219
@howardjohn Sorry for the delay, I was waiting for the other two XL PRs for the AuthZ merged to minimize the code conflicts for this one, sent out the PR for review https://github.com/istio/istio/pull/20382.

[2020-01-21 22:59] howardjohn opened #20384 "first-party-jwt seg fault in pilot"
[code]

From master: `ik manifest apply --set values.global.jwtPolicy=first-party-jwt -y`

[2020-01-21 23:00] howardjohn commented on #20384
@lei-tang

[2020-01-21 23:04] lei-tang commented on #20384
The support of first party JWT is a work-in-progress. Before it is completed, please keep the jwtPolicy=third-party-jwt.

[2020-01-21 23:04] howardjohn opened #20385 "first-party-jwt does not work on ingress"
ingress is created like:
[code]

Note the istio-token there, which will fail

ref https://github.com/istio/istio/issues/20178

[2020-01-21 23:05] howardjohn opened #20386 "API repo blocked from updates"
see https://github.com/istio/istio/pull/20337#issuecomment-576460574

[2020-01-21 23:05] lei-tang commented on #20385
The support of first party JWT is a work-in-progress. Before it is completed, please keep the jwtPolicy=third-party-jwt.

[2020-01-21 23:05] howardjohn commented on #20384
Ok, makes sense. What is the status of this? We cannot ship 1.5 without it

[2020-01-21 23:07] lei-tang commented on #20384
The first part of the implementation has been merged to master. I will complete the implementation before 1.5.

[2020-01-21 23:08] howardjohn commented on #20384
Ok cool. Thanks!

[2020-01-21 23:11] howardjohn opened #20387 "Injection deployment is pruned even when it is enabled"
[code]

On an upgrade from 1.4 to 1.5. Injection should not be pruned here

Likely broken by #20288

[2020-01-21 23:17] brian-avery commented on #20334
Created https://github.com/istio/istio/issues/18235 to track the request routing istio.io test

[2020-01-21 23:17] elfinhe commented on #20387
Nice catch! that sounds like a miss or you have Injector form 1.4 installed before apply.

Actually the SidecarInjector is installed eventually. Let me double check.

[2020-01-21 23:19] howardjohn commented on #20387
Oh I missed the fact it applied it again after. Oops. So maybe its not an issue?

[2020-01-21 23:25] elfinhe commented on #20387
just double checked with master:
[code]

this should not be an issue.

[2020-01-21 23:31] howardjohn opened #20389 "pilotCertProvider=citadel requires trustworthy jwt"
To reproduce, install from master with `--set values.global.istiod.enabled=false`. You will see we don't have the citadel ca cert configmap created, blocking ingress from starting up. This is because we exit early here:

https://github.com/istio/istio/blob/57d82c21aa090c9dfe5ac312276524fc95ac5832/pilot/pkg/bootstrap/istio_ca.go#L156

[2020-01-21 23:39] elfinhe opened #20390 "istioctl should check K8s version (server, kubectl) before applying changes into clusters"
**Describe the feature request**

`istioctl` should check K8s version (server, kubectl) before applying changes into clusters.
Otherwise, users will get a broken Istio install that the manifests are partially applied, e.g., https://github.com/istio/istio/issues/20290, https://github.com/istio/istio/issues/20089.

**Describe alternatives you've considered**
Adding version check logic in `istioctl m

[2020-01-21 23:41] howardjohn commented on #20390
related: https://github.com/istio/operator/pull/699

[2020-01-22 00:28] mandarjog opened #20395 "Remove `replace metadata_exchange` from go.mod"
go.mod contains
[code]

This should be removed when envoy-wasm is rebased on Envoy 1.13 and makes its way to istio-proxy and istio.

[2020-01-22 00:28] mandarjog commented on #20395
@PiotrSikora we are awaiting this PR on 1.13 Envoy.

[2020-01-22 00:30] cmanzi commented on #20364
This is a duplicate of https://github.com/istio/istio/issues/17093, closing.

[2020-01-22 00:30] #20364 closed

[2020-01-22 00:59] howardjohn opened #20397 "istioctl does not prune gateways anymore"
Install the default deployment, then run:

[code]

Output:
[code]

Note the lack of logs about gateway.

The ingressgateway deployment will remain. If you do the command from a fresh cluster though, no ingress is created, so its just pruning issues not enablement

[2020-01-22 02:20] mandarjog commented on #20395
@kyessenov

[2020-01-22 03:30] lei-tang opened #20400 ""make docker" command fails"
**Bug description**
When running "GOOS=linux GOARCH=amd64  make docker", there is an error:
make: *** No rule to make target /Users/leitang/go/src/istio.io/istio/out/linux_amd64/release/metadata-exchange-filter.wasm', needed by docker.proxyv2'.  Stop.

Based on the PR https://github.com/istio/istio/pull/20259, metadata-exchange-filter.wasm should be generated when the make command is executed. Sin

[2020-01-22 03:34] howardjohn commented on #20400
@bianpengyuan this is exactly what I was seeing that led to https://github.com/istio/istio/pull/20372

[2020-01-22 03:36] #19814 closed

[2020-01-22 03:36] howardjohn commented on #16984
Not a concern anymore, SDS is now the only supported method

[2020-01-22 03:36] #16984 closed

[2020-01-22 03:36] howardjohn commented on #16982
Done

[2020-01-22 03:36] #16982 closed

[2020-01-22 03:36] #18662 closed

[2020-01-22 03:37] howardjohn commented on #11995
Citadel is no longer required for the webhook

[2020-01-22 03:37] #11995 closed

[2020-01-22 03:38] howardjohn commented on #16218
@rlenglet any ideas here?

[2020-01-22 03:40] howardjohn commented on #19517
I think this is fixed by #20233

[2020-01-22 03:44] howardjohn commented on #19636
It is supposed to

[2020-01-22 03:46] howardjohn opened #20402 "Remove SDS profile"
This is broken and not supported in 1.5 (because we configure SDS differently)

[2020-01-22 03:54] howardjohn commented on #17221
e2e tests are slated for removal rather than migration, so this is done?

[2020-01-22 03:54] #17221 closed

[2020-01-22 03:57] howardjohn commented on #19151
ref https://docs.google.com/document/d/1d1z5PC8wvh9QiR3NesAaPm6w2HnE4-KIfjB7GB-_Wf8/

[2020-01-22 03:58] howardjohn commented on #20122
workaround: https://github.com/istio/istio/pull/20280

[2020-01-22 04:01] bianpengyuan commented on #20400
Ack I am working on a fix.

[2020-01-22 04:34] #19809 closed

[2020-01-22 05:02] #15194 closed

[2020-01-22 05:04] #17700 closed

[2020-01-22 05:08] rlenglet commented on #16218
When IPv6 is enabled, and the pod gets an IPv6 address, we require ip6tables support in the kernel. Otherwise, IPv6 traffic would bypass the sidecar.
If that's not intended, I'd suggest disabling IPv6 support on the nodes altogether.

[2020-01-22 05:12] rlenglet commented on #16218
Also I'd first check whether this is still reproduceable in 1.3/1.4/1.5. We've fixed quite a few issues with CNI's IPv6 detection and support since Aug 2019.

[2020-01-22 06:31] tnm commented on #13861
This really needs a much simpler solution for anyone working at scale; probably a single configuration variable.

Most good security/audit teams — and the compliance checks that come along with them — will grade down any servers exposing `server` as information exposure. As it stands, most users expose implementation data via `curl` to public clients.

`nginx` does it with `server_tokens off;`, ap

[2020-01-22 06:35] bianpengyuan commented on #19798
Seems like the log from running container does not have much information. You will need to get the crash log from previous crashed pod. Could you run `kubectl logs` with `-p`?

[2020-01-22 06:46] bianpengyuan commented on #19666
So for `shop-stage-whitelabelshop-set` service, does traffic flow to it have a source workload that does not have sidecar injected? `Warningf` is indeed too aggressive more this kind of logging. I will try to reduce the log level of that line in the next addon release. Meanwhile, as a temporary bandaid, you could raise the log level of telemetry deployment to `error` (https://istio.io/docs/ops/dia

[2020-01-22 07:36] suraj77foru opened #20405 "not able to see tracing for api with respective namespace in jaeger"
HI,

we have installed istio, kiali and jaeger in our kubernates cluster using kubectl commands. unfortunately when we hit the api the respective api tracing is not seen in jaeger. can you please help

[2020-01-22 08:56] rbraeunlich commented on #19666
Hey @bianpengyuan
that is definitely possible, because our incoming traffic is not routed through the Istio Ingress. Therefore, the service is the entrypoint into the cluster. For me it is ok to set the log level to error.
Maybe you can give me one final hint there. The moment I change the Mixer deployment YAML in GKE the values are reset. When setting the log level to debug the few seconds were e

[2020-01-22 10:46] turbotankist commented on #20062
So, istio was updated to 1.4.3 but issue still going on.
Last happened yesterday: Deployment was updated and service had both endpoints as active. But pilot find just one. Pilot logs for issue:
[code]

[2020-01-22 10:56] chaudyg commented on #19996
After a long investigation, finally started to understand how the CNI works. Here is the flow for envoy making a request to Pilot using it's service VIP.
[code]

In the pod network namespace, they are 2 network interfaces:
- eth0 : all the traffic to the VPC. This includes any requests to pods
- veth0: anything else. This includes internet traffic but also Kube Proxy CIDR.

When envoy makes a requ

[2020-01-22 11:01] nerusnayleinad opened #20406 "Istio generates duplicate SpanIDs on Jaeger"
I am preparing a traces demo; on Istio (Jaeger), and for some reason I am getting duplicate spans. This is what I'm doing:

![service-graph](https://user-images.githubusercontent.com/19745725/72888786-8b0ddf00-3d0e-11ea-94e3-fdfa56380d90.png)

And this is trace I get on Jaeger:

![spans](https://user-images.githubusercontent.com/19745725/72888828-a5e05380-3d0e-11ea-913e-f6e194330f87.png)

All I do

[2020-01-22 12:20] turbotankist commented on #20062
Also may be it is matter:
We are have two ingress-gateways - the different pods with labels:
`app.kubernetes.io/name: istio-ingressgateway-external` and `app.kubernetes.io/name: istio-ingressgateway-internal`
And two gateways:
[code]
with label selectors:
[code]
each gateway has host with ports 80 and 443.
They are for separated pods so it should works (befor 1.4.0 it has been worked)
But now pilo

[2020-01-22 13:19] stormobile commented on #20062
It seems that our issue is just like #20367

[2020-01-22 13:49] btoonk opened #20409 "sidecar-injector with SDS enabled breaks pod securityContext"
**Bug description**

The pod securityContext is patched by the sidecar-injector when sds is enabled.
But it looks like the pod securityContext gets overwritten instead of properly patched.

This will also overwrite pod securityContext fields like runAsUser which results in a POD without the runAsUser pod securityContext field.

See:
https://github.com/istio/istio/blob/master/pkg/kube/inject/inject

[2020-01-22 13:51] GregHanson commented on #20381
manifest command appears to also have problems with arrays for `secretVolumes`:
[code]
It doesn’t appear to like array objects either in the form of  secretVolumes[0].  Step from istio.io here: https://istio.io/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/#redeploy-the-egress-gateway-with-the-client-certificates

[2020-01-22 14:07] esnible commented on #20356
Closing because this is too similar to https://github.com/istio/istio/issues/20358

[2020-01-22 14:07] #20356 closed

[2020-01-22 14:26] GregHanson opened #20410 "Update Egress Examples to use Istio Authorization Policy instead of RBAC"
**Describe the feature request**
Update Egress Examples on istio.io to use Istio Authorization Policy instead of RBAC where present

[ ] Configuration Infrastructure
[ X ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

[2020-01-22 14:26] brian-avery opened #20411 "[istio.io testing] Need test for Remote Access of Telemetry Addons"
**Describe the feature request**
We need to develop a test for the [Remote Access of Telemetry Addons](https://preliminary.istio.io/docs/tasks/observability/gateways/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/integration/istioio

[2020-01-22 15:03] vinodloha opened #20412 "Request rewrite recursively with regex"
**Bug description**
with uri regex the /g flag doesn't seem to be working, i need to rewrite part of a URL recursively.

"/(\/digital\/app[\/?])/g"

Above regex Doesn't work and only rewrites the match once, leaving the recurring instances as is.I am using v1alpha3.

**Expected behavior**
Should be able to match and rewrite all instances in the request.

[2020-01-22 15:04] #20400 closed

[2020-01-22 15:19] gadelkareem commented on #18095
@giggio can you confirm helm 3 is working with the latest chart? It seems that the CRDs are failing for everyone with helm 3

[2020-01-22 15:25] sdake opened #20413 "BUILD_WITH_CONTAINER=1 remaining problems"
**Bug description**
BUILD_WITH_CONTAINER=1 has some minor leftover problems from 2019 which need a resolution.

[X] Test and Release
[X] Developer Infrastructure

[2020-01-22 15:25] sdake commented on #20413
Reserved for list of issues.

[2020-01-22 15:26] sdake commented on #20413
Reserved for PRs related to list of issues.

[2020-01-22 15:32] sdake commented on #20413
- [ ] [Fix an error in Mixer test](https://github.com/istio/istio/pull/20315)

[2020-01-22 15:46] esnible opened #20414 "istioctl manifest apply --dry-run reports strange errors"
To reproduce:

`istioctl manifest apply --set values.global.proxy.includeIPRanges=172.30.0.0/16 --dry-run`

(Tested with 1.5.0-alpha.0)

The output includes

[code]

There should be no problems reported for a dry-run that will succeed if the `--dry-run` flag is not specified.

[2020-01-22 15:49] esnible commented on #20414
In addition, there should be and _operator/cmd/mesh/manifest-apply_test.go_ unit test that uses `--dry-run` and verifies the CLI syntax accepted by `apply` so we can avoid problems like https://github.com/istio/istio/issues/20381 regressing.

[2020-01-22 15:56] sdake commented on #20413
A different technique for obtaining docker credentials. Worth an experiment. WIll do this today: https://github.com/istio/istio/pull/19322#issuecomment-562325385

[2020-01-22 16:10] howardjohn commented on #19996
@rlenglet or @lambdai can help more here, this is a lot deeper than my iptables knowledge :slightly_smiling_face:

[2020-01-22 16:20] howardjohn commented on #20062
@turbotankist you are going to need to provide a little bit more context to the logs, I am not sure what I am looking for. What pods/IP do you expect and what is missing? What was happening during that time?

[2020-01-22 16:21] cmanzi commented on #12551
I am running 1.4.3, this seems like it should be fixed, but I'm still seeing the same errors with my postgres-ha setup (server disconnect).

[2020-01-22 16:57] fpesce commented on #20361
@PiotrSikora any ETA for Envoy branch cutting ?

[2020-01-22 17:21] erdun opened #20419 "Too difficult to import istio"
Go mod performs poorly with complex dependencies

imported istio with error:

unknown revision v0.0.0
unknown revision src/envoy/tcp/metadata_exchange/config/v0.0.0

[2020-01-22 17:51] carolynhu opened #20421 "istio/tools: perf dashboard latency graph can be linked to corresponding flame graph"
We can link the corresponding flame graph for some of latency graphs for investigating perf issues.

/cc @suryadu @mandarjog

[2020-01-22 18:14] nik786 opened #20422 "telemetry and policy pods are getting crashloopback in kubernetes 1.16.3"
Kubernetes version
 v1.16.3

CNI

canal

 istio-1.4.3 has been deployed.

telemetry and policy pods are getting crashloopback

[2020-01-22 18:37] giggio commented on #18095
I just got my whole team on `1.4.3` this week, we all installed our machines using Helm, including CRDs, using Helm3. It is working fine.
I don't know why, but on the Istio docs they mention that Istio does not work with Helm3, maybe some edge case is not working, but I haven't found anything breaking yet.

[2020-01-22 19:16] manikantabandaru commented on #19139
Hi
I see the issue still persists, though i override the disablePolicyChecks to false the config is not respecting provided value.

Istio version used  1.4.3 and the istio is installed on GKE cluster with version 1.13.11-gke.14

` istioctl manifest apply --set values.global.disablePolicyChecks=false `

**Output:**
`- Applying manifest for component Base...
✔ Finished applying manifest for componen

[2020-01-22 19:19] christianAckman commented on #19719
try this @darren-bell-nanthealth

[code]

[2020-01-22 19:19] gadelkareem commented on #18095
@giggio you are right I got it working too thanks. However adding the repo does not work, I had to clone the whole repo and point helm to the chart like so
[code]
Did you do the same?

[2020-01-22 19:33] rlenglet commented on #20409
The `unable to validate against any pod security policy: []` error message indicates that this issue is very similar to https://github.com/istio/istio/issues/17318. The PSP validation phase fails because the Istio sidecar injection webhook rewrites the pod spec in a way that is inconsistent with the PSP matched by the PSP admission controller.

[2020-01-22 19:47] esnible commented on #20419
Do you need all of Istio?  If you are calling Istio you can get away with using just https://github.com/istio/client-go

[2020-01-22 19:53] esnible commented on #20414
Note that this DOESN'T happen in 1.4.3, but happens in MASTER and 1.5.0-alpha.0

[2020-01-22 19:57] dankirkpatrick opened #20425 "Ingress Gateway does not handle reusing TCP connection when using multiple Gateways"
**Bug description**
If using multiple Gateway resources, the IngressGateway does not properly handle multiple requests over the same TCP pipe.  If the user makes 2 requests to 2 different URLs (each using a different gateway), the 2nd request gets mapped by the IngressGateway to the first URL since the request uses the same TCP pipe.  The "host" HTTP header is ignored for the 2nd request (probably

[2020-01-22 20:00] giggio commented on #18095
I'm using the repos directly:

[code]

I don't know why they use the version on the url, it would be better to have all the versions under the same url, but anyway...

[2020-01-22 20:01] yangminzhu commented on #19990
@ahmedwaleedmalik The following RBAC log menas you haven't enabled mTLS (note the `ssl: none` part):

[code]

That's strange because from your DestinationRule and AuthN Policy it seems mTLS should be enabled, could you further get the Envoy config dump of both your gateway and the catalog workload?

[2020-01-22 20:27] howardjohn commented on #20419
This particular import is a hack until https://github.com/istio/istio/issues/20395 is fixed

[2020-01-22 20:28] howardjohn commented on #20422
Please add more info... at least logs from the deployments, and how you installed, etc.

Also generally those crashlooping is because of issues in galley, so logs from that is useful as well

[2020-01-22 20:28] #20422 closed

[2020-01-22 20:29] howardjohn commented on #20412
We use RE2 which I think does not support this. I could be wrong though, please fact check me :slightly_smiling_face: https://github.com/google/re2/wiki/Syntax

[2020-01-22 20:30] howardjohn commented on #20413
I am fine with `make istioctl-install` not working btw

[2020-01-22 20:33] howardjohn commented on #20402
https://github.com/istio/istio/pull/20418

[2020-01-22 20:33] #20402 closed

[2020-01-22 21:06] rlenglet commented on #19996
Note that Istio doesn't touch the `POSTROUTING` chain. I notice that this pod has this rule, which was not created by Istio:
[code]

[2020-01-22 21:08] rlenglet commented on #19996
@chaudyg can you please post the routing table inside the pod?

[2020-01-22 21:24] howardjohn commented on #20385
Presumed fixed

[2020-01-22 21:24] #20385 closed

[2020-01-22 21:24] howardjohn commented on #20384
Presumed fixed

[2020-01-22 21:27] esnible opened #20430 "istioctl manifest apply doesn't respect --log_output_level"
`istioctl manifest apply` (and friends) don't respect `--log_output_level`.

To reproduce: `istioctl manifest apply --set values.global.proxy.includeIPRanges=172.30.0.0/16 --dry-run --log_output_level=debug` and see no debug nor info output.

I am working on a PR.  The problem is explicit calls to configLogs() to disable logging after `--log_output_level` has been processed.  This was probably don

[2020-01-22 21:30] howardjohn commented on #18401
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/20429/unit-tests_istio/7087

[2020-01-22 21:30] duderino commented on #20366
@JimmyCYJ what about the root CA certs?   Do we still have to watch a file mount to pick up new versions when they are rotated?

[2020-01-22 21:35] lambdai commented on #20055
Thank you for the update and explantion! @Stono

[2020-01-22 21:55] dankirkpatrick commented on #20425
By the way, I've been reporting on this bug for a very long time, and it keeps getting closed without being fixed.  Here are bug reports that appear to be the same bug:

https://github.com/istio/istio/issues/5829
https://github.com/istio/istio/issues/10313
https://github.com/istio/istio/issues/11509
https://github.com/istio/istio/issues/12500
https://github.com/istio/istio/issues/12603
https://git

[2020-01-22 22:20] JimmyCYJ commented on #20366
If we start to use SDS in 1.5 for internal mTLS connections between ingress gateway and workload, then I don't think we need to pick up root CA certs. Please correct me if I'm wrong @howardjohn @myidpt

[2020-01-22 22:25] howardjohn commented on #20366
I am pretty sure we get the root ca over SDS

[2020-01-22 22:35] lambdai commented on #19996
The output of `ip link show` is interesting.
Usually we shouldn't see the other end of veth0
What's the output of `ip address`?

[2020-01-22 22:40] JimmyCYJ commented on #20308
Thanks @howardjohn @lambdai for letting me know about this SDS issue. There was a node-agent upgrade issue and that issue causes running node-agent fail to upgrade. For example, when customers try to upgrade from 1.1.x to 1.2.x, the node-agent is not upgraded, and it listens on old UDS path. The proxies are upgraded and send SDS request to new UDS, so node-agent never receives any SDS request and

[2020-01-22 22:44] delmendo commented on #14708
I'm using a nodejs/express app. They don't currently support http2 in expressjs.

I'm doing SSL termination at the ingress.  Since it is behind SSL chrome and Envoy announces support for both h2 and http/1.1 - the chrome browser submits requests as http/2.0.
Chrome -> http/2.0 -> Envoy -> Node Service

There doesn't seem to be a way to prevent the ingress from announcing a protocol the backend doe

[2020-01-22 22:53] lambdai commented on #18557
@amir-hadi  Please open an new issue. OOM is a large topic. Cache response for retry is only one possibility.

BTW: tcp reset is intended between sidecar proxy and pilot since it's the behavior of pilot.

[2020-01-22 23:21] howardjohn commented on #20384
This happens for other reasons as well, ill send a fix

[2020-01-22 23:25] howardjohn opened #20435 "Distroless broken with istioctl install"
Due to permission issues

[2020-01-22 23:30] howardjohn commented on #20384
Basically if we don't have CA functionality enabled, but we have citadel as the CA provider, things go bad

[2020-01-22 23:35] #20343 closed

[2020-01-22 23:36] #20366 closed

[2020-01-22 23:36] lei-tang commented on #20384
With https://github.com/istio/istio/pull/20401, will this problem still occur? All tests in https://github.com/istio/istio/pull/20401 passes, which has first-party-jwt enabled and Citadel as pilotCertProvider. What are the steps to reproduce this problem? If you need any assistance for this issue, please ping me.

[2020-01-22 23:36] #20409 closed

[2020-01-22 23:37] howardjohn commented on #20384
I am not sure if there is any settings that a user can pass to run into this, but I was developing some local changes that resulted in not having the jwt mounted. So not a P0

[2020-01-23 00:08] sdake commented on #20413
`BUILD_WITH_CONTAINER=1 make test.integration.pilot.local`

some selected failures:

[code]

[code]

[2020-01-23 00:09] selmanj opened #20437 "istioctl analyze <dir> should analyze all files in provided directory"
**Describe the feature request**

It's a bit annoying to type `find my-dir -type f | xargs istioctl analyze`. It would be ideal if I could just provide a directory rather than a file as an argument. Instead we get the error:
[code]

**Describe alternatives you've considered**
None.

**Additional context**

[2020-01-23 00:37] howardjohn opened #20439 "Component level hub/tag overrides are broken"
Apply yaml:
[code]

`ik manifest generate -f iop.yaml | rg istio-cni-node -C 50`:
[code]

Note the image here is wrong.

[2020-01-23 00:39] howardjohn commented on #20439
[code]

Seems to work

[2020-01-23 01:07] lambdai commented on #18078
Update:
sds ingress is enabled since 1.5
Wont work on envoy side

[2020-01-23 01:07] #18078 closed

[2020-01-23 01:42] Jeskz0rd commented on #9764
For the time being, are there any suggestions for a workaround?
I'm also following Envoy's issue [envoyproxy/envoy#8167](https://github.com/envoyproxy/envoy/issues/8167)

[2020-01-23 01:45] rlenglet commented on #19996
I don't think this is the other end of a veth pair. This is another interface created via ENI.

[2020-01-23 02:11] rlenglet commented on #19996
That shouldn't be an issue. That rule is normally not hit by return traffic.

So just to confirm my understanding, `eth0` is the "IPvlan interface" and `veth0` is the  "unnumbered point-to-point interface".

I suspect that the `MASQUERADE` rule is messing up with the Istio rules:
[code]
I don't understand why that rule is created by the CNI plugin, since the pod has only one IP address in this set

[2020-01-23 03:19] howardjohn opened #20441 "epic: removal of the legacy helm charts"
* [x] Blocker: https://github.com/istio/istio/issues/20336
* [x] Blocker: https://github.com/istio/istio/issues/20335
* [x] Blocker: https://github.com/istio/istio/issues/20334
* [x] Blocker: need to port the pkg/inject/ tests that depend on these new charts https://github.com/istio/istio/pull/20469
* [x] Cleanup: remove support for helm from test/integration/
* [x] Cleanup: removal all of the leg

[2020-01-23 03:21] howardjohn commented on #20219
This is fixed as far as I know. If not, we may find some issues pop up once we import 1.13 and can easily track them down

[2020-01-23 03:21] #20219 closed

[2020-01-23 03:26] #20188 closed

[2020-01-23 03:38] #20419 closed

[2020-01-23 05:01] #12521 closed

[2020-01-23 05:01] #14061 closed

[2020-01-23 05:01] #15226 closed

[2020-01-23 05:04] #17517 closed

[2020-01-23 06:30] elfinhe commented on #15865
This is addressed in IstioOperator API

[2020-01-23 06:30] #15865 closed

[2020-01-23 06:54] carolynhu commented on #20064
The missing both mode is because, after this PR: https://github.com/istio/tools/pull/653
we replace `--clientsidecar` to `--bothsidecar`. We need to explicitly make `--bothsidecar` to be `True` in order to make sure both mode being triggered and run.

This issue is fixed in this PR: https://github.com/istio/tools/pull/690

[2020-01-23 06:54] #20064 closed

[2020-01-23 07:37] vsaini01 commented on #10647
Can you please describe what is .. "/trs.TrsTulipRulesReaderService/GetTulipRule" ?

I understand "GetTulipRule" is some path/resource on server
TrsTulipRulesReaderService is a service running on host "trs-tulip"
what is trs. ?

[2020-01-23 08:05] adamglt commented on #12551
The case above is still reproduced, here's a shell script that runs that case:
[code]

[2020-01-23 08:11] piyush-pruthi commented on #20262
@howardjohn : We are doing a ping from outside to the newly created pod.

These results were captured with PILOT_DEBOUNCE_AFTER=10s.
From the logs, it looks like that PILOT_DEBOUNCE_AFTER is affecting new config also.
[debounce_10s.log](https://github.com/istio/istio/files/4101927/debounce_10s.log)

[2020-01-23 08:15] gadelkareem commented on #18095
Oh got it the path to the chart was wrong, changed it to `istio.io/istio-init` :
[code]

[2020-01-23 09:47] stormobile commented on #20062
I guess the most interesting thing here is he presents logs from 2 pilot replicas and they:

And they have different endpoint number for the same service.

[2020-01-23 11:51] TomasKohout commented on #20100
Sorry for posting after 7 days. :) Here you can see CPU profile of PIlot. We have 2 of them deployed. Those peaks happen when new namespace is created and applications are deployed.

![pilot-6-hours](https://user-images.githubusercontent.com/16974829/72982292-08088980-3ddf-11ea-8ecc-cb7d618039b3.png)

[2020-01-23 12:46] fcantournet commented on #20264
I can provide numbers for pilot & telemetry on 1.4.3 soon from our production cluster (~ 1000 pods, 200 services)
What metrics would be most important do you reckon ?
I mean besides system metrics, we mostly look at the convergence time of pilot for evaluating the performance of the control plane.

[2020-01-23 14:34] esnible commented on #20430
The operator code logs a lot of stuff at INFO level.  That is great when run as an Operator.  When run in the CLI I want to suppress that output.  I would like to introduce an `operator` Scope and have the CLI default to `operator:warn` logging to suppress log output.  Thoughts?

[2020-01-23 15:12] jackkleeman opened #20446 "Operator: Allow layered injection templates"
It would be really useful to be able to provide user-generated overlays on top of the injection template, allowing for arbitrary modifications to be made, for example adding a new capability.

With the old helm set up you could modify the template as you liked, but with the operator, it'll be overwritten back to the default whenever the operator reconciles.

https://istio.slack.com/archives/C7KSV4

[2020-01-23 16:07] howardjohn commented on #20262
I would need to look at the logs for pilot I guess? But there is two codepaths: one where Envoy requests resources (mainly during startup) and one where we push updates (mainly from config change/new services). The debounce should only impact the second case

[2020-01-23 16:08] howardjohn commented on #20062
ConnectedEndpoints is the number of XDS connections to that pilot, so they don't need to be the same. You can see all the `Handle EDS endpoint pfphome-pfp-service in namespace pfphome-prod` logs are in sync between pilots

[2020-01-23 16:14] howardjohn commented on #20264
I would say Pilot CPU usage (may need to average it over 10+ minutes since its pretty spike), the CPU throttled stat, and convergence time should be good

[2020-01-23 16:23] howardjohn opened #20449 "Validation webhook broken by v1beta1 CRD update"
Validation logs are spamming `unrecognized type Sidecar`. Adding some more debug logs shows: `unrecognized type {{Sidecar networking.istio.io/v1beta1}`.

Pilot only has schemas for v1alpha3, so when we give it a v1beta it explodes.

This breaks all validation.

The weird thing is I don't even think I am applying these sidecars, they are just already existing in my cluster

[2020-01-23 16:59] anannaya commented on #10659
Any workaround to solve this issue??

[2020-01-23 17:09] dgn commented on #20354
Resolved by #20298

[2020-01-23 17:09] #20354 closed

[2020-01-23 17:18] Dev25 commented on #19550
As per a recent post on  [discuss.istio.io](https://discuss.istio.io/t/overridding-vs-rules/5033)  it looks like this is now protected by a pilot env flag `PILOT_SIDECAR_USE_REMOTE_ADDRESS` and was [changed](https://github.com/istio/istio/pull/15167/files) for Istio 1.2+

I've confirmed that setting that flag now allows workloads to tweak envoy behaviour via headers.

[2020-01-23 17:19] Dev25 commented on #14923
As per a recent post on  [discuss.istio.io](https://discuss.istio.io/t/overridding-vs-rules/5033)  it looks like this is now protected by a pilot env flag `PILOT_SIDECAR_USE_REMOTE_ADDRESS` and was [changed](https://github.com/istio/istio/pull/15167/files) for Istio 1.2+

I've confirmed that setting that flag now allows workloads to tweak envoy behaviour via headers.

[2020-01-23 17:26] haf-afa commented on #20082
It doesn't need triage; it's actually an issue.

[2020-01-23 18:04] haf-afa opened #20454 "applying "meshpolicies, handlers", 504 Gateway Timeout"
**Bug description**

Lots of errors like this, basically halting the install; installed on a new cluster.

[code]

**Expected behavior**

**Steps to reproduce the bug**

Try to apply:

[code]

on GKE with the recommended settings, and running private nodes but with a public endpoint, after templating it out and working around https://github.com/istio/istio/issues/20082

**Version (include the outp

[2020-01-23 18:24] Stono commented on #18973
+1

[2020-01-23 19:02] esnible commented on #10659
Opening because this problem is still being reported.

If the maintainers feel this is mostly solved please create a new issue for the parts that aren't solved for that activity.  We can't keep ignoring feedback regarding stateful sets.

[2020-01-23 19:12] #20107 closed

[2020-01-23 19:56] howardjohn commented on #20454
This looks like a failure to talk to API server, so maybe not be istio specific? Can you apply any (non istio) config successfully?

[2020-01-23 19:59] #19924 closed

[2020-01-23 20:10] ericvn commented on #20413
`BUILD_WITH_CONTAINER=1 make test` on a Mac fails in a number of places with errors like:
[code]
This is due to the tests trying to run **ISTIO_OUT/envoy** which is a Mac binary.

I am working on a fix so that when running a *test* target in the build container, the binaries will be linux and created in and executed from the linux tree. With this fix, I am still seeing one failure:
[code]

[2020-01-23 20:34] kramvan1 opened #20456 "OPERATOR disablePolicyChecks changing value not working"
**Bug description**

Can seem to get disablePolicyChecks to switch back and forth using the operator controller ICP.  (Not istioctl)

**Expected behavior**

disablePolicyChecks can be changed from default of true to false and back again via the operator ICP.

**Steps to reproduce the bug**

### Starting with defaults

start with default icp values:
[code]
Check the istio cm for the right value:
`k

[2020-01-23 20:39] USA-RedDragon commented on #19139
@manikantabandaru Use @pubudu538's command (https://github.com/istio/istio/issues/19139#issuecomment-558566612) to initialize it, and it'll work

[2020-01-23 20:43] howardjohn commented on #20456
ref https://github.com/istio/installer/pull/622 maybe this was not in 1.4.3?

[2020-01-23 21:13] infa-rbliznet commented on #19980
Closing this issue since I cannot reproduce it longer.

[2020-01-23 21:13] #19980 closed

[2020-01-23 21:30] howardjohn opened #20460 "TestMtlsStrict/global-plaintext sometimes fails to find meshpolicy "default""
I've seen this a few times, seems likely a race somewhere: https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/20301/integ-security-k8s-tests_istio/7014

[2020-01-23 21:32] elfinhe commented on #20439
overrides ordering
In our operator specs:
values.global.component.values in iop.yaml > values.component.values in iop.yaml > default.yaml

In helm templates:
values.$component.image > values.$component.hub | values.$component.tag > values.global.hub | values.global.tag

https://github.com/istio/istio/blob/80fc771a52ec5ca90e37267a9822de3d95e41a69/manifests/istio-cni/templates/daemonset.yaml#L55-L59

[2020-01-23 21:41] elfinhe commented on #20439
To be clear, with the PR above,

[code]

CNI will use  image: "values.cni.hub/install-cni:values.cni.tag"
Pilot will use image: "istio-spec.hub/pilot:istio-spec.tag" because the template choose to use Values.global.hub first.

[2020-01-23 21:42] elfinhe commented on #20439
wdyt, @howardjohn, should we also modify the image template for pilot?

[2020-01-23 21:58] carolynhu opened #20463 "istio/tools: perf dashboard should add clientonly mode lines"
As we added the clientonly sidecar mode, we need to update it to the perf-dashboard also

/cc @mandarjog

[2020-01-23 22:09] richardwxn commented on #19517
yes the service part configuration would be fixed by above PR, which was merged in master already

[2020-01-23 22:13] howardjohn commented on #20435
Fixed by 20431

[2020-01-23 22:13] #20435 closed

[2020-01-23 22:14] richardwxn commented on #20456
yep it was fixed by above PR mentioned but it did not get into 1.4.3, should be available next release.

[2020-01-23 22:20] howardjohn commented on #20439
In the above, pilot should use values.pilot.hub and cni should use values.cni.hub. All of the components should be consistent, and should override the global. I am a bit surprised this is not implemented as k8s overlays, but I suppose it doesn't impact the user

[2020-01-23 22:23] elfinhe commented on #20439
this is kind of drawbacks of using helm templates. I will update the template to support that consistent behavior.

[2020-01-23 22:53] howardjohn commented on #19851
update: we have support for it but need automation. Which is in PR: https://github.com/istio/istio/pull/20393

[2020-01-23 23:01] howardjohn commented on #20439
(I am not familiar with the implementation) can't you just make it an overlay instead of translating to helm?

[2020-01-23 23:28] virmanv commented on #19477
@rnkhouse I was facing the same issue, then I read about https://istio.io/docs/ops/configuration/traffic-management/protocol-selection/.  I realised the name of the port in the service definition should start with for example `http-`. This fixed the issue for me. And . if you face the issue still you might need to look at the tls-check for the  pods and resolve it using destinationrules and polici

[2020-01-23 23:30] elfinhe commented on #20439
it is possible, but i think it may not be a good time to do that before 1.5.
Maybe we can move away from helm templates starting in 1.6.

[2020-01-23 23:32] elfinhe commented on #20439
I updated the templates to make sure we can have consistent behaviors for pilot and other components.

[2020-01-23 23:36] howardjohn commented on #20439
SGTM, ill take a look. Thanks

[2020-01-24 00:07] irl-segfault commented on #19789
this has exacerbated incidents of outbound request rate limiting in the past for us. `resource-exhausted` should be removed from the default `retry_on` list.

[2020-01-24 00:18] nicktrav commented on #19789
I believe this default is harmful.

The [gRPC spec][0] has the following to say about `RESOURCE_EXHAUSTED`:

[code]

This response code could be loosely interpreted to be similar to an HTTP 429, which absolutely should not be retried (we don't, which is good!). In situations where an upstream is telling the client that it is "exhausted", we currently ignore the directive and send more requests.

D

[2020-01-24 00:53] howardjohn opened #20468 "JwksResolver should only run if we have a JwksPolicy"
This is getting started in init, so it runs literally all the time.. in unit tests, etc, etc. We should make this lazy load an only start when we need it

[2020-01-24 01:11] Sovietaced commented on #12846
Kialia isn't really useful without this feature imo.

[2020-01-24 01:18] joshuacox commented on #17997
@mandarjog This still seems pertinent.  Why wouldn't we automate the renewal of certs?  This seems like a no-brainer.

[2020-01-24 01:27] mandarjog commented on #17997
We should, we are looking for someone to do it :-)

[2020-01-24 03:07] blhagadorn commented on #20255
@anupash147 I tried your helm commands doing a `--debug` and piping it to a file.  Your version gave me this:
[code]

However when I did it like this, with escape, `--set-string global.defaultNodeSelector."node-role\.kubernetes\.io/system-worker"="yes"`
I ended up with this:
[code]
This seems like a Helm syntax issue.  Let me know if you can get it working using the new syntax, see https://stackov

[2020-01-24 04:03] marshallford opened #20471 "Operator: Allow for multiple ingress gateways"
**Describe the feature request**

Within a single `IstioControlPlane` installation it would be nice to be able to create more than one ingress gateway or to disable/rename the default gateway (`istio-ingressgateway`). In the same vein, the docs are unclear on if the `KubernetesResourcesSpec` entity found on the path `spec.gateways.components:ingressGateway.k8s` is applied just to the default ingre

[2020-01-24 05:02] #15324 closed

[2020-01-24 05:02] #15977 closed

[2020-01-24 05:03] #17381 closed

[2020-01-24 05:04] #17543 closed

[2020-01-24 05:12] rlenglet commented on #14002
not stale

[2020-01-24 05:40] howardjohn commented on #20471
in 1.5 we are revving the API a bit and adding support for this

[2020-01-24 08:11] carolynhu opened #20475 "both sidecar mode hit 503 error, server: envoy upstream connect error or disconnect/reset before headers"
My local run passed, but perf pipeline test fails due to:

[code]

Need to figure out why.

[2020-01-24 08:37] haf-afa commented on #20454
Yes, I can apply lots of stuff; everything that kustomize sorts above handlers and meshpolicies.

This is quite reproducible too, I even tried tearing down the cluster.

[2020-01-24 09:04] Stono opened #20476 "telemetry v2 request + response size buckets inverted?"
**Bug description**
Hi,
I'm testing out telemetry v2 at the moment and it seems like the buckets are inverted when it comes to request and response sizes.

You can see on this graph (the gap in the middle is where i switched over):

<img width="915" alt="Screenshot 2020-01-24 at 09 02 19" src="https://user-images.githubusercontent.com/1486729/73057007-5160e380-3e88-11ea-9fd9-680b1e8795e2.png">

Th

[2020-01-24 09:28] xpepermint commented on #13330
This is not supported by Envoy: https://github.com/envoyproxy/envoy/pull/9164
Can we expect this feature to be supported by Istio?

[2020-01-24 09:37] turbotankist commented on #20062
[code]
now in istio-ingressgateway-internal-zpnxl we have not actual config.
where we should looking for logs?

[2020-01-24 09:38] oocx commented on #19321
It would be great if that was not in the log by default. As someone new to istio, I thought I had a configuration error somewhere because my ingress gateway log has hundreds of lines of this message, and the message is classified as "warning".

A "warning" implies that something might be wrong and needs investigation. I think this is probably more like a debug / verbose kind of message.

[2020-01-24 10:10] turbotankist commented on #20062
there are all logs that I found:
kubectl logs -n istio-system istio-ingressgateway-internal-zpnxl ingress-sds
[code]
kubectl exec -it -n istio-system istio-ingressgateway-internal-zpnxl -c istio-proxy bash
[code]
ingressgateway logs:
[code]
And pilot logs when gateway was restarted
kubectl logs -n istio-system istio-pilot-8895bff8d-js9bn discovery | grep istio-ingressgateway-internal-zpnxl
[code]

[2020-01-24 10:10] eperdeme opened #20477 "HTTPS ServiceEntry TLS random failures"
**Bug description**
In our Isito cluster we enable, REGISTRY_ONLY for outbound traffic, as such any outbound traffic requires a ServiceEntry.

We find connections to HTTPS endpoints randomly fail to initiate and get blackholed from our pods when specifying the protocol as HTTPS in ServiceEntry, if we specify "protocol: TCP" we do not experience this issue.

Below is the ServiceEntry used
[code]

R

[2020-01-24 11:26] anannaya commented on #10659
https://github.com/istio/istio/pull/19992/files This fixes headless service problem, Now the actual problem is with stateful apps. Any workaround would be helpful.

[2020-01-24 11:32] piyushkumar13 opened #20478 "Getting x509: certificate has expired or is not yet valid in 1.3.0 istio"
I started getting following error all of a sudden while creating virtualservice and destinationrule(which was working fine earlier):
[code]
I am using following istio configuration :
client version: 1.3.0
control plane version: 1.3.0

Installed istio using default values.yaml and following command :
[code]
I checked the root certificate expiration date by following doc : https://istio.io/docs/ops/

[2020-01-24 11:52] piyushkumar13 commented on #20478
I checked the root certificate expiration date by following doc : https://istio.io/docs/ops/configuration/security/root-transition/#root-transition-procedure It shows certificate is valid for approximately 10 years. Here is the output :
[code]
But, I am getting this error while creating istio virtualservice and destinationrules which were working fine earlier
[code]

[2020-01-24 11:55] #19550 closed

[2020-01-24 11:56] vladg9 commented on #19550
Closing the issue as the suggested action above has resolved the problem

[2020-01-24 12:00] piyush-pruthi commented on #20262
[discovery.txt](https://github.com/istio/istio/files/4108258/discovery.txt)

2020-01-24T10:37:28.698732Z info  ads CDS: PUSH for node:istio-ingressgateway-64ddd9c7c5-mjpv8.istio-system clusters:93 services:25 version:2020-01-24T10:37:28Z/2
2020-01-24T10:37:28.699474Z info  ads EDS: PUSH for node:nginx-1-6bfdd944f8-ptd9l.default clusters:44 endpoints:45 empty:[]
2020-01-24T10:37:28.699625Z info  ad

[2020-01-24 12:40] romil-punetha commented on #6566
This is what i was missing for the past few hours. Thanks a ton.

[2020-01-24 13:37] haf-afa commented on #20454
Ok, so the third time I recreated the cluster it seems to all start and apply...

The reason I filed the issue is that I thought requests from the API server to some validation webhook inside Istio was happening? Isn't that what's going on? How do I debug a liveness-problem, sending istio-specific configuration to the API server in the future?

[2020-01-24 13:38] haf-afa commented on #20454
Closing because I can't repro it anymore.

[2020-01-24 16:01] #20430 closed

[2020-01-24 16:07] taylorreece commented on #20478
Maybe it's coincidence, but the `samples/certs/*` certs were created on 2018-01-24.  It's precisely two years later.  The certs do *not* expire today, though, but maybe some sample 2-year certs were created on the same day or something?

[2020-01-24 16:12] taylorreece commented on #20478
@piyushkumar13 OOC if you
[code]
And then snag the `cert-chain.pem` and run
[code]
And throw that into
https://www.sslshopper.com/certificate-decoder.html,
Is your istio-galley certificate still valid?

[2020-01-24 16:17] #20335 closed

[2020-01-24 16:17] howardjohn commented on #14327
This is mitigated by @stewartbutler s work to add an init check, bumping to 1.6 milestone for future improvements

[2020-01-24 16:19] #19186 closed

[2020-01-24 16:20] howardjohn commented on #19487
Is this fixed?

[2020-01-24 16:21] howardjohn commented on #20122
Dropping priority since we have a workaround

[2020-01-24 16:22] howardjohn commented on #20397
This is arguably a release blocker since its a regression

[2020-01-24 16:35] mandarjog commented on #19487
Yes it is fixed. @bianpengyuan can you add a link to the logentry pr?

[2020-01-24 16:35] #19487 closed

[2020-01-24 16:50] cmanzi opened #20479 "GRPC Authorization not working as documented"
**Bug description**
I've created an AuthorizationPolicy for a GRPC service to allow another service to make calls to a certain GRPC endpoint, and it is returning a 403 RBAC access denied, when according to the docs it seems that the policy should allow it. The GRPC port is named `grpc` in the target Service, and istio seems to be properly detecting the protocol, so I don't think it's being treated

[2020-01-24 16:57] nmittler commented on #14692
I've just started an RFC for cluster-local services: https://docs.google.com/document/d/1hluC4KfIYodAftZTLRF_I-M75InZo8VyGi8nqUuPfS4/edit#

[2020-01-24 16:58] Dev25 commented on #14923
Also FWIW enabling `PILOT_SIDECAR_USE_REMOTE_ADDRESS` does cause other side affects then if you _just_  wanted  the ability to use request header overrides from inside the mesh

e.g. X-Forwarded-Proto https://github.com/istio/istio/issues/15124 https://github.com/istio/istio/issues/7964

[2020-01-24 17:08] bianpengyuan commented on #19487
Fixed by https://github.com/envoyproxy/envoy-wasm/pull/330

[2020-01-24 17:34] ostromart commented on #20277
if helm->helm works there's a very good likelihood that helm->istioctl via manifest migrate will work. migrate just changes values.yaml to istioctl format, but under the hood we are using the same charts (and most of the same values). i'll take that test path with @elfinhe and @richardwxn.
controller uses the same API->manifest rendering code as istioctl so it doesn't need extensive separate testi

[2020-01-24 17:36] howardjohn commented on #20477
Seems likely the same as #19660, can you go through the mitigation there to see if it fixes this?

[2020-01-24 17:39] howardjohn commented on #20277
I am really confused by this? when you say "same charts" do you mean manifests/ or install/? When I refer to "helm" I mean install/ which is NOT the same as manifests/

[2020-01-24 18:13] rshriram commented on #20282
istio community drive is owned by google.com GSuite domain, which also owns other such drives. The policy on the GSuite account is to lock down public sharing on such drives. If the GSuite was to be transferred to some other domain, all existing links (in everyone's bookmarks, emails, etc.) to the design docs in the drive will become invalid.

Google folks are investigating how to resolve this iss

[2020-01-24 18:48] douglas-reid commented on #20476
Some initial debugging:

1. with v2, i setup a ns with `sleep` and `httpbin`.
1. from `sleep`, i executed: `curl -v httpbin:8000/bytes/9000 -s -o /dev/null`.
1. Request p95: `histogram_quantile(0.95, sum(irate(istio_request_bytes_bucket{reporter="source", destination_app="httpbin"}[1m])) by (le, destination_app))`: `0.47500000000000003`
1. Response p95: `histogram_quantile(0.95, sum(irate(istio_re

[2020-01-24 18:57] Stono commented on #20476
Been debugging with @douglas-reid and we've actually discovered that this is down to the very different buckets that envoy uses to report sizes vs mixer!  It just manifested as a flipped graph.

It's worth calling out for anyone that comes here post v2 switch, your metric differences are likely just down to the bucketing.  v2 is _not_ a direct replacement for the _v1_ buckets.

[2020-01-24 19:06] douglas-reid opened #20483 "Better document v1 -> v2 telemetry impact, including on distributions"
Need to document impact of switch to v2 telemetry on request/response size calculations.

As the histogram distribution buckets are not the same in v1 and v2, this can lead to unexpected results -- particularly for request/responses over 10000 bytes (which is where the v2 buckets really diverge from the default v1 buckets).

Related issue: https://github.com/istio/istio/issues/20476

[ ] Configura

[2020-01-24 19:27] howardjohn opened #20487 "TestCNIReachability test flakes"
https://prow.istio.io/view/gcs/istio-prow/logs/integ-pilot-k8s-tests_istio_postsubmit/1220
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/20458/integ-pilot-k8s-tests_istio/6910
https://prow.istio.io/view/gcs/istio-prow/logs/integ-pilot-k8s-tests_istio_postsubmit/1220

[2020-01-24 19:41] howardjohn commented on #18256
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/1225

[2020-01-24 19:48] dkhandeshi commented on #4879
Has anyone actually tried this config? For one thing the port names are the same so it fails to apply.

The other issue is after ensuring that the port names are not identical according to the following doc: https://istio.io/docs/tasks/traffic-management/ingress/secure-ingress-mount/
"The secret must be named istio-ingressgateway-certs in the istio-system namespace to align with the configuration

[2020-01-24 20:02] douglas-reid opened #20489 "Update required stats prefixes to match v2 telemetry"
The current set of required stats inclusion prefixes is:

`cluster_manager,listener_manager,http_mixer_filter,tcp_mixer_filter,server,cluster.xds-grpc`

https://github.com/istio/istio/blob/2afd4c35f11a49eeac6596238abd543663a1594b/pkg/bootstrap/config.go#L50

I believe that we probably want to update this to match the transition to v2 (drop http_mixer_filter and tcp_mixer_filter). This likely invol

[2020-01-24 20:07] douglas-reid opened #20490 "Allow mesh-wide configuration of stats inclusion / exclusion config"
**Describe the feature request**
Istio currently supports per-workload annotation of `requiredEnvoyStatsMatcherInclusionPrefixes`. It would be cool if there was a way to have a per-namespace or mesh-wide annotation.

**Describe alternatives you've considered**
None. Requested by a user.

[ X ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ X

[2020-01-24 20:23] TomasKohout commented on #20234
Hi, I've faced the same issue, but solution can be found here. https://github.com/istio/istio/issues/14662

Basically this is what should do the magic.

[code]

[2020-01-24 20:58] GregHanson commented on #20477
@eperdeme, if you are not using protocol sniffing, you could also try `global.proxy.protocolDetectionTimeout=0s` as a deployment option.  related to this PR https://github.com/istio/istio/pull/20248

[2020-01-24 21:02] #20365 closed

[2020-01-24 21:16] howardjohn commented on #19851
Done

[2020-01-24 21:16] #19851 closed

[2020-01-24 21:16] howardjohn commented on #20178
done other than testing

[2020-01-24 21:16] howardjohn commented on #19950
done

[2020-01-24 21:16] #19950 closed

[2020-01-24 21:17] brian-avery opened #20493 "[istio.io testing] Need test for Automatic Mutual TLS"
**Describe the feature request**
We need to develop a test for the [Automatic Mutual TLS](https://preliminary.istio.io/docs/tasks/security/authentication/auto-mtls/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/integration/istioio

A

[2020-01-24 21:20] brian-avery opened #20494 "[istio.io testing] Need test for Mutual TLS Over HTTPS"
**Describe the feature request**
We need to develop a test for the [Mutual TLS Over HTTPS](https://preliminary.istio.io/docs/tasks/security/authentication/https-overlay/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/integration/istioi

[2020-01-24 21:22] brian-avery opened #20495 "[istio.io testing] Need test for Plugging in External CA Key and Certificate"
**Describe the feature request**
We need to develop a test for the [Plugging in External CA Key and Certificate](https://preliminary.istio.io/docs/tasks/security/citadel-config/plugin-ca-cert/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/t

[2020-01-24 21:24] brian-avery opened #20496 "[istio.io testing] Need test for Citadel Health Checking"
**Describe the feature request**
We need to develop a test for the [Citadel Health Checking](https://preliminary.istio.io/docs/tasks/security/citadel-config/health-check/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/integration/istio

[2020-01-24 21:39] howardjohn opened #20497 "1.4 -> 1.5 upgrade broken by SDS"
SDS needs to be per-proxy, not using global configs, or we cannot upgrade

[2020-01-24 21:40] brian-avery opened #20498 "[istio.io testing] Need test for Authorization for Policy Trust Domain Migration"
**Describe the feature request**
We need to develop a test for the [Authorization for Policy Trust Domain Migration](https://preliminary.istio.io/docs/tasks/security/authorization/authz-td-migration/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/m

[2020-01-24 21:41] brian-avery opened #20499 "[istio.io testing] Need test for Secure Gateways"
**Describe the feature request**
We need to develop a test for the [Secure Gateways](https://preliminary.istio.io/docs/tasks/traffic-management/ingress/secure-ingress-sds/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/integration/isti

[2020-01-24 21:43] brian-avery opened #20501 "[istio.io testing] Need test for Ingress Gateway without TLS Termination"
**Describe the feature request**
We need to develop a test for the [Ingress Gateway without TLS Termination](https://preliminary.istio.io/docs/tasks/traffic-management/ingress/ingress-sni-passthrough/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/

[2020-01-24 21:47] brian-avery opened #20502 "[istio.io testing] Need test for Kubernetes Ingress with Cert-Manager"
**Describe the feature request**
We need to develop a test for the [Kubernetes Ingress with Cert-Manager](https://preliminary.istio.io/docs/tasks/traffic-management/ingress/ingress-certmgr/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/test

[2020-01-24 21:52] brian-avery opened #20503 "[istio.io testing] Need test for Authorization for groups and list claims"
**Describe the feature request**
We need to develop a test for the [Authorization for groups and list claims](https://preliminary.istio.io/docs/tasks/security/authorization/rbac-groups/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/in

[2020-01-24 21:55] brian-avery opened #20504 "[istio.io testing] Need test for Configure Citadel Service Account Secret Generation"
**Describe the feature request**
We need to develop a test for the [Configure Citadel Service Account Secret Generation](https://preliminary.istio.io/docs/tasks/security/citadel-config/ca-namespace-targeting/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/ist

[2020-01-24 21:58] brian-avery opened #20505 "[istio.io testing] Need test for Enabling Policy Enforcement"
**Describe the feature request**
We need to develop a test for the [Enabling Policy Enforcement](https://preliminary.istio.io/docs/tasks/policy-enforcement/enabling-policy/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/integration/ist

[2020-01-24 22:00] brian-avery opened #20506 "[istio.io testing] Need test for Enabling Rate Limits"
**Describe the feature request**
We need to develop a test for the [Enabling Rate Limits](https://preliminary.istio.io/docs/tasks/policy-enforcement/rate-limiting/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/integration/istioio

A Y

[2020-01-24 22:02] brian-avery opened #20507 "[istio.io testing] Need test for Denials and White/Black Listing"
**Describe the feature request**
We need to develop a test for the [Denials and White/Black Listing](https://preliminary.istio.io/docs/tasks/policy-enforcement/denial-and-list/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/integration

[2020-01-24 22:02] howardjohn opened #20508 "No smooth migration from 1p jwt to 3p jwt"
This setting is global right now and there is no smooth migration from one to the other. This is not super critical since generally we can assume they are only on 1p if they are on an unsupported k8s, which means they likely cannot transition to 3p anyways

[2020-01-24 22:06] brian-avery opened #20509 "[istio.io testing] Need test for Control Headers and Routing"
**Describe the feature request**
We need to develop a test for the [Control Headers and Routing](https://preliminary.istio.io/docs/tasks/policy-enforcement/control-headers/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/integration/ist

[2020-01-24 22:09] brian-avery opened #20510 "[istio.io testing] Need test for Secure Gateways (File Mount)"
**Describe the feature request**
We need to develop a test for the [Secure Gateways (File Mount)](https://preliminary.istio.io/docs/tasks/traffic-management/ingress/secure-ingress-mount/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/i

[2020-01-24 22:09] sdake commented on #20282
@bplotnick fwiw, I agree this needs to happen. The mechanics around the change has stopped this from happening in the past. As @rshriram has indicated, the TOC has committed to looking into the viability of this change.

For document authors (such as myself), it is frustrating because we receive requests to view the document, but the document is already accessible - but only by those in the proper

[2020-01-24 22:13] ostromart commented on #20277
i'm talking about manifests->manifests helm/operator. is there any path for install->manifests using helm? it was supposed to be a dual control plane upgrade for that path but it sounds like that's not workable and i don't know if any in-place upgrade testing was done for that path.
if that's the case we will have to defer migrating helm users till 1.6 when they can go directly to istiod using dua

[2020-01-24 22:28] howardjohn commented on #20277
Maybe this is just me, but I always think helm === install/.

manifests/ helm -> istioctl is no problem like you said since its the same charts.

I would agree we can defer to 1.6 with the dual control plane upgrade; I just thought you had solved it based on you what you said before so I was confused.

Anecdotally I tried install/ -> istioctl and it seemed to work, but not enough that I would reco

[2020-01-24 22:45] elfinhe commented on #20439
@howardjohn PTAL: https://github.com/istio/istio/pull/20461

[2020-01-24 22:51] howardjohn opened #20512 "Need to stop generating 10k lines for every single manifest-generate test"
For example: https://github.com/istio/istio/pull/20461/files#diff-753efa6dce607bb68afe60e259075f5bR1

These tests are WAY too verbose. its so annoying to rebase, review, etc so much changes. We really need to isolate these down. At the very least we don't need to generate the CRDs or something.. or just show the component we care about specifically

[2020-01-24 22:55] rnkhouse opened #20513 "Mixer - adapter did not close all the scheduled daemons"
**Bug description**

I am getting below error from mixer when I deploy given yaml file.

    2020-01-24T22:49:56.001075Z	info	Publishing 20 events
    2020-01-24T22:49:56.005459Z	info	Built new config.Snapshot: id='7'
    2020-01-24T22:49:56.009938Z	info	Cleaning up handler table, with config ID:6
    2020-01-24T22:50:05.764135Z	info	Publishing 20 events
    2020-01-24T22:50:05.768234Z	info	Built

[2020-01-24 23:03] joshuacox opened #20514 "letsencrypt broken on 1.4.3 from 1.1.7"
I had letsencrypt working great on a 1.1.7 installation from last summer, when I went to upgrade to 1.4.3 it is now broken.  I realize I'm leapfrogging a few versions here so I went into the docs and re-implemented from scratch.  However, I am getting this from a ` kubectl -n istio-system describe order ingress-cert-35313434`

[code]

Maybe I am doing something wrong, but I believe I have followed

[2020-01-24 23:05] howardjohn commented on #20359
This is the #1 flake, suggest we disable it if no one takes ownership in a few days

[2020-01-24 23:26] irl-segfault commented on #20216
both work

[2020-01-24 23:29] irl-segfault commented on #20212
@howardjohn I may have opened this ticket incorrectly and it did not get labeled.  My bad, just pinging again on this as I think it could be a nice improvement to Pilot observability.

[2020-01-24 23:32] nicktrav commented on #19789
cc: @howardjohn too :P

[2020-01-25 00:19] howardjohn commented on #20502
I don't think this is feasible to test in an automated test

[2020-01-25 00:19] howardjohn commented on #20504
We should not test this, we are getting rid of citadel

[2020-01-25 00:20] howardjohn commented on #20496
Obsolete, we are removing citadel

[2020-01-25 00:23] nmittler commented on #20359
@howardjohn  I'm fine with that

@starizard can you take a look?

[2020-01-25 01:44] virajrk opened #20520 "Watch root certificate changes on Galley"
**Describe the feature request**
Galley is not a rotating root certificate. When the root certificate got rotated, the pilot was waiting for configuration from galley. Connection got refused and the pilot couldn’t sync with galley. This ended up crashing the control plane component pod.

Here is a reference I found in the code that does reload of certificate and key but not root cert.
https://gith

[2020-01-25 01:46] virajrk commented on #20520
CC : @jwebb49 @aattuluri

[2020-01-25 01:54] bishtawi commented on #19966
Just commenting here to say that I encountered this same error (`upstream connect error or disconnect/reset before headers. reset reason: connection termination`) when I upgraded from 1.3 to 1.4 and wasted a ton of time trying to debug and figure out what exactly was causing it. I was able to downgrade to 1.3.x with no issue so it was not a huge blocker or anything but just had no idea how to fix

[2020-01-25 02:00] bplotnick opened #20521 "Installer: Pilot configmap values unclear and inconsistent"
**Bug description**
It is currently hard to distinguish between configuration _for_ Pilot vs configuration served _by_ Pilot lies. In the [istio-control/istio-discovery/values.yaml](https://github.com/istio/installer/blob/master/istio-control/istio-discovery/values.yaml) file, there's a general separation into the `pilot` sections vs the `mixer` and `telemetry` sections. However, even in the `pilo

[2020-01-25 02:12] av-silva commented on #20513
Having the exact same issue today.

[2020-01-25 02:20] ayj commented on #20449
I initially saw the same problem. I'm not sure why we'd see that in the steady state. The root cause is that we've registered the validatingwebhookconfiguration for all verions but we don't support those versions yet in pilot/galley. Restricting validation to a specific version won't work. Other versions would skip validation. I think the fix here is to update the metadata.yaml to include both ver

[2020-01-25 02:24] howardjohn commented on #20449
I am still concerned by the steady state. Is kubernetes calling the validation to convert already stored resources or something?

I don't think we should make pilot internally use beta api, when the version bump was merged the understanding was that we would not require changes to pilot

[2020-01-25 02:27] ayj commented on #20449
Did this problem happen after an update? We do apply some initial configuration such as the default sidecar in istio-system. I suppose its possible the Istio API was applied after istiod registered the webhook config.

[2020-01-25 02:35] howardjohn commented on #20449
I had a cluster that I had continually updated from master with istiod. I never had galley/validation until your changes landed, but the Sidecars I applied are part of the standard perf test setup so I am fairly sure they are valid. When I upgraded to some change that had the validation+v1beta1 update, I started seeing this. I am 90% sure it was for Sidecars that I had applied, not (just) the isti

[2020-01-25 03:07] ayj commented on #20449
Testing a fix now. I'll update the status later tonight.

[2020-01-25 03:42] howardjohn commented on #20521
everything you said is 100% right, out values config has grown to be very unwieldy and poorly structured.

We are hoping that as we move towards the istiod architecture a lot of this gets cleaned up organically, but if it doesn't we may need some more action here. Part of the challenge is this is sort of an API but is not always treated as an API, which makes it hard to change (other than adding m

[2020-01-25 05:00] #11328 closed

[2020-01-25 05:05] #17728 closed

[2020-01-25 05:05] #17813 closed

[2020-01-25 05:10] sdake commented on #20413
IMO, this problem would be much simpler if instead of having `make test` run Mac binaries, it ran Linux binaries all the time. Docker for Mac always runs a Linux VM, so `make test` on Mac doesn't make sense to test a darwin binary... (with exception of `istioctl`). I am not sure why the feature creep happened related to building Mac, but it has caused significant confusion within BTR.

Can we defi

[2020-01-25 06:21] sdake opened #20526 "make gen is broken"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
`make gen` generates errors.

[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] I

[2020-01-25 06:22] #20439 closed

[2020-01-25 07:10] sdake commented on #20526
This PR broke `make gen` on January 14th: https://github.com/istio/api/commit/7f5243e44d9e866b11cb26652c3120caf76199e3

[2020-01-25 07:15] sdake commented on #20526
This post-submit job failed: https://storage.googleapis.com/istio-prow/logs/gencheck_api_postsubmit/72/build-log.txt

[2020-01-25 07:18] sdake commented on #20526
The build is using my $ISTIO/api clone from July:
[code]

The make system should not be importing code from my local filesystem in this way.

[2020-01-25 07:19] sdake commented on #20413
A new problem: https://github.com/istio/istio/issues/20526

[2020-01-25 07:41] #20414 closed

[2020-01-25 10:09] Stono commented on #20069
It’s be really great if we could do this as we do see problems caused by istio proxy being the last container to be started, it would be a lot easier if it was the first

@howardjohn

[2020-01-25 12:58] piyushkumar13 commented on #20478
@taylorreece I tried with what you mentioned. The certificate is still valid. Here is the info on `cert-chain.pem` :
[code]

It was working fine for me as well. I was able to create virtualservice and destinationrules as well. But, I started getting the error all of a sudden.

I can try updating to 1.3.6V or 1.4v. But, wanted to root cause what has caused this issue in `1.3.0`

[2020-01-25 14:14] piyushkumar13 commented on #20478
@taylorreece After upgrading to `1.4` issue resolved.

[2020-01-25 15:07] howardjohn commented on #18401
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/1239

[2020-01-25 16:23] howardjohn commented on #20361
Missing step: https://github.com/istio/test-infra/pull/2302 setting up prow branch protection

Also there is a "completed" item to add the release managers team. I am not sure why this is marked as completed as it has not been? This is done by https://github.com/istio/community/pull/267

[2020-01-25 16:27] howardjohn commented on #20526
I am curious how it uses code from your local filesystem, don't we only mount `istio` repo not all of the GOPATH?

[2020-01-25 20:32] howardjohn commented on #20508
in 1.6 we will have dual control plane which will provide a migration path, I don't think we need to do anything specific here actually, we can probably close this and just be aware of this

[2020-01-25 20:34] ostromart commented on #20143
The root cause is actually that we are using a k8s include for HPA spec specifically rather than mirroring as we are doing for other k8s proto messages. Because k8s protos are v2, they do not compile with "omitempty". Therefore, when a HorizontalPodAutoscalerSpec object is created, the empty string fields are included and JSON strategic merge overlays the empty fields for the entire object, not ju

[2020-01-25 20:36] ostromart commented on #20143
@richardwxn we do use merge logic in the overlay phase. This problem is peculiar to this field. we already mirror all the others.

[2020-01-26 05:01] #12382 closed

[2020-01-26 05:13] howardjohn opened #20534 "automator fails gen-check"
https://github.com/istio/istio/pull/20533

I didn't look into if gen-check is calling more than gen, or if automated is not properly calling gen

[2020-01-26 05:46] clarketm commented on #20534
This is what we are running. I will see what it needs to be for istio/istio.

https://github.com/istio/test-infra/blob/2a08caaefdfb9ea37b786fd19ad5fd578f0edbe2/prow/config/jobs/api.yaml#L35

[2020-01-26 06:08] richardwxn opened #20535 "mtls_first-party-jwt test keep failing after enabling egressgateway"
Link to the test: https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/20244/integ-security-k8s-tests_istio/7219.

As background, this PR: https://github.com/istio/istio/pull/20244 tries to address the enablement of components issue(including egress-gateway), and the mtls_first-party-jwt test kept failing with this change because of unavailable egress-gateway. I skipped the test to c

[2020-01-26 09:19] wuestkamp commented on #17527
If you change the secret, make sure to delete the kiali pod so a new one gets created and the new secret will be mounted.

[2020-01-26 09:33] Stono opened #20536 "v2 metrics response size doesn't seem to work"
**Bug description**
Switched over one of our bigger clusters to v2 metrics and response sizes are just broken.  All other metrics are fine.

<img width="1569" alt="Screenshot 2020-01-26 at 09 28 29" src="https://user-images.githubusercontent.com/1486729/73133306-bbab8c80-401e-11ea-9dfa-be3011a9959f.png">

Response size are being recorded, just incorrect (looking at metrics reported after the v2 ro

[2020-01-26 09:43] Stono commented on #20476
Please can we reopen this, as I still think something is wrong after rolling this out to another cluster.

I set up a scrape for `sauron-graphql-server` and noticed this:

Why is `sauron-graphql-server` logging metrics with a `destination_app=sauron-graphql-server` and a reporter of `source`?  Surely this should be destination?

[code]

[2020-01-26 09:43] Stono commented on #20536
Also reopened https://github.com/istio/istio/issues/20476

[2020-01-26 09:44] #20476 closed

[2020-01-26 10:18] Stono commented on #20476
There was actually a problem here.  The request size differences were absolutely to do with the buckets as previously mentioned however the response sizes are broken.  I've raised https://github.com/istio/istio/issues/20536 for this

[2020-01-26 10:30] Stono opened #20538 "v2 metrics missing destination labels for non-mesh destination"
**Bug description**
We have a service on our cluster, which does not have sidecars, named `solr`, the simplistic request flow looks like this:

`[search-one | istio-proxy] --> [solr]`

In v1 metrics, from the source reporter (`search-one`) you can see the metrics were accurately labeled:

<img width="1667" alt="Screenshot 2020-01-26 at 10 28 05" src="https://user-images.githubusercontent.com/14867

[2020-01-26 11:50] sdake commented on #20526
yup - I admit, I am stumped too.

[2020-01-26 11:53] sdake commented on #20526
mount line: https://github.com/istio/istio/blob/master/Makefile#L115

and `$(PWD)` is: https://github.com/istio/istio/blob/master/Makefile#L66

but then again, I am not sure how this target works: https://github.com/istio/istio/blob/master/Makefile.overrides.mk#L37...

[2020-01-26 11:55] sdake commented on #20526
I just double-checked my work.

[code]

Perhaps the credential loading is causing some problem - as $HOME/go is where my source code is stored.

[2020-01-26 13:24] sdake commented on #20413
`BUILD_WITH_CONTAINER=1 make test.integration.pilot.kube` does not work correctly in a container. Several tests fail. I have included a log.
[typescript.txt](https://github.com/istio/istio/files/4113494/typescript.txt)

[2020-01-26 13:25] sdake commented on #20413
@nmittler can you take a look at https://github.com/istio/istio/issues/20413#issuecomment-578501622? I am not really clear why all of the connectivity fails. I suspect IPv6 may be involved as there is a bind to [::] which IIRC docker does not support IPv6.

Cheers
-steve

[2020-01-26 14:19] markusthoemmes commented on #14367
I'm also facing issues with Istio requiring a service to contain the relevant pods + ports: In my case, I'm using a self-managed service (without a selector) that allows me to freely choose the endpoints and subsets I want in there.

I kinda expected the individual pod's listeners to just be created based on the specified containerPorts, but they only seem to appear once I point a service at them

[2020-01-26 14:22] mayank commented on #13840
@jwenz723  Will updating to 1.17 help? have you done it?

[2020-01-26 15:07] chadlwilson commented on #13840
If we are all talking about EKS here, that's not an option. Even 1.15 isn't available on EKS yet, so 1.17 is a long way away.

[2020-01-26 15:56] howardjohn commented on #14367
you might be able to get away with manually creating the listeners with the Sidecar resource inbound config, but not just from container port. note that container port is not at all the same thing as a service, and is both optional and does not mean you want a service to be exposed, so not relying on that field is an explicit decision

[2020-01-26 16:08] howardjohn commented on #20534
make gen is what we want, so the bug is in istio/istio.

On Sat, Jan 25, 2020, 9:46 PM Travis Clarke <notifications@github.com>
wrote:

[2020-01-26 16:14] markusthoemmes commented on #14367
Cool thanks, i‘ll take a look at that! In my case I can take specific assumptions about those ports so maybe the picture is static enough in my case to not need another service.

[2020-01-26 17:08] howardjohn commented on #20534
Interestingly, I ran `make gen` locally and it updated as expected.. not sure how that happens

[2020-01-26 17:36] howardjohn commented on #20535
I think the problem is egress does not support gateway SDS but we are accidentally enabling it

[2020-01-26 18:19] howardjohn commented on #20535
We need to either make pilot support egress SDS or make pilot-agent support file mount

[2020-01-26 18:59] mandarjog commented on #20536
Marking it as a release blocker.

[2020-01-26 19:18] Stono commented on #20538
@mandarjog this one is probably a release blocker too in my opinion

[2020-01-26 19:22] mandarjog commented on #20538
@Stono you are correct that workload labels are not available. Can you approximate that info using destination service?

[2020-01-26 19:45] mandarjog commented on #20538
@Stono in 1.5 you will see destination service and namespace correctly set. We still will not set workload labels. @bianpengyuan @douglas-reid

For the general case of labeling non sidecar injected destinations, we have several options.
1. Metadata service , like the one mixer implements.
2. Endpoint annotations that stats pickup.

We have discussed both, but unlikely to be done as a 1.5 release b

[2020-01-26 19:47] mandarjog commented on #20536
@kyessenov this is 1.4.
the problem is likely already fixed in 1.5. @bianpengyuan

[2020-01-26 19:53] Stono commented on #20538
@mandarjog not easily, and without significant change across our dashboards and alerts and some very messy `label_replace`.

We've rolled back to 1.4 (istio-telemetry) anyway.  We won't be able to migrate to v2 until this is addressed, and it's something you should make very clear to other people migrating across especially as i'm told the plan was to make v2 the default behaviour in 1.5?

[2020-01-26 19:56] mgwizdz-jamf commented on #18425
@rshriram thanks for your response. I do it in this way but probably I missed something or I just don't understand it correctly. I did something like this but it doesn't work I mean it deploys correctly but looks like properties weren't added to config.
[code]

[2020-01-26 20:35] Just-Insane commented on #14969
Regarding the JWT authentication, the OIDC provider in Oauth2_Proxy separates long cookies into multiple set-cookie headers, which appears to be unsupported by Istio, as mentioned in this issue (https://github.com/istio/istio/issues/14240), which may be resolved (though the docs are unclear).

[2020-01-26 23:05] prageethw opened #20540 "x509: certificate is valid for 100.64.0.1, 127.0.0.1, not 172.20.86.175 prometheus api-server scrapes"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
When istio used with kops Version 1.15.0 the api server scrapes fail.

**Affected product area (please put an X in all that apply)**

[ ] Configurat

[2020-01-26 23:31] PiotrSikora commented on #20361
The branching process is broken, and there is a mismatch across branches.

Notably, `istio/istio:release-1.5` points to `istio/proxy` that's 4 commits / 10 days older, and significantly different (see: unfinished #20519) than `istio/proxy:release-1.5`.

If we have explicit commit dependencies between projects, they need to be accounted for when branching, instead of simply branching from the `mast

[2020-01-26 23:32] howardjohn commented on #20361
I believe the process is a WIP as it was started late Friday, what you described is on the check list

[2020-01-26 23:45] kyessenov commented on #20536
I can take a look. Do we _know_ it is fixed in 1.5?

[2020-01-27 00:09] fpesce commented on #20361
I think there was a small miscommunication following the comment https://github.com/istio/istio/issues/20361#issuecomment-576843786

[2020-01-27 00:34] howardjohn commented on #20361
I see, I was confused since I didn't see any activity in the org audit log, but I think my query was just wrong

[2020-01-27 00:37] howardjohn commented on #20395
This is blocking https://github.com/istio/istio/pull/20379

[2020-01-27 05:02] #15277 closed

[2020-01-27 05:02] #15302 closed

[2020-01-27 05:55] johscheuer commented on #19682
The error probably happens on the remote gateway (you will see this if you add debug logs or use something like tcpdump). The problem is that the remote gateway only knows for `*.global` and not for `*.bar` what to do. If you really require this you need to add `*.bar` to the gateway config (see: https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/gateways/templates/pre

[2020-01-27 07:02] nadilas commented on #4837
Is there any way around this already?

[2020-01-27 07:31] Stono commented on #20536
I have only tested `1.4.3` @kyessenov

[2020-01-27 09:28] Hmr-ramzi opened #20545 "Multi Headless services configuration not working out of the box with SideCar application"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

Istio Sidecar injection not working properly, whenever multi headless-service configuration used. For example, deploying a zookeeper cluster (with

[2020-01-27 09:42] sfudeus commented on #4837
Not sure about openshift in detail, but for vanilla k8s with tighter PodSecurityPolicies, this is somewhat resolved by istio-cni. Plainly for deploying pods, there is no need for a initContainer with iptables/net_admin privileges anymore.

[2020-01-27 11:05] cabrinoob opened #20547 "Default retry policy or not?"
Hello,
I'am using Istio v1.3.5 and I wonder if there is a default retry policy ?

If I read the doc, I can find this :

_"By default, the Envoy proxy doesn’t attempt to reconnect to services after a first failure."_

So, if I understand, there is no default retry policy. But it's not exactly what I observe. Because, when I call a service on which I have not defined a virtualService (so, no retry p

[2020-01-27 11:15] eperdeme commented on #20477
I've tried the below but it does not seem to disable sniffing;

[code]

The settings don't seem to take effect, I have deleted the pod still seems to be sniffing.

[code]

I'll keep poking around, I must be doing something wrong.

[2020-01-27 11:50] eperdeme commented on #20477
Sometimes it's 90% failure, sometimes 0%, there seems no logic to see.

[code]

[2020-01-27 12:35] weeco opened #20548 "Istioctl upgrade failed to parse the current version"
**Bug description**

I am trying to upgrade my Istio installation from 1.3-latest-daily to 1.4.3. Originally I installed istio using `istioctl` at version 1.3. When I run `istioctl experimental upgrade --filename=./prd/saas-istioctl-profile.yaml --dry-run` the following output and error appears:

[code]

**Expected behavior**

No error showing up

**Steps to reproduce the bug**

Install Istio 1.3

[2020-01-27 14:17] eperdeme commented on #20477
Weird.
wget always works, curl works intermittent, as does yum.

[2020-01-27 14:22] #20496 closed

[2020-01-27 14:22] #20504 closed

[2020-01-27 14:33] mkoppanen commented on #19615
Has this made it's way to a release? Recently upgraded from 1.3.0 and things broke

[2020-01-27 14:38] chadlwilson commented on #13840
I can confirm that @jqmichael 's workaround seems to be working well in my tests. I don't know what the consequence is of only allowing HTTP/1.1 for the webhook, but it seems to be working well in allowing our cluster to survive uncontrolled shutdown of the nodes the sidecar-injector is on.

If it helps anyone else, we apply this via automated post-Helm-install script:
**patch-sidecar-injector.yam

[2020-01-27 15:11] haf-afa commented on #20454
Can repro it again. Seems to happen once in a while. Need a way to debug?

[2020-01-27 15:14] haf-afa commented on #20454
[code]

[2020-01-27 15:38] turbotankist commented on #20062
logs on ingress-gateway

[code]

[code]

[2020-01-27 16:30] anupash147 commented on #20255
@blhagadorn : Thank you for the response, i had already tried it and verified. It does not put all the components of Istio helm package on the intended nodes.

[2020-01-27 16:50] dmaxim commented on #19296
When I attempted the work around the certificate was not generated.  The cert-manager logs showed a 503 response.  I added a Destination rule to disable mutual tls for the cert manager service which allowed the certificate request to complete.

[code]

[2020-01-27 16:54] alexvolsh commented on #20478
I have the same issue on a fresh install of the Istio `1.4.3` with enabled SDS. When SDS disabled, everything works fine.

[2020-01-27 17:20] douglas-reid commented on #20536
I was not seeing this issue with response sizes in testing against httpbin on Friday.

[2020-01-27 17:23] #19833 closed

[2020-01-27 17:31] cmanzi opened #20550 "Egress gateway not working with Multicluster deployment"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
I followed this guide to deploy Istio in a multicluster configuration: https://istio.io/docs/setup/install/multicluster/gateways/. I am able to get

[2020-01-27 17:33] douglas-reid commented on #20536
From a `sleep` pod, executing the following:

` # curl -v httpbin:8000/bytes/9000 -s -o /dev/null`

Produces:

![image](https://user-images.githubusercontent.com/21148125/73198560-07763880-40e8-11ea-864e-349ce481c2a0.png)

[2020-01-27 17:35] mandarjog commented on #20536
We should retry the httpbin experiment with 1.4.3

[2020-01-27 17:37] douglas-reid commented on #20536
@mandarjog i'm testing with a 1.4.2 build, it turns out.

[2020-01-27 17:40] douglas-reid commented on #20536
Interestingly, I see `0.475` as the p95 for _request_ size (for empty requests):

![image](https://user-images.githubusercontent.com/21148125/73199092-101b3e80-40e9-11ea-9f9c-af90ebac31fb.png)

[2020-01-27 17:40] howardjohn opened #20552 "TestStatsFilter flakes"
One example: https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/20549/integ-telemetry-k8s-tests_istio/7055

This isn't super often but I see this one a fair amount

[2020-01-27 17:43] elfinhe commented on #20548
hi @weeco, please use --force as a temporary workaround for this issue.

[2020-01-27 17:48] Stono commented on #20536
Here are metrics directly from the proxy.  Ignore the unkonwn labels in this example as i didn't apply the filters globally to capture this data on this example.  This service is returning sizeable bodies as seen by v1 mixer:

<img width="1672" alt="Screenshot 2020-01-27 at 17 33 26" src="https://user-images.githubusercontent.com/1486729/73199684-3236b000-412d-11ea-8c04-a39ce1ffae36.png">

But v2

[2020-01-27 17:50] nmittler commented on #20413
@sdake are you running on linux? If so, you'll need to follow the instructions [here](https://docs.docker.com/network/bridge/#enable-forwarding-from-docker-containers-to-the-outside-world)

[2020-01-27 17:51] elfinhe commented on #20548
this should be fixed in master by https://github.com/istio/istio/pull/20187/files
where we have a test case "release-1.3-latest-daily"

[2020-01-27 17:52] mandarjog commented on #20536
From doug's previous comment it seems like the response is zero. I am wondering if we are capturing the response size correctly with chunked encoding.

[2020-01-27 18:15] douglas-reid commented on #20536
Currently investigating whether or not the presence of the 'mixer' filter in proxy config could be impacting the stats filter.

[2020-01-27 18:24] #20497 closed

[2020-01-27 18:29] douglas-reid commented on #20536
Still seeing the same results without `mixer` filter. @Stono 's cluster is using chunked encoding, but my test cluster with chunked encoding does not demonstrate the same issue.

[2020-01-27 18:31] Stono commented on #20536
So everyone is on the same page about what we've done:

1. v1 enabled - validated a config_dump
2. v1 enabled - validated mixer filter removed
3 v2 enabled - validated a config_dump for new filters

Requesting 5mb responses multiple times from test service (chunked encoded), all `istio_response_bytes_bucket` both source and destination reporters record the request in every bucket (effectively reco

[2020-01-27 18:46] ericvn commented on #20413
Looking at the changes @howardjohn made in #20125 there are even more failures when running locally in a container (more tests run now when doing a `make test`) when one's kube context is set to IBM IKS clusters. At least I'm seeing errors like:
[code]
because of no access to the .pem.

[2020-01-27 18:55] knrc commented on #4837
There are a few issues with elevated privileges which we have addressed in the maistra version - the need for privileged access, support for random UIDs, cluster wide permissions etc.  The CNI plugin should address the init container/privileged issue for applications, our implementation uses Multus as it's an easier integration within the OpenShift, however you will still need cluster wide permiss

[2020-01-27 19:08] douglas-reid commented on #20536
Currently investigating if the difference in observations is `1.4.2` v `1.4.3`.

[2020-01-27 19:11] Stono commented on #20536
OK, by downgrading the proxy to `1.4.2` the buckets are correct:

[code]

Went back and forth a few times between versions and can confirm this is a `1.4.3` regression.

[2020-01-27 20:17] bianpengyuan opened #20562 "Add detailed integration test for stats filter"
Currently `istio/proxy` integration test only tests request count. We need to add test for all other metrics (latency, bytes sent/received).

[2020-01-27 20:47] ericvn opened #20563 "istio:istio Investigate removing KUBECONFIG from the Makefile.core.mk"
**Bug description**

Is is possible to remove the KUBECONFIG variable from the Makefile.core.mak along with the pointed to file? The standard tests should not require a KUBECONFIG while the integration tests have parameters to set which KUBECONFIG to use.

Simply removing the value and file results in failures:
[code]
.....

In this scenario I had a local kubecontext set (pointing to an IKS cluste

[2020-01-27 20:57] mandarjog commented on #20536
Waiting on: https://github.com/envoyproxy/envoy/pull/9839

[2020-01-27 21:08] howardjohn opened #20566 "istio-start.sh needs owner/tests"
This script often breaks and doesn't keep up with changes. For example, the version has been "1.3.0" in master, when we are on 1.5 now.

[2020-01-27 21:55] howardjohn commented on #20487
Another one, but missing init container logs: https://prow.istio.io/view/gcs/istio-prow/logs/integ-pilot-k8s-tests_istio_postsubmit/1253

[2020-01-27 22:12] howardjohn opened #20575 "`istioctl manifest apply` obscures failures to apply config with kubectl"
[code]

My CRDs failed to apply, and all I get is a cryptic "exit status 1" error message. If I directly use `kubectl apply` I get a real error message (unrelated to this).

Also, if Base fails, shouldn't we just abort? Why both installing the other components if they are a dependent on base?

[2020-01-27 22:51] howardjohn commented on #20359
Seems like wait did not fix this @brian-avery @therealmitchconnors https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/20573/integ-istioio-k8s-tests_istio/3973

[2020-01-27 22:54] howardjohn opened #20577 "1.5 can not be installed on K8s 1.13"
Due to `unused` in CRD

[2020-01-27 22:55] howardjohn commented on #20577
Just opening this to track

[2020-01-27 23:47] #20143 closed

[2020-01-27 23:52] ostromart opened #20579 "istioctl operator init broken"
A couple of new regressions here:

[code]
two problems here:
1. dumping log to stdout by default
2. installer	name conflict: ListKindConflict

[2020-01-28 00:19] stewartbutler commented on #20487
@howardjohn I'll take it if you want to assign it to me

[2020-01-28 00:31] howardjohn opened #20582 "1.4 -> 1.5 non-istiod broken by "udpa.type.v1.TypedStruct""
In the istiod upgrade case, we are doing all webhook validation in the new 1.5 Istiod, because we specifically add some workarounds to fix races with Galley. When istiod is disabled, Galley 1.4 will still be doing validation of the 1.5 install config. In particular, the Envoyfilters will fail, since they are using types that are not known to 1.4 Galley. This leads to these errors on upgrade:'

[co

[2020-01-28 00:34] kyessenov commented on #20582
Galley cannot use future proto definitions. UDPA typed struct is the only way to reliably propagate those protos through Galley.

[2020-01-28 00:40] howardjohn commented on #20575
I think it actually logs it later and I was just impatient... but

still applies

[2020-01-28 00:41] howardjohn commented on #20582
The problem is that galley itself doesn't know about the protos. Although this is a pretty niche case of "1.4 with telemetry v2 -> 1.5 with telemetry v2 without istiod" - perhaps the answer here is we do not support that

[2020-01-28 00:43] kyessenov commented on #20582
I take it as galley baking-in an assumption that no new protos will ever be introduced in the future.
So it's a bug that probably needs to be fixed for 1.5.

[2020-01-28 00:51] howardjohn commented on #20582
That is a good point actually, this applies even to 1.5 Istiod validation

[2020-01-28 00:53] kyessenov commented on #20582
Situation is worse due to the fact galley is using gogoproto. We can't be generating and linking gogoproto for every envoy proto out there.

[2020-01-28 00:56] howardjohn commented on #20582
How are we even getting XDS protos to work here? very confused how this ever worked https://github.com/istio/istio/blob/4170e2e2bd27e4d5b6e585fde8bfe9cce9d45ce5/pkg/config/xds/xds.go#L68

[2020-01-28 00:57] howardjohn opened #20583 "Namespace controller for ca needs leader election"
Right now we will write to the same config map for each instance of istiod. This means we will have namespace*replica writes per second, which is likely to blow up large clusters. Note that large clusters often have 100s of istiods and 1000s of namespaces

[2020-01-28 02:35] steeling opened #20589 "Ingressgateway consistent 503 errors"
**Bug description**

I'm attempting to get cert-manager to work within Istio, but the ingress constantly returns a 503 for the http01-solver. When I attempt to make a request to the solver manually, there are no associated log entries within the ingressgateway.

**Expected behavior**

I expect the istio ingressgateway to route to the HTTP-solver

**Steps to reproduce the bug**
Deploying cert-manag

[2020-01-28 03:44] kyessenov commented on #20582
I don't know. I'm not familiar with galley code base.

[2020-01-28 03:47] howardjohn commented on #20582
nevermind, it's golang proto. I don't think we have a way around requiring all though protos

[2020-01-28 03:52] kyessenov commented on #20582
What I don't understand is where does Any come from in Galley? It takes a JSON from k8s and returns some JSON? Where is it reading protobuf bytes?

[2020-01-28 04:09] howardjohn opened #20590 "Istiod reports istio_build{citadel} metric"
This should probably not be reported, since it makes the dashboard very confusing as it says citadel is running when it isn't

[2020-01-28 04:11] howardjohn opened #20591 "Ingress SDS disabled, yet no tests failed"
https://github.com/istio/istio/pull/20543 completely broke ingress SDS, the secret fetcher does not even start when on GKE. pending more info

[2020-01-28 04:18] howardjohn commented on #20591
oof, path.Base != path.Dir. I have no clue why this works in kind

[2020-01-28 04:21] howardjohn commented on #20582
I think the flow is galley reads kubernetes json and creates an EnvoyFilter proto message (gogo). That proto has a struct with the config. Inside of pilot, we take that struct and convert it to a golang proto Message (linked above)

[2020-01-28 04:29] yangminzhu commented on #20479
In your authZ policy you have `methods: ["/thanos.Store/Info"]` which was wrong, could you change to use `paths` here? The `methods` should always be `POST` for gRPC requests.

[2020-01-28 05:01] #14920 closed

[2020-01-28 05:04] #17202 closed

[2020-01-28 05:09] howardjohn commented on #20552
Ignore that test failure link.. it was an issue with the PR. Its possible all failures I saw were from that pr

[2020-01-28 05:09] #20552 closed

[2020-01-28 06:11] ayj commented on #20582
What @howardjohn sounds about right. Galley and Pilot use gogo for Istio APIs and golang for xDS. GogoStructToMessage is converting from gogo to golang via unmarshal/marshal.

Putting aside validation for a moment, its not clear how this works for a 1.4 Pilot processing an already persisted 1.5 EnvoyFilter. Presumably it would have the same problem?

[2020-01-28 06:11] shamsher31 commented on #20505
I will pick this one.

[2020-01-28 06:47] ayj commented on #20520
Which version of Istio are you testing? The code you referenced above is in master/1.5 (not released).

The galley server should only watch it's own cert/key. It doesn't use the root cert directly. We do watch the root cert to patch the webhook configuraiton, but that shouldn't affect Pilot-to-Galley mTLS.

[2020-01-28 07:02] ayj opened #20596 "validation and injection webhook controllers need leader election"
The validation and injection wehbook controllers reconcile the validating and mutating webhook configuration. We previously only a few instances of each controller which resulted in minimal load on the kube-apiserver. Now that we've bundled this with istiod, which can scale to higher number of replicas, we should explicitly elect one leader to manage the configuration. istiod with injection/valida

[2020-01-28 07:41] PsychoSid opened #20597 "Sidecar Resource Not Working ?"
**Bug description**
Using default sidecar resource does not restrict traffic

**Expected behavior**
Traffic should not flow across namespaces.

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**
1.3.5 - helm 2

**How was Istio installed?**
helm chart

Just adding a basic sidecar resource:-

`
api

[2020-01-28 08:25] eperdeme commented on #19188
Really glad this issue is here, been scratching my head on what resolution setting resulted in and HTTPS vs TLS.

[2020-01-28 10:40] shamsher31 commented on #20161
@brian-avery @howardjohn Any discussion happened with docs team ?

[2020-01-28 10:56] shamsher31 commented on #20162
I will take this one, I hope I won't face the curl issue that I faced in #20351. :)

[2020-01-28 11:28] #20548 closed

[2020-01-28 12:09] PsychoSid commented on #20597
Oddly this all worked fine with v1.4.3 I will close this for now.

[2020-01-28 12:09] #20597 closed

[2020-01-28 12:13] haf-afa commented on #20454
Any ideas?

[2020-01-28 14:18] haf commented on #20454
Stern log:

[code]

[2020-01-28 14:28] pbecotte commented on #19719
That does not work.

Looks like the 1.4.3 version of the helm chart is using `http://prometheus.{{ .Values.global.prometheusNamespace }}.svc.cluster.local:9090`

Unfortunately, setting that value still doesn't work, because that triggers the `base` chart to try and create a namespace (which already exists).

Two questions-
1. Is the docs that say "1.4" at the top of the page not actually pulling f

[2020-01-28 14:49] cmanzi commented on #20479
@yangminzhu Ah, maybe that's where the confusion is coming from then. The docs seem to contradict that.

[2020-01-28 15:03] c0c0n3 opened #20602 "Dynamic HTTP header for outbound traffic"
### Context
I'm trying to add a dynamically generated HTTP header to requests originating from a service in my Istio mesh and directed to a remote service outside of the mesh. Whenever the mesh service, call it `O`, makes an HTTP request `r` to the external target service `T`, I need to add an extra header `h` to the original request `r` so that `T` eventually receives `r+h`. Schematically,

    -

[2020-01-28 15:06] c0c0n3 commented on #20602
Oh forgot to mention. If this isn't possible at the moment but it isn't too hard to implement, I'll definitely consider contributing to the development of this feature.

[2020-01-28 15:08] howardjohn commented on #20582
Pilot is not expected to be forward compatible so I think it's more or less fine to have it not work with a 1.5 EnvoyFilter. I would prefer if it did but it's not really a  hard requirement. We are the same issues with new APIs (a really bad example - you switch all your rbac config over to some new rbac API then rollback to an old pilot that doesn't support that API and suddenly you have no rbac

[2020-01-28 15:10] howardjohn commented on #20582
also @rshriram

To me, there is nothing here that is P0 for 1.5 release but something that may require more long term thought

[2020-01-28 15:24] haf commented on #20454
This filter fails to apply:

[code]

with timeout

[2020-01-28 15:29] haf commented on #20454
istio-multicluster-egressgateway-envoyfilter.yaml also times out

[2020-01-28 15:42] haf commented on #20454
Applying gateways also time out.

[2020-01-28 15:54] chadlwilson commented on #20154
Seems like a better question for discuss.istio.io (however I agree that the docs could be better on TLS/mTLS origination from sidecars).

The `DestinationRule` basically says to expect to find the relevant certs for mTLS in those particular locations on any proxy that is initiating the connection to the destination. If you are trying to do egress directly from a proxy sidecar, it's your responsibi

[2020-01-28 15:56] JMisset opened #20604 "Istio ingress-gateway accepts ALL certificates when verifyCertificateHash contains only one fingerprint"
I'm using Istio 1.4.2 and the following ingressgateway configuration:

apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: http-gateway
spec:
  selector:
    istio: ingressgateway # use Istio default gateway implementation
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
    - "*.example.com"
  - port:
      number: 443
      name: https

[2020-01-28 15:56] haf commented on #20454
[code]

With sidecar logs, seemingly templating but then freezing, first:

[code]
and then this:

![Screenshot 2020-01-28 at 16 55 13](https://user-images.githubusercontent.com/193115/73280598-0e3ba300-41ef-11ea-9267-83c59c0af36f.png)

[2020-01-28 16:29] AlexandreDemailly opened #20606 "Header Host into HTTP response is not accepted"
**Bug description**

communication is failing when we have a header "host" into the HTTP response.

curl -X POST -vvv http://wiremock.xx.xxxx/api/oauth/token

Log from testing env
Egress Gtw log
[2020-01-28T16:44:33.696Z] "POST /api/oauth/token HTTP/2" 200 - "-" "-" 0 653 109 106 "10.1.2.15" "curl/7.64.0" "8c9aec49-31c7-98e2-88fe-cb62262520a2" "wiremock.xx.xxxx" "52.51.160.56:443" outbound|443||wi

[2020-01-28 16:38] haf commented on #20454
https://stackoverflow.com/a/59157503 was the reason... Perhaps `istioctl analyze -k` (which is `istioctl analyze` in 1.5) could check whether things (API server?) can talk to 9443 `gke-proj-cluster-10010101-master          proj-proj-vpc  INGRESS    1000      tcp:10250,tcp:443,tcp:9443                                                                  False`? Or it could be documented, or perhaps it

[2020-01-28 16:40] howardjohn commented on #20454
Its on 9443 instead of 443 so we can run as non-root

[2020-01-28 16:48] howardjohn commented on #20487
This is 100% reproducible locally and in CI on k8s 1.14/1.15. Bumping to release blocker to either fix or remove the validation

[2020-01-28 16:56] howardjohn commented on #20596
related https://github.com/istio/istio/issues/20583

[2020-01-28 17:08] howardjohn commented on #20606
I can reproduce, but not the "crash". Are you seeing the proxy actually crash or just return a 503?

I am pretty sure this is in line with HTTP spec: https://developer.mozilla.org/en-US/docs/Glossary/Forbidden_header_name

[2020-01-28 17:47] howardjohn opened #20610 "TestHealthCheck test flake"
https://prow.istio.io/view/gcs/istio-prow/logs/integ-k8s-116_istio_release-1.5_postsubmit/5

Assigning to @brian-avery for triage

[2020-01-28 17:47] craigbox opened #20611 "istioctl -? doesn't work"
**Describe the feature request**

`istioctl -?` is actively less helpful than other commands.  Please make it a synonym for `istioctl -h`.

[code]

[2020-01-28 17:48] howardjohn opened #20612 "Security tests broken in postsubmit by Envoy stat marshalling issues"
This fails 100% of the time:
https://prow.istio.io/view/gcs/istio-prow/logs/integ-security-k8s-tests_istio_release-1.5_postsubmit/5
https://prow.istio.io/view/gcs/istio-prow/logs/integ-security-k8s-tests_istio_release-1.5_postsubmit/8
https://prow.istio.io/view/gcs/istio-prow/logs/integ-security-k8s-tests_istio_release-1.5_postsubmit/7

marking as a release blocker since we cannot ship with broken

[2020-01-28 17:50] craigbox commented on #20355
It would also be good to have an "istioctl install postcheck", to see that the control plane is running correctly.