[2022-06-14 07:58] aurelienpedron-efx opened #39444 "locality load balancing for multi region clusters does not not work when portLevelSettings is specified"
### Bug Description

locality load balancing does not support portLevelSettings configured in the destinationrule
For instance, the below would not work, the request would be balanced between the clusters in different regions/zones instead of remaining in the same cluster/region as specified by the localityLBSetting
[code]

while this one would work
[code]

### Version

[code]

### Additional Info

[2022-06-14 08:07] shonecyx opened #39445 "Support failover cluster in DestinationRule"
This is related with https://github.com/istio/istio/issues/38105 for the failover feature.
Currently we only support locality based failover but we would like to extend this feature to support failover to a specified cluster for a given route. This is very helpful if the destination upstream cluster is down and we can failover to a default service, for example the homepage service.

Since VirtualS

[2022-06-14 09:40] SpectralHiss commented on #36916
The approach changed after deliberation with @costinm to now load from the default location,
new PR with the details (still WIP): https://github.com/istio/istio/pull/39375

[2022-06-14 10:03] foreachlife commented on #39427
I solved this problem because JWT is not configured on the ingressgateway .
must configure JWT in both the ingressGateway and the service

Correct configuration:

[code]

[2022-06-14 10:03] #39427 closed

[2022-06-14 11:00] rittneje commented on #37946
@howardjohn Please remove the stale label.

[2022-06-14 12:40] veera-chenna commented on #19693
@rohit-tiwari-scmp / @howardjohn , We are seeing the same issue in istio-proxy egress traffic in the version `1.9.5`. What changes we need to do to for this?

[2022-06-14 12:57] simonpie commented on #38148
I have the exact same problem :

[code]

[2022-06-14 13:31] sabikm9876 opened #39447 "Pod reports readiness probe failing on container “istio-proxy”"
Our Production pods are getting restarted 2x a week and we don’t know what’s causing it. We are seeing the following diagnostics when we research the issue. ’ -Pod reports readiness probe failing on container “istio-proxy”:

Line 918: Jun 01 00:31:49 aks-agentpool3-23355474-vmss000003 kubelet[3484]: I0601 00:31:49.747275 3484 prober.go:116] “Probe failed” probeType=“Readiness” pod=“acq-prod2/token

[2022-06-14 13:44] ramaraochavali commented on #39368
It is little tough. But will try and let you know.

[2022-06-14 14:01] Stono commented on #37710
Just throwing it out there that I got hit by this today due to an incident where we accidentally deleted a realm in keycloak.

We were able to recover the realm very fast but new keys were issued, which then left us stumped.

We went digging into the envoy config and found the old keys in there.

Would be nice to have some way to at least force update these on demand?

[2022-06-14 15:30] howardjohn commented on #19693
Please don't comment on issues from 3 year ago; if there are _new_ issues they should be address in new issues. however, 1.9 is EOL so we would not provide support.

[2022-06-14 15:34] markdroth commented on #38914
I'd like to understand why you think Istio needs to do this validation.  What advantage does this provide?  In what cases does this catch problems, and why can't those problems be caught by validating the Istio APIs instead of the resulting xDS resources?

And if you do think Istio needs to do this validation, then I'd like to understand how you plan to address the invalid assumptions that I point

[2022-06-14 15:36] SantiMunoz opened #39448 "IstioOperator using HorizontalPodAutoscalerSpec v1alpha1"
### Bug Description

The [IstioOperator documentation](https://istio.io/latest/docs/reference/config/istio.operator.v1alpha1/#HPAScalingRules) states that we can use the `behavior` field of the HPA for our istiod deployment, but when applying the below configuration we get the error `Failed to watch *v1alpha1.IstioOperator: failed to list *v1alpha1.IstioOperator: unknown field "behavior" in v1alph

[2022-06-14 16:09] oursland commented on #36762
This is still an issue.

[2022-06-14 16:22] sonnyhcl commented on #36863
Any updates on this? or any places else we can track this feature request? @howardjohn

[2022-06-14 18:34] martin-schaefer commented on #4210
I've written a blog about this topic with complete example: https://themartian.hashnode.dev/http-request-body-logging-with-istio-and-envoy

[2022-06-14 19:16] litong01 commented on #39448
@howardjohn @SantiMunoz I've tried 1.13.3, the issue still exists, however, it worked fine on 1.14.1. I think that the option was added maybe after 1.13.x.

[2022-06-14 19:19] litong01 commented on #39448
@howardjohn I wonder if somehow we can indicate when an option being made available. I think some of the products show options with `since` tag which can give people clues on if an option should be working for the release they are using.

[2022-06-14 19:47] ingwonsong commented on #39345
Reusing `WorkloadMode` and `Port` (or possibly `PortSelector`) sounds good to me.

BTW, do we need to have `per-route` matching? If we want to integrate WasmPlugin with Gateway API and Policy Attachment, I think `per-route` Wasm filter is needed.

In case of Lua, it is already supported. https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/lua_filter#per-route-configuration

[2022-06-14 20:00] KunalMalhotraN26 commented on #39448
@howardjohn Yup just tested with 1.14.1, no error anymore.

[2022-06-14 20:29] howardjohn commented on #26652
Aside from getting hardware to run this on, here is what jobs we need:
* Build build tools. This can be trivial today if we just build two separate images. However, we should have some setup that runs two builds (-amd64 and -arm64) then joins them into a single multi-arch image.
  Two options I have thought of, only needed because prow doesn't support complex flows:
  * In each job, append the arc

[2022-06-14 20:43] rotimiawani commented on #38834
Can I assign this to myself?

[2022-06-14 20:58] nmittler commented on #39439
@aryan16 I don't think that's it (but not certain). The test framework should be setting a proper Host header, which by the docs indicates it should work for headless.

[2022-06-14 23:37] costinm commented on #38914
CRDs and XDS resources have a schema - we are just taking advantage of what
can be validated automatically so
we can focus on manual validation for things that are not covered by schema.

Valid Istio resources don't guarantee valid output - the result is a mix of
resources, and we also had bugs resulting in
hard to debug problems ( envoy error messages are not perfect ). I don't
see why Istio vali

[2022-06-14 23:46] diranged commented on #26652
@howardjohn Regarding the docker build process... most of our images internally are built with `docker buildx` ... but for the more complex and slower builds, we do the "build on native hardware" approach. It's pretty simple in CircleCI at least (and I am sure this translates well to Github Actions too):

Here's an example `.circleci/config.yaml`:

[code]

Our `Makefile` looks something like this

[2022-06-15 00:34] howardjohn commented on #26652
Unfortunately prow is quite limited and cannot do dependencies between jobs which is why I was looking through the various hacky solutions

[2022-06-15 00:37] ingwonsong commented on #39193
What about using `istio_agent_wasm_remote_fetch_count` metric? https://istio.io/latest/docs/ops/configuration/extensibility/wasm-module-distribution/

[2022-06-15 00:39] diranged commented on #26652
Ah. What is “prow” - I just figured you guys used either CIrcleCI, Github or AWS CodeBuild to do the builds (or some Google thingy).

[2022-06-15 01:00] zirain commented on #38639
the log level changed in v1.14

[2022-06-15 01:36] zirain opened #39454 "extend `istioctl x es`"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

extend `istioctl x es` support metrics in istio-agent

**Describe alternatives you've considered**

thanks to @nmnellis 's work on https://github.com/istio/istio/pull/36306, user can simply get envoy metric by `istioctl x es <pod_name>` instead of

[2022-06-15 05:02] #37185 closed

[2022-06-15 05:02] #37623 closed

[2022-06-15 05:02] #37630 closed

[2022-06-15 05:02] #37638 closed

[2022-06-15 07:24] guiguan commented on #38077
We are on istio-cni 1.14.0 now, and we are still observing the stale service token problem

If we query our control plane logs within last hour in CloudWatch as [suggested by AWS](https://docs.aws.amazon.com/eks/latest/userguide/service-accounts.html#service-account-tokens), both `kiali` and `istio-cni` are still in the results

<img width="791" alt="Screen Shot 2022-06-15 at 4 57 36 pm" src="http

[2022-06-15 07:54] SantiMunoz commented on #39448
Thanks everyone, I've just tested it with 1.14.1 and the error is gone, I'm just a little bit confused with the HPA generated by the operator, it has the following definition:

[code]

In the annotations it mentions that it has applied the `stabilizationWindowSeconds`, but in the `spec` of the HPA it doesn't have the `behaviour` part.
Another mismatch is the api version, the HPA is using v2beta1 w

[2022-06-15 08:27] 3schwartz commented on #7136
Hi @Stono

Thanks you very much for your fix - it works as needed for us.

After reading the discussion I due however not fully understand why this shouldn't be added as default to Istio. I can follow the arguments that it should be Kubernetes which should have hierarchy of it's containers - however currently it doesn't.

It is nice that the service mess  as a complete abstraction from the applica

[2022-06-15 09:00] dotbalo opened #39459 "pilot-discovery periodically reads server disk data, resulting in high IO"
### Bug Description

I deployed istio on the k8s cluster, using istiooperator.
Istiooperator is configured as follows:
[code]
The status of the deployment is as follows:
[code]
But the pilot-discovery on the k8snode26 node is often very high iowait.This node only deploys istio-ingressgateway, calico, kube-proxy, containerd, kubelet.

### Version

[code]

### Additional Information

I used some too

[2022-06-15 10:20] ralls0 opened #39460 "Kong Ingress controller is unable to route requests to the app"
### Bug Description

I'm running Istio service mesh on OpenShift (by means of the Red Hat OpenShift Service Mesh operator) and Kong as API gateway and ingress controller for my OpenShift cluster.
In particular, I'm trying to follow [this tutorial](https://docs.konghq.com/kubernetes-ingress-controller/2.0.x/guides/getting-started-istio/), but when I try to contact the Kong-Ingress through its EXTER

[2022-06-15 12:00] AndrzejOlender commented on #39056
[code]

works perfectly, thx

[2022-06-15 12:43] stellirin opened #39462 "Pull WASM plugins from Google Container Registry using Workload Identity?"
Can Istio take advantage of Workload Identity to pull WASM plugins as OCI images from Google Container Registry?

When running inside GCP it's typically enough to grant the Service Account `roles/storage.objectViewer` on the underlying Storage Bucket that backs the registry.

GCR is [explicitly mentioned](https://istio.io/latest/blog/2021/wasm-api-alpha/#image-fetcher-in-istio-agent) in the blog a

[2022-06-15 13:07] zhlsunshine commented on #39447
Hi @sabikm9876  2 questions:
1. Did you specify the probe readiness parameters when deploying your application or just use the default values?
2. Could you please provide the log for istio-proxy as John said?
Thanks!

[2022-06-15 14:01] litong01 commented on #39448
@SantiMunoz can you post the complete yaml file here?

[2022-06-15 14:13] SantiMunoz commented on #39448
Hey @litong01, thanks for the follow up, find below the HPA I see for istiod:

[code]

[2022-06-15 14:30] litong01 commented on #39448
@SantiMunoz Here is the yaml file I used.

[code]

And once the PodAutoscaler is up, I am seeing the following.

[code]

notice that the api version is `apiVersion: autoscaling/v2` and behavior section also contains the correct  `stabilizationWindowSeconds`

[2022-06-15 14:33] litong01 commented on #39448
@SantiMunoz my env is clean. The version issue that you saw maybe due to some residual of older istio resources?

[2022-06-15 14:48] SantiMunoz commented on #39448
@litong01 We are using Kubernetes 1.22, I think that is the reason we see different object versions. The Istio Operator we use is very similar the one you shared so I don't think the issue is coming from there.

I will try to test it in k8s 1.23 if I have the chance :)

[2022-06-15 14:56] SantiMunoz commented on #39448
I will close the issue as it seems to be fixed in k8s 1.23, but I would like to emphasise the idea of having the minimum requirements per feature in the Istio docs, that would help a lot!

Thanks everyone for the help!

[2022-06-15 14:56] #39448 closed

[2022-06-15 15:52] viveksuhanda opened #39463 "Istio Egress Gateway for TCP connection, hijacking traffic for other namespaces"
Hello Team,

We have Istio v1.10.2 deployed on Azure Kubernetes Service using Istio Operator, which connects with Azure MySQL DB via Private Endpoint. While configuring egress traffic for this connection, we followed the below mentioned link,

https://istio.io/latest/blog/2018/egress-mongo/?&_ga=2.89514971.1904130223.1653286465-1348875568.1628146652#direct-tcp-egress-traffic-through-an-egress-gate

[2022-06-15 15:53] viveksuhanda commented on #39463
If we remove the mesh gateway parameter and instead of that just put the istio-gateway in the configuration, the traffic is routed via the service entry instead of the egress gateway. This is validated by checking the logs of egress gateway pod.

[2022-06-15 16:30] howardjohn opened #39464 "TestEgressGatewayTls various issues"
https://prow.istio.io/view/gs/istio-prow/logs/integ-security-multicluster_istio_postsubmit/1536855749987143680 example failure

`Secret is not supplied by SDS` because the file is not found. This is not found because the volume isn't mounted, despite being in the config.

Also our dumping logic seems suspect. I think somewhere along they way we started duplicate dumping: https://gcsweb.istio.io/gc

[2022-06-15 16:41] howardjohn commented on #39462
cc @igsong

[2022-06-15 18:23] howardjohn opened #39468 "access logging: multiple providers doesn't work"
[code]

only last one is used due to https://github.com/istio/istio/blob/6a1c1c887bfd7c802f564b15ba10ae9cfc0e0889/pilot/pkg/model/telemetry.go#L467.

cc @zirain

[2022-06-15 18:39] AnnieSH opened #39469 "[Proxy] gRPC client cancellation shows up as "UNKNOWN" in istio metrics"
### Bug Description

When a client cancellation occurs:
- Expected: `istio_requests_total` reports it as gRPC status 1 (CANCELLED)
- Actual: `istio_requests_total` reports it as gRPC status 2 (UNKNOWN)

To replicate:
- Send a gRPC request with a low timeout (eg 0.00001s) such that it always times out and cancels.

We see that 2 is the default status
https://github.com/istio/proxy/blob/d0d8b4818422

[2022-06-15 19:21] howardjohn commented on #39469
the timeout is in your client app? I'm not sure if the client cancel would ever propogate to the server so envoy may not see it. Just a guess - would. need to verify in the spec

[2022-06-15 19:58] ingwonsong commented on #39462
@stellirin As mentioned in [the announcement](https://istio.io/latest/blog/2021/wasm-api-alpha/#future-work-and-looking-for-feedback), Istio 1.12 does not support the private repository.
From Istio 1.14, it is supported via `ImagePullSecret` field of `WasmPlugin`.

After getting a [json key file](https://cloud.google.com/container-registry/docs/advanced-authentication#json-key) from GCP, you can c

[2022-06-15 20:14] AnnieSH commented on #39469
To clarify, the cancelled metric shows up in our server application metrics and `istio_request_total` reports it as unknown, so the request seems to be propagating up.

Yeah the timeout is in the client, it was the simplest way to replicate a client cancellation and the issue. I sent the test request using grpcui/grpcurl.

[2022-06-15 20:18] ingwonsong opened #39471 "wasm: pre-check a Wasm module before distributing it"
In current implementation, all the checks regarding Wasm module happen on each `istio-agent` side.
If we conduct such checks before distributing it, it helps to reduce the effect of wrong configuration.

In details, following checks may be possible in advance, but not limited.

* Validity of the given URL
* Checksum
* ImagePullSecret

Validation hook seems to be the right place to implement this.

[2022-06-15 20:19] howardjohn commented on #39469
Ah got it. Thanks.

Do you see OK on success? Or is everything unknown?

[2022-06-15 22:44] kyessenov commented on #39345
@ingwonsong Yes, there is a reason why instantiate only one module per proxy. Modules have high overhead, so they are re-used as much as possible. So it doesn't quite make sense to me to have different modules for routes and filters. You can already look up route name inside Wasm with `route_name`. Do you just want some arbitrary config blob for `route_name` instead of `route_name`?

[2022-06-15 22:45] howardjohn opened #39472 "Telemetry access logging: add cache"
In the old style access logs, we had caching of the generated config. In Telemetry, we lost this.

In real prod clusters, we saw 50% of Istiod CPU spent just on this part. It would be good to add a cache here.

I did some initial work here but got distracted. I might be able to complete but if anyone else wants to pick it up, even better.

[2022-06-15 23:05] ingwonsong commented on #39345
@kyessenov Thanks for clarifying it.
Regarding Gateway API and policy attachment, I just imagined Wasm attachment as a kind of policy.
Will look at it.

[2022-06-15 23:22] howardjohn commented on #39196
I think https://github.com/istio/istio/pull/39473 fixes it, but I don't have experience/time to test it. Would be great if someone could try it out/take over the PR.

[2022-06-16 00:26] zirain commented on #39472
I will take a look this.

[2022-06-16 00:31] zirain commented on #39196
I will take a look at that PR.

[2022-06-16 00:32] zirain commented on #39471
so you want to validate those on istiod(wehhook etc.)?

[2022-06-16 03:23] wxdao commented on #36238
@bianpengyuan Would you please clarify the limitation in the docs? It'll help other people not to waste more time debugging on this...

[2022-06-16 03:38] bboshiZ opened #39477 "pod in different zone get no request when set outlierDetection"
### Bug Description

1. istioctl install --set profile=default
2. kubectl apply -f sleep.yaml  &&  kubectl apply -f openresy.yaml
3. sleep pod is located in  ”topology.kubernetes.io/zone=ap-southeast-3a“ node
4. openresy pod-1 located in ”topology.kubernetes.io/zone=ap-southeast-3a“
5. openresy pod-2 located in ”topology.kubernetes.io/zone=ap-southeast-3b“
6. kubectl apply -f dstrule.yaml
[code]

[2022-06-16 04:08] bboshiZ opened #39478 "request not balanced between pods when loadBalancer.localityLbSetting.enabled is false and loadBalancer.simple is LEAST_REQUEST"
### Bug Description

1. istioctl install --set profile=default
2. kubectl apply -f sleep.yaml && kubectl apply -f openresy.yaml
3. sleep pod is located in ”topology.kubernetes.io/zone=ap-southeast-3a“ node
4. openresy pod-1 located in ”topology.kubernetes.io/zone=ap-southeast-3a“
5. openresy pod-2 located in ”topology.kubernetes.io/zone=ap-southeast-3b“

currently，destinationRule not set , use glo

[2022-06-16 04:17] scottleedavis commented on #36762
I am not able to get this to work following @oursland @priyanka-operant 's recommendations and from https://github.com/resf/istio

Kind version: 0.14.0
Istio version: 1.14.1

I'd love to adopt istio into our company however as we are in the process of migrating engineering to m1 macbooks, I am at a pause for continuing the evaluation.

I do not see a 1.14.1 tag at https://hub.docker.com/r/querycap

[2022-06-16 05:02] #37307 closed

[2022-06-16 06:17] stellirin commented on #39462
Thank you for the detailed responses. I upgraded our clusters this week to 1.14 and wanted to investigate this new functionality. For now we'll probably stay with our existing solution (internal http server) as it's generally our policy to avoid SA keys for use within GCP.

[2022-06-16 06:17] #39462 closed

[2022-06-16 10:14] JWT95 commented on #39001
Any update here?

In particular:
- Confirmation that this is an issue and not working as designed
- If it is an issue, is there a timeline to fix?

[2022-06-16 11:05] frankjkelly commented on #16585
:-(

[2022-06-16 11:25] olddriver4 commented on #37124
Hi, How to get it without setting serviceentry?

[2022-06-16 12:35] ericvn commented on #39301
Lin,

I suspect that there is another version of istioctl in your PATH before this is run. We may be incorrectly adding istioctl after one already in the path using `export PATH=$PATH:$HOME/.istioctl/bin`.

If you do a `which istioctl`, I suspect you will see an instance of the executable that was already on your path. A `which -a istioctl` would list the one in the .istioctl directory, but it bei

[2022-06-16 13:46] dacloutier commented on #16585
It's been 3 years with no progress... and the last comment from istio was: "Regex matching a complex seems ripe for a bypass."

:,(

[2022-06-16 13:57] GregHanson commented on #39463
@viveksuhanda did you try setting the `exportTo` field in the VirtualService ([doc](https://istio.io/latest/docs/reference/config/networking/virtual-service/#VirtualService))

[2022-06-16 14:36] turbotankist opened #39480 "some requests go PassthroughCluster although others go through the mesh"
### Bug Description

We have two services. One sends requests to another.
Most of requests work right and go trough the Mesh. but some of them don't.
there are two exactly the same requests but with different result
<img width="1108" alt="image" src="https://user-images.githubusercontent.com/9462236/174089150-80d4681c-b776-4478-9a58-c78f65c9c014.png">
The services use sidecars  configuration but I

[2022-06-16 14:40] litong01 commented on #39459
@dotbalo similar issue not found on any other node?

[2022-06-16 15:05] howardjohn commented on #39462
Does
https://github.com/google/go-containerregistry/blob/623023e6c2442f4f29dfaee5334fa5e0c125cc3b/cmd/krane/main.go#L52
do what we want?

BTW, in the meantime you could always run some OCI proxy doing the auth, or
a local caching registry, etc. Not trivial but would work around the
limitations

On Wed, Jun 15, 2022 at 11:17 PM Adam Farden ***@***.***>
wrote:

[2022-06-16 15:21] denniseffing commented on #13705
Glad to see that the PR helped!
This issue here is still active to track the current status on this limitation. Here I am, still hoping that some Istio contributor will pick this up eventually.

Returning a validation error when applying the config is imo a valid request, though not the final solution to this issue.

[2022-06-16 15:25] howardjohn commented on #39480
can you clarify what you mean by "Just one packet was transmitted to the istio-proxy over loopback"? Preferably in the form of two `curl ...` requests showing the working vs not working

[2022-06-16 15:26] howardjohn commented on #39478
LEAST_REQUEST does not balance load evenly when latency is not even. So if you have one pod in a local region (fast) and another one distant (slow), the local one will get more traffic. This is working as intended - if you don't want this you can switch to ROUND_ROBIN mode.

[2022-06-16 15:27] howardjohn commented on #39477
https://istio.io/latest/docs/tasks/traffic-management/locality-load-balancing/failover/#configure-locality-failover describes outlier requirement

[2022-06-16 15:44] mstrYoda commented on #16585
It looks like lots of users need that functionality (also we need that in production too), so why not move forward on my pr: https://github.com/istio/istio/pull/35641/ ?

Is there any Istio Security team member here? If anyone knows, can mention them here?

[2022-06-16 15:48] ingwonsong commented on #39462
@howardjohn Yes. That would be the native support for GCR. (as well as ECR & ACR).
Do you think it worth to support them?

[2022-06-16 16:01] #39196 closed

[2022-06-16 17:28] howardjohn commented on #39471
I don't think we should do anything involving pulling the binary. We can validate the schema (eg the URL is the shape of a URL), but not much else. This is the same as Kubernetes does with images?

[2022-06-16 17:36] markdroth commented on #38914
The PGV validations are not a first-class part of the xDS resource schema.  Their intended use is now documented in the xDS spec, as per https://github.com/envoyproxy/envoy/pull/21517.  Any use of them beyond the purpose documented there is not valid.

If the problem is that Envoy's error messages are sub-optimal, then I think we should get Envoy to provide better error messages.  If this is the r

[2022-06-16 17:43] viveksuhanda commented on #39463
@GregHanson Yes, I tried with that as well, still faced the same issue.

[2022-06-16 18:11] ingwonsong commented on #39471
That's true.
BTW, my point is that users seems to be hard to recognize their mistake.
Will think about the way to utilize metrics or istioctl as well.

[2022-06-16 19:02] #37877 closed

[2022-06-16 19:17] ingwonsong commented on #39462
Hmm.. my misread again. it should work. I will try to test it. Thanks @howardjohn

[2022-06-16 21:49] l8huang opened #39490 "Request allowing Istio Sidecar object has multiple egress listeners with same port"
**Describe the feature request**

Currently Sidecar doesn't allow multiple egress listeners have same port number(see [ValidateSidecar()](https://github.com/istio/istio/blob/master/pkg/config/validation/validation.go#L1095-L1097).

When an application accesses hundreds of external services(each could have several DNS names) through egress gateway, the egress listener's hosts will be a super long l

[2022-06-16 22:25] costinm commented on #38914
On Thu, Jun 16, 2022 at 10:36 AM Mark D. Roth ***@***.***>
wrote:

While PGV is not complete and not perfect - I believe it provides useful
information about what envoy would consider as invalid XDS and reject, and
since gRPC clients are
a tiny minority I suspect we will not remove it in the next few releases.

I think it's reasonable for all Istio clients to assume that the generated
XDS will be

[2022-06-16 22:36] howardjohn commented on #39490
It seems like this only makes sense if we add TLS.

[2022-06-16 23:28] l8huang commented on #39490
For TLS this is required; for HTTP, this doesn't really affect LDS/RDS config, just for convenience purpose breaking down the long hosts list into multiple IstioEgressListeners and group them by second-level domain.

[2022-06-16 23:34] howardjohn commented on #39490
Right, i mean IMO the convenience is not worth making an API change. So we should do this IFF we add TLS.

[2022-06-16 23:49] markdroth commented on #38914
I think that statement amounts to saying that you do not consider gRPC a first-class citizen as a client of Istio.  But I think this is a chicken-and-egg situation: if Istio never provides first-class support for gRPC, then it's never going to get enough usage, because it's going to be obvious to anyone who tries to use it that it's half-baked and not really well supported.

Speaking as one of the

[2022-06-17 01:13] zirain commented on #39472
can you share more details about this? what the cluster's size? how many workloads? how many telemetry resources in the clusters?

`buildAccessLogFromTelemetry` take 50% if istio beyond my unstanding.

[2022-06-17 01:25] costinm commented on #38914
On Thu, Jun 16, 2022 at 4:49 PM Mark D. Roth ***@***.***>
wrote:

Not sure how my statement amounts to this - I think proxyless and non-envoy
are important ( not only gRPC ) - but they need to deal with the fact that
majority of the config
generation is focused on Envoy, and adjust to that. I suspect this is the
case with most XDS servers.

Unfortunately you are mostly right on the 'half baked' pa

[2022-06-17 02:04] istio-testing opened #39494 "[release-1.14] Telemetry: propogate hostname where possible"
Manual cherrypick required.

#39476 failed to apply on top of branch "release-1.14":
[code]

[2022-06-17 02:58] #39477 closed

[2022-06-17 03:15] bboshiZ commented on #39478
Yes, latency is not even. this explain traffic not even.  but when apply the follw config,  explain the traffic become even.
`
apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: openresty
  namespace: default
spec:
  host: openresty.default.svc.cluster.local
  trafficPolicy:
    loadBalancer:
      localityLbSetting:
        enabled: true
      simple: LEAST_REQUEST
`

[2022-06-17 05:03] #37687 closed

[2022-06-17 05:03] #37700 closed

[2022-06-17 05:03] #37710 closed

[2022-06-17 05:13] rameshar16 opened #39496 "helm.go:84: [debug] admission webhook "validation.istio.io" denied the request: error decoding configuration: invalid character 's' looking for beginning of value"
Hi All, I am seeing the below issue while installing/upgrading the helm chart. Please help me on fixing the issue.

Error: INSTALL FAILED: failed to create resource: admission webhook "validation.istio.io" denied the request: error decoding configuration: invalid character 's' looking for beginning of value helm.go:84: [debug] admission webhook "validation.istio.io" denied the request: error decod

[2022-06-17 05:29] nreddipalle commented on #18850
@bogdansucila I am trying to achieve something similar as part of my setup. unable to do with ngnix (using external service pointing to CDN endpoint not working fine)..
So as part of your final config with istio, are you still maintaining two URL's or able to make the traffic route to CDN seamlessly with a single URL.

[2022-06-17 07:52] zhlsunshine commented on #39447
Hi @sabikm9876, this issue may have some relates with this [PR#39497](https://github.com/istio/istio/pull/39497), you can try it out if necessary.

[2022-06-17 09:50] andysworkshop opened #39501 "Setting SNI on egress TLS connection doesn't work"
### Bug Description

Minimal test configuration using the Wordpress internet site as a test target.
[code]
This sets up an entry for `http://bar.svc:443` that is upgraded to TLS by the `DestinationRule`. The `sni` attribute should set the SNI to `wordpress.com`. However it is ignored.

Test output from an in-mesh pod shell. Note the `subdomain=bar` in the output. This is where this particular inte

[2022-06-17 11:59] absynth76 commented on #38614
there is something I don't understand, why
[code]
must be set for tcp protocol ? at tcp level, no tls neither mtls should be used in any case, this should be implicit config so.

@howardjohn  could you please link to the documentation that tells you must disable tls for tcp protocols, thanks you

[2022-06-17 12:37] ptravishill commented on #39323
Even after the new 1.14.1 helm release, I am still getting the same thing.

I also tried manually setting the image in `.global.proxy.image` and received the same result.

Strangely, if I install it manually via [this](https://github.com/istio/istio/tree/master/manifests/charts/gateways/istio-ingress), it works even without injection enabled in the namespace.

[2022-06-17 13:18] howardjohn commented on #39480
Why do you have it set at all? On all recent versions there is no timeout which is the only safe option.

The reason is that any slow connection may hit the timeout and then we cannot identify traffic

[2022-06-17 13:19] howardjohn commented on #39496
can you show the output of `helm template` or add `--debug` so it shows the yaml?

[2022-06-17 13:41] GregHanson commented on #39494
@zirain I don't see the changes for the linked PR in the release-1.14 branch, was there a reason this one was closed?

[2022-06-17 13:58] jyotipatel opened #39504 "Circuit breaker per user"
Granular circuit breaker based on URL parameter or header. Similar to rate limit using envoy sidecar.

**Affected product area (please put an X in all that apply)**

[ X] Networking
[ X] Performance and Scalability

**Additional context**
It would be amazing to break the circuit for just one user if the downstream returns 5xx for that particular user instead of the full service. If there is any al

[2022-06-17 14:15] nmnellis opened #39505 "ServiceEntry EDS fails to update when updating a deployment"
### Bug Description

I have a ServiceEntry that references a service in the cluster as well as a workloadentry referencing an endpoint in another cluster.
[code]

frontend pod running in the web-ui namespace is patched with the following command.

The patch just causes the pod to redeploy and be unhealthy (trigger a failover)
[code]

However EDS does not get updated so the endpoints in the Service

[2022-06-17 14:20] turbotankist commented on #39480
Thank you, I will switch off it

[2022-06-17 14:20] #39480 closed

[2022-06-17 15:03] nmnellis commented on #39505
scaling the pod does update EDS correctly
[code]

[2022-06-17 15:10] #39471 closed

[2022-06-17 15:18] litong01 commented on #39207
@nea1 Thanks for your information. sorry for the delays in response, I was on vacation. Now I understand what you really meant. You like to have the capability for an Istiod instance (DS) to watch only selected (marked with annotations maybe) services instead of all the services in a remote cluster. Is that accurate?

[2022-06-17 15:27] litong01 commented on #39207
@nea1 can you take a look at this and see if that solves your issue? https://istio.io/latest/blog/2021/discovery-selectors/

[2022-06-17 15:33] markdroth commented on #38914
What I hear you saying is that if there's a behavior difference between Envoy and another client, then Envoy is correct and the other client needs to change.  I think that is basically the same as saying that Envoy's implementation defines the correct behavior, which means that it is unilaterally in control of the xDS spec.  As an xDS API shepherd, I can assure you that that is incorrect.

In fact

[2022-06-17 15:58] nmnellis commented on #39505
i just verified that this also happens if i do `kubectl apply -f` so it does not seem to be related to the action of changing the deployment.

[code]

[code]
Results in bad cluster endpoints for a pod that no longer exists
[code]

errors
[code]

[2022-06-17 15:58] linsun commented on #39505
That is great scale in worked!

I am a little unsure how the patch command worked.  first of all, i could not get your cmd working, it complained about missing image id.  So i added it:

[code]

It is also unclear to me if the patch of readinessProbe or livenessProbe being null  did anything? I tried one without then with, and kubectl reported no change.  The review pod seems running fine after pa

[2022-06-17 17:45] andysworkshop commented on #39210
Investigating further it seems that the gateway only accepts a tls mode of `ISTIO_MUTUAL` if its server port protocol is `HTTPS`.

If I set it as HTTPS then the call is accepted by the gateway but of course fails because the gateway expects to see plaintext HTTP once its decrypted the mtls session. As soon as I switch the gateway port protocol back to TLS then I'm back to the `CLIENTHELLO_TLSEXT 2

[2022-06-17 17:51] costinm commented on #38914
On Fri, Jun 17, 2022 at 8:33 AM Mark D. Roth ***@***.***>
wrote:

In fact, the idea that Envoy's behavior defines the xDS spec is provably

Agree with the intent - and as a generic protocol xDS may not be envoy
centric ( at least in the opinion or goals of its maintainers )

But reality is that a lot of behavior is based on envoy-specific filters,
with and also envoy-implementation-tied behavior.

[2022-06-17 17:52] videlanicolas opened #39509 "Upgrade to apiextensions v1"
### Bug Description

The beta CustomResourceDefinition API (`apiextensions.k8s.io/v1beta1`) has been [deprecated](https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/#:~:text=The%20beta%20CustomResourceDefinition%20API%20(apiextensions.k8s.io/v1beta1)) in Kubernetes 1.22 in favour of `apiextensions.k8s.io/v1`.

This makes istio fail when deployed: https://github.com/selkies-p

[2022-06-17 19:32] litong01 commented on #39509
@videlanicolas I've been using k8s v1.23.x for awhile, I am not seeing the errors that you are seeing. I looked at the link you have above, but could not figure out what steps that you were taking to install istio. Please detail the steps here so that I can try to reproduce the error.

[2022-06-17 19:35] markdroth commented on #38914
That may not be an xDS issue - just a consequence of having too low-level and implementation-specific configs.

There is nothing inherently Envoy-specific about the xDS API.  It's true that because the API started as part of Envoy, it does reflect Envoy's high-level architecture in the sense that things like "HTTP filters are executed before load balancing" are baked into the API, but that just me

[2022-06-17 19:37] litong01 commented on #38747
@palmobar can you please post the detailed steps that you took to reproduce this error? Otherwise it is a bit difficult to see where the problem is. Thanks.

[2022-06-17 19:42] zrobisho opened #39510 "Update istioctl release URLs to consistently include platform and arch"
Currently the `istioctl` [release URLs](https://github.com/istio/istio/releases/tag/1.14.1) have different formatting for different targets.

The linux release URLs use the format `istioctl-<version>-linux-<arch>.tar.gz`
The mac release URLs use different formats for the older amd arch `istioctl-<version>-osx.tar.gz` and the newer arm releases `istioctl-<version>-osx-<arch>.tar.gz`.

By providing

[2022-06-17 20:39] andysworkshop commented on #39501
Yes the cluster config for `bar.svc` looks to be the same on my client pod as yours:
[code]
I'll get the access log and config dump shortly. I don't know if makes any difference but I'm using the DNS proxying feature in my mesh:
[code]

[2022-06-17 21:04] videlanicolas commented on #39509
Disregard this issue, I realized that Istio operator has archived that repo and has now moved on to this repo. Selkies is using the old archived repo, which means they are getting the v1beta1 API instead of the V1 app.

Thanks for the reply!

[2022-06-17 21:04] #39509 closed

[2022-06-18 05:02] #37729 closed

[2022-06-18 05:02] #37741 closed

[2022-06-18 05:02] #37748 closed

[2022-06-18 05:15] #39312 closed

[2022-06-18 07:02] #37739 closed

[2022-06-19 05:02] #37728 closed

[2022-06-19 05:41] #38026 closed

[2022-06-19 16:45] rameshar16 commented on #39496
Hi @howardjohn,
The issue has been fixed. The issue was with the incorrect data type.
Thanks and Regards.
Ramesh

[2022-06-19 16:45] #39496 closed

[2022-06-19 22:29] #39301 closed

[2022-06-20 05:41] #37765 closed

[2022-06-20 06:00] yuliyantsvetkov commented on #12232
/reopen

[2022-06-20 06:02] yuliyantsvetkov commented on #12232
I have problem with the mesh config, and I wonder how to apply `ingressSelector`, because my infrastructure differs from the default one.

I have two ingresses installed with different selector, due to the fact I route traffic in a way I need my ingresses totally separated.

When I apply the `meshConfig` the access logs of the ingresses is not affected, since they don't use the default `ingressSel

[2022-06-20 06:53] zirain commented on #39468
the root case is not L467, we may need fix this in `applicableTelemetries`

[2022-06-20 07:09] dingjianrui opened #39519 "Auto-registered workloadentry is using the private IP address of the VM in the cloud"
### Bug Description

I follow the guide here: [https://istio.io/v1.13/docs/setup/install/virtual-machine/](url) join the VM to the Istio mesh (both Kubernetes and VM are deployed in Azure cloud), once I start the Istio agent in the VM, one WorkloadEntry is created automatically, but unfortunately the address of the WorkloadEntry is the private IP address of the VM, since the VM and the Kubernetes

[2022-06-20 08:01] xichengliudui opened #39520 "discoverySelectors: If istio does not watch the istio-system namespace, the egress gateway cannot be used"
### Bug Description

when `discoverySelectors` are used and the `istio-system` namespace does not match label the `istio-system` namespace  will not be watch.
if you use the egress gateway in any namespace except `istio-system`, you will not be able to find upstream hosts（istio-egressgateway）

I think the `istio-system` namespace as the root namespace should be discovered by all other namespaces.

[2022-06-20 08:23] xichengliudui commented on #39520
When I read the source code, the `istio-system` namespace does not seem to be filter, I'll check with the latest version

[2022-06-20 09:27] andysworkshop commented on #39501
[bug-report.tar.gz](https://github.com/istio/istio/files/8939300/bug-report.tar.gz)

Output from `istioctl bug-report` attached as requested.

[2022-06-20 09:40] jyotipatel commented on #39504
Thanks for the response @howardjohn . But this option is not feasible for us as we have a large number of users.

[2022-06-20 10:20] xichengliudui commented on #39520
namespace config
[code]

istio operator config
[code]
envoy config
[code]
when the `istio-discovery: enabled` label is not config for the `istio-system`, `sleep-test` cannot discover the egress gateway hosts

[2022-06-20 10:26] xichengliudui commented on #39520
add label
[code]
sleep envoy config
[code]

[2022-06-20 10:29] xichengliudui commented on #39520
so, should we force istio to watch istio-system namespace

[2022-06-20 11:30] ramaraochavali commented on #39504
Circuit breakers are not meant to restrict calls from single user in general. They are generally a way to protect the service from all clients. If you want user specific, I think rate limiting is the option. Is there a problem in using rate limiting option?

Can you explain more about your use case on why you want to break circuit per user and which circuit you want to break?

[2022-06-20 12:05] jyotipatel commented on #39504
Use case: Assume multiple users sharing an environment. If any issue comes up on a particular user side due to a faulty configuration, this might bring down the whole backend. Thus, instead of breaking the circuit for all the users we want to block this user's requests only after a number of failures. Because other users can be served easily if this user's requests are not reaching the backend any

[2022-06-20 14:52] ramaraochavali commented on #39504
Circuit breaker does not take failure threshold. It breaks based on max requests/connections/pending requests.

[2022-06-20 15:24] litong01 commented on #39520
@xichengliudui I think that using `discoverySelectors` is an advanced configuration for istio, it requires users to take care of the namespaces using the labels including `istio-system` namespace, tied `discoverySelectors` with istio system namespace probably will create none generic code (I mean a lot of if else code branches). With external control plane, multiple primaries, primary and remote c

[2022-06-20 15:45] howardjohn commented on #39520
I don't think we should change this.

[2022-06-20 15:45] howardjohn commented on #39519
I think there is a flag on the `istioctl` command to register a workload. On my phone currently but I can look it up later.

[2022-06-20 19:45] litong01 commented on #39005
@davtex are you saying setting up a pod with `sidecar.istio.io/inject: "true"` not working?

If this is indeed the case, we are so broken. here is what I tried

1. create a namespace named sample
2. deploy a service and a deployment as follows, notice the injection label for the pod:
[code]

with the namespace `sample` not  having the injection label, the proxy pod get injected correctly. This is

[2022-06-20 20:07] elijah-roberts opened #39527 "Update documentation related to deploying CNI plugin"
**Describe the feature request**
Update documentation, and values file to have pattern for enabling CNI

**Describe alternatives you've considered**
None
**Affected product area (please put an X in all that apply)**

[X] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructur

[2022-06-21 02:15] beck917 opened #39530 "can istio support only one direction traffic hijack?"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Can istio support one direction traffic hijack?
During we inject istio on gray stage, We need only hijack inbound traffic.

I konw the iptables shell can do this, but the inject webhook has some parameters to support this feature?

**Describe altern

[2022-06-21 02:57] fatedier commented on #36069
@hzxuzhonghu Is there any plan to support it in the code?

[2022-06-21 03:05] fatedier commented on #39530
https://istio.io/latest/docs/reference/config/annotations/#:~:text=traffic.sidecar.istio.io/includeOutboundIPRanges

[2022-06-21 03:36] hzxuzhonghu commented on #36069
Sorry for forget it, will do that.

[2022-06-21 05:01] #36240 closed

[2022-06-21 05:02] #37764 closed

[2022-06-21 05:02] #37771 closed

[2022-06-21 05:02] #37779 closed

[2022-06-21 05:51] luowendi opened #39531 "Does serviceEntry have the mechanism to find the liveness of external service ?"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

The situation is like this：
        we want to use some external services to provide some functions to the Istio cluster, but we don't know whether Istio supports some detection mechanisms for external services or not? If some external services are down, can Istio remove these serv

[2022-06-21 05:52] beck917 commented on #39530
thx, this is what i wanted

[2022-06-21 05:52] #39530 closed

[2022-06-21 06:42] hzxuzhonghu commented on #39519
You can also setup the env `INSTANCE_IP` with the IP you want, this will take preference

[2022-06-21 07:18] luowendi commented on #39531
Thanks for your kindest reply. Can you provide me with some references or links about the passive healthcheck? I really want to know the details about this part.

[2022-06-21 08:44] dingjianrui commented on #39519
@howardjohn  thanks for your feedback, use the flag "externalIP" in the command "istioctl x workload entry configure" fixed this issue.

@hzxuzhonghu , the environment settings is mapped to "ISTIO_SVC_IP", I'm not sure where to configure the "INSTANCE_IP", but thank you all the same.

Right now the Workload Entry is up and running with the external IP, I also exposed the workload entry with a Kube

[2022-06-21 09:05] hzxuzhonghu commented on #39519
INSTANCE_IP can be set in vm, so it is the first IP in proxy.IPAddressed, which will be used to autoregister

First, you need to make sure VM app is reachable without istio.

[2022-06-21 09:08] hzxuzhonghu commented on #39531
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/outlier#outlier-detection

and https://istio.io/latest/docs/concepts/traffic-management/#retries

[2022-06-21 09:26] dingjianrui commented on #39519
Hi @hzxuzhonghu , I can access the app in the VM via public network with/without the Istio proxy running inside, but I cannot access the apps in the VM from any pod, and the return code is 503, error message is "upstream connect error or disconnect/reset before headers. reset reason: connection failure".

thanks.

[2022-06-21 09:51] jyotipatel commented on #39504
@ramaraochavali thanks. I think the use case I am talking about can not be supported by istio at this point of time.
Is there a way to return 5xx instead of ejecting the host when the consecutive5xxErrors are breached?

[2022-06-21 10:24] fatedier commented on #38222
Can we support it in VirtualService too?

[2022-06-21 10:29] fatedier commented on #38813
@dddddai @hzxuzhonghu Is it possible to expose this ability in VirtualService? Add a new field to describe the prefix mode?

[2022-06-21 10:33] bboshiZ opened #39532 "slow start not take effect when container restart or inPlaceUpdate"
### Bug Description

When the pod restarts, its meta information remains unchanged (ip etc.),  changes in eds data send by istio to envoy is the "healthStatus",  HealthStatus_UNHEALTHY send to envoy
[code]

when pod become ready， pod HealthStatus_HEALTHY send to envoy
envoy will not set the pod into slowstart mode

### Version

[code]

### Additional Information

_No response_

[2022-06-21 10:41] ramaraochavali commented on #39504
Is there a way to return 5xx instead of ejecting the host when the consecutive5xxErrors are breached?

yes. That is what local origin errors do that I linked above. It only ejects host if there is a connection issue to the host rather than on return code

Any request going that service entry wont fail - if the service backed by service entry has 4 nodes, one of them would be ejected based on conse

[2022-06-21 10:44] ramaraochavali commented on #39532
Sorry the description is not clear.

Are you saying Istio sends endpoint health status correctly to Envoy when container restarts but Envoy does not put it in slow start mode?

[2022-06-21 10:46] #39520 closed

[2022-06-21 10:47] jyotipatel commented on #39504
Got it, thanks. I will explore this one.

What if the service entry is just an external dns address which is pointing to an outside load balancer?

[2022-06-21 10:50] ramaraochavali commented on #39504
If the DNS resolves to a single IP - yes. all requests will fail.

[2022-06-21 10:58] jyotipatel commented on #39504
yes, thanks for the responses.

[2022-06-21 11:01] #39504 closed

[2022-06-21 11:23] bboshiZ commented on #39532
when I change the pilot code, config the UnHealthy pod not send to envoy.
https://github.com/istio/istio/blob/release-1.14/pilot/pkg/xds/endpoint_builder.go#L304

[code]
to

[code]

build pilot-discovery and update istiod-1-14-0 deploy.
then  kill the istio-proxy contaier in one service pod, when pod get ready, it will in slow start mode

But this  modification is inappropriate

[2022-06-21 11:30] ramaraochavali commented on #39532
Ok. I will take a look.

[2022-06-21 11:39] michaelvl opened #39534 "CNI chart GKE check using deprecated Helm .Capabilities.KubeVersion.GitVersion object"
### Bug Description

In this PR https://github.com/istio/istio/pull/37872 the check for using HPA v2 was updated to:

[code]

The `GitVersion` parameter is part of Helm2 built-in objects (https://v2.helm.sh/docs/chart_template_guide/#built-in-objects) and no longer supported in Helm3 (https://helm.sh/docs/chart_template_guide/builtin_objects/). The check should be rewritten to use `KubeVersion.Min

[2022-06-21 11:41] MichaelVL commented on #39534
As a side-note. Workflows using helm template or kustomize with helmChartInflationGenerator will be hit by this since only KubeVersion can be specified to the template operation.

[2022-06-21 11:56] bboshiZ commented on #39532
perhaps，related to this. when add the debug code
https://github.com/envoyproxy/envoy/blob/main/source/common/upstream/eds.cc#L129
[code]

get  logs
[code]
the parent_.time_source_ is the same for all endpoint,  status:2  represent unhealth

when pod become ready, get logs
[code]

host.creationTime() may be same, not sure

[2022-06-21 11:59] ajatprabha opened #39535 "Wrong port used for prometheus metric endpoint in gateway chart"
### Bug Description

The port exposed in deployment is `15090` but the one used in annotations is different (`15020`).

https://github.com/istio/istio/blob/9a33da1c5527988b6a78f1277730e56c62fcf8c5/manifests/charts/gateway/templates/deployment.yaml#L83-L86
https://github.com/istio/istio/blob/9a33da1c5527988b6a78f1277730e56c62fcf8c5/manifests/charts/gateway/values.yaml#L25

I also tried manually ove

[2022-06-21 12:18] ajatprabha commented on #39535
I'm trying to expose metrics which are documented [here](https://istio.io/latest/docs/reference/config/metrics/). The doc mentioned metric like `istio_requests_total`, but I was not able to find those in my prometheus instance. I checked by port-forwarding to gateway(port: 15090) at `/stats/prometheus` and the counter is there. However, I suspect that because of wrong port prom server is not scrap

[2022-06-21 12:33] zirain commented on #39535
you can try setup a prometheus like [this](https://github.com/istio/istio/blob/master/samples/addons/prometheus.yaml) do, I just test it a few days ago, it works fine.

BTW, `istio_requests_total` metric will generate once there're real requests.

[2022-06-21 12:37] remansour commented on #33345
Can we get an update or ETA on when this will be addressed?

[2022-06-21 12:39] remansour commented on #29761
Any ETA on a fix?

[2022-06-21 13:57] GregHanson commented on #33345
@remansour there was a PR started [here](https://github.com/istio/istio/pull/37290) but was eventually abandoned as consensus could not be reached

[2022-06-21 14:03] litong01 commented on #39207
@nea1 did you look into the article that I suggested above? it seems to me that should solve your issue.

[2022-06-21 14:20] howardjohn commented on #39532
isn't this intended? if a pod has a small blip in readiness we don't want it to warm up again?

[2022-06-21 14:30] bboshiZ commented on #39532
readiness blip lead to not warm up ,this is ok.
Another scenario is, we use cloneset manage pod in k8s.  when update image, pod inPlaceUpdate. not  warm up too

[2022-06-21 14:47] howardjohn commented on #39496
It would be useful to give more details so others can fix this on their own, or we can improve our code.

[2022-06-21 14:51] GregHanson commented on #12232
@yuliyantsvetkov what version of Istio are you using?  You might be better off opening a new issue, and providing your meshConfig access log settings.  The access log fields in meshconfig (spec [here](https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/#MeshConfig)) are not conditional on the `ingressSelector`

[2022-06-21 14:53] GregHanson commented on #39494
resolved by https://github.com/istio/istio/pull/39522

[2022-06-21 14:53] #39494 closed

[2022-06-21 14:54] istio-testing opened #39537 "[release-1.13] manual cherry pick 39476"
Manual cherrypick required.

#39522 failed to apply on top of branch "release-1.13":
[code]

[2022-06-21 15:00] howardjohn commented on #39532
How can you in place update an image in kubernetes? Pod.spec.container.image is immutable

[2022-06-21 15:25] bboshiZ commented on #39532
warme up is needed by the program,  like jvm.  warme up would be better as long as it start up, no matter from crash or image update

[2022-06-21 15:39] nmnellis commented on #39505
Steps to recreate reliably. Also tested that istio 1.11, 1.12, 1.13 all have this issue

[eds-issue.zip](https://github.com/istio/istio/files/8950353/eds-issue.zip)
# Istio EDS Issue

https://github.com/istio/istio/issues/39505

## Replicate

* Istio 1.13.4

1. Setup - setup the environment for routing

[code]

2. View the endpoints for this SE in the gateway

[code]

3. update the local httpbin p

[2022-06-21 15:43] howardjohn commented on #39532
if you want graceful up+down of a service then you shouldn't hot-swap out the image. Aside from that being a bad practice (IMO), it kills the graceful readiness probing and termination that Kubernetes and Istio provide.

IMO this is a Kruise issue, not an Istio one.

[2022-06-21 15:50] howardjohn commented on #39534
.Capabilities.KubeVersion.GitVersion seems to work for me on v3.8.2. It is just deprecated, not removed. Is there anything actually broken by this?

[2022-06-21 15:50] howardjohn commented on #39534
I am fine with changing it though, just trying to understand.

[2022-06-21 15:51] bboshiZ commented on #39532
we will think about that.  Anyway, thank you

[2022-06-21 15:56] howardjohn commented on #39501
Hmm, the logs show it is matching the `bar.svc` cluster as well, which does have the SNI there!

I don't suppose there is any chance your app is not actually reading SNI?

Here was how I tested it:
[code]

(exec in and run the mitmproxy command).

[2022-06-21 17:21] nirvanagit commented on #38716
Any updates on this one? Is this fixed in the latest version?

[2022-06-21 17:48] sabikm9876 commented on #39447
Hi zhlsunshine, First of all Thank You very much for your response. Answers to your questions above #1 we are using the default and have not specified 'probe readiness parameters' when deploying. I will attach the logs for the Istio-proxy
[hipaaformtrackingistioprxy061422.docx](https://github.com/istio/istio/files/8951409/hipaaformtrackingistioprxy061422.docx). Regards,
.

[2022-06-21 18:13] howardjohn commented on #38716
I think we should but would be great if we got someone to verify it fixes the real-world issue (and not just the microbenchmarks)

[2022-06-21 20:06] sschepens commented on #16585
@mstrYoda we also need this, and I can contribute, I had another [PR](https://github.com/istio/api/pull/2173) for solving this, though that is only API change, i'm still pending istiod changes.

I can help you making a document to express the use case and changes necessary, also attendingo to a security meeting to help push this.

[2022-06-21 20:12] MichaelVL commented on #39534
True, if you deploy directly from Helm to a Kubernetes cluster, then `GitVersion` may be set even in never Helm. However, there are workflows that apply post processing to the Kubernetes YAML before deploying to a cluster - also know as the 'Helm chart last mile modifications'. Such modifications could be to validate the YAML against policies using OpenPolicyAgent, sealing secrets etc. A little mo

[2022-06-21 20:51] MichaelVL commented on #39534
I found this - the `extraArgs` field in the kustomize `HelmChartInflationGenerator` are now ignored due to security: https://github.com/kubernetes-sigs/kustomize/pull/3784

This explains the discrepancy between templating the chart with kustomize and helm.

It also changes this issue from a bug into a minor recommendation for using `KubeVersion.Minor` instead of `GitVersion` however, since Helm se

[2022-06-22 01:27] zirain commented on #39472
if you change provider from `envoy-json` to `envoy`, still have the same cpu cost?

[2022-06-22 02:13] dingjianrui commented on #39519
Hi @hzxuzhonghu , If I use the traffic policy of "DestinationRule" to disable the mTLS for the service provided by the VM, then I can access the VM services from a pod without any issue, but the envoy proxy deployed in the VM suppose to support both mTLS and non-mTLS by default, and I cannot found any flag can be used to control the mTLS behaviors of the VM envoy proxy while i using the command "i

[2022-06-22 02:44] hzxuzhonghu commented on #39519
From your desc, i doubt there is something missing to configure. Maybe you need to verify if the VM application secret is loaded well

[2022-06-22 05:02] #37587 closed

[2022-06-22 06:43] hzxuzhonghu commented on #39478
how about setting ENABLE_LEGACY_LB_ALGORITHM_DEFAULT=true and have a try

[2022-06-22 07:22] Stono opened #39545 "Unable to use oauth2 proxy via EnvoyFilter; secret load issue"
### Bug Description

I've been battling for a few days now trying to use `EnvoyFilter` to inject `type.googleapis.com/envoy.extensions.filters.http.oauth2.v3.OAuth2`.

I got something working last night (yay), but when I came in this morning, it was failing.

TCP dumping the requests; the `client_secret` was missing from the `POST`:

<img width="449" alt="Screenshot 2022-06-22 at 08 04 14" src="ht

[2022-06-22 07:29] Stono opened #39546 "Error during istio-proxy startup"
### Bug Description

Hi,
I run Istio on GKE, but during startup we're seeing:

[code]

I assume this call to get aws iam info shouldn't be happening on GKE, or it shouldn't be logged @ level `error`.

### Version

[code]

### Additional Information

_No response_

### Affected product area

- [ ] Docs
- [ ] Installation
- [ ] Networking
- [ ] Performance and Scalability
- [ ] Extensions and Teleme

[2022-06-22 08:08] andysworkshop commented on #39501
What did you use the mitmproxy pod for? If used as a test target then I'm not sure it's a valid test since it's running within the cluster. My test configuration is completely self-contained and demonstrates the issue initiating TLS with SNI for egress from the cluster with no intermediate hops.

My test configuration intentionally hits a well-known public internet server that definitely uses SNI

[2022-06-22 08:09] assafmanzur opened #39547 "galley_istio_networking_* removed. can't find the mertric that can give me the vs,gw,dr,se names"
### Bug Description

`galley_istio_networking_*` was provided an additional tag Name which gives us the actual name for the component. currently,I can't find any other metric that will bring us the same results
this pr -https://github.com/istio/istio/pull/27857/files fixed the count metric but came without the name tag field.

### Version

[code]

### Additional Information

_No response_

[2022-06-22 08:59] 13567436138 commented on #38959
\reopen

[2022-06-22 11:03] 13567436138 commented on #38959
ok

[2022-06-22 11:15] studees commented on #38077
I am facing this also on Istio 1.14 - please can someone respond to this ticket to confirm workaround if you believe it is not a real issue?

[2022-06-22 13:15] jonathanvila opened #39552 "Use the underlying Kubernetes system to handle oci images for WASM OCI Plugins"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
In order to pull and use the wasm oci images, use the kubernetes underlying system that will check first in the local cluster image registry and depending on the imagepull policy will go to the remote registry to pull it if it doesn't exist locally

[2022-06-22 14:02] shonecyx commented on #39445
@howardjohn  any comment?

[2022-06-22 14:19] iprasla commented on #29761
The issue need to be addressed as this issue is linked to https://github.com/istio/istio/issues/33345

[2022-06-22 15:21] nmnellis commented on #39505
it appears that deploying pilot with the following env fixes my issues
[code]

[2022-06-22 15:34] howardjohn commented on #39501
As far as I can tell, that service is logging the `:authority`, not the SNI. Which would make sense since with your config it will NOT override the host header. You would need a VirtualService with rewrite to do that.

[2022-06-22 15:35] #38591 closed

[2022-06-22 17:31] andysworkshop commented on #39501
Ah yes indeed you're 100% correct. I just did what I should have done initially and ran mitmproxy on my own internet-facing server and captured the traffic with tcdump. The pcap showed that the SNI was correct. I'll close this now and hope I didn't waste too much of your time.

[2022-06-22 17:31] #39501 closed

[2022-06-22 18:55] nrjpoddar commented on #39505
This is odd..so directly deleting the pod works and triggers an update but applying a new deployment manifest doesn't?  From a K8s point of view the end state is the same i.e. old pod is deleted and a new one is spun up but in case of a new manifest you end up creating a new ReplicaSet.

That shouldn't matter to Istio though?

[2022-06-22 19:24] nmnellis commented on #39505
i did try adding a delete of the new pod right after applying the patch and it also didnt work. so it seems to also be timing related as well

[2022-06-22 21:30] istio-testing opened #39557 "[release-1.14] docker: support multi/cross-architecture builds"
Manual cherrypick required.

#39278 failed to apply on top of branch "release-1.14":
[code]

[2022-06-22 22:49] howardjohn commented on #39545
https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/config_source.proto#envoy-v3-api-msg-config-core-v3-pathconfigsource may be more appropriate than `path` - I think it was added specifically for cases of Kubernetes mounts which do some weird symlink things. Not sure that would really change this though.

Not sure about the cleanup, but SDS resources are keyed not just by name but b

[2022-06-22 23:36] howardjohn commented on #39552
This is one of those things that would be amazing if we could do it, but.. I don't know any way to do it without mounting the node docker/containerd/etc socket which is incredibly insecure

[2022-06-22 23:37] #39557 closed

[2022-06-23 02:39] zirain commented on #39537
fixed by https://github.com/istio/istio/pull/39543

[2022-06-23 02:39] #39537 closed

[2022-06-23 03:12] zirain commented on #39454
fixed by https://github.com/istio/istio/pull/39508

[2022-06-23 03:12] #39454 closed

[2022-06-23 03:21] clhuang opened #39566 "mesh h2UpgradePolicy: UPGRADE causes http2 requests to be made to external http endpoints"
### Bug Description

Global mesh config is set to use h2UpgradePolicy: UPGRADE in order to gain connection pooling benefits across the istio mesh. We would like to have some requests through the ingress be directed to an S3 website endpoint, which only supports HTTP (no HTTPS) and does not support HTTP/2.

A ServiceEntry and DestinationRule, with `destinationrule.trafficPolicy.connectionPool.http.

[2022-06-23 05:02] #37671 closed

[2022-06-23 05:02] #37757 closed

[2022-06-23 05:02] #37805 closed

[2022-06-23 05:02] #37836 closed

[2022-06-23 05:02] #37838 closed

[2022-06-23 05:02] #37841 closed

[2022-06-23 06:44] hzxuzhonghu commented on #39566
@[clhuang](https://github.com/clhuang) looks the desrinationrule h2upgrade seting does not take effect

[2022-06-23 06:48] hzxuzhonghu commented on #39566
What does the `<redacted>.s3-website-us-west-2.amazonaws.com` cluster configdump?

[2022-06-23 08:07] dingjianrui commented on #39519
Hi @hzxuzhonghu , thanks for you feedback, I think the mTLS is managed by the envoy proxy deployed in the VM, from app point of view the mTLS session between the sidecar is transparent, I think I need to check the mTLS settings of the proxy in the VM, but no idea how to verify this, it will be great if you can share some insights, thanks.

[2022-06-23 08:39] hzxuzhonghu commented on #39519
envoy configdump can show the certs pushed to vm, analysis can be tricky because you have to look into both client and server side tls setting

[2022-06-23 09:13] suwliang3 opened #39572 "the pod of istio-ingressgateway is running, but the status of the pod's pod doesn't run."
In https://istio.io/latest/docs/setup/install/external-controlplane/ ,
after run `istioctl install -f controlplane-gateway.yaml --context="${CTX_EXTERNAL_CLUSTER}"`,
the status of the pod:
[code]
the service:
[code]
but the port of the ingressgateway 15017 and 15012 doesn't run.
[code]

[2022-06-23 10:27] thennetirajesh opened #39573 "Error [IST0139] (MutatingWebhookConfiguration istio-sidecar-injector)"
Hi Colleagues,

While upgrading Istio from 1.11.8 to 1.12.8 we are seeing the below error message,

**15:26:20 WARNING: Istio control planes installed: 1.11.8, 1.11.8.
15:26:20 WARNING: A newer installed version of Istio has been detected. Running this command will overwrite it.
15:26:21 Error: failed to install manifests: errors occurred during operation: creating default tag would conflict:
15:2

[2022-06-23 10:38] zirain commented on #39572
do you finish step 5 of https://istio.io/latest/docs/setup/install/external-controlplane/#set-up-the-control-plane-in-the-external-cluster ?

[2022-06-23 10:53] #37875 closed

[2022-06-23 11:58] psloboda commented on #36762
I have also the same issue with the Macbook Pro M1 chip.

[2022-06-23 14:08] lucasmellos commented on #38880
@litong01 It happened a couple time ago, but I believe that the problem is related to installing istio on different namespace then, after uninstalling it, reinstall on istio-system.

[2022-06-23 14:14] Yiadh opened #39576 "StatefulSets Peer Discovery"
### Bug Description

I have a RabbitMQ cluster running in Kubernetes. It works as expected without the Istio injection enabled.
Unfortunately, the cluster crashes when the istio-injection is enabled. This is caused by the peer discovery failure during the startup process. I got the following error in the pod logs:

[code]

Please bear in mind that:
- Istio version: 1.14.0
- Deployment via Istio op

[2022-06-23 14:21] MartinKosicky commented on #30982
I updated the values.global.proxy.privileged but doesnt work for gateway

[2022-06-23 14:23] litong01 commented on #38880
@lucasmellos understood that, please add details to recreate this issue. That will help to debug the issue.

[2022-06-23 14:28] lucasmellos commented on #38880
[code]
$ istioctl install -f <file>
$ istioctl x purge

apiVersion: install.istio.io/v1alpha1
kind: IstioOperator
metadata:
  namespace: istio-system
  name: istio-system
spec:
  profile: demo

$ istioctl install -f <file>

[2022-06-23 14:54] clhuang commented on #39566
What do you mean? It's not a cluster, but an s3 endpoint: https://docs.aws.amazon.com/AmazonS3/latest/userguide/WebsiteEndpoints.html

[2022-06-23 15:05] Yiadh commented on #6523
I am facing this issue with Istio v1.12.0
I have 2 VMs (nfs client and nfs server) that has been integrated intio the Istio service mesh (Control Plane running in kubernetes). Unfortunately the nfs mount does not work when the istio-proxy is running either in the client side or the server side. I get only the error `Connection reset by peer`

[2022-06-23 15:07] Yiadh opened #39578 "Failed to mount NFS volume with Istio mTLS enabled"
### Bug Description

I have 2 VMs (nfs client and nfs server) that has been integrated into the Istio service mesh (Control Plane running in kubernetes). Unfortunately the nfs mount does not work when the istio-proxy is running either at the client side or the server side. The mount command hangs for few minutes then it returns only the error `Connection reset by peer`

### Version

[code]

### Ad

[2022-06-23 15:24] mstrYoda commented on #16585
Of course that will be nice to collaborate 🙏

[2022-06-23 16:37] howardjohn commented on #16585
I would encourage us to look into whether _regex_ specifically is needed, or blog/pattern matching. Regex has a huge surface area. If all of the use cases are for APIs like `/customer/{id}/blah`, then something matching that form may make more sense

[2022-06-23 16:51] dacloutier commented on #16585
The use case that is most needed is as described above... If something other than "regex" for matching makes more sense, than I'm sure that would make everyone here very happy.

[2022-06-23 17:33] eitansuez opened #39579 "questions regarding the wiki page "Using the Code Base""
on the wiki page ["Using the Code Base"](https://github.com/istio/istio/wiki/Using-the-Code-Base)..

1. why are we doing an "istioctl install" _before_ building and pushing the images?
2. doesn't the "istioctl install" command require the flags `--set hub=` and `--set tag=` to actually fetch the images that one built and pushed?

also it would be nice to have instructions that work on apple silico

[2022-06-23 17:59] rayterrill commented on #38993
We're running into this issue as well after upgrading from 1.12 to 1.13. I did dig through the release notes and changes, and I was unable to find anything that indicated this kind of change, so this caught us by surprise as it's appeared to have caught others.

It does look like 1.14 potentially handles this differently, https://github.com/istio/istio/pull/36981/files.

I did also confirm that ad

[2022-06-23 18:44] mitunmbj opened #39580 "Cant Upload files larger than 2Gi Via Istio Gateway."
We have deployed a file upload API in a Kubernetes cluster, and we are able to upload files larger than 2GB using the regular Kubernetes service via port-forwarding. But when we tried to upload through the Istio gateway in place, we are unable to do so. We can only upload files up to 2GB through the Istio gateway. Any suggestions?

Istio version: 1.13.2

[2022-06-23 19:18] frankbu commented on #39007
@litong01 That's interesting. So I guess the question is what is the correct behavior when removing `--revision=default`? Is that working as designed? I think not deleting the service seems wrong no matter what?

[2022-06-23 20:12] nirvanagit commented on #38716
Trying to understand, is memory leak not easily reproducible in a production cluster running 1.13?

[2022-06-23 20:13] nirvanagit commented on #39368
@ramaraochavali: is memory leak mentioned in this issue applicable to 1.13 as well? I see from the issue description, that you did an upgrade to the master branch.

[2022-06-23 21:36] howardjohn opened #39586 "TestTunnelingOutboundTraffic test flake"
https://prow.istio.io/view/gs/istio-prow/logs/integ-pilot-multicluster_istio_postsubmit/1540064995352514560

[2022-06-23 21:36] aadhik commented on #38148
Canary Upgrade fails due to this error , I testing even by patching the label from istio=ingressgateway to istio=istio-ingressgateway , still get the same error
 Referenced selector not found: "istio=istio-ingressgateway"
Error: Analyzers found issues when analyzing namespace: istio-system.
See https://istio.io/v1.13/docs/reference/config/analysis for more information about causes and resolutions.

[2022-06-23 22:13] istio-testing opened #39588 "[release-1.14] dump gateway conformance suite"
Manual cherrypick required.

#39583 failed to apply on top of branch "release-1.14":
[code]

[2022-06-23 23:21] howardjohn commented on #39586
https://prow.istio.io/view/gs/istio-prow/logs/integ-pilot_istio_postsubmit/1540104022755643392 another example

[2022-06-23 23:47] istio-testing opened #39590 "[release-1.13] [tf] Consistent namespace creation"
Manual cherrypick required.

#38969 failed to apply on top of branch "release-1.13":
[code]

[2022-06-23 23:48] istio-testing opened #39591 "[release-1.13] [tf] Consistent namespace creation"
Manual cherrypick required.

#38969 failed to apply on top of branch "release-1.13":
[code]

[2022-06-23 23:48] istio-testing opened #39592 "[release-1.14] [tf] Consistent namespace creation"
Manual cherrypick required.

#38969 failed to apply on top of branch "release-1.14":
[code]

[2022-06-23 23:49] istio-testing opened #39593 "[release-1.14] [tf] Consistent namespace creation"
Manual cherrypick required.

#38969 failed to apply on top of branch "release-1.14":
[code]

[2022-06-24 00:46] 13567436138 opened #39596 "local ratelimit descriptor config not work"
### Bug Description

[code]

[code]
it should be limit 100 request ,actually it is 10

![1656031368](https://user-images.githubusercontent.com/31508490/175438035-fca58b0e-513b-43f0-8719-c80208317c48.jpg)

![image](https://user-images.githubusercontent.com/31508490/175438060-1f06e140-d1e0-47b1-88cc-9780a216f6c2.png)

### Version

[code]

### Additional Information

_No response_

[2022-06-24 00:48] zirain commented on #39596
here's a workable demo, https://github.com/zirain/playground/blob/master/istio/traffic/ratelimit/route-rate-litmit.yaml

[2022-06-24 01:31] hzxuzhonghu commented on #39566
I know that this is a external service. I mean the config_dump of client. You can check if the http2 options set or not.

[2022-06-24 01:51] suwliang3 commented on #39572
@zirain Not yet. I only runned the first step `istioctl install -f controlplane-gateway.yaml --context="${CTX_EXTERNAL_CLUSTER}"`. Can you tell me why the status of the ingress-gateway's pod related to the `step 5 of https://istio.io/latest/docs/setup/install/external-controlplane/#set-up-the-control-plane-in-the-external-cluster` please?

[2022-06-24 02:40] zirain commented on #39572
after the following istio resources in step 5 created, you will see new listener in ingressgateway pod.
[code]

[2022-06-24 02:41] clhuang commented on #39566
you mean this?
[code]

[2022-06-24 02:45] clhuang commented on #39566
for what it's worth, I downgraded Istio back to 1.9.9; I had initially tried to upgrade to 1.14 to see if the behavior would change

[2022-06-24 03:04] douglas-reid commented on #39468
@howardjohn iirc, you can however have multiple providers in the same clause:

[code]

[2022-06-24 03:24] myartemis commented on #36762
If any progress? I got the same problem with  M1Pro chip

[2022-06-24 03:43] fatedier opened #39598 "DNSProxying support parallel queries to all upstream nameservers"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
I enabled DNSProxying in istio and it will forward external domain queries to upstream nameservers in sequence and fall to the next after one times out.

Can we support parallel queries optional? It will improve performance and reliability of DNS lo

[2022-06-24 04:00] danninov opened #39599 "Istio Operator Error Loops"
### Bug Description

We're upgrading our Istio cluster from v1.12.7 to v1.14.1 using Istio Operator. Istio cluster itself is fine, ingressgateway and Istio proxy are updated, but Istio Operator keep looping error and usage memory keep increased.

### Version

[code]

### Additional Information

[code]

[2022-06-24 05:18] shankgan commented on #36231
Not sure if we should re-open this. Should we use this issue to track deprecation of the API @lei-tang

[2022-06-24 05:53] ramaraochavali commented on #39368
@nirvanagit It should be applicable I guess. But the impact may vary as the XdsCache is there in 1.13

[2022-06-24 05:57] 13567436138 opened #39600 "multi-cluster global rate limit using official rate limit service not work?"
### Bug Description

I installed muliti istio cluster,applied rate limit envoyfilter in one cluster and applied ratelimit deploy in another cluster.configured the envoyfilter's ratelimit cluster using system generated. got error

[code]

[code]

kubectl apply -f envoyfilter-filter-multicluster-global.yaml -n istio-system

envoyfilter-filter-multicluster-global.yaml

[code]

4创建action envoyfilter

[2022-06-24 05:59] beck917 opened #39601 "Specify sidecar resource percentage parameters like "sidecar.istio.io/resourcePercentage""
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
In istio, we only can specify the absolute value such as "sidecar.istio.io/proxyCPU" or others like cpulimit or memory parameters.

it's good, but sometime we want set the sidecar container request and limit according to the main container resource.

[2022-06-24 06:31] hzxuzhonghu commented on #39566
[code]

From this, i can see it is indeed http2 upgrade,

[2022-06-24 06:40] hzxuzhonghu commented on #39566
Figurred it out, you can remove from Destinationrule

[code]

[2022-06-24 07:51] #39519 closed

[2022-06-24 07:52] dingjianrui commented on #39519
I'd like to close this issue since the Workload Entry IP address can be configured.

[2022-06-24 08:38] dingjianrui opened #39603 "VM workload in multi-network environment cannot handle mTLS request from pods in the same mesh"
### Bug Description

Current Status:

1. VM installed in the Multi-network environment.
2. VM workload entry was automatically registered in the cluster, and the probe status of the workload entry is Heathy.
3. Certificates in the VM(/etc/certs) are all verified without any issue. (otherwise I think the mTLS cannot work from VM to pod)
4. From the VM, I can access the service in the Kubernetes clu

[2022-06-24 08:40] gvinayakk commented on #35016
One another issue that I could see it dint clean up the validatorwebhookconfiguration.

#####
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"admissionregistration.k8s.io/v1","kind":"ValidatingWebhookConfiguration","metadata":{"annotations":{},"labels":{"app":"isti

[2022-06-24 09:33] sachin-ks opened #39604 "enableNamespacesByDefault doesn't work when revision tag is there and previous configuration has enableNamespacesByDefault disabled"
### Bug Description

enableNamespacesByDefault doesn't work when revision tag is there and the previous configuration had enableNamespacesByDefault disabled.

### Version

[code]

### Additional Information

### Steps to reproduce
save this as disabledByDefault.yaml :
[code]

save this as enabledByDefault.yaml :

[code]

Do:
`$ istioctl install -f disabledByDefault.yaml`
Then do:
`$ istioctl insta

[2022-06-24 09:35] sylvainOL opened #39605 "Istio Custom resources with status gives `observedGeneration` values in `string` and not in `int64`"
### Bug Description

Istio Custom resources with a status (at least `EnvoyFilter` and `Gateway`) can set an `observedGeneration` value. in kstatus spec (used by Istio as far as I understand), it's supposed to be `int64`.

But istio gives it as string and other tools (like flux)à are messing with it :

[code]

result with flux:

[code]

### Version

[code]

### Additional Information

[bug-report.t

[2022-06-24 10:58] ramaraochavali commented on #38716
We are planning to verify that this week. I will update you on the issue.

[2022-06-24 11:50] zijianz commented on #36448
Not only registryz, I am seeing `endpointsz` as well

[code]

[2022-06-24 13:36] howardjohn commented on #39605
@therealmitchconnors

[2022-06-24 13:38] sarkar07 commented on #31324
Hey did you get any solution for this?
Have the same doubt

[2022-06-24 13:41] litong01 commented on #38880
@lucasmellos using your command wont produce errors (after correcting some errors, which I can tell that cannot be the exact steps that you took), there were few similar issues open in the past regarding the webhook not being cleaned, these old webhooks probably play some bad roles when installing new instances of Istiod. however, using your reproducing steps wont produce the error. Since I do not

[2022-06-24 13:42] MaciekLeks opened #39609 "Unable to use workloadSelector for e.g. DestinationRule"
### Bug Description

I follow every thread of the point embedding of DestinationRules, so how happy I was when finally I found:
- abbility to use SDS (`credentialName`) in TLS section
and
- `workloadSelector` section

First I've tried workloadSelector with istio 1.13.3, then with 1.14.1 but all the time I get:
`error validating data: ValidationError(DestinationRule.spec): unknown field "workloadSe

[2022-06-24 13:45] zirain commented on #39600
is the `ratelimit` deployment injected?

[2022-06-24 14:10] litong01 commented on #39007
@frankbu I would think when revision (even the default get used), the installed webhooks should be removed because their back end services should have been gone, keeping the webhook there wont do anything good. Not sure why it was not. Let me dig a bit deeper and see why it does that. We have so many webhook not being removed issues.

[2022-06-24 14:14] howardjohn commented on #39605
type is defined as:

[code]

But I don't see where _we_ would set that as a string. Is it possible something else is?

[2022-06-24 14:33] sylvainOL commented on #39605
I'm not sure from where it comes but I do see that here :
https://github.com/istio/api/blob/master/meta/v1alpha1/status.gen.json#L97-L100

[2022-06-24 14:36] howardjohn commented on #39468
Hmm.. does that mean it is working as expected? It seems like it shouldn't be a list if it is..?

[2022-06-24 14:43] sylvainOL commented on #39605
and according to https://github.com/istio/istio/blob/master/pilot/pkg/config/kube/gateway/conditions.go#L165, it's an `metav1.condition` struct and according to its type, it' an int64 (https://github.com/kubernetes/apimachinery/blob/v0.24.2/pkg/apis/meta/v1/types.go#L1488)

[2022-06-24 15:18] litong01 commented on #39007
@frankbu this is actually a bug in our uninstall code, PR is coming up soon.

[2022-06-24 15:57] #39257 closed

[2022-06-24 16:12] douglas-reid commented on #39468
i don't know if it is `working as expected`. The list allows for different configuration per group of providers, in theory. If the list doesn't support that, it is broken.

[2022-06-24 16:44] lei-tang commented on #36231
It sounds good to me to use either this issue or an issue on https://github.com/istio/api/issues to discuss the deprecation of the API.

[2022-06-24 16:50] clhuang commented on #39566
I changed the DestinationRule to:
[code]
but I am still seeing the http2_protocol_options in the config dump

[2022-06-24 16:59] clhuang commented on #39566
Upgraded to Istio 1.14.1, and it appears to work now.

[2022-06-24 17:12] jewertow commented on #39586
I took a look at config dumps and everything seems to be configured properly. At the moment I have no idea what's wrong, because I never observed similar problem running those tests locally. So first I will configure access logging in the external-forward-proxy to be able to understand what happens in proxy listeners when tests fail.

[2022-06-24 18:15] frankbu commented on #38872
This should be fixed by #39406, but should probably add an integration test that looks at the logs from all of the primary clusters in the topology to make sure there's no resource lock error message anymore. The test would be marked with `ClusterRequireMins(2)` and `SkipExternalControlPlaneTopology()`. I guess it also would be good to confirm that the primary cluster that is leading a remote clus

[2022-06-24 18:15] jshaughn opened #39614 "source_cluster unset in TCP telemetry"
### Bug Description

At times `source_cluster="unknown"` is found in TCP destination-reported metrics.   I'm not exactly sure what the exact conditions are but the problem seems fairly easy to reproduce given the steps below.   Here is an example of the problem telemetry:

`istio_tcp_sent_bytes_total{reporter="destination",source_workload="debugbox"}`

[code]

Note that the only differing field in

[2022-06-24 18:31] ebeninca commented on #35750
I have been testing the examples of observability from documentation, specially the "randomSamplingPercentage" and none of them that uses the TemeletryAPI works, it's very frustating.

https://istio.io/latest/docs/tasks/observability/telemetry/

I still doing things with IstioOperator.

[code]

[2022-06-24 18:36] RaghavRoy145 commented on #29136
/assign

[2022-06-24 18:48] RaghavRoy145 commented on #29136
/assign

[2022-06-24 19:03] therealmitchconnors commented on #37148
If we avoid the condition of a skip push for v2, should ACKS always come back in the order of their messages?  I can imagine how to handle this particular edge case, but if ACKS can come back in any order, we will have a larger problem...

[2022-06-24 19:07] litong01 commented on #39604
@sachin-ks followed your steps, and added the step to create a pod like the following:

[code]

notice that you will need to specify the revision label to match the istio revision. Injection worked fine.

[2022-06-24 19:27] guiguan commented on #35750
We are on 1.14 (tried both 1.14.0 and 1.14.1) now with the IstioOperator. I can confirm that the Telemetry API is working properly. We have removed the old `defaultConfig` in mesh config. Now, with the Telemetry API, it can dynamically adjust the sampling rate. We upgraded from 1.12 to 1.14 directly, so I am not sure whether the 1.13 is working or not.

[2022-06-24 19:28] howardjohn commented on #37148
I believe ACKs always come in order. Is the solution you were thinking of to maintain some queue of un-acked messages or something and pop them off as they come in? If so I suspect that would work, although I bet we will run into some edge case where we end up leaking memory... Envoy restart for example could plausibly cause a permanently lost ack

[2022-06-24 19:40] sachin-ks commented on #39604
@litong01 Actually, the injection should happen without labeling the namespace or pod because enableNamespacesByDefault is true.

[2022-06-24 19:56] sachin-ks commented on #39604
@litong01  To confirm the expected behaviour, you can do:
1. Uninstall Istio
2. Install Istio using this file:
[code]
 3. Create a new pod (notice that I have removed the labels from the yaml):
[code]

 The sidecar injection will happen, which is expected.
 But if you follow my steps from the original issue and try to create a pod, the sidecar injection will not happen, which is not expected.

[2022-06-24 20:03] litong01 commented on #39604
That is right. You need the revision label, not the injection label. Please look at the example I posted. The behavior is correct, you need the revision label since you are using revisioned Istio. That is not the same thing as injection label.

Sent from my iPhone

On Jun 24, 2022, at 3:56 PM, Sachin Kumar ***@***.***> wrote:

﻿
@litong01 To confirm the expected behaviour, you can do: Uninstall Is

[2022-06-24 20:08] sachin-ks commented on #39604
@litong01 I am using your example only. But please notice that in my previous comment, in 3rd step, I have removed the revision label but still sidecar injection will work.

[2022-06-24 20:12] litong01 commented on #39604
You removed the revision label and injection still happens? Hmmm, if that is the case we are seriously broken. My tests showed if revision label is not there, injection won’t happen which is expected.

Sent from my iPhone

On Jun 24, 2022, at 4:09 PM, Sachin Kumar ***@***.***> wrote:

﻿
@litong01 I am using your example only. But please notice that in my previous comment, in 3rd step, I have remov

[2022-06-24 20:16] sachin-ks commented on #39604
@litong01 Yes, injection still happens because enableNamespacesByDefault is true. There was a similar issue but it was fixed. Just for your reference: https://github.com/istio/istio/issues/36261

[2022-06-24 20:43] jasonhao518 commented on #26413
I run into the same situation, but my configuration is slightly different, I'm using istio-csr+ cert-manager+ vault + istio, and I'm also run it on EKS with  cert-manager-istio-csr v0.4.2  istio 1.14.1
istiod
2022-06-24T20:41:04.790540Z	error	klog	grpc-server "msg"="failed to authenticate request" "error"="could not get cluster aws-eu-central1's kube client" "serving-addr"="0.0.0.0:6443"

istio-pr

[2022-06-24 21:13] kyessenov commented on #39614
cc @douglas-reid

[2022-06-24 21:54] douglas-reid commented on #39614
This only happens when the source workload is sending mixed traffic ?  @kyessenov is it possible that HTTP and TCP are populating the workload meta caches differently?

[2022-06-24 22:02] howardjohn opened #39619 "Order dependent test:TestListenerAccessLog"
TestListenerAccessLog fails if order is shuffled:

[code]

[2022-06-24 22:04] kyessenov commented on #39614
There's no cache for TCP metadata. It's populated in a similar way here https://github.com/istio/proxy/blob/master/src/envoy/tcp/metadata_exchange/metadata_exchange.cc#L301. I think you can't overwrite the filter state from HTTP when it's set at TCP.

[2022-06-24 22:05] howardjohn opened #39620 "Flaky test: TestExtraConfigmap"
https://prow.istio.io/view/gs/istio-prow/logs/unit-tests_istio_postsubmit/1540411095888433152

can reproduce locally

[2022-06-24 22:11] douglas-reid commented on #39614
i'm having a hard time thinking of a reason this would work for TCP- and HTTP- only scenarios and not for TCP in situations in which HTTP was transmitted first.

[2022-06-24 22:23] ebeninca commented on #35750
Thank you @guiguan, I found the problem, it wasn't on the version, but on the meshConfig, your hint helped me...

I lost more than a week on this because the thing is poorly documented, unbelievable... you guys needs to improve this.

I going to put my the entire file here, so others don't suffer from the same problem... the commented part is the one that I had to remove to make it work.

[code]

[2022-06-24 23:32] douglas-reid commented on #39614
Ok. I'm able to duplicate this with just TCP requests via telnet. It appears multiple time-series get created for each TCP metric (one with `source_cluster="unknown"` and one with `source_cluster="Kubernetes"`) -- as reported above. Working guess is that the periodic reporting differs in behavior in some fashion.

[2022-06-24 23:34] #39596 closed

[2022-06-24 23:34] 13567436138 commented on #39600
thanks

[2022-06-24 23:34] #39600 closed

[2022-06-24 23:34] douglas-reid commented on #39614
Interestingly, `istio_tcp_connections_closed_total` with the "right" `source_cluster` value is incremented, whereas `istio_tcp_connections_opened_total` with the `source_cluster="unknown"` value is incremented. @kyessenov does that trigger any ideas?

[2022-06-24 23:37] 13567436138 opened #39622 "tcp global ratelimit not work?"
### Bug Description

the request not send to ratelimit deployment?I don't know weather my descriptor is configured right?

[code]

[code]

vs-ratings.yaml

kubectl apply -f vs-ratings.yaml -n istio

[code]

dr-ratings.yaml

kubectl apply -f dr-ratings.yaml -n istio

[code]

[code]

[code]

[code]

[code]

### Version

[code]

### Additional Information

_No response_

[2022-06-24 23:39] 13567436138 commented on #39622
@zirain have a look,thanks

[2022-06-24 23:43] douglas-reid commented on #39614
This appears to only impact server-side telemetry.

[2022-06-24 23:49] douglas-reid commented on #39614
if i kill the original pod, and reinstall telnet and then connect, the issue is no longer observed. This would seem to imply that something about the initial exchange is sticky -- and perhaps was incomplete (?) at the time of initial connection.

[2022-06-25 00:15] douglas-reid commented on #39614
Restarting the server pod returns the situation to its broken state.  It seems like the first connection to a server instance may cause this issue (scaling the client did not lead to scaled issues).

[2022-06-25 01:53] zirain opened #39623 "reorg Telemetry e2e tests"
logging e2e mixed with other tests in `stats/prometheus`, it's odd, let's do something to improve it.

[2022-06-25 02:21] hzxuzhonghu commented on #36231
Opened a pr https://github.com/istio/api/pull/2392 to do this

[2022-06-25 03:15] #36069 closed

[2022-06-25 05:46] vikaschoudhary16 commented on #39566
@hzxuzhonghu how did it work in 1.14.1 if your fix PR is not merged yet?

[2022-06-25 06:19] hzxuzhonghu commented on #39566
@vikaschoudhary16

Because portLevelSettings is removed

[2022-06-25 12:02] vikaschoudhary16 commented on #39566
ah ok, @clhuang said that even after removing portLevelSettings http2 options were there and it worked only after moving to 1.14.1, may be some confusion

[2022-06-25 14:32] howardjohn opened #39627 "Assertion failure crash"
https://storage.googleapis.com/istio-prow/logs/integ-assertion_istio_postsubmit/1540516802130350080/artifacts/pilot-19ed2b3219f04301837c1c1bc/_suite_context/istio-state-1855758249/primary-0/istiod-589864b79b-c6hcl_discovery.previous.log

[2022-06-25 14:33] howardjohn commented on #39623
One thing to note is that each new test suite adds 2-3minutes. So it's recommended to only split them if they have different install values.

We can rename it of course

[2022-06-25 17:23] Stono opened #39629 "[IST0101] Referenced host not found when using `exportTo`."
### Bug Description

Given you have a kubernetes service in a namespace, say `namespace-1` with this annotation:

[code]

And you also have a `VirtualService` in `namespace-1` which targets this service in `namespace-1`

When running istioctl analyze like this:

[code]

You get an error:
[code]

### Version

[code]

### Additional Information

_No response_

### Affected product area

- [ ] Docs
-

[2022-06-25 18:02] devutkarsh commented on #36762
Same error using m1 on a minikube. Can't get the istio running.

[2022-06-26 03:36] 13567436138 opened #39631 "I configured vm sidecar workloadgroup locality but actually it not effect？"
### Bug Description

[code]

![image](https://user-images.githubusercontent.com/31508490/175798293-545fc2cd-f7b4-4f08-8749-4de2d2e1059e.png)

locality is enpty:
when I using locality distribute loadblance there have not any endpoint？

[code]

[root@node01 ~]# istioctl pc endpoint -n istio ratings-v1-77b9bfdd59-bpnqk|grep vm
172.20.1.130:9080                                       HEALTHY     OK

[2022-06-26 04:13] #39631 closed

[2022-06-26 05:14] bradenwright opened #39632 "Virtual Services not merging"
### Bug Description

According to the docs, [Split large virtual services and destination rules into multiple resources](https://istio.io/latest/docs/ops/best-practices/traffic-management/#split-virtual-services) I should be able to use more than 1 virtual service with the same host name, yet for some reason I can't get this to work when split up:

[code]

However it works fine if I combine them i

[2022-06-26 06:11] #39622 closed

[2022-06-26 06:44] RaghavRoy145 commented on #29136
@craigbox If this issue is still open I would like to work on this to start contributing to istio. Do I need to manually assign myself this issue?

[2022-06-26 08:41] psandhu79 commented on #35165
Managed to get it working with EnvoyFilters here is an example
[code]

[2022-06-26 14:43] Stono opened #39634 "IST0109 incorrectly firing"
### Bug Description

Given a VirtualService in several namespaces:

- platform-dashboard-mk2
- skippr
- shippr-cli-api

All of which have:

[code]

Then the following rule fires:

[code]

However changing the `exportTo` to `.`, "fixes" it.

I don't really see the difference between using `.` and explicitly defining the namespace.

### Version

[code]

### Additional Information

_No response_

[2022-06-26 16:08] howardjohn commented on #39634
Likely the issue is exportTo a specific namespace was added later and the check wasn't updated

[2022-06-26 16:09] howardjohn commented on #39632
When you say it doesn't work, what does that mean? Does it always go to echo-web?

[2022-06-26 16:16] Stono commented on #39634
@howardjohn https://github.com/istio/istio/issues/39629 is probably similar 👍

[2022-06-26 19:51] craigbox commented on #29136
There's no `/assign` bot here, but you can (if you're a member?) assign yourself issues on GitHub, and you're welcome to work on anything!

[2022-06-27 02:30] zirain commented on #39623
there's not existing suite for logging and WasmPlugin, those tests are put in `stats/prometheus/nullvm/accesslogs_test.go` and `stats/prometheus/wasm/imagepullpolicy_test.go`

we may need two suites for those, but that will cost more time for e2e tests.

[2022-06-27 03:30] howardjohn commented on #39623
The only reason to make more suites is if they need different Istio
installations. Unlikely normal packages it's not just organization - there
is a huge cost. If there are distinct features they can be split into
files, functions, etc.

Ideally there would be one suite

On Sun, Jun 26, 2022, 7:30 PM zirain ***@***.***> wrote:

[2022-06-27 05:35] #36945 closed

[2022-06-27 05:36] #37868 closed

[2022-06-27 08:14] #39535 closed

[2022-06-27 08:22] ramaraochavali commented on #39368
@sschepens So we have deployed the fix and enabled RDS cache back. We still see Istiod getting OOM Killed. Here are the latest pprof outputs
[pprof.pilot-discovery.alloc_objects.alloc_space.inuse_objects.inuse_space.005.pb.gz](https://github.com/istio/istio/files/8989979/pprof.pilot-discovery.alloc_objects.alloc_space.inuse_objects.inuse_space.005.pb.gz)
[pprof.pilot-discovery.alloc_objects.alloc_

[2022-06-27 08:38] j2gg0s commented on #31060
do we need pr for this feature? allow user config [omit_empty_values](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/substitution_format_string.proto#envoy-v3-api-field-config-core-v3-substitutionformatstring-omit-empty-values)

[2022-06-27 08:41] hzxuzhonghu commented on #39368
cacheValue now records dependentConfigs, which makes up 52.66% memory?

[2022-06-27 09:02] ramaraochavali commented on #39368
I think the problem is this https://github.com/golang/go/issues/20135 - we need to periodically cleanup the index config map. I am looking at it

[2022-06-27 09:35] #37898 closed

[2022-06-27 09:35] #37899 closed

[2022-06-27 09:35] hzxuzhonghu commented on #39368
But From the result, it is not map. It is `dependentConfigs` slice

[2022-06-27 09:44] ramaraochavali commented on #39368
dependentConfigs is a set (map) not slice.

[2022-06-27 09:45] hzxuzhonghu commented on #39368
?? `DependentConfigs() []ConfigKey`

[2022-06-27 09:50] ramaraochavali commented on #39368
https://github.com/istio/istio/blob/5e7829ca6093b3fc58f38381b89f10fb13f2d4fe/pilot/pkg/model/xds_cache.go#L191 - i am suspecting this because DependentConfigs get added here

[2022-06-27 10:00] ramaraochavali commented on #39368
But the go issue talks about continuously shrinking map not the kind of usage we have. So may be that is not relevant here.

[2022-06-27 10:23] nueavv commented on #38785
Hi! @cobb-tx Have you tried istio 1.12.8?
I'm in the same trouble. and I found out this problem doesn't happen in the istio 1.12.8 version.

[2022-06-27 11:57] hzxuzhonghu commented on #39598
/assign @[fatedier](https://github.com/fatedier)

[2022-06-27 12:35] sschepens commented on #39368
@ramaraochavali is the memory growing continously? I mean, Istiod may be using more memory than before because of the route cache, but it might not be growing unbounded like before.

[2022-06-27 12:48] sschepens commented on #39368
from what I can see in the first pprof output you seem to have a lot of memory allocated on [DelegateVirtualServicesConfigKey](https://github.com/istio/istio/blob/master/pilot/pkg/model/push_context.go#L893) which would mean you have Virtual Services with many delegates, this ends up as part of [DependentConfigs](https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/route/r

[2022-06-27 12:52] dallasanta opened #39635 "Enable Outlier Detection Log Through Helm Charts"
**Describe the feature request**

Outlier Detection log was once part of the Helm charts (https://github.com/istio/istio/issues/18555) but this change ended up not making to the istiod charts (https://github.com/istio/installer/pull/606). In that implementation the property was called "outlierLogPath".

The feature requested would be a new property to be added to the IstioOperator model, so that t

[2022-06-27 12:58] jshaughn commented on #33940
Still don't want this to be closed...

[2022-06-27 13:30] ramaraochavali commented on #39368
Yes we have more delegates. This is what I also suspect.

It is growing continuously and at some points get OOM killed. If we turn of RDS cache the issue goes away.

Not sure if reducing cache size will help - We still enable CDS cache but do not see issues.

I suspect some thing wrong with `DelegateVirtualServicesConfigKey` - but not sure what it is.

[code]

[2022-06-27 13:46] haskell91 opened #39637 "Unable to configure custom CA for installation process"
### Bug Description

We are unable to perform a successful install behind a ssl interception proxy:

[code]

It should be possible to deactivate certificate validation or to provide custom certificates.

### Version

[code]

### Additional Information

_No response_

[2022-06-27 14:08] litong01 commented on #39604
@sachin-ks with 1.14.1, with revision label in a work load spec, things will work as expected, if you do not use revision label, injection will not work which is also expected since your istio installed as revisioned istio, to make it work you will need the revision label, notice that enableNamespaceByDefault and revision are two different things. as far as I can see, things work as expected, plea

[2022-06-27 14:38] fatedier commented on #38813
@hzxuzhonghu It only takes effect if matching `if (model.UseIngressSemantics(vs) || model.UseGatewaySemantics(vs)) && m.Prefix != "/" {
				path := strings.TrimSuffix(m.Prefix, "/")
				if util.IsIstioVersionGE114(node.IstioVersion)`, not for a simple virtualservice.

Can we add a new bool parameter like `uriSeparatedPrefix` in `HTTPMatchRequest` for it? It's really useful for us to migrate ingres

[2022-06-27 14:52] ramaraochavali commented on #39598
Sure

[2022-06-27 15:42] howardjohn commented on #36703
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/39625/unit-tests_istio/1541443662322339840

[2022-06-27 15:43] howardjohn commented on #29136
This issue may be challenging to pick up since I think the entire data/test pipeline for the site is broken

[2022-06-27 16:13] howardjohn commented on #39368
[]model.ConfigKey from DependantConfigs is the bulk. So a bit list of ConfigKey.

We have a constant problem of ConfigKey taking too much space. Maybe time to microptimize the struct itself.

For example, if we look at 3 variants:

[code]

And compare allocating 100 of them into a list:
[code]

unsafe.SizeOf shows essentially the same, unsurprisingly: `80, 40, 24` respectively.

The string is heap

[2022-06-27 16:16] howardjohn commented on #39368
RDS is unique since dependantConfigs is massive. For CDS its only O(2+EnvoyFilters). Envoyfilter count is typically low.

Wonder if we would be better off without the RDS cache until we switch to VHDS.. or we could make it not cache if we have too many dependent configs or something

[2022-06-27 16:25] howardjohn commented on #39368
We could also consider using pointers to ConfigKeys and generate a single ConfigKey per `Config` object somehow which we pass around...

[2022-06-27 16:45] anumalasri opened #39646 "helm install istiod failing with error"
### Bug Description

Istio install using Helm charts failing with error, after istio-base completion.

_helm install istiod istio/istiod -n istio-system --wait_

`Error: INSTALLATION FAILED: rendered manifests contain a resource that already exists. Unable to continue with install: ClusterRole "istiod-clusterrole-istio-system" in namespace "" exists and cannot be imported into the current release:

[2022-06-27 17:17] sachin-ks commented on #39604
@litong01 as I have explained earlier, I was able to make injection work with revisioned Istio without the label in the workload spec. There is only one case where injection doesn't seem to work when enableNamespaceByDefault is enabled (which is explained in my original issue). Can you please point me to the documentation where it says that enableNamespaceByDefault will not work if Istio is revisi

[2022-06-27 17:31] sachin-ks commented on #39604
Expected behavior from the documentation: https://istio.io/latest/docs/setup/additional-setup/sidecar-injection/#deploying-an-app

If the istio-injection label and the istio.io/rev label are both present on the same namespace, the istio-injection label will take precedence.

The injector is configured with the following logic:

1. If either label is disabled, the pod is not injected
2. If either l

[2022-06-27 18:02] anumalasri commented on #39646
Old Clusterrole was still available..

Using new cluster, there is no issue in istio install..

[2022-06-27 18:02] #39646 closed

[2022-06-27 18:48] teddy-wahle commented on #16585
I also need support for `/customer/{id}/blah` and may be unable to use AuthorizationPolicy if this is not supported.

[2022-06-27 19:04] litong01 commented on #39604
@howardjohn my understanding is when revision tag is used, then all workload which wanting to be controlled by that revisioned control plane should bear the same revision tag, only under that condition, enabledNamespace config should control if injection should happen or not happen per namespace. Otherwise, we are mixed up revision with non revision.

[2022-06-27 19:05] howardjohn commented on #39604
that is why only one revision can use enableNamespacesByDefault

On Mon, Jun 27, 2022 at 12:04 PM Tong Li ***@***.***> wrote:

[2022-06-27 19:07] sachin-ks commented on #39604
@howardjohn yes, it works if I do `istioctl install -f enabledByDefault.yaml` first, instead of first "disable" then "enable".

[2022-06-27 19:12] howardjohn commented on #39604
because enableNamespacesByDefault means "if there is no injection, use this revision"

[2022-06-27 19:17] turbotankist opened #39652 "increased pilot pushes after istiod upgrade from 1.11.8 to 1.12.8"
### Bug Description

Istio version 1.11.8 is End of Support so we decided to upgrade our clusters to 1.12.8
We use istio-operator for deploy it.
The upgrade was successful but in one time we are figure out that some jobs fails because istio-proxy was not ready. We checked istiod resource usage and it was huge increased.
I had tried to downgrade only the istiod deployment to 1.11.8 and all restored

[2022-06-27 19:52] sschepens commented on #39368
@howardjohn the `ConfigKey3` benchmarks are not exactly correct, since you're joining the strings outside the benchmark, in real world, we would have to join them every time we create a `ConfigKey`, that would also mean that we have to copy the strings to be able to join them and this would probably be costly in the long run.

Here are the results if we move the joining of strings inside the bench

[2022-06-27 19:56] ldemailly commented on #36944
Same with 1.14.1

✘ ValidatingWebhookConfiguration: istio-validator-istio-system.istio-system: the server could not find the requested resource

[2022-06-27 20:01] howardjohn commented on #39368
Hm, I thought after that I moved to joining inside and it was still faster. I guess I was also allocating the name/namespace in those tests, but that is not correct. Doing https://github.com/istio/istio/issues/39368#issuecomment-1167572505 would be amazing but seems painful to implement.  K

I would be in favor, my only concern is if there are places where we use kinds outside of our known set. I

[2022-06-27 20:43] sschepens commented on #39368
@ramaraochavali one thing to note, when we create virtual service delegates `ConfigKey`s we're not deduping anything, we're storing all delegates in an array from multiple virtual services and there might be duplicated delegates, there could be some savings in deduping these.

[2022-06-27 21:06] kyessenov commented on #39614
Seeing this warning:
`Failed to evaluate expression: <downstream_peer.cluster_id>`

So at some point the metric resolves to unknown for cluster ID, but later fixes itself.

[2022-06-27 21:07] sschepens commented on #39368
@howardjohn I think I got this compiling https://github.com/istio/istio/pull/39653 , how do you think we can check if we have other uses for those kinds?

[2022-06-27 22:52] juwatanabe commented on #21377
Any updates? Definitely having the same issue and would be great to have the expiry on v2.

[2022-06-27 23:45] howardjohn commented on #39652
How is "pilot_push_triggers" metric? That shows _why_ it is pushing. Not sure it existed that long ago though. In newer (probably 1.13+) the exact config change is logged aswell

[2022-06-27 23:58] Logankwb commented on #31889
Hey I'm seeing the same issue. Any chance this can be reopened?

[2022-06-28 01:34] aryan16 commented on #39603
can you check whether the sidecar is there on the vm workloads or not ?

[2022-06-28 02:27] ldemailly commented on #33940
poke

[2022-06-28 03:01] ramaraochavali commented on #39368
I was thinking about this and value of RDS cache if we have too many dependent configs - Earlier we were not seeing so many evictions , but after we enabled RDS cache we started seeing lot of evictions. Probably an indication of it not being so useful. It would have been nice we have hit count metric per type - then we could have figured that out easily

[2022-06-28 03:48] hzxuzhonghu commented on #39368
@sschepens why would we cache  `dependent config`, since it does not mitigate this issue, and I think compared to not clear `configIndex`, this is more expensive. Not clear does not make much harm

We can compare the two  pprof results, little different. The second one indicates it is `dependentConfigs` that is costly. But the first time, it is not.

@ramaraochavali We can't evaluate without corre

[2022-06-28 03:51] howardjohn commented on #39368
Not clearing configIndex is IMO unacceptable - it is a clear memory leak

On Mon, Jun 27, 2022, 8:49 PM Zhonghu Xu ***@***.***> wrote:

[2022-06-28 03:58] hzxuzhonghu commented on #39368
Not much, configIndex will be cleaned when a config is deleted. This could be called accumulate rather than real `leak`

[2022-06-28 03:59] howardjohn commented on #39368
Ah good point. It can still leak forever if we keep generating distinct cacheKeys without removing the config though

[2022-06-28 04:00] hzxuzhonghu commented on #39368
If `ClearAll` can be triggered, that would be ok

[2022-06-28 04:03] ramaraochavali commented on #39368
I agree that is what I was saying  we need to metrics to see what is going on. I don't think it is specific to our service/config though - if you have a large cluster you will run in to this. We have seen smaller clusters does not hit by this much,.

[2022-06-28 04:11] hzxuzhonghu commented on #39368
Yep, we do want to know the numbers, so we can prevent this from happen

[2022-06-28 05:02] #37913 closed

[2022-06-28 05:29] #38169 closed

[2022-06-28 06:52] gnanirahulnutakki opened #39664 "DOES ISTIO SSL TERMINATION REQUIRE ADDITIONAL CONFIGURATION TO SUPPORT CONNECTIONS TO LDAP PORTS THROUGH GATEWAY"
Hi, I work with a LDAP application that uses 2636/2389 as LDAPS/LDAP ports, I was setting up SSL termination for the same application to reach to the main UI and other parts.

1. Created Certificate (letsencrypt) put that in secret
2. Created Gateway and VIrtual Service with Desination rules to access the application

I am able to reach the application with https://<host>:7171/main/login
And  I am

[2022-06-28 10:00] turbotankist commented on #39652
On a grafana dashboard  timeline: `v1.12.8`(heavy loaded) --> 18:05 --> `v1.11.8` (is nice) --> 18:33 --> `v1.12.8`(heavy loaded). The difference only in istiod version
Sorry for a lot of images
<img width="1178" alt="image" src="https://user-images.githubusercontent.com/9462236/176146059-324d063b-c04d-46fd-9a92-44be5b707721.png">

There are push spikes of endpoints every 5 minutes.
there is no di

[2022-06-28 10:16] Stono commented on #39459
So I just stumbled on this in my graphs today.... and i'm wondering if it's related to this!

<img width="463" alt="Screenshot 2022-06-28 at 11 15 41" src="https://user-images.githubusercontent.com/1486729/176155179-c50cd79f-9824-4950-bae7-ebc0c3a8d4a7.png">

[2022-06-28 14:00] bradenwright commented on #39632
Yeah I really have no clue why.  The web portion works fine, but it doesn't seem to make it to the grpc-web backend.  I'm getting this rpc error, which I get if the route / host for grpc-web is not setup.  More than happy to provide more debug details if someone can give me details on what to run / provide

[2022-06-28 14:31] howardjohn commented on #39652
If the push_triggers is the same it will be tricky to debug. Might be helpful to run the latest version(master/1.14) which has more logs and look at those. Youcan simply run `go run ./pilot/cmd/pilot-discovery` locally (when connected to k8s) and it will trigger 'pushes' to 0 clients, and we can see the cause. That way it is ~zero risk. Or do a full upgrade if that is feasible in your env.

We are

[2022-06-28 17:23] sjmiller609 opened #39672 "Ingress gateway proxies missing from istioctl proxy-status"
### Bug Description

We have a bug in our development cluster that I have been trying to resolve.

The problem happens occasionally, like every few hours, where we will find access logs in ingress gateway with the code 503 UF URX coming from a particular ingress gateway container, with external client like a browser to see message upstream disconnection error. When this happens, an ingress gateway

[2022-06-28 17:39] gabClark opened #39673 "Istio discovery failing to form base mesh in GKE"
### Bug Description

We have istio cluster using 1.9.8 and pushing to upgrade out of end of life.
Istio-operator is used to deploy it. Cluster has been operational historically in previous versions of istio but having this issue with version 1.10 and higher.
After upgrading and the istiod and gateways changing to 1.10.6 some of our deployments went into unhealthy state. upon closer inspection usin

[2022-06-28 18:02] cnvergence commented on #39604
I have created a draft PR, but need to test it a bit more
- https://github.com/istio/istio/pull/39674

[2022-06-28 18:14] litong01 commented on #39604
@howardjohn @cnvergence I am not so sure about this any more. I am seeing some rather weird behaviors now. Would like to do a bit more testing to figure out the behaviors, seems to me when the configmap istio-sidecar-injector policy is enabled (which is default), any other labels do not matter, injection will happen anyway regardless the value of enableNamespacesByDefault. Have you all seen someth

[2022-06-28 19:19] litong01 commented on #39604
@cnvergence since you provided the fixes for the issue, would you like to take over this issue?

[2022-06-28 19:36] litong01 commented on #39604
@sachin-ks @howardjohn @cnvergence if it is set to true, then change to false, the injection will still happen. This behavior confirms the conclusion by @cnvergence that the manifest generation uses old value instead of the latest.

[2022-06-28 20:29] #39620 closed

[2022-06-28 20:55] cnvergence commented on #39604
@litong01  Alright, I will proceed with my Pull Request

[2022-06-28 21:32] RaghavRoy145 commented on #37235
I would like to take this task up as a first time contribution here if there's still a need for this. I've already started going over relevant code for this, and any inputs are probably very useful!

[2022-06-29 00:21] edieYoung opened #39680 "Support inline header with multiple values semantics in AuthorizationPolicy.condition"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Does istio Authz supports matching among multiple values separated by commas of an inline header? (No according to my experiments on 1.12.6)

There is support for this inline multiple header values semantics from Envoy: https://github.com/envoyproxy

[2022-06-29 01:39] lxv458 opened #39681 "Istiod cannot respond to the update of sidecar CRD"
### Bug Description

I create several sidecar CRDs for corresponding services to control the services they could access directly.

At the beginning, everything goes well.

However, after a series of operations, maybe including add/delete services, updating service protocol, add/remove clusters, create serviceEntry, create sidecar for serviceEntry, etc, I found that the sidecar CRD cannot work, whi

[2022-06-29 01:48] zirain commented on #39681
`workloadSelector: {}` this will fall back to namespace level selector

[2022-06-29 02:22] cobb-tx commented on #38785
@nueavv  i try istio 1.14  hava same trouble.

[2022-06-29 03:23] MouceL opened #39682 "config distribution debug api"
### Bug Description

when i update vs with err filed

[code]

In my opinion, the configuration will not be sent to envoy and the config_distribution api shound not return  acked": "7" (vs generation)

results as follows

[code]

### Version

[code]

### Additional Information

I just want to know if this configuration is being applied by envoy

_No response_

[2022-06-29 03:26] yokoyang opened #39684 "Istio ProxyConfig CR still effective after being deleted"
### Bug Description

Create the ProxyConfig CR as follows, then restart the pod under the demo namespace, and see from the istio-proxy log that the concurrency is set to 5. Then delete the demo-namespace-proxyconfig or set the spec field to empty. After the demo namespace has no ProxyConfig CR, the expected behavior is that concurrency should revert to the default value of 2. But still 5.

[code]

[2022-06-29 04:32] zengyuxing007 opened #39685 "When using EnvoyFilter INSERT_BEFORE to add an http subfilter, expect provide the de-duplication capability of the filters"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

If two different users define two envoyfilter, adding the same http subfilter.

I hope Istio can provide the filter de-duplication capability to ensure that only one of them takes effect after all EnvoyFilter is added.

**Affected product area (ple

[2022-06-29 05:02] #37888 closed

[2022-06-29 05:14] nueavv commented on #38785
@cobb-tx can you tell me more about how you tested it?
In my case changing port name in one service doesn't show any errors. so i create 168 service and modify them all in once.
with this scenario. 1.12.8 version of istio was ok with endpoints.

[2022-06-29 06:27] Luonic commented on #36762
This issue is still not resolved

[2022-06-29 06:33] ZiaUrRehman-GBI commented on #23757
@commixon can we use wildcard for subdomains like
`
allowOrigins:
      -regex: https://*.example.com

[2022-06-29 06:53] #39572 closed

[2022-06-29 07:13] VivekSubr opened #39686 "Build issue in proxy"
### Bug Description

There's a build failure in istio proxy with -Wall and -Werror

./extensions/common/istio_dimensions.h:60:39: error: unnecessary parentheses in declaration of 'connection_security_policy' [-Werror=parentheses]
   60 | #define DEFINE_FIELD(name) std::string(name);

Changing this to #define DEFINE_FIELD(name) std::string name;

should fix this.

### Version

[code]

### Additiona

[2022-06-29 07:22] zirain commented on #39686
cc @kyessenov

[2022-06-29 08:12] hzxuzhonghu commented on #39685
IMO, this is not the right behavior. Imagine a user wants to insert two lua filters but they do different tasks.

[2022-06-29 08:32] haskell91 commented on #39637
Thanks for your quick reply. We are aware of the possibility to use `istioctl install`.
Our problem is that we are using Argo CD to set up multiple clusters and therefore need to use the Helm Chart.

We could use Terraform to install Istio, but that would be kind of inconsistent.
In our opinion, it should be possible to install Istio in a corporate environment via Helm.

[2022-06-29 08:59] zengyuxing007 commented on #39685
@hzxuzhonghu Thanks for your reply,the  scenario you mentioned may indeed also have

so,  maybe we can provide a new configuration parameter under envoyfilter and decide whether to de-duplicate based on this parameter

[2022-06-29 09:06] hzxuzhonghu commented on #39685
Looks not grace, the graceful way maybe comparing two patches, and ignore one if they are equal. Didn't think much, not sure how much the cost and whether it is worth it. All in all this is a user's fault.

[2022-06-29 09:14] suwliang3 opened #39691 "the pod doesn't run in remote cluster when using 'Install Istio with an External Control Plane' plan"
Pre-instructions:My K8s cluster doesn't support LoadBalancer

[code]

1、Set up a gateway in the external cluster
[code]

the `istio-ingressgateway` in external cluster :
[code]
2、`export EXTERNAL_ISTIOD_ADDR=external.sample.com`  configure `external.sample.com  100.76.x.x ` in /etc/hosts,100.76.x.x is node's IP.
3、`export SSL_SECRET_NAME=external-credential`   `external-credential` is configured b

[2022-06-29 10:10] radubuciuceanu commented on #38655
I'm having exactly the same behaviour.

- I enable Istio and no node can connect to the initial one. Furthermore, there are 0 traffic logs inside the `istio-proxy` containers.
- I disable Istio and all works just fine.

So currently I can not use istio only because I am not able to start a galera cluster... I also tried to switch to another service mesh (the `linkerd` one). With that one all worke

[2022-06-29 10:32] crrazyman commented on #38655
Yes, i've also found the docs related to server first protocol and i've tried to set mTLS mode STRICT and it does not work. If i set mTLS mode DISABLE well that only disables mTLS, that's not what i want :)

[2022-06-29 10:36] radubuciuceanu commented on #38655
Ok. I figured it out. It's all related to server-first protocol. In order to make it working you have to:

- Set the `PILOT_ENABLE_MYSQL_FILTER` env variable equals to `1` in your pods.
- Configure mutual tls for all the traffic between your nodes.
- Setting up the `appProtocol` in your services to `mysql` as described [here](https://istio.io/latest/docs/ops/configuration/traffic-management/protoc

[2022-06-29 10:53] obaranov1 commented on #24309
/assign

[2022-06-29 11:22] crrazyman commented on #38655
What do you mean by the first 2 bullets?

Where? In mariadb pods?

How? With PeerAuthentication like below?
[code]

[2022-06-29 11:44] zengyuxing007 commented on #39685
Maybe add a global feature switch like PILOT_ENABLED_ENVOYFILITER_DE_DUPLICATION  and then just exclude the lua filter.

Because the other envoy native  filters logic is fixed, there should not be a need to apply multiple duplicate filters in one request

[2022-06-29 11:58] zah-ra commented on #38876
Did you find any solution for this issue? I have the same issue in my k8s cluster.

[2022-06-29 14:04] projectindex commented on #39596
which istio version support?
here is my version, and it not work,sad :(
client version: 1.9.3
control plane version: 1.9.3
data plane version: 1.9.3 (57 proxies), 1.9.0 (2 proxies)

[2022-06-29 15:01] sachin-ks opened #39694 "Uninstall [istio installed using istioctl] via manifest generation throws errors and doesn't delete mutating and validating webhooks"
### Bug Description

I am following the Getting Started guide: https://istio.io/latest/docs/setup/getting-started/
I just installed demo profile and tried to uninstall using the given instructions in the Getting Started guide. It throws error: `no matches for kind "EnvoyFilter" in version "networking.istio.io/v1alpha3"` (detailed output in Steps to Reproduce).
Also, it doesn't delete the mutatingw

[2022-06-29 15:43] douglas-reid commented on #24309
@obaranov1 we would welcome any work here!

[2022-06-29 15:57] #39619 closed

[2022-06-29 16:16] turbotankist commented on #39652
thank you!
I've run istiod locally and result
logs `Push debounce  ... full=false` don't have correlation with istiod load, however `Push debounce  ... full=true` does
example of it

[code]

Also if I grep logs for 1 pod from 1 istiod then I get that :
[code]
A lot of pushes during 1-2 minutes every 3-5 seconds
And these spikes about every 10 minutes
<img width="1346" alt="image" src="https://user

[2022-06-29 16:26] mullr opened #39697 "proxy-wasm fails due to missing import: wasi_snapshot_preview1.poll_oneoff, sched_yield"
### Bug Description

I have written a proxy-wasm extension in Rust. It worked perfectly a few weeks ago, but when I came back to it recently, it failed to load. These errors were logged:

[code]
Looking through the disassembly of my wasm, I was able to trace the first one to the use of `std::thread::Sleep` and the second the a Mutex implementation. After removing these (with workarounds), the exte

[2022-06-29 16:37] turbotankist commented on #39652
And I have this.
I don't know - `Full push, service accounts changed, xxxx.bbbb-stable.svc.cluster.local` mean that all pods in mesh get full push or that pods from service xxxx.bbbb-stable will get it?
<img width="1346" alt="image" src="https://user-images.githubusercontent.com/9462236/176489518-10813663-e9ed-4a05-88c1-2545d94dcfda.png">

[2022-06-29 17:40] howardjohn commented on #39652
Are they going from 1->0->1 instances of some Service/Deployment?

I am pretty sure this is not _supposed_ to trigger full push: https://github.com/istio/istio/blob/844e1f4747e7144498a6ded51d52ee682fd2e60a/pilot/pkg/xds/eds.go#L148 but maybe it is somehow

[2022-06-29 17:41] bradenwright commented on #39632
Any advice on something to try or info I could relay to help track down the issue?

[2022-06-29 17:46] turbotankist commented on #39652
No, VPA has this flow:
[code]
and it has a `kubectl get mutatingwebhookconfigurations  vpc-resource-mutating-webhook`. It sets recommended resources  during a new pod creating.

[2022-06-29 18:44] nmittler opened #39700 "Automtls passthrough requests behave differently for headless"
### Bug Description

Discovered while working on https://github.com/istio/istio/pull/39453, while observing behavior on the `global automtls passthrough` test. When using pass-through, it was expected that requests all stay in cluster. This is true, except for headless/stateful set services, where requests reach endpoints in all clusters within the same network.

### Version

[code]

### Additiona

[2022-06-29 18:53] boocup opened #39701 "TCP Traffic not always routed to correct namespace/subdomain"
### Bug Description

i am not 100% sure this is a bug as i may just be missing something on the implementation. when using multiple namespaces, all of which use the same port. incoming traffic will stick with the first one connected even when trying to disable the connection and connect to a different namespace/subdomain.

subdomain1.domain.com:5591  ----> TCP connection internet endpoint
subdomai

[2022-06-29 19:19] cfredri4 commented on #38876
No solution found. Still waiting for input from Istio devs
This was found together with https://github.com/grpc/grpc-java/issues/9157.
Perhaps @costinm who commented on that issue can take a look?

[2022-06-29 19:32] Stono opened #39703 "Unable to use boolean JWT claims"
### Bug Description

I have a jwt from keycloak, where the claim is a boolean type:

<img width="539" alt="Screenshot 2022-06-29 at 20 31 37" src="https://user-images.githubusercontent.com/1486729/176520571-74b081e5-ca0f-49be-bf94-8434e4e4eace.png">

And I'm trying to check that:
[code]

But I get:

[code]

Doing as a string, doesn't work.

### Version

[code]

### Additional Information

_No resp

[2022-06-29 21:58] bradenwright commented on #39632
@howardjohn I didn't think I had any overlapping rules at all.  I am specifiy:

[code]
and
[code]

[2022-06-29 22:02] howardjohn commented on #39632
oops, missed that / was exact

On Wed, Jun 29, 2022, 2:58 PM Braden Wright ***@***.***>
wrote:

[2022-06-29 22:17] iAbhishek91 opened #39706 "Envoy disconnects and throws UPE error when the HTTP header "accept-encoding" is set to "gzip" or "deflate""
### Bug Description

This is weird, to set the right context, I'll try to explain few scenarios of a specific microservice(deployed in a k8s cluster with Istio).

The microservice has two endpoints, one works and another did not. However, without Istio both endpoint works. Also interesting to note, both endpoints work when the HTTP header "accept-encoding" is not passed OR not equal to "gzip" or "

[2022-06-30 00:55] sschepens commented on #39368
@howardjohn @ramaraochavali @hzxuzhonghu I wonder if we shouldn't have a separate cache for RDS, it seems to have a very specific and probably problematic use case, we could size and tune that cache differently.

[2022-06-30 01:20] hzxuzhonghu commented on #39368
It is not related to rds, the root cause is from xds cache. If we do not resolve it, any xds may meet this in future

[2022-06-30 01:44] howardjohn commented on #39368
RDS is the only one that can have so many dependencies. We have had a
number of customers (besides Rama here) that saw the same issue with RDS; I
haven't seen any issues with XDS.

The difference is routes are a huge resource. I am leaning towards
disabling route cache by default until we move to vhds personally.

On Wed, Jun 29, 2022, 6:20 PM Zhonghu Xu ***@***.***> wrote:

[2022-06-30 01:51] hzxuzhonghu commented on #39368
Any other issues?

From the performance view, the more dependencies one resource have, it means istio will do more iterations to build it. I cannot believe the configkeys can cost so much.

[2022-06-30 01:55] hzxuzhonghu commented on #39632
You could enable `model:debug` to say if any clue in the log

[2022-06-30 02:17] j2gg0s commented on #39468
one Telemetry has many AccessLogging, one HCM has many access_log, So we should map Telemetry's AccessLogging to HCM's access_log, if workload mode match.

one AccessLogging has many Providers, but HCM's access_log dont have corresponding concept, for this oneToMany，what we expected? and what we actually code?

Current code is hard to understand, but before we changed, we should define what we exp

[2022-06-30 02:23] liuqi-sun opened #39707 "Install Primary-Remote on different networks"
An error occurred when I performed the "Configure cluster2 as a remote" step.Error is as follows:
![image](https://user-images.githubusercontent.com/48784730/176578834-a70226fb-66de-4542-927f-9fb6c42a0156.png)
I found that envoy proxy not listen to 15021 and 15090.
![image](https://user-images.githubusercontent.com/48784730/176578999-708b7c61-1a72-4d46-b2aa-1af0d496eca2.png)

pod error description

[2022-06-30 02:45] zirain commented on #39707
which doc you're following, why do you think it should be there?

can shared the output of `kubectl logs istio-ingressgateway-5844c765bb-bwdx7 -n istio-system`

[2022-06-30 03:13] liuqi-sun commented on #39707
I found that the connection to the remote IStiod failed. logs as follows:
2022-06-30T02:52:07.751348Z     warning envoy config    StreamAggregatedResources gRPC config stream closed since 2703s ago: 14, connection error: desc = "transport: Error while dialing dial tcp 192.168.40.110:15012: connect: connection refused"
2022-06-30T02:52:07.942695Z     warning envoy config    StreamAggregatedResource

[2022-06-30 03:14] MouceL commented on #39682
I'm confused，the configuration is not sent to envoy at all, why it may fully applied by envoy ?

I read the code, if envoy rejects the configuration, it will also return a ResponseNonce same with Nonce in DiscoveryResponse , and the config distribution interface is based on the ResponseNonce to determine whether the configuration is applied by envoy, it seem wrong.

it seems that it should to use

[2022-06-30 03:20] liuqi-sun commented on #39707
https://istio.io/latest/docs/setup/install/multicluster/primary-remote_multi-network/

[2022-06-30 03:35] liuqi-sun commented on #39707
I use kubectl port-forward, but an error occurred.
logs as follows in cluster1:
[root@master110 istio]# kubectl port-forward --address 192.168.40.110 istiod-7765576944-dlmpt -n istio-system  15012:15012
Forwarding from 192.168.40.110:15012 -> 15012
Handling connection for 15012
Handling connection for 15012
Handling connection for 15012
Handling connection for 15012
Handling connection for 15012
E

[2022-06-30 03:39] bboshiZ commented on #39478
set ENABLE_LEGACY_LB_ALGORITHM_DEFAULT=true  not work

1.   ENABLE_LEGACY_LB_ALGORITHM_DEFAULT=true and not set openresty DestinationRule.
      the "lb_police" in envoy is ROUND_ROBIN, whether ocalityLbSetting.enabled is true or false, two openresty pod qps is even

2.   ENABLE_LEGACY_LB_ALGORITHM_DEFAULT=true
     simple=EAST_REQUEST localityLbSetting.enabled=true in  DestinationRule,  two openr

[2022-06-30 03:49] zirain commented on #39707
assume you're trying to install multi-cluster istio on one node, you can try using MetalLB to expose your istiod/ingressgateway.

here's a demo https://github.com/kurator-dev/kurator/blob/main/hack/local-dev-setup.sh

[2022-06-30 05:01] #28947 closed

[2022-06-30 05:02] #37965 closed

[2022-06-30 05:02] #37972 closed

[2022-06-30 05:49] nueavv commented on #38785
@cobb-tx Have you tested it?

[2022-06-30 06:08] liuqi-sun commented on #39707
No, my multi-cluster scenario is not on one node. How do I handle the problems I have now

[2022-06-30 06:08] liuqi-sun commented on #39707
No, my multi-cluster scenario is not on one node. How do I handle the problems I have now

[2022-06-30 07:13] albertschwarzkopf commented on #38217
Hi @malovme. I have noticed the same behaviour yesterday. I have upgraded Istio from 1.11.4 to the latest version (1.14.1) and the istio-proxies had the same error.

Istio 1.13.5 is working as expected. I think this is related to this change here: https://github.com/istio/istio/commit/daa835c3f63218e57a6ec701d477f732e6dfaa47 and the fact that my worker-nodes are running on Bottlerocket OS (with re

[2022-06-30 07:32] zirain commented on #39707
can you try to port-forward istiod service with `
kubectl port-forward -nistio-system pod/`kubectl get po -nistio-system | grep istiod | awk '{print $1}'` 15012:15012 --address 0.0.0.0
`

[2022-06-30 08:09] #37521 closed

[2022-06-30 10:42] cosimomeli commented on #15456
The match on `:authority` doesn't solve 1 simple but important use case: default route.
I need a default route (without match) with a virtual host as `foo-*`.
It has been supported by Envoy for years (https://www.envoyproxy.io/docs/envoy/v1.10.0/api-v2/api/v2/route/route.proto#route-virtualhost:~:text=Prefix%20domain%20wildcards%3A%20foo.*%20or%20foo%2D*) but still can't use such a simple feature

[2022-06-30 12:25] sschepens commented on #39368
I think I have found another possible leak in XdsCache, gonna make a PR for fixing it and try to add some tests to validate that we don't leak these again.

[2022-06-30 13:12] ramaraochavali commented on #39368
@sschepens great. Curious what is it?

[2022-06-30 14:23] francoisminaud opened #39712 "Envoy proxy sending payload to the wrong cluster (istio-eastwestgateway)"
### Bug Description

We have a network mesh made of 3 Kubernetes clusters.
1 is hosted on OVHcloud (cluster1), the other 2 are hosted on GKE (cluster2 and cluster3).

cluster1 is connected to cluster2 and cluster3. cluster2 and cluster3 are only connected to cluster1.

I found out about the issue when I ran the [verify step](https://istio.io/latest/docs/setup/install/multicluster/verify/) because

[2022-06-30 14:30] sschepens commented on #39368
Hmm i think it was not actually a leak, When we call `cache.Clear()` we remove items from cache which are dependent on the keys we provide, but we weren't explicitly cleaning the indexes.

It's not actually a leak because LRU calls evict callback whenever an entry is removed from the cache, so with the change I made previously we're now correctly clearing the indexes on `Clear`

I'm still gonna op

[2022-06-30 15:10] francoisminaud commented on #39712
The root cause has been found.

By our own mistake we used the same label :
``` topology.istio.io/network=network-wiremind-kubernetes-overflow-gke ``` was set in both namespace labels.

When removing that label it worked immediately. Although the right label was not set on the namespace, it was rightfully set on the istio-eastwestgateway service.

We can then assume that the label on the namespace

[2022-06-30 15:45] howardjohn commented on #39682
Yes, it is fully applied - by doing nothing. Just like if I have a bill for $0, at the end of the month my bill is fully payed.

NACK is reported separately I think

[2022-06-30 16:23] radubuciuceanu commented on #38655
Yes and yes.

[2022-06-30 16:36] howardjohn opened #39716 "TestWasmStatsFilter test flake: TLS not properly terminated?"
https://prow.istio.io/view/gs/istio-prow/logs/integ-distroless_istio_postsubmit/1542254002043883520

Basically we have:

mock-prom (envoy, but NO iptables) ---> https://podip:15014 --> echo-sidecar (strict) --> echo-app (http on port 15014).

mock-prom gets an HTTP response. Not sure how this is possible. The config shows there is tls on all inbound ports.

One interestin thing is on the server:
[

[2022-06-30 16:37] howardjohn commented on #39716
Theory:
* default timeout is 20s
* Default drain is 45s
* NewConnectionPerRequest=false
* We open a connection with plaintext mode, then apply strict. we start requests and are still using the old plaintext connection for 20s
@nmittler wdyt?

[2022-06-30 16:58] nmittler commented on #39716
Ah interesting. Can you reproduce? Let's confirm if this is actually happening.

[2022-06-30 17:03] ArjonBu commented on #38898
What was the reason? How did you fix it?

[2022-06-30 18:29] howardjohn opened #39720 "TestReachability flake; cluster warming"
https://prow.istio.io/view/gs/istio-prow/logs/integ-security-multicluster_istio_postsubmit/1542555639413215232

Still debugging, but looks like all clusters are warming

[2022-06-30 18:56] sheperdsonbrown commented on #38385
any updates? We are encountering a similar problem but just for one environment currently. Could it be due to multiple gateway's with same wildcard tls cert? https://istio.io/latest/docs/ops/common-problems/network-issues/#404-errors-occur-when-multiple-gateways-configured-with-same-tls-certificate @rajat965ng

[2022-06-30 18:57] sjmiller609 commented on #39672
I am further investigating this problem. I believe I have a situation where:

- Istio thinks a gateway proxy is stale
- Gateway proxy is still TCP connected to istio discovery
- Low resource utilization on both gateway proxy and istiod.

It seems to me there may be some bug, but I'm not sure.

I created a load on istio by performing a rolling restart of all the data plane deployments. After this,

[2022-06-30 19:03] sjmiller609 commented on #39672
It recovered on its own after about 20 minutes. And there is a strange XDS metrics with a massive latency number reported.

![image](https://user-images.githubusercontent.com/7516283/176757572-dcb178ed-7b35-4fa2-b225-e4cac861a38a.png)
![image](https://user-images.githubusercontent.com/7516283/176757594-c0ca1d09-30e3-4625-a9e3-0e74deab9cb6.png)

[2022-06-30 19:06] sjmiller609 commented on #39672
I now thing something like:

- a bunch of updates coming to gateway
- one of these updates is not working for some reason, related service can't be connected to by the gateway
- eventual retry?

I wanted to get the envoy and istio diff like [this](https://istio.io/latest/docs/ops/diagnostic-tools/proxy-cmd/#retrieve-diffs-between-envoy-and-istiod), but I didn't catch it this time.

[2022-06-30 20:17] Stono opened #39724 "Ability to forward specific JWT claims as HTTP Headers"
**Describe the feature request**

I would really like to be able to map specific JWT claims to specific HTTP headers, for example; `email` to `x-auth-email`.

I know that you can currently forward the JWT to the client, but that's suboptimal because:

- They still need to parse a JWT, and understand the structure of the JWT
- The JWT contains loads of stuff they don't care about, this bloats HTTP

[2022-06-30 20:20] Born2Bake commented on #38794
@howardjohn I ve tried that PR [from](https://github.com/istio/istio/pull/39699) and it did work for me, for both CNI plugin and DNS proxying.

[2022-06-30 22:07] aryan16 commented on #39724
Currently we don't support adding jwt-filter to header via our reqAuth API. It's still in plan and our team is working on this. As an alternative for now there are several ways to fulfill this requirement -

1) Envoy Lua Filter- I think you have already used it
2) You can add header via virtual service as well -
The following is an example virtual service for copying the "group" claim to the "x-is

[2022-06-30 22:15] sschepens commented on #39368
@ramaraochavali would it be possible to test https://github.com/istio/istio/pull/39653 now that it's merged and see how much of a difference it makes on your workloads?

[2022-07-01 02:03] nueavv commented on #38785
@cobb-tx Did you change only one service?

[2022-07-01 02:05] cobb-tx commented on #38785
@nueavv   no ，i changed two service

[2022-07-01 02:08] ethanhanjiahao opened #39726 "Subset DestinationRule merge cause cds cache is not invalid"
### Bug Description

we have two destinationrule with same host.  e.g:
dynamic-1-demo-gateway
[code]

dynamic-2-demo-gateway
[code]

CDS caching is enabled: PILOT_ENABLE_CDS_CACHE is true
when i modify dynamic-1-demo-gateway configs, e.g: update tcp maxConnections,
curl istiod/debug/config_dump?proxyID={proxy}.ns | less, get cds not update.

When i update config PILOT_ENABLE_CDS_CACHE to false, is

[2022-07-01 02:34] hzxuzhonghu opened #39727 "flake"
TestGatewayConformance/HTTPRouteSimpleSameNamespace/Simple_HTTP_request_should_reach_infra-backend

https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/39688/integ-pilot_istio/1542679350015430656

TestNormalization/Base/a
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/39688/integ-security-istiodremote_istio/1542679358819274752

[2022-07-01 02:40] hzxuzhonghu commented on #39726
Which version?

[2022-07-01 02:42] hzxuzhonghu commented on #39726
Please check if  #38088 works for you

[2022-07-01 02:44] istio-testing opened #39728 "[release-1.13] Fix dr dependency miss"
Manual cherrypick required.

#38088 failed to apply on top of branch "release-1.13":
[code]

[2022-07-01 03:26] nueavv commented on #38785
@cobb-tx can you share how you test it? like IstioOperator.yaml

[2022-07-01 03:44] ethanhanjiahao commented on #39726
1.12； looks is ok

[2022-07-01 05:37] saumilsdk commented on #32523
Here is how I fixed it for KF 1.4 and K8 1.21

![image](https://user-images.githubusercontent.com/8816702/176830699-7d797cf2-86c0-42f1-bf20-e1366ea72969.png)

[2022-07-01 07:10] Stono commented on #39724
@aryan16 thanks for the response!  I wasn't aware that I could use a VirtualService; that actually fits our deployment pattern better than using EnvoyFilters!  Thanks a lot for the heads up on that one.  Looking forward to it being a first class citizen too.

[2022-07-01 07:34] lujiajing1126 commented on #37396
Also suffer this issue.

We're using istio `1.13.4`.

[2022-07-01 08:41] danhngo-lx commented on #37934
Hi @doverk96, can you tell what did you do to fix stats filter version missing?

[2022-07-01 10:00] MouceL commented on #39682
it check the lastnoce in /debug/config_distribution code

the point is, it will return nonce even though envoy reject the config

[code]

[2022-07-01 10:48] #39691 closed

[2022-07-01 14:48] aladdin-atypon opened #39734 "Access log entries are not logged in istio sidecar for ingress traffic"
### Bug Description

I have alb ingress which routes its traffic to istio-ingressgateway.

From there I have a gateway:

    ---
    apiVersion: networking.istio.io/v1alpha3
    kind: Gateway
    metadata:
      name: "X-gateway"
      namespace: dev
    spec:
      selector:
        istio: ingressgateway
      servers:
      - port:
          number: 80
          name: http
          protocol: HT

[2022-07-01 15:58] howardjohn commented on #39720
Investigated this one a bit.

warm: 2022-06-30T17:32:43Z/226
219, all eds
ready: 2022-06-30T17:32:42Z/224 and 226 - it is a mix; 114 on 226 and 219 on 224
28 eds ready, 219 unready

pushes look same for good and bad

bad disconnects at 17:32:55.308978Z, reconects 2s later
test fails around 33:22. starts at 33:02. So its all after reconnect

reconnect has EDS first ????.

Pushed resources seem the

[2022-07-01 16:11] howardjohn opened #39736 "CDS ACK ERR"
`ADS:CDS: ACK ERROR b-v1-6b468b6c78-tkl5k.echo2-53 Internal:Error adding/updating cluster(s) outbound|8888||fake.external.com: ORIGINAL_DST clusters must have no load assignment configured, outbound|8882||fake.external.com: ORIGINAL_DST clusters must have no load assignment configured, outbound|80||fake.external.com: ORIGINAL_DST clusters must have no load assignment configured, outbound|7070||fak

[2022-07-01 16:13] Stono commented on #39724
@aryan16 i can't get the VirtualService option to work at all!  Are you sure that syntax is correct?  Please can you check my EnvoyFilter and show a comparable example for `email`?

[2022-07-01 16:54] howardjohn commented on #39720
https://prow.istio.io/view/gs/istio-prow/logs/integ-security-multicluster_istio_postsubmit/1542825359978795008 is another example with eds request first

[2022-07-01 16:57] howardjohn commented on #39716
I think I disproved my theory, seems we are not reusing connections for http/1.1

[2022-07-01 17:31] arkodg opened #39739 "Append revision to istio-ca-root-cert"
**Describe the feature request**
Most resources created by istio (or deployed along side it) have the istio revision appended to its name.
Consider doing the same for `istio-ca-root-cert` configmap that is created in every user namespace in the cluster
https://github.com/istio/istio/blob/1fd3cf1b91dbd34b8c6af4c9922a50649ed46088/pilot/pkg/serviceregistry/kube/controller/namespacecontroller.go#L35
R

[2022-07-01 18:08] aryan16 commented on #39724
I am testing the virtual service solution, will give you an update on this soon. Meanwhile you can refer this for envoy filter - https://gist.github.com/inaiat/63a7525dbcf7c8824e7dc1a58927c0ef which uses `email` in the claims
one more reference link - https://github.com/istio/istio/issues/35108#issuecomment-916547087

[2022-07-01 18:17] howardjohn commented on #39739
Revisions are expected to be in the same root of trust

[2022-07-01 18:19] Stono commented on #39724
Yip the EnvoyFilter approach works for sure, i'd just rather use the VirtualService if possible!  Thanks

[2022-07-01 19:04] sanjaypujare opened #39740 "Implement stateful session affinity to a backend"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
In stateful services, once a particular "session" is assigned by a load-balancer to a particular service backend, all future activity on that session must be routed to the same service backend.

Envoy has recently added stateful session affinity ext

[2022-07-01 19:04] sanjaypujare commented on #39740
CC @louiscryan @costinm

[2022-07-01 19:42] howardjohn commented on #39720
can reproduce with
[code]

`proxy-local --proxyLogLevel=config:debug` and `pilot-local "--keepaliveMaxServerConnectionAge=3s"`.

Limit envoy cpu:  `sudo cpulimit --pid $( ps aux | rg envoy | rg howardjohn | awk '{print $2}') --limit 20`

send lots of pushes: `while :; do curl localhost:8080/debug/adsz?push=true; sleep .5; done`

[2022-07-01 20:06] arkodg commented on #39739
* @howardjohn that makes sense, looking at https://github.com/istio/istio/blob/222c91496e655cd54fcabbb7e927de5b4f3b5d5d/pilot/pkg/bootstrap/server.go#L943 (should I update the docs in https://istio.io/latest/docs/setup/upgrade/canary/#control-plane to highlight that both the Istiods must be in the same ns / have the same host string to make that an explicit requirement ?)
* this issue is slightly

[2022-07-01 20:15] howardjohn commented on #39739
I am not sure the relation to DNS names and the configmap? The istiods will not have the same host string -- the revision is part of the service.

we have leader election for that

[2022-07-01 20:45] sjmiller609 commented on #39672
I found this log from the config logger in the STALE ingress gateway pod. Not sure yet, but seems related.

[code]

[2022-07-01 20:47] sjmiller609 commented on #39672
According to google search, this is an expected connection reset. When I did the packet capture, the TCP stream did not close. I will have to monitor both this log and the packet capture at the same time.

[2022-07-01 20:53] sjmiller609 commented on #39672
This log is also showing up in the healthy pods. Not sure this is the right thing to be looking at right now.

[2022-07-01 20:56] thiema commented on #38813
After some tests I found out that the setup seems working correctly (i.e. no routing issues) if, and only if, I send requests directly to the openshift router pods.
However, if requests go via loadbalancer the routing issue is as described here. The loadbalancer typically has connections to pool of openshift router pods (openshift-ingress) and distributes the load to them.

Can anybody think of wh

[2022-07-01 21:02] aryan16 commented on #39724
One clarification - the example I attached in the above comment is specifically for “group” claim, if the name is different you should add that. The limitations of virtual service is that it can only handle string values in claim, can’t support nested claims.

[2022-07-01 21:19] howardjohn opened #39741 "tests: installProviders always appends, never cleans up"
After running these jobs a few times we end up with 100s of duplicates. cc @nmittler @aryan16

[2022-07-01 23:07] thiema commented on #38813
After some more tests I found that it is matter of Client. The requests sent directly to router pods were generated by "curl -kv ...".
Now running curl agains the LB is not producing routing issues as well.

So right now it seems like routing issues start only when accessing Application using Browser via our LB.

[2022-07-01 23:18] howardjohn opened #39747 "TestNormalization test flake"
https://prow.istio.io/view/gs/istio-prow/logs/integ-security-istiodremote_istio_postsubmit/1542515642890981376
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/39688/integ-security-istiodremote_istio/1542679358819274752

issue is around meshconfig merging. We somehow end up not applying the changes. Assuming its related to https://github.com/istio/istio/commit/e927c33a6129639b99e0

[2022-07-01 23:20] howardjohn commented on #39727
First one: https://github.com/kubernetes-sigs/gateway-api/issues/1242

secnond one https://github.com/istio/istio/issues/39747.

Lets track in those. Thanks!!

[2022-07-01 23:20] #39727 closed

[2022-07-02 02:14] zirain commented on #39734
can your share the accesslog from ingressgateway?

[2022-07-02 05:02] #37701 closed

[2022-07-02 05:02] #38000 closed

[2022-07-02 06:56] hanxiaop commented on #37500
See https://istio.io/latest/docs/ops/best-practices/traffic-management/#split-virtual-services

[2022-07-02 12:06] rittneje commented on #36640
@howardjohn This is not stale.

[2022-07-03 03:08] aladdin-atypon commented on #39734
Thanks @zirain ! updated.

[2022-07-03 05:02] #38004 closed

[2022-07-03 05:02] #38008 closed

[2022-07-03 05:02] #38016 closed

[2022-07-03 06:51] lw2331985 opened #39758 "can not access grpc server with upstream connect error or disconnect/reset before headers. reset reason: connection failure, transport failure reason: delayed connect error: 111","grpc_status":14}"
### Bug Description

I have deployed one grpc server to the k8s in docker desktop and used istio as external LoadBalancer..
But I can not send request the grpc server..  I tried istio gateway+virtual service and istio ingress controller + k8s ingress.
All get the same error.  But if using port-forward to the service and access directly, it works.
Do you have any advise? Thanks

The log in my clien

[2022-07-03 12:15] lw2331985 commented on #39758
My bad. It's bug in my image.

[2022-07-03 12:15] #39758 closed

[2022-07-03 12:31] zirain commented on #33143
not stale

[2022-07-04 02:02] suwliang3 opened #39759 "The remote cluster cann't resolve the domain name which configured in 'mutatingwebhookconfigurations' about 'Install Istio with an External Control Plane'"
In [https://istio.io/latest/docs/setup/install/external-controlplane/](url)，after performing all steps，the pod of the the sample application deployed in remote cluster cann't run.
[code]

[code]
the IP '96.126.123.244' resolved is not configured by me.  The domain name 'external.sample.com' configured using external IP  by me in coreDNS and hosts is not working.

[2022-07-04 02:09] zirain commented on #34169
seems we still need this? cc @hzxuzhonghu

[2022-07-04 03:05] #39532 closed

[2022-07-04 03:12] bboshiZ commented on #39478
It may be that when localityLbSetting.enabled is true, LEAST_REQUEST does not work for multi-region.
Priority localityLbSetting is greater than simple

[2022-07-04 03:12] #39478 closed

[2022-07-04 04:04] 13567436138 opened #39762 "give endpoint a name,then envoyfilter applyto endpoint ,select the endpoint,so we can config endpoint!"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
give endpoint a name,then envoyfilter applyto endpoint ,select the endpoint,so we can config endpoint!
**Describe alternatives you've considered**
I want to config endpoint's metadata
**Affected product area (please put an X in all that apply)**

[

[2022-07-04 06:21] MouceL commented on #39682
it only prove that the resource was sent to envoy,  yet we don't know if it was applied by enovy

[2022-07-04 07:10] cobb-tx commented on #38785
i install istio  istioctl install -y

test this bug nedd add sleep 5 time.Second

you can see ‘how to repetition？’ hereinbefore

and  I suggested use appProtocol: <protocol> To define the protocol

[2022-07-04 08:53] 13567436138 opened #39766 "some envoyfilter can not change envoy config？"
### Bug Description

following config can not change envoy config? cluster not changed

[code]

[code]

### Version

[code]

### Additional Information

_No response_

### Affected product area

- [ ] Docs
- [ ] Installation
- [X] Networking
- [ ] Performance and Scalability
- [ ] Extensions and Telemetry
- [ ] Security
- [ ] Test and Release
- [ ] User Experience
- [ ] Developer Infrastructure
-

[2022-07-04 11:20] rittneje commented on #36686
@howardjohn This is not stale.

[2022-07-04 11:21] zirain commented on #36686
no stale

[2022-07-04 11:38] Stono commented on #39724
@aryan16 yes i changed the `VirtualService` to target the email claim.  Doesn't work! :)

[2022-07-04 11:40] ramaraochavali commented on #34169
Same is possible for global also with Envoy filter in root namespace without any workload selector.

[2022-07-04 11:45] zirain commented on #39766
do you ever check istiod's logs?

[2022-07-04 12:14] hzxuzhonghu commented on #36686
Is anyone working on this?

[2022-07-04 13:52] chinaran opened #39770 "Root Namespace ServiceEntry exportTo not work"
According to doc: https://istio.io/latest/docs/reference/config/networking/service-entry/#ServiceEntry
<img width="985" alt="image" src="https://user-images.githubusercontent.com/3775544/177168664-e57936f3-084b-4ebf-84ad-9f2f7ec900d2.png">
But when I deploy a ServiceEntry at istio-system, and set exportTo []{"some-ns"}, it still export to all namespaces.

[2022-07-04 14:40] bdschaap opened #39771 "Feature Phase Statuses for Revision Based Upgrade and Revision Tags"
I wanted to see when the feature phase of the Revision Based Upgrade and Revision Tags would graduate from Alpha to Beta (or even Stable).

[2022-07-04 14:56] sschepens opened #39772 "telemetry: adding custom tags generates duplicated metrics"
### Bug Description

When adding custom tags to Istio standard metrics I get duplicated metrics.

Telemetry config:
[code]

The output of `/stats/prometheus` :
[code]

As you can see, there is two separate metrics, with the exact same value, one has the custom tags and the other does not.

Is this intended behaviour? I was expecting to have only one metric with the custom tags.

### Version

[code

[2022-07-04 15:39] luiof opened #39773 "Envoy proxy is NOT ready: config received from XDS server, but was rejected"
Guys we need some help to investigate this problem in our production clusters.

In our environments we are experiencing a weird issue with the latest 1.14.1 version.
Before we use the last 1.13 version.
The problem occurs in some environment and it is not systematically reproducible.

The problem is the following:
after the upgrade to the 1.14.1 version, we did a restart of the deployments we have

[2022-07-04 19:22] sschepens commented on #16585
I think most use cases should be covered by patterns `/customer/{id}/blah` but since we allow regex in virtual service routing, it makes sense to provide the same type of matching in AuthorizationPolicy.

[2022-07-04 20:19] fedyiv commented on #24421
Hi! Are there any plans to implement this feature?

[2022-07-04 21:15] va7ish opened #39775 "Istio deployment on virtual machines doesn't work correctly with Docker networking"
### Bug Description

When Istio is installed on VMs that also run containers, the Docker networking is not properly handled by the Iptables rules generated by pilot-agent.  There are two issues identified:

1) Broken egress connectivity from containers as that traffic gets intercepted by the generated iptables rules (in the root namespace) as "ingress" into the machine and hence redirected into En

[2022-07-04 21:41] iAbhishek91 commented on #39706
Yeah, that's the main issue: I cannot see the headers Envoy received from the webserver. is there any configuration that would help me to see those headers?

We tried Netty instead of Apache Tomcat as our webserver and it worked without any change. However, I'm not happy to conclude the issue, as I can't see the headers causing this. Please suggest

[2022-07-05 01:17] luowendi opened #39777 "How do external services locate services inside the istio clusters？"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

How does the service outside the Istio cluster locate the service inside the cluster? For example, an actual production situation: The external database finds that a certain load in Istio has abnormal access. How to locate the IP of the load?

**Describe the feature request**

**De

[2022-07-05 02:07] zirain commented on #39772
@sschepens can you share me the listener configdump of the pod?

[2022-07-05 03:10] 13567436138 commented on #39766
the first one do not have errror or warning

the second one has warning：
2022-07-05T03:07:51.819296Z     warn    ads     ADS:CDS: ACK ERROR istio-ingressgateway-56f79b5b85-bqz7r.istio-system-51 Internal:Error adding/updating cluster(s) outbound|9080||productpage.istio.svc.cluster.local: eds_cluster_config set in a non-EDS cluster

[2022-07-05 03:29] zirain commented on #39772
iop yaml
[code]
telemetry
[code]

promethe output:
[code]

listener dump:
[code]

cc @douglas-reid looks like we need remove duplicate `istio.stats` when telemetryv2 is enabled?

[2022-07-05 03:31] zirain commented on #39766
I think the error message is clear enough.

[2022-07-05 05:01] #33856 closed

[2022-07-05 05:02] #38041 closed

[2022-07-05 05:02] #38044 closed

[2022-07-05 05:03] #38046 closed

[2022-07-05 06:37] vamsidvk09 opened #39779 "istio b3 tracing headers are not being generated"
### Bug Description

Installed istio 1.13.2 on GKE v1.22.8-gke.202 using istioctl and operator manifest in order to override the default profile configuration.

We're observing that b3-* headers are not getting generated for single hop communication for ex: client (curl) --> GCP Load balancer --> ingress-gateway--> Service A  ---> (response) curl

where as if there is any service involved in betwe

[2022-07-05 06:47] aladdin-atypon commented on #39734
The issue was here:

spec:
  selector:
    app: podX
  ports:
    - port: 8080

The port should be named.

Anyway, @zirain , can you please point out to the source code of the access log logic? I've been a developer for long time and I believe it's better to debug than post questions around :)

[2022-07-05 06:49] zirain commented on #39734
https://istio.io/latest/docs/ops/configuration/traffic-management/protocol-selection/

[2022-07-05 06:59] aladdin-atypon commented on #39734
I asked for a clue about the source code of access log not anything related to a documentation since the issue is already addressed and obviously using the above doc. is something I read to address the issue already.

[2022-07-05 07:01] zirain commented on #39734
https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/accesslog.go

[2022-07-05 07:03] zirain commented on #39734
from the ingressgateway log you provide, there's nothing about upstream, do you custom the JSON output?

[2022-07-05 07:05] aladdin-atypon commented on #39734
Nope, I haven't, as I mentioned above, the issue was solved by naming the service port and as you provided in the doc.
Thank you @zirain !

[2022-07-05 07:21] #39759 closed

[2022-07-05 07:25] hzxuzhonghu commented on #36709
not stale

[2022-07-05 07:45] fdsaggaw opened #39780 "Setting up external control plane and running into errors"
I am trying to set up an external control plane by [https://istio.io/latest/docs/setup/install/external-controlplane/](url).Now I have some questiuons.

What would be SSL_SECRET_NAME be set to in this environment? Does it follow [https://istio.io/latest/docs/tasks/traffic-management/ingress/secure-ingress/](url) ? I have tried doing this however the remote cluster cann't deploy application in name

[2022-07-05 10:54] zioproto commented on #35176
Hey @howardjohn , I found this github issue trying to run the linter for a [istio.io docs contribution](https://github.com/istio/istio.io/pull/11539) from my Apple Silicon Mac:

[code]
I can pull `gcr.io/istio-testing/build-tools:latest` for arm64 but not that specific release tag that the linter wants.

Please do you know if there is any workaround to run the linter on arm64 ? I can't figure out

[2022-07-05 11:50] ramaraochavali commented on #39773
Can you please share the config_dump in one of the services?

[2022-07-05 13:51] bdschaap opened #39786 "Clarification on 1.8 to 1.10 Direct Upgrades Announcement"
It was previously [announced](https://istio.io/latest/blog/2021/direct-upgrade/) that Istio 1.8 to 1.10 direct upgrades were supported.  Can I take this to mean that similar scenarios such as upgrading from 1.10.x to 1.12.x are also supported using the same approach?  What about any arbitrary version newer than the version I currently have in production?  Perhaps with the stipulation that the clus

[2022-07-05 14:00] grk-pancham opened #39788 "installing envoy proxy along with windows containers"
We have added windows node group in our Kubernetes cluster and started to deploy windows server applications in it. We are trying to deploy Istio envoy proxy along with the windows containers in windows node group. when we enabled the istio sidecar injection for the windows application namespace the the envoy proxy sidecar fails to come up saying the image is not supported. I guess the image we ar

[2022-07-05 14:04] ericvn commented on #39786
From https://istio.io/latest/docs/setup/upgrade/canary/:

[code]

[2022-07-05 14:07] 13567436138 commented on #39766
second one is not right

[2022-07-05 14:08] 13567436138 opened #39789 "when will next version be released,it has been so long"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
when will next version be released,it has been so long
**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extension

[2022-07-05 14:18] hottea773 opened #39791 "Set the Seccomp profile"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

It is good practice to [Restrict a Container's Syscalls with seccomp](https://kubernetes.io/docs/tutorials/security/seccomp/). To do this one sets the `seccompProfile` field on the Pod's `securityContext`. Most container runtimes provide a sane set

[2022-07-05 14:28] bdschaap commented on #39786
Much appreciated!  I see that the docs were updated in the Istio 1.11.x release.

[2022-07-05 14:28] #39786 closed

[2022-07-05 14:53] ramaraochavali commented on #39773
I am not seeing this cluster eu-fr2.mydomain.com

[2022-07-05 14:55] #39736 closed

[2022-07-05 16:30] diranged opened #39792 "Locality based routing not working for istio-proxy to istio-egressgateway traffic..."
### Bug Description

When our traffic routes out from an `istio-proxy` sidecar through an `istio-egressgateway` pod, we want the traffic to stay within-zone whenever possible so that we can avoid paying cross-AZ network costs. For setting up the EgressGateways, we followed the docs at https://istio.io/latest/docs/tasks/traffic-management/egress/egress-gateway/ (with a minor change, I'll describe i

[2022-07-05 17:31] mohammadsuha commented on #11130
i am trying to do some setup by connecting to external service from init-container but i am unable connect to external service in ISTIO strict mode.
i found out ISTIO CNI so i want to know whether ISTIO CNI will help to resolve the issue?

https://istio.io/latest/docs/setup/additional-setup/cni/#compatibility-with-application-init-containers

in above document it says there are 3 ways we can do it

[2022-07-05 17:37] mohammadsuha commented on #32039
i am trying to do some setup by connecting to external service from init-container but i am unable connect to external service in ISTIO strict mode.
i found out about ISTIO CNI so i want to know whether ISTIO CNI will help to resolve the issue?

https://istio.io/latest/docs/setup/additional-setup/cni/#compatibility-with-application-init-containers

in above document it says there are 3 ways we can

[2022-07-05 17:46] mohammadsuha opened #39793 "Init-container cannot able to access external resources in ISTIO strict mode"
i am trying to do some setup by connecting to external service from init-container but i am unable connect to external service in ISTIO strict mode but able to do when ISTIO mode is off.

i found out ISTIO CNI so i want to know whether ISTIO CNI will help to resolve the issue?

https://istio.io/latest/docs/setup/additional-setup/cni/#compatibility-with-application-init-containers

in above documen

[2022-07-05 18:19] howardjohn commented on #39793
Yes, the documentation is correct. The CNI does not resolve the issue - the mitigations there work for both CNI and non-CNI, and the issue impacts CNI and non-CNI (although slightly differently)

[2022-07-05 18:19] #39793 closed

[2022-07-05 18:20] #39789 closed

[2022-07-05 18:21] howardjohn commented on #39791
My main concern is about the set of container runtimes that are _not_ sane, and by adding RuntimeDefault we end up breaking them. That may be a small/empty set though

[2022-07-05 18:33] hottea773 commented on #39791
Yeah, TBH I have no idea about that. We've been running on AKS (Azure) using the deprecated, but settable, annotation and it works, not that that's a great deal of info.

[2022-07-05 18:52] ceastman-r7 opened #39794 "Outbound Traffic Policy: REGISTRY_ONLY , sidecar ALLOW_ANY works for various ports but fails for port 80 (http)"
### Bug Description

I have the global mesh set to: Outbound Traffic Policy: REGISTRY_ONLY but I have a sidecar entry as follows:
[code]
No service entries specified in the apps namespace.

works as expected:
curl https://www.cnn.com

returns a 502 bad gateway:
curl http://www.cnn.com

when the sidecar entry is deleted
 curl https://www.cnn.com
curl: (35) OpenSSL SSL_connect: SSL_ERROR_SYSCALL in

[2022-07-05 19:35] #27420 closed

[2022-07-05 20:18] frankbu opened #39797 "Add proper remote profile and deprecate external profile"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

We deprecated the remote profile several months ago and added the external profile to replace it. The name change was not ideal but was required for backward compatibility. We are now completely removing the deprecated remote profile in 1.15 (https

[2022-07-05 21:23] andrewrmiller commented on #36545
@bianpengyuan Any update on this issue?

[2022-07-06 04:00] mohammadsuha commented on #39793
if i specify sidecar.istio.io/excludeOutboundIPRanges: "0.0.0.0/0" in the deployment yaml file as below

spec:
  template:
    metadata:
      annotations:
        traffic.sidecar.istio.io/excludeOutboundIPRanges: 0.0.0.0/0

will it help to connect to external service from init-container?

if yes will it effect the traffic from the main container?

will it loosen the security in main container?

[2022-07-06 04:09] mohammadsuha opened #39799 "using excludeOutboundIPRanges to enable access to external service from init-container."
i am trying to do some setup by connecting to external service from init-container but i am unable connect to external service in ISTIO strict mode but able to do when ISTIO mode is off.

i found out ISTIO CNI so i want to know whether ISTIO CNI will help to resolve the issue?

https://istio.io/latest/docs/setup/additional-setup/cni/#compatibility-with-application-init-containers

if i specify tra

[2022-07-06 05:02] #37925 closed

[2022-07-06 05:02] #38077 closed

[2022-07-06 05:08] ingwonsong commented on #36238
After https://github.com/istio/istio/pull/38595, Wasm modules seems to be injected to both of in/outbound.

[2022-07-06 09:06] LithiumSR opened #39800 "ServiceEntry-created clusters are not matched in IPv6"
### Bug Description

Hello everyone,
I think I found an issue with Istio 1.14.1 that is affecting connectivity to external services.
When SE are used in IPv6 to connect to external services, it seems that the requests are going into the BlackHoleCluster as they are not able to match the expected cluster.

The steps to reproduce are as follow:

0. Setup IPv6 KinD cluster or use another IPv6 cluster

[2022-07-06 11:21] sachinsaju commented on #33568
@ArchdukeNavaron Were you able to set mtls between rate limiting service and istio ingressgateway successfully?
I am facing the same issue. If I enable permissive peerauthentication for ratelimit service, everuthing works.
But if it is strict, ingressgateway sends 500 since it is not able to call ratelimiting service successfully.

[2022-07-06 14:12] howardjohn commented on #39799
This will disable all traffic capture entirely. Even in the main container.

IP without cidr form - no but /32 is a single IP.

Please ask questions on discuss, slack, stack overflow, etc. The issue tracker is for bugs. Thanks

[2022-07-06 14:12] #39799 closed

[2022-07-06 14:13] howardjohn commented on #39794
A bit confused since you said there is no ServiceEntry but then you deleted the Service Entry?

[2022-07-06 14:22] ade90036 opened #39802 "RBAC Policy Debug?"
I'm trying to debug an RBAC permission issue which I'm causing by experimenting a new configuration.

The reason i'm doing this is because there is not enough documentation that covers certain aspects / best practices to layer `AuthorizationPolicy` in a microservice when you have multiple namespace, multiple application (and on top you have `ingres-gateway` with a `CUSTOM` policy connected to an e

[2022-07-06 14:22] ade90036 commented on #39802
client version: 1.13.3
control plane version: 1.13.3
data plane version: 1.13.3 (5 proxies)

[2022-07-06 14:26] brentmjohnson commented on #39290
yeah i think i have run into a similar problem where webhook traffic from api server -> webhook service inside of the service mesh is blocked on envoy proxy tls handshake with:

`Internal error occurred: failed calling webhook "flinkoperator.flink.apache.org": failed to call webhook: Post "https://flink-operator-webhook-service.flink.svc:443/validate?timeout=10s": x509: certificate is not valid fo

[2022-07-06 14:36] linhuatan commented on #27569
@morvencao  if  @y0zg  want to just add a volumeMount, he should choose a big index that doesn't exist, hence create the new leaf, or else it will replace the volumeMount at index `0`,  this one should work:
[code]

[2022-07-06 15:05] SoulKyu opened #39808 "Istio issues with cert-manager, vault and cert-manager-istio-csr"
### Bug Description

Hello,

I'v setting up an istio configuration with those parameters :

Created self-signed ROOT-CA on Vault.
CN=istio.internal
Created 1 intermediate CA on Vault.
CN=istio.internal
allowed_domains=["istio.internal"]

Created cert-manager and configured vault as an issuer.
Everything is working on this side :
k get issuers.cert-manager.io -o wide
NAME                       READ

[2022-07-06 15:18] ade90036 commented on #39802
I did find an interesting tutorial around `Dry-Run` which solves what i was trying to do.

[2022-07-06 15:29] ade90036 opened #39810 "Bug: Host Match Policies"
### Bug Description

I was testing some host name policies.

We are trying to match a number of environments based on what we currently have:

- dev
- dev2
- test

We have a ingress-gateway that would then filter certain request from the host name

- dev.example.int
- dev2.example.int
- test.example.int

The following works, SUCCESS

[code]
But if we also want add hosts which use a port, for examp

[2022-07-06 15:40] iocn-2-3-4 opened #39811 "Issue with tcp traffic to "widcard" hosts. Traffic sent only to first host in list"
### Bug Description

We have Gateway:
[code]
and 3 virtualservices:
[code]
______
[code]
________
[code]
But TCP connection only establishes with virtual service in ns1
if we set list of hosts directly in gateway
[code]
we get same result, connection can be established only with - ns1.example.com on TCP port 5591
if remove - ns1.example.com from list, connection can be established only with - ns2.

[2022-07-06 15:42] LithiumSR commented on #39800
After testing for a while, I managed to find out that this issue was introduced with the deprecation of "envoy.reloadable_features.listener_wildcard_match_ip_family"
in Envoy

[2022-07-06 16:07] sachin-ks commented on #39694
@litong01 Thanks for the reply. Which version should I try to test? I used `istioctl install --set profile=demo -y` to install and `istioctl manifest generate --set profile=demo | kubectl delete --ignore-not-found=true -f -` to uninstall. I have updated the title.

[2022-07-06 16:24] litong01 commented on #39694
@sachin-ks if you can try the latest master branch, that will be good. Also, I do not think you should use the install then the manifest generation to uninstall, I think that the normal process should be this, if using manifest install, then use generated manifest to uninstall. If use istioctl install, use istioctl uninstall to uninstall.  With the following command, you should be fine.

[code]

I

[2022-07-06 16:28] istio-testing opened #39812 "[release-1.14] updated the pullsecret logic"
Manual cherrypick required.

#39750 failed to apply on top of branch "release-1.14":
[code]

[2022-07-06 16:29] istio-testing opened #39813 "[release-1.14] added imagePullSecret in extauthz and jwt server deployment"
Manual cherrypick required.

#39725 failed to apply on top of branch "release-1.14":
[code]

[2022-07-06 16:35] litong01 commented on #39694
generated manifest file does not have this mutatingwebhookconfiguration `istio-revision-tag-default`, only istioctl install creates that webhook. That is the reason why it was not removed when you use manifest for uninstall.

I believe that the PR I referred earlier has also been cherry picked to 1.14, if you get the 1.14 release which contains that PR, you should also be ok. after your test, if t

[2022-07-06 16:55] sachin-ks commented on #39694
@litong01 Thanks for the reply. I used 1.14.1 for my tests when I filed the issue. Since you mentioned, the behaviour that I am seeing is correct, I am confused, what should I verify?

If the behaviour is expected, then the Getting Started guide needs to be changed. I followed the exact same steps that are mentioned here: https://istio.io/latest/docs/setup/getting-started/

"if using manifest inst

[2022-07-06 17:04] litong01 commented on #39694
@sachin-ks I hear you, our doc really needs a lot of work. Let me at least fix this issue in the doc.

[2022-07-06 18:03] istio-testing opened #39814 "[release-1.13] Tls cert cacerts secret format"
Manual cherrypick required.

#39732 failed to apply on top of branch "release-1.13":
[code]

[2022-07-06 18:03] istio-testing opened #39815 "[release-1.14] Tls cert cacerts secret format"
Manual cherrypick required.

#39732 failed to apply on top of branch "release-1.14":
[code]

[2022-07-06 18:03] #39814 closed

[2022-07-06 18:12] #39815 closed

[2022-07-06 18:33] sachinsaju commented on #35398
@bianpengyuan Can you please share sample envoy filter config to make mTLS communication with istio ingress gateway and rate-limiting service?

I receive 500 errors in ingressgateway logs since communication between ingress and ratelimiting pod is not successful.(It is only successful when when I make mtls permissive).

[2022-07-06 19:12] e1ven opened #39820 "istio-discovery helm chart appears to be ignoring proxy_init resources"
### Bug Description

The values file for the helm chart [allows you to specify the resources that should be used for the init container](https://github.com/istio/istio/blob/master/manifests/charts/istio-control/istio-discovery/values.yaml#L371).

This value appears to be ignored, in favor of using the [proxy resources](https://github.com/istio/istio/blob/master/manifests/charts/istio-control/istio

[2022-07-06 19:20] ceastman-r7 commented on #39794
I deleted the sidecar crd:
[code]

[2022-07-06 19:38] diranged commented on #39792
Jus checking in here. In thinking about this, is this failing to do what I expect because traffic from `istio-proxy -> istio-egressgateway` pods is not really considered mesh traffic?

[2022-07-07 00:40] asayah commented on #35756
A workaround here is to create a new Route, for example of I want to rate limit everything but `/get`on the httpbin service, I can use this Envoy Filter:
[code]

[2022-07-07 01:11] 1511563371 opened #39822 "Can't install istio using calico in kubernetes"
### Bug Description

[code]
[code]

### Version

[code]

### Additional Information

[code]

[code]

[code]

[2022-07-07 01:15] zirain commented on #39822
please check the network between istiod pod and kube-apiserver, do you have NetworkPolicy block traffic across namespace?

[2022-07-07 03:14] 1511563371 commented on #39822
### part parameters for k8s cluster
[code]

[code]

[2022-07-07 03:27] zirain commented on #39808
`allowed_domains=["istio.internal"]` is this your cluster domain, if so you may need config it in you IstioOperator yaml.

[2022-07-07 03:49] hzxuzhonghu commented on #39792
[code]

This can not work as expected, you may need to consider VirtualService HTTPRedirect

[2022-07-07 03:52] #39726 closed

[2022-07-07 05:02] #38084 closed

[2022-07-07 05:02] #38091 closed

[2022-07-07 05:12] #29761 closed

[2022-07-07 05:54] #37666 closed

[2022-07-07 07:17] ArchdukeNavaron commented on #33568
@sachinsaju unfortunately not. In the end we just used nginx for rate limiting in front of our application. Not ideal but it kept the complexity down and we didn't have to spent more time investigating the cause of this.

[2022-07-07 09:59] schmigware opened #39825 "Unready Kubernetes pods reachable via loadbalancer on Istio v1.14.1"
### Bug Description

For a simple configuration:

- Some pod with configured readiness probe
- Aforementioned pod is load-balanced by a ClusterIP service
- Istio installed

I expect that when a load-balanced pod is not ready, it should not be reachable via the load-balancing service.

With Istio 1.14.1, if I configure:
- Some pod(s) with ready status FALSE
- ClusterIP service (load-balancer)
-  A

[2022-07-07 10:57] zirain commented on #39825
may related to https://github.com/istio/istio/pull/37122, cc @ramaraochavali

[2022-07-07 11:24] ramaraochavali commented on #39825
Can you please share /config_dump?include_eds output on the proxy and share the service name?

[2022-07-07 11:38] schmigware commented on #39825
[config_dump.log](https://github.com/istio/istio/files/9063180/config_dump.log)

[2022-07-07 11:42] ramaraochavali commented on #39825
It shows both the endpoints as `UNHEALTHY` - which is correct. What is the curl output you are getting?

[code]

[2022-07-07 11:44] schmigware commented on #39825
I'm curling a prometheus /metrics endpoint:

shell  ~  **curl aggregator-lb.dcm.svc.cluster.local:8080/metrics**
# HELP go_gc_duration_seconds A summary of the pause duration of garbage collection cycles.
# TYPE go_gc_duration_seconds summary
go_gc_duration_seconds{quantile="0"} 2.7364e-05
go_gc_duration_seconds{quantile="0.25"} 3.7239e-05
go_gc_duration_seconds{quantile="0.5"} 4.834e-05
go_gc_d

[2022-07-07 11:46] schmigware commented on #39825
Same command with 1.13.2 yields **no healthy upstream**

[2022-07-07 11:48] ramaraochavali commented on #39825
Yes. Because we were not sending un healthy endpoints. Envoy should not use it for load balancing.

[2022-07-07 11:54] ramaraochavali commented on #39825
Yes. In 1.14.1 Istio is sending unhealthy endpoints to Envoy to support slow start mode. You can set `PILOT_SEND_UNHEALTHY_ENDPOINTS` to false to get back the old behaviour.

I suspect this has to do with panic threshold.  Is this just to test or did you face any issue because of this?

[2022-07-07 12:08] sachinsaju commented on #35398
cc @zirain I tried in different versions of istio and faced this issue. So Is this a limitation of istio? Can you please share what needs to be added in the envoy filter config? I tried adding the upstreamTLSContext config to envoy config but was not successful.

[2022-07-07 12:17] mohammadsuha opened #39826 "excludeOutboundIPRanges can't able to establish communication between init container and application on a pod"
I have an application-A deployed in a pod and ISTIO strict mode is ON on that pod.

now i have main application which connect to application-A from the init-container of main application on which ISTIO strict mode is also ON ,but it cant able to connect to application-A using curl command from init-container.

I was able to connect to the application-A from init-container of main application when

[2022-07-07 12:24] schmigware commented on #39825
Should this change in behaviour across Istio versions not be called out front-and-centre in documentation? Effectively, Istio 1.14.x - out of the box - appears configured to ignore Kubernetes readiness semantics.

[2022-07-07 12:26] dddddai commented on #39770
I can't reproduce this

[2022-07-07 13:49] ramaraochavali commented on #39825
It is called out in the release notes https://istio.io/latest/news/releases/1.14.x/announcing-1.14/change-notes/#traffic-management

[2022-07-07 14:03] schmigware commented on #39825
You are expecting the reader to infer that Kubernetes readiness semantics are not going to apply out of the box anymore once an Istio upgrade has been perforrmed - from the first note? Surely there should be a warning of some sort. This change can have serious implications for production deployments.

Suggest updating the documentation to read e.g.:

_Added support for sending unready endpoints to

[2022-07-07 14:58] ramaraochavali commented on #39825
While I agree it should have been more clear, this is not entirely correct. By default it wont route it to unready endpoints. Please read the https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/panic_threshold.html?highlight=panic%20threshold. If all the endpoints are unhealthy, then the load balancer will get in to panic mode and routes to unhealthy endpoints (

[2022-07-07 15:17] gabClark commented on #39673
Also tried now on latest istio(1.14.1) and experience the same behavior. It is likely that this is some incompatibility with out setup or environment but it is kind of obscure and hard to determine what could it be.

[2022-07-07 16:05] emike922 opened #39828 "Test target uses binaries path from host pwd despite mounting to /work"
### Bug Description

Running `make build test`, expecting to build and test in docker, fails.
The following warning implies to me that LOCAL_OUT is wrongly set to a path on the docker host file system:

[code]

To confirm:
[code]

The same instructions work fine when overriding `TARGET_OUT_LINUX` using `TARGET_OUT_LINUX=/work/out/linux_amd64 make build test`

### Version

[code]

### Additional In

[2022-07-07 16:09] BobJackson commented on #36762
I have the same problem and I hope istio can support mac apple silicon someday.😎

[2022-07-07 16:21] nmittler commented on #39330
@stevenctl gentle ping ... are you still looking at this? We had to roll-back the change.

[2022-07-07 16:23] #39330 closed

[2022-07-07 20:58] diranged commented on #39792
Thank you - I have adjusted our config and have the HTTP->HTTPS working in a cleaner way now that is reliable. The fact that locality load balancing (with zone-priority) is not working is still here though.

[2022-07-07 21:47] zioproto commented on #31076
I confirm I am hitting this bug in Istio 1.14.1

This should be reopened ! thanks

[2022-07-07 21:54] zioproto commented on #31076
/reopen

[2022-07-07 22:33] #29264 closed

[2022-07-08 00:15] ingwonsong commented on #39345
@dgn @ramaraochavali @kyessenov @zirain @douglas-reid I made a draft doc for expanding WasmPlugin API regarding this topic. https://docs.google.com/document/d/1qknaZqXItogEmROVnQD61144pEW1X47bEQraI5D52uY/edit?resourcekey=0-wHAgrakvVaMcnBm40bKuSg#
Could you take a look into it and give some comments or thoughts?

[2022-07-08 01:01] zirain commented on #39810
https://istio.io/latest/docs/reference/config/security/authorization-policy/#Rule

[2022-07-08 01:19] howardjohn commented on #39826
It is not possible to do mTLS in init container. Only non-mtls traffic using the workarounds in the link

[2022-07-08 01:20] howardjohn commented on #39825
@ramaraochavali this is IMO a super super severe bug and we should revert the change or find a way to make it not trigger the healthy panic threshold. Kubernetes defines a clear contract not to send traffic to unready endpoints and we are violating that

[2022-07-08 01:22] howardjohn commented on #39820
This is working as intended but we should. update the docs / hide /remove the field.

[2022-07-08 01:23] howardjohn commented on #39811
You have 3 virtual services with the exact same match, so only one can be used.

[2022-07-08 02:12] #39780 closed

[2022-07-08 03:06] mohammadsuha commented on #39826
can i know what is mTLS and non-mTLS traffic?

[2022-07-08 03:52] ramaraochavali commented on #39825
I was thinking about that as well - I think the best path forward here is to default it false and when it is enabled, disable panic threshold - while we loose some benefits of panic threshold, but it is better.

[2022-07-08 04:10] hzxuzhonghu commented on #37629
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/39823/integ-security-multicluster_istio/1545242162814259200

So frequently

[2022-07-08 05:02] #32005 closed

[2022-07-08 05:31] hanxiaop commented on #38299
not stale

[2022-07-08 06:32] zioproto opened #39835 "IstioOperator overlays are broken when using revisions"
### Bug Description

I want to use a `istioOperator` overlay to patch the `istiod` Deployment, because I want to read the `cacerts` using a csi driver instead of using Kubernetes secrets. I am also using revisioned control plane.
I found this issue where the overlay fails to apply because of the revision. Here is my install command:

[code]

This is the content of overlay.yaml

[code]

This will f

[2022-07-08 07:14] aryan16 commented on #39810
Both prefix and suffix wildcard matching is not there yet.

[2022-07-08 07:21] cobb-tx opened #39837 "when delete sidecar service A get 502"
### Bug Description

i have two service service A and B. A->B

service A hava sidecar, but sidecar not hava service B  just hava istio-system like:
[code]

when i delete the sidecar

i get 502 in service A

i hope is 200

### Version

[code]

### Additional Information

istio is ok  .is envoy bug

envoy log hava **Cluster not found outbound** AND **NC**
2022-07-07T09:52:22.932165Z debug   envoy fi

[2022-07-08 07:37] zirain commented on #39837
1.10 is EOL, can you verify this in newer version?
https://istio.io/latest/docs/releases/supported-releases/

[2022-07-08 07:43] hzxuzhonghu commented on #39825
I would vote option 2, because option 1 equals to removing panic threshold feature, which is a breaking change.  Users of istio have run stably more or less for several years under panic threshold functionality. While the feature flag is on in 1.14, I suspect no production user yet.

[2022-07-08 07:47] hzxuzhonghu commented on #39825
@ramaraochavali Does setting panic threshold to 0 has any influence to priority failover?  Or any other severe influence on system stability?

[2022-07-08 07:53] sachinsaju commented on #39837
@zirain  Can you look into the issue [https://github.com/istio/istio/issues/35398](https://github.com/istio/istio/issues/35398) ? It was automatically closed because of no response. Should I create a new one?

[2022-07-08 08:16] ramaraochavali commented on #39825
Both are breaking changes

Most of the users specify/use outlier detection and when outlier detection is provided without min_health_percent , we already disable it https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/cluster.go#L663

It does not have influence on priority failover but priority load balancing is impacted as described https://www.envoyproxy.io/docs/envoy/la

[2022-07-08 08:31] zirain commented on #35398
@sachinsaju can you try with this demo https://github.com/zirain/limiter/blob/main/pkg/envoyfilter/testdata/global/basic.yaml

[2022-07-08 08:37] sachinsaju commented on #35398
@zirain  I will try and let you know.

[2022-07-08 08:39] ade90036 commented on #39810
can you add the reference to the other feature request so we can close this one?

[2022-07-08 08:43] 1511563371 commented on #39822
###  result
the issume is overcomed

[2022-07-08 08:51] zirain commented on #39822
can you share the details for folks who may have some question?

[2022-07-08 08:56] ramaraochavali commented on #39825
So  I did the following in the PR which I think is a middle ground
- Defaulted `PILOT_SEND_UNHEALTHY_ENDPOINTS` to false
- When enabled, disabled panic threshold. Updated its docs.
- Will send another PR to update update https://github.com/istio/api/blob/master/networking/v1alpha3/destination_rule.proto#L619 to indicate PILOT_SEND_UNHEALTHY_ENDPOINTS should be enabled to handle readiness blips not

[2022-07-08 09:08] sachinsaju commented on #35398
@zirain  Have you committed the ratelimit config file? I could not find one.

[2022-07-08 09:31] sachinsaju commented on #35398
@zirain at https://github.com/zirain/limiter/blob/14bd0a5392160e80c47448f60ac44ce138f6718d/config/rls/rls.yaml

You are specifying sidecar.istio.io/inject: "false" as a label.This means istio sidecar wont be injected to ratelimit pod.
In that case, will mtls work?

[2022-07-08 10:16] sachinsaju commented on #35398
@zirain It seems to be working even after the istio sidecar was injected to rate limit pod. If my understanding is correct, the specified rate limit envoy filter is applied to httpbin service. In the global rate limit task provided at https://istio.io/latest/docs/tasks/policy-enforcement/rate-limit/  , the envoy filter configuration is applied at ingress gateway.
Why is the demo configuration not

[2022-07-08 10:33] 1511563371 commented on #39822
[code]

[2022-07-08 11:34] stevenlii opened #39838 "skywalking tracing not available with istio"
I have configed the same configuration follow
But there is not trace disappeared

[code]
`kubectl apply -f installed-state.yaml
`
then add Telemetry cr
[code]
and `kubectl create -f telemetry.yaml`

and I visit bookinfo via http://ip:port/productpage
but no trace data show at skywalking ui. Even through no only one span
my trace:
![image](https://user-images.githubusercontent.com/8954758/177983469

[2022-07-08 11:58] ptravishill commented on #39323
@yckbilly1929 @howardjohn any update?

[2022-07-08 13:05] howardjohn commented on #37629
Yes, this one is from the iptables bug which I don't know how to fix

On Thu, Jul 7, 2022, 9:10 PM Zhonghu Xu ***@***.***> wrote:

[2022-07-08 13:11] howardjohn commented on #39826
You cannot.

On Fri, Jul 8, 2022, 2:36 AM mohammadsuha ***@***.***> wrote:

[2022-07-08 13:15] stevenlii commented on #39838
Thanks for your reply, I'll try it again later.

[2022-07-08 13:34] zirain commented on #39822
closed as it's overcomed

[2022-07-08 13:34] #39822 closed

[2022-07-08 13:44] zirain commented on #35398
actually, in my env, it's still working when ratelimit pod is injected.

Why is the demo configuration not working when mtls is enabled?

it should be working on ingressgateway, just need a little changes on `Context` and `WorkloadSelector`

both are ok, depends on which request you are trying to enforce the policy.

[2022-07-08 15:13] #39634 closed

[2022-07-08 15:27] ceastman-r7 commented on #39794
This appears to be caused by this being set:
[code]

but shouldn't this only affect connections within the cluster? Anything going external should not be upgraded to http/2 correct?

[2022-07-08 15:33] caoyukun0430 commented on #37396
Hi Did you tried with options "pprof --alloc_space"? https://www.neteye-blog.com/2019/06/go-pprof-how-to-understand-where-there-is-memory-retention/ it has different outputs for me than default in_space ones.
Also using "-c dbg" when building envoy gives you the binary named "envoy.full" that contains more info. https://github.com/envoyproxy/envoy/blob/main/bazel/README.md

[2022-07-08 15:55] sachinsaju commented on #35398
@zirain Actually this was what I expected to happen. But it only works when there is no mtls.
For instance, Add the following envoy filters to your cluster.
[code]
This config would work for you if mtls is disabled. But when I turn on mtls STRICT, I get 500 error response.(Make sure to have sidecar injected in ratelimit).
Can you please try above filters and see the behaviour?

Thanks a lot for yo

[2022-07-08 17:25] SoujanyaMangipudi opened #39843 "Cross cluster calls do not work with istio multi cluster with Multi Primay multi network"
### Bug Description

I tried configuring istio mutli cluster by following instructions for Multi primary multi network as is. Clusters are on AKS and istio version 1.12.2

All the pre-requisites and configurations are done as mentioned. However cross cluster calls always fail with error "Could not resolve host". I am using the helloworld and sleep apps for verification given in istio documentation

[2022-07-08 17:43] jnguyen1195 opened #39844 "Please bump go from 1.17 to 1.18"
### Bug Description

We need to have new release patch as urgent with the go library bumped up to 1.18.1 from 1.17 since the CVEs which are listed below have  the critical  severities:

CVE-2022-29162

CVE-2022-28327

CVE-2022-24675

GHSA-qq97-vm5h-rrhg

CVE-2021-43784

Thank you

$ kubectl version --short

Flag --short has been deprecated, and will be removed in the future. The --short output wil

[2022-07-08 17:46] ramanujadasu opened #39845 "Unable to configure accessLogEncoding as JSON in telemetry configuration"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Unable to configure accessLogEncoding as JSON in telemetry configuration
Configuration details:

**IstioOperator yaml file for default or minimal profile:**

apiVersion: install.istio.io/v1alpha1
kind: IstioOperator
metadata:
….
spec:
  …
  meshConf

[2022-07-08 17:57] stevenctl commented on #38704
https://github.com/istio/istio/pull/39829#issuecomment-1179236417

[2022-07-08 18:11] ericvn commented on #39844
Go 1.18 is used in Istio version 1.14, while Go 1.17 is used in older versions of 1.13 and 1.12 (the later goes End of Life in a few days). We typically do not move up Go major versions in point releases. We do however, typically pick up Go minor releases within our patch releases so Istio 1.13 and Istio 1.12 should have the latest Go 1.17 release available when they were built.

[2022-07-08 18:13] yckbilly1929 commented on #39323
currently i got it working by directly cloning and modifying from https://github.com/istio/istio/tree/master/manifests/charts

and then install like

[code]

if I remember right, the gateway chart used by https://istio-release.storage.googleapis.com/charts is the legacy one <https://github.com/istio/istio/blob/master/manifests/charts/gateways/istio-ingress/templates/deployment.yaml>, where sidecar

[2022-07-08 20:32] radekg commented on #39835
This isn't a bug, your `IstioOperator` manifest is not configured correctly. You need to change `spec.components.pilot.k8s.overlays[0].name`, which you already found out about.

Don't you do need that revision in the overlay deployment because if you proceed with an upgrade with canary, you'll essentially have a deployment per revision?