[2019-04-03 14:59] hzxuzhonghu commented on #13022
you mean the traffic is not intercepted by sidecar? What is you interception mode setting?

[2019-04-03 15:05] jnativio commented on #9680
Closing this issue as it has been mostly addressed on 1.1 with the namespace isolation.

[2019-04-03 15:05] #9680 closed

[2019-04-03 15:05] howardjohn commented on #13022
Looks related to CNI @tiswanso maybe can help

[2019-04-03 15:08] jnativio commented on #9800
@irisdingbj Is this issue still valid and should remain open or the changes were already incorporated to 1.1?

[2019-04-03 15:14] Stono commented on #12764
Probably feels fair @douglas-reid

[2019-04-03 15:14] #12764 closed

[2019-04-03 15:14] alunsford commented on #13022
@hzxuzhonghu Yes, traffic is not intercepted by the sidecar. Interception is set to REDIRECT. From the envoy admin console for the sidecar:

[code]

[2019-04-03 15:28] Stono commented on #13014
Here's a recording of the mess: https://asciinema.org/a/M2ljZsPfWY6BsO7MlJmfxyD9u

[2019-04-03 15:39] Stono commented on #12653
I'm going to close this, it's configurable at the end of the day :)

[2019-04-03 15:39] #12653 closed

[2019-04-03 15:39] Stono commented on #12561
Don't suppose anyone has had any traction understanding why this was?  It's really annoying for us investigating downstream systems!

[2019-04-03 15:40] venezia commented on #12132
@JimmyCYJ @munnerz @prune998

I could be wrong, but here is my understanding:

* Istio 1.1 comes with SDS which, among other things, allows for [dynamic reloading of certificates](https://istio.io/docs/tasks/traffic-management/secure-ingress/sds/#configure-a-tls-ingress-gateway-using-sds), which would alleviate one of the TODOs in [certmerge operator](https://github.com/prune998/certmerge-operator

[2019-04-03 15:40] sdake commented on #11731
cc/ @sdake

[2019-04-03 15:41] Stono commented on #12453
I find that interesting, I have 300+ services, 600 or so pods, a *lot* of configuration and our proxies sit at around 40mb.

A typical sidecar config for me looks like this:
[code]

We've also annotated some services with `networking.istio.io/exportTo: '.'`

[2019-04-03 15:42] Stono commented on #12453
Average proxy memory usage across our whole cluster:

<img width="1619" alt="Screenshot 2019-04-03 at 16 42 33" src="https://user-images.githubusercontent.com/1486729/55492665-7f421680-562f-11e9-81da-1b4c0e5d8939.png">

[2019-04-03 15:43] Stono commented on #12380
Closing, doubt it'll get under

[2019-04-03 15:43] #12380 closed

[2019-04-03 15:43] Stono commented on #12183
Gonna close this with the summary of "Update to 1.1.1".

[2019-04-03 15:43] #12183 closed

[2019-04-03 15:45] Stono commented on #11659
Seems to be fine for me in 1.1.1

[2019-04-03 15:46] sdake commented on #11705
Related request: https://github.com/istio/istio/issues/7505
Related request: https://github.com/istio/istio/issues/12974

[2019-04-03 15:47] Stono commented on #11659
We have started doing this recently btw folks:
[code]

This will:
  - Wait for proxy to be ready
  - Tell it to quit when done

[2019-04-03 15:49] howardjohn commented on #13019
Going to close this for https://github.com/istio/istio/issues/13014, very likely the same bug

[2019-04-03 15:49] Stono commented on #10279
Is there anyone in perf/scalability that can comment?

[2019-04-03 15:49] #10580 closed

[2019-04-03 15:50] #10116 closed

[2019-04-03 15:54] Stono commented on #8270
not stalleeeee.  I'm all in favour of reducing log noise to rekindling this

[2019-04-03 15:54] Stono commented on #8107
Closing this, there's been so much change since i had it, i'll open a new issue if it all arises again

[2019-04-03 15:54] #8107 closed

[2019-04-03 15:56] Stono commented on #13019
Fair dues

[2019-04-03 15:57] #7535 closed

[2019-04-03 15:58] Stono commented on #7524
We get none of this any more, but we're on 1.1.1 with very fine grained Sidecars, so perhaps the significantly less load on pilot solved it?

[2019-04-03 16:07] douglas-reid commented on #12561
I have not heard any more about this. Probably time to send a PR to bump up the limit.

[2019-04-03 16:27] sneko commented on #8836
Hi @mandarjog , you said:
`There are multiple ways of doing that, simplest is to exclude the pod ip CIDR from capture using “excludeIPranges”.``

Since I'm still annoyed by changing PodCIDR after each Kubernetes update, I'm wondering what are the other ways you mentioned?

Thank you,

[2019-04-03 16:28] howardjohn commented on #12642
Would it be a horrible idea to just turn these logs off completely? We can pass `--component-log-level misc:error`.

I get the logs have a purpose and we shouldn't just ignore them, but that is a concern for Istio developers. Does a user of Istio ever care that we are using deprecated Envoy features? Probably not.

This does silence other `misc` logs, but  brief look shower it is hardly used.

[2019-04-03 16:28] ryan-dyer opened #13028 ""istioctl authn tls-check <pod>" is broken with multiple pilot instances"
**Describe the bug**
istioctl authn tls-check <pod> <service> results in "Error: nothing to output"

**Expected behavior**
behavior as seen in 1.0.6

**Steps to reproduce the bug**
run command: istioctl authn tls-check <pod> <service>

**Version**
istio 1.1.1
kube 1.11

**Installation**
helm template

**Environment**
AWS

**Cluster state**
Can be provided if necessary

[2019-04-03 16:32] bitva77 commented on #9943
We're having the same issue with Kubernetes 1.13 and Istio 1.1.1.  NodePort.

kubeadm install on RedHat 7.6.

Istio 1.0.6 works fine.

It is listening on port 31380 (or 80 if I change it) but it does not accept connections.  Using netcat I can verify it's not a firewall issue or anything.  This is something with Istio.

Restarting pods does not fix the issue even temporarily for us.

[2019-04-03 16:44] incfly commented on #12080
/cc @incfly

[2019-04-03 16:45] sdake commented on #12080
@esnible thanks for getting that kicked off.  I've changed the scope to involve both env wg and ux workgroup as we will need expertise from both workgroups to approve the design and implement the work.

I will provide comments on the UX portion this week.

Cheers
-steve

[2019-04-03 16:48] incfly commented on #12080
To me, `istioctl install` can be generalized to mesh expansion setup. Today's mesh expansion setup is also very troublesome and error-prone.

If we go with `istioctl mc`, then we need to add another something like `istioctl expansion`.

[2019-04-03 17:01] ozevren commented on #13025
I reproed in GKE - 1.12.6-gke.7. This looks like cross-test interference, as running suites individually seems to work fine.

[2019-04-03 17:05] ozevren opened #13029 "TestMutualTlsReachability is failing in post-submit"
https://prow.k8s.io/view/gcs/istio-prow/logs/istio-integ-k8s-tests/6144

[code]

[2019-04-03 17:06] mmosttler commented on #12998
I tried looking into using the istio-vet from aspenmesh, but it seems to not be working with my istio installation or something.  I continually get errors in the log like this:

I tried to patch the couchbase operator deployment and its not starting, seems its health check is failing.

I am curious about the `traffic.sidecar.istio.io/excludeInboundPorts` option.  do you have any examples (not nece

[2019-04-03 17:12] ermik commented on #5989
@arielb135 if all nodes have the sidecar mTLS should be seamless, as to the nodes themselves traffic appears as coming from localhost & unencrypted. IIRC.

[2019-04-03 17:22] tiswanso commented on #13022
It looks like this is occurring with and without the Istio CNI enabled so it's sounding like a common setup issue or common redirect problem.

@alunsford  -- could you clarify how you determine the traffic is not being redirected?

[2019-04-03 17:25] ozevren commented on #12678
So, you'll have a fix ready soon?

[2019-04-03 17:32] prune998 commented on #12132
Hi @venezia
I'm the one who wrote the blog and the `certmerge-operator` out of frustration 😃
Here are few comments :

- `certmerge-operator` is just filling a void. It suppose `Cert-Manager` does add specific `labels` on generated secret, which it doesn't as the PR was refused (to preserve API...). This operator is not supposed to stay around once Istio have a better management of certificates (wi

[2019-04-03 17:38] ozevren commented on #13025
ok, this is probably simpler than I thought.

When running from the top-level integration folder, you'll need to specify -p 1 to avoid parallelism.

I'll see if I can incorporate something to the test framework to avoid this problem somehow.

[2019-04-03 17:43] alunsford commented on #13022
@tiswanso in 1.0.6 we are able to tail the istio-proxy sidecar logs and see entries as it receives traffic. We tried setting different log levels for the sidecar in 1.1.1 (trace, debug, info, warn) and did not see entries. Additionally, we have kialia/jaeger in the cluster and they were not showing traffic flowing through the mesh.

[2019-04-03 17:48] howardjohn commented on #13014
With two replicas of a pod, I have been able to get it so one pod is broken and one succeeds. So `curl svc` gets 200/404/200/404/200/404/...

[code]
Seems to be the cause

[2019-04-03 17:52] frankbu commented on #12655
This issue is fixed by #12847. The more restrictive host in the gateway will be honored.

[2019-04-03 17:52] #12655 closed

[2019-04-03 18:14] walkerline commented on #12960
So an update:

if we apply the routing rule on gateway level, it works fine.

For example, if we apply below virtual service on Gateway, the routing will be just working fine.
[code]

However if we apply below rule to service to service routing, it won't work

[code]

And i test this one by loggin on to another pod other than Helloworld, and when i send the request, the routing rule don't work, i

[2019-04-03 18:15] ozevren opened #13031 "[Test Framework] Avoid accidental test parallelism in the test framework"
When integration tests are run in the integration folder with:
``` go test ./... --istio.test.env kube ```

The tests fail as the go test framework runs the TestMains in parallel. A mitigation is to use the ```-p 1``` flag, but that is subtle and easy to miss.

We should implement a locking/election mechanism when the tests are acquiring the environment, so that even when the tests are ran in para

[2019-04-03 18:43] venezia commented on #12132
@prune998

Sure, but there are situations, specifically for TCP services, where this will not work.  Suppose there are two gitlab installations on a cluster and both want to have git over ssh enabled at port 22.  Similarly you seemingly cannot have one Gateway using one port (say 80) as http1 and another gateway using the same port as http2 using the same ingress gateway.  The point largely was wh

[2019-04-03 18:45] incfly commented on #12122
/cc @quanjielin @justinburke @wattli

Citadel agent downloads a list of public CA files for TLS connection to some CA server.
https://github.com/istio/istio/blob/master/security/docker/Dockerfile.node-agent-k8s#L3

[2019-04-03 18:57] jnativio commented on #8281
keep open

[2019-04-03 18:58] jnativio commented on #8280
keep open

[2019-04-03 19:05] howardjohn commented on #13023
Nevermind.. I don't nkow what the 09/16 part is but I just read the release wrong

[2019-04-03 19:05] #13023 closed

[2019-04-03 19:42] nmittler commented on #13025
@ozevren I thought parallelism was disabled by default and that you had to explicitly opt-in for a test via `t.Parallel()`?

[2019-04-03 19:47] ozevren commented on #13025
For tests, yes, but not for multiple TestMain's. :)
[code]
Notice the last sentence.

[2019-04-03 19:55] howardjohn opened #13033 "go test ./security/pkg/nodeagent/sds/... produces 183k lines of logging"
It is impossible to tell what is going on in the tests when the logs get spammed like this

[code]

[code]

[2019-04-03 20:01] howardjohn commented on #13033
This isn't just a test issue either. A user isn't going to be happy if they get 1 huge logging bill because we log 100 thousand lines per second. This should at least have some backoff or something: https://github.com/istio/istio/blob/master/security/pkg/nodeagent/sds/server.go#L196-L207

[2019-04-03 20:05] kyessenov commented on #9800
We can close this. The linked PRs provide the desired optimizations, although both are disabled due to unexpected side effects.

[2019-04-03 20:05] #9800 closed

[2019-04-03 21:05] lei-tang commented on #13033
https://github.com/istio/istio/pull/13035

[2019-04-03 21:12] incfly commented on #13033
If I understand the issue correctly,

- We add log in citadel agent as sds server. How will that help with debugging? Because citadel agent can serve both gateway cert or workload cert?
- log.Infof print out oneline per sds server, aka one pod per server, correct?

Several options

- Remove the log completely, not sure how effective that log help with debug
- Changed to log.Debugf
- use ctrlz coun

[2019-04-03 21:14] howardjohn commented on #13033
Seems like exponential back off should be used? or some limit? I would be worried about it retrying millions of times forever.. But as long as the log spam is removed any solution works for me

[2019-04-03 21:15] #12884 closed

[2019-04-03 21:18] incfly commented on #13033
+1 on using exponential back off.

[2019-04-03 21:30] joberdick commented on #12855
Same issue here. Only difference in my setup from @JayG-EBSCO's is I am using helm 2.11 and I coming from istio-1.1.0-snapshot.5 to 1.1.1.

[2019-04-03 22:08] lei-tang commented on #13033
The discussion on this issue can be found in https://github.com/istio/istio/pull/13035.

[2019-04-03 22:17] #9297 closed

[2019-04-03 22:25] philrud commented on #12949
@truyet I don't think you need a ServiceEntry here. Your Postgres is a regular service within the same cluster, it should be reachable without any extra configuration. If your Postgres doesn't have a sidecar injected and the rest of your mesh has mTLS enabled, then you might want to define a DestinationRule for Postgres in order to turn mTLS off for that service. See the docs: https://istio.io/doc

[2019-04-03 22:33] nmittler commented on #13025
Ah interesting ... good to know!

[2019-04-03 22:34] ozevren commented on #13025
Added more documentation, and opened a separate bug for a proper fix. Closing this one for the time being.
https://github.com/istio/istio/pull/13032
https://github.com/istio/istio/issues/13031

[2019-04-03 22:34] #13025 closed

[2019-04-03 22:54] akyyy opened #13038 "Authorization policy not enforced"
**Describe the bug**
When RbacConfig is turned on, I can still access my service.

**Expected behavior**
When RbacConfig object is created, I should get access denied error.

**Steps to reproduce the bug**
1. Create a gke cluster
2. Install istio addon
gcloud beta container clusters update cluster1 \
    --update-addons=Istio=ENABLED --istio-config=auth=MTLS_PERMISSIVE
3. Enable envoy injection fo

[2019-04-03 22:59] hpohl commented on #12949
@philrud I've been trying to reproduce it a bit locally as well, but was unable. Maybe I can slim it down a bit tomorrow. Will also get to tinker a bit around regarding this issue hopefully.

[2019-04-03 23:07] akyyy commented on #13038
The pilot discovery container doesn't have much logs for "rbac". The pilot istio-proxy container had errors "shutting down due to child request".
I don't see any log "built filter config for" for pilot.

[2019-04-03 23:24] mattmi88 commented on #12231
@ostromart - I've been rooting around in the PSP admission plugin code to sort out how it works so I'm hoping my discussion below can give you a leg up on this work item. I'm struggling to get a PSP and a container securityContext config that works reliably. It's been a real pain in the neck!

First, I recommend getting familiar with the Kubernetes [podsecuritypolicy provider code](https://github.

[2019-04-03 23:33] valarauca opened #13039 "istio-1.1.1 broke NONE service resolution entries"
**Describe the bug**

Valid service configurations from `1.0.3` and `1.0.6` do not work in `1.1.1`

[code]

This is to support a cassandra cluster which would be added to the `istio` service mesh via `envoy` and sidecar expansion. IP addresses need to be used instead of domain names as this is a legacy applications, and some management scripts prefer IP-Addresses.

We are attempting to conform to

[2019-04-03 23:34] jacob-delgado opened #13040 "Istio galley dashboard's data is not fully populated"
**Describe the bug**
When visiting the Galley grafana dashboard after setting up istio there can be issues where data is not properly being displayed.

**Expected behavior**
The galley dashboard to be populated.

**Steps to reproduce the bug**
1. Install istio
2. Setup grafana; for my case I do not use local storage, but remote storage
3. Visit the galley dashboard

**Version**
Istio 1.1.0
Kuberne

[2019-04-03 23:35] jacob-delgado commented on #13040
To me,  https://github.com/istio/istio/blob/1.1.0/install/kubernetes/helm/istio/charts/grafana/dashboards/galley-dashboard.json is missing the following

[code]

at the top of the file, unlike the other grafana dashboards. This is how I was able to get it fixed.

[2019-04-03 23:36] valarauca commented on #13039
To clarify this is an issue for both `1.1.0` and `1.1.1`

[2019-04-03 23:37] yangminzhu commented on #13038
Talked with @akyyy offline and logged into the user's cluster for debugging, the reason is you applied the wrong service which Istio doesn't support,
you need to name your service port following the Istio spec: https://istio.io/docs/setup/kubernetes/prepare/requirements/
I deleted one service and renamed the other one to start with `http-`.

Also please be noted, The RBAC in Istio 1.0 only support

[2019-04-03 23:37] howardjohn commented on #13033
Closing this as the logging issue is fixed

You may want to investigate why the error is occurring though, seems to happen only when you run two tests - running a single one has no issues. @lei-tang

[2019-04-03 23:37] #13033 closed

[2019-04-03 23:38] yangminzhu commented on #13038
/cc @liminw @wattli

[2019-04-03 23:39] howardjohn commented on #13040
Are you running istio 1.0 or 1.1.0? You can run `istioctl version --remote`.

(I believe) Galley is new in 1.1

[2019-04-03 23:44] jacob-delgado commented on #13040
Istio 1.1.0. Sorry

[2019-04-03 23:57] nrjpoddar commented on #13040
@howardjohn I have #13041 to address this, if you can take a look.

[2019-04-04 00:17] #8928 closed

[2019-04-04 00:24] mattmi88 commented on #12231
A follow-up. Although I set the `initContainer.securityContext.capabilities.drop: ["ALL"]`, I failed to double-check the proxy container, which apparently did *not* have that setting. That caused it to mutate in the validation phase and fail. This is a case where the PSP  validation error message misled me to think the init container was wrong.

My recommendation is that the injector configmap def

[2019-04-04 01:16] linsun opened #13042 "Trim our port numbers for the ingress gateway"
user has reported that we open up too many ports on ingress gateway.  Need to examine if each port is truly needed to expose outside of the cluster.

https://discuss.istio.io/t/why-does-istio-create-so-many-ports-on-my-aws-sg-for-elb/1646

[2019-04-04 02:11] rvennam opened #13043 "Some e2e tests can not run with kubectl 1.14"
**Describe the bug**
Some of the e2e test cases rely on a `--show-all` or `-a` flag that has been deprecated in earlier releases and removed in 1.14. This causes the test cases to fail.
[code]

https://github.com/istio/istio/blob/master/tests/util/kube_utils.go#L775

**Expected behavior**
Test case should not use `-a` flag

**Steps to reproduce the bug**
`./e2e_istio_preinstalled.sh bookinfo`

**V

[2019-04-04 02:17] #10227 closed

[2019-04-04 03:45] #12947 closed

[2019-04-04 04:02] jdamata commented on #9504
@hzxuzhonghu awesome that fix works. Using release-1.1-latest-daily removed errors like:
[code]

Just to wait for 1.1.2 to be cut now :)

[2019-04-04 04:18] morvencao opened #13045 "Implement coherent mechanism for resolving short DNS names that doesn't crash the mesh"
**Describe the bug**
This should be part of https://github.com/istio/istio/issues/11731

In multicluster installation with gateway scenario, deployed `sleep` in cluster1 and `httpbin` in cluster2, then accessing `httpbin` service will get `404` because SNI is not matched.

I have to access the complete host: `httpbin.bar.global` or add header: `host: httpbin.bar.global`.

But this introduces incon

[2019-04-04 04:47] FengLiqiong commented on #9764
When we specify weight under [HTTPRouteDestination](https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#HTTPRouteDestination) in istio virtualservice, in envoy the weight under [weightedcluster](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#route-weightedcluster-clusterweight) is configured, and this `weight` is used to choose an upstream clust

[2019-04-04 04:54] peter-fe commented on #9943
@bitva77, at least restarting (several times if needed) should give you a funktional pod. If the problem is persistend,  I would assume it's something different.
We an error like this when using named target ports in the K8s service were the port name don't start with the protocol (http_targetportname).
If looking up the sidecar logfile there should be an add service entry with the pod ip and your

[2019-04-04 05:14] FengLiqiong commented on #9764
The response set-cookie header seems weired because it produces the same cookie hash for each of subset. If we use the virtualservice and destinationrule provided by @hngo4619, for the first requests there will be 3 same set-cookie headers `user="<same-hash-code-for-example-0d773697c78c675d>"` generated.
if running `istioctl proxy-config routes` to check the envoy configuration, you can see 3 same

[2019-04-04 06:30] kramerul commented on #12122
@incfly these certificates are already [part of `gcr.io/distroless/static`](https://github.com/GoogleContainerTools/distroless/blob/a4fd5de337e31911aeee2ad5248284cebeb6a6f4/base/BUILD#L84)

[2019-04-04 07:16] arielb135 commented on #7495
Are you sure that this is working?
i've deployed rabbitMQ with the sidecar, the both pods have IP ready:
![image](https://user-images.githubusercontent.com/33662254/55536522-abf33e00-56c2-11e9-8e04-e7bb65daacb8.png)

i've made the same configuration, and i get errors that the host is not found:
![image](https://user-images.githubusercontent.com/33662254/55536565-c0373b00-56c2-11e9-8661-313b4c6f18f

[2019-04-04 07:33] markusthoemmes opened #13048 "Mixer deployment has 2 port lists in helm chart."
**Describe the bug**
As per title, the mixer's deployment definition has two separate port lists in the helm chart. If the specified option is triggered, only the second port list will be applied by kubectl.

https://github.com/istio/istio/blob/6407364027e24ed738dbeca64e82146a7424aba5/install/kubernetes/helm/istio/charts/mixer/templates/deployment.yaml#L168-L179

This only applies to the 1.0.x ser

[2019-04-04 07:33] markusthoemmes commented on #13048
I'll assemble a PR to fix it.

[2019-04-04 08:13] hd-deman commented on #7630
(Not stale)

[2019-04-04 08:14] dingxiangfei2009 opened #13051 "AccessLogFile/AccessLogPath settings are NOP"
**Describe the bug**
Since `istio` 1.1.1, access logs from `envoyproxy` have been disabled by default, by setting `admin.access_log_file` to `/dev/null`. If CNI is enabled on `istio` 1.1.1, no access logs are produced even if `global.proxy.accessLogPath=/dev/stdout` is set.

**Expected behavior**
Setting `AccessLogFile`/`AccessLogPath` should have instructed `envoyproxy` in a cluster configured wi

[2019-04-04 09:29] wutachih opened #13052 "1.1.1 policy, telemetry, and tracing are CrashLoopBackOff"
**Describe the bug**
Three pods crashed after install.

$ kubectl get pods -n istio-system

NAME                                      READY     STATUS             RESTARTS   AGE
grafana-7b46bf6b7c-zjx89                  1/1       Running            0          7m
istio-citadel-5878d994cc-whcf9            1/1       Running            0          7m
istio-egressgateway-976f94bd-tg2ws        0/1

[2019-04-04 09:43] wutachih commented on #13052
[bug.tar.gz](https://github.com/istio/istio/files/3042805/bug.tar.gz)

[2019-04-04 10:30] #9480 closed

[2019-04-04 10:46] TonyJDavies commented on #9113
@arianmotamedi - It would be great if you could provide a link to info that would help configure those `idle upstream timeouts` as it's not easy to find out where/how that's done. Many thanks.

[2019-04-04 11:08] Stono commented on #10279
You can see here on nginx, istio-proxy uses more CPU than nginx itself?
<img width="802" alt="Screenshot 2019-04-04 at 12 08 13" src="https://user-images.githubusercontent.com/1486729/55551283-5de63680-56d2-11e9-8db5-c3a128a7fb05.png">

[2019-04-04 12:54] linsun commented on #10733
#10738 is already merged, can this be closed @arcimboldo ?

[2019-04-04 13:13] arcimboldo commented on #10733
Sure, thank you

[2019-04-04 13:13] #10733 closed

[2019-04-04 13:52] arielb135 commented on #5989
So it appears mtls for the headless service is not working, even though i'm trying to add each pod as a ServiceEntry, and specifying all required ports in the destination rule (by host).

i'm still looking for an official saying that headless services and mtls is not supported

[2019-04-04 13:55] arielb135 commented on #12625
Battling with this issue aswell,
there's a suggested solution in #7495 - but the solution just doesn't work, there's no TLS communication even with a per-pod ServiceEntry configuration.
It looks like we need to abandon istio until this is fixed or there's a workaround

[2019-04-04 14:00] arianmotamedi commented on #9113
Idle upstream timeout (managed by the connection pool, not to be confused with lower level tcp keepalives) is not supported in Istio yet. It's defined per cluster in Envoy: https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/protocol.proto#envoy-api-msg-core-httpprotocoloptions:

Which would look like this:
[code]

[2019-04-04 14:03] draveness commented on #13031
Hi @ozevren , If nobody claims this, I'd like to give it a try.

[2019-04-04 14:04] HXK123 commented on #12410
Getting this:

[code]

I guess that looks blocked then.

So this issue came about when accessing a VM external to the Kubernetes cluster.  We have `Service` and `Endpoint` objects defined.  But we did not need to create any `ServiceEntry` or `VirtualService` objects in Istio yet pods were still able to ping and establish connections.

Is there an implicit rule that allows all Kubernetes resources

[2019-04-04 14:07] linsun commented on #9113
@GregHanson could you look into adding this as a configuration for our users?   This is a very recent feature from envoy, not sure if Istio proxy has that fix yet.

@TonyJDavies I would definitely recommend disable mixer or disable mixer check in your env.  Even if you are not using mixer policy, the proxy still asks mixer to see if a call is allowed thus can introduce additional 503s for you.

[2019-04-04 14:15] GregHanson commented on #9113
@arianmotamedi @TonyJDavies @linsun is this a setting you would want exposed for configuration?  Or can we just set a reasonable default value?

@mandarjog @jnativio any input on a recommended value from a performance standpoint?  Do we want it default disabled as it is currently?

[2019-04-04 14:31] linsun commented on #9113
I think setting a default is better than what we have right now which is disabled.  I am thinking the default would be under 1 min (either 15s or 30s).

As far as making it configurable, it may make sense down the road as each service may take more itme to respond but we can cross that bridge when we need it.

[2019-04-04 14:41] Stono commented on #12968
Using the last nightly build `1.1-20190404-09-16` with this fix in = no AAAA anymore, yay.

Thanks @rshriram

[2019-04-04 14:45] Stono commented on #12760
Using `pilot.env.PILOT_ENABLE_FALLTHROUGH_ROUTE=1` with the latest 1.1 nightly (`1.1-20190404-09-16`) now correctly gives 502s :-)

Thanks @howardjohn

[code]

[2019-04-04 14:48] arianmotamedi commented on #9113
I definitely think it needs to be exposed as a configuration, and default should be disabled (like it is in Envoy) for backwards compatibility. There isn't a global "default" value to use here really, it depends on the underlying system's requirements as there is a trade-off between performance and stability in this case. Lowering this value can significantly affect performance especially if mtls

[2019-04-04 14:50] nheidloff commented on #13020
Found the issue. The trick was to remove mtls from my yaml. I put it in since I think I read somewhere in the Istio doc that this is a requirement.

[2019-04-04 14:50] #13020 closed

[2019-04-04 14:53] john-a-joyce commented on #12479
This is likely the root cause of the issue causing the multicluster gate test to fail.   I will look at fork and see if it will fix the test failure on Master.

[2019-04-04 14:56] howardjohn opened #13055 "Can't access Zipkins dashboard"
Following https://istio.io/docs/tasks/telemetry/distributed-tracing/zipkin/ on Istio 1.1.1.

[code]

Zipkin pod is running

When I follow the [Access Dashboard](https://istio.io/docs/tasks/telemetry/distributed-tracing/zipkin/#accessing-the-dashboard) step, it fails.

[code]

[code]

[2019-04-04 15:10] howardjohn commented on #13051
I believe you need to set accessLogFile not accessLogPath

[2019-04-04 15:18] mingfang commented on #12545
I'm experiencing the exact same problem.

When I set host to "*" I was able to route traffic to a httpbin service.  \
Httpbin shows the Host header as  `"Host": "httpbin.192.168.2.146.nip.io:31380"`.

According to https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Host, the port is legal.

This looks like a bug in VirtualService.

[2019-04-04 15:22] jnativio commented on #9113
@GregHanson  I think @arianmotamedi has a good point. Once this configuration is exposed we can try different values to evaluate the impact and make recommendations to customers.

[2019-04-04 15:29] mingfang commented on #12545
I found a workaround here https://github.com/istio/istio/issues/11828

Hack it by setting host="*" and then use match authority
[code]

[2019-04-04 15:33] objectiser commented on #13055
I think you are probably missing this part: https://istio.io/docs/tasks/telemetry/gateways/

If this is the problem, then we need to add a link to this page from the `Accessing the dashboard` section.

[2019-04-04 15:36] howardjohn commented on #13055
Yep looks like that's the problem, think we just need to link to that page

[2019-04-04 15:42] mingfang commented on #13042
The ports other than 80/443 are meant to enable access to telemetry tools like grafana, tracing, etc, using port based routing.  I think a better solution would be to use just 80/443 and using virtual host based routing.

[2019-04-04 16:04] esnible commented on #12678
There are two theories.

@andraxylia suggests we need to wait a few seconds between applying DestRules and VirtualServices.  This should mean merely changing the _tests/e2e/tests/pilot/ingressgateway_test.go_ to increase `time.Sleep(5 * time.Second)` by a few seconds.  I could make a PR and see if it flakes with this change.  I could try bumping it to 7s.

My theory is that Envoy returns 503s in t

[2019-04-04 16:16] bitva77 commented on #9943
@peter-fe thanks.  I must be having a different issue.  Istio is listening on port 31380 but I can't connect to it at all so it's not even getting far enough to Istio

[code]
[code]

Though Istio appears to be the one refusing the connection as outside of Kubernetes, on the server, I can listen and connect on that port (using netcat for example).

Only thing useful out of the gateway logs is this:

[2019-04-04 16:29] #11415 closed

[2019-04-04 16:30] ozevren commented on #13031
ok, assigned to you.

[2019-04-04 16:55] bitva77 opened #13057 "1.1.1 Connection Refused - Fresh Install"
**Describe the bug**

Istio 1.1.1, fresh install, is not accepting connections to the HTTP port (31380)

[code]

It is listening on the port however:

[code]

I can verify it is not a server/firewall issue as netcat -l 31380 accepts connections just fine.

**Expected behavior**

I expect Istio to accept connections.

**NOTE:  Istio 1.0.6 work fine.**

Differs from https://github.com/istio/istio/is

[2019-04-04 17:02] waynz0r commented on #9504
@hzxuzhonghu, Unfortunately I can easily reproduce the problem on a fresh GKE (v1.11.8-gke.5) cluster even with the `release-1.1-latest-daily` images with the following resources:

[code]

[2019-04-04 17:02] GregHanson commented on #9113
@jnativio @arianmotamedi sounds like this isn't something we want configured for the entire mesh then so it sounds like it should be added to Istio DestinationRule which will allow configuration on a per service basis: https://github.com/istio/api/blob/master/networking/v1alpha3/destination_rule.proto#L147
Probably adding it to ConnectionPoolSettings

[2019-04-04 17:18] arianmotamedi commented on #9113
@GregHanson exactly what I was thinking. I'm actually taking a stab at it right now; trying to understand Istio's codebase better :)

[2019-04-04 17:30] #10246 closed

[2019-04-04 17:41] howardjohn commented on #12536
Fix is merged, will be in 1.1.3. If this doesnt fix the issue please reopen

[2019-04-04 17:41] #12536 closed

[2019-04-04 17:42] wp0pw opened #13058 "ServiceRoleBinding subject user: allUsers no longer working"
**Describe the bug**
When configuring authorization with ServiceRole and ServiceRoleBinding I have following binding:

[code]

which I expected to allow all users - authenticated and otherwise to post to my echo service, but I get `Origin authentication failed.` with HTTP code 401 instead.

I'm set up with authentication policy against the sample jwks:

[code]

as soon as I add the token to the re

[2019-04-04 17:48] esnible opened #13059 "istioctl version --remote reports "Error: error execing into istio-citadel-... terminated with exit code 255"""
Tested using Istio 1.0.6 on server, 1.1.1 on client.

_istioctl_ does the equivalent of `kubectl -n istio-system exec $(kubectl -n istio-system get pod --selector istio=citadel --output jsonpath='{.items[0].metadata.name}') -- /usr/local/bin/istio_ca version -o json`

The problem is that _istioctl_ 1.1.x does `-o json` but Istio 1.0.x cannot handle that option.

The output is confusing.

It is tro

[2019-04-04 17:59] esnible commented on #13059
This is not as bad a problem as it sounds because istioctl 1.0.x did not offer `--remote` flag.  This may be a duplicate of https://github.com/istio/istio/issues/13026

[2019-04-04 18:12] incfly commented on #12267
Obsolete since now it's very closed to all green. Thanks everyone for the efforts, especially @ozevren

[2019-04-04 18:12] #12267 closed

[2019-04-04 18:13] valarauca commented on #13039
I have confirmed that this also exists for `istio-1.1.0`

[2019-04-04 18:23] incfly commented on #10062
Closing this issue given the doc and release qualification test suites are both added. Sorry for all the inconvenience.

[2019-04-04 18:23] #10062 closed

[2019-04-04 18:24] linsun commented on #12211
@liggitt is there any doc that indicated the top level deployment  labels are required in the newer version we are moving to (e.g. apps/v1)?

A bit concerned with the redundant of labels below we have for product page as a golden sample:

[code]

[2019-04-04 18:38] costinm commented on #12543
As I mentioned, there are few other use cases for disabling the init container and iptables:
- CNI - it manages iptables
- user has its own iptable setup

I would rather improve consistency and make it clear what is happening - something like 'sidecarInjectorWebhook.initContainer=false'.
It would be equivalent with whaty is provided by istio_cni.enabled=true

I couldn't find the other PR disabling

[2019-04-04 18:47] Stono commented on #10724
Just to throw my two cents into this, we have 220 or so apps deployed with `app: name`.  Any change you make here would be breaking for us, and difficult to roll out in a non impacting way.

As such I'd need really both labels to be valid for a while, with `app` being deprecated

[2019-04-04 19:38] esnible opened #13064 "produce smaller istioctl"
When installing Istio using `curl -L https://git.io/getLatestIstio | ISTIO_VERSION=1.1.1 sh -` the download is 95% the _istioctl_ binary and 5% all of the Helm charts, samples, and tools.

That's big!

Experimental result:

Following https://blog.filippo.io/shrink-your-go-binaries-with-this-one-weird-trick/ I was able to reduce the size of _istioctl_.  For `master` `make istioctl` generates a 57.0

[2019-04-04 19:41] uk000 commented on #13008
Updated the bug description to add another scenario (step #5), where a ServiceEntry can disrupt traffic going to an internal service.

[2019-04-04 19:48] geeknoid commented on #13064
So is running upx actually useful? Our releases are gzipped, so we should be getting the same benefits in terms of compression.

[2019-04-04 19:49] esnible commented on #13059
Close as duplicate.

[2019-04-04 19:49] #13059 closed

[2019-04-04 19:52] ivelichkovich opened #13065 "Virtual Service Deserialization Missing Fields"
So I'm using a wrapper around the kubernetes client to programmatically access istio resources.

I have this chunk of code just requesting for virtualservice and trying to transform it into the virtualservice struct

`result = &v1alpha3.VirtualService{} err = c.client.Get(). Namespace(c.ns). Resource("virtualservices"). Name(name). VersionedParams(&options, scheme.ParameterCodec). Do(). Into(resul

[2019-04-04 19:56] jnativio commented on #9964
@ayj Should this issue be closed or you are still seeing the problem?

[2019-04-04 20:01] esnible commented on #13057
Your `istio-ingressgateway` NodePort Service has a port

[code]

This means that the Service will expose whatever is listening on port 80 on 31380 on the public IP.

Your `netstat` shows the pod is listening on 31380 itself.  Follow the _samples/bookinfo/networking/bookinfo-gateway.yaml_ sample and use port 80.  It will still be exposed on 31380 because of the NodePort.

[2019-04-04 20:09] duderino commented on #9113
If you don't need mixer policy checks, then disable it.  If you rely on that functionality you could try enabling the experimental mixer retries which were introduced with 1.1.0.   Instructions for enabling it can be found here:  https://github.com/istio/istio/issues/9992#issuecomment-466229569

[2019-04-04 20:15] caohe commented on #12211
@linsun I found that In k8s documentation:

[https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#selector](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#selector)

[2019-04-04 20:16] esnible commented on #13028
I need more information.  I have verified that the output of `istioctl authn tls-check dummy` is

[code]

This is a poor error message.  I have no pod named "dummy" and the message should have said that.

I was able to get output doing `istioctl authn tls-check productpage-v1-6df5fcc896-t2s2p` and `istioctl authn tls-check productpage-v1-6df5fcc896-t2s2p.default`.  (I am running Bookinfo).

What a

[2019-04-04 20:24] nmittler opened #13067 "Sidecar readiness doesn't handle inbound wildcard addresses"
Taken from https://github.com/istio/istio/issues/9504#issuecomment-479981385.

The readiness logic for checking application ports doesn't appear recognize wildcard addresses (`0.0.0.0`) as inbound:

[code]

It's not immediately clear if Pilot changes have introduced this issue, but the readiness logic should account for it.

[2019-04-04 20:24] nmittler commented on #9504
@waynz0r This looks like a separate bug. The logic in the probe does not look for `0.0.0.0`, but it should. It's not immediately clear if this is an existing bug or due to changes in Pilot, but we should fix it.  I've opened #13067

[2019-04-04 20:32] ayj commented on #9964
cc @therealmitchconnors who may be able to answer if the problem still exists (or not).

[2019-04-04 20:35] walkerline commented on #12960
any one can help?

[2019-04-04 20:36] pitlv2109 commented on #12919
Has this been fixed? I think it's happening again (https://github.com/istio/api/pull/885)

[2019-04-04 20:37] bitva77 commented on #13057
Right but it's not accepting connections on that port:

[code]

It's listening on it:

[code]

I've verified it's not firewall or anything else like that on the node.  Where's the "Connection refused" coming from?

Thanks!

[2019-04-04 20:39] ryan-dyer commented on #13028
[code]

[2019-04-04 20:49] ryan-dyer commented on #13028
Did some additional testing and its working now, though I tried this so many times this past week all with the same results.  Better error message would indeed be helpful.

[2019-04-04 20:59] therealmitchconnors commented on #9964
1.1 has effectively mitigated this issue by:

1. Enabling Load Shedding for telemetry by default
2. Applying a relatively tight CPU and memory limit for mixer telemetry
3. Expanding the upper level of scaling in the telemetry HPA to compensate for the reduced resources.

These mitigations do not fix the underlying issue, and under certain circumstances have a side-effect of compromising telemetry

[2019-04-04 21:02] esnible commented on #12960
To recreate your scenario I did

[code]

I then did the following and always saw V1:

[code]

I also applied _helloworld-gateway_ which is bound to the outside world.  It did not affect these internal calls.

If you are not seeing V1 consistently routed by your in-mesh client this means the sidecar of the in-mesh client isn't configured.  Verify the pod status is `2/2`.

[2019-04-04 21:06] Daniel-Houston opened #13068 "Configure Mixer adapter instance and rules to deny requests on configuration failure"
**Describe the feature request**
I have a custom authorization adapter configured which uses the authorization template.

If I accidentally deploy the mixer instance with a bad configuration, mixer will log an error, but will ignore the mixer adapter on any requests matched by the rule.

I would like a way to configure istio to deny any requests if an adapter instance or rule is configured incorre

[2019-04-04 21:08] esnible commented on #13057
The reason it is not accepting is that it isn't listening on port 80.

If the IngressGateway doesn't see any Istio configuration to get traffic to port 80 it won't listen.  This can be confusing because it is hard to tell an Ingress misconfiguration from a rule misconfiguration.

Change your Gateway so that it has `number: 80` instead of 31380.  Put a destination port matching the blah.blah servic

[2019-04-04 21:09] esnible commented on #13064
`gzip` with `-9` takes _istioctl_ down to 12.8 MB.  The `upx` is 1/3 smaller.  Perhaps this gives is a slight performance increase using `upx` for CLI downloads and Docker pulls.  I didn't compare execution time between compressed and uncompressed binaries.

[2019-04-04 21:15] jeffmendoza opened #13069 "Add Istio Version to MCP Stream Metadata in Galley"
For MPC gRPC streams to/from Galley, add a stream metadata "version" with the value from:

https://github.com/istio/istio/blob/343d2a2e8e8a0492dd6e3b9d24c88e1e39df1683/pkg/version/version.go#L38

[2019-04-04 21:15] walkerline commented on #12960
so i m sure my helloworld is 2/2
[code]

but 2 findings:
1. When I apply either destination rule or virtual service, I do not see any log being generated in the pilot log

2. For the side car log, the same i see no errors, but a lot of message like below
[code]

[2019-04-04 21:15] jeffmendoza commented on #13069
cc: @ozevren

[2019-04-04 21:48] waynz0r commented on #13067
@nmittler actually i think there should be `podIP:8080` between the listeners for each pod, the healthy envoys all have those.

I assume that for currently unknown reasons the initial envoy config from pilot doesn't always contains the proper listeners. The problems disappears, `podIP:8080` will be propagated as a listener and the envoys goes healthy after an update arrives from pilot. Pretty easy

[2019-04-04 21:51] nmittler commented on #13067
@costinm @rshriram any idea why the initial Pilot update contains an inbound listener for `0.0.0.0:port` but not `podIP:port`?

[2019-04-04 22:30] listx opened #13072 "prow: make test rerun command argument match the job name"
**Describe the feature request**
If the `prow/e2e_pilotv2_auth_sds.sh` test fails, the command to rerun it is: ` /test istio_auth_sds_e2e`. Notice how the argument `istio_auth_sds_e2e` is not `prow/e2e_pilotv2_auth_sds.sh`. Let's make these the same so that humans don't make the time-consuming mistake of trying to do `/test prow/e2e_pilotv2_auth_sds.sh`, as witnessed in https://github.com/istio/is

[2019-04-04 22:30] listx commented on #13072
/cc @utka @ostromart

[2019-04-04 22:32] bitva77 commented on #13057
I must be an idiot.

@esnible I owe you a beer if we ever meet  :)

[2019-04-04 22:32] #13057 closed

[2019-04-04 22:46] incfly opened #13074 "Health check rewrite for mTLS per deployment annotation"
**Describe the feature request**
Support annotation in deployment(pod?), `sidecar.istio.io/rewriteAppProbers: true/false`. True indicates we rewrite k8s PodSpec YAML. This will always takes higher priority over `istio-sidecar-injector` configmap `rewriteAppHTTPProbe` option (configured in Istio installation stage via helm flag).

The change should be relevatively straightforward, update the [`Shou

[2019-04-04 22:49] Batarian711 opened #13075 "logo"
Hi. I am a graphic designer. I volunteer to design a logo for open source projects. I can design it for you to use it in the readme file. What dou you say?

[2019-04-04 23:21] costinm commented on #13008
Sidecar is required to enable isolation - for backward compat we didn't enable isolation if Sidecar is not used ( since we don't know which namespace to use )

[2019-04-04 23:43] howardjohn opened #13078 "Datadog bootstrap config golden broken on release-1.1"
Example failure: https://circleci.com/gh/istio/istio/375625?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/13077/istio-unit-tests/23314

Caused by https://github.com/istio/istio/commit/d6aeaa4be18042f6da6063aff0f9806a3cdc192d being added but not being updated with https://github.com/ist

[2019-04-04 23:45] waynz0r commented on #13067
@nmittler  Actually, I believe the `0.0.0.0:8080` is there, because pilot listens on 8080 and the bare existence of that listener it is totally unrelated to this problem.

You can change the demo deployment port from 8080 to 8000 to avoid the confusion. `0.0.0.0:8080` would be still there, but `podIP:8000` also should be.

[2019-04-04 23:55] schawla8380 opened #13080 "Pilot memory consumption increased from Istio 1.0.4 to Istio 1.1.1"
**Describe the bug**
When we run 1000 pods on a GKE cluster with 1 deployment/service (replicas of 1) per pod ( 2 containers running including istio-proxy and httpbin), 16 pods of istio-pilot are spawned for 1.1.1 as compared to 6 in 1.0.4. Also, the max. memory being consumed is ~5G for on of the istio-pilot pod in 1.1.1 as compared to 3.5G in 1.0.4

**Expected behavior**
The resource utilization

[2019-04-05 00:30] #7658 closed

[2019-04-05 01:10] liggitt commented on #12211
Exactly, thanks for the reference. The defaulting of one field from another user-provided field was problematic and was removed in apps/v1

If you don't actually care about the same labels being set in the deployment metadata, you are not required to set them. The selector labels are required.

[2019-04-05 01:23] uk000 commented on #13008
The behavior was the same with or without using Sidecar resource. TBH, I don't fully understand why would a sidecar resource make a difference with this issue. Isn't the sidecar resource primarily meant to restrict/allow egress routes to specific hosts? Sidecar doesn't really affect the destinations of routes.

[2019-04-05 01:55] VeerMuchandi commented on #12348
I have this same issue What do you mean by `apply sidecar to do namespace isolation`? What exactly did you do (steps) to fix this?

[2019-04-05 02:30] #9142 closed

[2019-04-05 03:44] arief-hidayat commented on #13074
Hi,

Is anyone working on this? I am interested to start contributing here.

Thanks

[2019-04-05 05:29] incfly commented on #13074
@arief-hidayat feel free to take, assigned it to you.

You might need to plumb annotation information somehow, or refactored the `ShouldRewrite` function. Look around [sidecar.istio.io/inject](https://github.com/istio/istio/blob/8d82dbe6377f2ab8ea24a12b9ef0c0a1f7cd2f13/pilot/pkg/kube/inject/inject.go#L54) for  an example.

@geeknoid recently filed a bug to centralize about all the annotations Isti

[2019-04-05 05:29] incfly commented on #13074
/assign arief-hidayat

[2019-04-05 05:29] istio-testing commented on #13074
@incfly: GitHub didn't allow me to assign the following users: arief-hidayat.

Note that only [istio members](https://github.com/orgs/istio/people) and repo collaborators can be assigned.
For more information please see [the contributor guide](https://git.k8s.io/community/contributors/guide/#issue-assignment-in-github)

<details>

In response to [this](https://github.com/istio/istio/issues/13074#i

[2019-04-05 05:31] incfly commented on #13074
Seems like github only allows me assign to Istio org members, but that should matter :)

Thanks for volunteering your help!

[2019-04-05 06:21] jkbschmid commented on #12912
The test is now visible in  [testgrid](https://k8s-testgrid.appspot.com/istio-presubmits#e2e-bookInfoTests-trustdomain).

[2019-04-05 07:31] #9923 closed

[2019-04-05 09:06] yuchen9459 commented on #4941
@pangsq I have tried your method but it still does not work. May I ask did you change any other configurations?

[2019-04-05 09:48] arief-hidayat commented on #13074
Thanks. I'll start looking into it.

[2019-04-05 10:25] pbochynski opened #13085 "Support for http 1.0 in Istio Ingress Gateway"
**Describe the feature request**
I found that istio 1.1 supports now http 1.0 requests. When you set the environment variable for pilot `PILOT_HTTP10 = 1` then each envoy proxy gets the configuration with
`accept_http_10: true`. So it is possible to perform HTTP 1.0 request from one pod to another. But this configuration is not propagated to the envoy instance in `istio-ingressgateway` component a

[2019-04-05 11:57] jkbschmid opened #13086 "Routing allows unauthorised access to internal services"
**Describe the bug**

We tried to configure mutual TLS access to grafana from outside the cluster. But we recognised that grafana was also reachable over normal HTTP although we never configured this.

We stripped down the problem by replacing the mutual TLS configuration in the deployed Gateway with HTTP for a different port.

When sending an HTTP-request to the ingress-gateway on port 80, the re

[2019-04-05 12:36] sneko opened #13087 "Impossible to establish external connection even by following the documentation"
Hi everyone,

I migrated to Istio 1.1 a few days ago and I noticed today that one of my microservice was no longer able to reach Google APIs.

I checked it really comes from Istio by creating the same deployment without Istio injection and the microservice is able to reach Google APIs.

My previous configuration about egress was:
[code]

but since it's no longer working I checked a new time the do

[2019-04-05 12:40] esnible commented on #12642
@howardjohn Turning off these logs would be a benefit for users.  These messages are showing up in a lot of unrelated Issues because users think they reveal some problem:

https://github.com/istio/istio/issues/12960
https://github.com/istio/istio/issues/12755
https://github.com/istio/istio/issues/12720
https://github.com/istio/istio/issues/11960
https://github.com/istio/istio/issues/9113

However,

[2019-04-05 13:41] #13026 closed

[2019-04-05 14:09] esnible commented on #13065
The logic to convert the resources from Kubernetes into Protobufs that Istio uses internally is a bit tricky.  Maybe this will get you started.

_pilot/pkg/config/kube/crd/client.go_ does

[code]

... where `config` is

[code]

It then calls `ConvertObject()` to re-attach the metadata.

[2019-04-05 14:09] linsun commented on #9113
@TonyJDavies I recommend you to check out this too https://github.com/istio/istio/issues/12183#issuecomment-477044517 -- how many services do you have?   If it is lots of sidecar, implementing the sidecar config would be recommended as it has proved to be helpful for @Stono

[2019-04-05 14:31] nmittler commented on #13067
@waynz0r ok, interesting.  Not sure why pilot would be giving the sidecar an inbound listener for its discovery port, but I guess it doesn't matter for now.

In any case, it sounds like this is not a real issue ... it was just a delay in receiving the inbound ports from Pilot ... does that sound right?

[2019-04-05 14:31] #9097 closed

[2019-04-05 14:43] esnible commented on #12807
The https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/metrics/v2/stats.proto#config-metrics-v2-statsmatcher doesn't let us mix inclusions and exclusions.  Our design can be improving inclusions.

It would be straightforward to offer `sidecar.istio.io/statsInclusionRegexps` and `sidecar.istio.io/statsInclusionSuffixes` annotations.  (There seems to be no point in doing exact).

The document

[2019-04-05 14:46] howardjohn commented on #12642
I think the two issues are a bit orthogonal. We can care about not using deprecated features and hide that issue from users. AFAIK we are working on (at least some) of the features that have been deprecated, but I don't it warrants P0 priority.

Failing builds would be a step way to far I think - consider Envoy deprecates something, we have an engineer start working on a fix which takes ~1 month,

[2019-04-05 14:48] esnible commented on #12940
I wish to start putting new annotations into a well-known place in preparation for this item.  _pkg/annotations/annotation.go_ already exists.  Is it reasonable?  (May I create _pkg/annotations/constants.go_ or similar if not?)

[2019-04-05 15:02] esnible commented on #12807
@mandarjog I don't see how to support `{port}`.  Do you have any ideas?

To support `{endpoint_ip}` the code in _bootstrap_config.go_ could get the IP address, but this seems error-prone.  At the point the inclusion_list is constructed we don't yet have communication to pilot.

Would it be reasonable to skip implementing `{endpoint_ip}` and `{port}` and recommend developers do something like `side

[2019-04-05 15:16] mandarjog commented on #12807
@esnible look at the attached PR.
It already implements prefix and suffix inclusions with endpoint ip via bootstrap.

[2019-04-05 15:20] dbyron0 commented on #12183
@Stono can I ask for a bit of clarification?  Sorry if this clear to everyone else but there are enough moving parts that I'd like to make sure I get this right.  When you say you did `lifecycle preStop` does that mean that you added the preStop to all of your app containers?  Or does that go somewhere else?

[2019-04-05 15:31] #10298 closed

[2019-04-05 15:37] howardjohn opened #13090 "Test Framework Native Apps Fail with Galley"
[code]
Try to use the new framework, with native env. This is failing right now. if I set `Galley: nil` everything works fine.
Error is: `failed to configure apps: service a missing config for cluster outbound|34743||b.istio-system.svc.local. Dumping Envoy`

[2019-04-05 15:45] mmosttler commented on #12998
@esnible is the ```traffic.sidecar.istio.io/excludeInboundPorts``` an annotation only for deployments or is it available on all pod types?

I tried to exclude my couchbase namespace from istio (so no side car on couchbase pods in couchbase namespace).  Couchbase finished its startup, but now I am no longer able to access couchbase from my service running inside the istio mesh.  I am seeing errors

[2019-04-05 15:54] howardjohn opened #13091 "Test framework .Call fails due to port mismatch"
[code]

This fails with:

[code]

I think this is because we have:
[code]
in the Service.

https://github.com/istio/istio/blob/master/pkg/test/framework/components/apps/kube.go#L619-L621

[2019-04-05 15:59] geeknoid commented on #12940
No, I don't think it's the right idea to put all the known annotations in
the otherwise completely generic package designed to track any annotation.
Further, I don't think we want a centralized list, since it breaks
encapsulation of individual componenta.

If you look at how the annotations are handled in the sidecar injector, all
of those are together in one table for that specific component.

On

[2019-04-05 16:02] howardjohn commented on #13091
I think we can just remove the check, unless there is some context I am missing why we have it

[2019-04-05 16:03] geeknoid commented on #13075
Thanks, we're all set logo-wise.

[2019-04-05 16:03] #13075 closed

[2019-04-05 16:03] ozevren commented on #13052
It looks like Mixer is having problems connecting to Galley. Can you add Galley logs as well?

[2019-04-05 16:04] mmerrill3 opened #13093 "Add the ability to use the failover client for redis integration for the redis adaptor"
**Describe the feature request**
Would like the ability to use the failover client for redis within the mixer when the redis adaptor for rate limiting is enabled.  This client uses the sentinel service to discover the master IP address in an HA redis deployment.  See the stable helm chart for redis-ha where the sentinel service is running in a stateful set for redis.
This allows for integrating is

[2019-04-05 16:06] dimpavloff commented on #13016
Should the 1.1.2 tag be deleted then?

[2019-04-05 16:08] MartinLG commented on #12549
I have the exact same problem...
I think Istio should trust headers comming from known upper LB and avoidi to strip them.
I understand the security issues related to these headers, but this is a blocking point for us to adopt Istio.

[2019-04-05 16:18] ozevren opened #13095 "Failing test: TestGolden.Bootstrap-tracing_datadog"
https://prow.k8s.io/view/gcs/istio-prow/logs/istio-postsubmit/4898
The tests seems to be failing consistently. It seems to be in 1.1 branch.

/cc @duderino
This seems to be where it is introduced: https://github.com/istio/istio/pull/12687

[code]

[2019-04-05 16:22] Morriz commented on #12855
I believe this has to do with default values of null, like in https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/grafana/values.yaml

which are not allowed to be overridden with type map...

[2019-04-05 16:22] douglas-reid commented on #13055
Other option: update the `port-forward` command. That should still work, but it should be done against the tracing workload instead of the ingress gateway. This would show a way to access without having to expose the service.

Thoughts?

[2019-04-05 16:23] adinunzio84 commented on #11696
We had a related issue, and submitted a fix to the node client:
https://github.com/jaegertracing/jaeger-client-node/pull/305

[2019-04-05 16:28] Morriz opened #13096 "wrong default values for maps leading to helm errors (non-table value of: <nil>)"
**Describe the bug**
empty values for map in yaml do not allow override later on

**Expected behavior**
new values for map in yaml to be accepted

**Steps to reproduce the bug**
provide annotations for `grafana.ingress.annotations`

**Version**
istio: 1.1.1
kubectl: v1.10.11

**Installation**
after succesful install of helm-init

**Environment**
osx

[2019-04-05 16:38] douglas-reid commented on #13095
It was passing the unit tests in presubmit... Did it get merged past other changes?

[2019-04-05 16:40] douglas-reid commented on #13095
@cgilmour can you take a look at fixing the golden file?

[2019-04-05 16:43] esnible commented on #12940
@geeknoid I'm thinking about https://github.com/istio/istio.io/issues/3191 .  I just created a PR, https://github.com/istio/istio/pull/13092 , with two brand-new annotations at the request of @mandarjog .  What do I need to do to get these annotations documented on istio.io?

My dream is that istio.io will have a single page with all of the annotations so that if a user sees an unrecognized annota

[2019-04-05 16:58] cgilmour commented on #13095
Already opened #13082 shortly after this was reported in #13078.
It fails to merge automatically because codecov.
codecov is checking the PR coverage vs head of release-1.1, which got into a bad state.

It got into that state because my earlier PR got slightly stale, and newer changes to protos had been applied since it was branched, which affects the goldenfiles.

[2019-04-05 16:58] howardjohn commented on #13095
Dupe of https://github.com/istio/istio/issues/13078

[2019-04-05 16:58] #13095 closed

[2019-04-05 17:06] howardjohn commented on #13078
Change is merged, if you see this issue please rebase

[2019-04-05 17:06] #13078 closed

[2019-04-05 17:18] jon-whit opened #13098 "Configuring Open Policy Agent with Mixer"
I'm trying to get the Open Policy Agent adapter working in Istio 1.1. I've installed Istio into a Minikube cluster using Helm and the default helm template values.

I've setup the OPA adapter operator configurations as [described here](https://istio.io/docs/reference/config/policy-and-telemetry/adapters/opa/). I noticed in the logs though that the handler is not being recognized:

![image](https:/

[2019-04-05 17:45] dkrieger commented on #4488
does this not warrant a bump to a new networking version? I was confused to see errors when trying to use this feature w/ Istio 1.0.6

[2019-04-05 17:55] ozevren commented on #12912
@wattli, @liminw I assume this falls in your area. Can you comment on where this test should land? If this needs to be a required presubmit gate, please follow up with the TOC.

[2019-04-05 18:15] douglas-reid commented on #13098
@jon-whit can you try using the updated method for specifying a handler?

[code]
?

[2019-04-05 18:20] kyessenov commented on #13098
It should be `opa-handler.opa` if you use kind `opa`.  You might also need to change instance to be of kind `authorization`, but let's see if you can just change `opa-handler` to `opa-handler.opa` in the rule.

[2019-04-05 18:31] #7752 closed

[2019-04-05 18:52] howardjohn opened #13102 "Helm Repo index.yaml wrong for 1.1.2"
`wget https://storage.googleapis.com/istio-release/releases/1.1.2/charts/istio-1.1.2.tgz` works as expected

[code]
Fails

curl `curl https://storage.googleapis.com/istio-release/releases/1.1.2/charts/index.yaml` shows the manifest lists 1.1.0 as the version so it tries to download a version that doesn't exist

[2019-04-05 18:55] jon-whit commented on #13098
@kyessenov worked like a charm. Simply overlooked that issue. Thanks for the guidance.

[2019-04-05 18:55] #13098 closed

[2019-04-05 19:06] esnible commented on #13087
I tried to recreate your situation using Istio 1.1.1.  Before applying any Istio rules I did `curl -v https://www.googleapis.com` and got a "curl: (35) Unknown SSL protocol error".

I then applied this rule:

[code]

After application, the same _curl_ gave a 404 as expected.

[2019-04-05 19:31] #9224 closed

[2019-04-05 19:32] waynz0r commented on #13067
@nmittler every envoy should be healthy as soon as it gets the initial config from pilot, but for currently unknown reason sometimes some of them gets wrong initial config, I would consider it as a bug.

If in same cases there would be a several seconds delay in getting – the otherwise good – initial config, that could be probably acceptable, but that is not the case here.

I think this is not acc

[2019-04-05 19:34] ivelichkovich commented on #13065
This is what my virtual service class looks like

	metav1.TypeMeta   `json:",inline"`
	metav1.ObjectMeta `json:"metadata,omitempty"`

	Spec VirtualServiceSpec `json:"spec"`
}

func (vs *VirtualService) GetSpecMessage() proto.Message {
	return &vs.Spec.VirtualService
}

// +k8s:deepcopy-gen:interfaces=k8s.io/apimachinery/pkg/runtime.Object

// VirtualServiceList is a list of VirtualService resource

[2019-04-05 20:05] utka commented on #13102
Updated.

[2019-04-05 20:05] #13102 closed

[2019-04-05 20:05] nmittler commented on #13067
@waynz0r ok, this sounds like more of an issue with Pilot.  Mind raising a separate bug and assigning to @rshriram and @costinm?

[2019-04-05 20:05] nmittler commented on #13067
I'm going to close this out as WAI

[2019-04-05 20:05] #13067 closed

[2019-04-05 20:08] nmittler commented on #12820
@ozevren why did you close this? https://github.com/istio/istio/pull/12890 hasn't been merged yet

[2019-04-05 20:13] ozevren commented on #12820
I closed because the test itself is not flaky anymore. If you want to use this to track #12890, we can reopen.

[2019-04-05 20:14] joberdick commented on #13067
@nmittler, I have to agree with @waynz0r. I am seeing the same issue and it can take minutes for istio-proxy to become ready. I dont think its ok either...

[2019-04-05 20:31] nmittler commented on #12820
Interesting ... ok, thanks @ozevren

[2019-04-05 20:33] nmittler commented on #13067
@joberdick understood, I've closed this because that's a separate issue ... go ahead and file a separate bug.

[2019-04-05 20:39] nmittler commented on #12776
After some rounds of discussion, we've decided not to do this at this time.

Pilot's internal data structures are continuing to evolve. Once we have a better understanding of the "optimal" Pilot data model, we can switch the Galley API over to something more accommodating.

[2019-04-05 20:39] #12776 closed

[2019-04-05 20:45] rshriram commented on #13067
There are no wildcard addresses in the inbound path. Pilot sets up inbound listeners only for the pod IP and nothing else. So, I think this is a bug with the  readiness logic for checking application ports - Its probably picking up wildcard outbound listeners as well.

[2019-04-05 20:51] ozevren opened #13105 "Make circleci-integration-kubernetes gate required"
The test has been running stable for more than a week. TOC approved making this a required gate in today's meeting.

We should make circleci-integration-kubernetes gate required.

https://testgrid.k8s.io/istio-presubmits#circleci-integration-kubernetes

[2019-04-05 20:56] waynz0r commented on #13067
@rshriram the listener for an unhealthy envoy:

[code]

after it gets healthy (triggered by another deployment):

[code]

so the only difference is that in proper config there is these two `"10.24.0.45:8000","10.24.0.45:15020"` listeners, so as i understand it, this is not a readiness logic issue but rather a wrong update from pilot.

[2019-04-05 20:57] utka commented on #13105
Done for master

[2019-04-05 20:57] #13105 closed

[2019-04-05 21:17] kyessenov commented on #13068
This is related to fail-close vs fail-open for policy checks.
There are a variety of "soft errors" that are currently being skipped over by mixer:
- referential integrity
- evaluation errors in match conditions
- evaluation errors in templates

[2019-04-05 21:18] waynz0r opened #13106 "Sidecar envoys gets wrong initial config"
**Describe the bug**

Sometimes it takes a long time for injected sidecar envoy proxies to be healthy, because the initial config from Pilot is not contains the necessary listeners with the pod IP

[code]

**Expected behavior**

The initial envoy config should contain `podIP:8000` and goes healthy right after it gets the inital config from Pilot

**Steps to reproduce the bug**

Fresh GKE cluster w

[2019-04-05 21:20] prsauer opened #13107 "Random TCP Resets"
**Describe the bug**
We've been seeing random TCP connection resets under low load conditions.

We were seeing some very strange behavior on some connections and traced it back to a strange looking TCP handshake causing a RST.

<img width="893" alt="Screen Shot 2019-04-05 at 5 16 32 PM" src="https://user-images.githubusercontent.com/15525519/55656903-a121d180-57c6-11e9-90ec-142eca2784bf.png">

Sho

[2019-04-05 21:20] waynz0r commented on #13067
I've opened #13106 to track this problem.

[2019-04-05 22:02] cgkades commented on #12121
Is this fixed? I'm having the same/similar issue in 1.1.1

root@dummy-69f5c66886-rhbkw:/# curl https://kubernetes.default.svc.cluster.local
curl: (35) Unknown SSL protocol error in connection to kubernetes.default.svc.cluster.local:443
root@dummy-69f5c66886-rhbkw:/# curl https://kubernetes
curl: (35) Unknown SSL protocol error in connection to kubernetes:443

[2019-04-05 22:16] #12820 closed

[2019-04-05 22:48] peterj commented on #10721
I ran into the same issue. The problem in my case was that I didn't update the `istioctl` binary.

[2019-04-06 05:33] tozastation opened #13111 "Azure kubernetes service has 12GB memory , but Istio pilot pod can't run cause by insufficient memory."
**Describe the bug**
Azure kubernetes service has 12GB memory , but Istio pilot pod can't run cause by insufficient memory.

**Expected behavior**
[code]

**Steps to reproduce the bug**

**Version**
k8s: 1.12.6
istio: 1.1.2

**Installation**
- `kubectl apply -f install/kubernetes/helm/istio-init/files/`
- `kubectl apply -f install/kubernetes/istio-demo.yaml`

**Environment**

**Cluster state**
- [

[2019-04-06 11:10] #8579 closed

[2019-04-06 15:23] Morriz opened #13113 "custom gateway not working: istio-autogenerated-k8s-ingress seems hardcoded"
**Describe the bug**
It seems custom gateways do not work when going through the [ingress-certmgr tutorial](https://istio.io/docs/examples/advanced-gateways/ingress-certmgr/).

Only the gateway that I start with is honored, and it has the name `istio-autogenerated-k8s-ingress` (from helm install). If I copy that gw, and only modify that name, and replace the gateway for the one with the name mod,

[2019-04-06 19:10] #6391 closed

[2019-04-06 22:10] #8275 closed

[2019-04-06 23:10] #8277 closed

[2019-04-06 23:17] esnible opened #13116 "Mocking for istioctl's client Kubernetes library"
Many of the _istioctl_ subcommands lack tests.  This makes it hard to accept PRs.  It also makes it hard even with a correct PR, because adding a line or two can drop code coverage from miserable to unacceptable.

e.g. https://circleci.com/gh/istio/istio/376659?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

This is blocking https://github.com/istio/istio/pull/1

[2019-04-07 00:10] #8278 closed

[2019-04-07 03:31] draveness commented on #13031
I looked around at the test files in the integration folder and found that each test called framework.NewContext before running the actual tests. The `NewContext` finally called the `newTextContext' function.

[code]

Is it appropriate to acquire the lock in this and release is in `testContext.Done`:

[code]

[2019-04-07 05:10] phanama commented on #12801
Also happened to me, but only on GPRC/HTTP2 protocols

[2019-04-07 08:29] #10359 closed

[2019-04-07 09:53] wutachih commented on #13052
I will repro it later. My 1.1.1 pods were changed to 1.0.6 for stability.

[2019-04-07 10:14] robertpanzer commented on #12873
Stopping work on this.
Anybody else with enough free time may feel free to work on this (or close this issue if not considered to be fixed).

[2019-04-07 11:22] arief-hidayat commented on #13074
@incfly  I have raised PR. Should you be included as reviewer?

Note that I am not able to run the whole tests in my mac.
(might be related with notes in https://github.com/istio/istio/wiki/Dev-Guide#running-tests)
So, I just run
[code]
Please feel free to give any suggestion. thanks

[2019-04-07 13:09] Frozen-Shadow opened #13121 "istio 1.0.6 virtual service can't match uri query section with regex"
**Describe the bug**
I want to control the traffic by [query parameters](https://en.wikipedia.org/wiki/Uniform_Resource_Identifier#Examples). I have an URI like this `http://foo.bar/path?param=something`. My yaml file

[code]
Through the [HTTPMatchRequest doc](https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#HTTPMatchRequest), I had tried `param=something`, `.*something.

[2019-04-07 13:18] ardhiee opened #13122 "Simple denials - Bookinfo rules not work"
**Describe the bug**
The star ratings in the sample http://myhostname:31380/productpage still showing the v3 reviews (3 red start), although i already apply the **kubectl apply -f samples/bookinfo/policy/mixer-rule-deny-label.yaml**

**Expected behavior**
The red star is not showing

**Steps to reproduce the bug**
Uninstall bookinfo sample applications

**Version**
istio 1.1.0
k8s 1.12.5

**Instal

[2019-04-07 14:04] wutachih commented on #13052
I don't see the similar issues with 1.1.2 pods.

[2019-04-07 14:19] adamglt commented on #12551
Were there any ideas/decisions?
Can't find the meeting video on youtube, not uploaded yet I guess.

[2019-04-07 14:23] sneko commented on #13087
Thanks @esnible for testing :) . But as I mentioned, after applying this ServiceEntry I'm indeed able to use the `curl` command from my Node.js pod. But the official Google APIs library that is run inside my JavaScript is not able to do is job while having the Envoy sidecar.

I don't understand why I'm having this kind of error (`ECONNRESET`) since I'm allowed all communcation with `*.googleapis.c

[2019-04-07 17:29] #10050 closed

[2019-04-07 17:34] robinbryce commented on #13113
The istio-autogenerated-k8s-ingress gateway is special. Its name is significant to the implementation of Pilot and Galley (At least up to Istio 1.1.0)

TL;DR By deleting this gateway and then 'restoring' it with a different name, you are actually disabling istio's support for traditional kubernetes Ingress resources.

istio-autogenerated-k8s-ingress is created as a consequence of --set global.k8sI

[2019-04-07 17:36] incfly commented on #13074
Yes., please send it out to me for review.

Tests under `pilot/pkg/kube/inject` is good enough. Just ensure you add more input files and tests for this feature.  Note we have two different injection mechanism, `https://github.com/istio/istio/tree/master/pilot/pkg/kube/inject/testdata`. webhook and kubeinject, each of them has their own test cases.

[2019-04-07 19:35] nicktrav opened #13125 "TLS handshakes from istio-nodeagent to citadel fail when using custom certificates"
**Describe the bug**

TLS handshakes from istio-nodeagent to citadel fail when using custom certificates.

**Expected behavior**

Installing Istio with `security.selfSigned=false` and SDS enabled works.

**Steps to reproduce the bug**

Using the config from the [SDS example](https://raw.githubusercontent.com/istio/istio/release-1.1/install/kubernetes/helm/istio/values-istio-sds-auth.yaml):

[code]

[2019-04-07 19:57] lei-tang opened #13126 "[test-framework] Support helm values containing spaces"
**Describe the feature request**
For a helm template command, e.g., "helm template --set key1=value1 --set key2=value2", the existing integration test framework assumes the values do not contain spaces and splits the command argument using the space character (https://github.com/istio/istio/blob/master/pkg/test/shell/shell.go#L30) before executing the helm command.
Thus, the existing implementatio

[2019-04-07 20:00] lei-tang commented on #13126
https://github.com/istio/istio/pull/13127

[2019-04-07 22:36] arief-hidayat commented on #13074
I have added you as reviewers. Please let me know if I missed out something.
Thanks

[2019-04-08 01:22] pengweiqhca commented on #10750
Don't have any plans?

[2019-04-08 02:00] clyang82 commented on #12348
I met this problem in my scalability environment. I have 4000+ pods with 1000+ services which are not designed to be managed by Istio. but you know that the pilot will store the endpoint/svc so that this issue occurs. if you have the same case with me, you can refer to https://istio.io/docs/reference/config/networking/v1alpha3/sidecar/ to do namespace isolation.

[2019-04-08 05:22] wanghh2000 opened #13129 "Istio IPv6 support"
**Describe the feature request**
Istio IPv6 support

**Describe alternatives you've considered**
Istio cannot work on IPv6

**Additional context**
Build a kubernetes cluster work on IPv6 and install istio 1.1.1.
After deploy sample bookinfo, update bookinfo code to listening on IPv6 address.
Still found istio does not work.
Envoy support IPv6 by the following ticket.
https://github.com/envoyproxy/

[2019-04-08 06:45] w564791 opened #13130 "Failed to update lock: Operation cannot be fulfilled on configmaps "istio-ingress-controller-leader-istio""
**Describe the bug**
[code]
In the case of multiple polit, the "holderIdentity" field cannot distinguish between identities,How does the multi "polit" distinguish the identity of the resource lock?
{{ Succinctly describe the bug }}

**Expected behavior**
{{ What did you expect to happen? }}
[code]
**Steps to reproduce the bug**
{{ Minimal steps to reproduce the behavior }}
[code]
**Version**
{{ Wh

[2019-04-08 07:30] codependent commented on #12948
@esnible any idea about what could be wrong? I have no clue how to go on...

[2019-04-08 07:32] hobbytp commented on #10858
I met the same issue in istio 1.1.0, any update for this issue?

[2019-04-08 07:44] hobbytp commented on #10858
$ istioctl proxy-status
Error: error execing into eric-mesh-controller-5b45854df6-fckmv/istio-system discovery container: command terminated with exit code 126

---pilot discovery log
2019-04-08T07:41:49.381821Z     info    ads     LDS: PUSH for node:istio-egressgateway-677f6765cd-tjrck.istio-system addr:"192.168.88.152:37378" listeners:0 106
2019-04-08T07:41:50.641579Z     info    ads     ADS: "1

[2019-04-08 07:55] sanju2312 commented on #13129
Can you share what is the issue you are facing when using istio 1.1.1 with IPv6? Please share relevant log.

[2019-04-08 08:11] codependent commented on #12948
I fixed it manually editing the securityContext of the istio-init container and setting `privileged: true`. Is there any way to automate it?

Notice I use istioctl kube-inject to add the istio container into existing OpenShift DeploymentConfigs

[2019-04-08 08:23] sumeetoc opened #13132 "EndUser Authentication failure in private GKE"
**Describe the bug**
I've a demo application with end user authentication and RBAC enabled which works fine in Istio enabled public GKE cluster, however, the same in Private GKE cluster- the end user authentication is not working, Istio is not validating the tokens, all of the requests which comes to the ingress-gateway is send to the destination directly from the defined Gateway and VirtualServic

[2019-04-08 08:28] hobbytp commented on #12966
Hi, I have a question, how to support multiple istio in one k8s cluster? according to these kind of admission controller webhooks are not namespace related. It is possible separate them for different istio instances in same k8s cluster? e.g. multi-tenances.

[2019-04-08 08:52] wanghh2000 commented on #13129
The issue is that I deploy bookinfo in k8s cluster(use IPv6) installed istio 1.1.1 and cannot access bookinfo product page  by use command curl.
Success to access product page by curl when I deploy the same bookinfo without enable istio 1.1.1.
Here are my test steps (enable istio):
1) Namespace istio-app
[root@xxx /]# kubectl get ns -n istio-app --show-labels
NAME           STATUS   AGE     LABELS

[2019-04-08 08:59] wanghh2000 commented on #13129
@sanju2312  Which pod log do you want to check? thanks.

[2019-04-08 09:03] hobbytp commented on #12755
Is it similar with the issue: https://github.com/istio/istio/issues/12308? I also meet the similar issue when I use istio 1.1.0, I meet the issue in both minikube and real cluster. In my deployment, I don't install galley, is it related?

[2019-04-08 09:13] dotw opened #13133 "istio grafana issue "Invalid dimensions for plot, width = 422, height = 0""
**Describe the bug**
grafana panel can be shared using iframe. But istio customized grafan (istio 1.1.2) has one issue when using iframe. the panel reports "Invalid dimensions for plot, width = 422, height = 0"

Please notice, istio 1.0.5 has no similar bugs.

**Expected behavior**
istio 1.1.2 should work.

**Steps to reproduce the bug**
1. go to grafana
2. go to istio service dashboard
3. choose

[2019-04-08 09:18] dotw commented on #13122
Did you --set global.disablePolicyChecks=false
see more details https://istio.io/docs/tasks/policy-enforcement/enabling-policy/

[2019-04-08 10:05] themanifold commented on #7418
@mmosttler
Yes, I did the `http-` and `https-` prefix on all ports.
I don't think I'm at liberty to show you the YAML I use, but you can get all the information on the prots here: https://docs.couchbase.com/server/6.0/install/install-ports.html (or whichever version of couchbase you're using).

We do not expose the couchbase UI console automatically (only through `kubectl port-forward`, but I don'

[2019-04-08 10:19] ibm-jason commented on #12777
@utka, @linsun

Now that #12762 is merged, I've pull down `master` and took a look at Chart.yaml:

[code]
At this point, the `Chart.yml` file still shows 1.1.0. Should this be 1.1.1 at this point and if so, should we submit a PR to update it?  If 1.1.0 is correct, then I think we can close this issue now.

[2019-04-08 10:20] ardhiee commented on #13122
Yes @dotw . I already set the policy enforcement

`
[root@node1 ~]# kubectl -n istio-system get cm istio -o jsonpath="{@.data.mesh}" | grep disablePolicyChecks
disablePolicyChecks: false
`

[2019-04-08 11:30] denniseffing commented on #12039
The Helm chart provides the key `grafana.contextPath` to configure the context path of Grafana. The documentation says that it defaults to `/grafana`. However, this doesn't seem to be working.

I checked the Grafana Helm chart for the context path configuration and it turns out that the template doesn't even use the configured value.

As a workaround you can configure a virtual service and match U

[2019-04-08 11:33] cjongseok commented on #6324
It seems sidecar container support in k8s is under development here (https://github.com/kubernetes/enhancements/issues/753). I hope it would be merged into the next k8s release and resolve this issue.

[2019-04-08 11:56] Morriz commented on #13113
thanks a lot! that explains it...I lost many hours over this. I tried figuring out why sometimes it favored my old ingress resources over a virtualservice.

I think this should be covered very well in the docs!

[2019-04-08 12:01] Morriz commented on #13113
But that still does not explain why my virtualservices don't get picked up....I tried exposing the telemetry services according to the manual, but they did not get picked up

[2019-04-08 12:01] Morriz commented on #13113
no other gateway other than the `istio-autogenerated-k8s-ingress` has worked so far

[2019-04-08 12:06] hpohl commented on #12801
Here is a gist of a slimmed down setup triggering this issue: https://gist.github.com/hpohl/85a2195ff798845ae38821446136c9b9

One of the services works while the other one just returns 404s. Which one is working and which one not seems to be picked by random.

[2019-04-08 12:09] hzxuzhonghu commented on #10858
I think i find the 5min periodically  disconnect come from,
 this https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/http_connection_manager/v2/http_connection_manager.proto.html  `stream_idle_timeout`

[2019-04-08 13:08] linsun commented on #12039
have you checked out this - https://istio.io/docs/tasks/telemetry/gateways/

I think the grafana.contextPath is no longer supported and we need to remove it.

@douglas-reid agreed?

[2019-04-08 13:09] linsun commented on #12777
Not for master, master should be updated later to 1.2.

[2019-04-08 13:10] joberdick commented on #13106
Same issue here with EKS and Istio 1.1.2.

[2019-04-08 13:12] linsun commented on #12777
@utka @ibm-jason i just downloaded 1.1.2, and I saw a few chart.yaml that I opened still have version 1.1.0.

[2019-04-08 13:13] ibm-jason commented on #12295
@utka, @linsun - BUMPing this issue once again ☝️

[2019-04-08 13:30] esnible commented on #13087
A great deal of logic is involved when pods communicate on port 443.  The application manages HTTP/TLS.  Envoy must peer into the encrypted traffic a little bit using SNI and make sure the traffic is passed unmodified to the correct destination.  This is tricky because there might be multiple destinations, and if any destination on port 443 doesn't have SNI in it's Istio rule it might capture some

[2019-04-08 14:10] rdkr opened #13138 "Configurable control plane mTLS version and cipher settings"
**Describe the feature request**
Currently it looks like there are no settings applied or configurable for Envoy's TLS min version / max version / cipher suites for control plane mTLS. For example, Pilot discovery on port 15011 with mTLS enabled:

[code]

For security and compliance I would like to restrict what versions of TLS are used throughout Istio.

**Describe alternatives you've considered*

[2019-04-08 14:12] esnible commented on #13133
I have tagged this `area/user experience` but none of us have experience with Grafana as far as I know.  @mandarjog @douglas-reid Can we also tag this `area/policies and telemetry`?  And who is the owner of Grafana dashboard stuff?

[2019-04-08 14:19] howardjohn commented on #12801
@hpohl I think this is the same issue as https://github.com/istio/istio/issues/13014

[2019-04-08 14:23] ericvn opened #13139 "Extend istioctl tab completion to support zsh"
Issue #12607 was create to enable `istioctl` tab completion. The main focus for that issue is for the *bash* shell. This issue is extending that support for users of the *Z* shell.

This support requires a few items:
  - extend `istioctl` to actually generate the *zsh* completion file
     This will use the _corba_ framework similar to the way the *bash* completion file is done.
     The problem i

[2019-04-08 14:31] ericvn commented on #13139
A PR, https://github.com/istio/istio/pull/13140, for the first bullet.

[2019-04-08 14:50] zachidan opened #13142 "Reduce Latency spikes due to batch reports to istio-telemetry"
**Describe the bug**
From my performance benchmark [results](https://github.com/istio/istio/files/3054827/IKS-Latency.pdf) - when `istio-telemetry` is enabled, there are latency spikes that dramatically increase the 90th percentile and 99th percentile.

For example:
| istio-telemetry | p=90 | p=99 |
| :------------- | :---: | :---: |
| enabled | 7.3 msec | 14.1 msec |
| disabled | 2.4 msec | 5.0

[2019-04-08 14:51] esnible commented on #12948
The `privileged: true` setting should work automatically.

I am using Istio 1.1.1.  I did `kubectl get cm -n istio-system istio-sidecar-injector -o jsonpath='{.data.config}'` and I see that my injector is configured to add

[code]

and

[code]

to the init container.  Do you see those settings on your configuration?  Do you have a fresh install or an upgraded.  If an upgrade, from which version?

[2019-04-08 14:58] esnible commented on #8349
Where can we find a guide to switching to the test framework.  I want to greatly increase the tests and code coverage for _istioctl_.

[2019-04-08 15:03] ivelichkovich commented on #8772
Is there an ETA on this?

[2019-04-08 15:04] esnible opened #13143 ""istioctl validate" should report success, not only failures"
It is confusing that there is no "your supplied input is valid" message.

cc @linsun

[2019-04-08 15:06] frankbu commented on #12720
Fixed by #12804

[2019-04-08 15:06] #12720 closed

[2019-04-08 15:08] codependent opened #13144 "VirtualService timeout parameter doesn't work in Istio 1.1.2"
**Describe the bug**
I have installed Istio 1.1.2 on OpenShift 3.11.0. Things like balanced traffic work fine in VirtualServices. However timeouts are not enforced.

At first I was trying with my own application, and seeing it didn't work I tested with the BookInfo sample. I can confirm it doesn't work in these case either.

I have followed this task: https://istio.io/docs/tasks/traffic-management

[2019-04-08 15:22] codependent commented on #12948
I don't have the `privileged: true` bit in the configmap:
[code]

I installed Istio following the OpenShift setup (https://istio.io/docs/setup/kubernetes/prepare/platform-setup/openshift/) and the quickstart evaluation install: https://istio.io/docs/setup/kubernetes/install/kubernetes/

I guess that I can manually edit the cm and add the privileged flag. Anyway I'm curious why it wasn't added in t

[2019-04-08 15:27] geeknoid commented on #12940
I've put in the infrastructure needed to have all annotation usage be
documented directly in the code. Every use of an annotation ends up calling
pkg/annotations/Register() which gives the name of the annotation and a
description. The set of annotations consumed by each command is shown in
the command's page (so the 'pilot' page or the 'galley' page). There is a
similar mechanism in place now to t

[2019-04-08 15:40] Daniel-Houston commented on #13068
@kyessenov Yes, the two that I have seen are evaluation errors in match conditions and in templates. It would be nice to be able to 'fail-close' for those errors

[2019-04-08 16:18] pnovotnak commented on #7136
Is there an easy way to stop a running envoy instance from pulling new configs? The `netstat` + `grep` solution is good except that eventually a new config comes in and crashes the party.

[2019-04-08 17:12] hpohl commented on #12801
Yes, can confirm it's that issue. So maybe this one is a duplicate (or the other one).

[2019-04-08 17:16] utka commented on #12777
I only fixed gs://istio-release/releases/1.1.2/
What is location from where you download?

[2019-04-08 17:17] utka commented on #12295
I think for master it should be 1.2 or one version up compare to current release

[2019-04-08 18:32] sbezverk commented on #13129
@wanghh2000 Unfortunately 1.1 is still missing a couple of important changes, one of this has already been merged into master and second is still in need to merge state. Once it is done, ipv6 will work. I have istiov6 with knative working perfectly.

[2019-04-08 18:47] valarauca commented on #13039
I have confirmed that this is still an issue with `istio-1.1.2`

[2019-04-08 18:49] mandarjog commented on #13142
@zachidan The batch size  [100](https://github.com/istio/proxy/blob/master/include/istio/mixerclient/options.h#L59)

You can make it configurable and see the effect. It is a tradeoff between tail latency and CPU usage on mixer server.

[2019-04-08 18:57] sbezverk opened #13150 "Istio rbac breaks websocket"
**Describe the bug**
When istio rbac is on websocket connection is denied with:
[code]

**Expected behavior**
websocket connection to succeed. As soon as rbac mode is set to off and pilot gets restarted, websocket connection gets established.

**Steps to reproduce the bug**
deploy latest master and knative serving, autoscaler and activator communicates over websockets.

**Version**
{{ What version

[2019-04-08 19:00] yangminzhu commented on #13150
@sbezverk Just to let you know, the RBAC is deny by default so if you enabled it but doesn't provide any RBAC policies, the traffic will be denied by default for any protocol, not related to websocket.

[2019-04-08 19:13] michaelkipper commented on #8772
@ivelichkovich: In the meantime, you can use https://github.com/michaelkipper/istio-client-go

[2019-04-08 19:16] Kyrremann commented on #8772
@michaelkipper have you tried to convert your repo to go modules? Aka, does it work with go modules repos?

Cause I've been struggling today with not be able to "go get" the golang.org/x/sync module.

[2019-04-08 19:33] liamawhite commented on #7136
Envoys should stop pulling config when they received SIGTERM. This period of time is configurable via the [`TERMINATION_DRAIN_DURATION_SECONDS`](https://github.com/istio/istio/blob/master/pkg/features/pilot/pilot.go#L95) env var in Pilot.

[2019-04-08 20:19] JimmyCYJ commented on #12700
@iamjem Could you verify if your secret httpbin-credential is created correctly, and check envoy logs (-c istio-proxy) to see if Envoy has received the key/cert successfully?

[2019-04-08 20:21] pitlv2109 opened #13152 "Create collab-gce-identity branch"
Create collab-gce-identity branch for work related to GCE workload identity provisioning.

[2019-04-08 20:21] utka commented on #13152
Done

[2019-04-08 20:21] #13152 closed

[2019-04-08 20:23] PaulMilla opened #13153 "Sample bookinfo product page doesn't load Glyphicons fonts"
**Describe the bug**

The latest docker image (1.11.0) for the sample bookinfo product page has switched (#12646) to using a packaged bootstrap.min.css introduced in #12218 which defines the Glyphicons Halflings font as follows:

[code]

The problem with this is that the docker image doesn't contain the referenced font files nor are they checked in to the repo and thus the star & user fonts appear

[2019-04-08 21:04] kyessenov opened #13155 "istio.io/istio/tests/integration/mixer TestCheck_Deny is failing"
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/13151/istio-integ-local-tests/8234

appears to be failing for unrelated change

/cc @nmittler

[2019-04-08 21:06] andraxylia opened #13156 "Envoy deprecated field tcp_proxy.proto:deprecated_v1"
This field will be deprecated, we need to remove it
envoy.deprecated_features.tcp_proxy.proto:deprecated_v1"

https://github.com/envoyproxy/envoy/pull/6509/files

cc @duderino

[2019-04-08 21:46] MarcosDY opened #13158 "CA rotation in node agent when using sds"
**Describe the bug**
When a new CA certificate is issued, it's updated into the cache, but not propagated to proxies, which causes mTLS connections to fail when the CA certs in possession by the the proxies expire. This issue affects the current external CA providers (vault, google), as well as Spire, which is being worked on currently.
This issue is probably related to this `TODO`
https://github.

[2019-04-08 21:48] myidpt commented on #11787
This feature makes sense to me. Two questions:
1. Do we plan to add the sidecars to webhooks as well?
2. Have we started working on this? Is 1.2 the target for this feature?

[2019-04-08 22:19] nrjpoddar commented on #8772
@michaelkipper thanks for patching `istio-client-go` with the correct JSON Marshalers/Unmarshalers. Feel free to provide a PR into `aspenmesh/istio-client-go` so that you don't have to maintain a fork if you wish, else we are working on addressing the marshaling issue.

[2019-04-08 22:32] silentdai commented on #13156
I searched the code base as well. The only struct in deprecated_v1 is TCPRoute. There was reference to "TCPRoute" but that "TCPRoute" is actually in other namespace. I think istio is good on the this deprecation.

[2019-04-08 23:21] diemtvu commented on #13029
It seems that the test fail at tear down step. I don't know exactly how it was handled. Do you have any hint?

[2019-04-08 23:37] ibm-jason commented on #12777
@utka I looked at the Chart.yaml file after `git pull` on the `master` branch.  Shouldn't the Chart.yaml file in the codebase be updated as well? How has gs://istio-release/releases/1.1.2/ been updated? Are the release artifacts the result of a daily build of some kind?

[2019-04-08 23:40] davidebbo commented on #12903
@howardjohn thanks for getting the fix in. Which release to you expect it to go in? From what I can tell, it is not in `1.1.2`.

[2019-04-08 23:41] howardjohn commented on #12903
It will be in 1.1.3, should be around 4/15. It is behind a feature flag currently though as we haven't done enough testing yet

[2019-04-09 00:12] sdake opened #13162 "Gateways doesn't work with GCP + Kubernetes 1.13.2"
**Describe the bug**
The gateways implementation doesn't work when deployed on GCP + Kubernetes 1.13.2.

**Expected behavior**
Gateways implementation should work.

**Steps to reproduce the bug**
Deploy Kubernetes via stackpoint.io GCP -> leads to k8s 1.13.2 with screenshots in 2nd comment
Deploy Kubernetes via stackpoint.io GKE -> leads to k8s 1.12.6 with screenshots in 3rd dcomment

**Version**

[2019-04-09 00:15] sdake commented on #13162
GCP + Kubernetes 1.13.2 screenshots of load balancer:

<img width="1165" alt="Screen Shot 2019-04-08 at 5 05 56 PM" src="https://user-images.githubusercontent.com/755849/55764732-ad559b00-5a21-11e9-9796-8ceed0853809.png">

<img width="671" alt="Screen Shot 2019-04-08 at 5 06 05 PM" src="https://user-images.githubusercontent.com/755849/55764745-bcd4e400-5a21-11e9-8af8-82e4b5cd86ee.png">

<img width

[2019-04-09 00:22] sdake commented on #13162
GKE + Kubernetes 1.12.6 screenshots of load balancer:

<img width="1161" alt="Screen Shot 2019-04-08 at 4 55 38 PM" src="https://user-images.githubusercontent.com/755849/55764967-75028c80-5a22-11e9-9a5a-6ee4bd070416.png">
<img width="658" alt="Screen Shot 2019-04-08 at 4 55 53 PM" src="https://user-images.githubusercontent.com/755849/55765006-91062e00-5a22-11e9-831a-8f602f52412d.png">

<img width=

[2019-04-09 00:28] sdake commented on #13162
healthchecks are different.  Not sure if this is material.

[2019-04-09 01:21] sdake commented on #13162
proxy protocol should likely be TCP rather than none on 1.13.2.

Cheers
-steve

[2019-04-09 01:58] #10310 closed

[2019-04-09 02:32] #13002 closed

[2019-04-09 05:23] zaisongz opened #13166 "Helm test failed with istio-injection enabled"
k8s version: v1.13.4
Helm version: v2.13.0
istio version: 1.0.6

When i enabled istio-injection in my namespace, the ETCD cluster could be established correctly, but the helm test command always get below error,
[stan-istio]# helm test stan
RUNNING: stan-000-status-test
ERROR: timed out waiting for the condition
Error: 1 test(s) failed

When there is no istio enabled, the test could pass, but now

[2019-04-09 06:27] dzdx opened #13167 "perTryTimeout not working when virtualservice http route timeout no set"
**Describe the bug**
1. define a virtualservice that has perTryTimeout but no timeout
[code]
2. send a request in a k8s pod
[code]
the service that being accessed will sleep for 500ms and then respond to 500 status code.
I expect this request will cost 0.4s ( 0.2s(perTryTimeout) * 2 (one retry))
but actually it cost 1s ( 500ms * 2 ?)

3. add route timeout config to virtualservice
[code]
[code]

Th

[2019-04-09 07:04] denniseffing commented on #12039
The Grafana docker container still supports setting a custom context path ([take a look here](http://docs.grafana.org/installation/configuration/#static-root-path)) Is there any particular reason why you would want to remove the corresponding configuration from the Istio Grafana chart?

[2019-04-09 07:15] ardhiee commented on #13122
`apiVersion: "config.istio.io/v1alpha2"
kind: denier
metadata:
  name: denyreviewsv3handler
spec:
  status:
    code: 7
    message: Not allowed
---
apiVersion: "config.istio.io/v1alpha2"
kind: checknothing
metadata:
  name: denyreviewsv3request
spec:
---
apiVersion: "config.istio.io/v1alpha2"
kind: rule
metadata:
  name: denyreviewsv3
spec:
  match: destination.labels["app"] == "ratings" && sourc

[2019-04-09 07:27] zaisongz commented on #13166
Just have a try if i logon the envoy sidecar, and run 'kill 1', the test will get pass.
[tests]# helm test stan
RUNNING: stan-000-status-test
PASSED: stan-000-status-test

Anyone has idea about how to terminate the sidecar?

[2019-04-09 07:47] irisdingbj commented on #10956
Will go ahead with the default rule

[2019-04-09 08:24] irisdingbj commented on #10956
@linsun I have added yamlint into circi and make it part of the 'lint' target as below

[code]
Also modified `.circleci/Dockerfile` to pull the `yamllint`
[code]
But to make all this work, we need `docker push` a new circleci image into `istio/ci:go1.11-k8s1.10.4-helm2.7.2-minikube0.25`

Who should I contact to push the image up?

[2019-04-09 09:22] osswangxining opened #13169 "Unexpected pilot connection error"
**Describe the bug**
Pilot discovery container produces a lot of error messages as below:
2019-04-09T09:16:10.085341Z	info	grpc: Server.Serve failed to create ServerTransport: connection error: desc = "transport: http2Server.HandleStreams failed to receive the preface from client: EOF"
2019-04-09T09:16:10.090203Z	info	grpc: Server.Serve failed to create ServerTransport: connection error: desc = "t

[2019-04-09 09:42] dingxiangfei2009 commented on #13051
@howardjohn Yes, I have set `accessLogFile` to `/dev/stdout` for the helm template. However, it seems having no effect, either. `grep`ing through `istio` source code is sort of supporting the theory that this option is not used anywhere.

`accessLogFile` is used here. https://github.com/istio/istio/blob/ad8f60933dea7b1efaa3c99dc7f15862499c5217/vendor/istio.io/api/mesh/v1alpha1/config.pb.go#L205
No

[2019-04-09 09:56] TonyJDavies commented on #9113
@linsun - We have 122 services running across 183 pods, each of which have sidecars that are auto-injected. Having tried disabling mixer entirely, we see no significant reduction (if any) to the rate of 503s emanating from the istio-proxy containers.

[2019-04-09 10:21] dingxiangfei2009 commented on #13051
@howardjohn Yes, I also tried `global.proxy.accessLogFile` to `/dev/stdout`. However, according to the admin page from `envoyproxy`, the access log is still written to `/dev/null`.

[2019-04-09 10:42] osswangxining commented on #13169
Looks like that the pilot service exposed with  LoadBalancer type cannot support gRPC call with proxy, so it can work fine after switching to use gateway instead of LB.

[2019-04-09 10:42] #13169 closed

[2019-04-09 10:54] coolboi567 commented on #10721
The same code, that @vhosakot  shared works for me.
[code]

I have installed kubectl using `gcloud components install kubectl`. Helm using [Helm's Official Installa Instruction](https://helm.sh/docs/using_helm/ "Helm's Official Installa Instruction").
[code]

[2019-04-09 10:58] ardhiee commented on #13122
Hi @kyessenov did you know how to debug this policy, since i still cannot get the mixer policy enforcement runs

[2019-04-09 11:09] JansonLiao commented on #8029
@vadimeisenbergibm  My problem is that I have a http2 service in the istio service mesh, I want the external service can approach the http2 service and build the http2 connection. So in this case, I must use the ingress, but I want the ingress do not decode the https packets instead send to the http2 service. the http2 service decode the http2 packet

[2019-04-09 11:16] edude03 opened #13171 "Tracing bookinfo sample doesn't work with fresh istio 1.1.1 install on GKE"
**Describe the bug**
Traces from the bookinfo example (or other services) don't show up in the Jaeger tracing GUI.
Traces from the istio-ingress however do show up, but no other spans. (see image). This works when we deploy istio 1.0.6  to the same environment.

**Expected behavior**
We expect spans to show as per the example.

**Steps to reproduce the bug**
- We created a new kubernetes 1.12 clus

[2019-04-09 11:29] hzxuzhonghu commented on #13167
It seems a bug in envoy, it should consider `0` as a special value

[code]

[2019-04-09 11:36] hzxuzhonghu commented on #13167
Or it is expected global timeout should override the per retry timeout.
@rshriram If this is intended,
1. should we keep consistent in istio (explicitly specify if per_try_timeout is specified, HTTPRoute.Timeout must be specified, otherwise no effect ) , I think this is not good UX
2. or fix this by setting the `Route.Timeout = (maxRetries * per_try_timeout_  )`

[2019-04-09 13:00] zplinuxlover opened #13173 "How thrift interact with istio"
How does envoy using thrift interact with istio, LDS support thrift filter?

[2019-04-09 13:20] frankbu commented on #12211
@linsun, the Bookinfo sample has already been converted. It currently has metadata labels also, but those ones are questionable. It was discussed here: https://github.com/istio/istio/pull/13063#issuecomment-480049381

[2019-04-09 13:43] bradenwright opened #13174 "TLS Passthrough with Caddy autogenerating Certificate is broken"
**Describe the bug**
We use Caddy so when users hit the site via a domain, if the certificate doesn't exists on first connection to port 443 Caddy will fetch the cert, set it up on disk and then allow the connection to use the cert that was dynamically generated (via letsencrypt).

Problem is that first time Caddy is hit the connection is closed.  Therefore connection errors, the certificate is ne

[2019-04-09 15:34] arianmotamedi commented on #13107
This happens when the client closes a connection that remains open the server side on that port (443). Next time the client tries to establish a new connection by sending a SYN packet, but the server sees that the connection is already open, so it responds with ACK (even though it doesn't know how to respond to SYN, it can't send RST either because the _connection_ is still in a valid state). The

[2019-04-09 15:37] linsun commented on #12211
Thanks @frankbu you are right it is updated in master.  Sorry I was looking at release-1.1

[2019-04-09 15:41] linsun commented on #9113
@TonyJDavies thanks for trying that.  Are you services communicating to each every other services or most of them aren't talking to others?   Sidecar config is the other thing I'd recommend to implement for you if most services only talk to a few services.  Christian explained it really well in this video:   https://twitter.com/christianposta/status/1114251191838363648

We are working on getting t

[2019-04-09 15:52] sumeetoc commented on #13132
On more investigation I found out that what I am trying might not be possible, need some help getting confirmation though.

So my usecase uses Istio's End user authentication in a private gke cluster where master and nodes both are private without any source of Internet connectivity.

Only the Istio ingressgateway has the public IP and hence all of the requests made from the Internet is reachable

[2019-04-09 16:02] RickLatrine opened #13176 "1.0.7 Helm Chart shows version as 1.0.6"
**Describe the bug**
Helm upgrade Istio 1.0.6 to 1.0.7 does not work.
Helm Chart points to old version 1.0.6.

**Expected behavior**
Helm Chart.yml should point to correct versions 1.0.7.

**Steps to reproduce the bug**
Download versions from release page https://github.com/istio/istio/releases
or look into tagged commit at:
https://github.com/istio/istio/blob/1.0.7/install/kubernetes/helm/istio/C

[2019-04-09 16:07] kyessenov commented on #13122
There's a certain amount of delay before the policy applies. Proxies generally cache the results of the policy evaluation for seconds-to-minute, so you might need to wait a bit before seeing the denial.

Also, the policies must reside in the namespace of the application. So if you installed the bookinfo into some other namespace, then you need to move the policy resources to the same namespace or

[2019-04-09 16:17] nmittler opened #13177 "[Test Framework]: Re-think Native Sidecar"
The current apps component employs a lot of hackery when running an Envoy sidecar natively, which leads to issues:

- Not running with the real Pilot Agent. This is mostly due to the fact that pilot agent is a bit of a mess and isn't usable natively in its current form. This is a large chunk of code that is completely untested when running natively.
- The native (i.e. fake) Pilot Agent filters the

[2019-04-09 16:19] vadimeisenbergibm commented on #8029
@JansonLiao I think you should configure the ingress gateway not to perform TLS termination, see https://istio.io/docs/examples/advanced-gateways/ingress-sni-passthrough/

[2019-04-09 16:25] iamjem commented on #12700
I should be able to re-visit this before the end of the week. I've killed off my old cluster, but I'll go through the steps again with a new one and see where I land.

[2019-04-09 16:38] diemtvu commented on #13029
Looks like it doesn't take into account the namespace when deleting resources, just resources were not found.

[2019-04-09 16:41] #10374 closed

[2019-04-09 16:50] JimmyCYJ commented on #12700
Thanks @iamjem , I suspect the gateway was not working properly, because even plain HTTP request does not work. I don't find any issue from the envoy config and ingress-sds logs you posted.

[2019-04-09 16:51] nmittler commented on #13091
@howardjohn I think this should be resolved in #13175.  The echo component has been re-written to support both native and kube. It also has the separation of servicePort and instancePort (i.e. TargetPort). Would you mind trying it out and confirming?

[2019-04-09 16:56] howardjohn opened #14007 "Need CI to build and push docker images [tools repo]"
We have custom images we use for this repo and will soon have more (https://github.com/istio/tools/pull/95).

We should have these built to a official repo

Steps:

- Create new project GCP (istio-tools), or maybe just reuse mixologist? or istio-testing?
- Set up GCB (https://github.com/marketplace/google-cloud-build) for the repo - will need repo admin to do this
- Create cloudbuild config and pu

[2019-04-09 17:13] nizamsp opened #13179 "mirrored requests doesn't apply consistent hashing (destination rules not applied)"
**Describe the bug**
consistent hash in destinationrule is not working in mirrored request but works in original request

**Expected behavior**
Both original and mirrored requests should have landed on the same pod applying the consistent hash

**Steps to reproduce the bug**
This issue was reproduced by slightly modifying the example giving in istio mirror.
https://istio.io/docs/tasks/traffic-mana

[2019-04-09 17:19] cleverguy25 commented on #9504
I am seeing this issue as well with 1.1.  It is unclear if this really is fixed in the next point release or if this is still unresolved?

[2019-04-09 17:20] ardhiee commented on #13122
Hi @kyessenov thanks for your reply,

So i assume i just wait a bit after apply the yaml. Bookinfo deployed in the default namespace
[code]

denier + checknothing + rule also in the default namespace
[code]

Based on your comment may i know is there any way to somehow clear the cache so the policy will get the new updated configuration ?

[2019-04-09 17:23] kyessenov commented on #13122
I think the only reliable way to flush the cache is to restart the pod with the sidecar proxy. Freshly started proxy will see the latest policy state.

[2019-04-09 17:32] howardjohn commented on #13176
@RickLatrine thanks for pointing this out. This is just a cosmetic issue, right? The Helm chart says it is installing istio 1.0.6 but it is actually installing 1.0.7?

You can verify with `istioctl version --remote`.

If it actually is not installing 1.0.7 then please let us know, that would be a P0 issue

[2019-04-09 17:53] howardjohn commented on #13166
What does the `helm test` do?

[2019-04-09 18:11] valarauca commented on #13039
[This commit in question](https://github.com/istio/istio/commit/fd6055a78808b5e5e3577989c0442f35050d48f8#diff-5a64dc2088020f89bc6d77354b9ebb22) seems to cause the issue.

This is a rather large change (in terms of customer exposure), should the documentation be updated to alert users to this change?

cc @hzxuzhonghu

[2019-04-09 18:16] esnible opened #13180 "Refactor istioctl commands out of istioctl/cmd/istioctl for testing"
_istioctl/cmd/istioctl_ is a `main` -- a program rather than a library package.

This means there is no way for tests outside _istioctl/cmd/istioctl_ to call any of the commands.

This work item is to move nearly all of the code in _istioctl/cmd/istioctl_ into _istioctl/pkg_ similarly to how the `validate` command is implemented.

[2019-04-09 18:33] howardjohn commented on #12642
Draft of what the change would look like to disable the logs: https://github.com/istio/istio/pull/13182

[2019-04-09 18:36] esnible opened #13184 "istioctl --platform parameter doesn't do anything"
istioctl's --platform parameter is documented as allowing the "Istio host platform" to be set.

There is actually logic to check that the user never uses the parameter, but the logic is wrong and never fires even if the user does use the parameter.

[2019-04-09 18:41] #10368 closed

[2019-04-09 18:57] Daniel-Houston opened #13188 "Clarification for istio authentication policy with origin and peer mtls authentication"
I am using istio deployed in a minikube cluster. I have created and deployed two services in the default namespace, an 'entitlements' service and an 'organizations' service. The 'organizations' service exposes and endpoint meant to be hit publicly. When that endpoint is called, organizations calls into the 'entitlements' service to get some information.

I want to have an authentication policy tha

[2019-04-09 19:04] howardjohn commented on #12976
Still flakey if anyone has a chance to take a look. Another example: https://circleci.com/gh/istio/istio/380325?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[2019-04-09 19:16] sdake commented on #8772
There are 20 thumbs up on this PR, and I tend to agree, it is highly valuable.  What is the next step required to move this work forward?  Having different folks maintain different versions of typed APIs for Istio's custom resources is not really sustainable for our community.

I believe an annotation approach with the actual API in some other repo such as istio-ecosystem/istio-client makes sense

[2019-04-09 19:24] esnible commented on #12948
Could this be a duplicate of https://github.com/istio/istio/issues/4500 ?

Would it help if instead of the message "iptables: No chain/target/match by that name." the logs showed something like

[code]
?

[2019-04-09 19:25] howardjohn commented on #12339
This is fixed right? Closing

[2019-04-09 19:25] #12339 closed

[2019-04-09 19:33] mjordan79 commented on #12612
Still not fixed in 1.1.2, why the bug has been closed?

[2019-04-09 19:35] howardjohn opened #13189 "racetest failure TestCELExpressions"
Example: https://circleci.com/gh/istio/istio/380509?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[2019-04-09 19:40] jaygorrell commented on #12612
Because it was opened here instead, which was also closed though: https://github.com/istio/istio.io/issues/3788

[2019-04-09 19:54] howardjohn commented on #4481
This has been release in 1.1. If there are any issues please open a new issue.

See https://istio.io/help/ops/traffic-management/locality-load-balancing/ for docs.

[2019-04-09 19:54] #4481 closed

[2019-04-09 20:00] musicformellons opened #13191 "rate limits with websockets?"
Will [rate limits](https://istio.io/docs/tasks/policy-enforcement/rate-limiting/) also work when using websockets?

[2019-04-09 20:00] rcernich commented on #8772
It's been a matter of me finding time to migrate the work to a new repo.  I've since moved on to other tasks and haven't been able to get back to this.  FWIW

[2019-04-09 20:02] rcernich commented on #8772
More details can be found in the PR https://github.com/istio/api/pull/764

[2019-04-09 20:14] esnible commented on #2751
I have a prototype visualization tool at https://github.com/esnible/envizistion

The tool expects a port-forward and combines the results of the 15000/config_dump, /stats, /certs, and /clusters from Envoy.  It tries to remove listeners and routes that are not in use.

That tool is mostly Javascript and could be easily put into `istioctl` if there is interest.

Because the tool is completely static

[2019-04-09 20:19] akashrv opened #13193 "Call to K8s ExternalName service fails when using Istio sidecar"
**Describe the bug**
A call to K8s ExternalName service fails, when using Istio sidecar in the POD from where the call is made. This happens when the K8s service to which the ExternalName service points to has a named port.

**Expected behavior**
Since K8s ExternalName service is a native K8s feature, I expect Istio side car should support it. This affects Knative eventing where we us K8s External

[2019-04-09 20:52] esnible commented on #13193
According to https://github.com/istio/istio/issues/9950 users are expected to delete the ExternalName Service and create something else.  I could not find documentation or examples explaining this.

[2019-04-09 21:08] howardjohn commented on #12920
Seems to be fixed

[2019-04-09 21:13] howardjohn commented on #12410
Yes I believe since you have Service and Endpoint objects defined, these are considered within the mesh, so traffic will not be blocked

[2019-04-09 21:14] howardjohn commented on #12760
Going to close this - will be available in 1.1.3 or using the nightly builds.

[2019-04-09 21:14] #12760 closed

[2019-04-09 21:16] howardjohn commented on #12601
https://testgrid.k8s.io/istio-postsubmits#integration-local-tests&width=10&sort-by-flakiness=

Tests have been re-enabled and have no flakes, closing this

[2019-04-09 21:16] #12601 closed

[2019-04-09 21:22] Nino-K commented on #12083
@ozevren are you working on this, if not I would like to help with this one.

[2019-04-09 22:07] Stono commented on #3831
Was reminded about this today talking to Shopify.  It's still valid imo, mutating pods outside of a Deployment breaks the philosophy of a deployment representing the state of the pods it owns.

[2019-04-09 22:32] akashrv commented on #13193
Just to add more observations. The issue is only with the first named port specified. Example: change the service definition to this one:
kind: Service
apiVersion: v1
metadata:
  name: my-web-server-service
  namespace: istioissue
spec:
  selector:
    app: my-web-server
  ports:
  - name: http
    port: 8888
    protocol: TCP
    targetPort: 8080
  - name: myport
    port: 8081
    protocol: TCP

[2019-04-09 23:01] Daniel-Houston commented on #12934
Turns out I needed to include the attributes.yaml file in my configurations. The attributes.yaml file can be found in `mixer/testdata/config/attributes.yaml`

[2019-04-09 23:09] Daniel-Houston commented on #13188
What I want to do is have certain services that are publicly accessible, which use origin jwt authentication only, and then I want to have certain internal services which only communicate using mtls. The publicly accessible services will communicate with other internal services using only mtls. Is this possible?

[2019-04-09 23:13] ardhiee commented on #13122
Hi @kyessenov

The red star rating still showing after i deleted all the pods in the namespace default.
[code]

Do you have any tips to debug the mixer policy ? so i know where are the root cause of this issues ? appreciate your help

[2019-04-09 23:16] utka commented on #12777
I updated it manually, but i am fixing the issue which was reason for manual fix.
release artifacts are created not as daily but as monthly release
More info here
https://github.com/istio/istio/tree/master/release

[2019-04-09 23:24] duderino commented on #13162
Hi @andraxylia could you take a look and perhaps pull in the right GKE denizen?

[2019-04-09 23:38] howardjohn commented on #5453
@philrud is this fixed now?

[2019-04-09 23:41] philrud commented on #5453
yes, the fix will go live with 1.1.3, closing

[2019-04-09 23:41] #5453 closed

[2019-04-09 23:43] howardjohn commented on #6029
Is this still an issue? I have rabbitmq (erlang app) running on Istio 1.1.

[2019-04-09 23:46] philrud commented on #12801
Closing this due to lack of information. If there's any additional information on how to reproduce this, please re-open or rather open a more specific issue.

[2019-04-09 23:48] howardjohn commented on #12801
@philrud they provided yaml of their setup to reproduce. what other info is needed? I don't think this should be closed

[2019-04-09 23:59] philrud commented on #12801
@howardjohn oh, so we're not yet sure if this is the port conflict? I've misinterpreted your prev. comment.

@hpohl's issue isn't 1.1.1 specific according to his prev. comments so probably should be tracked separately (or as part of #13014 if we believe this is a dup) as this is getting very confusing.

[2019-04-10 00:03] howardjohn commented on #12801
I don't think the original issue is the same, but looking closer it is unclear, maybe they are a dupe. @emedina do you have two services on the same port targeting different container ports?

[2019-04-10 00:19] philrud commented on #12801
@howardjohn yeah, I get it now. Regarding @emedina case, see the conversation above, here's the yaml: https://gist.github.com/emedina/ba73a409158d8f0bfbfd7c60bfdd4240 – I've tried it with 1.1.1, that actually works (after substituting container images with a helloworld-style app), I wasn't able to reproduce the behavior that was described

[2019-04-10 00:40] jcetkov opened #13197 "ingress-sds issues/possible memory-leak"
**Describe the bug**
I observed several possibly related issues while using the ingress-sds
1) on larger cluster the ingress-sds seems to leak memory, in magnitude of 2-3 GBs over the span of 3 or 4 days; this seems to correlated with bursts of messages
[code]
10s in a second, thousands a day
[code]

2) I was able to reproduce similar behavior locally, if I create secret with an empty cert. In suc

[2019-04-10 00:53] mhotan commented on #12855
I was able to repro as well

helm version 2.13 and upgrading 1.1.0 -> 1.1.1 or 1.1.2

[2019-04-10 00:53] akashrv commented on #13193
Deleting and re-creating doesn't work. In fact there is no virtual service anywhere. I believe this is a different issue, but I am not an expert.

[2019-04-10 01:00] philrud commented on #13193
Confirming I'm able to reproduce the issue and renaming the port resolves it. Seeing the following in Pilot logs:
[code]

Investigating a potential fix.

[2019-04-10 01:20] zaisongz commented on #13166
i used a chart to deploy etcd cluster, and the test just run some cases to check the cluster healthy.
The reason is that the sidecar keep runing even the main container has finished it works.
# kubectl get pods -o wide -n istio-csdc
NAME                      READY   STATUS    RESTARTS   AGE   IP              NODE
stan-000-status-test   1/2     Running   0                17h   192.168.1.38

Once si

[2019-04-10 01:25] JansonLiao commented on #8029
@vadimeisenbergibm Thanks, I followed the example, but the traffic can only approach to the ingress, can not reach to my http2 service. The ingress log can see the traffic but the istio-proxy of the http2 service can't see any traffic log.

[2019-04-10 01:29] howardjohn commented on #13166
Ok so the problem is your container exits, and envoy (Sidecar) remains running?

[2019-04-10 02:22] zaisongz commented on #13166
yes.

[2019-04-10 03:10] dotw commented on #12294
Hello guys, 1.1.2 still has the same error and it generates 3 logs every second per sidecar. this makes our ELK server has huge pressure. How can I suppress this warning?

[2019-04-10 03:13] hzxuzhonghu commented on #13039
No, this is the root cause
[code]

[2019-04-10 05:16] ramaraochavali opened #13200 "Redis Protocol Support"
**Describe the feature request**
Currently when we deploy redis service with the following service object,
[code]
Istio, generates clusters and listeners for `TCP` - While it may allow redis protocol to flow through Mesh from source -> destination, it does not do any sharding (using `RING_HASH` or `MAGLEV` as Load balancing options for the upstream cluster) and does not take advantage of `envoy.re

[2019-04-10 05:22] mgherman commented on #13176
That syntax returns an error, using the packaged binary:
[code]
helm ls indicates version 1.0.6 is still installed, and the bundled Chart.yml lists its version as 1.0.6

[code]

https://github.com/istio/istio/blob/1.0.7/install/kubernetes/helm/istio/Chart.yaml#L3

However when reprovisioning a pod after the upgrade, I see 1.0.7 version proxies:

[code]

[code]

[2019-04-10 05:39] k-f commented on #12231
An additional point on this one.  Things also go wrong if you specify any seccomp or apparmour annotations in your pod security policy.  Eg here is a restricted PSP that does work with the istio sidecar if you deploy it manually, but you cannot use this PSP in partnership with the sidecar injector:

[code]

The apparmour annotation is a particular issue, the PSP mutating plugin adds apparmour poli

[2019-04-10 05:46] dingxiangfei2009 commented on #13051
Ah, I see. Yes, I can confirm that `envoy.file_access_log` is set to `/dev/stdout`.

However, the access logs are still not coming in. I notice that there are many deprecation warnings in the log, and one of them is about `envoy.config.filter.accesslog.v2.AccessLog.config`.
[code]
Could this be related?

[2019-04-10 06:22] shakti-das opened #13201 "Allow Sidecar to be flexible to bind to any loopback address and not just 127.0.0.1"
**Describe the feature request**
`Sidecar` configuration uses loopback address as hard-coded 127.0.0.1. In our (Salesforce) configuration, we have existing listeners bound to 127.0.0.1, so we are using a different loopback address for the listeners created by Pilot, like 127.1.1.2.

The expected behavior that will work for the configuration:
1. If egress `Bind` + `Port` is provided with `CaptureMo

[2019-04-10 06:23] shakti-das commented on #13201
I have the changes which work locally for the above-mentioned configuration. I am going to link the PR here for a review of this enhancement.

[2019-04-10 06:36] vadimeisenbergibm commented on #8029
@JansonLiao I would guess something is wrong in your virtual service.

Can you post here your Ingress gateway definition, your virtual service definition, your http2 service spec, and also an example of a curl call to your http2 service from inside the mesh. Please check that your http2 service is accessible from inside the mesh.

[2019-04-10 06:50] mattmi88 commented on #12231
@k-f - Oh man, that's a whole 'nother level of security pain. 😸

Thanks for confirming my approach. I too am tweaking the injector configmap so the pod succeeds during the validation phase.

It might be a bit of work, but I think the sidecar injector webhook can get the chosen PSP from the annotation. It can then perform it's own mutation on the injected containers. The logic "should" be "includab

[2019-04-10 07:44] philrud commented on #13193
There was some work done to enable support for using "ExternalName" typed service as an alias for mesh-internal services in this PR: https://github.com/istio/istio/pull/10182. This is why the TCP case works (and changing the port name to anything other than "http" helps).

For the HTTP case the client-side sidecar routes config apparently only has domain name variants for the "real" (destination)

[2019-04-10 07:59] emedina commented on #12801
@howardjohn Yes, the port where the Pod's API is listening and the port where the Pod's health is listening. My Pods are typically Spring Boot applications where the API listens on 8080 and health actuator on 8081.

[2019-04-10 08:35] idouba commented on #6070
@frankbu , the suggested solution[ multiple-virtual-services-and-destination-rules-for-the-same-host](https://istio.io/help/ops/traffic-management/deploy-guidelines/#multiple-virtual-services-and-destination-rules-for-the-same-host)  seems still has limitation:

for two domain name case like this:
myapp.com
      service1  ->   service1.default.svc.cluster.local
      service2  ->   service2.defau

[2019-04-10 08:47] JansonLiao commented on #8029
@vadimeisenbergibm I have already solved this problem, the reason is that the port name of my http2 service must consistent with the gateway's port  protocol, but I ignored it. Just like this:
https://istio.io/docs/setup/kubernetes/prepare/requirements/
Really thanks for your help.

[2019-04-10 09:34] billyrobCS21 commented on #9504
@cleverguy25 A couple days ago I downloaded 1.1.1 and then 1.1.2 and on clean installs of both this error occurred. I made sure that the service and deployment ports matched but still the error persisted. The only workaround that worked for me was to set the annotation readiness.status.sidecar.istio.io/applicationPorts to "". I've reverted back to 1.0.7 because of this.

[2019-04-10 09:40] ramaraochavali commented on #10659
@hzxuzhonghu I tried a stateful set service with three nodes with simple TCP service and found the following
- Pilot is creating a upstream cluster with `ORIGINAL_DST` LB for each of the three nodes deployed as stateful sets and
- However, Pilot is creating only one EGRESS Listener that points to cluster which is regular EDS.
So if the request lands on this egress listener, it goes to any of the n

[2019-04-10 11:58] goyalnikhil02 commented on #9943
curl http://$INGRESS_HOST:$INGRESS_PORT/hello

curl: (7) Failed to connect to 192.168.21.222 port 31380: Connection refused
any solution for this.

[2019-04-10 12:09] hzxuzhonghu commented on #9504
@billyrob Can you provide your deployment and service yaml?

[2019-04-10 12:13] hzxuzhonghu commented on #10659
How did you get `ORIGINAL_DST ` cluster, with ServiceEntry.Resolution=NONE ?

Yes, i mean we need three listeners if the service is tcp protocol. Each one
[code]

...

[code]

[2019-04-10 12:17] walkerline commented on #12960
![image](https://user-images.githubusercontent.com/11176360/55877812-02e88f80-5b69-11e9-9eb4-0904a14eb06a.png)

Just an update, seems like our traffic is by passing the side car. That could be the root cause?

[2019-04-10 12:19] waynz0r commented on #9504
@hzxuzhonghu please consider #13106 as root cause.

[2019-04-10 12:26] meganwalker-ibm commented on #12855
Having done some more testing we can share the following results for this issue:
Helm: 2.9.1; going from istio 1.1.1 to 1.1.2

- `helm upgrade --install istio-init ` -> Fails with the error in the OP
- `helm template install/kubernetes/helm/istio --name istio --namespace istio-system | kubectl apply -f -` -> Also fails with the error in the OP
- `for i in install/kubernetes/helm/istio-init/files/c

[2019-04-10 12:34] hzxuzhonghu commented on #13106
The listener no need to contain pod ip. But it may take some time for sidecar to receive the first xDS.

[2019-04-10 12:39] waynz0r commented on #13106
@hzxuzhonghu what is this https://github.com/istio/istio/blob/46cd4ccc1c1fbb6de3a1667c89e487418718414c/pilot/cmd/pilot-agent/status/ready/probe.go#L44 looking for then?

[2019-04-10 12:41] hzxuzhonghu commented on #13106
It only checks the port, not pod ip.

[2019-04-10 12:42] waynz0r commented on #13106
https://github.com/istio/istio/blob/46cd4ccc1c1fbb6de3a1667c89e487418718414c/pilot/cmd/pilot-agent/status/util/listeners.go#L53

[2019-04-10 12:43] fleeto opened #13204 "Sidecar object with `defaultEndpoint: unix:///..` doesn't work."
**Describe the bug**

Sidecar object with  `defaultEndpoint: unix:///..`in ingress doesn't work.

**Expected behavior**

I can access the service with the `http://nginx:80`  in other pods.

**Steps to reproduce the bug**

[workload-sidecar.tar.gz](https://github.com/istio/istio/files/3063789/workload-sidecar.tar.gz)

1. Deploy a workload of nginx, listening to `unix:///tmp/backend.socket`
1. Creat

[2019-04-10 12:43] hzxuzhonghu commented on #13106
Do you have a connection issue with pilot, and check the pilot logs. Is the latency between LDS request and the LDS response too long?

[2019-04-10 12:46] waynz0r commented on #13106
Is isn't a pilot connection issue, there would be another error message if that would be the case. Also it never gets healthy until an update arrives from pilot, it is not about that it waits for pilot for an initial config.

[2019-04-10 13:05] wp0pw commented on #13058
ignore that, I did not understand the authn/z boundary well enough... suppose documentation could have been clearer about the fact that if you enable jwt authn the user: * in authz binding still has to have valid authn.

closing

[2019-04-10 13:05] #13058 closed

[2019-04-10 13:10] StefanCenusa commented on #13106
@hzxuzhonghu I am experiencing the same issues. Some of my pods are taking too long to become ready

[code]

and `istio-proxy` logs are full of:

[code]

Is this normal?

[2019-04-10 13:10] holgero commented on #12122
We created a cluster and installed Istio 1.1 with the distroless images. And did some manual testing:
* We installed and verified the bookinfo app.
* Verified that data is displayed in Grafana.
* Installed and tested tcp-echo and websockets from istio/samples
-> everything looks fine

[2019-04-10 13:13] holgero commented on #12122
We also ran some `istioctl` commands and saw that `istioctl proxy-status` and `istioctl authn tls-check` both fail because it tries to run commands in the container.

[2019-04-10 13:35] linsun commented on #12855
@morvencao could you check this out when you have some time?

[2019-04-10 13:55] frankbu commented on #6070
You can configure it using 4 virtual services, 2 for myapp.com and 2 for myapp2.com.

[2019-04-10 13:56] billyrob commented on #9504
@hzxuzhonghu Thanks for responding! I actually just realized that I was getting this error because I was also messing with the oneNamespace option. Setting that back to false allows the sidecars to come up without issue in 1.1.2. So, my bad, sorry!

[2019-04-10 14:33] howardjohn commented on #12713
This has been fixed

[2019-04-10 14:33] #12713 closed

[2019-04-10 14:33] zachidan commented on #13142
@mandarjog The main reason for the tail latency is that a **lock** is held throughout the `SendReport` operation which might takes several milliseconds. I'll take a look into this issue.

[2019-04-10 14:36] RickLatrine commented on #13176
As we are running multiple clusters, the Helm version is definitely not cosmetic.
I have to compare the Docker Image hashes to be safe now.

In order to increase the trust of deployment, I have patched the Chart.yml manually.
It seems to make sense to fork the repo and setup a template & build process for that.

Thanks for replies and to the Istio team to providing that security patch!

[2019-04-10 14:41] howardjohn commented on #13176
Thanks for the feedback, I didn't consider that.

I think the reason it didn't get updated is that we used the same git commit for 1.0.6 and 1.0.7, just updating the images.

@utka is it possible to change the release? I suspect its bad form/not possible from github to change a published release and I don't know if we would want a 1.0.8 just for this.

[2019-04-10 14:44] howardjohn commented on #7505
Helm repo can be found on the Github release page (https://github.com/istio/istio/releases) under Helm Chart Index. For example https://storage.googleapis.com/istio-release/releases/1.1.2/charts/index.yaml

We are working on making this more idiomatic and having a single Helm repo rather than one per release. Follow https://github.com/istio/istio/issues/12974 for updates on that.

[2019-04-10 14:45] howardjohn commented on #11705
We have a chart now and making the chart idiomatic is being tracked in #12974. I think we can close this?

[2019-04-10 14:45] #11705 closed

[2019-04-10 14:58] howardjohn commented on #13051
The deprecation warning is unrelated.

I just tried out bookinfo on 1.1.1 on GKE with log filed enabled and see logs:

[code]

Are you sure you are looking at the logs for the istio-proxy container and not the application?

[2019-04-10 15:05] howardjohn commented on #13200
We had Redis support, it was turned off in https://github.com/istio/istio/pull/12236 as we found some issues with it.

We should probably look into re-enabling it and getting it fully tested.

@venilnoronha any insight here?

[2019-04-10 15:08] jaygorrell opened #13205 "503 "upstream connect error or disconnect/reset before headers" in 1.1 with low traffic"
**Describe the bug**
Many services in our environment are experiencing a handful (~1% or so) of 503 errors with the response "upstream connect error or disconnect/reset before headers". I have rolled istio out to two environments and they both experience similar issues.

These environments do not have any Istio gateways -- it's just service to service communication; however, I did replicate the is

[2019-04-10 15:33] duderino commented on #12090
Reopening.  Istio 1.0.7 was created for an emergency security fix, but the PRs referenced by this issue still need to go out in a 1.0.8 release

[2019-04-10 15:42] duderino commented on #12090
OK, https://github.com/istio/istio/pull/12766/ from the 1.1 branch is the PR that actually fixed the issue.   https://github.com/istio/istio/pull/12030 has been abandoned.

So... if we ever create a 1.0.8 release, it would be good to backport https://github.com/istio/istio/pull/12766/ to the 1.0 branch

[2019-04-10 15:43] duderino commented on #12090
Dropping to P2 since the original requestor, @Stono, has moved onto 1.1.x which has the fix

[2019-04-10 15:44] duderino commented on #11658
@Stono @howardjohn I think this is ready to be closed?

[2019-04-10 15:46] howardjohn commented on #11658
Yeah we can close, the fix should be in 1.1.3. Feel free to open another issue or reopen if you see this in 1.1.3 again.

[2019-04-10 15:46] #11658 closed

[2019-04-10 15:47] RickLatrine commented on #13176
This is also related to other branch/versions: e.g. 1.1 branch

[2019-04-10 16:21] #13189 closed

[2019-04-10 16:48] howardjohn opened #13208 "TestGrid false positives for circleci failures"
Test grid is lying about our tests passing.

Example failure: https://circleci.com/gh/istio/istio/380325?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

Test grid for the test: https://testgrid.k8s.io/istio-presubmits#circleci-e2e-dashboard&width=20

Prow shows this as still running: https://prow.k8s.io/view/gcs/istio-circleci/presubmit/e2e-dashboard/380325

Test Grid just f

[2019-04-10 17:02] ahadrana commented on #10053
Istio doesn't seem to handle Headless Services associated with a Statefulset properly. It is not clear to me yet whether this is a bug or by design. In the meantime, this is what we had to do to make Statefulsets work properly in Istio (as of 1.1.2):

1. As mentioned above, for the envoy sidecar proxy to route traffic to your pod properly, your container has to bind to localhost, NOT $POD_IP.

2.

[2019-04-10 17:35] jon-whit opened #13210 "Mixer Check Occurring Before Origin Authentication Security Policy"
**Describe the bug**
With an [Origin Authentication Policy](https://istio.io/docs/concepts/security/#origin-authentication) (end-user policy) configured and a Mixer Check type adapter enabled (using the [Open Policy Agent compiled-in adapter](https://istio.io/docs/reference/config/policy-and-telemetry/adapters/opa/)), Istio's Policy and Telemetry support checks the outcome of the adapter before th

[2019-04-10 17:47] esnible commented on #12294
@dotw There are no instructions for disabling this message.  For Istio 1.2 it will be handled by https://github.com/istio/istio/pull/13182 .  As a work around you can probably do `kubectl -n istio-system edit cm istio-sidecar-injector` and add `"--component-log-level", "misc:error"` to the sidecar pod arguments following the example of the Istio 1.2 work.

[2019-04-10 17:49] prune998 opened #13211 "Gateways can't have dots in their name"
**Describe the bug**
When a `gateway` contains a dot (`.`) in it's name, no `virtualservices` can be attached to it.

**Expected behavior**
either :
- we can use dots in `gateway` names
- Galley should reject the creation of a gateway with a dot in the name

**Steps to reproduce the bug**
I'm using a simple hello-world image + service like :
[code]

Create a gateway manifest containing a dot in th

[2019-04-10 17:51] sdake commented on #13162
I have found kubeadm 1.13.2 does not create a deployment called `l7-default-backend` when deployed on GCP.  GKE does create this deployment.  I believe what is happening is that the l7-default-backend deployment is used by the load balancer for health checking.  As GCP 1.13.2 is missing the deployment, the LB takes the month off :)

The contents of the deployment are as follows
[code]

[2019-04-10 18:04] utka opened #13212 "Helm values in daily builds are incorrect"
**Describe the bug**
Incorrect tag and hub under charts/values.yaml for daily and RC builds

**Expected behavior**
Look under https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/master-20190410-09-16/charts/
the value for tag should be master-20190410-09-16 instead of *-latest-daily, as well as hub is incorrect.

**Version**
Does not work for master and release-1.1

**Installation**
N/a

**En

[2019-04-10 18:25] jdamata opened #13215 "istio-proxy connection errors with pilot."
**Describe the bug**
istio-proxy side container cannot communicate with pilot?

istio-pilot logs
[code]

POD istio-proxy logs
[code]

istioctl proxy-status | grep POD
[code]

**Version**
[code]

**Installation**
helm template helm/istio --name istio --namespace istio-system  \
--set global.mtls.enabled=true \
--set global.controlPlaneSecurityEnabled=true \
--set global.outboundTrafficPolicy.mode=R

[2019-04-10 18:41] jdamata commented on #13215
After searching for and deleting invalid virtualservice, serviceentry and destinationrules things went back to normal.

[2019-04-10 19:17] howardjohn opened #13216 "All CircleCI tests failing"
Seems like all CircleCI tests are failing with:

"There was an issue while running this container and it was rerun. The most recent run is shown."

examples:

https://circleci.com/gh/istio/istio/382055?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
https://circleci.com/gh/istio/istio/382057?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-

[2019-04-10 19:28] kbruner commented on #10358
Also hitting this issue with the istio-init sidecar when it's injected into a deployment with a strict pod-level securityContext.

[2019-04-10 19:39] jaygorrell commented on #8270
On 1.1.2, this is still every 5 minutes for me.

[2019-04-10 19:49] jon-whit commented on #13068
We're looking for this support as well. It's an absolute necessity to have this support if we are to adopt Istio.

[2019-04-10 19:50] arianmotamedi commented on #13205
Unfortunately this is not true - 503s cannot be automatically retried due to the risky nature of non-idempotent requests. You can define a virtual service and use [route-level retries](https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#HTTPRetry) if you're confident multiple identical requests made to the server won't have any adverse effects, but this is not something Env

[2019-04-10 19:59] philrud commented on #10358
This was fixed couple weeks ago with this PR: https://github.com/istio/istio/pull/12708 (already merged into release-1.1 branch, should go live with 1.1.3).
Specifically to fix Redis charts (by Bitnami), sorry haven't seen this issue/PR before.

cc @duderino

[2019-04-10 20:03] jaygorrell commented on #13205
Thanks @arianmotamedi. I've been all over those issues and that's how I was able to get as far as I am now.

The default retry was added for:
`connect-failure,refused-stream,unavailable,cancelled,resource-exhausted,retriable-status-codes`.

Does that not capture the "upstream connect error or disconnect/reset before headers" issue? I'd be happy to add a custom one, but I thought `connect-failure`

[2019-04-10 20:10] zparnold opened #13218 "Virtual Service updates are not propagating via `kubectl`"
**Background**
We upgraded over the weekend from Istio 1.0.2 to 1.1.2 due to the CVE. So we believe the issue is either with our configuration...or possibly with values that are now out of date WRT to the new Istio version

**Describe the bug**
Using the following DR + VS Combo we are expecting that the Istio ingressgateway will shift traffic from one deployment (defined via a subset) to another i

[2019-04-10 20:11] zparnold commented on #13218
Please feel free to suggest a better title

[2019-04-10 20:11] incfly commented on #13074
@arief-hidayat Thanks for work!

Please update the documentation on https://istio.io/help/ops/setup/app-health-check/, with a concrete example (verified by yourself of course :)

E2E test mentioned before is also something worth considering.

[2019-04-10 20:12] #11333 closed

[2019-04-10 20:12] linsun commented on #11606
closing this, as it works fine when configured properly as my example has demonstrated.

[2019-04-10 20:13] #11606 closed

[2019-04-10 20:13] incfly commented on #12828
This seems to be quite weird and we should already have some unit test coverage.

Do you mind trying it without cni? CNI AFAIK, interacts with sidecar injector, which might cause some behavior difference...

[2019-04-10 20:13] linsun commented on #12617
think this is fixed via a PR that is based on #12464

[2019-04-10 20:13] #12617 closed

[2019-04-10 20:16] linsun commented on #11319
think this can be closed now due to #12089, pls reopen if needed

[2019-04-10 20:16] #11319 closed

[2019-04-10 20:17] linsun commented on #11021
@ericvn is this still an issue?

[2019-04-10 20:19] aguromanodg commented on #12877
Thanks @pitlv2109 ! Were you able to find something about it?

We have a pretty good setup for authentication and authorization, but we need to enable functions to access some of our services in our cluster. So until we get this fixed for functions, we have set `originIsOptional: true` in the istio policy and allow actions for everyone...but we need to allow only the functions.

[2019-04-10 20:22] Radau commented on #13216
CircleCI is having a bit of an outage it looks like, we've been affected by it since around 10:30AM (Docker builds). They recently updated the [status page](https://status.circleci.com/) to reflect the issue.

[2019-04-10 20:24] kyessenov commented on #13216
We should probably asses reliability of circle CI in the context of this project. It feels like there's a problem with it every couple of weeks. Just last Friday they had tens-of-minutes of delays starting jobs.

 cc @utka

[2019-04-10 20:59] rvennam commented on #11527
Right - is there a reliable URL we can use to download the istioctl binary for any release? If so, let's create a istio.io issue to doc it, and close this one

[2019-04-10 21:10] tvieira opened #13219 "docker.kubectl target is broken on MacOS"
**Describe the bug**
Running `GOOS=linux make docker` fails while building kubectl container image, with the following error:
[code]

**Expected behavior**
`docker.kubectl` is within the DOCKER_TARGETS, I should be able to have the container image built successfully.

**Steps to reproduce the bug**

1. build docker images:
`GOOS=linux make docker HUB=kind TAG=e2e`

**Version**
n/a

**Installation*

[2019-04-10 21:13] kyessenov opened #13220 "Need a CI check to validate istio YAMLs"
Working on https://github.com/istio/istio/pull/13196 got me thinking that we need a lightweight and robust way to validate the existing samples statically.

I think istioctl is the right place for this. What might be missing is _deep_ validation that supports extensible schemas and referential checks. For example, Mixer allows uploading a new schema for handlers and templates that need to be cross

[2019-04-10 21:29] drichelson opened #13221 "Proxy: Enable configurable client cert paths for pilot + metrics service connections"
**Describe the feature request**
Enable configurable client cert paths for pilot + metrics service connections. The same  client certs used by https://github.com/istio/istio/issues/11984 will be used for pilot + metrics service connections.

**Describe alternatives you've considered**
Modifying mount paths for K8s services works fine with the current hardcoded paths. For our (Salesforce) use case

[2019-04-10 21:39] arianmotamedi commented on #13205
Did you add this yourself? For these to work you'll need to pass the `x-envoy-retry-on` header to your egress requests: https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/router_filter#x-envoy-retry-on.

In most cases, these 503s seem to happen when an upstream service closes a connection but Envoy still thinks the connection is reusable and puts it back in the coonection pool.

[2019-04-10 21:45] howardjohn commented on #13218
Looking into this now. Could you provide logs of Pilot (discovery container)?

[2019-04-10 21:46] frankbu commented on #6116
@johnzheng1975 Is this still happening with Istio 1.1?

[2019-04-10 21:53] GregHanson commented on #13085
As it stands, PR #11511 only added the logic to support that flag in the buildSidecarListeners() logic, see [here](https://github.com/istio/istio/pull/11511/files#diff-86fb73d7dd150e47328ead76ceca0992R245).  Similar logic would have to be added to the Gateway generation code in https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/gateway.go#L39

[2019-04-10 21:57] howardjohn commented on #13218
Tried to reproduce this. Here is my exact setup:

[code]

I flipped blue to green a few times and saw the change immediately, so I wasn't able to reproduce this.

A few questions:

* Any custom install options used, or just the defaults?
* What namespace is the VS, DR, and application in? Are they the same or different?

[2019-04-10 22:06] esnible commented on #13220
I validate with `find samples -name "*.yaml" | xargs -n 1 istioctl validate -f`.  (This does a pretty good job now that on failure we return 1 instead of 255.)  Obviously it is local validation, not global.

For validation of lots of things there is https://github.com/istio/istio/issues/12523 or working with the https://github.com/aspenmesh/istio-vet folks who have a tool for checking Istio beyond

[2019-04-10 22:20] philrud commented on #13179
Confirming, I can reproduce the issue.

From what I tell right now, both mirroring and hash-based load balancing is handled by Envoy and is configured via the same RouteAction config: Envoy respects the "route.RouteAction.HashPolicy" for the destination cluster, but not for a cluster specified in the "route.RouteAction.RequestMirrorPolicy".

I'll keep investigating this further, looks like this wi

[2019-04-10 22:22] jcetkov commented on #13197
Looks like I pinpointed the root cause of the issue 1). It seems to be gateway referencing `credentialName` which doesn't exist.

To confirm locally, I used a script to create 500 number copies of the following config
[code]
(no secrets or any other related CRDs were created)
This is a graph of memory usage of the sds container since that moment

<img width="1310" alt="Screen Shot 2019-04-10 at 3

[2019-04-10 22:24] howardjohn commented on #13215
Sounds like this is working now? If not feel free to reopen

[2019-04-10 22:24] #13215 closed

[2019-04-10 22:28] howardjohn commented on #13029
@diemtvu are you working on this?

[2019-04-10 22:36] kyessenov commented on #13210
cc @diemtvu : do you know on top of your head if auth filter precedes mixer filter?

[2019-04-10 22:37] diemtvu commented on #13029
I am trying, but probably need some helps from @nmittler or @ozevren.

[2019-04-10 22:40] jaygorrell commented on #13205
Hmm, I'm referring to https://github.com/istio/istio/pull/10566, which was in 1.1.0. Are you saying I'm still missing something required for that to kick in? My understanding is that it applies to all requests by default and handles 503s caused by `connection-failure`, among others. There's a comment where I asked about it in the bottom of that PR.

[2019-04-10 22:43] zparnold commented on #13218
First off, thanks for the quick reply! For custom install we have (passed as args to helm chart):
[code]
But ☝️ was only to deal with the default deny egress.
To give you some context: https://www.lucidchart.com/publicSegments/view/336b90f0-123f-47c7-85d5-80a2453def87/image.png

That roughly outlines how we used (in 1.0.2) to use Kubernetes Service label selectors to steer traffic, and since that

[2019-04-10 22:45] zparnold commented on #13218
@howardjohn The VS and DR that I think are affected are in the same ns `acceptance` I hope this is enough. There are other ServiceEntries, but I omitted them since they aren't affected. Please let me know if there is any more detail needed to debug

[2019-04-10 22:46] JimmyCYJ commented on #13197
Thanks for the investigation! The ingress gateway agent does not follow SDS protocol strictly when credential does not exist. The ingress gateway agent should not send update to every SDS request with empty cert. I will fix this.

[2019-04-10 22:46] arianmotamedi commented on #13205
Oh interesting, I was not aware of changes that made it into 1.1. In any case, there's no indication here that the 503s are happening because of a connect failure vs upstream reset. You won't know that for sure unless you do a packet capture. Also check sidecar proxy's config and see what this retry policy is actually being translated to.

[2019-04-10 22:47] howardjohn commented on #13218
Thanks, I'll see if I can reproduce it with those settings. The only other thing would be logs from pilot - if the probably occasionally fixes itself when you restart pilot then the logs may provide some insight

[2019-04-10 22:51] diemtvu commented on #13210
Yes. Should be.

On Wed, Apr 10, 2019 at 3:37 PM Kuat <notifications@github.com> wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-215-8127

[2019-04-10 22:55] jcetkov commented on #13197
it also seems to loop and draw memory in case the secret doesn't exist, what we observed in the large cluster was the memory function looked liked in the picture above, only over longer span of time (essentially hogging memory until killed or restarted) while continuously, although not as rapidly logging
[code]

[2019-04-10 22:58] zparnold commented on #13218
😂 That's actually how we ended up proceeding. It seems to work when we restart pilot...but we deploy often enough that it feels more like a hack than a fix. Let me upload the pilot logs here...I'm thinking of possibly a forced hard refresh or cache purge would be a way forward (maybe)
[logs-from-istio-proxy-in-istio-pilot-6cb5f8f44d-5ck7b.txt](https://github.com/istio/istio/files/3066176/logs-from

[2019-04-10 23:18] howardjohn commented on #13029
PR I linked seems to fix this, but I think it is more covering the issue rather than fixing the root cause

[2019-04-10 23:21] howardjohn opened #13226 "Need test of the release process"
We have had many issues with release binaries lately: wrong tags, versions, etc. We should have a test that exercises the release and does some sanity testing of the created release.

[2019-04-10 23:23] Stono commented on #13205
Considering you're able to consistently repro your 503, I would personally turn on envoy debug logs on both your source and destination by port-fowrarding 15000 and doing `curl -XPOST http://127.0.0.1:15000/logging?level=debug`, then tailing the logs `-c istio-proxy` for both sidecars, and then make your request.

The logs are super verbose but should give some insight.

[2019-04-10 23:27] duderino commented on #13197
Sorry for the reassignment spam.  The github UI kinda freaked out on me.  Wasn't intentional.

@JimmyCYJ if you can get a PR out by 5pm PT tomorrow April 11th, we can get it into 1.1.3.  Otherwise it'll have to go out for 1.1.4 about a week later

[2019-04-10 23:29] JimmyCYJ commented on #13197
Thanks for the info, I will try to get a PR out by 5pm April 11th.

[2019-04-10 23:30] nmittler commented on #13029
Agreed. Get your patch in, but let's not close this yet.

[2019-04-11 00:00] JimmyCYJ commented on #13197
I am able to reproduce this memory leak issue by creating 70 TLS gateway without credentials.

[2019-04-11 00:21] #10223 closed

[2019-04-11 00:27] shalako commented on #7136
Related: https://github.com/envoyproxy/envoy/issues/2920

[2019-04-11 01:33] howardjohn opened #13227 "Locality LB Integration test failures"
Example: https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/13225/istio-integ-k8s-tests/6562

[2019-04-11 01:34] frankbu commented on #12794
Fixed in #13222

[2019-04-11 01:34] #12794 closed

[2019-04-11 01:40] linsun commented on #11527
There isn't as far as i know as part of the release.  Can we do something simply like what is being discussed in https://github.com/istio/istio/pull/11710#issuecomment-479108038 where we append an option in our download istio script to download istioctl only?

We need 1 single cmd to download this thing regardless of platform.

[2019-04-11 02:02] jaygorrell commented on #13205
Thanks for the tips. I wouldn't say I can consistently repro it. It's common enough to annoy users but just infrequent enough to be difficult to catch. I'll give it a shot though.

I'm noticing now that no matter how hard I try when the cluster is virtually no traffic at night, it's very difficult to replicate. While during the day, I could replicate it by hitting a `/ping` endpoint that just resp

[2019-04-11 02:19] ibm-jason commented on #11527
@linsun, @rvennam

I talked with @utka about the following approach:

1. We can use the curl command to download istioctl separately, but it requires knowing the commit SHA for the release that you want to download:
`curl https://storage.googleapis.com/istio-artifacts/pilot/$TAG/artifacts/istioctl/istioctl-osx -o istioctl`

`$TAG` in this case references a commit SHA, and from a UX perspective, ha

[2019-04-11 02:28] linsun commented on #11527
Thanks @ibm-jason !  can we please not expose platform for users?  I'd rather we handle it automatically, like `curl -L https://git.io/getLatestIstio` does.

Can we have something like `curl -L https://git.io/getLatestIstioctl` to allow users to download istioctl, with the ability to optionally specify the version, e.g. ISTIO_VERSION=1.1.2?

[2019-04-11 02:36] pc-rshetty opened #13230 "Timeout error when re running egress rules post upgrade of istio 1.0.6 to 1.0.7"
**Describe the bug**
We get Timeout errors when re running  egress rules (a yaml file with bunch of egress) after upgrading . This started happening after we upgraded from 1.0.5 to 1.0.6 and also when we upgraded from 1.0.6 to 1.0.7. We have to keep running and eventually it succeeds

we get this error on running kubectl apply -f egress-control.yml

`STDERR:

Error from server (Timeout): error whe

[2019-04-11 05:43] liamawhite commented on #13227
which images do these use @howardjohn?

[2019-04-11 05:55] sasachan commented on #13111
Warning  FailedScheduling  53s (x16 over 4m8s)  default-scheduler  0/2 nodes are available:
2 Insufficient memory.  I will give a try to upgrade node memory to 8GB

[2019-04-11 05:59] hzxuzhonghu opened #13232 "The certificates used by unit test expired"
This causes the CI test failure

[2019-04-11 06:48] foshantiger commented on #12866
Thanks douglas! Yes, after changed the match expression to 'context.protocol == "http" || context.protocol == "grpc"', it worked!
But now i encountered a new problem, when use the mixer-based tracing, I can't see the ingressgateway and mixer span in the trace, but envoy-based tracing works fine.  Is the match expression incorrect?  Is there any info about that?

[2019-04-11 07:11] AshWater commented on #13016
So, can I just checkout to the tag 1.1.2, and then build the istio1.1.2 package? or can I still checkout tag 1.1.1, and then build the package?

[2019-04-11 07:11] AshWater commented on #13016
So, can I just checkout to the tag 1.1.2, and then build the istio1.1.2 package? or can I still checkout tag 1.1.1, and then build the package?

[2019-04-11 07:36] dotw commented on #13133
@esnible I downgrade grafana from 5.4.0 to 5.2.3. iframe works again. my question is do we have any dependencies with 5.4.0 in istio 1.1.2?

[2019-04-11 07:52] LeoHexspoor opened #13235 "Writing custom gauge metric to Stackdriver fails due to unequal start & end dates"
**Describe the bug**
Writing a gauge metric to Stackdriver fails due to to the start/end date of the metric being different. Mixer reports the following error:

Looking at the code I think this is due to the following two lines in `mixer/adapter/stackdriver/metric/metric.go`:
[code]
which would always result in a slight difference between start and end date and it does not consider the metric type

[2019-04-11 07:56] dotw commented on #13133
tried 5.4.3 just now. iframe also works.

[2019-04-11 08:00] Dan-Coleman commented on #7787
I can confirm I am having the same issue when trying to route v1 and v2 of a 'frontend' deployment to v1 and v2 of a backend deployment. I had to create a service for the 'frontend' and this then started working with the sourceLabel routing rules.

[2019-04-11 08:11] shuiqing05 opened #13236 "Which tag should I use to build Istio package, 1.1.1 or 1.1.2?"
Hi,
    From the reply (https://github.com/istio/istio/issues/13016#issuecomment-479513981), @howardjohn said the release 1.1.2 is not a real release.
    And, the commit IDs of tag 1.1.2 and 1.1.1 are same. Hence, I am confusing. If I want to build istio package from source code, which tag should I checkout to, the 1.1.2 or 1.1.1?
    By the way, how do I know whether the built package is 1.1.2,

[2019-04-11 08:38] yuchen9459 opened #13238 "Envoy inbound access log in multicluster scenario not showing up"
**Describe the bug**
I deployed the bookinfo example in a multi-cluster environment based on kind(Kubernetes in the docker). I have enabled the access log, but I can only see the outbound/inbound logs in cluster1, which host productpage, detail, review-v1 service.  When I check the inbound logs of review-v2, review-v3 which are hosted in cluster2, there are inbound request logs, but I can see the

[2019-04-11 08:46] yuchen9459 commented on #13021
This error has been fixed.
1. The gateway address should only use the host IP without the port.
2. If you use a NodePort type, the correct port should be got with command:
`kubectl --context=$CTX_CLUSTER2 get svc -n istio-system istio-ingressgateway -o=jsonpath='{.spec.ports[?(@.port==15443)].nodePort}'`

[2019-04-11 08:46] zhengzepeng opened #13239 "Run Bookinfo on Docker with Consul"
Istio 1.1.2,when i run Bookinfo on Docker with Consul,i found some problems.
When i opened the productpage, some error happened,it cant fetch product details and product reviews.
But when i run in k8s, no errors.
I use the java-control-plane to read the listeners message from the pilot (docker with consul),i found the proxy in  productpage/detail/review  is tcp,no http,like this:

  "bitField0_":

[2019-04-11 10:01] guitmz opened #13240 "Pod with istio sidecard can't connect to external service with TCP + TLS"
**Describe the bug**
Whenever a pod that has istio-proxy injected tries to connect to an external TCP + TLS service, we get `Connection reset by peer`.

- The external service is whitelisted in service entry (shouldn't matter because of ALLOW_ANY policy in v1.1 of istio anyway)
- If I try the same connection from the `istio-proxy` sidecar, I get the same error
- I dont see any outbound connection

[2019-04-11 10:31] dingxiangfei2009 commented on #13051
Yes, I am looking at `istio-proxy` container.
I followed the `bookinfo` sample to `curl` the product page while the logs are rolling, but I cannot find any `GET /details/0 ...` entry.

[2019-04-11 10:52] pandey-adarsh147 commented on #11262
I have scale up pilot as well, but still after sometime pilot showing STALE. Is there any keep alive timeout need to be set to rotate pilot to pod assignment

[2019-04-11 11:12] 1hanymhajna opened #13241 "1.1.2 - Cannot use wildcard in prefix hosts in ServiceEntry"
**Describe the bug**
Cannot use wildcard in prefix hosts in ServiceEntry

**Expected behavior**
In the documentation, you mention that the wildcard prefix is accepted, but it throws this error:
`* hosts must be FQDN if no endpoints are provided for resolution mode DNS`

In your code:
https://github.com/istio/istio/blob/master/pilot/pkg/model/validation.go#L250
i see that you call **`validateDNS112

[2019-04-11 12:01] Excited-ccccly commented on #11262
@pandey-adarsh147 Pilot's scaling is managed by horizontalpodautoscalers.autoscaling. Do you have set `MINPODS` property in autoscaling config of istio-pilot?

[2019-04-11 12:03] ramaraochavali commented on #10659
@hzxuzhonghu I just deployed at stateful TCP service with the following service object
[code]
With the above definition,
- It generated one ingress listener and inbound cluster which is as expected.
- It generated one `ORIGINAL_DST` cluster for outbound - Not sure if this is expected
[code]
- And one egress listener - which is definitely an issue as mentioned above.

Did you see any thing differen

[2019-04-11 12:52] goyalnikhil02 commented on #9943
follow this link.:https://hackernoon.com/ingress-and-istio-gateway-resource-e5958846c26b

[2019-04-11 13:30] #10666 closed

[2019-04-11 14:13] morvencao commented on #12855
Better to add `--force` to recreate the `CRD` creation jobs while upgrade.

[2019-04-11 14:22] arianmotamedi commented on #13205
A timeout would give you a 504, not 503, so I highly doubt that it's related. But as Stono suggested, you can turn on debug logs and to see if anything stands out.

[2019-04-11 14:28] howardjohn commented on #13227
Another example: https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/13237/istio-integ-k8s-tests/6597

For all prow failures you can look at build log

[code]

Another issue: it logs ~20k lines when it fails. Can we just make one error message? We probably don't need that many requests total either

[2019-04-11 14:32] ibm-jason commented on #11527
@linsun Yes, it makes sense not to directly expose the commit SHAs and platform to the user for this solution.

To answer your question, I think we can follow the same pattern as the `/getLatestIstio` URL. IIUC, `/getLatestistio` basically points to https://github.com/istio/istio/blob/master/release/downloadIstioCandidate.sh, which takes care of figuring out the platform and the appropriate versio

[2019-04-11 14:34] #13232 closed

[2019-04-11 14:41] linsun commented on #11527
SG thanks @ibm-jason !

[2019-04-11 14:43] liamawhite commented on #13227
Will be resolved by https://github.com/istio/istio/pull/13207.

I'll fix up the spammy nature in my PR adding tests for failover.

[2019-04-11 14:49] liamawhite commented on #13227
Will leave this open until we confirm that the release-1.1 merge into master fixes the issue.

[2019-04-11 14:55] linsun commented on #13143
Thanks Iris and Ed, this can be closed now :)

[2019-04-11 14:55] #13143 closed

[2019-04-11 15:00] linsun commented on #12703
Our current version cmd only displays the client side version.  It should be enhanced to display the server version and use it as the default (without the needing to specify --remote or --short).

We should also have a verbose option for versions.  Our default version today is verbose but only prints out the client side.

[2019-04-11 15:03] jon-whit commented on #13210
@diemtvu This is everything I have:

[code]

[2019-04-11 15:08] guitmz commented on #13240
Update: with the following service entry I was able to connect properly to the external endpoint
[code]
But the problem still persists if I deploy a TCP + TLS service inside of the cluster.

From outside of the cluster I can connect to the service just fine but from inside of the cluster (this is valid for pods who are not in istio network too) I still get the same error. My ServiceEntry for my se

[2019-04-11 15:34] linsun commented on #8572
is there more work for this planned?  I think the service entry has been improved significantly in 1.1 and no longer requires a VS bound to it now.

[2019-04-11 15:36] linsun commented on #9333
BTW this was created this week https://github.com/istio-ecosystem/istio-operator

[2019-04-11 15:38] #13040 closed

[2019-04-11 15:38] esnible opened #13244 "Bookinfo CSS broken in master"
Caused by https://github.com/istio/istio/commit/e9a94e4b4d5f44942d92d249d1647fa079c43815#diff-84a607622f5980c681c4c6ce0fe61c7d

The new ProductPage image serves .css files from /static instead of the https://ajax.googleapis.com/ location used in earlier Istio versions.

The _samples/bookinfo/networking/bookinfo-gateway.yaml_ does not include `/static` in the prefixes exposed.

Either the ProductPa

[2019-04-11 15:40] esnible commented on #12703
@linsun it would be trivial to make remote and short the defaults.  That could break scripts that parse the output as JSON.  I don't know of any scripts like that in the wild.  Thoughts?

[2019-04-11 15:42] linsun commented on #10293
is this still an issue for 1.1 @ericvn @Evesy ?

[2019-04-11 15:43] linsun commented on #10422
close - no response from user after 30 days.  pls reopen if needed.

[2019-04-11 15:43] #10422 closed

[2019-04-11 15:44] linsun commented on #10633
I think this is no longer relevant and doesn't exist in 1.1

[2019-04-11 15:44] #10633 closed

[2019-04-11 15:46] linsun commented on #11044
Agreed, we should have our check command too. I'll update the desp.

[2019-04-11 15:47] linsun commented on #11044
@irisdingbj pls move it to P0 when you start working on this. :)

[2019-04-11 15:50] codependent commented on #12948
Well it would definitely help find the problem. +1 for that detailed message.

[2019-04-11 15:54] jaygorrell commented on #13205
The 504 would be for the request that actually timed out. I was referring to subsequent requests.

I'll be trying to capture logs from the issue today with traffic ramping back up.

[2019-04-11 16:01] jmazzitelli commented on #9333
Kiali has published an operator as well - so can be integrated when you want to pull in Kiali in your Istio environment. I was planning on incorporated it in the helm install stuff (I think Jaeger is doing this kind of thing, too, with their operator - of they are planning to if it is not done yet). It will be incorporated in the Maistra Istio operator soon as well.

See:

https://www.kiali.io/get

[2019-04-11 16:23] duderino commented on #12522
@ibm-jason @linsun @vadimeisenbergibm, about a month ago we were discussing blocking the 1.1 release on this.  Now it seems to be languishing.  Should this be prioritized?

[2019-04-11 16:25] jaygorrell commented on #13205
Alright, I was able to capture some 503s with verbose logging on (Thanks @Stono!). I have no idea which pieces are really helpful though so here's a relevant section if it helps.

[code]

[2019-04-11 16:25] bradenwright commented on #13174
Anyone have any ideas?  I don't even really know where to start

[2019-04-11 16:29] duderino commented on #12543
@mdgreenfield can this be closed?

[2019-04-11 16:30] duderino commented on #11818
@robertpanzer @howardjohn fix has been merged, can this be closed?

[2019-04-11 16:32] #13184 closed

[2019-04-11 16:32] howardjohn commented on #11638
I have CNI running on 1.1.2 and it is working fine: http://grafana.v112-cni.qualistio.org.

@MBauer83 is this still an issue in latest releases? I suspect @john-a-joyce is right, that the CNI daemonset is not installed. Make sure you follow the docs here: https://istio.io/docs/setup/kubernetes/additional-setup/cni/

In particular, the `helm install install/kubernetes/helm/istio-cni --name=istio-cn

[2019-04-11 16:34] howardjohn commented on #12543
@duderino no this is not yet fixed. We need to do further work on readiness with NONE mode

[2019-04-11 16:35] arianmotamedi commented on #13205
There it is:

[code]

It's using an existing connection from the pool, so not a connect issue. This looks exactly like the case where upstream has closed a connection but Envoy is still keeping it around in the pool. Highly likely it's related to https://github.com/envoyproxy/envoy/issues/6190, which is a known bug. You should be able to use idle_timeout to alleviate most of these 503s. It was mer

[2019-04-11 16:40] howardjohn commented on #13218
Ok logs don't seem to indicate any problems. I think the problem here is with the Gateway. Using your configs (with minor changes), I am able to access the service directly fine, and virtual service rules apply if I comment out the gateways part of the VS. But when going through the gateway, the VS is not applied.

@philrud any insight here?

[2019-04-11 16:42] ibm-jason commented on #12522
@duderino Yes, I think we should. I've got a couple WI that are ahead of this, but I'll defer to @linsun and @vadimeisenbergibm for prioritization.

[2019-04-11 16:44] jaygorrell commented on #13205
I see, thank you!

I guess my next question is if there is any mitigation I can do on the server side? Does envoy have a default idle timeout for the pool that I would need the server to exceed? It's node, which defaults to 5s.

Also I'm still unclear why the default retry in 1.1 didn't mitigate the issue.

[2019-04-11 16:44] jaygorrell commented on #13205
I see, thank you!

I guess my next question is if there is any mitigation I can do on the server side? Does envoy have a default idle timeout for the pool that I would need the server to exceed? It's node, which defaults to 5s.

Also I'm still unclear why the default retry in 1.1 didn't mitigate the issue.

[2019-04-11 16:44] jaygorrell commented on #13205
I see, thank you!

I guess my next question is if there is any mitigation I can do on the server side? Does envoy have a default idle timeout for the pool that I would need the server to exceed? It's node, which defaults to 5s.

Also I'm still unclear why the default retry in 1.1 didn't mitigate the issue.

[2019-04-11 17:01] arianmotamedi commented on #13205
No and that's the issue - there is no idle timeout by default. Changes in https://github.com/istio/istio/pull/13146 will allow you to specify one though, so as soon as it's release you should be able to either set this to < 5s for services that call node or set if this is a production environment and performance matters set to like 15s and have your node service keep the connection open for 30s.

[2019-04-11 17:04] jaygorrell commented on #13205
@arianmotamedi Is there a specific section I should look for? It's 35k lines but I'll dump it all if that's useful.

[2019-04-11 17:08] jaygorrell commented on #13205
I think I found it:
[code]

[2019-04-11 17:17] arianmotamedi commented on #13205
Ah, it's retrying on `connect-failure,refused-stream,unavailable,cancelled,resource-exhausted,retriable-status-codes`. 503 is included in [5xx and gateway-error](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/router_filter#config-http-filters-router-x-envoy-retry-on), neither of which is here.

As an alternative, you can try setting [maxRequestsPerConnection](https://istio.

[2019-04-11 17:20] howardjohn commented on #12920
Happening again

https://velodrome.istio.io/dashboard/db/boskos-dashboard?orgId=1

[2019-04-11 17:21] zparnold commented on #13218
Yea, I was seeing similar behavior, basically inside the cluster everything seemed peachy keen when accessing services. (though, since this particular service is most often accessed via the public internet...I admit I didn't look deeply into internal functionality.) The only place we really noticed is through the ingress gateway. Is there an alternate config I can try as a workaround?

[2019-04-11 17:24] jaygorrell commented on #13205
I do understand why it's not captured by `connect-failure` now, but it should have been caught by `retriable-status-codes` since `503` is in the list (the only one in the list). See edit above with the second snippet to show what it looks like by default without an override, which is how things looked before my debugging today.

I'll revert it so the default policy kicks back in, but I already kno

[2019-04-11 17:25] diemtvu commented on #13210
This looks correct to me. I applied them to my setup and it works as expected.
Just to be sure, you have the `productpage` run in default namespace, right?
Can you run `tools/dump_kubernetes.sh` script and send us the dump for more investigation. Thanks.

[2019-04-11 17:27] duderino commented on #12501
@esnible I need to find an owner for this one.  Do you want this?

[2019-04-11 17:29] ostromart commented on #9333
That's great - the istio operator will no longer incorporate the full manifests for addons like kiali, prom etc. but rather just pass through opaque config through to these "sub-operators". In most cases, users will probably just interact with the sub-operator directly, the pass-through function will be there for managed Istio cases.

[2019-04-11 17:34] arianmotamedi commented on #13205
I missed your second snippet. Hmm yeah if it's really not retrying with `retriable-status-codes` it might be an actual bug.

[2019-04-11 17:40] icygalz commented on #12920
I think we should increase the number of instances + timeout used by test while waiting for boskos resources.

[2019-04-11 17:42] #10380 closed

[2019-04-11 17:46] jpreese opened #13248 "Istio fails to install after a Helm delete"
**Describe the bug**
ValidatingWebhookConfiguration resource is created by Galley. This prevents helm from knowing about the resource, and ends up dangling on a helm delete.

If ValidatingWebhookConfiguration exists prior to helm install, the installation will fail because it is then assumed Galley is up and running, but it may not be.

**Expected behavior**
Explicitly define the ValidatingWebhook

[2019-04-11 17:51] philrud commented on #13218
@howardjohn I'm not aware of anything gateway-special related to this. I'll try this setup when I get a chance.

[2019-04-11 17:54] howardjohn opened #13249 "e2e-pilot-noauth-v1alpha3-v2 cleanup failures"
Example failure: https://circleci.com/gh/istio/istio/383750?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

Basically we delete the istio.yaml file which has a istio-system namespace in it. Then we later try to delete the istio-system namespace, which fails. We throw this error as "failed to delete after 180 seconds" like its timing out, but it actually

[2019-04-11 18:07] jaygorrell commented on #13205
Before removing my VS, I just tried again with `5xx` added:
[code]

And waited for the issue to happen:
[code]

So at least it doesn't seem to be a problem with `retriable-status-codes`, but maybe something about this specific scenario that doesn't get treated like just a 503 response? I'm just tossing out thoughts... I clearly have no idea here. :)

[2019-04-11 18:16] jon-whit commented on #13210
@diemtvu Sure thing. I'll get back with you shortly with that.

[2019-04-11 18:16] esnible commented on #12501
@duderino Can we move this to 1.2 or nebulous future?

[2019-04-11 18:19] howardjohn commented on #13249
Actually I think this is not the issue, but it is still failing - unclear why istio-system is not getting deleted within 180s

[2019-04-11 18:35] jon-whit commented on #13210
@diemtvu Double checked everything... It's still behaving as I described above.

I get a 403 Forbidden before a 401 Unauthorized if a token is not provided. If I (by default) allow all requests in the OPA adapter, I get a 401 Unauthorized if I don't provide a token. So the behavior is still acting like the Mixer filter runs before the Authentication filter.

Here is the dump:
[istio-dump.zip](http

[2019-04-11 18:41] zot24 commented on #9333
Hi there! I'm confuse about what's the official state of the "Istio Operator" and I was hopping the community could throw some light.

@linsun who is behind the istio-ecosystem project? it's that going to be an "official" repo to support the istio operator?

@ostromart when you say `istio operator` which istio operator do you refer to? do you have a link you can provide? so far I can only see that

[2019-04-11 18:54] utka commented on #12920
Adding 20 more projects

[2019-04-11 19:00] esnible commented on #13219
I did `GOOS=linux make docker` using OSX 10.13.6 and `master`.  It was able to build without problems.

`ls -l $GOPATH/out/linux_amd64/release/docker_build/docker.kubectl/kubectl` shows _kubectl_ was built today.

Can anyone else try this and reproduce either my success or @tvieira 's failure?

[2019-04-11 19:14] tvieira commented on #13219
Thanks @esnible ! Where does your kubectl live? Do you have it in your $GOPATH/bin folder?

[2019-04-11 19:18] bianpengyuan commented on #13235
This issue should have already solved with 1.1 release: https://github.com/istio/istio/blob/master/mixer/adapter/stackdriver/metric/metric.go#L221. The next GKE addon release should have it.

[2019-04-11 19:24] diemtvu commented on #13210
Do you access the productpage via ingress (istio-ingressgateway)? If so, I think the 403 you see is because ingress rejecting it given the OPA policy. You may need to move the authn policy to ingress, or change the opa rules to be enforced on productpage only.

[2019-04-11 19:56] ostromart commented on #9333
The new "official" operator is going to take some code from those (the authors themselves will be merging gradually) and live in istio-ecosystem initially, likely moving into istio when it matures somewhat. So that also answers the "who's behind this" question: @rcernich (Red Hat), @martonsereg, @matyix, @waynz0r (BanzaiCloud) and me (Google), along with design contributions from various folks in

[2019-04-11 20:09] sdake commented on #13248
@jpreese thank you for the report.  I am pretty sure we test this scenario, but we will get back to you with results either way.

Cheers
-steve

[2019-04-11 20:09] jaygorrell commented on #13205
@arianmotamedi So far so good on the single request-per-connection solution. The peak time has already passed for today but no errors in the past 2 hours. I'll close this tomorrow if it continues to hold up but I'm still curious if anyone has more information on the above question.

I'm mostly surprised this was isolated to a couple of my 100 services, all of which run on Node (5s keepalive timeou

[2019-04-11 20:11] sdake commented on #13238
Can you add more information about how you use kind multiclusters?  Do you simply setup kind twice and use the ingress gateway's node port?

Cheers
-steve

[2019-04-11 20:12] linsun commented on #11723
Target this for post 1.2 given it is not in 1.2 roadmap and requires a need and socialize with security WG.

[2019-04-11 20:19] linsun commented on #12650
closing this as PR is already merged

[2019-04-11 20:19] #12650 closed

[2019-04-11 20:20] linsun commented on #12786
+1 @morvencao that works as the default.  And if user wants to tweak it, he/she can.

[2019-04-11 20:21] sdake commented on #13230
EKS has performance problems in general from my experience with the platform.  Is this issue reproducible if you deploy on AWS EC2?

Cheers
-steve

[2019-04-11 20:23] linsun commented on #12344
@clyang82 is this still an issue?  I think we have set mem and cpu limits in 1.1

[2019-04-11 20:24] sdake commented on #13219
@tvieira did you set $ISTIO in your environmeent variable?

Here is what my profile sort of looks like (note I haven't attempted to reproduce your issue)

[code]

[2019-04-11 20:27] jpreese commented on #13248
Sounds good! It's not a huge deal right now. We're just explicitly deleting the hook after an uninstall.

[2019-04-11 20:31] pc-rshetty commented on #13230
thanks @sdake testing on non EKS environment is a bigger effort. If we know what is wrong we can escalate. Right now i see istio errors hence posted the issue in istio

[2019-04-11 20:36] esnible commented on #13219
I have no $ISTIO.

I have $GOPATH/bin/kubectl.

`GOOS=linux make docker` put a 1.11 version into the Docker image.

I was mistaken about _$GOPATH/out/linux_amd64/release/docker_build/docker.kubectl/kubectl_.  It was built today, but it is not the same size or version as the _kubectl_ in the Docker image that was built around the same time.

[2019-04-11 20:38] sdake commented on #13045
@morvencao the concept of curling or otherwise accessing `httpbin` without namespace.global was implemented in 1.1, but reverted 1 day prior to release because it could result in duplicate routes advertised, crashing every service mesh.  This would occur if someone deployed httpbin in the default namespace on both clusters.

Most of the work is done and in the git repo history if it is unreverted.

[2019-04-11 20:46] sdake commented on #13045
PR 1: https://github.com/istio/istio/pull/11522
PR 2: https://github.com/istio/istio/pull/12346

[2019-04-11 20:48] jon-whit commented on #13210
I am accessing it behind the istio-ingress, yeah. I'll try what you're suggesting.

[2019-04-11 20:53] lambdai opened #15728 "v1.0: circleCI on macos evn is failing"
My PR #2168 is failing because of this.

My investigation shows macos is using brew to install bazel 0.23 which is not consistent with other linux platform.

Could any one having a Mac verify it? Thanks!

[2019-04-11 20:55] yuchen9459 commented on #13238
Actually, I used [the script ](https://github.com/kubernetes-sigs/federation-v2/blob/master/scripts/create-clusters.sh) from Kubernetes Federation v2 Github repository. I think the connection between the two clusters works smoothly since I can successfully access the review-v2 and review-v3 from the product page.

The inbound messages can also be found in the review-v1 pod's log. Just the inbound

[2019-04-11 21:11] davidebbo commented on #12903
Cool, I'll try it once 1.1.3 is out. What's the basic instruction on enabling/disabling the feature flag?

[2019-04-11 21:15] jon-whit commented on #13210
@diemtvu Could you give me a sample configuration that achieves what I'm looking for? It sounds like you were able to do it?

[2019-04-11 21:26] diemtvu commented on #13210
I'm not quite familiar with OAP. Add @liminw who may help.

To set jwt on ingress, you can simply change the target. E.g

[code]

You can also combine with [`trigger_rules`](https://istio.io/docs/tasks/security/authn-policy/#enable-end-user-authentication-for-specific-paths) to include/exclude the path you care.

A related note, in your original authn policy that set for `productpage`, you set ori

[2019-04-11 21:37] jon-whit commented on #13210
@liminw Looping you in ^^. I have the operator config above, but I'm not getting the authorization instance attributes generated. What am I doing wrong?

[2019-04-11 21:39] Daniel-Houston commented on #13188
Any insight here? This seems like it should be a pretty common use case, I'm wondering what I've been missing

[2019-04-11 21:42] howardjohn commented on #12903
Here are the docs: https://istio.io/docs/examples/advanced-gateways/egress-gateway/#before-you-begin

They probably should not have been released yet as the flag isn't released yet, but 1.1.3 will be out 4/15ish so at that point the docs will be correct

[2019-04-11 21:44] tvieira commented on #13219
Right, that's why your build is successful. I install kubectl via brew, therefore it is located somewhere else.

@sdake - I have set the `ISTIO` variable. The main problem is that this specific target depends on https://github.com/istio/istio/blob/master/bin/testEnvLocalK8S.sh to get dependencies (`getDeps` call) - see:

https://github.com/istio/istio/blob/1c0fbe3ff59f05a685bfa21b4cdc567ab11534dc/

[2019-04-11 22:15] ericvn commented on #13219
I don't have any issues building on my Mac either, although I usually run more `makefile` targets.

I'm a little confused and this wouldn't use any kubectl version that it finds locally (it would be a MacOS version)..

Looking at the Makefile, I don't know why we try to copy the `kubectl` is going a `ADD https://storage.googleapis.com/kubernetes-release/release/v1.11.1/bin/linux/amd64/kubectl /usr

[2019-04-11 22:39] pitlv2109 opened #13257 "make generate_e2e_yaml alternating bug"
**Describe the bug**
In the `master` branch, the `--grpc-hostname` flag has been removed for Citadel. When running `make generate_e2e_yaml`, the `--grpc-hostname` are generated alternating-ly in Citadel deployment config.

**Expected behavior**
`--grpc-hostname` should not be generated for Citadel deployment config.

**Steps to reproduce the bug**
1. Run `make generate_e2e_yaml`, open `install/kub

[2019-04-11 22:40] pitlv2109 commented on #13257
/assign @howardjohn Free feel to assign it to someone else. I'm not really familiar with the script. Thanks!

[2019-04-11 22:41] howardjohn commented on #13257
I'll take a look

[2019-04-11 22:43] #10434 closed

[2019-04-11 22:47] howardjohn commented on #13257
I ran
[code]
10 times with no result. Are you sure you are running latest master?

[2019-04-11 22:57] jon-whit commented on #13210
@diemtvu I'm confused by this... Let me tell you what I'm hoping for, and please guide me in the right direction.

I would like an origin authentication policy (requiring end-user authentication) at the `istio-ingressgateway` layer. Between the `istio-ingressgateway` and any services in the default or other namespaces should be using mTLS. So essentially I want origin authentication on the public

[2019-04-11 23:06] john-a-joyce commented on #12479
I tried your patch to see if it help the multicluster test in the gate and it didn't seem to have any affect.   I ran the test successfully both with controlPlaneSecurity on and off.   Are you still seeing this issue?  What is your control plane security configuration.

[2019-04-11 23:15] howardjohn commented on #10358
Fix is merged in and will be released in 1.1.3 (expected around 4/15). Thanks everyone

[2019-04-11 23:15] #10358 closed

[2019-04-11 23:15] howardjohn commented on #11818
Yes, fix is merged in and will be released in 1.1.3 (expected around 4/15)

[2019-04-11 23:15] #11818 closed

[2019-04-11 23:17] howardjohn commented on #11542
Haven't seen any issues with this one in a long time: https://testgrid.k8s.io/istio-postsubmits#unit-tests&width=5

I think it is safe to close.

[2019-04-11 23:17] #11542 closed

[2019-04-11 23:18] howardjohn commented on #12055
@abhyuditjain is this still an issue?

[2019-04-11 23:20] howardjohn commented on #12108
Fix to not log an error is merged in. I am going to pass this over to the security side to decide if we should not generate spiffee identities, etc for pods without service accounts.

[2019-04-11 23:21] howardjohn commented on #11638
I think this is just a docs error that has since been resolved. If you are still seeing this please reopen (or you can open a new issue)

[2019-04-11 23:21] #11638 closed

[2019-04-11 23:32] yangminzhu commented on #12881
Yes, they're referring to the same thing here.

This seems some misconfiguration in networking, maybe some left over from the HTTP task, could you try to clean the cluster and start the TCP task from the beginning? If it still doesn't work, could you run `dump_kubernetes.sh` and upload the output? Thanks

[2019-04-11 23:51] ericvn commented on #13219
PR submitted.

[2019-04-11 23:54] pitlv2109 commented on #13257
Yes I'm pretty sure I sync to the latest master. I tried reproducing this error in two other machines, and one of them also had this issue. It's not really alternating, but eventually I'll see two different versions. Not only this `grpc` flag, but many older flags as well. I'm not sure sure `helm` uses some kind of caching. We can try reproducing it tomorrow offline. Thanks for looking into this!

[2019-04-12 00:00] yangminzhu commented on #13138
@costinm @rshriram @diemtvu
Any suggestion for the place to add such options? Maybe 2 helm flags `global.controlPlaneSecurityTLSVersionMin` and `global.controlPlaneSecurityTLSVersionMax` below the `global.controlPlaneSecurityEnabled`?

[2019-04-12 00:14] yangminzhu commented on #13132
Just FYI, if you're using the Istio Authentication JWT Policy, then Pilot needs to talk to external server to fetch the JWT public key needed to verify the JWT token. I'm not sure how is the okta configured on the ingress gateway, but I guess it needs to do the same thing in order to validate the JWT token.

 I haven't tried to use Egress gateway to proxy the request from Ingress (or even Pilot),

[2019-04-12 00:14] valarauca commented on #13039
@hzxuzhonghu thanks!

Is this change in backwards compatibility intended?

[2019-04-12 00:19] yangminzhu commented on #13038
Note, debugged with the customer offline for using Istio 1.1 in the customer's GKE cluster and it turns out the GKE cluster is started with some special arguments and it seems some firewall rules are preventing the connection to docker.io, which breaks the installation of Istio. Closing as this is not related to Istio.

[2019-04-12 00:19] #13038 closed

[2019-04-12 00:28] diemtvu commented on #13210
Quick answer: if you set JWT on ingress as the last email, then you're all
good. While waiting for answers on OPA , you can also try different
approach for authorization as described here
<https://istio.io/docs/tasks/security/authz-http/>.

TL;DR: The other problem I mentioned is just a head up, in case you want to
put the JWT authentication on productpage service again. Basically, you
need to be

[2019-04-12 01:02] yangminzhu commented on #8263
@chadlwilson @lszymik I think this is fixed and could be closed.

[2019-04-12 01:02] #8263 closed

[2019-04-12 01:23] rshriram commented on #13211
aren't kubernetes names supposed to be DNS1123 labels (no dots)? if gateway name has dots, then it is trouble. In Istio 1.0.x, we asked people to refer to cross namesapce gateawys as gatewayname.namesapce.svc.cluster.local.. But starting in 1.1, we are asking people to refer to gateways as namespace/name [consistent with the way we are referring to services in the Sidecar CRD object].

As a backwa

[2019-04-12 01:29] chadlwilson commented on #8263
Thanks @yangminzhu - I agree, we have recently moved to 1.1 and I've seen the info coming through. Forgot to update this ticket. Thanks for all the work!

[2019-04-12 01:32] liminw commented on #13210
@jon-whit Regarding your question on why 'request.auth.claims["sub"]' is not populated, you may want to remove double quotes (") on "sub". That is, using 'request.auth.claims[sub]'.

If that does not work, you can try to look in mixer server (mixs) log to see the attribute values.

Same as @diemtvu 's recommendation, I would strongly recommend you to try out Istio authorization (https://istio.io/d

[2019-04-12 01:36] linsun commented on #11045
close due to dup #6324

[2019-04-12 01:36] #11045 closed

[2019-04-12 01:37] linsun commented on #11075
close this as no response from reporter in 30 days, pls reopen if needed.

[2019-04-12 01:37] #11075 closed

[2019-04-12 01:38] hzxuzhonghu commented on #12522
Isn't this work as expected ? Gateway must work binding a VirtualService

[2019-04-12 01:38] linsun commented on #11112
closing this, no response in 30 days.  Most if not all 503 are fixed with sidecar resources when there are lots of services.

[2019-04-12 01:38] #11112 closed

[2019-04-12 01:39] linsun commented on #11203
@frankbu can you look at this one?

[2019-04-12 01:40] linsun commented on #11244
this is fixed in 1.1

[2019-04-12 01:40] #11244 closed

[2019-04-12 01:41] linsun commented on #11836
@jotak can we do this in the kiali chart and enable only when kiali is enabled (e.g. demo profile)?

[2019-04-12 01:43] linsun commented on #11836
@jmazzitelli would be great if you or someone from Kiali team can step up and help with this.

[2019-04-12 01:45] linsun commented on #6892
we already have istioctl validate... anything else we need in this space?

[code]

[2019-04-12 01:47] linsun commented on #6892
@irisdingbj can you check if this validate cmd can be improved to some of the other checks @rshriram mentioned to improve user's debugging experience?

cc @esnible

[2019-04-12 02:06] linsun commented on #13064
@esnible this is interesting, I think we should look into enabling this as part of our build system.

@ibm-jason @utka thoughts?

[2019-04-12 02:08] morvencao commented on #13045
@sdake Thanks, that helps. I thought this should be working since I have tested it with 1.1 RC.

[2019-04-12 02:09] linsun commented on #12407
cc @irisdingbj

[2019-04-12 02:12] linsun opened #13259 "istioctl: create a convenient install cmd"
Install: istioctl install

We don’t currently have an install cmd and our installation steps are complicated today.  Having an install cmd will help simplify our install experience.  This cmd should do pre-check to see if the env meets prerequisites of install, and then install if it meets the prerequisites.

Options:
--profile where users can specify which profile.  Default profile is used when n

[2019-04-12 02:14] ibm-jason commented on #13064
@linsun I certainly think it's a good idea to make the footprint of istioctl smaller. `gzip -9` or `upx`, we can try whichever compression tool works best.

[2019-04-12 02:14] linsun opened #13260 "istioctl: provide convenient get all cmd"
**Describe the feature request**

istioctl get all
Currently deprecated but it is one of my favorite cmds.  The alternative is not user friendly: `kubectl get gw,vs,dr,se,policy,sidecar,meshpolicy` which can be a growing list.

[2019-04-12 02:15] linsun commented on #13260
This cmd is already there but it is marked as deprecated which I disagree.

[2019-04-12 02:16] jmazzitelli commented on #11836
@linsun I think what I would like to do is see if we can integrate the new Kiali Operator in the kiali helm chart (we just released the Kiali Operator today). The Kiali Operator will install Kiali with these runtime dashboards. So rather than add all the kiali monitoring dashboard yamls and the kiali monitoring dashboard CRD into the existing kiali helm chart, I would like to see if its possible t

[2019-04-12 02:19] zaisongz commented on #13166
@howardjohn any idea?

[2019-04-12 02:19] FengLiqiong opened #13261 "ConsistentHashLB.minimumRingSize defaults to 0"
**Describe the bug**
ConsistentHashLB.minimumRingSize defaults to 0.

**Expected behavior**
It should default to 1024 as specified in https://istio.io/docs/reference/config/networking/v1alpha3/destination-rule/#LoadBalancerSettings-ConsistentHashLB.

**Steps to reproduce the bug**
Add the following into destinationrule:
[code]
run `istioctl proxy-config clusters -n istio-system $(kubectl get pods

[2019-04-12 02:23] linsun commented on #13260
It would be good to also investigate https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/ - is this something we can pioneer as extending kubectl?

[2019-04-12 02:36] linsun opened #13262 "Investigate using additional image scan for istio docker images"
Our team within IBM has done vulnerability scan on our shipped 1.1 images and found some images have issues.  It would be really good if we can integrate our scanner as it picked up some stuff that the redhat one or GCR didnt for example, its a simple curl to use it, `curl -Ls http://imagescanner.cloud.ibm.com/scan?image=$image`

[2019-04-12 02:37] linsun commented on #13262
cc @jsloyer

[2019-04-12 02:39] linsun commented on #11836
That makes sense, should we close this then? :)

[2019-04-12 02:43] mathspanda opened #13263 "Add debugMode option in sidecar helm template"
**Describe the feature request**
After PR #10830 merged, the hardcoded sidecar template is removed. We had a [debugMode](https://github.com/istio/istio/blob/release-1.1/pilot/pkg/kube/inject/mesh.go#L72) option in [hardcoded sidecar template](https://github.com/istio/istio/blob/release-1.1/pilot/pkg/kube/inject/mesh.go) to control the docker image used. However, there is no debugMode option in sid

[2019-04-12 02:44] mathspanda commented on #13263
/assign

[2019-04-12 03:22] FengLiqiong opened #13265 "statsInclusionPrefixes does not work with ingressgateway"
**Describe the bug**
Can not configure ingressgateway to record statistics for inbound or outbound traffic by adding the sidecar.istio.io/statsInclusionPrefixes annotation to the pod template in the  ingressgateway deployment.

**Expected behavior**
statsInclusionPrefixes can apply to ingressgateway, or there is another way to configure ingressgateway to record statistics for inbound or outbound t

[2019-04-12 03:56] jon-whit commented on #13210
@liminw I figured out the issue. The issue was that I had the OPA handler being invoked on every request coming into the service mesh. Because there existed only one Policy on the `productpage` service, the request was unauthorized at the `istio-ingressgateway` layer. I setup the opa-rule so that it matches only on requests coming into the `istio-ingressgateway` and that worked great.

---

@diemt