[2020-12-15 04:59] howardjohn commented on #29608
drive by comment: I am not familiar with the code, but as I user I would expect the config yaml in the issue to work. Port should not be required

[2020-12-15 05:02] #24283 closed

[2020-12-15 05:05] #26909 closed

[2020-12-15 05:05] su225 commented on #29439
@morvencao - I tried it today and still same problem
[code]

@shamsher31 - sorry. I forgot that. But it is happening even when both are official releases (here, 1.8.0 and 1.7.0).  This is today's run and it failed again - https://storage.googleapis.com/istio-prow/logs/istio-downgrade-using-istioctl-1.8_latest-1.7_latest/1338695343969144832/build-log.txt

[2020-12-15 05:10] morvencao commented on #29608
AFAIK, that's one of the differences between the build-in gateway and customized gateway.
We don't specify the `ports` in values.yaml or profile for customized gateway, that's why we need to manually specify the `ports`.

[2020-12-15 05:39] howardjohn opened #29635 "panic: not reached in test"
https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/29621/integ-security-multicluster-tests_istio/1338703682866253824/artifacts/security-ef93a509646a40f2a8f953/TestReachability/_test_context/test-ns1-2-95325-state892005038/cluster-0/b-v1-5c577469d4-9nv6p_istio-proxy.previous.log

seems in response to xds

[2020-12-15 06:09] shamsher31 commented on #29439
@su225 The fixed is just [cherry-picked for `1.8`](https://github.com/istio/istio/pull/29288). We also need to cherry-pick the same for `1.7` as downgrading to a lower version requires `1.7` binary. I will do a manual cherry-pick for `1.7`. Thanks.

[2020-12-15 06:14] anyyyy commented on #24941
Me too. Please some Istio team member help us.It is an occasional situation. Sometimes when a large number of services are started, the number of probe detection failures becomes more and more blocked.

[2020-12-15 06:17] swzhou commented on #29599
@howardjohn
Hi John, thanks for providing the fix. I just carefully go through the commits and code mentioned in #26394  and happen to find that all commits are already included in Istio 1.7.0 version - the version we are currently using in our environment.
So I think the fix provided may not solve my issue...
Would you help to check / confirm? Thanks.

[2020-12-15 06:21] howardjohn commented on #29599
I see, sorry I forgot it was in that version. Can you provide the istiod logs then? and the pod name that got the 503 so we can search for it in istiod logs. Thanks!

[2020-12-15 06:21] howardjohn commented on #29599
also if possible testing 1.8 would be useful

[2020-12-15 07:09] swzhou commented on #29599
@howardjohn
Try to reproduce the issue again and here is the zipped log file: [logs.zip](https://github.com/istio/istio/files/5693899/logs.zip) , where "istiod.log" is log from istiod and "503NR-envoy.log" is log from envoy of 503 pod named spring-traffic-server-normal-5fbb954ff-w6ltl inside devops namespace.

Here is the 503 error and connection (connection number: C435069):

[2020-12-15 07:19] swzhou commented on #29599
By the way, I can see 503 NR happened at both the connecting stage, and the disconnecting stage, where envoy disconnect from the old istiod. I guess it might be the same issue.

[2020-12-15 07:32] mathetake commented on #27783
once update cpp-host to the latest, this is closed via https://github.com/proxy-wasm/proxy-wasm-cpp-host/pull/114

[2020-12-15 08:25] foshantiger opened #29638 "Productpage pod in bookinfo sample reports 404"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
Productpage pod reports lots of 404 code. That's because the productpage index file uses bootstrap.min.css and  bootstrap-theme.min.css. When open

[2020-12-15 08:50] cagataygurturk commented on #29597
I was wrong with saying „always redirects to http“ in the issue description. Envoy detects the current scheme of the request and then redirects to that scheme. For https requests it will always return to https also. But the request scheme does not have to necessarily be the scheme of the redirect target.

The potential use case is, users may need to redirect to an http endpoint from a https reques

[2020-12-15 09:01] ramaraochavali opened #29639 "DNS Proxy captures traffic to port 53 from all containers in the POD"
When DNS Proxy is enabled,  it sets up iptable rule to capture outgoing traffic to port 53. This creates problems if there are other init containers that gets executed after istio init, the DNS queries would be routed to DNS proxy and if proxy is not yet ready by that time, the init container fails to connect to DNS server and crashes.  Ideally we should only capture port 53 traffic originating fr

[2020-12-15 09:04] lklkxcxc opened #29640 "[WARNING] Cluster: unable to connect to peer"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
The container deploys Proxysql cluster everything is all right, After istio grid service is enabled, port 6032 connection error is reported. , but

[2020-12-15 09:12] #26949 closed

[2020-12-15 09:40] ramaraochavali commented on #29639
@howardjohn @hzxuzhonghu created this issue as discussed. Please add any additional details if I missed

[2020-12-15 09:52] shamsher31 commented on #29638
Chrome DevTools use `.map` files and are used for debugging CSS.

![dev-tools](https://user-images.githubusercontent.com/2920003/102195786-107d1d80-3ee5-11eb-8f39-d63a522e5ccf.png)

@frankbu Not sure if any user debugs CSS for Bookinfo sample. If this is critical we should also copy `.map` files.

We are already copying static assets.
https://github.com/istio/istio/blob/643406e6c992254442d03b4875e

[2020-12-15 10:16] svrakitin commented on #29608
@morvencao It was working before. I downgraded back to 1.7.5 and it says that spec.ports is required as you mentioned. Not sure how we avoided that on 1.7.5🤔 I worked around it by specifying default ports explicitly and it even works on 1.8.1.

We run multiple ingress gateways in multi-tenant cluster. I expect every gateway service to use default ports if not mentioned otherwise. It seems like it

[2020-12-15 10:44] aaaaahaaaaa commented on #29563
@shamsher31 Is there a recommended configuration as a workaround? I'm experiencing the same issue with a pristine GKE cluster using the default Helm installation for 1.8.1.

[2020-12-15 12:05] omerfsen opened #29642 "spec.values.global.defaultNodeSelector is not applied to all components"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

pilot nodeSelector does not work

istiod

[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test

[2020-12-15 12:06] zhaojizhuang opened #29643 "istio-ingressgateway HTTP probe failed with statuscode: 503"
**Bug description**

After installed with `istio-operator`, istio-ingressgateway  `Readiness probe failed: HTTP probe failed with statuscode: 503`

**Part of ingress-gateway'logs as follows:**

[code]

[x] Networking

**Expected behavior**
ingress-gateway works well

**Steps to reproduce the bug**

**Version** (include the output of `istioctl version --remote` and `kubectl version --short` and `he

[2020-12-15 12:35] guyromb commented on #22400
I implemented this @IbraheemAlSaady : https://github.com/istio/istio/pull/27326
However, not merged yet.

[2020-12-15 12:49] aaaaahaaaaa commented on #29563
@shamsher31 Is there a recommended configuration as a workaround? I'm having the same issue on a pristine GKE cluster with 1.8.1. I tried installing both with istioctl and the operator.

[2020-12-15 12:51] aaaaahaaaaa commented on #27501
Is there currently a workaround for this? I'm encountering the same issue on a pristine GKE cluster when trying to install 1.8.1 with the default configuration. I tried to install via istioctl, the operator and also Helm.

[2020-12-15 13:42] hzxuzhonghu commented on #29597
sounds reasonable

[2020-12-15 13:45] alonsocamaro commented on #26002
Can you please elaborate?

[2020-12-15 14:35] NormanFoxLee12 commented on #29567
@jtrbs
yes, this one:
[code]

[2020-12-15 14:58] SachinVarghese commented on #26984
Found the same issue with Istio v1.7.3
[code]

[2020-12-15 15:39] howardjohn commented on #29643
Can you post more info about your config (services, service entry, gateway, vs) on port 8081 and get a config dump (https://github.com/istio/istio/wiki/Troubleshooting-Istio)? or fill out http://istio.io/help/bugs/#generating-a-cluster-state-archive

[2020-12-15 15:46] howardjohn commented on #27330
not stale(?)

On Mon, Dec 14, 2020 at 9:06 PM Istio Policy Bot <notifications@github.com>
wrote:

[2020-12-15 15:50] #28981 closed

[2020-12-15 15:57] howardjohn commented on #29599
Can you try 1.7.6 or 1.8? I think this may be fixed in https://github.com/istio/istio/pull/26918

[2020-12-15 16:21] istio-testing opened #29645 "[release-1.8] audit policy integration test with fake stackdriver"
Manual cherrypick required.

#28680 failed to apply on top of branch "release-1.8":
[code]

[2020-12-15 16:29] linsun commented on #24018
Hi @howardjohn could you explain how this can be used at pod level for 1.8?  I don't see anything related to stop or prestop in https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/#ProxyConfig.

[2020-12-15 16:34] howardjohn commented on #24018
https://github.com/istio/istio/blob/cf657ff502e296ab9638248456e3ad7af2715e2e/pkg/kube/inject/testdata/inject/proxy-override.yaml#L43 is an example. you just define an `istio-proxy` container in the pod

[2020-12-15 16:41] linsun commented on #29618
Thanks @howardjohn. If the injection template cm lives in the same cluster as the injection webhook server, which is external istiod cluster, how would it get the cni enabled config?

[2020-12-15 16:42] howardjohn commented on #29618
The external istiod admin would configure it. Or you can configure it to read the template from their cluster, but ultimately there is exactly one place its controlled

[2020-12-15 16:47] howardjohn commented on #29635
same test, same Service in another cluster at the same time: https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/29621/integ-security-multicluster-tests_istio/1338703682866253824/artifacts/security-ef93a509646a40f2a8f953/_suite_context/test-ns1-2-95325-state-173273657/cluster-4/b-v1-66bd576684-fc2ft_istio-proxy.previous.log

[2020-12-15 16:47] howardjohn commented on #29635
Address (0x53900000011) is nearly identical to address in  (0x53900000010) https://github.com/istio/istio/issues/27664

[2020-12-15 16:56] linsun commented on #29618
You mean additional config by external istiod admin beyond what is installed?

The reason I'm bringing this up is to see if we should read injection template from config/remote cluster as the single source of truth.  This will aligns with what is configured on the config/remote cluster, e.g. cni enabled.

[2020-12-15 16:59] howardjohn commented on #29618
@linsun yes. Either external istiod cluster has the injection template, in which case they need to configure it as they see fit, or its read from the remote cluster. The same thing applies to mesh config. I think both are viable, depending on the use case.

[2020-12-15 17:04] zhaojizhuang commented on #23283
I am facing the same error https://github.com/istio/istio/issues/29643

[2020-12-15 18:08] linsun commented on #24018
I see, that is overwritten the istio-proxy container.  I had thought users could use annotation for this without providing istio-proxy container along with their app container.

[2020-12-15 18:12] ltdeoliveira commented on #26522
Any comment from Istio team on this issue? This migration to 1.6.x is easily my WORST experience with Istio, bug after bug.

[2020-12-15 18:14] howardjohn commented on #24018
@linsun the new injector allows overriding arbitrary fields in the istio-proxy container. It is not overwritting it - its merged with the injected container. For example,  a minimal one:
[code]

[2020-12-15 18:53] howardjohn opened #29648 "vm healthchecking: be resilient to XDS disconnects"
Because we only send state transitions, we may miss updates. For example, if we are not connected to any XDS when we transition, it will be dropped. If we switch to another Istiod, it *might* be dropped, depending on how we handle the status

[2020-12-15 19:44] linsun commented on #24018
Very cool!  Saw it in the proxy-override.yaml.injected now.  Thanks @howardjohn - I agree this can be closed. :)

[2020-12-15 21:18] nmittler commented on #29308
@martin2176 sorry this fell off my radar: https://github.com/istio/istio/pull/29650

[2020-12-15 21:43] gargnupur commented on #29258
Can you enable debug logs and post logs from proxy and rate limit service?

[2020-12-15 22:37] howardjohn commented on #29160
Trying again with improvements to the test.

Cluster is 4xn1-standard-32, I have 3 pods: istio-http, envoy-http, and envoy-like-istio, and another load gen client with no sidecar. All are on their own nodes. I have all envoyfilters removed, and mtls disabled.

Varying qps:
[code]

Varying connections:
[code]

Reboot all pods to get them into different nodes to account for hardware differences:
[co

[2020-12-15 23:44] howardjohn commented on #29160
retrying above with access logs

[code]

[code]

[2020-12-16 00:04] keerthig9 opened #29654 "Istio standard service metrics not showing up in prometheus"
**Bug description**
We have prometheus with prometheus operator installed in our cluster and we don't use Istio prometheus. We were using ServiceMonitor to integrate Istio metrics with prometheus. For 1.4.5 version we used below ServiceMonitor config to query mixer for Istio standard metrics in https://istio.io/latest/docs/reference/config/metrics/#metrics.

[code]
Once we migrated istio from 1.4.

[2020-12-16 00:41] swzhou commented on #29599
Thanks John.

Do you mean the full push happened at "2020-12-15T06:55:47.900311Z"?

Meanwhile I can see 503 NR happened at 2020-12-15T06:56:00.384594Z, which is 12~13 seconds after the full push. But the requests right before / after [C435069] seem to be ok?

[2020-12-16 00:42] keerthig9 commented on #29654
We have prometheus rules configured which uses below istio metrics
* istio_requests_total
* istio_request_duration_seconds_bucket
* istio_request_bytes_bucket

Let me know how to get these metrics to prometheus.

[2020-12-16 01:52] #29640 closed

[2020-12-16 03:33] pantianying commented on #26522
How is the settlement going now？I meet the same question

[2020-12-16 05:00] #12400 closed

[2020-12-16 05:04] #26968 closed

[2020-12-16 05:50] max0ne commented on #29273
I traced through the code and logs, and I'm now convinced the culprit is this `debounce` function.
https://github.com/istio/istio/blob/release-1.6.4-patch/pilot/pkg/proxy/envoy/v2/discovery.go#L289

In logs of a known malfunctioning istiod pod, the debounce function logging stopped right before the last update it received, afterward it never logged any more debounce execution log statement, and th

[2020-12-16 05:53] max0ne commented on #29273
This is observed in `1.6.4`, however the function looks unchanged comparing to master, except for some global variables are turned to function parameters

[2020-12-16 05:58] #29645 closed

[2020-12-16 06:25] haniceboy commented on #29113
Does anyone know what happened here?

[2020-12-16 06:26] #26979 closed

[2020-12-16 06:33] manmaujin2 commented on #21368
@sanketdayma96 , may I know how can you inject the cert into the envoy proxy ? Are you manually inject the cert into the envoy proxy into container or have any other setting to config envoy proxy can inject cert when deploy ?

[2020-12-16 06:37] #24420 closed

[2020-12-16 07:03] du2016 opened #29656 "istiod should be start if mcp-xds-server not start"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

if the mcp-xds-server is not start,the istiod will return err and exit,i think istiod should be start whenever mcp-xds-server  is start or not

**Describe alternatives you've considered**

log an error and continue start

**Affected product area (p

[2020-12-16 07:18] manmaujin2 opened #29657 "Request config to inject the SSL certificate into envoy proxy and perform the SSL termination in sidecar level"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
In order to perform the traffic management in pod to pod level and we would like to perform SSL Term in application sidecar. Current envoy proxy has documents mention that can define the cert location in envoy container through EnvoyFilter resource.

[2020-12-16 08:26] omerfsen commented on #29642
Putting nodeSelector to

"spec.values.pilot" worked but I think only providing

[code]

should apply this nodeSelector to all components but it did not work

[2020-12-16 09:01] #29445 closed

[2020-12-16 09:14] shenkonghui commented on #29643
I have encountered this problem many times. There are the following reasons.
1. No service created select this pod
2. Too many global services, causing performance problems

The first reason is to create a pod.
If you have a lot of services, more than 5000, this problem may occur.

You can use the following command to verify.
[code]
This is because each istio-proxy needs to pull the global configu

[2020-12-16 10:12] lut777 opened #29658 "envoy metric, port 15090 stays not available for 2 mins"
**Bug description**

I tried new DNS CAPTURE feature based on /manifests/profile/preview from blog https://istio.io/latest/blog/2020/dns-proxy/

After I change telemetry:v2:metadataExchange:wasmEnabled to "true", situation changes.
Pod stays not running because envoy is not ready.
envoy is not ready because 15090 is not ready as following.
`2020-12-16T09:53:37.416278Z	error	failed scraping envoy m

[2020-12-16 11:25] shamsher31 opened #29659 "External Control Plane: MountVolume.SetUp failed for volume "istiod-ca-cert" : configmap "istio-ca-root-cert" not found"
Ref: https://preliminary.istio.io/latest/docs/setup/additional-setup/external-controlplane/#set-up-the-control-plane-in-the-external-cluster

Setting up the control plane in the external cluster fails with error.

[code]

[code]

[code]

The error says
[code]

I think [third party service account tokens](https://istio.io/latest/docs/ops/best-practices/security/#configure-third-party-service-accoun

[2020-12-16 11:58] morvencao commented on #29633
IN

In this case, if we add labels for the empty CrName and CrNamespace, the operator will also override, not prune the istio resources, because there is no revision specified, so the resource names are identical for both IOPs.

[2020-12-16 13:48] tommeramber opened #29662 "Unable to delete SMMR after deleting the SMCP"
I wanted to clean my project so I deleted the SMCP before I deleted the SMMR,
Then I tried to delete the SMMR but I wasn't able to, I also tried to delete the operator, re-install it, create new SMCP, and check the status of the SMMR but it still presents "ErrSMCPMissing" and I'm unable to delete it - the same outcome for force deletion which didn't work.

$ oc get smcp
NAME    READY   STATUS

[2020-12-16 15:03] howardjohn commented on #29633
the use case is to have gateway defined in separate iop

[2020-12-16 16:06] sonnysideup commented on #29359
@bryankaraffa I got this working somewhat in AWS but let me re-describe my full setup for context:

- Using **Primary-Remote on different networks** setup
- Running two AWS EKS clusters inside separate VPCs
- Each EKS cluster spans 2 AZs with 2 public and 2 private subnets
- Currently creating LBs for K8s API / Istio ingress-gateway / Istio eastwest-gateway inside public subnets (i.e. open access)

[2020-12-16 17:15] varun-krishna opened #29666 "Blocked(v 1.6.8) in creating istio-certs(/etc/istio-certs) for prometheus with metadata annotations using proxy.istio.io config"
Unable to fetch the certs for prometheus using the metadata annotations as specifed in istio docs

Istio version : v 1.6.8

Below is the spec used
[code]

Any help here would be really helpful

[2020-12-16 18:10] esnible commented on #26492
Closing.  Verified that the onTick() stops being serviced after 1 minute.  This is strange ... I expected onTick() to stop receiving service instantly, but 1 minute is reasonable for shutting down the plugin.

[2020-12-16 18:10] #26492 closed

[2020-12-16 18:13] tbarrella commented on #28620
Thank you

So it looks like https://github.com/envoyproxy/envoy/pull/14382 and https://github.com/envoyproxy/envoy/pull/14411 completely rewrote this code path for aggregate cluster to fix the Envoy issue https://github.com/envoyproxy/envoy/issues/14119. I'd expect that to fix this issue, too. Those changes aren't trivial to backport though (the first involves changes to Envoy internals)

Because

[2020-12-16 18:22] bianpengyuan commented on #28620
@tbarrella I am worried that this will require a skip version istio upgrade for user of aggregated cluster, which is not supported. Is there a  short term fix that we could make for 1.8 proxy only?

[2020-12-16 18:26] lambdai commented on #29113
Yeah, reaching the likely value of Send-Q highly indicated that envoy stop accepting new requests.

I cannot explain why envoy is doing this: Envoy is simply polling the listening sockets and accept. Envoy would rather crash if accept() fails.

The reasonable cause is Envoy is told not to accept new connections. AFAIK, In Istio world port 15006 and 15001 are always legit listeners until the contai

[2020-12-16 18:46] tbarrella commented on #28620
Do you mean that this issue didn't occur in 1.7?

[2020-12-16 18:51] bianpengyuan commented on #28620
Yeah I believe that is the case, but @harveyxia can confirm.

[2020-12-16 18:56] harveyxia commented on #28620
I can confirm that this issue did not crop up in istio 1.7 for us

[2020-12-16 19:01] lambdai commented on #29603
Thank you for the description!

Due to the traffic capture, the ultimate tcp connection to the service application is established by the proxy(envoy), so the peer ip seen by the service application can never be the client pod ip anyway.

Currently the only way to obtain the original client pod ip is to bypass the capture.
I can add the document somewhere in the wiki or FAQ

[2020-12-16 19:02] tbarrella commented on #28620
Hm, @mattklein123 do you know if the fixes for https://github.com/envoyproxy/envoy/issues/14119 will/should be backported to Envoy 1.16?

[2020-12-16 19:10] lambdai commented on #24148
@zhaohuabing @willemm There is no well-guaranteed approach. But yes I think we can deduct whether the istio rules are injected already from the existing iptables rules.

[2020-12-16 19:22] lambdai commented on #24148
I am not fully sure but my guess is either `docker container rm` or `docker container prune`. Manually running docker cmd on the node acts as a backdoor of kubelet. Not an expert but I believe it's undefined behavior to k8s.

[2020-12-16 19:27] yanniszark commented on #29603
@lambdai thanks for your answer! But I don't think it explains the reason for choosing that address.

Agreed, because the TCP traffic is proxied, the server can't see the client's original address. But WHY choose `127.0.0.6`? And why use `127.0.0.6` when proxying an undeclared port, but `127.0.0.1` when proxying a declared port?

To reproduce what I'm saying:
1. Start a client and server Pod, alon

[2020-12-16 19:54] mattklein123 commented on #28620
I think it's possible that there is a simpler fix for 1.16 only, which may involve just initializing the TLS slot to nullptr, but I'm not sure. cc @lizan who might know.

[2020-12-16 20:19] howardjohn commented on #29659
where does "failed to fetch token: the API server does not have TokenRequest endpoints enabled"
 come from?

[2020-12-16 20:20] howardjohn commented on #29656
If we start without the config we may end up not sending RBAC configs (security bypass) or traffic rules (break traffic). I don't think fail open is a safe mechanism for config discovery

[2020-12-16 20:21] howardjohn commented on #29662
Please open in maistra support, these are not a part of istio organization.

[2020-12-16 20:21] #29662 closed

[2020-12-16 20:24] howardjohn commented on #29658
Can you turn on debug logs in envoy and post them here from startup? https://github.com/istio/istio/wiki/Troubleshooting-Istio

[2020-12-16 20:24] howardjohn commented on #29657
This is not currently supported

[2020-12-16 21:14] FENGXIANGLI commented on #16585
there seems a discussion about this in the community concerning about the security risk @yangminzhu do you have any updates for this regex supporting?

[2020-12-16 21:35] rhino-harley opened #29669 "Persistent 503 errors after killing pod in upstream headless service"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
We are using Istio 1.5.4 and have started using a headless service to get direct pod to pod communication working with Istio mTLS. This is all wor

[2020-12-16 21:46] lizan commented on #28620
@tbarrella you may try to backport https://github.com/envoyproxy/envoy/pull/14388 to 1.16.x to see if it works with the reproducer posted in https://github.com/envoyproxy/envoy/issues/14119. It didn't work on master branch but worth a try.

[2020-12-16 21:52] hxn36 commented on #29427
I'm seeing this issue to all POST requests where its returning header with `Transfer Encoding: Chunked`. We see envoy adding one more chunked to it, making it `Transfer Encoding: chunked chunked` and because of this istio is retrying the request twice and eventually throwing `503`s. This got fixed my running the command above which I commented.

[2020-12-16 22:18] jtrbs commented on #29567
Hi @NormanFoxLee12, thanks for sharing! So the expected behavior in the case 1 is ``` When the request's token has no value within "iss" in the claim and the request tries to reach path not started with "/test/", deny the request. ```. Thus ```1) If the request has token with value in iss, it should not be denied. 2) If the request has empty iss in the claim, but it reaches /test/*, it should not

[2020-12-16 22:25] jtrbs commented on #29567
Is this something recently used to work but recently broken or a new usage?

[2020-12-16 22:31] connatix-cradulescu commented on #28428
@lambdai Thank you! I did observe I do have better results on the http2 upgrade. I will test with max_requests_per_connection and connection_idle_timeout and see what results I do have. I will give it a try after the holidays.

Thank you!

[2020-12-16 22:51] ceastman-ibm opened #29670 "istio 1.8 proxy-status CDS Stale"
[bug-report.tar.gz](https://github.com/istio/istio/files/5705977/bug-report.tar.gz)

(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
istioctl proxy-status is showing CDS: STALE (Never Acknowledg

[2020-12-16 22:52] sanketdayma96 commented on #21368
I created a configmap consisting of the certs and mounted it in the sidecar using the userVolume and userVolumeMount annotations. Hope this helps.

[2020-12-16 22:58] FENGXIANGLI commented on #26570
could we close it?

[2020-12-16 22:59] howardjohn commented on #26570
it should be closed when the test is re-enabled

On Wed, Dec 16, 2020 at 2:58 PM FENGXIANGLI <notifications@github.com>
wrote:

[2020-12-16 23:08] darkstarmv commented on #23457
I finally got some time to do more testing with `istio-cni` v1.8.1 and Kubernetes `v1.18.12`, but with the same result:
[code]
[code]

[code]

[code]

[2020-12-16 23:22] tbarrella commented on #28620
Thank you for pointing me to that PR; it's much easier to backport! I opened https://github.com/envoyproxy/envoy/pull/14456 which didn't crash when I tried to reproduce https://github.com/envoyproxy/envoy/issues/14119. I haven't confirmed yet that it fixes this issue

[2020-12-16 23:34] FENGXIANGLI commented on #26324
@howardjohn you mean this is worked on 1.4? @howardjohn is his workaround ok to do the fix? or do we need to do any code change to mitigate this case?

[2020-12-16 23:49] FENGXIANGLI commented on #26324
need to add some tests to cover it.

[2020-12-16 23:58] williamaronli commented on #26324
@howardjohn you mean this is worked on 1.4? @howardjohn is his workaround ok to do the fix? or do we need to do any code change to mitigate this case?

need to add some tests to cover it.

[2020-12-17 00:36] williamaronli commented on #19987
it seems code here(https://github.com/istio/istio/blob/master/pilot/pkg/bootstrap/certcontroller.go#L121-L124) is not ever hardcoded could we close it?

[2020-12-17 00:40] williamaronli commented on #26324
@myidpt could you take a look ? which kind of test we need to add to cover this case?

[2020-12-17 00:46] williamaronli commented on #25652
any update for the caCertificates? @nrjpoddar

[2020-12-17 01:07] williamaronli commented on #16585
there seems a discussion about this in the community concerning about the security risk @yangminzhu do you have any updates for this regex supporting?

[2020-12-17 01:07] #29648 closed

[2020-12-17 01:15] incfly commented on #28798
I clicked through the link and having a bit trouble to connect the dots.

[code]

This line is only looking at the endpoint label. The label is the result of the injection. And it's not taking PeerAuthenticatoin into account.

What are the characteristics of those enpdoints? With sidecar injected but configured as plaintext, therefore cross cluster traffic fails?

[2020-12-17 01:18] stevenctl commented on #28798
Yes, we require TLS for SNI routing through the gateway. This doesn't fail for cross-cluster, single-network. Only cross-network traffic fails.

[2020-12-17 01:24] williamaronli commented on #24714
can I just skipped it for future research?

[2020-12-17 01:24] howardjohn opened #29672 "Add annotation to configure agent log level"
Especially useful now that more stuff is moving there, like xdsproxy, dns, etc

[2020-12-17 01:24] williamaronli commented on #24870
how about we skipped it?

[2020-12-17 01:25] williamaronli commented on #24665
do we have any update for this issue?

[2020-12-17 01:27] williamaronli commented on #21841
could I assign it to you @yangminzhu about the authz policy as I find there are some linked issue may related to this:

https://github.com/aboullaite/service-mesh/issues/9
https://github.com/aboullaite/service-mesh/issues/7

[2020-12-17 01:28] incfly commented on #28798
I see. To answer the question, yes, I think we gather the PeerAuthentication config at the time when push context is initiated. If we consult that, it should be able to tell whether endpoints are plaintext or not.

https://github.com/istio/istio/blob/71b72657e075226cf5be47db9da0320ebe3e0481/pilot%2Fpkg%2Fmodel%2Fpush_context.go#L1146

Though I would look into how the client side auto mTLS decision

[2020-12-17 01:31] williamaronli commented on #27235
assign it to @hzxuzhonghu this pr should fix the issue https://github.com/istio/istio/pull/27105

[2020-12-17 01:38] williamaronli commented on #27409
assigned to @yangminzhu about potential compromise about bypassing authorization policy rules without security check

[2020-12-17 01:40] williamaronli commented on #27433
@howardjohn could you take a look this seems that **networking.istio.io/v1alpha3","kind":"ServiceEntry"** service entry issue. thanks

[2020-12-17 01:46] williamaronli commented on #27575
@howardjohn  who should be the doc team to deal with the doc change. first assign it to you howard and you can assign back to other person who is reponsible for the doc change thanks

[2020-12-17 01:47] howardjohn commented on #27575
@istio/wg-security-maintainers

[2020-12-17 01:49] williamaronli commented on #27784
it seems a doc updated issue could we move it to backlog?

[2020-12-17 01:55] williamaronli commented on #27945
@hzxuzhonghu  what we did is simple setting backoff retry from client side(1,2,4,8,...) will resolve this? some

@howardjohn https://github.com/istio/istio/pull/28808 is this change in QPS resolve this issue?
thanks assign it to you howard

[2020-12-17 01:56] howardjohn commented on #27945
https://github.com/istio/istio/pull/28808 just mitigates it, long term solution is to migrate to OIDC

[2020-12-17 02:06] williamaronli commented on #28480
@djannot have you resolve the issues If it is I will close this PR

[2020-12-17 02:07] williamaronli commented on #28367
add it to doc backlog

[2020-12-17 02:08] williamaronli commented on #28524
@yangminzhu could you take a look thanks

[2020-12-17 02:10] williamaronli commented on #28575
the sds agent will be responsible for cert rotation. @myidpt @shankgan could you clarify whether this plugin CA will use the sds agent?

[2020-12-17 02:15] williamaronli commented on #28734
@infa-sanaik have you tried the method morvencan provide to mitigate this issue?

[2020-12-17 02:18] williamaronli commented on #28756
@chethan-89 assign it to you

[2020-12-17 02:27] williamaronli commented on #29443
add to backlog for the log enhancement

[2020-12-17 02:38] williamaronli commented on #29313
can we just skip it @howardjohn

[2020-12-17 02:40] feimeng1029 opened #29674 "Why is there no serviceregistry of Consul in istio1.8? Is it because it is not supported?"
I found that the 1.7 version also has Consul's servicereistry, but it is gone after 1.8.

[2020-12-17 02:45] hzxuzhonghu commented on #29656
Agree, we donot want to make things complicated during bootstrap.

[2020-12-17 02:48] feimeng1029 commented on #29674
i found release notes   **Removed** compiled in support for Consul service registry. Integration will be done using XDS in the future.

[2020-12-17 03:01] morvencao commented on #29633
Yes, separate gateway case works the fix, because there are no istio resources with same names for different IOPs.

[2020-12-17 03:10] xu1zhou commented on #29629
From Tencent's guys' [share](https://youtu.be/ILDiSDBenIA?t=670) (sorry, it's in Chinese).  it bring 5-8% improvement on latency.   Since that's roughly result, we plan to use cilium replace iptables  and have more detailed benchmarks.

Given kernel/OS upgrade is a hard work for many user, is that Ok for ebpf work as a alternative plan at 1st stage? leave decision to user to choose which backend i

[2020-12-17 03:14] howardjohn opened #29675 "dns response size is larger from dns proxy"
With proxy:
[code]

Without proxy
[code]

Note sure why the MSG SIZE is 60 bytes larger in the proxy

[2020-12-17 03:18] howardjohn commented on #29629
@xu1zhou is that 5% including the envoy overhead? if so that is pretty decent. If its 5% of raw iptables vs ebpf, which is ~0.1ms, that is likely to be small amount of improvement when we consider that adding envoy is already adding multiple ms.

Do you have any details? The video looks very interesting but I do not speak chinese

[2020-12-17 03:18] yangminzhu commented on #28524
@tony-liuliu yes that is exactly the case. To fix this, you can add the workload port (`8080`) of the ingressgateway service to the DENY policy so that it will only applies to the HTTP filter chains.

[2020-12-17 03:21] #26266 closed

[2020-12-17 03:24] howardjohn commented on #29629
https://juejin.cn/post/6864490027817779207 + google translate seemed to give some good info

[2020-12-17 03:36] feimeng1029 commented on #29674
Maybe it will use mcp or mcp-over to achieve

[2020-12-17 03:36] #29674 closed

[2020-12-17 03:39] yangminzhu commented on #27409
This is working as intended in Istio based on the current Envoy implementation. Please open the issue in Envoy for further discussions if you think the behavior should be changed in Envoy.

[2020-12-17 03:39] #27409 closed

[2020-12-17 04:31] carolynhu opened #29676 "manifest diff command is broken"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**

when i run:

[code]

it outputs: `Manifests are identical` which should not.

Need to give a fix on this bug, also, need to improve istio.io isti

[2020-12-17 04:32] carolynhu commented on #29153
bug found and filed: https://github.com/istio/istio/issues/29676

[2020-12-17 04:48] carolynhu opened #29677 "profile diff cannot compare two profiles directly unless `--manifests manifests` is set"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
The correct/workable usages of profile diff from a downloaded istio release are:
(1)
[code]
(2)
[code]

but when I following the istio.io instruct

[2020-12-17 05:00] VIjayHP commented on #29269
@jellebens Does Istio (any version) has published it's docker images which supports Multi Architecture ( x86, ppc64le etc..) ?

[2020-12-17 05:02] #24436 closed

[2020-12-17 05:02] #24439 closed

[2020-12-17 05:04] #26975 closed

[2020-12-17 05:16] #26522 closed

[2020-12-17 05:42] morvencao commented on #29676
@carolynhu Have you tried `istioctl profile diff default preview`? `istioctl manifest diff` is used to check the istio manifests differences.

[2020-12-17 05:44] carolynhu commented on #29676
- `istioctl profile diff default preview`
this works, but i just filed another issue related to this for other issues i found.

- istioctl manifest diff is used to check the manifests differences.
it should also able to compare profile yaml as well

[2020-12-17 05:59] mandarjog commented on #29658
@lut777 This is *only* happening when you turn on Wasm, is that correct? How much CPU is allocated to the proxy?

@bianpengyuan @kyessenov This sounds like the initial cpu spike while loading wasm module. Do we expect to see the problem in 1.8?

[2020-12-17 06:07] kyessenov commented on #29658
It could be under-provisioned CPU. Maybe bump up limits on istio-proxy and see if that helps?

[2020-12-17 06:08] anyyyy commented on #29542
I have also encountered this situation. `Ingressgateway` and `egressgateway` have repeatedly failed probes and returned to normal. I hope to get help.
### Events
`
Events:
  Type     Reason     Age                 From             Message
  ----     ------     ----                ----             -------
  Warning  Unhealthy  14m (x868 over 8d)  kubelet, slave3  Readiness probe failed: Get http://

[2020-12-17 06:08] lut777 commented on #29658
@mandarjog correct. I did not mention it because I'm not pretty sure.
@howardjohn I list the log, and there are 550000+ lines in log files. I'm not pretty sure U want to read it.
@kyessenov I am trying it now.

[2020-12-17 06:09] incfly commented on #28742
Aha, nice! Thanks for bringing up this!

I have seen at least two occurrences of this use case: a.k.a the JWKS issuer is within the service mesh itself. We find that since it's istiod fetches the public key, when the JWKS service enables the mTLS, Istiod would be unable to access that, since it only talks in HTTPs or HTTP.

I'm wondering what's the motivation you see to use this `RemoteJwks`? Is i

[2020-12-17 06:24] lut777 commented on #29658
@mandarjog @kyessenov I checked out the IstioOperator, the default resources limit for CPU is 2000m. I think this is already a very large number now...
I will give proxy more limit CPU and observe the result. However, even it works, I will consider it an inelegant solution.

[2020-12-17 06:27] hzxuzhonghu commented on #27235
Note: Based on this https://github.com/istio/istio/pull/28644#pullrequestreview-530609148, we did not cherry-pick it back to 1.6.

[2020-12-17 06:27] #27235 closed

[2020-12-17 06:47] bianpengyuan commented on #29658
The default requested CPU is pretty low I think? Could you increase that and try again? Just to make sure that we get enough CPU on the node.

I think 2.5 mins is much longer than what I have observed before. My memory is very vague but I think it was around 1 min. However no matter it is one minute or more than two minutes, I agree this is definitely a bad experience and needs improvement. We hav

[2020-12-17 06:55] stevenctl commented on #28798
So if i understand correctly this is mostly related to the TLSContext on the cluster, not info directly on the lb endpoints. I'll have to look into a way to reference that in the eds flow with minimal recomputation.

I did notice that we surround the `buildAutoMtlsSettings` call with a check that we're not in sni-dnat mode.

https://github.com/istio/istio/blob/f1aa586d3a2d0abd922d50077465ed96c53ff

[2020-12-17 07:03] du2016 commented on #29656
OK,i have understand, thanks

[2020-12-17 07:03] #29656 closed

[2020-12-17 07:10] lut777 commented on #29658
@bianpengyuan I change request CPU to 1000m, stil 2mins+. I also increase request memory to 1024Mi, and nothing changed.
The cluster I am in is with thousands of pods/svcs and hundreds of serviceentries. I hope this information may be helpful.
I do like this dns capture idea, but it seems like it is not prepared. (illidan face)

[2020-12-17 07:58] mandarjog commented on #29654
1. Check if your envoy if generating metrics by execing the following command in a proxy container.
[code]
2. Check if the agent is making metrics available
[code]
If this is working then, metrics are being generated.

Next go to your `prometheus_ip:port/targets` and see if `envoy-stats-monitor` target shows up, if it does not then your installation does not support PodMonitor or is not selecting

[2020-12-17 08:06] xu1zhou commented on #29629
@howardjohn  yeah, I think you got the right artical which sumerized the points of video.  though it still in Chinese.

I've checked with a colleague who also involved in that project , the envoy overhead are included.

[2020-12-17 08:13] zhaojizhuang opened #29680 "istio-ingressgateway connection refused"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
I install istio used `./istioctl install --set values.global.hub=registry.zjcdn.com/public/istio`

**1. And Pod,svc in istio-system is as follows:

[2020-12-17 08:16] zhaojizhuang commented on #29643
I reinstall use a lower version istio,and 501 not exists,but facing a `envoy not listen 8080 in istio-ingressgateway` problem #29680

[2020-12-17 09:05] chlunde opened #29681 "Proxy agent DNS response incompatible with glibc AF_INET resolver"
**Bug description**

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expected behavior**

Well formed DNS responses accepted by all implementations.

**Steps to reproduce the bug**

* enable DNS proxy and set REGISTRY_ONLY
* add a serviceentry

[co

[2020-12-17 09:18] zhaojizhuang commented on #29680
when I dump  envoy config in `problem` pod

![image](https://user-images.githubusercontent.com/3124692/102467544-612e7b00-408b-11eb-9d77-56df627da784.png)

Under normal circumstances, it should look like this

![image](https://user-images.githubusercontent.com/3124692/102467883-cf733d80-408b-11eb-874e-5ccda2845096.png)

[2020-12-17 09:25] #24463 closed

[2020-12-17 09:54] zhaojizhuang commented on #29680
**check istiod’s log,  find that LDS  PUSH none listener**

[code]

Under normal circumstances, it should look like this

[code]

[2020-12-17 09:54] zhaojizhuang commented on #29680
/area networking

[2020-12-17 09:57] zhaojizhuang commented on #29680
cc @howardjohn

[2020-12-17 09:58] zhaojizhuang commented on #29680
/area Networking

[2020-12-17 09:59] zhaojizhuang commented on #29680
[X] Networking

[2020-12-17 10:02] shamsher31 commented on #29659
Not sure but I can see that in `describe pod` events.
[code]

[2020-12-17 10:09] dotbalo opened #29684 "Will too many listeners and routes affect performance?"
**Describe the feature request**
I have a k8s cluster with about 500 services, and then I use istio to manage a project. But I checked the listener and route of a Pod through istioctl pc listener and istio pc route, and found that this Pod has a large number of listeners and routes, including services of other namespaces. I am worried that too many listeners and routes will affect the performance

[2020-12-17 10:12] windghoul commented on #29189
try to curl 10.233.13.180:80 or check vs & gateway

[2020-12-17 10:30] ramaraochavali commented on #29684
Is this a generic concern or did you observe any specific performance issue because of many listeners/routes?

[2020-12-17 10:51] dotbalo commented on #29684
In fact, I haven't done a stress test, but I saw that there are many routes and listeners that will take up extra memory, so I want to ask if there are any relevant configurations that can block the listener and route between the namespaces, because it is completely useless.

[2020-12-17 10:53] ramaraochavali commented on #28742
Yes. mTLS is the main motivation

Yes. That is what I was also thinking.  Let Istiod detect and configure RemoteJWKS and DR/Auto mTLS will take care of mTLS settings.

While we have not used it in production yet, we have configured using an Envoy filter and in test envs it seems to work fine.  Regarding retries, since it is a mesh cluster, it should honour the retries specified in DR. It has cachi

[2020-12-17 10:54] ramaraochavali commented on #29684
Ok. Please refer to https://istio.io/latest/docs/concepts/traffic-management/#sidecars that allows you to restrict the config that a workload sees.

[2020-12-17 13:12] Demonsthere commented on #29538
Hi, @howardjohn is the related fix #29589 going to be a part of 1.8.2? If yes, when can we expect it to release?

[2020-12-17 14:09] su225 opened #29686 "Dual control plane upgrade 1.7 -> 1.8 test failure"
https://prow.istio.io/job-history/gs/istio-prow/logs/istio-dual-control-plane-upgrade-kind-1.7-1.8
https://prow.istio.io/view/gs/istio-prow/logs/istio-dual-control-plane-upgrade-kind-1.7-1.8/1339057702050992128
https://prow.istio.io/view/gs/istio-prow/logs/istio-dual-control-plane-upgrade-kind-1.7-1.8/1339420092051492864

This seems like an issue with the underlying test infrastructure
[code]
(Add

[2020-12-17 14:14] ceastman-ibm commented on #29670
i just checked another redhat openshift cluster that has nothing deployed to it with just a fresh istio 1.8.0 install and i dont see these errors in the istiod log. so something about my configuration seems to be causing it. just to reiterate, these clusters with the errors were working fine with istio 1.7.x

[2020-12-17 14:15] su225 commented on #29686
It is strange that other tests are not failing (at least not due to this reason if they do). It seems like there is a new job added in this PR  - https://github.com/istio/test-infra/pull/3052/files . @Monkeyanator - could you please take a look?

[2020-12-17 14:16] Monkeyanator commented on #29686
Yes, taking a look now. Seems like the test has been failing since merge

[2020-12-17 14:22] ceastman-ibm commented on #29670
it appears to be related to one of our envoyfilters

[2020-12-17 14:34] ceastman-ibm commented on #29670
This is the envoyfilter causing the issue:

[code]

[2020-12-17 15:13] howardjohn commented on #29629
Ok great. It sounds like this has already been implemented, at least for testing. Are you planning to bring that implementation to open source or contribute this feature?

[2020-12-17 15:21] dinesh4747 commented on #29666
Can someone please shed some light here - Even we are hell bent on Istio 1.6.8 version and getting BOY(Bring your own) Prometheus but seeing impediments while managing the Istio secrets in resolving the mTLS issue

[2020-12-17 15:40] howardjohn commented on #29680
You need a gateway and virtual service before it listens. See http://istio.io/help/bugs/#generating-a-cluster-state-archive and https://istio.io/latest/docs/tasks/traffic-management/ingress/

[2020-12-17 15:41] howardjohn commented on #29643
Can you please provide the config on port 8081?

[2020-12-17 15:42] howardjohn commented on #29659
how did you install the gateway? it should auto detect support for TokenRequest and downgrade if needed

[2020-12-17 15:43] howardjohn commented on #29189
Closing as this is working as intended, please follow https://istio.io/latest/docs/tasks/traffic-management/ingress/ingress-control/#determining-the-ingress-ip-and-ports. Thanks!

[2020-12-17 15:43] #29189 closed

[2020-12-17 15:44] howardjohn commented on #29538
@Demonsthere yes, it will be released ~1/12. A bit delayed due to holidays

[2020-12-17 16:22] bianpengyuan commented on #29658
@lut777 DNS capture feature is not coupled with Wasm enablement. Not sure if it was Wasm that makes you think DNS capture is `not prepared`. If it was something else, probably open another issue and track that?

[2020-12-17 16:24] howardjohn commented on #29658
One possibility is DNS is making envoy STRICT_DNS clusters fail to warm,
blocking startup. This is why I was hoping to see logs, as it would show
this.

On Thu, Dec 17, 2020 at 8:22 AM Pengyuan Bian <notifications@github.com>
wrote:

[2020-12-17 17:07] #29070 closed

[2020-12-17 17:35] #29670 closed

[2020-12-17 17:59] carolynhu commented on #28288
Design doc: https://docs.google.com/document/d/1fViMSQCaB8rFkqKgPgMCVyYgSgRI8Ovaw5Xbjfmall0/edit#

[2020-12-17 18:17] shankgan commented on #28575
The workload certificates are always rotated - this is handled by the Istio-agent. However, the plugged in CA Root CA cert & CA Intermediate cert don't appear to be automatically rotated by Istio. It is the user's responsibility to rotate them.

[2020-12-17 18:22] samene opened #29692 "multicluster with different cluster domain not discovering remote services correctly"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

I have a multicluster setup consisting of 3 clusters all within the same mesh. Every cluster has a different cluster domain - cluster.central, cluster.berlin and clus

[2020-12-17 18:30] howardjohn opened #29693 "Update to golang 1.16"
TODO:
* [ ] Bump binary in docker image
* [x] ensure all tests pass
* [x] Ensure benchmark is reasonable
* [ ] Make use of new features
   * [ ]  https://tip.golang.org/doc/go1.16#library-embed

[2020-12-17 18:34] howardjohn commented on #29693
agent binary size decrease 38mb -> 34 mb

[2020-12-17 18:35] howardjohn commented on #29693
[code]

single unit test failure, I think its just relying on implementation details of some error messages. Should be an easy fix.

[2020-12-17 18:59] lei-tang commented on #27575
Assigned to @myidpt to triage.

[2020-12-17 19:20] #28908 closed

[2020-12-17 19:32] stevenctl opened #29695 "various telemetry dashboard test flakes"
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/29691/integ-telemetry-k8s-tests_istio/1339647449660133376
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/29646/integ-telemetry-k8s-tests_istio/1339601140550995968
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/29673/integ-telemetry-k8s-tests_istio/1339527372537335808
https://prow.istio.io/view/g

[2020-12-17 20:17] incfly commented on #28742
Good to know.

I used to  trying solve this problem from a different angle: let Istiod talks mTLS when send the request to the JWKS issuer within the mesh.. I had a doc in https://docs.google.com/document/d/1w0uZO_foPc4S0nIjcby8HrhPfUohqMa8RD3ViwxHmD0/edit

But actually I think the `RemoteJWKS` is better and has the good benefit of simplicity. Istiod does not need to introduce the logic above. Let

[2020-12-17 20:35] ChrisKstalik opened #29698 "Segmentation Fault during Egress mTLS origination"
We wanted to connect to an external service via mTLS. Instead of an egress gateway, we want to originate the mTLS connection directly from the app's sidecar container. So we mounted the client certs in the sidecar proxy container using istio's annotations. We also have created the associated service entry and destination rules. But while running a simple curl request to the external service, we ar

[2020-12-17 20:36] asummers opened #29699 "Multiple Operators Fight One Another's ConfigMaps"
**Bug description**

After creating two Istio operators and CRs in orthogonal namespaces (e.g. dev and prod), CRs overwrite one another's configmaps unless all operator namespace's `istio-ca-secret` secret values are in sync with one another.

[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[x] User Experience

[2020-12-17 20:38] yangminzhu commented on #28742
sorry for the late reply, I agree with both of you @ramaraochavali and @incfly , this change makes sense to me. Just make sure it is under a flag and disabled by default.

cc @qiwzhang to comment on the the performance implications of  `RemoteJWKS`.

[2020-12-17 20:58] asummers opened #29700 "PriorityClassName for Istio Operator"
**Describe the feature request**

The CLI should allow specifying `priorityClassName` for the operator. It allows setting for the `istio-system` K8s objects (via `spec.values.global.priorityClassName` in the CR) , but there does not seem to be a way to specify this via `istioctl` for the operator itself.

**Describe alternatives you've considered**

One can manually dump the deployments, etc. to Y

[2020-12-17 21:38] Sathishkunisai commented on #28891
hi, Is this issue resolved yet, I am facing similar issue on 1.8.0

[2020-12-17 21:45] #29686 closed

[2020-12-17 21:59] howardjohn commented on #29693
[code]

wow, big increase

[2020-12-17 22:07] gargnupur commented on #26888
@howardjohn , @nmittler , @douglas-reid , @mandarjog , @richardwxn : we can improve the test times more, but currently https://prow.istio.io/?job=integ-telemetry-mc-k8s-tests_istio_postsubmit is at around 30-35 minutes, so we can make the multicluster job required.

@ririchardwxn: handing over the issue to you...

[2020-12-17 22:08] gargnupur commented on #24619
@howardjohn : assigned this bug to you as you are looking into ALPN stuff.. please re-assign if in-accurate

[2020-12-17 22:09] gargnupur commented on #22068
We have tests in istio/istio for this, so closing the bug...

[2020-12-17 22:09] #22068 closed

[2020-12-18 00:06] jacob-delgado commented on #29693
ETA for golang 1.16 is 2/1. Istio release date is 2/9 with a code freeze of 2/1. If go releases late that’ll delay istio. I can see reasons for/against. I'm fine with it myself, but delaying the release if we are waiting on go could be problematic.

[2020-12-18 00:08] howardjohn commented on #29693
Agreed, I am on the fence. If we do it for 1.16, lets start updating master to the beta/rc of golang so the update in code freeze is minimal. FWIW k8s had the exact same dilemma with go 1.15 and they went for the upgrade - but I have no clue if they are happy with that decision and what different factors they have (for one, longer release cycle - I don't think go 1.15 will go out of support for us

[2020-12-18 01:16] carolynhu commented on #29031
todo: Add Collecting Metrics for GRPC Services.

[2020-12-18 02:43] morvencao commented on #29677
Agreed, it is not easy for end-users to figure out how does the `profile diff` look for the path of profiles.

[2020-12-18 02:51] morvencao commented on #29700
We're try to avoid adding two many values for the istio operator itself, only the required parameters are now support to set with `operator init`. You can consider to dump the istio operator manifests and the apply youe overlay before creating them in the cluster.

[2020-12-18 03:15] zhaojizhuang commented on #29680
@howardjohn Thank you, found it：For I haven't install knative component before it listens, which has some gateway and virtual service。Now it works well，Thank you very much。

[2020-12-18 03:21] zhaojizhuang commented on #29680
roblem solved, I will close this issue

[2020-12-18 03:23] morvencao commented on #29699
`istio-ca-secret` is created by the istiod, if user-provided root CA is not found.
Will check why this secret conflicts for different istio operator CRs.

[2020-12-18 05:04] #26388 closed

[2020-12-18 05:04] #26815 closed

[2020-12-18 05:05] #27055 closed

[2020-12-18 05:05] #27061 closed

[2020-12-18 05:06] Adharsh-Muraleedharan commented on #29571
@ramaraochavali - The entire config dump is placed here
https://gist.github.com/Adharsh-Muraleedharan/0db5f49df843bc3abddac2f8a288284d

[2020-12-18 05:51] xu1zhou commented on #29629
@howardjohn Regarding implemented, We(Intel) cooperate with Tencent on this feature, and it was implemented by Tencent team as an iternal feature. So there still much things to figure out: like ebpf part it's design to work as a DeamonSet instead of CNI in current implement.

Yeah, That's what we are working on now.

[2020-12-18 05:53] ramaraochavali commented on #28742
@incfly @yangminzhu great. Added basic implementation here https://github.com/istio/istio/pull/29704. If we are good with that, I will add tests.

[2020-12-18 06:14] #27062 closed

[2020-12-18 06:43] #29680 closed

[2020-12-18 07:31] zufardhiyaulhaq commented on #29698
I am not sure about 1.8 & 1.7, but in 1.6, it's working fine.

[2020-12-18 08:09] shamsher31 commented on #29659
I just followed the instructions mentioned in docs.
https://istio.io/latest/docs/setup/additional-setup/external-controlplane/#set-up-a-gateway-in-the-external-cluster

[2020-12-18 09:34] bergemalm commented on #28891
I didn't get the issue when upgrading to 1.8.1

[2020-12-18 11:33] johnzheng1975 opened #29706 "[Istio 1.6.8] Istio-proxy remove the token after jwt verify."
**Bug description**
[Istio 1.6.8]  Istio-proxy remove the token after JWT Verify.
However, developers need this token for later usage.

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[x] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expected behavior**
Istio-proxy should keep token after JWT veri

[2020-12-18 12:55] johnzheng1975 commented on #29706
Ok, I found there is parameter to support keep token:
forwardOriginalToken

So, close this issue. Thanks.

[2020-12-18 12:55] #29706 closed

[2020-12-18 13:36] alen-z commented on #29617
My only argument here, maybe not obvious from the original post, is that there may already be Prometheus deployment on the cluster prior to Istio install. `istioctl` _may_ not support opening appropriate Prometheus in this case.

From my point of view `istioctl dashboard` is not needed at all, but if you were to support not only Prometheus deployed from your manifest, then it might be worth lookin

[2020-12-18 14:18] rvennam opened #29707 "Additional gateways in IOP create duplicate PodDisruptionBudgets"
[code]
generates these two PDB:
[code]

Notice that the `matchLabels` for both PDB are the same.

This causes problems during draining node:
[code]

Should the match labels use a different selector that is unique to each gateway? such as:
`service.istio.io/canonical-name=custom-ingressgateway-2`

[ ] Docs
[ X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry

[2020-12-18 14:18] rvennam commented on #29707
cc @linsun

[2020-12-18 14:46] #29681 closed

[2020-12-18 15:07] esnible commented on #29514
I don't think it is possible to check with a simple command now.  There are workload settings and mesh settings.  I always have difficulty figuring out the settings.  See https://istio.io/latest/docs/tasks/security/authentication/authn-policy/ .  This is why the security working group is working on #23776 .

[2020-12-18 15:32] esnible commented on #27392
not stale

[2020-12-18 15:41] #29575 closed

[2020-12-18 15:49] esnible commented on #29677
@morvencao End users don't have this problem.  This is a problem of personal builds.

[2020-12-18 15:58] linsun commented on #29707
Thanks @rvennam for reporting this, makes sense to me.

Hi @morvencao - would like to get your thoughts?  I think there are 2 possible ways to fix this:
- if we could detect a PDB for a given label selector for ingress gateway for a ns has been created, we don't create any further PDBs.
- If the first option is not possible, allow ingress gateway to tell us if they want to have PDB created as part

[2020-12-18 16:12] esnible commented on #29676
Can confirm:

[code]

@ostromart What should it output?  "✘ These are not manifests!" ?  Or should it compare `install.istio.io/v1alpha1/IstioOperator`s and output the differences between them?

[2020-12-18 17:57] chlunde opened #29709 "panic in pilot: GetAdapter (when Istio installed with enableAnalysis: true)"
**Bug description**

[code]

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expected behavior**
No panics

**Steps to reproduce the bug**
Unknown, install and wait

**Version**
1.8.1, and also 1.9 from master:
[code]

**How was Istio installed?**

[2020-12-18 18:49] yanniszark opened #29710 "Support inverse header match in AuthorizationPolicy"
**Describe the feature request**

The AuthorizationPolicy matches traffic based on a number of conditions and then takes an action. However, it can't match the condition:
`Request does NOT have header X.`

We'd like to add support for this feature.
After looking around a bit, I found the part of Istio which translates the header match YAML to Envoy configuration:
https://github.com/istio/istio/blo

[2020-12-18 18:51] howardjohn commented on #29659
If you use `istioctl install` it should automatically detect support

On Fri, Dec 18, 2020 at 12:09 AM Shamsher Ansari <notifications@github.com>
wrote:

[2020-12-18 19:04] jacob-delgado commented on #29693
cc @shamsher31 @brian-avery @ericvn @stevenctl Thoughts? Looking at https://endoflife.date/go 1.15 will be suported until 1.17 is released (ETA August)

John, do you know anyone on the k8s team we could ask about that experience? Some of the features would be nice to get and I know there's been work in the x509 library which we use.

[2020-12-18 19:07] yanniszark commented on #29603
@lambdai thanks, I think I almost got it, but there is an important piece of the puzzle missing. The address that Envoy proxies the packet to.

- For declared ports, Envoy proxies the packets to 127.0.0.1. Envoy binds to `127.0.0.1` and the server binds to `127.0.0.1` as well.
- For undeclared ports, Envoy proxies the packets to the Pod IP! Envoy binds to `127.0.0.6` and the server binds to `<pod_

[2020-12-18 20:40] sands6 commented on #21676
@SRodi Did you have any luck as I am hitting similar error but I am observing 404 errors on remote cluster gateways:
[code]
I am not sure if TLD is being translated by rewrite filter and might not able to find upstream cluster reference to gateway endpoint `istio-temp-gateway.service.corporate.domain` as this is only a dummy endpoint in `serviceentry` for routing to remote cluster.
I am trying to

[2020-12-18 21:00] ericvn commented on #29390
I tried to run the code on the page manually, and that fails as well.

Under: https://istio.io/latest/docs/tasks/security/authentication/authn-policy/#end-user-authentication

there is a section:

[code]
where the output is supposed to yields 200s for 5 secs and then turn to a 401.  All I receive are 200's. Even extending the number of seconds to 60, it still only receives 200's.

If I wait a long

[2020-12-18 21:02] josephpeacock commented on #29385
Design doc: https://docs.google.com/document/d/1vOCuMpWa1L6TFmxSP71fLG2jWPFkGvnFk86s11ej51U/edit?pli=1#

[2020-12-18 21:35] ericvn commented on #29391
@howardjohn I just tried this manually on my laptop with the current build (5debedd8388542470fa17c9fe5a3f2a00daca334) and verified the steps on the page do not work. I got to the part where I applied `kubectl apply -f samples/bookinfo/networking/virtual-service-ratings-test-abort.yaml` and then went to the browser as noted in `Testing the abort configuration`. At this point I am logged in as Jason

[2020-12-18 21:54] ericvn commented on #29399
I did try this page manually and I do see the stars when logged in as `jason`, and don't when not logged in, which matches the page. It seems that something in the test might not be actually logging in as `jason` resulting in the failure.  @frankbu, do you have any insight on the login in as `jason` and maybe why it's failing?

[2020-12-19 03:14] morvencao commented on #29707
@rvennam @linsun
In this case we should add label that is unique to each gateway:
[code]

Then the operator will create different PDB for different gateway, with unique `matchLabels`:

[code]

[2020-12-19 03:35] morvencao commented on #29676
[code]

In this case, the resource name is missing, see: https://github.com/istio/istio/blob/master/manifests/profiles/default.yaml#L1-L4
+1 to report error similar to `These are not manifests!"` and tell the end user which field is missing.

[2020-12-19 05:04] #27048 closed

[2020-12-19 05:04] #27074 closed

[2020-12-19 13:59] rvennam commented on #29707
@morvencao Thanks!

Is it safe for us to use a new label instead of `app`? For example:
[code]

[2020-12-19 13:59] #29707 closed

[2020-12-19 14:35] abhioncbr commented on #27398
@morvencao any update on the issue?

[2020-12-20 06:40] morvencao commented on #29707
Yes, you can @rvennam

[2020-12-20 21:32] haf commented on #21841
How about linking to how to do it today also? @yangminzhu

[2020-12-20 22:21] buccella opened #29716 "Contradictory documentation regarding Helm 2 support"
**Bug description**

According to the [Install with Helm page](https://istio.io/latest/docs/setup/install/helm/), `Helm 2 is not supported for installing Istio.`

Yet the [Helm 3 support doc](https://github.com/istio/istio/blob/master/manifests/charts/README-helm3.md) states, `Helm charts are supported both by Helm v2 and Helm v3`.

Which doc is accurate?

**Affected product area (please put an X

[2020-12-21 00:17] howardjohn commented on #14367
not stale

On Sat, Dec 19, 2020 at 9:00 PM Istio Policy Bot <notifications@github.com>
wrote:

[2020-12-21 00:57] howardjohn commented on #29391
I do not see the same thing... weird

[2020-12-21 01:32] eam-cs commented on #29499
Thank you @stevenctl for the explanation. Going back to the documentation, enabling mesh expansion as described in the guide https://istio.io/latest/docs/examples/virtual-machines/multi-network/#installing-the-istio-control-plane runs into the problem mentioned here https://github.com/istio/istio.io/issues/8602. During installation, I get this message "values.global.meshExpansion.enabled is deprec

[2020-12-21 01:35] #29462 closed

[2020-12-21 01:44] hzxuzhonghu commented on #29709
How do you install istio

[2020-12-21 02:21] morvencao commented on #29716
cc @hickeyma

[2020-12-21 02:48] huangweikuna opened #29719 "error: unknown flag: --set"
I'm running the official case in docker desktop, but it reports the `error: unknown flag: --set`, and I didn't find any information about it in Google.
Here is the information about my running environment.

run: `istioctl manifest apply --set profile=demo --set values.global.mtls.auto=true --set values.global.mtls.enable=false`

istio version: `1.8.1`

[code]

[2020-12-21 03:27] shaneing opened #29720 "The container istio/proxyv2 can't normally exit"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**

The container istio/proxyv2 can't normally exit:

[code]

[code]

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Ins

[2020-12-21 03:32] hzxuzhonghu commented on #29692
Istio does not respect the dns domain of remote clusters before

[2020-12-21 03:41] ChrisKstalik opened #29721 "[v1.7.5] TLS errors with no proper reason."
Trying to debug an outbound TLS connection issue and noticed that the logs getting dumped are not printing any reason for the TLS error.

**TLS error: 268436576:SSL routines:OPENSSL_internal: <missing reason>**

Not able to properly identify the root cause of the issue. Wondering could lead to such an issue?
We are trying to setup an mTLS connection from the sidecar proxy directly by mounting the

[2020-12-21 04:01] lut777 commented on #29658
@howardjohn I read half of the logs and find that the logs record the initialization of the envoy configuration for almost 2 minutes...I think you can read more details from the logs. So would you be interested in reading it?
Considering the privacy issue, can you give me a channel to send the file?

[2020-12-21 04:56] morvencao commented on #29719
Please try `istioctl install ` command with `--set` flags, the `istio manifest apply` command was deprecated.

[2020-12-21 05:02] #24479 closed

[2020-12-21 06:03] peter-fe commented on #27103
And another one get's rotten.
Really sad that obvious bugs get ignored that way and it's no single case. We see that happen regulary in the past year. Why users should invest time in documenting issues when they get ignored anyways? On the long run people will stop contributing, and well ... there it goes

[2020-12-21 06:03] kansz commented on #14983
nginx ingress supports rewriting with regex capture group, but istio 1.8.1 gateway still can't...

[2020-12-21 06:16] huangweikuna commented on #29719
Thanks!

[2020-12-21 06:16] #29719 closed

[2020-12-21 06:23] ramaraochavali commented on #27103
@peter-fe Sorry, about the bot marking it as stale. I removed the label now.

[2020-12-21 08:43] xishengcai opened #29725 "how to inject istio sidecar by modify deployment annotation"
**Describe the feature request**

**Describe alternatives you've considered**

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Additional context**

[2020-12-21 10:12] swartz-k opened #29726 "update k8s resource version?"
**Bug description**
i think k8s resouce version should update?
`	admissionregistration.k8s.io/v1beta1 MutatingWebhookConfiguration is deprecated in v1.16+, unavailable in v1.22+; use admissionregistration.k8s.io/v1 MutatingWebhookConfiguration[]`

![image](https://user-images.githubusercontent.com/49771587/102765540-b59d6780-43b7-11eb-9f06-9c7f2481cb28.png)

[ ] Docs
[ ] Installation
[ ] Networkin

[2020-12-21 10:15] hzxuzhonghu commented on #29725
Can you change the title in English? And elaborate the use case, we have supported injection by istioctl.

[2020-12-21 10:20] hzxuzhonghu commented on #29720
from the logs, `pilot-agent` has exited. Can you exec into the container and check what process is left?

[2020-12-21 10:22] larhauga commented on #29709
@hzxuzhonghu We install istio with the `istio-operator` through flux where the yaml is generated from the helm chart:

[code]

Our IstioOperator config is the following:
[code]

[2020-12-21 10:38] shaneing commented on #29720
I exec into the container but get an error message:

[code]

[2020-12-21 10:54] shaneing commented on #29720
On the other hand, the pilot-agent failed to scrap envoy metrics.

[2020-12-21 11:43] hzxuzhonghu commented on #29720
`OCI runtime exec failed: exec failed: cannot exec a container that has stopped: unknown
`

It means the container has exited, not sure why it is shown by docker ps

[2020-12-21 11:47] hzxuzhonghu commented on #29709
`        enableAnalysis: true
`

It must be from this config, you can disable it first.

[2020-12-21 11:52] manmaujin2 commented on #21368
@sanketdayma96 ,
Would you mind tell me what is the parameter in configmap to consist the certs ? Is it need to create a new one or using existing istio configmap ?
In addition, I have tried below method but cannot inject cert into sidercar ..
https://stackoverflow.com/questions/57343583/how-can-i-use-custom-client-certificate-for-external-service-with-istio

[2020-12-21 12:14] cagataygurturk opened #29727 "Proxy readiness probe failureThreshold is too high"
**Describe the feature request**

By default istio-proxy's failureThreshold is set to 30 and periodSeconds to 2. This means that it takes 60 seconds for Kubernetes to take a not ready or failing proxy out of load balancing pool. For normal applications, users tend to set these values to more custom ones, so they can respond to failures more quickly. However these values are also applied to Ingress

[2020-12-21 12:50] hzxuzhonghu commented on #29727
30 is not reasonable, we should make it small, note k8s default value is 3.

[code]

I think the periodSeconds and timeoutSeconds is not reasonable as well. IMO, the period should be larger than the timeout.

[2020-12-21 15:19] hxn36 commented on #28433
@Monkeyanator  seeing this issue to all POST requests where its returning header with `Transfer Encoding: Chunked`. We see envoy adding one more chunked to it, making it `Transfer Encoding: chunked chunked` and because of this istio is retrying the request twice and eventually throwing 503s. This got fixed by running the command `curl -X POST http://localhost:15000/runtime_modify?envoy.reloadable_

[2020-12-21 15:47] howardjohn commented on #24857
not stale

On Sun, Dec 20, 2020 at 9:03 PM Istio Policy Bot <notifications@github.com>
wrote:

[2020-12-21 15:55] Type1J commented on #29269
@andreamaruccia, I'm not sure why you thumbs-downed a link to official documentation. I have since implemented this solution that had many existing Linux images that needed a few Windows images. Please explain.

[2020-12-21 16:23] natanaelfonseca commented on #13861
It worked for me, tks.

[2020-12-21 18:29] howardjohn commented on #29727
Raising periodSeconds is a bad idea until https://github.com/kubernetes/kubernetes/issues/96731 is fixed, IMO. tl;dr is the interval directly correlates to startup time. Ideally we have startup probing quickly then backoff to slower period.

I agree 30 threshold is too high. We used to have false positives due to admin thread contention on busy XDS/stats, but we cache that response now so its prob

[2020-12-21 18:30] howardjohn commented on #29727
If it wasn't obvious, this is configurable per-pod and globally: `failureThreshold: {{ annotation .ObjectMeta `readiness.status.sidecar.istio.io/failureThreshold` .Values.global.proxy.readinessFailureThreshold }}`. But good defaults matter as well

[2020-12-21 18:32] howardjohn commented on #29726
We have intentionally chose to not update these to support older versions of Kubernetes. The logs can be safely ignored.

[2020-12-21 18:32] #29726 closed

[2020-12-21 18:32] howardjohn commented on #29720
This sounds like an issue with your Kubernetes/docker setup - seems the container is exiting

[2020-12-21 18:34] howardjohn commented on #29695
https://github.com/istio/istio/pull/29646 fixes it

[2020-12-21 18:35] cagataygurturk commented on #29727
As a note here, `spec.components.ingressGateways[].k8s.readinessProbe` also allows to change any readiness probe value for gateways.

What could be good values, you think?

[2020-12-21 18:37] howardjohn commented on #29695
Well maybe it doesn't fix it, looks like it flaked on that PR as well... but likely is closer to fixed

[2020-12-21 18:44] yangminzhu commented on #26423
Note the doc has been fixed and the workload selector is now referring to the correct one: https://istio.io/latest/docs/reference/config/type/workload-selector/#WorkloadSelector

[2020-12-21 18:44] #26423 closed

[2020-12-21 18:58] howardjohn commented on #29699
We do not currently support running multiple istiod's in different namespaces unfortunately (for this reason and testing mostly)

[2020-12-21 19:36] howardjohn commented on #29709
cc @therealmitchconnors

[2020-12-21 20:05] larhauga commented on #29709
@hzxuzhonghu I think you are correct in assuming it is `enableAnalysis: true` that is enabling the failing code :+1:. I have been running with the IOP without it failing for 6 hours where enableAnalysis is removed.

[2020-12-21 21:14] haf commented on #18169
How is this fixed @howardjohn — nice that you automate away P1 tickets?

[2020-12-21 21:20] howardjohn commented on #18169
@haf its not fixed, and its not going to be because its not possible given how the API works.

[2020-12-21 21:25] haf commented on #18169
So since this (https://github.com/istio/istio/issues/24548) worked in 1.4, are you saying you've moved from JSON to protobuf merging in the meanwhile?

[2020-12-21 21:26] howardjohn commented on #18169
It never worked, and I don't think https://github.com/istio/istio/issues/24548 suggests it ever did, unless I am reading it wrong.

[2020-12-21 21:27] haf commented on #18169
I had his config working.

[2020-12-21 21:39] haf commented on #18169
You could consider adding the more correct semantics with https://github.com/golang/protobuf/issues/1050#issuecomment-594843213 — it doesn't matter if it's slow since it only runs when config is updated, not on a hot path.

[2020-12-21 21:45] haf commented on #18169
https://docs.google.com/document/d/1V4mCQCw7mlGp0zSQQXYoBdbKMDnkPOjeyUb85U07iSI/edit#

[2020-12-21 21:52] haf commented on #24548
This is not a duplicate of #18169 because the value `true` is not a protobuf default value, see https://developers.google.com/protocol-buffers/docs/proto3#default

@abdulsalama you want something like:

[code]

[2020-12-21 22:07] Monkeyanator commented on #28433
@hxn36 this issue shows up when sending traffic between different versions of envoy, shouldn't have anything to do with `reject_unsupported_transfer_encodings` runtime flag IIUC. The issue you're describing sounds more like [this one](https://github.com/istio/istio/issues/24753](https://github.com/istio/istio/issues/24753). (two `Transfer Encoding` envoy-related issues but actually completely diff

[2020-12-21 22:22] eam-cs opened #29732 "Citadel Client Fails to Create Certificate"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
Istio fails to start in vm even after providing all needed files. I transferred cluster.env, istio-token, mesh.yaml, root-cert.pem, hosts automati

[2020-12-21 22:26] drivelikebrazil opened #29733 "Gateway workloads outside of istio-system namespace don't work with a revisioned Istiod deployment"
**Bug description**
Deploying Istio with a revision causes the discovery service address to change to istiod-[revision].istio-system.svc. Since gateways mount a configmap that only exists in the istio-system namespace to obtain their proxy config, a gateway deployed outside of istio-system is unable to get the correct discoveryAddress (or any other proxy config for that matter).

[ ] Docs
[X] Inst

[2020-12-22 01:13] Rayzhangtian commented on #24387
env ISTIO_META_IDLE_TIMEOUT is only for outbound, so it is good for ingress gateway, but not for Pod annotation. For service client, we shall use DR + KA configuration.

[2020-12-22 01:13] haf opened #29734 "The case of the disappearing VirtualService route (from Gateway after EnvoyFilter added)"
**Bug description**

Applying an EnvoyFilter sometimes disappears virtual services from the route table of the gateway.

Maybe this is just me not understanding how to opt out of a filter via a MERGE operation; in which case I'd be happy take instruction. It's not really documented.

[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security

[2020-12-22 01:24] haf commented on #29431
@Subreptivus https://github.com/istio/istio/issues/29734 has a working config for the inbound filter, but I run into trouble with the exceptions

[2020-12-22 01:26] haf commented on #27790
Related once you have it mostly configured, but need to opt-out at some points https://github.com/istio/istio/issues/27790

[2020-12-22 01:36] haf commented on #24052
I failed at using v3 in v1.8.1 as well: #29734 has what I used — replace v2 with v3 there

[2020-12-22 01:40] yangminzhu commented on #27790
@haf I'm writing a blog as well as a task for the feature, but the following is a quick tutorial for trying it out for now:

1. Deploy the Istio from master branch (https://github.com/istio/istio/wiki/Dev%20Builds)

2. Edit the meshconfig (`kubectl edit configma istio -n istio-system`) to add the extension provider definitions (only the `extensionProviders` part):
[code]

3. Deploy the example ext

[2020-12-22 01:46] haf commented on #27790
So what's the syntax for using `rules` to opting out, say, a specific dns name?

[2020-12-22 01:49] morvencao commented on #29269
@VIjayHP AFAIK, istio doesn't provide ppc64le artifact, but you can build it from envoy and istio source code on ppc64le machine.

[2020-12-22 01:51] yangminzhu commented on #27790
It's the same syntax as the current authorization policy. You can use the `hosts` or `notHosts` field, for example, the following policy enables the ext authz flow on all hosts **except** "example.com":

[code]

see more in https://istio.io/latest/docs/reference/config/security/authorization-policy/#Operation

[2020-12-22 02:01] morvencao commented on #29733
A workaound for this would copy the configmap `istio-<revision>` from the `istio-system` namespace to the namespace in which istio gateways is deployed.

[2020-12-22 02:13] howardjohn opened #29735 "Review deprecated fields for 1.9"
https://www.envoyproxy.io/docs/envoy/latest/version_history/current#deprecated

We definitely are using http_protocol_options. We may want to delay that until 1.10 though. Nothing else stands out at first glance but we should do a more thorough investigation

[2020-12-22 02:14] howardjohn commented on #29734
The only reason an EnvoyFilter like this should cause it to be complete removed is if the config is rejected entirely. Do istiod logs show anything like `ACK ERROR`? Its also in the proxy logs

[2020-12-22 02:54] Type1J commented on #29269
@andreamaruccia I'm not sure if I understand the thumbs-down. Istio doesn't yet support Windows, and while Istio, and new deployments, should include a `nodeSelector`, existing `.yaml` files need to work without modification, and using a taint for that is exactly what that mechanism is designed to do, and it only requires tolerations to be added to new Windows deployments. To what is the thumbs-do

[2020-12-22 03:45] hzxuzhonghu opened #29737 "Replace `envoy.router` with `envoy.filters.http.router`"
`envoy.router` is widely used by envoyfilters, we should update all of them.

[2020-12-22 04:05] neelakansha85 commented on #29608
This seems like a bug possibly introduced in recent versions of istio. I applied the config to Istio Operator with version 1.7.3 and it worked fine without having to specify the ports explicitly as is the case in recent version.

[2020-12-22 04:14] lut777 commented on #28192
It looks like I'm having the same problem.
The log shows that xds connection is disconnected every once in a while. Then after several disconnections, OOM suddenly appears. 1024Mi memory doesn't mean anything here.
I'm wondering if these multiple disconnections of xds are the cause of OOM? If I follow @sdake 's configuration and change the hardtime to 30 seconds, can this OOM be avoided?

[2020-12-22 04:16] howardjohn commented on #28192
this is about an off by default experimental feature, probably not your issue. I would get a heap profile and open a new issue (https://github.com/istio/istio/wiki/Analyzing-Istio-Performance). And make sure you are on the latest version

[2020-12-22 04:21] lut777 commented on #28192
Great. glad to see pprof's showing up.

[2020-12-22 05:02] #24470 closed

[2020-12-22 05:02] #24555 closed

[2020-12-22 05:02] #24565 closed

[2020-12-22 05:04] #26961 closed

[2020-12-22 06:46] hzxuzhonghu commented on #29734
Noticed you are using v2 ext_auth, change it to v3

[2020-12-22 08:01] shaneing commented on #29720
The container can normally exit after I upgrade docker to 20.10.1. But the pod can't.

[2020-12-22 08:01] #29720 closed

[2020-12-22 08:43] swzhou commented on #29599
@howardjohn
Still can see the same 503 NR issue with Istiod 1.7.6,  and same "sending incomplete cluster" issue in istiod log.  :(
Here is my log: [log.zip](https://github.com/istio/istio/files/5728668/log.zip)

This is istiod log:

503 NR is for connection: C2965

[2020-12-22 09:10] ramaraochavali commented on #18169
@howardjohn you closed this because it is not fixable right?

[2020-12-22 09:20] hzxuzhonghu opened #29741 "WorkloadEntry healthcheck condition miss"
When healthcheck is enabled for wle, pilot-agent will probe the health status of the vm workload, and send healthcheck result to istiod only:
1.  when the status changed(e.g. unhealthy->healthy or healthy->unhealthy).
2. And pilot-agent will send the health status when it recreate a ads stream(this can happen when reconnect).

In the istiod side, it will process the health info and update the work

[2020-12-22 09:21] xeviknal opened #29742 "Istio operator - allow istio deployments to have custom `app` label name"
**Bug description**
Users may decide to use a different `app` label name for they deployments. The specific use case, users following the recommended kubernetes labels[1] (e.g. `app.kubernetes.io/name`).

In that case, Istio Operator doesn't allow users to change that label for the istio deployments (istiod, ingress, egress)[2]. This adds an inconsistency in the deployment, making the user deploym

[2020-12-22 09:26] swzhou commented on #29599
I test with:
istiod 1.7.6 with istio-proxy 1.7.6
istiod 1.7.6 with istio-proxy 1.7.0
And can reproduce the issue on both cases.

[2020-12-22 09:41] haf commented on #29734
No, no ACK errors at all. There's a bunch of warnings when this is applied that `Failed to find port for service my-ns/my-app: no suitable port for manifest`

[2020-12-22 09:43] haf commented on #24548
However, it would seem there are even more bugs lurking in istio: https://github.com/istio/istio/issues/29734 — I haven't made the above work properly yet; it removes the full Route of the Gateway it tries to disable the Filter for, rather than removing the Filter.

[2020-12-22 09:45] ramaraochavali commented on #29571
Sorry for the delay. Config seems correct. Can you also share complete Envoy logs? and can you also config `outbound|80|BLUE|fo-platform.fo-platform-dev.svc.cluster.local` this has endpoints populated?

[2020-12-22 09:52] janbaer opened #29744 "Dynamic request routing based on captured values from headers"
**Dynamic request routing based on header-values**

For our QA environment we need to configure a special kind of routing for the incoming (Ingress), but also for the outcoming (Egress) requests. So for outgoing requests the rule should evaluate a header value with a regex and capture a value from the header and build with that value the URL where the request should be redirected. The value in the

[2020-12-22 09:55] hzxuzhonghu commented on #29741
1. One option is to simpley do backoff retry,
2. And the other one is to refactor the current health check workflow:
istio-agent should send healthcheck info--> wait for the healthcheck ack/nack, and resend the healthcheck when nacked.

Option one may introduce race problems when proxy reconnects, i would personally like the 2nd option.
The race problem is very hard to solve, we have done a lot of

[2020-12-22 10:55] JohnHaan commented on #20890
Hi, @vaibhavjain882
I actually updated of istiod deployment yaml file directly.
The file path is `istio-1.x.x/manifests/charts/istio-control/istio-discovery/templates/deployment.yaml

`
apiVersion: apps/v1
kind: Deployment
metadata:
.
.
    spec:
      hostNetwork: true
`
istiod is running well in my case. I hope it would be helpful.

[2020-12-22 11:13] hzxuzhonghu commented on #29744
This is not supported

[2020-12-22 11:19] reddyjbaddam opened #29745 "Unable to create the spark session in s2i image deployed in K8s cluster with istio proxy"
Hi ,

We deployed the spark model in seldon-system of  k8s cluster using s2i image. It is successfully deployed and enable the seldon endpoint to access, but when we are applying the data on the model we are getting the below issue for the spark models.

Env:
spark-2.4.7
Istio: 1.6
seldon-core: 1.0
mlflow: 1.4
python: 3.6
OpenJDK: 1.8
kubernetes: 1.17

 File "/usr/local/lib/python3.7/site-packages

[2020-12-22 11:44] janbaer commented on #29744
I was afraid of that, but how about implementing such a feature? When I search in the internet for similar requirements, I see that I'm not the only one.

[2020-12-22 12:01] hzxuzhonghu commented on #29744
If there is fixed number of `values`, you can enumerate that with virtualservice matching `verbu-1234`, routing to `webapp-verbu-1234.anydomain.com`.

Otherwise, need implement it in envoy side

[2020-12-22 12:23] haf commented on #29734
Could you provide an example that works, perhaps? It would seem I'm not alone in trying to make this work on the latest istio?

[2020-12-22 12:25] haf commented on #29734
@hzxuzhonghu You suggestion did not work:

[code]

[2020-12-22 12:28] haf commented on #29734
I get this warning message, but I'm not sure if it's relevant:

[code]

Which comes from this:

[code]

But I don't see the link to `rutta`, the service behind `i.example.com` in my example above.

[2020-12-22 12:31] haf commented on #26805
Related https://github.com/istio/istio/issues/29734 — @yckbilly1929 @mstrYoda — but at Gateway level

[2020-12-22 12:40] florianislitzer opened #29746 "DestinatinoRule.TLS.Simple Does not Work for ServiceEntry typed service."
**Bug description**

We have two clusters communicating over grpc using Istio. The goal is to run the java client/server in plaintext mode and let Istio handle TLS. With the current setup all requests fail with a "unexpected EOS on DATA frame" exepection on the client side.
It´s working if the client side is configured to useTransportSecurity by java code or if grpcurl is used. Therefore our assum

[2020-12-22 13:25] mikeage commented on #17212
(I know this is an old thread, but I just found it while looking for the same thing)

Additionally, if one prefers to not write the full HTTP URLs, the python custom object support makes this rather straightforward (see the full docs at https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CustomObjectsApi.md )

[code]

[2020-12-22 13:36] haf commented on #29734
Will be improved in the future https://github.com/istio/istio/issues/27790

[2020-12-22 13:37] haf commented on #29734
Perhaps https://www.paraesthesia.com/archive/2020/09/03/setting-up-oauth2-proxy-with-istio/ is a solution: with explicit opt-in per service as a workaround?

[2020-12-22 14:10] cagataygurturk commented on #29727
As another note, `.Values.global.proxy.readinessFailureThreshold` does not change gateway readiness settings. (1.7) `spec.components.ingressGateways[].k8s.readinessProbe` seems the only way.

[2020-12-22 14:11] janbaer commented on #29744
I just found this old issue https://github.com/istio/old_mixer_repo/issues/495 and the guy talked about a Mixer adapter that could solve the problem. Unfortunately, the issue is closed so I can't ask him, if and how he solved it. But would be a mixer adapter a possible solution? What possibilities would I have with that?

[2020-12-22 14:22] haf opened #29747 "Docs on RequestAuthentication don't work"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
When following the host example (2nd from the top) https://istio.io/latest/docs/reference/config/security/request_authentication/ you get

[code]

[2020-12-22 14:23] haf commented on #29734
Trying the above doesn't work: 1) if I only use the request authentication — it still shows up without me authenticating first. 2) if I also try to set an AuthorizationPolicy I get https://github.com/istio/istio/issues/29747

[2020-12-22 14:30] haf commented on #29734
Also, if I use

[code]

The SNI doesn't seem to matter, but if I remove the `sni` "selector" from the above filter, all request have authn required!!!

[2020-12-22 14:35] laurentiuspurba commented on #24470
Hi @ericjohansson89,

I am having similar issue on `addonComponents.istiocoredns.enabled: false`, for some reason setting it to `false` does not remove `istiocredns`.

Do you mind sharing your `istioctl` command(s)? Appreciate your help on this.

[2020-12-22 15:19] howardjohn commented on #18169
It was closed by the stale bot. But also I don't think it is fixable

On Tue, Dec 22, 2020 at 1:10 AM Rama Chavali <notifications@github.com>
wrote:

[2020-12-22 15:24] haf commented on #29734
So I've gone back to the filters, and it would seem that the moment you have **two** patches that it removes the **last** VIRTUAL_HOST patch. Also, I can't see the **disabled** filters with `istioctl pc listener istio-ingressgateway-86f8d88f5d-2kl85 -n istio-system -o json --port 8443` — is there a better way?

[2020-12-22 16:27] haf commented on #18169
How about:

[code]

[2020-12-22 17:40] Monkeyanator opened #29749 "TestXdsProxyReconnects unit test flakes"
Sample failures:

[https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/29602/unit-tests_istio/1341286152044285952](https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/29602/unit-tests_istio/1341286152044285952)
[https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/29740/unit-tests_istio/1341252531908513792](https://prow.istio.io/view/gs/istio-prow/pr-logs/p

[2020-12-22 17:56] yanniszark opened #29750 "Legacy v1alpha1 Istio RBAC isn't enforced for undeclared ports"
**Bug description**

Istio RBAC is not enforced for undeclared ports of a Pod.
This was reported as a security vulnerability and answered by @yangminzhu:

So this is a security limitation of the Istio RBAC policy. Opening the issue in case others bump into the same thing in the future. Since this is an important limitation, perhaps it's prudent to update the docs for earlier versions.

[x] Docs
[

[2020-12-22 19:30] barrydobson commented on #29359
I've just spent most of the day following the multi cluster primary-primary on different networks docs. I'm running between GCP and EKS. I also observed that from EKS I get the results from both clusters, on GCP it's not adding any endpoints from EKS. I will try the approach detailed in https://github.com/istio/istio/issues/29359#issuecomment-746545329
It won't get my day back but it should move m

[2020-12-22 20:27] howardjohn opened #29753 "refactoring: clean up duplicated STS code"
security/pkg/nodeagent/plugin/providers/google/stsclient/stsclient.go and security/pkg/stsservice/tokenmanager/google/tokenexchangeplugin.go are solving the same problem and communicating with the same thing (google STS) but all the code is duplicated

[2020-12-22 20:28] howardjohn commented on #29750
Since this version is EOL (https://istio.io/latest/news/support/announcing-1.5-eol-final/) we will not make any changes to it, nor to the docs, so I am not sure there is any action item here. It is good for others to find though - but the only answer I think we can give is to upgrade.

[2020-12-22 20:30] howardjohn commented on #29742
We have quite a few references to `app` in both documentation and tooling. This would be a nontrivial effort.

[2020-12-22 21:05] JoeJasinski commented on #29516
I'm seeing this exact same issue when upgrading from Istio 1.5.8 to 1.8.1. I'm using the IstioOperator as well. The permissions on the /root/.ssh/ directory look exactly the same as yours before and after the upgrade. This is preventing me from doing a Git clone in an init container.

[2020-12-22 22:17] yangminzhu commented on #29747
Thanks for the report, the example missed the `- operation:`, sent out a PR to fix the doc.

[2020-12-22 22:56] JoeJasinski commented on #29516
Through some experimentation, I found that any mount inside of my user-defined init container gets a 1337 group. (My guess is that the 0440 permission comes from the umask or something.) @howardjohn mentioned that this has to do with a securityContext being set.

First I tried setting on my init container securityContext runAsGroup to root ( https://kubernetes.io/docs/tasks/configure-pod-container

[2020-12-22 23:02] yangminzhu commented on #26656
This is now supported in the AuthorizationPolicy in the new remoteIpBlocks field, check the updated task https://istio.io/latest/docs/tasks/security/authorization/authz-ingress/ for how to configure the trusted IPs in the X-Forwarded-For header.

[2020-12-22 23:05] yangminzhu commented on #24665
please reopen if you have more questions.

[2020-12-22 23:05] #24665 closed

[2020-12-22 23:07] yangminzhu commented on #27292
also check https://istio.io/latest/docs/tasks/security/authorization/authz-ingress/ for some examples of using source IP in the authz, please reopen if you have more questions.

[2020-12-22 23:07] #27292 closed

[2020-12-22 23:11] yangminzhu commented on #29436
I think a quick workaround is to restart istiod, that should force it to fetch the jwks and then push to proxies.

[2020-12-22 23:22] shankgan commented on #22161
Just following up on this thread to discuss the immediate Istio 1.9 goals -

(1) Change Istio's K8s CSR API usage to use the v1 api. (given that Beta API will be removed shortly)
(2) Find a way to use any signer other than **kubernetes.io/legacy-unknown** to sign Istiod DNS certificates. Here, I have two   follow up questions  -

     (a) None of the signers that are currently supported appear to

[2020-12-22 23:24] howardjohn commented on #22161
I think (2) is a blocker for (1), legacy-unknown does not work with v1 AFAIK.

[2020-12-22 23:27] howardjohn commented on #22161
Also we cannot do (1) for a long time most likely. It was added in 1.19, right? We support Kubernetes 1.15+ (unfortunately), so it will be a very long time until we can move off of that.

[2020-12-22 23:42] yangminzhu commented on #29710
a quick question, have you tried using the `notValues` for the negative matching? for example:

[code]

[2020-12-22 23:54] yangminzhu commented on #29119
@haohaolee  the policy will deny a request if both conditions are satisfied for HTTP requests. For TCP requests, it doesn't have the host header concept, so the policy will actually behave in a more strict mode that denies all requests as long as `from` is matched (i.e. implicitly assuming `to` is always matched).

[2020-12-23 01:23] hzxuzhonghu commented on #29727
Let's set it back to 3

[2020-12-23 03:41] samos123 commented on #25153
I would really like this too. My use case is to add the root CA to the envoy proxy so I don't have to use the egress gateway for TLS origination.

[2020-12-23 03:42] dotbalo commented on #29684
@ramaraochavali Thank you so much for your answer. I will try it, thank you very much.

[2020-12-23 03:42] #29684 closed

[2020-12-23 04:23] morvencao commented on #29608
Istio-1.7.x also doesn't support this:
[code]
you need to either set ports with `service.ports` k8s setting or with legacy helm `values`:
1. `service.ports` k8s settings:
[code]

2.  helm `values`:

[code]

[2020-12-23 05:03] #25329 closed

[2020-12-23 05:04] #26980 closed

[2020-12-23 05:04] #27143 closed

[2020-12-23 09:21] hzxuzhonghu commented on #29749
Found removing `conn.Close()` in L278, no flake. Not sure why.

[2020-12-23 10:00] #24601 closed

[2020-12-23 11:11] yanniszark commented on #29710
@yangminzhu thanks, this seems exactly like what I need! I somehow missed that this was available in the new Policy 😄

[2020-12-23 11:17] shadjac commented on #19975
I have same setup mentioned in bug description. Prometheus is not in istio-mesh (namespace= monitoring), it is in different namespace that the services(namespace= services)
We do not want some services to talk to each other. We were using whitelisting of service accounts in ClusterRbacConfig
But after moving to 1.7.3, we had to whitelist `8080` (main service container port) to fix `Get http://172.

[2020-12-23 11:51] chadlwilson commented on #19975
@shadjac I'm not aware of any direct option to resolve this; however I am guessing that you have at least two possible options now

1. Move Spring Boot Actuator endpoints to a different port that you are comfortable exposing without RBAC or mTLS via `management.server.port=9080` allowing you to keep RBAC+mTLS on your main app port
2. Try out [Istio 1.6+'s Prometheus metrics merging](https://istio.

[2020-12-23 11:56] 1hanymhajna opened #29755 "Upgrade istio from 1.4.7 to 1.5.10 using kubectl missing istiod"
Hi,
We are trying to upgrade istio from 1.4.7v to 1.5.10 (in order to be able to go over newset version later)
As i know the main changes in 1.5.10 is the refactoring of the control plan and moving part of it to istiod,
When we upgrade istio using `helm template` & `kubectl` we notice that there is no `istiod` component, and instead of it we have the regular components ( pilot, citadel,...),
i kno

[2020-12-23 13:14] nbaztec commented on #17590
We're also getting similar issues on `istio 1.7`

The grpc streaming services never seem to identify a server going away (eg. node failure) and as such do not try reconnecting. Not injecting the sidecare successfully mitigated the issue.

Anyone got a better solution?

[2020-12-23 14:20] su225 commented on #29439
https://prow.istio.io/job-history/gs/istio-prow/logs/istio-downgrade-using-istioctl-1.8_latest-1.7_latest
Job history indicates that this is fixed. (It was failing for some other reason and that is fixed as well). So closing this.

[2020-12-23 14:20] #29439 closed

[2020-12-23 14:30] Jeskz0rd commented on #26367
I could reproduce the same behaviour in `1.7.6` on GKE.

[code]

[2020-12-23 14:48] n0n0x opened #29758 "[gateways] k8s.nodeSelector does not override defaultNodeSelector on _affinity.yaml (`nodeAffinityRequiredDuringScheduling`)"
**Bug description**

when setting `k8s.nodeSelector` on an `ingressGateways`, the `defaultNodeSelector` does not get overridden in `manifests/charts/gateways/istio-ingress/templates/_affinity.tpl` section `nodeAffinityRequiredDuringScheduling`:

https://github.com/istio/istio/blob/4461a6b2324bceabd6f0ef3896ca1ca338180c45/manifests/charts/gateways/istio-ingress/templates/_affinity.tpl#L22-L28

[ ]

[2020-12-23 14:57] xh3b4sd commented on #19966
FWIW I had the same problem with the service port names. Though in my case it was that `grpcurl` could talk to the gRPC server backend behind envoy, where some webapp could not. So I changed `name` from `grpc` to `grpc-web` and made it work for both the webapp and `grpcurl`. There is something about upgrading HTTP 1.1 to HTTP 2 that I do not fully understand why the Kubernetes service name would h

[2020-12-23 15:19] JoeJasinski commented on #29516
I think these issues might be related

https://github.com/istio/istio/issues/22025
https://github.com/kubernetes/kubernetes/issues/57923

Note: I mentioned that I upgraded from istio 1.5.8. For that 1.5.8 install, I was using the old deprecated Helm carts, and never hit this issue.

[2020-12-23 16:01] esnible commented on #29744
This could perhaps be done with WebAssembly, but there are no examples.

[2020-12-23 16:08] Morriz commented on #29436
Is that a fact? I did not yet notice that. I thought I would have noticed that since I restart istiod a lot

[2020-12-23 16:44] liggitt commented on #22161
If you use the k8s.io/client-go/util/certificate/csr#RequestCertificate/WaitForCertificate helper methods, those will use the v1 API if available and fall back to the v1beta1 API.

That would let you focus on resolving item 2, moving off the legacy-unknown signer

[2020-12-23 17:33] samos123 opened #29761 "Unable to configure TLS origination with postgres"
**Bug description**
I'm trying to use Aiven Postgres which provides managed postgres that uses TLS only. I want Istio to do the TLS origination using the side car proxy instead of using egress gateway. Note that Aiven is outside of the mesh.

[X] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[X] User Experience
[

[2020-12-23 18:24] samos123 commented on #26367
I think I'm hitting the same issue when doing the following:
1. Create namespace with sidecar injector
[code]

2. Create a deployment with a simple debug-pod without any readiness probes
[code]

Logs from kubectl describe pod:
[code]

Logs from istio-proxy:
[code]
I'm surprised to see the error about no file found since the destinationrule specifying caCertifications is only applied in another nam

[2020-12-23 19:29] kyessenov commented on #18169
It's technically possible to solve with field masks. You would need to parse EnvoyFilter as JSON and collect all "null" fields into a clear mask (google.protobuf.FieldMask). Then on top of proto merge, you have to unset all fields from the clear mask. That's how Google APIs implement JSON PATCH. So I don't think it's impossible, but it is quite a bit of work to implement.

[2020-12-23 19:47] alexandershelega opened #29762 "Proxy pass jwt to application"
Hi,
I have bootspring application microcervices which communicate with each other with native oidc/jwt  implementation.
Problem is the istio sidecar is not delivering jwt to my application and microcervices can't authentificate with each other.
Please advice how we can proxy pass jwt token thrue istio proxy to my application.

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalabilit

[2020-12-24 00:14] jshum2479 opened #29766 "Istio envoy proxy side car pass control to application container before it is fully ready"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**

Hi,  I have a question on how the side-car injection works.  We found random failures when installing our application in the testing environment,

[2020-12-24 01:25] morvencao commented on #29758
`k8s.nodeSelector` overrides `values.global.defaultNodeSelector`, but if `k8s.nodeSelector` is defined, `values.global.defaultNodeSelector` will be ignored.

[2020-12-24 02:01] ediezh commented on #28424
Interestingly enough, I applied the exact same configuration in a different eks cluster, somehow the request_url tag is not getting added anywhere.

@kyessenov any idea where it could be wrong?

[2020-12-24 02:24] irisdingbj opened #29767 "NR for https service after istio sidecar has been injected"
I have two services with mTLS deployed into k8s cluster and they communicate well.  The https service is running on port 9443.

 After I add them into istio mesh, the client fails to connect to server with error:

[code]

It seems the listener in server's proxy has issue:

` istioctl pc listeners tlsdemo-server-59f65fd876-bkvqf --port 15006 -o json`

[code]

[2020-12-24 02:25] irisdingbj commented on #29767
@hzxuzhonghu @howardjohn

[2020-12-24 02:37] hzxuzhonghu commented on #29767
I am guessing this is the cause:

[code]

In this case, the application protocol is http/1.1. This should be a regression, not sure if it is since 1.5

[2020-12-24 02:39] howardjohn commented on #29767
I think this is fixed in #29589 if I understand right. You are not using mtls right?

[2020-12-24 02:40] howardjohn commented on #29767
it's only in master planning to backporting to 1.8 but I haven't yet

[2020-12-24 02:42] howardjohn commented on #29766
This is a duplicate of https://github.com/istio/istio/issues/11130, please see that issue for details and workarounds and long term fix plan. Thanks!

[2020-12-24 02:42] #29766 closed

[2020-12-24 02:43] howardjohn commented on #29762
Are you using RequestAuthentication? if you so you can configure https://istio.io/latest/docs/reference/config/security/jwt/#JWTRule forwardOriginalToken

[2020-12-24 02:44] howardjohn commented on #29755
Istiod is added only in the istioctl install, the helm install was deprecated and thus not updated for Istiod

[2020-12-24 02:47] irisdingbj commented on #29767
Yes, I deployed Istio with auto-mTLS disabled.   Will it work if I deploy istio with auto-mTLS enabled?

[2020-12-24 02:48] howardjohn commented on #29767
Yes

On Wed, Dec 23, 2020, 6:47 PM Iris <notifications@github.com> wrote:

[2020-12-24 03:13] hzxuzhonghu commented on #29761
@samos123 Can you dump the cluster config? And make sure the certificate is valid

[2020-12-24 05:07] papovyr commented on #29762
@howardjohn Thanks for response
There is no RequestAuthentication set.
We was trying to add sidecars to existing namespace where application runs, Application already uses OIDC(done on app level) for internal communication/Authentication.

Can we create empty RequestAuthentication to enable forwardOriginalToken

like :
[code]
Or there are other ways to achieve this ?

Please advice

[2020-12-24 05:31] howardjohn commented on #29762
So you just add the sidecar and suddenly the Authentication header is
getting stripped? Without Request Authentication configured the header
should not be touched at all

On Wed, Dec 23, 2020, 9:07 PM Ruben Papovyan <notifications@github.com>
wrote:

[2020-12-24 05:36] papovyr commented on #29762
correct as we enable we see logs like this in app log

[code]

As we disable sidecard errors disappear

[2020-12-24 07:00] samos123 commented on #29761
I did double-check by getting a shell to the istio-proxy and doing cat /etc/certs/aiven-ca.crt. The cert is valid and I can use it to connect over TLS using pgadmin when istio isn't configured to do TLS origination.

I did find some more interesting logs while trying with postgresql cli client instead of pgadmin:
[code]

Here is the cluster config:
[code]

Does that help?

[2020-12-24 07:06] samos123 commented on #29761
I also saw the following log which seems to indicate the cert was found and picked up after destinationrule was updated:
[code]

[2020-12-24 09:28] aseroj commented on #29762
A possible issue can be that `vault-agent-init` container can't correctly start because there's no network available yet.
Istio sidecar is the one that first connects and then your container gets created which doesn't have a network yet, so you can not fetch the env variables for the build.

[2020-12-24 11:33] alexandershelega commented on #29762
Hello guys,

I found issue and it is not related with jwt or another proxy/security e.t.c settings.
Basiccally when my containers  starting they make http call to vault for receiveing env set. I don't understand why, but only one container don't make that call when sidecar enabled (maybe it try make call before sidecar made all necessary network changes) all other containers make that call with ou

[2020-12-24 12:37] n0n0x commented on #29758
You are right:

[code]

returns:

[code]

but variables are quite confusing. I expected `values.global.defaultNodeSelector` override `k8s.nodeSelector` and maybe have a `values.global.defaultAffinityNodeSelector` that overrides affinity settings.

[2020-12-24 13:46] zhongfox opened #29772 "allow different cluster use different image hub"
for multiple clusters mesh, we already support central istiod, so there is only one istio-sidecar-injector config map,
for some case multiple clusters are in different regions, so they may use different image hub.
currently there is on way to set different image hub for different clusters

some possible solutions:

1. pass hub params from mutatingWebhookConfiguration inejct url
   inject url now a

[2020-12-24 15:33] cagataygurturk commented on #14555
The new RequestAuthentication solves our issue. Thanks!

[2020-12-24 16:07] papovyr commented on #29762
This looks like same problem like this :
https://github.com/istio/istio/issues/4341
https://github.com/istio/istio/issues/9454
https://github.com/istio/istio/issues/11130

[2020-12-24 18:33] bryankaraffa commented on #29359
For our environments [AWS EKS, Istio 1.8 Multi-Primary, Multi-Network]; we are moving forward with the suggested workaround of using static IPs for the "eastwestgateway" used for mutual TLS between clusters.

We are provisioning *n* Elastic IPs [where *n* is the number of public subnets or availability zones the cluster is associated with] and during the configuration of the "eastwestgateway" we a

[2020-12-24 18:39] barrydobson commented on #29359
In an ideal world Istio could support the hostname provided by the service but perhaps in the shorter term there could be annotations added to the east west service to advertise the IP addresses instead of the remote cluster using the IP address. This way we wouldn't need to statically configure the mesh networks.

[2020-12-24 22:18] stevenctl commented on #29359
I don't think an annotation would be better than  just utilizing spec.externalIPs. I think customizing the Service should be able to handle everything that mesh networks does.

[2020-12-25 01:32] hzxuzhonghu commented on #29761
I mean adding ` -o json` to dump th cluster details

[2020-12-25 02:31] morvencao commented on #29772
@stevenctl Do you have any insight? We may need to update the operator API for this.

[2020-12-25 02:39] morvencao commented on #29758
1. `k8s.nodeSelector` take priority over legacy helm values. eg. `values.global. defaultNodeSelector `, because k8s overlay setting will applied after the manifest is generated.
2. I do find it is confusing for the different configuration, I believe the the legacy helm values. eg. `values.global.defaultNodeSelector` will be finally removed.
3. My suggestion is that don't use the legacy helm values

[2020-12-25 02:56] llaoj opened #29773 "I suggest adding `livenessProbe` configuration to these two components"
Both `istiod` and `isti-ingressgateway` are deployed on the same machine as the business pod, and they are both single-instance. Because my business pod does not have resource restrictions, it suddenly occupies very high IO, probably because of memory overflow, leading to `istiod` and `istio-ingressgateway` has stopped serving. Furthermore, all the services exposed through the `istio-ingressgatewa

[2020-12-25 06:52] shaneing opened #29777 "Proxy can't handle request"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**

Probe manager failed to request `http://10.233.123.12:15021/healthz/ready`:

[code]

I try to log traffic by iptables:

[code]

Listing iptables

[2020-12-25 07:45] sunnoy opened #29778 "Proxy Extensions in doc，where to use this config ?"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
where to use this config
https://istio.io/latest/docs/reference/config/proxy_extensions/
**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[ x] Docs
[ ] Installation
[ ] Networking
[ ] Perfor

[2020-12-25 11:46] FrailWords commented on #27080
If it helps anyone, for me on `v1.7.6`, if I delete the `VirtualService` on the receiving side and re-create it, the ingress seems to recognize the route entry and the 404 went away.  I was using Helm to install all the different istio resources and once everything is up, I was always getting a 404 when going from one cluster to another.

[2020-12-25 13:33] n0n0x commented on #29758
Got it! didn't know that `values` was legacy. Thanks!

[2020-12-25 13:33] #29758 closed

[2020-12-25 13:36] n0n0x commented on #29758
BTW, is there any documentation on how to migrate helm `values` to IstioOperator?

[2020-12-25 15:45] morvencao commented on #29758
yes, these is, see: https://github.com/istio/istio/blob/master/operator/README.md#migration-from-valuesyaml
but not sure if it is still working or not.

[2020-12-26 05:49] #29725 closed

[2020-12-26 09:25] janbaer commented on #29744
@esnible Could you please explain in a bit more detail, how this would work? Is there any documentation?

[2020-12-28 01:57] hzxuzhonghu commented on #29744
@janbaer https://github.com/dgn/oidc-filter/blob/master/src/lib.rs  This  is a good example

[2020-12-28 04:22] YonkaFang commented on #25531
Considering that the `O(n^2)` complexity problem has been resolve by #25118 , it seems not that worthy to losing the exact dependency info which may be used in some scenarios.

[2020-12-28 05:56] #28480 closed

[2020-12-28 06:13] JimmyCYJ commented on #28858
There is a guide on egress gateway with mTLS origination. https://istio.io/latest/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/. Could you follow that one and try again?
Your configuration set the gateway tls mode to passthrough, that might be the issue.

[2020-12-28 07:09] tanjunchen commented on #29659
+1 for this issue

[2020-12-28 07:12] tanjunchen commented on #29659
[code]
[code]

istioctl install -f iop.yaml -y

iop yaml
[code]

[2020-12-28 07:49] SpecialYang opened #29782 "Can istio support the InternalRedirectPolicy configuration for data plane envoy?"
In our case, we need to trigger internal redirect according to the upstream response code. We found that the feature was supported by envoy, which was configured in VirtualHost. Can istio support the InternalRedirectPolicy configuration for data plane envoy?

referenced document:
- https://github.com/envoyproxy/envoy/blob/v1.16.0/api/envoy/config/route/v3/route_components.proto#L1827
- https://www

[2020-12-28 08:52] Erezf-p opened #29783 "Add feature to mirror all requests"
Hi.

In my case, i want to use virtual service to mirror traffic in all the cluster.
I would like to use one virtual service for this, that will listen on all hosts in all namespaces, instead of a virtual service for each service.

The problem I am facing is that there isnt seem to be a passthrough option and I am always need to specify the host I want to forward the traffic to.

Is there a passth

[2020-12-28 08:54] hzxuzhonghu commented on #29773
Could restart resolve the case here, since the load is readlly high?  This scenario is caused by application interference. Instead, you should limit the resources of the app or keep a separate node for istio components.

[2020-12-28 09:02] hzxuzhonghu commented on #29777
Can you enable log on the output chain

[2020-12-28 09:11] llaoj commented on #29773
@hzxuzhonghu thx, restarting can solve it, you are correct. But it seems necessary to configure a default livenessProbe for isito.

[2020-12-28 10:15] shaneing commented on #29777
Add rule to index 1:

[code]

But, not any output.

[2020-12-28 10:18] dulm opened #29785 "istio-1.8.1 install error: failed calling webhook "validation.istio.io""
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**

[root@i-qoy2h7fd ~]#  istioctl install --set profile=demo
This will install the Istio demo profile with ["Istio core" "Istiod" "Ingress gateways"

[2020-12-28 10:27] bbtoo opened #29786 "Who can provide this configuration file? Thank you"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
https://raw.githubusercontent.com/istio/istio/release-1.8/manifests/charts/istio-telemetry/prometheus/templates/configmap.yaml

Configuration is n

[2020-12-28 11:03] morvencao commented on #29786
From Istio 1.6 we didn't provide addons chart any more, please refer to https://istio.io/latest/docs/ops/integrations/ for how to integrate with addons, for prometheus, try this:
[code]

[2020-12-28 11:05] morvencao commented on #29785
Is it fresh install?

[2020-12-28 12:20] morvencao commented on #29608
Found the root cause, the ports was override when applying k8s overlay, fixed this in https://github.com/istio/istio/pull/29787

[2020-12-28 12:32] fams opened #29788 "Istio 1.6.X does not honor the workloadlabel field in envoyfilter but it is not being rejected by admissioncontroller"
**After upgrade from istio 1.5.10 to istio 1.6.14 My envoyfilters in root became applied to all my workloads, despite envoyfilter has a workloadlabel field configured, but the admission controller accepts the deprecated config**

**Affected product area (please put an X in all that apply)**

[X] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] S

[2020-12-28 15:24] howardjohn commented on #29659
https://istio.io/latest/docs/ops/best-practices/security/#configure-third-party-service-account-tokens

On Sun, Dec 27, 2020 at 11:13 PM 天马行空 <notifications@github.com> wrote:

[2020-12-28 15:29] #29608 closed

[2020-12-28 15:29] howardjohn commented on #29788
This is working as intended. While I agree the upgrade strategy was not ideal here, its not appropriate to make a CRD pass validation in vN and fail in vN+1 and causes all sorts of issues; we intend to never do this.

While we may have been able to handle this better, this API changed so long ago in EOL'd versions (https://istio.io/latest/news/support/announcing-1.6-eol/) that I am not sure we can

[2020-12-28 15:29] howardjohn commented on #29786
See also https://istio.io/latest/blog/2020/addon-rework/. Closing as working as intended, thanks!

[2020-12-28 15:29] #29786 closed

[2020-12-28 15:31] howardjohn commented on #29783
Out of the box, with no VirtualServices, traffic will be passed through, so I am a bit confused what you are trying to? Is this for a gateway?

[2020-12-28 15:34] howardjohn commented on #29782
I am a bit worried about the runtime and API complexity of this feature. It would be good to configure this with https://istio.io/docs/reference/config/networking/envoy-filter/ to test it out in the time being, which allows you to directly configure the route config.

[2020-12-28 15:35] howardjohn commented on #29777
Can you run `curl localhost:15021/healthz/ready`, `curl 'localhost:15000/stats?usedonly&filter=^(cluster_manager.cds|listener_manager.lds).(update_success|update_rejected)$'`, and `curl 'localhost:15000/stats?usedonly&filter=^(server.state|listener_manager.workers_started) '` in the istio-proxy container of the pod when this is happening and see the results?

[2020-12-28 15:36] howardjohn commented on #29755
Closing this as working as intended. Thanks

[2020-12-28 15:36] #29755 closed

[2020-12-28 15:42] Erezf-p commented on #29783
As I was saying,  I want to use virtual service to mirror traffic in all the cluster. Not related to Gateway

[2020-12-28 15:44] howardjohn commented on #29783
When you say mirror do you mean like https://istio.io/latest/docs/tasks/traffic-management/mirroring/? If so, this is not possible. If you just want to top forward traffic that works out of the box

[2020-12-28 15:45] Erezf-p commented on #29783
Yes this what I mean. Thanks.

[2020-12-28 15:46] howardjohn commented on #29783
The mirror requires a pre-determined destination, I don't think envoy supports mirroring arbitrary traffic to arbitrary destinations. Its also not clear to me how you would want this to work - what part of the request are you modifying?

[2020-12-28 15:47] shaneing commented on #29777
@howardjohn ok

[code]

[2020-12-28 15:47] dulm commented on #29785
not fresh,   i run   ` istioctl install --set profile=demo`  before ,  all show suc.

but  the svc  istio-pilot   not found.

then i run the ` istioctl install --set profile=demo` again,   shows the error msg above

[2020-12-28 15:50] Erezf-p commented on #29783
I would like to do something like this:

`apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: httpbin
spec:
  hosts:
    - '*.local'
  http:
  - route:
    - destination:
        host: <passthrough>
    mirror:
      host: backup-mirror
    mirror_percent: 100`

This way i can use one virtual service rule for all traffic to all services.

I do not want to modify any par

[2020-12-28 15:52] howardjohn commented on #29783
Oh you want to send ALL traffic to a single mirror. Got it. Normally you have one mirror per service which is why i was confused.

[2020-12-28 15:53] Erezf-p commented on #29783
Yes exactly

[2020-12-28 19:22] samos123 commented on #29761
Did you mean this? `istioctl proxy-config clusters debug-pod-7845496cfd-t42vj -o json`

If so here is the output of that:
[code]

[2020-12-28 22:28] stevenctl commented on #29610
I've updated https://github.com/istio/istio/wiki/Istio-Test-Framework to reflect the current state of the framework.

@howardjohn You've been able to spin up the KinD containers for multicluster on Mac using our script?  Even if I remove calls to `trace` to prevent the date issue, I still have issues because the test framework tries to use the `172.x.x.x` docker network addresses we put in the kub

[2020-12-28 22:33] papovyr commented on #22290
Is there istio Milestone version when this will be released ?

[2020-12-28 22:39] howardjohn commented on #29610
I have not, I don't have a mac

On Mon, Dec 28, 2020 at 2:29 PM Steven Landow <notifications@github.com>
wrote:

[2020-12-28 22:52] bianpengyuan opened #29791 "Add user volume and volume mount to proxy config"
Currently additional user volume and volume mount are only achievable via `sidecar.istio.io/userVolume` and `sidecar.istio.io/userVolumeMount` pod annotation, which cannot be controlled globally. For many cases, the sidecar needs extra secret to interact with vendor for telemetry reporting (for example, sidecar template has [lightstep](https://github.com/istio/istio/blob/374fcdcfa040a27c4ddf6adfc6

[2020-12-29 00:00] howardjohn commented on #29791
This is close to possible with https://docs.google.com/document/d/1Rmp9B3DDypgMCau-YAqidx_r3qvKLZj6jUX-t22zj84/edit without any API change. Users can define a new injection template with just these volumes (once https://github.com/istio/istio/pull/29731 merges), then configure the default injection to use the default sidecar injection template *and* the custom template.

[2020-12-29 00:08] howardjohn commented on #20611
Closing as there doesn't seem to be interest or consistency in similar tools

[2020-12-29 00:08] #20611 closed

[2020-12-29 00:13] #21430 closed

[2020-12-29 00:14] howardjohn commented on #24012
Closing as there is no plans to add these. Users can add them  through existing APIs if they want

[2020-12-29 00:14] #24012 closed

[2020-12-29 00:15] howardjohn commented on #23855
Since we cannot reproduce and there is no updates for many months, and its for EOL'd versions, I am going to close this. if any progress is made on reproducing on a latter version please re-open and we can investigate this further. Thanks!!

[2020-12-29 00:15] #23855 closed

[2020-12-29 00:15] howardjohn commented on #23959
This is presumed fixed in 1.6 per above comment. If not, we can re-open and explore further.

[2020-12-29 00:15] #23959 closed

[2020-12-29 00:16] howardjohn commented on #26183
This is presumed fixed by the change to the readiness probe, since that should fix this and there are no updates for months. If not, please let us know and we can re-investigate. Thanks!

[2020-12-29 00:16] #26183 closed

[2020-12-29 01:03] howardjohn commented on #19145
duplicate of https://github.com/istio/istio/issues/21870

[2020-12-29 01:03] #19145 closed

[2020-12-29 01:32] hzxuzhonghu commented on #29791
IIRC, the proxyConfig is marshalled and sent to the istiod, however not all the data is used. This is a waste.

[2020-12-29 01:33] howardjohn commented on #29791
node meta will only be sent once soon after https://github.com/envoyproxy/envoy/pull/14080, so I don't think the proxy config size matters much, personally.

[2020-12-29 01:45] hzxuzhonghu commented on #29791
But it reconnects every 30minute, in a large mesh, this could not be ignored. So could we only marshal useful fields?

[2020-12-29 01:48] howardjohn commented on #29791
The volume mount would be like ~5 lines of yaml. The full XDS config is 10000s. Even the current bootstrap from envoy is orders of magnitude larger. I don't think we need to optimize proxy config size too much

[2020-12-29 02:18] hzxuzhonghu commented on #29761
it looks good

[2020-12-29 02:44] yangminzhu commented on #29710
Closing as this should already be supported, feel free to reopen if you have other questions.

[2020-12-29 02:44] #29710 closed

[2020-12-29 03:10] #29591 closed

[2020-12-29 07:13] 1hanymhajna opened #29797 "upgrade path from 1.4.7( helm installation) to latest version"
Hi,
I'm working on upgrade path from istio 1.4.7 to the latest version
We installed istio using helm chart and want to move and start using istioctl in order to manage our clusters.
I tried to do `istioctl manifest migrate` in order to get the current state, but when i try to apply it using `istioctl manifest apply -f <migrate output file path>` it failed cause of a lot of unknown fields.

As I un

[2020-12-29 09:05] dulm opened #29799 "bookinfo demo shows Internal error occurred: failed calling webhook "sidecar-injector.istio.io""
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
i run   ` istioctl install --set profile=demo`  before ,  all show suc.

the status:

[code]

then `kubectl apply -f samples/bookinfo/platform/kub

[2020-12-29 09:20] shaneing commented on #29777
Although, pilot-agent log output "Envoy is ready", but can't access `localhost:15021/healthz/ready`.

[2020-12-29 09:30] liorfranko commented on #10537
+1

[2020-12-29 11:49] hzxuzhonghu commented on #29777
[code]

It looks that envoy is stuck

[2020-12-29 15:07] Monkeyanator commented on #29797
What version of `istioctl` are you using for the `istioctl manifest apply` and `istioctl manifest migrate`? Generally when I've seen a barrage of unknown field errors it's had something to do with istioctl verison (my hunch is that you may have to use 1.4.x istioctl to perform the initial migrate and install although I haven't personally tried it).

You are correct on the upgrade path requiring 1.

[2020-12-29 15:13] 1hanymhajna commented on #29797
Hi @Monkeyanator , thanks for your  reply,
I'm using istioctl 1.4.7v ( the same as the correct istio version),
As I understand we cannot migrate in 1.4.7 to istioctl cause it not support multiple ingress gateway, and in our case we have multiple ingress that we want to make sure that nothing broken there.

Do you know if we can upgrade (without downtime) **using HELM** to 1.5.10 then to migrate it

[2020-12-29 15:29] esnible commented on #29607
I also see output

[code]

Two problems with this.  First, it is checking revision `""`, and without the quotes it isn't clear.
Second, when Istio is installed remotely, we don't install an IOP.  I think we should, but this is a question for @sdake and @ostromart .  So we don't remember the options we installed with, and we do need a `--filename`.  That's correct.  But the instructions at https://

[2020-12-29 16:01] howardjohn commented on #25067
If we always request client cert won't that impact browsers by prompting for the cert every time they visit? Even if its optional

[2020-12-29 16:43] dulm commented on #29799
[code]

[2020-12-29 17:01] howardjohn commented on #29799
I am very surprised `kubectl get --raw /api/v1/namespaces/istio-system/services/https:istiod:https-webhook/proxy/inject -v4` works but this doesn't. Is it permanently broken? if you try creating a new pod does it work?

[2020-12-29 17:09] esnible opened #29803 "Issues related to external/remote control plane"
This is a tracking issue.  (Feel free to re-order or prioritize these)

cc @linsun

- [ ] `istioctl verify-install` https://github.com/istio/istio/issues/29607
- [ ] pod injector invalid when CNI settings different between external and remote plane https://github.com/istio/istio/issues/29618
- [ ] allow different cluster to use different image hub https://github.com/istio/istio/issues/29772
- [ ]

[2020-12-29 17:23] esnible commented on #29607
@linsun @istio/wg-environments-maintainers @frankbu When Istio is managed by external Istiod, **users expect `istioctl verify-install` to work**.

I will ask on the next Environments meeting, but I wanted to offer a chance to discuss now.

We can't look for _istio-system_ namespace, as it won't exist.
We shouldn't look for _external-istiod_ namespace, as that name is in our docs but not in the cod

[2020-12-29 17:28] howardjohn commented on #29607
The only thing we really need in the external one is cluster wide resources (webhooks+CRDs). The current namespace scoped ones will all go away in the near future once we remove EnvoyFilter for telemetry and make kube-inject call the webhook directly

[2020-12-29 17:34] lonnix commented on #29569
This issue has yet to happen again and I don't know when/if I'll get around to recreating it manually. I will close this issue and open a new one with the config dump requested above if I can recreate the issue.

[2020-12-29 17:34] #29569 closed

[2020-12-29 17:56] PatrickDuncan opened #29804 ""Connection reset by peer" Affecting all services"
**Bug description**

We have an application with many micro-services that are all a part of the mesh. We have strict mTLS PeerAuthentication on and we are using AuthorizationPolicies.

After some period of time (hours or days) the communication between the pods start to randomly fail with `connection reset by peer` and the only fix I've found is to restart either the receiver Pod, sender Pod, or b

[2020-12-29 19:48] #25688 closed

[2020-12-29 19:50] #29371 closed

[2020-12-29 20:17] esnible commented on #22274
Testing against 1.8.0

- injected pods are labeled with `istio.io/rev: default`.
- injected pods receive `spec.containers[*].env.PROXY_CONFIG` JSON that includes `"discoveryAddress":"<hostname>:15012"` **or** has no discoveryAddress.

@howardjohn Would it be reasonable for the troubleshooting commands to default the `--xds-address` to the value scraped from the pod's env.PROXY_CONFIG if it exists?

[2020-12-29 20:24] howardjohn commented on #22274
It is impossible to accurately derive the discovery address from a  pod. If we are okay with potential inaccuracies that could work.

[2020-12-29 20:25] howardjohn commented on #22274
although it does seem quite dependant on implementation details that are very likely to change in the future

[2020-12-29 20:27] howardjohn commented on #22274
Which command even needs this? Is it just `ps POD`?

[2020-12-29 21:11] samos123 commented on #29761
Any ideas on what to try next?

[2020-12-29 21:47] alexandershelega opened #29806 "DNS resolution problems for service entries"
Hi,
We have two ServiceEntres in same namespace for two deferent mongos.
Current  application connect to only main-mongodb-se. (main-db1-[1-3].c.internal-ai.internal )

see ServiceEntry configuration below
[code]

When app connects to `main-mongodb-se` (main-db1-[1-3].c.internal-ai.internal) in Istio sidecar log we see that ist's connecting to dcsdb1-1.c.internal-ai.internal but in ip address we s

[2020-12-29 23:14] howardjohn commented on #29806
This is not possible, generic TCP does not have enough information to distinguish these two. https://preliminary.istio.io/latest/blog/2020/dns-proxy/#external-tcp-services-without-vips has a better explanation of this

[2020-12-30 02:44] carolynhu opened #29813 "[upgrade] Rollback in-place upgrade from failures"
Design doc: https://docs.google.com/document/d/1r0kMCSTdvyo47gGc_SbKiarIXoAmQEofATmWfr6MxKU/edit

[2020-12-30 03:00] pc-rshetty commented on #19395
Do you know whats the equivalent on istio operator file when installing with istioctl
I tried this but validation fails

i tried this config
  meshConfig:
    sidecarInjectorWebhook:
      injectedAnnotations:
        cluster-autoscaler.kubernetes.io/safe-to-evict: "true"
but get error on upgrade (istio 1.6)
2020-12-30T02:56:28.351494Z	info	Error: failed to generate Istio configs from file [/tmp/m

[2020-12-30 03:45] #29749 closed

[2020-12-30 05:00] #15260 closed

[2020-12-30 05:01] #22400 closed

[2020-12-30 05:02] #23166 closed

[2020-12-30 05:02] #24450 closed

[2020-12-30 05:02] #24622 closed

[2020-12-30 05:02] #24633 closed

[2020-12-30 05:02] #24639 closed

[2020-12-30 05:03] #25570 closed

[2020-12-30 05:04] #26984 closed

[2020-12-30 05:04] #27032 closed

[2020-12-30 05:05] #27067 closed

[2020-12-30 05:05] #27080 closed

[2020-12-30 05:05] #27097 closed

[2020-12-30 05:05] #27165 closed

[2020-12-30 05:05] #27168 closed

[2020-12-30 05:05] #27179 closed

[2020-12-30 05:05] #27188 closed

[2020-12-30 05:05] #27189 closed

[2020-12-30 05:05] howardjohn commented on #25847
not stale

On Tue, Dec 29, 2020, 9:04 PM Istio Policy Bot <notifications@github.com>
wrote:

[2020-12-30 05:05] #27226 closed

[2020-12-30 05:05] #27240 closed

[2020-12-30 05:05] #27272 closed

[2020-12-30 05:05] #27283 closed

[2020-12-30 05:05] #27313 closed

[2020-12-30 05:06] howardjohn commented on #27057
not stale

[2020-12-30 05:21] papovyr commented on #29806
Hi @howardjohn,

Thanks for reply

In other words if we are using TCP protocol in our ServiceEntry and `resolution: NONE ` (like yaml above that we have) it will create following listener
[code]
And if we create second ServiceEntry with different name it will create an other listener and we will have following listeners
[code]
And traffic will go with first matching rule (dcsdb1-1.c.internal-ai.in

[2020-12-30 05:28] #29762 closed

[2020-12-30 06:31] pc-rshetty commented on #19395
ok works when i specify under values

[code]

[2020-12-30 07:23] su225 commented on #29297
Tests are fine now. So closing the issue.

[2020-12-30 07:23] #29297 closed

[2020-12-30 07:57] keerthig9 opened #29816 "TLS error: 268435696:SSL routines:OPENSSL_internal:UNSUPPORTED_PROTOCOL error for external service"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
We have externalservice which supports only TLS 1.0 version and it cannot be updated due to some internal reasons. When we enabled TLS origination for external service with Istio 1.8 version, we are getting `503 UF,URX` error `upstream connect error

[2020-12-30 07:58] keerthig9 commented on #29816
I see option to override min_tls_protocol is supported only for Gateway. As we don't have egressgateway, how can we set min_tls_protocol to use TLSV1_0 for sidecar.

[2020-12-30 13:33] Sh1ftry opened #29818 "Distroless install-cni image is not distroless"
**Bug description**

Install-cni images that have distroless tags are not distroless.

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[x] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expected behavior**
Distroless instal-cni image is distroless.

**Steps to reproduce the bug**
[code]

[2020-12-30 14:10] manmaujin2 commented on #21368
Thanks you! I have success to insert the cert into sidecar proxy. For MTLS between A and B istio proxy, are you apply the PeerAuthentication , AuthorizationPolicy and the envoy filter then can enable the HTTPS between istio proxy ?

[2020-12-30 14:25] morvencao commented on #27032
This was fixed after https://github.com/istio/istio/pull/27924

[2020-12-30 14:52] morvencao commented on #29785
@dulm Individual Istio components like Pilot, Galley, Citadel were all simplified into one istiod after istio 1.5, see: https://istio.io/latest/blog/2020/istiod/
I can't reproduce your issue of `failed calling webhook "validation.istio.io"`, now the istiod also acts as the validating webhook server, so if the istiod is running and its service exists, we should not encounter this issue.

[2020-12-30 15:07] howardjohn commented on #29806
There is not, envoy does not currently support this. While it's likely technically possible to add there are some challenges. For example envoy and the application may get different dns responses (because dns server returns different things, or at the very least if the dns changes it would occur for some time period) which will lead to traffic breaking

[2020-12-30 15:51] abhijitkubric opened #29819 "Envoy proxy is NOT ready: config not received from Pilot (is Pilot running?)"
**Bug description**

We have Istio 1.5.10 and EKS 1.14 running. Ingress-gateway pod started giving error after we restart the EKS nodes.

`info	Envoy proxy is NOT ready: config not received from Pilot (is Pilot running?): cds updates: 0 successful, 0 rejected; lds updates: 0 successful, 0 rejected`

[ ] Docs
[X] Installation
[X] Networking
[X] Performance and Scalability
[ ] Extensions and Telemet

[2020-12-30 16:27] howardjohn commented on #29695
I fixed https://github.com/istio/istio/pull/29646 and merged it, seems good so far

[2020-12-30 16:27] #29695 closed

[2020-12-30 16:40] stevenctl commented on #29234
@mikosa, when using revision flags to install the gateway, does this resolve your issue?

[2020-12-30 16:41] stevenctl commented on #29100
I don't think I've seen this flake for a few weeks now.

[2020-12-30 16:46] stevenctl commented on #29623
cc @irisdingbj @linsun

[2020-12-30 16:52] bianpengyuan commented on #27348
Close as there is no more update. Please reopen if needed thanks!

[2020-12-30 16:52] #27348 closed

[2020-12-30 16:54] papovyr commented on #29806
For TCP protocol in ServiceEntry there is no deference between `resolution: NONE` and `resolution: DNS` ?

[2020-12-30 16:56] howardjohn commented on #29806
DNS: Client sends request (likely resolving its own DNS request, but could also send directly to an IP), Envoy ignores it and sends to IP based on its own DNS resolution
NONE: Client sends request (likely resolving its own DNS request, but could also send directly to an IP), Envoy sends to the IP the client sent

[2020-12-30 17:04] howardjohn commented on #24870
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/29529/unit-tests_istio/1344326763026583552

[2020-12-30 17:15] stevenctl commented on #29600
An alternative to manually specifying whether a cluster is primary/remote in the remote secret would be to somehow introspect objects in the cluster to figure this out.

For the issues we're running into here, we don't actually care if the cluster  serves discovery to proxies. We care about whether or not _any_ istiod is going to manage the resources in the cluster. If we had a combinaton of istio

[2020-12-30 17:16] istio-testing opened #29821 "[release-1.8] Add ECC_SIGNATURE_ALGORITHM env integration test"
Manual cherrypick required.

#28894 failed to apply on top of branch "release-1.8":
[code]

[2020-12-30 17:16] istio-testing opened #29822 "[release-1.7] Add ECC_SIGNATURE_ALGORITHM env integration test"
Manual cherrypick required.

#28894 failed to apply on top of branch "release-1.7":
[code]

[2020-12-30 17:24] stevenctl commented on #29419
https://github.com/istio/istio/blob/cf71aad260a6be5194d79a0669b25deb89a850a1/manifests/charts/base/templates/clusterrole.yaml#L138-L148

So when patching for a remote cluster, everything is fine. But if we win the race and try to patch another primary cluster, we will fail. I'm confused how another primary cluster could win the leader-election without permission to mutate the configmap though.

[2020-12-30 20:19] #24619 closed

[2020-12-30 22:11] papovyr commented on #29806
Thanks @howardjohn
Now i'm confused

in case of   `resolution: DNS`
`Envoy ignores it and sends to IP based on its own DNS resolution` DNS resolution based on host spec ?

I see this happening for HTTP protocol where Host header is set. In case of TCP, client will resolve DNS and try to connect IP directly. How ENVOY knows original DNS that my app was trying to connect and will resolve DNS to ip a

[2020-12-30 22:12] howardjohn commented on #29806
The difference is in the cluster, not the listener

[2020-12-30 23:29] samos123 commented on #29761
It seems others are having similar issues with postgres [1][2]. Note that I was able to get it working with Redis succesfully so something special is happening with postgres. Here is how I did Redis TLS origination successfully: https://samos-it.com/posts/securing-redis-istio-tls-origniation-termination.html

It's quite easy to reproduce for me. Let me know if you want access to the Postgres TLS d

[2020-12-30 23:53] howardjohn commented on #29819
Istio 1.5 is no longer supported, please update to a later version and re-open if needed: https://istio.io/latest/news/support/announcing-1.5-eol-final/

Generally this issue means there is no network connectivity to Istiod though, which may mean EKS is having issues recovering from node restart.

[2020-12-30 23:53] #29819 closed

[2020-12-30 23:56] howardjohn commented on #29816
This is not currently supported. You could possibly hack it together with https://istio.io/docs/reference/config/networking/envoy-filter/.

Since Istio is not breaking this application, you are just not able to use an Istio feature (tls origination), this seems lower priority and would be less likely we will expose APIs to decrease security

[2020-12-31 00:40] howardjohn opened #29830 "push context init races"
First issue:

1. Push is called, generate PC A, start async AdsPushAll
2. Push called again, generate PC B, start async AdsPushAll
3. PC b AdsPushAll runs first, triggering push, and loading SidecarScope based on PC B
4. PC a AdsPushAll runs seconds, triggering push, and loading SidecarScope based on PC A

Proxy now has the wrong sidecar scope until next full push.

This is extremely unlikely to h

[2020-12-31 02:33] hzxuzhonghu commented on #29773
liveness probe is necessary to detect whether the components are stuck. It will help fast failure recovery.

[2020-12-31 02:54] #29785 closed

[2020-12-31 04:06] dulm commented on #29799
run  in  istiod container:
[code]

so is it a problom about dns?  how to resolve it.

[code]

[2020-12-31 05:02] #24217 closed

[2020-12-31 05:04] #27144 closed

[2020-12-31 05:04] #27164 closed

[2020-12-31 05:04] #27193 closed

[2020-12-31 05:04] #27238 closed

[2020-12-31 05:16] #27379 closed

[2020-12-31 06:51] llaoj commented on #29773
Yes, I have added it. But it is not on the default deployment list of istio. I suggest adding it.

[2020-12-31 07:45] hzxuzhonghu commented on #24741
not resolved

[2020-12-31 08:12] #29816 closed

[2020-12-31 09:25] XWTiger commented on #27577
maybe you can create crd firest .  i had the same error, when i created the crd first , it all is ok

[2020-12-31 10:30] rognierbenoit opened #29832 "unknown type: envoy.extensions.upstreams.http.v3.HttpProtocolOptions"
**Bug description**

Running the example file found at
https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/grpc_json_transcoder_filter#sample-envoy-configuration

returns the error

`unknown type: envoy.extensions.upstreams.http.v3.HttpProtocolOptions`

**Steps to reproduce the bug**

create a file 'test.yaml' from https://www.envoyproxy.io/docs/envoy/latest/configuration/h

[2020-12-31 10:35] rognierbenoit commented on #29832
seems to be duplicate of #14272

[2020-12-31 11:18] abhijitkubric commented on #29819
Upgraded it to Istio 1.6.14 . But error is same

[2020-12-31 13:21] eladitzhakian opened #29833 "Getting 504 GATEWAY_TIMEOUT with SSL termination on AWS ELB"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
I'm trying to use SSL termination on ELB level with ACM.

Using the following ingress gateway service annotations:
[code]

With this Gateway:
[cod

[2020-12-31 14:45] minho-comcom-ai opened #29834 "Error: failed to generate Istio configs from file [1.7.4-install.yaml], error: unknown field "names" in v1alpha1.IstioOperatorSpec:"
**Bug description**

[code]

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[X] Upgrade

**Expected behavior**

Dry-run well without any error.

**Steps to reproduce the bug**

(included above)

**Version** (include the output of `istioctl version --remote` and

[2020-12-31 14:56] minho-comcom-ai commented on #29834
- inserting v1.7.4 manifest to istioctl v1.7.4 upgrade is not working. (above)
- inserting v1.6.8 manifest to istioctl v1.7.4 upgrade is working.
[code]

[2020-12-31 17:32] Virinchi2595 commented on #24844
@jackfrost02
Can you please tell me all the changes you have done for this to work?
I am trying in Istio 1.18 but unable to understand where to modify following the documentation.

Thanks.

[2021-01-01 00:01] jackfrost02 commented on #24844
just to note, I did this in 1.6. Haven't tried 1.8 yet (I assume that's the version you tried?)
- I exported stats-filter to a file (kubectl -n istio-system get envoyfilter stats-filter-1.6 -o yaml > something.yaml)
- modify that file (something.yaml) and add the new dimension in whichever context you need, for my case it's SIDECAR_INBOUND context. Add the following inside configuration block so i

[2021-01-01 00:30] dat-billyf opened #29836 "GitOps Istio-Operator Deployment Silently Failing to Deploy CRs"
I've run across this weird state for a new `1.18` cluster where `helm template istio/manifests/charts/istio-operator/ --set hub=docker.io/istio --set tag=1.8.1 --set operatorNamespace=istio-operator --set istioNamespace=istio-system` applied using `kubectl apply` results in an `istio-operator` pod logging deletions for CRs in `istio-system`, but, **won't deploy anything using CRs**; no errors logg

[2021-01-01 00:49] bianpengyuan commented on #29791
That would still need pod annotation to select the custom template to merge with? Or is there going to be a way to specify custom template which is always merged?

[2021-01-01 01:01] howardjohn commented on #29791
There isn't yet but it's easy to add and we probably should

On Thu, Dec 31, 2020, 4:50 PM Pengyuan Bian <notifications@github.com>
wrote:

[2021-01-01 05:01] #20177 closed

[2021-01-01 05:02] #24820 closed

[2021-01-01 06:47] Virinchi2595 commented on #24844
@jackfrost02
Thank you for replying.

I followed the steps you mentioned.

please see attached video
let me know if I am doing anything wrong.

https://drive.google.com/file/d/1Uzm-rGTtmkKIYoIFXnYUAC7MyA-DY58Z/view?usp=sharing

Thank you.

[2021-01-01 07:19] peter-fe commented on #27691
Was that issue addressed in some way?

[2021-01-01 12:45] wz2cool commented on #22463
meet same issue in 1.8.

[2021-01-01 13:01] wz2cool commented on #22463
@rajivml could you help to reopen this issue

[2021-01-01 14:19] manmaujin2 commented on #29657
Hi , here I found the article mention how to perform SSL Term in envoy proxy. Is it allow to perform the custom envoy proxy config and enable the SSL ?

https://github.com/istio/istio/issues/21368

https://www.linkedin.com/pulse/end-in-transit-encryption-microservices-aws-eks-istio-rahul-natarajan?articleId=6663447775486840832

[2021-01-02 00:10] howardjohn commented on #27691
I believe this will be fixed by https://github.com/istio/istio/pull/29688, I will make sure we add an explicit test case

[2021-01-02 00:11] howardjohn commented on #29657
Can we keep discussion in https://github.com/istio/istio/issues/21368 which is the same feature request and has previous discussion and potential workarounds

[2021-01-02 00:11] #29657 closed

[2021-01-02 02:50] morvencao commented on #29836
@dat-billyf Can you check if the istiooperator CR is created in the `istio-system` namespace after you apply the istio-operator deployment from `helm template... | kubectl apply -f -` command?

[2021-01-02 03:02] morvencao commented on #29834
Why do you do an upgrade with manifests generated by `istioctl manifest generate`?
For in-place upgrade, follow this doc: https://istio.io/latest/docs/setup/upgrade/in-place/#upgrade-steps
[code]

`<your-custom-configuration-file>` is your istiooperator CR for the old istio, not the manifests generate by the `istioctl manifest generate...`.

[2021-01-02 06:54] Virinchi2595 commented on #24844
@jackfrost02
I tried same thing in Istio 1.6 it seems to be working fine
not sure why it fails in Istio 1.8

[2021-01-02 07:20] peter-fe commented on #27691
@howardjohn, that sounds great! Especially adding those tests would be a great deal stabilizing that VM mesh expansion area.

[2021-01-02 08:57] minho-comcom-ai commented on #29834
@morvencao Thank you for kind explanation. Now I fully understood below line in docs.

[2021-01-02 08:57] #29834 closed

[2021-01-02 16:34] shankgan opened #29838 "Improve CSR Checks when integrating with external Certificate Authorities."
When functioning as an RA to validate CSR Requests and forward them to an external CA, Istiod needs to perform more validations on the  x509 CSR Request.

Note that this code path (where Istiod functions as an RA) is only activated for experimental feature use https://istio.io/latest/docs/tasks/security/cert-management/custom-ca-k8s/.

Some missing validation checks include:
(a) keyUsage and extKe

[2021-01-02 19:05] zufardhiyaulhaq opened #29839 "wasm: segmentation fault remote wasm in ingressgateway"
**Bug description**
most of the tutorials using the local wasm file that mounted in the sidecar. Since not all my applications have Istio sidecar but exposed via Istio ingress gateway, my only options are to enable WASM filter in the ingress gateway.

after spikes, I found that annotation to mounted hostPath volume to a sidecar is not working in ingress gateway (?).  Since I already check `/var/lo

[2021-01-03 05:04] #27398 closed

[2021-01-03 09:49] zufardhiyaulhaq commented on #29839
**Update**

I try to change using local files (using filterdeployment object) from wasme controller.
[code]

the envoyfilter created:
[code]

its success running the wasm to add additional headers
[code]

[2021-01-03 10:09] sdake commented on #28192
John,

This issue exhibited in the past without the flow control flag enabled. It
had the appearance of being fixed in 1.8 - although I didn't heavily verify.

Cheers,
-steve

On Mon, Dec 21, 2020 at 9:21 PM lut777 <notifications@github.com> wrote:

[2021-01-03 10:23] zufardhiyaulhaq commented on #29839
Update:

switching from local to remote make it crash
[code]

[code]

[2021-01-04 00:33] howardjohn commented on #29832
This does not seem related to Istio at all, and should be an Envoy issue. Seems one is already open: https://github.com/envoyproxy/envoy/issues/14545. Thanks!

[2021-01-04 00:33] #29832 closed

[2021-01-04 00:38] howardjohn commented on #29788
Closing per ^

[2021-01-04 00:38] #29788 closed

[2021-01-04 00:40] howardjohn commented on #29773
This has been discussed many times in the past if you search github issues (or google, there are lots of discussions outside of Istio). my opinion is making it a default liveness probe is a bad idea, as if the probe has false positives the results can be catastrophic. Users are free to add their own at their own risk

[2021-01-04 01:42] LeonardoBonacci commented on #15277
me too

[2021-01-04 04:08] LSChyi commented on #27725
This issue is still reproducible with Istio 1.7.6. Is there any updates or suggestions?

[2021-01-04 04:45] hustshawn opened #29842 "ext_authz Envoy filter dosen't take effect"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
Hi, I am trying to apply an ext_authz envoy filter which expect to talk with my external authz server, but it seems doesn't take effect. I am not

[2021-01-04 04:47] hustshawn commented on #29842
B.T.W, I am not able to use `patch` syntax as suggested in https://github.com/istio/istio/issues/24462 and https://github.com/istio/istio/issues/26805. So that's why I raise the issue here to see if anyone has some idea about it.

[2021-01-04 05:02] #24852 closed

[2021-01-04 05:43] bianpengyuan opened #29843 "wasm filter config update causes request failing"
Found this when testing out basic auth wasm filter. When updating Wasm filter configuration (note: only filter configuration is updated, vm config remains the same), envoy starts to return empty response. From the log it looks like Envoy is having problem when reading from the connection:
<details>
<summary>Envoy Trace Log</summary>

[code]

</details>

This happens on istio-ingress and there is o

[2021-01-04 06:03] bianpengyuan commented on #29843
After a config update and envoy gets into a bad state, even after deleting and recreating the filter, the issue still happens.

If the filter config never updates, but only gets deleted and created again, this won't happen. So it looks like config update causes some workers to be stuck at the bad state.

[2021-01-04 07:02] peter-fe commented on #27728
Any updates on this? @howardjohn

[2021-01-04 10:31] SachinVarghese commented on #26984
@yangminzhu I am facing an issue with jwksuri with self-signed certificate as mentioned [above](https://github.com/istio/istio/issues/26984#issuecomment-745347235). My case doesn't have the `context deadline exceeded client.timeout exceeded while awaiting headers` as you suggested. Please reopen this issue/suggest possible solutions. Thanks.

[2021-01-04 13:10] esnible commented on #22274
Currently it is `experimental ps` and `experimental pc`.  The commands that use the debug interface should all get this: `authz`, `authn`, `describe`, `wait`.

My goal is to avoid the user, in a external control plane config, supply the `--xds-address` every time.  You are correct, pulling it out of the `env.PROXY_CONFIG` is a detail that will change in the future.  As the injector supplies that,

[2021-01-04 13:14] kevin-shelaga opened #29844 "envoy main there is no configured limit to the number of allowed active connections. Set a limit via the runtime key overload.global_downstream_max_connections"
The following error is thrown every second or so with a minimal istio install. I am not sure how to resolve.

[code]

Is there a way to disable this log without specifying overload.global_downstream_max_connections, or how can I set this value to its max allowed value?

[2021-01-04 13:14] esnible commented on #27324
Not stale, should not be closed.

[2021-01-04 13:41] idouba opened #29845 "URL regex match NOT support for in delegated VS, makes ingress's url mapping NOT work."
**Bug description**
"url match does not support regex match for delegating" error in case of regex url in delegated VS.

Thanks to  Virtual Service Chainning #22118, help decouple the routing rules of each service with each other and avoide big Virtualservice.  In product seniro, usually  root VS specifys the mappings of path and delegated VS.  But it turned out that  regex decscribed  ingress pat

[2021-01-04 13:55] esnible commented on #27732
Not stale.  Assigned to @piotrkpc .  I do not have the authority to let him assign himself to issues.

[2021-01-04 14:20] esnible commented on #29842
I tried to reproduce this on 1.8.0 using app=httpbin.  Pilot does a push when the EnvoyFilter is created.  Envoy logs some unrelated deprecation warnings but does not log anything about this filter nor did I see this filter in the /config_dump.

[2021-01-04 14:24] #29022 closed

[2021-01-04 15:09] cbenien opened #29846 "Service of type ExternalName breaks outgoing HTTPS connections"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
Background: we use Istio in a multi-tenant cluster and want to isolate workloads by namespace as much as possible.

We found a bug where deploying

[2021-01-04 16:31] Monkeyanator commented on #29846
Probable duplicate of: [https://github.com/istio/istio/issues/20703](https://github.com/istio/istio/issues/20703). Short-term fix from the issue seems to be either removing the port from the external-name service or renaming the service port with `https-` prefix.

Thanks for posting and we should definitely move to fix this, let's consolidate discussion on the above issue.

[2021-01-04 16:34] ericvn commented on #29693
Looking back at Istio releases, we typically move up a Golang version every 2 releases. This make sense since they release on a roughly 6 month cycle to our 3 month cycle. Continuing with that, we would release Istio 1.9 on Golang 1.15 (we released 1.8 on 1.15). What this does is makes the Istio support end roughly line up with the Golang end of support every other release. For example, Golang 1.1

[2021-01-04 16:39] howardjohn opened #29847 "Add retries around infrastructure flakes"
Examples: https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/29815/integ-helm-tests_istio/1345971686867996672 we could retry docker build on `connection reset by peer`

Examples I have seen but don't have links:
* curl download of envoy fails with SSL error; we can just always retry this script on failure probably
* `apt update` fails - I think we are not running this anymore in sta

[2021-01-04 16:42] ericvn commented on #29391
@brian-avery Would you be able to test this and see if it fails for you as well?

[2021-01-04 16:43] howardjohn commented on #22274
Example of where this goes wrong: user builds a custom docker image with `PROXY_CONFIG` preconfigured. No amount of introspection in the pod spec will solve this

Why does this need istiod access? Isn't it just reading envoy config dump?

If I am right about `pc`, this is the only command we need this for, and its used to diff between envoy and istiod config. IMO this is not a very useful command.

[2021-01-04 16:53] renaudhager commented on #20703
Hi guys,

I have encountered an issue that might be related to this one.
In my case, it's the envoy metadata that are highjacked by a headless service.
I have a service named backend-a defined like this:
[code]
And another one defined like this:
[code]

From the POD in `test` namespace if we curl http://backend-a.test.svc.cluster.local envoy identify this request to `node-exporter`.

Configured se

[2021-01-04 17:06] howardjohn commented on #27691
It actually wasn't fixed, but i have added 9fbcd981c87bd5d30e22769b2de5eaf4de035824 to that PR and tested it. Thanks for the report!

[2021-01-04 17:12] #29806 closed

[2021-01-04 17:17] howardjohn commented on #29842
You are using a version that has been EOL for a very very long time. Please update to Istio 1.8: https://istio.io/latest/news/support/announcing-1.6-eol/

[2021-01-04 17:17] #29842 closed

[2021-01-04 17:19] mandarjog commented on #29839
Remote load is not recommended for production use.
The remote loader in 1.7 has known issues dealing with 302s. Specifically github.com/raw redirects (302) to raw.githubusercontent.com which is not handled correctly.

Please place the file in a gcs bucket, or use https://raw.githubusercontent.com/zufardhiyaulhaq/wasm-secure-header/master/assets/v0.1.1/filter.wasm

For production use, you *should*

[2021-01-04 18:57] dat-billyf commented on #29836
Yeah, I came to the conclusion that the [recommended path for installing Istio and managing Istio installations will be using the Operator via Istioctl](https://discuss.istio.io/t/istios-helm-support-in-2020/5535) which, I just shared with my team last week. They were hoping to have no dependency on `istioctl` whatsoever, but, instead, use only manifests for a GitOps managed repo to deploy everyth

[2021-01-04 19:27] puneetloya commented on #27513
/notstale

[2021-01-04 19:38] puneetloya commented on #27513
@howardjohn and other istio developers can we please not mark this issue as stale? Is the above provided evidence by @omerfsen does not point to any issue? To me this issue seems like the only reason we are not able to run tcp proxies successfully with Istio. I mean to say it does work but with intermittent disconnectivity.

I have been using Kafka and Cassandra with Istio for the past few months

[2021-01-04 20:53] jwilner opened #29856 "Unable to use different CAs for server / client ingress mTLS"
**Bug description**

I am trying to build on [the secure ingress docs](https://istio.io/latest/docs/tasks/traffic-management/ingress/secure-ingress/#configure-a-mutual-tls-ingress-gateway) and configure Istio to use a different CA for client verification than that which signed the server cert. Istio does not seem to support this.

Specifically, I have an ingress gateway with a server block like so

[2021-01-04 22:01] howardjohn commented on #29856
I agree this is the desired behavior, and it turns out this actually was the behavior prior to a change we made in Istio 1.8. It also turns out the old behavior was sort of broken as well, if you removed the `-cacerts` Secret it would not fallback to the main Secret - this was already fixed by the change in 1.8

[2021-01-04 22:39] howardjohn commented on #29830
I confirmed the last one is present as well

reproducer:
<details>

[code]
</details>

[2021-01-05 00:22] jwilner commented on #29856
Awesome, thanks @howardjohn.

Qq while I've got you -- do you happen to know if the name from an ingress client cert should be visible to the authorization policies in `source.principals`? There is no mention of it in the docs or anything, but it seems like it should be feasible.

[2021-01-05 01:12] daixiang0 commented on #29326
@howardjohn i would like to update it, now we use debian9 distroless as base image and build as `gcr.io/istio-release/iptables`, while I can not find dockerfile for it:
[code]

[2021-01-05 01:13] howardjohn commented on #29326
documentation for where iptables comes from is in https://github.com/istio/istio/pull/29122

[2021-01-05 01:13] howardjohn commented on #29326
I would focus on the non-distroless first, the hard part is iptables

[2021-01-05 02:55] morvencao commented on #29836
Thanks @dat-billyf I found that `helm3 template` command by default don't include the CRDs, see: https://github.com/helm/helm/issues/6930
We should add another flag `--include-crds` to output the CRDs as well. I'll update the doc for this.

[2021-01-05 03:02] hustshawn commented on #29842
Thank you @esnible . Does it mean the configuration is not correct even if tested on istio 1.8?

[2021-01-05 05:02] #24394 closed

[2021-01-05 05:02] #24705 closed

[2021-01-05 05:02] #24890 closed

[2021-01-05 07:54] shaneing commented on #29777
I lanch two services, **service-b**, and **service-http**. However, I found that the probe is working at first. But, it will be failed when I send two requests `curl service-http:50055/hello`.

In addition, the requests are no response. So, I try to exec tcpdump `tcpdump -i any -S -A 'port 50055 or port 15006 or port 15001'` in `service-http` pod:

[code]

This looks like the proxy doesn't forward

[2021-01-05 09:39] jezhang2014 opened #29858 "istio1.8.1 two envoyfilter configruation confilict with each other"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
istio 1.8.1
I have two envoyfilters affect on enovy.http_connection_manager, one is for HTTP_FILTER, the other is for NETWORK_FILTER, once I apply

[2021-01-05 10:56] #29856 closed

[2021-01-05 10:58] ramaraochavali commented on #27513
not statle

[2021-01-05 12:14] Jxic opened #29863 "Istio proxy uses up all available ports for handling websocket connections and refuse further connections"
I wasn't sure if this is a bug or an expected behavior, but before raising this issue, I have been looking for any related issue or documents for days and there's nothing I could find helpful

[ ] Docs
[ ] Installation
[ x] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expect

[2021-01-05 13:48] #29846 closed

[2021-01-05 14:19] #29567 closed

[2021-01-05 14:28] NormanFoxLee12 commented on #29567
Sorry, the issue was that application at /test/ui/api/p-service/profiles was using internally endpoint from another namespace. It is coincidence that second service has endpoint that ends with */profiles. When original application fails to reach this endpoint, I see the 403 RBAC error in browser.

[2021-01-05 14:40] esnible commented on #29842
@hustshawn Your EnvoyFilter contents aren't being sent to Envoy.  I suspect this is because you couldn't get "patch" working.  It is needed.  It might be best to start with some Istio config, such as _manifests/charts/istio-control/istio-discovery/templates/telemetryv2_1.8.yaml_ , and try to mutate that.

[2021-01-05 15:12] esnible commented on #28536
Closing because not reproducible.  Perhaps one of the other fixes handled it.  Re-open or open a new issue if you can reproduce.

[2021-01-05 15:14] maateen commented on #24856
A nice workaround, at least when you are using an external PostgreSQL service like AWS RDS, can be excluding the port from redirection to Envoy. You can do that by setting the following annotation at the pod:

[code]

Reference: https://istio.io/latest/docs/reference/config/annotations/

[2021-01-05 17:51] schue commented on #24461
We seem to be seeing a similar problem with PostgreSQL and Postgraphile. The log shows Postgraphile trying to reconnect but never recovers. Recycling the Postgraphile pod restores functionality.

[2021-01-05 17:51] howardjohn opened #29868 "Multicluster controller startup sync may miss clusters"
This is theoretical, I haven't verified it. I think the multicluster controller may get the Secret event, add it to the queue, mark itself "synced", *than* actually have the controller up and running.

The end result is an early proxy may connect to istiod before it has all the clusters connected, and get incorrect info.

cc @stevenctl

[2021-01-05 18:15] stevenctl commented on #29868
Are you concerned that the secret controller is marking itself ready too soon? Or that the kube controllers aren't fully synced when we mark the discovery server ready?

If you're worried about the former:

Doesn't `WaitForCacheSyncInterval` mean that we know all the secret events are on the queue?

Currently we wait for the informer to have synced, then we queue a signal that will make the contro

[2021-01-05 18:18] howardjohn commented on #29868
Oh nice, I missed the initialSyncSignal part. That was my main concern.

In the main k8s registry we solved the same problem with an extra SyncAll call, would that have been solved with the same (simpler/more efficient) initialSyncSignal? Or I guess the issue was we need all the events to be process from all types since there are cross references?

I think we may still have an issue that we start

[2021-01-05 18:28] jacob-delgado opened #29870 "Management of workload certificates"
**Describe the feature request**

Users are not able to configure the workload certificate lifecycle within their service mesh. There are numerous reasons why users would wish to manage this, from auditing, regulatory requirements and control.

A first class API is needed by these users as they are not comfortable with altering CLI arguments and environmental variables in the sidecar-injector conf

[2021-01-05 18:33] bianpengyuan commented on #29843
cc @kyessenov @PiotrSikora @mandarjog in case you have suspicion before I spent time digging more into this..

[2021-01-05 18:47] kyessenov commented on #29658
Did we narrow it down to DNS?

[2021-01-05 18:49] stevenctl commented on #29868
I think we verify that all the controllers are synced here:
https://github.com/istio/istio/blob/a40fe583908a37e5d60868bb60fde1259988bff1/pilot/pkg/bootstrap/server.go#L772

[2021-01-05 18:51] stevenctl commented on #29868
IIRC the issue was that for initial sync, service/endpoint events would be processed in a different order than they would normally be, and that caused endpoint events to be dropped since there was no related servce.

[2021-01-05 18:51] howardjohn commented on #29868
Ah so here
[code]

after this point we know all clusters have been added

then
[code]

must check all of them are sync.

Seems like its all good then, thanks!

[2021-01-05 18:51] #29868 closed

[2021-01-05 18:56] esnible commented on #22274
@howardjohn You are correct, I should not have said `pc`.

Ignoring the mechanism, do you have an objection to pods having some kind of breadcrumb trail so that tools can find their control plane?  Am I asking for the wrong kind of mechanism, or is any mechanism going to be a problem?

[2021-01-05 18:56] douglas-reid opened #29871 "Dashboard test flakes"
**Bug description**

Looking at same test failures in http://eng.istio.io/flakes, I noticed a large number of failures in the dashboard tests related to pulling `container_memory_working_set_bytes` and `container_cpu_seconds_total` metrics from all of the clusters.

Examples:
- https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/29448/integ-telemetry-k8s-tests_istio/1338944805052354

[2021-01-05 19:00] howardjohn commented on #22274
It depends if it needs to be accurate, or you want a best effort. A best effort trail isn't a problem, to get the real value is much harder

[2021-01-05 19:15] taitelman opened #29873 "upgrade Istio v1.7.5 --> v1.8.1 + partial STRICT mTLS: killed statefulSet headless service access"
**Bug description**
I have a Vault running in my cluster https://github.com/hashicorp/vault-helm/tree/master/templates
the Vault pod exposes two ports: 8200,8201 installed as a stateful service (I can set the pod name static in advance, then each pod can access other pod via the https://podName.headlessService:port)

https-internal (port 8201) is used to coordinate the leader pod among 3 Vault pod

[2021-01-05 19:53] ericvn opened #29877 "istio.io ops/diagnostic-tools/istioctl-analyze/test.sh test fails on the main branch"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**

Trying to move the istio.io tests from the release-1.8 branch to main and the test now fails. The tail end of the log (https://storage.googleapis

[2021-01-05 19:53] ericvn commented on #29877
Noting that there is now a level in the output.

[2021-01-05 20:08] linsun commented on #29873
I think @howardjohn mentioned https traffic with mTLS disabled is a regression introduced in 1.8.  Should be fixed in 1.8.2.  Please correct me if I'm wrong @howardjohn, thanks!

[2021-01-05 20:08] #29871 closed

[2021-01-05 21:02] ericvn commented on #29877
Fixed as a commit in https://github.com/istio/istio.io/pull/8562

[2021-01-05 21:02] #29877 closed

[2021-01-05 21:31] #28799 closed

[2021-01-05 21:33] stevenctl commented on #27701
We've added a long-term cleanup (based on max-conn age), deleting the Group is now handled. We won't handle Updates to the group directly.

A separate issue has been created for multi-cluster compat.

[2021-01-05 21:33] #27701 closed

[2021-01-05 21:38] stevenctl commented on #27841
@hzxuzhonghu do you know if https://github.com/istio/istio/pull/26008 or https://github.com/istio/istio/pull/26112 fixes this?

[2021-01-05 21:52] douglas-reid commented on #28910
@kyessenov this looks like an issue with regexes possibly. thoughts?

[2021-01-05 21:56] douglas-reid commented on #28531
@kyessenov can you take a look?

[2021-01-05 21:58] douglas-reid commented on #28528
Can this issue be closed now?  It seems like it has been resolved.

[2021-01-05 21:58] jlcrow commented on #23101
I believe we just ran into this exact issue going from 1.4.9 > 1.5.10, was there a way to resolve the upgrade or just up the creek without a paddle? @jaygorrell

[2021-01-05 21:59] bianpengyuan commented on #28528
Closing this now, @Siddharthk please reopen if needed. Thanks!

[2021-01-05 22:02] douglas-reid commented on #28397
Do you have a way of validating that all of the required headers are passed through successfully?  I would expect `proxy_pass_request_headers      on;` to work, but it seems like somehow not all of the headers are making it through.

Since this _appears_ to be something related to the nginx app and not Istio, I'm going to close this issue. Please re-open if you have more data to support an Istio i

[2021-01-05 22:02] #28397 closed

[2021-01-05 22:03] jlcrow commented on #23101
Nevermind, I guess you just remove the env from the values.yaml @jaygorrell

[2021-01-05 22:05] douglas-reid commented on #29778
This isn't something we expect end users to interact with directly. At the moment, you can use that config in EnvoyFilter resources to control extensions, if needed.

Let's move the discussion to the discuss forum if you have more questions.

[2021-01-05 22:05] #29778 closed

[2021-01-05 22:07] douglas-reid commented on #29654
Are there further actions here?  Can we close this issue now?

[2021-01-05 22:10] douglas-reid commented on #29493
Do you have access logging configured globally in your mesh configuration as well?

[2021-01-05 23:16] zenvdeluca commented on #29493
No, I have access log globally disabled and willing to enable error logs only

[2021-01-06 00:48] shankgan commented on #27734
discussed this with @howardjohn - the helm Values.global.TrustDomain has already been marked as deprecated in Istio 1.8. In Istio 1.9, will remove this configuration entirely

[2021-01-06 01:03] SeanWallace commented on #27643
Sorry to bump an old issue but this seems to be the same issue I'm having. On 1.6 cert-manager was able to connect to the ACME challenge pod and on 1.7 and 1.8 it is not.

What I have learned is this seems to come down to `httpsRedirect` being enabled. When I have that enabled and attempt to hit the "well-known" ingress:

[code]

Once I update the gateway spec I get this:
[code]

As a workaround I

[2021-01-06 01:52] douglas-reid commented on #17386
Related: https://github.com/istio/istio/issues/28833

We currently have `istio.*` tags for canonical service info. We can add tags with that scheme for config fairly easily. Maybe: `istio.networking.destination_rule` or similar.

[2021-01-06 01:58] alen-z opened #29881 "Using revision flag in IstioOperator CRD breaks deployment"
**Bug description**
1. If using istio-operator and applying `IstioOperator` CRD with `spec.revision` — Istio does not work.
2. If deployed with `istioctl` and using `--revision` flag — Istio does not work.

So far I've noticed that `ValidatingWebhookConfiguration` and `MutatingWebhookConfiguration` do not get proper `istiod` service reference in the YAML configuration (does not include revision su

[2021-01-06 01:59] antoniovicente commented on #29777
Is an iptable rule throwing away the SYN packets before they get to the Envoy process?  The TCP dump in https://github.com/envoyproxy/envoy/issues/14500 seems to suggest that the TCP connection is never established.  That's entirely on the kernel, the TCP connection must complete before Envoy can accept the new incoming connection via the listener.

The TCP dump would look the same even if the Env

[2021-01-06 01:59] douglas-reid commented on #26888
Can we mark these tests as required now, and begin to address any additional refactorings needed to further reduce overall run time?  Last few runs have been ~30mins. That is reasonably close to the prior tent pole, and would get us appropriate coverage while the test refactoring effort can be tackled. The cost of not doing it is any sort of test regression or flakiness introduced in the lag betwe

[2021-01-06 02:02] douglas-reid commented on #28483
There are a couple of small changes here to link logs and traces. Getting exemplars for metrics<->traces correlation probably takes a bit more doing.

[2021-01-06 02:49] howardjohn commented on #29863
I am not sure I fully understand - wouldn't this happen without Istio as well?

[2021-01-06 02:51] SeanWallace commented on #27315
Indeed the assumption made in #24958 is false:

This is literally the best example why it's better to require the specification than to assume all traffic as otherwise.

[2021-01-06 03:02] douglas-reid commented on #29268
@howardjohn do you have an easy repro for the issue? can you try running with the provisional changes in https://github.com/istio/istio/pull/29882 ?

[2021-01-06 03:03] shaneing commented on #29777
The https://github.com/istio/istio/issues/29777#issuecomment-754469782 result in failure to create a connection in envoyproxy/envoy#14500.

I will try to debug it again.

[2021-01-06 04:57] Jxic commented on #29863
Maybe I didn't make the issue clear. The number of connections a single service pod could handle should only be limited by the CPU or RAM resources, provided that the server gets configured correctly (max open file, max pid, etc). But in my case,  when I have istio proxy handling the connections, the bottleneck seems to be the number of available port on the pod, which does not really make sense t

[2021-01-06 05:03] #25484 closed

[2021-01-06 05:03] #26462 closed

[2021-01-06 05:04] #26868 closed

[2021-01-06 05:08] howardjohn commented on #29863
Regardless if Istio, the number of connections will be limited by the ports available if local ip, remote ip, and remote port are the same. https://making.pusher.com/ephemeral-port-exhaustion-and-how-to-avoid-it/ is a good explanation of this.

So what I think this means is either one of these three things is different with istio. Using ss to investigate is a good idea

[2021-01-06 05:08] howardjohn commented on #27826
not stale

On Tue, Jan 5, 2021, 9:06 PM Istio Policy Bot <notifications@github.com>
wrote:

[2021-01-06 05:08] morvencao commented on #29881
Duplicated with https://github.com/istio/istio/issues/27501

[2021-01-06 06:38] shaneing commented on #29777
I have recorded a video:

https://user-images.githubusercontent.com/14818134/103737266-d22ed600-502c-11eb-9267-013c807e69a6.mp4

[2021-01-06 06:49] hzxuzhonghu commented on #29844
IMO, envoy should have a fix on this

[2021-01-06 06:50] shamsher31 opened #29884 "Canary Upgrades: different warnings are displayed when revision is passed using set flags"
When a user is trying to do a canary upgrade with `--set revsion=<rev>`, instead of upgrade warning it shows an overwrite warning.

Install Istio `1.8.1` and try to upgrade it to the latest master with `--set revision=canary`.

[code]
with `--revision canary`
[code]

Ideally, whether the revision is passed with `--set revision` or `--revision`, both should show upgrade warnings not the overwrite w

[2021-01-06 06:52] ramaraochavali commented on #29844
What fix? defaulting to max int? I think it was left like that to force control planes choose the relevant value.

[2021-01-06 07:07] #27412 closed

[2021-01-06 07:22] Jxic commented on #29863
yeah i tried ss before, and what I found was that the number of available ports runs out as more incoming connections occur. I am just not sure if it's expected that istio proxy would open a port for each new connection, and would this behavior be different in the future version?

[2021-01-06 07:51] hzxuzhonghu commented on #27841
Let me have a look

[2021-01-06 07:53] #29119 closed

[2021-01-06 08:00] hzxuzhonghu commented on #27841
#26008 should have fixed it

[2021-01-06 08:05] hzxuzhonghu commented on #29844
I mean envoy should not throw an error every second.
I am not sure why envoy suggests configuring the value to half the ulimit of the system.

[2021-01-06 08:26] hzxuzhonghu commented on #29873
It is not same. Here with tls disabled in inbound direction. But why enforce mtls with the DR?

[code]

[2021-01-06 09:28] lechen26 commented on #29537
Jumping in., i think i have the exact same issue.
one of my applications includes service of LB type and installed with certificate. (letsencrypt).
when enabling on this application the Envoy sidecar injection, and trying to reach the service like:
`curl https://my-dns-for-service.net`
i get the following error:
`curl: (35) LibreSSL SSL_connect: SSL_ERROR_SYSCALL in connection to my-dns-for-servic

[2021-01-06 10:06] hustshawn commented on #29842
@esnible Thank you again. I did notice the syntax of EnvoyFilter changed a lot between Istio 1.2.7 and Istio 1.8+, and not compatible. Due to many complex reasons, we are not able to upgrade the legacy Istio right now.
It seems I really cannot get the EnvoyFilter working on the Istio 1.2.7.

[2021-01-06 11:00] taitelman commented on #29873
you are right. I modified the DR to
[code]
problem still exist

[2021-01-06 11:01] ramaraochavali commented on #29844
@PiotrSikora might know about the reason for Envoy suggestion

[2021-01-06 12:28] hzxuzhonghu commented on #29873
Can you show the cluster configdump for headerHostname.vault-internal

[2021-01-06 12:29] hzxuzhonghu commented on #29873
Can you try disable tls within the DR

[2021-01-06 13:13] taitelman commented on #29873
explain how I disable TLS inside:
[code]

[2021-01-06 13:14] taitelman commented on #29873
the strange thing here is even if I delete the PeerAuthentication: problem persists

[2021-01-06 13:17] xuxant commented on #22954
@hqms I faced the same issue. Can you tell me how you solved it?

[2021-01-06 13:19] taitelman commented on #29873
each pod announce itself via internal url : https://$(HOSTNAME).x-vault-int:8201

[2021-01-06 14:12] egegunes commented on #27386
@howardjohn it's not a custom build issue:

[code]

I installed istio (1.6.3) with `istioctl`. Upgraded to 1.8.1 by first upgrading to 1.7.6 then 1.8.1 by `istioctl upgrade`.

[2021-01-06 14:30] rajivml commented on #26259
@howardjohn Nope, this fix was live in 1.5.6 and use 1.5.6 in production and this issue happens on our production on a day to day basis and we have a cron setup to restart istiod when this happens https://github.com/istio/istio/pull/22598

[2021-01-06 14:32] linsun commented on #29873
@taitelman for your public service, do you need to expose 8201?   Also, for internal service, do you need to expose 8200?

Simply deleting peer authentication won't work because you are not configuring the disable mtls on port 8201 for internal communication within the pod.  So you do need peer authentication with strict but disable port 8201.

You can disable TLS using DR, something like:
  - api

[2021-01-06 14:41] ericvn commented on #29391
This issue was fixed in a commit in https://github.com/istio/istio.io/pull/8562 provided by @howardjohn.

[2021-01-06 14:41] #29391 closed

[2021-01-06 14:41] ericvn commented on #29399
This issue was fixed in a commit in https://github.com/istio/istio.io/pull/8562 provided by @howardjohn.

[2021-01-06 14:42] #29399 closed

[2021-01-06 14:50] #29884 closed

[2021-01-06 15:45] howardjohn commented on #24118
Not stale

[2021-01-06 16:23] taitelman commented on #29873
collecting `istioctl pc cluster` dump
[vault-0.dump.txt](https://github.com/istio/istio/files/5776893/vault-0.dump.txt)
[vault-2.dump.txt](https://github.com/istio/istio/files/5776895/vault-2.dump.txt)
[vault-1.dump.txt](https://github.com/istio/istio/files/5776896/vault-1.dump.txt)

you will see this is actual data from my cluster. namespace x==823edda102129f3232a0dc06556d5abd

[2021-01-06 16:27] barryzhounb opened #29888 "OpenShift route doesn't work once a namespace is added to Istio member roll"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**

I have OpenShift environment, I am creating a http route to my service, the route works well, I can access my service via route from outside clus

[2021-01-06 16:59] nmittler commented on #26888
I think so ... @howardjohn wdyt?

[2021-01-06 17:01] taitelman commented on #29873
disabling TLS in the DR didn't change a thing . I'm puzzled.
[code]

[2021-01-06 17:19] jwilner opened #29891 "Unable to use cluster-external SPIFFE URI SAN for Authz Policy"
I am unable to set ingress authorization policies based on the URI SAN of client certificates.

**Bug description**

I have a cert for `jen` with the URI set to
[code]

I use the `cert-manager.svc.cluster.local` as the CA for my ingress with MUTUAL auth.

Up to this point, everything works fine:
[code]

The issue comes when I attempt to apply an `AuthorizationPolicy` like so:

[code]

The intentio

[2021-01-06 17:27] ericvn commented on #29400
Also note https://github.com/istio/istio.io/issues/8622

[2021-01-06 17:38] dat-billyf commented on #29836
Thank you!

On Mon, Jan 4, 2021 at 6:55 PM Morven Cao <notifications@github.com> wrote:

[2021-01-06 18:22] ericvn commented on #29400
Also discussion between @douglas-reid and myself in the #extensions-telemetry Slack channel.

[2021-01-06 18:54] keerthig9 opened #29892 "[Question] what exactly connectTimeout in DestinationRule means"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**
We have different understanding in team about connectTimeout parameter in https://istio.io/latest/docs/reference/config/networking/destination-rul

[2021-01-06 19:04] bleggett commented on #27900
Can Spark masters be configured to listen on localhost? That might be simpler.

[2021-01-06 19:09] kyessenov commented on #29843
I don't have any leads. How do we reproduce this? There should be a separate VM for a new config now I think.

[2021-01-06 19:15] bianpengyuan commented on #29843
I've not able to reproduce with locally, will get to that.

You mean even just changing the plugin configuration (VM config remains unchanged), there will be VM creation? That does match my memory..

[2021-01-06 19:16] tariq1890 opened #29893 "EnvoyFilter does not work if the port name isn't a standard protocol name (like http, https etc)"
**Bug description**

We are trying to apply an `EnvoyFilter` which modifies the `HTTPConnectionManager` section of the Envoy config.
We have found that this filter isn't applied when port name other `http` is used.

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

[2021-01-06 19:18] kyessenov commented on #28531
Is there some difference in ingress labels between staging and prod?

[2021-01-06 19:23] kyessenov commented on #29843
This is a new change in envoy. When a module config changes, the old one needs to continue to serve draining listeners. So there is a new VM spawn off keyed by the config. @PiotrSikora to confirm.

[2021-01-06 21:11] howardjohn commented on #29888
This should probably be filed in https://github.com/Maistra, Istio does not have a "member roll" concept.

[2021-01-06 21:55] howardjohn commented on #27315
Sorry for the delay. I don't have an AWS cluster to do a full reproduction, but i wasn't able to reproduce this.

I installed Istio 1.6, set up my ports to match yours (80->80, 443->80) and created this config:
[code]

then I sent requests:
[code]

All 4 of these return the same 301 response, which is what I would expect.

This behavior is the same on 1.8 and 1.6 for me. To me, this seems expected

[2021-01-06 22:22] howardjohn commented on #27643
@SeanWallace what Gateway configuration do you have? Can you post the exact thing? Working on a fix for this and want to make sure i fully understand the problem

[2021-01-06 22:27] howardjohn commented on #27643
My understanding is in 1.6 it was actually broken such that when cert-manager created the Ingress for the challenge, httpsRedirect actually stopped working for *all* requests. In 1.7, this was "fixed", and now it requires TLS on all requests to `www.mydomain.com`. I think the distinction here is we would want the redirect only on things other than `.well-known/acme-challenge/...` but I am not sure

[2021-01-06 22:48] mayo84 commented on #24038
I'm having this issue in istio 1.8.1.
Installed istio-operator through helm install option.

[2021-01-06 22:53] andrascz commented on #27315
Thank you for the response. You are raising an important point about XffNumTrustedHops. Sorry that I forgo tabout that part and did not include it in this issue. Here is the EnvoyFilter we are using:
[code]

[2021-01-06 22:57] howardjohn commented on #27643
I think to do it we would need to stop using RequireTLS in envoy, and instead use route_action.https_redirect and a match on `:scheme`. This is not only a big change, but its broken in envoy currently: https://github.com/envoyproxy/envoy/issues/14587. So would likely be a while until fixed.

[2021-01-06 22:58] howardjohn commented on #27315
@andrascz got it, thanks, that was the missing piece!

[2021-01-06 22:58] SeanWallace commented on #27643
Your theory sounds correct to me just based on my observation.

Here is my fully Gateway config:

[code]

And in case it's useful the ingress that was generated by cert-manager:

[code]

Thank you for your attention on this, it is much appreciated!

[2021-01-06 23:54] shankgan commented on #22161
Reg Item 2.(a), when browsing through the list of inbuilt signers available here - (https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/#kubernetes-signers), it looks like all these signers are custom-built to sign certificates for k8s components.
 Does K8s have any recommendations to decide which signer to use for non-k8s infrastructure components? For instance, I

[2021-01-07 00:03] #29526 closed

[2021-01-07 00:26] ldemailly commented on #23018
Can configuring terminating QUIC be an option before full UDP support? ie doing QUIC or h3 to envoy ingresses -> h2?

[2021-01-07 00:28] howardjohn commented on #23018
@ldemailly yes, I think that is a reasonable progression so we don't need to deal with redirection concerns

[2021-01-07 01:33] tariq1890 commented on #29893
Closing this issue. I had `PILOT_ENABLE_PROTOCOL_SNIFFING_FOR_INBOUND` set to `false` all this while. From Istio-1.7, the default value is `true`.

[2021-01-07 01:33] #29893 closed

[2021-01-07 01:37] tmc commented on #17139
In the context of GKE/Cloud SQL, deploying the cloud-sql-proxy sidecar (or even as a service) is a way to work around this since that code performs client-side keepalives which will prevent the 60m timeout being it.

[2021-01-07 02:01] hzxuzhonghu commented on #29893
Can you dump the virtualInbound listener, i have tested it works on ` 1.9-alpha.b480c6305be009285e6659a81d1fe3fb9255cff2`

[2021-01-07 02:01] hzxuzhonghu commented on #29893
NVM

[2021-01-07 02:18] yangminzhu commented on #29891
In the Envoy log, it seems the URI SAN is set to `spiffe://insecure/local-dev/jen` which is not the Istio spiffe format. Could you change it to `spiffe://insecure/ns/local-dev/sa/jen` and also change the policy to `principals: ["insecure/ns/local-dev/sa/jen"]`?

[2021-01-07 02:34] yangminzhu commented on #29408
It's istiod to fetch and cache the jwks public key so restarting the istiod should be good enough to delete the cache.

@xulingqing, I think we could first verify the the istiod will always the jwks when restarted, and then you can also investigate 1) make the refresh interval configurable (probably as an environmental variable in istiod) and/or 2) add a debug endpoint (e.g. http://127.0.0.1/debug

[2021-01-07 02:34] yangminzhu commented on #29436
related to https://github.com/istio/istio/issues/29408, cc @xulingqing

[2021-01-07 02:35] zhaohuabing commented on #12845
[Aeraki](https://github.com/aeraki-framework/aeraki) can help to support Thrift in an Istio service mesh, including traffic management, such as version-based routing and traffic splitting, and service metrics.

Demo:
http://aeraki.zhaohuabing.com:3000/d/pgz7wp-Gz/aeraki-demo?orgId=1&refresh=10s&kiosk
https://www.youtube.com/watch?v=vrjp-Yg3Leg

[2021-01-07 02:43] morvencao commented on #24038
The deletion operation hang issue was fixed in https://github.com/istio/istio/pull/24072
The original issue was caused by unmerged iop spec.
If you still see issue with similar symptom， I believe it is caused by some other reason. Please open a new issue and provide the reproduce steps.

[2021-01-07 02:51] sidheshdivekar29 commented on #29499
I am following this tutorial but running into issues.
https://istio.io/latest/docs/setup/install/virtual-machine/#install-the-istio-control-plane
The script errors out but ingress is created. However the pod never comes up due to readiness check failing.

[code]
Below are the events from istio-system namespace.

[code]

I noticed that due to this the vm is also unable to connect to istiod.

Logs f

[2021-01-07 03:18] zhranklin commented on #25021
@yangminzhu Consider the AntPathMatcher syntax. It's easy to use and satisfies most scenes:

- `?` matches one character
- `*` matches zero or more characters
- `**` matches zero or more directories in a path

e.g.

- com/t?st.jsp — matches com/test.jsp but also com/tast.jsp or com/txst.jsp
- com/*.jsp — matches all .jsp files in the com directory
- com/**/test.jsp — matches all test.jsp files und

[2021-01-07 03:30] hzxuzhonghu opened #29898 "Dns resolve breaks down coredns"
(**NOTE**: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>)

**Bug description**

During our scalability test based on the default intsallation, when we increase the proxies number to less than 20K, the dns is broken down.

We