[2019-10-21 16:25] Crayeth commented on #18095
Same for me with
`ENV TERRAFORM=0.12.12
ENV KUBE=1.16.2
ENV HELM=2.15.0
ENV ISTIO=1.3.3`

`Error from server (Invalid): error when creating "istio/1.3.3/istio.yaml": Job.batch "istio-security-post-install-1.3.3" is invalid: spec.template.spec.affinity.nodeAffinity.requiredDuringSchedulingIgnoredDuringExecution.nodeSelectorTerms[0].matchExpressions[0].values: Required value: must be specified when

[2019-10-21 16:35] howardjohn commented on #18064
You can always get the SHA from `istioctl version`, I am not sure why we would need to put it in istioctl analyze as well

[2019-10-21 16:39] #18077 closed

[2019-10-21 16:40] howardjohn commented on #18115
That would be useful

[2019-10-21 16:41] cebernardi commented on #18115
great news!
Thanks @howardjohn !

[2019-10-21 16:44] incfly commented on #18106
The solution is to propose some changes in pilot agent for readiness check of the key/cert. We don't change Pilot implementation.

[2019-10-21 16:56] davidebbo commented on #18064
@howardjohn I tend to agree that `istioctl version` is good enough here, and that we don't need to display the SHA in the analyze command.

[2019-10-21 17:05] arctiqtim commented on #18095
Just ran into this today as well ... appears the issue is isolated to the latest helm release.  I confirmed installing helm 2.13 works.  All templates generate fine.  The issue seems to be that with helm 2.15 the "Values" for node affinity do NOT get populated.  Thus you end up with a failure to apply the deployment manifests.

Quick fix for now is a downgrade of Helm.

Cheers!

[2019-10-21 17:08] ayj commented on #12479
Closing this issue for now. @catherinetcai, please re-open if you're still seeing the problem.

[2019-10-21 17:08] #12479 closed

[2019-10-21 17:15] ayj commented on #16784
Looks like this was fixed by https://github.com/istio/istio/pull/17342. Please re-open if the issue persists.

[2019-10-21 17:15] #16784 closed

[2019-10-21 17:22] ayj commented on #15908
@rajeshneo, are you still seeing this problem? If so, can you re-post on discuss.istio.io with the latest details?

[2019-10-21 17:22] #15908 closed

[2019-10-21 17:30] ayj commented on #15401
@nirvanacc, have you followed the instructions at https://istio.io/faq/general/#istio-doesnt-work? If you have and the problem still persists, please re-open this issue with the current state (see https://istio.io/about/bugs/).

[2019-10-21 17:30] #15401 closed

[2019-10-21 17:37] ayj commented on #15326
Is this addressed by https://github.com/istio/istio/pull/17334? cc @howardjohn

[2019-10-21 17:39] rjshrjndrn opened #18120 "Istio ingress-gateway proxy not ready"
**Bug description**
istio-ingress-proxy is not ready

**Expected behavior**
Ingress works properly

**Version (include the output of `istioctl version --remote` and `kubectl version`)**
[code]
**How was Istio installed?**
helm
**Environment where bug was observed (cloud vendor, OS, etc)**
AKS

*istio-ingress-log*
[code]
*pilot log*
[code]

[2019-10-21 17:40] howardjohn commented on #15326
https://github.com/istio/istio/pull/17334 may partial fix this, with https://github.com/istio/istio/issues/17318 tracking additional fixes

[2019-10-21 17:40] #15326 closed

[2019-10-21 18:08] sushicw commented on #17949
While the need for it should eventually disappear, I'm feeling good about simply skipping the schema validation analyzer for synthetic service entries. The only time we'd get a true positive there is if we had a bug in how we were generating synthetic service entries... and that should be caught through more direct means.

If there aren't any objections, I'll submit a quick PR to remove the TODO l

[2019-10-21 18:19] esnible commented on #12437
At the UX meeting October 8th we decided to use `istioctl proxy-config bootstrap ${vm-name} --envoyDumpFile <(gcloud compute ssh ${vm-name} -- cur localhost:15000/config_dump)`

This should be easy to test and simpler than approaches that required us to set up a running SSH tunnel and pass in the host:port of the tunnel.

[2019-10-21 18:27] ayj commented on #12761
The config analyzer may be able to catch this problem. cc @sushicw

[2019-10-21 18:37] sushicw opened #18124 "`istioctl x analyze` should break on unparseable files"
Right now, if given a syntactically incorrect file that it can't parse, `istioctl x analyze` will skip over it. It logs a WARN level message, but most users will never see it unless they specifically go looking.

Not breaking visibly or outputting anything at all when given an unparseable input file counts as Surprising Behavior for a validation tool. We should output a clear message and return a

[2019-10-21 18:40] kotyara85 commented on #18107
Yeah, that was fixed, thanks.

After I enabled mtls: true health checks start failing:

[code]

I do have rewriteAppHTTPProbe = true in my config
[code]

Is there a way to make it working with mtls enabled?

Thanks!

[2019-10-21 18:49] sushicw commented on #12761
Yes, writing an analyzer that covers this case would make sense.
Adding this to the Analyzers epic.

[2019-10-21 18:49] xubofei1983 commented on #18110
We got same issue on 1.3.3.  Downgraded to 1.2.6 works fine..

[2019-10-21 18:49] #15089 closed

[2019-10-21 18:55] sushicw commented on #17543
Taking this thought a bit further: in addition to decoupling *when* we do the analysis from distribution, we should also decouple *what* gets analyzed. This will let us do e.g. analysis on Deployment resources without polluting our distribution channel. See https://github.com/istio/istio/issues/18002 for some discussion of this.

[2019-10-21 18:55] yxue commented on #18110
Can you try to increase the timeout `protocolDetectionTimeout`? BTW, did you apply some other service entry on port 443? From the config dump, I saw some sni match against `*.amazonaws.com`.

[2019-10-21 18:56] sushicw commented on #18002
https://github.com/istio/istio/pull/18070 will fix the immediate issue.

There's still future work to decouple the set of collections being analyzed from the collections being distributed, tracked as part of https://github.com/istio/istio/issues/17543.

[2019-10-21 19:07] xubofei1983 commented on #18110
We do not even use service entry yet.

For now we do not limit/control all external traffic.  but a curl to external https link failed with this error (It works fine when I do not inject istio side car).

The proposed workaround (set enableProtocolSniffingForOutbound: false)  works for us too.  But we decided to downgrade back to 1.2.6 for now.

[2019-10-21 19:10] kramvan1 commented on #18036
@irisdingbj    Is this something specific to egress?   (something that is not enabled by default)

[2019-10-21 19:20] nmittler commented on #17949
@Nino-K @howardjohn @sushicw just catching up on this thread. Do we think these errors are legitimate or is there a bug somewhere in galley/pilot?

[2019-10-21 19:30] kotyara85 commented on #18107
Okay, I can confirm that once mtls is enabled sidecar-container cannot start onvoy and health checks fail:

[code]

[2019-10-21 20:17] kramvan1 opened #18130 "operator IstioControlPlane k8s:affinity: mapped to wrong level"
**Bug description**

Example from Doc: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#an-example-of-a-pod-that-uses-pod-affinity

The mapping https://github.com/istio/operator/blob/master/data/translateConfig/translateConfig-1.4.yaml#L20-L22  appears to be wrong.

fails for the follow components:
- configManagement
  - galley
- gateways
  - ingress
  - egress
- security
  - cit

[2019-10-21 20:36] sushicw commented on #17949
I don't believe there are any Pilot bugs on the table here.

Galley is looking at k8s service resources and generating "synthetic" service entries (service discovery). It's doing this for all services in the cluster, or at least trying to. For services that don't meet Istio protocol prefix requirements, Galley is still generating synthetic entries but marking them as "unknown protocol". When we tr

[2019-10-21 21:01] jasonwzm opened #18133 "Make sure no new breaking change in each API version"
Before we land API versioning, we need to make sure that there is no API break change introduced in the latest API version.

Current thinking, have a policy bot that detects breaking change in APIs.

[2019-10-21 21:02] kramvan1 opened #18134 "Operator: deployment spec need resource limits"
**Bug description**

Operator deployment spec needs resource limits.  Some baseline is needed to start with:
[code]

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version`)**

**How was Istio installed?**

**Environment where bug was observed (cloud vendor, OS, etc)**

[2019-10-21 21:17] bowei commented on #17158
cc: @freehan @robscott

[2019-10-21 21:17] elfinhe commented on #17225
will add one section for upgrade CLI.

[2019-10-21 21:22] howardjohn commented on #17158
status update: blocked by https://github.com/istio/istio/issues/17831, which shouldn't be too much work to get working. Once we have that done, I have a WIP that is probably 80% done for base level support. To actually do similar splicing in Envoy is much more work and dependent on some Envoy side changes

[2019-10-21 21:25] elfinhe commented on #12229
carolynhu@ is now working on the integration tests for upgrade. We are going to create jobs for both 'istioctl x upgrade' and `helm template | kubectl apply` upgrade.
This issue may be a follow-up work item to extend the integration tests to cover more profiles, such as security, and sds.

[2019-10-21 22:21] kotyara85 commented on #18107
Okay, this's related to some changes in 1.3 version of istio,
[code]

I'm running k8s 1.14.3. Is there any documentation how to set this up?

https://istio.io/blog/2019/trustworthy-jwt-sds/

Thanks

[2019-10-21 22:21] howardjohn opened #18135 "Tracking of golang Benchmark results"
Currently, we have some golang benchmarks, and we want to add more in the future. We don't have any tests that run these yet.

* We should add a new postsubmit/periodic test that runs these benchmarks
* Results should be stored in either TestGrid or Mako (or both?)

[2019-10-21 22:37] howardjohn commented on #18135
Use https://github.com/kubernetes/test-infra/tree/master/pkg/benchmarkjunit and copy output to $ARTIFACTS and test grid will automatically track this

[2019-10-21 22:50] Nino-K commented on #17949
I think skipping synthetic service entries as per @sushicw's PR might be a quick fix to move forward for now since the entire feature is not even turned on. But I do think we need to have a better filtering and validation in Galley for those non-qualifying port names, otherwise we will have the same problem once the feature is on and we no longer skip the SSE in the analyzer. I will create an issu

[2019-10-21 22:54] Nino-K opened #18136 "Galley should validate synthetic service entry with invalid port names"
This is to address the following issue:https://github.com/istio/istio/issues/17949
Galley should not process syntetic service entries that do not have a valid port name.

Depends on the completion of: #18416
Related PR: https://github.com/istio/istio/pull/19241

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version`

[2019-10-21 23:07] FridayPush commented on #14708
@johnjjung I'm hitting this same issue which for me appears to be #9429; The browsers are over aggressively using open connections. Trying to find a work around.

[2019-10-21 23:17] bianpengyuan opened #18139 "Principal labels are not filled for telemetry v2"
Telemetry v2 misses source and destination principal labels. These two attributes are not yet available in wasm data accessor API. We need to add a new wasm API to read SAN from local and peer cert.

[2019-10-21 23:22] bianpengyuan commented on #18139
@kyessenov @mandarjog

[2019-10-21 23:28] #17912 closed

[2019-10-21 23:29] cdmurph32 commented on #12549
You can preserve the external request id with the following EnvoyFilter.  I'm running Istio 1.3.0.
[code]
Thanks to https://github.com/envoyproxy/envoy/pull/7140

[2019-10-21 23:33] cdmurph32 commented on #10875
Repeating my comment from https://github.com/istio/istio/issues/12549:

I was able to preserve the external request id with the following EnvoyFilter. I'm running Istio 1.3.0.
[code]
Thanks to envoyproxy/envoy#7140

[2019-10-21 23:50] howardjohn opened #18143 "Operator: docker.save needs to be gzipped"
istio/istio and istio/cni docker.save targets run commands like:
`time ( docker save -o /usr/local/google/home/howardjohn/go/out/linux_amd64/release/docker/pilot.tar istio/pilot:838e2eedcc8a1d485320ec8517fc2e6c1ff414e0 && gzip /usr/local/google/home/howardjohn/go/out/linux_amd64/release/docker/pilot.tar );`

For consistency, we should gzip the operator image as well. In the release code, we explic

[2019-10-21 23:56] #18016 closed

[2019-10-22 00:07] howardjohn commented on #17837
Thanks for the extremely detailed issue - probably the best issue report I have seen. I was able to reproduce, digging into this now.

One thing interesting, is after switching the endpoint I can access `httpbin2 IP`, but not `httpbin1 IP` or `httpbin`, even though the `httpbin` service points to `httpbin2 IP`, both in k8s and envoy

[2019-10-22 00:29] x15zhang commented on #13326
Any update? How to get the first ip from request.headers["x-forwarded-for"] ?

[2019-10-22 00:47] #18106 closed

[2019-10-22 01:02] howardjohn commented on #17837
When we point to `httpbin1` and it works, the listener has tls_inspector, and a FCM on IP:80. The other one does not -- there is only the passthrough. so probably GetProxyServiceInstances does not work

[2019-10-22 01:10] howardjohn commented on #17837
When the pod has no Endpoint associated, it will return no service instances, which means no inbound listener config, which means the request fail. Once we later hot-swap the Endpoint, Pilot does only an EDS update.

This can be confirmed by doing `curl -s 'localhost:8080/debug/adsz?push=true` on Pilot -- it will resolve the issue, as it will trigger a full push, which will recompute the listeners

[2019-10-22 01:26] howardjohn commented on #17837
I was really confused how this could have been working on 1.2 but not on 1.3, since 1.2 should suffer from the same problem above, so I tested 1.2 as well, it behaves exactly the same. I am realizing now you never mentioned 1.2 works.

So Knative currently does not support mTLS = strict due to this, is that right?

[2019-10-22 02:15] mailzyok opened #18148 "Fail to build istio proxy 1.3.3 on OpenSUSE (successfully build istio proxy 1.x and 1.2.x)"
Hi all,

There is no problem to build Istio proxy 1.2.x on OpenSUSE by dynamically linking Envoy against libc++

1.3.x libc++ is statically linked, due to this change, we failed to build istio proxy on OpenSUSE

clang and clang++ are installed in OpenSUSE for sure

With static linked we met the following errors. It seems protoc binary has some issues, it always failed as "segmentation fault", even

[2019-10-22 02:55] hzxuzhonghu commented on #17831
we should first upgrade istio operator client-go to 1.6, but that is blocked by https://github.com/kubernetes-sigs/controller-runtime/issues/652

[2019-10-22 03:08] howardjohn commented on #18133
Just wondering, what is the difference between this and the protolock stuff?

[2019-10-22 03:11] howardjohn commented on #18120
Do sidecars work properly? It may be related to SDS

[2019-10-22 03:26] howardjohn commented on #17831
We can upgrade istio/istio without upgrading the operator I think, last
time I tried it worked

On Mon, Oct 21, 2019, 7:56 PM Zhonghu Xu <notifications@github.com> wrote:

[2019-10-22 03:27] morvencao commented on #18095
There is a filed issue in helm stream for helm v2.15, that a series of Helm template number functions are broken, suggest to skip this version of helm.
See: https://github.com/helm/helm/issues/6708

[2019-10-22 03:43] dumindu commented on #18095
@arctiqtim  I tried to install istio with helm 2.13 but get following error while installing
[code]

[2019-10-22 04:11] morvencao commented on #18095
@dumindu What's your k8s and helm version? What's the output of `helm init --output json`?

[2019-10-22 04:22] dumindu commented on #18095
[code]

[2019-10-22 05:02] sdake commented on #18036
@kramvan1 more likely this is related to the fact that merging is not done correctly for resources.  In the default profile, there is less stuff to merge, so the effect of an invalid merge may not be visible (but still occurring).

Cheers
-steve

[2019-10-22 05:07] frdeng commented on #18095
The workaround is using helm 2.14.3, if you run in to `helm init` problem with k8s v1.16, use this workaround:
[code]

[2019-10-22 06:01] sdake opened #18151 "operator master does not appear to start a proxy for pilot"
**Bug description**

The operator is not starting a proxy for pilot.  The last I was aware, this was mandatory:
[code]

**Expected behavior**
Istio installs pilot.

**Steps to reproduce the bug**
[code]
kubectl apply -k deploy
kubectl apply -f deploy/crds/istio_v1alpha2_istiocontrolplane_cr.yaml
[code]

[2019-10-22 06:05] jdamour98 commented on #8658
Hello? No answer? I have 2 pods running behind my ingress gateway, and I want to route to a pod based purely on the uri prefix. Any reason this isn't allowed? @rshriram @linsun

[2019-10-22 06:06] sdake commented on #18134
@kramvan1 thanks for the suggestion.  I have added this bug fix as a PR for 1.4 backport.  I have increased the requests and imits slightly in my PR for no good reason other than to align on power of 2 boundaries.  Please feel free to review the work in https://github.com/istio/operator/pull/434.

[2019-10-22 06:09] zengyuxing007 opened #18152 "Istio control plane supports the envoy function (tcp listener connection balancing)"
**Describe the feature request**
The envoy community has released about tcp listener connection balancing(https://github.com/envoyproxy/envoy/pull/8422), which need pilot-discovery to support its configure
[code]

This feature will improve the istio performance, and we verify that the fluctuation is reduced under the fortio scenario test.

hope istio  can add this feature to the istio 1.4 version.

[2019-10-22 06:11] #18143 closed

[2019-10-22 06:17] #18134 closed

[2019-10-22 06:46] hzxuzhonghu commented on #17831
How did you get it? I tried but failed, go mod will find a compatible version for its dependencies.

[2019-10-22 07:16] sdake opened #18154 "the istioctl binary is tagged as `osx` while uname lists `darwin`"
**Bug description**

IMO the binaries should match the operating system uname.  on Linux - this is `linux` on OSX this is `darwin`. The images are currently named `osx` which makes executing a simple curl operation difficult for those that don't like to run magic install-everything shell scripts that require root from the internet...

**Expected behavior**
https://gcsweb.istio.io/gcs/istio-prerele

[2019-10-22 07:21] sdake opened #18155 "Trim license whitelist"
**Bug description**
Copyleft licenses are used in the Istio dependency chain. Some legal people think that any transitive dependency that is copyleft changes the whole license to copyleft for the rest of the source base, making copyleft licenses fundamentally incompatible with ASL2.

See https://storage.googleapis.com/istio-prerelease/prerelease/1.4.0-alpha.0/LICENSES

[2019-10-22 07:22] goruha commented on #18110
The service entry solves https access to `*.amazonaws.com` for our developers, so this is a workaround.
We do not have any other service entry on 443.

I will try `protocolDetectionTimeout` in a few

[2019-10-22 07:23] goruha commented on #18110
@yxue ^

[2019-10-22 07:25] incfly opened #18156 "Clean up the old mtls integration test"
**Bug description**

TestMTlsWithAuthNPolicy those tests are running with old test framework.

Only concern is is this might be run in multi cluster env setup. But however, it does not make sense to run two set of the same tests but different test frameworks...

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version`

[2019-10-22 07:56] dumindu commented on #18095
@frdeng Thanks for your tip. I always tried option 2 in https://istio.io/docs/setup/install/helm/ . This was worked perfectly with option 1.

[code]

[2019-10-22 08:06] sdake commented on #15411
We are not making further investments in any helm related technology for Istio. As such I am closing this bug.  Our future solution for deployment is focused around the operator here: https://github.com/istio/operator.

[2019-10-22 08:06] #15411 closed

[2019-10-22 08:09] sdake commented on #16085
Whether or not the "bug" is fixed is a subject of debate. The reality that it took the helm community 4 releases to fix this critical issue (if it is indeed fixed, which I doubt), is completely unacceptable, given the amount of complaining that took place on the issue trackers.  This CRD issue nearly killed Istio's entire deployment technology.

We are not making further investments in any helm re

[2019-10-22 08:09] #16085 closed

[2019-10-22 08:13] sdake commented on #16787
@memorais thanks for reporting this issue.  I have . ressigned to test and release.  While the RPM is used for installation, the act of producing the RPM is an artifact release process. This RPM implementation is currently not supported, and should probably be deleted from the repository unless someone steps up to maintain it.

@brian-avery ^^

[2019-10-22 08:16] sdake commented on #17062
@irisdingbj would you be king enough to answer this question and see if there is engineering work involved here?

Cheers
-steve

[2019-10-22 08:21] sdake commented on #16968
Please be aware that we are no longer investing in the old installer we ship with 1.3 and prior versions of Istio including the upcoming Istio 1.4.  This work will be replaced by the operator here: https://github.com/istio/operator.  If the operator doesnt meet your need please open a new issue with the operator as a baseline.

Cheers
-steve

[2019-10-22 08:21] #16968 closed

[2019-10-22 08:26] sdake commented on #18095
Reported this issue in istio/istio.io (our documentation).  Since this problem has been moved, I am closing this issue.

Cheers
-steve

[2019-10-22 08:26] #18095 closed

[2019-10-22 08:37] sdake commented on #14662
I believe this bug should be moved to the istio/istio.io queue and documented as a faq entry as @frankbu has recommended.

@geeknoid can you move this issue?

Cheers
-steve

[2019-10-22 08:41] sdake commented on #11731
At some point, this issue should be translated into a new issue representing the new 6-dimensional model of multicluster.  For now, I am marking as bug bashed and we can address a new epic for this once we get a little further down the road on the 6-dimensional model.

[2019-10-22 08:42] sdake commented on #13663
we have bigger fish to fry.

[2019-10-22 09:35] irisdingbj commented on #18036
Wait for merging the installer pr, then will update operator to consume the new name. And the hpa for egressgateway will take effect.
@kramvan1 ^^

[2019-10-22 09:43] nak3 commented on #17837
Yes, you are correct. Knative has never supported mTLS STRICT mode.

[2019-10-22 09:49] #18113 closed

[2019-10-22 10:48] jwendell commented on #16275
Now that #17599 is merged, we just need a CI job that makes use of this flag.

[2019-10-22 11:01] jwendell commented on #16787
I'll take a look at it

[2019-10-22 11:05] jwendell opened #18158 "Write test for mirror task using istioio"

[2019-10-22 11:14] adimania commented on #18097
Hello. Could anyone offer any help on this or point me to the correct place to ask for help?

[2019-10-22 12:02] rahulrai-in commented on #18092
Facing a similar problem but even *.global doesn't work for me. I followed the steps documented here: https://istio.io/docs/setup/install/multicluster/gateways/#setup-dns

CoreDNS is behaving in a very strange way for me. If the hostname is DNS resolvable for HTTP e.g. google.com, then it works for me even without making any changes to the corefile. However, if the hostname is not DNS resolvable e

[2019-10-22 12:17] rjshrjndrn commented on #18120
I think so, because they are not restarting
I deleted istio-ingress-controller and pilot deployments
`helm upgrade --install istio -f ./istio/values-1.3.2.yaml istio.io/istio --set gateways.istio-ingressgateway.sds.enabled=true --namespace istio-system` once agin, and both were up.
Then I deleted just ingress controller pod. Again same behavior.

[2019-10-22 12:23] zhangxingdeppon opened #18161 "istio-mesh metrics data was partly lost"
**Bug description**
Hi,buddies,I faced a problem about istio-mesh,when I  get the metric "istio_requests_total" data through prometheus  ,I found that the metric’s data sometimes can be lost over a period of time,
I use this  promQL to search the metric's data:
<pre><code>
istio_requests_total{reporter="source",destination_service=~"idcardocr-xl8meey0-serving.aipaas-modelserving.svc.cluster.local"

[2019-10-22 12:24] rjshrjndrn commented on #18092
for a simple example.
1. create config map like this
[code]
I am using azure, and azure kube-system coredns will take this cornfig map as an additional serice entry. you might have to append this to your `kube-system` coredns config map if necessary.

2. Create serviceEntry
[code]
now `kubectl exec` to any other pod and try to resolve keycloak.sunbird.global` will resolve the ip address.

@rahulra

[2019-10-22 12:39] rshriram commented on #10875
Thanks @cdmurph32 . Also, folks on this thread, very sorry about the trouble caused by our settings in the gateway - but these were meant as a general purpose setting. The whole reason for creating the new EnvoyFilter API (not the old one specified in the OPs comment) is to overcome some of the issues. As @cdmurph32 points out, with the new API, you can customize the generated configuration to you

[2019-10-22 12:43] #10875 closed

[2019-10-22 12:44] rahulrai-in commented on #18092
My problem is a little different. The hostname sunbird.global can be resolved on internet and hence it works. If you replace it with a name whose lookup will fail on internet e.g. sunbird.local, then the resolution doesn't work.

[2019-10-22 13:00] woodcockjosh commented on #16085
@sdake is right that helm is incredibly unstable and response to critical issuesis below average, however until a better alternative emerges we are all stuck with helm like it or not. Istio init is not better than including crds in helm chart.

[2019-10-22 13:30] johnjjung commented on #14708
Yea, we had traditional LB for services in parallel and our uptime checks had LB's up but Istio Gateways/Virtual Services down, and ended reverting back to GCP-load balancers for our services. It's strange the latency from our uptime checks went down significantly as well. We'll be experimenting on our sandbox-cluster:
- We had wild card certs as a secret (this broke when we upgraded to the latest

[2019-10-22 13:46] nmittler commented on #17949
My question ultimately is: "what does pilot do and is Galley different?". Fundamentally the logic in Galley is meant to be identical to Pilot's k8s service registry.

@Nino-K can you look at how Pilot handles these unknown ports?

[2019-10-22 15:00] howardjohn commented on #18110
What is `kiam-server.kube-system.svc.cluster.local`? I am pretty sure your `curl https://google.com` is matching that filter. I assume this is a non https service on port 443?

[2019-10-22 15:02] howardjohn commented on #15411
@sdake shipping the operator and supporting users using Helm charts to install Istio CRs are two different things. Users are using helm - we should meet them where they are. I don't think we should add annotation support though for the reasons mentioned above

[2019-10-22 15:08] howardjohn commented on #17837
@nak3 thanks! I think I fully understand the problem now, just not quite sure on the solution. I will think about it a bit and probably bring it up in the networking WG meeting thursday if I don't come up with anything.

Just for some extra info, is the Endpoint hot-swapping trick Knative uses to get around propagation delays in Istio, Kubernetes, or both? And how often is this swap occurring? Wha

[2019-10-22 15:13] Nino-K commented on #17949
@nmittler quickly looking at the validation on the [pilot](https://github.com/istio/istio/blob/021a8778fb589a5da924d32bf21eccf2959e8480/pkg/config/validation/validation.go#L2338) side and [galley](https://github.com/istio/istio/blob/master/galley/pkg/runtime/projections/serviceentry/converter/instance.go#L59) side they do not align at all. Port validation on the galley side seems to be missing. I

[2019-10-22 15:24] howardjohn opened #18165 "TestConformance/k8s/ingress/merge/0 codecov tes"
This is failing 100% of the time it seems:

* https://prow.istio.io/view/gcs/istio-prow/logs/codecov_istio_postsubmit/446
* https://prow.istio.io/view/gcs/istio-prow/logs/codecov_istio_postsubmit/445

[2019-10-22 15:36] sdake opened #18167 "mixer OOMing with default profile"
**Bug description**
Using `:latest` images with the work here: https://github.com/istio/tools/pull/124 - mixer OOMs.

**Expected behavior**
No crash.

**Steps to reproduce the bug**
Follow the README in the repository.

**Version (include the output of `istioctl version --remote` and `kubectl version`)**
`:latest` container images as of October 22, 2019

**How was Istio installed?**
deployed with

[2019-10-22 15:45] fcantournet opened #18169 "Envoy Filter doesn't merge properly BoolValues"
**Bug description**

`use_remote_address` cannot be set to `false` on `http_connection_manager` filter via the new envoy filter API.

This seems to be the case for `BoolType` values (as opposed to `bool`) :
 I see the same problem for `use_remote_address` & `generate_request_id`, whereas I can set `preserve_external_request_id` to `true`.

cf : https://www.envoyproxy.io/docs/envoy/latest/api-v2/co

[2019-10-22 15:53] goruha commented on #18110
@howardjohn this is [kiam](https://github.com/uswitch/kiam) in `kube-system` namespace istio injection is disabled.

[2019-10-22 15:56] howardjohn commented on #18110
@goruha whether it is integrated/injected doesn't matter. By default, every proxy will get config about every service in the cluster, including ones not injected. So if you have an "invalid" service on port 443, it may break https traffic (see https://github.com/istio/istio/issues/16458 -- I would consider this a bug not working as intended).

You can create a Sidecar to define which namespaces to

[2019-10-22 16:01] frankbu commented on #14662
The FAQ entry has already been created, so now issue is needed in istio/istio.io.
https://preliminary.istio.io/faq/applications/#elasticsearch

[2019-10-22 16:01] #14662 closed

[2019-10-22 16:18] aleksey005 opened #18171 "Not work FastCGI fastcgi_pass - service php-fpm - with auto injected istio sidecar"
Use rancher 2.3.1 with enabeled for namespace default Istio Auto Injection.

istio-citadel:1.3.1
istio-galley:1.3.1
istio-proxyv2:1.3.1
istio-pilot:1.3.1
istio-mixer:1.3.1
istio-sidecar_injector:1.3.1
istio-mixer:1.3.1
jaegertracing-all-in-one:1.12
kiali-kiali:v1.4.2

Workload 1 - nginx <-->Workload 2 - php-fpm

Nginx config:

[code]
In container nginx log with Injected sidecar istio-proxy:
[code]

[2019-10-22 16:31] nmittler commented on #17949
@Nino-K if they do not align at all, that's a problem. It's likely due to pilot development proceeding after the initial galley work landed. I suggest you start there ... focus on making the logic in galley match what pilot is doing today.

[2019-10-22 16:41] kkunkel opened #18172 "Helm Charts don't work with helm 2.15.0"
**Bug description**

helm 2.15.0 fails to properly enumerate `.Values.global.arch` in `_affinity.tpl` when the values are integers. This results in deployments missing key elements and values for deployments, for example:
[code]
Quoting the values in `values.yaml` like
[code]
produces the desired yaml.

**Expected behavior**

Istio helm charts should produce useable charts with the latest stable H

[2019-10-22 16:52] #18002 closed

[2019-10-22 16:53] howardjohn commented on #18172
It is a bug in helm 2.15, workaround in  https://github.com/istio/istio/pull/18170.

[2019-10-22 16:58] pradeepmvn commented on #10647
Thanks for this info.. This should have been documented where.. Took some time to figure this out.. But yes this is a **MUST** if we want to expose a GRPC service outside of Istio - uri exact match directly to the pod ip.

[2019-10-22 17:03] howardjohn opened #18173 "Operator needs to be update in go.mod of istio/istio"
There were a few changes, some which are already documented, that need to be pulled in. This mostly applies to release-1.4, but master should be synced as well.

When we pull these in, we will need to update the gobuild.sh to pass the correct LDFLAGS to set the hub and tag variable. This may require updating common-files first

[2019-10-22 17:07] #18172 closed

[2019-10-22 17:14] djazayeri commented on #17952
1.4.x is okay, because I'll also need to have the change backported to 1.3.x (and maybe 1.2.x).

[2019-10-22 17:20] tkatrichenko opened #18174 "Custom Grafana dashboards not showing data when mTLS enabled"
**Bug description**
After enabling mTLS, Grafana doesn't show data from custom dashboards

**Expected behavior**
Grafana shows data from the dashboards

**Steps to reproduce the bug**
Istio was installed using Helm template (some options were omitted to make it shorter)
[code]
After I enabled mTLS (applied policy/dest rule), I can't see any incoming data in my custom dashboards for Spring Boot app

[2019-10-22 17:32] rjshrjndrn commented on #18092
oh no.
`sunbird.global` is in cluster scope. And the ip I get for `keycloak.sunbird.global` is the custom ip I give.
if you try to resolve the particular ip via internet, you won't get anything.

[2019-10-22 17:37] pnovotnak opened #18175 "istioctl x analyze -k 'unable to start watcher for "apps/v1/Deployment"'"
**Bug description**

`istioctl` experimental `analyze -k` command throws an error.

[code]

**Expected behavior**

`istioctl x analyze -k` should display some useful output.

**Steps to reproduce the bug**

[code]

On my machine I get:

[code]

**Version (include the output of `istioctl version --remote` and `kubectl version`)**

[code]

[code]

[2019-10-22 17:41] kotyara85 opened #18176 "Istio + nginx"
Hello everyone,
Our networking diagram is:
LB -> nginx ingress controllers -> istio sidecar -> service

Istio is 1.1.7, mtls enabled.

Web services are up and running, I can hit the endpoints within istio-proxy container but not outside.

Is there a way to make it work with nginx?

Tried to add this
[code]

to ingress, but doesn't work.

Thanks

[2019-10-22 17:49] selmanj opened #18177 "istioctl analyze works with restricted role"
We should test situations where `istioctl analyze` is running under a role with restricted permissions (e.g. if unable to view the `istio-system` namespace, what does the injection analyzer do? What should it do?)

[2019-10-22 17:49] Bessonov commented on #9783
activity occurs

[2019-10-22 17:54] ostromart opened #18178 "mesh manifest apply does not remove disabled components"
If "mesh manifest apply --set telemetry.enabled=false" is run against a cluster with no istio installed, it does not install telemetry.
However, if istio was previously installed using (say) "mesh manifest apply", running "mesh manifest apply --set telemetry.enabled=false" does not remove telemetry.
This is because in the mesh command logic, non-enabled components are not pruned.

[2019-10-22 17:59] linsun commented on #17841
I believe this is fixed already.

[2019-10-22 18:00] linsun commented on #17841
by https://github.com/istio/operator/pull/400

[2019-10-22 18:00] linsun commented on #17841
pls reopen if you disagree or still hit it

[2019-10-22 18:00] #17841 closed

[2019-10-22 18:21] mdhume opened #18179 "Support for tls sniffing on gateways"
**Describe the feature request**
Currently when pilot generates configuration for gateways it makes a distinction between configuration generated for a listener that already has an http gateway and one that has https gateways - https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/gateway.go#L77-L103
We would like support for a listener to have the following 2 filter chains

[2019-10-22 18:23] vadimeisenbergibm commented on #16768
Reopening, now a solution is proposed in #18159.

[2019-10-22 18:23] vadimeisenbergibm commented on #16768
Reopening, now a solution is proposed in #18159.

[2019-10-22 18:32] esnible commented on #17703
I prefer `kubectl annotate istioctl-suppress-codes=IST0105, IST0101`, even though it is hard to incrementally add/remove.  We want all annotations to appear on https://istio.io/docs/reference/config/annotations/ , and it seems confusing to have one called `istioctl-suppress-code-<x>`

[2019-10-22 18:32] #12803 closed

[2019-10-22 18:35] vsaroopchand opened #18182 "What can cause pilot-discovery to fail on startup"
Hello, can someone explain what is listening on endpoint localhost:15014 in Pilot? In my cluster, pilot-discovery is failing with a timeout when attempting to connect on [127.0.0.1:15014](https://github.com/istio/istio/blob/4c98e70fc4bdbcc3dfdd5c5527a48cb5a4f4f047/pilot/cmd/pilot-discovery/request.go#L32).

Here is the exception:

Error&#58; error execing into istio-pilot-00cb85f969-abeee/istio-sy

[2019-10-22 18:37] vsaroopchand commented on #18182
[](url)

[2019-10-22 18:39] linsun commented on #18130
@kramvan1 thanks for reporting this, will check

[2019-10-22 18:46] kramvan1 commented on #18036
@irisdingbj thx, will take a look after that get merged.

[2019-10-22 18:47] brian-avery commented on #17909
I'm seeing a different failure locally. If I run the mTLS test locally by itself then I don't see any failures. If I run the entire suite, I see failures due to the fact that it can't find the sleep pod. Looking into it.

[2019-10-22 18:52] incfly commented on #16785
Duplicate of the https://github.com/istio/istio/issues/10357, thanks! I've updated that bug to take this feedback into +1.

[2019-10-22 18:52] incfly commented on #10357
https://github.com/istio/istio/issues/16785 One more data point

[2019-10-22 18:52] elfinhe commented on #18173
For example, when updating operator deps in istio/istio for 1.4:

(...checkout release-1.4 branch in istio/istio before running this)
[code]
Update Makefile.core.mk (?):

OP_LDFLAGS_HUB="-X istio.io/operator/cmd/mesh.HubValueFromBuild=${HUB}"
OP_LDFLAGS_TAG="-X istio.io/operator/cmd/mesh.TagValueFromBuild=${TAG_VARIANT}"

RELEASE_LDFLAGS="-extldflags -static -s -w ${OP_LDFLAGS_HUB} ${OP_LDFLAGS_TA

[2019-10-22 18:55] jdamour98 commented on #8076
@howardjohn Why not use the approach of reducing duplicate `/`? Intuitively, if I set
[code]
Then I expect
```http://XXX[/example-svc/]v1/something```
 to become
```http://XXX[/]v1/something```

[2019-10-22 19:14] sushicw commented on #17862
As a refinement:

* By default, only return nonzero for ERROR and WARN levels. INFO would still return a zero code.
* Add a CLI arg to let the user customize that behavior? (So if someone wants a nonzero code for INFO or only on ERROR, they can).

[2019-10-22 19:16] sushicw commented on #17996
As a refinement of this idea:

* Unless a --quiet flag is specified, list all resources being analyzed (or maybe just resource types?), and group relevant messages under them.

[2019-10-22 19:56] rnkhouse opened #18184 "could not resolve host while installing specific istio version"
**Bug description**
I am trying to install istio with `curl -L https://git.io/getLatestIstio | ISTIO_VERSION=1.3.3 sh -` but getting below error:

**Expected behavior**
It should download specific version of istio.

[2019-10-22 20:12] howardjohn commented on #18184
Works for me, is this persistent or cause by temporary github issue?

[2019-10-22 20:14] howardjohn commented on #18182
It seems likely this is from `istioctl ps`, not sure anything else that calls /debug/syncz. This is blocking pilot startup? Please include more info, its not clear what the issue is

[2019-10-22 20:15] howardjohn commented on #18176
What errors are you getting? What config have you applied? Strict mTLS or permissive?

[2019-10-22 20:16] howardjohn commented on #18175
+1 seeing this as well

[2019-10-22 20:18] howardjohn commented on #18174
So the application is reporting these metrics but they aren't on the dashboard? Sounds like maybe prometheus scraping is failing.

I would run through https://istio.io/docs/ops/troubleshooting/missing-metrics/ and see if that helps first

[2019-10-22 20:19] rnkhouse commented on #18184
Looks like it's not working on my Jenkins instance. However, it was working before.

*Logs*

    16:15:25  + curl -L https://git.io/getLatestIstio
    16:15:25  + ISTIO_VERSION=1.2.6 sh -
    16:15:25    % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
    16:15:25                                   Dload  Upload   Total   Spent    Left  Speed
    16:15:25
    0     0

[2019-10-22 20:32] howardjohn commented on #18184
Interesting. I don't think we have any control over this though, seems like an issue with one of your jenkins/aws/github? The script is just failing to download the release from github it looks like

[2019-10-22 20:34] vsaroopchand commented on #18182
I'll close this for now and revisit once I have more logs to share.

[2019-10-22 20:34] #18182 closed

[2019-10-22 20:39] #15774 closed

[2019-10-22 20:40] rnkhouse commented on #18184
@howardjohn I can understand that. Can you please try it from linux OS? It's working from my mac but not working from any ubuntu OS.

[2019-10-22 20:44] #16937 closed

[2019-10-22 20:46] cober commented on #17810
@Freyert Sorry for the late response.

We are using default limits set by Istio, however so far we have had no issues.

[2019-10-22 20:46] howardjohn commented on #16536
I think the cause of this error is the injector crashing or failing to start up. Without more info about why that happened, we can't really do anything here.

@epsniff its possible some other pod on the same node used up most of the inotify watches and you happened to hit the limit. If thats not the case, and injector is constantly using excessive inotify watches can you open a new issue (just sin

[2019-10-22 20:46] #16536 closed

[2019-10-22 20:47] howardjohn commented on #18184
Works from Debian for me

On Tue, Oct 22, 2019 at 1:41 PM rnkhouse <notifications@github.com> wrote:

[2019-10-22 20:48] howardjohn commented on #18161
See https://github.com/istio/istio/issues/12567

[2019-10-22 20:50] Patrux08 opened #18186 "Error: release istio failed - AKS, Istio, Helm"
**Bug description**
Following [Azure's tutorial](https://docs.microsoft.com/en-us/azure/aks/servicemesh-istio-install?pivots=client-operating-system-windows), at **Install Istio components** you have to run

`helm install istio.io/istio --name istio --namespace istio-system --version "1.3.2"
  --set global.controlPlaneSecurityEnabled=true
  --set global.mtls.enabled=true
  --set grafana.enabled=tr

[2019-10-22 21:04] tkatrichenko commented on #18174
Thanks for your reply. I checked with https://istio.io/docs/ops/troubleshooting/missing-metrics/  and looks like everything is okay in terms of istio-mesh.

However, I discovered that Prometheus fails to receive metrics from "spring-actuator" endpoints once mTLS enabled. Looks like it can't receive it because Prometheus is outside of the Service Mesh
[code]

[2019-10-22 21:25] JimmyCYJ commented on #10547
@liminw @yangminzhu are there any updates on this?

[2019-10-22 21:30] JimmyCYJ commented on #16109
For the SSL 3.0 support, could you file a issue at https://github.com/envoyproxy/envoy? The gateway agent extracts key/cert from Kubernetes and pushes to the ingress gateway (Envoy) regardless of SSL version.

[2019-10-22 21:30] #16109 closed

[2019-10-22 21:44] JimmyCYJ commented on #16487
This is a duplicated issue of https://github.com/istio/istio/issues/12761. You need to enable ingress sds ```--set gateways.istio-ingressgateway.sds.enabled=true```.

[2019-10-22 21:44] #16487 closed

[2019-10-22 21:46] JimmyCYJ commented on #16676
@diemtvu Could you take a look or triage this issue?

[2019-10-22 21:48] JimmyCYJ commented on #17276
@incfly Please feel free to update the priority of this issue. Thanks.

[2019-10-22 21:48] ayj opened #18190 "istioctl proxy-config log command doesn't accept `all` logger name"
istioctl proxy-config log returns an error with `--level all:warning` despite this being called out in the example usage text.

[code]

[code]

[2019-10-22 21:54] douglas-reid commented on #17081
This should also include work to identify MIG, etc. Relevant GCE metadata labels:
- `instance_template`
- `created_by`

[2019-10-22 22:02] #17833 closed

[2019-10-22 22:04] diemtvu commented on #16676
+ @mandarjog may have better idea how this was fixed before.

[2019-10-22 22:38] yxue opened #18195 "istio/proxy postsubmit failed"
https://github.com/istio/proxy/commits/master

Error message:

[code]

[2019-10-22 23:03] #17929 closed

[2019-10-22 23:03] howardjohn commented on #17929
Its back to failing only 80% of the time  (https://github.com/istio/istio/issues/15686)

[2019-10-22 23:05] howardjohn commented on #16586
@incfly is this done?

[2019-10-22 23:07] incfly commented on #16586
the implementation ends up being configuring cds the same for permissive and strict.
but yeah, it's done.

[2019-10-22 23:07] #16586 closed

[2019-10-22 23:08] yxue commented on #18195
Should be fixed by https://github.com/istio/proxy/pull/2480

[2019-10-22 23:08] howardjohn commented on #17875
@fpesce what is the status of this? This is probably not useful unless done before 1.4 ships (nov 12)

[2019-10-22 23:09] #17440 closed

[2019-10-22 23:15] ayj opened #18199 "Operator should manage lifecycle of Istio config derived from ICP"
The helm charts from istio/istio create MeshPolicy when global.mtls.enabled=true. The new istio/installer charts and operator do not despite the API defining a global.mtls.enabled option. Long term the operator should update MeshPolicy based on the MeshConfig. In the short term (~1.4) the istio/installer and operator will be updated to match the existing behavior to not surprise users.

[2019-10-22 23:20] howardjohn commented on #13652
The core of this is done, and there is a whole label dedicated to additional work - i think this is safe to close

[2019-10-22 23:20] #13652 closed

[2019-10-22 23:22] howardjohn commented on #15935
Done by #17695?

[2019-10-22 23:25] #16785 closed

[2019-10-22 23:59] rjshrjndrn commented on #18120
@howardjohn Can I give you any particular logs to identify the issue ?

[2019-10-23 00:22] JimmyCYJ commented on #18120
@rjshrjndrn Could you provide full ingress-sds log? What is the name of the secret? From the log you pasted, there are secrets ``letsencrypt`` and ``letsencrypt-staging`` and they have empty fields. Not sure if this is relevant. The secret should have "key" and "cert" fields.
https://istio.io/docs/tasks/traffic-management/ingress/secure-ingress-sds/#configure-a-tls-ingress-gateway-for-a-single-hos

[2019-10-23 00:51] howardjohn commented on #18186
Helm 2.15 is broken, see https://github.com/istio/istio/pull/18170

[2019-10-23 00:52] howardjohn commented on #18186
This is not an Istio bug, but a helm one. They will release 2.15.1 soon with a patch apparently. Until then I would suggest downgrading helm

[2019-10-23 00:52] #18186 closed

[2019-10-23 01:14] kotyara85 commented on #18176
[code]

[2019-10-23 01:14] rjshrjndrn commented on #18120
Hi @JimmyCYJ thank you for your response.
This is the sds log file.
[sds.log](https://github.com/istio/istio/files/3759394/sds.log)

As of now, I don't have istio-cert, which I lost when I deleted istio-system namespace :(
But no gateways are using https(I deleted https after seeing this issue, and deleted both pilot and ingress pod). So is it mandatory?

[2019-10-23 01:23] kotyara85 commented on #18176
The same problem with kubeless - it's up but throwing connection errors:
[code]

[2019-10-23 01:47] ericvn opened #18208 "Kubernetes Services for Egress Traffic fails on 1.4.0-alpha.0"
**Bug description**

Working through the Kubernetes Services for Egress Traffic example at https://preliminary.istio.io/docs/tasks/traffic-management/egress/egress-kubernetes-services/

Under the `Use a Kubernetes service with endpoints to access an external service` section, step #6 shows accessing the wikipedia service from the Istio sidecar pod with Istio's mTLS disables. This step should get a

[2019-10-23 01:57] yinpengchong commented on #16374
@zqzzq I met the same error and don't know how to resolve it. Could you please tell me how you fixed. thank you very much.

[2019-10-23 02:15] #18130 closed

[2019-10-23 02:19] zqzzq commented on #16374
@yinpengchong In my case this is because the root certificate expired, delete istio-ca-secret and istio.istio-galley-service-account and regenerate them, then delete galley pod to reload them.

[2019-10-23 02:39] gotwarlost commented on #17913
this doesn't seem to be happening with the 1.3.3 release, since a connection is now identified using envoy metadata and not its IP address

[2019-10-23 03:01] 7895179 opened #18209 "istio-ingressgateway fails to come up"
**Bug description**
The istio-ingressgateway fails to come up.
Only the istio-ingressgateway log show 【Envoy proxy is NOT ready: config not received from Pilot (is Pilot running?): cds updates: 0 successful, 0 rejected; lds updates: 0 successful, 0 rejected】
[code]

[code]
**Expected behavior**
I'd expect it to come up and shine all the time.
**Steps to reproduce the bug**
just install.
**Version

[2019-10-23 03:07] howardjohn commented on #18184
https://twitter.com/AWSSupport/status/1186735657387003904

[2019-10-23 03:07] #18184 closed

[2019-10-23 03:09] howardjohn commented on #18209
Do you have a Service for the ingress gateway?

[2019-10-23 03:17] howardjohn commented on #18209
Also please include how you installed, we don't ship a "istio-init-operator" so you must have done something custom

[2019-10-23 03:18] howardjohn commented on #18175
@sushicw this is fixed in master but not 1.4

[2019-10-23 03:25] colincoghill commented on #7964
Just be careful with some of the workarounds here, if you override set the X-Forwarded-Proto header yourself, instead of thinking they're being accessed over HTTP when they're not, they'll now think they're being accessed over HTTPS when they're not. So things that, eg., redirect the user to HTTPS, won't trigger and a lot of stuff might be being made available insecurely.

Looks like a fix is upst

[2019-10-23 03:32] yinpengchong commented on #16374
@zqzzq thanks a lot!!  I resolved this issue according to your suggestion

[2019-10-23 03:41] truongnh1992 commented on #11366
@luksa Do you have any idea `how we can run Envoy proxy through` **`CRI`**?

[2019-10-23 03:51] 7895179 commented on #18209
Helm charts with some customizations to values.like:
multiCluster:
  enabled: true

[2019-10-23 03:57] howardjohn commented on #18209
I'm pretty sure that error message shows up when you do not have a Service, please run `kubectl get services -n istio-system`

[2019-10-23 04:02] 7895179 commented on #18209
i have a service,but the endpoint is not ready
[code]

[2019-10-23 04:26] zhangxingdeppon commented on #18161
@howardjohn thanks,but it's not same,because

@howardjohn thanks,but it's diffirent，#12567 is about prometheus.retention problem,but my problem is data lost and data exception,maybe I  describe it unclearly, so I redescribe it, thanks.

[2019-10-23 04:33] #14987 closed

[2019-10-23 05:07] howardjohn opened #18211 "multicluster e2e test regression"
On 1.4, multicluster passes 6/6 times on 10/22: https://testgrid.k8s.io/istio_release-1.4_istio_postsubmit#pilot-multicluster-e2e_istio_release-1.4_postsubmit&width=20&exclude-non-failed-tests=
On master, multicluster failed 8/11 times on 10/22: https://testgrid.k8s.io/istio_istio_postsubmit#pilot-multicluster-e2e_istio_postsubmit&width=20&exclude-non-failed-tests=

Prior to this, master was passi

[2019-10-23 05:09] howardjohn commented on #18211
First failing presubmit: https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/pilot-multicluster-e2e_istio/2028 at 6:40am, 40 minutes after #18111 was merged, so very likely the root cause

[2019-10-23 05:53] prabhu-mannu opened #18213 "Configurable total destination weight limit."
**Describe the feature request**

We are using destination weight for canary release.  currently, istio only support a weight limit of 0-100, but  In light of weight limit being removed from the envoy (initially it was 128 )

Consider removing the limit or make it configurable, would allow more fine-grained control over the canary release, allowing for a limit of 0-1000, would allow for 0.1 %  (th

[2019-10-23 08:00] chayan88 commented on #17937
@howardjohn Do we have any insight on this? I have tried this in multiple cluster and got same result.
Thanks
Chayan

[2019-10-23 08:57] johnma14 opened #18215 "Istio release installer should show an error message if download fails"
When trying to download the release using the command:
`curl -L https://git.io/getLatestIstio | ISTIO_VERSION=1.4.0 sh -`

the download fails but it still shows the message which says that download completed successfully and that Istio is installed, which is wrong.

**Expected behavior**
The script should show a correct message instead of saying Istio was installed correctly every time.

**How was

[2019-10-23 08:59] dumindu opened #18216 "More documents for beginners"
**Bug description**

1. How to use [minimal option](https://istio.io/docs/setup/install/helm/#option-1-install-with-helm-via-helm-template) with ingress gateway and sidecar-injectors?

2. With **[default setup](https://istio.io/docs/setup/install/helm/#option-1-install-with-helm-via-helm-template)** I followed following tasks

- `kubectl create namespace apiapp`

- `kubectl label ns apiapp istio-i

[2019-10-23 09:30] 7895179 commented on #18209
i run `kubectl exec -it -n istio-system  istio-ingressgateway-6b69dbbb66-gmpg8  curl  localhost:15000/stats?usedonly`
the response following
[code]
the response don't have some parameter.
[code]
the envoy don't return that string.I need help :(

[2019-10-23 10:52] smeena667 opened #18219 "Prometheus unable to scrape : `16686/jaeger/metrics` endpoint"
Hi,

[code]

After fresh installation of istio with jaeger with helm, I"m getting following errors in prometheus logs.
Prometheus is unable to scrape this istio jaeger endpoint . `http://10.1.0.82:16686/jaeger/metrics` and it's continuously trying and failing.

[code]

I did port-forwarding to try to hit the endpint manually, but this `jaeger/metrics` isn't a valid endpoint.

`
kubectl port-forwar

[2019-10-23 11:10] smeena667 commented on #18219
Duplicate of #17264

[2019-10-23 11:10] #18219 closed

[2019-10-23 11:16] sabiha969 commented on #17527
I have deleted kiali, how to redeploy it ?

[2019-10-23 11:47] lentzi90 opened #18220 "[Kiali] Unable to view Services - release 1.2"
**Bug description**
Whenever I click on a Service in the console I get the message `Sorry, there was a problem. Try a refresh or navigate to a different page.` on screen, and in the chrome console this:

[code]

**Expected behavior**
Kiali would display Service details and no error messages.

**Steps to reproduce the bug**

1. Install Istio 1.2.7 and deploy the bookinfo app:
[code]
2. Set up port-

[2019-10-23 12:42] haf-afa opened #18221 "Docker-desktop + SDS-auth values fails to start"
**Bug description**

Just setting up Istio on Docker for Windows locally, fails, with

[code]

**Expected behavior**

Since https://istio.io/docs/setup/platform-setup/docker/ doesn't mention any peculiarities and I was under the assumption that Citadel would generate these tokens automatically, it is a bug that istio-token is not generated. Here is one of the many configs that reference the token:

[2019-10-23 12:51] lentzi90 commented on #18220
Note: I'm not able to reproduce this on 1.3.3.

[2019-10-23 13:03] linsun commented on #17937
Did you use CNI plugin?

Also, what k8s level is openshift 3.11?  You want to make sure it met our k8s requirements: https://istio.io/docs/setup/platform-setup/

[2019-10-23 13:06] jmazzitelli commented on #17527
https://www.kiali.io/documentation/getting-started

[2019-10-23 13:15] linsun opened #18222 "update ICP CR status field to string"
**Bug description**
Currently it is a few numbers which is not meaningful to users without looking up our docs.

Best to change it to string to be meaningful.

from discussion https://github.com/istio/operator/pull/447

[2019-10-23 13:26] howardjohn commented on #18221
@pitlv2109

[2019-10-23 13:28] howardjohn commented on #18213
I think it would be better to change this to a float or something and keep the limit at 100. Having a separate configurable limit is going to be a horrible UX

[2019-10-23 13:29] howardjohn commented on #18209
Pilot is rejecting the connection from the gateway, see the error message about not having service instance for the gateway. I'll look into why

[2019-10-23 13:43] mightwork opened #18223 "Istio defaults to SNI when using an SAN certificate for ingressgateway"
**Bug description**
We have migrated our legacy application to Kubernetes where it uses istio-ingressgateway for TLS termination and routing. For sake of backwards compatibility we went with a SAN certificate for istio-ingressgateway. Post this we are seeing issues from our clients where requests to our domains fail during SSL handshake even though the domain name requested is the same as the CN o

[2019-10-23 13:44] howardjohn commented on #18220
Thanks for the report! Looks like an internal error, this may be better reported to https://github.com/kiali/kiali. However if it works in 1.3.3 they probably already fixed the issue

[2019-10-23 13:45] nak3 commented on #17837
From my understanding, it is in Kubernetes. But I may be wrong. Could you please help me if I was saying wrong? cc - @markusthoemmes @vagababov

It depends on the number of traffic. It sometimes swap frequently.

[2019-10-23 13:48] howardjohn commented on #17837
So the problem I am seeing is that we probably want the swap to be really fast, meaning pilot is not sending new listener config. But before you do the swap, the httpbin2 is not associated with the service so we can't create those listeners. What we would really need is somehow to associate httpbin2 with the service but only to Istio not Kubernetes.

Alternatively, which may be more feasible, we j

[2019-10-23 14:18] haf-afa commented on #18221
Maybe I'm doing something wrong. I just don't know what I'm doing wrong :(

Another data-point, with the default `values.yaml` I still get the istio-token error.

I'm actually trying this for docker-desktop because on GKE I don't get that error, but I have this issue instead: https://stackoverflow.com/questions/58509666/istio-503s-between-public-gateway-and-service albeit with CNI enabled... (I th

[2019-10-23 14:20] haf-afa commented on #18221
https://github.com/istio/istio/issues/17378 is perhaps related

[2019-10-23 15:04] haf-afa opened #18225 "istio-ingressgateway constant 503's - helloworld example"
This may or may not be a bug, but I've spent close to 16 hours on this now, and I think I've read every post online about 503's from Istio ingress gateways ;). I think it's a bug that I fail to debug this with the available Istio tools at the very least.

In short; I've deployed the helloworld example on GKE and istio-ingressgateway is always returning 503 Service Unavailable when doing `curl http

[2019-10-23 15:28] howardjohn commented on #18222
Would be really useful. Is there a way in proto to have the enum rendered as a string?

[2019-10-23 15:34] crhuber opened #18226 "Istio Sidecar consuming high CPU Istio 1.30-1.3.3"
**Bug description**
We are running Istio v1.3.3 (this also happend on v1.3.0), most of our applications are running fine. However, in one of our deployments the CPU on the sidecar is pegged at 1.0 for the life of the pod. This happens for the majority of the pods in the same deployment but not all. The pod contains nginx, istio-proxy and an application container all of which have normal CPU use ex

[2019-10-23 15:37] howardjohn commented on #18209
This is fixed in 1.3, please upgrade: #15473

[2019-10-23 15:37] #18209 closed

[2019-10-23 15:41] #18226 closed

[2019-10-23 15:42] howardjohn commented on #18095
https://github.com/helm/helm/releases/tag/v2.15.1

[2019-10-23 15:42] crhuber opened #18227 "Istio Sidecar consuming high CPU Istio 1.30-1.3.3"
**Bug description**
We are running Istio v1.3.3 (this also happend on v1.3.0), most of our applications are running fine. However, in one of our deployments the CPU on the sidecar is pegged at 1.0 for the life of the pod. This happens for the majority of the pods in the same deployment but not all. The pod contains nginx, istio-proxy and an application container all of which have normal CPU use ex

[2019-10-23 15:43] #18220 closed

[2019-10-23 15:43] sushicw commented on #18175
This is fixed in master. Digging to figure out what commit had its backport missed or botched.

[2019-10-23 15:43] #18227 closed

[2019-10-23 15:46] bnicholson85 opened #18228 "Envoy proxy taking forever to start / Is pilot running? 1 CDC update received successfully"
**It is taking 60-90secs to become available due to delay in sidecar injection**
We deployed istio on our QA cluster, and we are facing slow problems with the sidecar proxy startup, in this cluster it always take more than 60 seconds for the proxy to be ready.
We are not using the GKE's istio, we deployed it using helm charts.
We already change the namespace and the problem remains the same
We tes

[2019-10-23 15:46] crhuber opened #18229 "Istio Sidecar consuming high CPU Istio 1.30-1.3.3"
**Bug description**
We are running Istio v1.3.3 (this also happend on v1.3.0), most of our applications are running fine. However, in one of our deployments the CPU on the sidecar is pegged at 1.0 for the life of the pod. This happens for the majority of the pods in the same deployment but not all. The pod contains nginx, istio-proxy and an application container all of which have normal CPU use ex

[2019-10-23 15:52] howardjohn commented on #18211
Actually I think there are three distinct multicluter test regressions all at once:
* #18111 broke TestSidecarScope
* #18030 broke
   Evidence:
    * the test in release-1.4 postsubmit has never failed, but it fails in presubmit of a backport of #18030: https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/18197/pilot-multicluster-e2e_istio_release-1.4/52
    * First postsubmit failur

[2019-10-23 16:01] crhuber commented on #18229
from a different deployment with same issue
sudo strace -c -f -p 13144
[code]

[2019-10-23 16:03] howardjohn commented on #16998
@JimmyCYJ @rlenglet `TestMultiTlsGateway_InvalidSecret` is still failing 100% of the time. I have been trying to understand for over a month if this is a regression or a bad test. Please take a look ASAP -- this is marked as a release blocker for 1.4 and we will not ship until this is answered.

cc @jwendell @ericvn

[2019-10-23 16:06] sushicw commented on #18175
Found it: https://github.com/istio/istio/pull/17930

Although tagged, it didn't get cherry picked.

[2019-10-23 16:38] howardjohn commented on #17743
This breaks `ik manifest migrate install/kubernetes/helm/istio/test-values/values-e2e.yaml > file`

[2019-10-23 16:42] pitlv2109 commented on #18221
Did #17378 fix your issue (using the flags and their values)?

GKE >= 1.12 has trustworthy jwt installed by default. OSS Kubernetes does not.

We didn't want to include flag names and values in the blog because we didn't want to create yet another source of truth (that could diverge from Kubernetes').

[2019-10-23 16:48] howardjohn commented on #18228
Some details:
* Is every single pod taking a long time? Just helloworldv2? Do ingressgateways take the same long time?
* How big is the cluster?
* What is resource (cpu/memory) usage of Pilot and the proxies that are slow to start up

From the logs, it looks like helloworld connects at :21 and gets CDS req then pushes CDS, as seen in proxy logs, but no LDS. Later, at :23, we see a bunch of EDS pus

[2019-10-23 16:55] haf commented on #18221
I’m reluctant to change things like this unless it is all automated since I work in a team.

I’ll give it a shot tomorrow. Do you have sample values you could post? What do you use yourself on docket desktop?

[2019-10-23 16:57] incfly commented on #18211
I don't doubt this could be due to the auto mTLS PR breaking the multi cluster. I saw it sometimes in the presubmit tests, but succeed later when about to debug it...

Curious how you narrow the root cause though. I'm looking at the https://testgrid.k8s.io/istio_istio_postsubmit#pilot-multicluster-e2e_istio_postsubmit&include-filter-by-regex=.*Ingress.* I saw only one failures for post submit run

[2019-10-23 16:57] pitlv2109 commented on #18221
I think the env is irrelevant here. If you're running with out of the box OSS Kubernetes, feel free to use the flags we use here https://github.com/istio/istio/tree/master/prow/config for Istio testing.

[2019-10-23 16:58] howardjohn opened #18232 "pilot/mcp integration test fails to startup"
* https://prow.istio.io/view/gcs/istio-prow/logs/integ-k8s-113_istio_release-1.4_postsubmit/44
* https://prow.istio.io/view/gcs/istio-prow/logs/integ-k8s-112_istio_release-1.4_postsubmit/45

Proxy never becomes ready

[2019-10-23 17:12] bnicholson85 commented on #18228
Hello, thanks for your response.  I'm working with our client on this to get the additional info and debug logs, here's what I already know though:

Details:
* It's every single pod, which has made scaling difficult and impossible to bring into production
* Currently, the QA cluster is 12 nodes n1-standard-16, with 265 pods in it.
* Will check on utilization of Pilot and proxies.

Thanks,

Bryan

[2019-10-23 17:20] vagababov commented on #17837
Originally it was due to lack of status on the Istio resources, i.e. we were reprogramming virtual services during scale to 0 to point at Activator (buffering proxy) and we never knew when it would actually be done so we had random timeouts throughout the code.
But afterwards it turned out to be an extremely useful tool for other things like backend overload protection, ideal loadbalancing (e.g. w

[2019-10-23 17:41] vadimeisenbergibm opened #18233 "Add credentialName to the TLS options of the DestinationRule"
**Describe the feature request**

Add `credentialName` to the TLS options of the DestinationRule similarly to the `credentialName` of the Gateway's server

**Additional context**

[2019-10-23 18:05] jwendell opened #18235 "Write test for request routing task using istioio"

[2019-10-23 18:06] sushicw opened #18236 "Add --all-namespaces support to `istioctl analyze`"
Right now, `istioctl analyze` looks for validation messages in only one namespace at a time. Mirroring kubectl behavior, we should add an `--all-namespaces` option that does analysis for multiple namespaces.

There may be some subtleties around whether we need to ignore "system" namespaces (e.g. usually `kube-system` and `istio-system`). See https://github.com/istio/istio/issues/17381

[2019-10-23 18:15] duderino commented on #14327
@ruigulala is going to take this one, but since he's not yet a member of the Istio github org, I'll assign the bug to myself

[2019-10-23 18:18] duderino commented on #17913
@gotwarlost given the difficulty of backporting a fix without introducing new issues, the recommendation is to for everyone affected by this issue to just upgrade to 1.3+

[2019-10-23 18:18] #17913 closed

[2019-10-23 18:26] JimmyCYJ commented on #16998
@howardjohn TestMultiTlsGateway_InvalidSecret is a test only failure. The expected error message is connection refused, but got connection reset by peer. I am going to update the test.

[2019-10-23 18:29] kyessenov commented on #18169
/assign @rshriram

[2019-10-23 18:30] jwendell opened #18238 "Write test for bookinfo task using istioio"

[2019-10-23 19:05] sushicw commented on #17949
Closing this since the immediate issue is taken care of, and we have a separate issue for follow-up.

[2019-10-23 19:05] #17949 closed

[2019-10-23 19:28] howardjohn commented on #18238
If we do this can we kill the existing bookinfo tests? https://github.com/istio/istio/tree/13cb3422ae47f95dfbc829a327724a56929cab3b/tests/e2e/tests/bookinfo

I don't want to remove coverage, just avoid duplication.

I would imagine once we do the doc tests most of those tests become obsolete. Any parts that don't we can add to standard tests/integration and avoid running a full test suite just for

[2019-10-23 19:31] nesl247 commented on #17660
I'll confirm that we are using cert-manager w/ SDS ourselves as well.

[2019-10-23 19:39] rnkhouse opened #18242 "Istio readiness Probe rewrite should respect the user specified timeout duration"
**Bug description**
I followed the guide from this link (https://istio.io/docs/ops/app-health-check/) and using *Enable via Helm Option Globally* method to use readiness probe in my application. **sidecarInjectorWebhook.rewriteAppHTTPProbe=true** has been set in global config.

**Deployment**

    readinessProbe:
          httpGet:
            path: /healthz
            port: 3000
          initia

[2019-10-23 19:51] #17807 closed

[2019-10-23 19:51] #18215 closed

[2019-10-23 20:09] howardjohn opened #18244 "TestAddUpdateDeleteWithWatcherEnabled test flake"
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/461

@vikaschoudhary16

[2019-10-23 20:33] #12082 closed

[2019-10-23 20:56] davidebbo opened #18247 "istioctl analyze does not fail when passed an invalid namespace"
When using:

    istioctl x analyze -k -n bogus

It runs successfully. It should instead fail to make this clear to the user.

[2019-10-23 20:59] howardjohn commented on #17837
Tomorrow morning I am going to discuss this use case at the networking WG meeting. Before then, can you answer: If we just detect this situation, and push the correct listeners, will that be sufficient for this use case, or is the delay too slow?

[2019-10-23 20:59] tkatrichenko commented on #18174
The problem is that Prometheus can't get metrics from Spring Boot applications which are inside the Service Mesh. It gets `connection reset by peer` error for spring-actuator targets

If Prometheus and Grafana are inside Service Mesh all is working

Is there some way to make it work with Prometheus which provided by Istio? Maybe some tls options for prometheus job? I tried to use options like this

[2019-10-23 21:11] #18098 closed

[2019-10-23 21:33] sethokayba commented on #17937
With istio 1.3.3, on OpenShift 3.11.88, i confirm i have the same issue.
![Annotation 2019-10-23 223206](https://user-images.githubusercontent.com/1992713/67435867-01525680-f5e5-11e9-999d-256a510921c4.JPG)

[2019-10-23 22:01] howardjohn commented on #17312
Just tested, it already works

[2019-10-23 22:01] #17312 closed

[2019-10-23 22:06] mdhume commented on #17759
@nrjpoddar We are running into a similar issue. The issue comes when you have a listener such as 0.0.0.0_443 with filter chains with a filter chain match on server_names - https://gist.github.com/mdhume/bf262a5ec426d37e6aa94ddfeb328760 . If a request comes on a domain that is not in the filter chain match e.g. `www.cnn.com` then even though the correct listener gets matched, it does not match any

[2019-10-23 23:00] carolynhu commented on #18173
I have back ported to release 1.4.

[2019-10-23 23:03] howardjohn opened #18256 "TestStreamSecretsForBothSds Test failure"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/18212/unit-tests_istio/3000

[2019-10-23 23:10] epsniff opened #18257 "SideCarInjector crashing in GKE with error "too many open files""
**Bug description**

After our istio-sidecar-injector was upgraded from `gke.gcr.io/istio/sidecar_injector:1.1.7-gke.0` to `gke.gcr.io/istio/sidecar_injector:1.1.13-gke.0`, it began crashing and went into a crash back off loop with the following error:
[code]

As a workaround I added the following to the deployment for the istio-sidecar-injector at the path of `spec.template.spec.containers`
[code

[2019-10-23 23:14] howardjohn opened #18258 "TestProcessor_Publishing test failure"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/18248/unit-tests_istio/2999

[2019-10-23 23:14] howardjohn commented on #15864
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/18246/unit-tests_istio/2998

[2019-10-23 23:15] jasonwzm opened #18259 "Cue generator should not output fields generated by Kubernetes"
An example is the `status` field in CRDs.

[2019-10-23 23:42] jasonwzm commented on #10872
Reopen the issue. With the upcoming release (supporting k8s 1.13, 1.14, 1.15), not every user will be able to use `kubectl explain` on their cluster given publishing CRDs to api server feature is only beta starting 1.15.

In Istio 1.6 where k8s 1.15, 1.16 and 1.17 are supported, we can make this work for all users.

Relevant PR is https://github.com/istio/istio/pull/18188.

[2019-10-23 23:52] prabhu-mannu commented on #18213
Hi, Howard,
That would absolutely work too.
It was choice between changing the value from int to float vs changing the limit (in this case increasing the limit over 100 or below 100). Should I create a new ticket with request to use float instead of int32 for weights.

Note: values need to be in int32 for envoy.

[2019-10-24 00:04] howardjohn commented on #18213
I think we could just use floats, then in pilot send these as an Int to
envoy. So we would take 33.333 and turn that to 33333 with "total weight"
of 100000. The only problem is we may have float rounding issues I guess

On Wed, Oct 23, 2019 at 4:53 PM prabhu-mannu <notifications@github.com>
wrote:

[2019-10-24 00:09] nak3 commented on #17837
The time between detecting the situation and pushing the correct listeners, the request will get `upstream connect error or disconnect/reset before headers` error, right?
As Knative does the hot-swap endpoint when massive access happens, we would like to avoid the error returned.

[2019-10-24 00:11] ejhayes commented on #13840
@jqmichael your change got rid of the sidecar-injector webhook error I was seeing in `kubectl get events`, but looks to have caused a problem when attempting to access externally via `curl`:

[code]

or

[code]

For reference - I only added:
[code]

To the deployment here: https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/sidecarInjectorWebhook/templates/deployment.ya

[2019-10-24 00:13] howardjohn commented on #17837
@nak3 yep. I figured that was the case, but I thought I would ask since that would be much easier to support :slightly_smiling_face:

[2019-10-24 00:40] linsun commented on #18130
also fixed in 1.4 as well https://github.com/istio/operator/pull/450

[2019-10-24 01:15] mandarjog opened #18261 "Performance optimization for V2 telemetry"
1. Eliminate ExtractNodeMetadata from  filters, use common node-cache like stats.
2. Eliminate returning full nodemetada on the server side on every request. If the server has already responded to a client, it does not need to respond again.
3. Optimize prometheus tag extraction in envoy. It is expensive due to copious use of regexes.

Ingress Flamegraph
![Flamegraph](https://storage.googleapis.co

[2019-10-24 01:33] #15038 closed

[2019-10-24 01:34] hzxuzhonghu commented on #15260
The current resolution is to use `envoyfilter`, reopen if you feel this is a must feature

[2019-10-24 02:01] dhineshbabuelango opened #18262 "istio pods are not coming up after scheduled shutdown"
We are using istio in AWS EKS. We used to shutdown our worker nodes regularly every night and start the nodes at morning.
Previously after scheduled shutdown, we saw an considerable delay in pods coming up particularly in istio-injection enabled namespace, we opened the below case and it was closed and asked to track in ( https://github.com/istio/istio/issues/13840).
https://github.com/istio/istio

[2019-10-24 02:25] howardjohn opened #18264 "TestCrdsRetryAsynchronously test failure"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/18245/unit-tests_istio/2997

[2019-10-24 03:00] hzxuzhonghu commented on #18262
@dhineshbabuelango Could you provide log in the crash loop back pod?

[2019-10-24 03:03] howardjohn commented on #18257
Any idea what is using the inotify watches? https://stackoverflow.com/questions/13758877/how-do-i-find-out-what-inotify-watches-have-been-registered might help.. or might not. I recall trying to answer that same question on GKE and had a hard time.

I suspect that something else is consuming the inotify watches (since its a node level resource) and the injector is just a victim of this

Does this

[2019-10-24 03:04] prabhu-mannu commented on #18213
hi,
As for using floats, yes there might be an issue.
This happened in traefik  -> https://github.com/containous/traefik/issues/5595

According to envoy documentation, Envoy does not really care about weights summing up to 100:
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/load_balancers

So Istio needs to allow use cases where total weight sums up to 99.9

[2019-10-24 03:23] howardjohn commented on #18262
Just get the logs from all the control plane pods please.. from the description it looks like pilot/mixer both fail to get ready, probably due to failure to talk to galley. So at very minimum get pilot, galley, and citadel logs

[2019-10-24 03:24] howardjohn commented on #15864
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17693/unit-tests_istio/3044

[2019-10-24 03:27] howardjohn opened #18265 "Galley config analyzer panic closed channel"
https://prow.k8s.io/view/gcs/istio-prow/logs/integ-istioctl-k8s-tests_istio_postsubmit/468

[2019-10-24 03:45] dhineshbabuelango commented on #18262
Please find attached the logs

galley.log
citadel.log
pilot.mixer.log
pilot.discovery.log

[2019-10-24 03:47] kyessenov commented on #18195
This was a different problem than the linked issue. We had bazel run in the script that tried to invoke docker run. We removed that line to restore post-submit.

[2019-10-24 03:49] howardjohn opened #18268 "TestJwtPubKeyEvictionForNotRefreshed test failure"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17693/unit-tests_istio/3045

[2019-10-24 03:58] howardjohn commented on #18262
Yes, pilot and mixer cannot connect to galley. Not sure why though

[2019-10-24 03:59] dhineshbabuelango commented on #18262
This is happening everytime I restart the worker node but after I restart teh istio-system deployment is is running fine

[2019-10-24 04:13] pnovotnak commented on #18175
Well, it doesn't display anything (?) But I can confirm that it no longer displays an error message.

[2019-10-24 04:13] #18175 closed

[2019-10-24 04:14] #17831 closed

[2019-10-24 04:15] pnovotnak commented on #12312
This is pretty stale. I'm closing and will reopen if this reappears with newer versions

[2019-10-24 05:34] rjshrjndrn commented on #18120
@JimmyCYJ Friendly ping.

[2019-10-24 06:01] mailzyok commented on #18148
This issue was solved by manually build the libc++ and libc++abi libraries on OpenSUSE 15. Close it now. Thanks.

[2019-10-24 06:01] #18148 closed

[2019-10-24 06:14] incfly commented on #18242
Do you mind do

- Confirm before sidecar inject, your apps' health check works? annotations `sidecar.istio.io/inject: false` allows to do that. Im asking since seems like your app is not listening on that port at all.
- Could you show us some relevant log of `kubectl log $pod -c istio-proxy` we should see some error code in pilot agent, with `prober.go/status.go` something like that.
- Could you s

[2019-10-24 07:23] sabiha969 commented on #17527
How to redeploy kiali deployment, in kubernetes. I mean to say.

[2019-10-24 07:45] haf commented on #18221
Yes, we have both a development environment and a GKE environment; but Docker for Desktop does not expose kubeadm configuration (that I can find), so applying the `kubeadmConfigPatches` seems like a hard sell to me. (I can't apply it with kustomize and there's no configuration section of Docker for Desktop available)

IMO if you require your users to change the kubernetes API server from its defau

[2019-10-24 11:35] jmazzitelli commented on #17527
Same link as before. Kiali supports Kubernetes deployment using the same instructions I linked earlier.

[2019-10-24 11:37] chayan88 commented on #17937
@linsun Please find my answer below:
Did you use CNI plugin: I hope yes. I have installed the istio with below command.
"helm template install/kubernetes/helm/istio --name istio --namespace istio-system --values install/kubernetes/helm/istio/values-istio-demo.yaml --set istio_cni.enabled=true | kubectl apply -f - "
Also as per @sethokayba on openshift 3.11 CNI plugin is enabled by default.-->> htt

[2019-10-24 12:17] haf-afa commented on #18225
Clean installation with Istio 1.2.8 also returns 503 Service Unavailable on Docker for Desktop for Hello World example.

[2019-10-24 12:37] rshriram commented on #18223
Try having a single server with * as the host. But in the virtual service, you can have specific hosts.

[2019-10-24 12:47] devilmind81 commented on #11365
Hi guys,
any news on this?
I have the same problem here.

thanks in advance.

[2019-10-24 12:54] esnible commented on #16777
Analyze calls the old validators.  There is nothing that `validate` will catch that `analyze` won't.  There is nothing structured about the `validate` output, or the `$?` level returned.  They are basically merged already.  We should "graduate" `x analyze` into `validate` in 1.5 or 1.6.

I'd like to see a UI improvement.  Currently all the errors reported by `analyze` appear on multiple lines, unl

[2019-10-24 12:54] linsun commented on #17937
Note: k8s 1.11 is not on the list of recommended k8s from https://istio.io/docs/setup/platform-setup/

[2019-10-24 13:03] linsun commented on #17937
@brian-avery @knrc could you shed some light on if openshift v3.11 works with Istio 1.3?

https://istio.io/docs/setup/platform-setup/openshift/

Also, is this instruction only for openshift on prem?  https://docs.openshift.com/container-platform/3.11/servicemesh-install/servicemesh-install.html#service-mesh-install_prerequisites

cc @jwendell

[2019-10-24 13:16] haf-afa commented on #18225
It's about what namespaces the virtualservice, gateway and service are in, respectively!

[2019-10-24 13:40] rshriram commented on #18169
Have you tried
[code]

[2019-10-24 13:44] anycz commented on #15528
Any news on this?

[2019-10-24 13:51] Stono opened #18275 "Intermittent proxy failure to start"
**Bug description**
We are very rarely seeing proxies failing in cronjobs, and then when the cronjob fails and quitquitquit is called, we get a stack trace.

[code]

[2019-10-24 13:52] jwendell commented on #17937
We have tested Istio 1.1 (as shipped in Maistra) with OpenShift 3.11.

Istio 1.3 (and 1.4) were tested on OpenShift 4.1 and 4.2 respectively.

For a good out-of-box experience using Istio on OpenShift we recommend using Maistra: https://maistra.io.

[2019-10-24 13:57] Stono opened #18276 "If envoy stops, pilot-agent doesn't restart it"
**Bug description**
If the envoy process exits outside of pilot-agents lifecycle management, it currently doesn't restart it.  It feels like it should?

**Expected behavior**
pilot-agent should revive envoy

**Steps to reproduce the bug**
start an app, shell into istio-proxy and kill envoy

**Version (include the output of `istioctl version --remote` and `kubectl version`)**
1.3.3

**How was Istio

[2019-10-24 14:21] dumindu commented on #18225
Thanks for the tip. I have put the `deployments` and `services` in separate namespaces according to the app but `virtualservice` and `gateway` in `istio-system` namespace.

So I need to move the `services` to the `istio-system` namespace as well?

[2019-10-24 14:23] fcantournet commented on #18169
This error is weird because it means that in `gogo/protobuf/jsonpb/jsonpb.go` it goes in the case `"Any"` at line 821 and not in the case `BoolValue`.

There is an inconsistency here between the type as defined in the proto of envoy (`BoolValue`) and this.

[2019-10-24 14:24] haf-afa commented on #18225
I've done some experimentation with Istio 1.2.8 (since that version works to install locally), here are the results: https://gist.github.com/haf-afa/29d904cd9f7fad6aad22c481bc9c7e9e

In short: if you bring in/remove GW/VS numerous times, you corrupt Istio and you have to reset your cluster before it starts working again. No wonder I had trouble for two days, trying everything. The file called " gw

[2019-10-24 14:26] haf-afa commented on #18225
@dumindu Since I realised I had to reset my cluster after Istio is corrupted I only did a single try; and that was with **everything** in the *default* namespace and **nothing** in the istio-system namespace.

I would prefer to be able to declare **Gateway** in *istio-system* and the remainder in **fou**, but I guess I have to work around the corruption as well, so I can try that.

[2019-10-24 14:29] rshriram commented on #18169
Yeah.. oh this is tricky. @kyessenov did envoy go control plane move to golang/protobuf ? There is an XDS serialization here https://github.com/istio/istio/blob/master/pkg/config/xds/xds.go that might need a fix possibly?

[2019-10-24 14:37] ericvn commented on #18208
I did try the same example on 1.3.3 using the 1.3 docs (*demo* profile) and it fails with the same error code.

[2019-10-24 14:45] clyang82 commented on #10768
[this pr](https://github.com/istio/istio/pull/16014) was merged. we can close this one.

[2019-10-24 14:45] #10768 closed

[2019-10-24 14:51] dumindu commented on #18225
I saw #11131, that's why I put virtualservice and gateway in `istio-system` namespace. But I haven't use
[code]
in VirtualService. That might be the issue. However I am not using `Kiali` and using
- kubectl version: v1.16.0
- helm version: v2.14.3
- istio version: v1.3.3

Thanks for the tips, I'll check tomorrow and will buzz here if it's succeed 👍

[2019-10-24 14:55] linsun commented on #18208
@vadimeisenbergibm could you help check this out when you have some time?

[2019-10-24 15:00] rnkhouse commented on #18242
App is working fine on port `3000` I checked it by `exec` into the container and it's working on gateway domain if I don't use readiness probe at all.

**example-app logs**

**Istio proxy logs**

    2019-10-24T14:41:16.702184Z	warn	Epoch 0 terminated with an error: signal: killed
    2019-10-24T14:41:16.702206Z	warn	Aborted all epochs
    2019-10-24T14:41:16.748544Z	error	Request to probe app fai

[2019-10-24 15:01] howardjohn commented on #16381
Resources:
* A tool we use that does some PR stuff: https://github.com/istio/test-infra/tree/master/toolbox/githubctl
* Cross repo updates from k8s: https://github.com/kubernetes/publishing-bot
* Prow cherry pick code: https://github.com/kubernetes/test-infra/tree/master/prow/external-plugins/cherrypicker

[2019-10-24 15:06] sdake commented on #16381
An automated PR generation (from master of common-tools) to the various repos under management would be really helpful.  I'll take a look at the 3 options once 1.4 is done baking for the common-files case.

[2019-10-24 15:10] vadimeisenbergibm commented on #18208
@linsun Sure, will do.

[2019-10-24 15:10] vadimeisenbergibm commented on #18208
@linsun @ericvn The issue is probably related to https://github.com/istio/istio/issues/17112, that bug should be fixed first.

[2019-10-24 15:11] linsun commented on #18222
Haven't found a simple way :-(

@morven kindly pointed me to this change https://github.com/istio/operator/pull/357/files

[2019-10-24 15:40] ericvn commented on #18208
As an FYI, this was merged into preliminary.istio.io with https://github.com/istio/istio.io/pull/4710 and cherry-picked back to istio.io (default 1.3 branch) with https://github.com/istio/istio.io/pull/5157

[2019-10-24 15:57] lentzi90 commented on #18220
I'm just thinking that maybe the istio release branch for 1.2 should get the newer version of kiali.
The difference I can see is `appVersion: 1.1.0` in 1.3 and `appVersion: 0.20` in 1.2 [here](https://github.com/istio/istio/blob/release-1.2/install/kubernetes/helm/istio/charts/kiali/Chart.yaml).

Without this, kiali will stay broken on 1.2 even when it is still a supported version.

[2019-10-24 16:08] elfinhe commented on #17225
A description for upgrade is added here: https://github.com/istio/operator/pull/433
For now I do not think more upgrade details will be added in ARCHITECTURE.md. Instead, I will try to add more comments in the upgrade.go and related files.

[2019-10-24 16:08] #17225 closed

[2019-10-24 16:12] howardjohn commented on #17147
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17693/unit-tests_istio/3066 still fails sometimes

[2019-10-24 16:14] #18158 closed

[2019-10-24 16:22] howardjohn commented on #16127
This works for me on Istio 1.3 and does not work on 1.1. 1.1 is no longer supported https://istio.io/news/2019/announcing-1.1-eol/ so we are unlikely to backport a fix. Can you try a newer version?

[2019-10-24 16:33] sushicw commented on #16777
"Graduating" `x analyze` into `validate` is certainly the plan of record. The concerns I have that are giving me second thoughts:
* We've started evangelizing `analyze` as `analyze`, and switching the name is likely to cause confusion.
* If anyone is depending on the current output of `validate`, we'll break them.

Neither of these is a show-stopper, and I guess both are manageable with adequate c

[2019-10-24 16:35] howardjohn commented on #15864
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/476

[2019-10-24 16:35] howardjohn commented on #15822
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/475

[2019-10-24 16:39] pitlv2109 commented on #18221
I find it strange that you cannot configure your k8s installation on Docker for Desktop. I was able to install K8s using KinD with https://docs.docker.com/install/linux/docker-ce/ubuntu/. I'm not an expert at installation k8s, @howardjohn might know more, but again, I feel like there should be a way.

[2019-10-24 16:48] bianpengyuan commented on #15528
/cc @douglas-reid

[2019-10-24 17:01] bnicholson85 commented on #18228
Current cpu/memory usage reported by client - they believe that they have adjusted in the past though:
          cpu: 10m
          memory: 100Mi

still working on debug logs

[2019-10-24 17:04] jdamour98 opened #18280 "Documentation on the best way to install istio"
**Describe the feature request**
It seems there are several ways to install istio:
- helm template | kubectl apply
- helm install (Istio wont support helm3?)
- Istio Operator: https://github.com/istio/operator
- Istio Installer: https://github.com/istio/installer

**Describe alternatives you've considered**
On some readme of the istio repo or website, describe the different projects and what the f

[2019-10-24 17:04] ruigulala commented on #14327
@rlenglet Went through all the above suggestions and did some digging. How about the following to mitigation?
1. Change the pod priority of istio-cni from system-node-critical to system-cluster-critical.
Since istio-cni depends on the "real" CNI, changing to a relatively lower priority level makes sure it's scheduled after calico and also makes sure it's scheduled before "normal" pods.
https://doc

[2019-10-24 17:10] #18264 closed

[2019-10-24 17:14] strzelecki-maciek commented on #5384
Any hope this can get reviewed and merged? People need it :)

[2019-10-24 17:31] rlenglet commented on #14327
@ruigulala ok, that sounds like a good plan.

[2019-10-24 17:47] bnicholson85 commented on #18228
Here's the requested debug logging @howardjohn

[istio-pilot-discovery.log](https://github.com/istio/istio/files/3768791/istio-pilot-discovery.log)
[helloworldv2 (1).log](https://github.com/istio/istio/files/3768792/helloworldv2.1.log)

[2019-10-24 17:50] ssoerensen commented on #10659
@hzxuzhonghu Do you have a link for the relavant documentation or changelog?

[2019-10-24 17:51] strzelecki-maciek commented on #12545
@sdake im coming from a slightly different angle here - istio ingress gateway is very much underwhelming when it comes to functionality it offers (starting with big things - proxyprotocol - and then moving over to dozens of small things - just compare nginx-ingress vs istio-ingress)

so - i have a istio-proxy injected nginx-ingress deployment. it works great for 99% of traffic, but some other syst

[2019-10-24 17:57] howardjohn commented on #18228
Thank you! Very helpful, I think with that we can start tracking down the root cause.

Just wondering, you mentioned this applies only to one cluster, any idea what the difference is? Were the other ones not the full scale? I will attempt to reproduce it so that could simplify things.

[2019-10-24 17:57] howardjohn commented on #18228
I have seen this from some other users before as well, by the way, so this seems like a pretty high priority

[2019-10-24 18:02] brian-avery opened #18283 "[istiio.io testing] Need test for Fault Injection"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Now that we have an Istio.io testing framework, we need to automate the tasks on Istio.io. This task covers the [Fault Injection](https://preliminary.istio.io/docs/tasks/traffic-management/fault-injection/) task.

A YouTube video describing using th

[2019-10-24 18:15] brian-avery opened #18284 "[istio.io testing] Need test for Traffic Shifting"
**Describe the feature request**
We need to develop a test for the [Traffic Shifting](https://preliminary.istio.io/docs/tasks/traffic-management/traffic-shifting/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/integration/istioio

A Yo

[2019-10-24 18:15] ericvn commented on #18208
As an FYI, this was merged into preliminary.istio.io with https://github.com/istio/istio.io/pull/4710 and cherry-picked back to istio.io (default 1.3 branch) with https://github.com/istio/istio.io/pull/5157. Per discussion, reverted in 1.3 for now with https://github.com/istio/istio.io/pull/5254.

[2019-10-24 18:16] kyessenov commented on #18169
@rshriram Yes, it's been awhile already. All xDS protos should use the standard protobuf, not gogo.
@fcantournet This is probably a BoolValue wrapper, which Envoy uses for fields with presence checks. Proto3 does not allow presence checks for regular `bool` fields.

[2019-10-24 18:17] ericvn commented on #18208
I think we will need #17112 fixed and cherry-picked back into 1.4 (how big is that effort), or we want to revert it out of the 1.4 documentation as well (unless we can fix it so that it works (with the mentioned workaround?)).

[2019-10-24 18:19] brian-avery opened #18285 "[istio.io testing] Need test for TCP Traffic Shifting"
**Describe the feature request**
We need to develop a test for the [TCP Traffic Shifting](https://preliminary.istio.io/docs/tasks/traffic-management/tcp-traffic-shifting/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/integration/istio

[2019-10-24 18:24] vadimeisenbergibm commented on #18208
@ericvn let me check https://github.com/istio/istio/issues/17112, will update you.

[2019-10-24 18:32] brian-avery opened #18286 "[istio.io testing] Need test for Request Timeouts"
**Describe the feature request**
We need to develop a test for the [Request Timeouts](https://preliminary.istio.io/docs/tasks/traffic-management/request-timeouts/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/integration/istioio

A Yo

[2019-10-24 18:33] chayan88 commented on #17937
@jwendell I just installed istio-1.1.9 (OpenShift on IBM Cloud). and deployed bookinfo app.
As our FW allows only 443 , I have reconfigured the bookinfo gateway with HTTPS something like this.
[code]
And able to access the app using istio-ingressgateways external IP.

Problem: Kiali cannot be accessible via route , I did a port forwarding to access. but the problem remains same. Kiali cannot catch

[2019-10-24 18:34] brian-avery opened #18287 "[istio.io testing] Need test for Circuit Breaking"
**Describe the feature request**
We need to develop a test for the [Circuit Breaking](https://preliminary.istio.io/docs/tasks/traffic-management/fault-injection/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/integration/istioio

A You

[2019-10-24 18:38] mandarjog commented on #18261
Ingress Flamegraph after fixing Stackdriver issues

Includes Stackdriver, Stats, and full envoy telemetry.

handlePrometheusStats: 17%

StackDriver:Log - 3.5%
Stats:Log - 6.6 %
Mx:OnResponseHeaders - 6.47   (set FilterState 4%)

![Flamegraph](https://storage.googleapis.com/artifacts.mixologist-142215.appspot.com/perfdata/istio-ingressgateway-77fdf4cd5f-bv566_1571940694.svg)

[2019-10-24 18:38] brian-avery opened #18288 "[istio.io testing] Need test for Ingress Control"
**Describe the feature request**
We need to develop a test for the [Ingress Control](https://preliminary.istio.io/docs/tasks/traffic-management/ingress/ingress-control/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/integration/istioio

[2019-10-24 18:47] ostromart commented on #17743
Could you ptal @richardwxn ?

[2019-10-24 18:51] ostromart opened #18289 "mesh manifest migrate breaks on values-e2e.yaml"
howardjohn commented yesterday:
mesh manifest migrate install/kubernetes/helm/istio/test-values/values-e2e.yaml > file
seems to be broken

[2019-10-24 18:51] ostromart commented on #17743
Actually, I created a new issue for this, seems it's not really related to error logging:
https://github.com/istio/istio/issues/18289

[2019-10-24 18:52] chayan88 commented on #17937
@jwendell To use Maistra ... I think we will have to configure the nodes and registry ... how do I configure them in openshift on IBM Cloud where you don't have os label access?

[2019-10-24 18:54] ostromart commented on #18093
Is this still an issue @morvencao ? I tried it but cannot repro. It's not clear to me why such behavior would happen since we merge the json trees without any schema using a strategic merge.
Could you confirm?

[2019-10-24 18:57] ostromart commented on #18035
Fixed in https://github.com/istio/istio/pull/18062

[2019-10-24 18:57] #18035 closed

[2019-10-24 18:59] ostromart commented on #18036
I think we can close this, appears to be working correctly now.

[2019-10-24 19:02] yangminzhu commented on #15641
`istio.io/istio/tests/integration/security.TestAuthnJwt` is constantly taking >4 minutes to complete, this is due to the `sleep(60)` for each test case in https://github.com/istio/istio/blob/c58def259087f72aac4ac20390a1249cfbe858a4/tests/integration/security/jwt_test.go#L331

Will send out a PR to optimize this to not to wait for 60 seconds blindly, this should save 4 minutes for the security test

[2019-10-24 19:09] chayan88 opened #18290 "Grafana is unable to show the graph for bookinfo app"
**Bug description**
Deployed the bookinfo app and expose the "productpage service" and generated traffic using the productpage svc route , but in Grafana dashboard nothing is showing up.

**Expected behavior**
Grafana should show the traffic in out of the box workload dashboard.
**Steps to reproduce the bug**
Deploy bookinfo On Openshift 3.11 (on IBM Cloud) and access the app using productpage svc

[2019-10-24 19:27] cr-amatziab commented on #11365
google still have a 5 port limit on internal load balancer.|
you can try the managed istio they offer as part of gke maybe it can solve the issue.
another solution is to create multiple gateways (service + istio gateway) this will also require adjustments with the helm chart if you are installing it via helm

[2019-10-24 19:35] ericvn commented on #17476
I don't think we want each target rewritten so that we are repeatedly running `docker runs`, but being able to run a target without having to recreate the command would be useful.

[2019-10-24 19:46] howardjohn commented on #18228
cc @lambdai

[2019-10-24 19:55] nesl247 commented on #11365
FYI their managed istio addon does not include an internal load balancer. You actually have to create it yourself, and it will have the same limitations.

[2019-10-24 19:56] howardjohn commented on #18228
Sequence of events:

* 31:33 CDS Req, Push, and ACK
* No activity at all in pilot logs, just GC
* 32:46 new, unrelated pod starts up (frontend-splitter) triggering incremental EDS inc to 5 connected endpoints. We then see 4 EDS inc pushes, to everything but the pod in question (helloworld2). All are ACKed. Not pushed to helloworld since it hasn't requested EDS yet?
* 32:48 first EDS REQ. Followed

[2019-10-24 19:58] howardjohn commented on #18228
The first set of logs has the same sequence, except the first EDS push is not correlated to any other action, so maybe that was a coincidence.

Pilot has only 5 connections so its load is extremely low, and it sounds like Envoy load is minimal as well, so likely this is not a load issue.

[2019-10-24 20:02] rshriram opened #18293 "auto mtls: need fallback to simple tls instead of plaintext"
**Describe the feature request**
Today, the auto mtls feature falls back to literally plaintext if mtls is not available. This will not work in most enterprises today because almost all their deployments (k8s or vms) use one-way TLS from the ingress LB to pods or VMs. The TLS certs in the app is the same as the TLS certs in the load balancer (this is the poor mans way in the enterprise to ensure t

[2019-10-24 20:04] rshriram commented on #18293
A nice benefit of this idea is that it will also work for @uk000 and co, where they have mixed mode (k8s pods with mtls, and VMs with one-way TLS), without requiring API changes.
Since we have not made a release yet, we should consider changing this label soon. Otherwise, we will have to support backward compatibility and cause more confusion

[2019-10-24 20:18] brian-avery opened #18294 "Check before and after state of Istio tests"
While working on tests for Istio.io, I found what looks like a test that fails because another test didn't get cleaned up properly. We should add a pre and post condition to tests such as `kubectl get istio-io` which will collect the before and after state of the system and compare the two. If the post-test environment is not equal, at least in Istio.io, we could mark the test a failure, since the

[2019-10-24 20:30] brian-avery opened #18297 "Clean up token matching in Istio.io Test Framework"
Currently, the token matching supports wildcards, but I think that might be too limiting.

We will likely want to support the following types of token matching at a minimum:

* Check all output for a command for foo.
* Make sure all output for a command does not contain foo.
* A single line matches a regular expression
* A single line does not match a regular expression.
* Check a single line to m

[2019-10-24 20:32] carolynhu opened #18298 "istio/tools: track benchmark pipeline related issues"
Here is a list of issues we found when building benchmark pipeline:

- [x] fortio server connection refused in some circumstances. //cc @richardwxn

- [ ] Same istio configuration test is triggered and run with different run_id. To optimize, we need to figuring out how to avoid duplicate tests running.
To be more specific: when gathering latency data, we have qps=1000, conn=16. But the same config

[2019-10-24 20:32] carolynhu commented on #18298
cc @mandarjog

[2019-10-24 20:53] lambdai opened #18300 "istio-ingressgateway behind trusted loadbalancer"
I see a lot of cases deploying istio-ingressgateway behind a trusted cloud provided loadbalancer.

Since the capability of trusted loadbalancer varies, istio-ingressgateway should have correspondent configures.
There might be some workarounds but long term plan is missing.
There are possible achievables in the istio stack but the config is not open to istio api.
There might be features not surfaci

[2019-10-24 20:57] #18124 closed

[2019-10-24 21:12] selmanj opened #18302 "Analyzer to check sidecar configuration matches the injection template"
Right now there's an injection analyzer that just compares proxy version to the injector version. It would be more correct to actually verify that the injected configuration matches.

As an example, if you change your network configuration in a multi-cluster setup, the sidecars need to have new configuration injected (and thus need to be restarted).

[2019-10-24 21:13] GregHanson commented on #16851
@mc1711 @MVJosh during the secure deployment of elasticsearch, secrets are created and used for secure communication:
https://github.com/elastic/helm-charts/blob/master/elasticsearch/examples/security/Makefile#L28

Have you tried creating a DestinationRule that does something besides disabled mtls? for instance:
[code]
or one which references the mounted secrets directly
[code]

[2019-10-24 21:21] kyessenov commented on #18139
The current workflow as far as I understand it:
- istio_authn receives a config about the principal binding (SAN peer cert or JWT origin user)
- once computed, it saves under dynamic metadata `istio_authn`, with struct `{request.auth.principal: "..."}`; it also adds source.user, source.principal, etc.
- mixer filter reads this from dynamic metadata and sets the values from there for source.princip

[2019-10-24 21:30] lambdai commented on #18228
helloworld-v2 envoy is reporting grpc config stream closed. It might explain why there is a config push stall.
I don't explain why it is 1 minute long.

[code]

[2019-10-24 21:32] njfix6 commented on #9113
Update on my 503 journey:

First, I changed nginx and ruby keep-alive timeout to 360 seconds by adding `keepalive_timeout   360;` to nginx config, and by adding`persistent_timeout 360` to the puma config file. I don't think this helped much though because I still saw 503's.

Second I realized we were not shutting down nginx gracefully because when nginx receives a `SIGTERM` it quickly shuts down.

[2019-10-24 21:34] lambdai commented on #18228
I will investigate the reconnection at envoy. Hopefully I don't need to dive into the google grpc impl.
I also suspect pilot may wrongly assumess the envoy has the latest config while envoy didn't.

It's unknown why there is a stream close.

[2019-10-24 21:38] lambdai commented on #18228
in terms of spamming of EDS request and response:
I am working at the envoy to dedup request at best efforts. Honestly it's not fault: envoy should send EDS request when it need new EDS.
I am exploring some low hanging fruit instead of implementing a Nagle's algorithm at XDS protocol

[2019-10-24 21:42] kyessenov commented on #18139
Ok, source.principal is actually computed the same way AFAICT. So we should be OK re-computing the value in mixer v2 architecture for source and destination principal.

request.auth.principal should be delegated to authn_filter.

[2019-10-24 21:45] #18178 closed

[2019-10-24 21:46] kyessenov commented on #18139
Example value: cluster.local/ns/default/sa/server
Note the stripped SPIFFE prefix:
[code]

[2019-10-24 21:47] epsniff commented on #18257
@howardjohn thanks for the feedback.  Right, since this is a node level resource I should be investigating what's going on at the node level :).  Yeah, that should have been obvious now that I think about it.

I'll have a look at the GKE node and post a comment if I find anything worthy of sharing.  In the meantime, I think it's safe to close this ticket as it appears not to be an istio issue.

[2019-10-24 21:50] howardjohn commented on #18257
Thanks. Please reopen if it is our fault. We should be creating only a few watches so if we are doing more we may have a bug

[2019-10-24 21:50] #18257 closed

[2019-10-24 21:53] elfinhe commented on #18302
this is a great feature and we may also want to add into `istioctl proxy-config` or `istioctl ps`

[2019-10-24 22:03] linsun commented on #18300
I'm under the impression that #3867 is already fixed... we have a status port on the gateway.

[2019-10-24 22:38] howardjohn opened #18306 "istioctl analyze should support structured output (json)"
To support CI use cases, it would be useful to support structured output. This would allow parsing the output and doing certain things for different errors, or whatever else they want.

[2019-10-24 22:41] #17996 closed

[2019-10-24 22:46] gotwarlost commented on #14327
Some thoughts:

* Lowering the polling period to 1s has the effect of doing busy work for the entirety of the node's lifetime rather than just in the critical period where this race could happen.
* I don't know if cluster-node-critical vs cluster-system-critical would make a crucial difference. Perhaps it will.
* The script exits when it finds a problem in the config (`check_install` function), wh

[2019-10-24 22:50] fsequeira1 commented on #18228
We tried to replicate this issue with minikube and with a new gke cluster with less deployments and we couldn't replicate the slow start in none of these clusters (where envoy started in about two seconds).
Btw, if you need more logs or want to test any behavior just ask @howardjohn  @lambdai

[2019-10-24 23:06] carolynhu commented on #17585
Update about periodic jobs:
(1) Currently we have two periodic jobs: one for master, one for the current release. Each job run about 7 hours and take up one cluster.
(2) another way: we run say five periodic jobs for both mater and release (total is 10), then, we need  10 clusters. If we run in the same cluster with different namespaces (the default namespace is twopods). it's fine that we define

[2019-10-24 23:10] bianpengyuan opened #18307 "Add golang lint into istio/proxy repo"
**Describe the feature request**

istio/proxy repo has lots of golang code now for e2e testing and we don't have lint to gate the change. We need to add that.

**Describe alternatives you've considered**

**Additional context**

[2019-10-24 23:41] artyomtkachenko commented on #14327
I can definitely say that playing with cluster-node-critical vs cluster-system-critical does not make any difference. I tried it before.

[2019-10-25 00:13] incfly opened #18311 "Gateway can't handle large number of mTLS connections with in-mesh workload"
**Bug description**

When developing the auto mTLS feature, we noticed that when in a setup as following

[code]

[code]

Note the service&port are declared as tcp, so both gateway and server workloads listeners are using tcp_proxy, no HCM.

## Number of Connection Matters

- When the clients are sending large number of requests(say 100) in parallel, some requests start to fail. The gateway access

[2019-10-25 00:14] incfly commented on #18311
@PiotrSikora @mandarjog Appreciate your input, this will unblock us to turn it on by default and evaluate the behavior change in the release.

Thanks!

[2019-10-25 00:40] sirajmansour commented on #17359
facing the same issue

[2019-10-25 00:42] rlenglet opened #18313 "Create 1.3.4 release"
- [x] Prepare `istio/cni`.
  - [x] Sync the fork of the `istio-iptables.sh` script.
[code]
- [x] Check whether the commit SHAs in `istio/istio` and `istio/proxy` are consistent.
  - [x] Check whether the same `istio/api` commit is used in `istio/istio` and `istio/proxy`.
[code]
  - [x] Check whether the version of Envoy from which the go-control-plane's API has been extracted from is no more than

[2019-10-25 00:53] incfly commented on #17837
/cc @incfly

[2019-10-25 01:18] #18036 closed

[2019-10-25 01:36] linsun commented on #18293
A little worried about tlsMode label and the complexity to under these label meanings and apply at the correct times during the transition period.

if they have 400 services on vm, can we ask them to do canary on these 400 services, like 20% add envoy sidecar (auto mTLS) while 80% stay on one way TLS (via destinationrule) and subsets?  can we put the services with sidecar different subset than ser

[2019-10-25 01:44] rshriram commented on #18293
The question here is why can’t we do the same for auto mtls as well ? Why do we need to have this auto mtls option when we can tell end users to do subsets etc ?

If we added auto mtls for simplicity, where end users have to add these labels for non k8s workloads, then we should maintain the same approach for simple tls. Also remember that this will become useful in kubernetes as well if people ha

[2019-10-25 01:55] rahulrai-in commented on #18092
I found the solution to your problem while searching for my own issue. You can edit the corefile of coreDNS in istio-system namespace and change the hostname "global" to whatever, you want. I changed it to "internal" and it works just fine.

[2019-10-25 02:06] pib commented on #18061
Looks like this should stop happening with cert-manager v0.11.0 because they will no longer be generating a temporary certificate while waiting for the ACME cert to be issued: https://github.com/jetstack/cert-manager/releases/tag/v0.11.0

[2019-10-25 02:08] hzxuzhonghu commented on #10659
https://istio.io/news/2019/announcing-1.3/

[2019-10-25 02:08] linsun commented on #18293
So `security.istio.io/tlsMode:istio` is the new `security.istio.io/mtlsReady: true`?

auto mTLS was introduced when user changes from permissive to strict for services already have the sidecar.  I'm just trying to understand how common your cases is and if it is necessary to cause confusing in the configuration for simple cases:

1. user enable strict mTLS for a service or a namespace or the mesh.

[2019-10-25 02:24] lambdai commented on #17980
Will be fix by https://github.com/istio/api/pull/1148 (along with the pilot change)

[2019-10-25 02:28] lambdai commented on #12551
This should be fixed in 1.3. No need to use cni
@adamglt @cscetbon Could you verify?

[2019-10-25 02:35] huwany commented on #10659
conversation killer ._. @hzxuzhonghu

[2019-10-25 02:36] kyessenov commented on #17359
Do you have strange header values by any chance, e.g. NUL octet? We place C++ strings into protobuf which assumes UTF-8, so if there is some encoded input that is beyond 7 bit ASCII, it might cause the warning that you see. For example, headers are expected to be ASCII so they are not decoded at all. Do you observe any strange values in the metrics? That might help to pin-point where this is happe

[2019-10-25 02:38] morvencao commented on #18093
@ostromart I can still reproduce the issue. In my env, if I create such ICP cr:
[code]

As you can see above, I changed the `spec.trafficManagement.components.pilot.k8s.hpaSpec.minReplicas` from default value `1` to `2`, then I get the ICP cr with kubectl:

[code]

As you can see. other fields in HPA, `maxReplicas` `scaleTargetRef` become the default value for its type.

I know the root cause is t

[2019-10-25 03:17] dumindu commented on #18225
- deployment and service in a separate namespace
- virtualservice and gateway in istio-system namespace.
- virtualservice having `istio-system/` prefix for `Spec: Gateways:`

But same result.

[2019-10-25 03:20] morvencao opened #18318 "[controller]could not create patch for object"
Build the operator controller with latest master code, create the default ICP cr, the I got the the following error:
[code]

Also the status of ICP cr is that:
[code]

[2019-10-25 03:29] hzxuzhonghu commented on #17112
It is because the service port name and endpoint port name not equal. Currently we assume the two ports are related only if the names are the same.

We need to get the service's target port if we want to correlate with endpoints without port name.

[2019-10-25 03:34] ostromart commented on #18093
Per our discussion, it appears that this only affects how ICP is displayed with kubectl get, but when the overlay is merged with the base, the scaleTargetRef fields from base are retained and not set to default nil values.
Since there's no solution that we can think of right now without drawbacks and this doesn't affect function, let's defer it to 1.5.

[2019-10-25 03:37] kramvan1 opened #18319 "Reduce RBAC scope: Role instead of ClusterRole for Operator Controller"
**Describe the feature request**

The default for the Operator controller was switched to use Cluster roles.
https://github.com/istio/operator/pull/356/files

Roles should be used to reduce the namespace scope for the operator controller.
For installing Istio into single namespace (istio-system)  Roles could be used instead of ClusterRoles for that namespace only.

One option could be to provide b

[2019-10-25 03:56] howardjohn commented on #16998
RBAC still fails occasionallyhttps://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/18317/integ-security-k8s-tests_istio_release-1.4/133

[2019-10-25 06:27] rjshrjndrn commented on #18092
LOL, that's my question. Why global? why not forward everything which get forwards from kube dns?

[2019-10-25 06:52] rahulrai-in commented on #18092
Yeah fixed that too. Just need to replace global with a dot. I am going to raise a PR. Let's hope it makes it way through. It is a  very annoying bug.

Outlook for Android

________________________________
From: Rajesh Rajendran <notifications@github.com>
Sent: Friday, October 25, 2019 5:28:24 PM
To: istio/istio <istio@noreply.github.com>
Cc: Rahul Rai <rahulrai@live.com>; Mention <mention@noreply

[2019-10-25 07:04] lambdai commented on #18228
I go through the code at envoy but I find nothing suspicious.
The worth notice thing is that envoy report no healthy upstream, which is pilot. But immediately (in 2s) envoy got the CDS update which means stream is established. Pilot push log timestamp also support this sequence (Assume times drift is small enough).

it's either envoy not sending EDS request, or pilot stop processing EDS request.
-

[2019-10-25 07:37] Stono commented on #9113
Wait for 1.3.4, due out in a couple of days which contains this fix https://github.com/istio/istio/issues/18089 which all but removed 503UCs for me.

[2019-10-25 08:34] mpfaehler commented on #9292
If you'd like to filter those client disconnects from your monitoring, you may have a look at the response_flag "DC",
cp:
https://github.com/envoyproxy/envoy/issues/5119
https://blog.getambassador.io/understanding-envoy-proxy-and-ambassador-http-access-logs-fee7802a2ec5
As far as I understand it, your client disconnects should have the response_flag "DC" set.

[2019-10-25 08:38] adamglt commented on #12551
The reproduction is a bit different than above - but this is still broken.
Install Istio with auth enabled, then:

[code]

[2019-10-25 09:28] Wihrt opened #18324 "Istio pods are running but not ready after installation with Calico"
**Bug description**
Istio pods after installation are running but are not ready

**Expected behavior**
All pods are running and ready

**Steps to reproduce the bug**
1. Deploying K8S cluster using KubeSpray
2. Installing Istio without Helm following this [procedure](https://istio.io/docs/setup/install/kubernetes/#installation-steps)

**Version (include the output of `istioctl version --remote` and

[2019-10-25 09:40] prabhu-mannu opened #18325 "SSL secerts fails to be reloaded"
**Bug description**
The ingress SDS fails to reload a valid SSL cert secret if the secret is replaced.
throws a warning

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[X] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

[2019-10-25 09:46] luxianlong opened #18326 "Jwt filter supports mapping multi issuers to one jwks"
**Describe the feature request**
In many multi-tenant senario,  jwt tokens with different issuers just use the same jwks. For example, when integrated with AAD, the jwks always be https://login.microsoftonline.com/common/discovery/keys

Current jwt filter config just make one issuer to an jwks URI. It can not support mutli-tenant system well.

I thinks the issuer paramater can support regex match

[2019-10-25 10:14] Wihrt commented on #18324
We have deployed another cluster but with Weave instead of Calico for the networking part
The installation is just going fine

So Istio + Calico seems to not work. Is there a configuration to do in order to make it work ?

[2019-10-25 10:15] xeviknal opened #18327 "ServiceRole AccessRule Service only works with FQDN"
**Bug description**
RBAC not working when defining ServiceRole AccessRule services different than FQDN.
The
**Expected behavior**
[code]

[code]
Both ServiceRoles above should not make service mesh return 403 errors.

Or I expect that the documentation for this end updated. I am fine with only supporting exact service name match.

**Steps to reproduce the bug**
![Screen-recording-_12_](https://use

[2019-10-25 10:37] xeviknal commented on #18327
Useful to progress with https://github.com/istio/istio/pull/18160

[2019-10-25 11:56] Docteur-RS commented on #17882
@howardjohn Thanks !

[2019-10-25 11:56] #17882 closed

[2019-10-25 12:37] linsun commented on #18319
@kramvan1  I agree, we should not give more permission than the operator actually needs.  one question, if we reduce to role, how do you know which namespace it should grant the role binding?  (current it is set to istio-operator but it is fine since it is cluster role binding.)   I asked because we don't know which namespace user will be installing istio to.

[2019-10-25 12:37] linsun commented on #18319
cc @sdake @ostromart @richardwxn

[2019-10-25 12:41] linsun commented on #17937
@chayan88 nodes are already configured for you, so you don't need to worry about it.

[2019-10-25 12:42] linsun commented on #17937
@chayan88  i believe your issue is sidecar isn't capture any traffic.  So the istio cni doesn't do its job to program the traffic redirect for the pod.

[2019-10-25 12:59] rshriram commented on #18293
yes and it will be auto injected. So no user configuration in either case.

That is no longer true. See below :)

Nope. auto mtls helps to automatically do mTLS when the calling sidecar knows that the destination also has a sidecar, irrespective of whether the destination has strict or permissive mode. This way, anytime you add a sidecar to a service (partial or full), all communications to this s

[2019-10-25 13:24] jpkrohling opened #18329 "Inconsistent behavior when ports aren't following the naming conventions"
**Bug description**

When the Kubernetes `Service` resource in front of a deployment is exposing a port that doesn't follow the naming conventions, ingress spans aren't being created. I would expect *egress* spans to also not be created. Currently, egress spans are being created, but not ingress spans, which seems inconsistent to me.

Documentation reference: https://istio.io/faq/distributed-traci

[2019-10-25 14:35] linsun commented on #18293
Thanks for the additional detail and update!  So I think I get there is a need for 3 modes... I was somewhat confused to use these 3 modes.... Here are the 3 modes:

1. no fall back, always plain text.
2. Fall back for mTLS (if mTLS doesn't work out):
- 2.1  plain text
- 2.2 one way TLS

Are these correct?

[2019-10-25 14:38] wpbeckwith commented on #18061
@pib I'm already using cert-manager 0.11.

[2019-10-25 14:39] linsun commented on #18293
```auto mtls helps to automatically do mTLS when the calling sidecar knows that the destination also has a sidecar, irrespective of whether the destination has strict or permissive mode. This way, anytime you add a sidecar to a service (partial or full), all communications to this sidecar (from other sidecars in the mesh) will automatically do mutual TLS - you dont even have to bother changing fro

[2019-10-25 14:40] knrc commented on #15777
Apologies, I have not been tracking my issues as closely as I should have done.  Just to be clear this issue appears to be deploying upstream istio, i.e. not the maistra version, into OKD?  If that is the case then you should be using the same codebase.

In the maistra version we modified the sidecar injector so it was responsible for updating the certificates, this was previously handled during t

[2019-10-25 14:49] camille-rodriguez commented on #16944
Which version of istio are you using @Nielsoux ? I am trying to setup pretty much the same thing (istio mesh with 2 AWS clusters, but using external load balancers), and the crush map templates do not correspond to the one you show in the diff file.

[2019-10-25 14:53] #18318 closed

[2019-10-25 14:54] cscetbon commented on #12551
@lambdai when you say no need to CNI, you forget it's needed when containers can't run as root in the cluster.

[2019-10-25 14:56] cscetbon commented on #12551
@adamglt I like your method of testing it ;) Definitely still broken and that's what I confirmed in my tests too.

[2019-10-25 14:59] howardjohn commented on #18329
In 1.3 we introduced a new protocol detection feature. We found some issues with this on inbound traffic, so right now this one works for outbound traffic. In the very new feature it will work everywhere

[2019-10-25 15:01] howardjohn commented on #18307
Just a heads up if you weren't aware, there should already be a lint-go make target if you have an up to date common files

[2019-10-25 15:07] jpkrohling commented on #18329
Thanks for the clarification! Would it be worth documenting this behavior, until the new feature is made available? I spent quite a few hours today trying to figure out what was wrong :-)

[2019-10-25 15:12] sethokayba commented on #17937
hello,

I just installed istio 1.1.15, which is declared as tested with **kubernetes 1.11**, and the problem is the same.

I used:
- OpenShift 3.11.88 (kubernetes 1.11)
- Istio 1.1.15
- Cni-plugin for sidecar injection.

The traffic is not hitting the other services on kiali :

![Kiali-istio-1 1 15](https://user-images.githubusercontent.com/1992713/67582546-e517fc00-f741-11e9-80f5-dbfe8ebb2a98.JPG

[2019-10-25 15:29] rshriram commented on #18293
When you enforce mTLS, the server side will be strict completely. So, any client (sidecar or not) that does plaintext will fail to communicate. At that point, on the client side, all sidecars will default to using the mutual TLS because all the destinations will have that label.

[2019-10-25 15:33] howardjohn commented on #18221
@haf-afa SDS is not a required feature of Istio, feel free to disable it or use a kubernetes deployment that supports the enhanced security features. I like https://kind.sigs.k8s.io

[2019-10-25 15:35] howardjohn commented on #18329
@jpkrohling sorry if the docs aren't super clear here, the problem is up until a few days before the release we intended it to be fully enabled so had written some of the docs as such - we may have missed some updates. Its very subtly mentioned in https://istio.io/news/2019/announcing-1.3/#intelligent-protocol-detection-experimental but we should be more explicit

[2019-10-25 15:40] howardjohn commented on #17112
Oh yeah, good point @hzxuzhonghu is right. I ran into the same problem recent. Very easy to miss

[2019-10-25 15:47] howardjohn commented on #18324
`019-10-25T09:19:35.880734Z     info    Configuration not synced: first push for [istio/networking/v1alpha3/destinationrules] not received` Galley is not sending Pilot the Destination Rule? but the CRD exists on the cluster which is weird

[2019-10-25 15:53] howardjohn commented on #18258
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/18331/unit-tests_istio/3159

[2019-10-25 15:53] howardjohn commented on #18258
@istio/wg-config-maintainers ptal, this has been popping up frequently and is not a new test -- may be a regression

[2019-10-25 16:22] cebernardi commented on #18115
@howardjohn I opened a PR on this issue. (https://github.com/istio/istio/pull/18333)
We agreed on a tentative approach of rendering istio-proxy environmant variables from `global.proxy.env`, but the PR also proposes a new annotation to allow single pods to override those variables. Please let me know what you think about the annotation approach, from a user point of view I find useful to have the

[2019-10-25 16:25] ruigulala commented on #14327
@gotwarlost @artyomtkachenko Thanks for the comments. Do you have any minimum reproducible example I can use? The goal is to get a more accurate and detailed understanding of the root cause.

[2019-10-25 16:26] howardjohn opened #18334 "Move setup_perf_cluster_for_tests.sh to another repo"
This test has no reason at all to be in istio/istio. It should probably be in istio/tools.

The motivation here is that we are no longer running ANY tests in istio/istio on Boskos, so I want to cleanup all of the boskos junk in the repo. We should move this out to where-ever appropriate (maybe http://github.com/istio/tests)

[2019-10-25 16:27] diemtvu commented on #18293
As comment in the PR, can we design a proper API for setting fallback TLS options instead? I think it would be more flexible to address all needs (the simple TLS fallback seems to limited to me, for example how does it works if server use self-signed cert), and does not complicate the label semantic.

[2019-10-25 16:43] richardwxn commented on #18298
As an update, the benchmark test finished and uploaded the data successfully for past two days but the test was showing failure status, because pods were down intermittently during clean up process so it failed during one of the debugging kubectl call in the TRAP.

[2019-10-25 16:50] vikramkhatri commented on #17777
@mandarjog - I was talking to Surya and he mentioned that should we put `blueperf` under `/tools`? Do you want this to be separate root level dir `/blueperf` or `/tools/blueperf` and then accordingly I will create the first PR.

[2019-10-25 17:09] yangminzhu commented on #16998
The fix https://github.com/istio/istio/pull/17935 is in master and the test seems no longer fail in master: https://k8s-testgrid.appspot.com/istio_istio_postsubmit#integ-security-k8s-tests_istio_postsubmit&width=5, I will cherrypick that to 1.4 as well.

[2019-10-25 17:19] howardjohn commented on #16998
Thanks!

On Fri, Oct 25, 2019 at 10:10 AM Yangmin Zhu <notifications@github.com>
wrote:

[2019-10-25 17:28] phenixblue commented on #17748
Is there a set release that will include the fix merged as part of #17791?

[2019-10-25 17:37] schmidtp0740 opened #18336 "Blacklist select egress traffic"
**Bug description**
Instead of denying all egress traffic. I would like to allow all egress traffic but blacklist certain endpoints.

Sample config:
[code]
**Expected behavior**
Would expect to deny egress traffic to 8.8.8.8 from the pod with the following label

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version`)**
kubectl version:
[

[2019-10-25 18:06] duderino commented on #14327
Reopening until we're sure this actually fixes the problem

[2019-10-25 18:11] pitlv2109 opened #18338 "RBAC v2 conversion tool tracker"
- [ ] Documentation

**Convert ClusterRbacConfig to AuthorizationPolicy**

- [ ] Support mesh wide level (on, off)
- [ ] Support namespace level (on with inclusion, on with exclusion)
- [ ] Support service level

**Convert ServiceRole and ServiceRoleBinding to AuthorizationPolicy**

- [ ] Service name to workload selector
- [ ] * in service name
- [ ] * as prefix/suffix in service name
- [ ] One a

[2019-10-25 18:12] pitlv2109 commented on #18338
The majority of the work has been done. This is to track future improvements

[2019-10-25 19:58] sethokayba commented on #17937
@chayan88

I tried to go with the same config as in my last comment, and found that kiali is showing 100% of generated traffic but using a different example. https://rinormaloku.com/istio-an-introduction/

![Kiali-istio-rinormaloku-1 1 15](https://user-images.githubusercontent.com/1992713/67600477-21f7e900-f76a-11e9-9268-c5ef4a8eb74d.JPG)

Can you please try this sample app instead of bookinfo app

[2019-10-25 20:05] esnible commented on #18190
Related: `istioctl pc log <pod> --reset` gives

[code]

- This should not be logged, logging looks weird in a CLI tool
- The level being retrieved is "", which is unknown to _istioctl_.

The ConfigMap log level seems to have been moved, and have a different value, than the CLI expects:

[code]

[2019-10-25 20:08] esnible commented on #18190
@waret Can you take over this Issue?

[2019-10-25 20:19] esnible commented on #18155
I am not experience in Go Modules.  Given a package such as `modernc.org/cc` how do I determine the direct dependency?

I am not familiar with the output of the tool.  For modernc.org/cc I see six different licenses.  Is this an "or", where we can choose which of the licenses we are using the tool under?

`github.com/docker/docker` also seems to have multiple licenses.  One is GPL, but it also see

[2019-10-25 20:24] esnible commented on #18247
`kubectl` doesn't either, does that make a difference?

[code]

[2019-10-25 20:27] #18025 closed

[2019-10-25 21:09] PiotrSikora commented on #18293
I think this feature is mixing "service mesh transport security" (which is either mTLS or plaintext) with "workload transport security" (which is either one-way TLS or plaintext; we don't have client certificates to perform workload mTLS from the sidecar, so we treat it as opaque bytes, i.e. plaintext).

[2019-10-25 21:25] chayan88 commented on #17937
@sethokayba If you dont mind could you please let me know what is the exact command you run for the installation along with CNI plugin?
I am running this command
```helm template install/kubernetes/helm/istio --name istio --namespace istio-system     --values install/kubernetes/helm/istio/values-istio-demo.yaml --set istio_cni.enabled=true | kubectl apply -f -```

[2019-10-25 21:54] incfly commented on #18293
So yeah, actually, could users continue to let client app terminate the one way tls connection for those not migrated server workloads? This meets the requirements of not falling back to plain-text, even though traffic is opaque bytes in the point of client sidecar.

If the answer is no, is it because users can't use L7/http Istio features if sidecar don't understand the protocol?

[2019-10-25 21:54] chayan88 commented on #17937
@sethokayba this time with 1.3.3 istio upstream with different app mentioned by you worked for me.
![image](https://user-images.githubusercontent.com/33457041/67606811-24753580-f7a0-11e9-9f37-d92a98078e40.png)

[2019-10-25 21:59] sethokayba commented on #17937
on OpenShift 3.11, you don't need to install the CNI Plugin, it is already included, you need just to pass the --set istio_cni.enabled=true to activate it.

For now, the thing to do, is to find the difference between "sentiment" and "bookinfo" configs. What makes "sentiment" work and what don't for "bookinfo"

[2019-10-25 22:03] #15010 closed

[2019-10-25 23:03] #14062 closed

[2019-10-25 23:30] ostromart opened #18344 "istioctl manifest testing: traffic management"
istioctl will be the default installation method for 1.4 onwards. We need to verify that the Istio installed using `istioctl manifest apply` works with the following tasks:

https://preliminary.istio.io/docs/tasks/traffic-management/

[2019-10-25 23:31] ostromart opened #18345 "istioctl manifest testing: security"
istioctl will be the default installation method for 1.4 onwards. We need to verify that the Istio installed using istioctl manifest apply works with the following tasks:

https://preliminary.istio.io/docs/tasks/security/

[2019-10-25 23:32] ostromart opened #18346 "istioctl manifest testing: policies"
istioctl will be the default installation method for 1.4 onwards. We need to verify that the Istio installed using istioctl manifest apply works with the following tasks:

https://preliminary.istio.io/docs/tasks/policy-enforcement/

[2019-10-25 23:34] ostromart opened #18347 "istioctl manifest testing: observability"
istioctl will be the default installation method for 1.4 onwards. We need to verify that the Istio installed using istioctl manifest apply works with the following tasks:

https://preliminary.istio.io/docs/tasks/observability/

[2019-10-25 23:36] ostromart commented on #18344
Note: tests should be done with version that has #18342.

[2019-10-25 23:37] ostromart commented on #18346
Note: tests should be done with version that has #18342.

[2019-10-25 23:37] ostromart commented on #18345
Note: tests should be done with version that has #18342.

[2019-10-25 23:37] ostromart commented on #18347
Note: tests should be done with version that has #18342.

[2019-10-25 23:45] elfinhe opened #18348 "manifest diff: remove (empty collection/string -> none) output, also fix additional quotation mark"
**Bug description**
Now `mesh manifest diff` outputs some string like this:
[code]
**Expected behavior**
[code]
we'd better remove redundant quotation signs.
**Steps to reproduce the bug**
`istioctl manifest diff`

[2019-10-25 23:54] incfly commented on #12437
I think we can start from `proxy-config`.

[2019-10-25 23:59] louiscryan commented on #18293
Clearly we have an issue with a layerng violation. We would rather have as @PiotrSikora describes a mechanism for transport security that can't collide with application security. The fact that we use TLS on the same port as the application port is causing us pain.

Now in this case there is no reason why the fallback behavior can't be the behavior assigned to the endpoint in the DestinationRule ra

[2019-10-26 00:22] rshriram commented on #18293
I dont think it is a violation. Remember that people adopt a mesh for telemetry as well. When tehy add a sidecar to their app, we advise them that they can do plaintext from their app and we will initiate TLS on their behalf, if they want telemetry, routing, etc. So, in this context, if you are going to tell them that `if you want one-way tls, go back to https and ignore the sidecar`, then we are

[2019-10-26 00:52] yangminzhu opened #18351 "integ-new-install-k8s-tests_istio broken for "applicationPorts" not defined"
**Bug description**
The test is timeout on every PRs: https://k8s-testgrid.appspot.com/istio_istio#integ-new-install-k8s-tests_istio&width=20

I tried to run it locally, it seems it's caused by failing to deploy the workload (`Error creating: admission webhook "sidecar-injector.istio.io" denied the request: template: inject:159: function "applicationPorts" not defined`):
[code]

[2019-10-26 00:54] yangminzhu commented on #18351
Maybe caused by https://github.com/istio/istio/pull/17986, cc @howardjohn

[2019-10-26 01:25] howardjohn commented on #18351
https://github.com/istio/istio/pull/18352 fixes it, thanks for noticing

[2019-10-26 02:03] #13349 closed

[2019-10-26 02:11] hzxuzhonghu commented on #17748
It will be in release-1.4. And i think this should go into 1.3 as well. Will cherry-pick.

[2019-10-26 02:11] #17748 closed

[2019-10-26 02:21] sdake commented on #14002
@rlenglet I have been looking at the broken `go mod tidy` in cni.  As a result, the conclusion was that logging is busted, and needs to be functional.  I have work in progress to fix up logging.  If you don't think you will get to this in the next few days, let me know, otherwise, I will submit a PR for atleast the log implementation.  I will need heavy reviewing :)

Cheers
-steve

[2019-10-26 03:05] bnicholson85 commented on #18228
I am out of country for the next week, any additional details can be provided by @fsequeira1 .. Thanks for your help @lambdai @howardjohn !!!

[2019-10-26 03:25] rlenglet commented on #14002
@sdake If you can get to doing that, that'd be great, thanks! I will review your PR(s).

[2019-10-26 03:31] rlenglet commented on #14002
@sdake I worked on fixing logging months ago, but didn't finish the work. My WIP branch is at https://github.com/istio/cni/tree/fix-logging. You could use it as a starting point?

[2019-10-26 04:28] ramaraochavali opened #18355 "ServiceEntry Resolution update fails with EDS ACK Errors"
**Bug description**
When a ServiceEntry's Resolution Type is updated from `STATIC` to `DNS` after it is created, Pilot generates "ads	ADS:EDS: ACK ERROR ", leading to inconsistent proxy state across the mesh - Endpoints across the mesh have different endpoints because further eds pushes fail with the ACK errors.

The proxies generate the error error_detail:<code:13 message:"malformed IP address: s

[2019-10-26 05:03] ramaraochavali commented on #18355
Attached is the Pilot log from our test cluster where I tested this - If it helps. `invalid-service-entry` is the one which was causing the problem. Ignore the first few CRD create/update failures on it because was trying if we set resolution as STATIC add DNS endpoints, if validation catches or not. Those logs are for that part of the test.
[pilot_logs.zip](https://github.com/istio/istio/files/37

[2019-10-26 05:06] #13394 closed

[2019-10-26 08:06] #13806 closed

[2019-10-26 08:16] lambdai commented on #18228
Not root caused yet but it's an envoy issue.
I read the code and I think the EDS push storm, where consequent EDS request has 1 cluster vary, is not the expected behavior.

The culprit is likely the below.
[code]

[2019-10-26 09:40] ramaraochavali commented on #18355
Looking at the code, I think I see what is going on here. The full push is happening correctly on service entry update. When full push happens, we call cds, eds, lds and routes. When pushEds is called here
https://github.com/istio/istio/blob/master/pilot/pkg/proxy/envoy/v2/ads.go#L551

the `pushEds` function is looping through all the clusters in the connection and preparing endpoints https://gith

[2019-10-26 11:06] #14850 closed

[2019-10-26 11:41] haf commented on #18221
@howardjohn It's not just SDS; just starting Istio fails.

[2019-10-26 18:37] howardjohn commented on #18208
17112 is not a bug as far as I can tell, so please revert/fix the docs

[2019-10-26 18:39] howardjohn commented on #17856
We still need to branch Envoy and Proxy @PiotrSikora @mandarjog can we do this soon?

[2019-10-26 18:55] howardjohn commented on #18228
@lambdai I have seen the EDS push storm before, but I tried reproducing just now and was unable too, so it seems its not the normal behavior -- there must be something that triggers it

[2019-10-26 19:05] howardjohn commented on #18221
Starting Istio will work if you do not enable SDS.

My understanding of this is that Istio offers SDS, for users who want enhanced security, or the default file mounted certs. Without this trustworthy jwt feature that requires kubernetes API flags, there are security issues with how SDS behaves. So it doesn't really make sense to use a security feature that is not secure... You do not *need* to us

[2019-10-26 19:06] #15157 closed

[2019-10-26 21:53] inteon opened #18357 "GracePeriod overflow error"
**Bug description**
GracePeriod overflow error

**Expected behavior**
Not showing in logs:
[code]

**Steps to reproduce the bug**
Have a high "certLifeTime" value. See https://github.com/istio/istio/blob/d5964882ca1d0932623a233aa135aaba66b628eb/security/pkg/k8s/chiron/controller.go#L305.

**Version (include the output of `istioctl version --remote` and `kubectl version`)**
client version: 1.3.3
no

[2019-10-27 00:25] lei-tang opened #18359 "Certificate GetWaitTime() has an overflow bug"
**Bug description**
The following code in GetWaitTime() has an overflow bug (e.g., when cert.NotAfter.Sub(cert.NotBefore) = time.Hour * 90000, gradePeriod becomes a negative number due to the overflow).

gracePeriod := cert.NotAfter.Sub(cert.NotBefore) * time.Duration(cu.gracePeriodPercentage) / time.Duration(100)

**Expected behavior**
No overflow should occur.

**Steps to reproduce the bug**
Run

[2019-10-27 02:28] davidebbo commented on #18247
Fair enough, no reason to diverge here.

[2019-10-27 02:28] #18247 closed

[2019-10-27 04:55] richardwxn commented on #18334
Actually there are two perf related tests in istio/istio now, one is setup_perf_cluster_for_tests.sh you pointed out, which I believe the test result is not used any where now, another one is perf_benchmar_test.sh which serves as entry for benchmark testing in tools repo now.

So I think we can remove the setup_perf_cluster_for_tests.sh and move the perf_benchmar_test.sh to tools repo?

[2019-10-27 08:15] #18357 closed

[2019-10-27 09:46] ravikumarkgit commented on #14400
I Do got stuck with the same issue on Google Cloud

- Istio 1.3.1
-Apigee istio adapter 1.3.0
_Kubeeneter 1.13.11

getting the below error when i apply $: kubectl apply - f /samples/apigee

ravi_kapa@cloudshell:~/apigee-istio-adapter (poetic-inkwell-256903)$ kubectl apply -f samples/apigee/
deployment.extensions/apigee-adapter unchanged
service/apigee-adapter unchanged
instance.config.istio.io/api

[2019-10-27 10:10] ramaraochavali commented on #18355
I have a pushed to to fix with Option 2 (which is safe). Added a test that validates the behaviour - before my fix, eds pushes happen with DNS endpoint and after the fix they stopped.

[2019-10-27 11:13] haf commented on #18221
No it does not start if I use only the defaults. See the linked gist. @howardjohn

[2019-10-27 11:18] haf commented on #18221
To reply to your argument. It makes sense for any type of production, but sometimes there is a lot of value in having little to no variance in how systems are configured. Take the large outages in AWS stemming from config changes.

Or take another side; developers test against mocks and stubs; but if one takes your argument at face value that would be useless. But in reality it’s not; having mocks

[2019-10-27 12:48] ramaraochavali commented on #18228
There was a fix in Envoy that stopped sending too many EDS requests - https://github.com/envoyproxy/envoy/pull/7976 and corresponding issue https://github.com/envoyproxy/envoy/issues/7955. 1.3 may not have that fix - I have not verified to confirm though.
@howardjohn  Did you test this on master ?

[2019-10-27 15:57] howardjohn commented on #18221
This sounds like a real bug, this should not he happening if sds is disabled.

Your point does make a lot of sense though. I think it's likely when we made this change we didn't fully realize the UX implications (although I was not involved in the decision, and I'm not terribly familiar with the technical details here).

Also, not to say your mocking point is not valid, but ideally in development

[2019-10-27 15:59] vadimeisenbergibm commented on #17112
@howardjohn @hzxuzhonghu I am experiencing the problem with Istio 1.2.5, I rewrote the bug - please see the problem now. I am checking it.

[2019-10-27 16:02] howardjohn commented on #18334
Yeah everything can be moved. At some point there is some `setup_e2e` function that calls a bunch of stuff related to mason and boskos -- all of that can be moved out since istio/istio is not using it at all.

[2019-10-27 16:05] howardjohn commented on #18228
Yes I was testing on master

On Sun, Oct 27, 2019 at 5:49 AM Rama Chavali <notifications@github.com>
wrote:

[2019-10-27 16:53] vadimeisenbergibm commented on #17112
Checking https://github.com/istio/istio/releases/tag/1.4.0-beta.0:

The bug as described in the updated first comment does not exist. The previous issue with the port name exists, the port name must match in the Service and Endpoints definition, or omitted.

[2019-10-27 17:07] vadimeisenbergibm commented on #17112
Checked 1.3.0, the same as for 1.4.0-beta.0, as in https://github.com/istio/istio/issues/17112#issuecomment-546713015.

Closing the issue, the bug does not exist in 1.3.0 and in 1.4.0, the gotcha is to use the same name or omit name for a port in both Service and Endpoint definition.

[2019-10-27 17:58] #17112 closed

[2019-10-27 18:32] vadimeisenbergibm commented on #18208
@ericvn https://github.com/istio/istio.io/pull/5261 should fix this issue.

[2019-10-27 23:03] howardjohn commented on #18171
Can you provide some more info? What requests are you sending? What is expected behavior? How can we reproduce?

After reading this I am not sure what the problem is, if its a bug, etc

[2019-10-27 23:09] howardjohn commented on #14817
Maybe could extend https://github.com/istio/istio/pull/18364/files to warn about this

[2019-10-27 23:20] howardjohn commented on #18225
@haf-afa just want to clarify current state here: Your last attempt, with everything in the default namespace works, but you want the Gateway in istio-system, right?

I applied your setup with all default namespace, and everything worked.

Then I moved the gateway to istio-system, and it not longer works. I ran the new `istioctl analyze` tool (https://preliminary.istio.io/docs/ops/diagnostic-tools

[2019-10-27 23:23] howardjohn opened #18366 "istioctl analyze false positive for cross namespace Gateway/Virtual Service"
File:

[code]

Command: `istioctl x analyze file.yaml`
Output:
[code]

Expected: No errors; this config is valid

[2019-10-27 23:23] howardjohn commented on #18366
This also reports an error with `-k` if that helps at all

[2019-10-27 23:56] howardjohn commented on #18107
There is some more examples and commentary on how to set that up in https://github.com/istio/istio/issues/18221

[2019-10-27 23:56] #18107 closed

[2019-10-28 00:25] howardjohn opened #18367 "Consider sending "Not Ready" endpoints over EDS as unhealthy"
Currently, we are only sending "Ready" endpoints over EDS. This makes some fields like minHealthPercent (panic threshold) a bit hard to reason about. If we keep removing endpoints from the endpoint set, then we keep moving the target. If envoy health checking perfectly aligned with k8s (generally it won't, since one is passive and one is active), you could never actually hit this since envoy would

[2019-10-28 00:27] howardjohn opened #18368 "Perf: starting up a pod triggers 2 EDS pushes"
Right now, a pod startup looks like this from Pilot logs:

[code]

The first update, the Endpoint object gets the not ready endpoints. At this point, we do nothing with that info (see https://github.com/istio/istio/issues/18367).

Then, a few seconds later, the endpoint is marked ready and we do another push.

We should consider optimizing this to only push once

[2019-10-28 02:09] hzxuzhonghu commented on #18355
@ramaraochavali The log below shows the SE is invalid.
[code]

I think u haven't use mcp yet. And the cause is that in `pilot/pkg/config/kube/crd/controller/controller.go`, and  we can find that in `Get`/`List` function, the configs are not cached and get from k8s apiserver directly, but without validation. The validation only applies to informer. That is to say the previous validation is not comp

[2019-10-28 02:37] ramaraochavali commented on #18355
@hzxuzhonghu As I noted in the https://github.com/istio/istio/issues/18355#issuecomment-546569682 - that was intentional test to ensure pilot is actually validation an invalid service entry. After that I actually tested with valid service entries - like service entry with STATIC resolution and endpoints as IPs - then Pilot processes it correctly. After that I updated the service entry resoluition

[2019-10-28 02:49] hzxuzhonghu commented on #18355
If both ses are valid, i am not sure why eds nacked. I understand we push cds->eds in orders.

[2019-10-28 02:58] carolynhu opened #18369 "ingressgateway 503 during istio upgrade 1.3.1 -> 1.3.2 and rollback 1.3.2 ->1.3.1"
To reproduce:
local run [test_crossgrade.sh](https://github.com/istio/istio/blob/master/tests/upgrade/test_crossgrade.sh)

Internal traffic sent by fortio batch job `cli-fortio` report:
[code]
Also, when external traffic sending in background mode when upgrade and rollback.  Fortio job will never complete:
For example: we are running this command: `fortio load -c 32 -t 500s -qps 10 -timeout 30s -H

[2019-10-28 03:00] ramaraochavali commented on #18355
eds nacked because, when we do a full push, edsPush is looking at con.Clusters (which are eds clusters) and pushing endpoints for the clusters in that list. The service entry before update to DNS was in that list and pushed. But the service entry is actually updated to DNS. The con.Clusters list only updated again after envoy sends back eds request for cds push. But eds push happens before that in

[2019-10-28 03:04] hzxuzhonghu commented on #18367
I am concerned about too many not ready endpoints will lead to 503. As the default max retry is limited.

[2019-10-28 03:07] hzxuzhonghu commented on #18355
Now i got it. The scenario does exist. I didnot know that envoy validate eds still considering cds.

[2019-10-28 03:08] howardjohn commented on #18367
I mean we send them with "health_status=unhealthy" so traffic is not routed
to them

On Sun, Oct 27, 2019, 8:05 PM Zhonghu Xu <notifications@github.com> wrote:

[2019-10-28 03:16] ramaraochavali commented on #18355
Yeah, Envoy would consider endpoint updates to existing active cluster while a cluster update (cluster warming) is in progress because - cluster could warmed for a variety of reasons.

[2019-10-28 03:17] vadimeisenbergibm opened #18370 "Let Citadel generate additional SAN in its certificates"
**Describe the feature request**

Let Citadel generate an additional SAN in the certificates it generates, for example in the form: `serviceAccount.Namespace.[somesuffix]` with `some_suffix` configurable.

**Describe alternatives you've considered**

The alternative is to mount separate DNS certificates for *.example.com and manage two types of certificates: DNS and SPIFFE ones.

**Additional cont

[2019-10-28 03:18] vadimeisenbergibm commented on #18370
The use case: integrate Citadel with an external CA, let's say of an organisation with domain example.com. Citadel will generate CSRs for certificates with DNS SAN serviceAccount.namespace.clustername.example.com in addition to the SPIFFE SANs.

Citadel will send the CSRs to the CA of example.com for signing. The certificates can be used both for intra-mesh communication by the means of SPIFFE SAN

[2019-10-28 03:24] elvizlai commented on #18229
same issue

[2019-10-28 03:25] vadimeisenbergibm commented on #18370
To check how it would work, generate certificates for httpbin.example.com, with a SPIFFE SAN:

1.  Create a root certificate and private key to sign the certificate for your services:

[code]

1.  Create an `openssl` configuration file for `httpbin.example.com`:

[code]

1.  Create a certificate and a private key for `httpbin.example.com`:

[code]

1.  Test the certificate as part of [Istio Ingres

[2019-10-28 03:26] vadimeisenbergibm commented on #18370
cc @costinm, for 1.5, following our discussion in https://docs.google.com/document/d/1mkVBUSY86h4mX5A9StX0T2u3xvLV3dYv0HFwYTBxyh0/edit?disco=AAAADtS_ZMs .

[2019-10-28 03:51] elvizlai opened #18371 "EnvoyFilter config size limit"
**Describe the feature request**
For k8s annotation, size limit is 256KB.
For large project, proto descriptor is much bigger than the limit, and can not apply for k8s (using replace works).

[code]

**Describe alternatives you've considered**
Is there any other way to config EnvoyFilter? For example pvc?

**Additional context**

[2019-10-28 04:28] ramaraochavali commented on #18367
IMO, while it is good to not send an initial NOT ready endpoint to Envoy i.e Pod becomes initially ready, I think later flips back to Not ready/Live check failures should be better handled by Envoy. The outlier detection, retries etc are meant to handle such scenarios assuming that POD readiness/liveness flip is a transient one.  Otherwise control plane is doing what Envoy is supposed to do and if

[2019-10-28 04:34] howardjohn commented on #18367
External services have no notion of 'not ready' in the service entry API, so there would be no changes there, this would only apply to k8s.

Just wondering, why do you think we should not send the initial not ready endpoint?

[2019-10-28 04:37] howardjohn commented on #18371
I think you could probably mount a volume to galley and use the file based configuration here?

[2019-10-28 04:48] ramaraochavali commented on #18367
Agree. I am more wondering about from the behavior perspective, not from the actual change. Those services will depend on Envoy's capabilities because control plane has no knowledge of their health/readiness.

Because the instance is not ready even at least once - so was wondering what is the point in sending it to Envoy. Also if it hits lbpanic, it Envoy might route it to not ready endpoint (whic

[2019-10-28 06:51] Stono commented on #18089
Closing as confirmed fixed in >=1.3.3

[2019-10-28 06:51] hzxuzhonghu commented on #18355
make sense

looks this way is better, this is less costly. Reduce an additional eds request?

[2019-10-28 07:20] johscheuer opened #18373 "Helm template issues"
**Bug description**
I was experimenting with Knative (using this guide: https://knative.dev/docs/install/installing-istio/#updating-your-install-to-use-cluster-local-gateway) and I noticed that the affinity rendering is more or less broken in `helm template`. After running helm template I got the following error:

[code]
**Expected behavior**

**Steps to reproduce the bug**
Fetch istio (i used `1.

[2019-10-28 07:21] johscheuer commented on #18373
I will try to find some time in the evening to dig into this issue and see how this can be fixed.

[2019-10-28 07:34] ramaraochavali commented on #18355
It does not reduce any EDS request AFAICT. But would be cleaner. My hesitation is regression risk - We do have logic here https://github.com/istio/istio/blob/master/pilot/pkg/proxy/envoy/v2/ads.go#L344 which has been working for a while - So not 100% sure of regression risks. That is why I chose the second approach which is safe.

[2019-10-28 07:41] ssoerensen commented on #10659
@hzxuzhonghu That is awesome, let me ask something different what should we do differently/change, right now we are using the rabbitmq example that have been circling around various issues.

- Do we still need specific entries for each pod in a statefulset?
- What do we do when we have a headless and a clusterIP for a statefulset
- Is there any special step we need to take when using mTLS?

[2019-10-28 08:03] chenwng opened #18374 "Pod readiness failure doesn't prevent ingress gateway pod from forwarding traffic"
**Bug description**

I have a pod, which has readiness and liveness probes. For some reason, readiness probe fails and liveness probe still works. Pod is still shown as running but not ready and endpoint shows empty. Istio ingress gateway still forwards traffic to the pod.

It looks like pilot doesn't trigger any EDS push to ingress gateway pod if endpoint becomes empty.

Pilot log when pod readin

[2019-10-28 08:12] johscheuer commented on #18373
On linux this works just fine so it seems to be an macOS and helm issue. The question is should we add a workaround for macOS or just state that it's currently broken?

I will try to take a look at helm to see where the issue is happening.

[2019-10-28 08:37] LSChyi commented on #17967
Sorry for the late reply. I wrote a simple proxy that stands between sidecar and policy, and that proxy rewrites the quota to 0 for all CheckRequst. This proxy works for that I can see HTTP 429 responses logs in the sidecar, but sometimes I can still see the HTTP 200 response from some clients. Supposedly after the first HTTP 429 logs (which in the provided logs is after timestamp 2019-10-28T08:07

[2019-10-28 08:43] Wihrt commented on #18324
I can try to deploy Istio on a kubeadm deployed cluster and see if I have the same behavior ?

[2019-10-28 08:46] johscheuer commented on #18373
So it's currently a bug in helm `v.2.15.0` if you just use `v.2.15.1` everything works again as expected.

[2019-10-28 08:46] #18373 closed

[2019-10-28 08:56] thecodejunkie commented on #6069
Hi,

I believe I just experienced this with 1.3.1. I generated manifests using the Helm charts and installed Istio-init, Istio-Cni, and Istio in my cluster. After everything has been applied, the `caBundle` field, of the `MutatingWebhookConfiguration` is still blank (or not even there)

[code]

after I restart the sidecar injector pod I can see that the `caBundle` filed it properly filled out.

As

[2019-10-28 09:06] thecodejunkie commented on #6069
@ayj @costinm @ostromart 😄

[2019-10-28 09:29] timurb commented on #18061
I also see the described behaviour. I was able to have SDS load my keypair generated by certmanager/letsencrypt only once and still trying to reproduce that with no luck.

Another observation:
- if I delete the secret and then generate it again with the same name SDS is going to infinite loop with the following logs (**debug** level enabled through ControlZ):
[code]

Here is the same logline with

[2019-10-28 09:56] grinb commented on #17199
Hi,
The only diff between Dockerfile.proxyv2 and Dockerfile.proxytproxy is USER 0:1337. The tproxy image is needed to have the tproxy enable. Can you merge the two images ?

[2019-10-28 10:03] LinLshare opened #18375 "no healthy host for HTTP connection pool, ':status', '503'"
**Bug description**

I use istio ingress-gateway enable https in aws EKS and then test my service by locust.
When testing, everything seems good, but when I stop testing, the error occurs.

[code]

**Expected behavior**
':status', '200'

**Steps to reproduce the bug**

1. apply an test service;
2. bind a https cert to the test service;
3. use [locust](https://docs.locust.io/en/stable/installation.

[2019-10-28 10:11] jpkrohling commented on #18329
Sounds good. We have a [PR opened](https://github.com/jaegertracing/documentation/pull/317) for the Jaeger documentation, but it might indeed belong to Istio's FAQ instead.

@objectiser: would you be able to convert that PR into a PR for the Istio's documentation?

[2019-10-28 10:21] objectiser commented on #18329
Will take a look.

[2019-10-28 11:34] johnma14 opened #18376 "Move gen_istio_image_list.sh from scripts dir to tool dir"

[2019-10-28 12:38] esnible opened #18378 "Lower istioctl CLI log levels"
The `istioctl` tool sometimes logs using the standard timestamp stdout logger.

Sometimes this can't be helped easily (for example, when we call Pilot APIs).

It pollutes the `go test` tests and looks weird in the cases where a user encounters it.

I propose as a stopgap measure we reduce the log level everywhere under _istioctl_ from `log.Error()` to `log.Warn()` so that the messages are suppress

[2019-10-28 12:57] mbanikazemi commented on #16078
I solved the problem by explicitly specifying  "replica-announce-ip" config parameter and setting it to the pod IP address for slaves.

More specifically, I added the following to my Statefulset env to use the pod IP address :

[code]
connected_slaves:2
slave0:ip=172.30.229.191,port=6379,state=online,offset=56,lag=1
slave1:ip=172.30.144.169,port=6379,state=online,offset=56,lag=0```

@emrahcetiner

[2019-10-28 13:21] ntbandara3 commented on #16171
Hi guys,

Any update on this, please? This is a huge blocker at the moment. It would be amazing if you all could come up with a solution.

Thank you.

[2019-10-28 13:37] hzxuzhonghu commented on #10659
NO

You can access by service name as normal service from client. For peer to peer communication, you need to specify the pod dns name.

For some apps, you need take care. FYI https://istio.io/faq/security/#mysql-with-mtls

[2019-10-28 14:09] #17808 closed

[2019-10-28 14:09] howardjohn commented on #18367
I see, that makes sense to me.. It would make the implementation much
easier if we sent all not ready endpoints. I'll think about it some more.
Thanks for the input

On Sun, Oct 27, 2019, 9:49 PM Rama Chavali <notifications@github.com> wrote:

[2019-10-28 14:11] howardjohn commented on #18375
Seems like this may just be locust nit gracefully shutting down and closing the connection before a request is complete?

[2019-10-28 14:13] howardjohn commented on #18374
This is a fixed bug but we need to port to the 1.3 branch https://github.com/istio/istio/pull/16967

[2019-10-28 14:21] dheerajjoshim opened #18380 "Unable to call external service from istio enabled pod"
**Bug description**
We have enabled Istio and injected side car. As part of container start up. We try to install some extra packages using `npm install` command.

`npm install `command fails with following error when istio is injected. `npm` can be reached using a corporate proxy

Error
[code]

In order to connect to external service, I have created a `ServiceEntry` and `DestinationRule`
But unab

[2019-10-28 14:39] dheerajjoshim commented on #18380
Since cluster is behind a proxy. Should a `ServiceEntry` and `DestinationRule` be created for proxy server as well?

[2019-10-28 14:39] camille-rodriguez commented on #16944
Hi,

I applied the modifications to the templates and the helm configuration and I was able to get my istio-ingressgateway up and running in my cluster2 (AWS). However, it seems like the clusters 1 and 2 are able to communicate only in one way (1->2), and the ingress-gateway of cluster2 does not actually forwards requests. Have you experienced something similar?
I am unsure if it is an issue with

[2019-10-28 14:56] Nielsoux commented on #16944
Hello @camille-rodriguez ,

To be honest, we dropped this solution and went to a kind of distributed control-plane mode,

Why:
1/ Cross-cluster resolution is not supported by default in Kubernetes,
So we had to create the ServiceEntry CRD in the clusters where we did'nt deploy the istio control-plane so that we could create them, and following this doc, stub the .global domain.

2/ Pilot is not wa

[2019-10-28 15:03] chenwng commented on #18374
Thanks for the quick response! It seems cherry-picking failed due to conflict.

[2019-10-28 15:13] howardjohn commented on #18374
I will manually resolve it

On Mon, Oct 28, 2019, 8:04 AM chenwng <notifications@github.com> wrote:

[2019-10-28 15:14] LinLshare commented on #18375
@howardjohn maybe, but in our production environment, there are several 503 errors one after one every about 15 minutes, so annoying 😣. It's all the client side's wrong, or I should ignore the error ?

[2019-10-28 15:26] aleksey005 commented on #18171
Steps for reproduce:
1. Install Rancher 2.3.1 and Enable Istio
2. Enable in namespace default Istio Auto Injection,
3. Create example deployments (nginx and php-fpm): https://github.com/bitnami/bitnami-docker-php-fpm/blob/master/example/kubernetes.yml

Result: example-deployment - Work, nginx-deployment - not Work with error:

[code]

[2019-10-28 15:26] LinLshare commented on #18375
and I wonder why client side's wrong results in 503 error. I think 503 should be the server side's error called  _503 internal error_.

[2019-10-28 15:32] howardjohn commented on #18375
So, 503s are basically the catch-all error for any issues, so just knowing you get 503s is not enough to root cause this. I would take a look at https://karlstoney.com/2019/05/31/istio-503s-ucs-and-tcp-fun-times, it is an excellent blog about debugging a 503 problem (in a previous release, which has now been fixed). We also have some more 503 fixes in 1.3.4 coming out this week.

One immediate thi

[2019-10-28 15:39] camille-rodriguez commented on #16944
Hi @Nielsoux,

Thank you for the additional information! I can see that I am still going to face issues with this type of deployment even if I get past the issue I currently have. I haven't tried yet a deployment of replicated control planes, but that was in my to-do list if having a common control plane is not working. Did you follow [the official doc](https://istio.io/docs/setup/install/multiclu

[2019-10-28 15:40] LinLshare commented on #18375
@howardjohn thanks a lot, I will try it

[2019-10-28 15:42] sethokayba commented on #18290
have you verified if Prometheus is set for Grafana ?

[2019-10-28 16:07] LinLshare commented on #18375
I had a try, it shows `DC` as following
[code]

[2019-10-28 16:11] kramvan1 opened #18384 "Operator not cleaning up all control plane resources"
**Bug description**

When IstioControlPlane CR is removed, most of the control plane is removed.
There a few resources left over:
- Some secrets generated during the control plane use
- the control plane namespace itself (istio-system)

[code]

**Expected behavior**

Resources created by the Operator for the control plane and their children resources are all cleaned up when the control plane/CR is

[2019-10-28 16:20] aleksey005 commented on #18171
If disable Istio Auto Injection sidecar and redeploy workload - all deployments work.

[2019-10-28 16:21] carolynhu commented on #18369
cc @elfinhe @ostromart

[2019-10-28 16:32] howardjohn opened #18385 "New test, TestBuiltinResourceWithWatcherEnabled, is flaky"
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/509

@vikaschoudhary16 can you take a look at this, looks like you introduced the test

[2019-10-28 16:33] elfinhe commented on #18369
@carolynhu can you paste more logs around the 503 errors?

[2019-10-28 16:39] Nielsoux commented on #16944
@camille-rodriguez,

Yes we followed the doc you mentioned and therefore had no more issue with the name resolution since every components are referring to the pilot from their own clusters and can then use the endpoints :)

Regarding the load balancer:
In the override.yaml,
You can just remove the following annotation to use an external LB as this is the defat behaviour to have a puic-facing LB p

[2019-10-28 16:39] fcantournet commented on #18300
My understanding is this issue #3867 is about a Network Load-balancer, not an HTTP reverse-proxy like a GCLB.

In the case of a GCLB, or any HTTP reverse-proxy / load-balancer, that would be in front of the ingress-gateway, this Load-balancer would terminate TCP/SSL and would reverse-proxy requests.
Among many thing this proxy is responsible for settings `X-Forwarded-For` and `X-Forwarded-Proto`.

[2019-10-28 17:09] lambdai commented on #18228
The easiest approach to recreate "no healthy upstream" is to delete the pilot. But the consequences are not the same.

@fsequeira1  To help us better understanding the scenario, could you turn the "config" component log level to "trace" in istio-proxy  during the istio-proxy starting?

One possible way is to change the cm/istio-sidecar-injector, replace `"componentLogLevel":""` by `"componentLogLe

[2019-10-28 17:11] pitlv2109 commented on #18221
This should not happen. I'll double check, but I don't remember anyone reporting any issues when 1.3 was out. There was no trustworthy jwt-related changes from 1.3 to 1.3.3.

If you're talking about whether one can use legacy jwt with SDS, the answer is no. The original design supported both types of jwt, but there was a question regarding the overhead of maintaining support for both types of jwt.

[2019-10-28 17:13] pitlv2109 commented on #18221
I accidentally edited John's comment instead of posting a new one for me 🤦

I just tried creating a OSS Kubernetes cluster using KinD and deployed Istio 1.3.3 without any problem.

[code]

[2019-10-28 17:15] howardjohn opened #18388 "HUB and TAG defaults not working due to common-files update"
https://github.com/istio/istio/blob/89a6afc32ba3fd3a94776875c7eaf0650dfcdb32/Makefile.core.mk#L211-L214 this default doesn't work anymore because HUB and TAG are always passed to the build container, even if they are undefined

cc @sdake @geeknoid

[2019-10-28 17:24] hprateek43 commented on #13467
@ozevren Is someone working on this? If, not, I am picking this up.

[2019-10-28 17:37] ozevren commented on #13467
@nmittler @duderino

[2019-10-28 18:02] richardwxn opened #18392 "Move reverse translations table to versioned yaml"
This PR: https://github.com/istio/operator/pull/300 moved translations table to versioned yaml, since reverse translations is built with some predefined value plus on top of translation table, so we can move reverse translation table to versioned yaml file as well.

[2019-10-28 18:17] ericvn commented on #18208
@vadimeisenbergibm I did verify the new page instructions work. Thank you.

[2019-10-28 18:22] nmittler commented on #13467
@hprateek43 go for it! :)

[2019-10-28 18:38] bianpengyuan opened #18396 "Add test in istio/proxy to simulate Wasm root context deconstruction"
Right now we don't have a good way to trigger root context deconstruction in integration test to capture possible crashes caused by async operation, because Wasm runtime layer does not garbage collect VM until envoy shutting down. When Wasm introduces mechanism for VM clean up, we need to add tests in istio/proxy to exercise that scenario.

cc @kyessenov @jplevyak @mandarjog

[2019-10-28 18:41] #16986 closed

[2019-10-28 18:41] lambdai commented on #18300
@fcantournet
GCLB
I am investigating the another GCLB XFF/XFP issue. What I have found iss that X-F-P is not trusted when use_remote_address is true.
1. Can you confirm that use_remote_address is set to false? I am running 1.3.3 and use_remote_address is set to true by default.
2. What is your istio version?

[2019-10-28 18:42] #14196 closed

[2019-10-28 18:49] diemtvu commented on #15748
Will re-investigate this during implementation for the next authN policy version.

[2019-10-28 18:49] #15748 closed

[2019-10-28 18:58] howardjohn commented on #18380
Istio 1.0 is not supported, please try on a new version of Istio. How we handle external services has changed. See https://istio.io/blog/2019/announcing-1.1-eol/

[2019-10-28 18:58] #18380 closed

[2019-10-28 19:00] bjoernw opened #18398 "LDS ACK Error, Error updating listener"
**Bug description**
I noticed that some of my policies were quietly not being applied to my services. During debugging I found warnings in both the service's envoy and pilot logs. Policies do work when applied to istio resources like the ingressgateway. However, JWT validation policies applied to any service I deploy are not rejecting requests. It seems like the envoys are not receiving policy upd

[2019-10-28 19:02] yangminzhu commented on #17323
I think we can close this for now, `TestJwtPubKeyEvictionForNotUsed` is in the unit test and I don't see it's flaky in recent PRs.

[2019-10-28 19:02] #17323 closed

[2019-10-28 19:04] bjoernw commented on #18398
`Istioctl proxy-status` output:
![Screen Shot 2019-10-28 at 11 57 42 AM](https://user-images.githubusercontent.com/1467156/67709385-12032380-f97b-11e9-9e63-e58144bcd9ae.png)

[2019-10-28 19:05] diemtvu opened #18399 "Tracking: Authentication policy v1beta1"
Design docs:
- [High level](https://docs.google.com/document/d/1CUm0UNpV85JQEwEbyrBxk058Bc8DuVkk9tOW_H0mxLc/edit#heading=h.23g9oybtucso)

- [JWT](https://docs.google.com/document/d/1f1ZVCUa7ktuoFKKFATCXfu9qFFFXX-7UMAJQtmMPuS4/edit#)

- [mTLS](https://docs.google.com/document/d/1RAsCl4n_F75ANAXrbI9tllA8QmE4etQ3HBHXNjxLPTo/edit#)

Tasks:

- [x] Add API for `RequestAuthentication`
- [X] Pilot: regist

[2019-10-28 19:06] fcantournet commented on #18300
I run istio 1.3.2 & 1.3.3
I cannot set use_remote_address to false on the ingress gateway.
I tried via an envoy filter but there seems to be a bug in the merging cf #18169

There was a pull request https://github.com/istio/api/pull/897
Here that would have made it configurable via the gateway object but it was closed in favor of envoy filters. I'm not really able to evaluate the reason but it seem

[2019-10-28 19:08] diemtvu commented on #13356
Obsolete. https://github.com/istio/istio/issues/18399 is the new tracking.

[2019-10-28 19:10] fcantournet commented on #18300
I also tried to set it to false via the helm chart but there is no way
If I had to choose I'd rather do it via a object .
If envoy filters are the way to go why not but I think we should take into account that envoy filters come with no backward compatibility garantees at the moment.

My point of view is that this use case is fairly common and should be supported. So I hope the solution is stable

[2019-10-28 19:11] howardjohn commented on #18398
I have not seen that one before. Looks like what is likely happening, we create a listener on 15090 as part of the static config, then possibly you have something else on 15090 and we send it as part of the dynamic config (LDS), which is then rejected.

Do you have anything on port 15090? ServiceEntry, Service, etc.

Can you `curl 'localhost:8080/debug/config_dump?proxyID=sidecar~10.50.0.80~curler

[2019-10-28 19:13] bjoernw commented on #18398
[code]

[2019-10-28 19:23] howardjohn commented on #18398
Hmm, that was actually not as helpful as I expected. What I was looking for is why we have a 15090 listener created, I think if we saw the route for 15090 it would show the source. Can you post the full config dump or the route on port 15090?

[2019-10-28 19:36] bjoernw commented on #18398
@howardjohn
[config_dump.txt](https://github.com/istio/istio/files/3780339/config_dump.txt)

[2019-10-28 19:46] howardjohn commented on #18398
You have a bunch of stuff on port 15090 like `banking.api.svc.cluster.local` that are in conflict here. https://istio.io/docs/setup/additional-setup/requirements/#ports-used-by-istio lists some requirements of ports, but its a little misleading. I think basically you cannot have any services on port 15001, 15006, or 15090.

[2019-10-28 19:55] howardjohn opened #18401 "TestSetAlwaysValidTokenFlag test failure"
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/515

[2019-10-28 19:57] esnible commented on #18190
@waret This is tagged 1.4.  Let me know if you can work on it in that timeframe.  Otherwise I will find someone else.

[2019-10-28 19:59] esnible commented on #6541
Closing because of `istioctl x describe` and `analyze`.

[2019-10-28 19:59] #6541 closed

[2019-10-28 20:02] esnible commented on #18378
The default log levels for istioctl:

[code]

[2019-10-28 20:24] esnible commented on #18378
I created this issue to get feedback on the idea.  The implementation is easy.  Are people bothered by timestamp logs appearing strangely from _istioctl_?  Are log messages appearing in `go test` confusing?

[2019-10-28 20:37] #18376 closed

[2019-10-28 20:44] trevorlinton opened #18402 "Nginx cannot proxy back to ISTIO TLSv1.2 ingress gateway"
**Bug description**

Nginx cannot proxy back to istio ingresses.

 I'm unsure if the issue is in istio or nginx but thought I'd file it here to see if anyone could pick apart the debug logs on nginx (I don't see any information on the ingress gateway pods logs).

**Expected behavior**

A reverse proxy should be able to reach istio.

**Steps to reproduce the bug**

1. Build the following docker fil

[2019-10-28 20:48] yangminzhu commented on #18351
Thanks!

[2019-10-28 20:48] #18351 closed

[2019-10-28 20:53] lambdai commented on #18300
Could you explain what is your goal?
My understanding your istio-ingressgateway is behind GCLB and you want to use the X-Forwarded-Proto provided by GCLB. Why set "use_remote_address" to false?

[2019-10-28 20:56] incfly commented on #18311
Gateway access log

[code]

[2019-10-28 21:02] fcantournet commented on #18300
Because currently envoy rewrite the X-forwarded-for and x-forwarded-proto
and my understanding is that this is because use_remote_address is set to
true.

Le lun. 28 oct. 2019 à 21:54, Yuchen Dai <notifications@github.com> a
écrit :

[2019-10-28 21:13] trevorlinton commented on #18402
I believe I figured this out.  If I set `proxy_ssl_server_name on` within nginx when I proxy back it adds the SNI server name to the TLS request and everything works fine (The SNI extension is missing in the Wireshark trace above).

However with our older load balancer it would present a "default" dummy certificate (not even the same hostname!) then route based on the `Host` header. Which, obvious

[2019-10-28 21:13] #18402 closed

[2019-10-28 21:43] bjoernw commented on #18398
Once i purged all the 15090 endpoints i finally got LDS to SYNC again for everything in the namespace. Thanks so much!

[2019-10-28 21:43] #18398 closed

[2019-10-28 21:50] sushicw commented on #17861
Note that this is different from setting the threshold for a nonzero return code (see https://github.com/istio/istio/pull/18341). In contrast to `--failure-threshold`, we should separately allow `--output-threshold` that similarly filters output levels.

[2019-10-28 22:02] howardjohn commented on #18244
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/18405/unit-tests_istio/3268

@vikaschoudhary16 please take a look or we may need to revert the PR

[2019-10-28 22:08] sushicw commented on #18306
This is discussed a bit in this design doc: https://docs.google.com/document/d/1KuxDRPPt283jx_cIs2C9sFHjoHvoskJt3IGqhPJVHtM/edit

TL;DR: we probably want to support `-o yaml` and `-o json` like `kubectl` does.

[2019-10-28 22:18] richardwxn opened #18411 "benchmark test fail to run with telemetry v2 nullvm on both sidecar mode"
When running telemetry v2 nullvm setting on both sidecar mode, we are getting error message "Error: Aborting because error -1 for http://fortioserver:8080/echo?size=1024: ", need to investigate why.

Also data for nomixer on both sidecar mode seems not correct though.

@carolynhu @mandarjog

[2019-10-28 22:21] howardjohn commented on #18258
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/519

@istio/wg-config-maintainers ptal

[2019-10-28 22:24] #17862 closed

[2019-10-28 23:15] sirajmansour commented on #17359
I actually don't think this is a warning, i think mixer is not being invoked because of this ?

[2019-10-28 23:53] kyessenov commented on #17359
It could lead to some loss of some strings in the protobuf payload (this is some auto-generated code so it's hard to tell),  but the call should still be done.

[2019-10-28 23:57] #18355 closed

[2019-10-29 00:30] sirajmansour commented on #17359
I just inspected the headers just for my sanity, they're regular browser headers nothing special there

[2019-10-29 00:41] incfly commented on #18311
trace level log from ingress gateway, https://gist.githubusercontent.com/incfly/2bcbd9ea10a57f6120b2448d949b10f6/raw/21c0caa48f6a4f2a2b920363fb3b3dec5eb1a4ef/gistfile1.txt

[2019-10-29 00:42] incfly commented on #18311
Did a debugging session with @PiotrSikora with above logs, the `C6601` error has `connection timeout` issue. After we bumps up the cpu/mem limit (used to be as following), and also increase the tcp conn time out to be rather long, the issue disappear. t->gw->c now works as well.

[code]

[2019-10-29 00:45] incfly commented on #18311
Given now that we understand the issue is around the resource limit, not the bug, I'll proceed with the features on by default...

Given this resource senstive thing is not supposed to be done in integration test, and we should have measurements for tls/plaintext separately in perf cluster.

[2019-10-29 00:49] incfly commented on #18242
This is what you pasted from the env var section, which is different from

`ISTIO_KUBE_APP_PROBERS: {"/app-health/example-app/readyz":{"path":"/healthz","port":3000}}`

which one is the actual accurate env var of the istio-proxy container?

[2019-10-29 00:55] incfly commented on #18242
Also what's your app health check endpoint  time out/latency duration? I vaguely remembered we have a hard-coded in pilot agent log, if your app is longer than that, we may pass the timeout.

https://github.com/incfly/istio/commit/b412d596a1dcadba0a67fc7c76b9eca79b12ebf8#diff-c1bdb159b354a382bbfe6a0bb13863b8R156

ours is 10 seconds, might be less than kubelet's implementation...

[2019-10-29 01:25] howardjohn opened #18418 "locality lb: support retry to another locality"
Envoy changing priority during retries: https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/http_connection_management#arch-overview-http-retry-plugins

We should look into supporting this

[2019-10-29 01:36] spacejam101 commented on #6071
Up for this ^ still having the same issue also

[2019-10-29 01:38] mandarjog commented on #18046
@ramaraochavali does your PR resolve this issue?

[2019-10-29 02:06] gavin-io commented on #15716
when I build bazel in mips64el, I also failed, did you have build successfully?Could you give me some documents?Thanks.

[2019-10-29 02:07] gavin-io commented on #15716
@qiyongxiao when I build bazel in mips64el, I also failed, did you have build successfully?Could you give me some documents?Thanks.

[2019-10-29 02:45] elvizlai commented on #10391
Friendly ping.

Is this issue solved? I also have same issue. Or should I open a new issue?

[code]

My hack server random generate code 14 Unavailable.

With this config, retry works for grpc-json-transcoder http, but NOT worked for grpc.

Here is service istio-proxy log for failed gRPC(x-request-id: c00cacfd-69bd-bde3-abf5-28645b51045b is failed)
[code]

And the log for curl request, retry works

[2019-10-29 02:58] sdake commented on #18155
Direct dependencies are not the only concern.  Any transitive dependency is a problem IMO. `go mod graph` should help you answer some of your questions.

Cheers
-steve

[2019-10-29 03:01] sdake commented on #18388
I was aware of this problem a few days ago.  I had originally thought the correct approach was to define `HUB` and `TAG` in every top level makefile to `gcr.io/istio-testing` and TAG to `1.5-dev`.  If you think thiis isn't the right solution, please let me know.  This allows us to have a common definition for HUB and TAG across the 15+ repos, so we only change in one place (common-files repo) then

[2019-10-29 03:03] howardjohn commented on #18388
That's not actually the default for istio/istio today, so we if do that we
should make sure we find out if that will cause problems. The alternative
is to only pass those envs when they are set

On Mon, Oct 28, 2019, 8:02 PM Steven Dake <notifications@github.com> wrote:

[2019-10-29 03:14] sdake commented on #18388
@howardjohn willing to compromise for the moment and only pass envs when they are set, but I want standard hub and tags across the project and would prefer to do it right the first time.

I'm not sure how to test this approach will cause problems.  Do you have suggestions?

[2019-10-29 03:16] sdake commented on #18388
@howardjohn another option (as per our developer wiki) is to set `HUB` to `docker.io/"${USER}"` and `TAG`to "${USER}".  This is what our developer wiki recommends, and I expect what most developers have set in their profile.

Cheers
-steve

[2019-10-29 03:19] sdake commented on #18388
@geeknoid you're the blamee on this change: https://github.com/istio/istio/blame/89a6afc32ba3fd3a94776875c7eaf0650dfcdb32/Makefile.core.mk#L217 - What was your thinking about default HUBs and TAGs?

Cheers
-steve

[2019-10-29 03:20] howardjohn commented on #18388
Would we run into issues where devs think they are using the "real" images
but they actually are using images they built a while ago because we set
the hub and tag.

Maybe that's not a concern

On Mon, Oct 28, 2019, 8:16 PM Steven Dake <notifications@github.com> wrote:

[2019-10-29 03:22] sdake commented on #18388
possible - timestamps as per what @geeknoid had originally done fix this problem but require tag changes each time images are rebulit to the deployment.  I'm not really sure what the best solution is - we should probably give it some additional thought.

Cheers
-steve

[2019-10-29 03:22] howardjohn commented on #18388
I think that blame is just from moving files around

On Mon, Oct 28, 2019, 8:20 PM Steven Dake <notifications@github.com> wrote:

[2019-10-29 03:43] sdake commented on #18384
@kramvan1 @irisdingbj pointed out a fix for this appears to have merged 4 days ago: https://github.com/istio/operator/pull/461

The original issue tracker was: https://github.com/istio/istio/issues/18031

[2019-10-29 04:03] ramaraochavali commented on #18046
@mandarjog Unfortunately that was reverted because there were concerns about hot restart. However I did another PR https://github.com/istio/istio/pull/18164 that simplifies how server_info is obtained which should help.

[2019-10-29 04:37] lambdai commented on #18375
1. std::string ResponseFlagUtils::DOWNSTREAM_CONNECTION_TERMINATION = "DC";
Did you look for parameters in locust to see if 503 could be mitigated?
2. Is the below timestamp close to the locust stop timing? Which component is print the log? ingressgateway or a sidecar proxy behind ingressgateway?
[code]
3. The log also shows `no healthy host for HTTP connection pool`. The upstream service of this

[2019-10-29 04:43] howardjohn commented on #18155
modernc is not gpl license, but it vendors in TCC as testdata (it is some sort of compiler type module, so it using it as test data). Not sure if that means we can use it or not. Considering the dependency comes from k8s, its a sign maybe its fine? I have no clue :slightly_smiling_face: https://github.com/cznic/cc/blob/master/testdata/tcc-0.9.26/COPYING

Why do we have github.com/juju/errors white

[2019-10-29 04:47] howardjohn commented on #18155
juju comes from one direct usage, which is easy to remove, and one direct usage from https://github.com/signalfx/golib/blob/58afbab2478d6a64752ad20ecf518ef881b934ee/Gopkg.toml#L86 which is potentionally extremely hard to remove. Interestingly, this is only used by signalfx to test compatibility: https://github.com/signalfx/golib/blob/master/errors/compatibility_test.go. It is NOT used in anything

[2019-10-29 05:19] vadimeisenbergibm commented on #6071
@themanifold @spacejam101 this issue contains multiple problems reported by multiple people, some of the problems seem to be resolved. Could you please open new issues and describe the problems you experience? Then we will need to check your configuration, ask you to dump pilot configuration, and so on, so it will be the question of your specific configuration, your environment and your pilot conf

[2019-10-29 05:47] irisdingbj commented on #18384
seems we left over above resources with latest master codes.

[2019-10-29 05:50] duriti commented on #17918
@esnible is there some progress on providing support for NiFi?

[2019-10-29 06:09] elvizlai opened #18423 "gRPC retry not work when server using SetHeader"
**Bug description**
Server side code example:
[code]

**Expected behavior**
Client call should retry when `Unavailable`.
Remove  `grpc.SetHeader` in server side, the retry policy `works`!

**Steps to reproduce the bug**

https://github.com/grpc/grpc-go/blob/4ec516e58900fb35115553b525e0fb7eb29fd6e3/internal/transport/http2_server.go#L830-L834

the response header frame is separated when err occur.

[2019-10-29 06:48] lambdai commented on #17613
I go through the code and configs and I find out that
1. `retries` is defined under `http` in istio virtual service crd.
2. `retries` is defined under `route` in envoy proto. Sorry I pasted from envoy config and mislead you.
@Stono you may need to fix your virtual service in https://github.com/istio/istio/issues/17613#issuecomment-538552216

[2019-10-29 06:49] lambdai commented on #18300
OK, we have the same goal that adopting the X-F-P from GCLB.
I am built a experimental proxy to verify my fix. Will update tomorrow

[2019-10-29 07:58] planetf1 commented on #10357
Enabling by default seems correct for me given the many cases of issues with it not working, (albeit with docs for why one might disable)

[2019-10-29 08:12] kevinsingapore commented on #12836
i had the save error, and how to solve?
`[root@kvm147 ~]# istioctl version
client version: 1.3.3
control plane version: 1.3.3
Error: 2 errors occurred:
	* error execing into istio-policy-5b95bd7d55-4h4d7 mixer container: unable to upgrade connection: container not found ("mixer")
	* error execing into istio-telemetry-54946c8cf-tlwhr mixer container: unable to upgrade connection: container not foun

[2019-10-29 08:38] zhangxingdeppon commented on #18161
@howardjohn hi,dear,i find some new information about this problem , maybe it's a key to resolve our probelem,in other words,  the istio-mesh metric url  is “http://10.222.0.90:42422/metrics” that prometheus target is istio-mesh ,you can look at the below picture:
![image](https://user-images.githubusercontent.com/16789841/67750316-ef036d00-fa69-11e9-9788-e79ea5779a05.png)

when I access it, it’s

[2019-10-29 08:48] haf-afa commented on #18221
So if this is the case, what is the recommended configuration to have test/dev parity? Do you recommend against using Docker Desktop? In that case, how does binding to low ports (port 443, 80) work on Windows with KindD (because minikube is not a good solution, with its constantly changing IP)?

Did you try starting Istio 1.3.3 without SDS on D/D?

[2019-10-29 08:55] vadimeisenbergibm opened #18424 "Missing endpoint for a Kubernetes Service with Endpoints and a subset in a DestinationRule"
**Bug description**

When you define a subset in a DestinationRule for a Kubernetes Service with Endpoints, the Envoy endpoint is missing for that subset.

**Expected behavior**
There should be an Envoy endpoint for the service with a subset.

**Steps to reproduce the bug**

1. Follow the Kubernetes example for a Service with Endpoints  https://kubernetes.io/docs/concepts/services-networking/servi

[2019-10-29 08:55] mgwizdz-jamf opened #18425 "Envoy filter API - per_filter_config support"
**Describe the feature request**

**Describe alternatives you've considered**

**Additional context**

HI,

I struggle with envoy filters in istio 1.3 version and I've got few issues. Can I add per_filter_config in istio 1.3? If not is there a chance this possibility will be available soon? I mean a configuration like this: [Per-Route Configuration](https://www.envoyproxy.io/docs/envoy/latest/conf

[2019-10-29 09:03] #17509 closed

[2019-10-29 09:50] Stono commented on #17613
Hey @lambdai this is our current VirtualService - can you just confirm it's correct:

[code]

[2019-10-29 09:56] haf-afa commented on #18225
@howardjohn You mean this test? https://gist.github.com/haf-afa/29d904cd9f7fad6aad22c481bc9c7e9e#file-gw-in-is-vs-in-fou-explicit-n-hello-in-fou-txt

[2019-10-29 11:22] timurb commented on #18061
Ok, I think I identified the failing scenario.

@wpbeckwith did you create gateway in the same yaml manifest as your gateway? (I assume you tried to attach it to the gateway as that's what I was doing).

If I create certificate and attach it to the gateway HTTPS endpoint in a single `kubectl apply`/`helm install` command I always see the described error (I'm using helm).
If I create certificate, t

[2019-10-29 12:36] dumindu commented on #18216
The issue was fixed by following instructions on https://github.com/istio/istio/issues/18225#issuecomment-546745696 . It will be great, if we can add some usage with different namespaces. I could create some sample project in https://github.com/istio/istio/issues/18225#issuecomment-546745696

[2019-10-29 13:44] Shnatsel opened #18428 "`istioctl analyze` should flag sidecar restarts"
**Describe the feature request**

It is a fairly common occurrence for Istio sidecars to run out of memory, be killed and restarted. This results in various networking issues that are not obvious how to debug.

`istioctl analyze` should flag presence of restarts for Istio sidecar containers. Simply flagging their presence is good enough for an MVP since the logs for the individual container should

[2019-10-29 13:45] cdmurph32 commented on #17660
I'm seeing this without SDS.  Roughly 1 in 1000 POST and PUT calls fail.
`javax.net.ssl.SSLHandshakeException: Remote host closed connection during handshake`
We don't have this issue with Istio 1.1.

[2019-10-29 13:48] geeknoid commented on #18155
@esnible "go mod why" will give you a dependency chain for a given module. The license tool we use grovels through the full transitive dependencies from go.mod. For each dependency, it extracts any LICENSE files within that module. Some modules have many LICENSE files, so they are all displayed by the tool.

The dependency on docker/docker was updated yesterday in master to a newer version which d

[2019-10-29 13:49] esnible commented on #17918
I added this to Istio's _List of Incompatible Applications_.

Using Istio, Envoy, the sidecar, communicates over `localhost` to the app.  I had some trouble with apps that only listen on their network socket address, not on `0.0.0.0` or `127.0.0.1`, and had to tweak that configuration to get them working with Envoy.

I created https://github.com/istio/istio.io/issues/5278 to try to get our documen

[2019-10-29 14:12] denniswebb commented on #17660
@cdmurph32 Can you help confirm that if you use a proxy image for the istio-ingressgateway deployment of `1.2.7` that the issue goes away also. We've had no issues since rolling back just that one component to an older release.

[2019-10-29 14:22] esnible commented on #18155
@geeknoid I have been looking at adding color to _istioctl_.  We indirectly require a color library, because the operator requires k8s.io/kubectl, and kubectl requires the color library.  Why does `go mod graph` tell me Istio requires a color library but not `go mod why [-m]`?

[code]

[2019-10-29 14:27] camille-rodriguez commented on #13781
I am blocked on this issue and the workaround does not seem to work for me.

[2019-10-29 14:31] Sovietaced commented on #15616
I seem to be running into the same issue with a custom ingress gateway. The custom ingress gateway used to work fine before I moved it to a different namespace.

[2019-10-29 14:34] lecourtoisn opened #18430 "Strict mTLS doesn't work when CNI is enabled"
**Bug description**
Tested on a Kind cluster and on a bare metal k8s cluster:
Following the task: https://istio.io/docs/tasks/security/authn-policy/
When it comes to check that the services only accept TLS :
[code]
When the Istio cni is enabled I get 200 success codes instead of the expected 503.
When it's disabled, everything is fine.

**Expected behavior**
I expect non-tls communications to be e

[2019-10-29 14:56] rshriram commented on #17753
Isn't mixer cluster added via bootstrap? pilot, als, metrics, tracing clusters are added via bootstrap. So they will always be there. If this is the case, then users (without multicluster) can trim the clusters at the Gateway by setting the SNI-DNAT to false by default.

With that, we are now down to reducing the normal clusters at the gateway - one short cut is to look at the host spec in the gat