[2020-05-01 01:50] stevenctl commented on #23447
[pkg/test/framework/integration.TestParallel](https://github.com/istio/istio/blob/master/pkg/test/framework/integration/framework_test.go#L25) seems to check this, but they add an additional subtest at the top level called "top", so I guess that's a workaround.

[2020-05-01 01:59] ryan4yin commented on #23371
@howardjohn can scale up proxys/istiod solve this problem? or do we have to reduce the number of services/virtualservices.

[2020-05-01 03:53] incfly commented on #22124
the manifest i used for the testing, including mtls strict and destination rule, the sleep/httpbin/my-nginx two deployments. The nginx is listening on port 443, with a service port name as `https-nginx`.

If you deploy these, you can successfully `curl <sleep-pod>/<my-nginx-pod>/my-nginx-2-pod/<httpbin-pod> -c -- url -k  https://my-nginx.default.svc.cluster.local | http://httpbin:8000/ip | https:/

[2020-05-01 04:00] incfly commented on #22124
One thing based on your description I think might cause misunderstanding or confusion, is that, Istio mTLS does not care about the https/http port declaration. That's for let Pilot construct the inbound listeners, and only depend on you application: whether they used to are using https/tls before using istio. You should make your service port name matches that fact, rather than changing it based o

[2020-05-01 04:02] incfly commented on #22124
I will do another attempt to setup a gateway(https ,443) & virtual service & https app service this workflow to see if there's any issue. (i will skip the ingress since I don't think that matters).

[2020-05-01 04:51] jetndra commented on #23410
I think u r correct

[root@k8s-master-0 ~]# kubectl get po -A -o wide | grep pilot
mvnr-paas          istio-pilot-845c7cd8b5-lr9tw                          1/2     Running            1          6d20h   172.16.3.16   k8s-worker-0   <none>           <none>
[root@k8s-master-0 ~]#
Events:
  Type     Reason     Age                       From                   Message
  ----     ------     ----

[2020-05-01 05:01] #14330 closed

[2020-05-01 05:03] #19242 closed

[2020-05-01 05:07] hillbun commented on #23411
is it possible to enable HTTP/1.0 supported?

my cloud provider load balance use HTTP 1.0 for healthcheck

[2020-05-01 05:16] #23434 closed

[2020-05-01 05:43] mandarjog commented on #23411
Set
Add the following to Pilot.env
PILOT_HTTP10: "1"

Or you can add it to
gateways:
  istio-ingressgateway:
    env:
      ISTIO_META_HTTP10: '"1"'

This will enable http 1.0

[2020-05-01 08:30] widdix123 commented on #23328
Any idea why do i need to restart istiod to get the Istio-proxy to be working ?

I need to put this to production and this seems to be a major blocker ?

[2020-05-01 08:31] Stono commented on #22968
[code]

The source pod:
[code]

Which is actually on 1.5.1!  Some how, it's been missed during our sidecar rollout...
[code]

Sorry for the false positive guys!

[2020-05-01 08:31] #22968 closed

[2020-05-01 10:20] bcochofel opened #23453 "Install from external charts"
Hi, I'm trying to install istio using the approach described [here](https://istio.io/docs/setup/install/istioctl/#install-from-external-charts) but I get this error:

[code]

This happens both on istio 1.5.0 and 1.5.2

I guess this is a "typo" on the documentation. To fix this the next command should be used instead:

[code]

Just removed the "/charts" part of the installPackagePath arg.

Thanks,

[2020-05-01 10:37] bcochofel commented on #23419
Hi @howardjohn , I thought those configurations are to be done on the Prometheus that comes with Istio, that way I can install Prometheus Operator and federate those metrics from the Prometheus on Istio, right?

Thanks,
Bruno

[2020-05-01 11:28] kyaparla commented on #23436
Its not crashing, pod is healthy,  but its not getting any RDS and request into the cluster gets 403 status with NR as response flag.

I think, even if envoy doesnt support (?!),  it shouldnt impact the whole gateway and all services running.  Btw,  this is working perfectly fine in Istio 1.2 version.

[2020-05-01 11:37] so-jelly commented on #22463
@foxracle restart k8s might a be a touch excessive.  you can resolve by restarting the istiod pod(s)

[2020-05-01 12:49] mitom opened #23455 "Regression: Kiali ingress no longer gets created"
**Bug description**
Kiali ingress no longer gets created when specifying the configuration as per the reference [docs](https://istio.io/docs/reference/config/installation-options/#kiali-options). The settings get validated, but the resource is no longer in the [chart template](https://github.com/istio/istio/tree/master/manifests/charts/istio-telemetry/kiali/templates) - I'm not familiar with the p

[2020-05-01 13:09] aaronmell commented on #23400
Just to add, we upgraded a cluster to 1.4.7, and we had a hard failure in one namespace, and one daemonset. Was getting a hard failure trying to access a url that has a valid serviceentry

[2020-05-01 13:26] howardjohn commented on #23434
this will be in 1.5.3 and 1.6.0. As a workaround you can change a virtual service every time you change the destination rule - not a great solution just giving options

[2020-05-01 13:54] darkstarmv opened #23457 "isito-validation initContainer is not working in istio-cni-node"
**Bug description**
- I have installed istio with Helm and everything works except of automatic sidecar injection
- I have tried Istio versions between 1.4.8, 1.5.0, 1.5.1 and 1.5.2, but same result
- with 1.4.8 version, pod get stuck in `Init:0/1` state
- with 1.5.X versions, pod get killed immediately
- going back to Istio 1.4.4 makes sidecar injection work and updating to 1.4.5 breaks it. so, t

[2020-05-01 14:10] knight42 commented on #23434
Great! Thanks for your information

[2020-05-01 14:22] aaronmell commented on #23399
I ran the command once and got the correct 503 error. So its not failing 100% of the time, more like 99%

[2020-05-01 14:38] esnible commented on #23443
I propose we target 1.7 for `--profile-from-cluster`.  I want to make sure it is tested instead of putting it in at the last minute.

For 1.6, once https://github.com/istio/istio/pull/23458 merges it will be possible to do `istioctl manifest apply -f <(kubectl -n istio-system get istiooperator installed-state -o yaml)` to get this behavior.  `--force` may be necessary during an upgrade because of

[2020-05-01 14:43] aaronmell commented on #23399
Here is the request log in istio-proxy

`{
        "bytes_sent": "2085",
        "upstream_cluster": "outbound|443||EKS_CLUSTER_HOST",
        "downstream_remote_address": "LOCAL_POD_IP:LOCAL_POD_PORT",
        "authority": "-",
        "path": "-",
        "protocol": "-",
        "upstream_service_time": "-",
        "upstream_local_address": "LOCAL_POD_IP:LOCAL_POD_PORT",
        "duration": "5

[2020-05-01 15:01] howardjohn commented on #23436
@kyaparla Envoy changed the regex engine: https://preliminary.istio.io/news/security/istio-security-2019-003/

[2020-05-01 15:06] darkstarmv commented on #23457
Ran some more tests 1.4.4 works and going to 1.4.5 breaks it

[2020-05-01 15:15] howardjohn commented on #23371
if these are defendant systems then I assume you can scope each namespace to only get information about other applications within that namespace? Because right now I think Envoy is getting so much information at once that it cannot handle. Using https://istio.io/docs/reference/config/networking/sidecar/#IstioEgressListener you can make it just get information about services within the same namespa

[2020-05-01 16:43] hillbun opened #23461 "my application pods status not ready correctly (istio-1.5.2)"
**Bug description**

my application pods status not ready correctly

kubectl get pods -n my-namespace -o wide

apigateway-6cfc595bf4-cz79f           1/2     Running

kubectl describe pods apigateway-6cfc595bf4-cz79f   -n my-namespace

Events:
  Type     Reason     Age                    From               Message
  ----     ------     ----                   ----               -------
  Normal   Sc

[2020-05-01 16:47] nak3 opened #23463 "The behavior of Kubernetes ExternalName service is different if ports are missing"
**Bug description**

[The docs(Kubernetes ExternalName service to access an external service)](https://istio.io/docs/tasks/traffic-management/egress/egress-kubernetes-services/#kubernetes-externalname-service-to-access-an-external-service), it works fine as expected.
But the behavior is completely different by the presence of port setting in the service.

[X] Networking

**Steps to reproduce the b

[2020-05-01 17:49] ostromart opened #23464 "Automate testing for istioctl/operator install"
E2E   = requires e2e automation with cluster

# istioctl

### Smoke test (E2E)

For chart-source in {compiled-in, --charts=<some path>/manifests, --charts=<release tar URL>}:

+   Install with default profile with --wait, run bookinfo
+   --set profile=demo for same install, run bookinfo
    +   ensure extra components are installed and functional
+   --set profile=default again
    +   ensure ext

[2020-05-01 18:24] gargnupur commented on #22068
@VinothChinnadurai : yes for the first question.
for second one take a look at https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route_components.proto#envoy-api-msg-route-ratelimit-action-headervaluematch, you can use this for ratelimiting based on the presence of a header value I think...

[2020-05-01 18:39] stevenctl commented on #23461
@hillbun Could you provide the logs from the proxy container via:
[code]

[2020-05-01 18:45] bianpengyuan commented on #22845
Looks like somehow after #21162, `sidecar.istio.io/proxyCPU: 1000m` annotation, which is used by load test, causes a side effect that makes sidecar concurrency drop to 1 and thus the regression. @howardjohn any idea about this?

[2020-05-01 18:50] howardjohn commented on #22845
Looking into this now

[2020-05-01 18:54] bianpengyuan commented on #22845
Looks like proxy request cpu dictates the concurrency now. Raising it to 3000m will increase concurrency to 3.

[2020-05-01 19:26] mandarjog commented on #22845
nice find @bianpengyuan !

[2020-05-01 19:39] carolynhu commented on #22845
Yes, confirmed the regression by 2nd run. The 2nd perf run for https://github.com/istio/istio/pull/20891 shows no regression, which is a previous commit of https://github.com/istio/istio/pull/21162. But the 2nd perf run for https://github.com/istio/istio/pull/21162 do have a large jump on latency. I have sent those rawdata, config_dump and cluster info with @bianpengyuan and @howardjohn.

[2020-05-01 19:51] bianpengyuan commented on #22845
@carolynhu Please add pod spec to the perf pipeline dump as well. (kubectl get pod -o yaml)

[2020-05-01 19:52] howardjohn commented on #22845
omg... we have some hidden magic in the sidecar injector: https://github.com/istio/istio/blob/45a3140ac532029747aa8433f67744744bf1c782/pkg/kube/inject/concurrency.go#L76-L93. Its actually parsing the injection template, looking for `--concurrency`, and if its not present using the CPU requests!. In 21162 we removed the flag because there is no need for it: we read from proxy config directly in the

[2020-05-01 19:52] carolynhu commented on #22845
@bianpengyuan yes, that would be helpful. Will do!

[2020-05-01 20:21] myidpt commented on #23001
Bump it to P1

[2020-05-01 20:31] #23404 closed

[2020-05-01 20:54] howardjohn opened #23470 "Concurrency setting on proxy"
Current state:

Envoy has a flag, --concurrency. This controls the number of worker threads. If concurrency is set to 0, it will use all available CPU cores. This is problematic on Kubernetes as the container may have cpu limit set.

Istio has a proxyconfig.concurrency setting. This **mostly** maps 1:1 with envoys settings, but in the sidecar injector if concurrency==0 then we will automagically s

[2020-05-01 20:55] mandarjog opened #23471 "Long running tests with infrastructure chaos"
Objective
We had many reported issues that were based on chaos caused by pre-emptible nodes and node autoscaling. For example cni bypass issue came to fore due to pre-emptible nodes.

Long running tests should capture that.

Long running tests should create multiple node pools.

*  One nodepool should be based pre-emptible
*  One nodepool should be autoscaled.

Additionally investigate if a smalle

[2020-05-01 21:01] aaronmell commented on #23400
I figured out that my issue here was related to
https://github.com/istio/istio/issues/20477

I added the value global.protocolDetectionTimeout = 0s and the intermittent issue went away. However, this seems to have no impact on https://github.com/istio/istio/issues/23399

[2020-05-01 21:02] #23400 closed

[2020-05-01 21:03] ZackButcher commented on #4341
The full solution to this in Kubernetes is for k8s to support Sidecar containers as a first class concept, starting them up entirely before starting up the application container. We'd been hopeful this would land in the latest k8s release but [it's since been put on indefinite hold by the k8s community](https://github.com/kubernetes/enhancements/issues/753#issuecomment-597372056) and will not ship

[2020-05-01 21:11] howardjohn commented on #22845
followup: https://github.com/istio/istio/issues/23470

[2020-05-01 21:12] howardjohn commented on #23470
Warning!! --concurrency=0 means 1 worker thread in envoy, unset means "use all CPUs". In agent we have:

[code]

so for us 0=all cpus

[2020-05-01 21:20] jacob-delgado commented on #22078
PR to build new build tools image https://github.com/istio/tools/pull/932

[2020-05-01 21:21] jacob-delgado commented on #22078
PR to update common-files to use build image https://github.com/istio/common-files/pull/241/files

[2020-05-01 21:29] howardjohn commented on #23470
So we don't waste effort in implementation if I forget, I have a pr to make gateway behave the same as sidecar in my branch `perf/concurrency-setting` if we decide to do that

[2020-05-02 00:07] howardjohn opened #23473 "Run ipv6 tests in prow"
* Update to kind v0.8.0
* https://github.com/istio/test-infra/issues/2627
* Rebuild bookinfo to add ipv6 support
* Ensure echo has ipv6 support

[2020-05-02 00:10] howardjohn commented on #23473
https://github.com/istio/tools/pull/934

[2020-05-02 00:21] howardjohn opened #23475 "update-ref-docs-dry-run_istio doesn't test anything until its already broken"
https://github.com/istio/istio/pull/23437 broke the reference docs, but the test passes. I think its because the test pulls istio/istio from master

[2020-05-02 00:43] clarketm commented on #23475
I am waiting for confirmation from @ericvn in https://github.com/istio/test-infra/pull/2607, but I think the plan is to remove this test from `istio/istio`.

[2020-05-02 01:29] Invictus17 opened #23476 "redis connection failing from nodejs app container to redis cache container in istio"
Error:
[code]
redis service:
[code]

[2020-05-02 01:44] Invictus17 commented on #23476
logs for the istio proxy injected with the redis container:
[code]

[2020-05-02 02:05] sdake opened #23479 "Operator multiple control plane upgrade support"
**Describe the feature request**

The operator in 1.6 lacks support for multiple control planes. Add such support.

**Describe alternatives you've considered**

istioctl already has initial support. The (standalone) operator lacks this same support, although the CLI mode could be used in its place.

**Additional context**

[2020-05-02 02:39] hillbun commented on #23461
@stevenctl

kubectl logs apigateway-6cfc595bf4-px2g4 istio-proxy -n my-namespace

2020-05-02T01:36:03.080279Z     info    FLAG: --binaryPath="/usr/local/bin/envoy"
2020-05-02T01:36:03.080333Z     info    FLAG: --concurrency="2"
2020-05-02T01:36:03.080348Z     info    FLAG: --configPath="/etc/istio/proxy"
2020-05-02T01:36:03.080353Z     info    FLAG: --connectTimeout="10s"
2020-05-02T01:36:03.08036

[2020-05-02 03:05] #23280 closed

[2020-05-02 06:11] chadlwilson commented on #17635
I had an occasion to look at this again with Istio `1.4.8` in the last couple of days when looking at why some traffic was being dropped by an external service's Firewall/WAF. I was theorising max header sizes were an issue and noted that even with a `MESH_EXTERNAL` `ServiceEntry` doing direct TLS origination from sidecar (no `egressgateway`) it was still including
[code]

That is flow like

[code

[2020-05-02 06:25] Invictus17 commented on #23476
Resolved issue:
One thing to note about envoys is that whenever you add a sidecar to the pod your service container is started first but it won't be able to make connections to other services until the envoy container proxy is up. During that time the service code must handle any exceptions related to refused connections.

[2020-05-02 06:25] #23476 closed

[2020-05-02 07:00] hillbun opened #23481 "x_forwarded_for field of access log multipul IPs"
**Bug description**

I config istio-ingressgateway with nodeport and externalTrafficPolicy: Local to enable log client IP addresss.

But x_forwarded_for field of access log I get value like "47.105.214.136,100.116.235.233" with multipul IPs.

How to config to just log only client real IP of "47.105.214.136"?

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `

[2020-05-02 12:50] ethaden opened #23482 "Probe rewriting fails to handle additional httpHeaders"
**Bug description**
While deploying the bitnami/mediawiki helm chart on a single-node Kubernetes cluster with Istio 1.5.2 and mtls enabled the automatically rewritten health and readiness probes fail to function correctly. They always get a 404. The reason seems to be that the mediawiki chart uses SNI with an Apache virtualhost internally. By default, the standard htdocs apache folder is used. The

[2020-05-02 12:54] chris922 commented on #4341
Thanks for the detailed information @ZackButcher!

What do you think is the best place to put the "sleep"?

[2020-05-02 15:46] ston1th opened #23483 "Kiali Dashboard login does not work"
**Bug description**

The profiles are missing a value for `strategy`.
[code]

Using `login` as value for `strategy` the demo login (admin/admin) works.

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**
[code]

**How was Istio installed?**
[code]

**Environment where bug was observed (cloud vendor, OS, etc)**
* Fresh kubeadm c

[2020-05-02 15:52] ston1th opened #23484 "Kiali Dashboard error policies.authentication.istio.io"
**Bug description**

The Kiali Dashboard reports the following error after the first login:

[code]

Kiali pod logs:
[code]

It seems the `policies.authentication.istio.io` CRD is not being created by the demo profile installer.

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**
[code]

**How was Istio installed?**
[code]

**E

[2020-05-02 16:36] VinothChinnadurai commented on #22068
Thanks a lot @gargnupur . I will try the same and come back

[2020-05-03 05:01] #17646 closed

[2020-05-03 05:02] #17647 closed

[2020-05-03 05:44] #17663 closed

[2020-05-03 05:45] aditya-prasad commented on #22855
[code]

Looks like the older secret(`istio.istio-sidecar-injector-service-account`) generated by `citadel` is still in the spec

[2020-05-03 06:52] #17667 closed

[2020-05-03 07:07] nak3 opened #23485 "sideEffects is not configurable and is used default (Unknown) in MutatingWebhookConfiguration for istio-sidecar-injector"
**Bug description**

When deploying MutatingWebhookConfiguration istio-sidecar-injector by istio-operator, its [sideEffects](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#side-effects) is `Unknown` (=v1beta1's default).

[code]

Due to this, when we deploy another webhook for dryRun, it does not work.

[X] Installation

**Expected behavior**

The sideEff

[2020-05-03 07:21] hillbun commented on #23461
@stevenctl all applications can not run totally.

please advice, thanks.

[2020-05-03 07:46] fffffreedom opened #23486 "istio 1.5.2: fail to run bookinfo sample on minikube"
**Bug description**
the status of pod is in Init:0/1:
$ kubectl get  pod
NAME                              READY   STATUS     RESTARTS   AGE
details-v1-78d78fbddf-gzs2q       2/2     Running    0          16m
productpage-v1-85b9bf9cd7-lksl4   2/2     Running    0          16m
ratings-v1-6c9dbf6b45-bzd9r       2/2     Running    0          16m
reviews-v1-564b97f875-h9zjz       0/2     Init:0/1   0

[2020-05-03 08:44] packyzbq opened #23487 "Envoy proxy is NOT ready: config not received from Pilot when deploying shared control plane"
**Bug description**
Hi, I'm installing istio between two k8s cluster according to [shared control plane](https://istio.io/docs/setup/install/multicluster/shared/).  Now the istio-ingressgateway on Remote Cluster print error logs:
[code]
I find the argument `--discoveryAddress` is `istiod-remote.istio-system` and there is a svc named `istiod-remote` in `istio-system`.

Is there anything I need to d

[2020-05-03 10:35] dominicqi commented on #23463
It looks like this?  https://github.com/istio/istio/pull/21987

[2020-05-03 11:02] dominicqi commented on #23461
Could you check the env `ISTIO_KUBE_APP_PROBERS` of istio-proxy container.

The log said
2020-05-02T01:37:38.038462Z error Request to probe app failed: Get http://localhost:8080/rest/unauth/devops/healthCheck: net/http: request canceled (Client.Timeout exceeded while awaiting headers), original URL path = /app-health/apigateway/livez

looks like you config the the app_probers env. But the endpoint

[2020-05-03 11:08] hillbun commented on #23461
but same application, same healthCheck  URL,   istio-1.4.7 is  fine.

[2020-05-03 11:29] dominicqi commented on #23461
The endpoint `http://localhost:8080/rest/unauth/devops/healthCheck`  is health or not?

[2020-05-03 11:39] fffffreedom commented on #23486
the pod doesn't report lack of resource,  but this problem is solved by adding more resource:
adding memory to 8192, and cpus to 4

[2020-05-03 11:56] hillbun commented on #23461
it should be healthy.
with istio-1.4.7 it works  fine.

[2020-05-03 12:10] longkai commented on #20640
The official wiki seems wrong, the `portNumber` should be same level as `listener`.

@nmnellis has given the right example.

[2020-05-03 17:45] Laakso opened #23488 "1.5.2: istio-proxy with policy & telemetry pods crashing."
**Bug description**
Pods keeps restarting.

**Expected behavior**
Not to crash.
**Steps to reproduce the bug**
Install istio 1.5.2
**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**
istioctl:
client version: 1.5.2
control plane version: 1.5.2
data plane version: 1.5.2 (2 proxies)
**How was Istio installed?**
istioctl

**Environ

[2020-05-03 19:04] patyogesh commented on #21877
@ostromart I don't see `operator/pkg/manifest` anymore.
If it's refactored, can you point me to a new path?
If not, let's close this issue.

[2020-05-03 19:19] stevenctl commented on #23461
@hillbun

So it looks like the sidecar times out calling the healthCheck of your service. I see outbound calls to `llnb-dhub-kafka-zookeeper.weyatech-dev.svc.cluster.local` which could be what this application is waiting for. When you say "all applications", you mean all deployments are failing to ready up? Is it only the application containers or are the istio-proxy containers failing to ready as

[2020-05-03 19:43] ericvn commented on #23475
I responded that I personally would like to make the check required in istio/istio to prevent the failing PRs from ever getting in that caused this.

[2020-05-03 19:45] ericvn commented on #23475
Of course making it required right now would halt the pipeline. I do have the PR in istio/istio.i, https://github.com/istio/istio.io/pull/7212 to fix the problem, but waiting on a docs to approve.

[2020-05-03 20:15] bernardoVale opened #23489 "Can't communicate to external TLS services after upgrade to 1.5.x"
**Bug description**

Istio stopped all external TLS communications after upgrade from 1.4 to 1.5, it seems to be related to the new default `values.global.mtls.auto=true`.

**Expected behavior**

I simple curl to any external URL to return a 200 response

[code]

**Steps to reproduce the bug**

Upgrade cluster from 1.4.6 to 1.5.0 then to 1.5.2 with the following control plane config:

[code]

Acce

[2020-05-03 20:22] stevenctl commented on #23487
The remotePilotAddress of `10.7.12.185` must be reachable by pods in the remote cluster. Are proper firewall policies in place? Usually the ExternalIP of a LoadBalancer isn't a `10.` address (see [RC1918](https://tools.ietf.org/html/rfc1918)). How did you determine that value for the remotePilotAddress?

Also, if you want you direct pod-to-pod communication without going through a gateway, both cl

[2020-05-03 21:12] hillbun opened #23490 "istio-tracing status 0/1"
**Bug description**

istio-1.4.7

some time after installation, istio-tracing status becomes 0/1

istio-system   istio-tracing-78548677bc-zwwpn             0/1     Running

kubectl describe pods istio-tracing-78548677bc-zwwpn   -n istio-system
Name:           istio-tracing-78548677bc-zwwpn
Namespace:      istio-system
Priority:       0
Node:           node4/192.168.100.214
Start Time:     Sun, 03

[2020-05-03 21:15] hillbun commented on #23490
CPU resource of node that  istio-tracing is running become instable。

[2020-05-03 21:25] hillbun commented on #23461
@stevenctl

llnb-dhub-kafka-zookeeper is a statefulset that that istio is not inject enabled in another name-space, and my application is not connected to it at all.

Yes, I mean almost all deployments are failing to ready up with all namespaces：
1. statefulsets with istio enabled are ok
2. deployments with  istio inject enabled but static resource with nginx are ok
3. all deployments  with  istio

[2020-05-03 21:27] hillbun commented on #23490
I delete  istio-tracing-78548677bc-zwwpn and recreate again, and all problems become solved.

but after some times of running, it reproduce again

[2020-05-03 23:02] stevenctl commented on #23461
If you deploy a simple sample application such as https://github.com/istio/istio/tree/master/samples/helloworld does it ready up ok?

[2020-05-04 02:54] packyzbq commented on #23487
Thanks for reply. Actually I have two clusters, the main cluster is 10.7.12.x and the remote cluster is 10.48.51.x. They are not the same network, but they can connect with each other。 The istiod on main cluster is exposed by NodePort service.

[2020-05-04 04:07] stevenctl commented on #23487
To expose the main cluster's istiod to the remote cluster, you will either need to go through the istio-ingressgateway service, or add an [internal load balancer](https://kubernetes.io/docs/concepts/services-networking/service/#internal-load-balancer) to the istiod service. Then, to get the IP to configure remote cluster, run `kubectl --context=${MAIN_CLUSTER_CTX} -n istio-system get svc $SERVICE

[2020-05-04 06:06] lizongshen commented on #17551
I have the same problem. Do you have a solution?

[2020-05-04 06:15] lizongshen commented on #22319
I'm facing the same problem, is there any update or work around to solve it?

[2020-05-04 06:16] lizongshen commented on #22319
I turned off the firewall and still encountered the same error

[2020-05-04 07:14] softcane commented on #21841
[code]
@yangminzhu
I think this is more appropriate, especially if multiple ports are exposed.

[2020-05-04 08:58] objectiser commented on #23490
@hillbun Can you try using a more recent version of Jaeger (e.g. 1.17)? `--set values.tracing.jaeger.tag=1.17`

[2020-05-04 10:06] santinoncs commented on #22068
Hi,

Trying to use the rate limit envoy filter with istio 1.5.2 in order to limit http requests from an specific IP. Better if the http header is x-custom-user-ip

I am trying your configs and still no success.

When enabling the debug in the ingressgateways, I cannot see the requests to the rate limit service via grpc.

Also, is it necessary to have istio enabled in the global service rate limit?

[2020-05-04 10:24] emrahcetiner commented on #23416
@howardjohn You are right, a feature lost due to performance

https://github.com/google/re2/issues/156#issuecomment-328418340

[2020-05-04 10:24] #23416 closed

[2020-05-04 10:44] jsalgado78 opened #23493 "Istio CNI plugin install with SELinux enabled not documented"
**Describe the feature request**
Istio CNI plugin install and repair when SELinux is enabled and docker daemon is running with --selinux-enabled flag aren't documented.
install-cni container fails when it runs with SELinux enabled but SELinux requirements aren't documented to get Istio CNI plugin running without issues.

**Describe alternatives you've considered**
Add to Istio CNI plugin install d

[2020-05-04 11:03] jorenknieper commented on #23200
I tried 1.4 and it worked in 1.4 but it's not working in 1.5. Any updates?

[2020-05-04 11:15] markusthoemmes opened #23494 "Make Pod IPs addressable directly even in the mesh"
**Describe the feature request**

Istio's is a **Service** mesh, thus it loadbalances and routes mainly services. However, it has a couple of nice secondary features (like mTLS) that make it worthwhile using as well.

In Knative, we employ our own loadbalancing mechanisms to allow us to scale to and from zero efficiently and even more importantly: To implement the concurrency limits in our workloa

[2020-05-04 11:37] flerpo commented on #18221
Hi, automountServiceAccountToken did the trick! Thanks

[2020-05-04 12:34] hillbun commented on #23461
@stevenctl

1. a simple sample application such as https://github.com/istio/istio/tree/master/samples/helloworld is ready up ok
2. if my applications liveness prober disabled is  ready up ok.
3. my applications liveness prober URL connect to some StatefulSet such as mysql , redis. and I config them as istio inject disabled.
    metadata:
      annotations:
        sidecar.istio.io/inject: "false"

[2020-05-04 12:45] #23376 closed

[2020-05-04 13:27] sha-rath commented on #19940
Yes, definitely the rule to capture all istio inbound traffic and redirect it to the envoy chain (`ip6tables -t nat -A ISTIO_INBOUND -p tcp --dport "${port}" -j ISTIO_IN_REDIRECT`) is missing in the IPv6 logic.

@emike922 it affects envoy access logs and I can confirm that adding this missing rule makes the logs visible on istio-proxy (sidecar) container. @sbezverk any idea when this fix would be

[2020-05-04 13:28] linsun commented on #23138
Close this as this has been working okay for me

[2020-05-04 13:28] #23138 closed

[2020-05-04 13:37] linsun opened #23495 "remote plane with multi-networks is broken (wrong endpoints)"
Update the description:  This turned out to be a generic shared control plane issue that remote cluster endpoint is incorrect when multi-networks are configured.  We initially found this out as part of #22934 but later on others have hit it as well.   The impact: pods on remote cluster won't be able to reach service in remote cluster properly.  Pods on remote cluster won't be able to reach pod in

[2020-05-04 14:02] esnible commented on #23183
Closing in favor of https://github.com/istio/istio/issues/23443 where the discussion is happening.

[2020-05-04 14:02] #23183 closed

[2020-05-04 14:26] Stono opened #23496 "Telemtry v2 does not report metrics for mirror traffic at source, but does destination"
**Bug description**
Hey,
At the moment if you enable traffic mirroring, you do not get any `reporter=source` metrics for the mirror traffic, but you will get `reporter=destination` metrics at the other end.

This leads to confusion when looking at metrics because the destination is reporting very different numbers.

**Expected behavior**
My gut is that this should be consistently reported on both

[2020-05-04 14:33] tony-liuliu opened #23497 "istio 1.5.2 How to add other metrics to Istio Standard Metrics"
I want to view the information sent by all containers to BlackHoleCluster, including the target IP and port.

Reference document address https://istio.io/blog/2019/monitoring-external-service-traffic/#using-the-augmented-metrics
in case of a TCP proxy listener in order to see the IP address of the external service that is blocked or allowed via BlackHole or Passthrough cluster, you will need to ad

[2020-05-04 15:05] jdomag commented on #10062
I\m using Istio 1.5.2 and havving same issue - none of solutions described under below docs helped https://istio.io/faq/security/#mysql-with-mtls

Any idea how to solve it or troubleshoot further?

![image](https://user-images.githubusercontent.com/28705876/80980806-622ad900-8e29-11ea-9d9a-b1703ecb654d.png)

[2020-05-04 15:18] haf commented on #18221
[code]

[2020-05-04 15:29] esnible opened #23499 "Log messages from "istioctl x authz convert""
Using 1.6.0-beta.0, fresh install

[code]

This is confusing.  Is there an error?  What should the user review?

[2020-05-04 15:42] linsun commented on #23495
chatted with @GregHanson a bit more on this.  Ideally if we could, would be nice to fix this for the shared control plane model, not just central istiod or central istiod without any workloads on the istiod cluster.  (if not, certainly we want this to be fixed for at least the central istiod without any workloads on the istiod cluster scenario.)

@GregHanson will help us investigate more on this.

[2020-05-04 16:08] bianpengyuan commented on #23497
That is the correct document for 1.5.2. Could you please paste your envoyfilter configuration here?

[2020-05-04 16:25] howardjohn commented on #23499
The intent, I think, was that the conversion may not be perfect, and you shouldn't do something like `authz convert | kubectl apply` but should review the output

[2020-05-04 16:29] howardjohn commented on #23494
The challenge here is that most of our configuration is Service based, but pods are not 1:1 with Service. So we don't know if you send a `curl 1.2.3.4` which logic we should apply.

Can you use the PASSTHROUGH lb option? https://istio.io/docs/reference/config/networking/destination-rule/#LoadBalancerSettings-SimpleLB. It seems like that should get you at least a bit closer to what you are looking

[2020-05-04 16:31] howardjohn commented on #23489
This seems like it might be related to https://github.com/istio/istio/issues/16458, although I don't think auto mtls would impact that? tl;dr is an http port on port 443 will break this. Its fixed in 1.6 but not 1.5. Can you try checking if you have the http port on 443? If not this may be a different issue

[2020-05-04 16:33] esnible opened #23501 "Remove "istioctl proxy-status --sds""
`istioctl ps <pod> --sds` no longer works.  It always outputs `failed to retrieve node agent secrets: could not find Node Agent for supplied pod <pod>`.

This is because there is no longer a node agent
https://istio.io/news/releases/1.5.x/announcing-1.5/upgrade-notes/#sds-node-agent

It is unclear if we should remove the `--sds` and `--sds-json` options from `proxy-status`, or replace the logic wi

[2020-05-04 16:34] howardjohn commented on #23488
In 1.5, controlPlaneSecurityEnabled with Mixer requires citadel to be deployed as well

[2020-05-04 16:36] howardjohn commented on #23486
These resource issues with minikube are documented at https://istio.io/docs/setup/platform-setup/minikube/, so I don't think there are any changes we need here?

[2020-05-04 16:39] howardjohn commented on #23484
The Policy CRD was intentionally removed in 1.6. Seems like we just need Kiali to handle this a bit more gracefully?

[2020-05-04 16:40] esnible commented on #23499
I am closing this because I filed it in error.  I had accidently tested 1.6.0.alpha.0, not beta.0.  The command is gone in beta.0.

[2020-05-04 16:40] #23499 closed

[2020-05-04 16:42] jmazzitelli commented on #23484
@lucasponce Please see the above error. Looks like Istio removed a CRD that is currently expected to exist in today's Kiali.

[2020-05-04 16:44] howardjohn commented on #23483
I think this is fixed:

[code]

by #23325 which was after beta0.

Thanks for reporting!

[2020-05-04 16:44] #23483 closed

[2020-05-04 17:13] esnible commented on #21473
@ostromart I was unable to figure out how to do what you suggested in https://github.com/istio/istio/pull/22166#issuecomment-613001230 .  Can you assign someone to do that work, either as progress on this issue or to improve the docs?  I would like Istio 1.7 to be able to analyze IOPs.

[2020-05-04 17:18] incfly commented on #23368
/assign @JimmyCYJ

temporarily assign P1, but maybe could be higher than that, depending on how often this can be reproduced.

BTW, @CodyKurtz this is labeled Virtual Machine, but it's not related to mesh expansion right?

[2020-05-04 17:42] howardjohn commented on #23481
The format is configurable. The default can be found here: https://github.com/istio/istio/blob/e5095d6479a015afba73d932d19e387e23343c47/pilot/pkg/networking/core/v1alpha3/listener.go#L118-L124 and all of the format options at https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/access_log/usage

[2020-05-04 17:43] markusthoemmes commented on #23494
@howardjohn what about the provided examples though? Don't they both adress the pod/service disconnect?

[2020-05-04 17:49] howardjohn commented on #23494
I think it handles both of those, but I may be missing some details

I think this is more or less the same as the PASSTHROUGH lb except looking in the original request looking at the header? This might already work with PASSTHROUGH set, not 100% sure if it needs another setting.

This sounds the same as PASSTHROUGH to me - perhaps I am missing some more details on the expected behavior here?

[2020-05-04 17:54] markusthoemmes commented on #23494
I guess the issue I see with PASSTHROUGH is that I kinda need to "original" loadbalancing to work as well.
Directly addressing the IP will only be done in certain cases (i.e. from the autoscaler or if we use "our" loadbalancing) and should not be enacted if requests are hitting the service specifically. It'd need to work per-client.

[2020-05-04 17:59] sofam commented on #23303
I am also hit by this:

[code]

even though the operator YAML looks like this:
[code]

[2020-05-04 18:01] yangminzhu commented on #22341
A quick update: I have added the needed fields in Envoy: https://github.com/envoyproxy/envoy/pull/10460 and the next step is to add support in the AuthorizationPolicy. It's likely we need to add new fields or conditions to support this, we cannot change the existing source_ip field due to the backward compatibility issue.

[2020-05-04 18:02] howardjohn commented on #23494
@markusthoemmes got it, that makes sense. I think you should be able to do this with some combination of subsets or similar. Have some VS that matches "x-knative-passthrough: true" header or whatever that forwards to a subset with PASSTHROUGH, and then non-match just to the default subset

[2020-05-04 18:06] romil-punetha commented on #22968
I'm still facing this issue on istio 1.5.2, using opentelemetry library 0.7.0, and nodejs 8.9.4

<img width="1680" alt="Screenshot 2020-05-04 at 11 35 11 PM" src="https://user-images.githubusercontent.com/47735999/80998048-e8faa880-8e5f-11ea-93ae-f84b1db5eddf.png">

[2020-05-04 18:09] bianpengyuan commented on #22968
@romil-punetha Please check and make sure all of your proxies are updated to 1.5.2.

[2020-05-04 18:14] romil-punetha commented on #22968
I checked. Both the services and the gateway from the above image are using envoy:1.5.2

<img width="1369" alt="Screenshot 2020-05-04 at 11 42 56 PM" src="https://user-images.githubusercontent.com/47735999/80998697-fcf2da00-8e60-11ea-9ad7-de53d6ebc468.png">

[2020-05-04 18:15] JimmyCYJ commented on #23368
The root cert is not provisioned by SDS, this one is issued by Kubernetes CA, which is used by proxy to connect Istiod, and also used by sds agent to connect Istiod.
There is also another failure. "failed to read pod labels: open ./etc/istio/pod/labels: no such file or directory"

It is probably the kind environment does not set up these files properly. @lei-tang could you take a look?

[2020-05-04 18:38] bianpengyuan commented on #22968
I've tried to reproduce this with 1.5.2 but did not see this anymore. Could you use @Stono's TCP dump command https://github.com/istio/istio/issues/22968#issuecomment-614537948 and see if you can capture any 400s? Then it would be nice to check that the proxy sending the trace is also 1.5.2.

[2020-05-04 18:39] ZackButcher commented on #4341
I wrote our sleep to be literally the first thing that the application does at startup. It's effectively the first line of code that executes in a shared main method that all of our services use - that lets us make sure there's standard flags for configuring the startup delay, etc. Making it absolutely the first thing that happens prevents developers from accidentally attempting to do stuff that c

[2020-05-04 18:42] #22845 closed

[2020-05-04 18:53] hillbun commented on #23481
@howardjohn

How to set use_remote_address = true by command of istioctl ?

[2020-05-04 19:06] Monkeyanator commented on #23501
The purpose of the `--sds` and `--sds-json` flags was to diff secrets between the `nodeagent` and the Pod's sidecar, and since there's no longer a `nodeagent`, I can't see a reason to keep them. The commands were also very tightly coupled with [this debug endpoint](https://github.com/istio/istio/pull/15418) which I believe is now gone.

That being said, I've been back in school since before the `i

[2020-05-04 19:25] howardjohn commented on #23481
`--set values.pilot.env.PILOT_SIDECAR_USE_REMOTE_ADDRESS=true`? is that
what you are are looking for?

On Mon, May 4, 2020 at 11:53 AM hillbun <notifications@github.com> wrote:

[2020-05-04 19:29] linsun commented on #23392
Do you still have the need to set ingress labels if you put the 2 gateways in different namespaces?  I noticed we have this in https://github.com/istio/istio/blob/master/manifests/charts/README-helm3.md:

[code]

[2020-05-04 19:58] mandarjog commented on #23496
@douglas-reid related to https://github.com/istio/istio/issues/11475

[2020-05-04 20:23] sp-manuel-jurado opened #23509 "It seems envoy filter grpc_http1_reverse_bridge does not apply."
**It seems envoy filter grpc_http1_reverse_bridge does not apply.**

It seems envoy filter grpc_http1_reverse_bridge does not apply.
This is a filter that enables converting an incoming gRPC request into a HTTP/1.1 request to allow a server that does not understand HTTP/2 or gRPC semantics to handle the request.

Error received:
[code]

**Expected behavior**
[code]

**Steps to reproduce the bug**

[2020-05-04 20:33] therealmitchconnors opened #23510 "istioctl verify-install reports minor errors first"
When running `istioctl verify-install` against a cluster with no istio installation in it (installation had not yet begun), the error reported is `Error: Istio installation failed, incomplete or does not match "lowes-install.yaml" - the required ConfigMap:istio-grafana-configuration-dashboards-citadel-dashboard is not ready due to: configmaps "istio-grafana-configuration-dashboards-citadel-dashboa

[2020-05-04 20:46] mandarjog commented on #23489
@incfly PTAL if it turns out *not to be* a port collision on 443.

[2020-05-04 21:03] howardjohn opened #23511 "Remove operator/data folder"
This adds a lot of complexity for no value. We do not need to know anything about Istio 1.3 in some yaml files for istioctl 1.7; instead, we can just put any logic we need for installing 1.7 in code and simplify the whole vfsgen mess. This also makes the tests easier as well as release, as we will remove create_release_charts stuff.

Additionally, there are issues where we no longer generate the a

[2020-05-04 22:39] howardjohn opened #23515 "`istioctl profile` commands do not support --charts"

[2020-05-04 22:39] howardjohn commented on #23515
https://github.com/istio/istio/pull/23348/files partially implemented this

[2020-05-05 00:10] ostromart opened #23521 "Status not showing when operator controller is reconciling"
When Istio is healthy, the status is displayed:
[code]
when controller is reconciling (e.g. change profile to default), the status disappears until reconcile is complete.

[2020-05-05 00:31] stevenctl commented on #23461
Perhaps auto mTLS is causing TLS traffic to be sent incorrectly. Try adding `--set values.global.mtls.auto=false` to your install flags.

[2020-05-05 00:45] suchita-jain commented on #23161
@crhuber, Was the error recurring in your case? We faced it only once and haven't been able to reproduce it. Were you able to reproduce the issue? If yes, what are the steps? Was the Pilot or any other system component under-resourced at that time?

[2020-05-05 01:02] tony-liuliu commented on #23497
Thanks to @bianpengyuan  reply, the following is my reference to the official configuration, I do not know whether it is correct.

[root@k8s-node-46 ~]# cat tcp-stats-filter-1.5.yaml
apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: tcp-stats-filter-1.5
  namespace: istio-system
spec:
  configPatches:
  - applyTo: NETWORK_FILTER
    match:
      context: SIDECAR_INBOUND

[2020-05-05 01:15] sdake commented on #22245
@costinm The PR associated with this review was in plan for 1.6. @irisdingbj is on national holiday until May 10th. Is this work mandatory for 1.6? I can rebase the associated PR if need be as I am coverage for @irisdingbj while she is on holiday. I would like some understanding from the top level CODEOWNERS this work is needed in 1.6.

Cheers
-steve

[2020-05-05 01:28] brian-avery commented on #22968
@bianpengyuan This is currently marked as a release blocker on the spreadsheet. If it's no longer a release blocker please either change the priority or mark it as closed.

[2020-05-05 01:34] douglas-reid commented on #22968
@brian-avery I believe this is a release blocker, and it is currently marked closed. However, I think we are trying to determine if it should in fact be considered closed, or if more work is needed.

[2020-05-05 01:36] douglas-reid commented on #23496
yeah, we should start a doc on mirroring and what we would expect that to look like. do we need some way to indicate the traffic was mirrored ?

[2020-05-05 01:38] douglas-reid commented on #23488
i believe we can close this, given @howardjohn 's answer. Feel free to reopen if you disagree or need more detail.

[2020-05-05 01:38] #23488 closed

[2020-05-05 01:43] douglas-reid commented on #23496
see also: #11093

[2020-05-05 01:45] douglas-reid commented on #17386
I think we have most of the underlying support here, modulo support for using node metadata.

[2020-05-05 01:47] douglas-reid commented on #20513
With Mixer being deprecated and quota functionality being moved over to Envoy features, I think we should close this issue. The message was never truly an error message (it was misleading), and the resolution would involve significant changes to Mixer.

[2020-05-05 01:47] #20513 closed

[2020-05-05 01:49] douglas-reid commented on #21541
@howardjohn this is now done, correct?

[2020-05-05 01:51] howardjohn commented on #21541
yep, it's even documented

[2020-05-05 01:51] #21541 closed

[2020-05-05 01:51] douglas-reid commented on #20982
@mandarjog has been working on adding this feature to the v2 extensions. it should be available in 1.6 releases. that work is being tracked elsewhere. i'm gonna close this for now.

[2020-05-05 01:51] #20982 closed

[2020-05-05 01:58] lei-tang commented on #23368
@CodyKurtz Can you provide detailed steps for reproducing the problem?

[2020-05-05 03:44] hillbun commented on #23481
--set values.pilot.env.PILOT_SIDECAR_USE_REMOTE_ADDRESS=true

if I add this flag, x_forwarded_for field of access log will just record client IP address "47.105.214.136",
not "47.105.214.136,100.116.235.233"?

@howardjohn

[2020-05-05 04:08] bianpengyuan commented on #22968
I was not able to reproduce this with either 1.6.0-beta.0 or 1.5.2. I tend to treat this as fixed and not blocking, unless there are evidences show otherwise.

[2020-05-05 05:01] #13663 closed

[2020-05-05 05:01] #15837 closed

[2020-05-05 05:01] #16275 closed

[2020-05-05 05:01] #17081 closed

[2020-05-05 05:05] #20329 closed

[2020-05-05 05:33] sdake commented on #22918
@myidpt I am covering for @irisdingbj while she is on holiday. Please add me to the document `steven.dake@gmail.com`. I need this information for the WG leads meeting tomorrow to address: https://github.com/istio/istio/pull/22384

It is clear to me that this PR is needed. As we punted complete automation of multicluster to 1.7 or later, it is unclear if @irisdingbj 's PR needs a rebase, review, an

[2020-05-05 05:42] gnz00 commented on #18832
I’m also in the reverse engineering phase. I’ve got the examples running and the Envoy bootstrap seems straightforward, however, I’m not sure how to deploy the Istio-agent for node and workload attestation for mTLS.

Worth noting that I’m also stuck on 1.4.5 due to a segfault in 1.5.2.

[2020-05-05 06:04] ramaraochavali commented on #23494
@markusthoemmes We do similar to what @howardjohn suggested above to get the pod->pod work with a special subset called "direct"  with PASSTHROUGH LB and control it via some header to match in the VS. See https://discuss.istio.io/t/503-between-pod-to-pod-communication-1-5-1/6121/15 for complete information.

`x-envoy-original-dst-host` - Does not work by default even for PassThrough clusters.  We

[2020-05-05 06:25] hillbun commented on #23461
@stevenctl    problems solved.  thanks.

[2020-05-05 06:25] #23461 closed

[2020-05-05 06:30] dhineshbabuelango opened #23523 "istio Accessing External Services"
I am using istio 1.4.3, I have disabled the Envoy passthrough to external services, the mode is currently REGISTRY_ONLY but still I am able to access any services without service entry

kubectl get configmap istio -n istio-system -o yaml | grep -o "mode: REGISTRY_ONLY"
mode: REGISTRY_ONLY

[2020-05-05 06:47] hillbun opened #23524 "istio-1.5.2 can not deploy istio-ingressgateway from deployment to daemonset"
**Bug description**

I install  istio-1.5.2 with

./bin/istioctl manifest apply --set profile=demo \
--set values.gateways.istio-egressgateway.enabled=false \
--set values.gateways.istio-ingressgateway.type=NodePort \
--set values.gateways.istio-ingressgateway.sds.enabled=true \
--set values.pilot.env.PILOT_HTTP10=1 \
--set values.global.proxy.accessLogFile="/dev/stdout" \
--set values.global.prox

[2020-05-05 06:53] lucasponce commented on #23484
Ok, thanks for the test.
Yes, Kiali should identify if is Istio 1.5 vs Istio 1.6 for properly mTLS detection.

[2020-05-05 06:56] lucasponce commented on #23484
@jmazzitelli note that we will need to bump Kiali version used for Istio 1.6 once this bug is solved.
I don't think we want to use the same version packaged for Istio 1.5.

[2020-05-05 06:58] #17740 closed

[2020-05-05 07:15] dgn opened #23525 "Consolidate Operator and Helm APIs"
Currently, the Helm values that are passed into the charts are different from the `IstioOperator.spec` which is used to install Istio when using the Operator. This issue proposes aligning the two APIs so that
- the operator implementation can be simpler. If no translations have to be made between fields and instead, they can just be passed through. This will greatly simplify the codebase.
- there

[2020-05-05 08:02] #17742 closed

[2020-05-05 09:59] romil-punetha commented on #22968
@bianpengyuan I was able to fix this by configuring the Jaeger propagator in Opentelemetry library to use `jaeger-agent.istio-system:6832` as the backend.

[2020-05-05 10:06] harshal-shah commented on #23161
@suchita-jain we had this happen 2-3 times since the upgrade. We have not had this error again since we downgraded to 1.4.3 and that makes sense because the code-path which introduced this error was added in [1.4.4](https://istio.io/news/releases/1.4.x/announcing-1.4.4/)
PR with the change https://github.com/istio/istio/pull/19035

[2020-05-05 10:13] haf-afa commented on #18221
So
- [ ] bug2
- [ ] bug3 of https://github.com/istio/istio/issues/18221#issuecomment-620618338 needs to be fixed together with
- [ ] documenting what "automounting service account token" means: https://github.com/istio/istio/issues/18221#issuecomment-620618338
- [ ] as well as documenting how to pass flags to `generate` (`istioctl manifest generate --set values.global.jwtPolicy=first-party-jwt --f

[2020-05-05 11:05] ramaraochavali commented on #17933
not stale, the test is skipped

[2020-05-05 11:44] sp-manuel-jurado commented on #23509
Could it be related to this fix: https://github.com/istio/istio/pull/23030 ?

[2020-05-05 11:57] sp-manuel-jurado commented on #23509
Although it is in the repository that I added above, this is the filter spec:

[code]

[2020-05-05 12:10] esnible opened #23526 ""istioctl x authz check" output"
The `istioctl x authz check` is underdocumented and the output may be incorrect.

The output is a report with four columns.  The meaning of each column is unclear.  As an enhancement, the `Long:` description for `check` should define what appears in each column.

The output of the CERTIFICATE column is sometimes `noneSDS: default` and I do not know what that means.  Seems like a bug.

If I deploy

[2020-05-05 12:26] lcx102737 opened #23527 "Circuit Breaking does not take effect for grpc service"
**Bug description**
I start a grpc server and client and set up a circuit breaker,the circuit breaker did not take effect.

Version
1.0.5

Cluster state
On kubernetes 1.12

server.yaml
[code]
service yaml
[code]
client.yaml
[code]
DestinationRule
[code]
From the server's istio-proxy log, there is no statistical information about GRPC.Log as follows
[code]
The client requests all return 200
[code]

[2020-05-05 13:09] sp-manuel-jurado commented on #23509
/cc @rshriram

[2020-05-05 13:11] previousdeveloper opened #23529 "How to disable all metrics 1.5.2 ?"
**We use Istio 1.5.2  with a minimal profile.**

**We want to disable all proxy and service metrics for the benchmark. We changed telemetry v2 IstioOperator value to false. But we still show metrics in the Kiali console**

**telemetry:
      enabled: false
      v1:
        enabled: false
      v2:
        enabled: false**

Istio
**client version: 1.5.1
control plane version: 1.5.2
data plane vers

[2020-05-05 13:41] joekrill commented on #21510
I'm seeing the same thing on a mostly default install on Digital Ocean's Managed Kubernetes offering. I'm basically using this configuration:

[code]
<img width="1309" alt="Screen Shot 2020-05-05 at 9 39 26 AM" src="https://user-images.githubusercontent.com/393220/81072685-7ec02300-8eb4-11ea-963c-a51f73a73d2c.png">

[2020-05-05 14:18] GregHanson opened #23530 "AutoMTLS not upgrading traffic in 1.6.0-beta.0"
**Bug description**
Envoy is not upgrading traffic to mtls when auto mTLS is enabled in 1.6.0-beta.0 release.  TransportSocketsMatches are configured with the tlsMode label.

[code]

**Expected behavior**
Traffic should be mTLS when autoMTLS is ON and no DestinationRule / Policy / PeerAuthentication rule specifies otherwise

NOTE: created STRICT PeerAuthentication policy to achieve desired result

[2020-05-05 14:19] ashrafxcoder commented on #17162
I've upgraded from 1.0.6 up until 1.3.8 (no skip upgrades) without any issues but when I upgrade to 1.4.8 this is happening consistently.
I using helm/tiller (v2.11.0)

![ConEmu64_iOFiNDWSWh](https://user-images.githubusercontent.com/14987647/81076582-b4303500-8ee3-11ea-86f4-935d39169bd2.png)

[2020-05-05 14:30] linsun commented on #23530
@myidpt this is the same issue I pinged you about on Friday.  cc @incfly
thank you @GregHanson for opening this!

[2020-05-05 14:34] santinoncs commented on #22068
I am using rate limit to limit n requests from the same IP and it is working !!

Do you guys happen to know how can I do if I dont want to apply this rate limit to an specific User-agent?

Now I got this:

`        value:
            rate_limits:
              - actions: # any actions in here
                - request_headers:
                    header_name: "x-custom-user-ip"

[2020-05-05 14:47] michaeldduffield opened #23531 "Error reading current istio version on upgrade"
**Bug description**

Having followed the instructions for setting up an egress gateway with SNI proxy (https://archive.istio.io/v1.4/docs/tasks/traffic-management/egress/wildcard-egress-hosts/#setup-egress-gateway-with-sni-proxy), attempting to upgrade istio from 1.4.6 to 1.5.2 (using istioctl) results in the following error:

[code]

**Expected behavior**

Upgrade should not fail with error

**St

[2020-05-05 16:04] brian-avery commented on #22874
@howardjohn can this be closed? 23194 looks like it's merged?

[2020-05-05 16:06] howardjohn commented on #22874
I think the last remaining step is a quick guide in te upgrade notes

[2020-05-05 16:07] irizzant commented on #22220
Hi @incfly
after more digging I also found that port 9300 is somehow not part of the mesh and is generating Passthrough traffic as shown below:![image](https://user-images.githubusercontent.com/15982257/81083408-d8484200-8ef4-11ea-91d7-7315be788c3d.png)

As you can see every hour the cluster generates traffic on port 9300 which doesn't get to the destination as shown in the exception [1] log.
This

[2020-05-05 16:21] howardjohn commented on #23529
That should disable all telemetry. Can you verify you have no `istio-telemetry` pod and there are no EnvoyFilters?

See:
[code]

That should return empty if telemetry is properly disabled

[2020-05-05 16:22] howardjohn commented on #23527
This version is over a year out of support: https://istio.io/news/support/announcing-1.2-eol/. Please upgrade to the latest version and reopen this issue if you can reproduce. Many things have changed since then so debugging issues on such an old version is not likely a good use of time

[2020-05-05 16:22] #23527 closed

[2020-05-05 16:24] howardjohn commented on #23525
Why not just change the operator API to have `pilot.xyz` instead of `components.pilot.xyz`? Then the helm api doesn't change. This makes more sense to me now that we have so few components now, and there is not a `components` vs `values` split anymore with your proposal (right?)

[2020-05-05 16:25] howardjohn commented on #23523
any Service? or external ones like Google.com?

[2020-05-05 17:01] Laci21 commented on #22609
@padzikm, We have experienced the same issue when using Authorization rules with egress gateways.

We came up with an alternative solution using the [Sidecar](https://istio.io/docs/reference/config/networking/sidecar/) resource, open-sourced an [example repository](https://github.com/banzaicloud/istio-external-demo) which demonstrates a possible solution for this use case, and published a [blog po

[2020-05-05 17:10] previousdeveloper commented on #23529
I have still EnvoyFilters, but I don't have `istio-telemetry` pod.

[code]

[code]

[2020-05-05 17:12] incfly commented on #23530
The problem from the description seems on the server side? You use `openssl client_connect` and the server does not present a certificate, rather than client is not sending mTLS. Is that right?

What's your PeerAuthentication configuration status when things are not working?

[2020-05-05 17:13] howardjohn commented on #23529
`~/istio/istio-1.5.2/bin/istioctl manifest generate --set values.telemetry.v2.enabled=false` successfully shows no Envoyfilters. Is that the same as you were doing?

You can manually delete all of those as well but you should be able to get it working through the automation

[2020-05-05 17:17] howardjohn commented on #23184
In TOC we approved 1.15-1.18

[2020-05-05 17:17] #23184 closed

[2020-05-05 17:22] incfly commented on #23530
Also what does `upgrade` mean specifically? Does that mean the sidecar injection rollout (no sidecar -> sidecar), or 1.5 -> 1.6 upgrade and traffic falls back to plaintext?

[2020-05-05 17:28] esnible opened #23536 "Debug / Troubleshooting API for istiod"
The current istioctl implementation uses K8s "exec" into istiod to GET /debug/X.

This doesn't work in multitenant or multicluster.  It requires too many permissions in the vanilla case.  It requires istioctl to know how many instances of istiod are running in a revision.

This work item is to replace the 2019 proposals and get a new approved proposal
https://docs.google.com/document/d/1g_ZGOtSJ-D

[2020-05-05 17:31] esnible opened #23537 "Debug / Troubleshooting gRPC and HTTP endpoint for Istiod"
This will replace /debug/* endpoint in current Istiod.

This work item is to implement the API of https://github.com/istio/istio/issues/23536

[2020-05-05 17:32] esnible commented on #23536
The API MUST include the current GET /debug/* functionality used by istioctl
The API MUST present unsharded results
The API SHOULD include the pod /config_dump functionality used by istioctl
The API MUST work with remote control plane (e.g. multicluster) and VMs.

This means we need to be able to find the control plane, instead of just assuming all control planes are in istio-system istiod pods.

[2020-05-05 17:34] esnible opened #23538 ""istioctl proxy-status" to use new debug/troubleshooting API"
This Issue tracks getting _istioctl_ to use the mechanism of https://github.com/istio/istio/issues/23537 instead of K8s Exec.

This includes explicitly specifying the endpoint (e.g., non-Kubernetes), using perhaps `--controlPlaneAddr <url>` or `--controlPlaneHost <ip:port>` to point to Istio exposed via HTTPS or SSH tunnel to in-cluster gRPC endpoint.

This also includes implicitly finding the end

[2020-05-05 17:50] howardjohn commented on #23537
With a gRPC endpoint? Please support http - its a must have for debugging

[2020-05-05 17:56] howardjohn commented on #23536
@esnible how are you going to deal with the cases that currently require connecting to all Pilots?

[2020-05-05 17:57] esnible commented on #23537
@howardjohn Agreed.  At the previous UX meeting, @liamawhite suggested we implement gRPC with bindings to additionally expose as HTTP.

[2020-05-05 17:58] esnible commented on #23536
The details will be in the linked document.  Probably there will be an internal API for per-shard, and a public API that gathers the current shard data with the sibling shards' data.

[2020-05-05 18:02] howardjohn commented on #23536
How are you even going to call Pilot at all from Istioctl? port-forward?

[2020-05-05 18:03] liamawhite commented on #23537
For reference https://github.com/googleapis/googleapis/blob/master/google/api/http.proto#L45

[2020-05-05 18:16] incfly commented on #23530
@GregHanson See your description. My guess is this is due to the fact that default installation is "No peerauthentication` and `PERMISSIVE` by default. So when you are using openssl, without providing ALPN istio, this results into matching the plaintext filter chain.

A better way to verify could be curl in sleep container, doing tcpdump on istioproxy httpbin side. see if the traffic is encrypted.

[2020-05-05 18:39] james-knott commented on #21187
@AlexDHoffer I was having the same problem as you. I added the recording rules and was able to get the metric data endpoints. https://istio.io/docs/ops/best-practices/observability/

[2020-05-05 18:51] linsun commented on #23495
Another related issue that @nmittler ran into, think it is related to this. from the remote cluster, it sees the main cluster's endpoint IP, but not its gateway IP.  The key thing is the endpoint registry also has main cluster's perspective, regardless of whether the pods resides in main or remote cluster.

[2020-05-05 19:18] sagarkal opened #23544 "fluentd adapter does not get created, despite adding overrides to istio 1.5.2"
Hi,

I just installed istio 1.5.2 on my kubernetes cluster where my service mesh is located. I understand that mixer is deprecated, but since mixer is going to be supported until 1.7, I want to temporarily continue using the mixer adapters, especially [fluentd](https://istio.io/docs/reference/config/policy-and-telemetry/adapters/fluentd/) with a logentry and a rule to send events to an external lo

[2020-05-05 19:29] linsun commented on #23495
change to a bug as this really was not a new feature but a bug with shared control plane in general that it doesn't have proper endpoints on the remote cluster.

[2020-05-05 19:33] linsun commented on #23495
@GregHanson @nmittler said this worked for him in 1.5.1, e.g. correct endpoint is displayed for pods in remote cluster.

[2020-05-05 19:35] sp-manuel-jurado commented on #23509
Finally, It seems, I got to inject correctly, using the deprecated API:
[code]

But related to the protocol selection: https://istio.io/docs/ops/configuration/traffic-management/protocol-selection/
I guess is a special case:
- The upstream only understand http1.1 with protocol buffers.
- The client makes the call in grpc/http2 -> envoy transform it in http1.1 with the filter -> upstream http1.1 re

[2020-05-05 19:45] nmittler commented on #23495
As @linsun mentioned, things seem to work for me on 1.5.1 but not in the latest 1.6 branch.

My setup has 2 clusters (cluster1 and cluster3) which are on separate networks, with a control plane deployed to cluster1.

Master cluster setup:
https://gist.github.com/nmittler/ced1775e4ecd1c1dfd1eec59a5c630f7

Remote cluster setup:
https://gist.github.com/nmittler/0c9816d5f9d1283c81dcc3bb2333879f

I hav

[2020-05-05 19:53] GregHanson commented on #23530
There is no PeerAuthentication / Policy / DestinationRule created and `values.global.mtls.auto=true`

Just traffic is "upgraded" to Istio mutual TLS in lieu of having a specific rule defined

When the `-alpn` flag is supplied, I see the desired output.  Kiali would have been my second choice for verifying the traffic was encrypted but there is an open issue for that.  I also learned that in the `c

[2020-05-05 19:53] GregHanson commented on #23530
Closing since the issue was due to lack of `-alpn` flag on command

[2020-05-05 19:53] #23530 closed

[2020-05-05 20:06] #23515 closed

[2020-05-05 20:08] howardjohn commented on #22349
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/23512/unit-tests_istio/12959

[2020-05-05 20:23] suchita-jain commented on #23161
Thanks, @harshal-shah! It was not introduced in 1.4.4 but wasn't fixed in it due to a merge conflict. Seems like it was fixed in 1.4.5: https://github.com/istio/istio/issues/20062 We are using 1.4.5.  But still faced the issue. Did you change anything else while downgrading the Istio version?

[2020-05-05 20:45] puneethkosaraju commented on #22269
I have identified the issue to be incorrect ServiceEntry for other hosts created which is conflicting with others. Hence, I am closing the issue.

[2020-05-05 20:45] #22269 closed

[2020-05-05 21:00] #22430 closed

[2020-05-05 21:43] ostromart commented on #23303
This is fixed in 1.6 but I'm not sure what it would take to backport to 1.5: https://github.com/istio/istio/pull/22981

[2020-05-05 21:47] ostromart commented on #23392
This has drifted somewhat from the original bug, which relates to overriding by index selection. Labels do work for multiple gateways for 1.6, implemented in https://github.com/istio/istio/pull/22981. See the input test cases in that PR, the docs should be updated for 1.6 with labels though.

[2020-05-05 21:55] #23187 closed

[2020-05-05 22:02] ostromart commented on #23525
I'd recommend keeping the path as is - it's a minor improvement at the hefty cost of an API change (we'd have to deprecate, possibly translate etc.) Also, I'm not sure this would actually be the right move: components are a list with a common type, we'd have to change to a strange oneof with other unrelated items to remove the components subpath.

[2020-05-05 22:13] CodyKurtz commented on #23368
@lei-tang
I deployed the Istio Operator using Helm. Then deployed the CRD instance of IstioOperator with the following parameters.

[code]

The book info app was then deployed exactly as described in the article here https://istio.io/docs/examples/bookinfo/ Also FYI, I deployed the exact parameters as described in the default.yaml file. That fixed the issue. I had a question as well. What is the p

[2020-05-05 22:47] howardjohn opened #23557 "Add k8s version compatibility check to install"
This was added in https://github.com/istio/istio/commit/308fb59bf5208463db9791d923a20dd9bb52e937 and accidentally removed at some point in a refactoring

https://github.com/istio/istio/pull/22742 is very similar to this implementation

[2020-05-05 22:49] rytswd commented on #23303
Thanks for the pointer @ostromart, it actually looks like it's already backported to v1.5 with #23026.

For my own learning and future contribution, would you be able to shed some light on how `istioctl` handles the IstioOperator spec? I had thought the rendering internally relies on Helm templating, and I was checking out templates under `manifests/` such as
https://github.com/istio/istio/blob/re

[2020-05-05 23:22] ostromart commented on #23303
You're right, I noticed that backport just now myself. Under the hood, it's a combination of helm template library to maintain compatibility with the values.yaml API and helm charts in general, plus some overlay code for the other part of the IstioOperator API.

[2020-05-05 23:27] #22806 closed

[2020-05-05 23:47] dhineshbabuelango commented on #23523
All external services. Since our cluster doesn't have internet access, we use a proxy server to reach internet. without creating service entry, I am able to reach the proxy server. Also to DB, KAFKA everything I am able to reach without creating service entry.

[2020-05-05 23:47] brian-avery opened #23558 "Helm Install Options Repeated and Outdated"
More of a nit than anything else, but on https://preliminary.istio.io/docs/setup/getting-started/, there are three "see also" options at the bottom all named "Helm Changes". These list differences between Istio 1.0 and 1.1, Istio 1.1 and 1.2, and Istio 1.2 and 1.3. All of which are out of support. Should we remove them? Should we only display one of them?

![image](https://user-images.githubuserco

[2020-05-05 23:56] howardjohn commented on #23523
I cannot reproduce. Can you get a config dump from the client (https://github.com/istio/istio/wiki/Troubleshooting-Istio)?

[2020-05-05 23:57] quixoticmonk opened #23560 "istio security best practices: post 1.5"
**The best practice details mention isolating istio components by namespaces including citadel.
**
Document  : https://istio.io/docs/ops/best-practices/security/
If I am not wrong, istiod now handles the citadel and some other components in istio. So is the current best practices applicable for istio 1.5 onwards ? Are there any updated documentation that we can refer ?
**Affected product area **

[2020-05-05 23:57] howardjohn commented on #23523
Do you have a service entry for fp.dmz.app?

[2020-05-05 23:59] jasonwzm commented on #10872
fixed by https://github.com/istio/api/pull/1422

[2020-05-05 23:59] #10872 closed

[2020-05-06 00:00] esnible commented on #21532
Works for me.

[2020-05-06 00:00] #21532 closed

[2020-05-06 00:12] dhineshbabuelango commented on #23523
I have a service entry for fp.dmz.app in other namesapce and not in this namespace

[2020-05-06 00:14] howardjohn commented on #23523
That does not matter, by default you can access Service/ServiceEntry in any namespace. So this is working as expected

[2020-05-06 00:22] dhineshbabuelango commented on #23523
so there is no way to restrict the service entry to that particular namespace. Also there are DBs for which there is no service entry in any namespace and still it is working

[2020-05-06 00:23] howardjohn commented on #23523
See exportTo field: https://istio.io/docs/reference/config/networking/service-entry/#ServiceEntry

[2020-05-06 00:29] dhineshbabuelango commented on #23523
Thanks John but there are some DBs for which there is no service entry created in any namespace but still it is working and the istio configuration is REGISTRY_ONLY.

[2020-05-06 00:32] howardjohn commented on #23523
Please attach a config dump from the client and let me know what call specifically is failing. thanks!

[2020-05-06 00:57] dhineshbabuelango commented on #23523
I have uploaded the config dump by running the below command, the problem is I have updated the istio passthrough as REGISTRY_ONLY and now I dont have any service entry in the cluster still I am able to access all the DBs, servers outside of cluster and internet.
**Config Dump: kubectl exec $POD -c istio-proxy -- curl 'localhost:15000/config_dump' > config_dump.json**
[config_dump.json.gz](https:/

[2020-05-06 01:04] sdake commented on #23557
Newer Issue, Newer PR: 22742

[2020-05-06 01:05] sdake commented on #23557
I would much prefer to revive the code in 308fb59 as it has been backported into 1.5 already and has more field testing. If that isn't viable, I can proceed with https://github.com/istio/istio/pull/22742

[2020-05-06 01:09] sdake commented on #23557
@elfinhe if you have time, can you take a look at reviving https://github.com/istio/istio/pull/20391. If you don't have time, please let me know.

Cheers
-steve

[2020-05-06 01:43] lei-tang commented on #23368
@CodyKurtz Thank you for the update that deploying the exact parameters as described in the default.yaml file fixed the issue. Regarding to sidecar injector pod, AFAIK, from Istio 1.5, the sidecar injection is implemented through the mutating webhook handler of Istio, not through a sidecar injector pod.

[2020-05-06 02:21] kebe7jun commented on #23481
Normally, x-forwarded-for header added by reverse proxy, it seems that you have multiple proxies before envoy. It has nothing to do with envoy and istio.

[2020-05-06 02:39] hillbun commented on #23481
@kebe7jun

Yes, I have a load balance before istio by cloud provider.

Is it possible for me to just log IP of 47.105.214.136 (client browser)?

[2020-05-06 02:43] kebe7jun commented on #23481
If there is only one LB before istio, I think the suggestion is okay, you should have a try.

[2020-05-06 02:47] linsun opened #23561 "patch remote WebHooks configuration with caBundle from central Istiod"
**Describe the feature request**
As part of https://github.com/istio/istio/issues/22934, the remote plane will have mutating and a validation WebHooks configuration deployed but it won't have the caBundle (see https://github.com/istio/istio/pull/23649 & https://github.com/istio/istio/pull/23548).  Similarly like how we patch the mutating and validation WebHooks config for the local cluster, we nee

[2020-05-06 02:48] linsun commented on #23561
cc @morvencao

[2020-05-06 03:18] carolynhu opened #23562 "Install istio latest release/master 1.7-alpha via istioctl got runtime error"
May-05
Following is the error log:

[code]

[2020-05-06 03:47] carolynhu opened #23564 "Install Istio using latest-1.6 release got unknown field "security" validation error"
This issue happened when I was trying to create a multi-cluster Istio setup.

To reproduce:

- Download Istio release: I'm installing Istio using istio-1.6-alpha.68e623cb1793eb25f1d8a8d7c9e155b8435039d2, which can be downloaded here: https://gcsweb.istio.io/gcs/istio-build/dev/1.6-alpha.68e623cb1793eb25f1d8a8d7c9e155b8435039d2

- In my main cluster, I ran the following command to create cacert:

[

[2020-05-06 04:44] carolynhu commented on #23562
More info: May-04 job run is success for this release: istio-1.7-alpha.da59ac7292e0600845ed2c0c5df8f8ea47739e5e

[2020-05-06 05:01] #17746 closed

[2020-05-06 05:01] #17758 closed

[2020-05-06 05:01] #17769 closed

[2020-05-06 05:03] #19151 closed

[2020-05-06 05:05] #20275 closed

[2020-05-06 05:11] mandarjog opened #23565 "istioctl manifest: show likely keys in case of key failure."
If a user sets an incorrect key either on the command line or in the profile, istioctl does not offer any  useful help.

For example.
[code]

It would be useful to say
[code]
This can be done is many different ways.
Generate and maintain a list of *all* keys at build time and do a nearest match in case of failure. This takes care of typos and incorrect capitalization like the example above.

@rich

[2020-05-06 05:16] #16218 closed

[2020-05-06 05:47] illidan80 commented on #23298
@seflerZ I do have ingress gateway. What do you mean by "expose the internal service"? Which service?

[2020-05-06 05:58] zhranklin opened #23567 "configmap of sidecar injector template for istiod is wrongly mounted"
**Bug description**
When revision is set, the configmap mounted to the deployment `istiod-<revision>` is `istio-sidecar-injector`, but in fact it should be `istio-sidecar-injector-<revision>`.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Securi

[2020-05-06 06:08] incfly commented on #20234
@irizzant there seems some difference for your case (only issue when mTLS enabled), and others (some claims not working even when mTLS is disabled).

[2020-05-06 06:11] #17777 closed

[2020-05-06 06:18] incfly commented on #22220
@irizzant thanks for the detailed sharing. @lambdai and I spent sometime looking this closer.

TL;DR, ElasticSearch, server side is STRICT mTLS, client side (due to ElasticSearch application?), use both cluster VIP and pod IP for communication between replica. And the podIP ones go through PassThrough cluster, which does not have the mTLS config, thus fails the mTLS requirement on server pods.

Th

[2020-05-06 06:26] zhranklin commented on #23567
fixed in #23568

[2020-05-06 06:34] lcx102737 commented on #23527
I'll verify that after the upgrade

[2020-05-06 06:40] #19798 closed

[2020-05-06 06:54] #19666 closed

[2020-05-06 08:26] dgn commented on #23525
I agree that it makes more sense, but I think it should be tackled once we have alignment. IMO we should strive to get the helm API on par with what we have in IstioOperator first, and then make these changes. We can still get them in before we release the helm charts, but changing the CRD is IMO the bigger, more risky change. Ideally, we can create a new CRD version as part of 1.7 and already dep

[2020-05-06 09:05] #23144 closed

[2020-05-06 09:33] hzxuzhonghu commented on #22220
@incfly PILOT_ENABLE_HEADLESS_SERVICE_POD_LISTENERS is enabled by default in 1.5.0
https://github.com/istio/istio/blob/c3c353285578eb68b334fc8766746b754b6b3789/pilot/pkg/features/pilot.go#L239-L246

I have to spend some time to catch up

[2020-05-06 09:47] bharaththiruveedula commented on #23375
@ryandawsonuk I have the same issue. What is the second configuration you were referring to?

[2020-05-06 09:48] deva26 commented on #23085
Can this be looked into?

[2020-05-06 10:32] Morriz opened #23569 "operator keeps restarting"
**Bug description**

The operator keeps restarting with these last log lines:
[code]

Might be related to kubernetes/kubernetes#87898

**Expected behavior**
No restarts to occur

**Steps to reproduce the bug**
Install istio operator with the chart from release 1.5.2 (chart version: 1.5 running gcr.io/istio-testing:1.5-dev)

**Version (include the output of `istioctl version --remote` and `kubectl

[2020-05-06 10:34] ryandawsonuk commented on #23375
@bharaththiruveedula This one:
[code]

[2020-05-06 11:02] hzxuzhonghu commented on #22220
@incfly The tlsContext is in the inbound listener not as outbound which is in cluster

[2020-05-06 11:11] hzxuzhonghu commented on #22220
@irizzant Could you dump all the outbound listeners of port 9300? And also show the elasticsearch service.
 For headless service elasticsearch, it should generates one listener per podip.

[2020-05-06 12:22] tomocy commented on #14461
@howardjohn
I have a similar issue, but in my case, both STATIC and DNS Sidecar in other namespaces than default does not remove endpoints.

I deploy Istio1.5.2 on minikube.

[code]

My config is below.

[code]

I cannot access `httpbin`.

[code]

And I applied a ServiceEntry.

[code]

Then `istioctl proxy-status` shows like

[code]

I can access to `httpbin`.

[code]

I delete the ServiceEntry bu

[2020-05-06 12:55] rytswd commented on #23303
Appreciate your input, I could confirm how Namespace handling is not as per Helm chart but is handled correctly with v1.5.2 already. I'll look to familiarise myself more around the actual code.

As to the above fix, I have built `istioctl` off of `master` branch and tested. It is certainly handling multiple gateways better, but have some questions:

### Duplicated Resources

Purely duplicated reso

[2020-05-06 13:19] bcochofel commented on #23419
Hi, in order to solve this issue I've removed prometheus from istio deployment and create a new prometheus server instance, on the same namespace of istio (for all the kiali links to be ok), a new service monitor and prometheus rule to achieve the federation described in the link and it seems to be working ok.

Thanks,
Bruno

[2020-05-06 13:19] #23419 closed

[2020-05-06 13:22] bcochofel commented on #23123
Hi @AlexDHoffer , what I did to solve this issue was to remove prometheus from istio deployment and create a new one, only for scrapping metrics from istio, using prometheus operator. This new prometheus server has also servicemonitor to scrape istio, and prometheusrule with those recording rules.
My main prometheus server has the servicemonitor for the federation part.

For now, everything seens

[2020-05-06 13:48] sdake commented on #23495
cc @sdake

[2020-05-06 14:02] howardjohn commented on #23525
I am not sure changing the helm api which has been stable since istio 0.x to match the alpha operator API which is brand new is the right compromise, especially because I don't think the operator API is in a great state today given the istiod refactorings, etc

[2020-05-06 14:48] irizzant commented on #22220
@hzxuzhonghu
Here are the outbound listeners for elasticsearch-elasticsearch-data-1 [1], the elasticsearch master Service [2] and the elasticsearch data Service [3]

[1]
[code]
[2]
[code]
[3]
[code]

[2020-05-06 15:30] GregHanson commented on #23487
@packyzbq did you verify that the two cluster have the same certs configured?
[code]
Should have the same value in REMOTE cluster:
[code]
When you create the cacerts secret you need to make sure the same secret is created in both clusters

[2020-05-06 17:04] VinothChinnadurai commented on #22536
@ramaraochavali thanks for all your responses. Really would like to thank a lot :) we have solved this problem!

[2020-05-06 17:06] VinothChinnadurai commented on #22068
Thanks a lot @gargnupur @ramaraochavali @devstein .Your responses helped a lot and solved the problem :)

[2020-05-06 17:07] VinothChinnadurai commented on #22068
@santinoncs I can see it's closely related to our requirement. Please check this link and see whether it helps to you
https://github.com/istio/istio/issues/22068#issuecomment-622504546

[2020-05-06 17:11] elfinhe commented on #23557
probably won't get time this week.

And we've switched to use the K8S restful client, things may be different. This definitely need some time for testing.

[2020-05-06 17:31] parthshah86 commented on #23267
The upgrade seems to have fixed this issue. Thanks @howardjohn.

[2020-05-06 17:32] santinoncs commented on #22068
Here I want to apply this rate limit to an especific service inside the vhost, not all the routes inside the vhost yyy.com:80

is it possible?

`  - applyTo: HTTP_ROUTE
    match:
      context: GATEWAY
      routeConfiguration:
        vhost:
          name: yyy.com:80
          route:
            action: ANY
    patch:
      operation: MERGE
      value:
        route:
          rate_limits:

[2020-05-06 18:53] ostromart commented on #23525
I think we are talking here primarily about the k8s spec stuff which needs a cleanup in values as it's quite inconsistent and not aligned with native k8s. If we agree that  [KubernetesResourcesSpec](https://github.com/istio/api/blob/8c8385e634758fcfc0589e1c0872e7894ba2c951/operator/v1alpha1/component.proto#L104)  is what we want for both cases then helm values API has to change anyway for that par

[2020-05-06 19:14] bianpengyuan opened #23580 "Provide a shim to convert OOP adapter to use Envoy native API"
As part of efforts for Mixer deprecation, we need a way for current out of process (OOP) adapter user to migrate off Mixer template based API. The long term solution is to convert out of process adapter to a Wasm filter. However this process could be time consuming and requires Wasm runtime to be production ready, which is not guaranteed to happen on 1.7.

As an interim step, a shim could be provi

[2020-05-06 19:21] jacob-delgado commented on #22078
PR to make sure Automator works correctly in istio/test-infra for release-1.6 branch: https://github.com/istio/test-infra/pull/2643

[2020-05-06 19:29] esnible commented on #23562
While investigating this I found another panic:

[code]

[2020-05-06 20:11] howardjohn opened #23582 "dns certificate support: stop creating Secrets"
Now that we have Istiod, we have no need to persist DNS certificates to Secrets. This is outside the scope of Istio, and should be handled by systems like cert-manager.

This issue involves removing this feature, and removing the associated doc: https://istio.io/docs/tasks/security/dns-cert/ and tests: TestDNSCertificate

cc @costinm @lei-tang

[2020-05-06 20:11] howardjohn commented on #23582
related https://github.com/istio/api/pull/1414

[2020-05-06 20:21] howardjohn opened #23583 "Istio Addon Simplification implementation"
Design Doc: https://docs.google.com/document/d/1jJ4kkALCUPWIlz_Ldu6jpeelMNxyY_SZDMaZmeSpfkM/edit

Action items:

* [x] Integration Documentation
  * [x] Grafana - https://preliminary.istio.io/docs/ops/integrations/grafana/
  * [x] Prometheus - https://preliminary.istio.io/docs/ops/integrations/prometheus/
  * [x] Tracing - https://preliminary.istio.io/docs/tasks/observability/distributed-tracing/

[2020-05-06 20:38] ericvn commented on #23564
I know @linsun removed `security:` in https://github.com/istio/istio.io/pull/7169/files to get around a similar error.

[2020-05-06 20:58] ericvn commented on #23475
I think this issue is now ready to be closed since the test is now removed.

[2020-05-06 21:15] clarketm commented on #23475
I suggest we close this and if we want to create an issue for _changing the test to support running against the current commit_ then we can create a new issue and assign it to me. (https://github.com/istio/test-infra/pull/2607#issuecomment-623475690)

[2020-05-06 21:22] costinm commented on #23582
For 1.6 or 1.7 ?

I agree we should stop creating Secrets - but customizing DNS certs - at least for control plane - is still a needed feature.

@linsun  @nrjpoddar

[2020-05-06 21:23] costinm commented on #23582
And I would include here a proper mesh config-based API for Lin's change - right now it's an env variable, but the agreement was that most configs should go into mesh config.

[2020-05-06 21:28] nrjpoddar commented on #23582
I don't think we can just stop creating DNS certs.

There are users who want a single signing authority in their systems. When Istio is installed, since Citadel issues mesh related mTLS certs they also want CItadel to sign DNS certs for legacy & Pods which don't have sidecars.

We cannot take away this feature, I'm ok if you want to replace the config and make it better but removing the feature wi

[2020-05-06 21:33] howardjohn commented on #23582
@nrjpoddar I don't think this feature was ever meant for external users - just for webhooks. Looking at the doc somehow it seems like it became user facing, which is a huge mistake in my opinion. I am not sure why we would want to replace cert-manager - they do a much better job.

[2020-05-06 21:34] cbron commented on #22874
This approach is apparently not supported on operator installs in 1.6: https://github.com/istio/istio/issues/23479

[2020-05-06 21:39] nrjpoddar commented on #23582
This is not replacing cert-manager which is primarily for end-user facing certs.

So basically, users want to mTLS or TLS for workloads in their cluster with legacy applications. They want a single entity to issue certs for that use case. Whether accidentally (or intentionally) users are relying on this behavior now.

We should stop documenting features that are not user facing, but follow good de

[2020-05-06 21:39] costinm commented on #23582
If they implement https://github.com/jetstack/cert-manager/issues/2894 - I would agree
users will be better to use CertManager.

This feature gives mesh admin control over the certificate - something not possible today
with CertManager.

[2020-05-06 21:42] costinm commented on #23582
I don't know what 'user facing' mean - all MeshConfig is 'mesh admin' facing.
App developers can't and shouldn't edit mesh config - so any doc that is based on MeshConfig
is not really 'user facing'.

The intent of the API was to allow the mesh admin to have a consistent way to control the
issuance of DNS-based certificates - instead of having N env variables and custom ways to do it.
Lin's centra

[2020-05-06 22:45] harishkashyap569 commented on #21343
I'm facing the same issue. i'm using istio 1.4.7 and `istio_authn` missing the claims object in it.
filter_metadata {
  key: "istio_authn"
  value {
    fields {
      key: "request.auth.principal"
      value {
        string_value: "dfac-sre-tools-npe-981e.svc.id.goog/ns/istio-system/sa/istio-ingressgateway-service-account"
      }
    }
    fields {
      key: "source.namespace"
      value {

[2020-05-06 23:10] sagarkal commented on #23544
Hi,

I saw that I need to use the updated manifest file format for the same. The below manifest file works for istio 1.5.2

[code]

[2020-05-06 23:10] #23544 closed

[2020-05-06 23:15] #23475 closed

[2020-05-06 23:20] howardjohn commented on #23565
`kubectl` does this -
[code]

we can probably follow whatever algorithm they use

[2020-05-06 23:21] howardjohn commented on #23564
`security.selfSigned` does not do anything anymore and has been removed

[2020-05-06 23:57] carolynhu commented on #23564
@howardjohn that file copied from jason's updated multicluster setup doc maybe a month ago. Let me double check, if that instruction being updated or not.

[2020-05-06 23:58] carolynhu commented on #23564
Yes, it looks that the multicluster setup doc has been updated. I can follow the latest instruction and verify this again. Thanks @howardjohn

[2020-05-07 00:04] istio-testing opened #23589 "[release-1.6] Add --revision flag alias"
Manual cherrypick required.

#23547 failed to apply on top of branch "release-1.6":
[code]

[2020-05-07 00:04] istio-testing opened #23590 "[release-1.6] Add --revision flag alias"
Manual cherrypick required.

#23547 failed to apply on top of branch "release-1.6":
[code]

[2020-05-07 00:07] #23589 closed

[2020-05-07 00:08] clarketm commented on #23589
duplicate of: https://github.com/istio/istio/issues/23590

[2020-05-07 00:40] myidpt commented on #23560
Yes, this doc needs update. Thanks for capturing it.

[2020-05-07 01:25] #23562 closed

[2020-05-07 01:38] hzxuzhonghu commented on #22220
For 9200 it is http, and we do not generate a listener per pod. If u change the port name to tcp, it will work

BTW, for 9200 http, what's your hostname of the request, if the 0.0.0.0_9200 listener could not find a filter chain matches the hostname provided, it will go to the passthrough one.

So please double check

[2020-05-07 01:42] stevenctl opened #23591 "remote control plane: round-robin between istiod in multiple clusters"
**Bug description**

When deploying Istio in two clusters, one control plane cluster and one remote cluster, the remote cluster inconsistently receives config from the control plane cluster.

**Expected behavior**

Envoys in the remote cluster should only receive configuration from the control plane cluster.

**Steps to reproduce the bug**

First, deploy sleep service to cluster2:

[code]

Looking

[2020-05-07 01:43] stevenctl commented on #23591
cc @linsun @GregHanson @nmittler

[2020-05-07 01:46] hzxuzhonghu commented on #22220
For 9300, which pod ip is `172.18.0.17`, from the listener, pilot does not generate a listener for it.

From [5] i notice, all the below services are of port 9300, not sure which service `172.18.0.17` belong to.
[code]

[2020-05-07 01:50] stevenctl commented on #23591
A fix for this @howardjohn suggested was to make the istiod in the primary cluster cluster-local.

[2020-05-07 02:06] hzxuzhonghu commented on #23591
Can you make sure this new pod connects to the primary cluster's istiod?

[2020-05-07 02:19] stevenctl commented on #23591
I don't believe it does, which is the issue.

The envoy is configured with istiod-remote for discovery:
[code]

The following gives no results:
[code]

however cluster2 does seem to have performed the push:
[code]

[2020-05-07 02:39] hzxuzhonghu commented on #23591
Is `istiod-remote.istio-system.svc` correctly resolved to the ip address of remote istiod?

[2020-05-07 02:40] linsun commented on #23591
This is interesting finding @stevenctl!  Not sure how making istiod cluster-local on the main cluster would solve this?

It feels to me it is best we don't run istiod on the remote cluster to avoid 2 istiod pushing configs.

[2020-05-07 02:56] stevenctl commented on #23591
@hzxuzhonghu

It correctly resolves to `35.223.52.209` which is the ingressgateway IP on the primary cluster.
[code]

@linsun

Don't we need istiod on the remote cluster for SDS/CA purposes?

Makin istiod cluster-local would ensure traffic from ingressgateway->istiod always goes to the main istiod.

[2020-05-07 03:20] ImmortanJoe opened #23595 "[multicluster/shared control plane/multiple networks] tls: first record does not look like a TLS handshake"
**Bug description**

Hi, I have some problems doing [Multicluster Installation](https://istio.io/ptr/docs/setup/install/multicluster/shared/) with istio-1.5.2. The remote istio-ingressgateway could not work with the istiod in the primary cluster. I'm sure that the remote istio-ingressgateway could connect to the istiod in the primary cluster, but terminated because the request is not a tls request

[2020-05-07 03:29] hzxuzhonghu commented on #23591
That's weird, then how does it connect to local istiod?

[2020-05-07 03:33] stevenctl commented on #23591
@hzxuzhonghu
[code]

Notice that there are two endpoints for the istiod cluster. They correspond to the Pod IPs istiod in each cluster.

[code]

[2020-05-07 04:03] ramaraochavali commented on #22536
@VinothChinnadurai Glad that you are able to make this work !

[2020-05-07 04:59] zhongfox opened #23599 "trace span type of inbound side is not right"
**Bug description**
2 pods with sidecar: sleep pod and helloworld pod
sleep call helloworld service

the trace span TYPE of both side are "CLIENT"

![image](https://user-images.githubusercontent.com/463772/81255917-8bce4500-9061-11ea-8633-b03cd501d675.png)

expecting  span TYPE of inbound side (server side/ hellowrld pod) should be "SERVER"

[X] Policies and Telemetry

**Expected behavior**

span

[2020-05-07 05:01] #17790 closed

[2020-05-07 05:01] #17792 closed

[2020-05-07 05:01] #17801 closed

[2020-05-07 05:01] #17810 closed

[2020-05-07 05:05] #19990 closed

[2020-05-07 05:29] incfly commented on #21841
What would you suggest to fix here? Pilot list all the EnvoyFilter and the clusters of those having ext_authz filter, we auto generate additional cluster with a valid name, no `|` ? That seems would work?

[2020-05-07 05:45] tbiddu opened #23600 "FR: Add span for Envoy proxy time"
We are evaluating Jaeger UI to do distributed tracing and istio for service mesh. Ideally it should trace all istio proxy timing as well. But Jaeger does not show the istio proxy tracing span.

I am not finding any settings which will show istio time span as well. Any guidance will do.

By changing EnvoyFilter I could add x-request-id header in all the requests. But it shows always one span - thou

[2020-05-07 05:50] hzxuzhonghu commented on #23591
The xds server address is static from the bootstrap config like this.
[code]

[2020-05-07 06:55] morvencao opened #23603 "Istio resource deletion can't trigger operator reconcile"
**Bug description**

1. Build and deploy in-cluster operator
2. Create istiooperator CR in the cluster and wait for all istio resources created.
3. Delete one istio resource(eg, istiod deployment)
4. Check if the istio operator starts new reconcile loop to recreate the deleted resource.

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --rem

[2020-05-07 07:09] elfgzp commented on #23200
Same problem.

I can directly access through `reviews.default.global`.

[code]

`istio-proxy logs`

[code]
---

But it's not accessible.

[code]

`istio-proxy logs`

[code]

[2020-05-07 07:24] yuenwah commented on #23412
Is it possible to create a job-type pod without injecting a sidecar

[2020-05-07 07:24] yuenwah commented on #23412
Is it possible to create a job-type pod without injecting a sidecar

[2020-05-07 07:25] yuenwah commented on #11659
Is it possible to create a job-type pod without injecting a sidecar

[2020-05-07 07:34] jsalgado78 opened #23605 "securityContext option to install istio-cni plugin"
**Describe the feature request**

istio-cni plugin install / repair requires permission to read / write on directories /opt/cni/bin and /etc/cni/net.d but no securityContext option is defined to configure a SELinux label, for example. install-cni container fails when SELinux is enabled because of it requires high permission level to run but no securityContext is implemented and parameterized to de

[2020-05-07 08:38] JorenZ opened #23609 "Istio 1.5.2 WASM filters cause Envoy Ingressgateway crash when EnvoyFilter with multiple ConfigPatches is active (possibly browser-specific)"
**TL;DR: our Istio 1.5.2 Envoy ingressgateway started crashing once we gave it an EnvoyFilter with multiple ConfigPatches (but only when visiting from Firefox, not from Chrome/Safari). Removing two Istio 1.5 WASM EnvoyFilters from the cluster solved this.**

**Bug description**
We encountered reproducible crashes in the ingressgateway, where the Envoy pod dies and restarts:
* initial Istio 1.5.2 u

[2020-05-07 08:39] carolynhu opened #23610 "Install Istio 1.6-latest via istioctl got unknown filed "certmananger" error"
Install using this release: https://gcsweb.istio.io/gcs/istio-build/dev/1.6-alpha.51aa02587524736ebb7f194f679db08f7620308e/istio-1.6-alpha.51aa02587524736ebb7f194f679db08f7620308e-linux-amd64.tar.gz

Here is the error log:

[code]

[2020-05-07 09:09] #23609 closed

[2020-05-07 12:12] liamawhite commented on #11659
Yes, see https://istio.io/docs/setup/additional-setup/sidecar-injection/#more-control-adding-exceptions

[2020-05-07 13:05] adabuleanu commented on #23287
Are there any docs for integrating ELK/EFK with istio 1.5? Since Mixer is deprecated in 1.5, the only doc that speaks of such an integration https://istio.io/docs/tasks/observability/mixer/logs/fluentd/ is not relevant anymore. Can you point to such doc for Istio 1.5?

Also, since Mixer functionality is moved into Envoy proxies there does not look like Istio 1.5 provides a centralized log location

[2020-05-07 13:31] #23558 closed

[2020-05-07 13:43] mbrowne commented on #11659
@yuenwah That's what I ended up doing. Note that you have to put it on the pod template, not the job template or anywhere else, or the annotation won't do anything.  For example:

[code]

[2020-05-07 13:43] bedla commented on #10625
Hi,
I am unable to find any detail information in documentation how to add custom tag to `spanTags`. I also tried to extract current configuration using `kubectl get instance -n istio-system` but without luck (I am unable to locate the one with `metadata.name=default` as mentioned in configuration example here https://archive.istio.io/v1.3/docs/reference/config/policy-and-telemetry/templates/trace

[2020-05-07 14:15] howardjohn commented on #23610
This field has not done anything for many releases and was removed

[2020-05-07 14:17] bernardoVale commented on #23328
Same problem here

[2020-05-07 14:32] esnible commented on #23610
Duplicate of https://github.com/istio/istio/issues/23562 and fixed by https://github.com/istio/istio/pull/23587

[2020-05-07 14:32] #23610 closed

[2020-05-07 14:34] esnible commented on #23610
BTW, I tested with `istioctl manifest generate --charts manifests -f ~/go/src/istio.io/tools/perf/istio-install/istioctl_profiles/default.yaml --set meshConfig.rootNamespace=istio-system` to confirm this isn't failing.  I see a different deprecation than you see, I am using the latest istio.io/tools.  If you are using an older one let me know.

[code]

[2020-05-07 14:41] esnible commented on #23565
This may be a duplicate of https://github.com/istio/istio/issues/22286 which is about "value failure" instead of "key failure".  Underlying probably may be the same.  Should I close one?  If we keep both open, I suggest whomever does this one look at solving both problems together.

[2020-05-07 15:06] seflerZ commented on #23298
The services within the mesh is discovered by Pilot and you can't visit internal mesh services without configure the Ingress Gateway. They're simply isolated.

[2020-05-07 15:23] nmittler commented on #23591
@linsun @GregHanson

@howardjohn and I chatted offline and we *think* making istiod cluster-local may be the right solution here. The only requirement is that istiod be accessed via ingress from all remote clusters (this is already planned to be the recommended solution for both single and multi-network in 1.6).

@stevenctl mind giving this a try to see if it works?

[2020-05-07 15:34] stevenctl commented on #23591
@nmittler I hacked it into https://github.com/istio/istio/pull/23208 and ran the test 3 times without failing. I'll give it a go on the GKE cluster as well.

[2020-05-07 15:35] howardjohn commented on #23381
Fixed by ^

[2020-05-07 15:35] #23381 closed

[2020-05-07 15:40] linsun commented on #23591
@stevenctl seems you are making istiod on remote cluster to be cluster local?  if so, that is reasonable.

Now, for the main cluster's istiod, do you need to make it cluster local?  BTW, we have central istiod coming (there is a flag centralIstiod that guards it)where users can configure remote plane not to run istiod.

Also, @stevenctl do you only see this prob with flat network?

[2020-05-07 15:44] stevenctl commented on #23591
@linsun This actually applies the same configuration to both clusters in the test. The main cluster is the only one that should need cluster-local istiod.

I haven't tested it in multinetwork, but I think things would function correctly since the remote cluster's istiod is unreachable by the main cluster's ingressgatway.

[2020-05-07 15:48] douglas-reid commented on #10625
@bedla which version of Istio are you using?

[2020-05-07 15:51] nmittler commented on #23591
@stevenctl I think we should make `istiod.istio-system...` cluster local in general. Let's split that out into a separate PR, though.

[2020-05-07 15:51] mandarjog commented on #23565
@esnible agreed we should solve both issues.

[2020-05-07 15:52] bfalese-navent commented on #23416
Same problem here, moving from HAProxy to Istio, my fix was:

'^[^/internal/]/inter.*\.html

Checks that does not start with /intertal/ before moving with the rule's positive part.

Hope it helps.

[2020-05-07 16:03] linsun commented on #23591
@stevenctl nice work @howardjohn and @nmittler!  This makes sense, I understood your issue wrong but got it now (hopefully!):  the prob is istiod on remote cluster pushes config to sidecar on the main cluster.

I think @hzxuzhonghu probably read it wrong as well.

[2020-05-07 16:49] sauldhernandez commented on #21340
I ran into this problem as well. I'm using UMA requesting party tokens and the scopes for the resources (which I want to validate in the policy) are nested as well:

[code]
I want to access the scopes in that structure but I'm unable to.

Will this be supported? Or should it be supported already and we ran into an issue?

[2020-05-07 17:09] ostromart commented on #23429
Fixed in https://github.com/istio/istio/pull/23596.

[2020-05-07 17:12] irizzant commented on #22220
Port 9200 is http, see [http module](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-http.html), it's also working fine.
Passthrough is occurring on 9300, see Kiali picture below showing that all the traffic is TCP:
![image](https://user-images.githubusercontent.com/15982257/81322572-7e7e7e00-9094-11ea-8438-118357d729c9.png)

I also don't get why I should change it to gener

[2020-05-07 17:29] jsalgado78 commented on #22463
Same issue with istioctl 1.5.2, on Docker Enterprise, RHEL 8.1, k8s version 1.14.8
It works fine after delete pod istiod

[2020-05-07 17:32] lambdai commented on #22217
Subtask: Add http sniffer on passthrough

[2020-05-07 17:33] esnible commented on #21741
Those instructions are no longer there.  The new instructions seem to be https://preliminary.istio.io/docs/setup/install/multicluster/shared/

[2020-05-07 17:37] ostromart opened #23615 "tpath code cleanup part2"
We made a good start to cleaning up tpath in 1.6 but some things are still outstanding:
- Mixing reflect with type assertions to discover types. The latter leads to code duplication, where you have essentially identical code to handle map[string]interface{} vs. map[interface{}]interface{}
- Plenty of places where code can panic. You've discovered a couple, there are probably more. The solution is

[2020-05-07 17:39] incfly commented on #22220
http works different. @irizzant Istio is able to see the HTTP host header and route to the correct outbound cluster (which has the client side TLS config), even if you are using pod ip for communication. TCP we can't inspect the payload for such protocol specific routing.

I have been talking with @hzxuzhonghu we might be able to add another headless service defintion on 9300 port and plus the `PI

[2020-05-07 17:51] linsun commented on #23495
@stevenctl has a fix for #23591 but I don't think it would fix the prob I have because I don't run istiod on remote cluster.  Regardless, I think we should apply cluster local for istiod service for main cluster to pick up the change as it can avoid issues with shared control plane with Istiod runs in both clusters.  cc @GregHanson

[2020-05-07 17:56] bedla commented on #10625
v1.3.8, but I was not able to find info about `tracespan`s in 1.5 docs too.

[2020-05-07 17:59] ostromart commented on #23303
I think we need to decide whether we want separate sets of resources for each GW or have them combined. If the latter, duplication is ok as long as it's consistent - apply will just write the same resource twice and no one will be the wiser. Thoughts @howardjohn ?

[2020-05-07 18:08] esnible commented on #21741
I was not able to complete the instructions.  The second control plane's ingressgateway never starts.  The logs suggest it can't talk to Pilot.

This is not the original problem.  @linsun are you still having the original problem?

[2020-05-07 19:19] costinm commented on #23582
Thinking about this more - I think if we fix the Secret naming so CertManager can be used 'out of box' - we can deprecate this. Even if CertManager doesn't add the extra controls - running a namespaced Issuer is equivalent with that this feature does - but using a user-visible API that users are already familiar with and we support ( for ACME ).

So +1 to deprecate/remove from Istiod, but we need

[2020-05-07 19:43] howardjohn opened #23616 "New test, TestExtractCACertExpiryTimestamp, is flaky"
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/2361

Trivial to reproduce locally, including a crash:

[code]

With https://godoc.org/golang.org/x/tools/cmd/stress: `162 runs so far, 86 failures`

[2020-05-07 19:44] howardjohn commented on #23616
@lucasvmiguel

[2020-05-07 19:59] tariq1890 commented on #23401
Can this issue be closed now?

[2020-05-07 20:00] ericvn commented on #22518
1.4.8 was released which shouldn't have the private dependency.

[2020-05-07 20:00] #22518 closed

[2020-05-07 20:18] ericvn commented on #20771
Currently the flakiness has become a 100% failure after upgrading to kind 0.8.0.

[2020-05-07 20:25] ericvn opened #23618 "Multicluster Testing Epic"
Epic to contain the changes needed for test framework for coverage of the new multicluster direction.

[2020-05-07 20:30] ericvn opened #23620 "Automate new release branch cutting"
What can we do to automate the steps used when cutting a new branch for a release.

An example Issue is here: https://github.com/istio/istio/issues/22078

[2020-05-07 20:31] istio-testing opened #23621 "[release-1.6] Tpath cleanup"
Manual cherrypick required.

#23596 failed to apply on top of branch "release-1.6":
[code]

[2020-05-07 20:32] ericvn opened #23622 "Improve Release Notes generation"
What can be done to help the release managers better scrape and create the Release Notes.

[2020-05-07 20:35] ericvn opened #23623 "Measure/Report Feature Coverage"
This Epic is a placeholder to contain the items related to measuring and reporting of feature coverage.

[2020-05-07 20:43] gargnupur commented on #23401
Yes.. closing.. please reopen if you see any other issues..

[2020-05-07 20:43] #23401 closed

[2020-05-07 21:01] stevenctl commented on #23591
So I'm thinking that as part of the solution we set the configured "discoveryAddress" for the cluster to be cluster-local.

In a scenario where we have 1 master cluster (a) and 2 remotes (b, c): both of those remotes will have an istiod-remote service. I'm wondering if we'd run into this issue, minus the impact, where b and c will intermittently use eachother's istiod-remote service. It doesn't re

[2020-05-07 21:14] ostromart commented on #21502
I think this is in a sufficiently good state now it can be closed.

[2020-05-07 21:14] #21502 closed

[2020-05-07 21:33] istio-testing opened #23626 "[release-1.6] Use CA bundle if provided via command args."
Manual cherrypick required.

#23612 failed to apply on top of branch "release-1.6":
[code]

[2020-05-07 21:36] jacob-delgado commented on #23626
cc @shakti-das

I'm unable to assign this issue to you as you are not part of the istio community. Please manually cherry-pick commit, link to this issue and tag @ramaraochavali on it for approval as well.

[2020-05-07 21:36] ostromart opened #23627 "Plugin flag for istioctl manifest/apply"
A couple of users have requested some way to customize installs without forking the code/charts. Some examples would be to generate custom resources based on the value of IstioOperator CR, or modify existing resources based on some external query logic (e.g. involving dynamic information about the cluster being installed into).
istioctl and operator both share component based generation logic, whe

[2020-05-07 21:44] ostromart opened #23628 "istioctl manifest usage stats"
istioctl manifest is likely used in a variety of ways, and users probably hit problems we are not aware of. The sorts of things we'd like to track include:
- execution times for different commands, especially install
- frequency of use
- errors (counts and outputs)
- parameters passed to commands (counts)
These could go into a local temporary file, with appropriate scrubbing of any sensitive info.

[2020-05-07 21:45] istio-testing opened #23629 "[release-1.6] Use labels and annotations from istio/api repo"
Manual cherrypick required.

#23393 failed to apply on top of branch "release-1.6":
[code]

[2020-05-07 21:47] istio-testing opened #23630 "[release-1.6] Make istioctl install output more user friendly"
Manual cherrypick required.

#23424 failed to apply on top of branch "release-1.6":
[code]

[2020-05-07 21:47] ostromart opened #23631 "Upgrade tests should be automated"
Current upgrade tests are quite limited - it's just a smoke test that traffic is received from an external client. They should be expanded to include dual control plane scenario, as well as increasing the complexity of the test case itself.

[2020-05-07 21:48] jacob-delgado commented on #23630
They just added the ability to create issues with cherry-picking.

[2020-05-07 21:49] jacob-delgado commented on #23629
They just added the auto creation of issues with cherry-pick.

[2020-05-07 22:00] myidpt opened #23632 "Istiod should enforce client-authentication for XDS on secure ports"
**Describe the feature request**
Today Istiod's XDS service doesn't check the client-side credential. Only the CA service requires it. Istiod should require client credential for XDS if the traffic is from the secure port. This will enforce the security posture when exposing Istiod XDS service to the outside of the cluster - attackers won't be able to get the XDS information from Istiod.

**Descri

[2020-05-07 22:11] myidpt commented on #23632
/cc @rshriram @costinm @nmittler

[2020-05-07 22:15] jstevans opened #23633 ""SignatureDoesNotMatch" when downloading istio-*.tar.gz"
**Bug description**

Attempting to download [istio 1.4.8-linux](https://github.com/istio/istio/releases/tag/1.4.8) or [istio 1.3.8-linux](https://github.com/istio/istio/releases/tag/1.3.8) gives some XML with "SignatureDoesNotMatch" -- I downloaded istio-1.3.8 last week, so this seems like a new issue.

[2020-05-07 23:12] ostromart commented on #23479
@sdake the operator does support multiple control planes. Let's discuss whatever you feel is missing.

[2020-05-07 23:20] carolynhu commented on #23610
This error got from the perf pipeline run yesterday, so it must be the latest 1.6 release. Don't know why still has error if this field is deprecated for a while.

[2020-05-07 23:21] carolynhu commented on #23610
@esnible Maybe should backport your fix to 1.6 release also?

[2020-05-07 23:58] ostromart opened #23635 "installPackagePath https path regression"
[code]
fails because the extracted dir has path /tmp/istio-install-packages/istio-1.6.0-beta.0/ instead of /tmp/istio-install-packages/istio-1.6.0-beta.0-linux/ as expected.

[2020-05-08 00:18] rshriram commented on #22536
Would you folks be willing to document the envoy filter thing in our wiki for others to use ?

[2020-05-08 00:23] ostromart commented on #23635
Another config that doesn't work, with controller:
[code]

[2020-05-08 00:49] mandarjog opened #23637 "V2 Telemetry: selectable metrics"
Make V2 metrics selectable.
At present it is *not* possible to stop collecting any metrics.
Distributions are expensive and customers may not want to use them all the time.

1. Make metrics selectable
2. Measure performance impact of removing distributions.

====
For 1.5 / 1.6 releases it may not be possible to do this, but it *is* possible to filter out metrics at Envoy.

At present we use the fo

[2020-05-08 02:00] mdhume commented on #21186
@howardjohn @therealmitchconnors Was there any update on this? We had a pilot memory leak issue recently. We are using istio 1.4.6. Unfortunately the pilot pods got OOM killed before we could get a heap dump so we don't have a lot of additional information at this time. So far not able to reproduce the issue.

[2020-05-08 02:14] williamaronli commented on #22677
meet a similar issue

the log like this：

- Processing resources for Istio core.
✔ Istio core installed
- Processing resources for Istiod.
- Processing resources for Istiod. Waiting for Deployment/istio-system/istiod
✘ Istiod encountered an error: failed to wait for resource: resources not ready after 5m0s: timed out waiting for the condition
Deployment/istio-system/istiod
- Processing resources f

[2020-05-08 02:39] hzxuzhonghu opened #23638 "TestReloadIstiodCert flakes"
This happened multi-times

https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/23602/unit-tests_istio/13135

[2020-05-08 02:51] shawnho1018 opened #23639 "DestinationRule cannot correctly select the global serviceentry label"
**Bug description**
I tried to follow this earlier blog to implement cross-cluster bookshelf workloads: https://istio.io/blog/2019/multicluster-version-routing/
I use a local sleep pod and it could successfully connect to the reviews.default.global. However, Kiali keeps reporting detecting failure of my destination rule, which has a match label (cluster: cluster2) with the global serviceentry.

**

[2020-05-08 02:53] hzxuzhonghu commented on #23591
Thanks for the explanation @linsun, got it now

[2020-05-08 02:54] hzxuzhonghu commented on #23591
I remember that there will be only one istiod in the primary cluster eventually.

[2020-05-08 02:59] Tharun-Sabbu opened #23640 "Issues related to Multi Cluster istio with Single Control Plane on multi network"
**Bug description**

Cross Cluster routing not working

[ ] Multi Control Plane

**Expected behavior**
Traffic should be routed to remote cluster applications

Istio Version: 1.5.2, helm way to setup with individual components instead of istiod

**Environment where bug was observed (cloud vendor, OS, etc)**

Using kops in  AWS environment

Detail Explanation of the Issue:

I was following multi cl

[2020-05-08 03:11] taylorreece commented on #23640
Hey @Tharun-Sabbu - I've not done much with istio for a few months, but from what I gather from recent docs, two things are probably important to note:

1. `helm` install of Istio is discouraged, and might be deprecated in favor of `istioctl` installs.  I bet helm charts are outdated; you're probably better off turning to istioctl.  See the note on the top of https://istio.io/docs/setup/install/he

[2020-05-08 03:18] hzxuzhonghu commented on #23640
cc @linsun @stevenctl maybe duplicate with what you have found

[2020-05-08 03:21] Tharun-Sabbu commented on #23640
Hey @taylorreece  - Thank you for the suggestions.

Yeah I've seen istioctl way for 1.5.2 however istiod component  with grafana dashboards doesn't play good I think as per the issues I've seen. However, I would love to move to istiod as the number of components will be reduced.

I was using istio 1.5.2, will that make any difference as I've seen those issues will be fixed in 1.5.1. Performance wa

[2020-05-08 03:28] hzxuzhonghu commented on #23640
https://github.com/istio/istio/issues/23495

[2020-05-08 03:48] Tharun-Sabbu commented on #23640
@hzxuzhonghu Is this setup working in v1.5.1, please let me know. Also I've see a bug, when I was using AWS load balancer, load balancer's defined in the istio configmap for cluster 1 and cluster2, they are being resolved to ip's and were loaded into pilot. Problem was if the ip's get changed they are not being reflected immediately, not sure if this a bug or am I doing something wrong

[2020-05-08 03:50] ramaraochavali commented on #23638
@hzxuzhonghu  I will take a look today

[2020-05-08 03:57] incfly commented on #22443
Oh now I remembered that I have added a check in the pilot agent to ensure the secret are mounted before we start the envoy, when developing auto mTLS.

[2020-05-08 05:02] #18293 closed

[2020-05-08 05:15] #14002 closed

[2020-05-08 05:17] Pradeepgittest commented on #8893
hi all,

We are having zipkin on a standalone vm currently with backend storage as elasticsearch. But now we want to remove that standalone and deploy zipkin as istio plugin container in our eks cluster ( we have istio running in our cluster btw). But then we dont have any option to configure elastic search as storage type. Any idea on how to do this ?

Thanks

[2020-05-08 05:49] sho-abe opened #23643 "istio-cni-node crash with Istio CNI and COS_CONTAINERD in GKE"
**Bug description**

The istio-cni-node DaemonSet does not start when Istio CNI and COS_CONTAINERD are enabled on Google Kubernetes Engine (GKE).
As a result, pods with sidecar enabled will not also ready because pods wait for CNI initialization.

I considered the repair-cni container of istio-cni-node failed to start with the error below.

[code]

**Expected behavior**

istio-cni-node starts corr

[2020-05-08 06:15] hzxuzhonghu commented on #23640
https://github.com/istio/istio/issues/23495#issuecomment-624261918 However, i didn't do a verification.

[2020-05-08 06:23] #22349 closed

[2020-05-08 09:30] ramaraochavali opened #23646 "SDS Agent fails to start when Proxy uses file mounted certs"
When Proxy uses file mounted certs, specified via ISTIO_META_TLS_SERVER_KEY (...) env vars, SDS agent fails to start with the error

[code]

**Expected behavior**

SDS Agent should start successfully without trying to provision workload certs for the proxy.

[2020-05-08 09:59] lucasvmiguel commented on #23616
I'm happy to look this issue, but I was not able to reproduce so far,

command that I'm running:
[code]
(in case CPU and memory is important for this test)
<img width="308" alt="Screenshot 2020-05-08 at 10 57 57" src="https://user-images.githubusercontent.com/7236505/81395018-d19b1400-911a-11ea-962c-f95d19d69e38.png">

[2020-05-08 10:44] GoelDeepak opened #23648 "Ingress config is ignored for Kiali and tracing in istio-1.5.2"
**Bug description**
Ingress is not created for Kiali and Tracing

[code]

**Expected behavior**
Ingress to get created

**Steps to reproduce the bug**
Looking at the code, it seems `ingress.yaml` is missing
https://github.com/istio/istio/tree/release-1.5.1-patch/manifests/istio-telemetry/kiali/templates

**How was Istio installed?**
istio-operator

[2020-05-08 11:02] hari-dmartlabs commented on #22463
I have the same issue with Istio 1.5.2 on GKE 1.15.9-gke.24. restarting Istio worked

[2020-05-08 11:35] #23638 closed

[2020-05-08 11:59] hzxuzhonghu commented on #22463
@hari-dmartlabs can you show your istiod logs?

[2020-05-08 13:26] ericvn commented on #20954
Same as #23631 ?

[2020-05-08 13:32] linsun commented on #23640
Could you please try on 1.5.1 @Tharun-Sabbu?  It is unclear if your issue is a dup of #23495 as you didn't exactly describe how endpoints are used for pods in cluster 2.

[2020-05-08 14:10] hari-dmartlabs commented on #22463
Unfortunately, I couldn't collect logs. But right after the restart, the istiod service just vanished. It was like someone had deleted it. And the deployments started failing since injection couldn't find the service.

I had to recreate the service to get things working.

Will get the logs if it repeats.

Quite a scare.

[2020-05-08 14:17] howardjohn commented on #23648
Seems like this should not have happened without a release notes, I thought we removed these in 1.6 only. I'll take a look. I recommend you follow https://preliminary.istio.io/docs/tasks/observability/gateways/#configuring-remote-access though

[2020-05-08 14:19] howardjohn commented on #23639
Does it actually not match or does kiali incorrectly report it doesn't match?

[2020-05-08 14:39] #22990 closed

[2020-05-08 15:31] irizzant commented on #22220
@incfly

ok thanks, that explains the reason why Pod IP traffic on 9200 works fine because it's http and 9300 is TCP.
So if I understand correctly, the directive to pass to Pilot is:

PILOT_ENABLE_HEADLESS_SERVICE_POD_LISTENERS | Boolean | true | If  enabled, for a headless service/stateful set in Kubernetes, pilot will  generate an outbound listener for each pod in a headless service. This  featu

[2020-05-08 15:32] GoelDeepak commented on #23648
Is it possible to still support the ingress option? We are really dependent on that functionality

[2020-05-08 15:36] woodliu opened #23651 "Manually inject sidecar failed while Automatic inject successfully"
**Bug description**
I use openshift 4.3, istio 1.5.2, and i install the istio CNI.
When automatic inject the sidecar, it is successful. But when i manually inject the sidecar ,it is failed, show error logs as:

Listening on 127.0.0.1:15001
Listening on 127.0.0.1:15006
Error connecting to 127.0.0.6:15002: dial tcp 127.0.0.1:0->127.0.0.6:15002: connect: connection refused
Error connecting to 127.0.0

[2020-05-08 15:41] rytswd commented on #23303
This was discussed in the #security channel in Slack. @costinm and @nrjpoddar kindly stepped in to share their view of separate SAs being the preference as of now. If no objection raised in the coming few days, I think I can work on backporting the same change in v1.5 and v1.6 sometime next week.

[2020-05-08 15:44] howardjohn commented on #23648
@GoelDeepak we do not want to support this option

* We recommend Gateway over Ingress (see linked doc above)
* This is user configuration, not installation options. You are 100% welcome to create an Ingress for these services yourself, but it does not belong as part of our install. See https://github.com/istio/istio/issues/22095 for more context on this

[2020-05-08 15:55] nmittler opened #23652 "Use the domain suffix consistently"
We currently have "cluster.local" scattered around the code base. Istiod is capable of overriding this domain suffix, but many areas of the code are hard-coded to "cluster.local".

We should go through the codebase and use the configured domain suffix consistently.  We'll also want better testing around the use of domain suffix.

[2020-05-08 16:07] howardjohn commented on #23616
Interesting.. I find its much easier to debug things you can reproduce so I gave it a shot in https://github.com/istio/istio/pull/23650

[2020-05-08 16:37] elfinhe opened #23653 "Istio 1.4 (installed by kubectl apply) cannot be upgrade to Isito 1.5"
**Bug description**
My Istio 1.4 was installed by piping `istioctl manifest generate` to `kubectl apply -f -`.

`istioctl148 manifest generate | kubectl apply -f -`

Then I use the manifest apply command to upgrade

`istioctl152 manifest apply`

Then I got this:

[code]

Errors in pilot discovery container
[code]

**Expected behavior**
Upgrade succeeds. Only ingress and istiod were there.

**Steps

[2020-05-08 16:43] howardjohn commented on #23653
This is sort of expected I think. kubectl apply doesn't prune, so the only pilot deployment stays around, but the clusterrole has changed. We expect the old pilot deployment to be removed

[2020-05-08 16:54] Tharun-Sabbu commented on #23640
Hello @linsun ,
Here are the commands I ran on both clusters and was able to get endpoints

This is what you are asking right?

[2020-05-08 16:56] elfinhe commented on #23653
note that the upgrade command is `istioctl manifest apply` not kubectl, so I expect it would prune all not-needed components in 1.5.

[2020-05-08 16:58] howardjohn commented on #23653
I missed that. We support helm -> helm and apply -> apply, but I don't think we support generate -> apply (as noted here) until 1.6

[2020-05-08 17:40] istio-testing opened #23656 "[release-1.6] Add a feature flag for se selecting pods"
Manual cherrypick required.

#23608 failed to apply on top of branch "release-1.6":
[code]

[2020-05-08 17:51] elfinhe commented on #23653
Related: https://github.com/istio/istio/pull/21355

[2020-05-08 18:20] carolynhu commented on #23610
The 1.6-release pipeline failure: https://storage.googleapis.com/istio-prow/logs/daily-performance-benchmark-release-1.6/1/build-log.txt

same issue.

[2020-05-08 18:22] kylebevans commented on #18672
I'm using 1.5.1, have applied an EnvoyFilter to a CLUSTER in the SIDECAR_INBOUND context, but when i watch the network traffic inside the actual service container (jira), it still has all lowercase headers.

**EnvoyFilter:**
[code]

**istioctl output:**

[code]

Am I doing something wrong?
Thanks

[2020-05-08 18:57] GoelDeepak commented on #23648
@howardjohn  Thanks for the info. Closing it.

[2020-05-08 18:57] #23648 closed

[2020-05-08 19:36] jamesmedice commented on #15122
In case of having a custom spring security '/oauth2/token'  running in a pod, exposed as a service as nodeport etc...
how would the istio policy be configured ? i have tried the url of /oauth2/token on the issuer, but it didn't work out !!!

[2020-05-08 20:16] liggitt commented on #22161
hoisting discussion with @howardjohn from https://github.com/kubernetes/enhancements/issues/1513#issuecomment-625988395:

@howardjohn:

If the allowed usages and trust characteristics of a `kubernetes.io/kube-apiserver-client` client certificate (as defined in https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/20190607-certificates-api.md#signers) works for your use case, it's fi

[2020-05-08 20:20] JimmyCYJ commented on #20954
Yes, we can close this one.

[2020-05-08 20:20] #20954 closed

[2020-05-08 20:57] hillbun opened #23661 "istio-1.5.2 injected pod's status become Init:CrashLoopBackOff"
**Bug description**

after running some times of period, injected pod's status become Init:CrashLoopBackOff

manage-5c9b544cf4-fm5kf                    0/2     Init:CrashLoopBackOff   37         19h

Name:           manage-5c9b544cf4-fm5kf
Namespace:      xxxx-prod
Priority:       0
Node:           node3/192.168.100.216
Start Time:     Fri, 08 May 2020 09:40:01 +0800
Labels:         app=manage

[2020-05-08 21:19] howardjohn commented on #22161
@liggitt I would agree, trust distribution is the main thing that held us back from making this our default option (currently we self sign a cert and distribute the root cert via a config map to every namespace).

Yes, this is a serving cert. Basically:

* `istiod` (the control plane) will create a CSR for `istiod.istio-system.svc` using legacy-unknown, and will start serving using this cert
* Whe

[2020-05-08 21:22] jcetkov commented on #19202
the root cause seems to be using `io.popen` in lua `envoyfilter` causing a deadlock

[2020-05-08 21:40] howardjohn commented on #22443
Update: if automtls is disabled, or we don't have ISTIO_MUTUAL destination rule, then this bug will not occur. Basically anything that gets secrets in clusters will cause this to occur.

In the process I found https://github.com/envoyproxy/envoy/issues/11120. It may be linked to the root cause

[2020-05-08 21:45] #23591 closed

[2020-05-08 22:00] mandarjog opened #23664 "V2 Telemetry Stats: Use OpenCensus"
Consider using OpenCensus library for exporting prometheus metrics.

At present Wasm metrics pipeline connects directly to the Envoy Pipeline.
Envoy is not dynamically configurable, which creates problems for `configurable metrics`. Changing distribution buckets is also not supported.

If Stats uses opencensus to export metrics (like stackdriver filters) it will solve these problems.

There are tw

[2020-05-08 22:02] mandarjog commented on #23664
@jplevyak @bianpengyuan One option is changing stats filter and another to add alternate destination in the Wasm Filter impl.

[2020-05-08 22:08] bianpengyuan commented on #23664
The other option, register necessary OC library function using FFI. Also this will require envoy expose istio standard metrics on a different port other than 15090.

Is the only motivation to support configurable buckets?

[2020-05-08 22:13] mandarjog commented on #23664
Config buckets, crazy metrics filtering and tag extraction.
I updated the description with port change info, it can be remapped by the istio-agent.

[2020-05-08 23:03] costinm commented on #22161
And if CertManager fixes 2 bugs / feature requests - policy and signing K8S
CRD - we can fallback to CertManager if k8s distro doesn't work.

Or at least provides a way to disable annotations and other uncontrollable
paths for signing.

We can also fallback to CertManager CertificateRequest - but better to have
a single crd to deal with.

On Fri, May 8, 2020, 14:19 John Howard <notifications@githu

[2020-05-08 23:04] costinm commented on #22161
Btw - trust distribution shouldn't require api change - just have to full
chain returned.

On Fri, May 8, 2020, 16:03 Costin Manolache <costin@gmail.com> wrote:

[2020-05-08 23:21] williamaronli commented on #22677
Find the root cause is that i set up the wrong hub and tag identifier. No issues anymore

[2020-05-08 23:25] blankley commented on #22068
Works on an individual service by attaching to SIDECAR_INBOUND, too.

[code]

[2020-05-08 23:30] howardjohn commented on #23661
Can you add the logs?

[2020-05-09 01:34] hzxuzhonghu commented on #23656
Let me file a backport pr manually.

[2020-05-09 03:10] hillbun commented on #23661
2020-05-08T04:12:44.538915Z     info    pickfirstBalancer: HandleSubConnStateChange: 0xc00030fc10, {CONNECTING <nil>}
2020-05-08T04:12:44.607054Z     info    pickfirstBalancer: HandleSubConnStateChange: 0xc00030fc10, {READY <nil>}
[Envoy (Epoch 0)] [2020-05-08 04:42:06.473][20][warning][config] [bazel-out/k8-opt/bin/external/envoy/source/common/config/_virtual_includes/grpc_stream_lib/common/confi

[2020-05-09 03:13] hillbun commented on #23661
service looks work properly
but pod status shows
 0/2     Init:CrashLoopBackOff

[2020-05-09 03:14] hillbun commented on #23661
almost all pods has this problem, I must delete them to resolve status errors

[2020-05-09 03:33] #23092 closed

[2020-05-09 03:34] istio-testing opened #23669 "[release-1.6] Support creation of CSRs using ECC based on root CA certs using ECC"
Manual cherrypick required.

#23226 failed to apply on top of branch "release-1.6":
[code]

[2020-05-09 04:04] enj commented on #22161
As anecdotal evidence, OpenShift uses distinct roots of trust for the CSR API and `serviceaccount/ca.crt` [1].

[1] https://github.com/openshift/cluster-kube-controller-manager-operator/pull/150

---

On the `istiod.istio-system.svc` serving cert bit:

Recently I have been thinking about having Kube itself provide a built-in short lived, auto rotated CA for the service network (similar to https://

[2020-05-09 04:50] hotjunfeng opened #23672 "Istio metric “istio_requests_total” does not include the requests in flight"
**Bug description**
Istio has several default metrics, such as `istio_requests_total`, `istio_request_bytes`, `istio_tcp_connections_opened_total`. Istio envoy proxy computes and exposes these metrics. On the [Istio website][1], it shows that `istio_requests_total` is a COUNTER incremented for every request handled by an Istio proxy.

We made some experiments where we let a lot of requests go thro

[2020-05-09 05:01] #17839 closed

[2020-05-09 05:05] #20483 closed

[2020-05-09 05:55] shawnho1018 commented on #23639
I tested the cross cluster traffic does not work. I think the tag does not
match correctly.

John Howard <notifications@github.com> 於 2020年5月8日 週五 下午10:19寫道：

[2020-05-09 09:44] knight42 opened #23673 "Cannot access pods without sidecar belong to a headless service even if auto mtls is enabled"
**Bug description**
We configure istio to use permissive tls mode, and I notice that a pod with envoy sidecar cannot access pods without sidecar belongs to a headless service even if auto mtls is enabled.

In addition, I found the following error in envoy access log:
[code]

Looks like that envoy sidecar still sends tls traffic to the target pods without sidecar which I think is not aligned with w

[2020-05-09 09:46] knight42 commented on #23673
/cc @hzxuzhonghu

May be related to #20231

[2020-05-09 10:06] hzxuzhonghu commented on #23673
FYI https://github.com/istio/istio/pull/21987

You can disable tls with a DestinationRule as a workaround

[2020-05-09 14:35] aymann90 opened #23674 "redirect from http to https ERR_TOO_MANY_REDIRECTS"
**Bug description**

[] Multi Cluster
[ X] Virtual Machine
[ ] Multi Control Plane

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**
istioctl versio 1.5.2
kubectl verstio 1.15.9

**How was Istio installed?**
using istioctl
**Environment where bug was observed (cloud vendo

[2020-05-09 16:46] knight42 opened #23675 "Cannot access headless service if its port is different from the targetPort"
**Bug description**
Envoy returns 503 if the port of the headless service is not the same as the targetPort.

**Expected behavior**
headless services should be accessible like other normal services.

**Steps to reproduce the bug**
Create a headless service whose port is different from its target port.

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm ver

[2020-05-09 17:31] jmazzitelli opened #23677 "[kiali] pilot no longer has a /version endpoint, switch over to istiod"
Prior to Istio 1.6, the pilot service had a version endpoint that clients can probe to determine what the control plane's version of Istio is - [Kiali uses this endpoint](https://github.com/istio/istio/blob/release-1.5/manifests/istio-telemetry/kiali/templates/configmap.yaml#L36). That service (and hence the version endpoint) has gone away. A new version endpoint exists in istiod service.

Thus, t

[2020-05-09 19:26] #23677 closed

[2020-05-09 22:08] emillg opened #23680 "Can't make HAProxy container working with Istio"
**Bug description**
I have a HAProxy container running in k8s. After injecting Envoy, it failed to send requests to another k8s service `mock-service`. The response code was 504 after 180s timeout.

Both the HAProxy and `mock-service` are running in the same namespace within the same cluster.

The HAProxy backend config looks like
[code]

**Expected behavior**
HAProxy can send requests to other k8

[2020-05-09 22:39] youest opened #23681 "Prometheus does not scrape if the http scheme is set"
Prometheus does not scrape the pods if the HTTP scheme is set.
The bug's only present if you install Istio using the Istioctl command, instead the helm chart works well.
I noticed a diff between the ConfigMaps

In the helm chart:
`
      - source_labels: [__meta_kubernetes_pod_annotation_sidecar_istio_io_status, __meta_kubernetes_pod_annotation_prometheus_io_scheme]
        action: keep
        re

[2020-05-09 23:11] yogeek commented on #22855
FYI : as indicated by @howardjohn in this [Slack discussion](https://istio.slack.com/archives/C37A4KAAD/p1589035761285000) the sidecarInjector has to be turned off as it is now embedded in istiod.
By doing so, the secret is not needed anymore and citadel can be disabled to use the one included in istiod.

[2020-05-10 00:47] mhite commented on #23680
Long shot, but can you rename your service without an underscore?

[2020-05-10 01:05] tvkit commented on #22463
@lei-tang  the rollout restart also worked for me

Deployed onto AWS using _kops_  with Istio 1.5.2 -- not an AKS managed cluster.

I noticed issues after a high WS saturation test with a shared _Gateway_ in _istio-system_ and many _VirtualService_  kinds within individual namespaces.  During my initial investigation, I noticed every pod within _istio-system_ had been recreated; however, the corre

[2020-05-10 05:02] #18371 closed

[2020-05-10 05:05] #20508 closed

[2020-05-10 07:57] swimablefish opened #23685 "Istio Operator can't set the Prometheus to use pvc"
**Bug description**

**Expected behavior**
The prometheus created by istio operator can be set to use pvc

**Steps to reproduce the bug**
Use the following yaml to generate manifest
[code]

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**
[code]

**How was Istio installed?**
IstioOperator

**Environment where bug was observed

[2020-05-10 08:28] fffffreedom commented on #23486
yes, i found the resource requirement for minikube， thks  @howardjohn

[2020-05-10 08:28] #23486 closed

[2020-05-10 10:35] huo4444 opened #23687 "why not add back pressure function in Istio"
why not add back pressure function in isito,such as ,based on response time and qps ,dynamic control the ingress perform action

[2020-05-10 10:40] emillg commented on #23680
@mhite Sorry that was a typo when modifying the config. I have updated it.

In our env the HAProxy container works well. But after injecting Envoy, looks like it can not reach `mock-service`.

Both the HAProxy and `mock-service` are running in the same namespace within the same cluster.

[2020-05-10 10:43] quinn opened #23688 "Gateways created by `istio manifest generate` do not have unique pod selectors"
istio version 1.5.2

[code]

[code]

given this operator:

[code]

All of the selectors use `app: istio-ingressgateway` rather than the name given here, so the pods in the two created deployments are not unique to the gateways.
![image](https://user-images.githubusercontent.com/3764/81497011-b3075b00-9289-11ea-8bf1-f367e7da0d44.png)

[2020-05-10 11:33] #20778 closed

[2020-05-10 12:39] davinkevin commented on #20547
Since 1.1, you have this merged: https://github.com/istio/istio/pull/10566

This seems to indicate there is a default retry policy. But the doc is saying the opposite which is hard to understand.

[2020-05-10 12:43] quinn commented on #23688
It seems like what i was looking for was "labels" in GatewaySpec.

[2020-05-10 13:02] sdake opened #23689 "Provide integrations for the delopment environment with various editors"
**Describe the feature request**
Integrate the development environment with various editors including the ability to
- build the software using the build container
- debug software built in the build container
- support for Linux and macOS platforms
- support for ssh based filesystem (sshfs) if possible (this is a secondary goal)

**Describe alternatives you've considered**
Currently, there is no

[2020-05-10 13:05] quinn commented on #23688
That didn't seem to work. I updated the original manifest in the issue description to match. Here is the template I'm referring to:

https://github.com/istio/istio/blob/master/manifests/charts/gateways/istio-ingress/templates/deployment.yaml

To me, it looks like it would use the labels from the GatewaySpec (though the field there is labels, not label..)

[2020-05-10 13:13] quinn commented on #23688
Ok, I think I found it... in this file:

https://github.com/istio/istio/blob/master/manifests/charts/gateways/istio-ingress/values.yaml

The labels are in there. Can i somehow reference a different `values.yaml` for the `istio manifest generate` command?

[2020-05-10 17:33] rshriram opened #23691 "Treat external name services pointing to k8s as standard internal services"
**Describe the feature request**

The following is a pattern we observed in several enterprise environments (good or bad is a different question, but this is an existing k8s cluster without Istio):
 **Context**: Users have several environments in the same cluster. (e.g., prod-uat in ns1, ns2, ns3.. and prod-public in ns4, ns5, ns6). As part of the standard 12 factor design, all hostname references

[2020-05-10 22:04] incfly commented on #23691
This seems just a normal traffic splitting problem right? And the reason VirtualService/DestianationRule can't work, is it because customers staging/prod division are across namespaces, and our API addressing & selection by host does not work well with that?

If that's the reason, will [hierarchical namespaces](https://github.com/istio/api/issues/1205) be relevant?

[2020-05-10 22:25] padzikm opened #23692 "Can't connect to aws mysql rds via egress gateway"
Hi, I have mysql client inside mesh and external aws mysql rds. I can connect to mysql server with only service entry defined, but I can't connect after defining egress gateway. I' getting error from mysql client - ERROR 2013 (HY000): Lost connection to MySQL server at 'reading initial communication packet'. Below is my configuration, rds is hosted under database-2.cwbnoj5bvq8z.eu-central-1.rds.am

[2020-05-11 01:26] howardjohn commented on #23689
What part of IDE functions do not work currently? You shouldnt need the build container system to run tests or compile, are there other things people are doing?

[2020-05-11 01:28] howardjohn commented on #23687
We do provide a variety of backpresure mechanisms. See https://www.envoyproxy.io/learn/backpressure for example. You can set timeouts for example to back pressure on slow responses with various outlier detect rules

[2020-05-11 01:29] linsun commented on #23561
@irisdingbj can you take a look and see if you can own this?  Thanks!

[2020-05-11 01:31] howardjohn commented on #23672
Not an expert here, but the metric includes tags like response code, etc. I am not sure if would be possible to report these before the response has completed

[2020-05-11 01:46] igorcezar commented on #14598
Is there any updates on this? It would be great if Istio could get the secrets from the same namespace where the Gateway resource is instead of istio-system, just like Nginx Ingress does.

[2020-05-11 02:41] sdake commented on #23689
The development environment (which is a thin wrapper around the build container) is not required to run tests nor compile code nor debug, although it is helpful to have a consistent developer and CI behavior.

We do not wish developers to develop and test code on random variants of toolchains as this leads to inconsistent results when the source code is built by the same toolchain as is available

[2020-05-11 02:57] ImmortanJoe commented on #23487
@packyzbq Have you resolve the problem？I have the same question with you. I also use NodePort to expose port for istiod, and I modify the discoveryAddress of the istio-ingressgateway in the remote cluster , but it doesn't work.
[code]

[2020-05-11 03:11] johnzheng1975 opened #23694 "Istio proxy build environment always fail."
**Describe the feature request**
I am customize istio proxy (https://github.com/istio/proxy), from 1.0 to 1.4.
Now, for build 1.4, always fail.
【Note】For each build enviroment set up, from 1.0, 1.1, 1.3, always cost me a lot of time to make it done.
**So, could you help me to resolve 1.4 build issue?**

And, is there any docs about istio proxy make process / dependency?

I suggest to make istio pr

[2020-05-11 03:20] Sabyasachi2k commented on #11365
I do not think this is an issue. This is the expected behavior.  What you are trying to do in create an ingress gateway which has an internal IP. This means that it is not exposed outside your cluster. You cannot be hitting this from outside your cluster. And since there is no external IP the external IP is hence shown as <pending>. We use the same configuration and its working as expected. If you

[2020-05-11 03:49] jmyung opened #23695 "How to deploy application without sidecar, when istio-injection=enabled in namespace"
**Question the feature**

This is a question for _how to deploy application without sidecar, when `istio-injection=enabled` was already applied in namespace._
Is there any way to achieve this?

There must be application like helm tiller (installed in each namespace) which doesn't need sidecar proxy.

For example, the step would be like this. See below.

1. kubectl label namespace user01 istio-inje

[2020-05-11 03:51] carolynhu opened #23696 "Istio 1.7-alpha latest istioctl installation error"
Here is the perf pipeline installation error using 1.7-alpha latest istioctl:
https://storage.googleapis.com/istio-prow/logs/daily-nighthawk-performance-benchmark/3/build-log.txt

[code]

[2020-05-11 04:00] carolynhu opened #23697 "Investigate 1.6-latest perf cluster installation issue"
Here is the error log: https://storage.googleapis.com/istio-prow/logs/daily-fortio-performance-benchmark-release-1.6/1/build-log.txt

Might be boskos related, need to confirm with @clarketm

[2020-05-11 04:08] carolynhu commented on #23697
@clarketm Since we remove the benchmark_check presubmit job, it there a way to trigger benchmark_check job run on 1.6-release?

[2020-05-11 04:35] #23603 closed

[2020-05-11 04:53] stevenctl commented on #23487
Right now, exposing istiod via NodePort won't work for the shared control-plane multicluster model. Is there a reason you must use NodePort over IngressGateway with an external IP?

[2020-05-11 05:01] #17885 closed

[2020-05-11 05:12] myidpt commented on #14598
Sorry about the delay. We'll discuss this in the WG meeting this week.

[2020-05-11 06:41] kebe7jun commented on #23695
You should add a annotation for .spec.template.metadata.annotations with `sidecar.istio.io/inject: false`.
https://istio.io/docs/setup/additional-setup/sidecar-injection/#policy

[2020-05-11 06:43] ImmortanJoe commented on #23487
Thank you for your reply.
I verified some features on the local virtual machine, there's no loadbakancer.Could you tell me why can't I use NodePort?

---Original---
From: "Steven Landow"<notifications@github.com&gt;
Date: Mon, May 11, 2020 12:54 PM
To: "istio/istio"<istio@noreply.github.com&gt;;
Cc: "ImmortanJoe"<287214087@qq.com&gt;;"Comment"<comment@noreply.github.com&gt;;
Subject: Re: [istio/is

[2020-05-11 06:48] jmyung commented on #23695
@kebe7jun Thanks you !!!
It works ! 😄

[2020-05-11 06:48] #23695 closed

[2020-05-11 07:04] kangxiaoning commented on #22319
I also encountered the same problem. istio runs on the company's intranet, sorry for not being able to upload logs.

Provide the following information to help diagnose
[code]
The error occurred during the execution of `istioctl manifest apply --set profile=default --set hub=xxx --setvalues.tracing.jaeger.hub=xxx ...`, I only customized all the image hub address.

After installed, All pods are runn

[2020-05-11 07:11] stevenctl commented on #23487
You can use NodePort, but you need to set the port to the [discovery address](https://istio.io/docs/reference/config/istio.mesh.v1alpha1/#ProxyConfig). How did you obtain the port `31384` to use in your config? You can get it by running `kubectl --context=primary-cluster-ctx -n istio-system get svc istio-ingressgateway  -o=jsonpath='{.spec.ports[?(@.port==15012)].nodePort}'`, 15012 being the defau

[2020-05-11 08:24] hustshawn opened #23702 "[IstioOperator]The GatewaySpec labels attributes not working to generate istio manifest"
**Bug description**
I am using the IstioOperator to setup Istio 1.5.2, and I am trying to create multi-ingress gateway. But I found the label under the GatewaySpec does not work.
[code]

the labels for my internal ingress gateway are
[code]
but it seems does not take effect in the deployment of the manifest.
[code]

**Expected behavior**
I expect by setting the labels as described above, I am able

[2020-05-11 08:33] wangfakang commented on #22640
ping @howardjohn

[2020-05-11 08:39] tvkit opened #23703 "AWS kops cluster autoscaler - injected pods not scaling"
**Bug description**
Istio proxied pods not being distributed to newly allocated nodes, but instead languish in a seemingly perpetual state of _intolerance_; i.e, insufficient cpu.

**Expected behavior**
Pods would remain pending until the availability of newly joined nodes -- the observed, successful behavior of non-proxied pods.

**Steps to reproduce the bug**
Reference setup: [Kops: Kubernetes c

[2020-05-11 08:47] packyzbq commented on #23487
@stevenctl
According to what you say, remote cluster try to connect  main cluster 15012 port by default. How can I change the port so that the remote cluster can connect to the main cluster NodePort ?

[2020-05-11 09:08] ImmortanJoe commented on #23487
@stevenctl
[root@node1 ~]# kubectl  -n istio-system get svc istio-ingressgateway -o=jsonpath='{.spec.ports[?(@.port==15012)].nodePort}'
31384

The port is  right, The logs of the primary istiod:
[code]

Details in https://github.com/istio/istio/issues/23595

[2020-05-11 09:11] ImmortanJoe commented on #23487
@packyzbq
You could edit the deployment of the remote istio-ingressgateway.

`
       - --discoveryAddress
        - istiod-remote.istio-system.svc:{your port}
`

[2020-05-11 09:33] uc-dang-tiki commented on #23050
The reason is these pod has no istio-agent-init container, because I modify the mutatingwebhookconfiguration policy from fail -> ignore. This situation happen when my cluster overload, istio-sidecar-injector-agent overload -> cannot response the call from webhook -> cannot inject istio-init

[2020-05-11 09:33] #23050 closed

[2020-05-11 10:00] hzxuzhonghu commented on #23691
[code]

https://kubernetes.io/docs/concepts/services-networking/service/#externalname

It is not encouraged to use like this.  And also the tricky point is we have no way to know if this is an internal service wrapper.

[2020-05-11 10:07] packyzbq commented on #23487
I have tried but it didn't work. The logs of istio-ingressgateway is still as follows:
[code]

[2020-05-11 11:21] yaminisridaran opened #23705 "k8s has restricted psp to deploy non root user but istio init container run as root"
**Bug description**
Our k8s cluster has restricted psp to deploy non root user but istio init container run as root. Docker bench tool displays the complete pod runasroot warning. Can istio init container run as non root?

[2020-05-11 11:32] nea1 opened #23706 "istio-ca-root-cert configmaps not deleted when Istio is uninstalled"
**Bug description**
Istio creates a configmap `istio-ca-root-cert` in each namespace containing its root cert. When Istio is uninstalled these configmaps are *not* removed, and to completely remove Istio they must be manually deleted. Ideally Istio uninstallation should tidy up all of its resources without manual intervention.

**Expected behavior**

All Istio related resources should be removed w

[2020-05-11 13:08] hillbun commented on #23661
@howardjohn
Any advice to solve this problem? thanks.

[2020-05-11 13:26] esnible commented on #19355
@Jason-ZW Is there a standard/well-known way to do @ayj's step 1, marking CRDs as deprecated?  If so, we haven't done flagged any CRDs deprecated for 1.6.x.

The analyzers see the CRDs but it seems painful to write an analyzer that looks at every possible resource type.  I propose the "deprecated CR" analyzer just be hand-tuned each release to have the deprecated types as inputs, and merely warn a

[2020-05-11 13:52] esnible commented on #23705
The init container needs special permissions because it does some networking things ordinary users cannot do.  There is a way to run Istio so the init container is not needed.  Try that instead.

https://istio.io/docs/setup/additional-setup/cni/

[2020-05-11 13:53] howardjohn commented on #23661
The logs you added are not from the init container? it seems you are mixing two different issues here?

[2020-05-11 14:09] yaminisridaran commented on #23705
@esnible Thank You for your response. Is it possible to execute istio init container as non root?

[2020-05-11 14:10] esnible commented on #23633
I am having good luck with `curl --location https://github.com/istio/istio/releases/download/1.4.8/istio-1.4.8-osx.tar.gz > istio-1.4.8-osx.tar.gz`.  What are you using to download?

[2020-05-11 14:43] hillbun commented on #23661
this is istio-proxy logs.

is it not you want?

what do you mean init container?

[2020-05-11 14:52] esnible commented on #23705
Unless you set up CNI there will be an init container.  Istio's init container uses `iptables` to redirect pod traffic through Envoy.  `iptables` needs to run as root.  If your cluster does not allow init containers to run as root you'll need CNI to use Istio.

[2020-05-11 14:58] yaminisridaran commented on #23705
@ThankYou

[2020-05-11 14:58] yaminisridaran commented on #23705
@esnible Thank You

[2020-05-11 15:02] howardjohn commented on #23661
Istio creates an init container: https://kubernetes.io/docs/concepts/workloads/pods/init-containers/. This is what is failing. You can get the logs with `kubectl logs -c istio-init`

[2020-05-11 15:03] howardjohn commented on #23661
Specifically `Init:CrashLoopBackOff` means the init container failed

[2020-05-11 15:08] howardjohn commented on #22443
it seems the difference between 1.5 and 1.6 is that the client cert is sent in 1.6, but not 1.5. This linearizes the startup to enforce SDS is completed before XDS, which probably avoids some race condition inside envoy. I **think** its still possible to have the root cert still missing since we don't request it in the xds-grpc cluster, but probably much much more rare

[2020-05-11 15:16] ericvn commented on #23236
Still fails on 1.6.0-beta.1

[2020-05-11 16:40] esnible opened #23709 ""istioctl x describe" doesn't show RBAC rules"
To replicate,

[code]

(as of today the file _authz-a.yaml_ is unmerged, but it will be soon)

Then do `istioctl x describe productpage`

[2020-05-11 16:47] jpapejr commented on #17918
I'm writing a new FAQ for Apache Nifi based on some work a team at IBM did recently.. tl;dr is that they resolved this (on IBM Cloud) with

[code]

Where `eth0` was the interface pointing to the node ip and `lo` - was, well, localhost like Istio wants.

I'll post here again when I get the PR submitted. Happy to collaborate with others to make sure all angles are covered as I'm not a Nifi expert, n

[2020-05-11 17:08] ericvn opened #23710 "unknown field "galley" in v1alpha1.Values"
**Bug description**

Trying to follow examples on https://preliminary.istio.io/docs/ops/diagnostic-tools/istioctl-analyze/ and one is  `Enabling validation messages for resource status` which has the command `istioctl manifest apply --set values.galley.enableAnalysis=true`

This returns:
[code]

**Expected behavior**
No errors

**Steps to reproduce the bug**

**Version (include the output of `isti

[2020-05-11 17:16] #23705 closed

[2020-05-11 17:17] myidpt commented on #22918
Shared with you, Steven. #22384 is a good automation, though the PR itself requires improvements. Making it available in 1.7 makes sense to me.

[2020-05-11 17:18] #23497 closed

[2020-05-11 17:22] stevenctl opened #23711 ""valueOrDefault" not defined when using custom IstioOperator (-f) with manifest apply"
**Bug description**

With 1.6.0-beta.1:
[code]

With 1.5.1 it works fine:
[code]

[2020-05-11 17:31] esnible opened #23713 ""istioctl x describe" OSX warning "Do you want istioctl to accept incoming connections""
Since https://github.com/istio/istio/pull/23556 _istioctl_ does port-forward rather than Exec to talk to Envoy.

Port-forwarding listens on 127.0.0.1 and ::1 for a random port.

Hard-coding the local port reduces the problem, but may cause troubles if a user runs `istioctl x describe` or `x authz` at the same time -- only one will succeed.

`kubectl port-forward` doesn't have this problem at all,

[2020-05-11 17:31] istio-testing opened #23714 "[release-1.6] set discoveryAddress to be cluster-local by default"
Manual cherrypick required.

#23625 failed to apply on top of branch "release-1.6":
[code]

[2020-05-11 17:34] howardjohn opened #23715 "ingress SDS not getting secret updates"
Will add more info here later if I can reproduce it.

Running from 5f8807ad687837d85700f7fb49f1cb556b92ef86

I deployed a secret with cert-manager letsencrypt-staging. I later moved it to prod, resulting in the secret updating. However, the gateway used the old cert. I then deleted the secret and recreated it -- same thing, old secret.

I verified the cert in config_dump does not match the secret.

[2020-05-11 17:51] #23697 closed

[2020-05-11 18:00] ostromart commented on #23696
@richardwxn could you check if this affects 1.6 too? if so we need to fix it as a P0, otherwise it can be deferred to lower priority.

[2020-05-11 18:21] GregHanson opened #23717 "Better visibility on error messages returned by kube-inject"
**Bug description**
Performed `istioctl kube-inject` on a spec with `hostNetwork: true` which is mentioned in the docs here as item 2: https://istio.io/docs/ops/common-problems/injection/#the-result-of-sidecar-injection-was-not-what-i-expected

There is an error message [here](https://github.com/istio/istio/blob/master/pkg/kube/inject/inject.go#L724) but it gets hidden in the output returned:

[co

[2020-05-11 18:21] GregHanson commented on #23717
cc @esnible

[2020-05-11 18:31] jacob-delgado opened #23719 "istioctl/helm3 installation instructions for upgrades do not work with istio 1.4.x"
**Bug description**

Following the instructions at https://github.com/istio/istio/blob/release-1.6/manifests/charts/README-helm3.md when installing to `istio-canary` namespace I get the following error

```Error: admission webhook "pilot.validation.istio.io" denied the request: configuration is invalid: Envoy filter: unknown message type "udpa.type.v1.TypedStruct"```

**Expected behavior**

helm3

[2020-05-11 18:45] jacob-delgado commented on #23719
Updated since I ran into this issue following the upgrade instructions using istioctl.

[2020-05-11 19:47] esnible opened #23723 ""istioctl proxy-status <pod>" not working"
It works without the `<pod>`.

Perhaps we erred in merging https://github.com/istio/istio/pull/23543 ?  istioctl proxy-status <pod> seems not to be working.  I suspect the ?proxyID=%s.%s part isn’t being handled by Suffix().

cc @howardjohn

[2020-05-11 20:12] jstevans commented on #23633
Seems like it was a transitive issue -- I was able to download it yesterday. At the time, `curl`, Firefox, and Chrome all weren't working. Thanks!

[2020-05-11 20:12] #23633 closed

[2020-05-11 20:14] Eslamanwar commented on #7427
Is there any Annotation like
[code]
to white list certain CIDRs

[2020-05-11 20:35] brian-avery opened #23726 "[Istio 1.6] Issues with in place upgrade"
**Bug description**
The documentation for in place upgrades (https://preliminary.istio.io/docs/setup/upgrade/ ) links to the documentation for istioctl, which describes the `istioctl manifest` commands. It's not clear how to take these commands and use them with the upgrade instructions described in the document. `istioctl manifest apply --set profile=demo` (or any other profile) do not have any o

[2020-05-11 20:46] boatski opened #23727 "istio-security-post-install-1.4.6 fails with: the path "1" does not exist"
**Bug description**

The istio-security-post-install-1.4.6 job fails with the following error during a deployment of the Istio 1.4.6 helm chart:

[code]

**Expected behavior**

The istio-security-post-install-1.4.6 job executes successfully without error.

**Steps to reproduce the bug**

The standard 1.4.6 helm chart is deployed with the following configuration via Spinnaker (kubectl apply).

[cod

[2020-05-11 20:52] #23101 closed

[2020-05-11 20:59] jacob-delgado commented on #23719
@nrjpoddar Posted a solution which I've verified works with istio-1.6.0-beta.1

See https://github.com/istio/istio/pull/23194#pullrequestreview-399547413

[2020-05-11 20:59] #23719 closed

[2020-05-11 21:40] jpapejr commented on #17918
https://github.com/istio/istio.io/pull/7266 Is the work in progress PR.

[2020-05-11 23:04] #23616 closed

[2020-05-12 00:02] hillbun commented on #23661
deployment with Init:Error status:

prototype-549bcf6cc6-v87x5            0/2     Init:Error

kubectl logs --tail=50 -f prototype-549bcf6cc6-v87x5 -c istio-init -n  miop-prod
:PREROUTING ACCEPT [95064:5703840]
:INPUT ACCEPT [95165:5709900]
:OUTPUT ACCEPT [43666:2650522]
:POSTROUTING ACCEPT [43666:2650522]
:ISTIO_INBOUND - [0:0]
:ISTIO_IN_REDIRECT - [0:0]
:ISTIO_OUTPUT - [0:0]
:ISTIO_REDIRECT - [0:

[2020-05-12 00:06] hillbun commented on #23661
deployment with Init:CrashLoopBackOff status

mall-8578f56f5b-9pq4b                 0/2     Init:CrashLoopBackOff

:PREROUTING ACCEPT [95511:5730660]
:INPUT ACCEPT [95584:5735040]
:OUTPUT ACCEPT [44155:2686046]
:POSTROUTING ACCEPT [44155:2686046]
:ISTIO_INBOUND - [0:0]
:ISTIO_IN_REDIRECT - [0:0]
:ISTIO_OUTPUT - [0:0]
:ISTIO_REDIRECT - [0:0]
-A PREROUTING -p tcp -j ISTIO_INBOUND
-A OUTPUT -p tcp -j

[2020-05-12 00:10] esnible opened #23735 ""istioctl proxy-status <pod>" incorrect (?) diff"
To reproduce, a build with https://github.com/istio/istio/pull/23724 merged is needed.

Start bookinfo, `istioctl proxy-config productpage-v1-679f4bcbbb-tg4k5` (for example), it reports

[code]
... but it also reports big changes in the clusters.

[2020-05-12 00:25] elfinhe commented on #23726
Sounds like incorrect version of istioctl is used.

What's the output of `istioctl version`

[2020-05-12 00:31] brian-avery commented on #23726
1.6.0-beta.1

[2020-05-12 00:50] esnible commented on #23735
Adding `area/networking` because I'm seeing something strange.  When I ask Envoy for a /config_dump the dynamic active clusters are `"@type": "type.googleapis.com/envoy.api.v2.Cluster"` yet when I ask Pilot using /debug/config_dump?proxyID=%s.%s the dynamic active clusters are `"@type": "type.googleapis.com/envoy.config.cluster.v3.Cluster"`.

I can paper around that, but I want to confirm the beha

[2020-05-12 01:00] #23723 closed

[2020-05-12 01:23] istio-testing opened #23738 "[release-1.6] Add an Istiod-remote chart"
Manual cherrypick required.

#23548 failed to apply on top of branch "release-1.6":
[code]

[2020-05-12 01:37] #23626 closed

[2020-05-12 01:52] justinkillen opened #23740 "Egress Gateways with TLS Origination AND TLS passthrough"
**Bug description**

In the article 'Egress Gateways with TLS Origination' (https://istio.io/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/), there is no consideration for https request from the client pod.  Once the setup is complete, http request function correctly (e.g. 'http://edition.cnn.com/politics'), but https request hang for 3 minutes then times out:

[code]

In par

[2020-05-12 02:43] istio-testing opened #23742 "[release-1.6] cherry pick update webhook config for remote webhook url"
Manual cherrypick required.

#23649 failed to apply on top of branch "release-1.6":
[code]

[2020-05-12 03:00] linsun commented on #23738
close due to https://github.com/istio/istio/pull/23739

[2020-05-12 03:00] #23738 closed

[2020-05-12 04:19] richardwxn commented on #23696
@ostromart 1.6 is working fine but it appears in master only, I will take a look why that happens

[2020-05-12 04:26] #23675 closed

[2020-05-12 05:01] #17921 closed

[2020-05-12 05:51] pandey-adarsh147 opened #23746 "Performance issue with multiple ingressgateway"
**Bug description**
If one instance of ingressgateway serving 'x' number of request, then two instance should server '2x' number of request. Currently, it is serving 'x/2'. Number of request getting decrease to constant, doesn't matter how many number of instance I will increase. (gRPC request)

**Expected behavior**
If one instance of ingressgateway serving 'x' number of request, then two instanc

[2020-05-12 06:26] johnzheng1975 commented on #23694
Nobody answer me. I am sad.
However, I fix it out:
Way I: More official
[Steps]
Step 1: Checkout the exact code of Istio-proxy (tag: 1.4.6)
Step 2: Get build image from ..\istioproxy1.4\.bazelrc , pull the image
A bit strange: -ubuntu is not showed in code at all. However, we need add it manually.
docker pull envoyproxy/envoy-build-ubuntu@sha256:3ca8acc35fdb57ab26e1bb5f9488f37095f45acd77a126025104

[2020-05-12 08:09] kevinjom opened #23749 "[Helm] gateway deployment doesn't support to configure `terminationGracePeriodSeconds` and `lifecycle`"
**Describe the feature request**
Add support for configuring `terminationGracePeriodSeconds` and `lifecycle` for gateway `deployement`
**Describe alternatives you've considered**
`kubectl patch`

**Additional context**

[2020-05-12 08:34] gongwei0921 opened #23750 "When I use the domain name to access, I need to change the nodeport port and targerport on the ingress-gateway to be the same. Why? There is another problem. After modifying the nodeport, it can be accessed using the original nodeport. Is this a bug?"
**Describe the feature request**

**Describe alternatives you've considered**

**Additional context**

[2020-05-12 08:58] shamsher31 commented on #23710
`Galley` is now a part of `istiod`. So `enableAnalysis` is moved from `Values` to [IstiodConfig](https://github.com/istio/istio/blob/release-1.6/operator/pkg/apis/istio/v1alpha1/values_types.proto#L556)

So this
[code]
becomes this
[code]

[2020-05-12 09:05] jsalgado78 commented on #23298
Is it possible to configure Istio as a reverse proxy, like nginx proxy_pass, to route outgoing traffic inside pod to an external proxy ?
Istio documentation example (https://istio.io/docs/tasks/traffic-management/egress/http-proxy/) using ServiceEntry with TCP protocol bypass filters because of the proxy simply acts as a TCP tunnel.

[2020-05-12 09:45] ragunathan23 commented on #22068
Hi,
The above configuration is not working for me. I am using ISTIO 1.5.2. Please can you clarify "ratelimit.default.svc.cluster.local" is the actual service that running within the cluster?
 - Is there any default istio configuration has to be set for envoy filters to be working

[2020-05-12 09:59] ragunathan23 commented on #22068
Hi,
The above configuration is not working for me. I am using ISTIO 1.5.2. Please can you clarify "ratelimit.default.svc.cluster.local" is the actual service that running within the cluster?

- Is there any default Istio configuration has to be set for envoy filters to be working
- How do i verify envoy filters getting applied. I don't see any logs in the ingress gateway as well the service where

[2020-05-12 09:59] hustshawn commented on #19302
@vvbogdanov87 You may probably need to enable citadel as well, since citadel will automatically create the secret for you.

[2020-05-12 10:05] thanhlong9x commented on #22677
I meet a similar issue, too. @gorda Did you solve this issue?

[2020-05-12 10:33] GiannisSialmas commented on #20478
Hi guys, i dont know if my problem is relevant with this issue, but this is the issue that clicked most.

I currently have istio 1.1.0 installed on my production cluster. We have implemented an authorization adapter as a seperate microservice, to which we apply a rules.config.istio.io resource in which we describe which requests should pass from the authorization.

When i went to edit the rule to

[2020-05-12 11:54] adeepan opened #23751 "error: no objects passed to apply"
**Bug description**

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

**How was Istio installed?**

**Environment where bug was observed (cloud vendor, OS, etc)**

[2020-05-12 11:54] #23751 closed

[2020-05-12 12:19] zziawan opened #23752 "why istio Round robin load balance not work as expect"
when Round robin load balance set a pod  responsed many requests  then turn  the next pod  .  it should not be a pod respose one request, then turn  the next  ?  can any one give a clue , thanks!

[2020-05-12 12:43] wangfakang opened #23753 "Istio could supports multiple data planes? such as MOSN"
hello  all  @howardjohn @rshriram @seflerZ @hzxuzhonghu @linsun

Thank's Istio members for their great work on Istio, In the field of Service Mesh, Istio has become a standard control plane. So, [MOSN Istio WG](https://github.com/mosn/community/blob/master/wg-istio.md) also hopes that MOSN can be one of the standard data planes in the Istio. Currently, MOSN supports xDS, And tested pass all the sa

[2020-05-12 12:49] nejisama commented on #23753
+1

[2020-05-12 12:50] rootsongjc commented on #23753
And MOSN can go though the bookinfo sample now. It needs to work more deeply with the Istio community.

[2020-05-12 12:53] JackTroy opened #23754 "Multicluster installation failed with function "valueOrDefault" not defined"
**Bug description**
When doing multicluster installation following https://preliminary.istio.io/docs/setup/install/multicluster/gateways/,  it gives below error.

[code]
Error happens on  both1.6.0-beta.1 and 1.6.0-beta.0.

**Expected behavior**
Successful Installation

**Steps to reproduce the bug**
`>istioctl manifest apply  -f manifests/examples/multicluster/values-istio-multicluster-gateways.y

[2020-05-12 12:55] CodingSinger commented on #23753
+1, I think we need more sidecar options.

[2020-05-12 13:01] #23709 closed

[2020-05-12 13:25] esnible commented on #23754
I am seeing the same on beta.1 (and also on Master with `istioctl manifest apply -f operator/data/examples/multicluster/values-istio-multicluster-gateways.yaml`.)

[2020-05-12 13:27] angelovopsan opened #23757 "corsPolicy allowOrigin from virtualService not blocking curl requests from different origins"
**Bug description**
1.2.2/1.2.10/1.4.0/1.5.1/1.5.2/1.5.3/1.5.4/1.6.0 - allowOrigins not blocking curl requests from different origins. Security vulnerability scan has detected this. When I curl if a domain match I get it as  access-control-allow-origin: https://testthat.com, but if doesn't match I get  access-control-allow-origin: *. I am expecting the request to be blocked.

**Expected behavior**

[2020-05-12 13:34] #23042 closed

[2020-05-12 14:05] howardjohn commented on #7794
not stale

[2020-05-12 14:33] saturnism commented on #21280
`JSESSIONID` originates from the app server (in this case, tomcat).  If we use a different session ID, e.g., `ISTIOD`, and 2 cookies have different expirations, then...
1) if `ISTIOD` expires first, then user may be routed to a backend that doesn't have the session data, because `JSESSIONDID` is still active. This can cause issues.
2) if `JSESSIONID` expires first, then the user will be routed to

[2020-05-12 15:03] rshriram commented on #23691
Can’t we know by looking at the hostname in the external service ? If it points to a k8s service then we treat it as internal. If not, we treat it as external.

[2020-05-12 15:10] michelbieleveld commented on #22677
I resolved the issue by not having kubernetes api on port 443. Not sure if that helps.

[2020-05-12 15:12] cameronbraid commented on #22463
I get it too on istio 1.5.2 kubernetes v1.17.5 deployed with kubespray

If I delete a namespace and re-create it, the namespace doesn't have the secret created.  Reproduced it twice in a row.

[2020-05-12 15:18] cameronbraid commented on #22463
I should clarify, its when creating the namespace and about 20 other resources in the namespace with kapp deploy

[2020-05-12 15:20] cameronbraid commented on #22463
I got it to work by creating the namespace by itself, pausing, then deploying everything else into the namespace

[2020-05-12 15:35] vincentserpoul opened #23760 ""x509: certificate signed by unknown authority" when not using default namespace istio-system"
**Bug description**

**Steps to reproduce the bug**

Install istio in a different namespace:

[code]
Try to deploy any app, it will error with "x509: certificate signed by unknown authority"
If you use the normal istio-system, it works.

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

1.5.2

**How was Istio installed?**

se

[2020-05-12 16:22] howardjohn commented on #23760
Based on your command I am not sure where you are setting the different istio namespace?

[2020-05-12 16:23] boatski commented on #23727
Looks like this ended up being a Spinnaker issue with SpEL evaluation.

[2020-05-12 16:23] #23727 closed

[2020-05-12 16:29] howardjohn commented on #23754
@ostromart sounds like we are trying to template the IOP when we shouldn't?

[2020-05-12 16:29] istio-testing opened #23763 "[release-1.6] Apply --set flags using tpath instead of building tree"
Manual cherrypick required.

#23670 failed to apply on top of branch "release-1.6":
[code]

[2020-05-12 16:30] vincentserpoul commented on #23760
just fixed this, sorry, I copy pasted the fixed command

[2020-05-12 16:38] howardjohn commented on #23760
can you set `.Values.global.configNamespace` as well? To the same vlaue. We have improved this since then but looks like this is required in 1.5

[2020-05-12 16:41] howardjohn commented on #23742
https://github.com/istio/istio/issues/23742

[2020-05-12 16:41] #23742 closed

[2020-05-12 16:47] howardjohn commented on #23746
Are you using Istio 1.0.1? Or is this just the version of istioctl? Either way -- please upgrade to a more recent version

[2020-05-12 16:50] howardjohn commented on #23749
I would recommend taking a look at https://kustomize.io/ or overlays as part of istioctl install: https://preliminary.istio.io/docs/reference/config/istio.operator.v1alpha1/#K8sObjectOverlay for patching unsupported fields like this

[2020-05-12 16:50] vincentserpoul commented on #23760
same issue it seems (restarted from scratch cluster in k3d)
[code]

[2020-05-12 16:58] williamaronli commented on #22677
Yes I have resolved it

michelbieleveld <notifications@github.com>于2020年5月12日 周二上午8:10写道：

[2020-05-12 17:01] incfly commented on #22220
For 9300, The value is true, but the deployment 9300 is TCP service, and not headless, not http either. So the effect does not kick in. That's why I think we can declare additional service as headless to see if we can work around this.

For 9200 && fluentd, that's a bit weird. but we don't see an issue when elastic search is receiving request by curl against 9200, if I remember correctly. Could it

[2020-05-12 17:11] howardjohn commented on #23750
Can you please fill out the issue template with how you installed, what commands you ran that failed, and what you changed that ddin't work as expected?

[2020-05-12 17:11] ajitchahal opened #23767 "istio virtual service header exact match rule not working"
**Bug description**

The virtual service rule describes a http-> header->exact match rule, which is not enforced.
[code]

Gateway:
[code]

**Expected behavior**
Here I expect the request with authorisation header to fail:
[code]
**Steps to reproduce the bug**
Deployed a simple service with istio side car injected and mtls enabled.
Used a virtual service so that only the request with basic auth hea

[2020-05-12 17:13] howardjohn commented on #23754
duplicate of https://github.com/istio/istio/issues/23711

[2020-05-12 17:13] #23754 closed

[2020-05-12 17:15] richardwxn commented on #23696
was introduced by #23663 , would be fix by above revert PR

[2020-05-12 17:15] howardjohn commented on #23706
I think we can just document this as we don't actually have a proper `istioctl uninstall` command

[2020-05-12 17:20] ostromart commented on #23696
This seems like an important item to test for. Would it be possible to extend the e2e operator test to prevent this regression going forward?

[2020-05-12 17:37] torstenwerner commented on #21280
I believe both cookies are real session cookies by default. They expire at the same time – when you close the browser. The backend might implement an idle detection and that means the JSESSIONID based session state will be forgotten before the cookie expires (case 2). That cannot happen to the ISTIOID cookie because it is stateless.

[2020-05-12 17:37] #23713 closed

[2020-05-12 17:41] douglas-reid opened #23769 "Add e2e tests for cluster labels in multi-cluster scenarios"
Tracking bug: new (conditional) labels were added to telemetry for multi-cluster scenarios. They should be validated with e2e tests.

[ X ] Policies and Telemetry
[ X ] Test and Release
[ X ] Multi Cluster

[2020-05-12 17:48] rolandkool opened #23770 "CNI causing 30-40s delay when starting new pods"
**Bug description**
With Istio CNI enabled, pods often experience a 30-40s delay before starting with the init container.
The pod is created and shows a state of `Init:0/1` for 30 to 40s before continuing. The status of the init container is `PodInitializing`.

This delay affects our applications that need to rapidly scale up when load increases.

Looking at the Kubelet logs, the following is obse

[2020-05-12 18:20] ostromart opened #23773 "k8s overlays don't allow namespace to be set"
k8s.overlays path only looks for resources in the main namespace. This means that resources in user gateways in other namespaces and cluster resources can't be referenced.

[2020-05-12 18:24] sands6 commented on #23773
For example, here is the overlay:
[code]

[2020-05-12 18:25] sands6 commented on #23773
Here is the error:

[code]

[2020-05-12 19:21] esnible opened #23776 "restore 'istioctl authn' and have Pilot provide this information"
Authn information was removed in https://github.com/istio/istio/pull/22407

This was removed in support of https://github.com/istio/istio/issues/21821 because the information was wrong because Pilot's debug endpoint was using the CRs that are no longer present.

The information is needed for 'istioctl x describe' #23388 .  The documentation at https://preliminary.istio.io/docs/ops/diagnostic-tools

[2020-05-12 19:22] esnible commented on #21821
Closing in favor of https://github.com/istio/istio/issues/23776

[2020-05-12 19:27] esnible opened #23777 ""istioctl x describe" documentation uses removed CR authentication.istio.io/v1alpha1"
https://preliminary.istio.io/docs/ops/diagnostic-tools/istioctl-describe/#verifying-strict-mutual-tls

The `kubectl apply` produces

[code]

A replacement for the Policy could be

[code]

However, because of https://github.com/istio/istio/issues/23776 this section doesn't show anything useful.  Perhaps just replace this YAML in the docs and wait for that fix?

[2020-05-12 19:47] esnible opened #23778 "better instructions for "istioctl analyze""
The section https://preliminary.istio.io/docs/ops/diagnostic-tools/istioctl-analyze/#analyzing-live-clusters-local-files-or-both tells the user to run `istioctl analyze --use-kube=false a.yaml b.yaml`.

The user won't have those files and may not know what is going on.

I suggest we replace that line with `istioctl analyze --use-kube=false samples/bookinfo/platform/kube/bookinfo.yaml samples/booki

[2020-05-12 20:01] esnible opened #23779 "Component Introspection docs"
Using https://preliminary.istio.io/docs/ops/diagnostic-tools/controlz/

The doc says "Mixer, Pilot, and Galley all implement the ControlZ functionality" and this is confusing because there isn't really a mixer nor galley.  Everywhere it says "Mixer, Galley, Pilot" it should say "Istiod".

[2020-05-12 20:07] howardjohn commented on #23715
Another example:
[code]

config dump clearly shows httpbin-credential is present

[2020-05-12 20:13] istio-testing opened #23780 "[release-1.6] Remove --wait flag in install and upgrade"
Manual cherrypick required.

#23772 failed to apply on top of branch "release-1.6":
[code]

[2020-05-12 20:17] howardjohn commented on #23715
This doesn't happ[en 100% of the time. Wrote a simple script to verify:

[code]

[2020-05-12 20:32] elfinhe commented on #23726
mind trying this below?

[code]

basically `isitoctl -f` only takes IsitoOperator CR file as input.

[2020-05-12 20:37] howardjohn commented on #23779
There is still a mixer, just not the others

[2020-05-12 20:42] esnible opened #23782 "Envoy terminates if user follows "Customizing Istio Metrics""
Using 1.6.0-beta.1 the instructions caused me to crash my pods and put them into a `CrashLoopBackOff` state.

Step 3 says to use a text editor and "locate the envoy.wasm.stats extension configuration."  I found three such examples.  I modified the first one.  After my step 4 changes, it looks like

[code]

(This was somewhat tricky because YAML requires extra spacing.  I believe I got it right.)

[2020-05-12 20:45] brian-avery commented on #23726
Looks like it mostly worked that way:

[code]

So a couple of questions:
* Should the `proto: tag has too few fields: "-"` be present?
* what's the best way to override for the 404 for testing of a beta?

In terms of the docs:
* Does this mean we support both istioctl and operator and not just istioctl?
* Can we document how to use this with istioctl?

[2020-05-12 20:53] esnible commented on #23779
Good point!  Should it say "mixers"?  Because there are two.  Maybe it should say "Telemetry Mixer and Policy Mixer"?

I installed with

[code]

to get these mixers.

[2020-05-12 20:56] howardjohn commented on #22463
I have both a fix and a reproducer. Fix: https://github.com/istio/istio/pull/23783

To reproduce, modify the istio-leader configmap and change holder identity to something else. After a minute or so everything will be broken

[2020-05-12 21:06] howardjohn commented on #22874
Upgrade notes in https://github.com/istio/istio.io/pull/7275/files
In cluster operator in https://github.com/istio/istio/issues/23479

So I think this is safe to close out for now. If anyone does experience issues during upgrade please open an issue and mention me. Thanks!

[2020-05-12 21:06] #22874 closed

[2020-05-12 21:15] madan522 commented on #23767
+1

[2020-05-12 21:18] howardjohn commented on #23770
Not an expert here, I wonder if `hostname: Host name lookup failure` is making something hang though. Might be intersting to compare the log of a fast pod to a slow pod?

[2020-05-12 21:26] howardjohn commented on #23767
I think the issue is `fault` is not working here. If I set the host to `bogus` on the unauthorized one this works

[2020-05-12 22:21] howardjohn commented on #23767
The config is not correct. `percent` should be `percentage`.

Like

[code]

This is a bit annoying that we don't give any indication about this error. In Istio 1.6 we would catch this though

[2020-05-12 22:23] howardjohn commented on #21934
I think this can be considered complete in 1.6

[2020-05-12 22:23] #21934 closed

[2020-05-12 22:24] howardjohn commented on #22780
https://preliminary.istio.io/docs/ops/integrations/prometheus

[2020-05-12 22:24] #22780 closed

[2020-05-12 22:24] howardjohn commented on #22781
https://preliminary.istio.io/docs/ops/integrations/grafana/

[2020-05-12 22:24] #22781 closed

[2020-05-12 22:24] howardjohn commented on #22782
https://preliminary.istio.io/docs/tasks/observability/distributed-tracing/zipkin/

[2020-05-12 22:24] #22782 closed

[2020-05-12 22:24] howardjohn commented on #22783
https://preliminary.istio.io/docs/tasks/observability/distributed-tracing/jaeger/

[2020-05-12 22:24] #22783 closed

[2020-05-12 22:25] howardjohn commented on #22784
https://preliminary.istio.io/docs/tasks/observability/kiali/ is needs more info about intergrating with existing deployment

[2020-05-12 22:25] howardjohn commented on #22785
All of the components are closed now, except Kiali which needs minor changes to the doc. Dropping to p1 as a result

[2020-05-12 22:26] howardjohn commented on #22443
This is mitigated now, droppign priority. This issue is now about tracking the root cause to get a proper fix

[2020-05-12 22:30] myidpt commented on #22443
Thanks John, we also need to change the istiod client auth strategy to make sure https://github.com/istio/istio/pull/23666 doesn't break the custom CA. Let me know if you want me to handle that.

[2020-05-12 22:37] justinkillen commented on #23740
Okay, I think I have it working.  Proposed update for the docs:

[code]

[2020-05-12 23:04] howardjohn commented on #18176
Closing as this issue is for an unsupported and require info to debug is missing. Please open a new issue if you see more issues. Thanks!

[2020-05-12 23:04] #18176 closed

[2020-05-12 23:08] howardjohn commented on #17980
These options can now be configured as part of first class APIs in Istio 1.6. See https://deploy-preview-7242--preliminary-istio.netlify.app/docs/ops/configuration/traffic-management/network-topologies/ for docs.

If I misunderstood the issue and that doesn't actually resolve this let me know

[2020-05-12 23:08] #17980 closed

[2020-05-12 23:22] howardjohn commented on #8076
I am fairly sure envoy doesn't actually support the rewrite to `""`, so the change would likely need to live there

[2020-05-12 23:25] howardjohn commented on #20776
Closing this as it appears answered/abandoned

[2020-05-12 23:25] #20776 closed

[2020-05-12 23:25] howardjohn commented on #19056
Closing as this seems abandoned. Please reopen if you can provide additional info ^

[2020-05-12 23:25] #19056 closed

[2020-05-12 23:26] howardjohn commented on #19968
I beleive this is fixed in 1.5+ as we no longer creating this config as part of the install. See https://github.com/istio/istio/issues/22095

[2020-05-12 23:26] #19968 closed

[2020-05-12 23:27] howardjohn commented on #20733
This should be fixed in 1.4+ now. If you still see this issue on these versions, please reopen/open another issue. Thanks!

[2020-05-12 23:27] #20733 closed

[2020-05-12 23:28] howardjohn commented on #21262
Closing as this has been resolved by password ^

[2020-05-12 23:28] #21262 closed

[2020-05-12 23:30] howardjohn commented on #22292
I think this is the same as https://github.com/istio/istio/issues/22463, lets track there. Thanks!

[2020-05-12 23:30] #22292 closed

[2020-05-12 23:32] howardjohn commented on #22309
I see, yes this is actually a bug with `global.k8sIngress.enableHttps=true`. This has been fixed in #22227

[2020-05-12 23:32] #22309 closed

[2020-05-12 23:34] #22476 closed

[2020-05-12 23:35] howardjohn commented on #22702
you could use https://github.com/istio/istio/tree/master/samples/custom-bootstrap

[2020-05-12 23:36] howardjohn commented on #23305
You can change the log level by adding `--log_output_level=warn` to the deployment, sorry my previous comment was incorrect. In 1.5 and 1.6 this log will no longer be present either. As we have fixed this on the latest versions, I will close this. Thanks for the report!

[2020-05-12 23:36] #23305 closed

[2020-05-12 23:37] howardjohn commented on #23162
@yankunsam I am not sure we can make any forward progress on this without the logs from istiod

[2020-05-12 23:38] howardjohn commented on #23410
Closing as we do not have the required info to debug this further

[2020-05-12 23:38] #23410 closed

[2020-05-12 23:39] howardjohn commented on #23481
In 1.6 these types of settings will be configurable: https://deploy-preview-7242--preliminary-istio.netlify.app/docs/ops/configuration/traffic-management/network-topologies/

[2020-05-12 23:41] howardjohn commented on #23523
This was resolved offline, seems like there was a stale ServiceEntry allowing access

[2020-05-12 23:41] #23523 closed

[2020-05-12 23:43] howardjohn commented on #23752
@zziawan I am not sure what you mean, can you give an example of the incorrect behavior?

[2020-05-12 23:47] howardjohn commented on #6070
I believe this is fixed by https://github.com/istio/istio/pull/22118 - please reopen if that is not accurate

[2020-05-12 23:47] #6070 closed

[2020-05-12 23:48] howardjohn commented on #8478
Given we are moving away from MCP source I don't think this is required anymore

[2020-05-12 23:48] #8478 closed

[2020-05-12 23:50] howardjohn commented on #8807
@skolenkin I don't think there are plans to cherrypick to 1.5. While its likely safe, changing behavior in a late patch release is discouraged. Since https://github.com/istio/istio/pull/20870 has fixed this I think this can be closed

[2020-05-12 23:50] #8807 closed

[2020-05-12 23:52] howardjohn commented on #9063
Given galley is removed I think  this is no longer relevant

[2020-05-12 23:52] #9063 closed

[2020-05-12 23:53] howardjohn commented on #7679
Does https://github.com/istio/istio/pull/23292 fix this or is it just a part of it?

[2020-05-12 23:56] howardjohn commented on #10174
In telemetry v2 this is now "unknown" which seems intentional - is there anything to do here?

[2020-05-12 23:58] howardjohn commented on #1756
I think this is considered done. We will track improving testing in https://github.com/istio/istio/issues/23473

[2020-05-12 23:58] #1756 closed

[2020-05-12 23:58] #983 closed

[2020-05-12 23:59] howardjohn commented on #11250
This is done in 1.6

[2020-05-12 23:59] #11250 closed

[2020-05-12 23:59] howardjohn commented on #11365
This is fixed in istio 1.6 as we only expose 3 ports. If you have custom configuration please ensure you do not have > 5 ports until support for this is added

[2020-05-12 23:59] #11365 closed

[2020-05-13 00:01] howardjohn commented on #12083
Given Istiod movement I don't think this is required

[2020-05-13 00:01] #12083 closed

[2020-05-13 00:03] howardjohn commented on #14049
This was completed

[2020-05-13 00:03] #14049 closed

[2020-05-13 00:04] howardjohn commented on #14636
This is now configurable: https://preliminary.istio.io/docs/tasks/traffic-management/ingress/kubernetes-ingress/#specifying-path-type

[2020-05-13 00:04] #14636 closed

[2020-05-13 00:09] howardjohn commented on #15450
I think this is fixed by #21108 as we share a cluster for everything now

[2020-05-13 00:09] #15450 closed

[2020-05-13 00:10] douglas-reid commented on #10174
@bianpengyuan do you recall if the `"unknown"` here was an intentional change, or a result of the logic in `stats` that sets `""` to `"unknown"` ?

[2020-05-13 00:15] justinkillen opened #23792 "NetworkPolicy block is bypassed during gateway TLS origination"
**Bug description**

During gateway TLS origination, deny NetworkPolicy is bypassed.

Based on https://istio.io/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/ with tweaks for client https -> gateway tls passthrough

**Expected behavior**

NetworkPolicy should be enforced

**Steps to reproduce the bug**

Apply these resources:

[code]

Now, create a utility pod in a separate n

[2020-05-13 01:08] hzxuzhonghu commented on #23691
There is no explicit difference between external and cluster service domain. Normally, internal service can be accessed with FQDN(`svcName.namespace.svc.cluster.local`), however it can be accessed by ``svcName.namespace.svc` or even `svcName` in some case.

[2020-05-13 01:13] bianpengyuan commented on #10174
@douglas-reid the latter. I cannot remember if there was any conclusion on this from meeting, but IMHO `unknown` should be good enough. Otherwise we will need to denote cluster generated from service entry and fill destination namespace based on that.

[2020-05-13 01:18] hillbun commented on #23661
@howardjohn

it seems that I run crontab in system cause this error
docker system prune -f

any solutions?

[2020-05-13 01:29] #23185 closed

[2020-05-13 01:49] cuber commented on #23753
+1

[2020-05-13 02:04] johnlanni commented on #23753
+1

[2020-05-13 02:06] thanhlong9x commented on #22677
@williamaronli Can you share it with me, please ?

[2020-05-13 02:22] kevin21th commented on #23753
I think providing more sidecar options is good for istio users

[2020-05-13 02:26] thefirstofthe300 opened #23794 "Improved mixerless telemetry support for non-GCP environments"
**Describe the feature request**
Mixerless telemetry currently doesn't appear to support either shipping metrics either from one project to another or from an environment outside GCP into GCP. We're building a single mesh across environments so having a single pane of glass for our clusters is important.

**Describe alternatives you've considered**
We'd like to be able to use the GCP toolset for o

[2020-05-13 02:58] howardjohn commented on #21572
Helm 3 is unofficially supported now: https://github.com/istio/istio/blob/master/manifests/charts/README-helm3.md

[2020-05-13 03:00] howardjohn commented on #23455
The istioctl installation was rebuilt from the old helm charts and is not 100% feature parity. This was mostly a documentation error - the lack of Ingress is desired. See https://github.com/istio/istio/issues/22095 for more context. We recommend following https://preliminary.istio.io/docs/tasks/observability/gateways/#configuring-remote-access to configure remote access to telemetry addons now.

B

[2020-05-13 03:02] ragunathan23 commented on #22068
@VinothChinnadurai could you help, how you sorted the rate limit. We have stuck with Istio with no response or no useful doc for configuring the rate limit using the envoy filter. The mixer based rate limit is deprecated and stuck with envoy filter.  We are not accessing any external service and trying to rate-limit the calls hosted within the cluster.

[2020-05-13 03:02] howardjohn commented on #14598
I think we discussed this in the last WG meeting and decided to not do this as there are major security implications to giving ingress gateway, which is exposed to public internet, cluster wide read access to secrets?

[2020-05-13 03:03] howardjohn commented on #23661
Seems like https://github.com/istio/istio/issues/19717

[2020-05-13 03:04] howardjohn commented on #23661
tl;dr don't remove the init container, its a quirk/bug in Kubernetes outside of Istio's control. Lets keep the discussion in https://github.com/istio/istio/issues/19717 to keep things in one place. Thanks!

[2020-05-13 03:04] #23661 closed

[2020-05-13 03:06] kevinjom commented on #23749
Thanks @howardjohn for the reply. I think its still good to have native support for these things, as these two fields are quite frequently used for any non trivial applications.  I will prepare a PR some time this week if you are happy to merge it. At the moment, I will also look at the tools you mentioned 👍

[2020-05-13 03:10] seflerZ commented on #23753
Istio is designed to be free all to data planes. However the current code is coupled with Envoy(especially the Envoy go-control-plane packages). That's why it's hard to move from xDS v2 to v3. If you want to support multiple data planes now. There should be a refactoring coming first and I strongly suggest to have this issue discussed in network meetings.

[2020-05-13 03:17] hobbytp opened #23795 "Envoy filter: unknown message type "envoy.config.transport_socket.tap.v2alpha.Tap""
**Bug description**
envoy proxy provides [traffic tapping](https://www.envoyproxy.io/docs/envoy/v1.13.1/operations/traffic_tapping) function, so I want to use envoyfilter to configure and then use it by using istio 1.5.1. Currently I have tried HTTP tap, it can work correctly. but I can not apply envoyfilter for TCP tap in both LISTENER and CLUSTER.  when I try the tcp tap, the istio validation ad

[2020-05-13 03:21] lidaohang commented on #23753
+1  I think we need more sidecar options，such as MOSN.

[2020-05-13 03:24] howardjohn commented on #23753
if MOSN fully implements XDS what special istio support is needed?

[2020-05-13 03:30] lic17 commented on #23753
+1 I think we need more sidecar options，such as MOSN.

[2020-05-13 03:41] champly commented on #23753
i think first should let pilot dynamic inject sidecar，such as
- [pilot-agent ](https://github.com/istio/istio/blob/c48c0b20f1b10c77f0af08ab8cc3fb6ec7caf8bf/pilot/cmd/pilot-agent/config.go#L165)  use annotation set binaryPath

[2020-05-13 03:42] mandarjog commented on #23782
@gargnupur can you take a look at this?

[2020-05-13 03:47] wangfakang commented on #23753
Thank you very much for your reply, we hope to achieve the following two points.

First `proxyv2` image contains the binary of `envoy` and `mosn`, and we colud choose one as the sidecar via the istioctl parameter `--set meshConfig.defaultConfig.binaryPath=/user/local/bin/envoy` or `--set meshConfig.defaultConfig.binaryPath=/user/local/bin/mosn` .

Second Is it possible to recommend `MOSN` as a dat

[2020-05-13 04:16] #15024 closed

[2020-05-13 04:17] howardjohn commented on #23792
This seems odd... What NetworkPolicy implementation is used? This seems like a bug there rather than in Istio if I am understanding this correctly?

[2020-05-13 04:20] williamaronli commented on #22677
1. I first run the

[code]

2. Then for debugging the istiod I run to get the detailed info
`kubectl describe pod istiod-5bcb74c764-n52gh -n istio-system`

3. Then I find that I wrongly set the hub and tag parameters(--istio.test.hub --istio.test.tag
) in my command

[2020-05-13 04:27] howardjohn commented on #9429
This is tracked in https://github.com/istio/istio/issues/13589

[2020-05-13 04:27] #9429 closed

[2020-05-13 04:30] howardjohn commented on #19719
Closing as this is fixed by https://github.com/istio/istio/pull/22554/files

@crhuber no you will need to use the matching version.

[2020-05-13 04:30] #19719 closed

[2020-05-13 04:31] howardjohn commented on #20116
This is supported in newer versions, please see https://preliminary.istio.io/docs/setup/install/istioctl/#configure-gateways. Thanks!