[2020-09-09 16:39] nmittler commented on #27155
I'm actually not sure we want to do this. Our golden 5-cluster topology is used to generate traffic from all clusters and tests that all combinations of control plane and network topologies behave normally from the perspective of each cluster in the mesh. If we make this also support the "external control plane" model, we'll lose a lot of test coverage due to the fact that in the "external" mode w

[2020-09-09 16:46] esnible commented on #27031
I don't know how to test this.  I don't know an XML server that supports `charset=`.

With Istio out of the picture, from my laptop, I did `curl -v -H "Accept-charset: utf-8" -H "Accept: text/xml;charset=utf-8" httpbin.org/xml` but the response was in `us-ascii`, not `utf-8`.

If I could get an XML test server running i the mesh that supported GBK and other charsets I could help triage this.  Do y

[2020-09-09 16:56] esnible commented on #27157
I am happy to write an analyzer for this.

I am uncertain what the exact triggering condition for the warning should be.  Any Gateway with httpsRedirect AND port 443?

[2020-09-09 17:00] IgorBrehm commented on #23100
IMPORTANT UPDATE: figured out how to properly configure the configmap when it is missing the fields for outboundTrafficPolicy.

Inside mesh you place the outboundTrafficPolicy field as such:

[code]

Then just reboot istiod pod and you're good to go. To test it, try running curl inside a pod with sidecar injected, trying to access an address that still does not have a ServiceEntry resource created

[2020-09-09 17:02] stevenctl commented on #27155
We'd have a few classes of clusters:
A. Primary, workloads get XDS from the in-cluster istiod, Istio config is read from this cluster.
B. Config, workloads read XDS from an istiod outside the cluster, an external istiod reads Istio config from this cluster.
C. Remote, workloads read XDS from an istiod outside the cluster, that istiod is not getting Istio config from this cluster
D. External istiod

[2020-09-09 17:04] IgorBrehm commented on #23100
I believe this issue may now be closed.

[2020-09-09 17:16] esnible commented on #26764
@tanjunchen You have assigned this issue to yourself.  Do you concur that it makes sense for Istio's injector to add `kubectl.kubernetes.io/default-container={.spec.container[0].name}` when injecting a pod with a single container?

Do you want to keep this issue or have it re-assigned?

[2020-09-09 17:29] raswinraaj commented on #27166
Thanks a lot @howardjohn for your quick reply. The above mentioned documentation was helpful. I followed as per the instructions. Issue is resolved. Thank you very much once again!

[2020-09-09 17:29] #27166 closed

[2020-09-09 17:35] bond007007 commented on #27168
The above issue is resolved with cidr

But with multi-master nd multi-worker node still facing the issue, still sidecar in not injecting.

Please help in resolving the above issue and Let me know if u need more info on the same

Thanks-

[2020-09-09 17:48] #26877 closed

[2020-09-09 18:00] stevenctl commented on #26798
I think this is fixed for single cluster, will wait a couple days now that it's re-enabled before closing this.

We still get some failures on http/grpc in multicluster mode. I think we're hitting limits on our test infra, can't replicate in GKE clusters.
[code]

[2020-09-09 18:02] howardjohn commented on #27168
Please follow the steps and post the results.

[2020-09-09 18:18] #25731 closed

[2020-09-09 18:34] linsun commented on #27157
Thanks Ed!

Yes, pretty much any config like this where `httpsRedirect: true` is used on HTTPS protocol, which is port 443 by default for our gws.

[code]

[2020-09-09 18:36] howardjohn commented on #27157
We shouldn't be so quick to write an analyzer IMO, lets first make sure we fully understand the problem and ensure Istiod is handling it correctly.

[2020-09-09 18:50] vngzs commented on #27083
Time has done us the favor of reproducing this bug in a lower environment. And I can see the config issue:

Here's the Envoy config snippet in question for a working setup:

[code]

And, on the broken environment:

[code]
[code]

[2020-09-09 18:57] howardjohn opened #27174 "xdsproxy spammy logs will lead to user confusion"
[code]

Users already get confused by the `warning envoy config    StreamAggregatedResources gRPC config stream closed: 14, transport is closing`, we are making it worse now. Would be good to clean this up.

@ramaraochavali @rshriram

[2020-09-09 18:59] howardjohn commented on #27128
At the start of the log there should be some output about the root cert that will be used. Can you compare that to the cacerts you provisioned and to `./var/run/secrets/istio/root-cert.pem` on the proxy?

[2020-09-09 19:01] howardjohn commented on #27139
Fixed by https://github.com/istio/istio/pull/27112

[2020-09-09 19:01] #27139 closed

[2020-09-09 19:04] howardjohn commented on #27165
What is `.Release.Namespace` set to? istio-system or `istio1`?

[2020-09-09 19:04] howardjohn commented on #27169
Are you configuring strict mTLS? if so, this is expected, as the clients will not send mtls

[2020-09-09 19:30] esnible commented on #27153
What is NDS?

[2020-09-09 19:42] esnible opened #27177 "'istioctl bug-report', when it doesn't work, is a mystery"
When I run `istioctl bug-report` (using my own build from master), no output happens for 83 seconds.

When it starts, consider outputting a message like "generating bug report" so the user knows it isn't waiting for input.
Unless there is some reason (such as doing many things in parallel) it should output the major phase it is in to show progress.  (Later we can have progress bars.)

After 83 sec

[2020-09-09 19:50] howardjohn opened #27179 "Support warnings in config validation"
Design doc https://docs.google.com/document/d/1A5ydzR7iNaiefUJWKVHE1IwqqrwYNx04-QC9nhcqknE/edit#heading=h.xw1gqgyqs5b

[2020-09-09 19:59] darkstarmv commented on #18169
@ramaraochavali @howardjohn i submitted pr for this https://github.com/istio/istio/pull/27181

[2020-09-09 20:08] kramvan1 commented on #19324
Still might be useful to have.

[2020-09-09 21:02] JimmyCYJ commented on #27109
@dntosas is this issue fixed? We are preparing 1.7.1 release note and there is concern regarding this fix here https://github.com/istio/istio.io/pull/8111#discussion_r485908628

[2020-09-09 21:10] esnible commented on #26938
Closed by PR https://github.com/istio/istio/pull/26812

[2020-09-09 21:10] #26938 closed

[2020-09-09 21:10] kenske commented on #26683
any workarounds for this?

[2020-09-09 21:38] nmittler commented on #27155
Wait, isn't that 6 clusters? You have 2 A's and C in network 1, and B, D, and C in network 2. I suspect we don't want to add more clusters at this point, given the impact on test times.

Also, I would just get rid of our classic remote altogether. We're alpha today and the type of remote isn't user facing, really.

[2020-09-09 21:41] stevenctl commented on #27155
I figured we'd need to add one to fit it all, but if we get rid of the "classic" that's great.

[2020-09-09 21:43] guyromb commented on #27034
I can confirm it happens also during installation with Istio Operator
[code]

[2020-09-09 21:59] dntosas commented on #27109
@JimmyCYJ yeap this issue seems to be fixed. Also made some manual tests with a fresh install and all worked as expected. If you think the release-note is not clear enough, we can change it accordingly ^^

[2020-09-09 22:21] howardjohn opened #27183 "Update workload entry causes duplicate address"
[code]

[2020-09-09 23:10] howardjohn opened #27185 "WorkloadEntry mis attributed to kubernetes service"
[code]

from config
[code]

It is getting attached to the wrong service

[2020-09-09 23:31] williamaronli commented on #27164
@myidpt could you take a look the customer seems to hope to enable ECDHE-ECDSA-AES256-SHA384 cipherSuite feature for supporting the

[2020-09-09 23:47] stevenctl commented on #25110
@dozer47528 I can't replicate the issue as originally described as of 1.7.0:

repro.yaml:
[code]

reproduction:
[code]

[2020-09-10 00:35] stevenctl commented on #25110
@feuyeux I can't replicate this as you're describing. Given the following yaml:

<details>

<summary>repro.yaml</summary>

[code]

</details>

I can reach both the WorkloadEntry and the Pod, via either of the Service or ServiceEntry hosts.

[code]

There are open issues regarding updates for existing ServiceEntry/WorkloadEntry: https://github.com/istio/istio/issues/27183  https://github.com/istio/

[2020-09-10 00:38] stevenctl opened #27187 "deleting a multicluster remote secret should remove endpoints from that cluster"
To make istiod discover endpoints in a remote cluster, we create a secret via `istioctl x create-remote-secret`. When that Secret is deleted, the expected behavior would be that the endpoints in that cluster are removed and we trigger a force-push.

fixed in #26899

[2020-09-10 00:40] #27187 closed

[2020-09-10 00:48] ostromart opened #27188 "No way to append to end of list using k8s.overlays in 1.6"
Using k8s.overlays.containers.[0].args to append to the list doesn't work for any of the following:
- k8s.overlays.containers.[0].args replaces the list
- k8s.overlays.containers.[0].args.[-1] not available in 1.6
- k8s.overlays.containers.[0].args.[list-len] generates an error
Need at least -1 to work for append. This is fixed in 1.7.

[2020-09-10 01:12] iandyh commented on #25110
This becomes tricky. I had a similar setup in 1.7.0:

[code]

The workloads are in the same namespace
[code]

But I had no endpoints pushed into Envoy sidecar:

[code]

[2020-09-10 01:19] iandyh commented on #27183
Thanks for the fix! Will have a look later.

Will this PR address issues described in pr #25110 ?

[2020-09-10 01:57] osswangxining opened #27189 "serviceCluster value cannot be overridden by adding the proxy.istio.io/config annotation"
**Bug description**

ProxyConfig defines variables for individual Envoy instances described from the document https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/#ProxyConfig

The field serviceCluster defines the name for the service_cluster of current Envoy proxy. The default value of this field serviceCluster is from  the  –service-cluster flag in Envoy startup command.

By adding

[2020-09-10 02:02] stevenctl commented on #25110
@iandyh  Interesting.. We have nearly identical config for the ServiceEntry. I just tested with only ServiceEntry and Pod, can't reproduce. Can you provide more information about your setup? Are you running multi-cluster, and if so is it multi-primary or primary-remote?

[2020-09-10 02:02] osswangxining commented on #27189
Shown from the source code /pilot/cmd/pilot-agent/config.go as below, it explicitly assigns the value of  –service-cluster flag to the proxyConfig.ServiceCluster.

Confusing why we cannot assign the value from annotation.

func constructProxyConfig() (meshconfig.ProxyConfig, error) {
	......

	proxyConfig.Concurrency = int32(concurrency)
	proxyConfig.ServiceCluster = serviceCluster
	// resolve sta

[2020-09-10 02:04] osswangxining commented on #27189
ask for help @hzxuzhonghu @howardjohn

[2020-09-10 02:30] howardjohn commented on #20123
This is implemented in https://github.com/howardjohn/pilot-load

[2020-09-10 02:30] #20123 closed

[2020-09-10 02:38] howardjohn commented on #21980
1.5 and mixer have came and gone.. seems like this is not needed anymore

[2020-09-10 02:38] #21980 closed

[2020-09-10 02:39] howardjohn commented on #22555
Obsolete in favor of https://github.com/istio/istio/issues/24667

[2020-09-10 02:39] #22555 closed

[2020-09-10 02:39] howardjohn commented on #22735
Obsolete, mixer is gone

[2020-09-10 02:39] #22735 closed

[2020-09-10 02:40] howardjohn commented on #22948
All linked issues are closed. Still not perfect but we are in a pretty good shape

[2020-09-10 02:40] #22948 closed

[2020-09-10 02:41] howardjohn commented on #23079
No longer true. Thanks @stevenctl !

[2020-09-10 02:41] #23079 closed

[2020-09-10 02:41] howardjohn commented on #23309
cc @carolynhu @richardwxn

[2020-09-10 02:43] howardjohn commented on #23951
Pretty sure this is fixed by #25711

[2020-09-10 02:43] #23951 closed

[2020-09-10 02:45] howardjohn commented on #24021
Related discussion in https://github.com/istio/istio/issues/25685

[2020-09-10 02:46] qijianbo010 commented on #27169
kind: MeshPolicy
spec:
  targets: ~
  peers:
    - mtls:
        mode: PERMISSIVE

[2020-09-10 02:47] irisdingbj commented on #27113
we already use copy and flag mix, right?  so this will not make the situation worse :)

[2020-09-10 02:51] howardjohn commented on #27113
Where is the mix?

On Wed, Sep 9, 2020 at 7:47 PM Iris <notifications@github.com> wrote:

[2020-09-10 02:53] #24294 closed

[2020-09-10 02:55] howardjohn commented on #25092
I don't think we can clean this up, nor is it providing much harm for us

[2020-09-10 02:55] #25092 closed

[2020-09-10 02:55] howardjohn commented on #25129
Solved by GCI

[2020-09-10 02:55] #25129 closed

[2020-09-10 02:57] howardjohn commented on #25333
The last thing I have found is `manifests/addons/dashboards/istio-performance-dashboard.json`

[2020-09-10 03:00] howardjohn commented on #25338
Fixed by https://github.com/istio/istio/blob/07232fcb2989492f68b76f92c4ac24c3ff986f1f/tools/packaging/packaging.mk#L41. We have tests for this now too.

[2020-09-10 03:00] #25338 closed

[2020-09-10 03:00] howardjohn commented on #25436
Lets just wait for v1

[2020-09-10 03:00] #25436 closed

[2020-09-10 03:00] howardjohn commented on #25391
Seems to no longer be flaky

[2020-09-10 03:00] #25391 closed

[2020-09-10 03:03] howardjohn commented on #26171
Not using envoy DNS anymore

[2020-09-10 03:03] #26171 closed

[2020-09-10 03:04] howardjohn commented on #26313
Fixed by https://github.com/istio/istio/pull/27096

[2020-09-10 03:04] #26313 closed

[2020-09-10 03:05] howardjohn commented on #26429
Seems above fixed it

[2020-09-10 03:05] #26429 closed

[2020-09-10 03:07] cocotyty opened #27193 "cacerts need validate"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

When cacerts exist, istiod or istioctl should check the validity of the cacerts.
Now any bad cacerts will accpected by istio, it's had to figure out why istio not work .
For example , if cacerts's **extendedKeyUsage** only contains **serverAuth** ,

[2020-09-10 03:31] irisdingbj commented on #27113
I mean we now have mutliple flags to control our install behaviour already, like: `enableCRDTemplates`, `configValidation`
and we have multiple charts at the same time. This is already a mix, right?

[2020-09-10 04:48] Niksko commented on #27032
@morvencao Does #23663 resolve the issue? Or do we still need work to do the server side apply?

[2020-09-10 05:03] xulingqing commented on #26656
where did you get the ip `52.24.252.78` ? Are you sure that is the ip you used for access the service?

Could you please check whether the `CLIENT_IP` got by curl `$INGRESS_HOST:$INGRESS_PORT` works well in your IP ALLOW list or DENY list?

Thanks!

[2020-09-10 05:06] nak3 commented on #23029
I don't know if it's useful information or not, but the the result of Istio 1.7+fixed image was significantly better than Istio 1.6.9, even though 1.6.9 is supposed to include https://github.com/istio/istio/issues/26983.

[2020-09-10 05:19] irisdingbj commented on #27155
for external istiod scenario, we needs only 3 clusters,  external control plane + config + remote.
I am totally fine to combine them into our current multi-cluster topology that we will have six cluster as described by @stevenctl in the description.   We can set up these 6 cluster in one single main_test.go and kick off all the testing.

But I am  not pretty sure whether all current pilot tests ca

[2020-09-10 05:33] faizanbashir commented on #26656
That is one of the IP's we are using to access the service.

[2020-09-10 05:46] krackjack29 commented on #27163
@howardjohn We would look to upgrade and see if it resolves. Thanks.

[2020-09-10 05:52] peter-fe commented on #27103
It would be great if we can get some details on this, we are using VM mesh expansion heavily since Istio 1.0.

It was pointed out that the recommended way of upgrading is to do revisions, but if that breaks the mesh expansion option it should get pointed out somewhere.
That would actually be a blocker for revision upgrades in expanded meshes.

If there are special steps to take to get expansions r

[2020-09-10 06:07] qijianbo010 commented on #27169
is not configuring mTLS

[2020-09-10 06:39] krackjack29 commented on #27163
Quick update we tried upgrading to istio 1.6.1 and found better logs, at least in the context.

`gRPC config for type.googleapis.com/envoy.api.v2.Listener rejected: Error add
ing/updating listener(s) 0.0.0.0_443: error adding listener '0.0.0.0:443': multiple filter chains with the same matching rules are defined`

[2020-09-10 07:17] morvencao commented on #27032
Yes, but we can only reapply https://github.com/istio/istio/pull/23663 until we drop support for k8s < 1.16.

[2020-09-10 07:35] morvencao commented on #27165
Duplicated with https://github.com/istio/istio/issues/26813
You have to set two extra namespaces vis old helm values:
[code]

[2020-09-10 07:56] shamsher31 commented on #27165
Thanks @morvencao .

That's what I found during debugging. I'm working on adding `values.global.istioNamespace` to metadata.

[2020-09-10 07:56] bond007007 commented on #27168
All the tests and checks are passed whatever mentioned in the document.

Still I can see only difference i show istio is working on single master and worker node cluster but on multi-master worker k8s cluster it is failing to inject sidecar, failed calling webhook "sidecar-injector.istio.io" : Post https://istiod.inject?timeout=30s: context deadline exceeded

Please let us know if any issue in ins

[2020-09-10 08:21] Shashankft9 commented on #21366
@howardjohn do we have an example servicemonitor to keep on scraping from the 15020 port of all the istio-proxy containers? like the one we have for 15020 port here: https://github.com/istio/istio/blob/release-1.7/manifests/charts/istio-telemetry/prometheusOperator/templates/servicemonitors.yaml#L42-L72

I removed this segment since in the istio-proxy container, this port is associated with the 15

[2020-09-10 08:40] luiof commented on #26632
Any news?

[2020-09-10 08:44] bond007007 commented on #27168
If I m using any proxy in api server then what are the prerequisites required to make side car injection work?

[2020-09-10 08:45] luiof opened #27201 "EnvoyFilter: is it possible to block some repeated requests with a token?"
Hi!
I need to unsterstand how to filter some requests.
This is the use case:
- An auth token makes a call to my microservice N times and it receives N times the 401 http code
- A the N+1 call, I need to return the code 429 Too Many Requests

Is it possible with envoy filter? I was thinking to use a lua script but it is unclear to how manage this case

[2020-09-10 08:55] axelgobletbdr opened #27202 "sidecar metrics disappear when runAsUser or RunAsGroup is 1337"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

When running a pod where the main container has a `securityContext` containing value 1337 in either `runAsUser` or `runAsGroup`, metrics like `isti

[2020-09-10 08:57] axelgobletbdr commented on #27202
[istio-dump.tar.gz](https://github.com/istio/istio/files/5200386/istio-dump.tar.gz)

[2020-09-10 09:06] tholcman opened #27203 "envoy.filters.network.tcp_cluster_rewrite doesn't work"
**Bug description**
We have followed https://istio.io/latest/docs/setup/install/multicluster/gateways/ to have multi-cluster mesh configured. Traffic is properly routed from source cluster to the remote one but the ingressgateway says:

[code]

It is probably connected to not-working EnvoyFilter which should replace global -> svc.cluster.local
[code]

if we check the proxy configuration, we see th

[2020-09-10 09:07] tholcman opened #27204 "envoy.filters.network.tcp_cluster_rewrite doesn't work"
**Bug description**
We have followed https://istio.io/latest/docs/setup/install/multicluster/gateways/ to have multi-cluster mesh configured. Traffic is properly routed from source cluster to the remote one but the ingressgateway says:

[code]

It is probably connected to not-working EnvoyFilter which should replace global -> svc.cluster.local
[code]

if we check the proxy configuration, we see th

[2020-09-10 09:25] guyromb opened #27205 "[1.7] k8s Ingress / Gateway returns 404 and not passing to service || Cannot get k8s Ingress to work together with Istio gateway/virtualservice"
**Bug description**

IngressGateway (k8s) / Gateway returns 404 and not passing to service/virtualservice. I have a multi gateways setup (private+public). Sometimes it works, sometimes not (http and https).

**UPDATE:**

After playing around for hours.. I could find the following pattern, but I do not how to fix it.
If we use:
ingressService: istio-ingressgateway-public
ingressClass: istio
ingress

[2020-09-10 09:38] #27203 closed

[2020-09-10 09:43] axelgobletbdr commented on #27202
This issue is also occuring on an openstack based cluster with ubuntu 20.04, k8 1.18.6, istio 1.5.10

[2020-09-10 09:55] yogeek opened #27206 "Error in https://git.io/getLatestIstio installation script : "sort: unrecognized option: version-sort""
**Bug description**

When trying to install the latest istioctl version in a docker alpine-based image:

[code]

the following error is displayed :

[code]

**Affected product area (please put an X in all that apply)**

[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[x] User Experience
[ ] Developer Infrastruc

[2020-09-10 11:00] xiaozhongliu opened #27207 "Calling a gRPC service results in status code 2: "No status received""
**Bug description**
Error occurs when calling a gRPC service which is behind the istio gateway:
![image](https://user-images.githubusercontent.com/17674404/92720206-defd2f00-f396-11ea-924b-bcb03052753e.png)

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and R

[2020-09-10 11:42] guyromb commented on #27080
I am facing the same issue on Istio 1.7, have a similar installation. I see you added a label istio: privateingressgateway. isn't different app label is enough? Could that be related?

My config is here:
https://github.com/istio/istio/issues/27205

[2020-09-10 11:43] bjwyun opened #27208 "Ingress gateway use case of HTTPS to HTTPS doesn't work."
installed by Service mesh operator 1.1.7
![image](https://user-images.githubusercontent.com/31024715/92723866-4669ad80-f39c-11ea-9f88-c2b3aca9b96a.png)

Two namespaces is used,
first is my nginx namespace:  ns1
second is istio-system.
purpose:
Https request from Webpage and using gateway pass it to nginx HTTPS port 443.

1. Webpage 443 to nginx HTTP 80 port, as HTTP of nginx is redirect to HTTPS p

[2020-09-10 12:24] yuanyiran opened #27210 "I can't get the version field when I query using the isto metric"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Extensions and Telemetry

**Affected features (please put an X in all that apply

[2020-09-10 14:31] gargnupur commented on #22068
@JaveriaK : you should check your config dump for ingressgateway to make sure the envoy filter patches are showing up there accurately. It could be a version mismatch between protos in 1.4 and 1.5 which could be causing this...

[2020-09-10 14:33] qijianbo010 commented on #27169
@howardjohn Any other suggestions?

[2020-09-10 14:49] howardjohn opened #27211 "xdsproxy results in latent bug being exposed again"
Context: https://github.com/istio/istio/issues/22443

Basically, if we don't reference the workload certs over SDS in the xds cluster, we can get into a race where they are never actually fetched (Envoy never sends request). This has been present since ~1.5, but no one worked on it since we worked around it by fetching the certs in the xds cluster (tl;dr hypothesis: this serializes the order so we

[2020-09-10 14:51] howardjohn commented on #27165
Why don't we just default rootNamespace when its not set?

[2020-09-10 14:58] bianpengyuan commented on #27201
You will need to set up rate limit service. Please take a look at this issue for some context: https://github.com/istio/istio/issues/22068

[2020-09-10 15:00] howardjohn commented on #27163
@krackjack29 can you give more info about the gateways/VS you have defined so we can reproduce and fix this? Also if you can get a config dump: https://github.com/istio/istio/wiki/Troubleshooting-Istio.

Thanks!

[2020-09-10 15:03] mpf90 opened #27213 "delete please"
not an issues

[2020-09-10 15:05] bianpengyuan commented on #27201
Would you mind to close this issue and track it in #22068? I think @gargnupur is working on that issue and it has more context.

[2020-09-10 15:34] laurentiuspurba commented on #25174
@Shashankft9 I just wanted to make sure I understand what you did.
So, basically, you edit kiali config map and update `url: http://prometheus.istio-system:9090` to `url:  http://prometheus-k8s.monitoring.svc.cluster.local:9090`, and then restart kiali pod(s) on `istio-system` namespace, right?

My situation is a little bit different, I used [K8sObjectOverlay](https://istio.io/v1.6/docs/reference/

[2020-09-10 15:42] rshriram commented on #27211
Can we delay envoy start until the XDS proxy has started?

[2020-09-10 15:55] howardjohn commented on #27211
@rshriram I don't think that will fix the issue. The problem is there is a bug in Envoy in SDS. My understanding is there is some issue (not sure what, probably related to https://github.com/envoyproxy/envoy/issues/11120) where if a dynamic cluster comes in requesting SDS we sometimes don't request SDS. Static cluster (xds-grpc) seems fine. If we have already fetched the secret with static cluster

[2020-09-10 15:56] #27213 closed

[2020-09-10 17:05] richardwxn commented on #26683
@kenske You need to specify the name of the gateway, it won't default to istio-ingressgateway or istio-egressgateway

[2020-09-10 17:12] AlexGS74 commented on #26923
In addition to all said above, It seems that `holdApplicationUntilProxyStarts: true` makes all health checks to stop working if you use `rewriteAppHTTPProbe: true`. It seems no matter what initial delay for the checks is set on the main container, k8s hits the proxy with livenes check 2 times, gets errors and never attempts health checks again (or I see no more log entries in the istio-proxy log o

[2020-09-10 17:14] nirvanatao opened #27216 "failed to connect headless service"
After upgraded istio from 1.6.5 to 1.6.9, if I enable strict mTLS mode globally then the PGPool would not be able to connect to the PostgreSQL, but in 1.6.5 it works well, I'm using bitnami/postgresql-ha chart, the logs from pgpool is:
`2020-09-10 17:13:33: pid 236: ERROR:  backend authentication failed
2020-09-10 17:13:33: pid 236: DETAIL:  backend response with kind '' when expecting 'R'
2020-0

[2020-09-10 17:36] 0dragosh commented on #21863
Same, would like to add `istiod` arguments. Any way that I can do it currently?

[2020-09-10 17:38] howardjohn commented on #26923
@AlexGS74 this is just a bug which has been fixed since https://github.com/istio/istio/issues/26873 so it likely will not impact our long term plans. Thanks!

[2020-09-10 18:17] nairb774 opened #27218 "Setting DestinationRule.caCertificates breaks cluster wide mTLS"
**Bug description**

Applying the following yaml seems to break all mTLS communication in the cluster:

[code]

It may take a minute or two for SSL errors like the following to start showing up:
[code]

If the `DestinationRule.caCertificates` attribute is not set, then communication within the cluster is not broken. Removing the `caCertificates` attribute is not usually sufficient to have the clus

[2020-09-10 18:22] linsun commented on #26923
Decision from networking WG mtg today: let's move to pod annotation first to allow users to easily configure it at pod level.

There is some brief discussion on mesh config and proxy config - https://github.com/istio/istio/pull/24737#issuecomment-645459510.   only proxy config supports pod level annotation today.

[2020-09-10 18:34] JaveriaK commented on #22068
@gargnupur yes the filter patches do show up on the ingress-gateway config dumps, but they fail to actually work. I'm inclined to believe the same, that it's due to a version mismatch. Anyhow applying filters on the sidecars works out better in my case as this is more scalable for multiple applications you are rate limiting in the same cluster.

Question, does the envoy ratelimiting service suppor

[2020-09-10 18:46] dinesh4747 opened #27219 "Does istio v1.6 support latest version of Kiali v1.23"
we are working on upgrading latest version of **kiali v1.23** and running with **istio mesh v1.6** and just wanted to check whether if its compatible

[2020-09-10 19:22] guyromb commented on #22068
@talha22081992 facing the same issue in 1.7

[2020-09-10 19:23] guyromb commented on #27219
I am able to work with Kiali 1.23 (also tested with Istio 1.7).
Note: they disabled the login auth, so you have to use anonymous or another method.

[2020-09-10 19:26] howardjohn opened #27223 "xdsproxy DNS does not work with curl"
[code]

Added some debug logging:
[code]

Seems like curl doesn't handle the CNAME perhaps.

[2020-09-10 20:48] #24058 closed

[2020-09-10 22:06] abhioncbr opened #27226 "Provided additionalContainers definition not properly implemented by Istio Operator."
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
I am providing `additionalContainers` configuration to the ingress-gateway for the demo profile. Installation is getting processed through the istio

[2020-09-10 22:37] howardjohn commented on #27216
Probably related to #25829? @hzxuzhonghu

[2020-09-10 23:29] howardjohn commented on #26982
https://github.com/istio/istio/pull/26985

[2020-09-10 23:29] #26982 closed

[2020-09-10 23:30] howardjohn commented on #26983
https://github.com/istio/istio/pull/26986

[2020-09-10 23:30] #26983 closed

[2020-09-11 00:35] yangminzhu commented on #27097
istiod will fetch and refresh the jwks every 20 minutes if it ever successfully fetched it once. In your case it looks like istiod never fetched it successfully and thus never refreshed it.

This can be improved by starting another job to retry the failed fetch more frequently in addition to the normal refresh job. By the way, you could also delete and re-apply the RequestAuthentication to trigger

[2020-09-11 00:43] yangminzhu commented on #24217
Your workaround is probably wrong. It actually opens all access in the mesh because it is applied in the `istio-system` namespace, which might happen to be the same as the root namespace (it could be different but needs some configuration). A policy root namespace will be applied to every namespaces, so your workaround is essentially allowing everything in your cluster.

[2020-09-11 00:49] yangminzhu commented on #27057
Hmm, I think this is probably some left-over in the code when we still had the v1alpha1 support, could probably be cleaned now.

[2020-09-11 00:57] yangminzhu commented on #26992
Just to make sure I understand this correctly, you expect to see 200 but you actually got 403?

Your authorization policy looks correct, I believe you also applied the corresponding RequestAuthentication right?

And could you enable the RBAC debug logging and get both the log and config dump to help debug why it is 403, thanks. (you could use `istioctl pc logs <pod.ns> --level "rbac:debug"` to qui

[2020-09-11 01:01] yangminzhu commented on #26984
it looks like istiod failed to talk to your jwks server due to timeout: `failed to fetch public key from https://myapp/jwks.json context deadline exceeded  client.timeout excceded while awaiting headers`, I would expect some a different and explicit error message if it's caused by the self-signed certificate.

Could you double check if your istiod is able to talk to your jwks server, you can try t

[2020-09-11 01:07] yangminzhu commented on #26884
istiod uses a different root CA when talking to your jwks server and has nothing to do with the https://istio.io/latest/docs/tasks/security/cert-management/plugin-ca-cert/. The plugin CA controls the root certificate used for the workload communications.

You could mount your extra root CA in `"/cacerts/extra.pem"` in istiod:
https://github.com/istio/istio/blob/bacafff4a18577b358b6514e97ea5f5a43e2

[2020-09-11 01:10] yangminzhu commented on #26423
I think the doc is now working: https://istio.io/latest/docs/reference/config/security/request_authentication/ and https://istio.io/latest/docs/reference/config/networking/sidecar/#WorkloadSelector, the workload selector in RequestAuthentication doesn't support matchExpression.

[2020-09-11 01:11] yangminzhu commented on #26423
where do you see these examples?

[2020-09-11 01:37] howardjohn opened #27234 "VMs without WorkloadEntry get "proxy is in cluster , but controller is for cluster Kubernetes""
I am not 100% sure no workload entry is the root cause, but seems like it is

[2020-09-11 01:50] howardjohn commented on #27208
This is expected, you cannot do tls routing since the gateway is terminating TLS.

[2020-09-11 01:51] yuanyiran commented on #27210
I can't get the version after I changed it to v2. How can I quickly upgrade from V1.2.2 to the latest isto version? Do you want to install the latest version of isto? Is the 1.6 version of isto available for deployment on kubernetes 1.14.2?

[2020-09-11 01:52] howardjohn commented on #27210
How does version even get populated from an environment variable? Shouldn't it be a label on the pod?

[2020-09-11 01:53] howardjohn commented on #27202
This is working as expected and documented at https://istio.io/latest/docs/ops/deployment/requirements/

[2020-09-11 01:53] howardjohn commented on #27202
Basically 1337 is reserved for our internal usage

[2020-09-11 01:54] yuanyiran commented on #27210
I added the label tag of pod and defined version
![image](https://user-images.githubusercontent.com/64528937/92841292-b4ea5200-f414-11ea-9a57-4e937950a0f7.png)

[2020-09-11 01:57] bjwyun commented on #27208
@howardjohn So do you have any ideas to solve this situation ?
should be
[code]

[2020-09-11 01:58] howardjohn commented on #27208
Yes use you first config with destination rule should work ok?

[2020-09-11 02:01] bjwyun commented on #27208
@howardjohn thanks. i'll try in this way
[code]

[2020-09-11 02:17] yuanyiran commented on #27210
I found that if my query statement "reporter = source", I can see the target version number of the access service. Maybe I still don't understand the difference between source and destination.
![image](https://user-images.githubusercontent.com/64528937/92843606-81f58d80-f417-11ea-9cb4-29bd1b4ab981.png)

Now I want to query the statistics of all service visits from the ingress gateway to its config

[2020-09-11 02:20] bjwyun commented on #27208
@howardjohn do you have any simple for this process ?

[2020-09-11 02:33] bianpengyuan commented on #27210
By upgrading to v2, I mean upgrade to Telemetry V2, which is a Istio feature to replace Mixer and is the default telemetry option since Istio 1.5.

You will need to upgrade Istio version by version 1.2->1.3->1.4... It is not supported or tested to do skip version upgrade.

Take a look at this: https://istio.io/latest/docs/reference/config/metrics/. Ingress gateway acts as outbound sidecar for worl

[2020-09-11 02:43] shosti opened #27235 "Istio 1.6.6 with mTLS breaks default Bitnami Postgres deployment"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

The [Bitnami postgresql chart](https://hub.helm.sh/charts/bitnami/postgresql) works fine with istio <=1.6.5, but with 1.6.6 all connections fail wi

[2020-09-11 02:45] yuanyiran commented on #27210
Can I upgrade telemetry separately to V2?

[2020-09-11 02:46] bianpengyuan commented on #27210
No, it is feature only available since 1.4.

[2020-09-11 02:51] bianpengyuan commented on #27210
Also if you are able to see the desired version label, which means it is not a Mixer bug, then it is not a must to upgrade to use telemetry v2 to get the behavior that you want. However, telemetry v2 or newer Istio generally is more performant and easier to use, so upgrade is highly recommended.

[2020-09-11 02:53] yuanyiran commented on #27210
okay, thank you. I also need to verify that it can be closed temporarily.

[2020-09-11 04:01] #27174 closed

[2020-09-11 04:41] morvencao commented on #27165
@howardjohn Currently the default value for `meshConfig.rootNamespace` is `istio-system`
See: https://github.com/istio/istio/blob/master/manifests/charts/istio-control/istio-discovery/values.yaml#L166
that's why we have to override the default value if we are intent to install istio in other namespaces rather than `istio-system`.

We have three `namepace`s in spec:

1. spec.namespace
2. spec.value

[2020-09-11 04:46] #27153 closed

[2020-09-11 04:50] howardjohn commented on #27165
Right I think that there are valid use cases for all 3 of them being
different. So it's ok to make the defaults dynamic such that all 3 are
changed when just spec.namespace is changed, I am not sure we can/should
remove the options.

It's also really confusing so we should probably clearly document the
various options

On Thu, Sep 10, 2020, 9:42 PM Morven Cao <notifications@github.com> wrote:

[2020-09-11 05:35] shamsher31 commented on #27165
Thanks @morvencao for taking the time to explain in detail.

We should document it probably here.
https://istio.io/latest/docs/reference/commands/istioctl/#istioctl-install%20Examples
https://istio.io/latest/docs/setup/install/istioctl/#customizing-the-configuration

[2020-09-11 05:38] tholcman commented on #27204
In version 1.6.8 it does work! And the mentioned part of Envoy config looks like
[code]
the `hiddenEnvoyDeprecatedConfig` seems very suspicious! :D

[2020-09-11 06:02] axelgobletbdr commented on #27202
Hi John, thanks for the docs link. We missed that part. Then there is no issue here, closing it!

[2020-09-11 06:02] #27202 closed

[2020-09-11 06:20] hanzhc opened #27237 "How can I get istio-proxy stat when triggering circuit breaker?"
I am using the istio 1.2.5 to test the function of circuit breaker with fortio step by step according to the [document](https://istio.io/latest/docs/tasks/traffic-management/circuit-breaking/).But I get nothing when I run `kubectl exec "$FORTIO_POD" -c istio-proxy -- pilot-agent request GET stats | grep httpbin | grep pending`.I feel confused about it. Is there any other settings about fortio or i

[2020-09-11 06:53] cocotyty opened #27238 "istio cannot work with ed25519 alg cacerts"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
istiod print such logs:

[code]
this line [https://github.com/istio/istio/blob/b2590e46399a150c1496dc169ad3cccc87009179/security/pkg/pki/util/genera

[2020-09-11 06:57] cocotyty commented on #27238
@bianpengyuan help wanted!

[2020-09-11 06:58] morvencao commented on #27206
Since you're using sort in Alpine, you need to add GNU `sort` via the `coreutils` package:

[code]

[2020-09-11 07:08] bjwyun commented on #27208
@howardjohn  I add a destination rule in VS to translate HTTP to HTTPS by
[code]
but got a new error of
[code]

[2020-09-11 07:12] morvencao commented on #27208
I found some relevant issues that may helps:
https://github.com/istio/istio/issues/19609
https://github.com/istio/istio/issues/8029

[2020-09-11 07:18] nirvanatao commented on #27216
I defined DestinationRule for PostgreSQL then it works.
`
apiVersion: "networking.istio.io/v1alpha3"
kind: "DestinationRule"
metadata:
  name: dr-postgresql
spec:
  host: "postgresql-headless.storage.svc.cluster.local"
  trafficPolicy:
    tls:
      mode: ISTIO_MUTUAL
`

[2020-09-11 07:20] nirvanatao commented on #27235
@shosti  have you defined DR for PostgreSql? something like this:
[code]

[2020-09-11 07:45] mgxian commented on #26109
I found that when node is very high, ping is work very well, but pilot not push any update to envoy proxy,Maybe we should add GRPC health checking in the static envoy config.
[Envoy Health check Doc](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/health_check.proto#health-check)

[2020-09-11 07:56] dinesh4747 commented on #27219
@guyromb - Thanks for the quick response and we are currently using istio v1.6.8 and need to check whether Kiali v1.23 would be compatible

Either ways - its good to have some compatibility matrix across the istio and its dependent runtime components which would help us position better in terms of upgrade

[2020-09-11 09:20] dntosas commented on #26873
FYI, tested the fix delivered with `1.7.1` and works as expected :tada:

[2020-09-11 09:22] CatalinMustata commented on #27206
Thanks @morvencao!  This fixed it

[2020-09-11 09:50] galindro opened #27240 "k8s settings other than overlays are not working on BaseComponentSpec"
**Bug description**
I can't install istio by using a custom IstioOperator CR YAML file which defines k8s settings in BaseComponentSpec. This isn't the exactly same problem reported by https://github.com/istio/istio/issues/24476, because the error message is different this time:

Before the release 1.6.8 (which is the one that introduced the commits from PRs https://github.com/istio/istio/pull/2457

[2020-09-11 09:58] bjwyun commented on #8029
@vadimeisenbergibm I follow your example of https://istio.io/docs/examples/advanced-gateways/ingress-sni-passthrough/  and it works well. but I can't get any trace in Jaeger and also no istio-ingressgateway node in kiali graph, do you have any ideas of this case ? thanks.
I use OCP 4.3 and service mesh operator 1.1.7 for setup istio.

[2020-09-11 12:08] bjwyun commented on #27208
@howardjohn @morvencao thanks guys, it's my nginx configuration error, after I disable ssl_ciphers, everything goes well

[2020-09-11 12:08] #27208 closed

[2020-09-11 12:28] IgorBrehm commented on #26884
Hi yangminzhu, thank you for your answer! By mounting my extra root CA you mean for me to edit the yaml file of istio deployment and manually insert an additional volume mount and so on?

[2020-09-11 12:59] shubhamitc commented on #26990
Tried the scripts above, still the same problem in EKS with istio 1.7

 curl 172.25.70.123:8000/ip  -vv
*   Trying 172.25.70.123:8000...
* Connected to 172.25.70.123 (172.25.70.123) port 8000 (#0)

* Mark bundle as not supporting multiuse
< HTTP/1.1 503 Service Unavailable
< content-length: 91
< content-type: text/plain
< date: Fri, 11 Sep 2020 11:53:28 GMT
< server: envoy
< x-envoy-upstream-servi

[2020-09-11 13:21] osaffer opened #27244 "Cannot get Certificate through istio"
Hi,

I'm trying to access harbor through HTTPS protocol. My first test was about HTTP, and I did not have any problem.

kubectl version --short
Client Version: v1.19.0
Server Version: v1.19.0

istioctl version
client version: 1.7.0
control plane version: 1.7.0
data plane version: 1.7.0 (5 proxies)

Architecture, I have a Haproxy configured in PassThrough, already used with a nginx ingress controll

[2020-09-11 14:07] bianpengyuan commented on #27219
Please take a look at Kiali's doc about version compatibility: https://kiali.io/documentation/latest/installation-guide/

[2020-09-11 14:07] #27219 closed

[2020-09-11 14:13] PavelKarpenka commented on #20033
@ostromart
So starting v1.5.0 we don't have istio-ilbgateway any more and the workaround is to modify istio-ingressgateway (add annotation to make LB internal)?

[2020-09-11 14:45] bianpengyuan commented on #27237
It is likely that doc for 1.7 is not working properly with 1.2 istio. Can you try to follow 1.2 doc https://istio.io/v1.2/docs/tasks/traffic-management/circuit-breaking/?

Also note, 1.2 is way out of support window, please consider upgrade to newer version of Istio. thanks.

[2020-09-11 14:48] howardjohn commented on #27205
This is done automatically internally to Istio now.

Can you show the config dump (https://github.com/istio/istio/wiki/Troubleshooting-Istio) when you are getting 404s (as well as what path you are getting 404 on) and the output of `curl localhost:8080/debug/configz` from the istiod pod? That should see if there are some sort of conflict going on

[2020-09-11 15:04] esnible commented on #27034
Removing `Area/User Experience` if there is no way to improve the user experience through validation of the IOP or analysis of the CRs.

[2020-09-11 15:53] yogeek commented on #27206
Thanks, fixed

[2020-09-11 15:53] #27206 closed

[2020-09-11 16:02] howardjohn commented on #27240
cc @ostromart

[2020-09-11 16:21] yangminzhu commented on #26884
@IgorBrehm yes, that's correct.

[2020-09-11 17:13] guyromb commented on #27205
Thanks @howardjohn
Example for end-point that returns 404 (uses Kubernetes Ingress): api-master.app.HIDDEN.NAME.COM

Here are the files:

**GW1 istio-ingressgateway**
[gw1_config_dump.json.log](https://github.com/istio/istio/files/5210620/gw1_config_dump.json.log)

**GW2 istio-ingressgateway-public**
[gw2_public_config_dump.json.log](https://github.com/istio/istio/files/5210621/gw2_public_config_d

[2020-09-11 17:44] shosti commented on #27235
@nirvanatao looks like the problem is still there with a DR. I applied the following:

[code]

and the error still occurs. (In case it's important: the chart deploys both a ClusterIP and a headless service, and I'm trying to connect to the ClusterIP.)

[2020-09-11 17:48] shosti commented on #27235
Oh actually it seems that using a DR as well as the headless service works, but no other combination works. In other words:

- DR + headless service: :heavy_check_mark:
- No DR + headless service: :x:
- DR + ClusterIP: :x:
- No DR + ClusterIP: :x:

I'd really prefer to use the ClusterIP service if possible.

[2020-09-11 17:54] IgorBrehm commented on #26884
I just tested your suggestion and it worked. Thank you for the help!

[2020-09-11 17:54] #26884 closed

[2020-09-11 18:09] howardjohn commented on #27218
In your reproduction I found the Service is wrong. It has targetPort=8080 but the httpbin listens on `80`. Once I changed that it seems ok. I will check again in a bit since you said it may take some time for it to break.

[2020-09-11 18:30] esnible commented on #27235
Can you look at the two closed Postgres issues under https://github.com/istio/istio/issues/14743 and see if the information there resolves your problem?

[2020-09-11 18:36] shosti commented on #27235
It looks similar to https://github.com/istio/istio/issues/16506 but I think it’s a separate issue, since that was from an earlier version of istio and this was all working until 1.6.6.

[2020-09-11 18:36] nairb774 commented on #27218
Re port 80: I've gotten in the habit of moving things out of the <1024 range as I've been trying to move things out of running as root. I think my brain got ahead of itself. Looking at the log line above, I swapped it for one generated from the example, without fully reading be beyond the 503.

I also noticed I had commented out the caCertificates attribute. Uncommenting, and restarting the httpbi

[2020-09-11 18:40] nairb774 commented on #27218
Updated cluster dump: [istio-dump.tar.gz](https://github.com/istio/istio/files/5210966/istio-dump.tar.gz)

[2020-09-11 18:44] howardjohn commented on #27218
Ah I restarted the pods and it triggered it now. Thanks!

[2020-09-11 18:50] howardjohn commented on #27218
Thanks for the helpful reproduction steps. I have verified the workload certificate root CA is somehow being overriden with the DR CA. I am not sure why yet, but seems the root cause is clear and this is a clear bug. Thanks again!

[2020-09-11 19:28] esnible commented on #21473
@ostromart I added `area/environments` to this.  We need to find an owner and work on what the validations might be.

Today I tried `istioctl install --set values.pilot.keepaliveMaxServerConnectionAge="-30m"` which puts Istiod into CrashLoopBack state because it causes a **panic**, `invalid argument to Int63n`, and there is no Istio code in the backtrace.

[2020-09-11 19:38] esnible opened #27257 "Istiod discovery should validate its flags (panic)"
To reproduce, install Istio with `istioctl install --set values.pilot.keepaliveMaxServerConnectionAge="-30m"`

The logs show a **panic** and backtrace that does not include any Istio code.  A user would not be able to figure this out.  Istiod SHOULD fail on bad flag values, but it should log the reason and exit, not panic inside `google.golang.org/grpc/internal/transport.NewServerTransport(...)`

[2020-09-11 19:50] ceastman-ibm commented on #26792
I see the same behavior in istio 1.6.8

[2020-09-11 19:53] ceastman-ibm commented on #18046
We are getting the same error with istio 1.6.8:
[istio-ingressgateway-684496d697-p882q] 2020-09-11T15:11:52.668870Z	warn	Envoy proxy is NOT ready: failed to get readiness stats: Get "http://127.0.0.1:15000/stats?usedonly&filter=^(server.state%7Clistener_manager.workers_started)": context deadline exceeded (Client.Timeout exceeded while awaiting headers)

[2020-09-11 20:11] #26675 closed

[2020-09-11 20:12] GregHanson commented on #26792
I think this is a potential bug.  There is an env var for determining the timeout `pilot-agent` uses when calling Envoy's `/stats` API, `ENVOY_READINESS_CHECK_TIMEOUT`, and the default value it 5 seconds ([here](https://github.com/istio/istio/blob/master/pilot/cmd/pilot-agent/status/util/stats.go#L41)).  But this is essentially useless since the readiness probe has a timeout of 1 second. Ingress g

[2020-09-11 20:13] howardjohn opened #27259 "xdsproxy: keepalive times may be different than envoys"
[code]

Looks like something is disconnecting every 2 min. Not sure if its a keepalive or max request age or something else.

btw, I wonder if we can close the connection in such a way that envoy doesn't log the warning?

@ramaraochavali @rshriram

[2020-09-11 20:28] GregHanson commented on #26792
Also, istio doesn't explicitly define a istio-proxy readiness probe timeout value - and so it is falling back to the Kubernetes default:
https://github.com/istio/istio/blob/master/manifests/charts/istio-control/istio-discovery/files/injection-template.yaml#L286-L292
https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#configure-probes

[2020-09-11 20:35] howardjohn commented on #27218
The root cause is https://github.com/istio/istio/blob/c574f8ce63b2bd0fa0531320ba0e9265368c07bc/security/pkg/nodeagent/cache/secretcache.go#L716.

@ramaraochavali can you take a look? I am not 100% sure how we distinguish a root cert from file *the* workload root cert from file?

[2020-09-11 20:43] gargnupur commented on #27047
Fixed

[2020-09-11 20:43] #27047 closed

[2020-09-11 20:43] gargnupur commented on #27046
Fixed

[2020-09-11 20:43] #27046 closed

[2020-09-11 21:11] #27018 closed

[2020-09-11 21:12] nmittler commented on #26990
I seem to be unable to replicate on gke. I updated my test script to wait 2 minutes between calls, but it seems to work fine. I don't have EKS environment to test on ATM.

I'm running with coredns 1.7.0.

[2020-09-11 21:15] linsun commented on #26792
Agree with @GregHanson - Seems our ingress gw readiness check call is only 1s and a bit too short. @ceastman-ibm has indicated that it takes 2-3s sometimes on his ingress pod.

Does anyone have any issue if we increase this to 5s which matches envoy's default?  cc @howardjohn @lizan @PiotrSikora @costinm @nrjpoddar @rshriram

[2020-09-11 21:17] linsun commented on #26792
Also, should we add startup Probe or liveness Probe so that if the check takes too long, the pod can be auto restarted?  Reading from k8s doc, the restart policy (default to always) only works on `livenessProbe` or `startupProbe` - https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/

[2020-09-11 21:18] howardjohn commented on #26792
I don't think we need any of the above if I am understanding right, we have already fixed this in master: https://github.com/istio/istio/pull/26820

[2020-09-11 22:56] elfinhe opened #27265 "Istio egressgateway outside istio-system does not support revision based install"
**Bug description**

Installing istio with both egressgateway enabled and revision is set.

[code]

istio-egressgateway.yaml:
[code]
Found this log in egressgateway pod below, where `discoveryAddress: istiod.istio-system.svc:15012` seems incorrectly set to a non-revision based address.

[code]
This can also be reproduced with Isito168.

[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and

[2020-09-12 00:11] howardjohn commented on #27223
Fixed by #27247

[2020-09-12 00:11] #27223 closed

[2020-09-12 00:15] howardjohn commented on #21851
This needs to be done in Envoy/WASM

[2020-09-12 00:15] #21851 closed

[2020-09-12 00:16] #22388 closed

[2020-09-12 00:16] #22265 closed

[2020-09-12 00:17] howardjohn commented on #22404
Since this is on an unsupported version and we have had a lot of fixes I think we can close this. If you experience this again please do not hesitate to open a new issue. thanks

[2020-09-12 00:17] #22404 closed

[2020-09-12 00:17] #23639 closed

[2020-09-12 00:17] #23680 closed

[2020-09-12 00:18] howardjohn commented on #23746
I am fairly sure this is an AKS issue, not Istio, and there has been no followup so I will close this. If we find evidence suggesting otherwise let me know.

[2020-09-12 00:18] #23746 closed

[2020-09-12 00:18] howardjohn commented on #23847
Closing as this seems working as intended and we don't have additional info. thanks!

[2020-09-12 00:18] #23847 closed

[2020-09-12 00:19] howardjohn commented on #23851
We cannot reproduce this unless you give the full configuration as requested.

[2020-09-12 00:19] #24485 closed

[2020-09-12 00:20] howardjohn commented on #25883
I don't think we have any desire to change the API to align with a hypothetical feature which we do not support, nor is it a goal for our APIs to closely represent Envoy.

[2020-09-12 00:23] howardjohn commented on #26562
[code]

You are calling on `/` but there is no config for this.

[2020-09-12 00:25] howardjohn commented on #26562
Your recent post and original post don't seem to align though... it should be noted, tls route is used *only* if we do passthrough TLS. If you are terminating TLS then it should be doing http routing.

From the config you are not doing any passhtrough. If you want to terminate and re-originate TLS you can do so with a DR

[2020-09-12 00:25] howardjohn commented on #26508
Closing as this is answered. Thanks!

[2020-09-12 00:25] #26508 closed

[2020-09-12 00:26] howardjohn commented on #26107
Closing as this is unsupported and, afaik, is fixed.

[2020-09-12 00:26] #26107 closed

[2020-09-12 00:29] howardjohn commented on #26746
I am not able to reproduce this. This is extensively tested, and you will not give the required information, so I don't see how we can move forward with this issue. Please see https://istio.io/latest/docs/tasks/traffic-management/ingress/ingress-control/ for more information, you are likely not setting the host header

`curl 1.2.3.4/productpage -H "Host: example.com" -v`

[2020-09-12 00:29] #26746 closed

[2020-09-12 00:30] howardjohn commented on #27028
Closing as duplicate of https://github.com/istio/istio/issues/19681. thanks

[2020-09-12 00:30] #27028 closed

[2020-09-12 00:33] howardjohn commented on #26750
We have a bunch of issues around defaults, lets consolidate into https://github.com/istio/istio/issues/6861 to clean things up. Please also see https://docs.google.com/document/d/1hY-ShGY6sgwWUw0NGLvsDWXWm3wNLvhM4HHuRjFzRT0/ which is a design doc for this being actively worked on.

[2020-09-12 00:33] #26750 closed

[2020-09-12 00:34] shaunc commented on #21851
Understood

[2020-09-12 00:35] howardjohn commented on #26158
We have a bunch of issues around defaults, lets consolidate into https://github.com/istio/istio/issues/6861 to clean things up. Please also see https://docs.google.com/document/d/1hY-ShGY6sgwWUw0NGLvsDWXWm3wNLvhM4HHuRjFzRT0/ which is a design doc for this being actively worked on.

[2020-09-12 00:35] #26158 closed

[2020-09-12 00:36] howardjohn commented on #6861
Design doc for this: https://docs.google.com/document/d/1hY-ShGY6sgwWUw0NGLvsDWXWm3wNLvhM4HHuRjFzRT0/

Useful comment from another duplicate issue: https://github.com/istio/istio/issues/26158#issuecomment-669703887

[2020-09-12 00:37] howardjohn commented on #9300
We have a bunch of issues around defaults, lets consolidate into #6861 to clean things up. Please also see https://docs.google.com/document/d/1hY-ShGY6sgwWUw0NGLvsDWXWm3wNLvhM4HHuRjFzRT0/ which is a design doc for this being actively worked on.

[2020-09-12 00:37] #9300 closed

[2020-09-12 00:39] howardjohn commented on #26380
I am not sure what we can do here...

My understanding is we do not include these pods, but you are making custom modifications which is selecting these. In this case, it seems your responsibility to ensure the custom modifications are not breaking yourself? Or am I misunderstanding the situation?

[2020-09-12 00:43] howardjohn commented on #18046
Fixed by #26820 which is now being backported

[2020-09-12 00:43] #18046 closed

[2020-09-12 00:44] howardjohn commented on #20262
Can you try 1.7? We made a ton of performance improvements

[2020-09-12 00:44] #20839 closed

[2020-09-12 00:45] howardjohn commented on #20859
Closing per ^

[2020-09-12 00:45] #20859 closed

[2020-09-12 00:48] howardjohn commented on #21348
I am fairly sure this is fixed by https://github.com/istio/envoy/commit/fd7d4a72b736021a3866cf7065ca4dc7f897b3b7. Can you please upgrade to 1.6+ and reopen if you see this issue again? thanks!

[2020-09-12 00:48] #21348 closed

[2020-09-12 00:50] howardjohn commented on #21460
It looks like this is breaking during hot restart. Since we no longer do hot restart,  I think this bug is not present. If I misunderstood please reopen. thanks

[2020-09-12 00:50] #21460 closed

[2020-09-12 00:53] howardjohn commented on #22119
If you need to do this you can do it in bootstrap: https://github.com/istio/istio/blob/03e89d4fb372c5e29773c0aedbe05d229dad3dc7/tools/packaging/common/envoy_bootstrap.json#L24

See samples/custom-bootstrap for overriding this.

I don't think we have any plans to expose these low level details as part of our first class API.

[2020-09-12 00:53] #22119 closed

[2020-09-12 00:55] howardjohn commented on #22431
You can just run the istio gateway as a container in the nginx pod. The only real benefitthen is that the nginx <-> gateway traffic is over localhost - if that is not a requirement I suggest splitting them out.

[2020-09-12 01:16] kengan opened #27266 "How to set the short name in the host in IngressGateway"
I have a ingress gate way setting as following:

apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: caller-gateway
  namespace: testistio
spec:
  selector:
    istio: ingressgateway
  servers:
    - port:
        number: 80
        name: http
        protocol: HTTP
      hosts:
        - "caller"

but when I apply the yaml, I get error as following:
istio-rules.yaml": admissi

[2020-09-12 02:38] xiaozhongliu opened #27267 "istio 1.7.1 Sidecar injection failed: failed calling webhook "sidecar-injector.istio.io""
**Bug description**
Sidecar injection failed:
[code]
We can see port 15017 is up:
[code]

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
Sidecar injection can be done.

**Steps

[2020-09-12 03:53] howardjohn commented on #27267
can you check the 3 steps here? https://github.com/istio/istio/wiki/Troubleshooting-Istio#diagnostics

[2020-09-12 03:53] howardjohn commented on #27266
This is not currently possible.

[2020-09-12 03:54] howardjohn commented on #27265
is it just egress or ingrss as well?

[2020-09-12 05:01] #19970 closed

[2020-09-12 05:02] #21137 closed

[2020-09-12 05:02] #21170 closed

[2020-09-12 05:02] #21191 closed

[2020-09-12 05:02] #21201 closed

[2020-09-12 05:02] #21219 closed

[2020-09-12 05:02] #21273 closed

[2020-09-12 05:02] #21280 closed

[2020-09-12 05:02] #21338 closed

[2020-09-12 05:02] #21399 closed

[2020-09-12 05:02] #21401 closed

[2020-09-12 05:02] #21429 closed

[2020-09-12 05:02] #21458 closed

[2020-09-12 05:02] #21505 closed

[2020-09-12 05:03] #21518 closed

[2020-09-12 05:03] #21527 closed

[2020-09-12 05:03] #21546 closed

[2020-09-12 05:03] #21604 closed

[2020-09-12 05:03] #21637 closed

[2020-09-12 05:03] #21689 closed

[2020-09-12 05:03] #21707 closed

[2020-09-12 05:03] #21725 closed

[2020-09-12 05:03] #21729 closed

[2020-09-12 05:03] #21732 closed

[2020-09-12 05:03] #21751 closed

[2020-09-12 05:03] #21777 closed

[2020-09-12 05:03] #21811 closed

[2020-09-12 05:03] #21854 closed

[2020-09-12 05:03] #21918 closed

[2020-09-12 05:04] #21927 closed

[2020-09-12 05:04] #21972 closed

[2020-09-12 05:04] #21994 closed

[2020-09-12 05:04] #22008 closed

[2020-09-12 05:04] #22034 closed

[2020-09-12 05:04] #22089 closed

[2020-09-12 05:04] #22114 closed

[2020-09-12 05:04] #22154 closed

[2020-09-12 05:04] #22180 closed

[2020-09-12 05:04] #22181 closed

[2020-09-12 05:04] #22184 closed

[2020-09-12 05:04] #22193 closed

[2020-09-12 05:04] #22207 closed

[2020-09-12 05:04] #22211 closed

[2020-09-12 05:04] #22244 closed

[2020-09-12 05:04] #22278 closed

[2020-09-12 05:04] #22293 closed

[2020-09-12 05:04] #22301 closed

[2020-09-12 05:05] #22317 closed

[2020-09-12 05:05] #22319 closed

[2020-09-12 05:05] #22333 closed

[2020-09-12 05:05] #22367 closed

[2020-09-12 05:05] #22391 closed

[2020-09-12 05:05] #22413 closed

[2020-09-12 05:05] #22418 closed

[2020-09-12 05:05] #22488 closed

[2020-09-12 05:05] #22489 closed

[2020-09-12 05:05] #22534 closed

[2020-09-12 05:05] #22552 closed

[2020-09-12 05:05] #22564 closed

[2020-09-12 05:05] #22584 closed

[2020-09-12 05:05] #22595 closed

[2020-09-12 05:05] #22635 closed

[2020-09-12 05:05] #22640 closed

[2020-09-12 05:05] #22665 closed

[2020-09-12 05:05] #22683 closed

[2020-09-12 05:06] #22690 closed

[2020-09-12 05:06] #22697 closed

[2020-09-12 05:06] #22703 closed

[2020-09-12 05:06] #22708 closed

[2020-09-12 05:06] #22726 closed

[2020-09-12 05:06] #22759 closed

[2020-09-12 05:06] #22766 closed

[2020-09-12 05:06] #22768 closed

[2020-09-12 05:06] #22770 closed

[2020-09-12 05:06] #22815 closed

[2020-09-12 05:06] #22852 closed

[2020-09-12 05:06] #22861 closed

[2020-09-12 05:06] #22883 closed

[2020-09-12 05:06] #22887 closed

[2020-09-12 05:06] #22888 closed

[2020-09-12 05:06] #22893 closed

[2020-09-12 05:06] #22896 closed

[2020-09-12 05:06] #22900 closed

[2020-09-12 05:06] #22902 closed

[2020-09-12 05:06] #22915 closed

[2020-09-12 05:06] #22929 closed

[2020-09-12 05:06] #22950 closed

[2020-09-12 05:06] #22966 closed

[2020-09-12 05:07] #22973 closed

[2020-09-12 05:07] #22986 closed

[2020-09-12 05:07] #22988 closed

[2020-09-12 05:07] #22995 closed

[2020-09-12 05:07] #23017 closed

[2020-09-12 05:07] #23019 closed

[2020-09-12 05:07] #23025 closed

[2020-09-12 05:07] #23085 closed

[2020-09-12 05:07] #23088 closed

[2020-09-12 05:07] #23096 closed

[2020-09-12 05:07] #23100 closed

[2020-09-12 05:07] #23133 closed

[2020-09-12 05:07] #23145 closed

[2020-09-12 05:07] #23148 closed

[2020-09-12 05:07] #23155 closed

[2020-09-12 05:07] #23169 closed

[2020-09-12 05:07] #23177 closed

[2020-09-12 05:07] #23182 closed

[2020-09-12 05:07] #23197 closed

[2020-09-12 05:07] #23200 closed

[2020-09-12 05:08] #23224 closed

[2020-09-12 05:08] #23227 closed

[2020-09-12 05:08] #23233 closed

[2020-09-12 05:08] #23240 closed

[2020-09-12 05:08] #23260 closed

[2020-09-12 05:08] #23278 closed

[2020-09-12 05:08] #23283 closed

[2020-09-12 05:08] #23297 closed

[2020-09-12 05:08] #23307 closed

[2020-09-12 05:08] #23328 closed

[2020-09-12 05:08] #23341 closed

[2020-09-12 05:08] #23447 closed

[2020-09-12 05:08] #23463 closed

[2020-09-12 05:08] #23484 closed

[2020-09-12 05:08] #23487 closed

[2020-09-12 05:08] #23490 closed

[2020-09-12 05:08] #23509 closed

[2020-09-12 05:09] #23524 closed

[2020-09-12 05:09] #23531 closed

[2020-09-12 05:09] #23557 closed

[2020-09-12 05:09] #23569 closed

[2020-09-12 05:09] #23599 closed

[2020-09-12 05:09] xiaozhongliu commented on #27267
[code]
[code]
[code]

[2020-09-12 05:09] #23640 closed

[2020-09-12 05:09] #23651 closed

[2020-09-12 05:09] #23653 closed

[2020-09-12 05:09] #23674 closed

[2020-09-12 05:09] #23681 closed

[2020-09-12 05:09] #23685 closed

[2020-09-12 05:09] #23702 closed

[2020-09-12 05:09] #23703 closed

[2020-09-12 05:09] #23726 closed

[2020-09-12 05:09] #23760 closed

[2020-09-12 05:09] #23777 closed

[2020-09-12 05:09] #23778 closed

[2020-09-12 05:09] #23779 closed

[2020-09-12 05:09] #23802 closed

[2020-09-12 05:09] #23803 closed

[2020-09-12 05:10] #23813 closed

[2020-09-12 05:10] #23815 closed

[2020-09-12 05:10] #23857 closed

[2020-09-12 05:10] #23877 closed

[2020-09-12 05:10] #23884 closed

[2020-09-12 05:10] #23894 closed

[2020-09-12 05:10] #23916 closed

[2020-09-12 05:10] #23970 closed

[2020-09-12 05:10] #23973 closed

[2020-09-12 05:10] #23975 closed

[2020-09-12 05:10] #24009 closed

[2020-09-12 05:10] #24010 closed

[2020-09-12 05:10] #24037 closed

[2020-09-12 05:10] #24042 closed

[2020-09-12 05:10] #24048 closed

[2020-09-12 05:10] #24060 closed

[2020-09-12 05:10] #24073 closed

[2020-09-12 05:11] #24083 closed

[2020-09-12 05:11] #24098 closed

[2020-09-12 05:11] #24099 closed

[2020-09-12 05:11] #24103 closed

[2020-09-12 05:11] #24135 closed

[2020-09-12 05:11] #24140 closed

[2020-09-12 05:11] #24197 closed

[2020-09-12 05:11] #24198 closed

[2020-09-12 05:11] #24210 closed

[2020-09-12 05:43] lighteness commented on #27189
@osswangxining
try with the below expression, does it works out for you?
[code]

[2020-09-12 05:50] romilpunetha commented on #23267
@parthshah86 How did you fix this? We're facing the same issue.

[2020-09-12 05:51] elfinhe commented on #27265
ingress works well with similar configurations.

On Fri, Sep 11, 2020 at 8:54 PM John Howard <notifications@github.com>
wrote:

Tao HE | Software Engineer | taohe@google.com

[2020-09-12 06:06] sdake commented on #26751
PR: https://github.com/istio/istio/issues/26010
PR: https://github.com/istio/tools/pull/1183
PR: https://github.com/istio/common-files/pull/303
PR: https://github.com/istio/istio/pull/26769
PR: https://github.com/istio/api/pull/1607

[2020-09-12 07:45] ramaraochavali commented on #27259
I guess this could be because upstream client might be closing some how which is resulting in downstream also getting closed. May be some issue setting up upstream client.

Can you enable debug and see if this triggered by upstream close?

[2020-09-12 09:39] coreyzzp opened #27271 "istio convert grpc to http1.1 when server side inbound injection is disabled"
**Bug description**

This is the test enviorment

[code]

I want to test the performance of both the server and istio proxy, and the CPU shows  both the server and ghz reach about
100% CPU usage while enovy takes up to 200% CPU for both side of the test, so I try to disable inbound injection ( because i think it a way to reduce CPU overhead introduced by enovy, since the request has reached destin

[2020-09-12 10:58] yann-soubeyrand commented on #24638
/remove lifecycle/stale

[2020-09-12 11:05] ranjb commented on #24465
I think this can be closed given that addon components are marked as deprecated in 1.7 and will not be included from 1.8

[2020-09-12 11:05] #24465 closed

[2020-09-12 13:47] HelloChenHZ commented on #21544
Hi, I meet the same problem in gcp private cluster. I install the istio 1.6.9. Have your solved this ?

[2020-09-12 16:01] mandarjog commented on #23471
This is still needed.

[2020-09-12 16:28] mandarjog commented on #23358
not stale.

[2020-09-12 17:22] kyessenov opened #27272 "Remove allowlist for envoy metrics or make it expandable"
When using EnvoyFilters, it is difficult to understand whether it takes any effect, because istio hides majority of envoy metrics. For example, adding a new cluster, we don't get cluster metrics for it, so it's difficult to say whether the upstream cluster is healthy or not. Similarly, adding ECDS config to filters obfuscates any errors (e.g. making a typo in URI is entirely invisible).

The reque

[2020-09-12 19:26] bianpengyuan commented on #27272
Did some measurement here: https://github.com/istio/istio/issues/23166 Looks like it is still very expensive to expose all metrics, so it is unlikely to be a viable option. It might make more sense to expose the desired particular suffix by default.

[2020-09-12 19:52] kyessenov commented on #27272
I am specifically looking or xDS stats: <stat_prefix>.extension_config_discovery.<extension_config_name>, and xDS cluster stat (dynamically loaded one, not xds_cluster).

[2020-09-12 19:54] kyessenov commented on #23166
I wonder if there is a particular badly behaving subset of stats. The memory footprint points at some cardinality issue within Envoy. We definitely don't want to expose those stats.

[2020-09-12 20:35] xiaozhongliu commented on #27267
@howardjohn Same issue on istio 1.5.9, while ingress works normally on already running backends.
[code]

[2020-09-12 20:38] xiaozhongliu opened #27275 "Calling a gRPC service results in status code 2: "No status received""
**Bug description**
Error occurs when calling a gRPC service which is behind the istio gateway:
![image](https://user-images.githubusercontent.com/17674404/92720206-defd2f00-f396-11ea-924b-bcb03052753e.png)

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expe

[2020-09-12 22:06] sdake commented on #26751
I wasnt sure which WGs to tag for review. This set of PRs will have alot of impact across networking but also other areas. If your WG is not interested in reviewing this work, please remove your workaround from the list.

Cheers,
-steve

[2020-09-12 22:43] sdake commented on #25685
@lanceliuu re this investigation of performance. We found a hugely critical bug in Istio that was a regression in 1.6 and 1.7. Thank you for driving that resolution to completion.

Your general request of improving performance isn't really viable until delta-xds is implemented.

That said, in the benchmarks, John has implemented an ARQ (flow control) - and I am refining it:

The graph looks like t

[2020-09-13 05:41] bjwyun opened #27278 "OCP 4.3 + Service mesh operator 1.1.7 + istio 1.4.8 sidecar injection skip when pod creating"
this is the log from sidecar injector
[code]

[code]

[2020-09-13 12:22] ahuffman commented on #24037
This should not be closed

[2020-09-13 14:09] Ghazgkull commented on #24318
This defect has only gotten worse since it was reported. Anything we can do to reopen it?

[2020-09-13 14:12] AEGQ commented on #27111
duplicated https://github.com/istio/istio/issues/24720

[2020-09-13 14:12] #27111 closed

[2020-09-13 18:36] minho-comcom-ai commented on #25814
Istio 1.7.0 is using Envoy 1.15.0
[code]

[2020-09-13 20:58] softcane opened #27280 "Set reasonable "max_connection_duration" and "drain_timeout" default in istio ingress"
**Background:**
We are migrating our ingress controller from Nginx to Istio ingress gateway. We are running ingress proxy on NodePort behind ALB in AWS. Kube proxy is running in the IPtable mode and externalTrafficPolicy is configured to Cluster.

During the load test (40K/sec), we figured out that requests are not evenly distributed between the ingress pods and Deployment/Scaling skew the thing e

[2020-09-13 21:13] softcane opened #27281 "Unable to add route_name as a label in the requests_total counter"
**Bug description**
According to 1.6 documentation, route_name is an extra attribute that can be added to the requests_total counter. However, It's been added as a prefix to the metric counter.
https://istio.io/v1.6/docs/tasks/observability/metrics/customize-metrics/

**stats-filter patched configuration:**

[code]

**Current behaviour:**
`envoy_route_name___test____istio_requests_total`

**Expect

[2020-09-14 01:19] iandyh commented on #25110
@stevenctl No special setup. Basically standard Istio installation. One thing it looks related from the source code is in our setup, we set `enableAutoMtls` to false. But I have not read through the code so my understanding maybe wrong.

[2020-09-14 01:24] ZhuangYuZY commented on #25685
@sdake and @howardjohn Thank you very much for driving this improvement.
One question, if ARQ(kn15) works well, are you going to PR and merge istio main branch for next release or patch, which is before delta-xds (1.10 or 1.11) ? Thank you.

[2020-09-14 02:13] winterTTr commented on #24318
Yes, this is very basic configuration, and i believe every one who really use the istio in production will need it. Why no one from istio team join and take care of this since 1.6.

[2020-09-14 02:18] morvencao commented on #27278
Did you override the value of `Values.global.proxy.autoInject` when you install istio?
You can check the the `policy` field in configmap `istio-sidecar-injector`.

[2020-09-14 03:25] morvencao commented on #27240
Are you intent to set imagePullPolicy to all the components? If yes, you have to set it by k8s settings for each component.

[2020-09-14 03:53] pantianying opened #27282 ""must enable containers running with UID 0 for Istio’s service accounts""
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

Referring to the official documentation, I installed ISTIO in OpenShift
https://istio.io/latest/docs/setup/platform-setup/openshift
There's a description：
![image](https://user-images.githubusercontent.com/20589945/93041982-82dd2800-f680-11ea-8dc7-

[2020-09-14 04:17] dsarosi opened #27283 "TCP Traffic Shifting not working on Minikube"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

TCP Traffic Shifting not working with istio on minikube.

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Installation

[2020-09-14 05:01] #18728 closed

[2020-09-14 05:13] #16831 closed

[2020-09-14 05:22] bjwyun commented on #27278
@morvencao  it shows:
[code]

[2020-09-14 05:27] bjwyun commented on #27278
and it strange that, in the example ``bookinfo`` namespace when I delete a pod ,and the sidecar in bookinfo namespace can create istio proxy container.
[code]

but in namespace ``cpd``where the ``usermgmt`` is, the istio proxy can't be  created.

[code]

[2020-09-14 05:29] myidpt commented on #27218
Thanks for reporting this. I can reproduce it, but I'm not sure the proposed PR is the right fix. Let's find out the cause precisely and verify the fix as well. We also need to have integration test covering it.

[2020-09-14 05:34] sikka opened #27284 "How to create istio-archive?"
@howardjohn -
I see that [this commit ](https://github.com/istio/istio/commit/f3ce79e421353b38939e7951b61aa75b627b977f) got rid of the `istio-archive` target.
I tried finding a newer make target that generates `istio-1.7.1-linux-amd64.tar.gz`, but was not able to. How can I achieve this?

[2020-09-14 05:53] hbeffge commented on #27070
https://github.com/istio/istio/issues/20076 is similar to https://github.com/istio/istio/issues/24500 : maybe the documentation should be updated as well to reflect which protocols can be used in which combination?

The error in the logs should still be caught, or?

[2020-09-14 06:01] morvencao commented on #27278
Try to find if the application pod has the annotation:
[code]

[2020-09-14 06:21] osswangxining commented on #27189
It cannot get the value from the annotation. From the current code logic , its values is populated from  value of –service-cluster flag

[2020-09-14 06:31] kiemlicz opened #27286 "Istio breaks mounted secret chmod"
**Bug description**
When `kubectl label ns debug istio-injection=enabled` the
K8s `Secret` mounted with `defaultMode: 0400` receives `0440` instead

Please consider this as potential security vulnerability as well

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[X] Security
[X] Test and Release
[X] User Experience
[X] Developer Infrastructure

[2020-09-14 07:37] istionary opened #27288 ""upstream" and "downstream" terminology in istio"
Hello,

I am confused by the use of the terms "upstream" and "downstream" in istio documentation.

The glossary https://istio.io/latest/docs/reference/glossary/ uses the term to define _Source_ as _The downstream client of the Envoy proxy._ A similar wording is in https://istio.io/latest/docs/reference/config/networking/virtual-service/ _A downstream client calling a service._

This sounds like a

[2020-09-14 08:09] harpratap commented on #26844
Same issue with 1.6.8 autoMtls=true -> 1.7.1 autoMtls=true

[2020-09-14 08:09] bjwyun commented on #27278
yeah ,  `sidecar.istio.io/inject: "true"`  is enabled in deployments of usermgmt.  and here's all the logs from injector when recreate the usermgmt pod. some other pods in this namespace already setup sidecar, i'm not sure if this is a special case for usermgmt
[code]

[2020-09-14 08:51] erSitzt commented on #22997
Please dont close this issue.

[2020-09-14 08:54] galindro commented on #27240
No @morvencao . That was just an example. I'm trying to set affinity instead.

[2020-09-14 08:59] Leo7654 commented on #22997
Do you have any plans on how to handle this?

[2020-09-14 09:06] olsaki opened #27290 "Log SPIFFE ids"
**Describe the feature request**

- log the related SPIFFE id when a new certificate is signed by the Istio CA
- this information should be available on INFO log level

Nice to have:

- log the related SPIFFE id when a new certificate signing request is received by the Istio CA
- this information should be available on DEBUG log level

**Describe alternatives you've considered**

- inspecting DEBU

[2020-09-14 09:29] ramaraochavali commented on #27280
Can you please provide the values that you have tried in your custom Envoy filter?

[2020-09-14 09:34] shubhamitc commented on #26990
let me try that in gke to verify.

[2020-09-14 09:37] softcane commented on #27280
[code]

[2020-09-14 10:03] ramaraochavali commented on #27280
is n't `idle_timeout` redundant in your case?  The connection would be drained after `75s` any way - so it will never reach idle_timeout?

[2020-09-14 10:14] astrikos opened #27291 "Istio-proxy TLS connection errors (receiving RST packets)"
**Bug description**
We use istio between our kubernetes namespaces and pods with mtls support. Sometimes we notice that a pod from one namespace that has istio enabled cannot reach another pod in a another namespace that is also istio enabled.
The error we get from inside the source pod is:
[code]
Running tcpdumps from both the pods we see that the destination pod is sending an RST packet after so

[2020-09-14 10:59] upodroid opened #27292 "Authorization Policy is broken for JWT + IP blocks"
**Bug description**
IP whitelist doesn't work with Istio Authorization policy. I can access the host secured by the JWT but I can't access the endpoint secured by IP Whitelist.

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[X] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

For it to wor

[2020-09-14 11:01] upodroid commented on #27292
One more thing, the port-forwarding for `proxy-status` subcommand is also broken.

[2020-09-14 11:08] softcane commented on #27280
I would say those are values from my experiment. In our actual config, it's only `max_connection_duration`

[2020-09-14 11:31] zhengzepeng opened #27293 "can't receive Inbound cluster endpoints when i config locality load balancing distribute"
Locality Load Balancing

For Inbound Cluster，it generate endpoints automatically.When I Config locality load balancing distribute，i found inbound cluster can not receive endpoints，so i look up the source code，like that：
[code]
I fount the inbound cluster endpoints miss matched and delete finally，I think inbound cluster dont need to run applyLocalityWeight，Can some one help?

[2020-09-14 12:10] guyromb commented on #27292
I am able to use IP whitelisting with:
[code]

[2020-09-14 12:30] upodroid commented on #27292
Does the istio-ingressgateway drop requests with envoy from outside?

[2020-09-14 12:38] guyromb commented on #27292
It will return 403, RBAC: access denied.

[2020-09-14 13:32] jbrook commented on #27265
/etc/istio/config/mesh is not mounted for my egress gateway.

It works if I set the discoveryAddress manually with an annotation:
[code]

[2020-09-14 13:39] morvencao commented on #27240
@galindro Currently base component can only have k8s.overlays, not other K8s settings.

[2020-09-14 13:54] tmshort commented on #22443
@howardjohn wrote:

What's the mitigation on the istio side? We need ISTIO_MUTUAL, so we can't really remove that.

[2020-09-14 13:55] pliutak-nih commented on #26861
Any update on it?

[2020-09-14 14:08] ramaraochavali commented on #27293
Seems like a bug https://github.com/istio/istio/pull/27295

[2020-09-14 14:23] upodroid commented on #27292
I tried that it doesn't work

[code]

[code]

[2020-09-14 14:39] howardjohn commented on #22443
@tmshort we request the certs as part of the bootstrap which seems to unblock it. If you still have issues its likely another bug?

[2020-09-14 14:40] howardjohn commented on #26861
@pliutak-nih not at this time. I have identified the root cause and am trying to get confirmation from the Envoy team whether this is an Envoy bug or if there is something we can do on Istio side.

[2020-09-14 14:42] tmshort commented on #22443
@howardjohn What commit/change enabled that? What version?

[2020-09-14 14:42] guyromb commented on #27292
Can you share the auth policy you applied ?

[2020-09-14 14:43] howardjohn commented on #27284
https://github.com/istio/release-builder has all the info and steps

[2020-09-14 14:46] howardjohn commented on #22443
https://github.com/istio/istio/pull/23666

[2020-09-14 15:01] tmshort commented on #22443
Thanks @howardjohn. We have that already in 1.5.7, but are still experiencing this issue.

[2020-09-14 15:01] upodroid commented on #27292
[code]

[2020-09-14 15:28] james-mathiesen commented on #26380
I think I have goals that are unexpected. We're introducing istio into large clusters with many existing cluster-wide opt-in services.  The effect I want is for istio to be opt-in by namespace and for the injector to be opt-in by pod. I've found this a bit difficult. There's nothing to do here unless our concerns overlap though.

Maybe the earliest divergence is that I want a namespace label that

[2020-09-14 15:28] #26380 closed

[2020-09-14 15:32] howardjohn commented on #22210
Not stale

[2020-09-14 15:33] howardjohn commented on #22490
note stale

[2020-09-14 15:34] howardjohn commented on #21186
Not stale

[2020-09-14 15:34] howardjohn commented on #21572
Not stale

[2020-09-14 15:54] guyromb commented on #27292
[code]

this is my full config. can you adjust it to something like that? also, can you confirm that the label is correct?

[2020-09-14 16:34] GregHanson commented on #26792
Is there any scenario where we don't want `ENVOY_READINESS_CHECK_TIMEOUT` to be in sync with the readiness probe timeout value?  Don't we at least want them to have the same default value?

[2020-09-14 16:57] lucasponce commented on #24379
This is closed but I can see it in a different version of the demo app:
![image](https://user-images.githubusercontent.com/1662329/93115402-13852980-f6bc-11ea-841a-c1427bc9c30d.png)

https://github.com/kiali/demos/tree/master/travels

[2020-09-14 17:10] howardjohn commented on #22093
note stale?

[2020-09-14 17:12] abhioncbr opened #27297 "More generic Kiali configmap deployment."
**Describe the feature request**
Currently, Kiali ConfigMap deployment is not generic enough to handle different configs, for example, `accessible_namespace` value is hardcoded for all namespaces.

[code]

It should be configurable, and also there is no param for `exclude-namespace` like in `samples/addons/kiali.yaml`. I also noticed Kiali supports openID based authentication for Kiali however cha

[2020-09-14 17:31] bianpengyuan commented on #24379
Yeah there is no change between 1.6.x to 1.7.1. This issue still relies on the work around to increase proto sniffing timeout and [this comment](https://github.com/istio/istio/issues/24379#issuecomment-666688526) still applies to your demo app. FWIW, the long term effort to make timeout infinite is in progress and hopefully it can make 1.8.

[2020-09-14 17:42] howardjohn commented on #27238
What is setting the SignatureAlgorithm in the CSR?

[2020-09-14 18:54] #27293 closed

[2020-09-14 19:16] zachomedia commented on #24385
@howardjohn Can we remove the lifecycle/stale from this issue? Thanks!

[2020-09-14 19:20] upodroid commented on #27292
The selector is correct. The strange thing is that the IP white list works on its own but it doesn't work with the jwt.

[2020-09-14 19:24] kyessenov commented on #26627
I think #27272 is a requirement for debuggability of EnvoyFilters. Envoy extensions should be able to expose their metrics.

[2020-09-14 20:43] JimmyCYJ commented on #25570
@incfly can I assign to you as you have context on the auto mTLS feature? Feel free to reassign. Are there any changes to the code to support auto mTLS without restarting pods?

[2020-09-14 21:34] adamo57 commented on #27267
is injection enabled on the namespace for that pod?

[code]

[2020-09-14 21:43] aattuluri opened #27300 "Selective EnvoyFilter inclusion for Multicluster installs"
**Describe the feature request**
If multiCluster is set to true, an envoy filter to translate *.global to *svc.cluster.local is included in the operator configuration. This should be configurable as i) There can be cluster suffixes which are not "svc.cluster.local" or ii) *.global could be directly addressable in remote cluster without any translation via a Service Entry.

**Describe alternatives

[2020-09-14 21:43] howardjohn commented on #24385
not stale

[2020-09-14 21:47] ceastman-ibm opened #27301 "virtual service rewrite doing urldecoding"
**Bug description**

when a path is rewritten in the virtual service, that path that is forwarded onto the endpoint is urldecoded.

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
to have the uri remain unchanged, or at least a feature flag

[2020-09-14 22:18] howardjohn commented on #27244
Ca nyou try running:

[code]

These will give useful info. If not, get a full config dump and post here: https://github.com/istio/istio/wiki/Troubleshooting-Istio

[2020-09-14 22:36] howardjohn commented on #26861
Ah its actually not (or at least, not *only*) an issue of failing to send to the new cluster. We remove the cluster, THEN we send the listener update pointing to the new cluster. So there is a short period of time where we point to a non existant cluster.

[2020-09-14 22:39] nmittler commented on #27137
@ostromart have we identified a standard doc template for beta graduation?

[2020-09-14 22:45] howardjohn commented on #27301
This probably needs Envoy support, I don't think there is a way to configure this currently

[2020-09-14 22:47] howardjohn commented on #27297
samples/addons/kiali.yaml is a plain YAML with no customization available. This is meant as a starting point for users to get up and running, it is not intended as production grade fully configurable helm chart. You are more than welcome to make changes to it (locally) or switch to using the kiali helm chart or operator (not maintained by Istio team). See https://istio.io/latest/blog/2020/addon-re

[2020-09-14 22:47] #27297 closed

[2020-09-14 22:51] howardjohn commented on #27290
I am not against adding logging but if you are trying to audit the identities created, this seems like the wrong approach. The logs are meant for debugging only. if we want to support auditing we really need a more secure solution.

[2020-09-14 22:52] howardjohn commented on #27288
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/intro/terminology

and

https://discuss.hashicorp.com/t/why-does-hashicorp-seem-to-refer-to-upstream-downstream-as-the-opposite-of-everything-else-ive-read/8663

May be helpful here

[2020-09-14 22:54] howardjohn commented on #27286
Hi @kiemlicz . thanks for the report. While this is a very valid bug, its a duplicate of https://github.com/istio/istio/issues/26882. PTAL and that (and https://github.com/kubernetes/kubernetes/issues/57923) for a bunch more information (but unfortunately no fixes)

[2020-09-14 22:54] #27284 closed

[2020-09-14 22:56] howardjohn commented on #27283
Seems the doc is teling you to use the nodePort (`export TCP_INGRESS_PORT=$(kubectl -n istio-system get service istio-ingressgateway -o jsonpath='{.spec.ports[?(@.name=="tcp")].nodePort}')`) but you use .port. Can you try that instead?

[2020-09-14 22:56] howardjohn commented on #27283
Or maybe it gives conflicting advice - if so we need to  update the doc

[2020-09-14 22:56] howardjohn commented on #27282
This is probably not accurate anymore? @jwendell @dgn?

[2020-09-14 22:58] xiaozhongliu commented on #27267
yes exactly, I didn't do manual injection.

[2020-09-14 23:04] howardjohn commented on #27281
Seems like a bad regex? @kyessenov @douglas-reid

[2020-09-14 23:07] kyessenov commented on #27281
Yeah, extraStatTags is required to introduce new metric label names, see https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/.

[2020-09-15 00:32] ceastman-ibm commented on #27301
@howardjohn so to confirm, envoy proxy does url decoding when it rewrites?

[2020-09-15 00:37] #27151 closed

[2020-09-15 00:37] #27183 closed

[2020-09-15 00:37] #27185 closed

[2020-09-15 00:38] istio-testing opened #27304 "[release-1.7] Fix Service and WorkloadEntry updates"
Manual cherrypick required.

#27184 failed to apply on top of branch "release-1.7":
[code]

[2020-09-15 00:39] howardjohn commented on #27301
@ceastman-ibm I am not familiar with Envoy internals, but based on this it appears so.

[2020-09-15 02:21] zhengzepeng commented on #27293
Good~This is what i need，thank you！Can this merge into istio1.6?

[2020-09-15 03:11] istio-testing opened #27307 "[release-1.7] do not apply locality load balancer settings for inbound clusters"
Manual cherrypick required.

#27295 failed to apply on top of branch "release-1.7":
[code]

[2020-09-15 03:11] istio-testing opened #27308 "[release-1.6] do not apply locality load balancer settings for inbound clusters"
Manual cherrypick required.

#27295 failed to apply on top of branch "release-1.6":
[code]

[2020-09-15 03:11] istio-testing opened #27309 "[release-1.7] do not apply locality load balancer settings for inbound clusters"
Manual cherrypick required.

#27295 failed to apply on top of branch "release-1.7":
[code]

[2020-09-15 03:12] ramaraochavali commented on #26792
Yes. I think it would be good have them in sync.

[2020-09-15 04:05] Kampe opened #27310 "Allow for Istio Operator to be installed via Kustomize"
There should be very little work to get this to a deployable state, before the operator was merged into the istio root repo, this was achievable by running
`kustomize build github.com/istio/operator/deploy/`

Would allow others to install istio very simply, and for those who use gitops tooling to utilize the operator as a remote base and utilize the CRDs to deploy Istio via git.

[X] Docs
[X] Inst

[2020-09-15 05:02] #21781 closed

[2020-09-15 05:02] #21787 closed

[2020-09-15 05:03] #23711 closed

[2020-09-15 05:03] #24024 closed

[2020-09-15 05:04] #24104 closed

[2020-09-15 05:04] #24285 closed

[2020-09-15 05:04] #24290 closed

[2020-09-15 06:20] iandyh commented on #26844
Looks like the real issue is when the cluster is turn on with `autoMTLS`.

[2020-09-15 06:52] jotak commented on #21762
Not sure what changed but I don't see the problem anymore in 1.7
For me then, it's fine to close.

[2020-09-15 06:52] pantianying commented on #27282
The network-related operations have been completed through the CNI plug-in. I can't install ISTIO when I don't give istio these permissions, but I don't know why istio needs such high permissions. This is a black box for me, so can someone explain it to me.

ths

[2020-09-15 06:55] kiemlicz commented on #27286
Hi, thank you for reply

Are you sure this is the same as linked one?
I didn't provide any `securityContext`, the https://github.com/kubernetes/kubernetes/issues/57923 is about providing one

Or this is enough that the Istio injected container uses one?

[2020-09-15 06:57] #27286 closed

[2020-09-15 06:59] shamsher31 opened #27311 "Lint warning for missing Deployment spec.template.metadata.labels"
**Bug description**
Originated from https://github.com/istio/istio/pull/27242#issuecomment-691469641

According to deployment requirements, the `Deployments` `spec.template` should have `labels` assigned.

https://preliminary.istio.io/latest/docs/ops/deployment/requirements/

[code]

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security

[2020-09-15 07:04] romilpunetha commented on #20362
Any resolves for this? Happening with us as well on istio 1.5.2.

[2020-09-15 08:01] cynial commented on #24731
Is it possible to achieve?

[2020-09-15 08:18] hzxuzhonghu commented on #27216
Addressing it with https://github.com/istio/istio/pull/27105

[2020-09-15 08:53] m0ps commented on #26922
The issue is resolved now.
After examining of debug logs from caller pod, the following message was fond:

    [2020-09-11T17:50:48.061Z] "- - -" 0 - "-" "-" 402 0 3885 - "-" "-" "-" "-" "10.160.12.136:80" PassthroughCluster 10.160.162.112:46154 10.160.12.136:80 10.160.162.112:46146 -

The key is **PassthroughCluster** . It means that the connection was not handled by any of envoy routes and handl

[2020-09-15 09:03] sstubbs opened #27313 "Cannot Get Source IP"
**Bug description**
Cannot get source ip when using NodePort or metallb as a loadbalancer. It shows the ingressgateway pod ip.

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[X] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
See client ip in pod.

**Steps to reproduce the bug**
[code]
[co

[2020-09-15 09:03] m0ps commented on #26922
It seems like this issue contains related info: https://github.com/istio/istio/issues/16581

[2020-09-15 09:07] m0ps commented on #27291
Not sure for 100%, but probably this https://github.com/istio/istio/issues/26922#issuecomment-692570952 can be helpful.

[2020-09-15 09:32] andrascz opened #27315 "[1.7.x] VirtualService HTTP routes are not picked up when Gateway has httpsRedirect set to true"
**Bug description**
When upgrading istio from version 1.6.3 to 1.7.x (tried both 1.7.0 and 1.7.1), all our virtual services gone ineffective. The ingress gateway responds with 404 to all requests.

I assume this is broken by https://github.com/istio/istio/pull/24958
A similar issue is already reported, although with a different usecase: https://github.com/istio/istio/issues/27157

[ ] Docs
[ ] Ins

[2020-09-15 09:33] astrikos commented on #27291
@m0ps thanks for the suggestions, unfortunately we use istio `1.7` and the `protocolDetectionTimeout` seems to be by [default](https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/#MeshConfig) 5s there. So I am not sure if that's the case :thinking:

[2020-09-15 09:53] sstubbs commented on #27313
This is a really big problem for me. I would be interested to know if anyone else has this problem. The server is behind a cisco router which is port forwarding to a public ip.

[2020-09-15 09:57] hustshawn commented on #24450
This is quite annoying when getting the error whenever I wanna customize the istio config.
[code]
So what exactly the problem is? how come this issue is resolved?

[2020-09-15 10:02] hustshawn commented on #24450
It's easy to reproduce the stuck scenario.
[code]
[code]
The new istiod pod would be stuck at `ContainerCreating` stage.
[code]

[2020-09-15 10:05] sstubbs commented on #27313
I tried enabling sidecar injection again to see if there are any changes since I last used it but I still get the ip 127.0.0.1

[2020-09-15 10:40] shubhamitc commented on #26990
we are seeing the same issue on gke 1.6 and istio 1.7.1. We enabled the debug flag and below is the logs from ingress-gateway for istio 1.7.1

[code]

While the same for EKS and istio 1.6.8 looks like below, which works
[code]

We have verified that istio-coredns version is 1.6.2 for both of them. Based on these logs it looks like EnvoyFilter is not being called in 1.7.1 to rewrite the requests fr

[2020-09-15 10:45] galindro commented on #27240
@morvencao ah ok, now I got it. Would be nice to have this information clear under https://istio.io/v1.6/docs/reference/config/istio.operator.v1alpha1/#BaseComponentSpec. There, it points out that the whole https://istio.io/v1.6/docs/reference/config/istio.operator.v1alpha1/#KubernetesResourcesSpec can be used, but that's not true.

BTW, is it possible to implement all KubernetesResourcesSpec sett

[2020-09-15 12:09] esnible commented on #27315
Duplicate of https://github.com/istio/istio/issues/27157 ?

[2020-09-15 12:15] andrascz commented on #27315
Because in #27157 the proposed solution is to write an analyzer, I am afraid it will not solve our issue. We would like to have both HTTP routing and HTTP to HTTPS redirection on the same gateway port with HTTP protocol. The redirection happens when the `X-Forwarded-Proto` header contains `HTTP`, the routing happens when it contains `HTTPS`

[2020-09-15 12:34] softcane commented on #27281
@kyessenov
Isn't `proxyConfig.extraStatTags` is only applied to the sidecars? In my case, I want to add it in the ingress routes only.

[2020-09-15 12:39] kkwekkeboom opened #27317 "Istioctl port-forward error"
**Bug description**
When upgrading from istio 1.6.5 to istio 1.7.1 (including istioctl) istioctl reports errors on some commands, e.g. on `version`.

[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

**Steps to reproduce the bug**
Have a con

[2020-09-15 12:42] esnible commented on #27301
I couldn't find any issues in https://github.com/envoyproxy/envoy/issues , open or closed, around rewriting and URL percent encoding.  You may need to open an issue there.

People often escape the colon in URLs.  It is safe to use the colon, unescaped, in the PATH part of URLs.

The Envoy docs say the original header, before rewrite, it put into the `x-envoy-original-path` header.  Is it URL perce

[2020-09-15 12:51] esnible commented on #27272
Istio supports the pod annotation `sidecar.istio.io/statsInclusionPrefixes` (and also `sidecar.istio.io/statsInclusionRegexps` and `sidecar.istio.io/statsInclusionSuffixes`).  The default is, I believe, `cluster_manager,listener_manager,server,cluster.xds-grpc,wasm`.  You should be able to your own.

[2020-09-15 12:54] esnible commented on #27266
You can use

[code]
and have this gateway handle all hosts, including `caller`.

[2020-09-15 13:02] esnible commented on #27317
Earlier versions of Istio did the equivalent of `kubectl exec` to ask the control plane for the version.
Istio now uses the equivalent of `kubectl port-forward` for the same behavior.

The change was made to be more secure (letting cluster users contact ports on the control plane is safer than letting them run commands on the control plane) and because we are moving to a more secure communication

[2020-09-15 13:08] guyromb commented on #27205
FYI, I tried to upgrade to 1.7.1. Same issue

[2020-09-15 13:26] turaleck commented on #26861
Hi @howardjohn I am seeing similar issues with Argo rollout using [blue/green deployment strategy](https://argoproj.github.io/argo-rollouts/features/bluegreen/) and Istio 1.4.9. I maintain load on the system while the deployment is taking place, and in some cases, gRPC client services that are calling the service being redeployed get `UNAVAILABLE` response code (gRPC code 14) with response flags `

[2020-09-15 13:31] linsun commented on #26792
Agreed, while #26820 minimizes the changes of hitting it, having the value in sync would be good and reduces confusion as well :)

[2020-09-15 13:57] mkurde opened #27320 "gRPC Ingress with wildcard host match returns "Unimplemented" on client side"
**Bug description**

After upgrading to Istio 1.7.1 (from 1.5.4) the authority header matching in ingress-grpc VirtualServices stopped working and clients get "Unimplemented".

Not working  (Working on Istio 1.5.4)
[code]

We could get it working by splitting up the entries into single VirtualSerive Resources without authority header matching.

Working 👍
[code]

Gateway configuration used in the e

[2020-09-15 14:02] guyromb commented on #27205
Checking the issues, it seems related to "404 errors occur when multiple gateways configured with same TLS certificate".
The suggested way to avoid it is "..by configuring a single wildcard Gateway, instead of two (gw1 and gw2).".

However, since the Gateways are generated automatically by Istio, I am not sure how to tackle this?

[2020-09-15 14:04] arnecls commented on #27320
We could not find a reason why exactly the wildcard host is causing issues here, yet.
All envoy configurations look OK (checked via `istioctl pc`)

It does not seem to be an issue with HTTP/HTTP2 services, which use the exact same pattern.
I.e. HTTP2 services listening on port 80 still use wildcard host + authority match with istio 1.7.1, as they did with istio 1.5.4.

[2020-09-15 14:22] howardjohn commented on #24450
See the mentioned link in the error message: https://istio.io/docs/ops/best-practices/security/#configure-third-party-service-account-tokens. It explains the issue and mitigation steps

[2020-09-15 14:24] howardjohn commented on #27286
Istio injects securityContext

On Mon, Sep 14, 2020 at 11:57 PM stachu <notifications@github.com> wrote:

[2020-09-15 14:25] esnible commented on #21990
@sdake The cert Makefile makes certs with the filenames needed for VMs.

We no longer need certs for _istioctl_, except for cases where the user doesn't have Kubernetes.  Is there someone who could be assigned to improve the Makefile to generate certs for istioctl?

[2020-09-15 14:26] howardjohn commented on #26861
If the server pod shows `503 NR` its very likely the same. If its something else, may be different

[2020-09-15 14:28] kkwekkeboom commented on #27317
I myself am admin of my cluster.

Can it be that the default istiod-istio-system role does not have permission to port-forward?

[2020-09-15 14:29] y0zg opened #27321 "Multicluster mTLS doesn't work between 1.6.8 <-> 1.7.1 and 1.7.1 <-> 1.7.1 versions"
Multicluster mTLS does work between 1.6.8 <-> 1.6.8 versions

But multicluster mTLS doesn't work between 1.6.8 <-> 1.7.1 and 1.7 <-> 1.7.1 versions

~~update : noticed ingress port 15443 isn't opened in istio 1.5.x~~ - solved port access issue for 1.5.x after redeployment but this doesn't solve multicluster mTLS access issue between 1.5.x and 1.6.8/1.5.x clusters

[ ] Docs
[ ] Installation
[x] Net

[2020-09-15 14:29] esnible commented on #23526
@yangminzhu what is the status on this?  Several PRs have been merged, what work is remaining?

[2020-09-15 14:40] sdake commented on #21990
The case where the user lacks Kubernetes is a virtual machine environment? If so, perhaps @myidpt can take a crack at implementing this work as he has strong opinions about how the work should be done.

I don't think the makefile is the right approach. I think direct integration into istioctl is better, even for VMs. For the VM case, as @myidpt outlined in the design he proposed in this issue, the

[2020-09-15 14:43] esnible commented on #23776
@myidpt @liminw Can Security Workgroup take on this issue?  Istiod SHOULD supply enough information that the authn troubleshooting command can be implemented.  I am happy to help with _istioctl_ but lack the knowledge of how to gather then information within the control plane and what the user expects to see as output.

[2020-09-15 15:04] wmuizelaar commented on #26992
Yes, I expect to see a 200, but got a 403.

I'm currently away - I'll provide the debug logging and config dump when I'm back, which will be next week.

[2020-09-15 15:15] nmittler commented on #26990
@shubhamitc thanks for the detail, that's helpful

@rshriram seems like something changed in 1.7 WRT DNS in multi-network scenarios ... Could you take a look?

[2020-09-15 15:19] esnible commented on #26123
@myidpt @liminw It would be great if there was an `istioctl proxy-config` subcommand that would tell if Envoy was configured for Permissive, Strict Istio mTLS, plain or other and which ports were involved.  Is this something the Security Workgroup could either implement or provide guidelines for?

I have been told by my product team that customers want to know if pods are permissive or strict.  Ca

[2020-09-15 15:28] esnible opened #27324 "'istioctl proxy-status' and 'version' to use XDS version, not legacy version"
This work item is replace the implementation of 'proxy-status' and 'version' with the experimental counterparts.

With this change istioctl stops call calling /version and /debug for those commands, reducing our dependency on the old debug endpoints.

Should we take votes if we should keep the old versions around, hidden and deprecated, or get rid of them completely.  I am in favor of getting rid

[2020-09-15 15:31] howardjohn commented on #27315
Right this seems like a related but more severe issue. The other one was a misconfiguration. This seems a proper configuration by the user but invalid config sent to Envoy.

[2020-09-15 15:37] esnible commented on #26220
@jasonwzm What priority do you want for this?  We put it as P1? on our roadmap.

[2020-09-15 15:42] howardjohn commented on #27320
Might be the same issue as https://github.com/istio/istio/issues/25350? Easy way to check would be to look at the route config dump for pattern like `  "*.domain.net:*"`

[2020-09-15 15:43] howardjohn commented on #27317
`the server is currently unable to handle the request (get pods cluster-local-gateway-77546bb4b4-6m4f6:15014)`

Looks like we are trying to call port 15014 (Istiod port) on a gateway which seems wrong

[2020-09-15 16:29] arnecls commented on #27320
Looks like it.
The pattern you mentioned is there.
We've spotted the additional ports via Wireshark, too.

[2020-09-15 16:37] JimmyCYJ commented on #27304
@howardjohn could please you create a cherry-pick PR for this?

[2020-09-15 16:38] kyessenov commented on #27272
@esnible That is certainly a work around. The problem is that it requires a restart (or pod redeployment), which is onerous to be able to apply EnvoyFilters.

[2020-09-15 16:41] howardjohn commented on #27304
Working on it. its a big cherrypick

On Tue, Sep 15, 2020 at 9:37 AM Jimmy Chen <notifications@github.com> wrote:

[2020-09-15 16:41] howardjohn commented on #27272
Isn't this configured in bootstrap and would fundamentally require a
restart?

On Tue, Sep 15, 2020 at 9:38 AM Kuat <notifications@github.com> wrote:

[2020-09-15 17:01] jasonwzm commented on #26220
P1 is fine.

[2020-09-15 17:06] kyessenov commented on #27272
@howardjohn Yes. So this might need dynamic stats support in Envoy, or just not filter stats so aggressively.

[2020-09-15 17:15] Shashankft9 opened #27328 "Way to expose application metrics when using authorization policies and/or mTLS"
**Describe the feature request**
I have been trying to use the Merge Metrics option in Istio through which I can aggregate metrics (app and envoy) on `15020` port of `istio-proxy` container through https://istio.io/latest/docs/ops/integrations/prometheus/#option-1-metrics-merging. The motive behind using this is to simply expose my application metrics whenever I use mTLS or istio authorization pol

[2020-09-15 17:20] turaleck commented on #26861
@howardjohn thank you for the quick response. I have envoyproxy configured to retry on 5xx. So I suppose after it exhausts all the retries it fails with `503 URX`

[2020-09-15 17:31] esnible commented on #27317
That is really how _istioctl_ gets the control plane version.  The code is `result, err := c.proxyGet(pod.Name, pod.Namespace, "/version", 15014).DoRaw(ctx)`.

[2020-09-15 17:34] linsun opened #27329 "dnsRefreshRate is default to 5s - too short"
This has caused issue for our users where it takes longer than 5s when calling external service and the dns refresh rate is too low.  from my sleep pod sidecar config:

[code]
I also found out the default is 60s from envoy - I propose we change default to 60s.

https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/common/dynamic_forward_proxy/v2alpha/dns_cache.proto

[code]

@howardjohn @GregH

[2020-09-15 17:35] howardjohn commented on #27317
`cluster-local-gateway` is not the control plane though, its part of the data plane

[2020-09-15 17:36] howardjohn commented on #27329
How does dns refresh rate impact slow calls?

Also, I thought we are setting respect_dns_ttl? So assuming the dns response sets a TTL we will not ever use 5s?

[2020-09-15 17:37] howardjohn opened #27330 "Istiod restart seems to break `istioctl wait`"
I restarted Istiod. Now `istioctl wait` results in logs like `error   ads     Unable to retrieve resource Gateway/default/istio-egressgateway at version oZ0CJ+DaE3I=: the trie node a19d0227e0da1372 is unavailable in the disk db, db may be corrupted`
cc @therealmitchconnors

[2020-09-15 17:37] howardjohn commented on #27330
[code]

is also seen

[2020-09-15 18:09] linsun commented on #27329
Ok I confirmed on 1.7 env we are setting respect_dns_ttl to true.

Our users are using 1.6.8/9 and found out the IP addresses kept switching when calling the external service with dns_refresh_rate to 5s.  Setting it to 60s via envoy filter solved this prob.

[2020-09-15 18:37] esnible commented on #24922
For 1.8, the ControlZ :9876 port will be protected by JWT and TLS.
This means this command should use the pattern of `experimental proxy-status` and generate and use a token.

[2020-09-15 18:46] luiof opened #27331 "Multiple Gateways - Routing problem 404"
Hi team!
I defined two gateway on the same selector `istio: ingressgateway` with different hosts and two virtualservice on these hosts (two urls for each virtualservice). Each host is defined without the wildcard, they are in the form of www.somesite.somedomain .
To show the problem, I use an example's set of URL (I can't show the url directly):

-  URL_1 in the gateway X with the cert1
-  URL_2 i

[2020-09-15 18:49] luiof commented on #27331
I tried the SNI routing also, without success. Any ideas?

[2020-09-15 20:35] douglas-reid commented on #27272
@kyessenov do you have any idea on the scope of work to support dynamic stats support?

[2020-09-15 20:40] douglas-reid commented on #4693
With the basic auth extension now merged, can we close this issue?

[2020-09-15 20:41] douglas-reid commented on #5045
I think it is time to close this. Mixer is no longer a going concern, and VM identity has evolved.

[2020-09-15 20:41] #5045 closed

[2020-09-15 20:43] bianpengyuan commented on #4693
I will close this once guide is available, and I will work on that.

[2020-09-15 20:45] kyessenov commented on #27272
I think it could use the existing hot-restart code path, but it should probably be discussed with envoy folks.

[2020-09-15 20:45] douglas-reid commented on #17386
@mandarjog based on conversations today, perhaps this is something we should tackle for 1.8, given annotations that will exist for endpoints and clusters?

/cc: @bianpengyuan

[2020-09-15 20:53] san360 commented on #25077
Same issue with istio 1.7.0, Works with 1.6.8

[2020-09-15 20:53] kyessenov commented on #27281
I think it's applied everywhere. It doesn't hurt if you don't actually use the tag, just adds a bit of perf overhead for regex. If it's not, we probably need to fix it.

[2020-09-15 20:55] douglas-reid commented on #26757
@pantianying Istio extensions via Wasm will continue to be supported moving forward in Istio. As @carolynhu relates, there were perf numbers published for 1.7 ([link](https://istio.io/latest/docs/ops/deployment/performance-and-scalability/)) and this will continue to be done for upcoming releases.

There is high-priority work for Wasm work underway for the 1.8 release (memory usage/lifecycle impro

[2020-09-15 20:55] #26757 closed

[2020-09-15 21:00] douglas-reid commented on #26318
I believe this is part of the ongoing effort to design a workable Telemetry API (whether that is augmenting existing APIs, or creating a new type of resource is not resolved).

Thanks for the suggestions on how this might function!

[2020-09-15 21:07] #24338 closed

[2020-09-15 21:07] #24349 closed

[2020-09-15 21:07] #24351 closed

[2020-09-15 21:08] #24305 closed

[2020-09-15 21:14] douglas-reid commented on #22408
I think this has been addressed now, correct?  Closing for now. Please re-open if it hasn't addressed your issue.

[2020-09-15 21:14] #22408 closed

[2020-09-15 21:21] douglas-reid commented on #23794
@thefirstofthe300 ignoring cross-projects metrics for a minute, can you describe your AWS env a bit?  anything running on a k8s cluster should work (i had a PoC of this awhile back). Are you running on VMs?

[2020-09-15 21:22] kyessenov commented on #26765
Are you happy with the final bi-di count or you want interval reporting for long-living gRPC requests?

[2020-09-15 21:24] douglas-reid commented on #22717
I think this is safe to close, what with the removal of Mixer, etc.

[2020-09-15 21:24] #22717 closed

[2020-09-15 21:24] mandarjog commented on #26765
We want interval reporting.

[2020-09-15 21:28] kyessenov commented on #26765
What about long-living HTTP requests? This has been the contentious topic.

[2020-09-15 21:33] douglas-reid commented on #24924
I think it is fair to say that this is a kiali issue (that was resolved in subsequent kiali releases). @jshaugn is updating the default values to point at 1.17 or 1.18 in the 1.5 branch the best way forward here?

[2020-09-15 21:50] DmitryKiselev commented on #26861
@howardjohn - thanks for all your comments above. We are having the same issue which is a GA blocker in our case. As I understand your proposed PR fix was not approved. Hence I was wondering:

a) if you could think of a work around that can be used in the meantime.
b) if you would recommend some other way to switch from Blue to Green as opposed to what Argo Rollouts are doing to avoid the 503 situ

[2020-09-15 21:54] howardjohn commented on #26861
@DmitryKiselev in the short term you can use VS to do this (see https://medium.com/infinite-lambda/canary-and-blue-green-deployments-with-helm-and-istio-4139886447b6 for example). You can also make sure the Service is created in the "right" order (see comment in https://github.com/istio/istio/issues/26861#issuecomment-686840121) - this is a HUGE hack though, just thinking short term mitigation.

M

[2020-09-15 22:07] JimmyCYJ commented on #26259
@myidpt @howardjohn since you worked on https://github.com/istio/istio/issues/22463, could you help to take a look at this issue? It is not clear to me what is the root cause, and whether the root cause to this issue is the same as the one fixed at #22463.

[2020-09-15 22:22] JimmyCYJ commented on #25872
Given that this is not a bug in Citadel, I am going to close this issue. Please feel free to reopen it. Thanks!

[2020-09-15 22:22] #25872 closed

[2020-09-15 22:26] JimmyCYJ commented on #26559
This 401 is expected per https://github.com/istio/istio/issues/26559#issuecomment-675682440, I am going to close this issue. Please feel free to reopen.

[2020-09-15 22:26] #26559 closed

[2020-09-15 22:47] DmitryKiselev commented on #26861
@howardjohn - thanks for a quick response! Appreciate it.

Argo does use the VS already. Could you, please, give a few more hints what is the differentiator in the work around you pointed out?
Thanks!

[2020-09-15 22:49] howardjohn commented on #26861
Instead of shifting the Service around, just switch the VS weights:
[code]

For example, the VS above is sending 100% of traffic to canary ^. Or you can do a percentage split, etc - lot of options here.

The key to working around this bug is to not change the Service associated with the pod.

[2020-09-15 23:11] DmitryKiselev commented on #26861
Perfect, thanks!!

Side Question: can someone from our team join the SIG meeting that you have mentioned happening in 2 days if its public?

[2020-09-15 23:13] howardjohn commented on #26861
@DmitryKiselev certainly. https://github.com/istio/community/blob/master/WORKING-GROUPS.md has all the info. It should be mentioned there but its at 9am PST Thursdays

[2020-09-16 00:46] mandarjog commented on #26765
I think it is especially important for long-lived connections. Otherwise there is not visibility into what is happening in the interim.
When debugging an on-going issue, current counts are very important.

[2020-09-16 02:23] bjwyun opened #27338 "can't trace x-request-id by using DestinationRule for HTTPS"
ENV:  OCP 4.3 + istio 1.48
USING ingressgate as:
[code]

the request will be  first go to  ``nginx`` service then nginx service will redirect the request to different pod in the same namespace by using ``HTTPS``.

and from jeager we only can get the request about istio-ingressgateway, can't get more detail info about which service this request have been redirect to.

![image](https://user-images.g

[2020-09-16 03:29] hustshawn commented on #24450
@howardjohn Thanks for your hint. I added these lines in the `customize.yaml` and it works now.
[code]

[2020-09-16 03:41] zhaohuabing opened #27340 "Default HTTP route retry policy calls a non-idempotent service two times with a single request"
**Bug description**

Pilot adds a default retry policy to HTTP routes, which can potentially call a non-idempotent service two times with a single request.  Event though retries only happen when the connection fails or an error response by the server, the server may have already done some modification on its state. In this case, it's better to let the downstream decide whether it should retry or n

[2020-09-16 03:54] puneethkosaraju commented on #22759
I am running into the same issue and I couldnt figure out a way to add overlay in IstioControlPlane. Any suggestions ?

[2020-09-16 04:13] carolynhu commented on #26200
Hi @kentchenjh , update on this ticket, we've published our blog post regarding security policies effect on performance, which can be found here: https://istio.io/latest/blog/2020/large-scale-security-policy-performance-tests/
In which we compare the performance results of mtls vs. plaintext that you can reference to. Thanks!

[2020-09-16 04:39] p-seeker commented on #20890
Hi @thanhlong9x . I am experiencing the same issue. Did you figure out how to fix it?
Thanks for your help.

[2020-09-16 04:58] stevenctl commented on #27321
If I'm not mistaken, on 1.7+ at least we use `443` as the external port for gateways. At least that's what happens in integration tests. @tbarrella @nmittler

[2020-09-16 05:01] #20717 closed

[2020-09-16 05:02] stevenctl commented on #27321
Both ports should work fine. though.

[2020-09-16 05:04] #24307 closed

[2020-09-16 05:04] #24330 closed

[2020-09-16 05:04] #24336 closed

[2020-09-16 05:04] #24357 closed

[2020-09-16 05:16] stevenctl opened #27342 "Multi-Cluster: Can only reach local Headless service"
With in-agent DNS, we should be able to support headless services having multiple IPs.

[2020-09-16 05:19] JimmyCYJ commented on #27321
@nmittler could you help to take a look?

[2020-09-16 05:27] jhughes2112 commented on #27257
Hit this today while upgrading from 1.6.x to 1.7.1, using exactly the same command line to istioctl.

[2020-09-16 06:00] jhughes2112 commented on #27257
I ran into this today.  Still working out a way to install via a stored manifest properly, but if you try this (after creating the namespace):
[code]
You will get a crashloop every time.

[2020-09-16 06:24] jhughes2112 commented on #27257
Looks like I get a crashloop with `istioctl install --set profile=default` straight out of the box, too.
Maybe 1.7.1 isn't fully baked?  I'm running on a bare metal Intel NUC with Ubuntu 18.04 LTS and Kubernetes 1.19.1 as the platform.  1.6.9 works fine, but 1.7.1 does not install at all.

[2020-09-16 06:26] jhughes2112 commented on #27257
For the record, 1.7.0 installs just fine with either of the above methods for me.

[2020-09-16 06:39] kentchenjh commented on #26200
appreciate it! that's what I need.

[2020-09-16 06:39] #26200 closed

[2020-09-16 07:10] kengan opened #27346 "Can istio control flow by access IP"
I want to control the flow by the user access IP for example
If user call my restful api through the machine with the  IP 1.2.3.4, I want the user go to the version 2
If user call my restful api through the machine with the  IP 4.5.6.7, I want the user go to the version 1
How to use the istio to achieve this ? Thank you

[2020-09-16 07:19] arnecls commented on #27320
This can be closed as a duplicate of #25350.
Corresponding envoy issues is https://github.com/envoyproxy/envoy/issues/12647

[2020-09-16 07:21] bjwyun commented on #27338
here is the  DestinationRule
[code]

[2020-09-16 07:31] jainbhavya65 commented on #15145
@howardjohn is there any way i can perform fault injection on https traffic.  i am able to perform fault inject for http traffic. i am using istio 1.6.5.

[2020-09-16 07:38] kkwekkeboom commented on #27317
It's not restricted to the cluster-local-gateway (ticket updated)
[code]

[2020-09-16 09:04] y0zg commented on #27321
Port issue was on `1.5.7` and started accessible after redeployment (I was testing various combination of istio).
For me currently multi-cluster mTLS works between istio version `1.6.8` but we have customers who use istio `1.5.7` or might use istio `1.7.x` so I wonder why different istio combinations don't work. Even `1.5.7` <-> `1.5.7` and `1.7.1` <->`1.7.1` don't work.

[2020-09-16 09:16] hmthoo opened #27348 "ingressgate no traceid"
**questions**
Now,  istio has been connect local zipkin， bookinfo app has traceid， but  ingressgate reponse headers no traceid. The official website documentation does not seem to have this description. I want add zipkin traceid in ingressgateway reponse, what should i do ? Thank you!

**version**
[code]

**install command**
[code]

**screenshot**
![image](https://user-images.githubusercontent.com

[2020-09-16 09:21] bjwyun commented on #27338
and in istio-proxy logs we found we've lost ``x-request-id``

[code]

[2020-09-16 10:10] esnible commented on #27257
@jhughes2112 1.7.1 should not crash with the defaults.  A crash with the defaults is probably not the issue here, which is incorrect customization.

What Kubernetes version are you running?  Does `kubectl -n istio-system logs deployment/istiod` show any interesting critical errors or panics?

[2020-09-16 10:30] nak3 opened #27350 "Istioctl x uninstall --filename does not remove ingressGateways"
**Bug description**

- Istioctl x uninstall --filename does not remove ingress-gateways.
- Please refer to the `steps to reproduce the bug` below.

[X] Installation

**Expected behavior**

- Ingress gateways are removed.

**Steps to reproduce the bug**

#### 1. Install Istio with the following operator manifest

[code]

[code]

Now, Istio installation works fine.

[code]

#### 2. Uninstall istio

[2020-09-16 10:36] dntosas commented on #21366
@Shashankft9 did you found any workaround for this ?

[2020-09-16 10:41] esnible commented on #27317
I can reproduce this.

This problem manifests when a user installs with an Ingress Gateway Deployment Pod with label `istio=<anything-other-than-ingressgateway>`.

You should not use `istio: cluster-local-gateway` in your Istio Operator.  I have a possible fix for 1.8, but for now just don't use `istio` labels on custom ingress gateways.

[2020-09-16 11:01] morvencao commented on #27350
@nak3 add `--purge` if you are intent to remove all Istio resources from the cluster.

[2020-09-16 11:11] #27307 closed

[2020-09-16 11:12] #26691 closed

[2020-09-16 11:29] dntosas commented on #21366
a little bit related --> https://github.com/istio/istio/issues/27328

[2020-09-16 11:33] m0ps commented on #21544
@HelloChenHZ it seems like your issue can be related to https://github.com/istio/istio/issues/24609
At least I have a similar problem and https://github.com/istio/istio/issues/24609 helped me to fix it

[2020-09-16 12:07] Shashankft9 commented on #21366
@dntosas I was able to find a workaround but it involves a bit of hardcoding which I have mentioned in the above issue that you mentioned.

[2020-09-16 12:47] hasusuf commented on #25801
This issue is a blocker of at least 3 of our clients. We are not able to pass the penetration test to be production ready!

We will appreciated, any workaround or hotfix here to eliminate that issue.

We are using istio 1.5.1 on GCP.

[2020-09-16 12:53] nak3 commented on #27350
@morvencao Thank you. So, the example in `istioctl`:

[code]

means that we cannot remove the resources in `iop.yaml` file.
Yeah, it says `a single control plane` but I didn't expect that I could not remove all resources defined in `iop.yaml`...
It is difficult to implement it?

[2020-09-16 12:57] nak3 commented on #27350
Ah, I think I understand. So, if I put `--filleoption` and `--purge` both like:

[code]

Then, the resources in `iop.yaml` can be cleaned up. Thank you.

[2020-09-16 12:57] #27350 closed

[2020-09-16 13:45] dntosas commented on #21366
@Shashankft9 check this --> https://github.com/prometheus-operator/prometheus-operator/issues/3354#issuecomment-693214165

I am trying to do something similar to that, no results yet ^^

[2020-09-16 13:46] dntosas commented on #27328
posting here for reference, an idea for a possible workaround, not yet checked --> https://github.com/prometheus-operator/prometheus-operator/issues/3354

[2020-09-16 14:01] christian-posta commented on #27321
The connection seems to barf on SSL handshake. Can you verify the certs are all rooted in the same root at runtime? Something like using openssl s_client -showcerts to verify

[2020-09-16 14:13] christian-posta commented on #26809
This use case makes sense to me. @l8huang seem to want to make use of Envoy's weighted load balancing (without respect to locality)

[2020-09-16 14:38] jughead commented on #17424
@Stono @HerrTamm did you guys found a workaround?

[2020-09-16 14:44] houshengbo opened #27355 "Istio Operator should revive the Istio deployments once they are deleted"
**Bug description**
Using the latest code base or any version of istio operator to install istio, three deployments, istio-egressgateway, istio-ingressgateway and istiod are launched.

If we delete any of these deployments, they cannot be revived by the istio operator. Istio operator still indicate the deployment is in health status with CR status info.

[ ] Docs
[*] Installation
[ ] Networking
[

[2020-09-16 14:47] bianpengyuan commented on #27338
Does the application pod populated trace context: https://istio.io/latest/docs/tasks/observability/distributed-tracing/overview/#trace-context-propagation?

Also does application sidecar terminate TLS or application itself terminate it? If application terminates TLS, then it is expected that trace won't be generated, because TLS encrypted request is opaque to proxy and thus it cannot instrument tr

[2020-09-16 14:48] houshengbo commented on #27355
/assign houshengbo

[2020-09-16 14:49] houshengbo commented on #27355
/assign @houshengbo

[2020-09-16 14:53] dntosas commented on #27109
shall we close this @michaelkoro ?

[2020-09-16 14:55] morvencao commented on #27355
Are you using in-cluster operator or `istioctl` to deploy istio?

[2020-09-16 14:58] howardjohn commented on #27317
@esnible sounds like the istiod is failing too though:

`	* error port-forewarding into istiod-7c955fcbc9-bgnfz : the server is currently unable to handle the request (get pods istiod-7c955fcbc9-bgnfz:15014)`

[2020-09-16 15:06] artyom-gatalsky opened #27356 "Istio Ingress Gateway's public AWS Classic load balancer fails health checks"
**Bug description**

I have multiple Istio Ingress Gateways in the cluster.
In one namespace I have 2 Istio Ingress Gateways: 1 with public AWS Classic LoadBalancer and 1 with private AWS Classic LoadBalancer.
Both load balancers have default TCP healthchecks.
For some reason, _public_ AWS Classic LoadBalancer periodically fails healthcheck to TCP port of kubernetes nodes.
No errors in istiod or i

[2020-09-16 15:26] laurentiuspurba commented on #25174
@xeor Did this work for you?

I have my prometheus url http://prometheus-prometheus-oper-prometheus.prometheus.svc.cluster.local:9090/ in my kiali configmap, but my kiali dashboard doesn't show the versioned app graph.

And I can see a red dot notification saying "promotheus not found".

I appreciate your input or suggestion on this.

[2020-09-16 15:29] howardjohn commented on #27320
@arnecls I think when we fixed some cases in some version after 1.5.4, we broke this one. I think we can make both cases better, but the "perfect" solution will require envoy change to support wildcard domain on arbitrary port (ie support nodeport or other fronted LBs where port does not match)

[2020-09-16 15:30] howardjohn commented on #20177
not stale

On Tue, Sep 15, 2020 at 10:01 PM Istio Policy Bot <notifications@github.com>
wrote:

[2020-09-16 15:32] howardjohn commented on #27320
Will track in https://github.com/istio/istio/issues/25350

[2020-09-16 15:32] #27320 closed

[2020-09-16 15:33] casparrolfe commented on #27317
Unsure if its related, but we are seeing something similar with an install of 1.7.1

[code]

[code]

I can provide any other information to help debug as its requested.

[2020-09-16 15:39] #27317 closed

[2020-09-16 15:44] morvencao commented on #27355
Looks like the PR https://github.com/istio/istio/pull/25076 break this, in-cluster should be working before that PR.

[2020-09-16 15:50] Shashankft9 commented on #25174
@laurentiuspurba mhm I have to try out this `overlay` way to update the configmap, I have been trying to do it through what @xeor mentioned, but it does not work for me sadly, I am guessing its because of the istio version I am using which is 1.6.3, but anyway I'll try your method.

And regarding your recent query, I wonder if you see any prometheus error logs in the kiali pod? like timeout or suc

[2020-09-16 15:55] casparrolfe opened #27359 "Istioctl commands failing with unknown error in 1.7.1"
**Bug description**

Unable to run debug commands against install of Istio 1.7.1 after upgrading from 1.4

[code]

[code]

I am able to port forward an istiod pod on 8080 and receive a 200 response on `/ready`

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**E

[2020-09-16 15:58] casparrolfe commented on #27359
Please let me know what further information you need to diagnose the cause. There do not appear to be any logs in istiod indicating any kind of server error.

[2020-09-16 16:30] nmittler commented on #27321
I tried this out with Istio 1.7.1 on 2 GKE `1.17.9-gke.1500` clusters (both in the default vpc) and it seems to be working for me.

Here are the scripts I'm using:

- [Install Control Plane](https://gist.github.com/nmittler/6927d333c4b00b2c02cdbd9bf973dbd5).
- [Install Services](https://gist.github.com/nmittler/c7c8ee14db6923e7269690ac3f158f9c). This installs HelloWorld in cluster1 and the sleep s

[2020-09-16 16:41] nmittler commented on #27321
It's also worth noting that we're moving away from this method (.global) of configuring multi-primary. There are a lot of reasons for this (general complexity, odd load balancing behavior, loss of locality LB, etc.). The new installation instructions for 1.8 use a simpler approach that lets cluster.local work across the mesh in the same way that it does for primary-remote. Load balancing works pro

[2020-09-16 17:07] houshengbo commented on #27355
I used in-cluster operator to deploy istio.

[2020-09-16 17:10] jhughes2112 commented on #27257
As stated directly above, Ubuntu 18.04LTS and Kubernetes 1.19.1.  Other than a massive dump of all the golang symbols, this is what is mentioned at the bottom:

[code]

I can tell you, having actually gotten it to properly install and then fail again, it 100% has to do with trying to install Istio on a master-worker node.  If you create a single-node cluster that has NoSchedule taint on the master

[2020-09-16 17:11] jhughes2112 commented on #27257
And yes, this is crash with this exact command line: `istio install`

[2020-09-16 17:24] #27117 closed

[2020-09-16 17:24] howardjohn commented on #27257
@jhughes2112 that is aweird error. I have only seen references from many many years ago. This may help possibly? https://stackoverflow.com/questions/18549324/golang-panic-before-malloc-heap-initialized

[2020-09-16 17:24] alexbklein91 commented on #11723
I see that this was prioritized as a P1, any idea, on relative timeframe when this would be supported?

[2020-09-16 17:32] myidpt commented on #27164
I think it's because Envoy doesn't support the cipher suite ECDHE-ECDSA-AES256-SHA384 by default:
https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/auth/common.proto
Adding Envoy experts Piotr and Lizan to give comments.

[2020-09-16 17:41] jhughes2112 commented on #27257
Also interesting... doing a standard install of 1.7.1 with a master + 2 worker nodes in bare metal did not actually create the envoyfilter.networking.istio.io CRD at all.  This prevented my cert-manager from completing its ACME requests, and also prevented me from getting to my services (but did do the http->https redirect since that's in virtual services).

When I uninstalled 1.7.1 and installed

[2020-09-16 17:45] JimmyCYJ commented on #27292
The proxy log shows this ```
checking request: requestedServerName: outbound_.80_._.atlantis.dev.svc.cluster.local, sourceIP: 10.201.67.87:60722, directRemoteIP: 10.201.67.87:60722, remoteIP: 86.3.X.X:0,localAddress: 10.201.67.85:4141, ssl: uriSanPeerCertificate: spiffe://cluster.local/ns/istio-system/sa/istio-ingressgateway-service-account, dnsSanPeerCertificate: , subjectPeerCertificate: , heade

[2020-09-16 17:51] myidpt commented on #27144
@ostromart Can you give some examples / guidelines?

[2020-09-16 17:52] myidpt commented on #27144
Tairan, please follow up with Martin on this.

[2020-09-16 17:57] myidpt commented on #27169
Can you be more explicit by "cause connection reset"? The connection can't be established at all from non-Istio services to Istio services, or some other issues?

[2020-09-16 18:03] tariq1890 commented on #24954
This can be closed as it's fixed in 1.7..x

[2020-09-16 18:03] #24954 closed

[2020-09-16 18:06] blankley opened #27364 "Incorrect regex in corsPolicy/allowOrigins causes all routes to 404"
A regex of '*' in the corsPolicy/allowOrigins causes all routes (not just the route defined by the given VirtualService) to return 404's:

[code]

Istio gives no errors, but ingress-gateway logs:

```warning	envoy config	gRPC config for type.googleapis.com/envoy.config.route.v3.RouteConfiguration rejected: no argument for repetition operator: *```

Ingress gateways keep accepting traffic until res

[2020-09-16 18:21] JimmyCYJ commented on #27290
cc @myidpt @liminw

[2020-09-16 18:30] myidpt commented on #24217
/cc @liminw

[2020-09-16 18:32] myidpt commented on #21993
/cc @liminw

[2020-09-16 18:36] stewartbutler commented on #17635
@howardjohn You set this as a P0 before stale bot killed it, and I don't think it's been resolved. Should we revive it?

[2020-09-16 18:36] JimmyCYJ commented on #27193
cc @myidpt

[2020-09-16 18:39] howardjohn commented on #17635
Yes, thanks

[2020-09-16 18:46] myidpt commented on #25618
/cc @liminw

[2020-09-16 18:48] myidpt commented on #26805
@yangminzhu Could you give update? Are you working on a related proposal?

[2020-09-16 18:50] richardwxn commented on #27359
seems like a kubernetes issue, did you have any problem running other kubectl commands

[2020-09-16 18:53] yangminzhu commented on #27292
The following usage is not supported, the value of `request.headers` is just plain text string matching and doesn't support CIDR matching. Currently you can only use the `sourceIP` for CIDR matching.

[code]

[2020-09-16 18:56] yangminzhu commented on #19292
Yes, this can be closed as there is only one authorization policy CRD now.

[2020-09-16 18:56] #19292 closed

[2020-09-16 18:56] myidpt commented on #23776
@esnible This is in our 1.8 release plan.

[2020-09-16 18:59] #19684 closed

[2020-09-16 19:03] yangminzhu commented on #25086
#24629 is fixed and now istiod would return a fake jwks so that it doesn't block the start of Envoy.

[2020-09-16 19:03] #25086 closed

[2020-09-16 19:04] incfly commented on #26922
For people who may potentially affected by this issue, this is caused by protocol detection timeout, and the envoy is then using passthrough cluster(which is plaintext) config to send request. Therefore strict mTLS server can't accept the request.

Add `PILOT_ENABLE_PROTOCOL_SNIFFING_FOR_OUTBOUND = true`

[2020-09-16 19:04] #26922 closed

[2020-09-16 19:07] yangminzhu commented on #24665
This is correct.

Yes, this is correct. As long as your have at least 1 ALLOW policy, it means any requests not specified in the ALLOW policy will be denied by default.

yes, the `hosts` field is checking the header, you can also use prefix matching `demo.istio.*` or just add `demo.istio.svc.slucter.local` to the list.

[2020-09-16 19:09] alekodu commented on #26789
I have the same issue with Istio 1.5.2.

[2020-09-16 19:10] psikka1 commented on #26595
the `build.sh` looks for  `GOOGLE_APPLICATION_CREDENTIALS`
[code]
I was able to follow the instructions in the readme and run
[code]

Had to set `ignoreVulnerability: true` in the manifest.

Now my build is failing with the below error:

[code]

@fpesce - can you give any clue to what needs to be done here?

[2020-09-16 19:12] JimmyCYJ commented on #27218
Given @howardjohn's analysis, I think #27268 is part of the fix. But I am not clear whether #27268 completely fixes the issue.
It would be nice if we can verify it at least manually. #27268 and file-based SDS feature do not have good test coverage, we need to improve the test coverage before calling this feature as beta/GA.

[2020-09-16 19:14] xeor commented on #25174
I'm on 1.7, and the noted config did fix one problem I had with kiali, however, kiali now says that it can't find any prometheus component. Other than a little red message saying that, kiali looks like it's working. Kiali did not work for me without this configuration.

[2020-09-16 19:26] yangminzhu commented on #26805
Using the `per_route` is theoretically possible but practically it is very hard (or impossible in some cases) because it needs a dedicated routing rule to override the ext_authz filter config.

The much better way is to add the matching API directly in the ext_authz filter as proposed in https://github.com/envoyproxy/envoy/issues/11832. I have an ongoing PR to implement this (https://github.com/en

[2020-09-16 19:38] mhite commented on #10547
We are hitting this issue when trying to integrate with https://www.gluu.org/. Apparently they have no grace period for key rotation in their implementation. Once they generate a new key, it is their expectation that they can immediately use it.

[2020-09-16 19:42] mhite commented on #10547
Could there conceivably ever be an option of choosing for Pilot to send jwksUri to envoy rather than jwks only? (Assuming Envoy supports refreshing against jwksUri when unrecognized kid arrives and envoy has network access to jwksUri.)

Could that be a simpler alternative than waiting for an SDS like implementation of key rotation for jwt?

[2020-09-16 19:59] casparrolfe commented on #27359
None that we have noticed. The role we are using has admin access to the cluster.

[2020-09-16 20:50] jhhurwitz opened #27373 "Multipart file upload: unexpected EOF"
**Bug description**

When the istio sidecar is enabled, we experience periodic failures in our multipart file upload code path (Go 1.15 http library). The destination of this file upload is another istio-enabled service behind a GCP global loadbalancer

http trace:

[code]

I turned up the istio log level to debug sometime later and observed the logs when an event like this occurred. Application r

[2020-09-16 21:06] howardjohn opened #27374 "Refine license linter search space"
Right now we look at all modules downloaded. I am fairly sure we should instead be looking at all modules that are *used*

`diff <(cat csv | cut -d, -f2 | sort) <(go list -deps -f '{{.Root}}' ./... | sort | uniq)` where csv is from `license-lint -csv | tee csv`

gives a diff of:

[code]

None of these show up in our final build artifacts.

Need to validate with other tools in this space. I am fair

[2020-09-16 21:23] howardjohn commented on #27374
* https://github.com/google/go-licenses/ behaves this way
* https://github.com/mitchellh/golicense works on compiled binaries. Ends up with similar results
* https://github.com/pmezard/licenses does this

[2020-09-16 22:04] puneetloya commented on #6861
If this feature is fixed in the future,  Are these following features will be supported?
1) setting a global timeout would be supported
2) This timeout will apply to tcp requests too.

[2020-09-16 22:07] y0zg commented on #27321
It seems documentation is missing step to add `ServiceEntry` on local cluster with svc https://istio.io/latest/docs/setup/install/multicluster/gateways/

multicluster mTLS version `1.7.1` started working after I added local `ServiceEntry`

multicluster mTLS version `1.6.8` version with only remote `ServiceEntry`

but this doesn't help to make istio version `1.5.7` working with multicluster mTLS

[2020-09-16 22:10] JimmyCYJ commented on #26598
There is a plan to use gateway yaml instead of ingress gateway deployment yaml and egress gateway depolyment yaml. And there is also a new file-based SDS feature. We could improve the file-mount approach on gateway for both ingress and egress gateways.

[2020-09-16 22:34] JimmyCYJ commented on #27169
Could you please test with Istio 1.5-1.7? 1.4 is EOL.

[2020-09-16 22:39] incfly opened #27376 "Support partial headless apps by build two different outbound clusters."
**Describe the feature request**
Comments from the thread, https://github.com/istio/istio/pull/27105#discussion_r487629499

We can further enhance usability for auto mTLS w.r.t headless services. They would work as if normal HTTP/TCP service, even only partial workloads have sidecar.

The idea is that we build two outbound cluster, one have mtls configured, one does not. We already build one outbo

[2020-09-16 23:11] ngms06 commented on #26861
@howardjohn: In our istio setup using argo rollouts for blue green deployments, the client is using the same virtual service pre and post deployment. The virtual service references a K8s service and argo rollouts updates the selector(replicaset hash of the pods) from blue to green pods during a deployment. We are getting NRX errors on the client post this switch.
The core issue seems to envoy conf

[2020-09-16 23:13] howardjohn commented on #26861
@ngms06 the issue isn't so much as delay its that we are swapping something non atomically.

Before:
listener points to cluster v1, we have clusters [v1] - all good

Intermediate state (should be a couple ms):
listener points to cluster v1, we have clusters [v2] - broken

After:
listener points to cluster v2, we have clusters [v2] - all good

[2020-09-16 23:41] darkstarmv opened #27377 "Istio k8s Ingress fails to route to backend if k8s ingress is using named port"
**Bug description**
Istio k8s Ingress fails to route to backend if k8s ingress is using named port

[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
Istio k8s Ingress is able to route to backend if k8s ingress is using named port

**Steps to

[2020-09-16 23:53] howardjohn commented on #27377
#24843 this was added in Istio 1.7

[2020-09-16 23:54] howardjohn commented on #27364
@esnible I think we added validation for regex's, did we just not include this one?

[2020-09-16 23:57] howardjohn commented on #27359
@casparrolfe can you run `kubectl get --raw '/api/v1/namespaces/istio-system/pods/istiod-5f4586ccd4-x4mmk:15014/proxy/debug' -v9`? Replace the pod with one you have. You can try it on 1.6 even if you rolled back. That is basically what the new istioctl command does, so that should give us some more info about what is going wrong.

[2020-09-17 02:09] bjwyun commented on #27338
@bianpengyuan  in My ENV istio-ingressgate push request to  nginx service. and in nginx log we can see all the header metioned in  https://istio.io/latest/docs/tasks/observability/distributed-tracing/overview/#trace-context-propagation
[code]
and I think is  sidercar terminate the TLS, here's all the  configuration I've done in my namespace

[code]

[2020-09-17 03:14] cocotyty commented on #27238
CSR created by istiod.

[2020-09-17 03:30] howardjohn commented on #27238
Csr generated by istiod? I thought the agent creates a csr and sends it to istiod?

I could not find any code where we actually set this field in the CSR we send to istiod

[2020-09-17 03:46] hmthoo commented on #27338
Excuse me, how did you add  x-b3-traceid in the ingress response header ？
There is no x-b3-traceidreturn in my request
[code]

[2020-09-17 04:00] xulingqing commented on #26656
Sorry for my late reply. Could you using envoy debug logging to verify whether your request is send with ip `52.24.252.78`.

First, restart your pods in namespace foo, redeploy the `AuthorizationPolicy ` and then turn on envoy rbac debugging mode.
[code]

Second, send a request to your service.
[code]

Third, check the log and it will the IP that you used to reach httpbin service.
[code]

If the i

[2020-09-17 05:00] #15245 closed

[2020-09-17 05:02] #21863 closed

[2020-09-17 05:04] #24374 closed

[2020-09-17 05:04] #24377 closed

[2020-09-17 05:04] #24413 closed

[2020-09-17 05:15] ediezh opened #27379 "Istio ingress gateway with AWS NLB has high target reset count"
**Istio ingress gateway with AWS NLB has high target reset count(400-500 per minute)**

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

AWS NLB metrics show reasonable target reset count

**Steps to reproduce the bug**
Deploy istio ingress

[2020-09-17 05:26] mandarjog commented on #24741
Not stale.

[2020-09-17 05:58] xulingqing commented on #26656
If you updated your istio to 1.7.1, you may use `istioctl install --set meshConfig.accessLogFile=/dev/stdout` to enable envoy access log as described [here](https://istio.io/latest/docs/tasks/observability/logs/access-log/#enable-envoy-s-access-logging)

[2020-09-17 06:09] #27355 closed

[2020-09-17 06:10] istio-testing opened #27380 "[release-1.7] fix inconsistent cr hash."
Manual cherrypick required.

#27358 failed to apply on top of branch "release-1.7":
[code]

[2020-09-17 06:18] casparrolfe commented on #27359
[code]

I think this might be something to do with the NGINX proxy we have in front of the Kubernetes API. Will investigate a bit more. Thanks.

[2020-09-17 06:52] bjwyun commented on #27338
@hmthoo How do you config your gateway & VS ? I believe   ``x-b3-traceid`` is added by the ``istio-ingressgateway`` itself.

I can see that ``x-b3-traceid`` in my nginx logs but I also didn't find ``x-b3-traceid`` in the response of my request.

[2020-09-17 06:54] #27356 closed

[2020-09-17 07:17] ghaering opened #27382 "initconainer cannot access network"
**Bug description**

My own init container has no access to Kubernetes API, and probably network in general. My init container lists secrets, but access to the Kubernetes API server is not possible:

The connection to the server 10.14.0.1:443 was refused - did you specify the right host or port?

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry

[2020-09-17 07:33] andrewridout opened #27383 "istioctl commands failing in 1.7.0 and 1.7.1"
**Bug description**
Using commands like `istioctl version` or `istioctl ps` fail when using the Istio 1.7.0 and 1.7.1 `istioctl` client:
[code]
[code]

However, if I use the v1.6.9 version of istioctl client, the commands work:
[code]
[code]

[ ] Docs
[x] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[

[2020-09-17 08:37] arnecls opened #27385 "Istiod stuck in endless loop after istio 1.7 update due to old virtual service"
We just upgraded our control plane from istio 1.5.4 to istio 1.7.1.
To do so, we replaced the operator via rendered manifests, and then deployed a modified istio operator profile.yaml as the istio 1.5 operator profile is to a certain degree incompatible to istio 1.7 operator profile.

After the istio 1.7. operator accepted the new profile, it started deploying new versions of the istiod deployment

[2020-09-17 08:57] kozmod opened #27386 "OpenShift - istio-proxy injection error: Error creating: admission webhook "sidecar-injector.istio.io" denied the request - Executing "inject" at <gt .ProxyConfig.Concurrency 0>: error calling gt: invalid type for comparison"
**Bug description**
When trying install Istio from a manifest (witch was generated using *istioctl*) get an error:
[code]
[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Affected features (please put an X in all that apply)**

[X] Multi Cluster
[ ] Virtual Mac

[2020-09-17 09:15] shakthi-manai commented on #24851
I have the same issue...

[2020-09-17 09:25] jamsa2-rogBec-xahpuv commented on #27386
https://www.knowyourotcs.org/wp-content/uploads/2015/03/72dpi--SafeMedicineDisposal_poster_v4r2.pdf

[2020-09-17 09:51] shubhamitc commented on #26990
thanks @nmittler I will wait for further updates here.

[2020-09-17 10:08] osaffer commented on #27244
Hi,

I am sorry for the late reply,

I think it is more a Haproxy configuration issue.
HAproxy is configured as passthrough:
frontend https_istio
   mode http
   option forwardfor
   bind VIP:443 transparent
   default_backend https_istio_back

backend https_istio_back
    mode http
    option log-health-checks
    balance roundrobin
    timeout connect 10s
    timeout server 1m
    server host1 I

[2020-09-17 10:43] lucasponce opened #27388 "Wrong source_principal field stored in Telemetry"
We have noticed that workloads without serviceAccount reports an incorrect source_principal in the telemetry metrics.

This impacts Kiali as AuthorizationPolicies can be generated from principal reported by telemetry info.

How to reproduce with bookinfo:
[code]

bookinfo-review-v2.yaml
[code]

Metrics from ratings where source is reviews v2 where "source_principal" is wrong:
![image](https://user

[2020-09-17 11:12] ediezh commented on #27379
Hmm..looks like setting ingress gateway service `externalTrafficPolicy` to `Local` fixed the problem.

[code]

[2020-09-17 11:19] yoep commented on #24856
Hi

I'm running against the exact same issue when using **MTLS** with **Postgres**.
I did follow the FAQ regarding MTLS on MYSQL and applied it to the Postgres deployment.
I hope I can provide additional information surrounding this issue with the information/configuration listed below.

**Client side**
[code]

**Destination Rule**
[code]

**Policy**
[code]

**Config Dump**
[config-dump.txt](https

[2020-09-17 11:24] rinormaloku commented on #25618
Hi @yangminzhu

The change is merged in the Envoy proxy repo.

Is there any process that I need to follow to merge this back into envoy-wasm and then into istio-pilot, or it will be done while other changes are merged from the envoy repo?

[2020-09-17 11:55] casparrolfe commented on #27359
Everything works when I bypass the reverse proxy. Unfortunately this isn't practical for our every day use, so we will need to figure out what is causing the issue there, but it certainly looks like istioctl is working as intended.

Thanks for your help, @howardjohn !

[2020-09-17 11:55] #27359 closed

[2020-09-17 12:37] grzesuav commented on #27328
I believe exposing named port from `istio-proxy` container should be the way

[2020-09-17 13:25] dntosas commented on #27328
managed to do proper scraping without changing anything but `serviceMonitor` with this:
[code]

removed `targetPort` and filter `pod_container_name=istio-proxy` will do the job

[2020-09-17 13:43] Shashankft9 commented on #27328
@dntosas how do make sure in this `servicemonitor` that the scraping is done from port `15020` instead of `15090`?

[2020-09-17 13:56] linsun opened #27390 "istioctl analyzer warn on namespace not injected for istio injection"
**Bug description**

I ran the cmd for my entire cluster and it is generating too many warnings for me.  I would much prefer the `The namespace is not enabled for Istio injection` an info vs a warning because this is most likely by user's choice, similarly as `Info [IST0118] (Service cert-manager.cert-manager) Port name  (port: 9402, targetPort: 9402) doesn't follow the naming convention of Istio

[2020-09-17 13:56] linsun commented on #27390
@esnible @therealmitchconnors thoughts on this?

[2020-09-17 14:10] howardjohn commented on #27386
you must have a mismatch of something, such as istiod version and injection template. I see your control plane version is some random sha so seems like you are doing your own build and may have built the wrong version compare to the install template you are using?

[2020-09-17 14:13] howardjohn commented on #27385
I am not sure what you mean by not matching? Kubernetes will store everything as v1beta1 but istiod will request then as v1alpga3 and they are conveyed on the fly.

Seems more like you have an invalid field appendHeaders in the virtual service?

[2020-09-17 14:14] #27288 closed

[2020-09-17 14:24] kozmod commented on #27386
I have clone `release-1.6`, build docker images and use `istioctl 1.6.2`

[2020-09-17 14:27] darkstarmv commented on #27377
ok, thank you

[2020-09-17 14:27] #27377 closed

[2020-09-17 14:28] esnible commented on #27364
When I apply this corsPolicy _kubectl_ responds with
[code]

If I use `regex: '.*'` for allowOrigins the application succeeds.  `"allow_headers": "*"` is placed into the Envoy configuration, and 404s do not happen.

404s happen for me if I use the exact `hosts` and `gateways` here.  I used the values from _samples/httpbin/httpbin-gateway.yaml_.  Yours may be correct for your system, check with _is

[2020-09-17 14:33] howardjohn commented on #27383
Can you follow the steps here? https://github.com/istio/istio/issues/27359#issuecomment-693727041

[2020-09-17 14:36] howardjohn opened #27391 "TestClientTracing and TestProxyTracing regression"
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/27105/integ-telemetry-k8s-tests_istio/20057
https://prow.istio.io/view/gs/istio-prow/logs/integ-telemetry-k8s-tests_istio_postsubmit/3722

Seems to have recently got worse - could be a real regression

[2020-09-17 14:37] howardjohn commented on #27391
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/27312/integ-telemetry-k8s-tests_istio/20050
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/27365/integ-telemetry-k8s-tests_istio/20047
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/27335/integ-telemetry-k8s-tests_istio/20046
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/2710

[2020-09-17 14:39] howardjohn commented on #27386
@kozmod from your issue: `data plane version: 1.7-dev (2 proxies)` so clearly something is going wrong?

[2020-09-17 14:42] arnecls commented on #27385
If I do `kubectl get vs ... -o yaml`, and see apiVersion `networking.istio.io/v1beta1` being set, then I assume the resource was comitted as such. Or can it be that it has been comitted as `networking.istio.io/v1alpha3` and was "upgraded" by istio?

The resource I posted above was working well with Istio 1.5.4, hence my assumption that istio 1.7 changed it.
If you look at the [istio 1.4 documentat

[2020-09-17 14:44] howardjohn commented on #27244
Looks like there are no listeners for 443 at all. Do you have any virtual services defined for the gateway?

If I just apply the GW you had in the original issue, I get the same result. Adding a virtual service adds the listener. See:

[code]

for example

[2020-09-17 14:45] howardjohn commented on #27385
That is not how kubernetes versioning works. It is always stored as a single version. I think the error is the same as https://github.com/knative/serving/issues/7320

[2020-09-17 14:46] howardjohn commented on #27385
My main point is the `apiVersion` is probably a red herring, the real issue is the unknown field appendHeaders

[2020-09-17 14:53] nmittler commented on #27321
@y0zg

That's surprising to me. Without configuring DNS to resolve `.global` in the local cluster, I'm not sure how this could work. Are you sure you didn't have a `ServiceEntry` hanging around from a previous run?

I just tried it out on `1.6.7` with only the remote SE and I get:

[code]

[2020-09-17 15:05] kozmod commented on #27386
Maybe, but I don't understand how `data plane version: 1.7-dev` matches with release/dev branches

[2020-09-17 15:05] bjwyun commented on #27338
@bianpengyuan any suggestion of this situations ?   thanks.

[2020-09-17 15:09] arnecls commented on #27385
So you mean if I commit a virtual service with `v1alpha3`, it is stored as `v1beta1`?
That would be an issue here, as `appendHeaders` is a valid field with `v1alpha3` but not with `v1beta1` (as I already pointed out).

I mean - there are a couple of deprecated resource versions in Kubernetes itself, which you can still use, so I was assuming that `v1alpha3` is deprecated but still available. Or wa

[2020-09-17 15:10] howardjohn commented on #27385
Ok I have found the issue. if you apply the VS on 1.7, k8s will prune the unknown fields. If you apply it on 1.5, then upgrade to 1.7, k8s will keep the unknown fields and we blow up in istiod.

The fix is probably to do the same as done here in Istiod: https://github.com/knative-sandbox/net-istio/pull/114/files.

[2020-09-17 15:15] kyessenov commented on #20177
That's because we need two versions of the proto (gogo again). So golang version is in istio/istio.

[2020-09-17 15:40] andrewridout commented on #27383
@howardjohn Here's the output:
[code]

[2020-09-17 15:42] osaffer commented on #27244
Hi,

kubectl  get vs,gw,dr -n harbor
NAME                                           GATEWAYS             HOSTS   AGE
virtualservice.networking.istio.io/harbor-vs   ["harbor-gateway"]   ["*"]   6m2s
virtualservice.networking.istio.io/portal-vs   ["portal-gateway"]   ["*"]   6m2s

NAME                                         AGE
gateway.networking.istio.io/harbor-gateway   6m2s
gateway.networking.is

[2020-09-17 15:44] esnible opened #27392 "Incorrect 'istioctl analyze' when multiple control planes inject different sidecar images"
Reported by @linsun , who has an Istio in istio-system and another in istio2.

The problem seems to be related to a TODO in _galley/pkg/config/analysis/analyzers/injection/injection-image.go_

[code]

[2020-09-17 15:57] y0zg commented on #27321
Yep, I can confirm with only local ServiceEntry this works like it actually described in doc https://istio.io/latest/docs/setup/install/multicluster/gateways/

Deleteted istio including istio-system namespace  and deployed istio 1.6.8 following above istio doc

[code]

[code]

**Cluster 1**

[code]

**Cluster 2**
[code]

**Cluster 1:**

[code]

[code]

**Cluster 2**

[code]

There are no ServiceEn

[2020-09-17 17:15] jamsa2-rogBec-xahpuv commented on #27386
noreply@letfan.com

[2020-09-17 17:17] mandarjog commented on #27385
By the time configuration gets to istiod it should always allow unknown fields for all. We *can* do double parsing to warn of unknow fields, but the enforcement should have already happened before.

[2020-09-17 17:28] bianpengyuan commented on #27388
I cannot reproduce. Can you double check if reviews-v2 service account is not set? Also from the metrics looks like rating deployment service account is default service account, it that expected?

[2020-09-17 18:09] bianpengyuan commented on #27338
When nginx routes request to the other services, does it populate the trace context? The workload logic (in this case nginx) needs to copy the trace context into the request sending out to other services in order to associate spans in the jaeger. Except ingress spans, can you find other orphan spans originated from sidecar proxy of nginx?

[2020-09-17 19:09] pc-rshetty commented on #26965
This worked when i declared them in same file . I think this needs to be fixed to add all the rules comming from different virtualservice config file and append(AND) it to the rule

[2020-09-17 19:10] pc-rshetty commented on #26965
This is how it worked

gateways:
  - mygateway.default.svc.cluster.local
  hosts:
  - '*'
  http:
  - match:
    - headers:
        test-user:
          exact: "true"
      uri:
        prefix: /admin
    route:
    - destination:
        host: admin-canary-service
        port:
          number: 8080
    timeout: 120s
  - match:
    - headers:
        test-user:
          exact: "true"
      uri:

[2020-09-17 19:17] luckoseabraham commented on #27063
hey @howardjohn / @adiprerepa  - Would you guys be open to a PR to check if the namespace is already present before trying to create one ?

[2020-09-17 19:20] howardjohn commented on #27382
Are you using Istio CNI?

[2020-09-17 19:20] howardjohn commented on #27382
https://istio.io/latest/docs/setup/additional-setup/cni/#compatibility-with-application-init-containers

[2020-09-17 19:43] esnible commented on #27383
@howardjohn
- How can I reproduce this?  I want to at least test it manually before writing the fix.
- There is a spelling error: "error port-forewarding ...." in Istio 1.7.x, but not master.

[2020-09-17 19:50] howardjohn commented on #27383
@esnible I don't know all the different cases but for sure one is if you do not have connectivity from api-server -> istiod:15014. In GKE this can be tuned with firewall rules, not sure how to do so in kind or other setups though

[2020-09-17 19:51] lucasponce commented on #27388
I'm using Istio 1.7.1 on Minikube.

No, ratings should use the serviceAccount defined in `samples/bookinfo/platform/kube/bookinfo.yaml`.

Not sure why you can't reproduce it.

[2020-09-17 20:07] bianpengyuan commented on #27388
Can you get both deployment from your cluster and check?

[2020-09-17 20:32] abhioncbr opened #27398 "Installation issue for Istio ingress gateway installation with different readiness probe through Istio operator."
**Bug description**
I am trying to install the istio ingress gateway with a different readiness probe than the usual one. Following below is my istio-operator manifest
[code]

while applying through istio-operator following logs, I noticed
[code]

[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experie

[2020-09-17 20:55] puneetloya commented on #17139
I do see similar logs with Istio 1.6.9

[2020-09-17 21:01] lucasponce commented on #27388
Mmm weird, after recreate and provision a new cluster I can't get the wrong result.

I wonder if it was something on my test env.

Anyway, I will close it, and reopen it if I get it again.

Thanks for looking @bianpengyuan

[2020-09-17 21:01] #27388 closed

[2020-09-17 21:18] howardjohn opened #27400 "Cache VM test base images"
Right now we spend ~12 minutes running `apt get ...` for the app_sidecar images. We should just build these once and then do `FROM ...`.

These are just for tests anyways, so it doesn't even matter if they are out of date really.

[2020-09-17 21:36] upodroid commented on #27383
I can confirm the same error.

GKE Cluster

In my case, it was trying to connect over port 8080.

[code]

[2020-09-17 21:37] upodroid commented on #27383
Adding those ports is not documented in https://istio.io/latest/docs/setup/platform-setup/gke/

[2020-09-17 21:49] #27063 closed

[2020-09-17 22:17] ediezh commented on #27379
But I'm still curious why the NLB target reset count is high with the default config?

[2020-09-17 23:00] howardjohn commented on #26953
@hacktron95 are you still working on this? I think I remember you saying you were but maybe I made that up

[2020-09-17 23:09] hacktron95 commented on #26953
hello @howardjohn, sorry I got busy and couldn't continue working on it.
I should've mentioned that earlier, Sorry for that.

[2020-09-18 00:46] incfly commented on #26844
@JimmyCYJ could you take a look? Even if the issue is demontrated when upgrade & enable auto mTLS, but from the error message, I think it's more of a SDS interaction timing issue.

[2020-09-18 01:58] bjwyun commented on #27338
@bianpengyuan great comments, I will check about nginx configurations. and here's get some logs from nginx istio-proxy container. for all the network inbound and outbound, I found already lost x-request-id info.
I'm not sure if nginx routes miss the header,Do all the  inbound request will lost the x-request-id ?
[code]
and also some warning logs in nginx istio-proxy
[code]
/etc/istio/ingressgatewa

[2020-09-18 03:02] tinochan commented on #176
Would like to have the team's advice if the function Rate Limiting by bandwidth (e.g. bytes/second) may be included in the coming release?

[2020-09-18 03:08] douglas-reid commented on #176
@gargnupur can you take a look at this request?

[2020-09-18 04:43] douglas-reid commented on #27391
Logs seem to have: `E0917 08:23:21.356753   91712 portforward.go:340] error creating error stream for port 46611 -> 9411: Timeout occured`

Did something change re: ports with the server?

[2020-09-18 04:48] howardjohn commented on #27391
Afaik the add-on deployment hasn't changed for quite some time - but possibly the port forwarding code did or the add-on is somehow crashing or something now?

I don't know exactly when this started but seems to be the last couple of days

[2020-09-18 04:49] douglas-reid commented on #27348
Can your ingressgateway reach the zipkin service?

I notice:

[code]

Do you have error logs in the ingressgateway pod that mention Zipkin?

[2020-09-18 05:02] #21921 closed

[2020-09-18 05:02] #21924 closed

[2020-09-18 05:41] dntosas commented on #27328
@Shashankft9 our goal is to scrape both `business/application` + `istio-proxy` metrics right?

What we observed is that upon merging all metrics to port `15020`, we didn't see both metrics exposed but only the Istio ones.

So, we disabled merging and we scrape business metrics from application port (lets say 80) and scrape istio-proxy from 15090. What this serviceMonitor does is simply doesn't nee

[2020-09-18 06:41] yangminzhu commented on #22609
@dmarkey I finally get sometime to look into this, I get both HTTP and HTTPS working, please see the example config here: https://gist.github.com/yangminzhu/2123c6614825aeadba38279110450b62

[2020-09-18 06:50] douglas-reid commented on #27391
I'm seeing it in my PR now too. Something definitely broke. Seems to follow a pattern of zipkin taking ~30s to get ready and then immediate port-forward failures:

[code]

Did something change with the test infra?  The image itself hasn't been updated for months. Test grid only seems to have data for the last couple of runs.

[2020-09-18 07:00] douglas-reid commented on #27391
Weirder still: checking the logs of a PR that PASSED the test, I also see a failure to establish the port-forward.

[code]

[2020-09-18 07:33] hmharsh commented on #14205
Had the same problem
later on, found that the security certificates were not proper (by checking istiod logs)
confirmed by using sample certs provided with istio doc available on istio GitHub repo and installation succeeds.

[code]

[2020-09-18 07:42] ivansi657 opened #27406 "Hello world"
Story.txt
Story-ivan657-edit.txt
Story-ivan657-edit-reviewed.txt
Readme- edits
Readme.nod

[2020-09-18 07:43] Shashankft9 commented on #27328
@dntosas I think there is some misunderstanding here - merge works for me, I can see the `application` metrics and the `istio-proxy` metrics on the port `15020` locally, its just that I am unable to expose this port on prometheus. If you are getting this error:

this is probably because you still have the shipped istio servicemonitor that scrapes metrics from `15090` port, once you remove that you

[2020-09-18 07:46] ivansi657 opened #27407 "Camaras de la ciudad"
Story.txt  hello-world

[2020-09-18 07:49] #24460 closed

[2020-09-18 07:50] douglas-reid commented on #27391
Seeing what adding a readiness probe might do to the tests: https://github.com/istio/istio/pull/27405

[2020-09-18 08:32] rolandkool opened #27409 "Path parameters allow bypassing of AuthorizationPolicy rules"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Envoy does not seem to be doing proper path normalization when path parameters are added to the path.
This allows for bypassing authorization policy

[2020-09-18 08:34] pc-rshetty commented on #26965
This works perfectly fine in one environment but doesnt work in another environment i check all configurations are same in both.

Env 1:
calling /adam routes traffic to adam-canary-service

Env 2:
calling /adam routes traffic to **admin-canary-service**

I need some guidance here @howardjohn !

How do i check whats wrong in the layer 7 routing in Env2 , any help appreciated

[2020-09-18 08:35] #27406 closed

[2020-09-18 08:35] hzxuzhonghu commented on #27406
Hi, thanks. please file a useful issue

[2020-09-18 08:35] #24462 closed

[2020-09-18 08:38] morvencao commented on #27398
There is a similar issue from kubernetes: https://github.com/kubernetes/kubernetes/issues/30991
If you check the [kubernetes API](https://github.com/kubernetes/api/blob/master/core/v1/types.go#L2352-L2367), you will find that only one handler for Probe can be specified
[code]

one and only one handler can be specified. Current merge strategy will merge original `httpGet` and new coming `Exec` fiel

[2020-09-18 08:41] hzxuzhonghu commented on #27382
Init container have set iptables that captured the traffic, but as the envoy is not up. This is the cause.

[2020-09-18 09:03] breun commented on #27409
A lo-fi regex-replace to filter out path parameters from a path is to use `;.*?/` and replace with `/`.

This transforms `/v1/..;/internal/path1/path5` (and `/v1/..;path_param=value/internal/path1/path5`) to `/v1/../internal/path1/path5` which should then get normalised to `/internal/path1/path5` which should then be blocked.

This regex doesn't filter out path parameters at the end of a path, so

[2020-09-18 09:23] mfamador commented on #24462
This would be very useful because right now or have to associate it to the whole gateway or to the workloads.
In the first case, all the requests go through the ext_authz app, even if we don't want to use the auth ervice, and in the second case, we need to figure out if the request came from the gateway or from another internal service, in which case we wouldn't want to use authorization service,

[2020-09-18 10:34] matty111 commented on #26094
I have the same problem

[2020-09-18 10:50] #27407 closed

[2020-09-18 10:50] mstrYoda commented on #24462
In another issue, I found this answer useful, we are waiting for that pr's to be merged: https://github.com/istio/istio/issues/26805#issuecomment-693615388

[2020-09-18 11:21] Exagone313 commented on #26883
Closing since it makes sense not to have this feature in istio.

[2020-09-18 11:21] #26883 closed

[2020-09-18 11:25] mfamador commented on #24462
Thank you @mstrYoda!

[2020-09-18 11:30] rootsongjc opened #27412 "The ratings service is currently unavailable while integrated the bookinfo demo with a virtual machine"
**Bug description**

[x] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

I followed both articles and installed Istio 1.7.1 in GKE and booted up a virtual machine to install Istio.

- https://istio.io/latest/docs/setup/platform-setup/gke/
- https://istio.io/latest/d

[2020-09-18 11:36] rinormaloku opened #27413 "remove pilot_xds_eds_instances from the sample grafana dashboards"
The `pilot_xds_eds_instances` metric has been removed in the PR #25519. But it is still in the Grafana dashboards, which should be cleaned up also. Below is an image to add context:

![image](https://user-images.githubusercontent.com/9026451/93593128-c8b52b80-f9b3-11ea-9b8c-877851520ec5.png)

[x] User Experience

[2020-09-18 11:49] abhioncbr commented on #27398
@morvencao Thanks for looking into the ticket.

Unfortunately, I cannot change `exec` based readiness probe to `httpGet`, as it causes issues with Azure App Gateway E2E TLS.  Tagging is the ticket related to it for reference [application-gateway-kubernetes-ingress#875](https://github.com/Azure/application-gateway-kubernetes-ingress/issues/875). What I am trying to achieve is to replace to `httpGet

[2020-09-18 14:06] gargnupur commented on #176
This would be great to have! We would have to add a new filter for this or improve current Envoy's rate limiting filter as current one doesn't have this capability https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/rate_limit_filter

[2020-09-18 14:18] laurentiuspurba commented on #25174
@Shashankft9 @xeor Thanks for your response.

I did a quick test on my `prometheus` which is located in different namespace, and did a query on `istio_requests_total` and `istio_tcp_sent_bytes_total` as per [kiali doc](https://kiali.io/documentation/latest/faq/#prometheus), and return **no result**.

Only `istio_build` query returns a result
[code]

I checked `istiod` Pods log, but I didn't see an

[2020-09-18 14:33] abhioncbr commented on #27398
Also, I did try and following  below works,

[code]
and `temp.json` file content is
[code]

I think the `istio-operator` should make a change to handle the scenario.

[2020-09-18 14:41] Shashankft9 commented on #25174
@laurentiuspurba that probably means you dont have the correct `servicemonitors` that would expose the metrics to the prometheus dashboard. Can you check if there are any `servicemonitors` in the `istio-system` ns, and also do a curl on any of the mesh pod with `curl <pod-ip>:15090/stats/prometheus` to check if metrics are present locally

[2020-09-18 15:52] howardjohn commented on #27391
@douglas-reid we did upgrade to k8s 1.19 and kind 0.9.0 - could be related. I don't think anything else really changed though

[2020-09-18 15:55] howardjohn commented on #27391
Opened https://github.com/istio/test-infra/issues/2933 btw

[2020-09-18 15:58] howardjohn commented on #26965
you should look at config dump: https://github.com/istio/istio/wiki/Troubleshooting-Istio and post here

[2020-09-18 16:03] bianpengyuan commented on #27338
looks like there are some misconfiguration, nginx istio-proxy does not process request as HTTP. Can you dump both ingressgateway and proxy configuration as listed here: https://github.com/istio/istio/wiki/Troubleshooting-Istio#sidecargateway-problems

[2020-09-18 18:17] bseenu opened #27417 "Istio 1.7.1 unable to install Kiali addon"
**Bug description**

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[*] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

**Steps to reproduce the bug**
/usr/local/istio-1.7.1/samples/addons  kubectl apply -f kiali.yaml
unable to recognize "kiali.yaml": no matches for kind "MonitoringDashbo

[2020-09-18 18:54] #27391 closed

[2020-09-18 19:25] #27413 closed

[2020-09-18 20:01] dntosas commented on #27328
@Shashankft9 my misunderstanding ^^ and yes, you are correct, we are scraping proxy metrics through `15090` port ^^

our problem was different so i am responsible for adding confusion in here, and sorry for that :)

[2020-09-18 20:46] JimmyCYJ commented on #25952
@irisdingbj @linsun @howardjohn could you please take a look?

[2020-09-18 21:00] christian-posta opened #27419 "Expose retry budget configuration"
**Describe the feature request**
I'd like to expose Envoy's retry budget settings for clusters:

https://www.envoyproxy.io/docs/envoy/v1.15.0/api-v3/config/cluster/v3/circuit_breaker.proto#config-cluster-v3-circuitbreakers-thresholds-retrybudget

**Describe alternatives you've considered**
Trying to configure by EnvoyFilter but since the retry budget is part of  the Envoy threshold/circuit breakin

[2020-09-18 21:30] nmittler opened #27420 "Make istiod-less Remote Cluster the default for multicluster"
For 1.8 (Multicluster Beta), we want to switch the default remote cluster type to be istiod-less. We also want to deprecate the old remote cluster type.

All tests should use the istiod-less remote by default as well.

[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[x] Test and Release
[ ] User Experience
[ ] Developer Infrastruct

[2020-09-18 21:41] #27383 closed

[2020-09-18 21:41] istio-testing opened #27421 "[release-1.7] Fallback to 'exec' if port forward to 15014 unavailable"
Manual cherrypick required.

#27414 failed to apply on top of branch "release-1.7":
[code]

[2020-09-18 21:53] JimmyCYJ commented on #23329
@pandagodyyy could you upgrade your Istio to at least 1.6? 1.4 is old and EOF.

[2020-09-18 22:49] JimmyCYJ commented on #26423
@GJKrupa could you provide more information per https://github.com/istio/istio/issues/26423#issuecomment-690813519?

[2020-09-18 22:51] #26953 closed

[2020-09-18 23:14] stevenctl commented on #27420
@irisdingbj @linsun can you point me to a doc or help me understand why we need to set `ISTIOD_CUSTOM_HOST`?

[2020-09-18 23:26] gdjimi commented on #20890
Same probleme here

[2020-09-18 23:52] yangminzhu commented on #22609
I'm closing this as the original issue is solved. The authorization policy is working as expected on egress gateway, the real problem is to tunnel TLS in mTLS between sidecar and gateway. See the above gist for the workaround I found, it has some limitations but that's the best I can find so far. I think this probably can be best answered in networking WG.

[2020-09-18 23:52] #22609 closed

[2020-09-19 00:07] yangminzhu commented on #23329
this can be done with the new AuthorizationPolicy and RequestAuthenticaion. You configure the AuthZ policy of A to only require JWT if the request is not from C. See   https://istio.io/latest/docs/tasks/security/authentication/authn-policy/#require-valid-tokens-per-path for example.

[2020-09-19 00:08] yangminzhu commented on #23329
@pandaamanda  Feel free to reopen the issue if you have more questions.

[2020-09-19 00:08] #23329 closed

[2020-09-19 01:06] tariq1890 opened #27423 "HTTP/1.1 (istio-proxy backed) service returning 503 "upstream connect error or disconnect/reset before headers" as response for multipart form data uploads"
**Bug description**

I have a scenario where two Services (both injected with proxies) are trying to communicate over HTTP. Service A makes an HTTP POST request to Service B (listening on standard http port 80).

Service A gets the following response body and code :

`upstream connect error or disconnect/reset before headers` `503`

To resolve this issue, what I do is change Service B's manifest Y

[2020-09-19 02:05] danielbcjr commented on #24630
I got the same in istio-1.7.2 =/
Egress pod describe:
Events:
  Type     Reason     Age                 From               Message
  ----     ------     ----                ----               -------
  Normal   Scheduled  102s                default-scheduler  Successfully assigned istio-system/istio-egressgateway-c999fffd6-lxchm to k8s-02
  Normal   Pulled     100s                kubelet

[2020-09-19 04:20] marziman commented on #17139
Hi @howardjohn ,

we are seeing this issue still with Istio 1.6.8.
We have connection drops and our services stop the DB connections. How can this be fixed properly (beside the pilot property with high CPU). As this is in production for us, we would be thankful if anyone can help.

Observed Behavior:

After services are inactive for a period of time (e.g 1 hour), first attempt to access mongo data

[2020-09-19 05:01] #20212 closed

[2020-09-19 05:04] #24466 closed

[2020-09-19 05:06] chadlwilson commented on #17139
The issue was was closed because the root cause was a specific regression introduced from `1.2.5` introduced with `1.3`  within Envoy code and then confirmed to be fixed with `1.3.4`. All of that context is above, which I'd encourage you to read.

It's also worth noting that as mentioned in many of these issues `gRPC config stream closed: 13` is normal with respect to the pilot connections. What w

[2020-09-19 06:16] fandayrockworld commented on #23874
Hi @lck0129 , there is a third party module `cjson` used in your yaml. But there was an error when I use: ` module 'cjson' not found`, would you like to show how it works?

[2020-09-19 10:13] marziman commented on #17139
@chadlwilson ,
many thanks for your answer.
I completeley studied the whole thread.

The problem: We didnt have this issue at all with Istio 1.2.x. After our update to Istio 1.6.8 last week this started to happen. So I dont think this is on Application levle, as it was running fine almost one year long.

We only see this Connection drops after ca. 30minutes and the first requests to our services f

[2020-09-19 11:00] marziman commented on #19321
Se have same istio version 1.6.8 and see connection drops around every 30mins.

How did you solve this @omerfsen ?

[2020-09-19 11:09] marziman commented on #17139
Maybe one more thing, we have the similiar state as https://github.com/istio/istio/issues/17139#issuecomment-684118616

I am wondering if the fix for this made it to the 1.7.x branch 😞

[2020-09-19 11:43] praveenbingo commented on #22290
@abhide I am interested in this feature, please let me know if i can help in anyway to speed this up..

[2020-09-19 11:52] bjwyun commented on #27338
@bianpengyuan here's the logs
[logs.zip](https://github.com/istio/istio/files/5249792/logs.zip)

and also a picture about kiali shows
<img width="1115" alt="Screen Shot 2020-09-19 at 6 04 35 PM" src="https://user-images.githubusercontent.com/31024715/93666535-9558c680-fab1-11ea-810f-8651458f0f58.png">

[2020-09-19 13:55] zhaohuabing opened #27425 "Implement “REPLACE" operation in the Envoyfilter API"
**Describe the feature request**

We want to use EnvoyFIlter API to add a Redis Proxy network filter in the listener, but it conflicts with the existing TCP proxy. Adding a "REPLACE" operation in the Envoyfilter API would solve this problem.

We can't use the Istio build-in Redis xDS implementation because it's too simple to support our Redis use case such as read policy and mirroring.

**Describe

[2020-09-19 17:36] GJKrupa commented on #26423
The examples I was working off are here: https://preliminary.istio.io/latest/docs/reference/config/security/request_authentication/ (this uses _matchLabels_ in the examples) but the WorkloadSelector definition at https://preliminary.istio.io/latest/docs/reference/config/networking/sidecar/#WorkloadSelector refers to the field as _labels_

[2020-09-19 18:19] incizzle commented on #25077
Same issue with 1.7.1, working with 1.6.8 though

[2020-09-20 01:44] morvencao commented on #27398
@abhioncbr working on this.

[2020-09-20 05:04] #24483 closed

[2020-09-20 07:33] amitabak-MA commented on #7640
Following the documentation in https://istio.io/latest/docs/setup/getting-started/  doesnt end up with the correct link , namely http://localhost/productpage. Please fix documentation

[2020-09-20 14:22] rinormaloku commented on #14900
As of 1.7.2 setting the property attempt to 0 fails the validation when **Patching** i.e. `kubectl edit vs <vs>`

[2020-09-20 15:51] chadlwilson commented on #17139
@marziman OK, although the way you initially described it as being when the connections were idle which is a bit different to this. If you are seeing it **regardless** of the connections being used/idle, **and** you can see a correlation to when pilot is pushing config (based on proxy logs) and then a drop shortly after that then it _might_ be something similar.

We haven't moved to `1.6.x` yet (s

[2020-09-20 17:22] abhioncbr opened #27428 "Istio-operator build failed while building a docker image on mac without using the build-tools container."
**Bug description**
Istio-operator build failed while building a docker image on mac without using the build-tools container. It failed while copying the ` manifests` folder into the image.
[code]

Did check the output folder and look like the `manifests` folder is missing however sub-folders of `manifests` are present in `docker.operator` folder. Attached is the image for reference.

[ ] Docs
[ ]

[2020-09-20 17:24] abhioncbr commented on #27428
Please assign this ticket to me as I am working on the fix.

[2020-09-20 17:29] abhioncbr commented on #27428
<img width="409" alt="make-docker-operator issue" src="https://user-images.githubusercontent.com/1076944/93717674-5bd19b00-fb45-11ea-9e87-fc5190cd5d4c.png">

[2020-09-21 02:43] morvencao commented on #27417
Can you reapply the yaml? the CRD is actually in the yaml file.

[2020-09-21 04:13] jaeyj2 commented on #22463
I also took action with istiod restart.

[2020-09-21 05:51] peter-fe commented on #27103
@irisdingbj , I just lined you in because you gave very valuable information that last time we had a similar topic.

@howardjohn,

How can we confirm if VM mesh expansion is currently (not) working with a revision of Istiod?

It is an important topic for us, as it will influence our future upgrade strategy:

- If we can go for the recommended way of doing revisions updates.
- Or if we are bound to

[2020-09-21 05:57] #24797 closed

[2020-09-21 07:04] ramaraochavali commented on #27423
Did you name the port before with any name when it did not work with http? Also can you share config_dump and any logs on either side when it did not work https://github.com/istio/istio/wiki/Troubleshooting-Istio?

[2020-09-21 07:10] senthilrch opened #27432 "Disable RequestAuthentication JWT rules for specific paths"
**Describe the feature request**
I am using the RequestAuthentication API at the Istio Ingress Gateway to enforce clients to present a valid JWT token. This is working fine.

However there are some workloads within the cluster which need to be exposed without the need to have a valid JWT token. One such workload is Keycloak which serves as the OAuth provider. Keycloak is responsible for issuing to

[2020-09-21 07:33] sdake commented on #18487
@shamsher31 your PR was closed by the policy bot inadvertently. I will add a staleproof to the PR.

[2020-09-21 08:20] mojiQAQ commented on #21982
i am running on istio 1.6.0 cluster, and get errors:
configuration is invalid: Envoy filter: can't unmarshal Any nested proto *envoy_config_filter_network_http_connection_manager_v2.HttpConnectionManager: unknown field "common_http_protocol_options" in envoy_config_filter_network_http_connection_manager_v2.HttpConnectionManager

and my envoyfilter is follows
[code]

[2020-09-21 10:04] y0zg opened #27433 "Multicluster mTLS throws 503 error for istio 1.5.7"
I followed standard istio multicluster version 1.5.7 deployment as per documentation
- https://istio.io/v1.5/docs/setup/install/multicluster/gateways/
- https://istio.io/latest/docs/setup/install/multicluster/gateways/

Added recommended local ServiceEntry as mentioned in  https://github.com/istio/istio/issues/27321#issuecomment-693690717
but this didn't help

[code]

[x] Docs
[x] Installation
[x]

[2020-09-21 10:25] satishmane opened #27434 "Istio 1.6.8 - sidecar does not filter proxy config"
**Bug description**

I have two redis clusters in same namespace. When I listed listeners on pods of these two redis clusters, I can see listeners IP:6379 from other clusters too. Hence I deployed two sidecars in same namespace with unique workload selector so that both redis clusters do not see each other listeners.

But this is happening as mentioned in istio docs.

root@e7871fec1c0f:/istio-1.6.

[2020-09-21 11:29] rinormaloku opened #27435 "EDS Pushes are not recorded in Proxy Push Time"
The metric `pilot_proxy_convergence_time_bucket` is not being used to track/record the time when EDS pushes are made.

Code where the push is not being recorded: https://github.com/istio/istio/blob/14e17ec192/pilot/pkg/xds/eds.go#L384-L390

Code where the push is being recorded:
https://github.com/istio/istio/blob/14e17ec192/pilot/pkg/xds/ads.go#L558

To test this simply delete a pod and let it be

[2020-09-21 12:49] satishmane commented on #27434
Added egress domains which made filter

[2020-09-21 12:49] #27434 closed

[2020-09-21 13:07] GusTheSadGeek commented on #27204
This is happening to me with 1.7.1

[2020-09-21 14:09] ericvn commented on #27428
One just needs to remove the / at the end of the line: https://github.com/istio/istio/blob/master/tools/istio-docker.mk#L186

[2020-09-21 15:03] luiof opened #27437 "Istio Ingressgateway pods are running on not-edge nodes."
Hi team!
We are using the Istio managed provided as Addon in the IBM Cloud. The ingressgateway pods are running on not-edge nodes. We checked each ingressgateway pod and we found that there are not ingressgateways on our edge nodes.

From the istio-ingressdeployment we can see the affinity:

[code]
But the affinity doesn't seem to work.
A solution could be to create a custom gateway as in [https:/

[2020-09-21 15:03] abhioncbr commented on #27428
Yeah, @ericvn. done with the changes, going to open the PR very soon. Thanks.

[2020-09-21 16:08] ZhangJ-Roykin opened #27439 "Automatic injection function fails when the VM restart"
**Bug description**
Automatic injection function fails when the server machine restart

[ ] Docs
[*] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

[ ] Multi Cluster
[*] Virtual Machine
[ ] Multi Control Plane

**Expected behavior**

**Steps to reproduce the bug**

Step1 Tu

[2020-09-21 16:20] #27428 closed

[2020-09-21 16:57] Heraclitus commented on #20676
@howardjohn question on this issue, can you confirm whether the below depicted scenario is possible w/regards to this bug?

I'm concerned that the symptoms might be beyond the 503s reported in related issues. Is it possible that say VS route rules would get ignored given this bug?  For instance, ...

1. system is running 1.4.4 (or earlier)
1. pod-x ip:1.0.0.1 exists in `podsByIP[ip]`
2. some unkno

[2020-09-21 16:57] howardjohn opened #27440 "log.Info drops parameters"
[code]

will end up logging:
[code]

expected:
[code]

[2020-09-21 17:17] howardjohn commented on #20676
Possibly. I strongly recommend you upgrade.

[2020-09-21 17:22] howardjohn commented on #24857
not stale

On Sun, Sep 20, 2020 at 10:05 PM Istio Policy Bot <notifications@github.com>
wrote:

[2020-09-21 17:23] howardjohn commented on #27103
@peter-fe I haven't looked into this, but there is nothing fundamentally blocking revisions and VMs. The only difference on the VM is a different address is exposed. We likely just need to fix some docs or make some tiny config tweaks.

[2020-09-21 17:26] ericvn commented on #27417
I don't recall the specific error, but Kiali doesn't usually install with a single apply. See Info box on that page:
[code]

[2020-09-21 17:35] Kampe commented on #27310
@howardjohn is this by chance possible in the operators current form?

[2020-09-21 17:52] laurentiuspurba commented on #25174
@Shashankft9
This is what I did on `istio-system` NS
[code]

For the curl command, since I have Bookinfo application, I used `details-v1-xxx` Pods and its IP Address to execute the curl command:
```▶ kubectl exec details-v1-6674858674-mg4st -c istio-proxy -- curl '10.88.2.7:15090/stats/prometheus'```

<details>
  <summary>And the result - click to expand</summary>
<p>

[code]
</p>
</details>

I al

[2020-09-21 18:12] #27400 closed

[2020-09-21 18:33] Shashankft9 commented on #25174
Are you sure that there is enough traffic going in the mesh workloads? Because envoy metrics are there.
If you think the traffic is there and still the metrics are not coming up, I recommend you start a conversation in istio's slack channel `#extensions-telemetry`:  https://app.slack.com/client/T382U9E4U/C382V8Q92

[2020-09-21 18:44] peter-fe commented on #27103
@howardjohn,

I'm assuming the same, but changing the pilot address to reflect the revision service name had no impact. I also tried recreating the certs to match the revision host name and setting a host record with the revision service name. It seems like connectivity is given but the cert handshake fails with that awkward "EOF" error.

[2020-09-21 19:31] howardjohn opened #27444 "istioctl proxy-config regression: does not find default namespace"
[code]

Root cause is #27086. The `Args` call which depends on defaultNamespace runs after PersistentPreRunE which sets the defaultNamespace.

[2020-09-21 19:43] howardjohn commented on #27439
Can you check with Kubernetes? I don't see how Istio could cause this - it seems more likely Kubernetes is not sending Istio the webhook request at all.

[2020-09-21 19:44] howardjohn commented on #27435
This is (sort of) intended because EDS pushes are "incremental" and only do a fraction of the work normal pushes do, to avoid skewing the results. Very open to suggestions here though

[2020-09-21 19:44] howardjohn commented on #27425
#27426

[2020-09-21 19:44] #27425 closed

[2020-09-21 20:42] tariq1890 commented on #27423
These are the debug logs of service A's istio proxy:

[code]

[2020-09-21 20:46] laurentiuspurba commented on #25174
@Shashankft9 I believe I have enough traffic going to BookInfo Application. I refreshed the `/productpage` multiple times.

I'll try to reach out the `#extensions-telemetry` slack channel that you mentioned.

Appreciate your help on this.

[2020-09-21 20:47] rshriram commented on #27423
config dump?

[2020-09-21 20:47] vic614 commented on #22341
I agree, with headers condition, CIDR should be available for matching ip ranges.

[2020-09-21 20:50] vic614 commented on #22341
source.ipBlocks can be applied on only gateways not a specific workload. Is this the current implementation?

[2020-09-21 21:07] carolynhu commented on #24520
https://github.com/istio/test-infra/issues/2937

[2020-09-21 21:19] incfly commented on #25909
For people who are potentially affected by this same issue, this should now should already be resolved in 1.7 release and future release. We might cherry-pick the fix to older release as well.

---

Debugging notes

## Reproduce issue

I setup the large number of namespaces for fortio load test, adapted from istio/tools repo. Istio is installed with default profile and options. I also need to use

[2020-09-21 21:19] #25909 closed

[2020-09-21 21:51] williamaronli commented on #27290
so @howardjohn @JimmyCYJ @olsaki do we comes to a consensus whether this audit debug log should be added or not?

[2020-09-21 21:55] ostromart opened #27448 "Istioctl install resets dynamically allocated ports to 0"
If a port value is unset in IstioOperator CR, this is treated as 0. Therefore, if k8s replaces the value with a dynamically allocated one in the cluster, merge semantics will cause it to be reset back to 0, leading to the port being allocated again.
kubectl treats such k8s special fields differently and does not exhibit this behavior. For 1.8 we should use server side apply to exactly follow kubec

[2020-09-21 23:22] howardjohn commented on #25395
Superseded by https://github.com/istio/istio/issues/24667

[2020-09-21 23:22] #25395 closed

[2020-09-22 01:34] hobbytp commented on #24619
@sergeydeg I try the similar envoyfilter for the original http2.pro (without rewrite from 80 to 443) example, it also works. Thanks,

[2020-09-22 02:54] majorinche opened #27450 "can not install istio ok due to hpa invalid metrics"
**Version (include the output of `istioctl version --remote` and `kubectl version --short` and `helm version` if you used Helm)**
istio version: 1.3

kubectl version --short
Client Version: v1.17.9
Server Version: v1.17.9

**How was Istio installed?**
installing istio in the process of kubeflow

[code]

it is always in ContainerCreating status, and find errors by kubectl get events

38m         Wa