[2020-07-07 01:50] FewBox commented on #24851
Thx a lot! dry-run is successful for me, I got no exception for it. I have used the lower version before and flannel network, for now I want to use 1.18 and calico to deliver my new app,  can any one to help us?

[2020-07-07 02:28] linsun commented on #25079
also needed for users to run `istioctl kube-inject` cmd on the remote cluster.

[2020-07-07 02:59] sb1975 commented on #25208
ok Even this didnt work -- > "It was intent to enable operator to watch IOP instance in multiple namespaces"
I deployed the operator controller and then I deployed an iop instance in istio-system and another iop with just the ingress-gw in another namespace- that doest work. the iop should be always in istio-system.

Do you mean the operator controller supports only a single iop instance, but agai

[2020-07-07 03:03] sb1975 commented on #25208
@morvencao - I assume you have understood what is expected - so maybe this issue can be used to track it.
https://github.com/istio/istio/issues/24794
Let me know whats missing or you need more explanation.

[2020-07-07 03:12] howardjohn commented on #25063
I think #25065 may have made this worse? haven't look into it much https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/2892

[2020-07-07 03:58] 13567436138 commented on #25232
I create it with -n istio

[2020-07-07 05:01] #19391 closed

[2020-07-07 05:02] #19514 closed

[2020-07-07 05:02] #19519 closed

[2020-07-07 05:02] #19524 closed

[2020-07-07 05:54] satishmane opened #25267 "nginx with istio-proxy fails to route with http 503 Service Unavailable"
**Bug description**

I have nginx running with istio-proxy injected. Nginx proxy.conf has proxy_ rules defined to intercept ingress traffic and re-write header, url etc.

nginx fails with http 503 Service Unavailable when forwarding traffic to a service in different namespace enabled MTLS strict mode.

[ X ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ X ] Networking
[ ] Performance an

[2020-07-07 06:08] sanigo commented on #21187
Hi I have met exactly the same problem about the istio.prometheus secret. I guess, it could be used while enabling MTLS? as I did not enabled mtls, so i deleted the kubernetes-services-secure-monitor and the kubernetes-pods-secure-monitor.

[2020-07-07 06:33] johnzheng1975 commented on #25193
@ramaraochavali , for 1.4, as I said the top, it can catch http request, but not catch grpc request. That's why I raise this request.
Can you confirm istio1.4.6 lua filter cannot catch grpc request? Thanks
[code]

[2020-07-07 06:53] inewlife commented on #24892
I found a lot of CLOSE_WAIT in the istio-proxy container
![image](https://user-images.githubusercontent.com/13137254/86730877-8d1bee00-c061-11ea-925a-ae508ff0c611.png)

[2020-07-07 07:25] Stono opened #25268 "Please use the same logger in pilot-agent as envoy"
**Bug description**
At the moment the log format for pilot-agent is different to envoy.  For those of us parsing the logs this is a headache as our formatter needs to use a single format per workload.

[code]

Would it be possible to use the same logger format as envoy?

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telem

[2020-07-07 07:26] satishmane commented on #25267
If I change proxy_set header as below, then it works.

current rule
proxy_set_header Host $http_host;

changed to
proxy_set_header Host clusterIP service name : port number; e.g. foo-service:8080

[2020-07-07 07:27] satishmane commented on #24668
@robincher

If I change proxy_set header as below, then it works. Got clue from here - https://github.com/istio/istio/issues/14450#issuecomment-498771781

current rule
proxy_set_header Host $http_host;

changed to
proxy_set_header Host clusterIP service name : port number; e.g. foo-service:8080

[2020-07-07 07:28] Stono opened #25269 "CrashLoopBackoff when enabling outlierLog"
**Bug description**
When enabling the outlier log via `.Values.global.outlierLogPath=/dev/stdout`, sidecars cannot start due to malformed json in the bootstrap config.

[code]

[ ] Configuration Infrastructure
[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[x] User Experience
[x] Developer Infrastructure

**Expe

[2020-07-07 07:28] Stono commented on #25218
Yes that metric is there but its 0:
[code]

It's worth noting btw we only really see this under heavy load.  Right now (about 50% load) we're hardly getting any outlier ejections active.

Unfortunately I was not able to enable the outlierLog because of **another** bug! https://github.com/istio/istio/issues/25269

[2020-07-07 07:31] Stono commented on #25219
This doesn't even work with the documented cluster-wide option: https://github.com/istio/istio/issues/25269

[2020-07-07 07:44] robincher commented on #24668
Hi @satishmane thanks!

You set this at the ingress controller i presumed? Or at individual ingress object.

[2020-07-07 07:46] mhenke1 commented on #25196
Thank you.

[2020-07-07 08:06] ramaraochavali commented on #25193
AFAIK, there is no difference in lua filter being invoked for gRPC in 1.4.x. Can you please share config dump after this filter is applied?

[2020-07-07 08:25] xeor commented on #11670
Was there ever a solution to this problem?

[2020-07-07 08:38] xeor commented on #9107
I'm trying to find a solution to this as well. The problem is still around, but is there s workaround yet?

[2020-07-07 09:21] spicysomtam commented on #23910
We decided to downgrade istio to 1.4.10. Unfortunately that needs a k8s cluster refresh due to issues with the istio CRDs not being downgradeable. It was easier to redeploy the cluster than try and figure out how to fix the CRD issues and we also have the certainty that the istio install is good being a fresh install.

Even so we may encounter issues with an old istio version, so it would be great

[2020-07-07 09:23] satishmane commented on #24668
I am not using kubernetes nginx ingress controller or ingress object. I have nginx docker image which is deployed as pod with istio sidecar with rules defined in proxy.conf

[2020-07-07 10:27] xring commented on #13085
@Quarky9 which version does env `ISTIO_META_HTTP10 ` start working?

[2020-07-07 10:33] morvencao commented on #25194
This should be likely relevant to the api change, I can't reproduce this in master branch.

[2020-07-07 10:41] Quarky9 commented on #13085
I use Istio since v1.4 so I cannot comment on anything earlier.

[2020-07-07 10:45] shamsher31 commented on #25194
I was able to reproduce it on `master` with `Istio 1.6.4` but with a slightly different errors. Possibly similar to https://github.com/istio/istio/issues/22280

[code]

[2020-07-07 11:05] esnible commented on #25194
I assigned this to myself but I will give it to anyone who has a plan to fix it.

Verify-install is supposed to read an IOP, generate a deployment to an in-memory struct, and pass that deployment to a function that checks if the deployment is running.  It would benefit from using the logic in the operator instead of using its own logic.

Probably there is no integration test for `verify-install`.

[2020-07-07 11:24] wapdat commented on #24668
I have/had exactly the same problem - getting mTLS to work from ingress-nginx with Istio. I added these ingress-nginx annotations and it seems to have fixed it (my main use case is getting authorisation rules to work for segregation)

nginx.ingress.kubernetes.io/service-upstream: "true"
nginx.ingress.kubernetes.io/upstream-vhost: your-app.the-namespace.svc.cluster.local

[2020-07-07 11:26] Samith88 commented on #24204
@JonDGH By default we can see only port 80 is listening. How we can start to listen on port 443? What the changes that you have made for that?

[2020-07-07 11:33] morvencao commented on #25208
I got your point.

You need to add flag `--watchedNamespaces=""` or `--watchedNamespaces="istio-system,workspace-1,workspace-2"` to the `istioctl operator init` command, because the default parameter is `istio-system`, that's why you see the istio operator only reconciles the iop instances in `istio-system`.

I have done some local tests:

1. Deploy the istio operator:
[code]

2. Create namespaces

[2020-07-07 12:53] esnible commented on #25269
I am seeing CrashLoopBackOff without any setting problems.  I'm using

[code]

to install.  I am testing with httpbin.  The sidecar never comes up, the output is

[code]

[2020-07-07 12:57] esnible opened #25271 "'istioctl x describe' logs messages to stdout when sidecar isn't working"
During testing of https://github.com/istio/istio/issues/25269 I observed the following:

[code]

None of those logged warnings and errors should be there.  The message "WARNING: Pod httpbin-5594b4fb7-mlr25 Container istio-proxy NOT READY" is the intended message.

[2020-07-07 13:10] #23422 closed

[2020-07-07 13:19] esnible opened #25272 "'istioctl install' unsufficient output when problems occur"
When the reason an `istioctl install` fails is due to timeout, it is hard for the user to diagnose the problem.

@ostromart Instead of merely reporting the timeout, can we wrap it with a message that indicates the action that is being timed out?  I assume the problem is waiting for Istiod to become READY?

I was able to run the exact same command a minute later and it completed quickly.  I suspect

[2020-07-07 14:08] Stono commented on #25218
Update: same behaviour in 1.5.6 so that removes one variable

[2020-07-07 14:11] rvennam commented on #25180
Some context and reasoning for why we want WASM without mounts...users using Istio managed by a cloud provider who want to write a EnvoyFilter to target gateways do not have the ability to modify the Istio Gateway workload to mount files. A url fetch should also be okay.

[2020-07-07 14:20] jbilliau5668 opened #25274 "Telemetry issue with Ingress gateway - traffic shows as going to wrong service in wrong namespace"
**Bug description**
Traffic entering the Ingress gateway (in this example, kiali and grafana), are showing up via envoy-stats going to the wrong namespace and service for Istio 1.6.X. I freshly install Istio 1.6.4, expose Grafana / Kiali / Jaeger under one URL, routed via a VirtualService obbject, and then install the sentiment-analysis demo application. I go to the URL exposed for it, sa.jasoneks

[2020-07-07 15:23] Stono commented on #25220
FYI i've removed two variables:
- Rolled back to 1.5.6
- Removed http2 envoyFilter

No change in the amount of outlier active

[2020-07-07 15:48] linsun commented on #24430
@nmittler sorry I missed your comment earlier. You are correct that it would be an organization who is operating the mesh control plane for users, and there could still be mesh admin role just to manage data plane and approve istio configurations.  So the organization boundary is:
- control plane (istiod): managed by org A
- data plane: managed by org B, which includes mesh admin and devOps, secOp

[2020-07-07 15:48] #24430 closed

[2020-07-07 17:02] douglas-reid commented on #25274
The kiali install in your cluster runs without sidecars, correct? This would mean that no peer metadata is exchanged, which might indicate that values are not being cleared when peer metadata is not present. I'll dig a little.

[2020-07-07 17:04] jbilliau5668 commented on #25274
Correct; nothing in istio-system has sidecars.

![image](https://user-images.githubusercontent.com/59461284/86816914-6a360d80-c052-11ea-9733-b9a7a33aaeaf.png)

![image](https://user-images.githubusercontent.com/59461284/86816945-728e4880-c052-11ea-9461-7ee5ee03a780.png)

[2020-07-07 17:18] bianpengyuan commented on #25274
Could you get the config dump from your ingressgateway `kubectl exec <ingressgateway-pod> -n istio-system curl localhost:15000/config_dump`?

[2020-07-07 17:34] jbilliau5668 commented on #25274
[istio_dump.json.zip](https://github.com/istio/istio/files/4886280/istio_dump.json.zip)

[2020-07-07 17:49] esnible commented on #24905
In the future we want to use the mechanism proposed for https://github.com/istio/istio/issues/24008 and https://github.com/istio/istio/issues/22918 to get the cert.

[2020-07-07 17:52] mandarjog commented on #25274
Can you turn on envoy access logs at ingress? I would like to see where these requests are going.

[2020-07-07 18:14] jbilliau5668 commented on #25274
I turned them on and cycled the ingress-gateway.

[code]

[2020-07-07 18:16] jbilliau5668 commented on #25274
Then I launched Kiali and now this:

[code]

[2020-07-07 19:18] bianpengyuan commented on #25274
Thanks! the other information to gather here: could you get the prometheus stats directly from ingressgateway? `kubectl exec <ingressgateway-pod> -n istio-system curl localhost:15000/stats/prometheus`.

[2020-07-07 19:23] ceastman-ibm commented on #21982
I am running into a similar issue trying to get the new envoy filter working in an istio 1.5.4 cluster: I get the following error from the following yaml:
Error [IST0106] (EnvoyFilter envoy-filter-1-6.istio-system) Schema validation error: Envoy filter: unknown field "typed_config" in envoy_api_v2.Listener

[envoy-filter-1-6.yaml.zip](https://github.com/istio/istio/files/4886761/envoy-filter-1-6.y

[2020-07-07 19:34] jbilliau5668 commented on #25274
[post-kiali.txt](https://github.com/istio/istio/files/4886818/post-kiali.txt)
[pre-kiali.txt](https://github.com/istio/istio/files/4886819/pre-kiali.txt)

See attached. I cycled both Prometheus and Istio to start with fresh metrics, then went to sa.jasoneks.foc.zone. That's pre-kiali.txt. I then went to my dashboardurl/kiali, and that's post-kiali.txt.

[2020-07-07 20:11] douglas-reid commented on #25274
In `pre-kiali.txt`, I see requests (with expected/appropriate labels) from the gateway to kiali. I also see the same correct metrics in the `post-kiali.txt`.

pre-kiali:

[code]

post-kiali:

[code]

I notice that the problematic request has a `302` response code. Do we know why we are seeing that?

[2020-07-07 20:27] techgeek03 commented on #23960
We have the exact same problem as @yvespp

Is there any update on this or any possible workaround or documentation?

[2020-07-07 20:36] jbilliau5668 commented on #25274
no idea; i've used this app in countless demos and in multiple Istio versions; never had an issue like this before, and our Istio config is default boilerplate. ¯\_(ツ)_/¯

[2020-07-07 20:59] lambdai commented on #23910
when automtls is on, sidecar envoy need to know if endpoint accept istio mtls or plaintext.
If the endpoint is another pod injected with istio-sidecar, istiod would read "security.istio.io/tlsMode" label and choose mtls transport socket.

So the solution is to do both
1. add the label, or hard coded in istiod that egressgateway is mtls allowed endpoint
2. propagate the certs, ether through SDS or

[2020-07-07 21:06] linsun commented on #23910
@lambdai thanks for chime in!  I believe @GregHanson has tried to add the "security.istio.io/tlsMode" label to the pod.  @GregHanson can you provide more details?

we don't support egress gw using SDS today (targeted for 1.7), so it would have to use file mounted certs.

[2020-07-07 21:11] lambdai commented on #23910
To confirm this an endpoint dump would be helpful: we need the endpoint of egressgateway workload containing the magical tag, regardless how the endpoint tag is injected.

[2020-07-07 21:28] jbilliau5668 commented on #25274
is it safe to assume you guys can't recreate this? if so, how are you testing / deploying Istio?

[2020-07-07 21:38] lambdai commented on #23910
the tag in metadata in endpoint

key: "tlsMode"
value: "istio"

[2020-07-07 22:06] #25057 closed

[2020-07-07 22:11] sb1975 commented on #25208
thank you , let me check and revert back

[2020-07-07 22:17] ZhengzheYang opened #25286 "VM testing with first-party-jwt and certs provided by kubernetes"
#25096 tries to enable the `meshExpansion` for [`security/mtls_first_party_jwt/TestMtlsStrictK8sCA`](https://github.com/istio/istio/blob/master/tests/integration/security/mtls_first_party_jwt/strict_test.go) and [`security/mtlsk8sca/TestMtlsStrictK8sCA`](https://github.com/istio/istio/blob/master/tests/integration/security/mtlsk8sca/strict_test.go) so that they could build the test instances inclu

[2020-07-07 22:36] bianpengyuan commented on #25274
I cannot reproduce in my 1.6.4 installation when routing traffic through gateway to kiali. Several things to confirm:
1) In repro steps, you edited the generated yaml file to turn on kiali, is the kiali you enabled different from the one installed with 1.6 istio bundle? Will this happen if you install kiali with 1.6 istio installation option? If it is different, could you provide what the editing

[2020-07-07 22:45] #22895 closed

[2020-07-07 22:46] carolynhu commented on #20421
close this, in favor of using https://github.com/istio/istio/issues/24193 to track all flame graph related work.

[2020-07-07 22:46] #20421 closed

[2020-07-07 22:52] carolynhu opened #25288 "istio/tools: introduce slack webhook perf_benchmark test-failure to perf-dashboard"

[2020-07-07 23:11] ZhengzheYang opened #25289 "VMs failing IPV6 integration test"
**Bug description**
After #24919 is merged, VM could now send requests to the pods in the cluster and the DNS could be automatically resolved. However, VMs seem to fail under ipv6 settings. More specifically, it's failing `integ-ipv6-k8s-tests_istio` for all connections from VMs to other pods. It would fail a small number of cases in `integ-distroless-k8s-tests_istio` as well (not failing all case

[2020-07-07 23:14] incfly commented on #23910
Okay, this appears indeed an combination of several issues. I'm able to get HTTP 200 with @GregHanson 's configuration after making these changes

1. Disable the peer metadata exchange filter by removing the tcp-metadata-x envoy filter resource. I did this since I saw the errors from Greg's log, `Alpn Protocol Not Found`.
2. After that, I still get 503 error from sleep pod. At this point, both `tr

[2020-07-07 23:39] elfinhe opened #25291 "istioctl built from master has incorrect path for profiles"
**Bug description**

Build istioctl by following:
[code]
Run profile list:
[code]

seems like we have incorrect setup for the profile path.

[ ] Configuration Infrastructure
[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

**Steps to reproduc

[2020-07-07 23:54] GregHanson commented on #23910
It was a little hard to tell which endpoints istio/envoy are configured with the auto-mtls label.  Using httpbin as an example, the label is only found on the pod:
[code]
And checking the output istioctl endpoints of sleep pod for httpbin, that information isn't provided either:
[code]
I thought modifying the deployment/pod/endpoint spec in an existing egress gateway would trigger an eds update, b

[2020-07-08 00:00] jbilliau5668 commented on #25274
1.) I do a "istioctl profile dump default > default.yaml", open it up and modify these lines:

[code]

as well as this:

[code]

**type** defaults to `LoadBalancer`, i set to `NodePort` so I can put behind an ALB.

Other than that, completely stock.

2. Correct, so that's what caused me to post this here; I initially thought it was Kiali issue but the ingress gateway is fubar'ing more than just me

[2020-07-08 01:11] howardjohn opened #25293 "O(n^2) code path when VirtualService references non-existent service"
https://github.com/istio/istio/blob/37119973c9/pilot/pkg/model/push_context.go#L695

We shouldn't loop over services here

[2020-07-08 01:12] jbilliau5668 commented on #25274
A bit more to report....instead of hitting Kiali externally through ingress-gateway, I port-forwarded to it instead via "istioctl dashboard kiali". Doing this does NOT result in the kiali service showing up in my graph nor mucking with my prom metrics, so the problem def seems specific to the ingress-gateway.

However, I have this problem instead:

![image](https://user-images.githubusercontent.co

[2020-07-08 01:23] jbilliau5668 commented on #25274
Also, if I show the istio-system namespace as well, I see 2 kiali services; one in "unknown" (the working one presumably) and the other in sentiment-analysis, which it clearly isn't:

![image](https://user-images.githubusercontent.com/59461284/86862845-07fffb80-c098-11ea-8953-0a09ffdc3d1b.png)

[2020-07-08 02:03] varunsrinath commented on #23024
Hi,

Did you ever get around installing Prometheus operator using istio mesh with mTLS?

[2020-07-08 02:28] howardjohn commented on #25293
Call if from https://github.com/istio/istio/blob/7b7a581c0297da7f90c019460e5d1ac16aca12de/pilot/pkg/networking/core/v1alpha3/route/route.go#L495

[2020-07-08 02:46] howardjohn opened #25296 "Optimize CombineVHostRoutes"
https://github.com/istio/istio/blob/8ca6f0f2aa4be0c48a94ebd4f08a624ab057a48c/pilot/pkg/networking/core/v1alpha3/gateway.go#L260 this code is inefficient, as its called for every intersectingHosts. Basically the code does

[code]

Ideally this would be
[code]

And do all of the work once rather than multiple times

These performance impacts are seen in `BenchmarkRouteGeneration/gateways-shared`

[2020-07-08 02:47] howardjohn commented on #25296
Specifically in BenchmarkRouteGeneration/gateways-shared I see 80% of CPU spent here

[2020-07-08 03:20] infa-ddeore commented on #23024
Options:
1) Add [sidecar with prometheus custom resource](https://github.com/helm/charts/blob/master/stable/prometheus-operator/crds/crd-prometheus.yaml#L1083) by referring [this](https://istio.io/latest/blog/2020/proxy-cert/) but the blog says it is an experimental feature feature. Also adding sidecar to default installed prometheus by prometheus operator makes the setup complex so i didnt do thi

[2020-07-08 03:35] howardjohn opened #25298 "Flaky test depending on external service bing.com"
We recently added a test that calls to bing.com. Currently we do not have a single test depending on external services.

This test is now flaky: https://prow.istio.io/view/gcs/istio-prow/logs/integ-pilot-k8s-tests_istio_postsubmit/2903

We should not depend on external services in our tests. If we really need to maybe we can just do the DNS lookup or something and not a full `curl`  call

[2020-07-08 03:38] 13567436138 opened #25299 "I add clusterrbacconfig,but seams it did not effect,I still can access the webpage"
**Bug description**
[code]

I did not create any servicerole and servicerolebinding.

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[x ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioct

[2020-07-08 03:44] howardjohn commented on #25272
If it took too long to wait it would be showing info. I think this is timeouts to the api server. The issue still applies though

[2020-07-08 03:45] varunsrinath commented on #23024
I will review option no 1 and regarding option 2 is there a way to get rid of the manual process of mount and renewal?

[2020-07-08 03:51] howardjohn commented on #25269
@esnible you probably have cached images on the node or something? so `latest` is actually old

This is fixed in https://github.com/istio/istio/pull/25262/files

[2020-07-08 04:47] infa-ddeore commented on #23024
signing cert manually (without istio sidecar) isn't very cleaner approach but I am using it for a short term, for the cert renewal you can have a k8 job running the same script i gave above

[2020-07-08 05:00] #12501 closed

[2020-07-08 05:02] #19555 closed

[2020-07-08 06:29] bianpengyuan commented on #25274
Sorry, I still cannot reproduce.. the differences in my installation option with yours are the node port ingress gateway service type and cni, which I don't think really make a difference here. Could you try to install with the following options `--set values.global.proxy.image=gcr.io/mixologist-142215/proxyv2:kiali-edge-debug --set meshConfig.accessLogFile="/dev/stdout"` and dump ingress gateway

[2020-07-08 07:34] #19564 closed

[2020-07-08 07:43] sha-rath commented on #22610
Oh ok, it is quite crucial for me. @yangminzhu do you have any idea how soon this could be fixed?
Thanks.

[2020-07-08 08:38] thanhlong9x opened #25307 "Issue UID (GID) => Envoy proxy is NOT ready: config not received from Pilot (is Pilot running?)"
Hi, I'm custom Envoy for my project. I meet error above when I replace UID and GID. I want know how this UID (GID) affect to config of Pilot. This is envoy's log:

![image](https://user-images.githubusercontent.com/29721257/86897017-151cf900-c131-11ea-8a2d-dc41d1c78044.png)

Thank for watching !

[2020-07-08 08:53] #25245 closed

[2020-07-08 09:00] vugardzhamalov opened #25308 "IngressClass declared instead of 'kubernetes.io/ingress.class' annotation doesn't configure Ingress status"
**Bug description**
I am trying to deploy 'Ingress' object with 'ingressClassName: istio' flag enabled instead of `kubernetes.io/ingress.class: istio` annotation as per [this](https://istio.io/latest/docs/tasks/traffic-management/ingress/kubernetes-ingress/#specifying-ingressclass) example in Istio traffic management documentation.

I am simply trying to reproduce this on my Minikube Cluster, but

[2020-07-08 09:05] dozer47528 opened #25309 "Endpoints port error when remove any endpoints in ServiceEntry"
**Bug description**

I created a ServiceEntry which includes some endpoints, the cluster port, and endpoints port is different.
When I try to remove some endpoints in the ServiceEntry, the port of the endpoint generated to Envoy is wrong.

[x] Networking

**Expected behavior**

The port should be correct.

**Steps to reproduce the bug**

1. Create a ServiceEntry
[code]

2. check the envoy clster A

[2020-07-08 09:11] xiaowujee opened #25310 "istio 1.6.3 imagePullSecrets prometheus Not in force"
**istio 1.6.3 imagePullSecrets prometheus Not in force**

[ ] Configuration Infrastructure
[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**set global.imagePullSecrets,promethrus deployment use imagePullSecrets**

**Steps to reproduce the bug**
1. create istioOpe

[2020-07-08 09:30] tkatrichenko opened #25311 "Istio 1.6.4: pods don't created in labeled namespace"
**Bug description**
I install Istio with `istioctl install -f <my-profile>.yaml` command

My profile
[code]
Then I labeled default ns with `kubectl label namespace default istio-injection=enabled`
But when I create any deployment, no pods were created. Looks like it can't inject sidecar into a pod. Replicaset tells this error
[code]

[ ] Configuration Infrastructure
[ ] Docs
[ x] Installation
[ ]

[2020-07-08 09:37] sebastien-errien-cbp commented on #24155
@spaghettifunk Hell, do you know Is this issue is solved with istiod-remote ?

[2020-07-08 09:40] spaghettifunk commented on #24155
@sebastien-errien-cbp Nope! I switched to Linkerd and the multicluster option worked out of the box for EKS. I asked on Slack and other mediums about this but i've never got an answer 😞

[2020-07-08 10:13] morvencao commented on #25311
You need to remove the line `proxy_init:`, it contains nil value,  that will override the final `values.yaml` used to generate the manifests.

[2020-07-08 10:16] morvencao commented on #25310
Do you mean the `global.imagePullSecret` doesn't work for prometheus deployment?

[2020-07-08 10:37] ael-g opened #25312 "Istio 1.6.4: Wrong Envoy endpoint for mesh services after numerous pods creation/deletion"
**Bug description**
When I increase the number of replicas on a deployment, say 1 -> 500, then when all new pods are running I scale it back to 1, I update another deployment which makes new pods popping, and then if I
[code]
So I have the Kubernetes endpoints IP which is right for the service, but the one in Envoy's conf is wrong, resulting in services which cannot communicate with the newly crea

[2020-07-08 10:47] tkatrichenko commented on #25311
Thank you @morvencao it helped. Looks like I did the edition of default profile in a wrong way

[2020-07-08 10:47] #25311 closed

[2020-07-08 10:54] kallependers commented on #24598
Same issue here (version 1.6.4). Temp fix:

`kubectl -n istio-system patch hpa istiod -p '{"spec":{"scaleTargetRef":{"name":"istiod"}}}'`

[2020-07-08 11:15] fraserdarwent commented on #14598
Same use case as people above. Multi tenant cluster, wanting to give tenants access to deploy pods, services, and certificates  within their own namespace(s) to expose their services on the gateway, but not give them permissions on Istio system namespace.

[2020-07-08 13:15] dozer47528 opened #25315 "Add config for disable control plane security"
**Describe the feature request**

We want to analysis some xDS issues by tcpdump. But with control plane security it's very hard to do that.

Based on the Istio 1.5 release note, it looks that the control plane security is always on since Istio 1.5: https://istio.io/latest/news/releases/1.5.x/announcing-1.5/upgrade-notes/#control-plane-security

[x] Networking

[2020-07-08 13:54] kriston13 commented on #12602
Hi,
We're running into this as well. We're using GKE's preemptible node pools, so we need to safely drain an "old" node in order to prepare it to be pre-empted. But... The istio items are causing us issues. Is there any guidance on how to do this with the istio operator? Thanks!

[2020-07-08 14:07] douxiaofeng99 commented on #25272
how to increase the api server timeout?

[2020-07-08 14:12] howardjohn opened #25319 "integ-multicluster-k8s-tests_istio flakes"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/25295/integ-multicluster-k8s-tests_istio/6032

Will start recording future flakes I see here as well

[2020-07-08 14:17] douxiaofeng99 opened #25320 "Pls. provide istio offline installation package"
**Describe the feature request**
For the GFW, we can not access gcr.io to pull image and the istio install always fail.

the error:
Detected that your cluster does not support third party JWT authentication. Falling back to less secure first party JWT. See https://istio.io/docs/ops/best-practices/security/#configure-third-party-service-account-tokens for details.
✔ Istio core installed
2020-07-08T

[2020-07-08 14:48] jbilliau5668 commented on #25274
Sure. I ran "./istioctl manifest apply -f default.yaml --set values.global.proxy.image=gcr.io/mixologist-142215/proxyv2:kiali-edge-debug --set meshConfig.accessLogFile="/dev/stdout", then cycled the ingress-gateway and prom prods to get fresh metrics. Here is what I have:

1.) Navigating to sa.jasoneks.foc.zone:

[code]

2.) Navigating to $dashboardurl/kiali adds these:

[code]

3.) Going to the g

[2020-07-08 15:02] johnzheng1975 commented on #25193
@ramaraochavali , oh, yes, it works in istio1.4.6. I am so sorry for confuse I bring.
The reason I was fail is: I am trying cross multi-cluster grpc, I set protocol to "tcp" in service entry. This makes envoyfilter cannot catch such requests.
Now I change protocal to "grpc", it works! Thanks a lot.
[code]

[2020-07-08 15:05] johnzheng1975 commented on #25193
@ramaraochavali , can I ask one additional question? How can I read grpc metadata in nvoy_on_request(request_handle)?  I tried below, but cannot read any metadata.
[code]
Thanks in advance

[2020-07-08 15:10] sdake commented on #24243
@sb1975 - imo `istioctl operator init` is one of a few approaches you could take. While I tend to agree @ostromart could add functionality to enable multiple IOPs per namespace, if you are interested in investigating a short term solution, you can use helm to deploy two separate operators. I am uncertain if this will work correctly for Istio, I suspect not.

Here is the operator helm chart:
https:

[2020-07-08 15:28] stevenctl commented on #25319
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/25300/integ-multicluster-k8s-tests_istio/6040

Seeing `MountVolume.SetUp failed for volume \"istiod-ca-cert\" : configmap \"istio-ca-root-cert\" not found` for IGW pods

[2020-07-08 15:30] zufardhiyaulhaq opened #25324 "Feature: Istio multicluster support FQDN other that *.global"
**Describe the feature request**
Enable Istio multicluster installation to support FQDN other that *.global (I am willing to do this).

**Describe alternatives you've considered**
- modifying Istiocoredns, adding EnvoyFilter, DestinationRule, & Gateway object to support custom FQDN to communicate between multiple clusters (tested).
- Add documentation on Istio docs to do this (I am willing to do t

[2020-07-08 15:33] howardjohn commented on #25319
That may happen but it should be transient. Its hard to tell since we only have the kubelet logs - look like the multicluster (or at least central istiod) Dump is not working right

[2020-07-08 15:48] serrien opened #25325 "Istio 1.6.4 multicluster shared control plane configuration does not work on AWS EKS"
**Bug description**

Multicluster shared control plane require IPs.

Multicluster shared control plane does not work on AWS for two reasons.

First, the `remotePilotAddress` field for the remote cluster mesh configuration require a valid IP address but on AWS, Loadbalancer (used to expose istiod on the master cluster) don't have a unique IP. There is 3 IPs which are mutable so we can't use them si

[2020-07-08 15:59] howardjohn commented on #18135
In postsubmit: we can write results to <gcs>/benchmarks/SHA

In presubmit: we can fetch from `<gcs>/benchmarks/$PULL_BASE_SHA` and compare to our current run

[2020-07-08 16:23] ostromart opened #25328 "Warn if istioctl version is different from that installed in the cluster"

[2020-07-08 16:25] ostromart opened #25329 "List overlays are applied inconsistently"
k8s.services.ports list is replaced in gateways but merged in pilot.

[2020-07-08 16:27] yangminzhu commented on #22610
@mhite  The error message is returned in the body: https://github.com/envoyproxy/envoy/blob/2026ec2e3969c473662daeb775b1daecbbdf67e5/source/extensions/filters/http/jwt_authn/filter.cc#L98-L100

@sha-rath  I'm not sure if we should add the `WWW-Authenticate` header to the JWT filter but as this needs to be done in Envoy, can you open the issue in Envoy? thanks.

[2020-07-08 16:57] stevenctl commented on #25000
1.5 only gets the iptables fix, not the template fix

[2020-07-08 16:57] #25000 closed

[2020-07-08 16:58] #25002 closed

[2020-07-08 17:45] Stono commented on #25269
Would anyone be kind enough to fix this and get me nightly 1.5.7?  I'm very concerned about outlierDetection and because of this bug i'm not able to investigate the other...!

![Screenshot 2020-07-08 at 18 44 29](https://user-images.githubusercontent.com/1486729/86952556-178c4c80-c14b-11ea-98de-dd54d88d87a9.png)

[2020-07-08 17:55] jwendell opened #25330 "Better handle vendored trees"
For some reasons there is a need of keeping the dependencies in the tree, vendored.

Istio tooling does not deal well when this is the case. Tools like linters, automatic generation of files, etc. fail when there is a vendor dir and go flags contain things like `-mod=vendor`.

I'm working on fixing this.

[2020-07-08 18:13] incfly commented on #24667
/cc @incfly

[2020-07-08 18:33] JimmyCYJ commented on #24794
@costinm could you please take a look? Thanks!

[2020-07-08 18:42] JimmyCYJ commented on #24850
@lei-tang is OOO, assign to @myidpt to triage the issue.

[2020-07-08 18:42] JimmyCYJ commented on #24850
cc @williamaronli

[2020-07-08 18:45] JimmyCYJ commented on #25021
@yangminzhu could you please take a look?

[2020-07-08 18:56] yangminzhu commented on #25021
@rolandkool thanks for creating the feature request, there have been several requests for adding regex support to the authorization policy and I think that is a valid use cases that we should support.

I'm working on a design for a update to the authorization policy to support this and some other use cases for more flexibility and extensibility more generally, will share the proposal once it's rea

[2020-07-08 19:02] tillig commented on #24083
Just ran into this today. It also leaves all the corresponding services, configmaps, poddisruptionbudgets, serviceaccounts, secrets, and everything else. No idea which of those things may still be required (i.e., referenced from istiod but with the old name). I was able to finally delete the deployments and services, but I'm unclear which configmaps and so on are actually required. Likely I'll nee

[2020-07-08 19:03] nschhina commented on #24667
Like discussed during the security wg meeting- we cannot get this feature out by 1.7. There's ongoing efforts for DestinationRule reading k8s secrets using CredentialName at the egress gateway:https://github.com/istio/istio/issues/14039. [Design Doc](https://docs.google.com/document/d/1--c7Y4MR5CL-q6Fl5UlYLzluQpAlRcdyJ1gOUB98Njg)
There's one major concern, which is DR is used for direct sidecar tl

[2020-07-08 19:24] stevenctl commented on #25319
Trying to reproduce from my local against GKE with a similar topology to what we run in prow:
- Gets past starting ingress gateway
- Fails to create the [Gateway](https://github.com/istio/istio/blob/fdff5b4c4638197319e42d212994bb12603f3673/pkg/test/framework/components/istio/operator.go#L375) with `cannot validate certificate for x.x.x.x because it doesn't contain any IP SANs` where the `x.x.x.x.`

[2020-07-08 19:45] howardjohn commented on #25269
`--outlierLogPath='"/dev/stdout"'` will work in the short term

[2020-07-08 19:57] howardjohn commented on #25319
The biggest improvement if we cannot repro may be to make sure that we get proper dumping on failed tests in multicluster, then we should be able to debug this next time around?

One reason it may have failed is I think the test timed out which will cause golang to panic. So maybe we need to reduce some timeout/increase the overall timeout so that isn't triggered

[2020-07-08 20:04] JimmyCYJ commented on #25153
From https://istio.io/latest/blog/2020/proxy-cert/, the certificates are shared with the service through a mounted file in tmpfs. Why do we need a in-pod volume mount instead of reusing the existing tmpfs?
I would let @myidpt to take a look.

[2020-07-08 20:10] #18912 closed

[2020-07-08 20:18] howardjohn opened #25333 "Mixer removal tracking"
Track efforts for https://docs.google.com/document/d/1abYN18B8JyV64EFHtNm0uSIM4DNRX8JddJiwacNBoHg/edit

[2020-07-08 20:32] stevenctl commented on #25319
I think this is definitely related to the way we're patching the istiod deployment while `manifest apply` is still going. Still trying to figure out the timing/ordering that breaks things, one guess is that we just need to bump the timeout for getting IGW IP within that method.

The timeout wasn't triggered due to that particular istio deploy. It failed pretty quick waiting to get an IGW IP for th

[2020-07-08 20:32] Stono commented on #25269
Ok thanks @howardjohn, will give it a go in the morning

[2020-07-08 21:01] howardjohn commented on #25333
PR | Repo | Artifact | Outcome
-- | -- | -- | --
todo | istio/api | mixer/ subdirectory | Removed
todo | istio/api | policy/ subdirectory | Removed
todo | istio/api | MeshConfig fields:mixer_check_servermixer_report_serverdisable_policy_checksdisable_mixer_http_reportspolicy_check_fail_opensidecar_to_telemetry_session_affinitymixer_addressdisable_report_batchreport_batch_max_entriesreport_batch_ma

[2020-07-08 22:25] jbilliau5668 commented on #25274
I just removed 1.6.4, installed 1.5.4, did nothing else; my app is still there, exposed as sa.jasoneks.foc.zone. I go to it a few times, and this is how my data looks in Kiali in 1.5.4:

![image](https://user-images.githubusercontent.com/59461284/86976395-58369680-c148-11ea-84de-ff8669407370.png)

[2020-07-08 22:43] howardjohn opened #25338 "Sidecar deb file missing telemetry wasm filters"
I am pretty sure we don't package the .wasm files into the .deb we ship. I did not verify this myself, just looking at the build code

cc @douglas-reid

[2020-07-08 23:46] douglas-reid commented on #25338
We do not package the `.wasm` files. Is this a request to ship them? This feels like something that should be covered by the forthcoming extensions API. @mandarjog thoughts?

[2020-07-08 23:48] howardjohn commented on #25338
We package them for the docker images though right? Seems like it should be consistent? This is not really a request necessarily, I just noticed it and figured it was not intended - happy to be told its working as expected

[2020-07-08 23:48] mandarjog commented on #25338
We should add our own extensions to the deb package for consistency with the docker build.

Bit distribution will be orthogonal.

[2020-07-08 23:54] brijchavda commented on #22800
Had the same issue. But one of my istio gateway was pointing to the cert, which did not exist, which caused the ingress pod crash.

[2020-07-08 23:56] douglas-reid commented on #25338
Consistency is fine. How is this orthogonal to bit distribution though? At best, this is a special casing for blessed extensions. Getting Wasm extensions to the VMs needs a general solution.

[2020-07-09 00:02] howardjohn commented on #25320
As described in your issue, we *do* provide this. is there a different form you expect this in? You comment "it is failed" is not detailed enough to help more, would need to get info from the cluster like `kubectl get pods -oyaml`

[2020-07-09 00:03] howardjohn commented on #22601
This is fixed on later versions

[2020-07-09 00:03] #22601 closed

[2020-07-09 00:03] howardjohn commented on #22451
Needs more info. Pleas reopen if you can provide some. thanks

[2020-07-09 00:03] #22451 closed

[2020-07-09 00:04] howardjohn commented on #21475
Needs more info. Pleas reopen if you can provide some. thanks

[2020-07-09 00:04] #21475 closed

[2020-07-09 00:04] howardjohn commented on #23162
Needs more info. Pleas reopen if you can provide some. thanks

[2020-07-09 00:04] #23162 closed

[2020-07-09 00:05] howardjohn commented on #23687
As far as I know this is answered. Please reopen, or preferably ask on discuss.istio.io or in envoy community if you need more info

[2020-07-09 00:05] #23687 closed

[2020-07-09 00:05] howardjohn commented on #23481
As far as I can tell all open issues here are resolved

[2020-07-09 00:05] #23481 closed

[2020-07-09 00:06] #22983 closed

[2020-07-09 00:06] howardjohn commented on #22702
Proper api is tracked in https://github.com/istio/istio/issues/24287. Workaround is mentioned above. I think we can close this. Thanks!

[2020-07-09 00:06] #22702 closed

[2020-07-09 00:07] howardjohn commented on #22634
This is assumed resolved by the above as there is no response for half a year

[2020-07-09 00:07] #22634 closed

[2020-07-09 00:08] howardjohn commented on #21741
This whole code flow has changed completely, should be much better UX now for errors

[2020-07-09 00:08] #21741 closed

[2020-07-09 00:08] howardjohn commented on #21510
This needs more info to move forward. As we haven't gotten any I will close this. If you still see issues feel free to reopen, although I suspect this is not related to istio

[2020-07-09 00:08] #21510 closed

[2020-07-09 00:09] howardjohn commented on #19522
As mentioned above, I don't think this is caused by Istio and is based on your k8s setup. If thats not the case, please reopen

[2020-07-09 00:09] #19522 closed

[2020-07-09 00:10] howardjohn commented on #19396
I am fairly certain this is not an issue any longer, and there has been no update for almost a year. If I am wrong please reopen!

[2020-07-09 00:10] #19396 closed

[2020-07-09 00:10] howardjohn commented on #23065
This now passes

[2020-07-09 00:10] #23065 closed

[2020-07-09 00:11] howardjohn commented on #20257
Did you get a chance to try this out?

[2020-07-09 00:13] howardjohn commented on #21212
I think this can be considered as close to done as can be - all associated issues are closed.

[2020-07-09 00:13] #21212 closed

[2020-07-09 00:19] howardjohn commented on #25312
Interesting.. that is not good. Just to clarify, you go from 1 -> 500 -> 1 for deployment A. Then, you scale an unrelated deployment, B (say, from 5 -> 10, as an example).

Then the end result is for B we point to a wrong IP address?

If possible would be great to know what the IP address actually is

[2020-07-09 00:25] howardjohn opened #25339 "Remove initial_fetch_timeout from SDS clusters for workload"
Unlikely gateway, where a secret may legitimately not exist in the cluster, we expect to always fetch the `default` and `ROOTCA` cert. As a result, we should remove the initial_fetch_timeout so we wait indefinitely for it.

cc @lambdai @JimmyCYJ

[2020-07-09 00:27] lambdai commented on #22443
`If SDS server is not ready, and Envoy sends SDS requests, then no secrets are pushed to Envoy.`

@JimmyCYJ Could you clarify?
The expected scenario is,
1. if the connection broken, xDS client should resend new request containing all required resources upon new connection;
2. If the connection is not broken but take long time to handshake: no single byte should be lost. Also it's not harmful to re

[2020-07-09 00:29] howardjohn commented on #22443
This was proven to be incorrect as far as I know. We were unable to come up with a consistent reproducer. All we know for sure is that it happens ~0.1% of the time if the XDS cluster uses no certs, and it never happens if the cert is part of the XDS cluster

[2020-07-09 00:34] lambdai commented on #25339
FWIK the fallback on timeout is a predefined "thing" (forgive me I don't know the exact behavior), definitely not the `default`.

Is `default` better than that "thing"?

[2020-07-09 00:34] howardjohn commented on #24532
Confirmed fixed

[2020-07-09 00:34] #24532 closed

[2020-07-09 00:49] howardjohn commented on #24680
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/2920

[2020-07-09 01:03] arief-hidayat commented on #6573
Hi,

I am using istio ingress gateway (simplified yaml are shown below) to expose tensorflow serving.
I encounter same issue where I need to explicitly set the host name in authority from GRPC client to make GRPC call works.
The setup for HTTP is working fine.

Can anyone help me find what's missing?
Since @andraxylia mentioned that this is supported by the gateway. I thought there should be a way

[2020-07-09 01:18] #25080 closed

[2020-07-09 01:55] mandarjog commented on #25338
I agree bit distribution needs to be solved for vms and k8s.

[2020-07-09 02:13] douxiaofeng99 commented on #25320
[root@ks-allinone ~]# kubectl get pods -oyaml
apiVersion: v1
items:
- apiVersion: v1
  kind: Pod
  metadata:
    creationTimestamp: "2020-04-15T09:17:47Z"
    generateName: nginx-
    labels:
      app.kubernetes.io/name: ingress-nginx
      app.kubernetes.io/part-of: ingress-nginx
    name: nginx-k5r86
    namespace: default
    ownerReferences:
    - apiVersion: v1
      blockOwnerDeletion: true

[2020-07-09 02:19] douxiaofeng99 commented on #25320
docker images | grep istio
10.19.85.54:5000/istio/install-cni                   1.6.4               719026aa26cf        13 days ago         203MB
istio/install-cni                                    1.6.4               719026aa26cf        13 days ago         203MB
10.19.85.54:5000/istio/proxyv2                       1.6.4-distroless    43f620e1e58a        13 days ago         223MB
istio/proxyv2

[2020-07-09 02:20] morvencao commented on #24598
@kallependers 1.6.4 should have the fix, https://github.com/istio/istio/blob/1.6.4/manifests/charts/istio-control/istio-discovery/templates/autoscale.yaml
I also verified this in my env:
[code]

[2020-07-09 02:22] douxiaofeng99 commented on #25320
istioctl install --set values.global.hub=10.19.85.54:5000 --set profile=demo --set meshConfig.accessLogFile="/dev/stdout" --set values.global.istiod.enableAnalysis=true
Detected that your cluster does not support third party JWT authentication. Falling back to less secure first party JWT. See https://istio.io/docs/ops/best-practices/security/#configure-third-party-service-account-tokens for detail

[2020-07-09 02:38] lambdai commented on #22443
Could you explain a little bit on the "certs of XDS cluster"?
I think you are referring to https://github.com/istio/istio/pull/23666

I am wondering why would XDS connection survives in the 99.9%...

[2020-07-09 02:43] ckcd commented on #25269
I find we remove double quote of `/dev/stdout` in this PR: [PR-21283](https://github.com/istio/istio/pull/21283/files#diff-0d75c4c7b01f3008d63a872360339a2aL326), is this may the reason? cause in envoy config it has double quote: [config-bootstrap-v2-clustermanager-outlierdetection](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/bootstrap/v2/bootstrap.proto#config-bootstrap-v2-clusterman

[2020-07-09 02:43] howardjohn commented on #22443
Yeah I mean that one. Basically my thought is that PR forced the SDS exchange to happen prior to any of the dynamic resources are fetched which somehow fixes things. Not sure if it's due to timing or static vs dynamic

[2020-07-09 03:09] kyessenov commented on #25338
It would be clean to have istio docker image to be just `dpkg -i proxy.deb`. If we don't align, then the default install configs probably break on VMs under some options.

[2020-07-09 03:10] mandarjog commented on #25274
We think we know the issue, here is a test fix:  gcr.io/mixologist-142215/proxyv2:1.6.4-p0

Can you try it out? It is a debug image, so it is large.

[2020-07-09 04:47] 13567436138 opened #25347 "add sidecar resource, egress did not specify Istio namespace, but the workload in Istio namespace still can invoke outside workload"
**Bug description**

[code]
my deployed namespace is istio,egress didn't specifiy istio namespace,but productpage workload still can visite details and reviews,why

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ x] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavi

[2020-07-09 05:02] #19567 closed

[2020-07-09 05:17] 13567436138 opened #25348 "kubectl explain envoyfilter is empty"
**Bug description**
[code]

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ x] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm versio

[2020-07-09 05:25] jasonwzm commented on #25348
Thanks for raising the issue.

This is a known issue. It is empty because we could not produce a structural schema for EnvoyFilter. I am working on a fix for it.

[2020-07-09 05:55] c4m4 commented on #21187
I solved using a the bundled prometheus with prometheus operator federeting on it as suggested by the docs

[2020-07-09 06:06] #25193 closed

[2020-07-09 06:31] arief-hidayat commented on #6573
I think I better open new issue. thanks

[2020-07-09 06:32] #15778 closed

[2020-07-09 06:45] arief-hidayat opened #25350 "Wildcard hosts fail to match when port is included in host header"
**Bug description**

Hi,

I am using istio ingress gateway (simplified yaml are shown below) to expose tensorflow serving.
I encounter similar [issue](https://github.com/istio/old_issues_repo/issues/60#issuecomment-368676366) where I need to explicitly set the host name in `:authority` from GRPC client to make GRPC call works.
The setup for HTTP is working fine.

The GRPC issue is similar with wha

[2020-07-09 06:47] #19360 closed

[2020-07-09 06:47] irizzant commented on #21187
Same here, it's the recommended approach https://istio.io/docs/ops/best-practices/observability/

[2020-07-09 06:48] 4dithya opened #25351 "Istio service dashboard in grafana has no metrics"
**Bug description**
In one of our older istio installations(v1.1.8) the grafana istio service dashboard has no data. However few other dashboards do have data.

Grafana pod logs is filled with these lines

t=2020-07-08T07:17:54+0000 lvl=info msg=“Request Completed” logger=context userId=1 orgId=1 uname=admin method=GET path=/api/datasources/proxy/1/api/v1/query_range status=502 remote_addr=192.168

[2020-07-09 06:52] johnzheng1975 commented on #25193
Thanks all.
After confirm, upper logs already show it works: the headers already include grpc metadata.
And, the header added in enovyfilter can be showed in grpc server side . `request_handle:headers():replace("john","333")`

So, the conclusion is:
Envoyfilter already supports: log metadata, read metadata, modify metadata.

[2020-07-09 07:02] ael-g commented on #25312
@howardjohn this is almost this: I go from 1 -> 500 -> 1 for deployment A, and then update the image on deployment B -> Istio endpoint for service B is wrong.
I'm going to make new tests this morning to clarify if this wrong IP is from pod B before upscaling/downscaling deployment A.

[2020-07-09 07:44] antonioberben commented on #23706
`istio-ca-root-cert` is generated by `istiod`. So far, yes, you remove it manually. Pity... :(

In my case the configmap is generated in each namespace. Do you guys know how to avoid or specifically define which namespaces to avoid?

Thank you!

[2020-07-09 07:45] ael-g commented on #25312
So I can confirm, the situation is as follow:

0 - Deployment B has the same IP endpoints seen with `kubectl get endpoints` and `istioctl proxy-config endpoints any-pod-in-the-mesh`
1 - I go from 1 -> 500 -> 1 on deployment A
2 - I `kubectl edit` anything on deployment B -> new pods pops up
3 - `istioctl proxy-config endpoints pod-from-deployment-C` shows same IP endpoints for deployment B than on

[2020-07-09 07:49] antonioberben commented on #24827
Debuggin the code tourned out the the `appNamespaces` is not used anymore. Instead, a new attrbute is use called `oneNamespace` which sets the value of `appNamespaces` to the very same namespace istio is installed on.

Here the line of code:
https://github.com/istio/istio/blob/25bf46237382f5e6de7c3b8f1cfa8958ec0f9f28/manifests/charts/istio-control/istio-discovery/templates/deployment.yaml#L79

I w

[2020-07-09 07:49] #24827 closed

[2020-07-09 07:56] dozer47528 commented on #25309
It should be a pilot issue, I added some log in istio/pilot when push Eds:

[code]

The port in Eds is wrong.

[2020-07-09 08:14] hillbun opened #25352 "Errors when install istio with kubectl apply -f generated-1.6.3.yaml"
**Bug description**

1. ./bin/istioctl manifest generate --set profile=demo \
--set values.gateways.istio-egressgateway.enabled=false \
--set values.gateways.istio-ingressgateway.type=NodePort \
--set values.gateways.istio-ingressgateway.sds.enabled=true \
--set values.pilot.env.PILOT_HTTP10=1 \
--set values.meshConfig.accessLogFile="/dev/stdout" \
--set values.meshConfig.enableAutoMtls=false \
--

[2020-07-09 08:19] kallependers commented on #24598
@morvencao that file never changed since it was created (1.6.0). Even master has no changes.

I don't think that file is used to be frank. For example: the metadata name would be the same (istiod vs istio-pilot) and the apiVersion in both our HPA is not equal to the one in the file (autoscaling/v1 vs autoscaling/v2beta1).

`$ kubectl -n istio-system get hpa istiod -o yaml
apiVersion: autoscaling/v

[2020-07-09 09:09] adamcarter81 opened #25353 "1.6 Upgrade - Warn found CRD of unsupported v1alpha1 security policy"
**Bug description**
I have had this warning message for the last few minor upgrades, but I can't find what is causing it:

`2020-07-09T09:05:45.390180Z     warn    found 4 CRD of unsupported v1alpha1 security policy: [clusterrbacconfigs.rbac.istio.io rbacconfigs.rbac.istio.io servicerolebindings.rbac.istio.io serviceroles.rbac.istio.io]. The v1alpha1 security policy is no longer supported starting

[2020-07-09 09:10] morvencao commented on #24598
@kallependers Is your env fresh install, or upgrade from older version? Actually I don't think I got your point.
The issue should be fixed since https://github.com/istio/istio/pull/24887

Can you show me your istioOperator spec that is used to install istio?

[2020-07-09 09:50] lambdai commented on #19940
tools/istio-iptables/pkg/cmd/run.go at master has v6 catch all `ip6tables -t nat -A ISTIO_INBOUND -p tcp -j ISTIO_IN_REDIRECT` and iptables.sh is erased from repo.

But I see other breakage, including exclude include disorder and dns/udp rules. Need a refactor.

[2020-07-09 10:46] dozer47528 commented on #25309
Based on this part of code:

Code in 1.6.4 [link](https://github.com/istio/istio/blob/1.6.4/pilot/pkg/serviceregistry/external/servicediscovery.go#L463)
Code in master [link](https://github.com/istio/istio/blob/master/pilot/pkg/serviceregistry/serviceentry/servicediscovery.go#L445)

[code]

I think the `EndpointPort` should be `instance.Endpoint.EndpointPort`.

[2020-07-09 10:58] ramaraochavali commented on #25309
Yeah. Good find

[2020-07-09 11:55] ramaraochavali commented on #25309
Thank you @dozer47528 for debugging and finding the issue. Fixed in https://github.com/istio/istio/pull/25356

[2020-07-09 12:55] gitmedur commented on #2920
Hi
Trying to view istio metrics on an operator installed Prometheus. I saw the examples of mounting certs in Prometheus deployment yaml. I'm using kube-prometheus and added secrets to json file. But looking for a way to mount the certs into Prometheus pods. Will you please guide me?
Thanks

[2020-07-09 13:18] jbilliau5668 commented on #25274
Will do, stay tuned!

[2020-07-09 13:36] chihaiaalex commented on #22534
Same issue here. Also noticed that the HPA will scale up the ingress gateway due to the big number of requests going back and forth.

[2020-07-09 13:50] jbilliau5668 commented on #25274
That fixed it!! So do tell, what was the issue? Also, just as a FYI, here were my prom metrics after hitting sa.jasoneks.foc.zone 2-3 times:

[code]

I then went to my kiali dashboard and then these came into play:

[code]

Now standalone metrics without any ties to the sentiment-analysis namespace or sa-frontend app.

[2020-07-09 13:50] howardjohn opened #25362 "TestCreatePluggedCertCA test flake"

[2020-07-09 13:50] howardjohn commented on #25362
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/2928

[2020-07-09 14:01] kallependers commented on #24598
@morvencao I reapplied a custom IstioOperator and then it doesn't work. A clean-up of Istio and fresh install of 1.6.4 solves indeed the problem.

What I meant is https://github.com/istio/istio/blob/1.6.4/manifests/charts/istio-control/istio-discovery/templates/autoscale.yaml has different settings (version, namespace name) than installed HPA.

I guess this issue can be closed.

[2020-07-09 14:38] howardjohn opened #25364 "Scope updates to Sidecars"
Currently we fully scope updates to only virtual service and destination rule and services: https://github.com/istio/istio/blob/8ca6f0f2aa4be0c48a94ebd4f08a624ab057a48c/pilot/pkg/model/sidecar.go#L461.

Ideally, we add sidecar scope to this list. What this would enable is for namespaces to be truly isolated. Currently, even if we do everything we can to get isolation, any new namespaces coming up

[2020-07-09 14:42] esnible commented on #25353
It is complaining about CRDs, not use of the cRDs.

Use `kubectl delete crd <type>` to get rid of them.

[2020-07-09 14:48] esnible commented on #25328
This is a duplicate of https://github.com/istio/istio/issues/23074 .  Please close this one and set the mileston and priority of that one.

[2020-07-09 15:03] howardjohn commented on #25320
There are clearly some issues with your kubernetes cluster, you are getting weird errors like `etcdserver: leader changed`. I don't think this has anything to do with Istio, and is just your k8s cluster has some issues?

[2020-07-09 15:34] howardjohn commented on #24823
fixed via https://github.com/istio/istio/issues/24824

[2020-07-09 15:34] #24823 closed

[2020-07-09 15:35] mandarjog commented on #25274
The issue was false sharing of telemetry metadata in the stats code based on the downstream connection. In this case the same connection between browser and ingress was used to route to different upstreams, namely kiali and sentiment-analysis.
The fix was to not use dowstream connection to hold this state.

[2020-07-09 15:40] lei-tang commented on #23706
Since I will be OOO starting next week, assign this issue to @myidpt for triage.

[2020-07-09 15:42] jbilliau5668 commented on #25274
Good deal! Thanks a ton, this was driving me crazy. I'll anxiously await the next Istio release with this fix. Should I close this issue then?

[2020-07-09 15:43] istio-testing opened #25366 "[release-1.6] Better handle vendored trees"
Manual cherrypick required.

#25360 failed to apply on top of branch "release-1.6":
[code]

[2020-07-09 15:49] nycnewman commented on #13042
We still see this issue with latest Istio. Will this be fixed?

[2020-07-09 15:59] mandarjog commented on #25274
We will close it once the fix is in.
The fix is still under review.

Thanks for being persistent.

On Thu, Jul 9, 2020 at 8:42 AM jbilliau5668 <notifications@github.com>
wrote:

[2020-07-09 16:11] esnible commented on #25328
Related: https://github.com/istio/istio/issues/18487

[2020-07-09 16:11] esnible commented on #23074
Related: https://github.com/istio/istio/issues/18487

[2020-07-09 16:20] howardjohn opened #25369 "Merge egress and ingress helm charts"
After https://github.com/istio/istio/pull/25202, the two charts are identical - any differences are actual bugs.

These should be merged into a single chart. Users can, if they choose to, deploy them as separate deployments - or they can choose not to.

The main concern here is how this will work in the Operator API - with helm I think its more clear. We probably need some way to map the values pr

[2020-07-09 16:20] howardjohn commented on #25369
cc @ostromart @costinm @nschhina

[2020-07-09 16:49] justinkillen opened #25371 "Missing file when running profiler"
**Bug description**

In the performance profile doc (https://github.com/istio/istio/wiki/Analyzing-Istio-Performance#visualize-profile-pprof-installation), the pprof command line mentions './envoy.prof', but that isn't always the name of the file produced.  In my specific case, the files were named:  envoy.prof.0024.heap, envoy.prof.0025.heap, envoy.prof.0026.heap, etc.  This was discovered whilst

[2020-07-09 16:52] #25309 closed

[2020-07-09 16:54] manuelbuil commented on #20410
Could you clarify where do you see the Istio Authorization Policy being used in the egress examples? I can't find it and I am wondering if perhaps this is an outdated issue

[2020-07-09 16:59] JimmyCYJ commented on #24680
@williamaronli could you take a look? I don't see a SDS push error. It seems that the proxy initialization timeout is not sufficient for the SDS push.

[2020-07-09 17:07] esnible opened #25373 "XDS-based 'istioctl proxy-status'"
Needed for Central Istiod.

Two draft PRs cover this:
- CSDS-based approach, ad-hoc request https://github.com/istio/istio/pull/25344
- ad-hoc request/response https://github.com/istio/istio/pull/24063

@therealmitchconnors is working on a version that uses the correct CSDS request

This may be a duplicate of https://github.com/istio/istio/issues/24705

[2020-07-09 17:22] rsalmond opened #25375 "Additional metadata in stackdriver logging telemetry v2 extension"
**Describe the feature request**

The `httpRequest.requestUrl` field presently reported by the stackdriver logging extension represents the resulting URL after any virtualservice rewrite rules have been applied at the request source proxy. We would specifically like to log the pre-rewrite URL in context with the other data captured at the target proxy, and in general we're missing the flexibility

[2020-07-09 17:32] douglas-reid commented on #2920
@gitmedur if you are using a 1.6 release, you can use the Istio-supplied resources for prom operator. they don't include cert mounts, but generally the direction is a merged prom port not (currently) protected by mTLS.

[2020-07-09 17:49] nschhina commented on #25063
Got it again on https://github.com/istio/istio/pull/25202

[2020-07-09 18:19] JimmyCYJ commented on #25339
`default` and `ROOTCA`  are the predefined SDS resource names, `default` is the resource for key/cert and `ROOTCA` is the one for root cert. Shall we just set it to 0 [here](https://github.com/istio/istio/blob/7b7a581c0297da7f90c019460e5d1ac16aca12de/pilot/pkg/security/model/authentication.go#L128) , to let workload proxy to wait for the resources without a timeout?

[2020-07-09 18:22] JimmyCYJ commented on #25362
@myidpt Could you please take a look and find someone to get it fixed?

[2020-07-09 18:23] howardjohn commented on #25339
That's what I was suggesting Jimmy, yeah.

On Thu, Jul 9, 2020, 11:19 AM Jimmy Chen <notifications@github.com> wrote:

[2020-07-09 18:32] ceastman-ibm commented on #23740
@justinkillen I am trying to accomplish the same thing, have the microservice establish an https connection through the egressgateway. i deployed the yaml you have above but when i try to test it i get the following error: wondering if you saw this while testing?

Carls-MacBook-Pro:console-ui-jmeter-scripts carleastman$ kubectl exec -it workflow-api-6c7b7d4c8d-2znmt curl https://edition.cnn.com
ku

[2020-07-09 19:19] sameerbhadouria opened #25379 "GCP Memorystore Redis Connection refused after enabling Istio"
**Bug description**
We have an existing GKE Cluster (1.16.9-gke.6) with some services talking to GCP Memorystore Redis instance. However, after enabling Istio (Version 1.16.3) on those pods, we started seeing connection refused errors to the redis instance. As we are just starting out with Istio, we are allowing all external traffic from the Service inside mesh, using:
[code]
With this all outboun

[2020-07-09 19:31] xulingqing commented on #22597
Istio and Proxy has been updated to include the fix for include [google/jwt_verify_lib#51](https://github.com/google/jwt_verify_lib/pull/51) from Envoy

[2020-07-09 20:12] incfly commented on #23910
Okay more finding: **when auto mTLS is enabled, the route generated for edition.cnn.com:80 is incorrect**.

When auto mTLS enabled, dynamic route for edition.cnn.com host,  `outbound|443||edition.cnn.com` [[1] This is a STRICT_DNS cluster without mTLS config, the outcome is the sleep pod sends request to cnn directly (verified by the access log and ip address matching the dns query result of cnn).

[2020-07-09 20:22] tbarrella opened #25381 "Use "allowlist"/"denylist" instead of exclusionary language"
**Describe the feature request**
Replace "whitelist" with "allowlist" and "blacklist" with "denylist" throughout Istio APIs and code

Also see https://github.com/envoyproxy/envoy/issues/11596 which discusses formalizing a policy around this. Maybe it would be helpful for us to establish one as well?

**Describe alternatives you've considered**
Potentially other terms, such as "blocklist." Using "a

[2020-07-09 20:39] #25291 closed

[2020-07-09 20:47] antonioberben opened #25382 "Limit Istio to only perform stuff on a given certain set of namespaces"
In previous versions a user was able to label namespaces to let Istio (istiod) know to not "touch" those namespaces.

In a concrete example is `istio-ca-root-cert` being deployed in every namespace.

https://github.com/istio/istio/blob/10b00462d6274dcff6b63042a95ea0bb3b432e41/security/pkg/k8s/controller/workloadsecret.go#L52

The scenario is that our k8s provider makes `kube-system` namespace prot

[2020-07-09 21:41] #25366 closed

[2020-07-09 22:24] lambdai commented on #24753
@kyaparla Discussed in https://github.com/envoyproxy/envoy/pull/11916
And envoy won't add the tolerance back. Because
1. two `transfer-encoding: chunked` is equivalent to `transfer-encoding: chunked, chunked` as per RFC
2.  `transfer-encoding: chunked, chunked` doesn't have the same semantic as `transfer-encoding: chunked`
3. Before your fix, the body in your http response is actually should be de

[2020-07-09 22:25] costinm commented on #25381
Can we just use allow: and 'deny' ? We don't use the suffix 'list' on everything that is a list.

[2020-07-09 22:30] lambdai commented on #24753
tl;dr
`chunked, chunked` should not be considered "chunked" although it happens to resolve the failure.
Close if for now.
We can raise another discussion if there overwhelming cases

[2020-07-09 22:30] #24753 closed

[2020-07-09 22:52] jerry153fish commented on #24894
It turns out the `"externalTrafficPolicy": "Local"` not working on EKS, need to apply patch to kube-proxy

[code]

[2020-07-09 22:53] #24894 closed

[2020-07-09 22:56] tbarrella commented on #25381
Makes sense to me depending on the context. For me, allowlist has a more specific meaning that can be less ambiguous by indicating exceptional behavior

[2020-07-09 23:00] p4ali commented on #16915
We have some usecases need to extend the default timeout (15s), rather than per each case creating vs+se as above, wondering if there is a global setting can be configured.
In other words, is the 15s from istion or envoy? Can it be configured? Thank you!

[2020-07-09 23:46] howardjohn commented on #25351
Istio 1.1 has not been supported for well over a year: https://istio.io/blog/2019/announcing-1.1-eol/. Please upgrade to a supported version, and if you still have issues we can address then. Thanks!

[2020-07-09 23:46] #25351 closed

[2020-07-09 23:47] howardjohn commented on #25352
You need to create the namespace manually - ref https://github.com/istio/istio.io/issues/7693 we accidentally removed this from the docs

[2020-07-10 00:02] WarpRat commented on #25231
We noticed the same thing, although we only changed this:
[code]
I would have expected this to clean up the prometheus server that was created in the initial install, but it does not. Is this expected? If so, is there a declarative way to install Istio? I didn't expected it to make a difference, but I tested this by calling the install directly from istioctl as well as having istioctl generate man

[2020-07-10 00:10] howardjohn opened #25391 "Multiple VM test very flaky"
https://github.com/istio/istio/pull/25341

https://prow.istio.io/view/gcs/istio-prow/logs/integ-pilot-k8s-tests_istio_postsubmit/2938
https://prow.istio.io/view/gcs/istio-prow/logs/integ-pilot-k8s-tests_istio_postsubmit/2936

[2020-07-10 00:39] ZhengzheYang commented on #25391
I will take a look!

[2020-07-10 00:48] nschhina opened #25395 "Use /var/run/gateway/ as SDSUdsPath for Gateways"
Currently, we use `/var/run/ingress_gateway` for sdsudspath. With https://github.com/istio/istio/issues/25369, we should no longer have "ingress gateways" or "egress gateways" differentiated anywhere visible to the end user. Changing the path to `/var/run/gateway/` is definitely more correct as we don't have any "ingress_gateway" entity.

[2020-07-10 01:32] xiaowujee commented on #25310
yes

prometheus charts  deployment.yaml not use `global.imagePullSecrets`

[2020-07-10 02:02] lei-tang commented on #25382
Since I will be OOO starting next week, the issue is assigned to @myidpt for triage.

[2020-07-10 02:39] arief-hidayat commented on #25350
seems like I can workaround by specifying `*` in the `hosts`. So, it might work for both
* HTTP where host header `ms-123.byom.abc.com` , and
* GRPC where authority is `ms-123.byom.abc.com:443`

as for solution, I think this issue can be solved if istio set `strip_matching_host_port` in https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_co

[2020-07-10 03:06] lainra commented on #23163
@howardjohn Could anyone from the maintainer team take a look at this and give some feedback? 🙇

[2020-07-10 03:12] #24598 closed

[2020-07-10 03:27] istio-testing opened #25406 "[release-1.6] eds: fix endpoint port in service entry eds update"
Manual cherrypick required.

#25356 failed to apply on top of branch "release-1.6":
[code]

[2020-07-10 03:37] morvencao commented on #25310
Please append your istioOperator yaml that is used to deploy istio.

[2020-07-10 03:41] williamaronli commented on #24554
an implementation of the rotation https://github.com/istio/istio/pull/25408/commits

[2020-07-10 05:01] #18607 closed

[2020-07-10 05:02] #20082 closed

[2020-07-10 05:06] #22480 closed

[2020-07-10 05:24] r-kotagudem opened #25410 "Istio 1.6 authentication/authorization policies doesnt allow authorization header passed to backend."
Istio 1.6 authentication/authorization policies doesnt allow authorization header passed to backend.
We have a backend app which prints all headers received and noticed below

istio 1.6 response
image
![image](https://user-images.githubusercontent.com/62635671/87119405-7fea4380-c29b-11ea-9362-7a06aefc4ff2.png)

istio 1.4.5 response
image
![image](https://user-images.githubusercontent.com/62635671/

[2020-07-10 06:13] #25223 closed

[2020-07-10 06:32] #23752 closed

[2020-07-10 06:41] hellojqk commented on #25216
apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: normalize-headers
spec:
  configPatches:
    - applyTo: CLUSTER
      match:
        context: SIDECAR_OUTBOUND # SIDECAR_INBOUND
      patch:
        operation: MERGE
        value:
          http_protocol_options:
            header_key_format:
              proper_case_words: {}

istio 1.6.4  k8s v1.18.3
it can work whe

[2020-07-10 07:11] gitmedur commented on #2920
@douglas-reid what do you mean with "merged prom port not protected by mTLS"?

[2020-07-10 07:44] #25226 closed

[2020-07-10 07:48] amckee23 commented on #20082
For what its worth now this is closed. We managed to fix this / find a work around.  The core issue we faced appears to have been following the guide on: https://istio.io/latest/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/. set up subset networking rules which when removed allowed for workload -> egress-gateway mtls to resolve.

[2020-07-10 07:56] hillbun opened #25412 "How to disable image of istio/proxyv2:1.6.3 keep pulling when deployment istio enabled"
I have installed istio offline, all istio images load locally

[code]
but when deployment deployed and startup, pods keeps pulling istio/proxyv2:1.6.3

how to solve this problem?

[2020-07-10 08:52] hillbun commented on #25352
@howardjohn

just kubectl create namespace istio-system befor kubectl apply ?

[2020-07-10 09:14] Stono opened #25415 "Please could we add `name` as a field on HTTPRouteDestination"
**Describe the feature request**
We currently use a `name` field on the [HTTPRouteDestination](https://istio.io/latest/docs/reference/config/networking/virtual-service/#HTTPRouteDestination) object to differentiate our routes, for example:

[code]

This allows us to build GUI's which allow people to switch traffic to other regions, and we use that field to deterministically identify the relevant r

[2020-07-10 09:18] Stono commented on #25415
cc. @howardjohn @douglas-reid - what are the changes of this happening?  It'd be an api addition (so non-breaking) on the `VirtualService` but would really help.

[2020-07-10 09:27] Stono commented on #25269
Didn't quite work @howardjohn but `--outlierLogPath="/dev/stdout"` did (no single quotes)

[2020-07-10 09:34] Stono opened #25416 "Istioctl validate but for installation options"
**Describe the feature request**
We have quite a large `values.yaml` for istio installation options, which has evolved since like 0.2.  I've no doubt that some of the fields aren't valuable any more but i'm hesitant to remove them through fear of unknown side effects or enforcing defaults which could change in the future.

I'm also thinking it would be good for an end user to be able to validate t

[2020-07-10 09:58] shamsher31 commented on #25352
Yes, that should work.

[code]
Also if you don't have [sidecar injection enabled](https://istio.io/latest/docs/setup/additional-setup/sidecar-injection/#automatic-sidecar-injection), you can run.

[code]

then run
[code]

[2020-07-10 10:22] zufardhiyaulhaq commented on #24865
@elfinhe can we push this to the next patch since this will block the --dry-run upgrade?

[2020-07-10 10:33] adamcarter81 commented on #25353
Ah of course, I remember doing this on the 1.6 upgrade - thanks for your help!

[2020-07-10 10:34] #25353 closed

[2020-07-10 11:38] JacobSMoller opened #25417 "Istio sidecar not mounting certs from k8s secret"
**Bug description**
After upgrading istio with istioctl, to both 1.5.0, 1.5.7 and latest 1.6.5, previously we used helm templates and kubectl apply, my istio sidecars are no longer mounting certs in /etc/certs.

We run an envoy proxy ourself, which is used as the backend for a google ingress. However the envoy expects to be able to find certs in /etc/certs, which are no longer present on the sidec

[2020-07-10 12:58] tmshort commented on #25005
Any update on this?

[2020-07-10 14:47] howardjohn opened #25419 "Clean proxy config regression"
https://github.com/istio/istio/pull/25411/files#r452889860

Just opening this to track it

[2020-07-10 15:08] howardjohn commented on #25362
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/25275/unit-tests_istio/16279

[2020-07-10 15:53] jshaughn commented on #24379
@bianpengyuan @douglas-reid , Please re-open, I'm not seeing any change in 1.6.5.  This is getting serious as the telemetry looks horrible in 1.6.  With the new 1.6.5 release:

![image](https://user-images.githubusercontent.com/2104052/87173459-c9d72780-c2a3-11ea-9ba9-e2f2825c4f43.png)

[2020-07-10 16:08] soakr commented on #12602
I faced same issue around istio-ingressgateway.
After several try, maybe I found some  solution for this issue even if it's not smart.
In my case, the most critical issue was lack of machine resources.  There were no nodes to deploy new pod to fill demanded number of pods.

Since lack of machine resource, I'm not able to check whether it works for now but I'm going to introduce it.
We can get actu

[2020-07-10 16:09] ZhengzheYang commented on #25391
https://prow.istio.io/view/gcs/istio-prow/logs/integ-pilot-k8s-tests_istio_postsubmit/2948 This also fails sometimes? I think it might be the related dns issue? #25242 Like this PR, if DNS capture is enabled for all, multiple tests would fail. Since DNS capture is enabled for all VMs, they might fail as well. Reverting #25341 seems reasonable here, though.

[2020-07-10 16:23] elfinhe commented on #24865
which minor version?

[2020-07-10 16:24] istio-testing opened #25423 "[release-1.6] Fix Istioctl upgrade with dry-run options"
Manual cherrypick required.

#25207 failed to apply on top of branch "release-1.6":
[code]

[2020-07-10 16:52] bianpengyuan commented on #24379
@jshaughn Would you mind to try out install istio with `--set meshConfig.protocolDetectionTimeout=3600s` and see if it fixes the issue? We raised it to `5s` in 1.6.5 but maybe it still not enough for the application. I was also seeing an unknown passthrough edge with my 1.6.5 installation. I raised the time out to `3600s`, so far I don't see any extra edge in my graph.
<img width="1322" alt="Scree

[2020-07-10 16:53] zufardhiyaulhaq commented on #24865
last time I check on 1.6.3, let me check again in 1.6.5, I made a PR since there is no code change.

[2020-07-10 17:03] elfinhe commented on #24865
Now the fix is in master. I am working on a cherry-pick into release-1.6.

[2020-07-10 17:10] elfinhe commented on #24865
cherry-pick is created here: https://github.com/istio/istio/pull/25425

[2020-07-10 17:12] elfinhe commented on #24865
The fix should be released into next 1.6 patch version - 1.6.6, and the minor version 1.7.0

[2020-07-10 17:13] elfinhe commented on #24865
Thanks so much for the fix. @zufardhiyaulhaq

[2020-07-10 17:45] stevenctl commented on #24028
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/25378/integ-distroless-k8s-tests_istio/8978

Don't think its the same cause as above, fails waiting for istio-proxy for echo. Possibly introduced in #25096

[2020-07-10 17:53] #25296 closed

[2020-07-10 18:09] aaronjwood commented on #18912
@JimmyCYJ what release will this be targeted for? Will it be backported anywhere?

[2020-07-10 18:19] JimmyCYJ commented on #25395
Thanks for filing this issue!

[2020-07-10 18:52] howardjohn commented on #25416
@esnible i think you looked into this at one point?

[2020-07-10 18:53] howardjohn commented on #25417
This is no longer how cert provisioning works. See https://istio.io/latest/blog/2020/istiod/ and https://istio.io/latest/news/releases/1.5.x/announcing-1.5/upgrade-notes/ for more info

[2020-07-10 18:54] howardjohn commented on #25412
I don't understand the issue - why do you expect istio/proxyv2 to not be pulled? It is a required image for the proxy

[2020-07-10 18:55] howardjohn commented on #25395
I don't think this is worth the pain, to be honest. There is real cost associated with changing it, and no real user benefit.

if we merged it with the workload SDS stuff then maybe, but that is moving to istiod anyways most likely now

[2020-07-10 19:14] lambdai commented on #25005
My understanding is that there are 3 connections
sleep --(rawtcp)--> sleepsidecar --(TLS)--> httpbinsidecar --(rawtcp)--> httpbin

Only httpbinsidecar could see downstream as tls, while sleepsidecar see downstream as rawtcp with no tls information.
However, the virtual service is actually applied the "header-evaluate-and-add" to sleepsidecar. sleepsidecar fill the header with
`x-foo12: "DOWNSTREAM

[2020-07-10 19:52] nschhina commented on #25395
Sure, but I'll leave this open for future reference as this is something that should be done some time in the future, but can be handled during move to istiod.

[2020-07-10 20:00] howardjohn opened #25436 "Consider reducing webhook timeout"
https://github.com/kubernetes/kubernetes/pull/74562 adds support for custom timeout. 30s is probably 10x larger than what we need. This would make some error cases a bit faster.

cc @jasonwzm @hzxuzhonghu

[2020-07-10 20:03] tmshort commented on #25005
By "you", I'm assuming you mean istio?

The defined virtual service is specified for httpbin.

[2020-07-10 20:20] howardjohn commented on #18135
https://gcsweb.istio.io/gcs/istio-prow/benchmarks this works now!

[2020-07-10 20:20] #18135 closed

[2020-07-10 20:25] lambdai commented on #25005
We all agree headers_to_add is the key functionality to achieve the goal before we introduce cutting edge wasm plugin.

Though I am not fully sure but I need a confirmation that your goal is to deliver the TLS info between two envoy sidecar to the header to httpbin app.

So we actually have two issues here.
1. which sidecar envoy is supposed to evaluate the downstream tls info? According to my und

[2020-07-10 20:30] tmshort commented on #25005
Yes, the httpbin sidecar is to evaluate the downstream info; the goal is to get the httpbin application to evaluate TLS connection information.

[2020-07-10 20:35] jasonwzm commented on #25436
It also mentions that for v1 webhook config the default is 10s. Let's see how that works out. I don't see any issues with that.

[2020-07-10 20:35] tmshort commented on #25005
It appears that it needs to be done at the `route_config` level

[2020-07-10 20:36] howardjohn commented on #25436
Oh I missed that. SGTM

On Fri, Jul 10, 2020 at 1:35 PM Jason Wang <notifications@github.com> wrote:

[2020-07-10 20:52] stevenctl commented on #25110
The docs do mention:

Although I can replicate this in 1.6.5 even when setting location to `MESH_INTERNAL` on the service entry.

[2020-07-10 21:02] hunkeelin opened #25437 "Support mTLS for Grpc"
The below config works for mtls on https REST.
[code]

If I change the protocol to `grpc`, `apply` will complain `cannot have TLS settings for plain text HTTP ports`. If I change the protocol to `https`/`tls` istio-gateway silently drops grpc request.

Base on my observation it seems istio gateway doesn't support grpc with mtls. If it doesn't this issue serve as a feature request. If it does, plea

[2020-07-10 22:00] zerobfd opened #25440 "Move mirror routes to a different function in galley/pkg/config/analysis/analyzers/virtualservice/util.go"
**Bug description**
The utility function getRouteDestinations returns the routes _and_ the mirrors. This is an issue both because the name of the function is misleading, and also because the routes and mirrors aren't on the same branch of the YAML tree and so it becomes impossible to tell from context where the error is if a url happens to be duplicated.

We should move the mirror paths into a sep

[2020-07-10 22:00] zerobfd commented on #25440
@jasonwzm @monsteredc FYI

[2020-07-10 22:52] lambdai commented on #25005
@tmshort
I run envoy from istio 1.5.6 and envoy could evaluate DOWNSTREAM_TLS_XXX variables under per route
[code]
My local env is
curl ---TLS---> (listener localhost:15009) envoy (cluster:httpbin) ---rawtcp---> httpbin

curl -k https://localhost:15009/headers

[code]

[2020-07-10 22:54] JimmyCYJ commented on #18912
It will be shipped with release-1.7. Which will be announced on August 11th (https://github.com/istio/istio/wiki/Istio-Release-1.7)
@williamaronli could you cherrypick this fix into 1.5 and 1.6 as well?

[2020-07-10 23:00] lambdai commented on #25005
As per the experiment at my side, we I would assume the potential next step is to set the header at ingress sidedcar, which is the httpbin's envoy.

The fundamental issues is that `request_header_add`: should the ingress sidecar add the header or the egress sidecar add header?

@costinm @howardjohn WDYT? Any other istio API could help here?

[2020-07-11 04:31] hillbun commented on #25412
@howardjohn

My server do not have internet connection, so I have to install istio offline.

I have load all required images to local copy.

[code]

I installed istio with kubectl apply method and set all image imagePullPolicy: IfNotPresent

istio is running correctly

[code]

But when I deploy pods with istio enabled, it still keep pulling istio/proxyv2, and cranched.

[2020-07-11 04:34] howardjohn commented on #25412
Ok then it sounds like either image pull policy is NOT IfNotPresent or it's a k8s bug (less likely).Maybe look at the full pod yaml

[2020-07-11 04:52] hillbun commented on #25412
@howardjohn

deployment.yaml

[code]

kubectl get pods -n test -o wide

[code]

kubectl describe pods miop-ui-5897df69d4-d8ppx -n test

[code]

but proxyv2:1.6.3 is local copied.

[code]

maybe is imagePullPolicy: always is hard coded in istio for image proxyv2:1.6.3 enjected？

[2020-07-11 05:05] #22334 closed

[2020-07-11 05:06] #22562 closed

[2020-07-11 08:13] knight42 commented on #25206
/assign

[2020-07-11 08:36] daixiang0 commented on #25129
Is there any rules about it? I would like to implement this tool but i do not know istio's import rule.

[2020-07-11 09:11] knight42 commented on #25206
I have filed #25444 to fix this problem.

[2020-07-11 13:14] johnzheng1975 commented on #25193
For service entry used in multi-cluster, grpc request through two custer
If I use tcp protocal, it is easier to be successful, but enovyfilter I wrote cannot catch it.
If I use http protocal/ grpc protocal, the envoyfilter I wrote CAN catch it, but the grpc request fails mostly

[2020-07-11 14:35] tony-liuliu opened #25445 "May I ask when I can upgrade envoy in istio to version 1.15.0"
May I ask when I can upgrade envoy in istio to version 1.15.0, we very much need the local_reply feature in version 1.15.0. Because we will use it to rewrite custom error messages. This way we don’t need to add nginx in front of the gateway Or haproxy to rewrite the error.

[2020-07-11 16:01] knight42 commented on #25362
I have filed #25446 to address this issue.

[2020-07-11 19:51] juanamat commented on #24717
Replying to myself.
I was able to make it work with, for instance, port 8080 if I add this port to the ServiceEntry.

[2020-07-11 19:51] #24717 closed

[2020-07-11 19:52] juanamat commented on #24717
See comment above.

[2020-07-11 21:45] howardjohn opened #25447 "Install regression, cannot install using istioctl at all"
#25384 broke this

[code]

It seems the change also fundamentally drops out test coverage as this was not caught

[2020-07-12 04:11] #25232 closed

[2020-07-12 05:01] #19607 closed

[2020-07-12 05:36] #22025 closed

[2020-07-12 05:53] 13567436138 opened #25448 "@robert-blackman You should enable vs delegation by set env `PILOT_ENABLE_VIRTUAL_SERVICE_DELEGATE=true`"
@robert-blackman You should enable vs delegation by set env `PILOT_ENABLE_VIRTUAL_SERVICE_DELEGATE=true`

_Originally posted by @hzxuzhonghu in https://github.com/istio/istio/issues/24368#issuecomment-638826358_

can i use delegate in 1.4.10

[2020-07-12 06:34] #25348 closed

[2020-07-12 10:28] esnible commented on #25416
This is a duplicate of https://github.com/istio/istio/issues/21473

I will target that issue for 1.8 and try to prioritize it.  Some of the hooks are present.

[2020-07-12 10:28] #25416 closed

[2020-07-12 12:38] hillbun commented on #25412
it seems that this issue is on istio side, not k85?

[2020-07-12 14:15] howardjohn commented on #25412
The image pull policy is configurable at installation time, set
values.global.imagePullPolicy

On Sun, Jul 12, 2020, 5:38 AM hillbun <notifications@github.com> wrote:

[2020-07-12 15:31] esnible commented on #22274
I don't think this will happen for 1.7.

Any objection to targeting 1.8 for this work?

[2020-07-12 16:16] r-kotagudem opened #25449 ""RequestAuthentication" doesnt get applied to ingressgateway in istio 1.6.2"
@itsmurugappan
"RequestAuthentication" doesnt get applied to ingressgateway in istio 1.6.2. Same policy works when applied to service pod with side car enabled.

[code]

[ ] Security

**Expected behavior**
RequestAuthentication when applied to ingressgateway wont validate the  jwt token.
Same apolicy when applied to service pod with side car works fine. validate jwt token.

**Steps to reproduce th

[2020-07-12 16:39] #25206 closed

[2020-07-12 18:37] juanamat opened #25450 "Egress TLS Origination for TCP using VirtualService does not work if ServiceEntry is not DNS"
Istio 1.5.5

I followed the step for Egress TLS Origination from the doc but using TCP instead.
I really needed a VirtualService to map my non secure port used in my application to the secure port use to contact the external TCP service (think LDAP:389/LDAPS:636).
If I use a ServiceEntry with resolution:NONE  like this:
[code]

This does not work.
More precisely the traffic will be upgraded from n

[2020-07-12 19:23] itsmurugappan commented on #25449
RequestAuthentication needs to be accompanied by a AuthorizationPolicy. https://istio.io/latest/docs/reference/config/security/request_authentication/

[2020-07-12 19:43] esnible commented on #25271
Working for me.

[2020-07-12 19:43] #25271 closed

[2020-07-12 19:49] esnible commented on #25194
@shamsher31 this is now happening on `Master`

The error message is particularly poor.  It starts with `Error: could not load IstioOperator from cluster: could not unmarshal: unknown field "citadel" in v1alpha1.IstioComponentSetSpec` and then prints 500 lines of YAML.

[2020-07-12 20:01] esnible commented on #25194
@ostromart PR https://github.com/istio/api/pull/1464 broke this.

Looking into a work-around.  Was components.citadel ever deprecated or did it go immediately to deleted?

[2020-07-12 22:38] r-kotagudem commented on #25449
@itsmurugappan itsmurugappan
thanks for the reply.

Heres the complete  policy applied. authentication and authorization policy.

apiVersion: "security.istio.io/v1beta1"
kind: "RequestAuthentication"
metadata:
  name: reqauthn-ingress-policy
  namespace: istio-system
spec:
  selector:
    matchLabels:
      istio: ingressgateway
  jwtRules:
  - issuer: "https://oauthserverhost/oauth2"
    jwksUri:

[2020-07-12 23:24] stevenctl commented on #25110
Creating a service with an arbitrary name that selects the same pods causes the serviceentry to start working as you'd expect

[code]

[code]

[2020-07-12 23:57] esnible commented on #21715
Now that we have a variant of `version` that uses XDS to determine the version, it would be trivial to put that into `manifest apply --wait` and `verify-install` to ensure that the XDS endpoint is functioning correctly.

The other common failure points are the webhooks.  Any thoughts on how we should test them?

[2020-07-12 23:58] esnible commented on #23479
I would like to test this.  When will it be ready for dev testing?

[2020-07-13 00:12] #25447 closed

[2020-07-13 00:48] esnible commented on #24471
I'd like `istioctl analyze` to detect as many deprecated things as possible.

It only handles resources that Galley used to know about that have an entry in _pkg/config/schema/collections/collections.gen.go_.

- The PRs deprecated some fields in _IstioMeshV1Alpha1MeshConfig_.  I could warn about these, but does anyone still have a MeshConfig in their cluster?  I do not.
- Two collections mention t

[2020-07-13 01:29] yangvipguang opened #25453 "istio upgrade"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
command istio upgrade  does't work well .
![image](https://user-images.githubusercontent.com/11416887/87262048-16607400-c4eb-11ea-82ed-9f62cad4e961.

[2020-07-13 01:29] hzxuzhonghu commented on #25448
No, the feature is started from 1.6 release

[2020-07-13 01:29] #25448 closed

[2020-07-13 03:22] hustshawn commented on #19263
This one also verified works on my istio 1.6.3, and the syntax is much neat than the k8s resources overlay hacks before.

[2020-07-13 03:41] hzxuzhonghu commented on #25129
IMO: we should split the import libs in 4 groups:

1. standard go libs
1. other dependencies from other projects
1. istio.io/xxx (xxx not equals istio)
1. istio.io/istio

[2020-07-13 03:46] howardjohn commented on #25129
I personally do not care at all what it is as long as it's deterministic to avoid diff in PR and reviewers complaining

[2020-07-13 05:01] #19630 closed

[2020-07-13 05:02] #19632 closed

[2020-07-13 05:02] #19634 closed

[2020-07-13 05:02] #19642 closed

[2020-07-13 05:02] #19845 closed

[2020-07-13 05:04] glix942 commented on #25112
We have experienced same issue as reported here with Pilot 1.4.5 and EKS 1.14, it caused by sudden traffic spike that up-scaled Istio Ingress Gateway rapidly (300+ pods) and down-scaled rapidly also after traffic spike passed. This issue caused Istio Ingress Gateway route request to destroyed pods, as well as incorrect services.

We have troubleshot the Pilot source code along with Kubernetes *cli

[2020-07-13 05:05] #22103 closed

[2020-07-13 05:15] howardjohn commented on #25112
We have 2 different approaches both fixing this - https://github.com/istio/istio/pull/25149 and https://github.com/istio/istio/pull/25161. Hopefully will be merged soon

[2020-07-13 08:49] morvencao commented on #25453
Please download the latest istio package and then upgrade with latest `istioctl` binary.

[2020-07-13 08:49] ckcd commented on #24698
@howardjohn @rshriram please take a look, thanks~

[2020-07-13 09:11] #19653 closed

[2020-07-13 10:04] serrien commented on #22934
Hello,

I tried it with two cluster on EKS with Istio 1.6.5. I notice that create remote secret cmd must be execute before installing Istio on remote cluster othewise, ingress gateway on remote cluster dooesn't start.

Furthermore, I tried Cross-cluster routing in action : [https://istio.io/latest/docs/setup/install/multicluster/shared/#cross-cluster-load-balancing](url) but services endpoints are

[2020-07-13 10:59] #23371 closed

[2020-07-13 12:01] #25194 closed

[2020-07-13 13:38] kyessenov commented on #24605
Closed by https://github.com/istio/proxy/pull/2879 in 1.6.5.

[2020-07-13 13:38] #24605 closed

[2020-07-13 13:49] tmshort commented on #25005
Are you saying that if we update to 1.5.6 (or later), it should work? We're about to upgrade past that.

[2020-07-13 14:12] dinesh4747 commented on #25198
@objectiser  - To set the context - we are currently using istio-1.5.2 deployed in GKE and by default we have enabled zipkin for tracing wherein our zipkin pods are running in istio-system namespace

**Goal** - we wanted to implement Jaeger in a complete scalable productionistic deployment on GCP and wanted to export zipkin traces to Jaeger collector and store it in Cassandra and visualize via Jae

[2020-07-13 14:57] howardjohn opened #25463 "test infra: false positives in tests"
All tests are passing, regardless of status. See https://prow.k8s.io/view/gcs/istio-prow/logs/integ-k8s-116_istio_postsubmit/2878 for example

I will temporarily block all PRs until resolved

[2020-07-13 14:57] nschhina opened #25464 "Prow reporting PASSED status with failing test cases"
Prow CI is reporting "green" ie. status reported suggests that the test suite passes however, multiple tests within that test suite are failing.

Ref: https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/25424/integ-security-k8s-tests_istio/16075

[2020-07-13 14:59] nschhina commented on #25464
closed as duplicate of #25463

[2020-07-13 14:59] #25464 closed

[2020-07-13 15:05] howardjohn commented on #25463
I have opened https://github.com/istio/test-infra/pull/2772 to temporarily disable ALL merging until we figure this out

[2020-07-13 15:06] howardjohn commented on #25463
A pod that failed has

[code]

in the status. So it may be returning the exit code == 0, indicating its an issue on our side not prow

[2020-07-13 15:07] howardjohn commented on #25463
First know false positive is https://github.com/istio/istio/pull/25384

[2020-07-13 15:22] howardjohn commented on #25463
Testing locally with a dummy job that jsut runs `exit 5`, confirm exit code is set appropriately:

[code]

[code]

Need to see if its related to our kind setup/cleanup

[2020-07-13 15:24] howardjohn opened #25465 "Cannot run prow/integ-suite-kind.sh multiple times"
The local registry stuff dynamically appends to the config, meaning if we run it multiple times the config is invalid. Maybe we should just check in the changes. We can name the example prow-config.yaml and have a parallel local-config.yaml for local runs or somethig if needed? Not sure if that causes more issues
cc @stevenctl

[2020-07-13 15:31] howardjohn commented on #25463
Merging is blocked, in theory at least

[2020-07-13 15:34] howardjohn commented on #25463
Running `prow/integ-suite-kind.sh --skip-build fail`, where fail is a target in make I defined for `exit 5`, fails appropriate locally

[2020-07-13 15:39] howardjohn commented on #25463
Another job which *does* fail properly:

[code]

might be in the makefile where the issue arises I suppose...

[2020-07-13 15:41] ericvn commented on #23243
This work was done in istio/release-builder#271

[2020-07-13 15:41] #23243 closed

[2020-07-13 15:42] howardjohn commented on #25463
[code]

[2020-07-13 15:44] desaintmartin opened #25467 "Operator Helm Chart is published within Helm Hub / Artifact Hub"
**Describe the feature request**

It would be nice if Operator Helm Chart would be published somewhere like the Helm Hub or the Artifact Hub in order to ease installation/search.

https://hub.helm.sh/
https://artifacthub.io/

Note that I volunteer to do it for the Helm Hub if needed and accepted.

**Describe alternatives you've considered**

[ ] Configuration Infrastructure
[ ] Docs
[x] Installati

[2020-07-13 15:45] ericvn commented on #23840
Agree that this can be closed as CNI is no longer in istio.dep

[2020-07-13 15:45] #23840 closed

[2020-07-13 15:48] howardjohn commented on #25463
https://github.com/istio/common-files/pull/277

[2020-07-13 15:48] mirskifa commented on #25153
@JimmyCYJ the blog you linked to is the same as the one I cited in the issue.  The problem is that the sidecar template for auto-injection does not have the tmpfs mount so it would in some way need to be added.

My suggestion was to have an annotation which tells the template what volume it can use (would be added to the main workload definition before the sidecar injector hook modifies it) which

[2020-07-13 15:49] desaintmartin opened #25468 "Prometheus: Bundle recommended rules into a PrometheusRule for Prometheus Operator"
**Describe the feature request**

https://istio.io/latest/docs/ops/best-practices/observability/#workload-level-aggregation-via-recording-rules describe good practices Prometheus rules.
for people using Prometheus Operator, this might be interesting to automate this setup using a PrometheusRule, like the existing ServiceMonitor.

Would such a PR be accepted?

**Describe alternatives you've conside

[2020-07-13 15:58] howardjohn commented on #25463
https://github.com/istio/istio/pull/25469

[2020-07-13 16:21] objectiser commented on #25198
Can't answer your question about GKE vs GCE - possibly others have experience with them. But in terms of reporting the tracing data/spans to Jaeger, have you looked at the docs: https://istio.io/latest/docs/tasks/observability/distributed-tracing/jaeger/

The information passed between services is the trace context. This can be in various formats, but when using the Zipkin tracer in Istio/envoy, i

[2020-07-13 16:21] howardjohn commented on #24698
Does seem weird given https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/fault/v3/fault.proto#extensions-filters-http-fault-v3-faultabort is an int

[2020-07-13 16:32] howardjohn commented on #18443
Not stale

[2020-07-13 16:36] howardjohn commented on #25463
https://github.com/istio/istio/pull/25471 does the revert to fix tests broken during this time

[2020-07-13 16:39] linsun commented on #22934
@serrien thanks for trying it.   For the service endpoints, you need to make sure your c1 and c2 has different network names and registry names (e.g. fromRegistry).  If you still have issue, would be good to open a separate issue as this WI is to track overall progress for it.  BTW, we have a central Istiod test now, would be good to compare what you have done different with our automated test:  h

[2020-07-13 16:40] sameerbhadouria commented on #25379
As a follow up I came across some material that suggested the limitation on Kubernetes container dependency ordering could be an issue. I added a manual check in my app container to make sure Istio proxy was up as suggested here: https://github.com/istio/istio/issues/11130

Unfortunately, I still get connection refused errors.

[2020-07-13 16:40] sameerbhadouria commented on #24461
I am experiencing something similar with Redis. I have a script in my app container to check for Istio proxy being available before starting as suggested https://github.com/istio/istio/issues/11130
Had created an separate issue here: https://github.com/istio/istio/issues/25379 but this seems related.

[2020-07-13 16:43] howardjohn commented on #25463
https://github.com/istio/istio/pull/25473 is another one

[2020-07-13 16:43] amitsehgal commented on #24112
any movement on this ?

[2020-07-13 16:49] douglas-reid commented on #25415
Naively, I don't know of anything that would prevent adding a `name` field. You'd probably want to add it to both `RouteDestination` messages, though.

@rshriram thoughts?

[2020-07-13 16:51] howardjohn commented on #25005
@lambdai it should be on egress, otherwise it won't work if there is no sidecar on the destination. Its also very hard to implement in the way you described as the semantics for VS (in terms of what they apply to) are client side

[2020-07-13 17:20] howardjohn commented on #25463
Pretty sure this is fixed and all tests are green now

[2020-07-13 17:20] #25463 closed

[2020-07-13 17:21] yangminzhu commented on #25449
thanks for the report, so from what you're seeing it looks like the RequestAuthN is not working correctly on ingress gateway, I will update once I reproduced this.

[2020-07-13 17:21] howardjohn commented on #25463
At least in presubmit - will be tracking this still. Closing as this issue being opened blocks all prs from merging

[2020-07-13 17:49] rshriram commented on #23753
This is really cool! How compatible is this proxy with the existing XDS implementation in envoy? If you replace the istio-proxy with mosn, how many tests pass / fail? This might be a good test of compatibility.

Even if we dont immediately have mosn as an alternative to the envoy proxy, in our distribution, you can start by creating documentation for this (assuming there is a sufficient coverage o

[2020-07-13 18:02] rshriram commented on #23753
Another question, why xds? Would you be interested in directly supporting istio APIs (networking and security) and implementing the "user intents" directly in mosn without going through another translation? Put another way, if this is modular enough, then with @costinm 's work on streaming istio configs over xds to istio-agent, you could literally receive all istio configs over xds and implement t

[2020-07-13 18:09] jgreens commented on #23877
Hi @howardjohn, is it possible to get an update here, or is there another forum where I should post?

[2020-07-13 18:30] howardjohn commented on #25445
This will be in Istio 1.7. We track 1:1 with Envoy versions (ie Istio 1.6 == Envoy 1.14, istio 1.5 == envoy 1.13)

[2020-07-13 19:08] davesargrad opened #25477 "istioctl does not find custom profile"
This worked in a different way in 1.5. I'm trying to use a custom profile and custom charts.

I am following [these](https://istio.io/latest/docs/setup/install/istioctl/) instructions. These seem to suggest that --set profile=custom1.yaml should be adequate. Yet I see the error message "unsupported profile type"

The profile is seen in the following (with my name). I started by just making this a

[2020-07-13 19:25] davesargrad commented on #25477
![image](https://user-images.githubusercontent.com/48793689/87344780-02ce0100-c51d-11ea-8278-27ff072834da.png)

[2020-07-13 19:31] stevenctl commented on #25319
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/25470/integ-multicluster-k8s-tests_istio/6440

[2020-07-13 20:06] williamaronli commented on #18912
will cherry-pick to 1.5 and 1.6 this week

[2020-07-13 20:11] esnible commented on #25477
You can only use `--set profile=` with choices from `istioctl profile list`.

To use the _sargrad.yaml_ file, use `--filename`.

[2020-07-13 20:12] linsun opened #25480 "Allow configuration of config/secrets namespace differently than istiod namespace"
**Describe the feature request**

We normally put these config and secrets in the same namespace as istiod.  However, in central istiod, given istiod may not run on the same cluster as config cluster, it is possible istiod is installed in ns1 while the config and secrets are not preferred in the same namespace (e.g. ns1) on the config cluster.  Would be good to allow admins to have such customizat

[2020-07-13 20:39] desaintmartin commented on #21187
Let me try to summarize:
So there is support for a `Prometheus` deployment for Prometheus Operator (prometheusOperator.enabled), with some `ServiceMonitors` instead of the default prometheus (prometheus.enabled).
1/ There seem to have issues with making scraping work with mTLS out of the box, is that easily fixable?
2/ How to make it compatible with the new enablePrometheusMerge parameter which sh

[2020-07-13 20:56] PatrickDuncan opened #25482 "meshConfig.defaultConfig -> tlsSettings.mode=ISTIO_MUTUAL crashes sidecar"
**Bug description**

When using the [ProxyConfig](https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/#ProxyConfig), if you pass `ISTIO_MUTUAL` to `tlsSettings.mode` ([link](https://istio.io/latest/docs/reference/config/networking/destination-rule/#ClientTLSSettings)) it crashes the sidecar.

I've noticed this behaviour with the `envoyMetricsService` (`RemoteService`) and `tracing` (

[2020-07-13 21:18] Justin2997 opened #25483 "Istioctl manifest apply from 1.5.x to a other 1.5.x result in istiod to max replicatSet"
**Bug description**
This bug is present when using `istioctl manifest apply -f istio-config.yaml` on a cluster with 1.5.6 with istioctl at 1.5.8. I have this problem with other PATH updates from 1.5.x to 1.5.x in the passe.

When doing this, `istiod` will use the `maxReplicas` as the target replicate. By default, `maxReplicas` is set to 5 and that is the limit of my cluster so some `istiod` pods h

[2020-07-13 21:19] Justin2997 commented on #25483
Also `istioctl manifest apply` will wait for Polit indefinitely :
[code]

[2020-07-13 21:40] kyessenov opened #25484 "rbac: utilize ECDS to optimize listener draining"
Implement ECDS in Pilot.
Generate RBAC config out-of-band.
Guard HCM with ECDS config source for RBAC.
/cc @yangminzhu

[2020-07-13 22:13] yangminzhu commented on #25484
Thanks Kuat! Note this is based on the new filter config discovery service in Envoy: https://github.com/envoyproxy/envoy/issues/7867

[2020-07-13 22:32] serrien opened #25485 "Cross-cluster routing doesn't work on a multicluster shared control plane with a central Istiod"
**Bug description**

I tried to configure a multicluster shared control plane with a central Istiod https://github.com/istio/istio/wiki/Central-Istiod-manages-remote-data-plane

Cross-cluster routing doesn't work. Service endpoint are not configured from one cluster to the other.

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Policies

[2020-07-13 22:35] serrien commented on #22934
@linsun thanks for your answer. c1 and c2 has different network names and registry names. I create the issue #25485 where i explain what i have done.

[2020-07-13 22:53] stevenctl commented on #25312
@ael-g

Having a hard time reproducing this:
[code]

A couple of questions:

- What K8S version are you running?
- How many istiod pods are you running?
- Is there other load on the control plane outside of this example/this namespace?

[2020-07-13 22:56] stevenctl commented on #25319
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/25279/integ-multicluster-k8s-tests_istio/6485

[2020-07-13 23:57] #25362 closed

[2020-07-13 23:57] #25419 closed

[2020-07-14 01:01] tony-liuliu commented on #25445
@howardjohn ok thank you very much。

[2020-07-14 01:01] #25445 closed

[2020-07-14 01:34] linsun commented on #25480
Possible avail for config https://github.com/istio/istio/blob/7eefa0202cd9e38bec134bd0cc3829ddf9f8d470/pilot/pkg/bootstrap/options.go#L59

[2020-07-14 02:19] iandyh commented on #24701
@howardjohn I am still seeing the errors in istiod:1.6.3 though without applying any auth policies. Is this expected?

[2020-07-14 02:45] ckcd commented on #24698
(: yes and so we need to do a transform from `string` to `uint32`.

BTW,  does our upgrade of envoy v2 -> v3 completed? if yes can I achieve this grpc_status in faultInjection?

[2020-07-14 03:04] yangvipguang commented on #25453
@morvencao  thanks ，it works

[2020-07-14 03:06] wangfakang commented on #23753
Yes, it's compatible with most of istio's feature and tested pass all the sample of bookinfo. Currently,  istio's test cases are hard coded with envoy, so we are following work the [optimization of istio test framework](https://github.com/istio/istio/issues/24463), so that Istio test cases can run other data plane (such as MOSN) more conveniently.

This is a good suggestion. Does the document have

[2020-07-14 03:09] linsun commented on #25482
did you also enable the metrics service?

[code]

[2020-07-14 03:19] costinm commented on #21368
I'm not sure why you want to use a sidecar - what you are describing is a Gateway. Do you need the envoy to be running
alongside an app ? Technically this should work - with changes to the injection template or manual injection - we can make it easier if it's common, but running an envoy configured as Gateway next to a workload is possible, and is pretty similar with 'whitebox' mode where iptables

[2020-07-14 03:25] wangfakang commented on #23753
Data plane and istio interaction via XDS (UDPA) seems to be a common way? Is there any detailed documentation on how to use isto APIs ? I can do some study.

[2020-07-14 04:01] howardjohn commented on #25319
this one is unique, fails in cluster setup https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/25487/integ-multicluster-k8s-tests_istio/6510

[2020-07-14 04:03] howardjohn commented on #25319
I'm surprised it takes more than 2s. But bumping it up or retry sgtm

[2020-07-14 05:02] #19658 closed

[2020-07-14 05:02] #19661 closed

[2020-07-14 05:06] #22608 closed

[2020-07-14 05:32] morvencao commented on #25453
I'll close this, feel free to reopen it if you still have problem.

[2020-07-14 05:32] #25453 closed

[2020-07-14 05:35] #19678 closed

[2020-07-14 06:46] lanceliuu commented on #25145
With 1500 ksvc created in cluster, the memory usage for ingress-gateway reaches 2.1GB
![image](https://user-images.githubusercontent.com/62631896/87392620-70426600-c5df-11ea-8e59-9764c7b47901.png)

The memory for istiod is abnormal which is about 15GB. After restarting pods of istiod, the memory stables at about 5GB.
- Heap profile for istiod
[pprof.pilot-discovery.alloc_objects.alloc_space.inuse_

[2020-07-14 06:50] sudhanshubliz commented on #22677
I ran the command but not able to execute ,
sudthaku@cloudshell:~/istio-1.6.5 (burner-sudthaku)$ istioctl manifest apply --set profile=demo
✔ Istio core installed
✔ Istiod installed
✔ Egress gateways installed
✘ Ingress gateways encountered an error: failed to wait for resource: resources not ready after 5m0s: timed out waiting for the conditiontio-tracing
Deployment/istio-system/istio-ingressgate

[2020-07-14 06:57] #19682 closed

[2020-07-14 07:15] irisdingbj opened #25490 "Fails to define POD-NAMESPACE for pilot"
I have below IOP:

[code]
Then when I run `istioctl install -f myiop.yaml` it fails with below error:
[code]
I run `istioctl manifest generate -f myiop.yaml > out.yaml` and founds out the generated out.yaml has below lines:
[code]
So seems the merge logic has some issue .

[2020-07-14 07:17] irisdingbj commented on #25480
Do some investigation for this

1.  namespace used when we writing secret is coming from ```
	discoveryCmd.PersistentFlags().StringVarP(&serverArgs.Namespace, "namespace", "n", bootstrap.PodNamespaceVar.Get(),
		"Select a namespace where the controller resides. If not set, uses ${POD_NAMESPACE} environment variable")
[code]

[2020-07-14 07:20] irisdingbj commented on #25490
@ostromart @richardwxn Do we support above scenario? Thanks.

[2020-07-14 07:21] r-kotagudem commented on #25449
@yangminzhu
 Yes, you are correct. thanks

[2020-07-14 08:35] #19685 closed

[2020-07-14 08:45] Stono commented on #25218
We're still seeing this extremely bad behaviour.  It isn't resulting in failures but it is resulting in periods of high latency.

I've hacked the injector configuration to make outlier logs work and we are rolling that out today.

![Screenshot 2020-07-14 at 09 43 43](https://user-images.githubusercontent.com/1486729/87404872-9c95bc80-c5b6-11ea-83a4-fd6383cc10db.png)

[2020-07-14 08:46] Stono commented on #25218
@lambdai you never answered my question about the impact of the upstream bug you fixed and if it impacts us

[2020-07-14 09:05] naphta commented on #24379
Upgraded to 1.6.5 and raised the protocolDetectionTimeout to 3600s and I'm still seeing unknown/passthroughcluster traffic.

![Screenshot 2020-07-14 at 10 03 12](https://user-images.githubusercontent.com/6709831/87406961-686fcb00-c5b9-11ea-8645-e95b88d7ffb2.png)

[2020-07-14 09:30] Stono commented on #25220
I've finally got outlier detection logs working with some hacking, here are a few samples:

[code]

And this is configured with:
[code]

Which translates to a cluster config of:
[code]

I've noticed the `CONSECUTIVE_5XX` have `enforced=false` which i presume means they're just reporting? but then there is a `SUCCESS_RATE` which being enforced.  There are no `CONSECUTIVE_GATEWAY_FAILURE` being logg

[2020-07-14 10:30] hyogyunbang opened #25491 "Egress gateway does't work correctly when adding multiple external services"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
I was trying to define multiple external services(redis: AWS ElastiCache) to route through egress gateway. I applied the following config, but it di

[2020-07-14 11:04] #25171 closed

[2020-07-14 11:17] JoshuaFox commented on #17139
Is this issue fixed in Envoy 1.4.3?

I see the discussion of a fix in a 1.3 patch](https://github.com/istio/istio/issues/17139#issuecomment-539148941), but I am not finding this fix (apparently commit `647aea1`) in the history of v.1.4.3.

[2020-07-14 11:29] esnible commented on #23891
@therealmitchconnors Should we retarget this for 1.8?

[2020-07-14 11:39] esnible commented on #23388
The calls to the control plane were removed in March ( https://github.com/istio/istio/pull/22407/files#diff-ff5de02ffe7a166c1116286636b575a3 ) thus there is no Central Istiod issue.

We would like to bring them back.  Retargetting this for 1.8.

[2020-07-14 11:39] illidan80 opened #25493 "Istio 1.6: networking issue during pod initialziation"
As part of my micro-service bootstrap process, I calculating whether dependent micro-services, which running on the same Kubernetes, are in "ready" state.

We were using this mechanics for last year and all this time with Istio / auto injected sidecars (starting from version 1.1 and so on). It always worked well.

Starting with version 1.6 we experiencing issues with accessing Kubernetes API durin

[2020-07-14 11:43] chadlwilson commented on #17139
@JoshuaFox At least from a user perspective, we have not had this issue resurface on any of the Envoy versions used by Istio `1.4.[23456789]` or `1.5.[457]` versions we have deployed, and we would notice it due to the way our application services and connection pooling work.

[2020-07-14 11:54] esnible commented on #24905
@irisdingbj Is there an example of how VMs get and use tokens?  I would like _istioctl_ to be as close to a sidecar as possible in implementation.

[2020-07-14 12:17] ethanhanjiahao opened #25494 "Pilot push eds frequently cause OOM"
In our scenes，we use envoy as gateway，pilot as the controller.
Once the endpoint in the kubernetes cluster changes，it will cause eds push.
But in our scenes，we don‘t care about some endpoint in some namespace, such as kube-system.
If frenquently push eds, sometimes occurs OOM.
Can we filter some namespace we don't care about

[2020-07-14 12:30] #25494 closed

[2020-07-14 12:43] esnible commented on #23868
Created https://docs.google.com/document/d/1M_5Ji5A6MKRMFDUupwx3r1yQZDeIPvqHmFs-IAIxaak/edit# to discuss the UX of picking up defaults.

[2020-07-14 12:47] #25440 closed

[2020-07-14 12:49] ethanhanjiahao opened #25495 "Pilot OOM cause envoy return 503 NR"
**Bug description**
In our scenes, we use envoy as gateway， pilot as the controller.
Recently，cause of ram pilot OOM. At the same time, envoy return 503 and the response flag is NR.
In envoy log ,we find no cluster
![image](https://user-images.githubusercontent.com/10829448/87427089-d1cff800-c612-11ea-93f7-7d53a4868b40.png)
when pilot restarting , the route is ok, and return 200.

**Expected behav

[2020-07-14 12:49] jshaughn commented on #24379
Thanks @naphta, I have not had the time to try that change from 5s to 6s.  It seems the timeout approach may not be a sufficient fix but I'm not familiar with the underlying code/issue.  I continue to use the Kiali graph-hide expression of "node=unknown OR service^=Pass" to clean up the graph, at the expense of seeing the correct traffic totals.

[2020-07-14 13:29] Shashankft9 commented on #25174
@JoeSainsburys were you able to find a solution for this?

[2020-07-14 13:55] PatrickDuncan commented on #25482
@linsun With `spec.meshConfig.defaultConfig.envoyMetricsService.enabled: true` I get:

[code]

[2020-07-14 13:58] linsun commented on #25482
@PatrickDuncan  I think this flag is not under meshConfig.defaultConfig.  It should be under `values.global.proxy`.

[2020-07-14 14:07] PatrickDuncan commented on #25482
@linsun With
[code]
[code]

[2020-07-14 14:10] MeghanaSrinath commented on #25215
Sorry for the delay in response! So here is what we tried:
Downloaded and installed Istio 1.5.4
[code]
Then ran the below command
[code]
Got the below error:
[code]
So we retried by adding `--force` to the command. This worked. But when we checked the version using `istioctl version`, this is what we got:
[code]
And on querying `kubectl get pods -n istio-system`, we can see that there are 2 istio-

[2020-07-14 14:16] howardjohn commented on #25490
@irisdingbj you can probably explicitly set ValueFrom=nil, or use values.pilot.env.POD_NAMESPACE=foo

[2020-07-14 14:33] howardjohn commented on #24698
Yes Istio 1.7 will use XDS v3

On Mon, Jul 13, 2020 at 7:45 PM Kun Chang <notifications@github.com> wrote:

[2020-07-14 15:29] linsun opened #25498 "install istio in a different ns results in pruning many contents in istio in a prior ns"
**Bug description**

Install min istio in istio1 ns, then istio2 ns.  Notice the installer pruned a bunch of resources from the first install which is wrong.

[code]
**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[x ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ]

[2020-07-14 15:30] linsun commented on #25498
@ostromart @sdake @howardjohn FYI

[2020-07-14 15:41] bianpengyuan commented on #24379
@naphta did you rollout restart your deployments and prometheus after changing timeout to 3600s? kiali edges are from proxy metrics, which persist across proxy and prometheus's life time. You will need to restart to proxy to get rid of stale ones.

[2020-07-14 15:45] stevenctl commented on #25110
Similar to https://github.com/istio/istio/issues/12957

[2020-07-14 15:45] naphta commented on #24379
Pretty sure I did @bianpengyuan but I've restarted them (for sure) and spun up a fresh prometheus so it's not working from old any data. Actually looks a bit worse now, only been up for around 2-3 minutes as of the screenshot.

![Screenshot 2020-07-14 at 16 44 18](https://user-images.githubusercontent.com/6709831/87446566-59a50a80-c5f1-11ea-93fd-44cdd49a8b42.png)

[2020-07-14 15:45] #9117 closed

[2020-07-14 15:50] snowp commented on #25220
Seems like you're seeing outlier detection evictions due to the success rate std dev calculations, you should be able to disable that by setting `enforcing_success_rate` to 0.

This is a different detector than the consecutive 5xx one: instead of tracking how many 5xx it sees in a row, it compares the number of 5xx errors of a specific host vs all the other hosts and eject it if it falls outside o

[2020-07-14 15:52] bianpengyuan commented on #24379
Can I get a config dump (k exec pod-name curl localhost:15000/config_dump) from your management or delivery proxy? Also want to make sure all traffic is normal HTTP and does not have anything special such as server first protocol right?

[2020-07-14 16:01] Stono commented on #25220
OK so from an Istio wrapping envoy perspective, it feels invalid to have `SUCCESS_RATE` calculations enabled under the hood (as it's counter intuitive to the current configuration options of `consecutive5xx` and `consecutiveGatewayFailure`

[2020-07-14 16:09] costinm opened #25500 "Add/use network as a label for pods."
Original design and implementation of multi-network support allowed the use of a 'magic' label added to
endpoints and containing the network they belong to.

In the early prototype the user would add both a node metadata (using the annotation) and the label - the
first would be used by Pilot to generate the right response, the label would be used to compute/filter the EDS
response.

After various

[2020-07-14 16:09] costinm commented on #25500
Jason/Nate - this is related to our chat yesterday. I checked with Shriram and he didn't have objections.

[2020-07-14 16:30] ericvn commented on #25129
Investigate the linter enforcing the order.

[2020-07-14 17:16] douglas-reid commented on #24471
@esnible those mixer configs are going away. the stuff in the `samples/` is going away, per the Mixer removal plan. Please do not start a PR. We need to hit certain objectives before proceeding with that PR (which has already been drafted).

[2020-07-14 18:15] #25465 closed

[2020-07-14 18:32] howardjohn commented on #24220
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/3010

[2020-07-14 18:39] esnible commented on #24920
@douglas-reid Can you retarget or assign someone?

[2020-07-14 18:40] mhite commented on #21863
I would like to attach multiple certificates and keys secret volume to gateway pods. Without a "push" functionality with overlays, I'm not sure how we can accomplish this.

[2020-07-14 18:50] howardjohn opened #25503 "regression: cannot set controlPlaneAuthPolicy=NONE"
As a result of #25411 its now impossible to set  controlPlaneAuthPolicy=NONE. If you set it in the yaml, it is ignored, because of how the marshalling works where setting a default enum is the same as not setting it.

We can revert this or figure out a way to get around the issue

Easy reproducer:

[code]

[2020-07-14 18:53] howardjohn opened #25504 "iptables panic leading to CI test failures"
https://storage.googleapis.com/istio-prow/logs/integ-distroless-k8s-tests_istio_postsubmit/1792/artifacts/security-1561ecc9de344180b05696/TestReachability/reachability-1-80906-state952705050/vm-v1-d4468d46d-9nwsj-istio-proxy.log
https://storage.googleapis.com/istio-prow/logs/integ-distroless-k8s-tests_istio_postsubmit/1791/artifacts/security-4cf7a47365f5425d8bcde4/TestReachability/reachability-1-2

[2020-07-14 19:19] lambdai commented on #25504
[code]
Somehow the NAT tables is not created as expected.

[2020-07-14 19:25] howardjohn commented on #25504
@lambdai the  test failed 2x in a row with no apparent related configs. Maybe the actual nodes the test runs on changed?

[2020-07-14 19:28] lambdai commented on #25504
I have the same feeling: It's likely the node/docker env causing it

This 4 liner ip6tables rules are absolute reasonable. My machine could restore the 4 liner or 2 rules perfectly.

[2020-07-14 19:32] howardjohn commented on #25504
https://prow.istio.io/view/gcs/istio-prow/logs/integ-distroless-k8s-tests_istio_postsubmit/1794 passed after this one. Lets keep an eye on this and see if any pattern comes up

[2020-07-14 19:44] esnible opened #25507 "Allow XDS extensions to return error codes"
Currently there is no way for XDS extensions to return error codes.  (Or, I couldn't find an example of how to do it.)

The XdsResourceGenerator interface has a generate method `Generate(proxy *Proxy, push *PushContext, w *WatchedResource, updates XdsUpdates) Resources` with no `error` return.

Working on the extension to request the configuration for a specific pod (for `istioctl proxy-status <po

[2020-07-14 20:12] #23987 closed

[2020-07-14 20:46] stevenctl commented on #25110
After creating the Deployment and service entry:
[code]

After adding the service in the comment above things work fine:
[code]

Deleting the service results in another endpoint coming up without removing the first one. Traffic still works.
[code]

After this, deleting/recreating the deployment and serviceentry keeps the first endpoint, but there is no connectivity
[code]

Repeating 1. delete/recr

[2020-07-14 21:26] serrien opened #25512 "Istio 1.6.5 - istiod failed to read mesh networks configuration"
**Bug description**

Istiod failed to read mesh networks configuration when meshNetworks.[network].gateways.address is configured with an externally resolvable DNS.

[ ] Configuration Infrastructure
[x] Docs
[x] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavi

[2020-07-14 21:45] phsiao opened #25515 "captureMode=NONE behavior change from 1.4 to 1.5 (and later)"
**Bug description**

Without iptables injection, in 1.4 one can use the following Sidecar spec to get an egress endpoint.

[code]

However, in 1.5 this stops working.  Chatted with @rshriram and he suggested to change the protocol to HTTP_PROXY, and it makes the egress endpoint to start up.

There is one additional strange behavior --- it would create egress endpoints with 127.0.0.1:svc-port, wher

[2020-07-14 21:49] PatrickDuncan commented on #25482
It's also interesting that in single cluster mode, if I were to run:
[code]
and force strict peer auth:
[code]

I set the log level of the sidecars to `trace` and the `POST /envoy.service.metrics.v2.MetricsService/StreamMetrics HTTP/2` requests fail with:

Other pod to pod requests were fine. It's gRPC then...

[code]

[2020-07-14 21:50] howardjohn commented on #25495
Was the route that is 503ing actively changing? Ie a new service or virtual service or something is created then pilot OOM shortly after?

[2020-07-14 22:38] #18771 closed

[2020-07-15 00:27] Cynocracy commented on #7964
/reopen

[2020-07-15 00:28] Cynocracy commented on #7964
Still having customer reports of this issue. Any progress?

[2020-07-15 00:32] Cynocracy commented on #7964
/reopen

[2020-07-15 00:34] yangminzhu commented on #24701
@iandyh this is not fixed yet but you shouldn't see it if you do not have any auth policies, could you get a config dump of the policies applied and the istiod log?

[2020-07-15 01:36] xulingqing commented on #22597
I reproduced the issue with [istio-1.7.0-alpha.0](https://github.com/istio/istio/releases/tag/1.7.0-alpha.0) using the following RequestAuthentication config. And, the issue is fixed now. Thanks.

[code]

[2020-07-15 01:44] ethanhanjiahao commented on #25495
Before pilot OOM, the route is ok.  But i found some ads pushing at the same time pilot OOM.

[2020-07-15 01:44] brijchavda commented on #22574
I am facing the same Error with 1.6.2. Does anyone have solution?

[2020-07-15 01:46] howardjohn commented on #25495
so it pushes some bad config then it crashes? can you provide. more info like logs and how much memory is used

[2020-07-15 01:46] howardjohn commented on #25495
Also please be aware of https://istio.io/latest/news/support/announcing-1.4-eol-final/

[2020-07-15 02:26] ethanhanjiahao commented on #25495
Cause of endpoint changing，pilot OOM. At the same time, envoy return some 503 route. memory is 8G.
I can got crashing pilot logs,
![image](https://user-images.githubusercontent.com/10829448/87496174-a0444480-c685-11ea-8d9a-7531d9e8badc.png)

[2020-07-15 02:54] iandyh commented on #24701
@yangminzhu Thanks for the reply.

[code]

[code]
I don't see other suspicious log entries around it.

[2020-07-15 02:58] blhagadorn commented on #22574
@brijchavda Is your istioctl version in lien with your remote version of Istio on the cluster as well as your proxies?

[2020-07-15 03:01] istio-testing opened #25523 "[release-1.6] Do not enable auto mtls when cluster type is `Cluster_ORIGINAL_DST`"
Manual cherrypick required.

#24319 failed to apply on top of branch "release-1.6":
[code]

[2020-07-15 03:14] irisdingbj commented on #24905
as for as I know current VM doc is based on client cert.  There are some discussions to make VM use token to bootstrap but I am not keeping close track of it.

Back to token for istioctl, you can use the default token for a namespace directly or use TokenRequest from k8s to create one and use it.

[2020-07-15 04:14] myidpt commented on #22161
@liggitt @mikedanese
Hi folks, thanks for the discussion.

We noticed the CertificateSigningRequest API is promoted to v1 in V1.19 and disallow the `kubernetes.io/legacy-unknown` signers.
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.19.md#api-change-1

The code that is using the CSR API is here:
https://github.com/istio/istio/blob/master/security/pkg/k8s/chiron/utils.

[2020-07-15 04:55] ckcd commented on #24698
actually I find that golang also use `int` for grpc status code: https://godoc.org/google.golang.org/grpc/codes#Code

@howardjohn so can we change to `int` rather than `string` ?

[2020-07-15 05:02] #19699 closed

[2020-07-15 06:46] ZhuangYuZY commented on #25145
This is istio gateway example for our user case. host "beta0706-46" is namespace name, for each namespace, we config to expose a dedicated https domain and config cert. We have 500 namespaces one cluster, all config in the gateway.
[code]

[2020-07-15 06:53] shamsher31 commented on #25352
I hope it helps. Closing this. Feel free to re-open if you need more help.

[2020-07-15 06:53] #25352 closed

[2020-07-15 07:16] morvencao commented on #25490
Currently the extra k8s settings are applied to the corresponding components through strategic merge patch, which is either replaced or merged depending on its patch strategy. The patch strategy is specified by the value of the `patchStrategy` key in a field tag in the Kubernetes source code.

For `env` field, the patch strategy is **merge** based on key `name`, https://github.com/kubernetes/api/b

[2020-07-15 07:39] ael-g commented on #25312
Oh I forgot to mention, the upscale/downscale is made through a HorizontalPodAutoscaler, setting minReplicas to 1 -> 500 -> 1 (maxReplicas stays at 500), and not directly on the deployment.
It seems to make a difference because I just tested again, it doesn't reproduce when upscaling the deployement, it reproduce when manually upscaling the HPA.

I originally ran into this problem because my HPA f

[2020-07-15 07:42] munnerz commented on #22161
Re (1), as it was only deprecated in 1.19, I think the earliest it could be
removed is 1.22? I’m not sure what the overall timeline from sig-auth is
for removal and I do not see a scheduled removal date as a lifecycle marker
in the API package.

Re (2), there is no built in signer which will accommodate this - instead,
you’ll need to write a signer that watches for CSR objects and
approves/signs t

[2020-07-15 07:53] meshok0 commented on #22883
We had the exact same problem. EKS 1.14, Istio 1.6.5
In our case the problem was in a sort of a race condition between envoy and app containers. App couldn't make connection to  Elasticache redis until envoy sidecar is fully up and synced.

Our app is on .Net and we are using StackExchange.Redis client lib.
Adding `resolveDns=true,connectRetry=100,connectTimeout=5000,abortConnect=false` solved the

[2020-07-15 08:00] k807 opened #25525 "Control the push timing of xds configuration instead of real-time push in gateway mode"
**Describe the feature request**
We use envoy as our gateway and istio as envoy’s control plane in the production environment.But there are the following problems:

1. We have made customized development, but once there are small features that are not compatible with envoy, the entire xds configuration will be rejected by envoy.
2. crd configuration such as virtualservice, destinationrule will be

[2020-07-15 09:05] iandyh opened #25528 ""Secret is not supplied by SDS" causes 503 to upstreams in istio-ingressgateway pods"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
[code]
After we restart the deployment of istio-ingressgateway, we had such issue. Although we are not using TLS anywhere in the cluster. But still

[2020-07-15 09:27] suninuni commented on #24082
@4qv907rtet5r @jshum2479 @so-jelly

I resolved my problem by set `PILOT_ENABLE_EDS_FOR_HEADLESS_SERVICES` as `true` and `PILOT_ENABLE_HEADLESS_SERVICE_POD_LISTENERS` as `false` in istiod which in version 1.6.5.

I found them in https://istio.io/latest/docs/reference/commands/pilot-agent/#envvars

![image](https://user-images.githubusercontent.com/7345529/87520062-07c5b880-c6b5-11ea-895f-3f2ef4ea29

[2020-07-15 09:30] iandyh opened #25530 "Istio-ingressgateway pod memory and CPU increase slowly"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
istio-ingressgateway pods memory/cpu usage becomes high after some time(usually serveral hours). The issue could happen randomly. We have 10 pods ru

[2020-07-15 09:33] RatonII commented on #23218
Hello when this will it get fix? I have the same issue in version 1.6.5.

[2020-07-15 09:47] dozer47528 opened #25531 "istiod high memory usage when create thousands of ServiceEntries"
**Bug description**

I created thousands of ServiceEntries in istio and memory usage is very high.

Number of ServiceEntries: 5000
Endpoints in each ServiceEntry: 10

![image](https://user-images.githubusercontent.com/1676951/87530259-ac9ac280-c6c2-11ea-9e0d-2d660f1022f8.png)

**Affected product area (please put an X in all that apply)**

[x] Performance and Scalability

**Expected behavior**

les

[2020-07-15 09:55] naphta commented on #24379
I've sent the management pod here. It listens on HTTP and gRPC for Prometheus and service respectively, although only gRPC is exposed via Istio virtual services. My cluster config is below, and I've also added the config dump as requested.

[code]
[scratch_5.txt](https://github.com/istio/istio/files/4924345/scratch_5.txt)

[2020-07-15 09:57] dozer47528 commented on #25531
After debugging the code, I find the root cause of high memory usage.

<img width="1041" alt="Screen Shot 2020-07-15 at 13 58 13" src="https://user-images.githubusercontent.com/1676951/87531449-4e6edf00-c6c4-11ea-8ee7-fd5db7582908.png">

First of all, the total items in all configDependencies will be O(n^2) of the number ServiceEntries, it's too large. We can have a better design to make the items

[2020-07-15 10:28] synuwxy opened #25533 "Config analysis should report Virtual Service with identical match clauses in different http blocks"
I configured access latency and mirroring according to the official website, but they don't seem to work at the same time

[code]

Is it my wrong configuration?

[2020-07-15 10:32] tmshn commented on #24145
The document change is not merged!

In addition to that, I have a bad feeling against the process this breaking change is introduced.
I'd like to ask an istio team:

- When you deprecate anything, the documents should be updated accordingly before you release it (in this case, when you release 1.5)
- When you remove feature, the corresponding fields should be removed accordingly so that there'd be

[2020-07-15 11:03] ramaraochavali commented on #25220
I agree. We should enable success rate based outlier detection. PR to fix it https://github.com/istio/istio/pull/25534

[2020-07-15 11:21] shudhanshh opened #25535 "How can I update new changes by istioctl without overwriting current configuration?"
When applying new global configurations by:

istioctl manifest apply --set global.config="value"

This overwrites the current configuration and sets the default config. I want to apply new changes without overwriting older configurations.

[2020-07-15 12:15] widdix123 commented on #22574
You need to keep the below components and the error goes away

[code]

[2020-07-15 12:57] #24897 closed

[2020-07-15 12:58] #25079 closed

[2020-07-15 13:20] linsun commented on #25145
@howardjohn @mandarjog @GregHanson is there any performance tuning the user should be doing?  I recall there is an idle timeout on the gw but can't find it any more.

[2020-07-15 13:47] irisdingbj commented on #25490
@howardjohn @morvencao Thanks for the clue!

[2020-07-15 14:03] antonioberben opened #25539 "Istioctl or the operator warns of installing different istio version than the operators itself"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

In the operator CR there is a field to specify which version of istio to install.

There can be a situation where a istioctl o the istio-operator with a version 1.5.x tries to apply an `IstioOperaotr` manifest with a version 1.6.x making istiod dep

[2020-07-15 14:33] howardjohn commented on #25495
Can you upgrade Istio? Even if we find a bug in Istio 1.4 we won't fix it, and we have made *tons* of performance optimizations since then

[2020-07-15 14:33] howardjohn commented on #25495
and see https://github.com/istio/istio/wiki/Analyzing-Istio-Performance

[2020-07-15 14:36] erSitzt commented on #7679
Is there a way to configure the ingress-gateway to run on all nodes via the helm values ?
I manually scaled it up to run on all nodes, but an update of istio in Rancher reverted my changes... and it took me some time to remember this problem.

Whats the *correct* way to do this ?

[2020-07-15 14:48] tmshort commented on #24048
So we can identify releases of our own istio deployments. We might deploy istio 1.5.4, but have incremental improvements in the code deploying istio or with istio.

[2020-07-15 14:49] tmshort commented on #24048
This is different, albeit similar, to the canary deployments (i.e. revision), but we might want to override an existing deployment, and know it's been updated, rather than being deployed next to it.

[2020-07-15 14:51] liggitt commented on #22161
certificates.k8s.io/v1beta1 is targeting removal in 1.22:

https://github.com/kubernetes/api/blob/master/certificates/v1beta1/zz_generated.prerelease-lifecycle.go#L45-L49

[2020-07-15 15:41] istio-testing opened #25542 "[release-1.5] disable enforcing successrate based outlier detection"
Manual cherrypick required.

#25534 failed to apply on top of branch "release-1.5":
[code]

[2020-07-15 15:41] istio-testing opened #25543 "[release-1.6] disable enforcing successrate based outlier detection"
Manual cherrypick required.

#25534 failed to apply on top of branch "release-1.6":
[code]

[2020-07-15 15:45] howardjohn commented on #25525
This doesn't make sense to me. If you don't want the Gateway/VirtualService pushed to the proxies, then why did you even create it? Just create it when you want it

This is already supported to some extent, see PILOT_DEBOUNCE_AFTER

[2020-07-15 15:46] howardjohn commented on #25528
On your gateway, what secrets are present? Can see it at the bottom of config dump or `istioctl pc secret`. If its just default and ROOTCA, the fact it becomes ready is a bug tracked in https://github.com/istio/istio/issues/22443

[2020-07-15 16:35] bianpengyuan commented on #23836
This will no longer be needed with filter config discovery service.

[2020-07-15 16:35] #23836 closed

[2020-07-15 16:57] therealmitchconnors opened #25544 "LDS Failure for Egress Gateway in istio.io test"
Failing test: https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/k8s-tests_istio.io/2585

Passing test: https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/k8s-tests_istio.io/2588

rollback PR in istio.io: https://github.com/istio/istio.io/pull/7725

[2020-07-15 16:57] therealmitchconnors commented on #25544
I am working to repro on GKE.

[2020-07-15 17:22] rshriram commented on #25415
cant we fix istioctl validate to have an additional flag that says "ignore unknown fields" ? Making an API addition and backporting it is not possible as we dont push features into n-2 releases (would require a wider discussion). But we can certainly fix istioctl validate to accommodate your scenario.

ps: name as a field per array entry in route destination doesn't make sense to me. It seems you

[2020-07-15 17:23] hunkeelin commented on #25437
After some research; it seems it's not standard to expose grpc to public. So this feature request is not in high priority. It is strongest suggest to expose rest + mtls, exposing grpc to public go against CS philosophy where server should accept anything. If one really need grpc+envoy filter one could write an envoy filter. E.G
https://github.com/tetratelabs/istio-tools/tree/master/grpc-transcoder

[2020-07-15 18:05] Stono commented on #25415
Hey,
So it was me that originally requested it shouldn’t allow unknown fields!  Unbeknownst to me that we were using this name field.  That was added in 1.5.8.  It’s useful, as we had some badly templates files, so we wouldn’t want to turn it off either.

I think the only thing I can do is break out dependency on the arbitrary name field that we have become dependent on.

I could store some sort o

[2020-07-15 18:06] Stono commented on #25415
Ps. The HttpRoute already has this pattern that you don’t agree with (an array item with a name)

[2020-07-15 18:24] Stono commented on #25220
@lambdai @ramaraochavali @howardjohn please can we reopen this until the 1.5 and 1.6 cherry-picks are in?

https://github.com/istio/istio/issues/25543
https://github.com/istio/istio/issues/25542

[2020-07-15 18:33] rshriram commented on #25515
cc @ramaraochavali i think this has somethign to do with the http_proxy protocol type that you introduced a long time ago. Something broke along the way. If we cant fix it (without causing another breaking change), we should update the documentation clearly to state the behavior.

[2020-07-15 18:38] douglas-reid commented on #25482
@myidpt @liminw any thoughts here?

[2020-07-15 18:57] yangminzhu commented on #22597
I think @xulingqing you actually mean you verified the fix in 1.7.0-alpha other than reproducing the issue? Reproducing the issue mean it's not fixed.

[2020-07-15 18:59] laurentiuspurba opened #25548 "Ingress gateways encoutered an error: failed to wait for resource Deployment/istio-system/istio-ingressgateway"
**Bug description**
I did an in-place upgrade from Istio version 1.5.8 to 1.6.4 and got timed out waiting for Deployment/istio-system/istion-ingressgateway error.

[ x] Configuration Infrastructure
[ ] Docs
[ x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavi

[2020-07-15 18:59] yangminzhu commented on #24701
@iandyh I think that log is irrelevant to this and authz policy, see https://github.com/istio/istio/issues/24701#issuecomment-649678657

[2020-07-15 19:00] #22597 closed

[2020-07-15 19:00] xulingqing commented on #22597
Yes, I mean I verified the fix in 1.7.0-alpha. Thanks for your correction @yangminzhu !

[2020-07-15 19:21] howardjohn opened #25549 "Echo app cannot listen on 9090"
[code]

[2020-07-15 19:27] laurentiuspurba commented on #25548
On other information, when I issue `kubectl get svc,deploy,pod -n istio-system -o wide`, I can see `service/istio-pilot`. Is this still there because of failed upgrade process?

[code]

[2020-07-15 19:27] howardjohn commented on #25298
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/25519/integ-pilot-k8s-tests_istio/16185

[2020-07-15 19:37] cagataygurturk opened #25550 "logWindowDuration setting leads to Istio proxy errors"
**Bug description**

Setting `.Values.telemetry.v2.accessLogPolicy.logWindowDuration` to a duration value produces incorrect JSON in the `stackdriver-sampling-accesslog-filter-1.6` EnvoyFilter, that leads to errors in Istio proxy.

The produced JSON is

[code]

`wasm log : Cannot parse AccessLog plugin configuration JSON string`

[ ] Configuration Infrastructure
[ ] Docs
[x] Installation
[ ] Netwo

[2020-07-15 20:14] laurentiuspurba commented on #22677
@sudhanshubliz I had the same error just now upgrading from 1.5.8 to 1.6.4. Were you able to resolve this issue?

[code]

Any pointers, help are appreciated? Thanks

[2020-07-15 20:27] #25373 closed

[2020-07-15 20:41] howardjohn commented on #24680
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/3028

[2020-07-15 20:42] ayj commented on #25500
If network is used to enforce policy (i.e. NetworkPolicy), is it safe to trust the proxy to self-report the network it belongs to?

[2020-07-15 20:50] GregHanson commented on #23910
Update:
With the proper tlsMode label for egress gateway and latest master branch, there appears to be a some reference errors in the Go code.  With these [changes](https://github.com/istio/istio/compare/master...GregHanson:egress-automlts-fix?expand=1), and the rules I posted [above](https://github.com/istio/istio/issues/23910#issuecomment-644172882), the generated cluster has both a TransportSoc

[2020-07-15 21:03] myidpt commented on #23632
Closing this issue. The XDS client authn feature is added. Future work are tracked by https://github.com/istio/istio/issues/24008.

[2020-07-15 21:03] #23632 closed

[2020-07-15 21:14] therealmitchconnors commented on #25544
I added some diagnostic info to the test framework, and found that Config is indeed failing to synchronize to the egress gateways for LDS.  Modifying title to reflect true nature of the failure, and reassigning.

[2020-07-15 21:15] therealmitchconnors commented on #25544
Here is the doc being tested: https://istio.io/latest/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/

And here is the test output showing from `istioctl ps` that LDS isn't distributing: https://prow.istio.io/view/gcs/istio-prow/logs/k8s-tests_istio.io_postsubmit/680

[2020-07-15 21:17] howardjohn commented on #7964
See https://preliminary.istio.io/latest/docs/ops/configuration/traffic-management/network-topologies/ for info on configuring these with first class API

[2020-07-15 21:31] laurentiuspurba commented on #25548
More info. I have kubernetes 1.14.x and I see this message on istiod
`k8s.io/client-go@v0.18.0/tools/cache/reflector.go:125: watch of *v1.PartialObjectMetadata ended with: an error on the server ("unable to decode an event from the watch stream: unable to decode watch event: no kind \"Node\" is registered for version \"v1\" in scheme \"pkg/runtime/scheme.go:101\"") has prevented the request from s

[2020-07-15 21:44] stevenctl commented on #25500
IIUC this would make a policy allowing pod-to-gateway also allow pod-to-mesh.

[2020-07-15 21:47] frankbu commented on #25544
`istioctl ps` shows 2 egress-gateway pods. Could things be getting messed up because the egress gateway is restarting, so the old pod hasn't gone away yet? https://preliminary.istio.io/latest/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/#redeploy-the-egress-gateway-with-the-client-certificates

[2020-07-15 21:51] nschhina commented on #25544
kubectl patch should update API object in place, also it was fine in like forever and only with istio/istio dep update in istio.io this has started to break ...

[2020-07-15 22:31] howardjohn commented on #22095
This is pretty much done other than mesh expansion

[2020-07-15 22:37] xubofei1983 opened #25555 "GRPC issue with Load Balancer"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
I have a GRPC service (implemented with Akka Grpc), which is not tls encrypted.

The behavior is very wierd:

If I set the service port name as grpc

[2020-07-15 22:41] xubofei1983 commented on #25555
gateway config in istio operator

[code]

[2020-07-15 22:52] xubofei1983 commented on #25555
I also tried below gateway config, get same error when access from external ingress
[code]

[2020-07-16 00:11] aldenjenkins commented on #22677
I am having the same issue @laurentiuspurba

[2020-07-16 01:03] brijchavda commented on #22574
client version: 1.6.0
control plane version: 1.6.2
data plane version: 1.6.2 (148 proxies)

I am not using istioctl to do anything. How does client version matter.?

[2020-07-16 01:04] brijchavda commented on #22574
I have everything except egressgateway, Which we disabled purposefully.

[2020-07-16 01:40] 4qv907rtet5r commented on #24082
@suninuni

Can you tell me how to change envvar?

Or you can tell me the links.

[2020-07-16 01:50] iandyh commented on #25528
@howardjohn Thanks for the reply. Yes, I can only see the two secrets. I'll follow that issue instead.

[2020-07-16 01:52] rshriram commented on #25220
why is the success rate detector even active when the consecutive gateway error detector is explicitly set?

[2020-07-16 01:55] kevinyjn opened #25562 "istioctl cannot perform upgrade operation in China"
**Bug description**
We do istio upgrade according to docs, then it will be downloading a package called istio-1.6.2-osx.tar.gz, and it would be timeout.

istioctl upgrade -f demo.yaml
2020-07-16T00:30:58.902718Z     info    proto: tag has too few fields: "-"
Control Plane - egressgateway pod - istio-egressgateway-765f77ff94-vtq2m - version: 1.6.2
Control Plane - ingressgateway pod - istio-ingressg

[2020-07-16 01:59] suninuni commented on #24082
https://istio.io/latest/docs/reference/config/istio.operator.v1alpha1/#KubernetesResourcesSpec

You can change those envs in your IstioOperator file and the path is `spec/components/pilot/k8s/env`.

[2020-07-16 02:22] aldenjenkins commented on #24630
I am getting the same exact error--any update here?

[2020-07-16 02:43] 4qv907rtet5r commented on #24082
@suninuni

`istioctl install --set values.pilot.env.PILOT_ENABLE_EDS_FOR_HEADLESS_SERVICES=true --set values.pilot.env.PILOT_ENABLE_HEADLESS_SERVICE_POD_LISTENERS=false`

I tried it and it is the same result as before.

thanks!

[2020-07-16 03:10] iandyh commented on #24701
@yangminzhu yes, what I want to say is after seeing the comment:

`I am still seeing the errors in istiod:1.6.3 though without applying any auth policies. Is this expected?`

So I think the bug has not been fixed yet.

[2020-07-16 03:48] zufardhiyaulhaq commented on #25437
@hunkeelin I am testing gRPC without mutual TLS (just plain gRPC) and its working via the gateway.

[2020-07-16 04:07] ramaraochavali commented on #25220
The default is to on (enforcing 100%) when you enable outlier detection by setting other detectors -  Should the default be off like enforcing_failure_percentage - may be yes. @snowp is there any specific reason on why it is enabled by default?

[2020-07-16 04:09] #25543 closed

[2020-07-16 04:09] #25542 closed

[2020-07-16 04:24] ramaraochavali commented on #25220
https://github.com/istio/istio/pull/25566 - 1.5
https://github.com/istio/istio/pull/25567 - 1.6

[2020-07-16 04:34] hunkeelin commented on #25437
grpc without mtls is working. but grpc + mtls is not supported in `istio`

[2020-07-16 05:01] #17076 closed

[2020-07-16 05:01] #19552 closed

[2020-07-16 05:02] #19717 closed

[2020-07-16 05:06] #22660 closed

[2020-07-16 05:49] #19728 closed

[2020-07-16 05:53] myidpt commented on #22161
Thank you for the info, @munnerz and @liggitt. I think there are two things we should do:
1. Istiod will be explicitly set the signers (can be configured by admin, for integration with cert-manager, etc.) in the CSRs.
2. Istio will automatically detect the availability of v1 CSR API, and fail over to v1beta1 CSR API for lower versions.
We should get these done before K8s 1.22 is out. (1) is also n

[2020-07-16 05:58] liggitt commented on #22161
I'm not sure if you're using the client-go RequestCertificate / WaitForCertificate methods, but if you are, those will do a v1 -> v1beta1 fallback for you in v0.19.0+ versions

[2020-07-16 06:28] ckcd commented on #24698
for now the http abort:

[code]

and for grpc, we should use int32 too:
[code]

if uses string, it looks a little confused and it's hard to limit a format.

[code]

cc @howardjohn

[2020-07-16 08:04] btoonk opened #25570 "auto mtls for VMs"
**Bug description**

We're experimenting with mesh expansion with VMs in our DC.
We noticed that the auto mtls feature does not seem to work for VMs.

We see unencrypted traffic coming in from an istio enabled pod to a service (with istio sidecar) running on a VM.
With a DestinationRule setting the tls trafficpolicy to ISTIO_MUTUAL mtls is working between the pod and the VM.

Is auto mtls supporte

[2020-07-16 08:05] knight42 commented on #25549
From its help:
[code]
I think if user pass `--port 9090` to server, he/she also needs to specify `--tcp <port other than 9090>`.

[2020-07-16 09:05] SCLogo commented on #22068
What is wrong with my config? I did not see any traffic on rate limiter and it does not work.
filter.yaml
[code]
service,yaml
[code]
I have istio 1.6.3 mutual tls enabled
thanks

[2020-07-16 10:04] dozer47528 commented on #25531
the root cause was fixed in #25118

[2020-07-16 10:04] #25531 closed

[2020-07-16 10:15] cagataygurturk opened #25571 "Telemetry V2: istio.io/service/server/request_count is missing when the client is istio-ingressgateway"
**Bug description**

We have a `service A` behind `istio-ingressgateway`. Istio is configured to publish metrics to Stackdriver with Telemetry v2.

If we send requests from public load balancer to **Service A**, `istio.io/service/client/request_count` metric is reported by `istio-ingressgateway` but `istio.io/service/server/request_count` is not reported by **Service A**. (Occasionally 1-2 request

[2020-07-16 10:25] Vivek-anand-jain opened #25572 "Build using "USE_LOCAL_PROXY=1 make docker.proxyv2" fails"
**Bug description**
When I build istio using "USE_LOCAL_PROXY=1 make docker.proxyv2", the build process fails:
[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[x] Developer Infrastructure

*

[2020-07-16 11:32] dominicqi commented on #21863
I would like  add some  istiod  args ,  I dont know  how to do without "push"  too .

[2020-07-16 11:40] johnzheng1975 commented on #25437
How you test grpc? Can you provide examples?
https://github.com/envoyproxy/envoy/issues/12127

[2020-07-16 11:42] johnzheng1975 opened #25573 "GRPC does not work sometimes when cross cluster. (mtls/ multi-cluster)"
Environment: Istio 1.4.6
- mtls enabled
- multi-cluster installed.
- authentication policy enabled.
- authorization policy enabled.

cross cluster grpc request will fail sometimes .

Request and result:
[code]

Logs in istio-proxy are same for successful or fail grpc request:
[code]

[2020-07-16 11:44] johnzheng1975 commented on #25573
Deploy and service
kubectl create -f deploysvc.yaml -n default;
kubectl create -f deploysvc.yaml -n vr-qa-default;
[code]

[2020-07-16 11:45] johnzheng1975 commented on #25573
grpc client code
[code]

grpc server code
[code]

[2020-07-16 12:25] lcfang commented on #10659
@hzxuzhonghu @enis I doubt if istio really support statefulset application Now.
Recently, I deploy mariadb galera cluser using [helm bitnami](https://github.com/bitnami/charts/tree/master/bitnami/mariadb-galera), and got some problem.

- when the k8s cluster only have one helm, the mariadb-galera-cluster can start which means that all the pod running,  but not work well for data sync, especially w

[2020-07-16 12:53] johnzheng1975 commented on #25573
first step, I installed replictor multi-cluster control panel, not enable mtls.
test grpc, all pass  (50 out of 50)
Install method:
https://istio.io/docs/setup/install/multicluster/gateways/
https://archive.istio.io/v1.4/docs/setup/install/multicluster/gateways/

[2020-07-16 13:16] #25550 closed

[2020-07-16 13:36] johnzheng1975 commented on #25573
Forth step: I create serviceentry as below (internal elb), cross cluster access.
Test grpc, 4 out of 10 pass, 6 out of 10 fail.
[code]

serviceentry:
[code]
All log like:
[code]

[2020-07-16 13:49] r-kotagudem commented on #25449
@yangminzhu
Is there an update on this?

[2020-07-16 14:33] sdake commented on #25145
Its hard to say why this is happening. May be a lack of aggressive garbage collection. Its been a while since I took a look at pilot discovery, but perhaps caching here is a problem. In the past, Istio kept a cache that it only flushed every 10 seconds of every service it knew about. If no new services came into Istio, the cache was never flushed, although I believe @hzxuzhonghu and @howardjohn ha

[2020-07-16 14:47] esnible commented on #25535
There is no obvious way to do this.  See https://github.com/istio/istio/issues/23443 for a proposal.

You **might** be able to do `istioctl manifest apply -f <(kubectl -n istio-system get iop installed-state -o yaml) --set global.config="value"` but this is not supported.

[2020-07-16 14:49] johnzheng1975 commented on #25573
Fifth Step: Install AWS NLB like below, use below serviceentry.
[code]
Replace service entry like
[code]
Fail rate 7 out of 10 sometimes:
[code]

[2020-07-16 14:54] dklsaw opened #25574 "Documentation issue with quotes"
**Bug description**
Page
https://istio.io/latest/docs/tasks/observability/gateways/#option-1-secure-access-https
contains some bash commands for generation self signed certs, due to bash behavior you will receive an incorrect cert

Command into
    Option 1: Secure access (HTTPS) section
        Step: Setup the certificates. This example uses openssl to self sign.
            command:

$ openssl r

[2020-07-16 14:59] esnible commented on #25533
I can verify that when I applied this VirtualService mirroring was not enabled in the Envoy config.  I then applied a version without the fault, and saw `"request_mirror_policies"` in the Envoy config.  (Using Master branch).  The webhook does not see a problem with it, and neither does `istioctl analyze`.

I have added `area/user experience` because I am uncertain if this is a networking bug or v

[2020-07-16 15:12] esnible commented on #23538
Resolved by https://github.com/istio/istio/pull/25344

[2020-07-16 15:12] #23538 closed

[2020-07-16 15:13] seeruk commented on #19395
One thing to note here is that on GKE you can't configure CA with `--skip-nodes-with-local-storage=false`. Your only option is to spam the `safe-to-evict` annotation everywhere, which is quite unfortunate.

[2020-07-16 15:16] johnzheng1975 commented on #25555
Similar issue: https://github.com/istio/istio/issues/25573

[2020-07-16 15:19] sdake commented on #25145
Pilot can be tuned: https://github.com/istio/istio/blob/master/manifests/charts/istio-control/istio-discovery/templates/deployment.yaml#L127-L128 permits adding pilot environment variables to pilot discovery (the component that has the caching).

All environment variables are here: https://github.com/istio/istio/blob/master/pilot/pkg/features/pilot.go#L29-L323

I am not sure which one you want to

[2020-07-16 15:20] ed-radical opened #25575 "istio-ingressgateway pods do not gracefully terminate for drain durations greater than 30 seconds"
**Bug description**

Despite having env `TERMINATION_DRAIN_DURATION_SECONDS=310` set, when an istio-ingressgateway pod's istio-proxy container enters "graceful termination", the istio-proxy only waits for ~30 seconds before being killed or shutdown.

As a result, clients encounter 504s for in-flight requests that take longer than 30 seconds.

End of istio-proxy logs:
[code]

The istio-ingressgatew

[2020-07-16 15:40] nmittler commented on #25500
@costinm any thoughts? ^^

[2020-07-16 16:23] ed-radical commented on #25575
Here's a workaround:
[code]

[2020-07-16 16:42] stevenctl opened #25577 "[test framework] Consolidate control-plane components"
We can consolidate the [pilot](https://github.com/istio/istio/tree/master/pkg/test/framework/components/pilot) and [ingress](https://github.com/istio/istio/tree/master/pkg/test/framework/components/ingress) components into the [Istio](https://github.com/istio/istio/tree/master/pkg/test/framework/components/istio) component.

This reduces some repetitive code in tests, especially when there are mul

[2020-07-16 16:43] stevenctl commented on #25577
cc @nmittler

[2020-07-16 16:55] jacob-delgado commented on #25450
My 5 min read on this is:

* If you have a SE with resolution "None", then application is responsible for DNS resolution
* Since this is for TCP traffic with no DNS resolution, "hostname" is not used for resolving or routing
* But the "host" field in SE and VS are used to tie them together, which is a horrible API
* The key to make routing work is:
  + IP used in SE is same as what the application

[2020-07-16 16:57] rshriram commented on #23753
1. about tests
We have invested a lot of effort in tooling, checks, etc. around the sidecar (both in the release and tests). So if your sidecar image (which you can replace using global.proxyv2.image=..) is API wise compatible with what we have, you should be able to test the full suite of tests.. By API wise compatibility, I meant supporting all the health check endpoints that istio-agent exposes

[2020-07-16 16:59] MirtoBusico opened #25578 "Istio 1.6.3: ingressgateway JWT refused - error “Proto constraint validation failed” using Keycloak"
**Bug description**
I’m trying to setup this RequestAuthentication.

[code]

In the ingressgateway logs I see this error:

[code]

If I understand correctly, the ingressgatewaway didn’t receive a reply from http://192.168.202.21:8000/auth/realms/istio but ececuting a curl from the ingressgateway pod I receive some data in response:

[code]
I receive the same response isuing curl from the istiod po

[2020-07-16 17:13] nmittler commented on #25577
It would also be good to create an interface (`istio.Instance`) as well. This will make it more consistent with the other components.

[2020-07-16 17:17] howardjohn commented on #25112
Master is merged, 1.6 is open: https://github.com/istio/istio/pull/25579

[2020-07-16 17:23] wangfakang commented on #23753
It looks great, MOSN has been adapted to the pilot-agent health check and startup parameters (Istio.1.5.x version).

Thanks , I see.

[2020-07-16 17:28] nrjpoddar commented on #25450
Hi @juanamat I think the issue you're seeing might be that Envoy doesn't have a address associated with the "host" in ServiceEntry as the DNS resolution is set to NONE. Can you try adding `https://archive.istio.io/v1.5/docs/reference/config/networking/service-entry/#ServiceEntry-Endpoint` to the ServiceEntry definition and populate it with the IP that you're using in the address field of service e

[2020-07-16 17:32] esnible opened #25581 "Use --authority instead of --xds-san"
- To be like _grpcurl_.
- Istio already uses ‘authority’ in HTTPMatchRequest.authority.

For example, `istioctl x proxy-status --xds-address localhost:15012 --cert-dir ~/mycerts --authority istiod.istio-system.svc`.

cc @costinm

[2020-07-16 18:16] hunkeelin commented on #25437
I tested without mtls. If you want mtls you will have to write your own envoy filter or do the transcoding yourself.

[2020-07-16 18:26] ludydoo commented on #22341
That would be great, if we could authorize based on the original client id. As of now, I cannot restrict the traffic on the ingress gateway to our company's ip blocks because all I receive is the ALB's IP. I have to edit the security groups for the balancer. Would rather not...
+1

[2020-07-16 18:26] vito-laurenza-zocdoc commented on #23653
This actually breaks the mesh and services exposed via ingress are fully unavailable: `upstream connect error or disconnect/reset before headers. reset reason: connection failure`. Deleting the istio-pilot deployment nearly instantly fixes the issue.

[2020-07-16 18:36] tbarrella commented on #25381
I think this is basically done for now. Using
[code]
the remaining occurrences are one of

- Usages of non-Istio APIs, e.g. `awesome_bot --white-list`
- Generated by non-Istio code, e.g. comments in `common-protos/`
- Historical records, e.g. the changelog in `test-infra/prow/genjobs/README.md`
- Directly related to Mixer, which is being removed (#25333)

In addition to the repos in the initial co

[2020-07-16 18:55] howardjohn commented on #23423
Done

[2020-07-16 18:55] #23423 closed

[2020-07-16 18:56] howardjohn commented on #23125
done

[2020-07-16 18:56] #23125 closed

[2020-07-16 18:56] howardjohn commented on #19885
This is complete

[2020-07-16 19:16] xulingqing commented on #25578
@yangminzhu can you take a look? Thanks.

[2020-07-16 19:55] esnible opened #25584 "client-go should support install.istio.io/v1alpha1"
client-go should allow handling of IstioOperator.

[2020-07-16 21:05] incfly commented on #25570
/cc @incfly

[2020-07-16 21:25] research-sudo opened #25586 "Inquiry About the Microservice Architecture Employed by `istio`"
I am a researcher investigating the open source projects that are designed by the microservice architectural style (https://martinfowler.com/microservices/). My preliminary investigation shows that the **_istio_** project (https://github.com/istio/istio) is designed by the microservice architectural style.

Can you please **_confirm_** if my interpretation that this project is designed by followin

[2020-07-16 22:05] howardjohn commented on #25570
You need to specify the ServiceAccount field in workload entry actually, not the label. Or the label works as well actually, https://github.com/istio/istio/blob/7124d7d2e90c4f35b09e3f4912e2d5e7f12626bc/pilot/pkg/serviceregistry/serviceentry/conversion.go#L328

[2020-07-16 22:20] howardjohn commented on #25586
If you take a look at https://istio.io/latest/docs/concepts/what-is-istio/ this should answer all your questions

[2020-07-16 22:24] howardjohn opened #25587 "Refactor XDS ACK handling"
In latest builds something seems off with the EDS handling - I think its not always triggering pushes when it should.

This is a very vague issue, will investigate and update

[2020-07-16 23:00] Kampe commented on #24603
Yeah, is there a way?

[2020-07-16 23:49] davidraskin opened #25591 "Extend action field in AuthorizationPolicy for audit"
We propose to extend the "action" field in AuthorizationPolicy to support use cases like "audit" , in which case, the matching condition in AuthorizationPolicy can be used to determine when an audit log is generated. It will set a new boolean attribute e.g. 'istio.audit', which can be read by telemetry plugins to determine whether to log based on its value.

[ ] Configuration Infrastructure
[ ] Do

[2020-07-16 23:53] lambdai commented on #23009
We saw issues when user manually delete/clean up containers.
Istio-init cannot recover from this state.

[2020-07-17 00:32] bianpengyuan opened #25595 "Clean up StatNameLength in proxy config"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Envoy has deprecated `max-obj-name-len` option: https://github.com/envoyproxy/envoy/issues/10111, the corresponding StateNameLength option in proxy

[2020-07-17 00:37] mandarjog opened #25596 "Test Fix due to removal of jwt-auth filter: mixer/test/client/istio_authn"
After jwt-auth filter was removed, several mixer tests are failing.

Options
1. Remove tests. Mixer itself will be removed in a release.
2. Fix tests by using `envoy.jwt_authn.v3` filter instead.  (I hope not)

[code]

[2020-07-17 00:42] iandyh commented on #25530
A kindly ping @lambdai

[2020-07-17 00:44] mandarjog commented on #25596
looks like https://github.com/istio/istio/pull/25594 fixes the problem.

[2020-07-17 00:44] #25596 closed

[2020-07-17 00:57] esnible opened #25599 "experimental "istioctl x version" does not handle --revision properly"
Against Master

[2020-07-17 02:00] sameerbhadouria commented on #25379
For anyone else who comes here, I was able to resolve this issue by adding the hack suggested https://github.com/istio/istio/issues/11130 before starting the app container. Similarly adding a preStop hook on  Proxy container as mentioned: https://github.com/istio/istio/issues/7136

[code]

[2020-07-17 02:01] #25379 closed

[2020-07-17 02:06] packyzbq opened #25600 "Istio envoy lack of prom stats istio_tcp_connection*"
Hi, I compile the istio-proxy from source on arm64, however the following stats are missing:
[code]
In addition to the above stats, others beginning with istio seem to be missing.

Actually, I only compile the envoy binary. Do I also need to recompile wasm？ I just copy the wasm from x86 images to arm64 images by the way.

My compile process is as below:
[code]
I use morlay/istio-proxy-build-env:la

[2020-07-17 03:05] bianpengyuan commented on #25571
Probably the same issue as https://github.com/istio/istio/issues/25274. Could you try out the debug image listed in https://github.com/istio/istio/issues/25274#issuecomment-655871226 with option `--set values.global.proxy.image=gcr.io/mixologist-142215/proxyv2:1.6.4-p0` and see if it fixes the issue?

[2020-07-17 03:11] bianpengyuan commented on #25600
You will need to make L4 connection in order to make envoy generate tcp metrics, for example https://istio.io/v1.5/docs/tasks/observability/metrics/tcp-metrics/. Wasm is not required to generate TCP metrics.

[2020-07-17 03:12] bianpengyuan commented on #25600
Do you mean you cannot see any istio prefixed metrics, or just the tcp ones?

[2020-07-17 03:12] dicksontung commented on #24730
Still happening in 1.6.5, I generated the manifest, I think the issue with this:
[code]
This step wont get an IP of the AWS ELB. If we substitute it with the DNS name of AWS ELB, it breaks the Endpoint definition.
[code]
This is invalid because it is an invalid ip address.

[2020-07-17 03:32] packyzbq commented on #25600
Actually I can't find any istio prefixed metrics except istio_build

[2020-07-17 03:51] sudhanshubliz commented on #22677
@laurentiuspurba Yes,I am able to resolve the issues.Some pods are failing due to low memory and no of cpu .Just increase the memory and no of cpu usage.Then it will be installed.

[2020-07-17 04:44] bianpengyuan commented on #25600
How do you install istio?

[2020-07-17 05:55] jurgenweber commented on #21989
For me the operator just errors:

[code]

[2020-07-17 06:08] packyzbq commented on #25600
I compile the istioctl binary and then use command `istioctl manifest apply` to install istio. By the way  the istiod runs normally and I didn't see any error log.

[2020-07-17 06:52] nightguide opened #25601 "Mesh Expansion: Istio Agent on VM displayed in metrics as "unknown""
The problem is that there is no way to identify the application that is added to the service mesh (VM), since it is displayed as unknown in the envoy proxy metrics

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ X] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ]

[2020-07-17 07:22] research-sudo commented on #25586
Thank you for your answer.
I'm confused, Is this project designed by the microservice architectural style or control all network communication between microservices? or both?
I need you to confirm the project as a key contributor.

[2020-07-17 07:27] EDGsheryl commented on #24060
@hrkenshin Hi, My service works, so I suppose these yaml files may help you.

My istio version is:
[code]

and my envoy filter plugin is
[code]

Besides, I recommend you to use `istioctl proxy-status` and `istioctl proxy-config listener service-name --port 5000 -o json`, it helps me a lot.

[2020-07-17 07:46] dongnt1612 commented on #1430
UDP +1
For PFCP message in 5G

[2020-07-17 07:55] dev-cr-ka commented on #24266
Would be a good idea, to throw an exception if deprecated fields are in use. Currently the filter is created but doesn't work without any warning.

[2020-07-17 07:57] shamsher31 commented on #25503
Not sure why is this behavior, but I'm unclear here because other enum values work fine. eg:

The first element (0) in the enum.
https://github.com/istio/istio/blob/89c86aff8e721494de3f44b84865a6ede0dae398/pkg/config/mesh/mesh.go#L88

Second element(1) in the enum
https://github.com/istio/istio/blob/89c86aff8e721494de3f44b84865a6ede0dae398/pkg/config/mesh/mesh.go#L103

Forth element (3) in the enu

[2020-07-17 08:14] packyzbq commented on #25600
I wonder when and how istio prefixed metrics are put in the code. I can't find anything in istio project or proxy project when using `find . -type f|xargs grep istio_`

[2020-07-17 08:28] cagataygurturk commented on #25571
Hello @bianpengyuan unfortunately your debug version did not make the trick also. I have enabled Prometheus and checked the /stats/prometheus endpoint and confirmed that `istio_requests_total` metric is not produced by the sidecar when istio-ingressgateway sends the request. Requests from other services show up in that metric, so now we know that it is not a Stackdriver specific issue.

[2020-07-17 09:42] ebrinker opened #25603 ""hub" setting doesn't change hub for images used by components (pause, klipper-lb, etc)"
**Bug description**
Tried installing istio using a couple different profiles (default, and minimal with ingressGateways component turned on) and tried setting the `global.hub` value, as well as the `components.ingressGateways[0].hub` value but neither seem to affect images used by istiod (which references docker.io/rancher/pause) and the svclb-ingressgateways pod. (which uses docker.io/rancher/kli

[2020-07-17 10:16] ebrinker commented on #25603
Okay, just leaving this message to let anyone know--this was _not_ an istio issue. I found out shortly after posting this that istio is talking with k3s. k3s references a pause image, which is the docker.io/rancher/pause image, and k3s also deploys using servicelb, which is where the klipper-lb image is coming from.

[2020-07-17 10:16] #25603 closed

[2020-07-17 11:39] pzelensky commented on #25382
We've got into the issue that's also related to this inability to set the list of namespaces managed with istio (not just as a list of namespaces, but using regular expressions for example).
In our case we 200+ namespaces in the cluster with 2k+ pods. The single namespace that is running spark jobs those are not having istio sidecars (there's any label on the namespace). Due to activity in that na

[2020-07-17 11:44] samwhite commented on #23085
Bump, we're also experiencing this issue when trying to enable SDS through `values:` on an ingress gw called `public-gateway`

[2020-07-17 12:19] johnzheng1975 commented on #25573
Ok, I find the root reason, for grpc service port name, must not grpc. Thus it will successful always.
[code]
root@testg:/go/src/grpc-go/examples/helloworld# go run greeter_client/main.go
2020/07/17 12:05:24 Greeting: Hello world

[2020-07-17 12:21] johnzheng1975 commented on #25573
However, further issue is: it took some time (4 seconds sometimes) for one grpc call.
You can find many URX for requests, looks like it fail many times, and pass finally.
Any solution for this? Thanks.
[code]

[2020-07-17 12:38] nagypeterjob opened #25606 "1.5.x helm template update fails when Datadog tracer is enabled"
**Bug description**

When updating from 1.4.5 to 1.5.8 with helm template, gateways installation fails when Datadog tracer is enabled due to duplicate ENV var in _install/kubernetes/helm/istio/charts/gateways/templates/deployment.yaml_.

Details:
The gateways deployment has **HOST_IP** set by default:
[code]
During update, when **--set global.proxy.tracer=datadog** is used, the deployment wants to

[2020-07-17 12:52] juanamat commented on #25450
Hello @nrjpoddar.
I did add the endpoint in my service entry and initially it was still not working.
Then I removed the 'subset' from my VirtualService and DestinationRule and now it worked.
So thank you for the tip.

The reason why I had this 'subset' is just because I was following the TLS Origination example in the istio doc (read: copy/paste).
I do not know if this is something worth investiga

[2020-07-17 13:12] laurentiuspurba commented on #22677
@sudhanshubliz Thanks for your response. I saw from your screenshot, you had 2 **NOT READY** state pods. So, did you increase the Memory and CPU of these 2 pods? I just wanted to make sure.

[2020-07-17 13:32] nrjpoddar commented on #25450
That’s good, if it’s related to usage of subsets we had a last minute bug related to DRs with subsets tied to SEs not sending endpoints it no labels were added. We fixed it in 1.6, the bug is https://github.com/istio/istio/issues/23821

Like you said, once we have the config dump we can help you more.

@howardjohn is this bug also in 1.5?

[2020-07-17 13:57] howardjohn commented on #25586
The project is designed to support microservices architecture, it itself is
not a microservice (anymore - it used to be)

On Fri, Jul 17, 2020, 12:22 AM research-sudo <notifications@github.com>
wrote:

[2020-07-17 14:23] johnzheng1975 commented on #25573
Oh, my God. I found the root reason, the serviceentry must be **grpc**, thus upper issue disappear.
[code]

Now, grpc cross cluster is successful! 200 out of 200.
And, my envoyfilter also works now, it can be trigger each time http/grpc requests sent!!!

I have t

[2020-07-17 14:24] #25573 closed

[2020-07-17 14:39] howardjohn commented on #25450
I don't think so, I claimed https://github.com/istio/istio/commit/4591e5efbe40f1aa85e26ead850df7cd7901d395 was the root cause which is not in 1.5

[2020-07-17 14:40] johnzheng1975 commented on #25193
I resolved all issues now. For details, refer to
https://github.com/istio/istio/issues/25573

[2020-07-17 15:09] tmshort commented on #21961
We use Vault for SDS in 1.4 and 1.5, and use Vault to provide cross-cluster and outside-of-cluster CAs.

[2020-07-17 15:20] howardjohn commented on #25587
Couldn't reproduce, I think I had local changes breaking things

[2020-07-17 15:53] research-sudo commented on #25586
Thank you so much @howardjohn

[2020-07-17 15:53] #25586 closed

[2020-07-17 15:58] juanamat commented on #25450
The subset works file when I use DNS though.
I looked at the cluster/listeners config but could not find something obvious.
When I use subset with IP I do see this in the istiod log:

[code]

[2020-07-17 16:07] nrjpoddar commented on #25450
The behavior is exactly the same like the other bug @howardjohn if you look @juanamat comment above. There might be another code path with this latent bug.

[2020-07-17 16:08] #25069 closed

[2020-07-17 16:08] infa-ddeore commented on #21961
how are you using vault with istio?

[2020-07-17 16:31] ntap-joshuap commented on #11723
@gramidt

Any news to share ?

[2020-07-17 16:41] bianpengyuan commented on #25600
They are generated by stats filter: https://github.com/istio/proxy/tree/master/extensions/stats. if istio_build metrics are generating, that means stats filter is compiled and working properly.
https://github.com/istio/proxy/blob/c51fe751a17441b5ab3f5487c37e129e44eec823/extensions/stats/plugin.cc#L415

Have you sent any traffic to your deployment? Istio metrics will only be generated after request

[2020-07-17 16:47] costinm commented on #25500
Not sure what is the problem - we are 'zero trust', we do not rely on whatever pod claims for anything.

Both NetworkPolicy and Istio security Policy are used to enforce 'trust'. Pods can configure itself whoever they want - if NetworkPolicy is in place they won't be able to break it.

Same if network boundaries are enforced with Istio Policy ( allow from gateway, deny directly from workloads).

T

[2020-07-17 16:49] stevenctl commented on #25500
Would we also allow VMs to specify their network by setting `ISTIO_META_NETWORK`?

[2020-07-17 16:53] costinm commented on #25500
Of course - in particular for VMs it is important to do that. For Pods there is some level of uniformity on IP allocation - the current mechanism of setting the IP ranges may work. For VMs - you don't want to worry about changing mesh config to update the IPs.

AFAIK ISTIO_META_NETWORK is already a requirement for VMs - I don't remember any code to infer it from IP range,
last I checked Istiod gen

[2020-07-17 16:59] JoeSainsburys commented on #25174
No, but I think we are experiencing different problems. I get the little red warning in the top right saying kiali cant reach Prometheus, Jaeger etc but it actually can. So my solution was just to avoid looking at that area of the screen.

[2020-07-17 17:03] bianpengyuan commented on #25571
Could you disable protosniffing and see if it fixes the issue? https://istio.io/latest/docs/ops/configuration/traffic-management/protocol-selection/#automatic-protocol-selection Make sure your service port is properly named with protocol prefix.

[2020-07-17 17:10] tmshort commented on #21961
Vault is our CA for istio, via SDS. It maintains the private keys for the CA, and signs CSRS. Similar to what you responded with. Users external to istio use vault to get application/personal certificate to authenticate themselves to istio.

[2020-07-17 17:22] justinkillen commented on #23740
@ceastman-ibm can you envoy logs for the source pod proxy container and the egress pod proxy container?  You'll want to enable envoy access logs if you don't already have them enabled.

[2020-07-17 18:00] stevenctl commented on #25500
Ah I think I misunderstood how endpoints were built for VMs. In that case https://github.com/istio/istio/pull/25554 should be a working first pass at implementing this.

[2020-07-17 18:04] ceastman-ibm commented on #23740
@justinkillen i got it figured out.

[2020-07-17 18:05] cagataygurturk commented on #25571
Disabling protosniffing fixed the issue!

I was also comparing my installation values with the `asm-gcp.yaml` bundled with Anthos Service Mesh deployment and I had noticed that protosniffing was disabled there also.

What is the recommendation now? Is there bug to be fixed and should we keep protosniffing off until the fix?

[2020-07-17 18:40] #23868 closed

[2020-07-17 18:40] #23910 closed

[2020-07-17 18:41] tariq1890 commented on #23868
Thanks for fixing this @esnible

[2020-07-17 18:43] howardjohn commented on #24220
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/3055

[2020-07-17 18:45] howardjohn opened #25616 "Scope pushes to PeerAuthentication"
https://github.com/istio/istio/pull/25430 adds scoping for some types, PeerAuthentication is still different though, as we look in the namespace of the destination as well: https://github.com/istio/istio/blob/b576237ad1280f5abc17291d84b1a913032b7183/pilot/pkg/model/authentication.go#L198

We can add some scoping here possibly by looking at the set of namespaces or similar

cc @incfly

[2020-07-17 18:52] GregHanson commented on #25145
I wonder if the MEM not getting released on the ingress gateway is related to SDS.  @zhanggbj @lanceliuu when you have 1500 services, does that mean you have 1500 secrets/creds as well, or do you have N services per namespace?  Envoy watches the secrets, it's possible that envoy isn't scaling well in that regard

[2020-07-17 18:52] howardjohn commented on #25504
fixed by #25590 I think

[2020-07-17 18:52] #25504 closed

[2020-07-17 18:53] howardjohn commented on #25289
This may allow us to enable it for the ipv6 one but doesn't fix it yet since the test isn't enabled I think

[2020-07-17 18:56] howardjohn commented on #25145
Memory is never released in envoy until recent versions I think

On Fri, Jul 17, 2020 at 11:53 AM Gregory Hanson <notifications@github.com>
wrote:

[2020-07-17 19:44] GregHanson commented on #25533
@synuwxy you basically have two `http` blocks defined and both have an empty `match` criteria ([ref doc ](https://istio.io/latest/docs/reference/config/networking/virtual-service/#HTTPRoute).  In VirtualService resources, the order matters, and envoy will use the first matching block.  Since no `match` criteria is provided, the first block (the delay in this case) will always match and the seconds

[2020-07-17 20:04] rinormaloku opened #25618 "Logging policy id for allowed/denied requests"
**Describe the feature request**
When multiple Authorization Policies are applied to a workload it's very difficult to know which policy denied the request. Currently, by increasing logging level for envoy proxy, with the command below:
[code]
We get some informative logs that the request was rejected, but this has very limited usability.
[code]

Feature Request: Display the name of the policy tha

[2020-07-17 20:16] yangminzhu commented on #25618
This is something we wanted but didn't find the time to do it so far, super glad that community can help on this. As discussed in the slack, I think @rinormaloku will take this and implement in Envoy.

In Envoy, the current log is printed here https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/rbac/rbac_filter.cc#L117 and I think you just need to update the engine->allo

[2020-07-17 20:16] GregHanson commented on #25544
@therealmitchconnors I think this is duplicate of https://github.com/istio/istio.io/issues/7512

should be resolved by https://github.com/istio/istio/pull/25588 and https://github.com/istio/istio.io/pull/7732

[2020-07-17 20:20] esnible commented on #25533
@GregHanson would it make sense to create an analyzer that issues warnings for all VirtualService with >1 HTTPRoute with identical `match`?

Similar logic may help with TcpRoute and TlsRoute.

(Because the HttpMatchRequest/ L4MatchAttributes / TlsMatchAttributes are slices with **and** semantics when I say "identical" I mean order-independent identical)

[2020-07-17 20:25] GregHanson commented on #25493
There is usually some sort of delay from pod creation to when the app pod can successfully make outbound calls.  The init container sets up iptables rules to route all traffic to the istio sidecar proxy container and there is a delay caused by envoy waiting to start and receive configs from Istio control plane.  So retries / delays / exponential fallback are recommended for startup connections for

[2020-07-17 20:31] jdamour98 opened #25621 "LoadBalancerSettings.ConsistentHashLB.HTTPCookie Add option to disable automatic Cookie generation"
**Describe the feature request**
From the Istio Docs:
https://istio.io/latest/docs/reference/config/networking/destination-rule/#LoadBalancerSettings-ConsistentHashLB-HTTPCookie

Add option to disable cookie generation. If cookie does not exist, default to RoundRobin LB. Do not use ConsistentHash for Sticky Session unless cookie already exists. If it does exist, do not override it

**Describe alte

[2020-07-17 20:59] myshkin5 commented on #25572
Hi @Vivek-anand-jain! I just got this working this morning and I agree — something isn’t right here.

I had to do three "workarounds" to get `USE_LOCAL_PROXY` to work. Also I did this on a branch off of 1.5.7. If you are working on something newer or older, YMMV.

1. Define `ISTIO_ENVOY_LOCAL` and `ISTIO_ENVOY_LOCAL_PATH` both pointing at the locally-built envoy binary
1. Copy the .wasm files in `

[2020-07-17 21:02] GregHanson commented on #25491
@honillusion ServiceEntry's are not scoped by namespace, and unlike HTTP and HTTPS/TLS, having two TCP services (ServiceEntry's in this case) both defined on 6379 will cause a port conflict.  I suggest defining one ServiceEntry and multiple labeled endpoints, with a corresponding DestinationRule to match:
[code]

and update your VirtualServices to use the correct hostname so that it matches with t

[2020-07-17 21:19] GregHanson commented on #25233
What is the output of `istioctl proxy status`, is there anything marked STALE?

What is your `istioctl version`?  Depending on the version those secrets may no longer be present on istio ingress gateway unless specifically mounted.
[code]
Is the 404 access log from your ingress gateway?

[2020-07-17 21:36] AceHack commented on #24800
I'm having the same issue with latest istio 1.6.x installed with cli on AWS

[2020-07-17 21:39] GregHanson commented on #25533
@esnible seems like a worthy addition - I can't think of any scenarios where this would be used (i.e. multiple http/tcp blocks with no matching criteria). It may be worth moving to the validation logic itself - but it's kind of grey area where it is a valid rule - but won't behave as expected.  So maybe istioctl is the best place for it

[2020-07-17 21:39] yangvipguang commented on #24800
@AceHack
This does not seem to be an error, it is just a printing problem. This place should be more friendly.

[2020-07-17 23:13] Vivek-anand-jain commented on #25572
@sdake tagging you for the notification since I don't have enough permission to assign the issue.

[2020-07-17 23:15] Vivek-anand-jain commented on #25572
Thanks @myshkin5 for the detailed steps, I will try these and let you know the status.

[2020-07-17 23:45] howardjohn opened #25625 "fatal error: concurrent map writes in multicluster istiod tests"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/25363/integ-multicluster-k8s-tests_istio/6921#1:build-log.txt%3A3141

This was probably fixed but then reverted by https://github.com/istio/istio/commit/7915c7326a2f9659915d0f233fa5efa27d8babbd? Looks like the cobra stuff cannot be called in parallel

[2020-07-18 00:09] howardjohn commented on #25587
I can reproduce. The key here is things go weird when istiod is restarted. So basically just have a pod, then restart istiod. You will see:
[code]

The EDS and RDS requests are treated as ACKs when they should not be

[2020-07-18 00:18] coryasilva opened #25626 "Demo profile not using 15021 as status port 1.6.x"
**Bug description**
The `demo` profile still has 15020 as the status port while the `default` profile has the new 15021 port.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[x] User Experience
[ ] Developer Infrastru

[2020-07-18 01:20] nschhina commented on #25625
This makes all multicluster test fail all the time, can a fix be deployed ASAP? It's blocking PRs for 1.7 release

[2020-07-18 03:23] nschhina commented on #25625
https://testgrid.k8s.io/istio_istio#integ-multicluster-k8s-tests_istio

[2020-07-18 04:38] 13567436138 commented on #25233
[code]
[code]
[code]

[2020-07-18 04:42] ramaraochavali commented on #25220
PRs to 1.5 and 1.6 are merged. So closing this

[2020-07-18 04:42] #25220 closed

[2020-07-18 05:03] #14039 closed

[2020-07-18 05:09] 13567436138 commented on #25233
[code]
when gateway using ssl,virtualservice using http,it is success.vs using tls,404

[2020-07-18 05:16] 13567436138 commented on #25233
it seams       sniHosts:- bookinfo.com did not match ，so it will not route,so return 404

[2020-07-18 05:47] synuwxy commented on #25533
That solved my question. Thank you very much

[2020-07-18 05:49] 13567436138 commented on #25233
[code]
why 443 port type is http,don't it should be https

[2020-07-18 06:04] #25299 closed

[2020-07-18 06:17] sudhanshubliz commented on #22677
@laurentiuspurba Yes,I have increased the no of cpu and memory as I am using GCP(Google Cloud Platform) ,So we can increase the size of the machine type 4 cpu and 15 GB memory.

[2020-07-18 07:12] carolynhu opened #25628 "istio/tools: reorganize istio perf dashboard benchmark section"
As we are getting more and more benchmarks to present, we need to reorganize them into separate sections. Which means, to split the current benchmark section to some more specific benchmarks.

[2020-07-18 07:30] Shashankft9 commented on #25174
@JoeSainsburys same thing for me as well actually. It works but this is perhaps a hacky way to point kiali to the prometheus or grafana instance (applying configmap and then restarting the pod).

There is another way to install kiali - installing it through kiali operator which is much better than this manual intervention fix. I am gonna try that in some time if there is still no fix for this, you

[2020-07-18 09:10] ramaraochavali commented on #25587
I am guessing, envoy is sending empty resource names for the EDS request. Then only it can go in to that ACK mode because `listEqualUnordered` returns true (previous resource empty because Istiod is restarted and new resources empty - this should not happen). Some relevant issue https://github.com/envoyproxy/envoy/issues/7529. The conclusion there was to skip sending response. Not sure if it is sa

[2020-07-18 11:16] #19738 closed

[2020-07-18 11:20] #22674 closed

[2020-07-18 12:04] Stono commented on #25220
@ramaraochavali thank you for seeing this through. :)

[2020-07-18 17:21] rshriram commented on #25391
[code]

hmm.. this seems like the DNS listener was not ready?

[2020-07-18 20:25] howardjohn commented on #17098
open...

[2020-07-18 20:54] adiprerepa commented on #25625
this just means add a `sync.Mutex`?

[2020-07-18 20:59] adiprerepa commented on #25625
is the issue [https://github.com/istio/istio/blob/master/pkg/test/framework/scope.go#L66](url)?

It seems like it already has a mutex. Is there a way to get better visibility into where the faliure is happening

[2020-07-18 21:52] tvkit commented on #12602
In my case, manually zeroing the following replicas permitted `kops` to complete its ig revisions

[code]

[2020-07-19 01:27] stevenctl commented on #25625
Should be fixed by https://github.com/istio/istio/pull/25633 - seems like a PR made it in without finishing MC tests. `viper. SetDefault` is the culprit.

[2020-07-19 03:34] 13567436138 commented on #25233
I see ingressgateway ‘’s 15000port‘’s dump_config，there is not tls route in the config。

[2020-07-19 04:00] ZhuangYuZY commented on #25145
In our test, we created one secret/cred for one namespace. And create knative services inside namespace which share with one secret. And we also create hundreds namespaces for these knative services.

What is means envoy recent version, do you means istio 1.6 has memory release feature ?

[2020-07-19 04:15] 13567436138 commented on #25213
I dump config from reviews sidecar，I did not see any route has withoutheader or header configuatation

[2020-07-19 04:47] 13567436138 opened #25634 "some route infomation doesn‘t generated in envoy sidecar or istio-gateway’"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
for example：
[code]

apply this config ,the route info not generated in ingress-gateway

[code]
apply this the route info did not generate in review

[2020-07-19 08:55] morvencao commented on #25606
The legacy helm chart `install/kubernetes/helm` was completed removed from istio/istio repo from 1.6.x, please use operator to install istio, the operator used build-in chart at https://github.com/istio/istio/tree/master/manifests/charts to generate istio manifests.

[2020-07-19 09:08] githubrotem commented on #23497
Did you get any solution for destination_ip?
I always get "unknown"

[2020-07-19 09:30] morvencao commented on #25562
Try to set http proxy to resolve this network issue.
Istio operator need to download the current installed version istio from github release site.