[2019-09-10 22:06] diemtvu commented on #16986
+ @GregHanson @incfly FYI

[2019-09-10 22:06] linsun commented on #16972
@howardjohn - I think having http for demo profile is okay for user to get started.  In your case, I assume the workload graph would not work with this `the server could not find the requested resource (get meshpolicies.authentication.istio.io)`?

[2019-09-10 22:09] howardjohn commented on #16972
It seems to work, at least partially. I am not sure why I get this error though, as it should have permissions

[2019-09-10 22:21] bianpengyuan commented on #16985
The problem is related to tracing sample rate actually. Even demo profile set it to 100, it still sampled effectively at 1%. Still investigating why tracing rate is not effectively enforced..

[2019-09-10 22:42] JimmyCYJ opened #16987 "Observed periodical memory spike during proxy hot restart in perf test against release-1.3 rc.3"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
This is observed in perf test against istio release 1.3 rc.3. The perf test use file mount to provide certificate for workloads, and a random port n

[2019-09-10 22:42] JimmyCYJ commented on #16987
/cc @rlenglet

[2019-09-10 22:47] howardjohn commented on #16987
I think this is expected. When a hot restart occurs, 2 instances of envoy are running at once, so memory is 2x for a short period of time. Do you not normally see that?

[2019-09-10 23:03] JimmyCYJ commented on #16987
That makes sense. I just check the old one and find that it is not using a short lived cert, so proxy is not hot restarted that frequently. Closing this issue now.

[2019-09-10 23:03] #16987 closed

[2019-09-10 23:25] bianpengyuan commented on #16985
Looks like it was a behavior change in envoy: https://github.com/envoyproxy/envoy/pull/6986, specifically https://github.com/envoyproxy/envoy/pull/6986/files#diff-c68454405a6c92916edd63682d33246fL234

[2019-09-10 23:36] bianpengyuan commented on #16985
@objectiser Any idea about this?

[2019-09-10 23:36] incfly commented on #16986
SGTM

On Tue, Sep 10, 2019 at 3:06 PM Diem Vu <notifications@github.com> wrote:

[2019-09-10 23:37] incfly commented on #16986
Might worth checking the design docs(if any) needs to be updated
correspondingly as well, to reflect status quo.

On Tue, Sep 10, 2019 at 4:36 PM Jianfei Hu <jianfeih@google.com> wrote:

[2019-09-11 00:06] howardjohn commented on #16972
MeshPolicy issue is due to the kubernetes vulnerabilities that have been patched. If you run unpatched kubernetes it works :woman_shrugging: see https://github.com/kiali/kiali/issues/1337

[2019-09-11 01:05] howardjohn commented on #16972
Fixes:
* Turn off security https://github.com/istio/istio/pull/16991
* Update to 1.4.0 https://github.com/istio/istio/pull/16993

[2019-09-11 01:18] yangminzhu commented on #16815
@howardjohn Can we close this now?

[2019-09-11 01:19] howardjohn commented on #16815
Yes thanks for the fix!

[2019-09-11 01:19] #16815 closed

[2019-09-11 01:23] clyang82 commented on #16972
There is one issue for the `meshpolicies.authentication.istio.io` problem - https://github.com/istio/istio/issues/16103

[2019-09-11 01:23] hzxuzhonghu commented on #14336
/assign @XanderStrike

[2019-09-11 02:29] #16945 closed

[2019-09-11 02:40] dhineshbabuelango opened #16996 "istio RBAC serviceRoleBinding not working at namespace level"
Hi All, We are using istio in EKS.
We are trying to apply RBAC for particular namespace with the below command.

![image](https://user-images.githubusercontent.com/51995628/64663928-fce03d00-d47f-11e9-844d-ddb660e4bec8.png)

After this I tried to create a service role and service role binding for a particular service to access from ingress gateway. If i mention the user in the subject it is workin

[2019-09-11 02:47] dhineshbabuelango commented on #16996
Mentioned the role reference wrongly in the servicerolebinding. Its working now.
Apologies for this.

[2019-09-11 02:47] #16996 closed

[2019-09-11 03:02] irisdingbj opened #16997 "support deployment for add-to-mesh"
[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[X ] User Experience
[ ] Developer Infrastructure

**Additional context**

[2019-09-11 04:08] Ghost---Shadow commented on #14026
I am facing a similar issue. How did you resolve it?

[code]

[2019-09-11 04:20] howardjohn opened #16998 "integ-security-k8s tests flaky"
https://testgrid.k8s.io/istio-istio-postsubmit#integ-security-k8s-tests_istio_postsubmit&exclude-non-failed-tests=&width=20

We can see failure rate is ~75%

[2019-09-11 04:44] dhineshbabuelango opened #16999 "Apply istio rbac for https application"
Hi Team, I am using istio in EKS. We have an application which will accept only HTTPS traffic. The application was working fine and we are able to access the application through istio-ingress gateway until we apply RBAC.

![image](https://user-images.githubusercontent.com/51995628/64668849-cd3a3080-d491-11e9-8a0b-1136c97c0a94.png)
After this we try to apply service role and service role binding, b

[2019-09-11 04:48] hobbytp opened #17000 "minHealthPercent in DestinationRule.outlierDetection does not take effect."
**Bug description**
minHealthPercent in DestinationRule.outlierDetection does not take effect.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
mi

[2019-09-11 05:08] #16629 closed

[2019-09-11 06:32] mnktsts2 commented on #17000
This issue might be fixed (#15220).

[2019-09-11 06:38] dzdx opened #17004 "maxEjectionPercent in DestinationRule failure to limit the number of ejected nodes"
**Bug description**
DestinationRuleSpec:
[code]
service `asm-test-http` has three backend pods that can return 503 status code
according to the maxEjecttionPercent (20), at most there is one pod be marked `health_flags: failed_outlier_check`

**Actually:**
Continuous send 50 request
[code]
health_flags in the client sidecar all be marked failed_outlier_check
[code]
Envoy use the stats key
(https:/

[2019-09-11 07:08] lxiaodao commented on #6383
You can see all release by https://github.com/istio/istio/releases.
And download the special version us command below.
curl -LO https://github.com/istio/istio/releases/download/1.2.5/istio-1.2.5-linux.tar.gz

[2019-09-11 07:48] nkorange commented on #16191
![image](https://user-images.githubusercontent.com/4593375/64677757-ce2b8c00-d4aa-11e9-8c2d-2019a1347c77.png)

Hi, now the clusters API shows my service is obtained by the Envoy. But the host of my service cannot be resolved:

![image](https://user-images.githubusercontent.com/4593375/64677935-1fd41680-d4ab-11e9-8e9c-b4aeb6aa6386.png)

Just to confirm: do I have to resolve this domain name by my o

[2019-09-11 08:12] nkorange commented on #16191
![image](https://user-images.githubusercontent.com/4593375/64679679-c837aa00-d4ae-11e9-8b50-4d40997b9e54.png)

The above document confuses me a bit. Does Envoy resolve the DNS record for the service or not?

[2019-09-11 08:37] Ghost---Shadow commented on #16487
Same here

[code]

[2019-09-11 08:39] clyang82 commented on #16103
This issue was fixed in https://github.com/istio/istio/pull/16993

[2019-09-11 09:00] fengjinlin opened #17008 "First app can't work with request routing？"
istio-1.2.5, I try to route request at the first app, but not work as execpted.
![image](https://user-images.githubusercontent.com/16733485/64683249-7cd4ca00-d4b5-11e9-9ec5-197d29bd2164.png)
![image](https://user-images.githubusercontent.com/16733485/64683264-8827f580-d4b5-11e9-81de-b2d2aa2c7c5f.png)
![image](https://user-images.githubusercontent.com/16733485/64683318-a0981000-d4b5-11e9-8bba-e6889

[2019-09-11 10:03] mariusmitrofan commented on #16778
@howardjohn I've deployed an nginx container with istio and disabled the `tls.httpsRedirect: true` option at the gateway level.

What I noticed through "x" amount of logs is that the istio-proxy sidecar is the "culprit" for this redirect loop, I just don't know how/where the bug happens within the code...

[2019-09-11 10:46] Ghost---Shadow commented on #12761
istio-operator?

I did a helm template apply with sds enabled, the problem persists. Any ideas?

[2019-09-11 11:23] mariusmitrofan commented on #16778
@howardjohn I think I found out the reason why.

When you are using an AWS ELB with AWS Certificate Manager support that is set up at ELB level, COMBINED with `protocol: HTTP` for the istio gateway, it *ALWAYS* pushes the header `x-forwarded-proto` as `http`, causing a redirect loop because it's continuously trying to update it to `https`, while keeping it as `http` after the request comes in :)

[2019-09-11 11:50] sbueringer commented on #16877
@howardjohn

We're only deploying a default deny Policy to enforce the best-practice of using NetworkPolicy. But the same problem arises when somebody tries to deploy any NetworkPolicy in the istio-system namespace, because all other communication is then blocked. It's not only about Istio Ingress it's primarily about istio-system.

It would be nice from a security standpoint to have pre-defined c

[2019-09-11 11:51] dangit815 commented on #16878
Thank you. I solved this problem by setting up a new proxy! @howardjohn

[2019-09-11 11:51] #16878 closed

[2019-09-11 13:55] maxdebayser opened #17012 "Istio fluentd adapter sends IP addresses as bytes"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

When trying to send all fields defined here  https://github.com/istio/istio/blob/84f3b8ff576125a6c3cab667bb213c65768f68a3/install/kubernetes/helm/i

[2019-09-11 14:27] howardjohn commented on #17004
are we sure that they are not all just labeled failed_outlier_check but only one is actually removed from the endpoint pool? It seems odd to me that envoy would depend on the stats, although i am not familiar with that code

[2019-09-11 14:34] rlenglet commented on #16985
@bianpengyuan can we close this issue? All the PRs got merged into `release-1.3` branches?

[2019-09-11 14:44] bianpengyuan commented on #16985
We still need to fix master, and update e2e test to cover this.

[2019-09-11 15:52] howardjohn commented on #16191
@nkorange Say you run `curl google.com`. Curl will first resolve google.com, say to 1.2.3.4, and get captured by envoy. Envoy will match the DNS cluster for `google.com` based on the hostname header in the request. Envoy will periodically also be resolving DNS records for `google.com`, and use that as its load balancing pool. So it may send the request to `2.3.4.5`.

So both client and envoy are r

[2019-09-11 15:59] esnible opened #17017 "istioctl x describe pod incorrectly complains about unnamed K8s Service Ports"
with intelligent protocol detection, we don’t need to warn users now about port name

[code]

replace it with something like `Port 80 is unnamed, so protocol detection will be used` if the /config_dump metadata has ISTIO_VERSION 1.3 or higher.

cc @linsun

[2019-09-11 16:01] pparth commented on #6917
Eureka V2 was never released and Eureka V1 is the one still used by Netflix. Eureka V1 is also widely used by the community. I do not understand how you ended up with such a decision to completely remove the bits based on information which is not even true. In any case, is there a REAL reason for deprecating the Eureka Pilot platform adapter? If so, how do you propose a current Eureka-based micro-

[2019-09-11 17:36] #17008 closed

[2019-09-11 17:57] howardjohn commented on #16935
@XanderStrike and I could not reproduce, closing for now until we can

[2019-09-11 17:57] #16935 closed

[2019-09-11 18:15] howardjohn commented on #16148
For dashboard:
[code]

Gets us part of the way there, but we don't have all the dashboards - not clear if its a problem with my metrics server install or with our prometheus scraping.

For multicluster, it should work. What we need is just a little bit of custom setup to start 2 instances of KinD and set up the "cluster registry" correctly - I think this just entails copying the kubeconfig files i

[2019-09-11 18:17] temporafugiunt commented on #9764
Is there a workaround for this?

I ask because a real life example shows how important this is:
I have two different versions of my web app which "compile" random names for JavaScript files using WebPack to kill caching between versions. If my route changes mid download of a JS file (which it appears it does as this is the behavior I am seeing) the file may or may not exist in the version I have j

[2019-09-11 18:28] mrangana opened #17047 "ISTIO installation of 1.2.5 gets into CrashLoopBackOff if Citadel is stared with --listened-namespaces"
Generate SDS config:

_helm template install/kubernetes/helm/istio --name istio --namespace istio-system --values install/kubernetes/helm/istio/values-istio-sds-auth.yaml > istio-auth-sds.yaml_

Add  "--listened-namespaces=foo" to Citadel istio_ca args

    _containers:
        - name: citadel
          image: "docker.io/istio/citadel:1.2.5"
          imagePullPolicy: IfNotPresent
          args:

[2019-09-11 18:29] utako commented on #16306
i could supply a N-1 proxy version to `make docker push`, and run another CI job that will build the envoy N-1 version istio component images and run a small subset of tests against those. does that sound reasonable?

[2019-09-11 18:31] howardjohn commented on #8772
I think this was unintentionally closed -- @nrjpoddar @ozevren  there was some work ongoing on this right?

[2019-09-11 18:32] howardjohn commented on #16381
Right now there are three ways dependencies are defined:

* `go.mod` - can be updated with `go get repo@sha`
* `istio.deps` - our homegrown dependency management. Could update with jq probably
* Nothing, just `git clone` at master - we should never do this

One possible design:

We have some autoupdate.yaml file like
[code]

And then some periodic job that goes through and triggers a bunch of PRs

[2019-09-11 18:38] howardjohn commented on #16306
@utako I think the problem is we cannot build an envoy N-1 version in CI. For each PR we the repo gets `git cloned` at the given sha - we don't have access to the old code I think. I think what we could do is instead pull down from release-1.2-latest-daily (on release-1.3 branch) and that could work. So maybe we can just change one of the tests (in postsubmit only) to pass something like `--proxyI

[2019-09-11 18:40] lxfontes commented on #8772
me thinks it is possible to get https://github.com/istio/istio/blob/master/galley/tools/gen-meta/metadata.yaml and `go template` our way out

[2019-09-11 18:47] howardjohn commented on #15069
dupe of https://github.com/istio/istio/issues/14770

[2019-09-11 18:47] #15069 closed

[2019-09-11 18:49] howardjohn commented on #14629
This is a duplicate of https://github.com/istio/istio/issues/6170, lets track in a single place

[2019-09-11 18:49] #14629 closed

[2019-09-11 19:00] howardjohn opened #17023 "pilot-multicluster-e2e failing 100% of time"
https://testgrid.k8s.io/istio-istio#pilot-multicluster-e2e_istio&width=20

Broken as of 9/10 at 7pm or so

[2019-09-11 19:01] howardjohn commented on #17023
Root cause is me :slightly_frowning_face: https://github.com/istio/istio/pull/16957

[2019-09-11 19:04] lxfontes commented on #8772
something like this: https://github.com/lxfontes/istio-client-go ( note i had an old template, hence the `DeepCopy` method is still not there )

if this direction is something the istio team want to pursue, assign this to me and i can polish / wrap it up / move to `istio` org

[2019-09-11 19:40] sushicw commented on #16979
https://docs.google.com/document/d/1KuxDRPPt283jx_cIs2C9sFHjoHvoskJt3IGqhPJVHtM discusses this case.

[2019-09-11 20:13] fpesce commented on #15091
duplicate of #15088 , fixed by  #15254

[2019-09-11 20:13] #15091 closed

[2019-09-11 20:19] bianpengyuan commented on #14785
Why do you think `request.size` and `response.size` are from `context-length` header? Envoy accumulates the bytes it decodes and encodes, no? e.g. https://github.com/envoyproxy/envoy/blob/838eb20c67d594425fb98f203857b292f37b5778/source/common/router/router.cc#L1370 and https://github.com/envoyproxy/envoy/blob/838eb20c67d594425fb98f203857b292f37b5778/source/common/router/router.cc#L1426. My underst

[2019-09-11 20:33] carolynhu commented on #16416
Here is the latest istio 1.3 latency p90:
![latency_p90](https://user-images.githubusercontent.com/29208297/64732963-ad5a3b00-d498-11e9-8d0a-69ca74b7350b.png)
According to it, we do not have regression issues.

[2019-09-11 20:40] howardjohn commented on #14935
Basically the scope of this task would be just getting the basics off fuzzing set up and running. Actually adding fuzz tests for various scenarios can be added once we have this

[2019-09-11 21:02] nrjpoddar commented on #8772
@howardjohn there's a lot of activity on that front. We already have a repo https://github.com/istio/client-go where this will live. Various folks are working on getting all the changes needed in https://github.com/istio/api merged (like deepcopy, annotations, marshalers) so that we can add generated client in the new repo.

[2019-09-11 21:06] cmanzi opened #17028 "JWT Policy not working/being enforced"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
I was working through the following guide: https://istio.io/docs/tasks/security/authn-policy/#end-user-authentication, trying to get a policy workin

[2019-09-11 21:10] sushicw opened #17029 "`istioctl experimental analyze` should complain about files that don't exist"
**Bug description**
From David Ebbo:

**Affected product area (please put an X in all that apply)**

[X] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

[2019-09-11 21:11] brian-avery opened #17030 "Create 1.3.0 release"
- [ ] Prepare `istio/cni`.
  - [ ] Sync the fork of the `istio-iptables.sh` script.
[code]
- [ ] Check whether the commit SHAs in `istio/istio` and `istio/proxy` are consistent.
  - [ ] Check whether the same `istio/api` commit is used in `istio/istio` and `istio/proxy`.
[code]
  - [ ] Check whether the version of Envoy from which the go-control-plane's API has been extracted from is no more than

[2019-09-11 21:40] cmanzi commented on #17028
Also tried removing the `targets` section from the Policy to make it apply namespace-wide with no better results.

Interestingly, if I apply the same policy to the `istio-ingressgateway` in the `istio-system` namespace, I get the desired behavior:
[code]

[2019-09-11 22:03] rshriram opened #17031 "Service entry https/tls + destination rule simple TLS - interactions"
When a service entry port has HTTPS,  then we are setting up a listener with sni match. In this scenario, from a usability perspective, when the user specifies a destination rule for that service entry with TLS mode simple, we should consider ignoring that tls mode because the inbound traffic is already using HTTPS - we simply need to forward it.

e.g.,

[code]

Today, we would be generating a clu

[2019-09-11 22:03] rshriram commented on #17031
cc @louiscryan / @howardjohn / @hzxuzhonghu thoughts?

[2019-09-11 22:38] aloktakkar commented on #8301
looks like "helm upgrade" has been deprecated. And it also doesnt understand namespaces anymore

[2019-09-11 22:39] dansiviter commented on #14785
From: https://istio.io/docs/reference/config/policy-and-telemetry/attribute-vocabulary/#targetText=A%20given%20Istio%20deployment%20has,services%20can%20also%20introduce%20attributes.

Although as you've started that may not be the case, the documentation implies it is. Either way, I just want useful values rather than zero.

[2019-09-11 23:01] ostromart opened #17035 "helm lint errors"
Helm linting has started running on istio/operator and there are errors. These must be fixed in the istio/installer upstream charts.

[2019-09-11 23:04] #15866 closed

[2019-09-11 23:06] ostromart commented on #17035
==> Linting ./data/charts/gateways/istio-ingress
[ERROR] templates/: render error in "istio-ingress/templates/serviceaccount.yaml": template: istio-ingress/templates/serviceaccount.yaml:3:14: executing "istio-ingress/templates/serviceaccount.yaml" at <.Values.global.image...>: map has no entry for key "global"

==> Linting ./data/charts/gateways/istio-egress
[ERROR] templates/: render error in "is

[2019-09-11 23:18] howardjohn commented on #17035
The way we use helm is not really compatible with how linter works. We use the `global.yaml` file, but helm expects all known values to be in the local `values.yaml` file. So it would required a lot of reworking, not just minor patches

[2019-09-11 23:19] #13385 closed

[2019-09-11 23:23] sushicw opened #17036 "`istioctl experimental analyze` runs too slowly"
**Bug description**

Starting from a vanilla install of the hipster demo app, running `istioctl analyze` currently takes about 8 seconds. That time is all spent waiting for resource events to propagate from the k8s client.

The most likely cause here is that the watchers we are using are slow and/or throttled. Using watchers makes a lot of sense for the Galley use case, where we need to react to a

[2019-09-11 23:26] sushicw commented on #16777
Design doc that covers this: https://docs.google.com/document/d/1KuxDRPPt283jx_cIs2C9sFHjoHvoskJt3IGqhPJVHtM

[2019-09-11 23:50] ostromart commented on #17035
Yeah, it's not even possible to silence it by adding nil values because that would cause global.yaml defaults to be overridden when the charts are rendered.
Basically, this lint error is reporting the fact that even though we claim these are separate charts, they are not really separate because they have implicit dependency on global.yaml.

[2019-09-11 23:58] bianpengyuan commented on #14785
So what is the size you want to observe? In the issue description, seems like [request|response].total_size (headers + body) is what you should use, no?

[2019-09-12 01:01] howardjohn commented on #16635
The last thing needed is to fix tests that use boskos which fail like https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/16948/e2e-dashboard_istio/147. I think the problem is we run `go get istio.io/test-infra/boskos/cmd/mason_client` which tampers with the `go.mod` file and breaks the tests later

[2019-09-12 01:06] hzxuzhonghu commented on #17031
make sense

[2019-09-12 01:32] yangminzhu commented on #17028
Could you run `kubectl get policy --all-namespaces -o yaml`? It seems you have more than 1 policy in namespace foo for httpbin, the behavior is undefined in this case.

[2019-09-12 01:36] JimmyCYJ commented on #16974
Thanks for asking!

Here are related issues, envoyproxy/envoy#5744, protocolbuffers/protobuf#5731.

Basically there is a call credential in SDS config, which has an Any type field. That field takes the marshalled result of file mount metadata config, and the marshalling for Any type is non deterministic. On receiving this SDS config, Envoy would generate different hash value for the registration o

[2019-09-12 01:46] #11893 closed

[2019-09-12 03:02] howardjohn commented on #12648
Thanks for the report. It doesn't seem like there is enough info here for us to take any action and there hasn't been any activity.

If you are still experience this problem feel free to open an issue with more information. Thanks!

[2019-09-12 03:04] howardjohn commented on #7583
@pmint93 in your setup can the api server reach services in the cluster?

[2019-09-12 03:05] howardjohn commented on #13238
Thanks for the report. It doesn't seem like there is enough info here for us to take any action and there hasn't been any activity.

If you are still experience this problem feel free to open an issue with more information. Thanks!

[2019-09-12 03:05] #13238 closed

[2019-09-12 03:05] howardjohn commented on #13703
Ping, any work to be done here?

[2019-09-12 03:06] howardjohn commented on #13847
Thanks for the report. It doesn't seem like there is enough info here for us to take any action and there hasn't been any activity.

If you are still experience this problem feel free to open an issue with more information. Thanks!

[2019-09-12 03:06] #13847 closed

[2019-09-12 03:07] howardjohn commented on #14344
Given we are testing on 1.14 and many users are now on 1.14 I think we have some confidence things work and there have been no concrete issues

[2019-09-12 03:07] #14344 closed

[2019-09-12 03:13] morvencao opened #17039 "[Operator]Confusing error message in operator log"
Run mesh manifest with default profile and check the operator log:
[code]
Found the following error message in operator log:
[code]

[2019-09-12 03:14] howardjohn commented on #13869
Also unable to see this on 1.3, I have seen some fixes in. @ozevren are you working on this still or should we close?

[2019-09-12 03:17] howardjohn commented on #16807
Seems the original issue is resolved

[2019-09-12 03:17] #16807 closed

[2019-09-12 03:18] #16103 closed

[2019-09-12 03:19] pmint93 commented on #7583
No. Now I see this could be my mistake to try running a k8s cluster with maters without kubelet, so network plugin (flannel) could not be installed on them. And when I create istio gateway, apiserver need to call services in the cluster which is failed to reach.

[2019-09-12 03:20] howardjohn commented on #7583
yeah I think that is the case, if you need to keep your set up you would have to turn off the validation and auto Injection

[2019-09-12 03:22] vadimeisenbergibm commented on #9764
@temporafugiunt I understand the urgency of the requirement. Can you write on the Envoy's issue https://github.com/envoyproxy/envoy/issues/8167 and provide them your input and ask what could be a possible workaround? Maybe Envoy's community will have more answers. And maybe they will give that issue a higher priority. Istio is based on Envoy, once Envoy adds this feature, it will be simple/trivial

[2019-09-12 03:23] pmint93 commented on #7583
Yeah, thank you.

[2019-09-12 03:37] #7583 closed

[2019-09-12 03:41] #17023 closed

[2019-09-12 03:46] nkorange commented on #16191
Thanks, I add an arbitrary host binding in ```/etc/hosts``` and then the request is successfully executed:

![image](https://user-images.githubusercontent.com/4593375/64751238-2071b900-d54e-11e9-8918-82ec18c2f255.png)

[2019-09-12 04:15] Ghost---Shadow opened #17040 "List all routes registered under a gateway"
**Describe the feature request**

A CLI command which dynamically calculates and lists all the routes attached to a gateway.

e.g.

[code]

**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Te

[2019-09-12 04:24] howardjohn commented on #17040
`istioctl proxy-config routes` has some info, maybe not in the shape you requested but it could probably be manipulated to do so (either through istioctl or processing the json output)

[2019-09-12 06:31] johscheuer commented on #16960
So I solved the issues it seems that a colleague has played around with https://github.com/box/kube-iptables-tailer which also modifies the iptables and this seems to be the root cause. After removing it and restarting all nodes to ensure a clean state everything worked again.

[2019-09-12 06:40] vadimeisenbergibm commented on #16999
I do not see any problem with the configuration. Please note that the `paths` and `methods` are not relevant for HTTPS RBAC.

Please do the following:
1. Remove `paths` and `methods` fields. It should not help, but please check it to be on the safe side.
2. Dump and publish the Envoy configuration (listeners and clusters) for the `isamotp-isamconfig` pod and for the pod you run curl to access `isa

[2019-09-12 07:24] dhineshbabuelango commented on #16999
Hi Vadim, After I remove the paths and method, I am able to access the services.  Thanks for the help.

[2019-09-12 07:27] vadimeisenbergibm opened #17041 "istio-master-20190910-09-16 does not report source.principal"
**Bug description**

Following the steps of
https://preliminary.istio.io/docs/tasks/traffic-management/egress/egress_sni_monitoring_and_policies/#monitor-the-sni-and-the-source-identity-and-enforce-access-policies-based-on-them, in step 4 sourcePrincipal is reported as `unknown`. Later, the policies based on `sourcePrincipal` do not work.

**Affected product area (please put an X in all that apply

[2019-09-12 07:46] vadimeisenbergibm commented on #17041
Regression from 1.2.5.

[2019-09-12 07:49] hobbytp commented on #17000
@mnktsts2 Thanks for your update.

[2019-09-12 07:54] vadimeisenbergibm commented on #16999
@dhineshbabuelango Yes, you should not mention paths and methods for HTTPS traffic, since for Istio it is just like TCP traffic. The HTTP information, including paths and methods, is encrypted when the traffic is HTTPS, and Istio can neither inspect paths and methods nor apply policies based on them.

Could you please close the issue?

[2019-09-12 07:58] dhineshbabuelango commented on #16999
Thanks Vadim for the help :)

[2019-09-12 07:58] #16999 closed

[2019-09-12 13:16] SaumyaGurtu opened #17048 "Rate limit requested quota not working"
* Bug description
When I perform enabling rate limits task memory quota, the rate limits do not work.

* Configuration Infrastructure
Istio in kubernetes.

* Test and Release
Release istio 1.2.5

* Expected behavior
The rate limit should work.

* Kubectl version
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTreeSt

[2019-09-12 13:18] linsun opened #17049 "istioctl describe provide info on a pod without sidecar ready for mesh"
**Describe the feature request**

A good user flow is while user moves their existing deployment to Istio:

1. istioctl describe pod
(check if the pod is ready to be added and take action if needed)

2. istioctl add-to-mesh service

**Describe alternatives you've considered**
Currently it doesn't output much useful info other than the pod doesn't have a sidecar.

**Affected product area (please pu

[2019-09-12 13:34] gbaufake opened #17050 "CSS Issues on Bookinfo 1.15.0"
**Bug description**

Installing Bookinfo 1.15.0 is not loading the css on the product page

<img width="1680" alt="Captura de Tela 2019-09-12 às 10 26 31" src="https://user-images.githubusercontent.com/2313749/64788439-d76b3600-d548-11e9-8b70-518327366d3e.png">

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking

[2019-09-12 14:30] jacobgo93 opened #17051 "Envoy not closing connections to dead IPs"
**Bug description**
In the past couple of days we’ve witnessed a strange behaviour in our production environment. We now believe this behaviour may be caused by a bug or an unexpected behavior in istio-envoy, and we would like to report our findings here.

A symptom first noted was a large ratio of `5XX` status codes being returned from one of our services, deployed to an EKS environment as a depl

[2019-09-12 15:45] howardjohn opened #17053 "Clean up pilot feature flags for 1.6"
Candidates:
* `PILOT_ENABLE_FALLTHROUGH_ROUTE` if we are confident about our infinite loop detection
* `PILOT_DISABLE_XDS_MARSHALING_TO_ANY`  if no bugs found in 1.3
* `USE_ISTIO_JWT_FILTER` if no bugs found in 1.3
* `PILOT_RESTRICT_POD_UP_TRAFFIC_LOOP` I think this is not needed once we are on the split listeners only
* `PILOT_SCOPE_PUSHES` if no bugs found
* `PILOT_RESPECT_DNS_TTL` if no bugs fo

[2019-09-12 18:49] esnible opened #17056 "istioctl validate should report deprecation warnings"
If a deprecated field is used, `istioctl validate` should tell the user.

For example `istioctl validate -f tests/testdata/config/rule-content-route.yaml` should report that sourceLabels is deprecated.

[2019-09-12 19:08] saturnism opened #17057 "Easier way to surface/debug state of Istio (ports actually proxied, etc)"
**Bug description**

Istio is prone to missed-configuration where the missed configuration works perfectly in Kubernetes environment, but doesn't work in Istio environment, and there is no reliable way of debugging or prevent this.

For example, if a container has no `ports` defined, Istio essentially doesn't proxy any ports. However, it still allows consumers to connect to the port. When mTLS is

[2019-09-12 21:13] JimmyCYJ opened #17059 "Support Citadel to automatically rotate root cert"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Citadel needs to do root cert rotation automatically for both SDS and file-mount approach.

**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Ins

[2019-09-12 21:31] lei-tang opened #17060 "Manage webhook configurations through Istio Operator"
Manage webhook configurations through Istio Operator:
- When Istio is installed, Istio Operator applies webhook configurations when webhooks are ready.
- When Istio is uninstalled, Istio Operator removes webhook configurations.

This issue is part of https://github.com/istio/istio/issues/17061.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Doc

[2019-09-12 21:39] lei-tang opened #17061 "Istio DNS certificate management and webhook management"
- Manage DNS certificates (issuance, rotation, and etc) in Istio through Chiron.
- Manage Istio webhooks though Istio Operator.

Design document: [1] https://docs.google.com/document/d/1VHyBre8943USOx_YEVtA18KfEoGTmLT1iBHESO5bzcA
[2] https://docs.google.com/document/d/10KS3C_xmnCzDNl9GxAtoNFkpRv5VGeoe7QH7bPxPPmY/edit?ts=5d8a55b7

**Affected product area (please put an X in all that apply)**

[ ] C

[2019-09-12 22:32] kirgene opened #17062 "Mesh expansion: connect VM without public IP and without using VPN"
I'd like to add VM worker node to a cluster. VM is behind NAT and doesn't have public IP.
I need to access a service running on this VM from Kubernetes cluster (VM access to cluster services not needed).
How to accomplish this task without using VPN?
I follow [this](https://istio.io/docs/examples/mesh-expansion/multi-network/) guide to setup istio-sidecar connection from VM to the cluster, but to

[2019-09-13 01:32] linsun opened #17068 "sync demo profile from operator to classic installer"
**Bug description**

i noticed istiocl x manifest installed demo profile varies differently than our istio-demo.yaml.  We need to have this and other profiles in sync to ensure a smooth experience.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[x ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ]

[2019-09-13 05:55] xauthulei opened #17072 "no such target '@bazel_tools//tools/jdk:current_java_runtime':"
I am try to build the istio related images by the source on ppc64el, However I got this error:
[code]

[2019-09-13 08:31] mar1n3r0 opened #17074 "Route rules have no effect on ingress gateway requests"
**Bug description**

I have set up one custom gateway per environment on our cluster. Each of them contains the gateway, virtual service and destination rule objects in single files.

This all works when there are no http matching rules. But when such are implemented they don't seem to take any effect.

https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#HTTPMatchRequest

N

[2019-09-13 08:56] Ghost---Shadow commented on #17040
This was what I was looking for

[code]

Thank you

[2019-09-13 08:56] #17040 closed

[2019-09-13 09:50] corey-aloia opened #17075 "Multiple serviceentries with same port causing connections to be closed."
Two service entries with different CIDRs, but the same port cause connections to close.
Here is an example (note: the CIDRs are made up for the example):
[code]
[code]

This will cause intermittent closed connections. Most of the time it will work, but sometimes it will fail.

If I combine these two serviceentries into one, then everything works.
[code]

**Affected product area (please put an X in

[2019-09-13 11:01] mar1n3r0 commented on #17074
As a matter of fact even deleting the VirtualService doesn't prevent the ingress gateway from serving traffic...

[2019-09-13 11:07] mar1n3r0 commented on #17074
As a matter of fact the traffic flows even without a VirtualService...

[2019-09-13 11:14] nickperry opened #17076 "Automatically manage ports on ingress LoadBalancer services on behalf of Gateway resources"
**Describe the feature request**
At present, ports on ingress gateway LoadBalancer services are typically specified via Helm chart values files. Adding a new port to a Gateway resource does not dynamically add that port to the spec of the LoadBalancer service associated with the gateway workload instances.

As an Istio user, I would like Istio to have the option to dynamically manage ports in the

[2019-09-13 11:39] mar1n3r0 commented on #17074
Istio-vet showed me the error. It appeared http name was invalid.

[2019-09-13 11:39] #17074 closed

[2019-09-13 11:44] dzdx commented on #17004
I can reproduce this problem by following the steps below
1.  scale the pods behind the svc `asm-test-http`  to 5
[code]
2. the destinationRule of `asm-test-http`
[code]
3. no virtualservice
[code]
4. exec into another pod and fetch the health_flags of asm-test-http cluster， they are all healthy
[code]
5. Continuous send requests, the service will always response 503 status code and pod name in th

[2019-09-13 12:00] stevehipwell opened #17077 "Add LDAP login option to Kiali Helm chart"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
It would be good if the LDAP login option was supported by the Kiali Helm chart.

**Describe alternatives you've considered**
N/A

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[x] Docs
[x] Installat

[2019-09-13 12:00] dzdx commented on #17004
In addition, I tried to add only the ` sidecar.istio.io/statsInclusionSuffixes: outlier_detection.ejections_active` annotation, which also limits the number of ejected nodes

[2019-09-13 12:51] gustavovalverde commented on #6486
I've been dealing with this the whole week (using **http01**). I'll relate a few issues that are pointing to the same subject. This seems to be the biggest discussion on the subject, so I'll pin it here:
https://github.com/istio/istio/issues/5421
https://github.com/istio/istio/issues/7075
https://github.com/istio/istio/issues/13113
https://github.com/istio/istio/issues/15277
https://github.com/ist

[2019-09-13 12:54] gustavovalverde commented on #6486
cc: @munnerz @howardjohn @prune998 as you might have updated information / guidelines on the subject

[2019-09-13 13:13] gustavovalverde commented on #15148
@adenis-sv this seems like a solution for your problem: https://github.com/jetstack/cert-manager/issues/1097

I'll be testing it

[2019-09-13 13:31] prune998 commented on #6486
@gustavovalverde I'm not using the `HTTP01` provider, the workflow is too complicated. `DNS01` is working great though.
Sorry I can't help right now.

[2019-09-13 14:07] esauser commented on #13241
We are also experiencing this issue.  Is it fixed in the recently released 1.3?

@andraxylia @rlenglet

[2019-09-13 14:33] jarvisuser90 opened #17079 "Multiple filter chains with overlapping matching rules are defined"
**Bug description**

I'm using Ansible to provision my bare metal Kubernetes cluster ( 1 master, 3 workers). Istio installs fine without errors. If I apply a simple https gateway with one virtual service, path-based routing works as expected. I run into problems when my gateway gets a little more complex and I deploy more virtual services.

Istio routing completely stops working. Path-based routes

[2019-09-13 14:34] jarvisuser90 commented on #17079
@howardjohn Thanks for taking a look!

[2019-09-13 15:10] howardjohn commented on #16873
Wow... this seems like a huge oversight. The job is set to be only run on deletion: https://github.com/istio/istio/blob/f91f99e169c0a4a3ca25fc8aa678d1416d2390da/install/kubernetes/helm/istio/charts/security/templates/cleanup-secrets.yaml#L83

But since you use `helm template` (which is absolutely supported - most of us do not like Tiller) this actually runs on install!

Then, coupled with the fact

[2019-09-13 15:15] howardjohn commented on #17004
@dzdx thanks for the great debugging! I am surprised by the result...

@mandarjog this may have some implications on telemetry-lite/mixerv2 potentially

[2019-09-13 15:24] linsun commented on #17049
@esnible Thank you - I think handling at deployment or/and service level is easier than pod.

for describe service, I 'm not sure if I'm interested in how many pods implement the service.  I would only want to know if there is issue for adding to istio first.

Once user feels confident and have added service to the mesh, then user may start debug traffic issue, that is where subset and mTLS strict

[2019-09-13 15:28] duderino commented on #16873
@howardjohn which branches are affected?

[2019-09-13 15:31] howardjohn commented on #16873
1.1 - master. The thing about appending the version to the job name has
apparently always been there, I was thinking of a different job I guess.

On Fri, Sep 13, 2019 at 8:28 AM Joshua Blatt <notifications@github.com>
wrote:

[2019-09-13 15:33] duderino commented on #16873
So if it affects all branches, I think that means we should fix it, but not hold back the 1.1.15 and 1.2.6 patches which are almost done and instead get this out in the next iteration.  Thoughts?

[2019-09-13 15:48] howardjohn opened #17080 "1.3 -> master update does not work due to modifying citadel PDB"
[code]

[2019-09-13 15:56] ozevren commented on #2119
@jasonwzm I am assigning this to you, to verify https://docs.google.com/document/d/1lpTU96_TFKcRWF6-yO4cgt3eqglaaF5KVeRKpnkzXAA We should be able to support multi-version CRDs now, as long as they have the same schema.

(Additionally there will be work on a conversion webhook for conversion coming up).

[2019-09-13 15:57] ozevren commented on #12803
@esnible any chance you can get your PR in, now that 1.15 in the lab?

[2019-09-13 15:58] #14115 closed

[2019-09-13 16:00] howardjohn commented on #12803
I also added a new feature to the integ test framework to specify a minimum k8s version, since we run 1.12 - 1.16 in postsubmit, so you can use that. I guess not for this if it only needs 1.11 though

[2019-09-13 16:15] rvora commented on #7136
Thanks @iandyh. And when Istio is upgraded, our changed configmap will not be overridden?

[2019-09-13 16:36] #17039 closed

[2019-09-13 16:43] douglas-reid opened #17081 "FR: Better VM metadata support"
**Describe the feature request**
For hybrid / VM scenarios, we need to ensure that the environmental metadata supplied to the proxies contains all of the relevant information (on par with k8s environments). This metadata should be descriptive enough to provide identifying information for the workload. For example, we should be able to identify the proper monitored resource in Stackdriver for [gce

[2019-09-13 16:56] elfinhe commented on #16873
fixing it in next iteration, does this mean upgrade/downgrade to previous versions will always cause downtime? maybe we need to provide a workaround, e.g, commands+instructions/script on running instances.

[2019-09-13 17:01] nrjpoddar commented on #16873
@howardjohn this seems to be similar to https://github.com/istio/istio/pull/17033/files

[2019-09-13 17:17] cmanzi commented on #17028
Ok so here's what I did.
1) Enabled debug and access logging ("/dev/stdout") on Istio proxy via Helm, restarted httpbin pod
2) Sent requests:
[code]
3) Get logs
[code]
However, I don't see any logs that look like they pertain to my requests.

[2019-09-13 17:17] #15895 closed

[2019-09-13 17:28] jplevyak commented on #16357
Fixed in 1.1, 1.2, 1.3 and upstream.

[2019-09-13 17:31] diemtvu commented on #15148
You can do the opposite, to set DR that disable mTLS for all (in `isitio-system` namespace), except for those you need. As a matter of fact, as of today, all services come with installation in `istio-system` either has its own DRs (policy, telemetry), don't have sidecar (citadel, grafana etc) or don't need DR (pilot). So it may be safe to add a rule like this
[code]

[2019-09-13 17:33] yangminzhu commented on #17028
@cmanzi Could you copy the full proxy log here? By the way, you don't need to restart to enable the debug logging, you can just `kubectl exec -it <httpbin-pod-name> -c istio-proxy -- curl -s "localhost:15000/logging?level=debug" -X POST`

[2019-09-13 17:38] JimmyCYJ commented on #14199
blocked by https://github.com/istio/istio/issues/9177

[2019-09-13 17:38] cmanzi commented on #17028
[proxy-logs.log](https://github.com/istio/istio/files/3611183/proxy-logs.log)

[2019-09-13 17:40] gustavovalverde commented on #13113
Related: https://github.com/istio/istio/issues/15277

[2019-09-13 17:49] yangminzhu commented on #17028
I didn't see any access log at path `/status/200`, are you sure the ingress gateway is forwarding the request to it?

[2019-09-13 17:52] gustavovalverde commented on #13113
I'm kind of lost here.

I've been dealing with **cert-manager** to make it work with **http01**. The only way to make it work was adding the _istio-autogenerated-k8s-ingress_ allowing all traffic to port 80:

[code]

This, with a custom DestinationRule to disable mTLS for "cert-manager" _while validating_ the certificate, allowed me to make less steps to get a certificate from a different domain.

[2019-09-13 18:01] cmanzi commented on #17028
I thought that was odd as well, but the requests are going through. It responds as expected, and curl is pointed to the ingress gateway:
[code]

[2019-09-13 18:23] sushicw commented on #17036
Note that trying to get absolutely everything through kubectl is still measured in seconds.
[code]

[2019-09-13 18:38] gustavovalverde commented on #6486
I finally got this working (with a bunch of  hours of investigation and trial & error).

I have a very _particular scenario_ were we have access to our domain DNS (which is easy using `dns01`), but we also have to emit certificate for external domains owned by some of our clients, so we can't use dns01 and we have to use `http01`

Using **istio 1.2.2** and **cert-manager 0.10**, we "solved" it wit

[2019-09-13 18:41] yangminzhu commented on #17028
@cmanzi How many httpbin pods do you have and what is your service and virtual service? It seems the request is not hitting the proxy from the log.

To help narrow down the issue, could you enable RBAC on your httpbin and just make it deny all? If the request is hitting the httpbin pod, the RBAC log should say it.

[2019-09-13 19:06] jwendell commented on #10057
Hi @sergio-fleetsmith . I just tried on Istio 1.3 and it's working fine. I'm using your deployment files and could not reproduce the issue.

Could you try on 1.3?

[2019-09-13 19:06] dontreboot opened #17085 "failed to add sidecars.networking.istio.io CRD"
**Bug description**
I apply custom CRDs from `helm template install/kubernetes/helm/istio-init --name istio-init --namespace istio-system`; however, pod for job.batch/istio-init-crd-11-1.3.0 failed to create CRD sidecars.networking.istio.io.

I am running EKS 1.14 for the control plane and EKS 1.13 for the worker nodes.

[code]

I can apply file /etc/istio/crd-11/crd-11.yaml that pod/istio-init-cr

[2019-09-13 19:33] howardjohn commented on #17085
Please add logs from the job. You can pass the `-p` flag to get the logs from the previous container so we can see why it crashed

[2019-09-13 19:41] howardjohn commented on #13679
In 1.3 we have fixed this issue by reading from metadta directly, avoid the race condition with pods. So I think this is now no longer "normal" and is now actually a real warning. I cannot think of any way this would happen, so if we do see this in 1.3 I would be very interested to see the details

[2019-09-13 19:44] #14151 closed

[2019-09-13 19:49] howardjohn commented on #13602
I am planning to fix this by 1.4

[2019-09-13 19:52] howardjohn commented on #6259
Shipped in 1.3!

[2019-09-13 19:52] #6259 closed

[2019-09-13 19:56] howardjohn commented on #16972
Fixed in 1.3.0

[2019-09-13 19:56] #16972 closed

[2019-09-13 19:58] #17017 closed

[2019-09-13 20:12] rshriram commented on #17079
this is expected. You are declaring the same hostname in multiple namespaces under the same SNI match (kube.dev). If you modify the hostnames in the virtual services (and in the gateway), the error should go away

[2019-09-13 20:16] duderino commented on #16357
Fixes will be in 1.1.15, 1.2.6, 1.3.1

@fpesce and @rlenglet

[2019-09-13 20:19] cmanzi commented on #17028
@yangminzhu I only have 1 httpbin pod. service/virtual service:
[code]

I enabled RBAC with ON_WITH_INCLUSION. Here are my ClusterRBACConfig/MeshPolicy resources:
[code]
I can still access the service.

[2019-09-13 20:26] yangminzhu commented on #17028
Since you enabled the RBAC, could you get the new proxy log? (Please make sure you enabled the debug logging level)

[2019-09-13 20:32] #14887 closed

[2019-09-13 20:41] wenxian opened #17087 "Multi Clusters (Single Mesh) - service resolution doesn’t work if service only runs in another cluster"
The architecture diagram is like Service A in Cluster A and Service B in Cluster B. Cluster A and Cluster B are joined using the Single Control Plane Multicluster Installation approach. If call service B from Cluster A, will that work? My test shows the DNS resolution doesn't work out

[2019-09-13 21:30] howardjohn commented on #13527
@kyessenov is this still something we are interested in?

[2019-09-13 21:32] howardjohn commented on #13226
We do have some tests of istioctl and helm values now which is the most common source of errors. Of course we can always add more tests but I think for now we can mark this as done as there is no immediate plans

[2019-09-13 21:32] #13226 closed

[2019-09-13 21:37] howardjohn commented on #576
This has been around for 2 years. It seems useful, but unless someone is willing to invest some effort into this it doesn't seem like this will get done

[2019-09-13 21:40] kyessenov commented on #13527
I think so. This is basically requesting an ability to exercise DNS dependent behavior.

[2019-09-13 21:58] howardjohn commented on #15969
Closed as wont-fix until we swap to #16887

[2019-09-13 21:58] #15969 closed

[2019-09-13 22:10] ozevren commented on #13435
Tagging this with test & release label. T&R folks:, feel free to manage this bug as you see fit.

[2019-09-13 22:12] howardjohn commented on #16056
@sdake is this still the plan? What is the problem with GOPATH/bin, I thought that was standard for GOBIN

[2019-09-13 22:15] ozevren commented on #14048
This is mostly implemented. Both the Ctrlz endpoint and the compilation tool is checked-in.
https://github.com/istio/tools/pull/179
https://github.com/istio/pkg/pull/29

Things work when used manually today. Left over-work is:

- We need to plumb the new tool through the build image and use it to create instrumented binaries in istio/istio (and other repos as necessary).
- Create CI system and/or

[2019-09-13 22:16] howardjohn commented on #16182
I dont really know what i meant by retire it. We already don't publish to it. We should just not push more stuff there in the future

[2019-09-13 22:16] #16182 closed

[2019-09-13 22:16] #16508 closed

[2019-09-13 22:18] howardjohn commented on #16655
In 1.4 we plan to get rid of istio.VERSION via https://github.com/istio/istio/issues/16887. Just want to make sure we don't waste effort here

[2019-09-13 22:28] howardjohn commented on #15622
We have no feasible way to migrate the ipv6 on prow right now

[2019-09-13 22:28] #15622 closed

[2019-09-13 22:30] howardjohn commented on #16632
This is ready to go as soon as official kind 1.16 images are pushed out

[2019-09-13 22:31] howardjohn commented on #16570
@whut I don't see a feasible way to accomplish this. Given our documentation always results in the correct version being downloaded, I don't think there is much we can/should do. Thanks for bringing this to our attention though, as I wasn't aware this was the behavior

[2019-09-13 22:31] #16570 closed

[2019-09-13 22:33] howardjohn commented on #15386
closing as won't-fix

[2019-09-13 22:33] #15386 closed

[2019-09-13 22:33] howardjohn commented on #15333
No action needed here other than the standard build tools migration

[2019-09-13 22:33] #15333 closed

[2019-09-13 22:34] andraxylia commented on #16357
Funny, these # backtraces from the logs are interpreted like references to old PRs in istio, just had one of my first ones referenced :).

[2019-09-13 22:36] howardjohn commented on #14008
@geeknoid do you plan to do this?

[2019-09-13 22:54] rlenglet commented on #16357
This is not done, at least for `release-1.3`. A couple more AIs:

- Please update `istio/proxy:release-1.3` and `istio/istio:release-1.3` to pick up the commit.
- If possible, please add an entry into the [1.3.1 release note draft](https://github.com/istio/istio/wiki/Release-Note-1.3.1-Draft).

[2019-09-13 22:58] howardjohn commented on #16559
@jasonwzm seems like a lot of PRs for this, is there still work here?

[2019-09-13 23:04] howardjohn commented on #15993
This was fixed in 1.3

[2019-09-13 23:04] #15993 closed

[2019-09-13 23:06] howardjohn commented on #16550
Do we have any case where setting a vriable to `""` is an different than not setting it in Istio currently?

[2019-09-13 23:10] howardjohn commented on #16416
Both people that tried this are showing no regressions

[2019-09-13 23:10] #16416 closed

[2019-09-13 23:17] howardjohn commented on #15619
This is not possible afaik without https://github.com/istio/istio/issues/16538, so closing as a dupe of that

[2019-09-13 23:17] #15619 closed

[2019-09-13 23:19] howardjohn commented on #9659
Closing as duplicate of https://github.com/istio/istio/issues/15517

[2019-09-13 23:19] #9659 closed

[2019-09-13 23:21] howardjohn commented on #15469
+1 this is a good practice

[2019-09-13 23:42] aaronmell opened #17088 "Helm Tracing Chart does not use global priorityClassName"
**Bug description**
Set the global.priorityClassName, but that value is not passed to mixer.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
prio

[2019-09-14 00:02] geeknoid commented on #14008
No, I'm not planning to do this work. I'd welcome any contributions to that effect though :-)

[2019-09-14 00:03] #14008 closed

[2019-09-14 00:14] charlierudolph-sx opened #17089 "helm template - mtls with custom cluster domain"
**Bug description**

Currently when using a custom cluster domain and generating the template using helm, the mtls does not respect the custom domain:

https://github.com/istio/istio/blob/0cc46f0243145a4bb0d0d4868d411f0fd522a3a6/install/kubernetes/helm/istio/charts/security/templates/enable-mesh-mtls.yaml#L33

It is hardcoded as `"*.local"` but I would think it would be `"*.svc.{{ .Values.global.p

[2019-09-14 00:19] howardjohn commented on #13622
Fixed in 1.3

[2019-09-14 00:19] #13622 closed

[2019-09-14 00:19] howardjohn commented on #13620
Fixed in 1.3

[2019-09-14 00:19] #13620 closed

[2019-09-14 00:56] markmssd commented on #10746
Is it possible that v1alpha2 is remove in Istio 1.3.0? Installing it with the K8S Helm Chart throws an error on this `config.istio.io/v1alpha2`, saying it's not available. Disabling `policy` and `telemetry` (to skip yaml files that use this version) makes the installation succeed.

[2019-09-14 01:55] howardjohn commented on #17047
I suspect you need to include istio-system in listened-namespaces

[2019-09-14 02:21] jarvisuser90 commented on #17079
@rshriram Thanks for the reply. Could you please explain what you mean? I’m not sure I follow. I thought declaring namespace/host in the gateway would only allow virtual services in that declared namespace and host name to bind to it.

[2019-09-14 02:22] perrymana commented on #13113
I gave up trying to get **http** verification working with Istio, ended up going **dns** validation instead which I haven't had any problems with. This does away with the need for this custom gateway.

[2019-09-14 02:46] howardjohn commented on #17079
you have 2 virtual services in the same namespace for the same host that are doing different things. What is the desired outcome? When a request comes in for host kind.dev does it route to hello world 1 or 2?

[2019-09-14 03:21] aaronmell commented on #17088
priorityClassName is defined under policy_container, but not telemetry_container

[2019-09-14 06:38] Mokto commented on #15313
It works! Thanks @esnible

[2019-09-14 06:45] Masterlvng opened #17092 "QuotaSpec's match rule support StringMap value type"
**Describe the feature request**
[code]
I want to use QuotaSpec as above, only matching request which http header has user and its value exact “raft”.

But currently It dosen’t work.
After reading code, I found that
[code]
It only support string type，so why not support stringmap?
I think my case above is a normal use case and it's not complicated to improve it.
Are there any other considerations?

[2019-09-14 08:29] chadlwilson commented on #15041
Thanks for the work on this! We just upgraded to Istio 1.3 in our lower environments and have been making good use of this already; allowing us to retire some hacky cleanup scripts and "is container completed?" API calls to determine job status independent of the pod/proxy.

However I was wondering if someone could clarify whether `localhost:15000` (admin) or `localhost:15020` (status) is the righ

[2019-09-14 09:46] eoftedal opened #17093 "Allow setting trust domain for Spiffe in Citadel also for pluggedIn CA-certificates"
**Describe the feature request**
The `--trust-domain` option seems to be ignored when using a plugged in certificate (only used for self-signed):
https://github.com/istio/istio/blob/master/security/cmd/istio_ca/main.go#L428

 I would be beneficial to be able to set the trust-domain also for plugin-certs, so that we don't always get cluster.local as the spiffe trust domain. This is especially true

[2019-09-14 13:53] gustavovalverde commented on #15148
@diemtvu I ended up following this steps: https://github.com/istio/istio/issues/6486#issuecomment-531346748

[2019-09-14 13:58] howardjohn commented on #15041
yes that is expected . 15020 is pilot agent, which manages the envoy instance - if you kill envoy at 15000 it will restart it. So you want 15020. That is what we added, envoy had quitquitquit for a while

[2019-09-14 14:04] librannk opened #17094 "Prometheus Alert Manager On Istio"
Hi
i have been using istio grafana addon since long, now i wanted to enable alterts on the same , i could not  find a feature or addon to add alert manager on istio .

Can any one suggest how if this  feature can be added/exist in istio

i am using istio 1.1.7

[2019-09-14 14:41] gustavovalverde commented on #15148
IMHO there are 2 main issues:
1- We need to have two gateways to issue the certificate, but they can't live together without causing issues: https://github.com/istio/istio/issues/13113

2- cert-manager does not allow the **same secret** to hold **multiple certificates**, making the certificate creation completely manual as each secret must be added to our gateway.

If both of this are solved; taki

[2019-09-14 15:20] duderino commented on #16357
@jplevyak please make sure fix is in master too else 1.4 will regress

[2019-09-14 16:11] #16551 closed

[2019-09-14 16:38] howardjohn commented on #17094
Generally Istio is not trying to manage production grade Prometheus, grafana, etc deployments. We are doing some work to make it easy to integrate istio with your own Prometheus, kiali, etc. See https://github.com/istio/installer/tree/master/istio-telemetry/prometheus-operator as one way you can integrate with the Prometheus operator. You can define your own Prometheus setup then just add the conf

[2019-09-15 00:01] chadlwilson commented on #15041
I see, thanks for the clarification! I didn't realise that 15000 was raw envoy - that explains it.

Thanks again for the work here, makes life much easier.

[2019-09-15 01:42] librannk commented on #17094
Thanks for the response, i too thought so that right now add-ons for Prometheus are not production ready , hope to see same with later releases, although it would been great if istio could have been used but as of now i am planning to use Prometheus operator.

[2019-09-15 01:48] howardjohn commented on #17094
To be clear - you can use your own Prometheus operator with the rest of
istio and just swap out istio's Prometheus install and still use istio

On Sat, Sep 14, 2019, 6:43 PM nikhil kanotra <notifications@github.com>
wrote:

[2019-09-15 02:19] librannk commented on #17094
yes i meant that only, using own Prometheus Operator instead of istio prom , till the time this addon is stable on istio,also i think same would be true for jaeger as well for tracing ??
  for rest stuff we are very much using istio already.

[2019-09-15 02:27] howardjohn commented on #17094
Yes, for all the add-ons I would say the official methods to install those
probably have more options exposed, or completely different things like
Thanos for Prometheus. I wouldn't say what ships with Istio is not stable,
just not as feature rich

On Sat, Sep 14, 2019, 7:20 PM nikhil kanotra <notifications@github.com>
wrote:

[2019-09-15 02:35] morvencao commented on #17088
@aaronmell I'm using `helm template' + `kubectl apply`, didn't reproduce the issue, see:
[code]

Also tried to switch to zipkin provider, still found the `priorityClassName`:
[code]

[2019-09-15 05:46] illidan80 commented on #15881
Yep, that's it. Missing service port name causing pods side car to die after several days. As soon as I added port name ("http") - issue resolved.

My suggestion is to explicitly note in the Istio documentation about consequences of not naming ports. Even better, if possible, to issue a warning about missing port name.

[2019-09-15 05:52] illidan80 commented on #15881
P.S. Now I see this in 1.3 release notes:

Well done

[2019-09-15 06:08] MaheshGPai opened #17097 "Routing dynamically learnt services"
**Bug description**
We have a service architecture where services come in and go out on a regular basis. These services register to a service registry, which is used by consumers to "discover" and consume. We want all external service traffic to flow via the egress gateway, since only those nodes (where the egress pods are scheduled) have external connectivity. So this creates a problem when the s

[2019-09-15 08:10] hlechuga commented on #13705
Same here retry is not working. I would like to test my services if http errors injected can catch by retries without changing my code base.

[2019-09-15 15:02] howardjohn commented on #17097
in theory I think you could write an EnvoyFilter that replaces the passthrough cluster with a cluster that points to egress gateway.. I think I'll try it out if you don't have the chance/envoy experience since this sounds useful

[2019-09-15 15:02] mandarjog opened #17098 "tools/dump_kubernetes.sh: Add granular filtering support"
tools/dump_kubernetes.sh supports fetching debug artifacts for the whole cluster or you can filter / limit by
1. total size of the dump
2. namespace
3. pod labels

In addition to this, we need the ability to fetch these artifacts for a list of pods.
This will greatly increase our ability to gather debug info during support.

[2019-09-15 15:03] mandarjog commented on #17098
/cc @ostromart @costinm

[2019-09-15 15:47] aaronmell commented on #17088
Sorry, my fault. I had the wrong chart. Updating ticket to reflect.

[2019-09-15 15:52] aaronmell commented on #17088
Looks like the change was made in master, but didn't make it into the 1.3.0 release

https://github.com/istio/istio/commit/409fb9765266db0ba5d24c677b5aabed82e7132c

[2019-09-15 15:52] #17088 closed

[2019-09-15 16:27] sanamsarath opened #17102 "HTTP2 traffic on port 8080 via envoy-proxy is being forwarded as HTTP1.1"
**Bug description**
In our deployment cluster(deployed with istio 1.1.11) all the traffic to/from the application container is routed through the envoy-proxy side car. Following issue is observed, HTTP2 traffic on port 8080 originated from application container towards upstream servers(e.g, foo.com) is being forwarded by envoy-proxy as HTTP1.1. We don't have any service port defined in the cluster

[2019-09-15 16:27] #16059 closed

[2019-09-15 16:34] #15313 closed

[2019-09-15 16:47] #15364 closed

[2019-09-15 16:57] howardjohn commented on #7136
@andraxylia why was this moved to 1.4? As far as I know there are no short term fixes for this

[2019-09-15 17:07] howardjohn commented on #17097
Something like this maybe
[code]

[2019-09-15 17:58] bravecobra commented on #9504
I'm having the same issue running this example when deploying v2:
https://github.com/EdwinVW/pitstop/wiki/Run%20the%20application%20using%20a%20Service%20Mesh

[2019-09-15 18:56] incfly commented on #15881
@illidan80 note the inbound port protocol detection is disabled by default. This does not work with mTLS.

For 1.3, we still have to require users to declare container port w.r.t to use case here.

[2019-09-15 20:42] bravecobra commented on #9504
After increasing the amount of memory available to my minikube, the issue went away.

[2019-09-16 01:26] clyang82 commented on #17072
please try to specify the javabase
`EXTRA_BAZEL_ARGS="--host_javabase=@local_jdk//:jdk"`

[2019-09-16 02:09] morvencao commented on #17088
Yes, that's right, the change didn't make it into the 1.3.0 release. Cherry pick it to release-1.3 so that we can have it in 1.3.x: https://github.com/istio/istio/pull/17104

[2019-09-16 05:51] MaheshGPai commented on #17097
Thanks a lot @howardjohn for the sample! I'll try this out and check if it satisfies our needs.
Do we know what would be the performance impact on this? Is this like any other routing evaluation?

I see the following note in istio docs. So isn't there a chance of breakage during Istio updgrades?

_NOTE 1: Since this is break glass configuration, there will not be any backward compatibility across

[2019-09-16 06:28] idouba opened #17105 "sourceLabels and gateways are missing in HTTPMatchRequest of Istio 1.3"
Two important fields sourceLabels  and gateways are missing in [HTTPMatchRequest ](https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#HTTPMatchRequest)of Istio 1.3  which can be used in[ 1.2](https://archive.istio.io/v1.2/docs/reference/config/networking/v1alpha3/virtual-service/#HTTPMatchRequest) and old release.

[2019-09-16 07:37] hzxuzhonghu commented on #17087
I donot think so. This model enforce services exists in all clusters by default.  But you can use cascading dns to resolve dns resolution in theory.

[2019-09-16 07:47] richardwxn commented on #16971
You may try write your patch like below:
path: spec.template.metadata.annotations
  value:
            prometheus.io/scrape: "true"
             sidecar.istio.io/inject:  "false"

[2019-09-16 07:52] hzxuzhonghu commented on #17105
`sourceLabels` is deprecated long ago,  just marked hidden in 1.3

`gateways` is just hidden, should stop using it anymore

[2019-09-16 08:39] irisdingbj commented on #16970
All the telemery add-ons(Grafana, phomethes, Kiali and Tracing) can not be installed even if you have below entries in the profile:
[code]
Now they are put under `values` section. Should we modify our ICP api a bit to add a ThridPartyFeatureSpec?

[2019-09-16 08:56] dgn commented on #15380
Reopening because this is working in 1.2 but not 1.3 due to switch from envoy filter in `istio/proxy` to the one in `istio/envoy`

[2019-09-16 09:11] hzxuzhonghu commented on #17031
I applied the below config
[code]
And got an error when curl www.google.com

[code]

[2019-09-16 09:12] hzxuzhonghu commented on #17031
With #17107, no error met

[2019-09-16 09:24] hzxuzhonghu commented on #15778
More details, i can not understand this.

[2019-09-16 09:30] stevehipwell commented on #17077
So it looks like creating a pull request on this project is slightly more involved that I had realised.

If the following block was added to _install/kubernetes/helm/istio/charts/kiali/templates/configmap.yaml_ under the auth strategy and the Kiali [LDAP documentation](https://www.kiali.io/documentation/getting-started/#_ldap) was added to the chart documentation. Kiali LDAP support should work.
[

[2019-09-16 09:45] hzxuzhonghu commented on #17102
Try #17073 to see if it works.

[2019-09-16 09:58] hzxuzhonghu commented on #17102
I think it is related to this `The current implementation of upgrade headers does not work with HTTP/2 upstreams.

`

[code]

[2019-09-16 11:00] nixgadget opened #17108 "nodeagent failing to start when using citadel in 1.2.5"
*Istio*: 1.2.5

I have configured `nodeagent` with `citadel` as the CA provider. However it is failing to start with the following error.

[code]

This is because I have deployed Istio to a custom namespace and not `istio-system`.
Looking at the code [client.go#L36](https://github.com/istio/istio/blob/1.2.5/security/pkg/nodeagent/caclient/client.go#L36) it turns out `istio-system` is hard-coded.
I

[2019-09-16 11:42] esnible commented on #16977
Adding myself so that I track this and get the experience of writing an analyzer.  I am not trying to take over @sushicw 's work.

[2019-09-16 12:42] hzxuzhonghu commented on #17031
It does not work for the below config with error
[code]

[code]

[2019-09-16 12:55] hzxuzhonghu commented on #17031
It seems we can not achieve both http and https with a single cluster

[2019-09-16 13:01] xauthulei commented on #17072
@clyang82  it is still failed in my env. Thanks

[2019-09-16 13:12] William-Newshutz commented on #16971
That format (shown below) did the trick. Thank you.
[code]

[2019-09-16 13:19] #16971 closed

[2019-09-16 13:52] sanamsarath commented on #17102
@hzxuzhonghu
The listener '0.0.0.0_8080' was defined with http filter 'web socket upgrade' by istio to support control plane traffic to istio mixer from the envoy sidecars. Currently, this filter is generalized to all the traffic(istio control plane + application) running on port 8080. Probably this filter should have a match condition (e.g, match: {domain : "istio*"}) to differentiate istio traff

[2019-09-16 14:32] arjav-desai commented on #13279
@esnible Haven't had a chance to try out this yet. I just started using istio 1.2.4 so will update as soon as I can.

[2019-09-16 14:57] linsun commented on #17068
@irisdingbj could you look at this?

[2019-09-16 15:53] mkoppanen opened #17109 "istioctl experimental add-to-mesh external-service fails with duplicate protocols"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ x] Networking
[ ] Perfo

[2019-09-16 16:09] mkoppanen commented on #17109
With my limited go skills I think the error is here:
https://github.com/istio/istio/blob/master/istioctl/cmd/add-to-mesh.go#L314

The protocol and port name come from the same source, which causes issues when adding multiple ports of the same protocol.

[2019-09-16 16:21] DaveBben opened #17110 "No mTLS on TCP Traffic"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
When the team and I deploy services using Istio, traffic that communicates using HTTP is secured by mutual TLS as viewed by Kiali. However, any serv

[2019-09-16 16:35] howardjohn commented on #14829
Bumping to nebulous future as there is no owner

[2019-09-16 17:10] cart commented on #17093
My organization at Microsoft actually hit this same issue. I also came to the same conclusion as you and created / tested my own patched version last week. Citadel came up healthy and multi cluster trust domains w/ intermediate certificates worked in cross cluster RBAC scenarios.

[2019-09-16 17:24] vadimeisenbergibm opened #17112 "Missing Istio Endpoints for Kubernetes Service with Endpoints"
**Bug description**

When you create a service with endpoints, ***and you have some other service without pods and endpoints***,  a listener and a cluster are built for the service, but no Istio endpoints.

1. Create a Kubernetes service without endpoints:

[code]

2. Follow the Kubernetes example for a Service with Endpoints  https://kubernetes.io/docs/concepts/services-networking/service/#servic

[2019-09-16 17:33] sushicw commented on #17036
The current prevailing theory is that we're running into k8s throttling limits, whether via kubectl or the API. Using watchers does not seem to be the main source of lag, as originally supposed.

One TODO task: measure how/if this scales as the number of resources increases. Currently our sample size is "bookinfo is 3 seconds vs hipster is 8 seconds" but it would be good to see how much impact clu

[2019-09-16 18:18] DaveBben commented on #17110
![tcp vs http](https://user-images.githubusercontent.com/12903207/64982688-ca25b280-d88c-11e9-8657-e315d2767961.PNG)

A better example explaining the situation. Should the TCP traffic also have mTLS?

[2019-09-16 18:46] athurner commented on #17079
I'm not sure if I agree that the configuration of @jarvisuser90  is wrong. I applied the virtual services and then the gateway yaml and I'm seeing the same errors. BUT if I apply the gateway.yaml so that only one new host is added each time, it works fine. Let me explain:

## Test 1 (one host at a time)
###  First Step:

I only have one host for port 443
        - “istio-system/kube.dev”

run kube

[2019-09-16 18:46] xeor commented on #16972
Should this be fixed in the kiali operator as well? I have the same problem, on bleeding edge versions (istio 1.3, kiali 1.4.2) from the kiali operator.

[2019-09-16 19:01] wenxian commented on #17087
If we use 'dns resolution' to expose the cluster DNS server, does istio-dns resolve the service name into Pod IP or Cluster IP?

[2019-09-16 19:04] jasonwzm commented on #10872
Discussed with Ed that we would like to add `description` fields to the cmd output. Detailed description for top-level APIs, doc links for sub-fields, as crds are size-limited by kube api server to add the full description for all fields. https://github.com/kubernetes/kubernetes/issues/82292

[2019-09-16 19:11] sushicw commented on #16978
Fixed in https://github.com/istio/istio/pull/17064

[2019-09-16 19:11] #16978 closed

[2019-09-16 19:25] venomwaqar commented on #7479
Any updates? Is there any way to update the certificates without restarting/deleting the POD?

[2019-09-16 19:38] jarvisuser90 commented on #17079
@howardjohn

What I understand from the documentation is that having two virtual services in the same namespace with the same host is perfectly fine. Istio will merge these two virtual services. Are my assumptions correct?

[Multiple virtual services and destination rules for the same host](https://istio.io/docs/ops/traffic-management/deploy-guidelines/#multiple-virtual-services-and-destination-ru

[2019-09-16 19:41] incfly commented on #7479
PTAL the link, this issue is now closed. I updated the bug description.

[2019-09-16 19:46] duderino opened #17117 "Expose HTTP/2 window size settings as Pilot environment variables"
Expose HTTP/2 connection window settings so that Envoy can be tuned to provide backpressure.  Without this slow upstreams can cause Envoy to consume too much buffer memory relaying requests and slow downstreams can similarly cause Envoy to consume too much buffer memory relaying responses.

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[

[2019-09-16 19:47] jmazzitelli commented on #16972
The problem is (I think) this istioctl command. I think it is starting a proxy that isn't able to pass through https traffic. I am not sure about that - but I think the problem originates in that `istioctl dashboard kiali` command.

[2019-09-16 19:47] venomwaqar commented on #7479
@incfly Can you please elaborate a little as I am new to Istio. I am updating the secrets as a result the certs created in the ingress-gateway are updated too. But the application (DNS) are still showing the old certificates.

Kubernetes version: 1.13.6
Istio version: 1.1.10

[2019-09-16 19:48] duderino commented on #17117
@howardjohn fixed this in https://github.com/istio/istio/pull/17058

John could you provide an example for configuring this here and then close out the bug?

[2019-09-16 19:48] r0fls opened #17118 "include route/path in prometheus requests metrics"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Include the endpoint i.e. route/path as one of the dimensions of the exported prometheus metrics

**Describe alternatives you've considered**
I have no idea how this could be implemented alternatively, I looked at the existing metrics and didn't see

[2019-09-16 19:49] incfly commented on #7479
@venomwaqar
Can you create a separate bug and describe what you did and what you expect and what does not happen as you expect?

[2019-09-16 19:50] jmazzitelli commented on #16972
@xeor if you are using the Kiali Operator, in your Kiali CR, set "identity.cert_file" and "identity.private_key_file" both to empty string. That turns off https and should then work for you. See: https://github.com/kiali/kiali/blob/master/operator/deploy/kiali/kiali_cr.yaml#L344-L359

This should work around what I think is a problem in the `istioctl dashboard kiali` command - whatever it is doing

[2019-09-16 20:04] esnible commented on #17105
We discussed https://github.com/istio/api/commit/0e77ec00236554f76109f0e917c6a11de3fa97f7#diff-0820bb0406265ba9b9a9e11dcec06601 at the Networking Working Group meeting last Thursday.  We hope to have documentation of how to use a sidecars.networking.istio.io to get the behavior currently provided by sourceLabels.

The networking group is determining if the field should be restored but marked depre

[2019-09-16 20:11] howardjohn commented on #17117
`--set pilot.env.PILOT_INITIAL_CONNECTION_WINDOW_SIZE=65535 --set pilot.env.PILOT_INITIAL_STREAM_WINDOW_SIZE=65535`

[2019-09-16 20:11] #17117 closed

[2019-09-16 20:12] xeor commented on #16972
I had cert_file="", but was missing private_key_file="".. Still looks like I get the error tho...

`GetMeshPolicies failed during a TLS validation. Probably Kiali doesn't have cluster permissions. Error: meshpolicies.authentication.istio.io is forbidden: User "system:serviceaccount:istio-system:kiali-service-account" cannot list resource "meshpolicies" in API group "authentication.istio.io" at the

[2019-09-16 20:16] jmazzitelli commented on #16972
That is a different issue than the http vs. https thing. That was the bug fix that was put in recently: https://github.com/kiali/kiali/issues/1337

[2019-09-16 20:20] rshriram commented on #17079
@jarvisuser90 yes you are correct. Let us go through the code to see where the example breaks

[2019-09-16 20:20] esnible commented on #17087
To keep DNS lookups from failing an IP is needed.  But it doesn't need to be a real IP.  For example `127.255.0.2` (or anything `127.255.x.y`) usually works.

Follow the instructions in https://istio.io/docs/setup/install/multicluster/gateways/#setup-dns

[2019-09-16 20:23] rshriram commented on #17079
@lambdai can you investigate this bug please? The fix should be some simple adjustments in the gateway code mostly.

[2019-09-16 20:24] rshriram commented on #17112
Vadim, since you reported,  I am assuming you will be investigating this as well?

[2019-09-16 20:26] esnible commented on #17057
@saturnism does the `istioctl x describe pod` command provide any of the features you requested?

[2019-09-16 20:26] rshriram commented on #17102
websocket upgrade should not impact anything. its there to support websocket connections on the listener in case it gets one.

[2019-09-16 20:28] yangminzhu commented on #13565
@andrewjjenkins Oh sorry I haven't had time to work on this and is currently busy with the authz-v2 stuff. I will see if we can spend sometime on it this week.

[2019-09-16 20:34] rshriram commented on #17097
So, if all you want is to forward external service traffic through the egress gateway, why dont you launch an envoy as a HTTP proxy on some unique port (see envoy docs https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/dynamic_forward_proxy_filter.html). And then in all your applications, you add a HTTP_PROXY environment variable to forward traffic via this forward proxy.

[2019-09-16 20:37] rshriram commented on #17075
cc @sbezverk to triage

[2019-09-16 20:38] yxue commented on #17102
@rshriram @hzxuzhonghu firstly, I don't think it's related with protocol sniffing since the issue is reported on Istio 1.1.x.

@sanamsarath could you please paste the config of `outbound|8080||httpbin.httpbin.svc.cluster.local` (or the target cluster h2 traffic is going to hit)? I think the cluster definition misses the http2 protocol options.

I don't think Istio 1.1.x should depend on the pr htt

[2019-09-16 20:47] rshriram commented on #17004
lets see if we can fix this in envoy. cc @istio/wg-networking-maintainers-data-plane

[2019-09-16 20:49] rshriram commented on #17000
closing. please reopen if not fixed

[2019-09-16 20:49] #17000 closed

[2019-09-16 20:52] lizan commented on #17004
I think this is a bug in Envoy, filed https://github.com/envoyproxy/envoy/issues/8259

[2019-09-16 21:00] rshriram commented on #16851
how is port 9200 declared?

[2019-09-16 21:03] rshriram commented on #16806
cc @vadimeisenbergibm

[2019-09-16 21:05] esnible commented on #17056
Currently `istioctl validate` will surface warnings.  For example

[code]

in addition to the reported `error` the webhook-implementation generates.

There is no reporting of fields that are marked hidden or deprecated.

@ozevren Is there any way to surface the .proto information to Istio's Go bindings?

The .proto files have deprecation and hidden information:
[code]

The generate Go code does no

[2019-09-16 21:06] rshriram commented on #16778
This seems like a data plane addition doesn't it? as Pilot will not know the value of x-forward-proto in advance

[2019-09-16 21:06] rshriram commented on #16778
cc @istio/wg-networking-maintainers-data-plane PTAL

[2019-09-16 21:07] rshriram commented on #16778
cc @PiotrSikora / @lizan / @lambdai

[2019-09-16 21:09] rshriram commented on #16658
it should be enabled always.

[2019-09-16 21:10] sanamsarath commented on #17102
@hzxuzhonghu
the traffic is forwarded via "PassthroughCluster".

PassthroughCluster config:
[code]
Additional Info: Instead of service name, currently we are using hard coded ip address. Curl request looks like below:
[code]

[2019-09-16 21:12] rshriram commented on #16522
cc @frankbu ^^^

[2019-09-16 21:14] rshriram commented on #16458
we have fixed these conflicts with the http inspector.. right @yxue ?

[2019-09-16 21:16] rshriram commented on #16442
cc @hzxuzhonghu

[2019-09-16 21:16] howardjohn commented on #16458
This is not fixed

[2019-09-16 21:17] howardjohn commented on #16458
We will create a listener with HCM only. We need to detect HTTPS traffic and not send them through HCM

[2019-09-16 21:17] rshriram commented on #16386
@istio/wg-networking-maintainers-data-plane PTAL

[2019-09-16 21:32] PiotrSikora commented on #16778
@mariusmitrofan If I'm reading this correctly, your setup looks as follows:
[code]
ELB is presumably terminating TLS, so the request flow looks like this:
[code]
i.e. since ELB is terminating TLS, IngressGateway always receives HTTP traffic, which triggers the redirect to HTTPS.

What's missing is the ability to let IngressGateway know that the proxy in front of it is a trusted hop and that it sho

[2019-09-16 21:37] sushicw commented on #16977
@esnible Check out the above-linked PR for some initial examples.

[2019-09-16 21:40] #16977 closed

[2019-09-16 21:43] PiotrSikora commented on #16386
I'm pretty sure that's the PERMISSIVE mode (i.e. TLS inspector) getting in the way.

[2019-09-16 21:46] mariusmitrofan commented on #16778
@PiotrSikora Yup. Sounds right to me.

[2019-09-16 21:48] gbaufake commented on #17050
@howardjohn
Uploading information from productpage
[clusters.txt](https://github.com/istio/istio/files/3618323/clusters.txt)
[config_dump.json.txt](https://github.com/istio/istio/files/3618324/config_dump.json.txt)
[proxy.log.txt](https://github.com/istio/istio/files/3618325/proxy.log.txt)
[stats.txt](https://github.com/istio/istio/files/3618326/stats.txt)

[2019-09-16 22:04] venomwaqar opened #17123 "Ingress-gateway is not updating the certs without deleting/restarting the POD"
**Bug description**
Ingress-gateway is presenting the old certificates even after updating the secrets with the new certs.
My problem is that I want to replace the old certificates with the new certificates without deleting or restarting or patching the gateway deployment, I cant bear any down-time.

**Steps to reproduce the bug**
1. Install the ingress-gateway with the following values
[code]

2.

[2019-09-16 22:07] venomwaqar commented on #7479
@incfly New issue created https://github.com/istio/istio/issues/17123

[2019-09-16 22:20] douglas-reid commented on #17118
We've considered this before, but cannot recommend this as the default for metrics installations. Anything exposed to the open internet quickly will be overwhelmed by the explosion in time series as a consequence of including the request path. And we've seen that happen.

But, all is not lost.

It is possible to update the default config to include that label for your own installation (with the ca

[2019-09-16 22:20] #17118 closed

[2019-09-16 22:25] yangminzhu opened #17125 "Fallback to use istio-config as default root namespace"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Currently Istio ignores the root namespace if it's empty, for example:

https://github.com/istio/istio/blob/c9ba34bf2aa8a9129a7a5c18124d301bd6a1f2c6/pilot/pkg/model/push_context.go#L1109-L1117

https://github.com/istio/istio/blob/c9ba34bf2aa8a9129a7

[2019-09-16 22:43] incfly commented on #15881
I successfully reproduced that indeed with http service port treated as tcp, the pod will end-up with many sockets in `TIME_WAIT` state.

I then did some networking basics study. If we have many short-lived sockets, then the other side has to wait for a while and during that the socket is in [TIME_WAIT state](http://www.serverframework.com/asynchronousevents/2011/01/time-wait-and-its-design-implic

[2019-09-16 22:43] #15881 closed

[2019-09-16 22:48] incfly commented on #17123
assign to feature owner @JimmyCYJ

but just took a quick glance, you're not following https://istio.io/docs/tasks/traffic-management/ingress/secure-ingress-sds/ to achieve the feature. Right?

The setup you did is not supported in Istio. You need to follow the doc above to achieve certs updates without gateway restart.

The feature should have been shipped to 1.1. @JimmyCYJ can confirm.

[2019-09-16 22:54] incfly commented on #15881
The TLDR is that treating HTTP as TCP does not work when the connection is short-lived, and created frequently.

[2019-09-16 23:08] howardjohn opened #17127 "Migrate from deprecated regex to safe_regex field in routes"
Envoy has deprecated `regex`. I think we need to move to `safe_regex`.

@duderino @yangminzhu @PiotrSikora can you confirm we want to switch over?

[2019-09-16 23:11] PiotrSikora commented on #17127
I believe that the TOC requested that we introduce new API in Istio, since `safe_regex` doesn't support everything that `regex` does.

[2019-09-16 23:19] arefai opened #17128 "Change global.imagePullPolicy in the old installer to "Always""
The [old installer still uses a "IfNotPresent" ](https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/values.yaml#L297)  global.imagePullPolicy, whereas the [new installer uses "Always"](https://github.com/istio/installer/blob/f00a696ba1186e263de929897b4e4abf505538db/global.yaml#L208). "Always" would be preferred in the case of installing Istio because if there is an old existi

[2019-09-16 23:50] yangminzhu commented on #17127
If `regex` is deprecated in Envoy, The only option for the customer is to use the `safe_regex` anyway, does it still make sense to introduce new API in Istio? I feel we could just switch to use the `safe_regex` but the proper documentation and notice to ask customers to do the migration if needed. cc @fpesce

[2019-09-17 00:49] howardjohn commented on #17128
Our images are/should be immutable, so I don't see where this is a problem. What scenario were you thinking of?

[2019-09-17 00:58] arefai commented on #17128
Correct me if I'm wrong, but the default tag value is master-latest-daily, which moves. I found this problem because I had a cluster that was a couple weeks old that I was installing istio on and then deleting the namespace (for an integrated test). My installations started failing last week and I found that the images for Node-Agent (and other components) were from when I first deployed Istio. Th

[2019-09-17 01:06] vadimeisenbergibm commented on #17112
@rshriram Yes, will do.

[2019-09-17 01:09] howardjohn commented on #17128
Installing in `master-latest-daily` in production is not a good idea - hopefully this is not the case? At most I think we should make it Always when `master-latest-daily` is used (in dev) but switch to IfNotPresent when set to a pinned version (production). We should not make production installs worse for development by always setting `Always`.

[2019-09-17 01:54] iandyh opened #17130 "Unsafe Envoy readiness check can result 503s during scaling up and rolling update"
**Bug description**
Istio Envoy proxy is ready before finishing fetching all the configurations. This can result 503 when scaling up the ingress/sidecar pods

**Affected product area (please put an X in all that apply)**

[ x ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ x ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] Use

[2019-09-17 02:07] iandyh commented on #7136
@rvora It depends on how your upgrade process work. In our case, we always apply the patch before installing/upgrading.

[2019-09-17 02:26] r0fls commented on #17118
Do you have any idea if this is supported in the helm chart, or if it will require a `kubectl patch` command?

[2019-09-17 02:26] jiarongxu1 opened #17131 "TLSv1.3 support for client in istio proxy"
Hi Experts,
I have a requirement to initialize a TLSv1.3 connection to an external server using istio proxy, but I can not find a guide to configure this.

From the gateway configuration, [https://istio.io/docs/reference/config/networking/v1alpha3/gateway/#Server-TLSOptions](url)
There is a minProtocolVersion and maxProtocolVersion for the gateway server part.
But I can not find similar configurat

[2019-09-17 02:39] hzxuzhonghu commented on #17125
The root_namespace is `istio-system` by default. Unless user set it to "" by edit the configmap directly, it will never be empty.
[code]

[2019-09-17 02:44] hzxuzhonghu commented on #17105
Thanks for your info @esnible

[2019-09-17 02:55] hzxuzhonghu commented on #17087
yep, the multi-control plane dns model can be used in single-plane too.

[2019-09-17 03:21] hzxuzhonghu commented on #16442
I am sure we updated the mesh config in pilot without restart.

Agree we should remove the legacy `checksum/config-volume` annotation in pilot deployment.

[2019-09-17 03:29] hzxuzhonghu commented on #16873
cc

[2019-09-17 03:46] duanshiqiang opened #17135 "Stackdriver handler apiKey authentication doesn't work"
**Bug description**

When creating stackdriver telemetry (handler, instance and rules) to send metrics, logs and tracespans to stackdriver from non-GCP K8S cluster, using apiKey as authentication method doens't work.

Logs from mixer container:

[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Perfo

[2019-09-17 03:54] #16966 closed

[2019-09-17 03:57] bianpengyuan commented on #17135
API keys is only supported by very limited number of Google APIs: https://cloud.google.com/docs/authentication/api-keys. You should instead use service account: https://cloud.google.com/docs/authentication/production#obtaining_and_providing_service_account_credentials_manually. You could mount it as a secret to telemetry deployment.

[2019-09-17 04:06] duanshiqiang commented on #17135
@bianpengyuan I see, thanks for your reply. Then the blog post from google cloud medium is totally misleading. It give s reader the impression it's supported.

Then why istio stackdriver adapter includes apiKey as one of the config parameter if it's not supported? I hope the istio documentation can mention this to users.

[2019-09-17 04:07] duanshiqiang commented on #17135
Sorry to ask but to mount the service account json key into the telemetry deployment, any idea how we can archive via the helm installation?

[2019-09-17 04:15] bianpengyuan commented on #17135
Sorry I forget to copy the helm link here: https://github.com/istio/istio/blob/9e11075759f113c79a33801685d3bcf259b5a79f/install/kubernetes/helm/istio/charts/mixer/templates/deployment.yaml#L211.

Which blog are you referring to?

[2019-09-17 04:21] duanshiqiang commented on #17135
@bianpengyuan Oh, thanks! I am referring to this blog [Istio and Stackdriver ](https://medium.com/google-cloud/istio-and-stackdriver-59d157282258)

[2019-09-17 04:43] bianpengyuan commented on #17135
I guess API key used to work and should be supported by Stackdriver API. But the gRPC client library we are using stops supporting API keys. But anyway, service account should be used to achieve this.. I will update the doc to reflect that.

[2019-09-17 04:50] duanshiqiang commented on #17135
Cool!

On Tue, Sep 17, 2019, 12:44 PM Pengyuan Bian <notifications@github.com>
wrote:

[2019-09-17 08:02] sriman-biarca opened #17138 "By default, though *mixer.policy.enabled=false* istio deployment is creating pods related to policy"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
while installing Istio with helm, though the mixer.policy.enabled=false and mixer.telemetry.enabled=true, I'm able to see the deployments/pods relat

[2019-09-17 09:02] tibetsam commented on #15381
@tiswanso i'm not seeing same problem on 1.3.0
root@mastermint:~/istio-1.3.0/bin# ./istioctl proxy-status
NAME                                                   CDS        LDS        EDS        RDS          PILOT                           VERSION
istio-ingressgateway-7c4bbf46c9-fhmq8.istio-system     SYNCED     SYNCED     SYNCED     NOT SENT     istio-pilot-8c5b9b6c5-shrpb     release-1.3-20190916

[2019-09-17 11:15] lhotrifork opened #17139 "TLS connection failures after Istio 1.3 upgrade"
**Bug description**
After upgrading to Istio 1.3 our services are losing their database connections after what seems to be fixed intervals. This causes errors in the application, as it cannot write data using the already open connection - causing a RollBack of the transaction.
Downgrading to istio 1.2.5 resolves the problem.
Our setup is as follows.
AWS EKS.
Istio 1.3 with mTLS and global.outbound

[2019-09-17 11:18] lhotrifork commented on #17139
May be related to https://github.com/istio/istio/issues/15773, but I'm not sure.

[2019-09-17 11:22] wfwf1990 opened #17140 "404"
hello, Accessible through curl, not through browsers, and I don't want to solve this problem through *
Is there any other solution?

kubectl apply -f - <<EOF
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: httpbin-gateway
spec:
  selector:
    istio: ingressgateway # use Istio default gateway implementation
  servers:
  - port:
      number: 80
      name: http
      proto

[2019-09-17 12:16] dgn commented on #14661
I think the next API version for VirtualService should use `StringMatch` for all of these fields like upstream Envoy does now.

[2019-09-17 12:36] #16442 closed

[2019-09-17 13:46] howardjohn commented on #17140
That means you don't have a virtual service that matches the request

[2019-09-17 13:47] howardjohn commented on #17140
Closing this as working as intended. If you have any questions please feel free to open a topic on discuss.istio.io

[2019-09-17 13:47] #17140 closed

[2019-09-17 13:47] howardjohn commented on #17138
@mandarjog has said this is intended but I don't understand why. I am interested in this was well - I think we should remove it.

[2019-09-17 13:50] howardjohn commented on #17130
Why is the check not safe? all clusters are sent in a single push

[2019-09-17 14:16] esnible commented on #17130
@howardjohn Although the Issue was closed I observed in March that Envoy could not route traffic correctly for 2ms after config is pushed to it.  https://github.com/istio/istio/issues/11700#issuecomment-469375832

[2019-09-17 14:38] gswallow commented on #6486
This works for Istio 1.2.x and letsencrypt that comes bundled with it at least.  I could not get it to work with Istio 1.3.0; I have yet to figure out why.

Instead of Istio returning 503s for .wellknown... URIs, I get 404s, which indicates some kind of routing issue that I was unable to determine.  I wonder if ACME solver pod templates might be the solution?

https://github.com/jetstack/cert-mana

[2019-09-17 15:08] casparrolfe opened #17141 "Ability to deploy Citadel into own namespace with Helm install"
**Describe the feature request**
This is recommended by the documentation (see: https://istio.io/docs/concepts/security/#deployment-guidelines), but the helm chart only allows deployment into the release namespace.

**Describe alternatives you've considered**
N/A

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[X] Installation
[ ] Networkin

[2019-09-17 15:33] douglas-reid commented on #17118
This is not supported via helm. You'll either need to generate the yaml using `helm template` and then edit, or use kubectl.

[2019-09-17 15:54] rjshrjndrn opened #17143 "/etc/certs/cert-chain.pem not found in sidecar"
**Bug description**

**Shortform**
- ssl certificte in namespace istio-system where ingress-gateway is
- Gateway in `dev` namespace, where all application pods are running
- Side car is not starting

**Detailed Error log**
Created ssl certificate with certmanager(Bundled with istio v1.2.2)
secret in `namespace: istio-system` and gateway in `namespace: dev`
But when I'm creating a deployment, getti

[2019-09-17 16:02] ozevren opened #17144 "Test Failure: TestController_GetIstioServiceAccounts"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17142/racetest_istio/458

[code]

[2019-09-17 16:04] balamuru opened #17145 "Selective retries (on Idempotent methods) not working right"
**Bug description**
I would like to be able to configure RETRIES only for IDEMPOTENT methods . I have applied this in the virtual service but it appears that ALL methods (eg IDEMPOTENT GETS and NON-IDEMPOTENT POSTS) are retried

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X ] Networking
[ ] Performance and Scalability
[

[2019-09-17 16:07] howardjohn opened #17146 "Use explicit helm placeholder version"
Right now we have the version set to `1.1.0` in the helm charts, and then we replace this with the correct version at release time. So it is essentially a placeholder version, but it is very implicit. We should make this more explicit and set it to a version like 0.0.0-dev

[2019-09-17 16:11] ozevren opened #17147 "Test Failure: TestCrdsRetryAsynchronouslyStoreClose"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17121/unit-tests_istio/455

--- FAIL: TestCrdsRetryAsynchronouslyStoreClose (0.09s)
    store_test.go:534: got 5, want no more than 4 calls

[2019-09-17 16:21] howardjohn commented on #17145
I thought we could disable retries now since #14925.. Can you output the routes config? `istioctl pc routes POD -ojson`

[2019-09-17 16:23] howardjohn commented on #17143
Does it happen just at startup or does it never recover?

[2019-09-17 16:24] howardjohn commented on #17141
Please see https://github.com/istio/installer if you have not already

[2019-09-17 16:38] howardjohn commented on #17130
@esnible for inbound traffic you do not need ClusterLoadAssignment (EDS). For outbound traffic you do, but Envoy is not marked as ready until EDS is recieved. We do not check just CDS push occurred, we also read Envoy's internal "ready" status

[2019-09-17 16:40] balamuru commented on #17145
Ok, I got this working, had to tweak the config a bit

[code]

Results
[code]

[2019-09-17 16:41] tcnghia commented on #7136
@hzxuzhonghu any update on the status of this issue?  The workaround that @Stono shows here may stop working if using Istio 1.3's distroless images.

[2019-09-17 16:48] balamuru commented on #17145
Here's the output from the target pod (attached). Does it match up with the config ?

[2019-09-17 16:56] cart commented on #16890
I have replicated this in my AKS clusters

[2019-09-17 17:08] lambdai commented on #17130
Is the 503 happening only at scale up? Is there any other 503 after stabilization?
I dont know which thing is fishy but ingress listeners(and the envoy) should mark it ready only since clusters(including EDS cluster) are ready
@howardjohn Do we have scaleup test cluster so that i can fetch the log?

[2019-09-17 17:14] rjshrjndrn commented on #17143
It never recovered. To validate that, I deleted running pods prior to SSL enabling, And the new pods have the same Issue.

[2019-09-17 17:18] mrangana commented on #17047
I was under the impression that by default it would include the namespace of the control palne it is running. It works after including the istio-system to the list. Thanks!

[2019-09-17 18:00] pitlv2109 commented on #17108
I think we fixed it here https://github.com/istio/istio/pull/15199 but didn't cherry-pick it to 1.2.x :(

[2019-09-17 18:16] howardjohn commented on #17047
Glad its working now

[2019-09-17 18:16] #17047 closed

[2019-09-17 18:19] yangminzhu commented on #13565
@andrewridout @joberdick This should be supported in 1.4 which should be released in Nov. Reopen to keep tracking as I will add some e2e tests in Istio.

[2019-09-17 18:21] howardjohn commented on #17143
Do you have a secret named `ingress-cert`? `kubectl get secrets -n istio-system`

[2019-09-17 18:28] flythebluesky commented on #6655
Thanks for this suggestion but it's a one time deal - when the YAML is applied the apiCorsPolicy is populated for each match and saved, so it cannot be edited again after that. IMHO, I also agree it would be most useful to have the option to apply corsPolicy to all matches.

[2019-09-17 18:35] zachomedia opened #17148 "Unable to use Kubernetes ingress records in 1.3.0 without additional config"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

I updated one of our clusters to 1.3.0 (using Helm). We enabled k8s Ingress resources with the ingress controller.

After upgrading to 1.3.0, howev

[2019-09-17 18:41] #17145 closed

[2019-09-17 19:03] cart commented on #16890
Also: Istio 1.2.5 does work fine for me

[2019-09-17 19:34] cmanzi commented on #17028
My mistake, RBAC actually was enabled when I originally did this testing.

[2019-09-17 19:37] esnible opened #17149 "Integration test for Kiali"
This item is to create an integration test so that we know if there are incompatibilities between the version of Kiali that we ship.

For Istio 1.3 we had "last minute report about kiali not working: no release coordination with kiali except for community testing.   Was classified as P2 so no one picked it up.  No automated testing to cover it.  Solutions 1) be kiali agnostic, 2) incorporate kiali

[2019-09-17 19:43] jmazzitelli commented on #17149
We used to have an integration test that @gbaufake wrote a while ago. Not sure if that test somehow went away. But also, as I understand it, one problem wasn't that kiali wasn't starting or replying to requests; rather, it was because `kubectl dashboard kiali` was somehow creating a proxy that only forwarded or allowed http traffic (and because kiali by default was using https server-side, it was

[2019-09-17 19:45] #16873 closed

[2019-09-17 19:53] yangminzhu commented on #11929
closing the issue as the test `HTTPIngressGateway` is no longer flaky for now, there is some error in istioctl but is not specific or related to this test, https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/pilot-e2e-envoyv2-v1alpha3_istio/380:
[code]

[2019-09-17 19:53] #11929 closed

[2019-09-17 20:05] yangminzhu opened #17151 "egressgatway failed to deploy in tests due to unknown field "hot_restart_version""
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/pilot-e2e-envoyv2-v1alpha3_istio/447
[code]
and the egressgateway is failing with:
[code]

[2019-09-17 20:11] yangminzhu commented on #17028
@cmanzi Since the RBAC is working, could you get a config dump of the proxy? it should include the RBAC filter config at least. And more importantly, could you turn on the debug logging of the envoy, send some requests and get the log? We should at least see the RBAC logging there, and probably with some other information about why JWT policy is not enforced.

[2019-09-17 20:43] alexmsu commented on #16386
Thank you @PiotrSikora. Yes, it is in PERMISSIVE mode. If I turn it to DISABLE, am I able to bypass this issue?

[2019-09-17 20:51] gbaufake commented on #17149
@jmazzitelli
It still there on https://github.com/istio/istio/blob/master/tests/e2e/tests/kiali/kiali_test.go

[2019-09-17 21:09] howardjohn commented on #17151
The test failure is from https://github.com/istio/istio/pull/17132. Its not merged, the PR is just not ready to yet and has errors? Are you seeing this on a real cluster/postsubmit job?

[2019-09-17 21:09] #17151 closed

[2019-09-17 21:20] howardjohn commented on #17149
The test is pretty basic, it just checks that kiali doesn't crash

[2019-09-17 21:23] howardjohn commented on #17148
@ozevren do we need to add the default overrides linked above to https://github.com/istio/istio/blob/a19791b326977f47f17412211c09c03e2eecae12/galley/pkg/meshconfig/cache.go#L60 as well?

ref #16270

[2019-09-17 21:31] jarvisuser90 commented on #9504
I also see this same error.

When I describe my pod:
[code]

The istio-proxy log:
[code]

Here's the setup i'm using:
[code]

[2019-09-17 21:34] gbaufake commented on #17149
@howardjohn
Right.
At the time, it was submitted we introduced a basic test cover the kiali pod creation by helm charts.

[2019-09-17 21:38] howardjohn commented on #9504
This is fixed on Istio 1.3. Istio 1.1 is EOL in 2 days: https://istio.io/blog/2019/announcing-1.1-eol/.

If you see this issue on Istio 1.3+ please open a new issue

[2019-09-17 21:38] #9504 closed

[2019-09-17 22:24] gargnupur commented on #16167
@rphillipsz : In the second case how many istio-policy pods do you have?
Seems like https://github.com/istio/istio/issues/3028...

[2019-09-17 22:48] rjshrjndrn commented on #17143
Yeah I've. Only after that my https port opened.

[2019-09-17 22:53] howardjohn opened #17157 "ServiceEntry.location (MESH_EXTERNAL/MESH_INTERNAL) not used"
This field is no longer used in pilot except in tests. We should consider removing/deprecating/hiding from the docs.

[2019-09-17 22:56] howardjohn opened #17158 "Support new kubernetes resource EndpointsSlice"
https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190603-EndpointSlice-API.md adds a new API to Kubernetes. It has a lot of overlap with our ServiceEntry. It seems plausible that we could completely remove ServiceEntry in favor of the new API.

At the very least, we will need to update Pilot/Galley to understand EndpointSlices

Actions:

* [x] Initial support: https://githu

[2019-09-17 23:11] oke-py opened #17159 "grafana failed to start when helm install --set grafana.persist=true"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
With the option grafana.persist=true, grafana Pod failed to start (CrashLoopBackOff).
[code]

**Affected product area (please put an X in all that a

[2019-09-17 23:33] PiotrSikora commented on #15380
This should be fixed in the upcoming `1.3.1` release (https://github.com/istio/envoy/pull/106) and `master` branch (https://github.com/istio/proxy/pull/2421, which includes sync with upstream).

@istio/release-managers-1-3 it's probably worth noting that this regression in `1.3.0` was fixed in `1.3.1`.

[2019-09-17 23:54] fangpenlin commented on #6486
@gswallow I also failed to make it works with 1.3.0. It seems like the traditional K8S ingresses are not converting to gateway and virtual host automatically with 1.3.0. Not sure is that a bug of 1.3.0 or is this something people expected?

[2019-09-17 23:58] howardjohn commented on #6486
@fangpenlin can you look at  https://github.com/istio/istio/issues/17148 and see if setting those values in the mesh config (`istio` configmap) fixes the problem? We may have erroneously changed the default value breaking inrgess

[2019-09-18 00:53] mtho11 commented on #17149
CC: @lucasponce

[2019-09-18 02:05] xiaozhongliu opened #17162 "Internal error occurred: failed calling admission webhook "pilot.validation.istio.io""
**Bug description**
Cannot apply some configs after upgrading istio from 1.1.8 to 1.2.5 with the following error:
*Error from server (InternalError): error when creating "src/script/istio-config/isolated-gateway.yml": Internal error occurred: failed calling admission webhook "pilot.validation.istio.io": Post https://istio-galley.istio-system.svc:443/admitpilot?timeout=30s: dial tcp 172.22.0.246:44

[2019-09-18 02:14] duderino commented on #16357
1.1.15 and 1.2.6 are out.  1.3.1 should be out this week or early next at the latest (@rlenglet)

[2019-09-18 02:38] howardjohn commented on #17162
Interesting, can you provide some more info like `kubectl logs galley`, `kubectl get pod galley -oyaml`

[2019-09-18 02:45] #16674 closed

[2019-09-18 03:10] xiaozhongliu commented on #17162
Galley logs with "err" keyword, comparison between problem one (up) and normal one (down):
![image](https://user-images.githubusercontent.com/17674404/65104584-8fdf2100-da04-11e9-824c-290a48d017ca.png)

And the yaml:
[code]

[2019-09-18 03:24] howardjohn commented on #17162
`    - --enable-validation=false` seems the culrpit

[2019-09-18 03:45] osswangxining commented on #17162
Yes, this is migrated from previous version which enabled the validation, but currently the configuration does not enable it while the ValidatingWebhookConfiguration resource is not removed together.

Resolution:
option 1: set --enable-validation=true
option 2: remove ValidatingWebhookConfiguration istio-galley by using kubectl

[2019-09-18 05:06] dmukundan opened #17163 "TCP traffic from sidecars to the egress gateway not working for External Redis"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

Hi,

I have configured the ServiceEntry, VirtualService, DestinationRule(s)  as per the istio documentation : https://preliminary.istio.io/blog/201

[2019-09-18 05:59] yxue commented on #17102
@sanamsarath The problem is the `PassthroughCluster`. `PassthroughCluster` uses HTTP1 as the HTTP proxy. Envoy will create the connection pool according to the feature of the cluster

https://github.com/envoyproxy/envoy/blob/90419781c39d6576206f0b2e21a8fe3db7be874f/source/common/router/router.cc#L540

The `PassthroughCluster` doesn't have the HTTP2 option, default HTTP1 codec client will be used t

[2019-09-18 06:01] yxue commented on #17102
BTW, if you define the service in the mesh, the `route_config 8080` should contains one entry whose virtual host contains the IP and host name of the service. You can check the Pilot log to see if the virtual host is generated correctly.

[2019-09-18 06:27] ravibagri5 opened #17164 "Kong Ingress controller is unable to route request to Istio virtual services"
We’re running Istio service mesh on Kubernetes and Kong as API gateway and ingress controller for our K8S cluster.
We’ve created virtual services and destination rules for our micro-services and communications between our micro-services are working as expected except Kong is sending traffic directly to Upstream server instead of applying the virtual service and destination rules.

**Scenario**
We

[2019-09-18 06:42] iandyh commented on #17130
@lambdai @howardjohn in 1.2.5, the issue can be steadily reproduced but in 1.3.0 it becomes harder.

My initial guess is that the listeners/clusters/endpoints are on the way to Envoy while internal marks it as update_success. From previous thread, it looks like this is NOT the case though.

But if it's 503, which means it is missing either the cluster or the endpoints?

[2019-09-18 06:50] clyang82 commented on #17072
@xauthulei Does it share the same error you appended above? What is your progress right now?

[2019-09-18 07:09] #16370 closed

[2019-09-18 07:21] xauthulei commented on #17072
@clyang82 , Thanks for your caring. Yea, it is same errors. Now I am still confuse how to build the images for different os arch.

[2019-09-18 07:33] aroundthecode opened #17165 "Virtualservices/Destination rules not working after 1.2.5 upgrade"
**Bug description**

I’ve recently upgraded my istio setup from 1.0.5 to 1.2.5, basically running a fresh setup.

After that my set of VirtualServices / Destination rules seems to be totally ignored.

I’ve a Kong Api gw with istio sidecar acting as a ingress and a couple of nginx labelled “version: green” and “version: blue” I want to access via a given header “nginx” (green is the live one, blue

[2019-09-18 07:39] 13567436138 opened #17166 "helm install istio show error"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ...] Installation
[ ] Networking
[ ] Per

[2019-09-18 07:52] 13567436138 opened #17167 "info: skipping unknown hook: "crd-install""
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Perfor

[2019-09-18 07:52] 13567436138 commented on #17167
helm3.0.0.beta3

[2019-09-18 07:58] lucasponce commented on #17149
@esnible @howardjohn I've created an action in Kiali to not miss this one.
Definetely we may want to enrich the integration tests, with the backend API we can check a major set of features.

I don't know if Istio has some support for UI support, but I guess we can rely on Kiali Integration tests for the UI.

One action that probably would help if how we could automate that when there is some probl

[2019-09-18 08:06] Jumwah commented on #14969
Exactly the situation I'm in. I want to protect grafana, kiali and jaeger with our Google accounts, but cannot. Seems like a weird omission. I'm stuck having to ask people to port forward to access these tools :(

[2019-09-18 08:09] casparrolfe commented on #17141
Excellent! Thanks, John. Would you consider this method of installation stable enough for production use?

[2019-09-18 09:03] xxlaila opened #17168 "helm install istio bookinfo-gateway error"
[code]
The prompt information is as follows:
[code]
Bookinfo-gateway.yaml content is
[code]
istioctl version
[code]
helm version
[code]

Can you help me, thank you! ! !

[2019-09-18 09:21] saturnism commented on #17057
proxying all port was one of the ideal situation discussed w/ @lei-tang; i haven't tried it yet, but i hope the proxy also refuses ports that aren't available in the pod.

will give this a try.

[2019-09-18 09:42] xxlaila commented on #17168
K8s high availability using haproxy proxy, I modified haproxy's super time, the above error is solved. However, the following error occurred again
[code]

[2019-09-18 12:19] donbowman commented on #14969
We can post the lua filter we did, achieves exactly this goal. Grafana + Prometheus + Kibana, those tools, we expose them behind a blanket oauth2 layer.

[code]

[2019-09-18 12:29] klarose commented on #14969
A few challenges we had with that, that I think istio embedding this directly in proper configuration/CRDs would solve:

* If we forgot to define the ServiceEntry, the lua filter would fail and just allow traffic through.
* There's a lot of 'templating' we're doing here to work around the fact that it's not easy to substitute environment-specific information into the lua filter.
* You can't really

[2019-09-18 13:03] dmukundan commented on #17163
Correction to the Link used : https://preliminary.istio.io/blog/2018/egress-mongo/#direct-tcp-egress-traffic-through-an-egress-gateway

[2019-09-18 13:45] kylebevans opened #17171 "Intermittent http failures to 169.254.169.254 on EKS for AWS instance metadata"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

After upgrading to istio 1.3.0 (previously 1.1.7), http connections to 169.254.169.254 in all namespaces would intermittently fail. The envoy access log shows "UH" whic

[2019-09-18 13:59] frankbu commented on #16522
@cmanzi Can you show us your `api-exchange` service definition? I'm wondering if the `port` and `targetPort` are different, which could be exposing a bug with headless (that is, clusterIP: None) services.

[2019-09-18 14:02] frankbu commented on #16522
^^^ Sorry, my above question was for @MiguelRexAlu (not @cmanzi).

[2019-09-18 14:06] howardjohn commented on #17130
Oh I think that could be because we actually only check Envoy internal "ready" state in 1.3, so your description probably is accurate in 1.2 but 1.3 behaves differently?

[2019-09-18 15:00] sanamsarath commented on #17102
@yxue
Hmmm... I tried the HTTP2 requests on some random ports that have no listeners defined for in the envoy proxy and they seem to work fine, even though  they are hitting the "PassthroughCluster".
for example I tried HTTP2 traffic on port 15021 and the request has not been downgraded to HTTP1.1.

The call flow for this traffic is
[code]

[2019-09-18 15:23] howardjohn opened #17172 "Istioctl should display data plane version/version skew"
Right now it is very easy to have version skew between control plane and data plane, but we don't expose this through istioctl in a straightforward way. Users would need to run `istioctl version` + `istioctl ps` and compare the output. This often leads to hard to debug errors.

My sketch of this:

[code]

[2019-09-18 15:23] xiaozhongliu commented on #13326
I see 1.3 is already released, now how should I do to get the first ip from request.headers["x-forwarded-for"] ?

[2019-09-18 15:23] howardjohn opened #17173 "Grafana dashboard should display proxy version"
Highly related to https://github.com/istio/istio/issues/17172

Right now the dashboard shows control plane versions, but we don't expose data plane versions. This would be very useful

[2019-09-18 15:25] howardjohn opened #17174 "`istioctl version` does not display version of ilbgateway deployment"
Install with values:
[code]

Then run `istioctl version`

[code]

I think this also applies to nodeagent, although I haven't reproduced this recently

[2019-09-18 15:31] yxue commented on #17102
@sanamsarath because when you tried on port 15021, the traffic will be forwarded as TCP proxy.

[code]

[2019-09-18 15:34] howardjohn commented on #17149
@lucasponce notifications of all postsubmit test failures are sent to the google group `istio-oncall`. This produces a lot of emails every day so I doubt many subscribe to this, but I actually look at every failure. This is an area we have been working on a lot -- if you look at PRs youll notice many are actually passing all tests -- a few months ago this literally never happened. In postsubmit we

[2019-09-18 15:39] howardjohn commented on #17141
The istio/installer is the backer for the operator which is an alpha: https://istio.io/docs/setup/install/operator/

I would encourage you to try it out, but not depend on it for production

[2019-09-18 15:44] howardjohn opened #17175 "Flaky test: TestStreamSecretsForGatewaySds"
This blocked a daily build of master: https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio-releases_pipeline/1219/unit-tests_pipeline/8

[2019-09-18 16:00] rphillipsz commented on #16167
In both cases, a single istio-policy pod.

[2019-09-18 16:24] ericvn opened #17178 "Download scripts are inconsistent"
**Bug description**

There seems to be a disconnect between https://git.io/getLatestIstio and the file, _downloadIstioCandidate.sh_, it points to. The file name and comments imply that they should be getting the _latest?_ release candidate while the shortened URL implies that one should get the latest Istio release. The fiIe itself was recently updated to get the release and not candidate versions

[2019-09-18 16:42] dwradcliffe commented on #14110
Oops, I didn't realize it was reverted. I'm not using this anymore so I'm not sure if anyone else fixed it. Sorry!

[2019-09-18 16:52] ericvn commented on #17178
There was discussion in the Istio Slack on this between myself, @geeknoid and @fpesce.

Make updates to get the above **Expected behavior**.

[2019-09-18 17:09] MiguelRexAlu commented on #16522
@frankbu Hello, I think @cmanzi  have a differente problem.

Here you can find my api-exchange definition befor I removed `ClusterIP:None` tag:

[code]

This is my new definition:

[code]

[2019-09-18 17:11] howardjohn commented on #17167
This is a known hook: https://github.com/helm/helm/blob/master/docs/charts_hooks.md#the-available-hooks

Seems we don't support helm 3.

We are going to remove all helm specific stuff in the future -- you can still use helm but we won't have any hooks. See https://github.com/istio/installer

[2019-09-18 17:22] linsun opened #17181 "consistentHashLB doesn't work"
**Bug description**
I have 2 versions of my trade services and I'm trying to apply soft sticky session via consistentHashLB so that after a user logs on, it will stick to a given version of the trade service.  Currently, I don't see it sticky and it changes to v1 or v2 based on what I configured as part of canary test.

I also checked cookie is added to the header, something like this:

``` Cookie

[2019-09-18 17:24] linsun commented on #17181
my VS for canary 80-20 test.

[code]

If I use firefox as the user-agent for testing v2 and everything else default to v1, that works great.

[2019-09-18 17:27] gargnupur commented on #13326
I don't think it's ready yet. https://github.com/istio/istio/issues/2802 was supposed to track that feature request but stale bot closed that issue. @kyessenov does that sound right?

[2019-09-18 17:27] rjshrjndrn commented on #17143
Okay I've found the issue.
While trying to create ssl with certmanager, in the documentation, it was mentioned to enable sds.
Which I enabled in values.yml file of istio chart. But we've to change the sds in `gateway` chart. That was quite confusing. And after a toil of trial and error fixed the issue.

**For Whoever try to create SSL certificate with certmanager and istio, this is what worked for

[2019-09-18 17:27] #17143 closed

[2019-09-18 17:28] rlenglet commented on #15380
@PiotrSikora could you please add an item about this fix in the [1.3.1 release note draft](https://github.com/istio/istio/wiki/Release-Note-1.3.1-Draft)?

[2019-09-18 17:31] howardjohn opened #17182 "TestMetricExpiration unit/race test flakes - TEST SKIPPED"
Postsubmit: https://testgrid.k8s.io/istio-istio-postsubmit#unit-tests_istio_postsubmit&exclude-non-failed-tests=&width=20
Presubmit: https://testgrid.k8s.io/istio-istio#unit-tests_istio&exclude-non-failed-tests=&width=20

This shows ~5 failures per day

Example failure: https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17043/unit-tests_istio/500

[2019-09-18 17:31] linsun commented on #17181
[code]

[2019-09-18 17:33] venomwaqar commented on #17123
@incfly okay yeah SDS fixed it.
Although I was wondering even if the file is update in the ingress-gateway pod after the secret is updated, it should present the latest cert.

Anyways thanks :-)

[2019-09-18 17:34] esnible commented on #17149
@jmazzitelli Is there an issue for the problem with `istioctl dashboard kiali`?

The command just does a port-forward to <kiali-pod>:20001, and then opens the browser to that address prefixed with `http:`.  I could see it failing if Kiali is serving HTTPS on 20001.

[2019-09-18 17:37] frankbu commented on #17181
Duplicate of https://github.com/istio/istio/issues/9764

[2019-09-18 17:37] howardjohn commented on #17166
Please follow https://istio.io/docs/setup/install/helm/, you need to install istio-init first

[2019-09-18 17:38] howardjohn commented on #17168
It sounds like this is strictly a kubectl/kubernetes issue -- can you apply other configs, or just not Istio configs?

[2019-09-18 17:42] FrederikNS commented on #14636
I have created a discussion topic in the forums about this, and am also offering to implement the feature. However I would like to have an agreement on the implementation method, before starting work on this.

https://discuss.istio.io/t/making-istio-a-drop-in-replacement-for-other-ingress-controllers/3827

[2019-09-18 17:43] mrangana opened #17183 "Installation of 1.3.0 does not complete with SDS config"
**Bug description**

Installation of 1.3.0 does not complete with generated SDS config. Ingress, pilot, policy and telemetry pods are stuck at creating status.

# kubectl get pods -n istio-system
NAME                                      READY   STATUS              RESTARTS   AGE
istio-citadel-56c4574585-rblks            1/1     Running             0          5m23s
istio-cleanup-secrets-1.3.0-t4tb

[2019-09-18 17:45] howardjohn commented on #17164
So your setup is: outside world -> Kong (with no Istio) -> Service (with sidecar)? Then it makes sense virtual service would not be applied -- they are on client side only and Kong does not have a sidecar. You would either need a sidecar with kong (not sure if feasible), use istio ingessgateway, or use ingressgateway + kong.

[2019-09-18 17:46] linsun commented on #17181
Thank you @frankbu I will close it.

[2019-09-18 17:46] #17181 closed

[2019-09-18 17:47] ericvn commented on #17178
One thing with the current scripts is that we can get an error on the _curl_ which prevents the script from working as expected:

[code]
===>
./downloadIstioCandidate.sh                                                                                                               12
Unable to get latest Istio version. Set ISTIO_VERSION env var and re-run. For example: export ISTIO_VERSION=1.0.4

[2019-09-18 17:49] jmazzitelli commented on #17149
That would be the problem then - it should have been opening it to use `https`.  But I think the helm chart has been changed to now start Kiali unsecured, so I am not sure if there is anything to do now. See the istio 1.3 branch - here you see the helm chart now installs Kiali without https: https://github.com/istio/istio/blob/release-1.3/install/kubernetes/helm/istio/charts/kiali/values.yaml#L61

[2019-09-18 17:57] sanamsarath commented on #17102
Adding a service in the mesh will definitely create a route_config, but our use case is that we don't know the url or destination address of the application beforehand to create the service, application
learns it during runtime.

[2019-09-18 17:58] therealmitchconnors opened #17185 "Adding First meshNetwork entry creates outage"
**Bug description**
If you have a working mesh with no named networks in the meshNetworks file, and then add an entry to that same file and redeploy pilot (so that it now loads the named networks), pilot will begin rejecting all xDS requests from the existing sidecars, which have no named network, causing them to become unavailable.

**Affected product area (please put an X in all that apply)**

[

[2019-09-18 18:09] sanamsarath commented on #17102
@yxue Is it possible to add a match condition in the listener "0.0.0.0_8080" to apply http filters only to istio traffic or or any other known service defined in the mesh for port 8080, and for all other traffic let it go via "PassthroughCluster" as TCP proxy connections??
and same can be done with other listeners that are created for the istio internal service purposes.

Because, applications run

[2019-09-18 18:13] linsun opened #17186 "Enable proxy trace easily for a given deployment"
**Describe the feature request**

We sometimes need to enable trace just for a deployment, for example, when debugging https://github.com/istio/istio/issues/17181 there is a need to enable trace for istio-ingress gateway to see if envoy complains, after checking the proxy-config on istio-ingress gateway pod is valid.

Chatting with @GregHanson - Currently workaround is to ssh into the pod and run

[2019-09-18 18:14] JimmyCYJ commented on #17123
Thanks for looking into this @incfly ! Closing this issue now.

[2019-09-18 18:14] #17123 closed

[2019-09-18 18:21] JimmyCYJ commented on #17175
@pitlv2109 since you add this test recently, could you please take a look?

[2019-09-18 18:31] bianpengyuan opened #17188 "Ship stats filter and metadata exchange filter WASM files with istio-proxy"
Minimum steps to ship the WASM files with proxy:
- [ ] Add an integration test in istio/proxy for the WASM based filters.
- [ ] Build and push the WASM files to the same GCS bucket as proxy artifacts.
- [ ] Download the WASM files and add those WASM files in istio/istio.

cc @jplevyak @PiotrSikora @duderino @mandarjog @kyessenov

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Netwo

[2019-09-18 18:38] pitlv2109 commented on #17183
You need to add some flags to your api server deployment. For more information, please take a look https://istio.io/blog/2019/trustworthy-jwt-sds/

[2019-09-18 18:40] pitlv2109 commented on #17108
We will most likely have this ready for 1.2.7 (but 1.3 already has it)

[2019-09-18 18:55] howardjohn commented on #16873
Confirmed this fixed the ACK ERRORS about certs not found on upgrades as well

[2019-09-18 18:58] #14437 closed

[2019-09-18 19:30] Ciantic commented on #17167
If it's not too difficult to update the old charts to work with helm3, it could be a worthwhile. Especially as the new installer is not usable or documented yet.

Only thing I can think of is to install helm2 in order to install istio with customizations.

[2019-09-18 19:39] howardjohn commented on #17167
We have no desire to support/depend on any helm features (hooks or otherwise) - only things that work with helm template. We unfortunately still do have some still around but we will be shipping the operator as default very soon

[2019-09-18 20:12] jarvisuser90 commented on #17143
I was also having the same problem. The problem was the same as @rjshrjndrn. I was following the documentation, and it said to enable SDS in the gateway. However, I enabled it in the gateway and also at the global scope as well, and this caused the error above.

I removed the following code from my values.yml file and everything worked:
[code]

[2019-09-18 21:16] davidsmd commented on #16218
Any information on this?

[2019-09-18 21:38] PiotrSikora commented on #15380
@rlenglet I think you meant @dgn.

[2019-09-18 22:37] pitlv2109 commented on #17183
I'll close this issue for now. Feel free to re-open it.

[2019-09-18 22:37] #17183 closed

[2019-09-19 00:03] sushicw opened #17195 "Analyzers should be configurable"
**Describe the feature request**

We should have a mechanism to make analyzers configurable. See https://github.com/istio/istio/pull/17192/files#r325928111 for context and an example where this makes sense.

**Affected product area (please put an X in all that apply)**

[X] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Teleme

[2019-09-19 00:09] howardjohn commented on #9906
Its very possible there are still issues that may cause 503s - generally all envoy errors are exposed as 503s so its kind of a catch all situation. At this point, I doubt any issues experienced now are the same as the original issue, or that many will notice comments on such an old issue. If you are still seeing issues, I would encourage you to open a new issue with a lot of information - especial

[2019-09-19 00:09] #9906 closed

[2019-09-19 00:10] #13703 closed

[2019-09-19 00:10] #13968 closed

[2019-09-19 00:10] howardjohn commented on #14537
Presumed fixed in 1.3 -- please open and issues and mention me if you are still seeing issues

[2019-09-19 00:10] #14537 closed

[2019-09-19 00:10] ayj opened #17196 "well-known secret and configmap labels/keys should be moved to istio/api"
Annotations have already been moved and documented in https://github.com/istio/api/blob/master/annotation/annotations.yaml. We should consider doing the same for well-known Istio labels. Some examples:

- ca.istio.io/env
- ca.istio.io/override
- security.istio.io/mtlsReady
- istio/multiCluster
- istio/injection

[X] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performa

[2019-09-19 00:10] #15185 closed

[2019-09-19 00:15] #16774 closed

[2019-09-19 00:21] #16220 closed

[2019-09-19 00:22] #16426 closed

[2019-09-19 00:22] #16623 closed

[2019-09-19 00:22] #16751 closed

[2019-09-19 00:22] #16933 closed

[2019-09-19 00:22] howardjohn commented on #17085
Can you add logs?

[2019-09-19 00:28] howardjohn opened #17199 "Need tests/maintainer for TPROXY"
Currently we have a proxytproxy image that we ship. It has been broken many times, failed to get security patches, etc, because we have no maintainer for it.

We either need to have someone dedicate some time to maintaining this, including adding tests, or remove the feature as we cannot adequately support it right now.

[2019-09-19 00:29] howardjohn commented on #2310
https://istio.io/docs/tasks/traffic-management/ingress/ingress-certmgr/

[2019-09-19 00:29] #2310 closed

[2019-09-19 01:15] howardjohn commented on #14391
This sounds like its not resolving in DNS. Unlike a kuberetes Service, a ServiceEntry will not create a DNS entry for you

[2019-09-19 01:31] xiaozhongliu commented on #13326
Ok now let's forget all of that, could you help to answer this:
What's the right way to realize client ip whitelist, other than source.ip indicated in the official sample?

[2019-09-19 01:31] howardjohn commented on #13263
I don't think we have any demand for this anymore

[2019-09-19 01:31] #13263 closed

[2019-09-19 01:39] howardjohn commented on #13313
See https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#HTTPFaultInjection-Delay, you need to set the percentage. By default this is 0%.

I just verified on Istio 1.3 with:

[code]

[2019-09-19 01:39] #13313 closed

[2019-09-19 01:41] howardjohn commented on #14552
I think the current plans are to only support the base Ingress features. If you want to use advanced Istio features you would need to use Istio ingrss

[2019-09-19 01:41] #14552 closed

[2019-09-19 01:42] howardjohn commented on #12949
This was found on a now unsupported version and doesn't have enough info to drive action from. If you run into this in the future please get config dumps https://github.com/istio/istio/wiki/Troubleshooting-Istio#collecting-information-2

[2019-09-19 01:42] #12949 closed

[2019-09-19 01:49] howardjohn commented on #15329
I don't think there is any action items from this. Thanks for the report though, very useful

[2019-09-19 01:49] #15329 closed

[2019-09-19 01:53] ravibagri5 commented on #17164
@howardjohn  Kong is also in istio mesh, i.e running with a sidecar. I thought about putting an ingressgateway in front of kong which would bind to kong virtual service only. But in that case, I won't be able to use Kong as API gateway in true sense as all the traffic would be getting landed on ingressgateway LB first. Also, it would add an extra network hop.
FYI, I'm using kong ingress controller

[2019-09-19 01:53] howardjohn commented on #15145
It looks like this was resolved with no follow up

[2019-09-19 01:53] #15145 closed

[2019-09-19 01:56] howardjohn commented on #17164
Interesting, I would look at the config of the Kong sidecar - istioctl pc routes POD -ojson and compare to one that behaves as expected

[2019-09-19 02:02] #17166 closed

[2019-09-19 02:05] ravibagri5 commented on #17164
`            {
                "name": "sms-notification-service.hyke-stage.svc.cluster.local:80",
                "domains": [
                    "sms-notification-service.hyke-stage.svc.cluster.local",
                    "sms-notification-service.hyke-stage.svc.cluster.local:80",
                    "sms-notification-service.hyke-stage",
                    "sms-notification-service.hyke-stage

[2019-09-19 02:30] jacexh commented on #16357
this issue still occurred after upgrade to version `1.2.6`:

[code]

[code]

[2019-09-19 02:40] duderino commented on #16357
@jacexh I walked through all the shas in the 1.2.6 release and verified that https://github.com/istio/envoy/commit/52a3903a6aa0db5025f5b3efc6f0ed270ff14546 is included in it.

When you upgraded to 1.2.6, did you complete this step?  https://istio.io/docs/setup/upgrade/steps/#sidecar-upgrade

[2019-09-19 03:01] xiaozhongliu opened #17202 "IP whitelist does not work for a specific IP"
**Bug description**
IP whitelist does not work for a specific IP

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[X] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
IP whitelist works for a specifi

[2019-09-19 03:17] inewlife commented on #7242
Why no one can fix this bug

[2019-09-19 03:30] xiaozhongliu commented on #17202
Neither works for ip range like:
[code]

[2019-09-19 03:40] phlukman commented on #13840
hello
I've been struggling with this issue in EKS for ages, and I've tried the following options:

1- Using Weavenet instead of using the AWS CNI: Istio works but the automatic proxy injection does not. Need to create the workload with manual injection of the proxy.
2- Tried the customized variant of AWS CNI as described in this link:
https://docs.aws.amazon.com/eks/latest/userguide/cni-custom-net

[2019-09-19 03:49] hustshawn commented on #13840
@phlukman Same problem faced as you did.  That is exactly [this ticket](https://github.com/istio/istio/issues/16434) mentioned. Just confused why the communities redirect me here.

[2019-09-19 03:52] hustshawn commented on #13840
@phlukman It looks like not the issue from `kubernetes`, since the cluster I setup with `kops` (same k8s version)works perfectly. It only exists when Istio works on the EKS and Weave overlay networks.

[2019-09-19 03:55] phlukman commented on #13840
yes, as for Weave, the reason I discovered is that apparently it implements a network policy whereby port 443 on pods are blocked. I ran a nmap scan on the Istio-injector pod with and without  weave net in a 1.13 EKS cluster and found out that issue. with AWS CNI, port 443 is not blocked. so, that for me,  explain the issue of the automatic proxy injection not working with weave net.

[2019-09-19 03:57] phlukman commented on #13840
I'll be trying flannel and calico next and see if I find the same issues....

[2019-09-19 05:07] fangpenlin commented on #6486
@howardjohn I will give it a try and let you know

[2019-09-19 05:42] FengyunPan2 opened #17204 "tracing.service.type is invalid"
**Bug description**
After deploying istio and tracing service, the service type seems wrong.
1.deploy:
\# helm template install/kubernetes/helm/istio --name istio --namespace istio-system ... --set grafana.service.type=NodePort **--set tracing.service.type=NodePort  --set tracing.service.externalPort=9411** ... | kubectl apply -f -
2.check service and port
\# kubectl get service -n istio-system  |

[2019-09-19 06:03] ddebasilio commented on #17202
`123.321.123.321` is not a valid ip address neither is `123.321.123.321/24` 321 >255

[2019-09-19 06:31] tetsuya28 opened #17207 "Can I use `*` more than once in rule matching"
**Bug description**
I want to use rate limit with redisquota.
And, I wrote the following rule with double `*`, it does not work.
Istio returns status `200`
With single `*`, it worked without any other changes.
For example, `"*curl"`.

[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and

[2019-09-19 06:57] iandyh commented on #17130
@howardjohn Yes. 1.2 definitely has issues. Does this require pilot to have 1.3 as well?

Is this check at Envoy or at pilot-agent?

[2019-09-19 07:19] andraxylia commented on #15745
This should be now fixed by #7890

[2019-09-19 07:19] #15745 closed

[2019-09-19 07:35] xiaozhongliu commented on #17202
@ddebasilio Cos I don't want to expose the real public ip here.

[2019-09-19 08:37] waret commented on #17207
Based on the following code, I think istio for now support only one `*`, prefix or suffix.

https://github.com/istio/istio/blob/e4f1f0fdbb2e8e7c70078931e235bd26c5e93ad8/mixer/pkg/lang/cel/functions.go#L62

[code]

https://github.com/istio/istio/blob/e4f1f0fdbb2e8e7c70078931e235bd26c5e93ad8/mixer/pkg/lang/externs.go#L343

[code]

[2019-09-19 08:44] waret commented on #17202
Maybe you can check the codes here, and write a test with you own public ip.

https://github.com/istio/istio/blob/e4f1f0fdbb2e8e7c70078931e235bd26c5e93ad8/mixer/adapter/list/ipList.go#L36-L60

[2019-09-19 08:49] hzxuzhonghu commented on #7136
@tcnghia FYI #11485

[2019-09-19 09:07] hzxuzhonghu commented on #17102
The allow_any is to allow access any unknown service, maybe those mesh external ones.

[2019-09-19 09:10] An0nymous0 opened #17208 "Operator CLI Installation Support ingressgateway nodeprot"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

Operator CLI Installation Support ingressgateway nodeprot

**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[x] Configuration Infrastructure
[x] Docs
[x] Installation
[ ] Networking
[ ] Per

[2019-09-19 09:12] yakult1995 commented on #17207
@waret thanks.
Do you know there is a plan to implement the multi wildcard in the rule or not?
I think that it is more convenience that we can use regex.

[2019-09-19 09:26] MVJosh commented on #16851
It's the default value being set from the Elasticsearch Helm chart: https://github.com/elastic/helm-charts/blob/8502b6f5224e51b228c13e21681770c03e337fb8/elasticsearch/values.yaml#L128

[2019-09-19 09:31] Nielsoux commented on #16944
It looks to be working,

We have now 3 EKS clusters,

For the principal cluster, We followed the doc as is, using the DNS Hostname of the loadBalancer exposing the istio-ingressgateway for the "network1" address in the istio configMap

For the secondary clusters:

We changed the helm templates to:

- [endpoints](https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/templates/end

[2019-09-19 10:44] mazzy89 commented on #16944
So you then have used `LOCAL_GW_ADDR` in `remotePilotAddress`, `remotePolicyAddress` and `remoteTelemetryAddress` right?

[2019-09-19 12:18] MrSaints commented on #17028
May not be related, but I noticed the JWT policy does not work well when there are two services (with different names) pointing to the same application, and same ports, for example:

[code]

With the above, the policy does not take any effect. But if we change one of the port number (e.g. `port: 80`), it will work again

(BTW, the context behind having two services in the above example is to handl

[2019-09-19 12:37] Rettpa opened #17210 "Access Service with Domain Name + Custom Port"
[code]

Yaml's configuration file is as follows. I want to access the service by using domain name + port, but
Services cannot be accessed through this domain name in the browser: http://istio01.test.com:31380
If hosts use "*", they can be accessed normally.
istio version 1.2.2
k8s version 1.14.0

[2019-09-19 12:53] Nielsoux commented on #16944
@mazzy89 Yes, once I edited the helm templates I use the same command as stated in the documentation :)

[code]

The override.yaml file being
[code]

[2019-09-19 13:03] jwendell commented on #13179
Have you guys tried adding a destination rule for the mirror host? Something like:
[code]

[2019-09-19 13:13] sanamsarath commented on #17102
@hzxuzhonghu

I have allow_any enabled in my config. The issue is that the requests are being forwarded as HTTP proxy instead of TCP proxy by proxy sidecar, which is causing the downgrade of HTTP2 to HTTP1.1

[2019-09-19 13:16] santhosh-git commented on #16943
It's not properly documented :(

[2019-09-19 13:26] MrSaints commented on #8496
Just to clarify, what do we mean by "workload" here? As in, the app name?

[2019-09-19 13:38] xiaozhongliu commented on #17202
@waret Thanks for ur reply, but sorry I'm not familiar with go.
Could any guy help to tell what is wrong with my ip format?

[2019-09-19 13:52] howardjohn commented on #17130
It's pilot agent reading envoy /server_info.

[2019-09-19 13:53] howardjohn commented on #17130
Pilot 1.3 also has improvements where it will determine inbound listeners from the ndke metadata instead of pod information, so we don't have the issue when we send incomplete LDS

[2019-09-19 14:14] 1032231418 opened #17212 "Python client for Istio"
hi:
    Would you consider a python client?

[2019-09-19 14:47] dgn commented on #15380
@PiotrSikora @rlenglet I'm afraid I don't have commit rights to the wiki and GitHub does not support PRs for wikis. Here's a patch with the note added: https://gist.github.com/dgn/034a484714029d22874e2a5322120bc5

[2019-09-19 15:01] rlenglet commented on #15380
@dgn Added, thanks!

[2019-09-19 15:05] howardjohn commented on #14245
With a bit of sudo this works, instructions added to: https://github.com/istio/istio/wiki/Analyzing-Istio-Performance#memory-1

[2019-09-19 15:05] #14245 closed

[2019-09-19 15:42] howardjohn commented on #16887
Regarding the flow of a release:

Current daily: we have a periodic job that opens a PR to point to the latest sha, then tests are run against that and automerged once passing. In postsubmit they are published
Current official: manually open a pr to point to the latest sha, tests are run against that and automerged once passing. In postsubmit they are published

(note: there is actually some publi

[2019-09-19 15:45] howardjohn commented on #15359
Also https://istio.io/blog/2019/announcing-1.1-eol/
I don't think this bug exists anymore. If it does on new versions, please create a new issue and I will take a look. Thanks!

[2019-09-19 15:45] #15359 closed

[2019-09-19 15:50] howardjohn commented on #17158
Test using kind:

[code]

`kind create cluster --image aojea/kindnode:latest --config config.yaml` (there is not official 1.16 node image yet, config.yaml refers to above)

[2019-09-19 16:23] sushicw commented on #17036
https://github.com/istio/istio/pull/17214 is pretty effective, bringing the 8 seconds down to about 1.5.

[2019-09-19 16:47] linsun opened #17215 "httpprob doesn't work per deployment"
**Bug description**

I have health check on my service, all running fine before I added mTLS auth policy for the namespace.

After the auth policy is added, i started to see health check fail for my service.

Following instruction - https://istio.io/docs/ops/app-health-check/#use-annotations-on-pod, i added

[code]
for my deployment and redeployed, but the pod still fails at health check.

[code]

[2019-09-19 16:48] linsun commented on #17215
#16785

[2019-09-19 17:05] ostromart commented on #15304
@costinm, can I mark this as a duplicate of https://github.com/istio/istio/issues/17060?

[2019-09-19 17:28] ostromart opened #17216 "Merge IstioControlPlane with MeshConfig"
See https://docs.google.com/document/d/19IKo6DDv0x6DKtollcbFivjqLkQGwts3dFCzIFm2swM/

[2019-09-19 17:31] #15691 closed

[2019-09-19 17:31] #15693 closed

[2019-09-19 17:32] ostromart commented on #15968
Moving work to https://github.com/istio/istio/issues/17216.

[2019-09-19 17:32] #15968 closed

[2019-09-19 17:33] ostromart commented on #15673
@richardwxn any updates on this?

[2019-09-19 17:43] ostromart opened #17217 "Automatically generate the default profile from istio/installer using manifest migrate"
manifest migrate should be able to migrate the istio/installer default values.yaml into IstioControlPlane.

[2019-09-19 17:50] costinm commented on #16791
Not enough info / obsolete.

[2019-09-19 17:50] #16791 closed

[2019-09-19 17:51] costinm commented on #16155
To be honest - no idea about it, it's from some version we merged. I haven't touched egress much.

[2019-09-19 17:52] PapashaEnot commented on #9117
HI! Is there any progress in making rpm release artifact ? My company want to expand Istio on VM with RHEL/Centos. And we are very interested in rpm package for Istio. How can we build prm package manualy ? And what the difference between docker image sidecar and package sidecar ? Is it possible to expand Istio with docker image ?

[2019-09-19 17:59] costinm commented on #13604
Closing this, mostly obsolete and current plan is to stop using uds path.

[2019-09-19 17:59] #13604 closed

[2019-09-19 18:09] ostromart opened #17218 "Integrate in-cluster controller code"
See https://github.com/istio/operator/tree/master/pkg/helmreconciler
Easiest path for integrating is to copy the existing default HelmReconciler and add pkg/component/controlplane IstioControlPlane, which can be instantiated as it would be for manifest-apply.go, the main difference being the configuration would come from the k8s listener rather than a config file.

[2019-09-19 18:12] ostromart opened #17219 "Add mesh operator install command"
This command would basically kubectl apply the manifest to bootstrap the in-cluster controller.
There should be a corresponding operator delete command to remove the operator from the cluster (this could have a --delete-istio flag to also remove Istio).

[2019-09-19 18:15] ostromart opened #17220 "In cluster controller e2e tests"
Prow tests to install controller into the cluster along with CR, check for health, make some changes to the CR and observe the resulting changes to Istio resources.
Ideally, this test would use the new e2e test framework.

[2019-09-19 18:15] incfly commented on #17215
Can you confirm you add annotations to the Deployment.Spec.Template.Annotations section? We need it be part of pod annotations.

Another question, does our doc example working for you?

[2019-09-19 18:20] ostromart opened #17221 "Migrate istio/istio tests to use istioctl manifest apply"
All istio/istio tests should be compatible with the istio/installer charts now - therefore it should be possible to replace the istio installation steps in the e2e tests with istioctl manifest apply.

[2019-09-19 18:24] linsun commented on #17215
Thanks, I did Deployment.metadata.Annotation section, will retry

[2019-09-19 18:25] linsun commented on #17215
cc @esnible - this is a possible area for UX improvement.

[2019-09-19 18:29] ostromart opened #17222 "Migrate istio.io docs to use operator CLI as default"

[2019-09-19 18:30] ostromart opened #17223 "Add upgrade hook functionality to operator"
We need a backdoor mechanism for any upgrade related fixups.

[2019-09-19 18:37] linsun commented on #17215
@incfly you are right that is the prob!  Any reason why we can't do it at deployment level in addition to pod level?

I opened https://github.com/istio/istio.io/pull/5026 to clarify the doc.

[2019-09-19 18:39] ostromart opened #17225 "Add manifest upgrade section to ARCHITECTURE.md"

[2019-09-19 18:40] incfly commented on #17215
As far as I know all the Istio supported annotations are on the pod not the
deployment. This should have smt to do with the injector mechanism. The
finest granularity of k8s resource we can read is pod, not deployment. e.g.
we need to support replicaSet, non deployment case.

Indeed this can be a source of often misconfiguration. I ran into this
myself before as well.

On Thu, Sep 19, 2019 at 11:3

[2019-09-19 18:48] thomastaylor312 commented on #17167
@howardjohn So the main thing that might be helpful for you in Helm 3 is that there is now a `crds` directory you can define in a chart that you can drop all your CRDs into. They will be installed first and the discovery cache cleared so as to not run into any "type not available" problems when validating custom resource instantiations. Completely willing to help if you have any questions or run i

[2019-09-19 19:23] howardjohn commented on #17221
https://github.com/istio/istio/pull/15440 will be a useful reference

[2019-09-19 19:33] bogdanciuca opened #17226 "Rule doesn't apply when calling external service"
**Istio 1.2.3 (EKS)**

I'm developing an attribute generating adapter which works perfectly fine with `Rule`s that match ingress and/or mesh traffic, but not so much with egress (even when applied with `match: "true"`).

Not sure if this is a bug, or if `Mixer`'s check API call doesn't occur when a service in the mesh is calling external services.

[2019-09-19 19:41] ozevren commented on #17148
It looks like the defaults that Galley obtained from Pilot has diverged in https://github.com/istio/istio/pull/12120 (first trace of it I could find). Galley has been operating with those defaults for a long time, so it's been its behavior for better or worse. I think introducing it back is the right thing to do.

[2019-09-19 19:42] ozevren commented on #15987
Closing this, as I believe this is fixed. If not, please feel free to reopen.

[2019-09-19 19:49] ozevren opened #17227 "Enhance the metadata model to allow for additional config analysis groups."
The metadata model in Galley makes implicit assumptions about how snapshots are going to be used. Specifically, the "default" snapshot is used for both analysis and distribution. This doesn't work well with the istioctl case, where the tool needs to look up more resources, potentially.

We should enhance the metadata model to allow specification of different snapshots for Galley distribution+analy

[2019-09-19 19:55] venilnoronha opened #17228 "Endpoint locality ignored when routing via egress (multi cluster)"
**Bug description**
Istio doesn't respect endpoint locality when traffic is routed via the egress in a multi-cluster (replicated control plane) environment.

**Affected product area (please put an X in all that apply)**
[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Expe

[2019-09-19 20:22] ostromart opened #17230 "Add output flag unit test"
manifest-generate_test.go TestManifestGenerateFlags currently missing a test for output flag.

[2019-09-19 20:23] jshaughn opened #17231 "Experimental Mixer-less telemetry lacks parity with Mixer"
I realize that mixer-less telemetry is WIP/experimental in 1.3.0 but wanted to officially be able to track issues in the new telemetry that affect Kiali or potentially other consumers.

After configuring mixer-less using [these instructions](https://github.com/istio/istio/wiki/Mixerless-HTTP-Telemetry) I found the following differences in istio_requests_total (may not be an exhaustive list), using

[2019-09-19 20:26] ostromart commented on #16828
Any update on this @elfinhe ?

[2019-09-19 20:27] huydinhle opened #17232 "Cannot connect to a Postgres Server in a Kubernetes pod with Istio-Proxy as sidecar container"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
I am trying to connect to a postgres server using psql in a pod in Kubernetes cluster that has istio-proxy as a sidecar container. I keep getting un

[2019-09-19 20:28] howardjohn commented on #17167
@thomastaylor312 sounds like a great improvement for helm. The problem is we need to support `helm template`, which won't work with that. But I think we could also probably have a template that just `include`s those files or something.

Another approach we are doing is having a two step install, `kubectl apply -k github.com/istio/installer/kustomize/cluster` which sets up cluster wide stuff like n

[2019-09-19 20:30] PiotrSikora opened #17233 "Disable circuit breaking by default"
**Bug description**

Circuit breaking (which defaults to a low value of 1024 requests) has been nothing but a source of issues in Istio. We should completely disable it by default, and allow users to configure limits appropriate for their deployment when wanted/needed.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Net

[2019-09-19 20:33] nrjpoddar opened #17234 "The destination service label for tcp connection opened/closed metrics are inconsistent"
**Bug description**
Metrics `istio_tcp_connections_closed_total` and `istio_tcp_connections_opened_total` have `destination_service` label set to the `destination.service.name` attribute where as this label should be set to the `destination.service.host` as is done for all other metrics.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] I

[2019-09-19 20:38] ostromart opened #17236 "Add --prune back to manifest apply kubectl command"
Currently this is removed because the manifest is applied in parallel per component, and --prune requires an aggregate of all resources for the entire manifest of all the components together.
One possible solution is to continue to do the apply normally, in parallel as we do right now, but follow it with a cleanup step that does a kubectl apply on the whole concatenated manifest at the end with --

[2019-09-19 20:46] ostromart opened #17237 "Define kubernetes string constants in new package"
Move all strings like "Deployment" and "operator.istio.io/v1alpha1" to common package consts.

[2019-09-19 20:52] ostromart opened #17238 "Move translations table to a versioned yaml file"
Currently the translations table in translate.go is versioned, but written as code. It would be preferable to express this as yaml for easier editing and diffing between versions.

[2019-09-19 21:08] thomastaylor312 commented on #17167
The two step process is probably a good approach 👌. Especially for those in enterprise environments where a user might not have cluster-wide access. If you do run into any Helm things as you update things, just let us know!

[2019-09-19 21:12] fangpenlin commented on #6486
@howardjohn yep, I can confirm ingress works after adding those values into config map `mesh` field

[2019-09-19 21:50] howardjohn commented on #6486
Thanks @fangpenlin ! I have a fix that will be in 1.3.1 next weekish. Its basically just setting those values, so that should be a good proper fix until then: https://github.com/istio/istio/pull/17190

[2019-09-19 21:56] elfinhe commented on #16828
After syncing with Xinnan, I am planing to add one flag in `manifest diff` to unmarshal ConfigMap.Data as yaml, before we do the yamlDiff operation.
will create an PR this week or next week.

Is this PR required to address a real use case?

[2019-09-19 23:11] #17036 closed

[2019-09-19 23:29] elfinhe commented on #16828
Start working this issue.

[2019-09-19 23:30] howardjohn opened #17245 "Operator should consider reducing golang dependencies"
Looking at the operator code, which is directly linked into istioctl, there is a very large amount of dependencies. Some examples are depending on the entire `k8s.io/kubernetes` and Helm Tiller. It seems most of these usages are not really needed.

We should consider reducing this, because it makes upgrades in istio/istio much harder.

[2019-09-19 23:43] #17128 closed

[2019-09-19 23:45] pitlv2109 commented on #16754
Should we close this?

[2019-09-19 23:48] pitlv2109 commented on #16503
Close this for now. Feel free to re-open it.

[2019-09-19 23:48] #16503 closed

[2019-09-19 23:49] pitlv2109 commented on #16486
@lei-tang

[2019-09-19 23:53] #16754 closed

[2019-09-20 00:01] huydinhle commented on #17232
output from a telnet command
[code]

[2019-09-20 00:10] ostromart opened #17246 "Add missing unit tests is relect_test.go"
Not all public functions have unit tests in this file.

[2019-09-20 00:13] howardjohn commented on #17245
This is going to block stuff like https://github.com/istio/istio/issues/17158 if not fixed. Alternatively, we can split istioctl out of the istio/istio build process

[2019-09-20 02:15] sniperking1234 opened #17250 "Mixer telemetry add sampling function"
**Describe the feature request**
Sometimes I don't need every piece of data, such as log adapter. I think Mixer can add sampling settings in Rules  to control the telemetry volume.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[x] Policies and Telemetry
[ ] Security
[ ] Test

[2019-09-20 02:24] Janesee3 opened #17251 "VirtualService uri rewrite is ignored when routing between internal services"
**Bug description**
Uri rewrite for a VirtualService resource where the host is an internal service and the destination is also an internal service does not work. (See steps to reproduce for an example of the VirtualService)

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] P

[2019-09-20 03:26] hzxuzhonghu commented on #16944
/assign @Nielsoux

[2019-09-20 04:01] waret opened #17252 "`istio-iptables.sh -h` does not print usage correctly"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
[code]
**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ]

[2019-09-20 04:04] #17234 closed

[2019-09-20 04:32] KieranP opened #17254 "Using Istio sidecar injection seems to stop Sensu from working"
It looks like istio sidecar clobbers other sidecars?

## Expected Behavior
Should be able to run both sensu-go and istio sidecars in the same pod

## Current Behavior
If Istio sidecar is in the pod, sensu sidecar does connect to the sensu-backend, but it doesn't register the pod as an entity. If I disable the istio sidecar injection, so that just sensu sidecar is in there, then everything works fi

[2019-09-20 06:33] rakeshjain1213 commented on #16126
Hi,

Please let me know, if this feature is released in ISTIO 1.3.0 or still its in progress.

[2019-09-20 06:52] ddebasilio commented on #17202
@xiaozhongliu Can you "ping" from the whitelisted IP address to the host server? My guess is that this is not related to the ip but to the firewall setup itself. I don't see anything wrong with the code waret linked to.

[2019-09-20 06:56] bianpengyuan commented on #17250
For log adapter, rather than sampling, isn't it better to use rules to filter out the log entry that you need? Such as filter based on response code, request duration (latency) etc.

[2019-09-20 07:35] rakeshjain1213 commented on #16190
Hi,

My Only question is, is it possible to call external services which need to be communicated over https by just configuring DestinationRule and ServiceEntry.
If yes how?

[2019-09-20 07:36] rakeshjain1213 commented on #15451
Any Update

[2019-09-20 07:51] KieranP opened #17257 "Istio 1.3.0: Fails to install with Helm 3"
Looks like Helm3 is stricter on apiVersion and causing issues:

Commands:
[code]

Result:
[code]

[2019-09-20 08:52] blockspacer commented on #1430
+1 for UDP

[2019-09-20 09:03] #17167 closed

[2019-09-20 09:17] hzxuzhonghu opened #17261 "virtualInbound listener breaks down replicated control plane multi-cluster"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

Recently, we separate the 15001( outbound) and 15006(inbound), and add two key rules that influence the multi-cluster service routing.

[code]

But

[2019-09-20 09:18] hzxuzhonghu commented on #17261
/cc @lambdai @rshriram

[2019-09-20 09:32] qi-min opened #17262 "No tracing collected in Jaeger for https request"
**Bug description**
We are trying to use istio to track the request. Our existing application use https to communicat between each other, but Jaeger can not get trace for request sent to container through HTTPS. Is there any way to support tracing for the https request to container?

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Instal

[2019-09-20 10:12] waret commented on #17257
please check versions of crds after helm3 upgrade istio-init. Below is from my test:

[code]

[2019-09-20 11:37] p4ali commented on #16535
Running as non-root is requested for our prod environment. Is there any progress on this?

[2019-09-20 11:45] jeremievallee commented on #14264
Thanks for the messages, we encountered the same issue (running on 1.1.5) and fixed it with this solution.

I see the issue is closed but no reference to any PR or change. Does that mean it is an expected behaviour of Istio? Or a bug? If a bug, has this been fixed in later versions?

[2019-09-20 13:37] sarathprasath-krishnaswamy opened #17265 "HTTPS Traffic converted to HTTP with port set as 443"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

We have setup an istio over on eks cluster & a java app is hosted in it.
The pod has been created along with service with type ClusterIP

We have c

[2019-09-20 13:46] MrSaints commented on #15357
Potentially related #8496.

If anyone is coming across a similar use-case of having two services - service A, and service B - with the same underlying workload selector - but with the desire to only apply a JWT policy on one of the services, save yourself the time, and avoid it for now (at least at the time of writing).

The JWT policy is propagated to the underlying workload that the service sele

[2019-09-20 13:59] howardjohn commented on #16126
It did not make 1.3, you can set requests but not limits

[2019-09-20 15:35] viktorpeacock commented on #16458
Hello.

This affects us as we use TLS origination using the provided documentation, i.e. having HTTP on port 443 and then using destination route to originate TLS.

This has stopped working recently and I can only assume this was caused by the ISTIO upgrade by the infrastructure team.

Dev25 suggested that changing port to HTTPS works, but it didn't for us. Can you please provide some clarify on w

[2019-09-20 16:21] howardjohn opened #17266 "Make pilot not crash from invalid EnvoyFilters"
Right now it is pretty easy to kill Pilot with an EnvoyFilter. EnvoyFilters are breakglass, so its acceptable that a user will break some proxy configs, but it should not crash pilot, which will impact the entire cluster.

Some ways it can crash:

* Generate invalid config https://github.com/istio/istio/blob/95e45cf73c8d3d1403b7ea22d66375d9b9ad7434/pilot/pkg/proxy/envoy/v2/lds.go#L57-L60
* Type mi

[2019-09-20 16:21] bianpengyuan commented on #17250
Sorry I forgot to mention, Mixer rule already supports sampling: https://github.com/istio/api/blob/master/policy/v1beta1/cfg.proto#L183

[2019-09-20 16:48] seanmcelroy commented on #13861
It is a form of CWE-200: Information Exposure (ref: https://cwe.mitre.org/data/definitions/200.html)

This type of leaking of technology choices in HTTP responses allows threat actors to enumerate target environments using certain tools and versions and target them when vulnerabilities are identified.  This is why both internal SecOps teams and external pen testers will routinely flag Server banne

[2019-09-20 16:55] kyessenov commented on #13861
Regarding server header, this should be doable given this option exists https://github.com/envoyproxy/data-plane-api/blob/master/envoy/config/filter/network/http_connection_manager/v2/http_connection_manager.proto#L166

[2019-09-20 17:26] tcnghia commented on #7136
@hzxuzhonghu I tried with 1.2.6 and 1.3.0 and still saw the issue.

I can send you a repro.  We have an integration test that is really good with catching the issue.

[2019-09-20 17:37] lei-tang commented on #16486
Can you set the logging level to be debug (or trace) on Node Agent and Istio Proxy and share the logs?

[2019-09-20 18:18] nrjpoddar opened #17271 "The destination_service_name label for TCP metrics is not set for BlackHole & Passthrough cluster"
**Bug description**

The destination_service_name label for TCP metrics is set to "unknown" when either of these clusters are used.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[x] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Inf

[2019-09-20 18:18] nrjpoddar commented on #17271
@bianpengyuan fyi

[2019-09-20 18:18] esnible opened #17272 "Validation of Istio annotations on K8s objects"
Users sometimes place Istio annotations in the wrong place.  For example, Pod annotations on the Deployment outside of the Template.

Users sometimes misspell annotations, or supply a value in the wrong format.

Istio's validators, probably the new framework validators from https://github.com/istio/istio/pull/16350 should issue warnings.  Possibly this could go into the existing webhook and sideca

[2019-09-20 18:18] davidebbo commented on #17036
Sweet!

[2019-09-20 18:23] nrjpoddar commented on #17271
The change I had added got reverted incorrectly in this PR: #13631

https://github.com/istio/istio/pull/13631/files#diff-d92228a902ebeed8f59f07f6408ae717L575

@howardjohn you might be interested.

[2019-09-20 18:27] nrjpoddar commented on #17212
We are currently adding Go client and that is WIP. You can track that here: https://github.com/istio/client-go

I don't know what support Kubernetes community provides for Python client code generation for API machinery but if it's well supported we can consider it.

We will have to work out repository layouts specially around generating Python objects from protos in github.com/istio/api repo and

[2019-09-20 18:30] costinm commented on #16535
There is a PR in progress to remove root, slipped from 1.3.

[2019-09-20 18:30] costinm commented on #16535
https://github.com/istio/istio/pull/16014

[2019-09-20 18:32] costinm commented on #16535
Note that sidecar itself does run as non-root, except in TPROXY mode ( which we may deprecate since it doesn't handle outbound capture ). CNI is required for this, to setup iptables.

[2019-09-20 18:41] rlenglet commented on #16535
The Istio CNI daemonset requires running as root, in order to install the CNI plugin on the worker node.

[2019-09-20 18:49] howardjohn commented on #17254
Not a Sensu expert, what does this mean?

We don't official support 1.16 yet (as it came out 2 days ago), although we do have some testing on it.

I don't see anything obviously wrong, seems like a very Sensu specific thing to "not register the pod as an entity". What could cause that?

[2019-09-20 19:18] liamawhite commented on #7136
Could you describe exactly is the issue you see? That fix won't solve ALL issues that might occur here.

[2019-09-20 19:44] ericvn commented on #17178
Note of a blog pointing to the existing URL do get the latest Istio: https://medium.com/faun/istio-step-by-step-part-02-getting-started-with-istio-c24ed8137741

[2019-09-20 20:11] #17148 closed

[2019-09-20 20:32] KieranP commented on #17257
@waret So I also made an issue on helm, and they referred me to this ticket: https://github.com/helm/helm/issues/6451#issuecomment-532855139

According to them, istio-init is using a crd-install hook which is no longer supported in Helm3. So istio-init needs to be migrated to use other means to install custom CRDs.

[2019-09-20 20:33] KieranP commented on #17257
And according to this issue, looks like there is no plans to fix Helm3 support - https://github.com/istio/istio/issues/17167

So I'll go ahead and close this off then, as it seems neither party is wanting to patch either end to make this work :-)

[2019-09-20 20:33] #17257 closed

[2019-09-20 20:50] esnible commented on #16936
I have an initial implementation.  I need to write tests before creating a PR.

The new additional output is
[code]

Additional work is needed to verify it works correctly for NodePort clusters.
The new output isn't much but the user didn't need to run any extra commands.  Checking the ingress Envoy configuration will be the default for the command.

[2019-09-20 21:14] incfly opened #17276 "[Istio-Auto-mTLS] Per deployment annotations to opt-in auto mTLS feature"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

Additional node metadata will be propogated to take higher priority override, compared with `meshconfig.enableAutoMTLS`.

This allows customer to migrate to this feature smoothly.

**Describe alternatives you've considered**

**Affected product are

[2019-09-20 21:38] howardjohn commented on #15750
Superseded by https://github.com/istio/istio/issues/16181

[2019-09-20 21:38] #15750 closed

[2019-09-20 22:24] elfinhe commented on #16828
@ostromart PR created, please take a look.

[2019-09-20 22:37] incfly opened #17278 "[Better networking Defaults] What's desired behavior for mTLS + Capture All Inbound traffic"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Copied from comment, https://github.com/istio/istio/pull/16716/files/e6405e61b8b6e565cb2fd1a8e7b0f813ebd5b513#discussion_r326447483

@diemtvu @lambdai with new capture-all mode for inbound traffic, if I'm defining a mTLS authentication policy withou

[2019-09-20 22:45] elfinhe commented on #16826
An example:

[code]
[code]

[2019-09-20 23:02] davidebbo opened #17279 "Injection analyzer needs to deal with Istio being enabled by default"
galley/pkg/config/analysis/analyzers/injection/injection.go currently assumes the default is off, but it can be turned on `sidecarInjectorWebhook.enableNamespacesByDefault=true` in the istio-sidecar-injector configmap.

[Seems I'm not a member yet, but please assign to me]

[2019-09-20 23:10] howardjohn commented on #16985
@bianpengyuan are you working on getting this into master?

[2019-09-20 23:11] bianpengyuan commented on #16985
Yes, it needs a sha update in proxy and then this repo. It is on the way.

[2019-09-20 23:13] howardjohn commented on #10533
@lambdai are we expecting FCDS to be done by 1.4? Seems like this is likely a 1.5 or later item?

[2019-09-20 23:14] duderino commented on #10533
I think @lambdai should work on this nowish, but I have no opinion on whether 1.4 or 1.5 is feasible

[2019-09-20 23:15] howardjohn commented on #9784
#16845 landed in master which may address some of these issues. What we still need to do is add testing for this as well as measure performance impacts

[2019-09-20 23:16] howardjohn commented on #16725
@fpesce this is a P0 for 1.4, what is left to be done?

[2019-09-20 23:16] howardjohn commented on #16635
This is done!

[2019-09-20 23:16] #16635 closed

[2019-09-20 23:20] howardjohn commented on #16985
Thanks!

On Fri, Sep 20, 2019 at 4:12 PM Pengyuan Bian <notifications@github.com>
wrote:

[2019-09-20 23:24] howardjohn commented on #8076
As far as I know we cannot distinguish between unset and `""`, so there isn't a feasible way to support this

[2019-09-20 23:26] howardjohn commented on #13248
@ayj is this fixed by #16857?

[2019-09-20 23:28] howardjohn commented on #16958
Seems like there is already a fix for this, and there is not a huge need for this -- we will just need to make sure users update both galley and pilot together, so I think we can close

[2019-09-20 23:28] #16958 closed

[2019-09-20 23:31] howardjohn commented on #17035
@ostromart we do have a lint target actually, `run-lint`, that does things like `helm lint istio-control/istio-discovery -f global.yaml`, and it works well. Do you think there is anything else to do here?

[2019-09-20 23:32] douglas-reid commented on #17250
@bianpengyuan almost ;). The reason that is hidden from docs is that we started to provide support for it, but then the work was de-prioritized.

Sampling would be great -- and useful. Especially if we were smart about it.

But as @bianpengyuan points out, it can *mostly* be achieved with smarter config.

With the advent of the extensibility v2 architecture, I don't think adding this feature is to

[2019-09-20 23:33] douglas-reid commented on #17231
@jshaughn I've noticed this as well. Thanks for filing, and catching this early.

[2019-09-20 23:38] douglas-reid commented on #17173
This is definitely something we want to do. There was another issue open asking for it to be exposed as an `istio_build` metric -- to match the control plane. The issue was finding the right spot to put it. I think the v2 architecture may help here, too.

[2019-09-20 23:43] douglas-reid commented on #17138
It is/was intended for two primary reasons, iirc:
- ease adoption of policy use cases
- upgrade / update situations. if you were using `istio-policy` and upgraded, it would be harmful if all of a sudden that workload wasn't available.

[2019-09-20 23:44] douglas-reid commented on #17135
Should we close this issue now?

[2019-09-20 23:47] douglas-reid commented on #17110
mTLS is supported for TCP.

Perhaps this is just a kiali issue?

@jmazzitelli any thoughts?

[2019-09-20 23:48] howardjohn commented on #17173
Any ideas how we can get this? I don't think pilot-agent exposes any metrics right now so its a bit heavy weight to do it there, and it won't work for native-envoy cases. Can you add a stat to envoy stats with the mixerv2 stuff?

[2019-09-20 23:53] davidebbo commented on #17272
Yep, seems like a great scenario for which we could potentially write an analyzer. /cc @sushicw

[2019-09-20 23:59] howardjohn commented on #17251
I see that it doesn't work, but I don't think this is or should be a valid config in the first place. Logically you are trying to make a virtual service with "two hops" -- but in reality there will only be one hop.

Is there any reason you cannot just make a single VirtualService here? If it wasn't clear, VS only apply on the client side, so you are never actually getting two hops -- it is all don

[2019-09-21 00:00] howardjohn commented on #15987
Found another one: https://prow.k8s.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/109

[2019-09-21 00:03] acabrele opened #17282 "Multi cluster - IP OK, DNS not OK"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Cannot access remote service using DNS, only IP, using the httpbin sample service

**Affected product area (please put an X in all that apply)**

[

[2019-09-21 00:08] howardjohn commented on #12138
This doesn't seem feasible based on Ed's comments, do we have any plans to do this?

[2019-09-21 00:12] bianpengyuan commented on #17135
@douglas-reid yes, after https://github.com/istio/istio/pull/17284 is merged.

[2019-09-21 00:23] douglas-reid commented on #17173
the extensibility v2 stuff is certainly a promising path forward. and one that works for even the bring-your-own-Envoy cases.

[2019-09-21 00:30] ayj commented on #13248
No. The validatingwebhookconfiguration is owned by the `istio-system` namespace but that isn't deleted by `helm delete`. Users still need to manually delete the namespace.

[2019-09-21 00:33] tallclair opened #17286 "Don't manage custom ca-certificates in Dockerfiles"
**Bug description**

Lots of dockerfiles in this repo are installing custom ca-certificates via `ADD ca-certificates.tgz /`. I can't tell if the build process downloads fresh certificates, but https://github.com/istio/istio/blob/master/docker/ca-certificates.tgz is over a year old.

Instead, I recommend grabbing the latest ca-certificates via the package manager, as the base dockerfile does: https

[2019-09-21 01:01] 1032231418 commented on #17212
@nrjpoddar
Kubernetes official does not have support for the istio client interface，Hopefully, add, delete and modify istio's Python interface

[2019-09-21 01:28] 1032231418 commented on #17212
Can you give me an example of a request? I'll try to write my own client.

[2019-09-21 01:42] yangminzhu commented on #15357
This is the API design problem in both authN and authZ. The new v1beta1 authorization policy (planned for 1.4) will use the [workload selector](https://github.com/istio/api/blob/2387a8cbe150ae27b2372a22f3d2228625cd664d/security/v1beta1/authorization.proto#L158) instead of service name to select where to apply the policy. This should make it super clear that the policy is applied and enforced on wo

[2019-09-21 03:10] jpreese commented on #13248
Its been quite some time since I last looked, but I don't remember that being the case. Even after deleting istio-system, the webhook was still in the cluster.

https://istio.io/docs/ops/setup/validation/

[2019-09-21 04:15] hzxuzhonghu opened #17290 "*.global dns resolve failed"
I tested on istio 1.3, it works well. After we upgraded coredns #16417 this problem happened. I am not sure if the dns Corefile is not right. But i am sure the coredns did not send a request to `127.0.0.1:8053`(verified by tcpdump).

/cc @johscheuer would help on this

I am familiar with coredns configuration.

[2019-09-21 04:15] hzxuzhonghu commented on #17290
/cc @istio/wg-networking-maintainers

[2019-09-21 05:09] #17135 closed

[2019-09-21 05:20] johscheuer commented on #17290
I take a look at this one.

[2019-09-21 05:52] johscheuer commented on #17290
I just cross-checked it and everything worked fine.

Here is my test setup:

[code]

I added this part to the `values-istio-demo-auth`:

[code]

Then I create the stub fir `kubedns` (GKE is using kubedns):

[code]

and then I created a SE:

[code]

And using dig from a Pod (I installed the book info):

[code]

Gives me the expected result.

[2019-09-21 05:54] johscheuer commented on #17290
If you are using `CoreDNS` you can turn on the [debug mode](https://github.com/coredns/coredns/tree/master/plugin/debug) to see why the Cluster `CoreDNS` doesn't forward the request to the Istio `CoreDNS`

[2019-09-21 06:02] ramaraochavali commented on #17173
@howardjohn @douglas-reid I have been thinking about similar thing for our use case and I have created this issue https://github.com/envoyproxy/envoy/issues/8318 in Envoy? Does it help this use case?

[2019-09-21 06:28] hzxuzhonghu commented on #17290
Istio 1.3.0 works well, because your pr is not in 1.3. You can test with master daily build

[2019-09-21 06:30] hzxuzhonghu commented on #17290
https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/master-latest-daily/

[2019-09-21 07:20] hzxuzhonghu commented on #17282
duplicate with #17290

[2019-09-21 07:21] #17282 closed

[2019-09-21 07:26] hzxuzhonghu commented on #17286
/assign @howardjohn

[2019-09-21 07:33] hzxuzhonghu commented on #17266
/assign

[2019-09-21 07:35] hzxuzhonghu commented on #17266
We should simply warning and ignore the invalid envoyfilters but not panic.

[2019-09-21 08:13] hzxuzhonghu commented on #17158
@howardjohn `EndpointsSlice` is to replace `Endpoints`, it is  1:n  relation for service and endpointslices , so it is a little complicated to support it.  In k8s 1.16 it is an alpha feature, so maybe in 1.17 or 1.18, it can be beta.

BTW, kube-proxy is a good example to understand EndpointSlices.

[2019-09-21 09:40] morvencao commented on #17080
@howardjohn not sure if this is related to helm/tiller version, because in my env, I can upgrade istio from `1.3` to `master`:

Env:
[code]

Steps:
[code]

[2019-09-21 11:14] 1032231418 opened #17293 "tcp ingressgateway"
hi:

After the creation of 31400 ports can not telnet, but HTTP 80 can pass

istio: v1.3.0

kubernetes:  v1.11.5

[code]

[2019-09-21 13:08] piyushkumar13 commented on #10722
Sharing my experience, it might help someone else. I was facing the same issue in minikube. I was having istioctl and controlplane both with version`1.3.0`. For me when I initially installed, it was working fine however after few **minikube start and stop** `istio-tracing` was giving status `CrashLoopBackOff` with error `Readiness probe and Liveliness failed with connection refused`. As mentioned

[2019-09-21 14:19] #16482 closed

[2019-09-21 14:26] #17290 closed

[2019-09-21 14:27] howardjohn commented on #17080
Hm ok let me try it again, maybe I did something weird

[2019-09-21 14:29] howardjohn commented on #17286
Thanks for the report, seems like something we can and should do. I'll take
a look. By the way, starting in 1.3 we do ship distroless images

On Sat, Sep 21, 2019, 12:27 AM Zhonghu Xu <notifications@github.com> wrote:

[2019-09-21 15:57] ayj commented on #13248
The namespace ownership fix went into master (post 1.3 release).

On Fri, Sep 20, 2019 at 8:10 PM John Reese <notifications@github.com> wrote:

[2019-09-21 16:21] Janesee3 commented on #17251
I tried this out with a single virtual service that is not attached to any gateway, and the uri rewrite is not happening too. Below is an example of the virtualservice i used:

[code]

To give more context, we are trying to use Istio VirtualService uri rewrites and weighted routes to load balance traffic between 2 endpoints served by a single Kubernetes service.
Example:
[code]

While trying out t

[2019-09-21 17:24] emedina opened #17294 "JWT policy broken in 1.3.0 (working in 1.2.6)"
**Bug description**
JWT policy seems to be broken in `v1.3.0`, but working in `v1.2.6` with the simple example provided with `httpbin` in the official documentation:

https://istio.io/docs/tasks/security/authn-policy/#end-user-authentication

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and

[2019-09-21 17:27] emedina commented on #17294
Also conversation in Slack channel for reference on some logs:

https://istio.slack.com/archives/C37A4KAAD/p1569047329124500

[2019-09-21 23:21] nixgadget commented on #17108
@pitlv2109 thanks for the update. So are you saying even though it was labelled it was never cherry picked into 1.2 branch ? Any guarantees it will go into 1.2.7 release ?
If so we can close this ticket.

[2019-09-22 04:01] adurai81 opened #17297 "Helm based installation fails"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Istio Helm installation fails with error

[code]

However if I introduce 30second delay between `istio-init` and `istio` installs then it just goes

[2019-09-22 04:17] howardjohn commented on #17297
I believe the install instructions specifically mention you need to wait for istio init to finish. This is expected

[2019-09-22 04:21] adurai81 commented on #17297
Thanks @howardjohn for the quick response. I could not find this note (other than the step to verify the CRDs), but if thats expected I'm fine.

Can I ask what the best way to automate this installation ? Is this via shell scripts or something else ? I'm trying to avoid going the shell way but wanted to get what's the best practice around this.

[2019-09-22 04:33] adurai81 opened #17299 "Helm delete does not cleanup istio CRDs"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Uninstalling Istio via Helm does not delete the CRDs that were installed by Istio init.

**Affected product area (please put an X in all that apply)

[2019-09-22 05:55] #17293 closed

[2019-09-22 06:48] Jeffwan opened #17300 "How to use `request.auth.claims` on custom header?"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
I am working on an istio authorization solution. Authentication layer I uses AWS Application Load Balancer and Cognito and once user get authenticated, all following request will have a header `x-amzn-oidc-data` which is a JWT token I'd like to use

[2019-09-22 10:50] 1032231418 commented on #17212
Hi:

I've written an operation on gateway here, but when updating, it's incomprehensible to pass in resourceVersion.

[code]

[2019-09-22 11:21] mariusmitrofan commented on #16778
@PiotrSikora do you think it's possible to implement this? Can I help somehow?

[2019-09-22 14:36] howardjohn commented on #17299
this is working as intended. We don't want users to accidentally deleted all their custom resources they have created. That is the main reason we have the istio init chart

[2019-09-22 14:48] howardjohn commented on #17297
Well if you verified the crds exist that is equivalent to waiting. I am not sure if there is a way to do it in helm without shell scripts - most Istio developers do not use Tiller and use helm template instead.

What you can do is a `kubectl wait` on the jobs though. I have a very short script I can share in a bit if that is helpful

[2019-09-22 19:32] gbaufake commented on #17050
@rshriram @howardjohn any information on this one?

[2019-09-22 19:36] adurai81 commented on #17297
Thanks @howardjohn for the responses. Pls share the script, that would be helpful.

I'm closing this issue.

[2019-09-22 19:36] #17297 closed

[2019-09-22 20:18] howardjohn commented on #17299
Please see https://istio.io/docs/setup/install/helm/#deleting-crds-and-istio-configuration for details. Thanks!

[2019-09-22 20:18] #17299 closed

[2019-09-22 22:01] howardjohn commented on #17050
I think the problem is ingress -> productpage, so the more useful dump would be from the ingessgateway.

Can you access `curl productpage:9080/static/bootstrap/css/bootstrap.min.css` from another pod?

[2019-09-22 22:05] howardjohn commented on #2765
I don't think there are any plans to do this anymore

[2019-09-22 22:05] #2765 closed

[2019-09-22 22:06] howardjohn commented on #17252
Fixed by #17253

[2019-09-22 22:06] #17252 closed

[2019-09-22 22:08] howardjohn commented on #407
All issues resolved, no updates for 1year, closing

[2019-09-22 22:08] #407 closed

[2019-09-22 22:13] howardjohn commented on #11659
In 1.3 we added a new `/quitquitquit` endpoint to pilot agent which should resolve this. Its not perfect since it requires some manual action, but I think a longer term solution would depend on https://github.com/kubernetes/kubernetes/issues/65502 or https://github.com/istio/istio/issues/11366 or similar. If there is anything else we can do to improve these in the short term I would be happy to ta

[2019-09-22 22:13] howardjohn commented on #6324
In 1.3 we added a new `/quitquitquit` endpoint to pilot agent which should resolve this. Its not perfect since it requires some manual action, but I think a longer term solution would depend on https://github.com/kubernetes/kubernetes/issues/65502 or https://github.com/istio/istio/issues/11366 or similar. If there is anything else we can do to improve these in the short term I would be happy to ta

[2019-09-22 22:13] #6324 closed

[2019-09-22 22:15] ameer00 commented on #16890
Also: Istio 1.2.6 works fine for me.  Confirming this is not working in 1.3.0.  I am following the instructions to the letter [here](https://istio.io/docs/setup/install/multicluster/gateways/) and have tested on GKE 1.13 and GKE 1.14.  I get a:
[code]

On the exact same setup, everything being the same and just chsanging the Istio version to 1.2.6 works.

[2019-09-22 22:17] howardjohn commented on #7787
@rshriram ^ can you answer this?

[2019-09-22 22:18] howardjohn commented on #7233
This may be an issue still, but since this was from over 5 versions ago its hard to tell, and I don't think many developers will notice this if it is. If you are still running into any issues I would recommend opening a new issues with all the details of your setup. Thanks!

[2019-09-22 22:18] #7233 closed

[2019-09-22 22:20] howardjohn commented on #9333
This is shipped! https://istio.io/docs/setup/install/operator/

There is still lots to do though, anyone interested please take a look at https://github.com/istio/operator/ or issues with the label `area/environments/operator`.

[2019-09-22 22:20] #9333 closed

[2019-09-22 22:21] howardjohn commented on #11620
This has been green for quite a while, and a few changes related to it got merged in, so it seems this is resolved https://testgrid.k8s.io/istio_release-pipeline#upgrade-tests_pipeline

[2019-09-22 22:21] #11620 closed

[2019-09-22 22:26] howardjohn commented on #11974
Closing as this is something we don't plan on doing -- see https://github.com/istio/istio/pull/13698#issuecomment-498079063. This can be handled by the new installer or operator

[2019-09-22 22:26] #11974 closed

[2019-09-22 22:29] howardjohn commented on #12647
We have `e2e-simpleTests` running directly from the helm install now, so I think this is resolved

[2019-09-22 22:29] #12647 closed

[2019-09-22 22:33] howardjohn commented on #12621
Related: https://github.com/istio/istio/issues/16818

@ayj do you think we need to apply the same patch you did above to the sidecar injector?

[2019-09-22 22:34] howardjohn commented on #12939
Done https://preliminary.istio.io/docs/reference/config/annotations.html

[2019-09-22 22:34] #12939 closed

[2019-09-22 22:35] howardjohn commented on #12915
We have support for this in the operator/new installer, I don't think there are any plans to add this for the legacy installer. See https://github.com/istio/istio/pull/13698#issuecomment-498079063 for details. Thanks!

[2019-09-22 22:35] #12915 closed

[2019-09-22 22:40] howardjohn commented on #13248
I think requiring to delete the ns is acceptable, maybe just want to  document here: https://istio.io/docs/setup/install/helm/#uninstall - it says to delete ns with `helm template` but not tiller

[2019-09-22 22:41] howardjohn commented on #14244
Docs fixed https://istio.io/docs/tasks/security/auth-sds/#before-you-begin

[2019-09-22 22:41] #14244 closed

[2019-09-22 22:55] howardjohn commented on #16784
@maxdebayser I ran into the same thing, a fix would be appeciated

[2019-09-22 23:08] howardjohn commented on #16871
Done #17132

[2019-09-22 23:08] #16871 closed