[2020-08-05 23:07] tariq1890 commented on #26186
Ok

[2020-08-05 23:18] bianpengyuan commented on #25963
No you should not remove it, You should add that line `"disable_host_header_fallback": true` to all filter configs.

[2020-08-05 23:18] howardjohn commented on #26171
[code]

I think this means its on the control plane side, not data plane

Prom scraping shows no increase in memory, so it must heavily spike?

[2020-08-05 23:22] howardjohn commented on #26171
Other interesting thing is the pods that do *not* OOM, do not increase memory at all. So I don't think its just a couple slightly going over the limit, they must get into a bad state

[2020-08-05 23:31] howardjohn opened #26191 "test framework: fail test pod crashes"
Currently pods are crashing in tests and we may not always know if the behavior happens to be ok with a crash (retries, not testing traffic, etc)

[2020-08-05 23:33] nairb774 commented on #25963
disable_host_header_fallback was [already set to true](https://github.com/istio/istio/blob/1.6.7/manifests/charts/istio-control/istio-discovery/templates/telemetryv2_1.6.yaml#L244) ([state prior to edits](https://github.com/istio/istio/files/5031694/envoy-filter.yaml.gz)) which is likely what got me turned around. Your initial diff was clear, I mentally broke when trying to apply.

[2020-08-05 23:47] bianpengyuan commented on #25963
Yeah, but did you add it to other sections? https://github.com/istio/istio/blob/1.6.7/manifests/charts/istio-control/istio-discovery/templates/telemetryv2_1.6.yaml#L194 and https://github.com/istio/istio/blob/1.6.7/manifests/charts/istio-control/istio-discovery/templates/telemetryv2_1.6.yaml#L146 I was meant to add this option to those two blocks.

[2020-08-05 23:53] nrjpoddar commented on #26158
@rshriram we should look at fixing this. It has come up a few times now and I know we sometimes point people to use EnvoyFilter which has its own issues.

[2020-08-05 23:59] nairb774 commented on #25963
Apparently I need to slow down and read, because once I did that things look like they will be in a better state.

[code]

Now I need to find a way to prevent the Istio Operator from overwriting the values. I can see a few options, but I think this looks to be a much better state.

Is this something you think might be changing in a future release?

Thank you immensely for your patience in the face

[2020-08-06 00:13] #26186 closed

[2020-08-06 00:24] ericvn commented on #26174
It appears this function was removed in 1.6, however the command wasn't updated and this the istio.io reference for the command is also wrong. The docs will be updated in https://github.com/istio/istio/pull/26139 and this carried through to the 1.7 docs as well.

[2020-08-06 00:24] #26174 closed

[2020-08-06 00:25] ericvn commented on #26184
Similar to https://github.com/istio/istio/issues/26010

[2020-08-06 00:27] williamaronli commented on #26136
https://github.com/istio/istio/pull/26194 this PR solves cherry-pick issue @howardjohn please take a look

[2020-08-06 00:44] johnzheng1975 commented on #26111
Does istio support AWS ELB domain in service entry, when we set up istio multi-cluster in AWS? Thanks.

[2020-08-06 01:40] hzxuzhonghu commented on #26060
It is no clue why istiod exit here except kube api call took too long.   What's the memory cost? I am skeptical it is oom.

[2020-08-06 02:07] niwatorrri opened #26199 "Add structured output for `istioctl x precheck`"
This is part of the effort for [unifying istioctl command output](https://docs.google.com/document/d/1_m3PRHjbSFy6NAOk4C4CvCu93q-QKRsW7WaiaY9Z1DQ/edit?usp=sharing).

Currently `istioctl x precheck` prints everything directly to the console and the output is hardly machine readable. We'd like to see structured output supported for precheck in a way similar to `istioctl analyze`. This can be done by

[2020-08-06 02:20] liuzheng commented on #26060
@hzxuzhonghu OOM killed, but i have 7G free at least.

I am curious, how others do it in manage outbound traffic domain/url.

And can you share some best practices in that huge case( I think this is not very huge... )?

[2020-08-06 02:39] kentchenjh opened #26200 "Performance for TLS"
I have read the performance summary for istio 1.6.7(https://istio.io/latest/docs/ops/deployment/performance-and-scalability/). It seems the test didn't contain any comparsion between TLS and no TLS. Wanna know more about the cost of TLS, especially latency. Is there any report to show this, and seeking any helpful advice.

[ ] Docs
[ ] Installation
[ ] Networking
[X] Performance and Scalability
[

[2020-08-06 02:55] liuxu623 commented on #26101
The limit is we can create up to 64512 (65535-1024+1) conntrack entries use a single port, per conntrack entry will keep 120s (default net.netfilter.nf_conntrack_tcp_timeout_time_wait = 120) , and there are some races in create conntrack entry (https://www.weave.works/blog/racy-conntrack-and-dns-lookup-timeouts). I think use multi ports can reduce races.

[2020-08-06 03:00] harpratap commented on #23457
Facing the same issue for a while now, haven't caused any service disruption so not so critical for us.
It's difficult to reproduce, happens only on "large clusters" with a lot of activity ~1500 pods ~1000 virtualservices. Does not seem to have anything with resources though, it stays at ~30M memory and we have 100M requests for the repair-cni container. (It's the repair-cni that is getting killed

[2020-08-06 03:20] hzxuzhonghu commented on #26101
cool, it is especially useful for gateways

[2020-08-06 03:25] hzxuzhonghu commented on #26060
Have you tuned the default istiod resource request? By default it is 2G

We are using `sidecar` to isolate services accessible, as you know most of the services are not needed for a single proxy.

[2020-08-06 04:26] niwatorrri opened #26204 "Add structured output for `istioctl verify-install`"
This is part of the effort for [unifying istioctl command output](https://docs.google.com/document/d/1_m3PRHjbSFy6NAOk4C4CvCu93q-QKRsW7WaiaY9Z1DQ/edit?usp=sharing).

Currently `istioctl verify-install` prints everything directly to the console and the output is hardly machine readable. We'd like to see structured output supported for verify-install in a way similar to `istioctl analyze`. This can

[2020-08-06 04:40] niwatorrri opened #26206 "Add structured output for istioctl x precheck"
This is part of the effort for unifying istioctl command output.

Currently istioctl x precheck prints everything directly to the console and the output is hardly machine readable. We'd like to see structured output supported for precheck in a way similar to istioctl analyze. This can be done by converting these direct output to Message objects (whose type is defined in galley/pkg/config/analysis/

[2020-08-06 04:41] #26199 closed

[2020-08-06 04:46] #26204 closed

[2020-08-06 04:46] #26206 closed

[2020-08-06 04:59] #26136 closed

[2020-08-06 05:00] #10659 closed

[2020-08-06 05:01] #20065 closed

[2020-08-06 05:02] #20468 closed

[2020-08-06 05:22] lainra commented on #26158
@rshriram Thanks for the quick reply, really appreciate it!

The quick patch we're thinking of is to:
- change the hardcoded value to our fitting default (very opinionated, not for other users)
- add a [MeshConfig](https://istio.io/latest/docs/reference/config/networking/virtual-service/#HTTPRetry) setting for each parameter from [HTTPRetry](https://istio.io/latest/docs/reference/config/networking

[2020-08-06 05:30] carolynhu commented on #26200
@kentchenjh thanks for your inquiry, we did some work on comparing tls vs non-tls from the latency perspective. However, we did not make it as a required data for publishing on the istio.io perf section. We probably could do it in istio-1.7 release or its minor releases (if time permits) or next istio release.

[2020-08-06 05:38] irisdingbj opened #26208 "istioctl ps fails when running on central Istiod single cluster scenario"
[code]

[2020-08-06 05:39] irisdingbj commented on #26208
@esnible @linsun

[2020-08-06 05:59] tariq1890 commented on #26079
I have enabled trace logs and access Logs. Strangely, an access log is never created for the outbound https call to `collector.newrelic.com`

[code]

cc @GregHanson

[2020-08-06 06:05] irisdingbj commented on #22224
doc already been updated

[2020-08-06 06:05] #22224 closed

[2020-08-06 06:30] kentchenjh commented on #26200
@carolynhu thanks for your reply. A part of users worried about the cost of tls. Since they had a secure network across clusters, tls is not essential. However, as far as I know turning off tls would make across cluster invoking more tedious. So the data about tls latency is kind of important. plz let me know if there is any advance.

[2020-08-06 06:45] xichengliudui opened #26210 "Istio client-go json.Unmarshal data is lost during conversion"
**Bug description**
use istio client go create `PeerAuthorization`, when `mode` is `UNSET`, JSON is converted to a structure, data is lost, and other modes find no problems.
create it directly on the server using the `kubectl` command, and there will be no problem, `kubectl apply -f peerauthentication.yaml`

[code]
[code]

[code]
output:
in the printed structure, the `mtls` content is empty, i am

[2020-08-06 06:46] xichengliudui commented on #26210
these may be required, go.mod
[code]

[2020-08-06 07:18] 4c74356b41 commented on #26009
I observe the same on 1.5.8

[2020-08-06 08:28] hzxuzhonghu commented on #26210
[code]

Should be caused by omitempty

[2020-08-06 09:08] xichengliudui commented on #26210
第一次和大佬本人对话，倍感荣幸。
我尝试重新生成一下 proto 文件，可能不是由 `omitempty` 引起，因为其他的如 `
`PERMISSIVE``, `
`STRICT`` 并不受影响。

[2020-08-06 09:15] xichengliudui commented on #26210
Omitempty causes, i want to update the `mode enum`, starting with `1`. can this be solved?

[2020-08-06 09:20] MirtoBusico commented on #25578
Sorry. I'm a little confused.

The RequestAuthorization is applied to ingressgateway.istio-system
Someone told me that the real token verification is done by istiod.istio-system
The service accessed through ingressgateway is fpresenter.hproject

I have:
[code]
Which pod have I to trace?
istio-ingressgateway-85bd66f768-76j8q.istio-system
istiod-56f98bbd86-4dmc2.istio-system
fpresenter-77b4b999b9-74

[2020-08-06 10:23] MirtoBusico commented on #25578
**something very bad happened**
Today, after I started the cluster I found that ingressgateway never get ready.

Looking at the istio-ingressgateway pod I saw thes messages:
[code]
I supposed that there was something wrong in the RequestAuthentication and I looked at the running definition
[code]
So I deleted the requestauthentication
[code]
As soon as I deleted the requestauthentication the istio

[2020-08-06 10:35] liuzheng commented on #26060
After tracing, found ec9166a1e46945c6e301b1165c7ec1cc61b0aeb6  fixed this bug.

[2020-08-06 10:35] #26060 closed

[2020-08-06 11:14] liuzheng opened #26214 "`upx --brute` can get a smaller binary"
[code]

**Describe the feature request**

**Describe alternatives you've considered**

[ ] Docs
[ ] Installation
[ ] Networking
[X] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Additional context**

[2020-08-06 11:20] pantianying opened #26215 "In master branch , can't use mosn as sidecar without modification"
**Bug description**
Through the documents on the official website, I know that isto can use sidecar other than envoy, and I will follow the instructions as follows：
build istio like that
` ISTIO_ENVOY_VERSION=v0.13.0 ISTIO_ENVOY_RELEASE_URL=https://github.com/GLYASAI/mosn/releases/download/0.13.0/mosn.tgz ISTIO_ENVOY_MACOS_RELEASE_URL=https://github.com/GLYASAI/mosn/releases/download/0.13.0/mosn-m

[2020-08-06 11:33] pantianying commented on #26215
In addition, I would like to ask if there is any way to bypass this

[2020-08-06 11:56] FL3SH commented on #24379
I am wondering if this issue may cause a problem with mTLS?
<img width="1649" alt="Screenshot 2020-08-06 at 11 35 03" src="https://user-images.githubusercontent.com/9084725/89528602-9f698300-d7eb-11ea-95b2-7b4a5dd92eb6.png">

If I set `spec.mtls.mode: STRICT` for my namespace my app is no longer able to connected to MongoDB.
Did I misconfigured something or shouldn't it just work?
Same issue for `

[2020-08-06 11:58] naphta commented on #24379
It does appear that raising the proto sniffing doesn't resolve my problem, and the ports in question are the ones scraped by Prometheus. My problem might be related to using prometheus-direct scraping, although it seems odd to me that the sidecar wouldn't understand where it's coming from.

[2020-08-06 12:29] hzxuzhonghu opened #26216 "TestSyncz/return_the_sent_and_ack_status_of_adsClient_connections flake"
**Bug description**

https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/26112/unit-tests_istio/18321

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl

[2020-08-06 12:52] CarlosPerdomo commented on #24924
This work for me with Kiali v1.18.1 from Docker Hub

[2020-08-06 12:52] hzxuzhonghu commented on #26216
There are so many go routines when timeout. And it looks like a Go Routine leak

[2020-08-06 12:55] CarlosPerdomo commented on #24924
Istio: 1.5.8
Rancher Server: 2.4.5.

For me work with Kiali v1.18.1. But show this warnings.

![image](https://user-images.githubusercontent.com/5383188/89534091-09693480-d7ba-11ea-9d25-1f9d67c44002.png)
Cluster Info.
![image](https://user-images.githubusercontent.com/5383188/89534147-1d149b00-d7ba-11ea-94e9-e33a379537f0.png)

[2020-08-06 13:19] jshaughn commented on #24379
Looks like no fix is coming in 1.7 and so if affected then part of your telemetry will be reported incorrectly, coming from `unknown` or going to `PassthroughCluster`.   To improve the Kiali graph I can only recommend disabling proto-sniffing completely if your app doesn't need it [1], or hiding the unwanted traffic by entering `node=unknown OR service^=Pass` in the Kiali graph hide.

[1] Disable

[2020-08-06 13:29] lucasponce commented on #24379
I stand @jshaughn on this suggestion.

[2020-08-06 14:10] SCLogo commented on #25138
same issue here. with 1.6.3

[2020-08-06 14:52] tmshort commented on #21961
There are definitely tests for vault integration, and they pass per the build. See:
https://github.com/istio/istio/tree/release-1.6/security/pkg/nodeagent/caclient/providers/vault
https://github.com/istio/istio/tree/release-1.6/security/pkg/adapter/vault
https://github.com/istio/istio/tree/release-1.6/tests/integration/security/sds_vault_flow

 They seem to want "nodeagent" configuration, which fa

[2020-08-06 15:14] niwatorrri opened #26220 "Add structured output for `istioctl x precheck` and `istioctl verify-install`"
This is part of the effort for [unifying istioctl command output](https://docs.google.com/document/d/1_m3PRHjbSFy6NAOk4C4CvCu93q-QKRsW7WaiaY9Z1DQ/edit?usp=sharing).

Currently `istioctl x precheck` and `istioctl verify-install` print everything directly to the console and the output is hardly machine readable. We'd like to see structured output supported for these two commands in a way similar to

[2020-08-06 15:39] howardjohn commented on #26215
Please open MOSN issues on https://github.com/mosn/mosn, it is not officially supported by Istio.

But that looks like a curl request is failing ,maybe you have some firewall blocking it or something

[2020-08-06 15:42] howardjohn commented on #26214
This has an impact on the startup performance and build times. I am against this. I suggest we take the same direction of our neighboring projects:
https://github.com/kubernetes/kubernetes/pull/28265#issuecomment-230375578
https://github.com/jaegertracing/jaeger/issues/1089

[2020-08-06 15:43] howardjohn commented on #26210
I think you need to use `jsonpb`? @jasonwzm is that accurate?

[2020-08-06 15:44] howardjohn commented on #26162
Does restart of istiod fix it? may be fixed by https://github.com/istio/istio/pull/26142

[2020-08-06 15:45] Kyslik opened #26222 "istioctl analyze errors with IST0101 when VS is referencing k8s service without SE"
**Bug description**
`istioctl analyze` errors with:

[code]

I am not sure if `IST0101` is referencing the `spec.hosts` field or `spec.http.match.route.destination.host` field. In anycase the error seems to be invalid as in the docs it says for both fields (`.hosts` and `...destination.host`) that:

As soon as I add SE for `foo.foo-ns.svc.cluster.local` error is gone:

[code]

Analysis link: https

[2020-08-06 15:57] jnovick commented on #23960
Any update?

[2020-08-06 16:10] istio-testing opened #26223 "[release-1.7] Enable TCP Telemetry v2 export via Stackdriver filter"
Manual cherrypick required.

#25646 failed to apply on top of branch "release-1.7":
[code]

[2020-08-06 16:19] tgunsch commented on #24614
I have deployd istio-telemetry with istioctl 1.6.7 and following overlay:
[code]
mixer starts successful, but istio-proxy container got a CrashLoopBackOff:
[code]
Any hints how to fix the proxy non-root issue ?

[2020-08-06 16:23] howardjohn commented on #19395
Maybe we can just inject the annotation if the user doesn't have emptyDir in their pod spec. Although technically it could cause issues if a later mutating webhook adds an emptyDir

[2020-08-06 16:26] JimmyCYJ opened #26225 "CSR sends expired token to Istiod CA and breaks cert rotation in SDS flow"
**Bug description**
This is found in release perf test. Cert rotation fails after 12 hours.

_istio-proxy_ log shows that the CSR request gets rejected

[code]

_istiod_ log shows the token has expired

```2020-08-06T16:22:57.508640Z warn serverca     Authentication failed for 10.48.12.9:58966: Authenticator ClientCertAuthenticator at index 0 got error: no verified chain is found. Authenticator Ku

[2020-08-06 16:32] seeruk commented on #19395
As CA isn't configurable on GKE I opted for developing a mutating admission controller that flips how this behaviour works in a way. If you have a `safe-to-evict` annotation already present (with any value) it leaves it alone, otherwise it adds the `safe-to-evict=true` annotation (excluding kube-system and kube-public namespaces). This way we don't need to spam the annotations anywhere, and the de

[2020-08-06 17:01] yangminzhu commented on #25578
This seems still the old issue that the istiod failed to get the jwks from the `https://192.168.202.21:30000/auth/realms/istio/protocol/openid-connect/certs`, and it then returns an empty jwks to envoy which caused it fail to start. (This is fixed in master that a fake jwks (instead of empty) is returned so that at least unblock envoy to start).

It looks like you're using `https` in the jwks uri?

[2020-08-06 17:03] ldemailly commented on #26010
my two cents would be not to capture/hide the message but get a fix of the root cause

[2020-08-06 17:14] MirtoBusico commented on #25578
I used self signed certificate (note the --insecure flag in curl).
I'll try to use the http protocol and I'll report asap

[2020-08-06 17:35] nrjpoddar commented on #19395
Is this still an issue even if you use "memory" emptyDir? We have two emptyDirs usage in proxy, one is memory and the other is not? What is "istio-data" volume used for?

[2020-08-06 17:38] bianpengyuan commented on #23960
There is work going on to add API for opencensus agent, which supports configurable tracing context: https://github.com/istio/api/pull/1563

I am wondering though would that solve most use cases, or would it also be necessary to provide configurability on zipkin tracer to use Opecensus implementation for configurable trace context? It would be great to get your input on this.

[2020-08-06 17:40] MirtoBusico commented on #25578
**Ok using http on the external keycloak address works.**
Used the URL `http://192.168.202.21:30034`
The RequestAuthorization use `http://192.168.202.21:30034/auth/realms/istio`
[code]
The decoded token says iss is
[code]
The login is
[code]
The access return codes are correctly: 200 / 401 / 200 as return codes for no token / wrong token / keycloak token
[code]
So, if I understand correctly I have

[2020-08-06 17:41] lambdai commented on #26101
I thought multiple port could help to go beyond the limitation that at most 65k (actually it may be fewer since application can only use ephemeral port to connect). This is a improvement with no alternative.
By looking at your benchmark I feel we don't hit the 65k with 120s timewait (65k/120s = 600 new req/s in the long run)

I am wondering if the only benefits we gain here is b/c envoy is not opt

[2020-08-06 17:41] lambdai commented on #26101
@hzxuzhonghu Does gateway even use iptables?

[2020-08-06 17:50] bianpengyuan commented on #25963
So we did not provide a way to override stats filter configuration in the hope that we will have telemetry API by 1.7 but looks like that is not going to happen in short term.

@douglas-reid @mandarjog @kyessenov wdyt about adding config override into stats filter installation option? Without this, I think it would be hard for user to manage any patch on stats filter like this issue or any metric

[2020-08-06 17:52] bianpengyuan commented on #25963
Although the configuration will only control root namespace envoyfilters, so user will still need to maintain per namespace envoyfilter, but at least it won't be overridden when upgrading Istio.

[2020-08-06 17:56] cupello commented on #24354
Hi @howardjohn,

I have tried again and the problem still occurs at version 1.6.7:
[code]
[code]

Which version are you using?

[2020-08-06 18:06] ostromart commented on #24432
An update on this: it appears that the json merge library we're using is not doing what we want in this case. It behaves this way with lists in the picture (hence our gateways) and the at a glance the fix is likely to be quite involved. A better option would be to go with the k8s strategic merge library which has excellent test coverage and obviously works as k8s users expect. The trouble with usi

[2020-08-06 18:11] howardjohn commented on #24354
I am running from master, maybe it was recently fixed...

[2020-08-06 18:15] kyessenov commented on #25963
yeah, I would support pulling out filter configs out of envoy filter resource. wdyt @mandarjog ?

[2020-08-06 18:24] incfly opened #26229 "Re-enable TestAnalysisWritesStatus once the json marshaling issue is solved for v1.Time"
t UnmarshalJSON used by client go cannot unmarshal v1.Time in IstioCondition inside Status

[2020-08-06 18:25] incfly commented on #26229
Follow up from, https://github.com/istio/istio/pull/25960#issuecomment-669721235

[2020-08-06 19:05] jasonwzm commented on #26210
This is WAI for proto (Istio defines all its APIs as Protos, in your case the spec field of PeerAuthentication). Proto3 standard says there is no way to differentiate the default value and whether if it is unset. https://developers.google.com/protocol-buffers/docs/proto3#default

It is a bit unfortunate, but it should not actually matter to your actual usage of the field.

[2020-08-06 19:28] tmshort opened #26230 "istioctl 1.6.5 manifest migrate does not work with istiocontrolplane"
**Bug description**

istioctl 1.6.5 claims to be able to migrate istiocontrolplane resource YAML to an istiooperator resource YAML.

See help via `istioctl manifest migrate -h`

When this is tried with an istiocontrolplane yaml generated by istioctl 1.4.10, it fails, with different errors each time.
[code]

Notice that it errors out on something different each time.
[controlplane.yaml.txt](https:/

[2020-08-06 19:31] tmshort commented on #21961
I have since discovered that the istio 1.6 `pilot-agent` code does not pull in any certificate provider code other than Citadel. This means that Vault and Google CAs no longer work. We have Vault working with 1.5, and cannot migrate to 1.6 because of the lack of Vault support.

[2020-08-06 19:40] cupello commented on #24354
@howardjohn you are right. it works at version 1.7.0-beta.1.

I am closing this issue. Thanks!

[2020-08-06 19:41] #24354 closed

[2020-08-06 19:42] cupello commented on #24354
Closing this issue since version 1.7.0-beta.1 will have it fixed.

[2020-08-06 19:44] howardjohn commented on #24354
Thanks! I am working on adding an E2E test for this

[2020-08-06 19:47] rshriram commented on #26079
please provide config dump of the 0.0.0.0:443 listener on the failing cluster

[2020-08-06 19:48] ericvn commented on #26214
I'm not for doing this as we have found occasions where running upx on a binary has made it so things segfault right away. Granted, we have tests so would find this right away, but would take time to debug and fix the failure or turn off upx at that point.

[2020-08-06 19:52] tariq1890 commented on #26079
@rshriram Here it is

[code]

[2020-08-06 19:55] rshriram commented on #26079
need complete dump of that listener with all filter chains and listener filters

[2020-08-06 19:57] tariq1890 commented on #26079
I've corrected this. Thanks

[2020-08-06 20:05] howardjohn commented on #23757
Hi everyone. Testing CORS using curl can be a bit misleading. CORS is not enforced at the server side; it will not return a 4xx error for example. Instead, headers are returned back which are used by browsers to deny/accept. https://www.envoyproxy.io/docs/envoy/latest/start/sandboxes/cors.html?highlight=cors gives a good demo of this, and https://www.sohamkamani.com/blog/2016/12/21/web-security-co

[2020-08-06 20:13] howardjohn opened #26232 "Go binary size regression"
Agent:
master: 110m
1.6: 74m
1.5: 68m
1.4: 38m

Pilot:
master: 108m
1.6: 90m
1.5: 84m
1.4: 65m

Measured with
[code]

My theory is the 1.4 -> 1.5 regression in agent is for gateway SDS (pulls in k8s) and then 1.6 -> master regression is `google.golang.org/api/compute/v1`

cc @rshriram @kyessenov

[2020-08-06 20:25] lizan commented on #26079
@rshriram What's happening here is

a. Client initiates a HTTPS request, which Envoy cannot terminate its TLS
b. The first filter chain ` "application_protocols": ["http/1.0",  "http/1.1", "h2c"]` matches because TLS inspector fills `application_protocols` with ALPN (which include `http/1.1`)
c. The filter chain respond HTTP with response (because it has HCM)

while in case of a. the connection sh

[2020-08-06 20:26] rshriram commented on #26079
This is news!!! Thanks lizan. How do we make it be specific about plaintext?

[2020-08-06 20:27] linsun commented on #26208
@therealmitchconnors do you know if the steps are documented?  I think Ed may still not have power yet.

[2020-08-06 20:31] FL3SH commented on #24379
I was able cleanup my graph quite a bit.
<img width="1500" alt="Screenshot 2020-08-06 at 16 32 14" src="https://user-images.githubusercontent.com/9084725/89579282-cba8f200-d833-11ea-9b65-d9f35cbe93c3.png">

- removed virutalservices for redis and mongo
- fixed all prefixes for ports - I was missing `tcp-` or `http-` for [protocol selection](https://istio.io/latest/docs/ops/configuration/traffic-ma

[2020-08-06 20:33] niwatorrri commented on #26220
cc @maasen @jasonwzm @nmittler @davidhauck

[2020-08-06 20:35] lizan commented on #26079
https://github.com/envoyproxy/envoy/blob/6a71f16c664f2e3a874d2a991262d49e6ed485c8/api/envoy/api/v2/listener/listener_components.proto#L134 use `raw_buffer` in transport_protocol

[2020-08-06 20:36] rshriram commented on #26079
Per @lizan ,
to match only on plaintext http,

[code]

to match on non-TLS traffic,

[code]

So we have to fix our passthrough listener generation logic to use the raw buffer transport protocols. I wonder if we need to update other aspects of the sniffing logic to not assume that empty transport protocol + only application protocols mean no tls.

[2020-08-06 20:39] istio-testing opened #26233 "[release-1.7] label stackdriver tcp filter test"
Manual cherrypick required.

#26226 failed to apply on top of branch "release-1.7":
[code]

[2020-08-06 21:02] brendarearden opened #26234 "Istioctl uninstall results in exit code 1"
**Bug description**
When removing an istio installation (profile=demo, for example) using the steps to uninstall with istioctl, the following error occurs
[code]
and running `echo $? ` returns `1`

All the resources are terminated correctly and I see `No resources found in istio-system namespace.`

[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetr

[2020-08-06 21:14] FL3SH opened #26235 "[1.6.7] Connection to MongoDB doesn't work with mTLS enabled"
**Bug description**
With `spec.mtls.mode: STRICT` set for my namespace, myapp JVM base is not able to connect to MongoDB. I see traffic based on istio-proxy logs but a connection cannot be established and myapp end up with timeout.

Both pods are part of two separate StatefulSets, running in the same namespace.
MongoDB image `mongo:4.4` and `mongo:4.2`

If I set `spec.mtls.mode: PERMISSIVE ` every

[2020-08-06 21:53] incfly commented on #26225
Updated the priority feel free to adjust

[2020-08-06 22:45] tariq1890 commented on #26079
I changed the port name of another service from `http` to `https` and that took out the `0.0.0.0:443` listener completely from the istio-proxy config

[2020-08-06 23:30] jasonwzm opened #26239 "Fix Status to make it compliant with client-go"
This is spotted in https://github.com/istio/istio/pull/25960

Also need to fix release-1.7

Without the fix, any usage of client-go with Status in it will break.

[2020-08-06 23:59] ramsateesh opened #26240 "Unable to launch LoadBalancer type EgressGateway Service"
**Bug description**
Unable to launch LoadBalancer type EgressGateway Service even after overriding the values in the operator spec.

[ ] Docs
[ x ] Installation
[ x ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
istio-egressgateway service of type LoadBalancer is cre

[2020-08-07 00:06] #26169 closed

[2020-08-07 00:21] howardjohn commented on #26232
istio-agent basically imports literally everything now since @costinm put an XDS server in it

[2020-08-07 00:31] kyessenov commented on #26232
I think that's strange that the client agent is larger than the service. Go doesn't do a good job at code elimination as well.

[2020-08-07 00:42] istio-testing opened #26243 "[release-1.7] Remove DNS capture from install, tests"
Manual cherrypick required.

#26195 failed to apply on top of branch "release-1.7":
[code]

[2020-08-07 00:46] kyessenov commented on #26232
A minimalistic xDS server (e.g. go-control-plane test server) is around 22MB as a point of reference.

[2020-08-07 00:54] samos123 commented on #24596
1.6.7 this is fixed. It seems this is what fixed it: https://github.com/istio/istio/pull/25008

[2020-08-07 00:54] #24596 closed

[2020-08-07 01:04] howardjohn commented on #26232
We also import literally every proto in xds (including v2 and v4) so we can handle envoyfilters which adds a lot

[2020-08-07 01:09] tariq1890 commented on #26079
@rshriram Could you point out where the logic for `port.Name` is being used here? Trying to understand how the port Naming affects listener creation

[2020-08-07 01:11] howardjohn commented on #26079
port.Name very early on becomes server.Protocol which is handled
differently in listener.go

On Thu, Aug 6, 2020, 6:09 PM Tariq Ibrahim <notifications@github.com> wrote:

[2020-08-07 02:01] mandarjog commented on #26225
/subscribe

[2020-08-07 02:17] hzxuzhonghu commented on #26178
Not sure if it is same as https://github.com/istio/istio/issues/26098

[2020-08-07 02:18] hzxuzhonghu commented on #26178
What did you change to the wle?

[2020-08-07 02:21] howardjohn commented on #26178
the address

On Thu, Aug 6, 2020, 7:18 PM Zhonghu Xu <notifications@github.com> wrote:

[2020-08-07 02:29] xichengliudui commented on #26210
@howardjohn i tried `jsonpb`, it successfully displays the `UNSET` field.
the problem is that creating `PeerAuthentication` requires passing a `PeerAuthentication struct`, not a string. if i use `json.unmarshal` to convert to a `struct`, the `UNSET` field will again be ignored.......
[code]

[code]

[2020-08-07 02:31] hzxuzhonghu commented on #26235
maybe #24319 is related

[2020-08-07 02:52] ggjjlldd opened #26246 "istio install can not pull local docker images"
**Bug description**
docker images command has images lstio install need, but pod is imagepullbackoff, the describe is pull failed.
[code]
[code]
describe pod
[code]
local docker images:
[code]

[ ] Docs
[ x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior

[2020-08-07 03:06] liuxu623 commented on #26101
client -> nginx - REDIRECT - envoy -> backend

I found there are some port reused, and I update nginx config, make nginx active close TCP connection and retest.

[code]
We can see only 64512 requests succeed, and I change redirect port range retest
[code]
[code]
All requests succeed, but performance still not enough good.

[2020-08-07 03:57] howardjohn commented on #26246
I don't think this is any issue with Istio, you must have your kubernetes cluster/registry misconfigured

[2020-08-07 05:02] #19975 closed

[2020-08-07 05:02] #20093 closed

[2020-08-07 05:06] #21820 closed

[2020-08-07 06:19] #26215 closed

[2020-08-07 06:31] hzxuzhonghu commented on #26101
I thought it does. Just checked it does not.
Then do you know how can istiod serve dns resolve for gateways? maybe i should ask @costinm or @rshriram

[2020-08-07 06:41] hzxuzhonghu commented on #26210
@xichengliudui I think this is just bad UX and should have no other wrong behavior.

@jasonwzm Is there a way to remove the omitempty tag?

[2020-08-07 06:43] hzxuzhonghu commented on #26178
Ok, then it is not same. Let me have a look though this is not a normal use case.

[2020-08-07 06:52] hzxuzhonghu commented on #26178
This is similar to #25678, I am thinking if we should prohibit updating some fields of workloadentry? As pod, it is not allowed to update podip during pod lifecycle.
Other fields, like ports change may have unexpected behavior

[2020-08-07 07:23] verysonglaa commented on #23960
Great that there is work going on in order to use W3C Trace Context! Right now we use the same config as @alx13 and forward traces to OpenTelemetry Collector.
Configurable Trace Context for zipkin would be another options since this is the only reason we had to switch to opencensus.

[2020-08-07 07:36] FL3SH commented on #26235
Wasn't  #24319 merged to 1.6.7?

[2020-08-07 08:18] jotak opened #26256 "[1.7] Add jaeger-collector in sample addons?"
**Describe the feature request**

In the 1.7 alpha2, there is no out-of-the-box jaeger collector service exposed for receiving application traces. It seems to me that the demo profile + sample addons are there to ease the user experience, so I think it would be nice if it was exposed.

For example, just add this to `samples/addons/jaeger.yaml`

[code]

(I can open a PR if it's agreed)

**Describe

[2020-08-07 08:21] FL3SH commented on #24379
After seting `values.pilot.enableProtocolSniffingForInbound=false` and `values.pilot.enableProtocolSniffingForOutbound=false` nothing really has changed.

Is it an expected result?

<img width="854" alt="Screenshot 2020-08-07 at 10 18 33" src="https://user-images.githubusercontent.com/9084725/89625127-9afaa400-d897-11ea-8100-1c630b36cc34.png">

[2020-08-07 08:34] morvencao commented on #26234
There is no order for the resources deletion, so you mays see this error, but you can proceed because it doesn't have impact to you cluster or next installation.

[2020-08-07 08:46] gertvdijk commented on #26009
I did some digging into Envoy and I think you're right, but Istio is configuring Envoy incorrectly too. Let me explain in this a bit extensive comment, but I feel like I've spotted the actual issue.

First of all; hot :potato: here in [the Envoy docs on the `disable_stateless_session_resumption` setting](https://www.envoyproxy.io/docs/envoy/v1.15.0/api-v2/api/v2/auth/tls.proto#envoy-api-field-auth

[2020-08-07 09:00] MirtoBusico commented on #25578
**Ok using http on the external keycloak address works.**
Used the URL `http://192.168.202.21:30034`
The RequestAuthorization use `http://192.168.202.21:30034/auth/realms/istio`
[code]
The decoded token says iss is
[code]
The login is
[code]
The access return codes are correctly: 200 / 401 / 200 as return codes for no token / wrong token / keycloak token
[code]
So, if I understand correctly I have

[2020-08-07 09:02] rajivml opened #26259 "Istio 1.5.6, istiod not creating istio-ca-root-cert configmap for namespaces where istio injection is enabled"
HI Guys,

with reference to the below comment, the config map creation issue where istio injection is enabled on the namespace should have fixed in istio 1.5.6 , but that's not the case as this has hit us badly again in production today.

Based on the confirmation. we have migrated all our environments from Istio 1.5.4 to Istio 1.5.6 just to fix this burning issue, but the issue still exists

When

[2020-08-07 09:14] lanceliuu commented on #25685
@sdake
From the recent tests we find that the increasing of ready time for knative services is not caused by the delay for pilot pushing configs to envoy. After enable debug logs of enovy we find that the probes for knative fails with the following error:
[code]
Seems that the host in virtualservice is recongized and the upstream cluster config is also configured correctly. But envoy treat it as u

[2020-08-07 09:23] herbguo opened #26261 "Istio-v1.4.3: Re-deploy the deployment, Envoy proxy is NOT ready"
Hello, everyone,

I have a Istio runtime problem. The version is 1.4.3
when I re-deploy my deployment ,the istio-proxy is not run successfully,the log is show : Envoy proxy is NOT ready
The detail log is :

2020-08-07T08:55:31.016496Z	info	Envoy proxy is NOT ready: config not received from Pilot (is Pilot running?): cds updates: 0 successful, 0 rejected; lds updates: 0 successful, 0 rejected
[Envo

[2020-08-07 10:15] grvcurefit opened #26262 "Can not add a new label to already existing prometheus metric requestcount"
**Bug description**
Can not add a new label to the `requestcount` metric in prometheus

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[x] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
Prometheus evaluates the new label being added
**Steps to reproduce the bug**
I'm trying to add a new la

[2020-08-07 10:27] rajivml commented on #26259
I have verified the istio-leader configmap, it's pointing to the right istiod pod which is of istio 1.5.6 version itself

[2020-08-07 10:32] rajivml commented on #22463
yes we too observed it on 1.5.6

[2020-08-07 11:10] FL3SH commented on #24379
Can this issue have an impact on `AuthorizationPolicy`?

[2020-08-07 11:51] sonia-garudi commented on #20836
I tried to build istio/proxy on RHEL8 and encountered the same error :
[code]
The error is introduced in istio/proxy since it switched from https://github.com/istio/envoy to https://github.com/envoyproxy/envoy-wasm in WORKSPACE.
[code]
This repo has a dependency on https://github.com/emscripten-core/emsdk. emscripten doesn't provide support for power.
istio/proxy provides option to use local envoy

[2020-08-07 12:51] nataraj24 commented on #23851
its issue with host name based routing i saw a thread where it was mentioned it was fixed in istio 1.6.  for 1.5.2 version we have a workaround sending request host header from browser using browser plugin with hostname then the requests are getting routed properly appropriate gateway for multiple namespace.  unfortunately when i use 1.6 version external services arent working.  i had raised reque

[2020-08-07 13:28] esnible commented on #26010
@ldemailly A key Kubernetes library says https://github.com/kubernetes/apimachinery/blob/master/pkg/apis/meta/v1/time.go#L34 :
[code]

I suspect gogo/protobuf expected `""` not `"-"`, for this situation.
  See https://github.com/gogo/protobuf/blob/master/proto/properties.go#L368 and https://github.com/gogo/protobuf/blob/master/proto/properties.go#L207

We could also avoid this by switching 100% to

[2020-08-07 13:47] esnible commented on #26246
Your images have l (lower case L) not I (upper case I), e.g. 10.20.144.34/lstio/proxyv2

You have two choices.  First, have the images already present and tagged with the same name as the control plane `image` *on every Node* in your cluster.
Or, you might be able to get away with something like `istioctl manifest apply --set hub=10.20.144.34/lstio --set tag=1.6.5` to cause the control plane to us

[2020-08-07 13:47] Kyslik opened #26263 "VirtualService on Istio 1.4.x generates different config than Istio 1.5.x"
**Bug description**

Given VS:

[code]

When we compare _config_dump_ between the two versions (Istio 1.4.x and 1.5.x) we can see that `provider-global-default` route is missing in the 1.5.x dump. Routes with name `GET-/` are present in both.

<details>
  <summary>1.5 portion of dump (click to expand):</summary>

[code]
</details>

<details>
  <summary>1.4 portion of dump (click to expand)</summar

[2020-08-07 13:51] howardjohn commented on #26009
@gertvdijk thanks for the detailed research!

[2020-08-07 13:53] jotak commented on #24075
This is solved in 1.7 so for me issue can be closed, unless you plan some backporting to 1.6.x

[2020-08-07 13:54] esnible commented on #26208
My power came back!

@irisdingbj `istioctl ps` does the equivalent of `kubectl -n istio-system get pods --selector app=istiod --field-selector status.phase=Running`.  Do you see any pods for that query?

[2020-08-07 13:58] esnible commented on #26184
Closing as a duplicate of https://github.com/istio/istio/issues/26010

[2020-08-07 13:58] #26184 closed

[2020-08-07 14:08] whitlaaa opened #26264 "Changes to gateway name resolution break FQDN references"
**Bug description**

I believe some changes to optimize `resolveGatewayName` as part of [0f49eca](https://github.com/istio/istio/commit/0f49eca87a408afb8e80f046f090546f412e4712#diff-e3109392080297ee093b7189648289e1L376) resulted in breaking changes when using FQDN for gateway references, causing routes to throw `NR` (No route configured) flags from Envoy until we switched to the `$NAMESPACE/$GATEW

[2020-08-07 14:16] howardjohn commented on #26010
"gogo/protobuf" 180 times and "golang/protobuf" 164 times.

Does this solve the problem? K8s uses gogo

On Fri, Aug 7, 2020 at 6:28 AM Ed Snible <notifications@github.com> wrote:

[2020-08-07 14:16] #26216 closed

[2020-08-07 14:22] esnible opened #26265 "Integration test for 'istioctl verify-install'"
Inspired by the bugs coming in from all the problems with 'verify-istall'.

This work item is to create a test, so that the command doesn't break unnoticed.

These are the motivating bugs:

- https://github.com/istio/istio/issues/25848 template nil pointer evaluating interface {}
- https://github.com/istio/istio/issues/25830 parsing error, probably due to .Status
- https://github.com/istio/istio/i

[2020-08-07 14:37] esnible opened #26266 "[1.6] 'istioctl verify-install' reports 'Checked 0 custom resource definitions'"
`istioctl verify-install` is not checking the Istio Installation.  It reports
[code]

According to my library of old _istioctl_ versions, `1.6.0-rc.1` has this problem, `1.6.0-alpha.1` did not.  See also https://github.com/istio/istio/issues/26265

The problem, in this case, is that I had the IstioOperator from https://github.com/istio/istio/issues/25830#issuecomment-663568679 installed on my clus

[2020-08-07 14:45] darkstarmv commented on #26183
we have narrowed down the issue to Istio ingress health check timing out under load, once we switched to tcp health check for our load balancer, we stopped seeing issues

[2020-08-07 14:55] esnible commented on #25830
The parsing error is gone in 1.7 beta 1.  However, instead we have #26266 where it reports there is no Istio to check.

[2020-08-07 15:03] esnible opened #26267 "'istioctl dataplane namespace add'"
Users don't know which namespaces are configured for Istio or how to set them up for Istio.

@linsun points out that OSM solves it using `osm add namespace` cmd.  e.g.
[code]

Commands to enable and list namespaces would help Istio, especially for users who did not install or adminster the control plane.

We probably need a `--revision` flag to deal with canary control planes.

Taking suggestions

[2020-08-07 15:10] rajivml commented on #26259
Please let us know if any additional logs are needed, after we restarted istiod problem went away and in couple of hours again the problem started, will changing the istiod pod replicas to 1 will temporarily solve the issue if it's an leader election issue among istiod pods ?

[2020-08-07 15:34] fktkrt commented on #24310
Just added some example expressions and cleaned up the docs a bit. Could you please review them?
Tagging @howardjohn, as he had some comments already there.

[2020-08-07 15:46] tr11 commented on #6574
Having the same issue as @keatz55 using version 1.6.5.

[2020-08-07 15:58] bianpengyuan commented on #23960
@verysonglaa dummy question: would opencensus-agent tracer work along with opentelemetry collector, so that you can remove the bootstrap hack?

[2020-08-07 16:02] bianpengyuan commented on #24379
You graph looks normal to me. In your point of view, which part of your graph is wrong?

[2020-08-07 16:27] khernyo opened #26273 "Conflicting ServiceEntries cause istio-proxy crash"
**Bug description**

Two ServiceEntries with conflicting configuration causes Istio to send invalid configuration to istio-proxy which responds with `multiple filter chains with the same matching rules are defined` error. Sometimes, istio-proxy crashes when receiving the invalid configuration. When this happens, istio-proxy restarts but fails to become ready with the following message in its log:

[2020-08-07 16:30] FL3SH commented on #24379
`unknow` -> `mongo-mongod`

I thought my traffic would go from `myapp` pod to `mongo-mongod` service direct without this strange `mongo-mongod.defal.svc.cluster.local` service.

[2020-08-07 16:40] bianpengyuan commented on #24379
Oh I see. yes, MTLS has to be enabled in order to make both client and server sidecar get peer's workload metadata, which is needed to connect kiali graph.

[2020-08-07 16:46] FL3SH commented on #24379
In conclusion, this is how this graph should looks?

[2020-08-07 16:54] yadav opened #26275 "Add securityContext for the istio k8s spec"
Hi, we used to add
securityContext:
        sysctls:
          - name: "net.ipv4.ip_local_port_range"
            value: "10000  65535"
in istio ingress for our perf testing, but now we are using istio operator for installing ASM, and I don't see any option to add it anymore: https://istio.io/latest/docs/reference/config/istio.operator.v1alpha1/#ObjectMeta

[2020-08-07 17:00] bianpengyuan commented on #24379
@FL3SH yes.

[2020-08-07 17:01] esnible opened #26276 "'istioctl verify-install' Asset charts/addons/grafana not found"
To reproduce:

[code]

_istioctl_ is required to be able to tolerate every IOP produced by the previous version's _istioctl_.

cc @ostromart

[2020-08-07 17:13] ostromart commented on #26275
This should be added to the kubernetes spec in the IstioOperator API and also backported to 1.6.

[2020-08-07 17:21] FL3SH commented on #24379
Thank you for your explanation.

[2020-08-07 17:27] bianpengyuan commented on #26262
The type of source.ip is `IP_ADDRESS`, but this expression `source.ip | "unknown"` assumes the type to be string. If you look at your istio-telemetry pod log you should be see error log about wrong expression. I would suggest to update the expression to `source_ip: source.ip | ip("0.0.0.0")` and use `"0.0.0.0"` to represent `unknown`.

Note mixer is going to be removed by 1.8, so please consider s

[2020-08-07 17:43] nirvanagit commented on #13422
@howardjohn - yes this is still an issue. Can we reopen?

[2020-08-07 17:57] #26233 closed

[2020-08-07 18:27] kyessenov commented on #23960
Re: Envoy's zipkin driver supporting other headers -- that would be neat, but the way they are written assumes the driver's responsibility to propagate headers. If we could share more code of open* with envoy's drivers, we could reuse the header propagation.

I think we could just add another header to the mix. The drawback is one extra header (it's unconditional, as it doesn't correlate what was

[2020-08-07 18:36] esnible commented on #26070
Using the official 1.7.0 beta.1 build of _istioctl_, I am getting

[code]

Istio was installed using Master and `go test ./tests/integration/pilot/... --istio.test.env kube -run TestDescribe`

[iss.yaml.txt](https://github.com/istio/istio/files/5043080/iss.yaml.txt)

[2020-08-07 18:38] bianpengyuan commented on #23960
@kyessenov opencensus tracer already supports zipkin exporter, so we already have a way to achieve this instead of updating zipkin driver.

[2020-08-07 18:40] elfinhe opened #26280 "In-place/canary upgrade 1.6->1.7 failure on k8s 1.16"
**Bug description**
On k8s 1.16, Install Istio 1.6 first, then install Istio 1.7 for in-place upgrade. The 1.6 webhook will have a similar issue like: https://github.com/istio/istio/issues/26186. seems like we need to apply https://github.com/istio/istio/pull/26187 to release 1.6 as well to support inplace upgrade.

Background: https://github.com/kubernetes/kubernetes/issues/85681
Webhook v1beta1

[2020-08-07 19:00] elfinhe commented on #26280
@howardjohn @tariq1890 ptal

[2020-08-07 19:02] howardjohn commented on #26280
We should not require a latest 1.6 to upgrade to 1.7 if possible. May need to revert the upgrade in 1.7

[2020-08-07 19:14] elfinhe commented on #26280
Yep, it would be better to have both v1&v1beta1 runtime scheme in 1.7, and update MutatingWebhook apiVersion to v1 in 1.8.

[2020-08-07 19:15] nadeemhussain commented on #25100
@howardjohn  this happened 2 times for us and in both cases there was only one pod of istiod running ( though we have hpa on it ), after this we made the min replica to 3 for istiod and we have not seen this issue since then, its been more than a month now.

As istiod was running on info logging there was not much of the information there apart from this one above .

when this happened we did try

[2020-08-07 19:17] tariq1890 commented on #26280
Reverting makes sense. So revert #24723 but retain #26187 , yes?

[2020-08-07 19:19] howardjohn commented on #26280
Yeah I think that makes sense to me?

[2020-08-07 19:24] linsun commented on #25685
Can you check out https://karlstoney.com/2019/05/31/istio-503s-ucs-and-tcp-fun-times/index.html and to see if there is more you can find from these 503s?

also, you can turn on access logs https://istio.io/docs/tasks/telemetry/logs/access-log/ and there is a "Response Flag" field that will give more details about the 503 (like DC, UC, etc).

[2020-08-07 19:31] keerthig9 opened #26282 "Istio throwing 503 UH errors for external service calls and cluster has multiple ServiceEntry for same host"
**Bug description**
We recently enabled Egress for external service calls in our cluster and all was working fine for a week, later we observed spikes of 503 UH errors for external service calls in envoy sidecar and recovered automatically. 2 days it was a small spike but one day the errors went up for nearly 4 hours causing availability drop for cluster and recovered automatically. We disabled eg

[2020-08-07 19:34] tariq1890 commented on #26280
Alrighty

[2020-08-07 19:36] elfinhe commented on #26280
Thanks Tariq

[2020-08-07 19:42] keerthig9 commented on #26282
pilot pod had multiple occurrences of below log:
[code]
Here we have completely different host for ServiceEntry, Not sure what this log means and anywhere related to current issue.

[2020-08-07 20:12] mandarjog commented on #26097
@scr-oath it would be great if you can send a doc PR.

[2020-08-07 21:00] tariq1890 commented on #26079
I just want to add that this is rather concerning. The customer workload which had this bad port naming was not even meant to be a part of the service mesh (no istio-injection enabled in its namespace) and yet it broke the entire mesh. This speaks to the fragility of the Istio service mesh network. We can't afford to have such a mishap in production especially given its likely due to envoy's hot r

[2020-08-07 21:20] howardjohn commented on #26079
@tariq1890 we need a way to identify the protocol for a service. Until Kubernetes 1.18 (see appProtocol in https://istio.io/latest/docs/ops/configuration/traffic-management/protocol-selection/#manual-protocol-selection) we had no way of doing this other than either relying on port name, or relying on a special annotation on the Service. For better or worse, we chose to use port name rather than an

[2020-08-07 21:25] nschhina opened #26287 "TestMeshNetworking unit test is Flaky"
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/26224/unit-tests_istio/18457

[2020-08-07 21:28] nschhina commented on #26287
cc: @stevenctl

[2020-08-07 21:38] tariq1890 commented on #26079
Thanks for your response. I can see why you chose the port name approach. But sadly, in our not-ideal world, there will always be some sort of typos or hacks and misconfigurations by K8s users.

At the very least, we should have an `istioctl analyze` warning/error. But I am not sure if non-meshed components fall under the scope of `istioctl analyze`.

Sure happy to help and contribute a fix in any

[2020-08-07 22:00] ericvn commented on #26070
@esnible I thought `istioctl verify-install` is no longer a valid command (since 1.6) (replaced by istioctl x recheck?). I know there was a recent PR removing instructions about using no parameters would make it work like precheck.

[2020-08-07 22:07] ericvn commented on #26234
I'm not sure if this will help (haven't tested to see if you get a 0), but I've used `istioctl manifest generate --set profile=demo | kubectl delete --ignore-not-found=true -f -` in the past.

[2020-08-07 22:23] stevenctl commented on #26287
Looks like a real race during kube controller's first `Run` that calls reload, then the handler on meshNetworks watcher. Fix here: https://github.com/istio/istio/pull/26290

[2020-08-07 22:32] lambdai commented on #26101
I am not sure if the target is 100% true.
My understanding is that istio wants to intercept the dns lookup of *user application*, making envoy as a benign dns proxy.
There is no such user application in gateway.

[2020-08-07 22:38] brendarearden commented on #26234
@ericvn That seems to do the trick and returned `0` exit code! Thank you!

[2020-08-07 22:57] nschhina opened #26292 "Integration Tests for Trust Domain Validation"
Test Plan: https://docs.google.com/document/d/1FBwpRCNwABrr30vnzmt403tg7OPvQXaBs_S27DadGJU/edit?ts=5f2a55a0

Feature: https://github.com/istio/istio/pull/26224

Feature Design Doc: https://docs.google.com/document/d/1yfYFp2Pw3-pPACYGRWQQdrEtroAunCD3fjOF9ZGtcrU/edit#heading=h.n7k4m7emxj5z

[2020-08-07 22:57] nschhina commented on #26292
cc: @JimmyCYJ

[2020-08-07 23:00] stevenctl opened #26293 "multi-network causes extra gateway hops"
** Tasks **
- [X] Make EDS use REQUESTED_NETWORK_VIEW (#26729)
- [x] Add samples/test for a separate east-west gateway, with network view set (#27222)
- [x] Include east-west gateway in multicluster/multinetwork docs
- [x] Add support to istioctl for more easily deploying east-west gateway

**Bug description**

<details>

<summary> Bug description </summary>

In https://github.com/istio/istio/pull

[2020-08-07 23:08] jasonwzm opened #26294 "Consolidate and fix VM docs"
We currently have 3 instructions on setting up VM:
https://preliminary.istio.io/latest/docs/setup/install/virtual-machine
https://preliminary.istio.io/latest/docs/examples/virtual-machines/single-network/
https://preliminary.istio.io/latest/docs/examples/virtual-machines/multi-network/

The setup is mostly identical and which should consolidate.

Also, none of the docs mentions instructions on rel

[2020-08-07 23:08] jasonwzm commented on #26294
/cc @williamaronli @liminw @JimmyCYJ

[2020-08-07 23:31] stewartbutler commented on #23457
If the init container is outputting ```Error connecting to 127.0.0.6:15002: dial tcp 127.0.0.1:0->127.0.0.6:15002: connect: connection refused
Error connecting to 127.0.0.6:15002: dial tcp 127.0.0.1:0->127.0.0.6:15002: connect: connection refused
Error connecting to 127.0.0.6:15002: dial tcp 127.0.0.1:0->127.0.0.6:15002: connect: connection refused``` it should eventually exit with an exit code 12

[2020-08-08 00:02] istio-testing opened #26297 "[release-1.7] Revert "update MutatingWebhook apiVersion to v1 and other minor fixes""
Manual cherrypick required.

#26285 failed to apply on top of branch "release-1.7":
[code]

[2020-08-08 00:28] houshym commented on #7582
but if we need to do some traffic management that need VS definition what is option? I can not see anything wrong in this configuration

[2020-08-08 01:32] esnible commented on #25688
I can reproduce this.  For me, this happens when the IstioOperator has metadata with

[code]

The problem is the `time`, which github.com/gogo/protobuf's Unmarshal() objects to.

[2020-08-08 02:09] tanjunchen opened #26300 "istioctl proxy-status fails"
**Bug description**

[code]

[code]

[code]

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[x] User Experience
[x] Developer Infrastructure

**Expected behavior**

istioctl proxy-status will success. it will  filter the terminating pod.

**Steps to reproduce the bug**

make the  istiod pod terminating.

Error

[2020-08-08 02:16] #26256 closed

[2020-08-08 02:16] tanjunchen commented on #26300
see https://github.com/istio/istio/blob/1.6.0/istioctl/pkg/kubernetes/client.go#L271

[code]

Can we judge the status of the pod by status.pthase? *kubectl* shows terminating, but the status.phase of the pod is running in yaml.

[2020-08-08 05:29] #26287 closed

[2020-08-08 07:52] richardwxn commented on #26230
@tmshort You may need to use the istioctl binary from 1.6.5 release to run this command instead of the old one from 1.4.10, there was no `IstioOperator` API back in 1.4 and thus the migration path from `istiocontrolplane` to `istiooperator` need to be done using the newer release.

[2020-08-08 10:57] esnible commented on #26026
Closing as a duplicate of https://github.com/istio/istio/issues/25688

[2020-08-08 10:57] #26026 closed

[2020-08-08 10:59] esnible commented on #25247
Closing because this was fixed by the Revert "refactor: convert IstioOperator from Unstructured more efficiently" #26011

[2020-08-08 10:59] #25247 closed

[2020-08-08 11:21] grvcurefit commented on #26262
I tried replacing it with `ip("0.0.0.0")`, still no luck, the new label doesn't show up. I have already disabled mixer, so there's no telemetry pod, will these logs be available in proxy sidecar?
I tried going through the sidecar logs, didn't see any error as such.

[2020-08-08 11:34] liamawhite commented on #21249
We are also interested in this.

[2020-08-08 12:41] rvennam commented on #21249
+1 this would be useful. Verbose options could include TLS settings, latency, headers, pod IP etc.

Would you test proxy to proxy? Ideally, you would test user container to container, but I'm not sure that's possible. Can you use an ephemeral debug container?

[2020-08-08 13:54] esnible commented on #21249
There are two sides, the client/sender and the server/receiver.

One implementation idea is to use an EnvoyFilter with WASM OnTick() that attempts to transmit on the client, and another EnvoyFilter that tracks receives.

Alternately, ephemeral containers could be use to transmit and receive.

If an ephemeral container is used the connectivity test tool could collect the information from the pod.

[2020-08-08 14:29] kazukousen opened #26302 "Ingress Gateway don't wait for connections to drain and reported http status code 502 error by LoadBalancer"
**Bug description**
We are running Istio ingress gateway in AWS EKS.
We also have AWS ALB in front of ingress gateway and exposed by NodePort to support the Target Group (instance mode).

(the reason why we don't use alb-ingress is because when updating cluster, we can work more safely without it.)

We have noticed that the ALB reports status code 502 error on some requests when Istio ingress gate

[2020-08-08 15:01] rvennam commented on #21249
I'm worried using EnvoyFilters won't be a proper test if the user is debugging issues with config. I guess that depends on where in the filter chain the test runs.

[2020-08-08 16:13] rajivml commented on #26259
any update on this ? this issue is happening consistently on our prod environment at-least once a day , any suggestion on how to fix this for good would be helpful

[2020-08-08 17:22] khernyo opened #26303 "Conflicting ServiceEntries cause outbound traffic restrictions to be ignored"
**Bug description**

When two service entries contain conflicting protocol for the same port (one TCP and the other HTTPS) the resulting envoy config ends up with a catch all filter chain. This can allow all outbound traffic on a supposedly locked down cluster.

Possibly related issue: #26273

Istio-proxy logs contain the following warning:
[code]

The envoy config shows that there is a catch all

[2020-08-08 23:08] AlexAndrascu commented on #18692
Any news or docs on how can this be achieved?

[2020-08-08 23:22] elfinhe commented on #26280
After some tests, I think we need to add `admissionReviewVersions: ["v1", "v1beta1"]` into both 1.7 and master branch to be able to support upgrade from 1.7 -> 1.8.

The revert PR https://github.com/istio/istio/pull/26285 has solved the issue in the 1.6->1.7 upgrade. But 1.7 cannot be upgraded to the planed 1.8 seamlessly without `admissionReviewVersions: ["v1", "v1beta1"]` line in istiod-istio-sy

[2020-08-09 00:23] bianpengyuan commented on #26262
@grvcurefit Sorry I am confused. The configuration you edited (instance, handler) are consumed by Mixer. If mixer is disabled, they are not effective for sure.

I guess the metrics you are looking at are generated by telemetry v2, so to customize those metrics, you need to follow this guide: https://istio.io/v1.5/docs/reference/config/telemetry/configurable_metrics/  Note, metric customization sup

[2020-08-09 00:31] richardwxn commented on #26225
Update with the latest perf test run with fix from @williamaronli , now the cert can be rotated after 12h

[code]

[2020-08-09 00:32] williamaronli commented on #26225
thanks to xinnan perf test successfully. close this test @mandarjog take a look next week

[2020-08-09 00:32] #26225 closed

[2020-08-09 02:37] morvencao commented on #26240
What do you expect? IP allocated for istio-egressgateway service?

[2020-08-09 02:51] morvencao commented on #26020
HPA is by default enabled, I think the cause for your issue should be the indention issue at `resource`, please try with the following yaml:

[code]

[2020-08-09 05:02] #20120 closed

[2020-08-09 05:02] #20135 closed

[2020-08-09 05:55] ramsateesh commented on #26240
Yes.

[2020-08-09 06:10] morvencao commented on #26240
The loadbalancer IP depends on your cloud provider, it's not an issue of istio.

[2020-08-09 06:22] DrowringMan opened #26306 "how to build metadata-exchange-filter.wasm and stats-filter.wasm?"
i build istio on arm64 plantform，now i lost  metadata-exchange-filter.wasm and stats-filter.wasm，how to build this binary？

[2020-08-09 07:50] #20142 closed

[2020-08-09 07:57] rajivml commented on #26259
cc @howardjohn @tariq1890 @knight42

[2020-08-09 08:28] j-martin opened #26307 "`istioctl install --set XXXXXXXX` does not prompt a confirmation to install istio"
**Bug description**

Running `istioctl install --set values.kiali.enabled=true` as per the docs does not prompt the user to confirm whether to install istio on the cluster or not. Calling `istioctl install` prompt the user whether to install istio or not. Any other flag should still prompt (except with a --force or equivalent to ignore the prompt). I understand it is a user error, but it is arguab

[2020-08-09 09:58] khernyo commented on #26303
I just checked on Istio 1.7.0-beta.1 and it seems that no traffic is allowed out of the cluster even with the non-conflicting service entries (after applying the fix in step 6):

[code]

In Istio 1.7.0-alpha.0 it works the same as in 1.6.7, but in 1.7.0-alpha.1 and above no traffic gets out of the cluster.

[2020-08-09 11:02] ramsateesh commented on #26240
istio-egressgateway service created is of ClusterIP type instead of LoadBalancer type.

[code]

This is output from my cluster, and the service type is ClusterIP.  Ingress Gateway service was defined to be LoadBalancer and External IP was created by the cloud provider and assigned to the service.

[2020-08-09 13:38] su225 commented on #26292
Can I pick this one?

[2020-08-09 17:21] JimmyCYJ commented on #26294
@williamaronli please cover the support for cert rotation using existing cert in this user guide.

[2020-08-09 17:41] JimmyCYJ commented on #26294
@jasonwzm @williamaronli could you fix this issue as well? https://github.com/istio/istio.io/issues/7855

[2020-08-09 20:48] teatreeoilchocolate commented on #25066
I have long since switched ingress, since it was still not a completely setup cluster and a new one, without requirements, at that.
I thought about attaching the configuration, but, if memory serves me right, I found that it was also containing my ssl-certificates, which I am more than reluctant to post.

[2020-08-09 20:48] #25066 closed

[2020-08-09 21:22] tegk commented on #21094
Envoy does now provice ARM64 builds https://www.envoyproxy.io/docs/envoy/latest/install/building#arm64-binaries so why not Istio?

[2020-08-09 22:31] FL3SH commented on #26235
I was able to make it work:
- I've changed `mongo-mongod` service from `headless` to `ClusterIP`
- myapp now use `mongo-mongod` insted of `mongo-mongod-0.mongo-mongod.default.svc.cluster.local`

Is it possible to make `headless` services work, because I don't if this configuration will work for my setup?

[2020-08-10 02:05] howardjohn commented on #26259
Can you post the istiod logs? does this issue happen always/permanently or only after some period of time? I mean if you restart istiod, then create a new namespace, will it update the configmap?

[2020-08-10 02:17] morvencao commented on #26240
You should use k8s resource overlay to set the service type instead of helm values:

[code]

[2020-08-10 02:20] howardjohn opened #26313 "Headless service exposed at gateway fails"
If headless service, we skip EDS update: https://github.com/istio/istio/blob/bae28dde42cf54e213d4c6bcd9c930f8d9ee60c4/pilot/pkg/serviceregistry/kube/controller/endpointsdiscovery.go#L66

For sidecar, we then make original_dst cluster: https://github.com/istio/istio/blob/a302195f151b478c2003b8aec1acca1e3f801959/pilot/pkg/networking/core/v1alpha3/listener.go#L1078.

For GW, we generate an empty EDS

[2020-08-10 02:40] hzxuzhonghu commented on #26313
Also note: if the headless service has sidecar injected, we need to set the tls explicitly

[2020-08-10 02:45] morvencao commented on #26307
It will only prompt to users if they use `istioctl install` without any config args.

[2020-08-10 03:10] hzxuzhonghu commented on #26313
I think you linked the wrong code, here it is
https://github.com/istio/istio/blob/c5ad10c525289c1ed89458ea04776ad87755f6ef/pilot/pkg/networking/core/v1alpha3/cluster.go#L424-L433

[2020-08-10 03:15] mjs0514 commented on #26162
First of all, thank you so much for answering howardjohn.

I am using the built release version linked to the istio official homepage.

So when I checked the link, I saw that the merged commit is not in the latest release. I think you can test it out when a newer release or beta version comes out in the future.

If the release is too late, I'll build it myself, test it, and comment again.

[2020-08-10 04:36] ramsateesh commented on #26240
Thank you very much @morvencao. this one did generate a valid type in the istio-egressgateway service.

[2020-08-10 04:36] #26240 closed

[2020-08-10 05:10] #23287 closed

[2020-08-10 05:40] Murudkar opened #26314 "Istio VM based Installation Not Working"
**Bug description**

[x] Docs
[x] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
Istioctl should show LDS / RDS to be synced , for a VM based installation ?

**Steps to reproduce the bug**
Istio-start.sh on centos7, Proxy starts with following Warnings

[2020-08-10 05:48] alecor191 commented on #20952
@mandarjog as this topic got closed due to inactivity, I was wondering if it is still scheduled to be released as part of 1.7?

[2020-08-10 06:27] bianpengyuan commented on #26306
Those wasm modules are built by `build_wasm` target: https://github.com/istio/proxy/blob/master/Makefile.core.mk#L79

To build all artifacts from istio/proxy repo, you can use `push_release` target: https://github.com/istio/proxy/blob/master/Makefile.core.mk#L165

I am going to close this issue. Please reopen if you have further question. thanks!

[2020-08-10 06:27] #26306 closed

[2020-08-10 06:54] shamsher31 commented on #26300
There has to be only one POD running for `istiod`, looks like there are multiple pods for istiod is running which may be created from different istioctl versions. Can you delete `istio-system` and re-create it using the installation method you used?

[2020-08-10 07:13] infa-ddeore opened #26317 "istio operator doesn't work with multiple watch namespaces"
**Bug description**
istio operator doesn't work with multiple watch namespaces

[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
operator should deploy istio resources from the watched namespaces and in the defined namespace, eg. user gatewa

[2020-08-10 07:36] tx19980520 opened #26318 "fine granted accesslog"
**Describe the feature request**
Accesslog is importmant for us, now we can configure it as mesh scope. In many use cases, developers want to configure is like in a small scope. for examples, every server in a gateway, which may be different protocol and different port. Especially for different protocols, accesslog I locks will be different.

My ideal configuration is as follows:

[code]

[ ] Docs

[2020-08-10 07:54] hzxuzhonghu commented on #26101
Got that, only generated dns filter for sidecar #24919.

[2020-08-10 07:59] hzxuzhonghu commented on #26063
I think this should be fixed, no failure now

[2020-08-10 07:59] #26063 closed

[2020-08-10 08:06] morlay commented on #21094
@tegk

i maintained a custom build of istio-envoy for arm64 https://github.com/querycap/istio-envoy-arm64
You could download from the releases.

[2020-08-10 08:34] xring commented on #13861
just wondering does this feature available in Istio 1.6.7?

[2020-08-10 10:12] verysonglaa commented on #23960
@bianpengyuan There is a minor Issue in envoy (https://github.com/envoyproxy/envoy/issues/12538) but apart from that it works. We use OpenCensus tracer with OpenTelemetry-Collector and even OpenTelemetry azuremonitor exporter from the contrib repository.

[2020-08-10 11:58] liamawhite commented on #26020
I just double-checked and that wasn't my issue, it was errant copy and pasting into the issue. However, I re-ran my test scenario without the values and it worked this time so I must have changed something.

[2020-08-10 11:58] #26020 closed

[2020-08-10 12:14] 1hanymhajna opened #26324 "got error 503 - CERTIFICATE_VERIFY_FAILED - randomly after new deployments"
We are running with istio 1.4.7, on EKS v1.15,
 suddenly we start to get error 503 with `CERTIFICATE_VERIFY_FAILED` error in the client-side, and after restarting the pilot or the citadel the problem resolved and the service come to be reachable, but when we run new deployment it reproduced again!

Verified the xDS and all look fine, the EDS look ok and all in sync,
is there any chance you face th

[2020-08-10 12:58] tanjunchen commented on #26300
yes . It is ok after I delete the  terminating pod. I'm just a little curious whether the status of istiod reflected by the status of the pod is not accurate.

[2020-08-10 13:12] tmshort commented on #26230
@richardwxn The use of 1.4.10 was simply to convert a values file to an `istiocontrolplane`, that's it. I am using the following command (i.e. 1.6.5) in an attempt to convert an `istiocontrolplane` to an `istiooperator`. It fails because 1.6.5 apparently doesn't understand the `istiocontrolplane` format; it appears to be expecting a values file that does not contain `spec`, `kind` or `apiVersion`.

[2020-08-10 14:17] rajivml commented on #26259
it's happening many times a day and when we are restarting istiod, it's creating missing configmaps in the namespaces where istio injection is enabled and we have temporarily scheduled a cron like this to restart istiod when ever configmap creation is not happening .

I will share the logs shortly , I have just now asked our IT admin to create an sink (GCP bucket) to upload the istiod logs as gcp

[2020-08-10 14:23] ericvn commented on #26234
Maybe need to add something better in our docs. But with 1.7 (not sure if it's in 1.6 at all), there is a istioctl x uninstall `istioctl x uninstall --help`.

[2020-08-10 14:31] nmittler opened #26325 "Multicluster remote profile broken for CA"
**Bug description**

From @tbarrella:

[code]

The "legacy" (i.e. non-central) remote profile used to only require setting `remotePilotAddress` to function properly. I suspect that something was broken by the recent changes for central istiod.

The following *should* work:

Set up the first primary cluster: https://gist.github.com/nmittler/177017e7f16600f47caca0493b01d9d2

Add a remote cluster: ht

[2020-08-10 14:48] #24742 closed

[2020-08-10 14:55] stevenctl commented on #26325
If you check out https://github.com/istio/istio.io/pull/7888, I think we also need this in values.global:
[code]

[2020-08-10 14:57] stevenctl commented on #26325
This may be a dupe of https://github.com/istio/istio/issues/26017; there is also an issue with the cert generation make commands.

[2020-08-10 14:57] howardjohn commented on #26162
Yes it has not been released yet. You can try it out from https://github.com/istio/istio/wiki/Dev%20Builds (something like https://storage.googleapis.com/istio-build/dev/1.8-alpha.cb64645ea84773de5177396fa25bcd307d9356a6/istio-1.8-alpha.cb64645ea84773de5177396fa25bcd307d9356a6-linux-amd64.tar.gz)

[2020-08-10 16:10] howardjohn commented on #26303
@khernyo thanks for testing this out. Seems possibly related to https://github.com/istio/istio/issues/26079. On 1.7 beta 1, do you have no SE? Or a single one? Ill try to reproduce but if I cannot it would help to get a config dump and/or the config you applied

[2020-08-10 16:15] howardjohn commented on #26303
I reproduced the original one but not the SSL_ERROR_SYSCALL. I suspect that is the same or similar to 26079

[2020-08-10 16:16] nmittler commented on #26325
@stevenctl

Just to be clear, this is still using the local istiod in the remote cluster as the CA, correct?

[2020-08-10 16:18] howardjohn commented on #26303
I think SSL_ERROR_SYSCALL is when its hitting the blackhole cluster. The error is a bit weird here though, but seems to be blocking more traffic than expected

[2020-08-10 16:22] ranjb opened #26328 "Unable to use existing CA certificates"
**Bug description**
Unable to use a custom root CA and certificates as documented [here](https://istio.io/latest/docs/tasks/security/cert-management/plugin-ca-cert/). This could be a blocker for multicluster deployments via replicated control planes where we need to use a common root CA. See [here](https://istio.io/latest/docs/setup/install/multicluster/gateways/)

[X ] Docs
[X ] Installation
[ ]

[2020-08-10 16:46] nschhina commented on #26292
@su225 sure. This is a time critical requirement as we want to ensure this feature doesn't break anything. I'll be happy to work with you on this

[2020-08-10 16:47] christian-posta commented on #26324
I would suggest compare the trusted certificates for the sidecar with the root CA for Istio citadel. You can grab the certs from the sidecar by hitting the `localhost:15000/certs` endpoint in the istio-proxy container

[2020-08-10 16:51] howardjohn commented on #26314
This sounds like the wrong envoy binary is running. Can you look at /usr/local/bin/envoy, maybe run `/usr/local/bin/envoy --version`?

[2020-08-10 16:52] howardjohn commented on #26314
also centos7 isn't supported, so hopefully that isn't the VM OS. Otherwise this won't work anyways

[2020-08-10 16:56] howardjohn commented on #26246
Closing this as this is a Kubernetes setup issue, not Istio. Thanks!

[2020-08-10 16:56] #26246 closed

[2020-08-10 16:57] howardjohn commented on #26261
https://istio.io/latest/news/support/announcing-1.4-eol-final/

Please upgrade, this code has change substantially. If you still see the issue on newer versions we can investigate

[2020-08-10 17:00] 1hanymhajna commented on #26324
Verified again the EDS table and look ok
[code]

@christian-posta verified that the client and the service have the same root CA as expected, I think it the same for citadel as well , ill verify it

[2020-08-10 17:13] Murudkar commented on #26314
CentOS7 is the OS VM.

We wont be able to use .deb, we converted .deb to rpm
Got the required CentOS envoy binary to make it work.

This is the version of envoy binary we have :

version: 923c4111bb48405ac96ef050c4f59ebbad3d7761/1.14.4/clean-getenvoy-2aa564b-envoy/RELEASE/BoringSSL

[2020-08-10 17:14] howardjohn commented on #26314
Where did you get the envoy binary? it needs to be from istio/proxy not
upstream envoy

On Mon, Aug 10, 2020, 10:13 AM TM <notifications@github.com> wrote:

[2020-08-10 17:15] 1hanymhajna commented on #26324
one more interesting things is when call pilot debug endpoint from the any sidecar in the cluster, i got this error:
[code]

[2020-08-10 17:27] howardjohn commented on #26263
Problem seems here: https://github.com/istio/istio/blob/07782fd8d2ff0225af494b172dc459e5c9ace04a/pilot/pkg/networking/core/v1alpha3/route/route.go#L1060

We don't check `method`, and possibly some others..

@ramaraochavali

[2020-08-10 17:27] jacob-koren-zooz commented on #26324
We sniffed the tls handshake while making a request to this service, the client hello and server hello looks o.k., but the response to "server hello" is **"Certificate unknown"**.
For some reason, this service account is unknown in the mesh.

[2020-08-10 17:31] Murudkar commented on #26314
Pulling it this way, from which location should the envoy binary picked from?

sudo yum install -y yum-utils
sudo yum-config-manager --add-repo https://getenvoy.io/linux/centos/tetrate-getenvoy.repo
yum install getenvoy-envoy-1.14.4.p0.g923c411-1p67.g2aa564b

[2020-08-10 17:33] howardjohn commented on #26314
Like I mentioned, we do not currently support centOS 7 binaries. The binaries used with istio must be built from istio/proxy, and we do not produce centos7 compatible binaries. Only debian or centos8

[2020-08-10 17:36] howardjohn commented on #26264
Thanks for the report! I opened https://github.com/istio/istio/pull/26329 to fix this, will backport to 1.6 as well

[2020-08-10 17:38] howardjohn commented on #26267
Lets please note get too inspired by other meshes :slightly_smiling_face:. Its a label... everyone using kubernetes understands labels. Lets not take something so simple that everyone understands and somehow make it more complicated and abstracted.

[2020-08-10 17:38] howardjohn commented on #26267
Suggestions for syntax:
`kubectl label ns istio-injection=enabled`, `kubectl get ns -l istio-injection=enabled`

[2020-08-10 17:39] howardjohn commented on #26273
Can you send the stack trace to https://istio.io/latest/about/security-vulnerabilities/#reporting-a-vulnerability?

[2020-08-10 17:42] Murudkar commented on #26314
We can try building istio proxy on Centos 8. Wanted to be sure this is the doc to follow for that  - https://github.com/linux-on-ibm-z/docs/wiki/Building-Istio-Proxy#32-build-istio-proxy

Thank you.

[2020-08-10 17:44] howardjohn commented on #26314
The binaries we publish are already centos8 compatible. We also publish RPMs in 1.7+: https://gcsweb.istio.io/gcs/istio-release/releases/1.7.0-beta.2/rpm/. That doc is probably very outdated

[2020-08-10 17:47] howardjohn commented on #26302
Can you try setting `TERMINATION_DRAIN_DURATION_SECONDS=30s` as env var on the ingress? This is basically the built in draining we do today. It defaults to 5s, possibly its too small

[2020-08-10 17:49] howardjohn commented on #26300
We support multi replicas

[2020-08-10 17:50] howardjohn commented on #26307
This definitely seems unexpected. I would expect prompt for all cases unless --skip-confirmation. Even --force

[2020-08-10 17:55] richardwxn commented on #26230
@tmshort oh sorry for the confusion. Yep, unfortunately the  code path of converting `istiocontrolplane` to `istioopeartor` was removed since release1.6. You can use release 1.5, e.g. 1.5.8 to migrate from controlplane.yaml to operator.yaml.

I used your input with 1.5.8 and attached the output for your reference.

[code]

[2020-08-10 17:56] rajivml commented on #26259
@howardjohn plz find the logs downloadable at below link, attached logs worth of couple of hours

https://uipath-my.sharepoint.com/:u:/p/rajiv_chodisetti/EQUC5shCdeZPvg2Kt9PpKw8BPJd5N9p1zv49VkeZaFt0sA?e=3smp8J
https://uipath-my.sharepoint.com/:u:/p/rajiv_chodisetti/ERa8gKX6yFBDtdCw6bc1XuIB_IS8tlYg893h0zdqO6sYpQ?e=nwoD9l

[2020-08-10 18:08] jasonwzm commented on #26229
Closing this as the test is no longer disabled in https://github.com/istio/istio/pull/25960

[2020-08-10 18:08] #26229 closed

[2020-08-10 18:10] esnible commented on #26307
Good catch!  I had previously reported this, but it got automatically closed when I replied to the Issue.  Reopening https://github.com/istio/istio/issues/19997 and closing this one.

[2020-08-10 18:10] #26307 closed

[2020-08-10 18:10] esnible commented on #19997
Accidentally closed.

cc @j-martin

[2020-08-10 18:13] esnible commented on #26303
Let me know if `istioctl analyze` detects the conflict.  If not, which should add an Issue to detect this problem, in addition to fixing the security issue when it occurs.

[2020-08-10 18:15] howardjohn opened #26330 "Manifest generate very slow in CI"
Example: https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/26323/unit-tests_istio/18529/build-log.txt

TestManifestGenerateFlags/all_on 38.48s
TestManifestGenerateFlags 52.81s
TestRewriteAppProbe 26.93s

These are all super slow. On local machine, they are pretty fast. May be IO heavy and get throttled or something, not sure

[2020-08-10 18:16] Murudkar commented on #26314
Thank you , is there a timeframe for 1.7 getting released.
We don't not see binaries(envoy binary) for centos8 for 1.6.7.

[2020-08-10 18:20] howardjohn commented on #24680
https://prow.istio.io/view/gs/istio-prow/logs/unit-tests_istio_postsubmit/3316

[2020-08-10 18:21] howardjohn commented on #26330
ah its pretty slow with -race

[2020-08-10 18:31] whitlaaa commented on #26264
@howardjohn Awesome, thanks for the quick response!

[2020-08-10 18:36] nmittler commented on #26325
It looks like this was initially set by https://github.com/istio/istio/pull/23731

@howardjohn is there a way that `caAddress` could be provided a sensible default?

[2020-08-10 18:45] howardjohn commented on #26079
Opened envoy bug: https://github.com/envoyproxy/envoy/issues/12572

[2020-08-10 18:47] tmshort commented on #26230
Understood it's been removed, the problem is that the application claims to support it in the help:
[code]

[2020-08-10 18:49] stevenctl opened #26333 "use a label to set cluster for Pods"
**Describe the feature request**

Rather than relying on the clusterID set by in the kube controller (we usually get this from the Secret), pods could have the cluster ID injected as a label, along side the proxy meta. We'd be able to clean up a lot of code where this clusterID property of the kube service registry is used.

https://github.com/istio/istio/blob/1c7c2f1b020ae21188445e4c812f01c971a55

[2020-08-10 18:52] 1hanymhajna commented on #26324
- Entering into the istio sidecar container of a test pod, and making a mtls request with curl to the risk-live-payu pod works
- Making the same call from the application container of the same pod doesn’t work and wireshark shows “unknown certificate”

The first conclusion we have is that the certificate is o.k. and passed correctly

[2020-08-10 19:03] 1hanymhajna commented on #26324
Is there anyway to know what is the secure naming map the pod got from the pilot? can we debug it?

[2020-08-10 19:06] j-martin commented on #19997
Sounds good, I am assuming `istio install` is depending on `istio upgrade` (and other helm semantics) so we can assume they'll both be fixed or should the issue be modified to include both `install` and `upgrade`?

[2020-08-10 20:03] esnible commented on #26070
@ericvn `istioctl verify-install` in 1.5 had two possible behaviors.

- In K8s clusters w/o Istio, it would tell if the cluster met the Istio requirements.
- In clusters with Istio, it would tell if the K8s objects making up the control plane were present.
  - In older versions the user was required to use `-f <yaml>`, in recent versions it defaults to the IOP.

This means that users w/o Istio sho

[2020-08-10 20:49] incfly commented on #26235
@hzxuzhonghu correct me if I'm wrong: for headless service, if you configure the DestinationRule as ISTIO_MUTUAL specifically for `mogo-mogod` when it's headless, things should still work.

So we don't have auto mTLS's transport socket match, but still have mTLS config in the client side Cluster.

[2020-08-10 22:23] minhtrietbkit opened #26337 "Can't create multiple ingress gateway using istioctl and customized operator manifest"
**Bug description**
Following [guide](https://istio.io/v1.5/docs/setup/install/istioctl/#configure-gateways) to bootstrap istio with multiple ingress gateway doesn't work.

My IstioOperator is as follows:

[code]

The result from running `istioctl manifest generate -f istio-manifest.yaml` does not reflect custom gateways as described. Only Gateway manifests are pasted here:

[code]

Summary of the

[2020-08-10 23:49] j0gsDev commented on #22482
Use [Java Distroless](https://github.com/GoogleContainerTools/distroless/tree/master/java) as docker image base

[2020-08-11 01:15] Olena273 commented on #1756
Is there a timeline for IPv6 in ISTIO getting to beta status (it's currently marked as alpha [here](https://istio.io/latest/about/feature-stages/) )?

Thanks!

[2020-08-11 01:32] FewBox commented on #24851
I used 1.6.7, the "istioctl install" doesnot work, but the "istioctl install --set profile=demo" works, but ....
when I deploy the po does not appears and I got the "RS" error message "Error creating: Internal error occurred: failed calling webhook "sidecar-injector.istio.io": Post https://istiod.istio-system.svc:443/inject?timeout=30s: net/http: request canceled while waiting for connection (Clie

[2020-08-11 01:53] ggjjlldd opened #26343 "pilot pod can not found"
**Bug description**
pilot pod can not found

[ ] Docs
[x ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
istio has pilot pod
but here is no pilot pod:
[code]
**Steps to reproduce the bug**
the install command :
[code]
**Version (include the output of

[2020-08-11 02:33] su225 commented on #26292
Oops. Sorry. I didn't know it was time critical. As I don't work full time, it may not be possible. I could work on parts which are not time-critical

[2020-08-11 04:00] dunjin commented on #26343
The new version of istio1.5/1.6 has no pilot, instead of istiod.

[2020-08-11 04:03] morvencao commented on #26343
Pilot, Galley, Citadel and the sidecar injector were unified into single binary istiod from 1.5.

[2020-08-11 04:04] #26343 closed

[2020-08-11 04:18] morvencao commented on #26337
There a few issues with your IstioOperator manifest:
1. You missed the `values` field for **global** setting which results the error:
[code]
It should be:
[code]

2. You have to add labels for different gateway:
[code]

3. Please try with latest istio(1.6.x), I'm not sure if istio 1.5.0 include the fix to create customized gateway.

You can use the following istiooperator:
[code]

[2020-08-11 04:28] istio-testing opened #26346 "[release-1.6] enable operator to watch multiple namespaces."
Manual cherrypick required.

#24696 failed to apply on top of branch "release-1.6":
[code]

[2020-08-11 04:42] tkna opened #26347 "flag "--address" does not work when using "istioctl dashboard""
**Bug description**
Flag "--address" does not work when using "istioctl dashboard".

[code]
I expected istioctl to listen on 0.0.0.0, but it is still using localhost.

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[X] User Experience
[ ] Developer

[2020-08-11 04:48] ssubramanian123 opened #26349 "Istio-proxy sidecar mutual TLS verify issue"
We are trying to enable external endpoint mutual authentication. Getting SSL Verify failure Error from istio sidecar proxy. But when i tried with the same certs using curl command it works fine.  Please find below the details.

Using Istio version: 1.6.3
Created namespace with istio sidecar injection enabled
Deployed application into this namespace, now my pod is running with 2 containers.
Trying

[2020-08-11 04:57] liuzheng opened #26350 "istio-proxy Envoy use too much memory, make exportTo support envoy cluster"
**Describe the feature request**
`exportTo` can support envoy cluster.

**Describe alternatives you've considered**
As my test thousands of `VirtualService` and `ServiceEntry` configurations, Envoy use too much memory.
In common case, one pod does not need the hole configurations(I know Use namespace and Sidecar to split, but still have that case).
I found `exportTo` in `VirtualService` and `Servi

[2020-08-11 05:02] #20201 closed

[2020-08-11 05:52] #25525 closed

[2020-08-11 06:15] liuxu623 commented on #26101
I found there is another problem, after REDIRECT per http request will keep two TIME_WAIT connections, and use two local ports.

[2020-08-11 06:18] #26264 closed

[2020-08-11 06:32] piotrmsc commented on #23855
@howardjohn which version did you use to reproduce? I did not test it on the 1.6/1.7. In general when it happens it looks like it never completes. How frequent it was? On average 1 in 10 requests, but I was able to reproduce in "worst" case 1 on 5 requests. I will try to use latest version and try to reproduce.

[2020-08-11 06:43] ggjjlldd opened #26354 "lookup istiod.istio-system.svc on 10.96.0.10:53: read udp 10.244.153.113:41187->10.96.0.10:53: i/o timeout""
**Bug description**
the error is :
[code]
But my cluster IP not include IP 10.96.0.10
[code]
the egress pod logs:
[code]
[code]

[ ] Docs
[x ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
run well
**Steps to reproduce the bug**
the install command :

[2020-08-11 07:12] chupark opened #26355 "The output of the 'istioctl dashboard' command is always displayed as localhost."
**Bug description**
I added the --address option, but the output of the 'istioctl dashboard' command is always displayed as localhost like :
[code]
![img](https://raw.githubusercontent.com/chupark/nothing/master/localhost.png)

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ X ] User Experience
[ ] Developer

[2020-08-11 07:13] chupark commented on #26355
Same issue #26347

[2020-08-11 07:13] #26355 closed

[2020-08-11 07:20] chupark commented on #26347
So do I. But 'netstat -naopt' display correctly
![localhost](https://user-images.githubusercontent.com/32254293/89868893-7f243480-dbee-11ea-8473-cc5454134a71.png)

[2020-08-11 08:16] VinothChinnadurai commented on #26104
@esnible can you help you how to override the helm charts & values of istio 1.6 to support istio IG headless service, so that it wont go and override our existing setup

[2020-08-11 09:55] liuzheng commented on #26350
I read the code, and found in current design, this feature may not easy to come true.

[2020-08-11 10:35] shamsher31 commented on #24294
Must be fixed by https://github.com/istio/istio/pull/26072 and https://github.com/istio/istio.io/pull/7847 ?

[2020-08-11 11:13] hzxuzhonghu commented on #26235
That's right, and have talked with @FL3SH on slack

[2020-08-11 11:23] SCLogo commented on #7964
any fix for stable version (1.6) ?

[2020-08-11 11:32] IGassmann commented on #7964
Pinging @howardjohn @hzxuzhonghu to reopen the issue.

[2020-08-11 11:51] grvcurefit commented on #26262
@bianpengyuan Thanks for pointing it out, I didn't realize that instance, handler, etc were part of mixer itself.

I tried to follow the documentation that you shared. This is what my [stats filter](https://pastebin.com/yJQfrPGM) looks like.
And annotated the deployment as well:
[code]

But even this does not seem to solve the problem.

[2020-08-11 12:47] FewBox commented on #25138
I got the same issue in 1.6.7. **fatal	Missing JWT, can't authenticate with control plane. Try using plain text (15010)**
[code]

[code]

[2020-08-11 13:14] exqlnet commented on #17118
Is there any way to edit config gracefully ?

[2020-08-11 13:24] #24068 closed

[2020-08-11 13:41] sk185771 commented on #13279
I am also facing the same issue for grafana and Prometheus.
for grafana I tried using the HTTP rewrite. initially, it did not work. but when I added the following line in the deployment template(based on this https://stackoverflow.com/questions/63054402/istio-grafana-with-subpath-if-youre-seeing-this-grafana-has-failed-to-load-i ).
- name: GF_SERVER_ROOT_URL
  value: %(protocol)s://%(domain)s/graf

[2020-08-11 14:04] sk185771 commented on #13279
I am also facing the same issue for grafana and prometheus.
for grafana I tried using the HTTP rewrite. initially it did not work. but when I added the following line in deployment template(based on this https://stackoverflow.com/questions/63054402/istio-grafana-with-subpath-if-youre-seeing-this-grafana-has-failed-to-load-i ).
[code]

  along with this in virtual service I added the HTTP rewrite t

[2020-08-11 14:07] ericvn commented on #24586
Envoy moves to istio/envoy when branches are cut(?) so can add that as a post cut item.
Proxy is done.

[2020-08-11 14:14] FewBox commented on #25138
I resolve this issue after read some ref docs, but I don't know if it is the right way. I used the "first-party-jwt" and add the property in deployment(template>spec>[Add automountServiceAccountToken: true]) then the pod is running now, I will find out whether it is work later.
[code]

[2020-08-11 14:38] howardjohn commented on #23855
I probably used 1.7/master, wasn't sure if I was expecting to see it once every 1 million requests and miss it though looks like its more obvious than that so must be a difference in environment or setup

[2020-08-11 14:40] Kyslik commented on #26263
That's odd, that code hasn't been touched between 1.4 and 1.5 (`git blame` says 8 months ago).

But yes, the impact is that our _catch all_ - `provider-global-default` does not work as only `GET` verb is catched, everything else returns 404.

[2020-08-11 14:43] howardjohn commented on #26263
That commit is actually not in 1.4 I think, it came after the 1.4 release but we branch off before we cut the release. So I strongly suspect its from that still, or at least related

[2020-08-11 14:49] esnible commented on #26104
I don't know how to override the install to fix a problem with missing VirtualService routes.

Run `istioctl analyze` to see if anything is broken in the environment.
Run `istioctl proxy-status` and check if any pods are `STALE`.
If neither of those things is true, Istio 1.6.x should have identical behavior to 1.5.0.  Why do you think the upgrade changed something?  Do you suspect a root cause?

[2020-08-11 14:56] #24839 closed

[2020-08-11 15:09] howardjohn commented on #7964
We can reopen but please clarify what is required here that https://preliminary.istio.io/latest/docs/ops/configuration/traffic-management/network-topologies/ does not provide

[2020-08-11 15:12] bianpengyuan commented on #17118
We just extract out telemetry v2 filter configuration into installation option and it will ship with 1.7: https://github.com/istio/istio/pull/26351.

I will update istio.io doc accordingly.

[2020-08-11 15:22] bianpengyuan commented on #26262
Tag value should not be `source.ip`. Telemetry v2 does not follow Mixer attribute vocabulary any more.

If you look at 1.5 wiki page https://github.com/istio/istio/wiki/Configurable-V2-Metrics it links to Envoy attribute context https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/rbac_filter#condition. In this case you should be using `source.address`.

[2020-08-11 15:33] akath19 opened #26360 "Missing install-cni distroless image fails install"
**Bug description**

Attempting to install a distroless version of 1.6.7 with CNI fails because `install-cni:1.6.7-distroless` image doesn't exist, this image tag only exists in 1.7.0 beta, this is causing all proxies to fail because istio-validation fails.

**Affected product area (please put an X in all that apply)**

[x] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] E

[2020-08-11 16:01] #26141 closed

[2020-08-11 16:01] istio-testing opened #26362 "[release-1.7] istioctl: Emit a warning if k8s version is not minimum"
Manual cherrypick required.

#26145 failed to apply on top of branch "release-1.7":
[code]

[2020-08-11 16:08] amankhare94 commented on #11365
@mark-church I was trying to use the create istio-ingressgateway service.
Istio version=1.4.10

For that I am still getting the error:

  `Warning  CreatingLoadBalancerFailed  8s (x3 over 37s)   service-controller  Error creating load balancer (will retry): failed to ensure load balancer for service istio-system/istio-ingressgateway: googleapi: Error 400: Invalid value for field 'resource.ports[5]

[2020-08-11 16:08] #26181 closed

[2020-08-11 16:10] 1hanymhajna commented on #26324
We found the main reason for why this happened,
This is the scenario to reproduce it:
pre: create service and connect it to a pod
1: take a POD with service account: SA_1
2: redeploy it again but with different service account: SA_2

When we change the service account(SA_2) without changing the service name itself, the secure naming does not been pushed to the envoys although it has been changed,

[2020-08-11 16:28] ericvn commented on #26232
@brian-avery Checking against 1.7 branch.

[2020-08-11 16:33] smakam commented on #11365
hi @amankhare94 did u use the purpose as mentioned here(https://cloud.google.com/kubernetes-engine/docs/how-to/internal-load-balancing#shared_VIP)

[2020-08-11 16:36] ericvn commented on #24586
Should we do istio/envoy to istio/proxy for 1.7?

[2020-08-11 16:37] ericvn commented on #24473
Can we close this issue?

[2020-08-11 16:37] #24473 closed

[2020-08-11 16:38] #23622 closed

[2020-08-11 16:39] jwendell commented on #24473
@ericvn  We had kept this open because there's one issue that's still pending: https://github.com/istio/api/pull/1551

[2020-08-11 16:40] #20563 closed

[2020-08-11 16:42] #24709 closed

[2020-08-11 16:43] #25319 closed

[2020-08-11 16:43] #25298 closed

[2020-08-11 16:46] ericvn commented on #26214
We aren't going to do this.

[2020-08-11 16:46] #26214 closed

[2020-08-11 16:48] brian-avery opened #26365 "Improve release notes tooling"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ]

[2020-08-11 16:49] ericvn commented on #25330
Can this be closed?

[2020-08-11 16:49] #25330 closed

[2020-08-11 16:51] #24695 closed

[2020-08-11 16:51] howardjohn commented on #22231
This code has been removed, see `tools/packaging/packaging.mk` for the replacement. This is built as part of our CI now, so should be stable (in theory...)

[2020-08-11 16:51] #22231 closed

[2020-08-11 16:53] therealmitchconnors commented on #23290
Closing as stale, feel free to reopen if this issue persists.

[2020-08-11 16:53] #23290 closed

[2020-08-11 16:54] howardjohn commented on #25286
#26140

[2020-08-11 16:54] howardjohn commented on #25037
Done by #25047

[2020-08-11 16:54] #25037 closed

[2020-08-11 17:10] esnible commented on #26347
I am testing on OSX, using the `envoy` dashboard, because I didn't install Kiali.

When I use `--address 127.0.01`, `netstat -an -ptcp | grep LISTEN` shows
[code]

When I use `-address 0.0.0.0`, `netstat -an -ptcp | grep LISTEN` shows
[code]

It is true that the address Istio tells the user to visit is always `localhost`.  It can't print the value of the address ... a connection to 0.0.0.0 will fa

[2020-08-11 17:19] richardwxn commented on #22109
Closing it as the presubmit job is stable now

[2020-08-11 17:19] #22109 closed

[2020-08-11 17:20] richardwxn commented on #24115
It is fixed in master/release-1.7 already

[2020-08-11 17:20] #24115 closed

[2020-08-11 17:22] richardwxn commented on #22969
Was stable already

[2020-08-11 17:22] #22969 closed

[2020-08-11 18:08] #26362 closed

[2020-08-11 18:14] akath19 commented on #26360
A quick workaround for this is:

[code]

However, looks like an image is missing in docker

[2020-08-11 18:15] incfly commented on #26134
I don't know anything about `Opendistro-es`. It will be better if the bug provide relevant information w.r.t Istio.

Though I do know we have issues with ElastricSearch see https://github.com/istio/istio/issues/22220. Mainly due to the fact their own cross node communication using pod IP can have an effect on the client side mTLS.

[2020-08-11 18:30] papovyr opened #26367 "Readiness probe failed for prometheus and pods that dose not have Readiness probe set"
I installed isito 1.6.5 default profile to eks 1.6 and enabled STRICT mTLS (See env setup details in the end of document)

created namespace and added annotation
[code]

installed prometheus with helm in monitoring namespace
[code]

[code]
as you see Readiness check is failing.

Then I tried istio simple example which dose not have Readiness check
I deployed following [example](https://istio.io/la

[2020-08-11 18:30] incfly commented on #25067
option 1 seems the best to me. I don't see any reason we can't forward the client certificate when `SIMPLE` mode is used.
option 2 requires significant api design change, a higher bar.

Simple mode doc: https://github.com/istio/api/blob/master/networking/v1alpha3/gateway.proto#L623

Envoy level this only requires to set ` forward_client_cert_details`  in the http connection manager. https://www.en

[2020-08-11 18:40] keerthig9 opened #26369 "Intermittent 503 UH errors for external service calls"
**Bug description**
We recently enabled Egress for external service calls in our cluster and all was working fine for a week, later we observed spikes of 503 UH errors for external service calls in envoy sidecar and recovered automatically. 2 days it was a small spike but one day the errors went up for nearly 4 hours causing availability drop for cluster and recovered automatically. We disabled eg

[2020-08-11 18:51] stevenctl commented on #26293
Looks like this applies for all cross-network traffic. Only one cluster on the foreign network seems to get hit.

[2020-08-11 19:11] tbarrella commented on #24640
Any thoughts about using controller-runtime more? I noticed the istiocontrolplane controller uses it. It removes a lot of the boilerplate around creating informers and workqueues. It also seems to encourage level-triggered reconciliation logic, which could help prevent syncing issues

[2020-08-11 19:14] geekifier opened #26373 "Istioctl install does not honor serviceAnnotations specified using IstioOperatorAPI syntax when applying a previously generated manifest"
**Bug description**

When installing via `istioctl`, the `serviceAnnotations` are not applied when configured using the Istio Operator API, despite being present in the final install manifest.

This only happens when the manifest is first generated, and then applied via a separate apply command. If the manifest is applied directly (without first generating it), the annotations are created.

[X] Do

[2020-08-11 19:14] rajalakshmi-v15 commented on #14983
Is this issue still open?

[2020-08-11 19:47] nikita15p opened #26375 "Author should be apply to apply release-notes-none tag on PR"
**Describe the feature request**
Apply label to be enabled for authors to prevent test failure eg for release-notes-none
**Describe alternatives you've considered**
Checked the documentation, but could not find a way where any author can apply label.

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Exp

[2020-08-11 19:57] james-mathiesen opened #26376 "The istio-sidecar-injector configuration parameters produce broken configurations"
**Bug description**

The following IstioOperator resource does not change the namespaceSelector in istio-sidecar-injector:

[code]

[X] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

Passing the above configuration would modify the namespaceS

[2020-08-11 20:03] mandarjog opened #26377 "istioctl plugin system"
istioctl should support a plugin system like kubectl plugin https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/
This gives us a way to deploy vendor specific extensions using the same look and feel as istioctl.

Use case
Google needs to have an extension to istioctl that interacts with google metrics system, it would be great to not put it in the istioctl binary.

[2020-08-11 20:08] james-mathiesen opened #26378 "sidecarInjectorWebhook.objectSelector settings assume sidecar.istio.io/inject is a label"
**Bug description**

This IstioOperator resource produces an istio-sidecar-injector that assumes `sidecar.istio.io/inject` is a label but all documentation and examples show `sidecar.istio.io/inject` as an annotation.

[code]

[X] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Inf

[2020-08-11 20:09] brian-avery commented on #23622
The current status of this is that we now have:
* A YAML specification for defining release notes on a per pull request basis.
* A prow job that verifies that either release notes are present or a maintainer has explicitly said that the pull request has no user facing changes.
* Markdown templates that specify the overall structure for release notes along with a rule of what release notes should g

[2020-08-11 20:11] keerthig9 commented on #26282
Seeing these logs in the proxy[Envoy (Epoch 0)] [2020-07-27 20:06:21.023][21][warning][config] [external/envoy/source/common/config/grpc_mux_subscription_impl.cc:82] gRPC config for type.googleapis.com/envoy.api.v2.Cluster rejected: Error adding/updating cluster(s) outbound|443|http-calls|externalservice.com: Invalid path: /etc/ssl-certs/cacerts.pem

[2020-08-11 20:12] keerthig9 commented on #26369
Seeing these logs in the proxy[Envoy (Epoch 0)] [2020-07-27 20:06:21.023][21][warning][config] [external/envoy/source/common/config/grpc_mux_subscription_impl.cc:82] gRPC config for type.googleapis.com/envoy.api.v2.Cluster rejected: Error adding/updating cluster(s) outbound|443|http-calls|externalservice.com: Invalid path: /etc/ssl-certs/cacerts.pem.

But everything is working before and after the

[2020-08-11 20:27] #26280 closed

[2020-08-11 20:27] istio-testing opened #26379 "[release-1.7] add forward compatibility with k8s admissions api v1"
Manual cherrypick required.

#26312 failed to apply on top of branch "release-1.7":
[code]

[2020-08-11 20:37] james-mathiesen opened #26380 "The default istio-sidecar-injector can block creation of new istiod pods"
**Bug description**

After the MutatingWebhookConfiguration/istio-sidecar-injector is patched with the CA and failurePolicy the istio control plane cannot recover from a complete istiod outage.

If all istiod pods are down for any reason the MutatingWebhookConfiguration will prevent creation of replacement pods.

IMO the MutatingWebhookConfiguration should be structured so that it cannot block a c

[2020-08-11 20:49] douglas-reid commented on #25963
Adding config override into install seems like a decent start. FWIW, our goals for 1.7 were to _design_ a new telemetry API, but we had a separate task to [improve metrics customization](https://github.com/istio/istio/issues/24286).

[2020-08-11 20:51] ericvn opened #26381 "Legacy shared control plane multinetwork install doesn't work on 1.7"
**Bug description**

I’m trying the shared control plane, multiple networks legacy multicluster, and running into an issue.

Proxy fails to start on remote cluster:
[code]

 Proxy logs for remote helloworld v2:
[code]

istiod has:
[code]

I did find #23364 which mentioned using `--set values.global.centralIstiod=true` on the istio installs.

Adding that did make the doc'd example work.

Question i

[2020-08-11 20:58] mandarjog opened #26382 "Extension Investigation: Consolidate filters"
stats and metadata exchange filters as of Istio 1.7  use 3 vm_ids, which means 3 VM per worker thread.
We do not need isolation between different istio telemetry filters, so we would like to consolidate them.

Options
1. Set same vm_id for all filters and ensure they work.
2. Produce a single .wasm file that packages all this functionality.
3. Link separately builds wasm modules into one ? Not sur

[2020-08-11 20:59] mandarjog commented on #26377
cc @esnible

[2020-08-11 21:53] #26325 closed

[2020-08-11 21:54] istio-testing opened #26385 "[release-1.7] Fix remote clusters when caAddress is not specified"
Manual cherrypick required.

#26334 failed to apply on top of branch "release-1.7":
[code]

[2020-08-11 21:54] incfly commented on #21340
/cc @incfly

[2020-08-11 22:03] tbarrella commented on #26333
After discussing, it seems like we'd want to close this... the cluster a pod runs on must be known to be able to read the label. While this could make some code more convenient, it doesn't seem to be worth the denormalization and extra API surface area

[2020-08-11 22:03] #26333 closed

[2020-08-11 22:12] #26379 closed

[2020-08-11 22:39] marklu2018 opened #26388 "Istio proxy failed to start due to failure to load WASM based listener"
**Bug description**
Follow the README instructions in https://github.com/proxy-wasm/proxy-wasm-cpp-sdk to build a `myproject.wasm` using emscripten and configured a listener to load the `myproject.wasm` in the envoy proxy. But the Envoy proxy failed to start and saw the following error messages. The error message is ambiguous. Is the WASM file missing ABI version? or it's using an unsupported API

[2020-08-11 23:05] howardjohn opened #26390 "Consider stricter validation of Envoyfilter"
Not sure if this is possible - but I applied config like
[code]

spot the error? `address` is indented wrong. We get no indication, it is silently ignored.

In theory we could possibly do strict marshaling here. In practice this might be complicated and even harmful (new field, for example, not in go-control-plane - but would we end up dropping it anyways? I think maybe yes)

cc @mandarjog @rshrir

[2020-08-11 23:09] brian-avery commented on #24577
Hi @illidan80. I just tried and it worked for me. Looking at the logs:

[code]

It first tries without the architecture in the URL. If that fails, then it tries with the architecture in the URL. Looking at your output, I see that the TARGET_ARCH request did attempt to use the architecture, but don't see what happened on your system after that.

[code]

TARGET_ARCH will be set automatically to the

[2020-08-11 23:12] istio-testing opened #26391 "[release-1.7] Change sample cross-network port to 15443"
Manual cherrypick required.

#26389 failed to apply on top of branch "release-1.7":
[code]

[2020-08-11 23:20] istio-testing opened #26392 "[release-1.7] sync initial resources in order when starting registry"
Manual cherrypick required.

#26142 failed to apply on top of branch "release-1.7":
[code]

[2020-08-11 23:41] mandarjog commented on #26390
I have been thinking about this recently, the best proposal I have is to have an `istioctl envoyfilter validate`, that validates against a specific version(s) of istio-proxy.  We should be able to validate again istio-1.6 and 1.7 for example, and see if everything works out. This requires the binary to understand multiple versions of proto. Either it will load proto descriptors and process them or

[2020-08-11 23:56] esnible commented on #26390
Related: https://github.com/istio/istio/issues/24743

@mandarjog Our plan was always that _istioctl_ version X validates for the version of Envoy and Istiod version X, possibly with support for +/- 1 version.
The CRD itself has several Objects and may be likely to be unmarshalled by _istioctl_ even if it was intended for another version.
The Analyze framework has access to EnvoyFilter workloads se

[2020-08-12 00:01] mandarjog commented on #26390
@esnible  proto.UnMarshal followed by proto.Validate() only works for a specific version. This part is trivial to implement.
However we really need to validate against multiple versions, **not just** the latest version.
If v+2 added a new enum value that is lacking from v+1, we don't want to pass validation because istioctl is built against go-controlplane version v+2.

[2020-08-12 00:02] howardjohn commented on #26390
@esnible one thing to be careful of is the EnvoyFilter needs to be valid by both Istiod AND Envoy.  The Istiod "valid" is a bit weaker, it just needs to unmarshal, but this is important for things like new/removed APIs - if we don't import them in the control plane, they cannot be used.

FWIW my specific issue was just about strict unmarshaling objects - I think you are discussing deeper validatio

[2020-08-12 00:29] mandarjog commented on #26232
Here is the actual effect on memory.  Unshared ~= resident - shared.
TLDR;
1.7 Is using `~15 MB` per pod more for istio-agent, which I don't think is release blocking.

| Istio Version |  File size | Resident Memory | Unshared memory | Overage |
|--------|----|----|----|----|
| 1.5 | 68M | 55M | 15M | 0 |
| 1.6 | 74M |  55M | 17M | 2M |
| 1.7 | 110M | 80M | 30M | 15M |

Unshared memory costs incre

[2020-08-12 00:41] howardjohn commented on #26232
Can you share the commands you ran? Then we can compare some code changes
and see what makes improvements

On Tue, Aug 11, 2020, 5:29 PM mandarjog <notifications@github.com> wrote:

[2020-08-12 00:51] brendarearden commented on #22730
I am also having this same issue - I am noticing it happens when I try to deploy in a namespace other than istio-system (don't know if any of these other examples are in the non default namespace)

[2020-08-12 01:26] terev opened #26397 "Galley permits Virtual Service with invalid Envoy header manipulation config"
**Bug description**
We hit an issue today (in 1.3.6) where Galley permits a Virtual Service object that it probably should not have. The Virtual Service contained a header manipulation rule that set a header to a value containing a `%` character. When the config was pushed to Envoy it began throwing the following warning:

`[2020-08-11 16:28:47.840][38][warning][config] [external/envoy/source/comm

[2020-08-12 01:58] tkna commented on #26347
@chupark @esnible
It looks like just an issue of display.
I confirmed that the address and port I specified was listened by istioctl using netstat, too.

@esnible Thank you for your reply. I'm using a specific IPv4 address of the machine (not 0.0.0.0) when I connect to the dashboard.

I think this is caused by line 144 of portforwarder.go. (it should be 'localAddress' instead of 'defaultLocalAddre

[2020-08-12 02:20] morvencao commented on #26378
Both the label and annotation should be functional.
The label for objectSelector is to filter out pods with no need for sidecar before calling istio-sidecar-injector, while the annotation is for to override the internal inject policy in the istio-sidecar-injector webhook implementation.

[2020-08-12 02:27] morvencao commented on #26376
`values.sidecarInjectorWebhook.injectLabel` is no longer used, we will remove this field.

[2020-08-12 02:28] Yirgacheffe opened #26400 "Istio 1.5.8: Istio-Ingressgateway stats api is intermittently abnormal."
**Bug description**
We enabled istio 1.4.7 on Rancher platform, it works fine.
After we upgrade to Istio 1.5.8. Then the istio-ingressgateway in unavailable status.

It shows that 'failed to get server info: Get http://127.0.0.1:15000/stats?....'
See full log at the bottom.

We have only 1 cluster, 1 control plane, currently only 1 project is running on it.

**Expected behavior**

Istio-Ingressgat

[2020-08-12 02:41] sdake commented on #26017
This instruction does not work if dns is used in the ingress host:

[code]
from the page: https://istio.io/latest/docs/tasks/traffic-management/ingress/ingress-control/#determining-the-ingress-ip-and-ports

[2020-08-12 02:42] sdake commented on #26017
I don't find the warning sufficient in that document. Atleast there should be a warning before the problem that can occur, followed by corrective steps.

[2020-08-12 02:46] sdake commented on #26017
lots of warnings in 1.6.8 on step:
[code]

[code]

[2020-08-12 02:53] stevenctl commented on #26017
@sdake are you following the guide linked in the description? I don't think that's what we're going with for 1.7

[2020-08-12 02:59] sdake commented on #26017
@stevenctl the decision was made in the workgroup lead meeting today to do the following:
1. stabilize the existing virtual machine integration documentation for the 1.7 release, as the branch Is tomorrow am.
1. After the existing 1.6 docs are stabilized, then think about adding the next-gen security model for 1.7.

I am not confident, after having seen 200+ comments on the original review of this

[2020-08-12 03:00] sdake commented on #26017
Ubuntu in my environment (IKS) presents the following resolv.conf which does not reference /etc/hosts.

[code]

This will need to be explained, as Ubuntu is the default..

[2020-08-12 03:03] howardjohn commented on #26017
I am fairly sure /etc/hosts is still used - I just played around with DNS a lot in Ubuntu 18 on GCE. The resolv.conf is identical but it will read /etc/hosts

[2020-08-12 03:07] sdake commented on #26017
this looks good:

[code]

[2020-08-12 03:09] sdake commented on #26017
As my hosts are DNS, a DNS name followed by a DNS name in /etc/hosts is not sufficient. Instead, the first DNS name should be resolved:
e.g. my hosts looks like this:

[code]

while the `hosts-addendum` file looks like this:

[code]

[2020-08-12 03:13] sdake commented on #26017
Oh, my apologies. I am not addressing the multicluster docs @stevenctl . I am addressing only virtual machine integration. I'll take this discussion to https://github.com/istio/istio.io/issues/7855.

[2020-08-12 03:25] Yirgacheffe commented on #26400
It is the health check ip address issue, the ingress works fine.So close this issue.

[2020-08-12 03:25] #26400 closed

[2020-08-12 04:04] JimmyCYJ commented on #26392
https://github.com/istio/istio/pull/26394

[2020-08-12 04:04] #26392 closed

[2020-08-12 04:11] tariq1890 commented on #26297
This is closed by #26310

[2020-08-12 04:11] #26297 closed

[2020-08-12 04:37] KinglyWayne commented on #16458
This bug seems to happen again with istio version 1.6.7
One http service with service port 443 would still break all cluster external https access.

[2020-08-12 04:37] #26376 closed

[2020-08-12 04:42] howardjohn commented on #16458
Yes we recently found this is still broken in the (fairly common) case of setting ALPN in the request on an https call. Being tracked in https://github.com/istio/istio/issues/26079. The fix may require some work in envoy which will make it challenging

[2020-08-12 05:00] #12439 closed

[2020-08-12 05:08] #23343 closed

[2020-08-12 05:16] ostromart commented on #26377
I recently discussed a plugin format for istioctl install/manifest with @richardwxn - at least for that part we have a pretty good idea what would make sense. Not sure how that might fit in though into a more general plugin framework.

[2020-08-12 06:07] mjs0514 commented on #26162
OMG. Thanks @howardjohn

I tested it with this binary. Unfortunately, the same problem occurred.

To explain my situation in a little detail.
It is a Java Client Program, and it sends a request to a pilot. (generating Java Code of grpc service and envoy related proto.)

I called Aggregated Discovery Service according to the xds protocol. However, we are receiving 7 blank CLAs in our EDS request, a

[2020-08-12 07:46] SCLogo commented on #7964
The only reason is we really don't like to use prealpha in production and we would like to use the stable (at least beta) version of the any api. Probably that will solve the issue, but currently we use 1.6 and not 1.7

[2020-08-12 08:02] johnzheng1975 commented on #26111
I upgraded EKS to 1.15, include kube-proxy, coredns, aws-cni, the issue raise rate is less, but still raise. In coredns (istio-system) plugin log, you can find huge (3000 times one second) useless query like:
[code]
I think it is a big issue to any external domain (include mongodb access, aws s3 access), it impact system performance a lot, also reduced system stability.

[2020-08-12 08:10] grvcurefit commented on #26262
Thanks @bianpengyuan , changing to source.address worked.

But along with `source_ip`, I needed `sourcePodName` and `sourceHostIp` as well to deduce the availability zone of the source and destination nodes. These were available in the [output template](https://istio.io/latest/docs/reference/config/policy-and-telemetry/templates/kubernetes/#OutputTemplate) of mixer, but don't see the corresponding

[2020-08-12 08:11] johnzheng1975 commented on #26111
I am trying a improvement: Using service type with ExternalName
How to implement?
1	Create a service “mc-elb-service”, put type with ExternalName, put externalName with AWS lb domain
2	In service entry, input service name in endpoints address: mc-elb-service.default.svc.cluster.local

Test result:  not helpful.
The aws domain query is less now (resolved)
The query for mc-elb-service.default.svc.cl

[2020-08-12 09:04] khernyo commented on #26273
Will do once I can reproduce it. It might have been a more complex setup than the one described above.

[2020-08-12 09:27] khernyo commented on #26303
To reproduce the SSL_ERROR_SYSCALL on Istio 1.7.0-beta1, apply the resources in step 3, then execute step 6.

You should end up with two SEs, both of which have one port with protocol HTTPS. I think this should work. Although, I have just noticed that according to the [docs](https://istio.io/latest/docs/reference/config/networking/service-entry/#ServiceEntry) the `resolution` field is required, an

[2020-08-12 09:31] khernyo commented on #26303
I just checked with the `resolution` field missing and with value `NONE`. No conflict is detected in either case:

[code]
The issue is reproduced in namespace `test-app` with injection enabled.

[2020-08-12 09:47] sdake commented on #20945
@esnible will address early in 1.8.

[2020-08-12 10:00] lanceliuu commented on #25685
I found more details for the 503 errors returned by ingress-gateway.
During my tests I noticed that a knative service does not get ready for minutes. I checked the logs and find the similar output `no healthy host for HTTP connection pool`.
 I checked the endpoint config for the gateway and found the following output.
[code]
Notice that only the private service is present but the but the cluster c

[2020-08-12 10:17] lanceliuu commented on #25685
Another result for missing endpoints
Kubernetes endpoint is existing for 28 minutes
[code]

Ingress gateway pod `istio-ingressgateway-84ddc4b654-2m5jt` is still missing the correct endpoint configuration

[code]

error logs in ingress gateway pods
[code]

failed probing in knative
[code]

[2020-08-12 11:58] eddycharly opened #26410 "EnvoyFilter CRD definition confusion"
When comparing istio 1.2 and istio 1.6 definitions of the `EnvoyFilter` CRD:
- https://archive.istio.io/v1.2/docs/reference/config/networking/v1alpha3/envoy-filter/
- https://istio.io/latest/docs/reference/config/networking/envoy-filter/

They look quite different (`workloadLabels` vs `workloadSelector`, `filters` vs `configPatches`, etc..) though both use `apiVersion: networking.istio.io/v1alpha3

[2020-08-12 12:25] aroundthecode commented on #24695
by the way, I ended up using prechek against all versions: **the oldest one supporting kubernetes 1.12.x is Istio 1.2.x**

All versions 1.3+ state they need at least kubernetes 1.13 to work properly (I suppose it's related to CRD management).

Hope this may come in handy waiting for a real compatibility matrix (by the way the statement "tested with" and "working with" are not the same :) )

[2020-08-12 12:25] esnible opened #26411 "'istioctl manifest generate' has `%s` in every line of output"
Nearly every output line has unexpected `%s`.

To reproduce:

[code]

This also affects every Istio 1.6.x, but not 1.5.x.

[2020-08-12 12:29] hzxuzhonghu commented on #26111
https://github.com/istio/istio/blob/release-1.4/pilot/pkg/features/pilot.go#L208-L213 If this is set,
[code]

[2020-08-12 12:55] sonia-garudi commented on #20836
I was able to use the local envoy-wasm repository. However, it just uses the code and ends up with same failure as mentioned above. Any pointers will be helpful!

[2020-08-12 14:15] farmerluo commented on #24576
I am sorry for the late reply. I think it is due to the compatibility between ISTIO and Kubernetes. I tested and verified that it worked on K8S 1.18 ISTIO 1.6.4.

thanks!

[2020-08-12 14:15] marcusschiesser commented on #26103
@bianpengyuan A good use case might be Istio's own [metadata](https://github.com/istio/proxy/tree/4bf5d18e2eca27ab4742c6e30b8093665bbcd297/extensions/metadata_exchange) filter. As far as I tested, if this filter is not running, then Kiali doesn't report the endpoints correctly (internal traffic is coming from `Passthrough Cluster`). So it would be good to ensure that this filter is always called w

[2020-08-12 14:15] farmerluo commented on #24576
I am sorry for the late reply. I think it is due to the compatibility between ISTIO and Kubernetes. I tested and verified that it worked on K8S 1.18 ISTIO 1.6.4.

thanks!

[2020-08-12 14:19] juanmanuel-tirado commented on #26328
Maybe this is related with some of the issues I'm experiencing when installing 1.6.5 in a multicluster environment. By following the tutorial and creating the certificates using

`kubectl create secret generic cacerts -n istio-system \
    --from-file=samples/certs/ca-cert.pem \
    --from-file=samples/certs/ca-key.pem \
    --from-file=samples/certs/root-cert.pem \
    --from-file=samples/certs/c

[2020-08-12 14:30] sdake commented on #25685
This segfault is a critical problem. Envoy should never segfault. I will consult the Istio networking team and see if we can sort out how to capture the coredump and use symbols to debug..

Cheers,
-steve

[2020-08-12 14:46] linsun commented on #25685
Also, do you have istiod 3 replicas at the beginning of the test?  Is istiod configured with CPU limit disabled (or have sufficient CPU)?  It is known istiod CPU throttling may lead to slow config update.

Also do you have any pilot_xds_eds_reject in your log?

@howardjohn any thoughts?  The team indicated some endpoints are missing on 1 of the 3 gws and recovered automatically after ~30 mins or r

[2020-08-12 14:48] howardjohn commented on #25685
Look at pilot_proxy_queue_time, pilot_push_triggers, pilot_proxy_convergence_time. All are on the grafana dashboard. 1.6.7 fixed a critical bug around endpoints getting stuck, may try that

[2020-08-12 14:56] linsun commented on #25685
Thanks @howardjohn !   @lanceliuu can you pls you rerun with 1.7-beta2 or latest 1.6.7+ and collect these metrics?   Would be good to ensure ingress gw has 3 replicas and istiod has 3 replicas throughout your test and istiod has sufficient CPU (or no limit).

[2020-08-12 14:57] sdake commented on #25685
1.7 beta 3 has the critical bug fix john mentioned and should be available today.

Cheers,
-steve

[2020-08-12 14:58] howardjohn commented on #25685
Yeah and also the CPU/memory stats, and even CPU profile of istiod are helpful: https://github.com/istio/istio/wiki/Analyzing-Istio-Performance. Really just the whole grafana dashboard for pilot if possible...

[2020-08-12 15:00] howardjohn commented on #26162
Oh this is not Envoy? you are probably missing metadata. Specifically, the https://github.com/istio/istio/blob/cb64645ea84773de5177396fa25bcd307d9356a6/pilot/pkg/model/context.go#L454 field is likely missing

[2020-08-12 15:15] howardjohn commented on #24576
Thanks @farmerluo !

[2020-08-12 15:15] #24576 closed

[2020-08-12 15:38] hniehus opened #26413 "Failed to get secret for proxy"
Hi,

I have an Istio 1.5 installation on AWS EKS (Kubernetes 1.15) Istio was installed with istioctl and Demo profile, and a modified manifest to enable Istio to work with AWS NLB.
Everything worked fine up until last week Friday I tried to manually scale the istio-ingressgateway, which basically did not work. Raising the replicaset did not actually raise the number of pods. However, since then, i

[2020-08-12 15:52] mandarjog opened #26414 "Expose envoy non-stats info as metrics thru agent"
Create a generic method to expose info as metrics on an Adhoc basis.

[2020-08-12 15:58] bianpengyuan commented on #26103
Not sure I follow. Metadata exchange is non-blocking, and the current behavior is already that every filter has no timeout (which is what you mean by setting timeout 0 means I guess?). To make this FR valid, there needs to be some use case that a filter must set to have limited time to process the requests, and I cannot find any.

[2020-08-12 16:01] howardjohn commented on #26232
btw -

go 1.14: 101M
go 1.15: 97M

so some small wins..

[2020-08-12 16:03] ericvn commented on #26381
May possibly be similar to https://github.com/istio/istio/issues/26017. I haven't looked at the work-around specified in that Issue: https://github.com/istio/istio/issues/26017#issuecomment-667315335

[2020-08-12 16:04] esnible opened #26415 "Integration test for istioctl --cert-dir"
Currently the "Central Istiod" options, especially --cert-dir, are not being tested.

[2020-08-12 16:17] howardjohn commented on #26413
Interesting, haven't seen that log. Are there logs in Istiod about the authentication failure? usually it will say why the auth failed

[2020-08-12 16:18] howardjohn commented on #26414
I think we already expose memory stats?

[code]

[2020-08-12 16:27] howardjohn commented on #26349
Can you add the config dump to ensure the configs look correct on envoy side? https://github.com/istio/istio/wiki/Troubleshooting-Istio It will also show the certs so we can ensure they are loaded correctly

[2020-08-12 16:29] howardjohn commented on #26350
I don't understand what you want to scope

Why does this not cover your use case?

[2020-08-12 16:31] howardjohn commented on #26354
is your dns server

This means your DNS server is no configured properly. Did you follow the DNS steps here? https://istio.io/latest/docs/setup/install/virtual-machine/#create-files-to-transfer-to-the-virtual-machine

[2020-08-12 16:33] howardjohn commented on #26367
Can you add logs for the proxy? It will show why the probe fails

[2020-08-12 16:33] mattcui opened #26418 "readinessProbe fails in cluster-local-gateway when envoy metrics grow much bigger"
**Bug description**
After running 2 or 3 days, readinessProbe check started failing in `cluster-local-gateway` and `istio-ingressgateway` pods

[code]

I logged in `cluster-local-gateway` pod (kubectl exec) and found the envoy process was running actually, but if I curl `http://127.0.0.1:15000/stats?usedonly&filter=server.state`, there returned the result pretty slow which took more than 1 seconds

[2020-08-12 16:34] howardjohn commented on #26369
Is it feasible to try upgrading? https://istio.io/latest/news/support/announcing-1.4-eol-final/ This may have already been fixed, 1.4 is no longer supported

[2020-08-12 16:45] hniehus commented on #26413
Hi John,
thanks for your reply.
I'm actually an Istio newbie, and hunting for a solution quite a while now. I manged to pull the logs from the  container logs folder of the executing node.
If I understood you correctly, the istiod logs may also provide some details about the failure?
I'll try that immediately tomorrow morning.
~Harald

[2020-08-12 17:00] ericvn commented on #26381
Looks like https://github.com/istio/istio/pull/26421 might also be the fix. Will test on a build once available.

[2020-08-12 17:05] keerthig9 commented on #26369
Before we upgrade, can you please list common cause for 503 UH errors, we need to debug the issue and cannot upgrade so easily.

Along with that i have another question  "When we have two ServiceEntry for same host with different spec, which one will be picked by pilot? Will Istio merge the ServiceEntry config?"

[2020-08-12 17:11] GJKrupa opened #26423 "RequestAuthentication with matchExpressions applies to all pods, not just those with matching labels"
**Bug description**

Using a RequestAuthentication with matchExpressions instead of matchLabels does not restrict the policy to the specified labels.

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[X] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

When creating a RequestAuthentication wi

[2020-08-12 17:16] GJKrupa commented on #26423
I tried looking at the docs for WorkloadSelector to check if this is valid but the page doesn't exist: https://istio.io/latest/docs/reference/config/type/v1beta1/workload-selector/#WorkloadSelector

[2020-08-12 17:25] kyessenov commented on #26119
It looks like the crash is in config_dump handler, not data plane. Can you post a link to wasm file?

[2020-08-12 17:26] kyessenov commented on #26119
My guess is that it's trying to stuff the inline bytes into admin response and that either overflow or mishandled.

[2020-08-12 18:13] howardjohn commented on #26119
@kyessenov I literally used that envoyfilter - with `abcd` as the wasm code

[2020-08-12 18:25] mandarjog commented on #26414
Aah, nice. I did not see it before.

[2020-08-12 18:49] kyessenov commented on #26119
How did you manage to load it? it's just rejected by envoy immediately.

[2020-08-12 18:50] howardjohn commented on #26119
Yeah that is the point. Envoy rejects it, then when you do /config_dump it crashes. The config dump includes rejected stuff now

[2020-08-12 18:51] ten-lac commented on #24038
I have a question regarding the action of deleting.  I created the Istio Control plane with the `IstioOperator` CR with `kubectl`.   When i try to delete the same resource in with `kubectl delete ...`, the operation hangs.  When I destroy the Istio Operator container, the previous delete commands finishes it.  Is the `IstioOperator` CR not meant to be used by itself?  Is the `istioctl` tool requir

[2020-08-12 18:54] kyessenov commented on #26119
Can you try CSDS instead of config_dump JSON?

[2020-08-12 19:14] howardjohn opened #26429 "initMeshNetworks data race"
https://prow.istio.io/view/gs/istio-prow/logs/unit-tests_istio_postsubmit/3349

[2020-08-12 19:17] howardjohn commented on #26410
The latter - at the time we didn't have the infrastructure in place for multi version support unfortunately so made backwards incompatible changes and deprecated the old fields over a few releases

[2020-08-12 19:19] howardjohn commented on #26380
You should not label the istiod namespace with istio-injection=enabled

[2020-08-12 19:24] eddycharly commented on #26410
Ok, thanks. At least it explains the inconsistencies i observed. It would be nice to add a note in the docs too.

Is there something in place to take care of conversion now or is this going to happen again with upcoming releases ?

[2020-08-12 19:25] howardjohn commented on #26375
You will need to join the org: github.com/istio/community

Users not in the org will not have access to any labels

[2020-08-12 19:25] FL3SH commented on #26235
Yes, thank you @hzxuzhonghu.
I was missing `DestinationRule`, in my case:
[code]

[2020-08-12 19:25] #26235 closed

[2020-08-12 19:26] howardjohn commented on #26410
@eddycharly the old apis were deprecated over a year ago - there will definitely be no changes in this area in any upcoming releases

[2020-08-12 19:27] eddycharly commented on #26410
/close

[2020-08-12 19:28] #26410 closed

[2020-08-12 19:29] haimari opened #26431 "Pods can't access external services when Istio is enabled"
I’m facing an issue with RKE + Istio on Bare metal.

After following Rancher [documentation](https://rancher.com/docs/rancher/v2.x/en/cluster-admin/tools/istio/setup/enable-istio-in-cluster/), to enable istio and sidecar injection,
`service` to `service` communication works ok inside the mesh.
However the pods can’t access any external services outside the cluster

(mongodb `TCP 27017`)
(voltdb `T

[2020-08-12 19:40] linsun opened #26432 "istioctl x uninstall warning is incorrect"
Note the same pods are warned when I uninstall the default or canary revision.

[code]

[code]

[ ] Docs
[ x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` a

[2020-08-12 19:40] linsun commented on #26432
@richardwxn can you look at this?

[2020-08-12 19:56] nmittler opened #26433 "Multi-network remote cluster not working"
**Bug description**
Configuring the system with one primary cluster and one remote results in failure of workloads to communicate.

For example:

[code]

Using the latest images from `gcr.io/istio-testing`. I suspect the issue affects 1.7 as well.

[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experi

[2020-08-12 20:00] stevenctl commented on #26429
https://github.com/istio/istio/pull/26434

Not sure if this actually fixes things - can't replicate with `-race -count 200`

[2020-08-12 20:06] istio-testing opened #26435 "[release-1.6] Enable trust domain validation in transport socket level"
Manual cherrypick required.

#26224 failed to apply on top of branch "release-1.6":
[code]

[2020-08-12 20:07] istio-testing opened #26436 "[release-1.7] Enable trust domain validation in transport socket level"
Manual cherrypick required.

#26224 failed to apply on top of branch "release-1.7":
[code]

[2020-08-12 20:07] istio-testing opened #26437 "[release-1.5] Enable trust domain validation in transport socket level"
Manual cherrypick required.

#26224 failed to apply on top of branch "release-1.5":
[code]

[2020-08-12 20:15] howardjohn commented on #26373
istioctl manifest generate -f /path/to/above/overlay.yml > /tmp/manifest.yml
istioctl manifest apply -f /tmp/manifest.yml

Is not a valid set of commands. You either use `manifest generate | kubectl apply` or `manifest apply`, not both

[2020-08-12 20:19] nmittler commented on #26433
This was user error ... I was setting the network incorrectly on the remote cluster. Updated script works correctly.

[2020-08-12 20:19] #26433 closed

[2020-08-12 20:23] richardwxn commented on #26230
ok thanks for the report, we would remove it from the help

[2020-08-12 20:33] #23757 closed

[2020-08-12 21:04] JimmyCYJ commented on #26436
https://github.com/istio/istio/pull/26441

[2020-08-12 21:14] ssubramanian123 commented on #26349
@howardjohn  Thanks for your reply.

Please find below the configs.

kubectl get configmap -n istio-system -o jsonpath={.data.mesh} istio > meshconfig.yaml
[meshconfig_yaml.txt](https://github.com/istio/istio/files/5065791/meshconfig_yaml.txt)

kubectl -n istio-system get configmap istio-sidecar-injector -o jsonpath={.data.config} > template.yaml

[istio-sidecar-injector-cm-template_yaml.txt](http

[2020-08-12 21:14] richardwxn commented on #26432
@linsun yep I am working on a PR to address this and the gw issue you mentioned

[2020-08-12 21:17] richardwxn commented on #26432
for the first case when passing in `-f`  only, we probably do not need to check the warnings because in that case revision is empty

[2020-08-12 21:21] james-mathiesen commented on #26378
If you turn on the objectSelector you have to make sure that both the annotation and label are set to identical values?  That's a tough user experience and it doesn't line up with the documentation.

If the implementation of the webhook considers the label to have priority over the annotation that's easier but it would still be helpful to have that documented.

We are running Istio in a k8s cluste

[2020-08-12 21:22] vito-laurenza-zocdoc opened #26443 "bug (istio-operator): revisioned IstioOperator resources affect non-control-plane resources"
**Bug description**

When creating, updating, or deleting an `IstioOperator` resource with a `revision`, non-control-plane and non-revisioned resources are affected, e.g. ingressgateways are upgraded/downgraded/deleted

[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[x] User Experience
[ ] Developer Infrastruc

[2020-08-12 21:26] geekifier commented on #26373
@howardjohn thanks for the clarification. This is in fact a miss with my understanding of the documented workflow.

I think part of the confusion might come from the way the context help is written:

[code]

It is obvious from reading the context help on manifest apply that it will _generate and apply_ a manifest.

However, it's less obvious when reading command descriptions one level up.

Thank y

[2020-08-12 21:26] #26373 closed

[2020-08-12 21:31] james-mathiesen commented on #26380
We aren't using that specific label... but we have a huge cluster (2000+ namespaces) and only some are using Istio.  To make the Kiali label filter different from the injection label filter means that we need two labels on every user namespace (one to turn on Kiali and one to opt-in to the injector). I saw the optional objectSelector and started to use it, then realized that it wouldn't help becau

[2020-08-12 21:38] #26436 closed

[2020-08-12 22:21] Crazyigor1987 opened #26448 "Istio1.6 - Kube-APIServer Requests from Pod with SidecarInjection doesn't work on Azure AKS"
I've installed Istio1.6 on Azure using AKS. My deployed pod with enabled Istio Sidecar is not able to communicate to the kube-apiserver service. In this case, i cannot operate prometheus-operator with istio-sidecar enabled. On other Kubernetes Plattforms like Rancher, it works like a charm.

BADCASE on Azure AKS
[code]

GOODCASE on RANCHER RKE (Baremetal):
[code]

[ ] Docs
[ ] Installation
[X] Net

[2020-08-12 22:39] howardjohn commented on #26431
Cannot access *any* or *some*? Can you give a specific request that is failnig and post a config dump? https://github.com/istio/istio/wiki/Troubleshooting-Istio

Btw https://istio.io/latest/news/support/announcing-1.4-eol-final/ since 1.4 we have fixed numerous issues in this area

[2020-08-12 22:41] howardjohn commented on #26423
[code]

matchExpressions does not exist.

Sorry the docs are broken, not sure about that. Looks like the preview docs work though which you can look at in the mean time: https://preliminary.istio.io/latest/docs/reference/config/security/request_authentication/

[2020-08-12 22:53] stevenctl commented on #26293
cc @hzxuzhonghu - can you help me understand how the weighting of local endpoints normalizes things? Can it interfere with weights set by other istio config?

[2020-08-13 00:42] howardjohn commented on #26448
Please upgrade to Istio 1.6.7, this was a bug that was fixed: https://istio.io/latest/news/releases/1.6.x/announcing-1.6.7/

[2020-08-13 00:46] #25339 closed

[2020-08-13 00:47] williamaronli commented on #25339
@adiprerepa thanks for your fix and  thanks howard for the test and confirmed it is fixed

[2020-08-13 01:22] xutsing commented on #26056
I mean if the message passed by the mq can be catched by the Istio.  Thanks a lot

[2020-08-13 02:06] howardjohn commented on #26056
What do you want to do when istio catches them? Telemetry? Routing? apply policies?

[2020-08-13 02:10] liuzheng commented on #26350
We have tens of thousands of apps in one namespace(by design, there have dozens of namespace, the big one is for app services), it will have at least thousands of outbound rules, tens of thousands of inbound rules.
Each app may have many different inbound and outboud rules.

[2020-08-13 02:13] howardjohn commented on #26350
Sidecar allows explicitly selecting certain hostnames, it's not just namespace level

[2020-08-13 03:13] xutsing commented on #26056
Sorry, I did not make my question clear above.
Telemetry is my point.

[2020-08-13 03:34] liuzheng commented on #26350
Thanks, I found the solution, I am misunderstood the `Sidecar`

[2020-08-13 03:34] #26350 closed

[2020-08-13 04:01] chenrulongmaster commented on #11304
I think we should use Prometheus Federation to resolve your question. We are tring this..

[2020-08-13 04:02] chenrulongmaster commented on #2920
I think we should use Prometheus Federation to resolve your question. We are tring this..
https://istio.io/latest/docs/ops/configuration/telemetry/monitoring-multicluster-prometheus/
https://prometheus.io/docs/prometheus/latest/federation/

[2020-08-13 05:04] #20264 closed

[2020-08-13 05:08] #21063 closed

[2020-08-13 05:09] illidan80 commented on #24577
@brian-avery Hey, seems like you right. I had issue related to Hyper-V networking, which was causing for some reason for slow downloads. As soon as I fixed it - everything works as normal. Thank you

[2020-08-13 05:09] #24577 closed

[2020-08-13 05:10] keerthig9 commented on #26369
Found root cause for this, as we use volume mount for certificate above log in pilot is seen for a pod which was created much before certificate is installed in the cluster. So this is not the root cause and this error was just warning and didn't contribute to 503 errors and this is thrown for deployment pod which is not actively used. We need to continue investigation.

[2020-08-13 05:12] keerthig9 commented on #26369
Upgrading Istio to latest version takes time few months for us bcoz of operations tasks inside the project, we want to understand root cause, so that we can have sufficient tests to ensure we don't face this issue with 1.4.5 (Which we are using now) and even with Istio latest version when we upgrade. As 503 UH errors caused large availability issue for us in production environment, we want to root

[2020-08-13 05:14] #22661 closed

[2020-08-13 05:16] #23396 closed

[2020-08-13 06:34] marcusschiesser commented on #26103
Looks to me like it's possible to configure Envoy's `listener_filters_timeout` via Istio's [ProtocolDetectionTimeout](https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/#MeshConfig), see:
https://github.com/istio/istio/blob/370f75e8c57487d0c77205b59966726d0548642a/pilot/pkg/networking/core/v1alpha3/listener.go#L2177

Istio seems to send a value of `"listenerFiltersTimeout": "0.100s"

[2020-08-13 06:44] #26432 closed

[2020-08-13 06:45] johnzheng1975 commented on #26111
Thanks.
[code]
To reduce the impact to my cluster, is it respect_dns_ttl is enabled for specified domain instead of whole cluster?
Another question is: In case dns search fail, can it use previous dns records in cache?
Is it possible

[2020-08-13 07:27] liuzheng opened #26457 "BUG: Sidecar scope one domain, but can access all domains in the virtualservice"
**Bug description**
Sidecar scope one domain, but can access all domains in the virtualservice.
In the following example, the pod can access `qq.com`, which is not expected to happen.

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
only ac

[2020-08-13 07:35] ramaraochavali commented on #26457
https://github.com/istio/istio/pull/20408 - Based on this your virtual service destinations are also added as clusters

[2020-08-13 08:08] lanceliuu commented on #25685
@linsun We did not set limit CPU for istiod.  Also we set istiod and both public gateway and private gateway replicas to fixed value of 3.

I have tried 1.6.8 and 1.7.0-rc.1 released today with no luck. This time I recorded some dashboard during the tests.
![image](https://user-images.githubusercontent.com/62631896/90108955-a3624b80-dd7d-11ea-9a3c-5cafdaa1f2ab.png)
![image](https://user-images.git

[2020-08-13 08:09] namm2 opened #26459 "Istio 1.4 - Ingressgateway pods keep connect to the terminated upstream endpoints"
**Bug description**
I've been using istio v1.4.9 for a few months on many GKE clusters without issues, but this is the first time I got thousands of error 503 after deploying application. The deployment happens to scale up number of pods to x2 then scale down, it supposed to be no errors during this time. But in some Istio ingressgateway pods, they kept connections to the terminated upstreams pod

[2020-08-13 08:20] Sandeep0045 commented on #17162
can you give full cmd of option . how to use it

[2020-08-13 08:28] hzxuzhonghu commented on #26111
This is enabled for the whole cluster

Is it possible

The dns is async, so when envoy starts a new connection, it will use the cached result.

[2020-08-13 08:41] satishmane commented on #25153
@mlazowik
I have added above annotations in prometheus.yaml of prometheus operator and added certs in service monitor. It worked, prometheus is able to scrape endpoints of my microservice inside istio.

However when I checked logs next day, I saw below error in prometheus log. Do I need to add OUTPUT_CERTS env in prometheus container as well in addition to its istio side car proxy.

Scrape failed"

[2020-08-13 08:46] hzxuzhonghu commented on #26293
To better understand the weight calc,  it's better to look at the ut.  It treats each endpoint as weight 1, and definitely it is not right if we set workloadentry with a weight, let's say 10. And there is another endpoint(pod) in another network, we have no way to set weight, so it's weight is 1.  In this case, the weight of WLE will not be respected.

[2020-08-13 08:57] GJKrupa commented on #26423
Thanks for that though even with the valid link, those docs don't match the examples. In the example it's using a _matchLabels_ field (like the standard label selector which is why I assumed _matchExpressions_ would work) but the docs for WorkloadSelector show a field name of _labels_ instead.

[2020-08-13 09:18] hniehus commented on #26413
[istiod.log](https://github.com/istio/istio/files/5068189/istiod.log)
I managed to get the logs from istiod (attached). What I find quite interesting and most promising are several lines of the same kind, saying:
Authentication failed: Authenticator ClientCertAuthenticator at index 0 got error: no verified chain is found. Authenticator KubeJWTAuthenticator at index 1 got error: failed to validate

[2020-08-13 09:22] satishmane commented on #23246
@howardjohn
How big duration can assigned to SECRET_TTL? to avoid certificate expiry.

[2020-08-13 09:36] liuzheng commented on #26457
tested, fixed in 1.7.0-rc.1

[2020-08-13 09:36] #26457 closed

[2020-08-13 09:41] Crazyigor1987 commented on #26448
My bad, thank you. Problem solved!

[2020-08-13 09:41] #26448 closed

[2020-08-13 10:00] christhomas opened #26462 "Ingress Gateway with Hostnetwork won't listen on the requested ports"
I'm trying to install Istio on my bare metal 3 node cluster, I don't have any autoscaling requirements, the setup is static. So I'm going to install Istio without any loadbalancers or cloud, I'm just going to use DNS with multiple A-records as a loadbalancer (cause it's free). So I'm trying to setup Istio to use hostNetwork and I'm finding that even though I'm trying to ask the ingressgateway to l

[2020-08-13 10:10] victorsens commented on #22482
I'm having the same problem... using GCP - GKE... SpringBoot and java 11... Could you solve your problem?

[2020-08-13 10:36] MirtoBusico commented on #25578
@yangminzhu for me the issue can be closed.
Am I authorized to close the issue?

[2020-08-13 10:45] victorsens commented on #22482
I did it, but I still with the same problem. Do you have more tips for me?

[2020-08-13 12:44] esnible commented on #26347
I think I understand now.

For IPv4, we should show and open `localhost` for `--address 0.0.0.0`, but we MUST show and open 192.168.1.1 for `--address 192.168.1.1`.  I can handle that.

For IPv6 I don't know what to do.

[2020-08-13 13:08] pisto opened #26463 "Documentation of multicluster with shared control plane results in broken load balancing across clusters"
**Bug description**
The documentation for setting up a multicluster with shared control plane results in a configuration where load balacing appears broken. The installation works correctly, however the example load balancing across clusters with the `helloworld` application does not work, because only the pod in the main cluster is available, from both clusters. I can confirm this by inspecting t

[2020-08-13 14:30] mandarjog commented on #20369
Not stale.

[2020-08-13 14:39] howardjohn commented on #25685
Do you have a real use case for creating 2.5k virtual services in 10 minutes? Or just load testing?

[2020-08-13 14:42] howardjohn commented on #26423
@istio/wg-security-maintainers ^

[2020-08-13 14:44] howardjohn commented on #26413
Basically the pod will get a service account token, and send that to istiod to authenticate. Somehow the token is invalid (see `invalid bearer token, Token has been invalidated, unknown`). This could likely be an issue with your kubernetes set up? You could look at `./var/run/secrets/tokens/istio-token` on the proxy container to get the token then look on jwt.io to see the contents maybe

[2020-08-13 15:14] howardjohn opened #26465 "TestWorkloadInstances test flakes"
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/25920/unit-tests_istio/18842
https://prow.istio.io/view/gs/istio-prow/logs/unit-tests_istio_postsubmit/3366

Likely regression by https://github.com/istio/istio/pull/26405? Or a coincidence

[2020-08-13 15:21] hniehus commented on #26413
Hi John,

the issue is that the affected pod is terminating in a matter of seconds. No chance for me to get into the underlying container to pull the token.

Regards,
Harald

[2020-08-13 15:28] jwendell commented on #19044
not stale

[2020-08-13 15:30] jwendell commented on #19182
not stale

[2020-08-13 15:41] 13567436138 opened #26466 "mixer is deprecated,but bookinfo demo policy and telemetry resource are still base on mixer,can you add demo base on wasm and telemetry v2"
**Describe the feature request**
mixer is deprecated,but bookinfo demo policy and telemetry resource are still base on mixer,can you add demo base on wasm and telemetry v2
**Describe alternatives you've considered**

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructur

[2020-08-13 15:44] 13567436138 opened #26467 "will the resources of instance rule handler be deleted in future release as mixer will not be maintained after 1.7"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)
will the resources of instance rule handler be deleted in future release as mixer will not be maintained after 1.7
**Describe the feature request**

**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Installation

[2020-08-13 15:53] pisto commented on #26463
Closing, issue was determined by a networking error (the main cluster couldn't access the remote API server; this is visible in the `istiod` logs).

[2020-08-13 15:53] #26463 closed

[2020-08-13 15:57] turbotankist opened #26468 ""TLS error: Secret is not supplied by SDS""
**Bug description**
There is very rare issue:
sometimes istio-sidecar doesn't get certs from control panel
For example we update deployment with 2 replicas and one replica works fine but second didn't get certs and return error` "upstream_transport_failure_reason":"TLS error: Secret is not supplied by SDS"`

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Installation
[

[2020-08-13 15:57] #23947 closed

[2020-08-13 16:26] bianpengyuan commented on #26103
No, this has nothing to do with metadata exchange. Take a look at https://github.com/istio/istio/issues/24379, it has more context in it.

Basically what happens is that with 1.6 we added proto detection timeout at outbound listener to work around this issue: https://github.com/istio/istio/issues/16458. So for an outbound listener, we have a HTTP filter chain which has HTTP metadata exchange, and

[2020-08-13 16:33] douglas-reid commented on #2920
I believe this is described here: https://docs.google.com/document/d/1TTeN4MFmh4aUYYciR4oDBTtJsxl5-T5Tu3m3mGEdSo8/edit#heading=h.xw1gqgyqs5b

[2020-08-13 16:39] bianpengyuan commented on #26466
1.6 demo profile should already by default using telemetry v2. I am closing this issue and please reopen if you have any more question. thanks!

[2020-08-13 16:39] #26466 closed

[2020-08-13 16:45] seecsea opened #26469 "The image of the Istio proxy running on the pod does not match the image defined in the injection configuration"
**Bug description**

I modified the file manifests/profiles/default.yaml and set values.global.proxy.image to:
hub.itgay.com/library/istio/proxyv3:1.6.8
(is the same proxyv2:1.6.7 but different tag to debug configmap/istio-sidecar-injector)

install the istio 1.6.7
istioctl install --set profile=demo --charts=manifests/

and deploy a sample app helloworld in "hello" namespace

# istioctl analyze -

[2020-08-13 17:13] sdake commented on #25685
The use case involves a multitenant knative served from one K8s / Istio control plane. I am not sure specifically on the number of transactions, but the use case is legitimate and I presume the team doing this analysis is looking for the upper scale ends of istio.

As you know, Kubernetes API server has an upper limit on the rate of transactions it can support. I sort of feel like this is a K8s AP

[2020-08-13 17:16] minhhoangvn commented on #25077
Hi, I got the same issue. Below are images when I debugging Envoy and Istiod:

![image](https://user-images.githubusercontent.com/17515250/90165444-daa71b80-ddc2-11ea-98d3-6f67251e5096.png)
![image](https://user-images.githubusercontent.com/17515250/90165413-cfec8680-ddc2-11ea-8933-83f360455202.png)
![image](https://user-images.githubusercontent.com/17515250/90165434-d67afe00-ddc2-11ea-953a-87d7df

[2020-08-13 17:19] howardjohn commented on #25685
The reason I ask is the absolutely worst scaling scenario for Istio is what
you are doing - applying a huge amount of config in a short period of time.
Because if you apply 2.5k resources, we first apply 1, then 2, then 3,
...., 2.5k * number of proxies - ends up being 3 million configs sent per
proxy in 10 minutes

On Thu, Aug 13, 2020 at 10:13 AM Steven Dake <notifications@github.com>
wrote:

[2020-08-13 17:33] sdake commented on #25685
I thought there was a backoff method in the push code to consolidate requests under high load? Perhaps that was removed.

Cheers,
-steve

[2020-08-13 17:37] vito-laurenza-zocdoc commented on #26443
I now realize that a more correct way to create a canary control plane is with the following config:

[code]

Instructing the operator to only manage the pilot resources creates a more true canary as it doesn't affect any existing installed resources. If the documentation was more specific in this regard it would have prevented a lot of trial and error on my part.

[2020-08-13 17:43] #24554 closed

[2020-08-13 18:14] lambdai commented on #26101
One of the time wait is inevitable: which is between client and client sidecar.
The other one is between client sidecar and server , the TIME_WAIT can be in either depends on which one close first, client sidecar or server.

The TIMEWAIT duration(120s as I assume) is the limitation when I wrote
```By looking at your benchmark I feel we don't hit the 65k with 120s timewait (65k/120s = 600 new req/s

[2020-08-13 18:21] bianpengyuan commented on #26262
What do you mean by `sourceHostIP`? For pod name, it is not possible with 1.5. 1.6 we have support for extra metadata support: https://istio.io/latest/docs/tasks/observability/metrics/customize-metrics/#use-expressions-for-values. Although I think it is still a bit hard to configure. @kyessenov can you provide some guide or update doc on what is possible metadata for metric customization in the do

[2020-08-13 18:31] bianpengyuan commented on #26467
Mixer and its configuration will be removed in 1.8. Although in 1.7.x, likely 1.7.1, we will provide a Mixer shim layer which work with Envoy access log service and external authz service, which would make it possible to still run 1.7 Mixer with its configuration after upgrading other Istio components to 1.8. If you are interested in that, please watch the 1.7.x release note. Also note this is not

[2020-08-13 18:31] #26467 closed

[2020-08-13 18:37] lambdai commented on #18423
This is interesting. This might join the existing x-request-id with mock-uuid

[2020-08-13 18:48] howardjohn commented on #26465
https://prow.istio.io/view/gs/istio-prow/logs/unit-tests_istio_postsubmit/3372

[2020-08-13 18:49] howardjohn commented on #26469
You should do --set values.global.proxy.image=foo or pass `-f iop.yaml` with that set, not modify the profile

[2020-08-13 18:56] JimmyCYJ opened #26470 "istioctl x uninstall --revision 1-7-0 is broken"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
https://preliminary.istio.io/latest/docs/setup/upgrade/#uninstall-old-control-plane is not working

**Affected product area (please put an X in all

[2020-08-13 18:56] JimmyCYJ commented on #26470
cc @linsun

[2020-08-13 18:59] grvcurefit commented on #26262
Node Ip on which the source pod is scheduled.

I'm trying to identify the node since az label is not available for a pod.

[2020-08-13 19:15] bianpengyuan commented on #26262
There might be some az information available in proxy's node metadata, and it should be accessible using metric customization. You can check the node metadata of your proxy using config dump via `k exec <you-pod> -c istio-proxy curl localhost:15000/config_dump`

[2020-08-13 19:18] howardjohn commented on #25685
There is not exactly backoff (at least not what I consider backoff), but debouncing, in that changes within 100ms together are grouped. However 100ms is very small window so often they are not grouped. We have/are looking into some form of expontential backoff debounce, such that the first change is grouped 100ms, then 200ms, etc. So as many changes come in they become grouped more aggressively. B

[2020-08-13 19:19] vhosakot opened #26471 "Cannot install istio-operator in existing namespace"
**Bug description**

Cannot install istio-operator in existing namespace using helm. Using istio `1.6.8`.

[x] Installation
[x] User Experience

**Expected behavior**

Istio-operator should be installed in existing namespace instead of newly created namespace.

**Steps to reproduce the bug**

Used helm to install https://github.com/istio/istio/tree/1.6.8/manifests/charts/istio-operator.

[code]

U

[2020-08-13 19:40] vhosakot opened #26472 "Istio-operator's resource names hardcoded in helm chart"
**Bug description**

Istio-operator's resource names (names of pod, deployment and service) are hardcoded to `istio-operator` in helm chart https://github.com/istio/istio/tree/1.6.8/manifests/charts/istio-operator. Using istio `1.6.8`.

[x] Installation
[x] User Experience

**Expected behavior**

Would be nice if istio-operator's resource names (names of pod, deployment and service) use helm's rel

[2020-08-13 20:07] popopanda opened #26473 "istioctl manifest migrate returns proto: tag has too few fields: "-""
**Bug description**

Migrating from helm install to use the new istioctl by using  `istioctl manifest migrate` returns error
[code]

[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

generates the expected output without error

**Steps to re

[2020-08-13 20:15] grvcurefit commented on #26262
Yeah it's there in the config dump.
Some documentation around how it can be injected into metrics will be very helpful.

[2020-08-13 20:28] linsun opened #26475 "In place upgrade doesn't work"
I used 1.6.x's `istioctl install` to install istio.

Then 1.7.0 rc's istioctl to do in place upgrade but failed due to old citadel field:
[code]

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

**Steps to reproduce the bug**

**Version (in

[2020-08-13 20:29] linsun commented on #26475
@elfinhe can you look at this?  cc @ostromart

[2020-08-13 20:31] dmarkey commented on #22609
I also have this problem. Will this be possible in 1.7?

[2020-08-13 20:33] ufese opened #26476 "Listeners & Clusters out of sync when a headless service is delete and reapplied in the same namespace"
**Bug description**
The listeners and clusters configuration between envoy and pilot are in sync the first time a headless service is applied into a namespace. However if the headless service is deleted and applied again into the same namespace, the listeners and clusters go out of sync.
[X] Networking

**Steps to reproduce the bug**

1. `kubectl create ns mongodb`
2. `kubectl label namespace mong

[2020-08-13 20:39] howardjohn commented on #26079
Found another bug on inbound match

See a declared port:
[code]
vs undeclared:
[code]

Two issues here:
1) A TLS request with no alpn set (or not matching any listed above) will not match any filter chain
2) A TLS request with ALPN set to http (not istio mTLS!) will match the istio mtls filter chain, and fail

(1) is just broken because we didn't realize how FCM works I guess. (2) is there for bac

[2020-08-13 20:41] howardjohn opened #26478 "Deprecated field used: envoy.extensions.filters.http.grpc_stats.v3.FilterConfig.stats_for_all_methods"
cc @ramaraochavali @kyessenov I think one of you added or are familiar with this one?

[2020-08-13 20:48] phenixblue opened #26479 "VirtualService Gateway reference no longer accepts FQDN"
**Bug description**

When upgrading from Istio v1.6.4 to v1.6.7 or v1.6.8 existing VirtualServices referencing the Gateway by FQDN (ie. `std-https-gateway.istio-system.svc.cluster.local`) no longer work. This format has worked since at least Istio v1.1.x through v1.6.4 and I did not find any reference to this change in the release notes specifying functionality would change.

[ X] Docs
[ ] Install

[2020-08-13 20:51] ericvn commented on #26381
Problem no longe exists on release-1.7-rc.1

[2020-08-13 20:51] #26381 closed

[2020-08-13 20:53] chris530 commented on #19280
Thanks @linsun

Adding echo "quorumListenOnAllIPs=true" >> conf/zookeeper.conf;  worked for me

[2020-08-13 21:36] #26115 closed

[2020-08-13 21:43] sdake commented on #25685
@howardjohn right thats what i was thinking of - denounce. I'll work with the team to tune the denounce, and if we can find some improvement, perhaps I can assist in an exponential denounce - unless someone is already working on this. I remember this whole section of push code, and its unsuitability early on right when you joined the project 👍

Cheers,
-steve

[2020-08-13 21:45] howardjohn commented on #25685
Relevant PR: https://github.com/istio/istio/pull/24230 that we closed for
now due to lack of time to test it

On Thu, Aug 13, 2020 at 2:43 PM Steven Dake <notifications@github.com>
wrote:

[2020-08-13 21:57] gargnupur commented on #25855
This is fixed via https://github.com/istio/proxy/pull/2961

[2020-08-13 21:58] #25855 closed

[2020-08-13 22:00] gargnupur opened #26485 "Don't add labels in stackdriver if value is empty"
**Bug description**
Don't add labels in stackdriver if value is empty

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[X ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

Example log entry:
upstream_cluster: "outbound|9080||productpage.istio-bookinfo-1-68819.svc.cluster.local"
request_id: "edaa3136-bd5a-957f-b01

[2020-08-13 22:26] howardjohn commented on #26479
This is fixed in https://github.com/istio/istio/pull/26329 and backported to 1.7/1.6 branches so will be fixed in the next release

[2020-08-13 23:37] bianpengyuan commented on #24286
We also need to provide better document on what is available in each node metadata, and how to specify them in the metric customization. Context https://github.com/istio/istio/issues/26262

[2020-08-14 00:11] esnible opened #26492 "Wasm local filename extensions never unloaded when EnvoyFilter deleted"
I suspect this is an Envoy bug.  I am reporting it here because I can recreate the problem in a few lines with an EnvoyFilter.  I don't know Envoy will enough to reproduce w/o Istio.

[wasm-unload.zip](https://github.com/istio/istio/files/5072046/wasm-unload.zip)

To reproduce:
[code]

At this point, `kubectl exec service/httpbin -c istio-proxy -- curl localhost:15000/config_dump` references "new-

[2020-08-14 00:18] jtnz commented on #25239
Sorry @howardjohn to hijack this closed issue, but it looks entirely relevant to our problem. We're using AmazonMQ (ActiveMQ) and EKS, and have the same problem but cannot find any solution that works (other than just bypassing the proxy). We have tried to recreate @tvdinh 's solution but that did not work. Without a mesh everything works fine. Other external services work fine (e.g. Couchbase and

[2020-08-14 00:43] zenvdeluca opened #26493 "Multi-cluster .global domain suggestion is a registered gTLD"
As .global is a valid gTLD, suggesting it for multi-cluster DNS Search configuration may lead to improper resolution of valid internet names.  Any suggestion of a reserved gTLD (such as .local) to be used for multi-cluster DNS domain name?

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ]

[2020-08-14 00:47] JimmyCYJ commented on #26475
I was told that this is a P0, feel free to change the priority. Thanks!

[2020-08-14 01:32] tkna commented on #26347
@esnible

Is there any security reason for that?
It sounds natural to me that we show and open 0.0.0.0 or * (=not only localhost, but also all the ip addresses on the node, like *.15000 in your netstat output) when `--address 0.0.0.0` is supplied.
(Sorry if I don't understand what you mean)

[2020-08-14 01:58] rmak-cpi commented on #24720
I have narrowed the issue down to the stats plugin (https://github.com/istio/proxy/blob/master/extensions/stats/plugin.h) by disabling metrics and observing that memory consumption by the istio proxy remained constant for long periods of time. Disabling metrics is clearly less than ideal, and from looking at the code, the leak can definitely occur if the onLog method is not called reliably on each

[2020-08-14 02:08] elfinhe commented on #26475
fyi, https://prow.istio.io/?type=periodic&job=istio-upgrade* seems like upgrade tests are passing.

[2020-08-14 02:08] elfinhe commented on #26475
trying to reproduce locally...

[2020-08-14 02:18] hzxuzhonghu commented on #26465
I figured out it,

[code]

In this test, we makes a buffered channel, and without clean it at all. So any xdsUpdate may block.

[2020-08-14 02:23] elfinhe commented on #26475
I am able to reproduce the issue.

[2020-08-14 02:28] lizan commented on #26418
@mattcui can you get debug level log from the proxy? as well as non-filtered stats. Or an instruction to reproduce will be also appreciated.

[2020-08-14 02:42] zhanggbj commented on #25685
About the number relationship of Knative services:virtual service:K8s service, for 800 knative service, we only have 1.6k virtual service, FYI.

**1** Knative service will create **2** virtualservice as below (we only use blue-ingress as we only use knative-serving/cluster-local-gateway knative-serving/knative-ingress-gateway)and **3** K8s services

[code]

[2020-08-14 02:43] bianpengyuan commented on #24720
Is there any labels in the metric that has unbounded value? Can you dump the stats page `k exec <pod> -c istio-proxy curl localhost:15000/stats/prometheus` and check if there is too many time series generated?

[2020-08-14 03:20] seecsea commented on #26469
[root@istio-master1:/usr/local/src/istio-1.6.7-andy]# istioctl install --set profile=demo --charts=manifests/ \

Detected that your cluster does not support third party JWT authentication. Falling back to less secure first party JWT. See https://istio.io/docs/ops/best-practices/security/#configure-third-party-service-account-tokens for details.
✔ Istio core installed
✔ Istiod installed
✔ Ingress g

[2020-08-14 03:23] howardjohn commented on #26469
can you post the istio-sidecar-injector configmap?

On Thu, Aug 13, 2020, 8:20 PM BigBomb <notifications@github.com> wrote:

[2020-08-14 03:29] howardjohn commented on #26469
Oh wait. is it just the analysis message is wrong? but it actually uses the correct image?

[2020-08-14 03:33] seecsea commented on #26469
yes,all work ok,but istioctl analyze push warnning

[2020-08-14 03:36] elfinhe commented on #26475
created a fix: https://github.com/istio/istio/pull/26497 to get early comments.
But I will start over with a PR in master.

[2020-08-14 03:49] shalk commented on #16458
I meet a similar problem at 1.5.0

**headless service's port name without  protocol-suffix**  will block external https traffic on the same port;

It looks like headdless service without protocol-suffix will create lds  ` 0.0.0.0_port` . this lds will not properly handle externl https.

I can reproduce it.

headless service yaml as follow:
[code]

[code]

[code]

the LDS is as follow,   If I chang

[2020-08-14 03:49] lanceliuu commented on #25685
![image](https://user-images.githubusercontent.com/62631896/90210717-533cc500-de21-11ea-919a-4dd6bb64b112.png)
![image](https://user-images.githubusercontent.com/62631896/90210720-55068880-de21-11ea-83c2-fb795745aeba.png)

Here is another test which is our typical tests as I described at the beginning of this issue. We create 800 ksvc sequentially with 5s interval. Which takes roughly ~1hr for the

[2020-08-14 04:22] diabloxenon commented on #1430
+1 UDP for hosting DNS service

[2020-08-14 05:12] ramaraochavali commented on #26478
It looks like we do not set this field but rely on default value. But looks like the default value is deprecated. We will have to set it explicitly. I will fix that

[2020-08-14 05:49] #26475 closed

[2020-08-14 07:11] zenvdeluca commented on #26493
another question: In case I want to specify a "custom.domain", other than the following configurations, do I need to change something else to make it work?

 - podDNSSearchNamespaces
     -- apply my "custom.domain" into pod /etc/resolv.conf

 - Gateway: istio-multicluster-ingressgateway
     -- spec.servers.hosts should match '*.custom.domain'

 - Create ServiceEntry for replicated services using

[2020-08-14 07:42] istio-testing opened #26499 "[release-1.6] Remove SDS Timeout"
Manual cherrypick required.

#26001 failed to apply on top of branch "release-1.6":
[code]

[2020-08-14 07:42] istio-testing opened #26500 "[release-1.5] Remove SDS Timeout"
Manual cherrypick required.

#26001 failed to apply on top of branch "release-1.5":
[code]

[2020-08-14 07:43] istio-testing opened #26501 "[release-1.4] Remove SDS Timeout"
Manual cherrypick required.

#26001 failed to apply on top of branch "release-1.4":
[code]

[2020-08-14 08:00] Arnuphap-Yupuech opened #26503 "Added environment variable is gone after 1-2 weeks passed"
**Bug description**
Istiod deployment environment variable is missing after applied 1-2 weeks later
We have added **PILOT_SCOPE_GATEWAY_TO_NAMESPACE**="true" in istiod deployment as follow

[code]

[ ] Docs
[ X ] Installation
[ X ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected b

[2020-08-14 08:10] johnzheng1975 commented on #26111
Thanks very much for your detailed answer, very helpful.
Currently I do not want to change respect_dns_ttl, since it will impact whole cluster.
Per my testing, use IP (in "service entry" => endpoints => address) will resolve this issue.
So, I will upgrade my AWS EKS to 1.16, thus it can support stable IP of Network load balancer.

[2020-08-14 08:13] johnzheng1975 commented on #26111
One more question:
If I end the domain with ".", it will reduce useless dns query.
[code]
But "end with ." does not support by in "service entry" => endpoints => address.
Is it easy to enhance this? Thus may resolve this issue.

[2020-08-14 08:44] ZhuangYuZY commented on #25685
@howardjohn and @sdake Thank you for your response, could please explain more about `debouncing` ? The problem we found is istio EDS does not discover some kube services and config into envoy, which causes peak blue point in above diagram.  Does `debouncing` relate with EDS to discover kube services ?
I think we should focus why istio EDS does not discover some kube services.

For your question ab

[2020-08-14 08:46] 13567436138 opened #26504 "kubectl explain istiooperators.spec need more info"
**Describe the feature request**
[code]

**Describe alternatives you've considered**

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Additional context**

[2020-08-14 08:46] hobbytp opened #26505 "[mutatingwebhook] replace sidecarInjectorWebhook.objectSelector.autoInject by global.proxy.autoInject"
**Bug description**
In mutatingwebhook.yaml I think {{- if .Values.sidecarInjectorWebhook.objectSelector.autoInject }} shall be changed to use {{- if eq  .Values.global.proxy..autoInject "disable" }}, Otherwise user need to modify 2 places when they want to enable/disable auto injection during installation, and easy to miss the 2nd place in mutatingwebhook.yaml

The mutatingwebhook.yaml snippet is

[2020-08-14 09:46] Evalle opened #26507 "1.6.8 - Cannot add "loadBalancerSourceRanges:" into istio-ingressgateway via standalone operator"
**Bug description**

Hi folks, I'm trying to add `loadBalancerSourceRanges:` into istio-ingressgateway via standalone operator.

spec:
[code]
12.34.56.78/32 is replaced with our office IP in reality, but the format is the same otherwise.

Istio-operator logs when I'm applying this spec:
[code]

I can workaround this issue via adding default ports so the spec will look like:
[code]

[ ] Docs
[ x] I

[2020-08-14 09:53] ggjjlldd opened #27074 "WARNING: Download from https://github.com/bazelbuild/rules_pkg/releases/download/0.2.6/rules_pkg-0.2.6.tar.gz failed: class com.google.devtools.build.lib.bazel.repository.downloader.UnrecoverableHttpException GET returned 404 Not Found"
when i clone proxy and compile. use make command. error happend.

Download from https://github.com/bazelbuild/rules_pkg/releases/download/0.2.6/rules_pkg-0.2.6.tar.gz failed: class com.google.devtools.build.lib.bazel.repository.downloader.UnrecoverableHttpException GET returned 404 Not Found
[code]

[2020-08-14 10:07] DrowringMan opened #26508 "how to build istioctl command on arm64 plantform？"
i will use istio in arm64 plantform,im build istio image success,but build istioctl error

[code]

my istioctl version is unknown

[2020-08-14 10:09] DrowringMan commented on #26508
build method:
cd $GOPATH/src/istio/istioctl/cmd/istioctl && go build main.go

my istio code version:1.5.1

[2020-08-14 10:27] wenyuangui commented on #26155
any suggestion for arm64 docker images?

[2020-08-14 11:28] sdake commented on #25685
@ZhuangYuZY the total load is reasonable (istio can scale to millions or atleast that is the goal?) of endpoints. The issue you see is that you are pushing a lot of config all at once.

The denounce, which is configurable only by environment variable, permits the batching of EDS incremental pushes. When you add 1 service, then wait 5 seconds, then add another service, ech additional service will r

[2020-08-14 12:02] aavileli commented on #8807
This is awful as this is not ported to the 1.5 branch as so many users are on 1.5

[2020-08-14 12:32] atcjunior commented on #24753
Hi guys,

I've tested istio from versions 1.6.0 to 1.6.8 and happens the same issue when header has **Transfer-Encoding:chunked**.
I've set **reject_unsupported_transfer_encodings = false** on proxy as workaround and the issue is temporarily solved.
[code]

Is that behaviour expected when connection is HTTP 1.1 ?
Is that a envoy bug ?
Is there any solution I could apply on istio to have this solve

[2020-08-14 13:18] mattcui commented on #26418
@lizan Thanks for your reply, I will try to see if I can get debug log of the proxy. For the step to reproduce, I gave a rough description above:

[code]

I think you could run a script to create/delete a large number of services (we created knative services as our platform is based on the knative), you could login the local gateway pod and run `time curl http://127.0.0.1:15000/stats?usedonly&filt

[2020-08-14 13:36] krancour commented on #8807
OP here. Respectfully, #20870 _didn't_ fix this. It just complicated things further. Instead of adhering to some kind of principle of least surprise, it asks developers to understand the nuances of how Istio routes requests and compensate with additional configuration.

[2020-08-14 13:52] RobCannon opened #26510 "Istio release 1.5.9 is labeled as latest instead of 1.6.8"
**Bug description**
The latest label for the Istio releases page is applied to the wrong release.  It is applied to the 1.5.9 release instead of the 1.6.8 release.  This is breaking automation scripts for installing the latest release of istio.

[ ] Docs
[X ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experien

[2020-08-14 14:43] howardjohn commented on #8807
@krancour can you help me understand how this requires additional configuration?

[2020-08-14 14:50] howardjohn commented on #25350
Opened https://github.com/envoyproxy/envoy/issues/12647

[2020-08-14 15:01] howardjohn commented on #24637
Upgrade complete

[2020-08-14 15:01] #24637 closed

[2020-08-14 15:06] howardjohn commented on #26510
If I recall correctly, the issue is Github does not allow us to declare which release is latest. 1.5.9 is, chronologically, the latest release. I would not recommend using the latest indicator in scripts, our docs have a script to get the release latest: https://istio.io/latest/docs/setup/getting-started/#download

Please fact check me @fpesce

[2020-08-14 15:23] howardjohn commented on #26508
See https://github.com/istio/istio/blob/382a6feba24c9a31943d271c1ee359f7f475345c/Makefile.core.mk and the corresponding arm target. The version is populated by `common/scripts/report_build_info.sh`

[2020-08-14 15:24] howardjohn commented on #26155
Closing as a duplicate of https://github.com/istio/istio/issues/26508 and/or https://github.com/istio/istio/issues/21094. We currently only support building istioctl on arm; other binaries are community supported. See the second issue especially, tons of info there. Thanks!

[2020-08-14 15:24] #26155 closed

[2020-08-14 15:26] #26478 closed

[2020-08-14 15:26] nilesh27602816 commented on #11723
Any update on this ?

[2020-08-14 15:29] krancour commented on #8807
@howardjohn my apologies. I believe now that I may have misunderstood elements of the conversation in #26354

The conversation left with the impression that adding a match for `hostname:*` was the user's responsibility, but looking at the code that was committed in that PR, I see now that it's automatically generated.

I withdraw my complaint. 😄

[2020-08-14 15:30] howardjohn commented on #8807
@krancour thanks for clearing that up. I will note that this is still not 100% fixed, we recently realized with wildcard hostnames its not quite right. Support in envoy is needed, see https://github.com/envoyproxy/envoy/issues/12647

[2020-08-14 15:57] #25253 closed

[2020-08-14 16:08] rmak-cpi commented on #24720
Hi @bianpengyuan, I have posted at new gist of the prometheus metrics dump at https://gist.github.com/rmak-cpi/fbf7c59eb16a10cc4a0e0dba1c241597, one thing that jumps out at me is that the total number of tcp connections opened is much higher than the total number of tcp connections closed:

# TYPE istio_tcp_connections_opened_total counter
istio_tcp_connections_opened_total{reporter="source",sourc

[2020-08-14 16:17] fpesce commented on #26510
You are correct, https://istio.io/downloadIstio is the correct way to retrieve the latest version of istio.
This is a well known problem with github API (c.f. : https://developer.github.com/v3/repos/releases/#get-the-latest-release "_The latest release is the most recent non-prerelease, non-draft release, sorted by the created_at attribute. The created_at attribute is the date of the commit used f

[2020-08-14 16:20] emzhu06 commented on #23329
cc @yangminzhu

[2020-08-14 16:34] gargnupur commented on #24720
If tcp connections don't close, then RequestInfo will hang around in the plugin:
Map<uint32_t, std::shared_ptr<::Wasm::Common::RequestInfo>>
      tcp_request_queue_;
This could be the reason for the leak... do you know why requests are not closing?

[2020-08-14 17:26] rmak-cpi commented on #24720
The service is taking http traffic directly from a cloud-provider load-balancer (AWS alb), I am suspecting this may have something to do with http keepalive handling between envoy and the load-balancer.

[2020-08-14 17:26] bianpengyuan commented on #25963
https://github.com/istio/istio.io/pull/7952 added guide on how to use istioctl to customization metrics. It is in preliminary doc now: https://preliminary.istio.io/latest/docs/tasks/observability/metrics/customize-metrics/

[2020-08-14 17:26] #25963 closed

[2020-08-14 17:28] rmak-cpi commented on #24720
I am also not seeing any signs of TCP sockets leaking at the operating system level through node-exporter metrics.

[2020-08-14 17:29] RobCannon commented on #26510
Even if you ensured the release were ordered correctly, there would be a tiny window where the "latest" version is referencing the older version.  But you probably want to do that to make sure the main GitHub page for the project does not show this:

![image](https://user-images.githubusercontent.com/189862/90276555-1deca300-de32-11ea-89f5-1e3f421d5e61.png)

[2020-08-14 17:30] nataraj24 commented on #23851
Hi @howardjohn

The issue i am referring in this thread is the same issue where other people are facing and same is discussed in #8807.  In #8807 thread you had mentioned that the issue is fixed in istio 1.6.  can you please confirm whether its fixed in 1.6.x of istio.  also you had mentioned that its not fully fixed.  so its confusing.  i am not able test hostname based routing feature using 1.6

[2020-08-14 17:30] yangminzhu commented on #22609
I haven't tested the specific policies in this issue but it looks like the authorization policy is using the `principal` field on egress gateway which is not supported before 1.7.

This should be fixed by https://github.com/istio/istio/pull/25818 in 1.7.

[2020-08-14 17:33] gargnupur commented on #26079
I think there are 2 in the undeclared one above for tcp and http traffic separately...

[2020-08-14 17:34] howardjohn commented on #26079
@gargnupur see https://github.com/envoyproxy/envoy/issues/12572 for details. tl;dr we all misunderstood how FCM works, if you send TLS traffic it will *never* match those other 2

[2020-08-14 17:43] bianpengyuan commented on #24720
Is it that the sidecar with increased memory only received http requests? There should be no TCP metric generated if so.

If it is possible, and to help us narrow down the issue, can you try to delete the 1.6 tcp stats filter (`k delete envoyfilter tcp-stats-filter-1.6 -n istio-system`), and see if that solves your issue? Without this filter, http metric should still be generated.

[2020-08-14 17:46] richardwxn commented on #26470
The issue is fixed with above PR, closing it

[2020-08-14 17:46] #26470 closed

[2020-08-14 18:04] stevenctl opened #26517 "[multi-network] Unreachable cross-network endpoints for non-sidecared pods."
**Bug description**

In a multinetwork setup, when a pod with a sidecar tries to reach a non-sidecar pod it causes `TLS error: 268435703:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER`

We'd either need to
1. terminate TLS for this scenario at the gateway
2. filter these endpoints out

This is problematic in a scenario where the non-sidecared service exists in both networks. We would loadbalan

[2020-08-14 18:21] howardjohn opened #26518 "adsc handles RDS ACKs incorrectly, leading to duplicate requests"
[code]

All requests look like this, not the second trailing RDS push with no resources. I think its because we dont include resource names in the RDS ACK

cc @ramaraochavali

[2020-08-14 18:28] rmak-cpi commented on #24720
Hi @bianpengyuan, let me try that later on as I am running an experiment disabling http keepalive, and I will report back once I've obtained data from disabling the tcp-stats-filter.

[2020-08-14 19:02] haimari commented on #26431
Seems that some traffic does go out (HTTP) and some TCP didn't.

Created a new Bare metal cluster with
rancher: 2.4.5
Docker 19.3.12
k8s 18.6
Istio 1.4.10 / 1.5.8

noticed this error with both versions:

[code]

[2020-08-14 19:24] #24432 closed

[2020-08-14 19:24] istio-testing opened #26519 "[release-1.7] Use k8s strategic merge lib for IOP overlays"
Manual cherrypick required.

#26289 failed to apply on top of branch "release-1.7":
[code]

[2020-08-14 19:36] davidraskin opened #26520 "Server side telemetry does not log 403 response codes"
**Bug description**

The wasm stackdriver plugin will not log requests server-side that 403. Requests with a 200 response code are logged.
This issue seems to occur after this istio/proxy sha update commit on istio: https://github.com/istio/istio/commit/b31e8bf5d3182b20f3e8e424e0142d883cd8a786

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[x] Extensions and Telemetry
[

[2020-08-14 20:09] mandarjog commented on #26520
Can you try this out with prometheus?

[2020-08-14 20:10] fcervantes2 opened #26522 "Standalone Istio Operator does not apply tolerations defined for istiod"
**Bug description**
When installing Istio using the operator and IstioOperator custom resource applied, the operator does not honor tolerations applied to pilot (i.e., istiod). This issue is not observed when applying the same IstioOperator custom resource applied via `istioctl manifest apply` command; Tolerations are applied correctly when Installing Istio with CLI.

Example IstioOperator structu

[2020-08-14 20:11] mandarjog commented on #26520
@JimmyCYJ @jwendell This is potentially release blocking if we can reproduce the problem with other log callbacks.

[2020-08-14 20:13] davidraskin commented on #26520
@gargnupur

[2020-08-14 20:13] davidraskin commented on #26520
Yes I can try it out

[2020-08-14 20:13] mandarjog commented on #26520
@davidraskin can you enable debug proxy logs and attach them here? Thanks.

[2020-08-14 20:41] gargnupur commented on #26520
[tmp.txt](https://github.com/istio/istio/files/5077112/tmp.txt) -> debug logs

[2020-08-14 20:47] mandarjog commented on #26520
Potentially localReply is no longer resulting in the `log` callback. @jplevyak @PiotrSikora

[2020-08-14 20:59] heatherzheng opened #26523 "Istio.io Website Notification"
This is part of the Website Notification which detects important events of istio.io and preliminary.istio.io and sends messages to the github issue.
Design docs are here: https://docs.google.com/document/d/18r1LV9HnU4ZflRG8qSfDAKeuxvc5iCfgIsHqk31Ugy0/edit?usp=sharing
Currently, we are waiting the service account to be added to the google analytics
Related PR: [https://github.com/istio/bots/pull/25

[2020-08-14 20:59] heatherzheng commented on #26523
@therealmitchconnors @davidhauck

[2020-08-14 20:59] XanderStrike opened #26524 "Ingress downtime during rollouts"
**Bug description**

When rolling out a new version of the Istio Ingressgateways, we expect there to be no downtime or failed requests. However, we observe failed requests.

**Steps to reproduce the bug**

Given a kubernetes cluster with Istio installed [with istioctl](https://istio.io/latest/docs/setup/install/istioctl/)
And [bookinfo](https://istio.io/latest/docs/examples/bookinfo/) deployed
And

[2020-08-14 21:07] howardjohn commented on #20201
@sungbest can you provide the DR you have that are being applied incorrectly? I am not sure I follow correctly

[2020-08-14 21:09] howardjohn commented on #26178
Verified fixed

[2020-08-14 21:09] #26178 closed

[2020-08-14 21:12] christian-posta commented on #11130
Nice @luksa !! This is something that has bothered me for a really long time! Thanks for writing up your findings in the blog post too.

[2020-08-14 21:38] lambdai commented on #24753
@atcjunior

Thank you for the workaround! Please fix the upstream http app which populate double chucked at high priority. Envoy is removing the reject_unsupported_transfer_encodings [soon](https://www.envoyproxy.io/docs/envoy/latest/version_history/current)
AFAIK some user report Tomcat cors plugin is a potential culprit but I didn't verify.

Your pasted log shows this is **double** "chunked". Se

[2020-08-14 21:38] therealmitchconnors commented on #26523
Thanks @heatherzheng, excellent work!

[2020-08-14 23:22] liminw commented on #21340
IstioAuthorizationPolicy uses istio attributes, including request.auth.claims. Currently it is not handling nested JWT claims. We will take it as a feature request, and try to address it in future releases. @yangminzhu

[2020-08-14 23:56] yangminzhu commented on #21340
correct, currently the AuthZ policy only supports claims of type string or a list of string from a JWT token. This is actually a feature request.

[2020-08-15 04:47] 13567436138 commented on #24746
how to solve this problem

[2020-08-15 05:09] #23464 closed

[2020-08-15 05:51] infa-ddeore opened #26535 "Update grafana "mesh dashboard" to fix missing galley metrics"
**Bug description**
Default istio mesh dashboards doesn't show metrics vs,dr,gw, and meshpolicies because galley_istio_networking_virtualservices, galley_istio_networking_destinationrules, galley_istio_networking_gateways, galley_istio_authentication_meshpolicies metrics are missing

![image](https://user-images.githubusercontent.com/39782583/90306290-29e76c00-dee9-11ea-91b7-6a850551f0a8.png)

[ ]

[2020-08-15 07:07] herbguo commented on #26261
ok，thanks!

[2020-08-15 07:07] #26261 closed

[2020-08-15 09:32] #20316 closed

[2020-08-15 11:08] chadlwilson commented on #7707
Sorry to dredge this one back up -  but anyone know if there is an equivalent ticket for the new `PeerAuthentication` resources, or an equivalent way to achieve this? (other than `EnvoyFilter`s) I can't find one currently :-(

[2020-08-15 13:56] esnible opened #26541 "tools/certs '*** No rule to make target `clean'. Stop.'"
The certs Makefile should be location independent.

The _tools/certs/Makefile_ does `@make clean`.  It is supposed to be a call into the clean target of the current Makefile.

This uses the Makefile in the current directory.  It means the Makefile cannot be run using `make --makefile $ISTIO_DIR/tools/certs/Makefile <target>`

I suspect this is an easy fix, replacing `@make clean` with `@make --mak

[2020-08-15 14:00] sebnyberg commented on #22800
I was re-installing istio and an old gateway resource was referencing the a non-existent cert in the default ingress. Removing the gateway made the installation go through.

[2020-08-15 14:01] mandarjog commented on #26520
There is a change in behaviour at the commit specified here.
ClearDeferred list does result in calling access log handlerS.

[2020-08-15 15:53] tanjunchen commented on #26473
Similar to #26010

[2020-08-15 15:53] tanjunchen commented on #26473
see https://github.com/istio/istio/pull/26304

[2020-08-15 16:43] rmak-cpi commented on #24720
Hi @bianpengyuan, just want to report back that envy proxy memory usage after disabling the tcp stats filter, but my own experiment disabling http keepalive hasn't gone so well since I have yet to find the magic config to to actually disable http keepalive.

[2020-08-15 22:39] mandarjog commented on #26520
Here is what we found so far.
https://github.com/envoyproxy/envoy-wasm/commit/ede27304cf02bf243c4d403240b65d9e1ed22957
 commit added a guard `http_request_started_` which is set in wasm `Context::decodeHeaders` and it is checked in wasm `Context::log`. `Context::log` does an early return.