[2019-04-12 03:56] Tushar120120 commented on #10358
Does it mean httpbin example will not work in 1.1.2?

[2019-04-12 05:18] rajusharma opened #13267 "Istio allows multiple virtualservices even though envoy throws error in istio-pilot"
NOTE: using grpc protocol
**Describe the bug**
When we create multiple virtual services on same domain envoy doesn't allow and throw error in istio-pilot logs saying `<code:13 message:"Only unique values for domains are permitted. Duplicate entry of domain paymentservice.paymentservice.svc.cluster.local" >`
But istio-pilot considers it as warning and allows creating multiple virtual services, also

[2019-04-12 05:42] dwradcliffe commented on #13238
Kubernetes multicluster from that script is not the same as Istio multicluster. From the blog link it seems that you're doing separate control planes and setting up a ServiceEntry with the gateway address of cluster2?

[2019-04-12 06:38] adamglt commented on #12551
**Important note about using the steps above to reproduce:**
It seems like `kube-dns` and `coredns` behave a bit differently with SRV records created for headless services: https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#srv-records

In kube-dns, the `auto-generated-name` is **really** auto-generated, and would be something like `23894289347923.my-svc.my-ns.svc.cluster.loc

[2019-04-12 06:38] procyclinsur opened #13268 "Istio relese 1.1.2 does not bypass CORS OPTIONS requests for JWT auth"
**Describe the feature request**
I would like to request a new release with the following PR included.

istio/proxy#2165 [Cherry pick] "Add the support of bypassing JWT authn for CORS requests" to release 1.1

**Describe alternatives you've considered**
Tried compiling istio/proxy with the required commits cherry-picked into version 1.1.2 on fedora 29, and after a day and a half of trying, I still

[2019-04-12 07:37] yuchen9459 commented on #13238
Yep. I am doing the separate control plane Istio and using a gateway to connect different clusters. The ServiceEntry with the gateway address has already been successfully set up.

[2019-04-12 08:03] dreadbird opened #13270 "Pilot does not refresh the endpoint,when a new pod was running, the uri reach to a wrong endpoint(the old pod)"
**Describe the bug**
When I kill the pod and a new pod is running,I get "upstream connect error or disconnect/reset before headers"
In the ingressgateway logs,find the uri reached a wrong endpoint
![image](https://user-images.githubusercontent.com/2113395/56020476-d5067500-5d39-11e9-8390-1c22e1180d8d.png)
and I cannot find any pod use the ip "10.1.53.43"
![image](https://user-images.githubusercont

[2019-04-12 09:05] zhengzepeng commented on #13239
I run the bookinfo example in k8s,everything is ok~i go into the sidecar and get the config_dump,the proxy is ok(is http,no tcp)！But in docker(consul),i use the same way to get the config_dump,i found the proxy is tcp no http！
I think this is a bug in pilot，please check it out~thanks

[2019-04-12 10:01] NicoXcc commented on #2491
This was really helpful thanks :
kubectl get deployment istio-pilot -o yaml -n istio-system | grep image: | cut -d ':' -f3 |  head -1

[2019-04-12 10:13] ramaraochavali commented on #10659
I tried with stateful gRPC service and it generated the following cluster of type EDS - Should it not generate as many clusters as there are nodes?
[code]

[2019-04-12 10:13] zhengzepeng commented on #13239
@rshriram hello,i saw conversion.go in pilot(consul),you change the convertPort method and return the default Protocol tcp (http before),it make some problem that i cant run the bookinfo example in docker (consul)!I just want to ask why?It confuse me.Hope to reply~

[2019-04-12 11:07] #10462 closed

[2019-04-12 11:17] prune998 commented on #13211
As far as I remember, I also tried to reference the gateway (in a VirtualService) as `namespace/gateway`, and it was rejected by Galley.

I switched the GW name to not use dots at all, and created my `virtualService` in the same namespace, using the plain GW name.

Still, this situation is under-documented and not enforced as needed.
Thanks for your answer @rshriram

[2019-04-12 11:21] guitmz commented on #11851
looks like this is fixed in the v1.1.X chart but not in v1.0.X chart

[2019-04-12 11:23] PandaXass commented on #11851
@guitmz yes, it is, I will close this issue :)

[2019-04-12 11:23] #11851 closed

[2019-04-12 12:38] jwendell commented on #2491
try istioctl version --remote

[2019-04-12 12:40] vvraskin commented on #8374
I see the same problem, the listener is not added, it happens for the TCP gateways/virtual services only and especially the case when `SIMPLE/MUTUAL` TLS is configured, there is no problem for the `Passthrough` mode though.

The error that I get:
[code]

My GatewayConfig:
[code]

[2019-04-12 13:02] #11017 closed

[2019-04-12 13:53] jschlichtholz commented on #11937
Sorry for hijacking this issue but we actually use dynamic service entry creation / deletion in production and have been bitten by this:

1. We provide a platform on which customer can spin up instances.
2. We check if these instances can receive traffic from outside the cluster by creating a service entry and then attempting to access the host from within the cluster.

We could drop this check or

[2019-04-12 13:55] linsun commented on #12021
@vadimeisenbergibm can you check if this is being addressed in some of the multicluster stabilization work being planned?

[2019-04-12 13:59] GregHanson commented on #13270
@dreadbird curious about the timing on this.
 - How much of a delay between when you killed the app pod and attempted to reach the service through the ingress gateway?
 - Is it eventually consistent?  Do later requests get directed to the correct endpoint/IP

Just trying to get a sense of whether pilot failed to push an updated service endpoint to envoy or if envoy was using a pooled/cached/existi

[2019-04-12 14:02] GregHanson commented on #13268
/assign duderino

[2019-04-12 15:03] arianmotamedi commented on #13205
@jaygorrell is the issue still occurring even after setting maxRequestsPerConnection to 1?

[2019-04-12 15:08] jaygorrell commented on #13205
Nope, I applied that fix to the service with 95% of the errors yesterday and it has only happened in the few other services that experience the problem. A few outstanding pieces to me:
1. I have ~100 services with very similar configurations (they use a standard boilerplate) but this only happens in a few of them -- the ones that serve long (30s+) requests. What could explain that?
2. Why is this

[2019-04-12 15:14] patrickppeng opened #13272 "istio_proxy container keeps crashing on uncaught exception"
**Describe the bug**
Istio is installed on k8s cluster and the nodes have ipv6 disabled. We noticed some Istio components (with istio_proxy) get into CrashLoopBackOff state repeatedly.
[code]
After initial investigation, we believe our DNS may resolve "zipkin" service to an ipv6 address and istio_proxy fails on validation. Here is the backtrace attached:
[code]

**Expected behavior**
catch the exc

[2019-04-12 15:26] linsun commented on #13262
@johnma14 : would be great if you can investigate the issues with some of the images:

docker.io/istio/proxyv2:1.1.2  "Progress": "Scan completed: FAIL",
docker.io/kiali/kiali:v0.14  "Progress": "Scan completed: FAIL",  --> @jmazzitelli will move to 0.18
grafana/grafana:5.4.0  "Progress": "Scan completed: FAIL",  --> I opened PR to move to 6.0.2
istio/examples-bookinfo-ratings-v1:1.10.1  "Progress

[2019-04-12 15:27] linsun commented on #13262
#13273

[2019-04-12 15:38] howardjohn commented on #13265
@esnible I think you worked on this right?

[2019-04-12 15:48] GregHanson commented on #13265
@FengLiqiong if you delete the pod, are those metrics visible after it is re-created?

[2019-04-12 15:50] cgkades opened #13274 "SSL Error 35 for kubernetes api server"
**Describe the bug**
When trying to access the api server internally via https://kubernetes, I get an SSL error. If I remove istio, things work as expected, and then when I install istio, the bug comes back.

**Expected behavior**
Expected the ssl connection to complete successfully

**Steps to reproduce the bug**
From a container in the cluster (I used kubectl run -it --rm dummy --image=dockerqa/

[2019-04-12 16:07] #5273 closed

[2019-04-12 16:08] GregHanson commented on #13261
definitely a bug with how the proto was generated.  cluster.go sets the field as:
[code]
And unfortunately the generated method in DestinationRule for GetMinimumRingSize() returns 0 in the nil case, rather than respecting the field as unset:
[code]

[2019-04-12 16:10] valarauca commented on #13240
Have you attempted to disable host verification on the clients within the ISTIO service mesh, when connecting over TLS (which will be encapsulated by the service mesh) ?

Failing that making the TLS certification from the server advertise `localhost` instead of the actual domain it is located at maybe a viable work around as well.

---

Effectively `envoy` (as started by `pilot_agent`) is acting a

[2019-04-12 16:18] pitlv2109 commented on #13257
Discussed offline, running `git clean -f` resolved the issue.

Thanks @howardjohn. Feel free to add your explanation here for future reference and close this issue :)

[2019-04-12 16:33] vadimeisenbergibm commented on #12021
@vadimeisenbergibm will do.

[2019-04-12 16:33] vadimeisenbergibm commented on #12021
@linsun will do.

[2019-04-12 17:04] esnible commented on #6892
@irisdingbj I have given a lot of thought to this issue.  If you would like to collaborate on a design before coding begins let me know.

[2019-04-12 17:16] esnible commented on #12407
@irisdingbj If anyone wants to pick up this item I recommend checking the name, which should be implementable in a few lines of code.  It looks like checking the namespace will require a completely re-engineered mechanism of loading files which isn't worth the effort today.

[2019-04-12 17:39] msiraj7 opened #13279 "Grafana and Prometheus UIs do not work with non-root contextpath"
**Describe the bug**
[istio installation options](https://istio.io/docs/reference/config/installation-options) include  [grafana.contextPath](https://istio.io/docs/reference/config/installation-options/#grafana-options), [prometheus.contextPath](https://istio.io/docs/reference/config/installation-options/#prometheus-options) and [kiali.contextPath](https://istio.io/docs/reference/config/installati

[2019-04-12 17:53] howardjohn opened #13280 "istio-integ-k8s-tests timeout on Prow"
Tests are failing after 2 hours. Example: https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/13182/istio-integ-k8s-tests/6701

istio.io/istio/tests/integration/security/sds_citadel_flow and istio.io/istio/tests/integration/security/healthcheck	 are killed after taking 30min each

[2019-04-12 17:54] howardjohn commented on #13280
@incfly you wrote health check, any insight?
@lei-tang you wrote sds citadel flow, any ideas?

[2019-04-12 18:07] #8337 closed

[2019-04-12 18:26] howardjohn opened #13282 "Enable racetest for e2e/integration tests"
We currently do not do a racetest for any integration/e2e tests. There are many race conditions we miss because of this.

We should consider enabling this on tests that exercise full code paths to capture more race conditions.

[2019-04-12 18:28] mwei2016 opened #13283 "Istio IP blacklists for country blocking"
**Describe the feature request**
Didn't see similar support for country blocking in Istio as in Ngnix. For Istio, looks we need parse GeoIP data to extract blacklist IPs which is IP CIDR first. To block them, the options provided by Istio today are simple denial or ip-based blacklists.
(https://istio.io/docs/tasks/policy-enforcement/denial-and-list/#ip-based-whitelists-or-blacklists)

There are so

[2019-04-12 18:31] howardjohn opened #13285 "Race Condition: GenSpiffeURI"
Caused by SetTrustDomain then reading/setting again in GenSpiffe
[code]
Feel free to reassign, set to last people that touched the code

[2019-04-12 18:31] esnible commented on #13265
I have a hack for you.  Not sure how to document it.  Do this:

[code]

Istio's documentation only discusses the `sidecar.istio.io/statsInclusionPrefixes` annotation.  The implementation of annotations works by having the sidecar injector copy the annotations to the `ISTIO_METAJSON_ANNOTATIONS` environment variable which is passed to the pod.  (This is because the pod is given environment variable

[2019-04-12 18:32] incfly commented on #13280
The mtls health check test itself has been passed stably for a while, looking from testgrid, https://testgrid.k8s.io/istio-postsubmits#integration-k8s-tests&show-stale-tests=
I think this has something to do with the fact that we recently added more tests, and MtlsHealthCheck and SdsVaultTest both require different Helm flag installation, deploying Istio is the time killer and thus time-out...

So

[2019-04-12 18:33] howardjohn opened #13286 "Race Condition: ads.go LastPush"
Line numbers are based on release-1.1 SHA bfea604

Set last push time
[code]

Set last push failure
[code]

[2019-04-12 18:33] incfly commented on #13280
We might not be able to do the same thing for sds related tests.. @lei-tang unless those workflows support per deployment test case.

[2019-04-12 18:35] howardjohn opened #13287 "Race Condition: eds.go many failures"
Line numbers are based on release-1.1 SHA bfea6044e

ep.EnvoyEndpoint
[code]

adding to endpoints
[code]

endpointDiscoveryResponse
[code]

[2019-04-12 18:36] howardjohn opened #13288 "Race Condition: push_context.go/route.go"
Line numbers are based on release-1.1 SHA bfea604

[code]

[2019-04-12 18:37] howardjohn commented on #13287
One more:
[code]

[2019-04-12 18:38] howardjohn commented on #13280
I assume they don't show in testgrid because the tests get killed instead of failing? Should be fixed though

[2019-04-12 18:39] GregHanson commented on #13274
@cgkades does a similar workaround to the one posted here work in your case?
https://github.com/istio/istio/issues/8696#issuecomment-442568916

[2019-04-12 18:41] #13257 closed

[2019-04-12 18:42] mwei2016 commented on #13283
Looks the default return code has been changed from NOT_FOUND to PERMISSION_DENIED (https://github.com/istio/istio/pull/10444). It is great! For that option, how to pass a completely local list?

[2019-04-12 18:46] lei-tang commented on #13280
I tried to run the failured tests on a GKE cluster a few times and they all passed. My thoughts:
- With whom can we consult about the difference between running the tests on prow and running on a GKE cluster through "go test -v TEST-DIRRECTORY"?
- Is the prow go tests running without "-p 1"?  According to the integration test documents, "-p 1" is needed to avoid the interference from multiple conc

[2019-04-12 18:48] Stono opened #13289 "connectionPool.http.idleTimeout not workiing"
According to https://istio.io/docs/reference/config/networking/v1alpha3/destination-rule I should be able to use the above setting however i'm getting the following error in pilot:

[code]

Istio 1.1.2

[2019-04-12 18:50] howardjohn commented on #13280
You can look at build log to see arguments used:
[code]

Looks like -p 1 is passed

[2019-04-12 18:51] sumeetoc commented on #13132
@yangminzhu Thanks for the reply, it would be helpful i believe in a private environment with only one service communicating the outside world.

[2019-04-12 18:53] lei-tang commented on #13280
@incfly When running the failed tests on a GKE cluster, the Istio deployment only takes around 2 minutes, far less than 30 minutes. Not sure about the Istio deployment time on prow. For the integration tests that require helm template to configure the Istio deployment, I think new Istio depolyment is needed to ensure the previous test does not contaminate the next test.

[2019-04-12 18:59] GregHanson commented on #13289
@Stono I think this feature went in 2 days ago https://github.com/istio/istio/pull/13146/files
are you using a daily build or the official 1.1.2 release?

[2019-04-12 19:07] Stono commented on #13289
Ahhh official, I could grab the latest daily and use that instead.

[2019-04-12 19:12] lei-tang commented on #13280
@howardjohn Thanks, "-p 1" is used so in theory these tests will run one by one without interfering each other. However, I have a few more speculations about the 30 minute timeout failures on prow test environments.
- The cluster used in prow tests may run out of resources to create new test deployment. It may have problems on releasing the resources of previous tests, e.g., a new test is being de

[2019-04-12 19:18] GregHanson commented on #13179
I wonder if this could be related to https://github.com/istio/istio/issues/13261
we are currently setting a bad (0) minimum ring size by default instead of the documented 1024.  PR's are open in master and release to resolve.  Can you verify the `0` value in your config_dump's?
[code]

[2019-04-12 19:29] kish3007 commented on #8029
@vadimeisenbergibm My app-service is running on https port(443), I have my gateway for port 443 with tls.mode simple and I have http routes defined in virtualservice,  as per your instructions i added `apiVersion: networking.istio.io/v1alpha3
kind: DestinationRule
metadata:
  name: originate-tls-for-my-service
spec:
  host: myservice
  trafficPolicy:
    loadBalancer:
      simple: ROUND_ROBIN

[2019-04-12 19:29] linsun commented on #12523
This is interesting idea. when troubleshooting pilot issues, I had to run it in k8s today and takes a lot of time and sometimes requires step through the code.

[2019-04-12 19:32] Stono commented on #13289
Yup works with the latest daily, thanks.
Probably want to keep the docs inline with the current official release - it's confusing! :)

[2019-04-12 19:32] #13289 closed

[2019-04-12 19:33] cgkades commented on #13274
I can work around the issue by just pointing to the external API URL for the cases where I can modify where it's pointing.  If I'm reading the other workaround correctly, it's creating a new service to call "azmk8s-ext" instead of "kubernetes" which seems to be the same as just going to the external URL. So things like prometheus will still think the API server is down?

[2019-04-12 20:11] kyessenov opened #13294 "xds_test needs to set envoy version"
xds_test.go does not set node metadata correctly so it fails with new control plane since control plane sends deprecated configs.

[2019-04-12 20:16] nirvanagit commented on #11786
@adenis-sv - did you SNI and SIMPLE work on the same port?

[2019-04-12 20:17] philrud commented on #13179
@GregHanson yes, I've got the following block in the configs:
[code]
But I see this block on both clusters, yet LB works for the destination cluster, but not for the mirrored one. That issue wouldn't explain that, would it?

[2019-04-12 20:46] howardjohn opened #13298 "Race Condition: authz.buildFilter()"
Found with: `go test ./tests/integration/security/... -v --istio.test.env native -race`

[code]

[2019-04-12 21:00] #13126 closed

[2019-04-12 21:28] iamjem commented on #12700
So, initially followed through the steps again against a fresh cluster with istio 1.1 installed, came to the same result.

Then I decided to "go back" to the non-SDS version and double check I could make normal HTTP requests. So I applied the original istio-ingressgateway deployment again (without the ingress-sds bits), and attempted to make an HTTP request to the ELB for the httpbin host. My requ

[2019-04-12 21:41] howardjohn opened #13301 "Race Condition: mixer server.newServer"
I think this one isn't a big issue. Seems like it happens because some grpc connection is reused  or something between tests in the new framework.

Got this with
[code]

Happens with all mixer tests

[code]

[2019-04-12 22:18] howardjohn commented on #13280
Looking at logs, Istio is successfully deployed. I am pretty sure it gets stuck on this: https://github.com/istio/istio/blob/52a304e3fb21fd12f98ef7a1f64a91e156c5a018/tests/integration/security/healthcheck/mtls_healthcheck_test.go#L60-L73

I think we can change these to use galley maybe? Not sure if that will fix the problem though

These tests are consistently failing for days; we just never hit t

[2019-04-12 22:26] howardjohn commented on #13280
PR to disable: https://github.com/istio/istio/pull/13305

[2019-04-12 22:42] philrud commented on #13179
Tried flipping "minimumRingSize" to 1024 just in case. That didn't help unfortunately – the traffic on the mirror cluster still doesn't seem to respect the hashPolicy.

[2019-04-12 22:48] JimmyCYJ commented on #12700
@iamjem Thanks a lot for the investigation and all the details posted above. As this problem does not happen again I don't have any clue about the root cause. If you are continuing investigating, would you mind to keep http port 80 open in your ingressgateway, so that it could show whether this is a SDS issue or other issues. I am going to close the issue for now, but please feel free to reopen an

[2019-04-12 22:48] #12700 closed

[2019-04-12 23:12] arianmotamedi commented on #13205
I agree with both of these :)

[2019-04-13 00:45] lei-tang opened #13307 "Instructions/documents on running Prow scripts to debug Prow test failures"
**Describe the feature request**
The integration tests in https://github.com/istio/istio/issues/13280 (e.g., istio.io/istio/tests/integration/security/sds_citadel_flow and istio.io/istio/tests/integration/security/healthcheck) fail on Prow environment but succeed when running through commands "go test integration-test-directory-name" on a desktop computer with a GKE cluster.

This feature requests

[2019-04-13 00:46] howardjohn commented on #13280
Now with https://github.com/istio/istio/pull/13305 I see the other 2 security tests also timing out: https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/13305/istio-integ-k8s-tests/6735

Not sure what it is about the security tests that make them different..

[2019-04-13 00:52] lei-tang commented on #13307
@sebastienvas @utka @nmittler @ozevren Do you have any instructions/guidances on this issue?

[2019-04-13 01:02] lei-tang commented on #13280
I am trying to debug why these tests fail in Prow environment while succeed when running through commands "go test integration-test-directory-name" on a GKE cluster. But the Prow test scripts (e.g., prow/istio-integ-k8s-tests.sh) fails to run on a desktop terminal (failed at getting a Boskos resource).
I created the issue https://github.com/istio/istio/issues/13307 for instructions/documents on ru

[2019-04-13 01:07] yangminzhu commented on #13285
Could you share the test command that reproduces this? thanks

[2019-04-13 01:13] howardjohn commented on #13285
This one I ran the -race flag on a real pilot, not the tests. It should be easy to reproduce by adding a test with a loop calling `go genspiffe()` though

[2019-04-13 02:21] Liv1020 opened #13309 "Many error requests don't know what caused the cause"
**Describe the bug**
Many error requests don't know what caused the cause
![image](https://user-images.githubusercontent.com/5382358/56073395-b950ac80-5dd5-11e9-992b-aed8bb38ccd3.png)
![image](https://user-images.githubusercontent.com/5382358/56073399-ccfc1300-5dd5-11e9-88e7-6cf26a5e8609.png)

**Expected behavior**
Request success

**Steps to reproduce the bug**
Unable to reproduce

**Version**
`V

[2019-04-13 02:23] Liv1020 commented on #13309
clusters
`outbound|8000|uat|wechat.xian-yc.svc.cluster.local::outlier::success_rate_average::-1
outbound|8000|uat|wechat.xian-yc.svc.cluster.local::outlier::success_rate_ejection_threshold::-1
outbound|8000|uat|wechat.xian-yc.svc.cluster.local::default_priority::max_connections::10240
outbound|8000|uat|wechat.xian-yc.svc.cluster.local::default_priority::max_pending_requests::10240
outbound|8000|ua

[2019-04-13 02:24] Liv1020 commented on #13309
Stats
`cluster.outbound|8000|prod|wechat.xian-yc.svc.cluster.local.bind_errors: 0
cluster.outbound|8000|prod|wechat.xian-yc.svc.cluster.local.external.upstream_rq_200: 782177
cluster.outbound|8000|prod|wechat.xian-yc.svc.cluster.local.external.upstream_rq_2xx: 782177
cluster.outbound|8000|prod|wechat.xian-yc.svc.cluster.local.external.upstream_rq_301: 35
cluster.outbound|8000|prod|wechat.xian-yc.s

[2019-04-13 08:02] cleverguy25 commented on #9504
I am still seeing this issue, even if I set the annotation readiness.status.sidecar.istio.io/applicationPorts to the right set of ports.  I see this as a command line to the istio-proxy container:

`--applicationPorts
8250,19000,8260,80,9700,7483,27142,18000,18003`

Still seeing this in logs:
`envoy missing listener for inbound application port: 8250
* envoy missing listener for inbound applicatio

[2019-04-13 10:07] vadimeisenbergibm commented on #8029
@JansonLiao You are welcome!

[2019-04-13 10:10] vadimeisenbergibm commented on #8029
@kish3007 Please note that in the TLS passthrough mode you cannot use `http` routes, you can only use `tls`, see https://istio.io/docs/examples/advanced-gateways/ingress-sni-passthrough/#configure-an-ingress-gateway.

Also note that the traffic is TLS, Istio does not see the encrypted HTTP traffic, so Istio does not show it as HTTP in the dashboard.

[2019-04-13 10:19] seventhfish commented on #7679
Have the same issue, how to fix it, thx

[2019-04-13 13:09] kish3007 commented on #8029
Are there any solutions to monitor the TLS traffic in mesh dashboard or any other dashboards? Thanks

[2019-04-13 14:27] #13298 closed

[2019-04-13 14:39] DariuszBl opened #13313 "Timeout defined for requests coming to external service does not work"
**Describe the bug**
I have created ServiceEntry for haproxy. After that, I have created VirtualService which defines timeout and fault injection for requests coming to it but it does not work. Here is part of my configuration:
[code]
Mybe the issue is that the host defined in ServiceEntry is virtual and requests are coming through ip defined in address field?

**Expected behavior**
Every request

[2019-04-13 17:53] rvennam commented on #13244
This is related to #13153

Bootstrap css, js and fonts assets needs to be served and allowed from the VirtualService.

[2019-04-13 19:09] rshriram commented on #13193
@philrud the op is accessing the service with the proper service name (es-ws-kne) as it should be accessed. He is not using the actual value of the ExternalName field as the whole point of the external name service is to hide the destination from all end users and instead use a facade. So, your PR linked in the issue will not the issue.

It would be helpful to see the RDS dump for port 80 to see i

[2019-04-13 20:00] krichter722 commented on #7512
@kyessenov pinging you as a main contributor (hopefully administrator as meant by the stale bot). This is still an issue as confirmed by the reporter and others (including me).

BTW, please consider turning of the stale bot as it's almost never constructive to close issues automatically, especially not based on elapsed time.

[2019-04-13 20:13] darwin67 commented on #13260
I agree with keeping the `get` command unless there's an alternative and using kubectl get for Istio is not a nice experience.

[2019-04-13 21:02] jaygorrell commented on #13205
Continuing the remainder of this topic in https://github.com/envoyproxy/envoy/issues/6190 for now then. Thanks for all the help @arianmotamedi -- it also looks like 1.1.3 is tagged so we should have a release with the timeout setting pretty soon!

[2019-04-13 21:02] #13205 closed

[2019-04-13 22:43] philrud commented on #13193
@rshriram yeah, I understand that and that's exactly what I'm testing/fixing. There's no separate RDS vhost for "es-ws-kne" service (it's "meshExtrernal" service with "DNSLB" resolution and no endpoints). The following request `curl -v http://es-ws-kne/` is failing with 404 because it will actually be using "my-web-server-service" vhost. Here's what it's looking like (curl-side sidecar):
[code]
As

[2019-04-14 01:31] rvennam commented on #12344
This is still an issue in 1.1. I see Requests and Limits are set on the istio-proxy containers only.

[2019-04-14 02:55] sun-wenming opened #13315 "I created a simple demo.But get 404 Not Found."
**Describe the bug**
{{ Succinctly describe the bug }}

When I access normally, 404 appears.
![image](https://user-images.githubusercontent.com/22268505/56087579-9a6b1c80-5ea0-11e9-89a5-8791ae7e5c55.png)

**Expected behavior**
{{ What did you expect to happen? }}

Return 200 status code

**Steps to reproduce the bug**
{{ Minimal steps to reproduce the behavior }}
I turned on an 8888 port monitor v

[2019-04-14 05:22] sun-wenming commented on #13315
I change containerPort 8888 to 80 .
[code]
400  to 503 error
[code]

[2019-04-14 10:30] liamawhite opened #13317 "Integration Testing for Locality Weighted Loadbalancing"
As discussed offline. Should mostly re-use the functionality [here](https://github.com/istio/istio/pull/13252#issuecomment-482279981).

[2019-04-14 13:05] arielb135 commented on #10659
Is there any update to this?
i've tried to attach istio to RabbitMQ - with MTLS it failed, without - it succeeded.

i've tried adding ServiceEntry, but it did just ignore the TLS and worked without.

i'm reading mixed posts about it - what's the verdict?

[2019-04-14 14:04] vadimeisenbergibm commented on #6146
@tcnghia Please see this explanation https://istio.io/docs/tasks/traffic-management/egress/#envoy-passthrough-to-external-services, it works starting from Istio 1.1.

[2019-04-14 14:13] mailzyok opened #13318 "1.1.1 and 1.1.2 are identical, how the Envoy patch is applied?"
Hi,

We build istio/proxy to get the envoy binary running on a different Linux. But 1.1.1 and 1.1.2 are identical, how can we apply the security patches for envoy?

Thanks,
yzha

[2019-04-14 15:08] rshriram commented on #13193
There is no RDS for es-ws-kne because that service does not have a port. So, in RDS calls, when Pilot tries to determine the set of hosts on port 80, it does not have es-ws-kne in the list.

 This k8s external name service is a royal pain. I would hate its eccentricities to become part of the main networking code.

@akashrv you are missing a virtual service definition for the external name service

[2019-04-14 16:20] vadimeisenbergibm opened #13319 "Sidecar resources do not filter external service entries"
Tested in Istio 1.1.2.

Steps to reproduce:

1. Create a sidecar resource:

[code]

2. Create a service entry for httpbin.org, according to https://istio.io/docs/tasks/traffic-management/egress/#access-an-external-http-service

3. Check the clusters for a pod:

[code]

[2019-04-14 16:21] vadimeisenbergibm commented on #8541
Should be fixed by https://github.com/istio/istio/issues/13319.

[2019-04-14 17:12] howardjohn commented on #13318
I believe the patches were applied from a private repo due to the envoy embargo. They are being backported (or will be soon?) to the public repo

[2019-04-14 17:14] howardjohn commented on #13319
You apply the service entry in default namespace? If so I think this is WAI, you specified `./*` so everything from the default namespace is imported (including httpbin)

[2019-04-14 17:19] Tushar120120 commented on #7583
if we do not use helm, is there any solution?

[2019-04-14 18:56] vadimeisenbergibm commented on #13319
@howardjohn I see, the namespace means the namespace of the entry, not the namespace of the destination. Thanks a lot! Closing the issue.

[2019-04-14 18:56] #13319 closed

[2019-04-14 18:58] vadimeisenbergibm commented on #8541
@castlemilk The issue should be resolved now by using [the Sidecar resource](https://istio.io/docs/reference/config/networking/v1alpha3/sidecar/).

[2019-04-14 21:44] codependent commented on #13144
My bad, the indentation wasn't correct:
[code]

[2019-04-14 21:44] #13144 closed

[2019-04-14 22:00] rvennam commented on #13043
fixed with #13053

[2019-04-14 22:00] #13043 closed

[2019-04-14 22:15] ibm-jason commented on #5043
Closing this issue per @knrc.

[2019-04-14 22:15] #5043 closed

[2019-04-14 23:24] nrjpoddar commented on #13318
@howardjohn it will be really useful if decisions like this are conveyed to the broader public. Is there an easy way for anyone build a private version of istio proxy repo to build a version with Envoy patches without diverging from upstream release 1.1.2 branch?

[2019-04-14 23:29] howardjohn commented on #13318
That is about all I know, I wasn't involved with the release at all. @mjog or @silentdai can provide more info

[2019-04-14 23:34] nrjpoddar commented on #13318
Thanks @howardjohn Your clarification helped me out understand how 1.1.2 was built. Looks like 1.1.3 proxy tag has the correct Envoy version.

[2019-04-15 01:09] howardjohn opened #13320 "go-junit-report sometimes misses failures leading to confusing test results"
Example: https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/13175/istio-unit-tests/23817

Header says:

And test is marked as failed. Digging into the logs shows a real failure, but it isn't recorded as one. This may actually be an issue with the junit report (if that is how prow gets this info)

This makes it really hard to debug failures

[2019-04-15 02:29] DragonSuper opened #13321 "Whether ARM64 platform is available Now？"
Hi，I want to compile the source code manually in ARM64 platform。
I don't know if it will work。
If I package it as  docker mirror images，Whether istio works properly in ARM64 platform now.
I want to make sure if it's going to happen,Because I didn't find anything docker ARM64 mirror images in docker hub.

[2019-04-15 02:31] FengLiqiong commented on #13265
Thank you all for your help.
@esnible The hack works fine. `sidecar.istio.io/inject: "false"` is there after istio is installed, I did nothing to it.

[2019-04-15 02:43] nicktrav opened #13322 "Allow for overriding control plane Service types in k8s config"
**Describe the feature request**

When running Istio in a multi-cluster configuration, the control plane services need to be easily discoverable from the remote clusters. One way of achieving this is by exposing Pilot, Mixer and other components (e.g. tracing sinks) as Services with `type: LoadBalancer`. Additionally, on GKE, annotations are required to signal that the the load balancers are inter

[2019-04-15 03:04] mailzyok commented on #13318
For the coming 1.1.3, according to the commit id of envoy used in file istio/proxy/istio.deps, the fix below for the securities are there, so i will wait for the official 1.1.3 release, then build my private envoy binary.

1. codec: reject embedded NUL in headers. (#2)  …
2. build: import manually minified Chrome URL lib. (#3)  …
3. hcm: path normalization. (#1)

Thanks.

[2019-04-15 03:17] ramaraochavali commented on #10659
Can you share your RabbitMQ service definition and how you attached Istio and how you are accessing individual node without mTLS? Even that is not working for me - I did not test RabbitMQ specifically but a simple TCP service. I want to understand where is the gap.

[2019-04-15 03:36] howardjohn opened #13323 "Explore using Kind for integration tests"
Problems with the kube integration tests: tests are slow, and will grow slower as we add tests because they cannot be run in parallel - in general, each tests creates and tears down a full Istio install. They are also hard to debug in CI and often CI failures cannot be reproduced (https://github.com/istio/istio/issues/13307)

We should explore using KinD for the new integration framework. At the v

[2019-04-15 03:57] ramaraochavali commented on #10659
@hzxuzhonghu Did you try http/gRPC stateful service? What do you think about https://github.com/istio/istio/issues/10659#issuecomment-482520125? If we create only one EDS cluster like regular services - how can we access individual node? WDYT?

[2019-04-15 04:22] howardjohn commented on #12823
I would guess we support 1.11+. The FAQs do say 1.9 but the FAQs also have references to Istio 0.1, so its a bit old. https://istio.io/docs/setup/kubernetes/ says tested on 1.11-1.13. Will verify and report back.

k3s 0.4 rc has v2beta1 anyways though so less urgent. Not sure if this was a work around for istio or a permanent decision or what though

[2019-04-15 06:03] mandarjog opened #13325 "nodeagent panic (1.1.3-pre)"
image: gcr.io/istio-release/node-agent-k8s:release-1.1-20190413-09-16

[code]

[code]

[2019-04-15 06:08] mandarjog commented on #13325
@wattli @quanjielin

[2019-04-15 06:47] dreadbird commented on #13270
tks  for u reply!
1.more than one hour,if I do not to restart pilot,will be delayed for several hours
2.I can not wait to see if it will be consistent eventually, because many teams are using ....

and , there were several error or failed messages in the pilot-discovery logs:
[code]

[code]

[2019-04-15 08:26] mjog commented on #13318
Honestly, if I get CC'ed on another one of your tickets, I'm going to start posting goatse in reply every time it happens.

[2019-04-15 08:57] xiaozhongliu opened #13326 "IP whitelist does not work"
**Describe the bug**
IP whitelist does not work

**Expected behavior**
Only IP addresses in the whitelist should be allowed

**Steps to reproduce the bug**
[code]

**Version**
[code]

**Installation**
one key installation from the menu of an alibaba cloud k8s cluster

**Environment**
alibaba cloud

[2019-04-15 09:00] xiaozhongliu commented on #13326
If I use , the following error is returned:

[2019-04-15 10:03] yuchen9459 opened #13327 "Deploy the same version service in multiple clusters"
**Describe the feature request**
Deploy the same version service in multiple clusters using gateway connected feature and make sure they can be accessed

**Describe alternatives you've considered**
In the [Version Routing in a Multicluster Service Mesh tutorial ](https://istio.io/blog/2019/multicluster-version-routing/), it deploys two version of review services in the second cluster. I created th

[2019-04-15 13:05] eperdeme commented on #11131
Did this work for you in the end ?

[2019-04-15 13:09] esnible opened #13329 "IDEA: Templates for common Istio tasks"
https://docs.google.com/document/d/1VpiVU2HgLlDdaQla65UTaPu7n_kiD9LqoNlm9CNS47I/edit

Common tasks:
- Expose Edge Service
- Add pods/services/namespaces to mesh
- create DestinationRule (versions)
- set Weights / routing
- etc

I propose to add a new istioctl command to let users perform “common tasks”.

I propose the implementation be template-based, similar to `helm template` or `istioctl kube-i

[2019-04-15 13:15] esnible commented on #12523
Thanks @linsun .  I have been talking with @mbanikazemi about this idea.  There is a lot of checking in pilot-discovery that could be leveraged for testing.  We also hope to write further checking in Pilot so that Pilot stops generating configuration that Envoy rejects and eliminating STALE sidecars.

Once such validation is in place in pilot-discovery it would be easy to run pilot discovery on a

[2019-04-15 13:21] esnible commented on #13265
@frankbu Can you chime in on the Documentation team's feelings about the hack I propose?  It is unclear if it should be documented, or if we need a `Area/Networking` work item to allow sidecar annotation on control plane pods, or if we should discourage users from trying to change Envoy's behavior on control plane pods.

[2019-04-15 13:27] myelinproj opened #13330 "Mirror traffic to multiple hosts"
**Describe the feature request**

I would like to mirror the traffic to multiple hosts in the virtual service.

I assume this is not possible looking at the current schema of the virtual service as `http[].mirror` only accepts one destination (not an array).

Is this possible? If not, can anyone suggest a workaround?

[2019-04-15 13:34] morvencao commented on #13018
Is there any possible we have this in istio 1.1.x?

[2019-04-15 13:39] howardjohn commented on #13318
@mandarjog

[2019-04-15 13:42] esnible commented on #13028
The patch for this is blocked because of code coverage.  I have a PR for mocking that will allow the code coverage to be improved.

[2019-04-15 13:49] mandarjog commented on #13318
@mailzyok That is correct. 1.1.2 istio-proxy was built from a private branch of envoy.
With 1.1.3 we are back to using upstream envoy sha. You should be able to build your own version of envoy from that now.

[2019-04-15 13:52] mailzyok commented on #13318
@mandarjog Thanks a lot! This issue is closed.

[2019-04-15 13:52] #13318 closed

[2019-04-15 14:05] esnible commented on #13315
Get into the sidecar using `kubectl exec -it <podname> -c istio-proxy /bin/bash`.  Once in, test it in the usual way for the service it offers, for example:

[code]

See if the pod can accept incoming calls from outside:

[code]

[2019-04-15 14:13] esnible commented on #13279
@clyang82 the PR https://github.com/istio/istio/pull/10699 added contextpath support for Grafana for Ingress, but not for IngressGateway.  @msiraj7 are you accessing via Ingress or IngressGateway?

[2019-04-15 15:01] duderino commented on #13325
@JimmyCYJ please take a look too

[2019-04-15 15:12] duderino commented on #13325
I'm adding a note for this to the 1.1.3 release notes.  I'm describing it as a non-blocker since the feature is alpha, but saying we will try to fix it this week in time for 1.1.4

[2019-04-15 15:58] JimmyCYJ commented on #13325
It looks like a race condition during cert rotation.

[2019-04-15 16:29] quanjielin commented on #13325
the issue was original introduced in https://github.com/istio/istio/pull/9055, just sent a fix PR https://github.com/istio/istio/pull/13333

[2019-04-15 16:36] rshriram opened #13334 "Galley built in sink server handles only one sink client"
The code for the sink server inside Galley can handle only one sink client. It is not possible for multiple clients to send data to the same galley (as sink) as the internal data structures are not built for it.

The updater interface (and the params passed) does not have a way to identify the client where data is coming from.

[2019-04-15 16:43] philrud commented on #13193
Well I'm looking https://github.com/istio/istio/pull/9975 this is clearly an afterthought and user experience isn't looking great atm: now the TCP case works, renaming port "fixes" the issue, while for the most basic case we require a VirtualService, etc.

[2019-04-15 16:51] zparnold commented on #13218
Over the weekend we downgraded to Istio 1.0.7 @howardjohn @philrud and were able to observe the same behavior unfortunately. I know you guys are busy, so if you have a sense of where I should look I can keep digging myself. The issue is, I'm not even quite sure where to look.

[2019-04-15 17:01] howardjohn opened #13336 "istio.io/istio/pilot/pkg/serviceregistry/external TestController flake"
Example: https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/13297/istio-unit-tests/23847

controller_test.go:81: got 4 notifications from controller, want 7

Can't reproduce locally with `go test ./pilot/pkg/serviceregistry/external -count 1000` but have seen in multiple prow tests

[2019-04-15 17:14] howardjohn opened #14160 "Parallel install"
Currently the install script installs each component and waits for it to become ready. Is there any reason we can't just install all at once then wait for all? This would help for CI especially where we want a fast install.

[2019-04-15 17:16] akashrv commented on #13193
Necessitating the use of a virtual service doesn't to use ExternalName service doesn't seem like the right way. Here is my exact use case in Knative which will explain why.
 - Knative exposes and Addressable resource to end users. An Addressable resource is defines as something that has a URL specified on it that can be reached by end users. The exact infra that handles the requests to this URL is

[2019-04-15 17:18] akashrv commented on #13193
Necessitating the use of a virtual service doesn't to use ExternalName service doesn't seem like the right way. Here is my exact use case in Knative which will explain why.

Knative exposes and Addressable resource to end users. An Addressable resource is defines as something that has a URL specified on it that can be reached by end users. The exact infra that handles the requests to this URL is a

[2019-04-15 17:19] #13090 closed

[2019-04-15 17:58] pnovotnak commented on #7136
The only problem is that the preStop hook prevents SIGTERM (though it could be sent from there?)

[2019-04-15 17:59] jwineinger commented on #13176
I'd like to vote for a proper fix with a 1.0.8 release. We don't want to manually patch the chart just to use the new version with the security fixes. Not doing this makes a bit more work for us (and maybe other teams) to use. Incentivize people upgrading by making them as painless as possible.

[2019-04-15 18:00] douglas-reid commented on #13283
Yes, the overrides should work for attribute-based blacklists.

[2019-04-15 18:27] howardjohn commented on #13208
Its from the task to report error timing out. Example: https://circleci.com/gh/istio/istio/387086?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
[code]

[2019-04-15 18:31] pc-rshetty opened #13338 "Upgrading from Istio 1.0.6 to 1.0.7 has no effect(Helm chart version is same)"
**Describe the bug**
After upgrading istio the version still shows 1.0.6. Also i am not sure if it even upgraded anything

**Expected behavior**
Version should be 1.0.7

**Steps to reproduce the bug**
Helm install with istio 1.0.6 and then helm upgrade to istio 1.0.7

**Version**
kubernetes 1.11 istio 1.0.7

**Installation**
Helm

**Environment**
EKS

**Cluster state**
Everything is working but no

[2019-04-15 18:35] farcaller opened #13339 "Separate server / client secrets in nodeagent to make ingress MTLS possible with cert-manager"
**Describe the feature request**

This is a followup to #12132 and #11496 because the discussion there seems to focus on a different problem.

**Problem statement**

istio's nodeagent [performs 1:M mapping](https://github.com/istio/istio/blob/0e9cecab053aab744a7c3a731aacb07fd794d5f9/security/pkg/nodeagent/secretfetcher/secretfetcher.go#L144) from k8s Secret to the SecretItem: it generates the serv

[2019-04-15 18:35] douglas-reid commented on #13171
Have you tried without CNI?  I verified tracing working without CNI in several test clusters in the run up to 1.1.X. Perhaps there is something broken with the CNI-related setup?

[2019-04-15 18:37] farcaller commented on #13339
/cc @myidpt @prune998 @thomschke @JimmyCYJ

copying over from #12132. I know these tickets are very closely related but #12132 seems to go into a different direction and I focus this one on a very narrow and a very explicit problem: separation of client/server auth for the k8s use case.

[2019-04-15 18:46] lei-tang opened #13341 "Add tests that detect race condition"
**Describe the feature request**
Race condition causes various kinds of program errors in Istio. This feature requests for adding Istio tests (unit tests, integration tests, and etc) that detect race condition.

**Describe alternatives you've considered**
N.A.

**Additional context**
Race condition causes various kinds of program errors in Istio.

[2019-04-15 18:50] diemtvu commented on #13138
Do we need this configurable? Can we simply disable all well known weak cipher / protocols?

[2019-04-15 19:22] yangminzhu commented on #13138
@diemtvu We could change the sidecar to TLS 1.2 but that might break some legacy application (no sidecar) that only supports TLS 1.0 or 1.1. Also I think from the nmap output, none of the ciphers is weak in a well known way.

The other option, instead of introducing the helm config, is to introduce a global security setting CRD, which could be used to specify the TLS version and cipher list for th

[2019-04-15 19:27] gargnupur commented on #12750
Tests are passing now.. ok to close?

[2019-04-15 20:40] gargnupur commented on #13326
The problem is 2 fold:
First, listentry template accepts a single value and you are trying to provide 2 valid values. Secondly, request.headers["x-forwarded-for"] is parsed as a string and not an array by the language generation parser.
To support your scenario, we would have to extend listentry template to accept a list of valid values and parse request.headers as an ip list.
@kyessenov , @dougla

[2019-04-15 20:42] gargnupur commented on #13283
https://github.com/istio/istio/blob/1588b23e12b845f85e9aedb089288fdf10b75dc0/mixer/adapter/list/list_integration_test.go has an example of specifying overrides for ip list..

[2019-04-15 20:43] howardjohn commented on #11526
New type of failures @john-a-joyce https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/13344/istio-pilot-multicluster-e2e/11064

[2019-04-15 20:52] kyessenov commented on #13326
I'm curious how `request.headers["x-forwarded-for"][0]` got accepted at all, since the parser should not be accepting array accesses.

We've put the work to add string arrays on hold for awhile. Not sure if it fits the code mauve motive. You can use CEL runtime to work with arrays once in 1.2.

[2019-04-15 20:55] howardjohn commented on #13338
This seems to be the same as https://github.com/istio/istio/issues/13176. Please take a look at the discussion there and comment there if you have any more info/questions

[2019-04-15 20:55] #13338 closed

[2019-04-15 21:02] pmcfadden opened #13349 "1.1.1 Sidecars routing all 5432 traffic to single place regardless of hostname used."
**Describe the bug**
We have several RDS databases in AWS (running in the same VPC as our cluster with istio). We noticed after the upgrade that all traffic from inside the cluster to port 5432, regardless of host, ends up at only one of those databases. (even connecting to www.google.com on 5432 ends up at that same db).

**Expected behavior**
Expected to route to the database specified by the DN

[2019-04-15 21:15] esnible commented on #13279
@sdake Can you triage Istio Helm issues and/or assign them to likely implementors?

[2019-04-15 21:36] yangminzhu commented on #12231
/cc @yangminzhu

[2019-04-15 21:52] pitlv2109 opened #13352 "New integration test framework fails with Galley being nil when running in kube env."
Related to this PR https://github.com/istio/istio/pull/13115. When I ran existing tests, e.g `sds_citadel_flow_test.go`, the test failed with error `galley must not be nil`. It ran fine before https://github.com/istio/istio/pull/13115 was merged.

[code]

[2019-04-15 22:33] kyessenov commented on #12773
More items:
- [ ] announce deprecation of old style CRDs
- [ ] make sure new charts do not use old style CRDs
- [ ] update validation tool to work on new style CRDs

[2019-04-15 22:51] howardjohn opened #13354 "Ingress SDS Envoy Seg Fault"
Running with ingressgateway-sds on 1.1.1

Logs:
[code]

@jcetkov

[2019-04-15 22:53] kyessenov commented on #4887
There is a path forward since OOP uses proto descriptors for validation. I'll take a look if this can be moved forward.

[2019-04-15 23:05] howardjohn commented on #13352
Yeah the tests fail in prow anyways which is why they were missed. simple fix, just add `Galley: g` to apps.Config

[2019-04-15 23:07] pitlv2109 commented on #13352
Yes. I have included the fix in #13353. Will close this issue once that PR has been checked in.

[2019-04-15 23:31] msiraj7 commented on #13279
I am accessing it via the ingress gateway. Is support for ingressgateway going to be available?

[2019-04-15 23:33] JimmyCYJ commented on #13354
@howardjohn Do you have core dump file to debug?

[2019-04-15 23:35] jcetkov commented on #13354
@JimmyCYJ if you tell me how to get one, I can try to get it

[2019-04-15 23:35] JimmyCYJ commented on #13354
Seg fault is in ~GrpcMuxWatchImpl(), this might not be limited to SDS, but all subscription service.

[2019-04-15 23:35] howardjohn commented on #12423
Fixed by https://github.com/istio/istio/pull/13214

[2019-04-15 23:35] #12423 closed

[2019-04-15 23:39] JimmyCYJ commented on #13354
core dump is in /etc/istio/proxy/core.envoy.*
envoy binary is in /usr/local/bin/envoy
Could you provide both two?

[2019-04-15 23:40] howardjohn commented on #13354
I suspect it is related to SDS in some way. We have much much more testing of ingress without sds than ingressgateway-sds so I think this would have came up before otherwise

[2019-04-15 23:42] howardjohn opened #13355 "Ingress gateway Envoy Memory/Connections leak"
Running with ingressgateway-sds on 1.1.1

Memory usage grows ~2.5gb over days

envoy stats shows a ton of connections:
[code]

[code]

Config dump doesn't show anything interesting

cc @jcetkov @mandarjog @JimmyCYJ

[2019-04-15 23:44] JimmyCYJ commented on #13354
For testing of ingress without sds, the subscription service is not used.
Envoy uses subscription service to fetch LDS, CDS, RDS, EDS and SDS. GrpcMuxWatchImpl() is in the subscription service stack. My point is this issue might not be limited to SDS, it may affect other ADS. But I need more information to figure out root cause.

[2019-04-15 23:48] howardjohn commented on #13039
The docs you linked are for the Sidecar resource not service entry. The ServiceEntry docs are at https://istio.io/docs/reference/config/networking/v1alpha3/service-entry/#ServiceEntry-Resolution.

Seems like what you want is STATIC?

[2019-04-15 23:57] #13208 closed

[2019-04-16 00:06] howardjohn commented on #13349
@philrud did some work with ExternalName - is this a known issue, Phil?

It would be useful if you could provide the config dump of one of you envoys - localhost:15000/config_dump. If you need to you can filter it to just the listener for port 5432.

[2019-04-16 00:07] JimmyCYJ commented on #13354
@jcetkov Do you have any idea about reproducing this issue? It seems that the seg fault happened when Envoy is terminated.

[2019-04-16 00:09] costinm commented on #13355
What are the connections ? Can you include a sample ? If from external hosts - it's quite normal.

[2019-04-16 00:12] JimmyCYJ commented on #13355
Is the memory usage from ingress-sds or istio-proxy(envoy)? Did you build the ingress-sds image with latest fix (https://github.com/istio/istio/pull/13251)? Without that fix the performance is going down.

[2019-04-16 00:20] howardjohn commented on #13355
Memory usage is from envoy

[2019-04-16 00:27] jcetkov commented on #13354
@JimmyCYJ I was telling @howardjohn I'm unsure this is the cause or result; I see in one cluster the gateway gets restarted ever ~45s and this is tnly interesting part of the logs

[2019-04-16 00:56] diemtvu commented on #12636
No longer needed.

[2019-04-16 00:56] #12636 closed

[2019-04-16 01:03] diemtvu opened #13356 "Authentication v1alpha2"
Tasks for new authentication policy works.

- [ ] API design (TBD: links)

- [ ] Define protos and CRDs needed for new API

- [ ] (Pilot/Galley) Validation

- [ ] (Pilot/Galley) Config store method to retrieve the policy. May include Galley pushConfig

- [ ] (Pilot/Galley) Online conversion from alpha1 to alpha2.

- [ ] (Pilot) Envoy config generation and distribution.

- [ ] (Envoy) New authn fil

[2019-04-16 01:11] yangminzhu commented on #13356
/cc @yangminzhu
The PR for `(Pilot/Galley) Online conversion from alpha1 to alpha2.` (https://github.com/istio/istio/pull/12099) is blocked by some major refactor to galley from Oz.

[2019-04-16 01:27] xiaozhongliu commented on #13326
Thanks for all ur replies.
@kyessenov What's CEL runtime? is there a link to share?
So we can take another way to get it work in istio 1.2 right? Is there any workaround now in 1.0.5 or 1.1.2?

[2019-04-16 02:16] rshriram commented on #13193
@philrud I dont mind undoing #9975 but this whole alias is definitely not the solution as it leaks k8s specific strange external name semantics all over the networking code. Your solution is to fix the k8s service registry code such that if you see an external name service thats backed by an actual k8s service, you copy the ports, and other details from the backing service and create a proper mode

[2019-04-16 02:46] sun-wenming commented on #13315
It solved. It might be an error endpoints.

When I execute
[code]

I found my $MYSERVER endpoint can't get the IP. By this.
`$(kubectl get endpoints $MYSERVER -o jsonpath='{.subsets[0].addresses[0].ip}')`

So I create svc from the command line. ( I modified the pod port to 8889,to difference svc port. )
`kubectl expose deployment newh --port=8888 --target-port=8889`

And it normaled.
[code]

Re-re

[2019-04-16 02:46] #13315 closed

[2019-04-16 03:24] nrjpoddar commented on #12503
This can be closed as 1.1.3 has the fix.

[2019-04-16 03:42] sdake commented on #13162
this was an error in the implementation of stackpoint.io.

[2019-04-16 03:42] #13162 closed

[2019-04-16 05:18] edude03 commented on #13171
@douglas-reid I have not, no. Realistically that's most likely the issue since that was the only change to our setup (other than upgrading to 1.1.1 of course)

That said, if CNI is breaking it, it still needs a proper fix as PSP is needed in our environment so we can't roll out to production until we can use CNI for now.

[2019-04-16 05:30] philrud commented on #13349
Creating "ExternalName"-typed service is not enough/not required to add an external service to the mesh. I'd recommend removing "ExternalName" service if possible – you're looking in the right direction, you need a ServiceEntry (and potentially a VirtualService).

Here's the corresponding docs section on this: https://istio.io/docs/concepts/traffic-management/#service-entries

Hope this helps. If

[2019-04-16 05:59] shakti-das commented on #13201
Closing this issue since the PRs to achieve the required functionality have been merged. Thanks.

[2019-04-16 05:59] #13201 closed

[2019-04-16 08:24] sterchelen opened #13358 "RouteConfiguration rejected due to constraint validation failed on CorsPolicy"
**Describe the bug**
I have cors policy set. When I have two replicas of a gateway deployment, one of them has the following error message:
[code]
The one that has this message is not handling the traffic.

**Expected behavior**
Deprecated configuration should not reject proto constraint.

**Version**
1.1.0

**Installation**
With helm

**Environment**
GKE

[2019-04-16 08:29] dingxiangfei2009 commented on #13051
@howardjohn I did some more test and came back the following results. Both scenarios are run in a freshly created GKE cluster with network policy enabled.

- Enabling CNI breaks access logs.
[code]
`values.yaml`:
[code]
No access logs can be seen in the Stackdriver.

- Delete the cluster and recreate another. Then in the recreated cluster, `istio` without CNI allows access logs.
[code]
`values.yam

[2019-04-16 08:37] dingxiangfei2009 commented on #13171
@douglas-reid I ran two separate tests in two freshly created GKE clusters (Kubernetes 1.12.10) having Istio 1.1.1 installed. One cluster has CNI enabled and another has it disabled. Both clusters had the `bookinfo` sample installed in the `default` namespace with `istio-injection=enabled`.

The Jaeger on the cluster with CNI could only see `istio-ingressgateway` traces, while the Jaeger on the ot

[2019-04-16 08:39] dingxiangfei2009 commented on #13051
Looks like Jaeger stops working with CNI enabled, too (#13171).

[2019-04-16 08:49] Meai opened #15727 "Compile error on GCC >8.1 "clearing an object of non-trivial type""
https://github.com/istio/proxy/blob/master/src/envoy/utils/stats.cc#L39

`memset(&old_stats_, 0, sizeof(old_stats_));`

this doesn't compile on GCC 8.1

[code]

[2019-04-16 09:26] hzxuzhonghu commented on #13334
Some users have asked how to support multi cluster service mesh if using galley , especially when the service and endpoints are propagated from galley.

[2019-04-16 09:32] hzxuzhonghu commented on #13327
I have investigated the gateway-connected multi-cluster model, and I think you can not create two same service in two different clusters.

[2019-04-16 09:36] yuchen9459 commented on #13327
Thanks! If it does not work in the gateway-connected multi-cluster model, is there any other way to implement this?

[2019-04-16 09:39] r3kzi opened #13359 "TCP Gateway only works when i open http port."
**Describe the bug**
TCP `Gateway` only works when i open `http` port.

**Expected behavior**
TCP `Gateway` works without `http` port.

**Steps to reproduce the bug**

Deployment of:

[code]

Test (**no** response of tcp echo `Pod`):

[code]

Add `http` port in `Gateway` and redeploy:

[code]

Test (got response of tcp echo `Pod`):

[code]

**Version**

[code]

[code]

**Installation**

[code]

**

[2019-04-16 10:18] rafik8 opened #13360 "[Install] Support of Kiali deployment in a separate namespace"
**Describe the feature request**
I want to handle the deployment of Kiali in a separate namespace then istio-system without having to update the config map after the installation. For example:
![image](https://user-images.githubusercontent.com/13514337/56201439-ca4d2800-6038-11e9-9ee1-b5adecff4bc1.png)

**Describe alternatives you've considered**
Kiali configmap needs to be updated to point the ri

[2019-04-16 10:18] rafik8 commented on #13360
PR #13134

[2019-04-16 10:20] eperdeme commented on #12777
The issue exists for the 1.1.3 chart, it is the 1.1.0 tars.

[2019-04-16 10:21] 1hanymhajna commented on #13241
any news?

[2019-04-16 10:59] arielb135 commented on #10659
Hi, so eventually i managed to set up mtls successfully for rabbitmq - which means, it can be done with any stateful set.

the main gotchas are:
* Register each stateful pod and its ports as a ServiceEntry
* If a pod uses pod IP - it's a big no, and should use localhost / 127.0.0.1, if not possible - it is require to exclude this port from MTLS
* note that headless services are not participating i

[2019-04-16 11:36] arielb135 commented on #5989
Well, excluding epmd solved the issue, i've written a full description of this here:
https://github.com/arielb135/RabbitMQ-with-istio-MTLS

[2019-04-16 12:09] #6283 closed

[2019-04-16 12:19] hzxuzhonghu opened #13361 "[Split Horizon EDS] should take Network_IstioNetworkGateway.Locality into consideration"
Currently, the locality of the gateway is not used. For locality weighted loadbalancer, it is not right.

[2019-04-16 12:36] jmazzitelli commented on #13360
@rafik8 you could use the new Kiali Operator, it supports this feature via the "namespace" config option. https://www.kiali.io/gettingstarted

[2019-04-16 13:09] #10105 closed

[2019-04-16 13:09] idouba commented on #6070
@frankbu Yes, another set of virtualservice should be ok, but  I only prefer to have One VirtualService for each service, which host all routes of the service for better configuration.

[2019-04-16 13:32] dpeper commented on #7607
It took a couple of changes for me to get the real user's IP. I am running istio behind an EC2 ELB which injects or appends the x-forwarded-for header. Setting `externalTrafficPolicy: Local` doesn't help since you just see the ELB internal IP and not the client IP.

The first step is to recompile pilot so that it sets use_remote_address=false in Envoy. This stops Envoy from inserting its IP into t

[2019-04-16 13:42] esnible commented on #13279
I have been accessing it through `kubectl port-forward`.  This would be a good use of a VirtualService matching /grafana and routing to the grafana service, but I haven't tried that.

[2019-04-16 14:00] rdkr commented on #13138
This, plus `global.controlPlaneSecurityTLSCipherSuites` would work well for our use case, and be similar to the configuration for gateways.

As mentioned above, I don't believe any of the Envoy defaults are known to be weak. The requirement to configure this is mainly governance / regulatory related rather than technical. As an example, TLS 1.0 is deprecated by PCI DSS.

[2019-04-16 14:08] pmcfadden commented on #13349
[config_dump.tar.gz](https://github.com/istio/istio/files/3085204/config_dump.tar.gz)

- I've attached 2 different config dumps as well as the service/serviceentry yamls. The outbound working file is the config where I've applied the serviceentries, then the services. connecting from the pgclient pod (where these configs came from) to both postgres and pg2 works as I had expected, ending up at 2 s

[2019-04-16 14:16] douglas-reid commented on #13171
/cc @howardjohn who has done some testing with CNI on GKE.

Is it possible that something is incorrect with your CNI install?  I know that the one time I tried, I was using outdated instructions and nothing was working (no traffic was going through the proxies).

[2019-04-16 14:19] douglas-reid commented on #13171
@edude03 @dingxiangfei2009 can you confirm that you don't have the issue discussed here: https://github.com/istio/istio/issues/11638#issuecomment-482188415 ?

[2019-04-16 14:22] NilsWild commented on #12828
I fiddled a bit more and realized that there was no service defined for that deployment as soon as i created the service everything works fine. Think this can be closed

[2019-04-16 14:48] howardjohn commented on #13171
Just tested. With CNI I had access logs. I suspect tracing issue is same as access log. Can you run:

[code]

[2019-04-16 15:00] howardjohn commented on #13360
Have you seen https://github.com/istio-ecosystem/istio-installer? This is the new installer we will be using in the future. We have a very similar split namespace setup

[2019-04-16 15:03] howardjohn commented on #13358
@kyessenov is this related to what you were working on with the RuntimeFractionalPercent stuff?

[2019-04-16 15:05] howardjohn commented on #13259
We should create a library in https://github.com/istio-ecosystem/istio-installer using the new installer and access that through istioctl. Making an install command for the current installer isn't a good use of time since we will be using the new installer in 1.2

[2019-04-16 15:09] howardjohn commented on #13280
Pretty sure security tests are not the issue, rather they happen to be the ones to fail because they are run last. See https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/13348/istio-integ-k8s-tests/6845?log#log

I ran only the security tests, and added some more debug statements (shouldn't change anything), and the tests pass.

[2019-04-16 15:16] rafik8 commented on #13360
@jmazzitelli, Thank you for pointing me to that. I want just to add a minimal support to the current Istio Helm chart before having Istio Operator in 1.2. I still also a little bit confused about having a mix of Helm and Operator when handling Istio components but I will definitely adopt Istio Operator when released.
@howardjohn, Yes :). My current works is inspired from Istio Installer. I want to

[2019-04-16 15:21] esnible commented on #13358
@sterchelen Can you attach your Istio rule that caused Envoy to generate this message?  I'd like to use it as a test case to improve Istio validation.

[2019-04-16 15:25] x15zhang opened #13364 "Failed to configure a TLS ingress gateway using SDS"
**Describe the bug**
When I configure a TLS ingress gateway using SDS wither Istio1.1.2.
Ingressgateway pod report warning:
**Warning FailedMount 16s (x6 over 31s) kubelet, 192.168.0.19 MountVolume.SetUp failed for volume “sdsudspath” : hostPath type check failed: /var/run/sds/uds_path is not a socket file**

**Version**
kubernetes v1.11.7

[2019-04-16 15:25] arianmotamedi commented on #9113
@TonyJDavies @emedina Istio [1.1.3](https://istio.io/about/notes/1.1.3/) has been released, and it includes `idle_timeout` as a [destination rule setting](https://istio.io/docs/reference/config/networking/v1alpha3/destination-rule/#ConnectionPoolSettings-HTTPSettings) as discussed. Please go ahead and give it a shot, and let us know if it helps reduce the number of 503s in your cluster. I suggest

[2019-04-16 15:25] msiraj7 commented on #13279
Gateway:
[code]

[2019-04-16 15:26] x15zhang commented on #13364
@YangminZhu @Quanjie_Lin

[2019-04-16 15:27] jmazzitelli commented on #13360
:) This is basically the same question I had when I posted this: https://discuss.istio.io/t/how-will-operators-be-integrated-into-the-helm-charts/1899/4

I don't think helm and operators mix nicely today.

[2019-04-16 15:28] emedina commented on #9113
@arianmotamedi Does this replace the workaround specified by @Stono in #12183?

[2019-04-16 15:35] frankbu commented on #13211
Fixed by #13351

Doc also improved to mention `namespace/` syntax: https://github.com/istio/api/pull/901

[2019-04-16 15:35] #13211 closed

[2019-04-16 15:36] Stono commented on #7136
They don't prevent it, they just delay it?

[2019-04-16 15:36] ramaraochavali commented on #10659
I did try registering each stateful pod as a ServiceEntry. But it did not create the necessary clusters/listeners in Istio 1.1.2. Which version of Istio did you try this with?

[2019-04-16 15:37] Stono commented on #9113
1.1.3 isn't released yet according to GitHub.

On Tue, 16 Apr 2019, 4:29 pm Enrique Medina Montenegro, <
notifications@github.com> wrote:

[2019-04-16 15:40] arianmotamedi commented on #9113
@Stono it's tagged in github, and https://istio.io/ defaults to `Download 1.1.3` 🤔

[2019-04-16 15:44] esnible commented on #13180
It looks like there is already a PR for almost exactly the same thing: https://github.com/istio/istio/pull/13277

[2019-04-16 15:47] jwendell commented on #13180
@esnible yep. My intention after this PR gets merged is to make istioctl subcommands more modular so that we can selectively choose what subcommands we want to expose rather than have all of them in a single `GetRootCmd()`

[2019-04-16 15:53] esnible commented on #13180
@jwendell After your PR gets merged we will be able to write a great deal more testing, to get code coverage up.  I have a PR that is blocked because of code coverage, and there is no way to increase the code coverage until your PR is merged.

[2019-04-16 16:02] arianmotamedi commented on #9113
@emedina looks like the only thing done as part of https://github.com/istio/istio/issues/12183 is preStop hooks. That won't help with cases where upstream closes a connection but Envoy keeps it alive, so the next request immediately causes a 503 (https://github.com/envoyproxy/envoy/issues/6190, which looks like was merged yesterday, so should be fixed in the next version of Envoy). This idle timeo

[2019-04-16 16:08] 2ZZ commented on #12572
I'm also having this problem on 1.1.2 deployed to EKS

For example, connecting from a pod to a mysql service in the same namespace using netcat normally outputs gibberish showing the MySQL version, but with istio enabled and sidecar running in both pods a connection is established but no traffic seems to be passing.
[code]

[2019-04-16 16:12] howardjohn commented on #10956
Helm has a `helm lint` specific to helm that may be useful as well.

[2019-04-16 16:16] #13352 closed

[2019-04-16 16:16] erezzarum opened #13365 "No assets for release 1.1.3"
There is no "compiled" release for 1.1.3.
Command below as mentioned in the documents will fail:
[code]

[2019-04-16 16:23] emedina commented on #9113
@arianmotamedi So we actually need to combine them :-)

I will try to provide feedback ASAP on 1.1.3 then.

[2019-04-16 16:29] Stono commented on #9113
Click it, there are no artefacts.
This happens quite a lot, a pre release ends up on GitHub causing confusion

On Tue, 16 Apr 2019, 5:24 pm Enrique Medina Montenegro, <
notifications@github.com> wrote:

[2019-04-16 16:30] GregHanson commented on #13365
@erezzarum please use `1.1.2` for the version.  1.1.3 is still marked as a draft: https://github.com/istio/istio/releases

[2019-04-16 16:30] arianmotamedi commented on #9113
Ah, gotcha. Ok well I guess we'll keep waiting then 😁

[2019-04-16 16:47] erezzarum commented on #13365
@GregHanson New users trying to install Istio for the first time will not be able to do so as the documents in the official site are updated to 1.1.3 as well as an official announcement in the Blog.
https://istio.io/blog/2019/announcing-1.1.3/

[2019-04-16 16:52] kyessenov commented on #13358
1.1.3 has a patch to avoid using the deprecated field in Envoy. Although, I'm not sure how you ended up with 1.0.0 istio and a recent envoy in your set-up. I think the recommendation is to use a released version of istio,e.g. 1.1.3.

[2019-04-16 16:54] valarauca commented on #13039
@howardjohn Thanks for the reply. Is there any chance of this regression being addressed?

I did not develop the automation which generates the `ServiceEntry` YAML files we use for encapsulating our cluster(s), and I'd prefer not to change them.

I can give the `STATIC` route a try with our working `v1.0.6` (and `v1.0.7`) automation to see if it triggers a regression against our known good configu

[2019-04-16 17:01] howardjohn commented on #13166
Just found this today - https://github.com/istio/istio/issues/6324. There is alot of discussion around this there (although there doesn't seem to be a great solution yet). I am going to close this as it is a duplicate of that issue

[2019-04-16 17:01] #13166 closed

[2019-04-16 17:09] sterchelen commented on #13358
@kyessenov, where do you see that I'm running two versions of istio?

[2019-04-16 17:21] geeknoid commented on #13365
The bits have been published, we should be all set now.

[2019-04-16 17:21] #13365 closed

[2019-04-16 17:28] howardjohn commented on #13280
I am almost certain the issue is with the new locality LB tests recently added. Supporting evidence:

* Failures started around when locality test was added
* Every test that runs after locality test fails, every test before it passes
* Tests pass with locality disabled: https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/13348/istio-integ-k8s-tests/6847/
* Tests fail with

[2019-04-16 17:45] #12828 closed

[2019-04-16 17:50] costinm opened #14167 "CA and auth setup improvements"
1. Default to 'provisioned cert', use the tool to generate the root and upload it - for consistency
and to make multi-cluster setup easier. This will eliminate some options and simplify the templates.
2. Extend the tooling to generate a .CRT and .PFX file that can be imported in browsers
3.  Switch grafana/prom/etc access via gateway to use client certs and istio-based RBAC, using the generate CRT

[2019-04-16 17:59] frankbu commented on #11203
Fixed in https://github.com/istio/api/pull/901

[2019-04-16 17:59] #11203 closed

[2019-04-16 18:12] #12790 closed

[2019-04-16 18:23] Tushar120120 opened #13366 "Istio Pilot's Discovery container is not ready in Istio 1.1.2 and 1.1.3"
**Describe the bug**
Installed Istio with helm on a hosted K8 cluster comprising 2 worker node and 1 master node running on ubuntu(CNI used is calico)

Found similar issues in git, but not much of help

**kubectl logs -n istio-system istio-pilot-7d57d987bb-c7j8t discovery | grep error**
2019-04-16T17:51:05.872407ZerrormcpError receiving MCP response: rpc error: code = Unavailable desc = transort i

[2019-04-16 19:15] kyessenov commented on #13326
CEL is a common expression language https://github.com/google/cel-spec/blob/master/doc/langdef.md. It supports arbitrary protobufs. It's included in master as an opt-in option using `policy.istio.io/lang: CEL` annotation on rules, instances, and handlers.

However, we still need string processing functions to handle headers. I think we want an expression of the form: `split(request.headers["x-forw

[2019-04-16 19:18] 2ZZ opened #13371 "TCP connectivity is not working correctly through a service unless the port name is `tcp` or is prefixed with `tcp-`"
**Describe the bug**
TCP connectivity is not working correctly through a service unless the port name is `tcp` or is prefixed with `tcp-`. The documentation states that a port name without a prefix will be treated as plain TCP but that doesn't seem to be the case.

https://istio.io/help/faq/traffic-management/#naming-port-convention

**Expected behavior**
Services with unknown port names to be beh

[2019-04-16 19:26] costinm opened #14159 "Switch the 'stability' tests to the new installer"
The stability cluster should run both an 'istio-system-1.1' and master on new installer.

We should have workloads pointing to both istio-system and istio-control.

We should have at least 2 environments - maybe one set as 'default autoinject'

[2019-04-16 19:44] jcetkov commented on #13354
It looks the root cause of this is misbehaving `citadel`:
I can see the ro mount with the certs get updated every minute
[code]
while citadel constantly logs
[code]
(hundred times a minute)

[2019-04-16 20:00] howardjohn opened #13372 "istio-pilot-multicluster-e2e kube inject fails"
Example failure: https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/13368/istio-pilot-multicluster-e2e/11105?log#log

[code]

[2019-04-16 20:09] #9982 closed

[2019-04-16 20:21] leecalcote commented on #12896
@howardjohn we're running through the list of UX issues for 1.2. In considering this issue for inclusion, it'd be good to know if you've taken action on it, yet, or not. Could you provide status?

[2019-04-16 20:24] leecalcote commented on #12703
@esnible @linsun showing both by default resonates with me. The proposed new experience here is akin to that of kubectl, which is familiar to most users.

[2019-04-16 20:42] #13280 closed

[2019-04-16 21:18] markmssd commented on #9504
Seems to be fixed in `v1.1.3` (https://istio.io/about/notes/1.1.3) 🎉

[2019-04-16 21:18] incfly opened #13373 "Add E2E test for mesh expansion using new testing framework."
Mesh expansion does not have proper test coverage, we need to write an E2E test under the new test framework. This is essential to ensure follow-up mesh expansion related work does not break it.

We used to have some preliminary test written using old testing framework. It has been disabled due to the GCE instance can't be `ssh` into. I figured out the reason is because testing pods are running as

[2019-04-16 21:40] howardjohn commented on #12896
@leecalcote No work has been done on this

[2019-04-16 22:09] #5311 closed

[2019-04-16 23:09] sdake opened #13382 "2 of the 5 individuals in the TLD OWNERS file are rejected by the /assign bot"
**Describe the feature request**
using the /assign feature on a PR or issue does not result in the issue being assigned to either @linsun nor @rshriram.  Fix that problem.

**Describe alternatives you've considered**
expand the `OWNERS` file such that there is appropriate coverage for top level file changes.

**Additional context**
See this PR for a stalled code mauve review:
https://github.com/is

[2019-04-16 23:13] kyessenov commented on #13382
@rshriram please unblock @istio-testing bot in github. The bot cannot see you in github API because it's blocked.

[2019-04-16 23:16] lei-tang commented on #13354
The problem of certs getting updated every minute is caused by the race condition of two Citadels.
The recommended Citadel deployment is one replica of Citadel. When the Citadel dies, k8s will automatically restart it based on the Citadel deployment. The certificate TTL is 24 hours and the grace period is 12 hours. So one Citadel, as opposed to two Citadels, is a simpler solution and still provide

[2019-04-16 23:17] pitlv2109 commented on #13373
/cc @pitlv2109

[2019-04-16 23:17] lei-tang commented on #13354
The issue is closed for now as it is confirmed that scaling down Citadel stopped the ingress gateway restarts.

[2019-04-16 23:17] #13354 closed

[2019-04-16 23:17] pitlv2109 commented on #13356
/cc @pitlv2109

[2019-04-16 23:18] JimmyCYJ opened #13383 "Add config validation for Citadel deployment."
**Describe the feature request**
This is motivated by https://github.com/istio/istio/issues/13354, where there are two Citadels running in one cluster, and those two Citadels are not properly configured which causes a race condition. One Citadel keeps overwriting workload certificates generated by the other, and vise versa.

To avoid such kind of issue, we could enhance our config validation at Ga

[2019-04-16 23:20] jcetkov commented on #13354
it might be appropriate to modify the helm charts not to allow setting the `security` replica count via variable, if such case is really not supported and results in hard to trace issues.

[2019-04-16 23:23] lei-tang commented on #13354
@jcetkov That is a good idea. I will have added your comment to the issue https://github.com/istio/istio/issues/13383.

[2019-04-16 23:25] sdake commented on #13360
The way I think of Helm and operators is that we simply use helm as a templating engine and distribution mechanism.  If we could remove it from the system entirely via some other mechanism, I'd support that model.

The istio operator is meant to handle the condition where human operators don't want to run through all of the various commands to deploy @costinm 's work.

Cheers
-steve

[2019-04-16 23:29] sdake commented on #13321
@DragonSuper at this time, ARM64 is not a supported platform for Istio.  Your welcome to try to build it yourself following the developer guide:
https://github.com/istio/istio/wiki/Dev-Guide

The Istio project would need gating with ARM hardware to effectively release ARM64 containers.

[2019-04-16 23:32] howardjohn commented on #13371
I was able to reproduce this issue with Istio 1.1.3

[2019-04-16 23:35] sdake commented on #13219
@tvieira thanks for the debug analysis.

Thanks @ericvn for the PR.

Is any further work here required?

[2019-04-17 00:06] incfly commented on #13323
If the slowness comes from istio profile install in each test, instead of spawning GKE cluster, switching to a lightweight k8s cluster implementation does not seem help.

Instead, we can look into if the tests are able to reuse the same Istio installation, and use different per deployment annotation, or focused scope CRD to speed up.

[2019-04-17 00:10] howardjohn commented on #13323
True it will probably not make the istio install faster. We can run the tests in parallel though, which could speed things up.

[2019-04-17 00:12] incfly commented on #13323
By run tests in parallel, you mean we spawn up many KinD cluster instances, and each for an Istio installation and test suite?

[2019-04-17 00:15] howardjohn commented on #13323
That is the idea. This is an experiment though, definitely not going to turn this on in the test right now/ever.

I have gotten kind+istio deployed in ~2min btw, it is pretty quick

[2019-04-17 00:17] pitlv2109 opened #13385 "linter crashes due to segfault"
When running `make lint` or `bin/linters.sh -s HEAD^`, the linter crashes with a `SIGSEGV`

[code]

**How to reproduce?**
Sync to `master`, then run `make lint` or `bin/linters.sh -s HEAD^`

Update: seems to happen only on gLinux, but not macOS.

[2019-04-17 00:18] pitlv2109 commented on #13385
/asign @utka
Feel free to re-assign it to someone else, Maria. Thank you!

[2019-04-17 00:22] howardjohn commented on #13008
[code]

`istioctl pc clusters` shows no wikipedia entry.

But, we change it to the interfering with traffic like in description

[code]

And now I see routing to wikipedia and httpbin.

`istioctl pc clusters` shows:
[code]

Seems to be a clear bug. @costinm

[2019-04-17 00:32] JimmyCYJ commented on #13364
This seems to be a UDS path config issue rather than ingress gateway SDS behavior issue. @quanjielin might has more context about UDS path setup.

[2019-04-17 00:52] howardjohn opened #13386 "PILOT_ENABLE_FALLTHROUGH_ROUTE doesn't work for https"
The problem seems to be external traffic over https when you have mtls enabled. If you have mtls not enabled http and https work. With mtls enabled only http works.

[code]

[2019-04-17 01:08] howardjohn commented on #13385
Can't reproduce.  Is there more to the crash? stack track?

[2019-04-17 01:09] #13285 closed

[2019-04-17 01:11] howardjohn commented on #12900
More than just spammy, seems to be doing a lot it shouldn't do
[code]

It shouldn't be linting `.git`. And when it does find errors, shouldn't it fail?

[2019-04-17 01:33] springrain commented on #12952
This problem still exists in version 1.1.3

[2019-04-17 01:36] tvieira commented on #13219
@sdake all good! The #13256 fixed it.

[2019-04-17 01:36] #13219 closed

[2019-04-17 01:39] howardjohn commented on #13386
Actually my assesment was wrong. Cause is a VS like:
[code]

creates a listener on 443 which does send to the `route_config_name` which is where we add the fallthrough route

[2019-04-17 01:51] hzxuzhonghu commented on #13008
Isn't this expected, pilot merges the two service entries?

[2019-04-17 01:53] howardjohn commented on #13008
No we should not get services from other namespaces if we have Sidecar, for all the reasons mentioned in the issue.

[2019-04-17 02:08] springrain opened #13387 "http"
**Bug description**

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version`)**

**How was Istio installed?**

**Environment where bug was observed (cloud vendor, OS, etc)**

Additionally, please consider attaching a [cluster state archive](http://istio.io/help/bugs/#generating-a-cluster-state-archive) by attaching
t

[2019-04-17 02:08] #13387 closed

[2019-04-17 02:19] rshriram commented on #13382
is there a way to delete the spam it generates?

[2019-04-17 02:21] springrain opened #13388 "outboundTrafficPolicy : ALLOW_ANY but I can access to external url"
**Bug description**
I setup istio version 1.1.3 with default config:
outboundTrafficPolicy:
    mode: ALLOW_ANY
I call wget http://httpbin.org/ in a pod injected sidecar but it return wget: server returned error: HTTP/1.1 404 Not Found

**Expected behavior**
wget success get data from url
**Steps to reproduce the bug**
I cleanup istio 1.1.2 and setup istio version 1.1.3, deploy a pod in injected s

[2019-04-17 02:49] icowan commented on #6283
问题依旧在

[2019-04-17 03:05] irisdingbj commented on #13260
start to work on this

[2019-04-17 05:05] dingxiangfei2009 commented on #13171
The CNI `daemonset` is running.

`kubectl get daemonset -n istio-system` produces the following.
[code]

`kubectl describe pod -l app=productpage` produces the following.
[code]

Also, `kubectl describe pod <one-of-istio-cni-node> -n istio-system` produces this.
[code]

[2019-04-17 05:30] dingxiangfei2009 commented on #13171
@howardjohn How did you set up the GKE test cluster? Are the tests running on a freshly created cluster?

My installation instruction is described in #13051, which is mostly taken from https://istio.io/docs/setup/kubernetes/additional-setup/cni/ and https://preliminary.istio.io/docs/setup/kubernetes/install/helm/, with `helm template` exclusively. I am not installing the Istio provided by Google.

[2019-04-17 05:34] pitlv2109 opened #13390 "Integration tests failed with "no matching pod found for selectors" in presubmit"
https://circleci.com/gh/istio/istio/388990?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link failed with `Failed retrieving pods: no matching pod found for selectors: [app=a version=v1]`

Search for `TestMutualTlsReachability` or `TestRBACV2`. These tests are set with Presubmit label in a WIP PR (https://github.com/istio/istio/pull/13384) and are using `GetAppOrFai

[2019-04-17 05:53] liamawhite commented on #10967
@liminw Not fully aware of the context for this but it seems like this solved by locality prioritized load balancing. Just requires users to set outlier detection and retries?

[2019-04-17 06:42] Alxandr commented on #13321
What do you mean "gating with ARM hardware"?

[2019-04-17 07:19] erikwilson commented on #12823
autoscaling/v2beta1 was enabled as a work-around for istio.

Interestingly tho, on Kubernetes v1.10.11 bundled with Docker Desktop 2.0.0.3 for macOS api-versions shows only autoscaling/v2beta1.

[2019-04-17 07:52] foshantiger opened #13391 "mixer-based tracing with zipkin adapter doesn't work properly with 1.1.2"
**Bug description**
I try to use the zipkin adapter to customized the span format with bookinfo example, but can't get the right trace spans(show below), also the istio-ingressgateway span not showed.
Istio was installed with helm install. To disable the envoy-based tracing, I set the global.enableTracing to false in the values.yaml and tried to remove the --zipkinAddress config from sidecar-injec

[2019-04-17 09:09] #10545 closed

[2019-04-17 09:29] dwdraju opened #13393 "Call istio enabled container service from another namespace without istio"
**Bug description**
I am trying to call the service running on `default` namespace which is istio tls enabled from another namespace `test` which is non istio. But failed to reach

**Expected behavior**
I can reach another namespace(istio not enabled) service through `test` but can't reach services running on `default`
**Steps to reproduce the bug**
Call service from non-istio enabled namespace to

[2019-04-17 09:43] zoltrain opened #13394 "TCP connections issues using golang net.textproto"
**Some TCP services don't work when the sidecar is injected**

**TCP services that work through kube-proxy should work with the sidecar enabled**

**The problem**
We have Mailhog installed in our staging environment to test email, when we enable the sidecar on this container email stops working, as in our golang services can no longer send SMTP commands to the server. If we disable the sidecar the

[2019-04-17 09:45] 2ZZ commented on #9504
1.1.3 also fixed it for me

[2019-04-17 11:28] arielb135 commented on #10659
i'm using istio 1.0.
Can you please describe what are your errors? does rabbit crash with the epmd error? if so - you'll have to exclude this port from the **headless service** as i'm stating in my article:

for example:
[code]

[2019-04-17 11:33] ramaraochavali commented on #10659
I am trying a simple TCP and Http Service not the rabbitMQ directly. I am creating a service entry as shown below
[code]
and I am creating service as shown below
[code]
I am not using mTLS. With this I am expecting clusters to be created for the `ServiceEntry` - but it is not.  Could it be Istio version difference?

[2019-04-17 11:37] arielb135 commented on #10659
What error do you get?
also - is this image accessible from a public repository? i can try to run the same configuration myself and let you know.

[2019-04-17 12:11] jkbschmid commented on #12122
The problem with `istioctl` is addressed with PR #13395

[2019-04-17 12:17] arielb135 commented on #6828
Something that puzzles me and would love explanation if you have one,
i've excluded the epmd from the **headless service**, everything works.
When running and checking one of the rabbit pods:
`istioctl authn tls-check carabbitmq-0.arielrabbit`
i see that there's indeed mtls connection to port 4369 from the pod to itself (and to other pods in the cluster):

but to the headless service (carabbitmq-d

[2019-04-17 13:34] esnible commented on #13393
mTLS is a security feature.  Only pods participating in mTLS can talk to your mTLS pods.

If you must have mTLS between pods AND also allow non-Istio pods to access your services using plaintext HTTP you can use PERMISSIVE MODE.  https://istio.io/docs/concepts/security/#permissive-mode

[2019-04-17 13:36] esnible commented on #13388
Closing as a duplicate of https://github.com/istio/istio/issues/12952

[2019-04-17 13:36] #13388 closed

[2019-04-17 13:39] gdhagger commented on #9504
Still seeing this issue with 1.1.3 on GKE v1.12.7-gke.7

[2019-04-17 13:40] #13116 closed

[2019-04-17 13:45] vsquare1 opened #13397 "Private Docker Registry - sidecar pull issue"
Hello-
I have pushed all the istio required docker images to our private registry and successfully running all the pods in my eks cluster.

I have enabled the namespace with automatic istio-injection and deployed my application using helm. The istio proxy images is pointing to my private registry but the the proxyv2 is still pointing to the docker.io.

How do i change that to point to private regi

[2019-04-17 14:00] akashrv commented on #13193
Any updates on this one? @rshriram, @philrud Does the explanation I gave above makes sense? Please let me know if you need any more info.

[2019-04-17 14:00] howels commented on #1430
Envoy appears to have UDP support. Is the integration of UDP into Istio being tracked anywhere?

https://github.com/envoyproxy/envoy/pull/5108

[2019-04-17 14:04] ramaraochavali commented on #10659
I do not get any error. It just does not create the required clusters/listeners. The image is not accessible in public but it is a simple hello world http app - You can use this `strm/helloworld-http` (https://hub.docker.com/r/strm/helloworld-http) and try. Thanks for trying.

[2019-04-17 14:09] vsquare1 commented on #13397
I fixed the issue by editing the configmap.

kubectl edit configmap istio-sidecar-injector  -n istio-system

[2019-04-17 14:09] #13397 closed

[2019-04-17 14:30] kevchu3 opened #13398 "Segmentation fault and budget exhausted"
**Bug description**
I left a handful of application pods with istio-proxy sidecars running for a few days, and the istio-proxy containers had all thrown segmentation faults at different times. One thing that I noticed was that the app node that hosted these pods was at 85% disk space used on /var/lib/docker while another app node without disk space issues that hosted another set of pods with istio

[2019-04-17 15:02] howardjohn commented on #13171
Ok so the problem isn't tracing or logging, this is a CNI is not creating iptables issue. Thanks for the debugging. When you set up your GKE cluster did you enable network policy? This looks like a little checkmark in the advanced settings that says "Enable network policy" if you use the UI. This is required for CNI.

The other thing for GKE is you need to set `--set cniBinDir=/home/kubernetes/bin

[2019-04-17 15:02] howardjohn commented on #13051
Closing this in favor of https://github.com/istio/istio/issues/13171 which is the same issue

[2019-04-17 15:02] #13051 closed

[2019-04-17 15:06] arielb135 commented on #10659
I think you're missing the headless service (which is responsible in giving the pods their unique ips.
you've created a regular service that gives all pods one DNS to be redirected to.

could you try to create a headless service aswell (clusterIP: None)
[code]

Then, create the service entry according to the headless service, if i'm not mistaken:
[code]

[2019-04-17 16:01] frankbu commented on #13267
@mbanikazemi Do you have a PR for this coming soon? It seems like a pretty nasty problem that shouldn't need to wait for 1.2.

I think the best fix for this is to check and make sure not to add duplicate vhosts, probably in [this loop](https://github.com/istio/istio/blob/bf94d79388b47959a2ce2d3212ba59f682dd2e11/pilot/pkg/networking/core/v1alpha3/httproute.go#L167). Log a message when a duplicate i

[2019-04-17 16:23] nmittler commented on #13390
I suspect it's related to https://github.com/istio/istio/commit/bb90fed4ebada6f8fc7b9d5d26a89b306892b3af

@howardjohn can you confirm?

[2019-04-17 16:24] sdake opened #13400 "Environments WG 1.2 Feature and Code Mauve Epic"
Last reviewed at edit date.

These are features and code mauve wok planned in the Environments workgroup.  Focusing on these items is our priority.  Folks are free to submit work unrelated to these items.  We can consider altering the Epic features over time.

(P0) Code Mauve:
- stability testing for multi cluster and mesh expansion
- Load balancing with locality (howardjohn)
- More automated stab

[2019-04-17 16:26] pitlv2109 commented on #13385
I can't reproduce it on my MacBook last night either, but it happens again on gLinux.

Here is the logs:

[code]

[2019-04-17 16:37] howardjohn commented on #13390
It's possible. Why fail only on circle though and and not prow? Easy check is to get logs from injector. I got pulled into some high priority bugs so won't get much time to look into this if you have a chance to dig deeper Phillip. If it's relayed to the injector I am pretty sure it will show an error in the logs of the injector

[2019-04-17 16:46] howardjohn commented on #13372
Very likely related to https://github.com/istio/istio/commit/bb90fed4ebada6f8fc7b9d5d26a89b306892b3af but haven't dug into it yet

[2019-04-17 16:47] arianmotamedi commented on #9113
Ok looks like it's really released this time.

[2019-04-17 16:48] JimmyCYJ commented on #13197
Confirmed with @jcetkov that the problem is fixed. I am going to close this issue.

[2019-04-17 16:48] #13197 closed

[2019-04-17 16:48] kish3007 commented on #8029
@vadimeisenbergibm is there a different approach we can take to get the HTTP metrics for tls enabled applications?

[2019-04-17 16:51] zimmertr commented on #9113
503s are gone for me.

[2019-04-17 16:51] pitlv2109 commented on #13390
It's not that urgent, you can take a look later when you have time. This is not blocking anything, at least for this week's planning. Thanks, John.

[2019-04-17 16:55] jaygorrell commented on #9113
@zimmertr just to confirm, that's by setting an idle timeout in 1.1.3?

[2019-04-17 17:00] dingxiangfei2009 commented on #13171
@howardjohn Yes, network policy is enabled according to `gcloud container clusters describe`:
[code]

Also, I have `--set cniBinDir=/home/kubernetes/bin` in `helm template`. Logs from the pods in the `istio-cni-node` `DaemonSet` can confirm that this setting is in effect.
[code]
I have `ssh`ed into the instances, and in each of the instances `istio-cni` has been placed in `/home/kubernetes/bin` fo

[2019-04-17 17:07] zimmertr commented on #9113
Sporadic 503 responses to curl simply disappeared after I upgraded from 1.1.2 to 1.1.3 without any further action.

[2019-04-17 17:16] dbyron0 commented on #9113
@zimmertr Sorry if this info is elsewhere...I'm having a hard time keeping track of all the places.

Did you make any other changes when upgrading from 1.0.x to 1.1.2?

Thanks much.

[2019-04-17 17:26] arianmotamedi commented on #13330
@howardjohn correct me if I'm wrong but I think this needs to be a feature request for https://github.com/envoyproxy/envoy since right now it only supports mirroring traffic to [only one extra host](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#route-routeaction-requestmirrorpolicy), and Istio's `HTTPRoute.Mirror` simply generates a mapping to Envoy's `Route.RouteActi

[2019-04-17 17:32] howardjohn commented on #13008
Think I know what is happening. First we get all of the services exposed to the sidecar. Then, for each service, we look up instances by hostname. At this point, we can pull in entries from other namespaces.
 See: https://github.com/istio/istio/blob/fdd6444d166e1c12e6ab48cffae8110b64ea26e6/pilot/pkg/networking/core/v1alpha3/cluster.go#L313

Seems like we would need pretty substantial changes in or

[2019-04-17 17:51] incfly commented on #13323
Another alternative can be claiming multiple prow cluster from beginning
and assign one to each test. This allows parallelism as well.

Just for brainstorming.

On Tue, Apr 16, 2019 at 5:15 PM John Howard <notifications@github.com>
wrote:

[2019-04-17 18:57] dwradcliffe opened #13402 "Pilot does not remove old endpoints from Envoy"
**Bug description**
Repeat of https://github.com/istio/istio/issues/9480
The bug was fixed (https://github.com/istio/istio/pull/9805) on 1.0 branch and never made it to 1.1 branch. 😞

TL;DR: Endpoints are removed from k8s but never removed from envoy.

**Expected behavior**
Endpoints should be removed from envoy very quickly after they are removed from k8s.

**Steps to reproduce the bug**
Run hell

[2019-04-17 19:12] philrud commented on #13193
@rshriram of course primary reason behind my PR is an attempt to address the issue in the least intrusive way for a minor release. Not sure if we can justify a bigger refactoring considering "Code Mauve" effort. @costinm, thoughts?

I can look into creating a "real" Service for each alias, but the benefits of this approach aren't clear to me. This is merely a DNS alias, why don't we want to handle

[2019-04-17 19:20] frankbu commented on #12237
At a minimum, every sidecar resource currently needs to have at least a host like `- "istio-system/*"` as one of the egress hosts or the proxy just won't work. Seems that disabling egress to control plane components (pilot/etc.) is not something that should be configurable, because it's required for Istio to work.

Seems to me that a sidecar should only be configuring the application egress separa

[2019-04-17 19:37] Stono commented on #13402
I'm pretty worried about the fact we're not porting bug fixes across branches, resulting in regressions during upgrades.

[2019-04-17 20:46] frankbu commented on #11131
I just tried on istio 1.1.3 to put the bookinfo gateway into the `istio-system` namespace and kept the virtual service in `default` with `istio-system/` in front of the gateway name. It works fine, but Kiali does report an error. Kiali doesn't seem to have been updated to understand the `namespace/` syntax.

[2019-04-17 20:48] frankbu commented on #11131
Add `area/policies and telemetry` label since it's a Kiali bug.

[2019-04-17 20:57] andrewjjenkins commented on #12551
@adamglt Sorry, while we discussed some options at the networking meeting the challenge is that there's a growing emphasis on quality and this bug happens to be in the middle of some stuff that everyone is hesitant to change.

@costinm - you suggested maybe there's a way the Sidecar resource could fix this problem.  I didn't see any but please let us know if there is a way.  (That would require up

[2019-04-17 21:14] rshriram commented on #13008
Few things:
 1. you can restrict the visibility of a service entry by declaring the service entry's `exportTo: '.'` . This will ensure that the service entry is visible only in the declaring namespace and not in others.
 2. Even when you do this exportTo stuff, you cannot have two service entries in the system with the same host. This is equivalent to having two google.coms in the service registry

[2019-04-17 21:15] costinm opened #14158 "Review ClusterRoles for all components"
- Pilot appears to have read access to all cluster Secrets - not aware of any need for this.
Only Citadel should have access to cluster-wide Secrets, nothing else.
- probably other components also have too broad access, which is a security issue ( escalation )

[2019-04-17 23:58] kyessenov opened #13408 "istioctl validate does not parse namespace from input files"
Running istioctl validate on YAMLs with namespaces shows that the namespace field is ignored.

[2019-04-18 00:22] incfly commented on #13385
+1 on a gLinux data point.

bisect may be good enough to find the culprit.

[2019-04-18 00:29] hobbytp commented on #12855
I meet the same problem when I try to upgrade between 2 istio-init version 1.1.3  with little changing in the 2nd istio-init values.yaml file.

[2019-04-18 00:30] jmazzitelli commented on #11131
cc @lucasponce

[2019-04-18 00:59] walkerline commented on #9504
still seeing the issue in 1.1.3

[2019-04-18 01:10] nicktrav opened #13412 "Pilot panics when pairing with a remote cluster"
**Bug description**

Pilot crashes when attempting to pair a control plane cluster with a remote cluster after correcting a previously bad remote cluster configuration.

This sounded similar to #12376, which was marked as fixed by #12377, but this is still happening on Pilot versions built from latest master.

**Expected behavior**

Pilot should not panic in the case of applying a working configur

[2019-04-18 01:30] hzxuzhonghu commented on #8306
/remove stale

[2019-04-18 01:49] jaygorrell commented on #10703
Not stale.

[2019-04-18 01:52] DragonSuper commented on #13321
Hi，My K8s runs  in the arm64 platform。I want to use istio。
But Docker Hub doesn't have any docker mirror images。
If istio works properly in ARM64 platform， i will compile the source code manually to generate arm64 docker image。
I just want to make sure，I don't want to fool around。

[2019-04-18 04:12] #8354 closed

[2019-04-18 04:23] gugahoi commented on #8231
Would love to understand what is the conclusion here. I have just booted up a GKE cluster with Istio enabled via the GCP console and I observe the same 6 months later. Is there a way to address this?

[2019-04-18 04:38] nrjpoddar commented on #12237
@frankbu totally agree with you. Doesn’t make much sense to force users to add the same egress rules in every Sidecar resource.

[2019-04-18 04:46] ramaraochavali commented on #10659
Ok. Thank you. I also tested with the actual names. The proxy status says
[code]

But still I am not able to hit the individual stateful POD from one of the containers as ` curl hello-0.hello.hello.svc.cluster.local:7024` - Were are you able hit individual pods and get the response?
If possible can you please share the output of
`istioctl proxy-config clusters hello-0.hello` ?

[2019-04-18 04:52] ramaraochavali commented on #10659
BTW, for me I just see the headless service has one both inbound and outbound(ORIGINAL_DST) cluster. But I do not see any thing being created for the `ServiceEntry` - I am expecting some clusters are created out of the `ServiceEntry` definition so that it can actually route to individual nodes.

[2019-04-18 05:11] ramaraochavali commented on #10659
I also tried this simple example creating `ServiceEntry` as commented by @howardjohn https://github.com/istio/istio/issues/13008#issuecomment-483890625 here - And I do not see outbound cluster being created similar to what is being seen there.

[2019-04-18 06:41] incfly opened #13414 "Revive setupMeshEx.sh automation"
**Describe the feature request**
Today mesh expansion doc is 100% manual work, which is error-prone. This causes each developer maintains their own bash automation, very sub-optimal and waste of duplicated work.

We used to have some automation bash script.  https://github.com/istio/istio/blob/master/install/tools/setupMeshEx.sh

This script now is out of dated with current implementation. But it'

[2019-04-18 07:29] holgero commented on #12122
@sdake should we set the Milestone 1.2 on the above pr #13395 ?

[2019-04-18 08:41] viktorpeacock opened #13415 "Logs missing after new ISTIO installation"
**Bug description**
We are in a process of adopting ISTIO and have recently upgraded to ISTIO 1.1.2 from 1.0.6. Once we upgraded, the ingress and envoy proxy logs do not display incoming requests, even though traffic is being routed correctly to the pods.

**Expected behavior**
Ingress and envoy logs appear for all the incoming requests that reach ingress and envoy proxies.

**Steps to reproduce t

[2019-04-18 08:44] viktorpeacock commented on #1414
@andraxylia can you please clarify what you mean by RouteRule + Ingress?

[2019-04-18 08:46] viktorpeacock commented on #1414
@kyessenov, given that this was reported almost two years ago, is there any work arounds?

[2019-04-18 08:48] morvencao commented on #12855
Currently there is no better solution except adding `--force` parameter to force CRDs creation job to run again.

[2019-04-18 09:40] uchenm commented on #8503
I encountered the same problem.

[2019-04-18 09:58] ibelikov commented on #13415
This is the default behaviour in 1.1.x releases.

For a helm installation access logging can be enabled by changing this config (in case of 1.1.2) https://github.com/istio/istio/blob/1.1.2/install/kubernetes/helm/istio/values.yaml#L151-L155

[2019-04-18 11:14] erezzarum opened #13416 "Helm Chart.yaml for istio 1.1.3 release is 1.1.0"
That Chart.yaml and requirements.yaml in the Helm charts (all the subcharts as well) for release 1.1.3 are set to 1.1.0 while the ones for 1.1.2 are set to 1.1.2.

I also noticed that the helm repository index (https://storage.googleapis.com/istio-release/releases/1.1.3/charts/index.yaml) is set to istio-1.1.0.tgz and istio-init-1.1.0.tgz.

It may cause conflicts when using helm.

[2019-04-18 11:28] arielb135 commented on #10659
maybe you have some mismatches in the names there, i couldn't access the it aswell in your naming pattern so maybe there's a mismatch somewhere, but with hello all is working:
![image](https://user-images.githubusercontent.com/33662254/56358012-01ad0780-61e6-11e9-857e-31287cbc4a68.png)

i've removed some outputs from other pods, but here you go the proxy-config command
[code]

[2019-04-18 11:35] ramaraochavali commented on #10659
Ah.. That is interesting. I see the clusters your deployment which I was expecting to see
[code]

I will change the naming pattern and try. Will let you know

[2019-04-18 11:45] arielb135 commented on #10659
Anyway i deployed exactly this
**Don't forget to label the hello namespace
`kubectl label namespace hello istio-injection=enabled`

[code]

[2019-04-18 11:46] jackkleeman commented on #7136
Hey, we here at Monzo have open sourced our solution to this sequencing problem:
https://github.com/monzo/envoy-preflight
The idea is, it's a wrapper around your main application, which ensures it starts after envoy is live, and shuts down envoy when its done. You'll still need to prevent sigterms from reaching envoy.

[2019-04-18 11:46] jackkleeman commented on #11130
Hey, we here at Monzo have open sourced our solution to this sequencing problem:
https://github.com/monzo/envoy-preflight
The idea is, it's a wrapper around your main application, which ensures it starts after envoy is live, and shuts down envoy when its done. You'll still need to prevent sigterms from reaching envoy.

[2019-04-18 11:47] jackkleeman commented on #6324
Hey, we here at Monzo have open sourced our solution to this sequencing problem:
https://github.com/monzo/envoy-preflight
The idea is, it's a wrapper around your main application, which ensures it starts after envoy is live, and shuts down envoy when its done. You'll still need to prevent sigterms from reaching envoy.
We use this for batch jobs to ensure that all containers actually exit when the

[2019-04-18 11:48] jackkleeman commented on #11366
Hey, we here at Monzo have open sourced an alternative solution to this sequencing problem:
https://github.com/monzo/envoy-preflight
The idea is, it's a wrapper around your main application, which ensures it starts after envoy is live, and shuts down envoy when its done. You'll still need to prevent sigterms from reaching envoy.

[2019-04-18 12:07] zqzzq commented on #12344
I am confused about this. I updated to 1.1.3 by the istio-demo.yaml, but when I applied this yaml to k8s , the pilot, the ingressgateway, and the egressgateway were all restarted constantly because the OOMKilled, then I found that they are all set to a smaller limit，so I had to delete the limit，and now everything is fine. So I want to know why set such a small limit?

[2019-04-18 12:31] dreadbird commented on #12344
I agree with @morvencao @zqzzq.
With istio1.1.3, use the isito-demo.yaml with default value, and OOMKilled...

[2019-04-18 12:37] abhyuditjain opened #13417 "ECONNRESET with external Redis with encryption in transit"
**Bug description**
I am using AWS ElastiCache with encryption-in-transit enabled.
mTLS is enabled. Sidecar injection is enabled.

My service entry looks like:
[code]

[code]
[code]
**Expected behavior**
Connection should not be reset.

If I disable encryption-in-transit in redis cluster, then `protocol: TCP` works fine.

**Steps to reproduce the bug**

**Version (include the output of `istioctl v

[2019-04-18 13:09] erezzarum commented on #12952
@springrain It is not noted in the documents, or perhaps a bug? but you should add an environment variable ``PILOT_ENABLE_FALLTHROUGH_ROUTE``` set to 1 to allow this feature.
If you use the default helm values, add this to your values (considering you didn't modify any other environment variables for Pilot)
[code]

[2019-04-18 14:03] clyang82 commented on #12344
Yes. I think we should have some best practices for supporting the limits for each component. otherwise, it is risky here. if we do not have that data, we can leave it to the user who can modify the values.yaml to set the proper values to fit for their environment.

[2019-04-18 14:03] viktorpeacock commented on #13415
Thank you @ibelikov. I'm looking through documentation and cannot find a way of modifying this via istioctl or kubectl - not sure if it's even possible? Also is there a way to view global configuration via istoktl or kubectl? Sorry if this is a wrong forum for this, but lacking some basic understanding and can't find relevant docs.

[2019-04-18 14:11] dwradcliffe commented on #13415
Full docs are here: https://istio.io/docs/tasks/telemetry/logs/access-log/

You can modify the configmap directly: `kubectl edit configmap -n istio-system istio` and look for `accessLogFile`, `accessLogFormat`, and `accessLogEncoding`

[2019-04-18 14:13] viktorpeacock commented on #13415
@dwradcliffe , thank you!

[2019-04-18 14:13] #13415 closed

[2019-04-18 14:15] ramaraochavali commented on #10659
@arielb135  With simplified names, I was also able to make it work. Thanks for your help. I will try to figure out what is the problem the original name - One of the differences is I was trying in the `default` namespace not sure if it matters.

[2019-04-18 14:17] arielb135 commented on #10659
Sure,  i hardly believe default matters - as long as you're able to inject the sidecar there.
good luck, if you solve it, update this thread so future people can also solve the naming problem

[2019-04-18 14:23] dwradcliffe commented on #13402
Should leave this open until this is fixed on master

[2019-04-18 14:27] jaygorrell commented on #13205
I just updated to 1.1.3 and removed the `maxRequestsPerConnection: 1` setting with the intent of using the timeout setting ... but the issue has went away for some reason. I'm going to keep things as-is and see how it goes, but it appears something may have changed in 1.1.3 to help this anyway.

[2019-04-18 14:31] trevorlinton commented on #9429
Not to be a pest, but is there a way in which one can have a wildcard on one gateway and then a regular certificate on another gateway where Chromium/Firefox will not route accidently down the wildcard connection if they both are on the same ingress-gateway? In my experience we encountered this problem and the proposed work around in this ticket didn't help (because, obviously, we can't use two di

[2019-04-18 14:33] viktorpeacock opened #13419 "Retry policies not supported"
**Bug description**
ISTIO documentation suggests that multiple retry policies are supported (https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#HTTPRetry) and points to this article (https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/router_filter#x-envoy-retry-on) for supported policies. Specifying 5xx, retriable-4xx and retriable-status-codes do not w

[2019-04-18 14:35] viktorpeacock commented on #13419
Found a problem, spaces are not supported. I assumed that " 5xx" would be trimmed to "5xx". My apologies.

[2019-04-18 14:35] #13419 closed

[2019-04-18 14:44] #13244 closed

[2019-04-18 14:45] APuertaSales opened #13420 "Kiali fails to fetch pod logs"
**Bug description**
Error shown in Kiali when accessing a workload Logs:
Failed to fetch pod logs: pods "XXXXX" is forbidden: User "system:serviceaccount:istio-system:kiali-service-account" cannot get resource "pods/log" in API group "" in the namespace "XXXXX"

**Expected behavior**
Show the POD log.

**Steps to reproduce the bug**
Go to Kiali and navigate to a Workloads/Namespace/Workload/Worklo

[2019-04-18 14:48] APuertaSales commented on #13420
Can be resolved in kiali clusterrole:
adding
`  - pods/log`

to
[code]

https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/kiali/templates/clusterrole.yaml

[2019-04-18 14:58] #8842 closed

[2019-04-18 15:05] jmazzitelli commented on #13420
Kiali does not access logs (at least, not in the versions Istio installed - today it is v0.14 in Istio 1.1 and v0.16 in master). A newer Kiali does provide log views, but that is not available in the Kiali installed by Istio today.

How did you install Kiali? I assume not through Helm but by some other outside mechanism. Or you tried to bump up the Kiali version via the helm kiali.tag property, bu

[2019-04-18 15:07] rshriram commented on #13193
least intrusive does not mean breaking platform abstraction boundaries.
Also, @akashrv I think your main problem is that your external services have no ports. Once you add the ports to the external service, things should work properly.

[2019-04-18 15:09] rshriram commented on #12237
if you dont have policy or telemetry, then there is no reason to talk to control plane. Communication between pilot and envoy is already hardcoded in the bootstrap. That configuration is not controlled by the sidecar resource.

Also, istio-system is just a namespace. We cannot hard code it just like that. If I have a different telemetry service in a different namespace, then implicitly adding isti

[2019-04-18 15:11] arianmotamedi commented on #13205
It looks like others are seeing the same thing. Yeah let it run for a few days and see how it goes.

[2019-04-18 15:23] jaygorrell opened #13421 "Documented default request timeout of 15s is not applied"
**Bug description**
The documentation (in multiple places) says there is a 15s timeout with requests by default. I can confirm that this is not functioning if it is intended -- in fact, I have requests that go over 60s just fine. There may not even be a real timeout in place.

Applying a VirutalService with a timeout works as expected.

**Expected behavior**
Documented default timeout is actually

[2019-04-18 15:43] nirvanagit opened #13422 "DestinationRule getting used for an external client for SNI and MTLS enabled application"
**Bug description**
Presence of a DestinationRule with MUTUAL mode breaks routing for external clients when SNI Passthrough for Ingress is enabled for a given MTLS application

**Expected behavior**
DestinationRule should only be applied to  in mesh clients and exclude istio-ingressgateway when SNI passthrough is enabled for Ingress

**Steps to reproduce the bug**
Configure an SNI Passthrough-MTLS

[2019-04-18 15:56] frankbu commented on #12237
Ah, good to know it's only policy and telemetry, but since they are "system services" I still think it doesn't make much sense to allow a user configuration to interfere with their functioning. I agree that we should not hardcode or handle the `istio-system` namespace in any special way, but since Envoy needs to know where Mixer is, also configuring its namespace doesn't seem like a big stretch. H

[2019-04-18 16:13] rshriram commented on #12237
if mixer is enabled.. and is running in kubernetes. Plus, mixer policy is going away real soon. Telemetry as well.

[2019-04-18 16:22] pitlv2109 commented on #13385
@howardjohn do you know who is the right person to assign this task?

[2019-04-18 16:27] gotwarlost opened #13423 "Pilot reports incorrect conflict when a pod is fronted by 2 services for 2 separate container ports"
**Bug description**

We have the following situation:

* A pod that listens on 2 ports, say, 8080 and 8081. One is for regular service traffic the other exposes admin endpoints
* There are 2 load-balancer type services matching the pod labels with service port = 80 (one public facing, another internal) each with its appropriate target port

Pilot reports this as a conflict and only sets up one of

[2019-04-18 16:33] howardjohn commented on #13385
Not sure, but I think Maria has enough stuff to deal with :slightly_smiling_face:. I can confirm it fails on my gLinux as well, although I think it passed on my (linux) laptop. The crash is from golangci not something we wrote, so maybe we should file a bug with them.

@kyessenov and @geeknoid I have seen working with the linter if you guys have any ideas

[2019-04-18 16:55] geeknoid commented on #13385
I've been gradually enabling more and more linters within golangci-lint, so presumably one of 'em has a problem. As you've noted, things work fine on macOS, Linux, and on CircleCi. The way to track down the specific problem would be to:

- Gradually disable linters in .golangci.yml until the failure disappears. This'll tell us which linter is at fault.

- Gradually delete chunks of the source tree

[2019-04-18 16:58] #10221 closed

[2019-04-18 17:03] liamawhite commented on #7136
This is nice. Although, we would need some extra work to support this with Istio. This would have to drive `pilot-agent` instead of Envoy in Istio cases and we don't yet have an endpoint to enable this.

[2019-04-18 17:19] douglas-reid commented on #13420
Closing, per @jmazzitelli. Please track in kiali repo.

[2019-04-18 17:19] #13420 closed

[2019-04-18 17:27] thangbn commented on #13416
notice it too

[2019-04-18 17:40] frankbu commented on #12237
You lost me at `and is running in kubernetes.` If it's running outside of kubernetes, there would still need to be a ServiceEntry for it in some namespace, otherwise you can't manually configure the egress to it either. Right?

If I'm understanding you, the important consideration is that in the near future Envoy isn't going to need to communicate with mixer, anyway, so this is only a temporary pr

[2019-04-18 17:43] ibm-jason commented on #13416
@erezzarum, @thangbn - this one is most likely a duplicate of #12777, but I'll grab this one since I'm working on the other. 👍

[2019-04-18 17:46] thangbn commented on #13416
@ibm-jason this is pretty urgent fix, it broke our current deployment

[2019-04-18 17:46] rshriram commented on #12237
Its going away in near future that this is just a temp issue. No point in adding special considerations for this in our code.

[2019-04-18 17:48] ibm-jason commented on #13416
@utka ☝️ -

[2019-04-18 17:51] douglas-reid opened #13424 "Policies and Telemetry Code Mauve Epic"
This epic is used to track the Code Mauve work related to the policy and telemetry subsystems for Istio. Work on this epic is to be prioritized with a preference for improvements to Testing And Stability over UX Enhancements.

[2019-04-18 17:53] douglas-reid commented on #10786
Is this persisting, or can we close?

[2019-04-18 17:54] kyessenov commented on #13385
It works fine circle, prow, regular linux, and mac. Martin is right, it's likely something about gLinux that's creating problems. You can divide and conquer to find the problem:
- edit .golangci YAML and remove filters until failure goes away
- run `golangci-lint run ./<subdirectory>/...` to find the offending file

[2019-04-18 17:56] kyessenov commented on #13424
For the people who don't see zenhub-augmented UI, can you please tag all issues in this epic with "Code Mauve"?

[2019-04-18 17:58] #9212 closed

[2019-04-18 17:59] howardjohn commented on #13008
Me and Shriram discussed this a bit offline. Adding the conversation here for others to comment.

Key points:
* My thoughts are that Sidecar should provide config isolation. In this case, we are pulling in config from other namespaces, which breaks this isolation. I think this is important because it limits our multi tenancy support.
* Shriram thinks this is expected because it breaks a fundamenta

[2019-04-18 18:02] douglas-reid commented on #13424
@kyessenov I'm trying to go through each one and assign priorities and labels appropriately. If I miss a few, I apologize.

[2019-04-18 18:07] douglas-reid opened #13425 "Add e2e test for distributed tracing"
We need a test that verifies distributed tracing functionality in a way that incorporates multiple services, including the Istio services. The test should validate that the expected span structure is created, along with the expected tags.

Ideally, this should match the Tasks on distributed tracing.

We've had a number of trace behavior regressions as the system has evolved. Such a test should hel

[2019-04-18 18:14] douglas-reid commented on #12561
@Stono I believe 1.1.3 contains the patch that updates the limit to `256`. That might not totally meet your requirement, but it should be an improvement. Are you able to test it out?

[2019-04-18 18:25] utka commented on #13416
Fixed

[2019-04-18 18:25] #13416 closed

[2019-04-18 18:26] pitlv2109 commented on #13385
I will look into it when/if I have time. Others are welcome to look into it as well. Thank you for the suggestions, Martin and Kuat.

[2019-04-18 18:28] bianpengyuan commented on #10786
The test has been green for the past 10+ days. I think this could be closed.

[2019-04-18 18:28] #10786 closed

[2019-04-18 18:41] costinm commented on #13008
'exportTo' is not an option for security reasons. No namespace that is not explicitly imported should be able to affect the config of another namespace - clear security reasons.

ServiceEntry is used for egress - so needs to be per-namespace

[2019-04-18 18:43] jaygorrell commented on #13205
I thought that was too good to be true. The message changed from `upstream connect error or disconnect/reset before headers` to `upstream connect error or disconnect/reset before headers. reset reason: connection termination` so my search had just stopped working.

So here's where I'm at. `maxRequestsPerConnection: 1` took us from about ~120 errors/day down to 10 errors/day. After going to 1.1.3 a

[2019-04-18 18:48] howardjohn commented on #13008
@costinm exportTo does not fix this either anyways, they will still be imported from other namespaces even if they have `exportTo: '.'`

[2019-04-18 18:54] douglas-reid commented on #11992
Closing, as I believe this has been fixed.

[2019-04-18 18:54] #11992 closed

[2019-04-18 18:54] douglas-reid commented on #11612
PR was merged. Closing.

[2019-04-18 18:54] #11612 closed

[2019-04-18 18:57] douglas-reid commented on #11131
@jmazzitelli I'm closing this issue, as the final comment is that this is a Kiali issue. It should be tracked on the Kiali repo.

[2019-04-18 18:57] #11131 closed

[2019-04-18 18:57] howardjohn commented on #13385
`golangci-lint run pkg/features/pilot/pilot.go` fails so happens on the simplest code

[2019-04-18 18:58] douglas-reid commented on #10988
@mandarjog @jnativio what is required to close this issue?

[2019-04-18 19:00] howardjohn commented on #13385
And fails with no linters enabled (unless I am doing it wrong?

[code]
)

[2019-04-18 19:02] douglas-reid commented on #9964
@mandarjog what is the next step here?

[2019-04-18 19:03] #12891 closed

[2019-04-18 19:03] douglas-reid commented on #9694
@mandarjog what is left to do here? I don't see any issues attached to this Epic.

[2019-04-18 19:06] kyessenov commented on #13385
Istio does not support 1.12 golang yet. gLinux uses 1.12 and golangci-lint also is tied to 1.11 apparently.
We are stuck with older version of golangci-lint until we can make circle run the newer golangci-lint.

[2019-04-18 19:07] douglas-reid commented on #8273
@mandarjog @jnativio what is left for this Epic?  I don't see any associated bugs.

[2019-04-18 19:10] douglas-reid commented on #4693
@mandarjog what is the status of this?

[2019-04-18 19:48] ozevren commented on #13400
Would it make sense to open this as an actual Epic? You can do this through the ZenHub UI, through the New Issue button.

[2019-04-18 19:50] ozevren commented on #13382
Is this actionable? It looks like there isn't anything we can do about this and the onus is on individuals getting on good graces of the bot.

[2019-04-18 19:52] ozevren commented on #13341
Is this an actual problem we hit?
This is not going to work for K8s based tests, and for native it will have limited value at the limit I think.

[2019-04-18 19:53] ozevren commented on #13323
@howardjohn Are you actively looking at this? Who is on point for this?

[2019-04-18 19:57] k0da commented on #6029
@howardjohn Yes, I have istio 1.1.3 deployed and I have to define a service for an erlang app describing 4369 and 50000 ports in order to have ping within pod to work

[2019-04-18 19:59] howardjohn commented on #13323
I am semi-actively looking at this when I have free time. It is kind of blocked by https://github.com/istio/istio/pull/13324, but since this is just experimenting with it for now I can still test it out by building on that PR for now.

As I mentioned before I don't know if this is something we want, but it might be so I want to play around with it and see what benefits it provides, if any. Just wa

[2019-04-18 20:04] bianpengyuan commented on #12101
The permission issue (https://github.com/istio/test-infra/issues/1183) has been solved. The test is passing now and this issue could be closed now.

[2019-04-18 20:04] #12101 closed

[2019-04-18 20:04] geeknoid opened #13427 "Code Mauve Investigations & Process Changes"
This epic tracks Code Mauve related design investigations & process changes that we want to implement. These include things like, test methodology changes, test infrastructure investigations, branch model proposals etc.

We will use ```Code Mauve/Process``` label to track the sub-issues.

[2019-04-18 20:09] ozevren opened #13428 "Investigate buildkite as the Build/CI platform for Istio"
This issue tracks the investigation of using http://buildkite.com as the primary build/CI mechanism for Istio.

[2019-04-18 20:12] ozevren opened #13429 "Define branch usage model"
As part of Code Mauve, we'd like to define the branch usage model for development & release management. We need to identify the branch model, and how we can use testing for gating merges between branches.

[2019-04-18 20:16] ozevren opened #13430 "Refine/Improve the responsibilities of Build Cop"
The current build cop process is not working well. As it stands today, the build cop process is only marginally helpful in improving the flow of PRs and health of quality gates.

We need to ensure that the rules/responsibility of the Build Cop is clearly defined, and is followed by the people in the rotation.

[2019-04-18 20:18] costinm commented on #13008
Even if it fixes it (and it could be used) - it is still a security problem, because a namespace can interfere with a different one and inject an egress.

We can restrict the ServiceEntry for "foo.bar.cluster.local" to only be accepted in "bar" namespace -
i.e. service can only be defined in its own namespace, like in K8S.
But the egress ( www.example.com ) should not be picked from a random names

[2019-04-18 20:19] ozevren opened #13432 "Create effective PR guidelines"
We need to improve the overall quality of incoming PRs to ensure that they can be effectively reviewed in a timely manner. A quick/low-hanging fruit for this purpose is to create a PR Guideline.

[2019-04-18 20:19] costinm commented on #13008
Also: validation rule doesn't work either - it is legitimate for 2 namespaces to define their own view of an egress.

[2019-04-18 20:20] mbanikazemi commented on #13267
@frankbu pushed a PR. Addes unit tests but need to test more. In my cluster I see the duplicate entries are prevented from happening and log messages are generated. I see too many log entries though and need to check if they are legit. Hence, the [WIP] marking.

[2019-04-18 20:29] douglas-reid opened #13433 "Ensure all P&T Tasks have matching test using the same config"
Right now, some of the tasks on the website use different config than the tests that are exercising the feature being demonstrated and/or there is no matching test.  We should harmonize the tests and the tasks.  This issue is for the Policies and Telemetry related tasks.

[2019-04-18 20:36] kyessenov commented on #13433
This is unblocked by moving samples here by #13196 . We now should look into de-duping what is used for tests and what is published in docs.

[2019-04-18 20:43] ibm-jason commented on #13416
For documentation purposes, I'm commenting on this close issue to document what we did here.

The [public storage bucket](https://console.cloud.google.com/storage/browser/istio-release/releases/1.1.3/charts) that hosts the Istio build artifacts was manually updated by unarchiving the `istio-1.1.3.tgz` file, updating each of the Chart.yaml files, then re-archived and re-upload back to the storage b

[2019-04-18 20:44] ozevren opened #13435 "Automate Long Running Qualification Tests"
We need to automate the long-running qualification tests, so that they can be used for gating merges between branches.

[2019-04-18 20:49] yangminzhu commented on #4693
@sakshigoel12 @cmeyertons What about using Istio RBAC on ingress? This will be supported in Istio 1.2, you can write the [ServiceRole](https://istio.io/docs/concepts/security/#servicerole)/[ServiceRoleBinding](https://istio.io/docs/concepts/security/#servicerolebinding) on the ingress gateway to enforce access control. Would you mind to clarify a little bit about what kind of access control you wa

[2019-04-18 20:56] akashrv commented on #13193
@rshriram Could you elaborate what you mean by ports for an external service? From [K8s documentation](https://kubernetes.io/docs/concepts/services-networking/service/#externalname) it seems that ExternalName services have an external name for which a CNAME record is created with the DNS.

[2019-04-18 20:58] #10326 closed

[2019-04-18 21:01] lei-tang commented on #13341
Yes, race condition is an actual problem we hit. There were ~100 [commits](https://github.com/istio/istio/search?q=race&type=Commits) in Istio repo for fixing bugs caused by race condition. Currently detecting race condition is only enabled in istio-integ-race-native-tests for integration tests running in native environment. The race condition detection is not enabled yet for tests that use Istio

[2019-04-18 21:20] pnovotnak commented on #7136
@liamawhite is TERMINATION_DRAIN_DURATION_SECONDS set on the proxy (ie, through the injector configmap) or on pilot?

[2019-04-18 21:24] ozevren commented on #13341
I was asking specifically about race conditions *and* the integration testing.
Unit tests are more likely to give us a much stronger signal about race conditions.

[2019-04-18 21:31] GregHanson opened #13436 "ServiceEntry allows short names in hosts, but pilot does not"
**Bug description**
Validation logic in ServiceEntry.Hosts allows shortnames, but pilot is silently ignoring ServiceEntries defined with a non-FQDN name

sample rules:
[code]
Both rules are accepted by the validation plugin but pilot silently complaining about the non-FQDN names with only a message logged at the `Info` level.
[code]
checking the config_dumps of sidecars show non of the correspondi

[2019-04-18 21:46] varungbt opened #13438 "Istio citadel does not push external certs to envoy proxies"
**Bug description**
I am trying to use my own set of certificates for mTLS. Citadel does not push my external certificates to the envoy proxies.

**Expected behavior**
I would expect my external certificates to be synced into envoy proxies

**Steps to reproduce the bug**
1. Install istio as described in the documentation using helm templates (this installs istio-1.1.3)
2. Enable mesh wide mTLS pol

[2019-04-18 21:47] myidpt opened #13439 "Security Code Mauve Epic"
This epic is used to track the Code Mauve work related to the security subsystem for Istio. Work on this epic is to be prioritized with a preference for improvements to Testing And Stability over UX Enhancements.

[2019-04-18 21:47] lei-tang commented on #13341
Revised the issue description to cover unit tests.

[2019-04-18 21:53] myidpt commented on #13439
@wenchenglu @wattli @liminw @diemtvu @JimmyCYJ @quanjielin @lei-tang @incfly @yangminzhu @pitlv2109
Please link related issues into this one.

[2019-04-18 21:57] lei-tang commented on #13439
https://github.com/istio/istio/pull/13199

[2019-04-18 21:58] lei-tang commented on #13439
https://github.com/istio/istio/pull/13253

[2019-04-18 22:02] lei-tang commented on #13439
https://github.com/istio/istio/pull/13342

[2019-04-18 22:04] lei-tang commented on #13439
https://github.com/istio/istio/pull/13127

[2019-04-18 22:04] ozevren commented on #13341
BTW, we already have racetests: https://testgrid.k8s.io/istio-presubmits#circleci-racetest

[2019-04-18 22:05] ozevren commented on #13323
Ok, I'll assign the issue to you, since you're the one that is looking at it for the time being (even if it is semi-active). Please update the issue (or write a doc) once the exploration is complete, or unassign when you're no longer working on this.

[2019-04-18 22:06] lei-tang commented on #13439
https://github.com/istio/istio.io/pull/3886

[2019-04-18 22:14] lei-tang commented on #13341
Thanks for the link!

[2019-04-18 22:17] lei-tang commented on #13439
https://github.com/istio/istio/pull/13304

[2019-04-18 22:19] lei-tang commented on #13439
https://github.com/istio/istio/pull/13035

[2019-04-18 22:21] ozevren commented on #13320
@utka, I am assigning this to you for further triage/investigation/reassignment.

[2019-04-18 22:27] ozevren commented on #13216
Any objections to closing this? I assume the outage is complete at this point?

We have a separate issue for investigation of using another build/CI system: https://github.com/istio/istio/issues/13428

[2019-04-18 22:28] #13216 closed

[2019-04-18 22:31] ozevren commented on #13282
There was a similar bug opened about this. https://github.com/istio/istio/issues/13341

How valuable it is to have integ/e2e tests doing this? (There are already racetests for unit tests).

[2019-04-18 22:32] ozevren commented on #13091
@howardjohn did you get a chance to look at @nmittler's recommendation?

[2019-04-18 22:33] ozevren commented on #12976
@douglas-reid I am assuming this is under your purview. Could you triage/reroute as appropriate?

Thanks

[2019-04-18 22:35] ozevren commented on #12919
I think this is a well-known limitation. My understanding is, this can't be fixed in a cheap way.

[2019-04-18 22:36] ozevren commented on #12912
@wattli @liminw please comment. Otherwise, I'll go ahead and close this bug.

[2019-04-18 22:37] howardjohn commented on #13282
@ozevren I built images of pilot with race test enabled and ran in a live kubernetes env and got 10s of failures (which I have filed bugs for), so it seems there are some race conditions that are missed.
Perhaps the integration tests are not the best place to do this, but  I think there is some value to race testing in a "real" environment

[2019-04-18 22:39] howardjohn commented on #12919
https://prow.k8s.io/command-help "/lgtm [cancel] or GitHub Review action" sounds like its bug and should support github review action?

[2019-04-18 23:13] ibm-jason commented on #9102
Not sure if this is relevant anymore. @hklai, @costinm - thoughts?

[2019-04-18 23:15] ozevren commented on #12919
Interesting. I've never seen it working though. We always needed explicit lgtms

[2019-04-18 23:15] howardjohn commented on #13355
Cause is because Envoy isn't closing connections

[2019-04-18 23:37] nmittler commented on #13091
I think this should fix it: #13443

[2019-04-18 23:58] #10587 closed

[2019-04-19 00:20] cleverguy25 commented on #9504
Same here, and application ports are still not working for me even as a workaround.

[2019-04-19 00:22] adityats2020 commented on #9504
Ingress gateway and other envoy proxies don't start

[code]

Telemetry and Policy pods however are running without issue. They do have proxy attached.
Created new setup with 1.1.3 and encountered this. Tried 1.1.2 and the errors are still there.

[2019-04-19 00:58] #10585 closed

[2019-04-19 01:40] philrud commented on #13193
@akashrv you're absolutely correct, ports on ExternalName-typed service don't make any sense from Kubernetes perspective. However due to the PR that I previously mentioned (https://github.com/istio/istio/pull/9975) Istio actually respects them to some degree.

[2019-04-19 02:02] howardjohn opened #13444 "goxbuild: istioctl broken on OSX"
Test failure: https://circleci.com/gh/istio/istio/391573?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Its also possible that istioctl isn't broken and that we are just trying to run a osx binary on linux.

[2019-04-19 02:04] howardjohn commented on #13444
Actually pretty sure its because we run the osx binary on linux @ibm-jason I think it is from the bash script generation

[2019-04-19 02:15] springrain commented on #12952
Thank you very much, I can increase the PILOT_ENABLE_FALLTHROUGH_ROUTE parameter.

[2019-04-19 02:58] #9145 closed

[2019-04-19 03:37] wansuiye commented on #12344
pilot、policy、telemetry were all restarted continually in 1.1.3 beacuse the  OOMKilled

[2019-04-19 03:58] #10168 closed

[2019-04-19 05:04] gnarly-cl0s commented on #10632
release-1.1 branch doesn't look to have the istio-demo.yaml file as well... Any recommendations which release to use that will align with the following documentation https://istio.io/docs/setup/kubernetes/install/helm/ ? I ask this because when I tried deploying with tiller, I only see 23 CRDs get created and looking at the crd*yaml files looks to be less than the suggested 53. Im new to istio so

[2019-04-19 05:22] bianpengyuan commented on #13391
The right value combination is:

- `tracing.enabled=true` and `tracing.provider=zipkin`, which installs zipkin deployment and service.
- `global.enableTracing=true`, which makes pilot generates tracing sampling config for envoy. Also pilot needs to restart to make this option effective. Envoy needs this config to initiate a trace.
- `pilot.traceSampling=0.0` to stop envoy exporting spans directly

[2019-04-19 06:26] gotwarlost opened #13445 "istioctl authn tls-check is not deterministic when multiple pilot pods are in play"
**Bug description**

`istioctl authn tls-check <pod>.<namespace>` does not work reliably when there are multiple pilot pods. It is only reliable when there is exactly one pilot pod.

From my reading of the code, the `authn tls-check` command execs a binary in the pilot pod's container and tries to get information about a specific pod (`proxyID=pod.namespace`).

This only works when the pilot pod t

[2019-04-19 06:48] hzxuzhonghu commented on #13436
This is a regression, previously without mcp, it works well.

[2019-04-19 07:01] Morishiri commented on #12456
In my case this was routing issue. I managed to fix it by adding azure vnet routing rules.. Sorry for this not needed issue being opened.

[2019-04-19 07:01] #12456 closed

[2019-04-19 08:10] hzxuzhonghu commented on #13436
I find the root cause, https://github.com/istio/istio/pull/13446/files#diff-6713acfe7b9e389e7dcd429d08bee859R351 returns err.

[2019-04-19 08:16] foshantiger commented on #13391
Thanks @bianpengyuan! I tested out the combination, if `(context.reporter.kind | "inbound") == "outbound"` then the ingress gateway span not showed, but find a istio-policy span;   if `(context.reporter.kind | "inbound") == "inbound"`, then the ingress gateway span showed but the tracing graph is not correct;   how to solved it?

![image](https://user-images.githubusercontent.com/9165040/56414810-

[2019-04-19 08:25] zqzzq opened #13448 "The istio-demo.yaml in 1.1.3 will cause OOMKilled"
**Bug description**
I updated to 1.1.3 by the istio-demo.yaml, but when I applied this yaml to k8s, the pilot, the ingressgateway, and the egressgateway were all restarted constantly because the OOMKilled, then I found that they are all set to a smaller limit which not set before 1.1.3, so I had to delete the limit, and now everything is fine. So I want to know why set such a small limit? I don't

[2019-04-19 08:35] zqzzq commented on #13448
I can find this information via  `kubectl -n istio-system describe po istio-pilot-8647cf5859-49bkz` 👍

      Reason:       OOMKilled
      Exit Code:    137
      Started:      Fri, 19 Apr 2019 09:06:16 +0800
      Finished:     Fri, 19 Apr 2019 09:07:59 +0800
    Ready:          False
    Restart Count:  3
    Limits:
      cpu:     100m
      memory:  200Mi
    Requests:
      cpu:      10m

[2019-04-19 08:39] riponbanik commented on #9504
Happing with default installation of 1.1.2, what is the workaround please?

istio-ingressgateway-788c96cd5f-456vj   0/1       Running   0          1m
istio-pilot-6df489c64d-ptwwk            0/2       Pending   0          1m

[2019-04-19 08:51] hzxuzhonghu commented on #13412
Thanks for reporting.

[2019-04-19 08:52] hzxuzhonghu commented on #9504
Could any one test with #13228 ?

[2019-04-19 09:43] zqzzq commented on #13448
Here are some discussions #12344

[2019-04-19 10:20] #13417 closed

[2019-04-19 13:25] #12900 closed

[2019-04-19 13:50] howardjohn commented on #13448
Are you seeing increases memory usage by the gateways? I don't think we changed their limits recently

[2019-04-19 14:40] howardjohn commented on #11526
This test is now passing. If it doesn't you may need to pick up recent changes. If it still fails open a new issue

[2019-04-19 14:40] #11526 closed

[2019-04-19 14:41] howardjohn opened #13455 "Multicluster E2E test needs to be on test grid"
https://testgrid.k8s.io/istio-presubmits#Summary&width=20 no multicluster test present
@utka @john-a-joyce

[2019-04-19 14:51] douglas-reid opened #13457 "Need to run e2e tests with CNI enabled"
There have been several recent issues filed that have claimed that aspects of Istio, including telemetry, aren't working when the reporter has installed Istio with CNI. In all of the scenarios, we've fallen back to relying on manual testing against a known-good cluster. IMHO, it would be much better if we had automated tests verifying behavior.

/cc @howardjohn

[2019-04-19 14:53] howardjohn commented on #13457
See https://github.com/istio/istio/pull/12529/files
and
https://github.com/istio/tools/pull/101

[2019-04-19 14:59] douglas-reid commented on #13457
@howardjohn Yup, those are steps along the path. This issue can be the umbrella tracking for the effort.

[2019-04-19 15:36] ericvn commented on #13448
@zqzzq Which environment are you seeing this in? I have several 1.1.3 istio-demo installs and haven't seen this failure.

[2019-04-19 15:42] howardjohn commented on #13448
Probably has a larger cluster? @zqzzq if you have a large cluster we recommend using the default profile which has performance oriented settings https://istio.io/docs/setup/kubernetes/additional-setup/config-profiles/. The demo is just intended to run on a small cluster and showcase all of Istio's features.

That being said, we may want to raise the limits, we can still keep requests low

[2019-04-19 15:53] #12438 closed

[2019-04-19 16:07] john-a-joyce commented on #12906
Just catching up with this now.  If this is still an issue and you have not found any workarounds that are satisfactory could you raise in issue on the istio/cni repo directly as well.   Unfortunately, the Istio community wanted the CNI and Istio repos split so we can't directly get any of the Istio helm values when installing the CNI.  In fat the CNI install is completely decoupled from Istio and

[2019-04-19 16:08] ozevren commented on #8849
There are only three references to the istio-system namespace in the new framework code, and all of them are benign (1 for default, 1 for documentation comment, 1 for generating attributemanifest from template, but the namespace is effectively ignored after that).

Closing this.

[2019-04-19 16:08] #8849 closed

[2019-04-19 16:09] ozevren commented on #8350
@JimmyCYJ is this something that you will/can work for Code Mauve/Release 1.2?

[2019-04-19 16:10] ozevren commented on #6170
@nmittler, how far off this with the sidecar component? Should we try to schedule some time in 1.2 to get this implemented?

[2019-04-19 16:19] howardjohn commented on #13177
Just a datapoint - this is blocking using native for https://github.com/istio/istio/pull/13099

[2019-04-19 16:20] ericvn commented on #13382
I assume @linsun would also have to unblock @istio-testing.

Agree that there is nothing to do besides those individuals doing what is required. I know I still see `/assign` failing in various PRs. I assume the `bot` would still accept their approvals without being assigned. If not, then is being in the OWNERS file even relevant?

[2019-04-19 16:34] pitlv2109 opened #13462 "Document diff between native env and kube env in the new integration test framework"
**Describe the feature request**
Document the differences (if any) between native env and kube env, limitations of native env compared to kube env if any, etc. in order to make choosing the testing env easier.

[2019-04-19 16:43] ozevren opened #13463 "[test-framework] Add Native Environment Support for Citadel"
Citadel currently supports only Kube environment. We should add a native version as well.

[2019-04-19 16:46] ozevren opened #13464 "[test-framework] Add Kube Environment Support for Echo component"
@nmittler, are you working on this? If so I can assign this to you. Otherwise, I'll tag it as community help wanted.

[2019-04-19 16:49] ozevren opened #13465 "[test-framework] Complete Kube Environment Support for Galley"
Galley's current Kube environment support is limited. We should implement missing methods.

Specifically, the component should track all the deployed resources (through its methods) and manage their life-cycle (i.e. when Reset(), or ClearConfig is called).

Assigning to myself for the time being, as I'll try to work on this. But it is fine if somebody from the community wants to pick this up.

[2019-04-19 16:52] ozevren opened #13466 "[test-framework] Add Kube Environment Support for MCPServer component."
Similar to the PolicyBackend, MCP Server should be remotely deployable and controllable.

[2019-04-19 16:54] ozevren opened #13467 "[test-framework] Add Native Environment Support for Prometheus"
We currently have the Kube environment support. We should be able to bring up Prometheus natively and use it in integration testing.

[2019-04-19 16:54] JagadeeshSreeram commented on #8029
@vadimeisenbergibm  Thanks for above explanation of how to expose https service via ingress gateway. We have challenge where in mesh we have both  https and http services and we want to expose these services via istio ingress via a single ingress port.  I am not able to define a VirtualService and gateway that can handle this combination. Can you pls help?

[2019-04-19 16:55] utka commented on #13455
Add it here https://github.com/kubernetes/test-infra/blob/2128cd49ec494b32d99c1f914a831d401365a21b/testgrid/config.yaml#L3074

[2019-04-19 16:57] zhongfox opened #13468 "proposal: move `PILOT_TRACE_SAMPLING` from pilot env var to global mesh config"
I noticed there are 2 config about tracing feature, in 2 separate place:

1. `enableTracing` is in global mesh config, this is from configmap, and located to `/etc/istio/config/mesh`

[code]

   there is file watcher on `/etc/istio/config/mesh`, so pilot don’t need restart after `enableTracing`  changed

2. the tracing rate config `PILOT_TRACE_SAMPLING`  is in env var of pilot pod, user need resta

[2019-04-19 17:01] JagadeeshSreeram commented on #12417
We are running into same issue with nodejs app, where chrome uses h2 --> ingress --> envoy --> nodejs(http/1.1). And randomly some connections hang on envoy sockets goto CLOSE_WAIT . Looks like issue with envoy. As a workaround if we can make istio ingress to use http/1.1 that will work.  So, if anyone has figured out how to do that pls let me know?

[2019-04-19 17:30] pitlv2109 commented on #13439
There is an on going discussion about using `native` env instead of `kube` env if possible (also applies to security tests), starting from https://github.com/istio/istio/pull/13384#issuecomment-484728050
Many (if not all) of our tests are using `kube` env exclusively. We should look at this. cc @lei-tang for code mauve effort

[2019-04-19 17:34] jaygorrell commented on #13421
Removed references to Kiali showing 10s maximums (see referenced issue above). This is now solely on the default timeout not being applied.

[2019-04-19 17:37] howardjohn opened #13469 "dep ensure -update Broken/Not Automated"
We have a nightly test that runs `dep ensure -update && make test`. Currently it fails: https://circleci.com/gh/istio/istio/391969?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

We do not automatically update all dependencies, only API. We should either:
1. Remove the test if it is not valuable
2. If it is valuable, we should update our dependencies
3. If we do

[2019-04-19 17:41] ozevren commented on #13462
The environment is not meant to be chosen by the test author. Ideally, the tests should be written in an envrionment-agnostic way (the components should hide the details of execution for each environment).

Only in an exceptionally small set of cases, it should be legitimate to constraint to a specific environment (i.e. when specifically testing integration with K8s, for example).

[2019-04-19 17:42] ozevren commented on #13462
We just have a bunch of unimplemented components at this point.

[2019-04-19 17:57] chilu49 opened #13471 "Istio installation missing add-ons"
As part of latest Istio release installation via HELM, i am not seeing the adds(grafana, Kiali etc) even though i have enabled them using --set option

Expected to see all addon that I defined as part of installation

1.)helm install istio /root/istio-setup/istio-1.1.2/install/kubernetes/helm/istio --namespace istio-system --set grafana.enabled=true --set grafana.service.type=LoadBalancer --set ki

[2019-04-19 18:00] nmittler commented on #13464
Yes, this is included in #13175

[2019-04-19 18:03] pitlv2109 commented on #13462
Any rough ETA of these unimplemented components? I think if the ETA is months, then we should at least have some document to mention the limitations of the `native` env at its current stage.

[2019-04-19 18:09] jmazzitelli commented on #13471
What do you mean when you say "I am not seeing the addons". Are you not seeing the pods installed/running in the istio-system namespace? Or are you not seeing them in your browser (i.e. their GUIs are not exposed)?

To see if the pods are actually installed/running:

`kubectl get pods -n istio-system`

and see what you have - do you see the grafana and kiali pods running?

IIRC, recently the gatew

[2019-04-19 18:19] lei-tang commented on #13439
The integration tests in the k8s environment uses real Istio images. To support the integration tests in the native environment, some components need to be mocked (e.g., k8s api). We need to have a discussion on the resource and priority of supporting security integration tests in the native environment.

[2019-04-19 18:19] incfly commented on #13439
We should add integration test for node agent on VM with Citadel.

This can just run using native environment. Spawning up native Citadel and node agent, configure a short time TTL, verify the certificate are refreshed.

I envision we need to refactor & improve node agent over next stage. So this can be very helpful.

[2019-04-19 18:22] JimmyCYJ commented on #8350
This depends on a stand-alone Citadel https://github.com/istio/istio/issues/9177, let me check with @myidpt

[2019-04-19 18:35] #12986 closed

[2019-04-19 18:47] howardjohn commented on #13323
Some quick experiments show KinD adding about 1m to each test. Each test takes about 3m.

On my desktop I have 6 cores so I ran 6 tests in parallel. Security suite completed in 6 min vs estimated 18 min without kind. This of course comes at the cost of a lot more CPU usage.

[2019-04-19 18:55] bianpengyuan commented on #13391
The reason why you could see `ingressgateway` is that trace is initiated with the inbound listener of productpage's sidecar, instead of outbound listener of `ingressgateway`. Right now istio proxy by default is using [shared span mode](https://github.com/istio/istio/blob/master/tools/packaging/common/envoy_bootstrap_v2.json#L302), which means client span and server span will have different span id

[2019-04-19 19:09] adityats2020 commented on #9504
I recreated the setup from scratch again and don't see the errors. All containers started successfully. Do not know why I saw errors previously. Currently using 1.1.3.

[2019-04-19 19:13] walkerline commented on #9504
applied the virtual service resolved the issue to me.
If no virtual service bind to the proxy, i will get the error.

[2019-04-19 19:21] chilu49 commented on #13471
Yes, I am not seeing the pods installed/running in istio-system namespace.

kubectl get pods -n istio-system
==> v1/Pod(related)
NAME                                    READY  STATUS   RESTARTS  AGE
istio-galley-787758f7b8-nq6wz           1/1    Running  0         24h
istio-ingressgateway-58c77897cc-cpxll   1/1    Running  0         24h
istio-egressgateway-88887488d-zg9zf     1/1    Running  0

[2019-04-19 19:29] adityats2020 commented on #9504
I do have an internal only service without VirtualService. It starts up fine.

[2019-04-19 19:32] marcin-kasinski opened #13474 "ingress service nodeport problem (Prober does not exists url /)"
Istio objects:
[code]

Istio version 1.1.3
[code]
Hello.
I have istio and ingres gateway with service nodeport type.

nodeport points to port 30999 on my woring node.

I can access my service using ingress pod IP .
I can not access my service using kubernetes work node ip and service nodeport
[code]
curl -I -H Host:springbootweb.apps.svc.cluster.local http://$INGRESS_HOST:$INGRESS_PORT/ returns se

[2019-04-19 19:59] yangminzhu commented on #13028
note, we are going to make some large refactor and improvements on `istioctl authn`.

/cc @diemtvu

See https://github.com/istio/istio/pull/12774

[2019-04-19 20:15] howardjohn commented on #13469
Spoke with Costin. We don't want this automated because we need to review the changes to make sure they are good (no gpl stuff, binaries, whatever else could get pulled in). The fact that it is failing means someone should resolve the failures, since we will want to update before a release.

[2019-04-19 20:26] douglas-reid commented on #13468
I agree that we should move beyond the environment variable.

However, I don't know that we want to push more into mesh config. I believe we want to have an ability to control this at a more granular level.

I'm working on a general proposal for better tracing API that I hope to share out next week.

[2019-04-19 20:28] pitlv2109 commented on #13439
@lei-tang This PR https://github.com/istio/istio/pull/13099 has been merged, which means most of the checking in `Call` in `kube.go` have been removed. We may need to revise the `CheckConnection()` in `connection.go`, i.e. adding checking for port, what it means for a request to be successful (versus network failure, etc.), etc.

[2019-04-19 20:36] howardjohn opened #13475 "istio.io/istio/pkg/mcp/configz/server TestConfigZ Flake"
Seen this one a couple times: https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/13460/istio-unit-tests/24160

[2019-04-19 20:37] howardjohn commented on #12752
This is still an issue

[2019-04-19 20:37] mklettner commented on #13279
I had the same issue and was able to solve it by creating a virtualservice with prefix and by setting two env vars in the grafana deployment template:
[code]

I suggest adding something like this to the Grafana deployment template:
[code]
and in the Grafana values.yaml:
`env: {}`

Grafana is highly customizable via env vars and this allows adding any desired amount of them.
I can open PR if necess

[2019-04-19 20:54] costinm opened #13476 "New test framework flags not working"
Trying to run the presubmit tests with:

[code]

I get errors like:

[code]

The 'nocleanup' flag should be included in CircleCI runs - the VM is removed after use,
there is no reason for the tests to uninstall istio.

Since the plan is to ship 1.2 with the modular installer - and we want to be able to
test the operator as well ( which uses different way to install), we should also have
the 'kube.

[2019-04-19 20:57] douglas-reid commented on #13468
See: https://discuss.istio.io/t/feedback-requested-proposal-on-adding-tracing-api-to-sidecar/1996

[2019-04-19 21:07] ozevren commented on #13476
Can you give the full command-line?

Different tests require different deployment modes. Just predeploying istio demo wouldn't work. If you want to write a test for deployer, then you can simply not deploy istio during test main.

The new installer should provide a integration component for using it in the rest of the tests.

[2019-04-19 21:15] howardjohn commented on #13476
@costinm a lot of tests depend on configuring the Istio install via helm. Tests behavior is different for install settings (allow any vs block external for example). How would that work if we don't deploy kube

[2019-04-19 21:18] howardjohn commented on #13385
@kyessenov In the stack trace above it is go 1.11. I have the same version and see the failure:

[code]

[2019-04-19 21:51] mdhume commented on #8595
@mandarjog @costinm @munrodg Is this fixed in 1.1.x?

[2019-04-19 22:00] jpreese commented on #7369
+1. Chiming in to say that port name is required for VS rules to apply.

[2019-04-19 22:04] uk000 opened #13479 "ExternalName Service results in incorrect Envoy configs (for both IngressGateway and sidecars)"
**Bug description**
If you create an service of type="ExternalName" with the intention of routing a certain fqdn to a certain destination (internal or external), the envoy cluster config that gets created in both IngressGateway as well as sidecars contains additional endpoint mappings than what the service definition contains. For each port in the ExternalName service, the corresponding envoy clus

[2019-04-19 22:29] costinm commented on #13476
Test command:
[code]

[2019-04-19 22:35] costinm commented on #13476
I just added a TEST_FLAGS option to the test.integration.kube and test.integration.kube.presubmit,
with the options above - so it can run against an istio installed with the new installer.

The flag is documented and should be supported - if tests depend on the demo installer they need to be
marked or excluded.

Since the plan is to ship 1.2 with the new installer - not clear what value there is t

[2019-04-19 22:38] philrud commented on #13479
Even though Kubernetes will not prevent you from defining "ports" mapping on a service of type "ExternalName", it is not supported (meaning it shouldn't be respected as semantically it doesn't make sense, it only does CNAME redirection and nothing else).

Consider using Istio-specific resources such as ServiceEntry and VirtualService instead where possible and limit the usage of ExternalName-typed

[2019-04-19 22:58] bianpengyuan commented on #12867
I think this is dup of https://github.com/istio/istio/issues/12226 and should already be resolved by https://github.com/istio/istio/pull/12640, @wansuiye Are you ok to close this?

[2019-04-19 23:11] bianpengyuan commented on #13391
The other issue that worth mentioning is though ingressgateway is not generating root spans, it still has trace related flag passed in (zipkin address), and it diverged from tracing flags in workload sidecar's template used by injector (missing lightstep, datadog address).

If it is intended to not generate root span in ingressgateway, then we should consider remove tracing flags from ingressgatew

[2019-04-19 23:22] karthimohan opened #13484 "Istio - Mysql Query failure from the Service POD"
**Mysql Query fails after certain number of records. Query just stuck in the mysql client**

**We upgraded Istio from 1.0.5 to 1.1.2 and both the service POD and the Mysql POD has istio-proxy container**

When running certain queries Mysql doesnt return the response back to the service.
Connected to Mysql POD from Mysql-client using service (mysql.dev) and run the same query and the query just get

[2019-04-19 23:49] monubamb opened #13485 "Need to dynamically add ServiceEntry VM IP addresses in Istio Config"

[2019-04-19 23:52] monubamb commented on #13485
I have a scenario wherein AKS-Istio is acting as a front-proxy. The proxy needs to route traffic to Azure VM's which AKS VNET is VNET peered into. What i want to know is how to dynamically add IP address/ports into the ServiceEntry section of istio config for VM's which may come up dynamically based on load.

Also can xCD services of Envoy inside Istio help with it?

Thanks much

[2019-04-20 00:38] howardjohn commented on #13476
How does this sound

* Modify test so that if no setup flag is passed then we skip tests that require special setup
* Ensure only tests that actually require special setup do special set up
* (longer term) switch those that do require special setup to do so using the new installer

[2019-04-20 01:11] hobbytp commented on #12855
can we use post-install and hook-delete to delete the job when it finished and then re-create the job to run again in upgrade?

[2019-04-20 01:20] #8187 closed

[2019-04-20 02:20] #10581 closed

[2019-04-20 02:24] zqzzq commented on #13448
@ericvn @howardjohn My cluster has 368 pods and 273 services, and I always use this file to install and upgrade because it is very convenient, I believe that there are still many people who do this like me. But now due to these limits, this file may cause trouble to some people.

[2019-04-20 02:54] morvencao commented on #12855
@hobbytp I'm afraid not.
We will not introduce more helm hooks, because Istio was disrupted in the past by the helm hooks and we expect that Istio simply uses helm as a templating engine only, free from the `tiller`.

[2019-04-20 02:57] uk000 commented on #13479
Without specifying ports mapping, ExternalName service is not picked up by istio and no envoy configs are generated for the FQDN. Based on the discussion from ticket #13193 , it seemed that using ports on ExternalName service would work, and indeed it leads to cluster configs being generated for envoy, but the config generation logic is incorrect. If port mapping is not to be supported at all, why

[2019-04-20 03:35] yangminzhu opened #13489 "Refactor rbac plugin and improve test coverage and readability"
For Security Code Mauve: https://github.com/istio/istio/issues/13439

A couple of problems in current rbac code:
- All the logic (rbac filter, envoy matcher, rbac policy, etc.) are tightly coupled in [rbac.go](https://github.com/istio/istio/blob/master/pilot/pkg/networking/plugin/authz/rbac.go), making it very hard to extend and find out the relationship between policy and generated config
- The u

[2019-04-20 04:27] philrud commented on #13479
Yeah, those are all valid points and I feel your pain, we definitely need to get our ExternalName-typed services story straight. Here's where we currently are based on my understanding of the subject:

1) You're right, Istio supports ExternalName-typed services with ports to some degree. At some point there was some work done to enable this feature (https://github.com/istio/istio/pull/9975), howev

[2019-04-20 06:20] #10488 closed

[2019-04-20 07:53] zqzzq commented on #12308
I have the same problem in 1.1.3, the discovery in pilot becomes Unhealthy constantly:
[code]

but when I curl http://158.158.72.16:8080/ready ,I get 200 :
[code]
and in pilot discovery logs I found many error like this：
[code]

[2019-04-20 08:37] Miouge1 commented on #12308
In my case it was caused by a misconfigured CNI. Once I fixed the CNI config, istio was happy.

[2019-04-20 08:47] vadimeisenbergibm opened #13490 "Unknown instance error and template not found error appear in the mixer logs"
Perform the following steps:

1.  Create a `quota` instance:

[code]

Mixer log:

[code]

1.  Create a handler:

[code]

[code]

1.  Create a rule:

[code]

[code]

Notice the errors:
[code]

`template '' not found` appears for all the items.

The quota, the handler and the rule are defined in the default namespace:

[code]

Cleanup:

[code]

Istio version 1.1.2, deployed with istio-values-auth.y

[2019-04-20 09:46] Stono commented on #12561
Tested and working as expected in 1.1.3, still trims some of our rather large urls short though but 🤷‍♂️

[2019-04-20 11:20] #10487 closed

[2019-04-20 11:27] jackkleeman commented on #7136
Would be happy to help. Specifically are you missing the quitquitquit endpoint?

[2019-04-20 11:29] Stono commented on #7136
Quitquitquit is definitely there, I hit it in my custom scripts

On Sat, 20 Apr 2019, 12:28 pm Jack Kleeman, <notifications@github.com>
wrote:

[2019-04-20 13:11] rshriram commented on #13479
Dns is the only reason we kept support for external name service. If people are willing to create non k8s dns names like foo.bar.extName, then we can easily use service entries with coredns with the istio plugin I wrote to support dns resolution of foo.bar.extName that forwards to the actual service (this is how multi cluster with gateway works anyway).

[2019-04-20 13:46] rvgud commented on #12417
Just for workaround you can run your node js server to http2 only.

[2019-04-20 14:17] howardjohn commented on #13386
Need to cherry pick to 1.1

[2019-04-20 17:34] strzelecki-maciek opened #13492 "EDS STALE (Never Acknowledged) (0%)"
**Bug description**
When running istioctl  proxy-status i see every single record as "STALE (Never Acknowledged) (0%)". Moreover PIlot needs manual killing when i remove ServiceEntries (i am connecting a namespace with istio mtls enabled to a namespace without istio that runs zookeeper/kafka and postgresql;)

**Expected behavior**
The command should report "SYNCED"

**Steps to reproduce the bug**

[2019-04-20 21:23] fnature opened #13493 "Unable to apply RBAC with multicluster installs"
After I install istio with same steps as either

https://istio.io/docs/examples/multicluster/gke/
or
https://istio.io/docs/setup/kubernetes/install/multicluster/gateways/

RBAC authorization will work when servicerolebinding has
- user: "*"
but not when it has
- user: "cluster.local/ns/default/sa/service-account-name"
  After applyig an authorization, I still receive access denied.

Tested with Is

[2019-04-20 22:37] #9045 closed

[2019-04-21 03:57] tokaplan opened #13494 "Attributes source.namespace and destination.namespace are "default" instead of "unknown" when source.uid/destination.uid and source.name/destination.name are "unknown"."
Mixer OOP adapter is seeing attributes source.namespace and destination.namespace as "default" instead of "unknown" when source.uid/destination.uid and source.name/destination.name are "unknown".

**Expected behavior**
I'm expecting *.namespace to be set to "unknown" as well

**Steps to reproduce the bug**
Repro in default Istio "quickstart" deployment.

**Version (include the output of `istioctl

[2019-04-21 04:50] nodanero opened #13495 "Do not include slash after hub URL"
**Bug description**
Adding a slash after the hub URL when defining image values breaks compatibility with certain docker registries. Ex, Katello, Satellite
**Expected behavior**
The user defined hub URL should work when pulling images

**Steps to reproduce the bug**
Define a hub URL, use Satellite as a docker repository.
The images URL will have a "/" value.

**Version (include the output of `isti

[2019-04-21 06:52] vadimeisenbergibm commented on #8029
@JagadeeshSreeram You can do it if you expose the services via different URLs.

I followed:
1. https://istio.io/docs/tasks/traffic-management/secure-ingress/mount/#configure-a-tls-ingress-gateway-with-a-file-mount-based-approach to expose an HTTP service as `httpbin.example.com`
1. https://istio.io/docs/examples/advanced-gateways/ingress-sni-passthrough/ to expose an HTTPS service as `nginx.exampl

[2019-04-21 07:20] vadimeisenbergibm commented on #8029
@kish3007 Sorry, I did not see your questions.

Regarding the TLS services - I checked and it looks like neither Grafana nor Kiali show TLS services. If so, it seems that in order to monitor a service and to collect HTTP metrics on it, you have to perform TLS termination by the ingress gateway, and then to perform TLS origination again on the route from the ingress gateway to the service. For that

[2019-04-21 14:43] dingxiangfei2009 commented on #13171
According to https://github.com/containernetworking/cni/blob/ec5ec68fa4979e8f98c13845dbc2352380ad179b/libcni/conf.go#L70, `cni` cannot find the `name` field in `10-calico.conflist`, but it is there.

@edude03 should we create a separate issue for this?

[2019-04-21 15:38] howardjohn commented on #13171
@tiswanso @john-a-joyce can you guys provide any insight here?

[2019-04-21 15:38] howardjohn commented on #13171
And thanks for all the debugging so far, very thorough and useful

[2019-04-21 16:39] howardjohn commented on #13495
We have a "image" setting that you can provide the full hub and tag. But it doesn't seem like this is universal across all the templates and we are going to get rid of it in 1.2 most likely, but it could work as a workaround for now

[2019-04-22 01:28] nodanero commented on #13495
It could be made a recommendation that Foreman/Katello/Satellite do not follow common naming convention and cannot make use of the "hub" variable.
The "image" value could be standardized across templates to consider special cases.

[2019-04-22 01:31] nodanero opened #13501 "Busybox image not configurable"
**Bug description**
The location where busybox is downloaded is not configurable.

**Expected behavior**
Busybox image should be configurable.

**Steps to reproduce the bug**
Install Istio with Helm
Prometheus will fail because busybox cannot be downloaded.
**Version (include the output of `istioctl version --remote` and `kubectl version`)**
1.1.3

**How was Istio installed?**
With Helm
**Environm

[2019-04-22 02:09] howardjohn commented on #13495
In 1.2 we will have support for Kustomize, which is perfect for overriding the image field. But this is useful to know, I think most people assume all docker registries follow the same format with /

[2019-04-22 03:07] truyet commented on #12949
Thanks @philrud ,
I tried remove this entry and it worked. But I configured host with `*.postgresql.svc.cluster.local`, it worked well. So what's two way different?

[2019-04-22 03:10] jnativio commented on #8273
PR for implementing Telemetry light --> #12928

[2019-04-22 03:40] Bulls1986 opened #13502 "redisquota not"
**Bug description**

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version`)**

**How was Istio installed?**

**Environment where bug was observed (cloud vendor, OS, etc)**

Additionally, please consider attaching a [cluster state archive](http://istio.io/help/bugs/#generating-a-cluster-state-archive) by attaching
t

[2019-04-22 03:40] #13502 closed

[2019-04-22 03:40] Bulls1986 commented on #13502
edit error

[2019-04-22 03:47] Bulls1986 opened #13503 "v1.1.2 redisquota overrides configuration not work"
**Bug description**
redisquota override not work

**Expected behavior**
overrides setting take effect

**Steps to reproduce the bug**

    apiVersion: "config.istio.io/v1alpha2"
    kind: redisquota
    metadata:
      name: handler
      namespace: istio-system
    spec:
      redisServerUrl: 192.168.2.180:6379
      connectionPoolSize: 10
      quotas:
      - name: requestcount.quota.istio-syst

[2019-04-22 04:10] gobomb commented on #12308
how to fix?

[2019-04-22 05:43] castlemilk opened #13504 "ExportTo doesn't work in DestinationRule"
Trying to use the new `ExportTo` filtering capability to control how `DestinationRule` policy gets pushed to sidecars/gateways. The configuration is as follows:

[code]

I'm then trying to confirm the policy gets pushed to my gateway `istio-egressgateway` in the `istio-system` namespace via `curl localhost:15000/config_dump | grep 'stock-client-cert' -C 20`. The policy does not seem to update the

[2019-04-22 07:02] rshriram commented on #13504
Is there a gateway definition and virtual service that binds the service to the egress gateway?

[2019-04-22 08:34] lucasponce commented on #11131
It sounds a bug in the Kiali validation editor.
@frankbu thanks for reporting this.
Could you confirm which version of Kiali are you using ? Just to confirm that is not already addressed in upstream.

[2019-04-22 08:48] castlemilk commented on #13504
`Gateway`:

[code]
`Virtualservice`:
[code]

[2019-04-22 09:28] liamawhite commented on #7136
@Stono When you kill the Envoy process I would expect `pilot-agent` to create a new Envoy process. Is this not the case? or does it not matter because the pod terminates almost instantaneously?

[2019-04-22 11:48] rvennam commented on #13153
Should be fixed with 1.12.0

[2019-04-22 11:48] #13153 closed

[2019-04-22 12:56] imroc opened #13507 "support kustomize"
**Describe the feature request**
install istio on kubernetes now support helm and ansible, I think we should support kustomize too, kustomize is getting more and more popular, the newest kubectl also support kustomize, and I think it's a great way to manage kubernetes resources

[2019-04-22 13:11] JagadeeshSreeram commented on #12417
@rvgud   Thanks for the quick response!  The http2 and spdy npms that nodejs support doesn't support  non-ssl http2  and if we enable http2 with ssl at nodejs we have issues exposing our other non-ssl (liberty services)  and this nodejs ssl service via single ingress gateway port.

[2019-04-22 13:32] abhyuditjain commented on #9152
@markmarijnissen Did you find the solution?

[2019-04-22 13:34] frankbu commented on #11131
@lucasponce I used the version of Kiali in the Istio 1.1.3 release.

[2019-04-22 13:57] #12055 closed

[2019-04-22 13:59] JagadeeshSreeram commented on #8029
@vadimeisenbergibm  Thanks for quick response!   Since this thread is closed , if you want , I can start a new thread or we can use this thread here https://github.com/istio/istio/issues/12417.    The reason we need a workaround to support SSL service is because of issue #12417.   Today we are exposing all our service through single ingress gateway in production and if possible want to keep it tha

[2019-04-22 14:08] GregHanson commented on #10973
@hehailong5 closing under the assumption that my previous comments satisfied your use case.

[2019-04-22 14:08] #10973 closed

[2019-04-22 14:09] vadimeisenbergibm commented on #8029
@JagadeeshSreeram Without going into details of #12417, let me understand what you describe here.

If so, Istio Ingress Gateway can perform TLS termination, as described in https://istio.io/docs/tasks/traffic-management/secure-ingress/mount/#configure-a-tls-ingress-gateway-with-a-file-mount-based-approach. You then will be able to route the requests based on the URL path, as in the example.

[2019-04-22 14:09] #10030 closed

[2019-04-22 14:10] jmazzitelli commented on #11131
There is an "About" box in Kiali that can retrieve a bunch of version strings to ensure you know what you really are running... but the Kiali that is in 1.1.3 is v0.14. I'm still waiting for the PR to be merged that gets the next 1.1.x release up to a more recent version of v0.16 - see https://github.com/istio/istio/pull/13312

[2019-04-22 14:18] howardjohn commented on #13507
We do in https://github.com/istio-ecosystem/istio-installer which will be the new installer in 1.2

[2019-04-22 14:23] JagadeeshSreeram commented on #8029
@vadimeisenbergibm  Thx. This is exactly how we deployed in production today i.e. TLS termination at Ingress gateway with all our services being  non-ssl and let istio handle the ssl part.    By doing this we ran into issue that  is described in #12417.  When SSL is enabled for web via ingress the  browser (chrome) negotiates with ingress and uses h2 protocol and our UI service which uses nodejs s

[2019-04-22 14:25] morvencao opened #13508 "Support configurable shared span context"
## Describe the feature request

The configuration `shared_span_context` allows us to determine whether client and server spans will shared the same span id. And this value seems to be set to `false` by Istio.

Maybe we should consider to make this field configurable in the API since some customers really want this to be `true`.

## Describe alternatives you've considered
Expect Istio to support n

[2019-04-22 14:27] dwradcliffe commented on #13412
I've observed the same thing on one of my test clusters. Running pilot 1.1.3

Looks like this is fixed in the PR, but just in case it helps here are my logs too:

[code]

[2019-04-22 14:35] vadimeisenbergibm commented on #8029
OK, so the issue is downgrading the protocol from HTTP/2 to HTTP/1.1 by Istio, it is not related to ingress per se. I would propose to rename #12417 to specify that this is the issue, and let's wait for the community to answer it. I do not know if this downgrading is possible.

[2019-04-22 14:39] howardjohn commented on #13476
My one concern is disabling the setting makes what we are testing less clear.

For a concrete example, when we test external traffic:

`When we have Istio installed with ALLOW_ANY and the feature flag enabled, and we send an external request -> we get a 200`

This is a very explicit and clear test.

We can simplify this test and make it setup Istio, but with the default settings:

`When we have a

[2019-04-22 14:39] #12268 closed

[2019-04-22 15:00] howardjohn commented on #13444
@ibm-jason do you have a chance to fix this?

[2019-04-22 15:01] howardjohn commented on #13455
@john-a-joyce do you have a chance to make this change?

[2019-04-22 15:02] howardjohn commented on #12268
Make sure this gets in the test grid https://github.com/kubernetes/test-infra/blob/2128cd49ec494b32d99c1f914a831d401365a21b/testgrid/config.yaml#L3074

[2019-04-22 15:08] ozevren commented on #13476
It should be dead easy to execute tests locally by the developer, which means they need to be self-contained. That has been the goal of the framework. Today, they can be executed using "go test", which is dead obvious and requires no ramp up, no special incantations or understanding of how to run things. Unless the test is broken, it just works. Often, this involves deploying Istio. The test can c

[2019-04-22 15:08] howardjohn commented on #13355
@JimmyCYJ what ever came out of this?

[2019-04-22 15:09] howardjohn commented on #13227
Fixed

[2019-04-22 15:09] #13227 closed

[2019-04-22 15:09] howardjohn commented on #13091
Fixed

[2019-04-22 15:09] #13091 closed

[2019-04-22 15:11] howardjohn commented on #13055
port-forward sounds like a good idea

[2019-04-22 15:11] #12920 closed

[2019-04-22 15:12] howardjohn commented on #12961
This is still broken:

For EDS, outlierDetection is not required at all and it should be.

[2019-04-22 15:13] howardjohn commented on #12777
@utka what is the state of this? Looks like https://github.com/istio/istio/pull/12762 did not do the fix we needed since 1.1.3 has the same issue?

[2019-04-22 15:14] howardjohn commented on #11463
We should just delete this instead, made obsolete by istio/tools repo

[2019-04-22 15:14] #11463 closed

[2019-04-22 15:21] ozevren commented on #13476
@costinm I tried the command-line locally, and I can't repro this. The messages seem to indicate that the test framework flags are not being registered properly.

I have suspicion that some of tests you're pulling as part of that command-line is not opting into the test framework by implementing a proper test main. If some of these are new tests, I'd suggest implmenting proper TestMains.

[2019-04-22 15:22] howardjohn opened #13512 "Integration Tests run istio setup even when no tests are run"
Run only some tests like: `go test ./tests/integration/... -v -istio.test.env kube --istio.test.ci -p 1 -run TestRBACV2`. All of the tests will install Istio still.

This also happens when we add a skip to all of the tests.

[2019-04-22 15:56] jcetkov commented on #13355
I believe the conclusion was that the agent has to expose the envoy timeout idle connection property and set it to some more reasonable value than the default 'no timeout'. (Probably both for ingress and the injected sidecar)

[2019-04-22 15:59] ericvn commented on #13471
I did try an install to my IBM cloud cluster of 1.1.2 using the `--set``'s and things worked. Note I had to change the command slightly (remove first _istio_ else I got an error:

[code]

[2019-04-22 16:02] howardjohn commented on #13476
I can reproduce:
`go test ./tests/integration/echo/... ./tests/integration/pilot/locality/... -v -p 1 --istio.test.ci --istio.test.env kube --istio.test.kube.minikube --istio.test.nocleanup --istio.test.kube.deploy=false`

Echo runs first, and is native only so doesn't run the `init` that sets up the kube specific flags.

[2019-04-22 16:23] ozevren commented on #13476
Thanks for catching this.https://github.com/istio/istio/pull/13513

[2019-04-22 16:28] douglas-reid commented on #12561
@Stono are you OK with me closing this issue for now?  ultimately, it would be nice to fully support long URLs (perhaps through configuration controlled limits), but that is a bigger undertaking.

[2019-04-22 16:29] bianpengyuan commented on #13508
cc @douglas-reid @objectiser

shared_span_context false by default is making zipkin generating wrong span hierarchy, I think we should definitely make this value adjustable, or at least give it reasonable default value based on data model expected by the tracing system.

[2019-04-22 16:30] Stono commented on #12561
Go for it.

On Mon, 22 Apr 2019, 5:29 pm Douglas Reid, <notifications@github.com> wrote:

[2019-04-22 16:32] douglas-reid commented on #12561
Thanks!

[2019-04-22 16:32] #12561 closed

[2019-04-22 16:34] duderino commented on #13197
The fix made it into 1.1.3

[2019-04-22 16:36] bianpengyuan commented on #13494
Do you mind to share you oop adapter related configs?

[2019-04-22 16:37] douglas-reid commented on #13490
What happens if you apply these configs in the `istio-system` namespace?

[2019-04-22 16:38] JimmyCYJ commented on #13355
Let me check the timeout settings at gateway agent. We already have long running tests for workload SDS, and I am not ware of such issue.

[2019-04-22 16:44] JimmyCYJ commented on #13355
@jcetkov May I ask for more context about the issue? I remember last time we found that there were lots of connections to port 80 which caused the issue. Are there any new findings after that?

[2019-04-22 16:49] howardjohn commented on #13355
@JimmyCYJ Open a bunch of connections to ingress gateway with netcat or other, look at :15000/stats on the gateway and see `server.total_connections: some_big_number`. The connections are never closed

[2019-04-22 16:53] jcetkov commented on #13355
In essence, if client opens keep-alive connection and abandons it, it hangs there possibly indefinitely. We observed this going up to ~100k connections, at which point we were forced to restart the gateway, as the connections were coming through NAT, from limited set of IPs which started causing port collisions and timeouts.

[2019-04-22 16:59] JimmyCYJ commented on #13355
I need to take a look at the ingress-sds log to find out whether the number of SDS connections grows up. By default it should keep one connection. The SDS is using gRPC streaming service over one connection.

[2019-04-22 16:59] objectiser commented on #13508
@bianpengyuan Do you have an example illustrating how the wrong span hierarchy is generated?

[2019-04-22 17:00] howardjohn commented on #13355
I don't think its related to SDS, th same thing happens without SDS

[2019-04-22 17:01] bianpengyuan commented on #13508
@objectiser  See this: https://github.com/istio/istio/issues/13391#issuecomment-484986113

[2019-04-22 17:06] JimmyCYJ commented on #13355
@howardjohn could you ask Costin or other ingress gateway experts from networking team to take a look? I don't think this is related to SDS, since it happens without SDS.

[2019-04-22 17:08] JimmyCYJ commented on #13355
Tentatively reassign to Costin for triage.

[2019-04-22 17:17] objectiser commented on #13508
@bianpengyuan Are you referring to the `shared_span_context` config [here](https://github.com/istio/istio/blob/master/tools/packaging/common/envoy_bootstrap_v2.json#L302)? If so, then this governs how span data is generated from the envoy proxy, which is not relevant when generating span data from the adapter.

[2019-04-22 17:18] vadimeisenbergibm commented on #13490
@douglas-reid I will try, but my guess is that these should work with a regular namespace too. The common use case with Istio, in my understanding, is that there are multiple teams, each working in their own namespace. These teams can create quotas for their namespace and put the configuration artifacts in their own namespace. The teams should not have write access to the common `istio-system` nam

[2019-04-22 17:20] bianpengyuan commented on #13508
Sorry maybe I was not very clear in the linked comment. The graph attached in that comment was from envoy reporting span directly to zipkin. I found it was wrong when I try to debug the linked issue.

[2019-04-22 17:20] duderino commented on #13355
@silentdai will take a look (while I figure out how to get him added to the github org so I can assign issues to him).  @PiotrSikora is OOO this week but should take a look too when he can

[2019-04-22 17:26] howardjohn commented on #13355
https://github.com/istio/istio/blob/323ef68f4176c6b5487de2d92206477393dc37b9/pilot/pkg/networking/core/v1alpha3/listener.go#L1407

Setting this will close the connections. Not sure what the difference between that and the stream idle timeout is, or what impact it may have on other areas though. @silentdai

[2019-04-22 17:27] jcetkov commented on #13355
I don't think this requires much code change, just allow the envoy wrapper (agent) to pass in the configuration @howardjohn mentioned (and possibly update the helm charts to use it by default)

[2019-04-22 17:28] silentdai commented on #13355
@JimmyCYJ @howardjohn Thank you for confirming that it's not SDS issue. Make life easier :)
@fpesce No need for action for you. It may(or may not) have relationship with your discovered keepalive bug

[2019-04-22 17:40] bianpengyuan commented on #13508
@objectiser I checked my test cluster again and seems like zipkin could render separated server/client span correctly this time:

<img width="1424" alt="Screen Shot 2019-04-22 at 10 38 47 AM" src="https://user-images.githubusercontent.com/34738376/56514706-de869e80-64ea-11e9-93e3-ea91da4535dc.png">

Let me dig more and I will share my finding here.

[2019-04-22 17:40] linsun commented on #13455
cc @vadimeisenbergibm @ericvn

[2019-04-22 18:01] nmittler commented on #13091
@howardjohn what PR fixed this?

[2019-04-22 18:04] kyessenov commented on #13408
@ozevren @esnible I'd like to prioritize this for Code Mauve. It's frustrating to use the tool when it does not properly parse namespaces, and hence, makes fully-qualified names invalid.

[2019-04-22 18:37] gargnupur commented on #13503
Have you verified that source.workload.name for your destination label matches "gateway" and "backend"?
For istio ingressgateway, value is generally "istio-ingressgateway" I think...

[2019-04-22 18:45] john-a-joyce commented on #13171
Tim or I can take a detailed look at the debugging you have above.   FWIW a few quick notes. There is a prow job that runs with CNI enabled on every PR.   You can look at prow/e2e-simpleTests-cni.sh.   In theory that should ensure Istio, Istio CNI and GKE (prow) stay aligned.  Additionally, I have a PR in flight that should allow an easy way to run the bookinfo e2e test on GKE.  It is https://gith

[2019-04-22 18:46] nmittler commented on #6170
The sidecar gets us much closer. However, for each type of config we'll need custom logic to determine that it has been propagated.

[2019-04-22 18:52] douglas-reid opened #13516 "Switch existing mixer e2e tests to use new Istio installer"
We need to update the various makefiles in istio/istio to use the new installer to generate backwards-compatible (with old installer / paradigm) install artifacts and have that drive the existing e2e tests for policies and telemetry. This will enable transition away from the existing installer while we work to transition tests over to the new framework, etc.

/cc @costinm @mandarjog @kyessenov @os

[2019-04-22 18:55] tiswanso commented on #13171
Please share the contents of `10-calico.conflist` on the GKE node/s with the error.

[2019-04-22 18:56] kyessenov commented on #13490
The issue is the version of istio. Please try with istio 1.1.3 if you use "compiledTemplate" field. This was a bug fix that only made it in 1.1.3. There should be now a sample that does not use compiledTemplate, e.g. https://raw.githubusercontent.com/istio/istio/release-1.1/samples/bookinfo/policy/mixer-rule-productpage-ratelimit-crd.yaml

[2019-04-22 18:58] costinm commented on #13476
@ozevren - it is fine if the tests are "deploying istio" ( or a specific configuration ), however they need to support the flag that is defined and be able to run ( or skip ) and run against a istio deployment created
by other tools.

Current tests are running against the demo setup - the 'deploy=false' flag needs to be respected and
allow the test to run against other install options - like opera

[2019-04-22 18:59] costinm commented on #13476
@ostromart  - for add-on/knative and operator related testing

[2019-04-22 19:02] huang195 opened #13517 "Significant performance degradation with istio-proxy"
**Bug description**

I thought building a new `envoy` binary from istio/proxy (branch `release-1.1`) and putting it into a new image would give me the same setup as if using the official `proxyv2`, but it didn't. There's significant regression in terms of CPU usage and latency.

**Expected behavior**

Expected the `proxyv2` image built from istio/proxy `release-1.1` would give the same result as t

[2019-04-22 19:04] huang195 commented on #13517
Benchmark command:
[code]
With the official proxyv2 image, latency result looks like:
[code]

With the custom build `proxyv2` image (no code changes, just the `release-1.1` branch from istio/proxy), the latency result looks like:
[code]

[2019-04-22 19:07] ozevren commented on #13323
Just following up on this. What is the status? Any blockers?

[2019-04-22 19:08] geeknoid opened #13518 "Establish issue-handling policies"
See https://docs.google.com/document/d/1YeirXz0kGssg5TSBq9f95qHnSe2u6Aa0Z-OlkZ5jXHk/edit?ts=5cae49b9#heading=h.i8nuroax5lq1

[2019-04-22 19:10] geeknoid opened #13520 "Establish PR-handling policies"
https://docs.google.com/document/d/1oMJITHK9blV6UzTTgJIu-UnNsP_QfYNP26s9_5ILq3E/edit#

[2019-04-22 19:12] geeknoid opened #13521 "Establish access control model for GitHub"
Describe what our policy is with respect to:

GitHub Teams
OWNERS files

[2019-04-22 19:12] lei-tang commented on #13383
https://github.com/istio/istio/pull/13519

[2019-04-22 19:15] geeknoid opened #13522 "PolicyBot: implement support for Issue policies"
Visualize core stats about issues over time
See all issues out of SLO
See all stale issues
Aggregate or per-user view
Send emails out concerning out of SLO issues and issues about to expire and be closed
Controls to perform common actions on outstanding issues
-  Close as stale
-  Mark as ‘can never be stale”

Label issues as stale per Istio policies

[2019-04-22 19:15] geeknoid opened #13523 "PolicyBot: Implement support for PR policies"
See all pull requests out of SLO
See all stale PRs.
Aggregate or per-user view
Controls to perform common actions on outstanding pull requests
- Close as stale

Mark PRs as stale per Istio policies.

[2019-04-22 19:31] ozevren commented on #13429
Link for a proposal doc: https://docs.google.com/document/d/14s0Xx_X-uEGyS9BLHlskj--wsPJv71QTBsqneq6m29M/edit

[2019-04-22 19:35] ozevren commented on #13432
Draft: https://github.com/istio/istio/wiki/Writing-Good-Pull-Requests

[2019-04-22 19:41] adityats2020 opened #13524 "Destination rule affecting control plane communications (Envoy -> Mixer)"
**Bug description**

Envoy sidecar is not able to communicate with Mixer when the following global Destination Rule is used with Mesh Policy set to PERMISSIVE and ControlPlaneAuthPolicy set to NONE.
[code]
Destination Rule for Istio-Telemetry is default
[code]

**Expected behavior**
The same configuration was working in Istio 1.0. It is not working in Istio 1.1.

As a workaround I am using the fol

[2019-04-22 19:43] ozevren commented on #13432
We should split the dev guide into multiple pages and clean it up.

[2019-04-22 19:48] JagadeeshSreeram commented on #12417
@rvgud   Good new! we were able to configure nodejs to support http/2 with no-ssl and make istio to talk to our service using http2 protocol in service and now things work fine.  We still used spdy npm and looks like there is an option to enable http2 without ssl. And in service definition I had to prefix name with http2 i.e.  `name: http2-myservice` after that it worked.  But I still believe ther

[2019-04-22 20:13] #13475 closed

[2019-04-22 20:35] howardjohn commented on #12703
May be nice to also output each version as it reads it, on a large cluster its really slow. Although this may not work if we need to sort it

[2019-04-22 20:37] ostromart commented on #13476
I agree that test should be self-contained, but that doesn't necessarily imply that every test has to install Istio from scratch, or even that the test has to be aware of / turning environment knobs.
We can take the approach of bucketizing tests - the analogy being that Go tests are grouped per package that focus on some area and assume a certain common setup (init/TestMain).
Similarly, we can gro

[2019-04-22 20:55] howardjohn opened #13526 "CNI Not published in 1.2 release archive"
CNI chart is not included in the 1.1.3 release, but it is in previous releases and [docs](https://istio.io/docs/setup/kubernetes/additional-setup/cni) still reference it

[code]

[2019-04-22 20:59] yangminzhu commented on #13385
@kyessenov @howardjohn @geeknoid
How about change `make lint` to use docker?
[code]
This should allow us to run the linter the same way as the circle ci and also prevent potential similar breaks in the future.

[2019-04-22 21:00] howardjohn commented on #13385
Sounds good to me, we already do this for some other targets anyways

[2019-04-22 21:05] kyessenov commented on #13385
Let's update to 1.16.0 first #13525 .

[2019-04-22 21:14] kyessenov opened #13527 "expose DNS / ExternalName in test framework"
OOP LB depends on gRPC DNS round robin balancing. For that we need to have a DNS server running that exposes several endpoints for an OOP adapter. We need an ability to either mock ExternalName services or run a native DNS server in the framework.

/assign @nmittler
/assign @ozevren
for re-assignment

[2019-04-22 21:18] kyessenov commented on #13385
@howardjohn @yangminzhu can you try 1.16.0 version and see if it works better for you?

[2019-04-22 21:38] ozevren commented on #13476
Are you seeing the flags as not being respected? If so, it is a bug and it should be fixed (The last time I tried, they were working, so I am assuming yours is a general comment).

[Generally speaking]
If a developer walks up to a particular folder with tests in it, and run ```go test```, then it should work. This means the test should be able to deploy Istio (components), if need be. If there is

[2019-04-22 21:43] castlemilk opened #14154 "FR: pki management"
would it be possible to include the management of PKI material and its injection into ingress/egress gateways and potentially pluggable CA?

[2019-04-22 21:54] utka commented on #13526
The  folder /charts  under install/kubernetes/helm is not present. But it actually looks to me, like that how it is suppose to be, under helm there is already istio and istio-init, with correct tag and hub values.
Meanwhile under 1.1.2 the /charts folder contains tar.gz files with incorrect values.

The only issue is CNI is still missing in /helm folder

[2019-04-22 22:07] yangminzhu commented on #13385
@kyessenov
Still seeing the following error:
[code]

[2019-04-22 22:15] lei-tang commented on #13383
Regarding to "enhance our config validation at Galley to guarantee that (1) Only one Citadel will be deployed in a cluster; and (2) If multiple Citadels are deployed, command flags --read-signing-cert-only and --server-only are properly set.", currently Galley only validates CRD and doesn't do validation at the deployment level.