[2022-11-03 16:42] nrjpoddar commented on #41666
@sudeeptoroy I mentioned this issue to my team and @linsun from my team will help you out here.

[2022-11-03 17:11] dgn commented on #35923
Is this possibly broken again? We're struggling to run the 1.16 integration tests in a non-GKE cluster

[2022-11-03 17:21] VarunTyagi86 opened #41774 "Can we define IP:Port format in Istio Gateway config"
### Bug Description

Previously i had defined IP:Port in my istio gateway defintion under hosts. It was working fine and istio was not complaining. Now we reinstall the same version of istio but now it is throwing error configuration is invalid.

upgrade.go:434: [debug] warning: Upgrade "release-cicd-gw" failed: failed to replace object: admission webhook "validation.istio.io" denied the request:

[2022-11-03 18:40] bartoszmajsak commented on #35923
@dgn the error says

[code]

As far as I can tell this is coming from:

https://github.com/istio/istio/blob/2e0f8833162d2dc65a828372bb1aa2ef6e59a56b/pkg/bootstrap/config.go#L394-L397

Now, the reason why this is not filled is b/c this evaluates to `false`.

https://github.com/istio/istio/blob/2e0f8833162d2dc65a828372bb1aa2ef6e59a56b/pkg/bootstrap/platform/gcp.go#L60-L62

For the first part - `GCE_

[2022-11-03 19:18] howardjohn commented on #41774
I don't think this was ever allowed; likely if it worked before somehow the validation webhook was not running properly...?

[2022-11-03 19:21] howardjohn commented on #41773
cc @ramaraochavali

[2022-11-03 20:08] rafaelcoelho opened #41779 "Enable envoy track_remaining metrics"
Hi Guys,

I'm struggling to configure the Envoy proxy from Istio (**1.9.4 version**) in order to enable the `track_remaining` [flag](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/circuit_breaker.proto#envoy-v3-api-field-config-cluster-v3-circuitbreakers-thresholds-track-remaining).

The circuit breaker threshold settings have being done via `DestinationRule`:
[code]

And thi

[2022-11-03 21:26] linsun commented on #41666
@sudeeptoroy have you tried trustDomain as the list format where you list both aws.com and google.com in each cluster?

@maxlambrecht curious if you have any insight, not sure if you attempted such scenario with spire integration or have any examples?

[2022-11-03 23:27] AlfredoFausto commented on #41481
The reason of the changes was introduced to reset replicaCount when autoscaling is enabled. This change makes sense because we don't want the ReplicaSet controller and HPA controller to be fighting each other which align with how Kubernetes should work
You can find documentation that explicitly explain this behavior here: [Horizontal Pod Autoscaling](https://kubernetes.io/docs/tasks/run-applicatio

[2022-11-03 23:45] rafaelcoelho commented on #41779
Looks like the default `true` value have been added from PR #31807 released from 1.10.0 [a49a2fa61](https://github.com/istio/istio/commit/a49a2fa614024db27b0a02a68c8ec97eb2e1bf2f) that is not into 1.9.4 version.

@ramaraochavali, do you have any insight how to set the flag for `true' upon the versions that doesn't have the default value (like the 1.9.4)?

Thanks in advanced

[2022-11-04 01:01] mark8s commented on #41762
@howardjohn tks!!!

[2022-11-04 01:01] #41762 closed

[2022-11-04 01:26] tonglil commented on #28914
FWIW as of today, I think if you specify another route as a default/fallback route, it should work (and merge properly with the other VS.

[code]

[2022-11-04 02:21] chinaran commented on #40577
@auswells Could you comment it at https://github.com/istio/istio/pull/40578 too?

[2022-11-04 05:02] #39773 closed

[2022-11-04 05:02] #39792 closed

[2022-11-04 07:38] #41704 closed

[2022-11-04 07:50] hzxuzhonghu commented on #41769
Is this only during the upgrade?  How do you upgrade? Inplace or Canary upgrade?

[2022-11-04 07:51] hzxuzhonghu commented on #41772
--tls-min-version, tls-max-version should be possible now

[2022-11-04 08:03] feimeng1029 opened #41787 "Some Questions About the Fault Tolerance Mechanism of VirtualService"
After configuring the virtualservice, if 100% of the traffic points to subset1 and the endpoints of subset1 are unhealthy, what configuration allows the traffic to automatically request the endpoints of subset2。

istio verison 1.9.2
envoy version 1.17
k8s verison 1.20

[2022-11-04 08:14] feimeng1029 opened #41788 "locality loadbalancing does not work after agents restart"
### Bug Description

After the agents restart, the locality aware loadbalancing does notwork.
Destinationrule is set.
After curl localhost:15000/clusters, we found that all priority is set to be "0" though locality of endpoints is different.
All of our endpoints are VM, so we set the locality through adding the label into WorkloadGroup's template,.

### Version

[code]

### Additional Information

[2022-11-04 09:53] GregoryVds opened #41790 "Segfault on Istiod"
### Bug Description

I often get segfaults on Pilot at boot

[code]

### Version

[code]

### Additional Information

[code]

[2022-11-04 10:24] easayliu opened #41791 "http code 400"
### Bug Description

I got http code 400
it seems like cookie too large.
when we clear the cookie in brower, it`s works.

can i change cookie setting ,like nginx.
[code]

### Version

[code]

### Additional Information

_No response_

[2022-11-04 12:23] edubonifs commented on #41660
Hi, I wrote the issue in envoy as requested, but it seems to properly work with purely envoy, may be we missing something from Istio side? https://github.com/envoyproxy/envoy/issues/23753

[2022-11-04 13:34] thennetirajesh commented on #41769
Hi Colleagues,

we are performing the upgrade through the helm chart its kind of a canary upgrade, initially, we noticed during the upgrade, and currently noticed that every restart of the istiod pod.

can you pls help us the impact ..!!

[2022-11-04 14:07] ramaraochavali commented on #41660
Can you please share config_dump?

[2022-11-04 14:12] ramaraochavali commented on #41779
I guess it is because thresholds is an array - it is being merged as another element.  Do not know from top of my head how to merge an element in an array.

On a side note, 1.9 is deprecated.

[2022-11-04 14:16] ramaraochavali commented on #41773
Seems a bug. I will take a look

[2022-11-04 14:33] ElkRom opened #41792 "Terraform plan fails during initial run of helm_release for Istiod"
### Bug Description

I have following Terrafrom code for deploying Istio via Terraform helm_release resource:
[code]

During first deployment(initial setup) of Istio on new k8s cluster, Terraform **plan** fails with error:
[code]

From error I see that during Terraform **plan** , it tries to validate CRDs, which are not supposed to be installed during Terraform **plan** via  **resource "helm_relea

[2022-11-04 14:45] iprasla commented on #33345
Is there an update on this? It seems like there was discussion and it was suggested that there will be a solution to that. Can it be re-open or be addressed?

[2022-11-04 14:56] #41170 closed

[2022-11-04 15:00] gojanpaolo opened #41793 "Envoy proxy is NOT ready: config received from XDS server, but was rejected: lds updates rejected"
Hello. I'm fairly new to istio and I'm sorry if this is a stupid question but how do we troubleshoot `lds updates` rejected errors? TIA!

[code]

Our pods `istio-proxy` take a while to get ready and have those logs.. But it will eventually become ready after a few minutes / hour which will have these logs

[code]

[2022-11-04 15:01] liyihuang opened #41794 "Support the secrets in non ingress gateway namespace"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

Let's say I have ingress(where we have the ingress pod running), app1(app1 running ), and app2(app2 running) namespaces. we can configure the gateway resource in app1 and app2, even if we have the ingress pod running in the ingress namespace. Howev

[2022-11-04 17:05] maxlambrecht commented on #41666
Hi @linsun, I recommended to open the issue here after discussing it in https://github.com/spiffe/spire/issues/3503. I tested this scenario using the demo provided by @sudeeptoroy, I hadn't tried this end-to-end mTLS scenario before.

In this scenario, SPIRE is correctly delivering the bundles of the two trust domains, so the Envoy proxies have all bundles they need in the `ROOTCA` element. But, w

[2022-11-04 17:39] zioproto commented on #41792
I can't reproduce it.

% cat istio.tf
[code]
In the folder with this single `istio.tf` file I run:

[code]

Here is my output:

[code]

[2022-11-04 19:06] linsun commented on #41666
@maxlambrecht thx for the input! looks like we just need to configure multiple trust domain properly. Looking at the [PR](https://github.com/istio/api/pull/1848/files) when this API is initially added, I think we need to configure spiffeBundleUrl & certSigners given you are not using istiod as the CA.

[2022-11-04 19:56] howardjohn commented on #41593
Weird one! https://prow.istio.io/view/gs/istio-prow/logs/release_istio_postsubmit/1588586579218141184

`2022-11-04T18:00:35.392138Z	info	Check failed: check HelmChartVersions failed: exit status 127`

Basically helm is just exiting with no stdout, etc for no reason...

[2022-11-04 20:02] howardjohn commented on #41794
See https://github.com/istio/istio/issues/14598

[2022-11-04 20:02] #41794 closed

[2022-11-04 20:23] howardjohn commented on #41593
We have been seeing (rarely) the same with `kind` for ~ever.

Example: https://prow.istio.io/view/gs/istio-prow/logs/integ-pilot-multicluster_istio_postsubmit/1583294207907336192#1:build-log.txt%3A2998-3001

[code]

[2022-11-04 21:06] kyessenov commented on #41763
This is inherent to the design of Wasm and TCP MX. Wasm runs a single global timer so what you see is that ticker. TCP MX requires bytes to be sent first so we can't register the connection open immediately, so it waits 15s to check again.

[2022-11-04 21:08] kyessenov commented on #41763
I think with the new tighter implementation  for native stats we can probably report it much faster. The focus was just compatibility. Let's leave this as a feature request.

cc @zirain

[2022-11-04 22:27] cpakulski commented on #41660
Config dump from gateway shows proper configuration:
[code]
I am looking at this issue and will provide update.

[2022-11-05 00:22] howardjohn commented on #41793
Need the full log, it says why it's rejected

[2022-11-05 00:54] zirain commented on #41763
FYI: https://github.com/istio/api/pull/2539

cc @kyessenov

[2022-11-05 04:37] kyessenov commented on #41763
@zirain This is different from histogram. This is referring to the delay in reporting in TCP metrics because of global timer in Wasm.

[2022-11-05 05:02] #38590 closed

[2022-11-05 05:02] #39969 closed

[2022-11-05 05:02] #39989 closed

[2022-11-05 05:02] #40058 closed

[2022-11-05 06:14] #40078 closed

[2022-11-05 07:08] gojanpaolo commented on #41793
@howardjohn Do you mean the full log of the `istio-proxy`? Do we also need to turn on some verbosity/debug log setting? I'll search through the docs to answer those questions myself but I'd appreciate if you get back to it first. Thanks!

[2022-11-05 07:57] zirain commented on #41763
how can you configure this after switch to native stats?

[2022-11-05 08:26] ramaraochavali commented on #41793
full log of proxy is sufficient

[2022-11-05 08:27] zirain commented on #41793
I think a config_dump is better, which will show `error_state`

[2022-11-05 09:26] zirain commented on #41763
@ryota2425 here is a workaround, edit the envoyfilter as follow:

![image](https://user-images.githubusercontent.com/4354057/200113007-47dc34e0-a65a-40d4-aa82-fb88a1865b0e.png)

[2022-11-05 10:20] wuxin001 opened #41814 "stability of envoy consistent hash(ring hash)"
When I added a node I found that the ring_size didn't change, but the hashes per node became less. (For example: when I set the minimum_ring_size to 12, and the targets are expanded from 2 to 3, the hashes of each node are changed from 6 to 4) This will lead to the problem of consistent hash stability.

[2022-11-05 18:25] JJRdec commented on #25078
Is this still the case? I can't apply authorization policy to workload entry. Documentation refers to destination rule and virtual service features being compatible, but not AP feature!

[2022-11-06 01:28] chinaran commented on #40577
@auswells Thank you.

[2022-11-06 07:04] astronaut0131 commented on #41760
The pull request(https://github.com/istio/istio/pull/41761) is merged. Now proxy-config works well with PrivateKeyProvider.

[2022-11-06 07:04] #41760 closed

[2022-11-06 15:03] Osazz opened #41818 "Installing ingressGateways in another namespace different from controlplane revision namespace"
### Bug Description

I am installing ingressGateways in a different namespace (public-istio-ingress) to controlplane (istio-system). After ingress pod comes up, it failing to fully start because it is trying to connect to `istiod.istio-system.svc:15012` instead of `istiod-1-10-6.istio-system.svc:15012`.

I am using revision to install

**Service and Pod in istio-system namespace**

[code]

**Servi

[2022-11-07 00:48] st33v commented on #41703
thanks @howardjohn that's exactly what I was looking for.

[2022-11-07 00:48] #41703 closed

[2022-11-07 01:35] hzxuzhonghu commented on #39969
Fixed document

[2022-11-07 02:00] hzxuzhonghu commented on #41790
I will take a look

[2022-11-07 02:37] hzxuzhonghu commented on #41790
This is wrong if err != nil
[code]

[2022-11-07 03:35] zirain commented on #41818
1.10 is EOL, can you try with supported release https://istio.io/latest/docs/releases/supported-releases/

[2022-11-07 05:02] #39935 closed

[2022-11-07 07:44] hzxuzhonghu commented on #41787
Istio makes use of  weighted clusters to represent different subsets, currently it is not viable with VS setting to do failover between subsets.

[2022-11-07 07:46] karlhjm opened #41824 "Will workloadInstancesIPsByName cause memory leak? It seems that it has never been released"
https://github.com/istio/istio/blob/4c9775258bb08ecc103d4ac5c0894dd1c3a08375/pilot/pkg/serviceregistry/kube/controller/controller.go#L1150-L1170

Why do we only clean up "workloadInstancesByIP" and ignore "workloadInstancesIPsByName"? Are there any other considerations

[2022-11-07 08:07] chrysan55 commented on #41731
@howardjohn  Thanks for your comment !

I'm trying to build a example setup. Hopefully it helps to explain this idea.

Here is the docker compose configuration
[code]

Basiclly it's a inbound redirect scenario including only a upstream and a virtual inbound listener.

There is a simple nginx server which echoes request's source address, destination address and x-forward-to header, with conf as ngi

[2022-11-07 08:22] chrysan55 commented on #41731
I put all the configs here

https://github.com/chrysan55/origsrc-example

[2022-11-07 09:16] Gourav2912 commented on #41729
@yangminzhu By any chance did u get root cause?

[2022-11-07 09:50] hzxuzhonghu commented on #41824
These code has been refactorred, what version is it?

[2022-11-07 10:24] wang-xiaowu opened #41826 "upstream connect error or disconnect/reset before headers. reset reason: connection termination"
### Bug Description

i did not use istio gateway
our server request link is: client -> server gateway(istio proxy) -> api server(istioproxy)
and this is my server gateway's service yaml

[code]

this is api server's DR yaml
[code]

this is api server's VS yaml
[code]

WHEN i visit the api server, it shows `upstream connect error or disconnect/reset before headers. reset reason: connection terminat

[2022-11-07 10:28] He-Jingkai opened #41827 "[ambient]Which type of traffic does 0x220 and 0x210 mark?"
**Describe the feature request**
I'm trying to understand the detailed implements of ambient's network redirect and policy routing. I have some doubts on the iptables rules related with 0x220 and 0x210. The followings are the related iptables rules.
[code]

`vethfe50c7fb`is the ztunnel pod's vet pair on host, and `10.244.0.3` is ztunnel pod's IP.

My question is,
- which type of traffic does 0x220

[2022-11-07 10:47] #41827 closed

[2022-11-07 11:09] wang-xiaowu commented on #41826
This problem occurs occasionally.
maybe first it's ok, and then i vistit twice it's failure

[2022-11-07 11:27] JesperBerggren commented on #40952
Hi, what's the status on this issue?
Reading up on the status of the pull request it's not an easy fix.

In the meantime we're stuck on version 13.8, which sooner og later will become a problem.

Thanks for looking into the matter though :-)

[2022-11-07 11:47] karlhjm commented on #41824
This structure still exists in version 1.13

[2022-11-07 12:04] sudeeptoroy commented on #41666
Hi @linsun thank you for your response. I brought up my test setup to test what you mentioned. This time i added both the trustdomain to "trustdomains" variable. It did **not** work as intended. You can find the entire configuration here:
https://github.com/sudeeptoroy/spirefed/blob/main/istio/istio-conf-new-aws.yaml

i have made the following diff on top the the checked in config.

I also think t

[2022-11-07 12:24] karlhjm commented on #41824
the structure 'workloadInstancesIPsByName' exists from 1.7 to 1.13

[2022-11-07 13:45] nemethloci commented on #34015
Hi,

this issue still exists with 1.15.3:

NAT table after `systemctl start istio`:

[code]

NAT table after `systemctl stop istio`:
[code]
Those two remaining rules prevent istio service to start again. Running `iptables -t nat -F` solves the problem. Please reopen this issue.

[2022-11-07 14:56] howardjohn commented on #41824
Sounds like it's already been fixed then...?

[2022-11-07 14:57] howardjohn commented on #41818
https://istio.io/latest/docs/setup/additional-setup/gateway/ is all about this

[2022-11-07 14:57] #41818 closed

[2022-11-07 15:38] gojanpaolo commented on #41793
Thanks for the responses! Attached are the logs.
[istio-proxy.log](https://github.com/istio/istio/files/9953155/istio-proxy.log)
[config_dump.log](https://github.com/istio/istio/files/9953163/config_dump.log)

[2022-11-07 15:58] melchiormoulin opened #41829 "Datadog tracing bad host header"
### Bug Description

Hello we are using the telemetry CRD with the extensionProvider Datadog.
From mesh config :
[code]
When istio proxy is sending traces to datadog agent :
The host header is set to  the cluster name `outbound|8126||datadog-agent.sre.svc.cluster.local`
The datadog agent respond a `400` Http response code with ` Bad Request: malformed Host heade`r

### Version

[code]

### Additio

[2022-11-07 16:51] poinsetta789 opened #41830 "Use ISTIO-Ingressgateway external IP"
### Bug Description

URGENT HELP---When we started with ISTIO 2 years ago, we were able to use the external IP of the 'ingress-gateway' as the IP we point to to connect to all of our AKS cluster pods where all of our microservices are running. Sometime ago, it no longer works and we now have to point our APIM gateway to the individual IP for each pod. We also used to use KIALI which allows us to m

[2022-11-07 17:23] Titof974 commented on #41741
Is someone able to run this configuration with istio 1.15 ?

[2022-11-07 18:17] willowmck commented on #41370
They have now reported seeing the same problem with sidecar injection in that it times out waiting to get the GCP region.  Would setting `readiness.status.sidecar.istio.io/periodSeconds` to something long (e.g. 300) possibly help?

[2022-11-07 19:04] linsun commented on #41370
I think periodSeconds means: ```                    description: How often (in seconds) to perform the probe.
[code]

[2022-11-07 19:11] howardjohn commented on #41370
Any option that makes the probe just allow >300s before a pod is ready seems bad. You don't want pods to take 300s to start.

[2022-11-07 19:14] linsun commented on #41370
yep, my thought as well @howardjohn! unfortunately, our doc isn't too clear, i had to research to find out exactly what `periodSeconds` means. I'll submit a doc PR.

[2022-11-07 19:32] kyessenov commented on #41763
@zirain The new stats filter uses a per-worker timer. So it's bound to the connection rather than one big timer for all connections. So it'll be less bumpy. I was also suggesting to emit stats as soon as bytes are sent/read instead of timer.

5s is reasonable.

[2022-11-07 19:47] kyessenov commented on #41763
@zirain Should that be a telemetry API option?

[2022-11-07 21:42] linsun commented on #41666
Hi @sudeeptoroy - I tried to reproduce this based on your repo but could not. I realized my istioctl & istiod level is probably more like master's level as I had the ambient branch. Here is the output of running verify.sh - let me know if I missed anything other than we are using different istio versions.

[code]

[2022-11-07 22:00] linsun commented on #41666
@sudeeptoroy in your scenario, your two trust domains are sharing the same root cert - can you pls confirm that?  If so, there is no need to configure https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/#MeshConfig-CertificateData that @howardjohn mentioned earlier which is to add additional root cert to my understanding.

[2022-11-07 22:35] dhawton commented on #41824
Has been refactored since. Back in Feb this PR got merged: https://github.com/istio/istio/pull/37129 so it should be part of 1.14+

[2022-11-08 00:00] cpakulski commented on #41660
@edubonifs I figured out what is going on. Despite the name similarity, access log's `%REQ(...)%` is not the same as header manipulator's `%REQ(...)%`. The documentation you referred to https://www.envoyproxy.io/docs/envoy/v1.22.5/configuration/observability/access_log/usage#config-access-log-format applies only to generating access log output. For manipulating headers (what to add or remove) you

[2022-11-08 01:26] zirain commented on #41763
I think it should be, let's support this as part of v1.17, WDYT?

[2022-11-08 01:45] #40755 closed

[2022-11-08 03:11] istio-testing opened #41847 "[release-1.13] Fix GetKubernetesVersion"
Manual cherrypick required.

#41822 failed to apply on top of branch "release-1.13":
[code]

[2022-11-08 03:11] istio-testing opened #41848 "[release-1.13] Fix GetKubernetesVersion"
Manual cherrypick required.

#41822 failed to apply on top of branch "release-1.13":
[code]

[2022-11-08 03:12] istio-testing opened #41849 "[release-1.14] Fix GetKubernetesVersion"
Manual cherrypick required.

#41822 failed to apply on top of branch "release-1.14":
[code]

[2022-11-08 03:12] istio-testing opened #41850 "[release-1.14] Fix GetKubernetesVersion"
Manual cherrypick required.

#41822 failed to apply on top of branch "release-1.14":
[code]

[2022-11-08 03:19] hzxuzhonghu commented on #41847
duplicate

[2022-11-08 03:19] #41847 closed

[2022-11-08 03:27] hzxuzhonghu commented on #40952
@howardjohn What is the conclusion from WG meeting?

[2022-11-08 03:34] chrysan55 commented on #41731
I think we have confused iptables TPROXY and envoy transparent proxy. iptables TPROXY is only an  approach to redirect traffic to envoy listener socket, just like iptables REDIRECT. Envoy transparent proxy depends on not only listener socket getting the original source address with sockopt SO_ORIGINAL_DST, but also setting this IP address to upstream socket with sockopt IP_FREEBIND. IP_FREEBIND re

[2022-11-08 03:40] howardjohn commented on #41731
So your goal is to have TPROXY but without transparent proxy (a bit confusing since TPROXY literally means "transparent proxy", but fair enough), so that you get the benefits of TPROXY but without the performance implications of connection tracking? Is that right?

I had thought the opposite originally - that you wanted REDIRECT with transparent proxy

[2022-11-08 03:40] hzxuzhonghu commented on #41850
duplicate

[2022-11-08 03:40] #41850 closed

[2022-11-08 03:48] zirain commented on #41793
your proxy is ready now
[code]

[2022-11-08 03:55] chrysan55 commented on #41731
Yes, that's my purpose.

This is not my original purpose, but could be a possible implementation if we separate the configuration.
I think if we do that, these 4 interception scenarios should be all implemented:

- Mode: REDIRECT, Transparent: false // Just like what we did now
- Mode: REDIRECT, Transparent: true  // Just like above example shows
- Mode: TRPXOY, Transparent: false // conntrack-fre

[2022-11-08 05:02] #38271 closed

[2022-11-08 05:31] #37725 closed

[2022-11-08 06:07] sedflix opened #41854 "[Documentation] TUNNEL"
**Describe the feature request**

This is a request for user/usage documentation for the new TUNNEL feature introduced in the istio.

**Describe alternatives you've considered**
I've tried going through https://docs.google.com/document/d/1QbjsBwM0QyQxJIs2LJBUvITap2QeqOKmsHQrGFK9lWQ/edit?usp=sharing and https://github.com/istio/istio/blob/1aca7a67afd7b3e1d24fafb2fbfbeaf1e41534c0/tests/integration/p

[2022-11-08 06:09] sedflix commented on #41854
Thanks a ton, @jewertow for adding this feature.
(Tagging him for more visibility)

[2022-11-08 06:16] #41824 closed

[2022-11-08 07:11] #40104 closed

[2022-11-08 07:26] wang-xiaowu commented on #41826
envoy journal
[code]

[2022-11-08 07:48] istio-testing opened #41855 "[release-1.14] Refactor: renaming localCluster to configCluster"
Manual cherrypick required.

#39103 failed to apply on top of branch "release-1.14":
[code]

[2022-11-08 07:48] istio-testing opened #41856 "[release-1.13] Refactor: renaming localCluster to configCluster"
Manual cherrypick required.

#39103 failed to apply on top of branch "release-1.13":
[code]

[2022-11-08 07:49] istio-testing opened #41857 "[release-1.14] Refactor: renaming localCluster to configCluster"
Manual cherrypick required.

#39103 failed to apply on top of branch "release-1.14":
[code]

[2022-11-08 09:10] zirain commented on #41829
this seems a bug need fix from upstream, authority must be configurable if cluster is eds type.

[2022-11-08 09:16] westwind-sc commented on #36158
@ericvn and @yangminzhu, https://github.com/istio/enhancements/blob/master/features.yaml#L251-L252 said next `nextExpectedPromotion: "1.14"`, as 1.15 already released, and 1.16 is coming soon.
Could you help to take a look and check whether ok to promote it in 1.16?

Note: I try reopen this issue, but it seems we do not have permission to reopen it. Sorry for comments on closed PR.

[2022-11-08 10:15] elraoustih opened #41939 "Error "panic: runtime error: invalid memory address or nil pointer dereference" when using istio networking HTTPRoute struct"
**Bug description**
Hi,
I'm creating a custom operator in Go (using Kubebuilder). So in my CR i want to include istio [HTTPRoute](https://istio.io/latest/docs/reference/config/networking/virtual-service/#HTTPRoute) type. Here my CR def :
[code]
When i'm generating ther CRD using **istio.io/api v0.0.0-20221107183313-6f1164d46553** (with kubebuilder command "make manifest") i have an error :
[code]

[2022-11-08 10:25] melchiormoulin commented on #41829
upstream is envoy ? should i create an issue ?

[2022-11-08 10:39] ryota2425 commented on #41763
Thanks for the advices.
 I was able to get detailed TCP metrics.

<img width="1462" alt="image" src="https://user-images.githubusercontent.com/29476187/200543132-78677950-1396-45a0-adcc-7f4f5fd5e0f4.png">

It would be useful to have an API option so that users can check the data in detail.

[2022-11-08 10:59] jewertow commented on #41854
Hey, this documentation is on my todo list and I was going to do it, but this solution has some limitations and flaws. I was working recently on an [RFC](https://docs.google.com/document/d/1y_mYuB9dUoErhUjJD2EaQauDjfevIA8N) that addresses all these issues, so I was not sure whether it's worth to document it now or later.
But on the other hand, it may take long time until the RFC will be implemente

[2022-11-08 11:01] zirain commented on #41829
let's keep track here, I will send a PR to envoy.

[2022-11-08 11:04] zirain commented on #41763
plan to add an option in Telemetry API

[2022-11-08 12:12] caoyukun0430 opened #41859 "Probes are not excluded from overload manager actions"
**Describe the feature request**
We are recently testing overload manager with istio using custom bootstrap. Our scenario is to overload the ingressgateway heap_size configured via sending requests from large number of concurrent connections, then we see stop_accepting_connections/requests actions triggered and new requests will fail.
But we found stop_accepting_connections(also stop_accepting_req

[2022-11-08 12:19] ymesika commented on #41666
FWIW I also ran the **current** setup and verification scripts with istioctl `1.14.4` and `1.16.0-beta.2` and with both the sleep on AWS is able to access the helloworld v2 on the other cluster.
Not hitting that TLS error.

Running it on a Linux env with Kind 0.14.0 / kindest 1.24.0.

[2022-11-08 13:20] rudy500 commented on #41830
Hi,

I think your problem goes through this inside the operator manifest:

![imagen](https://user-images.githubusercontent.com/49110698/200574831-9c8dda27-2ac8-41a9-91ff-765e73d34c31.png)

as you can see there I pass a variable where I declare the global ip that I will always use in that gateway, then with sed I assign it by substitution at the bash level, but you can do it in the way that is conv

[2022-11-08 13:43] howardjohn commented on #39652
1.15 only and it won't be backported

[2022-11-08 13:47] sudeeptoroy commented on #41666
Hi @linsun @ymesika

the latest scripts has aliases configured for both the clusters and hence its working. I confirmed this here: https://github.com/istio/istio/issues/41666#issuecomment-1294518741

If you want to reproduce then remove "trustDomainAliases" config for both the clusters.
https://github.com/sudeeptoroy/spirefed/blob/4f92230bd0316730e951245173381c0d370fe596/istio/istio-conf-new-aws.y

[2022-11-08 14:27] linsun commented on #41666
Hi @sudeeptoroy - it is important for you to configure either trustDomainAliases or certificateData in meshconfig because Istio needs to know that the two domains can be trusted.  You should be able to apply configuration dynamically.  For example, I just modified the istio-conf-new-aws.yaml to remove the trustDomainAliases and re-apllied the config to Istio. You can see the config is applied to t

[2022-11-08 14:33] howardjohn commented on #41660
Thanks! Envoy 1.24 will be in Istio 1.16

[2022-11-08 14:33] #41660 closed

[2022-11-08 14:45] ichasco-heytrade opened #41862 "IngressGateway istiod connection error deployed with HELM"
### Bug Description

I am not able to deploy Istio with HELM charts. I am deploying the next charts:
* base
* istiod
* gateway

Istiod deploys correctly but the gateway is giving the next errors:

[code]

Istiod service:
[code]

Sometime this works, but if I have 2 replicas only works in one. I can see that it is a connectivity error through istiod. But I don't know why.
The HELM Deploy is made by

[2022-11-08 16:00] sudeeptoroy commented on #41666
Hi @linsun, thanks for trying this scenario. Changes to the istio config maps are being watched by istiod and applied. which is great, however a CRD for this would be better.

An additional point to discuss is: Do you suggest that we should use aliases for federation? I was reading through a few issues raised earlier with a similar context. It seems like a workaround. https://github.com/istio/isti

[2022-11-08 16:06] sudeeptoroy commented on #40589
I agree the documentation is not great here, i am ready to work with anyone to get this out. I have a working config here: https://github.com/sudeeptoroy/spirefed. I hope this helps for now.

[2022-11-08 16:26] jenoOvchi opened #41869 "Floating 404 error with multiple services on a single gateway"
### Bug Description

Hi!

We found a floating 404 error with multiple services on a single gateway.

Our configuration:
- Single Gateway
[code]
- Some Virtual Services in different namespaces, binded to the Single Gateway
[code]

Very often (especially in Incognito mode) when we work with our app at app.example.com Istio Gateway return 404 error to the browser. Errors comes from URL's, that have "

[2022-11-08 16:38] howardjohn commented on #41859
This would need envoy side changes to bypass certain listeners/routes/etc from the overload action.

Alternative, you could change the probing port to 15020 *I think* (haven't checked) which ends up bypassing envoy for readiness.

[2022-11-08 16:38] howardjohn commented on #41862
This looks like an underlying K8s issue, not Istio specific. Istio depends on basic Kubernetes networking to function properly.

[2022-11-08 17:01] apichick opened #41871 "Canary not being honoured when service is deployed in remote cluster"
### Bug Description

I have a multi-primary multicluster mesh with different networks. There is one service that it is only have deployed in one of the clusters. Attached to that service there is a virtual service that does a canary distributing 100 of the traffic to one service and 0 to the other one. When making a request to that service from the other cluster, it is able to reach it, but the ca

[2022-11-08 20:29] apichick commented on #41871
After rolling back to 1.11 the problem is still there

[2022-11-08 22:17] linsun commented on #41666
Hi @sudeeptoroy - yeah CRD could be better and it is easier to use, could be a potential API we standardize in Istio if there are a lot of interest and maintainers willing to do the work.

Regarding the options, given you have different root certs for the 2 trust domains (I was able to validate that), I think @howardjohn's point earlier about [MeshConfig-CertificateData](https://istio.io/latest/do

[2022-11-08 23:05] howardjohn commented on #40952
Its discussed in https://docs.google.com/document/d/1wsa06GGiq1LEGwhkiPP0FKIZJqdAiue-VeBonWAzAyk/edit as bit. But basically, there was desire to not merge https://github.com/istio/istio/pull/41062 due to the reasons mentioned in the PR. Instead, we should fix the underlying issue without changing the SidecarScope semantics, even if that means reverting the original PR that caused the regrssion.

[2022-11-08 23:12] sankarpn opened #41874 "On Oracle Linux Server 8.5: istio pods crash with Failed to execute: iptables-restore"
### Bug Description

Installed istio version 1.15.3
Deployed WebLogic Kubernetes Operator(https://github.com/oracle/weblogic-kubernetes-operator) with istio injection enabled.

The istio-init pod keeps crashing with this error.

`[opc@operator0 weblogic-kubernetes-operator]$ k logs -n ns-yotaci pod/weblogic-operator-54b5f5bcd9-shclg -c istio-init
2022-11-08T22:47:59.763888Z     info    Istio iptab

[2022-11-08 23:13] sankarpn commented on #41874
Also see these errors in kubelet logs

`Nov 08 22:29:51 master0 kubelet[49626]: I1108 22:29:51.888728   49626 scope.go:110] "RemoveContainer" containerID="9453d31596f69703eb456dbf2e1e9357415b206d4bb3b049c0cc9bcb5c29ee6b"
Nov 08 22:29:51 master0 kubelet[49626]: E1108 22:29:51.889495   49626 pod_workers.go:951] "Error syncing pod, skipping" err="failed to \"StartContainer\" for \"install-cni\" with

[2022-11-09 02:07] AtticusLv opened #41876 "[Feature Request] Set ignore_port_in_host_matching or strip_any_host_port in Istio EnvoyFilter"
**Describe the feature request**
related with the issue [Set ignore_port_in_host_matching or strip_any_host_port in Istio EnvoyFilter](https://github.com/envoyproxy/envoy/issues/23650)

How can we set route configuration with ignore_port_in_host_matching or strip_any_host_port to envoy proxy?

With EnvoyFilter, we don’t know how to config those configuration.

**The EnvoyFilter document is hard to

[2022-11-09 02:08] AtticusLv commented on #41876
#https://github.com/envoyproxy/envoy/issues/23650

[2022-11-09 02:17] howardjohn commented on #41874
Your cluster must meet these requirements: https://istio.io/latest/docs/setup/platform-setup/prerequisites/

[2022-11-09 02:20] wang-xiaowu commented on #39758
hi, can u tell the reason of the bug?

[2022-11-09 02:20] AtticusLv commented on #41876
our istio version is 1.15.2, do you mean that it works in 1.15.3?

[2022-11-09 02:21] howardjohn commented on #41876
I am probably just wrong then :-)

On Tue, Nov 8, 2022, 6:21 PM AtticusLv ***@***.***> wrote:

[2022-11-09 02:28] AtticusLv commented on #41876
haha, our purpose is to ignore port when matching cluster. You can find the conversation in [https://github.com/envoyproxy/envoy/issues/23650](https://github.com/envoyproxy/envoy/issues/23650) there.

As outbound port is a must in cluster matching, seems like ``` ignore_port_in_host_matching ``` route configuration is a choice to achieve that.

Need help for config that in EnvoyFilter.

[2022-11-09 02:28] hzxuzhonghu commented on #40952
Thanks

[2022-11-09 05:03] #40127 closed

[2022-11-09 06:26] hzxuzhonghu commented on #41876
https://github.com/istio/istio/issues/40474

[2022-11-09 06:27] hzxuzhonghu commented on #41876
Fixed by https://github.com/istio/istio/pull/40475

[2022-11-09 06:30] istio-testing opened #41880 "[release-1.15] Ignore port number in domain matching entirely"
Manual cherrypick required.

#40475 failed to apply on top of branch "release-1.15":
[code]

[2022-11-09 07:11] feimeng1029 commented on #41787
Is there any solution or configuration to solve this problem?

[2022-11-09 07:36] #40132 closed

[2022-11-09 07:43] zirain commented on #41793
[code]

[2022-11-09 08:00] Echo-Van commented on #41767
Thanks. We have solved this problem. It is indeed because the kernel module xt_REDIRECT is not enabled.

[2022-11-09 08:00] #41767 closed

[2022-11-09 08:15] senani-mayank opened #41881 "Istio Routing Fails for outbound requests if URL length is >= 8200 characters"
### Bug Description

we have encountered a bug where istio rules defined in virtual service are not honoured and request is load balanced across all pods behind that service[irrespective of which subset it belongs to], when url length is roughly 8200 characters.any requests below that are working and routed fine.also there is not error in envoy logs and it silently fails.
i have added details on h

[2022-11-09 09:39] zhaohuabing opened #41882 "Istio fail to set circuit breaker for priority: HIGH threadhold"
### Bug Description

The configuration pushed to Envoys is

[code]

The actual cluster configuration working inside Envoy is
[code]

What we expect should be like:

[code]

### Version

[code]

### Additional Information

_No response_

[2022-11-09 10:23] chenxinlong opened #41883 "Istio does not inject sidecar for pods in labelled namespace"
### Bug Description

There's two namespace with `istio-injection=enabled` label
[code]

But pods create in this two namespace does not have annotation `sidecar.istio.io/inject: "true"`.

I checked the article https://istio.io/latest/docs/ops/common-problems/injection/ , and I found the mutatingwebhookconfigurations looks a lit bit different from the article.
[code]

Is that the right webhookconfig

[2022-11-09 11:08] #41883 closed

[2022-11-09 13:14] poinsetta789 commented on #39447
Hi zhlsunshine, You have helped us in the past on another issue and was hoping I could reach out to you on another issue similar. When we started with ISTIO 2 years ago, we were able to use the external IP of the 'ingress-gateway' as the IP we point to to connect to all of our AKS cluster pods where all of our microservices are running. Sometime ago, it no longer works and we now have to point our

[2022-11-09 13:42] gojanpaolo commented on #41793
@zirain Thank you for pointing that out! I should have noticed something so obvious. We will look into that warning and update the thread.

[2022-11-09 14:16] sri53 commented on #11181
@howardjohn I can see default keepaliveMaxServerConnectionAge values is 30m in istiod deployment. I have couple of query regarding this. Can you please check the below. Thank you.

1. Is there any there any recommended values for productions.
2.  Is there any disadvantage of setting this value as 24h.
3. From the Istio document I can see the below values has default. Is that correct. I think based

[2022-11-09 14:58] Noksa commented on #40132
😢

[2022-11-09 15:08] howardjohn commented on #41876
Ah ok that is only in 1.16. Releasing next week

[2022-11-09 15:08] howardjohn commented on #41880
I don't think this should be cherrypicked, it is a risky change IMO

[2022-11-09 15:14] howardjohn commented on #11181
1. 30min :-) that is why its the default...
2. Yes, load will not balance across istiod instances for >24hrs
3. That is the default in the binary, the helm/istioctl install overrides it

[2022-11-09 15:21] howardjohn commented on #38134
Not stale

[2022-11-09 15:38] dgn commented on #38134
I started https://github.com/istio/istio/pull/41884 to make the field configurable, thanks @howardjohn for pointing me to this issue.

I agree that appending the revision would make a lot of sense, that would already cover my use case. I can change the PR to do that instead, but I feel that it could be problematic to do so by default, because it breaks the Gateway API examples if you set a revisio

[2022-11-09 15:42] howardjohn commented on #38134
Initial thought is maybe we can make `istio` apply to all revisions, and `istio-<rev>` to a specific one or something? I'll think on that a bit more to see if that actually makes sense though..

[2022-11-09 15:50] caoyukun0430 commented on #41859
Hi @howardjohn thanks for the reply! I changed the readiness probe port to 15020(http://:15020/healthz/ready), so now indeed when overload action triggered, readiness probe will not fail. I did some tests and have some questions related:
1. We did some test to cross-check 15021 and 15020 difference, we found out probe request to 15020 seems to reach only pilot-agent, while 15021 reaches envoy. In

[2022-11-09 15:54] caoyukun0430 commented on #41859
Yukun: Moreover, about this comment I have one doubt. From the code, it seems istio check admin interface if there is updated stats for readiness probe. So it there would be some improvement to bypass certain listeners/routes/etc from the overload action, how would it reflect on /stats so that istio can make use of?

[2022-11-09 15:55] howardjohn commented on #41859
Istio only checks /stats at startup; once it is ready once it never does again. I would imagine you don't hit overload before ready?

[2022-11-09 15:56] caoyukun0430 commented on #41859
Actually for us, we also configure livenss probe, so that we have real-time check on probes

[2022-11-09 15:58] howardjohn commented on #41859
I am not sure how that is relevant? Note readiness probes also probe throughout the entire pod lifetime. Istios probe (in our code) just stops hitting /stats after it succeeds once.

Whether you call that probe manually, through rediness probe, or liveness probe - doesn't matter.

[2022-11-09 16:02] caoyukun0430 commented on #41859
If agent health checking logic does check that Envoy _started_, why it is the case that after we stopped envoy, we could still get 200 OK from 15020? And also in overload condition, 15021 returns 503 but 15020 returns 200OK?

[2022-11-09 16:04] howardjohn commented on #41859
If you start+stop Envoy, then Envoy _started_. It just later exited. All we check is that the **start** part works; once it starts we stop checking it.

15020 will return 200 since it doesn't check envoy at all (after start), only the agent. 15021 will return 503 since the request goes through the envoy (which is not running)

[2022-11-09 16:15] caoyukun0430 commented on #41859
OK, I see the difference. So back to the problem, changing to port 15020 can't indicate envoy is healthy or not in overload condition because once it started, it always returns 200OK, and 15021 returns 503 which leads to probe failure.
Do you think the combination probe I proposed is an option, or is there any more probe can indicate whether envoy is live/ready in real-time after it started?

[2022-11-09 17:42] stevenctl commented on #36365
@john-a-joyce this outlines the details for updating remote secrets.

Removing secrets has issues outlined here but there are additional improvements we could make. Right now, we just immediately remove the endpoints. Ideally there would be a "drain" period where we refuse new connections for some short period of time and give existing connections a chance to finish. There is no design for how to

[2022-11-09 17:50] davesee opened #41888 "Kind installation with `example/setupkind.sh` fails due to deprecated "PodSecurityPolicy" crd"
### Bug Description

When running the `example/setupkind.sh`  script, the current `metallb` deployment fails at the end with:

[code]

This happens since the PodSecurityPolicy has been deprecated in K8s / Kind.

### Version

[code]

### Additional Information

Update the script to use the [current referenced](https://kind.sigs.k8s.io/docs/user/loadbalancer/) version of the `metallb` deployment whi

[2022-11-09 21:31] kyessenov commented on #41585
Affected by https://github.com/envoyproxy/envoy/issues/9023. Upstream races ahead of identity derivation from TLS handshake.

[2022-11-10 02:14] AtticusLv commented on #41876
is this new feature on version 1.15.3 or 1.16?

[2022-11-10 02:16] zirain commented on #41876
it should be 1.16, will release next week.

[2022-11-10 03:09] hzxuzhonghu commented on #41881
maybe related to max header size https://github.com/envoyproxy/envoy/issues/17748

[2022-11-10 03:15] vojtechmasa commented on #36333
@Monkeyanator is there possibly a plan to fix this? We need to mount writable volume to /tmp to workaround this issue. Thanks.

[2022-11-10 05:02] holooooo opened #41909 "istiod push a http2 inbound cluster to http service"
### Bug Description

Sometime we can find 502 UPE in cluster.And we find inbound cluster has a little bit wrong with what we expect.
What we expect:
[code]
What we got:
[code]
It looks like it use a same port but different protocol instance for cluster build.
https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/cluster.go#L551

### Version

[code]

### Additional Informati

[2022-11-10 05:02] #39019 closed

[2022-11-10 05:02] #39707 closed

[2022-11-10 05:02] #39943 closed

[2022-11-10 05:02] #40135 closed

[2022-11-10 05:21] kenny-tan opened #41910 "Error reported in istio-ingress after envoy filter configured"
Architecture:

- 	Ingress gateway controller component: envoy Router pod, envoy filter matched in it
- 	Ext-Proc Component: GRPC Server pod with service name envoy-ext-proc-data, external processor type extension with customization coding
- 	Istio Envoyfilter: Customized Envoy Filter in ExternalProcessor type, which grpc_service.envoy_grpc.cluster_name pointing to envoy-ext-proc-data.svc.default.c

[2022-11-10 06:58] shakunt1202 opened #41913 "TLS termination not working in 443 port kubernetes application"
### Bug Description

I am working on Istio gateways and I am facing an issue.
The issue is when we are exposing the Kubernetes application on the 443 port, it is running fine on the node port as well as the traditional ingress but when we switched to Istio gateways, only the passthrough TLS mode was allowing the traffic and other modes like SIMPLE, MUTUAL, ISTIO_MUTUAL throwing errors like:-
![thu

[2022-11-10 07:15] dimatomp commented on #33779
Here is one more simple (but a bit hacky) way to do it:
[code]

[2022-11-10 07:25] senani-mayank commented on #41881
@hzxuzhonghu here requests are not failing, just routing rules are not getting honoured.
Also, i tried increasing **max_request_headers_kb** as mentioned in https://gist.github.com/trevorbox/935327327845de2adc37942f9089cfac, still issue persists.

[2022-11-10 08:02] bueti opened #41914 "Increased pilot endpoint pushes after upgrade to GKE 1.23.8"
### Bug Description

We've upgraded a GKE Cluster from "1.22.12-gke.2300" to "1.23.8-gke.1900"

The moment the master nodes upgrade finished we saw a considerable increase of `pilot_push_triggers` of the endpoint type.
<img width="2482" alt="image" src="https://user-images.githubusercontent.com/383917/201025242-bcb23e2b-5869-400c-870f-872904a5c4bf.png">

24hr view:
<img width="2480" alt="image" sr

[2022-11-10 08:05] xcbeyond opened #41915 "there is no message field in the istio resource status field"
### Bug Description

According to the configuration of [Configuration Status Field](https://istio.io/latest/docs/reference/config/config-status/), field `message` is not found after the test.

### Version

[code]

### Additional Information

_No response_

[2022-11-10 10:12] zioproto opened #41917 "Support AKS for ambient"
### Bug Description

Installing Istio Ambient in AKS, as soon as the namespace is label istio.io/dataplane-mode=ambient the Pods lose all the connectivity.

I tracked down the problem to the geneve tunnel between the Kubernetes node and the ztunnel pod to be broken.

Doing a `tcpdump` in the `ztunnel` pod on interface `eth0` I see geneve traffic coming in, where the source IP address is the IP add

[2022-11-10 10:21] SantiMunoz opened #41918 "[v1.16.0-rc.0] Istio crashes with memory nil pointer"
### Bug Description

I'm trying the release v1.16.0-rc.0 in a new cluster, but the istiod pods are eventually failing with the following error:
[code]

I'm using the following Istio Operator, which works in our cluster running Istio 1.14.1:
<details>
  <summary>Show IstioOperator</summary>

[code]
</details>

### Version

[code]

### Additional Information

_No response_

[2022-11-10 12:23] ichasco-heytrade commented on #41862
I don't know what can be happening... The networking of K8S it seems that is working properly. It is a weird error.
Can you think of anything I can check at the istio level?

[2022-11-10 12:29] jenoOvchi commented on #41869
Thanks a lot!

We already had solved this issue by set the same hostname for the Keycloak (it's API use /auth/ prefix for all files and don't conflict with other apps), main application and other services, but your solution much more universal.

[2022-11-10 12:32] chaunceyjiang commented on #41918
I want to /assign, I am a newbie.I will try to find the cause of this problem. I'm not sure I can fix it

[2022-11-10 13:02] ichasco-heytrade commented on #41862
I have fixed. The problem was with the AWS Security Group.

If you use the EKS Terraform module, you need to add this:

[code]

 Here is very well explained:
 https://stackoverflow.com/questions/71902887/transport-error-while-dialing-dial-tcp-xx-xx-xx-xx15012-i-o-timeout-with-aws-e

[2022-11-10 13:02] #41862 closed

[2022-11-10 13:11] caoyukun0430 commented on #41859
After some internal discussion, we would like to ask if it would be reasonable to use curl http://localhost:15000/ready & curl http://localhost:15020/healthz/ready combination for ingressgateway probe to replace the probe to 15021?
The main concern is: would http://localhost:15000/ready be enough to indicate that envoy is healthy? Or to say is there any edge case that envoy is not ready to take tr

[2022-11-10 13:33] SantiMunoz commented on #41918
Thanks @chaunceyjiang for taking care of it 🙇
Do you know how can we avoid this issue? is there any workaround while we wait for the fix to be released?

[2022-11-10 13:55] desperateBob commented on #40726
Solved this issue: was a problem with configuration, not a bug.
Command ` istioctl pc clusters` is very helpful to check if the cluster exists.

[2022-11-10 13:55] #40726 closed

[2022-11-10 14:26] hazim1093 opened #41921 "Unable to access external URL without ServiceEntry"
### Bug Description

We have istio v1.15.3 setup via helm (flux).
After enabling mTLS via a custom CA (cert-manager), our gateways cannot talk to services not part of the mesh. It works fine for services that have a sidecar.

In the gateway logs, we get a 503 and `cluster not found` error. It works if we create a ServiceEntry resource for such a service, and hence it discovers the "cluster" endpoi

[2022-11-10 14:50] dddddai commented on #41918
Sorry it was my bad..

I think you enabled `PILOT_FILTER_GATEWAY_CLUSTER_CONFIG`? You can disable it as a temporary workaround

[2022-11-10 14:59] SantiMunoz commented on #41918
Thanks for the insights @dddddai, I see the fix will be part of the 1.16 final release isn't it? otherwise we will disable `PILOT_FILTER_GATEWAY_CLUSTER_CONFIG` temporary

[2022-11-10 15:28] howardjohn commented on #41859
No, its not, that is why we don't use it. The 15000 port is served by an entirely isolated admin thread that is not related to the data path real requests flow through. It is also prone to timeouts due to XDS spikes.

[2022-11-10 15:33] #41918 closed

[2022-11-10 15:42] sudeeptoroy commented on #41666
Hi @linsun , i am trying to build on this pattern: https://istio.io/latest/docs/ops/integrations/spire/
The above do not require MeshConfig-CertificateData, spiffeBundleUrl or certSigners in caCertificates. Additionally if you look at my setup I am trying to offload all the cert management to spire and i am using istio for only service discovery.
Do you think the suggested configurations make sens

[2022-11-10 16:39] SantiMunoz opened #41924 "Connections not recreated when a custom certificate is renewed"
### Bug Description

Hello,

**TL.TR**
We use a custom certificate that we load to the istio-proxy through a volume. The problem we are facing is that when this certificate gets renewed, the istio-proxy correctly updates it in its container, and new connexions from the app is correctly using it, but the problem is with the open old HTTP connections from the app, that are using the old certificate

[2022-11-10 17:24] istio-testing opened #41927 "[release-1.15] fix: istio 1.14.3 only delete gateway resources associated with specific istiooperator CR"
Manual cherrypick required.

#40578 failed to apply on top of branch "release-1.15":
[code]

[2022-11-10 17:24] istio-testing opened #41928 "[release-1.16] fix: istio 1.14.3 only delete gateway resources associated with specific istiooperator CR"
Manual cherrypick required.

#40578 failed to apply on top of branch "release-1.16":
[code]

[2022-11-10 17:55] richardwxn commented on #41262
@zirain WDYT? Can you own this if we agree on one of the approaches mentioned above

[2022-11-10 18:19] ceastman-r7 opened #41933 "istio config map looks weird but seems to work..."
### Bug Description

here is a snippet of the values.yaml that is used to do a helm install of istiod:
[code]

but the config map looks weird
kubectl get cm istio -n istio-system -o yaml

[code]

### Version

[code]

### Additional Information

_No response_

[2022-11-10 18:43] #41927 closed

[2022-11-10 19:46] kyessenov opened #41935 "switch to telemetry API by default"
Remove EnvoyFilters from the default installation and replace them with Telemetry API resource.

@zirain @lei-tang

[2022-11-10 19:50] bochengchu opened #41937 "DialOptions skips verifying certificates"
In https://github.com/istio/istio/blob/ebec74767feb6a34397ee6f23b3b2a2dc4c7c6ec/istioctl/pkg/xds/client.go#L102-L110,
DialOptions uses TLS with `InsecureSkipVerify: true`, which may have security issues.

[2022-11-10 20:02] #41928 closed

[2022-11-10 20:43] howardjohn commented on #41935
Big +1 - lots of discussion in https://github.com/istio/istio/issues/37645 from a while back

[2022-11-10 20:45] howardjohn commented on #41914
Presumably endpoints started changing more regularly... maybe some pod is crash looping after the update. The logs of istiod show why its pushing, grep for `debounce`

[2022-11-10 20:46] howardjohn commented on #41933
It doesn't look weird to me :-) what do you think is weird?

[2022-11-10 20:47] howardjohn commented on #41888
I think this is fixed on master?

[2022-11-10 20:48] howardjohn commented on #41909
Istio 1.11 is EOL, please upgrade and re-open if it still ha ppens. We have changed this code since then.

[2022-11-10 20:48] #41909 closed

[2022-11-10 20:51] zioproto commented on #41917
I confirm I was able to make it work on AKS using `HOST_IP` passed from the environment in the init container like it is already defined:

https://github.com/istio/istio/blob/23bfa062c7107a45e6b863c9f976cf1fd22f7e26/manifests/charts/ztunnel/templates/daemonset.yaml#L217-L220

So what I did was just deleting line 118 from my daemonSet.

https://github.com/istio/istio/blob/23bfa062c7107a45e6b863c9f9

[2022-11-10 20:53] davesee commented on #41888
You are absolutely right, my sincere apologies. Thought I had latest.

Change was here: https://github.com/istio/istio/commit/11a590c9fd2655cc5a27b7ecd254e677f867f26d

Closing issue.

[2022-11-10 20:53] #41888 closed

[2022-11-10 21:04] bueti commented on #41914
Thanks for taking the time to answer.
There are no crash looping pods or any other unhealthy behavior on the cluster that could explain the endpoint changes as far as I can tell.

looking for the debounce log messages I see a lot of similar changes in very short time:
<img width="1516" alt="image" src="https://user-images.githubusercontent.com/383917/201205360-d4d0c905-0a89-41da-ba98-90c743331849.

[2022-11-10 21:05] bochengchu opened #41938 "newJwksResolverWithCABundlePaths in istio/pilot/pkg/model/jwks_resolver.go is unsafe"
In https://github.com/istio/istio/blob/791648f73e05ab85cb358a56d81c244da489b466/pilot/pkg/model/jwks_resolver.go#L170,
it uses TLS with `InsecureSkipVerify: true` which may have security issue.

[2022-11-10 21:07] howardjohn commented on #41914
I think that is just looking at a bunch of istiods. So its 1 event being handled by 10 pods. Id look a single istiod pod

[2022-11-10 21:09] bueti commented on #41914
makes sense, sorry. here the logs for one pod for 5 minutes:
[Explore-data-2022-11-10 22 08 55.csv](https://github.com/istio/istio/files/9984643/Explore-data-2022-11-10.22.08.55.csv)

[2022-11-10 21:15] howardjohn commented on #41914
Its still thanos-sidecar-grpc. I don't know what it is - you could try `kubectl get pod POD -w -oyaml` and see what is changing, or the same with the Service/Endpoints

[2022-11-10 21:34] bueti commented on #41914
Its late here, I’ll have a look tomorrow and see if I can pinpoint where these changes are coming from.
its not just thanos, pretty much all deployments on the cluster are generating a lot more changes than before. The pods however are all in good shape and nothing changed except for the kubernetes version.
on a cluster with the same workloads but smaller scale this does not happen.

[2022-11-11 00:59] zirain commented on #41262
ok, I will take a look

[2022-11-11 02:03] hzxuzhonghu commented on #41937
Istio-agent already verify, this function is used only by istioctl, so looks good.

[2022-11-11 02:39] hzxuzhonghu opened #41940 "DiscoverySelector should also take effect on gateway controller namespaces"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[ ] Ambient
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and

[2022-11-11 02:42] hzxuzhonghu commented on #41924
I donot think we provide a way to rotate cert already used by a connection. But we provide a way to force connection close.

[2022-11-11 02:49] hzxuzhonghu commented on #41921
Where is `helloworld.mc-poc-stable.svc.cluster.local` service?

[2022-11-11 05:02] #38839 closed

[2022-11-11 05:02] #39999 closed

[2022-11-11 05:02] #40160 closed

[2022-11-11 06:14] #41855 closed

[2022-11-11 06:14] #41856 closed

[2022-11-11 06:14] #41857 closed

[2022-11-11 06:15] #41848 closed

[2022-11-11 06:23] bueti commented on #41914
There don't seem to be any changes happening when istio discovers a change. Can you elaborate on how istio is notified about these changes? Is it listening to some kubernetes api?

[2022-11-11 06:38] 4c74356b41 commented on #41917
I tried with a blank template and for me `.Capabilities.KubeVersion.GitVersion` resolves to `v1.24.0` so yeah, not sure how to check if we are running on AKS. but using the same fix doesnt work for me. even if I hardcode `host_ip`. can you share the command you used to create your cluster?

[2022-11-11 07:06] dddddai commented on #41918
Yes the fix has been cherry picked to 1.16 branch and should be shipped in 1.16 release

[2022-11-11 07:08] #41829 closed

[2022-11-11 07:12] lptarik opened #41942 "Error dispatching received data: http/1.1 protocol error: HPE_INVALID_HEADER_TOKEN"
### Bug Description

Hello I am getting error upstream_reset_before_response_started{protocol error} for my request. Is there anyone who can help me? I checked for transfer encoding chunked but it seems that is not the issue

### Version

[code]

### Additional Information

[code]

[2022-11-11 07:58] rishabhgargg opened #41943 "Traffic forwarded to only one backend service inspite of having different hosts and targets in virtual services"
Issue :

I have two k8s services"neo4j-standalone.namespace1.svc.cluster.local" and "headless-neo4j.namespace2.svc.cluster.local".
I am using istio-ingress gateway to access the UI on https and logging inside that on tcp, based on two different hostnames "subDomain1-neo4j.domain.com" and "subDomain2-neo4j.domain.com" respectively.

While trying to hit from gateway, TCP traffic is forwarded to only

[2022-11-11 08:19] zioproto commented on #41917
I created the cluster from the Azure Portal, I just selected Azure CNI and I kept all the default options. I used 2 nodes `Standard_DS2_v2`.

After I patched the `ztunnel` daemonSet I also restarted all the `istio-cni-node` pods:
[code]

What do you mean exactly for " doesnt work for me" ? What exactly is not working ?

The way I am testing is creating a pod:
[code]

Then from this pod I try to cu

[2022-11-11 08:25] 4c74356b41 commented on #41917
I'm testing using this blog post: https://istio.io/latest/blog/2022/get-started-ambient/

[code]
everything works fine before I run the last command. I can access bookinfo application using ingress gateway. as soon as I label it - things stop working. i did try deleting all the pods in the `istio-system` namespace. didn't help.

i just tried curling from a pod in the default namespace - it times o

[2022-11-11 08:56] kfaseela commented on #41735
A similar request in envoy has been discussed and I see some possible approaches suggested there. Wanted to know if something similar is possible on istio side as well .  https://github.com/envoyproxy/envoy/issues/22130#issuecomment-1194436091

The comment says "Could we put that translation mechanism into the Prometheus sink code, as an off-by-default option? Why would a third process be needed?

[2022-11-11 08:59] zirain commented on #41735
users can drop/relabel when prometheus scraping

[2022-11-11 09:10] hazim1093 commented on #41921
@hzxuzhonghu The helloworld service is in the same cluster as the gateway and istiod.

[code]

[2022-11-11 09:54] cache-sk opened #41944 "Duplicate property definition in CustomResourceDefinition requestauthentications.security.istio.io"
### Bug Description

In [crd-all.gen.yaml](https://github.com/istio/istio/blob/master/manifests/charts/base/crds/crd-all.gen.yaml#L6618) is defined k8s custom resource of kind RequestAuthentication

This resource have two properties - `jwks_uri` and `jwksUri` which seams as duplicate.

Is this correct?

Both are generated as `jwksUri` in java with openapi generator and it is obviously a conflict.

[2022-11-11 10:34] zioproto commented on #41917
Hello,
I installed bookinfo and it works for me,

I tried doing a curl from a Pod inside the same namespace with:
[code]

and also it works using the public IP address of the istio-ingressgateway from outside of the cluster.

Can you share the the script of the initContainer of your ztunnel daemonSet ? you can pull it out of the cluster like this:

[code]

and also the `env` part:
[code]

thanks

[2022-11-11 11:11] ymesika commented on #41666
@sudeeptoroy The meshconfig caCertificates that @linsun suggested can hold a spiffeBundleUrl that will return a JWK with the trust bundle or the root CAs PEMs.
Unfortunately both don't have a good documentation / examples currently and I'm also experimenting with similar configurations and will be glad to share the details and contribute the missing documentation once I have it working on either w

[2022-11-11 11:45] leefernandes commented on #28988
Are there plans to support forwarding the request body to the Check function?  This is available in the EnvoyFilter.

[2022-11-11 11:49] leefernandes commented on #31182
Is it possible to match on rules with the EnvoyFilter as is possible with Authorization Policies?

[code]

[2022-11-11 12:03] leefernandes commented on #26805
Isn't the problem with using Authorization Policy that it does not support request body?

https://github.com/istio/istio/issues/28988

[2022-11-11 12:57] zioproto commented on #41917
@4c74356b41 here my full example:

Create the AKS cluster
[code]

Install istio Ambient:
[code]

Edit the DaemonSet:
[code]

remove the line:
[code]
and save

restart the istio-cni pods:

[code]

Install bookinfo and label the namespace for Ambient:
[code]

Everything is working as expected after these steps. In the `ztunnel`pods I also see the log lines with the requests to the bookinfo applicati

[2022-11-11 13:16] leefernandes commented on #27790
It would be helpful to callout that AuthorizationPolicy doesn't support with_request_body, so it's not a 1-1 replacement for EnvoyFilter

[2022-11-11 13:52] leefernandes commented on #31182
How do you put AuthorizationPolicy in front of the EnvoyFilter in order to use path rules?

[code]

[2022-11-11 14:04] #41159 closed

[2022-11-11 14:07] leefernandes commented on #31182
For anyone else finding this issue while trying to support request body parsing in their Check method, it's supported by AuthorizationPolicy now with the [includeRequestBodyInCheck](https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/#MeshConfig-ExtensionProvider-EnvoyExternalAuthorizationGrpcProvider) option.

[code]

[2022-11-11 14:08] leefernandes commented on #26805
request body is now supported by AuthorizationPolicy, see here. https://github.com/istio/istio/issues/31182#issuecomment-1311735880

[2022-11-11 14:09] leefernandes commented on #28988
request body is now supported by AuthorizationPolicy, see here. https://github.com/istio/istio/issues/31182#issuecomment-1311735880

[2022-11-11 14:27] istio-testing opened #41949 "[release-1.16] Fix for unhandled erros"
Manual cherrypick required.

#41902 failed to apply on top of branch "release-1.16":
[code]

[2022-11-11 14:54] senthilrch commented on #28988
@leefernandes the reference you've provided is to add support for sending the request body to the ext_auth server and performing some checks when forwarding the request to the ext_auth server.

This issue is about adding support for request body in the AuthZ checks performed by Istio. Nevertheless this issue cannot be fixed in Istio because Envoy's in-built filters do not support it.

[2022-11-11 15:03] bueti commented on #41914
I still couldn't figure out from where the increased config changes are coming.

to visualize the increase of pilot pushes from k8s 1.22 vs 1.23. We get 10 times the changes that are pushed than before.

<img width="2145" alt="image" src="https://user-images.githubusercontent.com/383917/201367181-5f54a919-91d4-45c0-acd0-d0e4a7abb408.png">

[2022-11-11 15:08] howardjohn commented on #41914
It's watching the api server pod, endpoints, and service. It's almost certain one of those is changing.

[2022-11-11 15:15] ceastman-r7 commented on #41933
this:
    - envoyFileAccessLog:

vs
    - name: localtrace

[2022-11-11 15:15] ceastman-r7 commented on #41933
I was expecting it to be:
     - name: locallog

[2022-11-11 15:18] howardjohn commented on #41933
It's just yaml keys being reordered

[2022-11-11 15:28] ceastman-r7 commented on #41933
ok thanks for the confirmation.

[2022-11-11 15:28] #41933 closed

[2022-11-11 15:52] howardjohn commented on #41735
IMO offering even the ability to change the schema is harmful; we lose the
fact that istio_requests_total (and similar) mean the same thing for every
Istio user. This breaks integrations, docs, shared knowledge, etc

On Fri, Nov 11, 2022 at 1:00 AM zirain ***@***.***> wrote:

[2022-11-11 17:32] istio-testing opened #41954 "[release-1.13] Check if metadata endpoint is available and trigger Gcp requests concurrently"
Manual cherrypick required.

#40105 failed to apply on top of branch "release-1.13":
[code]

[2022-11-11 17:32] #41954 closed

[2022-11-11 17:33] istio-testing opened #41956 "[release-1.13] Check if metadata endpoint is available and trigger Gcp requests concurrently"
Manual cherrypick required.

#40105 failed to apply on top of branch "release-1.13":
[code]

[2022-11-11 17:33] lei-tang commented on #41735
I concur that these are APIs. If they need to be changed, the procedure of deprecating APIs should be followed.

[2022-11-11 17:34] #41956 closed

[2022-11-11 17:54] istio-testing opened #41958 "[release-1.14] Fix sync issue in GCP platform"
Manual cherrypick required.

#40700 failed to apply on top of branch "release-1.14":
[code]

[2022-11-11 17:56] istio-testing opened #41959 "[release-1.15] Fix sync issue in GCP platform"
Manual cherrypick required.

#40700 failed to apply on top of branch "release-1.15":
[code]

[2022-11-11 18:15] dhawton commented on #41958
https://github.com/istio/istio/pull/41960

[2022-11-11 18:42] sudeeptoroy commented on #41666
Thank you @ymesika for spending time on this.  I will wait for your results and suggestions.

[2022-11-11 18:46] ericvn commented on #38346
Still an issue?

[2022-11-11 20:38] ceastman-r7 opened #41964 "Help requested - Telemetry logging filters"
### Bug Description

Need help creating an expression for the telemetry access log filter to accomplish the following:

response_code >= 400
or
upstream_cluster = BlackHoleCluster
or
upstream_cluster = PassthroughCluster

### Version

[code]

### Additional Information

_No response_

[2022-11-11 20:39] #41958 closed

[2022-11-11 20:39] dhawton commented on #41959
https://github.com/istio/istio/pull/41963

[2022-11-11 20:39] #41959 closed

[2022-11-11 21:03] frankbu opened #41965 "gateway-api: httproute without backendRefs generates invalid virtualservice"
### Bug Description

The gateway-api conversion code adds an abort fault when an httproute has no backendRefs:

https://github.com/istio/istio/blob/8538a957dc3d86f985f57434bf69b8d7afecb0bd/pilot/pkg/config/kube/gateway/conversion.go#L352

The result is a virtualservice with no routes, which is invalid.

For example, this httproute:
[code]

generates this vs:
[code]

The httproute's status field do

[2022-11-11 21:10] frankbu commented on #41965
Maybe instead of adding abort fault, should be adding directResponse?
[code]

[2022-11-11 22:46] #41935 closed

[2022-11-11 22:59] dhawton commented on #41880
Agreed.

[2022-11-11 22:59] #41880 closed

[2022-11-11 23:14] ashishjullia commented on #41943
@rishabhgargg

It is actually and currently (might not be in the future as well because of the TCP L4 concept).

Here is the StackOverflow reference as well, [first comment](https://stackoverflow.com/questions/59564553/multiple-tcp-services-are-not-routed-properly-based-on-the-hosts-field).

+ It is also mentioned in the istio documentation, [L4MatchAttributes](https://istio.io/latest/docs/referen

[2022-11-11 23:16] rishabhgargg commented on #41943
Gotcha! Thanks @ashishjullia

[2022-11-11 23:16] #41943 closed

[2022-11-12 01:17] dddddai commented on #41965
I think this logic is based on the [old spec](https://github.com/kubernetes-sigs/gateway-api/blob/v0.4.3/apis/v1alpha2/httproute_types.go#L191-L194), while the current spec does not(clearly) tell what we should be doing if there's no backendRefs?

[2022-11-12 05:02] #40169 closed

[2022-11-13 05:02] #40187 closed

[2022-11-13 20:54] ichasco-heytrade opened #41975 "Istio proxy accessLogs in HELM"
### Bug Description

I am trying to publish the proxy logs with the HELM chart. But I am not able.

I have enable them here;

[code]

Installing it with `istioctl` it worked, but with HELM it doesn't

### Version

[code]
[code]

[2022-11-13 21:28] ichasco-heytrade commented on #41975
Sorry, it was in:
[code]

[2022-11-13 21:28] #41975 closed

[2022-11-14 02:23] hzxuzhonghu commented on #41921
Since the service is a inner  service, why would you say `Unable to access external URL`. Could you elaborate a little bit more

[2022-11-14 07:25] zhlsunshine commented on #37622
Hi @devenderkamble2101 Yes, Istio proxy can support the only IPv4 or only IPv6 separately, however, dual stack is different with handle them separately. There already is an issue to trace this here: https://github.com/istio/istio/issues/40394

[2022-11-14 09:14] Ongy opened #41977 "AuthorizationPolicy/CustomProvider does not recover when outside istioNamespace"
### Bug Description

When a custom provider for an AuthorizationPolicy is parsed and the `service` doesn't exist yet, istiod reports errors like

When the service is instantiated later, I see different behaviour depending on which namespace the AuthorizationPolicy applies to.

### In istioNamespace

When the rule lives inside the chosen `istioNamespace` and applies to the Gateway the Authorization

[2022-11-14 09:17] hazim1093 commented on #41921
I meant services that are not part of the mesh, but still in the cluster.  So "mesh-external" services, I understand it creates a bit of a confusion.

[2022-11-14 11:59] SantiMunoz opened #41978 "mTLS not working with Sidecar defined"
### Bug Description

Hello,
We are testing the usage of [Sidecar](https://istio.io/latest/docs/reference/config/networking/sidecar/) to reduce the Envoy config loaded in the proxy, and we identified that the mTLS stops working between two pods and the traffic start using the Passthrough cluster.

The Sidecar config we are testing is this one:
[code]
We have the app `kubium` with a Service named `k

[2022-11-14 12:28] jiayong-zhou opened #41979 "Besides removing the tag,is there a more elegant way to reduced the metrics?"
Currently the memory of envoy can be effectively reduced by trimming the unneeded metric/tags. I have implemented the feature through istio's documentation. But I found that when I only need to keep a small number of tags, I need to write a large number of remove tags, causing my iop length to reach 600 lines.
The current part of the metrics I only need to keep two tags, the rest of the metrics do

[2022-11-14 14:03] reddymh opened #41980 "Validate route for every match defined in VirtualService"
### Bug Description

Currently virtual service without route for match is getting created without any validation error but in the istiod log we are seeing validation error and getting all virtual services 404 not found error.

**vs.yaml:**

[code]

**Validation Error in Logs:**

2022-11-14T13:20:36.030943Z	info	ads	RDS: PUSH for node:fluentbit-fluent-bit-5vkv8.telemetry-ns resources:49 size:54.1kB

[2022-11-14 14:05] reddymh commented on #41980
virtual service with match but no route is defined causing all the virtual services throwing 404 error and there os no validatio for this

[2022-11-14 14:37] zioproto commented on #41917
@howardjohn I see in commit b2e658b58cae8c6c399f4e3f7da79a1a5742fae0 you removed specific profiles for AWS and GKE in favour of "autodetect". I am not really sure how to autodetect AKS here. What is the plan here to support multiple managed Kubernetes platforms ? thanks

[2022-11-14 14:45] eigokor commented on #41913
If you test-app listens on TLS you have to add DestinationRule that will instruct mesh to initiate TLS connection to your app

[code]

[2022-11-14 15:32] SantiMunoz commented on #41924
How can I force the connections to be closed in this scenario?

[2022-11-14 16:56] howardjohn commented on #33967
This was apparently fixed in gRPC (https://github.com/cockroachdb/cockroach/issues/89968#issuecomment-1312581978)

[2022-11-14 17:08] zohebs341 opened #41987 "istio - 1.13.9 - transport: Error while dialing dial tcp: lookup istiod.istio-system.svc on 10.96.5.5:53: read udp 10.x.x.x:47243->10.96.5.5:53: i/o timeout""
Hi Team,

I've deployed istio 1.13.9 in Oracle Kubernetes(v1.23.4). Istio ingress & istiod pods are running and even application pods are running. However, from istio ingress pod logs, I see the below errors.

warning envoy config    StreamSecrets gRPC config stream closed: 2, failed to generate secret for default: failed to generate workload certificate: create certificate: rpc error: code = Unav

[2022-11-14 17:31] zohebs341 commented on #41987
@howardjohn Hi John, can you please assist me with this?

[2022-11-14 17:33] howardjohn commented on #41987
This is a lower level Kubernetes issue. We need DNS to work as a dependency for Istio. DNS is not working in your system.

[2022-11-14 17:38] zioproto commented on #41917
For AWS I understand you are using the helm built-in `(.Capabilities.KubeVersion.GitVersion | contains "-eks")` for the `ztunnel` daemonSet template. This is because the EKS clusters return a string that contains "eks".

How are you autodetecting GKE ? I dont understand from the code.

[2022-11-14 17:40] howardjohn commented on #41917
I think its also `.Capabilities.KubeVersion.GitVersion | contains "-gke"`?

[2022-11-14 18:00] zioproto commented on #41917
OK. I understand now that for the `ztunnel` the gke autodetection is not needed:

https://github.com/istio/istio/blob/23bfa062c7107a45e6b863c9f976cf1fd22f7e26/manifests/charts/ztunnel/templates/daemonset.yaml#L117-L119

but I found the `.Capabilities.KubeVersion.GitVersion | contains "-gke"` elsewhere in the code.

The problem I have is that AKS does not add any `-aks` string to the `GitVersion:"v

[2022-11-14 20:20] ymesika commented on #41666
@sudeeptoroy I tried to dive into code and Envoy configuration with the setup that has SPIRE to handle the certificates management. I agree with your comment that one would expect that once you have the SPIRE integration in place the configuration will also be dynamic.
While it's true for the RootCA secret for the sidecar which is being set correctly with the trust bundles of the two trust domains

[2022-11-14 20:25] SatishReddyBethi commented on #39632
I am having a similar problem. Can we please reopen this issue?
/reopen

[2022-11-14 21:42] georgew5656 opened #41993 "Migrating CA Certificates"
I'm running into the CA validation issue described in: https://github.com/istio/istio/issues/38049

The deployment is on a EKS cluster with proxy containers.

The root certs I was using were generated with openssl 2.8.x using SHA1.

I'm trying to figure out the best way to migrate this cert to SHA2 without having to restart all the pods in the cluster to grab the new certificate. Is there anyway I

[2022-11-15 02:33] hzxuzhonghu commented on #41924
by setting connection idle timeout

[2022-11-15 02:52] tangmengqiu commented on #38592
still an issue

[2022-11-15 03:24] dddddai commented on #41980
I can't reproduce this, the validation is here
https://github.com/istio/istio/blob/1.14.1/pkg/config/validation/virtualservice.go#L254

[2022-11-15 04:12] zirain commented on #41964
[code]

[2022-11-15 04:54] ramaraochavali commented on #41924
idle timeout does not really help in a heavily used system. One way we have solved this is to set [max_connection_duration](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/protocol.proto#envoy-v3-api-field-config-core-v3-httpprotocoloptions-max-connection-duration)

[2022-11-15 05:02] #38610 closed

[2022-11-15 05:02] #40131 closed

[2022-11-15 05:03] #40177 closed

[2022-11-15 05:03] #40193 closed

[2022-11-15 06:24] vvxxvvxx opened #41998 "nil pointer dereference risk in the codes"
### Bug Description

As from this line `ar, err = kube.AdmissionReviewKubeToAdapter(out)`, when err!=nil, ar is nil. But in the later `if err != nil `, it doesn't return but continue to `reviewResponse = wh.inject(ar, path)`. https://github.com/istio/istio/blob/3212db4eb19ef8235c1e2cf8f6fe2114d62f2983/pkg/kube/inject/webhook.go#L959

So when `ar` which is a nil passed into the function `wh.inject(

[2022-11-15 06:49] shakunt1202 commented on #41913
Still not working.
One more thing - we use Nginx reverse proxy for our DNS.

[2022-11-15 06:49] shakunt1202 commented on #41913
The question is
1 - Is it possible for an application running on the 443 port and still be exposed via TLS termination in Istio?
Because I have not seen this combination anywhere its always app on the 80 port and 443 TLS on Istio or the 443
port and passthrough mode.

2 - How can we perform path-based routing in passthrough TLS mode?

Please look into this and help me out.

[2022-11-15 08:25] SantiMunoz commented on #41924
Great thanks both of you!

[2022-11-15 08:25] #41924 closed

[2022-11-15 09:10] jdomag opened #42001 "numTrustedProxies set per istio ingress gateway"
I have couple of ingress gateways serving traffic for different use cases  - some gateways terminates SSL and are exposed in AWS via NLB (passthru), some of them are exposed via ALB that terminates SSL. Those two use cases require setting different value of `numTrustedProxies` for each gateway, however the documentation says it's a global parameter. Would be nice to be able to set in `components.i

[2022-11-15 09:13] zirain commented on #42001
I think ProxyConfig would help https://istio.io/latest/docs/reference/config/networking/proxy-config/

[2022-11-15 09:23] reddymh commented on #41980
@dddddai  I am able to create the below virtual service without any validatio error but in the log file I am seeing the validation errors.
istio ValidatingWebhookConfiguration should not allow to create the virtual service object ad throw the validation error which is not happening and able to the validation error log after creation which is blocking all the virtualservice with 404 error.

**Conte

[2022-11-15 09:30] SerhiiPodlesnyi commented on #41792
I tried this setup. It doesn't work for me as well.

[2022-11-15 09:36] dddddai commented on #41980
I did try creating [the vs](https://github.com/istio/istio/issues/41980#issue-1448129061) but I got a validation error correctly
[code]
Could you please check if your validation webhook is working?

[2022-11-15 09:43] chaunceyjiang commented on #41980
From your error message, it seems that your version of istio is not 1.14.1.

https://github.com/istio/istio/blob/1.14.1/pkg/config/validation/virtualservice.go#L255

[2022-11-15 09:50] whalecold opened #42002 "the env variable ISTIO_DELTA_XDS not take affect"
### Bug Description

I add the env variable ISTIO_DELTA_XDS to the pilot-discovery by the [document](https://istio.io/latest/docs/reference/commands/pilot-discovery/#envvars), but it not take affect in actually. The api_type in the BootstrapConfigDump config is `GRPC`, but `DELTA_GRPC ` is expected.

[code]

### Version

[code]

### Additional Information

_No response_

[2022-11-15 09:52] chaunceyjiang commented on #41980
I can't reproduce this issue,my version of isio is 1.14.1.
![image](https://user-images.githubusercontent.com/17962021/201887818-fcc76e05-89cd-43a0-a19e-be98c5c6d3b4.png)

[2022-11-15 09:56] reddymh commented on #41980
@dddddai @chaunceyjiang we are using the below docker version of istiod and istio gateway
istio-gateway: docker.io/istio/proxyv2:1.14.1
istiod: docker.io/istio/pilot:1.14.1

[2022-11-15 10:12] liuqi-sun opened #42004 "GenCSRTemplate"
I changed the Organization and CommonName fields, but they were not in the generated certificate.As follows:

![image](https://user-images.githubusercontent.com/48784730/201892201-bf89e528-8aa3-47ac-9882-35521be02759.png)

The Subject field in the certificate is still the URI in the Subject Alternative Name. As follows:
![image](https://user-images.githubusercontent.com/48784730/201892712-9474e19d

[2022-11-15 10:22] chaunceyjiang commented on #42004
Can you give me a minimum reproduce step?

[2022-11-15 10:40] liuqi-sun commented on #42004
It's easy
1. Set IsDualUse to true
2. Modify the GenCSRTemplate function as shown in the image above
3. Configure istio-sidecar-injector cm to set env OUTPUT_CERTS

[2022-11-15 10:42] zirain commented on #42002
do you set `proxyMetadata` in meshconfig or via ProxyConfig/annotation?

[2022-11-15 11:04] irregular-ferret opened #42005 "Istioctl analyze produces error [IST0128] when using credentialName field in destination rules"
### Bug Description

We have multiple configurations of destination rules using the credentialName to inject certificate details into our egress-gateway workloads.

Configuration 1:

mode: SIMPLE
credentialName injects custom root CA only

mode: MUTUAL
credentialName injects custom root CA and client key and certificate

`Error [IST0128] (DestinationRule  [REDACTED]) DestinationRule  [REDACTED] in

[2022-11-15 11:19] whalecold commented on #42002
I don't set proxyMetadata in the configmap of `isito`,  i try it and it is successful.  I think the env variable alse should take affect.

[2022-11-15 12:03] #41998 closed

[2022-11-15 12:16] bueti commented on #41914
I was able to narrow down the increase in changes to a configuration issue in one of our services[1]. Fixing the selector on the service reduced the volume of changes considerable.

I think this is related to [EndpointSlices](https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/) on Kubernetes. I noticed that the "classic" endpoint only returns targets that have the ip/port comb

[2022-11-15 12:54] zioproto commented on #41917
It seems this platform detection based on `GitVersion` is very fragile for AWS EKS:
https://github.com/aws/containers-roadmap/issues/1404

[2022-11-15 14:27] frankbu commented on #41965
@dddddai Yes, I see what you mean. The spec is not clear on this now. I think that my best guess would be that it should be returning 500 now (not 503). Either way, I think we need to fix the implementation to do something other than injecting a fault, since that is causing an invalid virtual service to get generated.

[2022-11-15 14:29] linsun commented on #41666
Thanks @ymesika! Given in the case of spire, the spire agent is acting as ca client to get the certs signed directly from spire server without Istiod involved, and all we need is to have Istiod to send configuration to configure the proper URI exact validation in envoy, I think configuring `trustDomainAliases` is the right approach in the case of spire as CA which configures the proper URI exact v

[2022-11-15 14:59] howardjohn commented on #41917
Looks like they reverted it specifically because it broke folks doing what we do above, which gives me some confidence it will work? Worst case if they change it we could modify the logic. I don't see any other mechanism to detect it

[2022-11-15 15:35] alfredkrohmer opened #42009 "Add documentation for Istio support for gRPC's proxyless service mesh features"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

This blog post is one of (or the) only examples I can find for Istio support for gRPC's proxyless service mesh features:
https://istio.io/latest/blog/2021/proxyless-grpc/

I can't find anything in the official documentation at: https://istio.io/lat

[2022-11-15 15:41] alfredkrohmer opened #42010 "Sidecar injection should work with hostNetwork when injecting grpc-agent"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

[This blog post](https://istio.io/latest/blog/2021/proxyless-grpc/) states that grpc-agent injection can be enabled for a pod by adding the `inject.istio.io/templates: grpc-agent` annotation. However, this doesn't work on pods with `hostNetwork: tr

[2022-11-15 16:08] #41763 closed

[2022-11-15 16:20] ceastman-r7 commented on #41964
@zirain But that doesn't log the entries going to the BlackHoleCluster nor the PassThroughCluster

[2022-11-15 16:44] 4c74356b41 commented on #41917
other option would be to have a value for this? because it looks like as it is today you cant detect AKS which is top 3 managed kubernetes out there

[2022-11-15 16:47] howardjohn commented on #41917
We can have an explicit option but on platforms that detect we should as well. I am almost certain that most AKS users will try to install it without the flag, it will fail, and then they will be confused. So auto-detection is critical.

[2022-11-15 17:26] vix633 commented on #35283
not stale

[2022-11-15 17:55] azharudheen opened #42013 "Connection Reset after upgrading Istio"
### Bug Description

We are using Istio on our Azure Kubernetes Cluster. Our applications are deployed in Java 11 (spring boot).
We recently upgraded from Istio 1.12 to 1.15. And right after the upgrade has been done, we started seeing random TCP Connection reset errors for the calls made to external services (backends) from the application in the cluster. The connection reset errors are random an

[2022-11-15 18:28] howardjohn opened #42014 "VMs: document and test running proxy in docker"
https://istio.io/latest/docs/setup/install/virtual-machine/ has steps for Centos and Debian. We should add "docker", which would allow universal base OS.

Benefits:
* Easy to manage
* Consistent with k8s
* No GLIBC dependency hell

I am certain this is possible to do, but there are some caveats.

Likely need either HostNetwork (which is fine,still solves most of our problems), or iptables setup ou

[2022-11-15 18:29] howardjohn commented on #42014
@yskopets I think you may have experience here if you want to add anything?

[2022-11-15 21:01] linsun commented on #40984
Hi - can this be closed now?

[2022-11-15 21:02] linsun commented on #40577
Hi, is this fixed now?

[2022-11-15 21:03] Divyakhatnar opened #42017 "Canary Istio Ingress Upgrade using Helm is unstable"
### Bug Description

We are automating istio **canary** upgrade worflow for istio using **helm**. Updating from 1.14.4 to 1.15.1.

As a POC for this task, I tried to update Istiod and base via canary method following the link -> https://istio.io/latest/docs/setup/upgrade/helm/#canary-upgrade-recommended. The upgrade goes well.

However, the real problem comes while doing canary updates for Istio-i

[2022-11-16 00:56] jesuisundev commented on #32039
This will work in a permissive MTLS context, not a strict one.

I've found a way to keep the initContainer pattern in a Strict MTLS context tho.
I use a K8s job to make the database migration while the initcontainer is simply waiting for this job to complete.
Since the job will be created with a istio-proxy sidecar in the same pod, the TLS connexion on both side (job and database) will be valid.

[2022-11-16 02:31] rootsongjc opened #42022 "Ambient: the endpoint_config field in the dumped ztunnel Envoy configuration is missing the cluster_name field"
### Bug Description

I use this command to dump the Envoy configurations in Ztunnel.

[code]

When I look into `ztunnel-a-all-include-eds.json`, I found all of the [`endpoint_config`](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/endpoint/v3/endpoint.proto) were lack of a `cluster_name` filed, but it is required by the `endpoint_config`.

Here is one `endpoint_config`:

[code]

I'm not

[2022-11-16 03:26] mark8s commented on #36526
I encountered the same problem, and I solved it through everyone's replies~ nice!

[2022-11-16 04:08] howardjohn commented on #41978
The config seems to think the service is at 100.69.112.43 but the access logs show otherwise. Do you know where the mismatch is?

There also seems to be a service entry and or virtual service in play, may need to see both of those to see what's going on. This *should* work

[2022-11-16 04:09] howardjohn commented on #41965
Is it really allowed to have 0 backendRefs? That seems surprising to me

[2022-11-16 04:10] howardjohn commented on #41944
It's intended due to some legacy backwards compatibility

[2022-11-16 04:16] howardjohn commented on #41942
can you send a request with `curl -v` bypassing envoy? I think it's not logging the illegal header

[2022-11-16 04:19] howardjohn commented on #42004
This is the template - Istio only extracts certain fields from it, it doesn't allow arbitrary CSRs.

[2022-11-16 04:21] howardjohn commented on #41921
That is very unexpected. Can you get a config dump from the pod (or `istioctl bug-report`)

[2022-11-16 04:41] liuqi-sun commented on #42004
thank you.
 I can't find the relevant logic in istiod source code, can you tell me which file? In addition, I modified the URI of CSR, but the URI in the generated certificate remains unchanged. Will istiod rewrite the URI in the certificate?

[2022-11-16 05:02] liuqi-sun commented on #42004
![image](https://user-images.githubusercontent.com/48784730/202088042-ded31717-2e73-413a-8426-37fbdba84398.png)

As shown in the figure above, the URI and Subject in the generated certificate should be caller.Identities?

[2022-11-16 05:03] #40236 closed

[2022-11-16 06:06] chinaran commented on #40577
@linsun Yes, PR https://github.com/istio/istio/pull/40578 has been merged. I'll close this issue.

[2022-11-16 06:06] #40577 closed

[2022-11-16 07:04] dddddai commented on #41965
Seems yes, there's no validation against it
https://github.com/kubernetes-sigs/gateway-api/blob/v0.5.1/apis/v1beta1/validation/httproute.go#L49

No matter if it should/would be rejected by the validation, I think it's fair to defense in depth

[2022-11-16 08:14] cnvergence commented on #40984
Yes, we can close it
@sachin-ks confirmed that it was solved

[2022-11-16 08:14] #40984 closed

[2022-11-16 12:00] jallaix commented on #22290
Has anybody managed to use an EnvoyFilter with [RouteAction](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#config-route-v3-routeaction) as a workaround ?
I can't find any example on the web to do that.

[2022-11-16 12:05] mark8s opened #42027 "When upgrading the control plane, upgrade the istio gateway at the same time. Is this suitable for the production environment?"
Hello everyone, I have a question.

Recently, I was researching the canary upgrade of istio, and I have a doubt. In the official document https://istio.io/latest/docs/setup/upgrade/canary/, when upgrading the control plane, it also upgrades the istio-ingressgateway. Now I want to know whether to do so Reasonable? Is this a reasonable upgrade process?

The original text is as follows:
[code]

I was

[2022-11-16 14:04] sudeeptoroy commented on #41666
Sure, I will be there.

[2022-11-16 15:14] shivanshu1333 commented on #37354
lifecycle/staleproof

[2022-11-16 15:27] costinm commented on #41731
Sounds reasonable to me, but I would rather do it in ZTunnel first. The envoy config changes are risky and complex. After we do some more testing and get feedback - we may backport to envoy sidecars too.

The feature really is "preserve original source" - and can be used for both REDIRECT and TPROXY capture - as well as for HBone request going trough east/west or even ingress gateways, using the o

[2022-11-16 15:33] ajpauwels commented on #22290
@jallaix I've been trying to do just that for 3 days but for a redirect. This comment has a good overview of writing an EnvoyFilter with a route action:
https://github.com/istio/istio/issues/22290#issuecomment-774260856

However, it seems to apply when the request has been routed and is inbound to the final destination sidecar already. I need to rewrite the URI by adding a prefix to the existing p

[2022-11-16 17:18] howardjohn commented on #41921
https://github.com/istio/istio/wiki/Troubleshooting-Istio#collecting-information-2 need the config_dump. thanks

[2022-11-16 17:57] PedroAlbamonte opened #42032 "Virtual service no route match when simple host is used"
### Bug Description

Hi,

I defined a simple dns name(foo) and it's resolved only internaly in my network / dns server. It resolves to istio-ingressgateway IP.

When I call `http://foo/bar/v1/health`  it should redirect to the bar service inside my k8s, but I receive the no route match message in ingress gateway log.

Defined Gateway:
[code]

Defined VistualService:
[code]

If I change the host in

[2022-11-16 18:27] stevenctl opened #42033 "Prototype sandwiching Envoy and zTunnel"
Start with running a zTunnel inside the same container as an Envoy proxy to handle HBONE termination and initialization.

This may be a viable path forward for implementing Waypoints.

The prototype need not be solid, but should move us towards having a design

[2022-11-16 19:10] #41965 closed

[2022-11-16 19:59] ajpauwels commented on #22290
I've created my own filter for path rewriting using Lua here. Lua makes it very flexible to do just about anything you want, except change the :authority pseudo-header. Still can't find out how to do host rewrite, but this may help someone doing path re-writes BEFORE the gateway performs routing:

[code]

[2022-11-16 21:08] cinglese commented on #41589
I removed environment-specific information from the ticket; example.foo is a placeholder for what I'm using in my environment. The virtualservice did apply successfully.

[2022-11-17 02:24] rootsongjc commented on #42022
@stevenctl I haven't seen this bug in Istio in Sidecar mode yet. So I'm not sure if this is an Ambient mode bug.

[2022-11-17 04:09] sofat1989 opened #42046 "install-cni creates empty CNI config file"
### Bug Description

Recently we found in our nodes, the CNI config files are empty.
[code]
After istall-cni container is restarted, it will throw out an error
[code]
Indeed we found the install-cni exited quickly for some reasons after this file is created
[code]
So we doubt the file is not synced to the disk before the container exited.
So do we need to add  tmpFile.Sync() after writing the file

[2022-11-17 05:02] #38749 closed

[2022-11-17 05:02] #39111 closed

[2022-11-17 05:35] batchamalick commented on #34855
Hi @ramaraochavali ,
While testing the setting `EXIT_ON_ZERO_ACTIVE_CONNECTIONS: 'true'` ,I deliberately kept an active connection and killed the pod using `kubectl delete` ,the envoy logs says one active connection clearly but after the `terminationGracefulPeriod` the `istio-proxy + app` is killed with active connection, Should there be a doc to say that user needs to adjust the  `terminationGrac

[2022-11-17 05:35] kyessenov commented on #42033
Waypoints don't need Ambient, and the only way to implement HBONE in Envoy is essentially run two proxies connected with a user-space socket. So this sounds like a win-win to me. We can eliminate a lot of complexity and challenges from Envoys if all HBONE concerns are factored out.

[2022-11-17 06:56] chrysan55 commented on #41731
the app to see 127.0.0.6 as remote address ?

To be honest, it is more about implementing.
If original source could pass through, upstream will reply to the downstream IP address directly. I'm not sure there is a good solution to partition traffic from inbound replies to outbound requests without conntrack.
If the 'preserve original source' feature disabled, TPROXY capture would be much more easie

[2022-11-17 07:43] wonderzerg commented on #41939
same here

[2022-11-17 07:45] zhifanggao commented on #41939
Can anyone give any help on this issue? we are hit this problem too.

[2022-11-17 08:31] zioproto commented on #41792
@SerhiiPodlesnyi @ElkRom can you confirm that with `minikube` it works for you ?

I understand you are using AKS version 1.23.12

Can you provide the details of a minimal `az aks create` command to create a cluster where the problem can be reproduced ?

I tried the following:

[code]
Then with the same `istio.tf` as comment https://github.com/istio/istio/issues/41792#issuecomment-1303930124
[code]

[2022-11-17 08:43] ymesika commented on #42032
Does it work when you add the `-HHost:foo` to your curl call (or adding the header to the client you use)?

[2022-11-17 08:45] ramaraochavali commented on #34855
Sure. We can update the docs

[2022-11-17 09:20] hzxuzhonghu commented on #42022
Yes, this is a bug  i have also seen month ago in ambient mode

[2022-11-17 09:42] SantiMunoz commented on #41978
Thanks for looking into this @howardjohn, let me add some additional details and take into account that I had to recreate the cluster and the previous details are not valid anymore.

In the `kubium` namespace I have one deployment `kubium-meshd-mesh` with two pods. The IPs of the pods are `100.97.47.189` and `100.97.18.105`, and the IP of the `Service` is `100.70.239.169`.
From the first pod I cur

[2022-11-17 10:21] SantiMunoz commented on #41978
I've test it again with a simplified application, and I can reproduce the same issue.
I've created a test client and a test server:
[code]
[code]
And at the moment we install the Sidecar the traffic goes through the PassThroughCluster
[code]

[2022-11-17 10:45] hazim1093 commented on #41921
I get the following result. The helloworld pod does not have the istio-proxy injected, hence the reason I was calling it a "mesh-external" service

[code]

[2022-11-17 12:40] mark8s opened #42048 "Is there a way to forward the istio access logs collected by opentelemetry to prometheus?"
Hi guys, I have a question and I hope someone can help me.

That's it, I'm learning about sending Envoy's access logging to opentelemetry today. I have configured it according to the configuration on the official website: https://istio.io/v1.13/docs/tasks/observability/logs/otel-provider/ up. My configuration is like this:

[code]
And I can see the log output in opentelemetry-collector:

[code]
No

[2022-11-17 14:45] howardjohn commented on #41921
Right, need it from the client (gateway?).

Also its preferred to capture it from Envoy (https://github.com/istio/istio/wiki/Troubleshooting-Istio#collecting-information-2) not from Istiod (https://github.com/istio/istio/wiki/Troubleshooting-Istio#collecting-information-1)

[2022-11-17 14:47] howardjohn commented on #41978
The port name in Deployment is not relevant to Istio. I think its probably more like you changed the name to `http` causing protocol to be selected: https://istio.io/latest/docs/ops/configuration/traffic-management/protocol-selection/

[2022-11-17 14:52] howardjohn commented on #41978
So you curl SVC_IP and envoy sees POD_IP. This sounds like https://github.com/istio/istio/issues/27619.

I tried your minimal example and couldn't reproduce, which also leans to the cilium issue

[2022-11-17 15:19] mcortinas opened #42050 "Multi-Primary in GKE has an issue in eastwest gateway in CLUSTER1"
### Bug Description

hi all,

 we're working on adding a multi-primary cluster in GKE environment, and we detected a possible bug, let me explain our case.

 basically, we're delivering this [guide]( https://istio.io/latest/docs/setup/install/multicluster/multi-primary/): https://istio.io/latest/docs/setup/install/multicluster/multi-primary/ in two GKE clusters in the same VPC network using differ

[2022-11-17 15:39] hazim1093 commented on #41921
All right, so I have attached the config dump from the gateway, extracted through:
[code]
[config_dump.zip](https://github.com/istio/istio/files/10033043/config_dump.zip)

[2022-11-17 16:32] kyessenov commented on #41527
For async workload telemetry metadata, the plan is to enable this capability on sidecars:
1) Clients may block to resolve IP based policy, retrieve automTLS status, network policy, and destination metadata.
2) Servers will subscribe to the client metadata out of band. Servers will await to publish telemetry until it has the information.

xDS servers need to maintain client subscriptions, and push

[2022-11-17 16:39] kyessenov commented on #41527
Yes, we need a shared metadata service. Proto can be copied. It's just 4 or 5 fields, so we can always fix it up as long as it's based on on-demand delta xDS.

[2022-11-17 16:52] ElkRom commented on #41792
@zioproto for us it doesn't make sence to test on Minikube, as we are using AKS.
@SerhiiPodlesnyi  will run commands which you provided above.

Will keep you posted. Thanks @zioproto

[2022-11-17 17:04] zioproto commented on #41792
@ElkRom if you could reproduce the issue on Minikube, it would mean the issue is generated from something in your environment and it is independent from AKS. It would be a good test for you to try on minikube, if you can reproduce the issue. Thanks

[2022-11-17 17:40] LaikaN57 opened #42054 "Logging Config via Pod Annotations on Ingress Gateway Not Being Applied"
### Bug Description

I am trying to configure logging on our one of our ingress gateways. I am applying annotations via the IstioOperator API and the annotations are correctly being applied to the pod, however, it seems that these annotations are having no effect on the CLI args passed to pilot-agent and/or envoy.

### Version

[code]

### Additional Information

Here is a snippet of my IstioOpera

[2022-11-17 18:56] jacob-delgado opened #42055 "Cannot install Istio 1.16 on OpenShift 1.12-rc0 (based on K8s 1.25) due to required PodSecurity changes"
### Bug Description

Using OCP 4.12rc0 I get the following when running:
[code]

Looking into the events in the `kube-system` namespace I get the following:

### Version

[code]

### Additional Information

_No response_

[2022-11-17 21:19] PedroAlbamonte commented on #42032
Hi @ymesika , thanks for the comment

I identified that the VirtualService treats simple hosts as services within the same namespace where the VirtualService is located, that is, it understands that the host FQDN is 'foo.default.svc.cluster.local'. I will close this bug and open an improvement discussion.

[2022-11-17 21:19] #42032 closed

[2022-11-17 21:50] jwendell commented on #42055
Privileged pods need to run in namespaces with special labels:
[code]
We could move the CNI installation from `kube-system` namespace to `openshift-operators`: https://github.com/istio/istio/blob/master/manifests/profiles/openshift.yaml#L7

This namespace already contains these labels.

[2022-11-18 00:43] kyessenov commented on #42033
This needs a design, but the gist after discussion with Costin is essentially what ambient was before HBONE:

* envoy server receives PP2 with TLV record 64 set to SPIFFE URI SAN, see for example https://github.com/istio/proxy/pull/4222
* envoy client sends PP2 with TLV records set for VIP and service name. The latter needs for destination rules applied in the chain since envoy can't see peer cert

[2022-11-18 01:04] zirain commented on #42048
prometheus is an monitoring system, how will it handle accesslog?

normally, accesslogs will send to es/loki.

[2022-11-18 01:05] zirain commented on #42048
I'm wokring on istio with LGTM stack, but still WIP
you can see the demo configuration here: https://github.com/zirain/playground/tree/master/istio/lgtm-stack

[2022-11-18 01:11] mark8s commented on #42048
@zirain ok, thank you, your reply is very helpful to me~

[2022-11-18 01:21] zirain commented on #42048
I'd close this issue first, feel free to reopen.

[2022-11-18 01:21] #42048 closed

[2022-11-18 05:03] #38444 closed

[2022-11-18 05:04] #40250 closed

[2022-11-18 05:04] #40270 closed

[2022-11-18 06:40] ArenaSu commented on #41939
@jwendell @howardjohn @linsun Can anyone solve the problem ? I'm confused that why not generate virtualservice deepcopy code as it is crd resource.

[2022-11-18 06:49] hzxuzhonghu commented on #42033
Thanks for your clarification @kyessenov， catching up now

[2022-11-18 06:57] chandakanant opened #42064 "Retry is not working when scaling pods to 0"
### Bug Description

Retry configurations are not working as I tried scaling the pods to 0 using the command `kubectl scale --replicas=0`. Checked the logs of the istio-ingressgateway pod, I am getting `503 UH no_healthy_upstream`.

Here are my deployment, service, gateway and virtualservice that I use.

**Deployment**
[code]

**Service**
[code]

**Gateway**
[code]

**Virtual Service**
[code]

Scr

[2022-11-18 07:04] hzxuzhonghu commented on #42064
There is no healthy upstream, how could retry make sense

[2022-11-18 07:11] zhifanggao commented on #41939
paste the error here

[code]

My code likes this:

[code]

[2022-11-18 08:40] MarkArranz commented on #37354
I'm looking for a good place to get started contributing to Istio. Are there more tests needed?

[2022-11-18 08:43] MarkArranz commented on #24309
Hi @douglas-reid. Is there anyway I can help here?

[2022-11-18 08:43] yangxggo commented on #41939
istio client has a struct VirtualService( in istio/client-go/pkg/apis/networking/v1beta1/types.gen.go). The type of 'spec' in struct VirtualService is 'networkingv1beta1.VirtualService':
`type VirtualService struct {
	v1.TypeMeta `json:",inline"`
	// +optional
	v1.ObjectMeta `json:"metadata,omitempty" protobuf:"bytes,1,opt,name=metadata"`

	// Spec defines the implementation of this definition.
	/

[2022-11-18 08:44] yangxggo commented on #41939
[code]

[2022-11-18 08:46] yangxggo commented on #41939
istio client has a struct VirtualService( in istio/client-go/pkg/apis/networking/v1beta1/types.gen.go). The type of 'spec' in struct VirtualService is 'networkingv1beta1.VirtualService':
[code]

I create a cr (called VS for example ) by kubebuilder, and the type of spec is also 'networkingv1beta1.VirtualService' (just for test):
[code]

Same crash will happen when running 'make manifest'.

Any spe

[2022-11-18 09:03] yangxggo commented on #41939
istio client has a struct VirtualService( in istio/client-go/pkg/apis/networking/v1beta1/types.gen.go). The type of 'spec' in struct VirtualService is 'networkingv1beta1.VirtualService':
[code]

I create a cr (called VS for example ) by kubebuilder, and the type of spec is also 'networkingv1beta1.VirtualService' (just for test):
[code]

Same crash will happen when running 'make manifest'.
Any spec

[2022-11-18 09:24] hazim1093 commented on #41921
Yes, I deployed it in another namespace while reproducing it, the overall setup is still the same.

No we don't have this environment variable on Istiod. The only pilot related env var we set is `PILOT_CERT_PROVIDER`.

Yes the service exists, and is accessible inside the cluster
[code]

[2022-11-18 09:25] tangmengqiu commented on #41980
I got it. In your ValidatingWebhookConfiguration, the
[code]
and your virtual service does not contain the label `istio.io/rev=default`. I'm also curious about how to solve this. There is  a workaround that patch this webhook, set its objectSelector to `{}`. But I can understand the purpose to set the matchExpression with the revision on this. Can you explain? @howardjohn. Users do not need to set

[2022-11-18 09:44] quraynai opened #42065 "Expose retry budget configuration via DestinationRule"
**Describe the feature request**
We need `retry_budget` configurable via DestinationRule
https://www.envoyproxy.io/docs/envoy/v1.15.0/api-v3/config/cluster/v3/circuit_breaker.proto#config-cluster-v3-circuitbreakers-thresholds-retrybudget

**Describe alternatives you've considered**
Due to we cannot configure this via DestinationRule at the moment. We were trying to configure it via EnvoyFilter ins

[2022-11-18 09:47] quraynai commented on #42065
Used to saw someone raise this issue.
https://github.com/istio/istio/issues/27419

Not sure we support this yet.

[2022-11-18 10:18] SantiMunoz commented on #41978
You are right! we are using Cilium and enabling `hostNamespaceOnly` has fixed the issue. thanks a lot for pointing me to the right direction!

[2022-11-18 10:18] #41978 closed

[2022-11-18 11:07] jallaix commented on #36999
Please reopen this issue as it forbids the use of Istio Gateway in clean GitOps processes.
EnvoyFilters (oauth2, lua) can't use values coming from Kubernetes secrets, meaning the secrets are hardcoded in the EnvoyFilters...

[2022-11-18 12:53] rshiva777 opened #42067 "Header field missing in bookinfo"
I have gone through the istio documentation and found that we can add the headers to filter the traffic. Tried using the example provided by istio

[code]

My question is where can we find the header field on the webpage. Here we have used the **end-user** as the header and matching with jason user to route to subsetv2 which is working as expected. But, i am unable to find the **end-user** header

[2022-11-18 13:23] maciekm commented on #40027
Just tried testing it by it looks like the new opentelemetry tracing provider is missing validation -> https://github.com/istio/istio/pull/42066

[2022-11-18 14:35] jwendell commented on #42055
Run this:
[code]

I was able to deploy cni in the `openshift-operators` namespace after running **only** the command above

[2022-11-18 14:51] howardjohn commented on #41921
Ok I don't see much explaination for this from the config dump. I think we would need a full `istioctl bug-report` which gets way more info. You can send it to me privately on slack if you are worried about info leakage (although we don' get secrets, mtls certs, etc)

[2022-11-18 15:16] jadhavnitind commented on #39580
@mitunmbj Could you please elaborate more on this. I am also trying to upload larger file through Istio gateway but by default that is not allowing more than 20 MB. When I try to upload 30MB+ file it gives  413 Request Entity Too Large / 413 payload too large. I have tried istio envoyfilter `maxRequestBytes: 54000000 #204800000` with larger size but that is not working. Could you please let me kno

[2022-11-18 15:49] cnvergence commented on #40134
Seems to be resolved by this PR https://github.com/istio/istio/pull/41164

[2022-11-18 15:49] #40134 closed

[2022-11-18 16:26] cnvergence opened #42068 "Removing numTrustedProxies is not reflected in IstioOperator spec"
### Bug Description

I have encountered confusing behavior during some Istio updates with `istioctl`.
Changing `.values.meshConfig.gatewayTopology.numTrustedProxies` and then removing it is not appropriately reflected in the IstioOperator on the cluster.
However, it is changed in the istio ConfigMap, so it is working as it should.

### Steps to reproduce
- install the latest Istio with the default

[2022-11-18 17:53] rrobb-aspen commented on #42055
@jwendell Thank you for your suggestion.  Running this command and installing the istio-cni into the `openshift-operators` namespace does work.

[code]

[2022-11-18 18:04] howardjohn commented on #42065
lets track in https://github.com/istio/istio/issues/27419. thanks

[2022-11-18 18:04] #42065 closed

[2022-11-18 18:05] howardjohn commented on #42067
That isn't adding a header, its matching on them. https://istio.io/latest/docs/reference/config/networking/virtual-service/#Headers shows examples of mutating request qand response headers

[2022-11-18 18:08] howardjohn commented on #42027
https://istio.io/latest/docs/setup/additional-setup/gateway/ is recommended

[2022-11-18 18:39] kyessenov opened #42070 "Metadata discovery"
Part of https://github.com/istio/istio/issues/41527.

Proxy receives metadata out-of-band instead of on the wire. This has two major advantages:
* interop between any mTLS with telemetry
* interop with xDS planes, without custom LB programming
* improved latency/bandwidth, with less bytes on the network

Implementation:
* re-use ambient workload discovery in on-demand delta-mode.
* async telemetry

[2022-11-18 18:44] kyessenov commented on #41585
This is done.

[2022-11-18 18:44] #41585 closed

[2022-11-18 21:28] satishnaidu commented on #38484
Facing the same issue, could not resolve the host with a service entry with an arbitrary host name.
Could not resolve host: external.host.com
`
$ istioctl pc endpoints pod-name.namespace
rnal
68.77.32.215:443                                        HEALTHY     OK                outbound|80||externalname.host.name
`
Even the istioctl pc endpoints show the cluster is healthy, still not able to call e

[2022-11-19 04:54] rshiva777 commented on #42067
@howardjohn  Thanks for the quick response.

Yes i got it, we are adding the header with match condition in virtual service to filter bookinfo page based on the user.

[code]

It was absolutely working fine, but my question is where can i see the end-user header field, i am unable to see it from developer tools or any.

[2022-11-19 05:02] #40091 closed

[2022-11-19 05:02] #40190 closed

[2022-11-19 05:02] #40298 closed

[2022-11-19 07:17] 4c74356b41 commented on #41917
but you dont have a way to autodetect azure?

[2022-11-19 07:48] iPapanya commented on #39932
Thanks, @zufardhiyaulhaq!
But we steel have a problem: we have added 2 metrics in global mesh (request_method and request_operation from istio docs) and add both of them in extraStatTags.
And for several deployments we have added Telemetry with extra metric (request_urlpath) as it described in https://istio.io/latest/docs/reference/config/telemetry/. It starts generate weird metrics name until we

[2022-11-19 08:07] iPapanya commented on #39772
I have the same problem (https://github.com/istio/istio/issues/39932#issuecomment-1320827176)

[2022-11-19 08:17] iPapanya commented on #39772
and one more side effect:
if you have added custom metrics in mesh and then add the same metrics from Telemetry you have doubled score of istio metrics (i.e. for each request the istio_requests_total will be increased by 2)

[2022-11-19 08:22] zirain commented on #39932
Telemetry cannot work with envoyfilter way

[2022-11-20 05:33] #42027 closed

[2022-11-20 06:00] srmars opened #42075 "Update dnsRefreshRate default value in Istio doc"
In Global Mesh Options Istio document the default value for dnsRefreshRate is 5s but it the code, can see that its increase to 60s.

Default 5s in latest doc - https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/
Default 60s in mesh.go - https://github.com/istio/istio/blob/master/pkg/config/mesh/mesh.go

Requesting to update dnsRefreshRate  to 60s in the latest document if this is a

[2022-11-20 08:33] #41914 closed

[2022-11-20 09:00] ymesika commented on #42075
Thanks, It's a valid request.
Will you PR the istio.io or would you like me to do it?

[2022-11-20 10:02] sri53 commented on #37066
I have domain in godaddy where I set the ttl as 600s and also in Istio I set dnsRefreshRate as 300s but envoy querying the coredns for every 30s. I am not sure from where the 30s coming. Please correct me if I am wrong.

control plane version: 1.15.0

[2022-11-20 10:48] sri53 commented on #42075
@ymesika Created PR - https://github.com/istio/istio.io/pull/12265

[2022-11-20 11:02] sri53 commented on #42075
@ymesika Kindly take this change forward.

[2022-11-20 11:35] ymesika commented on #42075
This specific part in the doc is auto-generated from the API proto definitions.
Modifying https://github.com/istio/api/blob/master/mesh/v1alpha1/config.proto#L304 will also update istio.io.

[2022-11-20 11:55] jkhe-hub opened #42077 "where can I find the logs of istio-cni and how can I config the log level of istio-cni"
**Describe the feature request**
I'm trying to analysis an error related with istio-cni. I have tried `journalctl -xefu kubelet` but there isn't any istio-cni log such as what `log.Infof` , `fmt.Printf`and `log.Errorf` output. Where can I find the logs of istio-cni and how can I config the log level of istio-cni?
Thank you.
**Describe alternatives you've considered**

**Affected product area (plea

[2022-11-20 11:59] ymesika commented on #42067
The relevant reviews request is not sent from your browser.
Once logged in the productpage microservice sends this header to the reviews microservice and prepares the page that you see on your browser. So this request-response is on the backend side.

[2022-11-20 12:26] rshiva777 commented on #42067
okay, if that case how can i see what are all the headers present for the reviews page?

Lets say, i dont want to use the end-user headers, instead i want to use a different one. Where can i find the headers available for the review page?

[2022-11-20 12:28] ymesika commented on #42077
When you enable Istio CNI there is a daemonset that launches an istio-cni pod on each node in your istio namespaces.
The `kubectl logs` of that pod will provide you the log.
If you wish to change the level you can do so with [component logging](https://istio.io/latest/docs/ops/diagnostic-tools/component-logging). The relevant scope here is `install`.

[2022-11-20 12:32] ymesika commented on #42067
I guess you will have to read the demo app source code to find out: https://github.com/istio/istio/tree/master/samples/bookinfo

[2022-11-20 17:23] sudeeptoroy commented on #41666
Thank you everyone for the WG meeting. It was great to hear all the options.
One of the action item was to check the auth policy with fqdn. I tested the same and i see that a service which is present on both the domains are treated the same when alias are configured.

For a policy like below, check the envoy config:
[code]

[code]

With the above config the traffic is matching the deny rule and i

[2022-11-21 02:18] liuqi-sun opened #42079 "mTLS"
When setting the client sidecar tls mode  to MUTUAL by destinationrule, I configure clientCertificate, caCertificates, and privateKey as private. However, the tls configuration of the server sidecar is still the default and ROOTCA certificates generated by SDS. In my opinion, root certificate verification fails as a result. Therefore, how to configure the security policy of the server-side sidecar

[2022-11-21 02:36] andrewm-aero commented on #38484
For anyone else stumbling into this, you can `curl localhost:15020/debug/ndsz` from within the pod in question to get a JSON dump of all of the DNS names the proxy knows about. I also found that I was getting the `Could not resolve host` when doing an `exec` because kubectl was defaulting to the `istio-proxy` container, but once I manually told it to use the "real" container, it resolved just fine

[2022-11-21 02:49] ArenaSu commented on #41939
@chaunceyjiang can you help solve the problem ? It is a critical problem for my project, thanks!

[2022-11-21 02:59] chaunceyjiang commented on #41939
Ok, let me have a look.

[2022-11-21 03:43] zirain opened #42080 "release 1.16 OpenTelemetry Tracers not working"
error logs from istiod:

[code]

[2022-11-21 04:00] zirain commented on #42080
[ TestProxyTracingOpenTelemetryProvider](https://github.com/istio/istio/blob/693d97627e70f1e4eadeaede8bb5a18136c8feed/tests/integration/telemetry/tracing/otelcollector/tracing_test.go#L76) is wrong

[2022-11-21 04:23] zirain commented on #42080
need fix e2e flaky

[2022-11-21 05:14] vamshikrishna9999 opened #42082 "Kubeflow_istio_ issue"
### Bug Description

I was trying to install kubeflow version v1.5.0 on OpenShift cluster. I have deployed all the components of Kubeflow then pods should be in running state so some're up and when it comes to Istio-init is not able to running state due to error Failed to execute: iptables-restore --noflush /tmp/iptables-rules-1669007447751581007.txt771627809, exit status 2.

### Version

[code]

[2022-11-21 06:19] ymesika commented on #42082
Did you configure the OpenShift according to: https://istio.io/latest/docs/setup/platform-setup/openshift/

[2022-11-21 07:06] iPapanya commented on #39932
@zirain
Telemetry resource is not the same when I use telemetry mesh wide?

[2022-11-21 07:23] zirain commented on #39932
https://github.com/istio/istio/issues/39772#issuecomment-1287244040

[2022-11-21 08:13] chaunceyjiang commented on #41939
hi @ArenaSu
I think this issue was introduced by this  [commit](https://github.com/istio/api/commit/9d336787a432111e78266c4cd52dd90e086a1612
) , you can try using the version before this pr.

[2022-11-21 10:22] dgn commented on #38134
Hmm. I worry less about the GatewayClass' name (that can be changed by the user easily) but more about the controller name we're matching in the GatewayClass. If you can't change the controller name, then having different GatewayClasses doesn't make sense

[2022-11-21 10:49] pderrierw commented on #41792
Hello
I have the same issue on GKE. depends_on seems to be ignored.
I tried to introduce a "delay" null_resource between istio-base et istiod resources but I keep having the same issue.

Note it works if you create istio-base alone first and then do another pla/apply with istio-base and istiod resources together

[2022-11-21 11:01] hzxuzhonghu commented on #38819
not stale

[2022-11-21 11:03] hzxuzhonghu commented on #36131
@howardjohn

[2022-11-21 11:04] zioproto commented on #41792
@pderrierw thanks for your input. It seems to me a race condition between the CRDs being ready, and the Terraform Helm provider moving to the next Chart.

I found a similar issue here:
* https://github.com/hashicorp/terraform-provider-helm/issues/496
* https://github.com/gavinbunney/terraform-provider-kubectl/issues/41

[2022-11-21 11:13] pderrierw commented on #41792
@zioproto
indeed, that's why I tried to introduce a "null_resource" "delay" in between, but whatever the delay the result is the same .

[code]

[2022-11-21 11:17] zioproto commented on #41792
@pderrierw you are right. At the `terraform plan` phase the CRDs are not yet installed to the cluster, so cannot be the race condition.

I tried to reproduce with a completely empty Terraform state. Are you folks reproducing the issue with some initial data in the terraform state ? Or you can reproduce with an empty ( or missing ) Terraform state file ?

[2022-11-21 12:57] shivanshu1333 commented on #26813
/reopen

[2022-11-21 13:01] shivanshu1333 commented on #26813
Re opening as this issue is still not solved, all these additional parameters are required for installation in different namespace. This is not a better UX, and we can improve this.
I can work on this, any pointers to get started?
I have a few questions:
1) Since we need these two values, should we "somehow" populate these values from the "namespace"?
2) Why we need these values in the first place

[2022-11-21 15:01] zioproto commented on #41792
Folks, I tested again running `terraform plan` and intercepting the API calls with `mitmproxy`. To generate the plan I dont make any API call to the Kubernetes cluster.
I am pretty sure the Terraform code shared in the issue description is not enough to reproduce the bug.
Please provide more data. Thanks

[2022-11-21 15:57] howardjohn commented on #36131
I am not sure we should do this. Just because you haven't heard of users using it doesn't mean it isn't used; we don't have any reliable mechanism to tell how often feature flags are used. In this case, since its on by default, we definitely wouldn't be able to tell. So i'd worry we are breaking compatibility because something might not be used, when we do not know. Instead it may be ideal to opti

[2022-11-21 15:58] howardjohn commented on #41980
I wouldn't manually mess with things. You are supposed to have 2 configs

[code]

[2022-11-21 16:25] howardjohn commented on #40605
Still happening looks like. https://prow.istio.io/view/gs/istio-prow/logs/integ-ipv6_istio_postsubmit/1594624963980038144

[2022-11-21 17:25] howardjohn commented on #42055
I have a hard time understanding how kube-ssytem can deny high priv. Most things in kube-system require high priv (kube-proxy, etc)? Are they not in kube-system in openshift?

[2022-11-21 17:36] jacob-delgado commented on #42055
See more info at https://docs.openshift.com/container-platform/4.11/release_notes/ocp-4-11-release-notes.html#ocp-4-11-auth-pod-security-admission

They don't allow the adding of these labels to `kube-system` in our testing. In the base OCP 4.12 install there isn't anything installed to the `kube-system` namespace anyway. They move a lot of it into other namespaces.

[2022-11-21 17:38] howardjohn commented on #42055
have restricted enforcement. Restricted enforcement for such namespaces is
planned for inclusion in a future release.

suggests this may not work long term

Maybe istio-system should be used and explicitly allowed?

On Mon, Nov 21, 2022 at 9:36 AM jacob-delgado ***@***.***>
wrote:

[2022-11-21 17:47] rrobb-aspen commented on #42055
It's not that they don't allow adding the labels to kube-system namespace, it's that it's possible but we're not sure it's recommended due to the nature of the kube-system namespace.

[2022-11-21 17:55] john-a-joyce commented on #41104
I am hitting this same issue in a slightly different configuration.    My differences are that I am using multi-primary on the same network and I have set the two clusters up so the pods and svcs have IP reachability across the clusters (what the istio community likes to call a "flat" network).   Other differences are that I am using 1.16 (I also tried this on the ambient image).  I also see that

[2022-11-21 18:28] john-a-joyce commented on #41104
For this case I added a V1 and V2 pod to the first cluster to check both intra and inter cluster load balancing
[code]
[code]
[code]
From the next command we can see the endpoints from both clusters have all been learned and distributed via xDS.
[code]
The next command shows the cluster endpoints should be via EDS NOTE: not via DNS or via the svc IP
[code]
Below is the logs from the sleep containe

[2022-11-21 18:34] john-a-joyce commented on #41104
So if this is working as designed I would ask as few questions.

- Has this been a recent behavior change?  It's been a long time since I tested but I don't believe it always worked this way.
- What config or commands can I use to show the actual routing the Envoy will use.   Just dumping the proxy config info would indicate that the loadbalancing should be between all the endpoints.  Is there any

[2022-11-21 19:06] bvandewalle opened #42094 "Istio validatingWebhook doesn't catch Partial wildcards"
### Bug Description

The following gateway object got added on one of our clusters:

[code]

As a result we saw the gateway pods going down with the following error:

[code]

This is because the hostname in the gateway object got added with a partial wildcard:
[code]

**Fix**: This gateway object should have been denied by the validatingWebHook. Would be happy to push a fix for this if we agree th

[2022-11-21 19:09] bvandewalle commented on #42094
Actually some work started on this but went stale: https://github.com/istio/istio/pull/38432

[2022-11-21 20:47] zioproto commented on #41792
I confirm @chris-arsenault is correct. I can reproduce on minikube

[code]

In the folder with `istio.tf` I run:
[code]

here my failing output:

[code]

@ElkRom can you confirm if you have the `experiments` with `manifest = true` in your provider configuration ?

[2022-11-21 20:50] howardjohn commented on #42070
I think we will need some negotiation (ALPN?) to disable MX for backwards compat with old proxies. Or keep it around for a few releases first

[2022-11-21 20:52] kyessenov commented on #42070
Agree. We don't really support long living old versions of Envoy, apart from the upgrade process (which can force restart the application workloads), so one release is sufficient I think.

[2022-11-21 20:53] howardjohn commented on #42079
You are looking at the listener. Dest rule configures cluster

[2022-11-21 20:54] howardjohn commented on #42070
That might be the case but its not something we have solidified before; we have not broken data plane version skew support for many years. We regularly have folks upgrading from massive version skews like 1.4 to 1.16 with data plane connectivity.

So - it may be reason to say 1 release (or some X), but if we do we should have a broader discussion since it will be the first time we make that decisi

[2022-11-21 20:58] kyessenov commented on #42070
Well if you have to support direct connectivity with Istio 1.4 then clearly the data path can never evolve, so that would be a very unreasonable policy decision :) This would make sense if Istio used standard protocols, but the ALPN/TLS hacks are not used anywhere else, so that bar is not met. There's no problem keeping old MX code around, and the control plane can just program both at the same ti

[2022-11-21 21:03] howardjohn commented on #42070
I am not saying that _is_ the policy, I am saying there is none, so if we want to be the first to break it we will also need to come up with the policy and get approval from a broader group

[2022-11-21 21:08] howardjohn commented on #42070
We have never broken compatibility. This is proposing to break it. We need TOC approval to do so.

[2022-11-21 21:19] asongent opened #42096 "Unknown desc = Manifest generation error (cached)"
### Bug Description

Hi all,
I have been getting this error when trying to deploy `istio 1.15.3` via ArgoCD. `istio base` syncs correctly but `istiod` won't sync. Any help will be greatly appreciated.

### Version

[code]

### Additional Information

rpc error: code = Unknown desc = Manifest generation error (cached): `helm template . --name-template istiod --namespace istio-system --values values

[2022-11-21 21:20] kyessenov commented on #42070
Compatibility with what? We're not changing any Istio API (and the only one affected which is Telemetry is not default anyways), this is just an internal mechanism.

[2022-11-21 21:22] zioproto commented on #41792
@ElkRom I believe this is not an Istio issue, I would close this GitHub issue and open a new one on the hashicorp/terraform-provider-helm GitHub repository:

I also found this related issue there:
* https://github.com/hashicorp/terraform-provider-helm/issues/976

Please confirm if we can close this issue. Thanks

[2022-11-21 21:24] howardjohn commented on #42070
Communication between different proxy version. Its not just an internal mechanism since this will have user facing impact on users running Istio `v1.old` with Istio `v1.new`.

[2022-11-21 21:24] ElkRom commented on #41792
Yeah, definetly this issue have to be closed for Istio.
Thanks

[2022-11-21 21:28] kyessenov commented on #42070
The communication interface is regular mTLS without MX ALPN token. ALPN specification requires fallback so istio must fallback to the less capable protocol (regular mTLS). gRPC and others interoperate this way since they don't have MX network filter.

[2022-11-21 21:34] howardjohn commented on #42070
We need (if we want full compat) the old clients to actually do MX though, not just fallback, or their telemetry will be broken. We can chose not to do that (and thus change user facing behavior), if we get TOC approval.

[2022-11-21 21:42] kyessenov commented on #42070
Breaking client telemetry never stopped us from declaring protocol support (e.g. it doesn't work for gRPC or HBONE), so it would be inconsistent to hold that as a gate if it wasn't even used as a gate to add a feature. Telemetry was always add-on and never required for protocol support, which is why making changes to the telemetry pipeline is not a compatibility violation. The important telemetry

[2022-11-21 21:46] howardjohn commented on #42070
I appreciate your perspective, but  I am asking you to please have the TOC review the design doc. Its okay if we don't agree on whether that review is needed or not, but the implementation cannot be merged without it.

[2022-11-21 21:54] jacob-delgado commented on #42055
After adding the labels to kube-system (either with oc or via edit) and seeing the namespace have them, but they not be applied this doesn't work.

For more info see https://github.com/istio/istio/pull/42093#discussion_r1028535936

[2022-11-21 21:57] kyessenov commented on #42070
I agree that TOC needs to review the item: "remove MX support", which I'm sure can be delayed after all Envoy work is done. That's just the icing on the cake, I think the native capability of Envoy to fetch metadata has a greater value outside of this Istio feature.

[2022-11-21 21:57] dmorina opened #42097 "Istio should probably default to Envoy DnsLookupFamily AUTO or allow configuration via an env variable"
### Bug Description

We have an IPv6 EKS cluster which is capable of talking to IPv6 and IPv4 destinations without DNS64/NAT64. If we enable Istio in a namespace and the destination domain returns an A record only then Istio is unable to talk to it. This seems to be due to the fact that Istio uses DnsLookupFamily V4_ONLY or V6_ONLY (https://github.com/istio/istio/blob/master/pilot/pkg/networking/c

[2022-11-22 01:15] #41792 closed

[2022-11-22 01:19] hzxuzhonghu commented on #36131
ok

[2022-11-22 01:19] #36131 closed

[2022-11-22 01:49] hzxuzhonghu commented on #41104
@john-a-joyce Do you setup locality failover or something else?

Better if you can provide complete configdump on CDs and eds

[2022-11-22 02:08] zhifanggao commented on #41939
@chaunceyjiang It looks like the commit is merged on Mar 23, but the version of  api is newer than that , please refer to
https://pkg.go.dev/istio.io/api/networking@v0.0.0-20221121205957-417106f309c2 . Could you give a suggestion how to use the old version like v1.12.7  or  [1.14.0-beta.0](https://github.com/istio/api/releases/tag/1.14.0-beta.0) or [1.14.0-beta.1](https://github.com/istio/api/rele

[2022-11-22 02:14] zirain commented on #41964
we need envoy support that, FYI https://github.com/envoyproxy/envoy/pull/24023

[2022-11-22 02:17] quraynai commented on #27419
@ramaraochavali before we have this feature available. Do you have any suggest way to configure retry_budget?
Currently I have to remove cluster generated by istio and manually generate new one with retry_budget. That's kinda troublesome.

[2022-11-22 03:36] boeboe commented on #40615
Any progress?

[2022-11-22 03:45] chaunceyjiang commented on #42094
I want to /assign, I am a newbie.I will try to find the cause of this problem. I'm not sure I can fix it

[2022-11-22 03:57] zirain commented on #42094
/assign chaunceyjiang

[2022-11-22 05:02] #38440 closed

[2022-11-22 05:03] #40325 closed

[2022-11-22 05:36] vamshikrishna9999 commented on #42082
Yes I configured the same and still pods are crashing due to Istio sidecar.

[2022-11-22 06:40] #40324 closed

[2022-11-22 06:40] #40352 closed

[2022-11-22 06:46] mark8s opened #42105 "Why is the value of destination_cluster in istio metrics fetched by node.metadata['CLUSTER_ID'] ?"
Hi everyone, I have some questions. I've been messing around with istio custom metrics recently and I've run into some confusion.

First, when I looked at the envoyfilter named stats-filter-1.10 under istio-system, I found some configurations that I didn't quite understand.

[code]

1. Why source_cluster: downstream_peer.cluster_id , why "destination_cluster": "node.metadata['CLUSTER_ID']", what i

[2022-11-22 06:47] zhlsunshine commented on #40605
okay, keep on going

[2022-11-22 06:50] zirain commented on #42105
1.10 is EOL, please follow https://istio.io/latest/docs/releases/supported-releases/#support-status-of-istio-releases

[2022-11-22 06:50] #42105 closed

[2022-11-22 06:57] zhlsunshine commented on #40605
Hi @howardjohn, according to the test log, I think the root cause is that the ipv6 only integration test job uses the ipv4 use case in `tests/integration/pilot/common/routing.go` looks like below:

[code]
need to separate them, will try it out later

[2022-11-22 06:59] mark8s opened #42106 "How to create new istio metrics, and use default DefaultStatTags?"
Hello everyone, I have a question. I have a requirement, I want to create custom istio metrics, similar to istio_request_total.

Specifically, I want to create a metric similar to istio_request_total, which contains some tags, such as request_path, reporter, source_app, etc. I implemented it based on envoyfilter, and the implemented yaml content is roughly as follows:

[code]

My idea is that repo

[2022-11-22 07:04] zirain commented on #42106
https://github.com/zirain/playground/blob/master/istio/iop/custom-metric.yaml

[2022-11-22 07:07] mark8s commented on #42106
@zirain You are not what I want

[2022-11-22 07:09] mark8s commented on #42105
@zirain My problem has nothing to do with resource version

[2022-11-22 07:20] mark8s commented on #42106
/re-open

[2022-11-22 07:21] mark8s commented on #42105
/re-open

[2022-11-22 07:24] zirain commented on #42105
https://github.com/istio/istio/pull/39660

[2022-11-22 07:53] 2456868764 opened #42108 "Jwks is an invalid JSON"
### Bug Description

1. I apply request authentication policy using demo jwks as bellow:
[code]

the demo jwks is absolutely same as content from https://raw.githubusercontent.com/istio/istio/release-1.16/security/tools/jwt/samples/jwks.json.

2. kubectl logs -f istio-ingressgateway-57bcb89bf9-hplr4 -n istio-system

2022-11-22T07:46:47.730788Z     warning envoy config    gRPC config for type.googl

[2022-11-22 08:19] hazim1093 commented on #41921
@howardjohn Thanks, I sent (hopefully) you a message on the CNCF slack

[2022-11-22 08:43] yanbuduo opened #42109 "some questions for DeltaAggregatedResources"

[2022-11-22 09:42] morremeyer commented on #38148
This is not stale.

Having a bot attempting to close unresolved issues will only create notification spam and/or lead to multiple issues being created for the same problem.

[2022-11-22 09:55] liuqi-sun commented on #42079
I see what you're saying.
I mean, the certificate in the Dest rule is generated by a third party ca, server sidecar authentication is still the ROOTCA certificate generated by istitio. This is not correct. The tls handshake failed. How do I configure the root certificate for server sidecar? PeerAuthentication CR cannot modify the root certificate but only the tls mode

[2022-11-22 10:30] sri53 commented on #40781
Having the same issue

[2022-11-22 11:15] ramaraochavali commented on #27419
Is replacing complete circuit breaker thresholds via envoy filter not working?

[2022-11-22 11:23] ramaraochavali commented on #42097
We tried AUTO but ran in to issues and reverted back. Refer https://github.com/istio/istio/pull/26409 , https://github.com/istio/istio/pull/27296 and https://github.com/istio/istio/pull/35850

[2022-11-22 11:27] zirain commented on #39912
@howardjohn I think https://github.com/istio/istio/pull/34217 did not fix this, `GetEffectiveTemplatePath` will return default tracing with zipkin configuration.

[2022-11-22 11:40] emalihin commented on #40379
getting very similar segfault when enabling stackdriver audit logging:
[code]

[2022-11-22 12:26] He-Jingkai opened #42110 "ambient Istiod: error `the server rejected our request due to an error in our request`"
### Bug Description

I tested the below test case using ambient mode:
[code]
Information about pods after adding that case:(Because there are many nodes, I only past the information of the master and worker1 nodes, all ambient components in the cluster are complete and work normally)
[code]
`hello-world-server` is a simple http server that returns the string "hello world" after receiving a request

[2022-11-22 13:04] mark8s opened #42112 "Use envoyfilter to create istio new metrics invalid"
I used envoyfilter to create an istio_test_requests metrics and set a dimension, but after I applied it to the workload, it didn't take effect. Does anyone know why? My so configuration is as follows:

[code]

[code]

[2022-11-22 13:15] boeboe opened #42114 "Re-enable dualuse workload cert generation (CommonName identical to the SAN)"
**Describe the feature request**

***Historical background***

There used to be a feature to instrument `node-agent` to generate workload certificates with a non-empty Subject. Today, Istio's generated workload certificates have an empty subject.

[code]

The code to have this functionality is still available in the source tree, but the exposure of a flag or an ENV variable to activate it, is no l

[2022-11-22 14:55] anderslundholm opened #42115 "CSR signing error after upgrade to 1.16.0"
### Bug Description

After upgrading istiod from 1.15.3 to 1.16.0 in a multi cluster setup the istiod pod starts up fine but after getting a request it enters a CrashLoopBackOff with the following logs:

{"level":"error","time":"2022-11-21T16:05:29.004169Z","scope":"serverca","msg":"CSR signing error (failed to find root cert from signed cert-chain (found root cert is not a ca type cert: &{[48 ...

[2022-11-22 15:05] betonetotbo opened #42117 "SSL certificate problem: unable to get local issuer certificate"
### Bug Description

I recently installed istio 1.14.5 with `istioctl install --set profile=minimal`.

After this, I starting to inject manually the proxyies with `istioctl kube-inject -f my-deploy.yaml | kubectl apply -f -`.

In the first namespace, all injections worked. But in the second namespace, with a kong api gateway deployment, it does not worked.

After a few researches, I found an event

[2022-11-22 15:05] KenHuffmanAtNice commented on #41308
The PR has been closed without merging. I have a better solution that does not require Istio modifications. We had success adding an initContainer with an k8s.overlay in the IstioOperator. The `mountPath` and `CHECK_FILE` should match where the workload-socket is being mounted by the existing patch for SPIRE.

    ingressGateways:
      k8s:
        overlays:
          - apiVersion: apps/v1

[2022-11-22 15:08] chaunceyjiang commented on #42115
I can try to fix this issue

[2022-11-22 15:15] howardjohn commented on #39912
It did at one point... maybe it regressed

[2022-11-22 15:19] #41308 closed

[2022-11-22 15:53] howardjohn opened #42118 "QUIC regression: TestMtlsGatewaysWithQUIC"
https://prow.istio.io/view/gs/istio-prow/logs/integ-ipv6_istio_postsubmit/1594931796229754880
https://prow.istio.io/view/gs/istio-prow/logs/integ-distroless_istio_postsubmit/1594931796187811840
https://prow.istio.io/view/gs/istio-prow/logs/integ-ds_istio_postsubmit/1594931796267503616

All failed after https://github.com/istio/istio/commit/706db7ba7a59730c4b39ce2b552b954e78d4cf32

[2022-11-22 15:55] howardjohn commented on #42118
maybe from https://github.com/envoyproxy/envoy/pull/24011

[2022-11-22 15:58] He-Jingkai commented on #42110
I have tried many pods, all of them report this error(`error   controllers     error handling xx/xx, and retry budget exceeded: the server rejected our request due to an error in our request   controller=ambient label controller`) in istiod

[2022-11-22 16:32] betonetotbo commented on #42117
As a workarround I was abble to get it working by doing this:

https://github.com/istio/istio/issues/20890#issuecomment-711051999

Can someone confirm if this is the only approch to solve this?

[2022-11-22 16:47] dmorina commented on #42097
I can see how AUTO wouldn't work in a cluster that only supports one address family, but in cases where we are able to talk to both IPv4 and IPv6 at the same time it should work.

Do you think you can make this configurable so that people can pick depending on their setup? cc @howardjohn as well since it looks like he worked in this space too

[2022-11-22 16:54] howardjohn commented on #42097
@zhlsunshine is working on support dual stack. This is not exactly the same as that but pretty much the same, maybe we can add it to the work (if not already done on the experimental branch)

[2022-11-22 17:44] boeboe commented on #42114
PR at https://github.com/istio/istio/pull/42123

[2022-11-22 19:58] benjaminxie opened #42126 "Istio Operator pod keeps restarting after installation"
### Bug Description

I'm installing Istio via `$ istioctl operator init` and then applying the following yaml:
[code]
The issue is that there are no resources deployed to the istio-system namespace. Looking at the istio-_operator_ namespace, I see that the pod for the istio-operator deployment keeps restarting. Here is a copy of its logs
[code]

I see that #40376 has similar logs but unlike that i

[2022-11-22 19:59] howardjohn commented on #42114
Can you help me understand why we should add an option that was deprecated 22 years ago (https://www.rfc-editor.org/rfc/rfc2818#section-3.1), rather than have other applications follow modern standards? AFAIK its not even possible to do this in Go as of 2 years ago (https://go.dev/doc/go1.15#commonname)?

[2022-11-23 00:08] dezmui commented on #41939
Can confirm, using `v0.0.0-20220322234440-289bfe748e00` works (albeit has a bunch of warnings about certain structs not having JSON tags).

Using the version that's built off of that commit (`v0.0.0-20220323151137-9d336787a432`) gives me the panic error.

FYI to get the api version for these commits you should look at the `update_api_dep_client_go_api_postsubmit` build logs in the status check.

[2022-11-23 00:13] boeboe commented on #42114
Thanks for you concerns @howardjohn

Some feedback:
1. It is an option that is disabled by default
2. It offers compatibility and reusability of SPIFFE based workload ID's as provided (why would one be forced to introduce a second AuthZ mechanism if not strictly needed)
3. I have contacted several projects like Kafka, Mongo and PostGres as well as the folks at SPIFFE/SPIRE. The first do not seem t

[2022-11-23 00:31] howardjohn commented on #42114
I am not convinced. All the arguments in https://github.com/istio/istio/issues/7153 still apply IMO and make excellent points (except the conclusion to allow it as experimental opt-in flag). But Istio 4 years ago is not Istio today; we are actively trying to reduce the number of flags and permanently experimental features. We now support not just Citadel CA, but 10s of other CAs -- none of which t

[2022-11-23 01:39] zhlsunshine commented on #42097
Hi @dmorina, as @howardjohn mentioned, I am working on dual stack support in Istio and here is an issue may help you to track it: https://github.com/istio/istio/issues/40394 based on the new design.
Besides, I recommend that @dmorina you can have tried the [experiment branch](https://github.com/istio/istio/tree/experimental-dual-stack) which has made dual stack feature enabled. And I think it shou

[2022-11-23 01:54] #42115 closed

[2022-11-23 01:54] zirain commented on #42106
IIRC, there's no way to do this, @kyessenov can you confirm this?

[2022-11-23 02:01] zirain commented on #42112
1. did you update `inclusionPrefixes`?
2. did you use v1.11 dataplane?

[2022-11-23 02:14] zirain opened #42128 "Telemetry API: implement `MetricDefinition`"
after https://github.com/istio/istio/pull/41991, we're moving to use native stats in v1.17.
before https://github.com/istio/istio/issues/37645, we should support `MetricDefinition` in Telemetry API.

cc @kyessenov @lei-tang

following IOP will not working on master branch:
[code]

[2022-11-23 02:26] mark8s commented on #42112
@zirain
     annotations:
        sidecar.istio.io/extraStatTags: request.path
        sidecar.istio.io/inject: "true"
        sidecar.istio.io/statsInclusionPrefixes: istio_test_metric,istio_test_requests

I am using v1.11 istio

[2022-11-23 02:30] zirain commented on #42112
check that by running `istioctl pc b <podname>.<namespace>`

[2022-11-23 03:03] zirain commented on #37751
this's no need after https://github.com/istio/istio/pull/39606.

[2022-11-23 03:04] howardjohn commented on #37751
IMO this is still desired; we want 1 way to configure things long term

On Tue, Nov 22, 2022, 7:03 PM zirain ***@***.***> wrote:

[2022-11-23 03:09] zirain commented on #37751
keep this for built-in `envoy` provider is easier than deprecated
there's too much field marked as deprecated but not removed in remove
maybe one day this topic will bring up again.

[2022-11-23 03:13] howardjohn commented on #37751
Deprecating but not removing is a good thing IMO. We can't remove
things;that breaks compatibility. But deprecating them leads users to the 1
right way to do things.

On Tue, Nov 22, 2022, 7:10 PM zirain ***@***.***> wrote:

[2022-11-23 03:19] zirain commented on #37751
Generally, I agree with it. but still like have something like [deprecating-a-feature-or-behavior](https://kubernetes.io/docs/reference/using-api/deprecation-policy/#deprecating-a-feature-or-behavior)

IMO, if you're not plan to remove, mark as deprecating seems meaningless.

For people who really interesting in this, feel free to reopen and take over.

[2022-11-23 03:34] boeboe commented on #42114
Hi John,

Thanks a lot for sharing the history on this feature. Going through the thread was very insightful and made me better understand both sides of the argument. I wrote my own Kafka [extension](https://github.com/boeboe/kafka-istio-principal-builder) for exactly the same reasons as mentioned in that issue.

Kafka is so far the only one I have found that allows for this kind of flexibility, s

[2022-11-23 03:38] howardjohn commented on #42114
This flexibility/complexity is  beyond the goals of the Istio CA. I'd recommend you look into use an alternative CA which Istio can integrate with and fulfill the bespoke requirements there. There are plenty of ways Istio can integrate with other CAs including SPIRE, cert-manager, etc.

I think what you are asking is perfect fair but also not aligned with the goals of the Istio CA which is to be a

[2022-11-23 04:22] rshiva777 commented on #42067
Thank you @ymesika

[2022-11-23 04:22] #42067 closed

[2022-11-23 05:02] #40356 closed

[2022-11-23 05:02] #40364 closed

[2022-11-23 05:02] #40365 closed

[2022-11-23 05:27] shibin-george commented on #41854
Hi @jewertow, I have a query about the feature which I haven't yet figured out an answer to:
My use-case is:
- applications should not be aware of the forward-proxy's IP/port and should continue to send HTTP/HTTPS requests business as usual
  - However, they can choose to force a request through a proxy using a header (say: `X-PROXY-THIS`)
- The istio sidecar, intercepts all outbound requests
  -

[2022-11-23 07:34] gtolarc opened #42130 "Routing error when using two gateways with the same port and different host"
### Bug Description

I want to put the same two environments on the same cluster (for convenience of development)
I set gateway/vs as follows to make access to services in other namespaces through domain division.

It seemed to work fine at first, but only one side works fine. (If the gw gateway works, the gw-dev gateway doesn't work, sometimes it works the other way around) Is it a bug? Or am I s

[2022-11-23 08:18] chickenlj opened #42131 "Is it possible to use some more generalized names for Istio to support Proxyless mode?"
Many names are bonded to `grpc`, which I think is not general enough for there are many data plane components that might want to support Proxyless Mesh.

For example, would `inject.istio.io/templates: proxyless-agent` be better than `inject.istio.io/templates: grpc-agent`?

[2022-11-23 09:47] tackish opened #42798 "seems that Istio does not validate wrong virtural host"
Hi, team.
I've found some points that It's really serious problem.

When it comes to injection virtual service with yaml, seems that istio does not validate the yaml struct.
for example,

[code]

above yaml struct is wrong. cause "mirror" and "name" are needed to be same line without "-"
but above configuration can be injected to istio virtual service.

after that istio will occur validation error

[2022-11-23 09:55] yanbuduo commented on #42109
the DeltaDiscoveryRequest was set like this, but get a full resource

return &service_discovery_v3.DeltaDiscoveryRequest{
		TypeUrl:                 typeUrl,
		ResourceNamesSubscribe:  subNames,
		InitialResourceVersions: resourcesVersion,
		ResponseNonce:           "",
		ErrorDetail:             nil,
		Node:                    config.getNode(),
	}

[2022-11-23 10:43] sudeeptoroy commented on #41666
Yeah as you mentioned, with alias i am able to connect the two trust domain however RBAC is not fine-grained.
During the call we also spoke about mesh config (caCertificates). With what we discussed, caCertificate merges the configured PEM with what is provided by Spire. If this statement is correct we should be able to achieve both:
1. connectivity
2. proper RBAC

With my testing i could not make

[2022-11-23 11:08] MazenElzanaty opened #42132 "Update istio configmap from helmchart"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

I wondering how I could add external authorizers config into the istio configmap with helm

[ x ] Installation

[2022-11-23 13:36] gtolarc commented on #42130
https://istio.io/latest/docs/ops/common-problems/network-issues/#404-errors-occur-when-multiple-gateways-configured-with-same-tls-certificate

It was a bit confusing, but I understood the problem caused by separating domains using the same certificate into two gateways.

Using one gateway solved the problem, I'll end this thread. But I think you should be able to use multiple gateways if you want

[2022-11-23 13:36] #42130 closed

[2022-11-23 13:48] videlov opened #42133 "Configuration changes require Istio GW restart"
**Describe the feature request**

Currently changing mesh configuration (e.g. `numTrustedProxies` in `gatewayTopology`) does not take effect in a running Istio GW proxy. See:
https://istio.io/latest/docs/ops/configuration/traffic-management/network-topologies/#example-using-x-forwarded-for-capability-with-httpbin

After step 1 we need to restart all Istio gateways. This is quite inconvenient in a

[2022-11-23 14:12] #42132 closed

[2022-11-23 14:42] dondsouza commented on #40615
Hello, we are integrating istio with Venafi TPP using certmanager and certmanager-istio-csr; and we are facing the same issue. The policies on Venafi TPP dont allow for the Subject name to be empty. So, it would be great if this enhancement can be accepted.

[2022-11-23 14:46] howardjohn commented on #37751
Its not meaningless. When we have 2 ways (or more) to do one thing, users get confused. By deprecating all but 1 we provide a clear path forward for users so they don't need to decide between two ways to do things.

[2022-11-23 17:57] john-a-joyce commented on #41104
[envoy_config_dump.tar.gz](https://github.com/istio/istio/files/10078036/envoy_config_dump.tar.gz)

[2022-11-23 18:39] howardjohn commented on #32942
I am not sure how a passive cookie helps in JSESSIONID case

Today:
Request 1: client request (no JSESSIONID) -> envoy (generate JSESSIONID 1) pick endpoint based on JSESSIONID 1 -> server X (respond with JSESSIONID 2)
Request 2: client request (now has JSESSIONID 2) -> envoy pick based on  JSESSIONID 2 -> server Y

Passive:
Request 1: client request (no JSESSIONID) -> envoy pick endpoint randomly

[2022-11-23 18:42] jacob-delgado commented on #41773
@ramaraochavali I opened this again since you reverted this. What is the current status of this issue?

[2022-11-23 18:48] john-a-joyce opened #42137 "Support Single Network Multicluster for Ambient"
**Describe the feature request**
Support a single network Multi-primary multi-cluster ambient topology to work.

As discussed in the Ambient slack this scenario can work if both clusters share the same root CA,  but that isn't required for the non-Ambient multicluster.  This might be more a bug than a feature request, but since its not that high priority compared to other ambient work items I thou

[2022-11-23 19:02] john-a-joyce commented on #42137
A single network multi-primary ambient mesh was setup following the normal Istio multi-cluster documentation.   For the most part everything worked.  The remote clusters were discovered and service information exchanged.  Proper load balancing appeared to be configured, but roughly every other request would fail when routed to the remote cluster.   The ztunnel pods would attempt to create a connec

[2022-11-23 19:54] yogeshgadge opened #42138 "`ProxyConfig` should support everything that pod annotation `proxy.istio.io/config` supports"
Ran into this issue where I wanted to add traceId to istio-proxy sidecar logs where I would affect the logFormat to utilize `x-b3-traceId` as an example. Our enterprise teams are a bit reluctant to this change as it is a mesh wide change and it would affect other teams (and workloads in their namespaces).

Another example is the defaulting a certain CPU/Memory request limits by workload identifyin

[2022-11-23 20:58] bobleujr commented on #37329
Uhhh life-saver. Just pay attention that by default helm (1.16) comes with
```ingressSelector:  ingress```

[2022-11-23 21:34] boeboe commented on #40615
Related to https://github.com/istio/istio/issues/42114 and https://github.com/istio/istio/issues/7153

[2022-11-23 21:35] boeboe commented on #42114
Related to https://github.com/istio/istio/issues/40615 and https://github.com/istio/istio/issues/7153

[2022-11-23 21:35] boeboe commented on #7153
Related to https://github.com/istio/istio/issues/40615 and https://github.com/istio/istio/issues/42114

[2022-11-24 01:57] songweirong19931020 opened #42140 "Ingress gateways encountered an error: failed to wait for resource: resources not ready after 5m0s"
### Bug Description

problem logs：
ingressGateway ：

[code]

pod logs：

ingressgateway：

2022-11-24T01:52:06.151402Z	warning	envoy config	StreamAggregatedResources gRPC config stream closed: 16, authentication failure

egressgateway：
2022-11-24T01:52:56.776474Z	warn	xdsproxy	upstream [53] terminated with unexpected error rpc error: code = Unauthenticated desc = authentication failure

### Version

[2022-11-24 01:58] songweirong19931020 commented on #42140
There is no problem with my k8s dns resolution, but istio cannot be deployed successfully

[2022-11-24 02:04] zirain commented on #42140
please check your full logs in ingressgateway and istiod

[2022-11-24 02:15] songweirong19931020 commented on #42140
istiod logs:
2022-11-24T02:12:09.793726Z	error	ads	Failed to authenticate client from 10.244.2.87:39148: Authenticator ClientCertAuthenticator: no verified chain is found; Authenticator KubeJWTAuthenticator: failed to validate the JWT from cluster "Kubernetes": the service account authentication returns an error: [invalid bearer token, square/go-jose: error in cryptographic primitive]

[2022-11-24 02:15] songweirong19931020 commented on #42140
istiod logs:
2022-11-24T02:12:09.793726Z	error	ads	Failed to authenticate client from 10.244.2.87:39148: Authenticator ClientCertAuthenticator: no verified chain is found; Authenticator KubeJWTAuthenticator: failed to validate the JWT from cluster "Kubernetes": the service account authentication returns an error: [invalid bearer token, square/go-jose: error in cryptographic primitive]

[2022-11-24 02:20] songweirong19931020 commented on #42140
NAME                                    READY   STATUS    RESTARTS   AGE
istio-egressgateway-6874c45d98-nmp6c    0/1     Running   0          7m46s
istio-ingressgateway-76d6fd8d96-q54pd   0/1     Running   0          7m45s
istiod-dcb967576-thpsh                  1/1     Running   0          7m56s

[2022-11-24 02:20] songweirong19931020 commented on #42140
I don't know where the problem lies, is it a certificate problem?

[2022-11-24 02:33] songweirong19931020 commented on #38258
Dude, did you solve it? I had the same problem as you.

[2022-11-24 02:34] songweirong19931020 commented on #38258
ingressgateway pod is not ready, wtf!!!!

[2022-11-24 02:40] songweirong19931020 commented on #35096
Dude, did you solve it? I had the same problem as you

[2022-11-24 02:41] zirain commented on #37751
let's add some warning message after Telemetry API promote to beta?

[2022-11-24 02:42] songweirong19931020 commented on #42140
istioctl manifest apply --set profile=demo

[2022-11-24 02:44] yanbuduo commented on #32933
hello, im also confused about DeltaAggregatedResources , can you help me to understand how to use DeltaAggregatedResources correctly? my question: https://github.com/istio/istio/issues/42109;

[2022-11-24 03:30] hzxuzhonghu commented on #42133
Yes, this is documented https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/#ProxyConfig

`Note: fields in ProxyConfig are not dynamically configured; changes will require restart of workloads to take effect.

`

[2022-11-24 03:35] songweirong19931020 commented on #42140
Is there someone professional who can help me？

[2022-11-24 03:45] #42118 closed

[2022-11-24 03:57] hzxuzhonghu commented on #42131
You can specify arbitrary name for `inject.istio.io/templates`, it is not enum

[2022-11-24 04:20] hzxuzhonghu commented on #42138
Currently, [ProxyConfig](https://istio.io/latest/docs/reference/config/networking/proxy-config/#ProxyConfig) is applied during bootstrap.

[2022-11-24 05:03] #40378 closed

[2022-11-24 05:03] #40392 closed

[2022-11-24 09:03] WestFarmer opened #42142 "Support BFF pattern for SPA"
**Support BFF pattern for SPA**

**Affected product area **

[ ] Ambient
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[X] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

hi, istio team, do you have a plan to support using istio as the BFF between SPA and istio VirtualService ?

see this : https://curity.io/res

[2022-11-24 09:10] dearboll23 opened #42143 "multi-ingressgateway installation by Istio operator will create a default ingressgateway?"
Hi guys, I'm creating multi ingress gateways for staging and demo env in the same cluster by Istio operator, the operator yaml is as below. I named the two ingress gateway as ` istio-ingressgateway-staging` and ` istio-ingressgateway-demo`, but I found that the operator create a default ingress gateway named `istio-ingressgateway`. How can I disable the default name ingress gateway, or is this a f

[2022-11-24 09:53] realabja opened #42144 "multicluster/multi-primary istiod error could not get cluster kube client"
### Bug Description

I have followed instruction and created the cacert and istio-remote-secret and installed istiooperator. but taking a a look at istiod logs in cluster1. I see the error below

`error    ads    Failed to authenticate client from : Authenticator ClientCertAuthenticator: no verified chain is found; Authenticator KubeJWTAuthenticator: could not get cluster cluster1's kube client
`

[2022-11-24 10:45] zirain commented on #42144
[please check you have ](https://istio.io/latest/docs/setup/install/multicluster/primary-remote/#attach-cluster2-as-a-remote-cluster-of-cluster1)

[2022-11-24 11:18] dearboll23 commented on #42143
Thanks, it works. @zirain

[2022-11-24 11:18] #42143 closed

[2022-11-24 13:00] mark8s opened #42145 "Why can't I add dimensions to custom metrics?"
Hello everyone, I would like to ask you about customizing metrics again, and I hope someone can help me out.

I created an envoyfilter and I want to create a custom metrics. I named it istio_solarmesh_requests_total.

Below is my configuration:

[code]

However, when I applied it, the metrics did not produce any data.

So I removed the dimension definition in metrics, and the data appeared immedia

[2022-11-24 13:05] PeteMac88 commented on #41305
@momiecloudoneguys Hey, I think I have the same problem. I use 1.15.2 and cannot find a way to support TLSV1_1. I added following config to my gateway:
[code]

Did you also configure the istio operator in any way to allow TLS 1.1? I see there is an option to set the TLS version in the mesh config (https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/#MeshConfig-TLSConfig). Can you pro

[2022-11-24 13:17] songweirong19931020 commented on #36215
Hi @lisongtao716 did you find a resolution for this issue? I'm facing the same thing.

istio version 1.13.9
k8s version 1.20.4

[2022-11-24 13:30] momiecloudoneguys commented on #41305
Hey, The cipherSuites in your list seems to be only supported by TLS 1.2 and 1.3, if you want to support TLS 1.1 you have to add some cipherSuite supported. For my usage i have add the cypherSuites which was no longer enabled by default in the new version of envoy proxy, based in this page: https://www.envoyproxy.io/docs/envoy/v1.21.0/api-v3/extensions/transport_sockets/tls/v3/common.proto

[2022-11-24 14:46] FYGonzalo opened #42147 "HTTP/2 missing frames on streams (incomplete requests)"
### Bug Description

The application does not receive the data frames for some requests.

This problems occurs between the istio-proxy sidecar container and the application container, when the connection is configured as http/2 (using the explicit protocol selection).

Using tcpdump we observe that for certain post requests, the istio-proxy sends the HEADER frame for the stream, with end_headers=t

[2022-11-24 15:28] gmeher opened #42148 "Envoy filter: unknown field "typed_config" in envoy.config.route.v3.Route"
### Bug Description

A sample Istio virtual service. It retries 5 times without backoff or Jitter.
[code]

I want to apply Jitter and exponential backoffs to the retries, so adding an envoy Filter

[code]

getting output:
[code]

As expected the retries are not with exponential backoff.

1. envoy [says exponential backoff is by default](https://www.envoyproxy.io/docs/envoy/latest/configuration/htt

[2022-11-24 17:59] Wld1122 opened #42150 "Can not inject sidecar with admission webhook "namespace.sidecar-injector.istio.io" denied the request"
### Bug Description

I am trying to add Sidecar object to a service with below defination,  for fix istio-proxy container high memroy  usage:

[code]

Add couple of annotations:
[code]

After the Sidecar applied with "helm upgrade", every thing is good, memroy reduced as expected.

But than we can not update this service anymore,  got error:
[code]

We are crazy on this error, tried every thing,

[2022-11-24 19:45] ajpauwels commented on #40802
@n-tangufor In case you're still on this, or for anyone else, for me this was caused by having incorrectly formatted `imagePullSecrets`. I had the following:

[code]

When I should have had:

[code]

Hope that helps!

[2022-11-24 20:56] StianOvrevage commented on #38148
This is still an issue on 1.15.3

[2022-11-24 23:28] shibin-george opened #42152 "Tunneling HTTP traffic transparently"
**Describe the feature request**
I have a squid forward-proxy that is the point-of-egress for a few specific (not all) outbound requests.
Of course the traditional way to do this would be for the application-logic to set the HTTP_PROXY details for those outbound requests which need to go via the proxy.
I'm trying to see if the proxying logic can be made transparent to the application-logic i.e. th

[2022-11-25 01:09] mark8s commented on #42145
@zirain Thank you for your frequent reply, thank you thank you~ I will continue to try~

[2022-11-25 01:28] #42106 closed

[2022-11-25 01:36] zirain commented on #42145
BTW, put `request.url` may cause memory issue.
thinking about your app have a RESTful API like `/user/:userid`, N * users login will lead N counter stats.

[2022-11-25 01:37] mark8s commented on #42145
@zirain Yes, I understand this. We will analyze how to deal with it better, whether to create a new metric or use an existing one to delete and modify tags.

[2022-11-25 01:44] mark8s commented on #42145
@zirain I did as you said, but I found that I still didn't generate metrics. why? Does it have something to do with the istio version? I am currently using 1.11.5...

[2022-11-25 03:38] #42112 closed

[2022-11-25 03:51] quraynai commented on #27419
it's working. just 100 lines of configs to maintain is kinda too much.

[2022-11-25 03:54] johnlanni opened #42154 "correct wasm cache file expiry policy"
### Bug Description

The wasm cache file will be marked as stale and deleted if it has not been accessed for the default 24 hours, even if it is still in use.

https://github.com/istio/istio/blob/ec750d5d1e7127bb69feca899b60eb1d2071023e/pkg/wasm/options.go#L25

https://github.com/istio/istio/blob/47f0678388b1bb6c3f33c4eb6d9394c37192fbd1/pkg/wasm/cache.go#L402-L442

If no ECDS request triggers acce

[2022-11-25 03:58] zirain commented on #42154
cc @ingwonsong

[2022-11-25 04:00] zirain commented on #42145
1.11 is EOL, I cannot recall what's different.

[2022-11-25 04:16] mark8s commented on #42145
@zirain Okay, it should be a version problem, thank you~

[2022-11-25 04:16] #42145 closed

[2022-11-25 04:29] fatedier opened #42155 "rootNamespace is set to null in helm install"
### Bug Description

![image](https://user-images.githubusercontent.com/7346661/203900815-18b738ab-698a-4cb0-9184-3cf80e6c002c.png)

https://github.com/istio/istio/blob/master/manifests/charts/istio-control/istio-discovery/templates/configmap.yaml#L10

<img width="1072" alt="image" src="https://user-images.githubusercontent.com/7346661/203901003-f61fe4bb-da81-432f-8afc-18c4b56dc9c5.png">

When I u

[2022-11-25 05:03] #40376 closed

[2022-11-25 05:03] #40383 closed

[2022-11-25 05:03] #40419 closed

[2022-11-25 05:06] vardhaman22 commented on #28995
I believe the PR: https://github.com/istio/istio/pull/36168 corresponding to issue: https://github.com/istio/istio/issues/35951 fixes this issue as well.
@morvencao  can you please confirm.

[2022-11-25 05:12] vamshikrishna9999 opened #42157 "Istio init issue"
### Bug Description

I was trying to install kubeflow version v1.5.0 on OpenShift cluster. I have deployed all the components of Kubeflow then pods should be in running state so some're up and when it comes to Istio-init is not able to running state due to error Failed to execute: iptables-restore --noflush /tmp/iptables-rules-1669007447751581007.txt771627809, exit status 2.

### Version

[code]

[2022-11-25 06:37] fatedier commented on #42155
Releated helm issue: https://github.com/helm/helm/issues/9587

[2022-11-25 07:48] morvencao commented on #28995
right, https://github.com/istio/istio/issues/35951 should fix this.

[2022-11-25 08:00] #40423 closed

[2022-11-25 08:12] chargui-yassine opened #42158 "Authenticator KubeJWTAuthenticator: invalid bearer token, ServiceAccount UID ($uid) does not match claim ($uid-istio-ingressgateway-service-account)]"
### Bug Description

All workloads that using GKE workload identity having these errors:

`2022-11-24T22:38:08.583904Z	error	ads	Failed to authenticate client from 10.82.4.196:46968: Authenticator ClientCertAuthenticator: no verified chain is found; Authenticator KubeJWTAuthenticator: failed to validate the JWT from cluster "Kubernetes": the service account authentication returns an error: [invali

[2022-11-25 08:35] Thnai commented on #26791
@satishmane mind to share your solution?

[2022-11-25 08:47] #42133 closed

[2022-11-25 09:37] Wld1122 commented on #42150
@howardjohn  clould you please take a look at this issue?

[2022-11-25 10:15] my-git9 opened #42159 "`istioctl operator remove` fail when not specify version"
### Bug Description

I used the latest histoctl compiled by the code to unload the operator, and found that the execution failed.
[code]
The operator is exist:
[code]
Debug:
[code]
The required deployment name is `isito-operator-default`

### Version

[code]

### Additional Information

_No response_

[2022-11-25 10:24] my-git9 commented on #42159
We can specify the revision of the default version without adding a suffix in the 'istoctl operator init'

[2022-11-25 11:41] sathuish opened #42161 "Incorporate my own external CA certificate into my istiod"
Good day. How do I incorporate my own external CA certificate into my istiod? I don't have any ca.key. Only the CA certificate can be added. I tried with https://istio.io/latest/docs/tasks/security/cert-management/plugin-ca-cert/, I'm able to do this but I couldn't use my own signed CA certificate as the ca.key is restricted to use.

[2022-11-25 11:54] F7502 opened #42162 "AuthorizationPolicy validation contradicts actual behavior (CUSTOM with notPrincipals rule)"
### Bug Description

We have implemented an external authorization provider and use it in `AuthorizationPolicy` resources with `action: CUSTOM`. One of our policies looks like this:

[code]

When we run `istioctl analyze -A` we get the following error:

[code]

However, when we are sending traffic to our service the policy seems to be active, i.e. request coming from the Gateway are processed by o

[2022-11-25 12:13] jkhe-hub opened #42163 "Direct communication between pods on the same node fails when using ambient"
### Bug Description

When using the ambient mode, the following error occurs on communication between pods on the same node, and the communication between pods between different nodes has not yet found problems.
[code]
The following is the log of the ztunnel pod on the node, but I did not find any exceptions
[code]
The target pod(10.244.0.2) didn't receive the request.

I know the information abov

[2022-11-25 12:20] dex4er commented on #32942
@howardjohn

It helps when you have multiple domains in cookie then you share the session between different domains.

[2022-11-25 12:41] jk-he commented on #42163
I used `tcpdump -i eth0` to capture packets in the ztunnel pod of this node, but I did not find the processed packets sent by ztunnel. Is this a problem ztunnel proxy or configuration xds distributed?

[2022-11-25 14:58] Wld1122 commented on #42150
Just figured out the reason of the problem, the invalid values of istiod helm chart cause this problem:

I am tried to disable the zipkin tracer, and assign a blank value:

[code]

after recover to the default value "zipkin", every back to normal!

[code]

[2022-11-25 14:58] #42150 closed

[2022-11-25 15:00] ramaraochavali commented on #27419
Sure. I agree. We can propose an API

On Fri, 25 Nov 2022, 9:21 am quraynai, ***@***.***> wrote:

[2022-11-25 15:14] ramaraochavali commented on #41773
This is fixed in https://github.com/istio/istio/pull/41831

We can close this issue

On Thu, 24 Nov 2022, 12:13 am jacob-delgado, ***@***.***>
wrote:

[2022-11-25 15:33] howardjohn commented on #32942
That still doesn't seem to help the issue that request 1 and request 2 are not sent to the same server if the session id is generated by the server?

[2022-11-25 15:47] howardjohn commented on #42142
Can you describe what features of Istio you need added to use it with BFFs?

[2022-11-25 15:49] howardjohn commented on #42158
the only time I've seen this happen is when the service account Secret is deleted. Is that happening?

[2022-11-25 15:50] howardjohn commented on #42157
https://istio.io/latest/docs/setup/platform-setup/prerequisites/

[2022-11-25 15:50] #42157 closed

[2022-11-25 15:53] howardjohn commented on #42147
Istio 1.9 is over a year EOL. I appreciate the detailed report but this project won't spend time debugging issues for these old versions - it's pretty likely a waste of time and already been fixed. Please reopen if you experience in new versions. Thanks!

[2022-11-25 15:53] #42147 closed

[2022-11-25 15:53] chargui-yassine commented on #42158
@howardjohn  Thanks for your reply, How can I check that ?

[2022-11-25 16:50] howardjohn commented on #40973
The default isn't calico unless you enable network policy when creating the
cluster. If you just use the defaults in the UI it will work

On Fri, Nov 25, 2022, 8:27 AM Daniel Wayne ***@***.***> wrote:

[2022-11-26 05:02] #40421 closed

[2022-11-26 05:02] #40429 closed

[2022-11-26 12:42] vardhaman22 commented on #32689
as per https://github.com/istio/istio/issues/28995#issuecomment-1327121142 this issue is also fixed (PR: https://github.com/istio/istio/pull/36168 corresponding to issue: https://github.com/istio/istio/issues/35951).

[2022-11-27 03:59] pallintipremkumar opened #42169 "static files of jaeger not loading"
### Bug Description

The static files of jaeger not loading getting 404 error for all static content files.

I am using below configuration
[code]

### Version

[code]

### Additional Information

![Screenshot from 2022-11-27 09-27-15](https://user-images.githubusercontent.com/39269050/204118592-ae159253-6d88-4b74-8d81-f16fccf22abe.png)

[2022-11-27 05:02] #40436 closed

[2022-11-27 09:23] #41562 closed

[2022-11-27 18:39] howardjohn commented on #40676
not stale

On Thu, Nov 24, 2022 at 9:04 PM Istio Policy Bot ***@***.***>
wrote:

[2022-11-27 21:55] howardjohn commented on #42158
`kubectl get secret -n istoi-system` and looking at the ingress gw SA one is a good start

[2022-11-28 04:47] hemendrateli opened #42170 "Istiod server and webhooks DNS certs are not being rotated for k8s CA with legacy/custom signer"
### Bug Description

When Istiod's DNS certificate is signed by [ANY non-istiod CA](https://github.com/istio/istio/blob/d9a190cb5cedf4700a6cac6cd53a669329f7fa37/pilot/pkg/bootstrap/certcontroller.go#L108), we don't track the lifetime of the DNS cert issued to ensure that it doesn't expire. This presents a problem - Istio might present expired cert to clients talking to it and TLS communication wil

[2022-11-28 07:04] zirain commented on #42169
[code]

[2022-11-28 09:02] chargui-yassine commented on #42158
As you can see, the service account Secret is not deleted.
<img width="802" alt="Capture d’écran 2022-11-28 à 09 55 43" src="https://user-images.githubusercontent.com/93583306/204235631-2648e634-953a-43a1-89f5-eefefa542ae2.png">

[2022-11-28 13:57] yogeshgadge commented on #42138
So mesh needs to be restarted to get its effects even if is in another namespace?

I guess how or rather when would a global mesh configs gets merged with a proxy config in a different namespace for a the istio-proxy side car in that namespace to gets the merged config.

[2022-11-28 14:38] LithiumSR opened #42173 "CR is sometime ignored when controller is deployed with enhanced resource scoping feature"
### Bug Description

Hello everyone,
While I was tinkering with the new enhanced resource scoping feature of Istio 1.16.0 I noticed one issue.
I suspect that there is a race condition which leads to some custom resources to be ignored under certain circumstances.
So far, I managed to pinpoint the issue to this scenario:
1. Create istio-system namespace without any label
2. Do in parallel:
    - De

[2022-11-28 14:42] kfaseela commented on #42173
cc @hzxuzhonghu

[2022-11-28 15:22] howardjohn commented on #42158
Well something is messing with it... this is a k8s level issue, Istio relies on Kubernetes mounting correct Service Account tokens

[2022-11-28 17:28] jacob-delgado commented on #41773
Thanks!

[2022-11-28 17:28] #41773 closed

[2022-11-28 17:47] kevinlmadison commented on #26584
hey I found this issue while trying to solve the same problem, I think this is what we're looking for:
https://istio.io/latest/docs/reference/config/networking/envoy-filter/#EnvoyFilter-RouteConfigurationMatch

[2022-11-28 17:58] eitansuez commented on #42114
allow me to articulate what i believe to be the essence of the problem..

a common scenario for an app is a workload running in istio that wants to authenticate to a postgresql database.
however, the workload's spiffe identity cannot be used to authenticate to the database.
the problem: although postgresql supports certificate-based authentication, that mechanism is not compatible with istio/spiff

[2022-11-28 18:02] howardjohn commented on #42114
Istio can solve this problem; we integrate with tons of CAs which can do whatever they want with certificates. However, the Istio CA is intentionally minimal and will not implement this.

If you want to use Istio certs to authenticate with other applications, there are two paths
1. Have those apps authenticate SAN
2. Use a CA that supports this

[2022-11-28 18:04] eitansuez commented on #42114
i understand.  makes sense.  thanks!

[2022-11-28 19:01] john-a-joyce commented on #41104
@hzxuzhonghu - sorry I most have corrupted the file when I tarred it.  Anyway, I double checked things and found the reason there was not load balancing across the clusters is I did not properly set up a common chain of trust.   Once I fixed that I was able to properly load balance across the clusters.    Since the original submitter was going through gateways its not obvious if his issue is the s

[2022-11-28 21:49] ZhengzheYang commented on #40303
@ahmadsayed hi, thank you for trying the solution out. I tried to reproduce this but the autoscaler seems to be working from 0 -> 1 for me. What I did:
1. Create a cluster and scale to 0
2. Turn on autoscaler
3. apply a pod that requires `cni.istio.io/ready=true`

The pod is indeed unschedulable (because I didn't install istio) but the nodes are successfully created. It would be very helpful to se

[2022-11-28 22:31] jewertow commented on #41854
Hi @shibin-george!

I'm sorry for the late reply. I'm glad to see that my issues and notes were helpful.

I think that you should be able to force tunneling when a particular header is sent, however it will be only possible with an egress gateway. Why? To make a header-based routing, you need a VirtualService with an HTTP route, but DestinationRule with tunnel settings can be only applied to TCP o

[2022-11-29 01:49] hzxuzhonghu commented on #42173
I can see after L606, you deleted and reapply the envoyfilter again, it did trigger full push.

But before that, i donot see any log for this envoyfilter like L607(Handle event delete for configuration networking.istio.io/v1alpha3/EnvoyFilter/istio-system/istio-ingressgateway-keepalive-options), not sure why.

[2022-11-29 01:59] dddddai commented on #42173
I suspect it's because the discovery controller [does not trigger events for CRs](https://github.com/istio/istio/blob/1.16.0/pilot/pkg/serviceregistry/kube/controller/discoverycontrollers.go#L134-L135)?

Maybe the full push is triggered by other resources that does not affect LDS(i.e. `ldsNeesPush=false`)

[2022-11-29 02:04] johnlanni commented on #42154
https://github.com/istio/istio/pull/42167/files#diff-b4b9abc466fa6e7cad54037be486711eda1582c289c1dcbdd13aebd776442f5cL420

@zirain Why not check the module used here?

[2022-11-29 02:10] zirain commented on #42154
if a module removed, but then bring back in 24h?

[2022-11-29 02:16] johnlanni commented on #42154
https://github.com/istio/istio/blob/b53eff4eb810b5739143e848c25aa0927cfadb5f/pkg/wasm/cache.go#L60

I'm just confused that this usingModules field is not used when purging the cache, how does it keep the cache in use?

[2022-11-29 02:32] jacob-delgado opened #42184 "Cannot use DNS_ROUND_ROBIN in ServiceEntry without an endpoint specified"
### Bug Description

The following does not work in 1.16.0, but works in 1.14.5

[code]

This returns the following:

If I add
[code]
it works but having
[code]
reports the same issue.

I tracked this to https://github.com/istio/istio/pull/41901

### Version

[code]

### Additional Information

_No response_

[2022-11-29 02:52] zirain commented on #42154
seems I made a mistake, forgot to commit local changes

[2022-11-29 03:11] zirain commented on #42154
@johnlanni we need figure out one way to get all using modules, before https://github.com/envoyproxy/envoy/issues/20086 fixed, seems the only is get from pilot debug endpoint `/debug/config_dump?type=ecdsz&proxyID=<podname.namespace>`

[2022-11-29 03:35] johnlanni commented on #42154
or maybe we can parse it from the LDS response?

[2022-11-29 03:59] zirain commented on #42154
IIRC, LDS response only contains ecds resource name.

[2022-11-29 04:10] ingwonsong commented on #42154
(Sorry for super late response)

Yes. LDS response only contains ECDS reference (resource name).

[2022-11-29 04:33] johnlanni commented on #42154
Maybe we can use resource name as the cache key?

[2022-11-29 04:38] johnlanni commented on #42154
Or create a reference relationship between the resource name and the cache. Because we can only find out which modules are in use from the response of LDS.

[2022-11-29 05:01] #37642 closed

[2022-11-29 05:02] #40403 closed

[2022-11-29 05:02] #40468 closed

[2022-11-29 05:02] #40469 closed

[2022-11-29 06:09] hemendrateli commented on #42170
/assign hemendrateli

[2022-11-29 06:41] hzxuzhonghu commented on #42173
Yeah Right, before the envoyfilter was filterred out, so no log about it at all.

[2022-11-29 06:44] hzxuzhonghu commented on #42173
I have know the root cause, when the discovery selector changed or the namespace changed, it only trigger full push with Service updated, so we do not update envoyfilter index.

[2022-11-29 07:26] zirain commented on #41876
@AtticusLv v1.16.0 is released, can you verify this ticket?

[2022-11-29 07:27] hemendrateli commented on #42170
/assign hemendrateli

[2022-11-29 07:55] zirain commented on #41593
seems this's fixed.

[2022-11-29 09:20] #42080 closed

[2022-11-29 09:20] istio-testing opened #42189 "[release-1.16] tracing: fix opentelemetry service name"
Manual cherrypick required.

#42104 failed to apply on top of branch "release-1.16":
[code]

[2022-11-29 09:25] chargui-yassine commented on #42158
Is It the same issue as described [here](https://github.com/kubernetes/kubernetes/issues/106049) ?

[2022-11-29 09:58] chargui-yassine commented on #42158
Could you please confirm these options that we use to install Istio ?
<img width="370" alt="Capture d’écran 2022-11-29 à 10 55 46" src="https://user-images.githubusercontent.com/93583306/204498105-50480e74-aa8d-4ff9-bb47-5fd956cbb0bf.png">

[2022-11-29 10:15] anandraiin3 opened #42190 "Failed to generate workload certificate on remote cluster in primary remote multi network configuration on EKS"
### Bug Description

**Short description** : sidecars in remote cluster not able to get workload certificates, workload in primary cluster are fine.

**Description**
**Environment** : AWS EKS with K8S 1.24
**ISTIO Version** : 1.16.0
**Steps followed** :
1. Setup two different EKS Cluster named Cluster1 and Cluster2 . Cluster1 is designated to be primary and Cluster2 is designated to be remote.
2.

[2022-11-29 11:02] LithiumSR commented on #42173
Thank you both for the solution.
I have used a build with the proposed fix included and the issue is no longer reproducible 👍

[2022-11-29 11:11] hzxuzhonghu commented on #42173
good to know

[2022-11-29 11:26] kfaseela commented on #42173
Thanks a lot @hzxuzhonghu :)

[2022-11-29 11:45] AtticusLv commented on #41876
working on it.

[2022-11-29 12:20] lokeshjain2008 opened #42195 "Question: isito send info other than header from the external auth."
We have istio gateway with the following configuration

[code]
Note: the response from the `userService` is being added to the header as

[code]
Now the size of `userObject` has increase with new feature and we getting `header size` error.

Please help me with an alternate approach other than increasing the allowed header size.

thanks,

[2022-11-29 14:03] jkhe-hub opened #42197 "Questions about network forwarding rules in ztunnel"
I see policy routing rules in ztunnel pod for `fwmark 0x401/0xfff` and `fwmark 0x402/0xfff`:
[code]
But I found no rules in iptables to mark network packets as 0x401/0xfff or 0x402/0xfff:
[code]
And I didn't find anything about it in source code.
So, are policy routing rules for `fwmark 0x401/0xfff` and `fwmark 0x402/0xfff` currently used?

**Affected product area (please put an X in all that appl

[2022-11-29 16:09] howardjohn commented on #38852
not stale

[2022-11-29 16:16] davidggz opened #42200 "Question: How to add DefaultStatTags to not standard Envoy metrics."
Hello! I've been trying to get more metrics from Envoy using `IstioOperator` configuration because the Standard Istio Metrics are not enough for our use cases. For instance, it would be pretty good having the number of active connections in all our `istio-proxy` containers. Following the documentation [in here](https://istio.io/latest/docs/ops/configuration/telemetry/envoy-stats/) I added the foll

[2022-11-29 16:36] howardjohn commented on #42169
^ seems to resolve it

[2022-11-29 16:36] #42169 closed

[2022-11-29 16:45] howardjohn opened #42202 "JWKS unsafe missing retries on startup"
The JWKS refresh has retrying logic, which is important because the network or backend may be unreliable. This is critical for reliability.  On the XDS serving path, however, we have no retries since that would block all XDS which is bad as well.

These two are conflicting.

JWKS refreshing is only in the background. As a result, the first request for a given server will be on the XDS serving path

[2022-11-29 17:20] j2gg0s commented on #42148
[code]

- typed_config is not necessary and istio warn for unknown field.
- maybe we should check Envoy's route, like `istioctl proxy-config route xxx --name xxx | jq '.[].virtualHosts[].routes[].route'`

[2022-11-29 17:47] j2gg0s commented on #42148
Default Retry policy maybe controlled by this: https://github.com/istio/istio/blob/f8baff38c9b4129c0a6a1b24e31881f90a2c11e6/pilot/pkg/networking/core/v1alpha3/route/retry/retry.go#L33

[2022-11-29 18:56] boeboe commented on #42114
@howardjohn although Istio supports integration with external CA's, it is `istio-agent` that sends CSR request to
Istiod to get private key signed and determines the fields that will end up in the resulting certificate.

[code]

I took a look at the following good overview of current available integrations patterns (RA/CA) in this [presentation deck](https://events.istio.io/istiocon-2022/slides/a3

[2022-11-29 18:59] howardjohn commented on #42114
The CA doesn't necessarily need to follow the CSR exactly as written afaik.
Istiod CA doesn't for example

On Tue, Nov 29, 2022, 10:56 AM Bart Van Bos ***@***.***>
wrote:

[2022-11-29 20:37] linsun commented on #42137
That is great to hear, not surprising, thank you for trying the steps!  Your link is to multi-network, which i don't believe would work atm. Would your steps would be more similar to https://istio.io/latest/docs/setup/install/multicluster/multi-primary/?

[2022-11-29 20:37] linsun commented on #42137
cc @dhawton @EItanya

[2022-11-29 20:51] linsun opened #42208 "Add an integration test for authz policy port match using waypoint proxy"
### Bug Description

Following up https://github.com/istio/istio/issues/41204 and https://github.com/istio/istio/pull/41491, we need an integration test to automate the scenario.

### Version

[code]

### Additional Information

_No response_

[2022-11-29 21:04] linsun commented on #41615
Did you get it working?  Would love for folks to post instructions!

[2022-11-29 21:07] ChrisJBurns commented on #41615
@linsun  I eventually asked on [Slack](https://istio.slack.com/archives/C041EQL1XMY/p1667228907885479) and got some responses. The TL;DR is basically that it's on an ambient branch but I don't think it's available publicly yet through the Chart repository. I could be wrong though (I hope I am :) )

[2022-11-29 21:08] linsun commented on #42110
Does our get started guide work for you?  https://istio.io/latest/blog/2022/get-started-ambient/

[2022-11-29 21:32] parkedwards opened #42210 "[pilot 1.16.0] envoyExtAuthzHttp doesn't forward `x-envoy-peer-metadata` headers"
### Bug Description

TL;DR:

1. `envoyExtAuthzHttp` subrequests are consistently showing `source_app=unknown`
2. to remedy this, we started forwarding `x-envoy-peer-metadata` to the authorization service
3. after 1.16.0, we do not see these `x-envoy-peer-metadata` forwarded any longer, when enabling debug envoy logs

Hello there,

We've been running `pilot` on `1.15.3`, and all of our applications

[2022-11-29 21:36] parkedwards commented on #42210
also for record-keeping -- I opened a similar thread in the istio slack workspace here:

https://istio.slack.com/archives/C382V8Q92/p1669665387728149

[2022-11-29 22:47] SabySen commented on #41980
@howardjohn We have the same issue as well. On inspection we do not see the "istiod-default-validator" ValidatingWebhook being installed. But off course our installation is done via the istioOperator. Is there a setting that enables this webhook to be installed?

[2022-11-30 00:47] zirain commented on #42200
https://github.com/zirain/playground/blob/master/istio/iop/custom-metric.yaml

[2022-11-30 01:13] zirain commented on #42189
fixed by https://github.com/istio/istio/pull/42192

[2022-11-30 01:13] #42189 closed

[2022-11-30 01:34] anandraiin3 commented on #42190
@linsun any help will be hugely appreciated.

[2022-11-30 02:56] zirain commented on #42154
FYI: https://github.com/envoyproxy/envoy/pull/23902 is merged

[2022-11-30 03:18] linsun commented on #41191
could be related to #40973

[2022-11-30 03:45] hemendrateli commented on #42170
can someone please assign this to me, I am working upon this. I am a Istio member but can't assign issue.

[2022-11-30 04:09] zirain commented on #42210
can you share the config_dump?

[2022-11-30 04:27] morepork opened #42212 "ServiceEntry's from other revisions are not being ignored"
### Bug Description

ServiceEntry's with other revision labels are not getting skipped when they should be.

Repro steps in a local kind cluster with bookinfo:

[code]

Now when I query the endpoints of one of the pods, I see the "mongodb" IPs, i.e.

[code]

I expect these not to be present as the SE has a different revision label to the istio version installed. The installed version has the defau

[2022-11-30 04:30] morepork commented on #42212
This doesn't repro in 1.12.3, I think this PR introduces the issue: https://github.com/istio/istio/pull/35542, as it builds a service entry cache without using the config store which has revision handling.

I'm working on a fix by introducing a revision check to the cache handler that appears to resolve it locally.

[2022-11-30 05:03] #40489 closed

[2022-11-30 05:03] #40491 closed

[2022-11-30 05:11] low-on-mana commented on #31513
facing same issue with latest istio

[2022-11-30 05:58] WestFarmer commented on #42142
@howardjohn thanks for your response, I think I have already said, I want istio to be the BFF, not to use it with BFFs.
maybe I don't understand it correctly, but I think a service mesh solution is meant to handle common tasks like load balancing, security. BFF pattern is classic use case here, if we can have a proxy for all, why we need two or more ?

1. client ---> istio ---> service
2. client -

[2022-11-30 06:10] He-Jingkai commented on #42110
@linsun
Yes, it works.
It's found that when using the deployment it can work normally, but when using pod (although the same template as the deployment) it will report above error.

[2022-11-30 09:31] Aslan-Liu opened #42213 "Istio shouldn't change fsgroup as 1337"
### Bug Description

I had read the related post(https://github.com/istio/istio/issues/26882) before, but I am still stucked on the same problem. My kubernets and istio are not old, why I still can see 'fsGroup: 1337' in my pod definition file. I mount a volume in this pod, so this will cause this pod waits a lot of time for 'chown'.

I think this issue should be resolved before, right? but why?

[2022-11-30 09:56] zioproto commented on #41917
I am trying to autodetect AKS in this way:

[code]

But it does not work because this lookup function:
`{{ (lookup "apps/v1" "DaemonSet" "kube-system" "azure-ip-masq-agent") }}`

is returning **always** an empty map: `map[]`

This is probably an helm bug because the DaemonSet actually exists.

[code]

To debug the template I tried in the folder `manifests/charts/ztunnel` to run helm directly:
[cod

[2022-11-30 10:13] Aslan-Liu commented on #42213
I check and I find the default value is changed to "true" as default? Am I right?
But document says the default value is false?

[2022-11-30 11:55] 4c74356b41 commented on #41917
@zioproto keep in mind you need to actually install the chart to test this, doing `helm template` won't evaluate `lookup` function. ie your example works fine for me.

[2022-11-30 12:29] stevehipwell opened #42217 "Allow customisation of webhook port"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
I'd like to be able to customise the webhook port exposed by Istiod, more specifically I'd like to be able to do this via the Istio operator.

**Describe alternatives you've considered**
n/a

**Affected product area (please put an X in all that appl