[2019-08-19 22:02] rdsubhas commented on #8552
Here is an updated issue: https://github.com/istio/istio/issues/16391 and a repo with reproduceable test case https://github.com/rdsubhas/java-istio

This basically breaks ALL Java 11+ applications and most Java 9+ applications, as that's the default behavior of Java.

[2019-08-19 22:24] pitlv2109 commented on #16274
False alarm. Thanks Yangmin for the help,

[2019-08-19 22:24] #16274 closed

[2019-08-19 23:12] brectanus-sigsci opened #16393 "Istio 1.3 EnvoyFilter not working correctly testing istio 1.3"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

I am trying to inject a simple lua filter into the envoy config to test EnvoyFilter in istio 1.3 using httpbin as a test app. I am following the ba

[2019-08-19 23:22] ostromart commented on #16028
That's great it seems very readable. If we could refactor yaml diff in terms of that it would solve two problems at once, both the output being too big and we can extend the current ignore flag to take a path to pass to the differ e.g.
mesh manifest diff --ignore Deployment:*:istio-pilot:metadata.annotations.checksum/config-volume
Of course, it would still be nice for that diff to not exist at all

[2019-08-19 23:57] lambdai commented on #15790
Finally we use the field `metadata` in  message `FilterChain`.

[2019-08-19 23:57] #15790 closed

[2019-08-20 01:11] Parvathy-Geetha commented on #16327
@dgn Updated the config. I am using retries at the same level.

[2019-08-20 01:32] sujithvs74 commented on #16377
@howardjohn I already tried with http2MaxRequests and maxConnections, I could see above values got updated. But still ingress gateway (only one pod) not accepting more then 1024 connections.

`outbound|8080||k8sloadtest.prf-ns.svc.cluster.local::default_priority::max_connections::2048
outbound|8080||k8sloadtest.prf-ns.svc.cluster.local::high_priority::max_connections::1024
outbound_.8080_._.k8sloa

[2019-08-20 02:01] rshriram commented on #16393
can you try out https://github.com/istio/istio/pull/16395 and let me know if it fixes the issue? I am not sure why you are seeing two lua filters. or why the port match is not working. Can you show the full inbound configuration if possible, including the listeners?

[2019-08-20 02:11] jolsnow commented on #16340
@howardjohn  I have no idea for this, can you help me or give some suggest？

[2019-08-20 03:09] zqzzq commented on #16374
solved, closing this

[2019-08-20 03:09] #16374 closed

[2019-08-20 03:37] rlenglet commented on #16201
`istio/envoy` doesn't seem to have `CODEOWNERS` enabled. Is that intentional?
Cf. https://github.com/istio/envoy/pull/93, a backport into `istio/envoy:release-1.3`, which didn't require approval from @istio/release-managers-1-3  despite being listed in [`CODEOWNERS`](https://github.com/istio/envoy/blob/release-1.3/CODEOWNERS).

[2019-08-20 04:06] geeknoid commented on #16201
The Istio CI system is completely ignorant of the istio/envoy repo. We're
not enforcing any setting on the repo (such as code owners), not running
any builds, nothing.

There's nothing stopping us if we need this. Just let me know.

On Mon, Aug 19, 2019 at 8:38 PM Romain Lenglet <notifications@github.com>
wrote:

[2019-08-20 04:08] rlenglet commented on #16201
OK, that's fine. It was just surprising.

[2019-08-20 04:10] dhineshbabuelango opened #16396 "1.2.4 proxy version incorrect (94746cc-dirty)"
Hi All,
We are using istio in AWS EKS. I recently tried to upgrade the istio version from 1.2.2 to 1.2.4 following the steps mentioned in the below link.

https://istio.io/docs/setup/kubernetes/upgrade/steps/

After the upgrade, I was able to deploy application and the normal sanity test check shows everything is running as expected. But if i run istioctl version, i am getting like below for ingre

[2019-08-20 05:55] nokiabaitanik commented on #16370
We have tried that . for sidecar :

resources:
      limits:
        cpu: "2"
        memory: 1Gi
      requests:
        cpu: "2"
        memory: 1Gi

Still after sometime it starts to go down.

[2019-08-20 05:59] kjanshair commented on #13533
I'm using Istio on EKS. I don't see element `grpc_io_server_completed_rpcs` in the `http://localhost:15014/metrics` as described in the first section of the [docs](https://istio.io/docs/ops/telemetry/missing-metrics/#verify-mixer-is-receiving-report-calls). This might be the reason I see missing metrics in Grafana dashboards.

Kubernetes: v1.13
Istio: v1.2.4

My way of installing Istio:

[code]

[

[2019-08-20 06:00] nokiabaitanik commented on #16370
Can you in your env check for longer run (may be 12/24 hours ) whether tps is degrading ?

[2019-08-20 06:24] jeremyzhou opened #16397 "istio redis Connection refused"
a cronjob in kubernetes execute some lua script in redis.
It can not connect redis server when enabled istio-injection.
but It works when disabled istio-injection.

**prints:**
Traceback (most recent call last):
  File "/root/gc/main.py", line 276, in <module>
    cleanup_online_device_in_redis()
  File "/root/gc/main.py", line 105, in cleanup_online_device_in_redis
    result = cmd(args=[strTimes

[2019-08-20 06:57] Jason-ZW opened #16398 "Missing prefix for INSTANCE_IPS"
**Bug description**
ISTIO auto inject env with `IstioMetaPrefix = "ISTIO_META_"` at bootstrap stage.
But discovery can not found IPS from node metadata, this because missing `ISTIO_META_` prefix when reading from metadata struct.

**Version (include the output of `istioctl version --remote` and `kubectl version`)**
master

[2019-08-20 07:25] inewlife commented on #16364
@howardjohn yes,I mean all requests go to one instance instead of round robin
I use the host name which  is service name, but my VirtualService host is my gateway host
this is my wrong config
`
kind: VirtualService
apiVersion: networking.istio.io/v1alpha3
metadata:
  name: nlp-grammar-route
  namespace: ai
  resourceVersion: '2674981'
  generation: 17
spec:
  hosts:
    - grammar.sr.cvte.cn
  gate

[2019-08-20 08:09] #16397 closed

[2019-08-20 08:56] Jason-ZW opened #16401 "Fix multi IPS not be built as inbound listeners with KUBE service registry"
## Issue describes:
There is a problem with multiple IP scenarios, see below:
- The applications are deployed in K8S.
- Applications have two IP address, first one is PODIP, others attached by (multus-cni)
- Using Istio kube registry
- I found only the first IP which is pod.Status.IP will be built as corresponding inbound listeners, others which attached by (multus-cni) not be built inbound listen

[2019-08-20 09:05] hzxuzhonghu commented on #16398
`ISTIO_META_` this is for env var only. For node.meta, it should not include this prefix.

[2019-08-20 09:14] Jason-ZW commented on #16398
@hzxuzhonghu But this line will never get the `ISTIO_META_INSTANCE_IPS` isn't it? https://github.com/istio/istio/blob/master/pilot/pkg/model/context.go#L344

[2019-08-20 09:37] alexanderbuhler commented on #10759
As a possible solution for anyone having the same problem and possibly myself in the future. 🤣

For some reason, although I've seen those values already set in the chart default, the corresponding handlers were not installed initially, leading to the missing adapter on port 42422.

After I've explicitly set them in my custom provided values, handlers were installed.

[code]

[2019-08-20 09:42] hzxuzhonghu commented on #16398
[code]

It is `INSTANCE_IPS` here, should work well.

[2019-08-20 09:44] Jason-ZW commented on #16398
@hzxuzhonghu
Form this PR line I think the original intent should be prefixed
https://github.com/istio/istio/pull/9688/files#diff-03c8888f03893e7e2ff9bc099c637e53R249

[2019-08-20 09:46] hzxuzhonghu commented on #16398
There is a bug there. I fixed it.

[2019-08-20 09:52] Jason-ZW commented on #16398
@hzxuzhonghu  Could you please give commit id, so that I can check that. Maybe it's my mistake because my istio-proxy using 1.2.0.

[2019-08-20 09:56] hzxuzhonghu opened #16402 "EnvoyFilter patched 2 same filters to ingress-gateway"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

The root cause is `istio-system ` is the root config namespace by default, so we get 2 (one from root ns, and one from gateway's namespace ) same E

[2019-08-20 09:57] hzxuzhonghu commented on #16402
/assign

[2019-08-20 09:58] hzxuzhonghu commented on #16402
/cc @x15zhang

[2019-08-20 09:59] Jason-ZW commented on #16398
I'm going to close this issue. I'm going to try it again with the master. @hzxuzhonghu  Thanks a lot.

[2019-08-20 09:59] #16398 closed

[2019-08-20 10:19] kjanshair commented on #13533
Also I see below error in the first install:

[code]
[code]

[2019-08-20 11:28] johnzheng1975 commented on #16341
@yangminzhu , Thanks for your introduction.
**Your question:** Do you know how often does this happen?
**My answer:** For one cluster, there are 5 public key, basically will raise once 1 - 2 times each month.
**Your question**: How long does the network error last?
**My answer**: Here is an example:
For one service, it has three pods. One of three has issue(http request enter will return 200), the

[2019-08-20 12:13] johnzheng1975 commented on #16341
@yangminzhu , I am upgrading to istio1.1. However, there is still some cluster using istio1.0.
So, do you have any suggestion how to simple fix it in istio1.0? or at least reduce impact.
I can try, no matter fix it in istio-pilot or istio-proxy.
BTW, I did not found your improve about "Pilot will fallback to use the cached pubkey if it failed to fetch it instead of returning an empty pubkey.", can

[2019-08-20 13:25] mbanikazemi commented on #14662
Elasticsearch requires use of stateful sets. It needs to listen on local:port for it to
work with Istio. In particular, there are two config params that need to be set
appropriately: network.bind_host and network.publish_host. If these
are not set individually they are both set to network.host. However, to
have ES work with istio network.bind_host where ES listens for
incoming requests must be set

[2019-08-20 13:26] mbanikazemi commented on #14743
How to have ES work with Istio please see https://github.com/istio/istio/issues/14662.

[2019-08-20 13:29] esnible commented on #16282
Related: https://github.com/istio/istio/issues/14909 which was closed, perhaps prematurely.

[2019-08-20 13:31] mbanikazemi commented on #14662
and this is the full working yaml using `docker.elastic.co/elasticsearch/elasticsearch:7.2.0` image:

#kubectl create namespace elastic
#kubectl label namespace elastic istio-injection=enabled

<pre>
kind: Service
apiVersion: v1
metadata:
  name: elasticsearch
  namespace: elastic
  labels:
    app: elasticsearch
spec:
  selector:
    app: elasticsearch
  clusterIP: None
  ports:
    - port: 9200

[2019-08-20 13:32] mbanikazemi commented on #14662
I am closing this issue. Please open if the suggested solution does not solve your problem.

[2019-08-20 13:45] esnible commented on #10053
@mbanikazemi If it doesn't work out-of-the-box should we close this?

I think we should keep it open until we have documented it similar to what we do for MySQL ( https://istio.io/faq/security/#mysql-with-mtls ).  @frankbu Do you think this can be documented for 1.3?

[2019-08-20 13:45] esnible commented on #14662
@mbanikazemi If it doesn't work out-of-the-box should we close this?

I think we should keep it open until we have documented it similar to what we do for MySQL ( https://istio.io/faq/security/#mysql-with-mtls ).  @frankbu Do you think this can be documented for 1.3?

[2019-08-20 13:57] RomanVantukh commented on #11119
Hi @pxzero, do you have any updates on this ? Because I'm facing the same question and would like to know how to if such feature is available, thank you

[2019-08-20 14:11] vadimeisenbergibm opened #16406 "In the multiple control plane multi-cluster mesh as documented on istio.io, all the services are exposed by default."
Following the [Networking WG meeting on 15-th of August 2019](https://docs.google.com/document/d/1xHy2jQ8oiwMponMVY2zJr2eUAmHW_Hi9JK42a7cg5Pc/edit#heading=h.2ju2wl4o5jbc): In the [multiple control plane multi-cluster mesh](https://istio.io/docs/setup/kubernetes/install/multicluster/gateways/) pattern, all the services are exposed by default. This is the behaviour as it is documented in the install

[2019-08-20 14:22] vadimeisenbergibm opened #16407 "In the multiple control plane multi-cluster mesh pattern, all the services are exposed by default."
Following the Networking WG meeting on 15-th of August 2019: In the [multiple control plane multi-cluster mesh](https://istio.io/docs/setup/kubernetes/install/multicluster/gateways/) pattern, all the services are exposed by default. This is the behaviour as it is documented in the installation example.

There is a claim that it is a P0 bug, while in my opinion it is a feature of the pattern, it wa

[2019-08-20 14:22] vadimeisenbergibm commented on #16407
duplicate, closing

[2019-08-20 14:22] #16407 closed

[2019-08-20 14:24] vadimeisenbergibm commented on #16406
In the dedicated control planes pattern (a.k.a multiple control planes, a.k.a. gateway connectivity), a passthrough ingress gateway is used. This gateway is a TCP passthrough proxy.
It does not perform TLS termination, it does not see the client certificate and cannot filter traffic by the source principal.
It sniffs the SNI value, replaces the `.global` suffix with `.svc.cluster.local` and direct

[2019-08-20 14:27] esnible commented on #16391
Reddit thread on this issue: https://www.reddit.com/r/kubernetes/comments/cso105/istio_breaks_all_java_11_and_most_java_9/

[2019-08-20 14:30] vadimeisenbergibm commented on #16406
@costinm @smawson @louiscryan @rshriram @andraxylia @sdake @linsun I have opened this issue following the Networking WG meeting on 15-th of August 2019. Your comments are welcome.

[2019-08-20 14:30] vadimeisenbergibm commented on #16406
^ @nmittler

[2019-08-20 14:37] tsjnsn commented on #13098
I'm struggling through the same thing. Using `compiledAdapter: opa` and `compiledTemplate: authorization` seemed to help. All the documentation around configuring these adapters is out of date

[2019-08-20 14:53] howardjohn commented on #16377
[code]

Looks good to me. I think you can ignore the one with "high_priority", as far as I know we don't support it so envoy just puts the default of 1024 there -- but it doesn't mean anything.

[2019-08-20 14:58] howardjohn commented on #16364
Yes the host should be the host of the Service, not gateway. Glad you got it resolved

[2019-08-20 14:58] #16364 closed

[2019-08-20 15:17] vadimeisenbergibm commented on #16406
^ @frankbu

[2019-08-20 15:49] howardjohn commented on #16396
When we built the 1.2.4 proxy we made a mistake setting the correct version number, which is why you see that instead of 1.2.4. Its just a version label issue, everything else should be fine. In a couple days we are releasing a fix for it and a couple other things

[2019-08-20 16:00] emedina commented on #13098
@tsjnsn So do you have a full working example that you can share in a Gist?

[2019-08-20 16:07] frankbu commented on #10053
I think a FAQ entry for this would be good, e.g., "Can I run Casandra inside an Istio mesh?"

[2019-08-20 16:12] frankbu commented on #14662
Maybe all of the "well known" apps that don't work out-of-the-box should have a FAQ entry. That would be a good place to say that it works but just needs "some special config ..."

[2019-08-20 16:46] costinm commented on #16407
What is it duplicating ?

To answer your comments: Gateway provides a clear mechanism to control what hosts can be exposed, since Istio 1.1.

Multicluster for multiple networks is using Gateway - configured in SNI-proxy mode. The SNI-proxy
port - just like any other port in the Gateway - should follow the same rules, and allow configuration
of which namespaces and services can be exposed.

The con

[2019-08-20 16:49] costinm commented on #16407
Also "multiple control plane" has nothing to do with the issue - one or more control plane is not a factor.

Neither is the number of clusters:  even if you have a single cluster with just mesh expansion, the Gateway should still follow its own specification in exposing internal services via SNI-routing mode.

The real bug is in Gateway implementation of SNI-proxy mode - which may be used in vario

[2019-08-20 17:10] brectanus-sigsci commented on #16393
@rshriram #16395 resolves the INSERT_BEFORE ordering issue.

I have more on the `portNumber` matching:
* I had the wrong port in my EnvoyFilter (app was 8080, but I switched to 80 and forgot to change the EnvoyFilter and the 8080 that was in the config was OUTBOUND, so no match). Using the corrected `portNumber: 80`, then this seems to work correctly. I get one lua filter in the port 80 listener o

[2019-08-20 17:17] rlenglet opened #16411 "Create first release-1.3 snapshot release"
- [ ] trigger snapshot build - modify `monthly/release_params.sh` with right params - release-1.3, commit, and 1.3.0-snapshot.0

[2019-08-20 17:29] vadimeisenbergibm commented on #16407
@costinm Sorry, it is duplicating https://github.com/istio/istio/issues/16406, I accidentally opened the same issue twice. Let me copy your comments to that issue.

[2019-08-20 17:31] vadimeisenbergibm commented on #16406
Comments of @costinm:

port - just like any other port in the Gateway - should follow the same rules, and allow configuration
of which namespaces and services can be exposed.

[2019-08-20 17:35] vadimeisenbergibm commented on #16406
@costinm please note that I am talking about the specific pattern, the one that appears at Istio.io: https://istio.io/docs/setup/kubernetes/install/multicluster/gateways/.

That specific pattern, as documented at istio.io, exposes all the services by default. Until someone documents how to expose nothing by default, this is what the Istio users will do.

[2019-08-20 17:50] richardwxn commented on #16335
PR merged in: https://github.com/istio/operator/pull/205

[2019-08-20 17:50] #16335 closed

[2019-08-20 17:51] richardwxn commented on #16390
PR created: https://github.com/istio/operator/pull/215

[2019-08-20 17:52] richardwxn commented on #15845
The flag was added in mesh manifest versions command

[2019-08-20 17:52] #15845 closed

[2019-08-20 18:30] vadimeisenbergibm commented on #16406
@costinm To provide more information: the pattern as documented at https://istio.io/docs/setup/kubernetes/install/multicluster/gateways/ uses a specific Istio installation, defined by the following helm values https://raw.githubusercontent.com/istio/istio/release-1.2/install/kubernetes/helm/istio/example-values/values-istio-multicluster-gateways.yaml.

It deploys the special passthrough ingress ga

[2019-08-20 18:34] Monkeyanator commented on #15485
`ISTIO_MUTUAL` features (both the API change into `istio/api` and the gateway change into `istio/istio`) have been merged, closing issue.

[2019-08-20 18:34] #15485 closed

[2019-08-20 18:50] nitishm commented on #15485
Is there a plan to add `mode: MUTUAL` with support for `credentialName`, to apply a symmetric solution to the Egress Gateway, as is currently available for the Ingress `Gateway` resource and controller w/ the assistance of **SDS** `nodeagent` as shown [here](https://istio.io/docs/tasks/traffic-management/ingress/secure-ingress-sds/)?

[2019-08-20 19:58] Monkeyanator commented on #15485
I'm not sure whether or not there was a plan for this, but it should be possible to implement (though the current code is specific to ingress gateway). Could you go a bit more into on your use-case?

[2019-08-20 20:01] nitishm commented on #15485
@Monkeyanator I had a discussion regarding this on the discuss forum if you would like to peruse through it https://discuss.istio.io/t/how-to-connect-namespaces-over-ingress-egress-gateways-only/2298/4.
Also we have an open issue for this as well https://github.com/istio/istio/issues/14039

[2019-08-20 20:02] mwringe commented on #15804
How do we want people to vote on this?

Personally, I like '<verb> <object>' (like how kubectl does things). I feel like it helps with discovery of what you can do with the verb, and it can also help if some verbs have objects that wont exist for other commands.

[2019-08-20 20:16] smawson commented on #15804
Interestingly kubectl isn't even consistent here, they are mostly `<verb> <object>` but they also have rollout which is `<object> <verb>` style.

I'm OK with either `<object> <verb>` or `<verb> <object>`, I strongly dislike `<verb>-<object>`. If we go with `<verb> <object>` we should be very careful about the set of verbs we support and try to reuse, for example 'check' should be a standard verb w

[2019-08-20 20:58] mandarjog opened #16416 "1.3 Performance regression detected by regpatrol"
Since 1.3 builds [regpatrol](https://ibmcloud-perf.istio.io/regpatrol/) shows small but consistent degradation in TPS in Full and No Mixer case.
(B) No Mixer case removes Mixer filter. 1.2.x basline was 1139 and it dropped to 1080.

The drop is small but consistent.

Row | Build | (A) Istio Full | (B) No Mixer | (C) Ingress Only | (A)/(C) % | (B)/(C) %
-- | -- | -- | -- | -- | -- | --
1 | 1.2.3 (b

[2019-08-20 20:58] mandarjog commented on #16416
@jnativio

[2019-08-20 20:59] mandarjog commented on #16416
@jnativio can you confirm that you can replicate 1.2 results on the current setup and it is not an environmental thing?

[2019-08-20 21:03] furlongmt commented on #8264
I've also been looking to add a per-filter config for a custom filter. Could you elaborate more on you solution @rshriram?

[2019-08-20 21:23] mbanikazemi commented on #16406
The issue of this being a bug or a feature seems to be mute for your purposes. What you have suggested, using a private gateway with an appropriate configuration and rbac or something along those lines will be what you need for selectively exposing services. This pattern is not documented and I think having it documented is fine. The current documentation can be updated to explicitly let the users

[2019-08-20 21:23] crhuber commented on #16391
#14743

[2019-08-20 23:26] smawson commented on #16406
A mesh exposing all services by default is an explicit design goal of a multicluster mesh. Another explicitly goal is that the details of clusters and networks is abstracted away so the user is only dealing with logical concepts of a mesh, a namespace, and a service. So exposure is intentionally limited to being about those concepts. You can expose services between namespaces, or block them from n

[2019-08-20 23:45] costinm commented on #16406
@smawson  there are few different issues:

- RBAC rules should be able to use the 'cluster' as one of the labels. I don't see any reason why it shouldn't, among all the other labels it supports already. We expose network as an attribute, and should be possible to use that in RBAC rules as well.

- as long as Gateway is used to expose resources between networks, the implementation must follow the s

[2019-08-20 23:46] howardjohn commented on #15987
@ozevren any update? This keeps failing still

[2019-08-20 23:48] ozevren commented on #15987
I didn't notice this after vacation (e-mail bankruptcy). I'll try to take a look soon.

[2019-08-21 00:33] smawson commented on #16406
I think we already have cluster as an attribute, so it can already use it? Or at least we were adding this if it isn't in yet. So yeah we can support it. I think we should discourage it though since it is an anti-pattern.

I think we should discuss this model. SNI Gateway should be an implementation detail of bridging networks IMO, and not used as an access control mechanism. That should be left t

[2019-08-21 00:37] howardjohn opened #16423 "Traffic conformance tests targets nondeterministic"
The conformance test will have targets like:
[code]

Then another run will look like like
[code]

Note the autogenerated part.

This breaks a lot of tools, because we cannot track the history of a single test target. Each target should have the same name between runs. For example, testgrid breakage: https://testgrid.k8s.io/istio-postsubmits-master#integ-k8s-112-postsubmit-master

[2019-08-21 00:38] #16402 closed

[2019-08-21 01:11] vadimeisenbergibm commented on #16406
@smawson

This is the basic point that I probably failed to make clear. Though I wrote in the blog post:

environment on a separate network. It requires using a [DMZ](https://en.wikipedia.org/wiki/DMZ_(computing)),
and setting firewalls between the public Internet and the DMZ, and between the DMZ and the internal network.

Until you manage to convince the [PCI Security Standards Council](https://w

[2019-08-21 01:23] vadimeisenbergibm commented on #16406
@smawson You nailed it:

This is my position as well. Exposing-all by default is a feature and not a bug. It is done by design of the single multi-cluster mesh. The gateway used in https://istio.io/docs/setup/kubernetes/install/multicluster/gateways/ is a **bridging gateway** (this is the definition I missed, thank you for providing it!), and not an _access-control gateway_. *By design*, a **bridi

[2019-08-21 01:45] vadimeisenbergibm commented on #16406
@mbanikazemi

It is relevant in the sense of the required effort. If something is a major feature of some solution, to fix that feature could mean to reimplement the whole solution. Since we have an alternative solution - https://github.com/istio/istio.io/pull/4776, we should think if we want to invest effort in fixing the bug/feature, or to leave the solution with the bug/feature AS IS, and to us

[2019-08-21 01:49] smawson commented on #16406
Interesting. If they actually want strong isolation, they should use either namespace or mesh isolation in addition to network isolation, since Istio just bridges the networks and makes network isolation irrelevant. So I'll walk my position back a bit, the anti pattern is relying on network isolation as the sole isolation mechanism.

Best practice for real isolation would be to have multiple meshe

[2019-08-21 02:18] vadimeisenbergibm commented on #16406
@smawson

PCI DSS requires isolation by networks + boundary protection (they do not use the term boundary protection, it is a term used by [NIST Special Publication 800-53, Revision 4, Security and Privacy Controls for Federal Information Systems and Organizations](http://dx.doi.org/10.6028/NIST.SP.800-53r4), _Appendix F, Security Control Catalog, SC-7 Boundary Protection_.) For PCI DSS, the bound

[2019-08-21 02:42] dhineshbabuelango commented on #16396
Thanks John for the input.
Because in istio.io we found 1.2.4 we tried to upgrade our environment. is there any way we can find an version  to be production ready before we try to upgrade.

Also istioctl proxy-status shows something SYNCED (50%), will that be an issue.

[2019-08-21 02:44] howardjohn commented on #16396
no the synced thing is misleading, 50% is expected - we are removing it in the next release since it is confusing

[2019-08-21 03:03] kameshchauhan opened #16426 "Istio demo profile on AWS K8S cluster do not allow external access by default"
Istio demo profile installation on AWS K8S cluster do not allow pod to have external access by default as claimed by Istio documentation.

**Affected product area (please put an X in all that apply)**

[x ] Configuration Infrastructure
[x ] Docs
[x ] Installation
[x ] Networking
[ ] Performance and Scalability
[x ] Policies and Telemetry
[x ] Security
[x ] Test and Release
[ ] User Experience
[x ]

[2019-08-21 03:52] jnativio commented on #16416
Yes, I repeated the run for build release-1.2-20190809-09-16 no_mixer and got similar results as before.

[2019-08-21 05:01] #12906 closed

[2019-08-21 05:01] dhineshbabuelango commented on #16396
Thanks John, one last question before we close this, I tried updating the sidecar using the script provided by istio, but I could see the below results, it says no change, i tried describing the pod, stil the pod was using 1.2.2 version only,

[ec2-user@ip-10-76-8-135 bin]$ export NS=apps
[ec2-user@ip-10-76-8-135 bin]$ DEPLOYMENT_LIST=$(kubectl -n $NS get deployment -o jsonpath='{.items[*].metadat

[2019-08-21 06:47] xxxiarrren opened #16431 "1.2.4 istio envoy version incorrect"
Hi all,
    We are trying the new release istio 1.2.4.  We found the envoy version in the  proxy/istio.deps  is not the latest according to the version 1.2.4. The commits about the security update(refered in the 1.2.4 release note) are not included in the version specified.
    How to deal with this situation since we compile the binary packages of istio-proxy by ourselves.  We look forward to rec

[2019-08-21 07:11] nkorange commented on #16191
![image](https://user-images.githubusercontent.com/4593375/63410322-a4d88c80-c425-11e9-9ef3-1b372d7ee56a.png)

I called the Envoy API and it seems the services are obtained, but the related backend IPs are missing.

[2019-08-21 09:43] dhineshbabuelango opened #16432 "isito sidecar update after version upgrade"
Hi All, I am using istio in EKS.
After upgrading istio version from 1.2.2 to 1.2.3,
I tried updating the sidecar using the script provided by istio, but I could see the below results, it says no change, i tried describing the pod, stil the pod was using 1.2.2 version only.

[code]
also Is there a way we can update only the envoy without restarting the actual applications.

[2019-08-21 09:55] aliartiza75 commented on #14388
@objectiser closing this issue for now!

[2019-08-21 09:55] #14388 closed

[2019-08-21 10:50] hustshawn opened #16434 "[EKS + Weave + Istio]Error creating: Internal error occurred: failed calling webhook "sidecar-injector.istio.io": Post https: //istio-sidecar-injector.istio-system.svc:443/inject?timeout=30s: net/http: request canceled while waiting for connection (Client.Timeout exceeded while await ing headers)"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
1. If auto-inject is labeled in a namespace, and no pod will spawn. The error on the corresponding rs is `Error creating: Internal error occurred: f

[2019-08-21 10:58] hustshawn commented on #16434
Since the port 443 between control plane and the worker nodes are enabled by default, I began to suspect whether the issue is due to the overlay network by Weave on EKS. But I am not sure and that's why I raised this issue here.

However, my another k8s cluster setup by `kops` on AWS also using Weave overlay network, and the istio works fine.

[2019-08-21 11:16] jmazzitelli opened #16435 "istio operator should be using kiali operator"
**Describe the feature request**

Right now, the Istio Operator under development is building out Kiali's deployment and other resources itself - e.g. https://github.com/istio/operator/blob/6f2cee687e7512845663b449051b1edea279ca69/pkg/controller/istiocontrolplane/listeners.go#L298-L336

However, it should instead simply just install the Kiali Operator and create a single Kiali CR and let the Kiali

[2019-08-21 11:23] mandarjog commented on #16416
@richardwxn Please look at how regpatrol was able to detect this.

[2019-08-21 11:25] zcohen331 opened #16436 "Failure to install Istio from helm repo"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Perfor

[2019-08-21 11:26] zcohen331 commented on #16436
Hello,
During to install istio via helm command get below error, Please advise.
# helm install istio --name istio --namespace $NAMESPACE --set sidecarInjectorWebhook.enabled=false
Error: failed to download "istio" (hint: running `helm repo update` may help)
I already did run `helm repo update`  too.
Thanks

[2019-08-21 11:39] johnzheng1975 commented on #16341
From below log from istio1.1, fetch fail is 39 times in a day. FYI
[code]

[2019-08-21 12:05] dhineshbabuelango opened #16437 "istio virtual service for ingress gateway"
Hi All,
we are using istio in AWS EKS.
I could see the istio virtual service can be created using variety of steps in the below link

https://istio.io/docs/concepts/traffic-management/

But if we want to access a service using ingress gateway load balancer, we normally create virtual service and mention the uri which we can use with load balancer like path based routing, but if we create virtual s

[2019-08-21 12:39] vadimeisenbergibm commented on #16437
Hello, see https://istio.io/docs/tasks/traffic-management/ingress/ingress-control/.

[2019-08-21 12:42] gtseres opened #16438 "Helm chart version/appVersion not updated"
**Bug description**
Having a look into the Helm chart of Istio, it seems that the `version` / `appVersion` fields in the [`Chart.yaml` file](https://github.com/istio/istio/blob/1.2.4/install/kubernetes/helm/istio/Chart.yaml#L3) are not consistently updated. It seems that the last update has been done when Istio hit 1.1.0.

We are trying to determine the version of Istio that has been installed in

[2019-08-21 12:56] GregHanson opened #16439 "Track Istio Labels in common package"
Similar to https://github.com/istio/istio/pull/15520, should Istio labels be tracked in a similar fashion as annotations?

[ ] Configuration Infrastructure
[ x ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ x ] Developer Infrastructure

[2019-08-21 13:21] dhineshbabuelango commented on #16437
Hi Vadim, Thanks for the reply.
In the above shared link, we have created a virtual service and calling the virtual service through ingress gateway, this works fine.
But if I create a virtual service for a service(service A) and tries to call that service from serviceB like https://serviceA, will istio still use virtual service created for service A while sending traffic to service A or do we need

[2019-08-21 13:22] rshriram commented on #13622
You can also dynamically update the Sidecar API to expose new ingress ports without having to specify anything in the service apriori.

[2019-08-21 13:26] rshriram opened #16440 "SidecarAPI ingress listeners broken in release-1.3 (deviates from API spec)"
Per the Sidecar API spec, users should be able to create ingress listeners on any port they wish. this is especially useful for workloads that have no associated services. In addition, they should be able to forward traffic from an ingress port to a unix domain socket based backend.

Both of these are broken in the release-1.3 branch. Works in master. Either we should fix the Sidecar API spec in r

[2019-08-21 13:26] vadimeisenbergibm commented on #16437
@dhineshbabuelango The virtual service will be applied within the mesh by default.

[2019-08-21 13:27] rshriram commented on #16440
assigning to @rlenglet who is the release manager for 1.3.

[2019-08-21 13:27] vadimeisenbergibm commented on #16437
@dhineshbabuelango So the virtual service will be applied by default to requests sent to serviceA within the mesh without additional configuration.

[2019-08-21 13:41] dhineshbabuelango commented on #16437
thanks Vadim for the reply

[2019-08-21 13:41] #16437 closed

[2019-08-21 13:47] kostyrev opened #16442 "Pilot's automatic roll deployments do not work"
**Bug description**
When you change istio's ConfigMap Pilot is not being redeployed

**Affected product area (please put an X in all that apply)**

[X] Configuration Infrastructure
[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
Changing isti

[2019-08-21 14:05] crhuber commented on #10858
also having the same issue on istio 1.2.3 with the following logs every 5m

[code]

[2019-08-21 14:09] howardjohn commented on #16432
There is no way to update envoy without restarting the pod currently.

To trigger a restart of your pods I suggest `kubectl rollout restart` if you have a newer kubectl

[2019-08-21 14:39] nrjpoddar commented on #7669
It will be part of release 1.3 as this https://github.com/istio/istio/pull/16422 got merged yesterday. When the first RC comes out (which should be soon) and if you're going to qualify it please verify this functionality too. Thanks!

[2019-08-21 15:32] howardjohn commented on #16396
To do a restart I suggest `kubectl rollout restart` rather than the script you used

[2019-08-21 16:06] mandarjog commented on #16370
How many clients / client connections were in use during the test?
How many server replicas were there?  Was the traffic going they ingress?
Is sidecar attached to client and server or just server ?

[2019-08-21 16:38] rshriram commented on #16393
Hmm. thanks for that update..
Also for posterity, this config is not working:

[code]

Envoy seems to get the literal HCM supplied by the end user without all the required fields.

[code]

[2019-08-21 16:39] ozevren commented on #15804
I maybe being a bit pedantic here, but I don't believe this taxonomy is quite right. It is not about `noun`s and `verb`s. It is more about `context`s and `action`s.

So the alternatives are:
`istioctl <verb> <verb-specific-paremeters>`
v.s.
`istioctl <context> <verb>  <verb-specific-paremeters>`

kubectl follows the first model, where what we call noun (e.g. `pods`) is a `verb-specific-parameter`.

[2019-08-21 16:46] bianpengyuan commented on #16431
Sorry I think we made a mistake and forgot to update the istio.deps, but bazel WORKSPACE file (which decides the envoy SHA that proxy uses) is correctly updated and the 1.2.4 proxy should include the security fix:
https://github.com/istio/proxy/blob/568f2b648f7185e8396caf00a5a3a9b306c36416/WORKSPACE#L40

We will make a new release in a couple of days with isito.deps updated: https://github.com/ist

[2019-08-21 16:58] smawson commented on #15804
Take a look at the kubectl reference: https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands

They have a lot of verbs, it is by no means a rigid set of actions. They also have a few noun verb combos (rollout, certificate, config). I really don't think kubectl is a good thing to copy from, it isn't self-consistent at all :) Also rollout is not a verb, it is a noun, just as certifi

[2019-08-21 17:04] AsCat commented on #16071
I just create a [pr](https://github.com/istio/istio/pull/16446) which may this problem.
The PR also include the unit test fix.

[2019-08-21 17:10] howardjohn commented on #16293
Issue seems resolved, feel free to reopen if not

[2019-08-21 17:10] #16293 closed

[2019-08-21 17:12] howardjohn commented on #16264
This was merged in https://github.com/istio/istio/pull/14304, after 1.2. It will be included in Istio 1.3, relasing in early sept

[2019-08-21 17:13] howardjohn commented on #16232
Please see https://istio.io/docs/setup/kubernetes/upgrade/steps/

[2019-08-21 17:13] #16232 closed

[2019-08-21 17:24] howardjohn commented on #16431
the ENVOY_SHA is not actually used, we are considering removing it. See discussion in https://github.com/istio/proxy/pull/2364

[2019-08-21 17:26] howardjohn commented on #16432
If you have old kubectl I would suggest running https://github.com/istio/tools/blob/master/bin/redeploy.sh
`./redeploy.sh NS` will perform a rolling update. Strongly recommend the `kubectl rollout restart` which is built in support for this

[2019-08-21 17:41] howardjohn commented on #16123
Fixed in #16122

[2019-08-21 17:41] #16123 closed

[2019-08-21 17:46] ayj commented on #15804
`istioctl <verb> <noun>` could force UX consistency assuming the verbs are well curated. It would require some refactoring of commands. Here's a strawman for what that scheme might look like applied to the current set of istioctl commands.

Assuming the following common verbs ...

[code]

... we might might the current commands

Current | Proposed | Description
-- | -- | --
authn tls-check | check

[2019-08-21 18:09] liminw commented on #8619
There is an effort to add OIDC token acquisition and session management for CSRF protection, as @tnwang mentioned in the [comment](https://github.com/istio/istio/issues/8619#issuecomment-467160143). It's relevant to the feature request here.

[2019-08-21 18:21] LucaPrete opened #16450 "Deploy a service entry with ALLOW_ANY policy set makes all other HTTPs requests fail"
**Bug description**

As soon as I install a service entry for a specific application and with the policy set to defaults (ALLOW_ANY), all the pods in the cluster cannot connect anymore to external HTTPS services, returning `curl: (35) error:140770FC:SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol`.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructur

[2019-08-21 18:29] #15526 closed

[2019-08-21 18:54] LucaPrete opened #16453 "Call to external service using "Egress gateway TLS origination" returns 503"
**Bug description**

After setting egress gateway TLS origination for a service, curls to that service return 503 and are not routed to destination.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience

[2019-08-21 19:04] costinm commented on #15834
The feature is implemented in 1.3 and we are planning to enable it by default in master - the main gap is testing, in particular around security.

@lambdai  - can you link the current tests and docs / options ?

[2019-08-21 19:14] brectanus-sigsci commented on #16393
Additionally on that config above, it seems ALS cannot use a cluster defined via EnvoyFilter because that cluster is dynamic and ALS requires a static cluster. It seems ext_authz was excluded from this, but ALS was not: https://github.com/envoyproxy/envoy/issues/3660

So, this seems to work instead (use google_grpc client):
[code]

[2019-08-21 19:34] #13534 closed

[2019-08-21 19:42] planetf1 commented on #6324
This looks like a useful example for the general case (for example I have some k8s jobs which will fail to complete once istio sidesar is deployed) https://medium.com/@cotton_ori/how-to-terminate-a-side-car-container-in-kubernetes-job-2468f435ca99

[2019-08-21 20:04] howardjohn commented on #16001
Since this has had no attention for 15 days, I am going to assume this is not really a release blocker and has been fixed by reverting

[2019-08-21 20:04] smawson commented on #16406
Per our discussion today, do we want to change this issue into being one about SNI not supporting access control (per @costinm comments):

The SNI-proxy port - just like any other port in the Gateway - should follow the same rules, and allow configuration of which namespaces and services can be exposed.

We should either change this issue into that or create a new issue for that and close this one

[2019-08-21 20:26] howardjohn commented on #16309
@lambdai @rshriram @yxue you have open work on these, can you update?

[2019-08-21 20:29] howardjohn commented on #16310
afaik the only thing we have is pilot stuff which is already done, closing

[2019-08-21 20:29] #16310 closed

[2019-08-21 20:31] howardjohn commented on #16308
@costinm can you update the new installer demo stuff?

[2019-08-21 20:36] howardjohn commented on #16307
@ozevren anything noteworthy to add in https://github.com/istio/istio/wiki/Release-Note-1.3-Draft?

[2019-08-21 20:37] howardjohn commented on #16311
@nrjpoddar @mandarjog you are owners for some items in telemetry section

[2019-08-21 20:47] howardjohn commented on #16450
It is because you have an HTTP service on port 443., from
[code]

This is a common problem though... let me see if I can figure out a way to make this work

[2019-08-21 20:59] saturnism opened #16455 "Fix default MySQL connectivity"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

Istio default setup doesn't allow connection from JDBC to MySQL services.  The workaround is documented here: https://istio.io/faq/security/#mysql-

[2019-08-21 21:00] LucaPrete commented on #16450
Thanks a lot!

Il giorno mer 21 ago 2019 alle 22:48 John Howard <notifications@github.com>
ha scritto:

[2019-08-21 21:43] kevchu3 opened #16456 "Wrong image version of jaeger-collector and jaeger-agent being pulled"
**Bug description**
The istio-operator pod will deploy the jaeger-collector and jaeger-query deployments.  Based on the OpenShift docs [1], we should be able to use tag version 1.13.1 based on the example below:
[code]

But when I deploy the jaeger-operator which in turn deploys the jaeger-collector and jaeger-query pods, I see that the wrong image version is used.  Unfortunately, based on the reg

[2019-08-21 21:56] smawson commented on #15804
Any chance you can throw that in a doc Jason? Maybe hold off and see if anyone is opposed, but bringing consistency seems like exactly what we're shooting for here?

[2019-08-21 22:06] ayj commented on #15804
https://docs.google.com/document/d/1_s7OW5lCIOuuliQcfOP-B0vFXCg_1NXpxcu6_N_rDDE

[2019-08-21 22:25] howardjohn commented on #12211
As far as I can tell, this has been resolved. Thanks everyone that helped with this

[2019-08-21 22:25] #12211 closed

[2019-08-21 22:27] howardjohn commented on #15247
Is this done?

[2019-08-21 22:29] howardjohn commented on #14884
Is this still relevant? Seems we can't reproduce

[2019-08-21 22:33] ceastman-ibm commented on #12723
@jaygorrell do you have an example destination rule that works? also you mention global.controlPlaneSecurityEnabled, where should that be set?

[2019-08-21 23:04] howardjohn opened #16458 "Any HTTP service will block all HTTPS/TCP traffic on the same port"
(Assumes ALLOW_ANY mode)

Normally, traffic to external HTTPS services works due to the ALLOW_ANY mode changes we added. However, when an http service is added on port 443 (or any port, but generally this happens on 443), this breaks. This is because we add a new 0.0.0.0_443 listener, which will match everything and direct to routes. This will fail.

To reproduce:
[code]
then
[code]
now

[code]

O

[2019-08-21 23:04] howardjohn commented on #16450
Opened https://github.com/istio/istio/issues/16458 to track this and consildate a few issues. Thanks for the report!

[2019-08-21 23:04] #16450 closed

[2019-08-21 23:04] howardjohn commented on #16331
Opened https://github.com/istio/istio/issues/16458 to track this and consildate a few issues. Thanks for the report!

[2019-08-21 23:04] #16331 closed

[2019-08-21 23:04] howardjohn commented on #16196
Opened https://github.com/istio/istio/issues/16458 to track this and consildate a few issues. Thanks for the report!

[2019-08-21 23:04] #16196 closed

[2019-08-21 23:05] howardjohn commented on #16458
@yxue think this is something that could get tied in with your protocol sniffing work?

[2019-08-21 23:17] howardjohn commented on #16266
Possibly due to https://github.com/istio/istio/issues/16458, do you have an http service on that port?

[2019-08-21 23:17] howardjohn commented on #15622
This is done except the ipv6 which is not feasible to move

[2019-08-21 23:17] #15444 closed

[2019-08-21 23:17] howardjohn commented on #15444
Fixed via skipping

[2019-08-21 23:23] ostromart commented on #15247
Yes, through
https://github.com/istio/istio/pull/16208
https://github.com/istio/operator/pull/190
https://github.com/istio/operator/pull/196
https://github.com/istio/operator/pull/195
https://github.com/istio/operator/pull/216

[2019-08-21 23:23] #15247 closed

[2019-08-21 23:36] jaygorrell commented on #12723
Those are related. See `global.controlPlaneSecurityEnabled` in the Helm values... it will create the DR when enabled.

[2019-08-21 23:37] strzelecki-maciek commented on #13492
On 1.2.4 i see it still happening. Once i saw proxy-status report all "synced", and pretty much everytime the great majority is STALE. I am running 10 pilots, each 2cpu/2gb. I have more or less 500 istio injected pods spanning 8 namespaces.

[2019-08-21 23:55] yangminzhu commented on #16312
Done.

[2019-08-21 23:57] winmillwill commented on #12795
I just got finished debugging this independently and went from namespace-wide `default` policies with mtls `STRICT` and namespaced destinationrules with host `"*"` and `ISTIO_MUTUAL` to just changing the host on the destinationrules to be `*.{{namespace}}.svc.cluster.local`, which fixed it.

My initial guess was that communication from the proxy back to the control plane is broken by applying what

[2019-08-21 23:58] yxue commented on #16458
Technically protocol sniffing can resolve these issue but it requires tons of efforts.

To resolve these problem, we need to sniff the traffic using tls_inspector. The tough part is that we need to generate multiple clusters and multiple routes. Currently, the protocol sniffing only generates multiple filter chains without touching clusters and routes. For this issue, we need to generate two upstr

[2019-08-22 00:17] yangminzhu commented on #16341
How many pilot pods do you have? The other pods may be connecting to a different pilot instance that fetches the pubkey successfully.

So most of the re-fetch should be issued by the re-fresh job that does the fetch every 20 mins and it reties 3 times each time, it's possible that all the 3 fetches failed. But one thing to note is once it fetches the pubkey successfully once, it will be cached and

[2019-08-22 00:19] yangminzhu commented on #16341
Thanks for the info, it's happening much more frequent than I would expect. do you still see 401 after upgrading? I think the above logs are just for failed re-fetch, pilot should keep using the cached pubkey and there should be no 401 in this case.

[2019-08-22 00:29] howardjohn commented on #16458
@yxue for these we just need to send to passthrough cluster though, since this is just for external ALLOW_ANY traffic. If a user has an explicitly defined https service it should still work because it will have a filter chain match on the SNI name, right?

[2019-08-22 00:50] ceastman-ibm commented on #12723
Can i create the DR manually? I'll have to see if I can change the helm value, I'm working with IBM cloud's managed istio platform.

[2019-08-22 00:51] ceastman-ibm commented on #12723
Which helm chart would I be modifying?

[2019-08-22 01:22] jaygorrell commented on #12723
Sorry not able to look at the moment but look at the istio chart and see
what resources are affected by controlPlaneSecurityEnabled... that'll lead
you to the DR it creates.

On Wed, Aug 21, 2019 at 8:52 PM ceastman-ibm <notifications@github.com>
wrote:

[2019-08-22 01:54] vadimeisenbergibm commented on #16406
@smawson I have changed the title to include `as documented on istio.io`. Let me be more specific about the issue:

**The setting:** a user chooses https://istio.io/docs/setup/kubernetes/install/multicluster/gateways/ to connect their clusters. He/she follows the instructions in https://istio.io/docs/setup/kubernetes/install/multicluster/gateways.

**The issue:** the user has all the services expo

[2019-08-22 02:04] xxxiarrren commented on #16431
Thanks for your prompt reply and we have received it.

[2019-08-22 02:06] xxxiarrren commented on #16431
Thanks for your prompt reply and we have received it.

[2019-08-22 02:09] dhineshbabuelango opened #16464 "egress gateway mutual TLS"
Hi All, We are using istio in AWS EKS.
While working on egress gateway, we just created service entry and it worked fine.  But when we try to use mutual TLS, as per the istio doc, it is asking to update the client certificates like below.

apiVersion: networking.istio.io/v1alpha3
kind: DestinationRule
metadata:
  name: ext-res-dr
spec:
  host: ext-resource.com
  trafficPolicy:
    tls:
      mode:

[2019-08-22 02:26] duderino commented on #16391
We'll backport https://github.com/envoyproxy/envoy/pull/7981 into Istio 1.1 and 1.2 as soon as it's merged upstream.

I'm also going to take the opportunity to correct the title.  We currently break Java applications that use the new HTTP client library (java.net.http.HttpClient
 described in https://openjdk.java.net/groups/net/httpclient/intro.html) which was introduced in Java 9 as an incubating

[2019-08-22 02:35] hustshawn commented on #16434
Just made another try, and find the manual injection works.
- removed the auto inject labels in the namespace
- Manual inject with `kubectl get deploy nginx -oyaml | istioctl kube-inject -f - | kubectl apply -f -`

So this looks like the sidecar-injector webhook not work. However, this [blog](https://aws.amazon.com/about-aws/whats-new/2018/10/amazon-eks-enables-support-for-kubernetes-dynamic-admis

[2019-08-22 03:11] bianpengyuan commented on #16431
I am going to close this issue, please reopen if you have further questions. thanks!

[2019-08-22 03:11] #16431 closed

[2019-08-22 03:50] jolsnow commented on #16340
i found error in polit，it seems my dns server is not connection;
[code]
so i use the commond in every server
iptables -P FORWARD ACCEPT
iptables -I FORWARD 1 -i cni0 -j ACCEPT -m comment --comment "flannel subnet"
iptables -I FORWARD 1 -o cni0 -j ACCEPT -m comment --comment "flannel subnet"
iptables -t nat -A POSTROUTING -s 10.244.0.0/16 ! -d 10.244.0.0/16 -j MASQUERADE
istio runs happy

[2019-08-22 03:50] #16340 closed

[2019-08-22 03:57] tx19980520 opened #16465 "Dynamic black list"
**Dynamic Black List**

dynamic ip black list like nginx + lua + mysql

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[x] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

We have requirements about dynamic ip black list to defend against some cyber attacks and ensure cluster perfor

[2019-08-22 04:06] #16393 closed

[2019-08-22 05:31] richardwxn opened #16467 "Add e2e test for manifest migrate command"
e2e test should be added for manifest migrate command, which should take the different istio configurations profiles as input and compare the output with operator profiles.

[2019-08-22 05:43] nokiabaitanik commented on #16370
Client is only one. vegeta simulator. Which is creating http2 connections to the application pod.

rest client simulator(vegeta/hey) -> application service ip (side car is attached)

2. How many server replicas were there? Was the traffic going they ingress? -
    server means the application pod is only one. We are trying to figure it out max capacity for a single pod. then according to requireme

[2019-08-22 05:43] #16390 closed

[2019-08-22 05:50] richardwxn opened #16468 "Add validation for values in operator API"
Right now there are validations of some basic fields of IstioControlPlaneSpec under operator, however there is no validation for pass through values.yaml field.

We need to update the existing validate_values.go file for more thorough validation and enable it in validate.go file.

[2019-08-22 06:54] vadimeisenbergibm opened #16470 "Implement connecting multiple clusters with isolation and boundary protection, as defined by major industry standards."
Major industry standards require isolation and boundary protection:

* put an access control mechanism at the boundary (firewall, gateway, etc.)
* all the access control mechanisms must be deny-all by default
* do not expose private IP addresses from the isolated environment
* do not let components from outside the boundary to manage security inside the isolated environment

The [three multi-clust

[2019-08-22 06:58] LucaPrete commented on #16453
Let me add the envoy (sanitized) config files to help debug the issue:

`clusters`
[code]

`endpoints`
[code]

`listeners`
[code]

`routes`
[code]

[2019-08-22 07:03] vadimeisenbergibm commented on #16470
@smawson @costinm @louiscryan @sdake @frankbu @andraxylia @nmittler @ayj @linsun I have created an epic to define the activity related to connecting multiple clusters with isolation & boundary protection.

[2019-08-22 07:14] johnzheng1975 commented on #16341
Thanks Zhu,yangmin very much, I never get so detailed answer from open source community.

**Zhu, yangmin:**  How many pilot pods do you have? The other pods may be connecting to a different pilot instance that fetches the pubkey successfully.
**John Zheng**: I have 2 - 4 pilot pods, your answer make sense.

**Zhu, yangmin:** So most of the re-fetch should be issued by the re-fresh job that does th

[2019-08-22 07:19] #16341 closed

[2019-08-22 07:31] rverma-nikiai opened #16471 "Attribute request.body/response.body"
**Describe the feature request**
Support request.body/response.body
Creating a new ticket as can't repoen the #4210.

**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[x] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] Use

[2019-08-22 07:35] hzxuzhonghu commented on #10858
This is normal , the pilot periodically disconnect connection with sidecar to better balance the load between multi pilot.

Please check the `--keepaliveMaxServerConnectionAge` flag of pilot

[2019-08-22 07:55] dhineshbabuelango opened #16472 "istio egress gateway open to all even with REGISTER_ONLY mode"
Hi All, we are using istio in EKS.
the isito version is 1.2.4. While working on egress gateway, we came to know that by default global.outboundTrafficPolicy.mode will be set to ALLOW_ANY and istio will allow all traffic by default, but I have changed this setting to REGISTER_ONLY and still I could see istio is allowing all the traffics. Do we need to change any other configuration to block all the

[2019-08-22 08:26] vadimeisenbergibm commented on #16472
@dhineshbabuelango Note that it can time for configuration to propagate. Can you retry your curl commands?

[2019-08-22 08:28] vadimeisenbergibm commented on #16464
The certificates are client certificates trusted by your specific vendor. You should mount them by using a Kubernetes secret. The certificates are not managed by Citadel.

[2019-08-22 08:34] vadimeisenbergibm commented on #16455
@saturnism Please note that the workaround is for the PERMISSIVE mode, it should not be related to STRICT mutual TLS of Istio.

Are your MySQL services inside the mesh (have Istio sidecars injected)? Do you name their port with `tcp-` prefix? See requirements for port names in Istio https://istio.io/docs/setup/kubernetes/additional-setup/requirements/

[2019-08-22 08:36] vadimeisenbergibm commented on #16453
Does the Istio example AS IS work for you in your environment?

[2019-08-22 08:36] kinash000 opened #16473 "Container istio-init-proxy constantly starts, infinity, for all pods"
Hello!

In my case container istio-init-proxy constantly starts, infinity, for all pods.
This is seen in monitoring OS:
11:33:43 AM	account-service-1.0.0-30-dtbkh
Pod	Normal	Pulled 	Container image "registry.****.ru/openshift/proxy-init:0.10.0" already present on machine
156 times in the last 11 hours
11:32:13 AM	istio-egressgateway-usv-nt-88f97c655-fxbct
Pod	Normal	Started 	Started container
53 t

[2019-08-22 08:42] LucaPrete commented on #16453
Yes, it does.
Let me point out that when the 503 is returned the external service is not
even contacted, so I'd exclude that this depends by the service I'm trying
to reach...

Il giorno gio 22 ago 2019 alle ore 10:37 Vadim Eisenberg <
notifications@github.com> ha scritto:

[2019-08-22 08:44] kinash000 commented on #16473
![image001](https://user-images.githubusercontent.com/22095634/63500225-2685f400-c4d2-11e9-99f0-6cd5809d38a9.jpg)
Screen for example

[2019-08-22 09:09] dhineshbabuelango commented on #16464
Thanks Vadim, so for mutual TLS, we get the above mentioned certificates from them and we need to share any of istio related certificates to client for this to be mutual.

[2019-08-22 09:22] rdsubhas commented on #16391
@duderino Thank you so much, and we're grateful for the fast turnaround.

But...

described in https://openjdk.java.net/groups/net/httpclient/intro.html) which was introduced in Java 9 as an incubating implementation and promoted to stable for Java 11.

This is really sending out a wrong signal even if you don't correct the bug.

I have mentioned clearly in the issue description:

[2019-08-22 09:35] dhineshbabuelango commented on #16472
Hi Vadim, Thanks for the reply, I tried even now, still the same

[ec2-user@ip-10-76-8-135 ~]$ kubectl -n apps exec -it $SOURCE_POD -c sleep -- curl -I https://www.google.com | grep  "HTTP/"; kubectl exec -it -n apps $SOURCE_POD -c sleep -- curl -I https://edition.cnn.com | grep "HTTP/"
HTTP/2 200
HTTP/2 200
[ec2-user@ip-10-76-8-135 ~]$ kubectl get configmap istio -n istio-system -o yaml | grep -o

[2019-08-22 09:38] jpantsjoha commented on #14743
Glad i came across this handy list, thank you.

[2019-08-22 10:22] elevran commented on #15451
hi @rakeshjain1213
The needed configuration for TLS origination from egress is shown in https://istio.io/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/#configure-mutual-tls-origination-for-egress-traffic (ignore the mTLS part, you need one way TLS):

[code]

Note that the TLS mode should be set to `SIMPLE` in your case and `privateKey` is not needed

[2019-08-22 10:39] hzxuzhonghu opened #16476 "Multi-network shared control plane bug"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

In this model https://istio.io/docs/concepts/multicluster-deployments/#multi-network-shared-control-plane, proxies may have same ip addresses acros

[2019-08-22 10:50] #13544 closed

[2019-08-22 11:23] ceastman-ibm commented on #12723
ok thanks, ill check it out later today.

[2019-08-22 11:30] duderino commented on #16391
@rdsubhas we sent a PR to upstream Envoy to fix the issue the day after the issue was reported.  We are taking this seriously.

I want the issue title to accurately summarize the issue for others who read this.  Saying this breaks all Java 11+ applications isn't correct because not all Java 11+ applications rely on java.net.http.HttpClient.   If it helps to make the title like '... breaks the java

[2019-08-22 11:31] tannh commented on #10983
@fdhex  can you please let me know what the issue was and how you fixed it?

[2019-08-22 11:44] vadimeisenbergibm commented on #16458
@howardjohn First note that defining HTTP for 443 port is usually a mistake, the port and protocol in your example of wikipedia.org should be HTTPS. Second, I think the same issue can happen inside the mesh, if for some port inside the mesh HTTP and non-HTTP protocols will be used for the same port.

[2019-08-22 11:46] vadimeisenbergibm commented on #16464
No, no need to pass Istio related certificates to vendor.

[2019-08-22 11:49] zcohen331 commented on #16436
Hello John,
I did exactly following after below link that u sent me, Istio installation
completed successfully.
And I did get external ip with LoadBalancer type. I did run kiali
installation for UI and I don't know why I can't login to kiali gui UI.
Please advise.
Thanks

On Wed, Aug 21, 2019 at 5:08 PM John Howard <notifications@github.com>
wrote:

--

*Best Regards,*

*Cohen Zion*

Labs Infrastr

[2019-08-22 11:58] zcohen331 commented on #16436
Hello John,
Please see below outputs maybe will help.

# kubectl  get services -n istio-system
NAME                     TYPE           CLUSTER-IP      EXTERNAL-IP
 PORT(S)
                                                                   AGE
grafana                  ClusterIP      10.233.50.108   <none>
3000/TCP
                                                                  78m
istio-citadel

[2019-08-22 12:03] vadimeisenbergibm commented on #16453
First, in you service entry you specify protocol and name HTTP for port 443. In the Istio task, the protocol and port name are HTTPS.

Second, in your cluster output you have:
[code]

You have nginx client certificate and key in the TLS context:
[code]

it looks like a left-over from some previous configuration, since you do not use these certificates in the configuration files you pasted. Can you

[2019-08-22 12:05] Baykonur commented on #10983
@tannh, although I do not know what the issue was for @fdhex, but for us it was the proxy settings in kube-apiserver. I had to add `.svc` in `no_proxy` environmental variable and then all worked fine.
This might be the case for if you have proxy configuration set.
You can also check the [documentation](https://istio.io/docs/ops/misc/#automatic-sidecar-injection-fails-if-the-kubernetes-api-server-h

[2019-08-22 12:10] brian-avery commented on #16456
Hi @kevchu3

Thanks for opening this issue. We've been tracking it in our Jira here: https://issues.jboss.org/browse/MAISTRA-684?jql=project%20%3D%20MAISTRA%20AND%20text%20~%20%22Jaeger%20image%22. The documentation has a notice concerning this it will be fixed in the next release.

[2019-08-22 12:19] brian-avery commented on #16456
Note that this bug affects neither the upstream Istio installer nor upstream Istio configuration infrastructure and is specific to Maistra.

[2019-08-22 12:25] oborovyk commented on #16266
Seems like no:
[code]

[2019-08-22 12:35] tkatrichenko commented on #16266
Thanks for the answer @howardjohn
Looks like there isn't http on 7054 port on the server

[2019-08-22 13:20] howardjohn commented on #16266
it's not just about the server, it's about any service in the entire cluster

[2019-08-22 13:44] howardjohn commented on #16473
Can you provide logs?

Also you are running a very old unsupported version of Istio, I would recommend upgrading if possible

[2019-08-22 13:44] ceastman-ibm commented on #12723
looks like other things besides just the creation of DR are affected when that flag is true or false. Im seeing changes to the istio configmap.

[2019-08-22 13:45] tkatrichenko commented on #16266
What do you mean under 'entire cluster'? I'm trying to access external https service on none 443 port from istio Service Mesh and it fails. For 443 port it works

[2019-08-22 13:46] clyang82 commented on #16001
Yes. That is not a blocker for this release. And I think we can close this issue since all changes are reverted. I am working on new PR to cover this case. Thanks.

[2019-08-22 13:47] howardjohn commented on #16266
I mean I'd there is any service in your entire kubernetes cluster that
defines a http port on port 7054, then you can no longer send external
https traffic on that port. See the issue attached above for details

On Thu, Aug 22, 2019, 6:45 AM tkatrichenko <notifications@github.com> wrote:

[2019-08-22 13:50] clyang82 commented on #16071
@AsCat Thanks for your PR.

[2019-08-22 13:50] ceastman-ibm commented on #12723
i believe this is the yaml your referring to: https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/security/templates/enable-mesh-mtls.yaml

[2019-08-22 13:59] tkatrichenko commented on #16266
Indeed, there are some services which use 7054 port. But they are in a different namespace. Does it make sense to remove those services and try again?

[2019-08-22 14:22] mandarjog commented on #16370
Thanks. You mentioned client creates h2 connections, can you point me to your kubernetes config? Is your server also running h2 or is it running dual stack?

[2019-08-22 14:31] mandarjog commented on #16370
@carolynhu

[2019-08-22 14:32] kinash000 commented on #16473
@howardjohn, logs for istio-init one of pods in attach
What other logs are needed?

[2019-08-22 14:34] kinash000 commented on #16473
@howardjohn, logs for istio-init one of pods:
/usr/local/bin/istio-iptables.sh: line 97: hostname: command not found
Environment:
------------
ENVOY_PORT=
ISTIO_INBOUND_INTERCEPTION_MODE=
ISTIO_INBOUND_TPROXY_MARK=
ISTIO_INBOUND_TPROXY_ROUTE_TABLE=
ISTIO_INBOUND_PORTS=
ISTIO_LOCAL_EXCLUDE_PORTS=
ISTIO_SERVICE_CIDR=
ISTIO_SERVICE_EXCLUDE_CIDR=

Variables:
----------
PROXY_PORT=15001
INBOUND_CAPTURE

[2019-08-22 14:36] kinash000 commented on #16473
@howardjohn
Logs istio-init for one of pods

/usr/local/bin/istio-iptables.sh: line 97: hostname: command not found
Environment:
------------
ENVOY_PORT=
ISTIO_INBOUND_INTERCEPTION_MODE=
ISTIO_INBOUND_TPROXY_MARK=
ISTIO_INBOUND_TPROXY_ROUTE_TABLE=
ISTIO_INBOUND_PORTS=
ISTIO_LOCAL_EXCLUDE_PORTS=
ISTIO_SERVICE_CIDR=
ISTIO_SERVICE_EXCLUDE_CIDR=

Variables:
----------
PROXY_PORT=15001
INBOUND_CAPTURE_

[2019-08-22 15:04] vadimeisenbergibm commented on #16266
@tkatrichenko the problem could be if the same port is used for HTTP and non-HTTP protocols inside/outside the mesh. So a solution could be not to mix protocols for the same port.

[2019-08-22 15:05] howardjohn commented on #16458
@vadimeisenbergibm my understanding is if you try to talk to an https service in-mesh it should work, because we will generate a listener with the SNI match that will match before it matches the HTTP routes (Which is where the issue arises). Untested though

[2019-08-22 15:08] howardjohn commented on #16266
@tkatrichenko you can also use a https://istio.io/docs/reference/config/networking/v1alpha3/sidecar/ resource. This way you can tell Pilot not to send config for the other Services using port 7054 so it won't cause this conflict

[2019-08-22 15:10] howardjohn commented on #16473
There is your problem

Are you running some custom images or something?

[2019-08-22 15:16] vadimeisenbergibm commented on #16458
@howardjohn Agreed.

[2019-08-22 15:16] cboggs commented on #16321
Bump. Any insights on this? We've disabled tracing in Istio entirely for now, but that's not a sustainable fix going forward. This is a relatively urgent issue for our system.

[2019-08-22 15:27] vadimeisenbergibm commented on #16231
This one looks tricky. The ingress gateway has to perform both TLS origination and mTLS origination on top of it. I do not think it is possible with Envoy. A possible solution could be to define an additional Gateway on some port, let's say 444, that gateway will perform mTLS origination without TLS termination. Your original Gateway will perform TLS origination and direct the traffic to port 444

[2019-08-22 15:32] howardjohn opened #16480 "master-latest-daily blocked by galley crashloop"
https://github.com/istio-releases/pipeline/pull/1072

Galley is crashlooping -- https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio-releases_pipeline/1072/release-build-test-upgrade-tests-1.1.7/144

Unfortunately the tests don't capture logs from the pod, so will need to reproduce locally. I would guess its related to the new Authz CRD, but maybe not because the daily builds passed up unt

[2019-08-22 15:33] vadimeisenbergibm commented on #16198
I would test it with telnet or some ldap client directly from the command line, to check which IP address is actually used.

So is the same IP address as you specify in the service entry actually used?

[2019-08-22 15:35] howardjohn commented on #16480
upgrade test should probably be 1.2 -> master/1.3 now, not 1.1

[2019-08-22 15:38] vadimeisenbergibm commented on #16190
@rakeshjain1213 If you need to perform MUTUAL TLS to an external service, you can check this task https://istio.io/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/#perform-mutual-tls-origination-with-an-egress-gateway

[2019-08-22 15:46] vadimeisenbergibm commented on #16100
@winds6206 You can do it with helm:
[code]

[2019-08-22 15:50] kinash000 commented on #16473
@howardjohn
This error in istio-init.
All images are default.
In this istio configuration all is well, but sometimes we found 503 chaotic errors.

[2019-08-22 15:52] howardjohn commented on #16473
`egistry.ca.sbrf.ru/ci01563053/ci01563053_openshift/proxy-init:0.10.0` doesn't look like a default image, where is it from?

[2019-08-22 15:55] objectiser commented on #16321
I think the best option would be to report it as an issue in https://github.com/envoyproxy/envoy.

[2019-08-22 15:58] kinash000 commented on #16473
Redhat service mesh/maistra

[2019-08-22 16:02] howardjohn commented on #16473
This seems like it may be an issue that should be reported there. The error you are seeing is from not having the `hostname` command. In the official istio images the `hostname` command is present, as seen by:
[code]

[2019-08-22 16:18] howardjohn commented on #16480
randomly passed now, and locallly as well?

[2019-08-22 16:18] #16480 closed

[2019-08-22 16:47] Siddharthk opened #16481 "Injection of istio sidecar proxy not working"
**Bug description**
Manual injection of sidecar proxy not working.  Can someone please help me with this?
[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ X ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Ex

[2019-08-22 16:49] ozevren commented on #16480
Can we use this opportunity to add logging to the release tests. There was clearly something wrong, so it would be nice to understand whether it is a heisenbug or an infrastructure fluke.

[2019-08-22 17:24] AsCat commented on #16071
@clyang82 It's my pleasure : )

[2019-08-22 17:41] ostromart opened #16482 "Release tagging script"
We need a script to automatically change all versions embedded in code/config when a branch is created. A good starting point would be these two PR's:
https://github.com/istio/operator/pull/188
https://github.com/istio/operator/pull/216
Also, just search the release-1.3 branch for "1.3" text - this is what needs to be changed per release.

[2019-08-22 19:39] nrjpoddar opened #16484 "Istio/proxy prow post-submit step doesn't test built artifacts"
**Bug description**

In the https://github.com/istio/proxy repo we use  a mix of CircleCI and prow for builds. CircleCI is used for building & testing whereas prow is used for building & pushing. Currently, these two different CI systems use different base images (different OS distros) which can cause variances in what we are building, testing & pushing.

Either prow should do all the 3 steps - bu

[2019-08-22 19:50] chrispwright opened #16485 "RBAC Issue with ILB Gateway and Pod with Multiple Containers"
We're currently facing an issue where all of our requests to our Pod via the ILB Gateway are returning a 503 Error with the following body:
upstream connect error or disconnect/reset before headers. reset reason: connection termination

From the istio-proxy logs we can see the rbac filter enforcing denied on the request but we would have expected a 403 Rbac error back instead of the 503 upstream d

[2019-08-22 19:59] elfinhe commented on #16028
I have PR out to address this, PTAL.

[2019-08-22 20:00] bianpengyuan commented on #16484
Prow is also used for testing, two CIs run basically the same pipeline in presubmit. Istio repos are shifting away from circle, we should do the same for proxy once we make sure two CIs run identical workflow.

[2019-08-22 20:03] nrjpoddar commented on #16484
If I look at the checks on any commit in istio/proxy repo I only see `prow/post-submit.sh` and 5 CircleCI checks.

Am I missing something/somewhere else I should look at?

[2019-08-22 20:08] bianpengyuan commented on #16484
There are three prow jobs in presubmit. For example, in this PR from you https://github.com/istio/proxy/pull/2364, if you scroll the list of checks down you will see them.

[2019-08-22 20:09] zosocanuck opened #16486 "Missing cert mountpoint with Citadel, SDS and Vault CA"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
I've deployed K8S 1.13 in EKS along with Istio 1.2.4 using Hashicorp Vault 1.0.0 to issue certificates however after following all of the mTLS and V

[2019-08-22 20:11] nrjpoddar commented on #16484
Sorry about the confusion, I'm not talking about PRs but after the merge is done
![Screen Shot 2019-08-22 at 2 09 54 PM](https://user-images.githubusercontent.com/12534779/63546237-88e8ef80-c4e6-11e9-8fa4-0b41e6fbcc37.png)

This only runs 6 checks so the `prow/post-submit.sh` rebuilds the binary afaict.

[2019-08-22 20:13] JoelDamata-pcc opened #16487 "https gateway with credentialName causes pilot tls error."
**Bug description**
Created this gateway and k8s secret

[code]

Pilot spits out this error
[code]
If i choose to use privateKey and serverCertificate instead of credentialName this works.

I use the same secret and gateway in a istio 1.1.8 cluster and it works great.

**Affected product area (please put an X in all that apply)**

[X] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Netw

[2019-08-22 20:24] howardjohn commented on #16484
In the presusbmit it run
[code]

though? in the PR it is the same binaries as what is the postsubmit?

Or are you suggesting that we need to test and release the exact same binary, rather than building+testing then building+publishing (even if the build step is the same)?

[2019-08-22 20:34] howardjohn commented on #16481
I think it is because `-z` option is new and not in Istio 1.2

[2019-08-22 20:59] saturnism commented on #16455
The default installation is permissive mode.
No the port name is not prefixed w/ `tcp-`. I recall any non-matched prefixes defaulted to tcp in the past. Also, almost all examples of app + MySQL deployments don't use the tcp- prefix, and they won't work in Istio environment by default either.

[2019-08-22 21:32] weibohe opened #16490 "missing gRPC support in isotope"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Even though isotope [spec supports grpc](https://github.com/istio/tools/tree/master/isotope#specification), it doesn't actually support grpc, which

[2019-08-22 21:37] bobbybroadcast commented on #14662
On fresh, otherwise empty cluster with v1.13.7-gke.24 I get:
[code]
Did I miss something?

[2019-08-22 22:08] nrjpoddar commented on #16484
@howardjohn normally you want to test and release the same binary. You save the artifacts after the test step and publish them (debian or container). Re-building after testing is always tricky but if you're using the same builder image and steps it's probably fine.

In this case, PR builds seem to be ok. It would be better if the post-submit consumed pre-submit binaries but rebuilding is not horri

[2019-08-22 22:09] bobbybroadcast commented on #14662
In the above yaml for the StatefulSet, I believe it should say:
[code]
It appears to be missing `fieldRef`?

[2019-08-22 22:57] duderino commented on #16357
@gotwarlost I'm worried that we don't know how to make progress here.  The 1.1.8 to 1.2.4 delta is large.

+1 to @PiotrSikora's suggestion to try to upgrade from 1.1.8 to 1.1.13 first

[2019-08-22 23:25] ostromart opened #16493 "Script to generate golden files for unit tests"
e2e tests under cmd/mesh are very likely going to break the moment charts are updated. We need some convenient way to update all the golden outputs in cmd/mesh/testdata/*/output what that happens.

[2019-08-22 23:42] smawson commented on #16406
IMO this is a documentation bug, we should clean up this scenario completely to either be:
1) A single mesh with multiple control planes and multiple networks, where everything is shared.
2) An example of federation between multiple meshes, where nothing is shared.

Right now it is some weird Frankenstein hybrid.

The key question is whether this is meant to show one mesh or two meshes.

[2019-08-22 23:57] smawson commented on #16470
Awesome, thank you Vadim!

[2019-08-23 03:26] dhineshbabuelango commented on #16231
Thanks Vadmin. so I should create another gateway and let the first gateway to point to the newly created gateway and the newly created gateway to the virtual service created for application?

[2019-08-23 03:32] dhineshbabuelango commented on #16472
Thanks Vadim :), its now working as expected

[2019-08-23 05:14] rakeshjain1213 commented on #15451
Hi Elevran,

I have not created a Egress Gateway, but have just created the ServiceEntry and DestinationRule.
PFA files that i was using to configure https traffic.

[serviceentry_estel.txt](https://github.com/istio/istio/files/3532899/serviceentry_estel.txt)
[destinationrule_estel.txt](https://github.com/istio/istio/files/3532900/destinationrule_estel.txt)

[2019-08-23 05:15] rakeshjain1213 commented on #16227
Hi,

Please update.

[2019-08-23 05:23] nokiabaitanik commented on #16370
yes.. dual stack.. it can support http1.1 or http2..  It does not support h2c (upgrade request) .
kubernetes config means which configuration u need ?

The resources for side car and application I have mentioned above.  Please let me know which config u need.

[2019-08-23 06:44] sergeydeg opened #16502 "503 "upstream connect error or disconnect/reset before headers" v1.1.8 on low traffic"
**Bug description**
In our UAT cluster not used a week approximately we noticed some strange behavior with istio-proxy. First 3 to 5 requests returns 503 UC errors from requesting proxy, and this happens in every service in chain. It looks like istio-proxy somehow dying if not used a bit of time. Our pod liveness and rediness probes realized as curl inside app containers an not invokes istio-proxy

[2019-08-23 07:08] canthefason opened #16503 "Node Agents cannot issue mTLS certificates due to incorrect JWT tokens"
**Bug description**

When we enable SDS for our GKE cluster via [istio-installer](https://github.com/istio/installer), service-to-service mTLS doesn't work due to envoy proxies sending incorrect Trustworthy JWT tokens. All received JWT tokens share the exact same header (`ya29`) and payload (`c`) for all node agents, and somehow signatures are different per each node agent, but they are still iden

[2019-08-23 07:10] rakeshjain1213 commented on #15451
Hi,

Also please let me know , what about ca certificate. What we need to be configure in that, as from client side I have received only one certificate file that is estelvms.crt.
So I dint from where we will be getting ca cert file.

[2019-08-23 07:32] dhineshbabuelango commented on #16472
Hi Vadmin, after the change the connection from application container was working as expected but if any connection initiated from the istio-proxy it is still reaching internet. Was this an expected behaviour. Also creating a service entry alone will be enough to pass through the connection or still we need egress gateway and virtual service to be created.?

[ec2-user@ip-10-76-8-135 external]$ kub

[2019-08-23 07:33] #15416 closed

[2019-08-23 08:16] Siddharthk commented on #16481
okk so I used latest image of istio proxy it and now manual injection works. But somehow automatic injection is not working. Any idea?

[code]

Injector pod logs:
[code]

[2019-08-23 09:09] johnzheng1975 commented on #9758
Here is our probe, FYI. Is there anything wrong? Thanks.
[code]

[2019-08-23 09:18] NiLtheGazettE opened #16504 "go generate ./... failed"
I encountered a problem when I tried to create an example adapter following the step in the [Mixer Out of Process Adapter Walkthrough](https://github.com/istio/istio/wiki/Mixer-Out-Of-Process-Adapter-Walkthrough). I got the following error when I executed the 'go generate ./...' command.

go list -m: not using modules
go list -m: not using modules
go list -m: not using modules
/usr/bin/docker-curr

[2019-08-23 12:06] denniseffing opened #16506 "PostgreSQL connection not working when using Istio mTLS"
Applications running inside pods with an injected sidecar proxy can not establish a connection to a PostgreSQL database running in a different pod with an injected sidecar proxy when mTLS is enabled.

**Affected product area**

[x] Networking
[x] Security

**Expected behavior**
Connections from pods with an injected sidecar to a PostgreSQL database running inside a different pod with an injected s

[2019-08-23 13:24] kevchu3 commented on #16456
Hi @brian-avery, thanks for correlating this with a tracked issue in Jira.

I thought to open this in Maistra here (https://github.com/Maistra/istio-operator) but their repo doesn't allow us to open new issues unfortunately (not the Istio repo's problem), so I defaulted back here.

[2019-08-23 13:30] robpacheco commented on #8619
It looks like this issue has been open for a bit of time, as well as the OIDC being planned for a while. I'd like to help this effort where possible, either in terms of putting in place a short-term solution or helping the larger effort of support OIDC.

How can I help?

[2019-08-23 13:35] denniseffing commented on #11983
Even this command is not working for me.
[code]

[2019-08-23 13:54] esnible commented on #11983
@denniseffing Which version of istioctl are you using?  Can you try with `--log_output_level debug`?

Recent versions are supposed to say "Error: checked 1 pilot instances and found no authentication info for <pod>.<namespace>", not "nothing to output".

As WxFang reported, the command needs the full name of the service -- but you are using that.  If the user does not give the full name the output

[2019-08-23 13:56] esnible commented on #16506
Possibly related: https://github.com/istio/istio/issues/11987 .  That issue was closed as Stale, but I don't believe a fix was produced for it.

[2019-08-23 14:11] denniseffing commented on #11983
I am using Istio 1.2.4.

[2019-08-23 14:20] bageljp commented on #14923
I have exact same problems.
If it is via `istio-ilbgateway` , this header will be overwritten and it will take effect.
But, It does not overwrite and take effect via mesh, and the `x-envoy-upstream-rq-timeout-ms` header is not output to the log.
Then it occurs not only `x-envoy-upstream-rq-timeout-ms` but also `x-envoy-max-retries` header.
Is there any update on this issue?

**Version (include the

[2019-08-23 14:55] mbanikazemi commented on #14662
@bobbybroadcast  Thanks. Edited the post accordingly.

[2019-08-23 15:21] vadimeisenbergibm commented on #16406
@smawson OK, let's treat it as a documentation bug. If so, there is nothing to fix in Istio code, closing the issue.

[2019-08-23 15:21] #16406 closed

[2019-08-23 15:27] bianpengyuan commented on #16504
Could you try to enable go module before running codegen? `GO111MODULE=on go generate ./...`

[2019-08-23 15:36] howardjohn opened #16508 "Helm versioning broken, therefor breaking CNI Test"
[code]

Basically the problem is that the cni version is now `master-something`. Helm doesn't recognize this as a semantic version (its not :slightly_frowning_face: ), so it fails to find a version to use.

Long term we should actually use semver instead of this "master-latest" stuff

Based on https://github.com/helm/helm/issues/3009 I thought we may just be able to add `--devel` flag but it doesn

[2019-08-23 15:37] howardjohn commented on #16508
temporarily make the tests optional in https://github.com/istio/test-infra/pull/1709 to unblock people unless we can quickly fix

[2019-08-23 15:56] frankbu commented on #16406
@smawson, I'm a little confused why you think the current example is a hybrid. It is a "one mesh" example: `1. A single mesh with multiple control planes and multiple networks, where everything is shared.`.

In the intro it says `A single Istio service mesh across the clusters is achieved by replicating shared services ...` and then shows how to replicate the needed service manually, but it also s

[2019-08-23 16:00] vadimeisenbergibm commented on #16472
Hi @dhineshbabuelango

Istio proxy can access everything, but you should not use the proxy container.
Egress gateway is for secure control of egress traffic, please see my blog post about it -https://istio.io/blog/2019/egress-traffic-control-in-istio-part-1/. It is for preventing attacks from inside the mesh, in case one of the pods is compromised.

Yes, it is fine, though I do no think mTLS appli

[2019-08-23 16:04] vadimeisenbergibm commented on #16455
@saturnism So if you will try the STRICT mode of mTLS, will it work?

[2019-08-23 16:08] mandarjog commented on #16370
If your server side is capable of h2 then you should mark the port as http2 or grpc.
Otherwise it is being downgraded to http1.
I would like to see your Kuberentes service spect / deployment spec for the service under test.

[2019-08-23 17:11] #16440 closed

[2019-08-23 17:22] rlenglet commented on #16508
Helm docs claim that it supports [SemVer 2](https://semver.org/). According to the SemVer 2.0.0 grammar, this should be a valid version number: `0.0.0+master-latest-daily`.
So the trick would be to transform the `version` into `0.0.0+version` if it's not already compatible with SemVer 2.

[2019-08-23 17:26] howardjohn commented on #16508
interesting, didn't realize the difference between `-` and `+`. sgtm.

Make sure we don't make the official releases `0.0.0+1.3.0`, they should just be `1.3.0`

[2019-08-23 17:38] howardjohn commented on #12422
Cannot reproduce on master and issue seems abandoned. Please reopen if you see this again

[2019-08-23 17:38] #12422 closed

[2019-08-23 17:42] howardjohn commented on #12294
The logs are supressed, https://github.com/istio/istio/issues/16275 is tracking envoy deprecation, and this is being worked on (filter chain discovery), so I am going to close

[2019-08-23 17:42] #12294 closed

[2019-08-23 17:47] howardjohn commented on #12349
Tracking in https://github.com/istio/api/issues/909, so I am going to close. Not saying its not a real issue, just consolidating. Thanks for the report

[2019-08-23 17:47] #12349 closed

[2019-08-23 18:07] rshriram commented on #14496
I thikn the issue is simpler. We simply need to support the ability for a service entry to override the inferred loadbalancing type of a cluster. If you specify a service entry such as

[code]
and k8s has a productpage service with 5 pods in locality bar, the CDS cluster emitted by pilot for Envoy should be of the form:
[code]

With the locality setting, you can achieve the failover property you w

[2019-08-23 18:10] howardjohn commented on #11324
Presumed fixed and abandoned

[2019-08-23 18:10] #11324 closed

[2019-08-23 18:12] howardjohn commented on #12039
Issue seems abandoned. https://istio.io/docs/tasks/telemetry/gateways/ should describe how to set this up correctly

[2019-08-23 18:12] #12039 closed

[2019-08-23 18:14] howardjohn commented on #12067
This is expected. Timeouts take precedence over retries, so you should configure the timeouts accordingly.

https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/router_filter

[2019-08-23 18:14] #12067 closed

[2019-08-23 18:16] howardjohn commented on #14010
We have added version rollouts and deployment scaling up/down, so I think this is pretty much done

[2019-08-23 18:16] #14010 closed

[2019-08-23 18:19] howardjohn commented on #14496
@rshriram if we do
[code]

 Does this work? Will envoy correctly handle an IP address and not try to do a DNS lokup? We certainly could not do incremental EDS updates if we do this

[2019-08-23 18:21] howardjohn commented on #12222
Thanks for the issue. This is essentially equivalent to https://github.com/istio/istio/issues/11866 so I am going to consolidate these

[2019-08-23 18:21] #12222 closed

[2019-08-23 18:24] bingzi98 commented on #12456
@Morishiri We also encountered the problem. I think the problem accure when AKS work nodes can not connect to internet. So, is there other methods for solve the problem ? We need re-open the issue.

[2019-08-23 18:31] howardjohn commented on #11015
Fixed

[2019-08-23 18:31] #11015 closed

[2019-08-23 18:34] howardjohn commented on #11733
Fixed in installer

[2019-08-23 18:34] #11733 closed

[2019-08-23 18:40] gotwarlost commented on #16357
Deployed `1.1.13` to the cluster 45 minutes ago. 35 crashes already. New stack:

[code]

Now trying to get a detailed TRACE level log for one of the crashes.

[2019-08-23 18:41] bingzi98 commented on #8182
@Demonsthere  It seams that if AKS work nodes could not connect to internet, the issue will appear.

[2019-08-23 18:42] duderino commented on #16357
@gotwarlost thank you that very much reduces the search space.  Could you try 1.1.12?  If 1.1.12 does not crash, then I think we could squarely point the finger at the http2 vulnerabiity fixes or switch to libc++

[2019-08-23 18:43] rshriram commented on #14496
Yes, envoy handles both IPs and dns names in the strict dns cluster.

[2019-08-23 18:48] louiscryan commented on #16406
@vadimeisenbergibm Have you validated that the exposure is an issue when exportTo is set on a ServiceEntry or the equivalent annotation on a Service. That should constrain the visibility of services to the gateway. If thats not working its a bug for sure

[2019-08-23 19:23] Siddharthk commented on #8807
@rshriram  @howardjohn Same issue here. This is a real blocker. This issue does not happen when using heptio contour ingress controller. Contour also uses Envoy proxy and there also it does not strip the port. Can we know any official workarounds for now?

[2019-08-23 19:39] Monkeyanator opened #16514 "istioctl needs sds diagnostic commands"
**Describe the feature request**
Adding an `istioctl` command that makes it more straightforward to diff the SDS secrets active on a pod's sidecar and the secrets present on the pod's corresponding node agent. The command in its default form should behave as follows:

[code]

Note that the command was able to show active SDS secrets supplied from both the `ingress-gateway` embedded node agent and

[2019-08-23 19:49] theganyo opened #16515 "Quota responses not consistent"
**Bug description**
Even after hitting rate limit, quota occasionally allows requests.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[X] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
Results sh

[2019-08-23 20:40] theganyo commented on #16515
BTW: The configuration used above has the default 1 policy mixer pod and 2 helloworld pods.

[2019-08-23 21:16] howardjohn commented on #16442
not sure why we have that anyways, pilot will reload the config map now. Probably just a legacy from before that worked. So seems like the fix may be to remove this rather than fix it?

[2019-08-23 21:51] MiguelRexAlu opened #16522 "Ingress gateway request to headless service 503"
**Bug description**
I'm configuring ISTIO using helm here you can find my istio-config.yaml

[code]

Then I deployed a bunch of microservices using istioctl, all of them are simple REST call using http. They can communicate each other with out any issue. If I exposed them with Node Ports I can reach and communicate with them correctly.

Here my svc:

[code]

I created an ingress gateway and one Vi

[2019-08-23 22:44] lukesiler commented on #13138
This is supported on networking/v1alpha3/gateway.proto with three parameters per https://github.com/istio/istio/issues/8804

I would suggest the same three parameters for peer mTLS config as well.  Min and max TLS version support would make sense for version change scenarios where sidecars may be heterogeneous during upgrade window.

[2019-08-23 23:14] gotwarlost commented on #16357
Running `1.1.12` for the last hour now and no crashes so far. OTOH we deployed too late on a Friday and  deployment activity is pretty low key. (There were no crashes even in the hour prior to when we deployed). Will leave it running over the weekend and see what happens on Monday.

[2019-08-23 23:14] ezra-sc commented on #6984
I'm still looking for an answer to how to add multiple groups (OR'd together) to a ServiceRoleBinding. The doc linked by yangminzhu above only shows examples with one group and it makes it look like the field only accepts a single string, so based on the answers above it sounds like I can use:

[code]

It also sounds like this might work, but I'm less certain about it:
[code]

Is there a better wa

[2019-08-23 23:20] carolynhu opened #16525 "istio/tools performance benchmark test runner is broken"
Currently, I cannot reproduce degradation issue happens in istio release 1.3. Since I am blocked by the broken of istio/tools performance benchmark test runner. Need to make a fix.

[2019-08-24 00:10] pitlv2109 commented on #16503
I don't think SDS is working with the new installer yet.

[2019-08-24 00:29] mchendil82 opened #16531 "Istio serviceetntry HTTPS DNS resolution with Location: MESH_EXTERNAL, is not working"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Most of our platforms services are PAAS based services which requires DNS endpoint and its public IP may change from time to time. Hence we are forc

[2019-08-24 00:31] smawson commented on #16406
@frankbu you're right, this is just a single mesh. My real objection is to the way we handle DNS, I have a strong aversion to the .global thing. I think that was just a workaround though, we should figure out a better DNS (and service discovery replication in general) story.

@louiscryan just to clarify, you mean that the list of exportTo namespaces should be enforced at the gateway? Where is that

[2019-08-24 01:47] howardjohn commented on #16531
Do you have an http service on port 443? May be https://github.com/istio/istio/issues/16458

[2019-08-24 02:48] uk000 commented on #14496
@rshriram "overwrite the service's resolution type" I guess that's the key and it should work. What I didn't understand is why's this in conflict with having each namespace apply its own service entry. Doesn't Pilot resolve the clusters to be sent for each envoy individually? Then wouldn't Pilot be able to figure out that for ns A, it needs to add the "external" endpoints that it read from SE from

[2019-08-24 04:33] howardjohn commented on #16481
injector logs look fine, general with injector issues they fail to even reach the injector and don't show up in logs. I assume you are seeing pods not being created? in this case I would do kubectl describe on the replicaset and it should give you more info

[2019-08-24 13:57] kinash000 commented on #15861
@ensible Thanks for the answer
_Can you confirm that the TCP port used on the failed call is the same as the port used on the successful calls?_
Yes

_If a Service exposes multiple ports, but Envoy isn't logging traffic for all of them, the pod Deployment may lack a containerPort. See https://istio.io/docs/setup/kubernetes/additional-setup/requirements/_
This requirement is done. Port name set.

_

[2019-08-24 15:15] howardjohn commented on #16484
My understanding is the main point of running postsubmit tests is so we can look at the history of a testwith no noise (all failures in postsubmit are real, but presubmit ones may have failures from the PR)

The actual code being merged though is still tested the same amount - it is the exact same code being tested in presubmit and postsubmit.

I agree we should run them, but I don't think it is l

[2019-08-24 16:36] rajholla opened #16535 "Improve documentation on use of restrictive pod security policy"
**Describe the feature request**
This is a request to update documentation on how Istio can be run on a cluster with restrictive pod security polices.  Istio doesn't appear to be working with the restrictive policy even with `--set istio_cni.enabled=true`

Policy :
[code]

**Describe alternatives you've considered**
We are using privileged policy for all service accounts within the istio-system na

[2019-08-24 17:13] howardjohn commented on #16535
There is some work being done to support non-root deployments for the control plane but right now it is required for some/most components

[2019-08-24 17:49] #11146 closed

[2019-08-24 19:26] Siddharthk commented on #16481
@howardjohn Thanks for pointing that out. Getting below error in replicaset:
[code]
I have everything installed in istio-system namespace but somehow the config is pointing to "istio-control".
I have installed Istio using below:
https://github.com/istio/installer

Can you please let me know from where is this config picked up?

[2019-08-24 20:03] howardjohn commented on #16481
I don't think it should do that anymore maybe you have an old config still
around. It's a mutating webhook config

On Sat, Aug 24, 2019, 12:26 PM Siddharth <notifications@github.com> wrote:

[2019-08-24 20:10] mgenov opened #16536 "https://istio-sidecar-injector.istio-system.svc:443/inject?timeout=30s: no endpoints available for service "istio-sidecar-injector""
**Bug description**
VirtualService stops working after an hour of work.

Error creating: Internal error occurred: failed calling webhook "sidecar-injector.istio.io": Post https://istio-sidecar-injector.istio-system.svc:443/inject?timeout=30s: no endpoints available for service "istio-sidecar-injector"

**Affected product area (please put an X in all that apply)**

- [ ] Configuration Infrastructur

[2019-08-24 20:38] cmanzi commented on #16434
@hustshawn Been trying to get this to work for days. I ran into this, you actually need to run both the AWS and WeaveNet CNIs in parallel (pods with multiple network interfaces). This can be accomplished with CNI-Genie. The reason for this is that the validation webhooks Istio uses cannot be sent to the WeaveNet subnet CIDR range.

Here's how I did it:
1) Modify the CNI-Genie config to use `"defau

[2019-08-24 21:04] geeknoid commented on #14002
This needs to be done before CNI can be released to customers.

[2019-08-24 21:04] howardjohn commented on #16536
Can you get info on the sidecar injector pod? `kubectl describe` and `kubectl logs` the pod, and `kubectl get endpoints -n istio-system`

[2019-08-24 21:05] #16101 closed

[2019-08-24 21:06] #14873 closed

[2019-08-24 22:17] howardjohn commented on #16504
@geeknoid is the volume mount error related to the build tools?

[2019-08-24 22:20] rlenglet commented on #14002
I got started on moving logging.

[2019-08-24 22:22] rlenglet commented on #14002
The biggest motivation will be the ability to integrate code from `istio/istio`, esp. the Golang port of `istio-iptables.sh`.

[2019-08-25 00:35] geeknoid commented on #16504
@howardjohn I think the problem is that go modules was turned off, resulting in an invalid command line being produced for docker.

[2019-08-25 02:25] MitchK commented on #1430
Required for P2P auto discovery In Blockchain systems like Ethereum.

[2019-08-25 04:48] Siddharthk commented on #16481
@howardjohn Below is the config:
[code]
Not sure what is wrong here. I am using latest code:
https://github.com/istio/installer/tree/master/istio-control/istio-autoinject/templates

[2019-08-25 04:55] mgenov commented on #16536
The output of kubectldescribe:
[code]

The output of kubectl logs
https://gist.github.com/mgenov/5e1cc94e68f67267468aaa5ee677d267

The output of kubectl get endpoints:
[code]

[2019-08-25 04:59] mgenov commented on #16536
This is the log of during the incident:

![image](https://user-images.githubusercontent.com/209223/63645766-122e3b00-c70e-11e9-88b2-52ba15460701.png)

e.g pods are created first (I don't know why they are restarted) and after that we got: no endpoints available for service "istio-sidecar-injector"

[2019-08-25 05:19] #16379 closed

[2019-08-25 06:44] vadimeisenbergibm commented on #16472
@dhineshbabuelango Could you please close this issue?

[2019-08-25 08:42] ChenLingPeng opened #16538 "Introduce` objectSelector` in sidecar-injector MutatingWebhookConfiguration to call sidecar-injector with pod label matching instead of using annotation `sidecar.istio.io/inject`"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

Currently, we label a namespace and use `namespaceSelector` in sidecar-injector MutatingWebhookConfiguration to trigger sidecar injection. If the pod is not desired to inject sidecar, the pod need to set `sidecar.istio.io/inject` annotation.

The p

[2019-08-25 08:43] ChenLingPeng commented on #16538
/self

[2019-08-25 08:43] ChenLingPeng commented on #16538
/self-assigne

[2019-08-25 08:43] ChenLingPeng commented on #16538
/self-assign

[2019-08-25 11:43] RoeeShlomo opened #16540 "Allow sidecar scoping for gateways"
Current behavior: Sidecar resources have no effect on gateways.

Request: Allow sidecar scoping of gateways. This could be useful when one deploys a custom gateway that shouldn't be able to see the entire mesh.

Background: The change in https://github.com/istio/istio/pull/15569#pullrequestreview-263329493 sets a */* sidecar scoping to gateways. However, now that all proxies have sidecar scopes it

[2019-08-25 11:46] RoeeShlomo commented on #16540
Duplicate of https://github.com/istio/istio/issues/11936

[2019-08-25 11:46] #16540 closed

[2019-08-25 11:47] RoeeShlomo commented on #11936
The change in https://github.com/istio/istio/pull/15569#pullrequestreview-263329493 sets a */* sidecar scoping to gateways. However, now that all proxies have sidecar scopes it is possible to support make Sidecar resources apply to gateways as well. That is, make */* the default but allow the user to configure it differently if desired. Can this be supported? @howardjohn

[2019-08-25 13:26] vadimeisenbergibm commented on #16406
@louiscryan I tried a Sidecar resource to limit all the traffic from the ingress gateway to `istio-system` (to block any incoming traffic to any application services) but it did not take any effect:
[code]

Even if the Sidecar resource above would work, it would expose access to Istio-system service, not good for security/compliance. If you do not provide access to Istio-system, I guess the ingres

[2019-08-25 13:42] LucaPrete commented on #16453
Vadim, you’re right.

There’s still some old stuff in the config files. We’ve tried to use mutual
Tps as well in the past and certificates were still there because installed
extending the base helm-chart.
Anyway we’ve cleaned up things multiple times but nothing changed..

Unfortunately we weren’t able to remain blocked there, so We’ve decided to
move on and implement a small Nginx sidecar to prox

[2019-08-25 14:34] howardjohn commented on #11936
Sidecar will be pretty poorly named if it applies to gateway as well  and has more aspects than just what resources to restrict to. I agree limiting the scope of gateways is useful but I think it is more likely we will do it based on the Gateway resource. There was a PR at one point to limit config based on which Gateways applied to a gateway but there were some problems with it

[2019-08-25 14:52] howardjohn commented on #16536
is this still happening? the reason I ask is because there is an endpoint for the injector from what you added here, so it seems wrong to me that the error is "no endpoints"

[2019-08-25 14:53] howardjohn commented on #16481
yeah I suspect you have 2 of them in your cluster though, that one and one from some older install or something. Try `kubectl get MutatingWebhookConfiguration`

[2019-08-25 15:06] mgenov commented on #16536
It happens temporarily and is working at the moment.

The downtime was for about 30-40 minutes and after that I've rolled back to different instances (not deployed on Kubernetes) as it's a production application. Tomorrow I expect a bit more traffic to see whether the issue is related to the traffic load or not.

Note that I also updated the cluster as I'm not sure whether it's a memory/cpu issue.

[2019-08-25 18:14] marziman commented on #16171
Hello folks,

any update on this? Please this is blocking some end user related features.

@yangminzhu & @myidpt
Can you maybe give it more priority?

Thanks guys! I know it is always a struggle to priotize. Would be amazing!

[2019-08-25 19:12] howardjohn commented on #16396
The version will be fixed in 1.2.5, releasing soon, and we are working on a long term fix to ensure something like this cannot happen again

[2019-08-25 19:12] #16396 closed

[2019-08-25 21:31] howardjohn commented on #8355
Is this wont-fix due to mixer v2 efforts, or something still worthwhile?

[2019-08-25 21:35] howardjohn commented on #14151
Is this done? https://github.com/istio/installer/tree/master/istio-cni

[2019-08-25 21:39] howardjohn commented on #14411
All of this worked was tracked for 1.3 in  https://github.com/istio/istio/issues/16201 the intent is this issue will become the new "release process". So I think this issue is done, unless there was specific work for this other than "make sure you do steps 1 and 2 when you make a branch"

[2019-08-25 21:39] #14411 closed

[2019-08-25 21:43] howardjohn commented on #14007
This is done now, we build docker in postsubmit prow

[2019-08-25 21:43] #14007 closed

[2019-08-25 21:48] howardjohn commented on #13238
Please follow the steps here: https://github.com/istio/istio/wiki/Troubleshooting-Istio#collecting-information-2 for the reviews-v2. Specifically, looking at if access log is configured in config dump.

Also https://github.com/istio/istio/wiki/Troubleshooting-Istio#collecting-information-1 look at the mesh config for the 2nd cluster

[2019-08-25 21:50] howardjohn commented on #12960
Issue seems abandoned since April. If you are still facing this issue feel free to provide follow up info

[2019-08-25 21:50] #12960 closed

[2019-08-25 21:56] howardjohn commented on #15055
Issue seems abandoned, I don't think there is any actual bug here unless there is additional info provided - from what I can tell this is working as intended.

[2019-08-25 21:56] #15055 closed

[2019-08-25 21:58] howardjohn commented on #15279
Issue is abandoned. Please add follow up information if you are still seeing this

[2019-08-25 21:58] #15279 closed

[2019-08-25 22:00] howardjohn commented on #13908
Issue seems abandoned.

If

doesn't solve the issue feel free to add additional information.

[2019-08-25 22:00] #13908 closed

[2019-08-25 22:01] howardjohn commented on #13968
@mabushey are you still seeing this issue?

[2019-08-25 22:05] howardjohn commented on #14940
There hasn't been any follow up on this for a couple months so I don't think there is anything else needed here

[2019-08-25 22:05] #14940 closed

[2019-08-25 22:07] howardjohn commented on #13937
Verified this is done

[2019-08-25 22:07] #13937 closed

[2019-08-25 22:08] howardjohn commented on #13936
Is there any work to be done here? Citadel is not reporting build information like all other components

[2019-08-25 22:10] howardjohn commented on #14393
Istio 1.0.7 by default will block external calls, maybe that is the issue?

On Istio 1.2, I ran

[code]

and the call succeeded. Is this still an issue?

[2019-08-25 22:11] howardjohn commented on #13087
Issue hasn't had any followup in 3 months, presumed fixed with `exportTo`. Feel free to reopen in not

[2019-08-25 22:11] #13087 closed

[2019-08-25 22:14] howardjohn commented on #8281
This issue is from a year ago with no clear description of what is needed. Is someone working on this? Is this still relevant?

[2019-08-25 22:17] howardjohn commented on #16165
This feature was supposed to be in 1.2 but somehow didn't get cherrypicked in, so its in the docs incorrectly.

This will be in Istio 1.3 via https://github.com/istio/istio/pull/13730

[2019-08-25 22:17] #16165 closed

[2019-08-25 22:17] howardjohn commented on #15114
This feature was supposed to be in 1.2 but somehow didn't get cherrypicked in, so its in the docs incorrectly.

This will be in Istio 1.3 via #13730

[2019-08-25 22:17] #15114 closed

[2019-08-25 22:23] howardjohn commented on #13086
Are you still seeing this? On latest Istio I see:
[code]

Which is what we expect?

[2019-08-25 22:26] howardjohn commented on #12510
@esnible is there any work to be done here? Seems this is a pretty rare edge case that we don't have much controller over

[2019-08-25 22:28] howardjohn commented on #12350
Is this still an issue? Is there any way to reproduce this? Having no experience with oracle DB not sure how to debug further.

What does `nslookup cluster-node-01.domainname.local` and `nslookup something-scan.domainname.local` resolve to? Same IP or different?

[2019-08-25 22:35] howardjohn commented on #12312
@pnovotnak is your DNS over TCP? Envoy shouldn't be intercepting UDP traffic

If it is TCP that is also pretty confusing, as I would think it would be treated no different than other TCP connections, which of course do not have a 500 byte limit

[2019-08-25 22:39] howardjohn commented on #12313
@theganyo is this still an issue? In master builds which have had many changes to them, I applied the config:
[code]

And I see it show up correctly

[2019-08-25 22:57] howardjohn commented on #11838
What is the status of this? Does this still occur in newer Istio version (1.2)? With a hard to reproduce bug on an out of support Istio version its hard to debug this further

[2019-08-25 23:03] howardjohn commented on #10703
@jaygorrell we introduced a new feature to do a graceful termination of Envoy. So when a sigterm is received, envoy will stay alive for 5s (by default) and stop accepting new connections before shutting down.

This seems to solve the problem you are having, and from my testing it seems to pretty reliably allow zero-downtime deployments. I have tested with deploying a server repeatedly while sendin

[2019-08-25 23:06] howardjohn commented on #8846
Seems like the root cause here is `consecutiveErrors` vs `gateway_failure`. We are tracking the issue to add an option for `consecutiveErrors` at https://github.com/istio/api/issues/909. Thanks for all the reports here

[2019-08-25 23:06] #8846 closed

[2019-08-25 23:16] howardjohn commented on #9894
What is the error you are seeing? Applying this config seems to work for me on Istio 1.2, maybe you are using too old a version before it is supported

[2019-08-25 23:17] howardjohn commented on #9906
There has been a lot of work reducing 503s since Istio 1.0, is this still an issue on new versions?

[2019-08-25 23:22] howardjohn commented on #10194
In 1.3 this can probably be handled with https://preliminary.istio.io/docs/reference/config/networking/v1alpha3/envoy-filter/. Or we could expose this through an API/make it on by default. I am not sure the impact this would have if enabled by default, or how generally useful it would be to make an API though

[2019-08-25 23:24] howardjohn commented on #8771
This is fixed now, as we give the job name a unique suffix. I think this is in 1.3, maybe 1.2 as well

[2019-08-25 23:24] #8771 closed

[2019-08-25 23:25] howardjohn commented on #14012
I believe all of these steps are done now

[2019-08-25 23:25] #14012 closed

[2019-08-25 23:27] howardjohn commented on #7909
Thanks for all the help on this -- from what I can tell this looks resolved. If there are more issues feel free to open a new bug, as any comments here will probably get lost

[2019-08-25 23:27] #7909 closed

[2019-08-25 23:30] howardjohn commented on #13762
Closing as a duplicate of very similar issue https://github.com/istio/istio/issues/13840

[2019-08-25 23:30] #13762 closed

[2019-08-25 23:33] howardjohn commented on #13869
I am unable to reproduce on master, is this still an issue?

[2019-08-25 23:35] howardjohn commented on #14570
We will likely merge values.yaml and meshconfig to be a single structure in the near future, in which case this would be satisfied. Until then, we are trying to avoid bloating values.yaml with more and more configuration options, so the config is effectively frozen, so I do not think this can be done.

[2019-08-25 23:35] #14570 closed

[2019-08-25 23:36] howardjohn commented on #13991
Presumed fixed by  Remotely Accessing Telemetry Addons.

[2019-08-25 23:36] #13991 closed

[2019-08-25 23:37] howardjohn commented on #14526
@incfly this is done by #14569 right? Is there any work to do here?

[2019-08-25 23:38] howardjohn commented on #14633
I am unable to reproduce

[2019-08-25 23:38] #14633 closed

[2019-08-25 23:39] howardjohn commented on #13618
I think all of these are done, without associated issues it is hard to tell though. Can you either associate issues or I think this can be closed

[2019-08-26 01:10] jaygorrell commented on #10703
@howardjohn What version is that in?

It's typical to add a `preStop` hook with a sleep on k8s deployments so the service changes can propagate (removing the pod from the pool) before the pod is actually told to shut down. Then the pod receives the usual termination handler. With that change, it would replace this preStop hook, right?

Aside from that, I'm not sure if this really solves this issue

[2019-08-26 01:56] dhineshbabuelango commented on #16472
Thanks Vadmin, Before I close, one last question, the destination rule created for egress gateway here has only the subset name but nothing defined other than name, this name represents the name of the service entry? we need to create destination rule like this for all our services goes out of service mesh. Also we have a requirement to connect to DB and other AWS services for which we are plannin

[2019-08-26 02:11] howardjohn commented on #9375
Please see https://istio.io/docs/tasks/traffic-management/circuit-breaking/ and https://istio.io/docs/reference/config/networking/v1alpha3/destination-rule/#OutlierDetection for configuring circuit breaking, as well as some other fields as you mentioned above. Istio APIs do not aim to provide a 1:1 mapping of Envoys, which is why they may not directly line up

[2019-08-26 02:11] #9375 closed

[2019-08-26 02:14] howardjohn commented on #14605
@cainelli can you confirm this is now fixed in 1.2? As you mentioned this is pretty challenging to get backported to 1.1 as there have been a lot of changes in the area and [1.1 will be out of life soon](https://discuss.istio.io/t/support-for-istio-1-1-ends-on-september-19th-2019/3489)

[2019-08-26 02:23] howardjohn commented on #14499
@kbruner that seems like the best workaround. I am not sure its something we should do on Istio by default for consistency/documentation reasons, but certainly useful for cases like yours.

Does that seem right to you or is there some action we should take?

[2019-08-26 02:25] hzxuzhonghu commented on #11866
@diemtvu @incfly @myidpt @quanjielin @JimmyCYJ Do we currently support this?

[2019-08-26 02:28] howardjohn commented on #10335
Seems the issue is resolved, and I believe this requirement is documented already in https://istio.io/docs/setup/kubernetes/additional-setup/sidecar-injection/#automatic-sidecar-injection.

if there are other docs that would be useful a PR in https://github.com/istio/istio.io would be greatly appreciated

[2019-08-26 02:28] #10335 closed

[2019-08-26 02:32] howardjohn commented on #14087
I am not sure this is feasible to do currently, we can only decide send request/don't send request to the sidecar injector, and then the injector only gets the pod spec, so we cannot see if the namespace is annotated with "annotation" only.

However, in k8s 1.15 they added some new stuff to webhooks, and I think it could be possible with objectSelector -- see https://github.com/istio/istio/pull/16

[2019-08-26 02:33] howardjohn commented on #14139
For 1.3 we are keeping the new installer limited to a single namespace for the most part, so I moved the milestone. This is still something we should solve eventually though

[2019-08-26 02:34] howardjohn commented on #14150
This is done, see https://github.com/istio/installer/blob/master/istio-control/istio-autoinject/templates/mutatingwebhook.yaml#L32-L50

[2019-08-26 02:34] #14150 closed

[2019-08-26 02:43] howardjohn commented on #14541
`istioctl collateral --zsh` is working now, verified with latest built

[2019-08-26 02:43] #14541 closed

[2019-08-26 02:44] hustshawn commented on #16434
@cmanzi  I did not try your solution, but I suppose I understand your solution. You are assuming the istio component will utilize the CNIs, while other applications use weave. However, in terms of the problem you encountered, this is totally not acceptable.

I think this should be a compatibility issue between Amazon EKS and Istio. There is almost little thing I can do as a basic user, or too much

[2019-08-26 03:16] #14526 closed

[2019-08-26 03:16] incfly commented on #14526
This can be closed now.

On Sun, Aug 25, 2019 at 4:37 PM John Howard <notifications@github.com>
wrote:

[2019-08-26 03:17] theganyo commented on #12313
No. In that case, the original issue has been addressed. Closing.

[2019-08-26 03:17] #12313 closed

[2019-08-26 05:14] Siddharthk commented on #16481
@howardjohn Yup you are right. I can see now that mutating webhook config is independent of namespace and that's why an old config was still around. Injection works perfectly now. Thanks for the help. Closing the issue.

[2019-08-26 05:14] #16481 closed

[2019-08-26 05:39] dmxlsj commented on #11838
I am pretty sure this was related to the absence of readiness/liveness probes for istio sidecar because when I was manually restarting the sidecar or process, the stuck pod was able to boot up.
I cannot verify the fix now since I removed istio after the incident, but I will re-open the ticket later if I find this is reproducible in the future.

[2019-08-26 05:39] #11838 closed

[2019-08-26 05:49] ravibagri5 commented on #7449
For those running into this with EKS (side car injection) and are using Terraform to provision the cluster, I found that the issue for me, was that you needed to allow the kubernetes master access to the worker node on 443. Basically, you create another security group rule allowing this, and it resolved the issue for me. Hopefully this is helpful to someone.

[2019-08-26 06:17] cainelli commented on #14605
Yes it is fixed. I'm closing the issue then and thank you for the help.

[2019-08-26 06:17] #14605 closed

[2019-08-26 06:18] NiLtheGazettE commented on #16504
Thank you for your reply. @bianpengyuan @howardjohn @geeknoid
As @bianpengyuan said, I have solved this problem after I change GO111MODULE from auto to on. But I found there are some modules I can‘t install them through go get command in my network environment even I have configured the proxy.
Is there any way to manually install the module? I tried to download the related source code from github

[2019-08-26 07:22] vadimeisenbergibm commented on #16472
The destination rules defines the subset and the subset name is used in the VirtualService:
[code]

It is not related to the name of the service entry.

You may drop the destination rule and remove the subset from the VirtualService. Destination rule here is not needed, it can be required if you want to set mTLS between the sidecar proxy and the egress gateway.

Yes, you configure the traffic per

[2019-08-26 07:25] mihai-tiriplica-hs commented on #14393
The issue was specifically with the Python version. I tried upgrading python and it worked. For me it's not an issue right now since I upgraded Python but maybe others get in the same situation.

[2019-08-26 07:46] nokiabaitanik commented on #16370
service spec:
spec:
  clusterIP: 10.254.108.255
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: http
  - name: http-meters
    port: 8081
    protocol: TCP
    targetPort: http-meters
  - name: gogo
    port: 17000
    protocol: TCP
    targetPort: 17000
  selector:
    app.kubernetes.io/instance: xxxxx
    app.kubernetes.io/name: xxxxx
  sessionAffinity: None
  type: Clus

[2019-08-26 07:47] NiLtheGazettE commented on #16504
I found the go edit mod --replace command and I think I need to read the tutorial a few more time...(facepalm)

[2019-08-26 07:47] #16504 closed

[2019-08-26 07:53] denniseffing commented on #16506
This can be closed. Turns out that I was experiencing these issues because I changed the deployment configuration to use multiple namespaces without creating new destination rules for those namespaces. mTLS with Postgres is working fine now. Sorry for the confusion.

[2019-08-26 07:53] #16506 closed

[2019-08-26 08:02] vadimeisenbergibm commented on #12390
@HXK123 @spam8321 @tuantuan11233 cc @howardjohn

Please note that the issue is probably with DNS. A service entry in Istio does not define a DNS record. So before your app tries to open a connection to `mssql.testdomain`, it sends a DNS query for `mssql.testdomain` and it does not get an IP for `mssql.testdomain` from the Kubernetes DNS since Kubernetes DNS is not aware of this domain name. So the

[2019-08-26 08:24] dhineshbabuelango commented on #16472
Thanks Vadim for the reply. The reason for sending only some traffic to egress gateway is the complexness i feel in configuring egress gateway.

For example:
when we create any destination rule, even when we specify subset we will mention some labels just to transfer the traffic, but we didn't mention anything here just the subset name. Is it like if we need to mention the destination rule in virt

[2019-08-26 08:32] vadimeisenbergibm commented on #16472
Regarding mTLS, to be on the same side, it is better to specify explicitly the tls mode: Istio mTLS inside the mesh, including between the sidecar proxies and the egress gateway, and disable mTLS to the external services.

TLS modes https://istio.io/docs/reference/config/networking/v1alpha3/destination-rule/#TLSSettings-TLSmode:

`ISTIO_MUTUAL` for Istio mTLS, `DISABLE` for disabling mTLS.

[2019-08-26 08:36] vadimeisenbergibm commented on #12390
@HXK123 @spam8321 @tuantuan11233 I have a PR to istio.io regarding the Kubernetes services for egress traffic https://github.com/istio/istio.io/pull/4710. A compiled version is here. Let me know if it helps https://deploy-preview-4710--preliminary-istio.netlify.com/docs/tasks/traffic-management/egress/egress-kubernetes-services/, any comments are welcome.

[2019-08-26 08:44] dhineshbabuelango commented on #16472
Thanks Vadim, So when we enable mTLS at the app namespace level, we need to create destination rule and disable mTLS to the services going outside of mesh?

[2019-08-26 09:43] #12261 closed

[2019-08-26 09:55] vadimeisenbergibm commented on #16472
Right, you should disable mTLS to external services.

[2019-08-26 10:17] dhineshbabuelango commented on #16472
Thanks Vadim for the help

[2019-08-26 10:38] dhineshbabuelango opened #16544 "mTLS for istio ingressgateway"
Hi All, We are using istin in AWS EKS. We have automatic sidecar injection enabled in our apps namespace where we deployed all our applications. We have enabled mTLS for that particular namespace(apps). We have created a gateway like below in our apps namespace and created a virtual service using this gateway. If we tries to hit this gateway using the https link, the connectivity from gateway to t

[2019-08-26 10:45] hansel801 commented on #7495
@mbanikazemi just wondering what version of Istio supports headless services?

[2019-08-26 13:17] esnible commented on #16514
This issue tracks the work in https://github.com/istio/istio/pull/16498

[2019-08-26 13:27] esnible commented on #12510
I can't reproduce and thus I can't test ways to mitigate this problem.

@itsvikasgupta if this is still a problem for you open an issue in https://github.com/kubernetes/kubectl

[2019-08-26 13:27] #12510 closed

[2019-08-26 13:47] howardjohn commented on #14393
I ran on python 2.7.6,the original version in the issue and could not reproduce. Unless someone can reproduce this I will assume it's fixed since this was reported for Istio 1.0. thanks!!

[2019-08-26 13:47] #14393 closed

[2019-08-26 13:58] nokiabaitanik commented on #16370
One more thing we observed today, that if we change the name ,
name: http -> to name:tcp .. it is not degrading much.  is that name matter in istio?

[2019-08-26 16:22] johnma14 opened #16545 "Update the base image versions for booking sample apps"

[2019-08-26 19:46] vaibhavjain882 commented on #6861
Do we have any solution for this? https://github.com/istio/istio/issues/6861#issuecomment-404676996
I want to increase the global timeout to 120 seconds.

[2019-08-26 19:51] vaibhavjain882 commented on #6860
I am using 1.2.2 and I guess 15 second hand timeout is again introduces in this version. I am calling an external internet service thought my pod and my envoy is timing out in 15 seconds. Any clue? I want to increase this timeout value globally.

[2019-08-26 20:27] ostromart opened #16550 "Empty env variables are not set"
Operator assumes that default string values mean unset, therefore setting a customization like this:
spec:
  security:
    components:
      nodeAgent:
       k8s:
         env:
           - name: foo
             value: ""

has no effect.

[2019-08-26 20:30] ostromart opened #16551 "Fields from values overrides are not merged with those from IstioControlPlane"
Some values have paths in both IstioControlPlane and helm e.g.
 spec.security.components.nodeAgent.k8s.env is the same as
 nodeagent.env

It should be possible to set the values in both places and merge the two trees, but currently IstioControlPlane settings override helm.

[2019-08-26 22:29] douglas-reid opened #16555 "Provide `istio_build` metric for proxies"
**Describe the feature request**
Istio should provide, either through direct generation or scrape configuration, the `istio_build` metric for proxies (including ingressgateway). This will allow consistent monitoring across Istio-installed artifacts, as it will bring proxies inline with the control plane components. This was originally requested as part of: #13936 .

**Describe alternatives you've

[2019-08-26 22:55] ostromart opened #16557 "Test for proto generation"
The test should regenerate the artifacts from make generate-types and make generate-values and compare to checked in outputs.

[2019-08-26 23:22] costinm commented on #6259
pending test results, of course.

On Mon, Aug 26, 2019 at 3:53 PM John Howard <notifications@github.com>
wrote:

[2019-08-26 23:27] jasonwzm opened #16559 "Use camelCase for JSON/YAML Field Names for Istio APIs"
**Describe the feature request**
According to Kubernetes API Convention guideline, all field names should be in camelCase in JSON, no dashes or underscores. https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#naming-conventions

However, we are using the non-conforming cases in some of our references (e.g. we use jwksUri and jwks_uri interchan

[2019-08-26 23:32] ostromart opened #16560 "Run integration tests from istio/installer"
The following tests work against Istio installed through operator CLI:
mesh manifest apply
cd ../installer
make run-simple
make run-simple-strict
make run-bookinfo
These should be run from istio/installer as a presubmit in the operator repo against a cluster set up with mesh manifest apply.

[2019-08-27 03:02] happyxgang opened #16562 "when pod is deleted, if envoy can handle route correctly without routing to the deleted pod?"
i'm using kubernetes, i find that when a pod is being deleted, our route module can't handle pod deletion correctly, it will route traffic to the deleted pod for a while before it detects this. can istio solve this?

[2019-08-27 03:20] hzxuzhonghu commented on #16562
in k8s it depends on pod graceful termination

in istio, we do that first making use of k8s endpoint, second making use of sidecar graceful shutdown. For more details, there is an issue you can search

[2019-08-27 04:58] wansuiye commented on #10858
hi,  after the the pilot disconnect the connection, it seems that the sidecar cannot connect to pilot immediately at some time.
however the sidecar don't log any connect logs. what i can ensure is that after disconnect the pilot don't push to the sidecar until 10 minutes later.
if the backends endpoints change at this time, which will lead to much request error

i use 1.1.3

[2019-08-27 05:30] zifahs commented on #6011
Hey, but "LoadBalancerSettings-ConsistentHashLB" only works on http requests.

[2019-08-27 08:17] lcrisci opened #16563 "Integrate Istio with AWS Certificate Manager Private Certificate Authority"
**Describe the feature request**

It would be great to have Istio ( mainly nodeagent's caclient at this point ) integrate with [AWS Certificate Manager Private Certificate Authority](https://aws.amazon.com/certificate-manager/private-certificate-authority/) to deliver signed certificates from a managed CA instead of running our own.

**Describe alternatives you've considered**

**Affected product

[2019-08-27 08:35] pmint93 commented on #7583
I'm using Istio 1.1.12 and still experience this issue.

Is this really the cause ?
My kubernetes cluster was setup with masters & workers separately , which is you can not see master nodes by command `kubectl get nodes`

[2019-08-27 09:06] nokiabaitanik commented on #16370
we have tried http2... But it still degrades after some time..
If in http1 it was starting degrading after 5 minutes only ... but here it starts degrading after 8-10 minutes

  ports:
  - name: http2
    port: 8080
    protocol: TCP
    targetPort: http2
  - name: http2-meters
    port: 8081
    protocol: TCP
    targetPort: http-meters
  - name: gogo
    port: 17000
    protocol: TCP
    targetPo

[2019-08-27 09:16] mar1n3r0 opened #16566 "gRPC config stream closed: 2, gateway has no associated service instances results in a 404 error"
**Bug description**
When deploying a custom ingress gateway using a standard deployment and not a canary I get the following error:

[2019-08-27 09:04:58.365][17][warning][config] [bazel-out/k8-opt/bin/external/envoy/source/common/config/_virtual_includes/grpc_stream_lib/common/config/grpc_stream.h:86] gRPC config stream closed: 2, gateway has no associated service instances

The ingress gateway p

[2019-08-27 10:18] kebe7jun commented on #15619
/unassign

[2019-08-27 11:01] vstrizaks commented on #15288
On Istio 1.2.5 problem still present. vitalijsvolodenkovsmagebit can you please tell how you solved the issue?

[2019-08-27 11:43] vstrizaks opened #16567 "HELM: istio-sidecar-injector istio-1.2.5"
Hello, we found an issue with istio-sidecar-injector ConfigMap. In sidecar-injector-configmap.yaml you use {{ .Files.Get "files/injection-template.yaml" | indent 6 }}.  .Files.Get did not parse Helm template, it just insert content of "files/injection-template.yaml" to the sidecar-injector-configmap.yaml
In the result we recive incorrect ConfigMap:

apiVersion: v1
kind: ConfigMap
metadata:
  name:

[2019-08-27 12:34] RemusRD commented on #10875
We are facing the same problem, we are going to map that header to another that does not get removed by the Istio ingress... We are looking forward for another solution because we really need that for idempotency purposes huraay PSD2.

[2019-08-27 13:23] mailzyok opened #16568 "Question on introducing libc++ and libc++abi in Dockerfile.proxyv2"
Hi,

I have some questions on libc++ and libc++abi introduced recently in Dockerfile.proxyv2.  I did some searched in the repo, but i still cannot find good answers.

1. Could you pls share some background on introducing libc++ and libc++abi?
2. Why  dev libraries(libc++-8-dev libc++abi-8-dev), not release libraries?
3. Envoy bazel supports building with gcc as well, any difference comparing gcc a

[2019-08-27 14:30] whut opened #16570 "https://git.io/getLatestIstio installs prerelease version"
**Bug description**

The https://git.io/getLatestIstio script after pull request #15449 installs newest version of Istio, including even prerelease version. Before the pull requests it installed most recent version (which was not the right thing to do), but it ignored prerelease versions.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[x]

[2019-08-27 14:55] frejonb opened #16572 "tcpKeepalive has no effect behind AWS NLB"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

I'm putting the istio-ingressgateway behind a NLB with
[code]
and
[code]
The ingress routes to a nodejs application where I've set a `DestinationRule` with
[code]
The r

[2019-08-27 14:56] reste85 commented on #9906
We're experiencing the same behaviour (503) when hitting directly the service from inside our cluster. We've a pod with a service container and the istio proxy.
Istio version: 1.2.4.
Could it be possible that the problem is still around?

[2019-08-27 15:47] mar1n3r0 commented on #16566
It happens 100% of the time and there is a Kubernetes Service associated with it.
I have completely turned off TLS to isolate the case so on http it's always 404 and it seems that this is reported internally by the envoy proxy.

[2019-08-27 15:51] #16074 closed

[2019-08-27 15:54] frejonb commented on #16572
@arianmotamedi thanks for the quick reply

Indeed I do not see the failed request on the gateway. If I understand this correctly, you're saying that the python host should send a keepalive packet to the target and not the other way around.

I did set time to 120s and interval to 30s with
[code]
If I understand correctly, after 120s of inactivity the proxy should send a keep alive packet back to th

[2019-08-27 15:55] maxbischoff opened #16573 "Gateway with wildcard hosts for different namespaces causes duplicate filterChainMatch in envoy listener"
**Bug description**

When creating a gateway that has a host section with identical hosts on different namespaces on port 443 with simple-mode TLS, the resulting listener config is always rejected by envoy

[code]

The log message in the gateway deployment's envoy is

[code]

The proxy diff (retrieved with `istioctl proxy-status <gateway-proxy>`) contains following listener:

[code]

**Affected pr

[2019-08-27 16:37] mar1n3r0 commented on #16566
I see... thanks.

The custom ingress gateway is literally as per the official docs: https://istio.io/blog/2019/custom-ingress-gateway/

And the dev/stage setup is via Helm Releases like so:
https://github.com/fluxcd/helm-operator-get-started

The production setup with canary which is working with another custom gateway as per the above docs is:
https://github.com/stefanprodan/gitops-istio

What I

[2019-08-27 17:40] atrifan opened #16574 "[Question] What is the envoy version that istio uses"
Hi,

What is the envoy version that istio 1.2.3 uses and how do I find out for future releases on my own?

Regards.

[2019-08-27 17:45] sdake opened #16575 "authn tls-check (and other subcommands) require an argument - but the usage message doesn't describe what the argument"
[code]

As an operator, I'd run:

[code]

The error: `Error: requires at least 1 arg(s), only received 0` - is not intuitive.  While it is clear I need another argument, the formatting of the argument is not specified.

I'd recommend an error like "Please run the command `istioctl help authn tls-check for more information about the error."

This is probably pervasive throughout istioctl.

The appr

[2019-08-27 17:52] sdake opened #16576 "authn tls-check gives vague error"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Perfor

[2019-08-27 17:53] rlenglet opened #16577 "Istio CNI doesn't start on k8s v1.15.3"
**Bug description**

The Istio CNI daemonset fails to start in the `istio-system` namespace on k8s v1.15.3, due to permission issues.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[x] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer I

[2019-08-27 18:07] rlenglet opened #16578 "Customizable Helm install docs miss CNI uninstall instructions"
The `Uninstall` section at https://preliminary.istio.io/docs/setup/install/helm/#uninstall is missing an `Istio CNI enabled` tab.

[ ] Configuration Infrastructure
[x] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

[2019-08-27 18:17] incfly opened #16581 "[Istio-1.3.0-rc0] Short protocol detection timeout can fail https requests"
**Bug description**

Follow instructions of Access External Service, everything works till we hit the section [access external https service](
https://preliminary.istio.io/docs/tasks/traffic-management/egress/egress-control/#access-an-external-https-service)

At this point, after applying service entry for `www.google.com`, I'm expecting http returns 200 even with registry_only mode, however I sti

[2019-08-27 18:27] aemaem commented on #14580
As it is possible to gather logs with Fluentd and storing them in Elasticsearch, one should be able to change ES with Loki. Guess the Fluentd Loki Plugin (https://github.com/grafana/loki/blob/master/fluentd/fluent-plugin-grafana-loki) will be exactly what we need to send logs to Loki. Promtail won't be needed in that case.

[2019-08-27 18:34] yxue opened #16582 "Community Test, TCP Traffic Shifting"
Follow steps on this [page](https://preliminary.istio.io/docs/tasks/traffic-management/tcp-traffic-shifting/).

[code]

![image](https://user-images.githubusercontent.com/3491507/63798149-5e1fe200-c8be-11e9-925c-eccb03a736c1.png)

[code]

![image](https://user-images.githubusercontent.com/3491507/63798069-316bca80-c8be-11e9-9962-1f000a00324a.png)

**Bug description**

**Affected product area (plea

[2019-08-27 19:16] frejonb commented on #16572
@arianmotamedi I understand now. Thanks for the clarification. I'm closing this issue since it's not istio related.

[2019-08-27 19:16] #16572 closed

[2019-08-27 20:13] wereeder opened #16585 "Support regex for ServiceRole spec.rules.paths"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Support regex paths for ServiceRole spec.rules.paths, similar to how the Policy supports regex for spec.peers.jwt.trigger_rules.excluded_paths

**Describe alternatives you've considered**
Paths currently support wildcard patching for suffix, prefix

[2019-08-27 20:20] incfly opened #16586 "Implement `mesh_config.enable_auto_mtls` except for PERMISSIVE mode"
**Describe the feature request**

`enable_auto_mtls` behavior needs to be implemented as [per documented](https://github.com/istio/api/blob/master/mesh/v1alpha1/config.proto#L225)

This bug excludes the PERMISSIVE mode handling.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[X ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry

[2019-08-27 20:42] atrifan commented on #16574
Ok so from what I see here - istio uses the custom wasm playgroud of envoy?

[2019-08-27 20:44] #16577 closed, assigned to rlenglet

[2019-08-27 20:44] #16578 closed, assigned to rlenglet

[2019-08-27 21:03] atrifan commented on #16574
Thanks for the quick answer it provides me with enough information in order to find out which envoy proxy version from the official repo it uses. Regards

[2019-08-27 21:03] #16574 closed

[2019-08-27 21:10] jplevyak opened #16589 "Long running test for mixer v2 on NullVm and WebAssembly."
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request** We need to do a long running test of mixer v2 on the NullVm and on WebAssembly to determine stability and performance of the respective systems.

**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply

[2019-08-27 21:13] jplevyak opened #16590 "Package the mixer v2 experimental WebAssembly plugin into the image."
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request** Mixer v2 as a NullVm plugin and as a WebAssembly plugin should be made a part of the image.  The WebAssembly version should not be enabled in production, but should be provided for experimentation.

**Describe alternatives you've considered**

**Aff

[2019-08-27 22:07] myidpt opened #16593 "Citadel health check doesn't work with plugin cert"
**Bug description**
Citadel health check doesn't work with plug in certs (with intermediate certs).

Log:
2019-08-27T21:58:54.082629Z	info	grpc: addrConn.createTransport failed to connect to {istio-citadel.istio-system.svc.cluster.local:8060 0  <nil>}. Err :connection error: desc = "transport: authentication handshake failed: x509: certificate signed by unknown authority". Reconnecting...
2019-08-

[2019-08-27 22:57] mandarjog opened #16597 "1.3: Proxy crash while shutting down."
version: gcr.io/istio-testing/proxyv2:2ad96b524f35d02db7cf709cb56eb44541312955-e2e_dashboard

This is the tip of 1.3 branch.

[code]

[2019-08-27 23:46] costinm opened #16599 "Mesh expansion broken in 1.3"
Root cause seems to be: https://github.com/istio/istio/pull/14690

The sidecar.env and cluster.env are no longer read, systemd will just start with the default
config.

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[X] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[

[2019-08-28 00:08] ostromart opened #16600 "istioNamespace and namespace are shown as options in operator commands"
This leads to help and docs showing these flags, which should have no effect:
https://preliminary.istio.io/docs/reference/commands/istioctl/#istioctl-experimental-manifest-apply

[2019-08-28 01:20] vadimeisenbergibm commented on #13578
@B-Hancock the wildcard (`*`) can be only at the beginning of the host name, before a dot. Please try `*.io`.

[2019-08-28 02:09] tx19980520 commented on #16099
The same strange behavior
jwt-boostrap.yaml
[code]
the `/api/base_register` is work but other not work(always get 401)
@paulfrench Have you solved the problem?

[2019-08-28 02:12] vadimeisenbergibm commented on #16406
@frankbu cc @louiscryan

Thank you for letting me know about `networking.istio.io/exportTo`, I did not know about that annotation. I see it is documented https://istio.io/docs/ops/traffic-management/deploy-guidelines/#cross-namespace-configuration-sharing.

Two points:
1. From the note I see in https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#VirtualService `exportTo` cu

[2019-08-28 04:08] hzxuzhonghu commented on #16582
@yxue It seems your route does not paste completely

[2019-08-28 05:47] lei-tang opened #16604 "[Istio-1.3.0-rc0] Community Testing, deployment error in Istio Vault CA Integration"
**Bug description** Following the instructions on https://preliminary.istio.io/docs/tasks/security/vault-ca/, at the step "kubectl apply -f sleep-injected.yaml", get an error as follows:

~$ kubectl apply -f sleep-injected.yaml
serviceaccount/sleep created
service/sleep created
error: error validating "sleep-injected.yaml": error validating data: ValidationError(Deployment.spec): missing required

[2019-08-28 05:54] mailzyok commented on #16568
Thanks @PiotrSikora. it is very clear.

[2019-08-28 05:54] #16568 closed

[2019-08-28 06:03] lei-tang opened #16606 "[Istio-1.3.0-rc0] Community Testing, 503 error in Istio Vault CA Integration"
This bug may be related to the changes for k8s trustworthy JWT.

Bug description:
Following the instructions on https://preliminary.istio.io/docs/tasks/security/vault-ca/, at the step "kubectl exec -it $(kubectl get pod -l app=sleep -o jsonpath='{.items[0].metadata.name}') -c sleep -- curl -s -o /dev/null -w "%{http_code}" httpbin:8000/headers", get an error as follows:

~$ kubectl exec -it $(kube

[2019-08-28 06:04] mailzyok opened #16607 "Traffic loss during upgrade from 1.1.x to 1.2.x"
Hi

Traffic loss is observed during upgrade from 1.1.x to 1.2.x. After investigation, it is caused by change "set normalize_path to true by default" https://github.com/istio/istio/issues/14185.

Any reason on changing the default value? Is there some workaround to avoid traffic loss for this case.

Thanks.

[2019-08-28 06:08] charanrajb opened #16608 "Mixer Report failed with: UNAVAILABLE:upstream request timeout"
I am getting the following error in istio telemetry and istio-policy pods. The pods are getting restarted or crashLoopbackoff sometimes. I have to delete the istio pods to make it work. Can someone help me out?

Kuberntese version: 1.12.8-gke.10
istio version : client version: 1.2.4

istio-telemetry - istio-proxy logs:
" Mixer Report failed with: UNAVAILABLE:upstream connect error or disconnect/re

[2019-08-28 06:11] #15679 closed

[2019-08-28 06:29] maxbischoff commented on #16573
/assign hzxuzhonghu

[2019-08-28 06:42] ramaraochavali commented on #15183
@howardjohn  No. Not yet. but I am sure it will work. We can close this and will reopen if it becomes an issue.

[2019-08-28 06:42] #15183 closed

[2019-08-28 07:00] whut commented on #16570
So the name of the script should change, because it does not install latest;)

But seriously, there must be some way to make it work, either via some more sed/awk magic or just by exposing that information on some separate endpoint, so it will be easier to parse.

[2019-08-28 07:25] hzxuzhonghu commented on #15775
Should close at the moment

[2019-08-28 07:25] #15775 closed

[2019-08-28 07:29] vadimeisenbergibm commented on #13578
@B-Hancock Oh, I see.

I would check if there are some other gateways or virtual services are defined for the same host, maybe there is some conflict. See  https://istio.io/docs/ops/traffic-management/troubleshooting/#route-rules-have-no-effect-on-ingress-gateway-requests.

[2019-08-28 07:36] anxolerd commented on #16126
This feature (per-pod resource limits for sidecar) would be useful for me as well. My concern is that when I override requests with annotation, sidecar limits are getting lost, which may lead to uncontrolled resource usage by sidecar, which I'd like to avoid.

[2019-08-28 07:39] Stono commented on #16188
This is becoming really painful now :-( I don't know how i can help you debug it?

We are going to add some automation that restarts applications when this alert fires, which is a really dirty bandage on the problem.

<img width="1440" alt="Screenshot 2019-08-28 at 08 38 44" src="https://user-images.githubusercontent.com/1486729/63835403-46546680-c96f-11e9-9273-2b321fecc797.png">

[2019-08-28 07:40] Stono commented on #16189
OK great, did that make `1.2.5`?

[2019-08-28 08:02] paulfrench commented on #16099
In my case I had to use a workaround which isn't great. I use an all in one regex which you maybe able to do...

[code]

[2019-08-28 08:21] tx19980520 commented on #16099
@paulfrench
Very helpful!
what's your version about istio?
I'm very confused that I delete the policy but istio is stilling check the jwt. How can I check which policy trigger the 401(Maybe some policy is residuary or maybe it is cache).

[2019-08-28 08:33] Stono commented on #14563
:wave: any progress on this front?  I probably get asked daily about this internally

[2019-08-28 08:52] Dev25 commented on #16458
@howardjohn  @vadimeisenbergibm

I've also ran into this last week when trying to do egress TLS origination + ALLOW_ANY so we can slowly integrate external services with istio capabilities, FYI regarding the HTTP on port 443 the current docs explicity mention to do that as part of tls origination.

I've not yet tested what happens when the SE's 443 port is set to HTTPS whilst doing tls origination

[2019-08-28 08:52] guojingyinan219 commented on #16434
i have the problem ,  cannot create gateway and virtualservice ,  auto inject is failed ;

[2019-08-28 08:54] guojingyinan219 commented on #16434
use Manual inject , but  can not create  virtualservice, error message is

Error from server (Timeout): error when creating "hxtrip-product-vs.yaml": Timeout: request did not complete within requested timeout 30s

[2019-08-28 08:58] hzxuzhonghu commented on #16582
reproduced, and i checked both v1 and v2 belongs to ` outbound|9000|v1|tcp-echo.default.svc.cluster.local`.
Seems the eds is not right.

[2019-08-28 08:58] hzxuzhonghu commented on #16582
/assign

[2019-08-28 10:11] hzxuzhonghu commented on #16582
I find the root cause, it is not right here, the service attribute is empty.

[code]

[2019-08-28 10:14] paulfrench commented on #16099
I'm new to Istio as well, I'm currently using 1.2.2

I've had no issue deleting policies and have done minimal debugging so my knowledge isn't sufficient to help you at the moment. Apologies!

[2019-08-28 11:37] nokiabaitanik commented on #16370
Server images is not public . we are using centos 7.6.
U need the entire config of the application service/deployment ? or istio charts?

[2019-08-28 12:33] Dev25 commented on #16458
Update: Setting the ServiceEntry port to HTTPS works fine with TLS Origination, so this is also a documentation issue.

[2019-08-28 12:48] mar1n3r0 commented on #16566
OK that was solved with the creation of a second service which was for the pod behind the gateway making it a total of 2 services one for the ingress and one for the deployment behind it.

[2019-08-28 12:48] #16566 closed

[2019-08-28 12:48] vadimeisenbergibm commented on #16458
@Dev25 You mean setting the 443 port to be HTTPS works fine with TLS origination? So the documentation must be fixed.

[2019-08-28 12:54] dhineshbabuelango commented on #16472
Hi Vadmin, I tried to change the mode to REGISTRY_ONLY and the connections are working as expected but not able to see anything in the logs. Due to this even if I create egress gateway, I was not able to check if the connections are going through egress gateway.

![image](https://user-images.githubusercontent.com/51995628/63857254-f492f700-c9d5-11e9-904e-3e1fd8620ff3.png)

[2019-08-28 13:04] vadimeisenbergibm commented on #16472
You can enable Envoy's access logs https://istio.io/docs/tasks/telemetry/logs/access-log/#enable-envoy-s-access-logging, and check the logs of the egress gateway:

`kubectl logs -l istio=egressgateway -c istio-proxy -n istio-system | tail`

[2019-08-28 13:17] dhineshbabuelango commented on #16472
Thanks Vadim, Let me try that. Below is the error once I enable mTLS inside the mesh. the error says connection failure but still I am getting success when I curl the link.

![image](https://user-images.githubusercontent.com/51995628/63859095-45f0b580-c9d9-11e9-8254-74333027d5ff.png)

[2019-08-28 13:43] #12880 closed

[2019-08-28 14:10] Dev25 commented on #16458
@vadimeisenbergibm Yep setting ServiceEntry port 443 to HTTPS works just fine with doing TLS origination.

That being said i'm not sure if this is intended behaviour but trying to connect to port 443 using HTTPS directly (when configured for tls origination) will result in connection failures.

[code]

Access logs do get generated by istio-proxy for these failed attempts
[code]

[2019-08-28 15:03] KuroObi opened #16614 "port 8080 in services leads to unknown source"
**Bug description**
If a Service is deployed with port 8080 Kiali reports the source as unknown.
This only affects the port and only port 8080, as soon as it is changed to something else Kiali reports source correctly and is able to build the graph.

[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ]

[2019-08-28 15:16] johscheuer opened #16615 "Make Istio conformance tests non-disruptive"
**Bug description**

Currently we are evaluate if the istio [conformance tests](https://github.com/istio/istio/tree/master/tests/integration/conformance) can be used to check our installation. What we discovered (it took me a way longer than I would like to confess) is that the conformance tests are disruptive and can stop the whole cluster from working. Currently we have globally activated [mTLS]

[2019-08-28 15:16] johscheuer commented on #16615
TLDR at least there should be a big fat warning that the conformance test can break your istio setup.

[2019-08-28 15:38] AceHack opened #16617 "Please add ALB X-Amzn-Trace-Id as first class span in a trace"
When using an amazon load balancer that adds X-Amzn-Trace-Id please use this to create a first client span to the trace.

https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-request-tracing.html

[2019-08-28 16:07] Stono commented on #16188
Aye there's a bug in docker 17.03, which is GKE 1.12.7 (that we were on).
 We upgraded to GKE 1.13.7 which has docker 18.06, which resolved the issue (https://success.docker.com/article/the-docker-stats-command-reports-incorrect-memory-utilization), however still see this in proxies (the other apps we saw it in however, are fine).

For context this has happened about 10 times today (so far).

[2019-08-28 16:08] Stono commented on #16189
No probs, will wait for that then! ta

[2019-08-28 16:26] vadimeisenbergibm commented on #13578
@B-Hancock OK, to debug the issue, can you dump the working and non-working configuration, and compare them? See https://istio.io/docs/ops/component-debugging/#get-proxy-configuration

[2019-08-28 16:28] vadimeisenbergibm commented on #16458
@Dev25

this is totally by design - the gateway expects HTTP traffic, so sending it HTTPS traffic will not work.

[2019-08-28 17:30] rlenglet opened #16619 "Create 1.3.0-rc.1 pre-release"
- [x] Prepare `istio/cni`.
  - [x] Sync the fork of the `istio-iptables.sh` script.
[code]
- [x] Check whether the commit SHAs in `istio/istio` and `istio/proxy` are consistent.
  - [x] Check whether the same `istio/api` commit is used in `istio/istio` and `istio/proxy`.
[code]
  - [x] Check whether the version of Envoy from which the go-control-plane's API has been extracted from is no more than

[2019-08-28 17:56] satishsudini opened #16623 "Istio-policy and istio-telemetry going into crashloop when scheduling on D32 size vm"
**Bug description**
Istio-policy and istio-telemetry going into crashloop when scheduling on D32 size vm

**Affected product area (please put an X in all that apply)**

[x ] Configuration Infrastructure
[ ] Docs
[ x] Installation
[ ] Networking
[x ] Performance and Scalability
[x ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected

[2019-08-28 17:57] Stono commented on #15255
For anyone else coming across this, until it's exposed in the metrics - if you have tracing enabled - you can get it out of the span reported from the source application:

<img width="1680" alt="Screenshot 2019-08-28 at 18 56 42" src="https://user-images.githubusercontent.com/1486729/63880471-b1308c80-c9c5-11e9-81cb-c87005c9d1b8.png">

[2019-08-28 17:58] Stono commented on #14563
No problem @douglas-reid - hope all is well!

[2019-08-28 18:24] aemaem commented on #14580
Did you set it up with fluentd? How do you know the logs are not coming from promtail because the Loki-stack is used where promtail is installed as well?

[2019-08-28 18:46] aemaem commented on #14580
Ah OK, thought Mixer needs to send the logs in order to enhance them with additional meta data. But as you get the logs from sidecars as well this is probably not needed. Thanks for clearing things up!

[2019-08-28 19:16] #14983 closed

[2019-08-28 20:04] #16600 closed, assigned to ayj

[2019-08-28 20:21] nrjpoddar opened #16629 "BlackHoleCluster telemetry for HTTP istio_requests_total is missing destination_service"
**Bug description**

When Istio is configured with
[code]

and an HTTP request is made to `http://httpbin.org` the reported metric `istio_requests_total` has the label `destination_service` set to `unknown`.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[x] Policies and Telem

[2019-08-28 20:30] howardjohn opened #16630 "1.3.0-rc possible RBAC bypass"
In 1.3 we released a new feature to remove the requirement of specifying container port. Because of this, we no longer have a readiness check looking for an inbound listener relating to the containerPort, because one may not exist.

This leads to us being subject to a race condition where a proxy connects to Pilot before Pilot is able to access the Pod's spec, which is needed to build ServiceInsta

[2019-08-28 21:24] cmanzi commented on #16522
@MiguelRexAlu I was running into the same issue. Upgraded to 1.2.5 and it's working now.

[2019-08-28 21:24] jarvisuser90 commented on #13052
@therealmitchconnors My issue was related to my flannel pod network not being set up correctly.

[2019-08-28 21:29] MiguelRexAlu commented on #16522
@cmanzi Thanks for the suggestion but I just found the issue and I solved it.

All my services was created with clusteIP: None and that's make my configuration to fail. I removed that tag and now is working aftwer three weeks of changing configuration. I think that should be part of the documentation in virtual services section.

[2019-08-28 21:37] #15902 closed

[2019-08-28 21:43] carolynhu commented on #16370
@mandarjog sure, will try to reproduce this setup asap.

[2019-08-28 22:27] howardjohn opened #16632 "Use Kubernetes 1.16 for all of our tests"
Kubernetes 1.16 is coming [Sept 16](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.16). This is right after we release 1.3, so ideally we have support (unofficially) for it already. This issue tracks our support

* [x] Verify Istio installs on Kubernetes 1.16
* [ ] Verify all tests pass on 1.16 - verified pilot k8s integration tests do
* [x] Set up automated tests for 1.1

[2019-08-28 22:34] howardjohn commented on #16632
I built K8s 1.16:
[code]

Then I installed Istio.

Things seem to install ok except Grafana is not passing readiness probe. This seems due to https://github.com/kubernetes/kubernetes/pull/76518 limiting readiness probe response to 10kb max, when grafana is returning 25kb

[2019-08-28 22:48] douglas-reid commented on #12115
@duderino https://github.com/istio/proxy/pull/2401 is my attempt at getting it right. Curious for your thoughts.

[2019-08-28 22:52] howardjohn commented on #16632
Our kind config patches we apply (`prow/config/...`) seem to break as well, may need a special variant for 1.16
[code]

[2019-08-28 23:02] howardjohn opened #16635 "Golang 1.13 support"
Changes: https://tip.golang.org/doc/go1.13

This issue tracks any changes needed to support building and releasing based on golang 1.13. This will be out fairly soon, but I couldn't find an exact date.

## Progress
* [x] `go1.13rc1 build -v ./...`
* [x] `go1.13rc1 test -v ./...`
  * [x] TestCompiledExpressions Mixer test - fixed by https://github.com/istio/istio/pull/16709
  * [x] binaries-test -

[2019-08-28 23:33] howardjohn commented on #16635
Some mixer tests break:
[code]

[2019-08-28 23:35] myidpt opened #16637 "Check the JWT audience in Citadel"
**Bug description**
For 1.3, we will have Citadel to check the audience equals the expected string (Citadel's "identity") in the trustworthy JWT. Now Citadel only checks the JWT is trustworthy JWT, but it doesn't check the exact audience string (due to various reasons), which is insecure.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ]

[2019-08-28 23:38] ZackButcher commented on #16126
We would love to have a PR adding this. We should approach this by adding explicit flags to set resource limits, in addition to the current flags that sets resource requests. We should be able to both set a global default limit and a per-pod limit, like we do with resource requests today.

@mafarinacci we'll be happy to review a PR as soon as you've got it ready.

[2019-08-28 23:43] #14836 closed

[2019-08-28 23:46] howardjohn commented on #16635
`make binaries-test` is also broken

[code]

[2019-08-29 00:05] #16201 closed

[2019-08-29 00:20] ostromart commented on #15273
Note that the command has changed from "iop" to "mesh" per the README.

[2019-08-29 00:45] howardjohn opened #16639 "TestAddToMesh panic"
[code]

This happens on master branch consistently for me. It doesn't happen on CI which is weird

[code]

`docker run -v "${PWD}":"${PWD}" -w "${PWD}" -e GOPATH=$GOPATH golang:1.12.5 go test ./istioctl/cmd -run TestAddToMesh` DOES pass, so its likely a local environmental issue

[2019-08-29 00:49] howardjohn commented on #16639
Looks like this test is using my kubeconfig! Added recently in #16156

@irisdingbj please make this test not rely on kubeconfig or if it has to move it to an integration test. A unit test should not be accessing my kubernetes cluster...

[2019-08-29 03:12] dhineshbabuelango commented on #16472
Thanks Vadim, Now I am able to see the logs in egress gateway. But I have one application which supports only HTTP/1.1 is not working if I create egress gateway. It is working only if I create service entry.

Getting the below response when I create only service entry
HTTP/1.1 200 OK

Getting the below error if I try to route the traffic to egress gateway.
command terminated with exit code 35

Do

[2019-08-29 05:09] irisdingbj commented on #16639
@howardjohn the TestAddToMesh will not rely on KUBECONFIG since it is based on fake client from kubernetes.  Also I have tried using the same exact steps with you but can not reproduce.

[2019-08-29 05:20] howardjohn commented on #16639
The test fails but if I set KUBECONFIG=fake it passes. so somewhere it is reading kube config.

I reproduced it on 2 machines as well btw

[2019-08-29 05:40] irisdingbj commented on #16639
TestAddToMesh will not call into add-to-mesh.go:490 as there is already a SE exists in the fake config. ```cannedDynamicConfigs = []runtime.Object{
		&unstructured.Unstructured{
			Object: map[string]interface{}{
				"apiVersion": "networking.istio.io/" + schemas.ServiceEntry.Version,
				"kind":       schemas.ServiceEntry.VariableName,
				"metadata": map[string]interface{}{
					"namespace": "de

[2019-08-29 06:06] #16575 closed

[2019-08-29 06:15] vadimeisenbergibm commented on #16472
@dhineshbabuelango HTTP/1.1 should work according to the task https://istio.io/docs/tasks/traffic-management/egress/egress-gateway/

[2019-08-29 06:29] dhineshbabuelango commented on #16472
Thanks Vadim, currently I am trying in version 1.2.5, let me try with some older version.
For this HTTP/1.1, i tried with 2 different URLS, it was the same issue.

[2019-08-29 06:53] r3kzi commented on #14580
@howardjohn have you installed Loki in a istio-labeled namespace? It doesn't work for me when Promtail and Loki have envoy sidecards....

[2019-08-29 06:58] irisdingbj commented on #16639
Tried in different machines and using latest master codes. No KubeConfig available in my Env. Still can not reproduce. @howardjohn can you check the add-to-mesh_test.go is latest and run using verbose to see which case it fais in your machine?

[2019-08-29 08:44] morvencao commented on #13840
@duderino Sure.

[2019-08-29 08:50] morvencao commented on #13840
@pc-rshetty @aaronmell If I understand correctly, you both see `Error creating: Internal error occurred: failed calling admission webhook "sidecar-injector.istio.io": Post https://istio-sidecar-injector.istio-system.svc:443/inject?timeout=30s: context deadline exceeded` during node upgrade, isn't it?

We have introduced PDB in Istio 1.1.x with default **minAvailable** of 1, so there should be at l

[2019-08-29 09:00] dhineshbabuelango commented on #16472
@vadimeisenbergibm Thanks for the help. I missed to update this URL in the egress gateway hosts.
It is working as expected now.

Also I have enabled logs like mentioned in the below link, will this create huge logs so that I have to take care of my diskspace.

https://istio.io/docs/tasks/telemetry/logs/access-log/#enable-envoy-s-access-logging

Thanks again

[2019-08-29 09:08] dhineshbabuelango commented on #16472
@vadimeisenbergibm Thanks for the help. I missed to update this URL in the egress gateway hosts.
It is working as expected now.

Also I have enabled logs like mentioned in the below link, will this create huge logs so that I have to take care of my diskspace.

https://istio.io/docs/tasks/telemetry/logs/access-log/#enable-envoy-s-access-logging

Thanks again

[2019-08-29 09:26] maxbischoff commented on #16573
@howardjohn @hzxuzhonghu can you tell me, whether that behavior is intended or not? I will gladly fix this issue, if you can point me in the right direction. My current approach would be deduplicating the gateway hosts before they are used to generate the listener config.

[2019-08-29 10:44] dhineshbabuelango opened #16653 "Istio ingress gateway configuration"
Hi All, We are using istio in EKS. While looking at the istio doc for gateway configuration, its mentioned like below

apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: httpbin-gateway
spec:
  selector:
    istio: ingressgateway # use Istio default gateway implementation
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
    - "httpbin.exa

[2019-08-29 10:46] KuroObi commented on #16614
[code]

[2019-08-29 12:24] nokiabaitanik commented on #16370
Hi. Yes for all test telemetry was disabled.
mixer.telemetry.enabled = false and mixer.policy.enabled = false ..

[appli_deployment.txt](https://github.com/istio/istio/files/3555493/appli_deployment.txt)
[config_dump.txt](https://github.com/istio/istio/files/3555494/config_dump.txt)
[appli_configmp.txt](https://github.com/istio/istio/files/3555495/appli_configmp.txt)

In the config_dump file .. "a

[2019-08-29 13:42] howardjohn commented on #16639
it's on the case 8 where service entry already exists . I used latest code.

note that it fails when I DONT set KUBECONFIG var (using ~/.kube/config then I assume) and passes when I set a bogus value

[2019-08-29 13:48] linsun opened #16655 "Produce a list of images used by a given istio release"
**Describe the feature request**
It is desirable to have visibility to all list of images used by a given istio release, as the images are in different places among docker.io and quay.io.  One way is to reproduce this info to our existing istio.VERSION file so it captures not only control plane but also the data plane and the addons.

**Describe alternatives you've considered**
Doing this manually

[2019-08-29 13:52] linsun opened #16656 "can OLM be used with Istio operator"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
What is our compatability statement for OLM and istio operator in the roadmap?  Istio operator started as client side istioctl, which has no intersection with OLM.  However, as we also build the server side function for istio operator, ideally, we w

[2019-08-29 13:54] linsun commented on #16656
@sdake could you use this to track your investigation here?

cc @morvencao

[2019-08-29 13:55] linsun commented on #16655
@johnma14 - could you look at this?

[2019-08-29 14:09] johnma14 commented on #16655
@linsun will do. Thanks.

[2019-08-29 14:12] aaronmell commented on #13840
@morvencao Yes, we have the PDB.

`NAME                            MIN AVAILABLE   MAX UNAVAILABLE   ALLOWED DISRUPTIONS   AGE
istio-galley                    1               N/A               1                     43d
istio-ingressgateway            1               N/A               1                     43d
istio-internal-ingressgateway   1               N/A               1                     4

[2019-08-29 14:37] ceastman-ibm commented on #11120
same issue here, istio with sidecars and mtls enabled.

[2019-08-29 14:54] esnible commented on #16639
@howardjohn The backtrace shows Iris' code is calling `        /usr/local/google/home/howardjohn/go/src/istio.io/istio/vendor/k8s.io/client-go/testing/fake.go:134 +0x91`

The fact that is is in _fake.go_ means she is correctly mocking.  So I am confused how you could be getting this.  For me it passes if I unset KUBECONFIG, set it it to a bogus value, or set it to a valid value.

[2019-08-29 15:05] esnible commented on #15412
@ozevren Should we move this to 1.4?

[2019-08-29 15:14] howardjohn commented on #16639
Weird.. since it happened on both my laptop and desktop I figured it was a universal thing. Ill look into it since it seems only I run into this

[2019-08-29 15:15] YuraBeznos opened #16658 "Istio couldn't handle full URL request"
**Bug description**
Istio couldn't handle full URL request (also reported a year ago on SO [link](https://stackoverflow.com/questions/51801664/istio-ingressgateway-couldnt-handle-full-url-request) )
[code]
and the same resource but with full uri
[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[ ] Perfo

[2019-08-29 15:16] howardjohn commented on #16639
So it fails on:
* GKE cluster 1 with istio
* GKE cluster 2 with istio

Passes with
* Bogus kubeconfig
* Kind cluster with no istio
* Kind cluster with Istio

Maybe GKE related

[2019-08-29 15:18] howardjohn commented on #14580
That I didn't try... but I am not sure why you would want promtail to have a sidecar? I think general prometheus is installed without a sidecar so I would expect promtail to be the same?

[2019-08-29 15:26] sdake opened #16659 "Istio release 1.3 needs a base image pin"
If the base image for 1.2 is updated, the base image would also be updated for 1.3, and visa-versa.  This is not acceptable behavior.  The base images per release need to be iindependently updated.

The solution here is very much like what I have in my long running PR to do this pinning work, but instead of dealing with the complexities of breaking apart test and release processes into two separat

[2019-08-29 15:27] sdake commented on #16659
cc @linsun @howardjohn

[2019-08-29 15:28] sdake commented on #16659
cc @istio/release-managers-1-3  @istio/release-managers-1-2 @duderino

[2019-08-29 15:28] howardjohn commented on #16573
Definitely not intended -- anytime you see Envoy rejecting config from pilot it is not intended. Maybe add some more cases to https://github.com/istio/istio/blob/454fe74759b6e58f9b34ff77c88e37f5944f6a90/pilot/pkg/model/gateway.go#L207. Or in NamesForNamespace maybe

[2019-08-29 15:36] howardjohn opened #16660 "Istioctl segfault"
Steps to reproduce:

Download https://gcsweb.istio.io/gcs/istio-release-pipeline-data/daily-build/master-20190828-09-16/ and https://gcsweb.istio.io/gcs/istio-release-pipeline-data/daily-build/master-20190829-09-15/

[code]

So it broke on 8/29

Note this only seems to happen on release builds, if I build myself locally it works fine

[2019-08-29 15:37] howardjohn commented on #16660
fyi @sdake

[2019-08-29 15:38] linsun commented on #15134
@irisdingbj thank you!  Is it accurate to say add-to-mesh is in 1.3, but external service & remove in 1.4?

[2019-08-29 16:14] howardjohn commented on #16660
The only plausible commit is https://github.com/istio/istio/commit/0200fdd0f05056db1092df8b491756934717d8d8

[2019-08-29 16:16] geeknoid commented on #14002
@tiswanso

Several comments...

- The motivation for using cobra for command-line parsing is that our other libraries assume it. pkg/logging, pkg/ctrlz, pkg/collateral, pkg/version all assume you use cobra for command-line parsing.

- pkg/annotations is indeed gone. Register annotations in istio/api/annotations instead.

- You should use pkg/env even in tests. Otherwise when we turn on linting for

[2019-08-29 16:21] mcereda opened #16661 "Toleration boolean values are not correctly quoted by templates"
**Bug description**

The `_affinity.tp` template files in the helm charts do not quote correctly boolean values even if those have been quoted in the `values.yaml` file.
For example, should I set a `Toleration` value of _true_ for an element in `global.defaultTolerations` in a `values.yaml` file, the template would not quote the value in the resulting yaml file to be applied in kubernetes, leading

[2019-08-29 16:22] lambdai commented on #16597
GrpcMuxImpl is not destructed prior to GrpcMuxWatchImpl. I haven't got the root cause.
I didn't reproduce at my cluster so I don't know if my hack works.

@mandarjog  Any clue how I can reproduce?

[2019-08-29 16:40] gotwarlost commented on #16357
17 crashes for the ingress gateway in the last 24 hours. It is much reduced from before but still happening. Any ideas how to move forward/ debug this? As it stands we are caught between a rock and a hard place, really needing the upgrade and not being able to proceed safely.

[2019-08-29 16:46] linsun commented on #16071
@clyang82 - can you check if this issue can be closed?

[2019-08-29 16:47] linsun commented on #15640
@incfly @irisdingbj - can this be closed now given add-to-mesh is added?

[2019-08-29 16:49] #16401 closed

[2019-08-29 16:49] linsun commented on #15633
@nrjpoddar the annotation is enabled by default in 1.3.  It is opt-in for 1.2.  Users should not need to declare the containerPort with the annotation per https://github.com/istio/istio.io/pull/4859

[2019-08-29 16:50] linsun commented on #15633
Think we could close this out with 1.3- @johnma14 @esnible?

[2019-08-29 17:38] mandarjog commented on #16597
It was a normally running cluster, did not do anything specific.

[2019-08-29 17:45] gideonw opened #16665 "Upgrade cert-manager before LE blocks requests"
**Describe the feature request**
Update cert-manager to prevent Let's Encrypt from disabling certificate renewal.
https://github.com/jetstack/cert-manager/issues/1948

**Describe alternatives you've considered**
None.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Policies

[2019-08-29 17:49] esnible commented on #14801
@fisherxu Can you implement this?  Or check if it is feasible to add a `--monitoringPort x` option to `proxy-status` and `tls-check` on _istioctl_ and `request` on _pilot-discovery_?

[2019-08-29 17:58] howardjohn opened #16667 "istioctl version should compress multiple replicas"
[code]

When you have many replicas the version command is pretty verbose. Recently there was an addition to compress all matching versions to "control plane" version, perhaps we could do it to individual components as well, so I would have one `telemetry version: release-1.3`. Or maybe even `telemetry version (8 replicas): release-1.3`

Note -- the missing versions is an unrelated thing and I thi

[2019-08-29 18:23] r3kzi commented on #14580
My cluster have to meet very high demands regarding data protection (GDPR). So i have to encrypt all network traffic. Especially log file entries.

[2019-08-29 18:33] howardjohn commented on #14580
I see, thanks for the info. Just wondering, do you have prometheus with sidecar as well?

Seems like we should be able to get it to work, I didn't try though so I am not sure where/why it breaks

[2019-08-29 18:53] linsun commented on #14743
https://github.com/istio/istio/issues/9784

[2019-08-29 18:54] linsun commented on #14743
per networking WG mtg today, mysql and SMTP protocol should be working for permissive mode now in 1.3.

[2019-08-29 18:55] esnible commented on #16455
Assigning myself to verify the claim that PERMISSIVE works for MySQL in 1.3 and add a test case to the spreadsheet.

[2019-08-29 19:03] abhijitherekar opened #16669 "Istio/SDS-logging: There is no way to change the log level for the sdsServiceLog in node-agent."
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Add a way to change the log level for the sdsServiceLog in node-agent**

**There are no alternatives**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Pol

[2019-08-29 19:42] #15973 closed

[2019-08-29 19:42] #16582 closed

[2019-08-29 20:22] #16599 closed

[2019-08-29 20:24] andraxylia commented on #9784
We discussed this issue in the networking WG meeting and there are some scale implications. @howardjohn will pick up a PR from @rshriram and do some testing so we can understand until what scale we can enable listeners per IP:port.

@Stono and others who thumbed up the issue: meanwhile, it would be good to understand what is your scale: how many services/how many headless, how many pods per headle

[2019-08-29 21:12] mandarjog opened #16670 "Nightly run of perf benchmark tests"
test infra defines [perf-daily-job](https://github.com/istio/test-infra/blob/master/prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.master.yaml#L285)  That is not running well, at all.

1. Fix install issues that are failing
2. Run tests . The test is run from `istio.io/isito/prow/setup_perf_cluster_for_tests.sh`
    A 5 mins test should suffice. We would like latency, cpu, memor

[2019-08-29 21:14] mandarjog commented on #16670
An example of the failed job: https://prow.k8s.io/view/gcs/istio-prow/logs/perf-for-daily-release/214

@carolynhu has will your fix this issue?

[2019-08-29 21:21] richardwxn commented on #16670
Now it is failing because of unbound variable, this https://github.com/istio/tools/pull/307 should bring back the test

[2019-08-29 22:11] douglas-reid commented on #14563
@Stono took a shot at step 1 (https://github.com/envoyproxy/envoy/pull/8095).

[2019-08-29 22:14] howardjohn opened #16673 "Re-evaluate what data we expose in `version` command"
Right now we expose a version like `{Version:"1.3.0-rc.0", GitRevision:"261e06f6d644aac0128d6066d0c7e986fd2fec30-dirty", User:"root", Host:"8ba6e408-c5c3-11e9-9a74-cebf10d360f6", GolangVersion:"go1.12.5", DockerHub:"docker.io/istio", BuildStatus:"Modified", GitTag:"1.2.0-rc.3-435-g261e06f"}`

Compare to kubernetes: `{Major:"1", Minor:"12+", GitVersion:"v1.12.8-gke.10", GitCommit:"f53039cc1e5295eed

[2019-08-29 22:15] #13595 closed

[2019-08-29 22:16] PiotrSikora commented on #16357
The changes between 1.1.12 and 1.1.13 in Envoy (https://github.com/istio/envoy/compare/8e549722d88708d9c5c246e7c531fd3db76e7dec...6910569ee2d259213f4840a354b1e2d56be430a8) consist only of HTTP/2 fixes and switch to libc++ (along with some Lua fixes for it).

Since you're the only one that reported any issues with the new releases, it leads me to believe that's something unique to your setup (e.g.

[2019-08-29 22:19] mandarjog opened #16674 "tools/install_istio should support installing using operator cli"
tools/perf has old and new install shell scripts.
It should support new installer with the operator.

/cc @ostromart

[2019-08-29 22:27] castlemilk opened #16676 "External Auth not functional when auth service inside mesh"
**Bug description**
When  running an authentication service inside the service mesh - for usage in the [ext_auth](https://www.envoyproxy.io/docs/envoy/v1.11.1/configuration/http_filters/ext_authz_filter#configuration-examples) filter in envoy - the `cluster_name` created will not be usable over gRPC due to the previously reported issue #5331, where the `|` is an invalid character for the authority

[2019-08-29 22:39] howardjohn commented on #16673
Also not sure dockerhub makes sense...

[2019-08-29 23:11] howardjohn commented on #16458
One alternative solution -- reject http Services on 443. Not sure if that is a worse evil than the bug though...

Or treat `http` on 443 as https or tcp (either one works). Both of these are pretty hacky

[2019-08-30 01:32] linsun commented on #15090
https://docs.google.com/document/d/1pV9Yta0W4F6shI5bw8TbF_SOne1fnrsZeeS4kjW5ApA/edit?ts=5d67fed2

[2019-08-30 01:36] howardjohn commented on #15090
To be clear ^ is only about build and publishing, not running tests. The key for testing is that prow should **not** be required. We are mostly there -- almost all tests can be run locally using kind

[2019-08-30 01:50] rlenglet opened #16684 "TestNamespaceTargeting is failing in istio/installer:release-1.3 integration tests"
The `TestNamespaceTargeting` test is failing in istio/installer:release-1.3's `ci/circleci: integration-presubmit-isolated-namespaces-kind` and `ci/circleci: integration-presubmit-one-namespace-kind`.

See for example https://github.com/istio/installer/pull/365 and https://github.com/istio/installer/pull/356.

cc @istio/release-managers-1-3

[code]

[ ] Configuration Infrastructure
[ ] Docs
[ ] In

[2019-08-30 01:58] irisdingbj commented on #15640
sure. Let me close it.

[2019-08-30 01:58] #15640 closed

[2019-08-30 02:02] incfly commented on #15640
Sounds good. Just need to ensure the `register` is marked as deprecated and
update our mesh expansion documentation.

On Thu, Aug 29, 2019 at 6:58 PM Iris <notifications@github.com> wrote:

[2019-08-30 02:09] Monkeyanator commented on #16684
For context surrounding [this test](https://github.com/istio/istio/blob/master/tests/integration/security/citadel/namespace_targeting_test.go), it creates a namespace, adds namespace labels which determine whether to create secrets for that namespace, and then checks if the secret was created ([it tests this logic](https://github.com/istio/istio/blob/dc7a3e70f93349a7694fa64b9a2ffbbbe12e3e50/securi

[2019-08-30 02:19] ChenLingPeng opened #16685 "enhancement: scope xds push"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Currently, pilot will trigger a full push(LDS+RDS+CDS+EDS) to all scoped sidecar(determined by Sidecar CRD) whenever a resource update defined [here](https://github.com/istio/istio/blob/master/pkg/config/schemas/schemas.gen.go).
But maybe there is a

[2019-08-30 02:24] jianglijie opened #16686 "how can redisquota work with a redis use password?"
I find the config for redusquota in docs. It show `redisServiceUrl: <redis_server_url>` for the redis instance url , how can I config it with password?(redis auth)

[2019-08-30 03:26] Monkeyanator commented on #16684
I'm having difficulty pinpointing a recently merged PR (in the 4-12 hour window) that could have affected this test...

/cc @JimmyCYJ @incfly who also have some context on the feature/test at hand.

[2019-08-30 03:28] rlenglet commented on #16684
It could be the same root cause as https://github.com/istio/istio/pull/16682.

[2019-08-30 04:00] Monkeyanator commented on #16684
It's possible that the way we're creating labeled namespace from our integration test framework was broken when we updated the KinD version? This might be the only test that relies on that feature.

[2019-08-30 04:02] rlenglet commented on #16684
We need to also look into any difference between the old installer and new installer that might affect this. This test is not failing in istio/istio. That could point to a missing permission that is now required by the more recent k8s version?

[2019-08-30 04:13] incfly commented on #16684
I see the [error log](
https://12561-172785406-gh.circle-artifacts.com/0/go/out/logs/test-control-plane/containers/istio-citadel-8445957f87-nrpz4_istio-system_citadel-1106591eb2f8c9178b76547822aeb93ece64724d066a546aa06197389f4bc4dd.log) in the KinD test for istio/installer

[code]

This appears to be a RBAC setup issue?

[2019-08-30 04:15] incfly commented on #16684
Could we check if the cluster role for the citadel service account reading namespace is setup correctly in KinD?

[2019-08-30 04:31] rlenglet commented on #16684
@incfly You are right! The chart template in istio/installer:release-1.3 is missing the get/watch/list permissions on namespaces. Compare https://github.com/istio/installer/blob/release-1.3/security/citadel/templates/clusterrole.yaml#L17 with https://github.com/istio/istio/blob/release-1.3/install/kubernetes/helm/istio/charts/security/templates/clusterrole.yaml#L18. Good call!

[2019-08-30 04:32] rlenglet commented on #16684
istio/installer:master is already OK: https://github.com/istio/installer/blob/master/security/citadel/templates/clusterrole.yaml#L17

[2019-08-30 04:33] rlenglet commented on #16684
https://github.com/istio/installer/pull/335 needs to be backported.
Someone please comment `/cherrypick release-1.3` on that PR, and I'll approve.

[2019-08-30 04:39] dhineshbabuelango commented on #16472
Hi Vadim, Based on your tech note, you said we can restrict which service can access external services.

![image](https://user-images.githubusercontent.com/51995628/63993409-f4544200-cb22-11e9-9783-65156da5ff32.png)

I was looking at this option in egress gateway and not able to found that. could you please help.

![image](https://user-images.githubusercontent.com/51995628/63993453-22398680-cb23-1

[2019-08-30 05:06] mailzyok commented on #16607
We just did a normal upgrade from 1.1.7 to 1.2.2 with background traffic. We notice this configuration change from false to true causing envoy restarting the current connections by removing and adding listeners, see below traces:

[2019-08-26 11:12:23.980][17][debug][config] [external/envoy/source/server/listener_manager_impl.cc:976] begin remove listener: name=b4d8cd9e-de63-4e15-b9a9-2c24b678b920

[2019-08-30 05:12] irisdingbj commented on #15134
I think all of the three PRs can be part of 1.3. Should I cherry pick them to 1.3 release manually?

[2019-08-30 05:21] r3kzi commented on #14580
I run Prometheus without a sidecar but with mounted istio secrets and additional scrape config to be able to scrape all other pods that have sidecars.

[code]

[2019-08-30 08:00] morvencao commented on #16661
I think you meat the `defaultNodeSelector` instead of `defaultTolerations` for the following reasons:
1. `defaultTolerations` isn't referred in `_affinity.tpl`, but `defaultNodeSelector`
2. I have tried your case with istio 1.2.4, it is working well because `defaultTolerations` are referred by deployment directly with `toYaml` function, see: https://github.com/istio/istio/blob/master/install/kuber

[2019-08-30 08:07] hzxuzhonghu commented on #16685
There are many tries on this opt. Mainly on namespace scope. This thought looks good, though it needs careful analysis on which api influence which xDS.  In the long run, the best solution is like this: if a new service added, only gen its related xds and the push to associated proxies. Incremental Xds~

[2019-08-30 08:11] hzxuzhonghu commented on #16686
cc @kyessenov

[2019-08-30 08:14] mcereda commented on #16661
You're right, I needed to modify the `defaultTolerations` key too, I have swapped them compiling the issue.
Thanks for the PR, you've been lightning quick!

[2019-08-30 09:02] larstonne commented on #16614
We just verified that version 1.2.5 shows same behaviour

[2019-08-30 09:12] tx19980520 commented on #7679
@kyessenov
@exiaohao Have you solved the problems? Or maybe other params need change.
Or change the param in Helm?

[2019-08-30 09:58] ChenLingPeng commented on #16685
Namespace scope is great and can combine with this since they are in two different dimensions and seems has no conflict with each other. Do we have any plan on _Incremental Xds_

[2019-08-30 09:59] larstonne commented on #16614
We found this in our logs:
warn	Omitting listener for management address 10.42.5.62_8080 due to collision with service listener 10.42.5.62_8080

[2019-08-30 10:36] maxbischoff commented on #16573
Thanks, I'll take a look at that

[2019-08-30 12:42] tiswanso commented on #14002
Thanks @geeknoid for the responses.

re: cobra, ctrlz, version...
Just to make sure the CNI component runtime architecture is understood...
-  CNI plugins are executables that get exec'd by kubelet **on every pod lifecycle event**
-  The golang code in `istio/cni` is currently only the CNI plugin binary and tests.
-  The istio-cni daemonset contains only 1 container that is a bash program that ins

[2019-08-30 13:07] VinothChinnadurai opened #16692 "AWS ALB: Unable to access prometheus and grafana services"
**Bug description**
Unable to load prometheus and grafana services through AWS ALB.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ x] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
Through Rout

[2019-08-30 13:12] kish3007 commented on #15293
Looks like Istio does support RMI protocol, the way i got it working was exposing both rmi ports in my pod and service yaml definitions and port names as `tcp-rmi1` and `tcp-rmi2`.

[2019-08-30 13:41] geeknoid commented on #14002
@tiswanso Thanks for the context.

I don't want to force unnatural stuff onto CNI just for the sake of meeting a checklist requirement. So let's consider each item separately and make sure it is reasonable.

We would like our source code to all be using a common logging solution, that's pkg/log. I think that's meaningful for CNI too, correct?

Configuring log parameters is normally done from the c

[2019-08-30 13:55] howardjohn commented on #16632
set up automated testing for integration tests in postsubmit using the 1.16 beta. Next steps are using official 1.16 images when they are out and moving all the tests over

[2019-08-30 14:06] whut commented on #16570
Yes, by default pre-release version should not be considered. This is in line with many other tools, like package managers, in which "installing latest" mean "installing latest stable"

[2019-08-30 14:25] tiswanso commented on #14002
Yes this is meaningful for CNI.  Currently, we're using logrus lib.  I believe @rlenglet has started moving CNI to istio/pkg/log so I haven't gotten into details on that yet.

Right... in the case of the istio-cni executable, it gets its logging config from the node's CNI config file.  Currently, the istio-cni portion of that config is setup by the bash program in the istio-cni daemonset.  To modi

[2019-08-30 14:35] #16661 closed

[2019-08-30 14:54] howardjohn opened #16699 "Galley TestAddUpdateDelete Unit Test Failure"
Failure: https://prow.k8s.io/view/gcs/istio-prow/logs/istio-unit-tests-master/6413

[2019-08-30 14:56] howardjohn commented on #16699
Also locally found some races

[code]

[2019-08-30 15:00] howardjohn commented on #16607
Oh so its nothing specific to `normalize_path`? So the issue is a new listener was sent causing a drain of connections on the old listener. It should be a drain, so it will hold connections for up to 45s -- were you using long lasting connections?

[2019-08-30 15:40] pcwiese opened #16703 "Support W3C Trace Context for distributed tracing."
Istio current supports distributed tracing via x-b3-* header propagation (via Envoy support). What is the timeline, if any, to support distributed trace context via https://www.w3.org/TR/trace-context/. This is going to be the recommended standard and will be fully supported by OpenTelemetry (the next version of the OpenTracing/OpenCensus merger).

**Affected product area (please put an X in all t

[2019-08-30 16:19] howardjohn opened #16705 "SDS Helm default values are invalid in profiles other than SDS profile"
Currently to install SDS a user needs to provide many many values:
[code]

This is not standard practice for Istio or Helm in general. A feature should be simple to enable, like `--set pilot.enabled=true` and get sane defaults. Then, if a user needs to customize the setup they can pass complex configs.

At the very least it seems

[code]

can be removed.

[2019-08-30 16:20] rlenglet opened #16706 "SDS Helm config default values should be set in values.yaml"
**Bug description**

SDS config values in the default `values.yaml` are empty and invalid. Only the default values in `values-istio-sds-auth.yaml` are valid. So SDS is unusable without users explicitly installing the SDS profile.

**Affected product area (please put an X in all that apply)**

[x] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability

[2019-08-30 16:21] rlenglet commented on #16706
Closing. Duplicate of https://github.com/istio/istio/issues/16705.

[2019-08-30 16:21] #16706 closed

[2019-08-30 16:26] ozevren commented on #15412
I am assigning this to @sushicw as he has been ramping up on this area.

[2019-08-30 16:34] pitlv2109 commented on #16705
#13439

[2019-08-30 16:44] pitlv2109 opened #16707 "Citadel Agent should check if JWT is trustworthy"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Citadel Agent should check if the SDS JWTs is trustworthy or not. Currently this work is done in Citadel, but it should be moved to Citadel Agent, in case the CAs that are not in Istio control (e.g. Vault) do not the check for trustworthy JWTs. More

[2019-08-30 16:47] bianpengyuan commented on #16703
Seems like w3c tracing context is supported in upstream envoy opencensus tracer:
https://github.com/envoyproxy/envoy/blob/0b0aa3f81e6e58327966f8ffa49932c5999a8306/api/envoy/config/trace/v2/trace.proto#L180

@mandarjog do we plan to add global config for opencensus tracer?

[2019-08-30 16:55] XanderStrike commented on #14336
Repro'd on GKE with 1.2.5, I'll see if I can get a fix going.

[2019-08-30 16:59] mandarjog commented on #16703
We do have it in mesh config. We can add more there, or change it to opaque string.

[2019-08-30 18:17] #16593 closed

[2019-08-30 18:24] howardjohn commented on #16416
This is marked as release blocker, did anyone replicate the results? Is someone working on this?

If this is a release blocker it needs someone dedicated to working on this

[2019-08-30 18:25] howardjohn commented on #16637
Is this a releae blocker? I thought this was a new feature? Is this fixed by the backport of #16666?

[2019-08-30 18:26] howardjohn commented on #14782
Changes are in, I have verified myself that this is much improved - if someone else could verify as well that would be great. Thanks for all the help, debugging, etc on this issue!

[2019-08-30 18:26] #14782 closed

[2019-08-30 18:26] pitlv2109 commented on #16637
No. That's it.