[2018-09-17 14:31] #8611 closed

[2018-09-17 15:12] tiswanso opened #8770 "Citadel server doesn't set cipher preference in TLS handshake (defers to client)"
**Describe the bug**
The istio-citadel server port 8060 doesn't set the cipher preference in the TLS handshake so the client can choose the cipher.

**Expected behavior**
The citadel server sets the cipher preference in the TLS handshake.

**Steps to reproduce the bug**
Install Istio with control-plane auth enabled.  Initiate a TLS connection to citadel port 8060.  The TLS handshake indicates that

[2018-09-17 15:30] tiswanso commented on #8770
Possible fix:  I'm thinking `PreferServerCipherSuites = true` is needed in here
https://github.com/istio/istio/blob/master/security/pkg/server/ca/server.go#L206-L219

[2018-09-17 15:34] thspinto commented on #7665
I've set up a [simple POC](https://github.com/thspinto/istio-rolling-update-bug) to reproduce this bug using minikube.

[2018-09-17 15:46] Stono commented on #7665
@thspinto maybe combined with retries.  Circuit breaker would only kick in after a few fails

[2018-09-17 15:57] rshriram commented on #7665
@ramaraochavali sorry I missed your comment.
We don't do any draining, because we don't use envoy's active healthchecks. May be thats part of the problem, but K8S users seem to want the platform's passive health checks (readiness/liveness probes). So we/pilot is at the mercy of those checks - and the statuses that they report to kube API server. In terms of the lifecycle, the two containers/proces

[2018-09-17 16:12] sbezverk commented on #7665
@rshriram how about using POD's Delete hook where you could run a command/binary or a better option a finalizer. With finalizer POD does not get removed until finalizer removes itself form the list. So the controller which implements a finalizer could track the actual app state and once everything is settled to let k8s cluster to remove pod.

[2018-09-17 16:14] rshriram commented on #7665
That is a nice idea. A bit more machinery but allows for a cleaner way to remove pods.

[2018-09-17 16:21] sbezverk commented on #7665
@rshriram if you already tracking POD's with envoy in some controller, then it will be really easy to add,  otherwise it will require a new controller tracking all envoy enabled pods.

[2018-09-17 16:30] #8642 closed

[2018-09-17 16:49] nmittler commented on #6178
@sebastienvas does any of your recent work apply here? Would you be willing to take this on?

[2018-09-17 17:00] #8682 closed

[2018-09-17 17:39] ozevren commented on #8076
@costinm @andraxylia, PTAL.

[2018-09-17 17:42] ozevren commented on #7926
@costinm @andraxylia

[2018-09-17 18:03] donbowman commented on #7328
+1 but be aware of https://github.com/kubernetes/kubernetes/issues/65387

[2018-09-17 18:14] sebastienvas commented on #6178
yes on it.

[2018-09-17 18:41] hklai commented on #8002
This keeps happening.
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/8701/istio-unit-tests/13392/

@nmittler, could you please take a look?

[2018-09-17 18:45] rad91 opened #8771 "Upgrade error for istio-cleanup-secrets"
**Describe the bug**
Error occurs when upgrading from 1.0.0 to 1.0.2.

**Expected behavior**
No error should occur

**Steps to reproduce the bug**
I had an istio-1.0.0 installation (installed without helm), and I followed the instructions to upgrade to the latest release (1.0.2) by first running:
`helm template install/kubernetes/helm/istio --name istio \
    --namespace istio-system > install/kub

[2018-09-17 18:47] ozevren opened #8772 "Create Go client libraries for Istio CRD resources"
As a low-hanging fruit, we should generate Go client libraries for customers to programmatically access our resources.

The input should be protos in istio/api, along with any additional metadata we might need to generate the libraries (i.e. CRD version metadata). We need to generate enough basic Go code, so that we can use Kubernetes code generator (https://github.com/kubernetes/code-generator) t

[2018-09-17 18:59] ozevren commented on #8772
/cc @geeknoid

[2018-09-17 19:05] UnwashedMeme commented on #8720
@AWKIF, yes, that was my experience as well: when I tried to define a barehostname, e.g.

[code]

The envoy config it generates is for `go.foo.svc.cluster.local` as such it will not match http://go/.  When I tried to do something similar I found in the logs from pilot:

I believe this comes from https://github.com/istio/istio/blob/6fcedc7558486963fead83c65fd03ca69c09fd08/pilot/pkg/serviceregistry/

[2018-09-17 20:28] ozevren commented on #6084
@tcnghia we are exploring K8s style Go based client libraries:
https://github.com/istio/istio/issues/8772

Would that be useful for you.

[2018-09-17 20:36] tcnghia commented on #6084
Yes, that would be great.  We're maintaining our hand-made version at https://github.com/knative/pkg/tree/master/apis/istio , but it's not complete.  If this is provided by Istio it will help a lot in using more Istio feature, as well as upgrading to a new version of the API when it comes out in the future.

[2018-09-17 21:30] dewjam commented on #8750
@gparvind Do you have Mixer deployed as part of your Istio environment?  If so, I've seen sporadic 503s when Mixer is under-sized or if Mixer restarts/fails unexpectedly.  In the helm chart, Mixer has minimal resources it seems (by default), so perhaps increase CPU/Memory limits/requests?

[2018-09-17 21:38] yangminzhu opened #8783 "merge bot apparently did not rebase when running tests before merge"
**Describe the bug**
The merge bot merged a PR that failed required test on master.

**Expected behavior**
The merge bot should only merge a PR when it passes all required tests by rebasing it against the latest master before merging.

**Steps to reproduce the bug**
I think I have seen this before but the latest example is #8606.

**Version**
Master

**Installation**
N/A

**Environment**
N/A

**Cl

[2018-09-18 00:44] rshriram commented on #8420
The 40s is not from Envoy. It’s some sequence of timers or throttles in pilot.

[2018-09-18 01:16] wackxu commented on #8772
/cc

[2018-09-18 02:15] linsun commented on #8742
FYI - we have this already changed in 1.1:  https://preliminary.istio.io/docs/concepts/what-is-istio/#why-use-istio

[2018-09-18 02:30] #8002 closed

[2018-09-18 04:09] stewart-yu commented on #8762
In favor of https://github.com/istio/community/issues/78, close it now

[2018-09-18 04:09] stewart-yu commented on #8762
/close

[2018-09-18 04:09] istio-testing commented on #8762
@stewart-yu: Closing this issue.

<details>

In response to [this](https://github.com/istio/istio/issues/8762#issuecomment-422248978):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](ht

[2018-09-18 04:09] #8762 closed

[2018-09-18 04:10] qinghai5060 opened #8792 "can "virtualservices" write with "vs" for short"
**Describe the feature request**
the resource names like "virtualservices"、"destinationrules" and "servicerolebindings" are too long to use with kubectl. can we give them a contraction ?

**Describe alternatives you've considered**
none

**Additional context**
none

[2018-09-18 04:11] ramaraochavali commented on #7665
@rshriram No problem. Thanks. We are in the same situation where we do not use active health checks and hence can not use the draining feature.  During k8s rolling upgrades we see spikes in 503s. We are experimenting to see if combination of retry/outlier detection can help reduce the 503s. Probably Envoy should have the same behaviour on SIGTERM or some other equivalent of `/healthcheck/fail` for

[2018-09-18 04:26] ramaraochavali commented on #7665
Yes sure. retries for the specific reason you mentioned may not fully  help here. Did you get any positive results with retries? How much improvement did you see in your tests?

[2018-09-18 07:25] focks opened #8797 "Continuous CrashLoopBackOff: istio-statsd-prom-bridge pod"
**Continuous CrashLoopBackOff: istio-statsd-prom-bridge pod**
[code]
The log is `statsd_exporter: error: unknown short flag '-s', try --help`

**Version**
* kubernetes version
[code]
* istioctl version
[code]
**Installation**
followed option two https://istio.io/docs/setup/kubernetes/helm-install/#option-2-install-with-helm-and-tiller-via-helm-install inorder to install istio.

**Environment**
kub

[2018-09-18 10:08] virnet commented on #8216
@emedina
I solved it in other ways. I used Aliyun's SLB, and if you use HTTP proxy mode, that's the problem, and then you use TCP mode proxy. On the other hand, if I don't go SLB, I can access it directly through the ports that are open to nodePort.
我使用其他方式解决了, 我使用的是阿里云的SLB, 如果使用HTTP代理模式就会出现这个问题，然后使用TCP模式代理就没问题。从另一个层面, 如果我不走SLB，直接通过nodePort开放的端口进行访问，也没有问题。

[2018-09-18 11:33] idouba commented on #8742
@linsun Great.

[2018-09-18 11:47] x15zhang commented on #8742
@linsun  Thanks for clarifying.

[2018-09-18 11:47] #8742 closed

[2018-09-18 12:27] x15zhang commented on #8767
@rshriram @m1093782566

[2018-09-18 13:21] ldounis opened #8804 "Be able to disable vulnerable TLS versions in Ingress Gateway"
**Describe the feature request**
Istio admins should be able to set a minimum TLS version of TLSv1_2 for the Istio ingressgateway proxy.

Here is the respective envoy configuration:
https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/auth/cert.proto.html?highlight=common_tls_context#envoy-api-msg-auth-tlsparameters

Please add a respective field in Gateway or any other appropriate entity.

*

[2018-09-18 13:35] Stono commented on #7665
I *beg* you to find a solution haha.  The idea of sending back a `x-envoy-shutting-down` and then making it retry to another envoy seems to make sense

[2018-09-18 14:51] brian-avery commented on #4695
Is this still available? I'd love to pick it up.

[2018-09-18 14:53] DanRoscigno opened #8806 "Improvements to "Mixer out of process adapter walkthrough" document"
**Describe the feature request**
{{ A couple of doc changes to make the mixer out of process adapter walkthrough easier }}

**Describe alternatives you've considered**
{{ None, although I did speak to @mandarjog and he suggested that I open an issue and then make the edits. }}

**Additional context**
{{ These are suggestions for the [walkthrough](https://github.com/istio/istio/wiki/Mixer-Out-of-Pr

[2018-09-18 15:03] linsun commented on #8663
I think this will be particularly useful as I know there are times I thought my istio env is good enough but it is not.   This can especially happen after i run helm upgrade a few times to switch among different configurations.

Is it possible to do this on the client side like istioctl?  Having Galley handle the server side is fine if it exists but there are scenarios where Galley isn't even inst

[2018-09-18 15:18] mandarjog commented on #4695
Hi Brian, yes this is very much still available.
Please send PR.

[2018-09-18 15:52] rshriram commented on #7665
It only works for http :(

[2018-09-18 15:53] linsun commented on #8590
` --set mixer.enabled=false ` is the right flag.  See https://istio.io/docs/setup/kubernetes/minimal-install/.  You should be able to validate by listing of the components in istio-system ns too.

Is it possible this is caused by the fact you run with mixer first?

[2018-09-18 15:59] Stono commented on #7665
Selfishly that's all I care about :D haha.  I would actually suspect it is
the majority of use cases too?

My gut is there are going to have to be protocol specific ways of dealing
with things, probably unrealistic to be able to solve all issues in a
procotol agnostic way.

On Tue, 18 Sep 2018, 4:57 pm Shriram Rajagopalan, <notifications@github.com>
wrote:

[2018-09-18 16:05] sebastienvas commented on #8783
From your example, all the required checks are passing. Can you give more information of which required checks are failing, pointing to some logs. Note also that Tide (The merge bot) does not re-run required checks on circle ci.

[2018-09-18 16:14] venilnoronha commented on #8806
I'd prefer specifying instructions to add the environment variables to the `~/.bashrc` (or equivalent) file instead of controlling the number of terminals/tabs to open.

[2018-09-18 17:00] krancour opened #8807 "NodePort port incorrectly used in Host header for request routing"
Kuberntes: __1.11.1__ on minikube __v0.28.2__
Istio: __1.0.2__

I've been using Istio on minikube with the ingress gateway using a service of type `NodePort`.

Most examples in the docs use host `*` in both their gateways and outward facing virtual services. This works fine, but the moment you want to start trying more complex things and need to actually start routing requests on host name, things

[2018-09-18 18:45] DanRoscigno commented on #8806
Thanks for reading @venilnoronha.  In general I agree that the .bashrc is a good place for environment vars, but these are specific to this tutorial and should not persist long term.  How about I address the concern of specifying the number of terminals by adding the export statements where the text "open a new terminal" occurs in the doc?  This will fix the problem without needing an edit to .bas

[2018-09-18 18:56] yangminzhu commented on #8783
Could this be the reason? `ci/circleci: test` is the required unit tests but not re-run by Tide. The `prow/istio-unit-tests.sh` is not required so it's also not re-run by Tide?

[2018-09-18 18:59] venilnoronha commented on #8806
That would work. Thanks.

[2018-09-18 19:00] hklai commented on #8783
Tide does not rerun circleci tests. That is known and expected until someone implements a circle controller.

Prow tests should be able to catch something like this however.

[2018-09-18 19:09] yangminzhu commented on #8783
@hklai
Does Tide rerun all prow tests r only those required prow tests before merge? If the latter, we might need to change `prow/istio-unit-tests.sh` to required.

[2018-09-18 19:12] ozevren opened #8812 "Decide on the fate of the CI logging scope"
We have a CI logging scope in the test framework for spewing logs that maybe helpful in a CI environment. There is contention in the usefulness of this scope.

We should observe the trends with the new Test Framework adoption and decide on the fate of this scope. We can either eliminate it and combine with the Framework scope, or we can keep it.

[2018-09-18 19:12] DanRoscigno commented on #8806
Editing up top to reflect the discussion with Venil Noronha.

[2018-09-18 19:16] hklai commented on #8783
Yes I think it should have been required, It was made optional when it was flaky, I think.

Let me send a PR

[2018-09-18 19:29] loewenstein commented on #6479
Could I run Galley without k8s dependency (i.e. on a VM and with no kube-api configured) serving Istio config from file system once this issue is resolved?

[2018-09-18 19:43] ozevren commented on #6479
Yes for Galley, specifically. But bear in mind that the primary driving scenario is testing at this point. As such, the current format is going to be based on Kubernetes resource format.

As for downstream components, they may still retain some API Server dependency.

[2018-09-18 20:03] jsenon commented on #8499
I've also tried to deployed with helm 2.10. I've created CRD before. but during helm install it seems that some CRD is created twice, resulting fatal error during installation.
Am I the only one ?

[2018-09-18 20:08] kdillane commented on #8539
I've submitted new a PR https://github.com/istio/istio/pull/8813 to resolve https://github.com/istio/istio/issues/6977.  I'm having issues with the CircleCI tests.  Even with the HEAD commit of the release-1.0 branch, the tests are failing.  Any help would be appreciated.

[2018-09-18 20:36] sebastienvas commented on #8783
Tide will probably restart all tests in Prow, but only merge when all required tests are complete. So it is possible that an optional test might be pending when we merge.

[2018-09-18 22:07] costinm commented on #6479
Pilot can already run with files only (and has for a while - see ads tests)

Costin

On Tue, Sep 18, 2018, 12:44 Ozben Evren <notifications@github.com> wrote:

[2018-09-18 22:27] mandarjog opened #8818 "Mixer: Specific optimizations mutableBag.Merge, mutableBag.Get"
[telemetry_underload](https://storage.googleapis.com/artifacts.mixologist-142215.appspot.com/perfdata/telemetry_underload.svg)

1. MutableMag.merge takes 10% cpu which contributes to the high cpu usage of istio telemetry.
Most of the time there is spent on `Bag.Names` call.

2. mutableBag.Get takes  7% cpu
3. IL interpreter.Run take 7% cpu

[2018-09-18 23:03] andraxylia opened #8820 "Add listener and routes direction in istioctl-proxy config"
Add inbound/outbound direction in this command:
$istioctl proxy-config listener reviews-v1-6b7f6db5c5-xhtcz
ADDRESS           PORT      TYPE
10.36.0.13        9080      HTTP

Similar to what clusters have:
$istioctl proxy-config cluster reviews-v1-6b7f6db5c5-xhtcz
SERVICE FQDN                                                PORT      SUBSET     DIRECTION     TYPE
BlackHoleCluster

[2018-09-18 23:06] liminw commented on #8466
In Istio 1.0, Istio RBAC does not support JWT claims with array type. We recently added this support (bullet 3 of issue #6984). We are in the process of updating documentation. It will be available in 1.1 release.
@lei-tang

For now, the workaround is to use a single string instead of array of one element. For example:
`{..., "scope": "foo.read"}`

[2018-09-18 23:12] lei-tang commented on #8466
@cameronmoreau: in your "step 2. Enable JWT Policy", what commands and configurations did you run?

[2018-09-18 23:18] liminw commented on #8319
In Istio 1.0, Istio RBAC does not support JWT claims with array type. We recently added this support (bullet 3 of issue #6984). We are in the process of updating documentation. It will be available in 1.1 release. @lei-tang

In the example, your JWT claim should contains an array:

`{..., "scope": ["foo.read", "foo.write", "foo.update""]}`

ServiceRoleBinding should be:
[code]
For request.auth.cla

[2018-09-18 23:30] yangminzhu opened #8821 "Fix the user cookie in bookinfo test that expires monthly"
**Describe the bug**
The e2e-bookInfoTests-envoyv2-v1alpha3 fails monthly due to the user cookie used in the test (#7109) expires monthly.

Test log: https://k8s-gubernator.appspot.com/build/istio-prow/e2e-bookInfoTests-envoyv2-v1alpha3/7160

The most recent fixes: #8052 #8819

**Expected behavior**
The test should either use a never expired cookie or have a mechanism to update the cookie dynamica

[2018-09-18 23:34] hklai commented on #8821
And it was possibly caused by https://github.com/istio/istio/pull/7109.

[2018-09-18 23:44] andraxylia commented on #8820
Unfortunately we do not have separate listeners for inbound and outbound and there is no easy way to distinguish. Same problem for routes.

[2018-09-18 23:44] #8820 closed

[2018-09-18 23:56] andraxylia opened #8823 "UX: Troubleshooting inbound and outbound traffic"
We should consider prefixing the listeners and routes name with inbound and outbound, similar to what we do with clusters, to help our users troubleshoot network issues, which is one of the pain points of Istio users. We would this convention also to build tooling that would trace traffic, and do a dry-run of the mesh.

Right now, one has to understand the convention Pilot adopted to generate list

[2018-09-19 00:16] ozevren commented on #8772
I think getting something tactical to begin with will give us pretty good mileage. Istio's source of truth for configuration is protos. Having a toolchain that starts with protos as input will help a lot with consistency.

For the long term, I haven't done any homework in this regard (so there might be gaps that may make this infeasible), but at a very high-level, a CRD definition with enough sche

[2018-09-19 00:26] JimmyCYJ commented on #6756
These tests are obsolete. Once we have new test framework running Citadel and nodeagent, we can add new tests to cover Citadel and nodeagent.

[2018-09-19 00:26] #6756 closed

[2018-09-19 00:47] yangminzhu opened #8825 "Add ClusterRbacConfig and deprecate the RbacConfig"
**Describe the bug**
RbacConfig is incorrectly scoped to Namespace but should be Cluster scoped instead. As the scope field of a CRD is immutable, we have to introduce a new ClusterRbacConfig with cluster scope and deprecate the old RbacConfig.

- [x] Add ClusterRbacConfig in pilot and crd.yaml. The logic in pilot should be:
      1.   If there is a ClusterRbacConfig, then use it and ignore any Rb

[2018-09-19 01:37] lichuqiang commented on #8772
So for the long-term, you'd suggest we get rid of the intermediate GO structs (and also the code-generator tools), and should be able to create client libraries from CRD yaml templates directly?

[2018-09-19 01:56] ozevren commented on #8772
We can still create Go structs, but source of truth would be CRD
definition.

On Tue, Sep 18, 2018 at 6:38 PM lichuqiang <notifications@github.com> wrote:

[2018-09-19 02:39] lichuqiang commented on #8772
Okay, So you'd suggest we add annotation to existing proto files to indicate generation information; Or, like I described above, create extra file for that?

[2018-09-19 03:15] diegomarangoni commented on #7665
@ramaraochavali It worked at first, but some services where which I do file uploading/processing, where the request can take from 1s or 10m or random, it does not work because the istio retry timeout is fixed.

[2018-09-19 03:22] morvencao opened #8826 "Kiali SSL support"
**Describe the feature request**
Currently, `kiali` in `Istio` chart doesn't support `SSL`, however, `kiali` itself supports `SSL` after the PR: https://github.com/kiali/kiali/pull/469
We need to add option for Istio chart to support SSL.

**Describe alternatives you've considered**

**Additional context**

/cc @gyliu513 @clyang82

[2018-09-19 04:28] ozevren commented on #8772
I'd suggest an extra file. Designing and getting annotations right for this purpose is tricky, not to mention dependency problems between the istio/api and istio/tools repos. An on-the-side file, similar to you've shown above is helpful.

However, for the short term, this will need to be kept in sync with CRD definitions in install folder. As such, I'd suggest putting as little information as poss

[2018-09-19 05:16] bianpengyuan opened #8829 "OOP adapter performance"
This issue is to track works related to Mixer OOP adapter performance benchmark. https://github.com/istio/istio/pull/8815 adds a benchmark test which runs single report dispatch against compiled in spyadapter and IBP based spybackend and measures encoding/decoding and grpc transport latency overhead. Two more benchmark remains:

- [ ] encoding latency: golang benchmark test which just measures enc

[2018-09-19 05:45] yskopets commented on #8319
@liminw Thank you!

[2018-09-19 05:54] vyshane commented on #1368
We're also keen on this feature. Is there anything we can do to help progress it?

[2018-09-19 08:33] wansuiye opened #8833 "How to configure egress for different external TCP service with same port"
**Describe the bug**
{{ Succinctly describe the bug }}

In our company, the database/mq resources which each service depends on are using different domain, but the ports are all same(mysql:3306, kafka:9093). every resource is different, so it cannot be shard.

According to [8410](https://github.com/istio/istio/issues/8410) mentioned, when TCP service entry is set without an address field and the r

[2018-09-19 10:49] sdake commented on #8821
Can the individual that fixes this please backport to 1.0.

TX
-steve

[2018-09-19 12:02] cizixs commented on #5379
This is most likely a failed DNS resolve issue.

Please run `dig` or `nslookup` to query the `istio-statsd-prom-bridge.istio-system` inside ingress pod if possible(or from a pod running on the same node), and paste output here.

In my case, I got something looked like this:

[code]

This error happens due to incorrect iptables masqurade, after running the following command(from this issue https://

[2018-09-19 12:14] Yisaer opened #8834 "Istio 1.1.0 make other istio stable version broken"
**Describe the bug**
Hi , I install istio1.1.0 pre-release which is worked well. And I want to change istio into 1.0.2 version . And I found that my nginx-controller will connect failed with the Pod which have 1.0.2 sidecar . When I reinstall istio 1.1.0 and the problem disappeared. For now , i can only use istio 1.1.0 ,and version 1.0.0, 1.0.1 , 1.0.2  all won't work for me .

[2018-09-19 12:56] #8020 closed

[2018-09-19 12:57] sneko opened #8836 "Istio seems to modify the content of my TCP request"
Hi!

I'm using Istio 0.7 with Auth **disabled** and I'm trying to use a Redis cluster inside a Kubernetes cluster. (plus, there is also a Sentinel cluster needed to manage who is the master/slave of the Redis cluster)

_Note that my Redis and Sentinel clusters are in a namespace not injected by Istio._

You need first to understand what I need to do to write on the Redis master:
1. I reach one of

[2018-09-19 13:44] mandarjog commented on #8836
You are attempting route directly to pod ips.
There are multiple ways of doing that, simplest is to exclude the pod ip CIDR from capture using “excludeIPranges”.

It would be great if you can use a post 1.0 version of istio.

[2018-09-19 13:48] LinAnt commented on #6071
I just had this very same error. I had to Gateways deployed, both with separate hosts and the same wildcard cert.

After deleting the gateway that was created first TLS to the second service started to work.
The previous 2 gateways were in separate namespaces, I am not sure if it matters or not.

I now run a single gateway with a *.domain.com host and routes based on virtual services.

[2018-09-19 13:59] sdake commented on #7279
@louiscryan looks like @linsun has proposed a design here:

https://docs.google.com/document/d/1gfmj7vRBGBsLnzChWL_Hzc-EcZLlsmgUGBSxQDUXBzc/edit#

[2018-09-19 14:37] frankbu commented on #6071
I think everybody on this thread is not having the same problem. There is more than one potential issue.

@LinAnt It sounds like maybe you are running into this issue: https://istio.io/help/ops/traffic-management/deploy-guidelines/#configuring-multiple-tls-hosts-in-a-gateway

The issue that @srishti0190 and others mention seems very different. If I'm understanding it, there is only one `Gateway` i

[2018-09-19 14:48] gyliu513 commented on #8590
@linsun what do you mean of `run with mixer first?`?

[2018-09-19 15:02] ssmogos commented on #8804
Would those changes include allowing to specify the cipher suites?

[2018-09-19 15:41] jollinshead commented on #7562
We're experiencing the same issue.
Trying to upgrade Istio 0.8.0 to 1.0.0 with helm version v2.9.1.

[2018-09-19 16:01] sneko commented on #8836
@mandarjog the major problem is that my Redis pods could have a different IP in case of a restart/crash... It's pretty hard to define the IP range :/

Since I'm loosing my hair I think I'm gonna upgrade to Istio 1.0.2 even if cert-manager is still unable to create Gateway to renew SSL certificates. I will do that manually... no other choice 😢

By advising me to switch over a 1.0+ version, is it ea

[2018-09-19 16:05] ghost opened #8838 "Quick 100 % reproducible Kubernetes-Istio-grpc problem/bug (North-South)"
### Quick 100 % reproducible Kubernetes-Istio-grpc problem/bug (North-South)
It is probably not a complex problem, but I have found that getting a working answer on gRPC routing(North-South) issues into Istio is not easy.

Mainly because it is always tough to have the same environment, files and containers for the person looking at the problem.

I have therefore created a quick 100 % reproducible

[2018-09-19 16:17] ozevren commented on #8354
@hklai

[2018-09-19 16:17] ozevren commented on #8355
@hklai

[2018-09-19 16:19] geeknoid commented on #8806
I applied those changes to the Wiki.

Thanks!

[2018-09-19 16:19] #8806 closed

[2018-09-19 17:37] frankbu commented on #8073
Turns out that it is too difficult to fix this in the code.

Maybe in the future, we can detect this condition earlier and return an error to the user when the second `Gateway` is applied, but for now the issue has been [clearly documented](https://preliminary.istio.io/help/ops/traffic-management/deploy-guidelines/#configuring-multiple-tls-hosts-in-a-gateway).

[2018-09-19 17:37] #8073 closed

[2018-09-19 17:38] theganyo opened #8839 "Mixer has random errors on restart in Istio 1.0.2"
The Mixer in Istio 1.0.2 seems to have a race condition where it may or may not get various kinds errors during startup. This did not happen in Istio 1.0.0.

Reproducing is simple:
1. Start Istio.
2. Delete the policy pod.
3. Check the policy pod's logs.

The logs will likely have errors during startup, but not necessarily and the errors can vary each time the pod is restarted.

**Version**
Istio

[2018-09-19 17:49] sdake commented on #8741
cc @diemtvu

[2018-09-19 17:55] sdake commented on #8741
I created this routerule baed upon advice from @diemtvu :
[code]

And this same error occurred.

[2018-09-19 18:19] mandarjog commented on #8836
@sneko pod IP CIDRs are explicitly defined in K8s, you can exclude all of them.
You normally do not need to adjust the range for a cluster until you make a network level change.

[2018-09-19 18:25] mandarjog opened #8841 "Istio upgrade: customized config maps"
Istio installation contains standard config maps.
`istio - mesh config`, `istio-sidecar-injector` and `prometheus` are just a few examples.

A simple upgrade with kubectl apply will overwrite these config maps with defaults from the next version.

A possible solution is to have an additional override configmap, where operator makes changes.
We always combine the managed and unmanaged configmap to

[2018-09-19 18:28] mandarjog commented on #8841
@sdake

[2018-09-19 18:37] mandarjog opened #8842 "Istio upgrade: proxy image pod annotations"
Istio provides a way to customize proxy image injected in a pod by using `sidecar.istio.io/proxyImage` annotation. This results in several issues

1. After an upgrade and a rolling restart, the sidecar injector may generate params that the version of proxy agent does not understand. For example, this happens when proxy agent adds a new option. The older proxy agent fails at startup with `unknown o

[2018-09-19 18:38] mandarjog commented on #8842
@nmittler @costinm @ostromart

[2018-09-19 18:48] ldounis commented on #8804
The request is to add the minimum TLS protocol field, which will cover most cases.
If we broaden the request we should add the following three fields:

  "tls_minimum_protocol_version": "...",
  "tls_maximum_protocol_version": "...",
  "cipher_suites": [],

Implementation should be straightforward,
1. update gateway proto in istio/api repo -> networking/v1alpha3/gateway.proto
2. update pilot to us

[2018-09-19 18:53] mandarjog commented on #8839
@theganyo I am seeing similar error messages at start, however all configuration is loaded by the time `starting monitor server...` message comes about.
Are you seeing that istio-policy pod is broken and stays broken?

the cause is that we no longer wait 30s to start istio-policy. We process configuration as it comes in, there are some easy ways to reduce this noise.

[2018-09-19 19:18] sdake commented on #8741
DISABLE seems to work - will submit a PR based upon that.

[2018-09-19 19:28] nmittler commented on #8841
What sort of tooling do we have for upgrades? If the user were asked to provide the previous Istio version at the beginning of the upgrade (or if we could automatically detect it), we could determine what values have changed from the defaults for that version and automatically merge them into the resulting configmap.

[2018-09-19 19:29] keerthig9 commented on #8369
If i debug through code also as i explained in description, its very clear that default value never replaced by value in kubeconfig file as merge() at k8s.io/client-go/tools/clientcmd/client_config.go:433  never replace value if it has one.

Can you recheck ?
Software to use: Kubernetes 1.10, Minikube 0.28.0, Istio 1.0 version
Copy sample code provided to Goland running in Mac (outside of minikube

[2018-09-19 20:03] bijukunjummen opened #8846 "outlier detection destination rule not eliminating any upstream hosts"
**Describe the bug**
Envoy outlier detection not eliminating any upstream hosts which were programmed to return 5xx for every request, with the following Circuit breaker setting:

[code]
I doubt if I hit the [panic threshold](https://www.envoyproxy.io/docs/envoy/latest/faq/lb_panic_threshold) as the stats dump did not show any numbers against panic threshold.

[code]

**Expected behavior**
All the

[2018-09-19 20:32] ozevren opened #8849 "[test-framework] Allow use of non-"istio-system" namespaces"
We currently cannot deploy Istio to namespaces other than "istio-system". This bug is tracking the work that needs to be done to fix that.

[2018-09-19 21:42] polivbr commented on #8467
Could someone please give me some pointers as to how to try to hunt this problem down? I've attempted to rebuild from source to insert additional debugging, but am unable to produce a workable image. I'm happy to provide whatever information or help is required, but I'm not sure where to begin.

[2018-09-19 21:47] saratkoganti commented on #6046
Hi,

I'm using 1.0.2 and I'm still facing the same issue mentioned in this ticket. Here is the scenario -

#HTTPS with mTLS -- webapi
cat <<EOF | kubectl apply -n istio-system -f -
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: webapi-gw-mtls
spec:
  selector:
    istio: ingressgateway # use istio default ingress gateway
  servers:
  - port:
      number: 443
      name:

[2018-09-20 00:38] sdake opened #8860 "Enabling Kiali in 1.0.0 results in install failure"
**Describe the bug**
Installing Kiali in 1.0.0 results in installation failure

**Expected behavior**
Kiali installs properly

**Steps to reproduce the bug**

The all.yaml is:
[code]

[code]

**Version**
1.0.0

**Installation**
See reproduer

**Environment**
bare metal + Kubernetes 1.10 + metallb

**Cluster state**
{{ If you're running on Kubernetes, consider [following the
instructions](http://is

[2018-09-20 00:49] nigeltiany commented on #1368
Really need this too. And according to @ZackButcher an empty filter and a reserve word for port names is all that is needed. Anyway this can be unstaled? I also suggest ```grpcweb-${somename}``` for named ports supporting grpc.

[2018-09-20 00:53] louiscryan commented on #1368
If someone wants to get their hands a little dirty you could try to use

https://istio.io/docs/reference/config/istio.networking.v1alpha3/#EnvoyFilter

and if you're successful share a Gist with the community

On Wed, Sep 19, 2018 at 5:50 PM Nigel Tiany <notifications@github.com>
wrote:

[2018-09-20 02:38] krancour commented on #8821
Whoa. Completely did not realize that the encoded cookie that I hard-coded into the test had such a short ttl. I'll happily fix this.

[2018-09-20 02:45] nixgadget commented on #8585
Bump. If someone could clarify whats required for this to work in the doc that would be awesome.

[2018-09-20 02:57] Lion-Wei commented on #8713
Thanks, @rshriram , I think if we simply understand it as wildcard match, then *.foo.bar.baz should not match *.baz, but I got it.

[2018-09-20 02:57] #8713 closed

[2018-09-20 02:57] andraxylia opened #8863 "New option: istioctl proxy-config endpoints"
istioctl proxy-config is an excellent command for troubleshooting, and it can be enhanced with an option to display the endpoints in a given cluster.

This can be obtain from envoy with this command:
$curl localhost:15000/clusters

For instance, the review pod returns several entries containing the cluster name + endpoint IP:port + stats/flags.

We can display a row per endpoint, maybe the one con

[2018-09-20 02:58] andraxylia commented on #8863
cc @liamawhite

[2018-09-20 05:54] dotw commented on #8545
@ymesika thanks, it works

[2018-09-20 06:43] lichuqiang commented on #8772
I did some investigation on the issue. Unfortunately, seems if we wanna make use of the standard client libraries, we must have the meta fiels(TypeMeta, ObjectMeta) defined in the types:
![generation_issue](https://user-images.githubusercontent.com/12265352/45800252-e119df00-bce2-11e8-8f20-c89f42eb94e8.JPG)

So, do you think it acceptable to add the fields to existing resources?
In fact kubernetes

[2018-09-20 07:03] fisherxu commented on #8863
@andraxylia We have added it, ref #8512

[2018-09-20 08:11] sneko commented on #8836
@mandarjog I saw the part in the docs about that:
https://istio.io/docs/tasks/traffic-management/egress/#calling-external-services-directly

There is a "generic" way to find them no matter the environment you have:
[code]

I added my IPs ranges in Istio Egress exclusion and it works well now! I'm able to reach my Redis cluster pods through their IP 😀

Thank you very much @mandarjog! Have a good da

[2018-09-20 08:11] #8836 closed

[2018-09-20 08:32] ymesika commented on #8369
I'm happy to help but I can't reproduce it. I don't have Goland so I just create a `test.go` file with your code snippet and ran it with `go run test.go`. I don't see any issues.
Can you try it too (outside of gland)? Just to make sure your Goland isn't creating environment variables when launching your program?

Also, if I understand correctly your code is reading the kubeconfig from `~/.kube/con

[2018-09-20 08:50] leiguorui opened #8868 "Source service is unknown if I set global.proxy.includeIPRanges"
**Describe the bug**
When running the bookinfo sample, source service is showed as "unknown" in servicegraph if I set global.proxy.includeIPRanges="10.42.0.0/32" . Otherwise source service is ok.

![image](https://user-images.githubusercontent.com/5110678/45807084-3e1e9080-bcf5-11e8-863e-0a6ecd4c0406.png)

**Expected behavior**
Source service is showed correctly after global.proxy.includeIPRanges

[2018-09-20 09:07] wansuiye commented on #8833
@rshriram could you give some help? thanks...

[2018-09-20 09:28] jiuchen1986 commented on #8595
@adamzhoul

[2018-09-20 09:28] jiuchen1986 commented on #8595
@adamzhoul

[2018-09-20 09:31] jiuchen1986 commented on #8595
@adamzhoul
Same issue. Guess istio not recommends to use the host network.

[2018-09-20 10:03] sneko commented on #8836
@mandarjog one quick question, is it possible that by excluding all my Kubernetes pods IPs it makes my impossible to communicate with ISTIO_MUTUAL?

Ref:
https://groups.google.com/forum/#!topic/istio-users/sBpualYweX0

Thank you,

[2018-09-20 10:05] sebarys opened #8871 "Inter pod communication using ${POD_IP//./-}.default.pod.cluster.local addresses"
**Describe the bug**

Hi,
We are using Istio version: 0.8.0 with mTLS enabled. I have tried to configure akka cluster to work behind Istio sidecards. Setup described here https://github.com/akka/akka-management/issues/209 unfortunately is not working for me.

Example situation:
I have three nodes with IPs: 10.244.17.28, 10.244.35.45, 10.244.17.29
During initialisation single node is requesting end

[2018-09-20 10:30] sebastien-prudhomme commented on #8049
@nmittler Related to PR #8624 for the daily release-1.0 branch?

[2018-09-20 10:31] ldounis commented on #7603
We are facing the same issue here, when we are adding ServiceEntries, we get the TLS certificate of the first host instead of the host we are requesting. Adding VirtualServices has no difference.

[2018-09-20 10:42] sdake commented on #8841
@nmittler I think what you describe is a 3 way patch merge.  The tooling we have at present is Helm which stores the configmaps internally in tiller.  Think of tiller as a pre-CRD specialized CRD controller + some extra magic.  Helm has rejected 3 way merge as a solution for the 2.y.z series.  See: https://github.com/helm/helm/issues/3805#issuecomment-414133289 for more context.

Cheers
-steve

[2018-09-20 10:44] sdake commented on #8841
I believe adding unmanaged objects to helm could result in an un-upgradeable system, but could be wrong.  We have been working to stamp out unmanaged objects in Helm entirely to eliminate the problems discussed in https://github.com/helm/helm/issues/1193.

Cheers
-steve

[2018-09-20 10:48] sdake commented on #8841
There are two install/upgrade approaches:
1. `kubectl apply` (install and upgrade)
1. `helm install` or `helm upgrade`

The second approach is the use case most Helm consumers are most familiar with.  Generally Istio has been strongly recommending approach 1.  Approach 1 suffers from many problems.  Approach 2 suffers from many problems.

I suspect a specialized operator would end up reimplementin

[2018-09-20 11:01] sdake commented on #8797
This is caused by the use of the `latest` tag in 0.8.0 for the statsd exporter.  statsd-exporter had breaking changes in the CLI API from 0.6.0 to 0.7.0.  A workaround is to add the following to the helm command line: `--set mixer. prometheusStatsdExporter.tag=v0.6.0`.

Istio 0.8.0 is no longer under LTS support; recommend upgrading to Istio 1.0.2 or later.

Since this is a KI with a workaround an

[2018-09-20 11:01] #8797 closed

[2018-09-20 11:10] sdake commented on #8839
@mandarjog in 1.0.2 and even in master, this causes telemetry not to report telemetry.  The only solution at this point is to kill the telemetry pod and let the deployment restart it (or killall -15 mixs).  The documented solution for this is to apply the crds ahead of applying the manifest (see: https://istio.io/docs/setup/kubernetes/quick-start/#installation-steps or https://istio.io/docs/setup/

[2018-09-20 11:30] sdake commented on #8741
Could *really* use some help here as 1.0.3 is likely the last opportunity to fix this problem and rapidly approaching.

Sadly when I use this routerule:
[code]
The ingressgateway->pilot connection no longer bombs out immediately on openssl.  However, multicluster remote connections are not able to establish a correct connection with Pilot:

[code]

Commands to generate this problem from the 1.0.2

[2018-09-20 11:31] sdake commented on #8741
@costinm any idea on a resolution?

Cheers
-steve

[2018-09-20 11:33] sdake commented on #8741
I did notice after reviewing https://github.com/istio/istio/issues/8741#issuecomment-423149491 - controlPlaneSecurity was not enabled on the remote.  Going to retest with that as that seems crucial to be set.

[2018-09-20 11:52] sdake commented on #8741
Note I have modified https://github.com/istio/istio/issues/8741#issuecomment-423149491 with `global.controlPlaneSecurityEnabled=true` - not sure how that slipped off my history during testing.  This appears to work.

Is this secure?

Cheers
-steve

[2018-09-20 12:36] adamzhoul commented on #8595
@jiuchen1986
Do you have any other solution? since mine doesn't look grace enough.

[2018-09-20 12:48] m1093782566 opened #8873 "Use kubeclient to replace kubeclient apply in pkg/test/kube"
**Describe the feature request**
Use kubeclient to replace kubeclient apply. Kubernetes test team has already switched from kubectl to kubeclient - kubectl is not very safe.

**Describe alternatives you've considered**

Create kubeclient utils in pkg/test/kube.

**Additional context**

cc @nmittler @ozevren @hklai

[2018-09-20 12:57] facundomedica commented on #7603
I found that it's maybe timing related. In my app I had an http request that was launched at the beginning, then I added a delay of a couple of seconds and it worked. 🤔

[2018-09-20 13:42] dunjut commented on #7427
@huydinhle You can deploy two sets of ingressgateways. One for public APIs, deployed on edge nodes with internet access and firewall configured; the other one for internal APIs, deployed on nodes inside private networks.

Checkout: https://github.com/istio/istio/issues/8428

[2018-09-20 15:15] douglas-reid commented on #8839
@mandarjog Perhaps we should consider deploying Mixer with a fallback attribute set (for Envoy) baked in? Most deployments probably aren't adding / altering that set, and it would really go a long way to avoid timing issues and `unknown attribute destination.ip` related expression eval errors.

[2018-09-20 15:48] nmittler opened #8877 "[test-framework] Use kube client everywhere"
For k8s, the test framework is still using a mix of kube client and kubectl from the command line. We should move to having the test framework use kube client exclusively.

[2018-09-20 15:57] krancour commented on #8821
@yangminzhu @hklai actually... I'm struggling right now to understand how that cookie has been implicated in these test failures.

In fact, the data that is hard-coded in that `sessionCookie` attribute of the `User` type is _just_ the cookie's data/contents. History shows that has been tampered with twice-- there should have been no reason to do so.

That data gets _added_ to the `Value` of an `ht

[2018-09-20 15:57] sdake commented on #8804
A related issue (cipher suite restriction):
https://github.com/istio/istio/issues/8769

[2018-09-20 15:57] mandarjog commented on #8839
Exiting when built in crds are not found will fix the issue, it was on the roadmap, let’s do it now.
This takes care of the case when all crds and crs are actually available, but mixer started too soon.
The race between crds and cr is still an orthogonal issue, and mixer restart does not address that.

[2018-09-20 15:58] nmittler commented on #8049
@sebastien-prudhomme that PR was merged after this issue was reported. Are you saying that you're seeing this issue in the daily release? And if so, are you trying to upgrade or are you starting from a clean install?

[2018-09-20 16:00] nmittler commented on #8873
@m1093782566 sorry I just saw this.  Closing this in favor of https://github.com/istio/istio/issues/8877 (it's more slightly more generic).

[2018-09-20 16:00] #8873 closed

[2018-09-20 16:02] sdake commented on #8730
@gbaufake I haven't seen any PRs for 1.0 series hit the repo related to Ansible.  I wanted to set expectations that I am hearing we are about 1 week out from 1.0.3 release, and this may be the last 1.0 series release for Istio.

Cheers
-steve

[2018-09-20 16:36] ozevren commented on #8772
The protos we have should map to the spec portion of the CRD resources. We need to generate an envelope type that has TypeMeta and ObjectMeta.

[2018-09-20 16:58] m1093782566 commented on #8873
no problem

m1093782566
发件人：Nathan Mittler
收件人：istio/istio,
抄 送：dujun (D),Mention,
时间：2018-09-21 00:04:01
主 题：Re: [istio/istio] Use kubeclient to replace kubeclient apply in pkg/test/kube (#8873)

Closed #8873<https://github.com/istio/istio/issues/8873>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/istio/istio/issues/8873#

[2018-09-20 16:59] sdake commented on #8613
@hzxuzhonghu this had been planned for 1.0, but we wanted a transition phase for folks to be able to upgrade from 0.8 to 1.0.  Removing in 1.1 seems fine to me.

Cheers
-steve

[2018-09-20 17:09] sebastien-prudhomme commented on #8049
@nmittler I'm using the Helm chart from the release-1.0 branch and it doesn't work from a clean install.

[2018-09-20 17:09] lichuqiang commented on #8772
But the client libraries codes depend on the "envelope type" here, we can't treat the types as intermediate GO structs. we'll need to keep the types and introduce them to make the clients work. They would in fact replace current API types this way.

[2018-09-20 17:34] kdillane commented on #6977
Closed #8691 in favor of https://github.com/istio/istio/pull/8813

[2018-09-20 17:54] ozevren commented on #8772
I am not sure what you mean by API types. We will always generate proto Go code and will always use these types within Istio components. That will not change.

The idea is to create a completely independent set of Go based client library, for the benefit of Istio users. This doesn't have to use the generated proto Go code. Even though it would be great if it did (as it would be usable within Istio

[2018-09-20 17:56] aghag10 commented on #5989
Hi @ymesika @grebois I'm also hitting the same issue in my istio environment even after I added the epmd port as you mentioned.

rabbitmq-svc.yaml--

apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
  labels:
    name: rabbitmq
  namespace: sock-shop
spec:
  ports:
    # the port that this service should serve on
  - port: 5672
    targetPort: 5672
    name: rabbitmq
  - port: 4369
    #tar

[2018-09-20 18:03] hklai commented on #8821
@krancour here is an attempt https://github.com/istio/istio/pull/8848

[2018-09-20 18:06] ozevren commented on #8772
Yes, those types needs to be kept around. They need to be generated in a completely orthogonal way to the proto Go code we have today.

[2018-09-20 18:12] krancour commented on #8821
@hklai can you comment on my response? Expiry date/time are _not_ encoded in the cookie currently, so I don't understand why this issue is occurring monthly, nor do I understand how it's been implicated in the test failures.

I will say, however, that now I am wondering if Flask session cookies have their _own_ expiry encoded into them that are separate from the actual cookie's expiration...

That

[2018-09-20 18:13] theganyo commented on #8839
"Are you seeing that istio-policy pod is broken and stays broken?"
Uncertain. I've had user reports of 1.0.2 not working and falling back to 1.0.0 fixing the issue. After debugging, this is where I ended up. So Mixer reports errors and never explicitly reports that all errors are resolved and Mixer is in a good and healthy state. Thus, it leaves me concerned because I don't know the full extent of

[2018-09-20 18:15] krancour commented on #8821
Ah... that's it...

https://stackoverflow.com/questions/11783025/is-there-an-easy-way-to-make-sessions-timeout-in-flask

So the expiry on the cookie is _not_ set, but Flask adds its own expiry.

I guess #8848 is a reasonable approach. The alternative could be to set `session.permanent = True` in the bookinfo productpage app.

[2018-09-20 18:32] ozevren commented on #8663
Here is a straw-man design for a tool:

1. Capture/retain the setup Yaml file (i.e. Helm/tiller based deployments will not be supported).
2. Tool parses the Yaml file and extract resources generically.
3. For each resource type, apply validation functions:
    1. Generically, for each resource, check that the resource exists or not.
    2. If the ```Kind``` of the resource is recognized, then run

[2018-09-20 18:38] deniskril commented on #6313
Can You show example with different domain please?

[2018-09-20 18:51] yangminzhu commented on #8821
@krancour I think for the session cookie like `eyJ1c2VyIjoibm9ybWFsLXVzZXIifQ.DoMUEA.sydRfASlm9ky6FHX_BHKvW7YvkA`, the middle part (`DoMUEA`) is the encoded timestamp of when it's issued by the server. (The first part encodes the actual user name and the last part is the signature)

[2018-09-20 18:52] sdake commented on #8539
https://github.com/istio/istio/pull/8882

[2018-09-20 18:58] douglas-reid commented on #8663
@ozevren that sounds reasonable to me. and likely to provide some useful debug bits (diffs between versions), etc. a first pass that just did simple counts might also be enough to start.

[2018-09-20 19:04] ajaymandvekar opened #8883 "Allow registering headless kubernetes service using "istioctl register""
**Describe the feature request**
Currently, executing `istioctl register <svc> <ip> [name1:]port1 [name2:]port2 ... [flags]` command creates a service (if not exists) with an **assigned ClusterIP**.

The feature request is to allow registering [headless kubernetes service](https://kubernetes.io/docs/concepts/services-networking/service/#headless-services) by passing in an additional flag (somethin

[2018-09-20 19:13] ajaymandvekar commented on #8883
@ayj @geeknoid - This is a simple change, I can create a PR and submit for review.

cc @vilobhmm

[2018-09-20 19:27] douglas-reid commented on #8868
Can you grab the envoy filter config for the productpage pod post it here. In particular, I'm interested in the mixer filter config.

[2018-09-20 19:27] rsnj commented on #7317
I'm having the same issue as well. Is there anyway around this? I'm trying to transparently route my legacy APIs through Istio
https://service.com/legacy --> https://legacy.com/

[2018-09-20 19:37] ayj commented on #8883
Can you use [ServiceEntry](https://github.com/istio/api/blob/master/networking/v1alpha3/service_entry.proto) for this purpose? We can consider adding imperative helper commands to istioctl to help here, e.g. `istioctl create serviceentry <svcname> ...`

cc @andraxylia @costinm

[2018-09-20 20:11] MargarytaChepiga commented on #8008
Hello! Is anyone working on this issue?

[2018-09-20 20:15] MargarytaChepiga commented on #5043
Hi! Is anyone is working on this issue?

[2018-09-20 20:28] brian-avery opened #8887 "Wiki Link Broken on Mixer Out Of Process Adapter Dev Guide"
**Describe the bug**
On https://github.com/istio/istio/wiki/Mixer-Out-Of-Process-Adapter-Dev-Guide, there is a link to "Create your own templates". Clicking on this link takes me to the wiki home with an error "You do not have permission to update this wiki.". I think this should instead link to https://github.com/istio/istio/wiki/Mixer-Template-Dev-Guide.

**Expected behavior**
Link would take yo

[2018-09-20 20:34] jwendell commented on #6451
proposed fix: https://github.com/istio/istio/pull/8886

[2018-09-20 20:52] sdake commented on #8826
would be nice if there were an telemetry-gateway type feature for Kiali as well.

[2018-09-20 20:55] nmittler opened #8888 "[test-framework] Add support for fakes"
Currently our dependency scheme refers to a single component (e.g. mixer, pilot). We need to add support to use a fake for a component.  So if Pilot depends on Mixer, either the real Mixer or FakeMixer would fulfill this contract.

[2018-09-20 21:00] ajaymandvekar commented on #8883
Experimented using **ServiceEntry** however it didn't work when two different applications (hosted on the VM) wanted to communicate in a peer-to-peer mode using their VM IPs. The only way we could satisfy this use-case was by registering the individual applications as k8s "Service" with the ClusterIP set to "None" (headless service).

Note: This is using Istio 1.0 release

__Below is the sample Se

[2018-09-20 21:30] mabushey commented on #8638
@ibelikov Thanjk, awesome! Unfortunately I can;t make this work / have no idea how to do this.

This is what I have in my gateway.yaml:
[code]

[2018-09-20 22:12] gdoctor commented on #3361
Okay so here is the design I am am currently running, and I would like some feedback if possible. This solution assumes that you have setup pod to pod networking across clusters already as per the multi-cluster instructions, and that each cluster has a unique subdomain defined (although you may be able to get around this one).

I setup cross cluster service discovery using coredns and kubernetai.

[2018-09-20 22:28] ajaymandvekar commented on #8883
cc @srinandan

[2018-09-20 23:04] yangminzhu commented on #8821
This should be fixed by #8848.

[2018-09-20 23:04] #8821 closed

[2018-09-20 23:07] krancour commented on #8821
@yangminzhu... ah ok. I was never able to decode that middle part. I'm not a Flask expert, really, but I guess that makes some kind of sense.

[2018-09-20 23:19] UnwashedMeme commented on #8846
If you look at the stats from envoy

So they are being ejected, they aren't staying ejected. This looks like the same behavior I saw in #8673. Try looking at `.membership_change`, does that increase every couple seconds and reset `.ejections_active` back to 0 when it does?

[2018-09-20 23:39] UnwashedMeme commented on #8846
In my case I spotted `ejections_active =1` it just got reset back to 0 after only a few seconds--the same time membership change increased on its regular schedule.

I also saw `ejections_detected_consecutive_gateway_failure` increasing; as far as I recall from my research envoy has both a consecutive 5xx and a consecutive gateway failures ([Detection Types](https://www.envoyproxy.io/docs/envoy/lat

[2018-09-21 00:32] diemtvu commented on #8496
Unfortunately, authN policy is enforced on workload, even though we use service name (and port) to specify the `target`. In your case, the policy with JWT was used (which policy is picked can also be arbitrary). Sorry for the confusion.

[2018-09-21 01:32] Hamza2404 opened #8892 "[Security Vulnerability] : usage of /tmp directory as output"
**Describe the feature request**
bin\istio-proxy-cfg.py:291
291  `output_dir = "/tmp/" + pod.name`

There are a number of rules to follow when creating a temporary directory path.
It could a vulnerability for attackers to look for commonly hard-coding file paths starting with :
- /tmp', '/var/tmp', '/dev/shm

**Describe alternatives you've considered**
- use [https://github.com/PyCQA/bandit](url)

[2018-09-21 01:33] linsun commented on #8663
@ozevren while validating yaml is helpful, I think it is more valuable to validate against a running env like k8s to see if istio is installed properly, for a given feature or profile.  In my case, I always start with recommended istio yaml or helm chart (which is golden and tested by our tests framework) but still ends up with non functional istio env.

[2018-09-21 01:44] lichuqiang commented on #8772
Ah, I thought we expect to switch istio components to use the new clients. If it's an alternative selection for Istio users, then that makes sense.

[2018-09-21 01:50] castlemilk opened #8893 "Allow reference to existing elasticsearch backend for tracing storage"
**Describe the feature request**
In order to run a more production grade tracing solution, one must run a longer-term storage solution such as Elasticsearch/Cassandra for tracing storage.

The current helm deployment only support the in-memory PoC/testing stack.
It would be great to also have a way to specify an existing Elasticsearch cluster that you can send your traces to.

**Describe alternati

[2018-09-21 02:08] gyliu513 commented on #3361
@gdoctor can you please edit your comment a bit by using md for some command as follows?

[code]

FYI @morvencao

[2018-09-21 02:27] sdake commented on #2630
seems resolved.

[2018-09-21 02:27] #2630 closed

[2018-09-21 02:29] sdake commented on #7283
I believe we expect operators to install the correct istioctl version.  As a result, closing this issue.  This is more of a problem for devs, who may have stale versions of istioctl in their path.

[2018-09-21 02:29] #7283 closed

[2018-09-21 02:30] ozevren commented on #8663
This is about validating against installed Istio.

The tool would diff the yaml on-hand against the state from API Server.

On Thu, Sep 20, 2018 at 6:34 PM Lin Sun <notifications@github.com> wrote:

[2018-09-21 02:31] sdake commented on #8892
@Hamza2404 please see https://istio.io/about/security-vulnerabilities/

[2018-09-21 03:19] rshriram commented on #8613
Wait, you want to remove the entire ingress controller code ? I don’t mind but I think some google folks wanted to have ingress support around for things like letsencrypt etc.

[2018-09-21 03:21] gyliu513 opened #8895 "How to handle Isito chart version"
Istio 1.0 already got released, but we are continually fixing bugs in release-1.0 branch for Istio helm chart without updating the helm chart version.

This may bring some trouble to end user, as they may confused sometimes Istio 1.0 helm chart have different configurations.

For Helm chart policy, the update to a released helm chart should have the chart version increased, we already have those f

[2018-09-21 03:31] m1093782566 commented on #8877
@nmittler

As I am pretty familiar with Kubernetes, you can assign this task to me!

cc @ozevren @hklai

[2018-09-21 03:34] hzxuzhonghu commented on #8613
Thanks, will wait acks from google.

[2018-09-21 03:57] andraxylia commented on #5043
@MargarytaChepiga nobody is working on it, as far as I see.

[2018-09-21 04:05] andraxylia commented on #8883
AFAIK istioctl register will be deprecated, if not already, we use ServiceEntry instead.

Can you use ServiceEntry with resolution static and list the IP Addresses like in mongodb example here:
https://github.com/istio/api/blob/master/networking/v1alpha3/service_entry.proto#L31

I see you used resolution NONE, which assumes the incoming connections have already been resolved to an IP Address. Is t

[2018-09-21 04:15] shenxg13 commented on #4870
Hello, how can i enable this config in istio sidecar injector config map? I add a config like this but it still doesnt work.

[code]

[2018-09-21 05:09] ajaymandvekar commented on #8883
Tried both STATIC and NONE both result in the envoy configuration that creates a listener wired to an outbound cluster and doesn't work with the case I mentioned above.

Below is the excerpt from the envoy configuration:
[code]

Yes that's correct.

[2018-09-21 06:33] wmuizelaar commented on #8685
I tested a bit more - and finally found out that Istio was just working fine, but networkpolicies from kubernetes were blocking traffic. When I solved that problem, the issue was gone. So I'm gonna close this.

[2018-09-21 06:33] #8685 closed

[2018-09-21 06:46] ibelikov commented on #8638
@mabushey well, similar config actually works for me.

A couple of things that you could check:

1. If you applied annotations to Ingress Gateway service after the ELB was created, check that they actually are applied (e. g. ELB listeners in AWS are HTTP/HTTPS, not TCP and the right certificate is actually set to be served). Trying with freshly created ELB also works.
2. Change port names in Gatew

[2018-09-21 08:18] LoveEachDay opened #8899 "failed calling admission webhook "sidecar-injector.istio.io": Post https://istio-sidecar-injector.istio-system.svc:443/inject?timeout=30s: Unable to connect"
**Describe the bug**
After install istio with helm, and everything is running.
[code]
Then I create a namespace `istio-test` with `istio-injection=enabled` label:
[code]
No pods were created.

[code]

**Expected behavior**
Expected  a pod with istio-proxy sidecar injected is running.

**Steps to reproduce the bug**
Described above.

**Version**
[code]

**Installation**
istio install with helm 2.10

[2018-09-21 09:57] slql0011 commented on #7317
Having the same issue.

[2018-09-21 10:02] slql0011 commented on #7317
Having the same issue.

[2018-09-21 14:41] linsun commented on #8895
I think this is reasonable going forward for fixpacks and LTSs.  I would not worry about it for monthly releases.

[2018-09-21 14:43] linsun commented on #8663
Ok cool, I missed that.   would you propose to do this within istioctl against a running k8s?

[2018-09-21 14:59] nmittler commented on #8877
@m1093782566 sgtm ... it's yours :)

[2018-09-21 15:32] gbaufake commented on #8860
Looking into it

[2018-09-21 15:44] jmazzitelli opened #8902 "provide a way to know if a circuit breaker is currently open or closed"
**Describe the feature request**
It would be nice for Istio to provide some way to know if a circuit breaker is currently opened or closed.

**Describe alternatives you've considered**
There is no way to know this - even metrics that resulted in an open circuit breaker won't tell you it was produced due to an injected fault.

**Additional context**
This was briefly brought up on the [istio-users m

[2018-09-21 15:44] gbaufake commented on #8826
I'll send a PR which will enable SSL support for Kiali in Helm

[2018-09-21 15:47] gbaufake commented on #5977
@linsun
I'll create the test. Is this an e2e test or a different type of test?

[2018-09-21 16:38] ozevren commented on #8663
istioctl has been the default place to put things in, so it probably makes sense to put the command-line portion there.

The core logic should be a library though. It would be useful for tests as well.

[2018-09-21 17:01] andraxylia commented on #8883
Then it's a bug.

[2018-09-21 17:06] kdillane commented on #6977
PR #8813 has been merged.  Awaiting release of the patch with 1.0.3 and this issue can be closed.

[2018-09-21 17:08] kdillane commented on #8539
PR #8813 has been merged.

[2018-09-21 17:11] esnible commented on #7787
@jotak I suspect this is the same issue.  I discovered this defect doing something similar to your istio-user message.

[2018-09-21 17:44] denniseffing commented on #8902
+1

Circuit breaker states are a very important indicator for overall system health.

[2018-09-21 18:07] diemtvu commented on #8741
Let me try to state all the facts based on my understanding first (please correct me if I'm wrong).

1. All sidecars (including ingress) inside the mesh talk to pilot via `xds-grpc` cluster (`STRICT_DNS` type), which is in the bootstrap config created by `pilot-agent`. `pilot-agent` is run with the same `controlPlaneAuthPolicy` value as `pilot`. This flag decide whether the `tlsContext` should be

[2018-09-21 18:17] #8709 closed

[2018-09-21 18:18] aghag10 commented on #8670
I used a workaround for now to remove the liveness probes from yaml file.

[2018-09-21 18:18] #8670 closed

[2018-09-21 18:32] linsun commented on #5977
@gbaufake thank you!  e-2-e is great, or you could start with just validate the component and CRDs exist.

[2018-09-21 18:35] gbaufake commented on #5977
cc @jeffmendoza

[2018-09-21 18:40] #8030 closed

[2018-09-21 19:38] bobbytables opened #8906 "Telemetry: An error has occurred during metrics gathering: label dimensions inconsistent with previously collected metrics in the same metric family"
**Describe the bug**
Istio Telemetry starts to fail on `/metrics` endpoint for prometheus metrics

**Expected behavior**
Consistent labels should exist

**Steps to reproduce the bug**
Install istio in a system that emits metrics and wait I guess?

**Version**
Kubernets 1.9 + Istio 1.0

**Installation**
Helm installation with slight modification

**Environment**
AWS w/ Kube-AWS

**Cluster state**
T

[2018-09-21 20:05] douglas-reid commented on #8906
The labels being generated are definitely different. Do you have two differing configs for `istio_requests_total` in your prometheus adapter config OR do you have two different `requestcount.metric` definitions deployed to the API server?

[2018-09-21 20:07] douglas-reid commented on #8906
There is other weirdness here too:

`label:<name:"destination_version" value:"8" > label:<name:"destination_version" value:"8" >`

Why is `destination_version` in the labelset twice?  Do you have config that is attempting to do that?

[2018-09-21 20:09] bobbytables commented on #8906
Nope, this is a fresh install of Istio actually:

[code]

[2018-09-21 20:13] bobbytables commented on #8906
Here's how I got here: I saw our metrics in datadog stopped being reported (we're using the DataDog istio integration). I started to investigate and noticed that the istio-telemetry pod was throwing `500`s for all requests.

I port forwarded the single istio-telemetry pod locally using `kubectl port-forward` and grabbed the content and posted it in this ticket. I haven't done anything else.

[2018-09-21 20:19] douglas-reid commented on #8906
@bobbytables which version of Istio are you testing on?

@mandarjog have there been any changes to any of the instance creation code, etc., for the gRPC work that could be creating memory corruption in instances or config?

In the example above, the instances sent to the `prometheus` adapter has duplicate labels (
`destination_version`) and one is missing a label `destination_app`.

[2018-09-21 20:20] bobbytables commented on #8906
@douglas-reid v1.0.0 - also. Just refreshed telemetry output and a new metric popped in (from 2 to 3 errors in prometheus now)

[code]

[2018-09-21 20:27] bobbytables commented on #8906
I just deleted the istio-system namespace and redeployed with some config updates (this is an integration cluster internally for our org) today, but we've been running 1.0 on this cluster since it dropped a few months ago.

However, this update was to get metrics into DataDog so I turned on telemetry pod.

https://gist.github.com/bobbytables/2a22f819e05f66ecec5a553b7a52f0e3

[2018-09-21 20:28] bobbytables commented on #8906
Looks like the prometheus handler isn't even defining this metric we're receiving looking closely.

[2018-09-21 20:29] douglas-reid commented on #8906
@bobbytables correct. the prometheus handler is saying which labels should be there, but the instance is defined by the metric config. both of those look fine from a quick glance, which means something else is wonky. i was hoping that there would be some sort of mangled config to make debugging this easier.

[2018-09-21 20:30] bobbytables commented on #8906
Same :)

I'm wondering if this cluster has a demon of some sort from previous versions of istio that we've installed on it (This cluster has had 0.5 to 1.0 on it)

[2018-09-21 20:32] douglas-reid commented on #8906
@bobbytables i never close my mind to the possibilities of demons wrecking havoc on deployments. Especially given how wonky the upgrade story has been in those generations.

[2018-09-21 20:38] douglas-reid commented on #8906
@bobbytables I hesitate to ask this, but... what happens if you kill the istio-telemetry pod? Do things get better?

[2018-09-21 20:43] sdake commented on #8860
From `values.yaml` in 1.0.0 tag (the defaults):
[code]

From 1.0.2 tag `values.yaml`:
[code]

Looks like Kiali is enabled by default in 1.0.0.  This was changed to disabled by default in 1.0.2.  I am not sure what `hosts KV pair does.  By default the hosts list is not specified in release-1.0 branch.  Should it be?

Cheers
-steve

[2018-09-21 20:51] knrc commented on #8860
Note that there is a difference in the values.yaml file between the kiali configuration and that of servicegraph or tracing, both of those ingress configurations include a hosts section whereas with kiali it is commented out.

[code]
and
[code]

[2018-09-21 21:04] bobbytables commented on #8906
Yup, just deleted it and all of the metrics are back.

[2018-09-21 21:04] bobbytables commented on #8906
I imagine something somwhere will post a metric that is invalid and it'll break soon.

[2018-09-21 21:21] sdake commented on #8895
@gyliu513 in speaking with @hklai about this topic, T&R plans to automate the version field changes for istio-1.0.3 and later.

Cheers
-steve

[2018-09-21 21:22] ozevren opened #8907 "Testgrid dashboard is not showing consistent data for CircleCI Jobs"
http://k8s-testgrid.appspot.com/istio-presubmits

Some of the links in the presubmit is showing data from each checkin, whereas the other ones are showing data from nightly runs, or some unrelated branches/jobs.

Some examples:
http://k8s-testgrid.appspot.com/istio-presubmits#circleci-e2e-simple
http://k8s-testgrid.appspot.com/istio-presubmits#circleci-e2e-pilot-cloudfoundry-v1alpha3-v2
http://k8s

[2018-09-21 21:26] krancour commented on #8807
/assign rshriram

@rshriram... just assigning to someone to get this triaged. Sorry if you're the wrong person.

[2018-09-21 21:27] sdake commented on #8899
Ubuntu 16.04 on baremetal, or on a cloud provider?

Cheers
-steve

[2018-09-21 21:41] mabushey commented on #8638
@ibelikov Thanks for the tip on the gateway name. I did not apply any annotations to the gateway, I'm doing everything in default as namespaces are not compatible with istio Ingress.

No, it's not. It does not appear that Istio can work with cert manager. Kubernetes supports this, but not Istio.

[2018-09-21 21:50] mabushey commented on #8638
I was able to manually hack the LB to get it to work. I deleted the listener for 443 HTTPS to 31390 HTTP and recreated it using the SSL cert in Cert Manager.

[2018-09-21 21:51] mandarjog opened #8908 "Update istio debug gathering tool to be selective"
`tools/dump_kubernetes.sh` is the log and debug gathering tool for kubernetes.
It gathers information, config and logs from all pods including kubernetes system pods and application pods.

In a large deployment it generates a prohibitively large archive and it also records potentially private information.

From a customer:
`
The amount of data the tool exposes about our cluster is unacceptable for

[2018-09-21 21:52] #8583 closed

[2018-09-21 21:52] #7506 closed

[2018-09-21 21:54] ayj commented on #8849
What's the motivation for testing installing in other namespaces? Is the intend to run multiple concurrent tests in different namespaces in the same cluster? We might need tests to provide an additional _hint_ about whether they are cluster or namespace scoped. Some aspects of Istio control plane may be cluster scoped, e.g. webhooks, default auth policy.

[2018-09-21 21:56] hklai commented on #8895
I originally plan to update these versions similar to how we deal with the tag in https://github.com/istio/istio/blob/release-1.0/install/kubernetes/helm/istio/values.yaml#L9

However, these chart files need to use semantic versions so a stable release tag won't work. I don't have an immediate plan how this can be fixed, but I updated the versions in release-1.0 to 1.0.3, in preparation for the ne

[2018-09-21 22:30] gbaufake commented on #7589
@kamilgregorczyk
We have a new kiali which is Istio 1.0 compatible (kiali v0.6.0). Also, there is a new kiali version coming up on #8909.

Best regards,
Guilherme Baufaker Rêgo

[2018-09-21 22:34] diemtvu commented on #8263
PR was merged. It should be available in 1.1, or you can try from HEAD. Thanks.

[2018-09-21 22:45] gbaufake commented on #7848
@acartapanis Addressed your concern on #8909

[2018-09-21 22:49] hklai commented on #8907
I found some more problem symptoms.

1. Some circle presubmits are not longer uploading to GCS. Example https://circleci.com/gh/istio/istio/193967

[code]
2. The non presubmit bucket now have post submit data from master branch, while the presubmit buckets have post submit data from all other branches.

I will try to fix it.

[2018-09-21 22:53] andraxylia commented on #6259
Any update on this?

[2018-09-21 23:05] rshriram commented on #8807
This is a known issue. The problem is not on istio side. It’s Envoy that needs to be changed to strip the port from the host header before doing the virtual host matching.

[2018-09-21 23:16] ayj commented on #6473
This should be addressed by https://github.com/istio/istio/pull/8192. We'll need a follow-up issue to track Pilot merging configuration from multiple sources into a single config store.

[2018-09-21 23:16] #6473 closed

[2018-09-21 23:18] ayj commented on #6478
This should be addressed by CF's pilot changes and https://github.com/istio/istio/pull/8192. Pilot now accepts `--mcpServerAddrs` as an alternate source for user configuration. This can be enabled through helm with the `useMCP` option.

[2018-09-21 23:18] #6478 closed

[2018-09-21 23:40] sdake commented on #8741
re #6, Pilot is given a port such as 15007 or 15005 in the yaml deployment.  I think this is leftover cruft.  This is completely ignored and the port is set based upon whether MUTUAL_TLS is pased as an argument or not (15010 for no MUTUAL_TLS, 15011 for MUTUAL_TLS)

[2018-09-21 23:53] costinm commented on #7869
It appears the test is now passing, removing the Skip in the test

[2018-09-22 00:00] knrc commented on #8860
PR is https://github.com/istio/istio/pull/8911

[2018-09-22 00:00] liamawhite commented on #8008
Not as far as I know. Would you like to work on it? We should document the proxy name version but support users using either I think.

[2018-09-22 00:34] raravena80 commented on #8049
+1

[code]

[2018-09-22 00:54] andraxylia commented on #8883
If your VMs talk with each other by their real IP Address, and not a VIP, it is correct to set resolution to NONE. You do not need to list the endpoints, it does nothing. I see you get the outbound with original dest ip true, which is correct.

With regular services, the outbound listener for TCP matches on VIP:port. With ServiceEntry, I see it matches on wildcard:Port, either because there is no

[2018-09-22 07:38] lszymik commented on #8263
@diemtvu Thank you very much.

[2018-09-22 14:12] mandarjog commented on #7352
@maximbaz I have just merged a PR that should address your problem.

[2018-09-22 14:59] andraxylia commented on #8883
Nevertheless, it should still work with 0.0.0.0:1111, since it matches everything for that port, so there is something else. It could be inbound problems at the destination or mTLS mismatch. Can you check your auth Policy on both sides and enable logging level tracing in envoy?

[2018-09-22 15:10] thomschke commented on #8871
Which version of akka-management  are you using?

There is an issue akka/akka-management#236 that prevent the node joining itself. Please try v0.16+.

[2018-09-22 16:07] andraxylia commented on #6259
Once on-demand xDS is available, this will reduce the number of listeners in one Envoy to the ones actually needed, and we can change the outbound listeners for http to be VIP:port instead of wildcard 0.0.0.0:port. This will solve the trampoline problem.
(We currently use wildcard for http just to reduce the number of listeners. Tcp and https already use VIP:port listeners)

[2018-09-22 18:04] ajaymandvekar commented on #8883
Registering using ServiceEntry with multiple ports as against to a single port I see some erratic behavior in the pilot generated Envoy configuration.

For ServiceEntry with a single port (10389 as shown below), the config dump shows a listener that matches the "real_VM_IP:10389" wired to an inbound cluster with socket address "127.0.0.1:10389". This configuration is as expected

For ServiceEntry

[2018-09-22 19:05] andraxylia commented on #8883
Please configure authentication policy mesh wide config does not work with VMs, we debugged similar problems with Apigee where it turned out it was mTLS handshake mismatch.

https://istio.io/docs/tasks/security/authn-policy/

This would show up also in the logs.

[2018-09-23 02:13] rachappag commented on #5815
When Calico or any other CNI plug-in applies network policies ( IPtables or OVS flows ), it should flush the conntrack on each node `conntrack -F` or  delete specific connections in tracking table `conntrack -D -p tcp --orig-port-dst 8443`

[2018-09-23 03:13] mingweiLIU commented on #7492
@wansuiye Hi, I am encountering almost the same issue with istio-gateway log code: 200 UC, have you fixed this issue? can you share the solution?

[2018-09-23 11:50] thomschke commented on #8871
ok, next please check -> https://github.com/akka/akka-management/issues/209#issuecomment-407373897

[2018-09-23 14:30] gyliu513 commented on #8895
I'm good with this solution, thanks @sdake @linsun @hklai

[2018-09-23 14:36] gyliu513 commented on #8895
/close

[2018-09-23 14:36] istio-testing commented on #8895
@gyliu513: Closing this issue.

<details>

In response to [this](https://github.com/istio/istio/issues/8895#issuecomment-423821137):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](http

[2018-09-23 14:36] #8895 closed

[2018-09-23 19:00] santhosh-git opened #8917 "How to strip path in ingress?"
I am using Istio in my kubernetes cluster. Below yaml is my ingress rule. Here /nginx is proxying to the backend. Is there any way to strip path while proxying to backend.

Example:
https://gateway.example.com/nginx  should be proxied to backend like localhost:80/

---

apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  clusterName: ""
  name: nginx
  namespace: default
spec

[2018-09-23 21:49] jaygorrell opened #8918 "Grafana Mesh Dashboard shows low success rate for everything due to incorrect column alignment"
**Describe the bug**
This is basically a Helm-applied Istio install with only prometheus/grafana enabled and includeIPRanges set to the k8s network. The grafana mesh dashboard shows mostly a < 1% success rate for all services, despite the global success rate in the header being 99.9%. The services are working fine so it appears to be a display issue. I have also seen some numbers as high as 1000%.

[2018-09-23 21:54] mandarjog commented on #8918
Thanks for the bug report. A PR to fix this will be merged in shortly. The value in column F is the real success rate.

[2018-09-23 21:56] jaygorrell commented on #8918
Thanks @mandarjog - I was just going to update that it looks similar to something referenced here: https://github.com/istio/istio/issues/7943#issuecomment-416736876

Is there a temporary fix by manually bumping an image version that I can do?

[2018-09-24 07:35] yizhilong28 commented on #8660
check your Sidercar inject success

[2018-09-24 07:37] yizhilong28 commented on #8660
**istioctl proxy-config listeners productpage-v1-xxx -n xxxx**

[2018-09-24 07:55] yizhilong28 commented on #8660
if not resolve ，check the docker image pull success,
`gcr.io/istio-release/proxy_init:1.0.0`
my problem is the image pull failed (because the gfw), but the pods run success.
actually sidecar injection not success.

[2018-09-24 08:12] cdmitri opened #8919 "Services with named ports inaccessible in istio-1.0.2"
**Describe the bug**
HTTP services that are do not have an http- prefix can not be accessed.

**Expected behavior**
While the requirement for "http-" prefix is touched upon here: https://istio-releases.github.io/v0.1/docs/tasks/integrating-services-into-istio.html, this requirement is not obvious in other parts of documentation and examples.

Other projects stumbled upon this as well and took a wh

[2018-09-24 09:36] tommyJimmy87 commented on #8496
The purpose of all of this was to disable JWT Auth for the Pod to Pod communication but still have the JWT Auth Policy for the external access. Is this possible somehow?

[2018-09-24 10:38] shettyh commented on #7266
@LillyWu
@ajit-hybris tried by disabling the `AlwaysPullImages`. Still same issue.

I am getting this error in `istio-sidecar-injector` pod

[code]

[2018-09-24 12:12] Arttii commented on #8496
@diemtvu But is there a way to say have MTLS between the cluster services and enforce JWT auth either on the service level or on the ingress-gateway level. The problem with doing it on the ingress-gateway is, that the service cannot decide itself if it wants to authorize the request itself and it has to be done before the request even reaches the service. Or am I misunderstanding something?

[2018-09-24 12:55] jaygorrell commented on #8919
Isn't this covered well by this page?
https://istio.io/docs/setup/kubernetes/spec-requirements/

This is linked to from almost every installation page. It's also on the traffic management FAQ:
https://istio.io/help/faq/traffic-management/#naming-port-convention

[2018-09-24 13:14] mier85 commented on #1368
What I need is exposing all the grpc-ports via proxy as grpc-endpoints as well as grpc-web-endpoints.

i want to use exactly the same endpoints in my services for serving "all". is there a way to do that with filters?

i got this up and running on a local envoy proxy already and it works great , so this is just about istio and the sidecar configuration.

[2018-09-24 14:05] cdmitri commented on #8919
Hi @jaygorrell - thanks for the references! Yes, I think there are some places in the docs that once you know or suspect that the issue has something to do with a "port name", you can find a confirmation that this is your problem. The tricky part is that if let's say you're starting from some point in the documentation without reading it whole (or updates), there are some places where this is not

[2018-09-24 14:35] marshallford commented on #8804
To broaden the conversation quite a bit: If this TLS version feature is added, is it reasonable to expect other HTTP server options to be approved/added as well? One of my reservations about moving to Istio from something like the [NGINX Ingress Controller](https://github.com/nginxinc/kubernetes-ingress) is the lack of "traditional web server" options. I'm not suggesting full feature parity with s

[2018-09-24 14:39] shettyh commented on #7266
API server was configured with `proxy` thats why it was able to contact web hooks. Removed proxy from API server. Auto injection works fine

[2018-09-24 14:39] #7266 closed

[2018-09-24 15:00] sokoow opened #8924 "istioctl kube-inject doesn't work with bookinfo.yaml sample app anymore"
**Describe the bug**
Ran istioctl kube-inject -f samples/bookinfo/platform/kube/bookinfo.yaml , doesn't work anymore

**Expected behavior**
Manifest generated

**Steps to reproduce the bug**
istioctl kube-inject -f samples/bookinfo/platform/kube/bookinfo.yaml

then seen:

[code]

[2018-09-24 15:02] cmidt-veasna commented on #8617
@mandarjog For my use case, our application is implemented Raft Protocol where each pod required direct communication to each other for log replication and proxy to leader pod. The election phase was working fine as it's using Go Kubernetes client library to perform leader election. However after election process, leader pod need to send replicates log to the follower pod that why it's require to

[2018-09-24 15:05] bobbytables commented on #8906
I think Telemetry has a bug with its consistency, the errors are variable in number. Here's a vid to show you what I mean.

https://youtu.be/Qniiv6H2Tis

[2018-09-24 15:06] ymesika commented on #8924
Duplication of #8049

[2018-09-24 15:06] sokoow commented on #8924
Fun fact: istioctl 1.1.0 release throws similar error:

[code]

[2018-09-24 15:10] mandarjog commented on #8617
Do you have a need for the direct pod to pod traffic to be encrypted? Do you need to apply other policies?

[2018-09-24 15:19] mandarjog commented on #8906
Can you post telemetry logs? What surprises me is that this happens on a fresh install.
@douglas-reid grpc should not (tm) affect the static flow.

[2018-09-24 15:45] ozevren commented on #8841
Can we make this a non-problem by making use of sane defaults?

IMO ConfigMaps fields should be treated as APIs. From version to version, not only we need to retain backwards compatibility of the fields, but we should also make sure that all new fields will default to "sane values" when not-specified. (Similar to how API versioning would be done across minor versions).

Are there any problems that

[2018-09-24 15:47] ozevren commented on #7390
I think https://github.com/istio/istio/issues/8772 will cover this. Closing this as a dupe.

[2018-09-24 15:47] #7390 closed

[2018-09-24 15:49] ozevren commented on #7947
Is this needed for 1.1?

[2018-09-24 15:53] ayj commented on #7947
Possibly. I believe the FullSync indication is hooked up to Pilot's readiness checks.

[2018-09-24 15:53] ozevren commented on #7822
@mandarjog @geeknoid @douglas-reid
Any comments from Mixer perspective? Are there any plans or already existing mechanisms for traffic sharding currently?

[2018-09-24 15:59] ozevren commented on #8027
Just following up on this. Based on the conversation above, it looks like this problem is resolved. Anything else to follow through on the Istio side?

[2018-09-24 16:06] mandarjog commented on #7822
Mixer will use eds to do such a thing.
When a workload can be directed to use a specific mixer by pilot based on workload metadata like namespace.

I am planning to do the same for canarying a new mixer binary.

[2018-09-24 16:07] mandarjog commented on #7822
@douglas-reid and I have talked about using maglev to prefer particular endpoints.

[2018-09-24 16:34] douglas-reid commented on #8906
@mandarjog if this wasn't impacted by work done for grpc, I'm concerned that the (newer) runtime has some issue in the instance creation logic. There was a second report of something similar happening recently on the mailing-list. It looks, superficially, like memory reuse issues or related.

[2018-09-24 16:35] mandarjog commented on #8841
I do not think sane default address this problem. They are good, but orthogonal here.

It is about customization. We can say that these configmaps are implementation detail and the only supported way to customize is helm template and `values.yaml`.
This means that we will have to ensure that every supported feature in meshconfig (and other configmaps) is available in helm.

I think this is an ok p

[2018-09-24 17:01] douglas-reid commented on #8906
@bobbytables that video could perhaps be explained by different `Report` batches being sent to Mixer, I suppose. I don't know what your traffic looks like. I believe however that isn't the root cause of this issue.

[2018-09-24 17:20] chrisohaver commented on #3361
Very nice.  Thanks for the write up!

I think you can, by using the `fallthrough` option in each `kubernetai` plugin, you can order the `kubernetai` stanzas in order of precedence, all with the same zone.  When serving a query in that zone, coredns will try the plugins in order listed, e.g. local first, then if nothing is found the next
cluster, etc.

[2018-09-24 17:36] gbaufake commented on #8730
Fixed by #8787

[2018-09-24 17:36] #8730 closed

[2018-09-24 18:18] denniseffing commented on #8526
I noticed the same behaviour when using `request.headers["x-forwarded-for"]`.
Requests **are not** rate limited per client IP at all, even though the documentation clearly says so. I assume that there is some kind of general issue regarding the request counters.

The memquota adapter also seems to introduce some inconsistencies. Some requests are denied even though they should be allowed.
See http

[2018-09-24 19:32] hklai commented on #8907
1. The first problem is fixed by @rshriram. GCS_BUCKET_TOKEN  is now passed to all test jobs.
2. The second problem is fixed by https://github.com/istio/istio/pull/8910.

I am going to fix testgrid config to make sure things are pointing to the right bucket.

[2018-09-24 19:44] ozevren opened #8928 "[test-framework] Align environment variables used by tests"
We currently have two sets of environment variables in pkg/test/env. these are getting used by both e2e framework, as well as the new test framework. While there is an overlap between the two, it is not possible to use them interchangeably, due to the particular use-cases they are accessed (e.g. CircleCI v.s. local use).

We should rationalize and align them.

[2018-09-24 19:47] ozevren opened #8929 "[test-framework] Rationalize and cleanup package structure"
Our package structure in the test framework needs a bit of cleanup. We should change the structure a bit so that it is easier to navigate and understand what is going on.

The proposed structure looks *roughly* like this:
[code]

[2018-09-24 19:52] rshriram opened #8930 "Autogenerated k8s ingress gateway is present even when ingress is disabled"
**Describe the bug**
We should not be generating and applying the gateway ingress CRD unless the user has enabled k8s ingress.

**Steps to reproduce the bug**
From any helm install with k8singress set to false, you should see that there is a default gateway crd called auto-generated-k8s-ingress.

Please re-assign as appropriate. I remember you were the last one working on this (@costinm )

[2018-09-24 19:59] vilobhmm commented on #8883
@andraxylia : I think, we will encounter this problem irrespective of whether auth is enabled or not as it related to correct configuration not getting populated to Envoy.

@ajaymandvekar, @costinm : ^^

[2018-09-24 20:52] krancour commented on #8807
@rshriram

That may be true, but I am proposing that it's equally incorrect (in many cases) for the ingress gateway to not have stripped the port from the host header.

The ingress gateway should effectively consider the port a request is was _received on_ instead of whatever port is at the end of the host header. The port at the end of the host header is only reflective of the shenanigans that an

[2018-09-24 22:40] andraxylia commented on #8883
There is a bug somewhere in the list of management ports associated with the proxy:

Clusters:
managementPorts := env.ManagementPorts(proxy.IPAddress)
https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/cluster.go#L67

The code for listeners is slightly different:
managementPorts := env.ManagementPorts(node.IPAddress)

[2018-09-25 00:17] mabushey commented on #8685
@wmuizelaar What specifically did you do? I tried this:
[code]
But it didn't fix anything. My issue is ingress however (yours was egress).

[2018-09-25 00:48] mabushey commented on #8917
I think you just need to use rewrite:
[code]

[2018-09-25 00:52] bianpengyuan commented on #8526
There are several separate issues:

@DaspawnW in the initial issue that you posted, the `source` dimension is configured as `source: request.headers["X-Test-Header"] | "unknown"`, however header map key are all lower cased, which essentially makes source `unknown` in all instances and explains behavior you observed (quota enforcement cannot distinguish different test header). For the second issue

[2018-09-25 00:54] mabushey commented on #8692
NONE of the examples work. You just have to play with Istio... The development is happening so fast that you are literally wasting your time on the sample apps.

[2018-09-25 01:00] mandarjog commented on #8692
@costinm `update rejected: duplicate cluster outbound|53||kubernetes.default` will cause all clusters from CDS to be rejected, right?
If so, it also means that the mixer cluster was rejected which is seen in mixer client `cluster not available` message.

[2018-09-25 01:39] jiuchen1986 commented on #7787
@andraxylia

[2018-09-25 01:43] jiuchen1986 commented on #7787
@andraxylia
Can you help us on this issue: https://github.com/istio/istio/issues/8595?
It seems that the pilot can't get correct labels, which are used to identify the gateway pods, when the gateway pods are using the host network.
THX.

[2018-09-25 03:04] PiotrSikora opened #8938 "Consider using 1 or 2 instead of NCPU worker threads in sidecars"
**Describe the feature request**
Currently, sidecars are started without specifying `--concurrency` parameter, which means that they spawn NCPU (number of CPUs available on the host system) worker threads.

This not only leads to a higher memory usage (~2KB per configured cluster for each worker thread), but also to a higher effective CPU limit, where a single sidecar can saturate all CPUs availab

[2018-09-25 04:32] sdake opened #8940 "Determine how or if to maintain gendeploy"
**Describe the feature request**
istioctl gendeploy doesn't really do anything useful.  It appears unmaintained.  Either determine the requirements of gendeploy and make the implementation useful or remove it from istioctl.

**Describe alternatives you've considered**
Alternatives are described in the feature request.

**Additional context**
A feature request PR was requested in review: https://gi

[2018-09-25 05:44] kramerul commented on #8771
We are getting the same error when running the integration test ```e2e_simple```  on a Mac against a kubernetes cluster on google cloud platform.

[code]

[code]

We are using the actual master branch revision 2fa956fee57a50a6ae2183fe2a79b3ad6a16455f

[2018-09-25 06:12] #8167 closed

[2018-09-25 06:57] LoveEachDay commented on #8899
Reinstall the os makes everything works as expected. Still not know what's wrong with the first installation.

[2018-09-25 06:57] #8899 closed

[2018-09-25 07:15] gyliu513 commented on #8940
/cc @ZackButcher @rshriram who is the original author for this.

[2018-09-25 07:15] santhosh-git commented on #8917
Thanks, Mabushey. Your solution helped!!!

[2018-09-25 07:15] #8917 closed

[2018-09-25 08:05] SS-TT commented on #8660
@yizhilong28 thanks.
I found out that this may be related to #6085 because I'm having a lot of `gRPC config stream closed: 14, no healthy upstream` lines in my reviews' pods logs.

[2018-09-25 08:46] denniseffing commented on #8526
@bianpengyuan Rate limiting per client IP (based on `request.headers["x-forwarded-for"]` as outlined in the Istio docs) doesn't work at all.

I tested this with the following shell script executing simultaneously on two different machines:
[code]

Only 5 requests per 5 seconds are allowed **overall**, not for each machine.

I turned on debugging in Mixer to take a look at the attribute values:

**

[2018-09-25 13:07] ashwinphatak commented on #2706
Would we be violating some design goals or scope of Mixer if we extended this concept to responses as well?

For example, allowing an adapter to return 'response attributes', which get mapped to custom HTTP headers?

[2018-09-25 13:44] adrianRiobo commented on #7766
Issue closed. This problem is solved whit new istio version: 1.0.2

[2018-09-25 13:44] #7766 closed

[2018-09-25 15:33] bobbytables commented on #8906
@douglas-reid @mandarjog - I think there might be a race or something in Telemetry, as we noticed, the metrics in the _error_ output has duplicate labels in it. So here's what I did.

1. Bounced telemetry pod which revived it.
1. Port-forwarded new telemetry pod and grabbed `/metrics` output
1. Waited for it to fail and grabbed the error output
1. Compared the erroring metric labels to old labels

[2018-09-25 15:44] bianpengyuan commented on #8526
@denniseffing That is your kube-proxy's IP

[2018-09-25 15:53] ajaymandvekar commented on #8883
@ayj @costinm @andraxylia I think the bug is here: https://github.com/istio/istio/blob/master/pilot/pkg/serviceregistry/external/servicediscovery.go#L209

#8943 tries to address it. I verified this fix by creating ServiceEntry with resolution: NONE and Endpoint definition containing multiple ports.

Let me know your thoughts on it.

[2018-09-25 15:56] denniseffing commented on #8526
@bianpengyuan Yup, that makes sense. Do you have any thoughts on the rate limit per client IP issue?

[2018-09-25 16:05] douglas-reid commented on #8906
@bobbytables do you have another cluster that you can replicate this issue in? i'm not able to repro with any of my long term clusters. Also, when you have the errors, do you have the corresponding `stdio` logs from the telemetry pod?  Do those show duplication in labels?

[2018-09-25 16:14] andraxylia commented on #8883
@ajaymandvekar nice find and fix, thank you!

[2018-09-25 16:31] andraxylia commented on #8595
cc @costinm @duderino

[2018-09-25 16:35] andraxylia commented on #8595
@adamzhoul would you be so kind to take the latest release of Istio 1.0.3 ? The 1.0.1 had some issues.

What is you scale in terms of number of services and pods?

[2018-09-25 16:55] mandarjog commented on #8839
@bianpengyuan can you take a look at this?
At a certain point, we used to wait upto 30s to start Mixer. This was ample time for Mixer get all its configuration and start. Now we start mixer sooner.
1. Adding an info log to say that everything was loaded would also make sense.
2. sdake reports that mixer stays broken, which is completely unexpected and it surely a bug. When the all the CRS are avai

[2018-09-25 16:55] mandarjog commented on #8539
#8839

[2018-09-25 17:02] wattli opened #8951 "[Regression] Citadel cert SAN is gone in 1.0.2"
In 1.0.0, running

 openssl s_client -connect istio-citadel:8060 -showcerts -msg | openssl x509 -noout -text

results in
X509v3 Subject Alternative Name:
                DNS:istio-ca, DNS:istio-citadel, DNS:istio-citadel.istio-system.svc.cluster.local

But 1.0.2 doesn't have the SANs.

[2018-09-25 17:08] bobbytables commented on #8906
I turned on debug level logs for `telemetry` and it doesn't include the attribute bag details:

It just says it's dispatching and that it's done

[code]

[2018-09-25 17:18] murarisumit commented on #8008
@liamawhite if @MargarytaChepiga isn't assigned to it, can I try it out ?

[2018-09-25 17:34] douglas-reid commented on #8906
Do you have any logs generated by the `stdio` for the same request?  They should look something like:

`{"sourceIp":"10.36.2.8","requestId":"aba5a631-6f95-93c0-b422-4a1d78368f24","sourceWorkload":"istio-ingressgateway","clientTraceId":"","reporter":"source","destinationIp":"10.36.1.7","httpAuthority":"35.199.189.190:15031","apiClaims":"","latency":"3.584311ms","level":"info","receivedBytes":836,"d

[2018-09-25 19:11] wattli commented on #8951
https://github.com/istio/istio/blob/master/security/cmd/istio_ca/main.go#L338 - hostnames is set to [istio-ca,istio-citadel,istio-citadel.istio-system.svc.cluster.local]
https://github.com/istio/istio/blob/master/security/pkg/server/ca/server.go#L183 - hostlist is reset to empty list from [istio-ca,istio-citadel,istio-citadel.istio-system.svc.cluster.local].

[2018-09-25 20:56] costinm commented on #8595
I don't think 1.0.2 can handle this either (1.0.3 is still in progress). It's a larger change to support host network - but we do support NodePort.

It is not impossible - just not something we have right now. We had several discussions on moving away
from using IP to identify workloads, there are many good reasons to do so - but we need to prioritize,
and realistically such large/risky changes ca

[2018-09-25 21:20] ozevren opened #8957 "[galley] Flaky test: TestFsSource DeletePartResorceInFile"
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/8953/istio-unit-tests/14005

[2018-09-25 21:30] kidiyoor opened #8958 "Q: How to enable 'GCP credential authentication' in istio-1.0.2 ?"
**Describe the bug**
node_agent log bellow:

`node-agent --ca-address istio-citadel:8060 --env gcp`

`
2018-09-25T21:02:37.608569Z     info    Sending CSR (retrial # 5) ...2018-09-25T21:02:37.608649Z     error   Node agent terminated with error: node agent can't get the CSR approved from Istio CA after max number of retries (5).# in pid 23265, pgrp=23178 -> 232652018-09-25T21:21:11.692848Z     err

[2018-09-25 21:31] #8351 closed

[2018-09-25 22:18] wattli commented on #8958
This is indeed an issue and we are actively working on it now.

[2018-09-25 22:32] kidiyoor commented on #8958
is there a workaround for this in istio-1.0.2 ? basically - to run node_agent on a GCE VM

[2018-09-25 22:44] rshriram opened #8960 "Create feature flag library"
We have a number of trial features or new strategies to handle this/that, across all of Istio. While some have CLI flags and associated CRDs, some do not.. Esp pilot, that has a host of env variables that not only pollute the core code, but make it harder to follow, when things go wrong. Some of these variables are also long forgotten.

It would be good to have a single place (e.g., pkg/features/p

[2018-09-25 22:44] rshriram commented on #8960
cc @hzxuzhonghu / co or others, if you are looking for a TODO, this is a big one :).

[2018-09-25 22:53] wattli commented on #8958
If you treat GCE as raw VM, and manually bootstrap some key/cert, it would work

[2018-09-25 22:56] vilobhmm commented on #8958
@wattli : I am able to getting it working for 1.0.0. What exactly has changed with 1.0.2 ?

[2018-09-25 23:37] wattli commented on #8958
It's disabled here: https://github.com/istio/istio/blob/master/security/pkg/platform/client.go#L47

We will bring it back soon.

[2018-09-26 01:15] kidiyoor commented on #8958
I set --env=onprem
Copied key and certs from secret: istio.default
I am seeing the following issue -

[code]
[code]
[code]

[2018-09-26 01:37] jaygorrell opened #8963 "Readiness and Liveness probes failing frequently without mTLS"
**Describe the bug**
I have an environment with 100+ deplyoments, mostly consisting of 2 pods each. Somewhere around 1/3 of the pods seem to have regular restarts due to liveness probe failures.

Most other issues already filed seem to be related to one of two things:
1. mTLS is enabled and k8s cannot perform the health check
2. Race conditions with the service start-up and the sidecar not being r

[2018-09-26 01:39] hzxuzhonghu commented on #8960
Let me have a try.
/assign

[2018-09-26 01:42] rshriram commented on #8807
Ingress gateway is also an envoy :)

[2018-09-26 01:58] liamawhite commented on #8008
@murarisumit sure, no one has said they are working on it. I can't assign you but will keep myself assigned. Keep us updated on your progress!

[2018-09-26 02:44] wentao-zh opened #8965 "Deploy individual jaeger components(agent/collector/query) instead of all-in-one"
**Describe the feature request**
The deployment of Jaeger is all-in-one mode. That means all of the 3 components(jaeger agent/collector/query UI) are in one container and data is in memory. This deployment can not be used in production. A better way is to provide individual deployment for each jeager component.

**Describe alternatives you've considered**
I modified the jaeger deployment part of i

[2018-09-26 02:47] gyliu513 commented on #8965
This can help Jaeger for production use, thanks @wentao-zh .

/cc @linsun @sdake @costinm

[2018-09-26 03:07] hzxuzhonghu opened #8966 "data race in `istio.io/istio/galley/pkg/fs`"
[code]

[2018-09-26 03:08] hzxuzhonghu commented on #8966
The root cause is `fsSource.Stop` , we should only close channel rather than set var nil.

[2018-09-26 03:29] krancour commented on #8807
@rshriram... well then...

Did not know that and good to know!

Thanks!

[2018-09-26 03:44] ozevren opened #8968 "[test-framework] Add component-level state dumping support"
Currently, the environments have explicit support for dumping state. We should extend this to components, such that opting-in components can dump their state when the test fails.

This can be done in similar to how Configurable/Resettable interfaces work.

[2018-09-26 03:44] morvencao commented on #8826
@sdake You mean we can export kiali service with ingressgateway, just like how we handle with `grafana` and `prometheus`?
This is a solution, I think we should also support HTTPS for `Kiali` itself, we just need to provide cert/key pair and set it in ENV.

[2018-09-26 03:50] liubin-cm commented on #8049
upgrade helm and istio, still get this error
[code]

[2018-09-26 03:55] sdake opened #8969 "dashboard divides by zero producing NaN and red output in bookinfo GKE example"
**Describe the bug**
Deploy bookinfo and land on http://INGRESSIP:15031//dashboard/db/istio-mesh-dashboard

Red displayed with NaN - see screenshot.

**Expected behavior**
NaN not displayed - instead 0 TPS displayed and not in red

**Steps to reproduce the bug**
deploy bookinfo, open grafana page to the mesh overview.

**Version**
master.

**Installation**
[code]
NB: I have not pushed my container

[2018-09-26 06:19] sdake opened #8970 "Kiali reports problem with virtual services"
**Describe the bug**
In master, Kiali reports an error on a valid virtual service (see screenshot).

**Expected behavior**
No error should be highlighted.

**Steps to reproduce the bug**
helm template istio --namespace istio-system --set grafana.enabled=true --set kiali.enabled=true --set telemetry-gateway.grafanaEnabled=true > gateway.yaml
kubectl create ns istio-syswtem
kubectl create -f grafnaa

[2018-09-26 06:19] sdake commented on #8970
/assign @knrc

[2018-09-26 06:19] istio-testing commented on #8970
@sdake: GitHub didn't allow me to assign the following users: knrc.

Note that only [istio members](https://github.com/orgs/istio/people) and repo collaborators can be assigned.
For more information please see [the contributor guide](https://git.k8s.io/community/contributors/guide/#issue-assignment-in-github)

<details>

In response to [this](https://github.com/istio/istio/issues/8970#issuecomment

[2018-09-26 06:20] sdake commented on #8970
@knrc I am not able to assign this to you.  Could you take a look at getting this problem resolved in master?

Cheers
-steve

[2018-09-26 08:41] jpkrohling commented on #8965
Perhaps a better approach would be to make use of the Jaeger Operator, which allows for a simplified configuration of the Jaeger instance, while still maintaining the flexibility about using all-in-one (in-memory or persistent storage) and production (persistent storage only).

https://github.com/jaegertracing/jaeger-operator

If there's anything in the operator that would be needed for this, open

[2018-09-26 09:05] objectiser commented on #8965
As discussed in  #8893, there is the alternative of not including `tracing.enabled=true` and installing a production version of Jaeger separately - either via the upstream community helm chart, or using the new jaeger-operator as mentioned by @jpkrohling.

The issue with the production version is that it requires more resources - not least Elasticsearch or Cassandra storage. So I don't think this

[2018-09-26 09:34] pilhuhn commented on #8970
@sdake What does the triangle on the failure say that it detected?

[2018-09-26 09:40] lucasponce commented on #8970
I have created a JIRA https://issues.jboss.org/browse/KIALI-1616 to track this one in Kiali project.

[2018-09-26 11:59] mefarazath commented on #2706
@geeknoid I have a similar requirement to inject a custom request header during the proxy communication. After reading through various forums it seems the best approach to do that would be to write a mixer plugin (instead of writing an envoy filter and building a mixer image).

Even if we go along the path would we be able to inject a custom header into a request in the correct istio version?

[2018-09-26 13:38] c0d1ngm0nk3y commented on #8661
see #8976 for addressing those issues

[2018-09-26 15:35] wmuizelaar commented on #8685
For me the networkpolicy that you copy-pasted fixed it. For ingress, I had no troubles at all to install it in a seperate namespace

[2018-09-26 16:01] geeknoid commented on #2706
At the moment, this feature is not supported. I'm guessing this might show up in the 1.2 timeframe which would be early in 2019.

[2018-09-26 16:16] qiwzhang commented on #2706
It has been implemented.  It is fully functional.  Mixer can return this field in Check response.
https://github.com/istio/api/blob/master/mixer/v1/check.proto#L84

It allows mixer to add any http headers to the requests to the upstream. or to the response.

[2018-09-26 16:37] mangchiandjjoe opened #8979 "Provide commands to support queries like list all permissions a subject has, or list all members that are allowed to access a service."
This is a sub task of https://github.com/istio/istio/issues/6984.

To query RBAC effect through CLI, we can add "list" sub command to "istioctl experimental rbac".
"list" can have two subcommands, " "permissions" and "users".

"permissions" subcommand supports listing all permissions a subject has.
[code]
Example query permissions for user test.
[code]

"members" subcommand supports listing all me

[2018-09-26 16:39] mangchiandjjoe commented on #8979
/cc @liminw @yangminzhu @rshriram

[2018-09-26 16:40] mangchiandjjoe commented on #8979
/assign @mangchiandjjoe

[2018-09-26 16:42] geeknoid commented on #2706
It's not supported by Mixer yet, so the fact Envoy has the needed bits is
not sufficient :-)

On Wed, Sep 26, 2018 at 9:21 AM Wayne Zhang <notifications@github.com>
wrote:

[2018-09-26 17:07] sdake commented on #8970
@pilhuhn kiali 0.6 - the warning is shown in the attached screenshot.  I am obtaining info on whether the warning is valid or not.
<img width="349" alt="screen shot 2018-09-26 at 10 06 18 am" src="https://user-images.githubusercontent.com/755849/46096397-edcf8480-c173-11e8-9448-3c73fe6e1203.png">

[2018-09-26 17:16] #8966 closed

[2018-09-26 17:53] andraxylia commented on #3876
This is now solved by ServiceEntry, if there is any use case that does not work, please spell it out.

[2018-09-26 17:53] #3876 closed

[2018-09-26 17:58] andraxylia commented on #8940
Gendeploy was added to support istio à la carte. Since we are doing this with helm, it's ok to deprecate it.

[2018-09-26 18:20] nmittler commented on #8963
@andraxylia unassigning for now.  It doesn't seem to be related to the sidecar readiness probe.

[2018-09-26 18:40] mabushey commented on #8685
Don't know. I can route to containers in default and istio-system (I can route to `host: grafana.istio-system.svc.cluster.local`), but if I have containers in any other namespace I can not route to them.

[2018-09-26 20:53] douglas-reid commented on #8969
@sdake this has been previously discussed. I'm open to any workaround for figuring out how to get Grafana to not color `NaN` results. I'm not sure that this is supported by their current widgets.

The underlying problem is the following: there is no (recent) traffic to those services. It is incorrect to report 100% success rate and also incorrect to report 0% success rate. Dividing by zero is prob

[2018-09-26 20:57] douglas-reid commented on #8906
@bobbytables apologies. I believed these issues were being seen in mixer dispatch. A closer look reveals that these are being generated in the prometheus client library during a `Gather()`. This is likely a different issue -- and digging is still needed to figure out what could be causing that issue.

[2018-09-26 21:07] jaygorrell commented on #8963
Correct @nmittler. In fact, I'm pretty certain this isn't really related to readiness probes on the services themselves either -- they are just a reliable way to discover the problem in the `describe pod` output.

I've had reports from many users getting things like `upstream connect error or disconnect/reset before headers`, which may be a little more helpful.

One more thing of note, almost all

[2018-09-26 21:11] wattli commented on #8958
https://github.com/istio/istio/issues/8951, this is a regression and @myidpt is on it now.

[2018-09-26 21:18] douglas-reid commented on #8906
I've posted a [question to prometheus-users](https://groups.google.com/d/msg/prometheus-users/QnP2f8NdpZc/VWRqupKkAQAJ) about this issue to see if we can get some additional help in troubleshooting.

[2018-09-26 21:18] theganyo commented on #8839
I can corroborate that Mixer stays broken.

[2018-09-26 21:25] #7808 closed, assigned to hzxuzhonghu

[2018-09-26 21:50] douglas-reid opened #8986 "FR: Support adapter configuration selection options in install"
**Describe the feature request**
In a recent thread on the mailing-lists, it was noted that there is no way to control the set of Mixer adapter configuration that is generated for install (via helm, etc.). For example, the [config.yaml](https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/mixer/templates/config.yaml) currently supports no template-based configuration.

T

[2018-09-26 21:53] douglas-reid commented on #8893
An alternative not mentioned here is to add an elasticsearch adapter that supports the tracespan template and handle integration in that fashion.

[2018-09-26 21:57] douglas-reid commented on #8965
@objectiser my instinct is that we should provide guidance on how to productionize, instead of trying to add all of the options into helm.

I think this is a question worthy of discussion in the WG. I'm adding it to the agenda for the next meeting (two weeks from today).

[2018-09-26 22:50] douglas-reid commented on #7675
All, a recent PR was merged to add initial support for CRD consolidation within Mixer. I cannot promise that it solves this issue, but I am looking for brave volunteers to try from tip with an edited deployment to set `UseAdapterCRDs=false` in the Mixer deployments and see if that improves things.

I'm happy to help guide that process, if someone has access to AKS clusters and some free time.

[2018-09-26 23:49] liminw opened #8990 "Moving to workload centric policies"
Today we use the terminologies "services", "workloads", "hosts" in our policies interchangeably. This will likely cause confusion and ambiguity on the exact meaning of the policies. In the meanwhile, workload related attributes has been introduced to [Istio attribute vocabulary](https://preliminary.istio.io/docs/reference/config/policy-and-telemetry/attribute-vocabulary/). Towards the goal of havi

[2018-09-26 23:55] liminw commented on #8990
/cc. @louiscryan @geeknoid @diemtvu @costinm @wenchenglu @yangminzhu @ayj @ozevren @douglas-reid

[2018-09-27 02:02] jaygorrell commented on #8963
One more bit of useful info (sorry for the double-post).

I scaled the bookinfo demo to 20 pods for one of the services (productpage) and added a health check on it. After about a half hour here's what it looks like:
[code]

The 2s in there show what I mean about how it seems to be following a pod.

[2018-09-27 02:10] adamzhoul commented on #8595
if the host network is not supported, how you guys deploy gateway, may I ask?
it needs to receive traffic from outside, and traffic only hit physical machine.

if we use NodePort, we can't add new port dynamically, right?

[2018-09-27 02:12] wackxu opened #8996 "update the file copyright that do not pass the check"
in https://github.com/istio/istio/pull/8013, we add check shell for boilerplate, now we should update the file copyright that do not pass the check, finally we should add this check to our CI.

[2018-09-27 02:13] wackxu commented on #8996
@stewart-yu Can you make a plan to fix all the file that do not pass the check.

[2018-09-27 02:27] adamzhoul commented on #8595
from using IP to identify workloads,

@costinm
is this still in the discussion? do we have a link, it can help we learn more info about this.
thanks, ：）

[2018-09-27 02:36] adamzhoul commented on #8595
@jiuchen1986
 in your case,  we should place a proxy(like nginx).
we have many similar cases too. like multi https certificates.

@andraxylia  we have 100+ pods. but this is not the reason, I think.

[2018-09-27 02:44] stewart-yu commented on #8996
There are so many file check failed, so assign to servals people
cc @stewart-yu ：
/ycj/istio-upstream/src/istio.io/istio/downloadIstio.sh
/ycj/istio-upstream/src/istio.io/istio/prow/istio-postsubmit.sh
/ycj/istio-upstream/src/istio.io/istio/prow/e2e-pilot-no_auth.sh
/ycj/istio-upstream/src/istio.io/istio/prow/mason_lib.sh
/ycj/istio-upstream/src/istio.io/istio/prow/lib.sh
/ycj/istio-upstream/src/i

[2018-09-27 05:01] #8554 closed

[2018-09-27 05:33] gyliu513 commented on #8965
+1 to discuss this in WG meeting. But my thinking is we still can update the helm chart to add those options for easy configuration and installation, and the guidance for production can actually refer to the helm chart options, this maybe more simple.

@douglas-reid , as @wentao-zh is located in China, not sure if the time is China friendly. Just check the meeting notes at https://docs.google.com/

[2018-09-27 06:32] DaspawnW commented on #8526
Hi @bianpengyuan,

here a short example:
User 1 sends requests with a principal x (`request.auth.principal`). If his quota is exceeded he can't send any requests (as expected ;-) )
User 2 sends requests with a principal y (`request.auth.principal`). He is directly denied without any successful request.

[2018-09-27 07:59] hzxuzhonghu commented on #8996
Opened a pr to fix my part.

[2018-09-27 09:11] karsten42 opened #9001 "Istio fails to reconnect to pod that doesn't have a istio sidecar"
**Describe the bug**
I have to pods running in kubernetes, lets call them `service-a` and `service-b`.
`service-b` runs a gRPC server and doesn't have an istio sidecar.
`service-a` connects to `service-b` and has an istio sidecar. `service-a` is running a continuous health check of `service-b` using the [health checking protocol](https://github.com/grpc/grpc/blob/master/doc/health-checking.md).

W

[2018-09-27 09:44] sjanota opened #9002 "Docs for sidecar injection don't mention HostNetwork"
**Describe the bug**
If pod has `hostNetwork: true` it doesn't have sidecar injected. The problem is it is not mentioned anywhere in docs. We are using `hostNetwork` with minikube and lost some time trying to figure out why pods are not getting sidecar injected, until we found responsible [code](https://github.com/istio/istio/blob/release-1.0/pilot/pkg/kube/inject/inject.go#L351).

**Expected beha

[2018-09-27 11:06] lurenjia528 opened #9003 "Handler not found: handler='handler.kubernetesenv',Cannot access 9080"
**Describe the bug**
I can automatic injection，but I can't access the service,the bookinfo'port  9080 refuse to connect
when I not inject sidecar ,I can access the 9080

[code]
[code]

[code]

[code]

[code]
[code]

[code]

in the pod istio-telemetry and istio-policy ,the ocntainer mixer report the same error
[code]
Is it related to this warning?

**Version**
kubernetes1.9.4
istio1.0.0
platform: a

[2018-09-27 13:15] frankbu commented on #8970
Starting with Istio 1.0.1, multiple virtual services for the same host are allowed if the VSs are bound to a gateway. The warning should only appear for VSs without a gateway binding. Optionally it could also give a warning if there is an obvious conflict between the VSs (for example, there are multiple "catch-all" rules, i.e., ones without a match field). Documentation on VS merging is [here](htt

[2018-09-27 13:18] lucasponce commented on #8970
Yes, thanks @frankbu, kiali 0.6 is holding an old validation rule, so we will update this logic for next versions in kiali.

[2018-09-27 13:55] jnativio commented on #8590
@gyliu513  Regarding your question about how the mixer is disabled in the regression patrol, these two lines  in the deployment file are commented out:
     mixerCheckServer: istio-policy.istio-system.svc.cluster.local:9091
     mixerReportServer: istio-telemetry.istio-system.svc.cluster.local:9091

The deployment file used is based on the istio-demo.yaml that comes with each build. The performanc

[2018-09-27 14:00] gyliu513 commented on #8590
Thanks @jnativio , we will check the environment when the cluster is back ;-)

[2018-09-27 14:00] swistaczek commented on #5453
@proddam did you managed to run helm/stable redis chart on istio cluster?

[2018-09-27 14:10] jordan-da commented on #7495
here is a key quote from #7558

So I have a similar issue, I am running cassandra in k8s in a statefulset with a headless service. What this means is pods will access the cassadra service directly via the pod IP, which istio doesn't know anything about and blocks the connection. If I remove cassandra from the mesh and create a `MESH_EXTERNAL` serviceentry with the pods ip address (you have to for

[2018-09-27 16:06] denniseffing commented on #8526
The bug in rate limiting per client IP is directly related to #7679, #7328 and #7918.

[2018-09-27 16:08] caussourd commented on #8049
Is there a workaround this issue? thanks

[2018-09-27 16:34] myidpt commented on #8958
Sorry that was a bug introduced by disabling the GCP ID token authentication. We have a PR and it will be fixed in 1.0.3.

[2018-09-27 16:52] depohmel commented on #8049
@caussourd As works around i pulled nightly `istioctl` build. I used this one https://ibmcloud-perf.istio.io/regpatrol/master-20180819-09-15/istio_full// and it worked fine

[2018-09-27 17:03] nmittler commented on #8049
Yeah, the root of this problem is an out-of-date istioctl.  Best bet is to just make sure you're using the istioctl from the Istio build you're using.

[2018-09-27 17:47] emmekappa commented on #5453
I'm having the same issue.

[2018-09-27 18:30] huydinhle opened #9012 "can't create virtualservice with tcp route in 0.8"
### pilot logs
{"level":"error","time":"2018-09-27T18:29:20.060578Z","msg":"Failed to convert virtual-service object, ignoring: default/laanc-routing YAML decoding error: gateways:\n- mesh\n- istio-egressgateway\nhosts:\n- laanc.prod.airmap.com\nhttp:\n- match:\n  - gateways:\n    - mesh\n    port: 3128\n  route:\n  - destination:\n      host: istio-egressgateway.istio-system.svc.cluster.local\n-

[2018-09-27 18:32] douglas-reid commented on #9003
The issue getting to the pods is not related to `kubernesenv` adapter.  Nor is it related to any logs on the various Mixer services.

I note that you are running a custom version of istio-proxy:

`ht061@HT061-docker.io/istio-1.0.1-42773aacced474d97159902d20579a25b1f98106-dirty-Modified`.

I also note that it is not based on Istio 1.0.0 as claimed above. I suspect that may have something to do with

[2018-09-27 18:32] #9003 closed

[2018-09-27 19:03] geeknoid commented on #8990
A couple bullets from an email thread we had for context:

- We have DestinationRule.host and ServiceEntry.hosts in networking, and AccessRule.services and RbacConfig.Targets.services in the security space. The fact we're using different words to mean the same thing is not good for our users. Even if nothing else changes, I think we should deprecate the use of *.services and replace with .hosts fo

[2018-09-27 19:04] geeknoid commented on #8990
And I haven't thought this through yet, but we need to see whether ServiceRole and ServiceRoleBinding should also be renamed to something less servicy. I don't know, I'm just bringing it up for discussion.

[2018-09-27 19:27] markeijsermans opened #9013 "Legacy ingress 404's with named servicePort"
**Describe the bug**
Legacy ingress fails when the backing service is defined with a named `servicePort`. A numeric port works. Named `servicePort` worked on a previous install of Istio 0.5.1

**Expected behavior**
`curl http://myservice.example.com` via legacy ingress and get http 200 OK.

**Steps to reproduce the bug**
The following service/ingress results in a http 404.
[code]
Log from the ingr

[2018-09-27 20:36] jmymy commented on #7659
Seeing the same issue with Istio 1.0.2 on KOPS and K8S 1.10.5

[2018-09-27 20:38] ZackButcher commented on #8940
We should just remove this, it never really achieved the goal I intended for it and we've largely replaced the use case with better helm config.

_Might_ be worth thinking about adding back with Istio-a-la-carte work; I'm not sure what the install story is supposed to be there (cc @louiscryan).

[2018-09-27 20:55] kminehart commented on #5453
I think the issue might be that StatefulSets usually have 2 services mapped to the same pod, which Istio does not support. (Or did not support at the time). Did an update fix this or anything?

[2018-09-27 21:16] iroller commented on #5453
If the issue that you see is istio sidecar not starting then check istio sidecar logs and look for `envoy missing listener for inbound application port`. If that's the case than creating a dummy service for your redis pods will help to get it working.

See https://github.com/istio/istio/blob/master/pilot/cmd/pilot-agent/status/ready/probe.go#L41-L65 and https://github.com/spotahome/redis-operator/

[2018-09-27 21:36] costinm commented on #8605
Sorry for the delay. Not sure - but if you can still repro you can change the options to add verbose logging to envoy.

Please make sure you use control plane security enabled, we want to stop using plain text.

[2018-09-27 21:46] huydinhle opened #9017 "Is there a guide on how to route TCP Egress traffic to an Egress gateway with istio 0.8"
I tried this guide out https://istio.io/docs/examples/advanced-egress/egress-gateway/ using istio 0.8. It only works with HTTP traffic. However it won't work with TCP at all, is there a guide for that ?

Thank you

[2018-09-27 21:53] jmymy commented on #7659
I changed all the port names to be unique, cleared out all the service entries, and re-tried with multiple rules and got it to work as expected.

[2018-09-27 22:48] huydinhle commented on #9017
Like let's say if I want to route TCP traffic  in the mesh to google.com but going through my egress gateway. How would I do that?

[2018-09-28 01:27] bianpengyuan commented on #8829
Here are some rough results from initial tests:

**Latency:** I used [oop benchmark test](https://github.com/istio/istio/blob/master/mixer/test/perf/oop_report_test.go) to measure difference of dispatch latency between compiled-in and oop adapter. To avoid network latency I have to comment out the code which invokes the adapter remote handler since golang grpc does not support in memory transport.

[2018-09-28 01:51] jiuchen1986 commented on #8595
@costinm

[2018-09-28 02:02] jiuchen1986 commented on #8595
@costinm
Does istio support specifying ports when using https redirection in the gateways? Since I can only find a bool parameter "httpsRedirect" in "Server.TLSOptions", the plain http requests seems to be redirected always to the default https endpoint, which normally listens at 443. If I was right, how can https redirection works when using NodePort to expose the gateways?

[2018-09-28 02:06] jiuchen1986 commented on #8595
@adamzhoul
Thanks for your advice. Yes we change to a pure ingress-controller solution based on traefik.
But I think if the istio gateway model meets our demands, why not use it cause we have already had mesh in our cluster.

[2018-09-28 04:09] diemtvu commented on #8990
Here is a [design doc](https://docs.google.com/document/d/1eInPqAjOfsyJWtMIOeRRza0b0aErKqVzO9mbxNKcucA/edit#) that  try to address the second bullet point.

IMO, it makes sense to be workload-centric for things that affect inbound configs. However, for outbound, service (or host) could be acceptable.

[2018-09-28 09:28] ethonchen opened #9029 "In different namespace , TLS not working with multiple domain , just one can work"
**Describe the bug**
I have 2 host like : https://a.xyz.com (the backend in a namespace named anamespace ) ,  https://b.xyz.com (the backend in a namespace named bnamespace ) ,and i conf follow like this
https://istio.io/docs/tasks/traffic-management/secure-ingress/
[Configure a TLS ingress gateway for multiple hosts]

and my yaml like this:
a.yaml
[code]
b.yaml

[code]
It's just one https work ,

[2018-09-28 11:08] caussourd commented on #8049
I'm using the helm chart and the automatic sidecar injection so I made sure that the version of my helm chart was the same as the version of my docker images and it worked. Thanks for your help.

[2018-09-28 12:35] vitalijsvolodenkovs opened #9030 "Istio Ingress integration with cert-manager"
Based on Istio documentation[](https://istio.io/docs/tasks/traffic-management/secure-ingress/#configure-a-tls-ingress-gateway-for-multiple-hosts) you should manually manage certs.

As you know nginx-ingress-controller have integration with cert-manager and automatically creates and manages certificates(by using annotations).

Are you going to implement this kind of feature for istio Ingress-ingres

[2018-09-28 14:00] Caspervw commented on #8718
Same setup (multiple control plane replicas with PodAntiAffinity), same result. Our cluster horizontally scales under load (GKE) and fails for a couple of minutes per week.

[2018-09-28 15:30] GregHanson opened #9032 "Prow Unit Tests broken after container upgrade"
**Describe the bug**
From Slack
[code]
**Expected behavior**
{{ What did you expect to happen? }}

**Steps to reproduce the bug**
{{ Minimal steps to reproduce the behavior }}

**Version**
{{ What version of Istio and Kubernetes are you using? Use `istioctl version` and `kubectl version` }}

**Installation**
{{ Please describe how Istio was installed }}

**Environment**
{{ Which environment, cloud

[2018-09-28 16:44] peterhaochen47 opened #9034 "No way to create config with type "policy" using MCP"
**Describe the bug**
When using MCP, we are sending an envelope containing objects of typeUrl: `type.googleapis.com/istio.authentication.v1alpha1.Policy`, which is the type URL for both "policy" and "mesh-policy". For example:

[code]
Where `policyrules` is an array containing the encoded `authentication.Policy` objects.

MCP will always translate the envelope into a config with type "mesh-policy"

[2018-09-28 16:46] quanjielin opened #9035 "make SDS works E2E in Istio 1.1 branch"
Use this bug to track the work for [secret discovery service(SDS)](https://www.envoyproxy.io/docs/envoy/latest/configuration/secret#config-secret-discovery-service) works E2E in master branch.

The SDS change on  ```collab-gcp-identity``` is almost merged into master now, next step is making SDS E2E flow work in master.

Workitems for SDS to work in master(based on ```collab-gcp-identity```):
- su

[2018-09-28 16:53] mabushey commented on #8630
It's working for me now. This may or may not have fixed it:
[code]

[2018-09-28 16:53] #8630 closed

[2018-09-28 17:01] tvieira commented on #8483
Any progress here?

[2018-09-28 17:11] mabushey commented on #8615
I have namespaces working now.

[2018-09-28 17:29] Nino-K commented on #9034
Have you tried creating your MCP envelopes with Metadata name like the following format:
[code]
When you define the metadata name in the format above ("namespace/name") mcp controller allows you to create an Authentication Policy model with type set to `policy`.
https://github.com/istio/istio/blob/8a84d6ddcadef0505f0678e99d65eff88ff0b496/pilot/pkg/config/coredatamodel/controller.go#L145

[2018-09-28 17:35] venilnoronha commented on #8190
I've created a Wiki page to address this. You can find it at https://github.com/istio/istio/wiki/%5BPreliminary%5D-Mixer-Out-of-Tree-Adapter-Walkthrough.

[2018-09-28 17:35] #8190 closed

[2018-09-28 18:06] sneko commented on #8836
@mandarjog I just upgraded my Kubernetes cluster from 1.9 to 1.10 and the pod CIDR changed... so my Istio settings were broken and it broke some of my microservices due to this 👎

Have you heard about this problem? I hope it won't happen each minor k8s update... 😆

[2018-09-28 18:44] sebastienvas commented on #9032
#9026 Added to skip failing test. While work for a resolution

[2018-09-28 18:53] marcusrios opened #9037 "Failed to add serviceAnnotations in values.yaml"
**Describe the bug**
I'm trying to add the annotation `service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"` in the `gateways.istio-ingressgateway` section but when I'm apply/upgrade using helm the API throw the following error:

[code]

**Expected behavior**
Be able to pass this property to the Load Balancer creation through helm

**Steps to reproduce the bug**
D

[2018-09-28 22:10] sebastienvas commented on #9032
So the new container is indeed running as root.

[2018-09-28 23:38] ayj commented on #7877
We basically need a wrapper around fsnotify that handles symlinks properly for k8s secrets/configmaps.

It would also be useful to have a [fake implementation](https://github.com/istio/istio/blob/9c6c2130809e3d88936c960ed5c8f5490616440f/pkg/mcp/creds/watcher_test.go#L34-L59) for testing purposes.

[code]

The simplest option might be to maintain one `fsnotify.Watcher` per watched path/file. Each w

[2018-09-29 01:26] jaygorrell opened #9043 "Connection problems with large deployments (1200+ pods)"
**Updated Issue (12/30/18)**
---
_(Issue has been updated to reflect the current understanding of this problem, which is much improved since it was originally opened. See 10/1/18 edit in history for original text.)_

**Describe the bug**
Deployments become unstable as they grow in size with sidecars deployed. This manifests as one of the following 3 errors:
[code]
This appears to only happen on ve

[2018-09-29 02:27] #8960 closed

[2018-09-29 05:16] #8834 closed

[2018-09-29 06:28] leiguorui commented on #8868
How to grab the envoy filter config, please?

[2018-09-29 06:39] shettyh opened #9045 "gRPC : protocol error: http/1.1 protocol error: HPE_INVALID_CONSTANT"
**Describe the bug**
gRPC routing to Java service is failing

**Expected behavior**
gRPC proxying should work

**Steps to reproduce the bug**
- Have java service that use the gRPC 1.3.0
- Create Gateway and VS to route the traffic to service from ingress

**Version**

Istio Version

[code]

Kubernetes version

[code]

**Installation**
Helm based installation

**Environment**
Bare metal

**Logs**

[2018-09-29 06:54] l10xbin opened #9046 "Using root user to build Istio from source , but end up with some errors like "Makefile:433: recipe for target 'test' failed""
**Describe the bug**
   Build Istio from source end up with some errors like "Makefile:433: recipe for target 'test' failed" and here is the google developer group link  [group discuss link](https://groups.google.com/d/msgid/istio-dev/0cc8897f-cd51-4dfe-aaba-bf51149c7d6b%40googlegroups.com).
Error message summary:
Makefile:479: recipe for target 'mixer-test' failed
make[1]: *** [mixer-test] Error

[2018-09-29 07:47] magicalne opened #9047 "Service cannot access external Hbase slaves."
**Describe the bug**
I have a hbase cluster out of k8s in aws. Sidecar injected service cannot access outside hbase. But service without sidecar can access outside hbase.

I can confirm that my request can reach my service. When my service is trying to access hbase, my service needs to talk to zookeeper first and read meta data from master. I can also confirm that my service can access zookeeper p

[2018-09-29 07:51] jinjie2088 opened #9048 "Cannot communication between microservices used istio-proxy"
**Describe the bug**

**Before you begin:**
1. I used istio-demo-auth.yaml install istio1.0 system on k8s(version 1.9.0)
2. A and B used  istio-proxy, C is not.

**1.curl service B from service A**
[root@portal-ui-8447dc7b5b-vlkr2 /]# curl -v http://account-service:8080/account-service/status
* About to connect() to account-service port 8080 (#0)
*   Trying 10.96.185.4...
* Connected to account-se

[2018-09-29 08:28] violetgo commented on #4341
I have also encountered this problem, the current processing is to sleep for a few seconds before the service starts and then connect to the network.

[2018-09-29 11:29] sneko commented on #4971
@rshriram Hi! I'm using Istio ingress gateway and I can see in my browser that HTTP response headers contains some fields like:
- server: envoy
- x-envoy-upstream-service-time: 3

For security purpose I would like to hide this kind of information. Do you know how I could do that please?

I just found information about CORS policy with `exposeHeaders` property.

 Thank you 🙂

[2018-09-29 11:32] sneko commented on #5036
Related to #4971

[2018-09-29 11:51] sneko commented on #4971
It seems related to this PR (https://github.com/istio/api/pull/625) so I guess it will be released in Istio v1.0.3 ?

I hope we will have the ability to use a wildcard to use `x-envoy-*`

[2018-09-29 13:59] bobbytables commented on #8906
@beorn7 - Neat. If this week has enough hours for me to do that (point istio at tip) we can do a build of Istio and install it in our lower level cluster.

[2018-09-29 14:43] shettyh commented on #9045
Upgraded to latest version of gRPC. Now i cam getting the same error on istio but on service i am getting this

[code]

[2018-09-29 19:37] merlineus opened #9049 "It is impossible to deploy NLB backed Istio ingressgateway service in two different K8S clusters in same AWS region"
The issue is related to K8S itself, so here I just want to notify developers and those who stuck with created NLB without target groups in it :)

https://github.com/kubernetes/kubernetes/issues/69264

[2018-09-30 01:45] lichuqiang commented on #7877
Yeah, this should be the simplest approach. I tried to create a watcher from scratch to address the `IN_DONT_FOLLOW` issue, but the fact that the watcher should have cross platform support bothered me.

[2018-09-30 02:09] jiuchen1986 commented on #8595
@adamzhoul @costinm

[2018-09-30 02:14] jiuchen1986 commented on #8595
@adamzhoul @costinm
Ok, so in my case, I can use "hostPort" instead of "hostNetwork" on my gateway pods, and seems it solves my problem.

[2018-09-30 02:58] x15zhang opened #9051 "Rate limit cannot work for services in other namepaces except for default"
**Describe the bug**

I installed two applications:
1. bookinfo in default namespace
2. tomcat in myapp namespace.

Then I run the Rate Limit task with following config:

[code]
[code]
[code]
[code]
[code]

Bookinfo in  default namepsace can work well and it permits 1 requests every 3 seconds. But tomcat in other namepsace cannot get any RESOURCE_EXHAUSTED response.
And after I change tomcat to de

[2018-09-30 03:09] shettyh commented on #9045
Strangely the problem was the k8s service not having the name for the port. If i give the name to the port it works.

[2018-09-30 04:17] hzxuzhonghu opened #9053 "Should make ciecleci `racetest` required"
`Test_KubeSecretController ` failed https://circleci.com/gh/istio/istio/202774?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

I am not sure since when it occur. But I can look into and fix it. After that make `racetest` required.

[2018-09-30 07:26] knightXun opened #9054 "Want to be a member of istio"
I want to be part of istio community.I think istio project is awesome and I want to do more work for istio.
My interests mainly are on pilot,unit-test,script.I am also reading the code of envoy.
I think I has already met the requirements: https://github.com/istio/community/blob/master/ROLES.md#member.

Some of my contributions (Pull Requests):
#5351
#5431
#8101
#8177
#8211
#8235
#8368
#8371
#8372

[2018-09-30 10:06] ethonchen commented on #9029
Is there anyone help me! thanks

[2018-09-30 11:16] supereagle commented on #8630
I test bookinfo in namespaces other than default, meet the same error `upstream connect error or disconnect/reset before headers`.

After create the network policy, but still does not work.  @mabushey  Do you know the reason? Thanks in advance.

[2018-09-30 14:22] #9054 closed, assigned to nobody

[2018-09-30 18:14] jaygorrell commented on #6508
I'm getting the same error on just the ingress/egress pods. Interesting bit is that this is just an environment I've been testing with -- nothing else running and I've spun up Istio probably 20 times and deleted the NS each time to start clean. At some point this just started occuring on code that ran before... I'm guessing something sticking around related to IP tables on some of the hosts?

Abou

[2018-09-30 18:35] mandarjog commented on #9043
@costinm

[2018-09-30 19:49] jaygorrell opened #9056 "Disabling mixer with Helm template causes ingress/egress pods to crash"
**Describe the bug**
Using `helm template` to generate the istio install file using mixer `enabled: false` causes the ingress-system ingressgateway and egressgateway pods to crash. No other deployed pods are necessary -- including no sidecars.

The crash events match what is described in https://github.com/istio/istio/issues/6508.

**Expected behavior**
Disabling mixer has no negative side effects

[2018-09-30 19:49] jaygorrell commented on #6508
Opened #9056 to describe my similar situation

[2018-09-30 20:32] naveeng68 opened #9057 "http to https with ACM (AWS certificate)."
Hi, Could you please add feature to redirect http to https with   ACM (AWS certificate).
Like ingress controller we can give below conf to use ACM certificate.

like in ingress controller I passes in ingress service.yaml below surf:

kind: Service
apiVersion: v1
metadata:
  name: ingress-nginx
  namespace: ingress-support
  labels:
    k8s-addon: ingress-nginx.addons.k8s.io
  annotations:
    #ser

[2018-09-30 22:05] fooock opened #9058 "[Security] Update to Alpine 3.8"
**Describe the bug**
A security vulnerability was just released for Alpine's apk system. We should update the Docker images for the affected files to the new Alpine version.

See: https://alpinelinux.org/posts/Alpine-3.8.1-released.html

**Affected files**
* [docker/Dockerfile.go_generate_dependency](https://github.com/istio/istio/blob/master/docker/Dockerfile.go_generate_dependency)

[2018-09-30 22:32] Pajk commented on #9057
Duplicate of #6566 ?

[2018-10-01 16:11] ozevren commented on #9034
@ayj, could you follow up.

[2018-10-01 16:21] ozevren commented on #8772
Just following up on this. Any progress?

[2018-10-01 16:54] nmittler commented on #8924
dup of https://github.com/istio/istio/issues/8049

[2018-10-01 16:54] #8924 closed

[2018-10-01 16:59] ayj opened #9063 "Make Galley configuration metadata dynamically loadable"
Galley currently loads configuration resource metadata from a [hardcoded](https://github.com/istio/istio/blob/master/galley/pkg/metadata/types.go) [list](https://github.com/istio/istio/blob/master/galley/pkg/metadata/kube/types.go). Galley must be re-built and re-started to change per-resource metadata, e.g. group, version, kind. Instead of hardcoding this metadata, Galley can load it from a local

[2018-10-01 17:12] #8907 closed

[2018-10-01 17:12] ozevren commented on #8957
@irisdingbj could you take a look?

[2018-10-01 17:18] jmazzitelli opened #9066 "replace Service Graph with Kiali"
**Describe the feature request**

The Policies and Telemetry WG and the Tech. Oversight Committee voted to approve the replacement of Service Graph with Kiali. See the [proposal document here](https://docs.google.com/document/d/1k7_U7ioZ8-BjRkZWP2fojsX0kaPQW1YgJEuwqDerEvU/edit?ts=5baa9c99#)

This issue is to document this feature request.

As per the proposal document, some things that need to get

[2018-10-01 17:41] beorn7 commented on #8906
I have just merged https://github.com/prometheus/client_golang/pull/474 . With that one in, you should get the correct error message if your case still occurs with the current state of client_golang.

[2018-10-01 18:14] jmazzitelli commented on #9066
PR to add Kiali task is found here: https://github.com/istio/istio.io/pull/2715

[2018-10-01 18:36] quanjielin commented on #9035
change on ```local_credential``` is blocked by https://github.com/envoyproxy/envoy/issues/4578

[2018-10-01 18:55] jmazzitelli commented on #9066
PR to update Ansible installer is found here: https://github.com/istio/istio/pull/9069

[2018-10-01 19:10] nmittler opened #9070 "[test-framework] local mixer depends on helm"
I just ran into this on a new machine with no k8s setup. Running a local pilot test crashed because helm wasn't installed. The offending line in the local mixer is the call to `deployment.ExtractAttributeManifest()`.

[2018-10-01 19:17] ozevren commented on #9070
Helm is supposed to be setup during developer environment setup, right?

Without this, we need to make a snapshot copy of the attribute manifests, which will be prone to going out of sync.

[2018-10-01 19:21] nmittler commented on #9070
@ozevren I don't think we want to require that for out-of-the box local testing. Making a snapshot will be a bit of a maintenance burden, but it's better for developer experience.

[2018-10-01 19:30] ozevren commented on #9070
The problem with the developer experience is, when it goes out of sync, it is likely that it will be a failure point in somebody's attempt to write tests. It will be very hard to diagnose what is going on and fix it (i.e. recreate the snapshot).

Helm being missing is very easy to spot and fix. It should be a non-issue, especially for someone following the dev guide (if it is not there, we should

[2018-10-01 19:32] nmittler commented on #9070
If it goes out-of-sync, how much of a concern is this for local tests? And if it does go out-of-sync, wouldn't the offending PR also fail?

[2018-10-01 19:34] ozevren commented on #9070
When it goes out of sync, how do you diagnose it? It will be a head scratcher.

Generating it from the source of truth every time completely avoids the issue.

[2018-10-01 19:38] nmittler commented on #9070
It does, but it also requires that you follow the Istio steps for setting up helm.  If I have a fresh environment and I just want to build and test Istio for the first time, I shouldn't need anything beyond Golang.

[2018-10-01 19:40] ozevren commented on #9070
You already need Docker (and a slew of other things, which (scarily) might be getting installed without your consent). I don't think it is a big ask from the developers to have that.

As a compromise, we can extract the attribute manifest resource to its own template, and we can generate it directly without using Helm.

[2018-10-01 19:50] nmittler commented on #9070
You also shouldn't need docker for running locally. Most of the tools are going to be for the k8s environment.  One of the main advantages of the new framework is to simplify the developer experience (in particular the getting-started experience). The fewer extra steps in the setup, the better ... especially if they don't make obvious sense for running things locally.

That seems reasonable.

[2018-10-01 20:18] #9032 closed

[2018-10-01 20:44] ZackButcher commented on #4341
https://github.com/istio/istio/pull/8983, which will be 1.1, should help address this (by letting applications call out to other services while Envoy is starting up).

[2018-10-01 21:25] MrSaints opened #9074 "Helm value to configure affinity, and tolerations"
**Describe the feature request**

I'd like to bounce the idea of introducing new Helm "values" for setting the `affinity`, and `tolerations` for various deployments.

Our use-case for this is to _control_ where certain deployments are placed across our node pools.
There are certain deployments in Istio which we would consider as higher priority than others. As such, we may have a preference for pl

[2018-10-01 22:58] MrSaints opened #9076 "Helm value to configure TLS for `istio-telemetry-gateway`"
**Describe the feature request**

When `istio-telemetry-gateway` is enabled in Helm, there is no way to define TLS configuration for the generated gateway, and its virtual services.
Is this desirable? If so, how is `istio-telemetry-gateway` supposed to be used in practice?

**Describe alternatives you've considered**

Manually creating a gateway, and virtual services for Prometheus, and Grafana. T

[2018-10-01 23:02] andraxylia commented on #8462
@louiscryan @rshriram :

@ayj brought up a very good meta point, that the current networking APIs are vague/unspecified in relation to the namespace scope. It's not clear if they are limited to a namespace vs cluster-wide (single-cluster) vs mesh-wide. In some cases it may make sense to have more than one variant.

For Gateway:
The API says the selection is platform dependent and, for example, it'

[2018-10-01 23:28] hklai commented on #8839
@bianpengyuan what is the status? If this still needed for 1.0.3?

[2018-10-01 23:31] bianpengyuan commented on #8839
The fix has been merged into 1.0 branch, and it is needed for 1.0.3.

[2018-10-01 23:31] hklai commented on #8539
Status of all mentioned PRs/issues.

#8694 - Merged
#8546 - Addressed by #8827
#7488 - **Still open**
#6977 - Addressed by #8813
#8882 - Merged
#8839 - **Still open**.
#8981 - Merged

[2018-10-01 23:42] coreypobrien opened #9077 "Mixer metrics should instantaneous not historical"
Mixer's `/metrics` endpoint includes metrics from all historical configs instead of just the current config. This makes it difficult/impossible to accurately monitor for errors

Consider `mixer_config_rule_configs_total` and `mixer_config_rule_configs_total` as an example.
When mixer starts with well-formed rules, `/metrics` looks like this:

[code]

If you then apply a malformed rule (e.g. one wi

[2018-10-01 23:50] JimmyCYJ opened #9078 "Metric mixer_config_rule_config_error_count grows intermittently on Grafana Mixer dashboard."
**Describe the bug**
This metric grows and the error message at Mixer side is "adapters	adapter did not close all the scheduled daemons	{"adapter": "handler.kubernetesenv.istio-system"}"

**Version**
istio 1.0.2
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.7", GitCommit:"0c38c362511b20a098d7cd855f1314dad92c2780", GitTreeState:"clean", BuildDate:"2018-08-20T10:09:03Z", GoVe

[2018-10-01 23:51] hamelmoon commented on #8692
@anilkun  Check Istio Version. I had the same issue. I tried to upgrade Istio version (1.0.2).
And then It works!.

[2018-10-01 23:51] JimmyCYJ commented on #9078
cc @douglas-reid @mandarjog

[2018-10-01 23:57] #7593 closed

[2018-10-02 00:00] mandarjog commented on #8839
@bianpengyuan
reports that the problem still persists.

[code]

[2018-10-02 00:31] clyang82 opened #9079 "Upgrade kiali to version 0.8"
**Describe the feature request**
Kiali supports customized context path in the latest release - v0.8.
for more details, refer to https://github.com/kiali/kiali/issues/526

[2018-10-02 00:45] mandarjog opened #9081 "Enable coredumps via annotations"
At present coredumps are enabled or disabled globally.
Add a core dump annotation so that coredump can be enabled for a particular deployment.

[2018-10-02 00:48] jmazzitelli commented on #9079
Yes, this is being worked on - ansible installer upgraded: https://github.com/istio/istio/pull/9069

See this issue where the work will be getting done: https://github.com/istio/istio/issues/9066

[2018-10-02 00:50] leighyu1983 commented on #8184
Met the same problem on istio version 1.0.0 using k8s 1.11.0 and docker 18.06.1-ce. K8s cluster is setup using kubeadm.

[2018-10-02 01:06] bianpengyuan commented on #8839
The log suggests a different problem than what we originally thought. Seems like the handler in rule is not known by mixer. @theganyo Could you make sure the handler resources exist in istio-system namespace? (kubectl get apigee -n istio-system)

[2018-10-02 01:51] leighyu1983 opened #9083 "Status of istio pods are Pending after installation"
**Describe the bug**
After install istio (tried both 1.0.0 release version and 1.1.0 pre-release) on kubernetes cluster environemnt, pods status are in pending status rather than ready, tried several times, got the same result.

**Expected behavior**
Istio pods are in ready status.

**Steps to reproduce the bug**
1. Install docker ce on three vmware machines (centos 7.4 minimal)
2. Install k8s usi

[2018-10-02 03:31] mandarjog commented on #9043
1. What is the total amount of traffic in mesh? It is available in grafana on top left as global traffic.
2. What did logs from istio-proxy say in the pods that were dying? A pod that is not able to connect to pilot for any reason will show this behavior. Are there any config stream ended type messages?
3. You should do
Kubectl -n istio-system delete rules stdio  tcpstdio
4. Ordinarily should not

[2018-10-02 03:33] jmazzitelli commented on #9066
@jeffmendoza in the [proposal document](https://docs.google.com/document/d/1k7_U7ioZ8-BjRkZWP2fojsX0kaPQW1YgJEuwqDerEvU/edit?ts=5baa9c99#) we have this:

[code]

That is the last action item in this issue that needs to be started. Are you going to create a PR on this, or do you want me to do it? I assume it would simply involve added a deprecation notice on the top of the [Service Graph README.md]

[2018-10-02 03:48] jeffmendoza commented on #9066
Good to hear everything is moving along. I'll open the PR tomorrow morning.

On Mon, Oct 1, 2018, 8:34 PM John Mazzitelli <notifications@github.com>
wrote:

[2018-10-02 04:17] gyliu513 commented on #6661
/assign

[2018-10-02 11:40] jaygorrell commented on #9043
Thanks @mandarjog -- I'll spin up the test cluster today and get some answers on these.
1. I'll get the number when it starts failing but actual user traffic was 0... it was all from liveness probes.
2. The only thing I noticed was frequent 1000s instead of 200s from the http liveness probes. I still have all the logs in Splunk though but there's nothing with "config stream ended".
3. Will definit

[2018-10-02 12:50] javajon opened #9089 "istio-1.1.0.snapshot.1-win.zip missing bookinfo-gateway.yaml"
**Describe the bug**
The istio-1.1.0.snapshot.1-win.zip build artifact has a `samples/bookinfo/networking` directory, **but is empty**. The artifact istio-1.1.0.snapshot.1-linux.tar.gz does have a matching network directory, and that one is full of the expected files.  Previous releases of istio zips for Windows appear to have files in the networking directory.  For instance istio-1.0.2-win.zip ha

[2018-10-02 16:13] douglas-reid commented on #9078
I don't believe that the log message you have listed and the error count metric listed here are related. I believe the adapter not closing scheduled daemons is more accurately reflected in the daemons metric and the adapter closed metric. @ozevren can confirm.

I see some logs that include:

[code]

That is where I believe this metric growth is coming from.

@mandarjog these issues resolve after a

[2018-10-02 16:17] douglas-reid commented on #9077
@ozevren @ayj did we ever come up with a better way to represent a more universal config state?  Do we believe there is still value in tracking `configID`s within a Mixer instance?  I think this issue has been exaggerated by recent changes to the way Mixer is sync'ing config.

I'm happy to convert these metrics over to gauges (or equivalent) otherwise. We would still be able to track config errors

[2018-10-02 16:27] douglas-reid commented on #9056
@jaygorrell Can you please provide a bit more clarifying detail?

You say that you are trying to disable mixer, but I see `mixer.enabled=true` in your config.  The `global.proxy.accessLogFile` param is unrelated to mixer.

If the goal is to disable mixer, what value do you have for `global.proxy.disablePolicyChecks` ?  I think you want to set `global.proxy.disablePolicyChecks=true` if you are also

[2018-10-02 16:28] ozevren commented on #9077
The configID here is the internal config snapshot state of Mixer, it can easily be replaced by a time value as well. It is a label on the metric. I would have expected the querying system/UI to be able to filter on these to see the state for each individual config state.

It is not crucial to keep configID as is. It was meant to be a way to be able to detect and correlate config related problems t

[2018-10-02 16:31] douglas-reid commented on #9077
@ozevren ok. as i understand the reported issue, filtering on `configID` is possible, but in HPA or multi-mixer scenarios, this gets difficult as different Mixers start at different times and thus have independent `configIDs`. So, unless you are also filtering per pod in your query, summing over `configID` could lead to issues.

I'll take a look at removing `ConfigID`.

[2018-10-02 16:32] ozevren commented on #9078
Regarding log v.s. metric question, @douglas-reid is correct.

We can convert the metric to a gauge?

[2018-10-02 16:39] douglas-reid commented on #9078
@ozevren I'm thinking that is the right approach. Seems related to the `configID` work on the separate issue. I'll own this too.

[2018-10-02 16:40] jaygorrell commented on #9056
Hah, sorry about the copy/paste - the test was with `mixer.enabled=false` and this was taken after switching back. I suspect you're right though about `disablePolicyChecks` if the mixer flag doesn't handle that itself. I'll test shortly and report back.

[2018-10-02 17:05] mabushey commented on #8685
I must have had multiple problems, I have this working now, not really sure why or what specifically fixed this.

[2018-10-02 17:34] mandarjog commented on #9078
I think the problem is we are not distinguishing between startup errors (before Mixer serves any traffic) and config errors during normal operation.

Applying a rate function on a counter gives us gauge right?

[2018-10-02 17:47] jaygorrell commented on #9043
@mandarjog here's the traffic based on pod count (pods - ops):
[code]

I did delete the two rules you mentioned and that had a significant impact and pushed the issue a bit higher in pod counts. Around 900 pods now, I start getting the issues... again regardless of host count. The actual effect is a mix of responses between `Client.Timeout exceeded while awaiting headers`, `dial tcp 100.119.0.53:9

[2018-10-02 17:58] rshriram commented on #8462
can work only if https or TLS is used so that we can use SNI to differentiate. And if you do that, we already support this today. Multiple external services over port 443

[2018-10-02 18:09] mefarazath opened #9097 "Configuring an HTTP external authz service for EnvoyFilter resource"
**Describe the bug**

I am trying to enforce authorization for inbound traffic to the istio proxy. I used the "envoy.ext_authz" EnvoyFilter resource and implemented a GRPC server to do the authorization. Here is my working config

[code]

While going through the [envoy docs](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/ext_authz/v2alpha/ext_authz.proto#envoy-api-msg-config

[2018-10-02 18:35] hklai opened #9098 "Cherrypick #7944 back to master"
https://github.com/istio/istio/pull/7944 was merged to release-1.0 but it apparently was not merged to master (i.e. 1.1 and after).

A simple cherry-pick is no longer possible to due merge conflicts. Please help:

1. Check if it is needed is master.
2. If so, please cherry-pick and resolve conflicts.

[2018-10-02 18:39] mandarjog opened #9099 "Filter envoy access logs eg: prometheus scrapes"
Prometheus scrapes fill access logs we should filter them out.

From an inbound perspective, It is reasonable to log 5xx and 404NRs.
Other types of 404s are returned directly by the application and they do not need to be there.

For outbound 5xx and 404NR are important.

https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/accesslog/v2/accesslog.proto#config-filter-accesslog-v2-accessl

[2018-10-02 18:39] mandarjog commented on #9099
example prometheus logs
[code]

[2018-10-02 18:42] #6849 closed

[2018-10-02 18:42] ozevren commented on #9078
Gauge's value is set by code. The error count would be calculated during a
snapshot creation and will be set as-is.

On Tue, Oct 2, 2018 at 10:35 AM mandarjog <notifications@github.com> wrote:

[2018-10-02 19:03] hklai opened #9102 "Cherrypick #8138 back to master"
#8138 was merged to release-1.0 but it apparently was not merged to master (i.e. 1.1 and after).

A simple cherry-pick is no longer possible to due merge conflicts. Please help:

1. Check if it is needed is master.
2. If so, please cherry-pick and resolve conflicts.

[2018-10-02 19:18] ijsnellf opened #9104 "e2e tests for min/max TLS protocol version and cipher suite"
There are no e2e tests for min/max TLS protocol version and cipher suite. See https://github.com/istio/api/pull/645 and https://github.com/istio/istio/pull/9103

Go doesn't seem to have an easy way to use an older version of TLS so we can easily test this.

[2018-10-02 19:50] jsw commented on #3295
I have run into this issue as well.

```[xxx] [2018-10-02T16:12:44.409Z] "GET /glb HTTP/1.1" 503 UC 0 57 1 - "-" "GoogleHC/1.0" "ecb1c797-a58f-9c53-be4f-857bc2884456" "10.100.0.100" "127.0.0.1:3000"```

 It appears to affect apps running Node/express but not Play. `curl -v` indicates that The Node app responds with `Connection: keep-alive`, but the Play app does not send that response header. The

[2018-10-02 20:10] Stono opened #9107 "Host Header Limitation/Advice"
Hey,
I wouldn't say this is a bug, _per-se_, but it feels like something I shouldn't need to worry about if a service mesh was truly transparent.  I'm hoping someone can help / suggest some options that I'm perhaps missing.

Take this simple example, a user makes a request say to `www.example.com`, that hits nginx and nginx reverse proxies that request to app.  App receives that request with the h

[2018-10-02 20:27] Stono commented on #9107
Not sure how that helps?  Are you suggesting rewriting the Host header with the contents of X-Forwarded-Host?

[2018-10-02 20:29] rshriram commented on #9107
okay I am confused. can you show me a partial nginx config that causes the Host header to be rewritten to some internal service? There is no restriction in the inbound path on the hostname.. we allow wildcard `*`

[2018-10-02 20:35] ijsnellf commented on #4971
@sneko: the ability to remove response headers is being worked on here: https://github.com/istio/istio/pull/8340

[2018-10-02 20:46] Stono commented on #9107
I actually think I'm getting somewhere now... if I modify my `VirtualService` to have host entries for the external addresses:

[code]

And then leave nginx to send requests to the pod ip's directly, rather than to the service ip it works.  This is less than optimal really as it means nginx is constantly watching for pods rather than just using the service address.  I might get some input from the

[2018-10-02 21:02] Stono commented on #9107
OK for others coming across this problem (as I know a few people are doing nginx and istio)...

Just use: `nginx.ingress.kubernetes.io/service-upstream: "true"` and NOT `nginx.ingress.kubernetes.io/upstream-vhost`, and then in your VirtualService ensure you have the external `fqdn` in the `hosts` section and voila, istio compatible nginx.

[2018-10-02 21:06] ayushpateria commented on #7665
We are facing the same problem as well - whenever there is a pod restart, there is a spike in 503 responses on our gateway. Our gateway communicates with all the services using gRPC, and the retry solution above also doesn't seem to work.
@rshriram Does HTTPRetry work with gRPC services?

[2018-10-02 21:07] jnativio commented on #8279
stats-prom-bridge component was eliminated from Istio. By comparing the last build where this component was still present with one where it was removed, we can have an estimate of the gains in performance and cpu usage. Using the acmeair workload with a moderate traffic (20 jmeter clients), there is a gain of 7.5% in throughput and 10.8% less CPU utilization by Istio (including sidecars) for 1K tp

[2018-10-02 21:07] #8279 closed

[2018-10-02 21:15] #9107 closed

[2018-10-02 21:15] jnativio commented on #8273
Being addressed partially by #8818 .
One of the  items is already integrated (#8897 )

[2018-10-02 22:36] andraxylia commented on #8462
I think it will work for http and tcp as well on the assumption ServiceEntry is cluster-wide , and they configure a single ServiceEntry with resolution NONE or DNS, not two.

@seehait can you confirm? Aren't the two listeners that you get identical?

[2018-10-03 00:48] yangminzhu opened #9111 "Support custom attributes in Istio Authorization Policy"
Working on a doc to summarize our discussions, will update once it's ready.
/cc @rshriram @liminw

[2018-10-03 01:06] jaygorrell commented on #9056
No luck -- those two pods still seem to crash regularly. This was on a new cluster with only Istio running:
[code]

[2018-10-03 06:46] seehait commented on #8462
@andraxylia In config dump, their names are identical.

[2018-10-03 07:13] akshaymankar commented on #6700
The related PR seems to have been merged, so I am closing this.

[2018-10-03 07:13] #6700 closed

[2018-10-03 09:19] emedina opened #9113 "Sporadic 503 errors"
**Describe the bug**
I have a web application in a Pod running with an Istio sidecar and I get random 503 errors from the sidecar itself (Envoy) not even reaching the web application. This is happening with a very low demand. In the logs below you will see a request to an endpoint named `/logout` which is throwing the 503 error and not reaching the web application whatsoever.

**Expected behavior*

[2018-10-03 09:28] AWKIF commented on #6313
@deniskril  a bit late but this is my istio.yaml file from 1.0 version
you can grep for dev.kubernetes
[istio.yaml.tar.gz](https://github.com/istio/istio/files/2441413/istio.yaml.tar.gz)

[2018-10-03 09:46] isnuryusuf commented on #7174
+1 same issue with 1.0.2

[2018-10-03 10:51] lichuqiang commented on #7877
I did some investigation on the issue. For k8s secrets/configmaps files, we can not see the target file path in result events, for the target file is symlink to files under `..data` path, and system operates the `..data` instead:
[code]
Here the target file path is supposed to be "/test-configmap/test.conf", but when I update the configmap, it only watched events like these:
[code]

So for secrets

[2018-10-03 13:49] jnativio commented on #8273
Comparison of 2 Istio builds with 8897 (release-1.0-20180923-09-15) and without (release-1.0-20180922-09-15):

![image](https://user-images.githubusercontent.com/18554027/46414454-2251bc00-c6f1-11e8-8c2d-ddd622650a86.png)

![image](https://user-images.githubusercontent.com/18554027/46414475-2ed61480-c6f1-11e8-87f7-bbfc52009030.png)

![image](https://user-images.githubusercontent.com/18554027/46414

[2018-10-03 14:17] jordan-da opened #9115 "istio proxy logs - filtering?"
I would like to apply my own filters to the istio proxy logs to control the level of verbosity. All I am seemingly able to do is turn off the logs entirely or deal with the fire hose:

https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/values.yaml#L41-L43

Is there an in between? I realize I could turn off these logs and then use elastic search or something to filter the mixe

[2018-10-03 14:24] hypergig opened #9116 "istio proxy logs - filtering?"
I would like to apply my own filters to the istio proxy logs to control the level of verbosity. All I am seemingly able to do is turn off the logs entirely or deal with the fire hose:

https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/values.yaml#L41-L43

Is there an in between? I realize I could turn off these logs and then use elastic search or something to filter the mixe

[2018-10-03 14:37] #8804 closed

[2018-10-03 14:37] #8769 closed

[2018-10-03 14:41] MrTrustor opened #9117 "RPM package as available artifact"
**Describe the feature request**
I was able to expand an istio mesh to a Debian VM following [this tutorial](https://github.com/GoogleCloudPlatform/gke-istio-gce-demo/). This tutorial relies on the istio-sidecar.deb (available as an artifact in the github release page) being installed on the VM.
In reality, we need to expand the mesh to CentOS VMs, so I would need an RPM package.

**Describe alter

[2018-10-03 14:58] ijsnellf commented on #9012
The VirtualService looks fine. I assume you have configured a ServiceEntry for `laanc.prod.airmap.com`, as well as a Gateway?

If possible, consider upgrading to Istio 1.x.

[2018-10-03 15:06] ijsnellf commented on #8902
We'd need to expose metrics from Envoy. Taking a cursory look through the Envoy docs, the closest thing I see is `upstream_rq_pending_overflow`. But that is

See:
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/circuit_breaking

I wonder if it is something we can upstream into Envoy.

[2018-10-03 15:08] ijsnellf commented on #1440
This is no longer valid post 1.x. Closing...

[2018-10-03 15:08] #1440 closed

[2018-10-03 16:00] douglas-reid commented on #9056
@jaygorrell Ah, but now we have a different error:

` error initializing configuration '/etc/istio/proxy/envoy-rev0.json': malformed IP address: istio-statsd-prom-bridge`

I don't know what your configuration settings are for that value, but can you try: `global.proxy.envoyStatsd.enabled=false` ?

[2018-10-03 16:05] andraxylia commented on #8462
@seehait I got this part, but what about the rest? I wonder what causes the "confusion" in Envoy. Also, does it work if you configure a single ServiceEntry? Because if it does, we are left just with clarifying the scope of each API and improve the docs, and we can close this issue.

[2018-10-03 16:06] douglas-reid commented on #9098
I believe this is needed in master. I will work on the cherry-pick.

[2018-10-03 16:31] seehait commented on #8462
@andraxylia I didn't dig it deeper what's the cause of the envoy's confusion. Just noticed when I config two service entries with the same port, there is a connection problem from the envoy and the logs say something like draining. Just guess that istio is try syncing the listener A, then B, then A, ... frequently to the envoy, which may be a cause of the connection problem.

If I use single servi

[2018-10-03 17:03] nmittler opened #9118 "[test-framework] Errors deploying CRDs with new framework"
When deploying to k8s, if the CRDs have already been deployed I get the following error when starting up the environment:

[code]

If I run the following command and re-run, it's fine:

[code]

It seems that our shutdown of the environment by deleting namespaces is not quite sufficient.

[2018-10-03 17:03] nmittler commented on #9118
FYI @ozevren

[2018-10-03 17:44] knrc commented on #9117
@MrTrustor We have been developing RPMs and containers based on CentOS and RHEL, with the CentOS images currently available through docker hub.  The CentOS RPMs are being built on COPR with most of the istio components covered.  Would any of this help?

https://copr.fedorainfracloud.org/coprs/g/maistra/istio/build/797491/

Note we are using a different versioning scheme from upstream, the 0.2.0 re

[2018-10-03 18:20] cameronmoreau commented on #8319
Confirmed that istio 1.1.0.Snapshot.1 fixes the described issue 👍 Thanks!

[2018-10-03 18:20] #8319 closed

[2018-10-03 18:21] cameronmoreau commented on #8466
Confirmed that istio 1.1.0.Snapshot.1 fixes the described issue 👍 Thanks!

[2018-10-03 18:21] #8466 closed

[2018-10-03 18:29] lei-tang commented on #8466
The PR #7747 fixed this issue. Thanks for confirming that the fix works!

[2018-10-03 18:30] lei-tang commented on #8319
The PR #7747 fixed this issue. Thanks for confirming that the fix works!

[2018-10-03 18:33] ChamaraG opened #9119 "Unable to access pod via pod IP and port in node running pod"
**Describe the bug**
Service running in a pod is not available via pod IP and port on the Kubernetes node hosting the pod. The Kubernetes HTTP readiness checks on the pod fail.

On node running the pod:
[code]
On other node in the cluster:
[code]

**Expected behavior**
Service running in a pod should be available via pod IP and port from any Kubernetes host in the cluster.

**Steps to reproduce th

[2018-10-03 18:35] #6877 closed

[2018-10-03 18:36] eduardobaitello commented on #5989
I had the same problems, but I didn't want to disable health checks (for obvious reasons)...

Calling `rabbitmqctl status` inside the container (with sidecar) was returning:
[code]

So, **to fix this I added the missing "dist" [container port](https://github.com/helm/charts/blob/6853ad3641a16819e3f9fb0c5750533f8f6eb9fb/stable/rabbitmq/templates/statefulset.yaml#L84-L85) / [service](https://github.

[2018-10-03 18:58] cameronmoreau commented on #6984
I am assuming that the example listed above is specifying that both `g1` AND `g2` are required groups for the incoming JWT.
[code]

I was wondering if this functionality will extend to scopes as well, where both `foo.read` AND `foo.write` are required scopes, i.e.
[code]
In Istio 1.1.0 snapshot, applying the above example results in a `json: cannot unmarshal array` error.

Also, I've tried the fol

[2018-10-03 19:32] linsun opened #9121 "minimal istio still uses mixer filter"
Following our minimal istio install, and deploy the simple http bin example.   however mixer filter is still configured for the envoy.

$ istioctl pc listeners httpbin-6cc47b6f85-lg5ds -o json
[
    {
        "name": "172.30.37.107_8000",
        "address": {
            "socketAddress": {
                "address": "172.30.37.107",
                "portValue": 8000
            }
        },

[2018-10-03 20:00] cmcconnell1 commented on #8638
Hello All,

Curious if there's a way to configure/deploy Istio Ingress with L7 Term on the ELB using the ARN for a certificate (in AWS IAM)  similar to how it is done for kubernetes ingress-nginx?:

Ref: [Kubernetes ingress-nginx](https://github.com/kubernetes/ingress-nginx/blob/master/docs/deploy/index.md#aws)
Kubernetes ingress-nginx uses an Elastic Load Balancer (ELB) to expose the NGINX Ingres

[2018-10-03 20:07] lei-tang opened #9123 "Workload oriented policy enforcement"
**Describe the feature request**
Currently, Istio policy enforcement is service oriented, which has various problems (e.g., two policies of two services applied to the same workload). This feature is to support workload oriented policy enforcement.

**Describe alternatives you've considered**
Service oriented model.

**Additional context**
{{ Add any other context about the feature request here }}

[2018-10-03 20:09] cmcconnell1 commented on #6566
Hello All, +1 here, don't want to see this go stale.  Thanks

[2018-10-03 20:58] venilnoronha opened #9125 "Rule match doesn't work with OOT adapter"
**Describe the bug**
After following the [TCP Metrics](https://istio.io/docs/tasks/telemetry/tcp-metrics/) guide, I generated the following `rule` for my OOT adapter.

[code]

It however didn't produce metrics in my OOT adapter due to an issue in the `match` parameter. Changing `destination.service` to `destination.service.host` fixed the issue. Is this known/expected behavior?

**Expected behavio

[2018-10-03 21:04] kyessenov commented on #9125
FWIW, we've been actively deprecating `destination.service` in favor of `destination.service.host`. I am not sure if it continues to work, but a proper validation or warning is appropriate here.

[2018-10-03 21:16] rshriram commented on #6566
What exactly is the issue here? You can add these annotations to the ingress gateway service (via helm charts). Tls terminates at ELB and you get plain text traffic on port 80.

Isn’t this the same as setting up a normal plain text gateway on port 80 or whatever port you want (even 443).

[2018-10-03 22:35] JimmyCYJ opened #9127 "Need to capture metrics for timeouts between Mixer client and Mixer server"
**Describe the feature request**
We need to create metrics for timeouts between Mixer client and Mixer server, and capture these metrics. We used to have these metrics per cluster, but later we filter out cluster level metrics at Prometheus.

[2018-10-03 22:35] JimmyCYJ commented on #9127
cc @mandarjog

[2018-10-04 00:07] amyroh commented on #5453
Commenting out securityContext from deployment.yaml works for me.

=====
    spec:
#      securityContext:
#        runAsUser: 1001
#        fsGroup: 1001

[2018-10-04 00:41] cmcconnell1 commented on #6566
Hey @rshriram thanks for the response.
I don't see any notes or mention of how this can be done (using AWS IAM or AWS ACM certs) in any Istio docs.  If I'm missing something, would you mind pointing me to where I could find that?

Regarding annotations in the value.yaml file (or could be provided via command-line but is very messy and error-prone), could you please let me know if the below is corr

[2018-10-04 00:55] jmazzitelli commented on #9066
FYI: all Istio code PRs are merged. Only thing left to do before this is considered complete is for a review/approval/merge of the Task documentation - https://github.com/istio/istio.io/pull/2715

[2018-10-04 00:55] bianpengyuan commented on #8829
After taking a closer look at the mixer cpu profile of compiled in adapter and OOP adapter, most of increased CPU usage are from grpc transport between mixer and adapters. Protocol encoding does not consume much CPU. This specific test set up make the cpu consumption even worse because check cache is disabled and every check request invokes a RPC from mixer to the adapter. With check cache the cpu

[2018-10-04 01:09] mandarjog commented on #8829
@bianpengyuan batching remote report calls has been on the agenda. This clearly shows the importance of that. Thanks for doing this work, this is great.

[2018-10-04 01:33] andraxylia commented on #8462
thanks @seehait for the confirmation

The Envoy drain part is intriguing, and it's best to avoid it by not generating that type of config.

[2018-10-04 02:07] rshriram commented on #6566
You need to use istio-ingressgateway, not ingress.

[2018-10-04 03:17] gyliu513 commented on #9079
Cool, thanks @jmazzitelli and @clyang82

[2018-10-04 03:17] #9079 closed

[2018-10-04 05:01] itsrajivbansal commented on #8264
Thanks Shriram for reply. I am taking up this problem description further.

**Intention/Goal:**

**As per our understanding:**
- VirtualService in IstioPilot does not allow defining PerFilterConfig for a custom filters (maybe only possibility is through mixer attributes, but IMHO that limits the perfilterconfig capability to custom filter need shall be invoked after mixer filter)
- Mixer plugin ge

[2018-10-04 06:07] ayj commented on #9034
What @Nino-K suggested is correct. You need to provide a namespace prefix of the form <namespace>/<name> for non-mesh scoped authentication policy.

[2018-10-04 06:07] #9034 closed

[2018-10-04 12:31] kubaj commented on #6655
I agree, resources would get more readable. For example, my VirtualService resource has 200 useless lines because 10 services have 20 lines of the same CORS configuration.

Please, reopen this.

[2018-10-04 13:14] denniseffing commented on #6011
Can this be closed? As far as I can see, the current consistent hash load balancer allows (soft) session affinity across multiple replicas of the same backend service.

See https://istio.io/docs/reference/config/istio.networking.v1alpha3/#LoadBalancerSettings-ConsistentHashLB

[2018-10-04 13:47] 2dev2 opened #9138 "[HELP] kubernetes-dashboard exposing through istio [1.0.0] ingress --istio-ingressgateway"
**Describe the bug**
{{ kubernetes dashboard is running on port 443 but when i am exposing this service on 443 port  through gateways and virtual serices, getting 503 error, not working, for all port services are working, please suggest how to resolve this }}

**Expected behavior**
{{ kubernetes dashboard should work properly }}

**Version**
{{
istio:
Version: 1.0.2
GitRevision: d639408fded355fb90

[2018-10-04 13:50] 2dev2 commented on #9138
Actually its not a bug, I have raised this one on stack overflow (https://stackoverflow.com/questions/52645124/kubernetes-dashboard-exposing-through-istio-1-0-0-ingress-istio-ingressgatew) also,
Just need some direction how i can resolve this

[2018-10-04 14:34] mandarjog commented on #9043
Just to be clear, at 1000 pods, you see 468  rps traffic == (0.468 k ops) ? At that rate you will need  ( 0.468 * 0.4) 0.188 cpu cores for telemetry.

If the traffic is 468K rps then you will need full 188 cpu cores for telemetry. `8 x m4.2xlarge` only gives you 64 cpu cores.

@jaygorrell for large performance runs we use the following values.
https://github.com/istio/tools/blob/master/perf/twoPod

[2018-10-04 14:51] frankbu commented on #6011
Closing. ConstitentHashLB addresses this issue.

[2018-10-04 14:51] #6011 closed

[2018-10-04 14:53] vnugent opened #9139 "helm readme should instruct users to create istio-system namespace"
**Describe the bug**
Step 4 & 5 under [Install the chart](https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/README.md#installing-the-chart
) section give instructions to create secrets for Kiali and Grafana, but the istio-system namespace won't be created until step 6.

**Expected behavior**
there should be an instruction to create istio-system namespace prior to step 4 & 5.

[2018-10-04 15:14] buckhx commented on #8076
Adding another match uri accomplishes what you're looking for, though a bit more verbose

[code]

[2018-10-04 15:22] nmittler commented on #9118
I believe this only happens when the previous run didn't clean up for some reason. Perhaps if we're deploying, we should delete any CRDs before the push?

[2018-10-04 15:56] swistaczek commented on #7607
Is there any solution for this problem?

[2018-10-04 16:29] Wayne-Liu commented on #7233
I get the same issue.
in the events:
[code]

[2018-10-04 16:37] jaygorrell commented on #9043
Thanks @mandarjog. That's correct, this was just 468 ops... not thousands. So we should be good on cpu. Since I've also tried everything from 9 to 22 instances and the issue happens around the same pod count, I don't believe I'm hitting any cpu/memory constraints on the cluster. I'll take a closer look though and get your questions answered.

The values file you linked is for a small pod count (2

[2018-10-04 17:29] merlineus commented on #7607
@swistaczek you can use NLB instead of ELB https://github.com/istio/istio/issues/8337

But there is an issue in K8S if you run several clusters in same AWS region https://github.com/kubernetes/kubernetes/issues/69264

[2018-10-04 18:01] jaygorrell commented on #9043
900 Pods:
![screenshot 2018-10-04 13 46 12](https://user-images.githubusercontent.com/12174604/46492599-070fab00-c7dc-11e8-8b98-d838a26be4a8.png)

`kubectl --namespace istio-system top pods --containers`
[code]

[2018-10-04 18:12] MarcusCampos opened #9141 "[Question] Mixer and custom service authentication"
Hi guys,

I'm on a challenge using Mixer for authentication. I've already read all the documentation about Istio's authentication methods and services. But I haven't found one to solve my problem.

Here is my problem:

I need to do a service authentication for all my microservices deployed on Kubernetes. This service has all the logic that authorizes the request to go through and get to my microse

[2018-10-04 18:32] klarose commented on #8282
I think the request number is too low. For example, ingress gateway is at 50% of 80% *idle*. It's not doing anything, yet it is consuming "5m".  I don't think increasing the thresholds for the HPA is answer 80% seems like a fine number. The cpu request from the istio components needs to be more realistic.

For another example, my telemetry pods are using 20m pretty much idle. Because of this, the

[2018-10-04 18:57] facundomedica commented on #7607
I've changed the issue's title to make it more clear

[2018-10-04 19:09] jnativio commented on #8282
@klarose Our analysis is correct regarding the cpu requests being the reason for the immediate scale up without return. The question is why this parm was set so low for the Istio pods. Maybe it has to do with allowing the kube scheduler to place them without much restriction.

[2018-10-04 19:14] cmcconnell1 commented on #6566
Hello All,

Here are two methods I've validated to configure Istio Ingress using AWS IAM cert for 443 Listener on AWS ELB

[code]

**Manual kubectl Method 1**
Following the Istio docs in which we render Istio core components into a kube manifest file
[option-1-install-with-helm-via-helm-template](https://istio.io/docs/setup/kubernetes/helm-install/#option-1-install-with-helm-via-helm-template)

An

[2018-10-04 19:29] #5486 closed

[2018-10-04 19:33] RochesterinNYC commented on #8261
Might be related to https://github.com/istio/istio/issues/8616 ?

[2018-10-04 19:47] abuchanan920 commented on #6566
Not sure if this helps with the issue you were seeing with putting the timeout in, but I was getting that message with an attribute that required "true" and managed to get it working by putting it in as '"true"' (note the single quotes around the double quotes). Not sure if something similar would work for you here...

[2018-10-04 19:47] javajon commented on #9089
I just downloaded istio-1.1.0.snapshot.1-win.zip from the same location again and now the zip file download size is 15,310,410 bytes.  When I reported this defect the download zip was was smaller at  15,262,506 bytes.  It appears the file with the same version changed at some point between now and then.  Seems dangerous to have a process that can change the contents of published artifacts without

[2018-10-04 19:47] #9089 closed

[2018-10-04 20:23] kuberkaul opened #9142 "Istio not reporting https traces to jaeger"
**Describe the bug**
We have an container running with envoy sidecar proxy with service/deployment for port 443 using istio's own example : sample/https/nginx . We can curl the container to get nginx page just fine but see absolutely no traces in jaeger for https calls. We see http calls in jaeger as soon as we swich the port to 80 in deployment/service

**Expected behavior**
We should see traces

[2018-10-04 20:40] bianpengyuan commented on #8829
@mandarjog Batching of remote report calls does not help much. The encoded instance is not compressed and grpc has 4 Mb max message size limit, which makes each batch could only contain 5000 instances (5 mixer report calls from mixer client in this test setup basically).

[2018-10-04 21:05] JimmyCYJ opened #9145 "Need to support new test framework to allow command-line flags and select images to deploy."
**Describe the bug**
While migrating Citadel integration tests to new test framework, there are some issues found.
These integration tests only citadel and node agent, which could be deployed at a clean cluster.
TestCertificateRotation needs to pass a command-line flag to start Citadel, but the new test framework does not provide such functionality.
TestNodeAgent needs to deploy special images of

[2018-10-04 22:53] peterhaochen47 commented on #9034
I see. An empty "namespace" will result in a Policy envelope getting interpreted as MeshPolicy.
We are intergrating Istio with a platform where "namespace" is not yet a clearly defined term, so we are still figuring this out. Thanks!

[2018-10-04 23:41] liminw commented on #6984
@cameronmoreau The use case you mentioned is not supported currently. The ones you referred to above are all OR semantics instead of AND.

But I think we can extend our current semantics to support your use case. Here is what I have in mind. You can write the following configuration:
[code]

All the "properties" are ANDed together. However, the data structure under properties is a "map", so we nee

[2018-10-05 00:24] mandarjog opened #9150 "Feature: Application liveness and readiness probes with mTLS is enabled."
**Status**

all the PRs implementing the feature is now merged. You can wait for a daily build after 2019-0205 and follow instructions of https://preliminary.istio.io/help/ops/setup/app-health-check/#probe-rewrite to test. Please consider to provide feedback on how this feature works for your services to help us decide if we enable this by default, #10357

**FR description**

When mTLS is enabled

[2018-10-05 00:34] incfly commented on #9150
Thanks for filing the bug. One thing I'd like to confirm:

Since whether mTLS is turned on or not depends on runtime authn policy, I think it's okay to apply above steps for all injector, regardless whether mTLs is turned on or not, right? As long as we can make kubelet happy(it does not care the content AFAIK).

wdty?

[2018-10-05 00:37] incfly commented on #9150
/cc @wattli

[2018-10-05 02:02] nixgadget opened #9152 "Unable to get websockets (wss) working"
There isnt much documentation around getting Websockets to work from an injected sidecar. I came across this working example https://github.com/istio/istio/tree/master/samples/websockets but the same rules don't work in my case.

I have a Slack bot that uses websockets using Spring's `WebSocketConnectionManager` however I keep getting,

[code]

Works flawlessly without the sidecar.

My rules are g

[2018-10-05 07:02] MrTrustor commented on #9117
Hi @knrc, thanks for the answer!
We will take a look at what you have and report back. That may take a while though :-)

[2018-10-05 09:12] sachitaggarwal opened #9155 "Applying Route Rule not working"
Hello

I am trying out Istio on Google Kubernetes engine , i was able to succesfully deploy and test basic bookinfo application as mentioned here
https://istio.io/docs/setup/kubernetes/quick-start-gke-dm/

But now when i try to apply other routing policies my basic app stops working

I executed following command -
kubectl apply -f samples/bookinfo/networking/virtual-service-reviews-v3.yaml

yaml c

[2018-10-05 10:13] sachitaggarwal commented on #9155
This works now after applying original rule
- kubectl apply -f samples/bookinfo/networking/virtual-service-all-v1.yaml

But now fault tolerance examples are not working
yaml content >
[code]

Looks like tag for percentage has changed to 'percent' and there is no more child element value
i tried modified yaml like
[code]

[2018-10-05 10:15] naveeng68 commented on #6566
Hi @cmcconnell1,
as per your 1st example its attaching certificate but its not redirect to http to https
example: I defined  hostname under gateway is testservice.com
its open in both ways http:// testservice.com and https://testservice.com
I want if someone type http://testservice.com It should redirect to https://testservice.com
*****
my gateway.yaml is below
-------
apiVersion: networking.istio

[2018-10-05 10:16] naveeng68 commented on #6566
Hi @cmcconnell1,
as per your 1st example its attaching certificate but its not redirect to http to https
example: I defined hostname under gateway is testservice.com
its open in both ways http:// testservice.com and https://testservice.com
I want if someone type http://testservice.com It should redirect to https://testservice.com

my gateway.yaml is below
apiVersion: networking.istio.io/v1alpha3
k

[2018-10-05 10:28] focks commented on #8594
I am seeing the same issue. The pod logs says following
[code]
Thanks
Chandan

[2018-10-05 10:33] DaspawnW commented on #8526
Hi @denniseffing,

It seems to be related to the x-forwarded-ip but not to the custom header, or?

[2018-10-05 11:00] pepjo opened #9157 "Istio sidecar not allowing connection to database"
**Describe the bug**
Trying to connect to a Postgres database running inside Istio and kubernetes from a service inside istio, both with sidecars. Instead of allowing the connection the sidecar logs show:

[code]

**Expected behavior**
They should be able to stablish a connection.

**Steps to reproduce the bug**
- Deploy a postgres database + service
- Deploy a service that connects to the databas

[2018-10-05 11:41] objectiser commented on #9142
The problem is probably due to the port name, see https://istio.io/help/faq/traffic-management/#naming-port-convention

If you leave the port as 443, but change the name from `https` to `http`, it should work.

[2018-10-05 12:53] kuberkaul commented on #9142
@objectiser Im using istio -1.0.2 which supports https out of the container so I thought it should be good right especially since they have the same in istio docs themselves ..

Anyhow if I switch to `http-secure` for 443 I get following :

[code]
I believe because istio is sending this as http ?

[2018-10-05 12:56] sslavic commented on #8263
@diemtvu please correct me if wrong, it seems the PR https://github.com/istio/istio/pull/8468 was included in 1.1.0.snapshot.1 pre-release.

I've:
- installed that Istio pre-release on k8s 1.10 minikube with
  - `NodePort` instead of `LoadBalancer`
  - globally enabled mutual TLS in the mesh (`MeshPolicy` and `DestinationRule` as by https://istio.io/docs/tasks/security/authn-policy/#globally-enabl

[2018-10-05 12:56] nixgadget commented on #9152
As i forgot to mention the websocket address its `wss://cerberus-xxxx.lb.slack-msgs.com/websocket/...`

[2018-10-05 13:08] objectiser commented on #9142
I guess to be certain it would be worth changing the name to `https-secure` and seeing if that works again?

[2018-10-05 13:14] kuberkaul commented on #9142
@objectiser yup as soon as I switch to anything besides `http/http-` for the name , the curl works fine (200) but nothing on jaeger for trace.. Only request going on `http` show up on jaeger. E.g - if I have name `http` and I do :

[code]

fails but I see this trace on jaeger but nothing with https.

[2018-10-05 13:16] kuberkaul commented on #9142
<img width="408" alt="screen shot 2018-10-05 at 9 15 42 am" src="https://user-images.githubusercontent.com/2179966/46537423-45aa7180-c87f-11e8-85bf-23e838a14985.png">

[2018-10-05 13:41] objectiser commented on #9142
Looking at some of the code it looks like https is being treated differently to http/http2: https://github.com/istio/istio/blob/master/pilot/pkg/model/service.go#L228 - unclear why https is included in the `IsTCP` method instead of `IsHTTP`? Possibly one of the core maintainers can explain.

I tried to reproduce the problem using your instructions but it was missing the configmap `nginxconfigmap`

[2018-10-05 13:48] kuberkaul commented on #9142
@objectiser  - yup its also in the sample of istio docs : https://github.com/istio/istio/blob/master/samples/https/nginx-app.yaml

but from within mesh :

[code]

[2018-10-05 13:50] objectiser commented on #9142
Ok thanks - might not be able to try it out until next week - but hopefully someone else may know more information.

[2018-10-05 14:08] kuberkaul commented on #9142
@geeknoid @kyessenov ^ any input here ?

[2018-10-05 14:11] mandarjog commented on #9150
Ok, makes sense. We can always rewrite the health check even when mtls is off.

[2018-10-05 14:36] kyessenov commented on #6723
needed for sidecar-injected istio control plane

[2018-10-05 15:37] jnativio opened #9159 "Envoy memory leak on daily build master-20181004-09-15"
**Describe the bug**
Envoy has a severe memory leak on build master-20181004-09-15 when under load. Both the ingressgateway instances and the sidecars showed a continuously increase on memory usage during the regression patrol run, up to the point of using almost 100% of the memory available in the worker node and causing failures.

![image](https://user-images.githubusercontent.com/18554027/46544

[2018-10-05 15:48] asomya opened #9161 "Mixer policy multi-cluster installation helm charts"
**Describe the feature request**
With the mixer multicluster features being implemented, users need a way to install the mixer policy pods on a remote cluster.

**Describe alternatives you've considered**
Alternatives would be for the user/admin to manually spin up policy pods on the remote cluster while registering the main cluster's pilot and other required endpoints. This also requires configma

[2018-10-05 17:56] 21stio commented on #8076
@buckhx awesome, thanks man!

[2018-10-05 18:29] kyessenov commented on #9142
HTTPS is treated as TCP if it is not originated by istio, since it's completely opaque to istio (by design). We can only trace requests if we originate/terminate encrypted traffic.

[2018-10-05 19:41] geeknoid opened #9168 "Please migrate the Circonus adapter to use the out-of-process adapter model."
As described [here](https://groups.google.com/forum/?pli=1#!topic/istio-policies-and-telemetry/SiOJbZ_TDD8), we're in the process of deprecating Mixer's in-process adapter model. Please migrate this adapter to use the out-of-process model, and relocate the source code to your own repo.

Thank you.

@redhotpenguin

[2018-10-05 19:44] geeknoid opened #9169 "Please migrate the CloudWatch adapter to the out-of-process adapter model."
As described [here](https://groups.google.com/forum/?pli=1#!topic/istio-policies-and-telemetry/SiOJbZ_TDD8), we're in the process of deprecating Mixer's in-process adapter model. Please migrate this adapter to use the out-of-process model, and relocate the source code to your own repo.

Thank you.

@narehayrapetyan

[2018-10-05 19:46] geeknoid opened #9170 "Please migrate the dogstatsd adapter to the out-of-process adapter model."
As described [here](https://groups.google.com/forum/?pli=1#!topic/istio-policies-and-telemetry/SiOJbZ_TDD8), we're in the process of deprecating Mixer's in-process adapter model. Please migrate this adapter to use the out-of-process model, and relocate the source code to your own repo.

Thank you.

@awwithro

[2018-10-05 19:47] geeknoid opened #9171 "Please migrate the fluentd adapter to the out-of-process adapter model"
As described [here](https://groups.google.com/forum/?pli=1#!topic/istio-policies-and-telemetry/SiOJbZ_TDD8), we're in the process of deprecating Mixer's in-process adapter model. Please migrate this adapter to use the out-of-process model, and relocate the source code to your own repo.

Thank you.

[2018-10-05 19:49] geeknoid opened #9172 "Please migrate the SignalFX adapter to the out-of-process adapter model."
As described [here](https://groups.google.com/forum/?pli=1#!topic/istio-policies-and-telemetry/SiOJbZ_TDD8), we're in the process of deprecating Mixer's in-process adapter model. Please migrate this adapter to use the out-of-process model, and relocate the source code to your own repo.

Thank you.

@keitwb

[2018-10-05 19:51] geeknoid opened #9173 "Please migrate the SolarWinds adapter to the out-of-process adapter model"
As described [here](https://groups.google.com/forum/?pli=1#!topic/istio-policies-and-telemetry/SiOJbZ_TDD8), we're in the process of deprecating Mixer's in-process adapter model. Please migrate this adapter to use the out-of-process model, and relocate the source code to your own repo.

Thank you.

@girishranganathan

[2018-10-05 19:52] geeknoid opened #9174 "Please migrate the statsd adapter to the out-of-process adapter model."
As described [here](https://groups.google.com/forum/?pli=1#!topic/istio-policies-and-telemetry/SiOJbZ_TDD8), we're in the process of deprecating Mixer's in-process adapter model. Please migrate this adapter to use the out-of-process model, and relocate the source code to your own repo.

Thank you.