[2019-10-11 21:41] costinm commented on #17813
@howardjohn

[2019-10-11 21:56] nmittler commented on #17813
@costinm before we start creating tasks, can we have a kick-off for istiod and put together a rough roadmap and prioritize work? This is a big change and I think we need to take a step back and get on the same page.

[2019-10-11 21:59] kyessenov commented on #17813
It this slated for 1.4? There's only 3 days left till the freeze.

[2019-10-11 22:02] howardjohn commented on #17813
1.5 at the earliest

[2019-10-11 22:31] Nino-K opened #17814 "Optimize the the endpoint update in SyntheticServiceEntry controller"
We should not call configUpdate once the EDSUpdate has been triggered, also if a service changes is detected we should only call configUpdate and not the edsUpdate for individual endpoints.

https://github.com/istio/istio/blob/90b41f6426fa65c616d81cb1053a107a42f996f7/pilot/pkg/config/coredatamodel/syntheticserviceentrycontroller.go#L220

Depends on the completion of: #18416

[ ] Configuration Infr

[2019-10-11 22:31] brian-avery opened #17815 "Add support for OUT_DIR to istio.io test framework"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Currently, the istio.io test framework is hardcoded to create/use a directory called output in the test directory. Other tests in https://github.com

[2019-10-11 23:20] elfinhe commented on #15217
@ostromart I am thinking about extending istio.io/istio/pkg/kubernetes/client to solve this issue, sounds good? or we have someone building operator specific 'kubeclient code' mentioned in the original post.

[2019-10-12 00:16] rshriram commented on #17802
and @hzxuzhonghu

[2019-10-12 00:17] rshriram commented on #17802
how about adding in the Sidecar? like the way we have outboundtraffic policy..

[2019-10-12 00:17] rshriram commented on #17802
the only problem is that sidecar approach wont work for gateways..

[2019-10-12 00:21] rshriram commented on #17802
thinking more about it, ignore sidecar idea. What you want is finer grained locality setting per destination service, not per source. We have two api-sh options to support this configuration: destination rules which has lb settings, or service entries where you casn specify these service properties [we would have to support merging service entry data with k8s service data].

[2019-10-12 00:23] howardjohn commented on #17802
I think destination rule is the best choice here. We already have lb
settings, and we are already reading the DR (for outlierDetection) in the
locality lb code

On Fri, Oct 11, 2019 at 5:21 PM Shriram Rajagopalan <
notifications@github.com> wrote:

[2019-10-12 01:13] oke-py opened #17822 "`istioctl dashboard zipkin` causes an error"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
`istioctl dashboard zipkin` causes an error.
[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure

[2019-10-12 01:53] nkorange commented on #17750
@Nino-K I see, the configStore of Controller stores all the received data disregarding the incremental flag of the resource.

But for ServiceEntry, I think the subsequent handling process goes into:
https://github.com/istio/istio/blob/d987b85f52bb9fa5937caa6d590c31ed5ffc5882/pilot/pkg/config/coredatamodel/controller.go#L193

In that method, update/add/delete event is dispatched according to its Me

[2019-10-12 01:53] hzxuzhonghu commented on #17802
Make it in DR is feasible, previously i have tried.

[2019-10-12 02:03] lizan commented on #16030
Is there any gap between circle and prow? we're almost doing everything in prow now right? @PiotrSikora.

[2019-10-12 02:28] VenkateshSrini commented on #10568
I'm yet to verify the same

[2019-10-12 03:03] mancini0 commented on #15125
I suspect this is also breaking the grpc-web proxying functionality.

[2019-10-12 05:17] irisdingbj commented on #17767
This should already been fixed via https://github.com/istio/operator/pull/357

[2019-10-12 05:17] #17767 closed

[2019-10-12 05:24] kebe7jun commented on #17822
zipkin should in `istio-system` namespace, it seems that yours are in default.

[2019-10-12 05:38] oke-py commented on #17822
I used kubens and I was in istio-system namespace.
Avaialble commands other than zipkin worked fine.
[code]

[2019-10-12 05:46] kebe7jun commented on #17822
https://github.com/istio/istio/blob/master/istioctl/cmd/dashboard.go#L226

The label of zipkin should be `app=zipkin`, not `app=jaeger`

[2019-10-12 06:01] irisdingbj opened #17825 "Resources can not be deleted when proflie changes in ICP"
Change profile from `default` to `minimal` in my ICP CR, related resources can not be deleted.

[2019-10-12 06:04] oke-py commented on #17822
Oh, thanks. There is no pod whose label is `app=zipkin`.
[code]

[2019-10-12 06:34] oke-py commented on #17822
I wonder the installation step doesn't create zipkin pod.
However, this is another issue. I close this issue.

[2019-10-12 06:34] #17822 closed

[2019-10-12 06:59] #17750 closed

[2019-10-12 07:02] nkorange commented on #17679
@howardjohn  Thanks a lot. I will reorganize my test procedures and upload the results later.

[2019-10-12 08:37] PiotrSikora commented on #16030
Prow was quite unreliable until 2-3 months ago, so we had to rely on CircleCI.

Nowadays, I think that we can retire everything other than macOS builds.

[2019-10-12 08:55] nickbp opened #17826 "cache library segfault on 32-bit ARM and possibly others"
# Fix here: https://github.com/istio/pkg/pull/75

The `cache` library in `istio/pkg` trivially segfaults due to unaligned access when performing `atomic` operations.

Environment where the issue was encountered:
- Raspberry Pi 4: `Linux pi-03 4.19.66-v7l+ #1253 SMP Thu Aug 15 12:02:08 BST 2019 armv7l GNU/Linux`
- Go version 1.13.1

Per the [atomic library docs](https://golang.org/pkg/sync/atomic/#

[2019-10-12 09:00] hzxuzhonghu commented on #17753
@mandarjog Can you link the old pr?

[2019-10-12 10:21] doorkey commented on #16665
GKE 1.12 - using GITLAB AutoDevOps.
Hey guys. I got an email as well. I just updated the tag in deployment file from 0.5.2 to 0.8.0. I am having this error
2019-10-12 13:18:49.771 EEST
pkg/client/informers/externalversions/factory.go:117: Failed to list *v1alpha1.Order: the server could not find the requested resource (get orders.certmanager.k8s.io)

Any help?

Cheers.

[2019-10-12 11:29] jpatters commented on #17631
I solved it by adding mtls to my policy (which i thought was already being applied by the default policy i had in place):
[code]

Also check your destination rule and ensure that you have
[code]

But to be honest, I gave up on istio. It was just too fragile. I would change something seemingly unrelated and completely break everything. I was spending way too much time debugging issues that shouldn'

[2019-10-12 12:31] morvencao commented on #17825
@irisdingbj I'm not sure which resources can not be deleted when you switch profile from `default` to `minimal`, because in my env, it works well with latest master code:

1. Create the IstioControlPlane CRD to the cluster:
[code]

2. Build controller and run as process:
[code]

3. Create the IstioControlPlane CR to the cluster:

[code]

4. Check the IstioControlPlane CR after a while:
[code]

5.

[2019-10-12 13:29] ravigude commented on #13840
Any update on this issue ? This is impacting us to use istio on EKS

[2019-10-12 15:07] carlosedp opened #17827 "Istio generates duplicate tracing entries on Jaeger (same ID)"
**Bug description**

I've deployed a fresh minikube (based on 1.16) cluster on my computer with the following params:

[code]

After this, I've deployed Istio following the Quickstart instructions:

[code]

And then deployed the HTTPbin and Bookinfo sample applications. Whenever I look in Jaeger dashboard, the trace entries are duplicated even with same ID:

[code]

<img width="1598" alt="image" s

[2019-10-12 15:12] cober commented on #17810
We have observed the very same issue on 1.3.0, since it was happening on production, we had no time to debug it and needed to manually restart pods. All istio-ingressgateway (hpa kicked in - max. 5) instances were using 1 CPU. After restart, everything was back in normal order.

Latency:

![l1](https://user-images.githubusercontent.com/159293/66703483-68355d00-ed13-11e9-9dd9-0ee601e66c26.png)

[2019-10-12 15:13] geeknoid commented on #16030
Correct. All other repos are on prow and its working well. The only case it doesn't handle properly is non-Linux builds.

[2019-10-12 15:31] carlosedp commented on #17827
Adding cluster dump file.

[istio-dump.tar.gz](https://github.com/istio/istio/files/3720841/istio-dump.tar.gz)

[2019-10-12 15:47] objectiser commented on #17827
@carlosedp I think this may be an issue with Jaeger 1.12 - could you edit the `istio-demo.yaml` and change the `jaegertracing/all-in-one` image tag to 1.14?

[2019-10-12 18:19] mobamb opened #17829 "Istio end user authentication returning 401 UnAuthorized with correct jwt"
I am getting 401 errors after applying end user authentication for my backend api.

 fail: Microsoft.AspNetCore.Server.Kestrel[13]
      Connection id "0HLQF7KE6GPFE", Request id "0HLQF7KE6GPFE:00000002": An unhandled exception was thrown by the application.
System.Net.Http.HttpRequestException: Response status code does not indicate success: 401 (Unauthorized).
   at System.Net.Http.HttpResponseM

[2019-10-12 18:21] howardjohn opened #17830 "integ-new-install-k8s-tests_istio broken by istio.io tests"
See logs like https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17828/integ-new-install-k8s-tests_istio/1542

These tests are depending on istioctl being installed.

in test.mk there is a `grep` command to filter out tests, we should just skip the istio.io tests for the new installer test

[2019-10-12 18:22] howardjohn commented on #15864
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/322

[2019-10-12 18:34] howardjohn commented on #15456
Can you use https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#StringMatch

[2019-10-12 18:35] howardjohn commented on #12382
I recommend we do *not* increase the timeout. If the pod is so heavily loaded that it cannot return a response without timing out, it should not be marked as ready

[2019-10-12 18:49] #12543 closed

[2019-10-12 18:52] howardjohn commented on #16295
It doesn't look like its failing to connect to pilot, just pilot fails to send LDS response. This can be either due to Envoy not sendin the LDS request or Pilot not sending the LDS response. I suspect its the former. I have seen some cases like this when Envoy was overloaded (high memory usage) it would not send lds request

[2019-10-12 18:59] howardjohn opened #17831 "client-go 1.16 breaks Galley CRD watches"
Failures:
* https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17798/unit-tests_istio/2123
* https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17798/unit-tests_istio/2119
* https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17798/unit-tests_istio/2114

These are technically flakes since they don't happen all the time, but they happen pretty frequent

[2019-10-12 19:02] howardjohn commented on #17831
It would be great if someone more familiar with this code could help here. I think I have narrowed down to what goes wrong, but I am not sure why it goes wrong. Are we misusing the informer, is there a bug in the informer, is our test bad, etc?

[2019-10-12 19:04] howardjohn commented on #14317
You can edit mesh config for this value

[2019-10-12 19:04] #14317 closed

[2019-10-12 19:06] howardjohn commented on #16363
See issues like https://github.com/istio/istio/issues/5828 for more info

[2019-10-12 19:06] howardjohn commented on #16363
and https://github.com/istio/istio/issues/17739

[2019-10-12 19:07] #16100 closed

[2019-10-12 19:08] howardjohn commented on #13874
I think the github app is added, if I click apps on the channel github is there

[2019-10-12 19:10] howardjohn commented on #10858
It is normal for connection to close ever 5 min due to keepalive. If you want to change it the option is configurable. Based on this I don't think there is any action items here left

[2019-10-12 19:10] #10858 closed

[2019-10-12 19:11] carlosedp commented on #17827
Great, thanks @objectiser.
For future reference, I've patched the deployment with:
[code]

[2019-10-12 19:11] #17827 closed

[2019-10-12 19:12] mobamb commented on #17631
@jpatters - Hi Jordan, I am having an similar issue where i get 401 UnAuthorized in my dotnet core api when it makes a call to a backend api secured using this policy
apiVersion: "authentication.istio.io/v1alpha1"
kind: "Policy"
metadata:
  name: demopolicy
spec:
  targets:
  - name: api
    ports:
    - number: 80
  origins:
  - jwt:
      issuer: "http://52.167.226.107"
      jwksUri: "http://52

[2019-10-12 19:14] howardjohn commented on #15127
I don't think this is supported: all supported options are in https://istio.io/docs/reference/config/networking/v1alpha3/destination-rule/. I  don't see any way to configure this in envoy either

[2019-10-12 19:14] #15127 closed

[2019-10-12 19:21] howardjohn opened #17832 "istioctl describe fails with no ingressgateway"
I intentionally do not have an ingressgateway deployment, and this seems to break `istioctl describe`:

[code]

Exit code is 1.

At most this should be a warning I think

[2019-10-12 19:22] howardjohn opened #17833 "istioctl describe mtls status is confusing"
[code]

The line `Pilot reports that pod is PERMISSIVE (enforces PERMISSIVE) and clients speak -` is confusing to me.

* What does `clients speak -` mean?
* What does `pod is PERMISSIVE (enforces PERMISSIVE) ` mean
* I don't care that Pilot reports this

[2019-10-12 19:25] howardjohn commented on #11262
I believe this was fixed in a more recent version. Please try out a newer supported version (https://istio.io/blog/2019/announcing-1.1-eol/), and if you see this error please provide some reproduction steps. Thanks!

[2019-10-12 19:25] #11262 closed

[2019-10-12 19:26] howardjohn commented on #11527
Done #16922

[2019-10-12 19:26] #11527 closed

[2019-10-12 19:29] howardjohn commented on #16756
done

[2019-10-12 19:29] #16756 closed

[2019-10-12 19:31] howardjohn commented on #17811
FYI I marked this as a release blocker until we can verify that this is due to a bad test and not a bad code.

This can be resolved by
* Make the test pass
* Confirm this impacts mixer v2 only (alpha only so won't block release)
* Confirm this does not impact users

[2019-10-12 19:32] howardjohn commented on #15090
Once one more PR lands to simplify things a bit I'll create a doc on how to do this. All you need is docker and you can build exactly like we do for official releases

[2019-10-12 19:34] howardjohn commented on #14770
This is done via istio/release-builder

[2019-10-12 19:34] #14770 closed

[2019-10-12 19:37] howardjohn commented on #17533
Thanks for verifying this isn't an Istio issue. Looks like we are tracking the timeout issue in https://github.com/istio/istio/issues/17613 so I'll close this

[2019-10-12 19:37] #17533 closed

[2019-10-12 19:37] bianpengyuan commented on #17811
This is definitely a bug that affects mixer v2. I am debugging it now.

[2019-10-12 19:40] howardjohn commented on #17811
Is this only mixerv2 though? If so we can bump this down as we wouldn't
block the release for a mixerv2 issue (assuming its still alpha in 1.4,
right?)

On Sat, Oct 12, 2019 at 12:38 PM Pengyuan Bian <notifications@github.com>
wrote:

[2019-10-12 19:46] howardjohn commented on #17112
Remove the port name from the Service and it works. Not sure why

[2019-10-12 19:47] #17347 closed

[2019-10-12 19:49] thecodejunkie commented on #17638
@howardjohn Yes, I'm hoping I can install `istio-init` and then the other Istio resources sans `create-custom-resources-job.yaml`

[2019-10-12 19:49] howardjohn commented on #12394
Add release note to https://github.com/istio/istio/wiki/Release-Note-1.4-Draft

[2019-10-12 19:50] howardjohn commented on #8825
Are you planning to deprecate this in 1.4?

[2019-10-12 19:51] howardjohn commented on #13964
What is left to do here? Write tests?

[2019-10-12 19:54] howardjohn commented on #17246
I think this is in istio/operator

[2019-10-12 19:54] howardjohn commented on #17173
Need https://github.com/istio/istio/pull/17828 then just a PR to the dashboard

[2019-10-13 04:00] ayj opened #17835 "Citadel cannot rotate certs with plugged external CA"
Cert rotation fails with plugged external CA. The self-signed root check in `scrtUpdated` in workloadsecret.go fails to find `istio-ca-secret` and returns with an error without updating the cert.

The logs show a lot of the following:

[code]

[2019-10-13 04:39] JimmyCYJ commented on #17835
/cc @myidpt

[2019-10-13 04:56] howardjohn commented on #17245
done

[2019-10-13 04:56] #17245 closed

[2019-10-13 05:14] myidpt commented on #17835
I think we should not log this false alarm. Jimmy, can workloadsecret.go check if the system is using self-signed cert? if not, we should skip this.
In the near future, we will need to handle multiple Citadels be able to handle updated plugin certs. But that's a TODO.

[2019-10-13 05:43] JimmyCYJ commented on #17835
Yes, for plugin cert mode, we don't start root cert rotator.
Currently in the workload secret controller, it checks if root cert in local key cert bundle is the same as the root cert in workload secret. If they are not identical, the secret controller tries to fetch istio-ca-secret and reload root cert into local key cert bundle.

When Citadel is in plugin mode, the root cert in local key cert bun

[2019-10-13 06:48] nak3 opened #17837 "Service without selector does not work with mTLS when switching the endpoint"
**Bug description**

- When using [services without selectors](https://kubernetes.io/docs/concepts/services-networking/service/#services-without-selectors) with mTLS, we get `upstream connect error or disconnect/reset before headers. reset reason: connection failure` if switching the endpoint.
- This is an trick of [Knative Serving](https://github.com/knative/serving) porject. It changes the svc's

[2019-10-13 07:39] oke-py opened #17838 "examples of `istioctl dashboard` are outdated"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

examples of `istioctl dashboard` are outdated.
[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastruct

[2019-10-13 07:42] oke-py commented on #17838
This issue has been already fixed in #17824.

[2019-10-13 07:42] #17838 closed

[2019-10-13 11:08] xiaozhongliu commented on #17202
@gargnupur Thanks for replying, what config yaml files did you use, could you share with me?

[2019-10-13 12:32] alirajabi opened #17839 "Install Istio on namespace scope"
We are using a K8S cluster but we don't have cluster level permissions, So we can only create `Role` and `ServiceAccount` on our namespaces and we need install Istio only in our namespaces.

Operation team will accept to apply Istio CRD's on cluster for us, but we can't request for cluster admin permissions to install Istio.

We think if we change all `ClusterRole` and `ClusterRoleBinding` to `Rol

[2019-10-13 14:28] howardjohn commented on #17837
I'll try this out when I get time as well, but a few questions:

When you change this endpoint do both the httpbin1 and httpbin2 pods exist?

What endpoints does istio send before and after? `istioctl pc endpoints` will show this

Does pilot have anything in it's logs, especially about pod without endpoint or something similar?

[2019-10-13 14:35] howardjohn commented on #17831
possible root cause: https://github.com/kubernetes/client-go/commit/6d3b14b4683f1537e7d40f2f35272603978a0524#diff-286c55a095253db5414e9b7df89c5de2

[2019-10-13 15:29] mandarjog commented on #17231
Here is an example of v2 telemetry full metric
[code]

[2019-10-13 15:45] bianpengyuan commented on #17231
The meaningful diffs are:

1. mixerless fills `destination_service` with host header and `destination_service_name` with workload name, while mixer fills in service fqdn and short name.
2. mixerless does hot fill `permissive_response_code` and `permissive_response_policyid` which are from authn filter.
3. mixerless does not fill in `app` label.

[2019-10-13 16:34] nak3 commented on #17837
Yes, both exist.

The command get following error. (Sorry, I am new for the command so need some time for the debug.)

[code]

Following `pilot_no_ip` is related? Other that, I cannot see any clue.

[code]

[2019-10-13 16:52] howardjohn commented on #17837
The istioctl error can likely be fixed by using a newer istioctl client. If not you can run `pilot-agent request GET clusters` from within the istio proxy container. I'll try to reproduce this as well this week

[2019-10-13 19:58] mandarjog commented on #17231
Yes. Need to check if app label missing is specific to source ingress or also sidecars.
Need to see what app label is used by ingress.

[2019-10-13 21:07] ostromart commented on #17743
We need a bit more work on this. logtostderr is not the same as having errors show up in stderr.

[2019-10-13 21:21] sdake opened #17840 "istio operator has a namesapced scope IstioControlPlane that doesn't work"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
IstioControlPlane is a namespaced CRD, however, the deploy directory doesn't work when IstioControlPlane is namespaced to `istio-operator`.
**Affect

[2019-10-13 21:46] sdake opened #17841 "Istio operator deploys Istio - but complains about several rbac issues"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Istio standalone operator deploys but complains about several rbac issues.

**Affected product area (please put an X in all that apply)**

[ ] Confi

[2019-10-13 21:53] sdake commented on #17841
I am expanding the scope of rbac permissions for the operator.  There are several deprecated APIs used (in the installer?  Or the controller) that someone else should take on fixing.

Cheers
-steve

[2019-10-13 22:52] nak3 commented on #17837
Ah, yes. using a ewer istioctl did not have the problem. Here is the result.

<details>
<summary>BEFORE step 8</summary>

[code]

</details>

<details>
<summary>AFTER step 8</summary>

[code]

</details>

[2019-10-13 23:35] howardjohn opened #17842 "istioctl analyze (and validate) accidentally log deprecation warnings"
[code]

Reproduce by applying this yaml:

[code]

[2019-10-14 01:15] #16170 closed

[2019-10-14 02:19] dumindu opened #17846 "No such object: istio-release/releases/1.3.2/charts/ in storage.googleapis.com"
**Bug description**
I am in the very beginning and I followed https://istio.io/docs/setup/install/helm/

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[x] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected beha

[2019-10-14 03:49] howardjohn commented on #17846
seems to be there? https://gcsweb.istio.io/gcs/istio-release/releases/1.3.2/charts/

[2019-10-14 03:56] dumindu commented on #17846
My mistake! I have used helm 3 beta. Shifted to v2 and run

[code]

It worked!

[2019-10-14 03:56] #17846 closed

[2019-10-14 04:31] bianpengyuan commented on #17231
Actually I miss read the diff a bit. `app` and `version` labels are missing in mixer metrics, not mixerless metrics. Looks like prometheus adds those implicitly during scraping, so we just need to fix the first two diffs.

[2019-10-14 05:37] irisdingbj commented on #17825
Tried using latest master code and this scenario works!

[2019-10-14 05:37] #17825 closed

[2019-10-14 06:48] farcaller commented on #13339
I believe the docs aren't updated yet.

[2019-10-14 07:41] yacut opened #17848 "mesh manifest apply missing istio-security-post-install and istio-grafana-post-install jobs"
**Bug description**
Istio post-install jobs are missing if istio is installation via [operator](https://istio.io/docs/setup/install/operator/).

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] D

[2019-10-14 07:45] yacut commented on #17469
I can confirm that the version 1.3.3 fixes this issue 🎉

[2019-10-14 07:52] yacut opened #17849 "`istioctl version` does not show build info it istioctl installed via HomeBrew"
**Bug description**
`istioctl version --remote` is broken if the istio is installed via [operator](https://istio.io/docs/setup/install/operator/).

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[

[2019-10-14 09:24] morningspace commented on #17795
After spent lots of hours, finally figured out why this is happening...

The problem for OpenShift 4.2 installed using CodeReady Containers is that, the default dirs used to store CNI plugin binary and configuration are changed, from:
* /opt/cni/bin
* /etc/cni/net.d
to:
* /etc/kubernetes/cni/net.d/
* /var/lib/cni/bin

This can be verified by checking `/etc/crio/crio.conf` where in OpenShift 4.2, i

[2019-10-14 09:25] morningspace commented on #17795
Closing it as it's been resolved by myself...

[2019-10-14 09:25] #17795 closed

[2019-10-14 11:04] fcantournet commented on #12549
I might be missing something but I don't see how this is applied to the ingress-gateway ?
this seems hardcoded here :
https://github.com/istio/istio/blob/f772ceea87ae58896e1eabe2cf83ebfd8c54bf6d/pilot/pkg/networking/core/v1alpha3/gateway.go#L358

[2019-10-14 11:10] mc1711 commented on #16851
@MVJosh  have you had any luck with this issue?

[2019-10-14 11:33] lhotrifork commented on #17139
@kyessenov can you use the logs from https://github.com/istio/istio/issues/17139#issuecomment-539463425 ? Otherwise I will try to get some logs for you - but it's difficult because it will impact our development cluster and in turn all development processes.

[2019-10-14 12:08] EPinci opened #17850 "No access logs for dropped HTTPS/TCP traffic"
**Bug description**
Enabled egress filtering (mode: REGISTRY_ONLY) and access logging (accessLogFile: "/dev/stdout") per https://istio.io/docs/tasks/traffic-management/egress/egress-control/.
I confirmed traffic egress is getting blocked by default on sidecar-injected pods.

I expected traffic all drops to be stdout logged in the istio-proxy sidercar.
What I can actually see is that only HTTP drop

[2019-10-14 13:10] MVJosh commented on #16851
No luck so far

[2019-10-14 14:13] esnible commented on #17849
You are concerned about `client version: unknown`.  I believe `istioctl experimental manifest apply` installs the control plane, but does not replace the command line with a different version.  I expect you would see the same output for `ls -l $(which istioctl)` before and after applying a new version using operator.

[2019-10-14 14:32] esnible opened #17852 "`istioctl version` does not show a single control plane version in Istio 1.3.2"
Using Istio 1.3.2, `istioctl version` shows the control plane information like this:

[code]

It is expected that it would show only

[code]

The internal logic does not combine entries if the Git Tags don't match, even if the versions do.  For Istio 1.3.2, the IngressGateway has GitTag 1.3.2 but the rest have 1.3.1 (see with `istioctl version -o json`)

Istioctl gets these from the control plane

[2019-10-14 14:33] howardjohn opened #17853 "pilot-agent hot restarts end up in a bad state"
[code]

... repeat forever ...

`ps aux` shows Envoy is running, as does netstat

[code]

But it is completely unresponsive to any requests on localhost:15000, curl fails with:
[code]

on `127.0.0.1:15000` it just hangs forever, no message

:15020/healthz/ready (pilot agent) responds fine

This happened to all 3 of my ingressgateways at the same time

[2019-10-14 14:34] howardjohn commented on #17853
Sidecars appear to be fine, I am on version `1.4-alpha.da4339e8974e1d7e964bba560893eb21f9845d5e`. Restarting one ingress to see what happens

[2019-10-14 14:35] mandarjog commented on #17811
@bianpengyuan lets update the test and doc to use separate vm_id per direction.
I think that will solve this problem.

[2019-10-14 14:39] esnible commented on #17806
@sushicw @ozevren Should Istio
- lower this to "info" or "fyi" level, then not show that level unless requested?
- Remove this message
- have the user tell us his intentions about namespaces using flags?

[2019-10-14 14:40] howardjohn commented on #17852
GitTag has always been != version

But it sounds like that is not the problem, rather different control plane artifacts have a different gittag
Which is likely the ingressgateway
See https://github.com/istio/istio/issues/13602. The reason ingressgateway is different is because the image was manual built

[2019-10-14 15:03] nennete commented on #15616
@dhineshbabuelango  Any update on this issue? Thanks

[2019-10-14 15:18] #17852 closed

[2019-10-14 15:39] esnible commented on #17842
@howardjohn Thanks for finding this.  The problem is not unique to `istioctl analyze`, I see the same thing in `istioctl validate`.  Changing title.

To reproduce with `istioctl validate`:

[code]

[2019-10-14 15:42] esnible commented on #17842
@sushicw This is caused by your work to bring in existing Istio validations: https://github.com/istio/istio/pull/17770

@howardjohn @ozevren The bigger problem is there is a disconnect between what we want when running on a control plane pre-Analysis framework, and what we want running in a CLI with an Analysis framework.

There are several ways to solve this.

- Eliminate all `log.Warn()` in vali

[2019-10-14 15:43] howardjohn opened #17856 "Prepare release-1.4 branches"
This issue aims to track all steps needed to prepare the release 1.4 branches/builds.

Please add all steps taken here so we can document for future releases

- [x] (Optional) Update go dependencies. This must be done **before branching** so that PRs can be easily backported later. (owner: @ericvn) _See discussion below if this should be a pre or post branch item._
  - [x] istio/istio - https://gi

[2019-10-14 15:44] #16936 closed

[2019-10-14 16:00] Freyert commented on #17810
Thanks @cober! Good to know I have a friend out there. We'll keep you posted as its running in our staging environment.

Personally, I'm not sure where the best place to start looking is. Are there Envoy/Istio specific metrics I can look into here? Some prime suspects?

[2019-10-14 16:01] howardjohn commented on #17842
Seems like we should just disable logs on all Istioctl commands, do we ever want logs? Seems like logging is a server thing, explicit printing is a CLI thing, and we never really want them mixed?

[2019-10-14 16:02] nmittler commented on #17853
@howardjohn do you know if this was an issue prior to https://github.com/istio/istio/pull/17729?

[2019-10-14 16:12] howardjohn commented on #17853
@nmittler this is my first time seeing it and I have been running master builds for a while. It definitely was not an issue before my PR landed, but I don't think I can say conclusively it was working between my PR and yours.

[2019-10-14 16:19] rlenglet commented on #17856
@howardjohn s/1-3/1-4/

[2019-10-14 16:23] sushicw commented on #17842
@esnible @howardjohn
This behavior exists for `istioctl validate` in 1.3 as well, actually.

The exception that comes to mind is debugging. While as a user I never want to see logs, as a dev it's very useful to be able to use the `--log_output_level` controls to get a clearer view of what's going on in the tool.

The default log level of INFO can be overriden per-scope here: https://github.com/ist

[2019-10-14 16:23] ericvn commented on #17856
To upgrade to the latest version for all direct and indirect dependencies, using the latest patch releases, of the current module, the following can be run from the module root directory: `go get -u=patch -t ./...`

[2019-10-14 16:45] howardjohn commented on #17853
Some more logs

[code]

[code]

[2019-10-14 16:53] howardjohn commented on #17853
Getting errors like https://github.com/istio/istio/issues/14920 now
[code]

[2019-10-14 17:14] abhijitherekar commented on #17667
ok, I made it work but, it looks like a BUG in ISTIO.
Currently, only way to make to work it is through declaring the external-auth server as a Sidecar or declaring the external-auth server ports in pod spec.

Doesn't look like a right way to config a external auth.

@rshriram  Please, let me know your thoughts on this.

Thanks.

[2019-10-14 17:18] barrowkwan commented on #8807
I have same issue here.  @hdimitriou how exactly you implement the extra port (31400)? any help will be appreciated .  thanks

[2019-10-14 17:35] howardjohn commented on #17849
Yes you likely installed istioctl from `go get` or `make istio-install` or something similar rather than the official release binaries which include version info

[2019-10-14 17:53] sushicw opened #17861 "`istioctl analyze` should allow output to be filtered on message level"
istioctl analyze should allow users to specify an output level, so they can ignore INFO or WARN messages.

e.g. https://github.com/istio/istio/issues/17806

[2019-10-14 17:58] sushicw commented on #17806
I'm new enough to the project that I'm not 100% sure what will be most helpful to users, but my instinct is that this is probably something we want to show by default but be able to opt out of. It certainly seems like a great candidate for annotation-based suppression.

Controlling the level of output is also something we need. Created https://github.com/istio/istio/issues/17861 to track that spec

[2019-10-14 18:00] howardjohn commented on #14920
I can reproduce this 100% pretty easily now by setting CPU limit lower than usage and getting a lot of SIGKILLs sent. I think epoch 1 starts and epoch 0 crashes taking them both down. Seems mostly harmless since we would want the pod to exit anyways

[2019-10-14 18:04] sushicw commented on #17809
The order right now is determined by the order the analyzers run in, and then whatever happens inside analyzers to determine output. (Which, in some cases, involves map / set structures with no particular order defined).

Adding a sort makes sense and seems straightforward.

[2019-10-14 18:09] incfly commented on #14524
One more thing to verify after feature complete

Our grafana dashboard w.r.t mTLS is still showing correct data. Currently it's referencing the mixer attribute `connection.mtls`. This attribute is set via mixer [filter](https://github.com/istio/proxy/blob/master/src/envoy/tcp/mixer/filter.cc#L201). At the connection level.

Our new approach, per endpoint mTLS, will still work, since per connection

[2019-10-14 18:14] esnible commented on #17849
I just verified that `brew upgrade istioctl` created a directory _/usr/local/Cellar/istioctl/1.3.3_ on my Mac and installed a version of _istioctl_ there which reports that client version as `unknown`.

@yacut can you confirm how you installed `istioctl`?  Via homebrew, from source, etc?

I am not familiar with how `brew` figures out that Istio is on 1.3.3 and builds a binary without a version num

[2019-10-14 18:19] sushicw opened #17862 "`istioctl x analyze` should return useful exit codes"
The istioctl command for analysis should return a nonzero exit code if:

* Any analyzers fail / generate messages
* Any analyzers are skipped because input resources were not available.

These should be different codes. The latter case will need to work in conjunction with #17443, which allows a subset of analyzers to be specified. (Specifying a subset should not be treated as a skip).

Discussed

[2019-10-14 18:22] howardjohn commented on #17849
How does brew build istioctl? We are not doing anything as part of our
official release pipeline, is it maintained by third party?

On Mon, Oct 14, 2019 at 11:15 AM Ed Snible <notifications@github.com> wrote:

[2019-10-14 18:25] sushicw opened #17863 "Analysis framework should generate metrics when run from Galley"
In addition to writing to the status field when `enableAnalysis` is on in Galley, we should emit metrics and make sure that they are easy to discover / plug in to by default.

[2019-10-14 18:31] esnible commented on #17849
@howardjohn See https://github.com/istio/istio/issues/10484 for background.

The code that does the work is at https://github.com/Homebrew/homebrew-core/blob/master/Formula/istioctl.rb

The maintainer for that bit of code seems to be a bot.

[2019-10-14 18:38] esnible commented on #17862
@sushicw Do you have someone in mind for this work?

[2019-10-14 18:47] sushicw commented on #17862
Myself by default, but I'm not picking it up immediately and wouldn't mind if someone else beat me to it.

[2019-10-14 19:16] yacut commented on #17849
@esnible Yes, I installed istioctl via homebrew

[code]

[2019-10-14 19:58] ericvn commented on #17856
I did do some initial testing of updating the go modules across the repos listed above with draft PRs:

- **istio** is still failing some tests. I suspect it might not have liked _prometheus_ updates. Continuing to look at that.
- **installer** and **operator** had no new updates
- I can't get **cni** to get through a `go mod tidy` or `go get -u ...`
- **pkg** and **api** are passing
- **tests** i

[2019-10-14 20:53] esnible commented on #17272
@ozevren I added Deployments as you suggested.  It was more difficult than you suggested.  The Commit is https://github.com/istio/istio/pull/17714/commits/676f6d200d54e1ef2139eaa2e8a798ebdda90b8b

Some of my difficulties may have been caused by leaving off the optional `group:` field in a .yaml due to not remembering that Deployments have a group but Pods do not.  This led me down the path of addi

[2019-10-14 21:02] esnible commented on #17849
This seems to be another report of the comment https://github.com/istio/istio/issues/10484#issuecomment-450879610 which was closed.

@murarisumit Can you look at what it would take to get the client version built into the binary?

Because we don't built the binary ourselves we probably shouldn't have Homebrew put an official Istio release number into the Version.  Perhaps we can set the env variab

[2019-10-14 21:14] sdake opened #17868 "controller has odd sematnics when dealing with conflicts"
Specifying a cr manifest such as
[code]
fails.  I see no reason why this custom resource should fail.

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructu

[2019-10-14 21:28] elfinhe commented on #17649
upgrade subcommand PR: https://github.com/istio/operator/pull/348

[2019-10-14 22:23] sushicw commented on #17595
https://github.com/istio/istio/pull/17869 solves point 2. Point 1 remains future work.

[2019-10-14 22:46] gargnupur commented on #17202
I used this one and changed the ip to the one you suggested: https://github.com/istio/istio/blob/master/samples/bookinfo/policy/mixer-rule-deny-ip.yaml

[2019-10-14 22:50] mgwizdz-jamf commented on #17752
@bianpengyuan yeah right now it works fine for me too. Thanks for help

[2019-10-14 23:36] elfinhe commented on #17799
@ostromart Hi Martin, what's your take on this?

[2019-10-14 23:45] selmanj commented on #17560
Ok, so I think the analyzer as implemented by Kiali might be overly restrictive. The example given shows two gateways bound to the same host `"*"`. Something like:
[code]
While this looks like it might be an error, it's not problematic in practice. I can define virtual services and bind them to each gateway, and they continue to work. I believe this is because pilot merges gateways into a single r

[2019-10-14 23:47] incfly commented on #14524
Action item, ensure the transport_socket_matches `total_match_count` is not dropped by default. I didn't see this during development (15000/stats), suspect our bootstrap drop the metrics...

[2019-10-14 23:48] sushicw commented on #17560
@nrjpoddar Neeraj, any thoughts on this?

[2019-10-14 23:57] rlenglet commented on #17765
1.3.3 has been released and announced: https://istio.io/news/2019/announcing-1.3.3/.

[2019-10-14 23:57] #17765 closed

[2019-10-15 00:12] selmanj commented on #17805
Verified. I didn't know you could override sidecar injection with an annotation.

As an aside, is this desirable? If my mesh administrator has enabled namespace injection on my namespace (and presumably I don't have access to edit the namespace), it seems I could avoid sidecar injection on my deployment by adding this annotation with a bogus image.

[2019-10-15 00:20] selmanj opened #17872 "istioctl analyze should return a non-zero status code when issues are found"
This supports using the command in a CI-style environment.

It's probably a good idea to also support a non-zero status code on errors only via a command line flag.

[2019-10-15 00:21] howardjohn commented on #17805
That's a good point. I don't think Istio has any effort to strictly guarantee a pod is injected and has iptables set up. There are plenty of other annotations that allow bypassing Envoy for example. If the administrator really wanted to I think they could block these annotations?

[2019-10-15 00:25] pitlv2109 opened #17873 "Trust domain should be set using ConfigMap"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Trust domain should be set using ConfigMap. Currently, the trust domain in various Istio components like Citadel and Pilot is set using command line arguments.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrast

[2019-10-15 00:28] howardjohn opened #17875 "SafeRegex: need script to determine impact"
We should create a script to determine if a user may be impacted by https://github.com/istio/istio/pull/17490. This would entail something similar to `kubectl get virtualservice --all-namespaces -ojsonpath='{..regex}' and smoke checking each regex used

[2019-10-15 01:19] #17127 closed

[2019-10-15 01:39] hzxuzhonghu commented on #10659
Now we have supported headless service instances listeners and split inbound and outbound listener,  i think this has been fixed. @rshriram @lambdai Could we close this?

[2019-10-15 01:54] dhineshbabuelango commented on #15616
@nennete I was using a wrong docker image for kubectl in isito which caused this issue. its fine now.

[2019-10-15 02:37] rshriram commented on #10659
yep

[2019-10-15 02:55] truongnh1992 opened #17880 "Running Envoy proxy through CRI"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
When upgrading Istio sidecar:
In order to change the sidecar container, the pod needs to be restarted, so the application container will be restarted as well => it will cause downtime for that specific pod.

In order to change the sidecar container

[2019-10-15 03:09] hzxuzhonghu commented on #10659
/close

If anyone has some other issue, feel free to reopen it.

[2019-10-15 06:10] johscheuer commented on #16615
I didn't see this note but you are right the docs actually state this already. I would prefer to move this "warning" more at the top of the docs to be more prominent.

The main from my point of view is that conformance tests shouldn't be disruptive (like the Kubernetes ones) otherwise you will never be able to run a conformance test on a running cluster which was our idea.

[2019-10-15 08:16] Docteur-RS opened #17882 "istio-sidecar.deb (1.3.3) is not a debian format archive"
**Bug description**
Installing istio-sidecar.deb (1.3.3) is not working with the following error message :
[code]
**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expe

[2019-10-15 08:24] morvencao opened #17883 "The deletionTimestamp and finalizers fields are always nil in the IstioControlPlane instance"
The controller can’t get `deletionTimestamp` and `finalizers` from the IstioControlPlane instance, while they do exist, because I can get the instance from api-server with kubectl:
[code]

Generally, after the end-users delete the IstiocontrolPlane CR with kubectl, the `deletionTimeStamp` will be added to the IstiocontrolPlane CR, and the controller will start to handle the `finalizers`.
The curre

[2019-10-15 08:28] morvencao commented on #17883
The issue should be relevant to the tags generated by protobuf.
As `jsonpb` and `json` libs are using separate tags in the generated go struct;
while we can’t handle json tag for some fields, eg. `deletionTimestamp` and `finalizers`.

[2019-10-15 08:30] YuraBeznos commented on #17728
@lei-tang yes, it can be reproduced.
[code]
[code]

[code]

And something like this:
[code]

It took 4 days to reproduce it and finally I've got:
[code]

After this `citadel` doing nothing.

[2019-10-15 08:39] ckcd commented on #17383
update istio to 1.3.3 but still get errors: my grpc client <--> server still get some `erorr_msg:OS Error` and tcp `Reset`, and the logs of istio-proxy still has:
[code]

[2019-10-15 08:39] ckcd commented on #17139
update istio to 1.3.3 but still get errors: my grpc client <--> server still get some `erorr_msg:OS Error` and tcp `Reset`, and the logs of istio-proxy still has:
[code]

[2019-10-15 08:41] #17842 closed

[2019-10-15 08:42] YuraBeznos commented on #17728
I've added istio-dump: [istio-dump.tar.gz](https://github.com/istio/istio/files/3728203/istio-dump.tar.gz)

[2019-10-15 09:27] gustavovalverde commented on #10770
@douglas-reid the given answer is not working on istio 3.1 This issue should be reopened.

[2019-10-15 09:30] #17832 closed

[2019-10-15 09:41] hzxuzhonghu commented on #17139
@ckcd This log is normal. The grpc connection proxy----pilot disconnects at a period of 30 minutes by default

[2019-10-15 09:47] hdimitriou commented on #8807
@barrowkwan by default this already exists from the helm chart on the [gateways' values](https://github.com/istio/istio/blob/4170e2e2bd27e4d5b6e585fde8bfe9cce9d45ce5/install/kubernetes/helm/istio/charts/gateways/values.yaml#L70)

The same way the port 31400 is defined you can add more ports if you want or different ports. You simply need 'port' and 'nodePort' to match

[2019-10-15 11:53] sdake commented on #17883
@morvencao Why not just eject gogo as I would suspect it is the cause of this incompatibility?  We are going to have to play wackamole all over the code base because of this type of issue.

[2019-10-15 13:45] sushmahebbar opened #17884 "Custom gRPC mixer adapter for kubernetesenv template throwing Instance not found: instance='attributes.kubernetes' error"
I am trying to build custom gRPC adapter ,following the below link
https://github.com/istio/istio/wiki/Mixer-Out-Of-Process-Adapter-Walkthrough
for kubernetesenv template
but mixs server throws    "action='r1.rule.istio-system[0]': Instance not found: instance='attributes.kubernetes'" error.

[2019-10-15 13:49] Freyert commented on #17810
Well, it isn't happening for us anymore this morning. :/

[2019-10-15 13:56] morvencao commented on #17883
@sdake If you mean gogo proto lib, yes, I have tried that besides the official golang proto lib. We may need add customized marshal/unmarshal func, that's a lot work.

[2019-10-15 14:05] pparth opened #17885 "Weighted traffic to a a version of a service which is outside the mesh"
I am trying to find a proper rollout process for switching from our current, Eureka-based, dockerized, micro-service environment, to an Istio-based, Kubernetes-based, micro-service environment. Ideally, i would like to be able to do B/G and Canary-like traffic weight management between the instances of the service foo in the old environment and the instances of the same service foo in the new envi

[2019-10-15 14:08] Docteur-RS opened #17886 "node_agent handshake failure whith mesh expansion"
This is most probably an error on my end. Please help if you can ;-)
Thanks !

**Bug description**

I am following the tutorial for [Istio mesh expansion](https://istio.io/docs/examples/mesh-expansion/single-network/).
Unfortunatly, when I launch the node_agent I get the following error:
[code]
---
* I have copied the certificates from my Kubernetes master to the Debian machine where I installed t

[2019-10-15 14:16] howardjohn commented on #17139
Yes thanks for the verification

[2019-10-15 14:16] #17139 closed

[2019-10-15 14:20] nmittler commented on #17853
Fixed via #17860

[2019-10-15 14:20] #17853 closed

[2019-10-15 14:58] howardjohn commented on #17147
@kyessenov can you take a look at https://github.com/istio/istio/pull/17716

[2019-10-15 15:14] vadimeisenbergibm commented on #16453
@jmalecka If you do not have a CA chain certificate, you probably do not need mutual TLS origination, but TLS origination.

[2019-10-15 15:26] vadimeisenbergibm commented on #16453
@jmalecka So it means that you need TLS origination, not ***mutual*** TLS origination, right?

[2019-10-15 15:43] bianpengyuan commented on #17884
Could you specify more about what do you want to achieve? If you want to develop an attributes generating adapter you might want to follow this instruction: https://github.com/istio/istio/wiki/Out-of-process-Attribute-Generating-Adapter-Developer-Walkthrough

[2019-10-15 15:48] nesl247 commented on #17660
Same here.

[2019-10-15 15:56] howardjohn opened #17888 "Mixerless dashboard needs backport to istio/installer"
#16859 needs to be backported to istio/installer

[2019-10-15 16:10] jmalecka commented on #16453
No, I really need mutual TLS as their server requires client certificates.
I have also tested it with Postman, where you can add client certificates
when connecting to a specific domain like this:
https://learning.getpostman.com/docs/postman/sending_api_requests/certificates/

The connection is only established, when the client certificates are
present - hence mutual TLS is needed.

[2019-10-15 16:26] vadimeisenbergibm commented on #16453
@jmalecka I see, so the issue is that you do not have the CA chain certificate. Can you try to mount the root certificate of the external service as the CA chain certificate?

[2019-10-15 16:32] howardjohn opened #17889 "EnvoyMetricsService needs backports to istio/installer"
There have been a variety of changes to the istio/istio installer that have not been backported to istio/installer. This likely means the operator does not support the metrics service right now.

cc @ramaraochavali

[2019-10-15 16:33] jmalecka commented on #16453
Sure, I should be able to find some time tomorrow.

[2019-10-15 16:34] sushicw commented on #17807
If you run from `istioctl x analyze`, you should be seeing the origin resource, e.g.

[code]

The fact that these are missing seems strange and concerning. Is this using istioctl built from master? More info is needed to repro.

[2019-10-15 16:44] sushicw opened #17891 "`istioctl x analyze` needs integration testing"
Need to add integ testing for `istioctl x analyze`

[2019-10-15 16:44] pitlv2109 commented on #17125
@hzxuzhonghu But the `configRootNamespace` is empty/doesn't exist though.

https://github.com/istio/istio/blob/2890416dcde5b518d9fafecaffcf7779d00da3f1/install/kubernetes/helm/istio/values.yaml#L504

[2019-10-15 16:52] aattuluri commented on #17802
Looks like destination rule would be a good idea.
@hzxuzhonghu Can you please share you change list for what you have tried?

[2019-10-15 16:54] douglas-reid commented on #16854
I don't believe that the documentation has ever been written, and at this point, I don't foresee it getting written. Mixer is being replaced by an in-proxy extension mechanism, and that work will be coming to the forefront in 1.4 and 1.5 releases.

The best thing may be to ask if anyone has experience with this on discuss.istio.io.

[2019-10-15 16:54] #16854 closed

[2019-10-15 16:57] howardjohn commented on #17807
This is istioctl from master.
[code]

I actually looked at my entire cluster and these resources don't even exist anywhere. They probably did at one point though. I ran

[code]

and no matches

[2019-10-15 17:03] douglas-reid commented on #10676
This issue has not seen any significant activity in almost a year and references a version of Istio that is no longer supported.

I'm going to close it. Feel free to reopen if still relevant.

[2019-10-15 17:08] douglas-reid commented on #14785
How can we resolve this issue?  Should this be closed, given the pending stackdriver trace integration?

[2019-10-15 17:09] sushicw commented on #17807
Can you please run with `--log_output_level analysis:debug,source:debug,processing:debug` and attach the output?

[2019-10-15 17:09] howardjohn opened #17893 "prow: mirror kind images to GCR"
Every time we create a kind cluster in Prow, it is pulling down the node image from dockerhub. This may be a bit slower than pulling from GCR or less reliable. We may want to mirror these images to GCR.

[2019-10-15 17:12] #6170 closed

[2019-10-15 17:14] aattuluri commented on #17802
@hzxuzhonghu Looks like this was the change list where you also reverted destination rule level changes:
https://github.com/istio/api/commit/6286ff0e63603c77cf7ec30510c39e5cebae65b2#diff-e7424aa96af1917e2a00aea6798dc071

Why wasn't the same object (`LocalityLoadBalancerSetting`) used in DestinationRule? I see there is a different object `LocalityWeightSetting` under `LoadBalancerSettings`

[2019-10-15 17:19] howardjohn commented on #17807
<details>

[code]
</details>

[2019-10-15 17:20] howardjohn commented on #17807
Oh I think its from my Ingress object is messing thigns up somehow:
[code]

[2019-10-15 17:51] denniswebb commented on #17660
As a test, I just modified the deployment for **istio-ingressgateway** and changed the image tag for **istio/proxyv2** to **1.2.7** and it is working perfect as expected with over 10,000 requests made.

[2019-10-15 17:55] incfly commented on #14524
Action item, currently client sidecar does not have mTLS metrics, we need to add that. DOWNSTREAM access log also need to be changed to include mTLS information.

[2019-10-15 18:01] #17236 closed

[2019-10-15 18:03] bianpengyuan commented on #14785
@dansiviter Please let us know if [request|response].total_size does not resolve your issue. Thanks!

[2019-10-15 18:03] #14785 closed

[2019-10-15 18:18] bianpengyuan commented on #17888
Is there something else that needs to be backported other than https://github.com/istio/installer/pull/380?

[2019-10-15 18:24] howardjohn commented on #17888
@bianpengyuan thanks!! I was looking at what was missing and somehow I didn't see that

[2019-10-15 18:24] #17888 closed

[2019-10-15 18:53] sushicw commented on #17807
I'm guessing this has to do with our transformer that generates virtualservices & gateways based on k8s ingress resources. There really *isn't* a direct underlying resource to refer to, it's generated by the Galley pipeline. Hmm.

[2019-10-15 18:53] #17805 closed

[2019-10-15 18:55] esnible commented on #17872
Closing as a duplicate of https://github.com/istio/istio/issues/17862

[2019-10-15 18:55] #17872 closed

[2019-10-15 19:03] therealmitchconnors opened #17898 "pilot /debug/config_distribution doesn't report deletes"
Configuration updates propagate nicely, but deletes are never observed.

[2019-10-15 19:06] sushicw commented on #17807
I was able to repro running istioctl analyze with just this file:

`cat ~/tmp2/istio-17807-ingress.yaml `:
[code]

`istioctl experimental analyze  -d true ~/tmp2/istio-17807-ingress.yaml`:
[code]

We'd expect to be missing a host when running the file by itself, but the FQDN looks wrong. And the names of the generated resources in the snapshot look odd too:
[code]

It looks like the next step is t

[2019-10-15 19:10] esnible commented on #17808
_istioctl_ has not done color before.  We could add it.
- The popular libraries are http://godoc.org/github.com/fatih/color (3.1k stars), and https://github.com/logrusorgru/aurora (686 stars)
- We already pre-req Uber Zap, which can color a string https://godoc.org/go.uber.org/zap/internal/color
- We could just explicitly add ANSI color ourselves without using a library.  It's trivial and I have w

[2019-10-15 19:14] incfly commented on #10357
I want to enable this by default in next release, 1.5.

It's just another thing we should do to make Istio works for your application out of the box.

The prerequisite is that we now have a positive/negative integration test to ensure the feature is working. Also given we have ways to disable the rewrite, so the UX benefits seem trump over the manageable risks.

Please call out if this does not se

[2019-10-15 19:17] howardjohn commented on #17808
Definitely should have a `--color=false`. I've used aurora before and it works well enough, I don't have a strong preference either way though as long as it doesn't pull in a ton of dependencies.

[2019-10-15 20:10] esnible commented on #17808
If we are doing this long-term for all of _istioctl_ I suggest the approach of https://github.com/spf13/cobra/issues/692#issuecomment-479631238 .  For this implementation I will do something profoundly simple to get feedback about the desirability of color at all.

[2019-10-15 20:22] #17618 closed

[2019-10-15 22:09] incfly commented on #14524
Action item, stats is not available either, we need first extend Envoy API to check whether local certificate is requested, (some debates on the PR), https://github.com/envoyproxy/envoy/pull/8621

Then plumb-in the API to [wasm filter API](https://sourcegraph.com/github.com/envoyproxy/envoy-wasm@16a5cdbf450e4d3bbeead962af5c29bc002ce8b7/-/blob/source/extensions/filters/common/expr/context.cc), such

[2019-10-15 22:44] elfinhe opened #17901 "istioctl analyze: check if hub/image:tag combination exists on gcr.io/docker.io hub"
**Describe the feature request**
`istioctl analyze` checks if hub/image:tag combination exists on gcr.io/docker.io hub.

**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[x]

[2019-10-16 00:12] incfly opened #17903 "istioctl x describe does not report correct service port for httpbin"
**Bug description**

I use a istioctl built from master, and Istio installed as 1.3.3. Deploying samples/httpbin/httpbin.yaml, then run the istioctl x describe.

I saw it reports the service port as 80, not 8000.

[code]

[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[

[2019-10-16 00:26] pragkent commented on #17409
Any updates here?

[2019-10-16 00:30] #882 closed

[2019-10-16 01:13] mandarjog opened #17905 "SDS Ingress: does not present new cert if using kubectl apply to update cert"
SDS cert rotation test uses kubectl apply to update certificate.
https://github.com/istio/tools/blob/master/perf/load/templates/config-map.yaml#L69

Since 1.3 we removed support for update, and only watch for add/delete events.

[2019-10-16 01:22] chadlwilson commented on #17660
Just a suggestion - might be worth highlighting that you are using cert-manager w/ SDS here. Until I watched your Asciinema vid and looked into the gist, I personally wasn't clear that this is the configuration you were running. Might help get the attention of the right folks?

[2019-10-16 01:28] sdake opened #17906 "Istio's CNI repo cross repo gating may cache the repo locally"
See https://github.com/istio/istio/pull/17864/files#r335231601 for weaknesses around Istio's CNI repo gating when run in BUILD_WITH_CONTAINER.  The source tree is cloned if it doesn't exist in a docker volume and never recloned.  A `docker volume prune` seems to fix the problem.

[2019-10-16 02:12] morvencao commented on #17883
Reopen this ticket.

[2019-10-16 02:26] gotwarlost commented on #14327
Note that this may not be good enough. See the race condition I documented above. If the istio-cni comes up before calico, it drops a basic config and declares itself healthy. It then takes 2 wait cycles (~1m) for the istio cni config to be injected into the calico config and for the combination to be truly healthy.

Even with your check, you might let slip a pod during the wait cycle without the

[2019-10-16 02:37] howardjohn opened #17907 "Validation/Conformance test regression"
See https://k8s-testgrid.appspot.com/istio_istio_postsubmit#integ-k8s-116_istio_postsubmit, 100% of conformance and validation tests are failing. Example failures:

https://prow.k8s.io/view/gcs/istio-prow/logs/integ-k8s-116_istio_postsubmit/350
[code]

[code]
[code]

@jasonwzm  I assume this is from your changes, can you verify?

[2019-10-16 02:37] morvencao opened #17908 "[Operator controller]unmarshalerDecoder: Object 'Kind' is missing"
Run the latest operator controller with master code base, I get the follow errors from controller logs:

[code]

This should be relevant to the `kind` and `apiVersion` is override the ones in `TypeMeta`

[2019-10-16 02:38] howardjohn opened #17909 "istio.io doc test TestMTLSMigration has never passed"
Fails with `script_step.go:92: script verification failed: expected return code to be 200; actual:` every time.

[2019-10-16 02:53] hzxuzhonghu commented on #17802
I do not remember, but personally i think we can share the same structure

[2019-10-16 02:53] howardjohn commented on #17907
Mixer is broken too: https://prow.k8s.io/view/gcs/istio-prow/logs/integ-mixer-k8s-tests_istio_postsubmit/347

[code]

https://github.com/istio/istio/pull/17900/ maybe fix this

[2019-10-16 02:58] #16887 closed

[2019-10-16 03:31] artyomtkachenko commented on #14327
It is a valid point @gotwarlost
The two phase check,  taint update, i believe, can be used to workaround the issue you described.

Like
*  taint node with two taints when booting
*  remove first taint when whatever-cni is running
*  remove the second taint when istio-cni is running

I will spike it when get some time.

[2019-10-16 03:56] ostromart opened #17912 "Upgrade version maps should be available offline"
Version maps specify which versions are supported from which operator. The source of truth is master but we need a local copy built into operator for offline upgrade cases.

[2019-10-16 04:02] aattuluri commented on #17802
What would be the next step?, shall I send a PR for the API changes?

[2019-10-16 04:24] jh-sz commented on #7964
What's the status of this? We have both `http` (for legacy reasons) and `https` traffic coming through to the load balancer, and we don't want to just change the header. Is there a proper solution for this and just having `x-forwarded-proto` header passing through as it is?

[2019-10-16 04:33] richardwxn commented on #17217
Still WIP for this issue, it is necessary to automate this process

[2019-10-16 04:37] howardjohn commented on #17906
is it not just mounting the local istio/istio? or is it cloning a separate istio repo than the local files, and that is not updated?

[2019-10-16 04:40] howardjohn commented on #17901
I don't think this is a good idea. it means istioctl analyze has a dependency on arbitrary docker registries, which is not always possible. It's common that you could have a registry accessible from the cluster but not from a developer machine running the cli, or CI.

If you do happen to run an invalid image you will immediately see it from kubectl - no need for a fancy istioctl command.

Is there

[2019-10-16 04:40] johscheuer commented on #15576
Close this issue since like howard said the e2e tests are mostly considered legacy.

[2019-10-16 04:40] #15576 closed

[2019-10-16 04:51] gotwarlost opened #17913 "istio 1.2.7: inbound listener is removed during pod shutdown sequence"
**Bug description**

We have situations where pods need to perform a cleanup sequence during shutdown that requires all of the following to be true:

* istio-proxy container up and running
* pod needs to make outbound calls
* pod needs to receive inbound calls (using the pod IP, not the service IP)

When the pod receives a SIGTERM it starts the cleanup sequence. This can last up to 4 minutes (the

[2019-10-16 05:27] abhide commented on #13967
Making some progress on this issue:

[2019-10-16 05:29] sushmahebbar commented on #17884
I want to develop attributes generating gRPC adapter for kubernetesenv template instead of metric template . but mixer throwing error instance=attributes.kubernetes instance not found .below is my handler code

//nolint: lll
//go:generate $GOPATH/src/istio.io/istio/bin/mixer_codegen.sh -a mixer/adapter/myk8sadapter/config/config.proto -x "-n myk8sadapter"
//go:generate $GOPATH/src/istio.io/istio/b

[2019-10-16 05:43] vadimeisenbergibm commented on #17517
@nixgadget Could you please check it on `master-20191004` ?

[2019-10-16 05:45] vadimeisenbergibm commented on #15285
@chrismckean, @Stono does the issue still appears in 1.3?

[2019-10-16 05:46] jasonwzm commented on #17907
Should be fixed now. Closing.

[2019-10-16 06:11] nixgadget commented on #17517
@vadimeisenbergibm @hzxuzhonghu thanks for the update. will check against `master-20191004` and report back.

[2019-10-16 06:29] elfinhe opened #17916 "Istioctl x upgrade: exclude the overridden values when comparing the old with the new ones"
In `func checkUpgradeValues(curValues string, tarValues string, l *logger)`, before we run `compare.YAMLCmp(curValues, tarValues)` we should exclude the overridden values specified in profile yaml / customized yaml, only showing up the unexpected changes.

[2019-10-16 09:24] nkorange commented on #17679
@howardjohn I'm writing an article to introduce the MCP protocol and how to write a MCP server to communicate with Istio. Can I cite the content/images in [this document](https://docs.google.com/document/d/1S5ygkxR1alNI8cWGG4O4iV8zp8dA6Oc23zQCvFxr83U/edit#)?

[2019-10-16 09:38] Freyert commented on #17810
Potentially Related Issues:

1. Changing Gateways and or Virtual Services causes slow down: https://github.com/istio/istio/issues/14283
   + Would be good to see if it is one or the other.

[2019-10-16 09:54] hzxuzhonghu commented on #17679
Absolutely, it is public

[2019-10-16 11:14] duriti opened #17918 "Unable to launch NiFi with envoy sidecar injection"
**Bug description**

Facing issue setting up NiFi using Istio.

Both NiFi and Envoy proxy containers comes up successfully, but unable to invoke the web UI and receives the error
*curl: (56) Recv failure: Connection reset by peer*

**Affected product area (please put an X in all that apply)**

[X] Configuration Infrastructure
[ ] Docs
[X] Installation
[X] Networking
[ ] Performance and Scalability

[2019-10-16 11:46] nkorange commented on #17679
Thanks.

[2019-10-16 13:36] tapanhalani opened #17921 "All virtualServices in Istio are giving error : "upstream connect error or disconnect/reset before headers. reset reason: connection failure""
I have 2 AKS clusters, both having same services and Istio installed on them. There are 5 services in kubernetes that have been exposed publicly (outside k8s) using virtualServices. All of them were working well on both the environments, but starting yesterday, all 5 services started giving 503 status code, with the following error in 1 k8s cluster:

```upstream connect error or disconnect/reset b

[2019-10-16 13:37] rkr-kununu commented on #17792
After a more in-depth dive.  This appears to be related to the iptables rules that `istio-init` creates.  If I add a `-x 0.0.0.0/0`.  Performance, in my container is as fast as when it's being ran outside of istio (ie: from 30 seconds to 2 seconds).

Another observation:  If I change the istio-proxy so that the root filesystem is writable.  Then I remove the '-x 0.0.0.0/0' (hack) to the istio-init

[2019-10-16 13:47] howardjohn commented on #17907
There Is still some issues that need to be fixed here, your or did fix s lot of them though

[2019-10-16 13:49] Stono commented on #15285
Yes, we still see occasional 503s but not to the level we used to, and the investigation here is likely stale.

I'll close this ticket and re-open another with more recent info if we feel we need to.

Ta

[2019-10-16 13:54] chrismckean commented on #15285
Karl is correct.  The errors are present still but are at a manageable rate.  I'll close this issue.

[2019-10-16 13:54] #15285 closed

[2019-10-16 14:21] esnible commented on #17918
I have not used NiFi.

Istio may have difficulty with apps talking directly to the pod IP.  The problem you are having may be https://github.com/istio/istio/issues/15367

Can you try communicating to http://localhost:8080/nifi (from the Pod itself) or http://<a service selecting the pod>:8080/nifi (from the cluster)?

[2019-10-16 14:52] sushicw opened #17923 "Status update support for k8s resources"
The status update controller can write validation status messages for custom resources, but we need to figure out what to do with validation messages attached to native k8s resources.

* Find a way to make status update work for them too?
* Create some sort of meta-resource to attach those messages to?

[2019-10-16 14:55] cyruscode commented on #17473
I also have the same issue, with Istio 1.3.0 and mtls enabled inside the mesh

---
apiVersion: "authentication.istio.io/v1alpha1"
kind: "Policy"
metadata:
  name: "default"
  namespace: "someNamespace"
spec:
  peers:
  - mtls:
      mode: STRICT
  origins:
  - jwt:
      issuer: "testing@secure.istio.io"
      jwksUri: "https://raw.githubusercontent.com/istio/istio/release-1.3/security/tools/jwt/s

[2019-10-16 15:05] esnible opened #17924 "istioctl x analyze should display istioctl-style names for resources"
Instead of

[code]

We should show `virtualservice productpage.default`.

Instead of

[code]

We should output the resource.

cc @sushicw

[2019-10-16 15:08] esnible commented on #17272
Re-opening because misplaced Deployment annotations only appear via file references, not `--use-kube`

[2019-10-16 15:18] sushicw commented on #17907
I think this is also affecting my new istioctl tests, in CI (or after merging from master) I now see:
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17904/integ-istioctl-k8s-tests_istio/2302

[2019-10-16 15:21] cabrinoob commented on #13819
@rphillipsz : Hi,
Do you know if there is a way to apply the filter to a specific route? Or only to routes that have a specific prefix (eg /private/userinfo )

Thank you

[2019-10-16 15:36] rphillipsz commented on #13819
I think you should be able to use one of the matchers at https://istio.io/docs/reference/config/networking/v1alpha3/envoy-filter/, but I didn't have the need so don't have any examples (or know if it actually supports it).  At a quick glance it seems like you should be able to restrict it to a particular route though.

[2019-10-16 15:38] mandarjog opened #17926 "mixerless telemetry: segfault on config change"
Using gcr.io/istio-testing/proxyv2:1.4-alpha.d341c8ed9a8d4af6ce9eb5fbea69dbabe7c104d8
istio/proxy commit a9ed9c7b938dfa6ca9f8916e4cef65906a49446f

[code]

[2019-10-16 15:43] mandarjog commented on #17926
@jplevyak I think this is related to https://github.com/envoyproxy/envoy-wasm/issues/253

can `context` ever be null or static cast fails?

[2019-10-16 15:55] cabrinoob commented on #13819
Yes, I came here because this documentation was'nt very helpfull to do what I want :) I'am still trying to make it work.

[2019-10-16 16:21] elfinhe commented on #17901
Sure, I agree this should be in k8s. I opened this because I encountered an issue when upgrading Istio but with an incorrect image tag. That action took down the old istio pods but new pods can never enter ready state.

[2019-10-16 16:22] howardjohn commented on #17901
@elfinhe I don't think it should take down the old pods, normally kubernetes waits for the new ones to be marked "Ready" before removing the old ones? Maybe something is wrong with some configuration

[2019-10-16 16:22] #17901 closed

[2019-10-16 16:25] howardjohn commented on #16998
These tests are still failing consistently @liminw @JimmyCYJ have we identified what caused the regression?

[2019-10-16 16:26] elfinhe commented on #17223
resolved by https://github.com/istio/operator/pull/385

[2019-10-16 16:26] #17223 closed

[2019-10-16 16:34] yangminzhu commented on #16998
@howardjohn The RBAC tests doesn't seem flaky: https://testgrid.k8s.io/istio_istio_postsubmit#integ-security-k8s-tests_istio_postsubmit&width=20, could you clarify a little bit what makes you think RBAC is not working properly on master?

[2019-10-16 16:42] howardjohn opened #17929 "integ-mixer-k8s-tests TestRateLimiting_RedisQuotaFixedWindow regression"
There has been a major regression to the TestRateLimiting test: https://testgrid.k8s.io/istio_istio_postsubmit#integ-mixer-k8s-tests_istio_postsubmit&width=20&exclude-non-failed-tests=

Previously this test passed ~50% of the time. Now, as of 10/15, it has never passed

Related to https://github.com/istio/istio/issues/15686

[2019-10-16 16:42] howardjohn commented on #17929
@gargnupur I marked this as a release blocker for 1.4 until we can verify this is a test issue, and not a real regression in rate limiting. Please take a look

[2019-10-16 16:42] brian-avery commented on #17815
This was fixed by #17843. Output now goes to the framework working directory.

[2019-10-16 16:42] #17815 closed

[2019-10-16 16:43] howardjohn commented on #17929
Related to https://github.com/istio/istio/issues/15686

[2019-10-16 16:48] howardjohn commented on #16998
RBAC does still seem to fail:
* https://prow.k8s.io/view/gcs/istio-prow/logs/integ-security-k8s-tests_istio_postsubmit/307
* https://prow.k8s.io/view/gcs/istio-prow/logs/integ-security-k8s-tests_istio_postsubmit/323
* https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/integ-security-k8s-tests_istio/2310
* https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/integ-security-k8s-tests_ist

[2019-10-16 17:02] mossuchida commented on #17777
@mandarjog thank you.

[2019-10-16 17:12] FrederikNS commented on #14598
When using normal Kubernetes Ingress, the ingress controller looks in the same namespace as the ingress object.

In my opinion it would make sense for istio to look for the secret in the same namespace as where the gateway is defined. Or at the very least have the option of adding a `spec.servers.[n].tls.credentialNamespace` key to the gateway.

[2019-10-16 17:26] douglas-reid commented on #17751
@maxbischoff this is a known limitation with using Mixer for tracing. As @bianpengyuan relates, there are workarounds that allow the sampling rate to match and to prevent Envoy from generating traces. With 1.3, the EnvoyFilter API provides the namespace-scoping functionality you desire (although, it is worth noting that a sampling decision is sticky when considering cross-namespace traffic).

As M

[2019-10-16 17:26] #17751 closed

[2019-10-16 17:29] howardjohn commented on #17512
This has delayed getting important changes into 1.4

[2019-10-16 17:30] mandarjog opened #17931 "Mixerless performance with Mixer TCP metrics"
Using gcr.io/istio-testing/proxyv2:1.4-alpha.d341c8ed9a8d4af6ce9eb5fbea69dbabe7c104d8
istio/proxy commit a9ed9c7b938dfa6ca9f8916e4cef65906a49446f

Mixer with HTTP reports disabled still uses 20% more CPU. This is unexpected.

https://snapshot.raintank.io/dashboard/snapshot/XId39OTAn5or9I0l2r4oJvnxfDpO2f6R

[2019-10-16 17:37] howardjohn commented on #14336
@p4ali that is the same case as above, which is fixed since 1.2.5

[2019-10-16 17:41] gargnupur commented on #17929
Looks similar to #15686 only

[2019-10-16 17:44] howardjohn commented on #17929
@gargnupur it is now failing 100% of the time though, do you think its just random chance or something broke recently?

[2019-10-16 17:55] bianpengyuan commented on #17884
Would you mind to paste here your instance/rule/handler config?

[2019-10-16 18:00] aattuluri commented on #17802
@rshriram @howardjohn ?

[2019-10-16 18:02] gargnupur commented on #17929
From logs, it looked random..  I am trying to see if it repro's in this PR too: https://github.com/istio/istio/pull/15593

[2019-10-16 18:08] robertpanzer commented on #14336
I just tested that with 1.2.7 I still see the last endpoint in /clusters and requests are still routed.
Only current master that has #16967 seems to show the updated behavior.

[2019-10-16 18:17] gotwarlost commented on #17913
Possibly related commit: https://github.com/istio/istio/pull/13909/files

[2019-10-16 18:20] yangminzhu commented on #16998
It's not clear whether it's caused by real issues in the code or by some delays in the config distribution due to transient networking error or any other delays inside Envoy. It's also not clear whether this is happening only after config update or it's happening randomly in a cluster.

I will try to increase the timeout in the test to see if it helps to reduce the occasionally failures.

[2019-10-16 18:22] incfly opened #17933 "Stabilize SDS egress gateway test"
**Bug description**

Integration test for gateway SDS based `ISTIO_MUTUAL` is flaky.
https://testgrid.k8s.io/istio_istio_postsubmit#integ-security-k8s-tests_istio_postsubmit&include-filter-by-regex=.*SdsEgress.*&width=20

Note we have negative test always passing, which expects 503. And the positive failing, returns 503 rather than 200.

We update the gateway config during test for the same port.

[2019-10-16 18:31] diemtvu commented on #16998
I have a feeling that it is due to the latency of config distribution.
Afaik, E2E tests share the same cluster, so it could cause some unexpected
delay when multiple tests are running, right? We may need to find a more
robust way to check when the test setup are ready to run test query.

On Wed, Oct 16, 2019 at 11:21 AM Yangmin Zhu <notifications@github.com>
wrote:

--

Diem Vu | Software Engineer

[2019-10-16 18:31] duriti commented on #17918
@esnible Thanks for responding to my query.

Here is the output from the pod when I try with localhost.

[code]

[2019-10-16 18:47] esnible commented on #14743
There is a report that Apache NiFi is incompatible.  https://github.com/istio/istio/issues/17918

[2019-10-16 19:17] gargnupur commented on #17929
Doesn't repro here: https://github.com/istio/istio/pull/15593..

[2019-10-16 19:41] chayan88 opened #17937 "Kiali is unable to capture the traffic for bookinfo app."
**Bug description**
Kiali is unable to capture the traffic for bookinfo app on Openshift 3.11 on IBM Cloud.

Deployed the bookinfo app and expose the "productpage service" and generated traffic using the productpage svc route , but in Kilai nothing is showing up.

But If I expose a istio ingress gateway service and generate the traffic some portion of traffic showsup in kiali.

Question: Is it nec

[2019-10-16 19:44] howardjohn commented on #17856
Steps we missed
* update common files in master first
* apply branch protection before doing the branch, not after

[2019-10-16 19:59] howardjohn commented on #14336
To clarify, by "since 1.2.5" I mean in 1.4, not in 1.2.6

[2019-10-16 20:13] ericvn commented on #17856
Also
 - rebuild the base docker image to pick up security patches

[2019-10-16 20:24] jwendell commented on #17856
+1 for doing that even for z releases

[2019-10-16 20:40] howardjohn commented on #17907
This is fixed, above istioctl issues were determined to be due to SyntheticServiceEntry

[2019-10-16 20:40] #17907 closed

[2019-10-16 21:08] cyruscode commented on #17473
Finally made it work, on istio 1.3.3, not tested with others, bug was in the Service definition, apparently the port name must begin with "http" or "https" .... as soon as I changed this, it worked!

---
apiVersion: v1
kind: Service
metadata:
  name: someName
  namespace: someNamespace
  labels:
    app: someName
spec:
  selector:
    app: someName
  ports:
    - name: http
      port: 80
---

[2019-10-16 21:17] richardwxn commented on #17738
perf data would be persisted in bucket istio-build/perf

[2019-10-16 21:29] yacut commented on #17848
@howardjohn ping

[2019-10-16 21:30] #17643 closed

[2019-10-16 21:30] #17644 closed

[2019-10-16 21:30] #17645 closed

[2019-10-16 21:37] howardjohn commented on #17848
This is not a bug. The jobs just apply some Istio resources, which we now just directly apply. See https://github.com/istio/installer/blob/7a5a4d5d77bbc4c84e47d1b60737213cb845c8b5/istio-telemetry/grafana/templates/grafana-policy.yaml#L4 for example

Are you seeing any issues?

[2019-10-16 21:39] howardjohn opened #17948 "Common library to control kind setup"
Basically every repo has its own scripts to setup/tear down kind clusters. We may want to consolidate these into a single shared script to ensure all repos are following best practices, cleaning up properly, etc.

[2019-10-16 21:41] #17670 closed

[2019-10-16 21:43] carolynhu commented on #17649
After discussed with @ostromart , at current stage, we'd better put this helm charts install and istioctl upgrade into two periodic jobs. After it's running stable, we can move them to postsubmit job. Therefore, I'm going to add periodic jobs first.

[2019-10-16 22:01] sushicw opened #17949 "Solve schema validation issues with synthetic service entries"
As discovered in https://github.com/istio/istio/pull/17904, schema validation fails for synthetic service entries on kube / istio control plane namespaces. Things that need to be clarified:

* Is it intentional or desired to generate synthetic service entries on control plane resources? If not, do we have a straightforward way to avoid it?
* Why are the synthetic service entries generated on these

[2019-10-16 22:02] sushicw commented on #17949
@Nino-K @howardjohn

[2019-10-16 22:09] Nino-K commented on #17949
@nmittler

[2019-10-16 22:11] jasonwzm commented on #15884
prototool offers similar mechanism when checking compatibility with the previous version. Instead of basing off a static file for checks, it can use a git branch as the base. The output of the prototool is an equivalent of the `Status` file in protolock. The behavior of the two is similar. Will tackle just using prototool later.

[2019-10-16 22:11] carolynhu opened #17950 "[istio/istio, istio/test-infra]: add periodic job for istio upgrade e2e tests"
operator istioctl upgrade restriction specifications:
[code]

[2019-10-16 22:17] jasonwzm commented on #10872
CRD schemas are merged into master and release 1.4. https://github.com/istio/istio/pull/16320 `kubectl explain` should be able to retrieve schemas from the API server. Closing it now. We will discuss if there is any improvements needed in the next UX WG meeting.

[2019-10-16 22:19] Nino-K commented on #17949
@sushicw Just out of curiousity could this problem also be happeng for standard service entries? did you run the analyzer while generating some service entries to see if schema validation errors actually show up for service entries too?
Reason asking is Synthetic service entries schema (for the most part) and schema validation is identical to service entry.

[2019-10-16 22:21] jasonwzm opened #17951 "CRD schemas imports are less error-prone"
**Describe the feature request**
Currently the CRD schemas are generated in the API repo and copied to this repo. We need to establish a better way to make it less error prone.

**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[X] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Poli

[2019-10-16 22:28] sushicw commented on #17949
Some example output messages:
[code]

Some quick partial debug output (DEBUG0a is the name of the synthetic entry, DEBUG0b is the proto message for it):

[code]

[2019-10-16 22:32] djazayeri opened #17952 "Stackdriver mixer adapter does not support user-configured mesh_uid in contextgraph (but does in metrics and logs)"
**Bug description**

I want to include a user-specified mesh_uid in the telemetry reported by the Stackdriver mixer adapter to the stackdriver backend. I can do this for metrics and logs, but I cannot do so for contextgraph, which hardcodes a value like this: https://github.com/istio/istio/blob/1.3.3/mixer/adapter/stackdriver/contextgraph/contextgraph.go#L82

**Affected product area (please put an

[2019-10-16 22:32] djazayeri commented on #17952
@douglas-reid FYI

[2019-10-16 22:33] douglas-reid commented on #17952
fyi: @mandarjog

[2019-10-16 22:35] sushicw commented on #17949
I've verified that I don't get errors for normally-defined serviceEntries:

`crwilson@crwilson:~/go/src/istio.io/istio$ kubectl get serviceentries -o yaml`:
[code]

I'm also not seeing validation errors attached to any of the synthetic service entries generated from data plane resources. Some debug output to demo:

[code]

[2019-10-16 22:37] njfix6 commented on #9113
I am running Istio 1.3.0 and still seeing intermittent 503 errors. Mostly during deploy time.

[2019-10-16 22:38] duderino commented on #9113
@njfix6 do you use Mixer policy or telemetry?

[2019-10-16 22:45] howardjohn opened #17953 "Flaky test: TestSyntheticServiceEntry"
I've only seen this one fail once, but its also new, so not sure how common this is:
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17946/integ-pilot-k8s-tests_istio_release-1.4/6

[2019-10-16 22:47] njfix6 commented on #9113
This is my helm config.
[code]

[2019-10-16 22:49] geeknoid commented on #17856
I think we're doing a couple things incorrectly.

- We should not be updating common files before branching.
- We should not be updating go.mod dependencies before branching.

In general, we want to update the tools dependencies in build-tools, update common-files, and update go.mod _in master_ right _after_ the release branch has been created. That is, update all of this stuff at the start of a r

[2019-10-16 22:50] njfix6 commented on #9113
@duderino I'm not entirely sure how I tell the difference. I believe I am using both?

[2019-10-16 22:51] Nino-K commented on #17949
I see a lot of those validation failures in pilot logs actually but for what it's worth pilot treats them as warnings and ignores them because they are simply invalid configuration that are recieved from the source server. However in the case above you are actually defining the service entry correctly by providing the namespace field and a valid protocol which is why we are not seeing the same val

[2019-10-16 22:54] howardjohn commented on #17949
The invalid protocol is not UDP.

`                "Error [IST0106] The resource has one or more schema validation errors: unsupported protocol: UnsupportedProtocol",` comes from istio-telemetry, which has a port named `promtheus`

[2019-10-16 22:57] sushicw commented on #17949
Yes, this is running with service discovery enabled. `istioctl analyze` acts like service discovery is enabled by default whenever it's operating against a live cluster.

For reference, the code that converts k8s resources into synthetic service entries appears to be mostly here:

https://github.com/istio/istio/blob/master/galley/pkg/config/processor/transforms/serviceentry/converter/instance.go
h

[2019-10-16 23:12] njfix6 commented on #9113
![image](https://user-images.githubusercontent.com/6845581/66965768-b7d79980-f02f-11e9-8a69-845126751959.png)

[2019-10-16 23:59] ostromart commented on #17218
Fixed through https://github.com/istio/operator/pull/301 and followup bug fixes.

[2019-10-16 23:59] #17218 closed

[2019-10-17 00:01] ostromart commented on #17219
Fixed through https://github.com/istio/operator/pull/348.

[2019-10-17 00:01] #17219 closed

[2019-10-17 00:02] rlenglet commented on #17856
We thought that the incompatible dependencies could make cherry-picks difficult.

[2019-10-17 00:05] ostromart commented on #16468
Closed though https://github.com/istio/operator/pull/383.

[2019-10-17 00:05] #16468 closed

[2019-10-17 00:07] ostromart commented on #17220
@sdake has started on this in https://github.com/istio/operator/pull/379.

[2019-10-17 00:12] howardjohn commented on #17953
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/batch/integ-pilot-local-tests_istio/2373 another one

[2019-10-17 00:26] ostromart opened #17960 "Figure out correct packages for unmarshaling IstioControlPlane with proto as source of truth"
Unmarshaling into ICP presents different problems in different contexts.
Because we are using protoc to generate the Go structs, we are obliged to use jsonpb to unmarshal into ICP. This also forces us to do manual fixups for adding things like anonymous fields and interface types which have no proto representation but are required in k8s and for our use case.
However, doing this creates challenges

[2019-10-17 00:27] ostromart commented on #17883
Let's move this work to more general cleanup: https://github.com/istio/istio/issues/17960
We need adequate time to solve this correctly, so targeting 1.5.

[2019-10-17 00:27] #17883 closed

[2019-10-17 00:29] ostromart commented on #17217
Partly fixed in https://github.com/istio/operator/pull/393, just need to integrate it with run_update_charts.sh (or where appropriate).

[2019-10-17 00:57] mandarjog commented on #15117
@gargnupur after you verify and/or add e2e test for SD tracing, please close this issue.
Thanks.

[2019-10-17 01:11] #17272 closed

[2019-10-17 01:12] sdake commented on #17220
I am unassigning myself.  I have other current responsibilities.  I have simply enabled very basic e2e tests and added check jobs for them.  I am available to consult on more advanced use cases.

[2019-10-17 01:20] jtakamine opened #17962 "Better Release Note documentation for multiCluster.clusterName in helm/istio/values.yaml"
**Describe the feature request**
Please consider explicitly documenting multiCluster.clusterName value in `helm/istio/values.yaml` in the Release Notes, so that users in multi-cluster environments know that they will need to explicitly set the value after upgrading, otherwise their installation can likely experience routing issues: https://github.com/istio/istio/commit/2e789b91d4fc1d9680ba5ce537cb

[2019-10-17 01:24] hzxuzhonghu commented on #17802
1.4 is checked out, so i think 1.5 would be ok

[2019-10-17 02:05] smoore2386 commented on #17409
Seeing this on 1.2.3

[2019-10-17 02:22] kuberkaul commented on #11366
@luksa

can you point to the change that fixed it and describe how ? Also which version of istio did the fix go in ?

[2019-10-17 02:25] jqmichael commented on #13840
The root cause is golang doesn't detect a half-close TCP connection for HTTP2.
https://github.com/golang/go/issues/31643

A work-around could be adding env variable name: GODEBUG value: http2server=0 to the inject-sidecar-container deployment spec.

[code]

[2019-10-17 02:25] hzxuzhonghu commented on #17913
replied here https://github.com/istio/istio/pull/17955#issuecomment-542967968

[2019-10-17 02:29] hzxuzhonghu commented on #17913
can you elaborate on why you need to receive call during shutdown, is there a workaround if you want to notify a graceful shutdown? Maybe by handling SIGTERM

[2019-10-17 02:50] howardjohn commented on #17953
https://prow.k8s.io/view/gcs/istio-prow/logs/integ-pilot-local-tests_istio_postsubmit/373 if this isn't easy to fix can you `.Skip` the test for now?

[2019-10-17 03:15] cscetbon commented on #10659
I think you should reopen that umbrella. I tried **1.3.3** and Cassandra nodes still can't connect to their local POD_IP which prevents the cluster from working. I was expecting the split between inbound and outbound to solve that issue but it does not if it's in **1.3.3**.

[code]

[2019-10-17 03:31] Nino-K commented on #17953
@howardjohn I havn't had a chance to look at it yet, let me skip it for now and I will look at it first thing tomorrow.

[2019-10-17 03:31] LSChyi opened #17967 "Sidecar did not send check request correctly under load"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
While using istio-1.3.2, I encountered a bug that sometimes sidecar send check request, but sometimes not. This causes the rate-limiting incorrect.

[2019-10-17 03:40] Nino-K commented on #17953
The data race errors are new, I have never seen them before, however I will look at them shortly.

[2019-10-17 04:15] hzxuzhonghu commented on #17921
Could you check the xds configs? And pilot logs to see if there is something wrong

[2019-10-17 04:40] JimmyCYJ commented on #17409
Thanks for reporting this. We have also noticed this at https://github.com/istio/istio/issues/17905.
We removed secret update logic from scrtUpdated() callback https://github.com/istio/istio/pull/15496#discussion_r303213927.
If the secret is rotated by deleting the old secret and creating a new secret with the same name, then it is fine. If the secret is rotated by something like
[code]
Then occas

[2019-10-17 05:10] irisdingbj opened #17969 "istio operator takes long for reconciling"
2019-10-11T05:33:39.787891Z    info    begin reconciling resources
2019-10-11T05:34:41.829544Z    info    end reconciling resources

It will take more than 1 min to finish reconciling every time and most of the time is spending on updating resources.

[2019-10-17 05:11] tapanhalani commented on #17921
@hzxuzhonghu I am actually new to Istio ecosystem, so I don't know how to check the istio xds configs. I have deployed istio using helm on k8s. If you can guide me as to how/where can I access those configs, it would be a big help.

The istio-pilot pod logs are actually huge, since I had logLevel set at "info". But I figured the following logs might be helpful, as it also has results of proxy-stat

[2019-10-17 06:51] luksa commented on #11366
@kuberkaul Sorry, I should have been more specific. By "we" I mean the Istio team at Red Hat. Our changes are currently only in our [Maistra](https://github.com/Maistra/istio) repo, but should be pushed upstream eventually (we were pressed for time, so couldn't afford to wait for the changes to be integrated into upstream directly).

The changes that were required were mostly to remove the need fo

[2019-10-17 07:53] fcantournet commented on #12549
@howardjohn I think we should re-open this issue :
The issues specifically is about setting `use_remote_address` to `false` on the ingress-gateway.
Currently I have not been able to do that, except by forking pilot.

- the flag you mention does allow setting `use_remote_address` to `true` for sidecars (defaults to false) but it doesn't change anything on the ingress-gateway. On my ingress-gateway

[2019-10-17 08:23] qi-min opened #17973 "No Jaeger trace if X-Request-ID is manually set in request"
**Bug description**
When `X-Request-ID` is provided in request header, the request can no be displayed in Jaeger. Is there any format requirement to the `X-Request-ID`?
**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[X] Policies and Telemetry
[ ] Security
[ ] Test and Release
[

[2019-10-17 08:53] kebe7jun opened #17974 "`sidecar.istio.io/proxyCPU` annotation only for requests"
**Bug description**

I found that the `sidecar.istio.io/proxyCPU` and `sidecar.istio.io/proxyMenory` annotations only setted for requets, which makes the limits are unlimited.

Code block:

https://github.com/istio/istio/blob/0bb84d5e52afb2d2f4795f0fe918976b03188d2f/install/kubernetes/helm/istio/files/injection-template.yaml#L291-L298

So, can I set limits same as requests with a Pull Request?

[X

[2019-10-17 09:17] kebe7jun commented on #16126
emmm, can we set limits same as requests?

[2019-10-17 11:41] burmanm opened #17976 "DestinationHost analyzer does not handle wildcards"
**Bug description**

ServiceEntries with wildcards are only matched as exact matches instead of trying to use the wildcard information at all. This means SE with "*.bookinfo.com" would not match "eu.bookinfo.com" but the VS would be marked invalid.

**Affected product area (please put an X in all that apply)**

[x ] User Experience

**Expected behavior**

Wildcards are matched.

**Steps to reprodu

[2019-10-17 12:07] jshaughn commented on #11475
@douglas-reid , Will the proposed addition of request service info help resolve this issue?  In other words, will we see the original, and mirrored requests in source telemetry, each with the same request service?

[2019-10-17 12:50] ramaraochavali commented on #17889
@howardjohn Thanks. Will take care of this.

[2019-10-17 13:17] ericvn commented on #17856
One comment as I was looking at some of the module updates that I didn't do because I was concerned, and a pro for doing in `master` after the branches are cut. I noticed that some packages have changed, I think one example was github.com/golang/sync went to golang.org/x/sync. Best time to do that would be just after the branch is cut in _master_ but it will affect cherry picks.

[2019-10-17 13:28] Stono commented on #9113
503's during deployment time are almost always when your application is not gracefully shutting down.

Your `pod` will receive a `SIGTERM` and both `istio-proxy` and your `app` containers get a `SIGTERM` too.  If you application doesn't handle `SIGTERM` well, it shuts down abruptly when there are still requests coming from the local `istio-proxy`.  Have a look at your `istio_requests_total{reporte

[2019-10-17 13:52] esnible commented on #17924
Because the origin is hidden in an interface I can't format it differently in _istioctl_.

In istioctl we format pod names as <name>[.<namespace>], and we leave off the namespace if it matches the default namespace.

I am not sure if we should change the "friendly name" code throughout the Analyze framework, or just for _istioctl_ output.

[2019-10-17 14:25] esnible commented on #17056
The deprecation will be part of the `istioctl x analyze` framework.  In the future we may replace `istioctl validate` with that framework.  The analyze framework already reports all of the messages reported by `istioctl validate`.

[2019-10-17 14:25] #17056 closed

[2019-10-17 14:26] shudhanshh opened #17980 "Behind GCP L7 LoadBalancer istio redirection stuck in infinite loop"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[ ] Perfor

[2019-10-17 15:06] esnible commented on #17833
`-` in unexpected.  It comes from https://github.com/istio/istio/commit/f7d2d167c652dc660d1798be2f4429c1820281cd which introduces auto mTLS and means `configNameNotApplicable` which I think means auto MTLS.  I will change `describe`.

`PERMISSIVE (enforces PERMISSIVE)` is also the result of a change brought on by auto MTLS.  I suspect the output of <pilot>/debug/authenticationz?proxyID= has change

[2019-10-17 15:08] bianpengyuan commented on #17973
Envoyproxy only consider UUID that follows https://tools.ietf.org/html/rfc4122 as traceable. I am going to close this as this works as intended. Please consider open an feature request in envoyproxy repo if alternative request id format is desired.

[2019-10-17 15:08] #17973 closed

[2019-10-17 15:41] #15190 closed

[2019-10-17 15:45] fpesce commented on #17913
@hzxuzhonghu thanks for bringing back the discussion of PR #17955 in the original issue it helps a lot for the comprehension of the PR.

If I understand correctly the problem here, there is no way to indicate in pilot a `networkTerminationGracePeriod` (that ideally should have a value somewhere between 0 seconds and  `terminationGracePeriodSeconds` seconds ).
Two points of view here:
1. @hzxuzhong

[2019-10-17 15:59] gotwarlost commented on #17913
Now I realize that we are talking about a "pod mesh" use case rather than a "service mesh" use-case. The issue is that we don't want 2 vastly different solutions one using istio and another using something else for the 2 cases. This is why we shoe-horned this to work under istio. It used to work perfectly in `1.1.x` but doesn't in the `1.2.x` (or later) releases.

[2019-10-17 16:05] njfix6 commented on #9113
@Stono  the response flags is a mix between `urx`, `uf`, and `uc`. `urx` showing up the least often.

[2019-10-17 16:11] gotwarlost commented on #17913
Also, there is a mention of memory leaks in the original fix that I don't quite understand. Perhaps you could explain how this happens?

https://github.com/istio/istio/pull/13909#issuecomment-491648562

[2019-10-17 16:13] Stono commented on #9113
Hey, so they're all `upstream` errors, upstream in the context of the `destination` reporter envoy means the local application.  So i'm willing to bet this is exactly what I said which is your application is terminating in an ungraceful manner, and istio is simply allowing you to see that.

https://karlstoney.com/2019/05/31/istio-503s-ucs-and-tcp-fun-times might help you more

[2019-10-17 16:16] selmanj commented on #17703
I put together a small, hopefully unsurprising RFC doc here about how we might solve this:
https://docs.google.com/document/d/11a1p0Exi_n_-rGi59l1X9AHH8iFgvdFOMQu0HU4wbss/edit?usp=sharing

[2019-10-17 16:23] objectiser commented on #17973
A feature request and proposal has already been raised for this: https://github.com/envoyproxy/envoy/issues/7624

[2019-10-17 16:24] selmanj commented on #17703
Wrong link, see https://docs.google.com/document/d/1r1hOBIwkDesZ8vYaHMj2YThEcUxegB-fLMPBst_yXIU/edit#heading=h.xw1gqgyqs5b (this one is in the UX working group)

[2019-10-17 16:25] howardjohn commented on #17718
[code]

I don't think I need to renew the cert?

[2019-10-17 16:25] howardjohn commented on #17718
I ran into this again, this time no master upgrade or anything

[2019-10-17 16:28] howardjohn commented on #17718
No master upgrade, but failure to connect to API server

[code]

Result is that anytime the API server goes down, for even a short period of time, the cluster is permanently broken until galley is restarted

[2019-10-17 16:31] njfix6 commented on #9113
Ok thanks, I'll take a look.

[2019-10-17 16:38] #17049 closed

[2019-10-17 16:43] njfix6 commented on #9113
@Stono We are running rails/puma with nginx on top of our application with a `keepalive_timeout   65;`. I feel nginx and puma would be shutting down gracefully but would the keepalive_timeout be the main reason for the upstream issue.

[2019-10-17 17:31] elfinhe opened #17987 "istioctl x upgrade: integrate `mesh upgrade` into istioctl in istio/istio repo"
Integrate `mesh upgrade` into istioctl in istio/istio repo, and make it into 1.4 release branch.

[2019-10-17 17:42] esnible commented on #17833
Similar changes are underway for `istioctl tls-check`: https://github.com/istio/istio/pull/17964

[2019-10-17 17:51] sushicw commented on #17924
I'm pretty sure we can just update the FriendlyName implementation function for kube resources here: https://github.com/istio/istio/blob/master/galley/pkg/config/source/kube/rt/origin.go#L35-L38

There shouldn't be anything depending structurally on the format.

[2019-10-17 18:10] burmanm commented on #17507
You can assign this one to me.

[2019-10-17 18:16] esnible commented on #17924
@sushicw I am happy to take this on if it is merely updating the FriendlyName implementation.  To make FriendlyName() work like the other _istioctl_ outputs I could pass in a "namespaceContext string", if it matched the namespace then the namespace would be suppressed.  That felt like too much behavior to bake into FriendlyName().  I am struggling because the method is supposed to be independent o

[2019-10-17 18:26] therealmitchconnors opened #17993 "istioctl wait has an inconsistent usage message"
the for flag is called for-distribution, and the resource specification should be updated...

[2019-10-17 18:28] #16655 closed

[2019-10-17 18:29] therealmitchconnors opened #17994 "istioctl wait doesn't support kubectl resource semantics"
virtualserver: no
vs: no
virtual-server: yes
VirtualServer: yes
VirtualServers: yes

[2019-10-17 18:30] howardjohn commented on #15090
See https://github.com/istio/release-builder/blob/master/release/README.md#L11

[2019-10-17 18:32] sushicw commented on #17924
I think we're OK doing the simple thing. The file we're updating *is* the kube-specific implementation, so it's OK for it to use kube-specific conventions. I don't think we're making istioctl any more kube-coupled than it is already.

By the way, the second issue you mention here (where the resource is missing) is happening because the resource being evaluated was generated at runtime (e.g. synthe

[2019-10-17 18:45] lambdai commented on #9113
Does keepalive affect the graceful shutdown? What if the request is on the fly?
You may need to set grace period in k8s as well.

[2019-10-17 18:45] sushicw commented on #17507
Done. Thanks for volunteering!

[2019-10-17 18:55] goruha commented on #16458
We had the problem with https external service call on a default installation of Istio with helm chart version `1.3.3`
The reason was in enabled by default `enableProtocolSniffingForOutbound`
https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/pilot/values.yaml#L16

I belive for `ALLOW_ANY` mode `enableProtocolSniffingForOutbound` should be `false` like `enableProtocolS

[2019-10-17 18:57] howardjohn commented on #17718
From jason ^

[2019-10-17 18:58] rshriram commented on #17913
We introduced this change to reduce the 503s when scale-in happens.
#17955 will not work reliably due to time synchronization issues [time on pilot node may not match with the time when the grace period actually expires on the affected pod's node].

Are you okay with the inbound listener to not be removed at all, when a deletion timestamp is set? i.e. we would go back to the old behavior of removi

[2019-10-17 18:58] howardjohn commented on #16458
@goruha I don't think the two features are related at all, why do you think it broke? Can you provide more details about your setup and the config dump? Probably in another issue since it doesn't seem related

[2019-10-17 19:35] goruha commented on #16458
@howardjohn
Platform AWS

Schema looks like that
ELB (https termination) -> Service -> Istio Gateway -> VirtualService -> Pod

Ingress Gateway service

[code]

Ingress Gateway

[code]

VirtualService

[code]

Everything else is default chart values you can find [here](https://github.com/cloudposse/helmfiles/blob/istio-egress-issues/releases/istio.yaml)

When I have [`enableProtocolSniffingForOutbo

[2019-10-17 19:36] jasonwzm commented on #15884
prototool does not check alpha APIs e.g. v1alpha1. so it is not ideal in our use case. Closing it for now and we will re-assess in the future.

[2019-10-17 19:36] #15884 closed

[2019-10-17 19:38] goruha commented on #16458
@howardjohn another workaround to make it work is to create `ServiceEntry` for `google.com`, but in case of `ALLOW_ANY` such entity can not be required for correct behaviour

[2019-10-17 19:49] esnible commented on #17807
@sushicw I looked into this for validation errors being reported with no origin.  Using the master build, `~/go/out/darwin_amd64/release/istioctl x analyze --use-kube` was giving errors like
[code]

The problem is related to the resources created by toMcpResource() in _galley/pkg/config/processor/transforms/serviceentry/transformer.go_.  They have no Origin.  Giving them an origin seems to suppres

[2019-10-17 19:50] howardjohn commented on #16458
@goruha can you capture a config dump and create another issue and assign/mention @yxue ? instructions https://github.com/istio/istio/wiki/Troubleshooting-Istio#collecting-information-2

[2019-10-17 19:52] howardjohn commented on #17807
See also https://github.com/istio/istio/issues/17949

On Thu, Oct 17, 2019 at 12:50 PM Ed Snible <notifications@github.com> wrote:

[2019-10-17 20:08] sushicw commented on #17807
@esnible That makes sense. We'd still be generating schema validation errors for those kube-system resources, but filtering them out. I think it makes sense for transformers to be responsible for setting a sane Origin value. If you've already gotten started, feel free to go for it. We should probably create a new Origin implementation for this, instead of re-using the kube-specific version.

Havin

[2019-10-17 20:14] gotwarlost commented on #17913
@rshriram  re: the change in https://github.com/istio/istio/pull/13909/files

[code]

Would it be possible to walk me through why this change reduces 503s when scale-in happens?
I don't see the connection.

From whatever comments I see in that PR and references to others, this change is protecting against pod delete and update events racing against other pod update events of newly created pods tha

[2019-10-17 20:15] howardjohn commented on #17717
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17986/unit-tests_istio/2584 is another one

[2019-10-17 20:16] gotwarlost commented on #17913
Also, for the record, I'm against any change that adds `traffic.istio.io/skip-inbound-drain-on-shutdown: true` to invoke logic that at first glance doesn't seem related directly to the drain problem except as a possible side-effect.

[2019-10-17 20:22] duderino commented on #14122
@PiotrSikora but we need to keep circleci around for macos builds

[2019-10-17 20:22] sushicw opened #17996 "`istioctl analyze` should let the user know if there are no validation messages"
Right now, if there are no validation messages, the command doesn't output anything at all. This leads to user confusion about whether it's even working. We should output text indicating that no issues were found, at least when using the default output mode. This text should probably to to STDERR.

[2019-10-17 20:22] diemtvu commented on #17717
Thanks. From the log, looks like ADS is not ready when we make the request.
The simplest fix would be sleep for few sec.

debug_test.go:384: /authenticationz returns with error code 404:
ADS for "dumpApp-644fc65469-96dza.testns" does not exist. Only have:

On Thu, Oct 17, 2019 at 1:15 PM John Howard <notifications@github.com>
wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-215

[2019-10-17 20:26] duderino commented on #17398
@sushicw not sure if you want to take this one, but might make it easier for people to use istioctl analyze

[2019-10-17 20:26] sushicw commented on #17996
As a fun bonus, it'd be neat if we could output those cool green checkmarks / red X marks that some tools do.

[2019-10-17 20:28] howardjohn commented on #17717
I would rather retry than sleep, otherwise tests take too long and may
still be flaky

On Thu, Oct 17, 2019 at 1:23 PM Diem Vu <notifications@github.com> wrote:

[2019-10-17 20:29] mandarjog opened #17997 "Bots: Enable cert auto-rotation on eng.istio.io"
https://github.com/istio/bots/blob/master/policybot/deploy/policybot/templates/ingress.yaml

At present the ingress requires pre-issued certificates.
Update the deployment to run cert-manager and auto renew.

Also consider using https://github.com/GoogleCloudPlatform/gke-managed-certs/blob/master/deploy/managed-certificate-controller.yaml

[2019-10-17 20:30] mandarjog commented on #17997
@geeknoid

[2019-10-17 20:30] jasonwzm opened #17998 "Validate weights in VirtualService sum up to 100"
**Describe the feature request**

**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[X] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Additional context**

[2019-10-17 20:41] sushicw commented on #17998
This already exists: https://github.com/istio/istio/blob/master/pkg/config/validation/validation.go#L2088-L2091
https://github.com/istio/istio/blob/master/pkg/config/validation/validation.go#L2104-L2107

[2019-10-17 20:41] #17998 closed

[2019-10-17 20:48] sushicw opened #17999 "Analyzer to detect invalid hosts for virtualservice mirroring"
Just like we check host validity for destination rules, we should also check for the "mirror" attribute.

[2019-10-17 20:50] PiotrSikora commented on #14122
See: https://github.com/istio/istio/issues/16030

[2019-10-17 20:52] douglas-reid opened #18001 "typo in istio/proxy extension log message"
**Bug description**

Typo at https://github.com/istio/proxy/blob/08cec447dfc349b314e226dc66132dbdb5d08fc9/extensions/stackdriver/stackdriver.cc#L63.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ X ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experienc

[2019-10-17 20:53] sushicw commented on #17507
Let's also make sure we cover basic "does it exist" checks for the specified hosts in destination rules.

[2019-10-17 20:57] howardjohn commented on #7964
I think this can done with some combination of https://github.com/envoyproxy/envoy/pull/7995 and https://github.com/istio/istio/wiki/EnvoyFilter-Samples#use-remote-address-and-xff-num-trust-hops if someone has a chance to try it out

[2019-10-17 21:05] ayj opened #18002 "galley needs permission to list deployments"
https://github.com/istio/istio/pull/17714 added the deployment collection to galley. The clusterrole charts need to be updated with permission for this new resource. Otherwise the server-side analyzer feature won't work as expected and galley logs are filled with the following:

[code]

[2019-10-17 21:10] carolynhu commented on #17585
Further optimization:  passing configuration parameters to different perf jobs with the same underlying run_per_job.sh, then each configuration set can be triggered and run separately.

[2019-10-17 21:15] howardjohn commented on #11510
Running from master this seems to work:
[code]

Is my config not representative of the issue you all are running into, or this may have been fixed?

[2019-10-17 21:17] bmacauley-reward commented on #13283
useful feature...would still be interested

[2019-10-17 21:17] howardjohn commented on #15252
Duplicate of https://github.com/istio/istio/issues/13578

[2019-10-17 21:17] #15252 closed

[2019-10-17 21:24] howardjohn commented on #14122
Closing as everything is done but proxy which is tracked in https://github.com/istio/istio/issues/16030

[2019-10-17 21:24] #14122 closed

[2019-10-17 21:24] #17610 closed

[2019-10-17 21:33] howardjohn commented on #15235
This almost feels like https://github.com/istio/istio/issues/14242 but I don't see how it could be. Maybe a similar type of issue though

[2019-10-17 21:33] sushicw commented on #17381
https://github.com/istio/istio/pull/17869 should greatly mitigate this, since it modifies `istioctl analyze` to analyze one namespace at a time.

We can probably update the injection analyzer to remove those hardcoded exceptions now.

[2019-10-17 21:35] #15809 closed

[2019-10-17 21:36] sushicw commented on #17806
https://github.com/istio/istio/pull/17869 should greatly mitigate this: a user won't see this validation message for the `operator` namespace unless they explicitly direct `istioctl` to analyze that namespace.

@howardjohn are we OK to close this?

Between making `istioctl analyze` namespace-specific and our already tracked future work to control output levels, analyzers run, and suppress specific

[2019-10-17 21:39] #17806 closed

[2019-10-17 21:39] howardjohn commented on #17806
Thanks1

[2019-10-17 21:40] sushicw commented on #17538
@nrjpoddar is this a duplicate of https://github.com/istio/istio/issues/17535? Can it be folded in?

[2019-10-17 21:41] #17809 closed

[2019-10-17 21:42] howardjohn commented on #16240
Is it possible nginx is doing something weird here? just going to httpbin with spaces seems to work fine:

[code]

[2019-10-17 21:44] sushicw opened #18006 "Support prefix matching when specifying analyzers by name"
When specifying analyzers via name in `istioctl analyze`, prefix matching should be supported. So e.g. you could do "virtualservice.*" instead of having to list every virtualservice analyzer.

Followup to https://github.com/istio/istio/issues/17443

[2019-10-17 21:44] sushicw commented on #17443
Should we also support exclusions by name?

[2019-10-17 21:46] howardjohn commented on #17164
That does look weird that it is duplicated.. but that is the inbound only what matters is the outbound config for the kong sidecar. Can you just attach a full config dump if possible of the kong sidecar? https://github.com/istio/istio/wiki/Troubleshooting-Istio#collecting-information-2

[2019-10-17 21:46] howardjohn commented on #17278
Seems like this is resolved?

[2019-10-17 21:47] sushicw opened #18007 "Analyzers should support version ranges"
At some point, we will need to be able to conditionally disable analyzers that don't match the version of Istio being analyzed. We will need to add some sort of version range information to analyzer metadata (preferably optional, so we only use it where needed) and then have the combinedAnalyzer skip over analyzers that are for the wrong version of Istio.

Some early discussion of this here: https

[2019-10-17 21:52] sushicw opened #18008 "Perf testing for analyzers"
1. Do performance testing of analyzers in general, looking for bottlenecks that appear when running it at scale (on large clusters). This should also give us a baseline idea of expected performance.

2. Set up integration / bench testing so that we can avoid surprise performance regressions.

The performance implications are most important when running via Galley (using `enableAnalysis`), but the

[2019-10-17 21:56] lei-tang opened #18009 "Failed to connect to Sidecar Injector and Galley webhooks"
*Bug description**
- The PR https://github.com/istio/istio/pull/16014 changed the webhook ports of Galley and Sidecar Injector from 443 to 9443. However, the webhook configurations of Galley and Sidecar Injector still use the default port 443, which causes the following error on Sidecar Injector and the same connection error on Galley too:
Error from server (InternalError): Internal error occurred

[2019-10-17 21:57] PiotrSikora commented on #16030
Note that we can always migrate the macOS build from CircleCI to Azure Pipelines.

[2019-10-17 22:04] incfly commented on #17278
I don't think this is resolved... we have service based policy (only configure ports declared in the service object) and we have inbound traffic capturing all. The non mapped ports does not have mTLS or JWT policy, this should be fixed maybe as part of new authn policy.

/cc @diemtvu

[2019-10-17 22:27] howardjohn opened #18014 "Pods cannot start without cleaning iptables first"
Capture of slack conversation:
Romain Lenglet [Today at 2:12 PM]
Nothing in the logs before that?
28 replies

John Howard  [1 hour ago]
[code]

[2019-10-17 22:28] howardjohn commented on #18014
revert on 1.4 https://github.com/istio/istio/pull/18012

[2019-10-17 22:33] therealmitchconnors opened #18016 "istioctl wait reports propagation improperly"
The Pilot debug API is reporting objects distributed, even when the envoys have never acked anything... appears to be a caching problem.

[2019-10-17 22:35] therealmitchconnors commented on #17898
On further investigation, we have two problems here:
1) we were generating the Key for deleted objects incorrectly
2) because pilot does not use incremental MCP, it is never informed about deletes.

Number 2 will be a blocking issue for reporting on deleted config, unless we decide to start caching quite a bit more data in the leder...

[2019-10-17 22:44] therealmitchconnors opened #18018 "istioctl wait does not properly retrieve kubernetes resourceVersions"
using --resourceVersion succeeds, but attempts to retrieve resourceVersions from k8s fail, blocking the process indefinitely.

[2019-10-17 22:46] sushicw commented on #17443
Should we output, at runtime, which analyzers are run? (Could do that nifty green checkmark thing).

[2019-10-17 22:54] brian-avery commented on #17909
Interesting. Just seeing this issue now, but it always passed locally for me. Let me see if I can reproduce.

[2019-10-17 22:56] elfinhe opened #18019 "istioctl x upgrade: upgrade components distributed in multiple namespaces"
Now the `upgrade` cmd uses `targetICPS.GetDefaultNamespace()` to get the namespace for Istio Control Plane, which is based on the assumption that all Istio components are installed in the same namespace.

This might be changed in 1.5 when istio/installer is mature enough to install istio in multiple namespaces.

To support that, upgrade should use the namespace per component inside ICPS. Functions

[2019-10-17 23:00] brian-avery commented on #13964
This was implemented by https://github.com/istio/istio/pull/17119

[2019-10-17 23:00] #13964 closed

[2019-10-17 23:09] nrjpoddar commented on #17538
@sushicw let's keep it separate for now but they will be under the umbrella of authentication policies. Keeping it separate just enforces multiple people possibly working on it and smaller PRs.

[2019-10-17 23:16] howardjohn commented on #5037
I think readiness probes work now, for other stateful set issues see https://github.com/istio/istio/issues/10659

[2019-10-17 23:16] #5037 closed

[2019-10-17 23:28] rlenglet opened #18021 "Istio CNI should ignore pods injected with istio-init"
Since https://github.com/istio/istio/pull/17044, the `istio-init` container doesn't clean up the `iptables` chains at startup anymore. If Istio's `iptables` chains are already created before `istio-init` executes, `istio-init` now fails. This can happen in two cases: `istio-init` already executed but failed and is restarted by `kubelet`, or Istio CNI is installed and already initialized `iptables`

[2019-10-17 23:41] howardjohn commented on #18014
I had CNI installed

[2019-10-17 23:41] #18014 closed

[2019-10-17 23:52] zerobfd opened #18023 "Istioctl analyze panic on nil Origin"
**Bug description**

istioctl x analyze panics when a message struct Origin is nil. It shouldn't, and we should also order nil as the lowest value w/r/t sorting. Introduced in istio/istio#17940.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Secu

[2019-10-18 00:02] elfinhe commented on #17912
https://github.com/istio/operator/pull/395, seems like we can load it from VFS now.

[2019-10-18 00:03] esnible opened #18025 "'istioctl x webhook' tests should not print on success"
The `istioctl x webhook` uses `fmt.Printf()`.  It should print using cmd.Printf() or cmd.OutOrStdout() the way the other commands do.  This will prevent it from cluttering up the unit test logs, and make it easier to write tests.

[2019-10-18 00:08] lei-tang commented on #18009
The problem is caused by the image pulling policy (by default it is "IfNotPresent", after changed to "Always", the problem is gone).

[2019-10-18 00:08] #18009 closed

[2019-10-18 00:13] esnible commented on #18002
@sushicw It seems we are traveling down a dark path.

Oz' comment https://github.com/istio/istio/issues/17272#issuecomment-539590894 suggested that it should be possible to get _istioctl_ to validate Deployments without Galley being aware of them.  It certainly doesn't need them.  Was Oz mistaken or did I screw up the implementation?

[2019-10-18 00:46] howardjohn commented on #4340
@sdake feel free to send the 1 AUD :slightly_smiling_face: https://github.com/istio/istio/pull/18028

[2019-10-18 00:58] hilliao commented on #17473
Indeed, after [changing service.yaml to have name: http](https://github.com/hilliao/enterprise-solutions/commit/4d0e74b431c6702d71787206a21466f84cc0ebc4), applying the policy took a minute to cause HTTP request to return 401:

`
istio-1.3.3$ curl $INGRESS_HOST/hello -s -o /dev/null -w "%{http_code}\n"
401
istio-1.3.3$ curl $INGRESS_HOST/hello -s -o /dev/null -w "%{http_code}\n"
200
istio-1.3.3$ cu

[2019-10-18 00:58] #17473 closed

[2019-10-18 01:18] hzxuzhonghu commented on #17913
Let's come back to the issue.   I understand the outbound is the deleting pod will access a upstream service. But what do you mean the inbound ? Talk to itself?

[2019-10-18 01:45] linsun opened #18031 "deleting ICP cr left a few resources"
**Bug description**

After I delete my ICP (istio control plane) cr, all pods/deployments/services in Istio-system are removed.  However, the istio-security ConfigMap remains.  Also, all secrets remain, plus the default service account for istio-system namespace.   All other configmaps and service accounts do get removed.

I noticed what is left don't have the proper labels needed for operator to

[2019-10-18 01:46] linsun commented on #18031
cc @sdake @ostromart

[2019-10-18 01:55] hzxuzhonghu commented on #17831
/assign

[2019-10-18 02:01] hzxuzhonghu commented on #17718
The `connect: connection refused` error is a pure L4 error, not related to certs.

[2019-10-18 02:01] #18023 closed

[2019-10-18 02:03] lei-tang commented on #18025
Under istioctl directory, there are non-test code that uses cmd.Printf() or cmd.OutOrStdout(). However, in the test code (*_test.go), I could not find examples using  cmd.Printf() or cmd.OutOrStdout(). Can you point me examples using  cmd.Printf() or cmd.OutOrStdout() in the test code (*_test.go) so I can follow the convention? It is unclear which output file handle to be created and passed into t

[2019-10-18 02:07] howardjohn commented on #17718
Yes I think somehow failing to connect to the API server (because it is down, as in the original issue where I was doing an upgrade) is triggering the cert issues, although I'm not sure why really.. maybe just a coincidence

[2019-10-18 02:27] howardjohn opened #18032 "gencheck command occasionally crashes"
See error: https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/17992/gencheck_istio/1256
This sometimes crashes with error

[code]

[2019-10-18 02:50] morvencao commented on #18031
I think the remaining resources are not managed by controller, similar to the case that we need to clean the secrets generated by citadel if we uninstall the Istio with helm delete..., in that case, we need helm post-delete hook.

[2019-10-18 03:51] #17840 closed

[2019-10-18 04:00] ostromart commented on #18031
From the list above the only unexpected one is the ConfigMap. The secrets would need to be cleaned up with a hook - or have the controller delete the ns.

[2019-10-18 04:05] ostromart commented on #17799
After mulling this over and chatting with John I haven't been able to think of anything better than the ldflags idea that wouldn't require a lot of effort.

[2019-10-18 04:09] #17390 closed

[2019-10-18 04:12] ostromart commented on #17408
Fixed.

[2019-10-18 04:12] #17408 closed

[2019-10-18 04:14] ostromart commented on #17912
We can but we don't use it yet. We should be able to fall back if we cannot get it from github.

[2019-10-18 04:35] ostromart opened #18034 "Validation should be done in webhook"
Currently, validation only happens when ICP is unmarshaled in the controller, and errors only show up in logs. Thus, it's possible to create a completely wrong ICP and not know about it without looking at the controller logs.

[2019-10-18 04:36] ostromart opened #18035 "Remove experimental from istioctl x manifest"
This is no longer experimental for 1.4.

[2019-10-18 04:39] ostromart commented on #16899
No, it got fixed.

[2019-10-18 04:39] #16899 closed

[2019-10-18 04:42] ostromart opened #18036 "Overriding resources does not lead to correct merging"
To reproduce, install using operator controller, then edit the ICP CR to modify trafficManagement.components.pilot.k8s.hpaSpec.minReplicas to 2.
The value is modified, but some other HPA settings are deleted in the process. This is likely due to incorrect merging when the final output manifest is generated in the controller.

[2019-10-18 04:48] howardjohn commented on #18034
is there already a webhook for the operator? Since galley can't do this due to bootstrapping problems

[2019-10-18 04:50] howardjohn commented on #18031
whatever you do don't delete the secrets on upgrade like we used to do with helm.. it leads to traffic loss

[2019-10-18 04:52] howardjohn commented on #18008
If you set this up as go benchmarks, then I think we have the ability to track results over time. We aren't using it yet though, but we should, something like a postsubmit that runs all the benchmarks. I am planning to expand pilots benchmarks soon and hoping to utilize this so we may be able to share the same setup work

[2019-10-18 07:17] hzxuzhonghu opened #18038 "EDS built should consider svc port other than name"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

As can be seen https://github.com/istio/istio/blob/156d828d379be772f8d04cac342210e2f04b97b2/pilot/pkg/proxy/envoy/v2/eds.go#L270-L278

If we have a

[2019-10-18 07:21] hzxuzhonghu commented on #18038
But when test with istio-master, the output is a little different, it is:

[code]

Also not expected.

[2019-10-18 07:26] jh-sz commented on #5580
I am experiencing the same issue, and using istio v1.3.0. The cluster is new and without any network policies or egress rules configuration. I have `global.outboundTrafficPolicy.mode` in default `ALLOW_ANY`. And I am able to connect to other rds postgres db instances in rds but not one of them and having password error similar to [this article](https://medium.com/@cy.chiang/problems-when-trying-to

[2019-10-18 07:49] #17718 closed

[2019-10-18 08:17] objectiser commented on #15316
I believe this issue can be closed - but please reopen if there are further questions/suggestions.

[2019-10-18 08:17] #15316 closed

[2019-10-18 09:52] morvencao opened #18041 "Operator controller crash after deleting the ICP CR"
With the latest code, after deleting the ICP CR, the controller panic:
[code]

[2019-10-18 10:45] nicktrav opened #18042 "mixer: Stackdriver adapter serializes the export of tracing data, blocking other Report RPCs"
**Bug description**

The Stackdriver adapter performs poorly when handling concurrent `Report` RPCs that contain trace spans that need to be exported.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[X] Performance and Scalability
[X] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experienc

[2019-10-18 12:01] hzxuzhonghu commented on #18038
IC, the root cause is that we stores it by hostname-> namespace -> map[**clusterID**][]*model.IstioEndpoint
`	EndpointShardsByService map[string]map[string]*EndpointShards
`

But when we get lb eps for a cluster, we donot consider the port in cluster name.

[2019-10-18 12:11] hzxuzhonghu commented on #18038
Another  info

The service and serviceentry creation order matters, as  pilot/pkg/proxy/envoy/v2/eds.goL601
`	svc := proxy.SidecarScope.ServiceForHostname(hostname, push.ServiceByHostnameAndNamespace)
`

[2019-10-18 12:47] jh-sz commented on #5580
OK.. I have got it working, in case anyone else stumble on to this, my setup might be a bit different, basically i have vpc-peering and communicating with rds postgres db instance from another vpc.
https://github.com/istio/istio/issues/6593 helped me. Basically i need to add a `ServiceEntry`.

[code]

[2019-10-18 13:11] burmanm commented on #17349
Was this source pathing intended to be as a parameter for certain messages? So for example:

[code]

[2019-10-18 13:16] Stono opened #18043 "Mysterious 503's on long running requests"
**Bug description**
We are seeing intermittent 503's on long running requests.  We have an endpoint that takes around 4 minutes to respond, and it can fail any time within that.  We've seen as low as 6 s.  Sometimes it completes without issue.

The flow looks like this:

`[ingress-nginx-internal]` -> `[search-one]`

It always fails in the same way:

  - `DC` flag from the destination `search-one`

[2019-10-18 13:18] Stono commented on #15285
@vadimeisenbergibm we are still seeing 503 UC errors https://github.com/istio/istio/issues/18043

[2019-10-18 13:20] Freyert commented on #17810
@cober did you all have CPU limits enabled?

[2019-10-18 13:36] esnible commented on #18025
What I want you to do is remove all `fmt.Printf(` from webhook.go.  Replace with `fmt.Fprintf(writer, ...` like the other istioctl commands.

The goal is that doing `go test` in the _istioctl/cmd_ should not produce any output from webhook.go or webhook_test.go.

[2019-10-18 13:49] 2ZZ opened #18045 "Websocket connections fail when passing through istio-ingressgateway"
**Bug description**
Websocket connections fail when passing through istio-ingressgateway as the `Connection` and `Upgrade` headers are not passed through to the backend application.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test

[2019-10-18 14:07] #18041 closed

[2019-10-18 14:12] esauser commented on #17759
We are also looking to gain visibility on blocked traffic.  Is this possible currently?  If not, can it be added?

[2019-10-18 14:21] bianpengyuan commented on #18042
Thank you a lot for the detailed analysis! Would you like to contribute a fix to this issue?

[2019-10-18 14:25] nicktrav commented on #18042
@bianpengyuan - sure thing. You can assign to me.

[2019-10-18 14:42] Martz commented on #10068
I would really like support for regex or param matching in paths also!

[2019-10-18 14:45] linsun commented on #16787
tag as enhancement as this is not something we currently support.  contribution welcome in this area.

[2019-10-18 14:53] linsun commented on #17159
@oke-py can you check for your pvc, what is being set for accessModes?

It should be set to `ReadWriteMany`.

[2019-10-18 14:54] linsun commented on #17159
also, which cloud provider are you on? this could be related to how storage class is implemented in your cloud.

[2019-10-18 15:03] linsun commented on #12602
Think this is still a valid issue for the new installer/operator.

The resulting is we produce a production high availability profile that have multiple replicas and specifically targeted to resolve upgrade without down time prob.   We don't want this to be a solution just for istio-policy as istio-policy is going away soon.

How does that sound @johscheuer @jansmets @dwradcliffe?

cc @howardjohn

[2019-10-18 15:06] linsun commented on #13649
@sdake can this be closed?  I'm assigned to bug bash this one.

[2019-10-18 15:36] howardjohn commented on #16998
https://prow.k8s.io/view/gcs/istio-prow/logs/integ-k8s-116_istio_release-1.4_postsubmit/15

[2019-10-18 15:38] mandarjog opened #18046 "readiness checks: /server_info hangs when proxy is otherwise serving traffic."
Readiness check depends on hitting `http://127.0.0.1:15000/server_info`

It gives rise to the following flipflops.
server_info is either serviced by the main thread, and when it is busy process the next config change it cannot respond to this message, or there is some lock involved somewhere.

We should use something else.

[code]

[2019-10-18 15:39] mandarjog commented on #18046
@PiotrSikora @lambdai

[2019-10-18 15:39] howardjohn opened #18047 "New Test, TestWebhook/key/cert_reload, flaky"
Looks like this has failed a few times since being merged: https://testgrid.k8s.io/istio_istio#integ-galley-k8s-tests_istio&width=20&exclude-non-failed-tests=

[2019-10-18 15:43] howardjohn commented on #18046
Are you sure it can handle traffic fine in this case? I have seen this as well, but only when the pod is under heavy load. When I did test this, heavy load meant a bunch of XDS responses, so maybe this is blocked on the config path.

This is not actually flip flopping though, the readiness probe needs to fail 30 times in a row:
[code]

[2019-10-18 15:46] ayj commented on #18047
On it. Fix is being testing in master and 1.3/1.4 cherry-pick PRs.

[2019-10-18 15:48] howardjohn commented on #18047
Thank you!

[2019-10-18 15:49] howardjohn commented on #10589
Is this fixed by Nino's SSE PR?

[2019-10-18 15:56] #17903 closed

[2019-10-18 16:01] #17891 closed

[2019-10-18 16:13] howardjohn commented on #1756
https://github.com/istio/istio/issues/15281

[2019-10-18 16:13] howardjohn commented on #15281
Part of https://github.com/istio/istio/issues/1756

[2019-10-18 16:14] howardjohn commented on #15488
Part of https://github.com/istio/istio/issues/1756

[2019-10-18 16:21] howardjohn commented on #16127
Hm that is weird. Is there something special about `8080`? Can you try switching it to a different port # and see if it works?

From the config everything looks right. What I suspect is maybe there is another listener on `8080` that this is matching, so its not actually going through those routes?

[2019-10-18 16:21] howardjohn commented on #16127
Also if possible if you can reproduce with config we can apply (ie using public deployments like httpbin or something) it would be useful!

[2019-10-18 16:23] gotwarlost commented on #17913
No another service watching pods detects that the pod has been deleted and communicates with it by sending checkpoint requests.

[2019-10-18 16:32] sbezverk commented on #15281
@istionary  could you please share your ServiceEntry yaml, I will repro it and fix it.

[2019-10-18 16:37] howardjohn commented on #17171
Did you see this one only namespace with the ServiceEntry, without, or both?

Can you expand on "intermittent"? Is this 1/10 requests or .001%? Does it occur in groups (eg, 1 minute of outage) or randomly?

Do you never see this issue on 1.1.7?

[2019-10-18 16:39] howardjohn commented on #13679
Based on the above I *think* this is fixed. If you still see this one 1.3 please open an issue, as it may be a sign of a real issue

[2019-10-18 16:39] #13679 closed

[2019-10-18 17:06] selmanj commented on #17443
Possibly relevant:

https://docs.google.com/document/d/1r1hOBIwkDesZ8vYaHMj2YThEcUxegB-fLMPBst_yXIU/edit#heading=h.xw1gqgyqs5b

[2019-10-18 17:14] #17987 closed

[2019-10-18 17:18] costinm commented on #15309
Not very harmful, the entire webhook config is getting changed - I would wait until istiod and operator are more stable before looking at this.

Easy to remove the name to avoid the confusion, but P4

[2019-10-18 17:20] rlenglet commented on #15381
Closing this, as the issue is not reproducible. Let's reopen if this is observable again in a version ≥1.3.x.

[2019-10-18 17:21] #15381 closed

[2019-10-18 17:21] costinm commented on #14592
It's an advanced feature, need to get the basics working first. Using multiple gateways can continue to use templates.

[2019-10-18 17:21] rlenglet commented on #14327
One way to mitigate this problem would be to lower the polling period, e.g., from 30 seconds to 5 seconds.

[2019-10-18 17:24] costinm commented on #16218
@fpesce  - this seems P0 - should be relatively small change.

[2019-10-18 17:28] costinm commented on #13900
Can you elaborate ? Istio can be installed in other namespaces, and istioctl seems to work with this.

Operator and default installer are not using multiple namespaces - but advanced users can use the templates directly.

For example knative is running Istio in a separate namespace.

[2019-10-18 17:28] #13900 closed

[2019-10-18 17:32] nmittler commented on #10589
@howardjohn I think so ... the description of the success criteria here is not very clear. Probably better to just close it for now ... I'm sure we'll have any number of more specific issues related to multi-cluster.

[2019-10-18 17:32] #10589 closed

[2019-10-18 17:34] mandarjog commented on #17967
Can you provide trace logs from the proxy?

[2019-10-18 17:34] sushicw commented on #17349
I don't think anyone has designed this in detail yet.

The ideal solution would be as automatic as possible, so devs writing analyzers don't need to manually construct the path to return. If the proto message objects we're working with had some mechanism to track their own place in the tree, we could find the path without needing any extra args passed... but unfortunately the proto message objects

[2019-10-18 17:35] mandarjog commented on #17952
@djazayeri do you need this for 1.4 or 1.4.x is ok ?

[2019-10-18 17:36] rlenglet commented on #14628
Closing as https://github.com/istio/istio/issues/17795 indicates that tracing is working with Istio CNI 1.3.2.

[2019-10-18 17:36] #14628 closed

[2019-10-18 17:37] rlenglet commented on #15399
This issue is not specific to CNI, which has nothing to do with mTLS. Updating labels.

[2019-10-18 17:38] #14874 closed

[2019-10-18 17:40] mandarjog commented on #8191
closing, this does not apply any more.

[2019-10-18 17:40] #8191 closed

[2019-10-18 17:41] #13874 closed

[2019-10-18 17:41] cscetbon commented on #15399
@rlenglet I don't have that issue when I don't set up Istio using istio-cni.

[2019-10-18 17:42] #17307 closed

[2019-10-18 17:43] howardjohn commented on #17318
What is the status on those?

[2019-10-18 17:43] #17351 closed

[2019-10-18 17:44] geeknoid commented on #8772
@rcernich Should we close this bug and open smaller bugs for remaining items?

[2019-10-18 17:44] rlenglet commented on #15399
@cscetbon does this still happen with 1.3.3? The iptables setup is now the same with and without Istio CNI starting with the 1.3.0 release, which should remove any discrepancies between setups with and without Istio CNI.

[2019-10-18 17:45] lambdai commented on #9113
Summary: grace pod termination may need both application and istio-proxy reaction.
The istio behavior discussion is here: https://github.com/istio/istio/issues/17913

[2019-10-18 17:46] rlenglet commented on #17318
It's WIP in https://github.com/istio/istio/pull/17427.

[2019-10-18 17:46] howardjohn commented on #17384
Hey @markjayniel , thanks for the issue. We are trying to keep github issues to bugs only so we can keep track of them better. For questions, you may be more likely to get a response on https://discuss.istio.io. Thanks!

[2019-10-18 17:46] #17384 closed

[2019-10-18 17:46] rcernich commented on #8772
@geeknoid, I think we should.  That will make it easier to track, plus the basic work has been completed: a golang based k8s client library exists.

[2019-10-18 17:48] howardjohn commented on #17395
Presumed fix in #16458. If thats not the case please let me know

[2019-10-18 17:48] #17395 closed

[2019-10-18 17:48] #17419 closed

[2019-10-18 17:50] howardjohn commented on #17556
Seems like this is probably just something Envoy is doing, would be nice to confirm if this needs work in Envoy or if we need to configure differently

[2019-10-18 17:53] mandarjog commented on #11789
It is still deprecated, but possible.

[2019-10-18 17:53] howardjohn commented on #17980
@shudhanshh I don't think we have enough info here to help. I don't understand what the issue is, and what steps would be needed to reproduce, can you expand on this?

[2019-10-18 17:54] geeknoid commented on #18032
This is a bug in protoc, not something under our control.

[2019-10-18 17:55] howardjohn commented on #17906
it was cloing steves personal repo

[2019-10-18 17:55] #17906 closed

[2019-10-18 17:57] #17848 closed

[2019-10-18 17:58] #8772 closed

[2019-10-18 17:58] howardjohn commented on #17880
Expanded the scope of https://github.com/istio/istio/issues/11366 to include CRI or CNI (implementation detail), so I think this is a duplicate. There is work being done there already

[2019-10-18 17:58] #17880 closed

[2019-10-18 17:59] #11836 closed

[2019-10-18 18:00] esnible commented on #12439
@incfly Do you think this is a documentation problem, a networking problem, or a user experience problem?

[2019-10-18 18:01] howardjohn commented on #17882
I think this is fixed in 1.4, https://gcsweb.istio.io/gcs/istio-build/dev/1.4-alpha.0039742337ddf3b766ac974e9a7aad003896cfcf/deb/ looks to be the right format.

[2019-10-18 18:02] nrjpoddar commented on #17688
The PR addresses only a partial fix, we need to regenerate client code and then close this issue.

[2019-10-18 18:03] cscetbon commented on #15399
@rlenglet I haven't tried but I can.

[2019-10-18 18:03] esnible commented on #12580
Closing in favor of https://github.com/istio/istio/pull/17870

[2019-10-18 18:03] #12580 closed

[2019-10-18 18:07] rcernich commented on #17688
I'll regenerate the client once a new tools image is available.

[2019-10-18 18:12] esnible commented on #11983
Works for me.  The message output is

[code]

[2019-10-18 18:12] #11983 closed

[2019-10-18 18:14] linsun commented on #15498
still valid req as long as we will support helm charts.

[2019-10-18 18:17] prune998 commented on #18043
We are seeing something similar with Istio 1.3.3.

We are using Ingress Gateway and an application wit hIstio sidecar. All connexions are HTTP/2 (GRPC) on AKS.

# case working  :
Client APP -- HTTP/2 TLS  --> LB --> Ingress GW  SSL offload --> backend APP

In this case we can stay connected for days, sending one packet every 10s or 30s

# case not working
Client APP -- HTTP/2 TLS  --> LB --> Ingre

[2019-10-18 18:17] esnible commented on #16576
@sdake Please explain the problem or close the issue.

[2019-10-18 18:17] howardjohn commented on #18032
It doesn't matter where the bug is, this is blocking PRs from merging. There are plenty of options.

Make the job optional
Use a different tool
Add retries
Update protoc
Fix protoc

[2019-10-18 18:19] mandarjog commented on #17138
yes, the podspec use `istio-mixer-type: policy` and `istio-mixer-type: telemetry` labels.
If this is not enough, please reopen the issue.

[2019-10-18 18:19] #17138 closed

[2019-10-18 18:20] esnible commented on #17185
@therealmitchconnors Do you have a suggestion for a solution?

- Should the user be required to restart pods when adding the first meshNetwork?
- Should Pilot accept any pod from unnamed network, in case it was created before the first named network?
- Should Pilot "grandfather" pod IDs it has seen before?

[2019-10-18 18:21] esnible commented on #15837
@irisdingbj What are the plans for this issue?

[2019-10-18 18:27] esnible commented on #11091
May I close this because of the output of `istioctl x describe pod`? and `describe service`?

[2019-10-18 18:42] sushicw commented on #18002
As I understand it, right now a running galley instance shouldn't be paying any attention to deployments. The snapshots in [metadata.yaml](https://github.com/istio/istio/blob/master/galley/pkg/config/meta/metadata/metadata.yaml#L496) should be controlling that: galley uses the "default" and "synthetic" snapshots, while istioctl uses "localanalysis" and "synthetic."

But it looks like something is

[2019-10-18 18:54] ostromart commented on #18035
Docs also need to be updated in istio.io

[2019-10-18 18:56] howardjohn commented on #17909
Some failures:

https://prow.k8s.io/view/gcs/istio-prow/logs/integ-k8s-113_istio_postsubmit/333
https://prow.k8s.io/view/gcs/istio-prow/logs/integ-k8s-113_istio_postsubmit/334
https://prow.k8s.io/view/gcs/istio-prow/logs/integ-k8s-113_istio_postsubmit/335

[2019-10-18 18:59] wpbeckwith opened #18061 "SDS falis to load available secret"
**Bug description**
I have installed istio with SDS enabled and all works fine except that secrets are not getting reloaded by SDS.  I can successfully submit a cert-manager certificate like

[code]
And the secret will be created in the istio-system namesapce.

[code]
However the logs for the ingress-sds process show

[code]
The above logs show where I deleted the certificate and the secret from t

[2019-10-18 19:00] esnible commented on #17833
@rvennam points out that this message is also confusing:

[code]

[2019-10-18 19:04] rvennam commented on #17833
pod enforces HTTP -> It is expecting, not enforcing right? enforcing implies a Policy

[2019-10-18 19:05] esnible commented on #17833
Related problem.  @rvennam reports that when there are no AuthenticationPolicy and no MeshPolicy the output is
[code]

If there is no policy the tool should say that, not `AuthenticationPolicy -`

[2019-10-18 19:06] #4340 closed

[2019-10-18 19:07] #17924 closed

[2019-10-18 19:12] sdake commented on #18036
@irisdingbj can you take a look at this defect?  This is very important to get right for Istio for 1.4.

[2019-10-18 19:15] esnible commented on #18002
It is a waste of CPU for Galley to watch Deployments.  It has no interest in them.  Rather than granting it permission to watch them let's find a way to for Galley and Istioctl to select different sub-sets of resources.

[2019-10-18 19:17] sdake commented on #18034
Can you take a look at solving this problem?  I am not clear what exactly the requirements are.  @ostromart will add more context.

[2019-10-18 19:45] sushicw commented on #18002
Noting a sub-mystery: why is Deployments getting a watcher, but services / pods / namespaces are not?

The answer is that we only watch the latter if service discovery is enabled. We have an "Excluded Resource Kinds" field that by default is based on the old set of resources in `galley/pkg/source/kube/builtin/types.go`. Deployments isn't included here, so the "disable kube built-ins unless service

[2019-10-18 19:52] ayj commented on #18002
+1 to making galley smarter.

On Fri, Oct 18, 2019 at 12:46 PM Chris Wilson <notifications@github.com>
wrote:

[2019-10-18 20:42] Stono commented on #18043
Thanks @prune998, I look forward to seeing what else you find.

We have some long running jobs that have started failing recently so feel there is a regression somewhere.  I'm away for the weekend but when I get back I plan to try with various sidecar versions.

[2019-10-18 20:47] Stono commented on #13679
Cheers John.  I haven't seen it in a while 👍

[2019-10-18 20:50] howardjohn commented on #16555
One other way to do this, if we can't do in proxy, is to have pilot expose it based on the node metadata from the connections. Not 100% accurate but close

[2019-10-18 20:53] incfly commented on #17933
I'll also try to modify the gateway resource to add response header manipulation.

In this way, we can inspect the response rather than rely on Prometheus metrics to verify request goes through gateway.

And thus we can keep sending request from client to "bing.com" util get expected response header.

[2019-10-18 20:53] ostromart commented on #17546
Fixed in https://github.com/istio/operator/pull/417.

[2019-10-18 20:53] #17546 closed

[2019-10-18 20:54] prune998 commented on #18043
Well, @Stono I found nothing interesting from the logs yet...
I took more TCP dumps, but nothing explaining the root cause of the TCP FIN sent by the proxy...

[2019-10-18 20:55] rshriram commented on #18043
is there a way to check if there was a config push to the sidecar during this period? A listener reload that caused old one to drain and terminate?

[2019-10-18 20:59] Stono commented on #18043
@rshriram we had the same idea, and tried various methods to do config pushes such as editing destinationrules and rolling out new versions of applications defined in the apps sidecar.  Tailing the istio proxy logs would show the cluster changes but it didn't trigger the problem.   Because of that we couldn't draw any correlation between config reloads and these errors

[2019-10-18 21:00] prune998 commented on #18043
@rshriram I set some debugs like `client` and `upstream`, and set Pilot to refresh every minute... I see no link between them (it's not the same issue as we had with 1.3.1, which is resolved by the 1.3.3)

The only "strange" logs I see every few seconds (but are not linked to the TCP FIN) are :
[code]

I have this s3 endpoint in a `serviceentries` to allow egress traffic.

[2019-10-18 21:01] jasonwzm opened #18064 "Print out version in istioctl analyze"
This is a tracking bug. We want to find out if we need to print out the version of istioctl in each analyze command.

The reason behind is that our current instructions ask the users to pull istioctl from master. While we troubleshoot, it is helpful to get the commit sha they are using.

Currently we are using `istioctl version` to get that information. This bug is to track if we need to put the s

[2019-10-18 21:04] ostromart commented on #18035
https://github.com/istio/istio/pull/18062
https://github.com/istio/istio.io/pull/5195

[2019-10-18 21:04] rshriram commented on #18043
but your app is an internal service right? so this shouldnt matter..

[2019-10-18 21:04] prune998 commented on #18043
yes, it's just debug logs I see from the Istio sidecar... nothing to do, theorically

[2019-10-18 21:11] rshriram commented on #18043
we need to know which one is the instigator..
if the backend app without sidecar is h2, then the fact that gateway --> app works implies there is nothing wrong with the gateway (and thus the cds code in pilot).
This then points me to the sidecar's listener or the inbound cluster. I wonder if its tripping some connection pool limit (envoy's circuit breaker)

[2019-10-18 21:13] prune998 commented on #18043
I do see a change since I set the Pilot `--keepaliveMaxServerConnectionAge=1m` : the cnx drop occures faster than before.
It's gone from 1m-17m to less than than 3 minutes... I'm still retrying to be sure.
The max age was set to 5 mins before, so I'm going to put it back there after some more testing...

[2019-10-18 21:13] Stono commented on #18043
Btw we see the same behaviour with both h1 and h2.

[2019-10-18 21:15] howardjohn commented on #17826
Fix was merged, right? https://github.com/istio/pkg/pull/75

[2019-10-18 21:15] #17826 closed

[2019-10-18 21:16] howardjohn commented on #17839
I think this is something that would be really useful. My understanding is @knrc has done some work in this area and may be possible to get this into Istio soon. Is that right Kevin?

[2019-10-18 21:21] sushicw opened #18065 "Add documentation for all existing analyzers"
Now that we have https://github.com/istio/istio/issues/17520, we should make sure we create docs for the analyzers already in place.

New analyzers going forward should have docs.

[2019-10-18 21:21] sushicw commented on #17520
Created https://github.com/istio/istio/issues/18065 to track backfilling docs.

[2019-10-18 21:29] howardjohn commented on #17440
(likely outside the scope of this issue, and maybe there is another one already) if we included an error code, which I think we should, it may be useful to allow filtering/ignoring certain issues. I am thinking of a case where someone uses this in CI and wants to ignore known "bad" config

[2019-10-18 21:36] sushicw commented on #17976
@nrjpoddar Your recent PR fixes this, right?

[2019-10-18 21:39] pitlv2109 opened #18067 "RBAC integration tests to use MTLS"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Currently RBAC integration tests are relying on Istio deploys with mtls out of the box, but this is not the case. We need to apply mtls policies and test them with RBAC, since these two features are used together in most cases.

**Describe alternati

[2019-10-18 21:42] prune998 commented on #18043
OK guys, now I can tell that :
- my connexion drop is linked to `--keepaliveMaxServerConnectionAge`
- every time the connexion drop I have these logs from the Envoy Proxy (Istio sidecar) :
[code]

So something is still triggering the proxy to reload.
As I'm writing, I just had two reloads really close :

[code]

[2019-10-18 21:51] ayj commented on #12951
This appears to be an environmental issue with our kube-apiserver networking is setup. Please re-open if the problem still persists.

[2019-10-18 21:51] #12951 closed

[2019-10-18 21:53] wpbeckwith commented on #18061
OK, I found the problem and it is a bug.  The issue is that cert-manager creates secrets with 3 keys, like
[code]

So I first tried deleting the ca.crt key from the secret and cert-manager just adds it right back, so I then edited the secret's ca.crt key to have the base64 encoded value of 'foo' which is 'Zm9v' and updated the secret.

[code]
Once I did this then I got the following in the ingress

[2019-10-18 21:54] ostromart commented on #17352
I verified that the functionality is working as expected at least, but we still need tests since this feature is not exercised much.
Downgrading to P1 for now.

[2019-10-18 22:00] lei-tang commented on #18025
https://github.com/istio/istio/pull/18068 is created for this issue. Please review it.

[2019-10-18 22:04] jasonwzm commented on #17688
Note that we will need to cherrypick for 1.4 release.

[2019-10-18 22:09] ayj commented on #8487
I don't think this will be relevant anymore with the move to mixer v2.

[2019-10-18 22:09] #8487 closed

[2019-10-18 22:09] nickbp commented on #17826
Yep! Should be fixed now

[2019-10-18 22:12] ayj commented on #8478
@andraxylia, are you still working on this? Galley's config analyzers are performing resolution which may not be consistent with Pilots. cc @nrjpoddar

[2019-10-18 22:13] prune998 commented on #18043
I just added some `config` debug :
[code]

The shot version looks like :
[code]

[2019-10-18 22:13] ayj commented on #8469
We're slowly moving to a model where all mesh-level resources are namespaced. This reduces the total number of CRD/APIs that user needs to reason about.

[2019-10-18 22:13] #8469 closed

[2019-10-18 22:14] yangminzhu commented on #8825
@howardjohn
No, there is not much need to remove the `RbacConfig` in 1.4 as its successor `ClusterRbacConfig` is also deprecated by the new `AuthorizationPolicy` in 1.4.

The next step is to deprecate the old RBAC policy (`RbacConfig`, `ClusterRbacConfig`, `ServiceRole`, `ServiceRoleBinding`) all together.

[2019-10-18 22:14] #8825 closed

[2019-10-18 22:16] yangminzhu commented on #9505
Not needed, closing for now.

[2019-10-18 22:16] #9505 closed

[2019-10-18 22:20] ayj commented on #12083
@utako, were you still planning to work on this?

[2019-10-18 22:21] JimmyCYJ commented on #17059
https://github.com/istio/istio/pull/17942

[2019-10-18 22:22] sushicw commented on #17440
Yep, we have a few issues that overlap here.

https://github.com/istio/istio/issues/17862 (exit codes)
https://github.com/istio/istio/issues/17996 (should report success)
https://github.com/istio/istio/issues/17703 (suppressing specific messages per-resource)

@esnible @howardjohn Is there anything else uniquely captured in this issue, or can we close this one?

[2019-10-18 22:24] sushicw commented on #18064
Original discussion: https://docs.google.com/document/d/1SiFx6SnNme1InaF4E9oNByyCjM6syilUFAfQRLsmT8Q/edit?disco=AAAADlzwyFc&usp_dm=true&ts=5daa2970

[2019-10-18 22:29] yangminzhu commented on #11866
Closing this issue as it's a question and not a bug according to the [Istio Bug Scrub](https://docs.google.com/document/d/19cQynIfmLwmcw9ujJkiOxY0D0pyuXNLOKpPTvmkWvIQ/edit#). The question is opened at  https://discuss.istio.io/t/ingress-gateway-decrypt-then-send-to-a-pod-listening-on-https

[2019-10-18 22:29] #11866 closed

[2019-10-18 22:30] yangminzhu commented on #15618
Closing as it's a duplicate of #4693

[2019-10-18 22:30] #15618 closed

[2019-10-18 22:32] PiotrSikora commented on #16030
@geeknoid the only CircleCI job left is the macOS one. Let me know if we should migrate it to Azure Pipelines or if you prefer to leave it on CircleCI (in which case, this issue can be closed). Thanks!

[2019-10-18 22:32] yangminzhu commented on #4771
@JimmyCYJ Is this still needed? There has been no update for about 1.5 years.

[2019-10-18 22:33] ayj commented on #12138
cc @liminw, can you help clarify the current thinking on suffixes w.r.t policy and trust?

[2019-10-18 22:33] yangminzhu commented on #12427
@lei-tang @myidpt Is this still needed? There has been no update for 6 months.

[2019-10-18 22:36] ayj commented on #14847
This general behavior is by design: we don't indicate readiness until our endpoints are ready.

[2019-10-18 22:36] #14847 closed

[2019-10-18 22:37] yangminzhu commented on #15148
@gustavovalverde is the issue resolved with https://github.com/istio/istio/issues/6486#issuecomment-531346748? If so I think we can close this one for bug report, feel free to open an feature request if needed.

[2019-10-18 22:38] yangminzhu commented on #14311
Istio 1.1.7 was long time ago, is this still a problem in the most recent releases? (1.2 or 1.3)

[2019-10-18 22:46] utako commented on #12083
@ayj, yes! I'm starting out by fitting the existing Pilot status controller into the pattern in the Galley server. were people in the config wg hoping for a full rewrite? were there problems

[2019-10-18 22:54] ayj commented on #14330
related: https://github.com/istio/istio/issues/13559

[2019-10-18 22:54] #16164 closed

[2019-10-18 22:54] #15281 closed

[2019-10-18 22:55] ayj commented on #12074
@Nino-K, were you still planning to work on this?

[2019-10-18 22:59] oke-py commented on #17159
I'm using kind (Kubernetes IN Docker).
[code]

## cluster creation

[code]

## helm installation

[code]

## Istio installation

[code]

## check

[code]

PVC access mode is RWX = ReadWriteMany.

[2019-10-18 22:59] oke-py commented on #17159
I' try it on GKE next.

[2019-10-18 23:02] geeknoid commented on #16030
Thanks!

I think the remaining jobs can stay on CircleCI. We've gotten usage so low now that we should be able to switch to a free plan once we're done building older releases.

[2019-10-18 23:02] #16030 closed

[2019-10-18 23:04] oke-py commented on #17159
crash cause might be this.
[code]

[2019-10-18 23:08] PiotrSikora commented on #16030
@geeknoid AFAIK, free plan doesn't include macOS, so we won't be able to do that... hence my question about Azure Pipelines.

[2019-10-18 23:12] geeknoid commented on #16030
Oh, I didn't know mac wasn't available on the free plan. If switching to Azure pipelines is a 15 minute thing, than sure. If it's an involved thing, then it's not worth it. CircleCi will not cost us much anymore...

[2019-10-18 23:18] Nino-K commented on #12074
@ayj yeah, I was going to do it for 1.5 but I'm treating it as a low priority item. Feel free to take it if we need it in earlier.

[2019-10-18 23:22] oke-py commented on #17159
GKE
[code]

[2019-10-19 00:10] incfly commented on #17666
Closing we reinvent this test.

[2019-10-19 00:10] #17666 closed

[2019-10-19 01:07] Stocco commented on #18043
We are also seeing those UC/DC disconnects on envoy  every now and then (less than 0.01% of the requests). It follows no pattern and it happens since istio 1.1.7 (atleast) . Since the percentage is not so high and it doesn't scale with volume we are not looking actively into this issue. But i'm confident that it is something with the 'keepaliveMaxServerConnectionAge' parameter. Hope we can track d

[2019-10-19 02:44] #18047 closed

[2019-10-19 03:33] clarketm commented on #17425
@rlenglet @duderino
The release script were deleted: #18028 on master. What branch(es) should the fix (#18020) be applied to?

[2019-10-19 04:40] tapanhalani commented on #17921
Any ideas on how can we resolve this issue? I tried restarting all the istio pods and re-deploying all the application pods too. But still getting this error on all the services exposed externally using virtualServices.

[2019-10-19 04:41] #17409 closed

[2019-10-19 04:57] nicktrav opened #18077 "mixer/stackdriver: Allow configuration of trace flush interval"
**Describe the feature request**

As a follow on to #18042 and #18074, I noticed that the tracing adapter does not currently have a means of specifying the interval at which the underlying tracing library will flush.

The implementation of the adapter prior to #18074 was such that a flush was made on each call to the handler. If #18074 is accepted, the flushing interval will revert to the default

[2019-10-19 04:59] rlenglet commented on #17425
@clarketm the following branches will need the fix: `release-1.4`, `release-1.3`, `release-1.2`.
Re: `release-1.1`, I'll let @duderino make the call since this branch is approaching EOL.
Thank you!

[2019-10-19 06:53] shudhanshh commented on #17980
@howardjohn we are trying to run istio behind gcp layer 7 Load balancer we connected istio ingress gateway at the backend of gcp load balancer with 31380 port when we set tls.httpsredirect: true in istio gateway our every request we get response code = 301 permanently moved even we requested is already on https.

[2019-10-19 07:10] ramaraochavali commented on #18043
This is interesting - AFAIK, this should not happen - Pilot should send all listeners every time and this indicates it is missing `virtualInbound` listener in some cases? @rshriram WDYT?

[code]

[2019-10-19 08:07] mandarjog opened #18078 "1.1.17: Segfault after rejecting listener"
[code]

[code]

[2019-10-19 09:02] ramaraochavali commented on #18046
Why do we have to check `/server_info` every time? Once it is live, should n't we catch the state and reuse it? It is not going to flipback to other state because Istio is not using active health checks
https://www.envoyproxy.io/docs/envoy/latest/api-v2/admin/v2alpha/server_info.proto#enum-admin-v2alpha-serverinfo-state

[2019-10-19 09:37] ramaraochavali commented on #18046
https://github.com/istio/istio/pull/18079 - PR to cache that state

[2019-10-19 13:53] mooperd commented on #12761
+1

[2019-10-19 13:59] dzdx opened #18080 "add grpc keepaliveparams to istio-policy grpc client connect to galley service"
**Bug description**
in our kubernetes environment, occasionally we encounter problems with configuration updates such as rules instances handlers that don't work.
turn on the mcp scope debug level log, i see that istio-policy does not have any log output after rules update such as:
[code]
then I restart the istio-galley pod, istio-policy still has no log output.
I use the nsenter  to enter the net

[2019-10-19 14:34] howardjohn commented on #17425
1.2 and 1.1 don't need the fix since those repos do not exist. 1.4 doesn't
need the fix since we don't use those scripts.

On Fri, Oct 18, 2019, 10:00 PM Romain Lenglet <notifications@github.com>
wrote:

[2019-10-19 14:37] howardjohn commented on #18064
We should not be telling users to pull istioctl from master. I think there was some discussion about which versions of istioctl worked with which istio version and we decided we want them in sync as much as possible. Also master is way less tested. Also in the install docs we have them install the release version, so telling them to download a whole new istioctl doesn't make much sense to me

[2019-10-19 15:29] rlenglet commented on #17425
You're right. I had only checked the existence of the `/release/gcb` directory.

[2019-10-19 15:45] howardjohn opened #18081 "Test Flake: TestController_GetIstioServiceAccounts"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/18068/unit-tests_istio/2741

[2019-10-19 15:56] #17905 closed

[2019-10-19 15:59] JimmyCYJ commented on #17409
The fix will be shipped with 1.3.4 and 1.4. Please feel free to reopen this issue. Thanks!

[2019-10-19 16:47] Stocco commented on #18043
Update---
I did some tests here that can help everyone to mitigate or resolve this problem
As prune said, it is related to the keepaliveMaxServerConnectionAge parameter

I've created an `/sleep` route that sleeps for 75s and then returns 204

with keepaliveMaxServerConnectionAge set to 1m i got:
 8 times 503 responses
 21 times 200 responses

with keepaliveMaxServerConnectionAge set to 120m connec

[2019-10-19 17:01] Stono commented on #18043
Hmmm, we don't have `keepaliveMaxServerConnectionAge` set.

[2019-10-19 17:05] #17504 closed

[2019-10-19 17:51] sarajmunjal commented on #17609
@myidpt I'd like to take this on as a first issue :)

[2019-10-19 17:52] nrjpoddar commented on #8478
Thanks @ayj for pointing out this issue. Why do you think that currently we are not consistent? I tried to look at Pilot logic and resolve it in a similar way. If I missed something can you point out the specifics?

[2019-10-19 18:38] Stono opened #18085 "First connection to new pod fails"
**Bug description**
Whilst debugging a different issue and watch the envoy logs, I noticed that when a new instance of an upstream comes up, the first connection fails, and the second works.

[code]

I don't believe this is causing any impact other than I'm guessing a tiny bit of performance, but thought I'd point it out anyway in case it's highlighting a race condition or some other undesirable b

[2019-10-19 18:51] Stono opened #18086 "HTTP2 connections being closed"
**Bug description**
I am trying to debug why I have connections dropping between envoys with http2 enabled.  I believe some of these are causing the 503UC errors I'm seeing in https://github.com/istio/istio/issues/18043.

Correct me if I'm wrong, but with http2 enabled, I'd expect this line to remain static:

<img width="522" alt="Screenshot 2019-10-19 at 19 48 40" src="https://user-images.githubu

[2019-10-19 19:22] Stono opened #18088 "Non-deterministic config generation causing frequent inbound listener reload"
**Bug description**
Following on from https://github.com/istio/istio/issues/18086 (I'm raising separate things as I continue to debug https://github.com/istio/istio/issues/18043) I periodically (roughly every 5 minutes) see pilot-agent seemingly disconnect from pilot with:

[code]

eg:
[code]

These correlate with big spikes XDS pushes:
<img width="1670" alt="Screenshot 2019-10-19 at 20 16 43" src

[2019-10-19 19:24] Stono commented on #18043
So I think my issues are being caused by listener reloads (see https://github.com/istio/istio/issues/18088)

[2019-10-19 19:31] Stono commented on #18086
I actually believe these connections are being dropped and recreated due to listeners being recreated on the upstream, due to XDS pushes (see https://github.com/istio/istio/issues/18088).

If someone can confirm that, I'll close this in favour of https://github.com/istio/istio/issues/18088

[2019-10-19 19:41] Stono commented on #18088
I increased to log level on pilot and see this for every connected pod every 5 minutes:

[code]

[2019-10-19 19:59] Stono commented on #18088
On a side note, could anyone tell me the implications of setting a very large `drainDuration`?

[2019-10-19 20:03] Stono commented on #18088
Here you can see XDS pushes vs 503UC's

<img width="1680" alt="Screenshot 2019-10-19 at 21 03 33" src="https://user-images.githubusercontent.com/1486729/67150779-ee254b00-f2b3-11e9-8e07-522ccad8491d.png">

[2019-10-19 20:04] Stono commented on #18086
After more investigation I am confident this is caused by https://github.com/istio/istio/issues/18088, so closing in favour of.

[2019-10-19 20:04] #18086 closed

[2019-10-19 20:16] Stono commented on #18088
Here's an example of a failed 503UC request as a result of the above, note the `503UC` from `ingress-nginx`, and the `503DC` from `forecourt-service`.

<img width="1680" alt="Screenshot 2019-10-19 at 21 15 47" src="https://user-images.githubusercontent.com/1486729/67150911-b3241700-f2b5-11e9-8acb-ba88ca5b035c.png">

[2019-10-19 20:18] Stono commented on #18043
Closing this in favour of https://github.com/istio/istio/issues/18088, it isn't just long running requests that i'm seeing this on, long running requests just exacerbates the problem but I believe the root cause to be listener reloads (which confirms what other people are seeing above when tweaking keepaliveMaxServerConnectionAge low).

[2019-10-19 20:18] #18043 closed

[2019-10-19 20:19] nrjpoddar commented on #18088
@Stono there was similar issue https://github.com/istio/istio/issues/17383 which we fixed (or thought we did) by making the config serialization more stable. I'm not sure but may be there's still some lingering serialization issue which is causing Listeners to be reloaded without any user provided configuration changes.

[2019-10-19 20:20] Stono commented on #18088
@nrjpoddar i can confirm we're changing nothing whatsoever but every 5 minutes we see this.

[2019-10-19 20:23] nrjpoddar commented on #18088
can you provide diff of Envoy config dump, specially listeners before and after this happens?

[2019-10-19 20:23] Stono commented on #18088
Sure, give me some time - I'm just trying to see if `PILOT_DISABLE_XDS_MARSHALING_TO_ANY` resolves the problem first.

[2019-10-19 20:24] nrjpoddar commented on #18088
Yeah, if it does then it's the same underlying issue. Remember `PILOT_DISABLE_XDS_MARSHALING_TO_ANY` will cause a spike in CPU.

[2019-10-19 20:27] prune998 commented on #18043
There was no need re-opening an issue... People from Istio are looking here. You're starting again from 0 on the new issue...

There was a previous issue with `keepaliveMaxServerConnectionAge` that was triggering a Listener re-creation in 1.3.1 and 1.3.2, which was supposely resolved in 1.3.3.

This is almost the same issue, but it's only the `virtualInbound` listener that seems to change and trig

[2019-10-19 20:30] prune998 commented on #18088
As pointed out in https://github.com/istio/istio/issues/18043, it's almost the same issue but seems to be limited to the `virtualInbound` listener, and does not happen at each Pilot `keepaliveMaxServerConnectionAge` trigger.
I'll keep investigating on monday but you're free to find the solution until then :)

[2019-10-19 20:30] Stono commented on #18088
Nope, `PILOT_DISABLE_XDS_MARSHALING_TO_ANY` did not resolve the problem

[2019-10-19 21:03] Stono commented on #18088
Caught a diff!

before:
[abtest-allocator-668956679-hvbsl-before.log](https://github.com/istio/istio/files/3747179/abtest-allocator-668956679-hvbsl-before.log)

after:
[abtest-allocator-668956679-hvbsl-after.log](https://github.com/istio/istio/files/3747180/abtest-allocator-668956679-hvbsl-after.log)

It seems to be non-deterministic ordering when we have two services pointing at the same pod (dif

[2019-10-19 21:17] Stono opened #18089 "Listener reload can cause 503UC errors"
**Bug description**
This is a follow on from https://github.com/istio/istio/issues/18088, as it's technically a different issue.

When envoy needs to reload listeners, this can result in a 503UC for in-flight requests, for example:

<img width="1680" alt="Screenshot 2019-10-19 at 21 15 47" src="https://user-images.githubusercontent.com/1486729/67151406-cb982f80-f2bd-11e9-8601-5dbabc0463dc.png">

*

[2019-10-19 21:17] Stono commented on #18088
I've made @howardjohn and @duderino aware of this, and raised a separate issue (https://github.com/istio/istio/issues/18089) to cover the fact listener reloads can result in 503UC (they're just exacerbated by this issue).

[2019-10-19 21:23] Stono commented on #18043
Sorry @prune998 i just had several issues open, some times it's hard to find the balance between separation :-)

https://github.com/istio/istio/issues/18088 contains the specifics now anyway regarding the `virtualInbound`.

There are some outstanding questions such as:

  - Why does the virtualInbound reload cause 503UCs (https://github.com/istio/istio/issues/18089)
  - What is triggering the conf

[2019-10-19 21:28] Stono opened #18090 "Excessive Envoy memory usage when global.controlPlaneSecurityEnabled=true"
**Bug description**
We have this on all of our clusters, pilot seems to push config every 5 minutes and i'm just wondering why?

This is on a simple testing cluster which is doing basically, nothing:

<img width="794" alt="Screenshot 2019-10-19 at 22 25 56" src="https://user-images.githubusercontent.com/1486729/67151538-912f9200-f2bf-11e9-870a-0c70dc4af593.png">

It looks like all the proxies reco

[2019-10-19 21:41] howardjohn commented on #18088
It would be useful to have a stat from envoy of number of configs that were
unique, so we could see a spike in LDS drains, measure how efficient pilot
is about not sending duplicate config, etc. I will send Envoy a feature
request

On Sat, Oct 19, 2019, 2:18 PM Karl Stoney <notifications@github.com> wrote:

[2019-10-19 21:47] #17425 closed

[2019-10-19 23:30] howardjohn commented on #18090
I believe the keep alive time is 5m so if there is no config sent during that time the connection is closed. When a new connection is open the config is sent again.

[2019-10-20 01:32] rjshrjndrn opened #18092 "IstioCoreDNS is not resolving any domain other than *.global"
**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ x ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
service entry domain should resolve to an ip.
**Steps to reproduce the bug**
[code]
**Version (i

[2019-10-20 03:56] morvencao opened #18093 "[Operator controller]Adding k8s settings for component will override other fields"
Currently if you try to add k8s settings for component in IstioControlPlane CR like this:

[code]

Then apply the CR into the cluster, other fields in the k8s settings will be 'empty' value in the updated  IstioControlPlane CR:
[code]

[2019-10-20 04:18] morvencao commented on #18093
/cc @irisdingbj

[2019-10-20 04:36] lambdai commented on #18078
known issue across all istio versions

Definitely be fixed in 1.5:
Envoy crashes at terminate(). the latest update is https://github.com/envoyproxy/envoy/pull/8553
To avoid envoy restart spaghetti sequences: use SDS in gateway. I believe @costinm is working on it

[2019-10-20 06:24] frdeng opened #18095 "Can't install v1.3.3 with helm v2.15.0"
**Bug description**
The installation works fine with helm v2.14.3

$ helm version
Client: &version.Version{SemVer:"v2.15.0", GitCommit:"c2440264ca6c078a06e088a838b0476d2fc14750", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.15.0", GitCommit:"c2440264ca6c078a06e088a838b0476d2fc14750", GitTreeState:"clean"}

$ helm install istio-1.3.3/install/kubernetes/helm/istio --name istio --namespa

[2019-10-20 06:33] Stono commented on #18090
I have mine at 24hours!

[2019-10-20 12:01] adimania opened #18097 "/etc/certs not found in istio-proxy"
**Bug description**
There are no certificates in /etc/certs in istio-proxy containers.

logs of test container:
[code]
mtls looks good:
[code]
But certs are missing:
[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[x] Installation
[x] Networking
[ ] Performance and Scalability
[x] Policies and Telemetry
[x] Security
[ ] Test and Rele

[2019-10-20 14:00] john-a-joyce commented on #17382
@tiswanso @sbezverk - I would like to understand any history you might have on this issue before trying to replicate it.

[2019-10-20 14:33] sbezverk commented on #17382
@john-a-joyce It looks to me as an issue with k8s cluster, the error message indicates inability for pod to access k8s API server. I do not think it has anything to do with istio itself.
@howardjohn  you should try to start a pod in your cluster and then try to curl for k8s api endpoint, I bet it will fail as well.

[2019-10-20 14:34] howardjohn commented on #18090
Oh interesting.. ok I will look into this. Is this new in 1.3.3?

[2019-10-20 14:34] dzdx commented on #18080
/label area/networking

[2019-10-20 15:14] Stono commented on #18090
Nope, definitely seen it going back a few releases although I can't confirm
when.

On Sun, 20 Oct 2019, 15:35 John Howard, <notifications@github.com> wrote:

[2019-10-20 15:26] howardjohn commented on #17382
@sbezverk I do not have access to an ipv6 cluster

[2019-10-20 15:31] howardjohn commented on #18090
Default XDS connection config:

[code]

So looks like we have it set on proxy and pilot?

[2019-10-20 15:51] willzhang commented on #18095
i have the same error
**kubernetes version**
[code]
**helm version**
[code]
**the error is :**
[code]

[2019-10-20 16:21] howardjohn opened #18098 "istiod does not build"
[code]

We need at least something that is building it and probably making a docker image so we don't run into this

[2019-10-20 17:18] #17811 closed

[2019-10-20 17:19] #17231 closed

[2019-10-20 17:57] bianpengyuan commented on #18077
Let's go with option 1 as a start to keep config simple. If it turns out to be necessary we could add flush interval for different telemetry types.

[2019-10-20 18:51] #18042 closed

[2019-10-20 19:38] #18018 closed

[2019-10-20 21:41] howardjohn opened #18102 "integration/security/mtls gateways fail to startup"
Seen this in a few PRs: https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/18054/integ-security-k8s-tests_istio/2791

istio-proxy fails to get ready: https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/18054/integ-security-k8s-tests_istio/2791/artifacts/mtls-ced2ab09519c417c81685596e0/_suite_context/istio-state-871796244/istio-egressgateway-5c7b6f9d7c-bwjmp-istio-pro

[2019-10-20 23:49] howardjohn opened #18104 "test"
**Bug description**

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version`)**

**How was Istio installed?**

**Environment where bug was observed (cloud vendor, OS, etc)**

[2019-10-20 23:50] #18104 closed

[2019-10-20 23:58] howardjohn opened #18105 "TestTcpMetric flaky, especially on newer kubernetes versions"
On k8s 1.14 and 1.16 fails ~50% of the time
* https://testgrid.k8s.io/istio_istio_postsubmit#integ-k8s-116_istio_postsubmit&width=20&exclude-non-failed-tests=
* https://testgrid.k8s.io/istio_istio_postsubmit#integ-k8s-114_istio_postsubmit&width=20&exclude-non-failed-tests=

On k8s 13, seems to fail much less: https://testgrid.k8s.io/istio_istio_postsubmit#integ-k8s-113_istio_postsubmit&width=20&ex

[2019-10-21 02:19] zqzzq commented on #16127
I reproduce with sleep and httpbin service:
[code]
The pod and svc:
[code]
And when I curl httpbin from sleep:
[code]
The 8080 gets 404 and the 8081 is fine, and if I change the 8080 to others like 9080 it can work normally. The logs of sleep:
[code]
The 8080 listeners of sleep:
[code]
It looks only 0.0.0.0 is matching. In addition, only this cluster has this problem, other cluster is fine.

[2019-10-21 02:26] irisdingbj commented on #11091
@esnible Let's close this issue as `istiocto x describe` has already been in the release.

[2019-10-21 02:26] #11091 closed

[2019-10-21 02:27] hzxuzhonghu commented on #11828
As this is clear, first let's close this for now

[2019-10-21 02:27] #11828 closed

[2019-10-21 02:30] hzxuzhonghu commented on #12845
We can do that by `envoyfilter` for now

[2019-10-21 02:30] #12845 closed

[2019-10-21 02:33] irisdingbj commented on #16008
`istioctl experimental auth check` is already been in release.

[2019-10-21 02:33] #16008 closed

[2019-10-21 02:46] hzxuzhonghu commented on #15428
this may also duplicate with #18089

[2019-10-21 02:46] #15428 closed

[2019-10-21 02:49] hzxuzhonghu commented on #15788
Is this still relevant?

[2019-10-21 02:58] incfly opened #18106 "Gateway/Sidecar rejects the auto mTLS config when key cert is not ready"
**Bug description**

TLDR, Pilot agent's readiness probe should mark the sidecar not ready util the first mTLS key cert is loaded from Citadel or other sources to avoid config push rejection.

This is more obvious w.r.t auto mTLS because key/cert is referenced in the CDS push right away...

**Solution**

Pilot agent its own readiness health check respect the key cert on its pod file system... Retu

[2019-10-21 02:59] incfly commented on #18106
@howardjohn @rshriram @diemtvu @GregHanson

Let me know what you think. I think we can add some changes in pilot agent code to fix this...

[2019-10-21 03:02] hzxuzhonghu commented on #16058
@yuzisun It seems that u have set authz policies, btw 1.1 is not supported, would you try istio 1.2+

[2019-10-21 03:04] incfly commented on #18102
This might just be another consequences of the same root cause, https://github.com/istio/istio/issues/18106

[2019-10-21 03:07] howardjohn commented on #18106
I have seen this in real world deployment as well.

So the logic would be `if mtls && !sds { wait for certs }`, is that right?

I think we do have some notion of waiting for certs but apparently it's not fully effective

[2019-10-21 03:08] hzxuzhonghu commented on #16094
@edussx Is this still reproduced on 1.2+?  We do not support 1.1 anymore.

[2019-10-21 03:16] incfly commented on #18106
I think that logic is correct.  Maybe we can use `sdsPath` existence as the indicator to see whether [SDS is enabled or not](https://github.com/istio/istio/blob/e7d5c8c8454c1af852a9177405070d9dbfeccb6a/pilot/cmd/pilot-agent/main.go#L432)

And pass this to the readiness prober library code in pilot agent.

I feel this is a little hacky, but can't think of other better ways.

[2019-10-21 03:31] hzxuzhonghu commented on #16193
Close as we donot validate the header name now

[2019-10-21 03:31] #16193 closed

[2019-10-21 03:37] kotyara85 opened #18107 "Injection data: err=failed parsing generated injected YAML - istio 1.3.3"
Hey guys,
We're migrating from istio 1.1.7 -> 1.3.3

For unknown reasons injector doesn't work as expected and throwing this error:

[code]

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User

[2019-10-21 03:39] hzxuzhonghu commented on #17417
@venilnoronha Could you provide more details?

[2019-10-21 03:40] hzxuzhonghu commented on #17435
@An0nymous0 We need more info

[2019-10-21 03:40] howardjohn commented on #18102
Maybe similar but not the same? In this case it looks like we cannot even connect to pilot. Maybe this is due to control plane security enabled and issue with certs (maybe certs not loaded, like in the other case?)

[2019-10-21 03:41] hzxuzhonghu commented on #15131
@elevran is this done?

[2019-10-21 03:47] ayj commented on #13334
We don't have a real use case yet for galley needing to consume multiple sources of config/resources. We can re-open or create a new bug later if this changes.

[2019-10-21 03:47] #13334 closed

[2019-10-21 03:49] ayj commented on #10082
The original issue is no longer relevant. The CRD vs. ConfigMap argument has been considered as part of the general improvements to the mesh runtime config.

[2019-10-21 03:49] #10082 closed

[2019-10-21 03:53] ayj commented on #12138
`cluster.local` is the local trust domain alias. Users should this when writing policy. See https://docs.google.com/document/d/1ncrENtF6PBVZVjhYePbvZ6F1obbNApKJh5mUDRvwHMw.

[2019-10-21 03:53] #12138 closed

[2019-10-21 04:27] howardjohn commented on #18107
The template is the istio 1.1 template, but the injector deployment is 1.3? They are not compatible. When you upgraded it seems like the template didn't upgrade somehow?

[2019-10-21 04:38] kotyara85 commented on #18107
We had a customized template. I merged the one from your repo and it seems to be working now, aside istio-init cannot start up:
[code]

[2019-10-21 04:41] howardjohn commented on #18107
that's probably the template from the `master` branch which is not compatible with 1.3 either. I would recommend you branch off the 1.3 template (release-1.3 branch, or download the release

[2019-10-21 04:42] howardjohn commented on #18107
Sorry for changing things so often, we don't generally treat the template as an API with compatibility guarantees

[2019-10-21 04:53] edussx commented on #16094
@hzxuzhonghu It didn't happen on Istio 1.3 since upgrade. Let me close this issue.

[2019-10-21 04:53] #16094 closed

[2019-10-21 04:56] incfly commented on #18106
Hmm apparently we have installation option to not worry about mTLS at all.

`not sds != always have a key/cert`...

Users can install Istio without Citadel just for traffic management...  simpleTestsMinProfile is failing due to this.

This means our Helm needs to be further complicated as if `security.enabled == false`, ignore auto mTLS in `globa.mtls.auto` (otherwise Pilot will configure sidecar

[2019-10-21 05:03] dumindu commented on #18095
Same issue. Any quick fix?

[2019-10-21 05:47] kotyara85 commented on #18107
Merged from v1.3.3 tag -
Not I see another error in istio-proxy sidecar.
[code]

[2019-10-21 06:28] dumindu commented on #18095
Having same issue. @morvencao Any update on this?

[2019-10-21 07:28] Stono commented on #18090
I can't see anywhere to configure this for the proxies connection to pilot?

[2019-10-21 07:54] kotyara85 commented on #18107
Also,
It's weird but after sidecard is added actual pod cannot communicate outside of kubernetes cluster.
Anyway, is there a way to debug that Envoy proxy error?
Thank you!

[2019-10-21 08:12] Ghost---Shadow commented on #12761
This worked for me

[code]

[2019-10-21 09:32] drshade commented on #11659
Took me a while to figure this out, so wanted to help any others that are battling with this. My approach was to copy @Stono above, but change the port number to 15020 (to hit the pilot agent, not the envoy proxy directly). This is only available in Istio 1.3 onwards.

[code]

Hope that helps!

[2019-10-21 09:39] #17754 closed

[2019-10-21 12:07] goruha opened #18110 "HTTPS outgoing requests blocked on fresh installation helm chart >= `1.3.0` because of outbound protocol sniffing"
HTTPS outgoing requests blocked on fresh installation helm chart >= `1.3.0`

We used the default values from the helm chart.
Assumes ALLOW_ANY mode and [`enableProtocolSniffingForOutbound: true`](https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/pilot/values.yaml#L16)

Platform: AWS
Installation:  helm chart version `1.3.0`
Kubernetes: `1.14.7` with kops, `calico` net

[2019-10-21 12:08] goruha commented on #18110
Injection template
[code]

[2019-10-21 12:58] rshriram commented on #18106
I dont think we need to make pilot aware of `security.enabled == false`. We simply need to fix the helm charts. Essentially, if security.enabled == false, [we also dont know if we would be installing citadel at a later date], we can generate the global authN policy with mtls disabled. this should take care of things on Pilot side.

[2019-10-21 12:58] hzxuzhonghu commented on #12549
Maybe related `use_remote_address` is not a bool type. it is a struct
[code]

[2019-10-21 13:05] #18031 closed

[2019-10-21 13:36] mc1711 commented on #17439
Hi @hzxuzhonghu and @howardjohn, sorry for the late reply.

After further investigation we found out that the 1.3.1 actually solved the issue, so everything is working fine.

The postgres-operator not able to label the pods was actually related to another bug from the operator itself.

Thanks a lot for your help and responsiveness.

[2019-10-21 13:57] knrc commented on #17839
@howardjohn That's partly correct, this forms part of the work we did for multi-tenancy.  There are still elevated privileges required however we moved those to the operator so the control plane itself can be installed by a normal user (via our operator) and an admin only has to install the operator.

I've uploaded [the presentation from last week's Environment WG](https://docs.google.com/presenta

[2019-10-21 14:05] mostafah commented on #17839
@knrc Thanks for the response. The presentation gives an “access denied” error to me. Is it shared publicly?

[2019-10-21 14:11] knrc commented on #17839
@mostafah It should be accessible to anyone who is part of the Istio community, can you see any other community docs in the shared drive?

[2019-10-21 14:16] kramvan1 commented on #18036
An example CR where it fails to apply the hpaSpec:
[code]

The HPA is created, but the minReplicas is still default of 1.

Also interesting that doing this with the ingress gateway works!?

[2019-10-21 14:16] mostafah commented on #17839
I wasn’t aware of that. I just requested Google Drive access through the Google Group and now I can access the file. Thanks.

[2019-10-21 14:18] kramvan1 commented on #18036
When doing HPA for both ingress and egress, I see the following:
[code]
Not sure why the egress HPA has a shortened name, that could be a clue as to why it's not working.

[2019-10-21 14:25] rshriram opened #18112 "Istio proxy seg fault with wasm metadata exchange and stats filter"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

sample config:
[code]

Here is the istio proxy log from the simple-http service.

[code]

**Affected product area (please put an X in all that appl

[2019-10-21 14:25] goruha commented on #18110
## Pilot

`kubectl logs -n istio-system -l istio=pilot --tail=100000000 -c discovery > pilot.log`

[code]

`kubectl get configmap -n istio-system -o jsonpath={.data.mesh} istio > meshconfig.yaml`

[code]

[2019-10-21 14:25] rshriram commented on #18112
I should also note that we have ALS enabled in the simple HTTP service. But I couldn't get proxy config because the pod was in crashloopbackoff state

[2019-10-21 14:31] irisdingbj commented on #18036
the mesh cli also fails to generate correct hpa resources. seems we have problems in translating.

[2019-10-21 14:33] goruha commented on #18110
`kubectl exec $POD -c istio-proxy -- curl 'localhost:15000/stats' > stats`

[code]

[2019-10-21 14:44] irisdingbj opened #18113 "istio operator fails to reconcile for some cr changes"
Isti-operator will fail to reconcile if we apply below crs:

[code]

2019-10-21T08:33:47.619842Z	error	Cannot unmarshal: json: cannot unmarshal object into Go value of type bool

The reason is we will change the spec as below:
[code]

[2019-10-21 14:58] morvencao commented on #18093
`kubectl` uses `json` lib to marshal/unmarshal the api object, while some json tags(omitempty) are missing the API spec, see: https://github.com/istio/operator/blob/master/pkg/apis/istio/v1alpha2/istiocontrolplane_types.pb.go#L1940 and https://github.com/kubernetes/api/blob/master/autoscaling/v2beta1/types.go#L37-L60

[2019-10-21 14:58] cebernardi opened #18115 "I cannot change TerminationDrainDuration in pilot-agent"
Hi all,
I was unsuccessfully trying to increase the graceful termination period for pilot-agent (both in Istio 1.2.5 and 1.3.3):

following the documentation and this other issue (#14988), I re-deployed Istio via helm chart providing the following relevant configuration:
[code]

I can see the `pilot` deployment modified accordingly:

[code]

and `istio-pilot` pod restarted.

However when I delete

[2019-10-21 15:11] goruha commented on #18110
[proxy.log](https://github.com/istio/istio/files/3751535/proxy.log)

[clusters.txt](https://github.com/istio/istio/files/3751537/clusters.txt)

[2019-10-21 15:13] howardjohn commented on #18115
The environment variable is in istio-proxy, not pilot

[2019-10-21 15:15] howardjohn commented on #18110
Did this work on other versions? Could be https://github.com/istio/istio/issues/16458

[2019-10-21 15:16] howardjohn commented on #18107
Sounds like Envoy is not starting up properly. I would go in the container and `ps aux` and `netstat -nl`. You should see listener on 15000 and `envoy` process running. If not, there is probably some error at the top of the logs

[2019-10-21 15:17] howardjohn commented on #17439
Glad its working

[2019-10-21 15:17] #17439 closed

[2019-10-21 15:18] ostromart commented on #18093
I think this is the same as https://github.com/istio/istio/issues/18036

[2019-10-21 15:20] ostromart commented on #18113
It should be hpaSpec, but there may be another problem too.

[2019-10-21 15:21] grebois commented on #7018
Im trying to create an ingress for kiali but I also get only 404 with the following yaml:
[code]

[2019-10-21 15:26] irisdingbj commented on #18113
It is related with the ``` enabled : true```.

[2019-10-21 15:26] mandarjog commented on #18112
Is this master or tip of 1.4?
@jplevyak have not seen this segfault before. Wasm code is not on the stack.

[2019-10-21 15:29] goruha commented on #18110
[code]
[config_dump.txt](https://github.com/istio/istio/files/3751645/config_dump.txt)

[2019-10-21 15:29] howardjohn commented on #18110
Sorry I just realized you came from that issue :slightly_smiling_face: I missed the part about protocol sniffing. Thanks for all the info!

[2019-10-21 15:36] mandarjog commented on #18112
@rshriram https://github.com/istio/istio/blob/master/tests/integration/telemetry/stats/prometheus/testdata/stats_filter.yaml this is the correct config.
Note vm_ids in addition to root_id

Can you try with this config?

[2019-10-21 16:03] ericvn commented on #17856
Note: Remember to change release-builder specified branch to `CHANGE_THIS_TO_RELEASE_BRANCH` in master after branching.

[2019-10-21 16:04] ayj commented on #8478
They may already be consistent with one another, but I wasn't sure. Do we have tests in place to verify?

[2019-10-21 16:10] #17077 closed

[2019-10-21 16:22] cebernardi commented on #18115
Hi @howardjohn ,
thank you for your reply!

I probably misunderstood this, then... https://github.com/istio/istio/issues/7136#issuecomment-480975510

I just modified the injection template and it worked.

However we're relying on helm to configure and deploy Istio in our cluster,  and modifying the config map in our use case is a little bit "dirty", because it would need to happen (if I correctly

[2019-10-21 16:23] irisdingbj commented on #18036
@ostromart I have tried using `default` profile and change the trafficManagement.components.pilot.k8s.hpaSpec.minReplicas to 2 . The change takes effect.

[2019-10-21 16:24] sushicw commented on #18064
As I see the reasoning...

We're adding new analyzer functionality to `istioctl x analyze` at a pretty rapid rate right now, and we want 1) to be able to test that new functionality in the real world ASAP and 2) to make it available ASAP to help solve problems. Waiting for the next major release would mean a large gap before we could do either.

This specific analyze tool is also intended to be do