[2018-05-16 18:57] andraxylia opened #5647 "Need validation to not allow multiple VirtualServices or DestinationRules for the same host"
from @ayj on slack
"Admission webhook (pre-create/update) in k8s doesn't support atomic transactions across multiple resources. See "Additional resource model properties" in https://docs.google.com/document/d/1RmHXdLhNbyOWPW_AtnnowaRfGejw-qlKQIuLKQWlwzs.

Best case Pilot could possibly detect and reflect conflict back into resource's status field"

[2018-05-16 19:03] ayj commented on #5646
By "deep semantic validation" I believe you mean checking referential integrity across resources. That's not really possible with the Kubernetes' resource model. Event ordering would prevent a 100% reliable scheme using local cache for cross-resource checking.

(From Kubernetes Resource Management doc, see [here](https://docs.google.com/document/d/1RmHXdLhNbyOWPW_AtnnowaRfGejw-qlKQIuLKQWlwzs/edit#

[2018-05-16 19:33] sdake commented on #5638
I am unable to reproduce this error, although during attempting to reproduce it, I had several DNS resolution problems on my host and confirmed our lab DNS server is struggling.  I changed DNS servers and this doesn't reproduce.

[2018-05-16 19:33] #5638 closed

[2018-05-16 19:46] hklai commented on #5628
@wattli can someone from the security team pick this up?

[2018-05-16 19:55] sdake commented on #5641
@ayj thanks - I should have caught that in the docs.  Will verify and then close if its not a problem.

[2018-05-16 20:10] ZhiminXiang commented on #2628
@markns we have not found a work-around yet. Hopefully this issue could be fixed in Istio side soon.

[2018-05-16 20:10] hklai opened #5648 "TestTempWorkspace is failing in 0.8 release qualification"
I0516 19:36:03.877] === RUN   TestTempWorkspace
I0516 19:36:03.878] 2018-05-16T19:36:03.877592Z	warn	Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
I0516 19:36:03.878] 2018-05-16T19:36:03.878124Z	warn	error creating inClusterConfig, falling back to default config: open /var/run/secrets/kubernetes.io/serviceaccount/token: no such file or directory

[2018-05-16 21:14] linsun commented on #5648
could you show me a log that has this test working?   I can't find any.   I think the test was not running in a cluster thus not able to create incluster config.  cc @ayj

[2018-05-16 21:14] linsun commented on #5648
a failed one:  https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio-releases_daily-release/597/daily-pilot-e2e-envoyv2-v1alpha3/101/?log#log

[2018-05-16 21:27] mandarjog opened #5650 "Enable shellcheck linter in linter presubmit"
@Tahler pointed to https://github.com/koalaman/shellcheck which check shell scripts.

- [ ] Fix existing shell scripts per linter advice
- [ ] Enable shellcheck  in standard linters.

[2018-05-16 22:02] hklai commented on #5648
@linsun

The test passed in this run in the release-0.8 branch.
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/5616/istio-pilot-e2e-envoyv2-v1alpha3/1575/

Could you help figure out why it seem to fail consistently in the daily tests for release-0.8?
https://prow.istio.io/?job=daily-pilot-e2e-envoyv2-v1alpha3

The two successful runs were from master instead (which means it f

[2018-05-16 22:13] linsun commented on #5648
@hklai this 5615 one seems to be run today, and it has my change I'd assume.

It seems something environmental, either the test code isn't running in a k8s cluster or the k8s cluster isn't cleaned properly which cause not able to create the k8s client for the k8s cluster that the test code is supposed to run.

[2018-05-16 22:43] wattli commented on #5628
Looking...

[2018-05-16 22:57] ostromart opened #5652 "TestIngressGateway503DuringRuleChange fails"
https://github.com/istio/istio/pull/5417 causes this test to fail. It appears that this code exposes a bug in createGatewayHTTPFilterChainOpts in gateway.go, since for the last rule set in the test, no filter opts are returned for a valid port 80 listener. However, it's not clear why adding mixer filter should cause the test to fail because the size of the listener filters is set even before the m

[2018-05-16 23:10] wattli commented on #5628
The reason is that we rename ca to citadel and mixer to policy in 0.8. And here is what I can see from my side:

$ k get po -n istio-system
NAME                                             READY       STATUS    RESTARTS   AGE
istio-ca-79556d4848-bvnbp                   1/1       Running     0                   9m
istio-citadel-5b7f966fdc-2wkmj              1/1       Running     0

[2018-05-16 23:16] wattli commented on #5628
@douglas-reid

[2018-05-16 23:53] wattli commented on #5628
PR created:
https://github.com/istio/istio.github.io/pull/1293

[2018-05-17 00:10] thoraxe commented on #4500
So the issue is actually somewhat different than what I think we originally expected.

[code]

This sets the default SA to be able to use the privileged SCC. But the key word here is `able`. It doesn't mean `will`. When `istioctl` is used to inject the sidecar, it does so. However it does not correctly add an explicit `privileged` requirement (with 0.6) for the sidecar. It also doesn't declare wha

[2018-05-17 00:42] kidiyoor opened #5654 "invalid istio-sidecar.deb in istio-release-0.8-20180515-17-26"
[code]

[code]

[2018-05-17 00:45] sdake commented on #5641
operator error.

[2018-05-17 00:45] #5641 closed

[2018-05-17 01:54] goodforever opened #5657 "howto rolling-update istio-ingress service"
I modify type: LoadBalancer  to type: nodePort of  istio-ingress service in install/kubernetes/istio.yaml ,  howto rolling-update istio-ingress service ?

[2018-05-17 02:57] gyliu513 commented on #5604
Thanks @linsun and @esnible , this is exactly what I want :-)

[2018-05-17 03:46] ostromart commented on #5652
Repeating the same test on release-0.8 shows exactly the same lack of routes due to temporary virtualservices being empty. So the behavior at least is the same but test fails on mixer branch, must be some other reason for the failure.

2018-05-17T03:38:30.498236Z     info    buildGatewayListeners: gateways after merging: &{map[istio-ingressgateway.istio-system.svc.cluster.local:true] map[80:[port:

[2018-05-17 04:08] rshriram commented on #5652
we need to fix this before the final 0.8 release as the 503 gateway test is disabled..
I encountered this bug in a different scenario. Seems like adding a HTTPS port in the gateway triggers some of this behavior as well.

[2018-05-17 04:19] gyliu513 commented on #5606
Related with https://github.com/istio/istio/issues/5629

[2018-05-17 04:19] gyliu513 commented on #5605
Related with https://github.com/istio/istio/issues/5629

[2018-05-17 07:44] ymesika opened #5662 "Update Helloworld's sample MD to match autoscaling changes"
After #5584 the addition of the resources requests cpu/mem no longer needs to be manually added into injected istio-proxy.
The readme of the [helloworld sample](https://github.com/istio/istio/tree/master/samples/helloworld) should be updated accordingly.

[2018-05-17 13:58] esnible opened #5668 "_istioctl_ should issue deprecation warning when v1alpha1 rules are being created or updated"
v1alpha1 rules are deprecated in Istio 0.8.  _istioctl_ should issue a warning when creating such rules.  The warning should include the suggestion to convert the rules using `istioctl experimental convert-networking-config`.  The warning should probably go to stderr to avoid breaking scripts that read stdout.

[2018-05-17 14:41] sdake commented on #5633
patch merged that resolves this problem.

[2018-05-17 15:28] darrenhaken opened #5673 "Istio Mixer help needed - how to scrape application metrics?"
**Background**
I have a K8 cluster deployed with Istio which is collecting pod metrics from services which are pushed into Prometheus and rendered in Grafana.

We are running a suite of Java services using Spring Boot which can expose metrics in a Prometheus format and covers metrics like JMX, response time etc.

We are using [Micrometer](https://github.com/micrometer-metrics/micrometer) with Prom

[2018-05-17 15:52] #5604 closed

[2018-05-17 16:14] mchendil82 commented on #5393
I am also facing the same issue .. I am able to create egress gateway rules.. but neither not able to delete or get it...  is this fixed in 0.8...? I am facing the following error:

_[root@xxxx bin]# ./istioctl get gateway
Usage:
  istioctl get <type> [<name>] [flags]

Examples:
# List all route rules
istioctl get routerules

Error: Please use non-hyphenated resource name "gateway"_

[2018-05-17 16:42] esnible commented on #5393
This is fixed in 0.8 dailies.  You only need to dow load the CLI.

[2018-05-17 16:58] ostromart commented on #5652
I'm not sure that's the same issue - my PR hit this as well and the fix is among the commits. The symptom for the issue you mention is seeing "cannot set both HTTP and network filters" (because setting listener type based on protocol was wrong in some parts of the code). With that fix in, I nevertheless still see some other problem in the 503.

[2018-05-17 17:11] darrenhaken commented on #5673
@douglas-reid thanks for getting back to me about it, it definitely helps.

For now, I will go down the route of scraping the applications directly.
Do you know when the Direct API work will be ready? I don't know much about that so if there are any proposed docs I'd be interested to take a look.

You're right, the response time metrics etc could help diagnose any issues present within Envoy by co

[2018-05-17 17:45] andraxylia opened #5676 "Need to update .jinja for 0.8"
For Istio testing community day, I tried to follow the instructions below, and noticed the Istio 0.6 is installed by default and I cannot override the version.
https://preliminary.istio.io/docs/setup/kubernetes/quick-start-gke-dm.html

This issue is to update .jinja si re-do the testing to verify correct version is installed.

[2018-05-17 18:08] diemtvu opened #5677 "Correct instruction for testing mutual TLS task"
Command to verify citadel should be:
[code]
Also, this task should be rewritten to take into account authn policy. In fact, it could be removed to promote the use of authn policy to enable mTLS.

[2018-05-17 18:27] emedina commented on #1985
Facing also this issue with 0.7.1

[2018-05-17 19:26] andraxylia opened #5678 "Cannot install sidecar injector with helm"
Downloaded 0.8 candidate.

helm template install/kubernetes/helm/istio --name istio --namespace istio-system --set prometheus.enabled=true > $HOME/istio.yaml

Followed instructions from here for sidecar injector with helm:
https://preliminary.istio.io/docs/setup/kubernetes/sidecar-injection.html#automatic-sidecar-injection

Got:
helm install --namespace=istio-system --set sidecar-injector.enabled=

[2018-05-17 19:26] hklai commented on #5654
I am hoping we can decouple the monthly version scheme from these dailies.

Perhaps we can just use the datetime for master...

i.e. 0.8-20180515-17-26 for "release-0.8" and just 20180515-17-26 for master.

[2018-05-17 19:29] ldemailly commented on #5654
if that doesn't make deb complain that sounds fine with me

[2018-05-17 19:34] linsun opened #5679 "unable to preserve source ip"
Tried the ISTIO_INBOUND_INTERCEPTION_MODE:  TPROXY env var

and Annotations:    sidecar.istio.io/interceptionMode=TPROXY

and made sure proxy runs as root.... however, still see 127.0.0.1 as the source ip.

[code]

[2018-05-17 19:35] linsun commented on #5679
@costinm @ldemailly any suggestions for things I missed?

[2018-05-17 19:37] mchendil82 commented on #4524
Hi tommy,
I am also facing SSL issue between our app side car and kafka with mTLS enabled. But I was able to successfully go through with HTTP between app side car and kafka. Make sure you have configured egress rule with "tcp"  if your kafka is sitting outside of our cluster.. in my case kafka it is outside of kube cluster...

[2018-05-17 19:40] andraxylia commented on #5678
cc @linsun

[2018-05-17 19:41] linsun commented on #5679
Probably something worth documenting for release note as a limitation as this is a pretty common usage

[2018-05-17 19:43] mchendil82 commented on #4524
I have used mTLS but kafka is configured with PLAINTEXT listener  and if you want to test with PLAINTEXT between kafka and side car, try to configure kafka pod without side car injection and test it.

[2018-05-17 20:28] guptasu opened #5680 "Document export ISTIO_PROXY_IMAGE=proxyv2"
Please document users should do `export ISTIO_PROXY_IMAGE=proxyv2`
before this task https://preliminary.istio.io/docs/tasks/traffic-management/request-routing.html

@andraxylia @mandarjog @linsun  FYI

[2018-05-17 20:30] ayj commented on #5502
CRD can be assigned to categories (see https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions).

[code]

You can then get by category, e.g.

[code]

You could further categorize CRD by component type so things like `kubectl get istio-mixer` and `kubectl get istio-pilot` would work.

[2018-05-17 20:39] guptasu opened #5681 "fault injection task not behaving as expected"
In the fault injection task, after introducing 7s delay between review and rating for jason user, the products page is suppose to continue to work. But instead it shows error
[code]

[2018-05-17 20:40] guptasu commented on #5681
[code]

[2018-05-17 20:42] guptasu commented on #5681
sorry that is expected...

[2018-05-17 20:42] #5681 closed

[2018-05-17 21:06] diemtvu commented on #5677
I think we could drop it to FAQ of how to check Citadel and key/cert installation.
How to verify a connection is in mTLS already mentioned in auth policy task, though we can also emphasize it more (e.g explain why request fail, or how to make curl request from proxy with proper key/cert)

[2018-05-17 21:39] hklai commented on #5628
Since istio/istio.github.io#1293 is merged, can this be closed now?

[2018-05-17 21:40] hklai commented on #5546
What is the status now, given #5568 is closed?

[2018-05-17 21:41] hklai commented on #5414
@mandarjog any update? did you get a chance to verify?

[2018-05-17 21:43] yusuoh commented on #5676
@selmanj Could you please take this issue?

[2018-05-17 21:45] kyessenov commented on #5546
Mandar took over in https://github.com/istio/istio/pull/5669

On Thu, May 17, 2018 at 2:40 PM Andy Lai <notifications@github.com> wrote:

[2018-05-17 21:52] gyliu513 opened #5683 "Feature Request - Kiali addon"
Kiali is a front end to istio currently in development (no official release just yet) - it does take the Prometheus metrics and visualizes them (along with visualizing the mesh and other things such as visualizing circuit breakers, route rules and integrating Jaeger tracing). See https://kiali.github.io/ for details.

There is a JIRA issue created to propose it as an istio add-on at here https://i

[2018-05-17 21:55] andraxylia opened #5685 "Fault injection with Abort match clause not working"
I tried this task with Abort
https://preliminary.istio.io/docs/tasks/traffic-management/fault-injection.html

I see service not available even when I am not logged in as Jason. It rounds robin between v1 and "service not available".

Behaviour is the same if I log in as user "jason" or not.

Unclear if there is an error in the yaml file, since the yaml is similar to the delay case, and that one wo

[2018-05-17 22:31] ldemailly commented on #5679
maybe something missing from #5654

[2018-05-17 22:33] ldemailly commented on #5679
cc @rlenglet

[2018-05-17 22:38] rlenglet commented on #5679
`istio-init` should have a `-m TPROXY` arg if injected with that mode.

[2018-05-17 22:41] andraxylia opened #5686 "Secure Gateway does not work"
Followed the instructions here:
https://preliminary.istio.io/docs/tasks/traffic-management/ingress.html

Make sure you do not have another Gateway matching "*", because this will not work at all.

Regular Gateway works, secure does not:
$ curl -I -k https://$SECURE_INGRESS_HOST/status/200
Skippy Security Tip: It seems that you are using the flags: --insecure or -k. These flags disable SSL verifica

[2018-05-17 22:42] rlenglet commented on #5679
That's odd, since the template unconditionally sets a `-m` arg:
https://github.com/istio/istio/blob/master/pilot/pkg/kube/inject/mesh.go#L29
@linsun are you using automatic injection or istioctl?

[2018-05-17 22:48] rlenglet commented on #5679
Without the `-m TPROXY` option, redirection will be done using iptables `REDIRECT` and that alone explains why your sidecar is still working, but you're losing the source IP address.

[2018-05-17 22:48] andraxylia opened #5689 "Ingress traffic via k8s Ingress no longer works"
This task does not work.
https://preliminary.istio.io/docs/tasks/traffic-management/ingress.html#verifying-simple-ingress

The documentation needs to be updated.

[2018-05-17 22:56] hklai commented on #5676
Just checked with @selmanj. He kindly agreed to test this out and verify if the template can work with 0.8.

[2018-05-17 23:09] myidpt commented on #5677
As you mentioned, there are still contents covered in this task that are not covered in authn policy.
I feel our FAQ is not very obvious for users to find :P Maybe we can move this task down to the bottom since it's more for help debugging instead of presenting a feature.

I think besides rewriting the "Before you begin" section, we need to modify/remove the "Verifying service configuration" secti

[2018-05-17 23:12] bianpengyuan commented on #5414
@hklai I am verifying this.

[2018-05-17 23:37] Tahler opened #5691 "Grafana add-on on fresh Bookinfo install has no data to visualize"
Helm-installed Istio on GKE, applied Bookinfo, then followed instructions in https://preliminary.istio.io/docs/tasks/telemetry/using-istio-dashboard.html.

I get the following result:

![image](https://user-images.githubusercontent.com/10715719/40208961-74dc5b32-59f1-11e8-9eaf-415dd5d73b9a.png)

Perhaps I also need to add prometheus, but the documentation doesn't explicitly require prometheus and

[2018-05-17 23:39] rlenglet commented on #5679
Oh I see that you set the `ISTIO_INBOUND_INTERCEPTION_MODE` env variable, which should have the same effect.
@linsun can you please paste the logs from your `istio-init` container? That should give every command that was run to setup iptables.

[2018-05-17 23:41] Tahler opened #5692 "Problems with rate limiting task"
The documentation is out of date for
https://preliminary.istio.io/docs/tasks/policy-enforcement/rate-limiting.html (the prerequisites). The two sample yamls create kinds for istio-ingress, not istio-ingressgateway.

In debugging this, trying to use the new VirtualService and DestinationRule has not yielded successful results. They do not seem to cooperate with the memquota, quota, and rule created

[2018-05-18 00:18] ostromart opened #5694 "envoy v2 crashes during TestIngressGateway503DuringRuleChange"
Steps to reproduce:
re-enable TestIngressGateway503DuringRuleChange (currently skipped) and run it.
Observations:
Envoy crashes about 12 sec into the test which altogether lasts 25s. This shows up as a window of "connection refused" of ~ 2 sec during the test.
I strongly suspect that this is due to some mixer filter config code, since disabling the mixer filter config the test runs fine. The last

[2018-05-18 00:59] bianpengyuan commented on #5414
MixerReportingToMixer passed with v2. Created a PR to remove bypass logic.

[2018-05-18 01:41] JimmyCYJ opened #5696 "Mixer client tests failed on Mixer TCP filter"
Currently the Mixer client tests TestTCPMixerFilter and TestTCPMixerFilterPeriodicalReport fail frequently on prow. Both the test setup and Envoy side need investigation. Disable all the TestTCPMixer* tests.

[2018-05-18 01:41] JimmyCYJ commented on #5696
cc @qiwzhang

[2018-05-18 02:14] sdake commented on #5678
I can see how the docs are a little confusing.

There are two alternative workflows - one uses helm install / kubectl create - the other uses helm install (with no kubectl create).

The exact 3 steps that must be followed for istio with injection are:
https://preliminary.istio.io/docs/setup/kubernetes/helm-install.html#alternatively-use-helm-and-tiller-to-manage-the-istio-deployment

[2018-05-18 02:50] linsun commented on #5648
close now since Seb made a fix

[2018-05-18 02:50] #5648 closed

[2018-05-18 03:49] gyliu513 opened #5700 "productpage cannot be accessed and return 503"
After deploy productpage, found it cannot be accessed.

[code]

istio is 0518 from daily build
[code]

Deploy istio
[code]

Deploy bookinfo
[code]

Create gateway
[code]

Get gateway endpoint
[code]

Get bookinfo detail.
[code]

Log of `istio-proxy` in productpage pod.
[code]

[2018-05-18 03:58] morvencao opened #5701 "Content-based routing doesn't work"
**env:**
[code]

**Steps:**
1. Get latest daily build for istio-release-0.8 from https://gcsweb.istio.io/gcs/istio-release-pipeline-data/daily-build/release-0.8-20180518-01-13/
[code]
2. Install Istio core components
[code]
3. Deployment bookinfo with manual injection and define the ingress gateway
[code]
4. Access the bookinfo application from browser with `http://${GATEWAY_URL}/productpage`
[cod

[2018-05-18 04:04] gyliu513 commented on #5700
Deploy bookinfo in another cluster and works fine, not sure why I have the following message in productpage, why shuttting down parent?

[code]

[2018-05-18 04:08] gyliu513 opened #5702 "istioctl get is case sensitive"
`gateway` works but `Gateway` does not work.
[code]

[code]

Same for other resources, such as `virtualservices` etc.

[2018-05-18 04:09] gyliu513 commented on #5702
kubectl works fine without considering case.

[code]
[code]

[2018-05-18 05:21] gyliu513 opened #5703 "bookinfo cleanup.sh will not remove virtualservices and gateways"
[code]

The above script will not delete `virtualservices` and `gateways` due to it is still getting `routerules`.

[code]

[2018-05-18 05:39] gyliu513 opened #5704 "There is no tab between NAME and KIND"
From the output, we can see that the output of istioctl does not include a tab between NAME and KIND, this caused the output difficult to read.

[code]
[code]

/cc @morvencao

[2018-05-18 06:17] morvencao commented on #5704
Suggest to align with kubernetes printer format:
https://github.com/kubernetes/kubernetes/blob/master/pkg/printers/tabwriter.go#L24-L30

[2018-05-18 08:15] ymesika commented on #5703
Two more for loops? Keep the `routerules` for backward-compatible cleanup?

[2018-05-18 08:50] gyliu513 commented on #5700
I found that when using a loadbalancer https://github.com/gyliu513/work/tree/master/k8s/charts/keepalived , after the `istio-ingressgateway` get a loadbalancer ip, the bookinfo will always failed to open.

[code]

But if I disable the loadbalancer service from `istio-ingressgateway`, the bookinfo will be succeed.

Has anyone test `istio-ingressgateway` with `bookinfo` using `loadbalancer` for  `is

[2018-05-18 08:52] gyliu513 commented on #5700
I can also confirm that the loadbalancer service is running well and works fine.

[2018-05-18 09:58] dunjut commented on #4873
Yes, this is actually an dns issue (kube-dns not correctly configured in my environment).

The error message `malformed IP address: istio-mixer.istio-system` is somehow confusing, hope this issue helps other guys.

[2018-05-18 12:47] kyessenov commented on #4524
istio mTLS and headless services are unlikely to work together currently.
The reason is that your client addresses kafka using the pod IP directly
(kafka library performs its own load balancing), and client-side envoy has
neither route for that pod IP, nor knows which service it stands for (to
verify server-side certs against the service name).

On Fri, May 18, 2018 at 2:22 AM Emiliano Tomaselli <

[2018-05-18 13:40] mandarjog commented on #4873
Closing per user request.

[2018-05-18 13:40] #4873 closed

[2018-05-18 13:49] Stono commented on #5673
Hey folks,
We (Darren and I) went down the route of having prometheus scrape the pods, however we have some complexity due to mTLS.

Long story short, in order for prometheus to scrape from the application pods (which are wrapped with mTLS envoys), we had to wrap prometheus in envoy too.

This worked to an extent, and the mTLS connection to the pods succeeded:

<img width="1305" alt="screen shot 2

[2018-05-18 14:35] kyessenov commented on #5673
Interesting. The problem is that prometheus is trying to address pods directly (it looks like it resolves services to endpoints). For mTLS to work, prometheus' envoy needs to know which service the pod belongs to. This is why host header is needed, in addition to simply missing a route for the pod in the client-side envoy routing table.

[2018-05-18 14:35] linsun commented on #5700
cc @frankbu who may have tried this.  I'll get to try this soon too. cc @costin

[2018-05-18 14:38] jsenon opened #5711 "Prometheus not install by default with helm"
- Installation:

istio 0.8-20180517-03-38

`helm template --namespace=istio-system --set sidecar-injector.enabled=true install/kubernetes/helm/istio > istio.yaml`

- Issue

Prometheus not install by default

[2018-05-18 14:39] esnible commented on #5704
Doesn't PR https://github.com/istio/istio/pull/5706 also fix this?

[2018-05-18 14:40] gyliu513 commented on #5704
@esnible , we create another PR #5707 based on 0.8 branch and #5706 is based on master.

[2018-05-18 14:41] linsun commented on #5704
No need to create one for master.  @hklai will merge all 0.8 changes to master.

[2018-05-18 14:41] #5704 closed

[2018-05-18 14:48] Stono commented on #5673
Yes that was my assumption but then I wasn't able to replicate the expected behaviour with a curl and the headers directly to the pod.

[2018-05-18 14:56] kyessenov commented on #5673
The issue is not server-side envoy but the client-side envoy. I was expecting envoy to change the destination pod IP for the first curl request, since the host header will also pick the upstream for that host (which is where TLS settings reside). @rshriram : do we support a mode of keeping the original destination IP but applying upstream cluster settings?

[2018-05-18 14:58] Stono opened #5712 "In a high version turnover environment, istio-daashboard in Grafana quickly generates massive URLs"
Hey,
We have a very high turnover environment where applications are continuously deployed with new versions multiple times a day.

This particular cluster is small in comparison to what we're planning to build, and only hosts about 10 services and below you can see an example of one of the api queries that's being performed when the dashboard opens.

This was actually causing nginx reverse proxy

[2018-05-18 16:15] gyliu513 commented on #5704
I think we need to keep this issue open until #5707 got merged? @linsun

[2018-05-18 16:17] #5414 closed

[2018-05-18 16:19] linsun commented on #5704
Up to you if you want to baby sit to close it :). I trust Andy as he has been merging changes from 0.8 to master.

[2018-05-18 16:32] douglas-reid commented on #5673
@Stono Do you mind posting the prometheus scraping config you were using (for replication purposes)?

If we moved `/metrics` to a different port, I guess you could use annotations like: `auth.istio.io/8081: NONE`, but that seems like a big burden.

I feel like the work being done on liveliness/readiness checks would be applicable here. Unfortunately, I'm not up-to-date on the latest there.

[2018-05-18 16:46] douglas-reid commented on #5691
Yes. This seems like an issue with prometheus not being installed.

@mandarjog the `istio.yaml` packaged with the release includes prometheus. Should we update the helm instructions to include the prom enablement?

[2018-05-18 16:47] douglas-reid commented on #5692
cc: @mandarjog

[2018-05-18 16:50] linsun commented on #5679
I think I removed -m flag as it was pointing to REDIRECT... i can change that to -m TPROXY but you seem to indicate that is not needed.

[code]

[2018-05-18 16:56] linsun commented on #5679
@rlenglet ^^

[2018-05-18 17:16] ldemailly commented on #5679
I think romain did say clearly that you do need -m TPROXY

[2018-05-18 17:19] wattli commented on #5628
I am sick today and ask @myidpt to handle it. Thanks Oliver!

[2018-05-18 17:30] hklai opened #5714 "Massive failures in daily release qualification tests"
See https://github.com/istio-releases/daily-release/pull/600

Most tests failed with

I0518 02:18:18.492] 2018-05-18T02:18:18.490837Z	error	Cannot read original yaml file /home/bootstrap/go/src/istio.io/istio/install/kubernetes/istio-auth.yaml
I0518 02:18:18.492] 2018-05-18T02:18:18.490852Z	error	Generating yaml /home/bootstrap/go/src/github.com/istio-releases/daily-release/_artifacts/simple-auth-

[2018-05-18 17:35] linsun commented on #5679
i used the echo service, you could try it too, attached below is the deployment yaml.  I'm seeing 127.0.0.1 as source IP for inbound.  Not sure if this service prints out outbound.

[code]

[2018-05-18 17:35] linsun commented on #5679
and this is my injected file:

[code]

[2018-05-18 17:37] Tahler commented on #5691
Discussed in istio/istio.github.io#1315.

[2018-05-18 17:37] #5691 closed

[2018-05-18 17:43] ldemailly commented on #5679
(random plug: that echoserver is 44Mb image, you can use fortio's 3Mbyte image and hit /debug and get the incoming IP)

[2018-05-18 18:02] rlenglet commented on #5679
@linsun Are you saying that the app itself sees 127.0.0.1 as the source IP? That's completely normal, since all inbound connections it sees come from the sidecar Envoy. The app will always see 127.0.0.1 for inbound connections.
The problem that is solved by TPROXY is the source IP that **Envoy** sees for inbound connections.
So that Mixer reports, etc. see the correct source IP for inbound connect

[2018-05-18 18:03] rlenglet commented on #5679
There might enough building blocks in Envoy upstream to bind the outbound connections to the original downstream source IP. See for instance the work done to support the FREEBIND socket option, which allows binding to arbitrary IPs per cluster. See for example https://github.com/envoyproxy/envoy/tree/master/configs/freebind

[2018-05-18 18:12] jasmine-jaksic commented on #5689
Can you provide more specifics on which parts of the doc needs to be updated?

[2018-05-18 18:13] Stono commented on #5673
Sure thing @douglas-reid

[code]

The pods have:

[code]

[2018-05-18 18:16] rlenglet commented on #5679
Actually we will need more from Envoy. We'd need an "original-src-cluster", similar to the existing [original-dst-cluster](https://github.com/envoyproxy/envoy/tree/master/configs/original-dst-cluster), which would bind upstream connections to the original source IP addresses.

[2018-05-18 18:19] linsun commented on #5679
@rlenglet yes, the app sees 127.0.0.1 but we would like to see the actual source ip of the requester (which is my laptop)

BTW, I got 127.0.0.1 as the client addr before I use TPROXY.  I had thought switching to TPROXY will allow the app to see the client addr of the requester.

[2018-05-18 18:21] andraxylia commented on #1373
Duplicate of #1277

[2018-05-18 18:21] #1373 closed

[2018-05-18 18:25] ldemailly commented on #5679
or is it somehow only available to mixer filter and then lost ?

[2018-05-18 18:38] rlenglet commented on #5679
Correct, that’s the current status.

[2018-05-18 18:40] rlenglet commented on #5679
There are 2 parts to this problem:
(1) Envoy / Mixer / ... needs to see the real original source IP address.
(2) Envoy needs to bind on the original source IP address, so the app see it.

TPROXY solves (1).
(2) requires (1).
(2) is not yet done, and will require a new feature from Envoy (“original-src-cluster”).

[2018-05-18 19:48] cmluciano commented on #5686
https://github.com/istio/istio.github.io/pull/1286 was merged recently, I will test if the extra settings work

[2018-05-18 21:01] htuch commented on #5311
I don't think it's too heinous to use metadata to contain alternative names for a given resource. E.g. a different cluster name or identifier corresponding in the cluster metadata.

[2018-05-18 21:14] ostromart commented on #5652
The reason for the gaps is envoy crash, now moved to separate issue: https://github.com/istio/istio/issues/5694
There's still the question of virtualservices going missing leading to temporary missing listeners.

[2018-05-18 21:56] ldemailly opened #5720 "need to be able to generate v1 istio-auth.yaml similar/compatible with 0.7.1"
Looks like we recently renamed istio-auth.yaml to istio-demo-auth.yaml and that file contains v2 proxy settings (#5653 which is fine if we want people starting from scratch to get a clear message it's not the same as before)

But we also need to have easy/clear way to regenerate the same file as in 0.7.1 for people not ready to convert to v1alpha3 and yet wanting to upgrade to 0.8

ps: this also b

[2018-05-18 23:38] ldemailly commented on #5720
maybe just a doc issue, but what is the gendeploy equivalent of:

[code]
which if I understand correctly would be what is needed? (cc @mandarjog , @rkpagadala )

[2018-05-18 23:40] #5654 closed

[2018-05-18 23:40] rkpagadala commented on #5654
Fixed with #5698

[2018-05-18 23:51] hklai commented on #5714
https://github.com/istio-releases/daily-release/pull/602 should fix it.

[2018-05-19 00:07] hklai commented on #5415
Per code orange meeting, this is no longer release blocking. Remaining work is all doc changes.

[2018-05-19 00:44] andraxylia commented on #4791
We need RDS to eliminate the 503s.

[2018-05-19 00:45] andraxylia commented on #5689
The part I link to in the description does not work.

[2018-05-19 01:27] lizan opened #5723 "e2e tests fails on GKE 1.10.2-gke.1"
e2e tests fails on GKE cluster created with:

[code]

while with `1.9.6-gke.1` the e2e test works.

`make e2e_pilot` log:
https://gist.github.com/lizan/a8ded72fa0ea75d4101fa31cbe927933

Note `1.10.2-gke.1` is [GA](https://cloud.google.com/kubernetes-engine/release-notes).

Tested on dec9966b5a80719cac5c148fb48fc662f1f2bbf2

[2018-05-19 03:55] rshriram commented on #4791
? We have a 503 test for gateways. And it passes without RDS.

[2018-05-19 05:00] olegchorny opened #5724 "Update required for docs/tasks/telemetry/metrics-logs.html"
Followed the instructions here:
https://preliminary.istio.io/docs/tasks/telemetry/metrics-logs.html

this command doesn't work anymore
$ kubectl -n istio-system logs $(kubectl -n istio-system get pods -l istio=mixer -o jsonpath='{.items[0].metadata.name}') mixer | grep \"instance\":\"newlog.logentry.istio-system\"

because items[0] equals to istio-policy-* while we need to refer to items[1] (equal

[2018-05-19 05:06] #5724 closed

[2018-05-19 05:06] olegchorny commented on #5724
wrong repo, issue re-created in the istio.github.io

[2018-05-19 09:54] life1347 commented on #4933
After trial and error all day
Following are the commands you need to launch minikube
** command for 1.9 and 1.10 are different

For  minikube v0.27.0, k8s 1.9.x
[code]

For  minikube v0.27.0, k8s 1.10.0
[code]

[2018-05-19 13:40] ymesika commented on #5701
@morvencao
It's probably because the injected proxy is v1 rather than v2 and therefore the destination rules are being ignored.

You can ask `istioctl` to inject proxyv2 by setting an env variable `ISTIO_PROXY_IMAGE=proxyv2`
or run the following injection command instead:
[code]

[2018-05-19 13:41] #5702 closed

[2018-05-19 17:13] andraxylia commented on #4791
Let me check again, it was not passing a week ago, and I suspected it was because of inlining the routes statically in the Listeners, and causing a Listener config change.

[2018-05-19 21:51] jtuthehien opened #5725 "Redis trace not showing in jaeger"
**Is this a BUG or FEATURE REQUEST?:**
FEATURES REQUEST
**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
YES
**Bug:**
Y/N
Not sure
**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]
Version: 0.7.1
GitRevision: 62110d4f0373a7613e57b8a4d559ded9cb6a1cc8
User: root@c52

[2018-05-19 22:06] dzendmitry opened #5726 "istio 0.8 ingress doesn't have listen port"
I have a bare-metal installation of kubernetes + istio 0.8
Also I have a NodePort service to Istio Ingress deployment
[code]
[code]
Istio Ingress deployment exposes port 80
[code]
but if I go to istio ingress pod I won't see any 80 port has beed exposed
[code]
Why can it be? How can I solve that?
I suppose it's the reason I can't connect to service from outside the cluster
[code]
and from inside t

[2018-05-20 05:09] ymesika commented on #5380
According to the [Helm documentation](https://github.com/kubernetes/helm/blob/master/docs/charts_hooks.md#hook-resources-are-not-managed-with-corresponding-releases) resources that were created by a hook aren't being deleted with the release.

I suggest creating a Helm `post-delete` hook that will remove those _secret_ and/or _crd_ leftovers.

[2018-05-20 09:38] dzendmitry commented on #5726
in istio-0.7.1 release
[code]
so how to solve it in 0.8 ?

[2018-05-20 13:00] Stono opened #5727 "proxy stuck in segfault loop"
Hey,
Istio 0.7.1, with mtls
GKE k8s 1.9.7, rbac

One of our pods lost all comms, looking at the istio-proxy logs, we see a segfault:

[code]
Logs from this [istio-segfault.log](https://github.com/istio/istio/files/2020325/istio-segfault.log)

I've tried to recreate the pod, but we've got the same problem:

Logs from after delete:
[istio-segfault.2.log](https://github.com/istio/istio/files/2020329/

[2018-05-20 13:56] Stono commented on #5727
Update, it just randomly started working.... here are the logs from istio-proxy-cfg now it's back alive
[ingress-nginx-internal-controller-7f4f8649d6-vjrxd.tar.gz](https://github.com/istio/istio/files/2020368/ingress-nginx-internal-controller-7f4f8649d6-vjrxd.tar.gz)

It'd be wonderful if you could help me narrow down what is going on here!  I'm not even confident this is an istio problem, but i'm

[2018-05-20 17:58] costinm commented on #5720
Yes, that is the command - but the generated file should not be in the
release, to avoid confusion.

On Fri, May 18, 2018, 16:38 Laurent Demailly <notifications@github.com>
wrote:

[2018-05-20 18:13] mandarjog commented on #5727
@qiwzhang can you take a look the segfault?

[2018-05-20 23:09] gyliu513 commented on #5700
Did more test and found that NodePort works fine but LoadBalancer does not work.

[code]

[2018-05-20 23:10] gyliu513 commented on #5700
This is the log of ingress gateway.

[code]

[2018-05-21 02:01] gyliu513 commented on #5700
My bad, this is because the service port 80 was already used by another services in my cluster and after change the service port to another not used one, bookinfo works fine.

[2018-05-21 02:01] #5700 closed

[2018-05-21 06:00] morvencao commented on #5701
@ymesika It works, thanks a lot.

[2018-05-21 06:00] #5701 closed

[2018-05-21 07:33] gyliu513 commented on #5701
Posted a PR here https://github.com/istio/istio.github.io/pull/1329 to fix this issue.

[2018-05-21 10:04] vietwow commented on #5726
@dzendmitry

Hi, I am curious that istio 0.8 was release ? I can't find it in release page.

VietNC

[2018-05-21 10:07] ymesika opened #5731 "Issues when running pilot+ingress only"
Trying to cover a scenario when user would only want to use Istio's ingress features by installing only relevant components. A guide is [planned](https://github.com/istio/istio.github.io/issues/1294) to be written.

Following is a summary of the issues encountered so far:

#### Citadel Always Included
When disabling all components but `ingress`, `ingressgateway` and `pilot` the following 4 pods ar

[2018-05-21 11:34] liamawhite commented on #5167
This is out of scope for 0.8 and the logs have been turned off

[2018-05-21 11:37] liamawhite opened #5732 "Feature: Istioctl should be able to retrieve the sync status of each proxy"
As discussed with @rshriram a `proxy-status` command will be created that provides this information.

It should contain version sent and version ack'd for xDS for each pod.

[2018-05-21 11:38] dzendmitry commented on #5726
No, it's not release version, but you can install 0.8 using https://preliminary.istio.io/docs/setup/kubernetes/helm-install.html#install-istio-with-helm
I tried 0.8 because I encountered a problem with precedence as in issue  https://github.com/istio/istio/issues/4468
I tried to use new v1alpha3 api for networking https://istio.io/docs/tasks/traffic-management-v1alpha3/  but, as I understood, new

[2018-05-21 11:51] liamawhite opened #5733 "Proxy-Config command doesn't work correctly when running multiple Pilots."
It currently only calls the first pilot pod it finds so with multiple Pilots this will mean some proxies won't be displayed.

We should cycle through the for loop and print out each one instead.

[2018-05-21 12:31] joar commented on #467
I have a requirement to use GCP IAP in front of my GKE Ingress. Is this possible using Istio today?

[2018-05-21 13:03] sbezverk commented on #5535
@gyliu513 I am not sure if it is a problem, as pilot runs a controller which is watching changes on the remote cluster, so in theory it should detect ip address change. I have not tested it though.

[2018-05-21 13:26] gyliu513 commented on #5535
@sbezverk Even if the local istio control panel using `LoadBalancer` for `pilot`, `policy` etc, the remote cluster still need to use `pilot pod ip`, 'policy pod ip' to connect back to local istio control panel, I did not see much that the local istio control panel using `LoadBalancer` can help. Am I missing anything?

[2018-05-21 13:40] sbezverk commented on #5535
@gyliu513 my bad, I missed the point that you were talking about pilot's pod. If instead, we use pilot's service external IP and have it resolvable via external DNS, then remote cluster's proxy should not have any problem communicating with pilot. WDYT?

[2018-05-21 13:43] sdake commented on #5535
@sbezverk right - and that is what @gyliu513 was talking about with using ILBs I thought?

[2018-05-21 13:50] gyliu513 commented on #5535
@sbezverk @sdake any comments on what kind of service/ep that need to be run on remote cluster if I have some ILB running on local istio control plane?

Now checking if service mesh expansion can help for this case https://preliminary.istio.io/docs/setup/kubernetes/mesh-expansion.html

[2018-05-21 13:58] jaredeis commented on #5327
Same issue as well. Our solution was to write a wrapper that creates a new token to place in a custom kubeconfig file in the user section. Then it passes the -c /path/to/custom_kubconfig flag to the istioctl command. The previous solution is probably better but hopefully a more elegant solution will be introduced soon.

[2018-05-21 14:32] costinm commented on #5535
Mesh expansion is what you should use for now - it provides a fixed IP, and has been
used for this purpose for some time.

In 1.0 we can add an external IP using a Gateway to the pilot GRPC-TLS port, but it's not
 ready or tested in 0.8.

[2018-05-21 15:11] linsun commented on #5731
Is it possible to run proxy with statsdUdpAddress being the optional arg?   This used to work in v0.2.

cc @costinm @GregHanson @ijsnellf

[2018-05-21 15:16] linsun commented on #5720
@ldemailly @costinm I agree this is just a doc issue in the https://preliminary.istio.io/docs/setup/kubernetes/upgrading-istio.html page, agree?

[2018-05-21 15:40] linsun commented on #5535
Following up the discussion here, are we saying for 0.8, we can't expose pilot as a LB service and use that LB ip as the PilotEndpoint when configuring the remote-istio?   If so, this is a major limitation we should document in release note.

What is the main hurdle for supporting this in 0.8?

[2018-05-21 15:49] gyliu513 commented on #5535
@linsun for multi-cluster, we already mentioned the current limitation for ip change at https://preliminary.istio.io/docs/setup/kubernetes/multicluster-install.html#helm-configuration-parameters

I'm now checking for how to use ILB for mc in istio 0.8 but not sure if I can catch this release as I need do more checking for how can service mesh expansion can help this case.

When 0.8 will be release

[2018-05-21 16:36] ymesika commented on #5175
/close

[2018-05-21 16:37] istio-testing commented on #5175
@ymesika: The close prow plugin is deprecated, please migrate to the lifecycle plugin before April 2018

<details>

In response to [this](https://github.com/istio/istio/issues/5175#issuecomment-390709552):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to m

[2018-05-21 16:37] #5175 closed

[2018-05-21 17:19] hklai commented on #5714
Fixed

[2018-05-21 17:19] #5714 closed

[2018-05-21 17:34] ldemailly commented on #5167
is there an open issue for 1.0 then ?

does it mean for 0.8 when using auth/mTLS AZ doesn't work ? will that be documented as a known issue (not sure removing the log is a useful "fix" for that problem)

[2018-05-21 17:36] cmluciano commented on #5415
follow-up will be in https://github.com/istio/istio/issues/5686

[2018-05-21 17:36] #5415 closed

[2018-05-21 17:36] wattli opened #5735 "Bookinfo does not work"
Test on the latest build, https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-0.8-20180520-18-17/ and https://preliminary.istio.io/docs/guides/bookinfo.html#whats-next gives 503

[2018-05-21 17:56] liamawhite commented on #5167
https://github.com/istio/istio/issues/4702 and we don't support any AZ functionality currently because it required changes to envoy so there's nothing to document.

[2018-05-21 18:04] costinm commented on #5735
With demo or demo-auth ?

[2018-05-21 18:04] linsun commented on #5735
what do you mean by https://preliminary.istio.io/docs/guides/bookinfo.html#whats-next gives 503?

[2018-05-21 18:05] costinm commented on #5735
Can you include logs, debug info, etc ? bin/dump_kubernetes'

[2018-05-21 18:10] Stono opened #5739 "Pilot crash: panic (something to do with newPodCache)"
Hey,
Istio 0.7.1, GKE 1.9.7

Noticed a few pilot reboots on one of our clusters, and these logs in discovery:

[code]

[2018-05-21 18:22] cmluciano commented on #5686
Confirmed with `DAILY=release-0.8-20180520-18-17` and the latest preliminary docs are not working. I don't know if this is a problem on MacOS with LibreSSL or not.

[code]

[2018-05-21 18:38] linsun commented on #5535
Talked to @costinm, he believes this is a doc issue and we should be able to use LB ip.  @gyliu513 @sdake comments?

[2018-05-21 18:47] ldemailly commented on #5167
isn't it working, without mtls, in 0.7 ?

k closing this one in favor of #4702 (but curious about ^)

[2018-05-21 18:47] #5167 closed

[2018-05-21 18:59] wattli commented on #5735
It's with demo.

@linsun , if you open that link, the first command is to curl the productpage, and the expected result is 200, while I got 503, i will include log soon.

[2018-05-21 19:02] liamawhite commented on #5167
It is not we couldn't configure the defaults and the `local_cluster_name` was an issue and has moved in the v2 APIs.

[2018-05-21 19:09] wattli commented on #5735
[lita@lita istio-release-0.8-20180424-09-15]$ curl http://${GATEWAY_URL}/productpage -v
*   Trying 35.231.203.196...
* TCP_NODELAY set
* Connected to 35.231.203.196 (35.231.203.196) port 80 (#0)

< HTTP/1.1 503 Service Unavailable
< content-length: 57
< content-type: text/plain
< date: Mon, 21 May 2018 19:02:19 GMT
< server: envoy
<
* Connection #0 to host 35.231.203.196 left intact
upstream conne

[2018-05-21 19:40] esnible commented on #5732
@liamawhite Can you give a proposal for what the output should look like?

[2018-05-21 19:47] liamawhite commented on #5732
| Pod   | EDS Sent | EDS Acked | CDS Sent | CDS Acked | LDS Sent | LDS Acked |
|-------|----------|-----------|----------|-----------|----------|-----------|
| pod-1 | nonce    | nonce     | nonce    | nonce     | nonce    | nonce     |
| pod-2 | nonce    | nonce     | nonce    | nonce     | nonce    | nonce     |
| pod-3 | nonce    | nonce     | nonce    | nonce     | nonce    | nonce     |

look

[2018-05-21 20:19] Stono commented on #5578
@mandarjog we are still seeing this issue randomly...

Here is another example:

You can see the nginx pod keeps restarting
[code]

If i jump into that pod, it can resolve mixer just fine
[code]

The logs from pilot:
[code]

[2018-05-21 20:27] Stono commented on #5578
Killing the pod and restarting seems to have fixed it.
The issues appear to have correlated with one of the two `istio-pilot` instances being rescheduled due to node going down.

[2018-05-21 20:28] Stono commented on #5578
I suppose in 0.8, it'll go away :|

[2018-05-21 20:53] dzendmitry commented on #5726
Interesting. Maybe it's because I use calico network plugin in my k8s installation. @ymesika do you use some any network plugins?
My service is named `istio-ingress-nodeport` because I don't have external load balancer in installation. I suppose it's the only way to expose istio-ingress in bare-metal environment.

[2018-05-21 21:41] mandarjog commented on #5692
It turns out that `rate-limits` is not implemented at all in networking alpha3. We should not release 0.8 without completing this feature. It represents a regression for a feature that has been there since 0.1/0.2. Thanks @douglas-reid for helping uncover this.

@ostromart has sized the effort to about 1 day and has started working on it.

@hklai @jasminejaksic

[2018-05-21 21:57] #5477 closed

[2018-05-21 21:57] costinm commented on #5442
Update: this should be fixed in 0.8, but we are not yet sure if/when we'll cut a 0.7.2 - at this point it's probably better for users to switch to 0.8 when it is released.

[2018-05-21 22:07] #5628 closed

[2018-05-21 22:11] hklai commented on #5692
@mandarjog any idea why and how tests did not uncover this?

[2018-05-21 22:16] ostromart commented on #5652
Ingress gateway mixer filter has been disabled until this is resolved.

[2018-05-21 22:20] mandarjog commented on #5692
Tests were disabled en-mass in the beginning. Once this implementation was completed it would have been enabled, but it has not been done yet.

[2018-05-21 22:26] hklai commented on #5652
This is not blocking 0.8.0 release but @qiwzhang and folks are helping to diagnose and see if it can still be fixed in 0.8.0. If not, Ingress gateway mixer filter will have to be enabled in either 0.8.1 (if it happens) or 1.0.0.

[2018-05-21 22:30] lizan commented on #5686
Confirmed with `istio-release-0.8-20180521-15-16` as well, it doesn't seems to it related to MacOS.

[code]

[2018-05-21 22:50] lizan commented on #5686
Looks like the gateway is not listening to port 443, here is the logs from ingressgateway pod:

[code]

[2018-05-21 23:10] ldemailly commented on #5692
IMO we should run all (/most) the v1 tests + conversion tool  - that would test both regressions like this and that there is indeed a working upgrade path from v1 to v2

ps: and also keep v1 tests running for at least 0.8 so we don't break v1

[2018-05-21 23:19] ostromart opened #5745 "core dumps not generated for gateway envoy"
proxy_init is not run for envoy on gateway. Most likely because of this, something is missing in the setup such that core dumps don't appear.
- ulimit -c shows unlimited as it should
- core_patterns looks correct (/etc/istio etc)
I was not able to cause core dumps by sending SIGABRT to any process.
Also tried setting core_pattern to some other dir (/tmp) which required container to run in --privil

[2018-05-21 23:53] lizan commented on #5686
After restarting ingress I don't see the error above, though LDS delivered filter chain with no filters to ingress:

[code]

[2018-05-22 00:37] StevenACoffman commented on #5327
@jaredeis Do you mind sharing the wrapper?

[2018-05-22 00:41] rshriram commented on #5686
@lizan see my pr on SNI forwarding. I think if fixes this issue.

[2018-05-22 03:01] gyliu513 commented on #5535
Thanks @linsun Let me do some test first ...

[2018-05-22 07:10] vadimeisenbergibm commented on #5686
@andraxylia @cmluciano @lizan @rshriram note that it takes some time (30-60 seconds) for the secret gateway to start working, after adding the secret and redefining the gateway definition. We should decide what to do with it:
1. Add a comment to the documentation and advise to wait for 30-60 seconds
1. Debug this issue

[2018-05-22 07:15] vadimeisenbergibm commented on #5689
@andraxylia Please note that the documentation was updated and the ingress should work now. Note also my comment here - https://github.com/istio/istio/issues/5686#issuecomment-390886204

[2018-05-22 09:19] morvencao opened #5747 "Zipkin isn't included in manifest yaml file for daily build package"
**env:**
[code]

**issue**
Daily build package doesn't include `zipkin` neither in `istio-demo*.yaml`, nor in `addons` directory. While other addons(prometheus, grafana and servicegraph) are.
[code]

[2018-05-22 09:30] gyliu513 commented on #5747
/cc @linsun @sdake any comments for this?

[2018-05-22 09:45] dzendmitry commented on #5726
It doesn't matter. I just made NodePort service after istio-0.8 installation using helm.
@ymesika as you have an installation of istio-0.8 i want to ask you, does v1alpha3 networking work in 0.8 out of the box? https://preliminary.istio.io/blog/2018/v1alpha3-routing.html

[2018-05-22 10:05] morvencao commented on #5747
@gyliu513 Seems that release-0.8 has replace `zipkin` with `jaeger`
See: https://github.com/istio/istio/commit/6dbbacac0b478017179480778637c9d8d781ac25#diff-b6a1565b257517e23073e89749791828

[2018-05-22 10:39] nixgadget opened #5749 "Broken pipe warnings with 0.5.1"
We seem to be encountering a lot of broken pipe messages in Pilot logs and causing lots of odd network issues.

[code]

Our use case is some what simple,
[code]

`app` namespace is where we deploy all our micro-services while `control` is where Istio is currently deployed.
We have 14 micro-services at the moment that we deploy to `app` namespace.
These micro-services talk to external services such

[2018-05-22 10:52] ymesika commented on #5380
For the leftover CRDs I have PR #5750 that adds them to the Pilot's template making them managed by Helm like the rest of the CRDs.

As for secrets, still needs to be investigated. The proposed `post-delete` hook is one option.

[2018-05-22 11:15] ymesika commented on #5726
It does but read this #5701. Might save you some time.

[2018-05-22 12:57] gyliu513 commented on #5535
Still not clear for how to leverage mesh expansion ILB in Multi-Cluster support.

The above is current solution for Multi-Cluster support, we are using pilot pod ip, policy pod ip and statsd pod ip in remote cluster to create the service end point and connect back to the local cluster.

But with ILB, even if I expose pilot, policy and statsd as ILB services, how can the remote cluster use those se

[2018-05-22 13:43] morvencao opened #5752 "No trace collected for selector-less service and endpoints on a mesh expansion machine"
**env:**
[code]

**Scenario**
I have followed the Istio mesh Expansion [doc](https://istio.io/docs/setup/kubernetes/mesh-expansion/) and deploy the bookinfo application as follows:
![image](https://user-images.githubusercontent.com/5468682/50805622-40e9d380-132e-11e9-8c7c-7f980ab556b1.png)

Run `details` and `mysqlDB` on VM outside of k8s cluster and register `details` & `mysqldb` services with `i

[2018-05-22 13:56] gyliu513 commented on #5747
@linsun @sdake so for 0.8 and future release, istio will not have zipkin anymore?

[2018-05-22 14:02] sbezverk commented on #5535
@gyliu513 @costinm @sdake
I hope I am wrong but I just do not see how it could work without some sort of global/dynamic dns where all services which are part of MC gets registered.
I would greatly appreciate a detailed walk through with the current implementation to demonstrate how the use case presented by @gyliu513 can work.
I would like to mention two options which imho could solve this use cas

[2018-05-22 14:39] jaredeis commented on #5327
@StevenACoffman Sure. I can't make our org repo public so I just tarred it up and put it here No guarantees it will work for you though. :D We use aws-adfs so I can't say if it works with any other aws CLI auth since I'm still new to AWS and K8s and Heptio and Istio and apparently all the new fun stuff.

I'm just hoping they (istio? heptio?) can fix this so this kludgy, ugly wrapper can go away. I

[2018-05-22 15:46] jaredeis commented on #5327
Would be nice to hear if there is visibility into this issue from the istio folks. There is much that can be improved with this wrapper, but I don't want to take the time if there is work going on to correct this issue already. How do we keep up with the active fixes? The Google group?

[2018-05-22 15:54] jsenon opened #5755 "istio 0.8: Egress TCP"
Istio Build:

`istio-release-0.8-20180517-03-38`

Configuration following this docs:
[https://preliminary.istio.io/docs/tasks/traffic-management/egress-tcp.html](https://preliminary.istio.io/docs/tasks/traffic-management/egress-tcp.html
)
Issue:

`root@sleep-86f6b99f94-4xrxs:/# curl -vv https://www.wikipedia.org
* Rebuilt URL to: https://www.wikipedia.org/
* Hostname was NOT found in DNS cache
*

[2018-05-22 17:07] ldemailly commented on #5745
Similar/dup of #3064

It was never verified as far as I know

[2018-05-22 17:32] ostromart commented on #5745
Going through the checklist at https://linux.die.net/man/5/core everything looks good.
I had a look also to see if the kernel has the option enabled (from /proc.config.gz) and it is:
#
# Executable file formats / Emulations
#
CONFIG_BINFMT_ELF=y
CONFIG_COMPAT_BINFMT_ELF=y
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=y
CONFIG_BINFMT_SCRIPT=y
# CONFIG_HAVE_AOUT is not set
CONFIG_BINFMT_MISC=y
CONFIG_COREDUM

[2018-05-22 18:16] ostromart commented on #5745
Also tried another experiment: created a new shell process just looping on a sleep.
Sending SIGABRT to this process _does_ produce a core dump. So this points to envoy running with PR_SET_DUMPABLE set to 0 for some reason.

[2018-05-22 18:24] tcnghia opened #5761 "High Availability for Ingress / Gateway"
Similar to https://github.com/istio/istio/issues/2224, Ingress/Gateway need to be autoscaled.

If the service using Istio is autoscaled, there usually no way for the service owner to know before hand how much traffic they will be handling.

Autoscaling will be much beneficial in such cases.

[2018-05-22 18:41] douglas-reid commented on #5712
@Stono Thanks for the report. I've been working on a few refactors for the dashboards, as I've been fairly certain it wouldn't scale past small examples for awhile now. I'd love to chat with you about some of these details, if you are available sometime.

[2018-05-22 18:41] trisberg commented on #5723
I'm seeing issues as well with `1.10.2-gke.1` - trying a kafka helm chart [1] install that worked fine on `1.9.7-gke.0` but showing connection errors when kafka pod tries to connect to zookeeper service. The same chart works fine on minikube with `1.10.1` as well.

[code]

[1] https://github.com/projectriff/riff/tree/master/helm-charts/kafka

[2018-05-22 18:45] andraxylia commented on #5735
It worked for me during the testing community day.

[2018-05-22 18:49] ldemailly commented on #5745
try kill -SEGV btw - or even make an actual crash (like deref null ptr)

[2018-05-22 18:53] mandarjog opened #5763 "Pilot loses CRD configuration state intermittently"
We have observed several times that pilot loses CRD configuration state.
The Issue came to fore while debugging https://github.com/istio/istio/pull/5669

That PR adds a `destination rule` and makes no other changes.
However as a result of adding that rule, it appears that pilot operates on empty config.
Given an empty, config pilot generates empty listeners and pushes them out which causes tests t

[2018-05-22 19:00] ostromart commented on #5745
yeah tried that too. SIGABRT does create a core dump for my test process, but not envoy. The only thing I can think of is that somehow coredump capability is unset somehow in the process of launching envoy. Playing around go syscall after the exec in pilot agent to set this cap to 1.

[2018-05-22 20:03] ostromart commented on #5763
during TestGateway_HTTPIngress, when rules are applied:
018-05-22T00:05:12.780950Z	info	Running command kubectl apply -n istio-system -f testdata/v1alpha3/ingressgateway.yaml
2018-05-22T00:05:13.277052Z	info	Running command kubectl apply -n istio-system -f testdata/v1alpha3/destination-rule-c.yaml
immediately after the second one (destination-rule-c.yaml), we get:

buildGatewayListeners: gateways

[2018-05-22 20:19] mandarjog commented on #5763
/cc @rshriram

[2018-05-22 20:30] ostromart commented on #5745
incidentally, same behavior on ingress, so this is not because proxy_init doesn't run.

[2018-05-22 20:33] frankbu commented on #5686
@vadimeisenbergibm I think there's more to it. I waited several minutes but it continues to fail
[code]

[2018-05-22 20:35] jsenon opened #5764 "Istio 0.8 Egress renaming"
I think that external service was rename serviceentry, Does "Entry" is  something relevant for communication outside the cluster?

https://preliminary.istio.io/docs/reference/config/istio.networking.v1alpha3.html#ServiceEntry

[2018-05-22 20:45] cmluciano commented on #5686
Echo'ing Frank's findings. I get the same error from a build that I just created from release-0.8 tip

[2018-05-22 21:12] diemtvu opened #5767 "Install Istio with global.proxy.image=proxyv2 and sidecar-injector.enabled=true does not work as expected"
RC: istio-release-0.8-20180521-15-16

Installation command:

[code]
Deploy sleep.yaml with `kubectl apply -f samples/sleep/sleep.yaml` but sidecar was not injected.

Deploy again with kube-inject. Proxy is injected but it's v1 image.

[code]

[2018-05-22 22:21] mandarjog opened #5769 "ALPN upgrade to h2"
This is a redo of https://github.com/istio/istio/pull/5618.

1. Turn on h2 upgrade when mTLS is turned on and the destination policy is `ISTIO_MUTUAL`.
 This guarantees that the other side is Istio and it is safe to upgrade to h2.
2. Ensure that h2 upgrade is only done when the destination is http/1.1.  (that is do not upgrade from tcp, tcp over h2 is not supported yet)
3. Ensure that ALPN is spec

[2018-05-22 22:30] mandarjog commented on #5763
@Tahler Can you add the logs from your run this morning ? Just the snippet from istio-pilot discovery container would be good. Thanks.

[2018-05-22 22:36] PiotrSikora commented on #5769
I'd argue that we shouldn't ship any release with `"h2"` being advertised and `Http2SettingsOptions` being configured for non-HTTP traffic, so this might be a bit more urgent that 1.0, but I'm not sure how big of a change this is in terms of Pilot code.

We get away with it because Envoy currently ignores both of those for TCP proxy, but it might bite us during upgrades, when we have old Envoys an

[2018-05-22 22:37] Tahler commented on #5763
@mandarjog I pasted the [snippet as a gist](https://gist.github.com/Tahler/c4110f731497f9aaf61f52ac710bea06).

[2018-05-22 23:03] mandarjog commented on #5769
We have reverted the original PR #5618 so nothing is being upgraded in 0.8 anymore. :-(

This will follow shortly after 0.8.

[2018-05-22 23:38] nrjpoddar opened #5773 "Circuit breaking task in v1alpha3 with 0.8 pre-release doesn't work"
This task for validating Circuit Breaking https://preliminary.istio.io/docs/tasks/traffic-management/circuit-breaking.html
as documented doesn't work with Istio [0.8 pre-release version](https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-0.8-20180520-18-17/).

When I apply the [destination rule](https://preliminary.istio.io/docs/tasks/traffic-management/circuit-breaking.html#circuit-

[2018-05-22 23:44] diemtvu commented on #5767
Nvm, I forgot to label namespace for istio-injection. It works after adding label.

[2018-05-22 23:44] #5767 closed

[2018-05-23 01:34] vadimeisenbergibm commented on #5686
@frankbu @cmluciano I see, will debug it today.

[2018-05-23 02:06] quanjielin opened #5777 "istio-sidecar-injector keep crashing"
Error logs from sidecar-injector-webhook container -
Register webhook failed: the server could not find the requested resource (get mutatingwebhookconfigurations.admissionregistration.k8s.io istio-sidecar-injector). Retrying...

Repro steps -
1. synced to latest 0.8 branch
2. make docker, make push
3. ./install/updateVersion.sh
4. kubectl create -f install/kubernetes/istio.yaml

It blocks running

[2018-05-23 02:53] rshriram commented on #5686
The problem is with SNI. The gateway's SNI is probably set to `*`

[2018-05-23 03:03] rshriram commented on #5763
Looking at the logs, this entire thing seems to be happening only for the gateways, not for the sidecars right? As far as gateways are concerned, this error is valid, because there are no virtual services associated with the gateway (yet). In other words, until a virtual service is explicitly bound to the gateway, no traffic will flow through.

[2018-05-23 03:07] rshriram commented on #5692
what does this have to do with v1alpha3 ? This is mixer config.

[2018-05-23 03:11] costinm commented on #5692
It's a v1alpha3 feature that is implemented by mixer - and is not ready yet, since mixer config format changed (which caused most of the delay and problems). Some parts of v1alpha3 may be incomplete or lack full testing - it's called 'alpha' :-) If it can make it in 0.8 great, if not I think we can document in release notes and do it in 0.8.1. Users who depend on this feature can stick with v1alph

[2018-05-23 03:11] rshriram commented on #5539
tackled by #5543

[2018-05-23 03:11] #5539 closed

[2018-05-23 03:54] kyessenov commented on #5692
Mixer or pilot, this was a surprise. It is a feature that was available for
over a year, and there was no reason to disable it. Mixer filter config has
not changed, I had a good look at both the code and the API.

On Tue, May 22, 2018, 8:11 PM Costin Manolache <notifications@github.com>
wrote:

[2018-05-23 04:08] #5328 closed

[2018-05-23 04:08] #5284 closed

[2018-05-23 04:11] rshriram commented on #5121
fixed with sni for wikipedia. And for others, it depends on filter chain match using dest IP - not implemented in envoy yet. cc @PiotrSikora

[2018-05-23 04:18] PiotrSikora commented on #5121
This can still be generated using IP:port listeners with `bindToPort: false`, so it doesn't depend on this feature being available in filter chain match.

[2018-05-23 06:35] Stono commented on #5712
Hey @douglas-reid
Happy to chat whenever.   Send me a message on istio slack, or you could join my scheduled call next Tuesday with some of the other istio folks.

I think Darren would like to talk about the other Prometheus / custom metrics / mTLS thing that I cant currently find the issue for 😂

[2018-05-23 07:43] morvencao commented on #5752
@gyliu513 `Jarger` also can't collect traces for `details` and `mysqldb` services.

[2018-05-23 07:55] johnzheng1975 commented on #5376
@rshriram , will this issue be fixed in istio 0.8.0？ Thanks

[2018-05-23 08:10] rlenglet commented on #5376
@johnzheng1975 I haven't been able to reproduce this so far with version release-0.8-20180521-15-16 and the proxyv2 image.

[2018-05-23 09:29] mandarjog commented on #5763
This is none of that.
It was because the destination rule was incorrect and it ended up ejecting all the destination rules, results in all subset clusters being ejected as well.
After spending all this time finding the bug, it turns out that a [PR](https://github.com/istio/istio/pull/5737) to fix this behaviour was merged yesterday.

@costinm @rshriram we need to add unit tests to `v1alpha3` ASAP.

[2018-05-23 10:41] Sophian-Mehboub commented on #5421
Hello, always nothing ?

[2018-05-23 12:04] nixgadget opened #5778 "404 NR with Istio 0.7.1"
istio 0.7.1
GKE 1.9.7-gke.1
mTLS: Disabled

With 0.7.1 we are currently unable to get service-to-service traffic going. Keep getting `404 NR` errors.

A typical error on the sending microservice proxy is,
[code]

And in the sending microservice application we would also see,
[code]

These services can talk to each other outside the mesh.

Any help would be good to diagnose this issue.

[2018-05-23 12:36] sdake commented on #5735
WFM during community testing day as well.

[2018-05-23 13:00] sdake commented on #5735
@wattli I just attempted to duplicate the problem you are experiencing, and that version SFM.

My steps were as follows:
[code]

produces:
[code]

Can you add more information about your environment (specifically, does it provide a Load Balancer object, and which of the several different GATEWAY setting methods did you use from the documentation?

Thanks
-steve

[2018-05-23 13:11] AlexRRR commented on #5410
@nmnellis  would you happen to have sample configuration for promviz I could  use as starting point? I have no clue whatsoever where to start. (great talk at Kubecon btw)

[2018-05-23 13:43] goodforever opened #5781 "What ingress controller can be used for istio-ingress ?"
Does  the istio-ingress include ingress controller ? if no , What ingress controller can be used for istio-ingress ?

[2018-05-23 13:53] jnativio opened #5782 "istio-tracing (jaeger) has memory leak and crashes under load"
Istio build: release-0.8-20180523-09-15 (daily)
Kube version: 1.9.2_1501
Cloud environment: IBM Cloud Kubernetes Service (IKS)
Kube Cluster: 3-node 4-core, 16GB

Regression patrol run on this build showed that the new istio-tracing component that now is installed with the default manifest file (istio-demo.yaml) has a serious memory leak under load and uses all memory available in the node, then cr

[2018-05-23 14:36] utkuturunc commented on #5752
I am having a similar issue. Jaeger only picks up traces from the ingress gateway but I don't see any traces that contain the names of any microservices.

[2018-05-23 14:51] cmluciano commented on #5679
@rlenglet Can you expand on the missing features upstream that you mention here ?

From the Envoy docs, I thought this was already supported in [original destination filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/listener_filters/original_dst_filter)

[2018-05-23 15:05] nmnellis commented on #5410
for my demo i used statsd-to-prometheus to get metrics from envoy directly
[code]

[2018-05-23 15:34] nrjpoddar commented on #5773
Thanks @ymesika for fixing it. I was about to submit a PR for addressing it, so I'm glad you referenced this bug in your PR.

[2018-05-23 16:37] ostromart commented on #5692
@kyessenov, the issue is in how mixer client expects to receive the config in v2, it's changed. Check with @qiwzhang for details.
I'm going to take a first pass at it today - other "1 day" issues are battling for attention :-)

[2018-05-23 16:46] qiwzhang commented on #5692
The change is in Pilot.  When Pilot switched to use Envoy v2 config (proto), it did not add the code to fill quota config in.  The quota config only works when using Envoy v1 (json) format.

[2018-05-23 16:47] nmittler opened #5783 "Refactor pilot bootstrap code (take 2)"
The pilot bootstrap logic has gained a bit of cruft over the past several months and it's getting to the point where another facelift is in order.

In comparison, the mixer startup code is much more extensible and better separates the configuration from the server startup. We should do something similar in Pilot.

The initial motivation for this issue is for writing the setup code for a local pilo

[2018-05-23 17:04] kyessenov commented on #5692
Martin, mixer client config was moving towards v2 protos for much longer
than this release cycle. The only difference should be that in v1 the
config is under v2 field in the Json struct for http.

On Wed, May 23, 2018, 9:46 AM Wayne Zhang <notifications@github.com> wrote:

[2018-05-23 17:08] rshriram commented on #5692
Which is clunky isn’t it? Given that we are making a clean break from old v1alpha1, can we also clean up the associated configs in Envoy to avoid doing this type of stick v2 config under v1 entry etc ?

[2018-05-23 17:10] kyessenov commented on #5692
What v1 entry? Mixer filter config looks just fine in xDS API compatible
way.

On Wed, May 23, 2018, 10:08 AM Shriram Rajagopalan <notifications@github.com>
wrote:

[2018-05-23 17:22] sdake commented on #5735
@wattli I just noticed your using the April 24th release `[lita@lita istio-release-0.8-20180424-09-15]$`.  Several bugs have been fixed since then.  Can you retry in your environment with a newer version that can be found here:
http://bit.do/istio080-latest-daily

[2018-05-23 17:44] esnible commented on #5726
I am seeing the Istio Ingress listening on 15000, but not on 80:

[code]

[2018-05-23 17:48] rlenglet commented on #5679
@cmluciano original-dst-filter is not relevant to this issue. What it does is restoring the **destination** IP address of **downstream** connections. This can then be combined with original-dst-cluster to set the **destination** IP address of upstream connections to the original **destination** IP address of the downstream connection.

But neither original-dst-filter nor original-dst-cluster deals

[2018-05-23 17:54] #5773 closed

[2018-05-23 17:55] wattli commented on #5735
No, i am using 20180520 release as mentioned above. [lita@lita istio-release-0.8-20180424-09-15] is just a different tab.  I am traveling recently and if both Andra/Sdake don't have this issue, i think we can close this for now, i will dig into it when back.

[2018-05-23 17:55] #5735 closed

[2018-05-23 17:56] #5546 closed

[2018-05-23 17:59] qiwzhang commented on #5692
@rshriram Only in Envoy v1 config (json),  we were using "v1" and "v2" field for the whole HttpClientConfig proto inside the filter config.   In Envoy v2 (proto), we remove "v1" and "v2", use HttpClientConfig proto directly as filter config.

[2018-05-23 18:42] nrjpoddar commented on #5755
HI @jsenon I tried the steps as documented [here](https://preliminary.istio.io/docs/tasks/traffic-management/egress-tcp.html) with this [version](https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-0.8-20180520-18-17/) and it works as expected.

Can you try with the latest pre-release build and validate if you're still observing the failure?

[2018-05-23 19:07] ostromart commented on #5745
The root cause is https://github.com/istio/istio/commit/0759c8572119b8c78eeed1e0bbd3c58efc748092
This PR added a chgrp to the dockerfile. The running envoy process has gid 0, so there's a setgid which has the side effect of disabling PR_DUMPABLE per http://man7.org/linux/man-pages/man2/prctl.2.html.

[2018-05-23 19:46] ldemailly commented on #5745
is there a workaround/setting to turn it back?

once you do can you make sure to have at least 1 circleci and prow test PR showing the core as downloadable artifact ? tia

[2018-05-23 20:03] ldemailly commented on #5421
[code]

you have to use a domain you own/control the DNS of ?

[2018-05-23 20:47] rshriram commented on #5121
You can’t. Coz the Wikipedia entries are cidr prefixes

[2018-05-23 20:53] PiotrSikora commented on #5121
CIDR prefixes evaluate to a limited number of IPs, so you could have multiple copies of the same listener with different listening IP.

Agreed, not ideal, but can be done now.

[2018-05-23 21:19] costinm commented on #5731
Yes, we should make the statsdUdpAddress dependent on telemetry.enabled

Or even better - stop using it completely, envoy now supports prometheus metrics directly, so we could just configure prom to pull from envoys.

[2018-05-23 21:20] costinm commented on #5731
Doug - opinions ? I would vote for removing the statsd if setting up prom is not too hard.

[2018-05-23 22:09] sarmadali20 opened #5788 "Apache Thrift Service - ISTIO Proxy not working"
I am getting the following log from ISTIO proxy container

`[2018-05-23 22:00:39.172][18][info][upstream] external/envoy/source/server/lds_subscription.cc:70] lds: fetch failure: network error`

I am not sure if ISTIO supports Apache Thrift yet?

I can get the response from within the pod using **localhost:9090** but not from any other pod using the **service-name.namespace:9090** if thrift is sup

[2018-05-23 22:32] linsun commented on #5782
Is this a new issue that exist with zipkin or only to jaeger?

[2018-05-23 22:45] douglas-reid commented on #5731
We don't have a good way to consume proxy metrics with Prometheus yet. We'd have to figure out access and the config for all scenarios, including mTLS-enabled. And we need a way to keep these requests from being traced, etc.

I think that `telemetry.enabled` seems too coarse. When `statsd-prom-bridge` was split out from mixer, things got a bit wonky here. Ideally, there would be a `envoy.statsd.te

[2018-05-23 22:59] hklai commented on #5323
It's failing more often than not.
https://k8s-testgrid.appspot.com/istio-postsubmits#circleci-e2e-pilot

And it looks the same in prow.
https://prow.istio.io/?type=presubmit&job=istio-pilot-e2e

[2018-05-23 23:13] bmarshall13 opened #5792 "config_dump causes istio-proxy to crash"
1 - Installed istio-release-0.8-20180520-18-17 via helm tiller:
`helm install install/kubernetes/helm/istio --name istio --namespace istio-system --set sidecar-injector.enabled=true --set global.proxy.image=proxyv2`
2 - installed bookinfo (doesn't appear to be necessary to reproduce)
3 - port-forward 15000 to the details-v1 pod, and `curl localhost:15000/config_dump`

Curl gets an empty respoonse,

[2018-05-23 23:17] lizan commented on #5686
With `istio-release-0.8-20180523-09-15` this worked expected with the latest doc.

[2018-05-23 23:57] costinm commented on #5679
For http, you need to use
x-envoy-external-address=129.42.208.183
x-forwarded-for=9.27.120.57, 129.42.208.183

it works for both redirect and tproxy.

Since requests go trough ingress - the app will not really get the client address in the TCP connection.

With both tproxy and redirect, envoy can see the immediate client (ingress or real client) - but it terminates the connection and creates a sep

[2018-05-24 00:19] PiotrSikora commented on #5694
After updating proxy, the errors we're seeing (as logged by Envoy) are:

[code]

This error is produced by Pilot (and somehow delivered to Envoy) in [the new SNI routing code](https://github.com/istio/istio/blob/b6fa713dc8356cb49bbc1bda37f2fd9b5bce1e31/pilot/pkg/networking/core/v1alpha3/listener.go#L688).

Since `TestIngressGateway503DuringRuleChange` is currently disabled, maybe something was mis

[2018-05-24 00:31] PiotrSikora commented on #5694
Actually, it looks that there is a more appropriate bug for the `TestIngressGateway503DuringRuleChange` failing (https://github.com/istio/istio/issues/5652).

I think this can be closed once new proxy is merged, since the new one doesn't crash anymore.

[2018-05-24 01:03] mandarjog commented on #5680
The default is proxyv2 now.

[2018-05-24 01:03] #5680 closed

[2018-05-24 01:05] quanjielin opened #5799 "node_agent_k8s fails to save key/cert to file system"
Repro steps -
Follow [instruction](https://github.com/istio/istio/blob/master/security/cmd/node_agent_k8s/README.md), using latest node_agent_k8s image rather than gcr.io/istio-testing/nodeagent:latest, after adding new workload, see below errror logs in node_agent_k8s container

_failed to save key cert for ns = default, service account = default, uid = cb0557b1-5ee6-11e8-9032-42010a8000fb error

[2018-05-24 01:14] quanjielin opened #5801 "add node_agent_k8s to makefile"
right now 'make docker' doesn't build node_agent_k8s image, it's better to add node_agent_k8s to makefile so that development on node_agent_k8s would be easier.

[2018-05-24 01:43] andraxylia commented on #5686
I will close this based on confirmation from @lizan . Thanks @rshriram @vadimeisenbergibm .

[2018-05-24 01:43] #5686 closed

[2018-05-24 02:26] lizan opened #5806 "bookinfo doesn't work on 1.10.2-gke.1"
kind of similar to #5723

Followed docs:
- https://preliminary.istio.io/docs/setup/kubernetes/quick-start.html
- https://preliminary.istio.io/docs/guides/bookinfo.html

`curl -o /dev/null -s -w "%{http_code}\n" http://${GATEWAY_URL}/productpage` returns `504` (Gateway timeout) while on `1.9.7-gke.1` it returns `200` as expected.

[2018-05-24 04:13] plasticine commented on #5723
Yep, can confirm there seems to be something pretty busted here. We’re actually seeing GKE Nodes be rebooted by the node health monitor with;

[code]

[2018-05-24 04:26] plasticine commented on #5723
[code]

[2018-05-24 04:28] kyessenov commented on #5723
Yeap. Found by conduit folks https://github.com/runconduit/conduit/issues/982

[2018-05-24 05:01] lizan commented on #5723
Good catch! I'll try ubuntu as node-images to see if it works.

[2018-05-24 05:02] costinm commented on #5477
It doesn't make sense - you can build a docker image with debug symbols for your own debugging.
That doesn't mean regular users need this. Just replace the envoy in the docker container with your custom build.

The real problem is that core dump seems to be broken - and we should fix that, which will give you all
the info you need.

Please revert the release version with stripped binary - I can ch

[2018-05-24 06:00] kyessenov commented on #5692
What is the plan regarding QuotaSpec and QuotaSpecBinding in v1alpha3? I don't see any corresponding configuration inputs to pilot. Is the plan to hardcode `requestcount` quota at value 1?

[2018-05-24 09:00] ymesika commented on #5792
Adding info that might be useful to resolve:
* I see the same with current `release-0.8` branch.
* It only happens with `proxyv2` and v1 doesn't crash for the same scenario.

[2018-05-24 12:11] aminebizid opened #5810 "Automatic sidecar not working on acs-engine"
$ ks logs kube-controller-manager-k8s-master-29261444-0 --tail 100 -f

E0524 12:09:23.135394       1 replica_set.go:450] Sync "default/sleep-7c88bf4d94" failed with pods "sleep-7c88bf4d94-glv8x" is forbidden: spec.initContainers[0].imagePullPolicy: **Unsupported value: "IfNotPresent": supported values: "Always"**

[2018-05-24 12:29] sdake commented on #5777
@quanjielin Few questions

1. Did you follow the steps required to enable sidecar injection -> https://preliminary.istio.io/docs/setup/kubernetes/sidecar-injection.html#automatic-sidecar-injection

(specifically making certain mutatingwebhooks are enabled in your Kubernetes?)

1. Which version of Kubernetes are you using and which installer tool?  I use kubeadm with 1.10 and the defaults work well

[2018-05-24 12:30] aminebizid opened #5812 "istio-ingress failing on Azure"
0524 12:27:14.231953       1 service_controller.go:219] error processing service istio-system/istio-ingress (will retry): failed to ensure load balancer for service istio-system/istio-ingress: compute.VirtualMachineScaleSetsClient#UpdateInstances: Failure sending request: StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code="**InvalidParameter" Message="Requ

[2018-05-24 12:37] sdake commented on #5810
@aminebizid thank you for the bug report!  Couple questions

* what is ks
* Which version of Istio
* what version of Kubernetes (kubectl and api server specifically)

I have not personally used Azure's cloud with Istio, however, that error seems to indicate that an imagePullPolicy of IfNotPresent is unsupported.

You can always override the default pull policy to `Always` and see if that gets thin

[2018-05-24 12:44] jsenon commented on #5755
Hi @nrjpoddar I confirm that is working with istio-release-0.8-20180520-18-17

[2018-05-24 12:47] aminebizid commented on #5810
@sdake thanks for your ptompt reply
ks is just an alia for  kubernetes -n kube-system :-)

ubectl version
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.1", GitCommit:"d4ab47518836c750f9949b9e0d387f20fb92260b", GitTreeState:"clean", BuildDate:"2018-04-13T22:27:55Z", GoVersion:"go1.9.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"10

[2018-05-24 12:53] vadimeisenbergibm commented on #5764
@jsenon I use the term "Mesh-External Service Entry". It is a ServiceEntry, with `location` `MESH_EXTERNAL`. So it is an additional service, or an entry in the Service Registry, that refers to a service external to the mesh.

Is this term more clear? Does it explain the intention?

[2018-05-24 12:54] vadimeisenbergibm commented on #5689
Closing, based on https://github.com/istio/istio/issues/5686#issuecomment-391560577.

[2018-05-24 12:57] sdake commented on #5810
More questions (Note I have no experience with ACS)

* Would you paste a snippet (or the full contents) of your manifest that you are attempting to inject automatically?  Perhaps the YAML is not correct?

* It could be that ACS does not properly configure the api server to support mutating werbhooks in their implementation.  Can you verify ACS has the following options set (you can use ps -ef for

[2018-05-24 12:59] esnible opened #5813 "zipkin.yaml missing in 0.8"
The pre 0.8 daily builds no longer have _zipkin.yaml_ for deploying Zipkin.  _istio-release-0.8-20180523-09-15/install/kubernetes/addons_ only contains _grafana.yaml_.  Our docs at https://istio.io/docs/tasks/telemetry/distributed-tracing.html suggest _zipkin.yaml_ should be there.  Which is incorrect, the deployment artifact or the docs?

https://preliminary.istio.io/docs/setup/kubernetes/helm-in

[2018-05-24 13:01] gyliu513 commented on #5813
@esnible this seems duplicate with https://github.com/istio/istio/issues/5747 ?

[2018-05-24 13:04] sdake commented on #5813
@esnible yes, the docs need an update.  It is missing instructions on how to setup tracing.

From today on out, we have two workflows:
1. generate your own yaml with `istioctl gendeploy` or `helm template` and then `kubectl apply` it
2. use `helm install` to deploy the Istio chart

The Istio chart has zipkin support, but zipkin is not enabled by default.  Do you need instructions on zipkin generat

[2018-05-24 13:06] sdake commented on #5747
I don't know the answer @gyliu513 to whether zipkin is in or out.  I saw a review fly by to change tracing to standardize on Jaeger, however, I believe the goal was to provide an implementation of for both (with possibly others in the future).

Cheers
-steve

[2018-05-24 13:14] aminebizid commented on #5810
~ kubectl api-versions | grep admissionregistration
admissionregistration.k8s.io/v1beta1

I'm using this yaml:

[code]

[2018-05-24 13:19] aminebizid commented on #5810
I found this in my cluster config
NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,DefaultTolerationSeconds,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,ResourceQuota,DenyEscalatingExec,**AlwaysPullImages**,ValidatingAdmissionWebhook,ResourceQuota

I'll try to remove AlwaysPullImage and recreate my cluster

[2018-05-24 13:21] sdake commented on #5810
`ValidatingAdmissionWebhook` is listed twice as well in your cluster config.  I seem to recall `ValidatingAdmissionWebhook` has to go last in the api server configuration.  That may have been fixed in 1.10.

[2018-05-24 13:29] trisberg commented on #5723
Using Ubuntu solved my issue above

[2018-05-24 13:32] esnible commented on #5813
With the latest changes, Zipkin now starts automatically for me when I bring up Istio with `helm template`.

[2018-05-24 13:57] sdake commented on #5711
@jsenon we are in the process of reworking the installation documentation repo to address the problem you found.  The general idea, however, is for 0.8 to include a "demo" istio.yaml followed up with documentation on installation and configuration of other components (like addons).

I think for the demo yaml, prometheus:enabled makes sense.  I'm not sure it makes sense by default, but this is unde

[2018-05-24 13:58] sdake commented on #5683
looks good!  The tracing threw an error, but I had tracing disabled.

[2018-05-24 14:06] mbanikazemi opened #5815 "K8s network policies not taking effect"
K8s network policies are to take effect for new connections. With Istio, since the proxy (envoy) establishes connections and keeps them alive, even when apps are creating new connections, since the connections being used are already established, k8s network policies, if/when defined won't take effect.

This needs to be at least documented until/if it is decided that this needs to be addressed by f

[2018-05-24 14:08] sdake commented on #5535
@gyliu513 the istio-remote helm chart allows you to specify the endpoints for pilot/statsd/policy.  The model is to instantiate the remotes first, then the istio control plane last with the keys from the remotes.  It may make sense to automate istio-remote with a controller/operator as @sbezverk had mentioned,

@sbezverk re global service visibility - coredns looks like a good solution and will co

[2018-05-24 14:10] sdake commented on #5535
@sbezverk i can provide a walkthrough on Saturday or early next week if you like.  The implementation works well enough, although there are some usability problems that need attention.

[2018-05-24 14:11] sdake commented on #5535
@gyliu513 Istio 0.8 is in the final stretch and coming RSN.  I am not sure we can fix the pod's being killed and restarted with a new IP problem prior to 0.8.

I'd still encourage the work proceed one way or another targeting 1.0.

[2018-05-24 14:12] sbezverk commented on #5535
@sdake it would be great if you could comment how `coredns` as is, would solve inter cluster services visibility.

[2018-05-24 14:17] sdake opened #5816 "accessConfigFile only accepts /dev/null"
Within Istio, every sidecar is loaded with an accessConfigFIle of stdout (iiuc).  Changing accessConfigFIle to '/dev/null' still works, however, the calculation of the log messages for every proxy is still very expensive.  What would be ideal is a `nil` value specified in accessConfigaFile which shuts off all Envoy logging.  @mandarjog mentioned during community testing day this was not particular

[2018-05-24 14:44] jnativio commented on #5782
I observed that zipkin had the same issue when it was used with daily build release-0.8-20180519-01-13:

![image](https://user-images.githubusercontent.com/18554027/40492800-5367d3de-5f3f-11e8-87cb-e646c1309975.png)

[2018-05-24 15:05] frankbu commented on #5686
FYI, I confirmed it does work for me now.

[2018-05-24 15:25] pavolloffay commented on #5782
@jnativio does zipkin crash? IIRC it uses bounded in-memory storage so it shouldn't crash if it has enough memory.

[2018-05-24 15:44] linsun commented on #5747
for 0.8, It will be changed back to zipkin due to memory leak issue from jaeger.

[2018-05-24 15:51] esnible opened #5817 "_istioctl experimental convert-networking-config_ generates Gateway and VirtualService in wrong namespace"
_istioctl experimental convert-networking-config_ when processing an Ingress generates Gateway and VirtualService in the _istio-system_ namespace even if the Ingress was in the default namespace.

This causes a problem when the destination isn't fully specified.  So if the Ingress used `serviceName: node0.default.svc.cluster.local` the generated VirtualService will work, but if the Ingress used `s

[2018-05-24 16:18] sdake commented on #5813
Yes the docs are wrong.  We do intend to document the common scenarios for the --set options.  Working on a PR atm that autogenerates the table in the current helm install.

[2018-05-24 16:19] mandarjog commented on #5782
@jnativio did we just start using zipkin in regpatrol ? Do we have any earlier data points?
Otherwise this is really a "how to productionize jaeger/zipkin" issue.
If so I will not consider this release blocking.

[2018-05-24 17:10] #5801 closed

[2018-05-24 17:11] esnible commented on #5813
This issue is a duplicate of #5747

[2018-05-24 17:11] #5813 closed

[2018-05-24 17:14] wattli commented on #5799
This readme is actually deprecated since we are not using flexvolume any more. I would not spend too much time on it.

[2018-05-24 17:19] nmittler commented on #5323
@hklai @costinm @kyessenov
Running locally on minikube, there seems to be an issue with contacting the zipkin server.  I noticed that the zipkin tests are disabled.  What is the reason for this?  Could there be a correlation?

[2018-05-24 17:20] quanjielin commented on #5799
Does it mean node agent will deprecate filesystem storage for key cert (only use memory forward) ? if yes, then probably we could ignore this; otherwise it needs to be fixed.

[2018-05-24 17:27] rlenglet commented on #5679
Filed https://github.com/envoyproxy/envoy/issues/3481 for the original-src-cluster feature.

[2018-05-24 17:30] nmittler commented on #5323
Looks like the zipkin tests were disabled in #5188.

@rshriram any thoughts? Should we re-enable the zipkin tests?

[2018-05-24 17:36] nmittler commented on #5323
Re-enablling the zipkin tests locally, it's having the same problem.

Does anyone know what's going on with zipkin?

[2018-05-24 17:37] nmittler commented on #5323
@mandarjog @douglas-reid any ideas what might be causing "connection refused" when trying to connect to zipkin?

[2018-05-24 17:40] nmittler commented on #5323
Looking at the logs on the zipkin pod, I don't see any errors or anything indicating it's received a request ... although I've never looked at zipkin logs before and am not sure what events are typically logged.

[2018-05-24 17:47] costinm commented on #5745
Fixing this should also unblock   https://github.com/istio/istio/issues/5477

We should fix this for the release - you can leave the bug open until a test is available, or split that to a separate issue. We also need to integrate it with the new dumpsys script.

On how to fix it: whatever is safest. I don't know if partially reverting tproxy is worth it - but we can do that if needed. We can also

[2018-05-24 17:51] costinm commented on #5477
Please revert back to stripped - #5745 will take care of providing detailed stack trace ( core can be used against an unstripped binary ). We will need to provide a download link for an unstripped binary for devs who need to debug core dumps - but this can be done separately.

[2018-05-24 17:58] costinm commented on #5745
BTW - can we change the pattern from /etc/istio/proxy/core... to /tmp or /var something ?
I'm pretty sure /etc is not the proper dir for core dumps....

[2018-05-24 18:06] quanjielin commented on #5777
@sdake, thanks for the info !

I didn't follow [link](https://preliminary.istio.io/docs/setup/kubernetes/sidecar-injection.html#automatic-sidecar-injection) because I used docker images built from my dev machine (followed the link uses default 0.8 release latest images)

seems like our [dev guide](https://github.com/istio/istio/wiki/Dev-Guide) needs some update, to use dev images, we now need to r

[2018-05-24 18:09] jnativio commented on #5782
@mandarjog  Both zipkin and jaeger got into the regpatrol run as they were included in the manifest yaml file. That happens only once for each one and I have been deleting them after the deployment as they interfere with the results. Besides the memory leak, they use a significant amount of CPU.

[2018-05-24 18:11] sdake commented on #5816
@kyessenov in the data path (envoy) - every connection to the sidecar or through the sidecars triggers a log message which creates a timestamp and formats a string.  This log creation in Envoy appears to be done via macros.

Could you expand on "logging is done outside the data path"?

[2018-05-24 18:11] diemtvu opened #5826 "Remove mTLS enablement via service annotation"
It can/should be done with authentication policy. This mechanism is no longer needed.

[2018-05-24 18:19] kyessenov commented on #5816
It does not directly contribute to the perceived latency, except through consuming shared resources.

[2018-05-24 18:29] wattli opened #5828 "Failed calling admission webhook "sidecar-injector.istio.io":certificate signed by unknown authority"
istio-release-0.8-20180520-18-17

website: https://preliminary.istio.io/docs/setup/kubernetes/sidecar-injection.html#automatic-sidecar-injection

message: 'Internal error occurred: failed calling admission webhook "sidecar-injector.istio.io":
      Post https://istio-sidecar-injector.istio-system.svc:443/inject?timeout=30s:

      x509: certificate signed by unknown authority (possibly because of

[2018-05-24 18:45] ostromart commented on #5745
Yes, not sure why this was changed to /etc because it used to be /tmp at some stage.
Let me explain in more detail why I think there's no easy workaround.
There's a rather obscure behavior of coredump: if gid is changed, the capability to coredump (controller by a dynamic flag bound to the process) is disabled. See link above for details. This is what appears to be happening here, since removing t

[2018-05-24 18:56] cmluciano commented on #5679
Thanks @rlenglet let's follow up on there for now.

[2018-05-24 19:07] mandarjog commented on #5323
@nmittler we collect these logs for all tests in circle. Look at artifacts logs on any older zipkin build and you will see a "normal" log.

[2018-05-24 19:16] esnible commented on #5817
I discovered this when I tried to upgrade my app for 0.8 with `kubectl get ingress gateway -o yaml | istioctl experimental convert-networking-config -f- | kubectl apply -f-`.

Work around until the PR is merged if your Ingress is in the default namespace: `kubectl get ingress gateway -o yaml | istioctl experimental convert-networking-config -f-  | sed s/istio-system/default/ | kubectl apply -f-`

[2018-05-24 19:17] ilyasotkov opened #5829 "tls.httpsRedirect doesn't work in Gateway resources"
**What I did:** installed sample bookinfo app using Istio (via Helm chart from `release-0.8` branch with `istionightly:nightly-release-0.8` images) on GKE 1.9.6-gke.1, and tried using this Gateway:

[code]

**Expected behavior:** http request returns 302, https 200
**Actual behavior:** both http and https requests return 200

[2018-05-24 19:22] Stono opened #5830 "Kubernetes version compatability"
Hey,
Do you publish a kubernetes version compatibility chart with Istio?

I ask because I've discovered on my cluster using 1.10.2+ nodes with istio 0.7.1 = pods unable to make any outbound communication.

Rolling back to 1.9.7 fixed this problem.

[2018-05-24 19:31] deewhyweb opened #5831 "Pods in CrashLoopBackOff when installing on Openshift 3.9"
As part of Istio 0.8 community testing I'm installing istio-release-0.8-20180520-18-17 on Openshift 3.9.27 (kubernetes v v1.9.1+a0ce1bc657)

I ran:
[code]

Then

[code]

When I view the pods in the istio-system project I see

[code]

Looking at the logs for  the istio-proxy in the istio-pilot pod, I see the following error.

2018-05-24T19:27:53.794344Z	error	open /etc/istio/proxy/envoy.yaml: permi

[2018-05-24 19:59] #5831 closed

[2018-05-24 20:52] lizan commented on #5830
@Stono can you also record the kernel version? If you are on GKE, likely the kernel bug (see #5723 for detail) is related.

[2018-05-24 21:02] sarmadali20 commented on #5788
Interestingly we found the culprit it's the `.` in deployment name!!

[2018-05-24 21:08] kidiyoor opened #5833 "mesh ex : Wrong ENV generated by install/tools/setupMeshEx.sh"
Currently setupMeshEx.sh create a variable CONTROL_PLANE_AUTH_POLICY in cluster.env to enable/disable control plane mTLS for VM.
[code]
It should be
[code]
since istio-start.sh https://github.com/istio/istio/blob/26262e8a1d89c4cd17f52db645d91ce9d9918e6e/tools/deb/istio-start.sh#L48 looks for ```ISTIO_CP_AUTH```

[2018-05-24 21:15] lizan commented on #5723
I also confirmed with Ubuntu nodes, e2e test runs.

[2018-05-24 21:17] ostromart commented on #5745
Plan for now is to remove the chgrp, which will temporarily break tproxy.
To restore tproxy in next release, we have some options (in rough order of complexity):
1. Bifurcate dockerfiles into regular/tproxy
2. Add prctl() syscall in envoy which will restore ability to core dump (there could be security objections to this).
3. Move the chgrp into pilot agent and set it there conditionally (based on

[2018-05-24 21:20] mandarjog commented on #5782
Ok, I will remove this from release blocking then.
@hklai @ldemailly This is not a regression. Both zipkin and jaeger have trouble with 100% tracing and the amount of traffic we generate in these test when used with default configuration.

I think we should improve the default configuration, create a new config for perf tests that includes trace sampling.

[2018-05-24 22:16] theganyo commented on #5040
verified as fixed in nightly build. thanks!

[2018-05-24 22:16] #5040 closed

[2018-05-24 22:17] theganyo commented on #3194
verified as fixed in nightly build. thanks!

[2018-05-24 22:17] #3194 closed

[2018-05-24 22:46] #5763 closed

[2018-05-24 22:57] mandarjog commented on #5678
@andraxylia as sdake states the change was already made by @Tahler
It removes the confusing instructions.

[2018-05-24 22:58] mandarjog commented on #5678
Removing release blocking, if you think its not sufficient please suggest changes. Thanks.

[2018-05-24 22:58] nmittler commented on #5323
Doing a little more digging...

When running on minikube, I'm seeing Prometheus restart every time a request is sent to the zipkin server:

[code]

No idea what could be causing this.  The request is run from app `t`, which has no sidecar ... so nothing should be going to Prometheus, AFAIK.

[2018-05-24 23:08] deepvish23 opened #5837 "How to manually deploy Istio envoy sidecar on a pod?"
Hi,

I am trying to install Istio envoy sidecar manually on my application and my .yaml file contains **'kind: Pod'**. I already read that this is not one of the supported types to inject an envoy sidecar but I just want to know if there is any workaround for this?

Any suggestions will help!

Thanks!
Deepthi

[2018-05-24 23:08] aminebizid commented on #5810
It works when setting --admission-control": "NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,DefaultTolerationSeconds,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,ResourceQuota

then since using kub ver 1.10+ in the generated template, replace manually --admission-control by --enable-admission-plugins

[code]

[2018-05-24 23:08] #5810 closed

[2018-05-24 23:10] #5812 closed

[2018-05-24 23:20] vaidsu commented on #2974
@andraxylia if we wish to contribute for this issue, are there any pointers that we can start looking into? Is there any specific test case you would like to start with?

Please let me know.

[2018-05-24 23:35] andraxylia commented on #5678
ok to close

[2018-05-24 23:35] #5678 closed

[2018-05-25 00:02] andraxylia commented on #2974
It may have changed meanwhile, since I cannot grep for "--- FAIL" anymore, but we have 2-3 different frameworks e2e_pilot, e2e_mixer, simple test and each logs failure in a different way, so when trying to merge a PR it is not immediately obvious where the failure is, or what to find in file to go straight to the failure.

Take any open PR with failures, go to the link where it says tests have fai

[2018-05-25 00:06] vaidsu commented on #2974
@andraxylia

I was looking into the framework, and I see the lowest level could potentially be

[code]

Is the idea more about making the framework throw out errors and handle tests in a more common fashion?

I checked the circle ci links, I get an idea now.

As a side note, how long does a full build take? Just wanted to understand if its just me or is it normal, or if I am missing any environmen

[2018-05-25 00:11] andraxylia commented on #2974
Yes, you got the idea.

Vagrant is work in progress  as part of the test SWAT effort to unify testing in general. It may be a good idea to sync up with them @nmittler @gargnupur .

[2018-05-25 00:15] vaidsu commented on #2974
Thanks @andraxylia appreciate your quick response.

I am just wondering if there is an easy to test just a single file. I am new to Istio, but generally my way of picking up a large code base is by writing tests for the code, so as to understand it better. Thus, I am here into test area.

I am trying to hack a bit and understand what file does what, meanwhile if there is an hello world test that j

[2018-05-25 01:08] yangminzhu commented on #5826
To confirm, we want to remove everything related to https://istio.io/docs/tasks/security/per-service-mtls.html? @diemtvu

[2018-05-25 01:33] diemtvu commented on #5826
Right. In fact, this write up is about being removed (in
https://github.com/istio/istio.github.io/pull/1332)

On Thu, May 24, 2018 at 6:08 PM Yangmin <notifications@github.com> wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-215-8127

[2018-05-25 02:44] morvencao commented on #5747
Revert switch to jaeger: https://github.com/istio/istio/pull/5795

[2018-05-25 03:33] goodforever commented on #5781
Nobody answer my simple question, I look for  other service mesh, I found a good service mesh ,Conduit.  but I still want to  confim my question, finally,  I found  that "minikube addons enable ingress" can open ingress-nginx.  share it with beginner

[2018-05-25 03:47] nrjpoddar commented on #5778
404 NR can be caused due to multiple reasons. Please check if any of the following is true in your scenario:

* No Istio routes are configured for the Host or no K8s service exists. If there is no K8s service default routing doesn't work.
* The Host header is incorrect and doesn't have the same value as the K8s service name.

[2018-05-25 03:52] billpratt commented on #5810
I am having the same issue. When I remove ```AlwaysPullImages``` it works as expected.

```Error creating: pods "sleep-86f6b99f94-qxvq6" is forbidden: spec.initContainers[0].imagePullPolicy: Unsupported value: "IfNotPresent": supported values: "Always"```

I suspect the sidecar container is failing because of this? https://github.com/kubernetes/kubernetes/blob/release-1.10/plugin/pkg/admission/alw

[2018-05-25 03:54] billpratt commented on #5810
@sdake @aminebizid If you add ```AlwaysPullImages``` does it not work for you?

[2018-05-25 03:59] nixgadget commented on #5778
@nrjpoddar I found a fix for the issue. It was due to the way i was creating the grpc channel.
I was doing,
[code]
I'm guessing `nameResolverFactory` doesnt work in the mesh for some reason.
This is completely fine outside the mesh.

[2018-05-25 05:41] ymesika commented on #5837
If you have automatic sidecar injection set, the sidecar will be injected to the Pod upon creating it.
Or, you can also manually inject by editing your yaml. `istioctl kube-inject` currently doesn't inject into a Pod.

[2018-05-25 08:19] Stono commented on #5830
Hola!
I've rolled back now, but yes it was GKE and the symptoms were the same!

[2018-05-25 09:22] zainul-ma opened #5841 "Istio GRPC in istio 0.7"
halo, i am trying to communicate each service in k8s using istio
but currently is still got some wrong direction when our service communicate via grpc but when grpc execute by fortio client it's work actually ..
is something problem about grpc ? and how to check log request out from service to istio-proxy?

[2018-05-25 09:32] Sophian-Mehboub commented on #5421
Thank you for the answer.
Yes, i control the DNS domain and the dns record exist

[2018-05-25 11:21] chandresh-pancholi commented on #2628
We are facing the same problem with 0.6

[2018-05-25 12:46] shoaibechidna opened #5843 "Istion 0.8 virtualservice weight issue"
There is some issue in this version. When I try to create a virtualservice with weight 90 and 10 for two different pod versions, it gets routed correctly. But when I try to replace with weight 50-50 or even delete and recreate it, it is still routing with weights 90 and 10. Below is the updated yaml.

[code]

[2018-05-25 15:45] ldemailly commented on #5421
so you need to change test.example.org to your actual domain ?

[2018-05-25 15:53] Sophian-Mehboub commented on #5421
test.example.org is just for the example otherwise i use another fqdn and aother domain

[2018-05-25 16:27] ostromart opened #5847 "Create test to verify core dumps are generated"
See https://github.com/istio/istio/issues/5745
Need a test to verify that core dump is indeed generated.

[2018-05-25 16:29] ostromart opened #5848 "Restore TPROXY functionality"
TPROXY is broken due to https://github.com/istio/istio/issues/5745.
To restore tproxy in next release, we have some options (in rough order of complexity):
1. Bifurcate dockerfiles into regular/tproxy
2. Add prctl() syscall in envoy which will restore ability to core dump (there could be security objections to this).
3. Move the chgrp into pilot agent and set it there conditionally (based on tprox

[2018-05-25 16:52] ldemailly commented on #5421
ic, then I expect it means the name you use doesn't resolve/connect to the ingress?

you can try #cert-manager channel on kubernetes.slack.com  for help ?

[2018-05-25 16:55] mandarjog commented on #5694
closing.

[2018-05-25 17:28] hklai commented on #5806
is it the same issue as runconduit/conduit#982?

have you tried switching node-images to ubuntu?

[2018-05-25 17:44] jasmine-jaksic commented on #5676
@selmanj can progress on this?

[2018-05-25 17:53] selmanj commented on #5676
@salrashid123 is currently working on this - I think he's gotten pretty close.

[2018-05-25 18:00] jasmine-jaksic commented on #5677
@diemtvu can you update the docs and close this issue?

[2018-05-25 18:03] nmittler commented on #5323
re-assigning to @mandarjog since it seems zipkin-related.

[2018-05-25 18:08] costinm opened #5852 "Failure to receive traffic with 0.8"
Boilerplate right now - still looking at the details. User testing report that no logs or mixer is seen,
configs look corect.

[2018-05-25 18:48] kyessenov commented on #3963
To clarify, the issue is that there is always some default label (HTTP in this case), and that cannot be overridden by a match clause. The work around is to explicitly add a label for TCP. Either allowing match to override the label, or getting rid of labels is fine with me.

[2018-05-25 19:00] diemtvu commented on #5677
#1332 is in review, hopefully it can be done today.

[2018-05-25 19:00] nrjpoddar commented on #5781
AFAIK istio-ingress is very tied to the istio control plane. You can install istio control plane i.e. istio-pilot, istio-mixer, istio-citadel and istio-ingress without the sidecar injector. This will ensure you have a functioning ingress but no sidecars are injected in any Pods. Is that what you're looking for?

[2018-05-25 19:08] ozevren commented on #3963
Adding some context:
https://github.com/istio/istio/issues/2139
https://github.com/istio/istio/blob/b6fa713dc8356cb49bbc1bda37f2fd9b5bce1e31/mixer/pkg/runtime/routing/table.go#L98
https://github.com/istio/istio/blob/b6fa713dc8356cb49bbc1bda37f2fd9b5bce1e31/mixer/pkg/runtime/dispatcher/dispatcher.go#L239

[2018-05-25 20:05] costinm opened #5856 "Readiness update timing results in envoy stuck with a TCP proxy"
Based on user test report resulting in envoy not getting http logs or mixer, but still forwarding requests to app, I suspect what happens is:

1. pod starts
2. pilot generates a config - but doesn't see the endpoint yet, so it generates a 'management port' for the readiness
3. a bit later the endpoint shows up, and pilot generates the correct config - which is what we have in the adsz
4. envoy rej

[2018-05-25 20:08] kyessenov commented on #5856
Yeah, I pointed it out that listener names should not include the protocol.
The fix was merged by Shriram.

On Fri, May 25, 2018 at 1:05 PM Costin Manolache <notifications@github.com>
wrote:

[2018-05-25 20:12] costinm commented on #5856
When was it merged ?

Looking at the code, if there is a listener already we skip the 'management' port anyways. And since we no longer capture ports not listened in containerPort - the other uses for management proxy are also gone.

Only case where a tcp proxy for readiness is still needed is if the user has a containerPort declaring the
readiness port, and doesn't have any service pointing to th

[2018-05-25 20:14] lizan commented on #5830
I'm working with GKE team to fix this issue, in a meanwhile, use 1.9.7 or use Ubuntu node image as a workaround.

[2018-05-25 20:15] lizan commented on #5806
Yes I think it is same issue, working on this.

[2018-05-25 20:29] andraxylia commented on #2974
I would recommend ads_test.go if you want to understand the code.

[2018-05-25 21:41] #5745 closed

[2018-05-25 21:53] tcnghia commented on #5723
It seems that 0.8 may not work well on 1.10 yet https://github.com/istio/istio/issues/5723

[2018-05-26 00:54] costinm commented on #5856
Seems to be working now - name of listener is IP_portnumber

[2018-05-26 00:54] #5856 closed

[2018-05-26 22:09] mandarjog opened #5864 "Istio ingress segfaults on upgrade from 0.7 to 0.8-20180525-23-50"
Regpatrol for build 0.8-20180525-23-50 failed with a segfault.

https://ibmcloud-perf.istio.io/regpatrol/release-0.8-20180525-23-50/
No_mixer and Full_istio are both failed performance runs with many 504s.

Issues observed
1. istio-telemetry logs have accesslogs that report a lot of traffic to `istio-policy`, but `istio-policy` has no record of it. You can check and correlate  `istio-policy-6db8dc

[2018-05-26 22:10] mandarjog commented on #5864
cc @rshriram @kyessenov @suryadu @hklai

[2018-05-26 22:18] mandarjog commented on #5864
@jnativio Looks like the ingress that tested this build was running for several days.
The first entry in the logs is `2018-05-24T16:04:12.446` for `0.8-20180525-23-50-istio_full-istio-ingress-b58d6fc97-mrr2b.log`. Are we sure that we are upgrading things correctly between runs ?

If things were not upgraded correctly, I would call this an upgrade issue, and not a release blocker.

For next run of

[2018-05-27 05:56] costinm commented on #5864
If mixer clusters are removed - or can't be reached - mixer client should
fail gracefully ( open for telemetry, close for policy ).
Pilot can't guarantee order or consistency.

We need to do more testing for error conditions - mixer pods and/or service
removed, no mixer, etc - it can happen in real use, not
only upgrade. But I believe proxy will recover after crash.

On Sat, May 26, 2018 at 3:18 P

[2018-05-27 10:34] nixgadget opened #5865 "Random 503 errors with liveness probes"
Istio: 0.7.1
K8: 1.9.7
mTLS: Disabled

I see a number of random 503 errors causing my pods to crash (randomly)
[code]
Im not sure what causes this. Has anyone successfully got the liveness probes to work ?

I have a number of Spring Boot microservices that I have configured with separate port to run the healthchecks on based on recommendations I have seen.

For instance:
[code]
And in the service

[2018-05-27 14:10] mandarjog commented on #5864
Conditions of mixer unreachable/ dying , crashing have all been tested. The new thing in 0.8 is mixer via cds, so that precise condition of random cluster removal has not been tested. On the data path this would have resulted in 404/503.

[2018-05-27 15:40] costinm commented on #5864
I'm aware of testing istio when mixer is not installed or disabled - but
dynamic changes ( mixer dies, is killed, service is removed ) with active
workloads is what I'm concerned about.
Same for killing pilot and its service.

I don't think it's blocking for 0.8 - and it's little we can do in pilot or
mixer server, but for 1.0 we must test all failure cases.

On Sun, May 27, 2018 at 7:10 AM, manda

[2018-05-27 17:16] dzendmitry commented on #5726
You must to have LISTEN for port 80 because container proxyv2 in pod istio=ingress exposes this port and service NodePort redirects traffic to that pod.

[2018-05-27 17:26] ldemailly commented on #5864
chaos testing would be useful indeed

[2018-05-27 18:06] mandarjog commented on #5864
+1 chaos testing

1. Mixer client should be resilient and not crash.
2. Clusters should not be randomly removed. Short of deleting Mixer service I don’t know why the cluster is removed. The more often this happens, even assuming a resilient mixer client, the proxy will resort to fail open / fail close behaviour.
Resorting to that behavior when Mixer has not failed is not ideal.
3. Regarding what w

[2018-05-27 18:36] ankurcha commented on #5723
FYI: This issue happens in 0.7.1. It would be nice to either have a note somewhere to get GKE to fix the COS image kernel.

[2018-05-27 18:51] costinm commented on #5864
I hope you are not proposing (3) for 0.8...

And for 1.0 - I think we have time to fix mixer client. Zipkin and other
clusters defined in bootstrap will also likely go away and move to CDS.
In a hybrid / multicluster environment, with 'a-la-carte' and migrations -
we can't assume anything is fixed, and we don't want to take the complexity
of custom code for mixer just because mixer client can't ch

[2018-05-27 19:46] ymesika commented on #5731
One more option is to move the `statsd-prom-bridge` Service/Deployment generation template from Mixer chart to Pilot's. Having `statsd-prom-bridge` without Mixer generates a

```[libprotobuf ERROR src/istio/mixerclient/report_batch.cc:83] Mixer Report failed with: UNAVAILABLE:Cluster not available```

but Envoy is not crashing as it was without both Mixer and statsd-prom-bridge.

My assumption her

[2018-05-27 20:13] mandarjog commented on #5864
No code should crash and it’s not about moving due to a bug. That bug Should be fixed in mixer client. There is no debate there.

The only admin action that should remove mixer cluster is deletion of the mixer service.
If mixer clusters were removed without mixer service deletion, then that is another bug.
This is bad because it causes Mixer client to go into fail open mode when there was no real

[2018-05-27 20:33] costinm commented on #5864
Agreed, cluster should not dissapear unless service was removed.

Eds is not sufficient - user may customize mtls and other settings related
to cluster.

On Sun, May 27, 2018, 13:13 mandarjog <notifications@github.com> wrote:

[2018-05-27 22:43] marcelomrwin commented on #3811
I'm facing the same issue. I have downloaded istio 0.5.1 from github for mac os-x

[2018-05-27 23:54] rshriram commented on #5864
The fact that you are shipping a custom cluster (mixer_check_cluster) instead of adhering to the default set of clusters that pilot ships - indicates that this will cause untold problems.

Why did you have to add this custom cluster? Why couldn’t you use the standard clusters for istio-policy and istio-telemetry ?

[2018-05-27 23:58] rshriram commented on #5864
How does this cluster even get added? This is nowhere in pilot code. He is probably testing with a stale proxy and mixer filter?

[2018-05-28 01:09] mandarjog commented on #5864
I have asked surya/jose to confirm that. If they are not doing a full upgrade then this is an upgrade issue.
From the cluster names being removed it is indeed old proxy running with an upgraded control plane.

[2018-05-28 01:31] costinm commented on #5864
Old proxy should only hit v1 which should use old mixer config.

On Sun, May 27, 2018, 18:09 mandarjog <notifications@github.com> wrote:

[2018-05-28 01:44] jnativio commented on #5864
@mandarjog The istio-ingress component has not been present in the istio manifest file since 05/17 build. That is why the current one has been running since then. If we cleanup everything, there will not be any new ingress installed for new builds. Regpatrol does not clean the previous build because it would also delete the istio-system namespace and with that the pvc where we keep Prometheus hist

[2018-05-28 05:00] mandarjog commented on #3811
Please use the latest istioctl release.

[2018-05-28 07:19] imesh commented on #4106
Just FYI, I also encountered this issue on GKE and the root cause was the case of the username returned by the following command:
[code]

Due to some reason the first character of the username was set to uppercase in Google Cloud/IAM settings, however the above command returned all characters in lowercase.

Resolved the issue by directly specifying the username:
[code]

[2018-05-28 08:21] zainul-ma commented on #5841
is any update ? or someone has same issue with me

[2018-05-28 08:59] gyliu513 opened #5870 "`istioctl get` should only return resource for current namespace"
When I run `istioctl get <xxx>`, it always return all resources under all `namespaces`, this is not right, we should not return resources under current namespace.

[code]
[code]

We should follow same way as Kubernetes like `kuebctl get`.

`kubectl get` will only return resources under current namespace, but it will not return resources under other namespaces without flag `--all-namespaces` and sp

[2018-05-28 09:35] #5755 closed

[2018-05-28 09:36] #5703 closed

[2018-05-28 10:56] ymesika commented on #5685
Tested with `istio-release-0.8-20180526-09-15` and it works as expected.

[2018-05-28 16:33] ecefjga commented on #1381
Hi, any news for this issue? Is it possible to have ingress controller (or ingress gateways) using host network? I have tested with 0.7.1 with whatever port number and the changes have not effect. However it something that works fine with NGINX or heptio/contour, is there some limitation in Istio related to that? Thanks!

[2018-05-28 17:57] etiennetremel commented on #5755
I'm still seeing the unknown protocol error. I tried with a fresh install of istio-release-0.8-20180520-18-17 and the exact ServiceEntry as described in the [EgressTCP](https://preliminary.istio.io/docs/tasks/traffic-management/egress-tcp.html) documentation. I tried installing Istio using Helm, then attempted another fresh install with kubectl apply but no luck.

[code]

Outbound is correctly add

[2018-05-28 19:44] etiennetremel commented on #5755
Found the problem, thanks to your PR @rshriram. The host defined in the ServiceEntry should contain a wildcard, so instead of wikipedia.org, it should be *.wikipedia.org.

[code]

I'm still wondering how you managed to have it working by just following the example.

[2018-05-29 04:01] tushar00jain opened #5878 "Mixer Adapter Walkthrough not working"
Following the instructions exactly as given here
https://github.com/istio/istio/wiki/Mixer-Adapter-Walkthrough

Setup:
- docker image `golang:1.10.1-alpine3.7`
- protobuf version `3.5.1`
- master branch of this repository

Output from `mixs`

[code]

Output from `mixc`

[code]

The test is also failing

[code]

[2018-05-29 04:36] mandarjog commented on #5878
@guptasu looks like a doc update issue. Can you investigate?  Thanks.

[2018-05-29 06:35] deepvish23 commented on #5837
Thank you for the reply! Can you please elaborate on what exactly is it that I have to modify in my yaml file? Is there any particular syntax to follow so that a sidecar gets injected in the pod?

Regarding automatic sidecar injection, I am running into the following error:

**ERROR: After approving csr istio-sidecar-injector.istio-system, the signed certificate did not appear on the resource. Giv

[2018-05-29 06:41] sunhao-bj opened #5879 "Init Container crashed with exit code 1 after 7 minutes"
I have configured automatic sidecar injection in kubernetes  and deployed a bookinfo in the namespace labeled istino-injection=enabled. In the beginning, the pods all worked fine, but after about 7 minutes, the init container crashed with exit code 1. I get the log of the istio-init container:`Iptables: Chain already exists.` How to solve this problem ?

**Kubernetes** version **v1.9.1**.
**Istio*

[2018-05-29 08:05] morvencao commented on #3864
Hi `auto-sidecar-injection` works fine for helm chart of branch `release-0.8`, Let's close this.

[2018-05-29 08:05] #3864 closed

[2018-05-29 08:40] LELEFIVE opened #5880 "404 error when trying to route istio-annotation ingress host."
## Base Environment
**istio version**
[code]

**ingress.yml**
[code]
## Problems
Outside k8s, I config the
[code]
 into the Windows hosts file. When  browsing the url
[code]
, I got the error
[code]
I haved tried  changing the annotation to taefik and deleting the annotation, both methods worked fine and return the right respone message. Is this a istio's bug or something? Please help me , thank y

[2018-05-29 12:07] idouba commented on #5781
Actually istio-ingress is a pod with ONE istio/proxy container which do the request routing just like other proxies within mesh. The ingress controller you mentioned is in pilot, that is pilot watch the Ingress api server, and convert the rule to istio specified rules which will be consumed by the proxies above.
The details can be find here:
[https://github.com/istio/istio/blob/master/pilot/pkg/co

[2018-05-29 12:22] gbaufake commented on #4447
Any news on this issue?

[2018-05-29 13:09] ymesika opened #5883 "Support providing a non-current kubernetes context to istioctl"
`istioctl` is only picking the current kubernetes context from the config.
Add the ability to select a particular context by add a new flag. E.g. `--kubecontext`.

[2018-05-29 13:56] esnible opened #5885 "Prometheus and Zipkin data incomplete if >1 K8s Service refers to a pod"
I am testing with six microservices.  The communication between some microservice pairs is not making it to Prometheus.  I am querying Prometheus manually using

[code]

After a while, the microservices that are not reporting failures changes.  However, at no time do all the microservices supply correct telemetry that makes it to Prometheus.

The data reported by Pilot Discovery on istio-pilot.ist

[2018-05-29 15:59] nrjpoddar commented on #5781
@idouba do you have a working configuration of istio-ingress with just istio-pilot i.e. no istio-mixer and istio-citadel?

If you have `mTLS` disabled, `mixerCheckServer` and `mixerReportServer` commented out in `istio` config map you should be able to run istio-pilot as ingress controller (without the rest of Istio control plane) for istio-ingress. Is that correct?

[2018-05-29 17:09] mandarjog commented on #5864
I agree, the issue of mismatched proxy with pilot can easily occur, we will have it documented.

[2018-05-29 17:57] #4599 closed

[2018-05-29 18:46] costinm commented on #5864
If they don't want to move: original ingress is still using v1 and should
behave identically with a 0.7.1, i.e. envoy has the same
bootstrap and gets same config as it did in 0.7.1

On Tue, May 29, 2018 at 10:18 AM, mandarjog <notifications@github.com>
wrote:

[2018-05-29 19:05] JimmyCYJ opened #5891 "Support SDS at sidecar bootstrap time"
cc @wattli

[2018-05-29 20:05] ostromart commented on #5694
Still seeing crash, attaching the core file.

[2018-05-29 20:27] nrjpoddar commented on #5755
I just followed the steps you mentioned and it works as documented. Can you look at the Proxy image version that is getting injected from the sleep Pod?
[code]
Mine says `image: gcr.io/istio-release/proxyv2:release-0.8-20180520-18-17`

[2018-05-29 20:47] #5685 closed

[2018-05-29 20:52] etiennetremel commented on #5755
I have exactly the same image: `gcr.io/istio-release/proxyv2:release-0.8-20180520-18-17`
I tried on 2 different clusters running  Kubernetes 1.9.7 with Calico hosted on AWS and had similar behavior.
How can I help troubleshooting it?

[2018-05-29 20:55] diemtvu commented on #5486
We probably want to remove subset concept for authn policy for now, until we have clearer idea how to make the whole concept more consistent. For the time being, I think authN is on `workload`, so it may be better to use label directly, instead of `subset`, which is more on the `service` concept.

[2018-05-29 20:56] diemtvu commented on #5486
Btw, https://github.com/istio/api/pull/469 will remove `subset` in authN to avoid confusion for now.

[2018-05-29 21:11] rshriram commented on #5486
Its fire and forget from Envoy. So, unless you propagate some custom headers and then trap them on the receiving end, you really cannot track the response codes for mirrored traffic.

[2018-05-29 21:22] diemtvu opened #5897 "Tool to run 'deep validation' for authN policy and related destination rule"
We may want to provide a tool for customers to verify authN policy setup (mainly focus on mTLS, due to the complexity of having authN policy and destination rule that control server and clients independently).

The tool could be part of `istioctl`, or as a stand-alone script/binary.

1. Check for authentication policies *conflicts* (i.e if there are more than one policies with the same target scop

[2018-05-29 21:37] diemtvu opened #5898 "Monitor JWT public keys and push LDS when they change."
Background: see [#4917](https://github.com/istio/istio/issues/4917).

[2018-05-29 21:38] diemtvu commented on #4917
Create https://github.com/istio/istio/issues/5898 for JWT public key changes handler.

[2018-05-29 21:38] #4917 closed

[2018-05-29 21:39] diemtvu commented on #5897
Also relate: https://github.com/istio/istio/issues/4856

[2018-05-29 21:40] #4744 closed

[2018-05-29 21:41] ostromart commented on #5694
nope, it's too big. hopefully mixer client team can post backtrace, or ping me directly if you need the core.

[2018-05-29 22:11] diemtvu commented on #4027
Should we go ahead and use `istio-global` namespace to hold *global* policies/configs (and advice customers to not run jobs in that namespace to avoid misuses).

Also, should we enforce this on similar policy, like destination rule (i.e destination rule for host "*" in namespace `foo` is for all services in `foo` only, but in namespace `istio-global` is for all services).

/cc @geeknoid
/cc @louis

[2018-05-29 22:36] ldemailly commented on #5720
how do I generate with `istioctl gendeploy` ? (ie without requiring helm to be installed, install with only kubectl and what is in the release tar ball)

[2018-05-29 22:39] yangminzhu commented on #5897
cc @yangminzhu

[2018-05-29 22:44] ldemailly opened #5899 "install/perf report for release-0.8-20180526-09-15"
@hklai istio 0.8 rc install and perf report

- https://github.com/istio/istio/blame/release-0.8/install/kubernetes/README.md#L9
mentions istio.yaml and istio-auth.yaml which do not exist anymore
- #5720 : the instructions on https://preliminary.istio.io/docs/setup/kubernetes/upgrading-istio/#control-plane-upgrade don't explain how to do it without helm (`istioctl gendeploy`)
- ran
[code]

but then

[2018-05-29 23:01] ldemailly commented on #5899
the error above is because webhook don't work for 1.8, so the command line need to be

[code]
Note that it should be `>` not `>>` which appends and so will generate issues when ran more than once

[2018-05-29 23:03] diemtvu opened #5900 "Remove mesh config "auth_policy" flag"
[`auth_policy`](https://github.com/istio/api/blob/master/mesh/v1alpha1/config.proto#L217) is to configure mutual TLS for data plane. Since 0.8, this can can be done via authentication policy. To have more consistent experience, it's better to remove this config flag.

For new users, we will have only one yaml file to install Istio (i.e install Istio without mTLS). Customers then can add AuthN poli

[2018-05-29 23:12] ldemailly commented on #5899
turns out you now must add `-n istio-system` or your control plane ends up inside the default namespace

[2018-05-29 23:28] #5677 closed

[2018-05-29 23:31] lizan commented on #5879
Do you have `istio-proxy` container log? (not init)

[2018-05-29 23:33] ldemailly commented on #5899
the old mixer seems to stay behind:
istio-mixer-6cff7ff5c-cq8ss                 3/3       Running   0          46m
[code]

[2018-05-29 23:56] ldemailly commented on #5899
after all this, I was able to run the (v1) tests and got similar latencies as 0.7 as expected

[2018-05-30 00:01] yangminzhu commented on #5898
It seems the pilot now pushes the config to envoy every 60 seconds (See https://github.com/istio/istio/blame/master/pilot/pkg/proxy/envoy/v2/discovery.go#L34)

So is it still necessary to make a push immediately after the public key change? Otherwise we just wait for 60 seconds and pilot will do a new push for us.

cc @costinm, @rshriram, @quanjielin

[2018-05-30 00:08] diemtvu commented on #5898
This is for tracking purpose, we don't have to implement anything fancy yet. However, it's important to watch out for possible changes in the way pilot pushing LDS/CDS.

[2018-05-30 00:36] JimmyCYJ commented on #5694
I am able to reproduce this crash, and I get the backtrace for the ingressgateway. Wayne is working on a fix.

[2018-05-30 00:18:26.506][173][critical][backtrace] bazel-out/k8-dbg/bin/external/envoy/source/server/_virtual_includes/backtrace_lib/server/backtrace.h:114] Caught Segmentation fault, suspect faulting address 0x0
[2018-05-30 00:18:26.506][173][critical] Backtrace (most recent call first)

[2018-05-30 00:43] andraxylia commented on #5689
Re-opening, I just tried and it does not work.

[2018-05-30 01:11] LELEFIVE commented on #5880
Anyone here?

[2018-05-30 01:31] andraxylia commented on #5689
I tried the task and this is what ingress log shows when I
curl -I http://192.168.99.100:32000/status/200

2018-05-30 01:10:41.054][21][debug][filter] src/envoy/http/mixer/filter.cc:175] Called Mixer::Filter : check complete OK
[2018-05-30 01:10:41.054][21][debug][router] external/envoy/source/common/router/router.cc:196] [C19][S5275222670755177034] **no cluster match for URL '/status/200'**
[2018

[2018-05-30 01:37] ldemailly commented on #5899
cc @rkpagadala

[2018-05-30 02:08] zainul-ma commented on #5841
it's like yap 404 in client , so cannot connect to the grpc service in the client ,

[2018-05-30 02:29] quanjielin opened #5903 "Add a grpc server which exposes SDS in NodeAgent"
Node agent communicates with envoy through [secret discovery service(SDS)](https://github.com/envoyproxy/envoy/blob/master/api/envoy/service/discovery/v2/sds.proto) to distribute key cert pair(to replace secret-mount files today).

Use this bug to track node agent server side workitems.

[2018-05-30 03:06] quanjielin commented on #5486
@rshriram, I think by default mixer filter already captured all request/response headers which includes resp code etc(even for mirroring);  agree more logic needs to be added if we need to collect non-default custom attributes in the proxy.

[2018-05-30 03:11] sunhao-bj commented on #5879
@lizan **istio-proxy log**
`[2018-05-30 00:30:33.191][112][info][upstream] external/envoy/source/server/lds_api.cc:60] lds: add/update listener 'http_172.168.186.160_9080'
[2018-05-30 00:30:33.254][112][info][config] external/envoy/source/server/listener_manager_impl.cc:583] all dependencies initialized. starting workers
[2018-05-30 00:30:33.270][73][info][main] external/envoy/source/server/server

[2018-05-30 05:12] costinm commented on #5689
I'm confused: if you are following the new instructions (with Gateway) - you can't have rds/cds. Those are
intended for ingressgateway, which only uses v2/ADS.

For ingress - the old 7.1 docs apply.

[2018-05-30 05:42] #5694 closed

[2018-05-30 05:51] gyliu513 opened #5904 "Add more demo case for istio service mesh expansion"
The current service mesh expansion with bookinfo only have mysql running in VM at https://preliminary.istio.io/docs/guides/integrating-vms/ , I have finished a demo case which also enabled details running in VM, will try to update `samples` by adding more use cases.

FYI @costinm @linsun @sdake

[2018-05-30 07:39] gyliu513 opened #5905 "istio mc does not work with ingressgateway"
I was using dailybuild
[code]

And deployed two clusters, all of the pods in the two clusters can reach each other.

Cluster1
[code]

Cluster2
[code]

In Cluster1, deployed `bookinfo` without `review-v3`
[code]

In Cluster2, deployed `review-v3`
[code]

In Cluster1, I can access `review-v3` from the pod of `productpage` in Cluster1.
[code]

Defined `virtualservices` and redirect the request to `re

[2018-05-30 07:44] gyliu513 commented on #5905
[pilot.log](https://github.com/istio/istio/files/2052852/pilot.log)

Attachment is pilot log, from the log, I can see that it continues reporting the pod ip in remote cluster not found.

[code]

[2018-05-30 07:48] darrenhaken commented on #5673
Hey circling back on this, any suggestions on how we might be able to resolve this?
@douglas-reid you mentioned the Direct API work, is there an ETA on that?

[2018-05-30 07:56] etiennetremel commented on #5755
Just tried on Minikube with Kubernetes 1.10 and it works!
I'm not sure what caused that issue, I have all the required flag setup. Weird enough, this is happening on 2 different cluster setup with kube-aws.

[2018-05-30 08:50] morvencao commented on #5037
Please refer to: https://github.com/istio/istio/issues/2628

[2018-05-30 08:52] idouba commented on #5781
@nrjpoddar  I am using pilot as well as mixer.

[2018-05-30 10:10] jsenon opened #5909 "istio v0.8 tasks/security/basic authentication docs"
istio version:

`istio-release-0.8-20180520-18-17`

Trying to apply, on my own namespace:

[code]

But I receive error message:

`Error: cannot parse proto message: error converting YAML to JSON: yaml: line 7: did not find expected alphabetic or numeric character`

If I apply:

[code]

I receive:

`Error: cannot parse proto message: YAML decoding error: host: '*.mtls.svc.local.cluster'
trafficPoli

[2018-05-30 10:35] morvencao opened #5910 "Istio chart can't be installed multiple times"
Istio chart is much more stable, we still encounter cases that Istio chart can't be installed successfully, either for previous version of Istio chart  hasn't been cleanup completely, or there is another version of Istio chart installed.
Root cause is that we have many hard coded object names in template fils.

By the best practice of helm chart, we should support installing Istio chart multiple t

[2018-05-30 11:10] jsenon commented on #5909
My bad, could you confirm that we could only have one destination rules? If yes, how can we set multiple host?

[2018-05-30 12:37] gyliu513 opened #5911 "Introduce `istioctl apply` to update resources"
Currently, istio can create some resources via `istioctl create` and if we want to update the resource, we can run `istioctl replace` to update the resource. This is not convenient, it is better to follow kubernetes way to introduce `istioctl apply` which can be used for both `create` and `replace`.

[2018-05-30 12:58] gyliu513 commented on #5910
I'm now thinking is it a valid case? I think for most of the user scenarios, we only need one istio running in a k8s cluster to manage all applications, I did not see some use cases which request running multiple istio in one k8s cluster.

[2018-05-30 13:22] esnible commented on #5792
I am experiencing the same thing.  In the past I was able to use _gdb_ to get backtraces but this week

[code]

I am using a 64 bit _gdb_ ('This GDB was configured as "x86_64-linux-gnu".') and the core file is ELF 64-bit LSB core file x86-64, version 1 (SYSV), SVR4-style

[2018-05-30 13:40] esnible commented on #5885
This seems to happen when more than one K8s Service points to the pod.

It seems to be related to destination.service:

[code]

will show two mixer decode filter config.v2.serviceConfigs; one called `node5-v1-np.default.svc.cluster.local` and one called `node5.default.svc.cluster.local` and each having its name as the `destination.service` value.

[2018-05-30 13:52] esnible commented on #5885
Verified that the destination.service is random because it is determined using the random _defaultDestinationService_:

[code]

[2018-05-30 14:00] esnible commented on #5885
I propose that Envoy sidecar should use the incoming _HOST_ header instead of defaultDestinationService when REPORTing to Mixer.  @mbanikazemi and I will look into this.

[2018-05-30 14:19] rokii commented on #5752
same issue for my env with istio0.7.1
@morvencao  how do you get the daily build?

[2018-05-30 14:24] morvencao commented on #5752
@rokii https://github.com/istio/istio/wiki/Daily%20Builds

[2018-05-30 15:14] esnible commented on #5885
@kuat Additional problem.  Even if I delete the secondary K8s Service and restart Pilot the sidecars continue REPORTing using the now-deleted services.  I had to restart the Envoy process within the sidecar to get the reports to happen.

I am worried Service deletion isn't being pushed to sidecars.  (I can't figure out an easy way to verify this until `curl localhost:15000/config_dump` stops dumpi

[2018-05-30 15:20] kyessenov commented on #5885
It could be that pilot generates an invalid configuration that gets
rejected by envoys. Envoy sticks to the last working configuration in this
case. You should be able to see rejection in sidecar logs ("fetch failed"
or some validation errors). Jason is working towards adding telemetry for
the internal state of pilot, so we can monitor how fast pilot gets/pushes
the config.

On Wed, May 30, 2018 a

[2018-05-30 16:00] esnible commented on #5864
I am seeing a similar problem.  Adding it here instead of opening a new Issue because I suspect it is related.

While researching https://github.com/istio/istio/issues/5885 I set up multiple K8s services pointing to the same pod.  I then delete a K8s Service.  A few seconds later the proxy sidecar logs show

[code]

Immediately followed by a similar backtrace.

[2018-05-30 16:01] utkuturunc commented on #5752
By the way there is no choice of istio-proxy in zipkin or jaeger.

[2018-05-30 16:28] cmluciano commented on #5569
fixed by #5570

[2018-05-30 16:28] #5569 closed

[2018-05-30 16:28] ldemailly commented on #5899
final (working) command is

[code]

we still need the istioctl version

[2018-05-30 17:02] hklai commented on #5694
@mandarjog @ostromart @costinm is the fix needed for 0.8.0?

[2018-05-30 17:05] qiwzhang commented on #5694
@hklai It is https://github.com/istio/proxy/pull/1795
Not yet.   Jimmy is doing a final test.

[2018-05-30 17:13] esnible commented on #5885
@kyessenov You were correct about "fetched failed".

Every 20 seconds a sidecar reported

[code]

Eventually that Envoy segfaults, and when it restarts the fetch failures stop.

tcp_172.30.150.243_8080 refers to a pod at 172.30.150.243 and has two services pointing at it.

[2018-05-30 17:15] kyessenov commented on #5885
I'm pretty sure I fixed that naming conflict issue. Perhaps, trying out a more recent build should resolve this particular validation error.

[2018-05-30 17:33] JimmyCYJ commented on #5694
I have manually verified that with this fix the test pass without envoy crash. I will run this test 5 times to make sure it does not crash, and I will create a PR to update istio.deps.

[2018-05-30 17:41] ostromart commented on #5694
Could you please re-enable the failing (pilot 503) test?

[2018-05-30 17:43] JimmyCYJ commented on #5694
@ostromart Sure, I will do that.

[2018-05-30 17:49] rkpagadala commented on #5899
I made the changes, but it still seems to fail
https://github.com/istio-releases/daily-release/pull/626/files

the failure logs are at  https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio-releases_daily-release/626/daily-perf-tests/187/

[2018-05-30 17:57] hklai commented on #5692
@ostromart @mandarjog

Is this fixed last week? Can we close the issue now?

[2018-05-30 18:29] vadimeisenbergibm opened #5916 "TCP ServiceEntry mesh-external addresses are disregarded, allowing traffic to any IP"
This issue is related to https://github.com/istio/istio/issues/5498.

[2018-05-30 18:50] costinm commented on #5498
I'm not sure about renaming or other changes to the model.Service - I would rather spend the effort on moving the code generation to use ServiceEntry directly, and start migrating from model.Service to ServiceEntry.

[2018-05-30 19:18] gbaufake commented on #5683
@sdake and @gyliu513, I sent #5921 to include on Ansible as well.

[2018-05-30 19:40] jsenon opened #5923 "Proposal linter"
Is it something crazy to replace Gometalinter by [Golangci-lint](https://github.com/golangci/golangci-lint)? Have you already tested it?

[2018-05-30 19:46] ldemailly commented on #5899
it's because the generated yaml doesn't create the namespace anymore... another gotcha to document

[2018-05-30 20:04] rshriram commented on #5498
Service entry is essentially model.service exposed as crd. And we are essentially doing what you suggest. Convert everything into a simple model.service for consumption everywhere.

[2018-05-30 20:42] esnible commented on #5792
Using _proxyv2_ and _Release-0.8_ branch I was able to GET /config_dump successfully multiple times.  I then added a K8s Service and the GET caused a similar segmentation fault.  Removing the service didn't restore /config_dump correctness.

The Service I added pointed to the same pods as another existing Service.

My backtrace was also in _Envoy::Router::RouteConfigProviderManagerImpl::dumpRouteC

[2018-05-30 21:08] ostromart commented on #5692
Yes, this was resolved through https://github.com/istio/istio/pull/5853.

[2018-05-30 21:11] mandarjog opened #5927 "deflake: TestMetricsAndRateLimitAndRulesAndBookinfo"
`TestMetricsAndRateLimitAndRulesAndBookinfo` tests fails often with errors like these in V2 only

[code]

[2018-05-30 21:12] mandarjog commented on #5927
@qiwzhang can you look at the tolerances in the mixer client code and align them with this test?
cc @douglas-reid

[2018-05-30 21:15] mandarjog opened #5928 "Add coredump collection and scanning for segfaults to bin/dump_kubernetes.sh"
`bin/dump_kubernetes.sh` should scan all `istio-proxy` logs for segmentation faults and core dumps.

1. Records in the dump summary if any segfaults are observed.
2. copy coredumps which are in /etc/istio/proxy/core.***

@ostromart can you add a link to an istio-proxy log that produced a core dump and authoritative location of the core files.

[2018-05-30 21:38] kyessenov commented on #5927
Why is v2 important here? Mixerfilter does not car which v sends the config. Is the config different?

[2018-05-30 22:00] mandarjog commented on #5927
V2 is important because we only observe this issue with v2 :-) .

The reason should be investigated, but it is not impossible. Quota hit rate depends on state of individual client threads. If V2/Ads causes threads to lose their state more often that V1 then this can happen.

[2018-05-30 22:19] mandarjog commented on #5927
Another example https://circleci.com/gh/istio/istio/102088?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
[code]

[2018-05-30 23:26] kyessenov opened #5934 "Resurrect RDS"
Current pilot has regressed to not using RDS, which has the unfortunate effect of flushing envoy caches in mixerfiler on any config change. We should either resurrect RDS to preserve the caches, or share the caches between workers in envoy. The second option is more technically challenging since that requires locking discipline and can cause contention. The simpler option is to simply use RDS just

[2018-05-30 23:31] ostromart commented on #5928
See https://github.com/istio/istio/issues/5694
The crashlogs are definitely in /etc/istio/proxy/core.*** in 0.8 but we'd like to change that to /var/istio/core.*** shortly.

[2018-05-31 02:50] tushar00jain opened #5940 "Content based routing not working"
The following content based routing mostly taken from the documentation is not working

https://istio.io/docs/tasks/traffic-management-v1alpha3/request-routing.html

After passing the headers `x-version: v2`, there is no difference

[code]

[2018-05-31 04:29] gyliu513 opened #5941 "istio-policy in istio-remote do not need to expose statsd port etc"
The follows is the istio-policy ep in istio-remote chart, I think we only need port 9091, 15004 and 9093 same as istio control panel.

[code]

@sdake @sbezverk @costinm any comments for this? Due to the issue https://github.com/istio/istio/issues/5905 , I cannot verify if I can remove those port, but based on the logic, I think those port are not needed.

[2018-05-31 05:35] gyliu513 commented on #5905
My bad, I forgot to create the `rating` service in remote cluster, and this caused the `reviews-v3` failed to call `rating` services, after adding `rating` service in remote cluster, it works fine.

[code]

[2018-05-31 05:35] #5905 closed

[2018-05-31 05:36] gyliu513 commented on #5905
I would like to say Jaeger is cool, and it tell me which call failed and helped me finally found the root cause of this issue.

[2018-05-31 06:29] ronenschafferibm commented on #5916
In order to demonstrate this bug, one can follow these steps:
1. Deploy a recent build from here:

https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-0.8-20180530-09-15/

2. Apply a `ServiceEntry` to `wikipedia.org`
[code]
(this snippet is taken from [Control Egress TCP Traffic](https://preliminary.istio.io/docs/tasks/traffic-management/egress-tcp/#creating-a-service-entry) task)

3.

[2018-05-31 07:30] gyliu513 commented on #5535
Did more test today and ILB works fine, commit the ILB file to https://github.com/gyliu513/work/blob/master/k8s/istio/mc/istio-mc-ilb.yaml , the content is as follows:

[code]

Please note I was hard-coding the `loadBalancerIP` due to I only have limited IP address so have to hardcode those IP address.

After the ILB running well, update the remote istio service endpoint by using ILB address, it w

[2018-05-31 08:20] gyliu513 opened #5944 "Enable istio helm chart set service type"
Due to https://github.com/istio/istio/issues/5535 , we want to use ILB to support multi cluster, so we need to enable customer can set service type when they deploy istio cluster.

They can set the service type as loadbalancer if they want to use loadbalancer to manage external access.

/cc @sdake @sbezverk @costinm

[2018-05-31 12:48] ronenschafferibm commented on #5498
The problem is that if one configures a `ServiceEntry` with multiple addresses, some of the addresses get lost.
Consider the following `ServiceEntry` taken from [Control Egress TCP Traffic](https://preliminary.istio.io/docs/tasks/traffic-management/egress-tcp/#creating-a-service-entry) task:
[code]

The `ServiceEntry` is converted into 5 `model.Service`s (one for each address) with the same hostna

[2018-05-31 13:09] ymesika commented on #5837
It's some kind of a hack and I've never tried it before but you can:
1. Create a new temporary yaml with a `Deployment`
2. Use `istioctl kube-inject` to "Istiofy" this yaml (add the necessary containers)
3. Take the extra stuff that was injected into yaml from step 1 and put it in your Pod's yaml

As I said, I haven't tried so it's just a rough guidelines.

[2018-05-31 13:35] jnativio commented on #5782
With Istio 0.8 daily build 'release-0.8-20180531-09-15', the memory usage by istio-tracing seems to be limited to 1 GB:

![image](https://user-images.githubusercontent.com/18554027/40785195-da3ff406-64b5-11e8-8123-f8efbe5402aa.png)

[2018-05-31 13:35] costinm commented on #5783
Post 1.0

[2018-05-31 13:41] mandarjog commented on #5782
Awesome.
Thanks @objectiser https://github.com/istio/istio/pull/5873

[2018-05-31 13:41] #5782 closed

[2018-05-31 13:42] costinm opened #5946 "Add telemetry to sidecar injector service"
On a long running cluster I noticed that auto-injection stopped after some time, and
some pods were not injected.

We need to add a /metrics page that can be queried by prometheus with stats about rejected/accepted
injections, and details to allow an SRE to identify problems. In particular - I've seen some logs suggesting
the TLS connection was rejected, which might be caused by a bug in cert rota

[2018-05-31 13:46] costinm opened #5947 "Sidecar injector cert rotation"
On a long running cluster (installed 2 weeks ago), running continuously ever since:

"test           2018-05-30 20:29:05 -0700 PDT   2018-05-30 20:28:24 -0700 PDT   14        fortio-noistio1-b66b8c5b4.15339cfbd4983ce4                 ReplicaSet                                                            Warning   FailedCreate                   replicaset-controller                            Error

[2018-05-31 14:08] esnible commented on #5885
I am stopping work on this because it seems likely Kuat's proposal will solve the problem.  If it doesn't we need to revisit this issue.

[2018-05-31 14:31] #5683 closed

[2018-05-31 14:49] esnible commented on #5843
@shoaibechidna I tested this with Bookinfo and could not reproduce it.

[code]

The first _config_dump_ returned JSON with weights 90/10, thew second with weights 80/20.

Can you give some more details about your setup?  What is the exact Docker image name for the sidecar?  If you do `kubectl logs <pod> -c istio-proxy -f` for the client pod of service-1.mynamespace.svc.cluster.local do you see "fe

[2018-05-31 16:24] deepvish23 commented on #5837
I will try this and update in the thread! Thank you for the work around.

Is there any solution for the error I am facing for automatic sidecar injection? Any suggestion there will be a great help!

Thanks,
Deepthi

[2018-05-31 17:31] vadimeisenbergibm commented on #5689
@andraxylia The latest instructions are here https://istio.io/docs/tasks/traffic-management/ingress/. They are valid for `istio-ingressgateway` with v2.

As @costinm [wrote](https://github.com/istio/istio/issues/5689#issuecomment-393032580)

[2018-05-31 17:36] vadimeisenbergibm commented on #5689
@andraxylia Ah, I see, you mean the instructions in the old 7.1 docs do not work with `istio-ingress` and v1, when applied to Istio 0.8. OK, let me handle this.

[2018-05-31 18:03] ayj commented on #5946
k8s api-server does provide some webhook request metrics.

[code]

[2018-05-31 18:04] kyessenov commented on #5946
Do you want a proxy in front the injector?

On Thu, May 31, 2018 at 11:03 AM Jason Young <notifications@github.com>
wrote:

[2018-05-31 18:19] nmittler commented on #5783
Some parts of this work can't wait for 1.0.  We'll need a new sort of service registry that we can altered manually as to test runs. This implies that the structure of the bootstrap code has to change to be more pluggable.  This will be a reasonably significant change that will have to occur soon ... certainly before 1.0.

[2018-05-31 18:43] douglas-reid commented on #1042
Can we close this now? I believe we are on jaeger now.

[2018-05-31 19:56] ymesika commented on #5527
Fixed by #5528

[2018-05-31 19:56] #5527 closed

[2018-05-31 20:13] sakshigoel12 commented on #3828
@Rigdon do you need some specific options ?

[2018-05-31 20:15] sakshigoel12 commented on #4938
@Rigdon @conorcurlett @terinjokes can you test if you see this issue with the 0.8 release . We would like to close this if it is fixed for you.

[2018-05-31 20:30] GregHanson commented on #5940
Are you using Istio version 0.7.1 or the 0.8 release candidate?  I also noticed you have a `gateway` listed in in your VirtualService.  The content-based routing task does not have one listed (https://istio.io/docs/tasks/traffic-management/request-routing) - was that intentional?

[2018-05-31 20:42] costinm commented on #5498
Yes, I know - ideally we could use the actual ServiceEntry proto without extra conversions.

Conversion = extra code, extra allocs, extra bugs.

[2018-05-31 23:08] sakshigoel12 commented on #1038
@ldemailly what is pending to close this issue?

[2018-05-31 23:43] ldemailly commented on #1038
fixing 503s is still pending

[2018-05-31 23:44] ldemailly commented on #1042
sure, I haven’t verified it is better with jaeger but let’s assume it is and open an issue if not

[2018-05-31 23:44] #1042 closed

[2018-05-31 23:49] sakshigoel12 commented on #1472
@myidpt @andraxylia what is pending here? Is there a target release to complete this work item?

[2018-06-01 01:35] mandarjog opened #5963 "bin/dump_kubernetes.sh fails"
This is causing random builds to fail.

1. Make `bin/dump_kubernetes.sh` more resilient
2. Always ignore errors from `make dumpsys`. This requires updating `.circleci/config.yml`

https://circleci.com/gh/istio/istio/104134?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]
cc @chxchx what is dead line exceeded for update?

[2018-06-01 02:45] tushar00jain commented on #5940
I'm using 0.7.1 and the documentation says that if gateway is not provided it is interpreted as `mesh` by default

[2018-06-01 04:23] costinm opened #5964 "Gatway TCP broken"
Pilot incorrectly generates destination_ip_list for gatway TCP;

[code]
That's correct for sidecars, but not for gateway since the destination ip is the gatway address.

We should add it to 0.8.1 - since gateway TCP is a new feature we can probably document that
it's not ready in 0.8.0

A possible fix ( I tested it work, but you may want to do it differnetly):

diff --git a/pilot/pkg/networking/co

[2018-06-01 08:34] Stono opened #5968 "Istioctl gen-deploy doesn't honour conditional chart dependencies"
Hey,
I have `ingressgateway` and `egressgateway` enabled = `false`, however when running `istioctl gen-deploy` I still get those charts output.

This *does not* happen if i just use helm template.

Question:  what does `gen-deploy` do over `helm template` ?
Ta
Karl

[2018-06-01 09:28] Stono commented on #5968
Same goes for galley actually, so looks like gen-deploy doesn't honour the conditions in the chart dependencies

[2018-06-01 10:04] sunhao-bj commented on #5879
@lizan This problem was solved by upgrading to istio v0.8.0. Thank you for your help.

[2018-06-01 10:04] #5879 closed

[2018-06-01 13:51] grebois opened #5969 "HTTP/1.1 301 Moved Permanently when creating HTTPS ServiceEntry"
From: https://istio.io/docs/tasks/traffic-management/egress#configuring-istio-external-services

I created a ServiceEntry like this:

[code]

but when I try to access the url from the pod I get:

[code]

Is this the expected behavior?

[2018-06-01 14:34] GregHanson commented on #5940
Are you able to upgrade to the latest? Version 0.8 has just been released and in 0.7.1 a lot of v1alpha3 was labeled as "experimental"

[2018-06-01 16:28] objectiser opened #5971 "Distributed tracing page out of date with 0.8.0"
The [distributed tracing](https://istio.io/docs/tasks/telemetry/distributed-tracing) page refers to `install/kubernetes/addons/zipkin.yaml` which no longer exists.

Not sure if there is an alternative template for zipkin?

Or should the page be updated to describe the new helm install option with `--set tracing.enabled=true`, or using the `istio-demo.yaml` - and then accessing the UI via the `trac

[2018-06-01 16:57] wattli commented on #5971
@douglas-reid , can you help to take a look or reassign please? Thanks.

[2018-06-01 16:58] wattli commented on #5969
@vadimeisenbergibm , can you take a look or reassign please? Thanks.

[2018-06-01 17:00] douglas-reid commented on #5971
@linsun do i recall correctly that you were handling something related to the addon yamls, including `zipkin.yaml` ? I don't remember what the final decisions were related to the deployment artifacts.

@objectiser I'm fine with updating, if the add-on yamls are no longer being generated.

[2018-06-01 17:04] douglas-reid commented on #5712
@Stono I've started a refactor of the dashboards in https://github.com/istio/istio/pull/5952. The version selector is removed in the first step of the refactor. I'll be paying attention to selectors with "all"  moving forward.

The refactor of the dash should also help address the refresh rate concern you raised.

Let's keep a dialog open over the next few weeks as we tweak and update the dashboar

[2018-06-01 17:31] wattli commented on #5968
@ayj , please help to take a look or reassign, thanks!

[2018-06-01 17:33] wattli commented on #5944
@costinm , can you take a look please?

[2018-06-01 17:42] nmittler opened #5974 "Add file based serviceregistry"
This is needed to support the new test framework (with local testing).

Consider backing it with [ServiceEntry config](https://github.com/istio/api/blob/master/networking/v1alpha3/service_entry.proto). Along those lines, we may be able to make use of the [external discovery service](https://github.com/istio/istio/blob/master/pilot/pkg/serviceregistry/external/servicediscovery.go).

[2018-06-01 17:43] nmittler commented on #5974
cc @ayj

[2018-06-01 17:53] chxchx commented on #5963
The context deadline issue should have been resolved by https://github.com/istio/istio/pull/5961 and I provided a explanation there.

[2018-06-01 17:55] sdake commented on #5899
cc @sdake

[2018-06-01 18:15] linsun commented on #5971
@douglas-reid sorry i haven't played much with tracing yet in 0.8, on my todo.  I believe we decided to have  jaeger as optional component.

@objectiser feel free to submit a PR (or doc PR) for this.

[2018-06-01 18:28] vadimeisenbergibm commented on #5969
@wattli thanks, I will handle it.

[2018-06-01 18:29] #5764 closed

[2018-06-01 18:42] vadimeisenbergibm commented on #5498
@costinm I think we should refactor the code to handle multiple addresses anyway, either of `ServiceEntry` directly, or of `model.Service`. So the proposed approach is:
1. Refactor `model.Service` to contain multiple addresses
2. Refactor the code that consumes the address information to handle multiple addresses
3. Consider to replace `model.Service` with `ServiceEntry`

The third step is orthogo

[2018-06-01 18:49] linsun opened #5976 "Ensure all control plane components have at least resource request"
@ymesika you helped us to look at this for the side car a while back, wanted to open an issue to track the control plane components to have resource request so that users can configure auto scaling with the control plane components.

[2018-06-01 18:51] linsun opened #5977 "Add an automated test for kiali"
Kiali was added as an optional addon, let's add a simple test case to ensure it can be properly installed and running via helm.

[2018-06-01 19:01] costinm commented on #5498
What I fail to understand is what 'multiple addresses' means - a Service
has an associated list of ServiceInstance, each with an address.
The 'Address' filed is the VIP.

Can you provide an example ? There was a discussion on multicluster having
different VIPs, but I think it was concluded it is
not needed. I don't remember the details.

On 3 - big +1, and while I'm generally trying to minimize ri

[2018-06-01 19:10] jasmine-jaksic commented on #5899
Did this get documented in FAQ or known issues in release notes?

[2018-06-01 19:12] jasmine-jaksic commented on #5720
Did either of you fix the doc? Can this issue be closed?

[2018-06-01 19:13] jasmine-jaksic commented on #5692
Closing the issue...reopen if needed.

[2018-06-01 19:13] #5692 closed

[2018-06-01 19:15] hklai commented on #5689
@vadimeisenbergibm does it require code change or is it about updating doc?

[2018-06-01 19:19] ldemailly commented on #5899
not completely no (namespace needing creation for instance, or the incorrect use of `>>` are not on
https://istio.io/docs/setup/kubernetes/upgrading-istio/

[2018-06-01 19:22] ldemailly commented on #5720
replied in the other task that no afaik the doc to use gendeploy isn't on https://istio.io/docs/setup/kubernetes/upgrading-istio/ (is it elsewhere I missed?)

[2018-06-01 20:46] #5499 closed

[2018-06-01 22:11] ayj commented on #5897
Does this need to validate the running system or the source of truth (e.g. git)?

[2018-06-01 22:23] ayj commented on #5911
Related: [Advanced Configuration Management  - `kubectl apply` reboot](https://goo.gl/UbCRuf)

[2018-06-01 22:26] ayj commented on #5837
Please verify that you've setup your k8s cluster with a running certificate controller / manager per the setup instructions (see [here](https://istio.io/docs/setup/kubernetes/quick-start/)). The automatic sidecar injection install procedure has been simplified in Istio 0.8 so you shouldn't need to run the extra bash scripts.

[2018-06-01 22:52] #4330 closed

[2018-06-01 22:59] hklai opened #5982 "Istio 0.8.1 Tracker"
[0.8.0 is released](https://groups.google.com/d/msg/istio-dev/EajTHy_4QcE/2VIxJa3cAgAJ) and it is an LTS release.

If and only if there are any critical bugs(*), we will patch and create a [patch release](https://github.com/istio/istio/tree/master/release#patch-releases) 0.8.1.

If you have any critical PRs that should be considered for 0.8.1, please add them to this issue. We will consider the fi

[2018-06-01 23:04] sakshigoel12 commented on #5391
@mandarjog what is pending to close this issue?

[2018-06-01 23:52] mandarjog commented on #5391
Potentially back porting to 0.7.x. If we are not going to backport, then let's close this.

[2018-06-02 00:04] lizan commented on #5934
@kyessenov +1 to resurrect RDS rather than share caches between envoy threads. What was the particular issue of the regression?

[2018-06-02 00:07] kyessenov commented on #5934
I don't think there was a good reason for regression rather than lack of time, per @rshriram .

[2018-06-02 03:08] vadimeisenbergibm commented on #5689
@hklai I have to check it, let me do it until Monday.

[2018-06-02 03:12] vadimeisenbergibm commented on #5498
@costinm The example is in https://github.com/istio/istio/issues/5498#issuecomment-393518902. wikipedia.org is a _mesh-external_ `ServiceEntry` and it has multiple addresses (multiple IP blocks).

[2018-06-02 03:46] ymesika commented on #5982
#5965

[2018-06-02 03:50] ldemailly commented on #5982
the critical bugs definition link isn’t working

also as this is lts it should be any bug that can be fixed before the next lts ships?

[2018-06-02 04:01] ymesika commented on #5982
@ldemailly The links works. It's at the bottom of the linked page.

[2018-06-02 04:06] hklai commented on #5982
Updated the description a bit.

@ldemailly Probably not *any* bug, but I imagine if we open up the 0.8.1 floodgate, some not so critical bugs can be considered.

[2018-06-02 05:26] costinm commented on #5498
Well - I guess there is not a big harm from changing to an array of addresses, it may allow some multicluster use cases. Some form of merging ServiceEntries may become needed.

[2018-06-02 09:11] tushar00jain commented on #5940
just upgraded and still doesn't work
i had also provided some weights to default routes before upgrading (which was working but now even that is not working)

[2018-06-02 09:12] tushar00jain commented on #5940
this is my full configuration with 0.8.0

[code]

[2018-06-02 10:27] grebois commented on #5969
Thanks @vadimeisenbergibm, furthermore, I noticed that this happens when the endpoint is an nginx-ingress, if I do the same for google or amazon, it does work as expected, will try to test if setting `nginx.ingress.kubernetes.io/ssl-redirect: "false"` on the opposite endpoint fix this, at least to narrow down the problem, nevertheless, i would expect it to work without this modification.

[2018-06-02 14:13] #5817 closed

[2018-06-02 14:14] #5517 closed

[2018-06-02 14:14] #5514 closed

[2018-06-02 14:33] esnible commented on #5052
The current examples work; closing this item as not reproducible.

[2018-06-02 14:33] #5052 closed

[2018-06-02 14:37] esnible commented on #4973
Working now; presumably fixed by an unconnected PR.

[2018-06-02 14:37] #4973 closed

[2018-06-02 16:47] Stono commented on #5712
@douglas-reid great stuff, that PR looks awesome for our use case :-)

I've updated all 5 of our clusters to 0.8.0 this weekend so we're going to open the floodgates for more consumers (app developers).  So i'm more than happy to test any changes you make and give feedback.

[2018-06-02 16:48] Stono commented on #5578
I will close this and reopen if i see a reoccurrence in 0.8

[2018-06-02 16:48] #5578 closed

[2018-06-02 16:49] Stono commented on #5576
@mandarjog just like to throw in a suggestion here.
Making this part of the webhook configurable as part of the helm `values.yaml` would mean one less manual mutation of the `gen-deploy` output for us.

[2018-06-02 16:55] Stono commented on #4702
Hey @liamawhite
Just trawling through my issues, is this something on the roadmap now 0.8 is out?

[2018-06-02 16:58] Stono commented on #3533
@costinm do we want to track the `-x` before the `-i` ordering thing as part of this?

[2018-06-02 16:59] Stono commented on #2358
Closing this, old and stale.

[2018-06-02 16:59] #2358 closed

[2018-06-02 17:01] ymesika opened #5985 "Ansible playbooks should be update for 0.8.0"
As reported in istio/issues#368 v0.8.0 ansible playbooks are not correctly updated for changes in this release.

All kuberentes `istio*.yaml` files are now `istio-demo*.yaml` files.
We should either:
1. Update the playbook to match the new names
2. Use Helm too when installing Istio using Ansible (preferred)

[2018-06-02 17:07] ymesika opened #5986 "Missing addons in v0.8.0 platforms releases"
As reported in istio/issues#368 all addons but `grafana.yaml` are missing in all platform releases (mac, win and linux).

[2018-06-02 17:11] Stono opened #5987 "Confusion around jaeger/tracing services"
Hey,
Istio: 0.8.0

I'm finding the configuration around jaeger a little confusing.

Looking at the helm values.yaml:

[code]

You have `jaeger.enabled`, however that flag only seems to enable or disable the jaeger services (found in `charts/tracing/templates/service-jaeger.yaml`).  Jaeger itself is always deployed, so long as `tracing.enabled` is true (in ./charts/tracing/templates/deployment.yaml

[2018-06-02 18:58] grebois opened #5989 "rabbitmq fails to start with sidecar proxy"
With this deployment file:

[code]

fails with:

[code]

with `sidecar.istio.io/inject: "false"` works, some else having a similar problem?

[2018-06-02 20:02] ilyasotkov commented on #5829
Just tested this on the recently released 0.8.0, here are the results (using 1.9.7-gke.1 with both cos or ubuntu nodes):

- With the configuration above, the response is now `Recv failure: Connection reset by peer` instead of 200 for http/80 requests
- Changing `httpsRedirect: true` to `httpsRedirect: false` still responds with `Recv failure: Connection reset by peer`
- Remove `tls.httpsRedirect`

[2018-06-02 20:05] mattatcha commented on #5829
Does it work if you add `*` as a host for https?

[2018-06-02 20:11] mattatcha commented on #5829
@ilyasotkov could you also try adding `*` as a http host?

[2018-06-02 23:22] Stono opened #5991 "Warnings about conflicts in sidecar coming from istio proxy discovery"
Hey,
Can you help me decipher:

[code]

The service looks like this:
[code]

The deployment looks like this:
[code]

We have another alert-manager in a different namespace, with the same names for things?

[2018-06-03 00:06] Stono commented on #5991
Closing this as my ports were wrong, which has made the error go away.

[2018-06-03 00:06] #5991 closed

[2018-06-03 00:31] Stono opened #5992 "listener conflicts related to headless services (warnings, errors, etc.)"
Hi,
I'm seeing the following error in istio-pilot/discovery:

[code]

For context, we have two teams running alertmanager, **in separate namespaces**.

  1. alertmanager.data-platform.svc.cluster.local
  2. prometheus-alertmanager.istio-system.svc.cluster.local

It appears when I use the same port section in the service for each of these, eg:

[code]

If I rename the port in one of the second serv

[2018-06-03 00:55] jxadro opened #5993 "Change host on Gateway Objects has no effect"
Istio 0.8 on Ubuntu running on IBM Cloud Private 2.1.0.2 with k8s 1.9.1

kubectl edit commands on Gateway Objects have no effect.

I have crated the gateway:

[code]
Then I edit the object with kubectl edit gateway bookinfo-gateway and change the hosts from "*" to "bookinfo.com".
But in the logs of istio-ingressgateway-xxx pod there are no traces as there are when you remove/create gateways:

[cod

[2018-06-03 02:19] jxadro commented on #5993
The problem was the VirtualService no the Gateway

[2018-06-03 06:30] #5993 closed

[2018-06-03 07:18] bochuxt opened #5994 "Error: could not read valid configmap "istio" from namespace "istio-system""
kubectl apply -f <(istioctl kube-inject --debug -f samples/bookinfo/kube/bookinfo.yaml)
Flag --debug has been deprecated, Use --injectConfigMapName or --injectConfigFile instead
Error: could not read valid configmap "istio" from namespace  "istio-system": configmaps "istio" not found - Use --meshConfigFile or re-run kube-inject with `-i <istioSystemNamespace> and ensure valid MeshConfig exists
err

[2018-06-03 07:27] ymesika commented on #5994
You need to install Istio before running this command and make sure `kubectl` can access your cluster. E.g. `kubectl get nodes`.

[2018-06-03 07:40] jxadro opened #5995 "0.8 Not being able to use hosts different of "*" on VirtualService for (Ingress) Gateways"
Hi.

Istio 0.8 running on IBM Cloud Private 2.1.0.2 with k8s 1.9.1

When I tray to set a hostname instead of the wildecard "*" in the VirtualService "hosts" I always get 404 code.

[code]

These are my objects:

[code]
I also tested without quotes so books.example.com instead of "books.example.com"

I have tried also with the example described in https://istio.io/docs/tasks/traffic-management/ingr

[2018-06-03 08:32] ymesika commented on #5995
You probably don't own the `books.example.com` domain name.
In this case you will need to call your gateway with a `--resolve` curl flag to force it to think that it was originally addressed to the "books.example.com" domain.
Example:
`curl --resolve books.example.com:80:$INGRESS -I http://books.example.com/productpage`
Where $INGRESS is your ingress gateway IP.

[2018-06-03 09:08] jxadro commented on #5995
books.example.com is in my hosts file.

I'm accessing to the service mesh, if not I wouldn't see anything in the istio-ingressgateway-xxxx pod logs.

Anyway I tested also with the curl command as described in the documentation task with the same result.

[2018-06-03 10:39] #5870 closed

[2018-06-03 12:16] objectiser commented on #5987
Hi @Stono

Agree that this area needs further work. The eventual aim, as discussed [here](https://github.com/istio/istio/pull/5098#issuecomment-383235928), is to provide some way of seamlessly selecting between different tracing providers.

As a step towards this, the `tracing` subsystem exposes two standard services, `zipkin` as the tracing data collector and `tracing` to provide access to a UI.

[2018-06-03 12:29] esnible commented on #1971
Issue still valid for 0.8.

[2018-06-03 12:35] jxadro opened #5996 "0.8 DestinationRule outlierdetection not working"
Istio 0.8.0 in ICP 2.1.0.2 with k8s 1.9.2

The outlierdetection configuration does not rise.

I have the following configuration:

[code]
I have a deployment with two replicas, one returns an http code 500 and a message saying "Istio RED" and the other a http code 200 saying "Istio GREEN".

In the period of 60 seconds I make continuous invocations and I get response from both replicas. My understa

[2018-06-03 15:18] jxadro commented on #5996
I think the problem was that the kubernetes service has a name for the port different of http

---
kind: Service
apiVersion: v1
metadata:
 name: myistioappsrv
 labels:
   app: myistioappsrv
spec:
 ports:
 - protocol: TCP
   name: http **************************
   port: 8080
   targetPort: 8080
 selector:
   app: myistioapp
 clusterIP: ''
 sessionAffinity: None
 type: ClusterIP

[2018-06-03 15:18] #5996 closed

[2018-06-03 15:21] Stono commented on #5992
Apologies, the late night must have gotten to me, the information above isn't quite right.

Having a port without a prefix (so treated as TCP) results in the error above, eg:

[code]

Adding a prefix resolves it:
[code]

So it seems to be specific to tcp services

[2018-06-03 15:59] Stono opened #5997 "GetService() error: service does not exist"
Hey,
Istio: 0.8.0

I'm seeing these every minute in our pilot logs:

[code]

I was really baffled where these are coming from, the only place where we specify that value is in this secret resource:

[code]

Which is generated as part of this cert-manager certificate request:

[code]

Why would istio-pilot be looking at/care about these?

[2018-06-03 17:31] Stono opened #5998 "How to disable mixer console logs"
Hey,
I don't want/need `istio-telemetry` writing every request to the console log... I've tried to disable it with `- --log_output_level=warn`, as you can see it says `outputLevels:"warn"` below, but then messages with log level `info` are still being shown.

[code]

Any tips?

[2018-06-03 18:28] Stono commented on #5998
Thanks @mandarjog

[2018-06-03 18:33] ymesika commented on #5998
Generally the value for the `--log_output_level` flag is in the format of: `<scope>:<level>,<scope>:<level>,...`

In your case `--log_output_level=adapters:warn`.

Never tried it. Maybe @mandarjog can confirm.

[2018-06-03 18:41] mandarjog commented on #5998
The debug logoutput syntax is correct. However in this case we just need to disable the adapter that produces this output. The adapter output is not considered “debug” output and therefore it cannot be controlled by that flag.

[2018-06-03 19:03] Stono commented on #5998
Deleting the rule worked a treat, thank you :-)

[2018-06-03 19:03] #5998 closed

[2018-06-03 19:54] ymesika commented on #5989
You are missing the `Service`.
If you'll also create something like the following the Pod should start without crashing:

[code]

[2018-06-04 02:10] gyliu513 opened #6000 "Enable configuring service port for load balancer services"
Istio is using `loadbalancer` service for `tracing` and `istio-ingressgateway` by default, and the default `service port` for those two services are `80`.

The problem is that if there is already a service using port `80`, the request to the `tracing` and `istio-ingressgateway` loadbalancer may be intercepted by services which is already using port `80`.

Take my env as example, I have an ingress

[2018-06-04 02:11] gyliu513 commented on #6000
/cc @sdake @linsun @costinm @morvencao

[2018-06-04 03:03] gyliu513 commented on #5535
@costinm @sdake @linsun Posted a message in mail list at https://groups.google.com/forum/#!topic/istio-environments/V4Uml3R4AZU , can any of you show some comments? My current thinking is perhaps we can add a new file for `mesh-mc.yaml` to create new loadbalancer services for pilot, policy and statsd, just like what we did for [mesh-expansion.yaml](https://github.com/istio/istio/blob/master/instal

[2018-06-04 03:43] gyliu513 opened #6004 "Enable `istioctl edit` to edit some resources"
Kubernetes support `kubectl edit`, it is better to enable`istioctl` also support `edit` option so as to update some resources, such as `virtualservices`, `gateway` etc.

[2018-06-04 05:20] vadimeisenbergibm commented on #5689
@andraxylia @hklai it works for me on IBM cloud. Could you please let me know the exact environment you experience the problems with?

[code]

[2018-06-04 05:42] liamawhite commented on #4702
Yes, I have started a discussion in #networking if you want to chime in with your reqs. We have two options: zone aware or endpoint locality load balancing and these are mutually exclusive.

[2018-06-04 07:30] vadimeisenbergibm commented on #5689
Tested on minikube:
[code]

[2018-06-04 08:05] morvencao opened #6009 "Redeploying istio chart get error: jobs.batch "istio-mixer-post-install" already exists"
**env:**
[code]

**Reproduce steps**
1. Download and install `istio-0.8.0` with helm:
[code]
2. Delete and Redeploy istio-chart
[code]
Get error message:
[code]

**Analysis**
We have mentioned in doc that helm 2.7.2+ is required in https://istio.io/docs/setup/kubernetes/multicluster-install/#prerequisites
and https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/mixer/Cha

[2018-06-04 08:16] vadimeisenbergibm commented on #5969
@grebois It seems something confuses your server at the destination host and it returns 301. Indeed, `nginx.ingress.kubernetes.io/ssl-redirect: "false"` seems to be the culprit.

Note that in Istio 0.8 you have support for HTTPS without TLS origination - see this PR https://github.com/istio/istio.github.io/pull/1421.

This way you can perform HTTPS calls from your app and Envoy will route them by

[2018-06-04 08:36] vadimeisenbergibm commented on #5498
@costinm I did not say that I agree on (3) :) It is just an orthogonal issue to this one, and the current refactoring can still facilitate (3) if it will be agreed to perform (3).

Regarding the SNI sniffing - note that it is already implemented, see this PR https://github.com/istio/istio.github.io/pull/1421.

[2018-06-04 09:08] gyliu513 commented on #6009
@morvencao I think that we need to update document to tell customer how to clean up those CRD if they are using helm <2.9.0

@mandarjog @linsun any comments?

[2018-06-04 09:15] gyliu513 commented on #5995
I also have same issue as @jxadro

https://istio.io/docs/tasks/traffic-management/ingress/#verifying-the-gateway-for-http does not work.

@rshriram @ymesika comments?

[2018-06-04 10:44] ymesika commented on #5995
@gyliu513 Do you run it on ICP? Because on IKS it worked fine for me yesterday with a similar settings.

[2018-06-04 11:04] gyliu513 commented on #5995
@ymesika yes, I was using IBM Cloud Private, can you provide some tips for how to debug this issue?

[2018-06-04 13:00] grebois commented on #5989
@ymesika I do have a service in place, does not look that differnet:

[code]

[2018-06-04 13:05] #5971 closed

[2018-06-04 13:56] ymesika commented on #5989
But you don't have the `epmd` port specified there.

[2018-06-04 14:06] grebois commented on #5989
gotcha, let me test it before closing please, thanks!

[2018-06-04 14:08] filipre commented on #3757
Is there something we could provide for you making it easier to fix? I believe this error is also responsible for not resolving *some* request to the right service.

[2018-06-04 14:12] grebois commented on #5989
@ymesika thanks again, works as expected, closing.

[2018-06-04 14:12] #5989 closed

[2018-06-04 14:59] ymesika commented on #6009
@gyliu513 The CRDs should already be removed by helm after #5750.
The only remains are secrets and that job.

[2018-06-04 15:07] morvencao commented on #6009
@ymesika @gyliu513 Just job and corresponding pod for creating CR in mixer subchart are left behind.

[2018-06-04 15:22] bobbytables commented on #5995
So when using curl I have to set the host header: `-H "Host: books.example.com"`, the reason is because the port comes into play with Istio and Envoy's routing semantics.

[2018-06-04 15:41] salrashid123 commented on #5676
pls see:
* template https://github.com/istio/istio/pull/6010
* docs https://github.com/istio/istio.github.io/pull/1437

[2018-06-04 16:15] andraxylia commented on #5689
If it works for you I must have been doing something wrong. I will close it now.

[2018-06-04 16:15] #5689 closed

[2018-06-04 16:16] andraxylia commented on #3757
can you please try with 0.8 and let us know if the issue is still there?

[2018-06-04 16:38] colltie opened #6011 "session affinity when running multiple replicas of a pod"
Our scenario is easy:
  1. We run Multiple replicas of all and  particular containers
  2. We expect the same container to get all the request from a particular client for a given session

Issue:
This seems to work sometimes and fails other times.

Our test : Has been based on creating 20 different sessions

Question: Does istio ingress currently support session affinity ?

Thanks

[2018-06-04 16:39] morvencao opened #6012 "specify value for "spec.subjects.properties.version" doesn't work as expected in ServiceRoleBinding"
**env:**
[code]

**Reproduce steps**
1. Download and install `istio-0.8.0` with mTLS:
[code]
2. Try out the Istio RBAC with Bookinfo sample at: https://istio.io/docs/tasks/security/role-based-access-control/
   In the last step, I would like to only see “red” ratings in “Book Reviews” section, so I specify that only “reviews” service at version “v3” can access “ratings” service following the doc b

[2018-06-04 17:22] Tharun-Sabbu commented on #6011
We are also having the same issue, as per my understanding mixer should have the configuration for session affinity. But I'm not sure where exactly it needs to be reconfigured if we doesn't need session affinity for multiple replicas of a deployment.

[2018-06-04 19:45] jasmine-jaksic commented on #5982
We should not plan for 0.8.1 at this point, all new features and non-critical bug fixes should go in pre 1.0 release. If there are critical bugs, lets discuss them on a case-by-case basis.

[2018-06-04 19:50] rshriram commented on #5498
each site will be needed - and maybe it's something to consider for removal before moving to beta.

We do have SNI sniffing in 0.8

[2018-06-04 20:48] sakshigoel12 commented on #5997
@mandarjog @nmittler please could you take a look

[2018-06-04 20:51] sakshigoel12 commented on #1194
@ZackButcher @wattli given 0.8 release is out can this issue be closed?

[2018-06-04 20:54] #2767 closed

[2018-06-04 20:56] sakshigoel12 commented on #3031
@andraxylia I think this is fixed. Marking closed, please reopen if you think there is more work here.

[2018-06-04 20:56] #3031 closed

[2018-06-04 21:09] #5502 closed

[2018-06-04 21:21] sakshigoel12 commented on #3533
@Stono can you test this in the 0.8 release?

@nmittler what is pending to close this issue?

[2018-06-04 21:22] sakshigoel12 commented on #3606
@ldemailly do you know if this issue is there with the 0.8 release?

[2018-06-04 21:24] yangminzhu commented on #6012
Hi Morven, Thanks for reporting the issue.
Would you mind to also upload the mixer policy log and the service config (`kubectl get all -o yaml`).
And could you confirm if you can access the productpage after removing all the existing ServiceRole and ServiceRoleBindings? (This is to confirm the RBAC is working as expected, when no ServiceRole and ServiceRoleBinginds defined, all request should be d

[2018-06-04 21:42] ldemailly commented on #3606
I don't know sorry

[2018-06-04 22:02] sakshigoel12 commented on #5830
@lizan is there a confirmed GKE version the fix will be rolled into yet?

[2018-06-04 22:04] sakshigoel12 commented on #5739
@Stono can you confirm if the fix has resolved your issue?

[2018-06-04 22:13] gyliu513 commented on #6009
so I think we need to document for how to delete those garbage resources before customer re-install with helm.

[2018-06-04 22:30] mandarjog commented on #6009
@morvencao , @ymesika @gyliu513 . I agree we need to update document. Does any one  have the bandwidth to update docs?

previously we had used
[code]

[2018-06-04 23:22] nmittler commented on #5997
Tao, can you take a look? It appears to be related to cert rotation.

[2018-06-04 23:22] sakshigoel12 commented on #4693
Per customer they don't want to use nginx and prefer option 4.

[2018-06-04 23:27] sakshigoel12 commented on #5992
@nmittler @rshriram can you take a look at this?

[2018-06-04 23:27] sakshigoel12 commented on #5987
cc. @douglas-reid

[2018-06-04 23:29] sakshigoel12 commented on #5727
@qiwzhang any update on this?

[2018-06-04 23:29] sakshigoel12 commented on #5727
@Stono please let us know if you notice this with 0.8 release.

[2018-06-04 23:34] sakshigoel12 commented on #5994
@bochuxt please confirm if above comment resolves your issue and close it

[2018-06-04 23:35] sakshigoel12 commented on #5968
@mandarjog can you take a look?

[2018-06-04 23:36] wattli commented on #5982
The multiplex feature needs to get in asap. If there is a 0.8.1, we should include it.

[2018-06-04 23:36] sakshigoel12 commented on #5726
cc. @andraxylia

[2018-06-04 23:36] douglas-reid commented on #5987
Thanks @objectiser for a good summary.

@Stono IIRC, the `memory` stanza is jaeger-specific, and should be scoped to reflect that.

Would something like:
[code]

be more palatable?

[2018-06-04 23:41] sakshigoel12 commented on #3901
@ijsnellf please could you confirm is this can be closed since 0.8 release is out.

[2018-06-04 23:44] sakshigoel12 commented on #2751
@andraxylia can you help assign an owner for this issue

[2018-06-04 23:47] sakshigoel12 commented on #5830
We are expecting this issue to be resolved with GKE 1.10.4 release.

[2018-06-04 23:48] gyliu513 commented on #6009
@morvencao will help update the document.

[2018-06-04 23:54] sakshigoel12 commented on #2628
@jsenon @prune998 @chandresh-pancholi @ZhiminXiang @markns would it be possible for you to upgrade to 0.8 and let us know if you still see this issue

[2018-06-05 00:03] sakshigoel12 commented on #4771
@JimmyCYJ can you update this issue

[2018-06-05 00:06] sakshigoel12 commented on #4395
@mandarjog were you able to add this to the Troubleshooting guide? Can you link it here and close this issue

[2018-06-05 00:08] sakshigoel12 commented on #4981
@ldemailly please update this issue

[2018-06-05 00:10] sakshigoel12 commented on #3606
@wattli can you take a look at this? Please close if you cannot reproduce with 0.8

[2018-06-05 00:13] sakshigoel12 commented on #4702
@liamawhite do you have a target for when this would be available ?

[2018-06-05 00:13] ayj commented on #5947
I've verified that the webhook is detecting local configuration and cert changes and reloading accordingly. I did observe a delay between updating the k8s secret and local volume updates in the injector pod (e.g. tens of seconds to minutes).

Re-applying the mutating webhook configuration will clear the patched caBundle. If the sidecar injector deployment itself didn't change then the pods won't r

[2018-06-05 00:34] wattli commented on #5997
Seems pilot is trying to get *.dev.k8.atcloud.io periodically, and apparently that's not a valid service. @Stono , can you replace *.dev.k8.atcloud.io with some existing service? I am not a pilot expert, but I feel this may provide more debugging info.

And I remember @ldemailly / @costinm tried acme to issue k8s certs.

[2018-06-05 00:35] wattli commented on #5997
And this is more of a pilot issue than security (we only deal with istio cert, not k8s cert). Reassign to @costinm

[2018-06-05 00:51] sakshigoel12 commented on #5749
@nixgadget please could you upgrade to 0.8 and suggest if you still see this issue.

[2018-06-05 00:55] sakshigoel12 commented on #5909
cc. @wattli

[2018-06-05 00:56] sakshigoel12 commented on #5865
@nixgadget please could you upgrade to 0.8 and suggest if you still see this issue

[2018-06-05 01:27] ldemailly commented on #5997
costin is in vacation for 3 weeks so assigning to andra instead

[2018-06-05 01:31] ldemailly commented on #4981
the data is now published on
https://istio.io/docs/performance-and-scalability/synthetic-benchmarks/

[2018-06-05 01:31] sakshigoel12 commented on #1703
@ZackButcher do you know if this has been added to 0.8?

[2018-06-05 01:38] sakshigoel12 commented on #5391
0.8 is fine for now. We can consider 0.7.x if someone explicitly asks for it.

[2018-06-05 01:38] #5391 closed

[2018-06-05 01:40] sakshigoel12 commented on #4981
@ldemailly the linked doc doesn't seem to have the per hop latency. Maybe I am missing something

[2018-06-05 02:18] liamawhite commented on #4702
Pending our discussion in the networking meeting this week... We're aiming for just zone aware in alpha for 1.0.

[2018-06-05 03:34] gyliu513 opened #6024 "Enable mesh expansion in istio helm chart"
Currently, with istio helm chart, I cannot enable mesh expansion, it is better to add mesh expansion to istio helm chart as well.

The proposal is we may need to add all of the services at https://github.com/istio/istio/blob/master/install/kubernetes/mesh-expansion.yaml to istio helm chart.

/cc @costinm @sdake @linsun any comments for this?

[2018-06-05 03:40] costinm commented on #4702
What does 'mutually exclusive' mean ? Not even sure what is the difference
between 'endpoint locality' and 'zone aware', can you define the 2 ?

Pilot knows where the endpoint is. It does pass this info to envoy. Envoy
can already select local clusters first.

What is missing ?

On Sun, Jun 3, 2018 at 10:42 PM, Liam White <notifications@github.com>
wrote:

[2018-06-05 03:46] costinm commented on #5947
So we'll need to watch the secrets directly instead of relying on volume ?
Sounds good, pilot already does that.
Requiring user to update or wait doesn't work.

On Mon, Jun 4, 2018 at 5:13 PM, Jason Young <notifications@github.com>
wrote:

[2018-06-05 03:51] costinm commented on #6024
As I mentioned in other threads, my preference is to add Gateway entries,
and an optional 'internal-gateway' component of type
ILB.

We install istio-ca by default - and the secure ports are also enabled by
default: IMHO remote clusters must use secure control-plane
option if ILB is not available.

For 1.0 I think 'secure+regular gateway' is the larger priority, since it
can help in more cases.

O

[2018-06-05 03:54] #5747 closed

[2018-06-05 03:56] gyliu513 commented on #6024
Thanks @costinm , I will check your proposal in mail list and to see how we can proceed with this.

Meanwhile, I want to keep this issue open and append more detail if I have some progress.

[2018-06-05 05:09] jsenon commented on #2628
Do you prefer upgrade or reinstall from scratch on 0.8?

[2018-06-05 06:09] liamawhite commented on #4702
From Envoy [docs](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/load_balancing#zone-aware-routing):

```The purpose of zone aware routing is to send as much traffic to the local zone in the upstream cluster as possible while roughly maintaining the same number of requests per second across all upstream hosts (depending on load balancing policy).```

```Another approach to determi

[2018-06-05 06:29] gyliu513 opened #6025 "istioctl should support get multiple resources"
With kubectl, I can get multiple resources in one command.
[code]

But istio cannot.
[code]

[2018-06-05 07:32] gyliu513 commented on #5995
Follow steps here https://preliminary.istio.io/docs/tasks/traffic-management/ingress/#verifying-the-gateway-for-http

If the `httpbin` works, I can get log message from httpbin as follows:

[code]

But with specified hosts, there will be no log from httpbin pod, and the curl will always failed.

@rshriram @bobbytables any comments for how to debug such issues?

[2018-06-05 07:33] costinm commented on #5987
There are 2 separate issues IMO:
1. What services/pods we deploy. This can be controlled by 'zipkin.enable',
'jaeger.enable', etc. All istio components follow this
pattern. I don't see a problem if a user deploys both - or neither ( for
example they may have their own existing installation ).
Options on how each is exposing a UI, or settings for how they run are
specific to the component.

2. If I

[2018-06-05 07:38] Stono commented on #5997
No, I cannot.  These resources are nothing to do with istio, and are used to facilitate SSL cert generation for our nginx ingress controller.  I can't change them because I need them as they are.  My confusion comes from what pilot is even looking at them, and seemingly considering them service accounts?

[2018-06-05 07:43] Stono commented on #5830
Sounds good, definitely think you should publish a compatibility matrix though of confirmed tested version :-)

[2018-06-05 07:44] liamawhite commented on #4702
I believe this can be configured on a per Envoy basis, but would need to confirm. Zone aware is not completely implemented yet in v2 because the configuration of it changed.

will get 10% and cluster v2 will get 90%. And within
each cluster, zone aware is used.

This will be correct when we finish up the zone aware v2 work. Weighted EDS is different, it effectively allows you to configure how much

[2018-06-05 07:44] Stono commented on #5739
@sakshigoel12 when it is released :-) we don't build/use master, only published relases.

[2018-06-05 07:45] Stono commented on #5727
I haven't seen it yet, but we've only been on 0.8 for 3 or 4 days.  I suggest leaving this open for a couple of weeks to see if it comes back - considering we seemingly never got to the bottom of it

[2018-06-05 07:47] ajit-hybris opened #6026 "Mutual tls is not working with istio 0.8.0"
**How istio is deployed:**

https://istio.io/docs/setup/kubernetes/quick-start/#minikube
K8s version 1.10.0
$ kubectl apply -f install/kubernetes/istio-demo-_**auth**_.yaml

**Description**:

Two pods with side-car injected and mTLS enabled are not able to communicate with each other.
Error: connection reset by peer

**But** a pod with no side-car can communicate with any of the mtls pods.

------

[2018-06-05 07:53] Stono commented on #3533
Hey @nmittler and @sakshigoel12.

It's a slightly complicated one as improvements on both sides (istio and nginx) mean that the pods no longer crash (good).

The problem space is slightly different now, too.  Since 0.8, we've had to explicitly add a `DestinationRule` because the `mtlsExcludedServices` part doesn't appear to be working.  I'll raise a separate issue for that shortly.

The second pro

[2018-06-05 07:56] Stono opened #6027 "includeIPRanges takes precendence over excludeIPRanges"
As touched on in https://github.com/istio/istio/issues/3533

We make use of both includeIPRanges and excludeIPRanges.  This is because we have specific IPRanges allocated on our cross-cloud/dc setup for istio.  we use `includeIPRanges` to ensure that istio only cares about stuff that sits within the cluster, and things can freely talk back to services on premise without additional rules.

We also

[2018-06-05 08:00] Stono opened #6028 "mtlsExcludedServices doesn't appear to be working (as it did in 0.7.1)"
Hey,
Following on from https://github.com/istio/istio/issues/3533

We have the following istio configuration:

[code]

However, `ingress-nginx` when booting attempts to talk to the kubernetes master:

[code]

This fails, unless I explicitly add a DestinationRule like so:

[code]

Which doesn't really make sense, as it's in `mtlsExcludedServices`.

This worked in 0.7.1 so feels like a bit of a regr

[2018-06-05 08:02] Stono commented on #3533
OK i've created the two separate issues, there is maybe still a reason to keep this issue open however.  Ignoring the issues above, when a container starts that requires outbound comms almost immediately, there appears to be a window in which envoy is configuring that it is unable to do so, note this log from nginx:

[code]

Specifically the `W0605 07:50:49.629902       1 main.go:201] it was requi

[2018-06-05 08:11] objectiser commented on #5987
Controlling sampling rate will be dependent upon https://github.com/envoyproxy/envoy/issues/1813. Is there a design doc outlining how sampling will be configured in Istio?

[2018-06-05 08:51] eastpav opened #6029 "istio can not work well with erlang application"
My kubernetes was deployed by kubespray 2.5.0 with istio auto-inject on. Everything is fine but EMQ. I tried that run EMQ manually in pod with elrang node name 'emq@127.0.0.1' , it works ok.(work ok means that I can use command 'emqttd_ctl status' get the application's status). unfortunately, it works not ok with the node name 'emq@10.233.98.142'(10.233.98.142 is pod's ip address), command 'emqtt_

[2018-06-05 08:59] jiuchongxiao opened #6030 "where elasticsearch data saved?"
in Logging with Fluentd module
where elasticsearch data saved?
it write as flower:
   volumeMounts:
        - name: elasticsearch
          mountPath: /data
      volumes:
      - name: elasticsearch
        emptyDir: {}

but i can not see the elasticsearch data under /data. who can help me? thank you

[2018-06-05 09:00] jiuchongxiao commented on #6030
/elasticsearch

[2018-06-05 09:35] chriswessels commented on #5982
If at all possible, inclusion of the fix for this issue would be really great in 0.8.1: https://groups.google.com/forum/#!topic/istio-users/I0eGDEbnGhg

It's a bit of a showstopper for anyone using gRPC streams.

Otherwise thanks for all the hard work on 0.8.0. Great release!

[2018-06-05 09:57] morvencao opened #6031 "Deploy istio chart fails due to mixer post-install hook job keep failing"
**env:**
[code]

**Reproduce steps**
Actually it's hard to reproduce by `helm install` command line. I have reproduced this deploying the istio-chart from Catalog of IBM Cloud Private.

**Symptom**
The error is that mixer post-install hook job keeps creating new pod and keep failing until timeout.
Have caught the logs of failed pods:
[code]

More accurately, the error is relate to these lines: htt

[2018-06-05 10:34] mandarjog commented on #6031
@morvencao do you see `istio-galley` deployment up and running? `galley` chart is not enabled in values.yaml. So it looks like you are specifically enabling this chart and installing validating webhook.
This feature is not really supported in 0.8.