[2019-06-12 14:47] jkbschmid commented on #14736
@howardjohn
In step 6 of [Apply Kubernetes Network Policies](https://preliminary.istio.io/docs/tasks/traffic-management/egress/egress-gateway/#apply-kubernetes-network-policies) the label is manually added:
[code]

[2019-06-12 14:49] fpesce commented on #14721
@JimmyCYJ it looks like the #14729 automatic cherrypick of #14728 failed, and you'll have to manually cherrypick it on 1.2 branch.

[2019-06-12 14:50] howardjohn commented on #14736
Oh good point.

Well I suspect that it still can't talk to pilot. Maybe try `curl istio-pilot.istio-system:8080/ready` or `curl istio-pilot.istio-system:8080/debug/adsz` (I think /ready is an endpoint on pilot but I forget. adsz definitely is though)

[2019-06-12 14:54] bradenwright commented on #14593
So it's intentional that https://github.com/istio/istio/archive/1.1.8.tar.gz doesn't have bumped release but  https://github.com/istio/istio/releases/download/1.1.8/istio-1.1.8-linux.tar.gz does?

That seems weird to me, I downloaded the generic b/c I'm using the charts across mac/windows/linux, I assume others may do the same.

[2019-06-12 14:57] howardjohn commented on #14593
I am pretty sure the first link is just our repo turned into a tgz file. So its the same as doing a `git clone`. Where did you get that actually, I have never seen that.

That is good feedback that it is confusing for users though

[2019-06-12 14:59] bradenwright commented on #14593
Gotcha... and at least we are getting stuff documented here so if others run into it, should be easy to resolve

[2019-06-12 15:00] howardjohn commented on #7136
pilot-agent only recreates the process in some cases -- not sure exactly which but I know if you `pkill envoy` it won't but `pkill -9 envoy` will

[2019-06-12 15:01] #12085 closed

[2019-06-12 15:03] jkbschmid commented on #14736
You're right:
[code]
Seems like the DNS server (which is running) cannot be reached.
The /etc/resolv.conf on the pod points to the correct DNS-server service IP.

[2019-06-12 15:06] howardjohn commented on #14739
Can you get info from the ingressgateway:

`curl localhost:15000/server_info`

`curl localhost:15000/listeners`

`curl localhost:15000/stats`

`curl localhost:15000/config_dump`

Probably don't need all of this info, but easier to ask once then go back and forth. If you don't want to provide the full config dump you can remove the stuff not related to the listeners or at least just mention if ther

[2019-06-12 15:07] howardjohn commented on #14736
Interesting, did you label the kube-system (step 7)

`$ kubectl label ns kube-system kube-system=true`

Is your DNS stuff running in kube-system?

[2019-06-12 15:09] jkbschmid commented on #14736
Yup, to both question.
[code]

[code]

[2019-06-12 15:10] mbanikazemi commented on #9666
I tried this right now and it seems to work as expected. Please reopen if you still see the issue.

[2019-06-12 15:11] esnible commented on #10053
Re-opened because folks continue to complain about it.  Cassandra may work in some configurations; until we have documented the steps post `helm install incubator/cassandra` we should keep this Issue open.

[2019-06-12 15:16] esnible opened #14743 "List of applications incompatible (or some features don't work) with Istio"
Several packages don't work due to current Istio limitations.  We have work items and epics for the *functionality* needed but no epic that shows our progress towards our goal of supporting everything.

(Some of these work partially, or mostly.)

ElasticSearch https://github.com/istio/istio/issues/14662  <-- FAQ entry added https://github.com/istio/istio.io/pull/4821
- also https://github.com/isti

[2019-06-12 15:41] #14414 closed

[2019-06-12 15:44] howardjohn opened #14744 "Pilot needs better validation of XDS responses"
Context: https://github.com/istio/istio/issues/14414

Pilot does some validation of XDS responses:
https://github.com/istio/istio/blob/1d13d1f7e93c7d1433388da618573515ee0d1030/pilot/pkg/proxy/envoy/v2/lds.go#L59-L67

There are two problems:
* Most of the config is already serialized to struct/any. This will NOT be validated. (Actually, maybe if we do it to any it does, but I doubt it. Struct doesn

[2019-06-12 15:55] howardjohn opened #14745 "Component version build info broken on 6/11"
[code]

Related PR that fixed the same problem a month ago: https://github.com/istio/istio/pull/14207

I am working on this currently

[2019-06-12 15:56] howardjohn commented on #14741
I followed the steps and it worked for me

[2019-06-12 16:05] RaynDol commented on #14537
any idea how to provide the `pprof` data as the port forwarding to pilot is failing...is there any instruction how to provide it?

[2019-06-12 16:05] duderino commented on #14707
@crazyxy 1.2 release blocker for you, please jump on this

CC: @PiotrSikora @jplevyak @htuch @silentdai

[2019-06-12 16:07] howardjohn commented on #14537
You command has a type `itsio-pilot`. You can just do `kubectl -n istio-system port-forward svc/istio-pilot 8080` though

[2019-06-12 16:08] howardjohn commented on #14745
`git bisect run sh -c "make pilot && /usr/local/google/home/howardjohn/go/out/linux_amd64/release/pilot-discovery version | grep -v unknown"` shows this was broken by https://github.com/istio/istio/pull/13641

@ibm-jason

[2019-06-12 16:11] howardjohn commented on #14745
Found the cause, we pass `extldflags` instead of `-extldflags`. Going to fix and add a test

[2019-06-12 16:15] kyessenov commented on #14707
I left it running, so if you figure out how to get a core dump let me know. All I need is to curl some URL to trigger a seg fault.

[2019-06-12 16:21] sdake commented on #8383
ok - works for me.  I'll work out the pr(s).

[2019-06-12 16:33] JimmyCYJ commented on #14721
The tests are not in release 1.2 branch. The PR https://github.com/istio/istio/pull/14307 is not in release cut.
Maybe we don't need to cherry pick this one.

[2019-06-12 16:34] duderino commented on #11929
Unassigned @rshriram and @andraxylia because we have started a large effort to deflake our tests and I want someone to see this as available and pick it up

[2019-06-12 16:38] sdake commented on #8383
Rather than hijack this issue, I've created a new one:

https://github.com/istio/istio.io/issues/4361

[2019-06-12 16:40] rshriram commented on #14693
Thanks for the PR..
tangent: can the salesforce folks also take a look at https://github.com/istio/api/pull/899 to see if I have captured everything?

[2019-06-12 16:50] johnma14 commented on #14741
@howardjohn ok good. Then we can close this. Could be my env. Not sure why though

[2019-06-12 16:51] Multiply commented on #14707
@duderino the issue I reported in #14331 is happening on 1.1.x, so a backport would be nice as well.

[2019-06-12 16:51] wattli opened #14747 "Add root transition doc to 1.2"
It's only in 1.1 so far

[2019-06-12 16:51] howardjohn commented on #14741
It could very well be a real bug, but it isn't a universal one at least

[2019-06-12 16:56] ozevren commented on #14490
@icygalz, I think you've created this test, right?

[2019-06-12 17:05] #11670 closed

[2019-06-12 17:09] duderino commented on #12431
@fpesce do you still see this flake after we increased circle ci resources?  If no, please close this out.  If yes, please reassign to me

[2019-06-12 17:10] silentdai commented on #14707
@crazyxy
My 2 cents: `FilterManagerImpl::onRead` is too short to fail. It's likely `FilterManagerImpl::onContinueReading` is inlined. Need symbol table to verify.

[2019-06-12 17:11] therealmitchconnors commented on #13052
@kbruner I can confirm from the logs you provided that Pilot is unable to reach Kube DNS to lookup Galley.  Did you have any other workloads using Kube DNS at the time?

Here is the offending log line, which is repeated throughout the pilot logs:
[code]

[2019-06-12 17:22] ozevren commented on #14083
Neither of those issues are flakes with the test suit itself. I am inclined to close this bug. I believe there is a bug that is already open tracking the first problem (node port conflict). If there isn't a bug for the second case, we should open one. But neither is a flake with the test itself.

[2019-06-12 17:26] pitlv2109 commented on #14741
I tried this task a few days ago and it worked as expected for me. When applying a policy config, you'll need to wait a bit for that config to be propagated to the proxy.

[2019-06-12 17:29] bpehling opened #14750 "1.1.8 Ignores values file on installation via helm"
**Bug description**
When installing istio via helm, the `values.yaml` files seem to be ignored in istio version `1.1.8`. This issue did not appear in previous versions

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[

[2019-06-12 17:30] icygalz commented on #14490
yes, i created that test... It works when I run the test locally on my workstation but not on prow. I will look into again when i have some cycle. This is not blocking anything right?

[2019-06-12 17:31] sdake commented on #14750
can you run `helm version` please?

I'll take a look at duplicating right now.

Cheers
-steve

[2019-06-12 17:33] pitlv2109 commented on #14747
Should we include a form at the end of the doc and ask users to provide feedback like if they experienced any downtime, anything went wrong, etc? The blog post doesn't allow comment as far as I know.

[2019-06-12 17:33] wattli commented on #14695
Thanks Jimmy for the investigation! The TLS handshake actually finished successfully.

Reassign back to @fpesce since it's the error on pilot RouteConfiguration

[2019-06-12 17:35] ozevren commented on #14490
I don't believe so, but I want to make sure this is tracked correctly. I am going to assign this to you and lower its priority then.

Thanks

[2019-06-12 17:37] bpehling commented on #14750
@sdake client and server versions are `2.11.0`

[2019-06-12 17:39] sdake commented on #14750
@bpehling how did you download?

curl -LO https://github.com/istio/istio/releases/download/1.1.8/istio-1.1.8-linux.tar.gz ?

[2019-06-12 17:41] crazyxy commented on #14707
@kyessenov Could you try following way to get the core dump?

[2019-06-12 17:42] bpehling commented on #14750
@sdake
[code]

[2019-06-12 17:46] sdake commented on #14750
With my curl command, Helm version 2.9.1 works for me:

[code]

Let me try that getlatest script and see what its pulling down and then I'll try Helm 2.11.0.

[2019-06-12 17:48] sdake commented on #14750
Do you see output such as ```Downloading istio-1.1.8 from https://github.com/istio/istio/releases/download/1.1.8/istio-1.1.8-linux.tar.gz ...  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
[code]

[2019-06-12 17:53] bpehling commented on #14750
@sdake yes, however 1.1.7 is failing for me now as well so I think it's an issue on my side

[2019-06-12 17:54] sdake commented on #14750
@bpehling I will test helm 2.11.0 - it is possible it is defective in some way.  If helm 2.11.0 works in my environment, then its another data point that points away from the istio installer and helm.

[2019-06-12 18:06] kyessenov commented on #14707
@crazyxy given that you could not reproduce it, I'd like to avoid re-installing istio to get a core dump since that might make my bug disappear.

[2019-06-12 18:06] kyessenov commented on #14707
@PiotrSikora do you, or anyone else, know how to get a core dump on a running pod? I have sudo, I should be able to obtain whatever privileges I need to get the dump.

[2019-06-12 18:06] sdake commented on #14750
With:
[code]

This port forward error can't be good:
[code]

Although an install seems to work:
[code]

I saw in the changelogs for 2.11.0 it was made to work with Kubernetes 2.11.  (I am on 2.14.1):
[code]

Perhaps that version of `helm` doesn't work with Kubernetes `1.12`?

[2019-06-12 18:07] harryge00 commented on #14730
https://discuss.istio.io/t/quickstart-bookinfo-app-consul-docker-is-redirecting-outbound-to-only-one-microservice/2208

I think it is fixed. But 1.1.7 not upgraded to the fixed one

[2019-06-12 18:07] #14730 closed

[2019-06-12 18:09] bpehling commented on #14750
@sdake Thanks for your help, I'll look more into the problem. It appears to be on my side so I'll close this issue

[2019-06-12 18:09] #14750 closed

[2019-06-12 18:10] sdake commented on #14750
@bpehling if you root cause in your environment, please let us know so we can document it in the documentation.

Cheers
-steve

[2019-06-12 18:12] kyessenov commented on #14707
@crazyxy can you please scaly your istio-policy in istio-system to 4 replicas and retry? There is a theory it has something to do with that.

[2019-06-12 18:18] Multiply commented on #14707
For the issue I linked above, we only had 2 replicas.

[2019-06-12 18:21] icygalz commented on #13789
In my understanding for prow tests, we should assume the worst(test can/will fail) for test in "not finished" state. From the problem stated above, it is pretty consistent that when testgrid shows "Not Finished":
1. test failed and didn't post finished.json to gcs (can happened for many different reasons but usually happens on presubmit stage, for ex: new commit while in the middle of test run, et

[2019-06-12 18:24] ericvn commented on #14420
@duderino Right now, the images used to build both the master branch and the release-1.2 branches use Golang 1.10.4. We moved the master branch to an image that should have contained Golang 1.12.5, but because of some of the issues with the CI pipeline, that is no longer the case. As John noted above, master is still using Golang 1.12.5. We have created a new build image and today we are going to

[2019-06-12 18:24] kyessenov commented on #14707
Trace-level log:
[code]

[2019-06-12 18:25] howardjohn commented on #13789
Agree its not a release blocker. Lets move this to P1 and then once the release is out we can move to P0 like we are doing with other mauve improvements

[2019-06-12 18:28] DinoChiesa commented on #12126
It seems like people still want the information.  Shouldn't be considered stale just because no one has responded. The desire is still there.

[2019-06-12 18:31] ericvn commented on #14420
https://github.com/istio/istio/pull/14757 was created (using prow-staging brach) to build/test.

[2019-06-12 18:34] sdake commented on #14666
See this thread: https://github.com/istio/istio.io/pull/4299#issuecomment-501335535

Cheers
-steve

[2019-06-12 18:40] crazyxy commented on #14707
@kyessenov I cannot reproduce after upscaling to 4 replicas.

[2019-06-12 18:45] howardjohn commented on #14707
I reproduced this with 1 replica. Make sure you install with polciy enabled (it is off by default). I did it with demo install

[2019-06-12 18:46] ozevren opened #14760 "TestController (serviceregistry) is flaky"
--- FAIL: TestController (20.00s)
    controller_test.go:113: timeout while waiting (last error: got 0 notifications from controller, want 7)
FAIL
FAIL	istio.io/istio/pilot/pkg/serviceregistry/external	20.110s
=== RUN   TestServices

https://circleci.com/gh/istio/istio/441428?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-06-12 18:53] kbruner commented on #13052
@therealmitchconnors No, the istio deployment was done with automation, the exact same way it's done multiple times a day: same number of nodes, same node size.  No other workloads are deployed to the cluster before Istio.  It does use the current GKE default version, so that can vary depending on day and region.  kube-dns is almost completely unconfigurable in GKE, so there's nothing under our co

[2019-06-12 18:58] yangminzhu commented on #14717
Another example is here: https://github.com/istio/istio/pull/14591#issuecomment-501407971

[2019-06-12 19:07] vlcty commented on #10335
I hate people like you. Please post your solution!

[2019-06-12 19:27] duderino opened #14761 "Create traffic management release notes for 1.2"
**Describe the feature request**

Fill out the traffic management section in https://github.com/istio/istio/wiki/Release-Note-1.2-Draft

**Describe alternatives you've considered**

Silently shipping major features in 1.2 to the surprise and delight of our users.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[x] Networkin

[2019-06-12 19:28] duderino opened #14762 "Write 1.2 release notes for security"
**Describe the feature request**

Fill out the traffic management section in https://github.com/istio/istio/wiki/Release-Note-1.2-Draft

**Describe alternatives you've considered**

Silently shipping major features in 1.2 to the surprise and delight of our users.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[] Networking

[2019-06-12 19:30] duderino opened #14763 "Create Telemetry release notes for 1.2"
**Describe the feature request**

Fill out the telemetry section in https://github.com/istio/istio/wiki/Release-Note-1.2-Draft

**Describe alternatives you've considered**

Silently shipping major features in 1.2 to the surprise and delight of our users.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[] Networking
[ ] Perf

[2019-06-12 19:32] duderino opened #14764 "Create policy release notes for 1.2"
**Describe the feature request**

Fill out the policy section in https://github.com/istio/istio/wiki/Release-Note-1.2-Draft

Also fill in the incompatible changes, upgrade, and installation sections if anything applies.

**Describe alternatives you've considered**

Silently shipping major features in 1.2 to the surprise and delight of our users.

**Affected product area (please put an X in all tha

[2019-06-12 19:33] duderino opened #14765 "Create config mgmt release notes for 1.2"
**Describe the feature request**

Fill out the config mgmt section in https://github.com/istio/istio/wiki/Release-Note-1.2-Draft

Also fill in the incompatible changes, upgrade, and installation sections if anything applies.

**Describe alternatives you've considered**

Silently shipping major features in 1.2 to the surprise and delight of our users.

**Affected product area (please put an X in al

[2019-06-12 19:34] vlcty commented on #10335
I post my solution: I've done a kernel update before and wanted to reboot. But I also wanted to check if the ip6tables were dumped into the filesystem.
After a reboot everything was fine.

[2019-06-12 19:40] mbanikazemi commented on #9666
This works now. Closing the issue. Please reopen if you continue to have this problem.

[2019-06-12 19:40] #9666 closed

[2019-06-12 19:40] incfly commented on #12437
@esnible big +1!

I like the idea, this seems much better compared with the need to interact with different VM environments.

[2019-06-12 19:42] incfly commented on #12437
Additionally, this can be generalized to more than VM, consul, cloudfoundry if they provide tooling to get the Envoy config dump. I changed the title correspondingly.

[2019-06-12 19:58] ekarlso commented on #14739
["0.0.0.0:15090","0.0.0.0:443","0.0.0.0:80"]

[code]

[2019-06-12 19:58] ekarlso commented on #14739
[code]

[2019-06-12 20:01] ekarlso commented on #14739
I don't think I can post the config dump as it contains names :)

[2019-06-12 20:32] tjholwik commented on #14708
@howardjohn  - I've add another port for `http` like following and still we are not able to use `http` instead of `http2`, any idea?

[code]

[2019-06-12 20:52] therealmitchconnors commented on #13052
Yes, it should, though how quickly will depend on how far into the CrashloopBackoff period you are...  I didn't see any evidence that it was ever able to connect to Kube DNS in the logs.  The log line above was repeated over a thousand times over the 20 minutes that the log covers...

It is still possible that the lack of DNS connectivity was caused by the istio-proxy intercepting the DNS queries

[2019-06-12 20:59] esnible commented on #11960
This is a duplicate of https://github.com/istio/istio/issues/11960 .  I don't know which Issue should be authoritative and which should be closed.

[2019-06-12 21:09] #14284 closed

[2019-06-12 21:20] esnible commented on #13492
Other Issues related to STALE may be duplicates of this one.

https://github.com/istio/istio/issues/13822 STALE (Never Acknowledged) comes & ago every few seconds ...
https://github.com/istio/istio/issues/14522 Cannot see any error logs in pilot but getting errors in prometheus metrics
https://github.com/istio/istio/issues/14336 Scale to zero

[2019-06-12 21:37] philrud commented on #13249
Failure to delete the namespace would not result in test failure and is not a cause of that test failure. According to the code, the error would be reported, but the cleanup phase would still succeed and the test would finish successfully. I've tested that behavior by forcing a tight timeout with the following PR: https://github.com/istio/istio/pull/14766, the following CircleCI job succeeds even

[2019-06-12 21:37] #13249 closed

[2019-06-12 21:38] philrud commented on #13249
duplicate of https://github.com/istio/istio/issues/12431

[2019-06-12 21:46] cscetbon commented on #10659
Cause Istio can’t extract dns hosts from cassandra packets like it can with http packets. So you can’t use dns names and have to use ip addresses if you use a Service Entry. But then you have issues with IPs that can change, that’s what I was talking about.

[2019-06-12 22:03] geeknoid opened #14770 "Implement TOC-approved versioning and release scheme."
Please see https://docs.google.com/document/d/1ilwz-HGSeiRDCFwP5rm-5d_UY6OOYL_nflx7bNggek0/edit?ts=5cfa97f8#

[2019-06-12 22:07] yangminzhu commented on #12065
The test is moved to https://github.com/istio/pkg/blob/master/log/config_test.go and seems passing successfully: https://circleci.com/gh/istio/pkg/tree/master

@fpesce
can we close this now?

[2019-06-12 22:17] yangminzhu commented on #11929
The test failed 3 times (https://k8s-testgrid.appspot.com/istio-presubmits-master#circleci-e2e-pilot-auth-v1alpha3-v2&width=5) in the past 2 weeks and all caused by the same error (https://prow.k8s.io/view/gcs/istio-circleci/presubmit/master/e2e-pilot-auth-v1alpha3-v2/439664):
[code]

This seems very similar to https://github.com/istio/istio/issues/12431

[2019-06-12 22:27] htuch commented on #14707
This looks like we're still getting an `onRead` for connection C10 after it's been added to the deferred deletion list and after a remote close. That's pretty weird, seems a legit bug.

[2019-06-12 22:43] JimmyCYJ opened #14773 "Add SDS stats back into bootstrap config."
**Describe the feature request**
https://github.com/istio/istio/pull/10184 introduced a stats_matcher. cluster and listener stats are not in the inclusion list. There are SDS stats that are not shown in the /stats. listener.<LISTENER_IP>.server_ssl_socket_factory.ssl_context_update_by_sds and cluster.<CLUSTER_IP>.client_ssl_socket_factory.ssl_context_update_by_sds. These stats are useful for testi

[2019-06-12 22:43] JimmyCYJ commented on #14773
/cc @wattli @myidpt @quanjielin

[2019-06-12 22:44] JimmyCYJ commented on #14773
/cc @douglas-reid

[2019-06-12 22:49] JimmyCYJ commented on #14721
Currently, the test creates k8s secret and sleep 30s by assuming that it takes less than 30s for gateway agent to pick the k8s secret, and provide key/cert to ingress gateway via SDS, and ingress gateway SDS will update its ssl socket factory to use the new key/cert pair. Apparently, 30s is not sufficient.
To fix this flakiness, one option is to check ingress gateway /stats endpoint, especially th

[2019-06-12 22:55] howardjohn commented on #14773
There is a statsInclusion annotation that should work - can provide a link soon on my phone right now though

[2019-06-12 23:15] wattli commented on #14703
Here is my finding, after we redeploy httpbin for several times, some httpbin pod, say httpbin-pod-bad will not be reached via mTLS while some other, say httpbin-pod-good, can be reached fine. For instance, when sleep-pod1 try to connect to httpbin service, if the traffic is routed to httpbin-pod-bad, it will fail, otherwise, if the traffic is routed to httpbin-pod-good, if it will be successful.

[2019-06-12 23:17] wattli commented on #14703
Seems to be a networking issue, @duderino feel free to reassign.

[2019-06-12 23:18] wattli commented on #14703
It only happens in 1.0.x, not 1.1.x, maybe this has already been fixed in 1.1, but not 1.0

@howardjohn @andraxylia

[2019-06-12 23:19] JimmyCYJ commented on #14773
I am going to add listener.<LISTENER_IP>.server_ssl_socket_factory.ssl_context_update_by_sds and cluster.<CLUSTER_IP>.client_ssl_socket_factory.ssl_context_update_by_sds into the inclusion list. I am wondering if there are other useful stats we can add to monitor and debug ADS.

[2019-06-12 23:22] howardjohn commented on #14773
you can add it just to the test if it isn't universally useful as well

[2019-06-12 23:25] crazyxy commented on #14707
When receiving read events, filter manager will iterator all filters and executes onData for each filter. When a filter executes onData, it could close the connection (e.g. the mixer filter). For following filters in the loop, they could hit segment fault due to the connection is closed. I cannot pinpoint the exact code which causes the segment fault because of the lack of logs. I will try to repr

[2019-06-12 23:26] incfly commented on #14707
/cc @incfly

[2019-06-12 23:35] wattli commented on #14703
Labelled it as 1.1 since 1.0 label is not available any more.

[2019-06-12 23:47] gargnupur commented on #14718
@fpesce, sushicw : shouldn't this be for 1.2 milestone as it breaks local testing for 1.2 using e2e or integration tests...

[2019-06-13 00:11] therealmitchconnors commented on #14672
Openned https://github.com/kubernetes/test-infra/pull/13007 to get a better idea if this test is flaky or not...

[2019-06-13 00:25] howardjohn commented on #14739
Related issues: https://github.com/istio/istio/issues/14560 https://github.com/envoyproxy/envoy/issues/6904

What I think is happening here (because we saw this same case before - I either can't find the issue or its possible one was never created):
* Pilot pushes config, everything is working, etc
* A Gateway is created that references a config that does not exist
* Pilot sends new listeners to e

[2019-06-13 00:40] douglas-reid commented on #14773
yeah, if these are for debugging, I wonder if we really need them on by default.  @JimmyCYJ do you think these should be on for every proxy in the mesh all the time?

[2019-06-13 00:52] howardjohn commented on #14708
What issues are you having with http2? Where do you have issues and where do you want to disable http2?

There are 3 different connections:

CLIENT ----- 1 -----> CLIENT SIDECAR ------ 2 ----> SERVER SIDECAR ----- 3 ----- > SERVER

Where is the problem and where do you want no http2?

[2019-06-13 00:55] howardjohn commented on #14773
@JimmyCYJ sorry couldn't give more details later. if it is just for the tests we can just add an annotation like:
`sidecar.istio.io/statsInclusionPrefixes: cluster.outbound,cluster_manager,listener_manager,http_mixer_filter,tcp_mixer_filter,server,cluster.xds-grpc` (except with your stats)

Or statsInclusionSuffixes or statsInclusionRegexps if those are better

[2019-06-13 00:59] howardjohn commented on #14721
Checking the gateway directly is probably the best approach, much better than a time based wait since often times they pass locally and fail in prow or circle. Too bad config_dump doesn't have SDS stuff. Is it in `http://localhost:15000/certs`? If not the stats approach discussed in #14773 should work

[2019-06-13 01:07] howardjohn commented on #14703
Its not just that it doesnt have port 80, where does this port 3333 and port 9999 come from?

If you run into this again some useful debug info:

`istioctl proxy-status POD` on both of them - this will show if the pods config matches what Pilot thinks it should have. This isolates the problem to either pilot is generating bad config, or pilot is generating the right config but isn't able to send i

[2019-06-13 01:09] hzxuzhonghu commented on #10659
[code]

These dns resolve is served by kube-dns, am i missing something?

[2019-06-13 01:11] howardjohn commented on #14717
The weird thing is we get these clumps of successes: https://testgrid.k8s.io/istio-presubmits-release-1.2#integ-security-k8s-presubmit-tests

Normally the flakes are like every other test fails, but this we get 10 fails then 5 success.

[2019-06-13 01:17] iandyh commented on #9784
@hzxuzhonghu If I read it right, using `sidecar` will require application to explicitly list out all the services they want to connect to so that this issue can be avoided?

[2019-06-13 01:26] darwin67 commented on #14102
Turns out that ingressgateway `LoadBalancer`'s `externalTrafficPolicy` has changed to `Cluster` which was the cause of this issue.
I've verified that changing it back to `Local` will get everything working as expected again.

Helm might have changed the default but not 100% sure since the structure is completely different with 1.1.
Closing this now.

[2019-06-13 01:26] #14102 closed

[2019-06-13 01:29] hzxuzhonghu commented on #9784
Yes, you need to specify all the services you want to connect to, we still can set namespace scoped services.

[2019-06-13 01:32] irisdingbj commented on #8383
@sdake  @howardjohn Thanks for clearing this out!

[2019-06-13 01:35] howardjohn commented on #14102
@darwin67 sorry this fell off my radar, had a few too many things on my plate unfortunately. Glad you found the issue.

Doesn't look like we set it in the Helm chart https://github.com/istio/istio/blob/release-1.1/install/kubernetes/helm/istio/charts/gateways/values.yaml#L52

Same for 1.0 https://github.com/istio/istio/blob/release-1.0/install/kubernetes/helm/istio/values.yaml#L210

[2019-06-13 01:48] howardjohn commented on #14717
So the logs are missing "Failed to create a self-signed Citadel" but have "Failed to write secret to CA"

Looking at the logs I saw `		2019-06-12T19:35:49.528237Z	error	Failed to write secret to CA (error: secrets "istio-ca-secret" already exists). This CA will not persist when restart.` which is what the error said until ~1 day ago when this test was added: https://github.com/istio/istio/commit/6

[2019-06-13 02:00] icygalz commented on #14717
release-1.2 shouldn't be affected by https://github.com/istio/istio/pull/14351 because that PR is only for master. We didn't cherry pick it to release-1.2 so the images will be built only with istio.test.tag=sha and the test will also use that tag.

Only master branch has BUILD and test for each test. Release-1.2 is still using the old logic; only 1 BUILD and test are re-using the created images.

[2019-06-13 02:05] #11719 closed

[2019-06-13 02:10] howardjohn commented on #14717
I see. Does the image get built before the rebase logic then?

[2019-06-13 02:17] icygalz commented on #14717
For release-1.2 branch, the image gets built during istio-presubmit.sh test. That test will be run after the rebase. So the image should be built after the rebase and all other tests which depends on these images will only get started AFTER istio-presubmit.sh succeed.

[2019-06-13 02:19] LzyRapx commented on #10335
???

[2019-06-13 02:22] LzyRapx commented on #10335
Because Ip6tables is operated in the kernel state of Linux. The istio-init needs to call the host kernel. The istio-init must have root privileges. It must have a corresponding adminssion and a privileged mode for the pod.
So there must be `MutatingAdmissionWebhook` and 'ValidatingAdmissionWebhook' in the admission-control or --enable-admission-plugins in kube-apiserver, which are added in strict

[2019-06-13 02:33] #11374 closed

[2019-06-13 02:42] LzyRapx commented on #10457
**I solved this problem in such a way, but I don't know if it works for others.**

Because ip6tables is operated in the kernel state of Linux. The istio-init needs to call the host kernel. So the istio-init must have root privileges. It must have a corresponding adminssion and a privileged mode for this pod.
So there must be `MutatingAdmissionWebhook` and `ValidatingAdmissionWebhook` in the admiss

[2019-06-13 03:19] duderino commented on #14420
@ericvn thanks for the update

Both 1.2 release managers (@linsun and @fpesce) voiced concern about updating 1.2 to go 1.12 so close to the release.  We thought we were in a bind that we were testing with 1.12 but building with an earlier version.  So the fact that 1.2 still uses an older version of go is great news.

Please do not update go for the 1.2 branch.  This is a great thing for master an

[2019-06-13 03:31] tjholwik commented on #14708
@howardjohn  - we are not using side cars yet, we are testing istio as replacement for nginx hence we want  **that all the incoming traffic** via will be with http and not http2 , how we can do it ?
(this is something that we were able to configure with nginx ingress)

[2019-06-13 03:44] duderino commented on #13155
@kyessenov I'm hoping that others can debug integration test framework failures other than Nate and Oz

[2019-06-13 03:51] thockin opened #14777 "label "istio-injection=enabled" is not namespaced"
**Bug description**

Kubernetes labels are namespaced, with non-namespaced labels being reserved for end-users.  The correct name would be "istio.io/injection" or similar

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[X] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Releas

[2019-06-13 03:52] thockin opened #14778 "Docs: `kubectl get` for labels is -l, doc says -L"
https://istio.io/docs/setup/kubernetes/additional-setup/sidecar-injection/

lists at least one `-L` - "kubectl get namespace -L istio-injection"

[2019-06-13 03:59] howardjohn commented on #14666
waiting on https://github.com/istio/istio/pull/14776 to get into 1.2

[2019-06-13 04:05] darwin67 commented on #14102
Yeah, that's also what confused me too.
When I check the Service in 1.0, it's always set to `Local` and will consistently be changed to `Cluster` when installing 1.1 with Helm.

[2019-06-13 04:26] duderino commented on #14736
I'm worried this will get lost in the noise if we leave it as a P1

[2019-06-13 04:55] cscetbon commented on #10659
Yes I’m talking when Istio proxies receive network packets. The best is to try it with a non supported protocol and see by yourself. I got this information from an Istio’s developer

[2019-06-13 05:05] crazyxy commented on #14707
Upstream pr https://github.com/envoyproxy/envoy/pull/7256

[2019-06-13 05:54] iandyh commented on #9784
@hzxuzhonghu This is making istio even more complicated to use..

[2019-06-13 06:36] ShimiT opened #14782 "Istio-pilot crash due to high memory leak"
**Bug description**

We installed istio via helm default config (prod) and try to simulate a high load environment according to our production KPI's.

Each pod uses `8 route`, each pod created in new ns.

Using the default configs `pilot` was **crashed** after the creation of approximately `800` pods.
To overcome this we used helm [config](https://istio.io/docs/reference/config/installation-option

[2019-06-13 07:42] irisdingbj commented on #14777
+1 for changing to `istio.io/injection` as below reason:

Valid label keys have two segments: an optional prefix and name, The prefix is optional.

If the prefix is omitted, the label Key is presumed to be private to the user. Automated system components (e.g. kube-scheduler, kube-controller-manager, kube-apiserver, kubectl, or other third-party automation) which add labels to end-user objects mus

[2019-06-13 08:05] #4341 closed

[2019-06-13 09:22] dansiviter opened #14785 "Stackdriver Traces Always Report Request/Response size '0'"
**Bug description**
From the `mixer/adapter/stackdriver/operatorconfig/stackdriver.yaml`the Trace spans always report zero bytes:

![Screenshot 2019-06-13 at 09 59 16](https://user-images.githubusercontent.com/1540398/59420783-64c1b180-8dc5-11e9-858d-17fa9da07bec.png)

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Netw

[2019-06-13 09:57] irisdingbj opened #14786 "golangci-lint fails due to a bug in the golangci-lint.sh"
**Bug description**
PR fails in lint check as below:
+ /go/src/istio.io/istio/bin/../scripts/run_golangci.sh
golangci/golangci-lint info checking GitHub for tag 'v1.16.0'
golangci/golangci-lint info found version: 1.16.0 for v1.16.0/linux/amd64
Makefile:294: recipe for target 'lint' failed

The reason is the golangci-lint.sh is missing BINARY variable

https://github.com/golangci/golangci-lint/iss

[2019-06-13 10:13] irisdingbj commented on #14786
https://github.com/istio/istio/pull/14787

[2019-06-13 10:33] prabhu-mannu commented on #9783
i am having the same issue. CorsPolicy is not working on 1.17 and 1.8
is there any solution for this ?
I have posted the question here: https://stackoverflow.com/questions/56578464/unable-to-get-corspolicy-working-in-istio

[2019-06-13 11:20] prune998 commented on #13265
While the hack is working, those stats does not seem to be gathered by Prometheus.
As the StatsD thing is over, what's the clean solution to grab those metrics  ?

[2019-06-13 11:25] daleangus opened #14788 "After applying a policy, Galley crashes"
Working with Istio 1.1.7

Studying how to use JWTs, I applied the following YAML file
[code]
I get this erro
Error from server (InternalError): error when creating "policy.yaml": Internal error occurred: failed calling admission webhook "pilot.validation.istio.io": Post https://istio-galley.istio-system.svc:7443/admitpilot?timeout=30s: stream error: stream ID 1; INTERNAL_ERROR

The Galley logs sho

[2019-06-13 12:23] RaynDol commented on #14537
@howardjohn - when running this command it generates pprof folder with  tar and when extracting it I see `.pb` file which is half empty,`pprof.pilot-discovery.alloc_objects.alloc_space.inuse_objects.inuse_space.001.pb`
Should it be like this?

[2019-06-13 12:55] #11694 closed

[2019-06-13 12:59] daleangus commented on #14788
If I remove all the lines about Jwt, there is no error (but meaningless in my case)

[2019-06-13 13:41] oresot commented on #14087
From the docs [here](https://istio.io/docs/setup/kubernetes/additional-setup/sidecar-injection/#policy) I understand that the `sidecar.istio.io/inject: "true"` annotation will **only** work when the `istio-sidecar-injector` `policy` is set to `disabled`.

I would expect that when `policy` is `enabled`, as it is by default, it would inject the sidecars when:

- Namespace is annotated with inject=tr

[2019-06-13 13:59] azalenski-callpage commented on #7964
Is there any update on this one? Unfortunately I am also facing the same issue when Istio sits behind AWS an TLS Terminating Load Balancer. Is there any estimate on when this will be fixed?

[2019-06-13 14:36] howardjohn opened #14791 "TestPodCache/localApiserver unit-test flake"
https://testgrid.k8s.io/istio-presubmits-master#unit-tests&width=20

Example failures:
* https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/istio-unit-tests-master/1759
* https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/istio-unit-tests-master/1767
* https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/istio-unit-tests-master/1844
* https://prow.k8s.io/view/gcs/istio-prow/pr-l

[2019-06-13 14:39] archelangelo opened #14792 "CRD YAML conflict when when going through Gateway Connectivity doc"
**Bug description**
In [Gateway Connectivity](https://istio.io/docs/setup/kubernetes/install/multicluster/gateways/) doc, the following command generates a conflict in the YAML file:
[code]
As the `install/kubernetes/helm/istio-init/files/crd-certmanager-*.yaml` files don't have the `---` separator at the end, the `cat` command appends two YAMLs together without separation. This causes a missing C

[2019-06-13 14:42] howardjohn opened #14793 "New Installer needs Kustomize support for the injection template"
Wanting to modify the injection template is a fairly common task, but as far as I know we can't use Kustomize to modify it.

We should either:
* Document how to kustomize it if it is possible
* Try to find a way to kustomize it or some alternative

[2019-06-13 14:55] #11728 closed

[2019-06-13 15:06] esnible opened #14794 "Simplify "istioctl version" output"
99% of the time the control plane is of a single version.  I've never seen it not running a single version except when I have done my own private builds of Pilot.

Thus, the output of `istioctl version` is redundent:

[code]

I propose if all of the remote versions are the same the tool coalesce the output into

[code]

If any of the control plane pods return something different, the current outpu

[2019-06-13 15:06] howardjohn opened #14795 "We should have a linter for go mod tidy"
In dep we had a test that would fail if you didn't vendor correctly.

Now with go mod require devs to follow https://github.com/istio/istio/wiki/Vendor-FAQ and `go mod tidy && go mod vendor` but we don't actually test this, so a lot of bad changes get in.

@kyessenov @geeknoid

[2019-06-13 15:15] howardjohn commented on #14537
I normally do ` pprof -http=:8090 /home/howardjohn/pprof/pprof.pilot-discovery.goroutine.001.pb.gz` which starts a local server you can browse. But as far as sharing it, I think the two options are exporting to svg (something like `go tool pprof -svg profile300.gz` is what I got from https://coder.today/tech/2018-11-10_profiling-your-golang-app-in-3-steps/) or upload it here

[2019-06-13 15:16] howardjohn commented on #14537
You can also send it to me over slack or email if you are concerned about sensative info, although I don't think it has any

[2019-06-13 15:18] esnible opened #15720 "Build error "+ operator on a depset is forbidden""
If I attempt `make` or `bazel build //...` I get the following error

[code]

I am running bazel version `0.26.1-homebrew`.

[2019-06-13 15:27] geeknoid commented on #14795
I'd rather simply stop vendoring. We're not vendoring in other repos and it's been working well.

[2019-06-13 15:27] dokipen opened #14797 "DestinationRule subsets don't allow slashes in label selectors"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

DestinationRule doesn't accept subset labels with slashes.

**Affected product area (please put an X in all that apply)**

[ x] Configuration Infra

[2019-06-13 15:30] kyessenov commented on #14795
+1 to stop vendoring.
- wait until 1.2 is out so we can move forward with go 1.12
- update license checker script
- add a few module proxies; the default one went down last Sunday

On Thu, Jun 13, 2019 at 8:27 AM Martin Taillefer <notifications@github.com>
wrote:

[2019-06-13 15:38] #14718 closed

[2019-06-13 15:50] icygalz commented on #14717
I am not sure whether this is the same issue or not but AFAIK, that test on master branch was failing when we first created the branch. If you remember this issue https://github.com/istio/istio/issues/14364. Seems like the same issue?

[2019-06-13 15:52] howardjohn commented on #14739
I think that is recommended, not sure if its required though? @JimmyCYJ can you weigh in here?

[2019-06-13 15:55] #11695 closed

[2019-06-13 15:56] dansiviter commented on #11815
This would be useful for testing the usage of GCP APIs which often rely on gRPC.

[2019-06-13 15:57] ozevren commented on #12065
@geeknoid It looks like some of the new repos are in CircleCI plan. Should we consider moving them to Prow?

With Prow + TestGrid (and your bots) it should be easier to visualize the trends. As things stand, it is not easy to see if the test is failing or not.

Personally, I am ok with closing this bug and waiting it reappear in the new repo. My only concern is, we don't have a reliable detection

[2019-06-13 16:02] howardjohn commented on #14717
@icygalz the tests are grouped into one target but (should) be completely distinct from each other.

My two new theories: when PR is submitted, image is created and all is good. Then when the new test is merged:
1. a new image is NOT made because it already exists (same tag as the first test run)
2. or a new image is made, but prow caches the image and uses the old one (if imagePullPolicy is set t

[2019-06-13 16:42] aattuluri opened #14801 "Istioctl proxy-status and authn tls-check commands do not work"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
proxy-status and authn tls-check commands fails with the following error:

[code]

[2019-06-13 17:00] icygalz commented on #14717
if theory 1 is true then we are really in a bad shape. It means we are not testing anything during merge. We can check istio-presubmit.sh logs to see if it pushed new images or not.

theory2 is highly unlikely because each prow/*.sh test rent out a new boskos resource. The cluster(s) inside newly rented boskos resource are new/unused so it is unlikely for those clusters to have any istio images ca

[2019-06-13 17:00] ericvn commented on #14420
@duderino I believe we are testing with Golang 1.12.5 and building with Golang 1.10.4 in release-1.2 branch (have to go back and verify that).

As of earlier this morning with https://github.com/istio/test-infra/pull/1334, we should be totally on Golang 1.12.5 in master.

[2019-06-13 17:03] icygalz commented on #14420
prow uses go1.10.4 for building and testing release-1.2.
I am not sure about circleci.

[2019-06-13 17:05] ericvn commented on #14420
circleci uses Golang 1.12.5 in both master and release-1.2.

[2019-06-13 17:05] #14630 closed

[2019-06-13 17:05] duderino commented on #14630
Issue moved to [istio/istio.io #4387](https://github.com/istio/istio.io/issues/4387) via [**ZenHub**](https://www.zenhub.com/)

[2019-06-13 17:06] howardjohn commented on #14717
Here is the PR https://github.com/istio/istio/pull/14704. If we browse the tree at this point we see: https://github.com/istio/istio/commits/93e831745e013fc0e7ef6e9f9e14203f3e6ec3de.

A commit immediately after this PR was created was merged, https://github.com/istio/istio/commit/6efd5850fa52e94326907dcb3b1cdb37d65c2966. Note that the tree I posted above does NOT have this change in it. This chang

[2019-06-13 17:07] shakti-das commented on #14693
The PRs are merged for this functionality, closing the issue. Thanks.

[2019-06-13 17:07] #14693 closed

[2019-06-13 17:20] howardjohn opened #14805 "CNI Helm install GKE values points to wrong hub"
[code]

The only thing that should be changed is cniBinDir

https://github.com/istio/cni/blob/master/deployments/kubernetes/install/helm/istio-cni/values_gke.yaml

@tiswanso @rlenglet

[2019-06-13 17:21] duderino commented on #13526
I'm hoping either @rlenglet or @tiswanso (or both) can assume these responsibilities.  It's area specific and if @utka has to do it then we're stealing too much away from cross-area work (Prow, etc etc)

[2019-06-13 17:22] howardjohn commented on #14742
This is merged via https://github.com/istio/istio/pull/14756

P0 is updating docs for this https://github.com/istio/istio.io/issues/4327

[2019-06-13 17:22] #14742 closed

[2019-06-13 17:22] howardjohn commented on #13526
This is merged via https://github.com/istio/istio/pull/14756

P0 is updating docs for this https://github.com/istio/istio.io/issues/4327

[2019-06-13 17:22] #13526 closed

[2019-06-13 17:23] duderino commented on #14666
merged.  Thanks @howardjohn and @fpesce

[2019-06-13 17:23] #14666 closed

[2019-06-13 17:25] duderino commented on #14683
@howardjohn I think this is done.  Close it?  We (@duderino and @fpesce) also got the recent istio/proxy and istio/envoy 1.1 changes cherry picked into 1.2 yesterday

[2019-06-13 17:26] howardjohn commented on #14683
Yes this is done

[2019-06-13 18:00] duderino commented on #14736
@rlenglet could you take a look?

It may not be a regression from 1.1, in which case this could be demoted to P1

But I think it would be very nice to support a network policy that forces egress traffic through egress gateways

[2019-06-13 18:04] howardjohn commented on #14736
My guess is this is 100% just an error in our docs, not any bug in Istio

[2019-06-13 18:06] howardjohn commented on #14647
Fixed in https://github.com/istio/istio/pull/14799/files

[2019-06-13 18:06] #14647 closed

[2019-06-13 18:15] nmittler commented on #14504
@ozevren I don't see any flakes on testgrid: https://k8s-testgrid.appspot.com/istio-presubmits-master#unit-tests

I also can't reproduce locally. Recommend closing this or moving it out of the 1.2 milestone.

[2019-06-13 18:17] tiurikov commented on #13008
@howardjohn are there any news regarding a possible solution? What are the chances to get it fixed in 1.1.9 or 1.2?

[2019-06-13 18:19] howardjohn commented on #13008
@tiurikov please see https://docs.google.com/document/d/15-PU9O22Pb0qTzCfwK2hjwNTcb-CqFuw8JnIgwK3EIM for the design doc. You may need to follow the steps under drive on https://istio.io/about/community/join/ to get access

[2019-06-13 18:40] bpehling commented on #14750
@sdake I was working to get Istio deployed in my CI and in our templates we have `helm dependency update` executed against the charts, but I didn't want that run against istio so I moved the `requirements.yaml` file. This caused the issue I was seeing.

[2019-06-13 18:44] tiswanso opened #14810 "Update istio/cni SHA in istio.deps"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Update the istio.deps istio/cni SHA value to the latest release-1.2 content for the CNI:  SHA = `bd556a6276144f03cfda11db8fe7a1f4560e9f13`

**Affect

[2019-06-13 18:50] therealmitchconnors commented on #14672
@howardjohn @utka @JimmyCYJ I have added this test to testgrid.  I am not familiar enough with that tool to quickly identify flakes, but it does look mostly green.  PTAL.

https://testgrid.k8s.io/istio-postsubmits-master#istio_auth_sds_e2e

[2019-06-13 18:52] howardjohn opened #14811 "IP addresses should be rejected when resolution: DNS is based"
[code]

This generates the config:

[code]

The `5.6.7.8` address is never sent to Envoy (I think, unless it rejects it silently). Neither Envoy or Pilot have any logging about it

This can be rejected by Galley.

cc @sdake @linsun

[2019-06-13 18:53] howardjohn commented on #14672
Thank you mitch! I disagree that it looks mostly green though, you only need to look at the "overall" row which shows ~1/5 tests fail

[2019-06-13 18:54] #13028 closed

[2019-06-13 19:07] therealmitchconnors commented on #14672
I do see about 10% overall failures, but I don't see a pattern of any one test case consistently causing those failures, which looks more like tests doing their job rather than flakes.

The key difference (AFAIK) between an actually failing test and a flaky test is the way the failure is resolved.  If the failure disappears by simply rerunning the test, it is a flake, but if the failure is resolve

[2019-06-13 19:10] kyessenov commented on #13155
There was a known flake that is re-mediated by increasing timeout from 1 minute to 5 minutes in here https://github.com/istio/istio/pull/14758. The culprit is that gRPC makes just 2 DNS resolutions per minute, so if you lucked out on the first one, the test would fail.

[2019-06-13 19:11] howardjohn commented on #14672
It doesn't directly, but you can click one of the individual squares and it will take you to the test page which has the PR #. Not the best though.

These test fail regularly on PRs and we just `/retest` them and they pass

[2019-06-13 19:13] therealmitchconnors commented on #14672
On the other hand, the failure message in https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/istio_auth_sds_e2e-master/1930 ("try again"), along with the function that is throwing the error ([pilot_test.go@runRetriableTest](https://github.com/istio/istio/blob/master/tests/e2e/tests/pilot/pilot_test.go#L191)) suggest that this test is known to be flaky?

The difficulty is that I just don't s

[2019-06-13 19:17] #14805 closed

[2019-06-13 19:17] howardjohn commented on #14672
I am not sure what you mean? If you look at https://testgrid.k8s.io/istio-postsubmits-master#Summary&width=5 it shows

`44 of 254 runs (17.3%) failing in the past week` under auth_sds

[2019-06-13 19:20] therealmitchconnors commented on #14672
And in this case, the PR associated with the only failure (run 1930) is still in a blocked state.  /retest has not been run, nor have further changes been pushed.  If this suite is flaky, we have no evidence that this particular test is the source of flakiness...

[2019-06-13 19:22] therealmitchconnors commented on #14672
Perhaps the source of flakiness is the test timeouts?  While I don't see consistent test failures, I do see a frequent occurrence where test execution is ended before the tests have finished... while not technically a flake, that would have the same impact as a flake on PRs...

[2019-06-13 19:24] howardjohn commented on #14672
@therealmitchconnors are you looking at one particular test case? I have been looking at the entire suite as a whole, which has 17% failures.

Prior to the last 2 weeks or so this test was pretty stable, so something recent may have changed (in our code or maybe just prow or something)

[2019-06-13 19:24] ekarlso commented on #14739
But if my secret is there then at the same place as the gateway, then why does it fail at finding it ?
[code]

``
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  creationTimestamp: 2019-06-05T00:10:06Z
  generation: 1
  labels:
    app: x-helloworld
    chart: golang-7.2.0
    heritage: Tiller
    release: x-helloworld
    version: v1
  name: x-helloworld-gateway
  namespace: de

[2019-06-13 19:28] howardjohn commented on #14739
@JimmyCYJ is the expert on the SDS part, hopefully he can help with why the secret cannot be found

[2019-06-13 19:30] therealmitchconnors commented on #14672
@howardjohn I am trying to discern the source of any flakiness.  If the flaky test failures occur evenly across all the cases, this would indicate either a cross-cutting source of flakiness.  In this case, the most common failure I am seeing is timeouts waiting for Kubernetes.  It is not clear to me how we can improve on this...

[2019-06-13 19:39] howardjohn commented on #14672
I don't think it is related to the timeouts? for example on https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/istio_auth_sds_e2e-master/1930, there are all of those tests that fail and then after that the test times out, if I am understanding it correctly. So it has a problem regardless of the timeout?

[2019-06-13 20:20] quanjielin commented on #9866
one recent flaky:
https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/e2e-simpleTests-master/1701

1. From [ingress-gateway logs](https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/14635/e2e-simpleTests-master/1701/artifacts/simple-auth-test-0d141f8764bb4912a8df/istio-ingressgateway-c97f7f6bd-5dl82_container:istio-proxy.log), seems cds update fails
[code]
@PiotrSikora , ``` i

[2019-06-13 20:21] #12444 closed

[2019-06-13 20:22] kyessenov commented on #11700
The last 5 failures:
https://prow.k8s.io/view/gcs/istio-prow/logs/istio-pilot-e2e-envoyv2-v1alpha3-k8s-latest-master/240 - boskos/mason infra issue

https://prow.k8s.io/view/gcs/istio-prow/logs/istio-pilot-e2e-envoyv2-v1alpha3-k8s-latest-master/241
Appears to be a legitimate issue with TestGateway_HTTPSIngress. Connections are consistently refused from that point on, but there is nothing in the lo

[2019-06-13 20:32] therealmitchconnors commented on #14672
Yes, but the test cases that fail in 1930 don't appear to be flakes... it looks like legitimate failures to me, and we haven't rerun tests on that PR to see if the failures change.

[2019-06-13 20:36] philrud commented on #14695
The referenced doc contains the following errors:

1. As mentioned above, path to Istio charts indeed needs to be adjusted ```$HOME/istio-fetch/istio -> install/kubernetes/helm/istio```
2. VirtualService definition for the bookinfo service has a typo in the gateway name ```httpbin-gateway -> bookinfo-gateway```. This is what's causing 404 (referenced gateway doesn't exist, so the behavior is corre

[2019-06-13 20:56] ozevren commented on #14504
[](url)

[2019-06-13 20:56] #14504 closed

[2019-06-13 21:07] mbanikazemi commented on #13968
Sorry for late response. I think you need to direct traffic to your egress gateway. What you have in your virtual service says what to do with the requests that get there but to get requests from pods in your mesh to the gateway you need a virtual service. Something like the following:
[code]
frpm `https://istio.io/docs/examples/advanced-gateways/egress-gateway/`.
But the fact that this works for

[2019-06-13 21:16] esnible opened #14814 ""istioctl version" should document --short=false and --remote=false"
It isn't obvious to users that `istioctl version` allows short and non-remote output with `--short=false` and `--remote=false`.

Currently the help is:
[code]

(The current behavior is a hold-over from when the defaults were different and people had to use the options to enable the behavior.)

Updating the command definition in _pkg/version/cobra.go_ will automatically change https://istio.io/docs

[2019-06-13 21:53] #13818 closed

[2019-06-13 22:04] howardjohn commented on #14472
Merged into 1.2 via https://github.com/istio/istio/pull/14474

if this still needs work please reopen

[2019-06-13 22:04] #14472 closed

[2019-06-13 22:33] jacob-delgado opened #14817 "Wildcard destination rules are silently ignored when Spec.Host specifies a different namespace from its definition"
**Bug description**
Wildcard destination rules defined in a namespace for services in a different
namespace with exportTo=* are not globally exported, but are silently ignored.
This does not pertain to istio-system namespace.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[X] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[X]

[2019-06-13 22:38] nrjpoddar commented on #14817
What's the expected behavior when destination rules are defined using wildcards in a namespace other than the service (destination) or istio-global namespace? If we don't want to allow it, we should reject it in galley instead of silently ignoring it.

[2019-06-13 22:43] nrjpoddar commented on #14817
@rshriram can you clarify on the expected behavior?

[2019-06-13 22:57] icygalz commented on #14717
So i talked with Prow/tide experts and the culprit is highly likely to be: "run_after_success" mechanism.

We build the images as part of istio-presubmit test and all other tests will only be starter after istio-presubmit test pass. Each test will create a git clone/checkout with base_branch and the changes on that PR.

so let's call:
PR #14704 --> PRa
https://github.com/istio/istio/commit/6efd585

[2019-06-13 22:58] howardjohn commented on #14817
The behavior is pretty well commented here https://github.com/istio/istio/blob/7dd93b3f70ee1305dc7f258375fb0097a1781600/pilot/pkg/model/push_context.go#L479

If I am understanding right, this is expected. `foo` should not be able to set rules for default. The DR will either come from the caller namespace, destination namespace, or istio-system

[2019-06-13 23:08] yangminzhu commented on #12065
@ozevren could the test failed in the istio repo due to some resource issue in CircleCI? It never fails in the new repo since added about 1 month ago.

[2019-06-13 23:09] nrjpoddar commented on #14817
Thanks @howardjohn. Why is foo namespace not consider the calling namespace in this example? Is it because of wildcard hostname?

If you think the expected behavior is to ignore then we should reject the config via Galley.

[2019-06-13 23:12] howardjohn commented on #14817
It wouldn't always be ignored. If you are calling from the foo namespace, then those settings would apply. My understand is in this case those config dumps are from pods in the default namespace? Maybe I am mistaken though

[2019-06-13 23:13] ozevren commented on #12065
I am not familiar with the test, but if that is the case, then it points to a problem in the test itself then.

[2019-06-13 23:15] gargnupur opened #14819 "TestIngessToPrometheus_ServiceMetric is flaky"
**Bug description**
TestIngessToPrometheus_ServiceMetric is flaky.
This applies to all the tests under tests/integration/mixer/telemetry/scenarios_test.go as they try to do new bookinfo deployment for each test case.
**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ x] Policies

[2019-06-13 23:15] JimmyCYJ commented on #14180
https://github.com/istio/istio/issues/13439

[2019-06-13 23:16] nrjpoddar commented on #14817
If the exportTo is set to "*" and we have no Sidecar resources defined for config pruning, I would expect the cluster output to be the same in this case irrespective of whether I look in the pod of default or foo namespace. Isn't that correct?

[2019-06-13 23:22] geeknoid commented on #12065
This is likely still a problem, it's just less likely. Consider this PR that tried to fix it by adding a delay:

https://github.com/istio/pkg/commit/a1b70c634b1701b2837ec607d3c683be41dc440f

We need to implement a more deterministic approach to the test rather than waiting. I didn't realize this bug was here. Since this is code I wrote, I'll take over the bug and fix this.

As for the overall situ

[2019-06-13 23:23] howardjohn commented on #14817
I don't believe so. If you want to create global rules you should create them in `istio-system` (really the config RootNamespace but that is istio-system by default). Someone in the `foo` namespace should not be able to configure settings from `bar`->`default` traffic

[2019-06-13 23:24] gargnupur commented on #14494
Don't see this as flaky in https://testgrid.k8s.io/istio-postsubmits-master#integ-mixer-k8s-postsubmit-tests&sort-by-flakiness=. But the number of results are really less to make a proper decision.
Will wait for a day or two more to close this bug.

[2019-06-13 23:28] ozevren commented on #14494
The Postsubmit page is missing entries because of a missing JUnit report
creation step. There might still be some failures. While not as clean as
the postsubmit, presubmit is showing some failures:
https://testgrid.k8s.io/istio-presubmits-master#integ-mixer-k8s-presubmit-tests&sort-by-flakiness=

On Thu, Jun 13, 2019 at 4:25 PM Nupur Garg <notifications@github.com> wrote:

[2019-06-13 23:32] nrjpoddar commented on #14817
I see. We verified (thanks @jacob-delgado) the behavior and it aligns with your explanation. Here's what we saw:

1. Any DestinationRules defined in the client namespace (i.e. not in target namespace) with exportTo set to "*" is equivalent to setting exportTo to "." as only sidecars in client namespace get that configuration. Inspecting the Envoy config in the client namespace did show the correct

[2019-06-13 23:34] JimmyCYJ commented on #14773
@howardjohn @douglas-reid Thanks for the response. I think we need these two SDS counters on by default. If customers hit a production issue with SDS, these counters are useful for debugging. Right now we don't have a convenient view of SDS secret pushes. Is it okay for me to add requiredEnvoyStatsMatcherInclusionSuffixes="ssl_context_update_by_sds", and pass it here?https://github.com/istio/istio

[2019-06-13 23:37] howardjohn commented on #14817
If you defined a DR with exportTo * in namespace `a`, and namespace `b` calls `a` it will should get that config. But if you set it to `.` it will not, as far as I know. So it seems like those are not equivalent, or am I misunderstanding?

[2019-06-13 23:39] howardjohn commented on #14773
@JimmyCYJ I think the required ones are actually **required**. Pilot-agent will not function without them, they can never be disabled.

So we could potentionally turn it on by default but cannot make it required

[2019-06-13 23:42] nrjpoddar commented on #14817
I should clarify:

Any DestinationRules defined in the client namespace (i.e. not in target namespace) **for the hostname set to the target namespace service or wildcard for the target namespace** with exportTo set to "*" is equivalent to setting exportTo to "." as only sidecars in client namespace get that configuration. Inspecting the Envoy config in the client namespace did show the correct set

[2019-06-13 23:42] pitlv2109 commented on #14778
With `-l`, I got
[code]
With `-L`, I got
[code]

So I think `-L` should be use in this context.

[2019-06-13 23:49] nrjpoddar commented on #14817
From the current docs https://istio.io/docs/reference/config/networking/v1alpha3/destination-rule/:

exportTo | string[] | A list of namespaces to which this destination rule is exported. The resolution of a destination rule to apply to a service occurs in the context of a hierarchy of namespaces. Exporting a destination rule allows it to be included in the resolution hierarchy for services in oth

[2019-06-13 23:50] pitlv2109 commented on #14801
I cannot reproduce this issue. Maybe your pilot is down? Do a `kubectl get pod -n istio-system` to check.

[2019-06-14 00:08] #12065 closed

[2019-06-14 00:25] thockin commented on #14778
OMG! i didn't know -L was a thing.  The version I tested yesterday must be old.  How embarrassing.

[2019-06-14 00:25] #14778 closed

[2019-06-14 00:52] howardjohn commented on #14242
[envoy-heap.tar.gz](https://github.com/istio/istio/files/3288575/envoy-heap.tar.gz)

Assuming in path /tmp/envoy, run with `PPROF_BINARY_PATH=/tmp/envoy/lib pprof -http :8080 /tmp/envoy/*` (if there is a better way please tell me, I just copied a bunch of stuff from the pod and threw it in the lib folder)

[2019-06-14 00:54] howardjohn commented on #14242
Also some more info on heap vs alloc:
[code]

[2019-06-14 01:28] #14745 closed

[2019-06-14 01:29] irisdingbj commented on #14788
[code]

[2019-06-14 01:34] yangminzhu commented on #11929
`e2e-pilot-noauth-v1alpha3-v2` seems failed due to the same reason (readiness/livness probe failed for galley and sidecar-injector.) for 1 time about a week ago: https://k8s-testgrid.appspot.com/istio-postsubmits-master#circleci-e2e-pilot-noauth-v1alpha3-v2&width=20

[2019-06-14 01:48] #14579 closed

[2019-06-14 01:55] howardjohn commented on #14745
I thought this was needed on 1.2 but I was wrong, so no cherry pick needed.

verified as well with:
[code]

[2019-06-14 01:58] irisdingbj commented on #14786
close this now as it has been fixed in golangci upstream already.

[2019-06-14 01:58] #14786 closed

[2019-06-14 02:00] hzxuzhonghu commented on #14795
We all adapted to vendor,  please do not remove it.

Just need to add a CI for it

[2019-06-14 02:02] Timoses commented on #11828
Is using `authority` indeed a **workaround**?

If so, why is that? Should not the ingress gateway strip away the `31380` and replace it with a `80` since the ingress traffic is destined for http (the NodePort specifically targets port `80`). This would correctly route the traffic into the cluster with the correctly destined port.

[code]

Likewise, port `31390` should be translated to `443`.

[2019-06-14 02:02] incfly opened #14828 "Improve how Istio citadel decides which set of namespaces to work on"
**Describe the feature request**
Citadel currently has two features to decide which set of namespaces to do secret controller loop.

one is to use command line flag `--listened-namespaces` for select a subset namespace to generate key cert.

The other is using a label [`istio-managed`](https://github.com/istio/istio/blob/master/security/pkg/k8s/controller/workloadsecret.go#L217).

These two mechan

[2019-06-14 02:04] incfly commented on #14828
fyi /cc @clyang82 @wattli @myidpt

[2019-06-14 02:05] hzxuzhonghu commented on #14811
/assign

should reject it during validation

[2019-06-14 02:13] incfly commented on #14828
/not-stale

[2019-06-14 02:18] hzxuzhonghu commented on #14817
DestinationRule should not reside in a different ns rather than Client and service ns or root config ns, which is meaningless .

[2019-06-14 02:35] nrjpoddar commented on #14817
I agree, but I’m suggesting that we shouldn’t allow DRs in client namespaces which have exportTo set to “*” and hostnames set to the target service in a different namespace.

[2019-06-14 03:47] geeknoid commented on #14795
@hzxuzhonghu Why do you think vendor is worth keeping?

[2019-06-14 03:51] hzxuzhonghu opened #14829 "MCP sink stream processing could block server send"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

As seen from here https://github.com/istio/istio/blob/0f775a4ba344351f83e887bf49bfaadc19c7fcd2/pkg/mcp/sink/sink.go#L188-L208

Client side will sta

[2019-06-14 04:55] aattuluri commented on #14801
I forgot to mention that other commands seem to work: **Ex:**
`istioctl proxy-config listeners` or `istioctl proxy-config clusters`

[2019-06-14 04:55] #11467 closed

[2019-06-14 06:06] SuperMohit opened #14830 "Mixer: Add password for Redis Handler for rate limiting"
[code]

  Redishandler only has redis URL. But no way to provide password and dbname.

[2019-06-14 06:15] hzxuzhonghu commented on #14795
Without vendor, users have to get all the vendors before compile, even just reading code requires all the vendors.

[2019-06-14 06:18] ekarlso commented on #14739
@JimmyCYJ any idea on this?

[2019-06-14 06:46] denniswebb commented on #7963
Are there plans to fix this or workarounds?

[2019-06-14 06:47] #14128 closed

[2019-06-14 07:02] hzxuzhonghu commented on #12074
/not stale

[2019-06-14 07:43] zephinzer opened #14833 "Kiali's `kiali.dashboard.passphraseKey` Helm config value not being picked up with `--set`"
**Bug description**
Helm value for `kiali.dashboard.passphraseKey` does not change expected key for Kiali.

**Affected product area (please put an X in all that apply)**

[X] Configuration Infrastructure
[X] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience

**Expected behavior**

Setting the `kiali

[2019-06-14 07:53] jkbschmid commented on #14736
Changing the port for DNS in the NetworkPolicy from 53 to 8053 solves the problem with the readiness probe.
The NetworkPolicy contains targets port 53 (which is the service port), but the actual targetPort on the container was 8053. Will dig a little further and see if the rest can also be fixed.
I noticed that if you

the DestinationRule, Gateway and VirtualService will all be applied in the defa

[2019-06-14 08:18] jkbschmid commented on #14736
Ok, applying the configuration to the 'test-egress'-namespace solves it.
In conclusion:
1) Mention that `REGISTRY_ONLY` should be configured for the Istio installation. Otherwise
  `Verify that your ServiceEntry was applied correctly by sending an HTTP request to http://edition.cnn.com/politics.` is pointless.
2) Use the DNS-service's target port in the NetworkPolicy, not sure if k8s always uses 8

[2019-06-14 08:26] suridaddy opened #14835 "istio sidecar injector limit too big"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
CPU limit(cpu 2000m) of istio sidecar is too big(much bigger than the CPU request value) which conflicts with namespace level quota limit design.

[2019-06-14 08:31] Stono opened #14836 "Pilot should internally perform validation when using Kube controller (no Galley)"
Hi,
Someone on my team deployed an invalid Sidecar configuration today and it sent pilot into a panic crash loop:

[code]

Notice how `defaultEndpoint` is at the wrong level (that's the only thing i could spot wrong).

It results in:

[code]

[2019-06-14 08:37] hzxuzhonghu commented on #14835
This is only a demo, for production env, users should tune many parameters including resource limit.

[2019-06-14 08:48] zkf9971 opened #15719 "Is it possible to enable the ssl passthrough for the istio-proxy sidecar like "tls: mode: PASSTHROUGH" ?"
We have a pod run a container, the sidecar istio-proxy enabled in this pod, and this container runs over https and locates behind a nginx ingress which ssl passthrough is enabled, the TLS connection is terminated in this container, it means that the end-to-end TLS is supported between the client and the container, we can access its service endpoint through the https protocol from the client with c

[2019-06-14 09:30] hzxuzhonghu commented on #14836
/assign

[2019-06-14 09:32] hzxuzhonghu commented on #14836
@Stono Which version do you use?

[2019-06-14 09:39] hzxuzhonghu commented on #14836
@Stono I tried and galley rejected the invalid Sidecar. And checked code the validation was added with sidecar implementation, so should not occur such panic.

Did you create sidecar resource without validating webhook?

[2019-06-14 09:44] suridaddy commented on #14835
@hzxuzhonghu where can I get the guide about how to tune the parameters?

[2019-06-14 09:48] hzxuzhonghu commented on #14835
have you read install guide>? may be it can help u

[2019-06-14 09:52] Stono commented on #14836
ahh.
I'm on 1.1.8, however we don't use Galley so don't have that validation.   Unless Galley becomes a mandatory component, I think pilot should share the same validation code and reject invalid config rather than crash.

I mean, pilot shouldn't crash like that in any case because even with galley, something invalid could in theory get through.

[2019-06-14 10:01] Amos-85 commented on #14593
I'm curious why don't you publish the index.yaml before the published versions in the url so we can get a dynamic version updates instead of lock the repo to specific version.

[2019-06-14 10:03] #12057 closed

[2019-06-14 12:17] shubhamitc commented on #14385
@douglas-reid prometheus running in control cluster is not able to do service discovery of pods running in remote cluster. I do understand the prometheus does not have much to do with istio however service discovery aspect of it has to be addressed.

Currently it looks like we need to give access of tokens and secrets for remote cluster to scrap them.

[2019-06-14 12:37] dweidenfeld commented on #4693
Any updates?

[2019-06-14 12:41] jmazzitelli commented on #14833
This is working as expected. That is no longer a valid value the kiali helm chart uses. That values entry has been removed from master and release-1.1 and is still gone in release-1.2 branch. So this is expected. Kiali expects the passphrase field to be literally "passphrase". See:

master PR commit: https://github.com/istio/istio/commit/0ee78b16ef43336f058b48921ca721d9d26adaae#diff-abe69812e356fe

[2019-06-14 13:24] Pothulapati opened #14839 "Add workload kind as an attribute"
**Describe the feature request**

If the workload `kind` is also a supported attribute, then there can be metrics to show based on the granularity i.e pod, service, deployment, etc. As there are already some attributes specific to kubernetes i.e uuid, etc, I was thinking adding this shouldn't be a problem. I think this will not only be useful for [SMI-Metrics](https://github.com/deislabs/smi-metri

[2019-06-14 13:28] GregHanson commented on #14835
@suridaddy this comment/issue has a list of some custom modifications people make:
https://github.com/istio/istio/issues/6037#issuecomment-487199282

[2019-06-14 13:38] esnible opened #14840 "Pilot /debug/authenticationz endpoint doesn't report statefulset hostnames"
To reproduce: `helm install --namespace test-istio --name abc stable/cockroachdb`

Then use istioctl to query /debug/authentication: `istioctl authn tls-check abc-cockroachdb-init-fj6rf.test-istio`

Alternately, ask Pilot directly:

[code]

I noticed this trying to debug why CockroachDB isn't working for me with Istio sidecar.  The logs show "failed to start gossip client to abc-cockroachdb-1.abc-

[2019-06-14 13:54] Sanjanare commented on #14625
@howardjohn if i remove ServiceAnnotations for the second gateway then it created load balancer. But we require serviceAnnotations to add certs and tags any clue why is it happening ?

[2019-06-14 14:13] esnible commented on #13279
@rafik8 is there a PR?

[2019-06-14 14:22] esnible commented on #14801
Both `proxy-status` and `authn tls-check` perform the equivalent of a `kubectl exec` into Pilot pods.  I suspect your cluster has disabled some access to the istio-system namespace.

Let us troubleshoot this and either fix it for you (if there is a bug) or improve the error message (if your cluster is tightly locked down).

Please report the output of `kubectl -n istio-system get pods -l istio=pil

[2019-06-14 14:33] ozevren commented on #14829
Have you observed this problem?

I thought we already have bigger default values for buffer sizes, explicitly set as parameters on the command-line.

[2019-06-14 14:36] howardjohn opened #14841 "Mixer fails to startup without Galley"
Installed with `--set global.useMCP=false --set galley.enabled=false`

Mixer policy and telemetry crash with logs

`2019-06-14T14:34:50.570279Z     error   istio.io/istio/mixer/pkg/config/crd/store.go:145: Failed to list *unstructured.Unstructured: the server could not find the requested resource`

Version: master-20190614-09-15

[2019-06-14 14:37] howardjohn commented on #14835
https://istio.io/docs/reference/config/installation-options/ has all the options

[2019-06-14 14:45] esnible commented on #8383
When I look at the injector configmap, `kubectl -n istio-system get cm istio-sidecar-injector -o jsonpath="{.data.config}"`, I see

[code]

Have we verified _gdb_ behavior with _global.proxy.privileged_ set to true?  If that isn't enough we should document how to add CAP_SYS_PTRACE to the sidecar injector configmap.

[2019-06-14 14:55] esnible commented on #14139
@richardwxn Do you have a design for this we can review?  Do you expect a PR for 1.2?

[2019-06-14 14:57] esnible commented on #13623
I suggest we also add tooling for istioctl to show the current multi-cluster configuration.  Possibly to interact with the operator and/or manipulate the config maps.  I made a proposal for the `istioctl mc` subcommand.  It was reviewed on a UX call that was not recorded.  Looking for feedback.  https://docs.google.com/document/d/19mQojPz0A6W56CE9iREjSfCXjrvCf_hkU-bw5trzRpI/edit

[2019-06-14 14:59] duderino commented on #6259
@silentdai could you describe your current progress and the remaining work?

[2019-06-14 14:59] esnible commented on #14150
Can you link me to the docs on what the 1.1 injection labels are?

[2019-06-14 15:00] howardjohn commented on #14795
How does having multiple branches work without vendor? If I hop between 1.0, 1.1 and 1.2 there are different dependencies, do I need to figure out all the dependencies every time I switch branches? Does it impact CI speed?

[2019-06-14 15:01] frankbu opened #14842 "Bookinfo reviews service not handling ratings timeout anymore"
After looking at the reviews service implementation, I see that the implementation has at some point been changed and does not work like it used to in the past. It used to call the ratings service and if the request timed out it would handle the error and then send back the properly formatted response body containing the reviews, but with the ratings set to indicate that they failed to load. That

[2019-06-14 15:04] howardjohn commented on #14593
@Amos-85 we aren't specifically against doing that or anything, we just haven't done it yet. The work is being tracked at https://github.com/istio/istio/issues/12974.

Spoke with some people and we hopefully made the docs more clear and the release is fixed so I am going to close this. Thanks

[2019-06-14 15:04] #14593 closed

[2019-06-14 15:09] roberthamel opened #14843 "Latest version went from 1.1.8 down to 1.0.8"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
We use a Bash command to determine the latest Istio version before executing the command from the documentation to download the latest version from

[2019-06-14 15:11] naphta commented on #13240
Having the same issue here; I've not tried putting the ServiceEntry in but it seems a bit untenable to have to specify every nature of traffic which is external to the mesh.

[2019-06-14 15:13] costinm commented on #8383
I believe we verified it is possible to use gdb from the node - and attach
to the process running in container. Delve (go debug) too.

Adding more privs to the injector is far from ideal - in particular given
that we want to move the other way around and reduce the privs and
eventually
the injection ( using CNI instead ).

I would close this bug.

On Wed, Jun 12, 2019 at 4:04 AM Steven Dake <notif

[2019-06-14 15:19] billbertrand commented on #13781
Same issue in K8 not in AKS.

curl: (6) Could not resolve host: httpbin.bar.global

apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
  labels:
    addonmanager.kubernetes.io/mode: EnsureExists
data:
  Corefile: |
    .:53 {
        errors
        health
        kubernetes cluster.local in-addr.arpa ip6.arpa {
           pods insecure
           upstream /etc/resolv

[2019-06-14 15:24] rafik8 commented on #13279
@esnible, just back from my vacation. I ll pushed tonight.

[2019-06-14 15:27] howardjohn commented on #14625
The ServiceAnnotations are purely a Kubernetes/AWS thing though, not Istio right? Can you create other services (like the httpbin one) with the annotations?

Sorry I don't just want to say "Its not Istio's problem" but I don't know how to help otherwise because I am familiar with Istio but not AWS

[2019-06-14 15:29] #11758 closed

[2019-06-14 15:32] Sanjanare commented on #14625
@howardjohn thanks for the quick response np , i will check that

[2019-06-14 15:35] sdake commented on #14792
Thank you for the report.  I will do what I can to get this backported to 1.1, and this has just now been merged to 1.2/master.

Cheers
-steve

[2019-06-14 15:48] ekarlso commented on #14739
Shouldnt it listen on 443 sni wheb secrets arr there?

[2019-06-14 15:52] aattuluri commented on #14801
Here is the output:
[code]

[2019-06-14 15:56] howardjohn commented on #14843
In a chronological sense, technically we release 1.0.8 after we released 1.1.8, although it is logically an older version. Unfortunately Github doesn't allow us to change the order of releases. We were concerned something like this would happen as a result of that but as far as I know there isn't much we can do about it.

[2019-06-14 15:59] howardjohn commented on #14836
From the code it looks like we do call the validation, but for some reason this code is never called: https://github.com/istio/istio/blob/13cb3422ae47f95dfbc829a327724a56929cab3b/pilot/pkg/config/kube/crd/client.go#L375-L406

The code is pretty abstract though so its a bit hard to follow.

I agree we really need to make sure validation is done, there are probably tons of places that make assumptio

[2019-06-14 16:01] esnible commented on #14801
I see your istio-pilot pod has three containers.  Mine has only `2/2`.

Can you do `kubectl -n istio-system get pod <pilot-podname> -o jsonpath="{.spec.containers[*].name}"` so that I may see what your three containers are?

Can you try `istioctl proxy-status --log_output_level=debug` to help us track down which API call is failing.

[2019-06-14 16:07] Stono commented on #14836
@howardjohn more moving pieces more than anything else.  We've been using Istio as you know since way before components like galley existed.  We still aren't fully confident with what's deployed at the moment so adding another component to the mix felt like it was introducing more risk at a time where we had enough risk to manage.

Because we existed pre-galley, we have relatively tight CI/CD (we

[2019-06-14 16:08] aattuluri commented on #14801
We have another container called certagentw that delivers certs from a central CA.
[code]
[code]

[2019-06-14 16:19] roberthamel commented on #14843
Thanks for the reply. I will close this issue since has more to do with how GitHub handles current versions and, as you stated, technically 1.0.8 is the newest version. Not a big deal on our end since we can hardcode the version number, which provides a couple of advantages in itself.

[2019-06-14 16:19] #14843 closed

[2019-06-14 16:29] #9273 closed

[2019-06-14 16:35] #14695 closed

[2019-06-14 16:41] sdake commented on #14833
@jmazzitelli the docs may need an update for this PR?

[2019-06-14 16:42] duderino commented on #14707
@crazyxy can you make sure this gets into both the 1.1 and 1.2 branches?

[2019-06-14 16:43] sdake commented on #14811
@hzxuzhonghu during our conversation in the community testing day, we sort of thought the resolution field should be removed from the api, and instead resolution should be determined by pilot.

In the short term, rejection of the invalid config makes alot of sense.

Thoughts on the longer term approach?

[2019-06-14 16:48] howardjohn commented on #14242
[logs.zip](https://github.com/istio/istio/files/3291491/logs.zip)
Logs of 2 good proxies and one bad proxy. Seems that it is causing an infinite loop somewhere with redirects/iptables.. Probably related to https://github.com/istio/istio/issues/14443

[2019-06-14 16:51] douglas-reid commented on #14385
@shubhamitc why not run a prometheus in each cluster and use prometheus federation or some other strategy to achieve the same goal?

[2019-06-14 16:59] rlenglet commented on #14736
We shouldn't have to change the port to 8053. The port is not even configurable in resolv.conf, so clients always use port 53.

[2019-06-14 17:03] pitlv2109 commented on #14801
Maybe also check the Pilot's logs after you make the call?

[2019-06-14 17:04] howardjohn commented on #14242
Some more info - the applications have a readiness probe that hits /metrics. For some reason the good proxies don't even get requests to /metrics? Or they are not reported in access log at least. Will investigate that part further but I don't think it will lead us to the root cause.

However, the bad log shows this infinite looping only until "Envoy proxy is ready" is logged by pilot-agent

So the

[2019-06-14 17:19] esnible commented on #14801
Yes, check pilot's logs, perhaps something is causing it to panic.

Newer versions of istioctl (I'm testing with 1.2 RC 0) do the equivalent of `kubectl -n istio-system exec <pilot-pod> -- /usr/local/bin/pilot-discovery request GET /debug/syncz`.  _istioctl_ from 1.1.8 does `kubectl -n istio-system exec <pilot-pod> -- sh -c "GODEBUG= /usr/local/bin/pilot-discovery request GET /debug/syncz"`.  Also

[2019-06-14 17:20] howardjohn commented on #14242
[good.log](https://github.com/istio/istio/files/3291575/good.log) ahh. This is one with low memory usage but has the same infinite logging stuff.

[2019-06-14 17:27] geeknoid commented on #14795
When you don't use vendor, packages are stored in an invisible module
directory. Multiple versions of these packages exist, based on the hash or
version #. So you can switch branches all you want and you get the correct
version of the modules as specified in the branch's go.mod file. It
actually works well.

On Fri, Jun 14, 2019 at 8:01 AM John Howard <notifications@github.com>
wrote:

[2019-06-14 17:29] #11697 closed

[2019-06-14 17:29] pitlv2109 commented on #14714
I see there is a PR checked in. Should we close this issue? @quanjielin

[2019-06-14 17:47] rshriram commented on #14817
exportTo is independent of Sidecar. if you set exportTo, then its as @howardjohn says.. local namespace of the caller, owning namespace of the destination, and finally the config root namespace.

[2019-06-14 17:48] ozevren opened #14847 "Galley validation webhook may not get ready and block Galley readiness"
https://github.com/istio/istio/issues/11929#issuecomment-501935647

[2019-06-14 17:48] rshriram commented on #14817
you can build admission controllers for this. But this is not doable in the validation as there is no client/server in validation context.

[2019-06-14 17:51] ozevren commented on #11929
@yangminzhu
I opened https://github.com/istio/istio/issues/14847 to track that issue. Apart from that, are there any test failures that you are seeing?

[2019-06-14 17:54] rshriram commented on #14708
Envoy has a default auto codec for inbound listeners. It detects and upgrades to http2 if the client supports it. If not it falls back to http1. If you are seeing problems with this pattern, I suggest you report this to the envoy folks. They should be able to fix it quickly and we can pull the updated envoy.

[2019-06-14 18:04] ericvn commented on #14795
We can't remove vendor yet since it's actually used during the build iirc. Some more investigation to be done on the current build process.

[2019-06-14 18:05] ericvn commented on #14795
I don't believe we actually are doing as @geeknoid mentions else we would be broken as we were using Golang 10 for the builds up until yesterday.

[2019-06-14 18:07] sdake opened #14848 "ci/cd on circleci seems a little flakey"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

[code]

It appears when `kubectl create` occurs and `kubeapi ` is not yet operational,` kubectl` is not retried and the gig is up.

**Affected prod

[2019-06-14 18:13] howardjohn commented on #14242
Some don't have readiness probes. For future reference, it is these ones (1 == no readiness probe)

[code]

[2019-06-14 18:16] kyessenov commented on #14841
cc @ozevren @douglas-reid
I believe the plan was to remove the direct k8s config store from Mixer in 1.2.
We no longer test it AFAICT.

[2019-06-14 18:19] howardjohn commented on #14841
Related issue https://github.com/istio/istio/issues/14836.

[2019-06-14 18:19] ericvn commented on #14795
@hzxuzhonghu Without vendor you would only need to pull once to get the files into the go mod cache. But you are correct that you have to do it once to prime the cache so you can do some of the more advanced IDE things.

[2019-06-14 18:27] crazyxy commented on #14707
https://github.com/istio/proxy/pull/2277
https://github.com/istio/proxy/pull/2278

[2019-06-14 18:36] pitlv2109 commented on #8350
Any update on this work?

[2019-06-14 18:37] prune998 opened #14850 "stream_idle_timeout is set to 0s and never triggers"
**Bug description**

We're using Istio 1.1.7 as an Ingress Gateway on Azure AKS and we're seeing strange behaviour on TCP connexions never ending.

Our client (mobile application on Android using C++ GRPC lib) connect to the cluster through an Azure Basic Load-balancer (only LB supported by Azure) and connexions are sent to Istio Ingress Gateway.
For the moment our application does not use TCP kee

[2019-06-14 18:41] quanjielin commented on #14714
keep it open as there is more to be added.

[2019-06-14 18:42] ericvn commented on #14541
I would vote to have the command be `istioctl completion bash` and `istioctl completion zsh` as the _collateral_ noun is hidden.

[2019-06-14 18:47] JimmyCYJ commented on #14721
@howardjohn That is a good question. Currently, http://localhost:15000/certs does not differentiate certs fetched by SDS and certs fetched by file mount. It has limited information such as expiration date, and that is not a direct signal to differentiate dynamic certs and file mounted certs. We have filed https://github.com/envoyproxy/envoy/issues/7111 to make improvements at Envoy side. But stats

[2019-06-14 18:54] duderino commented on #14642
We fell a little behind here.  This will go out in 1.1.9 which I expect to publish on Monday 6/17

[2019-06-14 19:02] howardjohn commented on #14242
I think @silentdai finally found the root cause

Say we have a pod with ip 10.44.4.175.

Eventually I will have listeners `10.44.4.175:8080` which is the inbound and `0.0.0.0:8080` which is outbound.

But sometimes the outbound sends first, so the request goes to `0.0.0.0` instead

It doesn't find a matching route for `10.44.4.175:8080`, so it gets directed to passthrough cluster (NEW BEHAVIOR --

[2019-06-14 19:06] kyessenov commented on #14707
Can you please the docker container with the fix? I can validate it locally I think by deploying a secondary `productpage` pod.

[2019-06-14 19:11] sushicw commented on #13803
I was running into this issue in Istio 1.1.7, following the ["Authorization for HTTP Services"](https://istio.io/docs/tasks/security/authz-http) task.

Starting with the sample bookinfo app, and following the steps as given, after applying the serviceRoleBinding I continue to get “RBAC access denied” as an error.

If I modify the ServiceRoleBinding to use

[code]

instead of

[code]

then it works

[2019-06-14 19:12] kyessenov commented on #14795
@howardjohn
Modules are a standard part of the language now, so sooner or later vendor will have to go. There is no difference between keeping code in the vendor git directory, or in some shared infra cache, such as the one provided by the google module proxy. There are just two possible problems:
- module cache can go down (e.g. recent GCP outage brought it down); we need several alternatives, as

[2019-06-14 19:13] nmittler commented on #8350
@pitlv2109 I'm working on a rewrite of the native echo component using docker (#14614). Once that lands, this issue should be done (or very close).

[2019-06-14 19:28] andrewjjenkins commented on #12551
I think it's possible that #13666 addresses this by splitting inbound and outbound listeners, it looks like that is an implementation of my idea way back up here, that we talked about in Networking SIG but didn't get clear consensus on: https://github.com/istio/istio/issues/12551#issuecomment-474087161 .  That is slated to be an alpha feature in 1.2.  I will try to get some time and test it and re

[2019-06-14 19:30] esnible commented on #14082
(Accidentally closed because this is a Zenhub epic.  The work items are not visible in Safari).

[2019-06-14 19:33] yangminzhu commented on #13803
@sushicw Just to confirm, did you enable mTLS in Istio? The RBAC task is depending on this.

[2019-06-14 19:37] duderino commented on #14707
This made it into 1.1.9 which will be released on Monday 6/17.

It also will make it into 1.2.0 which most likely will be released on Tuesday 6/18

[2019-06-14 19:38] sushicw commented on #13803
@yangminzhu Yes, I think so. The RBAC task doc was a bit ambiguous: if you follow the link it provides to enable mTLS, there's "permissive mTLS" and "strict mTLS". I started with strict, then tried switching to permissive. It didn't seem to make a difference, although it's possible I did the switch wrong.

[2019-06-14 19:49] ozevren commented on #14788
@wattli Is this something that you can take a look? The crash is coming from the validation code within Pilot.

[code]

[2019-06-14 19:50] nrjpoddar commented on #14817
@rshriram it won't be relying on client/server semantics. It will only rely on inspecting a single DestionationRule resource.  For example we can reject this config:

[code]

as the DR lives in namespace `foo`, has `host` set to `*.default.svc.cluster.local` and exportTo set to `*`. The exportTo setting of `*` is what is misleading and incorrect in my opinion.

[2019-06-14 19:51] yangminzhu commented on #13803
@sushicw Thanks, we have updated the doc 1.2 to make it more clear to use the `strict mutual TLS profile`.

Would you mind to follow https://preliminary.istio.io/docs/ops/security/debugging-authorization/ and attach the logs during the debugging? This should help to identify the issue, thanks!

[2019-06-14 20:09] RaynDol commented on #14537
@howardjohn -

1.  Not sure if this is related to our scenario , but currently we are not using the 'inject` label for each pod as discussed before, is there a way somehow to make pilot (with some config) to reduce the amount of work (maybe there is things which is not necessarily needed for prod) ?

2. we are using virtual service for each pods , is there a way somehow to provide only one virtual

[2019-06-14 20:10] ericvn commented on #14795
This all said, we do need a linter for the short term. We build from the _vendor_ directory, not the cache, so someone putting a change into the go.* files won't really see the change during a build (they won't when building locally either (unless the set GO111MODULE=on or are using a non-standard dev path). Now that we have 1.12 in _master_ we can decide on the best way forward. I suspect we'll k

[2019-06-14 20:15] quanjielin opened #14853 "mtls fails with 503 in run long running test after nodeagent restart"
**Problem**
mtls fails with 503 in run long running test after nodeagent restart.

**Repro**
1. using latest master build, trigger long running test
2. restart nodeagent
3. run for a while, mtls fails with 503

**Root cause**
1. nodeagent recreate uds file when restart
2. new uds file fails to mount to istio sidecar container, which cause sds client side fail :
[code]

[2019-06-14 20:15] duderino commented on #14707
@kyessenov is this what you are looking for?  https://storage.googleapis.com/istio-build/proxy/envoy-debug-ae671c53f644061ab585b2c2e129dcbc46e918c0.tar.gz

[2019-06-14 20:17] kyessenov commented on #14707
This is a binary, which apparently doesn't run well in proxyv2 container. Is there istio PR that brings the new proxy in?

[2019-06-14 20:18] duderino commented on #14853
@quanjielin does the same thing happen with 1.1.8?

[2019-06-14 20:21] douglas-reid commented on #14841
FWIW, this was on the proposed roadmap for things to be dealt with in 1.2, but was never prioritized.

[2019-06-14 20:22] douglas-reid commented on #14848
can we update the issue description to include `(infrastructure issue)`? That will make it clear that the issue is not in the test logic itself.

[2019-06-14 20:23] pitlv2109 commented on #14788
@daleangus Could you share the steps to reproduce this error? How did you install Istio?, etc.

[2019-06-14 20:25] duderino commented on #14853
@quanjielin told me verbally that this is not a regression so it's not a release blocker.  Still high priority though so we'll get the fix into 1.2.1 and 1.1.10.

[2019-06-14 20:27] tjholwik commented on #14708
@rshriram  - thanks, I've post it now.

[2019-06-14 20:32] sushicw commented on #13803
@yangminzhu Yes, although I will probably not be able to provide it until Monday.

Best guess right now is that the "Strict mtls" installation assumes a totally fresh cluster, which is *not* what i gave it. (I've been re-using the same cluster across tutorial tasks, and initially had permissive mTLS). I probably got into an invalid state.

I'll try a totally fresh cluster on Mon & see if I can rep

[2019-06-14 20:55] incfly commented on #14495
Won't this obscure your security posture. You can't tell whether you traffic is encrypted or not, you need to look more CRD to understand system behavior. Also I remembered `ServiceEntry` does not respect namespace isolation somehow? @rshriram correct me if I'm wrong or that has been resolved.. It'll be a security compromise if someone in a separate namespace define a `ServiceEntry` with same host

[2019-06-14 20:59] howardjohn commented on #14817
So the scope of this is that the `foo-destinationrule` is equivalent to the same one but with `exportTo=.`. The rule is not invalid.

Is that right?

If so I don't know that we should reject a valid config just because it is misleading. The rule is not incorrect. If we could add a warning or something to the admission response that would be cool, but not sure we can. Seems like a handy feature for

[2019-06-14 21:03] howardjohn commented on #14537
Slack channel + instructions are on https://istio.io/about/community/join/. My email is my github name `@google.com`.

Using the [Sidecar](https://istio.io/docs/reference/config/networking/v1alpha3/sidecar/) config you can specify what config to send to each envoy. So you can specify that each pod should only get config for services in its own namespace for example.

I don't think consolidating VS

[2019-06-14 21:13] ShimiT commented on #14782
If some data is missing please let me know as currently we are blocked by `pilot` and cannot use istio.

[2019-06-14 21:17] RaynDol commented on #14537
Thanks, As we are **not** using side car yet for all the services I think this wouldn't help us to reduce the pilot memory consumption...

[2019-06-14 21:17] jkbschmid commented on #14736
Interesting, didn't know that yet.
The problem is NetworkPolicies reference container ports, not service ports (if my understanding is correct). In my cluster, for some reason service port 53 is mapped to container port 8053. Thus, even if clients target port 53, the port is mapped to the prohibited port 8053 and DNS requests from sidecars will fail.
IMO, adding a warning or troubleshooting sectio

[2019-06-14 21:19] howardjohn commented on #14537
It still would, say you have namespace X with all injected, but all other namespaces are not yet injected. The proxies in X will still get config for every service. But you can use the Sidecar resource and they will just get config for services in namespace X (or whatever you configure)

[2019-06-14 21:43] lizan commented on #14708
@tjholwik IIUC, you want envoy only serve HTTP/1.1, regardless what client support? If so this is not an envoy bug or issue, it is pilot always generating HCM with codec auto. cc @rshriram

[2019-06-14 21:49] myidpt commented on #14717
The findings here makes sense to me (though I don't know the details of how the testing system picks up the versions).
Seeing the failing test on PRa:
https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/14697/integ-security-k8s-presubmit-tests-release-1.2/141/build-log.txt
The log `This CA will not persist when restart` exists, but it's actually removed by https://github.com/istio/i

[2019-06-14 21:51] JimmyCYJ commented on #14739
@ekarlso @howardjohn sorry for the late response. From the gateway agent (ingress-sds) log, it show that it has pushed all key/cert to ingress gateway.

The gateway agent and ingress gateway proxy runs in the same pod. Each ingress gateway proxy only communicates to that gateway agent in the same pod. The log pasted at https://github.com/istio/istio/issues/14739#issuecomment-501845482 shows this p

[2019-06-14 21:52] howardjohn commented on #14717
Rescoped the issue to general prow issue, the citadel one was just a symptom of the problem as you mentioned

[2019-06-14 22:00] Vespinosa commented on #14430
Any update? We're seeing the same error using envoy with "ALLOW_ANY". `K8s 1.11.8`, `Istio 1.1.8`.

[2019-06-14 22:00] rlenglet commented on #14736
I'm currently trying to reproduce, and will comment afterwards.

[2019-06-14 22:07] sdake commented on #14848
@douglas-reid - ya, was going to suggest to @geeknoid to add an [Infrastructure Issue] to his bot.

[2019-06-14 22:21] sdake commented on #14792
https://github.com/istio/istio/pull/14844

[2019-06-14 22:22] myidpt commented on #8350
Downgrading it to P1. Jimmy is working on writing tests to increase the test coverage now.

[2019-06-14 22:42] sdake commented on #14848
@douglas-reid submitted request to @geeknoid in PR https://github.com/istio/istio/pull/14859 to add a `Base Infrastructure` area to the bot/github issue list/github bug template.

Cheers
-steve

[2019-06-14 22:43] howardjohn commented on #14242
In summary:
* There is a race condition in which inbound requests will get matched to the outbound listeners.
* These requests will then eventually be directed to the PassthroughCluster, which sends the request back to itself.
* Request will loop until it hits max retries (1024).
* This problem goes away once the inbound listeners are sent, BUT, during the startup phase the envoy ends up using a t

[2019-06-14 22:50] #14516 closed

[2019-06-14 23:24] rlenglet commented on #14736
I can't reproduce this on a GKE `v1.12.8-gke.6` cluster:
[code]

The `sleep` pod in namespace `test-egress` can resolve `edition.cnn.com` but can't access `https://edition.cnn.com/politics` as expected:
[code]

I restarted the pod before running this command, to be sure the DNS cache was empty in the pod.

Note that the IP addresses here are correct, e.g. when resolving from my laptop I get the sa

[2019-06-14 23:35] rlenglet commented on #14736
Even after injecting with a sidecar, the pod can still resolve `edition.cnn.com`:

**At step 13:**

[code]

So DNS traffic is allowed.

However, the curl fails, and that is not OK:
[code]

[2019-06-14 23:38] xiaozhongliu opened #14861 "istio-ingressgateway is running but has no listener on port 80"
**Bug description**
istio-ingressgateway is running but has no listener on port 80
[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience

**Expected behavior**
has listener on port 80

**Version (

[2019-06-14 23:45] jcetkov opened #14862 "mixer.policy.enabled not honored by helm in 1.2"
**Bug description**
when installing istio 1.2.rc1 via helm `mixer.policy.enabled==false` is not honored
the property is still documented at https://preliminary.istio.io/docs/reference/config/installation-options/#mixer-options

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[x]

[2019-06-14 23:49] jcetkov commented on #14862
my mistake, double `==` made it somewhere to my shell history

[2019-06-14 23:49] #14862 closed

[2019-06-14 23:56] rlenglet commented on #14736
The proxy's config seems fine from Pilot's viewpoint:
[code]
[code]

[2019-06-15 00:00] geeknoid commented on #14848
We can easily extend the template to add a new category. Do we need a new label to go with it, or is area/test-and-release sufficient?

What should the template text be? Considering end-users can see this, is "Infrastructure" adequate and understandable? Or maybe "Istio Build and Release Infrastructure"?

[2019-06-15 00:03] howardjohn commented on #14861
Can you look at https://github.com/istio/istio/issues/14739 and follow the debug steps I posted there?

Also look in pilot logs for `ACK ERROR`

[2019-06-15 00:03] sdake commented on #14848
I extended the template, but the text may not be correct.  I used `Base Infrastructure`.  I think `Infrastructure` might be better as base might be misconstrued to mean "the installer, the docs, or anything else:)".  I think a new label would be best, or a sublabel - for searching with zenhub.

Cheers
-steve

[2019-06-15 00:03] rlenglet commented on #14736
The `sleep` pods in the `default` and the `test-egress` namespaces have exactly the same listener configurations for the `edition.cnn.com` virtual host.

[2019-06-15 00:08] cscetbon commented on #12551
@andrewjjenkins, happy to test it whenever it’s out. Any idea when 1.2 is supposed to be released as GA ? I can test it using a RC version until it is

[2019-06-15 00:13] rlenglet commented on #14736
Even with connection logging at trace level, the sidecar doesn't log anything useful.

[2019-06-15 00:22] rlenglet commented on #14736
Even with the NetworkPolicy deleted, the pod in `test-egress` can't curl.

[2019-06-15 00:35] rlenglet commented on #14736
Adding the same ServiceEntry, Gateway, VirtualService, and DestinationRule as the `default` namespace into the `test-egress` namespace, and re-installing the NetworkPolicy, the pod can now curl edition.cnn.com via the egress gateway:
[code]

I checked in the egress gateway that it's accessing through the gateway.

[2019-06-15 00:38] rlenglet commented on #14736
So, to conclude my research:

1) **The DNS issue is not reproducible on a GKE v1.12.8-gke.6 cluster. This is most likely a bug in the Calico CNI on v1.14.0 clusters, not an Istio bug.**

2) **The instructions are missing the creation of the same ServiceEntry, Gateway, VirtualService, and DestinationRule resources in the `test-egress` namespace as in the `default` namespace, which makes steps 13 an

[2019-06-15 00:38] xiaozhongliu commented on #14861
[code]

[2019-06-15 00:40] rlenglet commented on #14736
@jkbschmid Please report the DNS thing as a bug in GKE v1.14.0. I will fix the docs to create the proper resources in the `test-egress` namespace.

[2019-06-15 00:48] mandarjog commented on #14242
This should be fixed by enabling filter chain separation.
Traffic coming from outside should not be subjected to outbound config.

[2019-06-15 01:03] howardjohn commented on #14861
ok not the same issue as the one I posted. Do you have a Gateway config? If so can you post it. Without one it will not listen on port 80

[2019-06-15 01:13] rlenglet commented on #14736
Actually, the only resource missing from namespace `test-egress` is the DestinationRule. The other resources are not required.

[2019-06-15 01:29] yangminzhu commented on #11091
To give a quick update on this, we were busy with a lot of other higher priority works (vulnerability issue, code mauve, 1.2 release, etc.) and didn't work on this actively so far.

We did check-in some prototype change in `istioctl experimental auth` with the target to make it easier to inspect and check security policy, but there is much more to do than this. We will have more time to work on th

[2019-06-15 01:51] vadimi commented on #12518
I'd be interested in this too, especially in `https_redirect` as with current implementation I cannot redirect http://foo.com to http**s**://bar.com

[2019-06-15 02:38] xiaozhongliu commented on #14861
@howardjohn Yes that's it! I reinstalled istio and thought the route configs to be still there.

This makes sense to me. While is this available in official doc? I get no impression.

[2019-06-15 03:14] howardjohn commented on #14861
https://istio.io/docs/tasks/traffic-management/ingress/

It will only listen on ports you configure, there are no default ports it will listen on

[2019-06-15 03:45] howardjohn opened #14866 "Pilot Pushes dashboard shows builderr"
The new pilot pushes dashboard tries to filter out senderr's, but doesn't filter builderrs.

This isn't a big issue at all, but its annoying because if they become present the colors shift. I got used to EDS being yellow, etc.

If we do want the builderrs we probably want senderr as well

[2019-06-15 04:36] geeknoid commented on #14795
Can we switch everything on master to Go 1.12? Then we can disable vendor.

We're already on the no-vendor go module plan in other repos.

[2019-06-15 04:39] #14760 closed

[2019-06-15 04:42] howardjohn commented on #14795
I think @costinm  has some strong opinions on this, may want to get his opinion before we make such a change

[2019-06-15 07:04] vadimeisenbergibm opened #14870 "Cluster ports config is not scoped by the Sidecar resource"
Steps to reproduce the bug:
create a sidecar resource to limit egress traffic to the `default` and `istio-system` namespaces, and to `httpbin.org` port 80:

[code]

Define a service entry for port 80 and 443:

[code]

Define a destination rule for port 443, for httpbin.org:

[code]

Dump cluster info. The following cluster appears for a pod in the default namespace:

[code]

The expectation is tha

[2019-06-15 07:36] rlenglet commented on #14327
The solution should be to give a higher priority to the `istio-cni-node` pods using [priorityClassName](https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#pod-priority) in the DaemonSet spec. [`priorityClassName: system-node-critical`](https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/) is the highest priority and would be appropr

[2019-06-15 07:40] rlenglet commented on #14327
Just in case, for running on older k8s versions, we should also set the [`scheduler.alpha.kubernetes.io/critical-pod: ""` annotation](https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/), which will be deprecated.

[2019-06-15 07:58] rlenglet commented on #14327
Sent a PR to do that: https://github.com/istio/cni/pull/126.

There is still a race condition with Calico. `istio-cni-node` should wait for Calico to start before installing the Istio CNI plugin.

[2019-06-15 09:44] Liv1020 commented on #14551
@howardjohn can you help me？

[2019-06-15 10:41] #14234 closed

[2019-06-15 11:01] geeknoid commented on #14052
Dupe of #14125

[2019-06-15 11:01] #14052 closed

[2019-06-15 11:37] geeknoid opened #14871 "PolicyBot: implement support for Member policies"
Display the set of organization members
See all members out ot SLO
Controls to remove out of SLO members from the organization (sending email to the individuals in the process)

[2019-06-15 11:41] geeknoid opened #14872 "PolicyBot: implement support for a Feature Hub"
Display the set of known product features (discovered by groveling the source tree)
Show test plans for features
Show coverage levels for features

Related to https://github.com/istio/istio/issues/14051

[2019-06-15 11:44] geeknoid commented on #13429
What's left here?

[2019-06-15 11:44] #13429 closed

[2019-06-15 11:51] geeknoid commented on #12362
Should be able to do this as a script checked into istio/common-files.

[2019-06-15 12:02] geeknoid opened #14873 "Switch Istio repos to mergify"
We need to finish migrating Istio repos to mergify and disable Tide.

[2019-06-15 12:04] geeknoid opened #14874 "Move Galley to its own repo"

[2019-06-15 12:05] geeknoid opened #14875 "Move Pilot to its own repo"

[2019-06-15 12:06] geeknoid opened #14876 "Move Mixer to its own repo."

[2019-06-15 12:07] geeknoid opened #14877 "Move Citadel to its own repo"

[2019-06-15 12:11] geeknoid commented on #12919
We'll switch to mergify and get this behavior. #14873

[2019-06-15 12:11] #12919 closed

[2019-06-15 12:16] geeknoid opened #14878 "Design and implement mechanism to visualize perf"
Given the performance data we will collect as a result of #14126 , we need to be able to visualize perf of individual benchmarks over time, understand regressions and improvements, etc.

This can either be done by adding a bespoke visualization mechanism in PolicyBot, or more likely we can integrate with https://mako.dev.

[2019-06-15 12:22] geeknoid opened #14879 "Design and implement mechanism to track and enforce code coverage gates"
Proposed plan:

- Introduce a file in each repo called coveragegates.yml containing a list of packages or features within the repo with their expected coverage numbers.

- Collect coverage data for unit, integration and E2E tests, and store this data in persistent storage (could be GCS like prow or in Spanner)

- Introduce a CI step that compares the observed coverage results with the content of c

[2019-06-15 13:25] tiswanso commented on #14327
@rlenglet -- the install-cni script will detect its CNI config getting clobbered from the conflist and/or the conflist file being preempted by a new conf file.  Upon detecting that it will exit and on restart redo the istio-cni config logic to create or add to the cni conflist file.

So, the ordering scenarios I see here are:
1.  calico -> istio-cni -> app pods
     - this is the normal and best c

[2019-06-15 13:47] howardjohn commented on #14122
are we going to use prow in other repos?

[2019-06-15 13:54] howardjohn commented on #14870
I think it's just the port part isn't implemented yet, I've seen some TODOs in sidecar.go

[2019-06-15 14:39] geeknoid commented on #14122
That's the plan. Prow everywhere, no CircleCI.

[2019-06-15 15:14] sdake commented on #14848
This appears to be a general problem with either the infrastructure or the test case implementation (the test cases should retry a few times and then give up IMO).  Here is a e2e_simple PR failure in circleci:

https://circleci.com/gh/istio/istio/444632?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-06-15 15:32] rlenglet commented on #14327
OK, that's good.

The issue we have is that we're not a "real" CNI. If we were a real CNI, the pods wouldn't be able to start until our CNI plugin is installed.

Another way to deal with this would be scan all existing pods on the node and update iptables for all running injected pods? That would allow us to upgrade the CNI too, after the injected pods are started.

[2019-06-15 15:35] rlenglet commented on #14327
I like that idea.
I would prefer to avoid restarting `istio-cni-node` as much as possible, since it uninstalls the CNI plugin when it exits, and we may miss pods starting at that time, so if we could eliminate this condition for restarting that'd be great.

And if we re-injected iptables redirect into existing pods when we restart, that would mitigate this issue even further.

[2019-06-15 15:46] strideynet commented on #14661
I'd like to look into implementing this. Just need to familiarise with the Istio codebase.

[2019-06-15 16:47] ekarlso commented on #14739
@JimmyCYJ could I give you a config dump on slack possibly ?

[2019-06-15 16:54] ekarlso commented on #14739
curl -v -k -I -L -X GET --resolve helloworld.example.com:443:127.0.0.1 https://helloworld.example.com
* Added helloworld.example.com:443:127.0.0.1 to DNS cache
* Rebuilt URL to: https://helloworld.example.com/
* Hostname helloworld.example.com was found in DNS cache
*   Trying 127.0.0.1...
* Connected to helloworld.example.com (127.0.0.1) port 443 (#0)
* found 148 certificates in /etc/ssl/certs/ca

[2019-06-15 17:10] ekarlso commented on #14739
So I investigated the secrets we use (Certificate manager based) which drops in secrets that are so called "tls" secrets in Kubernetes which has tls.key and tls.crt keys, I thought this might affect my tls listener so I re-created the secret to have a "key" and a "cert" element as a normal secret and renamed the credentialName on the actualy gateway to use the new secret. This didnt help either.

[2019-06-15 17:24] #14543 closed

[2019-06-15 18:03] sdake opened #14884 "envoy segfaulted in the gate"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
envoy segfaulted - @howardjohn indicated this segfault is not previously known.

**Affected product area (please put an X in all that apply)**

[X]

[2019-06-15 18:15] krishnadurai opened #14885 "Istio Virtual Service with Ingress Gateway is Reporting 403 with RBAC Authorization"
**Bug description**

I've followed Authorization [guide](https://istio.io/docs/tasks/security/rbac-groups/) to setup RBAC policies to httpbin service.
Additionally, I've gone on to test this setup for requests through ingress gateway by applying the below configuration. I get a `403` based on the below config when I try to hit the API from the internet with
`curl --header "Authorization: Bearer $T

[2019-06-15 18:37] #9595 closed

[2019-06-15 19:17] sdake commented on #14884
This seems to be part of the cause of the segfault:
[code]

[2019-06-15 19:31] ozevren commented on #14048
Here is a brief design doc for this: https://docs.google.com/document/d/1Kx7v1D74ge80_o7Cz6OMavvlObSIrj6I_8yfZbs4gj4/edit

[2019-06-15 19:32] ozevren commented on #14051
@therealmitchconnors I believe you're currently working on this. If not, please feel free to unassign.

[2019-06-15 19:37] #9605 closed

[2019-06-15 19:54] ozevren opened #14887 "Implement a conformance suite"
Design and implement a conformance suite that can be used to ensure the behavior that is implied by our APIs.

This entails:
- Coming up with the right data model for describing inputs & behavior.
- Implementing the core test infrastructure & driver code.
- Implementing the actual test cases.

A basic data model PR that bootstraps this approach is here: https://github.com/istio/istio/pull/14673
It

[2019-06-15 20:03] sdake opened #14888 "lint gate consistently failing"
I ran golint on my server (128gb ram, 32 cores):

[code]
16355.8MB wll surely exhaust circleci which is limited to just 16GB.

In addition, make and shell is running that need some memory availability.

[2019-06-15 20:08] sdake commented on #14888
no GOGC flag with -j=8:
[code]

[2019-06-15 20:16] sdake commented on #14888
no GOGC flag with -j=1:
[code]

[2019-06-15 20:17] therealmitchconnors commented on #14051
I have been, but I'm 100% on the 1.2 release for another three weeks...

On Sat, Jun 15, 2019, 12:32 PM Ozben Evren <notifications@github.com> wrote:

[2019-06-15 20:20] sdake commented on #14888
+env GOGC=25 golangci-lint run ${FIX} -j 8 -v ./...
[code]

Looks like running with more CPU cores leads to less memory usage, possibly because the GC can do more work.

[2019-06-15 20:24] sdake commented on #14888
+env golangci-lint run ${FIX} -j 8 -v ./...
[code]

Raw -j8 without more aggressive GC ratio uses a little more memory than -j=1 flag.  No real value in setting `-j=1`.

[2019-06-15 20:36] sdake commented on #14888
1.17.1 doesn't look better with memory consumption:
 env GOGC=25 golangci-lint run ${FIX} -j 8 -v ./...
[code]

[2019-06-15 20:44] sdake commented on #14888
+env GOGC=15 golangci-lint run ${FIX} -j 8 -v ./...
[code]

GOGC under 25 has very minimal returns on memory.  Looks like the memory footprint of golangci-lint with our repo is about 15mb..

[2019-06-15 21:19] sdake commented on #14888
A binary search of `GOGC` for memory consumption with `-j 8` flag:
`BAD` +env GOGC=62 golangci-lint run ${FIX} -j 8 -v ./...
[code]
`BAD` +env GOGC=44 golangci-lint run ${FIX} -j 8 -v ./...
[code]
`BAD` +env GOGC=34 golangci-lint run ${FIX} -j 8 -v ./...
[code]
BAD  +env GOGC=29 golangci-lint run ${FIX} -j 8 -v ./...
[code]
BAD  +env GOGC=27 golangci-lint run ${FIX} -j 8 -v ./...
[code]
BAD   +env

[2019-06-15 21:28] howardjohn commented on #10402
This is no longer an issue with the README - looks like we don't link to any repo anymore and just give instructions for local repo - which is good as this is developer facing

For user facing docs see https://istio.io/docs/setup/kubernetes/install/helm/

[2019-06-15 21:28] #10402 closed

[2019-06-15 21:42] howardjohn commented on #11180
Fixed in #11183

[2019-06-15 21:42] #11180 closed

[2019-06-15 21:58] howardjohn commented on #14242
In its current state filter chain separation won't do this. Even though the virtual listener (the one that actually binds to the port) is split, they still use the same non-binding listeners.

I added this to Envoy, which gives new meaning to port `0` (which as far as I know does nothing with bind_to_port=false), with `0` meaning "any port":
[code]

Then added this to pilot
[code]

and the problem

[2019-06-15 22:20] howardjohn commented on #11072
Assumed fixed by https://github.com/istio/istio/issues/13436, as I have tested it and seems to work. If not please reopen

[2019-06-15 22:20] #11072 closed

[2019-06-15 22:32] howardjohn commented on #11845
You don't need the locality in the bootstrap, Pilot will already read from the node labels. https://github.com/istio/istio/blob/ed792dda8df438667ec80be319a296e0aca6584e/pilot/pkg/serviceregistry/kube/controller.go#L317

[2019-06-15 22:34] howardjohn commented on #14835
There is no limit set in 1.2, and you can configure it to whatever you want, so I don't think there is any work left here

[2019-06-15 22:34] #14835 closed

[2019-06-15 22:46] howardjohn commented on #14782
Memory is probably double counted due to https://github.com/istio/istio/issues/14705.

Good to know its without injected pods, that isolates the problem space.

So just from having 1.4k services in its registry, each pilot is using ~5 CPU and ~10GB of memory (probably half those numbers due to dashboard bug). Definitely higher than expected; I just created 1000 ServiceEntries and pilot used 50mb o

[2019-06-16 00:46] geeknoid opened #14891 "PolicyBot: Design and implement release checklists"
We have several multi-step processes we need to follow and repeat for every major release, every patch release, and every CVE. We should provide a lightweight infrastructure to track these to-do lists and make sure we do everything we should be doing.

Imagine a UI where the user selects one of:

  Track New Major Release
  Track New Minor Release
  Track CVE

Clicking on one of these creates a ne

[2019-06-16 07:14] su225 commented on #13466
I think the clean way to do this is as follows
1. Change helm chart to include `sinkAddress` and `sinkAuth` in Galley templates. This can be done safely without affecting other deployments.
2. Once the change is done, we can then pass `SetupConfigFn` to pass Helm values to config.

The code would be environment specific like you said. There are other minor concerns like setup MCP server before Ist

[2019-06-16 07:36] zephinzer commented on #14833
@jmazzitelli i see, thanks for this info!

[2019-06-16 07:36] #14833 closed

[2019-06-16 11:42] jmazzitelli commented on #14833
No docs need to be updated. We never documented these settings (aside from being in the values.yaml). The task that explain how to create the secret used the default values - see
https://istio.io/docs/tasks/telemetry/kiali/#create-a-secret So nothing to change there.

[2019-06-16 16:05] sdake opened #14897 "circleci racing between ns create via cli and via aply"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
CirlceCI seems to think that a create followed by an apply is a problem.  This is not desireable in kubernetes.

What is strange is this is a new er

[2019-06-16 17:37] ekarlso commented on #14739
@JimmyCYJ ?

[2019-06-16 17:53] skydoctor commented on #12400
@douglas-reid: Any thoughts on this?

[2019-06-16 21:43] JimmyCYJ commented on #14739
@ekarlso From your post https://github.com/istio/istio/issues/14739#issuecomment-502382252, the error is weird. I am not clear what would cause this error "gnutls_handshake() failed: Error in the pull function", I will discuss with you in slack channel for more logs and config dumps. @PiotrSikora could you please help to take a look? Is this error related to sni?

[2019-06-16 22:10] JimmyCYJ commented on #14739
The error "gnutls_handshake() failed: Error in the pull function" could happen when there is a firewall that blocks your request. Given that you send request to 127.0.0.1, I assume you sshed to the ingress gateway proxy container and run curl command from the container. Does your iptables allow you to talk directly to 127.0.0.1:443.
The curl command you used also carries a -k option, which means y

[2019-06-16 22:50] JimmyCYJ commented on #14739
Per discussion with @ekarlso in slack channel. The ingress k8s secrets are not created in the namespace istio-system, and gateway agent pushes fallback secret to the ingress gateway. Changing the namespace to istio-system could solve the problem.
One think I cannot explain is with fallback secret, why the curl command returns an error "gnutls_handshake() failed: Error in the pull function". The ex

[2019-06-16 22:50] #14739 closed

[2019-06-16 23:56] howardjohn commented on #14897
Are you talking about

I have seen this before a lot, even in my own usage. I think maybe when overriding mesh config, so maybe helm is making the config maps in a way that is different than apply? Not exactly sure.

[2019-06-17 00:27] esnible commented on #12807
Closing because handled by https://github.com/istio/istio/pull/14212

[2019-06-17 00:27] #12807 closed

[2019-06-17 00:35] JimmyCYJ opened #14899 "Improve security perf tests"
**Describe the feature request**

1. Make the helm values composable. Currently security perf tests use a separate values-istio-sds-auth.yaml file which is easy to get out of sync with the default values.yaml file. We need to provide a composable option to apply helm flag changes from values-istio-sds-auth.yaml to default values.yaml.

1. Add SDS for ingress gateway. Ingress SDS test is enabled in

[2019-06-17 00:41] howardjohn commented on #14899
I would recommend syncing up with @therealmitchconnors and/or @utka who are doing similar work

[2019-06-17 00:41] JimmyCYJ commented on #14899
/cc @myidpt @wattli

[2019-06-17 01:48] hzxuzhonghu commented on #14795
Also take those who can not access the vendors (like in private cloud or firewall stopping from accessing outside ) in to consideration,

[2019-06-17 02:40] hzxuzhonghu commented on #14811
According to the current validation, the resolution field has strong relationship with endpoints and host, if `resolution ` removed, has to infer from the endpoints and host field, but i am concerned, it is not easy to do validation then.

[2019-06-17 02:46] howardjohn commented on #14811
we would need a way to infer NONE resolution as well

[2019-06-17 02:53] hzxuzhonghu commented on #14829
Have not yet

[2019-06-17 03:59] hzxuzhonghu commented on #14242
But sometimes the outbound sends first, so the request goes to 0.0.0.0 instead

How could outbound listeners send first? In pilot, it first gen inbound listeners and then outbound ones.

If inbound listeners not received, the sidecar readiness probe will fail, and then k8s will not mark this pod an ready endpoint of the service, so it should not receive any requests, am i missing something?

[2019-06-17 04:03] howardjohn commented on #14242
Yes I forgot part of it, the application should have readiness probe. Then kubernetes will send requests before it is marked as ready (before inbound is sent)

[2019-06-17 04:03] hzxuzhonghu commented on #14242
oh, for the 2 doubt, i find pilot does not ignore not ready ones

[code]

[2019-06-17 04:09] hzxuzhonghu commented on #14242
Yes, according to func (c *Controller) updateEDS(ep *v1.Endpoints, event model.Event) {

we did ignore unready endpoints addresses

[2019-06-17 04:12] howardjohn commented on #14242
Does this mean that we only send the inbound listener after the it is
ready?

On Sun, Jun 16, 2019, 9:10 PM Zhonghu Xu <notifications@github.com> wrote:

[2019-06-17 04:37] iandyh commented on #14520
@howardjohn I am thinking adding this kind of validation to `Galley`. Because the right now the named service port requirements actually make will make deployment/service failed. What do you think?

[2019-06-17 04:41] howardjohn commented on #14520
what would the validation be? 443 must be https?

[2019-06-17 04:56] kcatstack commented on #11151
Might be a dumb question but @douglas-reid where do you view this log?
Also, my source.ip get some different encoding : `"source_ip"=>"\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\xFF\xFF\nA\x05\xA0"`
You might have any idea how can I extract value from this? Thanks

[2019-06-17 05:12] iandyh commented on #14520
@howardjohn This will be one. Moreover forcing all the `services` to have named ports(This is the hard requirement for Istio atm anyway.) ref: https://istio.io/docs/setup/kubernetes/prepare/requirements/

[2019-06-17 05:18] howardjohn commented on #14520
I may be wrong here but I think the validation we do in galley needs to be universally applicable. There is nothing wrong with specifying http on port 443 (probably a bad idea though). You also don't *need* a named port, it will just use tcp otherwise.

The port naming stuff is hopefully going away in the near future anyways.

I think it's a great idea for an admission webhook but not sure if it w

[2019-06-17 05:23] pc-rshetty opened #14900 "Istio retrying even though i havent configured retry"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

Ours a a financial application and we use Istio. We observed that Istio does a retry when the http request takes longer than 1 min and timeous.
We are working on making

[2019-06-17 05:39] iandyh commented on #14520
@howardjohn Right now Istio needs to understand the protocol from `service.name` and then apply relevant filters/plugins (https://github.com/istio/istio/blob/af876f2c754bce9103946ca1597f1c907b5a7f16////pilot/pkg/serviceregistry/kube/conversion.go#L219:6). Unless Kubernetes supports more protocol level at `service` level, I doubt istio can remove the above code any time soon. (I personally don't li

[2019-06-17 05:55] dweidenfeld opened #14901 "Path based basic auth"
**Describe the feature request**
I would expect that istio supports basic authentication for routing.

E.g. like this:

[code]
or
[code]

**Describe alternatives you've considered**
I thought about adding another NGINX proxy in front of the the service, but I do not really want to decrease the performance of each HTTP request by adding another layer.

**Affected product area (please put an X in al

[2019-06-17 06:10] hzxuzhonghu commented on #14242
no, it means downstream only send request to it once it is ready (after receiving the inbound listener).

[2019-06-17 06:42] pc-rshetty opened #14903 "Pilot resource limit in 1.1.8 is less than the request"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Pilot resource limit in 1.1.8 is less than the request
[code]
**Affected product area (please put an X in all that apply)**

[Y ] Configuration Infr

[2019-06-17 06:54] jkbschmid commented on #14117
`install.sh` has been removed with https://github.com/istio/installer/pull/232.

[2019-06-17 07:12] jkbschmid commented on #14736
@rlenglet

I don't think this is a bug in GKE, rather a misconfiguration of the NetworkPolicy for my setup, since container port and service port are not equal:
[code]

Out of curiosity, would you mind posting the output of
[code]
to see if this can explain why you could not reproduce the issue?

[2019-06-17 08:17] chenyb4 commented on #14658
@rookiefiend You need restart istio-pilot and istio-policy pod in istio-system

[2019-06-17 08:21] JediZ90 opened #14905 "Tracing issue | sometimes, sidecar not send span to zipkin"
**Bug description**
I deploy Istio 1.2.0-rc.1 or Istio 1.1.8, and enable trace, and deploy bookinfo.
Sometimes, zipkin only received one span.

On productpage,  proxy log:
[code]
On zipkin UI, only one span:
[code]

**Version (include the output of `istioctl version --remote` and `kubectl version`)**
[code]
**How was Istio installed?**
helm init
traceSampling: "100"

[2019-06-17 08:30] cscetbon commented on #12551
@andrewjjenkins, I tried to use that feature by setting (to an empty string, might be the reason) the annotation `sidecar.istio.io/inboundInterceptionSplit` in my StatefulSet. However it doesn't seem to do anything. I looked up for `inboundInterceptionSplit` in 1.2.0-rc.2 sources but did not find it. I did the same for the annotation `traffic.sidecar.istio.io/includeInboundPorts` which I found in

[2019-06-17 08:38] hzxuzhonghu commented on #14850
ref: #7428 #13515

[2019-06-17 09:21] c0d1ngm0nk3y commented on #14694
Any updates? The circleci tests are failing for quite some time now. In the meantime, the error seems to be another

[code]

Has the citadel error been fixed or is it just shadowed by this error.

[2019-06-17 09:23] rajusharma opened #14906 "Pilot log levels are not correct"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
When sidecar rejects any envoy config, pilot logs it as info level log.
Example log :-
[code]

**Affected product area (please put an X in all that

[2019-06-17 11:05] prune998 commented on #14850
Thanks @hzxuzhonghu. Was watching this PR already but linking it is a good catch :)

[2019-06-17 11:05] xDouglasx opened #14907 "Istio log entry Integer/Double value for Latency(response.duration)"
Hi, i'm trying to use istio logs to create alerts on CGP, doing well so far for all alerts, but i facing some problems to create alerts based on latency field.

apiVersion: "config.istio.io/v1alpha2"
kind: logentry
metadata:
  name: accesslog
  namespace: istio-system
spec:
  severity: '"Default"'
  timestamp: request.time
  variables:
    sourceIp: source.ip | ip("0.0.0.0")
    destinationIp: des

[2019-06-17 11:12] aliartiza75 opened #14908 "[istio/tracing] istio/tracing chart doesn't allow to add annotations for deployment"
Hello everyone.

I am working on a feature due to which I want to assign `annotations` to `istio/tracing` chart deployment but there are no options to add annotations at the deployment level.

I have looked at the following resources for reference:

* https://istio.io/docs/reference/config/installation-options/#tracing-options
* https://github.com/istio/istio/blob/4d5a0c33ad2a68987332b8099482e657c

[2019-06-17 12:00] tewner commented on #11365
Same here.

[2019-06-17 12:04] #10040 closed

[2019-06-17 13:08] esnible commented on #13279
@rafik8 Can you link to the PR?

[2019-06-17 13:31] vaastav commented on #11985
Hi, do you know what the issue behind this was? Was it just a configuration issue?
(I am only asking because I am doing a survey on distributed tracing in real systems.)

[2019-06-17 13:54] sdake commented on #14897
That is one of the problems, but this one actually blocked circleci's check.

What occured in the gate was a

kubectl create ns istio-system

followed by an apply of a makefile generated manifest.  The manifest "creates" an istio-system namespace via cat.  I am not sure how to create a namespace compatible with a further apply operation.  Once we sort out this problem, we can probably address it t

[2019-06-17 13:58] howardjohn commented on #14520
check out the doc "Better Default Networking
<https://docs.google.com/document/d/12Z_oFCFn3_rTWbQsuR1GmjU5_WZVkBTJwFpFMx802Ns/edit#heading=h.qex63c29z2to>
"

On Sun, Jun 16, 2019, 10:40 PM Andy Huang <notifications@github.com> wrote:

[2019-06-17 14:00] howardjohn commented on #14242
I see thanks. But there are still ways requests get sent to unready endpoints , specifically readiness probes and maybe others

[2019-06-17 14:08] esnible opened #14909 "Meshed workloads can't talk to K8s services with ports named "grpc""
Re: https://discuss.istio.io/t/port-named-grpc-lacks-listener-breaks-connection/2705

Meshed pods cannot not talk to CockroachDB because of port naming.  This is because the CockroachDB K8s Service uses a port named "grpc".  Changing the port name to "plain" fixes the problem.

I discovered the non-meshed clients could talk to this instance, but meshed pods cannot.

I installed CockroachDB outside

[2019-06-17 14:15] aaronmell commented on #14430
We have upgraded everything to run on on 1.12 and CoreDns. We haven't see the issue occur again.

[2019-06-17 14:25] howardjohn commented on #14841
Is fixing this wasted effort then? Will Galley be required in 1.3?

[2019-06-17 14:43] howardjohn commented on #14909
I used to have cockroachDB running but just ran it now and get the same issue. We have tests for grpc though, this may be a headless service + grpc issue

[2019-06-17 14:45] howardjohn commented on #14906
We report metrics for all of these as well (by the same name as the key in the json blob we log) if that is useful for you

[2019-06-17 14:47] c0d1ngm0nk3y commented on #14793
You mean the template of the configmap `istio-sidecar-injector` located at `kustomize/istio-control/istio-autoinject.yaml`, right?

Shouldn't it be possible to have an own `kustomization.yaml` referring to the existing files and patching the template property? Would that be an option?

[2019-06-17 14:48] howardjohn commented on #14908
We are transitioning to a new installer in the future (will be alpha in 1.2 and should be ready to go in 1.3 - highly recommend you try it out in 1.2) at https://github.com/istio/installer. This features Kustomize which will allow you to configure pretty much any setting you want.

With the current model, we have to add an option for literally every option in Kubernetes in order to satisfy everyon

[2019-06-17 14:50] howardjohn commented on #14897
But what is the actual problem this causes? As far as I know, its just a warning message

Even our demo install steps run into this warning but I have never seen any problems from it:

[code]

My understanding is apply is idempotent so it shouldn't cause any issues. Is this not the case?

[2019-06-17 14:53] howardjohn commented on #14903
The command you used is misleading, if the limit was actually less than the request kubernetes would reject the config.

Pilot has two containers.
discovery:
[code]

istio-proxy:
[code]

[2019-06-17 14:55] howardjohn commented on #14900
You should be able to configure with a virtual service. See https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#HTTPRetry

[2019-06-17 14:58] howardjohn commented on #10750
Envoy doesn't support windows, therefor Istio does not either. There is some work on Envoy side: https://github.com/envoyproxy/envoy/issues/129 but it is not ready yet.

Once that happens, not sure how much work would be needed to get Istio working. It would require someone interested in using it to work on it most likely (maybe you!)

[2019-06-17 15:04] esnible commented on #14909
@howardjohn The service isn't headless.  CockroachDB comes with two Services: *-cockroachdb which listens on 26257 and 8080, and *-cockroachdb-public which listens on exactly the same ports.  Both Services select the same workload.

(I have not yet been able to get the CockroachDB cluster itself up and running in an injected namespace, perhaps for the same reason.  Experiments ongoing.)

I know we

[2019-06-17 15:05] howardjohn commented on #12573
@nerusnayleinad guilty as charged, a lot of our docs are written by our devs and could use some improvements :slightly_smiling_face:. We have a ton of ongoing work on the docs side at https://github.com/istio/istio.io. There are at least 4 people I know of dedicating 80%+ of their time to the docs and have made a lot of improvements - especially the concept pages you mentioned, and they are focusi

[2019-06-17 15:05] #12573 closed

[2019-06-17 15:05] howardjohn commented on #12591
If the above didn't fix your problem feel free to reopen

[2019-06-17 15:05] #12591 closed

[2019-06-17 15:08] #14848 closed

[2019-06-17 15:11] howardjohn commented on #13321
@DragonSuper as Steve mentioned, I don't know of any current plans to add ARM64 support, but contributions are welcome
@Alxandr I believe Steve is referring to the CI checks. If we add support for ARM64 we would want to add it to our tests, and our CI may or may not support ARM (I am not sure if it does)

[2019-06-17 15:18] howardjohn commented on #14909
Maybe I'll have to look into it more, but I thought cockroach was using a statefulset which requires a headless service. Then there is a non headless service for clients

Maybe it has changed since I tested it out a while ago

[2019-06-17 15:19] pc-rshetty commented on #14900
@howardjohn i tried specifying following but that config gives me error
    retries:
      attempts: 0

[2019-06-17 15:20] howardjohn commented on #14793
yeah but the template is just a string, the templating is done in the injector at runtime. So I don't think Kustomize can handle that - if it can that would be great though

[2019-06-17 15:25] pc-rshetty commented on #14903
@howardjohn so if i understand there is no limits specified for discovery ? Is that not a problem

[2019-06-17 15:31] mikedanese opened #14913 "Citadel should set audience field when making a TokenReview"
From looking at the code, istio is not using an audience binding with it's Kubernetes service account token authenticator:

https://github.com/istio/istio/blob/master/security/pkg/k8s/tokenreview/k8sauthn.go

Citadel should designate an audience for itself and use the audience binding capabilities of the TokenReview API. See the "audiences" field:

https://github.com/kubernetes/api/blob/1d1b8b084b

[2019-06-17 15:52] nrjpoddar commented on #14817
"So the scope of this is that the foo-destinationrule is equivalent to the same one but with exportTo=." - @howardjohn yes that's exactly what I'm saying.

The rule is definitely misleading as you said, I will update the docs and yes vetter is also a great idea.

Can you clarify further as to why we cannot reject it in the admission controller? Is it because currently Galley only validates if the

[2019-06-17 16:00] howardjohn commented on #14903
yes there is no limit.

If you want a limit you can always set one yourself via the helm settings.

Whether it's a good idea to have no limit as the default is another question - that I am not sure of but am open to suggestions

[2019-06-17 16:01] esnible commented on #14909
The Service *-cockroachdb is Headless (Type is `None`).  It has a selector and three Endpoints coming from the three pods in the StatefulSet.

The Service *-cockroachdb-public is `ClusterIP`.  It has a selector and three Endpoints.

As I said, the port name keeps meshed clients from talking to the non-meshed CockroachDB.

I attempted to run CockroachDB in the mesh.  In addition to the StatefulSet

[2019-06-17 16:06] ozevren commented on #14841
That's the original plan. Besides, Mixer v2 plans make the current Mixer implementation obsolete. Unless there is a customer blocking issue, I'd suggest keeping its priority lower and punting it.

[2019-06-17 16:11] douglas-reid commented on #11151
@kcatstack you have to turn on debug logging for the right scopes in Mixer to see that log. I believe the scope is `api`, but it may be `attributes`.

the `source.ip` encoding issue was fixed. I don't know which release that fix was in, but it should be fixed.

[2019-06-17 16:12] douglas-reid commented on #11985
@vaastav i don't know any more, but given the timing on the issue, I suspect something else went wrong with the cluster.

[2019-06-17 16:14] douglas-reid commented on #12400
@skydoctor something to bring up at the next P&T working group meeting?

[2019-06-17 16:16] howardjohn commented on #14841
My question was (in my head only) more about #14836. It seems pilot doesn't do validation without galley but a lot of pilot code expects valid config. Is it worth messing with the direct kube crd reader to make it so validation?

[2019-06-17 16:19] ozevren commented on #14841
The plan is to remove the CRD code from Pilot and make Galley required. I don't think it is worth plumbing the validation in the (soon to be) old stack.

[2019-06-17 16:30] howardjohn commented on #14817
I disagree with you that it is wrong - it is `exportTo=*` will behave the same as `exportTo=.` in this case.

This is more of a warning case (which I don't think is possible in Galley, could be wrong though) - the config is valid but may give unexpected behavior. Personally I don't think that warrants a rejection, but I don't have a strong opinion on this.

[2019-06-17 16:34] ozevren commented on #13466
I don't you can land #1, as this was objected to by Environment WG lead earlier. Given we have the environment variable support in Galley config, we should be able to utilize that.

[2019-06-17 16:36] howardjohn commented on #14836
From @ozevren

[2019-06-17 16:49] #11454 closed

[2019-06-17 17:07] bianpengyuan commented on #14907
Could you try to use `latency` field in [httpRequest](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry#HttpRequest)? SD should be able to interpret it as duration string. Config wise It needs an extra mapping in stackdriver handler. See an example config here: https://github.com/istio/istio/blob/release-1.1/mixer/adapter/stackdriver/operatorconfig/stackdriver.yaml#L56-L94

[2019-06-17 17:15] bianpengyuan commented on #14905
Incomplete trace could be a transient state since proxy sends span individually. Do those traces stay incomplete over time? If yes, does this happen under heavy load?

[2019-06-17 17:25] Stono commented on #14836
If that plan is imminent then I would agree - but as far as I am aware, it isn't mandatory in 1.2.  Until then users not using Galley are able to crash the control plane simply by miss-typing some yaml.

So I suppose my question is what is "soon"?

[2019-06-17 17:31] jaygorrell commented on #10153
I'm seeing similar to this, but without any timeouts defined in my `VirutalService`. Here's the relevant cluster config that does show a timeout of 0:
![image](https://user-images.githubusercontent.com/12174604/59624089-dff7d000-9103-11e9-8b37-c731f1febc08.png)

I do have `VirtualService`s defined, which just have the following:
[code]

However, when making a call to this service using `--header '

[2019-06-17 17:38] sushicw commented on #13803
@yangminzhu I can confirm that with a completely fresh cluster, configured for strict mTLS, things work fine. If it's helpful I can diff against the "old" cluster, but I suspect that the root cause of my own trouble is that I mistakenly assumed that I could switch between "permissive" and "strict" mTLS by simply re-applying the corresponding yaml. That doesn't appear to be the case, and a bit more

[2019-06-17 17:52] nrjpoddar commented on #14817
Ok, Thanks for all your help and clarifying things for us!

[2019-06-17 17:55] rshriram commented on #14817
also, how will you do such validations when this is not kubernetes? you can't always assume that the namespace will be part of the DNS name. I could be creating destination rules for external services.

[2019-06-17 18:01] nrjpoddar commented on #14817
That's a very interesting question. Aren't we currently making this distinction in the Pilot code to look for DR definitions in the local namespace of the caller, then the target only if host maps to local service in K8s registry?

If the target is an external service we somehow are figuring it out in the Pilot code base.

[2019-06-17 18:03] venilnoronha commented on #9827
Okay, thanks for the heads up.

[2019-06-17 18:56] yangminzhu commented on #14885
Do you mean you receive 403 when accessing through ingress gateway with the following command?
[code]

It seems the ingress gateway doesn't forward the `Authorization` header to the httpbin service which caused the 403 rejection from the httpbin service.

We'll add native RBAC support to ingress gateway which allows you to specify a ServiceRole on the ingress gateway directly. The code is added in

[2019-06-17 19:06] mandarjog opened #14920 "Abort during shutdown of egress"
version: 1.2-rc.2

[code]

[2019-06-17 19:07] kyessenov commented on #14707
I tried RC.2 proxy in productpage and that resolved the seg fault, so this should be fixed in 1.2.

[2019-06-17 19:07] #14707 closed

[2019-06-17 19:17] GregHanson commented on #14900
@pc-rshetty can you provide the VirtualService and the corresponding error you got?  If I had to guess, this appears to be a bug in our validation logic.  Specifically in the validation webhook:
https://github.com/istio/istio/blob/master/pilot/pkg/model/validation.go#L2272
and how we attempt to detect whether to disable the default retries istio appends for each Route:
https://github.com/istio/ist

[2019-06-17 19:26] neeleshkorade commented on #11571
@nitishm @ostromart I ran into this too and figured it's due to some not-so intuitive way the PSP admission controller runs during mutating and validating phases. @mattmi88 has nicely explained it in this post-
https://github.com/istio/istio/issues/12231#issuecomment-479693483

And also consider the following snippet from the sidecar injector documentation here-https://istio.io/docs/setup/kubernet

[2019-06-17 19:48] aaronmell commented on #14430
Looks like I was mistaken, we are still seeing EAI_AGAIN Errors in the logs.  I double checked, and its only happening in environments where istio has been turned on.

[2019-06-17 19:54] jaygorrell opened #14923 "Envoy x-envoy-upstream-rq-timeout-ms header on individual request being stripped out"
**Bug description**
Making requests to a service with no VirtualService (or with a VirtualService with no timeout configured) that includes `x-envoy-upstream-rq-timeout-ms` does not take effect. The service responds successfully after its normal amount of time.

This should work, per https://istio.io/docs/tasks/traffic-management/request-timeouts/

Relevant cluster dump info for the route
[code]

[2019-06-17 19:56] jaygorrell commented on #10153
New issue for the above: https://github.com/istio/istio/issues/14923

[2019-06-17 20:02] pc-rshetty commented on #14900
@GregHanson  this is how my original virtual service (in helm templates ) looks like
`apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: pcb-service
  namespace: pcb-app
  labels:
    app.kubernetes.io/name: {{ include "pcb-service.name" . }}
    helm.sh/chart: {{ include "pcb-service.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io

[2019-06-17 20:05] pc-rshetty commented on #14900
Also then i tied just specifying the retry
    retries:
      attempts: 3

This works , but i am back to square 1 since when i give this
    retries:
      attempts: 0

then i get this error

error: virtualservices.networking.istio.io "pcb-service" could not be patched: admission webhook "pilot.validation.istio.io" denied the request: configuration is invalid: 1 error occurred:

* attempts must be

[2019-06-17 20:07] pc-rshetty commented on #14900
So seems like i have to give atleast 1 like this
retries:
attempts: 1

But i dont want it to retry at all

[2019-06-17 20:12] GregHanson commented on #14900
@pc-rshetty yes, definitely a bug.  I submitted a PR here:
https://github.com/istio/istio/pull/14925

[2019-06-17 20:13] howardjohn commented on #14900
https://github.com/istio/istio/blob/d557ad36c9ad254355ff33e651e7de680fa5dc3f/pilot/pkg/networking/core/v1alpha3/route/retry/retry.go#L68-L71

looks like internally we support this but validation is too extreme

[2019-06-17 20:34] silentdai commented on #14920
@mandarjog Why envoy is restarting? I am asking because the direct cause is epoch 1 envoy cannot send msg through domain socket to epoch 0 envoy. THe errno 111 on domain socket indicates the epoch 0 envoy was not acting correct. Maybe pilot-agent should not restart envoy in this condition.

[2019-06-17 20:34] howardjohn commented on #14705
@douglas-reid is it possible to change the prometheus config instead of each query? Even if our dashboards are fixed, other people use their own dashboards, do ad-hoc queries, etc

[2019-06-17 20:47] varungbt opened #14930 "Telemetry information not found"
**Bug description**
Cannot find telemetry information for destination service vbergbauer-speedtest

![image](https://user-images.githubusercontent.com/4632477/59533602-a29c0400-8eb1-11e9-8d04-55cb25a52e9b.png)

I have the above setup functional where the traffic flows from the istio ingress gateway to nginx contoller and finally to the speedtest service, however I do not see the required telemetry

[2019-06-17 21:02] #14900 closed

[2019-06-17 21:13] howardjohn opened #14932 "Pilot exposes metric pilot_virt_services but never sets it"
Pilot has a metric `pilot_virt_services`, but it is never actually set. This is also in the dashboard so it is misleading.

I am fine with not having it if it isn't feasible due to some code changes or something, but we should remove it from the dashboard if that is the case.

[2019-06-17 21:24] howardjohn commented on #14782
From some profiles sent to me:

`route.CombineVHostRoutes` usage is crazy high. 33% of allocations were from there.
`DefaultSidecarScopeForNamespace` mostly in the VirtualService part also uses another 27%, so total of 60% of memory on virtual service related stuff.

So do you have one VS for each pod, so ~1250 of the VS with 8 routes?

[2019-06-17 21:25] josejulio opened #14933 "External ServiceEntry with HTTPS protocol appears as TCP"
**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[X] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastrcture

**Expected behavior**

Data is expected in `istio_requests_total` when using a ServiceEntry with pro

[2019-06-17 21:53] howardjohn commented on #14782
ok created 1000 VS. Each gateway is using 5-600Mb, pilot is using 2gb. So a a lot but not as much as you see. I don't see `route.CombineVHostRoutes` or `DefaultSidecarScopeForNamespace` using any substantial amount

[2019-06-17 22:11] howardjohn commented on #14389
This will be fixed now. 1.2 has the flag, and in 1.1 we allowed unknown flags

[2019-06-17 22:11] #14389 closed

[2019-06-17 22:12] howardjohn commented on #13898
Got merged in https://github.com/istio/istio/pull/14880

[2019-06-17 22:12] #13898 closed

[2019-06-17 22:13] howardjohn commented on #13288
Fixed by https://github.com/istio/istio/pull/14206

[2019-06-17 22:13] #13288 closed

[2019-06-17 22:14] josejulio commented on #14065
Kiali builds the graph from the telemetry data, from the image it looks like Kiali found more than one time-series for `istio_tcp_sent_bytes_total` that have `destination_service="connectors-example-dev.azurewebsites.net"`

Could you query prometheus to check what time-series are being stored there?
`istio_tcp_sent_bytes_total{destination_service="connectors-example-dev.azurewebsites.net"}`

[2019-06-17 22:16] howardjohn commented on #8383
Removed from docs, and still possible to attach from the node. I think safe to close

[2019-06-17 22:16] #8383 closed

[2019-06-17 22:34] howardjohn commented on #12738
Seems to me to be a duplicate (in terms of work to be done) of https://github.com/istio/istio/issues/14817, just need to update docs for the DR resolution

[2019-06-17 22:37] howardjohn commented on #13385
This is fixed in the new 1.17 version

[2019-06-17 22:48] aaronz1414 commented on #10397
Could an explanation of why adding the port into the service spec works be given (or a link to documentation that would help explain)? I just ran into this same issue, and would like to understand why this fix worked (it worked for me as well) so that I can understand istio better - I've been having trouble finding something that helps me make sense of this.

[2019-06-17 22:50] howardjohn commented on #13448
Fixed by https://github.com/istio/istio/pull/14776

[2019-06-17 22:50] #13448 closed

[2019-06-17 22:52] howardjohn commented on #13236
1.1.2 was a bit of a weird release as we just changed the proxy image I believe, so the commit Id was the same.  So you could checkout 1.1.1 or 1.1.2 since they are the same.

I assume this is not relevant anymore since we are well past 1.1.2, sorry we didn't get to this earlier. If it is still relevant please reopen

[2019-06-17 22:52] #13236 closed

[2019-06-17 23:02] douglas-reid commented on #10397
@aaronz1414 Please see: https://istio.io/docs/setup/kubernetes/prepare/requirements/

[2019-06-17 23:03] yangminzhu commented on #13803
Thanks and glad it works now, let me know if you have other questions.

[2019-06-17 23:03] #13803 closed

[2019-06-17 23:07] douglas-reid commented on #14705
@howardjohn other people will have their own prom configs too, no? i'm not sure what you are suggesting exactly. This seems to be an issue with new clusters now having new service(s) exposed. If/when we retire support for old k8s versions, I guess we could remove a job (provided all info came from elsewhere moving forward). For now, I'm not sure we have that option.

[2019-06-17 23:13] therealmitchconnors commented on #14672
Ok, I have identified one potential test flake for this suite.  [This execution](https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/14698/istio_auth_sds_e2e-master/1821) failed, while [this](https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/14698/istio_auth_sds_e2e-master/1811) one succeeded for the same commit hash.  The failure messages are le

[2019-06-17 23:15] mousavian commented on #14389
Thank you @howardjohn

[2019-06-17 23:18] howardjohn commented on #13330
Nice workaround @arianmotamedi. As mentioned, this would need envoy support. I would encourage you to open an issue there and if/when it gets merged let us know and we can add support for it (or you can as well, contributions are always welcome!)

[2019-06-17 23:20] douglas-reid commented on #14930
Please move this to `discuss.istio.io`, as this is more of a question than a bug report.

There are several things that you should add to such a post to help in troubleshooting the issue:
- Does your speedtest service expose an `http-` named port on 8903?
- Do calls directly to your speedtest service show up (in prometheus)?

[2019-06-17 23:20] #14930 closed

[2019-06-17 23:34] andrewjjenkins commented on #12551
Yes, it looks like the reviewers requested a rename on some pieces of #13666 before merge.  I'm looking into it, and following this from the original PR:

[code]

I see that the iptables script in 1.2.0-rc.2 has a new option `INBOUND_CAPTURE_PORT` that appears to do the redirection.  Check out https://github.com/istio/istio/blob/7abc166577853239b05e50c68b02b4830e2417a8/tools/packaging/common/istio

[2019-06-17 23:41] howardjohn opened #14935 "Expand edge case coverage with fuzz testing"
Right now we do not have any fuzz testing. There are a lot of areas this could help us with. For example, we have had many bugs of pilot generating invalid config. We can probably catch many of these with fuzzing.

I have started some [basic fuzzing](https://github.com/howardjohn/istio/commit/c98fe6605fbf18dd54cfb4aa4f3847f89b991af6) and found issues, so it seems promising:
* https://github.com/is

[2019-06-17 23:46] howardjohn commented on #14935
Also, I explored https://github.com/google/gofuzz a bit. This is nowhere near as good as go-fuzz. go-fuzz is doing coverage guided fuzzing, so it will generate new inputs to try to gain more coverage. gofuzz is just generating random stuff and will never generate a valid config

[2019-06-17 23:53] howardjohn commented on #14935
Example of oss-fuzz (may have to login with google, but I think everyone has access): https://oss-fuzz.com/testcases?open=yes&project=envoy

[2019-06-18 00:24] rockholla opened #14937 "1.1.8 Helm chart install with global.mtls.enabled=true produces authn tls-check CONFLICTs"
**Bug description**

We've been attempting to track down some random 503 issues in our istio adoption with mTLS enabled. We've gradually stepped back out of some more complex scenarios trying to identify potential points of failure. Getting back to a quite simple install scenario with the published Helm chart seems to have identified destination rule CONFLICTs.

* Using the published helm chart re

[2019-06-18 01:09] #14466 closed

[2019-06-18 01:31] cscetbon commented on #12551
@andrewjjenkins I'm trying to understand how the inbound capture would add the rule we're missing
i.e `iptables -t nat -I ISTIO_OUTPUT  -d ${POD_IP}  -j RETURN` or avoid us to need it. Do you see another rule that could act like that one.

It seems we could try to use https://github.com/istio/istio/blob/7abc166577853239b05e50c68b02b4830e2417a8/tools/packaging/common/istio-iptables.sh#L450-L455 or

[2019-06-18 01:31] linsun commented on #14792
reduce to p1 since fix is already in 1.2

[2019-06-18 01:46] JediZ90 commented on #14905
Some time later, this is still only a span. but the latter trace is complete.

[2019-06-18 01:49] JediZ90 commented on #14905
How can i debug this?

[2019-06-18 01:55] hzxuzhonghu commented on #14933
For https, it is converted to tcp

[2019-06-18 02:43] iandyh commented on #14520
@howardjohn oh great. Thanks for the link!

[2019-06-18 02:53] skydoctor commented on #12400
Sure. Is the next one scheduled?

[2019-06-18 02:57] bianpengyuan commented on #14905
Do you mean incomplete trace only happens at the beginning but not always happen?

What you can do is checking envoy's metric (port-forward to 15000 of istio-proxy and then visit http://localhost:15000/stats/prometheus) and see if any upstream error from call to zipkin.

[2019-06-18 03:09] aaronz1414 commented on #10397
Thank you!

[2019-06-18 03:11] rajusharma commented on #14906
@howardjohn
Thank you for your reply.
Yes we are collecting those metrics also, but couldn't understand their consequences.
I am getting some metrics with some values continously
- pilot_conflict_inbound_listener
- pilot_conflict_outbound_listener_http_over_current_tcp
- pilot_total_xds_rejects
But i am not sure how these will affect the cluster, because currently even though i am getting these er

[2019-06-18 03:14] hzxuzhonghu commented on #14811
Just realized why `5.6.7.8` does not occur in cluster config,  you can remove `network: external`, if proxy networkview does not match endpoint's, pilot will ignore these endpoints.

[2019-06-18 04:02] hzxuzhonghu commented on #14811
https://istio.io/docs/examples/multicluster/gateways/  For gateway-connected multi-cluster, it uses ip address too.

[2019-06-18 05:17] ahmetb commented on #9454
Please add  the label to prevent closing, it's still an issue.
Looks like sadly I can't  self-serve  here  with a  `/remove-lifecycle rotten` comment like I do in kubernetes repos here.

[2019-06-18 06:04] divya21raj commented on #8218
@fadeojo Could you give an example of how {YOUR_DOMAIN} has to be filled, given my public key domain is "https://raw.githubusercontent.com/divya21raj/Istio-Powered-Sentiment-Analysis/master/pub_key.json"?

I'm getting this ->
* domain name "https://raw.githubusercontent.com/divya21raj/Istio-Powered-Sentiment-Analysis/master/pub_key.json" invalid (label "https://raw" invalid)

Thanks!

[2019-06-18 07:19] shubhamitc opened #14940 "set request timeout for tls calls"
**Bug description**
We need to call google services as well as aws services. All the calls are https.
We need to setup request timeout for them but can not find the option. Timeout not supported with TLS.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ * ] Docs
[ ] Installation
[ ] Networking
[ * ] Performance and Scalability
[ ] Policies and Tele

[2019-06-18 07:33] krishnadurai commented on #14885
@yangminzhu Yes, this is what I was looking for!

Then this might mean the request is still authenticated though still not authorized? I thought the JWT would contain the Authentication information too. If it is not passed on, then it should result in a 401, shouldn't it? Please correct my understanding if I'm wrong.

I'll wait for @costinm and @howardjohn to confirm.

[2019-06-18 07:41] bkrahmer opened #14941 "Istio not stable after cluster restart"
I have an OpenShift 3.11 cluster which is shut down each evening.  When I start it back up again in the morning to work with it, istio is often unstable.  I believe OpenShift is using the docker pause at shutdown, and resuming them at restart, because my pod names are consistent across the restarts.

I have a script that looks for not-fully-healthy pods in all namespaces, and over 25 minutes after

[2019-06-18 08:02] c0d1ngm0nk3y commented on #14793
I don't know how the modifications to the template normally look like. Do you have an example. Right now, I see options:

1) Overwriting the whole template string in an overlay. This is already now possible, but there is no reuse of the existing template.
2) Introducing a `template-patch` property which is by default empty and will be merged after the templating is done. So this property can be ov

[2019-06-18 08:31] Janesee3 opened #14942 "Connection returns TLS / Certificate verification error in proxy after enabling SDS"
# Connection returns TLS / Certificate verification error in proxy after enabling SDS

Hi, I am having a problem with istio in my current production setup and would need your help to troubleshoot it.

### Bug Description

**Background**

I am running Istio 1.1.7 in all our environments on kubernetes (amazon eks) 1.12.7 with mtls enable on application namespace, sds in both ingress gateway and side

[2019-06-18 09:07] StefanCenusa commented on #13106
Is this issue getting addressed in the upcoming 1.2 release?

[2019-06-18 09:12] rajusharma commented on #10456
I am also facing similar kind of issue
**Scenario1**
- There is headless serviceB exposing port 10000 using grpc protocol
- ServiceA is calling serviceB using client-side loadbalancing over grpc
- Envoy config in serviceA pod looks like below (will list only outbound listener )
[code]
**Scenario2**
- Scenario1 services are already existing
- Now i create a serviceC exposing same port 10000 using h

[2019-06-18 10:08] PhilipGough opened #14945 "Integration test framework depends on testdata causing test failures when using go modules"
**Bug description**
I will start by saying I don't have a full understanding of go modules internals as of yet so apologies if this is a non-issue or there is a simple workaround.

I am using the integration test framework in istio 1.1.7 in an OOP adapter.
However when I migrate my code to use go modules, the integration tests begin to fail.

My understanding is that go modules strips all non `.go

[2019-06-18 10:14] hzxuzhonghu commented on #13106
I think so

[2019-06-18 10:21] waret commented on #14937
I think you can check `destinationrules` and `policies` in your environment. As follows:

[code]

[2019-06-18 10:52] aliartiza75 commented on #14908
@howardjohn thanks for the response. Although I have a question that when you people move to `kustomize` are you people going to maintain helm charts or not?

[2019-06-18 11:00] JediZ90 commented on #14905
http://localhost:15000/stats/prometheus

[code]

[2019-06-18 11:07] victory1908 commented on #9247
Hi @douglas-reid all the link you provide is now `404`. I'm looking for a template to expose `grafana`, `prometheus`, `kiali`... through default port for existing `istio` installation

[2019-06-18 11:08] c0d1ngm0nk3y commented on #14932
Is there any downside in just reporting the number of virtual services known? For which gateway? The metric name does not say anything about that. I have used ISTIO_MESH_GATEWAY for now since it can be done with the existing code of the `pushContext`.

Any thoughts?

[2019-06-18 12:21] thomschke opened #14947 "Source-code and os-specific assets of the same release contains different helm charts"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
The source code assets and the os-specific assets of the same release contains different helm charts.

**Affected product area (please put an X in a

[2019-06-18 13:45] GregHanson commented on #14940
Can you provide the VirtualService and ServiceEntries you have for these external services?

[2019-06-18 14:20] howardjohn commented on #14908
Our recommended approach will be helm template + Kustomize. So you can do options like mtls enabled which configure many things through helm, then fine tune things like resource requests through kustomize

[2019-06-18 14:30] howardjohn commented on #14906
`pilot_total_xds_rejects` means that Pilot sent Envoy config that was rejected. This typically means your proxy are not getting the config they need, so is likely a bad sign. In the logs you can find instances with `grep "ACK ERROR"`.

[2019-06-18 14:34] rockholla commented on #14937
Thanks @waret I did look through the destinationrules and the single meshpolicy in the cluster after this default install:
[code]
So, both those defaults look OK, my guess is that the api-server, istio-policy, and istio-telemetry destination rules are conflicting with the default one, e.g.:
[code]
But these are the default destination rules that are created by the helm chart with `global.mtls.enab

[2019-06-18 14:36] rlenglet commented on #14736
Keeping this issue open to investigate the remaining network policy problem in k8s 1.14. removed the Istio 1.2 target for that.

[2019-06-18 14:39] ericvn commented on #14420
Based on the @duderino comment that this should be done in `master` and we shouldn't do this in `release-1.2` (even though the milestone target is still 1.2), I will close this issue.

Note that the work done in the PRs was to update the builds to using Golang 1.12.5, but does not include migrating things to using go modules during the builds instead of vendor. There are other on-going discussions

[2019-06-18 14:39] #14420 closed

[2019-06-18 14:49] howardjohn commented on #14947
I am not sure what you mean by this. I downloaded 1.2rc3 in windows and linux variants and they are identical (except istioctl, as expected):
[code]

[2019-06-18 14:53] howardjohn commented on #14945
With dep there was a setting like `keep non go code`, but I am not sure if there is a way to do that with `go mod`. @kyessenov may be able to help here

[2019-06-18 14:56] howardjohn commented on #14941
Sounds more like it my be a bug in your Kubernetes set up: `172.30.0.1:443: connect: network is unreachable`. I assume that IP is your apiserver which from your logs seems to be crash looping? Once you fix the apiserver I suspect Istio will start working as well (or at least work a bit better)

[2019-06-18 14:56] sdake commented on #14897
The circleci gate failed for some reason with this as the problem...

https://circleci.com/gh/istio/istio/445769?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

I know we have removed circleci for the most part, but others may use it as part of their validation, and any of these types of warnings are sloppy.  If they can be fixed, they should be.  I don't personally know how

[2019-06-18 14:57] c0d1ngm0nk3y opened #14949 "circleci test AND `make test` fail for installer because of `presubmit` label"
See [circleci and build icons](https://github.com/istio/installer/blob/master/README.md)

**Bug description**

Both the circleci tests and the build (`make test`) fail for the installer. For quite some time.

[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies a

[2019-06-18 14:59] howardjohn commented on #14940
The best you can do is probably https://istio.io/docs/reference/config/networking/v1alpha3/destination-rule/#ConnectionPoolSettings-TCPSettings. I don't think "request timeout" makes sense outside of HTTP/HTTPS

[2019-06-18 15:01] c0d1ngm0nk3y commented on #14949
It looks like a `Presubmit` value is missing in `pkg/test/framework/label/labels.go`. But *where* is this label set and *why* has this not been noticed?

@ozevren Do you have some insights for me?

[2019-06-18 15:10] josejulio commented on #14933
Is this a limitation? Are there plans to have https traffic to store time-series for  istio_requests?

[2019-06-18 15:13] bkrahmer commented on #14941
I had already killed the apiserver pod and it was replaced with a healthy one several minutes before I had to diagnose the issue.  So when I restarted the sidecar injector and it started working again immediately. I believe that speaks against your comment.

[2019-06-18 15:26] c0d1ngm0nk3y commented on #14949
This commit could be related :) https://github.com/istio/istio/commit/70523617e92f1b8a640fbb5349c00790aba939cd

[2019-06-18 15:28] douglas-reid commented on #9247
@victory1908 this PR (https://github.com/istio/installer/pull/225) removed that file. you can look at the source prior to the change, I suppose, for inspiration.

[2019-06-18 15:29] howardjohn commented on #14941
Was the `172.30.0.1:443: connect: network is unreachable` log after you fixed the apiserver?

If you try to reach 172.30.0.1:443 from a different pod does it work?

I saw in the logs `istio.io/istio/pilot/pkg/kube/inject/config.go` is specified as the source, but this file doesn't exist in Istio 1.0, 1.1, or 1.2. What is Istio "TP10"?

[2019-06-18 15:29] PhilipGough commented on #14945
@howardjohn yeah, with dep that was possible to set not to prune specific directories etc and non-go go. Haven't been able to achieve this so far with `go mod`

[2019-06-18 15:30] xDouglasx commented on #14907
Sorry, i don't see how it would help me, first because we should use the latency of the response, and second because the logs is already written and collected on Stackdriver, and i'm using the advance filters to filter when the latency is above 1000ms for example, but i cant use mathematical operator on an string, so i cant create thresholds, if the format was 1000 for example it would be way more

[2019-06-18 15:41] c0d1ngm0nk3y commented on #14694
Currently this is shadowed by #14949. I don't think the underlying issue is fixed.

[2019-06-18 15:49] #7624 closed

[2019-06-18 15:56] howardjohn commented on #14705
Sure, but if they have broken prometheus configs its there problem. Prometheus is the source of truth, so if I query it from `sum(pod_cpu{pod=foo})` I would expect to get the pod CPU, not 2x the CPU. Fixing it in the dashboards seems like a bit of a hack.

Now in saying this, I am not familiar with how the scraping works so maybe this isn't feasible

[2019-06-18 16:01] howardjohn commented on #14888
Thanks for all the great tests @sdake. I added a lint target to prow as well so hopefully soon we can switch over to that. I don't want to make it required immediately because then all 100 old PRs need a rebase

[2019-06-18 16:05] howardjohn commented on #14148
@costinm can you explain what work is needed for this and why? Things seem to be working fine without these options so I am not sure what we need to do

[2019-06-18 16:07] howardjohn commented on #13937
@wattli your PR on 1.1 got closed, did this ever make it into master?

[2019-06-18 16:19] jdfalk opened #14951 "Add Istio repo to helmhub"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Helm hub is an aggregation of other helm chart repos that does not require the chart to be published to the helm repo allowing Istio to update the charts independently yet still benefit from having Istio automatically included in helm. Having one ce

[2019-06-18 16:44] howardjohn commented on #10967
This is solved by locality LB added in 1.1

[2019-06-18 16:44] #10967 closed

[2019-06-18 16:46] howardjohn commented on #13212
Tested istio-master-20190618-09-15 and I think this is fixed

[code]

Note the values_gke one is still wrong though, will fix in another one.

I think this is fixed, if not please reopen @utka

[2019-06-18 16:46] #13212 closed

[2019-06-18 16:51] howardjohn commented on #9367
You can scope the config with https://istio.io/docs/reference/config/networking/v1alpha3/sidecar/ now.

There have been a lot of changes/improvements to the memory usage since 1.0.7, do you see similar issues using 1.1.x or 1.2? If not I think this can be closed. Please reopen if you see similar issues even with Sidecar

[2019-06-18 16:51] #9367 closed

[2019-06-18 16:52] ozevren commented on #14949
I removed the label since it is not needed/used anymore.

[2019-06-18 16:52] howardjohn commented on #11960
This is fixed in 1.2, see #2234

As far as actually migrating off the deprecated features, I believe there is work being done in these areas. if not we should open issues for those, but the actual log issue has been solved

[2019-06-18 16:52] #11960 closed

[2019-06-18 17:21] #14560 closed

[2019-06-18 17:28] kyessenov commented on #14945
`go mod` does not preserve non-go files in a dependency by design.
I think we should embed the tests into go files using `bindata` and then follow something like https://github.com/golang/go/wiki/Modules#how-can-i-track-tool-dependencies-for-a-module to include them in the build.

[2019-06-18 17:29] ostromart opened #14960 "Add deepcopy to IstioControlPlane generated Go structs"
https://github.com/istio/operator/pull/34 bailed on making deepcopy work and commented out the generation target.
I found that it was necessary to make fairly intrusive changes to one of the dependencies (gogo/protobuf/types) to create a complete chain of deepcopies.
Deepcopy is not needed atm but this should be revisited in the future.

[2019-06-18 17:38] sushicw opened #14962 ""make push" should have consistent behavior"
**Describe the feature request**

`make push` does entirely different things depending on whether your remote repo (HUB variable) is set to GCR or not. If it's non-GCR, you get a docker push, otherwise it uploads artifacts to GCS. This is implemented as a condition in the makefile that [re-writes the push rule.](https://github.com/istio/istio/blob/1e062cf7108d254d929be8d22561f5856ddab9b8/Makefile#

[2019-06-18 17:43] su225 commented on #13466
Sorry if I'm missing something here. I don't see how I can pass MCP sink address through environment variables in Galley. When I bring up MCP Server before Galley, its address will be in Galley's pod environment. I went through the code, the helm deployment and couldn't find a way where Galley reads environment variable without changing its code.

As a compromise, to achieve the same effect I coul

[2019-06-18 17:45] bianpengyuan commented on #14907
@xDouglasx I mean you could update your stackdriver handler config following the [example](https://github.com/istio/istio/blob/release-1.1/mixer/adapter/stackdriver/operatorconfig/stackdriver.yaml#L56-L94) to populate the latency field in [httpRequest](https://github.com/istio/istio/blob/release-1.1/mixer/adapter/stackdriver/operatorconfig/stackdriver.yaml#L56-L94). Essentially this will make stac

[2019-06-18 17:49] #11785 closed

[2019-06-18 17:49] #13074 closed

[2019-06-18 17:51] bianpengyuan commented on #14905
@JediZ90 Looks like the metrics do not have anything suspicious regarding upstream call to zipkin cluster. Could you give more detail on what you have observed? Does incomplete trace happen intermittently or does it only happen during cluster setup phase? Did you have any config update while you observe incomplete trace? What is the percentage of incomplete trace?

[2019-06-18 18:01] Sieabah opened #14963 "TLS error: 268435612:SSL routines:OPENSSL_internal:HTTP_REQUEST on NON-HTTPS requests"
**Bug description**

Cluster was originally configured with global.mtls.enabled, as we are mid-migration this created too much work and we disabled it afterwards. We wanted to have services in the istio cluster talk with mtls, but also be able to talk to services over regular http inside of the istio-apps namespace as well. If this is default behavior and there is a ideal way to approach this that

[2019-06-18 18:04] objectiser commented on #7963
@denniswebb Might be related to https://github.com/istio/istio/issues/14328.

[2019-06-18 18:06] c0d1ngm0nk3y commented on #14949
@ozevren The tests of the installer think otherwise :) ([link](https://buildkite.com/istio/istio-installer/builds/557#7e765be0-de10-4498-8344-434b8d882473/14-9600)) Any idea way it is still used there?

[2019-06-18 18:06] pitlv2109 commented on #14937
@diemtvu @yangminzhu

[2019-06-18 18:13] ozevren commented on #14949
I don't know how istio/installer is syncing PRs/code from istio/istio. It looks like the updates done to the makefiles (particularly tests/integration/tests.mk) in istio/istio is not reflected properly.

[code]

[2019-06-18 18:13] duderino commented on #13868
This fixed https://istio.io/blog/2019/cve-2019-12243/ / https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-12243

[2019-06-18 18:13] Sieabah commented on #14963
Is the recommended to just create gateways so prometheus can access the health endpoint inside of the cluster? There is another issue with cert-manager that none of our services are available over http and can't actually do the http challenge as they all respond with the same error as above.

Has anyone run into this issue? Can mtls not be configured post-install?

[2019-06-18 18:22] rshriram commented on #14811
yea. I was about to comment on that.. we have been supporting mixed mode ip+dns in service entries for a while. with no issues.

[2019-06-18 18:38] incfly commented on #14624
This seems to be done already,  https://github.com/istio/istio/pull/12838

[2019-06-18 18:38] #14624 closed

[2019-06-18 18:38] incfly commented on #14624
Released as part of 1.2

[2019-06-18 18:42] thomschke commented on #14947
Hi @howardjohn, please make a diff (./install/kubernetes/helm) between any os-specific asset (win, linux, osx) and any source-code asset (contains helm charts too).

[2019-06-18 18:45] ericvn commented on #13455
Will submit a PR once I get the CLA stuff set up for Kubernetes.

[2019-06-18 18:47] howardjohn commented on #14947
Oh I see what you mean.

I thought you meant https://github.com/istio/istio/releases/download/1.2.0-rc.3/istio-1.2.0-rc.3-linux.tar.gz vs https://github.com/istio/istio/releases/download/1.2.0-rc.3/istio-1.2.0-rc.3-osx.tar.gz.

You mean https://github.com/istio/istio/releases/download/1.2.0-rc.3/istio-1.2.0-rc.3-linux.tar.gz vs https://github.com/istio/istio/archive/1.2.0-rc.3.tar.gz.

The source

[2019-06-18 18:48] darwin67 commented on #9504
I'm actually still seeing this on `1.1.8`.

[code]

It gets resolve eventually like around 5 minutes, but until then Spinnaker doesn't recognize the pods as being stable so this actually mess up deployments for us.
Something that previously took less than a minute is now costing more than 5 minutes.

[2019-06-18 18:50] duderino commented on #1756
@sbezverk are there any tests that exercise IPv6, ideally with IPv4 disabled so we can be sure that IPv6 actually works?

[2019-06-18 18:50] thomschke commented on #14947
All right :-)

[2019-06-18 18:50] #14947 closed

[2019-06-18 19:00] pitlv2109 commented on #14942
@JimmyCYJ @quanjielin @wattli @myidpt

[2019-06-18 19:10] quanjielin commented on #14942
@Janesee3 did you turn on sds on workload sidecar or ingress or both ?  could you pls share the install yaml file, and nodeagent logs ?

[2019-06-18 19:20] yangminzhu commented on #14885
@krishnadurai Would you mind to share your authentication policy? It's possible to pass the authentication (i.e. no 401) but rejected by authorization (i.e. 403) if you set `origin_is_optional` to true: https://github.com/istio/api/blob/868f99fbab121c68c0877878c71926b7bde8b6ea/authentication/v1alpha1/policy.proto#L356

[2019-06-18 19:34] venilnoronha opened #14966 "Improve eng.istio.io"
I noticed the following issues with [eng.istio.io](http://eng.istio.io/).

* Menu options not visible on mobile browsers (Safari)
* Failed page loads (e.g. /maintainers)
* Slow page loads (e.g. /members)
* Unsecured domain (currently http not https)

/cc @geeknoid

[2019-06-18 19:35] pitlv2109 commented on #10712
@lei-tang I have this PR here https://github.com/istio/istio/pull/13410  that supports GoogleCA for VM. You may find it helpful.

[2019-06-18 19:35] antonmedv opened #14967 "Add support for expr"
Please, add support for expressions via [expr](https://github.com/antonmedv/expr) evaluator.

- [x] Configuration Infrastructure
- [ ] Docs
- [ ] Installation
- [ ] Networking
- [ ] Performance and Scalability
- [ ] Policies and Telemetry
- [ ] Security
- [ ] Test and Release
- [ ] User Experience
- [ ] Developer Infrastructure

Currently it's fastest:

[code]

[2019-06-18 20:08] howardjohn commented on #14966
I see the issues as well (didn't test mobile safari though)

[2019-06-18 20:10] darwin67 commented on #9504
upgraded to 1.1.9 and still seeing this issue.

[2019-06-18 20:20] lei-tang commented on #10712
@pitlv2109 Thanks!

[2019-06-18 20:24] venilnoronha commented on #14966
The issue exists on mobile Chrome as well.

[2019-06-18 20:50] klarose opened #14969 "support an ingress workflow similar to nginx auth_request"
**Describe the feature request**
I would like to be able to have requests from an external client flow through an authentication workflow equivalent to the one provided by nginx's auth_request module, as documented [here](https://kubernetes.github.io/ingress-nginx/examples/auth/oauth-external-auth/).

This is very useful for off-the-shelf services which do not already have an oidc login implementa

[2019-06-18 21:06] ericvn commented on #14795
I think we can simply do something like this somewhere in prow (we used to do this in circles but that is going away)
[code]

I had to grep out `vendor/modules.txt` as on my laptop I had one line moved in the file running the above command.

I'll see if I can maybe come up with something in my free time.

[2019-06-18 21:07] geeknoid commented on #14966
You can connect with https: too, at least I do with Chrome. Not sure how to turn off http:, I'll see if there's an option for that somewhere.

As for the latency, well, yeah, this is still very preliminary. It'll get better.

[2019-06-18 21:40] venilnoronha commented on #14966
Should we redirect http to https then?

[2019-06-18 22:19] drichelson commented on #11984
This new feature is implemented via env vars following the existing convention for adding envoy node metadata fields. The cert files get watched for changes by pilot-agent and are used to connect to pilot-discovery. They are also used in mutual TLS mesh traffic.

Here are the env vars:
[code]

[2019-06-18 22:53] wattli commented on #14703
Thanks for the info. I don't think we use galley in 1.0.7. And this can potentially affect GKE on prem customers.

[2019-06-18 23:14] prasanthj commented on #5679
I had a similar issue to get real client ip address within the mesh (not using ingress gateway). I have a scenario where podA talks to podB and podB wants to know the real ip address of podB. With istio, the communication looks like podA -> istio-proxy -> podB-k8s-service -> istio-proxy -> podB. Since istio-proxy terminates mtls connection and establishes a new connection to podB, podB sees client

[2019-06-18 23:28] Sieabah commented on #14963
@pitlv2109 I believe this may be a bug with the helm install/upgrade as it definitely does not reconfigure when `global.mtls.enabled` is changed. Is there a tag or process for to recognize this as a bug?

[2019-06-18 23:51] andrewjjenkins commented on #12551
I think this is on the "avoid us to need it" at least how I was thinking about it.  I think the feature in #13666 is to cause the inbound and outbound listeners to be split, so that the self-ip traffic can be properly mapped to the outbound and then the inbound listeners.

Another option would be to skip both the inbound and outbound listeners in the special case that a pod is talking to itself.

[2019-06-19 00:29] cscetbon commented on #12551
Gotcha. Yeah, I'm trying to do "neither". Unfortunately the parameter I was looking into, excludeOutboundIPRanges, can't handle **POD_IP** https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/files/injection-template.yaml#L19-L22 but only fixed IP ranges ....

[2019-06-19 01:39] #13321 closed

[2019-06-19 02:05] hzxuzhonghu commented on #14933
envoy can not do tls termination(can be done in gateway) without configuring certs.

[2019-06-19 02:10] hzxuzhonghu commented on #14795
We can refer to kubernetes vendor linter as well, i see it is there.

[2019-06-19 03:11] JediZ90 commented on #14905
The incomplete trace happen intermittently, and no config update while observe incomplete trace.
The percentage of incomplete trace is about 10%, not regular.

I set traceSampling to 100.

[2019-06-19 04:03] leowucn commented on #14861
Can I use custom port for ingress gateway? I created ingress gateway yaml file with port such as 18222, and applied it, but after that I can't see 18222 in ingress gateway ports, and 18222 is not listionling. Why?

[2019-06-19 04:17] Janesee3 commented on #14942
Hi, we turned on SDS for both the sidecar and ingress.

Here is the values file we used for our Istio installation:
[code]

[2019-06-19 05:44] clyang82 opened #14975 "Enhance Integration Test to fit for new installer"
New installer cannot pass the circle ci test, there are some tasks need to do:
- [x] Remove the presubmit label - https://github.com/istio/installer/pull/237
- [x] Validate new mixer CRDs - https://github.com/istio/installer/pull/244
- [] --- FAIL: TestIstioAccessLog (47.97s)
	util.go:264: Sleeping to allow rules to take effect...
	accesslog_test.go:63: unable to retrieve 200 from product page: co

[2019-06-19 06:29] ewolff commented on #13851
https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html says POST is not idempotent. Shouldn't the default therefore be to not retry? Am I missing something?

[2019-06-19 06:33] Stono commented on #13851
Nope you're correct.  A POST imo shouldn't be retried unless the error was a connection error

[2019-06-19 06:44] JimmyCYJ commented on #14942
Node agent log shows that "failed to get root cert". Seems that node agent does not get root cert, perhaps the connection between node agent and Citadel timeouts. Could you provide more node agent logs and check if there are errors such as "CSR retry timeout " or "CSR failed "?

[2019-06-19 06:51] ewolff commented on #13851
I am not sure I agree. The error could be raised after the action of the POST was performed. In that case, the retry would lead to an inconsistent state. https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5 doesn't really indicate otherwise.

[2019-06-19 06:53] Stono commented on #13851
Sorry perhaps I'm not being specific enough.  I mean if one envoy fails to connect to the other.

[2019-06-19 06:53] c0d1ngm0nk3y commented on #14667
Why was this already closed? Just because the `see #xyz` reference in the PR? I think first a new image of `examples-bookinfo-productpage` has to be pushed and then consumed.

@venilnoronha Can you give a short update when a new tag is available? I will then add a PR to consume it. Thanks.

[2019-06-19 06:57] c0d1ngm0nk3y commented on #14667
I just saw https://github.com/istio/istio/pull/14943#issuecomment-503263421. I will create a new minor version and consume it.

[2019-06-19 07:04] ewolff commented on #13851
That makes sense but then you would obviously need to ensure that the HTTP status was raised by the proxy and not the server. Also the proxy would need to ensure it did not forward the POST. I am not sure how reliable that can be done but I am certainly no expert.
Still I am not sure what the default should be. Maybe it should be optional?

[2019-06-19 07:06] Stono commented on #13851
Aye I completely agree with you and that's exactly the conversation I had with the istio folks a week or two ago.

At the moment 503 is used and covers too many scenarios.  Both envoy and upstream get wrapped by it

[2019-06-19 07:07] ewolff commented on #13851
Great, thanks for clarifying!

[2019-06-19 07:14] bkrahmer commented on #14941
Yes, it continued to report the error even after restarting the apiserver, which is why I filed this bug.  I didn't do any further diagnosis since restarting the injector fixed it.  TP10 refers to Red Hat Service Mesh tech preview 10, which is downstream, and I think contains istio 1.1.2

[2019-06-19 07:40] hzxuzhonghu commented on #14941
I think the network issue mostly related with this, `network is unreachable` indicates the network is not ready yet.

[2019-06-19 07:50] Janesee3 commented on #14942
Sorry for the misleading logs, it seems that the "Failed to get root cert" logs only appeared once in one of our environment. For all of our other environments, we observed the same SSL VERIFY / CERT EXPIRED error but the node agent logs are normal (example shown below):

[code]

[2019-06-19 07:52] bkrahmer commented on #14941
I don't disagree that it may be a transient network problem due to things starting up, but in order to have a resilient platform, I expect  services to retry a number of times, and kill themselves after some time if necessary

[2019-06-19 08:12] Stono opened #14976 "Helm template on istio 1.2.0 produces duplicate CRDs"
Hi,
We still use the slightly old method of doing `helm template` on the istio repos to generate manifests into an `istio-auth.yaml`.

The result had multiple `sidecars.networking.istio.io` CRD's with slightly different specs.

[istio-auth.yaml.tar.gz](https://github.com/istio/istio/files/3305066/istio-auth.yaml.tar.gz)

[2019-06-19 08:21] krishnadurai commented on #14885
@yangminzhu Here is my authentication policy:
[code]

[2019-06-19 08:25] waret opened #14977 "Install istio-cni in namespace istio-system failed according to the documentation"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Following the document [https://istio.io/docs/setup/kubernetes/additional-setup/cni/](https://istio.io/docs/setup/kubernetes/additional-setup/cni/),

[2019-06-19 08:26] Stono opened #14978 "Istio 1.2.0 attempts to create a certmanager CRD even when certManager set to disable"
This is a regression on https://github.com/istio/istio/issues/12467

with certmanager.enabled=false, you still get a certmanager crd produced (`certificates.certmanager.k8s.io`).

[2019-06-19 08:37] Janesee3 commented on #14942
Occasionally, we also see some abnormality in the node-agent logs which I thought may be helpful:

[code]

[2019-06-19 08:49] samwyma commented on #8619
Hey guys,

We ended up doing something similar to what @yskopets is doing, so I'll share the code here (it's a relatively small lua script). The basic flow is:
- An Envoy Filter extracts the JWT from a cookie and sets it in a header
- An Authentication Policy validates the JWT
- If the JWT is invalid, the same Envoy Filter catches the 401 and redirects off to a little server we run which basically