[2017-12-19 19:16] guptasu commented on #2246
Hi,

strangely, I am unable to reproduce this issue. I will keep poking, let me know if I am missing anything. @JorritSalverda @douglas-reid let me know if I should try some other specific task to reproduce the issue.

I am getting reasonable values on Prometheus UI:
[code]

Here are my steps
1. I followed the steps in https://istio.io/docs/setup/kubernetes/quick-start.html to install on kubernete

[2017-12-19 19:17] yutongz commented on #2230
Do we see the same issue in Circle-CI

[2017-12-19 19:18] jmuk commented on #2230
not mentioned in https://circleci.com/docs/1.0/environment-variables/. But seems we can add something on `.circleci/config.yml`

[2017-12-19 19:20] bradfitz commented on #2230
Or you could even just make your test code do:

[code]

[2017-12-19 19:22] jmuk commented on #2230
circleCI tests doesn't look like suffering the issue; https://circleci.com/gh/istio/istio. Interesting, but maybe circle-ci is fine.

[2017-12-19 19:23] yutongz commented on #2230
We have multiple places (unit tests / e2e tests). I think I am just gone set $USER in prow script for now and see if we will have the same issue in circle-ci.

[2017-12-19 19:24] jmuk commented on #2230
agreed.

[2017-12-19 19:27] kyessenov commented on #2087
my 2c: it would be great to have telemetry and routing by default. Routing IMHO is a pre-requisite for everything else (not rules, just basic sidecar + pilot). It's a short step to Envoy-based telemetry from there.

[2017-12-19 19:29] guptasu commented on #2246
@JorritSalverda just FYI:  command this is still pointing to 0.3.0 version
[code]

I had to download it manually

[2017-12-19 19:30] ZackButcher commented on #2087
That's the plan: by default the tool spits out deployments for the entire control plane, ingress proxies, and enables mTLS.

[2017-12-19 19:30] kyessenov commented on #2087
If we want to expose helm templates, I think it would be best to advise to use helmc itself with its large and evolving plugin eco-system. Certain things, like helm generate or helm ksonnet, are best left to helm to implement.

If we want to encapsulate helm templates, then we should capture enough variation with tool flags, and be ready to extend as many as flags as needed to customize those temp

[2017-12-19 19:34] kyessenov commented on #2087
mTLS is a separate feature. It's disruptive to the rest of the cluster since you cannot communicate with non-istio pods.

[2017-12-19 19:37] ZackButcher commented on #2087
Sure - none of the code is checked in so feel free to comment in the PR about what the defaults actually should be. I think it'd be very reasonable to have mTLS off by default too.

[2017-12-19 19:39] kyessenov commented on #2087
We need CA even with mTLS is off to secure sidecar-pilot channel. So the
only optional pieces are mixer, ingress, and any mixer addons/plugins.

On Tue, Dec 19, 2017 at 11:38 AM Zack Butcher <notifications@github.com>
wrote:

[2017-12-19 19:42] ZackButcher commented on #2087
AFAIK communication works fine without CA, we just wind up with clear-text between sidecars and Pilot, so it's not strictly required, right?

[2017-12-19 19:45] kyessenov commented on #2087
It's required (non-optional). Otherwise, we need to have another set of installation templates.

[2017-12-19 19:48] ZackButcher commented on #2087
@louiscryan @smawson thoughts on supporting an installation that's clear text between side cars and Pilot for a smaller install footprint in use cases where the operator doesn't want/need other Istio security features?

IMO we make the "Istio is a monolith" perception worse as we add tight couplings like "you must run CA to run Pilot".

[2017-12-19 19:51] kyessenov commented on #2087
I think Mixer should definitely require CA and probably mTLS for any
reasonably safe policy enforcement.
Depending how much we value trust between proxy/pilot, we should be careful
to make it plain-text.

To avoid monolith perception, we should look into using k8s CA instead of
shipping our own CA, or using network isolation using co-deployed pilot or
UDS.

On Tue, Dec 19, 2017 at 11:48 AM Zack Bu

[2017-12-19 19:57] ZackButcher commented on #2087
Again, it's not strictly required - we just think it's the correct default based on the security model we work in (that the network is compromised). Many users have different security models (for better or worse) that assume the network is safe, so in their mind mTLS between side-cars and Mixer is not strictly required.

We need to be very clear about the difference between the minimum viable depl

[2017-12-19 20:06] danehans opened #2262 "pre-commit hook not functional"
According to the [dev guide](https://github.com/istio/istio/blob/master/DEV-GUIDE.md#enable-pre-commit-hook), the pre commit hook is not functional. Will this issue be fixed or will the pre commit hook be removed? The current state causes confusion for dev on-boarding.

[2017-12-19 20:17] yutongz commented on #2230
Another interesting thing @mandarjog found is, although the prow image is installed go 1.9 https://github.com/istio/test-infra/blob/master/scripts/tools/linux-install-golang#L11, for some reason, when actually running tests, it's using go 1.8.

[2017-12-19 20:20] guptasu commented on #2246
I am unable to reproduce with `kubectl apply -f install/kubernetes/istio-auth.yaml` too.
Getting source details correctly.
[code]

[2017-12-19 20:24] guptasu commented on #2246
@JorritSalverda along with "deleted the istio-system namespace" can you also cleanup all the existing sample service etc.
* https://istio.io/docs/tasks/telemetry/metrics-logs.html#cleanup
* https://istio.io/docs/guides/bookinfo.html#cleanup

[2017-12-19 20:26] geeknoid commented on #2244
I have a PR out which should fix this.

The problem was that I removed the hack in Mixer that bridge the divide between cobra for cmd-line parsing and glog. This means that glog, still used by the k8s client libs, was not seeing the --logstderr command-line option and was proceeding to log to /tmp (its default).

[2017-12-19 20:27] geeknoid commented on #2227
I've got a PR out to fix this. I forced all timestamps to UTC and that made things reliable.

[2017-12-19 20:27] nmahoney-pivotal opened #2263 "Cloud Foundry integration documentation"
We should document the integration with Cloud Foundry.

Possible topics:

- Pilot command line flag `cfConfig`
  - Describe the yaml structure of this file
- avoid dependency on kubernetes by using `configDir` instead of a CRD to store config
- requirement for [copilot](https://github.com/cloudfoundry-incubator/copilot)
- recommendation to use [istio-release](https://github.com/cloudfoundry-incuba

[2017-12-19 20:32] mandarjog commented on #2227
Forcing UTC works, but you may want to add a test for a specific timezone if you want to check for that.

[2017-12-19 20:35] danehans opened #2264 "Update Bazel Version"
The latest version of bazel installed from homebrew is `0.9.0`. The current maximum version of bazel in check_bazel_version.bzl is `0.8.99`. This causes bazel builds to fail for devs using the latest version of bazel.

[2017-12-19 21:21] JorritSalverda commented on #2246
@guptasu I run the bookinfo sample in a dedicated namespaces also called bookinfo, so I can easily delete the whole thing at once. I did and recreated it but without any improvement.

I've pasted some logs from mixer when I execute the curl command from the bookinfo sample. I'm not exactly sure where a request starts and ends in the logs, but I do see the `source.service` is missing, whereas the `

[2017-12-19 21:23] JorritSalverda commented on #2246
Oh and to install version 0.4.0 I ran

[code]

[2017-12-19 21:26] #2230 closed

[2017-12-19 21:27] JorritSalverda commented on #2246
The istio-proxy container in one of the bookinfo pods outputs the following

[code]

[2017-12-19 21:28] JorritSalverda commented on #2246
Okay, I see now that the istio-proxy itself is version 0.3.0. Let me fix that and retry.

[2017-12-19 21:34] Stono commented on #2233
Hey,
I don't know if it helps others but I ended up signing my own 1yr cert against the istio CA to work around this.

https://gist.github.com/Stono/fe83ea90e912f878bf5e49cdd403cbbc

[2017-12-19 21:36] JorritSalverda commented on #2246
Unfortunately still the same:

[code]

[2017-12-19 22:20] yutongz commented on #2230
Upgrade golang 1.8->1.9 in Prow and it should solve the actual problem.
https://github.com/istio/test-infra/pull/639

[2017-12-19 22:24] jmuk commented on #2230
Note that installation of golang is unrelated. IIRC, Bazel installs Go SDK and uses its own version, it does not rely on anything else. Since go version is not specified to `go_register_toolchains`, the default version (1.9.1) should be used.

[2017-12-19 22:54] myidpt commented on #2233
Hi Stono, in your case you don't have a node agent to provision/rotate certs for your device, it makes sense to have a long lived cert.

I think for this issue, we want to support the use case that node agent provisions certs for the workloads. So maybe the node agents will get certs living for days/weeks (not too long, because node agents are still able able to talk to CA)

In the next step, we m

[2017-12-19 23:13] guptasu commented on #2246
Problem seem to in the config..IMO. Based on the logs I see the following actions to be resolve (resolved actions are based on the yaml configuration..) during preprocessing phase (during this phase Mixer generates the source.service attributes based on the IP address and uid.) It seems, in your case the actions resolved are `0`, where as in my case the same log statement prints `1 action`
Line fr

[2017-12-19 23:47] smawson commented on #2087
re: enabling mtls, we should have mtls off by default, not on by default, since it is dangerous to deploy into existing cluster (will break live traffic). mtls to pilot and mixer seems reasonable. So what we really want is the default state to be auth is installed and ready, but the default is that it is off for all services, and explicitly enabled for pilot and mixer services.

I think it is _rea

[2017-12-20 00:44] #2227 closed

[2017-12-20 00:44] #2244 closed

[2017-12-20 01:00] wattli commented on #2105
This issue is fixed by the below PRs.

https://github.com/istio/istio.github.io/pull/810
https://github.com/istio/istio/pull/2117
https://github.com/istio/proxy/pull/719

[2017-12-20 01:00] #2105 closed

[2017-12-20 01:48] ldemailly commented on #2087
I believe we have or soon will have mtls “preferred” mode so we should ship that way rather than without mtls (preferred means try mtls and fallback if it doesn’t work)

[2017-12-20 04:25] manlinl commented on #2236
The adapter is general purpose. Prometheus has <namespace>_<subsystem>_<metric name> convention, why not expose all of them through config?
In long run, the adapter can monitor much more than service,  such as disk_io, network, etc.

Could you elaborate more about the concerns?

[2017-12-20 04:37] manlinl commented on #2237
Access control is the first thing under discussion. Physically creating two metric data streams, potentially allow applying different access control policies on two data streams., e.g. source service developer can query outgoing request to a destination service without accessing destination service's telemetry data.

It appears  the current adapter config is rather easy to extend to support such m

[2017-12-20 06:37] sirajmansour commented on #1932
@rkpagadala the problem exists even when downloading from the mentioned windows URL

[2017-12-20 06:37] kadamvandita opened #2283 "//pilot/proxy/envoy:go_default_test fialure with exec format error"
The test case  //pilot/proxy/envoy:go_default_test fails with exec format error on x86 system.

The log shows watcher_test.go:235: fork/exec /home/test/.cache/bazel/_bazel_test/5da62891b5776882300f42bdf07800a1/bazel-sandbox/9110482688586916072/execroot/io_istio_istio/bazel-out/s390x-fastbuild/bin/pilot/proxy/envoy/linux_s390x_stripped/go_default_test.runfiles/io_istio_istio/pilot/proxy/envoy/envoy

[2017-12-20 06:39] sirajmansour commented on #1932
@rkpagadala actually ignore my previous comment, i updated the container from tsandall/mixer:dev4 based on the OPA demo on https://github.com/tsandall/cloudnativecon17-istio-opa-demo

[2017-12-20 09:25] JorritSalverda commented on #2246
If I run those 2 commands I get the following output:

[code]

[code]

[code]

[code]

[2017-12-20 09:38] JorritSalverda commented on #2246
I've fully reinstalled and now it works. Both for `istio.yaml` and `istio-auth.yaml`. I think what might have happened is that when upgrading from 0.3.0 to 0.4.0 I deleted the `istio-system` namespace, but didn't wait for it to be fully removed before running `kubectl apply -f istio-auth.yaml` again.

Sorry for bothering you with this. I does make me think though how I can do frictionless upgrades

[2017-12-20 15:07] christophetd opened #2290 ""Testing Istio mutual TLS authentication" | curl not installed in istio-proxy"
The instructions to [test mutual TLS](https://istio.io/docs/tasks/security/mutual-tls.html) appear to not work anymore, because the `curl` command is not installed in the `istio-proxy` Docker image.

Is there another way to test it in the current state of the art? In any case it'd make sense to update the docs about it. :-)

Thanks.

[2017-12-20 15:58] guptasu commented on #2246
Hi, good to know that things are working. Afaik, applying new istio to a cluster without removing  old should work seemlessly and kubernes should take care of all components  being up at any point in time . @douglas-reid any thoughts on the smooth upgrade of Istio components ?  However note that in this case, there was a breaking change in mixer 0.4.0 version (we changed the way source and destina

[2017-12-20 16:33] ozevren commented on #2025
@jnativio, could you give more detailed repro steps & configuration changes you've made?

[2017-12-20 17:34] suryadu commented on #2025
Here is the document that has all the details of our Istio Performance with some low level data

[Istio 0.2.12 Performance Measurements.pdf](https://github.com/istio/istio/files/1576491/Istio.0.2.12.Performance.Measurements.pdf)

[2017-12-20 17:42] ozevren commented on #2025
Great, thank you!

On Wed, Dec 20, 2017 at 9:34 AM, Surya Duggirala <notifications@github.com>
wrote:

[2017-12-20 18:54] yusuoh commented on #2087
+1 for using gen-kube-deployment for this new subcommand as it is specific to Kubenetes environment.

For installation, we should have a install sub-command which is more general, which can directly install the system onto different environments.

[2017-12-20 19:00] mandarjog commented on #2025
@suryadu It looks like the graphana dashboard does not record disk IO, only records CPU/memory. Did I miss something?

[2017-12-20 19:04] ZackButcher commented on #2087
Ah, I didn't understand that's what you were asking for. Yes, we can do that, and I think that's where we introduce the stuff @yusuoh's been thinking about.

Do we expect to support more than just Kubernetes? If so, lets structure the tool so that each platform is a subcommand, i.e. `istioctl gen-deploy kube`. That structure works more nicely if we pull out `gen-deploy` into its own binary, and I

[2017-12-20 19:05] ZackButcher commented on #2087
And `install` can mirror the same structure, `istioctl install kube ...` (which is convenient for all the same reasons as `gen-deploy`).

[2017-12-20 19:16] sdake commented on #2224
subscribe

[2017-12-20 19:17] ZackButcher commented on #2087
So to summarize so for:

- [ ] Structure command as `istioctl gen-deploy kube`
- [ ] Command for installation will be `istioctl install`
        - @yusuoh can you file an issue for this? IMO it's important these are two separate things, and we not conflate generating deployments with the logistics of figuring out how to do upgrades etc. in the same place.
- [ ] Default installation (`istioctl gen-

[2017-12-20 19:23] rkpagadala commented on #1932
@sirajmansour the zipkinURL argument is expected and should work in the 0.4.0 release.

[2017-12-20 19:32] mangchiandjjoe opened #2296 "Support repeated field rule in a template.proto"
In an authorization template, we need to use "repeated" file rules for the groups field.
Could we make the mixer template support the repeated field rule?

Thanks.

[2017-12-20 20:10] danehans commented on #2262
@sdake It's good to know the hook works for you. This issue to to get clarification on the following text from the dev guide:

Since the guide states the above, I did not install the hook. If you have verified the hook works, do you want to submit a PR to update the dev guide?

[2017-12-20 20:34] cmluciano commented on #2087
@ZackButcher will your gen-deploy also generate sidecar deployment files?

[2017-12-20 20:35] suryadu commented on #2025
@mandarjog  We developed a custom grafana dashboard for performance analysis of Istio where we could get the disk IO as well as shown below. The worker node .130 has only Istio components like Mixer and as you can see the disk IO changes from 7 MB/sec to less than 2 MB/sec when we disabled the mixer all together. We have not dissected the 2 containers (mixer and statsd) disk IO from mixer POD whic

[2017-12-20 20:42] ZackButcher commented on #2087
Don't plan to since we have `kube-inject`; we only use the proxy version here for the proxies that run in front of the control plane, and in configuring the initializer.

[2017-12-20 20:47] sdake commented on #2262
I haven't verified the hook works when submitting; simply when installing.  Either the guide needs to change (if it has been resolved) or the pre-commit hook needs to be fixed.  Can you please validate that the pre-commit hook is broken on commit.

Cheers
-stedve

[2017-12-20 22:54] christian-posta commented on #2219
Seeing the same thing building locally against 0.4.0 release

[2017-12-20 22:57] mandarjog commented on #2219
This bazel target is no longer in use.
It has been replaced by plain docker file build.

[2017-12-20 23:48] ldemailly opened #2298 "istioctl version for releases has -dirty and bogus git branch"
It used to look like:

built from master:
[code]

built from a branch:
[code]

But 0.4.0:

[code]

2 issues:

* shouldn't have -dirty (which means we need to remove yaml from source tree or write the new versions in a tmp dir rather than touching the source tree ones)
* GitBranch: 6401744b90b43901b2aa4a8bced33c7bd54ffc13 seems bogus

[2017-12-21 00:07] #2219 closed

[2017-12-21 00:09] jmuk commented on #2264
Seems the fix was merged already; closing.

[2017-12-21 00:09] #2264 closed

[2017-12-21 00:59] rosenhouse commented on #2203
We are about to assemble another PR that will add more features for the Cloud Foundry adapter.

Should we test it using Ginkgo/Gomega, or using Go test?

[2017-12-21 01:43] costinm opened #2300 "Opa tests fail in CircleCI and standalone kubeapi server"
While this is investigated/fixed, we should exclude the tests to avoid blocking other PRs.

2015-12-21T01:41:05.191095Z	info	template Kind: tracespan, &InstanceParam{TraceId:,SpanId:,ParentSpanId:,SpanName:,StartTime:,EndTime:,SpanTags:map[string]string{},}
2015-12-21T01:41:05.191165Z	info	template Kind: kubernetes, &InstanceParam{SourceUid:,SourceIp:,DestinationUid:,DestinationIp:,OriginUid:,Orig

[2017-12-21 03:00] jmuk opened #2301 ""make push" does not always rebuild the mixer binary"
`make push` command has been updated to bazel-free build, but it seems to skip building `mixs` binary sometimes.

Looking into more details, here's the thing:
- build happens through `make docker/mixs` in `mixer/Makefile`
- if `mixer/docker/mixs` already exists (i.e. build cache exists), make *skips* to run the command

As the result; once `make push` is done and not cleaned, `make push` does not

[2017-12-21 03:10] wora commented on #2139
One server can handle multiple protocols at the same time, so the concept
of context is vague. It should be part of a connection or a session or a
request. A standalone context at top-level doesn't seem proper.

[2017-12-21 03:39] geeknoid commented on #2139
This is a per-request context. Is this request about a TCP event, and HTTP
event, a mySQL event, etc...

On Wed, Dec 20, 2017 at 7:11 PM, Hong Zhang <notifications@github.com>
wrote:

[2017-12-21 04:45] douglas-reid commented on #2139
each check or report to mixer is about a specific operation. request.* is http centric, connection.* is tcp centric. having a common way to identify the protocol of the "event" being checked/reported to mixer was important.

we had a design doc around this issue and a long discussion/debate about the name of the attribute before. i'd rather not re-litigate that in the scope of updating the YAMLs t

[2017-12-21 04:59] wora commented on #2139
Now I understand the `context` better. :)

We do have an interesting problem now: Envoy doesn't agree with Istio
attribute namespace. Istio request maps to Envoy request.http, very likely
Istio connection maps to Envoy request.tcp. We need to find a way to keep
the mapping sane. I wish we had converged the attributes from start. Now it
is much harder.

[2017-12-21 05:05] wora commented on #2224
Can you please specify the availability target and whether human errors are
included?

I have done similar work before. The solution heavily depends on the goal.

[2017-12-21 05:58] danehans commented on #2262
I'll test on my next commit.

[2017-12-21 06:38] mandarjog commented on #2139
There are two issues involved here.
1. Very localized problem of context.protocol attribute (which is an enum) and specific code to preparse it out of selector expressions.
That problem can be solved by externalizing the notion of contexts.

2. More longer term issue is, is the request abstraction the best way to represent this information.  Or request.http.* request.tcp.* are better at representi

[2017-12-21 08:17] douglas-reid commented on #2139
@mandarjog I'm not sure I agree with your characterization of the problem.

The issue, as I understand it, is that there is config in istio/istio uses the short-lived `istio-protocol` label. That config needs to be updated to transfer the logic to `match:` clauses.

There should not be an issue in using `match` clauses with any attribute -- and it should not require any specific preprocessing code

[2017-12-21 12:25] kadamvandita opened #2305 "//mixer/pkg/config/crd:go_default_test  and //pilot/platform/kube/admit:go_default_test  fails on x86"
//mixer/pkg/config/crd:go_default_test  and //pilot/platform/kube/admit:go_default_test  fails on x86. The above mentioned TC fail on x86.

Any update on this?

[2017-12-21 14:25] geeknoid commented on #2139
I think what Mandar is suggesting with his #2 is that instead of having a
specific context.protocol attribute, we could 'scope' other attributes such
that the operator is always implicitly working in a protocol-specific world
based on the attributes that are used. So there's no need to have a
specific match clause for the protocol.

On Thu, Dec 21, 2017 at 12:18 AM, Douglas Reid <notifications@git

[2017-12-21 14:27] sdake commented on #2221
And please see: https://istio.io/troubleshooting#no-grafana-output-when-connecting-from-a-local-web-client-to-istio-remotely-hosted

There are some general reports that minikube doesn't properly synchronize time with the server from which it runs.  May I suggest using kubeadm to deploy (and also correctly deploy NTP).

Step 1: Create kubeadm.conf in your home dir:
[code]
sdake@falkor-07:~$ cat dep

[2017-12-21 15:04] christophetd commented on #2290
My statement is incorrect, curl is installed in `istio-proxy`.

[2017-12-21 15:04] #2290 closed

[2017-12-21 15:41] markvincze opened #2306 "External requests fail, and "Problem with the SSL CA cert" when sending an HTTPS request from the istio-proxy"
I installed istio and injected the sidecar into one of my services. My issue is that with the sidecar container being in place, I cannot send any requests to external services from my actual container, and I'm trying to investigate what the problem can be.

If I enter the `istio-proxy` container with bash, and execute `curl http://example.com`, then it works, but if I do `curl https://example.com`

[2017-12-21 16:55] AceHack opened #2307 "Consider integration with OPA (Open Policy Agent)"
http://www.openpolicyagent.org/

Please consider running OPA inside istio

[2017-12-21 16:59] costinm commented on #2087
You may want to sync with Jason and the people working on 'template based
injection', for consistency (including on using the same
input file and naming).

Few comments on mtls:  right now (0.4) mtls is installed by default and is
used for pilot/mixer, and any app with the right annotation,
and for 1.0 if the P1 'transparent mtls' is implemented it will be in
'enforce' or 'allow' mode.

It is no l

[2017-12-21 17:22] nmittler opened #2308 "Consider disabling auto-commit by default"
Using this issue as a forum for discussion.

IMHO there are a couple of points of concern WRT auto commit by default:

Test All the Things! (Again)
------------------------------------
Once approval has been granted, the bots kick off a full retest. If the tests all passed previously from the last commit, this seems unnecessary and time consuming. Github's merge will handle merge conflicts for us

[2017-12-21 17:23] nmittler commented on #2308
/cc @geeknoid @kyessenov @ZackButcher @rshriram @hklai

[2017-12-21 17:27] geeknoid commented on #2308
@rshriram

[2017-12-21 17:55] AceHack commented on #2307
I see this just got integrated

https://github.com/istio/istio/pull/2229

[2017-12-21 17:55] #2307 closed

[2017-12-21 18:01] AceHack opened #2310 "consider adding "let's encrypt" support to auto provision FQDN cert for external traffic"
Would love the same support as kube-lego and nginx

[2017-12-21 18:01] AceHack commented on #2310
From the old repo:

we may consider supporting "let's encrypt" to auto provision FQDN cert to support end user traffic, or peer service that doesn't run istio proxy and doesn't support spiffe.

[2017-12-21 18:31] nixgadget opened #2311 "Monitoring kube-system and all containers"
Ive got few questions regarding istio and prometheus.

1. Is there any trickery to get metrics from `kube-system` ? Pulling things like cpu, mem info from master nodes and anything else in `kube-system`. I havent been able to find any documentation around this ?
2. If not how easy is it to disable the `mixer` and plug our own prometheus implementation such as CoreOS's prometheus-operator ? I assum

[2017-12-21 18:45] hklai commented on #2308
/cc @yutongz

[2017-12-21 19:04] jmuk commented on #2301
Checked a bit, seems no problem on other components:
- `./bin/push` and `make docker` invokes `push-docker` script on pilot, mixer, and security
- `pilot/bin/push-docker` invokes `gobuild.sh` unconditionally
- `security/bin/push-docker` relies on `Makefile`, but those targets are already marked as phony

Created #2312

[2017-12-21 19:29] kyessenov commented on #2308
/cc @louiscryan

On Thu, Dec 21, 2017 at 10:45 AM Andy Lai <notifications@github.com> wrote:

[2017-12-21 19:49] yutongz commented on #2308
you should test against latest master, which is what's going on, tide is marginally more efficient

/hold covers this
you can /hold a PR and then /hold cancel when you're ready, but it will still make sure tests are ready before merge
if you have dependent commits you should DEFINITELY actually test the dependent PR again after the first PR is merged
.. that way you can make sure they actually wor

[2017-12-21 19:51] yutongz commented on #2308
For more information:
http://prow.k8s.io/plugin-help.html
https://github.com/istio/test-infra/tree/master/mungegithub#do-not-merge-1

[2017-12-21 19:52] yutongz commented on #2308
To sum up:
- you do want to retest against latest commit pairs before merge ideally
- tide is smarter about this
- you can hold a PR using a label, and prow has a command to apply / remove this label
- which tide / submit-queue can be made to block on

[2017-12-21 19:59] yutongz commented on #2308
The key point of auto-merge is to save people's time from "manually update branch with master" and run tests again since there is a chance when you rerun the tests, some other commits may merged into master and you need to do the process all over again.

[2017-12-21 20:03] mattdelco commented on #2298
The GitBranch is from the script still expecting the 0.2 scheme where a tag is set on git and a build triggers on that tag.  The scheme doesn't work well in 0.3 and later where the tag doesn't come until later (if ever).

The dirty seems specific to Mac (and likely Windows) on 0.4.0.  The build is a moving target where people change things that affect what parts of the build get dirtied by certain

[2017-12-21 20:05] yutongz commented on #2308
We sent out survey in Sept to all istio-developers (not just google), and here is the responses about auto-merge system.

<img width="802" alt="wx20171221-120335 2x" src="https://user-images.githubusercontent.com/25786429/34272903-036b81b2-e647-11e7-8aad-34e211fc0ccf.png">
<img width="827" alt="wx20171221-120347 2x" src="https://user-images.githubusercontent.com/25786429/34272907-0686229e-e647-11e

[2017-12-21 20:21] nmittler commented on #2308
yutongz@ TBH, re-running the tests isn't as big of a deal for me. Nothing is perfect, however, and I'd argue that even with re-running all the tests you're still not completely safe from other commits creeping in. Manually clicking the `merge` button only differs in that the time since the last test execution (and therefore the number of possible commits since then) may be greater. Many reasonably

[2017-12-21 20:31] #2301 closed

[2017-12-21 20:33] nmittler commented on #2308
@yutongz also it is worth nothing that your survey in Sept involved 9 people total.  We currently have over 100 contributors.  I suspect your results would be different if taken today.

[2017-12-21 20:48] yutongz commented on #2308
/cc @andraxylia @douglas-reid @ldemailly @jmuk @vickyxu

[2017-12-21 21:47] ldemailly commented on #2308
The bot is needed with mono repo so PRs can scale and be fire and forget once accepted and we don't need people to keep rebasing manually to get their PR in.
I don't think it's valuable use of human's time of people to manually merge PRs when a bot can do it properly/better.
Let's improve the bot/make it smarter as needed rather than drop it.

[2017-12-21 21:48] jmuk commented on #2308
Looks like the point of discussion is *who triggers the merge* rather than *manual vs auto merging*.

I hate manual merging, in a sense, I want enforcement of checking, since human makes mistakes. In other words, this simply means merge should be disabled if some test (or some checking) fails. But when all tests are green, and lgtm and approval are given, should it be automatically merged, or is i

[2017-12-21 22:08] andraxylia commented on #2308
Auto merging was one of the requirements for the mono repo, otherwise there will be a need to constantly rebase.

[2017-12-21 22:24] jmuk commented on #2305
Can you copy&paste the test results?  Also which kubernetes environment are you using?

Some test cases (including those two) actually connect to a kubernetes cluster, and I see sometimes error happens during `error executing access token` when using GKE. In that case, running `kubectl get pods` will refresh the access token and retry tests.

[2017-12-21 22:59] andraxylia commented on #2224
The goal is to improve it in general by addressing the items in the description (auto-scaling etc..), without a specified SLO. Any advice will be appreciated.

[2017-12-21 23:26] nmittler commented on #2308
@andraxylia

Again, (as @jmuk pointed out) this discussion is not about whether the author has to manually rebase ... it's about whether the PR is automatically submitted or not.

[2017-12-22 00:25] manlinl opened #2316 "Can we add to_string and string concatenation builtin functions in Mixer expression language"
Can we consider adding to_string(_1) and strcat(_1, _2), strcat(_1, _2) to mixer's attribute expression language?

Sometimes, we need composite attributes into something meaningful, e.g.

operation: strcat(request.method, " ", request.path)
or
result : strcat("HTTP_", to_string(response.code))

[2017-12-22 00:58] nmittler commented on #2308
All, semantics seem to have caused some issue here.  I've reworded the PR to replace "merge" with "commit" in the hopes of clarifying that I'm not talking about manually rebasing, etc.

[2017-12-22 03:41] douglas-reid commented on #2308
Does the retest do it from a clean cache-free state?

I certainly hope so -- I've seen several examples of unexpected results from stale cached state in PR pre-submits (most recently: copying outdated, no longer generated files from bazel-genfiles over top of updated files in the current PR). That alone would be worth re-testing for me (once everything is good to go).

Auto-merging and auto-submis

[2017-12-22 16:03] costinm opened #2317 "Istio CA taking up all CPU if 2 are running"
I found this while running e2e tests in minikube, in multiple namespaces.

It's very likely to happen in k8s, but harder to notice the cooling fan going at full speed :-)

 1535 root      20   0   43.2m  23.2m  62.7  1.2  52:37.94 R istio_ca
  647 root      20   0    0.0m   0.0m  41.8  0.0 960:37.16 S kswapd0
14471 root      20   0   41.1m  20.1m  25.5  1.0  35:20.40 S istio_ca

1535 root      20

[2017-12-22 16:24] nmittler commented on #2308
Good question ... @yutongz do you know the answer?

Yeah, I don't think anybody wants that :).  FYI Github does support the following merge types:

- **Merge:** Add all commits from the head branch to the base branch with a merge commit.
- **Squash and Merge:**  Combine all commits from the head branch into a single commit in the base branch.
- **Rebase and Merge:**  Add all commits from the head

[2017-12-22 16:51] wenchenglu commented on #2317
which column is for cpu usage?

[2017-12-22 16:58] ldemailly commented on #2310
depends on https://github.com/envoyproxy/envoy/issues/96

[2017-12-22 17:33] costinm opened #2318 "Consul: flaky test"
Ocassional errors:
=== RUN   TestController
--- FAIL: TestController (0.36s)
	monitor_test.go:79: got 1 notifications from controller, want 0
	monitor_test.go:118: got 0 notifications from controller, want 2
FAIL

Will try disabling parallel tests for pilot to see if it improves things, otherwise will temporarily disable
the test.

[2017-12-22 17:35] #1909 closed

[2017-12-22 17:40] kadamvandita commented on #2305
HI @jmuk ,

I tried the baove thing. STill the TC fails

the error details are seen below

exec ${PAGER:-/usr/bin/less} "$0" || exit 1
-----------------------------------------------------------------------------
2017/12/22 17:33:44 http: TLS handshake error from [::1]:44774: remote error: tls: bad certificate
2017/12/22 17:33:44 http: TLS handshake error from [::1]:44776: remote error: tls: bad c

[2017-12-22 17:56] jmuk commented on #2305
Aah, I see. So the test client tries to connect through IPv6 address `[::1]`, which isn't covered by our test certificates.

This is a bug unrelated to kubernetes, we haven't been aware of it. I'll work on the fix. cc: @ayj

[2017-12-22 18:24] nmittler commented on #2194
@douglas-reid any thoughts on how we might verify attributes sent to Mixer?  Would it be easiest to use a fake mixer?  Perhaps you have some sample tests handy?

[2017-12-22 18:32] kyessenov commented on #2194
There's a fake mixer I wrote
https://github.com/istio/old_pilot_repo/tree/master/test/mixer
It got removed as part of mono-repo move since it was causing build
problems, but you can take it as a starting point.

On Fri, Dec 22, 2017 at 10:24 AM Nathan Mittler <notifications@github.com>
wrote:

[2017-12-22 18:35] douglas-reid commented on #2194
There is also an AttributesServer mixer somewhere in the mixer/ subdirectory (it has been moved a few times). It was created for istio/proxy's integration testing.

[2017-12-22 18:43] qiwzhang commented on #2194
istio/proxy is using fake mixer server from mixer/pkg/mockapi

Its integration tests in src/envoy/mixer/integration_test are testing attributes send to mixer

[2017-12-22 18:44] nmittler commented on #2194
Ok cool ... that sounds promising, thanks!

To make these true e2e tests, would it be possible to use a real mixer, but have its output sent to a webserver running within the test class? I assume that would require egress rules, etc. ... but is it feasible? I imagine this sort of thing could be useful for all of our e2e tests?

[2017-12-22 18:49] nmittler commented on #2194
Alternatively, the output of mixer could be a webserver that supports scraping the mixer output.

[2017-12-22 18:52] kyessenov commented on #2194
Depends on how much you want to test in one-go. If you want envoy +
kubernetes + real mixer + backends, that would be the entire system, and
you'll have to deal with all the flakiness. If you just want to test the
protocol, then using envoy + fake mixer seems like the right approach.

On Fri, Dec 22, 2017 at 10:49 AM Nathan Mittler <notifications@github.com>
wrote:

[2017-12-22 18:54] nmittler commented on #2194
@kyessenov makes sense. Do you suggest using k8s at all or just running everything locally?

[2017-12-22 18:56] ldemailly commented on #2194
the idea (I believe) behind http 1.1 beta is beta in [real] k8s; with no 404/503 during normal operations. I don't think tests without the real components would demonstrate/achieve that

[2017-12-22 18:59] nmittler commented on #2194
@ldemailly sgtm, thanks!

[2017-12-22 19:01] kyessenov commented on #2194
Right, k8s, being a loosely coupled and non-det system, needs to be modeled
correctly in your tests. It might be easier to just run real k8s instead of
modeling.

On Fri, Dec 22, 2017 at 11:00 AM Nathan Mittler <notifications@github.com>
wrote:

[2017-12-22 20:08] nmittler commented on #2194
@qiwzhang Thanks for the reference to istio/envoy!  Just for book keeping, here's what you're referring to: https://github.com/istio/proxy/blob/master/src/envoy/mixer/integration_test/mixer_server.go

[2017-12-22 20:16] qiwzhang commented on #2194
It is Istio/proxy.

Yes, that mixer_server is using the mock mixer server from
https://github.com/istio/istio/blob/master/mixer/pkg/mockapi/server.go

[2017-12-22 20:44] tiffon commented on #1792
Some work has been done in Jaeger to address this:

- jaegertracing/jaeger#550
- jaegertracing/jaeger-ui#145

The change is to use [logfmt](https://brandur.org/logfmt) for tag matching in the search form.

The changes are done, but not yet released.

cc @yurishkuro, @objectiser

[2017-12-22 21:22] yutongz commented on #2308
No

It's not about the final "merge method" (we always use "Squash and Merge" in istio). It's about update branch with latest master:

From https://github.com/istio/test-infra/tree/master/mungegithub#stage-two

@nmittler  I believe your issue is mainly a behavior preference. Some people like default merging and others don't. And different kind of contributors(core like google/IBM/Cisco or other ra

[2017-12-23 00:13] wattli commented on #2317
Costin, please provide more info, i.e., what is the minikube setup in terms
of CPU/memory. I remember we have specific CPU requirements for bookinfo
example in GKE/minikube.

Tao

On Fri, Dec 22, 2017 at 8:51 AM Wencheng Lu <notifications@github.com>
wrote:

--
Tao

[2017-12-23 01:39] qiwzhang opened #2327 "Move fault injection filter before Mixer"
With this PR: https://github.com/istio/proxy/pull/771

Proxy can call Mixer report for any requests rejected by other filters regardless before or after Mixer filter.

It is better to move fault injection filter before Mixer Check so quota is not wasted if quota is enforced.

[2017-12-23 01:58] kyessenov commented on #2327
Should Mixer allow requests rejected by the fault filter?
Conversely, should the fault filter reject requests allowed by Mixer?
What about any other extensions filter like external auth one?

[2017-12-23 02:06] #2305 closed

[2017-12-23 04:06] costinm commented on #2317
I'll try to reproduce it - I didn't see much in the logs, after removing
the test namespace the cpu fan went back to normal.

Try running the e2e tests on a cluster that has istio-sysyem installed, and
check if cpu increases.

On Dec 22, 2017 16:13, "Tao Li" <notifications@github.com> wrote:

[2017-12-23 04:10] costinm commented on #2310
I have a partial patch for kube-lego to use istio ingess, but have been a
bit busy. If anyone has free cycles let me know, happy to share :-)

On Dec 22, 2017 08:58, "Laurent Demailly" <notifications@github.com> wrote:

[2017-12-23 08:04] AceHack opened #2328 "Consider Istio Mesh Expansion on Azure's AKS"
Please consider Istio Mesh Expansion on Azure's AKS managed kubernetes.

[2017-12-23 08:20] AceHack opened #2329 "istioctl get not working on windows"
I get the following error even though kubectl is working just fine

PS D:\Kubernetes\kube-resources\istio\bin> kubectl.exe version
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.0", GitCommit:"925c127ec6b946659ad0fd596fa959be43f0cc05", GitTreeState:"clean", BuildDate:"2017-12-15T21:07:38Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.I

[2017-12-23 13:48] mattmoor commented on #1359
This isn't specific to Istio.  The Spec of the Kubernetes Job object is considered immutable, which doesn't play nicely with Initializers that want to do things like inject Pods.

See also my comment [here](https://github.com/kubernetes/kubernetes/issues/48388#issuecomment-353692442).

[2017-12-23 16:44] costinm commented on #1359
My understanding was that latest k8s client removed initializer ? What's
the status of webhooks, can we start deprecating and
removing initializer ( i.e. announce that 0.4 is last version of istio with
initializer, 0.5 will have webhooks ? )

On Sat, Dec 23, 2017 at 5:48 AM, Matt Moore <notifications@github.com>
wrote:

[2017-12-23 17:41] ayj commented on #1359
https://github.com/istio/istio/issues/2177

[2017-12-23 19:12] costinm commented on #2177
+1 - we should add a release note and maybe send an email that 0.4 is the last version to support initializer.

It's more important to get 1.9 and the new features - and also to cleanup the code and testing infra.
Assuming the new webhook injection can be configured per-namespace I would hope to have a single
testing environment to worry about - with both kube-inject and webhook tests in different

[2017-12-23 19:14] cmluciano commented on #2177
In that case, can I delete initializer code so that I can merge #1895 sooner?

[2017-12-23 19:29] ayj commented on #2177
Initializer is unaffected by client-go 1.9 update. The alpha initialized
API is still present and upgrading shouldn’t break anything AFAIK.

The webhook API that we’re using for pilot and mixer config validation
changed from alpha to beta and will break with upgrade. You need (1) update
config validiton code to use the new API and (2) update
GKE/minikube/api-server to k8s version 1.9.

(2) may not

[2017-12-23 19:40] costinm commented on #2177
I would assume the tests will just skip if version is <1.9.

Maybe I'm a bit confused here - isn't webhook supposed to also replace the
auto-injection,
or is it a different API ? I was hoping we can simplify the test infra - is
there any long
term plan or reason to continue to maintain/test the initializer ? I assume
we'll not mark it
stable, any reason a user will continue to use it once webhooks

[2017-12-23 20:19] ayj commented on #2177
Mutating webhook and initializer are different k8s APIs. The plan is for
mutating webhook to replace initializer as mechanism for auto-injection.

Removing initializer shouldn’t make upgrading to client-go 1.9 any easier.
We can remove initializer mechanism and only support auto-injection on k8s

[2017-12-23 20:39] garystafford opened #2330 "Two Version of apiVersion Declared in istio-ca-plugin-certs.yaml"
The current v0.4.0 version of `/istio-0.4.0/install/kubernetes/istio-ca-plugin-certs.yaml` has two entires for `apiVersion` in the Deployment section.

[code]

[2017-12-23 21:41] costinm commented on #2177
Is there any value in maintaining the 'initializer' and having it in 0.5,
if the plan
is for mutating webhook  in 1.9+, and kube-inject in <1.9 ?  Even if it is
not
related to client-go 1.9.

+1 on stopping the validation with the alpha API, and focusing on the beta,
it
seems the best option, we must upgrade to 1.9 and move forward.

On Sat, Dec 23, 2017 at 12:19 PM, Jason Young <notifications@git

[2017-12-24 01:49] ldemailly commented on #2329
you need to pass to istioctl the location of your .kube/config

ie istioctl.exe -c pathtoyourconfig

[2017-12-24 01:52] ldemailly commented on #2328
Can you elaborate on what you mean ?
Mesh expansion should work anywhere (within the current network/ilb constraints) - and contributions to the demo scripts for other environments are welcome

[2017-12-24 04:18] AceHack commented on #2328
The first step says
Setup Internal Load Balancers (ILBs) for Kube DNS, Pilot, Mixer and CA. This step is specific to each cloud provider, so you may need to edit annotations.

In the script provided it does not have azure specific setting.  Also AKS has the management nodes fully managed by Microsoft.

[2017-12-24 04:36] ldemailly commented on #2328
Yes, it would be great if someone from Azure or with good knowledge of AKS could contribute how to make it work similarly on AKS

[2017-12-24 23:55] garystafford opened #2333 "Zipkin-to-Stackdriver Service Missing Namespace"
The `/install/kubernetes/addons/zipkin-to-stackdriver.yaml` file is missing the `namespace` declaration for the Service. It now defaults to `default`. Assume it should be `namespace: istio-system`.

[code]

[2017-12-26 05:30] sylus commented on #1985
Getting the same type of issue, consulted https://istio.io/docs/setup/kubernetes/sidecar-injection.html and still not sure what is going on.

[2017-12-26 10:13] murphyzh opened #2336 "Error: lookup failed for udp address: lookup istio-mixer on 172.19.0.10:53: no such host"
The current v0.3.0 version RUN kubectl apply -f install/kubernetes/istio.yaml
then kubectl get pods -n istio-system
istio-ca-555bbff478-j8rt7        1/1       Running            0          12m
istio-ingress-8559f9dc97-q6l4v   0/1       CrashLoopBackOff   7          12m
istio-mixer-559b684ff8-5hhdl     3/3       Running            3          12m
istio-pilot-8544445799-msvrj     2/2       Running

[2017-12-26 11:45] kahootali commented on #1789
I have upgrade to Istio 0.3.0 and have made the following EgressRule

[code]

but it is still not working and giving the same error.

[2017-12-26 15:03] kadamvandita opened #2337 "Need image for s390x for gcr.io/istio-testing/pilot:3101ea9d82a5f83b699c2d3245b371a19fa6bef4"
Need image for s390x for  gcr.io/istio-testing/pilot:3101ea9d82a5f83b699c2d3245b371a19fa6bef4.
If not image at least a sample docker file for the same would help

[2017-12-27 11:09] kadamvandita opened #2338 "istioctl kube-inject -f httpbin.yaml gives a blank output on s390x system"
istioctl kube-inject -f httpbin.yaml gives blank file on s390x system

[2017-12-27 11:44] kadamvandita opened #2339 "Issue in verifying istio on s390x"
1)	Setup a local cluster using kubeadm
2)	The node status
Kubectl get nodes
3)	Build istioctl from source
4)	Added istoctl to path
5)	Tried to execute the sample helloworld example
a)	Built the required examples-helloworld-vx images using build_service.sh
b)	On running istioctl kube-inject -f helloworld.yaml -o helloworld-istio.yaml
We observed content of helloworld-istio.yaml as empty
c)	So we ra

[2017-12-27 12:10] vadimeisenbergibm commented on #1789
@kahootali please note that for tcp you should specify an IP or IP range

[2017-12-27 12:12] vadimeisenbergibm commented on #1789
^ so just remove http and https, leave tcp with port 1433, and specify the service as IP or IP range, e.g. 91.198.174.128/25

[2017-12-27 13:11] kadamvandita commented on #2339
@rshriram ,any updates on this?

[2017-12-27 16:16] christian-posta opened #2341 "Cannot build docker images on Mac OS X"
Istio build defaults to building binaries for Linux:

https://github.com/istio/istio/blob/master/Makefile#L33

For non-linux host docker builds, we try to generate certificates (https://github.com/istio/istio/blob/master/security/cmd/generate_cert/main.go) but the binary cannot run on non-linux hosts because it's attempting to build as linux.

Patch forthcoming.

[2017-12-27 16:25] nmittler commented on #2308
@yutongz good point.  I think the problem (at least for me) has been lack of documentation for the PR workflow and all of the machinery that we've built in (e.g. prow). Let me take an action to add some docs in that regard.

For now I think we can close this issue.  Thanks for the discussion.

[2017-12-28 09:31] guirish opened #2348 "Istio related docker images/Dockerfile's to test sample examples with kubernetes on s390x"
We have build istioctl from source on s390x and tested all the UTC's. Now we are trying to run a sample example with Kuberenetes.
We have started Kubernetes local cluster using **kubeadm** (Version:1.8.3).

To test Istio with Kuberentes we executed the prerequisite yaml, i.e
 `kubectl apply -f install/kubernetes/istio.yaml`

The YAML file refers to amd64 images as a result the required istio pods

[2017-12-28 09:55] eupestov opened #2349 "Istio 0.4.0 Helm chart installation fails"
When trying to install Istio 0.4 with the provided Helm chart on a fresh minikube or Tectonic sandbox:

$ cd istio-0.4.0/install/kubernetes/helm
$ helm install istio
Error: apiVersion "config.istio.io/v1alpha2" in Istio/charts/mixer/templates/istio-mixer.yaml is not available

$ helm install --set Istio.mixer_enabled=false istio
Error: release exiled-arachnid failed: namespaces "istio-system" not

[2017-12-28 12:18] Bo0mer commented on #2338
Hello,

I'm experiencing similar problems on darwin.

# Environment
I'm using minikube.

[code]

[code]

[code]

# What I did

I executed the following command:
[code]

# What I expected to see

The content of `sleep.yaml` file decorated with the Istio sidecar.

# What I saw instead

Nothing. No output was present on stdout/stderr. The `istioctl` exits with exit code `0`.

Thanks for your awesome

[2017-12-28 12:23] eupestov commented on #2349
Actually the first is a known issue of Helm https://github.com/kubernetes/helm/issues/2994

[2017-12-28 15:52] costinm commented on #2203
Sorry, I don't have enough context here - and not familiar enough with ginko/gomega vs go tests,
however:
- if there are strong reasons to use them - please configure them with a formatter compatible with go tests and the gotest-to-junit.xml we are now using in CircleCI.
- it is not good for the project to have each component use its own test (or logging) framework. If we can't
avoid it, or everyo

[2017-12-28 16:07] rosenhouse commented on #2203
Sorry I forgot to update this issue -- yesterday I opened PR #2345 to remove Ginkgo from the Cloud Foundry unit tests.  So the output should be vanilla gotest.

After #2345 it is merged, we could put together with a subsequent PR that also removes Gomega, or we could leave that as the final state.  Perhaps I will make a proposal in favor of the latter.

[2017-12-28 16:31] prune998 commented on #506
would say it's OK for me when NOT using TLS.
I think you can close the issue except if you want to dig more to support TLS...

[2017-12-28 16:48] ldemailly commented on #506
since 0.3.0 you can mix and match mtls and non mtls on a per service basis

[2017-12-28 18:57] tonglil commented on #822
I believe istioctl is not built statically right now.

In an alpine container:
[code]

[code]

[2017-12-28 20:18] mandarjog commented on #2203
In my view gomega/ginkgo tests are better structured and it is easier to parse intent as compared with the Vanilla table driven go tests.
Kubernetes/tests/e2e uses these for example https://github.com/kubernetes/kubernetes/blob/7d759ba0c9c0af27370a7012f34f372a59123443/test/e2e/kubectl/portforward.go#L460

[2017-12-28 20:40] jasonwzm commented on #2329
This is a related issue #1788

[2017-12-28 21:09] AceHack commented on #2349
Yeah, I had to run it twice to get it to work, but then it worked fine the 2nd time.

[2017-12-29 10:03] eumji025 commented on #2336
hello
Have you solution this problem really?
I got the some question like you

[code]

[2017-12-29 10:20] murphyzh commented on #2336
you can delete the original istio deployment (kubectl delete-f install / kubernetes / istio.yaml), modify istio.yaml, delete the following two lines, and then redeploy istio (kubectl apply-f install / kubernetes / istio.yaml.
         - --statsdUdpAddress
         - istio-mixer: 9125 .Official statement has no effect with no  statsd udp query

[2017-12-29 11:35] eumji025 commented on #2336
thank you very much. it work

[2017-12-29 15:46] costinm commented on #822
Thanks - the new Makefile is generating static binaries.

$ ldd /ws/istio-master/go/bin/istioctl
not a dynamic executable

The Jan release (0.5.x) should have this - use 'make istioctl' to manually
build it.

On Thu, Dec 28, 2017 at 10:57 AM, Tony Li <notifications@github.com> wrote:

[2017-12-29 18:08] montmanu opened #2352 "openapi service spec integration"
Are there any plans to support istio-native configuration using openapi specs? If not, would that be something the project is interested in supporting?

Our particular use case would be to effectively support a subset of the HTTP request-level validation features provided by google's [cloud endpoints](https://cloud.google.com/endpoints/) product. For example, given an service spec, does the curren

[2017-12-29 21:03] montmanu opened #2353 "traces w/ unexpected zone tag value"
## Description

When viewing traces in jaeger, I've noticed the `zone` tag does not contain the expected value.. currently, the value always seems to be `AvailabilityZone couldn't find the given cluster node`, when `us-east1/d` was expected in this case.

## Environment

<details>
  <summary><code>istioctl version</code></summary>
  <pre><code>Version: 0.4.0
GitRevision: 24089ea97c8d244493c93b499a

[2017-12-30 13:11] kalyanam commented on #356
This is a great idea to reuse the existing awesome hystrix dashboard. I see the issue is closed, but can't find relevant commits. Is it implemented or discarded?

[2017-12-30 20:08] hollinwilkins commented on #824
I am creating the route, but now I get a websocket that just hangs and never sends/receives data.

Istio version is 0.3.0

Here is my route:

[code]

[2017-12-30 22:24] bacongobbler commented on #1788
Related: the code required to get this working for helm. https://github.com/kubernetes/helm/pull/3024

[2017-12-30 23:02] hollinwilkins commented on #824
@rshriram Would love to get your help solving this issue, I can get you any information you need to help debug, just not sure where to start.

[2017-12-31 01:00] jasonwzm commented on #1034
made a PR https://github.com/istio/istio/pull/2354 to fix this

[2017-12-31 02:47] costinm commented on #2203
My only concern is consistency - if a logging / testing / grpc library has
clear benefits and broad community support - we should document the reasons
and use it in all modules.

I personally don't like the style - and wasted time already due do output
inconsistencies, but it's just my opinion.

On Dec 28, 2017 12:18, "mandarjog" <notifications@github.com> wrote:

[2017-12-31 22:08] Stono commented on #2349
Yeah,
I've modified my helm chart to be a 'two phased' run, with the first one having `--set init=true`, which just does the CRDs and then the second doing the rest

[2017-12-31 22:12] montmanu opened #2355 "`EgressRule` not applied to `externalName` for services of type `ExternalName`"
## Description

When using services of type `ExternalName` and matching `EgressRule` configured for the external host name, Envoy always returns a 404 if using cluster's DNS. Would expect the `EgressRule` to be applied to service's corresponding `externalName`.

## Environment

<details>
  <summary><code>istioctl version</code></summary>
  <pre><code>Version: 0.4.0
GitRevision: 24089ea97c8d244493c

[2017-12-31 22:15] Stono opened #2356 "Tracing when not going through istio-ingress"
Hi,
We have several on-prem solutions that connect to kubernetes services on our k8s cluster directly (ie not via the istio-ingress), and present a client-certificate that we've generated against the istio-ca in doing that connection (MutualTLS enabled).

This works quite nicely for us (as we don't/can't use istio-ingress), but i've noticed in doing so we've lost tracing.  I can only presume that

[2017-12-31 22:15] Stono commented on #2356
Actually, i'll ask the question in istio-users

[2017-12-31 22:15] #2356 closed

[2018-01-01 01:48] jasonwzm commented on #1034
this is now fixed

[2018-01-01 20:21] #1034 closed

[2018-01-01 20:50] Stono opened #2357 "Pilot log errors when scaling any other deployment"
Istio 0.4.0

Hi, when I scale any deployment in my cluster I get approx 50 lines of spam in the istio-pilot log:

[code]

Any ideas?

[2018-01-01 20:57] Stono opened #2358 "Mixer failing to look up pod"
I've noticed the following in the mixer log for every request:

[code]

Is this anything I need to worry about?

[2018-01-02 01:27] christian-posta opened #2359 "Mirror/shadowing feature produces wrong cluster name"
Istio Mirroring rules create outbound clusters that don't match any cluster names because they're not created correctly. Outbound clusters start with out.* and have service/version identifiers appended. When these mirror rules fail, they affect the main request thread, not just failing on the shadow request.

Related to: https://github.com/istio/istio/pull/1314

[2018-01-02 02:02] jasminejaksic commented on #1302
Jason and Wayne - Has there been any progress on the short-term fix (sending service name to Mixer)?

[2018-01-02 13:23] Stono opened #2361 "When istio ingress TLS is enabled, HTTP 404's"
Hi,
Adding an ingress without TLS, http:// = 200
If I then add TLS to that ingress, the https:// = 200, however http:// = 404.

This is on istio v0.4.0

[2018-01-02 14:52] asomya opened #2362 "Pilot never expires query cache stats"
As reported in this issue: https://github.com/istio/istio/issues/1758

Pilot keeps the cache stats forever for deleted services and pods. This could potentially grow very large depending on the number of services, pods and endpoints created and deleted. We should delete the cache stats when the services or endpoints are deleted.

* Edited for clarity (02/19/2018)

[2018-01-02 16:24] jcmcken commented on #2336
Also had this issue. Commenting out the statsd option also worked for me.

[2018-01-02 16:51] rshriram commented on #2339
We haven't touched helloworld in a long time. Are you saying that the helloworld YAMLs in our repo are empty? or is Kube inject corrupting the file?

[2018-01-02 16:55] rshriram commented on #824
@hollinwilkins thanks for the report. I need more information on this. Possibly the Envoy configuration from both the source and destination pod to make sure the websocket configuration has propagated properly.
You can get the configuration from the local envoyusing `curl http://localhost:15000/routes` (its either 15000 or 15001). You should see a `use_websocket: true` on both configs.

[2018-01-02 17:08] frankbu commented on #2339
Sounds like more than one problem. 1) If `istioctl kube-inject ...` created an empty file, it sounds like the built-from-source istioctl binary is bad. 2) If you can't `kubectl create -f helloworld.yaml` either, then your kube env is also bad, since running it has nothing to do with istio - it's just a plain old kube deployment.

[2018-01-02 18:07] nmittler commented on #2308
Re-opening for experimentation with concurrent merge.

[2018-01-02 18:30] mattdelco commented on #2330
Three template files seem to do this, though I have no idea whether it's a bug or just someone's way of temporarily opting-in to beta functionality.

install/kubernetes/templates/istio-ca-one-namespace.yaml.tmpl
install/kubernetes/templates/istio-ca-plugin-certs.yaml.tmpl
install/kubernetes/templates/istio-ca.yaml.tmpl

[2018-01-02 18:55] #2341 closed

[2018-01-02 19:24] douglas-reid commented on #356
@kalyanam this was not implemented. if you believe that this has value, please reopen. it will still be a help-wanted task for awhile however.

[2018-01-02 20:12] ayj commented on #1302
The proxy/mixerclient should now be sending `destination.service` to the Mixer in Check/Report calls.

[2018-01-02 20:28] jasminejaksic commented on #1302
Perfect! I'm going to close this issue. Laurent et al, feel free to open a new one for the long term fix.

[2018-01-02 20:28] #1302 closed

[2018-01-02 20:39] asomya commented on #2362
Can this be assigned to me? Interested in working on it.

[2018-01-02 21:11] ldemailly commented on #1302
@ayj which PR changed that ?

[2018-01-02 21:16] ayj commented on #1302
https://github.com/istio/istio/pull/1845 added `destination.service` to TCP config filter attribute list
(see [mixerTCPConfig](https://github.com/istio/istio/commit/85983c26a893d9321f035b440b3d9185a85856dd#diff-83699eda922e729afb2122093ca240b4R229)).

https://github.com/istio/mixerclient/pull/248 includes these attributes in Report/Check calls to mixer (see https://github.com/istio/mixerclient/pul

[2018-01-02 21:16] ldemailly opened #2367 "mixer should not use pods - service identity should come from pilot"
This is the longer term part of #1302

Mixer should stop using pods for figuring out service names, and not have a pod cache

It should also not rely on pod labels

And should not use k8s directly for anything but it's own config CRs / CRDs

[2018-01-02 21:20] ldemailly commented on #1302
cool thanks, I filled the longer term follow up as #2367 (though that may be a dup of some other issues) and I added to my todo to retest the mesh expansion and confirm this is indeed fixed.

[2018-01-02 21:29] douglas-reid commented on #2367
Better / fixed service name discovery is important and something we want to address.

I don't see anything fundamentally wrong with having a cache of data in a Mixer adapter.

Whether or not Mixer should go through Pilot or directly to the API server to provide environmental information is a reasonable question, but way back when, we decided to have it call the API server directly.

Pod labels are

[2018-01-02 21:40] ayj commented on #2338
This is likely due to `istio` ConfigMap not being found in `istio-system` namespace, but it's hard to say for certain since `istioctl` is swallowing the error.

The hidden error issue should be resolved by https://github.com/istio/istio/pull/2334.

The `kube-inject` runtime dependency on k8s and ConfigMap specifically should be removed as part of https://github.com/istio/istio/pull/1895.

[2018-01-02 21:41] #1788 closed

[2018-01-02 21:42] mandarjog commented on #2367
My thinking has evolved to favor metadata sent by the Envoy when possible. This works very well for the pure service mesh case when only envoy calls mixer. This also works well when the source can assert it's own metadata using a certificate.

It does not work when services directly call Mixer, So we will have to continue supporting the Mixer env adapters.

[2018-01-02 21:42] #2329 closed

[2018-01-02 21:49] douglas-reid commented on #2367
Right, so we should prefer info sent by Envoy. And the places where we are not doing that, we should file a bug. But any information not sent by Envoy needs to be retrieved somehow (direct api calls being an important case here). Switching to Pilot seems reasonable, provided we can get the same set of information that we can from the API server or elsewhere.

[2018-01-02 21:53] kyessenov commented on #2367
I like the approach of reusing pilot's service registry adapters instead of
writing clones in other systems. I'm not sure how much we want to integrate
the two though (should it be one binary, one service, an API, or a shared
stored object?)

On Tue, Jan 2, 2018 at 1:49 PM Douglas Reid <notifications@github.com>
wrote:

[2018-01-02 21:58] geeknoid commented on #2367
If I understand correctly, we are considering calling Pilot from Mixer? If
so, this would introduce a data plane dependency (Mixer) on a control plane
component (Pilot) which doesn't seem wise.

On Tue, Jan 2, 2018 at 1:53 PM, Kuat <notifications@github.com> wrote:

[2018-01-02 22:18] mandarjog commented on #2367
We should *not* be calling Pilot from Mixer.

1. Pilot sends metadata to Envoy (which it already does today), it should just send all the metadata.
and/OR
2. Create a separate Istio Service Registry service, which pilot, mixer or anyone else can call.

[2018-01-02 22:34] kyessenov commented on #2367
What do we do in the case of direct service call to mixer? This bypasses
pilot metadata infection, and we need an alternative derivation mechanism.
The dependency can also be inverted, by making pilot call out to mixer to
program its derivation algorithms.

On Tue, Jan 2, 2018, 2:18 PM mandarjog <notifications@github.com> wrote:

[2018-01-02 22:38] mandarjog opened #2369 "Proposal: Use Pilot to configure Mixer"
The purpose of Pilot is to configure Istio data plane component(s).
Envoy is the primary data plane component therefore pilot configures all aspects of envoy.

Mixer  (Istio authz) is also a data path component.
Specifically Mixer runtime code is executed inline with the request and header data traverses through Mixer.

Mixer is also a bit different in that Mixer/pkg/runtime/controller implements

[2018-01-02 22:40] douglas-reid commented on #2367
What would the Istio Service Registry service provide beyond what Pilot is providing to Envoy? I feel like that adds a complication that isn't needed.

Again, I think this should be separated into multiple issues.

Retrieving proper service names from k8s API server is a short-term do-able item. We basically had this in a reverted PR from way back. Let's do that first.

Having Pilot push all known

[2018-01-02 22:41] mandarjog commented on #2367
Creation of a separate `Istio service registry` component addresses this issue. Mixer and Pilot both call this service. However in the pure service mesh environment, Mixer should never call this service.

[2018-01-02 23:18] mattdelco commented on #2298
Currently git says the following is modified:

modified: ../broker/pkg/model/config/mock_store.go

which says it's generated from store.go.  I'll still figuring that one out but also still trying to get the build as a whole recovering again.

As for GitBranch, I'm thinking that one needs to be removed in the name of build reproducibility.  The answer from git won't necessarily remain static/consta

[2018-01-02 23:42] sdake commented on #2109
subscribe

[2018-01-03 00:17] mandarjog commented on #2355
This is a missing feature. I am planning on implementing it this month.

[2018-01-03 00:17] mandarjog commented on #2369
@kyessenov

[2018-01-03 00:26] sdake commented on #2109
https://github.com/istio/istio/pull/2375

[2018-01-03 01:16] hollinwilkins commented on #824
@rshriram Will be happy to. Need to wait for a time when I can experiment in the cluster, unfortunately injecting sidecars also breaks out DB connections to postgres, which I am still figuring out. As a result, I don't always has istio injected, and it makes testing things like this slower than I would like.

[2018-01-03 01:37] hollinwilkins commented on #506
@rshriram I can access headless services now, but I think the connection gets interrupted. With an istio-injected container access a non-istio, headless postgres service, I get connection errors after a while. Does istio timeout TCP connections that don't show traffic for long periods of time? The default timeout for connections is 1 hour with the library I am using (Sequel for Ruby).

[2018-01-03 01:47] mandarjog commented on #2336
Is ingress otherwise able to connect to `istio-mixer.istio-system.svc.cluster.local`?

[2018-01-03 01:58] mandarjog opened #2379 "mixer/pkg/server/server_test.go hangs intermittently"
server test hangs from time to time.

The following stack trace shows that
`monitor.Close()` is waiting on `channel receive` **after**  `server.Close()`
However `TCPListener.Accept()` is waiting for 9 minutes for a connection. The expectation is that `accept` call fails with `use of closed network connection` after `server.Close()` is called.

[code]

https://k8s-gubernator.appspot.com/build/istio

[2018-01-03 01:59] mandarjog commented on #2379
/cc @costinm /cc @jmuk

[2018-01-03 02:11] hollinwilkins commented on #824
@rshriram  `curl http://localhost:15000/routes |grep websocket` returns nothing.

[2018-01-03 02:19] hollinwilkins commented on #824
@rshriram I see this:
[code]

And on the ingress controller:

[code]

Looks like the `use_websocket` flag is propagating properly. In chrome, I get status pending for exactly 1 minute, and then the WS status goes to finished.

Worth noting:
1. The websocket is routed through an instance of nginx. There is no problem with this setup until I inject the istio sidecar, but maybe nginx websocket proxy

[2018-01-03 02:27] rshriram commented on #2109
#2370

[2018-01-03 02:29] rshriram commented on #506
That might be the case.. Would need more info. It might require configuring Envoy correctly to keep connections alive.

[2018-01-03 02:32] rshriram commented on #824
I need the envoy config (the /routes) from the ws-service.. What you showed above is for the outbound path (and hence the out.xxxxx cluster name). When you query ws-service's envoy, you should see a in.abcde... cluster with a use_websocket: true for the prefix you defined.

[2018-01-03 02:53] hollinwilkins commented on #824
`curl http://localhost:15000/routes |grep "in\."` returns nothing from the istio-proxy of my websocket service

`curl http://localhost:15000/routes |grep "in\."` returns nothing from the ingress controller either

[2018-01-03 03:21] rshriram commented on #824
If you list all the clusters (/clusters) , do you see any cluster with in.... or inbound.. ?
If there is no in.., then that indicates the issue. The inbound cluster for the service is not being created, and there is no route to receive the websocket in Envoy.

[2018-01-03 03:27] hollinwilkins commented on #824
In clusters on the WS service:

[code]

And

[code]

[2018-01-03 03:41] rshriram commented on #824
Do you have any in.80 in /routes ? and if so,whats the configuration for it?

[2018-01-03 04:20] hollinwilkins commented on #824
```curl http://localhost:15000/routes |grep "in\.80"``` returns nothing

[2018-01-03 04:21] hollinwilkins commented on #824
Could it be because I don't have a container port specified for port 80?

[2018-01-03 04:21] hollinwilkins commented on #824
[code]

[2018-01-03 05:41] ldemailly commented on #2298
not sure why one would remove / change the release branch - we usually protect said branch when we create it

[2018-01-03 12:06] prune998 commented on #506
which version are you using @hollinwilkins  ? try 0.4.0 if possible...

[2018-01-03 12:12] markvincze commented on #1859
Hi @adnankobir,

Did you find a solution to this issue? I'm struggling with a similar error (described here: https://github.com/istio/issues/issues/147).

Thanks,
Mark

[2018-01-03 14:05] sdake commented on #2349
@eupestov The Istio community has taken responsibility for Helm charts as there are plans to use the helm charts in Istio to render any type of manifest needed.  To use master's version, this needs to merge first: https://github.com/istio/istio/pull/2242

[2018-01-03 14:06] sdake commented on #2349
cc @ZackButcher

[2018-01-03 14:11] sdake commented on #2311
#1. I'm not clear why Istio should have responsibility for providing metrics from kube-system.
#2. mixer is an optional component of Istio.  Mixer is only necessary if you desire metrics out of Istio itself.  Mixer feeds information to Istio's specific version of Prometheus.

Would you mind expanding on your use case?

[2018-01-03 14:15] sbezverk commented on #2349
@eupestov There is a PR almost merged which addresses certain ordering issues during istio installation. Unfortunately helm renders charts in non-deterministic order, like deployment may go first into the action before required CRD objects are created.
Here is PR link: https://github.com/istio/istio/pull/2242

[2018-01-03 14:16] sdake commented on #2339
My speculation would be that the OP is using x86_64 docker images.  Instead you will need to build master (or a released version - recommend master...  should be easier) from source.

@kadamvandita would you mind running through: https://github.com/istio/istio/blob/master/DEV-GUIDE.md?

Of critical importance are the toolchain, environment, make, make docker, make push followed by updateVersions.s

[2018-01-03 14:17] sdake commented on #2337
Check out https://github.com/istio/istio/blob/master/DEV-GUIDE.md.  I'm not sure there is any infrastructure in Istio to build s390x.

[2018-01-03 14:26] sdake commented on #1967
This issue can be closed.  As a result of the build refactor, this issue no longer exhibits.

[2018-01-03 14:33] sdake commented on #1932
should be resolved by the work that shakes out of: https://github.com/istio/istio/pull/2378

[2018-01-03 14:36] sdake commented on #1784
@ekarlso Would you mind trying master?  if not master, 0.4.0?  0.2.10 is super old and a whole lotta issues have been resolved since 0.2.10 was tagged.

[2018-01-03 14:37] sdake commented on #1687
@jmuk is this issue still relevant with master?

[2018-01-03 14:43] sdake commented on #1376
@kyessenov This could use another validation with the rework of the monorepo and build system.

[2018-01-03 14:43] #1967 closed

[2018-01-03 14:44] sdake commented on #1376
related: https://github.com/istio/istio/issues/2339

[2018-01-03 14:45] sdake commented on #2339
You may or may not  run into https://github.com/istio/istio/issues/1376.

I don't have an s390x system to work with, so YMMV :)

[2018-01-03 15:01] rshriram commented on #2359
Fixed by #2360

[2018-01-03 15:01] #2359 closed

[2018-01-03 15:06] rshriram commented on #2355
I think we don't parse ExternalName services anymore. We used to, when we had a dedicated Egress Proxy. When EgressRules came in, we no longer needed these ExternalName services.

The problem is that compared to standard Kubernetes services, External name services require inline DNS resolution and a separate processing path in Pilot. Its not terribly hard to implement this, but the question is, do

[2018-01-03 15:09] rshriram commented on #2353
cc @liamawhite who has been working on the AZs.
Is this the value of the service-zone flag from Envoy?

[2018-01-03 15:10] sdake commented on #2087
Just a quick clarification on Helm functionality after reading through this issue.  There may be a misunderstanding in this issue tracker that to modify helm configuration options, one must modify the `values.yaml` file and rebuild the chart.

While that mechanism works, the preferred method is to use `--set` or `--values` flags to helm install.

e.g.::
`helm install istio -name istio --set istio.

[2018-01-03 15:12] rshriram commented on #2283
We are moving away from Bazel. Please test without bazel. The DEV-GUIDE has been updated.

[2018-01-03 15:18] montmanu commented on #2355
it simplifies how we manage configuration of destination addresses for external dependencies.. the application can simply refer to the cluster name without worrying about which host / address the cluster name resolves to. e.g., we can change what the cluster address resolves to without changing the running application's deployment / source. also less to update if / when that external dependency ru

[2018-01-03 15:24] montmanu commented on #2353
not sure.. looks like thats what the DiscoveryService returns when it can't determine the AZ..

https://github.com/istio/istio/blob/b25c2e9d9a1ebbbf6d078a281b6f7ba4b5cd0032/pilot/proxy/envoy/discovery.go#L595

https://github.com/istio/istio/blob/d1c939b5d6a23c496e0c1a9a1a02419b3837c93d/pilot/proxy/envoy/discovery_test.go#L841-L844

[2018-01-03 15:26] adnankobir commented on #1859
@markvincze It was very strange, I had upgraded to k8s 1.8.4, reinstalled istio and started working as expected. One notable difference though - I had calico installed and enabled on the old cluster

[2018-01-03 15:29] rshriram commented on #2353
Are your nodes annotated with teh availability zone information? IF not, this won't show up.

[2018-01-03 15:39] montmanu commented on #2355
so, may just be a misunderstanding on my part, but i thought that to enable features like RouteRule / DestinationPolicy targeting external services, an EgressRule was required.

[2018-01-03 16:24] jcmcken commented on #2336
@mandarjog In my case, ``istio-ingress`` kept dying and getting restarted. I took that as a sign not to worry about the actual functionality until I could get it into a steady state. Commenting out the statsd option did that for me. I'm having other issues with ``kube-dns`` and ``minikube`` at the moment unrelated to Istio, so I can't answer if it's working now that it isn't constantly restarting.

[2018-01-03 16:35] hollinwilkins commented on #506
@prune998 I'm using 0.4.0

[2018-01-03 16:42] hollinwilkins commented on #506
I will run some more experiments throughout the day and try to figure out how long it takes to time out and I'll copy/paste a report of the exact error from postgres. It seems like an inactivity thing to me, because as soon as I start hitting the database again the error goes away after one attempt.

[2018-01-03 16:52] rshriram commented on #2353
This definitely seems like a bug.. @liamawhite ^^^

[2018-01-03 16:53] liamawhite commented on #2353
That is correct, the is the error that it returns if it can't work it out. We haven't been able to fully test this specific feature due to infrastructure limitations but it shouldn't be assigning that in the case of an error. I'll create a PR to fix that specific issue.

In terms of labels not being picked I'm not sure why that isnt working. I'll dig into it a bit more.

[2018-01-03 17:01] hollinwilkins commented on #824
That's not the issue, I setup my container with a port named `http` and a containerPort set to `80` and I still have no `in.80` rules coming back from envoy.

[2018-01-03 17:05] dgageot opened #2389 "`install` folder in releases contains only part of the files"
When I download an istio release, I expect the `install` folder to contain all the files required to install istio on a given platform. Up until `0.4.0`, only part of the files are packaged.

For eg. the `install/gcp` should contain the GCP deployment manager scripts to deploy a k8s cluster with istio pre-installed. Those scripts are in the codebase but some are missing from the release packages.

[2018-01-03 17:13] montmanu commented on #2353
Thanks!

[2018-01-03 17:27] ZackButcher commented on #2087
The goal with Helm is that we can do:
`helm install istio -name istio --values <(istioctl gen-deploy --features foo,bar --out helm)`

We shouldn't need to write the `values.yaml` do disk or rebuild the chart, it should all work at runtime.

[2018-01-03 17:38] hollinwilkins commented on #506
Ok, here is some more information:

1. The connection times out somewhere between 10-35 minutes
2. The actual error I get (using the Ruby Sequel gem):

[code]

Which I'm pretty sure indicates that the underlying TCP stream is being closed from the server end (probably Envoy closing the connection).

[2018-01-03 17:52] douglas-reid opened #2393 "Fix Mixer lint issues"
As reported by the circleci lint job, there are the following lint issues in the //mixer portion of the codebase:

[code]

We need to run the `fmt` script over the `perf` package.

[2018-01-03 17:53] rshriram commented on #2355
The two are mutually exclusive. If your application is using the internal name, i.e. app1.default.svc.cluster.local, then your route rules will be using the internal names as well. It would be like any other kubernetes service.

IF your application is using the externally visible names, like google.com, apple.com, then you need to use EgressRules to register these external services in Istio.

[2018-01-03 18:11] ozevren commented on #2393
Not sure what is going on, but when I run fmt.sh (in a branch synced to
upstream/master as of 30 seconds ago), I don't see any changes being done
to mixer/pkg/perf/... Instead, I get this:

modified:   ../../../broker/pkg/controller/controller.go
modified:   ../../../broker/pkg/model/config/store.go
modified:   ../../../broker/pkg/platform/kube/crd/client.go
modified:   ../../../broker/pkg/server/

[2018-01-03 18:19] douglas-reid commented on #2393
yikes. that I can't explain.

looking at the files in `//mixer/pkg/perf`, the imports section looks correct.

@jmuk any ideas here?

[2018-01-03 18:27] mandarjog commented on #2393
potentially docker image uses a different version of `go/gofmt` than what is locally installed.

[2018-01-03 18:56] montmanu commented on #2355
Ah, got it. Thanks, will give that a try and follow up with any feedback.

[2018-01-03 19:09] terinjokes commented on #475
We recently attempted an in-place upgrade of Istio on Kubernetes. We encountered errors applying patches to the Custom Resource Definitions, and istio-ca generated a new certificate; as a result all old deployments were considered unhealthy until we manually rolled the deployments, deamonsets, and statefulsets.

[2018-01-03 19:21] andraxylia commented on #475
@terinjokes Upgrade is not supported currently, we are working on it. For the time being, please uninstall and install the new version https://istio.io/docs/setup/kubernetes/quick-start.html.

[2018-01-03 19:21] ldemailly opened #2400 "istio logging level missing a level between info and debug or need to move a lot of logging to debug - logger"
istio logging level missing a level between info and debug or need to move a lot of logging to debug:

moving the discussion from #2240 here

The idea is that the out of the box level of logging for istio components - Info - isn't flooding the logs with per request information (otherwise istio generates too many IOs)

But we merged the glog V(1), V(2) and Info into a single level

We should either

[2018-01-03 19:22] terinjokes commented on #475
@andraxylia I understand that it's not supported. I thought it would be helpful to understand what went wrong.

[2018-01-03 19:37] kyessenov commented on #2283
The test is gone after bazel removal, so the problem is gone with it :)

[2018-01-03 19:38] kyessenov commented on #1376
bazel-specific issue

[2018-01-03 19:38] #1376 closed

[2018-01-03 20:32] geeknoid commented on #2400
The logging system we are now using supports only debug, info, warning,
error and it's not extensible. We can't just slide in a new level.

The approach we need to use is to introduce specific command-line flags to
enable specific additional output. So instead of -V=2 that enables some
random output in your component, you'd do --log_my_feature to turn on extra
logging for the specific feature you

[2018-01-03 21:17] kyessenov commented on #2400
Another deficiency of the new log is not having ability to filter by source
code file. In glog, you can specify levels per source, allowing module- or
feature-level logging customization.
How do we do with the new log system?

On Wed, Jan 3, 2018 at 12:32 PM Martin Taillefer <notifications@github.com>
wrote:

[2018-01-03 22:15] geeknoid opened #2403 "Enable code coverage for istio/pkg/*"
Seems that the packages in istio/pkg aren't currently tracked for code coverage. Can we add them please?

[2018-01-03 22:22] geeknoid commented on #2400
The current log functionality doesn't support per-source filtering. Unlike
adding a log level, I do think we could overlay support for filtering out
requests from particular source files if this is a high-value feature.

On Wed, Jan 3, 2018 at 1:18 PM, Kuat <notifications@github.com> wrote:

[2018-01-03 23:24] kyessenov commented on #2400
I think this feature would restore the ability to apply higher verbosity to modules/features, that was available prior to switch away from glog.

[2018-01-04 00:08] wattli commented on #2120
SDS will be implemented in node agent, and once we have that working, we don't need pilot agent any more. The protobuf is defined here:
https://github.com/envoyproxy/data-plane-api/blob/master/api/sds.proto

[2018-01-04 00:10] wattli commented on #2120
@saumoh , FYI

[2018-01-04 00:12] wattli commented on #298
this was obsolete

[2018-01-04 00:12] #298 closed

[2018-01-04 05:22] AceHack opened #2408 "Consider supporting Microsoft Service Fabric"
Please consider supporting Microsoft Service Fabric as an orchestrator

See below for the corresponding issue on SF.
https://github.com/Azure/service-fabric-issues/issues/740

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-overview

[2018-01-04 10:23] mrajagopal commented on #2330
It does appear to be used in the following file:
broker/pkg/platform/kube/crd/client.go: Example:
                                case apiextensionsv1beta1.Established:
                                        if cond.Status == apiextensionsv1beta1.ConditionTrue {
                                                glog.V(2).Infof("established CRD %q", name)

[2018-01-04 12:04] linsheng9731 opened #2412 "Can we add a default vagrant file?"
Can not run `make build` in Mac os. I think if we could add a default vagrant  file will be better.

[2018-01-04 12:07] linsheng9731 commented on #2412
Or add a docker dev box ?

[2018-01-04 15:08] #2246 closed

[2018-01-04 16:51] hollinwilkins commented on #506
@prune998 I have a solution for the time being, I'm expiring connections to the database every 10 minutes. Would still like to figure out the underlying cause. Happy to provide any debugging information needed.

[2018-01-04 16:56] rshriram commented on #506
I checked in Envoy. There is nothing that terminates connections every 10 minutes. Is there some other OS setting or middlebox that is terminating idle connections? IS your issue a case of idle connections being terminated or is there data in the connection as well?

[2018-01-04 17:01] rshriram commented on #506
It still goes through envoy.

[2018-01-04 17:08] prune998 commented on #506
So maybe check the envoy /stats (on port 15000) and check for various timeout counters, if it's envoy it should be there...
if it's not... well, maybe it's the TCP stack ?

[2018-01-04 17:12] ayj opened #2413 "Remove k8s.io/ingress-nginx dependency from Istio ingress controller"
The Istio ingress controller uses internal packages from k8s.io/ingress-nginx repo. These packages were previously publicly accessible (e.g. k8s.io/ingress-nginx/core/pkg/ingress/status) but have since been converted to [internal packages](https://golang.org/doc/go1.4#internalpackages). The overall dependency on k8s.io/ingress-nginx should probably be removed  since these referenced packages are a

[2018-01-04 17:50] tjquinno commented on #1194
@kyessenov (or anyone else) Has there been any progress on fixing this (other than the previously-mentioned workarounds)?

Thanks.

[2018-01-04 17:50] mdevilliers commented on #1945
Diving into the results above most of the failures seem to be data races in the tests themselves.

Only TestSyncer looks to be a bit more interesting?

I wouldn't mind having a go at this one.

[2018-01-04 17:52] hollinwilkins commented on #506
@rshriram I only see this issue from istiofied pods (I have about 13 pods that are not istiofied, running the same stack that don't see this connection issue). I have one test pod right now, running one of the services that is istiofied to work through these connection issues. It could be some other middleware ultimately responsible for the issue, but I think Istio has something to do with it beca

[2018-01-04 18:03] rshriram commented on #506
Yes. Do you have Istio CA enabled? like mTLS enabled? Can  you try with istio auth disabled and istio ca not deployed? I have a feeling that we are recycling Envoy every 10-15 minutes to refresh certificates. As part of the recycle, old connections are being terminated.

[2018-01-04 18:06] #2353 closed

[2018-01-04 18:12] qiwzhang opened #2418 "Mixer is called on the outbound traffic."
By design, mixer should not be called on the out-bound traffic,  only the in-bound traffic.

In the v1 envoy mixer filter config,  it is controlled by the per-route opague attributes

mixer_check:  on|off
mixer_report:  on|off

By default, they are both off.

With v2 envoy mixer filter config,  proxy is not reading these per-route data anymore.  It only uses the one in the service_configs map.

Fi

[2018-01-04 18:42] jmuk commented on #1687
no, I don't think so.

[2018-01-04 18:42] #1687 closed

[2018-01-04 18:42] hollinwilkins commented on #506
@rshriram I didn't install istio CA intentionally, I really don't want to add that layer yet. I used this install command: `kubectl apply -f install/kubernetes/istio.yaml`

However, I get this back when I run `kubectl get po -n istio-system`:

[code]

Is that istio-ca doing what I think it may be doing? How do I disable it?

[2018-01-04 18:45] hollinwilkins commented on #506
@prune998 I just ran the test using the `psql` command line utility, and I got this error after waiting 30 minutes:

[code]

I think it is safe to assume it is a connection issue and not a library issue.

[2018-01-04 18:46] prune998 commented on #506
@holl try stopping (scale to 0) the istio-ca pod.
I had an issue where envoy was "restared" to sync the CA every 30 mins. It's a bug which may not be resolved yet.
you can do this safely if you're not using mtls.
Will link the bug once at the airport, i'm in the bus right now :)

[2018-01-04 18:48] hollinwilkins commented on #506
@prune998 Can I just delete the deployment for istio-ca or should I scale?

[2018-01-04 18:50] prune998 commented on #506
delete it if you're sure you;'re not using it...

[2018-01-04 18:52] hollinwilkins commented on #506
@prune998 Hehe, gotcha. Also, there is too much information to sift through when I collect stats from istio-proxy. Is there a grep I can use to get you the useful stuff in regards to disconnects?

[2018-01-04 19:00] ldemailly opened #2420 "mixer rules involving headers should auto lowercase the keys"
Despite the actual header being say "X-Forwarded-Proto: http"

if you write

match: request.headers["X-Forwarded-Proto"] == "http"
it doesn't match

As http headers are semantically case insensitive we should auto lowercase or at least document we do lowercase match

[2018-01-04 19:02] ldemailly commented on #506
you don't need to touch the CA to turn on/off mtls you just need to : (from the security faq)

`kubectl edit configmap -n istio-system istio`
comment out or uncomment out authPolicy: MUTUAL_TLS to toggle mTLS and then

`kubectl delete pods -n istio-system -l istio=pilot`
to restart Pilot, after a few seconds (depending on your *RefreshDelay) your Envoy proxies will have picked up the change from P

[2018-01-04 19:10] kyessenov commented on #2418
Since we eventually want to upstream mixerclient, we should follow the conventions of Envoy by putting HTTP-level config into HTTP routes rather than listeners. That would require the use of opaque metadata attached to routes, rather than having a big listener-level config for all routes. The situation is only going to get worse once we start using filter chains, so please make sure this gets fixe

[2018-01-04 19:11] hollinwilkins commented on #506
@ldemailly I just edited the config, that line was already commented.

I did see a previous revision of the config had MUTUAL_TLS enabled, but that must have been from a long time ago.

[2018-01-04 19:12] ayj commented on #2418
Is there a tracking issue or design doc around upstreaming mixerclient?

[2018-01-04 19:13] hollinwilkins commented on #506
Actually, reviewing this:
[code]

Coming from the config map, it looks like it was never enabled even in the previous revision.

[2018-01-04 19:14] jmuk opened #2421 "linter failures are ignored by istio-auto-merge-robot"
I believe that istio-auto-merge-robot *ignores* failures on Circle-CI. Since linters are only running Circle-CI, auto-merging does happen regardless of lint errors.  I see a few lint errors are already merged into master.

The bot should stop auto-merging if lint failures happen.

[2018-01-04 19:15] ayj commented on #2418
cc @mandarjog

[2018-01-04 19:19] kidiyoor opened #2422 "Canary deployment/Traffic routing with labels doesn't work as expected in ONLY VM setup"
Continuation of issue:  https://github.com/istio/issues/issues/124
Ref: https://github.com/kubernetes/kubernetes/issues/57815

Short summery: Kube Service to Endpoints object mapping doesn't support selector/labeling mechanism. Hence its difficult to create 2 endpoints for a service with 2 different labels.

You can find more details here -  https://github.com/istio/issues/issues/124

**NOTE:** Th

[2018-01-04 19:24] qiwzhang commented on #2418
I think the scalability  issue @kyessenov brought up has nothing to do with mixerclient upstream or not.

In order for service config coming from per-route opaque metadata, we need to wait for v2 api.

For v1,  we have two options:
1) put pre-route service_config in a base64 encoded serialized proto binary.
or
2) keep the current way of using a huge service_configs map in the enovy_mixer_filter co

[2018-01-04 19:27] kyessenov commented on #2418
Yes, listener update triggers connection draining. Route updates are much more lightweight.
Once we have listeners with 1000 TCP/HTTP routes, we should not be touching the listener config unless the config affects all 1000 routes. The new v2 API _may_ in fact use one giant listeners for all proxy config if we use filter chains.

[2018-01-04 19:28] kyessenov commented on #2418
according to @costinm we hedge on potentially releasing with v1 xDS API, so the solution must be compatible with v1.

[2018-01-04 19:32] hollinwilkins commented on #506
@rshriram @prune998 Disabling istio-ca worked! I am no longer getting the disconnects after waiting 30 minutes.

[2018-01-04 19:40] qiwzhang commented on #2418
@ayj  How about this?

* Pilot start to write per-route service_config into opaque data as "mixer_service_config" (based64 encoded  proto in json format for easy debugging, proto binary is not easy to decode it).
* Proxy will check this attribute, if exist,  use it,  not to use service_configs map.  Otherwise, use the one from service_configs map for backward compatibilty

[2018-01-04 19:47] ayj commented on #2418
Populating `service_config` per-route is a possibility. I'd still like to better understand what future plans are for upstreaming mixerclient and other filters (e.g. JWT) as that may effect the filter config itself.

[2018-01-04 19:54] qiwzhang commented on #2418
We may upstream auth filter sooner than mixer filter.

For Mixer filter,  we may just upstream the Envoy related code in proxy repo src/envoy/mixer.   But still keep mixerclient repo in Istio.

mixerclient code will still use the filter config from istio/api repo.   mixer/v1/config/client.

The only benefits of such upstream is whenever Envoy change code,  they needs to fix mixer filter too.

[2018-01-04 19:59] prune998 commented on #506
well, bug is still here then... I think this will change with the new GRPC API in envoy...
I can't find the related issue to this. Maybe there is no issue and I had that from someone else's comment... can't remember. Glad you had it working finaly !

[2018-01-04 19:59] hollinwilkins commented on #506
@prune998 Added a PR for troubleshooting in Istio documentation: https://github.com/istio/istio.github.io/pull/835

[2018-01-04 22:55] silverdev opened #2426 "Make the testing pipline use the release scripts at the commit hash it is making the build on."
This will ensure that we can still build releases on branches with older or newer ways of building things.
It will also make debugging easier as  git checking out the branch locally will provide you with the same version of all the files in use.

[2018-01-04 23:26] andraxylia opened #2427 "Pilot-agent should not restart Envoy if encryption is disabled"
Pilot-agent should not restart Envoy if encryption is disabled, even if istio-ca is present and certificates are refreshed. Until support for SDS istio/istio#2120 will make envoy restart completely unnecessary, we need to fix this, and update the workaround in istio/istio.github.io#835.

Istio currently supports both encrypted and un-encrypted services in the same cluster. Users should not have to

[2018-01-04 23:30] andraxylia commented on #506
@hollinwilkins @prune998 thanks for your patience in troubleshooting this and for writing the troubleshooting guide.

It appears there is still a minor bug (with an easy workaround), since pilot-agent should not restart Envoy if encryption is disabled, even if istio-ca is present and certificates are refreshed. Until support for SDS istio/istio#2120 will make envoy restart completely unnecessary,

[2018-01-04 23:30] #506 closed

[2018-01-05 01:21] jmuk commented on #2379
cc: @geeknoid
This is interesting, monitoring server's `Close()` is called (hence ongoing `Accept` is unblocked), but `Accept` is still blocking. It's not reproducing on my environment, I guess it's a rare case that `Close` is called before `Serve` takes the effect.

[2018-01-05 03:11] zhuozl opened #2433 "eureka_istio-pilot_1 Exit 255"
istio-0.4.0

docker-compose -f install/eureka/istio.yaml ps

              Name                             Command                             State                              Ports

    eureka_etcd_1                      /usr/local/bin/etcd -adver ...     Up                                 0.0.0.0:2379->2379/tcp,

[2018-01-05 03:42] linsun opened #2435 "missing racetest target"
in our dev-guide.md: https://github.com/istio/istio/blob/master/DEV-GUIDE.md#race-detection-tests

_bash-3.2$ make racetest
make: *** No rule to make target `racetest'.  Stop._

I'm not able to find any history for this target or script.   I welcome input from others who can shed some light on this.  This seems a good target to have:  https://blog.golang.org/race-detector

[2018-01-05 08:34] al3xandru opened #2437 "Broken link in pilot/doc/design.md referring to configuration-flow.md"
`pilot/doc/design/md` includes a link to `configuration-flow.md` which looks to have been removed in the commit 238eec2ffc674bef08c02acc43c5989f09c60c4f#diff-7ededb7c32142221a5c20ed5f5f64eb4

[2018-01-05 09:35] peiqi-caicloud commented on #2252
@gyliu513 @linsun

[2018-01-05 12:32] kadamvandita opened #2440 "Does Istio run on s390x?"
Hi,

Was trying httpbin example on s390x.
The steps executed were :
1) kubectl apply -f install/kubernetes/istio.yaml
2)kubectl apply -f install/kubernetes/istio-initialiser.yaml
3) Ran httpbin example using the below commands:
kubectl apply -f <(istioctl kube-inject -f httpbin.yaml)

kubectl get pods returns:

[code]
[code]

-----------gives the above output

All the httpbin pods are up and conta

[2018-01-05 13:29] jwendell opened #2441 "Issues with GOPATH and new build system"
I see two issues in the Makefile:

1. GOPATH is being overridden. This blocks users from tweak GOPATH and build system according to their needs, like having an alternative GOPATH with their own set of vendors
2. It's used within the Makefile as if it's made of only one path, whereas it supports multiple paths (comma separated on Unix).

In my case, I need to have GOPATH set to `ordinary_gopath:alt

[2018-01-05 15:19] jwendell commented on #2441
Here's the PoC of this suggested fix: https://gist.github.com/jwendell/64bfbd9ae69a77409e0a23aee562cd91

[2018-01-05 15:25] #2379 closed

[2018-01-05 15:55] ijsnellf commented on #1360
This was partially implemented in https://github.com/istio/istio/pull/1344. The PR makes the clustername human readable as described above and makes the length 189 chars, but does not make the length configurable.

[2018-01-05 19:25] hollinwilkins commented on #824
@rshriram Is there any other information I can collect to help figure this out?

[2018-01-05 20:13] #2046 closed

[2018-01-05 23:06] al3xandru commented on #2441
I ran into this last night and I was wondering if I should open an issue.  Thus seeing it now, I'll +1 it.

[2018-01-05 23:20] costinm commented on #2441
Agree, we should fix this.

Maybe use TOP as the top directory ( s/GOPATH1/TOP/ ), and send a proper PR
?

Costin

On Fri, Jan 5, 2018 at 3:06 PM, Alex Popescu <notifications@github.com>
wrote:

[2018-01-06 01:23] xiaolanz commented on #2352
Config format wise, we don't have a plan to support openAPI directly. We may use OpenAPI format inside our config to define API IDL but not the config itself. I expect "oapi2istio" to be a tool built on top of istio.

@apicl can give you roadmap on supporting HTTP request validation thought API management.

@manlinl  may provide you more context on svcctrl adapter documentation.

[2018-01-06 03:34] apicl commented on #2352
During the development of Istio api management, we managed to translate openAPI spec into API config used to extract API attributes.

As the next step, we need to figure out how to fully support openAPI specs. Please join the API mgmt working group to contribute: https://github.com/istio/community/blob/master/WORKING-GROUPS.md#api-management

[2018-01-06 18:43] markstgodard commented on #2433
I encountered the same issue w/ the consul docker-compose install:
https://istio.io/docs/setup/consul/quick-start.html

[2018-01-06 20:14] markstgodard commented on #2433
To get pilot to talk to the api server, what I did locally was:

Change pilot to reference a file under kubeconfig mount:

[code]
and added a kubeconfig file (named config) under the kubeconfig dir,  and an entry for the istio server

i.e. snippet from config
[code]

Again I am not sure how it was intended to work, but just what I hacked around to get to work..

Would like to know if I missed some

[2018-01-07 01:12] ldemailly commented on #1024
do we plan on addressing this ? how do people expose GKE services ?

[2018-01-07 02:23] ldemailly commented on #2310
we could also add
https://godoc.org/golang.org/x/crypto/acme/autocert
to the ingress agent ?

I need something like that and been hitting issue after issue

[2018-01-07 14:25] rshriram commented on #2440
may be tutum_curl is not compiled for s390x

[2018-01-07 14:26] rshriram commented on #2422
I think the story for only vm setup is to use consul registry and adapter.

[2018-01-07 14:27] rshriram commented on #2412
We would be open to that. Better option would be to fix the build on Mac.

[2018-01-07 17:27] kidiyoor commented on #2422
Yes. Consul does a very good job if used as service registry, it solves above problem.

But using apiserver as service registry is more like 'step-0'/'easy on-boarding' for istio users. Customers/Istio user might not have expertise on Consul. Using apiserver service registry will enable istio users to start playing with istio on 'VM only' with minimal setup.

Given choice(for production) I would c

[2018-01-08 04:53] kadamvandita commented on #2440
@rshriram ,yes the image is of s390x

[2018-01-08 10:53] dgageot commented on #1703
@zhaohuabing @ZackButcher Do we want ring hash LB to be the new behavior or should it be configurable?

[2018-01-08 11:52] pacevedom commented on #1703
I am working on this with @rshriram, it will finally make it with the new v1alpha2 r routing rules. You will see the PR soon

[2018-01-08 12:18] dgageot commented on #1703
@pacevedom great! Thanks for the heads up

[2018-01-08 15:34] cmoulliard commented on #2246
I'm also experimenting the same issue as reported by Jorrit but I'm using a fresh installation of istio 0.4.0 running on openshift origin 3.7

As you can see, we have started by getting info where `source_service="",source_version="unknown"` were empty, unknown to gradually get more info

[code]

[2018-01-08 15:38] #2441 closed

[2018-01-08 16:10] GregHanson opened #2466 "Support v1alpha2 DestinationRules in pilot"

[2018-01-08 16:29] #2389 closed

[2018-01-08 16:58] ijsnellf commented on #2466
Contributes to https://github.com/istio/istio/issues/1925

[2018-01-08 17:04] ijsnellf opened #2468 "Support routing/v1alpha2 TCP routes"
Support TCP routing via the v1alpha2 routing specification.

[2018-01-08 17:05] ijsnellf commented on #2468
Contributes to https://github.com/istio/istio/issues/1925

[2018-01-08 17:33] douglas-reid commented on #2123
@geoand would you be able to write-up documentation on what is needed to get it working on OpenShift for the website guides?  That would be really helpful, as I have no experience with OpenShift.

[2018-01-08 17:37] geoand commented on #2123
@douglas-reid I have already submitted a PR that improves the installation instruction for Openshift. See [this](https://github.com/istio/istio.github.io/pull/856).

Were you thinking something along those lines or perhaps a new entry under `/docs/guides/`?

[2018-01-08 17:44] rshriram commented on #1703
@pacevedom its in v1alpha2 api spec now. I just merged it. Just needs to be implemented. cc @GregHanson / @ijsnellf

[2018-01-08 17:45] douglas-reid commented on #2123
@geoand Oh cool, thanks! I had not seen that PR yet.

[2018-01-08 17:47] geoand commented on #2123
You are welcome!

[2018-01-08 17:47] geoand commented on #2123
You are welcome!

[2018-01-08 17:50] rshriram commented on #2422
The point is that the minimal setup is not what you would use in production, as we have to reinvent service registration, health checking, and a whole lot of things.

Also to your argument about no expertise on Consul, Istio users who are running istio on just VMs (no kubernetes) may not have experience with Kubernetes API servers, etcd management, etc. either.

So it boils down to what you are co

[2018-01-08 18:55] kidiyoor commented on #2422
@gbrail @vdshah

[2018-01-08 20:14] linsun opened #2471 "Update to use non-debug proxy sidecar and ingress"
The debug proxy side car container currently requires the following:

[code]

We need to determine if this is absolutely required as this requires k8s admin to give developer role additional RBAC rules to be able to deploy privileged container for a given namespace.  In talking to @kyessenov, seems this is not needed.  Opening this issue to track this.

Related:  https://github.com/istio/istio/iss

[2018-01-08 20:22] linsun commented on #2471
looks like we only enable this for debug mode:  https://github.com/istio/istio/blob/master/pilot/platform/kube/inject/inject.go#L482, however, you would not expect different security context for debug vs non-debug in general.

[2018-01-08 20:23] pacevedom commented on #1703
@rshriram I had a working draft in my fork for v1alpha1, so I can help out @ijsnellf with this part if he wants to :)

[2018-01-08 20:23] linsun commented on #2471
@ldemailly thoughts?

[2018-01-08 20:27] munnerz commented on #2310
As just commented over on the corresponding issue in the cert-manager repo (https://github.com/jetstack/cert-manager/issues/231) - I'm fairly certain we should already be compatible with the istio ingress controller.

Take a look here: https://github.com/jetstack/cert-manager/tree/master/docs to get an idea of how to run cert-manager.

You can either create Certificate resources for your ingresses

[2018-01-08 20:29] chxchx opened #2473 "debian pkgs not uploaded to `istio-artifacts` on gcs in postsubmit"
Say the istio/istio master is at `1c498e7712badd8f3e885fbe3b77e4d2d3621843` (01/08/2018).
Visiting https://storage.googleapis.com/istio-artifacts/auth/1c498e7712badd8f3e885fbe3b77e4d2d3621843/artifacts/debs gives you "key does not exist" error instead of downloading the deb file. This is also true for **pilot** and **proxy** (although proxy uses its own sha as it is not part of istio/istio).

Thes

[2018-01-08 20:33] myidpt commented on #292
@ldemailly Hi Laurent, do we already have e2e test for ingress without security?

[2018-01-08 20:46] ldemailly commented on #2471
it's privileged in debug mode so you can install additional software to debug
(was done part of my shrinking the debug size by 2/3rd and
https://github.com/istio/old_pilot_repo/issues/1029 )

[2018-01-08 20:49] ldemailly commented on #292
all the e2e tests minimally exercise the ingress in http mode yes but not cert part

[2018-01-08 20:57] myidpt commented on #2233
We will allow the node agent to specify the target cert TTL when requesting for a new cert from CA. CA will have a max TTL for the certs it can issue. The target TTL should not be greater than the max TTL.

This gives the flexibility for node agents running on different platforms (K8s, onprem, etc) to configure differently, without having CA to differentiate them. In the future, we may have more c

[2018-01-08 21:06] nstott commented on #1277
We have a similar use case as above.
we host databases using statefulsets, and want to manage the encryption of the replication streams between pods via istio.  on our multi tenant kube clusters, we have hundreds of different databases, each with it's own statefulset(s)

[2018-01-08 21:09] linsun commented on #2471
can we prioritize security over debug, especially when we ship debug by default?

[2018-01-08 21:10] coltonmorris commented on #2306
Try this:
[code]
Though a similar ticket is here that might give you more info: https://github.com/istio/istio/issues/1590

[2018-01-08 21:13] ldemailly commented on #2471
I think the issue is shipping debug by default, not that debug has those feature

[2018-01-08 21:50] wattli commented on #1277
@nstott Currently Istio Security supports per-service auth enablement. See here for more info: https://istio.io/docs/tasks/security/per-service-mtls.html For more info.

[2018-01-08 22:28] hollinwilkins commented on #506
@prune998 Starting to see another issue with this. Not sure if it is related to headless services, but it seems istio has an effect here. After deploying a certain number of pods in a namespace, connections to headless services stop working for some reason.

I deploy 6 services injected with istio sidecar, and they connect to my database fine. When I deploy the 7th and 8th one, they cannot connect

[2018-01-08 22:59] douglas-reid opened #2478 "Fix e2e results: TestRateLimit"
With the recent changes, the e2e test for Mixer Rate Limits has broken. This needs to be resolved ASAP.

- Build grid: https://k8s-testgrid.appspot.com/istio#e2e-suite-rbac-no_auth
- Example run: https://k8s-gubernator.appspot.com/build/istio-prow/e2e-suite-rbac-no_auth/338

cc: @jasminejaksic @hklai

[2018-01-08 23:53] pacevedom commented on #2466
I am quite interested in this one, I can give a hand

[2018-01-09 00:53] #1932 closed

[2018-01-09 00:53] rkpagadala commented on #1932
we no longer have installation yaml's in source code

[2018-01-09 01:57] linsun commented on #2471
fair point, I'd vote for us not shipping debug by default given the security requirement to deploy the side car with Istio.

[2018-01-09 02:37] ldemailly opened #2483 "istio log not showing up"
the default for istio log should be stderr so it shows automatically when go tests are failing

right now we have PRs failing and nowhere to be found why

for instance:
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/2430/e2e-smoke/1202/
from #2430

[2018-01-09 04:15] christian-posta opened #2486 "The default namespace for istioctl is not properly computed"
If I run istioctl without specifying a namespace, in a namespace other than default, istioctl will take the liberty to just stash my routerules/destinationpolicy into the `default` namespace. This gets confusing. I'd like istioctl to behave similar to kubectl and just default to the namespace in which i'm currently.

https://github.com/istio/istio/blob/master/pilot/cmd/istioctl/main.go#L757

Relat

[2018-01-09 04:35] ldemailly commented on #2486
this was supposed to have been fixed in
https://github.com/istio/old_pilot_repo/pull/1373

[2018-01-09 05:10] brunoterkaly commented on #2150
thanks @yaoguais - it worked

[2018-01-09 05:12] sdake commented on #2435
@linsun one of my co-workers had mentioned this to me Thursday.  I implemented the targets today (sorry - didn't see you had filed an issue on it).  The PR is here: https://github.com/istio/istio/pull/2479

[2018-01-09 05:25] yutongz commented on #2421
Nice catch, it is a problem. Can we run linter also in Prow? If I understand correctly, one of the reasons we move to pure go from bazel is to make go linter work. I am a little concern about using circleCI to replace Prow.

[2018-01-09 05:49] #2418 closed

[2018-01-09 05:56] sdake commented on #2349
@eupestov you will also need this PR: https://github.com/istio/istio/pull/2461.  The patch is currently defective but should be relatively easy for the author to fix up.  Following the merge of that work, there will be full documentation submitted to istio.io for how to use the Helm charts.

Cheers
-steve

[2018-01-09 06:25] liwjGhostcloud opened #2489 "The istioctl kube-inject -f is empty"
the question 1:
when i try  istio-0.4.0
1.istioctl kube-inject -f samples/bookinfo/kube/bookinfo.yaml > book.yaml
2.vi book.yaml
the book.yaml is empty and my kubernetes verison is 1.8
question 2:
then i use `kubectl apply -f samples/bookinfo/kube/bookinfo.yaml`
i find the `echo $(kubectl get deployment sleep -o jsonpath='{.metadata.annotations.sidecar\.istio\.io\/status}')` is empty ,the Initiali

[2018-01-09 08:28] metacosm opened #2491 "istioctl: Add server version output to istioctl version"
One way to currently retrieve the installed istio version is to run: `kubectl get deployment istio-pilot -o yaml -n istio-system | grep image:`. It would be, however, more intuitive to get that information when running `istioctl version`.

[2018-01-09 14:16] christian-posta commented on #2486
Yah, seems it was sorted with that PR, except this commit introduced the bug i'm seeing:

https://github.com/istio/istio/commit/618f6ab424b089f6c619e8433a7351fde9cfbb5f

My fix returns the proper default namespace if one exists.

[2018-01-09 14:22] geeknoid commented on #2483
The default output is stdout. Shouldn't we be capturing stdout as well in the test running environment?

[2018-01-09 14:36] linsun commented on #2435
That is great, thank you for submitting a PR for it!

[2018-01-09 15:30] nstott commented on #1277
@wattli thanks, but as far as I understand, we'd still be left with our statefulsets unable to participate in this encryption, right?

[2018-01-09 18:22] jmuk commented on #2421
I've heard that now cicle-ci is required by auto-merge (cc @chxchx), so effectively this isn't a problem anymore.
It should be pretty easy to run linters in prow though. Just running `./bin/linters.sh`.

[2018-01-09 18:49] christian-posta opened #2499 "New build does not install `dep` correctly"
Current code in `bin/init.sh` looks like this (https://github.com/istio/istio/commit/ccb00b27405f78062e5b878527ee13b53fb698f6#diff-6f52613feaa16005aa471443d8ed37d4R24)

[code]

This will try install `dep` when it's not there. However, on non-linux machines this does not work properly because we default to linux builds out of the box (https://github.com/istio/istio/commit/27861391469c94d4391fe496ab

[2018-01-09 18:55] kyessenov commented on #2499
Can we make this installation optional? I can imagine users preferring to use homebrew or something else for dep.

[2018-01-09 19:26] christian-posta commented on #2499
Yah good call. Will update PR.

On Tue, Jan 9, 2018 at 11:55 AM Kuat <notifications@github.com> wrote:

--
*Christian Posta*
twitter: @christianposta
http://blog.christianposta.com <http://www.christianposta.com/blog>

[2018-01-09 21:37] ozevren opened #2503 "runtime2/handler/env.go needs hardening"
The Mixer runtime code that implements adapter environment needs hardening:

- The goroutine scheduling code (within runtime) is creating closures thus allocating with every call. This can (potentially) be avoided by using the recent updates to the pool.GoroutinePool.
- The scheduled methods are protected against panics, but with not much more than is done: We need a policy for dealing with adapte

[2018-01-09 22:26] andraxylia commented on #1483
No, just to drive it :)

[2018-01-09 22:28] andraxylia opened #2505 "liveness"

[2018-01-09 22:28] #2505 closed

[2018-01-09 22:29] andraxylia opened #2506 "Add horizontal scaling / auto-scaling for pilot"

[2018-01-09 22:51] #2486 closed

[2018-01-10 00:30] ozevren opened #2512 "Perform adapter/template compatibility validation at startup time."
This is a tracking bug due to make sure that we perform adapter/template compatibility of known adapters/templates during startup *once*. This way, we can provide a nice report output of adapter/template at the beginning, fail to start if necessary and avoid duplicate issue logging during runtime.

[2018-01-10 03:03] linsun opened #2516 "istio helm release is not consistent with istio release version"
It is much desired to have the istio helm release consistent with the istio release version so that confusions among users as to which helm release maps to which istio release can be much reduced.  Currently our 0.4 releases istio binary ships helm istio release of 0.3, so is the current master.   We need to be able to update the istio helm release and its dependencies in chart.yaml files and depe

[2018-01-10 04:39] sdake commented on #2516
@linsun,

At present, the only way to achieve a complete helm package is to run `updateVersions.sh` which writes `values.yaml`.  The file `values.yaml` contains among other things all image tags that are used by default.  Without values.yaml (i.e. a fresh git clone - helm install will not work).

The only file that needs to be generated is `values.yaml` and it needs to be generated during the rele

[2018-01-10 06:19] sdake commented on #2111
Closing - works on master after native build tooling rework.

[code]

The `make kubelink` step is a little clunky and depends on a functional Kubernetes deployment in order to run coverage tests.  without `make kubelink` the coverage tests fail.

[2018-01-10 06:19] #2111 closed

[2018-01-10 06:59] rosenhouse commented on #2204
[Here is a doc with a bit more detail](https://docs.google.com/document/d/1oe9QeOv0Kon9sYYJTOU_NUIsU67nnd1T1RWpDV7MFY4/edit?usp=sharing)

[2018-01-10 07:55] jasonwzm commented on #2483
no test failure logs seen in stdout. looks like test logs are exported to --test_logs_path=/home/bootstrap/go/src/istio.io/istio/_artifacts

[2018-01-10 10:00] mangelov95 commented on #2177
If `initializer` is not maintained does this mean that release 0.5 won't be compatible with use cases of automatic sidecar injection on IBM Bluemix (since that only supports Kubernetes 1.7.4 I think, and not yet 1.9)?

[2018-01-10 12:52] meelody opened #2520 "“istio-egress” is absent"
When I execute the command  “kubectl get pods -n istio-system”，Can't find “istio-egress”.And I can't find "egress" in "install/kubernetes/istio-auth.yaml".But has “EgressRule”.When was this updated, or I installed the problem.

[2018-01-10 14:06] christian-posta commented on #2471
maybe we need a more suitable installer that allows you to configure your setup before doing an installation?

[2018-01-10 14:16] christian-posta commented on #2437
Yah seems related to this https://github.com/istio/istio/commit/238eec2ffc674bef08c02acc43c5989f09c60c4f#diff-0bf1e3e19574963fdf511247da316b61

I've sent a PR to fix

[2018-01-10 14:22] linsun commented on #2516
@sdake if you download 0.4 binary, you can see values.yaml is already generated.  And that file doesn't really have much version info.  Yes, I'm opening this issue so I can work with release team to get the other version sensitive contents properly updated during the release.

cc @sebastienvas @yutongz @hklai

[2018-01-10 14:26] linsun commented on #2471
Yes, I think there is a few things we can do:

1. make non-debug image the default.  =  This git issue.
2. allow users to easily to switch to debug image.  Current thinking is via helm like a config property in values.yaml.

[2018-01-10 14:33] christian-posta commented on #2520
That's not used anymore; we use egress rules now: https://istio.io/docs/reference/config/traffic-rules/egress-rules.html

[2018-01-10 14:35] geeknoid commented on #2483
Yep, you can dig 'em out there.

[2018-01-10 14:36] christian-posta commented on #2412
@jwendell and I have hacked up some Dockerfiles in the past to do builds like this. Would that work? Or do you have a Vagrant setup you'd like to contribute @linsheng9731 ? Also... the build works great for me on Mac OS X right now -- care to try again on latest master?

[2018-01-10 15:07] sdake commented on #2520
@meelody I'm not sure when this change was made.  Do you need that information specifically?  If not, can you close this issue tracker.

Cheers
-steve

[2018-01-10 15:11] sdake commented on #2516
@linsun in version 0.4, we shipped values.yaml in the repo.  In version 0.5 (the next version iiuc), the values.yaml will need to be generated as it is no longer in the repository(along with the other generated templates).

[2018-01-10 15:15] linsun commented on #2516
Ah I missed that caveat, thank you for clarifying that @sdake

[2018-01-10 15:18] linsun commented on #2520
@meelody yes, we had it in 0.2 but removed now... there may be some old doc reference.  Is this something we need to fix in the doc?

[2018-01-10 15:40] christian-posta opened #2523 "Remove istio-egress from scripts/code and docs"
istio-egress was removed a while back but there are some lingering doc and script appearances that make it confusing. Let's clean that up.

istio-egress was removed in part with: https://github.com/christian-posta/istio/commit/9226759fe5525223f9912090f005ecccfbef9bb9

Helps clarify https://github.com/istio/istio/issues/2520

[2018-01-10 15:46] meelody commented on #2520
Thanks.I should have seen the old document.I'm just afraid the installation is wrong. I'll close the issue.

[2018-01-10 15:46] #2520 closed

[2018-01-10 15:51] sdake commented on #2520
thanks @christian-posta.

[2018-01-10 16:50] sdake commented on #2506
@andraxylia do you believe significant code change to pilot is needed, or is this more of a change the manifests around?

Cheers
-steve

[2018-01-10 17:15] ayj commented on #2177
Yes, `initializer` would be dropped from 0.5 and the only supported method for automatic sidecar injection would be mutating webhooks (k8s >= 1.9.x).

cc @rshriram @linsun for IBM support questions

[2018-01-10 17:32] andraxylia commented on #2506
It's a change in the yaml files + testing.

[2018-01-10 17:36] qiwzhang commented on #1786
The warning message is benign. It happens when Proxy tries to convert an empty IP attribute passed from Pilot from string type to bytes.   I will create a PR to fix it.

[2018-01-10 17:36] ayj commented on #2489
Have you deployed the initializer to your cluster per https://istio.io/docs/setup/kubernetes/sidecar-injection.html#automatic-sidecar-injection?

The initializer logs and full output of the sleep deployment would be helpful to debug.

[2018-01-10 17:40] qiwzhang commented on #1786
Here is the PR to fix the warning.  https://github.com/istio/mixerclient/pull/336

[2018-01-10 17:51] manlinl opened #2525 "Need CRD definition for apikey and servicecontrolreport template"
Mixer config need include CRD for apikey and servicecontrolreport template.

A proposed PR: https://github.com/istio/istio/pull/2206

[2018-01-10 18:14] qiwzhang opened #2527 "mixer client service config should be in per-route opaque data"
service config in the mixer client is a global map in the mixer filter config.  Each time when routes are changed,  need to update that map, which means it need to update the listener config.

Here is the proposal:

* Pilot start to write per-route service_config into opaque data as "mixer_service_config" (based64 encoded proto in json format for easy debugging, proto binary is not easy to decode

[2018-01-10 18:15] qiwzhang commented on #2527
Please see detail discussion in https://github.com/istio/istio/issues/2418

[2018-01-10 18:31] mandarjog commented on #2527
This also makes `egress` mixer configuration more natural. We should be able to specify it as opaque metadata on the route or the vhost.

[2018-01-10 18:37] esnible commented on #1971
I am not able to work on this this month.

[2018-01-10 19:07] kidiyoor opened #2531 "what guarantees prometheus scraping from multiple mixer ?"
Looking at the configuration of prometheus its not clear on how prometheus scrapping guarantee no data loss from mixer in case of multiple mixer.

Currently prometheus scrape from multiple mixer based on IP returned(load balanced) by kube dns ?

Prometheus might loose data from few mixer instance if operator screws up the scrap time interval ?

[code]

[2018-01-10 19:25] christian-posta commented on #2338
I can reproduce this with istioctl 0.3.0 when no `istio` configmap. @Bo0mer do you have istio installed in your k8s cluster?

[2018-01-10 19:43] Bo0mer commented on #2338
Hello,

I did not have istio installed and this was causing the issue. After installing istio the issue was resolved. Nevertheless printing an error message when istio is not installed seems like a good idea to me - in my case it would have saved this issue and some time of mine.

Thanks,
Ivan.

[2018-01-10 20:03] jnativio opened #2534 "Mixer 0.4.0 memory usage grows steadly when stdio adapter is enabled"
I have noticed that the memory used by the Mixer pod grows continuously as load is driven to the microservices under Istio 0.4.0. I have not seen this in previous releases.

![image](https://user-images.githubusercontent.com/18554027/34792401-e78e9540-f615-11e7-9b7b-fd26e0aa494e.png)

When disabling the stdio adapter (kubectl -n istio-system delete rule stdio), the memory used by the Mixer grows m

[2018-01-10 20:58] christian-posta commented on #2338
Great @Bo0mer
Sounds like #2334 takes care of making errors more visible.
Guess we can close this one?

[2018-01-10 21:31] ldemailly commented on #2483
the out of the box / default config of the istio logger should be such as running go test or go services in k8s get logs out of the box - it's important; the burden is not on the infrastructure to collect logs from new unexpected places

[2018-01-10 21:57] ankurcha commented on #2361
Just noticed this too :-/ Any workarounds?

[2018-01-10 22:21] ozevren opened #2539 "Adapter config SHA1 signature logic is likely to produce poor results."
We're using a SHA1 signature to detect if an adapter's config has changed or not, and decide to reuse the adapter based on that.

The signature code uses serialized proto form of the configuration for this purpose. However, this can potentially yield poor results, especially when config pieces include maps:
https://play.golang.org/p/Afqx-kG5s34

[2018-01-10 22:23] yutongz commented on #2421
https://github.com/istio/test-infra/blob/master/mungegithub/deployment/istio/configmap.yaml#L17

/close

[2018-01-10 22:23] #2421 closed

[2018-01-10 22:33] ozevren opened #2540 "Call handler.Close in a panic-safe context."
Two related issues:

- The Handler code in Mixer is performing a naked Close call and not protecting against panics.
- The handler is not getting closed when it first gets created, but the check for SupportsTemplate fails.

[2018-01-10 22:41] #2523 closed

[2018-01-10 22:59] diemtvu opened #2542 "Do not enable mTLS if server is already used TLS"
Istio mTLS does not work with existing TLS. At the moment, it's required that customers disable it manually (via service annotation). However, it could be better that Istio do not setup mTLS if knowing TLS is used (e.g based on port name prefix).

[2018-01-11 01:29] nixgadget opened #15761 "Build error on Mac OS Sierra with XCode 9.2"
I seem to be getting build failures when running `bazel build`.

[code]

Can someone shed some light on this for me ?

[2018-01-11 01:48] liwjGhostcloud commented on #2489
i find where i`m wrong. but my cluster use `Webhook` to authorization .how can i use initializer  in another way?

[2018-01-11 02:09] ZackButcher commented on #2361
I'll take a look at this tomorrow.

[2018-01-11 02:24] diemtvu commented on #2542
Probably not an issue.

[2018-01-11 02:24] #2542 closed

[2018-01-11 02:27] kyessenov commented on #2542
mTLS is used to pass information reliably from source to destination using TLS metadata.
It is useful even if the app already uses mTLS for this reason.

[2018-01-11 03:33] NeGnail opened #2549 "demo error. registry-1.docker.io server misbehaving"
I'm running a demo according to https://istio.io/docs/guides/bookinfo.html。My reviews-v1，reviews-v2，reviews-v3 are in the ErrImagePull state.
log shows:"Warning Failed 1m (x3 over 3m) kubelet, minikube Failed to pull image "istio/examples-bookinfo-reviews-v2:0.2.8": rpc error: code = Unknown desc = Error response from daemon: Get https://registry-1.docker.io/v2/: dial tcp: lookup registry-1.docker

[2018-01-11 08:46] andresusanto opened #2554 "Slower sidecar proxy startup time on larger kubernetes cluster"
## Istio Details
Istio Version: 0.4.0
Cluster Detail: GKE with Container-Optimized OS (cos)

## Description
Hi,
I've just installed **Istio 0.4.0** on a cluster with the default settings as in `istio.yaml` and noticed that there is a timeframe after pod startup when application could not make any connection to other services (http, database, etc). The problem is, that timeframe is larger and unacc

[2018-01-11 13:34] rshriram commented on #1277
Yes. @wattli since we generate identities based on service names, can’t we use the stateful set name to generate the ids? Or use the name of the underlying headless service. We could look into supporting stateful set properly in pilot using orig dst clusters in Envoy.

@nstott one question: due to scalability constraints, we would have to route to stateful sets based on ports only. To keep statefu

[2018-01-11 15:40] sdake commented on #2549
Can you try again?  The docker hub suffers transient failures that exhibit with the results you see.  Also the global Internet has been a bit flakey as a result of all of the mass patching going on related to CPU security vulnerabilities.

If that isn't the problem:

@meelody docker hub appears to have the image:
https://hub.docker.com/r/istio/examples-bookinfo-reviews-v2/tags/

docker pull seems

[2018-01-11 15:54] linsun commented on #2471
updated title to reflect that we decided to change to non-debug proxy image by default.

[2018-01-11 16:00] meelody commented on #2549
I'm just beginning to get into this, and some things are not very clear. I've tried many times. I've failed. Performing "docker pull" means that I have to install a docker first.

[2018-01-11 16:04] meelody commented on #2549
I simply execute the following two commands to deploy the application.

minikube start --vm-driver=xhyve
kubectl apply -f samples/bookinfo/kube/bookinfo.yaml

[2018-01-11 16:26] meelody commented on #2549
This is ok

liangendeMacBook-Pro:docker liangen$ docker pull docker.io/istio/examples-bookinfo-reviews-v2:0.2.8
0.2.8: Pulling from istio/examples-bookinfo-reviews-v2
9fb6c798fa41: Pull complete
3b61febd4aef: Pull complete
9d99b9777eb0: Pull complete
d010c8cf75d7: Pull complete
7fac07fb303e: Pull complete
e40ffc91f806: Pull complete
7a8cecd2b3ad: Pull complete
03dbaf76abf7: Pull complete
b41061b2c

[2018-01-11 16:54] ayj commented on #2489
Initializers requires https://kubernetes.io/docs/admin/extensible-admission-controllers/#initializers (k8s >= 1.7.x plus [alpha features](https://kubernetes.io/docs/admin/extensible-admission-controllers/#enable-initializers-alpha-feature).

Empty `kube-inject` is likely due to missing istio configmap. There was a bug which dropped the error message which should be fixed by https://github.com/isti

[2018-01-11 16:57] sdake commented on #2549
@meelody have you deployed the istio control plane (istio.yaml)?  If not, the bookinfo sample won't work correctly as it depends on istio.yaml and istio-initializer.yaml being run.

Are you using master or a specific released version?

For minikube, this worked for me at one point:
https://github.com/sdake/istio-tools/blob/master/deploy-mk.sh

[2018-01-11 17:12] ayj commented on #2491
Image version can be dimensioned by component (e.g. pilot, mixer, ca) and workload instance (e.g. multiple image versions may be in-flight during Istio runtime upgrade). There may also be cases where the control plane is not running in a k8s cluster. An explicit source for version information (e.g. mesh properties CRD or HTTP endpoint) may be preferable over inferred version from various image nam

[2018-01-11 17:13] ayj commented on #2413
cc @ZackButcher

[2018-01-11 17:17] ayj commented on #2489
Possible dup of https://github.com/istio/istio/issues/2338

[2018-01-11 17:19] ayj commented on #2338
Thanks for reporting @Bo0mer. I'm closing this for now assuming #2334 fixed this problem, We can re-open if that is not the case.

[2018-01-11 17:19] #2338 closed

[2018-01-11 17:29] meelody commented on #2549
My complete command is this.

minikube start --vm-driver=xhyve
kubectl apply -f install/kubernetes/istio.yaml
kubectl apply -f install/kubernetes/istio-initializer.yaml
kubectl apply -f samples/bookinfo/kube/bookinfo.yaml

But failed.My firewall has also been closed.Whether minikube's network needs special configuration.

[2018-01-11 17:55] hollinwilkins commented on #1485
@andraxylia I am still seeing this issue with istio 0.4.0, causing TCP connections to stop working with too many sidecars/services deployed

[2018-01-11 17:57] hollinwilkins commented on #1485
@ldemailly I would like to take a swing at helping resolve this issue, but I would need some guidance on how to debug and find the root cause.

[2018-01-11 18:14] ayj commented on #1485
@hollinwilkins, as an experiment can you try increasing [rdsRefreshDelay](https://github.com/istio/istio/blob/17ec5ed5c1126e55d0223efa9946ce45419c3bdb/install/kubernetes/templates/istio-config.yaml.tmpl#L36) and [discoveryRefreshDelay](https://github.com/istio/istio/blob/17ec5ed5c1126e55d0223efa9946ce45419c3bdb/install/kubernetes/templates/istio-config.yaml.tmpl#L42) to `30s` in the `istio` Config

[2018-01-11 18:20] linsun commented on #2177
Thank you @ayj!  @mangelov95 ibm cloud container service (btw, we had a rebranding late last year) currently supports 1.7.4 and 1.8.  We are working on 1.9.

@ayj could you help me understand if Istio 0.5 works on k8s 1.7.4 or 1.8 at all?  Could it work without the auto side car injection?

[2018-01-11 18:36] ayj commented on #2177
Istio 0.5 should continue to work on k8s 1.7/1.8 and can use `kube-inject` for manual proxy injection. Users can upgrade to 1.9 for automatic server-side sidecar injection and config validation.

[2018-01-11 18:56] linsun commented on #2177
@ayj thanks for confirming that.  So this doesn't change the istio general requirement for k8s, which is still 1.7 or 1.7+, however, if user needs auto side car injection, user must move to k8s 1.9.

[2018-01-11 18:57] linsun commented on #2177
re config validation, are you referring to additional config validation beyond what is provided in istioctl?  @ayj

[2018-01-11 19:02] hollinwilkins commented on #1485
@ayj This is great! Thank you for the advice. CPU usage is now down to 0-1%. Will add a section to troubleshooting about this.

[2018-01-11 19:04] ayj commented on #2177
istioctl provides client-side validation for some resources (e.g. pilot, mixerclient). AFAIK, mixer config validation is only available server-side. cc @jmuk

[2018-01-11 19:05] sdake commented on #2549
@meelody no idea how to get things to work with lab firewalls and minikube.  I don't use minikube but instead use kubeadm on a linux machine.  A google search may hold the answers for you regarding minikube and firewall workarounds.  The fact that docker works outside minikube means that the images and docker are functional.

Cheers
-stevve

[2018-01-11 19:13] christian-posta commented on #2491
Yah, +1 to having a explicit source for version info

[2018-01-11 19:19] meelody commented on #2549
@sdake   Thank you.  I'm thinking about kubeadm.

[2018-01-11 19:21] kyessenov commented on #1485
Keep in mind that due to an architectural limitation of current istio, you
may observe error codes when new route rules are submitted for up the
refresh delay (up to 30s).

On Thu, Jan 11, 2018 at 11:02 AM Hollin Wilkins <notifications@github.com>
wrote:

[2018-01-11 19:26] hollinwilkins commented on #1485
@kyessenov Does this mean anything for when I redeploy services? If I scale a deployment to 0 pods, then back up to 3, will there be request attempts to the now terminated pods for those 30 seconds?

[2018-01-11 19:51] mandarjog commented on #1945
[code]
Is this the same issue or a different issue?

[2018-01-11 19:52] kyessenov commented on #1485
Since we use the same frequency to update service membership (30s), the new
endpoints may not be visible immediately.
A quick fix would be to decouple service membership updates from route
config updates (if that wasn't done already).
There's little CPU cost for the service membership query as opposed to
config computation.

On Thu, Jan 11, 2018 at 11:27 AM Hollin Wilkins <notifications@github.com

[2018-01-11 19:52] mandarjog commented on #1945
This is still failing.

[2018-01-11 19:53] hollinwilkins commented on #1485
@kyessenov How do you do that?

[2018-01-11 19:56] kyessenov commented on #1485
It's a code change. We will need another setting like
https://github.com/istio/api/blob/master/mesh/v1alpha1/config.proto#L74 just
for EDS. EDS is the service membership query, other xDS are config-related.

On Thu, Jan 11, 2018 at 11:53 AM Hollin Wilkins <notifications@github.com>
wrote:

[2018-01-11 20:12] hollinwilkins commented on #1485
@kyessenov Sounds good, thanks for the help again and I'll look forward to the new config option!

[2018-01-11 20:14] kyessenov commented on #1485
cc @andracis @costin can you take care of driving this change?

On Thu, Jan 11, 2018 at 12:12 PM Hollin Wilkins <notifications@github.com>
wrote:

[2018-01-11 21:42] mangelov95 commented on #2177
Thank you for the info @linsun & @ayj! A question which is a little bit off-topic, but do you have an idea when would IBM Cloud CS start offering k8s 1.9? My use case involves deploying an application as a helm chart, so it seems that my only reasonable option to use Istio is with automatic sidecar injection, so that means that IBM Cloud CS stops being an environment option for me at Istio 0.5. 😢

[2018-01-11 22:13] ayj commented on #2177
You could play around with trying to patch an already deployed app. You could teach `kube-inject` to emit a JSON patch of injected containers/volumes and `kubectl patch` the live deployment. Adding a dummy non-existent volume dependency to the helm chart and removing it as part of the `kubectl patch` that contains the injected resources would avoid creating any pods without the injected sidecar.

[2018-01-11 22:23] jmuk opened #2565 "mixer: run `mixs crd all` as the build process"
Currently `install/kubernetes/templates/istio-mixer.yaml.tmpl` contains several CRDs and mixer configs. But these CRDs can be out-of-sync, it's very easy to forget updating it. This proposes to generate them automatically by invoking `mixs crd all`.

This does not change the existing deployments. Those CRDs should be in the yaml files we will provide. The proposal is to run the command for buildin

[2018-01-11 22:50] #2499 closed

[2018-01-11 23:50] christian-posta opened #2567 "istioctl version doesn't return a value on master"
Looks like when we moved away from Bazel, we've possibly broken the version injection stuff?

For istioctl on master right now, when we do a build, we don't see version info when running `istioctl version`.

Looks like we intend for it though:

https://github.com/christian-posta/istio/blob/4398a447128012f9b6bc065df22245248e82d881/Makefile#L183

And here we try build the `-ldflags -X`:

https://git

[2018-01-12 00:11] sirajmansour commented on #1235
Should the OPA adapter expose the OPA agent REST API to simplify pushing policy and data updates without having to push those through CRD deployments ? Our use case is to handle user fine grained authorization through OPA and having that at the proxy level offers the best flexibility, but because data related to users and user permissions changes frequently and could be quite large / expensive to

[2018-01-12 00:12] ayj commented on #2567
What environment/platform are you building on?

The input is the list of key/value environment variables emitted by `bin/get_workspace_status`. Have you verified that `bin/get_workspace_status` is producing expected output, e.g. raw version info? Maybe add an echo ${LD_VERSIONFLAGS}` after the referenced loop.

[2018-01-12 00:47] costinm commented on #2177
Probably I shouldn't mention this - but would the sidecar initializer from
0.4 continue to work ? The actual injection should be compatible and
didn't change - of course mixing different versions is dangerous, but for a
short time it may be an option.

Costin

On Thu, Jan 11, 2018 at 2:13 PM, Jason Young <notifications@github.com>
wrote:

[2018-01-12 00:50] ayj commented on #2177
:) Reusing 0.4 initializer with 0.5 is a temporary option assuming the underlying sidecar configuration doesn't change in incompatible ways.

[2018-01-12 01:02] tsandall commented on #1235
I can't speak authoritatively for the Mixer team but I suspect they will not want to see Mixer adapters listening for incoming connections and/or maintaining state.

Currently the OPA adapter only has access to the *policy* that's contained in the adapter configuration. We should investigate whether it's possible to load data from additional CRDs into adapters (assuming that approach will scale we

[2018-01-12 01:54] liwjGhostcloud commented on #2489
ok , i will try it again ,when i find another problem i will ask u again, thanks @ayj

[2018-01-12 02:10] ldemailly commented on #2310
I got it to work, here is an example and I will write it up further too:
https://github.com/istio/admin-sites/pull/32/files
but it was a bit difficult (mostly because of how to make the http01 challenge pod reachable from the ingress - with/despite istio auth - feedback most welcome if there is a simpler way)

[2018-01-12 02:33] christian-posta commented on #2567
building on darwin.

Thanks @ayj that's the key i was looking for. There's some bug in here, i'll find it and submit a PR.

[2018-01-12 03:02] christian-posta commented on #2567
nm. i was doing the build wrong. no bug here.

[2018-01-12 03:02] #2567 closed

[2018-01-12 05:28] ldemailly commented on #1377
With an ingress set as follows:
https://github.com/istio/admin-sites/pull/32/files#diff-fc47a9580959f741b273792bda3dde36
I get 404 NR on the non https traffic with Host: header (and what I expect if I use the IP only)
I think it's because the https one listens on 80 instead of just 443:

[code]
is there a way for a TLS ingress spec to not bind on 80 ? or if it binds on 80, how do I send traffic so

[2018-01-12 05:43] sirajmansour commented on #1235
It is definitely not the usual idea of the mixer adapter i have to say. Maybe calling an external opa sidecar/deployment then ?

[2018-01-12 05:52] ldemailly opened #2573 "istio ingress always listens on 80, kubernetes.io/ingress.allow-http: "false" annotation not respected"
istio ingress always listens on 80, kubernetes.io/ingress.allow-http: "false" annotation not respected

it listens on 80 but does NOT send the traffic to the configured backend (!)
404 NR for all http URLs, it also doesn't redirect to https either...

[code]

related to #1377 in that that ingress only does TLS yet shadows attempts to have other non TLS ingresses for the same ip

tested with 0.4.0

[2018-01-12 05:58] ldemailly commented on #2573
https works as expected:
[code]
http:
[code]
envoy ingress log:
[code]

[2018-01-12 06:07] ldemailly commented on #2573
found a [workaround](https://github.com/istio/admin-sites/pull/32/commits/33abb817b7e2610d4e3ee8bbbbefde2a48fda0bb), by repeating each host and rule in non https section

[2018-01-12 08:00] ldemailly commented on #1377
I found workarounds for the above issues. As well as making redirect work too using
https://github.com/istio/fortio/pull/80/files#diff-61a4e729b116ffe8a0303004555c636cR635-R638
if anyone needs an implementation

[2018-01-12 09:28] mdevilliers commented on #1945
Test TestSyncer is still failing - I asked about this in #2439 but didn't get any feedback.

The datarace is in the k8s client code so either it isn't designed to be goroutine safe (I don't think it is reading the code) and we should look at how the code under test uses the library or maybe the client code could be made to be safely called from multiple goroutines.

An feedback would be great?

[2018-01-12 14:43] mangelov95 commented on #2177
No, I was just generally concerned with how auto injection from ver. 0.4 to 0.5 would be handled for older versions of k8s. Keeping version 0.4 for the time being is a good option for me.

[2018-01-12 16:01] mandarjog commented on #1235
opa adapter loading directly from CRDs was part of the plan, so that is always possible.
An external opa process that is watching CRDs is also equivalent. In both cases it will not change the configuration surface and user experience.

The current implementation choice was for expediency.

[2018-01-12 17:27] andraxylia opened #2582 "istioctl gen-deploy: add common tag for all images"
The build pushes all images with a common tag.

Currently istioctl gen-deploy allows to specify the hub for all images, but a separate tag must be provided for pilot, mixer, ca.

As a separate sub-task, it would be good to change the location where the command is looking for templates, from the current dir to "install/kubernetes/helm", so the command can be run from the root of istio.

[2018-01-12 17:53] ldemailly commented on #2361
I have a fix/workaround for it in #2310

[2018-01-12 18:28] ldemailly commented on #2361
repeating from the mailing list:

While it's counter intuitive (if only because of #2573) the solution is actually simple:

copy your ingress section and repeat it without "tls:" section

you can see an example here: https://github.com/istio/admin-sites/pull/32/files#diff-fc47a9580959f741b273792bda3dde36

Please confirm that solves your issue and we can close it
(will document better as part of ht

[2018-01-12 19:29] danehans commented on #1424
The current proxy is based on an Envoy SHA from 10/31/2017. It needs to be updated to support SNI: https://github.com/istio/proxy/blob/master/WORKSPACE#L37

[2018-01-12 19:33] danehans opened #15760 "Document Proxy Upgrade Process"
The proxy is based on an Envoy SHA from 10/31/17:

https://github.com/istio/proxy/blob/master/WORKSPACE#L37

Proxy should be updated to support SNI and other Envoy features that have been added since 10/31. What is the process for updating Envoy? This should be documented and well understood.

[2018-01-12 21:28] kyessenov commented on #2573
/assign @ZackButcher
(he's redesigning ingress)

[2018-01-12 23:15] #2157 closed

[2018-01-12 23:33] ldemailly opened #2594 ""make" should work and not put linux binaries on a mac's path"
make produces and install into my ~/go/bin linux executables while I'm on a mac - this is completely useless and unexpected (I end up with an "istioctl" I can't execute...)

(if some weird hack is needed in circle ci, use "make circleci" for circleci but don't put the wrong architecture binaries in my path)

[2018-01-12 23:36] ldemailly commented on #2594
cc @hklai

[2018-01-12 23:37] ldemailly commented on #2594
https://github.com/istio/istio/blob/master/bin/gobuild.sh#L32 should stay unset and it would just work

[2018-01-12 23:39] hklai commented on #2594
cc @mattdelco We were just talking about this yesterday.

[2018-01-13 00:15] mattdelco commented on #2594
I'm assuming this was done with the docker images in mind and someone would point out that it can be overridden (I'm not sure on why := or ?= wan't used).  The release build needs to cross-compile istioctl for 3 platforms and this doesn't work well with a single bin/ directory.  I'm used to arch-specific bin directories in builds and I've asked for opinions about whether it'd be alright to do mult

[2018-01-13 01:21] ldemailly commented on #2594
why not leave the env var unset by default (so no cross compiling by default) and
then build can just invoke it 3 times with 3 GOOS= set to different settings
(and a different OUT / $1 too)

[2018-01-13 01:22] ZackButcher commented on #2594
I like `bin/$GOOS` with the native OS binaries going to `$GOPATH/bin`.

However, the default `make` command shouldn't build for all three platforms, it should build for the native OS only. CI can be changed to use specific make targets for each OS much more easily than developers can remember to do `make $GOOS`.

[2018-01-13 01:29] ldemailly commented on #2594
ps see above but ./bin/ should not be used as it's full of source files
all output from build should go to some single prefixed directory like `./build-out/` by default (and in theory that destination/staging directory should be configurable as I should be able to build from source mounted as readonly fs)

[2018-01-13 01:46] mattdelco commented on #2594
by bin/ I was generically referring to something like ISTIO_BIN in the Makefile, which from the base of istio source is something like ../../../bin/.

I do keep readonly source in mind (and which istio was better suited for it).  A use case I've used in the past is mounting source from one system to another (to cope with lack of cross-compilation support), though that use case is also what gives m

[2018-01-13 10:16] meelody opened #2602 "Error loading config file "/etc/istio/config/kubeconfig""
I did it according to this document. https://istio.io/docs/setup/consul/quick-start.html.
I have a mistake.

 istio/pilot:0.4.0 state is Exited when I type in the 'docker ps -a' command.

The log display error is as follows:
failed to create discovery service: failed to connect to Kubernetes API. Error loading config file "/etc/istio/config/kubeconfig": read /etc/istio/config/kubeconfig: is a dire

[2018-01-13 13:01] NeGnail opened #2605 "istio/proxy_init:0.4.0 , iptables: Chain already exists"
I did it according to this document. https://istio.io/docs/setup/consul/quick-start.html.
I have a mistake.

istio/proxy_init:0.4.0 status is "Exited",when I type in the 'docker ps -a' command.
This shows "iptables: Chain already exists." when I type in the 'docker logs' command.

How should I solve this problem?

[2018-01-13 13:01] #2602 closed

[2018-01-13 18:04] meelody opened #2607 "ERROR: yaml.composer.ComposerError: expected a single document in the stream"
when I type in the 'docker-compose -f samples/bookinfo/kube/bookinfo.yaml up -d' command.
There was a mistake：
  ERROR: yaml.composer.ComposerError: expected a single document in the stream
  in "./samples/bookinfo/kube/bookinfo.yaml", line 18, column 1
but found another document
  in "./samples/bookinfo/kube/bookinfo.yaml", line 30, column 1

[2018-01-14 16:51] meelody commented on #2607
I wonder if this is a version of the yaml file, and the docker-compose version I use (1.18.0) may not support this version of yaml files.

[2018-01-14 17:38] #2607 closed

[2018-01-14 20:47] liamawhite commented on #2353
@montmanu When merged the second PR will have it setting correctly, verified it manually.

[2018-01-15 22:57] dio commented on #2554
Could it be because of this: https://github.com/envoyproxy/envoy/issues/2373?

[2018-01-15 23:56] kdillane commented on #1038
Is there some way to follow progress on the effort to address/solve this Issue?

[2018-01-16 01:52] ldemailly commented on #1422
we now have an annotation to turn off mtls but it would be even better if we auto detected that a service has been injected or not to make it seamless

[2018-01-16 01:55] ldemailly commented on #1038
cc @jasminejaksic

[2018-01-16 09:01] MPV opened #2615 "Make fails with `ld: unknown option: -no-as-needed` on Mac OS"
I'm trying to build istio/istio on a Mac, but the `make` fails (see output below).

I've installed `go`, `bazel`, and `buildifier`. Are there any other dependencies I might need?

[code]

[2018-01-16 09:06] MPV commented on #2615
For anyone curious, this is for a Homebrew formula for Istio I've been drafting (https://github.com/Homebrew/homebrew-core/pull/22897/), hoping to make it easier to install on Mac. 😊

[2018-01-16 09:18] linsheng9731 commented on #2412
@christian-posta I'm happy to contribute it.

[2018-01-16 12:49] christian-posta commented on #2615
So for the latest master, we no longer need bazel. Have you been trying on latest master? Or on 0.4.0?

[2018-01-16 13:34] MPV commented on #2615
This was for 0.4.0 (sorry that I forgot to mention it).

I was thinking of trying with master, but as I was creating a Homebrew recipe it felt preferable to use a released version. :blush:

[2018-01-16 13:35] christian-posta opened #2617 "We should automatically create "destination dir" for updateVersion.sh if not exists"
There's unintended behavior when we try generate the istio resource files into a destination directory other than default AND when that directory isn't created ahead of time. We should just automatically create that directory if it doesn't exist.

[2018-01-16 13:46] christian-posta opened #2619 "Create component files for installation on k8s"
Right now all of the installation components for running istio on k8s are merged into a single `istio.yaml` file. In a more controlled environment, we may install and version each component of istio separately -- it would be nice to diff/version each component separately.

Would like a way to generate the individual component (mixer, pilot, ca, etc) installation files separate from the all-in-one.

[2018-01-16 13:52] christian-posta commented on #2615
FWIW, i'd target the upcoming release. Bazel is a hassle in my experience and it's not part of the build going forward.

[2018-01-16 15:20] linsun commented on #2619
cc @ZackButcher as I think the new istioctl is trying to solve this.  Further, the new helm install is also allow users to configure the installation via values.yaml to indicate which component to turn on.

[2018-01-16 15:32] mrice32 commented on #2554
@dio That's likely part of it, but there is an overarching issue covering slow startup with large numbers of clusters here: https://github.com/envoyproxy/envoy/issues/2063.  Work is already in progress to tackle part of this: https://github.com/envoyproxy/envoy/pull/2358.

[2018-01-16 16:09] jmarantz commented on #2554
The stats creation is the biggest problem (https://github.com/envoyproxy/envoy/issues/1824) and that will be resolved as soon as I can get a review & merge of https://github.com/envoyproxy/envoy/pull/2358

I am curious about the expectations, though.  Do you want a new node to be able to accept connections in 100ms?  1s?  Given what config?

[2018-01-16 17:44] ZackButcher commented on #2619
@christian-posta as others said, my stab at addressing this type of use case was the [`gen-deploy` subcommand in `istioctl`](https://github.com/istio/istio/tree/master/pilot/cmd/istioctl/gendeployment). It (and our helm charts) needs quite a bit more work, but the vision is that this tool address the use case of "I want only features X, Y, Z"; given the target feature set it produces the minimum I

[2018-01-16 17:54] MPV commented on #2615
👍 Thanks.

I might revisit when the next version is released (seemed like around Jan 27th?) as I'm under the assumption that Homebrew might be more open to merge in a Formula tied to a version, instead of following the master branch. :blush:

[2018-01-16 18:11] andraxylia commented on #1038
@kdillane this is targeted for 0.6 release in February.

[2018-01-16 18:30] jmuk opened #2623 "update linters"
We fix gometalinter version (and its linter versions) by using docker image. It seems some linters are old and not effective, maybe we should consider updating it.

[2018-01-16 18:46] jmuk opened #2624 "refactor lint flags"
I've noticed that `--fast` flag is set in `bin/linters.sh`. This is bad for multiple reasons:
- lint configs are managed in a config file, additional flag in the shell script isn't a great idea
- this flag actually limits the linters to run. We should rather use `--enable` / `--disable` to clarify which linters should run

[2018-01-16 18:57] geeknoid commented on #2624
I've got a PR to address this in the works.

[2018-01-16 19:02] kdillane commented on #1038
That seems fair.  My question was more around understanding how to track the incremental effort of an open Issue.  Milestones can change, that is just how projects run.  However, we are trying to understand how to follow what is changing in Istio to address this Issue and how to understand the progress along that path to completion.

[2018-01-16 19:27] sebastienvas commented on #2483
Fixed by #2593

[2018-01-16 19:27] #2483 closed

[2018-01-16 19:34] jsenon opened #2628 "Liveness Readiness Probe Istio"
We are using istio 0.4 with mutual TLS with automatic sidecar injection. We want to configure liveness probe but we receive :

[code]

Our deployment is like this:

[code]

If we open a new listener in our application container, but don't declare it on service, and use this new port for liveness probe it will work:

[code]

Service:

[code]

Our micro service is build with Goland and we use a mux

[2018-01-16 19:49] sdake opened #2629 "Helmetize the addons for a complete Helm-native experience with Istio"
The helm charts are off to a great start thanks to the work of @sbezverk and @luisyonaldo and many reviewers in the community as well as a few other folks.  Could one or both of you work on adding the addons to the existing Helm charts?  There are no special ordering requirements on the addons that I am aware of.  I have launched them hundreds of times without ordering constraints using a bash scr

[2018-01-16 19:51] sdake opened #2630 "Helm installation method needs documentation"
SSIA

[2018-01-16 20:08] linsun commented on #2629
+1, yes, there is no specific ordering, this will be good to have.  Please be aware of some pending changes I have in https://github.com/istio/istio/pull/2557 which I'm trying to get it in asap.

[2018-01-16 20:20] cmluciano commented on #2605
@istio/proxy-hackers

[2018-01-16 20:28] luisyonaldo commented on #2629
I'll do it, but before that I'm working on a PR to standardize the chart and follow best practice to be able to do stuff like have multiple istio installation releases using the same chart (with current chart is not possible). After that I'll work with the add-ons. Community did a good work with the chart in the kubernetes incubator repo, so I'll take the add-on installation from there and adapt i

[2018-01-16 20:29] luisyonaldo commented on #2629
Btw, did you guys plan to also host the charts as repo? So people can just add your istio helm repo and install istio without needing to pull the repo.

[2018-01-16 20:53] cmluciano commented on #1945
FWIW https://github.com/kubernetes/kubernetes/issues/58121 might be related

[2018-01-16 21:22] cmluciano commented on #2628
@istio/proxy-hackers

[2018-01-16 21:26] jsenon commented on #2628
Do the FAQ have answer?

[code]

[2018-01-16 21:28] liminw opened #2633 "Mixer CRD "kind" should be CamelCase"
Currently Kubernetes and Pilot use CamelCase for CRD kind. For example,
* Kubernetes has "RoleBinding", "ClusterRole".
* Pilot has "RouteRule".

But Mixer uses lower case for CRD kind. For example, "attributemanifest", "listchecker". We need to fix the inconsistency.

[2018-01-16 21:28] liminw commented on #2633
/assign @geeknoid

[2018-01-16 21:35] liminw commented on #2633
cc @kyessenov @mandarjog @douglas-reid

[2018-01-16 21:46] ZackButcher commented on #2628
If your health check is on the same port as your main application's serving port, and you have Istio Auth enabled (i.e. you have mTLS enabled between services in your mesh) then health checking will not work. This is because Envoy can't tell the difference between a health check and regular old un-encrypted traffic, and the API server performing health checking doesn't run with a sidecar that can

[2018-01-16 22:45] rosenhouse commented on #2204
We've started working on tests using a mock Copilot.  [Link to our tracker](https://www.pivotaltracker.com/story/show/154219864).

[2018-01-16 23:41] ZackButcher commented on #2628
[Ah, it is in our FAQ:](https://github.com/istio/istio.github.io/blob/master/_faq/security/auth-mix-and-match.md)

So, the solution is to keep your health check on a different port than your main service, and in your service definition exempt the health check port from mTLS using the annotation "`auth.istio.io/<SERVICE PORT>: NONE`"

[2018-01-16 23:58] wstrange commented on #2628
There are many applications that will not support moving health checks to a different port.

It would be nice to have a better solution. The trick of using curl from within the pod is an option, but it does feel a little kludgy.

[2018-01-17 00:28] mattdelco commented on #2516
Since version 0.3.0 the release builds have been running updateVersion.sh (with the current/latest version \#) prior to generating the install tars (this is handled by release/update_and_create_archives.sh).  This is why the generated files that were in the repo were at version 0.2 (and why the stale istio.RELEASE says 0.3).

So, if you're just concerned about values.yaml then this should already

[2018-01-17 01:15] yusuoh commented on #2516
Is the version field in the chart.yaml file also updated correctly by every new release? When users use 'helm ls' to check the version info, will it show the same version with the release?

[2018-01-17 01:34] sdake commented on #2516
@yusuoh no it isn't.  Currently it is listed as 0.3.0: https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/Chart.yaml#L2.  How I've seen this handled in the past on fast moving projects is a manual update of the version field in the aforementioned file, followed by a commit of that file prior to a branch and tag operation.

Cheers
-steve

[2018-01-17 02:38] jsenon commented on #2628
Agreed with @wstrange, solution with curl or use different port can works but seems to be wily. May we think about share certificate with k8s api who needs to have it in order to works with mTLS ? Nevertheless thanks @zackbutcher for your quick answer.

[2018-01-17 02:46] linsun commented on #2629
Thank you @luisyonaldo! your priority order sounds good.  We should look into host the charts in public repo, which I would really like to see after we straight out the version issue.

[2018-01-17 03:06] sdake commented on #2435
@2479 merged, so closing this issue.

[2018-01-17 03:06] #2435 closed

[2018-01-17 03:08] sdake commented on #2349
@eupestov The Helm charts are in good shape, minus missing the addons.  This can close in Istio 0.5.0.

[2018-01-17 03:12] ZackButcher commented on #2628
I'll re-open since the core issue isn't really solved.

With some of the work we're landing to support [Gateways](https://github.com/istio/api/blob/master/routing/v1alpha2/gateway.proto), and also to support incremental mTLS adoption, we can probably work out a scheme to pass health checks through. (@wattli, what's the security team been thinking about on this front?)

[2018-01-17 03:16] PiotrSikora commented on #2628
I think the proper solution would be to provide valid certificate to the health checker, so that it can connect and properly authenticate (i.e. no unencrypted backdoors) to the service that it's health checking.

(Not sure if that's possible right now, K8s-wise).

[2018-01-17 03:45] campbelldgunn commented on #925
@geeknoid - I notice that the helm charts for this are still referencing 0.3.0 and not 0.4.0 in the latest release downloaded from github.com. Is there going to be a 0.4.0 helm chart release?

[2018-01-17 03:55] geeknoid commented on #925
Not sure, maybe @gyliu513 would know.

[2018-01-17 04:16] andresusanto commented on #2554
Thanks @jmarantz, @mrice32, @dio

1s would be acceptable, but of course achieving 100ms would be awesome! I think it is important that it should not deviate largely on different cluster size so users could get predictable delay in startup time at any given cluster size.

[2018-01-17 04:18] campbelldgunn opened #2641 "Support for mixed windows and linux k8s clusters"
I have searched through the documentation for how support Istio on mixed window and linux node clusters. Right now, I will use the nodeSelector in helm chart to install initially on linux. But not what the process is for windows nodes?

Thanks in Advance.

[2018-01-17 05:07] ldemailly commented on #2628
I believe if you use curl in your container it will work as our iptables don’t intercept localhost traffic

[2018-01-17 06:05] pmint93 commented on #1679
K8s 1.8.4
Tried with istio 0.2.12 and 0.4.0
Using this routerule: `istioctl create -f samples/bookinfo/kube/route-rule-all-v1.yaml`
But there is no effect, I still see a round robin distribution of no stars, red stars, black stars.
Mixer log still notice that there are no rules:
[code]
[code]

[2018-01-17 06:29] ldemailly opened #2643 "needs log summarization/highlights for our tests"
When test (like pilot e2e) fail on circle ci the logs are unusable:

"Your build output is too large to display in the browser. Only the first 400000 characters are displayed."

for instance fro https://circleci.com/gh/istio/istio/16920

prow for instance highlights errors and skips sections without errors in the log to attempt to keep things readable/scrollable

cc @sebastienvas

[2018-01-17 07:43] dpacierpnik opened #2644 "Can not regenerate mixer fiels - mixer_codegen.sh panics"
I would like to regenerate mixer files, but mixer_codegen.sh script does not work - ends with panic.

Istio from master branch (commit eb443d3a429622b5e600664ebe48ab0133f069c6)
OS: Ubuntu 17.10
Steps to reproduce:
`cd bin; ./mixer_codegen.sh`
Output:
[code]

[2018-01-17 09:10] lixiaobing1 commented on #1430
+1 for UDP, there is a strong use in telecommunication, all data is transferred with UDP in 3G PS, 4G both FDD and TDD, also in future 5G. I think we should start the support for UDP immediateley.

[2018-01-17 09:30] linsheng9731 commented on #2412
see https://github.com/istio/istio/pull/2646

[2018-01-17 14:02] christian-posta opened #2650 "Create short names for istio CRDs related to routes rules and destination policies"
`routerule` and `destinationpolicy` is a handful to type at the cli. it would be convenient to have short names to use kinda like `pod` has `po` and `service` has `svc`

Maybe something like `dp` for destination policy and `rrl` for route rule etc.

[2018-01-17 14:18] linsun opened #2651 "Ingress using non-debug image failed to load cert"
While debugging for https://github.com/istio/istio/pull/2557, prow e2e-smoke kept failing when ingress uses non-debug proxy image.  Open this for further investigation.

The error is something like this:

[2018-01-12 14:07:42.857][17][critical][main] external/envoy/source/server/server.cc:78] error initializing configuration '/etc/istio/proxy/envoy-rev0.json': Failed to load certificate '/etc/cert

[2018-01-17 15:11] sdake commented on #2629
@luisyonaldo sounds good thanks for the commitment!  Keep in mind Istio 0.5 release is Jan 27th, so if you can't make that deadline, please LMK and I'll push out the target to 0.6.

Cheers
-steve

[2018-01-17 15:43] linsun commented on #2651
https://storage.googleapis.com/istio-prow/pull/istio_istio/2557/e2e-smoke/1429/artifacts/demo-test-24d49ac683d44b1689ca7492237/istio-ingress-2183619444-hrhnc_container:istio-ingress.log

[2018-01-17 15:44] wenchenglu commented on #2628
agreed with @PiotrSikora on handing the istio CA cert to k8s health checker. I think we have discussed with k8s folks on this support, @wattli may update where we are on this.

An alternative option is to support multiplexing both TLS and plaintext traffic on the same port, and use authorization to control what type of access is allowed. Piotr, do you know when we would have this multiplexing read

[2018-01-17 16:20] ZackButcher commented on #2628
Yup, that's what I was alluding to: TLS sniffing + port multiplexing to allow health checks through in plain text. While not as nice a solution as giving the health checker a cert, it is good in that its a general solution across health checkers.

[2018-01-17 16:22] mattdelco commented on #2516
The only helm file that's updated is values.yaml.  None of the Chart.yaml nor the requirements.yaml are updated since these were checked in as static files rather than as a template updated by updateVersion.sh (only values.yaml was set up to be updated, and that one was originally set up to be updated in-place rather than derived from a template).  I don't have the  background to know if that was

[2018-01-17 16:40] #1758 closed

[2018-01-17 17:10] yusuoh commented on #2516
How is that version field in Chart file being used by Helm? I think Helm has stored version history internally for every upgrade and rollback, so maybe it is only an informational? Can we treat that value as the version of Chart files but not the version of Istio?

[2018-01-17 17:55] ldemailly commented on #2651
@kyessenov I thought /etc/certs are the ones deposited by the Istio CA and not the system ones

but do you know why would the non debug image behave differently ? or maybe it's missing some starter cert that the debug image does have ?

[2018-01-17 17:56] ldemailly commented on #2651
cc @qiwzhang  / @costinm too who may know how the image difference may explain this/or have seen this before from envoy

[2018-01-17 18:13] ldemailly commented on #2628
what is wrong with curl localhost ?

[2018-01-17 18:37] diemtvu commented on #2628
port multiplexing could be a "convenient" solution, though I feel it maybe too implicit and may cause some security leak (customers might not realize that their service accept plaintext request)

The other option using gateway (or alias port) could be better. In this approach, users can create an alias port, config it to use plaintext and config health check to use that port. It's more work for us

[2018-01-17 18:52] ZackButcher commented on #2628
`curl` is fine for some use cases, but in the long run we need to support health checking services that call in to the workload. For example, Envoy's own cluster health checks are "active": they call a specific endpoint hosted by the workload. We also need health check services to work to enable look-aside load balancing features.

[2018-01-17 18:58] kyessenov commented on #2651
There are behavioral differences between debug and production builds of
Envoy, but usually it's the opposite - debug build is more likely to crash
since it enforces some invariants, rather than warning about them.

Sorry, this probably requires digging the root exception in envoy.

On Wed, Jan 17, 2018 at 6:18 AM Lin Sun <notifications@github.com> wrote:

[2018-01-17 19:01] PiotrSikora commented on #2628
@wenchenglu TLS sniffing should land this week (it's waiting for changes for listeners to be merged), and multiplexing will follow right after that.

However, like @diemtvu said, leaving the unencrypted channel open only for the sake of health checker isn't a perfect solution, and we should have a plan to use mTLS there as well.

[2018-01-17 22:07] baodongli opened #2656 "Build istio containers with debugger information"
Enhance Makefile to build containers with debugger information, update dev guide on how to debug with a debugger such as delve

[2018-01-17 22:08] baodongli commented on #2656
/assign baodong li

[2018-01-17 22:08] istio-testing commented on #2656
@baodongli: GitHub didn't allow me to assign the following users: baodong, li.

Note that only [istio members](https://github.com/orgs/istio/people) can be assigned.

<details>

In response to [this](https://github.com/istio/istio/issues/2656#issuecomment-358464651):

Instructions for interacting with me using PR comments are available [here](https://github.com/kubernetes/community/blob/master/con

[2018-01-17 22:32] mandarjog commented on #2531
The issue is that we are using dns name as a scrape target.
It should be the actual mixer endpoint. Without that even with just 2 Mixer we will loose data or give unexpected results.

For example consider a situation where both Mixers are maintaining histograms of latencies. The correct answer is to merge the histogram by simple addition from two mixers. Using a dns name, prometheus will randomly

[2018-01-17 23:52] douglas-reid commented on #2531
There are prometheus config options that integrate with k8s. I believe we will want to transition to something like [k8s sd service config](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#service) for mixer metrics scrapping.

We should do some testing / experimentation to validate as we transition to HA Mixer.

[2018-01-17 23:55] douglas-reid commented on #2531
I should mention that I've been experimenting with this recently as we work towards an pre-alpha version of a dashboard for Mixer itself.

[2018-01-18 00:12] douglas-reid commented on #2644
Sorry. To regenerate mixer files, please run: `go generate ./mixer/...` the `mixer_codegen.sh` script is not meant to be run directly.

[2018-01-18 00:24] andraxylia commented on #2198
@rshriram for H2 and GRCP we miss testing them with long running connections.

[2018-01-18 00:26] andraxylia commented on #2198
[Istio Networking Feature Matrix](https://docs.google.com/spreadsheets/d/1ajTgdiqIV6pqZiYx4X8DZq2v7Mf7TRhpq9gLmRYc0Q8/edit#gid=0) contains what kind of tests exist for each protocol or nw feature.

[2018-01-18 01:15] ayj opened #2662 "istioctl gen-deploy --features flag doesn't parse string array properly"
[code]

The documentation for https://godoc.org/github.com/spf13/pflag#StringArray suggests the `[]string` flag value should contain a list of values parsed from a comma delimited string. But it doesn't seem to work that way in practice and instead the first value in the slice contains the original comma delimited string.

[2018-01-18 01:15] ayj commented on #2662
cc @ZackButcher

[2018-01-18 01:28] jmuk opened #2663 "large number of lint errors on master"
When I run `./bin/linters.sh` after #2631, I got huge number of lint errors. Some of them seem observed in Circle-CI too.

Majority of them are `composite literal uses unkeyed fields` by vet. I think we can skip them. I'll look into others. @geeknoid

Here's the things I'm seeing currently at my local machine:
[code]

[2018-01-18 01:52] kidiyoor opened #2664 "Label info missing in grafana/prometheus for services running outside kubernetes"
In current architecture we use 'mixer adapter for Kubernetes' which generate additional attributes like labels for the given service by looking up POD description.
Since service that run outside Kubernetes say in VM expansion do not use POD, it is registered as endpoint objects and endpoint labels. 'Mixer adapter for Kubernetes' does not look up for endpoints object to generate label attributes ?

[2018-01-18 01:57] kidiyoor commented on #2664
@mandarjog @costinm @ldemailly

[2018-01-18 02:57] jmuk commented on #2663
I missed your later PR, rebasing fixes several of the things above. Thanks.

That's not warnings on vendor directory. The error happens in our code, creating object without specifying keys, like `Foo{foo}` rather than `Foo{foo: foo}`, the error message says that sometimes the object is defined in packages in vendor directory. The govet binary (or `go vet` command) reports the same error, I'm not s

[2018-01-18 04:23] geeknoid commented on #2663
​The PR looks fine, but before merging it, I think it's important to
understand why you're seeing different results than CircleCi.

I'd still love to see the debug output from gometalinter if you could.​

On Wed, Jan 17, 2018 at 6:58 PM, Jun Mukai <notifications@github.com> wrote:

[2018-01-18 08:13] smashpunk opened #2667 "A lots of ERROR after istio 0.4 installed"
According to quick start, just install istio 0.4 on kubernetes, all pod is up. But, the logs shows istio componets connect pilot timeout. Is it normal?

**platform**: Kubernetes 1.8, with RBAC enable
**command**:
`kubectl logs istio-pilot-55bb7f5d9d-lq9gg -c istio-proxy -n istio-system`
**output**:
[code]

[2018-01-18 09:04] kameshsampath opened #2668 "EndUserAuthenticationSpec not allowing http"
When configuring EndUserAuthenticationSpec the `istioctl create -f <auth_config>` is throwing validation error as `* jwks_uri must have http:// or https:// scheme` inspite of the jwks_uri having right http scheme.  Though the same works with `oc apply -f  <auth_config>`. The configuration used is as follows:

[code]

[2018-01-18 12:45] prune998 commented on #2628
Last time I checked, healthchecks (liveness/readyness) were not working is set on the same port as a "service" port, even without mTLS...

I don't see any release info/PR that would have made it working... am I wrong ?

ex :

[code]

[2018-01-18 14:31] jordanjennings commented on #2198
Is there a way to provide read-only access to the linked documents for those of us not directly involved but following this issue?

[2018-01-18 15:54] linsun commented on #2471
I think this can be mostly closed, pending resolve of #2651

[2018-01-18 16:58] ayj commented on #2668
[code]

Does this also fail with `https` scheme? According to https://groups.google.com/d/msg/istio-security/46pn4t8aWes/rCic37NeAwAJ istioctl only fails with `http` scheme but succeeds with `https`.

[2018-01-18 17:28] ZackButcher commented on #2628
Health checks should work fine if you don't have mTLS enabled, regardless of the port hosting the check. If you have a case where they're not working today, that'd valuable for us to use to debug.

[2018-01-18 17:40] andraxylia commented on #2198
Istio docs are shared with the istio-dev community, but you can request access to a specific doc, there should be a button for it.

[2018-01-18 18:11] kdillane commented on #2427
Not sure if this is related to Envoy restarts, but we see some periodic increase in latency across our cluster when Istio-CA is running: https://github.com/istio/issues/issues/138.  Does Istio-CA only cause Envoy to restart when encryption is toggled, or when a "certificate refresh" is executed?

[2018-01-18 18:13] andraxylia commented on #2427
Right now Envoy restarts every time a certificate is refreshed, regardless of encryption, and this is a bug.

[2018-01-18 18:15] jeffmendoza opened #2676 "Update Grafana to latest version"
The current  version is 4.1.2. The current latest is 4.6.3.
Testing with 4.6.3 has produced the following issues:
* Graph data seems to disappear and reappear
* Default smoothing makes data not show up for 10-20 seconds after starting traffic
* Default smoothing makes the graphs almost worthless, the data seems to completely change with every tick.

These issues need to be solved and then the vers

[2018-01-18 18:19] kdillane commented on #2427
Is it anticipated that an Envoy restart would cause 500s in the cluster?

We saw this issue related to Istio-CA where every hour a spike of 500s would occur (along with increased latency).  If this is caused by Envoy restarting, that's a big concern for availability.

[2018-01-18 18:31] andraxylia commented on #2427
Let's follow up on the latency in istio/istio#2090.
 @ldemailly can we measure the penalty introduced by Envoy restart?

[2018-01-18 18:49] sdake commented on #2630
https://github.com/istio/istio.github.io/pull/875

[2018-01-18 18:50] sdake commented on #2629
Would folks interested in this work (@sbezverk @luisyonaldo @linsun) review: https://github.com/istio/istio/issues/2630

I'd like to get some basic documentation merged first, and iterate after the adodns are sorted out.

Cheers
-steve

[2018-01-18 18:51] sdake commented on #2630
https://github.com/istio/istio.github.io/pull/875

[2018-01-18 19:45] qiwzhang opened #2680 "Update mixer/test/client tests to use dynamic ports"
Now they are using fixed ports started from 29000.   In some environment, some of ports are used, the tests fail.

[2018-01-18 20:32] jmuk commented on #2663
Okay, still not sure what *exactly* caused this on my environment, but things are gone after removing `$GOPATH/pkg` directory. I guess some (possibly stale) object files changes the behavior of analyzing our go files.

[2018-01-18 21:26] jasminejaksic commented on #2478
Mandar, are you working on this?
What's causing the issue? And do we have an approx ETA for the fix?

[2018-01-18 21:30] mandarjog commented on #2478
This is fixed now.

[2018-01-18 21:30] #2478 closed

[2018-01-18 21:31] jmuk commented on #2663
A bit more on note:
the error message will appear again after you run the following commands
[code]

 In other words, it seems some analysis library fails to analyze the go files without related `.a` files in `$GOPATH/pkg`, and therefore no lint errors appear without them. I guess that's kinda bug on some linter or Go's standard package (`go/types` or `ast`).

[2018-01-18 21:40] myidpt commented on #2090
@kdillane I guess this is caused by the rotation of workload certs not CA cert, because by default the Istio CA self-signed certs have 1 year TTL:
https://github.com/istio/istio/blob/master/security/cmd/istio_ca/main.go#L42

So when the workload cert is rotated, the proxy will be restarted, this process takes at most minutes. Unfortunately this causes the existing connections on the workload to be

[2018-01-18 22:06] jmuk commented on #2663
Or, just running `go get ./mixer/cmd/mixs` can cause the lint errors.

[2018-01-18 22:23] geeknoid commented on #2663
Very strange. It'd be very interesting to see what gometalinter outputs
with the --debug option when it fails.

On Thu, Jan 18, 2018 at 2:06 PM, Jun Mukai <notifications@github.com> wrote:

[2018-01-18 23:21] jmuk commented on #2663
The `--debug` flag isn't very helpful here, since it just provides the commandline of invoking linters (like `govet`). Something is happening inside of the `govet` binary.

[2018-01-18 23:49] ozevren opened #2690 "Deduplicate instances that are dispatched to a handler."
Currently, we do minimal deduping of instances that are being dispatched to a handler. (This mostly happens when two different rules dispatch the same instance to a handler, possibly under different conditions).

Ideally we should dedupe these instances before dispatch.

[2018-01-19 01:37] jmuk commented on #2663
correction: go 1.10 seems to store build caches separately from `$GOPATH/pkg`, so that's still unrelated.

[2018-01-19 01:43] sdake commented on #2663
@jmuk reference https://github.com/istio/istio/pull/2475 for a solution to the caching of archive files.  Our DEVGUIDE indicates $GOPATH/pkg is used to cache archives, which is incorrect and you seem to confirm it in your last comment.

[2018-01-19 01:49] gyliu513 commented on #925
Yes, I think that we need upgrade this to 0.4 now. @sbezverk , any plan for this?

[2018-01-19 01:54] jmuk commented on #2663
#2475 seems unrelated, sorry. With `GOBUILDFLAGS=-i`, it indeed stores build caches within `$GOPATH/pkg` (regardless of #2475) and accelerates the build speed.

Indeed, after `GOBUILDFLAGS=-i make`, the same vet / vetshadow lint errors started appearing, on top of the master. This seems not tested by Circle-CI.

[2018-01-19 02:07] rkpagadala commented on #1113
Fixed.

[2018-01-19 02:07] #1113 closed

[2018-01-19 02:26] linsun commented on #925
there is a WI for this, I plan to look at it very soon.   https://github.com/istio/istio/issues/2516

[2018-01-19 02:45] sdake commented on #2663
@jmuk I thought #2475 may be helpful - apologies for the noise.  May I ask you comment on #2475 so we don't hijack this issue?

What platform you are using?  Linux with go 1.9.2 clearly produces those write errors on what I suspect is $GOROOT (at least on my gear following the DEVGUIDE.md on a fresh environment), indicating pkgdir does not depend on the value of GOPATH or the DEVGUIDE.md is wrong.

[2018-01-19 04:34] ldemailly commented on #1113
fixed in #2378

[2018-01-19 04:36] jmuk commented on #2663
I'm not saying #2475 isn't helpful, it is helpful indeed. However it's not related to the lint issues I reported here.

Here are my findings (I'll comment to your PR for the related topic):
- linters are relying on `go/ast` libraries, but it doesn't parse correctly if `.a` files do not exist under `$GOPATH/pkg`
- `GOBUILDFLAGS=-i` or `go get` will create those `.a` files, so further execution of `

[2018-01-19 05:05] kameshsampath commented on #2668
yes `istioctl` works only with `https` ,  but as said earlier I did make it work with `kubectl` where the i was able to pass `http`

[2018-01-19 05:24] citywander commented on #2554
@andresusanto I found the same issue. At the same time, I found bookinfo is very unstable in large k8s. istio-proxy crashed randomly. log:
[code]
After some minutes, some error is thrown.
[code]

[2018-01-19 08:09] yudiandreanp commented on #1194
*bumps up*

[2018-01-19 08:32] lf1029698952 commented on #1703
I have the same problem, routerule:
apiVersion: config.istio.io/v1alpha2
kind: RouteRule
metadata:
  name: route-rules-svcb
spec:
  destination:
    name: svcb
  precedence: 1
  route:
  - labels:
      version: v0.2
    weight: 100

the service have two endpoints v0.1 and v0.2, I want to forward all the traffic to v0.2,
but it doesn't as I expected. The traffic is still equal 50/50

[2018-01-19 13:53] geeknoid opened #2702 "Cleanup memstore"
I'd like us to clean up the memstore implementation in Mixer. In particular:

- This code should be for tests only, it shouldn't be in our production binaries.

- We shouldn't have the global variables memStoreMap, memStoreMapMutex. Having such global variables breaks the encapsulation exposed by pkg/server.

I suggest to extend pkg/server's ServerArgs struct to contain an array of Store instances

[2018-01-19 16:40] rlguarino opened #2704 "Expose grpc status code via attributes"
@douglas-reid , I'm not 100% sure what's required in the body of this ticket could you help me with the labels and administrative stuff?

We should support a way to plumb the grpc status code into attributes.

Possible attributes:
1. Overwrite `response.attribute`
2. `response.grpc_status_code`
3. `response.status_code`

In some situations a grpc client will set the status code. In this case any m

[2018-01-19 17:16] ayj commented on #2306
From https://istio.io/docs/tasks/traffic-management/egress.html#make-requests-to-the-external-services

AFAICT, egress still does not support TLS origination on the client. cc @vadimeisenbergibm

[2018-01-19 17:20] danehans commented on #369
Thoughts on porting this testing effort to Istio?

http://blog.kubernetes.io/2015/11/one-million-requests-per-second-dependable-and-dynamic-distributed-systems-at-scale.html

[2018-01-19 17:25] vadimeisenbergibm commented on #2306
@ayj Correct, egress does not support TLS origination on the client.

An additional option is to use TCP egress rules, defined for IP addresses or CIDR ranges, for TLS originated on the client. See  https://github.com/istio/istio/blob/master/pilot/test/integration/testdata/egress-rule-tcp-wikipedia-cidr.yaml.tmpl for an example.

[2018-01-19 17:47] #2619 closed

[2018-01-19 17:48] geeknoid opened #2706 "Support a way for Mixer to mutate a request's headers in flight"
@rlguarino commented on [Wed Sep 20 2017](https://github.com/istio/old_mixer_repo/issues/1333)

Mixer adapters should be capable of producing attributes which are sent back to the proxy and eventually propagated to the Upstream [defined here](https://envoyproxy.github.io/envoy/intro/arch_overview/terminology.html).

---

@rlguarino commented on [Thu Sep 21 2017](https://github.com/istio/old_mixer_

[2018-01-19 17:55] qiwzhang commented on #2706
Proxy did hot hookup yet.  Here is the issue https://github.com/istio/proxy/issues/926 to track it.

[2018-01-19 19:07] liminw commented on #1235
@tsandall As Mandar said, OPA adapter loading from CRD is always the plan. Current implementation is just the first step to get it out. You can bring this topic up in the security SIG (just enter your topic in the agenda).

[2018-01-19 20:27] linsun commented on #2651
Ok, I believe this is caused by the fact that we are still using old envoy binary in the non-debug image used in our test.  I grabbed the yaml (https://storage.googleapis.com/istio-prow/pull/istio_istio/2669/e2e-smoke/1578/artifacts/istio.e2e.792543437/yaml/istio-one-namespace.yaml) we used in the test in https://github.com/istio/istio/pull/2669 and deployed it on my k8s:

$ kubectl exec -it istio

[2018-01-19 20:31] campbelldgunn commented on #2641
@ZackButcher any hints or advice on this or someone else? Greetings from when we me at qcon 2017 too.

[2018-01-19 21:12] rshriram commented on #2641
The Istio control plane could be easily built for windows. However, Envoy will still need a linux platform. Are you looking at windows based containers or just linux containers running on windows platform? If its latter, it should work. If former, this is more of an Envoy question. @mattklein123 might have some updates on the Microsoft folks who were looking to build Envoy on windows.

[2018-01-19 21:20] mattklein123 commented on #2641
NT support is tracked here: https://github.com/envoyproxy/envoy/issues/129.

@vturecek should be able to provide an update.

[2018-01-19 21:26] campbelldgunn commented on #2641
Thanks to all for replying. I am surprise that someone has not asked about this earlier.

So, it is a mixed cluster. That is there are master nodes on linux, a linux pool (10 linux nodes) and then a windows pool (3 windows nodes). I would install istio on the linux pool, and I am running windows containers on the windows nodes. My question if possible to have sidecar support for the windows pods o

[2018-01-19 21:36] ZackButcher commented on #2641
You'll need an Envoy image build for windows, and if you're doing automatic sidecar injection via the initializer, you'll need to run two initializers: one for the linux side of things injecting the normal Istio envoy image, and second for the Windows side of things injecting the windows Envoy image.

We might need to add some more initializer config to let it control which pods it attempts to ini

[2018-01-19 21:47] campbelldgunn commented on #2641
Thanks Zack. Yeah, hence my other issue #925 using a nodeSelector option works well with on services I put on to the mixed cluster.

So, having the following options:
1. The pilot, mixer and auth at the control plane can be controlled by the nodeSelector, and
2. Based on what you said above, is to use the nodeSelector and have the appropriate sidecar be injected, either for windows or linux.

[2018-01-19 22:03] ZackButcher commented on #2641
Yup, that'd work.

[2018-01-19 22:32] ldemailly opened #2713 "istioctl in daily build tgz references images that do not exist"
istioctl for dailies should work

https://storage.googleapis.com/istio-prerelease/daily-build/0.5.0-pre20180118-03-15-00/TESTONLY-istio-0.5.0-pre20180118-03-15-00-osx.tar.gz

[code]

should be gcr.io
(same issue whether using the TESTONLY- or not - which the more I think about it the less I understand why we have 2 - we should only have 1 set of tgz, the one that 'works' (ie references existing ar

[2018-01-19 23:17] ldemailly commented on #2713
I think we should add the HUB to
https://github.com/istio/istio/blob/master/bin/get_workspace_status
and
https://github.com/istio/istio/blob/master/pilot/tools/version/version.go

instead of just the hardcoded default hub to be docker.io for all releases

[2018-01-20 01:22] hklai commented on #2713
Yes I think we test the artifacts we produce. Probably the tests cover only the images.
If so, we should add some tests for istioctl as well. (We had a plan to test istioctl version matches what we expect as well.)

[2018-01-20 06:27] tomgeorge commented on #2582
Could I pick this up?

[2018-01-20 19:54] andraxylia commented on #2582
You bet! PRs are welcome, thanks for contributing. Please make a request to join the Istio organization, so you can assign the issue to you.

[2018-01-21 12:42] emedina opened #2728 "Lots of broken pipe messages"
Hi,

I see a lot of messages like this ones:

[code]

Why all this noise?

Istio: 0.4.0
Kubernetes: 1.8.4

[2018-01-21 14:53] emedina commented on #2628
I'm experiencing this issue without mTLS as well like @prune998 in 0.4.0

Only workaround is to disable liveness and readiness probes from all my Deployments. Not ideal, though.

[2018-01-21 15:03] emedina commented on #1194
Still happening in 0.4.0

[2018-01-22 00:29] wora commented on #2704
We need to decide whether `request` represents an HTTP request or a logical request. If we decide `request` represents a logical request, we could just put gRPC status code directly as `response.code`, and use `request.protocol` to differentiate HTTP vs gRPC.

Regardless how popular gRPC becomes, I don't think we should create a status code attribute for every popular protocol.

[2018-01-22 05:17] tomgeorge commented on #2582
@andraxylia, thanks!  I enabled two-factor authentication and have added access keys, but I'm not sure where to go to request to join the istio org.

[2018-01-22 06:31] andraxylia commented on #2582
@geeknoid can you please add @tomgeorge to the Istio organization so he can work on this issue?

[2018-01-22 10:27] luisyonaldo commented on #2629
https://github.com/istio/istio/pull/2734

[2018-01-22 10:40] owenhaynes commented on #2306
This is also a problem when using any of the google go API libraries as the code makes assumptions that you want to talk to gcp over HTTPS .

So at the moment its using cloud services such as big query and gcs is a no go while inside of istio.

[2018-01-22 11:55] vadimeisenbergibm commented on #2306
@owenhaynes An additional option is to exclude some IP ranges handled by Istio - see https://istio.io/docs/tasks/traffic-management/egress.html#calling-external-services-directly. Or to use TCP egress rules, defined for IP addresses or CIDR ranges, for HTTPS traffic. See https://github.com/istio/istio/blob/master/pilot/test/integration/testdata/egress-rule-tcp-wikipedia-cidr.yaml.tmpl for an examp

[2018-01-22 13:54] yudiandreanp commented on #2628
Also got the same issue without mTLS enabled, the healthcheck connection to the same port exposed by Service is intermittent, so the pods would crash unintentionally. The workaround is to use curl or other bash commands as a healthcheck, but it is a bit rough.

[2018-01-22 13:59] prune998 commented on #2628
I think @emedina did a great job linking to similar issues here..
The bug is still here in 0.4.0 and it does not seem to come from a pressure on istio-pilot...

This bug is a real pain as it force us to change all the deployments because of Istio...

[2018-01-22 14:32] linsun commented on #2651
This can be closed via #2651

[2018-01-22 14:32] #2651 closed

[2018-01-22 15:56] prune998 opened #2735 "[BUG] CDS/LDS names must not exceed 60 chars"
Istio Version : 0.4.0 (mixer, pilot, proxy)

When upgrading from 0.2.x to 0.4.0, I have this issue when the proxy starts :
[code]

I tried to check CDS using curl :
[code]

Line 128 seems to be in the block :
[code]

As far as I remember the RFC for a FQDN is 255 bytes... Seems this limitation wasn't there in 0.2.x

[2018-01-22 16:04] prune998 commented on #2735
0.2.19 Pilot was responding :
[code]

Which was OK for Envoy...

[2018-01-22 16:49] ayj commented on #2177
k8s.io/client-go was upgraded to 1.9 in https://github.com/istio/istio/pull/2396

[2018-01-22 16:49] #2177 closed

[2018-01-22 18:00] jsenon opened #2737 "Egress with mTLS"
**Description**

When we follow guide for egress rules with istio configured with mTLS we can't reach external service

**Environment**

istioctl version
[code]

kubectl version
[code]

**Steps to reproduce**

we've followed

[code]

**Issue**

On container
[code]

On istio-proxy container
[code]

Iptables without egress
[code]

iptables with egress

[code]

[2018-01-22 19:24] cmluciano commented on #2125
fixed in #1895

[2018-01-22 19:24] #2125 closed

[2018-01-22 19:26] cmluciano commented on #1912
@ayj Anything else to do here now that #1895 is fixed ?

[2018-01-22 21:46] myidpt commented on #1472
Design doc is here:
https://docs.google.com/document/d/1ig1ieuaPYr-EB7gByt4BgCQAXudnmZrqXV294K_oU1M/edit#heading=h.x9snb54sjlu9

[2018-01-22 21:48] myidpt commented on #1472
For Istio CA, the implementation is P0 for Q1.

[2018-01-22 22:29] costinm commented on #1914
Adding a tentative 0.6 milestone - the template-based injection is making progress, and it seems a good place to add the resources and any other customization.

[2018-01-22 22:37] costinm commented on #1417
https://github.com/istio/istio/issues/1914

[2018-01-22 22:37] #1417 closed

[2018-01-22 22:39] douglas-reid commented on #2000
This appears to be done now. Closing.

[2018-01-22 22:39] #2000 closed

[2018-01-22 22:40] douglas-reid commented on #1943
Is this still an issue that needs resolution?

[2018-01-22 22:42] douglas-reid commented on #1935
I'm not able to reproduce. I'm closing for now. Please re-open if you are still not able to start Mixer pods.

[2018-01-22 22:42] #1935 closed

[2018-01-22 22:43] douglas-reid commented on #1778
@geeknoid can you update the docs (with the new generator perhaps)?

[2018-01-22 22:45] danehans commented on #369
@andraxylia let me clarify myself. The k8s test above is simply a reference example. For Istio scale and performance, I was thinking of a similar test that would verify how the system under test (i.e. Istio) would perform with a sample application handling 1 million requests per second. After the 1m RPS baseline is established, subsequent tests could be performed with different Istio features enab

[2018-01-22 22:45] douglas-reid commented on #2534
@geeknoid any thoughts?

[2018-01-22 22:50] douglas-reid commented on #2358
This isn't something to worry about, per se. It means that the kubernetesenv adapter cannot find pods for the UIDs being supplied. For some cases, this is expected (requests from Ingress where source.service is an IP not in the cluster). For pods in cluster, which I think `kubernetes://at-sauron-web-76cd5564-zjnv4.default` might be one, this is a bit unexpected.

Did the problem persist across a f

[2018-01-22 22:52] douglas-reid commented on #2393
I think this has been resolved now. Closing.

[2018-01-22 22:52] #2393 closed

[2018-01-22 22:55] nmittler commented on #2173
@andraxylia @ZackButcher how close are we to switching to the v2 APIs? Should we defer this?

[2018-01-22 22:59] jmuk commented on #1943
Tracing was fixed, `pkg/cache` has been moved to toplevel. So the issues reported here is gone by itself. Still `mixer-racetest` shows the failures, and `common-racetest` shows the same fixes on `pkg/cache` though. Closing, but I'll file other issues for such things.

[2018-01-22 22:59] #1943 closed

[2018-01-22 23:03] geeknoid commented on #2534
No idea. It could be mixer proper doing something dumb, it could be the adapter, or it could be zap.

Given that Mixer's memory consumption continues to increase when the adapter is disabled, just slower, I'm inclined to think this is something in zap.