[2019-07-10 16:32] fpesce commented on #12431
I have checked the logs for this particular tests over the last 30 runs and 5 failures, all of them are legit. It does not look flaky at all.

[2019-07-10 16:32] #12431 closed

[2019-07-10 16:35] ajit555db commented on #15425
@howardjohn okay, I think I got what you saying. So, the destination rule should exist in the same namespace of the service. Is this correct?

[2019-07-10 16:44] howardjohn commented on #15425
Either the namespace of the service or of the client

[2019-07-10 16:49] howardjohn opened #15432 "Galley validation tests fail on K8S 1.15"
On kubernetes 1.14:

[code]

On kubernetes 1.15:
[code]

This causes failures like:
[code]

We should either change the invalid configs to be valid to kubernetes but not galley or maybe do --validate=false

[2019-07-10 16:50] howardjohn commented on #15432
/assign @ozevren

can you give guidance on best solution for this?

[2019-07-10 17:04] ajit555db commented on #15425
Got it..thank you very much.

[2019-07-10 17:04] #15425 closed

[2019-07-10 18:03] hanoisteve commented on #13578
So is this working now?

[2019-07-10 18:21] yarivlifchuk commented on #15428
Hi,
We experience disconnections of opened websockets to pods/services that were already established in different namespaces.
Attached the logs.

We are creating namespace for each user that has pod,service, configmap,secret and virtual service.
We expect that adding new namespace with virtual service and establishing websocket to this pod/service will not cause to disconnection of websocket to ot

[2019-07-10 18:23] brian-avery commented on #11977
Hi @mojsha Have you looked at OpenShift Service Mesh? We have soft multi-tenancy support. That allows you to have multiple Istio control planes in a cluster with multiple projects being members of that control plane.

If you're talking about a single control plane that manages multiple service meshes, then that's hard multitenancy, which I don't believe is in the plans for Istio right now.

[2019-07-10 19:06] howardjohn opened #15442 "Clean up pilot flags for 1.3"
There are a number of safety feature flags left around in pilot like PILOT_DISABLE_PARTIAL_ROUTE_RESPONSE. These should be cleaned up now that they are stable.

We should also standardize our bool and duration variables so that we don't have `return disableXDSMarshalingToAnyVar.Get() == "1"` but rather parse the env var as a bool properly

[2019-07-10 19:06] howardjohn commented on #15442
Do not get rid of PILOT_ENABLE_FALLTHROUGH_ROUTE until https://github.com/istio/istio/issues/14242 is fixed though

[2019-07-10 19:25] lei-tang commented on #15230
Changed the Vault pod with restartPolicy=never. TestSdsVaultCaFlow passed at https://prow.k8s.io/view/gcs/istio-prow/logs/integ-security-k8s-postsubmit-tests-master/282. I will continue monitoring this test.

[2019-07-10 19:27] howardjohn commented on #15428
the image never actually got uploaded

Pilot active connections are unrelated to your websocket connections. Pilot just configures envoy, envoy is handling the connections between your apps

[2019-07-10 19:55] yangminzhu commented on #9838
We have finished the code change for using the upstream JWT filter in Istio and it's enabled by default in master with fallback to use Istio JWT filter in case something goes wrong.
The next step is to test this thoroughly before shipping this in Istio 1.3.

[2019-07-10 19:58] yarivlifchuk commented on #15428
Attached the pilot Dashboard image.
I am aware that Pilot active connections are unrelated to the websockets.
The websockets start to drop when the pilot active connections start to drop so it may relate.

Is it possible to check the logs to see the root cause of websocket disconnections (IngressGateway issue that may relate to Pilot behavior)

Thanks,
Yariv

From: John Howard <notifications@githu

[2019-07-10 20:06] howardjohn commented on #15428
I don't think you can send images as email attachments, please upload on github

[2019-07-10 20:14] howardjohn opened #15444 "Data race in mixer on native race tests"
Example failure: https://prow.istio.io/view/gcs/istio-prow/logs/istio-integ-race-native-tests-master/450

[code]

Seems like its due to configuring logging after grpc has already configured it

[2019-07-10 20:29] #15012 closed

[2019-07-10 22:00] StevenACoffman commented on #9333
This work is being done in [istio operator](https://github.com/istio/operator) and [istio installer](https://github.com/istio/installer) if people wish to track it’s progress.

[2019-07-10 22:05] yangminzhu commented on #11975
Closing as I think @chakravarthy392 has found the way to fix it. Feel free to reopen if necessary.

[2019-07-10 22:05] #11975 closed

[2019-07-10 22:13] jwendell commented on #15423
PR: https://github.com/istio/istio/pull/15446

[2019-07-10 22:18] howardjohn opened #15448 "Multiple kubernetes versions should be tested in pre/post submit"
Now that we have prow tests running in kind, we should be able to pretty easily spin up different kubernetes server versions. We should add tests for the full range of kubernetes versions we claim to support.

To start, we could do a simple smoke test using the e2e-simpleTests?

[2019-07-10 22:22] yangminzhu commented on #11929
The test is now moved to prow from circle ci: https://k8s-testgrid.appspot.com/istio-postsubmits-master#pilot-e2e-envoyv2-v1alpha3&width=20

It failed several times in postsubmits but it seems it's due to some specific test being flaky, for example: https://prow.k8s.io/view/gcs/istio-prow/logs/istio-pilot-e2e-envoyv2-v1alpha3-master/3292, https://prow.k8s.io/view/gcs/istio-prow/logs/istio-pilot-e2

[2019-07-10 22:29] pitlv2109 commented on #9838
We still need to add a prefix field or something like that to the authentication API for APToken?

[2019-07-10 22:34] yangminzhu commented on #14885
@krishnadurai The code is added in 1.2 to support RBAC authorization on ingress **gateway**, you could use it but we haven't announced the feature publicly on istio.io as we need some more time to test and update the documentation, we'll likely announce it in 1.3.

[2019-07-10 22:59] yangminzhu commented on #9838
That would be a separate work for APToken support, we at least have the same support with Envoy JWT filter: https://github.com/istio/istio/blob/21798c2ba1d8257e13064c7e1a85390cbf2e1613/pilot/pkg/security/authn/v1alpha1/policy_applier.go#L133

[2019-07-10 23:35] costinm opened #15450 "SDS performance impact / regression"
Epic: https://github.com/istio/istio/issues/15267

When SDS is enabled, EVERY cluster and listeners gets an additional large config (sample at end). This results in GC and other overhead - and appears to have an impact on Pilot CPU usage and likely on scalability.

For beta we must at least have a measurement, so CPU allocs can be increased - and if the impact is too big we need to optimize this a

[2019-07-10 23:38] costinm commented on #15450
To be clear: this config is larger than what we typically generate for listener/cluster - it more than doubles the size of each object, and in some cases we still have N**2 config objects in the mesh. It's not a single config object, but one per service, sent to every workload.

[2019-07-10 23:44] costinm commented on #15417
I am not sure what the problem is - I think setting up ( something about the sortedCollections flags).
This is using Consul - which does its own readiness, so it doesn't have the issues we have with k8s, and
having the ServiceEntry sent in the same collections should be fine.

So documentation or some existing test that configures Pilot with 2 MCPs would probably unblock this.
And making sure that

[2019-07-11 00:00] istio-testing commented on #12678
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-11 00:00] istio-testing commented on #14125
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-11 00:00] istio-testing commented on #14672
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-11 00:00] istio-testing commented on #14791
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-11 00:00] istio-testing commented on #14819
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-11 00:31] toothbrush commented on #15400
For anybody else that is struggling with this: a thing i just learned is that `response_flags` that Envoy throws are significant.  For example using GRPC, you won't get HTTP codes other than 200, if it's failing at the TCP connection level.  What you _do_ get, is flags like `URX` or `UF`.  The docs are hard to find, but they're there: https://www.envoyproxy.io/docs/envoy/latest/configuration/acces

[2019-07-11 00:54] jmazzitelli commented on #15400
The Kiali side summary panel should be showing these gRPC response codes... IIRC it was part of this PR: https://github.com/kiali/kiali-ui/pull/1062

The animated gif only shows HTTP response flags, but I believe when you look at a gRPC edge, it should be showing you the gRPC response codes in there.

[2019-07-11 00:56] jmazzitelli commented on #15400
If you look at the corresponding server-side PR https://github.com/kiali/kiali/pull/913/files it added the ability to get the response_flags from prometheus, which in turn should be displayed in the UI (again, that happens in the side summary panel IIRC).

[2019-07-11 01:31] hzxuzhonghu commented on #15367
FYI https://github.com/istio/istio/issues/10659

[2019-07-11 02:55] toothbrush commented on #15400
Thanks for the reply!  Unfortunately, in the situation i sketch (pointing at spurious service), no errors are shown, just a plummeting of traffic.

[2019-07-11 03:03] toothbrush commented on #15400
I've just tried something different — deploying an app that doesn't listen on the correct port.  My thinking was that perhaps i couldn't see my non-existent service on the Kiali graph.  However, when the service is correctly defined but the pod is misbehaving, i still see a green GRPC edge.  As an example i've deployed this pod.  The sidebar does show response flags, which signify an error, but th

[2019-07-11 03:12] toothbrush commented on #15400
I've posted a bug report over at https://github.com/kiali/kiali/issues/1235, i think it's Kiali's problem, not Istio.  Closing this bug.

[2019-07-11 03:12] #15400 closed

[2019-07-11 06:26] mojsha commented on #11977
@brian-avery I had, but last I checked it was in a Tech preview state and not production ready. Has that changed? Also, how is this setup? Does it have a controller with associated CRDs or is it manual installation etc.?

[2019-07-11 06:31] yarivlifchuk commented on #15428
![PilotDashboard](https://user-images.githubusercontent.com/36994532/61027314-8317ce80-a3be-11e9-8f28-70ae5aa8a87e.jpg)
[istio_pilot_gateway_galley_logs.zip](https://github.com/istio/istio/files/3380523/istio_pilot_gateway_galley_logs.zip)

[2019-07-11 06:33] yarivlifchuk commented on #15428
logs and dashboard image are accessible now.

[2019-07-11 06:51] anannaya commented on #15367
I have tried these But didn't work for me.
[code]

[2019-07-11 07:04] wolfgang-braun commented on #12801
@emedina do you still face this issue?

[2019-07-11 07:06] emedina commented on #12801
This has been solved at least in `1.1.8`, so closing the issue.

[2019-07-11 07:06] #12801 closed

[2019-07-11 07:38] ayan1207 opened #15451 "Connect external https services from istio mesh, with certificate provided by the service"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Connect external https services from istio mesh, with certificate provided by the  service.

**Describe alternatives you've considered**
Currently we have certificate inside application. We want same thing to be moved to istio.

**Affected product a

[2019-07-11 10:08] bappr opened #15453 "Istio does not allow domain name with more than 64 characters"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Istio does not allow domain name with more than 64 characters

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infr

[2019-07-11 10:08] robertpanzer opened #15454 "Traffic shifting does not work with private destination rules"
**Bug description**
When configuring subsets with label matches in private destination rules, traffic policy rules are applied for CDS, but not for EDS.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experie

[2019-07-11 11:01] yarivlifchuk opened #15456 "Support wildcard/regexp in VirtualService host"
**Describe the feature request**
Hi,
 Host in virtual service does not support regexp or wildcard in the left most field (unqualified host)
 e.g.   aaa*.dev.general.com
There are scenarios which uses different host with the same fqdn that have the same destinations .
Currently I have to define several hosts in the same virtual service.I would like to use only one host with wildcard/regexp and by t

[2019-07-11 12:44] bzurkowski opened #15457 "Galley recurring connection termination error: context canceled"
**Bug description**

Recurring connection termination error observed in Galley logs. The following error appears once every few seconds:

[code]

`10.100.1.54` is IP address of Istio Galley:

[code]

More logging context:

[code]

**Affected product area**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Secur

[2019-07-11 12:46] athertahir opened #15458 "Single Gateway with multiple Virtual Service"
**Bug description**

I have single gateway and two virtual services. I am sending requests to ingress-gateway but with different hostnames But traffic is routed to same services for both.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[X ] Policies and Telemetry
[ ] Security
[

[2019-07-11 12:48] avik-so commented on #5037
@alastairs Any update here? Does silence mean it was a success?

[2019-07-11 13:09] #10336 closed

[2019-07-11 13:16] jaygorrell commented on #14923
@rcaballeromx Wouldn't that only apply to things like retries where it compounds the value? In the case of a timeout, it doesn't matter if both are handling it since it's a short-circuit.

Either way, no application fault handling here, and having a 100ms timeout allow a 30+ second response come through is a good proof.

[2019-07-11 13:21] #15432 closed

[2019-07-11 14:00] GregHanson commented on #15453
@bappr is this something you ran into through normal Istio use, or just something you are noting?  This requirement was added due to a limitation with max number of characters allowed in cluster names within Envoy in coordination with how Istio uses hostnames in the cluster name generation logic

[2019-07-11 14:00] robertpanzer commented on #15454
I'd definitely like to also provide a fix for this. But before this it would be great to know the intended behavior.
Imo even without a sidecar resource private destination rules from the consumer namespace should be used.
Or more specifically, the same logic that is used for cds should be applied for eds too.

[2019-07-11 14:01] costinm commented on #12521
For concourse - please take a look at istio/install repo, where we have concourse working.

[2019-07-11 14:26] knrc commented on #11977
@mojsha The changes we've been making are to remove the need for elevated privileges and cluster wide resources/role bindings etc. as well as being able to restrict the control plane components to a dynamically changing subset of namespaces associated with each control plane.  Our installation is via an operator and a CRD, one to define the control plane and a second to define the namespaces withi

[2019-07-11 14:35] focks opened #15461 "Secure GRPC calls not reaching ingress gateway."
I have installed istio 1.22.2 inside kubernetes (1.12.x) with sds enabled. I have been following this https://istio.io/docs/tasks/traffic-management/ingress/secure-ingress-sds/ and I am able to do ssl termination at the ingress gateway for normal services (on HTTP/1.1).  And I could see it in the access logs of the gateway.

gateway
[code]

However when GRPC is used over secure channel I could not

[2019-07-11 14:39] elevran commented on #14240
Following discussion with Alyssa Wilk on Envoy Slack - this is an Istio issue. Will submit a PR

[2019-07-11 14:47] GregHanson commented on #15458
@athertahir unfortunately for plain TCP traffic, Envoy does not look at hostnames - only port number.

[2019-07-11 14:53] howardjohn commented on #15457
Is this causing any problems or just error messages in the logs?

[2019-07-11 15:00] howardjohn commented on #15453
This is how kubernetes behaves as well - our validation logic is the same. DNS 1123 labels can be a max of 63 characters. See https://stackoverflow.com/questions/32290167/what-is-the-maximum-length-of-a-dns-name

[2019-07-11 15:02] athertahir commented on #15458
Thanks for the reply.
Should I use http then? I have to support both grpc and web-grpc for multiple services (I wanted to distinguish multiple services using hostname). I have using different ingress-gateway ports 55051 and 443 respectively for the traffic. is it possible? or two unique ports for each service

I am also sharing full VirtualService yaml

[code]

[2019-07-11 15:10] nmittler commented on #15417
@ayj @ozevren @Nino-K  it appears that Pilot always consumes all types from all MCP servers that it's configured with. This doesn't seem right to me. I would think we should be able to select the collections we receive from each server in [the mesh config](https://github.com/istio/api/blob/master/mesh/v1alpha1/config.proto#L319).  That would effectively just require adding a list of "collections"

[2019-07-11 15:20] rshriram commented on #15183
Sorry for the delay. So, I am planning on finishing up the EnvoyFilter asap in the next week or so - all the things in https://github.com/istio/api/pull/899 [the CDS piece should be dead simple]

[2019-07-11 15:59] Nino-K commented on #15417
The PR that is in flight right now for synthetic service entries does exactly that, it leaves the main controller for all the the config types except ServiceEntries (synthetic)/ endpoints and one dedicated controller just for ServiceEntries/endpoints. Also the dedicated controller can be horizontally scaled by providing multiple source addresses. As for configuring pilot to only support specific t

[2019-07-11 16:06] linzhou-zhong commented on #15321
I don't even understand how the image of ngnix-php looks like. Whatever all my instinct tell me that
http://114.55.204.248/php/phpinfo.php is unknown from your ngnix-php Pod.

Please try to complete the process of treatment when a request comes in.

In other words, how to make your application ngnix-php to apply the page phpinfo.php when it receives  http://114.55.204.248/php/phpinfo.php from othe

[2019-07-11 16:09] nmittler commented on #15417
@Nino-K

That's not exactly what we want here ... this is a bit more generic.  In this case we would want *real* ServiceEntry resources to be served from all MCP servers (for endpoints), but the rest of the configuration to only come from a single (i.e. *this* cluster's) MCP server.

Making this change would (I think) dovetail nicely with your PR ... in fact it should make some of your plumbing in

[2019-07-11 16:23] incfly commented on #15323
The reason that telemetry does not work for mesh expansion/vm is due to the way how mixer maps workload uid to the service/workload name. In k8s case, it's k8s pod uid, looking up apiserver, and then resolves to the service/workload object.

In VM case, the correct solution will be look up ServiceEntry via VM ip. However, that changes only works for mixer v1, not for v2, and v2 is currently the pr

[2019-07-11 16:33] Nino-K commented on #15417
@nmittler The idea of having a dedicated controller(s) just for endpoints and one controller for other config is mainly what I meant.

+1

[2019-07-11 17:26] ericvn commented on #14475
Getting back on some of the issues related to using modules during the build.

Looking at the current license code, it's basically a `go list -f '{{ join .Deps  "\n"}}' ./vendor/...` to generate a long list of packages. The list is then deduped and all entries not starting with `Istio.io/istio/vendor` are removed (some other minor stuff but not listed for simplicity). This yields basically a list

[2019-07-11 17:32] venomwaqar opened #15467 "Make kiali 'auth.strategy' dynamic, currently its hardcoded to 'login'"
In the istio - kiali templates, `auth.strategy` is hardcoded to `login` [Here](https://github.com/istio/istio/blob/9e050364f41a86e38eb6a352acec1e63d3ed776a/install/kubernetes/helm/istio/charts/kiali/templates/configmap.yaml#L15)
It would be very helpful, if we can make it dynamic or allow it to get the value from charts variable.

If there is any other way to supply that value, please assist me.

[2019-07-11 17:37] jmazzitelli commented on #15467
We've had two PRs submitted on this :)

https://github.com/istio/istio/pull/15459

Waiting on this one: https://github.com/istio/istio/pull/15146

[2019-07-11 17:49] venomwaqar commented on #15467
@jmazzitelli Okay, thanks.

[2019-07-11 17:50] rcaballeromx opened #15469 "Define and implement a naming convention for our samples and examples"
**Describe the feature request**

The current naming convention of using the name of a service to name configuration resources is confusing to documentation readers. Additionally, the latest best practice is to use fully qualified names for the host field, which our examples and samples don't follow.

The new naming convention must satisfy at least the following requirements:

- Enable readers to

[2019-07-11 18:01] frankbu commented on #15469
Browsing through docs and samples, I can see that using the same name for configuration resources related to a service is a very common pattern in both Istio and Kube. It's a very common pattern. Kube deployments, for example, often have the same name as the corresponding service. In most Istio configs the service name is the same the corresponding virtual service name, service entry name, and des

[2019-07-11 18:13] kyessenov commented on #14061
Yes, we need to push to graduate any APIs that we really need to stable in envoy. We need to be able to swap out envoy binaries on a regular basis once we start building native extensions, and we don't want to be locked into particular SHAs because some alpha-level API changed.

[2019-07-11 18:31] geeknoid commented on #14475
"go mod download" forces download into the cache.

Given that we're importing modules, I don't think we need to be concerned about packages. Can we just iterate through all modules and try to find a LICENSE file at the top of each module's cache directory?

[2019-07-11 19:16] ericvn commented on #14795
@hzxuzhonghu What failure do you have with particular repos? You mention you don't have access to certain ones. Just trying to figure out a path moving forward if we remove vendor. As mentioned, most IDEs don't need the vendor anymore.

If you simply deleted vendor (or rename it) and try `GO111MODULE=on go mod vendor`, what happens? I would hope that Go would pull all the required repos into a new

[2019-07-11 19:34] ericvn commented on #14795
@costin I agree with your #1 in that the lack of a vendor directory can make it harder to reproduce a build. I'm not sure if we, Istio, want to get into hosting a GOPROXY (Athens, go proxy, etc) that would keep old versions, etc. It would need to use some storage that is adequately backed up. This was always one of my reasons to say that the vendor directory should be checked in with the source. I

[2019-07-11 19:49] ericvn commented on #14795
A quick check averaging over several attempts (clearing go modcache before each run)
  - go mod download (direct, no proxy): 82 seconds
  - go mod download (go proxy.io): 47 seconds

[2019-07-11 20:00] geeknoid commented on #14795
If we're paranoid about goproxy.io disappearing or losing old versions, we
could host this proxy ourselves. It's pretty simple. modules.istio.io
anyone?

On Thu, Jul 11, 2019 at 12:50 PM Eric Van Norman <notifications@github.com>
wrote:

[2019-07-11 20:15] kyessenov commented on #14795
https://proxy.golang.org is in beta, has on-call support, and is almost ready for general consumption.

[2019-07-11 20:22] ericvn commented on #14795
For setting up our own, I've also looked at https://github.com/gomods/athens which has storage drivers and https://github.com/goproxyio/goproxy which uses disk. The later doesn't seem like something to depend on, unless we have a way to back up the disk occasionally. Not sure what's available storage wise for setting up the former.

I did try the https://proxy.golang.org, but found a number of our

[2019-07-11 20:23] nmittler commented on #15417
@Jpatel86 re-reading the description, it isn't clear to me what the issue is. IIUC the mesh config already supports multiple galleys, and each galley can serve ServiceEntry. Are you saying that it's not working?

[2019-07-11 20:25] alastairs commented on #5037
No, no luck unfortunately. We ended up abandoning our investigations as we couldn’t get RabbitMQ running on the test cluster.

[2019-07-11 20:28] ericvn commented on #15240
Assigning to @richardwxn so no one grabs the issue to work as this one looks underway.

[2019-07-11 20:31] bzurkowski commented on #15457
@howardjohn I have not experienced any problem so far. At the moment these are just error messages in logs that I am trying to understand.

[2019-07-11 20:57] christian-posta opened #15475 "Service Dashboard in Grafana broken"
On Istio 1.2.2 when using Istio-demo.yaml, the out of the box Istio Service Dashboard in Grafana is broken. It appears in an effort to trip CRDs in the yaml file, the `metric` CRD and any of the defined metrics which that particular dashboard uses is missing.

[2019-07-11 21:02] ericvn commented on #14475
@geeknoid I'm fine with simplifying this to be checking for a single LICENSE file at the top of the module (and not searching for additional LICENSE files lower in the module). I can actually code that up and see what it reports for those missing LICENSE files.

[2019-07-11 21:45] johnma14 opened #15477 "Update base image version for bookinfo-reviews sample app"
Update the websphere-liberty version from 19.0.0.4-javaee8 to 19.0.0.5-javaee8 for bookinfo-reviews sample app

[2019-07-11 21:59] howardjohn opened #15478 "TestWorkloadAgentRefreshSecret racetest failures"
Example Failures:
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/14938/istio-racetest-master/35
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15056/istio-racetest-master/260
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15138/istio-racetest-master/239
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15227/istio-racetes

[2019-07-11 22:02] mandarjog opened #15479 "Incorporate Thanos-prometheus in tools perf cluster setup"
Thanos https://github.com/improbable-eng/thanos is an HA prometheus deployment.
Customers are likely to use it in production setup. istio/tools perfcluster should have a way to run with Thanos.

[2019-07-11 22:04] ayj commented on #15237
@elfinhe will be working on this

[2019-07-11 22:04] ayj commented on #15225
@elfinhe will be working on this

[2019-07-11 22:14] qfel commented on #15093
Note that there are some places doing hacky stuff with paths (like computing GOPATH from something istio-specific instead of $(go env GOPATH), putting istio-specific stuff under GOPATH and using all that to locate other things like test data). If you just enable GO111MODULE but don't get rid of dependencies on GOPATH from scripts and code, it may work correctly by accident but start doing weird th

[2019-07-11 22:24] ayj opened #15482 "Operator should support in-place upgrades"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

The istio/operator should support a basic in-place upgrades of the control plane.

**Describe alternatives you've considered**

Dual-control plane with proper canary deployments for Istio components. This is the ideal upgrade method and the operato

[2019-07-11 22:30] fduarte3 commented on #11273
Any news on this issue?
I had same error with 1.0, now I've just upgraded to 1,1 and still facing this issue.

[2019-07-11 22:30] howardjohn commented on #15475
Looks fine to me? What is yours missing?

https://snapshot.raintank.io/dashboard/snapshot/pJ8GRk4B4h0iNQhdaKgOV4t5gSFimUDp

[2019-07-11 22:36] #15423 closed

[2019-07-11 22:45] duderino commented on #15454
@costinm is looking into this

[2019-07-11 22:47] ayj commented on #15246
See https://docs.google.com/document/d/1ZwZ4KrE2pvcrdE1FVLke6ZMIAfC3y8_SYTzk6K2U9aQ for a proposed multi-cluster operator/CLI

[2019-07-11 23:20] venomwaqar commented on #13085
Sorry I am new to istio.
But can someone please guide me how do I make envoy and gateway accept http1.0 requests.
In the comments I can see that PR is merged and code is there.
but I cant figure out what do I need to do just by looking at code.
Please provide the instructions.

Thanks alot :-)

[2019-07-11 23:24] costinm commented on #15454
@howardjohn - might be related to isolation... We are working on the service entry isolation, and that adds namespaces in a lot of places - I suggest taking a look at

[2019-07-11 23:43] howardjohn commented on #15428
I see.. maybe when pilot disconnects + reconnects, it sends new config to envoy which causes envoy to drop the connections it has open?

Ingressgateway looks like it may be getting OOMkilled?

[2019-07-11 23:44] vadimeisenbergibm opened #15485 "SDS - add ISTIO_MUTUAL mode to Server's TLS mode"
**Describe the feature request**

The feature is critical with SDS, since now there is no possibility to specify Istio certificates location with MUTUAL mode. It is required when there is ISTIO_MTLS between a sidecar proxy and a gateway. This is also good for symmetry between Client side TLS mode in Destination Rules and Server side TLS mode in the Gateways.

**Describe alternatives you've conside

[2019-07-12 00:00] istio-testing commented on #12678
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-12 00:00] istio-testing commented on #14125
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-12 00:00] istio-testing commented on #14672
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-12 00:00] istio-testing commented on #14791
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-12 00:00] istio-testing commented on #14819
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-12 00:09] howardjohn commented on #15230
@lei-tang where was the PR for that change?

[2019-07-12 00:19] lei-tang commented on #15230
The change of the Vault pod with restartPolicy=never is on the GKE cluster hosting the Vault server and is not in the Istio code base (hence no PR). It is uncertain that the pod with restartPolicy=never will eliminate the problem because if the GKE node restarts, the Vault server still needs to be manually unsealed and logged in again.

[2019-07-12 00:32] howardjohn commented on #14791
@geeknoid your bot may need a new clock, it looks like it triggers every day instead of every 3 days

[2019-07-12 00:38] howardjohn commented on #15230
I don't think we should have tests depending on a cluster that you are manually changing values around. If we HAVE to have this magic vault cluster can the config at least be in the istio repo so it can be understood by others and be reproducible. I really don't think we should have a test that is going to break when a node restarts -- node restarts are not rare

[2019-07-12 00:41] lei-tang commented on #15230
@howardjohn How about disable this test until we have a solution for node restarting problem?

[2019-07-12 00:54] bappr commented on #15453
Ok ok then I am closing this one.
I was not aware of that. This is something I am running through normal Istio use, we are basically creating subdomains on demand on our product. Gonna change the logic behind that on our end then>
Thanks guys

[2019-07-12 00:54] #15453 closed

[2019-07-12 01:23] hzxuzhonghu commented on #14795
@ericvn It is because we have network limit from accessing google in China. We have to set a proxy, which may introduce unknow error. Also think about the hosts, which may have no access to the internet at all.

[2019-07-12 01:33] howardjohn commented on #14795
my understanding is that once you build once and the dependency are pulled down you can continue to build without internet - just like with vendor.

if we set up a proxy would you he able to access it? can you access other existing proxies?

[2019-07-12 01:42] niejian commented on #15363
it works well in version 1.2.2, any body konw how?

[2019-07-12 01:42] #15363 closed

[2019-07-12 01:44] hzxuzhonghu commented on #14795
I will test it later.

[2019-07-12 03:21] morvencao commented on #15366
Yes, it's a json to pb unmarshaling issue, if I put this in profile:

[code]

Then I will get `unknown field "httpGet" in v1.Probe`, still investigating on the solution.

[2019-07-12 03:37] cereus725 commented on #15423
I can build the istio/proxy rpm now, thanks for your help. @sdake @knrc @jwendell @irisdingbj .

[2019-07-12 06:56] ashutoshraina commented on #8191
I am also interested in this, as this makes OOT adapter development very difficult.

[2019-07-12 07:35] castlemilk opened #15487 "pilot and rest of control-plane not starting after full restart"
**Bug description**
If a kubernetes cluster undergoes a scenario where all pods are destroyed and then rescheduled, the istio control plane will not successfully restore itself back to functionality when the number of pilot pods is > 1. Consequently the rest of the istio control-plane, and gateways never stabilise/get their configuration.

all pilot pods will report the following in their logs unt

[2019-07-12 07:42] tibetsam opened #15488 "ServiceEntry.Resolution DNS lookup only ipv4 address"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
envoy is only trying to resolve ipv4 address, so all ipv6 external services can't be reached with resolution.DNS mode.

And according to Envoy docum

[2019-07-12 07:54] venilnoronha commented on #8191
The whole adapter development model is going to change soon with the Mixer v2 architecture.

[2019-07-12 11:10] DawPawel commented on #9504
We same issue... For us it is somehow related to enabling security (running citadel pod, even without using any security). How it works for me:

1. install istio **with** security
2. install service which uses istio sidecar proxy and wait for it to be ready
3. everything is working as expected
4. **remove** security from istio (f.e. by setting **istio.enabled: false**)
5. try to delete some pods -

[2019-07-12 12:53] mcdoker18 opened #15490 "Version of istio-cni helm chart is not updated"
**Bug description**
All istio helm repositories contain the same version of istio-cni chart.

**Affected product area (please put an X in all that apply)**

[X] Configuration Infrastructure
[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
A ve

[2019-07-12 12:57] #11523 closed

[2019-07-12 13:04] tibetsam commented on #15488
@vadimeisenbergibm Could you please help to revert or improve the fix? https://github.com/istio/istio/pull/5447

[2019-07-12 13:28] mbanikazemi commented on #14909
The difference between using "grpc" as the port name or not is that with grpc Envoy gets configured for http2 as opposed to tcp.

[2019-07-12 13:42] AWKIF commented on #7964
thanks a lot @GregoireW it works fine

[2019-07-12 14:14] mbanikazemi commented on #14909
Here are two relevant issue and blog:  https://github.com/cockroachdb/cockroach/issues/27814 and https://www.cockroachlabs.com/blog/a-tale-of-two-ports/  that may explain why using "grpc" as port name does not work with Envoy (and Istio). Need to use raw tcp and the use of that port name results in using http2.

[2019-07-12 14:34] jkbschmid commented on #14782
@ShimiT
I'm trying to reproduce your setup, but I somehow cannot reproduce the error.
Would you mind providing some more details on what you exactly deployed and in which namespace? Do the pods you deploy have a sidecar or not?
I tried creating 1000 namespaces that each contain 1 Service, 1 Pod (no sidecars) and 1 VirtualService, but memory usage of pilot was normal.

[2019-07-12 14:36] ericvn commented on #14795
@howardjohn Yes. I could build fine once the modules are pulled down and in my local Go module cache and removing internet access.

@hzxuzhonghu I'm hoping your testing does show things will work. To simply get the modules into the cache you can try `GO111MODULE=on go mod download` which uses `GOPROXY` to define where to pull the modules. If unset, it will try to get them directly from the repos,

[2019-07-12 14:41] howardjohn commented on #15444
Got a better stack trace from https://prow.istio.io/view/gcs/istio-prow/logs/istio-integ-race-native-tests-master/460

[code]

So we can see its from policybackend configuring grpc log as well? This probably only happens in tests so not the largest concern other than that it may mask real race failures since we get used to it failing.

[2019-07-12 14:42] howardjohn commented on #15490
I believe this is intended and the CNI plugin is considered an addon. Just like we don't ship a Grafana 1.2.2 or 1.1.11 we don't ship CNI 1.2.2.

/assign @rlenglet can you confirm this?

[2019-07-12 14:44] howardjohn commented on #15488
This was intentional because we were getting DNS spam for ipv6 in non-ipv6 environments. So I don't think we can just switch it to auto.

Ref https://github.com/istio/istio/issues/13710

[2019-07-12 14:45] howardjohn commented on #15487
Interesting, I'll test this out. The error means it isn't getting config from galley btw, does galley come up properly?

Are both replicas displaying that or only one.

[2019-07-12 14:50] sdake commented on #15490
@howardjohn it may be considered an addon, however, the helm chart itself needs a version revision such that upgrades work.  Whether it revs to 0.1.1 or 1.2.2 is fine, but it needs a rev, or Helm won't upgrade it.

This might make sense as part of the T&R scripts.

Cheers
-steve

[2019-07-12 14:53] howardjohn commented on #15490
Good point. It may just make sense to increment it with the rest of istio then. In the future we *might* switch to having all components independent versioning but until then it might not make sense to have it different?

I don't have a strong opinion either way, but once we decide it shouldn't be too hard to fix in the scripts (or manually)

[2019-07-12 14:59] howardjohn commented on #15487
Just killing the pods didn't do it for me, I had 3 pilot replicas all come up fine -- they had that log message but only for a few seconds.

Will try again with killing a node

[2019-07-12 15:43] sdake commented on #15490
@john-a-joyce and @tiswanso seemed to want to stick with version 0.1.0 IIRC, but the version definitely needs a revision on each rev of Istio.

The decision point on separate version numbers for different components is orthogonal at this time to whether or not upgrades should work with CNI.

[2019-07-12 15:53] tibetsam commented on #15488
@howardjohn yes, you are right, so let's try to provide a plilot-agent command line argument to change the mode by user.

[2019-07-12 16:01] sdake commented on #14963
I do not think it is possible with Istio to change MTLS config once the installation has occurred.

@wattli thoughts on this issue?

[2019-07-12 17:03] wattli commented on #14963
You can use auth policy to change config at runtime.

[2019-07-12 17:07] howardjohn commented on #15487
I tried killing nodes too and didn't run into the issue either

[2019-07-12 17:25] ostromart commented on #15225
Just to clarify the work item a bit, the first step would be to understand what's missing. To do that, we should exercise a bunch of different error scenarios in using the tool:
- bad file path to CR file
- bad yaml in user CR
- unknown field in yaml
- bad value for type constrained field
- bad value in validated field (IP address list, port number etc -- see validate.go)
- bad path for k8s overla

[2019-07-12 17:41] howardjohn commented on #14500
Any update on this? There have been many recent failures:

https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/14614/istio-unit-tests-master/3034/build-log.txt
https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/14621/istio-unit-tests-master/1481/build-log.txt
https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/14735/istio-unit-tests-master/2279/build-l

[2019-07-12 17:56] sdake commented on #14963
@wattli is that documented for a full transition of everything frrom mtls to non-mtls?  I'm not sure why we would have an install time and a runtime model - seems like everything should be runtime if there is a runtime mechanism.

[2019-07-12 17:59] ostromart opened #15492 "Add enum validations for values_types.go"
Right now, pkg/validate/validate_values.go are incomplete.
Using https://github.com/istio/operator/pull/79 as the basis for validation, we need to add anything that's not covered by typing in the generated structs. For example, IP addresses and possibly durations if these cannot be handled through appropriate types in the proto.

[2019-07-12 18:02] ostromart commented on #15239
It looks like for istio/installer charts there are no plans to support user gateways for 1.3, so lowering the priority on this.

[2019-07-12 18:08] ostromart opened #15493 "Merge operator and installer charts"
operator has a fork of the installer charts under data/charts. This was necessary to progress when not all values in the charts were supported. Also there were some issues with charts in installer (e.g. missing yaml separators).
The time is now right to merge these two, fix any outstanding issues in the installer repo and use the installer charts as the source of truth.
This task is to diff the tw

[2019-07-12 18:12] ostromart opened #15494 "Consolidate tree traversal code"
Right now, there are two reflect based tree traversal functions: in validate function in validate.go and protoToValues in translate.go. These should be merged into a common package.

[2019-07-12 18:23] sdake commented on #14792
closing issue as problem is resolved.

[2019-07-12 18:23] #14792 closed

[2019-07-12 18:24] dkushner commented on #9758
We're seeing this behaviour as well in a multi-network Istio deployment. The remote clusters have joined the mesh but pilot appears to be frequently pushing ADS updates with a number of sidecars listed under `pilot_no_ip` category. The actual sidecars that appear in this category vary with each ADS update. Can anyone provide an explanation as to whats going on here? Nothing else from the control p

[2019-07-12 18:48] Monkeyanator opened #15497 "istio/operator broken developer quick start instructions"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
 [Developer quick start](https://github.com/istio/operator#installation) from istio/operator points to invalid git repo, and doesn't provide depende

[2019-07-12 19:40] sdake opened #15498 "All Istio charts should be consolidated into one release directory"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
We support https://istio.io/charts however it only contains the latest charts version.  See
**Affected product area (please put an X in all that app

[2019-07-12 19:42] sdake opened #15499 "Consoliate all charts into one directory with one index file"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Perfor

[2019-07-12 19:48] howardjohn commented on #15499
dupe of #15498?

[2019-07-12 19:58] sdake commented on #15499
thanks @howardjohn - msut have submitted twice on accident?

[2019-07-12 19:58] #15499 closed

[2019-07-12 20:14] Sieabah commented on #14963
It's also just confusing and requires two sets of documentation to know what the install even does to be able to adjust it at runtime. So why would anyone use the install runtime? Why offer configuration if everything must be done at runtime afterwards to transition it? It's counter to kubernetes management model when you apply a chart/template/manifest and it'll resolve to the deterministic yml t

[2019-07-12 20:27] howardjohn opened #15500 "istioctl integration test broken"
example failure:
istioctl_test.go:83: Output didn't match for 'istioctl version --remote=true'
         got client version: unknown
        control plane version: e24d6fe8ac394992982d23f460a5123e4024c87b

        want: citadel version: [a-z0-9\-]*

https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15491/integ-istioctl-k8s-presubmit-tests-master/1740

Looks like the recent istioctl

[2019-07-12 20:49] howardjohn commented on #15498
Also dupe of https://github.com/istio/istio/issues/12974 up to you which to close

[2019-07-12 20:53] sdake commented on #15156
test of mergify  and cleanup of prow lib: https://github.com/istio/operator/pull/82

[2019-07-12 21:11] sdake commented on #15156
make prow jobs non-optional now that manual branch protection settings are not in place: https://github.com/sdake/test-infra/pull/new/issue/15156-6

[2019-07-12 21:25] sdake commented on #15156
remove redundant circcleci jobs: https://github.com/istio/operator/pull/83

[2019-07-12 21:37] ericvn commented on #14475
One thing I noticed when updating code to try and use the $GOPATH/pkg/mod list that it contains more files than what vendor contains. This means that the _find_ will find additional files in the module case (like license_test.go) which will affect the results (as we only look at the first license file today). We could make the _find_ smarter and also add support for multiple license files in a pac

[2019-07-12 21:43] ericvn commented on #14475
There is discussion on what is/isn't copied in the go mode vendor in https://github.com/golang/go/issues/26366 and some related issues. It's nice that the vendor is smaller than the module in the case where it's checked in. Just not consistent since you now have more LICENSE files found in the module case.

[2019-07-12 21:43] #14500 closed

[2019-07-12 21:53] tadeucruz commented on #15429
Hi,

I have the similar problem using 1.2.2 in 1.20 everything works fine

**The error:**

`org.springframework.data.redis.RedisSystemException: Redis exception; nested exception is io.lettuce.core.RedisException: java.io.IOException: Connection reset by peer`

**kube config:**

[code]
**Version (include the output of istioctl version --remote and kubectl version)**

[code]

[code]

**How was Isti

[2019-07-12 21:54] #15330 closed

[2019-07-12 22:19] ostromart opened #15504 "Investigate adding services to IstioControlPlaneSpec"
Right now services can only be overridden by using k8s overlays. Changing these may be common enough to promote this into the IstioControlPlaneSpec k8s block.

[2019-07-12 22:21] ostromart opened #15505 "Figure out how to integrate the prometheus chart"
Prom is not a first class Istio component but is needed for demos. Figure out the right way to integrate the chart to support a single line demo install while not integrating prom too deeply into the operator.
One way to kick the can down the road is to install it through the existing values.yaml passthrough API.

[2019-07-12 22:23] ostromart opened #15507 "Istio CLI user docs"
Currently there's a dev walkthrough on the front page but no user docs.
Something user facing is required, eventually for inclusion on istio.io.

[2019-07-12 22:26] ostromart commented on #15497
@ayj, could Tao investigate this? If not, feel free to reassign back to me.

[2019-07-12 22:31] howardjohn commented on #15505
Whats the plan for non-demo? Bring your own Prometheus operator and we provide the yamls to get istio scraping?

[2019-07-12 22:33] ostromart commented on #15497
I fixed the repo path at least in https://github.com/istio/operator/pull/84
But it would be good to investigate the dependency breakage by starting with a clean slate and trying this out. In theory all deps should be handled by go.mod but perhaps something is missing or broken there.

[2019-07-12 22:39] ayj commented on #15497
cc @elfinhe

I left a comment on istio/operator#84 that `export GO111MODULE=on` was needed with golang < 1.13. I was able to start from a clean slate with this additional change.

[2019-07-12 22:48] ostromart commented on #15322
Thanks for testing this out Nik.
You're quite right - the dry run thing was documented but easy to miss. I created a PR to fix it but it would also be good to have log output stating that the tool is in dry run and won't apply or write anything. If you're willing to take that on it would be great. Also feel free to suggest any other improvements to the docs or elsewhere.

[2019-07-12 22:51] ostromart commented on #15324
This should be covered in https://github.com/istio/istio/issues/15237 (vfsgen should be a dependency in the makefile so devs shouldn't have to worry about it).
I do think it will be worthwhile to document vfsgen though if devs have to mess with that part of the code, so let's keep this bug open.

[2019-07-12 22:54] Monkeyanator commented on #15497
Quick follow-up: `export GO111MODULE=on` was all that was needed (for my case).

[2019-07-12 23:16] ostromart commented on #15497
Great, looks like istio/operator#84 is all we need then. I added the env var export to the instructions there.

[2019-07-12 23:31] #15497 closed

[2019-07-13 01:15] tadeucruz commented on #15429
A simple workaround is remove the **name: redis** from ports. I think this new  filter/feature #14582 change the filter. I don't know how to change the PILOT_ENABLE_REDIS_FILTER to make a real test.

New kube config without problem

[code]

[2019-07-13 05:25] zhaohuabing opened #15509 "Consul high CPU usage when services change"
**Bug description**
Consul  CPU usage reached to 300% while service changes in my test environment. The high CPU usage of Consul is caused by the pilot consul registry, which is called multiple times while services change in order to push the changed services to envoy sidecars.  The repeated consul registry calls result in hundreds of remote calls to Consul Catalog REST APIs.

[code]

**Affected p

[2019-07-13 06:53] #15426 closed

[2019-07-13 11:50] ramaraochavali commented on #15183
Thank you. Will wait for your PR then.

On Thu, 11 Jul 2019, 20:51 Shriram Rajagopalan, <notifications@github.com>
wrote:

[2019-07-13 12:49] #12395 closed

[2019-07-13 13:45] morvencao commented on #15505
Also should we consider integrating with prometheus that already exists in the cluster?

[2019-07-13 13:52] morvencao commented on #15493
DO you mean this issue: https://github.com/istio/istio/issues/15370

[2019-07-13 14:23] howardjohn commented on #13317
not stale

On Sat, Jul 13, 2019, 4:50 AM stale[bot] <notifications@github.com> wrote:

[2019-07-13 14:49] #12178 closed

[2019-07-13 20:43] #15373 closed

[2019-07-13 21:44] xiaozhongliu commented on #15313
@esnible Thanks I'll try it later, we made a workaround with nginx ingress.
Do we have doc on this, I didn't find any...

[2019-07-13 21:47] #14842 closed

[2019-07-13 22:46] #15477 closed

[2019-07-14 06:26] ldemailly commented on #3606
yes that was for:
[code]
in the old ingress spec, not sure how you specify tls ingress nowadays but if has the same behavior (of waiting until the cert are found to listen) it'd be nice to have some indication

[2019-07-14 08:02] vadimeisenbergibm opened #15517 "Handle loading client-side certificates in egress gateways"
**Describe the feature request**
There are cases when non-Istio-managed client certificate must be used for some hosts, in particular in the case of egress gateway performing mTLS with an external service. While DestinationRule allows specifying a client certificate and a private key in https://istio.io/docs/reference/config/networking/v1alpha3/destination-rule/#TLSSettings, it does not allow to s

[2019-07-14 08:04] vadimeisenbergibm commented on #15517
cc @rshriram

[2019-07-14 09:14] clyang82 opened #15518 "the commit cd4a148 seems wrong for istio 1.2.2 release"
**Bug description**

<img width="1013" alt="image" src="https://user-images.githubusercontent.com/7711311/61181488-e3766c80-a659-11e9-9d10-a33b6de6846b.png">

the commit `cd4a148` seems wrong. use this commit cannot build the bookinfo successfully.
Have to apply this commit - https://github.com/istio/istio/commit/491acb07b4c58f063de77e8824b868c9f14e45f8

I remembered I can download the 1.2.2 in Ju

[2019-07-14 14:37] blackhawksj opened #15519 "Iptables rules are not updated even after successful istio-init"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Iptables rules are not updated even after successful istio-init so the traffic doesn't pass through proxy hence non of the rules apply to the servic

[2019-07-14 15:36] howardjohn commented on #15519
Do you have a custom image you are using or something that is based on a newer base image or something?

`Warning: iptables-legacy tables present, use iptables-legacy-save to see them` seems to be the root cause

[2019-07-14 15:39] howardjohn commented on #15518
The release was retagged to the same commit. That is why it is 4 days ago

not sure what you mean by the commit is wrong

[2019-07-14 19:30] howardjohn commented on #15328
this was fixed, passing 100% now

[2019-07-14 19:30] #15328 closed

[2019-07-14 19:32] howardjohn commented on #14897
I don't think this is a problem - feel free to reopen if you disagree @sdake

[2019-07-14 19:32] #14897 closed

[2019-07-14 19:35] howardjohn commented on #14717
We no longer have run after success - images are built in each test, so I don't think this is an issue. The only problem could be if we don't have image pull policy Always and it pulls the old version, but I don't think this is a problem. Closing this now as it should be impossible to happen now

[2019-07-14 19:35] #14717 closed

[2019-07-14 19:36] howardjohn commented on #13320
gotestsum is an alternative to the junit thing we use. If this becomes a bigger issue we can consider migration.

It's made by circleci so they have some vested interest in maintaining it, as they only support junit as well

[2019-07-14 19:37] howardjohn commented on #12230
This is done, we have e2e simple kind and the integration tests are all using kind

[2019-07-14 19:37] #12230 closed

[2019-07-14 19:38] howardjohn commented on #12962
/retest works now - It may be a result of the new prow upgrade, but I've had it work consistently now

[2019-07-14 19:38] #12962 closed

[2019-07-14 19:39] howardjohn commented on #13307
We moved the tests to run on KinD which runs locally. I'll make sure some documentation is added soon

[2019-07-14 19:42] howardjohn commented on #13072
I think we can just get rid of the "context" argument on all the jobs

[2019-07-14 19:44] howardjohn commented on #14122
Istio/Istio has no circleci running in presubmit anymore, just need the other repos now

[2019-07-15 01:28] rverma-nikiai opened #15522 "Deeper ALB support"
**Describe the feature request**
Hi team, planning to implement deeper integration of istio gateway with aws ALB. There are many advantages of using ALB and in particular a target group [Default metrics and alarms]. It's readily integrated with other services as well e.g. SNS notification.

The interesting part is that target groups can register a pod as a target directly, thanks to aws vpc cni pl

[2019-07-15 01:30] hzxuzhonghu commented on #14795
Feel very sad, We are already using a proxy to access internet from office, and do the above, a lot of errors occur.

[code]

[2019-07-15 01:51] clyang82 commented on #15518
I used this commit cannot build the bookinfo images. I am not sure if the istio 1.2.2 build the bookinfo example images or not. Thanks.

[2019-07-15 02:07] howardjohn commented on #15518
the bookinfo images are published independently of the release so its possible it was broken at that commit and later fixed

[2019-07-15 02:14] clyang82 commented on #15518
OK. Got it. Thanks @howardjohn for your information.

[2019-07-15 02:14] #15518 closed

[2019-07-15 03:55] howardjohn commented on #13176
sorry the 1.0 branch didn't get fixed properly, we will make sure this type of issue doesn't happen again moving forward

[2019-07-15 03:55] #13176 closed

[2019-07-15 04:55] ostromart commented on #15493
Yes, exactly. Those are both subtasks of this I'd say.
I think there may be some other minor issues. I remember fixing some stuff but I didn't have time then to push it back up to istio/installer.

[2019-07-15 05:08] ostromart commented on #15507
Duplicate.

[2019-07-15 05:08] #15507 closed

[2019-07-15 05:15] ostromart commented on #15505
I believe @mandarjog and @douglas-reid worked on integrating the prom operator - can you guys comment on the plan for it going forward? Is it just a straight drop in replacement for the chart we had before?

[2019-07-15 07:51] morvencao commented on #15366
For this error after I add `handler` parent to profile:
[code]

There is a similar issue logged at kubernetes community, see: https://github.com/kubernetes/apimachinery/issues/59

The guys from kubernetes community suggest to use the json stdlib to marshal/unmarshal the API, since the proto support was added later.

[2019-07-15 09:46] blackhawksj commented on #15519
Thanks for the reply,
the proxy images are based on mistra.
docker.io/maistra/proxy-init-ubi8:0.11.0

[2019-07-15 09:52] silencehe09 commented on #15431
By the way ,  in "Multiple control plane topology" , does it support to reach remote pods through gateway  without mTLS for some sake of ops ?  How  to change the configuration of istio control plane deployments ?

[2019-07-15 11:07] bogdansucila opened #15525 "Source IP not preserved in HTTP headers"
**Bug description**

Brief overview: In our current implementation of Istio, the ingress gateway sits behind one of our partner's reverse proxies, i.e. the client owns the domain name, which gets resolved to their reverse proxy, which in turn forwards traffic to our ingress gateway IP. In turn, the ingress gateway acts as reverse proxy itself, routing traffic to either an Azure Web App (the web fr

[2019-07-15 11:33] bogdansucila commented on #14983
As an update, I managed to get it working in the end, although it implied way more manual configuration than I would have hoped.

The issue with URL rewrites messing up the API queries turned out to be milder than initially expected - a tcpdump run on the Ingress GW's proxy sidecar revealed that the HTTP requests were trimmed only until the (?), and that the API query that followed was preserved.

[2019-07-15 13:14] sdake commented on #15158
work completed.

[2019-07-15 13:14] #15158 closed

[2019-07-15 13:17] esnible opened #15526 ""istioctl inspect""
This work item tracks the progress of

Istioctl inspect
https://docs.google.com/document/d/1OnJpw1Hi5vtfnIajOFwvuJPlnPlB2rJeCkRvSVJx9vI/edit#

Initially we will implement this as "istioctl experimental inspect" so that we can get feedback on the output and implementation before finalizing.

[2019-07-15 13:30] Demonian commented on #14433
@douglas-reid Any news on this?

[2019-07-15 13:30] blkwtch commented on #11983
Hello

I am facing the same issues with istio-1.1.9

istioctl  -c kc.yaml -n bookinfo authn tls-check details-v1-5df567f4f6-7p48x.bookinfo details.bookinfo.svc.cluster.local

[2019-07-15 13:38] GregHanson commented on #14982
@IcemanGambit any updates on this?

[2019-07-15 13:41] nitishm opened #15527 "EnvoyFilter not being applied to the workload sidecar "virtual" listener"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
EnvoyFilter CR object is not being applied to the `"virtual"` listener of a workload sidecar.
No logs are visible neither in the pilot > discovery c

[2019-07-15 13:42] nitishm commented on #15527
More details - https://discuss.istio.io/t/applying-envoyfilter-to-the-virtual-listener/3087

[2019-07-15 13:48] conrallendale commented on #9764
In [this file](https://github.com/istio/istio/blob/master/tests/testdata/config/destination-rule-all.yaml), the trafficPolicy is specified as a subset config, not as a global DestinationRule config. So I guess the behaviour described on this issue was not supposed to work.

According to this file, the sticky sessions works between pods inside a subset, not between subsets, which makes the sticky s

[2019-07-15 14:30] howardjohn commented on #15519
I believe that is a mairstra issue. They are using RHEL8 which replaced
iptables with nftables.

istio/istio has no control over their images so there isnt really anything
we can do here

On Mon, Jul 15, 2019 at 2:47 AM blackhawksj <notifications@github.com>
wrote:

[2019-07-15 14:41] anycz opened #15528 "Missing metrics in prometheus for egress gateway"
**Bug description**
In Grafana, Istio workload/service data is extremely limited for egress gateway. "Istio service dashboard" show data in "SERVICE: istio-egressgateway.istio-system.svc.cluster.local" section, for the "Client request volume", "Client success rate" and "Client request duration" subsections. Other parts are empty. "Istio workload dashboard" is totally empty.

Associated query in Pr

[2019-07-15 15:33] codingmaths opened #15529 "istio-ingressgateway not listening on port 80/443"
We have installed istio-1.1.6 on our cluster 1.14.3. I can see all services has been installed successfully. but when I check istio-ingressgateway port 80 and 443 is not listening

**istio SVC**
`➜  helm k get svc
NAME                     TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)

[2019-07-15 15:38] blackhawksj commented on #15519
thanks for the reply, could you please suggest if anything i could change in the sidecar injector template:
-------------
policy: disabled
template: |-
  rewriteAppHTTPProbe: false
  initContainers:
  [[ if ne (annotation .ObjectMeta `sidecar.istio.io/interceptionMode` .ProxyConfig.InterceptionMode) "NONE" ]]
  - name: istio-init
    image: "docker.io/maistra/proxy-init-ubi8:0.11.0"
    args:

[2019-07-15 15:43] howardjohn commented on #15519
The problem is `"docker.io/maistra/proxy-init-ubi8:0.11.0"` is built off a base image that changes the behavior of the `iptables` binary. Istio has no control over this, unless we changed the init script to detect the iptables-legacy binary on some newer rhel/debian images

[2019-07-15 15:57] blackhawksj commented on #15519
@howardjohn howardjohn thanks for help in suggesting the root cause.
Changed the maistra image from ubi8 to centos7 and now the iptable rules are applied successfully.
-----------------
make changes in the config template/config map of the sidecar injector pod in istio-system
-----------------
policy: disabled
template: |-
  rewriteAppHTTPProbe: false
  initContainers:
  [[ if ne (annotation .Obje

[2019-07-15 15:57] #15519 closed

[2019-07-15 16:03] GregHanson commented on #15529
@codingmaths do you have any Gateway rules created?
[code]
Without any Gateway's defined, there will not be any ports open on the istio-ingressgateway

[2019-07-15 16:34] ostromart commented on #15366
It's worth a try - however there are other proto fields like BoolValue that may not unmarshal using the built in library.
Another possibility is to patch the Go structs after proto generation as we are doing for components.values fields to get a map[string]interface{} type.

[2019-07-15 16:34] hongfei-zhou opened #15530 "Getting unknown workload instance type on after enabled on GKE"
**Bug description**
After enabling the Istio ion GKE, I am not able to get all traces in Stackdriver, the logs in mixer shows unknown workload instance.

[code]

And the trace list in Stackdriver is not listing any app related information. The only source I can see is from `Recv.istio-policy.istio-system.svc.cluster.local`

**Affected product area (please put an X in all that apply)**

[ ] Configu

[2019-07-15 16:54] knrc commented on #15519
It's not specifically related to RHEL 8 but to what the specific kubernetes distribution relies on for networking, some will be using iptables and others will already have transitioned to nftables.  The RHEL 8 version of iptables translates the configuration through to nftables so will work on distributions which support nftables in preference to iptables.

I raised this issue in a recent communit

[2019-07-15 16:54] #15322 closed

[2019-07-15 16:57] bianpengyuan commented on #15530
The log message you saw is red herring. Tracing is not enabled by default in 1.13.7. You could enable it by following instruction here: https://cloud.google.com/istio/docs/istio-on-gke/installing#tracing_and_logging. Also note the tracing sample rate is set at 1%.

[2019-07-15 16:58] howardjohn commented on #15525
You can pass this into helm with `--set pilot.env.PILOT_SIDECAR_USE_REMOTE_ADDRESS`

This is only in 1.2.2 by the way

[2019-07-15 16:59] knrc commented on #15519
To clarify this *is* an issue which community Istio will have to deal with at some point, we are just the first to have faced it wrt the OpenShift distribution which is now nftables based and hence why the maistra images are already moving.

[2019-07-15 17:20] JimmyCYJ opened #15533 "Add integration test case for an internal client calling an internal service, and the service is using a wrong certificate"
Add integration test case for an internal client calling an internal service, and the service is using a wrong certificate. The test cases need to cover file mount and workload SDS.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[X] Security
[ ] Test

[2019-07-15 17:21] JimmyCYJ commented on #15533
/cc @myidpt

[2019-07-15 17:28] douglas-reid commented on #14433
Working through the proposal now.  I'm OOO for awhile, but hopefully there will be concrete news to share soonish.

[2019-07-15 17:42] jaygorrell commented on #13205
This is fixed in https://github.com/envoyproxy/envoy/pull/7505. I think this issue can be closed once those changes are pulled into Istio.

[2019-07-15 18:03] ostromart opened #15534 "Create tests to compare helm output with iop"
Tests are needed to compare the output from helm template with iop for a variety of parameter settings. There should be no diff between the outputs, which can be verified using a YAML diff tool.

[2019-07-15 18:08] ostromart opened #15535 "iop dump-profile should display schema as well as values"
Currently dump-profile only displays values, but it should show the schema too and ideally the documentation as optional output.

[2019-07-15 18:09] ostromart opened #15536 "iop dump-profile should be able to display merged values"
dump-profile currently only shows the configuration profile base values. It should be able to also show the final values after the user overlay is applied.

[2019-07-15 18:11] ostromart opened #15537 "iop commands should take a configPathRoot parameter"
iop commands such as dump-profile display the entire tree. It should be possible to display subtrees using a flag e.g.
iop dump-profile --configPathRoot=trafficManagement.components.pilot

[2019-07-15 18:16] ostromart opened #15538 "iop manifest and install should take either IstioControlPlane CR or IstioControlPlaneSpec"
Currently iop manifest/install expect the file format to contain IstioControlPlaneSpec. To make it easier to move between the in-cluster and CLI operator modes, the CLI should be able to also accept a file with an IstioControlPlane CR, which is what the in-cluster operator consumes.

[2019-07-15 18:28] hongfei-zhou commented on #15530
Hey @bianpengyuan, Thanks for the quick response. I have actually already enabled the tracing for istio, here is what `stackdriver-tracing-rule` looks like:
[code]
And I also ajust the sample rate to 100, but still, only the istio built in traffic is showing in the Stackdriver.

[2019-07-15 18:31] christian-posta commented on #15475
Yah, of course it works for me now lol... I was on an airplane when I saw the incorrect behavior. Sorry for those noise, thanks for double checking @howardjohn

[2019-07-15 18:31] #15475 closed

[2019-07-15 18:33] myidpt commented on #15533
Thank you!

[2019-07-15 19:21] venilnoronha commented on #14983
@bogdansucila thanks for bringing that up. This feature was supposed to be available in 1.2.0; however, it seems that the commit was accidentally missed in the release. Let me confirm with the release team.

[2019-07-15 19:47] hongfei-zhou commented on #15530
I tried to use
`kubectl -n istio-system edit deploy istio-pilot` to update the `PILOT_TRACE_SAMPLING` environment, but it keeps getting reset back to 1.

[2019-07-15 19:50] elfinhe commented on #15237
@ostromart need some help to clarify this task:
1. The ultimate goal of this task is to use `make` instead of `go build -o $GOPATH/bin/iop ./cmd/iop.go`, include all deps and `go generate` used by vfsgen?

2. By saying cleanup, do you also mean we have some unused legacy parts (safe-to-remove) in this makefile?

[2019-07-15 20:06] patrickppeng opened #15540 "Pilot discovery container keeps crashing after injected sidecar, due to invalid virtualservice"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
discovery container keeps crashing with SIGSEGV if auto sidecar injection enabled in cluster. Here is the stack trace (see full logs attached):

ist

[2019-07-15 20:26] howardjohn opened #15541 "Clean up deployment names in istio/installer"
We have some names like pilot11 and citadel11. We should either:

* remove the suffix
* if its needed, (and I am not sure why it is), update it automatically from .Release.Version

@costinm not sure why the suffix was added, do we need it?

[2019-07-15 20:37] howardjohn commented on #15540
Looks like crash is here https://github.com/istio/istio/blob/1.1.6/pilot/pkg/networking/core/v1alpha3/route/route.go#L563

Do you have a virtualservice with a missing header match or something?

Something like
[code]

[2019-07-15 20:41] mandarjog opened #15542 "Degrading latency benchmark with successive runs. tools/perf"
I am running Istio benchmark with Mixer_filter. I am observing that generally latency measurements degrade on successive runs.

The source and the destination pods have not restarted for the duration of this multi day test runs.
Even the istio-proxy within the pods have not restarted, they are running for several days.

[code]
example:
[code]

[2019-07-15 20:41] juniorz opened #15543 "redisquota is not consistent with memquota counting."
**Bug description**

Istio documentation on Rate-Limiting states:

However, the way `memquota` and `redisquota` implement this definition of "set of counter" is not consistent (as mentioned in https://github.com/istio/istio/issues/8526#issuecomment-457291737). As both support the `quota template`, the documentation even suggests that `redisquota` is a drop-in replacement for `memquota` - and encou

[2019-07-15 20:43] mandarjog commented on #15542
[tmpbyysx5.txt](https://github.com/istio/istio/files/3394125/tmpbyysx5.txt)

[2019-07-15 20:45] juniorz commented on #15543
I believe this is caused by each of them having a separate way to calculate keys used by the counters:

`memquota` uses the instance values as part of the key.

See https://github.com/istio/istio/blob/82e30d02bce28f9861b6cede3ace703ec6ef34c5/mixer/adapter/memquota/keys.go#L35 which is used by https://github.com/istio/istio/blob/82e30d02bce28f9861b6cede3ace703ec6ef34c5/mixer/adapter/memquota/memquo

[2019-07-15 20:48] patrickppeng commented on #15540
yes, I found one of the virtualservice as:

- apiVersion: networking.istio.io/v1alpha3
  kind: VirtualService
  metadata:
    creationTimestamp: "2019-07-14T16:47:30Z"
    generation: 1
    name: uwf-virtualservice
    namespace: default
    resourceVersion: "14033"
    selfLink: /apis/networking.istio.io/v1alpha3/namespaces/default/virtualservices/uwf-virtualservice
    uid: 11b5034b-a657-11e9-b6

[2019-07-15 20:56] ostromart commented on #15237
Hi, yes, we want to have make iop build the command and vfsgen dependency.
You can also get rid of gen_patches, gen_patch and proto_orig.

[2019-07-15 20:57] howardjohn commented on #15540
Great, does fixing that one solve the issue? sounds like we just need to reject this config as invalid

[2019-07-15 20:57] ostromart commented on #15237
Oh, proto should also be a dependency of iop and vfsgen.

[2019-07-15 21:00] patrickppeng commented on #15540
I don't know what the intention the service developer tried to do... in virtualservice, how to define a match header with "null" cookie?

[2019-07-15 21:05] patrickppeng commented on #15540
yes, it solved the issue after removed the "cookie: null" header
  - match:
    - uri:
        prefix: /services/ApplicationCenter
    rewrite:
      uri: /
    route:
    - destination:
        host: uwf-client
        port:
          number: 8080
  - match:
    - uri:
        prefix: /assets/css/neo.min.css
    rewrite:
      uri: /assets/css/neo.min.css
    route:
    - destination:
        hos

[2019-07-15 21:06] howardjohn opened #15544 "Config dump format updated, breaking `istioctl pc`"
Steps to reproduce:

* Install istio from master
* `istioctl proxy config bootstrap POD`

Error:
`Error: error unmarshalling config dump response from Envoy: unknown message type "envoy.admin.v2alpha.ScopedRoutesConfigDump"`

Config dump shows some new field?
[code]

This probably breaks some other things too

fyi @kyessenov @esnible

[2019-07-15 21:33] codingmaths commented on #15529
@GregHanson I haven't defined any gateway specifically . I am using nodeport for ingress. also how to create a gateway now

[2019-07-15 22:21] #15500 closed

[2019-07-15 22:36] kyessenov commented on #15544
Well, it's `v2alpha` API. Please don't use it for anything serious.

[2019-07-15 23:01] Jpatel86 commented on #15417
@nmittler The issue I am working on, service discovery sync between consul and Istio. I came across the consul-istio adapter which @costinm created(https://github.com/costinm/istio-consul), it listens on local consul agent and expose MCP on specific port(15098).
If I talk about this specific software, pilot detects this MCP server but it's  unable to synchronize endpoints. I think it's missing com

[2019-07-15 23:08] howardjohn commented on #15442
Do we need V2_REFRESH? It configures the periodic refresh. Its been disabled for a while @rshriram @costinm

[2019-07-16 00:14] patrickppeng commented on #15540
is it possible to add error handling or null validation in this function without crashing the container?

[2019-07-16 00:16] howardjohn commented on #15540
I am not sure what you mean, once #15549 is merged this config will get rejected by `kubectl apply`, so it will never get to the crashing function?

[2019-07-16 00:17] patrickppeng commented on #15540
oops! just saw the Reject null header matches... thanks again John.

[2019-07-16 00:20] howardjohn commented on #15540
No problem, thanks for finding this. I am hoping to get some fuzzing working for pilot so this would be caught but haven't gotten it up and running yet

[2019-07-16 00:21] howardjohn commented on #4541
This has effectively been replaced with code mauve. Looks like all associated issues are completed so I am going to close this

[2019-07-16 00:21] #4541 closed

[2019-07-16 00:25] howardjohn commented on #15544
Actually this fails on istioctl 1.2.2 but seems to work from HEAD (e4a3f6b974a7f7bb6b7c3866051b3555ada0b3b4). I think that since we have pulled in the new go-control-plane this works but we no longer have forward compatibility

[2019-07-16 00:29] howardjohn commented on #7841
I don't think this is still planned given we are moving other components out of istio/istio now? Feel free to reopen if thats not accurate @kyessenov

[2019-07-16 00:29] #7841 closed

[2019-07-16 00:32] howardjohn commented on #9102
I believe we have all the changes here we need in master

[2019-07-16 00:32] #9102 closed

[2019-07-16 00:32] howardjohn commented on #9363
No longer needed, we have migrated to prow

[2019-07-16 00:32] #9363 closed

[2019-07-16 00:35] howardjohn commented on #12362
verify-owners plugin is turned on, this is working now. Tested in a PR: https://github.com/istio/istio/pull/15550

[2019-07-16 00:35] #12362 closed

[2019-07-16 00:40] howardjohn commented on #12974
Closing, dupe of https://github.com/istio/istio/issues/15498

[2019-07-16 00:40] #12974 closed

[2019-07-16 00:42] howardjohn commented on #12912
This has been passing in presubmit for a while, only action left is to enable is as required

[2019-07-16 00:50] howardjohn commented on #13072
I will get this done soon, tracking in https://github.com/istio/test-infra/issues/1460. I am going to close this one since its hard to track two at once

[2019-07-16 00:50] #13072 closed

[2019-07-16 01:08] #15540 closed

[2019-07-16 02:50] mrshengzyzy commented on #15055
Anyone solve this? I got the same issue.
[code]

[2019-07-16 03:37] kubesure opened #15554 "helm delete - does not remove namespace"
**Bug description**
helm delete does not remove istio-system namespace.

helm delete --purge istio
helm delete --purge istio-init

**Affected product area (please put an X in all that apply)**

[X] Configuration Infrastructure
[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infra

[2019-07-16 03:44] JimmyCYJ commented on #13339
https://github.com/istio/istio/pull/15496 has major feature changes, unit tests and integration test.
Next step is adding more unit tests, integration tests and performance tests, and updating user guide.

[2019-07-16 04:07] howardjohn commented on #15554
I think this is just the behavior of helm - see https://github.com/helm/helm/issues/1464

Is there anything else we can do?

[2019-07-16 05:44] mailzyok commented on #14202
@howardjohn sorry for late response. I am just back from vacation.

in my view, for containers that require liveliness supervision, a liveness probe must be specified. If there is no livenessProbe for pilot discovery and istio-proxy, if something wrong happened for these containers, how can they recover from it automatically?

For citadel container, there is a service exposed accordingly, which me

[2019-07-16 05:49] bianpengyuan commented on #15530
I just tested it out, and I could see tracespans in Stackdriver UI with the your rule. Does your workload have sidecar injected?

Addon's config will be reconciled by [GKE addon manager](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/addon-manager), that's why you cannot change it.

[2019-07-16 06:10] vaikzs commented on #4940
Thanks for raising this issue in the hour of need. We are facing client-side timeout exceptions while invoking our services which are Istio-enabled. To confirm, we changed to `http2` and noticed reduced exceptions BUT still see them. Do we need to change to `http2-` with a hyphen suffixed by a name or can persist with http2 alone?

[2019-07-16 06:44] ozevren commented on #12912
Or move to post-submit (or get it removed).
@c0d1ngm0nk3y will you be able to shepherd this?

[2019-07-16 07:08] mrshengzyzy commented on #15352
I test the `istioctl`  and find that  from 1.1.3 the port validate was removed.
[code]
In #13054 , I found the change is
[code]
It seems like that port must bu a number ,and from  https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#Destination
we can find  that `PortSelector specifies the number of a port to be used for matching or selection for final routing.`

So, the por

[2019-07-16 07:36] #15442 closed

[2019-07-16 07:43] c0d1ngm0nk3y commented on #12912
@ozevren We discussed this within the team and we think `post-submit` should be fine. What do you think? Should we open a PR to move it?

[2019-07-16 07:52] ozevren commented on #12912
post-submit sounds good.

[2019-07-16 08:04] morvencao commented on #15366
Actually I have tried to unmarshal with json standlib, the problem is that the json field names in the generated go struct are not camelcase, but `xxx_xxx`, see: https://github.com/istio/operator/blob/master/pkg/apis/istio/v1alpha2/istiocontrolplane_types.pb.go#L242-L252
As a result, the json unmarshaler doesn't recognize the camelcase json/yaml.

I have tried to add `json_name` option in protobuf

[2019-07-16 09:41] Lysholm opened #15556 "Destination Rule is not applied to traffic from all namespaces it's exported to"
**I misidentified this to begin with see: https://github.com/istio/istio/issues/15556#issuecomment-511989768 for a correct description of what's going on** Below is the original bug report.

**Bug description**
When trying out the https via egress gateway tasks i notice they only work from the namespace the virtual service is applied to. From what i can tell this happens because the keyword "mesh"

[2019-07-16 12:48] morvencao commented on #15431
/cc @rshriram

[2019-07-16 12:49] hzxuzhonghu commented on #1430
/cc @louiscryan @rshriram @costinm @howardjohn  Is there a plan for this?

[2019-07-16 12:54] #14982 closed

[2019-07-16 14:06] hongfei-zhou commented on #15530
I tried to switch to a cluster of the older version (v1.12.8-gke.10) with istio (1.0.6-gke.3). Now I can see the trace information in Stackdriver. But with the lastest GKE and [corresponding istio](https://cloud.google.com/istio/docs/istio-on-gke/installing#supported_gke_cluster_versions), I can't see it.

The sidecar is automatically injected as I labeled my namespace as enabled with
[code]

[2019-07-16 14:13] howardjohn commented on #1430
@hzxuzhonghu see https://github.com/istio/istio/issues/15057#issuecomment-506561935.

[2019-07-16 14:15] geeknoid commented on #14475
How's this going?

I was just looking at our existing license checking tool and I don't understand all the complicated stuff it is doing around running git commands and such. I believe this tool can be simplified considerably.

Given a repo, you walk up to it and run the tool. The tool reads the go.mod file and for each module, finds the directory in the Go module cache. At the root of the directo

[2019-07-16 14:22] nmittler commented on #15417
@Jpatel86 thanks for clarifying

@costinm do we have any integration tests for the consul integration? I took a quick look through and didn't see anything.

[2019-07-16 14:29] asitaru commented on #1430
@howardjohn Envoy now has support for UDP.

[2019-07-16 14:33] bianpengyuan commented on #15530
If you click into the `trace list` page, and look info the `istio-policy` trace, could you see spans from your workload? There is a known bug in Istio Mixer tracing reports which will make span hierarchy wrong. It has been [fixed](https://github.com/istio/proxy/pull/2182) in 1.1.8 and should be available from the next GKE 1.13.x release.

[2019-07-16 14:36] howardjohn commented on #1430
My understanding is the second part is equally as important to Envoy's support, which @rlenglet is working on.

[2019-07-16 14:49] GregHanson commented on #15529
@codingmaths we have some doc and examples here:
https://istio.io/docs/tasks/traffic-management/ingress/ingress-control/
https://istio.io/docs/tasks/traffic-management/ingress/ingress-control/#configuring-ingress-using-an-istio-gateway

You will need a Gateway rule to expose a port and/hostname for incoming requests to the istio-ingressgateway and you will also need a corresponding VirtualService

[2019-07-16 15:34] esnible commented on #14743
@rlenglet Why Nebulous Future?

[2019-07-16 15:36] esnible commented on #15293
@kish3007 Do you have a sample for testing possible fixes?

[2019-07-16 15:45] anthonyhaussman commented on #6071
@vadimeisenbergibm It was the case.
But shame on me, the problem was coming from my curl command.
[code]

So it working great. :ok_hand:

[2019-07-16 16:00] rlenglet commented on #14743
@esnible Will all those applications be supported in 1.3? If that's the goal, feel free to move to 1.3.

[2019-07-16 16:04] vadimeisenbergibm commented on #6071
@anthonyhaussman I am glad it worked for you :)

[2019-07-16 16:21] flatmap13 opened #15558 "Make it easy to add custom CA root certificates to istio-proxy"
**Describe the feature request**
Make it possible to add custom CA root certificates to auto-injected istio-proxy (sidecar) containers.

**Describe alternatives you've considered**
n/a

**Affected product area (please put an X in all that apply)**

[x] Configuration Infrastructure
[x] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[x] Security
[ ] T

[2019-07-16 16:45] andrewjjenkins commented on #12551
thanks @cscetbon for checking out istio-cni, agree with your bug report.  It's not desirable for us that "communication works but silently turns off encryption" so we should keep working on #15171 .

[2019-07-16 16:45] andrewjjenkins commented on #15171
Sorry, I was PTO last week.  I am trying to find some time to work on this but no ETA yet.

[2019-07-16 16:58] douglas-reid commented on #15505
@ostromart it can be used a straight drop-in. The plan for the prom operator is to allow people that are already managing a prom deployment with the prom operator to generate the CRs necessary to scrape istio endpoints. There is a mode for also generating a prom CR, in the cases where the user is not already running a prometheus instance. Used in that way, it can be a drop-in replacement.

[2019-07-16 17:16] ostromart commented on #14475
The git stuff is there because an external caller may want to generate licenses where version of the tool you need > version of the repo with the licenses and it happens that the tool is in the same repo. The solution to that could be to move the tool out to a separate repo (a good idea anyway IMO).
There are a few other annoyances with licenses which this tool takes care of. One is that we often

[2019-07-16 17:20] rlenglet commented on #13967
Instead of calling `iptables` for every single rule, as the current Go reimplementation does, a better design would be to generate one list of rules for `iptables-restore`, and call `iptables-restore`. That's only one command to run, and it's easier to test a long string like the input to `iptables-restore` than a series of commands.

[2019-07-16 17:29] howardjohn commented on #15478
/assign @JimmyCYJ @myidpt

There are lots of these failures, can one of you take a look?

https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/14938/istio-racetest-master/35
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15056/istio-racetest-master/260
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15138/istio-racetest-master/239
https://prow.i

[2019-07-16 17:30] ericvn commented on #15341
@vadimeisenbergibm Would you be able to provide any guidance on this one? If I understand this one correctly, Kubernetes doesn't know about a service since it exists in another cluster so it can't resolve the host and we never even get the request into the service mesh. If a service exists in all the clusters, things are OK, but if a service exists in a subset, it can't be called from outside that

[2019-07-16 17:39] JimmyCYJ commented on #15478
Thanks @howardjohn , these are unit tests in Citadel Agent. @quanjielin and I will take a look.

[2019-07-16 17:47] JimmyCYJ commented on #15478
Per discussion with @howardjohn, the test failures can be found back to 06/20. Need to reproduce it locally first and identify whether the failure is caused by prow or potential bug in the code.

[2019-07-16 17:49] JimmyCYJ commented on #15478
One option is to run the test in docker with limited CPUs
for example `docker run -it --mount source=<$GOPATH>,target=/root/go,type=bind --cpus=1 gcr.io/istio-testing/istio-builder:v20190619-72a31e48 -- bash`
Thanks @howardjohn for the tips!

[2019-07-16 18:06] mandarjog commented on #15542
[multidays.zip](https://github.com/istio/istio/files/3398477/multidays.zip)

[2019-07-16 18:07] ostromart commented on #15366
I think patch is the way to go here, unfortunately. What we absolutely want to avoid is inconsistency with the k8s schema - even if this is documented I can see it causing lots of frustration for users.

[2019-07-16 18:14] mandarjog commented on #15542
@silentdai there is variation between different tests. looks for runid = 49970663
[code]

[2019-07-16 18:32] mandarjog commented on #15542
There is a large spike with runid = 49970663.

Next steps
0. Restart pods and re-run tests
1. Remove mixer filter and re-run the tests
2. Run it on a VM to eliminate noisy neighbor ...

[2019-07-16 18:48] silentdai commented on #15542
The envoy is alive all the time. I could not remind anything as envoy internal that last hours.

[2019-07-16 18:56] nicktrav commented on #12549
@howardjohn - are there any updates on this? cc: @PiotrSikora, who was also active in the conversation over on #7679, which is related.

[2019-07-16 18:58] ericvn commented on #14475
@geeknoid, It is more complicated than that because the go module cache contains a lot more files than the _vendor_ directory does. _go mod vendor_ similar to _dep_ creates a smaller _vendor_ directory that doesn't include unused packages within a repo and also removed test files as well as some other files.

I could easily hardcore it to look for a `LICENSE` (instead of license* ignoring case wit

[2019-07-16 19:02] frankbu commented on #15556
@Lysholm Adding the `anything/mesh` prefix, as you describe, does not work. Instead of the VirtualService working in all namespaces, it is NOT working in all namespaces. The reason the `curl` command appears to work in all namespaces is because the VirtualService is being ignored (as expected) and the sidecars are then successfully calling the external service directly, i.e., not via the gateway a

[2019-07-16 19:03] geeknoid commented on #14475
I propose just looking at files called LICENSE at the root of all dependent
modules, and not try to find files by any other name or path.  Start with
that and if any modules don't have LICENSE file, then we flag those and
figure out what the right strategy is. I bet they'll all have a LICENSE
file at the top.

On Tue, Jul 16, 2019 at 11:59 AM Eric Van Norman <notifications@github.com>
wrote:

[2019-07-16 19:08] ericvn commented on #14475
@geeknoid. I will code that up shortly and generate a list of those modules which have no LICENSE or COPYING and will use the top level file to call `licensee`. Will see what that provides.

[2019-07-16 19:12] howardjohn commented on #12549
Yes. Someone added this and we found later it broke existing users so we set it behind a feature flag. For now it can be enabled with `--set pilot.env.PILOT_SIDECAR_USE_REMOTE_ADDRESS=true`. I think someone is working on adding a proper api for this

[2019-07-16 19:43] rshriram commented on #12549
Also, with the newer EnvoyFilter API, you can tweak a whole lot of envoy settings like this without clumsy workarounds like env vars. https://github.com/istio/api/blob/master/networking/v1alpha3/envoy_filter.proto

[2019-07-16 19:48] esnible commented on #15293
Related? https://github.com/istio/istio/issues/10053

[2019-07-16 20:18] venilnoronha commented on #14983
@bogdansucila I've created PR #15562 to port the patch to the release (1.2) branch, so it should be available in the release after the merge.

[2019-07-16 20:39] esnible commented on #15293
I was able to recreate the problem using Cassandra and jmxterm-1.0.0-uber.jar.  I did some preliminary troubleshooting.  JMX has a lot of options that are configured using `-Dcom.sun.management.jmxremote.*` and `-Djava.rmi.server.*`.  I suspect some of the security default features of RMI and Envoy are in conflict.  I will do some experiments tomorrow.

[2019-07-16 21:13] frankbu commented on #15556
After further investigation, the code is working as expected. Here's what happens.

The DestinationRule is created in the first namespace, so `curl` from that namespace works according to check 1, described above.

The `curl` requests from a second namespace fails because it doesn't find the DestinationRule according to check 1, but it also doesn't find it according to check 2 because the Destinat

[2019-07-16 21:28] fpesce commented on #3027
@ozevren @kyessenov : Would you mind assigning someone, or making that issue an Epic with clearly identified subtasks (e.g. 1: Do we have a central error code place, that we could use as a Log interface - if not, building that is a task/feature, 2_and_+ : identify the first places to implement this type of logging).
It looks to me that this one is going to be stale for ever if it's not being more

[2019-07-16 21:37] sdake commented on #15156
all wrapped up.  closing.

[2019-07-16 21:37] #15156 closed

[2019-07-16 21:41] nicktrav commented on #12549
@rshriram - that api looks like exactly what we want. Nice. Is going to be in 1.3.x, or later?

@howardjohn - thanks! I'll check that out in the meantime.

[2019-07-16 21:47] kyessenov commented on #3027
I'm not sure how much we want to invest here, since Mixer code is going away. I think it is more important to incorporate this into design of Mixer v2.

[2019-07-16 22:52] qfel opened #15567 "Not clear how VirtualService is supposed to work"
**Bug description**
When using VirtualService in conjunction with the **mesh** gateway, it is not clear what the resulting semantics should be. In particular, how hosts declared in VritualService overlap with hosts owned by K8s Services (or rather, Istio ServiceEntries?) seems to affect what hosts and ports Envoy listens on, but the result doesn't make much sense. Eg. I get listeners on port 80 wh

[2019-07-16 22:53] qfel commented on #15567
FYI @howardjohn @andraxylia @duderino

[2019-07-17 00:00] istio-testing commented on #12678
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-17 00:00] istio-testing commented on #14125
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-17 00:00] istio-testing commented on #14672
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-17 00:00] istio-testing commented on #14791
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-17 00:00] istio-testing commented on #14819
🤔 ❄️ Hey there's no update for this test flakes for 3 days.

[2019-07-17 00:26] elfinhe commented on #15225
looking at cmd/iop/shared.go / validate.go to see if I can identify those scenarios from err returned.

[2019-07-17 00:49] yangminzhu commented on #14031
Thanks @vishdv for the update, Closing the issue now.

[2019-07-17 00:49] #14031 closed

[2019-07-17 01:02] yangminzhu commented on #13565
I'll take this and work on the implementation, hopefully we can deliver this in 1.3 release.

[2019-07-17 01:10] yangminzhu commented on #12992
Closing the issue as it's already supported, feel free to reopen if you have more questions.

[2019-07-17 01:10] #12992 closed

[2019-07-17 01:38] yangminzhu commented on #8619
@samwyma Thank you for the great workaround, that's very nice!

I think it shouldn't be too hard to allow getting the JWT token from cookie header, which doesn't look any strange to the other 2 options: from header or from params.

@diemtvu @qiwzhang Any thoughts?

[2019-07-17 01:40] kish3007 commented on #15293
Thanks @esnible 👍

[2019-07-17 01:51] bruse-peng opened #15570 "how istio gateway and virtualservice support cookie and request arg_xxx"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Sec

[2019-07-17 01:52] yangminzhu commented on #8218
@divya21raj You shouldn't need ServiceEntry/VirtualService in normal cases, if you're seeing the `upstream connect error or ...` error, it's usually caused by mTLS issue, please double check you enabled mTLS in the JWT policy in the same time if you enabled mTLS in the mesh.

[2019-07-17 02:04] vadimeisenbergibm commented on #15341
@dkushner @eric4545 This is by design. You have to create a selector-less Kubernetes service in the cluster that does not have the equivalent of the remote service and from which you want to call to remote service. See https://kubernetes.io/docs/concepts/services-networking/service/#services-without-selectors. Provide it an Endpoint with the ip address of the remote gateway. I did not try it, I th

[2019-07-17 02:14] yangminzhu commented on #12351
@walterTyro
Are you also seeing random 403 from RBAC? Would you mind to follow https://istio.io/docs/ops/security/debugging-authorization/ to get some logs to help debugging? Thanks.

[2019-07-17 02:34] yangminzhu commented on #15357
So basically you would like to apply a JWT policy on service Y and and make it only validate requests out of the mesh but ignore request from within the mesh, right?

ideally you could apply the JWT policy on ingress gateway and use it to route the traffic to service y. The service x could access service y directly to bypass the jwt policy.

The other workaround is to combine the authentication an

[2019-07-17 02:58] hobbytp opened #15572 "istio-cni daemonset shall use "apiVersion: apps/v1" instead of "extensions/v1beta1""
**Bug description**
I think istio-cni DaemonSet shall use "apiVersion: apps/v1" instead of "extensions/v1beta1", is there any concert to still use extensions/v1beta1 in 1.2.2?

**Affected product area (please put an X in all that apply)**

[x] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and R

[2019-07-17 03:26] ja3per commented on #9764
this config works for me. You can refer to.
`---
apiVersion: networking.istio.io/v1alpha3
kind: DestinationRule
metadata:
   name: dsd-api-sso
   namespace: delivery-dsd
spec:
   host: dsd-api-sso
   trafficPolicy:
      loadBalancer:
        consistentHash:
          httpCookie:
            name: router
            ttl: 0s
      portLevelSettings:
      - port:
          number: 443
        tls:

[2019-07-17 03:50] bruse-peng opened #15574 "when i access the application it return 404"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Perfor

[2019-07-17 06:18] johscheuer opened #15576 "Adding common labels to e2e tests"
**Describe the feature request**

I would like to add a set of common labels to the istio e2e tests e.g.:

[code]

This makes a clean/debugging up after the e2e tests easier e.g. if some hanging resources or if you want to use some of the tests as "conformance" tests. In a perfect world these labels would be automatically added to the resources during creation without the need to specify something

[2019-07-17 06:45] johscheuer opened #15577 "Simple e2e tests with global DestinationRule"
**Bug description**

I wanted to run a subset of the e2e tests (simple tests) on an existing istio cluster with mTLS activated per `DestinationRule`:

[code]

This default rule prevented the test to successfully run (since the test case checked an HTTP endpoint). After adding the following the following `DestinationRule`:

[code]

the `SimpleIngress` test case is running. From my perspective there

[2019-07-17 07:38] morvencao commented on #15366
To fix the intOrStr type issue and avoid inconsistency with the k8s schema, I have extended the k8s `IntOrString` type and generated patch to the generated go code to make sure both the port number and port name can be marshal/unmarshal properly.

[2019-07-17 09:33] sniperking1234 opened #15579 "Istio proxy cannot route to service on service port 80"
**Bug description**
Istio proxy cannot route to service on servicePort 80. But after I changed the port, Proxy could route normally.
**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Inf

[2019-07-17 09:38] tegk commented on #14667
Ok, why is this closed again?

This still happens with the sample application included in Istio 1.2.2.

`IOError: [Errno 13] Permission denied: '/opt/microservices/microservice.log'`

[2019-07-17 12:52] linsun commented on #15485
@incfly @vadimeisenbergibm does this mean as a user when SDS mode is enabled, it is impossible to configure mTLS among the ingress gateway to the user's edge service (like product page)?

If so, we need this to be fixed before promote SDS from alpha to beta.

cc @duderino @sdake

[2019-07-17 13:06] linsun commented on #11845
That is great - thank you for chiming in @howardjohn!  @ericvn could you validate this works properly with IKS, e.g. reading the node labels and configure it properly in our env?

[2019-07-17 13:17] bmv3cg opened #15582 "Documentation for Istio production/HA deployment"
**Describe the feature request**

Currently Istio documentation does-not have a documentation for production deployments, and runs with minimal requirements. It will be really helpful to create a reference architecture for production deployments which has multiple replicas of pods running  with anti affinity policies.

**Describe alternatives you've considered**

**Affected product area (please pu

[2019-07-17 13:21] Lysholm commented on #15556
@frankbu: Thanks for clearing up my misunderstanding. From what i understand the bug is rather that destination rules do not get exported currently?

From the docs on destination rule `exportTo`:
[code]

[2019-07-17 13:22] linsun commented on #15427
+1 on using gateway for mesh expansion, we have got too many users ask about mesh expansion not working or not easy to get it working for non flat L3 network among k8s pods and VMs.

The question I want to bring up is:  is this in addition to the existing mesh expansion doc as a different model or we are proposing to get rid of the current mesh expansion?

cc @costinm @duderino

[2019-07-17 13:23] linsun commented on #15134
@irisdingbj could you update if this is containable before 1.3 DCUT (mid Aug)?

[2019-07-17 14:02] phuthinh2202 opened #15583 "service call service through virtualservice with match uri"
[x ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[x ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

Kubernetes: 1.12
Istio version: 1.1.3

How i can route the Service A in Namespace AA to multi service in Namespace BB through virualservice with match uri, my example config below:

[2019-07-17 14:03] frankbu commented on #15556
@Lysholm There is actually no bug, just subtle behavior. `exportTo` is working as expected. The DestinationRule is exported to all namespaces, allowing it to be used in other namespaces, but to be used it ALSO needs to be on the lookup path (i.e., in the service's namespace or `istio-system`) as I described above.

[2019-07-17 14:07] vadimeisenbergibm commented on #15485
@linsun No, from a sidecar proxy inside the mesh to the egress gateway. It will prevent secure egress traffic control in Istio. Also, it will prevent cluster Federation (traffic from a sidecar proxy in one cluster to the ingress gateway in another cluster).

[2019-07-17 14:15] costinm commented on #11366
Could we inject the wrapper by modifying the pod args ? It's an interesting idea.

[2019-07-17 14:27] Lysholm commented on #15556
@frankbu: Ok so it works as intended. Do you know what the reasoning behind that intent is? Is there a use case that requires the "visible but not applied" logic for destination rules? Or is it a limitation?

My expectation is that it gets applied to traffic from all namespaces given the wording in the documentation and seemingly this must have been the case before as i was going through the tasks

[2019-07-17 14:32] howardjohn commented on #15576
The e2e tests are mostly considered legacy, all new tests are being written in tests/integration. This has some more sophisticated resource tracking, although not based on labels. You may be particularly interested in `tests/integration/conformance`

[2019-07-17 14:34] howardjohn commented on #15572
Whtat is your use case for not wanting to us apps/v1?

[2019-07-17 14:34] mbanikazemi commented on #15579
@sniperking1234   Please post the istio resources you use so the issue can be reproduced and debugged.

[2019-07-17 14:45] linsun commented on #15026
cc @sdake - should we propose new APIs for this?

[2019-07-17 14:46] frankbu commented on #15556
@Lysholm, I agree this needs to be documented better, or the design improved, or both.

The problem is because `exportTo` defaults to all namespaces, which we are stuck with for backward compatibility. Exporting to all namespaces is very dangerous, because it allows anyone to create a DestinationRule in any namespace that can override the behavior of services in completely unrelated namespaces. Th

[2019-07-17 14:54] sdake commented on #15026
@linsunall changes to the API of install happen in the API protobufs which are mislocated at present in theoperator repo (they belong in istio.io/api).  This doc describes  the protobufs:

https://docs.google.com/document/d/1xVhtDK0nMGqVVe9HaDi1zzIasOQHq42SCz8Q79AihJs/edit

[2019-07-17 14:55] linsun commented on #13552
cc @morvencao if you have bandwidth to add this.

[2019-07-17 14:59] ibm-jason opened #15584 "Generate a sha256 hash for each of the published istioctl archives."
With the istioctl archives being published to GCS, the archives should additionally ship with corresponding sha256 hashes to ensure that these files are delivered safely and accurately.

[2019-07-17 15:05] linsun commented on #15026
Even with this doc, it is not obvious to me how to disable mixer policy but keep telemetry on.

@ostromart @sdake would appreciate some example if I missed it. probably good to have the example in GitHub.

[2019-07-17 15:21] johscheuer commented on #15576
Thanks for your response ! If the e2e tests are mostly legacy (or vintage ;)) a little note about this should be put inside the readme https://github.com/istio/istio/tree/master/tests/e2e ?

[2019-07-17 15:46] linsun commented on #13259
AFAIK, the new installer won't make to 1.3 either.  @sdake @rlenglet @brian-avery pls correct me if I'm wrong.

If we implement this on the older installer, how much additional work to switch to the new installer when it is ready?  Or should we introduce an experimental install cmd that uses the new installer only?  that may be the best way for users to get hands on on the new installer.

[2019-07-17 15:50] howardjohn commented on #13259
@linsun take a look at https://docs.google.com/document/d/1QoQHjjqkLkK0OsVpi9E_FTqHbMzD6bUpbBmXFi4D1pI if you have not seen it yet

It seems (to me at least) that the operator cli will become the all-in-one istio install cli?

[2019-07-17 15:56] linsun commented on #13259
Thanks @howardjohn!  a few thoughts -

- what if user wants to install but not have istio to manage the install?  This is designed as a convenient cmd where user doesn't have to read pages of install docs to quickly start with install istio.
- would operator be enabled and always on by default?
- it seems reasonable to have this as a top cmd in istioctl, and when operator becomes the main thing an

[2019-07-17 15:57] howardjohn commented on #13259
I believe the intent is that the operator will be able to function both as an in-cluster operator as well as out of cluster, so you could do something like `iop template` and get the same output as helm template for example.

[2019-07-17 15:58] joelhays commented on #9504
I just ran into the same issue. Using the `readiness.status.sidecar.istio.io/applicationPorts` annotation didn't work for me.

The resolution i ended up with was to define a `readinessProbe` on the container.
[code]

[2019-07-17 15:59] nicktrav opened #15587 "Https requests are downgraded to http before proxying to an upstream https server"
**Bug description**

I have a Gateway that captures http/2 traffic on port 443 (i.e. requests with `scheme: https`). A VirtualService matches on the domain I am fronting then re-routes this traffic to another domain (in this demo case `google.com`), added to the mesh via a ServiceEntry.

I observe that the request is received with `scheme: https`, but the scheme is downgraded to `scheme: http` bef

[2019-07-17 16:00] nicktrav commented on #15587
This seems very similar to #6782, which was closed due to inactivity.

[2019-07-17 16:13] mandarjog commented on #15542
This dataset includes
[multidays2.zip](https://github.com/istio/istio/files/3402787/multidays2.zip)

Once mixer filter is removed, I do not see variation or degradation.
[code]

[2019-07-17 16:31] rlenglet commented on #13259
It is currently a P1 for 1.3, i.e. we won't hold the 1.3 release for it. My understanding is that this will be an alpha feature in 1.3.

[2019-07-17 16:35] codingmaths commented on #15529
Thanks for your support, it was a miss at my end. I got it resolved.

[2019-07-17 16:35] #15529 closed

[2019-07-17 16:37] ostromart commented on #13259
That's right - the operator has both a controller and CLI mode, so there's no need to install it in the cluster. We are currently working on integrating iop into istioctl and I think that should make it into 1.3 in some form (see https://docs.google.com/document/d/16SWW14zrwFKc9OzH6biMQD1u9INllzMa56jde9vgQkM/edit#heading=h.6krlfi8l3nek for a proposed CLI reference). @ayj is leading that integratio

[2019-07-17 17:11] ostromart commented on #15505
In that case I propose we use it as a drop-in for the demo profile, using the helm passthrough API. For integrating with existing prom, we'll leave that outside operator scope.
@douglas-reid is there a values.yaml available somewhere for the demo use case?

[2019-07-17 17:25] ayj commented on #13259
The proposed goal is to integrate the operator CLI functionality into istioctl. The IstioControlPlane API would be the common contract between istioctl, the optional operator/controller, and users intent (CR). That would roughly give us the following type of istioctl commands:

[code]

I'd like to get the `manifest` and `install` sub-commands integrated into istioctl in the 1.3 timeframe under the

[2019-07-17 17:31] ericvn commented on #14475
Code changes made and a WIP PR coming soon. @geeknoid, is there a preference where this code should end? I suspect we want it moved to _istio/tools_.  Do we may want to move in subsequent PRs if someone wants to actually see the diff between the package based checker and the module based checker. My thought is a PR against _istio/istio_ with the change so it can be reviewed and then subsequent PRs

[2019-07-17 17:32] ostromart commented on #13259
I dislike the idea of putting this under experimental because it send a different message from alpha (i.e. experimental = we may decide not to go forward with this). It's really important we communicate to users that this is the direction we're committed to. If we don't have an alpha category in istioctl can we just note that it's alpha in the documentation?

[2019-07-17 17:39] ericvn commented on #14475
Another weirdness in the **after** is a package like _github.com/alicebob/gopher-json_. In the **before** I see it's checked but doesn't return an unknown type while in the **after** it must.

[2019-07-17 17:46] venilnoronha commented on #14667
@tegk the PR was against master so you don't see it in 1.2.2. I've submitted a backport request so it should be available in the next 1.2.x release.

[2019-07-17 17:54] linsun commented on #15526
+1 would love to see an experimental cmd on this.

@esnible what is the outlook for this in in 1.3?

[2019-07-17 17:59] mandarjog commented on #12400
@skydoctor distributing .so files is a problem that needs some discussion.
We have talked about other distribution mechanisms for WASM for example.

Enabling this feature makes sense once we figure out how to distribute those files.

[2019-07-17 18:00] geeknoid commented on #14475
Yes, the tool should eventually land in istio/tools and be published in a container we can use from any repo. But starting in istio/istio seems fine.

[2019-07-17 18:11] linsun commented on #14523
and possible the multi cluster profile.  Need to check the current profiles list and supply popular ones.

[2019-07-17 18:27] JimmyCYJ commented on #15416
When running in gateway agent mode, Citadel agent watches k8s API server for ingress gateway secrets. It would be nice if this debug endpoint could list all added k8s secrets with added time and cert expire time, and keep updating the list.

We could also add/update SDS integration test to cover the debug endpoint.

[2019-07-17 18:28] esnible commented on #15544
@howardjohn Should I be trying to fix this?  I am unclear which versions conflict.  Let me know if work is needed for 1.3, and if you recommend an implementation strategy of being more tolerant deserializing JSON, or switching to different Envoy structure versions.

[2019-07-17 18:40] sushicw commented on #14190
Closed #15042 in favor of https://github.com/istio/istio/pull/15596

[2019-07-17 18:44] rshriram commented on #15556
fwiw, we already have a mesh wide setting.. in the mesh config, there is a defaultDestinationRuleExportTo setting which you can set to '.' ..

However, today, exportTo does not support anything other than . and *. The reason is because the use of specific namespaces in destination rule, creates a whole ton of issues when doing the three checks.

[2019-07-17 18:51] #8059 closed

[2019-07-17 18:57] ericvn commented on #15341
Thanks @vadime. I was able to get this to work in my test environment using:
[code]
My test env was basically setting up the example SH two clusters, then creating in the remote cluster a second _sample-b_ namespace and running in it a _helloworld-b_ and _sleep_ pod similar to the _sample_ namespace.

Before applying the above yaml to the _sample-b_ namespace in cluster one, I would see the unreso

[2019-07-17 19:02] ibm-jason commented on #13064
@esnible I think we're good on this issue, no?

[2019-07-17 19:13] howardjohn commented on #15544
if we can make it ignore unknown fields that may be sufficient to get 1.2 istioctl working with proxy 1.3. Otherwise istioctl 1.2 will fail for any proxy running 1.3.

[2019-07-17 19:23] howardjohn opened #15598 "Modify conformance test suite to decouple tests from installation"
Currently, our tests start up Istio, run some tests, and tear down Istio. This makes it hard to bring-your-own-install. It is possible to skip the setup, but many tests will fail due to depending on the custom setup they perform. istio/installer gets around this by skipping these tests, but it would be preferable to not need to skip most tests.

Tests seem to set custom helm values for two reasons

[2019-07-17 19:28] frankbu commented on #15556
I suppose another way to solve this problem is by adding a stand-in ServiceEntry or no-op VirtualService in the same namespace as the DestinationRule, so that the DR will be found in the service namespace. For the egressgateway example, we could add this to the config:
[code]
I'll take a pass at a PR to add some documentation about DR exposure and update the egress gateway example.

[2019-07-17 19:31] a7i commented on #12960
I am facing this issue upgrading from 1.0.6

Upgrade from 1.0.6 to 1.1.0 was perfectly fine but unfortunately that is not the case for 1.2.x
I get 404 for all inbound external endpoints.

[2019-07-17 20:12] sushicw opened #15600 "Some local integration tests failing"
**Bug description**
Several integration tests are failing on master when run in local/native mode. e.g.
[code]

I've confirmed that these failures were introduced in https://github.com/istio/istio/pull/14614. Taking a quick look at the diff, my guess is that we disabled some native-specific skips & workarounds that are leading to the failures appearing.

**Affected product area (please put an X in

[2019-07-17 20:31] sushicw commented on #15600
The first failure is fixable by re-adding ```RequireEnvironment(environment.Kube).``` in `traffic_allow_any_test.go`. The other two seem to have the same error cropping up:

[code]

[2019-07-17 20:42] ayj commented on #13259
Per https://istio.io/about/feature-stages/#feature-phase-definitions, alpha features don't have a deprecation policy or compatibility guarantees. That said, we can certainly communicate our commitment to  istioctl/operator for install, though the specific API is not stable yet.

[2019-07-17 20:48] nmittler commented on #15600
@howardjohn you seemed to be investigating some errors ... is it possible there is some overlap here?

[2019-07-17 20:53] howardjohn commented on #15600
That isn't a real fix that is just skipping the test

I have seen the same error in a different context before. AFAIK it was caused by an update to gLinux. A reboot should fix it @sushicw

[2019-07-17 21:04] dpiessens commented on #15574
Disclaimer: I'm not on the Istio team, just another user who has spent some time with it.

Here's a few things to check:
- Do you have MTLS enabled? If so make sure that auth is working the way you expect it.
- Did you version the Deployment / Service with labels? If so, do you have a DestinationRule for versioning?
- Is the service working and have running pods?

I've discovered that Kiali is use

[2019-07-17 21:06] ostromart commented on #13259
I think that's ok - alpha with a long term plan communicated. Experimental isn't even defined.

[2019-07-17 21:38] sushicw commented on #15600
After rebooting, tests all pass on master. Looks like I was chasing a red herring. Thanks @nmittler  and @howardjohn !

[2019-07-17 21:38] #15600 closed

[2019-07-17 21:51] #12017 closed

[2019-07-17 21:52] costinm commented on #15304
I did some testing for this - it's a pretty good library, works very nicely.

https://github.com/costinm/webhook-certificate-generator has an extension to auto-generate DNS-based certs for istio service accounts ( in particular for webhooks ).

Confirmed that K8S can't sign URL SANs nor intermediary CAs - so this is only useful for DNS-based certs for webhooks or legacy services.

[2019-07-17 22:39] csantanapr commented on #15232
I got back from PTO 🏖 😃

Re tried again today using 1.2.2 and I can confirm that strict mode for mTLS is required on the destination services to be able to have RBAC to be able to work

Minimum fix after trying many permutations on installing with permissive and strict mTLS is to install the destination rules for the bookinfo with mTLS strict
[code]
It doesn't matter how it was istio was installed

[2019-07-17 22:39] #15232 closed

[2019-07-18 00:09] ostromart opened #15605 "Add scopes to logging"
Currently there are a bunch of manual debugging controls per package in pkg/:
var (
	// DebugPackage controls verbose debugging in this package. Used for offline debugging.
	DebugPackage = false
)
This should be replaced with scopes e.g.
var scope = log.Scope("validate", "validation package debugging")
scope.Debugf("log debug message")

[2019-07-18 00:23] ostromart opened #15606 "Refactor util package"
According to  https://blog.golang.org/package-names, it's better not to create util packages that are a generic dumping ground. util should be split up into sub-packages with well defined purposes.

[2019-07-18 00:29] pitlv2109 opened #15607 "Check if KinD supports Trustworthy Jwts."
From https://github.com/istio/istio/pull/15568.

Trustworthy Jwt type is available from v1.12 and later.

The `sds_citadel_flow_test` passed in my v1.12.x and v1.13.x GKE clusters. However, it's failing in KinD (kindest/node:v1.14.2). Reason of failing is control plane components with sidecar (e.g. Pilot, Mixer, etc.) failed to deploy. My guess is that KinD was having problems with trustworthy jwt

[2019-07-18 00:33] pitlv2109 commented on #15607
I don't have access to Prow and I'm not really familiar with KinD, can one of you guys see if you can deploy Istio in a test with those config? @fejta @howardjohn @utka @icygalz.

[2019-07-18 00:42] fejta commented on #15607
The kind utility can create a local cluster using any version of kubernetes. You can build your own images, and releases ship with their own set of prebuilt images. See https://github.com/kubernetes-sigs/kind/releases/tag/v0.4.0 for instructions for how to create a cluster using 1.13:

[code]

[2019-07-18 01:01] pitlv2109 commented on #15607
So looks like k8s on KinD node v1.14.2 (which is prow is using) can not deploy Istio because of trustworthy jwts. I also tested with KinD newest verion 1.15.

Logs from Pilot
[code]

@myidpt @quanjielin. How do you guys want to proceed? We can change the SDS Citadel flow test to use legacy jwts for short-term, unless fixing this KinD issue does not require a lot of time. Again, the test runs fine

[2019-07-18 01:15] howardjohn opened #15610 "Test_KubeSecretController repeated racetest failures"
Seeing errors like
[code]

This is reproducible locally if you run in a CPU throttled environment

I tried increasing the timeout to 20s (from 5s) and it didn't work so I think there is a large issue

Example failures:
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15018/istio-racetest-master/40
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15420/istio-race

[2019-07-18 01:49] ibm-jason commented on #13064
@esnible Unless there is something we're missing here, this issue is closed with https://github.com/istio/istio/pull/13641 merged.

[2019-07-18 01:49] #13064 closed

[2019-07-18 01:49] sniperking1234 commented on #15579
@mbanikazemi What do you mean by istio resources? The destination service is a normal kubernetes service. It has no VirtualService or DestinationRule CR.
This is the service yaml.
[code]

[2019-07-18 02:06] hobbytp commented on #15572
no, I want to use apps/v1 instead of extensions/v1beta1.

[2019-07-18 02:09] quanjielin commented on #15607
@pitlv2109 using legacy jwt in test sounds good to me.

[2019-07-18 02:10] bruse-peng commented on #15574
mime istio version is 1.0.0,but it's Virtual Service not support queryParams.  is it right?

[2019-07-18 02:14] howardjohn commented on #15572
oops, I misunderstood that. We absolutely want to use apps/v1. This is a high priority for 1.3 as the old ones will be removed in the next k8s version

[2019-07-18 02:15] howardjohn commented on #15572
/assign @rlenglet

[2019-07-18 04:03] phuthinh2202 commented on #15583
i see proxy-status "SYNCED (50%)" when type command: istioctl proxy-status

![Screen Shot 2019-07-18 at 10 52 32 AM](https://user-images.githubusercontent.com/9205502/61428296-b7a20200-a94b-11e9-85d6-7dfff45c604b.png)

[2019-07-18 04:14] ericvn commented on #14475
One other piece of info I'm not sure how to handle. The default output looks something like this:
[code]
where the License URL field in the **before** case pointed to something like
[code]

So in the **before** case we actually have a link that would also show the contents of the file (it is included above so maybe it's not that important), while there is no real way to create a valid URL in the *

[2019-07-18 05:54] hobbytp commented on #15572
cool, thanks,

[2019-07-18 06:40] ramaraochavali commented on #15429
I found the issue and fixed it in both Master and 1.2 release.

[2019-07-18 07:51] #12564 closed

[2019-07-18 08:53] kingsqv opened #15616 "sds in gateway not working"
**Bug description**

When set gateways.istio-ingressgateway.sds.enabled=true
 the  ingress-sds container log:
error	istio.io/istio/security/pkg/nodeagent/secretfetcher/secretfetcher.go:150: Failed to list *v1.Secret: secrets is forbidden: User "system:serviceaccount:istio-system:istio-ingressgateway-service-account" cannot list resource "secrets" in API group "" in the namespace "istio-system"

**

[2019-07-18 10:20] meganwalker-ibm opened #15617 "Injected sidecar's do not update when the global.proxy Values are updated"
**Bug description**

When you update the Values file and re-assert the helm install of istio, changes to the `global.proxy` section do not appear to cause already injected sidecars to be updated.

**Affected product area (please put an X in all that apply)**
(I've put some best guesses in here, it's not clear to me what 'istio-proxy auto-injection configuration during an upgrade would fall under)

[2019-07-18 11:24] suneeshkumar-urolime opened #15618 "Basic authentication in Istio"
We have a couple of services running with Istio and we need to add basic authentication with credentials saved in a k8s secret. Is there any possibility to implement basic authentication for a service using Istio as we do with Nginx Ingress controller, Ref link: https://kubernetes.github.io/ingress-nginx/examples/auth/basic/  ?

[2019-07-18 12:34] ericvn commented on #14475
What I think I'll do (assuming no one needs the specific URL label is to change the label to Module path and give the path of the file relative to the module cache root, so `mod/sigs.k8s.io/yaml@v1.1.0/LICENSE` in the above example.

[2019-07-18 13:51] sdake opened #15619 "with sidecar annotation injection enabled, but namespace injection disabled, sidecar is not injected"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
A slack conversation below:
<img width="866" alt="Screen Shot 2019-07-18 at 6 49 17 AM" src="https://user-images.githubusercontent.com/755849/614629

[2019-07-18 14:01] tiggerlee2 opened #15620 "OutboundTrafficPolicy: REGISTRY_ONLY but I can access external url"
**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
Can not access external url without ServiceEntry

**Steps to reproduce the bug**
1. Set OutboundTr

[2019-07-18 14:12] ayan1207 opened #15621 "http service authorization not working , steps followed as per document."
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
We have two service X and Y in same test namespace, X call Y inside service mesh. We have enable serviceRole on service Y and in serviceRoleBinding

[2019-07-18 14:17] sdake opened #15622 "migrate cni circleci jobs to prow"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
move circleci jobs to prow.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installati

[2019-07-18 14:31] howardjohn commented on #15617
This is expected. Please see https://istio.io/docs/setup/kubernetes/upgrade/steps/#sidecar-upgrade

Currently the only way to upgrade the sidecars is to kill your pod, as you saw. This is generally not something that is a good idea for us to do automatically (or likely even possible using helm).

In the future we may have the Envoy's run outside of the pod, in which case we would have full control

[2019-07-18 14:32] costinm commented on #15541
It was added in an attempt to support same namespace. In particular for citadel - which has to go into istio-system, possibly along a 1.2 install.

It is "11" because it was added while 1.0 was the released version, for the gradual upgrade to 1.1 :-)

[2019-07-18 14:37] costinm commented on #15541
I am working on a doc and prototyping with the idea we discussed - it is clear from feedback that supporting 'upgrade using a single namespace' is important, and that implies we'll need some suffix.
But it'll not be '11'.

The main problem is the conflicts on 'cluster wide' resources. If helm tiller is used - it'll refuse to install
if there are resources already installed by a different chart. Fo

[2019-07-18 14:52] #15554 closed

[2019-07-18 14:55] meganwalker-ibm commented on #15617
Hmm, it's interesting that you don't think is a good idea.

I was thinking of this as analogous to the situation that something like [Wave](https://github.com/pusher/wave) tries to solve.

Wave, in a nutshell, watches for changes to ConfigMaps or Secrets, and then goes and triggers a change to Deployments that use those changed resources which causes a rolling update of those pods, in accordance w

[2019-07-18 15:25] howardjohn commented on #15617
Maybe not a "bad idea" but "not always a good idea". There are plenty of applications that users wouldn't want killed (maybe databases, etc), users may want to slowly test out the proxy upgrade, etc. Additionally we don't really have a way to accomplish this right now. There is work on github.com/Istio/operator that could eventually handle this type of thing.

I think I'm some form we will probabl

[2019-07-18 15:40] kubesure opened #15624 "Cannot find redis master EOF - Istio 1.2.2 1.1.11"
**Bug description**
Redis sentinel cannot find master with Istio 1.2.2 or 1.1.11.  Have tried renaming service name redis to redis-sso as suggested in a different issue, but it just wont work. I would like to work with Istio and not move to linkerd. Pls help solve.

**Affected product area (please put an X in all that apply)**

[X] Configuration Infrastructure
[ ] Docs
[] Installation
[X] Networki

[2019-07-18 15:41] howardjohn commented on #12211
@rlenglet that is not sufficient. You need to update this here: https://github.com/istio/cni/blob/master/deployments/kubernetes/install/helm/istio-cni/templates/istio-cni.yaml#L63

Or is that not used?

[2019-07-18 15:41] howardjohn commented on #15572
We are tracking this in https://github.com/istio/istio/issues/12211 as a P0 for 1.3

[2019-07-18 15:41] #15572 closed

[2019-07-18 15:45] howardjohn commented on #15488
I don't think we would want to add another field to ServiceEntry. Why do you need to configure it in ServiceEntry anyways? My understanding is you would want to use ipv6 cluster wide or ipv6 cluster wide, not per service?

[2019-07-18 16:06] howardjohn commented on #15414
Fixed! Thanks https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15608/e2e-simpleTests-distroless-master/3

[2019-07-18 16:06] #15414 closed

[2019-07-18 16:07] howardjohn commented on #15414
And made to always run in https://github.com/istio/test-infra/pull/1443

[2019-07-18 16:21] howardjohn opened #15626 "Dockerfile linter fails with no error message"
I ran the dockerfile linter from istio/common-files on istio/test-infra. The command just exited with error code 1, no error message given. If I remove the `set -e` it prints out a bunch of errors, so it probably just needs to handle the exit code from hadolint and print errors.

[2019-07-18 16:44] ostromart commented on #15534
That's correct, but you can use some of the scripts in istio/installer to aggregate that - I think bin/iop should do it more or less.
fyi we also now have a sub-command iop diff-manifest (by @richardwxn) that can help with the diffing.

[2019-07-18 17:14] sushicw opened #15627 "Fix galley webhook reconciliation ping pong problem"
Since galley uses a background thread with a reconciliation loop to keep API server in sync with the webhook config, more than one instance of galley can create conflicts where they are fighting back and forth to sync API server with their config.

Since this is happening on a background thread at the per-pod level, any time we have more than one galley instance running we can potentially run into

[2019-07-18 17:22] sushicw commented on #14190
This should hopefully be fixed going forward.

[2019-07-18 17:22] #14190 closed

[2019-07-18 17:34] ayj commented on #15134
Can we address the comment from @esnible's proposal re: [structural idioms](https://docs.google.com/a/google.com/document/d/1cO1TysDZca6e59Qq9VhcbPZXAcln0YxJZ9ssPVrwSiE/edit?disco=AAAACp459y0) before we add more commands? For example, do we want `istioctl services add <service-name>` or `istioctl add-to-mesh --service <service>`?

[2019-07-18 17:44] #12093 closed

[2019-07-18 17:53] linsun commented on #15526
should this be service level inspect given many istio resources are applied to service not pod?

[2019-07-18 17:56] Sanjanare opened #15630 "upstream connect error or disconnect/reset before headers. reset reason: connection failure"
Hi ,

I am seeing this logs on my ingress gateway
[code]
and the proxy status says:
[code]
we are using istio tag :- release-1.1-20190614-09-15
kops version :- 1.12.7
provider :- aws

Any help would be appreciated

[2019-07-18 19:34] yangminzhu opened #15631 "Validate trust domain in authentication policy"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
When mTLS is used in authentication policy (either PERMISSIVE or STRICT mode), the server should validate the client is in the same trust domain and reject the connection if it's not.

The trust domain will be extracted from the client and server x5

[2019-07-18 20:13] ericvn commented on #14475
#15595 is ready for review.

[2019-07-18 20:29] esnible opened #15633 "Istio mTLS ignored without containerPort declaration"
I am not sure if this is a documentation problem, a security problem, or user error.

I deployed Fortio using _tools/perf_k8svcs.yaml_.  I wasn't trying to do a performance test, I just wanted to grab an example Deployment descriptor for Fortio.

Fortio listens on 8080 and 8079.  I created a DestinationRule to use mTLS:
[code]

After applying the rule, traffic on 8080 used mTLS but traffic on 8079

[2019-07-18 20:36] howardjohn commented on #15633
https://istio.io/docs/setup/kubernetes/prepare/requirements/

`Pod ports: Pods must include an explicit list of the ports each container listens on. Use a containerPort configuration in the container specification for each port. Any unlisted ports bypass the Istio proxy.`

Its sort of documented? This requirement is going away soon with https://docs.google.com/document/d/12Z_oFCFn3_rTWbQsuR1GmjU5_

[2019-07-18 21:01] linsun commented on #15633
Agreed this is very hard to debug, I ran into this myself too before.

There is a new annotation avail, copied from 1.2's release note:

Added traffic.sidecar.istio.io/includeInboundPorts annotation to eliminate the need for service owner to declare containerPort in the deployment yaml file. This will become the default in a future release.

[2019-07-18 21:01] linsun commented on #15633
cc @incfly

[2019-07-18 21:06] linsun opened #15635 "Easy way to view which services are part of the mesh"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Easy way to view which services are part of the mesh, aka mTLS ready.

**Describe alternatives you've considered**
It is pretty hard to get this info today other than check if the corresponding pod for the service has envoy proxy.

**Affected produc

[2019-07-18 21:24] incfly commented on #15485
At first glance, I was confused why you need to make `ISTIO_MUTUAL` configurable on egress gateway since I was expecting that when egress traffic talks to public internet endpoint,  Istio citadel provided workload identity certificate does not help much. In that case, you most likely need to specify the key cert with file path anyway?

For multi cluster, in-mesh and cross-cluster traffic, do we no

[2019-07-18 22:30] ostromart commented on #15240
Looks to be working now.

[2019-07-18 22:30] #15240 closed

[2019-07-18 22:32] coreywagehoft commented on #11723
Any movement on this being added to the Istio roadmap?

[2019-07-18 22:45] ostromart commented on #15247
Just had a meeting with @howardjohn, @utka and @richardwxn, here's what we decided:
- operator will be released as part of istioctl so it will be included in the istio release.
- istio/installer will create release branches 1:1 with istio
- istio/operator will also create 1:1 release branches to create the release tars (these need profile files and some version info) - these will come from the ins

[2019-07-18 23:40] gotwarlost opened #15638 "mixer produces errors during graceful shutdown of adapter pods"
**Bug description**

`istio-policy` pods call out to our custom adapters for policy checks. We notice that every time an adapter pod is killed (either due to a deployment or an eviction), a small set of requests from mixer fail.

We tried adding a prestop hook of `sleep 30` to the adapter pods to give mixer a chance to update its endpoints but that seems to have no effect. My hypothesis is that th

[2019-07-18 23:42] gotwarlost commented on #15638
Errors are of the form:

[code]

[2019-07-19 00:01] incfly opened #15640 "Make `istioctl register` work again for VM"
**Bug description**

`istioctl register` is used to simplify mesh expansion UX. What it does essentially is creating k8s service, and endpoints with user provided IPs, such that Pilot can then distribute the expected EDS for the VM service.

It also provides some facility about annotate the k8s service with service accounts, such that Pilot will configure the CDS with correct secure naming configu

[2019-07-19 00:01] incfly commented on #15640
/cc @costinm @esnible for user experience and env wg.

[2019-07-19 00:04] incfly commented on #15640
Some prototype branch can be found, https://github.com/istio/istio/compare/master...incfly:vm-istioctl

That's an illustration of what we want to achieve from `istioctl register`. Actual cli details might be tweakable.

[2019-07-19 00:08] incfly commented on #15640
The scope of this bug should also include the documentation updates on istio.io.

[2019-07-19 00:18] aliariff commented on #13321
Hi, I have tried to build from the source inside my raspberry pi but the result is
`cmd/go: unsupported GOOS/GOARCH pair linux/armv7l`

![image](https://user-images.githubusercontent.com/6806035/61500266-bbc13480-a9ca-11e9-865b-ae0d5884f13a.png)

Any idea to solve this?

Btw I also have the interest to help to create a PR in order to support ARM if possible, but I need help to show me the way what

[2019-07-19 00:27] vadimeisenbergibm commented on #15485
@incfly In the case of egress traffic to the public internet, for TLS traffic, we still use mutual TLS to provide the identity of the source to the egress gateway. (The encryption is not needed since the traffic is already encrypted). The egress gateways needs to know the identity of the source so it will be policies to specify policies based on identity.

[2019-07-19 00:35] gotwarlost commented on #15638
Looks like https://github.com/istio/istio/issues/9992#issuecomment-466229569 is relevant to this case, we will try out this feature

[2019-07-19 00:50] bianpengyuan commented on #15638
Thanks for reporting this! I think the retry happens on transport error between mixer proxy filter to mixer server and I doubt it could help mitigate the transport error between mixer server and oop adapter. But yeah please try it out, meanwhile I think we should really add retry into mixer server.

[2019-07-19 00:57] incfly commented on #15485
Understand more about this, this is definitely a reasonable use case. We should allow customer

1. [enforce egress policy control](https://istio.io/docs/tasks/traffic-management/egress/egress-gateway/)
1. adopting SDS.

Both two are very common use cases, so do the combination of them. Adding `ISTIO_MUTUAL` to gateway's TLS settings to solve this problem seems very reasonable to me.

[2019-07-19 01:03] howardjohn commented on #13321
bin/gobuild.sh is a wrapper around "go build" that we use and adds some settings. I'd try to `go build ./... ` and if that works then it's something in that's script preventing the build

[2019-07-19 01:16] yangminzhu opened #15641 "reduce the time of integ-security-k8s-presubmit-tests-master"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
[integ-security-k8s-presubmit-tests-master](https://prow.istio.io/?repo=istio%2Fistio&type=presubmit&job=integ-security-k8s-presubmit-tests-master&s

[2019-07-19 01:21] rshriram commented on #12549
1.3.x .. its almost done

[2019-07-19 01:29] linsun commented on #15485
@incfly can you shed some light on what needs to be done to fix this?  Thanks much!  Seems a critical thing for SDS to become default or move to beta.

[2019-07-19 01:44] yangminzhu commented on #15641
There are 7 tests under `tests/integration/security/sds_ingress` all marked as flaky and skipped from the test.

I'm afraid it will easily increase the test time to more than 1 hour if these tests are enabled. @JimmyCYJ

[2019-07-19 01:46] incfly commented on #15485
/cc @quanjielin for confirming

Rough assessment

1. Introduce a new mode, `ISTIO_MUTUAL` in istio/api first.
1. In `gateway.go`, when this mode is detected, handled [here](https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/gateway.go#L424)
1. Construct [SDS config](https://github.com/istio/istio/blob/master/pilot/pkg/security/model/authentication.go#L84) as what we did

[2019-07-19 01:53] howardjohn commented on #15641
I may be wrong, but I think some of them the tests were actually taking a while I remember the rbac ones spending 500s or more. that is much more than just the deploy of Istio.

So yes the extra deployments may be an issue, but it's probably not the only way to improve.

Also the deployment is per package not per file, so you can still have some organization, you don't need to shove them all in on

[2019-07-19 04:27] rlenglet commented on #12211
@howardjohn They are used. They are pulled into the Istio release. I'll fix that.

[2019-07-19 04:29] kyessenov opened #15644 "take inotify watches under control"
We need to investigate why we create so many inotify watches. Given that our CI is now sharing the kernel between all build & test jobs, we have a limited pool of watches available. Perhaps, we should avoid stress testing inotify bits in istio in race mode tests or perf tests.

[2019-07-19 07:11] dhineshbabuelango opened #15647 "not able to setup https ingressgateway for applications which will accept only https traffic"
I have istio installed in eks cluster. I am able to setup https ingress gateway and access http application but when it comes to application which accepts only https traffic, I am not able to use the actual method by mentioning the secret name and tls mode simple. always getting the below error.

upstream connect error or disconnect/reset before headers. reset reason: connection termination

[2019-07-19 07:42] tibetsam commented on #15488
Yes, you are right. Then maybe it is better to set the dns_lookup_family value based on k8s cluster ip version. Will you plan to implement this in near feature ?

[2019-07-19 08:59] castlemilk commented on #15487
sorry for delayed response, its all pods showing this. In my case I had 4 running, all of which failed to come up. I'll try again

[2019-07-19 09:31] johntostring opened #15648 "23 crds created but no matches for kind "prometheus" when trying to collecting metrics"
**Bug description**
I'm trying to collect metrics(https://istio.io/docs/tasks/telemetry/metrics/collecting-metrics/) with latest version (v1.2.2), but when i execute `kubectl apply -f samples/bookinfo/telemetry/metrics-crd.yaml`. I get this error (I execute it again for copy the output):
[code]
and istio.io crds, there's no "prometheus":
[code]

**Affected product area (please put an X in all that

[2019-07-19 12:11] jsPlachetka commented on #14782
We took a deeper look into the memory consumption while creating ~ 1000 namespaces and virtualservices and came up with a potential fix.

@ShimiT could you try your scenario again using this image `gcr.io/peripli/pilot:issues-14782` and tell us if this improved the memory consumption?

[2019-07-19 12:26] morvencao commented on #15534
Yes, That what I'm doing now:
1. Render the templates for each profile with `helm template`
2. Generate the manifest for the same profile with `iop manifest`
3. Compare the manifests with `iop diff-manifest` subcommand.

[2019-07-19 12:49] maxbischoff opened #15654 "Sidecar CR without egress denied by Pilot"
**Bug description**

Applying a sidecar resource without `spec.egress` results in `Error from server: error when creating "STDIN": admission webhook "pilot.validation.istio.io" denied the request: configuration is invalid: sidecar: missing egress`

**Affected product area (please put an X in all that apply)**

[x] Configuration Infrastructure
[x] Docs
[ ] Installation
[ ] Networking
[ ] Performanc

[2019-07-19 13:26] vngzs commented on #15204
Issue not reproducible after ensuring no more daily sidecar builds are running. @howardjohn had the solution.

Although this is arguably user error, I would consider #15498 related here. We wanted to mirror the charts in a regular format, because we use [`helm_release`](https://www.terraform.io/docs/providers/helm/release.html) to ship our charts. If the [chart name](https://www.terraform.io/docs/

[2019-07-19 13:26] #15204 closed

[2019-07-19 13:52] joeyb opened #15656 "Pilot performance issue with host networked Pods"
**Bug description**

_Preface: This is without Galley/MCP. Pilot is directly interacting with k8s. Not sure if moving to Galley would change the behavior._

The [`PodCache`](https://github.com/istio/istio/blob/247f2839723a3802cdc2a316cb0479e72c945f5d/pilot/pkg/serviceregistry/kube/controller/pod.go#L30) and [`WorkloadsByID`](https://github.com/istio/istio/blob/247f2839723a3802cdc2a316cb0479e72c945

[2019-07-19 14:22] jeffcai commented on #15323
as a workaround, we resolved the issue:
- update the istio configmap to change the check and report url with our own defined host and port
- create a service entry with defined host and port which points to the policy and telemetry service with nodeport type
- update the VM hosts to point the policy and telemetry host to local VM IP which makes sure the policy and telemetry clusters will be route

[2019-07-19 14:25] linsun commented on #15485
Thank you @incfly!

[2019-07-19 14:39] howardjohn commented on #15644
Its probably a leak of some sort? Unless I don't understand inotify watches. But all the errors were occurring when there was a single pod on the node, and the first thing it does is just `kind create cluster`, which I don't believe is creating 8192 watches.

[2019-07-19 14:46] linsun commented on #15485
@incfly @vadimeisenbergibm I chatted with @johnma14 she will pick it up and will probably need help from you two as needed.

@incfly we already have the mutual option in gateway's TLS setting:  https://github.com/istio/api/blob/master/networking/v1alpha3/gateway.proto#L324 are you proposing an additional one?

[2019-07-19 14:47] howardjohn commented on #15647
Can you provide the config you have?

[2019-07-19 14:49] howardjohn opened #15658 "LDS ACK ERROR duplicate listener found"
[code]

Just based on timing, maybe related to https://github.com/istio/istio/pull/15628

[2019-07-19 14:51] howardjohn commented on #15654
/assign @rshriram

what is correct, the validation or the docs?

[2019-07-19 14:55] linsun commented on #15485
I think you are... while it is super confusing, I just learned we have both MUTUAL and ISTIO_MUTUAL in  TLS settings in DR.

[2019-07-19 14:56] howardjohn commented on #15658
update: rolled back to before the #15628 pr, I don't think its the cause. I do think this is a regression though

[2019-07-19 15:04] MirtoBusico commented on #13052
Solved.
It was a network problem on the host machine.

[2019-07-19 15:26] howardjohn commented on #15658
`git bisect` found 82e30d02b to be the first commit with the issue. fyi @utako

[2019-07-19 15:39] ericvn commented on #11845
Moving back to milestone 1.3 as I will validate this is working properly now.

[2019-07-19 15:53] ostromart opened #15659 "Fix prow path problems"
https://github.com/istio/operator/pull/100 introduces a workaround for prow path problems. This should be resolved in prow and the workaround removed.

[2019-07-19 15:57] sdake commented on #15659
@fejta can you take a look at how to get prow to add bin to the path?  I see this file: https://github.com/istio/test-infra/blob/master/vars/goBuildNode.groovy#L15

but not sure how or if it is being used.  It sort of looks to the untrained eye like the right tool for the job :)

[2019-07-19 16:17] howardjohn opened #15660 "LDS ACK ERROR Address already in use"
Logs from gateway:
[code]

Logs from pilot:
[code]

Version: 1.2.2

[2019-07-19 16:23] #12594 closed

[2019-07-19 16:34] howardjohn commented on #15659
[code]

Looks like it is already in the path? So maybe gopath is somewhere other than where that is set

[2019-07-19 16:38] howardjohn commented on #15660
@mandarjog have you ever seen this before?

[2019-07-19 16:56] incfly commented on #15323
Do you just connect to the mixer or are you able to get the actual telemetry data? What will the workload/service attribute shows on on grafana?

[2019-07-19 16:59] kyessenov commented on #12454
Ability to parse URL to split path/host was requested here https://discuss.istio.io/t/how-to-split-value-in-telemetry/3107

[2019-07-19 17:45] ayj commented on #15526
+1 for using experimental and getting user feedback before finalizing. In particular, it would be useful to understand whether it makes sense to anchor on workload (pod), host (service), or a higher-level service concept (IstioService?).

[2019-07-19 17:47] Parvathy-Geetha commented on #13122
@douglas-reid  i think my traffic for the denier isn't going via the denier anymore. It was initially but not anymore. How can i debug this?

[2019-07-19 18:22] esnible commented on #15526
Much of the needed data is now in the Envoy configuration, in the filter_medata/istio JSON.

If you do `kubectl exec $POD -c istio-proxy -- curl localhost:15000/config_dump | jq '.. | . as $parent | .metadata?.filter_metadata? | select(.!=null) | { route: $parent.name, config: $parent.metadata.filter_metadata.istio.config}` you'll see output like

[code]

[2019-07-19 18:22] costinm commented on #15558
This is related to the root ca rotation and multicluster setup, work in progress - we must get it in.

[2019-07-19 18:25] andraxylia commented on #8420
@costinm @sdake  would the à-la-carte installer solve this problem?

[2019-07-19 18:25] costinm commented on #13248
We should make it consistent with the webhook injector - the main issue is ordering, if the webhook is installed we can't create Istio CRDs until galley is up, and the CA is tricky to setup.

[2019-07-19 18:26] andraxylia commented on #8420
@ostromart would the operator solve this?

[2019-07-19 18:27] kuwas opened #15662 "Mixer > Stackdriver > Example does not work"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Example usage (https://github.com/istio/istio/blob/master/mixer/adapter/stackdriver/operatorconfig/stackdriver.yaml) of the stackdriver adapter is o

[2019-07-19 18:34] nicktrav opened #15663 "mixer: panic when deleting remote clusters"
**Bug description**

When deleting a remote cluster k8s Secret, Mixer crashes due to a panic.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[X] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

Mi

[2019-07-19 18:35] andraxylia commented on #14811
@hzxuzhonghu is this on track for 1.3?

[2019-07-19 18:36] linsun commented on #15134
Thanks, missed that, I will add this as an agenda for next UX mtg on 7/23

[2019-07-19 18:36] andraxylia commented on #14836
@hzxuzhonghu is this on track for 1.3?

[2019-07-19 18:37] andraxylia commented on #14331
@PiotrSikora is this on track for 1.3?

[2019-07-19 18:39] howardjohn commented on #14242
/assign @costinm @mandarjog

[2019-07-19 19:04] linsun commented on #6892
should this be closed now @irisdingbj?

[2019-07-19 19:22] nmittler commented on #13754
Fixed by #14614

[2019-07-19 19:22] #13754 closed

[2019-07-19 19:42] ostromart opened #15664 "Pass kubeconfig flags through to kubectl directly"
Rather than getting a kubeconfig, pass kubeconfig flag through directly to kubectl since this is used internally.

[2019-07-19 19:50] aliariff commented on #13321
@howardjohn
yes, you are right there is a problem with the `bin/gobuild.sh`, it does not parse the `GOARCH` properly. I can build istio for ARM properly, but now the problem is that Envoy does not support ARM yet, and it seems it is hard to compile it to ARM.

Ref: https://github.com/envoyproxy/envoy/issues/1861#issuecomment-476690359

[2019-07-19 19:51] Sanjanare commented on #15630
cleaned all the crds and installed istio again and it worked fine.

[2019-07-19 19:51] #15630 closed

[2019-07-19 20:03] howardjohn commented on #13321
Ah makes sense. Well if its useful to get istio built on ARM even without envoy feel free to send a PR for the fix, happy to have Istio running in more places

[2019-07-19 20:51] howardjohn opened #15666 "Galley test server flakes - address in use"
We see failures like
[code]

This error is `EADDRINUSE`, so sounds like we are just trying to bind to 9876 when it is already in use.

Example failures:

- https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15336/istio-unit-tests-master/3182
- https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15340/istio-unit-tests-master/3171
- https://prow.istio.io/view/gcs/istio

[2019-07-19 20:54] kyessenov commented on #15666
We need some guide lines on the hermetic unit tests:
- do not use any system resources in a shared test environment, that includes shared files, inotify watches, sockets.

[2019-07-19 22:56] nicktrav opened #15669 "Backwards incompatible logging change breaks existing Deployments"
**Bug description**

The commit ca334ac9f updated the Envoy version and also added new logging parmeters to the Listener configuration that is sent down to Envoy.

The new listener configuration contained the `UPSTREAM_TRANSPORT_FAILURE_REASON` directive.

An Envoy container running as part of an existing Deployment running versions of prior to this change do not know how to handle this new config

[2019-07-19 23:08] howardjohn commented on #15669
Seems like we should have added a check for this like https://github.com/istio/istio/blob/f77ea034e6208382db68f9850160d5348347cf8d/pilot/pkg/networking/util/util.go#L252-L254

We may need to add this flag and increment the proxy version for 1.2.x

[2019-07-19 23:09] ostromart commented on #15270
Fixed in https://github.com/istio/operator/pull/64

[2019-07-19 23:09] #15270 closed

[2019-07-19 23:18] nicktrav opened #15670 "Mixer fails to recover from an invalid remote cluster configuration"
**Bug description**

After pushing invalid remote cluster configuration, mixer will log errors indicating the specific problem.

However, after fixing the configuration errors and re-creating the remote cluster secret, mixer instances (both telemetry and policy) fail to recover from the original error.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure

[2019-07-19 23:51] ostromart opened #15673 "Istio proxy config requires special translations"
The regular translations path doesn't work for istio proxy config, which ends up going into a configmap passed as config to the sidecar injector.
Need a translation for ProxyComponentSpec into the configmap format.

[2019-07-19 23:52] jeffcai commented on #15323
tested with a simple log entry, the data can be sent to telemetry but not meaningful like desitionation is unknown (may be caused by logentry config, not sure), the function we'd like to use is ratelimit which actually works when VM app calls app on K8s.

[2019-07-20 00:01] ostromart opened #15674 "LogLevel implementation"
Right now this mapping is missing, needs to go into Values.global.<component>.logLevel with appropriate value translation.
https://github.com/istio/operator/blob/12dca285421cbe3f50c3f4338b30df2f5fcb7585/pkg/apis/istio/v1alpha2/istiocontrolplane_types.proto#L396

[2019-07-20 00:02] incfly commented on #15323
that's expected.

[2019-07-20 02:22] sdake commented on #14951
I have filed several issues on this.  Th

Your issue is being tracked here: https://github.com/istio/istio/issues/15498

[2019-07-20 02:25] sdake commented on #9333
Alpha quality P0 item for 1.3.

[2019-07-20 02:31] mnktsts2 commented on #13682
To solve this issue, it seems to need to disable panic threshold as default (i.e. defaults to 0), or to be able to distinguish between it being unset or being explicitly set to 0 for the threshold.

[2019-07-20 02:33] sdake commented on #9454
Network specific problem - removing environments label.

[2019-07-20 02:34] sdake commented on #10210
@gumdelli thanks for the blog post.

Cheers
-steve

[2019-07-20 02:39] sdake commented on #11808
@brian-avery I am not sure @ostromart is the best person to lead the debug of this as he doesn't have access to an OKD system nor understand how OKD handles automatic injection.  I've assigned this bug to you - feel free to reassign to the correct person.

[2019-07-20 02:41] leecalcote commented on #10210
Nice callout to ‘iptables -t nat nVL’, @gumdelli

[2019-07-20 02:42] sdake commented on #11365
@howardjohn this smells like a platform problem.  Can you pleae advise or get this issue into the hand of someone that can?

Cheers
-steve

[2019-07-20 02:44] sdake commented on #11839
@howardjohn this is related to a dup of a bug I just moved to networking.  This really doesn't feel like an environmental problem but rather a problem with the security model that CNI fixes.

[2019-07-20 02:47] sdake commented on #11974
latest update: https://github.com/istio/istio/pull/13698#issuecomment-498079063

[2019-07-20 02:49] sdake commented on #11978
This has been fixed or is in process of being fixed.  @howardjohn was instrumental in the review process for this particular issue.  Can you link the review - I struggle to find it.

[2019-07-20 02:50] sdake commented on #12080
@ayj is moving on this work.

This is targeted as P0 for 1.3.

[2019-07-20 02:51] sdake commented on #12126
@DinoChiesa our stalebot is a little to aggressive in my opinion :) .  To unstale an item, please leave a comment and the stalebot will remove the stale label.

[2019-07-20 02:52] howardjohn commented on #11839
i don't see how CNI solves this. We run all containers as root (according to this issue at least, haven't looked into it myself) - even things like galley that don't have an envoy

[2019-07-20 02:53] sdake commented on #12126
@irisdingbj note I assigned this to you for nebulous future (IOW not 1.3).

[2019-07-20 02:54] sdake commented on #12197
Closing issue as no response from OP and Ansible implementation is deprecated, unmaintained, and removed.

[2019-07-20 02:54] #12197 closed

[2019-07-20 02:55] howardjohn commented on #11978
We did not delete the node ports for backward compatible reasons, we only did during tests.

There error isn't unexpected though, nodeports must be unique. In Istio/installer we got rid of the node ports.

Not sure there is any actionable things we can do here?

[2019-07-20 02:55] sdake commented on #12344
reset milestone as 1.1 is no more :)

[2019-07-20 03:07] sdake commented on #12725
The documentation states 16gb of ram is required.  See: https://istio.io/docs/setup/kubernetes/platform-setup/minikube/

Note the 1.1 documentation stated 8gb of ram as a minimum, but that was proven later to be incorrect.

Can you reproduce with the modified documentation?

Cheers
-steve

[2019-07-20 03:13] sdake commented on #13414
@irisdingbj I am aware you are developing a presence in this technical area.  Can you take a look at this work?

Cheers
-steve

[2019-07-20 03:22] sdake commented on #13986
@knrc can you get this issue on the right person's plate?

Cheers
-steve

[2019-07-20 04:21] MarkDeckert commented on #11839
Yeah the entire control plane, except I believe grafana, runs as root. CNI only solves the issue of sidecars needing elevated permissions. The control plane isn't doing anything that requires it to be root.

[2019-07-20 04:41] incfly commented on #15427
No, it's inaccurate. We already use gateway for mesh expansion. https://istio.io/docs/setup/kubernetes/additional-setup/mesh-expansion/

We might want to document both supports. Not aware of any any technical obstacles other than doc and testing...

[2019-07-20 05:34] ostromart opened #15676 "mesh manifest apply should have a --wait flag"
Currently, mesh apply only waits for CRDs to be applied and exits. A --wait flag would cause it to wait until Istio is fully ready (with some timeout). This means Deployments and Services should be ready.

[2019-07-20 06:04] sdake commented on #14580
@douglas-reid hi I set the priority to 2 such that this issue wouldn't show up in the new issues column of zenhub.  If you disagree with the prioritization please feel free to change it.

Cheers
-steve

[2019-07-20 06:09] sdake commented on #15323
Setting priority p1 for nebulous future.  As this issue is dependent upon the mixerv2 implementation completion, nothing can really be done at present to resolve the issue as far as I understand the issue tracker.

Cheers
-steve

[2019-07-20 06:31] sdake commented on #12855
@morvencao the correct way to handle this job failure without the need for force is to rename the job (via sed) on every release.  We have a script that does this in T&R, although I am not sure of the specifics.

Can you look into using this approach (we do this for other jobs in the istio chart).

@utka FYI this may need your assistance.

[2019-07-20 06:38] sdake commented on #12855
@morvencao I'd use the naming convention istio-init-crd-10-`x.y.z` where `x.y.z` is the current release.  The implementation will just run a new job, that will create the per version CRDs if needed.

[2019-07-20 06:38] sdake commented on #12855
@morvencao the key is to get rid of `--force` here.

[2019-07-20 06:39] sdake commented on #12855
Marking as a P0 for 1.3.  This is a blocking bug.

[2019-07-20 06:40] sdake commented on #13691
not reproducible yet.  Please provide more information in the bug.

[2019-07-20 07:56] morvencao commented on #12855
@sdake Yes, we're using that solution for hook jobs in Istio chart, but not through `sed`, just add  version suffix, see:
https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/security/templates/create-custom-resources-job.yaml#L63
https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/security/templates/cleanup-secrets.yaml#L80

Have fired a PR h

[2019-07-20 08:09] #15225 closed

[2019-07-20 08:50] hzxuzhonghu commented on #14811
This is expected behavior, can we close it @howardjohn ?

[2019-07-20 10:21] chaudyg commented on #13241
+1

[2019-07-20 10:41] #14240 closed

[2019-07-20 12:33] sdake commented on #15676
Seems like wait semantics should be the default behavior, with an override of [--timeout Xs] imo.

Cheers
-steve

[2019-07-20 13:09] sdake commented on #15622
Note you can take a look at these jobs to get a basic idea of how to move off circleci to prow:
https://github.com/istio/test-infra/blob/master/prow/cluster/jobs/istio/operator/istio.operator.master.yaml

Cheers
-steve

[2019-07-20 13:09] sdake commented on #15622
note for any complex tasks, make targets should be used, rather than adding a bunch of junk to the prow job.

Cheers :)
-steve

[2019-07-20 13:34] #12855 closed

[2019-07-20 14:10] howardjohn commented on #14811
sgtm

[2019-07-20 14:10] #14811 closed

[2019-07-20 17:22] altitdb commented on #9764
@ja3per, can you share your VirtualService configuration with us?

[2019-07-20 20:10] #14716 closed

[2019-07-20 20:48] myidpt commented on #15408
Hi Jimmy, could you add this to your Code Mauve doc, and let's prioritize and delegate the work.

[2019-07-21 01:00] jaygorrell commented on #8076
Odd. A " " value was in the OP and claimed to not work.

[2019-07-21 02:56] JimmyCYJ commented on #15408
Sure! Will do.

[2019-07-21 03:28] rshriram commented on #15226
@howardjohn this is by intentional design. We are not doing any form of validation in the virtual service to ensure that the referenced cluster exists. This creates a dependency on existence of dest rule [in case of subsets] or existence of the services with appropriate ports - which could come in a few seconds later.
This is the reason why our tutorials etc. insist on creating dest rules with sub

[2019-07-21 03:37] rshriram commented on #15527
as stated, it doesn't apply to virtual listeners. Its not much of a change to get this to work with old envoy filter spec, but you would then need a patch release (1.2.3 or something).

[2019-07-21 04:00] rlenglet commented on #7486
Istio CNI is solving this problem now.

[2019-07-21 04:00] #7486 closed

[2019-07-21 08:57] zcahana commented on #13106
I'm still seeing this issue with Istio 1.2.2 running with `istio-cni`.
I believe this happens because the startup time for Istio-enabled pods is significantly shorter (1-2 seconds) with `istio-cni` compared to with `istio-init`, hence the chance for Pilot to push the wrong config before its learns the new pod's IP is greater.

For comparison, I have another cluster with a similar setup, but withou

[2019-07-21 10:19] morvencao commented on #15366
Tried the latest master code, found the the `port` unmarshal issue happens again:

[code]

[2019-07-21 13:50] robinbraemer opened #15679 "Add uri prefix rewrite example to docs/guide"
Please add an example to the istio guide for using uri prefix rewrite.

As mentioned [here](https://github.com/istio/istio/issues/10647#issuecomment-449826932) there is this `"prefixRewrite": "/"` option and searching in source code shows [this](https://github.com/istio/istio/blob/7fbfec5e8e4afebc8e1d715854a7e22545e32e87/pilot/pkg/networking/core/v1alpha3/route/route.go#L360) line `action.PrefixRe

[2019-07-21 20:03] howardjohn commented on #15607
just because it works on GKE doesn't mean it is standard. Afaik kind is a fully compliant k8s distribution so if it isn't enabled by default there then it may not be in other platforms. at the very least we should document this

[2019-07-21 20:48] elfinhe opened #15683 "Add validation for IP values in operator's validate.go"
**Bug description**
ValidateCIDR is implemented in common.go but not used by any non-test code.
Add validation for IP values in operator's validate phase.

**Expected behavior**
If use specify a profile with invalid IP address, the CLI will return corresponding errors to indicate the issue.

Label:  area/environments/operator

[2019-07-21 20:51] elfinhe commented on #15683
seems like I am not a member yet. This should be labeled with `area/environments/operator`

[2019-07-21 21:05] pitlv2109 commented on #15607
Yes. I'll investigate more on this.

[2019-07-21 21:18] #15193 closed

[2019-07-21 21:18] howardjohn commented on #15193
#15665

[2019-07-21 23:18] howardjohn opened #15686 "TestRateLimiting high (80%+) flake rate"
See https://testgrid.k8s.io/istio-presubmits-master#integ-mixer-k8s-presubmit-tests

These 3 tests fail over 80% of the time.

[2019-07-22 00:06] howardjohn opened #15688 "`helm lint` may want to use strict"
By bug or by design, helm lint only provides a subset of warnings unless `--strict` is enabled (https://github.com/helm/helm/issues/6057). This means we are getting false positives by running just `helm lint`

We may want to start using --strict. This would require a few changes, mostly because every `{{.foo}}` needs to be in values.yaml.

I think generally this is a good thing, as we want everyth

[2019-07-22 01:33] #15292 closed

[2019-07-22 01:52] dhineshbabuelango commented on #15647
Hi, please find the config file below

apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: tls-gateway
spec:
  selector:
    istio: admin-ingressgateway # use istio default controller
  servers:
  - port:
      number: 443
      name: https
      protocol: HTTPS
    tls:
      mode: SIMPLE
      credentialName: ingressgateway-certs
      minProtocolVersion: TLSV1_2
      maxPr

[2019-07-22 02:09] hzxuzhonghu commented on #15226
Thanks, for your explanation, the `svc-b` and `svc-a` in the above examples should have the same ports, this should be guaranteed by users, currently this can not be done in validate.

[2019-07-22 02:54] hzxuzhonghu commented on #13106
I never deployed istio with `istio-cni` yet.

what do u mean by this?

[2019-07-22 03:05] hzxuzhonghu commented on #15570
https://istio.io/docs/reference/config/networking/v1alpha3/destination-rule/

[code]

[2019-07-22 03:16] hzxuzhonghu commented on #15579
@sniperking1234 Can you reproduce? The config lgtm

[2019-07-22 03:26] hzxuzhonghu commented on #15620
You should look at the config of port 80, both listener and router at least.

[2019-07-22 03:32] hzxuzhonghu commented on #15624
@kubesure Maybe have something todo with statefulset, istio currently do not support it well.

[2019-07-22 03:36] howardjohn commented on #369
All work on this epic has been closed, future perf/scale stuff is just using the area label

[2019-07-22 03:36] #369 closed

[2019-07-22 03:46] hzxuzhonghu commented on #15654
Without egress should equals to `egress.hosts : "*/*"`

[2019-07-22 04:12] howardjohn commented on #10285
@richardwxn can this be closed by https://github.com/istio/tools/pull/150

[2019-07-22 04:14] #12553 closed

[2019-07-22 05:19] kramerul commented on #13967
@rlenglet , that's a great idea.

Currently, the go-version and the shell script of `istio-iptables` exist in parallel. The go-version is only used in distroless images. Both versions use the same golden master tests to ensure that they are doing the same.
Therefore, the first step should be to replace the shell script with the go-version. Afterwards, a refactoring of the go-version could take pla

[2019-07-22 05:46] maxbischoff commented on #15654
This wasn't obvious to me, but the following Sidecar was indeed accepted by Galley:

[code]

Should this be clarified somewhere in the docs? For me this configuration reads more as a `wildcard egress host` than `without egress`.

[2019-07-22 05:50] dweidenfeld commented on #10827
Do you still need to set the `externalTrafficPolicy` to `Local`?

[2019-07-22 06:04] ksemba commented on #10827
@dweidenfeld to be honest, I can't remember :( been working on other projects for quite a while now... sorry for not being helpful

[2019-07-22 06:05] dweidenfeld commented on #10827
@ksemba no problem, thanks for the fast answer ;)

[2019-07-22 06:07] ostromart opened #15691 "Add documenting comments to values_structs.proto"
The values_structs.proto file is the source of truth for both the schema for Helm values, as used in the operator, and istio.io docs. These need to be cleaned up and made consistent. Please include the component TL, rcaballeromx and sdake in the reviews.
The format of comment we want is:

Brief one line desctription.
<blank line>
A paragraph explanation that can be added to the one line descriptio

[2019-07-22 06:09] ostromart opened #15692 "Add documentation for Helm values proto for Security components"
See https://github.com/istio/istio/issues/15691 for a guide.

[2019-07-22 06:11] ostromart opened #15693 "Add documentation for Helm values proto for Gateway components"
See https://github.com/istio/istio/issues/15691 for a guide.

[2019-07-22 06:12] ostromart opened #15694 "Add documentation for Helm values proto for Pilot components"
See https://github.com/istio/istio/issues/15691 for a guide.

[2019-07-22 06:13] ostromart opened #15695 "Add documentation for Helm values proto for Global"
See https://github.com/istio/istio/issues/15691 for a guide.

[2019-07-22 06:14] ostromart opened #15696 "Add documentation for Helm values proto for Galley, Proxy and Sidecar Injector"
See https://github.com/istio/istio/issues/15691 for a guide.

[2019-07-22 06:15] ostromart opened #15697 "Add documentation for Helm values proto for Policy component"
See https://github.com/istio/istio/issues/15691 for a guide.

[2019-07-22 06:16] ostromart opened #15698 "Add documentation for Helm values proto for Telemetry component"
See https://github.com/istio/istio/issues/15691 for a guide.

[2019-07-22 06:58] zcahana commented on #13106
As I understand, the problem stems from a race condition in the Pilot, where a newly created pod connects to the pilot and receives a configuration, before the Pilot received the API event for the pod, and hence the configuration sent to the pod includes a "0.0.0.0:<port>" listener, instead of a "<pod ip>:<port>" listener.

In the case of `istio-cni`, the `istio-init` init container doesn't run at

[2019-07-22 07:01] ebensom opened #15699 "The certificate of https://gcsweb.istio.io/ has been expired."
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
The certificate of https://gcsweb.istio.io/ has been expired. Please replace.

**Affected product area (please put an X in all that apply)**

[ ] Co

[2019-07-22 07:13] DragonSuper commented on #13321
Hi，My arm64 CUP is ok，but I don't know the other architecture about arm。
envoy support structure arm64 and arm32，but  I didn't compile other architecture except aarch64

[2019-07-22 07:14] grzesuav commented on #9157
Should't port names in `Service` match https://istio.io/docs/setup/kubernetes/additional-setup/requirements/ ?

[2019-07-22 08:23] hzxuzhonghu commented on #13106
True,  when pilot does not get the pod ip from kube-apisever, it will not gen the "podip:" listener.  I think #13229 should address this case.

[2019-07-22 08:35] zcahana commented on #13106
In 1.2.2 (which, for my understanding, includes #13229), the Pilot does generate a listener for `0.0.0.0:<port>`, which leaves the pod in unready state (as it doesn't find the local listener it's expecting).

I would expect that after a few seconds, when the pilot already received the pod IP from the kube API, it will regenerate the correct config with `<pod ip>:<port>` listener, and push it to th

[2019-07-22 08:36] stiller-leser opened #15701 "Workload Listener does not Have SDS Config when SDS and CNI are turned on Both"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

I am trying to set up my Istio cluster with MUTUAL_TLS and SDS activated. All requests to my sample nginx pod over the ingressgateway result in a 5

[2019-07-22 10:09] dkushner opened #15703 "Pilot reports `unauthorized` when attempting to access k8s resources."
**Bug description**
Having started with a single-control plane, multi-cluster installation using the multi-network strategy outlined in the documentation, we experienced numerous issues resolving services across clusters and decided to eliminate the remotes and their associated networks. I modified the `istio` ConfigMap resource in the `istio-system` namespace and removed the two superfluous netwo

[2019-07-22 10:15] hzxuzhonghu commented on #13106
Yup, that's expected behavior.  Can you reproduce this easily? So we can add some debug logs to see what's wrong.

[2019-07-22 10:15] dkushner commented on #14037
@Stono We are now experiencing this in 1.2.2 and are quite tired of trying to tweeze our way through Pilot's source to figure out what the source of these errors are. Are you having any more luck?

[2019-07-22 10:26] tiggerlee2 commented on #15620
@hzxuzhonghu Thanks for your reply.
But curl -v https://baidu.com shows "connect port 443". Does this mean there is nothing to do with port 80?

[2019-07-22 10:34] Stono commented on #14037
Hey @dkushner, istio usage of 503s is currently very broad :( it's a pain.

My advice would be to debug exactly what is the root cause of the 503 then open an issue specific to that scenario.

I wrote up a bit of a blog post about how I debugged some recently. It might help you

https://karlstoney.com/2019/05/31/istio-503s-ucs-and-tcp-fun-times/

[2019-07-22 10:40] zcahana commented on #13106
First let me correct myself. In the case described above, the Pilot does *not* generate a listener for `0.0.0.0:<port>`, but rather doesn't generate any listener for that port.

To reproduce, you can use the [following YAML](https://gist.github.com/zcahana/46539066e284f200a13ecce3596039de) . This happens intermittently, in about %50 of the times, so quite easy to reproduce (just apply-delete-apply

[2019-07-22 10:53] dkushner commented on #14037
@Stono Much appreciated, will take a look at what you've found. We've traced 503s back to everything from health checks being misconfigured (mTLS installation interfering with native k8s health checks, pretty easy to diagnose) to Pilot quietly soft-locking while waiting for rescheduling after hitting resource limits. And then sometimes, it just doesn't work and we haven't the slightest indication

[2019-07-22 11:18] hzxuzhonghu commented on #15620
Yes,  443 is another listener.

[2019-07-22 11:36] hzxuzhonghu commented on #13106
I cannot reproduce on 1.2.0 with iptables,  will try to do the same on istio-cni when i am free.

[2019-07-22 11:36] iamejboy commented on #9504
https://github.com/knative/serving/issues/4865

[2019-07-22 11:37] zcahana commented on #13106
Same here, the problem only occurs with `istio-cni`.

[2019-07-22 11:41] hzxuzhonghu commented on #13106
IC, maybe there is something missed

[2019-07-22 11:54] aliariff commented on #13321
@DragonSuper
Could you show me the output of `uname -m` from your machine, because in my Raspberry Pi it showed `armv7l` and this is the reason the build is failed. We need to normalize that string to a proper arm version either it is `arm` or `arm64` so that GOARCH can understand it.

Regarding the envoy/istio proxy, I still can not find any working tutorial to compile it to arm arch, if you have

[2019-07-22 11:56] c0d1ngm0nk3y opened #15704 "ingressgateway does not drain on SIGTERM, hence errors during update"
When just doing rolling updates of istio-ingressgateway via

[code]

we run from time to time into the problem that some connections got errors (`Empty reply`).

When looking at the termination behaviour in details:

(1) https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods
(2) https://cloud.google.com/blog/products/gcp/kubernetes-best-practices-terminating-with-grace

The pr

[2019-07-22 12:42] youalreadydid opened #15705 "Update "helm install" command in docs"
I was trying to install the current Istio version (1.2.2) with Helm following the [docs](https://istio.io/docs/setup/kubernetes/install/helm/), but the step 3 from option 2 is defined as
[code]
and it only worked with
[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[X] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] P

[2019-07-22 13:06] #15663 closed

[2019-07-22 13:10] ericvn commented on #15131
Reprioritization of work moves me to creating a multiple control plane multicluster test in the new integration framework so un-assigning myself in case someone else wants to work on this test.

[2019-07-22 13:14] ericvn opened #15706 "Create a multi-network multicluster test"
Create a multi-network multicluster test using the new integration framework.

[2019-07-22 13:15] ericvn commented on #14475
Closing issue with the merging of #15595

[2019-07-22 13:15] #14475 closed

[2019-07-22 13:18] ericvn commented on #15341
Since @vadimeisenbergibm says this is by design and provided a work-around which I verified in my scenario, I will close this issue. If you think this was in error, please re-open the issue and we can look into this some more.

[2019-07-22 13:18] #15341 closed

[2019-07-22 13:31] howardjohn commented on #15705
this is expected, you can install from the repo (as you did) or download the release. see note in the doc:

[2019-07-22 13:37] Stono commented on #14037
Yeah we have one that we can't track down at the moment either, I feel your pain.

Another one we found was pilot-agent sidecar shutting down before the application was done.  At the moment it drains (fine) but then if your app makes an outbound connection after that drain it'll fail.  We actually have a wrapper around pilot-agent now which blocks the sigint getting to pilot agent until the main a

[2019-07-22 13:51] knrc commented on #13986
@sdake The issue is with the istio-init container, the community one expects iptables to be present on the host whereas OpenShift 4 uses nftables.

On the maistra side we have two init-containers, one with the older iptables utility (used with iptables hosts) and a second with the newer iptables utility (used with nftables hosts) however we are now switching completely over to CNI since the utilit

[2019-07-22 13:59] youalreadydid commented on #15705
Oh, sorry for the confusion, thanks!

[2019-07-22 13:59] #15705 closed

[2019-07-22 13:59] ajitchahal opened #15707 "istio 1.2.2 request routing does not work"
The virtual service is deployed to route traffic to v2. The requests via istio ingress are successfully able to route traffic correctly to v2 of application, but a pod-to-pod curl request always does a 50/50 traffic split between the two subsets of apps.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[x ] Installation
[x ] Networking
[ ] P

[2019-07-22 14:01] howardjohn commented on #15705
no worries, it's not the most obvious that you need to download the
release. We are hoping to not require a download in the future install to
simplify things

On Mon, Jul 22, 2019, 7:00 AM Mateus <notifications@github.com> wrote:

[2019-07-22 14:28] rcaballeromx commented on #15691
@ostromart As I mentioned before, I only did a quick edit pass on the entries. A more detailed review of the content is still needed.

[2019-07-22 14:32] howardjohn commented on #15706
You should be able to use kind when doing this, should make things simpler. If you are using the integ framework it already will be though

[2019-07-22 14:41] howardjohn commented on #15704
We already have some graceful termination, and it seems to still be working:

[code]

Specifically we send envoy an empty config for 5s so it won't accept new connections.

You aren't the first to suggest the prestop though, I am wondering why that works but the existing solution we have isn't?

[2019-07-22 15:10] jameshochadel commented on #15699
+1. This is blocking installation of Istio via Helm for us.

[2019-07-22 15:33] ostromart commented on #15691
Hi Rigs, yes, thanks for pointing that out. I forgot to mention in the bug that Rigs should be a reviewer of all the docs PRs above.

[2019-07-22 16:50] Gimi opened #15708 "The proxy sidecar doesn't handle back pressure"
**Bug description**
I have a simple Go program (available [here](https://github.com/Gimi/fly)) which will either:

* starts a GRPC client that keeps sending data to a server (via streaming), or
* starts a GRPC server that listen for client connections, once a client called its API (this is only one API called `hi`), it will firstly receive the first message from the stream, and then sleep.

What t

[2019-07-22 16:58] elfinhe commented on #15696
I'd like to take this one.

[2019-07-22 17:07] pitlv2109 opened #15709 "[Tracker] Support trustworthy JWTs when SDS is enabled."
This is to track trustworthy JWTs for SDS.

- [ ] Only enable k8s jwt authenticator when SDS is enabled.
- [ ] Only allow trustworthy JWTs by default when SDS is enabled.
- [ ] Find gap for trustworthy JWTs support in different vendors and update installation/task doc accordingly.
- [ ] Support trustworthy JWTs in KinD.
- [ ] Update security integration test(s) to use trustworthy JWTs.

[ ] Config

[2019-07-22 17:59] robinpercy commented on #14654
Yes, default for maxConnections is 1024:https://istio.io/docs/reference/config/networking/v1alpha3/destination-rule/#ConnectionPoolSettings-TCPSettings

@gxthrj are you still seeing performance issues?

[2019-07-22 18:34] phanama commented on #15365
I also experienced the same problem.
The problem resolved if we specify `http` instead of `http2` or `grpc` in the gateway protocol, even though they are http2 and grpc traffics!

[2019-07-22 18:36] phanama commented on #15365
FYI this problem emerges when upgrading from 1.1.0 to 1.1.1 and above

[2019-07-22 19:31] gotwarlost opened #15711 "Number of objects increasing beyond specific thresholds cause control plane pods to grind to a halt"
**Bug description**

There are many people experimenting on our playground cluster with istio objects. CI/CD pieplines create test objects with some TTL after which they are deleted. We have seen that transient increase in the number of such objects will cause the istio control plane to fall over because of gRPC message sizes going over 4MB.

It is not that istio cannot handle this load but the fa

[2019-07-22 19:34] hausdorff commented on #15699
This is, by my count, the second time Istio upstream has caused catastrophic failure in downstream CI because they moved or failed to maintain critical infrastructure that allows downstream to access to the official mechanisms for installing Istio.

I should not have to tell you that these sorts of failures are _very_ costly for people running production infrastructure on top of this technology. W

[2019-07-22 19:48] c0d1ngm0nk3y commented on #15704
That is interesting that there is already something like that. But it is not working in our case. At least not always. Let me shortly describe what we test:

* One `virtual service` routing traffic from ingress to one k8s service with 1 pod as endpoint
* Continuously updating the ingress and only the ingress, so then one rolling update is ok, there are 3s sleep and then the next begins
* In anothe

[2019-07-22 19:54] sushicw commented on #15627
Testing confirms at least that this only occurs when galley instances have different validatingWebhookConfiguration settings, specifically constrained to fields in the proto (https://github.com/istio/istio/blob/master/vendor/k8s.io/api/admissionregistration/v1beta1/generated.proto).

When there were two instances with differing configuraiton they were trying to reconcile, they flipped back and for

[2019-07-22 19:56] howardjohn commented on #15704
It is configured by https://github.com/istio/istio/blob/0d8ce3fe8b63e08a54ded1ce9c94290b48db4e64/pilot/pkg/features/pilot.go#L100 but it should be on by default to 5s

The logs should be the pilot agent logs, not envoy if you were just looking at envoy process logs somehow by the way.

I am able to get this by both `kubectl remove pod` and `pkill pilot-agent`. I wonder why it is not triggered in y

[2019-07-22 20:05] sushicw commented on #11929
@yangminzhu Any update on this?

[2019-07-22 20:40] howardjohn commented on #15454
This code has been removed now (https://github.com/istio/istio/blob/master/pilot/pkg/proxy/envoy/v2/eds.go#L694) so I think this may have accidentally been fixed. I'll try it out or feel free to let me know if this is working now. It was in https://github.com/istio/istio/pull/15569 so should be in the daily builds (https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/master-latest-daily/)

[2019-07-22 20:56] myidpt commented on #15558
We may already support it. We need to verify adding extra roots to the file works. Will provide docs about this, and add integration tests.

[2019-07-22 20:57] esnible commented on #15293
I verified that locally I can do `java -jar jmxterm-1.0.0-uber.jar --url localhost:7199` and then use the command `beans` from the Cassandra pod with Envoy sidecar.

If I try remotely using `java -jar jmxterm-1.0.0-uber.jar --url cassandra:7199` I get

[code]

`tcpdump -i any tcp port 7199` seems to show an initial handshake working between pods, but then localhost:7199 gets involved.  I thought p

[2019-07-22 21:40] #15607 closed

[2019-07-22 21:55] crazyxy opened #15712 "Configuration for protocol sniffing"
<details>

[code]

</details>

Configuration for testing http protocol sniffing. Follow steps [here](https://github.com/crazyxy/envoy-example/tree/master/inspector-new) to test http inspector.

/cc @duderino @costinm @silentdai @howardjohn

[2019-07-22 22:11] JimmyCYJ commented on #15267
/cc @JimmyCYJ

[2019-07-22 22:19] ayj commented on #15273
@morvencao, is this issue addressed by https://github.com/istio/istio/issues/15534?

[2019-07-22 22:54] yangminzhu commented on #11929
The test failed once in the past week:

[code]
https://storage.googleapis.com/istio-prow/logs/istio-pilot-e2e-envoyv2-v1alpha3-master/3967/build-log.txt

It seems it's due to the readiness probe failed for ingress-gateway:

[code]

https://storage.googleapis.com/istio-prow/logs/istio-pilot-e2e-envoyv2-v1alpha3-master/3967/artifacts/pilot-test-ca508d25d3d343318facd53809/istio-ingressgateway-7d85847

[2019-07-22 22:55] nrjpoddar commented on #15633
@linsun how does the annotation `traffic.sidecar.istio.io/includeInboundPorts` work currently i.e. what are the acceptable/default value for this annotation?

[2019-07-22 23:02] silentdai commented on #6259
[x] iptables redirect inbound traffic and outbound traffic to separate listeners
[x] inbound listener and outbound listener share no bind_to_port=false listener
[ ]  redefine readiness probe
By then containerPort is not required when user opt-in above

[2019-07-22 23:09] yangminzhu opened #15714 "proxy-postsubmit failed to build proxy"
It seems the postsubmit failed since https://github.com/istio/proxy/pull/2310 with the following message:
[code]

@utka Could you help take a look? This is blocking Istio from updating the proxy sha which is needed for https://github.com/istio/istio/issues/15631 for 1.3, thank you!

[2019-07-22 23:16] BenPope commented on #12454
As above, it would be really useful to be able to do regex replace, e.g., extract portions of a URL into new atttributes, or even reorder path segments.

[2019-07-22 23:24] haiyangu opened #15726 "Can't access rabbitmq management GUI with istio ingress gateway"
I'm deploying a RabbitMQ chart on kubenetes with istio enabled.
Now I'd like to access rabbitmq management GUI with istio ingress gateway.
The gateway and virtualservice configuration are as following:
[code]
However fail to access from browser with following log info.
The access URL is http://rabbitmq.com:31380
[code]

Seems the istio envoy ingress gateway can not match host "rabbitmq.com:31380".

[2019-07-22 23:37] ldemailly opened #15762 "Evaluate the best base image for the proxy (was "Use Alpine ...")"
@sakibulhasan-wsib commented on [Mon Nov 27 2017](https://github.com/istio/issues/issues/129)

**Is this a BUG or FEATURE REQUEST?:**
Feature

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):
Yes

**Bug:**
N

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation deta

[2019-07-23 00:18] howardjohn opened #15770 "We should remove repo write access from most users"
Right now all users in the org have write access, which is probably more than needed. GitHub has a triager role (https://help.github.com/en/articles/repository-permission-levels-for-an-organization) that may be appropriate.

I am the guinea pig for this change so going to keep track of issues I run into here

[2019-07-23 00:22] howardjohn commented on #15770
Things I have noticed so far:

* I cannot modify milestones
* Minor: For some reason while I am creating an issue I cannot edit labels or assignees, but after I create it I can
* Minor: There is no "assign me" button on issues. I can still assign myself though, just not in one click
* I can modify zenhub through the full zenhub UI, but cannot set priority from within an issue

[2019-07-23 02:21] DragonSuper commented on #13321
uname -m
aarch64

[2019-07-23 02:21] DragonSuper commented on #13321
uname -m
aarch64

[2019-07-23 02:35] aliariff commented on #13321
@DragonSuper
Based on the documentation here https://golang.org/doc/install/source#environment
GOARCH value `aarch64` is not valid, and need to be parsed to `arm64`, so I don't think you can compile it properly without getting an error. Could you try to run `make build` from your machine with `master` branch?

[2019-07-23 02:41] aliariff commented on #13321
@DragonSuper
Ah I know what happens, the current master branch is still hardcoded the GOARCH value to `amd64` therefore there will be no error even your arch is `aarch64`. The resulting binaries are `amd64`.
I don't know if those binaries can run in the `aarch64` system.

[2019-07-23 03:29] yangminzhu opened #15772 "Evaluate authentication filter in WASM"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
This issue is to track the evaluation of  migrating the istio authentication filter to WASM which allows us to get rid of the dependency on the istio/proxy repo and with more flexibility of the filter deployment.

We need to evaluate the functionali

[2019-07-23 03:32] zqzzq commented on #15716
I have built it successfully. Closing this.

[2019-07-23 03:32] #15716 closed

[2019-07-23 03:37] geeknoid commented on #15770
Access to istio/installer was due to an unusual configuration in that repo. I've cleaned that up and it should no longer be special.

[2019-07-23 03:39] geeknoid commented on #15770
And you also mentioned the coupling between CODEOWNERS and Triager. You can't be a code owner with only Triager permission. So any  code owner needs to at least have write access.

[2019-07-23 03:45] #15237 closed

[2019-07-23 04:15] #15366 closed

[2019-07-23 04:37] morvencao commented on #15273
@ayj Correct.

[2019-07-23 05:29] DragonSuper commented on #13321
@aliariff
uname -m
aarch64

[2019-07-23 05:59] suneeshkumar-urolime opened #15773 "Envoy drops connection to PostgreSQL database"
**Bug description**

Envoy is randomly dropping the connection between Jboss client and PostgreSQL database and gets many connection destroy warnings in the application logs. This is start happening when we migrated the application to the Istio Mesh. There is no issue or log in the application when we remove the Istio sidecar and the application directly connects to the Database. It seems like the

[2019-07-23 06:14] irisdingbj commented on #15134
@incfly  #15640 is a good implementation for adding services which is running on VM into mesh. (scenario 2).

We want `istioctl add-to-mesh --service <service>` works for five scenarios:
1. add existing services which are running into service mesh(inject sidecar to it)
2. add services which are running on VM into mesh
3. add services which are running on VM with gateway connection into mesh
4. add

[2019-07-23 06:26] c0d1ngm0nk3y commented on #15704
You are right. Now that I know what to look for, I find the `caught SIGTERM` in the log as well, *but not* in the error case. This seems to be the reason why this is not happening too often. It looked to us that in that error case, the request comes in at the same time as the signal. Maybe a race of some kind.

Also worth to mention: The `curl` with the `Empty Reply` got the error only after 5s. S

[2019-07-23 06:26] incfly commented on #15134
How is 2 different from 3?

`istioctl register` is about Service Registry part, and gateway or vpn is about L3 network part. These two should be independent.

Gateway or VPN mostly affect the installation phase, what you put in `/etc/hosts` on the VM IIRC.

[2019-07-23 06:32] tiggerlee2 commented on #15620
I checked config of port 443, it seems normal. "curl -v https://baidu.com" should be blocked by cluster **BlackHoleCluster** which is not.

istioctl proxy-config listener myPodName --port 443