[2019-03-25 21:25] gotwarlost commented on #12765
Note that I updated the test rig to use istio 1.1.1 that was just released. Same problem.

[2019-03-25 21:31] gotwarlost commented on #12765
Also I could not reproduce the problem when the `create-service` script creates services with port name `http`. I created 1000 services in that case and everything continued to work.

[2019-03-25 21:51] nishanth-pinnapareddy commented on #12765
/cc @nishanth-pinnapareddy

[2019-03-25 22:20] geeknoid opened #12767 "Document environment variables used by Pilot"
Find all uses of RegisterXXXVar in the Pilot code base and provide a suitable description for each environment variable.

This documentation will be published to istio.io

[2019-03-25 22:22] geeknoid opened #12768 "Document environment variables used by security components"
Find all uses of RegisterXXXVar in the security code base and provide a suitable description for each environment variable.

This documentation will be published to istio.io

[2019-03-25 22:24] geeknoid opened #12769 "Document all environment variables used by Mixer & friends."
Find all uses of RegisterXXXVar in the Mixer code base and provide a suitable description for each environment variable.

This documentation will be published to istio.io

[2019-03-25 22:36] douglas-reid opened #12770 "Document policy and telemetry e2e tests on wiki"
**Describe the feature request**
All e2e tests should come with corresponding documentation that includes the following:
- Concise description of feature being tested
- Related GH issues
- Summary of testing method
- Description of common failure modes (and how to identify them)
- Extra debug procedures

This documentation should be published/maintained on the wiki. A link to that documentation sh

[2019-03-25 22:55] yangminzhu commented on #12075
@esnible
The new syntax is probably going to be a little different. As for the CRD, there are some legacy old CRDs probably could be cleaned after 1.1 (we kept them for backward compatible). For 1.1, you only need `ClusterRbacConfig`, `ServiceRole` and `ServiceRoleBinding`, see https://istio.io/docs/concepts/security/#authorization-policy

[2019-03-25 22:55] kyessenov opened #12773 "Mixer custom CRDs deprecation plan"
- [x] update samples and e2e tests to use standard Mixer CRDs https://github.com/istio/istio/pull/12689
- [x] update documentation to refer to standard Mixer CRDs https://istio.io/help/ops/telemetry/missing-metrics/#verify-mixer-metric-instances-configuration-exists https://github.com/istio/istio.io/issues/3851
- [x] delete old style CRDs https://github.com/istio/istio/pull/12710
- [x] backport to

[2019-03-25 23:07] douglas-reid commented on #12769
I didn't see any use of `RegisterYYYVar` in the mixer codebase (`$ git grep -e "Register.*Var" mixer/`), but I found the following:

[code]

[2019-03-25 23:20] wattli commented on #12768
@myidpt @liminw @diemtvu

[2019-03-25 23:24] nmittler opened #12776 "[Proposal] Alternative to ServiceEntry Synthesis"
ServiceEntry is useful as a resource for authoring services in Istio. However, it has performance issues when used as the mechanism for sending service and endpoint information to Pilot.

**Background:**

Our [current plan](https://github.com/istio/istio/pull/12409) is to have Galley handle k8s service and endpoints events and generate synthetic ServiceEntry resources which it then sends to Pilot

[2019-03-25 23:30] gotwarlost commented on #12765
It looks like what was happening is that the proxy container ran out of memory (limit was set to 128Mi). When I upped those limits the problem _seems_ to have gone away. I will confirm this by tomorrow and close the bug if everything works ok.

[2019-03-25 23:37] evan2645 commented on #12674
Hi @quanjielin

There have been some comments on CSR API allowing TTL to be passed by node agent. In the case of external integrations, e.g. Vault and SPIRE, the CA may choose to cut certificates that have a shorter lifetime than what was asked for. This is especially important in preventing rogue node agent from requesting certificates with very long validity periods.

As it stands now, if the CA

[2019-03-25 23:47] quanjielin commented on #12674
Thanks, that's sounds a valid use case. There are two options to solve the problem:
1. CA return real TTL if it decide to ignore TTL received from nodeagent
2. nodeagent parse cert and get real cert TTL

personally I vote for 1, since cert format could be different from different CA (there are lots of parsepubkey** func listed https://golang.org/pkg/crypto/x509/.) what do you think ?

[2019-03-25 23:51] howardjohn commented on #12713
@mandarjog this is fixed in 1.1.0 but not 1.1.1

[2019-03-25 23:52] howardjohn opened #12777 "Istio 1.1.1 Helm chart version is 1.1.0"
[code]

[2019-03-25 23:59] geeknoid commented on #12769
I just pushed the change to introduce use of this function. If you rebase, you'll see 'em

[2019-03-25 23:59] mandarjog commented on #12765
Every TCP service will add new listeners which consumes more memory than just adding a new virtual host. So it is possible that TCP puts you on the other side of the limit.

Can you upload your config dump? There is a possibility that the `sidecar` resource is not taking effect at all, to test that use a simpler sidecar resource.

[code]

[2019-03-26 00:02] gotwarlost commented on #12765
The sidecar resource _was_ taking effect. As you said the ton of TCP resources was causing unexpected memory use (although this seems to have increased from istio 1.0 where the same set up was working).

In any case, upping the memory limits for the sidecar has solved this issue for us. Thanks for the help!

[2019-03-26 00:02] #12765 closed

[2019-03-26 00:04] douglas-reid commented on #12770
Took a stab at creating a placeholder for this documentation.  Please let me know what you think:

https://github.com/istio/istio/wiki/End-to-End-Tests

[2019-03-26 00:15] douglas-reid commented on #12769
@geeknoid and you didn't document them as you were adding them 😆 ?

[2019-03-26 00:38] howardjohn opened #12779 "Simple Redis fails to connect on 1.1.0"
I have a simple setup of a Redis client and Redis server. Without sidecar injection, they can connect fine. Once I enable sidecar injection, I am unable to connect.

Config: https://github.com/istio/tools/pull/95

[code]

I don't think it is related to https://github.com/istio/istio/issues/5453, my setup doesn't specify runAsUser.

[2019-03-26 01:15] rshriram commented on #12757
https://github.com/istio/istio/pull/12189 already solved it..

[2019-03-26 02:23] idouba opened #12780 "What is the recommended way to define an Instance and handler?"
[Instance](https://istio.io/docs/reference/config/policy-and-telemetry/istio.policy.v1beta1/#Instance)  introduce a way to define  instance used in mixer. like this
[code]

But we used to define a instance by CRD like this way:
[code]
which is also used in current [helm config.yaml](https://github.com/istio/istio/blob/1.1.0/install/kubernetes/helm/istio/charts/mixer/templates/config.yaml) , and th

[2019-03-26 02:55] hzxuzhonghu commented on #11658
@Stono Can you tell us how to reproduce, I don't think we have found the root cause.

[2019-03-26 03:30] gxthrj opened #12782 "I cannot find any config for routing with querystring"
I want to be able to route through http queryString, but http-match-request has no related configuration.

Then I turned to envoyFilter, hoping to get the queryString, and modify the header according to the queryString, but the public function exposed by lua does not provide an API to get the queryString.

However, envoy has provided the ability to route according to queryString in version 1.6.0.

[2019-03-26 03:54] edussx opened #12783 "Pilot discovery readiness probe not working"
**Describe the bug**
the readiness probe for Pilot didn't work right on pod start:
[code]
and I tried getting into the pilot discovery container and curling localhost but it didn't work either:
[code]
the port 8080 is open and the server is simply time out.

However, in this case Pilot is **functioning** which means all the gateway pods are able to get the correct envoy configs if I disable this r

[2019-03-26 05:01] karimbzu commented on #12456
#oc logs -f istio-sidecar-injector-6f696b8495-bk4px
The following error appears:
Error: failed to start patch cert loop Get https://172.30.0.1:443/apis/admissionregistration.k8s.io/v1beta1/mutatingwebhookconfigurations/istio-sidecar-injector: dial tcp 172.30.0.1:443: connect: network is unreachable
Can anybody help me.

[2019-03-26 06:28] karimbzu commented on #12456
and below is the curl output:
#curl -k https://172.30.0.1:443/apis/admissionregistration.k8s.io/v1beta1/mutatingwebhookconfigurations/istio-sidecar-injector
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {

  },
  "status": "Failure",
  "message": "mutatingwebhookconfigurations.admissionregistration.k8s.io \"istio-sidecar-injector\" is forbidden: User \"system:anonymous\" cannot get mut

[2019-03-26 06:35] sangwa commented on #12549
Not necessarily, we have both balancers on the same global IP, just different ports (80 vs 443).

[2019-03-26 06:48] hzxuzhonghu commented on #12783
any more log from pilot?

[2019-03-26 07:29] karthikmg opened #12784 "Spelling mistake in tool-tip(Copy to Clipoboard) in Docs pages"
**Describe the bug**
There is a Spelling mistake in tool-tip(Copy to Clipoboard) upon hovering over the clipboard icon in the code panel of the website

**Expected behavior**
Correct the typo to "Copy to Clipboard"

**Steps to reproduce the bug**
Navigate to any documentation web page in the istio.io and hover over the "Copy to Clipboard" icon

**Version**
1.1

**Environment**
Windows 10

![Istio_

[2019-03-26 07:39] edussx commented on #12783
@hzxuzhonghu I'm not sure if it's related but I missed some `ClusterRole`s for my Galley(didn't notice it was from 1.0.x) and it kept errorring. Once it got fixed, the Pilot discovery readiness probe works well.

I will close this issue. Thanks!

[2019-03-26 07:39] #12783 closed

[2019-03-26 07:51] karthikmg commented on #12784
Sorry for raising this issue in the isitio core project.
Re-raised this issue in the istio.io project.
Closing this bug.

[2019-03-26 07:51] #12784 closed

[2019-03-26 08:04] hzxuzhonghu opened #12786 "Should set priority class for istio components to prevent preempted"
As [Pod Priority and Preemption](https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#how-to-disable-preemption) is GA in kubernetes 1.14.  And the `Preemption` is enabled by default in kubernetes 1.11.  So we should set the highest priority for each istio components.

[code]

[2019-03-26 09:14] marcin-kasinski commented on #12755
Pilot logs:

[code]

[2019-03-26 10:07] elevran commented on #11181
@morvencao what was the maximum age configured? Rebalance won't happen before the expiration of the maximum age. The default (if unspecified) is infinity.

@Stono according to [grpc-go/keepalive.go](https://github.com/grpc/grpc-go/blob/master/keepalive/keepalive.go#L55) there is a +/- 10% jitter on the configured value to avoid connection storms. So a 30 min maximum age will spread reconnects over

[2019-03-26 10:24] morvencao commented on #11181
@elevran  `keepaliveMaxServerConnectionAge` set to 30s

[2019-03-26 10:28] #10114 closed

[2019-03-26 11:17] jotak opened #12789 "Missing 503 errors in source telemetry"
Metrics such as `istio_requests_total`, reported by source, are missing when the *application* returns 503 (not speaking about Envoy's 503 here).

The same metric is correctly reported by destination.
If I change the application code to return 500 instead of 503, then both source and destination metrics are reported as expected.

See prom UI screenshot:
![prom](https://i.imgur.com/zg4gNxF.png)

Th

[2019-03-26 11:36] StefanCenusa opened #12790 "Helm podAntiAffinity templating error"
**Describe the bug**

Helm charts fail to generate proper podAntiAffinity.

In my `values.yaml` file I define the following:

[code]
and after running `helm template` I noticed it generates the following output:

[code]

https://github.com/istio/istio/blob/release-1.1/install/kubernetes/helm/istio/templates/_affinity.tpl#L83

If I change `.value` in `.values` I get the expected output.

Thanks!

*

[2019-03-26 11:42] marcin-kasinski commented on #12755
With istio-1.1.1 still no success.

[2019-03-26 12:29] hzxuzhonghu commented on #11181
Is affinity set for istio-pilot service?

[2019-03-26 12:29] hzxuzhonghu commented on #11181
`sessionAffinity`

[2019-03-26 12:39] Stono commented on #11658
@hzxuzhonghu yeah, you have :-) https://github.com/istio/istio/pull/12766/files

[2019-03-26 13:02] markmssd commented on #12755
Same issue here, trying to upgrade to 1.1 for all its performance improvements, but `503`s, `503`s everywhere!

[2019-03-26 13:29] gdhagger commented on #12549
My apologies, you're absolutely right!  For some reason I was completely
convinced I could only attach a global IP to one LB at a time.

On Tue, Mar 26, 2019 at 2:35 AM Yaroslav Zhavoronkov <
notifications@github.com> wrote:

[2019-03-26 13:48] gdhagger commented on #12549
Note for anyone who comes across this issue:

When trying to create an ingress assigned to a global IP already attached to another loadbalancer NOT managed by GKE ingress, I received the following error:
[code]
However, using another IP address I was able to create two GKE ingresses using the same global IP.

[2019-03-26 14:10] esnible commented on #12495
Still a problem under 1.1.1.

[2019-03-26 14:21] linsun commented on #12790
@morvencao can you help this?

[2019-03-26 14:23] linsun commented on #12786
Thanks, agreed @hzxuzhonghu!

Morven, can you take this one too?

[2019-03-26 14:25] linsun opened #12794 "provide validation for destination"
https://discuss.istio.io/t/istio-1-1-ingressgateway-not-working-on-a-fresh-install/1581/5

I'm surprised our validation didn't fail for user's VS yaml.

[2019-03-26 14:32] linsun commented on #12777
@ibm-jason can you develop a simple script to update the chart version for all Chart.yaml files?  Then we just need to run the script prior to each release.

cc @duderino @utka

[2019-03-26 14:39] linsun commented on #12755
are you using the out of box sample yaml files?  I believe I ran this on 1.1 or 1.1-rc5 and it works fine.

[2019-03-26 14:39] Miouge1 commented on #12308
I'm seeing similar errors in my 1.1.0 test deployment IPv4:

[code]

And lots of `Configuration not synced: first push for ...` in the pilot discovery logs.

Any idea where to dig?

[2019-03-26 14:43] linsun commented on #12738
@johnma14 can you get the doc updated accordingly?

[2019-03-26 14:45] markmssd commented on #12755
Hey @linsun , in my case I am. I've also tried to uninstall 1.0.6 completely and do a fresh install of 1.1.1, but it's the same.

[2019-03-26 14:47] esnible commented on #12794
As pointed out in the Discuss thread, the VirtualService has

[code]

The Host is unusual because it contains a namespace.  Our documentation at https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#Destination says the `host` should be a Kubernetes or Consul service name.

This produces an Envoy Route:
[code]

but the Envoy Cluster has a different name:

[code]

The bug is t

[2019-03-26 14:49] mikesimons commented on #12181
We just discovered this on Istio 1.1 when we pushed 12 ServiceEntries w/ 50 ports each to our dev cluster which has 12 namespaces & ~13 pods each.

coredns started getting OOMKilled & entering CrashLoopBackoff because the envoy sidecars were flooding them with requests. Scaling out the replicas and increasing the memory limit on coredns allowed us to troubleshoot. We've worked around it by lowerin

[2019-03-26 14:53] arielb135 opened #12795 "Mutual TLS not working (ISTIO_MUTUAL is ignored)"
**Describe the bug**
Following the tutorial: https://istio.io/docs/tasks/security/authn-policy/
When enabling  istio mutual auth, the services did get 503, when creating the destination rule with
**ISTIO_MUTUAL** - still, 503 errors
![image](https://user-images.githubusercontent.com/33662254/55007341-efc1b580-4fe7-11e9-8750-d5c835f50e4e.png)

Attaching also the debug logs of the sidecar of sleep:

[2019-03-26 14:59] andraxylia commented on #12776
This is the same as my attempt in istio/api#628 which received strong push back based on various justified or less justified arguments. Maybe we can revisit splitting the Service and Endpoint API for real, instead of continuing the compromise and finding workarounds. These workarounds complicate the code base and do not contribute to the product excellence.

So I propose making this change all the

[2019-03-26 15:02] procyclinsur opened #12796 "Unable to authenticate JWT Token + CORS"
I can't seem to wrap my head around how and where Istio is performing what type of authentication...

The reason we are not defining JWT authentication at the backend service level is because we do not want to authenticate our internal services just to send traffic to this particular service.  Only external communication should be authenticated.

**TL;DR:**

1. Can and should I create a Virtual Se

[2019-03-26 15:04] andraxylia commented on #7787
The istio/api should be the source of truth, not the code.

The fact we did not get to fix a bug in the implementation does not make it less of a bug.

[2019-03-26 15:05] johnma14 commented on #12738
@linsun will do

[2019-03-26 15:09] jericks-duo commented on #12738
I'm not sure it's only a documentation issue. Shouldn't it work if I add destinationrules to the `foo` and `bar` namespace? msoule's comment [here] (https://discuss.istio.io/t/istio-tutorial-doesnt-work-on-minikube/1528) implies so.

Right now, it's very unclear to me which namespaces I have to add rules to in order to have them take effect. The original `foo`/`bar` namespace destinationrules didn

[2019-03-26 15:26] esnible commented on #12779
I am using your setup under Istio 1.1.1 on IBM IKS with Kubernetes 1.13.  The pods are injected.

I get "PONG".

My exact commands:

[code]

[2019-03-26 15:27] ozevren commented on #12308
@Miouge1 can you share galley & mixer logs?
kubectl logs -n istio-system istio-galley-9d5986bc8-ffmzm
kubectl logs -n istio-system istio-policy-77f645d6f-v542h

[2019-03-26 15:28] morvencao commented on #12790
@StefanCenusa Yes, you need to update `value` to `values`, since we can define multiple values separated by comma, check the example settings: https://github.com/istio/istio/blob/release-1.1/install/kubernetes/helm/istio/charts/mixer/values.yaml#L65

[2019-03-26 15:29] morvencao commented on #11181
@hzxuzhonghu No `sessionAffinity ` set for pilot.

[2019-03-26 15:29] howardjohn commented on #12779
Thanks, maybe I had something weird going on then. Let me test again

[2019-03-26 15:41] XanderStrike commented on #12757
Ah... it was merged to master. Last I heard development was happening against release-1.1... thanks.

[2019-03-26 15:41] StefanCenusa commented on #12790
@morvencao I am confused. In my opinion there is a bug in `_affinity.tpl` file because this [if](https://github.com/istio/istio/blob/release-1.1/install/kubernetes/helm/istio/templates/_affinity.tpl#L83) will always fail, unless I have a weird definition like this in `values.yaml`:

[code]
Am I doing something wrong?

[2019-03-26 15:43] Miouge1 commented on #12308
@ozevren sure:
- [Istio Galley logs](http://paste.openstack.org/show/3JwTzVB4NFPensLHYuOG/)
- [Istio Policy mixer logs](http://paste.openstack.org/show/wl6RUwLpl2MZ53mttqf4/)

[2019-03-26 15:56] ozevren commented on #12308
It looks like Mixer (and possibly Pilot) is not able to connect to Galley. There are no incoming connection entry logs  for Galley. Mixer logs is showing attempts for connection:

[code]

[2019-03-26 15:57] MrTrustor commented on #9117
For those following this issue, a PR has been created: #12704

[2019-03-26 16:05] andraxylia commented on #12776
Note that the split is only useful if Envoy also supports true incremental EDS, which is the ability to send a single Endpoint (not what some people call incremental EDS which is sending a single cluster). That will be needed for services with large number of endpoints > 1000.

In the absence of incremental EDS in Envoy, Pilot will still have to send the full list of Endpoints for a single Service

[2019-03-26 16:11] dwradcliffe commented on #12765
In general I would suggest monitoring cpu and memory usage vs requests/limits and watch for OOM events too.

[2019-03-26 16:16] morvencao commented on #12790
@StefanCenusa Got it, I missed that.

[2019-03-26 16:29] ryan-dyer opened #12799 "Templatize the ACME provider in certmanager helm template"
**Describe the feature request**
Currently enabling certmanager via helm assumes an http01 ACME provider.  There are other providers beyond http01 and it would be nice if these could be specified through values.

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2019-03-26 16:37] Miouge1 commented on #12308
That's right. Access to Galley's TCP/443 works locally:
[code]
But doesn't work from any of the kube-node. Any ideas?

[2019-03-26 16:47] emedina opened #12801 "Istio 1.1.1 breaks routing"
**Describe the bug**
After upgrading from `1.1.0` to `1.1.1`, all the routing stopped working. Everything responds with a `404`.

**Expected behavior**
Routes should not be impacted by a minor revision upgrade!

**Steps to reproduce the bug**
Upgrade from an existing `1.1.0` with some routes (`gateway` + `virtualservice`) and then upgrade to `1.1.1` and you should get `404`.

**Version**
Working w

[2019-03-26 16:52] quanjielin commented on #12795
/cc @diemtvu

[2019-03-26 16:57] Nino-K commented on #12776
Just to clarify, the current EDS interface that pilot uses it sends all the endpoints associated to a service (hostname). Splitting serviceEntry into two protos would still benefit the current workflow in a sense that 1) we receive only updated endpoints and like @andraxylia mentioned we can just pass them through via EDS update. 2) we no longer have to iterate over the old configStore to do a com

[2019-03-26 16:57] ibm-jason commented on #12777
@linsun sure thing.

[2019-03-26 16:59] markmssd commented on #12755
@linsun I've created a fresh cluster to test this on. I've installed Istio 1.0.6 first along with my application code, and it was working. I've `upgraded` it to 1.1.1 and it wasn't anymore.

I've also tried to `helm del istio --purge` then re-install it from scratch (first the CRDs through istio-init, then istio itself). Then I've `helm del myapp --purge` and redeployed my application from scratch

[2019-03-26 17:02] utka commented on #12777
https://github.com/istio/istio/pull/12762 should fix it for future releases. we need to fix past one.

[2019-03-26 17:10] esnible opened #12803 "Galley testing for --server-dry-run validation"
Istio 1.2 will support `--server-dry-run` validation of Istio CRDs.  We don't test this.

It would be easy to test this on K8s 1.13 using tests/e2e/tests/galley/galley_test.go. (I could just do a pass through all of the existing validation cases with --server-dry-run. That would catch the case where this PR stops working.)

The build/test pipeline machines use K8s 1.9 which does not support this f

[2019-03-26 17:20] quanjielin commented on #12443
close this, documentation is fine per discussion in https://github.com/istio/istio/pull/12534,

[2019-03-26 17:20] #12443 closed

[2019-03-26 17:24] douglas-reid commented on #12789
@jotak do you have retries configured at all?  is it possible what you are observing is that the client is retrying a few times?  or is the app configured to 100% return 503s ?

[2019-03-26 17:30] douglas-reid commented on #12780
@kyessenov is working on the deprecation of the older CRDs approach in Istio. We will need to update the docs to match to complete that task.

The preference moving forward is `kind: handler` (supported in 1.1) and `kind: instance` (PR out for 1.2) instead of `kind: prometheus` and `kind: metric`.

[2019-03-26 17:32] kyessenov commented on #12780
@idouba The recommended way is to use Instances and Handlers. The new model supports both in-process and out-of-process adapters (e.g., `template` vs `compiledTemplate`). This model is going to be fully supported in 1.2, with updated docs, samples, and tests.

[2019-03-26 17:37] ryan-dyer commented on #12801
I am seeing the same thing with the 1.1.1 release.

[2019-03-26 17:44] mandarjog opened #12807 "Support: stats regex inclusions, exclusion, and suffixes"
At present istio supports
sidecar.istio.io/statsInclusionPrefixes that translates into `stats_matcher.inclustion_list...`
In order to collect downstream stats at the main inbound port one needs to be able to use
`http.{endpoint_ip}_{port}` like `http.10.16.48.226_8080.downstream_rq_time`
This requires knowing your own IP, which the pilot agent already knows.

In addition to this, we need to be abl

[2019-03-26 17:45] mandarjog commented on #12807
It is a common ask to have `downstream_cx_total,downstream_cx_active,downstream_rq_total,downstream_rq_active` which will be possible efficiently with endpoint_ip.
It will also be possible with regex matches.

[2019-03-26 17:46] mandarjog commented on #12807
@Stono you will have to add `http.` to the prefixes which is not recommended.

[2019-03-26 17:51] howardjohn commented on #12779
Weird, I had done a clean install of Istio and got this issue, but on a fresh cluster this worked... Going to close this though

[2019-03-26 17:51] #12779 closed

[2019-03-26 17:53] venilnoronha commented on #12782
I'd like to work on this.

[2019-03-26 17:57] costinm commented on #12776
Having separate collection just for endpoints sounds good, that's what I proposed from the start.

Having a 5th way to represent endpoint info - I don't see the point or benefits. We can express all the info about endpoint in ServiceEntry - or we can use the ClusterLoadAssignment ( i.e. the envoy proto which we use internally ), or even Service.Entries proto from K8s. In addition to the 3 represen

[2019-03-26 17:57] wattli commented on #12757
It's already in master, which will be in 1.2 milestone.

[2019-03-26 17:57] #12757 closed

[2019-03-26 17:59] costinm commented on #12776
In general - the restriction that each 'collection' must have a different proto is arbitrary and should be fixed if it is still a limitation of MCP or Galley.

[2019-03-26 18:11] kyessenov commented on #12789
If there are retries on the clients (and Envoy does retry in istio), then only successful report is produced. I think it is generally useful to report how many client retires have been performed. Seems like a useful metric to me.

[2019-03-26 18:55] costinm opened #12811 "SDS tests verbose and might create flakyness"
Unit tests show logs like the following ( repeated many many times).

It's likely some SDS tests fails to close socket, and may result in flakes down the road.
Also it's hard to debug other problems.

2019-03-26T17:16:01.636681Z	error	SDS grpc server for workload proxies failed to start: grpc: the server has been stopped
2019-03-26T17:16:01.636718Z	error	SDS grpc server for ingress gateway proxy f

[2019-03-26 19:09] evan2645 commented on #12674
Thanks @quanjielin!

Either of those options sound good to me. Even if the external CA does not directly return TTL in its response, the plugin can parse the cert and give you back the TTL.

There is value in avoiding X.509 parsing in core agent code, if we are not already doing that, I don't think this particular issue warrants introducing it. If we are already parsing, might as well pull out the

[2019-03-26 19:25] bianpengyuan commented on #12732
If you are defining handler and instance via handler CRD and instance CRD, then this two fields are required. See https://github.com/istio/istio/pull/12689/files for some samples of migrating: e.g. https://github.com/istio/istio/pull/12689/files#diff-d82ce256f2730bbce70ea7fe116c20bf

[2019-03-26 19:32] nmittler commented on #12776
I don't agree. Even if we provided sub-resource versioning, we still run up against the problem of "what changed?" ... you end up doing the diff all over again. Perhaps Incremental MCP could take sub-resources into account and carve out only a portion of the resource when it sends it ... but that significantly complicates the protocol. And for little benefit, that I can see. If we get to the point

[2019-03-26 19:33] diemtvu commented on #12795
Thanks for the report. This is because we change the order to select the `destination rule` to be applied. Long story short, Istio will pick the DR in the same namespace of the client app first, then the one in the server namespace, and finally the one in the `global` namespace (by default, `istio-system`). As a result, the DR under `default` namespace is not visible to services in `foo` or `bar`.

[2019-03-26 19:53] douglas-reid commented on #7637
Can we close this issue now?

[2019-03-26 19:55] bianpengyuan commented on #7637
Yes.

[2019-03-26 19:55] #7637 closed

[2019-03-26 19:57] Stono commented on #12807
Yeah I guess I'll not bother for the time being! Thanks

[2019-03-26 19:59] douglas-reid commented on #8027
I think that this issue has been resolved and/or is better tracked via kiali's tracking. Closing.

[2019-03-26 19:59] #8027 closed

[2019-03-26 20:00] Stono commented on #12801
So i didn't see this and wondering what is different!

I don't use `Gateway` at all, but have 200+ `VirtualService`

[2019-03-26 20:01] esnible commented on #12794
@frankbu Before you close this, the new logic allows

[code]

That destination seems invalid.

[2019-03-26 20:20] costinm commented on #12776
I mean - I agree with having different collections, as you suggested. And
it has all the benefits - but without needing another proto to convert back
and forth from.

On Tue, Mar 26, 2019, 12:32 Nathan Mittler <notifications@github.com> wrote:

[2019-03-26 20:28] Stono opened #12813 "Without istio-system services in the Sidecar resource, you lose metrics"
Hey,
I consider this behaviour a little unexpected, but if you're using `Sidecar` to control egress, without appending istio-system services, eg:

[code]

You lose metrics.

Personally I'd expect this to *just work*, istio should probably transparently clusters which are just required for things to be functional.

this graph shows where we didn't have `istio-system` egress routes in our app sideca

[2019-03-26 20:32] Stono commented on #12813
As an added comment, it wasn't easy to spot.  We'd actually just mistakenly not used the fqdn, for example:

[2019-03-26 20:58] douglas-reid commented on #4963
@Disturbing any update here?

[2019-03-26 20:59] douglas-reid commented on #5987
@Stono is there anything that still needs resolving here, or can we close this issue?

[2019-03-26 21:00] douglas-reid commented on #10371
Closing, due to lack of updates.

[2019-03-26 21:00] #10371 closed

[2019-03-26 21:01] frankbu commented on #12794
@esnible The new logic is unchanged, it's just fixing a bug where a number of invalid cases where not failing the validation.

The wildcard syntax is allowed in the destination host to handle the case where the destination is an external service defined in a ServiceEntry. So whatever `host` is allowed in a ServiceEntry is allowed in a route destination. I know we've gone back and forth as to wheth

[2019-03-26 21:04] douglas-reid commented on #12019
@dansiviter I think this issue has become one of documentation. I'm going to close this for now. Please feel free to re-open if you feel that is more appropriate.

[2019-03-26 21:04] #12019 closed

[2019-03-26 21:11] douglas-reid commented on #12732
Closing this issue, as the question appears to have been answered.

[2019-03-26 21:11] #12732 closed

[2019-03-26 21:12] douglas-reid commented on #12722
Closing this issue as this has been answered.

[2019-03-26 21:12] #12722 closed

[2019-03-26 21:16] jericks-duo commented on #12738
Following the [Authentication Policy](https://istio.io/docs/tasks/security/authn-policy) guide, when I create a destination rule for the `bar` namespace, the behavior is very odd.
[code]
[code]
[code]
[code]
[code]

Why, if the destination rule is namespaced to `bar`, does the connection from `sleep.bar`->`httpbin.foo` work, but not `sleep.bar`->`httpbin.bar`?

[2019-03-26 21:21] jericks-duo commented on #12738
[code]
[code]

This behaves as expected. Is there something funny going on with the `*.local` host?

[2019-03-26 21:25] wattli commented on #12811
Please provide the unit test info and the reproduce steps.

[2019-03-26 21:26] jericks-duo commented on #12738
Given this comment by @howardjohn, this behavior makes sense as well:

[code]
[code]
[code]

[2019-03-26 21:27] mingfang commented on #12085
This feature https://github.com/kubernetes/kubernetes/pull/71192 in Kubernetes v1.14 makes CRDs with OpenAPI very useful for tools that using the openapi to work with Kubernetes.
My Terraform Provider for Kubernetes https://github.com/mingfang/terraform-provider-k8s is one such tool.  It would be great if the Istio CRDs have OpenAPI specs.

[2019-03-26 21:28] #10133 closed

[2019-03-26 21:49] diemtvu commented on #12305
I've just tried with 1.1.0 and 1.1.1 release. Both are working. You need to use the pod with namespace though. For example
[code]

[2019-03-26 21:57] liamawhite commented on #12501
Ah, interesting. Yes, sounds like a good idea. We should make sure to add the same ability to `proxy-config` as well. My typical debug flow here is to run `proxy-status` to get a list of proxies then paste that into `proxy-config`.

[2019-03-26 22:08] bianpengyuan commented on #12773
Do we also want to add some deprecation log into galley or mixer?

[2019-03-26 22:12] kyessenov commented on #12773
@bianpengyuan We're thinking to add istioctl command to support automatic conversion. We can probably indicate deprecation warning in the tool then. Logging has a risk of log pollution.

[2019-03-26 22:14] costinm commented on #12776
But if we need to use a different proto than ServiceEntry - at least use a repeated ServiceEntry.Endpoint in the body, so we don't have to waste more CPU/memory and have more bugs converting between protos.

[2019-03-26 23:19] Stono opened #12818 "Tracing Sample rate on a per-service basis"
**Describe the feature request**
The ability to control the sample rate (or even disable sampling) on a per-service basis, rather than globally in pilot.

**Describe alternatives you've considered**
Not using istio tracing and instrumenting apps instead (sad times)

**Additional context**
We have one or two apps that are incredibly batch like, and the data they process I largely do not care about

[2019-03-26 23:22] Stono commented on #5987
hahaha this is bizarre, i knew i'd mentioned about per service sampling before but couldn't find it, raised this issue just now: https://github.com/istio/istio/issues/12818 and then noticed it was here!

I'll close this off in favour of the other FR.

[2019-03-26 23:22] #5987 closed

[2019-03-26 23:30] hgontijo commented on #12801
After upgrading from `1.1.0` to `1.1.1`, I'm facing similar issue.
Routing on `:80` is working fine, however it's failing for `:443`:
[code]

[2019-03-26 23:56] jaygorrell commented on #12305
This is working for me after updating to 1.1.1 as well. I'm actually wondering if it was a problem before i enabled `global.controlPlaneSecurityEnabled`. Following the mTLS migration guide leaves that disabled.

[2019-03-27 00:12] naveeng68 commented on #12722
i am not looking via helm.
I have deployment .yaml

Please let me know how we pass grafana url in this file:

[2019-03-27 00:16] jmazzitelli commented on #12722
See above - I believe I answered your question already.

[2019-03-27 00:24] andraxylia commented on #12776
right @nmittler we need to fix this at the root.

[2019-03-27 00:26] andraxylia commented on #12776
We can consider using the new APIs just for the "synthetic" ServiceEntry and migrate the old API as a separate step.

[2019-03-27 00:28] andraxylia commented on #12776
@costinm MCP is designed to send Istio resources not sub-messages. All these workarounds just complicate the design. I still do not see a compelling justification on why not do the suggested split.

[2019-03-27 00:38] incfly commented on #12674
+1 to make it part of CA API explicitly.

[2019-03-27 01:04] ozevren opened #12820 "TestConversion/networking.istio.io_v1alpha3_synthetic_serviceEntry is flaky"
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12819/istio-integ-local-tests/7409

[2019-03-27 01:30] draveness commented on #12758
Hi @ozevren, if this is not taken, I'm willing to start working on this. :)
And I dug into this issue and found out the previous PR https://github.com/istio/istio/pull/9936 which dumps pod state and logs. And by "k8s events", does it mean that we need to dump the `kubectl get events` output?

[2019-03-27 02:31] #12220 closed

[2019-03-27 02:54] kyessenov commented on #12628
Still flakes https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12822/istio-unit-tests/22736

[2019-03-27 03:04] FengLiqiong commented on #9764
Same issue in istio-1.1.1.
Istio-1.1.1 is using envoy SHA 8912fa36acdf4367d37998d98cead376762d2b49 which contains commit(https://github.com/envoyproxy/envoy/pull/5846 - upstream: support host and locality weighting in ring hash lb).

[2019-03-27 03:38] howardjohn commented on #12801
Just looking at the release notes, it seems like this is most likely related to "Add namespace scoping to the Gateway ‘port’ names." @philrud

or possibly " Do not apply VirtualService rule to the wrong gateway" @rshriram

The other changes seem unlikely to be related

[2019-03-27 03:41] howardjohn commented on #12726
Should be fixed in 1.1.2.

[2019-03-27 03:41] #12726 closed

[2019-03-27 03:57] douglas-reid commented on #12818
@Stono right now, this is supported, in a fashion, via Mixer-based tracing.  This would be a change from your default setup, but it would provide precise tracing controls.

Moving forward, I think we want to expose a more full-featured tracing API that isn't mixer-specific for providing that level of control.

/cc @objectiser

[2019-03-27 04:00] douglas-reid commented on #12813
@costinm @rshriram @mandarjog @louiscryan what are our thoughts on defaulting access to `istio-system` resources?  is this the sort of thing that should be automatic (always allow traffic to the gloabl tracing service and `istio-telemetry`)?

Or is this primarily a docs issue (that we should emphasize)?

[2019-03-27 04:02] douglas-reid commented on #12807
We should include sensible defaults (no shooting yourself in the foot) with any updates here.

[2019-03-27 04:13] erikwilson opened #12823 "Upgrade to autoscaling/v2beta2"
**Describe the feature request**
Upgrade autoscaling/v2beta1 to autoscaling/v2beta2

**Additional context**
autoscaling/v2beta2 has been available since Kubernetes 1.10, I would like to see istio work well with k3s by default, which has removed the autoscaling/v2beta1 API (see rancher/k3s/issues/90).

The change seems fairly straight forward, I can submit a PR if it will help to get this feature t

[2019-03-27 04:22] douglas-reid commented on #12764
@Stono @mandarjog should we close this in favor of #12807 ?

[2019-03-27 04:24] douglas-reid commented on #11992
Can we close this now?

[2019-03-27 04:26] douglas-reid commented on #12780
Closing, as this has been answered.

[2019-03-27 04:26] #12780 closed

[2019-03-27 04:28] myidpt commented on #12674
I actually prefer 1). Although cert formats are different from CA to CA, the NotAfter (maybe NotBefore as well) values should be the single place node agent look for to determine the rotation time, right?

Introducing an extra proto field that is redundant to the cert content 1) brings extra compatibility requirement for custom CAs, and 2) not typical in existing CSR flows.

Those are my thoughts.

[2019-03-27 04:28] douglas-reid commented on #11696
@Stono this should be resolved in 1.1.1.  Can you confirm?  I'd like to close this out.

[2019-03-27 04:36] douglas-reid commented on #12488
With the PR that was merged, can we close this issue?

[2019-03-27 04:38] bianpengyuan commented on #12488
Yes, this could be closed now.

[2019-03-27 04:38] #12488 closed

[2019-03-27 04:39] douglas-reid commented on #11400
Can this issue be resolved?  We have encoded the best practices in the defaults for 1.1.

[2019-03-27 04:44] douglas-reid commented on #4202
All issues in this epic have been closed. I'm going to close this epic. We should open individual issues for testing and documentation gaps moving forward.

[2019-03-27 04:44] #4202 closed

[2019-03-27 04:52] hzxuzhonghu commented on #12813
for ux, i vote for make it default

[2019-03-27 04:54] hzxuzhonghu commented on #12823
all prs are welcome

[2019-03-27 04:56] hzxuzhonghu commented on #12823
one issue i think is istio support 1.9 in official doc

[2019-03-27 05:00] NilsWild opened #12824 "mTLS Probe Rewrite for HTTPS probes"
**Describe the bug**
HTTPS probes fail because pilot agent serves HTTP instead of HTTPS

**Expected behavior**
Working HTTPS probes

**Steps to reproduce the bug**
Create a pod with an https probe and probe rewrite enabled

**Version**
kubernetes: 1.12.5
istio: 1.1.0

**Installation**
istio CNI and istio via helm

**Environment**

**Cluster state**

[2019-03-27 06:05] elvizlai opened #12825 "self define adapter not work"
**Describe the bug**
Following `https://github.com/istio/istio/wiki/Mixer-Out-Of-Process-Adapter-Walkthrough` to write a HEADER checker adapter for `gRPC call` using template authorization, local test using mixs and mixc passed, but when deployed to k8s, it look like the adapter not worked. Any idea about how to solve or check what happened? **Do I need to write any policy? **

**Expected behavior

[2019-03-27 06:29] RockyFu267 commented on #8630
Is it working now？ I had the same problem.
The log shows 503 when I tried to access ;
But It is normal when I use default namespace;
How to fix it?

[2019-03-27 06:29] RockyFu267 commented on #8630
@mabushey

[2019-03-27 06:51] hzxuzhonghu commented on #12824
/cc @incfly We missed that https probe

[2019-03-27 07:09] idouba commented on #12780
@kyessenov, @douglas-reid  thanks, got it.

[2019-03-27 07:57] Buri commented on #12220
So what is the correct service entry?

[2019-03-27 08:00] Karnich commented on #12743
UPDATE:
I think my issue actually is rabbitmq being unavailable to pod2 which means pod2 terminates the traffic. would need more investigation to describe the problem better.

[2019-03-27 08:00] #12743 closed

[2019-03-27 08:11] NilsWild opened #12828 "mTLS probe rewrite with no original probe"
**Describe the bug**
When no readiness probe is defined in original pod template and mTLS proberewrite is enabled a readiness probe is added that fails for obvious reasons

**Expected behavior**
no readiness probe

**Steps to reproduce the bug**
create a deployment with a pod that has no readinessprobe with mTLS probe rewrite enabled

**Version**
kubernetes: 1.12.5
istio: 1.1.0

**Installation**
i

[2019-03-27 08:40] vadimeisenbergibm commented on #11841
The proposed implementation:

1. Ingress gateways should route traffic to the local endpoints only
1. Egress gateways should route traffic to the remote endpoints only

Implementation details:

1. Remove `ISTIO_META_ROUTER_MODE sni_dnat` from the egress gateway, since this mode is for internal services and the egress gateway should not route to internal services.
2. In `EndpointsByNetworkFilter()`

[2019-03-27 08:46] vadimeisenbergibm commented on #11841
^ @costinm @rshriram

[2019-03-27 08:48] Stono commented on #12818
@douglas-reid thanks - could you point me through some documentation that i can read around that implementation?

[2019-03-27 08:49] Stono commented on #12813
Yeah from a UX perspective why would anyone ever do `tracing.enabled=true` and then not want connectivity to tracing services?

[2019-03-27 08:50] Stono commented on #12760
ping @costinm @rshriram @nmittler - this one is actually quite a pressing issue for us, would be great to get some input.

[2019-03-27 08:50] Stono commented on #12664
As we now have Sidecar everywhere this isn't really a problem for us any more, but you can easily reproduce it by having a large cluster without any isolation and trigger a few pushes.

[2019-03-27 08:50] vadimeisenbergibm opened #12830 "Multicluster: Use the port 443 for all the traffic into a cluster, including for access to kube-apiserver"
Access pilot and mixer through 443, and also kube-apiserver.

Using a single port will simplify the configuration. Using the standard port will simplify the firewall configuration. Using a single IP (the one of the ingress gateway, instead of using both Ingress Gateway and kube-apiserver) will simplify the configuration, including the firewall configuration.

[2019-03-27 08:51] vadimeisenbergibm commented on #12830
@costinm @rshriram @andraxylia What do you think?

[2019-03-27 08:53] Stono commented on #12183
For those following this thread, we've removed pretty much everything we've done apart from the lifecycle preStop (so no headers or outlier detection now), implemented `Sidecar` to massively limit the scope of pushes (our push durations have dropped from 30s to 2s) and in 1.1.1 and we're not seeing any 503s.

[2019-03-27 08:54] Stono commented on #11696
Will try and test it later today for you @douglas-reid - ta!

[2019-03-27 08:54] Stono commented on #11664
Closing this, Sidecar isolation has all but solved this for us: https://twitter.com/karlstoney/status/1110255431644049409

[2019-03-27 08:54] #11664 closed

[2019-03-27 08:56] Stono commented on #10193
Closing, many improvements since i raised this issue around scrape metrics.  Plus we've added our own whitelists in the metrics label remap Prometheus config

[2019-03-27 08:56] #10193 closed

[2019-03-27 09:18] marcin-kasinski commented on #12755
Additional info :

[code]

[code]

[code]

[code]

Policy logs:

[code]

Pilot logs:

[code]

Ingress logs:

[code]

[2019-03-27 09:54] hzxuzhonghu commented on #12828
/assign @incfly

[2019-03-27 10:22] jotak commented on #12789
@douglas-reid @kyessenov in that case there isn't any retry configured, actually there's even no Visrtual Service configured.

[2019-03-27 11:11] jotak commented on #12789
PS: to reproduce you can deploy this yaml with istioctl/kube-inject : https://github.com/jotak/demo-mesh-arena/blob/master/full.yml , which will start a bunch of microservices, then deploy https://github.com/jotak/demo-mesh-arena/blob/master/services/ball/Deployment-burst.yml still with istioctl / kube-inject. The latter is the one that will trigger some 503s

[2019-03-27 12:35] jshaughn commented on #11093
I think that the proposal for [New Virtual Service Attributes](https://docs.google.com/document/d/1ETaVlEKmTXB-rvLL30JTs06UMnsdlbBe7S3B7RWKt1w/edit#heading=h.x9snb54sjlu9) could potentially add what's needed for this enhancement.  Is there work being done on that proposal?  Being able to distinguish between the requested service and the resulting service request(s) would, I think. allow for a visu

[2019-03-27 12:45] ibm-jason commented on #12777
@linsun, @utka:

I took a look at the PR mentioned above ☝️ . Once this change to the `helm_values.sh` file is merged, future releases of `Chart.yml` should have the correct values.

@utka when you said, `we need to fix past one`, it sounds like we're saying that the PRs we need now should be for the `release-1.0` and `release-1.1` branches to ensure the values are correct in those tagged commits.

[2019-03-27 12:59] elevran commented on #12224
How related #12830?

[2019-03-27 13:05] caohe opened #12834 "Racetest failure: istio.io/istio/pilot/pkg/proxy/envoy/v2 TestLDSWithDefaultSidecar"
[https://gubernator.k8s.io/build/istio-circleci/racetest/365912](https://gubernator.k8s.io/build/istio-circleci/racetest/365912)

[code]

[2019-03-27 13:21] anthonyhaussman commented on #10336
Seems that the patch does not work on GKE.
The probe does not return kube-probe as user-agent:
[code]
It still show the `http liveness` unknown icon.
My promhttp configuration:
[code]

[2019-03-27 13:26] vadimeisenbergibm commented on #12224
This one is for communication between micro services in different clusters. #12830 is for communication between sidecars and control plane, and between pilot and kube-apiserver in multiple clusters.

[2019-03-27 13:28] vadimeisenbergibm commented on #12224
@elevran I have added a line to #12830 : Access pilot and mixer through 443, and also kube-apiserver.

This issue is agreed with @rshriram . We should agree on #12830 if it is worth it.

[2019-03-27 13:42] #12834 closed

[2019-03-27 14:14] nmittler commented on #12776
Ok, sounds like we're in general agreement that this is the right approach.  I'll put together a PR and we can continue the discussion there.

[2019-03-27 14:48] motek80 opened #12836 "1.1.x isn't appears to work with AWS EKS 11.5"
**Describe the bug**
Deployed Istio 1.1.1 on fresh new EKS cluster. Deployed Bookinfo demo. Istio sidecars fail to start

[code]

[code]

[code]

**Expected behavior**
Well, I expected it to work...

**Steps to reproduce the bug**
1. Create fresh AWS EKS cluster v11.5
2. Follow Istio Installation steps, deploy "default" profile
3. Follow Booking Application steps, deploy it

**Version**
{{ What ve

[2019-03-27 14:48] hmakkapati commented on #12501
@esnible What you propose sounds very reasonable. However, should `istioctl` be topology aware eventually? I'm not sure of the technicalities here, so feel free to educate me :)

[2019-03-27 15:06] esnible commented on #12501
We want it to be topology aware.

I find it frustrating that Istio's `helm` chart knows how to set up different forms of multicluster, but `istioctl` doesn't know how to tell the user what was chosen.

I have an early draft of `istioctl mc` commands at https://docs.google.com/document/d/19mQojPz0A6W56CE9iREjSfCXjrvCf_hkU-bw5trzRpI/edit .

For `istioctl proxy-status <pod>` the tool reports any diff

[2019-03-27 15:25] jericks-duo commented on #12795
Cross-posting here for visibility, #12738 has details showing that the application of the `destination rule`s appears to be inconsistent, possibly due to some weirdness with the wildcard `"*.local"`? Submitting the DR to both `foo` and `bar` doesn't work. `503`s all around.

Following the [Authentication Policy](https://istio.io/docs/tasks/security/authn-policy) guide, when I create a destination

[2019-03-27 15:42] arielb135 commented on #12795
Hey, thank you very much, changing the destination rule to "istio-system" did make the trick.

[code]

2 questions:

1. Why the "MeshPolicy" doesn't need to be defined in istio-system aswell?
2. What jericks asked, Why if i create the rule in "foo" - it can access bar, but cannot access itself within the namespace? (seeing same behavior)

[2019-03-27 15:44] motek80 commented on #12836
I created another new cluster, and now it works. No idea what happened

[2019-03-27 15:44] #12836 closed

[2019-03-27 15:46] jericks-duo commented on #12795
`MeshPolicy` is a policy that applies to the entire mesh. If you want to specify a policy that applies to a specific namespace, you can use a `Policy`. Policies will take precedence over MeshPolicies. There appears to be a little bit of a potential issue where two policies with the same scope will both take effect 50% of the time, so it's up to the administrator to make sure policies don't conflic

[2019-03-27 15:46] ozevren commented on #12820
This seems to be pretty severe.

[2019-03-27 15:48] nmittler commented on #12820
Understood.  I know why it's happening and am working on a fix.  In the meantime, I'll send a PR that should quiet CI.

[2019-03-27 15:52] arielb135 commented on #12795
Understood, thanks.
still open then the question why a service cannot talk to another service in the same namespace, if a DR is defined in the same ns

[2019-03-27 15:53] jericks-duo commented on #12795
I suspect this is not the desired behavior, but am waiting for a developer/maintainer to comment.

[2019-03-27 15:59] nmittler commented on #12820
@ozevren temporary fix: #12837

[2019-03-27 16:50] jaygorrell opened #12839 "Grafana: "Incoming Success Rate (non-5xx responses)" by Source percentages are wrong"
**Describe the bug**
The Grafana "Incoming Success Rate (non-5xx responses)" by Source percentages are wrong on both the service and workload dashboards. It often wavers above and below 100% when things are working fine... above 100% is the clear indicator something is wrong though.

![image](https://user-images.githubusercontent.com/12174604/55109237-b81c4180-50ab-11e9-8e18-0c980fdc201a.png)

**E

[2019-03-27 16:59] diemtvu commented on #12795
Comment from jericsk-duo@ is right. Currently, we define the mesh policy in the cluster scope, so it won't need namespace (note this might change in future to align with other APIs).

For the second question, it seems wrong. How long do you wait before trying the command? Some time it may take a minute or two. I've just tried applied the DR in `foo`, and confirm the output should be below.

[code]

[2019-03-27 17:02] jericks-duo commented on #12795
I've waited minutes-to-hours. It has applied the policy to the envoy proxy. `istioctl authn tls-check` also seems to think that the connection should work using mTLS, but `curl` fails. The istio-proxy container on the destination complains about an upstream connect error.

[2019-03-27 17:39] douglas-reid commented on #12825
If you are using 1.1.1, have you enabled policy enforcement?

[2019-03-27 17:39] chisom-igwe opened #12845 "Thrift Support for Istio"
**Describe the feature request**
This feature is necessary because at my company, we use thrift for services and currently, it is not supported by Istio. A conversation on the this has been discussed in the Istio slack channel [here](https://istio.slack.com/archives/C38CF1PEC/p1552688874543900). It seems that the general steps include:

- [ ] Adding Integration with Envoy's Thrift proxy filter
- [

[2019-03-27 17:41] douglas-reid commented on #12634
I'm going to close this issue, as the fix is in `master` and `release-1.1` and will be part of the `1.1.2` release, scheduled for release on 4/1/2019.

[2019-03-27 17:58] jshaughn opened #12846 "Report GRPC response codes when protocol is GRPC"
This issue stems from the discussion thread [found here](https://discuss.istio.io/t/grpc-status-codes-in-telemetry/354).

Currently the istio_requests_total telemetry reports HTTP response codes (I've ever only seen 200) for GRPC requests (when request_protocol="grpc").   This doesn't seem correct given that GRPC has its own [set of response codes](https://github.com/grpc/grpc/blob/master/doc/stat

[2019-03-27 18:02] PiotrKlimczak commented on #11937
All,

I am still experiencing this issue on 1.1.1 installed to OKD 3.11.
Sidecar with 128mb limit was crashing randomly every few minutes with OOM.
Increased limit to 256mb and sidecar is now reporting using 200mb soon after the start.

In our case, we are not adding any new Istio rules. It all happens with no changes to Istio config.
What we do not understand is why memory footprint is so high in

[2019-03-27 18:10] ozevren commented on #12750
The issue turned out to be change of behavior with the legacy CRDs. The K8s deployment is not requesting the legacy CRDs. The native version was instantiating the Mixer instance directly, and the default value for the legacy CRD flag causes it to still process legacy CRDs.

I don't have bandwidth to convert the tests to use the new adapter model. I'll disable the K8s version of the tests. I'll kee

[2019-03-27 18:16] #7666 closed

[2019-03-27 18:33] philrud commented on #12801
@emedina @hgontijo I wasn't able to reproduce it yet with a couple of rather trivial examples that I've tried. Could you please provide some extra details so we know what to look for? Specifically:

* please share some yamls -- at least your gateway/virtualservice definitions
* please provide installation options/flags that were used to install 1.1.0/upgrade to 1.1.1
* is this only happening as th

[2019-03-27 18:34] gargnupur commented on #12634
@douglas-reid: I think this is not fixed completely.. It is fixed in stackdriver adapter but for the issue reported here, it should be fixed in stdio adapter too... I will work on a fix for that...

[2019-03-27 19:05] douglas-reid commented on #12750
@kyessenov can you take a look at this as part of your CRD clean up work?

[2019-03-27 19:08] philrud commented on #12801
Okay, looks like I'm able to reproduce 404s during a short time window right after 1.1.0 -> 1.1.1 upgrade (eventually they go away in my case though, would be great if anybody who's hitting this issue could confirm whether the 404s are permanent).

This seems to be related to my changeset: https://github.com/istio/istio/pull/12556

[2019-03-27 19:16] #9921 closed

[2019-03-27 19:36] PiotrKlimczak commented on #12453
I am new to Istio, but we are apparently affected by the problem mentioned in this issue- oom due to the too low initial limit using istio 1.1.1.
We have increased the limit to 256 for sidecar and it seems to be stable.
What I do not understand however is why memory footprint it so high, while elsewhere I can find that it should be taking like 30mb in a "normal" scenario.
To clarify we are getting

[2019-03-27 19:44] #11560 closed

[2019-03-27 19:59] vhosakot commented on #10883
I don't see this issue in istio 1.1 RC3.

[2019-03-27 20:16] gargnupur commented on #12634
PR in review for fix in stdio adapter: https://github.com/istio/istio/pull/12850#issuecomment-477329496

[2019-03-27 20:51] mehemken opened #12854 "Envoy access logs are not showing up"
**Describe the bug**
I am not getting any access logs even though I am definitely accessing my service.

**Expected behavior**
Envoy access logs.

**Steps to reproduce the bug**
New installation of Istio 1.1 with the `helm template` method on GKE 1.10 (Can we get a version compatibility table). Then do a
`kubectl logs -n namespace pod-name-adkd89j37823kjw3 | grep -v deprecated`
The `grep` there is

[2019-03-27 20:53] JayG-EBSCO opened #12855 "helm upgrade --install istio-init fails for upgrade when going from 1.1.0 to 1.1.1."
**Describe the bug**
I've been working on testing upgrades via helm from 1.1.0 > 1.1.1. Using helm upgrade --install istio-init returns an error when trying to apply the upgrade over an existing 1.1.0 deployment of the crds. It only appears successful if I add the --force flag.

The following error text is received:

Istalled Istio version is:  istio-1.1.0
Istio version is different: Upgrading...

[2019-03-27 20:59] douglas-reid commented on #12854
In 1.1, you need to enable Envoy access logs. See: https://istio.io/docs/tasks/telemetry/logs/access-log/ for more details.

[2019-03-27 20:59] #12854 closed

[2019-03-27 21:02] howardjohn opened #12856 "Previous container log spams tests"
Example output:
[code]
This is especially annoying because prow highlights this as an error. The pod usually doesn't have a previous log, we don't need all this verbosity when this happens.

[2019-03-27 21:10] kyessenov commented on #12750
We can keep old style CRDs in some parts of the code base since we still support them. This can be a process to migrate all configs and switching flags one-by-one.

Can we change flags in TF to use old style CRDs for now?

[2019-03-27 21:35] mehemken commented on #12854
Thank you @douglas-reid

[2019-03-27 21:44] kramvan1 opened #12859 "Kubernetes deprecating resource versions"
**Describe the bug**
Kubernetes is deprecating resource versions, need to move to the new levels
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.14.md#deprecation
- 1.16: `Deployment`, `DaemonSet`, `ReplicaSet` resources from `extensions/v1beta1`, `apps/v1beta1` and `apps/v1beta2` APIs.
- v1.16: `PodSecurityPolicy` and `NetworkPolicy` resources from `extensions/v1beta1` API.
- v1.

[2019-03-27 21:45] kramvan1 commented on #12859
@linsun  fyi

[2019-03-27 21:48] ozevren commented on #12750
These tests were meant to be baseline tests for using Mixer in the new Test Framework. I think it might be ok to keep the existing behavior for the short term. This can be done by modifying the helm values used when deploying Istio for the Mixer cases, in the test setup phase.

However, I think the thing that will be most beneficial is updating these, so that it works with the latest & the greates

[2019-03-27 21:50] howardjohn commented on #12601
Test is still disabled, I am working on getting it back up now

[2019-03-27 21:52] ozevren commented on #10989
This is fixed.

[2019-03-27 21:52] #10989 closed

[2019-03-27 21:56] justinburke commented on #12674
The `validity_duration` request parameter is advisory and it is ultimately up to the CA to determine the expiry for any certificates it issues.

Some concerns I have about adding a response field indicating the expiry of the certificate:
1) As Oliver points out, it is redundant since that same information is contained in the certificate itself. The canonical source for certificate expiry is the ce

[2019-03-27 22:16] #10117 closed

[2019-03-27 22:39] elvizlai commented on #12825
@bianpengyuan yes, of course.
@douglas-reid sorry, what do you mean policy enforcement? and how to enable or disable?

[2019-03-27 23:16] #8352 closed

[2019-03-27 23:30] quanjielin commented on #12674
After second thought, I agree introduce extra params like cert expired time in CA API interface isn't extensible.

Since Cert may be different format from different CA, ```ParseCertificate``` may work for most case, but may not cover all(there are other APIs like ```ParsePKCS1PublicKey``` and ```ParsePKIXPublicKey```).
So instead of hardcode parsing cert logic in nodeagent main codepath, I prefer

[2019-03-27 23:48] louiscryan commented on #12760
Yeah, that's definitely an issue.

Even if we don't make 503 the default its certainly reasonable to allow control over the 'this service wasn't mapped in' status codes.

A reasonable alternative to 503 would be '403 Forbidden', would be good to hear if that would cause application-level issues for you?.

403 indicates that the failure state is permanent and not a function of a temporary network o

[2019-03-27 23:50] justinburke commented on #12674
Hi @quanjielin, why would we need to parse the public keys? The public keys do not contain expiry information.

The expiry is expressed in the certificate via `notBefore` and `notAfter`:
https://tools.ietf.org/html/rfc5280#section-4.1.2.5

[2019-03-27 23:50] louiscryan commented on #12601
The fsnotify stuff is removed so it should be much more stable now

[2019-03-27 23:58] quanjielin commented on #12674
we need to some prototype to verify the api works as expected; what do you think the plugin model to delegate the logic to different authn provider ?

[2019-03-28 01:13] evanlouie commented on #12469
Just based on some experimentation, I don't believe the FQDN is actually used when listing `gateways` for a VirtualService. Instead, it delimits on either `.` or `/`.

**If using `.` notation**, anything matching a `([^\.]+)\.([^\.]+)(\..+)?` pattern will be treated the same.  Only using the first two capture groups:

`name.namespace.svc.cluster.local` is treated the same as `name.namespace`, `nam

[2019-03-28 01:16] #10124 closed

[2019-03-28 01:17] huisebug commented on #11638
Where is the installation address of a separate CNI template?

[2019-03-28 01:38] elvizlai commented on #12825
@douglas-reid Thanks, it works!
By the way, can istio adapter set response header using `grpc.SetHeader(ctx, md)`? I tried but not worked.

[2019-03-28 01:44] kyessenov opened #12863 "Mixer takes >10s to receive first snapshot from Galley"
Example:
[code]
(source: https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/12711/e2e-dashboard/14038/artifacts/dashboard-test-d04eec5ec43944e5917d54/istio-telemetry-6894cbc4d-sh92x_container:mixer.prev.log)

This is more than the expected liveness threshold in Mixer (5s) and causes a livelock with crashlooping.

/cc @ozevren

[2019-03-28 02:26] kyessenov commented on #12863
It's actually second snapshot, not first...

[2019-03-28 02:26] #12863 closed

[2019-03-28 02:53] hzxuzhonghu commented on #12859
duplicate with #12211

[2019-03-28 04:41] Liv1020 commented on #10336
you can set test-health

[2019-03-28 06:22] Yisaer opened #12866 "'lookup failed: 'request.host'' in istio-telemetry with Istio 1.1.1"
**Describe the bug**
I upgrade istio from 1.1.0 into 1.1.1. After I installed istio 1.1.1 and refresh all the pods with sidecar proxy. I apply follwoing **Metric** which works well in istio 1.1.0 and 1.0.6. And I found that the following **Metric** didn't work well and there are lots of logs in **istio-telemetry** showed

[code]

**Steps to reproduce the bug**
Install Istio 1.1.1 , and apply the *

[2019-03-28 06:41] wansuiye opened #12867 "telemetry restart at intervals"
**Describe the bug**
{{ Succinctly describe the bug }}

telemetry restart at intervals in istio 1.1.1 which  i installed with disable galley, mcp, and policy.
in 1.0.6 it works well.

**Expected behavior**
{{ What did you expect to happen? }}
[code]
the telemetry log:
[code]

**Steps to reproduce the bug**
{{ Minimal steps to reproduce the behavior }}

**Version**
{{ What version of Istio and Kube

[2019-03-28 06:49] Tao526 opened #12868 "Fail to set gateway to service's differernt version with weight ( Route rules have no effect on ingress gateway requests )"
With samples/helloword, I want to set routing to version v1 with weight 20 ( version v2 with weight 80).
I write 2 yaml files as following:

apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: helloworld
spec:
  hosts:
    - helloworld
  http:
  - route:
    - destination:
        host: hello
        subset: v1
      weight: 20
    - destination:
        host: helloworl

[2019-03-28 06:51] wansuiye commented on #12654
@linsun
the ingressgateway service use nodeport which is 3xx80, yaml such as:
[code]
and the internal service is foo, the serviceport is 8080:
[code]
the vs yaml:
[code]
if request the foo.xxx.io:30080/health, have to set the host of the vs to "foo.xxx.io:30080", however the galley return error.

[2019-03-28 07:32] Stono commented on #11696
<img width="1680" alt="Screenshot 2019-03-28 at 07 30 52" src="https://user-images.githubusercontent.com/1486729/55138507-8f3b9100-512b-11e9-86b6-b87d2bfe1a19.png">
yayyy fixed.  Thanks @douglas-reid and @objectiser

[2019-03-28 07:32] #11696 closed

[2019-03-28 08:12] #12825 closed

[2019-03-28 08:16] emedina commented on #12801
@philrud Please find here the answers to your questions:

* please share some yamls -- at least your gateway/virtualservice definitions
_https://gist.github.com/emedina/ba73a409158d8f0bfbfd7c60bfdd4240_

* please provide installation options/flags that were used to install 1.1.0/upgrade to 1.1.1
is this only happening as the result of an 1.1.0 -> 1.1.1 upgrade? did you have a chance to try reprodu

[2019-03-28 08:35] c0d1ngm0nk3y commented on #12122
We changed all images to see if the tests are OK. Except minor issues the required tests are fine. The not required are sometimes hard to judge :(

PRs:

#12746 (scratch images)
#12741 (proxyv2)
#12788 (ubuntu based)
#12869 (proxy_init)

[2019-03-28 08:41] briancecker commented on #10194
This has already been marked as stale, but would it be possible to get an update on this from a maintainer? I would also like this to be enabled in order to allow rate limiting on retries. I don't think this is necessarily a bug, it's just not enabled in the envoy configuration pushed by pilot as far as I can see.

Enabling this looks straight forward, but the only question I have is whether I sho

[2019-03-28 09:51] elevran commented on #12224
not sure I follow. If you open 443 for cross cluster communication, won't that include any service running on the remote cluster (i.e., user created services, Istio services such as Pilot and Mixer, and the `kubernetes` service to access the API masters)? Why are we tracking these separately?

[2019-03-28 09:59] hpohl commented on #12801
I am also getting 404s, but they appeared already shortly after upgrading to 1.1.0 from 1.0.6. Upgrading to 1.1.1 did not change anything. Trying to reproduce it locally on a minikube.

[2019-03-28 11:03] Liv1020 commented on #10336
@anthonyhaussman you use tcp liveness?

[2019-03-28 11:09] robertpanzer opened #12873 "OutboundTrafficPolicy should be configurable per Workload"
**Describe the feature request**
Currently the Outbound Traffic Policy can only be configured cluster wide.
Additionally the default is `ALLOW_ANY` which is also preferred by many (even though I have a completely different opinion on this for various reasons).

In larger clusters dedicated applications might not want this behavior, for example to make sure that a staging environment cannot access

[2019-03-28 11:56] vadimeisenbergibm commented on #12224
You need to configure explicitly access from sidecars to remote Pilot and Mixer, and to configure access to a remote kube-apiserver by Pilot.

[2019-03-28 13:26] marcin-kasinski commented on #12755
Additional info:

In pilot Logs I can see:

`[2019-03-28 08:53:36.037][59][critical][main] [external/envoy/source/server/server.cc:86] error initializing configuration '/etc/istio/proxy/envoy.yaml': Invalid path: /etc/certs/cert-chain.pem
`

[2019-03-28 13:41] anthonyhaussman commented on #10336
@Liv1020 I use HTTP liveness:
[code]

[2019-03-28 13:53] msoule-cb opened #12876 "Helm chart values.yaml missing certmanager"
The top level values.yaml supplied with the helm chart does not have:

`certmanager:
    enabled: true/false`

The other sub-charts have their enable flag surfaced at the top level values.yaml. Should include certmanager as well.

[2019-03-28 13:56] aguromanodg opened #12877 "ServiceRoleBinding for Google Cloud Function"
**Describe the bug**
I'm trying to add a Google Service Account into `ServiceRoleBinding` to authorize a Google Cloud Function to certain services.

**Expected behavior**
I expect the GC Function with an specific ServiceAccount as identity, to be authorized according to a ServiceRoleBinding and ServiceRole to perform actions.

**Steps to reproduce the bug**

1. With `ClusterRbacConfig` enabled,
2.

[2019-03-28 14:15] jnsvd opened #12879 "Unknown flag used in istio-policy sidecar mixer"
**Describe the bug**
The `istio-policy` pod can't be started because in the `mixer` sidecar an unknown flag is passed as argument: `Error: unknown flag: --useTemplateCRDs`

The unknown argument is defined in [this](https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/mixer/templates/deployment.yaml) file, on line 68.

**Expected behavior**
The `istio-policy` pod starting

[2019-03-28 14:54] esnible opened #12880 "Document K8s cluster node resource requirements for the Istio profiles"
What is the minimum number of nodes, and the CPU and memory of the nodes, for the various Istio profiles?

Put this into the documentation under the profiles, probably at https://istio.io/docs/setup/kubernetes/install/helm/

[2019-03-28 15:00] howardjohn commented on #12879
This change got added yesterday, to the master branch: https://github.com/istio/istio/commit/a64b2d1f5c0c2aabbb596e738ce128ae7293e6c6

Are you sure you are running 1.1.0? Please run
[code]
So we can verify?

If those are using 1.1.0, then did you install using the Helm chart from master?

[2019-03-28 15:18] Stono commented on #12760
Any 4x code is miss-leading in my opinion and isn't indicative of a gateway problem (which is what this is).

502 BAD GATEWAY is easily the best code for this.

This is that much of an issue that I need to build a monkeypatched version of `1.1.1` proxy to deal with it.  Can anyone point me to the code where the 404 is being returned from?

[2019-03-28 15:34] AshishThakur commented on #12868
Istio Version: 1.1.0
I observe a similar behaviour. I created a new virtualservice for helloworld which is shipped in samples
[code]
And created a destionationrule
[code]

I have another sleep service running and in case i send the request the virtualservice i just applied seems to be working fine and all requests are routed to v1 but in case i access it via gateway the virtualservice does not see

[2019-03-28 15:38] jnsvd commented on #12879
I can't install `istioctl`, getting a 404 when running `curl -L https://git.io/getIstio | sh -` (as instructed [here](https://istio-releases.github.io/v0.1/docs/tasks/installing-istio.html)).

I've installed using Helm repository https://storage.googleapis.com/istio-prerelease/daily-build/master-latest-daily/charts. The image in the cluster is `gcr.io/istio-release/mixer:master-latest-daily`, imag

[2019-03-28 15:42] howardjohn commented on #12879
Thanks for pointing out the 404.

You are using they daily builds from master, which contains code that is not supported or thoroughly tested, etc.

Please install from the release at https://github.com/istio/istio/releases

More details at https://istio.io/docs/setup/kubernetes/install/

[2019-03-28 15:43] arielb135 opened #12881 "Authorization for http services not working"
**Describe the bug**
Following the tutorial: https://istio.io/docs/tasks/security/authz-http/
when enabling the global istio authorization and supplying the ServiceRole and ServiceRoleBinding - i still see "RBAC access denied".
i'm not sure if it's again documentation issues or it's indeed a bug.

**Expected behavior**
See the product page after applying the exclusion by namespace

**Steps to repr

[2019-03-28 15:51] jnsvd commented on #12879
Thanks, I was looking for a more stable repository but I didn't manage to find it.

There seem to be no instructions for adding the correct, stable repository here. It may be more clear to add it also [here](https://github.com/istio/istio/tree/master/install/kubernetes/helm/istio), and include instructions for adding the repository on https://istio.io/docs/setup/kubernetes/install/?

I will try ou

[2019-03-28 15:56] howardjohn commented on #12879
Yes currently our documentation doesn't recommend using helm repos and instead downloading the release and installing from there. I believe someone was planning on adding the repo info, I'll follow up there. Thanks for the feedback

[2019-03-28 16:17] shakti-das commented on #11835
Noticed the same issue in the latest Istio 1.1.1 as well. It's strange that a misconfiguration like this breaks Pilot's discovery.

[2019-03-28 16:26] sdake commented on #12122
@c0d1ngm0nk3y - curious if you have tried out any applications such as bookinfo visually.  If so, could you post a screenshot?

Cheers
-steve

[2019-03-28 16:32] MrMage opened #12882 "Setting up a ServiceEntry for HTTPS/TLS with SNI fails with Istio on GKE"
**Describe the bug**
Using the example config

[code]

from https://istio.io/docs/reference/config/networking/v1alpha3/service-entry/, running `curl https://www.googleapis.com` fails with `curl: (35) error:1408F10B:SSL routines:ssl3_get_record:wrong version number` on Ubuntu 18.04 and with `curl: (35) error:140770FC:SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol` on Ubuntu 14.04. The same co

[2019-03-28 16:34] ozevren opened #12883 "Race Test Failure: TestLDSWithDefaultSidecar"
https://circleci.com/gh/istio/istio/367772
[code]

[2019-03-28 16:34] markmssd commented on #9504
@nmittler That got me a step further! But, is it safe to do that for a production release? Doesn't it seem more like a hacky-ish solution?

[2019-03-28 16:38] howardjohn commented on #12879
Also -- just noticed the docs you are using were for v0.1 - released 2 years ago, which is why you got a 404. Make sure you are using the latest at istio.io.

I am going to close this since I think it should be working now, but feel free to reopen if you have other issues.

[2019-03-28 16:39] jnsvd commented on #12879
The installation is now failing when installing `Istio-init`:

[code]

[2019-03-28 16:43] howardjohn commented on #12879
Sorry, think we ran into another issue, we have been having some issues with the helm repo as it something new we just added.

In the meantime, can you use 1.1.0 (https://storage.googleapis.com/istio-release/releases/1.1.0/charts) which should work, or install without using the repo.

[2019-03-28 16:46] howardjohn opened #12884 "Helm repo for 1.1.1 uses wrong hub"
`hub: gcr.io/istio-release` should be `hub: docker.io/istio`.

1.1.0 is correct, 1.1.1 is wrong.

 https://storage.googleapis.com/istio-release/releases/1.1.1/charts/istio-1.1.1.tgz

@mandarjog @utka

[2019-03-28 16:46] howardjohn commented on #12879
Created an issue for that here: https://github.com/istio/istio/issues/12884
Thanks for finding

[2019-03-28 16:47] louiscryan commented on #12760
I'm not sure I entirely agree that 502 is universally the best option but it may be the most pragmatic.

In the meantime have you looked into defining your own 'black hole' virtualservice that sets

https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#HTTPFaultInjection-Abort

The order of routing of the hosts referenced in a Sidecar is ordered so if you did something like..

[2019-03-28 17:02] Stono commented on #12760
As it stands we have 190 Sidecars in isolated namespaces, it feels like a global problem for me than something that i need to configure on each sidecar.

[2019-03-28 17:11] Stono commented on #12760
@louiscryan any idea where i can find the 404 response in code?

[2019-03-28 17:11] andraxylia commented on #12551
Would this be solved if we split the inbound and outbound listeners?

[2019-03-28 17:16] esnible commented on #12803
@ozevren I need advice.  I wrote automated tests for `--server-dry-run` as part of https://github.com/istio/istio/pull/12670/commits/d187dbee30ca4198e5847ef005e7dba35a39cf36 .  But the next commit backed them out because the tests can't pass on the pipeline K8s clusters.  I have neither the skill nor permission to switch the build K8s version.

[2019-03-28 17:28] howardjohn opened #12885 "prow/e2e-bookInfoTests-trustdomain.sh stuck forever"
See: https://github.com/istio/istio/pull/12844

It has been in state:

```prow/e2e-bookInfoTests-trustdomain.sh Expected — Waiting for status to be reported```

For over 24 hours

[2019-03-28 17:32] kyessenov opened #12886 "galley does not validate new-style Mixer CRDs"
Adding invalid handlers and instances seems to pass validation.
/assign @kyessenov

[2019-03-28 17:33] kyessenov commented on #11955
Closing since we removed the command (needs a doc update).

[2019-03-28 17:33] #11955 closed

[2019-03-28 17:34] TimBozeman commented on #9504
When I did that the istio-proxy sidecar reports ready, but doesn't work.

[2019-03-28 17:35] c0d1ngm0nk3y commented on #12122
@sdake Do I sense a lack of trust in the tests? :) It didn't came to my mind so far - but I will do so tomorrow.

[2019-03-28 17:37] howardjohn commented on #12873
Should be a pretty simple change, just need to update here:
https://github.com/istio/istio/blob/4074b30567f6569722ffb01f573b1c2bcc33c1a9/pilot/pkg/networking/core/v1alpha3/listener.go#L199-L205

To read from Sidecar config first.

It would require changing the API though

@rshriram @costinm

[2019-03-28 17:37] andrewjjenkins commented on #12551
@andraxylia Yes definitely, that's my "Option 2" up above.  I think there are other reasons why that would be nice.  How to do it will take some discussing...

[2019-03-28 17:40] robertpanzer commented on #12873
Yes, I was already looking exactly at that line :)

[2019-03-28 17:41] markmssd commented on #9504
@TimBozeman same for me! Trying to get `bookinfo` app to work now

[2019-03-28 17:42] viharikrishna commented on #9943
@peter-fe We are facing a similar kind of issue. Did you get a chance to reproduce this?

[2019-03-28 17:49] howardjohn commented on #12642
Change has been merged into Envoy - not sure of our process for picking up Envoy changes, but this will be fixed once we do

[2019-03-28 17:59] utka commented on #12884
Fixed manually.

[2019-03-28 18:01] howardjohn commented on #12879
1.1.1 is now fixed, so you can use that as well

[2019-03-28 18:01] #12879 closed

[2019-03-28 18:06] utka commented on #12885
I don't think that's correct, I just approve the change to enable the test https://github.com/istio/test-infra/pull/1193

[2019-03-28 18:09] howardjohn commented on #12885
I reran the test and it worked fine, so if we aren't seeing this anywhere else I guess its fixed

[2019-03-28 18:09] #12885 closed

[2019-03-28 18:10] yangminzhu commented on #12881
@arielb135 From the log it seems you didn't enable the authentication for the service, the `source.namespace` attribute is depending on the authentication results, could you enable authentication and try again? Thank you.

[2019-03-28 18:16] JayG-EBSCO commented on #12855
Probably worth noting, this has been the case using helm 2.10.

[2019-03-28 18:17] costinm commented on #11841
sounds P0.

I assume this is only about the service-to-service - Gateway should be able to route and load balance normal ingress to any endpoints, while respecting the normal load balancing.

[2019-03-28 18:18] YingjunHu opened #12889 "[helm] Change documentation to pull the stable release?"
**Describe the feature request**
I want to have the documentation about how to pull the stable helm chart release.

Right now the readme in any branch or tag (such as master and release 1.1.0 or 1.1.1 that I checked) are all adding the daily-release repository to helm. `https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/README.md#L110`

I'm not sure if I missed the stable rel

[2019-03-28 18:29] pitlv2109 commented on #12877
The problem is that Istio mesh uses Kubernetes service accounts, which are different than Google Cloud service accounts. My guess is that you have to federate Google Cloud service account. This is an interesting use case. I'll see if I can find out more.

[2019-03-28 19:06] esnible commented on #12085
Closing as a duplicate of https://github.com/istio/istio/issues/10872 .  Adding `area/config` to that issue.

[2019-03-28 19:18] mingfang commented on #10872
Apparently there's a tool that can automate the generation of the CRD from code https://github.com/kubernetes/kubernetes/issues/59154

[2019-03-28 20:31] esnible commented on #10872
I was able to generate YAML in the openAPIV3Schema format for our objects with `protoc -I. -I${GOPATH}/src/github.com/grpc-ecosystem/grpc-gateway/third_party/googleapis -I/Users/snible/go/src/istio.io/istio/vendor/github.com/gogo/protobuf --swagger_out=logtostderr=true:. <.protoc file>` after installing `github.com/grpc-ecosystem/grpc-gateway/protoc-gen-swagger`.  Unfortunately I haven't been able

[2019-03-28 20:56] philrud commented on #12801
Thanks, @emedina.

So this definitely has nothing to do with #12556 as that change only affects HTTPS routes and all of @emedina's gateways are HTTP. I've tried that setup fitted with a few helloworld-like services -- that actually works for me, I can't reproduce the 404s.

Also looks like 404s indeed aren't new as @hpohl mentioned. I can reproduce the same spurious 404s during 1.0.x -> 1.1.0 upgr

[2019-03-28 21:09] #7645 closed

[2019-03-28 21:28] ozevren opened #12891 "Stale bot ignores "no stalebot" label."
PRs tagged with "no stalebot" label are still being tagged as stale by the stale bot. The label should be honored.

[2019-03-28 22:06] mingfang commented on #10872
I can test it.  Please send me the generated CRDs.

[2019-03-28 22:32] howardjohn opened #12892 "integration tests have some leftover state effecting -count"
Running `go test ./tests/integration/pilot/sidecar_api_test.go --log_output_level tf:debug -v -count 5` I get this output:

[code]

We would expect to see each of the failures once (for other reasons), but instead we see multiple times.

It seems like for each run, the previous runs configuration is also applied. So the first run ones one set of config, and the 5th run runs 5 sets of the same conf

[2019-03-28 22:47] vhosakot commented on #7459
I saw `istio-pilot` in 1.1 rc3 consume a lot of CPU and failed to start due to the following message in `kubectl describe <istio-pilot pod name> -n=istio-system`:

[code]

I was able to reduce it by doing `--set pilot.resources.requests.cpu=30m` when installing istio using helm.

https://github.com/istio/istio/blob/1.1.0-rc.3/install/kubernetes/helm/istio/charts/pilot/values.yaml#L16

[2019-03-28 22:49] howardjohn commented on #12889
Install documentation is kept at https://istio.io/docs/setup/kubernetes/install/, I don't think we want to maintain two sets of docs and try to keep them up to date with every release, etc.

That being said, we do have the readme you linked, and it is outdated in many ways, so we should probably clean that up

[2019-03-28 22:56] howardjohn commented on #12891
It is in the config:
https://github.com/istio/istio/blob/master/.github/stale.yml
If this is happening maybe a bug with the bot

[2019-03-28 23:05] mdgreenfield opened #12896 "istioctl command to view applied Sidecar configuration"
**Describe the feature request**
When using namespace isolation and defining `Sidecar` config provide an `istioctl` command to identify what `Sidecar` configuration has been applied to a particular Envoy.

**Describe alternatives you've considered**
If there is a better solution I'd be interested in those as well.

**Additional context**

/cc @howardjohn @hmakkapati

[2019-03-28 23:12] YingjunHu commented on #12889
@howardjohn Thanks for the clarification. I understand that we wanna keep the documentation in istio.io website. But what I'm thinking is that it will be better if developers can download the charts easier.

The best documentation I can find to install istio using helm is `https://istio.io/docs/setup/kubernetes/download/`. There we can know the shell command to download the whole istio repo, and h

[2019-03-28 23:23] howardjohn commented on #12889
Ok so the problem is that we don't have documentation for the repo essentially?

We are working on adding this to the docs. In the mean time, the Helm repos are linked at https://github.com/istio/istio/releases under "Helm Chart Index"

[2019-03-28 23:27] YingjunHu commented on #12889
Well the issue referenced is exactly what I want. Will wait for it to be fixed. Thank you!

[2019-03-28 23:28] howardjohn commented on #12889
I'll close this in favor of that issue then

[2019-03-28 23:28] #12889 closed

[2019-03-28 23:34] louiscryan commented on #12760
Sure.  The config-gen is

httproute.go:buildSidecarOutboundHTTPRouteConfig

there's an equivalent example for Gateway (not Sidecar) that is explicitly generating a wildcard match to serve 404 if no routes are defined

gateway.go:buildGatewayHTTPRouteConfig ~line 286-293 (creates a DirectResponse) which is effectively what you'd want to do though it should be done before host merging occurs in 'mer

[2019-03-28 23:36] ozevren commented on #12891
I guess exemptLabels needs to be applied to pull requests as well.

[2019-03-28 23:37] nmittler commented on #9504
Right... in that case, you're disabling the entire readiness probe altogether.  There are a couple of annotations that are at play here:

**status.sidecar.istio.io/port**: defines the port for the readiness/liveness probes for the sidecar. If this is set to `0`, the readiness probe is disabled and the sidecar will always be "ready".

Assuming that is non-zero, readiness is enabled for the sidecar.

[2019-03-28 23:52] howardjohn commented on #12891
I think you can make it top level as well

On Thu, Mar 28, 2019, 4:37 PM Ozben Evren <notifications@github.com> wrote:

[2019-03-29 00:09] #9802 closed

[2019-03-29 01:02] esnible commented on #10872
This is somewhat hand-edited, but try

[code]

[2019-03-29 01:10] clyang82 commented on #12348
It is working after apply sidecar to do namespace isolation.

[2019-03-29 01:10] #12348 closed

[2019-03-29 01:10] mingfang commented on #10872
The original CRD from istio 1.1.1
[code]

This is from the updated CRD
[code]

[2019-03-29 01:22] kyessenov opened #12900 "envvarlinter is spammy"
See https://circleci.com/gh/istio/istio/369275?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link for the log

[2019-03-29 02:07] hzxuzhonghu commented on #10160
It's 1.2 now

[2019-03-29 03:38] foshantiger commented on #12866
similar error with Istio 1.1.1:
2019-03-29T03:23:08.488849Z     error   error creating instance: destination='tracespan:handler.zipkin.istio-system(zipkin)', error='evaluation failed at [default.tracespan.istio-system]'StartTime': 'lookup failed: 'request.time'''

**Version**
Kubernetes v1.10.10 , Istio 1.1.1

**Installation**
Istio installed by helm install

[code]

[2019-03-29 04:50] davidebbo opened #12903 "Enabling Istio breaks some apps that make outgoing requests"
**Describe the bug**

The assumption I'm making is that when enabling Istio in PERMISSIVE mode, it should not break any apps. This assumption was confirmed by @geeknoid.

But in the case of https://github.com/GoogleCloudPlatform/microservices-demo, the currency pod becomes broken when Istio injection is enabled.

**Steps to reproduce the bug**
- Start with a clean cluster
- Clone https://github.co

[2019-03-29 04:58] hzxuzhonghu commented on #12882
/cc @rshriram @costinm

[2019-03-29 06:12] Tao526 commented on #12868
We have found the solution in "Route rules have no effect on ingress gateway requests":
https://istio.io/help/ops/traffic-management/troubleshooting/

I think this should be easier to be found.

[2019-03-29 06:40] PiotrKlimczak commented on #12453
I have managed to drop memory footprint by namespace isolation to approx 70mb.
What was surprising for me, is that the sidecar page: https://istio.io/docs/reference/config/networking/v1alpha3/sidecar/ does not mention memory impact.
I found that information here instead https://istio.io/docs/concepts/traffic-management/ on the very bottom of the page. I suppose it would be easier for people who ar

[2019-03-29 06:51] hzxuzhonghu commented on #12882
I've tested your config, and only replace add one more host with `www.github.com`, and I can access by `curl https://www.github.com -ivk`. But I can not access  `api.dropboxapi.com`. I know this is expected, because in my vm, I can not access `api.dropboxapi.com`
[code]

[2019-03-29 07:07] planeo1105 opened #12904 "Error from server (BadRequest): a container name must be specified for pod istio-telemetry-78c647b78c-zp5gs, choose one of: [mixer istio-proxy]"
**Describe the feature request**
Use helm to deploy this error in the version of isti 1.1.1

# kubectl logs -f istio-telemetry-78c647b78c-zp5gs -n istio-system
Error from server (BadRequest): a container name must be specified for pod istio-telemetry-78c647b78c-zp5gs, choose one of: [mixer istio-proxy]

**Describe alternatives you've considered**
nothing

**Additional context**
no

[2019-03-29 07:44] MrMage commented on #12882
@hzxuzhonghu thank you for looking into this!

I've tried with a completely new cluster now, with the following config:

[code]

Now, `curl https://fcm.googleapis.com` works. However, `curl -vv https://heise.de` indicates that this connection is _also_ routed to `fcm.googleapis.com`. Is it possible that I am simply affected by https://github.com/istio/istio/issues/9744? If so, what are my options

[2019-03-29 07:45] marcin-kasinski commented on #12755
Hello.

Any news here?

I'm 100% Istio 1.0.6 works but istio 1.1.1 doesn't.

[2019-03-29 07:48] MrMage commented on #12882
Unfortunately, I'm unable to extract the listener config:

[code]

[2019-03-29 07:55] Stono commented on #12760
Thanks @louiscryan - i'll have a read and see if there is a pragmatic way i can patch this.

[2019-03-29 07:56] Stono commented on #12896
I mean `istioctl proxy-config endpoint <proxy name>` will give you the clusters, we use this to validate our Sidecar.

[2019-03-29 07:57] MrMage commented on #12882
Okay, that was due to an `istioctl` version mismatch. The full config is attached; looks like only the service entry for `fcm.googleapis.com` is applied.

[istio-config.json.zip](https://github.com/istio/istio/files/3021603/istio-config.json.zip)

[2019-03-29 08:12] sdake opened #14162 "use case: enable the filtering of generated YAML into unique files."
Interesting use case mentioned here:

https://github.com/istio/istio/pull/11788#issuecomment-464835776

I think labels are the wrong approach for this, but this may explain why those labels werer merged in the repository in the first place.  I was never clear on why that worrk went in...

Cheers
-steve

[2019-03-29 08:45] hzxuzhonghu commented on #12882
Yeah, the two serviceEntry has duplicated port, so the first one take effect.

[2019-03-29 09:01] MrMage commented on #12882
But even when I add both hosts to the first ServiceEntry, heise.de never gets added to the config. How am I supposed to connect to more than one HTTPS service outside my cluster?

[2019-03-29 09:04] hzxuzhonghu commented on #12882
make protocol `TLS` in this case,  for other tcp protocol, one of the solution i can think of is to provide addresses in serviceentry.

![image](https://user-images.githubusercontent.com/13374016/55221522-a02bf580-5244-11e9-95d4-8de7d9fdff11.png)

[2019-03-29 09:04] hzxuzhonghu commented on #12882
![image](https://user-images.githubusercontent.com/13374016/55221569-b5088900-5244-11e9-90df-d35091834808.png)

[2019-03-29 09:05] jnsvd commented on #12884
I'm still getting errors when applying the `istio-init` chart:

[code]

[2019-03-29 09:21] MrMage commented on #12882
@hzxuzhonghu I have created the following ServiceEntries now:

[code]

**All four domains work via HTTP.** So clearly I can have more than one `ServiceEntry` on the same port, provided the hosts are different.

However, **all four domains point to `fcm.googleapis.com` when using HTTPS or TLS (see the entry for `arstechnica.com`).** Also, [the config](https://github.com/istio/istio/files/3021900/is

[2019-03-29 09:24] ibm-jason commented on #12607
@esnible A couple of things to mention on this:

1. From the master branch, I used the `istioctl collateral --bash` command option to generate the bash completion file. The place that made the most sense (to me) to store/host this file is the `./tools` directory.

2. Once the `istioctl.bash` file was generated, I sourced it with the following command:

[code]
IIUC, at this point the tab completion

[2019-03-29 09:26] ibm-jason commented on #12777
@linsun, @utka - BUMP. ☝️

[2019-03-29 09:33] hzxuzhonghu commented on #12882
Note: if should be
[code]

https works as tcp

[2019-03-29 09:45] TonyJDavies commented on #9113
Upgrading to Istio 1.1.0 has given us a more resilient installation, in that the ```503``` responses are being handled such that they are less disruptive to our applications.

Istio 1.1.0
Kubernetes : 1.13.4_1515

However, we are nevertheless seeing a continuous stream of ```503``` responses across all of our pods, making them all apparently ```unhealthy```.

It would be highly preferable to see t

[2019-03-29 09:55] Stono commented on #9113
@TonyJDavies re the log spam: https://github.com/istio/istio/issues/12642

[2019-03-29 10:04] hzxuzhonghu commented on #12642
Also these kind of logs `Using deprecated option 'envoy.api.v2.Listener.use_original_dst'. This configuration will be removed from Envoy soon. Please see https://github.com/envoyproxy/envoy/blob/master/DEPRECATED.md for details.`

[2019-03-29 10:20] ibm-jason commented on #12295
@utka - BUMP ☝️

[2019-03-29 10:24] spekr commented on #8709
Did you find a sollution @aghag10 ? We have a similar issue.

[2019-03-29 10:46] objectiser commented on #8709
@spekr Have you checked out https://istio.io/help/faq/distributed-tracing/#no-tracing ?

[2019-03-29 11:01] spekr commented on #8709
@objectiser yes we have. Unfortunately this did not help. Only service that's being traced is the jaeger-query service 😞

[2019-03-29 11:03] eperdeme commented on #12884
Same error here;

https://gcsweb.istio.io/gcs/istio-release/releases/1.1.1/charts/
[code]
[code]

[2019-03-29 11:16] StefanCenusa opened #12906 "[helm] Switching from init-container to istio-cni"
**Describe the bug**
I've tried switching from using init-containers to configure pod networking to using istio-cni. Everything worked fine, but some options from `values.yaml` were not taken into account when installing with `istio_cni: enabled: true`.

[code]

is ignored when `istio_cni: enabled: true`.

At a closer inspection, I noticed that the sidecarInjector-configmap sets `includeIPRanges`

[2019-03-29 11:36] karsten42 commented on #12625
The problem is connecting to headless services. My `service.yaml` looked like this:

[code]

As per the issues https://github.com/istio/istio/issues/10659 and https://github.com/istio/istio/issues/7495 istio doesn't work yet with headless services.

So, if you don't need your service to be headless, you can just remove `clusterIP: None` from the yaml and everything should work as expected.

I stil

[2019-03-29 11:36] #12625 closed

[2019-03-29 12:00] objectiser commented on #8709
@spekr Can you provide details of the Istio version, environment, etc? Are you trying the bookinfo example or your own - if you own does it work with bookinfo?

[2019-03-29 12:01] arielb135 commented on #12881
I've enabled it for the default namespace, that's why I get rbac error no?
If not, how to enable it for the service?

[2019-03-29 12:15] dansiviter opened #12908 "Improve Confusing Documentation Around Monitored Resource Type"
**Describe the feature request**
Template examples state `monitored_resource_type` but the table states `monitoredResourceType`. Difficult to know which is correct, however the former seems different to the general pattern of camelcase.

Examples:
* https://istio.io/docs/reference/config/policy-and-telemetry/templates/logentry/
* https://istio.io/docs/reference/config/policy-and-telemetry/template

[2019-03-29 12:31] spekr commented on #8709
- Istio version 1.1 installed with helm.
- pilot value.yaml has "traceSampling: 100.0"
- Tracing is enabled.
- Our nodes are on 1.12.5-gke.10

I use a different application, but I have tried the bookinfo example as well. This does not create tracing either.

Our setup is a little bit different from the vanilla istio install. We have the prometheus / grafana / jaeger applications outside of the ist

[2019-03-29 12:41] objectiser commented on #8709
Does your Jaeger deployment have sidecar injection disabled? e.g. https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/tracing/templates/deployment-jaeger.yaml#L22

[2019-03-29 12:44] spekr commented on #8709
No, we have it enabled (for it to be accessible through virtualservices).

[2019-03-29 13:01] jnsvd commented on #12884
@utka Can this issue be reopened?

[2019-03-29 13:42] spekr commented on #8709
I removed the sidecar from the jaeger deployment. Still no result, so I think we can rule out the sidecar as the problem.

[2019-03-29 14:00] #8509 closed

[2019-03-29 14:01] esnible commented on #12607
@ibm-jason I followed your steps and they work for me.  I am on a Mac, OSX, 10.13.x (High Sierra).  I see that I did `brew install bash-completion` back in March 2018.  `brew info bash-completion` says I am using
[code]

I also see that I put `[ -f /usr/local/etc/bash_completion ] && . /usr/local/etc/bash_completion` into my _~/.bash_profile_ at the suggestion of _brew_.

If you are not on OSX, ru

[2019-03-29 14:03] ibm-jason commented on #12607
@esnible thanks. That's good info to add to the docs. I'll try this out and report back shortly.

[2019-03-29 14:08] gdurazzo commented on #12382
[code]

i have the same issue

[2019-03-29 14:11] objectiser commented on #8709
Did you update the helm setting for `global.tracer.zipkin.address` to point to the new namespace?

[2019-03-29 14:15] ibm-jason commented on #12607
@esnible yes, it works now. The key was adding the `[[ -r "/usr/local/etc/profile.d/bash_completion.sh" ]] && . "/usr/local/etc/profile.d/bash_completion.sh"` to my `~/.bash_profile`.

So, does this location make sense to add the completion file?  Also, where on istio.io does this documentation make the most sense? I was thinking here:

https://istio.io/docs/reference/commands/istioctl/  <-- a new

[2019-03-29 14:16] howardjohn commented on #12777
Previous releases were already manually fixed I believe

[2019-03-29 14:21] geeknoid commented on #12903
We really need to be a on a plan of "deploy Istio and things just work". Otherwise, the first thing an operator must do when deploying Istio is to debug why their system stopped working.

[2019-03-29 14:25] howardjohn commented on #12904
The istio-telemetry pod has two containers - mixer and istio-proxy. Because of this, you need to specify which one you want to pull the logs from.

You have three options:
* `kubectl logs -f istio-telemetry-78c647b78c-zp5gs -n istio-system -c istio-proxy` to get proxy logs
* `kubectl logs -f istio-telemetry-78c647b78c-zp5gs -n istio-system -c mixer` to get telemetry logs
* `kubectl logs -f istio-t

[2019-03-29 14:25] #12904 closed

[2019-03-29 14:26] ericvn commented on #12607
How does this work with zsh completion?

[2019-03-29 14:29] ibm-jason commented on #12607
@ericvn Great point. Would you mind trying it out and letting us know? I don't know much about zsh...

[2019-03-29 14:31] howardjohn commented on #12903
I think this is related to https://github.com/istio/istio.io/issues/3883.

It is very frustrating/confusing that having a traffic policy of ALLOW_ANY effectively means any traffic not on port 80 (or others once you create services on them).

[2019-03-29 14:32] spekr commented on #8709
@objectiser yes. Namespace is 'operations' and the below is what I found in the ingress-deployment yaml, so I think it should be good. (Double checked the zipkin service, port 9411 is also correct).

  - --zipkinAddress
  - zipkin.operations.svc.cluster.local:9411

[2019-03-29 14:46] howardjohn opened #12911 "TestSplitHorizonEds test flake"
Example failure: https://circleci.com/gh/istio/istio/369443?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

@ymesika @hzxuzhonghu

[2019-03-29 14:57] esnible commented on #12607
I believe that page is auto-generated.  I suspect tab completion documentation would be expected at https://istio.io/docs/setup/kubernetes/download/#download-and-prepare-for-the-installation .  I suspect everyone who wants bash completion will see _istioctl.bash_ in the download and know what to do with it.  It is also possible to put it in a blog article.

[2019-03-29 14:59] ibm-jason commented on #12607
@esnible and the location of the completion file? Does the tools dir make sense?

[2019-03-29 15:04] sdake commented on #12451
this has been sorted out - closing.

[2019-03-29 15:04] #12451 closed

[2019-03-29 15:07] howardjohn commented on #12760
I want to make sure I fully understand this:

Say we add a wildcard match for each port as the (as the last virtual host) that gives a 502.

Any requests to this port that doesn't match will be get a 502, not just things that aren't imported. So `curl service.not-in-scope-namespace` will return 502, but also `curl 1.1.1.1` (or some random address). Is this what we are looking for?

We could make i

[2019-03-29 15:10] ozevren opened #12912 "Fixup bookinfo trustdomain tests"
The bookinfo-trustdomain tests are not completing and just hanging in the presubmit tests. Since it was marked as required, it was causing PRs to fail. We changed it to be non-required.

As a policy, all tests should run in the presubmit system for at least one week before being marked as required. This should give us a sense of its stability.

In addition, it needs to be registered with testgrid

[2019-03-29 15:17] ozevren commented on #12912
@c0d1ngm0nk3y, I am assigning this to you since it looks like you made a PR to enable this in test-infra. Please reassign if there is a better person that should handle this.

[2019-03-29 15:30] esnible commented on #12607
@ibm-jason I was thinking _bin_ but _tools_ will also work.  Does anyone have a preference?

[2019-03-29 15:54] esnible commented on #12903
`ALLOW_ANY` is confusing because it doesn't do what is expected.  Apparently the other choice is `REGISTRY_ONLY` but our documentation page https://istio.io/docs/reference/config/installation-options/#global-options doesn't document the setting or the other possible values.

Another reason it is confusing is that developers must ask the operator what mode Istio was installed in.  Users should be a

[2019-03-29 15:55] MrMage commented on #12882
@hzxuzhonghu I have tried using both `TLS` and `HTTPS` in that field. Neither has worked.

[2019-03-29 16:06] thomschke commented on #7136
1. When envoy starts there is a short delay until first configuration is been pushed from pilot.
2. Once a pod has been terminated all its endpoints will removed. This will immediately trigger pilot to push new envoy configs.

So I think pod lifecycle have to change to this:

- Init containers start
- Init containers finish
- Sidecars start
  - **Envoy has to wait until first configuration is been

[2019-03-29 16:16] ericvn commented on #12607
The current issue with zsh is:
[code]
because the zsh builtin `type` does not have a -t option

If I remove the -t, I can source the file, but run into:
[code]
when trying to use tab completion.

[2019-03-29 16:25] msoule-cb opened #12915 "Unable to configure volumes for Prometheus via Helm chart"
The prometheus template here: https://github.com/istio/istio/tree/master/install/kubernetes/helm/istio/charts/prometheus/templates

Does not have options for configuring persistent volumes, persistent volume claims, or storage classes. `stable/prometheus` does: https://github.com/helm/charts/tree/master/stable/prometheus/templates

Many Prometheus users will need to be able to configure those opti

[2019-03-29 16:37] esnible commented on #12607
`istioctl` uses cobra.  zsh completion for Cobra is mostly done, see https://github.com/spf13/cobra/issues/107 .  It should be possible to add a `--zsh` option to `istioctl collateral`.  The `--bash` option we have no doesn't use the new Cobra features/

[2019-03-29 16:39] sdake commented on #12122
I placed a temporary hold on the distroless work so we can discuss goals and use-cases in the env workgroup meeting on April 4th.

Cheers
-steve

[2019-03-29 16:46] sdake commented on #9504
@TimBozeman I also had this problem with Istio 1.1.0.  targetPort doesn't seem to work in a manifest.  I'm not really sure its needed - my application seemed to function correctly without it.

@TimBozeman I also had this problem with Istio 1.1.0.  targetPort doesn't seem to work in a manifest.  I'm not really sure it is needed - my application seemed to function correctly without it.

[2019-03-29 16:49] jericks-duo commented on #12795
@diemtvu Should I make another Github Issue to track this second namespace issue that @arielb135 and I are seeing? I don't want it to be lost just because it is attached to an issue that is being categorized primarily as a documentation update issue.

[2019-03-29 16:51] ericvn commented on #12607
@esnible I assume you mean we would have to add the -zsh option within istioctl to generate the file. It's not exposed at the moment. I'm not sure how many people use zsh, but all the other tools I use do support both bash and zsh for completion.

[2019-03-29 17:06] Stono commented on #12760
Hey,
Yes that's the behaviour i'd be expecting, going to `some-random-fqdn`, or `some-random-ip` should both be `502` gateway errors unless they're defined as services.

404 is majorly miss-leading and doesn't tell the sender that there was an issue talking to the remote service, it tells the sender that the remote service returned 404, which is not true.

[2019-03-29 17:09] ibuildthecloud commented on #12823
@hzxuzhonghu Can you drop support for 1.9?  It's no longer supported by the community I believe.  In general I think 1.10 is a reasonable lower bound.

[2019-03-29 17:10] douglas-reid commented on #12866
Is it possible that you are matching on what is considered TCP traffic?  Your match rules will fire for all traffic. My suspicion is that something is different regarding your config and the mapping to protocols.

[2019-03-29 17:13] douglas-reid commented on #12915
The addon that Istio exposes is not meant to expose the full set of Prometheus configuration options, etc. As you point out, there are many different repos that offer full-fledged Prometheus installations.

In the 1.2 timeframe, we hope to ease support for existing Prom installs, etc. During that time, we can revisit how configuration options get exposed.

[2019-03-29 17:18] msoule-cb commented on #12915
Then what is the use case for having Prometheus installable from Istio's Helm chart at all?

[2019-03-29 17:31] Stono commented on #12760
Just to update this with out slack chat for clarity of others reading:

route not defined in Sidecar, `REGISTRY_ONLY` = gateway error (502)
route not defined in Sidecar, `ALLOW_ANY` = off to the service

https://istio.io/docs/tasks/traffic-management/egress/

[2019-03-29 17:42] esnible commented on #12886
@kyessenov is it OK if I make a PR for this?

[2019-03-29 17:42] utka commented on #12884
Updated istio-init as well

[2019-03-29 17:43] esnible commented on #12607
We would have to add the -zsh option.  Most or all of the functionality has been implemented in Cobra in the last six months.  We would need someone with zsh to test it.

[2019-03-29 17:50] utka commented on #12777
Manually fixed

[2019-03-29 17:55] justinburke commented on #12674
I suggest that the criteria to make that decision should be: do you expect that each plugin will perform essentially the same logic? Or do you anticipate a need for customization?

The use of `notBefore` and `notAfter` should be universal, as in, all certificates should contain that same information (per the link in https://github.com/istio/istio/issues/12674#issuecomment-477389702 above).

[2019-03-29 17:58] ibm-jason commented on #12777
@utka, @linsun sounds like we can close this one then, correct?

[2019-03-29 17:58] kyessenov commented on #12886
Sure! Master first, then we can make a cherry-pick for a backport and see if we can get an approval.

[2019-03-29 18:00] MrMage commented on #12882
Update:

I have now been able to connect to remote services with the following configuration:

[code]

Initially, this did not work because I had exposed a `Service` based on GCP LoadBalancer on port 443 whose port name was `grpc`. Changing that port name to `https` changed the Envoy proxies to listen on that port with the `TCP` protocol instead of the `HTTP` protocol (as evidenced by `istioctl pr

[2019-03-29 18:13] douglas-reid commented on #12915
@msoule-cb the addon is really intended as an example of how to use Prometheus with Istio. At best, the addon should be thought of as a temporary store (defaults to retention period of `6h`) from which important metrics should be exported to a more production-grade deployment/store. This can be achieved via federation and/or using the addon config in your production system. Istio should not, imho,

[2019-03-29 18:13] ericvn commented on #12607
@esnible I'm certainly willing to test.

[2019-03-29 18:25] diemtvu commented on #12795
My hunch is pilot fails to deliver the config to envoy for some reason. Can you follow this [guide](https://istio.io/help/ops/traffic-management/proxy-cmd/) to check the pilot and envoy status. If possible, can you also run the `dump_kubernetes.sh` (under tools) and send me the dump output (by default, it creates istio-dump folder under your working dir). Thanks.

[2019-03-29 18:28] howardjohn commented on #12760
Change here: https://github.com/istio/istio/pull/12916

@louiscryan I used 502 error as a placeholder, happy to change it though.

@costinm @rshriram this is a fairly substantial behavior change if you want to weigh in. It is blocked by a feature flag though.

[2019-03-29 18:41] howardjohn opened #12919 "Istio PR bot doesn't respect Github approvals"
Reviewers commonly give "Github Approve". The istio-testing bot does not treat these as /lgtm or /approve.

This leads to a lot of PRs that should be approved but aren't.

One example: https://github.com/istio/istio/pull/12857

[2019-03-29 18:54] nerusnayleinad commented on #12573
Just go through "Issues" tab, and you will get more than 20. And if you pay attention, you will see that mostly people are doing tests with your examples, because there is simply no room to come up with more.

And it's not only the documentation that is missing, it also is the way you guys wrote it. Things like "client side Envoy also does a secure naming check to verify that the service account p

[2019-03-29 18:54] dmccaffery commented on #12906
This just smacked us in the face too. :feelsgood:

Looking at workarounds now (probably by modifying the helm chart a bit) -- will report back if we have any success!

[2019-03-29 18:55] howardjohn opened #12920 "Prow tests are broken, Failed to get Boskos resource"
All prow E2E tests are currently failing. Example: https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12916/istio-pilot-e2e-envoyv2-v1alpha3/17520

[code]

[2019-03-29 19:10] bradenwright opened #12923 "Daily Build Repository causes Issues"
**Describe the bug**
There has been a number of times we go to rebuild our env and the Istio chart won't install.  2 recent issues were related to upgrading the CertManager subchart and CRDs not being created.  I think a daily build is a good idea, but is there a more stable repo, or stable version that can be used as well.  Also curious about CICD that's run b/c the issue with the missing CRD did

[2019-03-29 19:12] yangminzhu commented on #12881
From the envoy config dump (2.txt), looking at the `"name": "172.31.32.103_9080"` listener, it indicates the mTLS is not enabled (no TLS or authN filter config). Could you follow https://istio.io/docs/tasks/security/authn-policy/#globally-enabling-istio-mutual-tls to make sure it's enabled correctly?

[2019-03-29 19:12] utka commented on #12920
I do not see anything particularly bad in logs, the clusters are cleaning up and released, we are slowly getting more available resources.

[2019-03-29 19:15] howardjohn opened #12924 "mixer TestCheck_Deny and TestMixer_Report_Direct flake"
Example: https://circleci.com/gh/istio/istio/366445?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

In the same PR the tests passed on prow, and I think I have seen this before, so I believe it is a flake.

[2019-03-29 19:18] kyessenov commented on #12924
Seems like a failure of the test framework to deploy the policy backend:

2019-03-27T07:16:50.383051Z	info	grpc: addrConn.createTransport failed to connect to {127.0.0.1:37479 0  <nil>}. Err :connection error: desc = "transport: Error while dialing dial tcp 127.0.0.1:37479: connect: connection refused". Reconnecting...
2019-03-27T07:16:50.383095Z	info	pickfirstBalancer: HandleSubConnStateChange: 0

[2019-03-29 19:22] howardjohn commented on #12923
The stable Helm repos can be found under https://github.com/istio/istio/releases ("Helm Chart Index")

We are currently working on adding Helm repo information to istio.io (https://github.com/istio/istio.io/issues/3852). Until then we recommend following https://istio.io/docs/setup/kubernetes/install/helm/

[2019-03-29 19:27] howardjohn commented on #12903
Potential fix: https://github.com/istio/istio/pull/12916

[2019-03-29 19:28] msoule-cb commented on #12915
@douglas-reid Thanks for the explanation. Perfectly reasonable that Istio doesn't manage production deployment of Prometheus. It does leave the user to forge our own production deployment patterns of Istio + addons. I hope Code Mauve assists in this way.

[2019-03-29 19:29] jeffmendoza opened #12925 "Enable Galley to serve MeshConfig over MCP"
Enable Galley to serve the MeshConfig (https://github.com/istio/api/blob/master/mesh/v1alpha1/config.proto) over MCP.

[2019-03-29 19:36] icygalz commented on #12920
Seems like some of the resources are free now.
https://velodrome.istio.io/dashboard/db/boskos-dashboard?orgId=1&panelId=4&fullscreen&from=1553879782654&to=1553888147207

We have a total of 89 clusters managed by boskos right now and from the past 30days(except today), ~50% of these are free..
https://velodrome.istio.io/dashboard/db/boskos-dashboard?orgId=1&panelId=4&fullscreen&from=1551299260750&t

[2019-03-29 19:39] tiswanso commented on #12923
Correction on @howardjohn 's comment... the issue for providing helm repo documentation is istio/istio.io#3703.  The other one, istio/istio.io#3852, is for Istio CNI documentation updates to match the current recommended helm install.

[2019-03-29 19:48] ozevren commented on #12803
Hey @esnible I think we should hold on to the bug. You can also keep a PR open.

1.9 is not a reasonable target, we should upgrade our K8s deployments to the minimum baseline that we support, which would be 1.11.

I'll follow up.

[2019-03-29 19:58] howardjohn commented on #11526
Tests are still failing continuously https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12844/istio-pilot-multicluster-e2e/10293

[2019-03-29 20:20] cleverguy25 commented on #10537
+1 for this feature

[2019-03-29 20:26] TimBozeman commented on #9504
Hmm, yeah that's strange. It does seem to be working without it.
¯\_(ツ)_/¯
Nice!

[2019-03-29 20:29] ozevren commented on #12211
@irisdingbj

[2019-03-29 20:29] ozevren commented on #12859
I

[2019-03-29 20:29] #12859 closed

[2019-03-29 20:47] howardjohn commented on #12923
Documented at https://istio.io/docs/setup/kubernetes/download/

Please reopen if you have other issues

[2019-03-29 20:47] #12923 closed

[2019-03-29 21:20] jericks-duo commented on #12795
[istio-dump.tar.gz](https://github.com/istio/istio/files/3024581/istio-dump.tar.gz)

[code]

[code]

[code]

[code]

[code]

There are tons of things I can dump for you from the `istioctl proxy-config` command alone. I wasn't sure how many dumps I should stick in a single comment. Let me know if you'd like me to run any other commands.

I do notice that outbound connections from `sleep.foo` to `ht

[2019-03-29 22:33] Daniel-Houston commented on #12494
I am having a similar issue, only it happens even when I just pass strings for my authorization template config:

[code]

When i run mixer server the error I get is
`failed to evaluate expression for field 'Subject'; failed to evaluate expression for field 'Subject.User': unknown attribute hello`

This happens for other template attributes such as method.

Any idea what is causing this? Thanks!

[2019-03-29 22:43] douglas-reid commented on #12924
This is for the `test-integration-kubernetes` suite?

Did your PR include: https://github.com/istio/istio/pull/12848 ?

I think the conversion over to the new framework wasn't/isn't complete or stable.

[2019-03-29 22:44] douglas-reid commented on #12924
Is this a dupe of https://github.com/istio/istio/issues/12750 ?

[2019-03-29 23:01] Daniel-Houston opened #12934 "Mixer unable to parse attributes correctly"
**Describe the bug**

I have a custom authorization template instance configured to be called by mixer:
[code]
However, when I run mixer server, I get the following error:
`failed to evaluate expression for field 'Subject'; failed to evaluate expression
for field 'Subject.User': unknown attribute source.principal`

The odd thing is, I get the same error if I use a string as a user. For example, if

[2019-03-29 23:03] Daniel-Houston commented on #12934
It seems similar to this issue: https://github.com/istio/istio/issues/12494, but I have verified that the attribute I'm using exists

[2019-03-29 23:04] pitlv2109 commented on #12919
Same with this PR #12849

[2019-03-29 23:05] kyessenov opened #12935 "TestProcessor_EventAccumulation is flaky"
https://circleci.com/gh/istio/istio/370624?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

/assign @ozevren
(for dispatch)

[2019-03-29 23:06] howardjohn commented on #12924
PR must not have included that change since it looks like they were skipped. Thanks!

[2019-03-29 23:06] #12924 closed

[2019-03-29 23:33] diemtvu commented on #12795
Just to confirm from what I can tell from the log and the problem: you have global mTLS enable (via MeshPolicy), and destination rule enable mTLS in namespace foo. With this configuration, you should have 200 for all connections, except from `bar` to `bar`. However, it's appear that you have only 200 from `foo` to `bar`.

I can't find any thing obviously wrong with the config so far. Can you try f

[2019-03-30 00:00] #10197 closed

[2019-03-30 01:43] hzxuzhonghu commented on #9504
/assign

[2019-03-30 01:44] hzxuzhonghu commented on #9504
I find this envoy received dumplicate listeners
[code]

[2019-03-30 01:47] hzxuzhonghu commented on #9504
First, it is caused by same targetPort(80) of  service

[2019-03-30 02:24] hzxuzhonghu commented on #12823
/cc @linsun @louiscryan @rshriram @kyessenov @mandarjog What do you think?

[2019-03-30 02:55] dkushner opened #12938 "Gateway definition created in control cluster causes failure in remotes for cluster-aware installation."
**Describe the bug**
With two clusters configured according to the multicluster installation instructions with cluster-aware routing, an ingress gateway in cluster-1 (the control plane) forwarding requests to a service in the remote via an endpoint `outbound|4433||birdcage.production.svc.cluster.local` results in a 503 and shows the upstream as a pod IP of the remote service.

This determination w

[2019-03-30 03:00] #9779 closed

[2019-03-30 03:50] sdake commented on #12122
I do have confidence in our test cases.  Our test cases do not test GUI interaction.  We need expansion of the test cases to test bookinfo GUI interactions, but until that magical work comes, a manual test case is needed.

Cheers
-steve

[2019-03-30 04:59] geeknoid opened #12939 "Injector: Document all annotations used"
Need to document all annotations used in the code. Search for annotations.Register and fill in the necessary description string. These descriptions will go to istio.io as end-user docs.

[2019-03-30 05:00] geeknoid opened #12940 "Pilot: Document all annotations used"
Need to document all annotations used in the code. Search for annotations.Register and fill in the necessary description string. These descriptions will go to istio.io as end-user docs.

[2019-03-30 07:02] hzxuzhonghu commented on #12925
From pilot side, need to split necessary field first, like `config_sources `

[2019-03-30 07:05] hzxuzhonghu commented on #12911
/assign

[2019-03-30 08:22] incfly commented on #11526
Unassign myself since `TestTLSMultiplexing` is no longer in the failing test.

[2019-03-30 08:28] incfly commented on #5045
/cc @incfly

[2019-03-30 08:48] hzxuzhonghu commented on #12911
find that it has something todo with `defer s.removeCon(con.ConID, con)`->removeEdsCon  just called after `s.addEdsCon(cn, con.ConID, con)`, which means the `edsClusters` does not contain the requested cluster, so the test flakes.

[2019-03-30 08:50] hzxuzhonghu commented on #12911
It is a deeper time sequence error in xDS server.

[2019-03-30 09:50] sdake commented on #12122
Currently an outstanding request: https://github.com/istio/istio/pull/12741#issuecomment-476702247

TLDR libnettle is needed by an operator.  We should audit (via at minimum the mailing list) what else is needed for LUA filters for envoy.

Cheers
-steve

[2019-03-30 09:52] sdake commented on #12122
The test case for generating core dumps no longer functions with this set of PRs.  https://github.com/istio/istio/pull/12741#issuecomment-476765510

This raises the question of how one would get coredumps rom the container images in general or how they would be used.

CHeers
-steve

[2019-03-30 10:00] sdake commented on #12122
@utka and @istio/test-infra-hackers I think @costinm and I are in agreement - to be discussed at the April 4th Environments WG meeting on this feature for 1.2. The next question that comes from this work is how do we test and release two sets of images.

I'd invite you to the environments wg meeting so we can all get on the same page as to why this work is needed and find a path forward. The bigge

[2019-03-30 10:30] sdake opened #12944 "Test Flake: istio.io/istio/galley/pkg/runtime TestProcessor_Publishing is flakey"
**Describe the bug**
simpletest fails recently with this test case:

https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12914/istio-unit-tests/23057

**Expected behavior**
test case passes (or code is correct)

[2019-03-30 10:39] sdake commented on #9866
@esnible I had a PR which timed out to record more information as to why these test flakes happen in a 10 minute timeout scenario.  See: https://github.com/istio/istio/pull/10758.  I will reopen the PR on master as the problem continues to persist.

[2019-03-30 10:43] clyang82 commented on #11400
Yes. release 1.1 have some best practices to improve the performance issues. Let me close it. Thanks.

[2019-03-30 10:43] #11400 closed

[2019-03-30 11:22] osswangxining opened #12947 "No expected locality aware loadbalancing"
**Describe the bug**

The locality arware loadbalancing is enabled with the following configuration in values.yaml which is used for Helm installation. For the following configuration, the services from two regions (e.g. cn-beijing and cn-hangzhou) cannot be accessed to each other. So it looks that the distribute config is available for locality.

localityLbSetting:
    distribute:
    - from: "cn

[2019-03-30 15:00] codependent opened #12948 "Istio BookInfo sample pods not starting on Minishift 3.11.0 - Init:CrashLoopBackOff - message: 'containers with incomplete status: [istio-init]'"
**Describe the bug**
Istio BookInfo sample pods not starting on Minishift 3.11.0  with Init:CrashLoopBackOff - message: 'containers with incomplete status: [istio-init]'

**Expected behavior**
BookInfo pods should start

**Steps to reproduce the bug**
The full information to reproduce this issue is available on Stackoverflow: https://stackoverflow.com/questions/55432252/istio-bookinfo-sample-nos-w

[2019-03-30 15:25] #12628 closed

[2019-03-30 17:03] truyet opened #12949 "ServiceEntry is error with timeout"
**Describe the bug**
I setup a service entry, which is using make connection to another service on a diff namesapce in k8s. It's worked, but I can't call this service after about 1 day and I need to resetup this serviceentry

**Expected behavior**
We only setup serviceentry one time

**Steps to reproduce the bug**
You just setup a serviceentry call to another service (diff namespace & not setup si

[2019-03-30 17:11] #10153 closed

[2019-03-30 19:55] bianpengyuan commented on #12494
@Daniel-Houston Hi it is because a const string expression needs to be quoted with ''. So instead of:

it should be

[2019-03-30 21:10] hpohl commented on #12949
Can confirm, had this already in 1.0.6. Happens whenever the non-sidecar pod gets replaced by another one (due to rescheduling on another node for example).

[2019-03-30 22:54] sdake commented on #12949
@hpohl can you expand on the upgrade bug?

Thanks
-steve

[2019-03-30 23:46] hpohl commented on #12949
Due to https://github.com/istio/istio/issues/12801.

[2019-03-31 00:23] bjethwan opened #12951 "istio-galley service calling failed in Istio 1.1.1"
**Describe the bug**
I was trying to follow https://istio.io/docs/examples/multicluster/split-horizon-eds/
When I got struck in below step
[code]
[code]
I had created the cluster using kops with t2.xlarge instances for master and workers.

Istio seemed to be running perfectly fine
[code]

**Expected behavior**
cluster-aware-gateway should have come up fine.

**Steps to reproduce the bug**
Use KOPS

[2019-03-31 00:54] bjethwan commented on #12951
This is not working in Istio 1.1.0 either.

[2019-03-31 00:55] bjethwan commented on #12951
everything is working fine otherwise...I checked that mutatingwebhook was enabled too

[code]

[2019-03-31 01:19] draveness commented on #12758
This issue could be closed by #12821

[2019-03-31 01:56] truyet commented on #12949
Hi @hpohl ,
I confirm serviceentry on istio 1.0.6 work well. But this issue has happened since I updated to version 1.1.1 . Pod is connected running a long time
Pods:
`postgresql-stolon-proxy-6b46b7469b-8j8zt      1/1     Running     0          15d`
Service:
`postgresql-stolon-proxy             ClusterIP   100.65.57.57   <none>        5432/TCP   15d`
ServiceEntry
[code]

[2019-03-31 03:11] #10214 closed

[2019-03-31 04:11] #10207 closed

[2019-03-31 09:03] peter-fe commented on #9943
@viharikrishna, by scaling up the ingressgateway e.g. up to five pods, quite regular, one of them shows the described issue and does not accept traffic.

[2019-03-31 12:14] dkushner commented on #12938
I've been working through this for a while now and I'm still unclear on how this is even possible. Can somebody fill me in on how the gateway in cluster-1 can even be aware of the specific pod IP in cluster-2 without specific DNS configuration to that effect? I can see this happening in the case of VPN connectivity multi-cluster deployment, in that the control plane is watching cluster-2 for servi

[2019-03-31 15:11] Tharun-Sabbu commented on #7233
Workaround solution I did was to run a  additionalUserData script in the background which will add internal and external dns on kube-*.manifest files under /etc/kubernetes/manifests directory on kops master instance groups. I did it it only for apiserver, scheduler and controller.

[2019-03-31 16:23] gtseres commented on #9943
We have also managed to reproduce that with multiple scale outs/ins with 1.0.2, similarly to what @peter-fe described. We could not reproduce it with Istio 1.1.1 though.

[2019-04-01 01:43] hzxuzhonghu commented on #12951
THis is not cluster-aware private, it is common. You should check why the galley can not called.

[2019-04-01 01:53] hzxuzhonghu commented on #12947
Can you show me your node yaml? This feature rely on node annotation to acquire the locality.

[2019-04-01 02:22] jaygorrell commented on #8617
A real and popular example of this is the datadog daemonset and how it reaches `kube-state-metrics`.  If you try to run DD in the mesh, the logs will fill with things like:
[code]

100.126.128.5 in this case is the pod IP of kube-state-metrics.

[2019-04-01 03:20] igowithjava commented on #9707
Can any developer take care of this issue ?

[2019-04-01 03:40] naveeng68 commented on #9426
I am not install istio via helm, Could you please let me know how we add multiple istio via installing with mutua auth

[2019-04-01 04:55] irisdingbj commented on #12211
@hzxuzhonghu Have you working on this already? If not I can work on this as I am working on https://github.com/istio/istio/issues/2119 and this issue is related.

[2019-04-01 05:10] truyet opened #12952 "outboundTrafficPolicy : ALLOW_ANY but I can access to external url"
**Describe the bug**
I setup istio version 1.1.1 with default config:
[code]
I call wget http://httpbin.org/ in a pod injected sidecar but it return wget: server returned error: HTTP/1.1 404 Not Found

**Expected behavior**
wget success get data from url

**Steps to reproduce the bug**
I cleanup istio 1.0.6 and setup istio version 1.1.1, deploy a pod in injected sidecar namespace and using ssh to

[2019-04-01 06:07] hzxuzhonghu commented on #12211
no

[2019-04-01 06:26] spekr commented on #8709
@objectiser Ok, now I am getting some results. The problem was a combination of the zipkinAddress (typo) and the sidecar. WIthout sidecar and with the right zipkinAddress it seems to be working. So it seems the only option is to keep Jaeger in the istio-system namespace (with auto-injection disabled). Or do you know of a way to make an exception for the pilot to access the service?

[2019-04-01 07:15] franpog859 commented on #6085
Is there any follow up issue, @seanclerkin , @duderino ? I would like to track the work on it 😉

[2019-04-01 07:55] objectiser commented on #8709
@spekr Sorry, was confused by your last comment - you say it is now working in a separate namespace without the sidecar, but then say only option is to run Jaeger in the istio-system namespace?

[2019-04-01 08:01] objectiser commented on #8709
If you are installing Jaeger in a separate namespace - have you also created the `zipkin` service, e.g. https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/tracing/templates/service.yaml#L12-L30 ?

This is used to provide a standard service for reporting zipkin span data to any selected tracing backend. However if you don't have this service, and don't want it to be def

[2019-04-01 08:06] spekr commented on #8709
Yeah you're right, that does not make any sense :-P. What I mean is this: we've taken Jaeger from the istio-system namespace so that it can have a sidecar injected. We want to expose the service through a virtualservice instead of the kubernetes-ingress. (Trying to keep it clean.). So there is no reason for us to keep it in a seperate namespace (if it only works without sidecar).

We have the zipk

[2019-04-01 09:15] osswangxining commented on #12947
Thanks for your help, I paste them here. Annotation or Labels for locality info retrieval?

apiVersion: v1
  kind: Node
  metadata:
    annotations:
      flannel.alpha.coreos.com/backend-data: "null"
      flannel.alpha.coreos.com/backend-type: ""
      flannel.alpha.coreos.com/kube-subnet-manager: "true"
      flannel.alpha.coreos.com/public-ip: 192.168.1.170
      kubeadm.alpha.kubernetes.io/cr

[2019-04-01 09:21] arielb135 commented on #12881
You were correct, thank you.
the documentation is pretty confusing..

I'm now having issues with https://istio.io/docs/tasks/security/authz-tcp/
the prerequisites say:
![image](https://user-images.githubusercontent.com/33662254/55317081-79ee9b80-5478-11e9-812a-bd544003a3ec.png)

Those are not the same step?
My failure was that after deploying mongo - i couldn't see the rating.

[2019-04-01 09:21] hzxuzhonghu commented on #12947
dump the cluster configuration of the src pod

[2019-04-01 09:27] osswangxining commented on #12947
It looks that the weight value is equal to the number of endpoints.
[edsz.json.txt](https://github.com/istio/istio/files/3028588/edsz.json.txt)

[2019-04-01 09:28] jnsvd commented on #12884
@utka I can confirm the issue is resolved now, so this ticket can be closed.
Thanks.

[2019-04-01 09:34] spekr commented on #8709
Ok, fixed it with the following addition to the helm-chart:

[code]

Thanks for thinking along @objectiser!

[2019-04-01 09:46] hzxuzhonghu commented on #12947
oh, i think maybe you do not enable this feature, it is controlled by a flag, by default it is not enabled.

`PILOT_ENABLE_LOCALITY_LOAD_BALANCING`

[2019-04-01 09:49] osswangxining commented on #12947
In istio-pilot/discovery POD YAML,  the following environment variable is defined. Is this ok ?

      PILOT_ENABLE_LOCALITY_LOAD_BALANCING:  ON

[2019-04-01 09:59] osswangxining commented on #12947
Containers:
   discovery:
    .....
    Args:
      discovery
      --monitoringAddr=:15014
      --domain
      cluster.local
      --secureGrpcAddr

      --keepaliveMaxServerConnectionAge
      30m
    Requests:
      cpu:      500m
      memory:   2Gi
    Readiness:  http-get http://:8080/ready delay=5s timeout=5s period=30s #success=1 #failure=3
    Environment:
      POD_NAME:

[2019-04-01 10:01] leszko opened #12955 "ServiceEntry MESH_EXTERNAL does not work"
**Describe the bug**
I follow the Bookinfo example and the follow up on [Consuming External Web Services](https://istio.io/blog/2018/egress-https/). After creating the ServiceEntry, the traffic to the external service is still blocked.

So, I still see the following info in the Bookinfo App:
[code]

It works correctly when I check with the Istio version `1.0.6`.

**Expected behavior**
The example

[2019-04-01 10:10] rvgud commented on #12876
raised a PR for this https://github.com/istio/istio/pull/12953

[2019-04-01 10:11] flunderveiko opened #12956 "Unable to compile match condition expression "unknown function GEQ""
**Describe the bug**
I just want to log log entries with a response code greater than or equal to 400.
Rule stdio in namespace istio-system:

[code]
Then I get the following error message and istio-telemetry no longer logs.

error	unknown function: GEQ
warn	Unable to compile match condition expression: 'unknown function: GEQ', rule='stdio.rule.istio-system', expression='response.code >= 400'

**Ex

[2019-04-01 10:24] osswangxining commented on #12947
btw we are using official Istio 1.1.1.  Do you know if this version already contains this feature or not?

[2019-04-01 10:42] robertpanzer opened #12957 "EnvoyFilter with workloadSelector only matches Services"
**Describe the bug**
This bug report is similar to #11818.
EnvoyFilters currently can only be scoped to Services.
What makes it even worse for EnvoyFilters is that EnvoyFilters are not scoped to a namespace, so that I don't even have the workaround that I have for Sidecars to put an application that has no service into its own namespace and apply an EnvoyFilter to the whole namespace.

**Expected

[2019-04-01 10:49] erezzarum opened #12958 "istioctl proxy-status always return difference on type "STATIC""
**Describe the bug**
On a basic helm installation (demo auth disabled)
```istioctl proxy-status istio-ingressgateway-66fbc64b9-vpdhq.istio-system```
return
[code]

This also happen on any Pod (that is part of a service) that has the sidecar injected.

**Expected behavior**
Do not return any difference

**Steps to reproduce the bug**
Install a Istio using helm with profile demo without auth (mTLS)

[2019-04-01 10:52] erezzarum commented on #12952
You mean can't access external url?

If you used the default installation with ingressgateway you already have port 80 (destination port) as a service that Istio (Envoy) is aware of, these it will not work as you have a listener for that port already.

[2019-04-01 11:07] #9557 closed

[2019-04-01 11:21] divramod commented on #10335
hey, i am having the same issue with kubernetes.
how did you solved it?

[2019-04-01 11:31] hzxuzhonghu commented on #12947
why env` **PILOT_ENABLE_LOCALITY_LOAD_BALANCING` contains `**`?

of course, from 1.1.0 it is supported

[2019-04-01 11:36] ibm-jason commented on #12777
@utka, @linsun Based on the feedback that the previous releases have had the Chart.yaml file fixed, I think we can close this issue once #12762 is merged.

[2019-04-01 13:31] esnible commented on #12948
The log shows

[code]

[2019-04-01 14:04] robertpanzer commented on #12957
Added a fix for this to #12666

[2019-04-01 14:12] walkerline opened #12960 "Routing not working as expected"
Istio version 1.1.0

We finished the installation of Istio 1.1.0
And we found that we are not able to apply the routing rule to the service mesh.

For example, we use the simplest helloworld service. and we applied below virtual service to route the request to only v2 helloworld, but it did not work as expected.

[code]
After I applied above rule, i got nothing or no response from my curl command

[2019-04-01 14:28] howardjohn commented on #12410
Are you using Istio 1.0 or 1.1? You can check with `istioctl version --remote`

[2019-04-01 14:32] HXK123 commented on #12410
Hi @howardjohn,

We were using 1.0.5 for both client and server.

Thanks.

[2019-04-01 14:35] howardjohn commented on #12410
Can you actually access those external sites, or only ping them? I am not familiar with this, but apparently `ping` uses ICMP protocol which we don't handle, which may be the cause. If you can `curl facebook.com` though than it is a different issue.

[2019-04-01 14:45] esnible commented on #12960
First, do `kubectl get destinationrule` to verify you have a DestinationRule that defines `name: v2`.

The next thing to check is the sidecar status.  Do `kubectl get pods -l version=v2` and verify that you have pods labeled `version: v2`.  (Assuming the DestinationRule defined `v2` as `version: v2`.

The tool https://github.com/aspenmesh/istio-vet can be good for finding problems in Istio configu

[2019-04-01 14:48] jericks-duo commented on #12795
1)
[code]
(I had to add the `-n foo` in both places and I also changed `httpbin` to `httpbin.foo`, just in case.

2)
With meshpolicy and DR:
[code]
With DR and no meshpolicy:
[code]
With neither DR nor meshpolicy:
[code]
With meshpolicy and no DR:
[code]
With both meshpolicy and DR again:
[code]
I'm not sure what I'd be looking for in the pilot logs, so I've attached them here:
[pilot.log](https:/

[2019-04-01 14:48] howardjohn opened #12961 "Locality LB outlierDetection requirement"
Currently:

- For CDS, outlierDetection is required for both failover and distribute mode.
- For EDS, outlierDetection is not required at all.

I think the correct behavior should be, require outlierDetection for failover mode, for CDS and EDS.

It is needed for failover, as without it we would never drop down to lower priority levels.

I do not see how it is needed for distribute though.

@hzxuzh

[2019-04-01 15:24] walkerline commented on #12960
I think everything looks fine. But still when I curl the helloworld, i got no response at all.

[code]

[code]

[code]

[2019-04-01 15:28] liamawhite commented on #12961
Agreed. Would be good if we can encapsulate this in the locality mutation functions, rather than relying on people remembering to check if outlier is on.

[2019-04-01 15:35] truyet commented on #12952
Thanks @erezzarum, document doesn't note it, so I try to call as document describe but it not work.

I have another question. So with configuration ALLOW_ANY, we can call another service in k8s cluster but it's not inject to sidecar ? (my case is postgresql-stolon-proxy.postgresql.svc.cluster.local port 5432 )

[2019-04-01 15:38] howardjohn commented on #12947
1.1.1 contains the feature.

In order for the LB settings to apply, you need the following:

1. `PILOT_ENABLE_LOCALITY_LOAD_BALANCING` set (you have this).
1. A kubernetes `Service` associated with the caller.
1. `outlierDetection` in DestinationRule enabled for the endpoint. (https://github.com/istio/istio/issues/12961 maybe not required in the future)

I suspect you are missing 2 or 3. Please tr

[2019-04-01 15:43] #12886 closed

[2019-04-01 16:00] esnible commented on #12960
When you say "no response" do you mean a timeout?  If there is an HTTP error like 404 or 503 use `curl -v` to see it.

Do `istioctl proxy-status` and see if the _curl_ pod or _helloworld_ pod is `STALE`.  Do `istioctl authn tls-check <curl-pod>` and look for `CONFLICT`.

When I get really stuck I `kubectl exec` into the sidecar and attempt to simulate what the sidecar is doing.  I use the followin

[2019-04-01 16:13] utka commented on #12777
Yes, that's correct

[2019-04-01 16:14] esnible commented on #12958
I am seing the same thing on 1.1.1.  The Envoy version is "build_version": "55c80965eab994e6bfa2227e3942fa89928d0d70/1.10.0-dev/Clean/RELEASE/BoringSSL".

https://www.envoyproxy.io/docs/envoy/v1.9.0/api-v2/api/v2/cds.proto#envoy-api-enum-cluster-discoverytype documents the cluster types.  `"STATIC"` is the default, which means there is no difference between Pilot and the sidecar.

The fix for this

[2019-04-01 16:19] erezzarum commented on #12958
This started to happen when using 1.1, i did not see this happen on 1.0.5.
I have added the sleep example and then you can see this happen
[code]
I also noted the following when issuing "istioctl pc cluster"
[code]
Observing the "TYPE" column.

Thanks for the help

[2019-04-01 16:28] douglas-reid commented on #12934
Do you have the template you are using? What is the template type for `subject`? Is it `map<string, string>`?

[2019-04-01 16:41] pitlv2109 opened #12962 "/retest does not trigger prow tests to run"
For example: #12849

[2019-04-01 16:43] pitlv2109 commented on #12962
@utka Feel free to reassign it to someone else. Not sure if that is your territory  :)

[2019-04-01 16:46] arielb135 opened #12964 "TCP authorization is not working to mongoDB"
**Describe the bug**
Following the tutorial, while enabling **mtls** globally (MeshPolicy) - the mongoDB cannot be accessed (error 500) - i think that the mtls from the rating service is not working.
![image](https://user-images.githubusercontent.com/33662254/55344590-66fabc00-54b6-11e9-8de9-16798b0f47b5.png)

![image](https://user-images.githubusercontent.com/33662254/55344633-87c31180-54b6-11e9-

[2019-04-01 16:46] howardjohn commented on #12962
I've had to do `/test <testname>` for it to work

[2019-04-01 16:50] pitlv2109 commented on #12962
I think it worked before. `/retest` would trigger all prow tests at once.

[2019-04-01 17:10] #12911 closed

[2019-04-01 17:16] diemtvu commented on #12795
Thank @jericks-duo for the detail analysis. The outputs for mesh policy + DR and DR alone case are strange.
For the mesh + DR case, the only explanation I can have now is the services may have trouble to refresh its certificate. Can you try the command [here](https://istio.io/docs/tasks/security/mutual-tls/#verify-keys-and-certificates-installation) to check the validation date. Eg

[code]

For th

[2019-04-01 17:22] jericks-duo commented on #12795
[code]
Yeah, I'm really puzzled too.

[2019-04-01 17:25] jericks-duo commented on #12795
Hey! This might be related:
[code]
I notice that the httpbin pod has a "default" Subject Alternative Name.

I'm assuming that it should be "httpbin" since that's the service name. Similar to how the `sleep` pod has this:
[code]

[2019-04-01 17:33] diemtvu commented on #12795
It's ok, as the sleep app run with different service account (it's set in
the sleep deployment yaml)

On Mon, Apr 1, 2019 at 10:26 AM Jeremy Erickson <notifications@github.com>
wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-215-8127

[2019-04-01 18:16] StevenACoffman opened #14161 "Feature Request: Document prometheus-operator and istio-installer"
Our use case for istio-installer is to install and upgrade istio components separate from  prometheus-operatror. While istio/istio#7352 made this possible, it is not well advertised or documented.

In case someone else is looking for a similar setup, here's how to befriend Istio with mTLS and Prometheus deployed via prometheus-operator:

1. When deploying `prometheus-operator`, extend `prometheusS

[2019-04-01 18:23] Bessonov commented on #6486
Activity!

[2019-04-01 18:30] mmosttler commented on #7418
@themanifold
I am trying to also get couchbase to run within our istio mesh (v1.0.5).  I used couchbase operator 1.1 to do the install but the 2nd node(pod) for the couchbase cluster is not starting.  Likely due to issue talking to the first node.

You mentioned naming the ports with http-
Did you do this for all ports in the deployment and services?  Do you happen to have an example yaml you can

[2019-04-01 18:31] walkerline commented on #12960
Thanks
1. I actually get 404 not found error
2. output for istioctl proxy-status
[code]

nothing shows conflict for below
[code]

[code]

[2019-04-01 18:35] walkerline commented on #12960
So initially, if we apply below gateway yaml, it will work fine
[code]

Then we will get 200:
[code]

Then if we apply below virtual service rule:
[code]

We will get 404

[2019-04-01 18:35] esnible commented on #11390
The error message

[code]

is not very helpful!  I see this message using 1.1 _istioctl_ against 1.0 mesh.  Should we open a `User Experience` work item for this message?

[2019-04-01 18:38] esnible commented on #12958
Verified that this problem does not happen using Istio 1.0.6 (which comes with Envoy version `0/1.8.0-dev//RELEASE`.

[2019-04-01 18:39] mingfang opened #12966 "MutatingWebhookConfiguration is not a namespaced resource"
Please remove this line
https://github.com/istio/istio/blob/ac12b0ec83f9c6d18a9e4bef5a44cf0aeff235b7/install/kubernetes/helm/istio/charts/sidecarInjectorWebhook/templates/mutatingwebhook.yaml#L5

[2019-04-01 18:42] ericvn opened #12967 "Test Flake: istio.io/istio/galley/pkg/runtime.TestProcessor_EventAccumulation_WithFullSync"
Describe the bug:
Recent failure for subject test

https://prow.k8s.io/view/gcs/istio-prow/logs/istio-postsubmit/4836

Expected behavior:
test case passes (or code is correct)

[2019-04-01 18:52] esnible commented on #12960
Something that jumps out at me is `31380` for a port.  That is the Nodeport used by the Istio ingressgateway.  I do not have any test cases where a server was listening on 31380.

What happens when you curl localhost:31380/hello ?

[2019-04-01 19:15] rshriram commented on #11841
this works properly for the gateway connected clusters. i have no idea about split horizon stuff.. The sni dnat stuff was not meant to be used with anything other than gateway connected clusters.. So, I am not surprised it breaks.

[2019-04-01 19:18] rodrigoGA commented on #8588
++

[2019-04-01 19:22] Stono opened #12968 "Large amounts of AAAA (ipv6) DNS queries from istio-proxy/envoy"
**Describe the bug**
I'm seeing a lot of `AAAA` queries hitting our DNS servers, most of which seem to be istio related, from sidecar (**1000s/sec** due to the size of my cluster):

We're talking **12** `AAAA` queries (specifically 6 `zipkin`, 6 `istio-pilot`), per pod, every **5** seconds.  On a cluster like mine with **500** pods, we're talking **6,000** queries every **5** seconds.

Running on

[2019-04-01 19:48] rvennam commented on #11922
I set my KUBECONFIG to an IKS cluster with Istio 1.1 and ran
`~/go/src/istio.io/istio/tests$ ./e2e_istio_preinstalled.sh bookinfo DEBUG=1`
output:
[e2e_istio_preinstalled_bookinfo_output.txt](https://github.com/istio/istio/files/3031074/e2e_istio_preinstalled_bookinfo_output.txt)

`~/go/src/istio.io/istio/tests$ ./e2e_istio_preinstalled.sh simple DEBUG=1`
output:
[e2e_istio_preinstalled_simple_out

[2019-04-01 20:01] esnible commented on #12958
The problem seems to be coming from this commit: https://github.com/istio/istio/pull/12508/files#diff-f507fb55b7edf4a03d3c7e9aebf64a1e

Pilot now seems to report the cluster type; Envoy does not report the cluster type if it is "STATIC", the default.

@kyessenov this was your large PR.  Do you have thoughts on the preferred way to fix this?

[2019-04-01 20:05] bjethwan commented on #12951
Can you please give me some more info to be able to debug this issue?

[2019-04-01 20:07] #7223 closed

[2019-04-01 20:18] ibm-jason commented on #11922
Looks good @rvennam. We now know that (at the very least) the `e2e_istio_preinstalled.sh` script _can_ run against Istio deployments other than GKE, but as you've indicated, we'll need to look into the failures.

I've updated the table above ☝️ with the following columns:

- `Tested?`, indicating if we have tried to run the test script in an environment outside of GKE
- `Passed?`, indicates whethe

[2019-04-01 20:44] Stono commented on #12968
So I tried with an initContainer to disable ipv6 on the interface, as you can see:

[code]

But istio-proxy is still making a whole bunch of ipv6 requests?
[code]

[2019-04-01 20:45] dwradcliffe commented on #9597
This is still a problem in 1.1.1, apparently.

inspecting pod:
`image: docker.io/istio/proxyv2:1.1.1`
istioctl proxy-status:
[code]

istioctl proxy-config bootstrap:
[code]

[2019-04-01 20:59] Stono commented on #12968
OK so what we see is every istio-proxy doing AAAA queries for these hosts:

[code]

Every 5 seconds.

So to put that into perspective for us that's 30,000 `AAAA` queries every 5 seconds, so 6,000/second.

On a cluster which has ipv6 largely disabled 🤷‍♂️

[2019-04-01 21:00] dwradcliffe commented on #9597
I think this is tied to the fact that the ISTIO_META_ISTIO_PROXY_VERSION is not equal to the actual proxy version, and only gets bumped when the capabilities need to change. This is essentially hardcodeded into the proxy image (unless you override it, which might break things).

The value was changed for 1.1.0 and previously for 1.0.2, hence the examples @Stono posted.

https://github.com/istio/is

[2019-04-01 21:11] Stono commented on #12968
The 5s thing is nothing to do with failed requests btw, istio-proxy is just looking up zipkin and istio-pilot every 5s:

[code]

I wouldn't mind so much if this was just for A records, but AAAA is 6x the load and useless.

[2019-04-01 22:29] vhosakot commented on #12446
I see this issue too in istio 1.1 rc3.  Is there any solution/workaround?

I've reduced the CPU and memory utilization of pilot by passing `--set pilot.resources.requests.cpu=30m --set pilot.resources.requests.memory=256Mi` when installing istio using helm, and still see istio's `ingressgateway` and `egressgateway` pods not running.

See `0/1` below:

[code]

Pilot's reduced CPU and memory utiliza

[2019-04-01 22:53] howardjohn opened #12971 "GolangCI internal error"
Example: https://golangci.com/r/github.com/istio/istio/pulls/12916

[code]

[2019-04-01 23:07] kyessenov commented on #12971
@utka
This is not a required gate. In fact, things like the above are a good reason why we might hold on to make it required. We run CI check on circleci machine with beefier CPU/memory.

[2019-04-01 23:33] sdake opened #12974 "Helm charts not following idiomatic versioning"
**Describe the bug**
The helm repo add is not properly setup.

**Expected behavior**
helm repo add works correctly.

**Steps to reproduce the bug**
[code]

**Version**
Istio 1.1.1, Kubernetes 1.14, metallb 0.7.3

**Installation**
See reproducer

**Environment**
Linux bare metal

**Extra Notes**
A helm repository contains all releases of Istio in tgz format created with `helm package version`.  An

[2019-04-01 23:37] sdake commented on #12974
Just to be clear, only x.y.z versions should go here - not latest master builds.  This will prevent a future where our operators/SREs are stumped because their helm repo update doesn't produce new versions or land them on a daily release that is expired.

Cheers
-steve

[2019-04-02 00:33] jcetkov opened #12975 "No citadel metrics available in prometheus"
**Describe the bug**
No citadel metrics available in prometheus. The metrics seems to be exposed by the citadel pod, but there doesn't seem to be any scraper configuration for citadel in the helm templates, nor is citadel mentioned in the metrics doc at https://istio.io/docs/tasks/telemetry/metrics/querying-metrics/

**Expected behavior**
If mTLS is enabled, the citadel is critical component who's

[2019-04-02 00:48] walkerline commented on #12960
So does that mean we need to use a load balancer?
Sorry im new to this area.

And where to curl that localhost:31380/hello? in the pod or on the cluster?
I tried both, either one returns 404.

[2019-04-02 00:50] howardjohn opened #12976 "Test Flake: e2e-dashboard (fails to deploy?)"
Example failure: https://circleci.com/gh/istio/istio/372670?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Seen this happen at least twice.

[2019-04-02 01:21] osswangxining commented on #12947
OH, just highlight here, in YAML the env variable name is "PILOT_ENABLE_LOCALITY_LOAD_BALANCING" and its value is assigned as "ON"

[2019-04-02 01:29] osswangxining commented on #12947
Thank you very much @howardjohn  I have done for 1 & 2,  so that the caller and the service provider are associated with K8s service. But I did not define **outlierDetection** in DestinationRule, as I didn't find any hint about this from document.  Looks like it is required for now. Can you share more info or document or sample with me? Thanks very much.

[2019-04-02 01:34] hzxuzhonghu commented on #12947
currently **outlierDetection** is not a must for eds locality weighted lb

[2019-04-02 01:45] howardjohn commented on #12947
Yes that is correct, outlierDetection is not a must for eds locality weighted lb, I was mistaken. See https://github.com/istio/istio/issues/12961 for details.

[2019-04-02 01:46] howardjohn commented on #12947
I think I figured out the probem. You mentioned you configured this through Helm, right? The Helm support for this feature was just recently added and is not yet released: https://github.com/istio/istio/pull/12683.

Just to verify, could you attach the output of `kubectl -n istio-system get cm istio -o jsonpath={.data.mesh} `?

In the meantime, you can directly modify the istio configmap to includ

[2019-04-02 02:03] hzxuzhonghu commented on #12951
Actually, these kinds of `gateway` `virtualservice` `destinationrule`, etc. should be validated by galley(as a validate admission controller) before persisted storaged.  In this procedure, kube-apiserver will call galley, so make sure your kube-apiserver can access galley.

[2019-04-02 02:09] #12156 closed

[2019-04-02 02:15] osswangxining commented on #12947
I did change the configmap to add locality lb setting. Below is the configmap content.
.....
# Set the default behavior of the sidecar for handling outbound traffic from the application:
# ALLOW_ANY - outbound traffic to unknown destinations will be allowed, in case there are no
#   services or ServiceEntries for the destination port
# REGISTRY_ONLY - restrict outbound traffic to services defined

[2019-04-02 02:22] osswangxining commented on #12947
@hzxuzhonghu @howardjohn  any suggestion to debug this will be appreciated greatly!

[2019-04-02 02:26] howardjohn commented on #12947
Probably not the problem, but Pilot needs to be restarted to pick up the changes to the distribute config if you haven't done that since changing the config.

[2019-04-02 02:26] hzxuzhonghu commented on #12947
I have no idea, just add some debug info and rebuild a pilot image?

[2019-04-02 02:29] osswangxining commented on #12947
Yes, I restarted the Pilot container. Do you have running sample files about this feature?

[2019-04-02 02:29] osswangxining commented on #12947
Thanks, let me try.

[2019-04-02 02:34] howardjohn commented on #12947
Ok, it sounds like you have everything set up as required. It is possible this is a bug. It looks like the locallity code is never ran. This could happen if Pilot flag is not set correctly, locallity config is not read correctly, or locallity of the node is not read correctly.

Tomorrow I will try to see if I can reproduced this issue.

[2019-04-02 02:35] ibm-jason opened #12979 "Include additional debug statements to E2E test scripts"
**Describe the feature request**

While observing the log output from E2E tests, it is difficult to determine the failures that occur in the output. Adding debug statements to the test output that indicate the failures that occur in each of the individual E2E tests would help to clarify which test scripts are failing and why.

**Additional context**

@rvennam and I discovered this while working on

[2019-04-02 02:59] hzxuzhonghu commented on #12966
Also validatingwebhook

[2019-04-02 03:37] #12966 closed

[2019-04-02 04:08] howardjohn commented on #12947
I think I found the issue. You DO need a outlierDetection. This is a bug. This code here needs a different check: https://github.com/istio/istio/blob/c486aaddfc56b1c73f94cbb0168fab4323158a15/pilot/pkg/networking/core/v1alpha3/cluster.go#L790-L797

Here is an example of one:
[code]

[2019-04-02 04:43] cyrus-mc commented on #9597
@dwradcliffe Simple solution would be to just set the ENV correctly in the deployment manifests.

[2019-04-02 06:57] procyclinsur commented on #12796
Opening new request due to learning a bit more about what is wrong..

[2019-04-02 06:57] #12796 closed

[2019-04-02 07:16] Kyslik opened #12985 "metadata.resourceVersion: Invalid value"
**Describe the bug**
I was upgrading to the Istio 1.1.1 using the official [guide](https://istio.io/docs/setup/kubernetes/upgrade/steps/) and when I applied the helm chart I get this error:

[code]

[code]

**Expected behavior**
No error.

**Steps to reproduce the bug**
Have Istio 1.0.6 installed and try to upgrade to 1.1.1.

**Version**
Istio: 1.1.1
k8s: 1.11.7

**Installation**
I used helm chart

[2019-04-02 08:24] aurolle commented on #12162
Hi, we have a similar issue with istio 1.0.5. Do you know if this version is affected by this bug?

[2019-04-02 08:29] hzxuzhonghu opened #12986 "istio.io/istio/pkg/cache TestTTLExpiration test flake"
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12872/istio-unit-tests/23157

[2019-04-02 08:43] dotw commented on #12958
I have the same issue for both for istio 1.1.0 and istio 1.1.1 and this is not happened using istio 1.0.5

[2019-04-02 08:49] Stono commented on #12968
@howardjohn suggested setting `global.proxy.dnsRefreshRate` higher as an interim work around.  However that setting had no effect, and these queries still happen every 5 seconds.

[2019-04-02 08:52] dotw opened #12987 "blacklists are not working"
**Describe the bug**
Black list works in istio 1.0.5 but doesn't work in 1.1.1

Here is my settings:
[code]

**Expected behavior**
blacklist should be work in istio 1.1.1

**Steps to reproduce the bug**
deploy the bookinfo sample into namespace hzqi-test and then create resources provided upper.

**Version**
istio 1.1.1
kube 1.13.3

**Installation**
using helm chart

[2019-04-02 08:54] osswangxining commented on #12947
Thanks a lot. It works after adding this outlierDetection. But not clear the reason why need to add this? Any missing logic?

[2019-04-02 08:54] Stono commented on #12968
cc. @costinm @mandarjog @nmittler - can anyone help me looking at this please?

[2019-04-02 09:03] hzxuzhonghu commented on #12968
This value only valid for 	two cluster types
        1: "STRICT_DNS",
	2: "LOGICAL_DNS",

And I think the control-plane service is  `STATIC` type

[2019-04-02 09:07] #10238 closed

[2019-04-02 09:07] Stono commented on #12968
Thanks.  So back to the original issue, why is istio-proxy querying ipv6 records for pilot and zipkin every 5 seconds?

[2019-04-02 09:33] amitbitcse commented on #11828
I was facing the same problem; however if I make an entry in Gateway for the https port, I can access using the https url.

The suggestion by @erezzarum is working but  with this I was able to access the with any host. I might have missed some other configurations.

@nrjpoddar Thanks, this workaround worked for me.

[2019-04-02 09:44] hzxuzhonghu commented on #12968
I think this has something todo with the envoy bootstrap config, you can check it. And there is no setting for dns resolve. So the root is `/etc/istio/proxy/envoy-rev0.json`, I think we should fix it in tools/deb/envoy_bootstrap_v2.json

[2019-04-02 10:06] #12824 closed

[2019-04-02 10:48] jkbschmid commented on #12912
@ozevren I'm filling in, because @c0d1ngm0nk3y is out for a week.
I created a [PR](https://github.com/kubernetes/test-infra/pull/12025) to register the new test with testgrid, it would be great if you could review it.

[2019-04-02 11:18] arielb135 commented on #12964
Missing destination rule for mongo, this was not documented in the tutorial...
i'll open a bug:

[code]

[2019-04-02 11:18] #12964 closed

[2019-04-02 11:24] arielb135 opened #12989 "Documentation bug - Authorization for TCP services - missing DR for Mongo"
**Describe the bug**
When following the tutorial here: https://istio.io/docs/tasks/security/authz-tcp/
after deploying mongo (and switching to it) - the rating services did not work.

As part of the requirement, global MTLS needed to be created, when deploying mongo, there was **no** DestinationRule that was created to mongo, thus - it rejected all traffic to it.

Referenced issue: #12964

After a

[2019-04-02 11:33] dwradcliffe commented on #12162
Any issues on 1.0.5 are unrelated to this particular issue.

[2019-04-02 11:36] loewenstein commented on #12786
I would suggest instead of giving the highest possible priority, we should leave room for users to decide. What about adding one or two magnitudes to the globalDefault priority?

[2019-04-02 12:03] vadimeisenbergibm commented on #11841
@rshriram Is it OK to add some other metadata, for example a value `ingress` to ISTIO_META_REQUESTED_NETWORK_VIEW? Or another metadata key, e.g.  ISTIO_META_INGRESS `true`:`false`?

[2019-04-02 12:41] rshriram commented on #11841
how will that help?
this feels like a structural issue with the way split horizon has been implemented.

[2019-04-02 12:46] vadimeisenbergibm commented on #11841
So in EndpointsByNetworkFilter(), pilot will return only local endpoints to a sidecar with metadata that indicates it is an ingress gateway.

[2019-04-02 12:51] vadimeisenbergibm commented on #11526
Seems to be related to https://github.com/istio/istio/issues/12446, the health-check of all the remote tests fail.

[2019-04-02 12:52] codependent opened #12992 "Support end user authentication policy with multiple JWT issuers"
**Describe the feature request**
At the moment the end user validation Policy for a JWT can be configured like this:
[code]

We have come across a scenario where a microservice could get valid a JWT from two different issuers.

I am not sure if configuring multiple JWT validations is possible right now. Apparently it could be since the origin field expects a list. Is something like this valid?:
[c

[2019-04-02 13:05] osswangxining commented on #12947
btw, when I exec the caller's pod, run curl istio-pilot.istio-system:8080/debug/edsz, it looks that the loadBalancingWeight value is still the number of endpoint for each region.  @hzxuzhonghu @howardjohn could you help confirm this is right or I miss others?

[2019-04-02 13:40] rshriram commented on #12324
was fixed..

[2019-04-02 13:40] #12324 closed

[2019-04-02 13:43] rvennam commented on #12979
Currently, it logs:
[code]
We can improve the output when test fails so you can identify the failing test case and reason faster.

[2019-04-02 13:45] linsun commented on #9113
@TonyJDavies is your 503 happened during upgrade or after upgrade? Also, are mixer check enabled during your upgrade?

[2019-04-02 13:50] howardjohn commented on #12947
The reason outlier detection is needed is for the other locallity lb mode, failover. In this mode all traffic is sent to the same region/zone, unless that zone becomes unhealthy. For this case we need the outlier detection, otherwise we would never know when to send traffic out if the zone. For distribute this isn't needed but we had too tight of a restriction. I'll get this fixed soon.

Are you s

[2019-04-02 13:56] ibm-jason commented on #12979
@rvennam I slightly reworded the issue description, based on your findings. Sounds like we have the RUN/PASS distinction we need, it's the failure output that would help.

[2019-04-02 14:12] rshriram commented on #12968
that wont help.. you would simply swap ipv6 for ipv4 and have that many DNS queries.
we should use FQDN for pilot and zipkin

[2019-04-02 14:14] mbanikazemi opened #12994 "EDS Unit test is broken"
The current EDS test is incorrect and passes because the check calls time
out rather than successfully completing.

Return values of some adsc.Wait() calls are not checked and in the following case the parameter being passed is incorrect: https://github.com/istio/istio/blob/master/pilot/pkg/proxy/envoy/v2/eds_test.go#L310-L312

[2019-04-02 14:16] howardjohn commented on #12968
I think it's doing ipv6 AND ipv4 queries right now

[2019-04-02 14:19] Stono commented on #12968
It is, @rshriram change should reduce the zipkin ones hopefully a little bit (will report back), but not `istio-pilot`, and not the fact it's doing ipv6 **first**.

[2019-04-02 14:23] esnible commented on #12960
In Kubernetes a *Service* has up to three port numbers.  You will see a `port`, sometimes a `targetPort`, and sometimes a `nodePort`.

Your container is listening on a port, for example `8000`.  You can verify this by `kubectl exec` into the `istio-proxy` sidecar and doing `curl localhost:8000/hello`.  There will be no Kubernetes or Istio involved, just containerization.  This kind of port is call

[2019-04-02 14:24] rshriram commented on #12968
https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/templates/configmap.yaml#L234 and similar for zipkin - is using name.namespace.. this will cause libc to try to resolve with all DNS suffixes.. if you use FQDN, it "might" help reduce the traffic. And as far as the ipv6 is concerned, i think it has to do with the way libc detects ipv6 support on the system

[2019-04-02 14:29] howardjohn commented on #12968
From Slack:

[2019-04-02 14:30] #12758 closed

[2019-04-02 14:31] rshriram commented on #12968
yes I know that. but the question is why is it not happening for ipv4

[2019-04-02 14:32] howardjohn commented on #12968
Sounds like we specify AUTO (the default), and then Envoy looks up ipv6 then ipv4. Sounds exactly like what is being seen here

[2019-04-02 14:40] linsun commented on #11841
@vadimeisenbergibm can you clarify if this is just for split horizon single control plane multiclusters?  I had thought this already worked in gateway multi control plane multiclusters.

+1 on this feature, would prefer to route local cluster unless local service is overloaded or died, as the default behavior for single control plane multiclusters.

[2019-04-02 14:41] rshriram commented on #12968
That is not the root cause IMO.. Its just triggering the symptom. The fact that envoy is trying to do ipv6 even when there is no ipv6 address in the pod is a clear bug. Secondly, ndots is high (i think it should be 4 instead of 5). Its effectively forcing any DNS query to go through the search list before accepting the DNS name as is. So, you will still see load for ipv4 as well
```21:25:00.019646

[2019-04-02 14:44] vadimeisenbergibm commented on #11841
@linsun Right, it is for split horizon single control plane multiclusters. This is a rather serious issue: with some probability, the gateways might ping-pong a request between them forever. @elevran and @ymesika discovered it.

[2019-04-02 14:46] Stono commented on #12968
That ndots value is the out of the box config on GKE btw.  You'd have to
override the DNS settings on every pod to change it which isn't a simple
thing to do.

On Tue, 2 Apr 2019, 3:42 pm Shriram Rajagopalan, <notifications@github.com>
wrote:

[2019-04-02 14:54] Stono commented on #12968
Also with a lower ndots, we would still get all the V6 fails first.

[2019-04-02 15:00] jericks-duo commented on #12795
I'm building from master now. If that doesn't magically work, I'll try a complete teardown of my GKE cluster and rebuild it and document the steps I take.

[2019-04-02 15:02] dcberg commented on #9332
@cainelli when you say you tested on kube 1.13.4 is this with ResourceQuota and LimitRange? If so my guess is that kube 1.13 removed the restriction from LimitRange to change the resources on an init container.

Ultimately the correct fix is for Istio to set proper resource requests and limits for the proxy and init container. Having the config map to allow customers to adjust the resource setting

[2019-04-02 15:05] Stono commented on #12968
Changing to FQDN didn't do a lot to be honest as it's still going to go over the search domains as the ipv6 versions don't exist:

[code]

[2019-04-02 15:06] ozevren commented on #12678
https://k8s-testgrid.appspot.com/istio-release#e2e-pilot-no_auth

[2019-04-02 15:06] ozevren commented on #12678
@andraxylia Can you route to the right person to get this fixed?

[2019-04-02 15:07] Stono commented on #12968
In fact it's worse than than using short names in the config!  This is what you get *not* using fqdns:
[code]

[2019-04-02 15:16] Stono commented on #12968
And also, it's not just IPV6 first, why does it need to check the IP of a **service**, every 5 seconds?  That feels excessive, kubernetes service IP's only change if you purge the service and recreate it?

So there are two issues really:

  - Inability to resolve IPV4 first results in lots of IPV6 questions first
  - Inability to configure the DNS resolution check interval means we're checking a s

[2019-04-02 15:17] rvennam commented on #9332
Resource limits and requests was fixed in 1.1. https://github.com/istio/istio/pull/8409

Could you try this on 1.1?

[2019-04-02 15:24] jdamata opened #12996 "CDS marked STALE (Never Acknowledged) with wildcard destinationrule"
**Describe the bug**
After creating a wildcard destinationrule CDS gets marked as stale.

State before adding the rule
[code]

State before adding the rule
[code]

Now we add a destination rule like so:

[code]

State after adding the rule
[code]

State after adding the rule
[code]

In istio-proxy logs i see this error:
[code]

**Version**
istio 1.1.1
aws eks 1.11

**Installation**
[code]

**Envir

[2019-04-02 15:24] ericvn commented on #12607
As a semi quick test to see what would work with `zsh` completion, I updated the code locally to take a `--zsh` parameter and call the root.GenZshCompletionFile and generate an `_istioctl` file. I tried to source that file. That completed fine, but looking at the file, it was incomplete and `istioctl <tab>` didn't work correctly.

I then looked at the `cobra` repo and pulled the file in their unme

[2019-04-02 15:30] Stono commented on #12968
It's also worth noting that `global.proxy.dnsRefreshRate` which is supposed to control the DNS checks for clusters with `STRICT_DNS` (which looking at https://github.com/istio/istio/blob/release-1.1/tools/deb/envoy_bootstrap_v2.json both `zipkin` and `istio-pilot` are), does not apply to that bootstrap config, so you can't change that 5s check on these.

[2019-04-02 15:30] elevran commented on #12968
Envoy supports v4only, v6only or auto (which is v6 first and if that fails, fallback to v4).
Doing IPv4 first requires an Envoy change.
I do think we can change the bootstrap config clusters to use LBFamily = v4only (without v6 fallback) if that would resolve the issue. Can also look if there is a way to make the DNS cache timeout higher

[2019-04-02 15:34] Stono commented on #12968
@elevran see the PR I linked where @rshriram has modified the bootstrap config to be ipv4 only (which i think makes sense, unless you know of anyone building ipv6 only clusters!?).

Yeah increasing the timeout would be good - as i mentioned - driving it from `global.proxy.dnsRefreshRate` makes sense if possible.

[2019-04-02 15:36] elevran commented on #12968
Sounds like that change could go into the same PR

[2019-04-02 15:36] Stono commented on #12968
Whatever gets it merged sooner so i can drop my DNS servers sweating ;)

[2019-04-02 15:41] osswangxining commented on #12947
Yes, the actual traffic is splitted to 80:20,  but the edsz shows the loadBalancingWeight is still the size of endpoints within each region. @howardjohn  Thanks a lot again.

[2019-04-02 15:42] rvennam commented on #11960
I'm seeing similar log data in the proxy logs for my application.
`
[2019-04-02 15:39:00.087][16][warning][misc] [external/envoy/source/common/protobuf/utility.cc:129] Using deprecated option'envoy.api.v2.route.Route.per_filter_config'. This configuration will be removed from Envoy soon. Please see https://github.com/envoyproxy/envoy/blob/master/DEPRECATED.md for details
`

[2019-04-02 15:53] mmosttler opened #12998 "Using Istio with Couchbase operator 1.1"
I am trying to create a Couchbase cluster in GKE with Istio (envoy proxy) using the Autonomous Operator 1.1.
The operator starts up fine, and after running the yaml to create the couchbasecluster the first node starts up and then the 2nd node starts. Issue is that the 2nd node appears to fail to join the cluster and additional nodes are not being started.

I am not sure how to debug what is happen

[2019-04-02 16:05] vadimeisenbergibm commented on #12955
@leszko First note that you have to enable the blocking policy in Istio 1.1 so the egress will be blocked by default.

Are you able to access https://www.googleapis.com/books/v1/volumes?q=isbn:0486424618 from a pod without Istio?

And which section in the blog post does not work for you: this one https://istio.io/blog/2018/egress-https/#bookinfo-with-https-access-to-a-google-books-web-service or t

[2019-04-02 16:44] bianpengyuan commented on #12987
In istio 1.1 we disabled policy enforcement by default. Did you enable policy enforcement when you run your test? https://istio.io/docs/tasks/policy-enforcement/enabling-policy/

[2019-04-02 16:46] vadimeisenbergibm commented on #12955
To enable the blocking policy: http://localhost:1313/docs/tasks/traffic-management/egress/#change-to-the-blocking-by-default-policy

[2019-04-02 16:52] dotw commented on #12987
@bianpengyuan thanks. I'll check the settings and feedback.

[2019-04-02 16:57] esnible commented on #12998
Consider running https://github.com/aspenmesh/istio-vet for basic sanity checks for things Istio needs.

According to the Couchbase docs, https://docs.couchbase.com/server/6.0/install/install-ports.html , the Couchbase pods need to communicate using ports 4369, 8091-8096, 9100-9105, 9110-9118, 9120-9122, 9999, 11209, 11210, 18094, 21100-21299.  Probably at least one of these ports is not compatibl

[2019-04-02 16:57] jcetkov commented on #12975
Looks this was addressed in 1.1.1, where the prometheus helm chart has the citadel job configured

[2019-04-02 16:57] #12975 closed

[2019-04-02 17:08] esnible commented on #12994
Although I believe this is an `area/networking` I believe only the Networking Working Group should assign the label when they acknowledge the issue.  I have removed the label but expect them to restore it.

[2019-04-02 17:11] #10244 closed

[2019-04-02 17:18] nmittler commented on #12682
This no longer appears to be flakey on testgrid. Also not able to reproduce.  Closing for now.

[2019-04-02 17:18] #12682 closed

[2019-04-02 17:35] frankbu commented on #7787
@esnible Your original scenario, at the top of this issue, seems to be fixed. I can't reproduce it. I'm guessing the problem before had to do with caching, but it's fixed now. The code was always using the pod labels, but I think that what was happening before was that unless the service changed (in any way) it didn't refresh the pod labels. I was going to prove it by changing the line where you a

[2019-04-02 17:41] esnible commented on #12992
I tried to recreate your Policy and it wasn't accepted until I made `targets` plural and made the `name` lower case.

I tried to recreate your request with

[code]

Both www.example.com and securetoken.google.com were present in the Envoy configuration dump.  I did not test with actual traffic.

[2019-04-02 17:43] gargnupur commented on #12750
@ozevren , @kyessenov : Tests seem to pass now... looks like https://github.com/istio/istio/pull/12851 fixed it?

[2019-04-02 17:49] gargnupur commented on #12750
spoke too soon.. TestCheck_Allow passes but TestCheck_Deny fails :(

[2019-04-02 17:54] quanjielin commented on #12992
Multiple issuers should be already supported from [policy proto definition](https://github.com/istio/api/blob/master/authentication/v1alpha1/policy.proto#L349)

[code]

[2019-04-02 18:35] jericks-duo commented on #12795
Alright. Yeah. Brand new GKE cluster.
[code]
Is this really something that can't be replicated on your end?

[2019-04-02 18:51] kyessenov opened #13002 "Pilot does not validate VirtualHosts in RouteConfigurations"
See https://github.com/lyft/protoc-gen-validate/issues/154

[2019-04-02 18:51] rshriram commented on #11841
this ping ponging issue was known a while ago :). That was one of the reasons for setting up the .global namespace for proper routing. Network names for endpoints are not supposed to carry any meaning. And by default, the network is "" which pulls all cluster local endpoints. So fix the split horizon implementation to add the remote gateway endpoints with a network name instead of adding more sema

[2019-04-02 18:53] jericks-duo commented on #12795
More trials (note what happens for the `*.foo.svc.cluster.local` case:
[code]
[code]
[code]

[2019-04-02 18:58] howardjohn commented on #12947
Ok thanks, I reproduced the issue, it sounds like a bug in the edsz debug endpoint

[2019-04-02 19:02] loewenstein commented on #11366
I recall, in the networking wg meeting the cni plugin approach was first presented, there was an agreement that it should be possible to launch a sidecar from cni that kubernetes should be fully aware of. @costinm do you recall that meeting and who said it should be possible?

[2019-04-02 19:08] #10985 closed

[2019-04-02 19:10] alunsford commented on #10933
We've been struggling with 1.1.1 for the past few days in an attempt to upgrade from 1.0.2. In 1.0.2 we had sync statuses of 100% for our services and istio-proxy handled our in-cluster GRPC traffic without issue. In 1.1.1 they are all 50%, with the diff showing that Pilot knows about them and Envoy does not (same output as https://github.com/istio/istio/issues/10933#issuecomment-476296801).

Isti

[2019-04-02 19:10] howardjohn commented on #12947
edsz outputs https://github.com/istio/istio/blob/6db5cd03157c12e542a335851f239d62f757e8b8/pilot/pkg/proxy/envoy/v2/eds.go#L66

This isn't updated with Sidecar isolation mode, so probably not as useful anymore

Also, it makes sense that edsz cannot give locality information - locality information is calculated on the fly for each client based on the clients locality. edsz gives the global state in

[2019-04-02 19:11] esnible commented on #7787
This defect going away by itself with 1.1 is great news.

@frankbu Istio has a few gaps when the number of Services for a pod is != 1.  Let's work together to document them.

Before we close this item let's create an e2e test for sourceLabels.  Where should it go, `e2e-simple`?

[2019-04-02 19:11] jericks-duo commented on #12795
Another interesting test case:
[code]
In theory, for the `sleep.foo`->`httpbin.bar` case, it's supposed to check the client's namespace for DRs first, before checking the server's namespace for DRs. So it should find the rule for `*.bar.svc.cluster.local` in `foo`'s namespace, and that connection should be a 200 (and without the `*.local` rul in `bar`'s namespace, it would work). However, for some

[2019-04-02 19:20] jericks-duo commented on #12795
It also seems like there is no issue with per-namespace `*.local` rules _disabling_ mTLS.
[code]
[code]
This behaves as I would expect.

[2019-04-02 20:09] howardjohn commented on #7669
Does https://github.com/istio/istio/pull/12916 fix this? No prometheus metrics but you get a 502 error rather than a 404

[2019-04-02 20:09] Daniel-Houston commented on #12934
I determined the problem was that I was missing the 'attributes.yaml' file in my configStoreURL folder. Is there somewhere in the documentation that is stated and i just missed it? I would recommend making that a little more clear for people trying to develop custom adapters in the future

[2019-04-02 20:11] #10200 closed

[2019-04-02 20:11] Daniel-Houston commented on #12494
@bianpengyuan thank you. Is this in the documentation somewhere? It was very confusing as I would normally expect a regular string to work.

[2019-04-02 20:19] Stono commented on #7669
No not really, this is specifically around visibility from a signals perspective of the issue.

[2019-04-02 20:20] Daniel-Houston commented on #12934
@douglas-reid I am using the authorization template

[2019-04-02 20:21] dkushner commented on #12938
It appears that the access log line indicating that the internal endpoint had resolved directly to a service pod in the remote cluster may have been a fluke or an artifact of the way the Envoy proxies communicate downstream hosts transparently? I cannot say for certain. It turns out that the gateway in cluster-2 *was* receiving a connection attempt from the traffic sent to the gateway in cluster-1

[2019-04-02 20:29] dkushner commented on #12938
@hzxuzhonghu Would you mind weighing in on this? You've been very helpful in your responses to my related Discuss thread. I believe I've found the root cause of that.

[2019-04-02 20:34] arianmotamedi commented on #9113
FYI. There is a chance some of these 503s might be related to this bug where Envoy doesn't acknowledge a FIN packet immediately after a response from upstream and will return the connection to the connection pool, which will trigger a 503 on the next write to the stream: https://github.com/envoyproxy/envoy/issues/6190.

We run Envoy in a cluster that currently gets on average about 1k requests/min

[2019-04-02 20:54] gargnupur commented on #12634
Closing as fix is in master and release-1.1 now and will be a part of 1.1.3 release.

[2019-04-02 20:54] #12634 closed

[2019-04-02 20:56] gargnupur commented on #12634
ETA for 1.1.3 is 4/15

[2019-04-02 21:11] #10229 closed

[2019-04-02 22:06] andraxylia commented on #12678
You have to wait a few secs between applying DestRules and the VirtualServices. It could be the current wait time is not sufficient.

[2019-04-02 22:09] frankbu commented on #7787
@esnible, I think adding a test to e2e-simple would be good. I also thought it would be good to add a sourceLabels check in the unittest too.

https://github.com/istio/istio/blob/e4d174a8625e0ce63cc47c65354df619f4047846/pilot/pkg/serviceregistry/kube/controller_test.go#L402

Now that I've looked at this unittest, though, I think it could use a complete rewrite, since what it's currently doing seem

[2019-04-02 23:26] #12856 closed

[2019-04-02 23:51] uk000 opened #13008 "A ServiceEntry from one namespace can interfere with the traffic of another namespace"
**Describe the bug**
As of Istio 1.1.1, anybody can create a ServiceEntry in one's own namespace to interfere with or hijack traffic of all other namespaces for a certain host.
The hijacked traffic can be routed to another external destination, or to some internal kubernetes service. Even if we ignore the possibility of a malicious intent, this leaves the door open for a simple mistake to disrupt

[2019-04-03 00:18] walkerline commented on #12960
Thanks @esnible for your detail explanation
So couple of things:

1. the targetPort in our case is 5000 and its the same as Service port
2. I was able to `curl localhost:5000/hello` and got 200 in the istio side car
3. I was also able to use `curl helloworld:5000/hello` and got 200 in another pod
4. **If I applied a routing rule(e.g. in my question) to helloworld serivce to route request only to v

[2019-04-03 01:05] walkerline commented on #12960
So just make things clear, now we have 2 issues:
1. If we curl the helloworld service from ingress, we got 404 error
2. If we curl the helloworld service from another pod on the same cluster, we can get response, but the Routing rule is not working at all. Seems like the rule was not able to pushed to the sidecar.

[2019-04-03 02:05] ozevren commented on #11929
https://prow.k8s.io/view/gcs/istio-prow/logs/istio-pilot-e2e-envoyv2-v1alpha3-k8s-latest/1204

Networking folks, can you please reassign appropriately to get it fixed?

[2019-04-03 02:26] hzxuzhonghu commented on #12996
The `resolution: NONE` conflicts with `loadBalancer:
      simple: ROUND_ROBIN`

[2019-04-03 02:46] dwradcliffe commented on #9597
I've been running a set of proxies with the ENV set to `1.1.1` and it seems to be working fine. I also took a quick look at the code and I think the only thing using the value is the check to see if it's `> "1.1"`. That is definitely the simplest solution.

[2019-04-03 03:00] hzxuzhonghu commented on #12938
For single control plane model, it is impossible. Why donot you use multi-control plane model?

[2019-04-03 03:00] ryan-dyer opened #13009 "IP no longer allowed in ServiceEntry host field"
**Describe the bug**
With the 1.1 release, the host field of a service entry can no longer be an IP address.  Perhaps this is intended, but if so, additional documentation needs to be added on how to allow an IP address for a service entry.

**Expected behavior**
An IP address is allowed for a service entry.  Our mesh is configured with REGISTRY_ONLY and our application needs to access the AWS ec2

[2019-04-03 03:29] dotw commented on #12987
Hi, I confirm the blacklist works when enabled the policy following the doc, but it doesn't work as 1.0.5 even I set `cachingInterval: 0s` and `ttl: 0s`.  The details service is blocked when the rule is created immediately. this is what we expect, but the details service is still blocked event I deleted the rule.  When I refresh the bookinfo page frequently, I can see the details several times. th

[2019-04-03 03:37] dotw commented on #12642
meet the same logs in istio 1.1.1
`[2019-04-03 03:20:53.383][20][warning][misc] [external/envoy/source/common/protobuf/utility.cc:129] Using deprecated option 'envoy.api.v2.route.Route.per_filter_config'. This configuration will be removed from Envoy soon. Please see https://github.com/envoyproxy/envoy/blob/master/DEPRECATED.md for details.`

[2019-04-03 04:01] morvencao commented on #12786
Actually we have provide the users the option of `priorityClassName `, see: https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/values.yaml#L374_#L379

Currently default value of `priorityClassName` is empty, should we update to `system-cluster-critical`?

[2019-04-03 06:24] osswangxining commented on #12947
@howardjohn  Thanks to make this more clear.

[2019-04-03 07:20] Stono opened #13014 "Need Regression Tests for: Two services on port 80 (targeting different pod ports) breaks"
Take the following `Pod` ports:

[code]

And the following two services:
[code]

Which have the following endpoints:
[code]

Which each target different ports:
[code]

Communication to one of the services does not work (but one does)
[code]

Looking in the `istio-proxy` logs from the **source** I see:
[code]

Both have valid DestinationRules:
[code]

If i change the port of one service to somethin

[2019-04-03 08:54] sunadm opened #13016 "tag 1.1.2's commit hash is same as 1.1.1"
as subject title.

[2019-04-03 09:03] leszko commented on #12955
@vadimeisenbergibm Thanks for your reply.

To answer your questions:

1. Yes, without Istio I'm able to access Google Apis Books.
[code]

2. About the blog post, the first part somehow does not work. I to follow the steps and:
- If I [Apply Default Destination Rules](https://istio.io/docs/examples/bookinfo/#apply-default-destination-rules), then I always get access to the external service (so cann

[2019-04-03 09:20] TonyJDavies commented on #9113
@linsun - The 503s are generated continuously by the proxy, as shown by the SysDig screen shot below. The early peaks coincide with load being pushed through the system.
![image](https://user-images.githubusercontent.com/40263457/55467784-e80e9c00-55f9-11e9-9ec1-570c41e788fb.png)

The mixer check is enabled as follows:
[code]

[2019-04-03 09:28] morvencao opened #13018 "Support customized tags from request header for tracing"
**Describe the feature request**
Envoy v2 API supports [request_headers_for_tags](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/http_connection_manager/v2/http_connection_manager.proto#config-filter-network-http-connection-manager-v2-httpconnectionmanager-tracing), which can be used to create tags for the active span from request headers, but looks look like Istio curren

[2019-04-03 09:32] objectiser commented on #13018
@douglas-reid This is another area to consider for the tracing API - as it would tend to be service specific.

[2019-04-03 09:33] morvencao commented on #13018
@douglas-reid Any thought?

[2019-04-03 09:34] dotw commented on #12987
Hello, I confirm the blacklist works as expected now. the details page is still blocked because it has ratelimit policy.

[2019-04-03 09:34] #12987 closed

[2019-04-03 09:42] Stono opened #13019 "Able to fully break a service by changing the `kind: Service` ports."
Following on from https://github.com/istio/istio/issues/13014 really, I am able to get a service into a totally broken state by messing with some ports.

It's too hard to explain on Github, but happy to demonstrate through a screen share.

The only way to get out of the broken state is to delete the Pod and let it recreate.

[2019-04-03 09:44] Stono commented on #12760
We had another production outage caused by this today.  End to end tests didn't pick it up because 404 doesn't flag as an invalid response from the repo api.

@howardjohn will this be in 1.0.2?  If not, could you produce a 1.0.2 build with this patch so i can use it as our proxy image?  It's a real issue for us.

<img width="1373" alt="Screenshot 2019-04-03 at 10 42 55" src="https://user-images.gi

[2019-04-03 10:10] nheidloff opened #13020 "End User Authentication with JWT in Istio gives 'upstream connect error'"
**Describe the bug**
Hi, I'm not sure whether this is an issue with Istio or whether I do anything wrong.

I'm trying to set up end user authentication with JWT in Istio as described here: https://istio.io/help/ops/security/end-user-auth/

When I invoke the following URLs, I get the same error:
[code]

HTTP Status Code: 503
*upstream connect error or disconnect/reset before headers*

I don't see a

[2019-04-03 10:46] emedina commented on #9113
@arianmotamedi Would you mind sharing some configuration snippets about how you have set up the `idle upstream timeouts` in your Istio installation?

Thanks!

[2019-04-03 11:00] cainelli commented on #9332
Yes, worked on 1.13 with LimitRange enabled. I didn't checked ResourceQuota tho.

[2019-04-03 11:20] erezzarum commented on #12958
So this considered at the moment a cosmetic issue only?
Can we silently ignore it until a fix will be made?
Thanks!

[2019-04-03 11:26] vadimeisenbergibm commented on #12955
@leszko You have to apply the default destination rules, it is not related to the blog post. So if you apply the default destination rules, and follow the steps of the blog post, does it work for you?

Another thing, can you try `kubectl exec -it <your ratings pod> -c ratings -n default -- curl http://www.googleapis.com:443/books/v1/volumes?q=isbn:04864246` ? It will tell you if you can access goo

[2019-04-03 11:33] arielb135 commented on #5989
hey @devops-traxxs , you deployed rabbit **without** mutual TLS?
just with the sidecar without additional functionality?

because i'm trying to deploy with MTLS and we would like that the nodes in the cluster will talk to each other (with MTLS)

[2019-04-03 12:17] #10209 closed

[2019-04-03 12:17] arielb135 commented on #7495
Hi, i'm trying to implement this - does this mean we disabled MTLS for rabbit itself? what we disabled there?

[2019-04-03 12:26] TonyJDavies commented on #9113
@emedina - We don't have these setup in our Istio configuration as we're essentially using the default values.

[2019-04-03 12:34] yuchen9459 opened #13021 "Unvalid endpoint error when creating the Service Entry for Gateway-Connected Clusters"
**Describe the bug**
I am following the Gateway-Connected Clusters tutorial in the example. Everything goes well until I create the Service Entry, I received an error which states that

**Steps to reproduce the bug**
1. Create two kind(Kubernetes in the docker) using the script from [Kubernetes Federation V2](
        https://github.com/kubernetes-sigs/federation-v2/blob/master/scripts/create-clus

[2019-04-03 13:04] leszko commented on #12955
@vadimeisenbergibm Ok, I know what was wrong, two things I did wrong:
- I didn't set up auto-injection (and my details v2 was not injected with Istio)
- I didn't apply the default  destination rules
Now it works fine, thanks for the help.

I still cannot configure the same scenario for the web service that is in the same Kubernetes cluster. If you know how to do it or there is some documentation o

[2019-04-03 13:31] vadimeisenbergibm commented on #12955
@leszko I am glad everything works now. Regarding your question, I think for Istio to operate you need a service, this is the simplest solution. Closing this issue.

[2019-04-03 13:31] #12955 closed

[2019-04-03 13:41] lucasponce commented on #13018
+1
I've found just a similar request for this issue within Kiali.
From Kiali, I want to create a matching rule based in a header that might be or not be part of a span.
(As developer could not add it).
But as it's used inside a VirtualService I'd like to see it in Jaeger, to also correlate it in Kiali with other metrics.

So, yeah, something where headers can be added to a span via configuration w

[2019-04-03 14:16] alunsford opened #13022 "istio-proxy not intercepting traffic in 1.1.1"
**Describe the bug**
The istio-proxy sidecar does not intercept in-cluster GRPC traffic in 1.1.1. We have a Service with a port named `grpc` and in 1.0.6, GRPC traffic would get intercepted by the proxy and routed accordingly. In 1.1.1, traffic is not handled by the proxy - it goes straight to the service container running in the pod. We also noticed that another port on the service for health che

[2019-04-03 14:18] envintus commented on #13022
@hzxuzhonghu Please let us know if you need any additional information.

[2019-04-03 14:24] jdamata commented on #12996
Thanks! Works with PASSTHROUGH

[2019-04-03 14:24] howardjohn opened #13023 "release-1.1-latest-daily not updated"
https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.1-latest-daily/

It is using a build from 3/16.

Daily builds are still running though: https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.1-20190403-09-16/

[2019-04-03 14:24] #12996 closed

[2019-04-03 14:28] howardjohn commented on #13016
The "1.1.2" release is not a real release. We have an issue with our release process that occasionally tags commits in misleading ways that we are working on.

Please only use the officially published releases from https://github.com/istio/istio/releases, not drafts.

[2019-04-03 14:28] #13016 closed

[2019-04-03 14:40] liamawhite opened #13025 "Unable to get successful integration test run on GKE"
**Describe the bug**
Integration tests don't run successfully on GKE cluster. Pretty sure it's not GKE specific though.

**Expected behavior**
Successful integration test run.

**Steps to reproduce the bug**

- Create a new cluster.
- Bind account to `cluster-admin` role
- `cd test/integration && go test ./...  -istio.test.env kube`

**Version**
N/A - ran using the latest master branch
[code]

**E

[2019-04-03 14:48] howardjohn commented on #12144
Fixed by https://github.com/istio/istio/pull/12234 I believe. If not please reopen

[2019-04-03 14:54] liamawhite commented on #13025
[citadel-test-e1016d603eae40cc9a.zip](https://github.com/istio/istio/files/3039284/citadel-test-e1016d603eae40cc9a.zip)

Attached as discussed.

[2019-04-03 14:55] howardjohn opened #13026 "istioctl version --remote shouldn't short circuit on failure"
[code]
`istio-pilot-84947f647d-jswxs` happened to be starting or terminating or something. I should still be able to see the versions of other components when one pod has an issue.

[2019-04-03 14:58] jnativio commented on #8560
@incfly @mandarjog Is this issue still worth to pursue given the new Pilot design?