[2020-10-19 07:58] Stono opened #28066 "With logAsJson enabled, some logs are still in the incorrect format"
**Bug description**
Pretty much as the title says, when we enable logAsJson, we still see some logs which aren't, for example:

[code]

Similar issue: https://github.com/istio/istio/issues/27873

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[x] U

[2020-10-19 08:23] sshishov commented on #26522
Hello,

We also start having these issues after upgrading from `1.6.0` to `1.7.3` using Canary Upgrade. The previous operator was easily consuming `defaultTolerations` and `defaultNodeSelector` and all our components were placed where they should. After upgrade we noticed that `istiod` is placed on an incorrect node.

We also did not see any deprecation warnings, any updates regarding it. That cau

[2020-10-19 09:07] #15772 closed

[2020-10-19 09:47] piotrkpc commented on #27732
I can work on this. Could you assign this to me? Would it be possible that I could assign myself to some issues?

[2020-10-19 10:44] #25237 closed

[2020-10-19 12:58] Stono commented on #28026
OK we can confirm any workload (regardless of it its port combination) using `traffic.sidecar.istio.io/includeInboundPorts: "8080"` breaks during a 1.5 to 1.6 upgrade.

So to recreate this problem:

1. Deploy 1.5 cluster
2. Deploy a workload with a single port (8080) with MTLS enabled, with the annotation `traffic.sidecar.istio.io/includeInboundPorts: "8080"`
3. Upgrade control plane to 1.6

 = br

[2020-10-19 13:01] Stono commented on #28026
So we continued to try and narrow this down.  We did the following:

1. Deploy a 1.5 cluster
2. Deploy a 1.5 workload with mTLS enabled, single port (8080) with `traffic.sidecar.istio.io/includeInboundPorts: 8080`
3. Upgrade control plane to 1.6

 = Broken

The errors were slightly different on this one:
[code]

[2020-10-19 13:09] Stono commented on #28026
To update further, we tried again with two workloads:

- workload1: port 8080, `traffic.sidecar.istio.io/includeInboundPorts: 8080`
- workload2: port 8080, no annotation

Updated control plane to 1.6

- workload1: broken
- workload2: working

Restart workload 2 = fixed.

Therefore i'm 100% confident the annotation is the cause during the upgrade process.

The reason this is so impacting for us it

[2020-10-19 13:36] alexandrefilgueira opened #28069 ""enablePrometheusMerge: true" not merging the app metrics with Istio's in 1.7.3"
**Bug description**
Deployed Istio 1.7.3 with meshConfig.enablePrometheusMerge to TRUE, and addonComponents.prometheusOperator.enabled to TRUE.
My services had already prometheus.io annotations and after restarting, I can see that Istio overwrote those with the ones that Istio uses and as env variables I can see the old values, for example:

`ISTIO_PROMETHEUS_ANNOTATIONS:  {"scrape":"true","path":

[2020-10-19 13:40] bianpengyuan commented on #28065
Please take a look at this: https://istio.io/latest/docs/ops/configuration/traffic-management/network-topologies/ thanks!

[2020-10-19 14:29] frankbu commented on #22605
This issue is addressed in 1.8: https://preliminary.istio.io/latest/docs/setup/install/multicluster/

Also related: https://preliminary.istio.io/latest/blog/2020/dns-proxy/

[2020-10-19 14:38] howardjohn opened #28071 "Replace governmentpaas/curl-ssl with curlimages/curl in samples"
Just to use a more official image

[2020-10-19 14:38] howardjohn commented on #28071
And pstauffer/curl

Probably also ymqytw/nginxhttps

[2020-10-19 14:43] jacob-koren-zooz commented on #28049
`       {
        "name": "example.com:80",
        "domains": [
         "example.com",
         "example.com:80"
        ],
        "routes": [
         {
          "match": {
           "prefix": "/"
          },
          "route": {
           "cluster": "outbound|80||k8s-nginx-example.outbound.svc.cluster.local",
           "timeout": "5s",
           "retry_policy": {
            "retry_on":

[2020-10-19 14:44] jacob-koren-zooz commented on #28049
Currently, the test is on example.com which should lead to k8s-nginx-example.outbound.svc.cluster.local

[2020-10-19 15:04] howardjohn commented on #28049
Are you sure the 404 is not from your app? everything looks okay there. One way to verify - turn on access logs and look at the "Access log flag". If its from misconfigured istio config it will likely say `404 NR`, but 404 from your app would say `404 -`

[2020-10-19 15:06] howardjohn commented on #19987
Not stale - we should add a test outside of istio-system

[2020-10-19 15:20] jaronoff97 commented on #27973
The reason I had to do that initially is because of a bug in our previous istio version that didn't apply the addons correctly so Kiali never got installed.

I would expect that `k apply -f ...` to update the istio configuration should update the installed-state given the state has changed. If the change to make sure that installed-state doesn't get reconciled is a simple label on the installed-st

[2020-10-19 15:22] #20377 closed

[2020-10-19 15:23] #25222 closed

[2020-10-19 15:24] #25246 closed

[2020-10-19 15:35] howardjohn commented on #28026
Good pod:
[code]
[code]

Bad pod:
[code]
[code]

The interesting thing is the arguments actually show `-z 15006` - but not used. I think this was some migration thing that is going wrong here

[2020-10-19 15:37] howardjohn commented on #28026
On 1.5:
[code]

On 1.6:
[code]

[2020-10-19 15:38] howardjohn commented on #28026
Missing #22686?

[2020-10-19 15:42] howardjohn commented on #28026
Works in 1.5 pilot because https://github.com/istio/istio/commit/ab88b62363307f92f88d48e23a4fa2e14a3df88d is not in 1.5

[2020-10-19 15:49] bnutt commented on #28041
@morvencao Agreed, numberReady will not correctly give us the ability to wait for the daemonset to be ready. Thanks for the catch!

[2020-10-19 15:51] howardjohn commented on #28026
I am not sure I am seeing a workaround for this (aside from removing the annotation) other than cherrypicking https://github.com/istio/istio/pull/22686  or reverting ab88b62  unfortunately... There is just a mismatch between these two, the latter assumes the former was always present when its not during the upgrade case

[2020-10-19 15:57] kazukousen opened #28075 "IngressGateway(ver.1.7.2) crashes with Segfault"
**Bug description**

istio-ingressgateway pod crashes with segmentation fault.
i can't find any obvious recent issues this would have caused.

[code]

[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[x] User Experience
[ ] Developer Infrastructure

**Expected behavior**
istio-proxy does not crash & segfault

**

[2020-10-19 16:03] bianpengyuan commented on #27146
Lower to P1, as the things left is only testing now.

[2020-10-19 16:14] #27016 closed

[2020-10-19 16:14] #27911 closed

[2020-10-19 16:14] bianpengyuan commented on #27509
@richardwxn I made this a P0 for 1.8 as this seems to be an important bug fix. Looks like you have an idea about how to fix it so temporarily assign to you. Please downgrade if you think this is not a P0 or reassign if necessary. thanks!

[2020-10-19 16:18] Eslamanwar commented on #26861
@howardjohn I saw your PR that tries to solve this issue , are we expecting a batch for the current istio version 1.7 or we will wait to 1.8 for extra modification to envoy-proxy, thank you

[2020-10-19 16:19] shankgan commented on #27997
How do you hope to identify the "host" that is initiating the mTLS connection here? Not sure if IP ranges make sense in a K8s environment where the IP's keep changing. Or perhaps you are hoping to add an exception for mesh-wide mtLS for inbound connections from a particular service/service entry?

Trying to understand in scenario (A), how pod A will be able to distinguish between actual applicatio

[2020-10-19 16:19] shankgan commented on #27997
Adding @incfly for comment

[2020-10-19 16:28] howardjohn commented on #26861
This is highly unlikely to land in 1.7 as it required substantial changes to the telemetry code in order to work, (which is why it has not been merged - should be soon though)

[2020-10-19 16:44] nirvanagit commented on #27083
@vngzs - I experienced the same issue where two service entries in different namespaces had the same host name.

This can be fixed (WIP PR) with updating this statement - https://github.com/istio/istio/blob/1.5.8/pilot/pkg/serviceregistry/external/servicediscovery.go#L268

Explanation
- Whenever istiod gets an update from kube-api (sequential based on create/update time of the resource) it updates

[2020-10-19 16:44] #25240 closed

[2020-10-19 16:45] Stono commented on #27994
I've updated this issue to reflect the fact that it doesn't work on a local namespace peerAuthenticationPolicy either (discussing with @howardjohn)

[2020-10-19 16:47] jacob-koren-zooz commented on #28049
I'm pretty sure because my app is just nginx and I log every request. Do you mean my client app perhaps?

[2020-10-19 17:00] howardjohn commented on #27994
The first issue faced here is invalid PA cause by not having validating webhook. However, even with that fixed, we see a poor interaction between Sidecar.ingress field and presence of the port in Service:

Goal - all ports except 9090 are strict mtls. Port 9090 is for prometheus, so its not exposed in Service. Config:
[code]

Results:

PA+sidecar.ingress 8080 = no port 9090 config (seems like a bu

[2020-10-19 17:01] Aenima4six2 commented on #21368
Chiming in here because this is related to my Envoy and Istio objectives. I think the benefits of using a sidecar over a gateway is the simplicity granted to the application container, allowing it to be completely ignorant of TLS from a hosting perspective, while ensuring that no unencrypted traffic flows across a node (only within a pod). One of my objectives was to allow for `simple` or `mTLS` b

[2020-10-19 17:03] howardjohn commented on #27994
Seems same behavior is in master as well

[2020-10-19 17:05] Stono commented on #27995
I'm closing this in favour of https://github.com/istio/istio/issues/27994

[2020-10-19 17:05] #27995 closed

[2020-10-19 17:11] bianpengyuan commented on #25308
@howardjohn @ramaraochavali Hi this is a P0 for 1.8, please help to triage this issue thanks!

[2020-10-19 17:13] shankgan commented on #28025
I believe the design of secret Fetcher requires us to go through all the K8s Secrets on the off-chance that one of them contains the credentials we need. Hence the warning messages for ALL secrets.
Adding @JimmyCYJ  for comment

[2020-10-19 17:25] Bhanu88 commented on #28008
combination of following policy work perfectly for me in the case where I want to allow request on basis of the certain token value

[code]

[code]

[2020-10-19 17:25] #28008 closed

[2020-10-19 17:26] kyessenov commented on #28017
Change of plans: adding new root context leads to unexpected crashes, so something is broken in Wasm (again). Let's keep one root and share the config instead.

[2020-10-19 17:31] howardjohn commented on #25308
Dropping to P1

[2020-10-19 17:35] richardwxn commented on #27973
I see, so you ran `istioctl manifest apply` again mainly for applying the manifest for Kiali

Yep that would be the change needed. Feel free to send us for review once you have the PR ready, appreciate your contribution!

[2020-10-19 17:36] richardwxn commented on #27973
changed to p1, as this is more like a user experience improvement issue

[2020-10-19 17:58] #28041 closed

[2020-10-19 18:33] incfly commented on #27997
For scenario A, I'm curious why would job solves the problem but not the init container? Are you saying the job container is running in the same pod of pod B and put the responded data from pod A into the shared volume? The difference here is that job would be able to send mTLS request but not your init container pod? Mind showing some details of the two setup's pod spec yaml? (Just sample snippet

[2020-10-19 18:57] #28020 closed

[2020-10-19 19:11] jasonwzm opened #28078 "Create test to validate behavior of kubectl explain"
Create a test in istio/api to create test for CRD as well as kubectl explain.

Followup to https://github.com/istio/api/pull/1699 to avoid future regression.

[2020-10-19 19:58] FrimIdan opened #28079 "TCP Access Logging in Telemetry v2"
**Describe the feature request**

Mixer had the ability to report log event with connection state (connection.event - open, continue, close), when moving to Telemetry v2 we lost the ability to get the connection state.
Currently Istio have access log for TCP only on Stackdriver.

The request is to be able to get TCP connection state when Telemetry v2 is on.

**Describe alternatives you've consider

[2020-10-19 20:02] yangminzhu commented on #27994
@Stono  Does this only happen when using the Sidecar.ingress to control the port on sidecar directly? Also note the port in PeerAuthentication should be workload port (not service port)

@howardjohn , the documentation of the sidecar.ingress says that `If specified, inbound ports are configured if and only if the workload instance is associated with a service.`,  Are the bugs you see happening whe

[2020-10-19 20:06] howardjohn commented on #27994
@yangminzhu there are two bugs:

* If sidecar.ingress is configured for the port, portLevelMtls is not set. This is because ServiceInstance.Endpoint.EndpointPort is not set when calling the plugin.
* If a port in portLevelMtls is not included in an associated Service, there is no config for that port. This is because pilot does not generate a filter chain for this port, and therefor the plugin can

[2020-10-19 20:14] panikgaul opened #28080 "1.7 istio-proxy TLS handshake error with STRICT mode"
**Bug description**

In our `1.7` environment we have problems with pod connectivity in stateful sets.

We using `Peer Authentication` mTLS mode `STRICT` with default self signed certificates.

If `istio-proxy` stars we have following SSL handshake errors.

Proxy pod with MinIO:

    2020-10-16T07:15:30.613672Z	debug	envoy filter	original_dst: New connection accepted
    2020-10-16T07:15:30.613706

[2020-10-19 20:23] istio-testing opened #28082 "[release-1.7] Fix connection lock"
Manual cherrypick required.

#26260 failed to apply on top of branch "release-1.7":
[code]

[2020-10-19 20:37] howardjohn commented on #28082
@Monkeyanator

[2020-10-19 20:51] #25215 closed

[2020-10-19 20:52] #25250 closed

[2020-10-19 20:58] howardjohn commented on #28075
In the future please report crashes to our security email per https://istio.io/latest/about/security-vulnerabilities/#when-to-report-a-security-vulnerability and the issue template. Thanks.

[2020-10-19 21:10] ashevtsov-wawa opened #28084 "Stats config page missing detail/examples on 'Metric value expression' for new metrics"
**Bug description**
I am trying to add a new counter type metric to be exposed my Istio Proxy by defining it under `configOverride` block as shown on https://istio.io/latest/docs/tasks/observability/metrics/customize-metrics/.
https://istio.io/latest/docs/reference/config/proxy_extensions/stats/#MetricDefinition page has `Metric value expression.` description for `value` attribute and the only exa

[2020-10-19 21:11] ashevtsov-wawa commented on #28084
@kyessenov This is related to https://github.com/istio/proxy/pull/2655

[2020-10-19 21:18] l8huang commented on #26679
Any progress on this issue?

[2020-10-19 21:23] howardjohn commented on #28066
I cannot find a way to do this in envoy, opened https://github.com/envoyproxy/envoy/issues/13636.

Below diff gets us 90% of the way there:
[code]

[2020-10-19 21:36] williamaronli commented on #22443
@linzhaoming could you also take a look at this https://github.com/envoyproxy/envoy/pull/13344 ? Thanks

[2020-10-19 21:43] nmittler opened #28087 "Disabling CRD creation is broken"
This was found in #28059

Setting `Values.base.enableCRDTemplates` seems to have no effect ... crds are installed anyway.

[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `is

[2020-10-19 21:46] jurgenweber commented on #25642
Any further thoughts on this?

[2020-10-19 22:01] douglas-reid commented on #23496
not stale

[2020-10-19 22:03] howardjohn commented on #28069
I am pretty sure this would be fixed by https://github.com/istio/istio/pull/27803. cc @douglas-reid

[2020-10-19 22:17] douglas-reid commented on #28069
`15090` is not the correct port. I think we need a PR that does something like: https://github.com/istio/istio/issues/27328#issuecomment-698020196 or #27803

[2020-10-19 23:26] howardjohn opened #28090 "VM Health Checking"
This is just an issue to track the efforts on https://docs.google.com/document/d/1G4s_PrmvkwCKoH_kXVeSUAszsaj3ZfpIlraSdeTSPKU/

[2020-10-19 23:27] howardjohn opened #28091 "1.8 VM Documentation"
We need to update the documentation to use the new istioctl tooling and discuss the new DNS feature, including enablement

[2020-10-19 23:33] howardjohn opened #28092 "Grafana service dashboard error: Template variables could not be initialized: Datasource named ${DS_PROMETHEUS} was not found"
Happens when opening the service dashboard

Assign to myself to verify it happens on fresh install before marking release blocker

[2020-10-19 23:36] howardjohn commented on #28092
Happens on fresh install. cc @douglas-reid @carolynhu

[2020-10-19 23:55] douglas-reid commented on #28092
@carolynhu can you own this, as you've been looking into dashboard issues recently?

[2020-10-19 23:56] adiprerepa commented on #28090
related to/same as #27713?

[2020-10-19 23:59] howardjohn commented on #28029
Fixed in https://github.com/istio/istio/pull/28093. Forgot to remove some temp code during dev. We ought to have a test for this in OSS...

[2020-10-20 00:12] howardjohn commented on #28090
Yeah I am bad at searching

[2020-10-20 00:12] #28090 closed

[2020-10-20 00:23] bianpengyuan commented on #28054
This does not make sense to me, service entry should have no side effect after deleting. I suspect there is some configuration error. Are you updating the same service entry? Can you get all service entry from sample namespace? Also can you dump proxy configuration before and after applying configuration that makes thing not working? https://github.com/istio/istio/wiki/Troubleshooting-Istio#diagno

[2020-10-20 00:32] irisdingbj commented on #28087
dup with https://github.com/istio/istio/issues/27609

[2020-10-20 00:32] #28087 closed

[2020-10-20 02:15] linsun commented on #27609
One potential issue with the possible solution is how it works with multiple control planes as some of these are cluster wide configurations such as cluster role.

[2020-10-20 02:16] linsun commented on #27609
@nrjpoddar @jacob-delgado are you aware of any known issue with this?  I'm leaning towards this approach atm.

[2020-10-20 03:05] nrjpoddar commented on #27609
I’m not completely following all the use case and what we are trying to achieve here. As far as I can tell we should keep CRDs under the CRD directory and let Helm manage the lifecycle of CRDs. This will cause behavioral changes for customers as I’m adding doc to support Helm3 in 1.8.

[2020-10-20 04:20] carolynhu commented on #28092
@douglas-reid yes, sure

[2020-10-20 07:28] jacob-koren-zooz commented on #28049
Update: Removing the coreDNS rewrite entry made it work for the client pod with sidecar injection.
So the situation is:
With coreDNS rewrite - works only when client & server are without sidecars
Without coreDNS rewrite - works only when client is with sidecar, and server without. (server always without in my tests)
So definitely coreDNS rewrite has a negative effect. Maybe because the URL and the

[2020-10-20 07:45] alekodu commented on #28054
Yes, to apply the weight change I am updating the already existing service entry, I guess an update on any Istio CRD is a supported functionality. Isn't it?

kubectl get se -n sample --context cluster2
NAME                   HOSTS                        LOCATION        RESOLUTION   AGE
helloworld-sample-c1   [helloworld.sample.global]   MESH_INTERNAL   STATIC       41h

See attached files for the

[2020-10-20 07:58] Stono opened #28099 "No CA with OUTPUT_CERTS when istio-proxy has no mTLS services configured"
**Bug description**
Following on from https://github.com/istio/istio/issues/28050, I've noticed that when you use `OUTPUT_CERTS`, the `pc secret` command no longer returns the secrets:

In this case, I have `OUTPUT_CERTS` set to `/etc/istio-output-certs`:

[code]

But as you can see, they do not appear in the `pc secret` command any more:
[code]

**Affected product area (please put an X in all tha

[2020-10-20 08:00] Stono commented on #28050
I can confirm changing the directory means we're now getting certificate rotation, however that seems to have highlighted a cli bug: https://github.com/istio/istio/issues/28099

Do you want me to keep this issue open to track UX improvements as I think this path needs to be documented clearly as others are going to need to do it?  I've documented what I did in https://karlstoney.com/2020/10/15/ist

[2020-10-20 08:00] Stono commented on #27996
Closing this in favour of https://github.com/istio/istio/issues/28050

[2020-10-20 08:00] #27996 closed

[2020-10-20 08:08] rtmie opened #28100 "Attempt to overlay sidecar-injector config causes yaml scalar symbol be eaten"
**Bug description**

I am having an issue with using overlays in my profile and having them correctly processed by the operator/istioctl.
Specifically I want to overlay a change in the config section of the sidecar-injector.
The config section of the sidecar-injector is yaml literal scalar data which will go into the istio-sidecar-injector configmap so as a scalar my only option is to include the

[2020-10-20 08:47] pantianying commented on #27092
However, my requirement is as follows: We hope that the request can load balance the same service under different namespace at the same time, and be first routed to namespace 'A' service S. When there is no service 'S' under Namespace 'A', the request will not report an error, but will be requested to service S under namespace B. After my repeated tests, the current version of istio doesn't seem c

[2020-10-20 10:08] shamsher31 commented on #26775
I think `tag=latest` is not a SemVer compatible tag and that is why it's breaking.

https://github.com/istio/istio/blob/9e8b3c030bbd56e2ecf45356ff8b4e0a62f9e5a3/operator/pkg/version/version_test.go#L247-L255

It has being checked in func `pkgversion.TagToVersionString`

https://github.com/istio/istio/blob/9e8b3c030bbd56e2ecf45356ff8b4e0a62f9e5a3/operator/cmd/mesh/upgrade.go#L445-L449

[2020-10-20 10:17] Christoph-Raab commented on #27997
@incfly:

This is the config that I would like to run:
[code]
The 'update-init' init-container fetches some data via http from another pod and does some config in the app-data-B share. After that the main app runs using this configured data. But the update-init doesn't work, because of mTLS and the missing sidecar.

So I run a Job, that does the same as the init-container and because it runs in it

[2020-10-20 10:30] shamsher31 commented on #26775
I tried using `pkgversion.TagToVersionStringGrace` which gracefully convert the tag we pass. Bu there is other related issues in another part of the upgrade.

[code]

[2020-10-20 11:26] #22798 closed

[2020-10-20 11:28] pantianying opened #28102 "Load balancing between different services"
**Describe the feature request**

The company has multiple sets of namespace environments, and expects traffic to switch and transfer under these namespace environments.But at the moment,istio can't do much about such a requirement.

**Describe alternatives you've considered**

For example, we want the traffic to be namespace A by default, but namespace B's service is called when there is no indiv

[2020-10-20 11:43] hniehus commented on #27839
Hi,

I'm facing the exact same issue when updating Istio on AWS EKS with istioctl.
Istio update path: 1.5.10->1.6.8->1.7.3

Is there any ETA for a permanent fix? Or any workaround for the meantime to get Istio back running?

Thanks,
Harald

[2020-10-20 12:37] #25208 closed

[2020-10-20 12:41] lmarszal opened #28103 "Broken support for FQDN with trailing dot '.'"
**Bug description**
Istio 1.5 introduced support for FQDN with trailing dot '.' (https://github.com/istio/istio/issues/13710)
This feature is broken in istio 1.6 and istio 1.7 because of this bug: https://github.com/envoyproxy/envoy/issues/13587. Also produced cluster entries and route configs looks odd.

**Steps to reproduce the bug**

**First test:**
`Service` obj with `type: ExternalName`:
[cod

[2020-10-20 14:23] #28082 closed

[2020-10-20 14:40] #27004 closed

[2020-10-20 14:43] howardjohn commented on #28099
I think this one is expected if I understand right, although you should see ROOTCA as well - is it truncated? I also see there is no root-cert.pem in output-certs?

Basically, before this Envoy was reading the files directly. `pc secret` reads the envoy config. Now, the secrets are served over SDS (`default` - probably should have been named "workload cert"), so that is what shows up, and the file

[2020-10-20 14:46] howardjohn commented on #28050
@Stono you can do it with:

[code]

I think we need to update some of the mesh config docs for this annotation though, it was new

[2020-10-20 14:47] howardjohn commented on #28050
Basically anything under meshConfig.defaultConfig can be overriden per-pod

[2020-10-20 14:48] bianpengyuan commented on #28050
@Stono Yes, please keep this issue open. I am going to add the document and will borrow some content from your blog.

I will read through the logic and see how to make it not depend on presence of the cert dir.

John beat me on it, the option is still hidden from doc, we should update that.

[2020-10-20 15:10] luksa opened #28104 "Different defaults for includeInboundPorts when using CNI vs init container"
**Bug description**
The injection template uses different default values for `traffic.sidecar.istio.io/includeInboundPorts`, depending on whether CNI or the init container is used.

When you use CNI and you don't specify the `traffic.sidecar.istio.io/includeInboundPorts` annotation on your pod, the annotation defaults to the list of ports specified in the pod's container definitions (see [injectio

[2020-10-20 15:17] howardjohn commented on #27839
Proper fix is in 1.7.4+, releasing soon. In the mean time, delete the config that has an unknown field. Might need to restart istiod after

[2020-10-20 15:20] howardjohn commented on #28050
I will update the doc for mesh config

[2020-10-20 15:30] linsun commented on #27609
@nrjpoddar the user case is that we need to provide an option to disable CRDs install for remote cluster as they are not needed.  Only the config cluster needs the CRDs.  We don't find a good way to do this, a few options:
- move non crds out of base to istio-discovery.  This has implications for multi-revisions for istio-discovery.
- move crds to templates so we can add conditions.
- split base c

[2020-10-20 15:31] Stono commented on #28099
Nope, no ca:
[code]

I'm not sure I understand your explanation either really, shouldn't `pc secrets` be showing the sds certs (of which there should be three) and then i should also see 3 certs in that folder too?

[2020-10-20 15:50] howardjohn commented on #28099
Bringing slack conversation here: the problem is the envoy does not request any mTLS destinations, so we have nothing configured for ROOTCA, and OUTPUT_CERTS is driven by envoy

[2020-10-20 16:03] howardjohn commented on #28103
Hey, could you expand more a bit on why you think

I did some research on this in the past and did not find any relevant standards suggesting this behavior

[2020-10-20 16:04] matty111 opened #28105 "Error in Shared control plane (single and multiple networks)"
I installed in a cluster onprem istio 1.7.3 following this documentation https://istio.io/latest/docs/setup/install/multicluster/shared/.
Here it's okay 👍

When I install istio in a cluster gke my istio-ingressgateway goes in running but it is 0/1 and in its logs there is this error:
**Envoy proxy is NOT ready: config not received from Pilot (is Pilot running?)**

where is the problem? i have a wr

[2020-10-20 16:07] howardjohn commented on #28100
I suspect this may be simialar to https://github.com/istio/istio/pull/24348 which I was unable to get passing tests

[2020-10-20 16:09] lmarszal commented on #28103
This is just because of this comment of yours https://github.com/istio/istio/issues/13710#issuecomment-494477707. If this is not valid anymore, then route config probably should include only domain names without a dot.

[2020-10-20 16:16] Stono commented on #27941
@howardjohn we're unable to reproduce this on 1.6.
The issue was actually raised against a 1.5 control plane.  On 1.5 we've worked around it with the `includeInboundPorts` annotation, and obviously don't expect you to be releasing a fix for 1.5 so will close it off.

[2020-10-20 16:16] #27941 closed

[2020-10-20 16:18] Stono commented on #27873
Closing in favour of https://github.com/istio/istio/issues/28066

[2020-10-20 16:18] #27873 closed

[2020-10-20 16:20] hniehus commented on #27839
Thanks John.
Please forgive my ignorance, I'm still learning to walk with Istio - how do I find out which  config I need to scan for the unknown field?

[2020-10-20 16:23] dcberg commented on #11723
Circling back to this one once again. We need to get this item prioritized for an upcoming release.
Do we know what is required? Is the primary work to build the sidecar proxy (envoy) using the proper FIPS module? Anything else?

[2020-10-20 16:25] howardjohn commented on #28103
Right, my point there was it seems like every client handles the dot different, and on the other side every server *also* handles it different, so its not clear what the "correct" behavior is here.

[2020-10-20 16:27] Stono commented on #26924
I'm closing this in favour of the other issues which more accurately reflect the issues we've faced during the upgrade process.    There's a specific bug in here with the 1.5 marshalling in the cli, which won't be fixed.

[2020-10-20 16:27] #26924 closed

[2020-10-20 16:28] vikaschoudhary16 commented on #27834
Please check how many stats you get using:

[2020-10-20 16:35] ostromart commented on #27448
https://github.com/istio/istio/pull/28072

[2020-10-20 16:38] Stono commented on #28050
Can confirm this combo of annotations does the job:

[code]

[2020-10-20 16:42] howardjohn commented on #27839
I think in the log it says what the unknown field is. So I would do
`kubectl get envoyfilter --all-namespaces -oyaml | grep <field-name>` or
similar to pinpoint it.

On Tue, Oct 20, 2020 at 9:20 AM hniehus <notifications@github.com> wrote:

[2020-10-20 16:43] howardjohn commented on #27930
does f1115c479c fix it? we compressed it quite a bit

[2020-10-20 16:53] nerusnayleinad opened #28106 "Istio pod-to-pod communication delivers packets to the app directly; skipping the proxy."
We are observing a weird behavior in istio mesh. We have an application with several services. Today we realized that the requests coming to one of the the services are failing. Checking the logs, we see that the packets are being directly delivered to the "app" container, instead of "istio-proxy".

I don't know if you can reproduce this, but what I did is to create a separate demo namespace and d

[2020-10-20 16:55] totallyGreg opened #28107 "Setting a revision generates a non-functioning hpa for deployment/istiod-<revision>"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Taking a minimal profile and setting a revision=1-6-9 generates a pilot hpa that selects on Istiod instead of istiod-1-6-9 which causes it to fail t

[2020-10-20 17:08] bleggett opened #28108 "EnvoyFilter httpCall/ClusterDefinition not working as expected with Istio 1.7"
**Bug description**
According to https://istio.io/latest/docs/reference/config/networking/envoy-filter/ (and all other docs I can find on the subject), the following EnvoyFilter should redirect all outgoing HTTP requests to `127.0.0.1:3001/proxy` in the same pod:

[code]

Instead, the `httpCall` from the filter never reaches the proxy sidecar in the same pod, and I get this:

[code]

I have verifi

[2020-10-20 17:14] douglas-reid commented on #28051
Closing, as this appears to have been answered.

[2020-10-20 17:14] #28051 closed

[2020-10-20 17:15] sdake commented on #11723
Ensuring the proper fips library is in the container built properly is another challenge.

[2020-10-20 17:17] jasonwzm commented on #26964
closing this as I could not reproduce. Feel free to reopen if needed.

[2020-10-20 17:17] #26964 closed

[2020-10-20 17:36] sdake commented on #11723
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/ssl#fips-140-2

https://github.com/envoyproxy/envoy/issues/3404

[2020-10-20 17:40] incfly commented on #25578
Close per above comment.

[2020-10-20 17:40] #25578 closed

[2020-10-20 17:42] incfly commented on #25832
Seems like a doc follow up edit would be sufficient. Not sure if "protocol support" is something we will add for next version's authz API

[2020-10-20 17:45] incfly commented on #25449
Closing given the in above, we didn't see unexpected behavior.

Anyone runing into again feel free to comment and reopen.

[2020-10-20 17:45] #25449 closed

[2020-10-20 17:49] incfly commented on #28104
/cc @justinpettit @howardjohn

[2020-10-20 17:49] howardjohn commented on #27938
We also recently added warnings. I think deprecation should be exposed as warnings, then we should make this `--fail-on-warning`. Super useful I think

[2020-10-20 17:51] stevek-pro commented on #24866
! values.grafana.enabled is deprecated; use the samples/addons/ deployments instead
! addonComponents.grafana.enabled is deprecated; use the samples/addons/ deployments instead

[2020-10-20 18:03] Aaron-ML commented on #18973
@howardjohn Was anything done regarding this, currently running into this problem now. Thanks

[2020-10-20 18:23] douglas-reid commented on #27729
@bianpengyuan any ideas for how to address these sorts of failures in the old SD adapter?

@krubot-sky have you looked into using the v2 stackdriver tracing integration?

[2020-10-20 18:24] douglas-reid commented on #27711
@danielkwinsor have you looked at the experimental istioctl command for generating all of the VM's configs (including tokens) ?

[2020-10-20 18:31] oxr463 commented on #26882
@howardjohn any updates on this?

[2020-10-20 18:37] howardjohn commented on #25308
I wrote a failing test that covers this: https://github.com/istio/istio/compare/master...howardjohn:test/ingress-status-integ?expand=1

[2020-10-20 18:39] howardjohn commented on #27874
I think this one is fixed by https://github.com/istio/istio/commit/ec05f73c8fddf2c85639febd967bf6048acd18d9 in 1.7

[2020-10-20 18:42] istio-testing opened #28113 "[release-1.7] Skip Ingress test on unsupported k8s versions"
Manual cherrypick required.

#25853 failed to apply on top of branch "release-1.7":
[code]

[2020-10-20 18:42] #27913 closed

[2020-10-20 18:42] #27912 closed

[2020-10-20 18:42] howardjohn commented on #27810
@therealmitchconnors working on this?

[2020-10-20 18:42] howardjohn commented on #27808
@therealmitchconnors working on this?

[2020-10-20 18:45] howardjohn commented on #28107
I am a bit confused by this one - this looks correct to me?
[code]

[2020-10-20 18:46] howardjohn commented on #28106
We will need some more info about how you installed. It would be useful to get a config dump (see https://github.com/istio/istio/wiki/Troubleshooting-Istio) as well as `kubectl logs POD -c istio-init` to ensure iptables rules are setup correctly.

[2020-10-20 18:47] howardjohn commented on #28105
Can you post the full logs?

At the start ,there will be a log like `discoveryAddress: istiod.istio-system.svc:15012`. Can you trying curling that address from the ingress pod?

[2020-10-20 18:48] #27674 closed

[2020-10-20 18:49] howardjohn commented on #28063
You mentioned DNS but I don't see any dns erro logs, just `transport: Error while dialing dial tcp: i/o timeout`. This seems more like network connectivity between ingress and istiod. Do you have network policy in place or something else blocking communication?

[2020-10-20 18:50] howardjohn commented on #28049
The ip address should really have no impact here. You can try this by doing something like `curl 1.1.1.1 -H "Host: example.com"`. You should see the same result as using the real IP of example.com

[2020-10-20 18:51] howardjohn commented on #28028
Can you provide the pod logs? I have tested this just now and it works for me

[2020-10-20 18:52] howardjohn commented on #27950
closing in favor of https://github.com/istio/istio/issues/27978

[2020-10-20 18:52] #27950 closed

[2020-10-20 18:53] howardjohn commented on #27939
Post the full log. It will show why it was rejected.

[2020-10-20 18:56] howardjohn commented on #27727
Hi @nataraj24 ,w need more info about the config you have, and the failing request. its helpfuil to get a config dump as well: https://github.com/istio/istio/wiki/Troubleshooting-Istio

The current state:
* 1.7.3 and older: any wildcard (`*.example.com`") with a port in the host header will fail
* 1.7.4+: any wildcard with a port in the host header that does NOT match the service will fail
* Ideal

[2020-10-20 18:58] howardjohn commented on #27723
So you except that if 100 pods spin up, we do not send envoy the endpoints? Or we delay sending them? is this a theoretical problem or have you seen real cases where too many endpoints causes envoy issues?

[2020-10-20 18:59] howardjohn commented on #27698
Closing as this is working as intended and the change has propogated to release-1.7 now. thanks.,

[2020-10-20 18:59] #27698 closed

[2020-10-20 19:06] howardjohn commented on #27331
Since two of us could not reproduce and there is no additional info being given, I will close. Please reopen if you have more info

[2020-10-20 19:06] #27331 closed

[2020-10-20 19:07] howardjohn commented on #27340
Closing as a duplicate of https://github.com/istio/istio/issues/13851

[2020-10-20 19:07] #27340 closed

[2020-10-20 19:07] matty111 commented on #28105
I have another question for this problem. Which ports i must open in ingress in cluster onprem? It's sufficent only 433 port? Myabe the problem is that i have only this port opened. Does istio use anothet ingress port?

[2020-10-20 19:08] howardjohn commented on #27346
https://istio.io/latest/docs/reference/config/networking/virtual-service/#L4MatchAttributes provides the routing options. You can control by destination IP but not source IP, so its mostly useful for sidecar. Please feel free to direct future questions to https://discuss.istio.io/. thanks!

[2020-10-20 19:08] #27346 closed

[2020-10-20 19:18] howardjohn commented on #27386
Sorry to close an unresolved issue, but we do not have the bandwidth for helping with issues that are not from product we ship, and this is a bug in your custom building. I would recommend you look at https://github.com/istio/release-builder/ if you want to do a custom build to match what we are doing. Thanks.

[2020-10-20 19:18] #27386 closed

[2020-10-20 19:37] howardjohn opened #28117 "Base images - build without cache"
We need to add `--no-cache` or equivilent to the base iamge builder, or we may not update everything
cc @ericvn

[2020-10-20 19:48] Stono opened #28120 "503NR/BlackHole during istiod rollouts"
**Bug description**
We are in the process of restarting all workloads one by one to move them to a 1.6 sidecar, following a control plane update.  All applications are identical in terms of their istio, deployment and pod config, just running different `image`.

We noticed that when one app was patched, the `1.5` pods shutting down started getting `503NR` (No route to host) to **all** services it

[2020-10-20 20:05] Stono commented on #28120
It's worth noting that our process removes the old certificate after the workload has rolled out:
[code]

But perhaps there's a bit of a race condition because the old workload could still theoretically be terminating.  My understanding of kubernetes was that deleting a mounted certificate after the pod has started doesn't remove it - it'd only stop a new pod scheduling if the secret wasn't availa

[2020-10-20 20:06] Stono commented on #28120
ahhhh!

[code]

Look at the time stamps, it looks like a bug in the script caused this deployment to not actually wait, thus deleting certs for an in-use workload.

[2020-10-20 20:15] nrjpoddar commented on #27609
Thanks @linsun, what tool are you using to install Istio in remote cluster? If you're using `istioctl` or Operator you have other ways to accomplish this, correct?

[2020-10-20 20:19] howardjohn commented on #28105
you may need 15017 as well, see https://istio.io/latest/docs/setup/platform-setup/gke/

[2020-10-20 20:23] howardjohn commented on #27641
Closing as we do not have enough info

[2020-10-20 20:23] #27641 closed

[2020-10-20 20:24] howardjohn commented on #27638
ping @ostromart

[2020-10-20 20:25] bianpengyuan opened #28122 "Do not inject TCP metadata exchange filter into HTTP filter chain"
Currently tcp metadata filter is injected into HTTP filter chain. While it does not function, it interferes the HTTP metadata exchange by setting read only peer metadata id filter state. This is to track removing it from HTTP so that no unexpected collision of two mx filter happen in the future.

[2020-10-20 20:26] bianpengyuan commented on #28122
cc @gargnupur @kyessenov

[2020-10-20 20:31] brianwolfe commented on #27796
To confirm it is the same issue, does the NR happen after ~ 30 minutes from when the pod boots (or whatever your connection timeout for values.pilot.keepaliveMaxServerConnectionAge is?)

This is exactly the symptom we saw & fixed with a patch like 26861. It is fixed after that patch (but telemetryv2 doesn't work).

[2020-10-20 20:47] linsun commented on #27609
Yes, we do plan to use istioctl or operator - are you suggesting we work around this issue via operator code? if so, helm user won't have it for remote cluster.

[2020-10-20 21:00] howardjohn opened #28124 "Add local validation for release notes"
I would like to be able to run:
[code]

and quickly check release notes before submitting a PR

cc @brian-avery

[2020-10-20 21:03] howardjohn commented on #27439
We do not have enough information to move forward with this.

[2020-10-20 21:03] #27439 closed

[2020-10-20 21:03] #27532 closed

[2020-10-20 21:04] howardjohn commented on #27566
Fixed by https://github.com/envoyproxy/envoy/issues/13093

[2020-10-20 21:04] howardjohn commented on #27566
Leaving open since there is recent commentary but i think it can be closed?

[2020-10-20 21:05] howardjohn commented on #27575
Thanks, this is definitely wrong

[2020-10-20 21:07] nrjpoddar commented on #27609
May be. There's no downside to installing CRDs in remote cluster afaict, so if folks want to use Helm for remote "istiod" setup, they can live with few CRDs or you can add a step to remove CRDs after installing the base chart which doesn't feel right but achieves what you want.

I'm also fine with other solutions around moving cluster resources inside istio-discovery chart as long as it works with

[2020-10-20 21:08] howardjohn commented on #27266
Closing as this is answered

[2020-10-20 21:08] #27266 closed

[2020-10-20 21:08] howardjohn commented on #27237
Closing this as its on a very EOL version and there has been no updates for months. Thanks

[2020-10-20 21:08] #27237 closed

[2020-10-20 21:09] howardjohn commented on #27216
closing as fixed by https://github.com/istio/istio/pull/27105

[2020-10-20 21:09] #27216 closed

[2020-10-20 21:09] howardjohn commented on #27210
Closing as this has been addressed

[2020-10-20 21:09] #27210 closed

[2020-10-20 21:12] howardjohn commented on #27114
I inspected the code, looks safe.

[2020-10-20 21:12] #27114 closed

[2020-10-20 21:15] #27109 closed

[2020-10-20 21:16] howardjohn commented on #27093
Changing Istio configuration will result in draining, see https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/operations/draining. This is working as intended.

[2020-10-20 21:16] #27093 closed

[2020-10-20 21:16] howardjohn commented on #27092
Seems like https://github.com/istio/istio/issues/28102 tracks the above requirement, so will close this

[2020-10-20 21:16] #27092 closed

[2020-10-20 21:17] howardjohn commented on #27091
@therealmitchconnors any info?

[2020-10-20 21:19] howardjohn commented on #27070
The second config is invalid. You are trying to do TLS routing after terminating the TLS. https://docs.google.com/document/d/1-3U-4lZtk8c1GyLrbbQGMIXJR_wmYpSf97yFkxZHs3 is WIP of a doc we are hoping to add that explains these types of issues.

[2020-10-20 21:20] howardjohn commented on #27070
I think an `istioctl analyze`r would make sense for this

[2020-10-20 21:20] howardjohn commented on #27064
We do not support this. You may be able to configure it with the break glass https://istio.io/docs/reference/config/networking/envoy-filter/ API, but its not officially supported.

[2020-10-20 21:20] #27064 closed

[2020-10-20 21:38] gargnupur opened #28125 "Map the cluster name to real k8s cluster name in test framework"
**Bug description**
Map the cluster name to real k8s cluster name in test framework

This is required for validation of multi-cluster telemetry.

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ X] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

[2020-10-20 22:13] howardjohn commented on #26837
The documentation no longer recommends this, see updated docs: https://preliminary.istio.io/latest/docs/setup/install/multicluster/. Thanks!

[2020-10-20 22:13] #26837 closed

[2020-10-20 22:13] carolynhu opened #28129 "Add specific pilot metrics for Mesh dashboard"
Existing 1.8 mesh dashboard (vs, dr, gw, etc) is using values queried from pilot_k8s_cfg_event which might be flaky. We need to add specific metrics for those. Also, we might need to improve the layout of the dashboard.

[2020-10-20 22:14] #26902 closed

[2020-10-20 22:14] carolynhu commented on #26535
Follow up: https://github.com/istio/istio/issues/28129

[2020-10-20 22:14] #26535 closed

[2020-10-20 22:39] howardjohn commented on #26903
It depends on the implementation of `kubectl sniff` and how its running. it may be intercepting the traffic between app and sidecar, before its encyrpted

[2020-10-20 22:40] howardjohn commented on #26914
Closing as no response for ^ and 1.5 is EOl and there have been changes in this area recently

[2020-10-20 22:40] #26914 closed

[2020-10-20 22:53] howardjohn commented on #27005
@lambdai we added heap reclaim but is it only for XDS?

[2020-10-20 22:53] howardjohn commented on #27005
This is an older version without it which is why I was not sure

[2020-10-20 22:56] howardjohn commented on #26631
I have not seen recent flakes, I think we fixed

[2020-10-20 22:56] #26631 closed

[2020-10-20 23:02] howardjohn commented on #26628
I am a bit confused what your exact desired behavior is. You seem to not want to disable load balancing, but also want to send all requests on the same connection which seem incompatible. Can you explain the expected behavior a bit more so we can understand your use case?

[2020-10-20 23:04] howardjohn commented on #26600
This is expected and documented, see https://istio.io/latest/docs/ops/configuration/mesh/injection-concepts/. Please take a look at this document, thanks!

[2020-10-20 23:04] #26600 closed

[2020-10-20 23:19] howardjohn commented on #24496
https://preliminary.istio.io/latest/docs/setup/install/istioctl/#configure-gateways has an example for a GB ILB. You can do the same for NLB, just replace the annotation

[2020-10-20 23:19] #24496 closed

[2020-10-20 23:21] howardjohn commented on #26160
thanks, this is fixed now

[2020-10-20 23:21] #26160 closed

[2020-10-20 23:22] howardjohn commented on #26468
seems like it might be the same as https://github.com/istio/istio/issues/22443

[2020-10-20 23:26] bianpengyuan opened #28131 "Investigate proxy integration test timeout with asan/tsan build"
Occasionally istio proxy integration test stuck and timeout when using asan/tsan build. It could be because go runtime and envoy runtime are out of sync about testing status, i.e. envoy exits but go thinks that test is still running. This is to track investigation and fix for that.

[2020-10-20 23:58] douglas-reid commented on #26740
Can this be closed now?

[2020-10-21 00:00] kyessenov commented on #26669
This has been fixed upstream and no longer happens.

[2020-10-21 00:00] #26669 closed

[2020-10-21 00:02] douglas-reid commented on #26544
@carolynhu can you add this to your list of things to look at when reviewing the dashboards?

[2020-10-21 00:11] douglas-reid commented on #26862
Do you possibly have some ext_authz or similar configured ?  Could possibly be due to Envoy issues at the time of the request as well I guess. Do you have tracing enabled?

I suggest opening a thread on [discuss.istio.io](discuss.istio.io) to continue this investigation. I'm going to close this issue, as there isn't a specific action to be taken here.

[2020-10-21 00:11] #26862 closed

[2020-10-21 00:13] rytswd commented on #27909
I was hit by this as well, but have managed to pull together a working configuration.

### Background

The multicluster documentation certainly needs correction, but this is rather an expected change following the [breaking change in EnvoyFilter configuration](https://istio.io/latest/news/releases/1.7.x/announcing-1.7/upgrade-notes/#envoyfilter-syntax-change).

This was discussed in https://github

[2020-10-21 00:22] douglas-reid commented on #25333
@howardjohn can we close this now?

[2020-10-21 00:25] douglas-reid commented on #25063
I think this has been resolved??

[2020-10-21 00:25] #25063 closed

[2020-10-21 00:26] howardjohn commented on #25333
I think so

[2020-10-21 00:26] #25333 closed

[2020-10-21 00:27] howardjohn commented on #25333
Nice work everyone!

[2020-10-21 00:27] #25288 closed

[2020-10-21 00:28] howardjohn commented on #25063
Resolved by deletion I think

On Tue, Oct 20, 2020 at 5:25 PM Douglas Reid <notifications@github.com>
wrote:

[2020-10-21 00:37] carolynhu commented on #26544
@douglas-reid yes, will take a look of this.

[2020-10-21 00:39] douglas-reid commented on #23123
I think this can be closed now. The operator stuff has been moved to `samples` and can be configured as needed, which I think matches option (a). Please reopen if you feel differently.

[2020-10-21 00:39] #23123 closed

[2020-10-21 00:40] douglas-reid commented on #22574
Closing in favor of the 1.6.8 report.

[2020-10-21 00:40] #22574 closed

[2020-10-21 00:43] kyessenov commented on #23672
One technical reason is that requests in flight don't have peer metadata (e.g. we wait for response headers to populate labels). Some labels like response code and flags are not known until completion.

[2020-10-21 01:04] ericvn commented on #28117
Agree. A `docker system prune` before hand should clear the cache as well.

[2020-10-21 01:53] kyessenov commented on #28017
CC @PiotrSikora @douglas-reid

I think this is a serious flaw in the design for onConfigure that makes it hard to implement a usable telemetry API on top. There are two major problems:

- Its effect is immediate, retroactive, and permanent.  Whenever a new xDS config is pushed, the _existing_ report batches and on-going streams are affected. If the xDS configuration is ultimately rejected (because

[2020-10-21 02:04] douglas-reid commented on #28065
Is there further action here?

[2020-10-21 02:09] douglas-reid commented on #28017
@kyessenov i think i understand issues with new config. does this also imply an issue with per-listener customizations (which i think was your second point)?

[2020-10-21 02:12] kyessenov commented on #28017
@douglas-reid The way I understand it, we cannot have per-listener customizations in principle with onConfigure. It's a singleton.

[2020-10-21 02:14] linsun commented on #11723
@dcberg @sdake I looked at this 1 year ago, and I think what needs to be done remains the same, except we have istiod vs a few cp components.  Also, this is just to use FIPS 140-2 compliant modules which doesn't mean it has FIPS 140-2 compliant certification.

https://github.com/istio/istio/issues/11723#issuecomment-514269734

[2020-10-21 02:26] howardjohn commented on #26630
@ramaraochavali @lambdai this is implemented as a match on the `:scheme` header.

Envoy logs show
[code]

Scheme is added after match is done. Not sure how this ever worked, or if it ever did. any idea?

[2020-10-21 04:26] #28029 closed

[2020-10-21 05:04] #18487 closed

[2020-10-21 05:39] bianpengyuan opened #28139 "[Wasm] route name property returns empty"
When trying updating proxy SHA, register only egress tcp failed because destination service name label is not blackhole. I investigate it a bit and seems like route name returns empty string with latest sha update. Will need to dig deeper on this.

[2020-10-21 05:42] bianpengyuan opened #28140 "Investigate VM telemetry test failure"
When updating proxy sha (https://github.com/istio/istio/pull/28073), sd vm telemetry test fails because at client side metrics, destination service name label become fqdn instead of short name.

[2020-10-21 06:15] hobbytp opened #28143 "sidecar egress mtls configuration override ROOTCA to cause internal mtls failure"
**Bug description**
I found after adding client cert/key/CA in pod annotation (sidecar.istio.io/userVolume and sidecar.istio.io/userVolumeMount), the CA will override the ROOTCA in envoy proxy configuration, and then internal mtls communication will failed even external mtls is ok.

The client cert/key/CA will be used to connect to external service for MTLS communication ( I use sidecar directly i

[2020-10-21 06:23] donkeyx commented on #28063
I have tried switching to the flannel cni but still have the same issue. I have the logs from the nodelocal and coredns <<

coredns
* not showing any requests

istiod - seems to be just repeating this message.
[code]
nodelocal
[code]

[2020-10-21 06:56] jacob-koren-zooz commented on #28049
Well. but it does:
[code]

[2020-10-21 07:01] WenLuan commented on #28065
Thank you for the documentation link, it helped me. @bianpengyuan

[2020-10-21 07:01] WenLuan commented on #28065
@douglas-reid I originally wanted istio to return the response header xff. For this reason, I read a lot of documents and couldn't find a way, but now, I can pass the httbin response header through the above document.

[2020-10-21 07:31] Siddharthk opened #28144 "Prometheus Istio add-on getting evicted"
Prometheus pod is getting evicted. The pod has been installed as istio add-on.
[code]

I see that istio sidecar proxy is taking below resources:
[code]
I think we should have requests==limits for memory and not overcommit it otherwise this will cause random evictions of pods.

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[x] Extensions and Telemetry
[ ] Security
[ ] Tes

[2020-10-21 07:57] aejeet opened #28145 "[WASM] Help needed with supplying configuration to custom envoy filter"
I am following the steps at https://docs.solo.io/web-assembly-hub/latest/tutorial_code/build_tutorials/building_cpp_filters/ to write a custom envoy filter. I am unable to supply custom configuration to my filter and have not been able to find any example on internet.

**Language**: c++

**My envoy proxy image:** istio/proxyv2:1.7.3

**My filter.proto**
[code]

**My envoy config**
[code]

Inside t

[2020-10-21 08:10] PiotrSikora commented on #28017
OK, I've looked at the code. The WasmVM is keyed on `vm_id + vm_configuration + plugin bytecode`, but not on the `plugin configuration`, so that's obviously going to be broken if we have different `plugin configurations` randomly reconfiguring the only instance of the extension running inside the same WasmVM.

There are a few solutions that come to mind:
1) Add `plugin configuration` to the key. T

[2020-10-21 09:38] irisdingbj commented on #27609
@nrjpoddar Thanks for looking at the issue!    Basically we want to a way to exclude CRDs when we have `base` enabled in the IOP file.  Now since crds are under /crd directory in `base' charts and it does not support templates, so there is no way to exclude crds..

The scenario for this is we have a separate `config` cluster and all `remote` clusters will not need CRDs installed but the sa, role b

[2020-10-21 09:54] i-prudnikov commented on #22068
@JaveriaK, @songford
I believe I narrow down the cause of `Duplicate cluster rate_limit_service found while pushing CDS` message.
So the rate limit filter patches cluster, adding new cluster 'rate_limit_service':
[code]
**If we comment out this portion of envoy filter, no warnings in the log anymore.**

Let's clarify this as, actually when you deploy reate-limit service in k8s, Istio automaticlly

[2020-10-21 09:56] yann-soubeyrand commented on #8807
Hi,

I'd like to add that this problem not only occurs with ingress gateway: in our setup we use haproxy as our ingress gateway with an istio-proxy sidecar to forward requests to the mesh. We're also hit by this issue when requests are done on non standard ports (nor 80, nor 443) which leads to browsers adding the port to authority. We've tried to strip the port in authority but then the redirecti

[2020-10-21 10:08] lmarszal commented on #28103
You may be right. Let me elaborate more to see if I understand you:

**Making TCP connection (istio-proxy->server):**
TCP uses only IP address - so it doesn't matter how you address your endpoint, as long as it correctly resolves.
It looks like established pattern, that DNS resolvers in unix/linux accepts trailing dot syntax as unambiguous version of domain name.

**Making TLS handshake over that

[2020-10-21 10:11] shamsher31 opened #28148 "istioctl verify-install related issues"
This issue is to track `istioctl verify-install` related problems.

`verify-install` still fails on the master.
[code]
- [x] https://github.com/istio/istio/issues/26266 : reports 'Checked 0 custom resource definitions'
- [x] https://github.com/istio/istio/issues/25830 : fails on parsing error on istio in 1.6.0
- [x] https://github.com/istio/istio/issues/26070 : doesn't work with dev builds
- [x] h

[2020-10-21 10:46] #27944 closed

[2020-10-21 10:50] varsha28 commented on #26690
is this fix present in 1.7.3?

[2020-10-21 11:11] mihmatache commented on #26689
Hello! Is there any news on this? We have a similar scenario as the one described.

[2020-10-21 11:14] jwendell commented on #26740
Yes, this was fixed by https://github.com/istio/common-files/pull/300

[2020-10-21 11:14] #26740 closed

[2020-10-21 11:34] ramaraochavali commented on #26630
Yeah. It seems that could have never worked.  May be post in Envoy?

[2020-10-21 13:11] nrjpoddar commented on #27609
I see, Helm install/upgrade provides an option `skip-crds’ option which should meet your needs.

[2020-10-21 13:22] #28113 closed

[2020-10-21 13:29] bianpengyuan commented on #28065
Thanks!

[2020-10-21 13:29] #28065 closed

[2020-10-21 13:37] bianpengyuan commented on #26690
@varsha28 the fix will only be in 1.8 I believe. The upstream envoy fix is fairly complicated, so I don't think there will be a back port. Sorry about that!

[2020-10-21 13:39] varsha28 commented on #26690
Thanks for the update..

[2020-10-21 13:48] Shohou commented on #27940
https://preliminary.istio.io/latest/docs/ops/integrations/prometheus/
Search for "operator" gives 0 results
So finding the fact that prometheus-operator based installs doesn't work out of the box and finding samples related to it is quite a task.

[2020-10-21 13:55] carolynhu opened #28149 "istio/tools: istio performance dashboard should handle parsing latest builds by pages"
or query directly through GCS bucket APIs

[2020-10-21 14:02] ryant1986 commented on #24387
We ran into the same problem on 1.7, but we noticed that the `ISTIO_META_IDLE_TIMEOUT` setting was only getting picked up on the `OUTBOUND` side of things, not the `INBOUND`.  By adding an additional filter that applied to the `INBOUND` side of the request, we were able to successfully increase the timeout (we used 24 hours):

[2020-10-21 14:27] totallyGreg commented on #28107
yeah I'm confused too...

Revision is already in the IstioOperator definition but I specified it anyway.

[code]

[2020-10-21 14:32] #25307 closed

[2020-10-21 15:12] howardjohn commented on #28063
Seems like an issue with your nodelocal dns server then. Istio requires a working DNS in the cluster so not surprised its failing to start without this.

[2020-10-21 15:13] howardjohn commented on #8807
@yann-soubeyrand yes, that is correct. We actually ignore the port in some cases, by `domain:*`, but if you have a wildcard in the domain like `*.example.com:*` will not work since envoy only supports a single wildcard.

[2020-10-21 15:28] #20538 closed

[2020-10-21 15:50] douglas-reid commented on #21762
Closing, per https://github.com/istio/istio/issues/21762#issuecomment-692506260

[2020-10-21 15:50] #21762 closed

[2020-10-21 16:03] howardjohn commented on #26232
Notes to self: useful tools for analyzing:

[code]

[code]

[code]

[2020-10-21 16:28] yangminzhu commented on #27576
`1.4.6` is pretty old and [no longer supported](https://istio.io/latest/news/support/announcing-1.4-eol/), could you try to upgrade to 1.6 or 1.7? thanks.

[2020-10-21 16:33] andrewridout commented on #27383
@esnible Any idea when this is getting released? I get the same issue with 1.7.3.

[2020-10-21 16:35] stevenctl commented on #27639
It's there now

[2020-10-21 16:35] #27639 closed

[2020-10-21 16:38] hniehus commented on #27839
Hi John,
it took me a while to get my head around this, but finally I found the evil: actually, in my case, it was not an Istio issue but with a custom EnvoyFilter a colleague of mine wrote. Maybe he just "borrowed" from an older example, but actually the content of that EnvoyFilter was not following the newer specs - in the yaml I found keywords like "WorkloadLablels" that seemed to be valid for

[2020-10-21 16:57] bianpengyuan commented on #28139
Upstream tracking issue: https://github.com/envoyproxy/envoy/issues/13157

[2020-10-21 16:59] kyessenov commented on #28017
Should we consider this a blocking bug? I agree about the need to change our modules to diff incoming configs.

[2020-10-21 17:25] brunooliveiramac commented on #13193
We are facing same issue here. Should we follow a different approach,maybe using a ServiceEntry instead.

[2020-10-21 17:33] linsun commented on #27137
@linsun approves the beta plan - pending we can do proper remote on remote cluster without istiod running.

[2020-10-21 17:43] bianpengyuan commented on #28017
Probably not if the short term fix to have different contexts does not work (https://github.com/istio/istio/issues/28017#issuecomment-712315223). This is not a regression so I am reluctant to make this a release blocker.

[2020-10-21 17:44] bianpengyuan commented on #28017
And we should try to make the context separation work by 1.8 if not a very hard fix.

[2020-10-21 17:49] kyessenov commented on #28017
Context separation is constrained by v8. We'll double the number of VMs if we split TCP and HTTP root context. Even then, each root context suffers from the same problem (e.g. if you submit a bad EnvoyFilter, it will not undo the changes by removing the EnvoyFilter).

[2020-10-21 17:50] gargnupur commented on #28017
For `plugin configuration`to work, we would have to add something in config to say this is tcp and http. Currently the config is also same for both http and tcp

[2020-10-21 17:53] howardjohn commented on #28144
The telemetry addons are intended for demo use only and not tuned for production. SEe https://istio.io/latest/blog/2020/addon-rework/ and https://preliminary.istio.io/latest/docs/ops/integrations/prometheus/ for more details.

Closing as "won't fix" as this is working as intended

[2020-10-21 17:53] #28144 closed

[2020-10-21 18:07] gargnupur opened #28158 "Testing: Changing Version in Echo Config doesn't work"
**Bug description**

Adding version in Echo Config doesn't really work. It still gets deployed as default V1 version.
Ex:
echo.Config{
 Service:   "clt",
 Version: "v2"
       }

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ X] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

[2020-10-21 18:11] prashantchari opened #28159 "Sidecar staying unhealthy with "StreamAggregatedResources gRPC config stream closed: 14, upstream connect error or disconnect/reset before headers. reset reason: local reset" error"
**Bug description**
Sidecar remains unhealthy and unable to talk to other services/istiod in the cluster

[ X] Docs
[ ] Installation
[ X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

Sidecar is able to talk to other services

**Version (include the output of `istioc

[2020-10-21 18:30] douglas-reid commented on #28017
This seems like a big drawback, and could be hard to make visible properly to users (especially in a Telemetry API).

[2020-10-21 18:34] kyessenov commented on #28017
A few design ideas, although solving this probably deserves a real re-design:
- Add a generation number to plugin config with the last one winning. Plugins must keep the old generation config if the new one is broken.
- Debounce onConfigure, so that Envoy applies it every 1-10 seconds. In case of conflicts, sort them in some deterministic order.
- Detach root config from plugin config, and make it

[2020-10-21 18:46] howardjohn commented on #24425
I am fairly sure the docs are  fixed by #28076

[2020-10-21 18:46] #24425 closed

[2020-10-21 18:46] howardjohn commented on #24011
Closing as we do not have the required info

[2020-10-21 18:46] #24011 closed

[2020-10-21 19:00] nmnellis commented on #28158
From the test examples and the deployment, i believe you have to use subset versions
[code]
https://github.com/istio/istio/blob/master/pkg/test/framework/components/echo/kube/deployment.go#L81

[2020-10-21 19:22] howardjohn opened #28163 "kubectl explain shows hidden fields"
[code]

`sourceSubnet` is `$hide_from_docs`, but still shows up. Ideally, it would not show up. If this is impossible maybe we add a note that its hidden

cc @jasonwzm

[2020-10-21 19:29] bianpengyuan commented on #28017
I think this is the right way to go, although not sure what do you mean by `bootstrap extensions`. I think it would be cleaner if we have another discovery resource (Wasm Context discovery), and Wasm VM and context lifecycle will tie to this resource.

[2020-10-21 20:00] dwschulze commented on #27974
Apparently [12 GB RAM is not enough to install istio](https://stackoverflow.com/questions/64373346/istioctl-install-fails-with-multiple-timeouts).

The minimum RAM requirement needs to be documented.  The error message should say insufficient RAM instead of timeout.  The preflight check should not pass if there is not enough RAM.  You need [platform setup instructions](https://istio.io/latest/docs

[2020-10-21 20:09] howardjohn commented on #27974
There is no 12gb minimum RAM requirement. A default install will request `2176Mi` of memory.

if `istiod` is not getting ready I highly recommend you look at the logs to see if there is any indication of failure.

[2020-10-21 20:55] howardjohn commented on #24095
Closing as we have not enough info

[2020-10-21 20:55] #24095 closed

[2020-10-21 21:03] howardjohn commented on #26007
[code]

There is a route matching all traffic going to `redis.redis.svc.cluster.local`

This is likely because of your service entry. a ServiceEnrty without a VIP (specified in address) will listen on 0.0.0.0 and match all traffic. I think this is working as expected.

[2020-10-21 21:03] #26007 closed

[2020-10-21 21:08] howardjohn commented on #25100
I am fairly sure this is fixed by https://github.com/istio/istio/pull/26142. Since we don't have any info suggesting otherwise and cannot reproduce this, I will close. If you run into this on newer versions please open an issue as this is, of course, a major problem if its triggered.

[2020-10-21 21:08] #25100 closed

[2020-10-21 21:26] nrjpoddar commented on #17656
For the proxy image we don't need iptables so it's probably a good idea to start separating out images for init and proxy container. It might reduce the surface area from a security perspective.

[2020-10-21 21:29] #25325 closed

[2020-10-21 21:34] howardjohn commented on #26367
I am a bit confused how it is marked as not ready. The log `2020-08-18T18:18:27.418245Z	info	Envoy proxy is ready` only happens when it *IS* marked ready... Are you sure the logs are from the same pod that is failing readiness?

[2020-10-21 21:34] istio-testing opened #28169 "[release-1.8] Deprecate MaxGrpcTimeout"
Manual cherrypick required.

#28089 failed to apply on top of branch "release-1.8":
[code]

[2020-10-21 21:37] howardjohn commented on #25213
It looks like this is due to using too old a version. I have tested on latest versions without issues. If this is not the case, please reopen iff you can attach a config dump

[2020-10-21 21:37] #25213 closed

[2020-10-21 21:38] howardjohn commented on #24013
Closing as we have no info

[2020-10-21 21:38] #24013 closed

[2020-10-21 21:38] howardjohn commented on #25312
Since we don't have more info I will assume this is fixed. if not, please let us know

[2020-10-21 21:38] #25312 closed

[2020-10-21 21:49] howardjohn commented on #26919
I see, I think the issue is updates. i suspect we filter out the update in https://github.com/istio/istio/blob/658ed6e295bf86535b78f744743f5accba8d5ee9/pilot/pkg/config/kube/ingress/controller.go#L201 which triggers invalid resource.

[2020-10-21 22:25] #27036 closed

[2020-10-21 22:26] nrb commented on #27675
Maintainer on Velero chiming in here!

From Velero's point of view, we restore most annotations as-is, since we don't know exactly what effect removing them will have. The ones we remove are done very purposefully, and mostly have to do with PV/PVC binding.

However, that decision definitely has side effects in cases like this, where the controls are designed under the (reasonable) assumption that

[2020-10-21 22:27] howardjohn opened #28172 "Add analyzer for incompatible host between VS and GW"
[code]

This config will not apply, since foo.com and bar.com are not compatible

I think we can warn if a VS references any non-mesh gateways, and non of the gateway servers match

[2020-10-21 22:35] howardjohn opened #28174 "k8s ingress: suspicious generated config when tls.host and rules.host mismatch"
Example config:
[code]

Generated output will have gateway.server.host equal tls.hosts, but the VS will have rules.host, which may never match.

We should look into if this is the expected behavior, as it seems like it may lead to confusing behavior. We should see what other Ingress providers do here

[2020-10-21 22:35] #27448 closed

[2020-10-21 22:45] howardjohn commented on #27675
@nrb are you referring to the `prometheus.io` annotation? I think that is just a small symptom of this. The real root issue is when a Pod is created, istio will rewrite the pod spec, add annotations, add containers, tweak settings, all sorts of things. This process is not idempotent.

From the k8s docs:

https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#idem

[2020-10-21 23:03] howardjohn opened #28175 "[Wasm] Proxy crashes due to CEL using thread unsafe protobuf interface"
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/28170/integ-pilot-k8s-tests_istio/22361

Seems very often, likely a regression

[2020-10-21 23:03] howardjohn commented on #28175
https://prow.istio.io/view/gcs/istio-prow/pr-logs/directory/integ-pilot-k8s-tests_istio/22362

[2020-10-21 23:04] howardjohn commented on #28175
https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/integ-pilot-k8s-tests_istio/22310
https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/integ-pilot-k8s-tests_istio/22321
https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/integ-pilot-k8s-tests_istio/22327
https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/integ-pilot-k8s-tests_istio/22335

[2020-10-21 23:07] howardjohn commented on #28175
Given the first failure was on an update for proxy sha: https://github.com/istio/istio/pull/27786

and the all the other failures start exactly 5 minutes after https://github.com/istio/istio/commit/f25374ee22f8a24d848c9fe2b6cb07fac97cb2aa

I strongly suspect this is due to the Envoy update. Bumping to release blocker

[2020-10-21 23:20] sdake commented on #24425
If so I don't remember why. It may have been that 1.5 was leaving support soon and it wasn't worth the trouble, and updating the documentation in 1.5 couldn't be done once 1.6 was out as we used a frozen archive.

[2020-10-21 23:24] howardjohn commented on #28175
multiclsuter TestTelemetry follows the same pattern - first failure is on https://github.com/istio/istio/pull/28073

[2020-10-21 23:25] howardjohn commented on #28175
https://prow.istio.io/view/gcs/istio-prow/pr-logs/directory/integ-multicluster-k8s-tests_istio/12740
https://prow.istio.io/view/gcs/istio-prow/pr-logs/directory/integ-multicluster-k8s-tests_istio/12747
https://prow.istio.io/view/gcs/istio-prow/pr-logs/directory/integ-multicluster-k8s-tests_istio/12764
https://prow.istio.io/view/gcs/istio-prow/pr-logs/directory/integ-multicluster-k8s-tests_istio/12

[2020-10-21 23:25] sdake commented on #24425
@howardjohn the profile was based upon istio.io docs which state to include this annotation. From my parsing of the issue, this annotation is no longer required as of 1.6, so shouldn't apply to 1.8.

@hickeyma can you test without the annotation, and if things are working well, submit a small PR to he profile? (and even istio.io if you want:)

Cheers,
-steve

[2020-10-21 23:35] howardjohn commented on #28175
https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/28176/integ-pilot-k8s-tests_istio/22370/artifacts/pilot-ffde774304c84b5bbb62c8d8f/TestTraffic/virtualservice/shifting-80_from_cluster-0/_test_context/echo-1-28407-state222252164/cluster-0/b-v1-68dcc4f485-5zhfr_istio-proxy.previous.log

[code]

[2020-10-21 23:56] zhaohuabing commented on #13851
We ran into this problem too.

[2020-10-22 01:28] hobbytp commented on #28143
And the cluster configuration is as below.
[code]

[2020-10-22 01:39] howardjohn commented on #26749
Closing this as working as expected. We have no plans to add annotation for this, as k8s added a first class AppProtocol exactly for this - docs are in the link above. Thanks @dave08

[2020-10-22 01:39] #26749 closed

[2020-10-22 01:41] howardjohn commented on #26807
This is documented in https://preliminary.istio.io/latest/docs/ops/configuration/traffic-management/protocol-selection/

[2020-10-22 01:41] #26807 closed

[2020-10-22 01:42] howardjohn commented on #25875
On port 15020 or 15021, right?

is it sending PROXY protocol, not HTTP? The EnvoyFilter does not apply to the bootstrap configuration. If you need to customize this, see samples/custom-bootstrap

[2020-10-22 01:44] howardjohn commented on #22553
I would consider this fixed by https://github.com/istio/istio.io/pull/8330

[2020-10-22 01:44] #22553 closed

[2020-10-22 01:45] howardjohn commented on #23959
This is correct. It was added in version 1.6. Have you had a chance to try this out in 1.6+?

[2020-10-22 01:46] kyessenov commented on #28175
Can it be reproduced with a standalone envoy? Debug build or core would really help.

[2020-10-22 01:46] howardjohn commented on #27520
cc @rvennam I think you were writing a doc on this?

[2020-10-22 01:50] howardjohn commented on #27466
I see no indication on https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/load_balancing/load_balancers one way or another about the expected behavior here.

Any idea @ramaraochavali @lambdai ?

[2020-10-22 01:51] rvennam commented on #27520
Take a look at this doc https://preliminary.istio.io/latest/docs/ops/configuration/traffic-management/network-topologies/

[2020-10-22 01:52] howardjohn commented on #27275
We need more info on this. Does it happen every request or just sometimes?

Is there any way we can reproduce this?

[2020-10-22 01:54] howardjohn commented on #27301
closing in favor of downstream issue: https://github.com/envoyproxy/envoy/issues/13147, we can track there. Thanks!!

[2020-10-22 01:54] #27301 closed

[2020-10-22 01:55] howardjohn commented on #28175
I have an ingress crashlooping in my cluster in mixologist. I am not sure a more minimal way but I am sure if you patched it with debug build it would be reproduced

[2020-10-22 01:59] howardjohn commented on #26686
I have confirmed this is fixed by #24455 in 1.7+ Thanks for the info!

[2020-10-22 01:59] #26686 closed

[2020-10-22 01:59] howardjohn commented on #26604
These are inline routes, I think this is intended

[2020-10-22 01:59] #26604 closed

[2020-10-22 02:00] howardjohn commented on #27661
You have configured the port of the Gateway. This is for inbound traffic. The outbound traffic is determined byt the port name on `nginx`

[2020-10-22 02:07] howardjohn commented on #27550
Does the connectorqa app listen on pod IP, localhost, or 0.0.0.0? You can see with `netstat -nl` from the pod (proxy container has it if your app does not)

[2020-10-22 02:10] jgournet commented on #25875
Thanks @howardjohn for taking the time to answer.

yes

yes, the NLB is sending the healthcheck as PROXY protocol.

Thanks - had a very quick look, but not too sure how to do what I need. If you have some time to help me out on that point, that would be appreciated

[2020-10-22 02:12] howardjohn commented on #26772
I don't think its possible to configure this, because the destination IP is lost by the connection from sidecar to gateway - the destination IP will always be the gateway IP, which is not what we want

[2020-10-22 02:13] howardjohn commented on #27329
Its also in mesh config. I think this is resolved as its not relevant in 1.7 really and if it somehow is its configurable via mesh config

[2020-10-22 02:13] #27329 closed

[2020-10-22 02:13] howardjohn commented on #27382
Closing as this is a known and documented limitation

[2020-10-22 02:13] #27382 closed

[2020-10-22 02:14] howardjohn commented on #25883
Closing as we do not intended to mirror Envoy's api. you may want to follow https://github.com/istio/istio/issues/10537

[2020-10-22 02:14] #25883 closed

[2020-10-22 02:15] howardjohn commented on #27031
Any more info on how to reproduce?

[2020-10-22 02:16] #27218 closed

[2020-10-22 02:16] #23163 closed

[2020-10-22 02:17] howardjohn commented on #25875
@jgournet the problem is that the EnvoyFilter applies to dynamic config. The health check configuration is part of the initial "bootstrap" config and not impacted by EnvoyFilter, so it doesn't get the proxy protocol applied. To get it working you would need a custom bootstrap which is a pretty hacky solution.

Is it possible to not use proxy protocol only for health check?

[2020-10-22 02:26] jgournet commented on #25875
While looking for a definitive answer to that question (I was pretty sure we can't - now I know we can't), I actually found a similar ticket to mine:
https://github.com/kubernetes/kubernetes/issues/57250

=> closing this ticket as it's a duplicate

[2020-10-22 03:25] ydh926 opened #28183 "Pilot oom maybe caused by connection error"
**Bug description**

[ ] Docs
[ ] Installation
[ ] Networking
[x ] Performance and Scalabilitxy
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

**Steps to reproduce the bug**

Not sure how to reproduce the bug. The pilot log before oom killed is
![image](https://user-images.githubusercontent.com/43948155/968209

[2020-10-22 04:38] #27979 closed

[2020-10-22 05:00] howardjohn commented on #28183
I think the only way we will be able to debug this is with a profile - see https://github.com/istio/istio/wiki/Analyzing-Istio-Performance

[2020-10-22 05:01] howardjohn commented on #28183
Also please be aware Istio 1.3 is unsupported and it's extremely likely whatever is causing this leak has already been fixed

[2020-10-22 06:46] mandarjog commented on #28017
@PiotrSikora @kyessenov onConfigure is called on the baseVM *before* being called on the worker, correct?
In that case we should be assured that the config is valid.

If we can do something equivalent to the how it happens in native filters that should work.
I *think* that is what Piotr suggested as well.

[2020-10-22 07:02] riyazmsm commented on #27550
this is the output

[code]

[2020-10-22 07:22] sandy0823 commented on #27711
It didn't work when I done an operation as https://istio.io/latest/docs/setup/install/virtual-machine/。The error (Error from server (NotFound): the server could not find the requested resource) still exists.

Version (include the output of istioctl version --remote and kubectl version --short and helm version if you used Helm)
istioctl version --remote
client version: 1.7.3
control plane version:

[2020-10-22 07:32] ydh926 commented on #28183
Since the pilot has been oomkilled, there is no way to get the heap profile. If the bug can be reproduced, I will provide more information.

[2020-10-22 08:06] BaudouinH commented on #20703
Hello, my team and I encountered this issue on EKS 1.15 with Istio 1.6.11 (and Calico), while trying to connect to an out-of-cluster Redis database, on our staging environment.
We also had in another namespace a (no longer used) Service with an ExternalName for Redis, making it impossible for the client to connect to the db.

We found two possible work-around (instead of deleting the Service with

[2020-10-22 08:10] FrimIdan commented on #22763
@hzxuzhonghu can you point me to where istio is modifying `/etc/resolve.conf`?
Is there a way to disable `/etc/resolve.conf` modification when running in multi-cluster mode?

[2020-10-22 08:34] lmarszal commented on #28103
Just for the record - upstream change, fixing envoy support for `STRICT_DNS` cluster having endpoint address with trailing dot just got merged to master: https://github.com/envoyproxy/envoy/pull/13644

[2020-10-22 08:50] ricosega commented on #28106
Hi there,
I am @nerusnayleinad colleague.

Here you have a pod istio-init output:
[code]

There aren't iptables inbound rules...
At the time we installed istio it was first 1.4.7 version and then we upgraded to 1.5.2.
And we've seen some remaining configmaps from the older version 1.4.7 that shouldn't be.
[code]

Let us know if you need anything else.

[2020-10-22 10:35] matty111 commented on #28105
curl istiod.istio-system.svc:15012:
curl: (7) Failed to connect to istiod.istio-system.svc port 15012: Connection refused

I don't have a IP because i think there is a link with cluster onprem
istio-system   istiod-remote          ClusterIP      None            <none>           15012/TCP

[2020-10-22 10:47] shamsher31 opened #28186 "remove-from-mesh should skip system namespace"
Maybe bug with https://github.com/istio/istio/pull/21107 because for the first time it says.
[code]

Should say `no Istio sidecar injected` or skip system namespace to remove sidecar injector.

If you run the above command for the second time it works. May be because of https://github.com/istio/istio/issues/20998#issuecomment-584367775
[code]

Based on https://github.com/istio/istio/issues/25860#i

[2020-10-22 12:39] hzxuzhonghu opened #28188 "gateways.networking.istio.io and gateways.networking.x-k8s.io conflicts"
Both crds have accepted name `gateway`. I tried to get istio gateway by `kubectl get gateway` we could get nothing.  I think the service apis' gateways.networking.x-k8s.io takes precedence in my cluster.

It is confusing for newbie.

@howardjohn

[2020-10-22 13:15] hzxuzhonghu opened #28189 "Upgrading from 1.7.0 to 1.8.0-alpha.0 failed"
I am using canary upgrade according to official doc.

But it failed waiting for ingress gateway with this error

[code]

I have httpbin deployed before and with `samples/httpbin/httpbin-gateway.yaml` applied.

[2020-10-22 13:40] esnible commented on #28005
Good catch, @linsun

I verified there is no output when `diff <(istioctl kube-inject -f samples/bookinfo/platform/kube/bookinfo.yaml) <(istioctl kube-inject -n foo -f samples/bookinfo/platform/kube/bookinfo.yaml)` is executed.

@shamsher31 This parameter is inherited from _root.go_ and should be removed from any command that doesn't use the value.

[2020-10-22 13:57] ericvn commented on #28117
Did do some playing with this yesterday and need to do some more investigation. I tried using --no-cache and I'm not sure that everything was

[2020-10-22 14:00] rtmie opened #28190 "Allow setting of STRICT mtls for the mesh by Operator"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
In the helm deploy model for Istio up to 1.4 it was possible to configure the Mesh to work in mTLS only.
In 1.3/1.4 this was driven by the security helm chart and this template https://github.com/istio/istio/blob/release-1.4/install/kubernetes/helm/

[2020-10-22 14:06] hickeyma commented on #24425
@sdake I tested by removing the [annotations](https://github.com/istio/istio/blob/master/manifests/profiles/openshift.yaml#L18-L20) from the [OpenShift profile](https://github.com/istio/istio/blob/master/manifests/profiles/openshift.yaml) and the sample bookinfo app is failing:

[code]

It looks like it needs those annotations.

[2020-10-22 14:19] esnible commented on #26775
@ostromart Can you triage this?

[2020-10-22 14:21] esnible commented on #25760
@jasonwzm Could we at least improve `kubectl explain istiooperator.spec ` so that it points to Istio doc, not Kubernetes doc?

[2020-10-22 14:21] howardjohn opened #28191 "Feature: get full config dump from istioctl"
Right now you can only get partial dumps. For adding to an issue or other usages it would be useful to get the full unmodified config dump from envoy

[2020-10-22 14:23] howardjohn commented on #28190
This is working as intended, see https://github.com/istio/istio/issues/22095 for some more background.

Is there any reason why you want this to be tied to the install rather than configured by a dedicated resource (just like all of the networking rules, etc)?

[2020-10-22 14:24] howardjohn commented on #28188
Yes, they may change the name. You can do `get gw` by the way.

I opened an issue in k8s to print a warning when there is a conflict

[2020-10-22 14:25] howardjohn commented on #28189
Weird, injecting empty http filters. I saw this once before but I forget why

[2020-10-22 14:36] esnible commented on #28186
I tried to do something similar.  (Although John approved my PR, there was no one in UX with time to look at it so it went stale.)

Would it make sense to use the technique of https://github.com/istio/istio/pull/25887 rather than checking namespaces?  Or do both?

[2020-10-22 14:36] sunjayBhatia commented on #27893
Cross-linking RFC and enhancement issue:
- https://docs.google.com/document/d/1nlEeo_PDoZtb9MHB1L9JpnbdU8efpcGJwQDwlWz7LXk/edit?usp=sharing
- https://github.com/istio/enhancements/issues/10

[2020-10-22 14:37] varsha28 commented on #26690
Thanks for the update.. do you know when is 1.8 release planned?

[2020-10-22 14:39] bianpengyuan commented on #26690
https://github.com/istio/istio/wiki/Istio-Release-1.8

[2020-10-22 14:40] howardjohn commented on #28105
@stevenctl @nmittler do either of you have experience with onprem multicluster? ^

[2020-10-22 14:41] howardjohn commented on #28188
https://github.com/kubernetes/kubernetes/issues/94860

[2020-10-22 14:42] shamsher31 commented on #28186
There a similar PR https://github.com/istio/istio/pull/27543 which I reviewed today and ask to refer your stale PR because that looks good to me.

I think we should keep both to avoid confusion like https://github.com/istio/istio/issues/25860 in future.

[2020-10-22 14:43] howardjohn commented on #28117
I have used the --no-cache successfully in the past. are you saying it wasn't working?

We need to make it work with the buildx as well, not sure if that takes that exact flag or needs it in the config file. we can then add the env var to tools/build-base-images.sh

[2020-10-22 14:50] ericvn commented on #28117
The same flag is accepted on the docker buildx.

[2020-10-22 14:55] howardjohn commented on #27550
This shows its listening on the Pod IP. Istio requires the app to listen on 0.0.0.0 or 127.0.0.1 currently. This is a very under documented area, which I am working on fixing, as well as an open PR to support this: https://github.com/istio/istio/pull/28178

[2020-10-22 15:01] howardjohn commented on #20262
Closing as this is assumed fixed

[2020-10-22 15:01] #20262 closed

[2020-10-22 15:09] howardjohn commented on #28106
at the top of the logs seems relevant

can you post the pod spec? specifically the init container args. Looks like its missing some parameter, so instead of `-i 1.2.3.4 -b` it ends up like `-i -b` or something?

Do you have any annotations on the pod like "includeInboundPorts" as well?

[2020-10-22 15:14] howardjohn commented on #26116
Thanks for the report! I am nearly certain this is the same as https://github.com/istio/istio/issues/21841 since DPE is what would happen when we violate HTTP protocol (pipe in header), so lets merge. BTW, if you look in that issue we are looking into adding first class ext_authz support to help this. thanks!

[2020-10-22 15:14] #26116 closed

[2020-10-22 15:15] howardjohn commented on #24159
Closing as a duplicate of https://github.com/istio/istio/issues/27713. We are actively working on this. Thanks Stephen

[2020-10-22 15:15] #24159 closed

[2020-10-22 15:15] sdake opened #28192 "Preliminary ACK PR produces Envoy OOM + loads of ADS disconnects."
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
The preliminary PR https://github.com/istio/istio/pull/27563/files leads to an OOM. The other problems I am less concerned with at this time.

**Aff

[2020-10-22 15:20] howardjohn commented on #26349
Hi sorry, I was referring to config dump from envoy: https://github.com/istio/istio/wiki/Troubleshooting-Istio#collecting-information-2. This will show the envoy configuration.

can you also try setting SNI in the DR: https://istio.io/latest/docs/reference/config/networking/destination-rule/#ClientTLSSettings to `myservice.mydomain.com`?

[2020-10-22 15:22] howardjohn commented on #25170
Closing as we do not have more info and I believe this is a calico issue

[2020-10-22 15:22] #25170 closed

[2020-10-22 15:22] howardjohn commented on #27481
Similar issue: https://github.com/istio/istio/issues/28172

[2020-10-22 15:26] howardjohn commented on #27435
Closing as "working as intended". Happy to open if we have suggestions for improvement though.

[2020-10-22 15:26] #27435 closed

[2020-10-22 15:35] howardjohn commented on #11120
Recent versions of Istio have had substantial improvements in this area. I deployed the exact manifest above with the latest version, and it works out of the box. I am able to hit `http://localhost:9200/_cluster/health` and see `{"cluster_name":"elasticsearch-cluster","status":"green","timed_out":false,"number_of_nodes":3,"number_of_data_nodes":0,"active_primary_shards":0,"active_shards":0,"reloca

[2020-10-22 15:35] #11120 closed

[2020-10-22 15:36] howardjohn commented on #26162
Closing as this is assumed fixed and we haven't had any updates. If you get more info and still have issues let us know. Thanks

[2020-10-22 15:36] #26162 closed

[2020-10-22 15:37] howardjohn commented on #26711
I think this has been fixed

[2020-10-22 15:37] #26711 closed

[2020-10-22 15:37] howardjohn commented on #26711
by https://github.com/istio/istio/pull/27589

[2020-10-22 15:42] sdake commented on #25685
These results are better - although ADS continues to disconnect and Envoy OOMs: https://github.com/istio/istio/issues/28192. I do feel like this is the first attempt of a PR that manages the numerous constraints of the protocol implementation
<img width="1312" alt="Screen Shot 2020-10-22 at 8 38 11 AM" src="https://user-images.githubusercontent.com/755849/96896523-7481e900-1442-11eb-8263-332cca343

[2020-10-22 16:29] ricosega commented on #28106
Hi Jhon,

We've found that was another software (aqua) which was messing the iptables of the istio-proxies.
You can close the issue.

Thank you for your help

[2020-10-22 16:31] #26861 closed

[2020-10-22 16:46] jasonwzm commented on #25760
@esnible Do you mean the description here? https://github.com/istio/istio/blob/master/manifests/charts/base/crds/crd-operator.yaml

Substituting the doc links is easy. I wonder how helpful is that vs showing all the nested fields.

[2020-10-22 16:52] nmittler opened #28196 "Rename "east-west gateway" to "expansion gateway" in docs"
The name east-west has received some negative feedback. In particular it's been mentioned that it sounds like it's just for data plane traffic and it's surprising that it's also used for control plane.

A suggestion was made to rename it to "expansion gateway". We should do this very shortly after 1.8.

[x] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Tel

[2020-10-22 17:05] #25371 closed

[2020-10-22 17:13] kyessenov commented on #25859
First attempt https://github.com/istio/istio/pull/27686

[2020-10-22 17:13] howardjohn commented on #28106
sounds good

[2020-10-22 17:13] #28106 closed

[2020-10-22 17:14] nmittler opened #28197 "Change east-west gateway script to take arguments"
The script currently uses environment variables which makes the call sites in our docs a bit ugly. It would be better to change it to take arguments, post 1.8.

**Affected product area (please put an X in all that apply)**

[x] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infras

[2020-10-22 17:31] howardjohn commented on #25369
not stale

[2020-10-22 17:59] howardjohn commented on #27271
Fixed by https://github.com/istio/istio/pull/24712. Please upgrade to 1.7+. Thanks!

[2020-10-22 17:59] #27271 closed

[2020-10-22 18:00] howardjohn commented on #26094
generate_cert is no longer used in the doc so I think this is fixed

[2020-10-22 18:00] #26094 closed

[2020-10-22 18:01] #27772 closed

[2020-10-22 18:15] nmittler commented on #28105
Those docs are pretty old and poorly tested. Mind trying the new ones: https://preliminary.istio.io/latest/docs/setup/install/multicluster?

[2020-10-22 18:29] kyessenov commented on #28017
@mandarjog
In our extensions, onConfigure always returns true, or the proxy crashes with LDS update.

Native filters have two general patterns:
- Shared fate with the listener. This would get rid of root_id concept, and just create a root for every listener. It would be created once listener is accepted and deleted once listener is drained. This works fine for stats filter I think.
- Key by config

[2020-10-22 18:42] aejeet commented on #28145
Already answered in another channel i had posted same question to
https://github.com/solo-io/gloo/issues/3778

[2020-10-22 18:46] totallyGreg commented on #28107
The pattern we are currently using is to generate an IstioOperator file by passing in both the base minimal.yml and the specific environment.yml to profile dump.
When profile dump is provided with 2 operator files to generate a 3rd, this resulting IstioOperator file appears to generate a components.pilot.k8s.hpaSpec block, presumably from the [Istio-discovery template] (https://github.com/istio/is

[2020-10-22 18:46] jacob-delgado opened #28200 "Stackdriver metrics reported incorrectly when service is not running on Google infrastructure"
**Bug description**

When running `TestStackdriverMonitoring` as part of the `integ-telemetry` integration test on non-Google infrastructure (I've run this on `kind` on my mac as well as a k8s cluster running on Amazon, not AKS) fails due to invalid metrics reported for stackdriver.

After working with @gargnupur we figured that the metrics being reported were missing `resource.labels` and had a r

[2020-10-22 18:47] jacob-delgado commented on #28200
cc @douglas-reid @mandarjog @gargnupur

[2020-10-22 18:57] matty111 commented on #28105
![Screenshot_20201022-204740_Chrome](https://user-images.githubusercontent.com/58981392/96916590-0c65ee00-14a8-11eb-9b8b-be94eebbf557.jpg)

I'm seeing this image. Then I think that the cluster onprem (with control plane) must expose all ports if istio-ingressgateway and not only 433.
For example 433, 15012 and others.
My problem is that only 433 port is exposed and opened. Others port are closed a

[2020-10-22 18:57] howardjohn commented on #25840
not stale

cc @kyessenov

[2020-10-22 19:03] #26080 closed

[2020-10-22 19:06] esnible commented on #23443
Clearing milestone because no one seems to be willing to accept this.

@ostromart , what do you think of just showing the user what the settings were rather than letting them upgrade, as I propose in https://github.com/istio/istio/pull/27737 ?

[2020-10-22 19:14] nmittler commented on #28105
IIRC mTLS traffic should be going through port 15443, rather than 443. But yeah you need 15012 exposed for control plane traffic ... you can't send it over 443. Port 15012 is configured as plaintext TCP which we use to route encrypted control plane traffic to istiod. Eventually we may not have that requirement, but that's what we have today.

FYI @costinm @howardjohn @stevenctl

[2020-10-22 19:24] mandarjog opened #28202 "Selectorless service with external workload entry fails in an unexpected way"
version: Istio 1.7
I have a selectorless service that is meant to point to a external workloads, the selectorless part is a configuration error.
However with this setup, a client using `mysql` service *is* able to reach the VM, but the proxy on the VM routes it to the inbound passthru cluster.

logs: The transition from good logs to bad and back happen due to config change.
[code]

Configuration:

[2020-10-22 19:35] howardjohn commented on #27565
Liekly the same as https://github.com/istio/istio/issues/26569

[2020-10-22 19:35] #28197 closed

[2020-10-22 20:43] linsun commented on #27609
@nrjpoddar Thanks, it is good to know helm has such an option. I think it would be reasonable for istioctl to also introduce an equivalent option.

cc @ostromart @irisdingbj

[2020-10-22 20:55] esnible commented on #25760
I don't think we can show all the nested fields, `kubectl explain` can't handle 'any'.  Just pointing to our docs should be enough.

[2020-10-22 20:58] l8huang opened #28204 "namespace controller causes OOM"
**Bug description**

NamespaceController uses task queue to create ConfigMap istio-ca-root-cert in namespaces, when a namespace doesn't have resource quota to create it, the task will fail and be pushed back into the queue. The status error is:

[code]

Related log:

[code]

Also, because namespace informer does resync, more configmap creation tasks will be created, and the failed ones will be acc

[2020-10-22 21:26] rtmie commented on #28190
Specifically because this config enforces mtls in the mesh. In effect this was the default we used before switch to the operator.
When we install with the operator we lost this default behaviour. There are some edge cases where AutoMTLS gets bypassed for TCP headless services when PeerAuthentication is not set to strict. So in effect from my POV the basic out of the box behaviour has changed.
ref

[2020-10-22 21:36] gargnupur commented on #28200
Adding to details..when running on k8s cluster running on Amazon, PLATFORM_METADATA is as follows:
"PLATFORM_METADATA": {
       "aws_instance_id": "i-00009785316a301ef",
       "aws_account_id": "715707337212",
       "aws_availability_zone": "us-west-2b",
       "aws_region": "us-west-2"
      },

@douglas-reid , @bianpengyuan : We probably need to support above in the stackdriver filter?

[2020-10-22 21:40] pschmitt commented on #28063
Does it work when you force the ndots value to 1?
It's an Alpine-based image after all.

[2020-10-22 21:48] howardjohn commented on #27291
This slooks like it may be the same as https://github.com/istio/istio/issues/22443 by the  `NotReadySslSocket`

The way to be 100% sure its to run `istioctl pc secret` on the pod. if it shows WARMING it is the same issue. We (finally)have a fix open inside Envoy now but its not yet merged

[2020-10-22 21:51] howardjohn commented on #26556
You mentioned 3 different services. Do they all have sidecars injected?

It would help to get config dump and access logs from the gateway and service3, service2, and service 1. https://github.com/istio/istio/wiki/Troubleshooting-Istio has info on this. thanks

[2020-10-22 21:59] howardjohn commented on #24628
Can you add the full logs, possibly with access logs enabled? A config dump could be useful too (https://github.com/istio/istio/wiki/Troubleshooting-Istio). I tried to reproduce this but don't have a netconf device to access

[2020-10-22 22:00] nrjpoddar commented on #28200
This bug caused us quite a bit of grief as we weren't able to pin point why it fails on our prow instance but not for Istio CI. Thanks @gargnupur & others for helping @jacob-delgado to get down to the root cause!

[2020-10-22 22:04] howardjohn commented on #27583
Closing this as this is fixed by https://github.com/istio/istio/pull/24412. due to the impending EOL of 1.6 and the ease of workaround we are unlikely to backport

[2020-10-22 22:04] #27583 closed

[2020-10-22 22:10] howardjohn commented on #26314
Istio 1.7 is published, as are the RPMs along with it, so I think this is fixed: https://gcsweb.istio.io/gcs/istio-release/releases/1.7.0/rpm/. Thanks!

[2020-10-22 22:10] #26314 closed

[2020-10-22 22:12] howardjohn commented on #26109
What version are you running? we do ahve keepalive now: https://github.com/istio/istio/blob/2aba66143b90046a3846f89ea08936affa7c677e/tools/packaging/common/envoy_bootstrap.json#L345

[2020-10-22 22:16] howardjohn commented on #28190
The expectation is if you want strict MTLS to configure a https://istio.io/latest/docs/reference/config/security/peer_authentication/#PeerAuthentication resource, not to rely on auto mtls. Its still not clear to me why its expected the operator will create this, when the user is still expected to create DestinationRules, virtual service, gateway, sidecar, etc resources. What is the benefit of havi

[2020-10-22 22:24] howardjohn commented on #26795
The config you provided is not valid. It failed the webhook check. Modifying it a bit to:
[code]

and it works. Do you have validation on the config? Maybe you have disabled it and the invalid config is getting passed

[2020-10-22 22:30] rtmie commented on #28190
Happy to accept your answer. I guess my expectation was no change of default behavior of the mesh at install time. On transitioning from 1.4 to 1.7 we had a behaviour change which was not immediatley obvious.

[2020-10-22 22:30] #28190 closed

[2020-10-22 22:31] howardjohn commented on #28192
@sdake one possible thing is to try PROXY_XDS_VIA_AGENT=false env var on istio

this is the new xds proxy we have added. One thing I noticed is it also has a 5s timeout hardcoded (this is for calls from envoy to istiod), so it may be undoing the increased timeout you did

[2020-10-22 22:38] howardjohn commented on #27869
This will be included in https://github.com/istio/istio/wiki/Istio-Release-1.8 as part of our update of envoy to 1.16. Thanks!

[2020-10-22 22:38] #27869 closed

[2020-10-22 22:40] dwschulze commented on #27974
Where would I find the logs for a failed install?

[2020-10-22 22:41] mandarjog commented on #20369
@richardwxn are we able to promote this to Beta as is, what is the status?

[2020-10-22 22:43] howardjohn commented on #26413
Any updates on this? seems like the tokens created by k8s are not valid

[2020-10-22 22:45] howardjohn commented on #27974
`kubectl logs -n istio-system <ISTIOD_POD>` will show them

[2020-10-22 22:45] #23706 closed

[2020-10-22 22:48] howardjohn commented on #27568
Whats likely happening here is envoy is overloaded so it starts failing expensive calls to /stats.

Since https://github.com/istio/istio/commit/af1f055004f20340b3c3d1fec8b0d9434e2fa892, present in 1.7+, we are no longer doing this.  I suspect this would fix your issue. Are you able to try 1.7?

[2020-10-22 22:52] howardjohn commented on #26709
We haven't gotten any updates here so cannot debug further. That being said, I am almost certain you are missing a Gateway due to a change in the 1.6 upgrade notes: https://istio.io/latest/news/releases/1.6.x/announcing-1.6/upgrade-notes/#istio-configuration-during-installation. This would explain why upgrade works but new install does not.

[2020-10-22 22:52] #26709 closed

[2020-10-22 22:54] howardjohn commented on #26503
Any updates on this to see if someone else was modifying this?

[2020-10-22 22:57] howardjohn commented on #22669
related https://github.com/istio/istio/issues/18966

[2020-10-22 22:59] howardjohn commented on #24176
Closing as we don't have additional info. If you are able to try out https://github.com/istio/istio/issues/20234#issuecomment-668845648 and still have issues we can investigate further.

[2020-10-22 22:59] #24176 closed

[2020-10-22 23:22] howardjohn commented on #26946
Both 1 and 2 will bypass iptables I believe, so I think we cannot conclusively say its ONLY envoy -> api-app, or if curl -> api-app would also loop, unless I misread this.

From the logs, it looks like in this loop, your app is getting requests as well (based on trace id). So the flow is envoy -> sidecar inbound -> app -> sidecar outbound -> sidecar inbound -> app -> ...

I think the fact that you

[2020-10-22 23:30] howardjohn commented on #26792
This is fixed in 1.7+ by https://github.com/istio/istio/commit/af1f055004f20340b3c3d1fec8b0d9434e2fa892

[2020-10-22 23:30] #26792 closed

[2020-10-22 23:32] howardjohn commented on #27643
@sazzle2611 can you possibly post the Gateway configuration you have that is conflicting? We do tests this combination in general (cert-manager acme challenge) so it must be specific to the config you are using. Would be good to get a config dump from the gateway as well to avoid back and forth: https://github.com/istio/istio/wiki/Troubleshooting-Istio. Thanks!

[2020-10-22 23:33] nirvanagit commented on #27083
This is already fixed in master - https://github.com/istio/istio/pull/22712

Thanks @howardjohn !

[2020-10-22 23:37] howardjohn commented on #27796
I strongly suspect this is a variant of https://github.com/istio/istio/issues/26861 which will be fixed by the same patch. need to verify though. Unfortunately due to the telemetry dependencies it will be extremely challenging to backport as is

[2020-10-22 23:42] howardjohn commented on #27571
It looks like before with nginx ingress you used tls passthrough, so kibana would get a tls request. But with Istio, you are terminating TLS at the gateway, and kibana is failing since it gets plaintext when it expects TLS. Maybe you want  tls.mode: PASSTHROUGH?

[2020-10-22 23:43] AceHack commented on #26709
I will try to get our K8s team to add more info or validate this is our issue.

[2020-10-22 23:46] howardjohn opened #28208 "Upgrading Istio version leads to misleading log line"
[code]

I did not need to set force or revision and it worked fine. I also don't think the warning is clear for users

[2020-10-22 23:50] howardjohn commented on #27796
I did some initial testing and reproduced the original issue and failed to reproduce it in 1.8

[2020-10-22 23:50] bianpengyuan commented on #28175
Repro it with local test: https://github.com/istio/proxy/compare/master...bianpengyuan:cluster-metadata?expand=1, which send continuous cluster update with different cluster metadata. So there is race condition that during onLog, cluster metadata is deleted.

[2020-10-22 23:51] howardjohn commented on #26737
I think this matches expectations and documentation in https://istio.io/latest/docs/ops/configuration/mesh/app-health-check/#probe-rewrite, and we have updated this doc to be more clear

[2020-10-22 23:51] #26737 closed

[2020-10-22 23:51] bianpengyuan commented on #28175
This is much easier to expose when increase concurrency, that explains why it is bad at ingress.

[2020-10-22 23:53] howardjohn commented on #27280
It seems like there is no reasonable default for `max_connection_duration`. If we did this we would get a ton of issues about gRPC/websocket/other streams closing (we already do...). I would be against adding a default - maybe a configurable option though?

[2020-10-22 23:55] howardjohn commented on #26554
can you post the config dump from ingress pod? https://github.com/istio/istio/wiki/Troubleshooting-Istio

[2020-10-22 23:58] howardjohn commented on #26369
This looks like a duplicate of https://github.com/istio/istio/issues/26282

[2020-10-22 23:58] #26369 closed

[2020-10-23 00:01] howardjohn commented on #26282
During a conflict the most recent ServiceEntry by creation time will be used. This is considered an invalid configuration. Does this happen if you remove the duplicate?

[2020-10-23 00:04] sazzle2611 commented on #27643
Hi @howardjohn

This is the config yaml that we use for one of our k8s clusters (the istio-operator.yaml file that we use to install and update istio)

[code]

I'm not totally sure what config dump you are asking for. Is it for one our gateways or for the istio-ingressgateway. Also we have downgraded all our clusters back to 1.6 where letsencypt works so are you wanting a dump of a 1.7 gateway?

W

[2020-10-23 00:04] howardjohn commented on #27738
Only a single gateway deployment will handle Ingress by design. This can be configured via IngressSelector/IngressService in mesh config (https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/, `istio` configmap), but only one may be selected

[2020-10-23 00:05] howardjohn commented on #27373
This may be related to https://github.com/istio/istio/issues/27423 and https://github.com/envoyproxy/envoy/issues/13240

[2020-10-23 00:09] howardjohn commented on #26817
This seems working as expected - https://istio.io/latest/docs/reference/config/networking/destination-rule/#LoadBalancerSettings-ConsistentHashLB clearly specifies this is for http only. This is not possible with TLS passthrough, as we do not havce access to http headers. Please take a look at https://preliminary.istio.io/latest/docs/ops/configuration/traffic-management/tls-configuration/ for chan

[2020-10-23 00:09] #26817 closed

[2020-10-23 00:11] howardjohn commented on #27643
I am looking for the `Gateway` that you needed to delete

[2020-10-23 00:14] sazzle2611 commented on #27643
Ah sorry, this is one of them, from a different k8s cluster but they were all the same

[code]

[2020-10-23 00:14] howardjohn commented on #25324
The new position for multicluster does not recommend or document using `*.global` at all and has taken new guidelines, so I do not think we will imeplemt this. Please take a look at https://preliminary.istio.io/latest/docs/setup/install/multicluster/. Thanks!

[2020-10-23 00:14] #25324 closed

[2020-10-23 00:19] howardjohn commented on #25507
Closing as I think this is addressed

[2020-10-23 00:19] #25507 closed

[2020-10-23 00:21] howardjohn commented on #23387
FWIW this use case will work transparently with the DNS proxy: https://preliminary.istio.io/latest/blog/2020/dns-proxy/. But will be some time until its ready

[2020-10-23 00:24] howardjohn commented on #26055
I don't think we have seen issues with this, as Shriram said its far small than clusters. Should we close?

[2020-10-23 00:28] howardjohn commented on #23855
Did you get a chance to try on newer version?

[2020-10-23 00:30] howardjohn commented on #26018
It seems it is not executed because its rejected. You need to provide a valid EnvoyFilter. See https://github.com/istio/istio/wiki/EnvoyFilter-Samples#adding-a-http-lua-filter

[2020-10-23 00:34] howardjohn commented on #26273
I attempted to reproduce on 1.7 and 1.8 and was unable to, so I think this may be fixed

[2020-10-23 00:35] #25369 closed

[2020-10-23 00:36] howardjohn commented on #26273
I also confirmed I can reproduce on 1.6

[2020-10-23 00:36] sdake commented on #28192
Turning this off causes flow control to have no visual effect, but also stops crashing the ADS connection and the OOMs stop. I attempted to increase the 5s hardcode to 35s, and same result.

It appears the knative benchmark has found an Istio master bug. I wonder how much trouble it would be to run this in the long-running scale/perf tests?

Its sort of like wackamole on this flow control - hard t

[2020-10-23 00:38] howardjohn commented on #26104
I think this is fixed by #26352 in 1.6.8+

[2020-10-23 00:43] coreyzzp commented on #27271
the problem is solved in that version by explicitly setting the istio/dr tls disabled, it seems to be enabled by default

[2020-10-23 01:02] hobbytp commented on #24082
@howardjohn can we add a doc to summary the headless service specific behaviors and configuration in different configuration?

[2020-10-23 01:12] hzxuzhonghu commented on #28204
/assign

[2020-10-23 01:19] hzxuzhonghu commented on #28204
I think this is a scenario we do not consider before. Let me check whether resync is disabled in recent branch

[2020-10-23 01:27] hzxuzhonghu commented on #28204
IIRC in 1.7 we have no resync for namespace informer.  @howardjohn Do we need to fix it for 1.6?

[2020-10-23 01:40] hzxuzhonghu commented on #28189
The empty httpfilter should be `istio.metadata_exchange` and "istio.stats" compared with the 1.7 listener. @bianpengyuan Any idea?

[2020-10-23 01:58] morlay commented on #26652
@howardjohn is any plan to support this?

I'm glad to merge my work https://github.com/querycap/istio to istio

Here is something may block the process

### istio envoy binaries

wasms is not care the cpu arch, so could be compiled only once. here only need do for istio/envoy.

* [ ] istio-envoy-build-env for multi-arch

`envoyproxy/envoy-build-ubuntu` upgrade to llvm-10, which not support to buil

[2020-10-23 02:32] hobbytp commented on #28143
@howardjohn  @ramaraochavali @JimmyCYJ do you think if my issue is the same with https://github.com/istio/istio/issues/27218? Thanks

[2020-10-23 02:49] lic17 opened #28210 "sidecar inject annotation istio-cni not work in istio 1.7.3"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensi

[2020-10-23 02:52] #28210 closed

[2020-10-23 02:56] lic17 commented on #28210
fix: because of I have two different configurations for sidecarInjectorWebhook in my yaml to install the istio.

[2020-10-23 03:08] bianpengyuan commented on #28189
I tried canary upgrade but cannot reproduce. Stats filters are working correctly for me with canary control planes.

[2020-10-23 03:09] bnutt opened #28211 "ValidatingWebhookConfiguration hardcoded to istiod service"
**Bug description**
The ValidatingWebhook configuration generated by the istioperator is hard coded to look for service `istiod` in the namespace where the istioperator resource is deployed. However, if .Values.revision is set, the name of the istiod service generated by the istiooperator resource includes the revision name, e.g. `istio-$rev`. This makes any requests coming in to the ValidatingWeb

[2020-10-23 03:53] #28140 closed

[2020-10-23 03:59] kyessenov commented on #28189
Maybe it's xDS proxy? The proto format changed between 1.7 and 1.8/

[2020-10-23 04:11] howardjohn commented on #28189
is the nack from 1.7 proxy or 1.8 proxy?

[2020-10-23 04:31] incfly commented on #27605
Closing for now, assigned @lei-tang in case you found anything feel free to reopen.

[2020-10-23 04:31] #27605 closed

[2020-10-23 04:37] incfly commented on #27244
Closing since now it works.

[2020-10-23 04:37] #27244 closed

[2020-10-23 04:39] incfly commented on #26468
Let's close for now and reopen when #22443 is resolved but you still see the same issue with the version including the fix.

[2020-10-23 04:39] #26468 closed

[2020-10-23 04:52] incfly commented on #24421
Not famliar with HS256 based JWT. I read the RFC and HMAC, so basically we are requiring a HMAC key obtained from Istiod to distribute to Envoy? How does typical your app distrubte pre-shared key used for hashing?

Current Istio distrubte JWK mostly for RSA public key. so it's not confidential data.

Also, I took a look of jwt_lib that is exactly what Envoy is using. And it seems not supporting HS

[2020-10-23 05:03] #25310 closed

[2020-10-23 05:05] #25382 closed

[2020-10-23 06:24] lei-tang opened #28213 "In MacOS environment, failure for "go test ./security/pkg/stsservice/test/success_sts/...""
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
In MacOS environment,  sync to the latest istio master branch. "make clean; make build; go test ./security/pkg/stsservice/test/success_sts/...". and

[2020-10-23 06:29] daixiang0 commented on #28071
@howardjohn if no one assigned, i would like to do this :)

[2020-10-23 06:36] daixiang0 commented on #24826
Is it still help wanted?

[2020-10-23 06:41] astrikos commented on #27291
@howardjohn indeed that seems to be the issue. We noticed this week that non-healthy sidecars miss the following lines that healthy sidecars have (with default logging levels):
[code]
So it seems that non-healthy sidecars miss rootCA cert hence all the tls traffic is broken. After searching the issues we came up with the https://github.com/istio/istio/issues/22443 as you mentioned.

Doing the comm

[2020-10-23 06:55] daixiang0 commented on #25549
@howardjohn it is not a issue, just mistake about `--tcp` and `--port`, please close it.

[2020-10-23 07:05] khernyo commented on #26273
Same here, I have not seen it on 1.7, so it's possibly fixed.

[2020-10-23 07:11] matty111 commented on #28105
ok thank you.
Then the port are:

- 15021
- 80
- 443
- 15443
- 15012
- 853

All ports have to opened and exposed fot istio 1.7.3.

[2020-10-23 07:13] srinivas-kandula opened #28216 "Not able to deploy istio into custom namespace in gke"
**Bug description**
Not able to deploy istio 1.7.3 demo profile into custom namespace in GKE 1.16.13 cluster.
Ran below command and istio got deployed into `istio-system` instead of custom namespace

./istioctl install --set profile=demo --istioNamespace=istio-test
✔ Istio core installed
✔ Istiod installed
✔ Egress gateways installed
✔ Ingress gateways installed
✔ Installation complete

[2020-10-23 07:49] irisdingbj opened #28218 "cluster id set via injectionURL does not work"
values.istiodRemote.injectionURL=https://xxx:15017/inject/cluster/iris

this will not take effect.

[2020-10-23 08:03] irisdingbj opened #28220 "fails to install istiod-remote"
If I have only
[code]
it will fail to install and complain the envoy filter crd does not exists and this is because `istio-remote` will be isntalled before `base`.

[2020-10-23 08:08] tdnhduc opened #28221 "User cannot send request to endpoint of service in mesh."
**Bug description**
When user access to website, some apis from front-end can redirect to end point(Service A) in mesh. But some api(a little) cannot send to end point(Service B). I have checked log of proxy but not seen anything. I wonder where is the request had been rejected by Istio?

[ ] Docs
[ X] Installation
[X ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Se

[2020-10-23 08:10] kirecek commented on #25324
This is can be done tho.

[2020-10-23 08:14] kirecek commented on #25324
Maybe it's not official, but it's possible to achieve this.

1.)  It's not possible to modify coredns configmap and coredns sidecar is deprecated anyway. The solution is to enable resolution in proxy instead of using coredns  `.Values.meshConfig.defaultConfig.proxyMetadata.ISTIO_META_DNS_CAPTURE: "true"`.
2.) set [.Values.global.multiCluster.globalDomainSuffix](https://github.com/istio/istio/pull/

[2020-10-23 08:21] mgxian commented on #26109
but 300 seconds is to too long. If at this period, we restart our pod, then the envoy is still the old endpoint, We will get 503

[2020-10-23 08:25] markusthoemmes commented on #23494
YAY, so I had some level of success with this, but PASSTHROUGH loadbalancing seems to not interact nicely with mTLS setup and AuthorizationPolicy.

Here's the reproducer/information:

## Istio setup

Istio setup looks like this, most important here is the `outboundTrafficPolicy` and the enabled sidecar injection

[code]

## App under test

The app under test has 2 ports, 8012 and 9090 and I want t

[2020-10-23 10:05] Stono commented on #28026
I've tested @howardjohn fix in #28111 and can confirm it works as expected

[2020-10-23 10:53] jithinjks commented on #7018
They can leave in seprate ns but only 1 condition, the gateway which is in another ns as virtual service must specify along with the ns.
example , assume my gateway is in ns istio-system and if so my virtualservice looks like this

[code]

This worked for me when the gateway used as "istio-system"/<gatewayname> and before applying simply the gateway name i was getting 404.

Hope this helps!

[2020-10-23 11:15] ramaraochavali commented on #28143
It seems so. Can u verify if that fixed your issue?

[2020-10-23 12:32] blankenshipz commented on #26946
@howardjohn A bit of detail that might be interesting; the app itself acts like a reverse proxy and does forward requests but I don't believe it would be possible for it to intentionally forward a request to itself there's a list of URLs that are picked from based on the path of the request.

* Definitely agree that the app is seeing the requests as well - in fact it was causing an OOM issue.
* I

[2020-10-23 13:24] bviolier opened #28224 "Configurable Trace context propagation for Lightstep"
**Description**
Our applications use the B3 format (Opencensus default) to send tracing information. And these traces are exported to Lightstep.
But when tracing with [Lightstep in Istio](https://istio.io/latest/docs/tasks/observability/distributed-tracing/lightstep/) is turned on, it uses the OpenTracing format to send tracing information to the applications. The consequence is that the traces fr

[2020-10-23 14:08] howardjohn commented on #26946
Interesting the linked issue was also a reverse proxy type app. Is it possibly forwarding some headers or something - or even worse, the Host header, which causes it to look back to itself? http requests are routed based on Host header.

One way that I think would prove this is to name the api-app port `tcp`. then it should treat it as tcp and ignore host header and route only based on ip.

That d

[2020-10-23 14:37] vaibhavjain882 commented on #26946
@howardjohn I can confirm that after changing the svc port name to TCP my issue is fixed. I am not in an infinite loop, it works as expected. Thanks a lot.

[2020-10-23 14:47] howardjohn commented on #28026
Thanks @Stono ! For anyone else that runs into this, please use the latest 1.6 and PILOT_ENABLE_LEGACY_INBOUND_LISTENERS, or 1.7+ is fixed natively. Thanks!

[2020-10-23 14:47] #28026 closed

[2020-10-23 15:00] howardjohn commented on #27291
Yes, should be shipped Nov 10 per https://github.com/istio/istio/wiki/Istio-Release-1.8

[2020-10-23 15:00] howardjohn commented on #27291
Lets consolidate this with https://github.com/istio/istio/issues/22443. Thanks for confirming!

[2020-10-23 15:00] #27291 closed

[2020-10-23 15:06] #28169 closed

[2020-10-23 15:06] howardjohn commented on #26109
@ramaraochavali any thoughts on making it lower?

[2020-10-23 15:16] blankenshipz commented on #26946
@howardjohn My app *was* passing the host header changing this seems to have fixed the issue. I'm confused as to why the `istio-ingressgateway` avoids this problem - is the ingressgateway not passing the host header?

[2020-10-23 15:19] howardjohn commented on #26273
Thanks @khernyo. Due to the complexity of fixes in this area and https://istio.io/latest/news/support/announcing-1.6-eol/ we are unlikely to backport this to 1.6, so I will consider this fixed. Thanks for the report!

[2020-10-23 15:19] #26273 closed

[2020-10-23 15:19] howardjohn commented on #26273
Also I suspect the original crash was https://github.com/envoyproxy/envoy/issues/13093 which is also fixed. But hard to say without the backtrace

[2020-10-23 15:22] howardjohn commented on #26946
[code]

From calling my gateway to a pod reflecting headers, looks like it will pass the original Host header from the client, which presumably is not app-api which does not rtigger the loop

[2020-10-23 15:24] howardjohn commented on #26302
Closing as this is fixed by https://github.com/istio/istio/issues/26524 in 1.8. Unfortunately we cannot backport due to dependencies on Envoy version

[2020-10-23 15:24] #26302 closed

[2020-10-23 15:24] howardjohn commented on #26479
Closing as its fixed in all versions now. Thanks!
We also recently added a warning when using this format in 1.8

[2020-10-23 15:24] #26479 closed

[2020-10-23 15:24] blankenshipz commented on #26946
@howardjohn I think that's issue spot-on! Thanks for your help! 🍺

[2020-10-23 15:24] #26946 closed

[2020-10-23 15:30] nrjpoddar commented on #26946
@howardjohn should we add protection against this OOM scenario? I understand it's based on HTTP host based routing but I'm not sure if we can add any defensive checks here.

[2020-10-23 15:32] howardjohn commented on #26946
@nrjpoddar I was thinking of this but I am not sure what we would do. From Envoy's perspective the app is just sending major load.

Actually the OOM seems unexpected -- I would not expect envoy to OOM even if it has high load

[2020-10-23 15:36] nrjpoddar commented on #26946
OOM I'm guessing is not due to high load but probably a bug (or by design) in Envoy where some resource is never getting released but just consuming more and more memory. Getting a memory profile might be interesting to see.

Functionally, Istio and Envoy are doing the correct thing here so I guess defensive check is not the correct thing but fixing the OOM bug seems right.

[2020-10-23 15:39] #28218 closed

[2020-10-23 15:45] howardjohn commented on #26324
@1hanymhajna thanks for the discovery!

@incfly this is on 1.4. I tested on master and it works. Do we have tests for this type of thing? If so, I think we can close?

[2020-10-23 15:47] howardjohn commented on #28211
@bnutt thanks for the detailed report. This is a duplicate of https://github.com/istio/istio/issues/27501, so lets consolidate there. We are actively working on a solution for this. Thanks!!

[2020-10-23 15:47] #28211 closed

[2020-10-23 15:48] howardjohn commented on #23652
Highly related: https://github.com/istio/istio/issues/28053 which essentially says "test this is not broken"

[2020-10-23 15:53] howardjohn commented on #27235
I think this was broken by #24319 (while fixing some other issues) and then fixed by #27105. I confirmed its working in master (thank you for the thorough reproduction steps!)

cc @hzxuzhonghu @incfly

[2020-10-23 16:12] howardjohn commented on #14133
Duplicate of https://github.com/istio/istio/issues/27423#issuecomment-696363395 and envoyproxy/envoy#13240 and probably others. Lets try to keep this in one place to avoid split conversations.

[2020-10-23 16:12] #14133 closed

[2020-10-23 16:15] bianpengyuan commented on #26851
I think this is fiexed.

[2020-10-23 16:15] #26851 closed

[2020-10-23 16:26] vaibhavjain882 commented on #26946
@howardjohn I revisited the code and I found one discrepancy with our headers. I dopped the Host header now in the code and everything is working as expected. I changed back the service port name to "HTTP". Thanks for your help.  🍺🍺🍺

[2020-10-23 16:31] bianpengyuan commented on #27521
Is this fixed? This is p0 for 1.8.

[2020-10-23 16:38] hzxuzhonghu commented on #23369
@gmemcc I am testing with 1.7.3, and found it is still causing infinite loop. All the traffic is intercepted to 15001 and then envoy sends it out and it is intercepted again to 15001.

[2020-10-23 16:44] bianpengyuan commented on #28208
I marked this as a P0, @ostromart @therealmitchconnors please help to triage this, thanks!

[2020-10-23 16:46] bianpengyuan commented on #28189
This is marked as a release blocker, @hzxuzhonghu Assign this to you to get more info.

[2020-10-23 16:54] mandarjog opened #28231 "Istio binaries should set kubeclient UserAgent with version"
At present istioctl and other binaries do not explicitly set kubeclient UserAgent.
Kubeclient-go guesses using binary name and puts 0.0.0 for version.

[code]

This information is useful during debugging.
`pkg.kube.util.go#SetRestDefaults()` is where it calls `rest.DefaultKubernetesUserAgent()` to set this property.

[2020-10-23 16:54] bianpengyuan commented on #27930
@carolynhu Was this fixed?

[2020-10-23 16:55] bianpengyuan commented on #28208
@therealmitchconnors tentatively assign this to you.

[2020-10-23 17:09] howardjohn commented on #26946
Oh oom actualy makes sense, each request is not completed, its loop, so there is many many many requests in flight at once.

[code]

can reproduce easily

[2020-10-23 17:21] howardjohn commented on #28058
Duplicate of https://github.com/istio/istio/issues/26946, see there for resolution

[2020-10-23 17:21] #28058 closed

[2020-10-23 17:32] jasonwzm commented on #28202
/cc @jasonwzm

[2020-10-23 17:34] hzxuzhonghu commented on #27565
same  with  1.7.3

[2020-10-23 17:35] hzxuzhonghu commented on #27565
The traffic dead loop

[2020-10-23 18:05] howardjohn opened #28233 "Profiling not working on latest proxy"
`The current build does not support heap profiler` using proxyv2:latest image

possibly from
[code]
We probably need to adjust how proxy is build

[2020-10-23 18:14] howardjohn commented on #27505
We need more info to debug this further, for example how to reproduce it, the logs from the pod (with access logs, see https://github.com/istio/istio/wiki/Troubleshooting-Istio), etc. Right now this issue is not possible to move forward.

[2020-10-23 18:19] howardjohn commented on #27485
Probably because of https://github.com/istio/istio/blob/344fc2588384b3feb4a071f1e2c2b363597566e9/pilot/pkg/networking/core/v1alpha3/cluster_builder.go#L200

Related #27296

[2020-10-23 18:19] howardjohn commented on #25862
Any more info?

[2020-10-23 18:35] jacob-delgado opened #28234 "istioctl has sub-command to check if deployed version is outdated or vulnerable to attack"
**Describe the feature request**

Based on @therealmitchconnors UX survey and [this comment](https://github.com/istio/istio.io/pull/8348#issuecomment-715492991) we should have a sub-command integrated into `istioctl` that would perform validation of the control plane and data plane elements that a user has deployed in their environment checking if a release is supported (e.g. 1.4.10 is currently n

[2020-10-23 18:41] jacob-delgado commented on #28234
I was thinking of having `istio.io` having a dynamically generated page (static is fine for now) where it just contains the versions of supported releases and vulnerable ones

[code]

[2020-10-23 19:05] howardjohn commented on #27777
cc @yangminzhu

[2020-10-23 19:18] bianpengyuan commented on #28200
@jacob-delgado Thanks for digging this up! I think we can do something in the test to distinguish the platform to only verify monitored resource when test runs on google infra. Will work on a pr for this.

[2020-10-23 19:34] ruigulala opened #28236 "Multi Control Plane provision failed"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
We're provisioning multiple Istiods with different revisions. The provision process failed with the following error.
[code]

**Affected product area

[2020-10-23 19:40] costinm commented on #28236
This probably affects single revision too - it seems to be a race condition when 2 instances create the secret.

Citadel should not crash/exit istiod, but just retry reading the secret that was created by the other instance and continue, should be a very simple change.,

[2020-10-23 20:05] howardjohn commented on #26630
Assign to yuchen for verification

[2020-10-23 20:22] linsun opened #28238 "istioctl x uninstall doesn't delete ingress gw"
**Bug description**
Installed istiod and ingress gw per my file but uninstall still leaves ingress gw untouched.

[code]

Ended up using ```istioctl manifest generate -f cluster1.yaml | k delete -f -``` to clean it.

[ ] Docs
[x ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructu

[2020-10-23 20:23] linsun commented on #28238
cc @shamsher31 @esnible if you have time to look into this.

[2020-10-23 20:28] lambdai opened #28239 "networking: set destination ip in 0.0.0.0:80 outbound listener"
Background: istio aggregate multiple outbound vip1:80, vip2:80 into 0.0.0.0:80 so that these share the same http route table.

The drawback is this 0.0.0.0:80 listener implicitly capture outbound traffic on unknown ips, including endpoint ips, and headless ips in the past.

We should revisit this given

the route config is maintained as 1 instance even multiple HCM refers to the same route resourc

[2020-10-23 20:29] carolynhu opened #28240 "Add metric for getting total number of extensions info"
Add metric for getting total number of extensions, which will be added to the Wasm Extension Dashboard.

[2020-10-23 20:30] carolynhu commented on #25843
Follow up issues:
- https://github.com/istio/istio/issues/28240

[2020-10-23 20:31] carolynhu commented on #28240
cc @gargnupur @douglas-reid

[2020-10-23 20:45] #25925 closed

[2020-10-23 21:04] vngzs commented on #27083
Yeah, I think this is safe to close. It is still broken in 1.5.x as far as I know, but we are on 1.6.x now and things are golden.

When I thought I had a 1.6.8 repro, what _actually_ happened was an artifact of TCP service discovery weirdness. We had an app relying on PassthroughCluster to hit a RabbitMQ instance outside the cluster. When someone launched RabbitMQ within the cluster, we found traf

[2020-10-23 21:04] #27083 closed

[2020-10-23 21:07] linsun opened #28242 "Provide useful message upon install req"
**Bug description**

[code]
I think our message should be improved... it should at least say what profile (and perhaps with what components), which in this case I'm installing the empty profile w/ ingress gw.

[ ] Docs
[ x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**E

[2020-10-23 21:08] linsun commented on #28242
cc @morvencao @shamsher31 if you have any bandwidth

[2020-10-23 21:30] carolynhu commented on #25843
Todo: add a release grafana dashboard ID

[2020-10-23 21:56] bianpengyuan opened #28245 "Clean up metadata exchange keys"
As of 1.8 istio proxy has been starting to exchange node info proto message instead of items specified in exchange keys. https://github.com/istio/istio/blob/d5893dc37b2c1ab9d05d839173017b35990c8e92/pkg/bootstrap/config.go#L453
However there is a way to add additional keys for exchanging. We'd need to decide if we want to keep this ability (which need proxy change) or cleaned it up from pilot-agent

[2020-10-23 22:02] kyessenov commented on #28245
Ability has been removed (it wasn't really used by our extensions before anyways).

[2020-10-23 22:05] bianpengyuan commented on #28245
Yeah I believe @lizan  or tetrate user uses them in access logging?

[2020-10-23 22:05] #28200 closed

[2020-10-23 22:06] istio-testing opened #28247 "[release-1.6] make stackdriver test platform agnostic"
Manual cherrypick required.

#28237 failed to apply on top of branch "release-1.6":
[code]

[2020-10-23 22:21] kyessenov commented on #28245
It was a private implementation detail. We discussed with folks here and @douglas-reid and @gargnupur whether it's safe. We don't intend MX to be a general mechanism to pass data.

[2020-10-23 22:40] #21279 closed

[2020-10-23 23:15] lambdai opened #28250 "publish proxy with google tcmalloc"
[ ] build proxy with gperfmalloc
[ ] figure how to visualized google tcmalloc profile
[ ] update istio doc
[ ] re-enable google tcmalloc

[2020-10-23 23:18] lambdai commented on #28233
Reverting to gperftcmalloc to unblock release

Future plan here #28250

[2020-10-24 00:26] l8huang commented on #28204
IMHO it's necessary to add a check to determine if a change should be retried. Looks like there already have such checks(https://github.com/istio/istio/blob/master/security/pkg/util/configutil.go#L45-L48), but looks like that's not sufficient.

I guess request should only be retried for below reasons:

[code]

Also max retry times should be given. If a request can't retry or exceeds max retry time

[2020-10-24 00:43] lambdai commented on #26630
":scheme" is a pseudo header in Http2

I agree a request can be identified as http or https, but it is arguable if ":scheme" should be a considered
as a header.

Envoy never provide a scheme match :( Clearly there is function gap between istio and envoy.

Overall it's an istio bug.

[2020-10-24 00:44] howardjohn commented on #26630
Ok, we can hide the field from the api. Thanks Yuchen

[2020-10-24 01:45] howardjohn opened #28252 "Spammy logs from Ingress controller when no ingress service"
[code]

I am getting this log constantly in a cluster with no ingress deployment. The cluster has no Ingress resources.

[2020-10-24 02:34] howardjohn commented on #28233
I also could not do cpu profile, not sure if that is the same root cause?

[2020-10-24 03:03] dwschulze commented on #27974
It is failing to get CRD's from 10.96.0.1, which is a non-routeable IP
address.  309 lines follow:

istioctl install
This will install the default Istio profile into the cluster. Proceed?
(y/N) y
Detected that your cluster does not support third party JWT authentication.
Falling back to less secure first party JWT. See
https://istio.io/docs/ops/best-practices/security/#configure-third-party-servic

[2020-10-24 03:28] lambdai commented on #28233
Yes. The profiler is gperftools functionability

See
https://github.com/google/tcmalloc/issues/2#issuecomment-587161590

[2020-10-24 06:47] ramaraochavali commented on #26109
Sure. We can lower this - Should we make it 120s?

[2020-10-24 10:01] #28233 closed

[2020-10-24 13:37] mgxian commented on #26109
I think that is not a good idea！I think we should make the envoy check the pilot's health more often. we can use envoy active health check. more info https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/health_check.proto

[2020-10-24 15:59] selfieblue commented on #26990
I am facing same issue in 1.7.3
Ingress Access Log
[code]

[2020-10-24 20:41] lizan commented on #28245
@hanahmily do you have concern about this?

[2020-10-24 20:43] maxenglander commented on #21338
I am also interested in this, would like to have this issue reopened. Thanks!

[2020-10-24 21:50] adiprerepa commented on #27701
I think this is implemented, appropriate to close?

[2020-10-24 23:58] gertvdijk commented on #27315
I'm affected too, this triggered for me after upgrade 1.6.7 / 1.6.12 -> 1.7.3, on a 1.18.10 Kubernetes kubeadm self-installed environments.

Plaintext HTTP isn't redirected anymore. Happy to help out with testing a potential fix or to provide more details if needed.

[2020-10-25 02:49] stevenctl commented on #27701
@adiprerepa there are follow up items I'd like to track with this issue.

[2020-10-25 02:56] javajon commented on #27417
Echoing @dwdraju. With the install:

`kubectl apply -f https://raw.githubusercontent.com/istio/istio/release-1.7/samples/addons/kiali.yaml`

I see the same repeating error messages from Kiali with Istio version 1.7.0/1.7, 1.7.3/1,7 and 1.8.0-alpha.0/1.8

`unable to recognize "https://raw.githubusercontent.com/istio/istio/release-1.7/samples/addons/kiali.yaml": no matches for kind "MonitoringDashbo

[2020-10-25 05:14] bianpengyuan opened #28256 "Add integration test for secured prometheus scraping"
Background: https://github.com/istio/istio/issues/28050.

As we are adding guide about how to use sidecar provision certs for prometheus secured scraping, we need to add an integration test or convert the existing test to cover that.

[2020-10-25 06:04] #27713 closed

[2020-10-25 13:24] carolynhu commented on #28092
@howardjohn I could not reproduce this error, here is the raintank: https://snapshot.raintank.io/dashboard/snapshot/Fcd154b4osooKzG6Fumcd6nqKWf2wi8U

[2020-10-25 13:24] carolynhu commented on #27930
@bianpengyuan Yes, confirmed, this issue has been resolved.

[2020-10-25 13:24] #27930 closed

[2020-10-25 15:31] krubot-sky commented on #27729
Hi @douglas-reid sorry for the late response, so the issue we have with using telemetry `v2` at the moment is authenticating with stackdrivers backend on the istio-proxy. See we use workload identity on our GKE clusters which means that by default istio-proxy isn't able to auth to GCP unless there's an equivalent service account on GCP. Although we're looking to move to `v2` soon since we see `v1`

[2020-10-25 16:59] darkstarmv commented on #27568
Thanks, I will try.

[2020-10-25 17:05] howardjohn commented on #27974
This is set by Kubernetes. see https://github.com/kubernetes/client-go/blob/master/examples/in-cluster-client-configuration/main.go. Automatically set env var based on KUBERNETES_SERVICE_HOST. You will need routability to the api-server for istio to work

[2020-10-25 17:05] howardjohn commented on #27974
Generally (maybe always) the IP corresponds to the service IP for `kubernetes.default`

[2020-10-25 17:24] #28252 closed

[2020-10-25 17:58] pupseba commented on #27909
Hi @rytswd,

Modifying the "config" for "typed_config" with the proper "@type" as shown in your entry worked perfectly in my case.

Documentation needs an upgrade yes, but shouldn't also istio-multicluster-ingressgateway resource be configured by default with "typed_config" instead of using "config" when multicluster is enabled? If that was the case, documentation should only mention this as part

[2020-10-25 18:00] cradules commented on #22677
Not sure if is related but I have the same issue with resource timeout, without creating any pods ( the deploy objects and rs were created).

The thing was I have namespaces istio-system and istio-operator manually created.  After 2h of tries I decided to delete everything. After I deleted the ns istio-system and istio-operator and run the commands install, worked:

`[charts:(⎈ |kubernetes-admin@k

[2020-10-25 20:23] rytswd commented on #27909
Hi @pupseba,

Yes, this certainly needs a fix for installation path - which actually seems to be already in place with https://github.com/istio/istio/pull/27264. I don't think this is being cherry-picked back to 1.7 branch, though. I have raised it to the release managers in Istio Slack (it should be fairly straightforward). I think v1.7.4 will be released soon, so this fix will only make it into

[2020-10-25 21:24] howardjohn commented on #23943
not stale

On Sun, Oct 25, 2020 at 12:02 PM Istio Policy Bot <notifications@github.com>
wrote:

[2020-10-25 21:39] nrjpoddar opened #28259 "GatewayPortNotOnWorkload analyzer logic seems to be incorrect"
**Bug description**
The `GatewayPortNotOnWorkload` analyzer [checks](https://github.com/istio/istio/blob/ba1e0b596999483f00e7fe6f2887b71fca3cc8a4/galley/pkg/config/analysis/analyzers/gateway/gateway.go#L89) that Gateway resource ports are defined in the Service ports list. While this seems correct at the first glance, I think the Gateway resource ports refer to "workload" ports which means that th

[2020-10-25 21:40] nrjpoddar commented on #28259
FYI @esnible @therealmitchconnors @howardjohn

[2020-10-25 22:49] #22914 closed

[2020-10-26 00:31] john-a-joyce commented on #27769
I am hitting something along the same lines,  but in my case I am not using a shared control plane but entirely separate control plane.   In my case there are endpoints assigned for all the services but the don't correctly point to the ingress ELB addresses EKS has assigned.   See this output:
[code]

[2020-10-26 02:12] hzxuzhonghu commented on #28189
Let me reproduce it today

[2020-10-26 02:12] hzxuzhonghu commented on #28189
It is the nack from the 1.8 ingress gateway

[2020-10-26 03:02] DandyDeveloper opened #28264 "PSQL / PgBouncer - mTLS Disabled - Unable to connect ("pgbouncer cannot connect to server")"
**Bug description**
After enabling the sidecar injection on a pgbouncer instance and postgresql instance, pgbouncer seems unable to pool connections / establish connections to Postgresql.

I have mTLS set to DISABLED via PeerAuth in Istio root:
[code]

Accessing the Psql instance from within the PGBouncer pod works perfectly:

[code]

I can also pSQL from a random Alpine container for testing:
[co

[2020-10-26 03:15] #26055 closed

[2020-10-26 03:15] hzxuzhonghu commented on #26055
Reopen when we find issues

[2020-10-26 03:48] hzxuzhonghu commented on #28204
[code]
I donot think this is enough, there are many error types from k8s: https://github.com/kubernetes/kubernetes/blob/16e18a590f32b931cdceb5372664198c0e49831a/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L708-L852

Nope, when it fails, we still put it back to the queue.

Then this is a permanent error, we have no way to notify that this namespace is unavailable.

[2020-10-26 03:51] angao commented on #26799
/cc

[2020-10-26 03:58] #28220 closed

[2020-10-26 04:02] DandyDeveloper commented on #28264
Looks like directly with the IP works:

[code]

[2020-10-26 04:30] morvencao commented on #28238
@linsun By default `uninstall` command will only remove istiod component, you need to add `--purge` to remove all other resources.

[2020-10-26 04:31] foxracle commented on #27189
we have the same problem. we can not use annotation to override concurrency value for ingressgateway with following two format.

format 1:
  selector:
    matchLabels:
      app: istio-ingressgateway
      istio: ingressgateway
  template:
    metadata:
      creationTimestamp: null
      annotations:
        prometheus.io/path: /stats/prometheus
        prometheus.io/port: '15090'
        prometh

[2020-10-26 04:36] morvencao commented on #28216
@srinivas-kandula Try this command to install istio to namespace rather than `istio-system`:
[code]

[2020-10-26 05:02] zyfjeff opened #28265 "Use SidecarSet to manage mesh Sidecar"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

The current way that istio is injecting Sidecar through webhook is to bind the APP life cycle to the life cycle of the mesh sidecar, and sidecar upgrades require APP restarts. Is it possible for ISTIO to manage sidecar through [Sidecarset](https://

[2020-10-26 05:54] yuanyiran opened #28266 "Isto ingressgateway cannot get the real IP address of the client"
**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Networking

**Affected features (please put an X in all that apply)**

[ ] Physical machine

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version --short` and `helm version` if you used Helm)**

istio 1.2.2
kubernetes 1.14.2
hel

[2020-10-26 06:17] DandyDeveloper commented on #28264
Further look, it does indeed seem to be a DNS issue:
[code]
Which should be using the istio-proxy DNS, correct?

[2020-10-26 06:20] foxracle commented on #19588
@howardjohn  but how to set concurrency, would do you mind to give some samples to show the correct way to do it?

I have add the annotation to the deployment of ingressgateway, but it can not work。
1：
proxy.istio.io/config: '{"concurrency" : "32" }'

2：
proxy.istio.io/config: '{"defaultConfig" : {"concurrency" : "32" } }'

Neither works.

[2020-10-26 06:29] carolynhu commented on #26544
Hi @opnarius, I could not reproduce your issue. Also, the yaml you provided looks not correct, like the way you set gateways: ` - istio-system/istio-ingressgateway` (should be name followed by namespace, also you'd better specify the namespace). In the `spec.http` section, you have duplicate match uri, also, your indentation has issues in that section as well. Could you provide your whole working

[2020-10-26 06:46] hzxuzhonghu commented on #28189
I can reproduce it easily:

First: install 1.7.3 with default profile

2. install httpbin from sample  `httpbin.yaml` and `httpbin-gateway.yaml`

3.  install canary release from 1.8.0-alpha `./bin/istioctl install --set revision=canary`

[code]

And i found the ingress gateway never get ready, an interesting point is that the envoyfilter installed it not right

[code]

As we can see the value is e

[2020-10-26 06:46] hzxuzhonghu commented on #28189
Anyone want to take a look in my env, PLMK.

[2020-10-26 08:16] PiotrSikora commented on #28017
I think so. Even though it's not a regression, it's terribly broken.

But `root config` is `plugin config`.

Could you file an issue for that in Envoy repo? If you always return `true`, then there is no way to catch configuration issues, and you'll end up with events dispatched on misconfigured plugin.

[2020-10-26 08:37] #22928 closed

[2020-10-26 09:08] hobbytp commented on #28143
@ramaraochavali I have tried istio-1.8.0-alpha.0, and this issue gone, so I think #27218 fixed it. Thanks,

[2020-10-26 09:21] ramaraochavali commented on #28143
@hobbytp Thanks for the update. I will close this issue then.

[2020-10-26 09:21] #28143 closed

[2020-10-26 09:48] xiaozhongliu commented on #27275
@howardjohn It always happens in almost all recent minor versions for node gRPC client, when the same port is shared by the HTTP and gRPC gateways. But it works normally for go or java gRPC client...
Later I find the issue will disappear if I use another standalone port for the SLB and gRPC gateway. Does istio has this kind of requirement? If so, could you help to share me the related doc. Thanks.

[2020-10-26 10:29] yskopets opened #28269 "When a node has multiple IPs, `Istio Proxy` should bind `inbound` listeners to the first address in the list"
**Bug description**

When a node has multiple IPs, `Istio Proxy` binds `inbound` listeners to the last applicable address in the list, such as a Docker bridge address, rather than an externally accessible one

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and

[2020-10-26 10:30] 78188869 opened #28270 "Support blue/green upgrade of ingress gateway."
**Describe the feature request**
![image](https://user-images.githubusercontent.com/14146450/97159213-7edf1280-17b5-11eb-97f7-12b0225a4e4e.png)
Right now, Istio operator support in-place upgrade.

The ingress gateway is a very critical component. It is the entrance of our service.
I hope to deploy ingress gateway with different revision in the same time. Then, I can verify the gateway before switc

[2020-10-26 12:57] zhongfox opened #28271 "auto endpoint weight by running-time，to improve warn up problem"
Background：
1. warm-up problem （especially JVM world） is a common problem. JVM-based applications deliver great performance but need some time to “warm-up” before reaching the top speed.

2. istio api (DestinationRule) not support endpoint level weight, while envoy does.

User want a simple strategy: at beginning when pod ready, the weight (qps) of that pod keep low level, and increase  by time.

[2020-10-26 13:19] DandyDeveloper commented on #28264
This was a DNS issue with pgbouncer c-ares component! Needed to build for `udns` and that works a treat.

[2020-10-26 13:19] #28264 closed

[2020-10-26 14:34] howardjohn commented on #28239
One thing I am worried about is people that have come to depend on this behavior.

[2020-10-26 14:49] jdomag commented on #22068
Hi Guys,

Any idea if there is a way to use rateLimit for outbound https traffic? E.g. I would like to have only 5 requests per second from pod XYZ to https://google.com?
Is it doable? I assume that since it's HTTPS traffic all the HTTP headers will be encrypted and i can't use envoy descriptors to route it to the rateLimit service

[2020-10-26 15:23] howardjohn commented on #28239
For example - https://github.com/istio/istio/issues/23494#issuecomment-715166559

[2020-10-26 15:29] connatix-cradulescu commented on #22677
Found the actual issue:

The issue occurs if namespaces istio-system is labeled with “istio-injection=enabled”

Just remove the label and try again:
kubectl label ns istio-system istio-injection-

[2020-10-26 16:20] douglas-reid commented on #11475
Not stale

[2020-10-26 16:24] bianpengyuan commented on #28189
The canary mx filter installed in my cluster is correct. Can you generate the manifest and check if it is correct?

[2020-10-26 16:26] douglas-reid commented on #28145
Closing as this apparently was already answered.

[2020-10-26 16:26] #28145 closed

[2020-10-26 16:40] Monkeyanator commented on #25308
Fixed in #28225

[2020-10-26 16:40] #25308 closed

[2020-10-26 16:54] JimmyCYJ opened #28276 "Release note needs a format check"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
There is a guide on adding [release note](https://github.com/istio/istio/tree/master/releasenotes#istio-release-notes), but there is not a format check to verify a release note has followed the guide. For example, `issue` could be a required field a

[2020-10-26 16:54] JimmyCYJ commented on #28276
@brian-avery could you take a look?

[2020-10-26 17:08] #28245 closed

[2020-10-26 18:47] #25005 closed

[2020-10-26 19:16] pparth commented on #23115
In our case, we would like to run a custom SDS server as a sidecar as we like to generate short-lived certificates per service instance and not per service type, through Vault. This way, we link the lifetime of the certificate that has a short expiration date with the lifetime of the service instance. As we recycle all our service instances within a few days for security reasons, there is no need

[2020-10-26 19:20] mandarjog commented on #25888
not-stale

[2020-10-26 19:25] #27606 closed

[2020-10-26 19:56] DNorv commented on #16210
please update docs for use v3 api

new version envoy do not support v2 api:

` Proto constraint validation failed (Illegal use of hidden_envoy_deprecated_ V2 field 'envoy.config.accesslog.v3.AccessLog.hidden_envoy_deprecated_config' from file accesslog.proto while using the latest V3 configuration. This field has been removed from the current Envoy API. Please see https://www.envoyproxy.io/docs/en

[2020-10-26 19:59] istio-testing opened #28282 "[release-1.7] Update deprecated config to typed config in istio-multicluster-ingressgateway EnvoyFilter template"
Manual cherrypick required.

#27264 failed to apply on top of branch "release-1.7":
[code]

[2020-10-26 20:11] ostromart commented on #28208
@shamsher31 I assume this is due to the installed version check? I agree the message is unclear, it should say something like "An older installed version of Istio has been detected. Running this command will overwrite it.". And of course we need a prompt (prefer) or flag to proceed.

[2020-10-26 20:12] opnarius commented on #26544
@carolynhu I've updated virtual service yaml. The ingress gateway is the default object as deployed by Istio Operator.

[2020-10-26 20:27] incfly commented on #21961
Re-route to @shankgan since he's working on external CA integration. We just need a plan of recorded here to indicate how we plan to support Vault integration.

[2020-10-26 20:35] #25477 closed

[2020-10-26 20:36] ostromart opened #28284 "istioctl verify-install not working"
Using istio-1.8.0-alpha.0:

[code]

[2020-10-26 21:06] howardjohn opened #28285 "TestLocalRateLimiting/TestRateLimiting"
Master tests are failing like 90% of the time. Initially thought this was because of https://github.com/istio/istio/issues/28175, but upon closer inspection, most failures are from these tests.

Example failure: https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/28281/integ-telemetry-k8s-tests_istio/22463/artifacts/telemetry-policy-5ca875c761874d/TestRateLimiting/_test_context/isti

[2020-10-26 21:20] donegjookim commented on #25103
Solution:

Change casing from snake case to camel case: `sni_hosts` to `sniHosts`

[2020-10-26 21:35] #25483 closed

[2020-10-26 21:38] howardjohn commented on #24416
not stale

On Mon, Oct 26, 2020 at 2:36 PM Istio Policy Bot <notifications@github.com>
wrote:

[2020-10-26 22:06] richardwxn opened #28287 "Ingress proxy memory usage possible regression for 1.7.4"
In the release qualification test, found out that the ingress proxy memory usage has gone up to around 240M from 130M after upgrading to 1.7.4 from 1.7.3, but the memory usage increase is normal overtime, no apparent leak observed. And didn't see similar regression on the workload proxies. Check the below links for accessing prometheus/grafana running on the clusters for more details.

[prometheus

[2020-10-26 22:23] howardjohn commented on #25685
Got a profile of envoy during high XDS pushes
[envoy.prof.gz](https://github.com/istio/istio/files/5441801/envoy.prof.gz)

20% of time in MessageUtil::validate
20% of time in MessageUtil::hash
Another 15% in RdsRouteConfigProviderImpl::validateConfig. It looks like this is doing 2x the work as part of RdsRouteConfigSubscription::onConfigUpdate

[2020-10-26 22:36] #25485 closed

[2020-10-26 22:43] howardjohn commented on #28287
heap size goes up, but alloc goers down: http://prom.release-qual-17.qualistio.org/graph?g0.range_input=2d&g0.expr=container_memory_working_set_bytes%7Bcontainer%3D%22istio-proxy%22%2Cnamespace%3D%22istio-system%22%7D&g0.tab=0&g1.range_input=2d&g1.expr=envoy_server_memory_allocated%7Bnamespace%3D%22istio-system%22%7D&g1.tab=0&g2.range_input=2d&g2.expr=envoy_server_memory_heap_size%7Bnamespace%3D%2

[2020-10-26 22:53] yangminzhu commented on #27777
Seems like https://github.com/envoyproxy/envoy/issues/9822, I think you can set the new `pack_as_bytes` field to fix the issue.

[2020-10-26 22:55] lambdai commented on #28239
That's undefined behavior...

[2020-10-26 22:58] douglas-reid opened #28288 "feat(dashboard): switch to use canonical services in grafana dashboards"
**Describe the feature request**

Orient grafana dashboards around canonical service.  This should include:

- [x] Mesh dashboard updates to aggregate at the canonical service level (including the service tables)
- [x] A new canonical service dash that shows service-to-service traffic (distinct from workload to service traffic)

**Describe alternatives you've considered**

N/A

**Affected product

[2020-10-26 23:00] howardjohn commented on #28239
Strong example of www.hyrumslaw.com here I think

[2020-10-26 23:03] douglas-reid opened #28289 "feat(dashboard): add gateway-focused dashboard"
**Describe the feature request**

The current Istio dashboards do not adequately provide first-class monitoring for ingress (and egress) gateways. We should design a dashboard focused on gateway concerns.

**Describe alternatives you've considered**

Redesign existing dashboards to better support gateways.

**Affected product area (please put an X in all that apply)**
[ X ] Extensions and Telemetr

[2020-10-26 23:30] howardjohn commented on #28271
This is the same as https://github.com/istio/istio/issues/21228 which was stablebot closed

[2020-10-26 23:32] howardjohn commented on #28269
Fixed by https://github.com/istio/istio/pull/28260

[2020-10-26 23:32] #28269 closed

[2020-10-26 23:33] howardjohn commented on #28266
Hi @yuanyiran . This is a duplicate of https://github.com/istio/istio/issues/27520, lets keep discussion there.Thanks.

See also https://istio.io/news/support/announcing-1.2-eol/

[2020-10-26 23:33] #28266 closed

[2020-10-26 23:35] howardjohn commented on #28265
I don't think modifying the image of a running pod (which is what this does, as far as I can tell), is a good idea. It will result in downtime and we need to change more than just the image for upgrades

[2020-10-27 00:43] shankgan commented on #21961
One of the challenges with external CA integration has been finding a **common way** to integrate with multiple external Certificate Authorities (Let's encrypt/Vault/Venafi etcetera) that negate the need to maintain private signing keys in the K8s Cluster. Maintaining separate code for integration in each case is a challenging ordeal. Would be interested to hear of any common API/protocols that ar

[2020-10-27 00:50] richardwxn commented on #28287
checking the same test with 1.7.4 on another cluster: oss17-stable-iamwen in the mixologist project and did not see similar result as here so far, would continue monitor these clusters.

[2020-10-27 00:50] istio-testing opened #28291 "[release-1.8] Fixes for trust domain configuration"
Manual cherrypick required.

#28127 failed to apply on top of branch "release-1.8":
[code]

[2020-10-27 01:04] lambdai commented on #28287
heap size ~= 1.5x allocated
It is not too bad.
The compaction cannot squeeze `heap size`  to `allocated` due to fragments and cache. Cache is the "C" in tCmalloc)

[2020-10-27 01:32] #28003 closed

[2020-10-27 01:39] gmemcc commented on #23369
@hzxuzhonghu changing target port to 15006 will break the loop, but tproxy mode still not working.  in older versions istio forwards inbound traffic to 127.0.0.1, but now it will send to original dest ip. i thank we should update the iptables rules for tproxy

[2020-10-27 01:54] hzxuzhonghu commented on #28189
all right, i can not reproduce now. The envoyfilters in the generated manifest are all correct.

[2020-10-27 02:00] bianpengyuan commented on #28189
@hzxuzhonghu Any idea what might change? It is even more concerning if the installed resource is non-deterministic..

[2020-10-27 02:00] hzxuzhonghu commented on #23369
Yes, i tested it by changing this 15001 to 15006 and also by updating the virtualInbound listener filters with a mark 1337.
[code]

And i found that envoy send the traffic to app with original src address, but the connection could not be established. What i see is that envoy has sent out the sync packet, but can not receive the `ack`.

I am not very familiar with iptables tproxy mode, appreciate i

[2020-10-27 02:19] daixiang0 commented on #28284
I test at local, can not verify too:
[code]
Did i miss something?

[2020-10-27 02:25] zhongfox commented on #21228
as described in https://github.com/istio/istio/issues/28271, some user already hack istio, use simple strategy to warm up: increase weight of endpoint by ready-time.

any change we add the new feature to DR?

[code]
istio will calculate periodically，and push weight change （EDS）to data plane.

this proposal is not about traffic mirroring. this is general endpoint weight strategy, user still can use

[2020-10-27 02:58] linsun commented on #28238
@morvencao although it is confusing, I can see why it is designed this way.  Thanks for pointing it out.

[2020-10-27 02:58] #28238 closed

[2020-10-27 03:26] lcfang commented on #26367
@howardjohn I have the similar problem:
I find my sevice not work, and the endpoint is none:
[code]
then I got the pod events:
[code]
It seems that the reason is failed readiness probe, then I got the container of istio-proxy logs:
[code]
I also see `2020-10-27T02:31:55.540175Z     info    Envoy proxy is ready`, but the pod is still not ready, and the endpoint is none. It is so confused me, do you

[2020-10-27 03:38] hzxuzhonghu commented on #28265
I doubt how native k8s can support sidecarset in place upgrade

[2020-10-27 03:42] istio-testing opened #28299 "[release-1.7] Fix operator revision handling"
Manual cherrypick required.

#28044 failed to apply on top of branch "release-1.7":
[code]

[2020-10-27 03:42] howardjohn commented on #28265
Kubernetes allows patching a containers image, which I am pretty sure is what the sidecarset is doing

[2020-10-27 03:48] hzxuzhonghu commented on #28265
Thanks for that info

[2020-10-27 03:57] howardjohn opened #28301 "release notes test blocks batch merged"
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/batch/release-notes_istio/6600

[2020-10-27 04:09] zyfjeff commented on #28265
@howardjohn @hzxuzhonghu
You may have misunderstood the implementation principle of the Sidecarset. The Sidecarset combined with the hot upgrade envoy makes the service available throughout the upgrade process.

![image](https://user-images.githubusercontent.com/8816403/97255992-e3997c00-184c-11eb-9d66-1257af6b6fc1.png)

It is not complicated to implement. We have implemented it in Alibaba. We nee

[2020-10-27 04:10] howardjohn commented on #28265
I see, two containers. Makes sense. can you only modify the container image though, nothing else?

[2020-10-27 04:13] zyfjeff commented on #28265
@howardjohn
Upgrading can be accomplished by setting a new sidecar image ID, and the process of upgrading can be controlled, such as the number of upgrades

[2020-10-27 04:43] shamsher31 commented on #28208
Yes.

@ostromart I'm fine with updating the message as you suggested. These messages are as per the suggestion from @esnible https://github.com/istio/istio/pull/24263#issuecomment-707629340

The prompt is still there to ask the user to take action based on message.

[2020-10-27 04:53] ankitpatel96 opened #28302 "No way to add a custom bootstrap configuration in ingress gateway"
**Bug description**
There's no way to add a custom bootstrap configuration to an ingress gateway.  The recommended way (for sidecars apparently) is by adding an annotation to a pod with key sidecar.istio.io/bootstrapOverride.  If you add try to add this to an ingress gateway, no bootstrap configuration is injected.  This annotation should either work or another interface for gateways should be exp

[2020-10-27 06:22] #27566 closed

[2020-10-27 08:03] mbfmbf opened #28305 "feat(tls certificate gateway), impossible to configure two or more gateways pointing to the same tls certificate"
**Bug description**
The fact of adding a gateway that points to the same certificate as another gateway, this disrupts the proper functioning of the urls of the old gateway and the response of requests starts to alternate between status 200 and 404 not found

**Affected product area (please put an X in all that apply)**
[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] E

[2020-10-27 08:53] irisdingbj commented on #27420
https://github.com/istio/istio/pull/28181/

[2020-10-27 09:36] Ramuimmadi commented on #26635
I am also facing this issue, We are trying to patch SNI but seems not a great idea as it is being overriding he Patch config whenever Istio config is applied or Workloads getting restarted.

Can you prioritise this issue please, which would be really helpful for many like us

[2020-10-27 10:11] #27988 closed

[2020-10-27 10:44] #22961 closed

[2020-10-27 10:46] silencehe09 commented on #27620
@howardjohn  Hi, I'm sorry to say that I still need your help to view istio cni logs.
After I had upgraded istio version to  1.7.2  on Openshift 4.5, the istio cni plugin  works well.  And I had set the log level to debug,  but the logs of istio cni are not  showing  up  in kubelet logs  using _journalctl -t kubelet -n 1000 | less._   The logs are helpful for troubleshooting.

[2020-10-27 11:07] nataraj24 commented on #27727
Hi @howardjohn

please find attached config dump.  below dump is of 1.6.12 for the application pod

[infra_dump.zip](https://github.com/istio/istio/files/5444803/infra_dump.zip)

[2020-10-27 11:39] yanickxia opened #28309 "Shared control plane multiple networks without loadblance"
**Describe the feature request**
try install cluster in my test env, try everything but i can't make it works, i think that we should add doc for `Shared control plane multiple networks without loadblance`

**Describe alternatives you've considered**
help someone without loadblance

[ X ] Docs
[ X ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Securi

[2020-10-27 11:42] jbrongtr opened #28310 "Istio-ingress nodeport service changes"
## Versions
We are using the operator deployed by istioctl
istio - v1.7.0

## Issue
Occasionally the istio-ingress service nodeports change and this will break our ingress.

## Setup
We have a DeamonSet proxy sitting on all nodes that listens on port 80 &443 then xfers the connection to the istio-ingress service at the specific nodeport its listening on.

## Possible cause

I think that when the H

[2020-10-27 11:46] Amerdrix commented on #27834
Hi,

We are seeing this command return quickly with only two entries.

[code]

However when invoking  `:15020/healthz/ready` it will timeout on the TCP connect

[code]

Looking at the pod we see there are 35 sockets in CLOSE_WAIT

[code]

[2020-10-27 12:30] jbrongtr commented on #28310
Actually it seems to correspond to the hpa for istiod. We are right on the tipping point of 2 to 3 replicas based on cpu and each time it spins up a new replica of istiod, the nodeports change for the istio-ingress service.

[2020-10-27 13:27] ImmortanJoe opened #28312 "The 503(no healthy upstream) error occurs intermittently when accessing the istio-ingressgateway"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

istio 1.6.9

two clusters with shared control plane in cluster1,two istiod pods
![image](https://user-images.githubusercontent.com/14193852/9730516

[2020-10-27 14:39] #28301 closed

[2020-10-27 14:45] jeffherald commented on #27738
@howardjohn Ok, just wanted to verify that this was by design and not oversight, thank you for clarifying.

[2020-10-27 14:45] #27738 closed

[2020-10-27 14:51] frankbu commented on #26635
The latest version of the egress wildcard task is using k8s.overlays in the operator config now. See step 3 here: https://preliminary.istio.io/latest/docs/tasks/traffic-management/egress/wildcard-egress-hosts/#setup-egress-gateway-with-sni-proxy

[2020-10-27 14:56] achilles-git opened #28313 "provide support for dynamically serving SSL certificates using SNI at istio-ingress"
**Describe the feature request**
please provide the support for dynamically serving SSL certificates using SSL.
e.g: for two sites abc.com and xyz.com using istio we can server certificates like this
[code]
above method is not scalable if you have more than 100 or 1000 sites.
something like below in which istio will find the correct one by checking for a matching common name or subject alternative

[2020-10-27 15:39] LukasAuerbeck commented on #27839
We encountered the same problem while migrating our clusters from the old helm/direct istioctl install to istio-operators. I think the config should still be valid since it matches the latest EnvoyFilter spec. Since the filter is used to configure certain security header (csp, xss-protection, x-frame, ...) we would prefer to keep the EnvoyFilter. Does release 1.7.4 already have a planned release d

[2020-10-27 15:43] #25498 closed

[2020-10-27 15:54] howardjohn opened #28315 "When cluster is removed and added back, Envoy fails to properly send a new SDS request, leading to all requests getting 503 (TestIngressRequestAuthentication failure)"
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/batch/integ-security-k8s-tests_istio/22859

[2020-10-27 16:21] jacob-delgado commented on #27994
cc @howardjohn @yangminzhu Would this affect a relatively small set of users? I'm not sure how many people have disabled the validating webhook.

With release 1.6 closing mid-November is this something that can be fixed before then? This only affects in-cluster communication to, right?

[2020-10-27 16:25] howardjohn commented on #27994
@jacob-delgado the validation part is not very relevant, the bug occurs even with valid PA, and impacts versions 1.6+, including master

[2020-10-27 16:32] #26390 closed

[2020-10-27 16:33] #27771 closed

[2020-10-27 16:35] howardjohn commented on #27727
this config only applies to gateway, the dump is from a sidecar.

Also need to know what request is sent that fails

[2020-10-27 16:40] stevenctl commented on #25659
cc @irisdingbj @linsun @GregHanson

Do we still need this issue? We have two suites `centralistio` and `centralremotekubeconfig`. The `centralistiod` this issue refers to is marked flaky and is skipped.

Is the setup being tested there still valid, or is the "remote kubeconfig" the actual external istiod model we care about?

[2020-10-27 17:05] #25843 closed

[2020-10-27 17:08] carolynhu opened #28322 "Add Wasm config error metrics into Extension dashboard"
This metrics currently is missing in the codebase. When it is available, we should add this kind of metric into the Istio Extension dashboard.

[2020-10-27 17:17] carolynhu commented on #28288
One more item TODO: Adding a dashboard should also update release-builder: https://github.com/ericvn/release-builder/blob/0828d57ef0272bcd7d66f50e1cac38acc9d37ce3/test/publish.sh#L72

[2020-10-27 17:26] su225 opened #28325 "Race condition in TestLDSWithIngressGateway"
**Bug description**
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/28255/unit-tests_istio/23336
Race condition in `TestLDSWithIngressGateway`

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[X] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

[2020-10-27 17:26] howardjohn opened #28326 "All K8s version tests broken in postsubmit"
https://prow.istio.io/view/gs/istio-prow/logs/integ-k8s-116_istio_postsubmit/4001
https://prow.istio.io/view/gs/istio-prow/logs/integ-k8s-115_istio_postsubmit/2132
https://prow.istio.io/view/gs/istio-prow/logs/integ-k8s-116_istio_postsubmit/3998

cc @ostromart @richardwxn

[2020-10-27 17:27] howardjohn commented on #28326
likely passes in presubmit but not postsubmit since we run all the jobs together; the operator test probably is colliding with others

[2020-10-27 17:42] shadiramadan commented on #4693
From Istio's Slack:

[2020-10-27 17:49] #28092 closed

[2020-10-27 18:04] PatrickDuncan commented on #10659
Hey, I had trouble with a Zookeeper StatefulSet configuration when I applied mesh-wide strict mTLS. [This](https://istio.io/latest/faq/security/#mysql-with-mtls) fixed it.
[code]

[2020-10-27 18:18] nataraj24 commented on #27727
Hi @howardjohn

Let me know which configuration dump you are looking for I will generate the same and share it with you.

If you send http request from browser or using curl command both fails.  It won’t reach application service.

 If  you edit the ingress gateway svc port and give same value then it will go through

[2020-10-27 19:02] istio-testing opened #28328 "[release-1.8] Add grafana templating query for DS_PROMETHEUS and add missing datasource"
Manual cherrypick required.

#28320 failed to apply on top of branch "release-1.8":
[code]

[2020-10-27 19:17] howardjohn opened #28333 "order dependent test failures in CNI"
The following tests fail if run standalone:
[code]

for example, `go test ./cni/cmd/istio-cni -run '^TestCmdAddTwoContainers$' -v`

Seem to rely on global shared state

[2020-10-27 19:51] amoskyler commented on #26413
I am also seeing this exact error. My cluster is deployed kops, Kubernetes 1.18.9.

The API server is configured per istio documentation on kops platform

[code]

Third party JTW tokens are enabled (output from my cluster):
[code]

I am seeing the same logs serverca logs mentioned in https://github.com/istio/istio/issues/23879

[code]

The gateway pod spec has the expected istio-token configuratio

[2020-10-27 20:52] Monkeyanator commented on #27751
Fixed in #28279

[2020-10-27 20:52] #27751 closed

[2020-10-27 21:31] #28071 closed

[2020-10-27 21:37] howardjohn commented on #28310
@jbrongtr I am too surprised the node port changes as I think this is a known bug fixed by #27924. I would be surprised if the HPA of Istiod is somehow impacting the node port of ingress, that seems odd. Does this issue still occur if you remove the HPA?

I am fuzzy on the details but @richardwxn probably knows more

[2020-10-27 21:38] #25512 closed

[2020-10-27 21:44] howardjohn commented on #28313
Thanks for the suggestion. It does seem like it could be potentially useful for some scenarios.

I was wondering, in this setup, how/where do you expect the user to store their certificates?

---

HA proxy docs: http://cbonte.github.io/haproxy-dconv/configuration-1.5.html#5.1-crt

If no match, use the first cert. It doesn't specify what happens on conflicting certs (two foo.com, or a `a.foo.com` a

[2020-10-27 22:36] DovilasK commented on #26656
Hi, i also got the same issue. Running on GKE:

Rule:

`apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
    name: argo-acl
    namespace: argocd
spec:
    action: DENY
    rules:
        - from:
              - source:
                    ipBlocks: ["78.56.22.31"]`

Ingress logs:

`[2020-10-27T22:33:53.976Z] "HEAD / HTTP/1.1" 200 - "-" "-" 0 0 2 1 "78.56.22.31, 34.98.113.

[2020-10-27 23:23] #28328 closed

[2020-10-27 23:24] #25685 closed

[2020-10-27 23:47] jwendell commented on #28287
so, what's the decision? 1.7.4 is good to go?

[2020-10-28 00:16] ankitpatel96 commented on #28302
Yeah i managed to get this working by doing something like this horrifying blob:
[code]

This might be improved by https://github.com/istio/istio/pull/26289?  Trying to upgrade to 1.7 soon to find out
https://github.com/istio/istio/issues/27188 says I can use -1 to append which is really what I want.

Honestly it would be nice if istio just provided first class support for this...

[2020-10-28 01:36] daixiang0 commented on #28040
@howardjohn hi, i would like to do this, and i find that there are lots of ports to listen, is there a plan about it?

Or only need to implement GRPC server?

[2020-10-28 01:42] howardjohn commented on #28040
We should add here: https://github.com/istio/istio/blob/4e465fc12484a74fe26383eca726f48c34d35363/pilot/cmd/pilot-agent/status/server.go#L202 on port 15020. I think @carolynhu may be working on it already possibly

[2020-10-28 01:45] carolynhu commented on #28040
@daixiang0 I'm recently working on dashboard related stuff, haven't got a chance to look into much more about this. Sure, if you'd like to work on this ticket, I'm going to assign this to you. thanks.

[2020-10-28 02:01] daixiang0 commented on #28040
@carolynhu i will do this :)

[2020-10-28 02:06] #28186 closed

[2020-10-28 02:07] hzxuzhonghu opened #28341 "TestAgent/agentProxy race"
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/28298/unit-tests_istio/23391

[2020-10-28 02:59] howardjohn commented on #25587
Fixed by #28261

[2020-10-28 02:59] #25587 closed

[2020-10-28 02:59] howardjohn commented on #23983
https://github.com/istio/istio/issues/10533 is blocking

[2020-10-28 03:02] howardjohn commented on #27259
Fixed by https://github.com/istio/istio/pull/28132

[2020-10-28 03:02] #27259 closed

[2020-10-28 03:03] howardjohn commented on #27163
ping, any more info?

[2020-10-28 03:06] howardjohn commented on #27464
@javadebo we cannot fix this without the logs from the failure, are you able to provide them?

[2020-10-28 03:12] #28208 closed

[2020-10-28 03:24] howardjohn commented on #27946
@Monkeyanator I think you were either looking at this bug or this is very similar to what you were looking at?

[2020-10-28 03:24] kenerwin88 commented on #25325
This is still an issue, and a blocker for using Istio in multi cluster environments on AWS.

[2020-10-28 03:26] howardjohn commented on #27211
Will close in favor of https://github.com/istio/istio/issues/22443 which is also marked as release blocker

[2020-10-28 03:26] howardjohn commented on #22443
we need to backport https://github.com/envoyproxy/envoy/pull/13344, and Ithink now requires runtime flag to enable

[2020-10-28 03:30] howardjohn commented on #27991
Yep! The new doc https://preliminary.istio.io/latest/docs/ops/configuration/traffic-management/tls-configuration/ may explain this a bit better

[2020-10-28 03:30] #27991 closed

[2020-10-28 03:41] johnzheng1975 commented on #27576
Will do, thanks.

[2020-10-28 03:41] #27576 closed

[2020-10-28 05:42] jfreeland commented on #26872
I can confirm I'm seeing this same issue.

[2020-10-28 06:13] richardwxn commented on #28287
Did more investigation with @lambdai with profiling and running more tests on other clusters but didn't see similar situation. Ingress mem usage on another 1.7 cluster and master cluster is normal. Another observation is that the memory usage value is really unstable in this cluster and seems not related to QPS size as well(adjusted the QPS or even created some random 500 errors but mem size didn'

[2020-10-28 06:24] #28284 closed

[2020-10-28 06:37] istio-testing opened #28348 "[release-1.8] Xds proxy improve"
Manual cherrypick required.

#28307 failed to apply on top of branch "release-1.8":
[code]

[2020-10-28 06:55] #28341 closed

[2020-10-28 07:10] daixiang0 commented on #28053
@howardjohn do you mean add related config in `common/scripts/kind_provisioner.sh`?

[2020-10-28 07:13] jfreeland commented on #26872
do you have healthy pods for the service in each zone that you have an NLB ENI?  are you consistently seeing the timeouts to one NLB IP?

[2020-10-28 07:26] krackjack29 commented on #27163
Hi @howardjohn apologies for not replying earlier. The issue was with duplicate service entries with different protocols for the same host.

We are in a multitenant environment where the cluster admins were adding service entries directly to the namespaces using GitOps and were not using exportTo functionality, by default the service entries were applicable to all namespaces and they had no idea t

[2020-10-28 07:26] #27163 closed

[2020-10-28 07:29] Stono commented on #24370
@howardjohn please can we reopen this as it's still a valid concern, in my opinion a security one as it leaves the sidecar open to overflow attacks

[2020-10-28 09:16] achilles-git commented on #28313
can we store data in etcd or in a PersistentVolume?

ideally when you have `a.foo.com` and `*.foo.com` it should prioritise `a.foo.com`.

[2020-10-28 09:43] #25530 closed

[2020-10-28 10:06] #28005 closed

[2020-10-28 11:17] pretendhigh opened #28359 "lstioctl ps error: unable to find any pilot instances"
I have installed istio when I was installing kubeflow.
My kubeflow is version 1.1.0. I don't know which istio version the kubeflow use. I just get the image of istio-pilot.   The stio-pilot image is gcr.io/istio-release/pilot:release-1.3-latest-daily.
I download  [istio1.7.3](https://github.com/istio/istio/releases/download/1.7.3/istioctl-1.7.3-linux-amd64.tar.gz) . uncompress the file, and move i

[2020-10-28 12:00] medkbadri opened #28360 "make istio injector fsGroup configurable"
**Describe the feature request**

**Describe alternatives you've considered**

[ ] Docs
[ X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Additional context**

**Describe the feature request**
Hello,

Currently, the istio injector webhook always injects 1337 as fsGroup

[2020-10-28 12:02] pretendhigh opened #28361 "istio-nodeagent failed to get secret for proxy sidecar from secret cache: failed to get root cert"
kubeflow 1.1.0
pod istio-nodeagent-br5j5 image: gcr.io/istio-release/node-agent-k8s:release-1.3-latest-daily
centos7.6

When I start a deploy x-0, sidecar istio-proxy will not be ready.
[code]
I try to get the logs of the istio-nodeagent on the same kubelet node with x-0
[code]
It seems that only the node with x-0 pod has the problem. Pod distributed to other node work fine.

[2020-10-28 12:51] jwendell commented on #28287
Awesome, thanks!

[2020-10-28 13:53] jurschel commented on #26990
@nmittler Do you have any idea what the solution to this problem might be short of wholesale upgrade? We are on the same version 1.4.6 in a multi-network, multi-cluster replicated control plane single mesh deployment and we can clearly provide logging that shows istio-coredns-plugin fails to resolve .global addresses sometimes and then nanoseconds later they resolve.  This results in 503 UC for my

[2020-10-28 14:04] gmemcc commented on #23369
@hzxuzhonghu  replying packet from workload has been sent out of the network namespace through eth0.

To ensure correct routing, we can use CONNMARK:
[code]
and, to prevent infinite redirecting, additional rule is required:
[code]
I will submit a PR later

[2020-10-28 14:29] brian-avery commented on #28276
We have some limited formatting on the release notes (valid action, formatting is correct, etc). We might be able to use more. Specifically in the case of issues being provided/not provided, we don't currently have a requirement in Istio that all pull requests need an associated issue, so we don't require it on the release notes. Perhaps that's a requirement that we should revisit at least for use

[2020-10-28 14:33] howardjohn commented on #28326
also broken in 1.8 by https://github.com/istio/istio/pull/28300 cc @istio/release-managers-1-8

[2020-10-28 14:46] nak3 opened #28364 "Set dynamically cluster domain parameter instead of using values.global.proxy"
**Describe the feature request**

- `istioctl` installation asks us to set `values.global.proxy` if the default domain `cluster.local` was changed.
- But it is troublesome when we want to run CI with random suffix. We need to update `values.global.proxy` by `sed` command every time.

**Describe alternatives you've considered**

- For example, Knative gets the cluster domain from `/etc/resolv.conf`

[2020-10-28 14:56] howardjohn commented on #28313
Currently we support reading files or Secrets. So we could read secrets but we would need some way to identify which ones we care about. For PV that would work, just requires a bit of setup

[2020-10-28 14:58] Monkeyanator commented on #27946
I was looking into this but having trouble reproing locally (running just `IP_FAMILY=ipv6 prow/integ-suite-kind.sh test.integration.pilot.kube` gave test failures on my setup). I also couldn't find from looking around this issue and related ones how to enable EndpointSlice for the test setup?

[2020-10-28 15:00] howardjohn commented on #28053
Yes. The hard part will be making all the tests pass I would imagine :slightly_smiling_face:

[2020-10-28 15:04] #28325 closed

[2020-10-28 15:07] howardjohn commented on #24370
Agreed

[2020-10-28 15:07] howardjohn commented on #24370
https://github.com/istio/istio/issues/27423 is related

[2020-10-28 15:25] achilles-git commented on #28313
what kind of setup are we talking here?

[2020-10-28 15:59] howardjohn commented on #28364
In general I am very in favor of doing it dynamically, but its not trivial.

https://github.com/istio/istio/pull/11878 attempted this previously, we did not think it handled all cases. Aside from custom /etc/resolv.conf cases, often times the control plane is not running in the same cluster

This is not portable across all clusters

It seems feasible to make the it dynamic by default and then stil

[2020-10-28 16:01] howardjohn commented on #28359
istioctl 1.7 is not compatible with Istio 1.3. You will need to use the same version of both

[2020-10-28 16:02] howardjohn commented on #28360
I am not sure what you expect to set this to. If you set it to anything else it will break Istio?

Note this CAN be disabled: https://github.com/istio/istio/blob/master/pkg/kube/inject/webhook.go#L681 but it will fail unless you are on Kubernetes 1.19

[2020-10-28 16:06] nrjpoddar opened #28367 "Security FAQs are inaccurate and contains deprecated configurations"
**Bug description**

The [Security FAQ](https://istio.io/latest/faq/security/) contains answers which are no longer valid as the community has moved on to SDS instead of Citadel but the FAQ still refers to [Citadel options](https://istio.io/latest/faq/security/#cert-lifetime-config).

[x] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[x] Security

[2020-10-28 16:08] howardjohn commented on #28361
Istio 1.3 has not been supported for quite a while, so we are not able to help with this issue. Supported versions do not even have istio-nodeagent so this bug will not exist in the current code.

See https://istio.io/latest/news/support/announcing-1.3-eol-final/ for more info, thanks!

[2020-10-28 16:08] #28361 closed

[2020-10-28 16:09] #28333 closed

[2020-10-28 16:41] istio-testing opened #28368 "[release-1.6] optimize memory usage (#25531)"
Manual cherrypick required.

#25532 failed to apply on top of branch "release-1.6":
[code]

[2020-10-28 17:09] medkbadri commented on #28360
it won't hurt Istio as the new fsGroup will be added to the container groups and /var/run/secrets/kubernetes.io/serviceaccount will have the new group.

[code]
[code]

**1001** is my new fsGroup

I expect istio not to change my containers fsGroup and unfortunately eks still doesn't have 1.19 version

[2020-10-28 17:11] howardjohn commented on #28360
we are not reading `/var/run/secrets/kubernetes.io/serviceaccount`, we read the projected token mount in `/var/run/secrets/tokens/istio-token`. From what i have seen removing the field entirely definitely breaks things (unless on k8s 1.19), are you saying if we set it to non 1337 it is somehow working?

[2020-10-28 17:33] howardjohn commented on #28247
@bianpengyuan do we need this?

[2020-10-28 17:34] #27810 closed

[2020-10-28 17:34] #27808 closed

[2020-10-28 17:34] laballab opened #28370 "VirtualService retries on Broken Pipe"
Hi,

We are implementing network resiliency in our cluster, in the case of a node going down we need to retry the request. We are attempting to leverage [Istio virtual-services HTTPRetry](https://istio.io/latest/docs/reference/config/networking/virtual-service/#HTTPRetry) to achieve this, however there's a common error we're seeing that this isn't able to handle: `broken-pipe`

**Describe the feat

[2020-10-28 17:34] ruigulala opened #28371 "Integration tests assumes some folder structure"
**Bug description**
Without setting REPO_ROOT, Integration tests assumes some folder structure when you run it.
The tests will fail with the following error if this implicit requirement is not satisfied.
[code]

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[X] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**

[2020-10-28 17:39] medkbadri commented on #28360
I say not to remove the fsGroup (as it will fail because of non root permissions),  but to make it configurable as it will work with any fsGroup. With the actual behavior, we're forced to change many file permissions to tolerate the istio fsGroup.

[2020-10-28 17:42] Stono opened #28372 "Validation config errors when enabling the validation webhook"
**Bug description**
Hi,
We're attempting to enable the validation config webhook.  This should have been an non-event for us as we've been using `istioctl validate -f` in our pipelines for months.

However once enabled we were a alerted to a failure in `apiserver_admission_webhook_admission_duration_seconds_count`.

Looking into the `istiod` logs we see a single line:
[code]

But no context.

It s

[2020-10-28 17:44] aattuluri commented on #25898
@iandyh Were you able to figure it out? Also can you please share the working configuration you had for 1.6.x?, I am trying to set it up for 1.6.12, no success yet.

[2020-10-28 17:50] howardjohn commented on #23029
[code]

debug logs on knative 503 UH. We get a single 503 UH amongst 2kqps of 200s all to the same backend.

It is always directly correlated to an XDS push which changes the service account

[2020-10-28 17:51] howardjohn commented on #23029
[code]

xds push from above

[2020-10-28 17:56] howardjohn commented on #28372
How the webhook works is it doesn't enable itself (fail open) until it successfully blocks an invalid config. This was to avoid a constant struggle to reliable determine when to apply the webhook to avoid failures. It doesn't log on master though, I am not sure why it does here, will dig into it. But tl;dr is it should be a logging/monitoring bug

[2020-10-28 18:00] ruigulala opened #28373 "Tests use unreliable label to locate istiod pod"
**Bug description**
Tests fail if we uses a self-provisioned install with revision. The tests explicitly look for label "istio=pilot" when locating the control plane. However, a revision install will use "istio=istiod" instead.
https://github.com/istio/istio/blob/844b7aa92a9feaa222e0610159e48b81226d374c/manifests/charts/istio-control/istio-discovery/templates/deployment.yaml#L42
https://github.com

[2020-10-28 18:10] amoskyler commented on #26413
After some investigation I was able to get something to work! I haven't dug into _why_ this is causing the JWT authentication failure, but I can show what is happening on the kubeapi configuration side.

Setting this in the kops cluster config:
[code]

Generates a kube-apiserver configuration with the following arguments
[code]
Notice, kops appears to be injecting a second `--service-account-key-f

[2020-10-28 18:17] Stono commented on #28372
Is this a one time operation when `istiod` starts, or periodic?

I ask as naturally we alert on rejected webhooks:

<img width="646" alt="Screenshot 2020-10-28 at 18 17 11" src="https://user-images.githubusercontent.com/1486729/97479142-d0200b00-1949-11eb-83cf-0920bf07eda4.png">

[2020-10-28 18:18] gargnupur opened #28374 "Use federated prometheus instance for multicluster telemetry tests"
**Describe the feature request**
Currently, in multicluster telemetry tests, we install one local prometheus per cluster which is as par the guidance at https://istio.io/latest/docs/ops/configuration/telemetry/monitoring-multicluster-prometheus/. But we just collect results from each prom individually to validate telemetry. To mimic production for cross-cluster monitoring we should have a mesh wid

[2020-10-28 18:23] howardjohn commented on #28372
it should be once when starting the controller, which is generally once when istiod starts unless it loses leader election (could be temporary api server outage) which would restart it

[2020-10-28 18:28] Stono commented on #28372
If the purpose of this is to ensure that the controller gets an `Admission` event, you don't actually need to reject it, right?

If the controller receives your (obviously test) event, at that point you know the webhook is working - you could just not reject the bad config in that scenario and then switch to fail closed?

[2020-10-28 18:30] howardjohn commented on #28372
This is actually not fixed on master like I previously suggested

[2020-10-28 18:38] abhassine opened #28375 "Error Deploying Istio with HELM v3"
Hello @hickeyma Martin

When I tried to deploy Istio using Helm v3 following the [read me](https://github.com/istio/istio/blob/master/manifests/charts/README-helm3.md) I get the following `Error: create: failed to create: Request entity too large: limit is 3145728`

Context: I'm deploying on EKS v1.17

Thank you by advance

[2020-10-28 18:40] ericvn commented on #28213
I believe the issue here is that the user is trying to run the tests directly in the MacOS environment which has a very downlevel version of the envoy binary. One should run the tests in the build environment. The enter the build environment, run `make shell`. You will then be at the command prompt in the build environment in the /work directory (this directory maps to the istio/istio directory. F

[2020-10-28 18:40] #28213 closed

[2020-10-28 18:41] Stono commented on #21183
Hey @howardjohn is there an issue tracking fixing this in 1.7?
Our proxy logs are filled with:

[code]

[2020-10-28 18:46] howardjohn commented on #21183
There is a reason we disabled the warning:misc logs by default :slightly_smiling_face:. There is a tracking issue and its being actively worked on but its a massive endeavor: https://github.com/istio/istio/issues/10533

[2020-10-28 18:56] ostromart opened #28376 "Overlay with regex in IstioOperator"
Injection template is a large block of YAML-like text which cannot be treated as YAML when overlaying (it's a template, not valid YAML). For use cases like these, a regex based replacement is required.

[2020-10-28 19:03] ericvn commented on #28117
Do we also want to specify --pull so we always try to pull a newer version of the images as well?

--no-cache Do not use cache when building the image
--pull           Always attempt to pull a newer version of the image

[2020-10-28 19:03] howardjohn commented on #28372
I am actually not sure how to do this. I wrote up what you suggested (in branch validation/no-fail) but then realized it will not work since the admission request can be handled by any Istiod instance. If we send a valid one, we cannot distinguish between "Created and went through webhook" or "created and did not go through webhook". The current mechanism works because we look at the error we get

[2020-10-28 19:04] howardjohn commented on #28117
I don't know what the difference is. quick search from https://pythonspeed.com/articles/docker-cache-insecure-images/#:~:text=Disabling%20caching&text=%2D%2Dpull%20%3A%20This%20pulls%20the,relying%20on%20the%20layer%20cache suggests both but without explaination