[2018-07-04 19:12] sdaschner commented on #5324
Apparently this has been resolved in the mean time, the deployment manager installation works again for me, using a newer version now.

Maybe others can confirm?

However, if I want a newer Istio version, such as `0.8`, I still need to use helm for GCP for now...

[2018-07-04 19:12] #5324 closed

[2018-07-04 19:16] venilnoronha commented on #5379
Ran into the same issue:

[code]

It seems like that error causes the `ingressgateway` and `egressgateway` to stop. Does anyone know what exactly the problem might be?

[2018-07-04 19:20] akshaymankar commented on #6700
@sdake I can understand. I will submit a PR, it should be a small one. Hopefully it can be merged in the earliest release.

[2018-07-04 20:20] KresoDenis commented on #6558
This is really weird since 0.8.0. I have similar issues. Sometimes i can make it work other times when i want to recreate and follow tutorial it wont work. Looks like something breaks the rules. Any details on how to debug this.

[2018-07-04 21:29] costinm commented on #6847
Also - the response time on the second run (with 400 ms) suggests you either have access log enabled or don't have enough CPU for the sidecar. I typically see 90% at 5-6 ms, under 500qps.

Access log has an impact on performance - normally mixer can generate access log from the reports, printing it to /dev/stdout is not ideal.

[2018-07-04 21:34] quanjielin commented on #6828
yes RabbitMQ didn't crash with mTLS disabled, the issue repro using latest master build as well, removed readiness and liveness probe(mentioned https://github.com/istio/istio/issues/5989 doesn't help in my env)

still looking, meanwhile + @ymesika  @aneslozo who may have more context from https://github.com/istio/istio/issues/5989

[2018-07-04 21:43] costinm commented on #6613
Better option:

 v1beta1.networking.istio.io/v1

which allow us to evolve without having to wait for k8s 1.11 to be our required min. version.

Next will be
  v1beta2.networking.istio.io/v1
  ...
  v1.networking.istio.io/v1
  v2alpha1.networking.istio.io/v2
etc

[2018-07-04 22:16] gyliu513 commented on #6847
@ThanosAndLichKing please also append your YAML templates for all of the test applications including 0.7.1 and 0.8.0

[2018-07-04 22:45] rshriram commented on #6613
I like the prefix part v1beta1.networking.istio.io/v1

But we still have to support networking.istio.io/v1alpha3 for 0.8.. if someone can guarantee that we can register both crds simultaneously, then the amount of work required is minimal. We can let people use old and new formats without any issues for 1.0

[2018-07-04 22:53] costinm commented on #6613
Yes, I can guarantee we can register and support both - we did it for
alpha1 and alpha2. As long as the group name is different
registration is fine. Tested that I can register the new resource.

Work required:
- copy the API to beta1 directory
- add the CRDs
- add code to read the new beta1 - cut&pasted from alpha3, the content is
the same
- update the samples and docs to use v1beta1.networking..

[2018-07-05 00:02] nixgadget commented on #5379
Ive come across the same issue as @venilnoronha.

[2018-07-05 00:33] rshriram commented on #6613
@geeknoid thoughts ?

[2018-07-05 00:44] rshriram commented on #5992
Yeah. You are out of luck for tcp. Communication should work. Warnings - ignore. Metrics - unfortunately you can’t get metrics for each service when multiple different headless tcp services share same port.

[2018-07-05 00:59] KresoDenis commented on #6558
Sorry for hijiackig topic. But aftera 2 days of debugging i found my issue.

I didnt want to cotroll egress rules for external website calls from pods so i added only pods_subnet to includeOutboundIPRanges. Technically packets were not checked because i didn't add service_addresses subnet to includeOutboundIPRanges. Everything worked but packet sent to other services were not checked by istio-prox

[2018-07-05 01:21] F21 commented on #6803
Seeing the same issue with minikube 0.27 on Windows 10.

[code]

[2018-07-05 02:12] crowfrog commented on #6811
@loewenstein Thx for your response.
If DNS is required, I am confusing on how to use ServiceEntry.Resolution and ServiceEntry.endpoints?
I mean, for example, if DNS resovle foo.bar.com to 1.1.1.1 and I define endpoints (2.2.2.2, 3.3.3.3) in ServiceEntry. Which one should be used to deliver?

[2018-07-05 02:13] morvencao commented on #6847
@ThanosAndLichKing I think you have test istio 0.8.0 with proxyv2, do you set any CPU or memory limits to sidecar container?

[2018-07-05 04:05] nixgadget commented on #5379
After recreating the Calico CNI everything started resolving. I have a suspicion it was mainly due to missing rbac configuration.

[2018-07-05 06:52] Stono commented on #5992
Right, so just to be clear what you're saying is that you accept there is a problem but you've no intention of addressing it?

[2018-07-05 07:10] zxDiscovery commented on #6847
@costinm  Yes, I try with 0.8 v2 APIs and proxy_v2.  Access log is enable in both version of istio.  I didn't set any CPU or memory limits to sidecar container.

[2018-07-05 07:18] ldemailly commented on #6847
the pr for v2 hasn’t been merged yet as far as I know - @rkpagadala ?

screenshot are nice but can you attach the json too?
thanks

[2018-07-05 07:19] #4692 closed

[2018-07-05 07:28] zxDiscovery commented on #6847
0.7.1  perf_k8svcs_istio.yaml

[code]

[2018-07-05 07:29] zxDiscovery commented on #6847
0.8.0 yaml

[code]

[2018-07-05 07:40] zxDiscovery commented on #6847
[code]

[2018-07-05 07:42] zxDiscovery commented on #6847
[code]

[2018-07-05 07:43] zxDiscovery commented on #6847
[code]

[2018-07-05 07:43] zxDiscovery commented on #6847
[code]

[2018-07-05 07:45] zxDiscovery commented on #6847
[code]

[2018-07-05 07:46] zxDiscovery commented on #6847
[code]

[2018-07-05 07:46] zxDiscovery commented on #6847
[code]

[2018-07-05 07:47] zxDiscovery commented on #6847
[code]

[2018-07-05 07:55] zxDiscovery commented on #6847
@ldemailly  @costinm  Sorry, the API is v1alpha3 and proxy is proxy_v2.

[2018-07-05 08:03] zxDiscovery commented on #6847
JSON file as follows:

[2018-07-04-085430_istio0_7_1_VM_to_S1_max_30.json.txt](https://github.com/istio/istio/files/2165526/2018-07-04-085430_istio0_7_1_VM_to_S1_max_30.json.txt)
[2018-07-03-054502_istio0_8_0_VM_to_S1_max_30.json.txt](https://github.com/istio/istio/files/2165534/2018-07-03-054502_istio0_8_0_VM_to_S1_max_30.json.txt)
[2018-07-04-120156_istio0_7_1_VM_to_S2_400_30s.json.txt](https://

[2018-07-05 08:07] zxDiscovery commented on #6847
istio0.7.1 yaml file:
[perf_k8svcs_istio.yaml.txt](https://github.com/istio/istio/files/2165569/perf_k8svcs_istio.yaml.txt)
[perf_k8svcs.yaml.txt](https://github.com/istio/istio/files/2165570/perf_k8svcs.yaml.txt)

istio0.8.0 yaml file
[code]

[2018-07-05 08:21] morvencao opened #6855 "Istio envoy sidecar containers don't work as expect on `elk` stack"
I want to trace traffic for a complicated management services(logging), which contains `kubernetes daemonset` `kubernetes statefulset` and `kubernetes deployment`, `kubernetes services`.
Take logging service with `elk` stack as example:

![logging](https://user-images.githubusercontent.com/5468682/42303069-a99452d6-8051-11e8-998d-aab095343485.png)

As you can see from the diagram above, in mu clus

[2018-07-05 08:48] irisdingbj commented on #6846
I have tried the "istioctl kube-inject -f xxx.yaml", within the xxx.yaml I have defined liveness probe as well. The output is correct the liveness probe is still there in the output.

I am on version 0.8, so you might want to upgrade to newer istio version to have a try.

[2018-07-05 09:01] PureWhiteWu commented on #6841
I found this in the auto-injector:
[code]

[2018-07-05 09:15] typedefstructer commented on #6846
@irisdingbj if you dont mind can you test it in 0.7.1 and confirm it, so that we can be sure its nothing else

[2018-07-05 09:21] axel7born opened #6856 "Test description "Control Egress TCP Traffic" uses deprecated api."
**Describe the bug**
The test description of ["Control Egress TCP Traffic"](https://preliminary.istio.io/blog/2018/egress-tcp/)  on the Istio 1.0 Community Testing sheet uses deprecated api for route rules.
E.g. the description points to the file [samples/bookinfo/kube/route-rule-ratings-mysql.yaml](https://raw.githubusercontent.com/istio/istio/master/samples/bookinfo/kube/route-rule-ratings-mysql

[2018-07-05 09:24] thangchung commented on #6841
I got the same. How could you fix it after you found out that `Neither --kubeconfig nor --master was specified`?

[2018-07-05 09:28] PureWhiteWu commented on #6841
Same problem on clean kubernetes cluster setup by kubeadm on aws ec2.

[2018-07-05 09:35] irisdingbj commented on #6846
./istioctl kube-inject -f Issue6846/livenessprobe-deploymment.yaml -o 6846.txt --includeIPRanges=100.0.0.1/24
Flag --includeIPRanges has been deprecated, Use --injectConfigMapName or --injectConfigFile instead

@typedefstructer see above.

[2018-07-05 10:21] markns commented on #6470
I also ran into this with the following helm install command:

[code]
However, in my case the istio-mixer-post-install job never completed, and the helm install command timed out.

[code]

There were also no logs at all in the istio-mixer-post-install pod.

1.10.4-gke.2

[2018-07-05 11:03] markns opened #6857 "1.0.0-snapshot.0 HTTPS requests fail with SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol"
**Describe the bug**
Using 1.10.4-gke.2 and Istio 1.0.0-snapshot.0, HTTPS requests via Ingress gateway fail with `curl: (35) error:140770FC:SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol`

**Expected behavior**
HTTPS requests should succeed

**Steps to reproduce the bug**

- Create new 1.10.4-gke.2 cluster
- kc create namespace istio-system
- helm template --name istio install/kubernetes/hel

[2018-07-05 12:55] markns commented on #6857
Tested with my own build from release-1.0 (b6d1e192d1f39b957fa9b4dd71aa746f0996503a) - everything works again. I guess I'll be waiting for a new RC then :)

Please close this issue if you wish.

[2018-07-05 14:14] KresoDenis opened #6860 "Timeouts works in beetween 3 components, but not when chaines"
**Describe the bug**
INGRESS > PUBLICSERVICE  (Timeout 60 works)
PUBLICSERVICE > BACKENDSERVICE (Timeout 60 works)
but
INGRESS > PUBLICSERVICE > BACKENDSERVICE (i get timeout after default 15seconds)

**Expected behavior**
i expect the timeout to be set for 60s throught all flow. Testing timeouts inbetwen each other works

**Steps to reproduce the bug**
contact the backend via publicapi with delay

[2018-07-05 14:28] KresoDenis commented on #6860
One additional information. If i lower the timeout to 1s on gateway>public or public>backend it works. It will timeout after 1 second. So rule actually works.

It looks like the is additional envoy inbetween them with default timeout

INGRESS > PUBLICSERVICE  > SOME ENVOY  WITH 15s DEFAULT > BACKENDSERVICE

I have destination rules and virtualservices for publicapi (w gateway) and backend.

[2018-07-05 14:31] KresoDenis opened #6861 "Set default envoy timeout/retry/etc instead of using lots of virtualservices/destination rules"
**Is your feature request related to a problem? Please describe.**
https://github.com/istio/istio/issues/6860
Even without this issue, this feature would be nice to have

**Describe the solution you'd like**
I would like to pass to all envoys to use default timeout of 60s

**Describe alternatives you've considered**
setting a lots of timeouts inbetween services

**Additional context**
Set default

[2018-07-05 16:07] jovizhangwei opened #6863 "Is it possible to use istio in two k8s clusters?"
Hi,

I installed istio (kubectl apply -f istio-demo.yaml) in one k8s cluster, and then setup internal load balancer for pilot service. I then tried to start service in second k8s cluster(kubectl apply helloworld-istio.yaml), the pod running in second cluster already be injected with istio-proxy, and use discovery address of pilot internal load balancer.

I'm not sure if this could works as expecte

[2018-07-05 16:21] c-knowles opened #6864 "Support existing JSON log flags in Helm chart"
**Is your feature request related to a problem? Please describe.**

Most of the deployments in the Helm chart use console-friendly format logs with no option to turn on the `--log_as_json` flag. Turning on this flag helps log ingestion where the logging backend supports JSON for indexing.

**Describe the solution you'd like**

JSON log option supported in the Helm chart. Perhaps other log flags as

[2018-07-05 16:21] c-knowles commented on #6864
I'll likely submit a PR for this soon.

[2018-07-05 17:48] venilnoronha commented on #5379
@nixgadget thanks for the information. I'm running my k8s cluster on a bunch of VMs and that's when I'm hitting the issue.

Regarding the missing RBAC configuration, is it the istio RBAC that's misconfigured, or something else?

[2018-07-05 19:34] nixgadget commented on #5379
For me i think it was the missing RBAC in Calico CNI.

[2018-07-05 19:55] venilnoronha commented on #5379
@nixgadget I see. For me, it's the same with flannel & weave net.

[2018-07-05 20:01] arianmotamedi commented on #6786
I posted the envoy cluster spec for one of our services above in my first post. so the idea here is that calls to `my-service` will load `/certs/client.pem` before sending the request to the upstream cluster, and so each caller will have its own `client.pem` file specific to itself. So maybe I'm confused about how Istio does this and what I'm looking for is in fact supported. From https://istio.io

[2018-07-05 20:59] #6558 closed

[2018-07-05 21:04] rshriram commented on #5992
I would love to address it if there is a way. There is currently no way to address this problem in a scalable fashion, short of adding few hundred envoy listeners (one per pod+port in the headless service). At that point, performance will severely degrade and other things will become unstable.

[2018-07-05 21:13] quanjielin commented on #6786
DestinationRule is for client side setting(in your example cert should be loaded from foo's container); btw for mTLS, [authN policy](https://istio.io/docs/tasks/security/authn-policy/#enable-mutual-tls-for-all-services-in-a-namespace) is also needed which is for server side setting(right now authN policy only support cert/key generated by Istio).

[2018-07-05 21:14] rshriram commented on #6860
configs will help

[2018-07-05 21:16] rshriram commented on #6857
Thanks for the alarm and for turning off the alarm :)

[2018-07-05 21:16] #6857 closed

[2018-07-05 21:29] sdake commented on #6841
Which version of Istio are the reporters using?

The default helm chart ships with a tag which is invalid.

Try adding:

--set global.tag=0.8.0 (if using 0.8.0)

Cheers
-steve

[2018-07-05 22:04] xiang90 commented on #6717
@kyessenov

@rokii is right. Envoy failed to parse the config generated by the test. And then envoy process exited with an error.

Envoy version used by the test

[code]

configuration generated by the test

[code]

[2018-07-06 01:07] crowfrog opened #6872 "HTTP2 outbound traffic be converted to HTTP1 incorrectly when using egressgateway"
**Describe the bug**
I create egressgateway/serviceentry/virtualservice for HTTP2 outbound traffic.

[code]

When I send a HTTP2 GET request to "www.mytest.com:31490", I found the traffic is HTTP1 between test POD and egressgateway POD by wireshark capturing.
And the traffic between egressgateway POD and "www.mytest.com" is tcp stream and can be decoded as HTTP2.

ps: "www.mytest.com:31490" is my

[2018-07-06 02:28] #6863 closed

[2018-07-06 03:06] PureWhiteWu commented on #6841
@sdake 0.8.0
Where should I add the global.tag?

[2018-07-06 04:17] vadimeisenbergibm commented on #6676
Consider the documentation of Istio Egress:
1.  Create an `ServiceEntry` to allow access to an external HTTP service:

[code]

1.  Create an `ServiceEntry` to allow access to an external HTTPS service:

[code]

### Make requests to the external services

1.  Exec into the pod being used as the test source. For example,
    if you are using the sleep service, run the following commands:

[code]

1.

[2018-07-06 05:04] F21 commented on #4429
Are there still any plans to support liveness probes with mTLS enabled or is it a wontfix?

[2018-07-06 05:35] vadimeisenbergibm opened #6875 "Mixer report fails on TCP traffic with lookup failing on response.time"
**Describe the bug**
When using a TCP service in Istio, the following error appears in the logs:

[code]

**Expected behavior**
No error should appear in the logs, an stdio log message should appear instead.

**Steps to reproduce the bug**

1.
[code]

2. Use a $SOURCE_POD to send curl requests.

[code]

3. Check the logs:

[code]

**Version**
Istio: https://gcsweb.istio.io/gcs/istio-prerelease/dai

[2018-07-06 07:31] wansuiye commented on #3295
in istio 0.8, i met the same error, tiny percent request, the sidecar envoy returns 503, do not use any rule ,log is below:
[2018-07-06T06:11:12.983Z] "POST /api/ HTTP/1.1" 503 UC 16687 57 0 - "-" "Mozilla/5.0 (pc-x86_64-linux-gnu) Siege/4.0.4" "41344284-c914-9db1-a30a-983e74455227" "10.20.10.20:8888" "127.0.0.1:8888"

[2018-07-06 07:44] thangchung commented on #6841
@PureWhiteWu I also export with the helm template, and then manually injecting it using `istioctl`.

[2018-07-06 07:45] thangchung commented on #6841
@sdake I also use `0.8.0`, and it works, but needs to inject yaml file manually

[2018-07-06 07:47] PureWhiteWu commented on #6841
So I think there must be some problem with the auto-injector.

[2018-07-06 08:27] vadimeisenbergibm opened #6876 "filterChainMatch not set on a gateway with `*` hosts and a TLS virtual service with `sni_domains`."
**Describe the bug**
filterChainMatch not set on a gateway with `*` hosts and a TLS virtual service with `sni_domains`.

**Expected behavior**
If I define a gateway with hosts "*", and two TLS rules, one with sni_domains "www.google.com" and another one with sni_domains "edition.cnn.com", I expected two corresponding filterChains be configured.

**Steps to reproduce the bug**
Follow the steps in h

[2018-07-06 10:06] aslafy-z opened #6877 "Publish charts to (custom) helm repository"
**Is your feature request related to a problem? Please describe.**
I have to clone the istio git repository to deploy it with helm.

**Describe the solution you'd like**
Use a provided helm repository to ease it's installation.

**Describe alternatives you've considered**
I found some deprecated istio in helm repository hosted with github pages but nothing really usable.
I also seen this repo [inc

[2018-07-06 12:49] sdake commented on #6841
FWIW, that error `Neither --kubeconfig nor --master was specified. Using the inClusterConfig. This might not work.` is printed 100% of the time whether injection is working or not.

[2018-07-06 12:50] sdake commented on #6841
cc @ayj

[2018-07-06 12:52] sdake commented on #6841
missing from steps 1-5 in the description is the command

`kubectl label namespace default istio-injection=enabled`

This tells the sidecar injector to automatically inject any pods with the correct annotation in the namesapce `default` with the sidecar.

Can folks verify whether this is being done or not?

Thanks
-steve

[2018-07-06 13:20] Stono opened #6881 "EDS logging about services that no longer exist on the cluster"
I've noticed the following log messages in pilot discovery:

[code]

These services no longer exist on the cluster, so I'm wondering where this is coming from?

[2018-07-06 14:13] sdake commented on #6841
Well folks I'm out of ideas.  @ayj may be able to help.  Could possibly be an infrastructure problem.

[2018-07-06 14:30] ldemailly commented on #3295
UC means upstream connection error, is this log from the last envoy in the chain

[2018-07-06 15:40] aneslozo commented on #6828
@quanjielin It doesn't matter if I am using Istio with or without mTLS, I still have issue with RabbitMQ. If I uncomment livenessProbe and readinessProbe, it cannot start pod at all. If I comment them, it will start all 3 RabbitMQ pods, but I still have issue.

These three pods are not connected in cluster. Each of them are in standalone mode. Still looking what could block them to connect in clus

[2018-07-06 15:57] andraxylia commented on #3295
@wansuiye what application do you run?

Please see this comment, you may still see 503s if your app does not send HTTP close:

https://github.com/istio/istio/issues/3295#issuecomment-400789923

[2018-07-06 16:09] ijsnellf commented on #6876
Replicated with the following config:
[code]

The gateway implementation does not support this at all. This is the only place we set the SNI hosts when building listeners: https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/gateway.go#L414

[2018-07-06 16:29] rshriram commented on #6876
This is working as intended. The gateway's hosts go directly into filter chain match. Since you declared the gateway to be capable of accepting any host, the matches get mangled.
You should try to add the hosts in the gateway.

[2018-07-06 16:36] rootfs commented on #5379
I got the same problem with weave.

[2018-07-06 16:36] venilnoronha commented on #5379
`nslookup` fails to resolve `istio-statsd-prom-bridge` on that cluster:

[code]

However, on a healthy deployment it appears like so:

[code]

[2018-07-06 16:45] wattli commented on #6635
The current "multicluster" is to treat several clusters as one, I am not sure whether we want to go with this way in the long run, i.e., whether we need a control plane for each cluster or not. That's why I leave this issue for now.

[2018-07-06 16:47] vadimeisenbergibm commented on #6876
Trying:

[code]

Cleanup:
[code]

[2018-07-06 16:58] rshriram commented on #6872
Thanks for reporting the bug.. Fix is in https://github.com/istio/istio/pull/6887

[2018-07-06 17:08] vadimeisenbergibm commented on #6876
@rshriram Note the two TCP proxies in the ADS above. I guess Envoy will randomly select _www.google.com_ or _edition.cnn.com_ for either request. The TLS routing by `sni_hosts` must be implemented implemented by setting a different `filterChainMatch` per `VirtualService`, as it is done for the sidecar proxies. I do not see any other option.

[2018-07-06 17:12] vadimeisenbergibm commented on #6876
Testing the SNI routing without the egress gateway:

[code]

Cleanup:
[code]

[2018-07-06 17:21] rshriram commented on #5992
These are two different problems. This thread is about multiple headless services on same port. The problem and outage you reported is caused by *conflicting* services on same port (http and TCP). Please open a new issue with the bug report.

[2018-07-06 17:31] vadimeisenbergibm commented on #6876
@ijsnellf Note that two virtual services should be defined for setting two `filterChainMatch`es in the sidecar proxy.

[2018-07-06 17:37] Stono commented on #5992
@rshriram has it crossed your mind, even for one second that consumers of Istio, that don't always understand the internals of the code base, report issues based on their perception of the world and then rely on "the experts" to help them identify the root cause.

This issue details my experiences, and the logs I see.   And as I said early on in the issue, I **did** see a service outage then too b

[2018-07-06 17:45] rshriram commented on #5992
I certainly understand where you are coming from and the frustration you are going through. Sorry about the outage. To help other consumers like you with similar issues, scoping one issue to one problem is of great help. Especially when someone is searching for related issues. Feel free to report your findings here. I will open up new issues, so that we can refer to them in PRs. Thanks for the bug

[2018-07-06 17:50] arianmotamedi commented on #6786
Thanks @quanjielin. I tried enabling mtls using that link you provided:

[code]

It succeeded with `Created config policy/istio-test/mtls-policy at revision 3973093`, and then added a destination rule:

[code]

but now all calls to `my-app` return `upstream connect error or disconnect/reset before headers`. Is there anyway I can get envoy logs to see why this is happening?

[2018-07-06 18:14] costinm commented on #6259
I looked a bit into this - TPROXY does not use the redirect port, so the previously agreed solution doesn't work for that. I'm trying to fix TPROXY for 1.0 - it appears REDIRECT will not work for UDP (which we want to support), and most docs I found indicate TPROXY scales better and has less bugs than redirect.

I think we need to re-evaluate the implementation, given the goal of supporting firewa

[2018-07-06 18:21] rshriram commented on #5992
Looking closely at the problem, this conflict arises due to multiple protocols on same port with a wildcard listener. Even if we setup listeners on every service IP, the same problem will occur when there are two service entries with HTTP and TCP, pointing to two different services.
Put another way, the whole of Istio is built on the assumption of client-side load balancing, service discovery, etc

[2018-07-06 18:33] ayj commented on #6613
Non-standard group/versioning will make it difficult to do proper CRD versioning later with (k8s >= v1.11). Will we be stuck with this format forever, or switch to the strict `<group>/<version>` format later?

FWIW, it also violates our [API style guide](https://github.com/istio/api/blob/master/STYLE-GUIDE.md#crd-versioning).

[2018-07-06 18:36] sebastienvas commented on #6838
The setup is no different than 1.9. Did people try with alpha feature on on 1.10 ? I just created a PR to disable it in Boskos.

[2018-07-06 18:41] KresoDenis commented on #6860
public
`apiVersion: v1
kind: Service
metadata:
  name: publicapp
  labels:
    app: publicapp
spec:
  ports:
  - port: 3000
    name: http
  selector:
    app: publicapp
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: publicapp-v1
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: publicapp
        version: v1
    spec:
      containers:
      - name: pu

[2018-07-06 18:50] KresoDenis commented on #6860
Dont want to put my code here. So i recreaded issue based on bookinfo example with 3 components.
Public and backend.

backend has sleep 22 seconds and all timeouts on 60s. But it will still timeout after 15 seconds.
If you lower sleep to lets say 10 seconds it will work

Also timeout rules work because if you lower timeout to 1s on "myservice" or "backend" virtualservice. Curl will timeout after 1

[2018-07-06 19:00] KresoDenis commented on #6860
We have some rare request that sometimes lasts just about 15-20s and it causing us big problems.

I have tried a lot of thigs with different hosts. It looks like there is additional envoy in the chain of forwarding packets with default of 15s. Could it be istio-ingress node or am i just not understanding configs.

[2018-07-06 19:12] rshriram commented on #6860
Its definitely some envoy in middle not respecting the timeout due to conflicts with other flags envloy sets (x-envoy-upstream-request-timeout etc). Either that or we forgot to set this in some intermediary envoy. Debugging

[2018-07-06 19:18] rshriram commented on #6876
why 2? why not combine both in one virtual service?

[2018-07-06 19:19] quanjielin commented on #6786
sorry I didn't try customer key/cert scenario before, a few thoughts to debug
1. remote to ```istio-proxy``` container in client and server pod(ex cmdlet below), verify the certs exist and valid
```kubectl exec -it httpbin-68fbcdcfc7-6l69r -c istio-proxy -n foo -- /bin/bash```
2. get logs using  ```kubectl logs httpbin-68fbcdcfc7-6l69r -c istio-proxy -n foo```
3. take a step back, switch destinati

[2018-07-06 19:19] KresoDenis commented on #6860
i have additional information. The name of this issue is a bit misleading.

Because acctually even if i curl backend from publicapi it wont work.
```curl -v -w "%{http_code}\n" http://backend:4000```

Interestingly. I could make the curl if i put SLEEP to 0 on backend and add fault injection to backend service
[code]

So it works if i inject the delay from tutorial. But it wont work if there is ac

[2018-07-06 19:19] rshriram commented on #6876
can you combine this into one virtual service and see if it works? https://github.com/istio/istio/issues/6876#issuecomment-403087898

[2018-07-06 19:33] KresoDenis commented on #6860
Here is some interesting math that can point you in right direction:
If i put
SLEEP=999 (seconds on backend)
timeout: 60s (on backend virtual service)
fixedDelay: 20s (on backend virtual service)

curl -v -w "%{http_code}\n" http://backend:4000
will actually timeout on 35seconds. Weird.

And if i put 10 seconds lower on fixed delay.
SLEEP=999 (seconds on backend)
timeout: 60s (on backend service)

[2018-07-06 19:38] KresoDenis commented on #6860
i renamed the issue since on initial bug describe i said timeout between components work. But actually only when using fault delay injection. When using real delay (in app sleep) it doesnt work.

[2018-07-06 19:46] KresoDenis commented on #6860
I have also created new feature request that could also potentially solve my problems by passing default timeout to all envoys. And having same timeouts for my all istio apps.
https://github.com/istio/istio/issues/6861

[2018-07-06 19:57] frankbu commented on #6860
The fact that the actual delay is "timeout + fixedDelay" is correct, because when you make the call, envoy will wait for the fixedDelay and then call the backend, which will timeout in 15s by default. If I understand correctly, the only problem is that when you set a timeout >15s it uses 15s. Lower timeout values <15s work as expected. Is that still what you are seeing?

[2018-07-06 20:02] frankbu commented on #6860
btw, do you realize that this VS:
[code]
is not used in your example, because you are accessing the service via the gateway?

If you want to use subset v1 when calling through the gateway, you need to add the subset in the other VS:
[code]

[2018-07-06 20:02] KresoDenis commented on #6860
Yes. You can use my files and change the timeouts from 60s to 1s on lets say "backend" virtual service.

And then run
curl -v -w "%{http_code}\n" http://backend:4000
from publicapp

and it will actually timeout after 1 second.

[2018-07-06 20:05] vadimeisenbergibm commented on #6876
Trying:

[code]

Testing:
[code]

The output:
[code]

ADS:

[code]

Cleanup:
[code]

[2018-07-06 20:09] vadimeisenbergibm commented on #6876
@rshriram The same problem with one `VirtualService`.

[2018-07-06 20:11] KresoDenis commented on #6860
@frankbu yes you are right about the subset from myservice. I was quickly using bookinfo example as baseground today for this demo so i don't have to copy my code with tons of unnecessary stuff.

But as i see it its not relevant to this issue since there is timeout of 60s on everything and backend uses subset correctly.

[2018-07-06 20:37] ozevren commented on #6613
Bear in mind that this will also cause issues with key spaces (supporting two different api groups creates two different key space, allowing same-named resource to be created in both)?

[2018-07-06 20:37] kyessenov commented on #6499
Bumping. It's now a customer issue.

[2018-07-06 20:39] kyessenov commented on #6499
cc @sakshigoel12 @costinm @wattli : Just to make it clear that "waiting longer" is not an acceptable solution for the customer in this case.

[2018-07-06 20:41] kyessenov commented on #6837
This is breaking istio installation for me occasionally. It's a matter of luck : whether helm chooses to install mixer or pilot first. Might be noticeable on slower clusters (or clusters with slow masters that take longer to establish CRDs).

[2018-07-06 20:47] ayj commented on #5992
Admission control isn't limited to CRD. Detecting conflicts within the same resource (i.e. service) is possible. However, we can't reliability enforce constraints across resources instances at creation time. We'd need to detect conflicts at runtime (best effort) and reflect that back to the user.

[2018-07-06 20:52] rshriram opened #6892 "istioctl validate tool for k8s services"
We need to run istioctl on a k8s service to emit the following validation errors: ports not named correctly, protocol conflicts with other services/service entries in the system, warnings about headless services if any etc.

We could combine this with as standalone client side validation -inject. Logic for this would involve fetching existing services, service entries, virtual services, etc. from

[2018-07-06 20:53] rshriram commented on #6892
Could invoke networking library and emit warnings on console.

[2018-07-06 20:54] Stono commented on #5992
Hey, for what it's worth I was chatting to @rshriram on slack and at the least a "first come first serve" kind of approach would be preferable.

IE the latest deployed service is the one that is impacted by the conflict, not the first:

a. service a deploys http
b. service b deploys conflicting port
c. service b doesn't work, pilot shows errors/warnings

My issue comes with service a breaking as a

[2018-07-06 20:55] frankbu commented on #6860
This looks like the same issue reported here: https://github.com/istio/istio/issues/1888

[2018-07-06 20:57] frankbu commented on #1888
This still seems to be an issue in 0.8. See #6860

[2018-07-06 21:01] KresoDenis commented on #6860
Just one thing to mention. Perhaps this was the issue on Istio 0.7.1 also.

But i didnt specified any timeouts on 0.7.1 at all and it worked for all our 15-30s requests on 0.7.1. My guess is that default timeouts on 0.7.1 were much larger.

[2018-07-06 21:02] Stono commented on #6892
Hey,
Just FYI we don't use istio inject to add the sidecar, it's done via the auto-injector.  Our pipelines and charts that deploy services to kubernetes, where possible, are istio agnostic (ie they should work on local kubernetes, and on our k8s clusters with istio enabled).

The added complexity here is that it implies that all services are deployed being concerned for istio - which isn't true f

[2018-07-06 21:04] monubamb commented on #6499
this thing has not worked for me for last 3 weeks since i first came to know about it. I keep getting all kind of issues, finally when i thought its working, ingress,egress breaks or some other error comes..

Not sure if this is ready for use yet.

![image](https://user-images.githubusercontent.com/333392/42399983-b15dc294-8124-11e8-800b-680eac569131.png)

Dont see any meaningful logs in the pods

[2018-07-06 21:22] ayj commented on #6803
(copied from [this](https://groups.google.com/d/msgid/istio-dev/0F65A5E4-96C3-42DE-A2B4-170CA686A59B%40google.com?utm_medium=email&utm_source=footer) email thread)

Similar ordering issues exist elsewhere, e.g. Pilot CR used in mixer install files [here](https://github.com/istio/istio/blob/865e90e3f95066054a2e2cfe9f247e53eeaf6184/install/kubernetes/helm/istio/charts/mixer/templates/config.yaml#L67

[2018-07-06 21:25] arianmotamedi commented on #6786
Setting the mode to `ISTIO_MUTUAL` resulted in the same upstream error, with and without the policy... I'll exec into the pods to see if I can find more info, thanks.

[2018-07-06 21:32] ayj commented on #6470
@markns, this should be fixed by https://github.com/istio/istio/pull/6682 which is included in the 1.0 release branch (e.g. https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.0-20180706-09-15).

[2018-07-06 21:54] bianpengyuan commented on #879
@kyessenov the absence of source.ip causes mixer sidecar losing all source attributes, since there is no forward attributes for report/check calls.

[2018-07-06 21:56] kyessenov commented on #879
Can you explain what the issue is, @bianpengyuan ?

[2018-07-06 22:10] kyessenov commented on #6875
@bianpengyuan @gargnupur : I think there's still some unguarded expression referencing http attributes for TCP data.

Thinking generally, should we try to limit the impact of errors in telemetry? I think it would be ok to consume this error inside mixer and just keep going... cc @douglas-reid

[2018-07-06 22:10] ayj commented on #6841
I just verified that this works on GKE with 1.0.0-snapshot.0. The namespace needs to be labeled before the  pod(s) are created. Re-starting the pod (e.g. killing it and letting k8s re-schedule) should also work.

The following information would be useful to capture for those still experiencing problems.

[code]

[2018-07-06 22:14] bianpengyuan commented on #6875
@vadimeisenbergibm Is the error from access log reporting? If so it will be fixed by https://github.com/istio/istio/pull/6793

Some context: Mixer used to have a implicit assumption about protocols of a telemetry instance, which recently gets cleaned up: https://github.com/istio/istio/issues/3963. The access log rule has not been updated accordingly and thus tcp reporting is failing.

[2018-07-06 22:19] kyessenov opened #6898 "issues with client-side policy/telemetry and authn filters in envoy"
Umbrella for various unexpected issues related to generalizing check/report to the client-side sidecar.

- [ ] incorrect connection being reported (downstream/upstream)
- [ ] connection-level authentication may not be available on client-side enforcement, if there is no connection established
- [x] use of a header to communicate between `authn` and `mixer` filters

[2018-07-06 22:23] ayj commented on #6609
Fixed by https://github.com/istio/istio/pull/6827

[2018-07-06 22:23] #6609 closed

[2018-07-06 22:54] ayj commented on #1971
istioctl should now work in-cluster in 1.0 release.

[code]

[code]

[2018-07-06 22:54] #1971 closed

[2018-07-06 22:57] ayj commented on #6553
@monubamb, did using https://raw.githubusercontent.com/Azure/acs-engine/master/examples/service-mesh/istio.json fix the problem for you?

[2018-07-06 23:15] costinm commented on #6613
API style guide is easy to fix - in particular since it clearly is not working and didn't work ( you can't have versioning if only one version is supported).

Allowing same-named resource is a problem we can deal with easily - the common case is user updating to the new version of the API and using same name, we can't ask user to delete the old one because it would create a migration problem - so

[2018-07-06 23:15] wattli commented on #6825
@costinm , the istio-demo-auth.yaml actually implements the global AuthPolicy/DestRule already, see https://github.com/istio/istio/issues/5900, and this actually hides some details from customers so they don't have to understand the fancy policy/rule if they just want global mTLS works

[2018-07-06 23:19] monubamb commented on #6553
The problem with webhook is gone but now i see intermittent crashbackloop errors for ingress/egress/productpage

When it worked for a moment and i tried to access the productpage through ingress using port-forwarding.. i got the below error..

E0706 16:16:34.003283     391 portforward.go:331] an error occurred forwarding 8009 -> 80: error forwarding port 80 to pod 8d266c69e3533994cccd078c34d7623ca

[2018-07-06 23:24] monubamb commented on #6553
Is there a way to find better log information on what the error could be? It is to do with the sidecar injector pod but i dont know where to look at?

[2018-07-06 23:28] costinm commented on #6825
My point was that the default demo should have 1-2 services with mtls
enabled.

Users should be able to enable global mtls when using helm template - it's
not a big deal if we keep
distributing istio-demo-auth.yaml, but most users (AFAIK) are using
istio-demo.yaml to get started
and it would help for it to have AuthPolicy/DestRule samples for mtls.

On Fri, Jul 6, 2018 at 4:15 PM Tao Li <notificat

[2018-07-06 23:43] ozevren commented on #6613
I don't think this stops from making you changes to the actual data format.
As long as the parsing can elide unrecognized fields, you can make backward
compatible changes to the format itself over time. So this mostly affects
"advertising", unless I am missing something. Waiting for 1.11 to be the
baseline doesn't seem too bad, compared to trying to invent our own
versioning scheme on top of Kuber

[2018-07-06 23:44] ayj commented on #6613
My understanding is that we planned to support the three most recent k8s releases. k8s 1.11 was recently released and k8s release cadence is every three months. k8s 1.11 would be our minimum supported version in ~6-7 months. In the context of this PR for release 1.0 (update networking APIs) I was suggesting we wait it out and document it (see [here](https://github.com/istio/istio/issues/6613#issue

[2018-07-07 01:02] costinm commented on #6613
@ozevren  yes, this proposal applies to all other Istio APIs, as they need to move to a new version.
Right now AFAIK networking is ready to go to beta1, same scheme should apply to all others.

We are not 'inventing' a new versioning scheme here - using version as part of domain is already
invented and well adopted. K8S may have attempted to invent a new scheme - but for CRD
it is provable that th

[2018-07-07 05:04] elvizlai commented on #6841
[code]

[code]

[code]

[2018-07-07 12:15] sdake commented on #6828
Note sure if this is helpful, but EPMD has caused me all sorts of hassle in the past.

See:
https://github.com/openstack/kolla-ansible/blob/master/ansible/roles/rabbitmq/templates/rabbitmq-env.conf.j2#L7-L17

[2018-07-07 13:55] nabadger commented on #5379
Same issue.
- k8s v1.11.0
- istio 0.8.0
- flannel v0.9.1 via https://raw.githubusercontent.com/coreos/flannel/v0.9.1/Documentation/kube-flannel.yml

I deployed using the template generated by helm as follows:

[code]

It sounds like the cause of this is outlined in comment https://github.com/istio/istio/issues/5379#issuecomment-399489304 right?

In  `pilot/cmd/pilot-agent/main.go` it looks like th

[2018-07-07 15:10] venilnoronha commented on #5379
@nabadger that's correct, the cause is the failure in DNS resolution. I found that when using flannel, kube-dns/coredns fail to resolve addresses like `kubernetes.default`, `istio-statsd-prom-bridge`, etc. However, on a clean deployment with the weave net plugin (instead of flannel), they resolve correctly. It'd be great if you could verify that on your end too.

[2018-07-07 15:12] monubamb opened #6906 "CrashLoopBackOff"
**Describe the bug**
I think i finally got the sidecar injector working after adding the admissioncontrol for mutatingwebhook and validatingwebhook BUT now i am seeing random errors - CrashLoopBackOff for ingressgateway, egressgateway and productpage and other services.

The logs do not provide any information.
Sometimes the errors go away and i am able to browse to the productpage directly using

[2018-07-07 15:46] nabadger commented on #5379
@venilnoronha It looks like it's stable with weave 👍

[2018-07-07 15:51] #6872 closed

[2018-07-07 16:17] ymesika commented on #6816
Resolved by #6867

[2018-07-07 16:17] #6816 closed

[2018-07-07 16:31] venilnoronha commented on #5379
@nabadger thanks for trying it out.

Interestingly, the exact opposite thing happened when I tried reverting flannel and replaced it with weave net.

[2018-07-07 17:32] #5227 closed

[2018-07-07 18:56] #5472 closed

[2018-07-07 19:14] #6626 closed

[2018-07-07 19:44] Stono commented on #6741
^^ just realised that by removing the `envoy` scrape job, i get rid of all those keys that we don't actually use.

[2018-07-07 19:56] #2516 closed

[2018-07-07 22:56] #5209 closed

[2018-07-08 01:38] Dmitry1987 commented on #6803
hi, got the same error on a new AWS self created cluster (kubeadm, ubuntu 16, k8s 1.11) using latest istio release.

[code]

all items show ok but last line is this error message. It's a regular cluster of few nodes, weave network, dashboard installed and no other things yet, so pretty vanilla k8s fresh cluster. didn't expect any issues with default istio-demo installation :(
should i be worried o

[2018-07-08 05:42] #1947 closed

[2018-07-08 06:42] #3498 closed

[2018-07-08 07:42] #4835 closed

[2018-07-08 08:42] #5020 closed

[2018-07-08 09:00] ymesika commented on #1380
@my3sons It's quite difficult to track your issue as your foo service always return 404 even when calling it from within the mesh and the resources you shared doesn't match. Can you upload the full yamls for the app and the routing that you are trying to use?

Also, when you access the `bar-vs` from outside your cluster you need to specify a `-HHost` flag as described in [the ingress tutorial](htt

[2018-07-08 09:02] #6470 closed

[2018-07-08 09:42] #5021 closed

[2018-07-08 10:42] #2142 closed

[2018-07-08 11:50] ymesika commented on #6846
Tested with release v0.8.0 and the `livenessProbe` exists after injection.
Probably an issue with v0.7.1 that got resolved.

[2018-07-08 11:50] #6846 closed

[2018-07-08 13:42] #4342 closed

[2018-07-08 14:34] craigbox commented on #6731
Thanks Yossi!

[2018-07-08 15:42] #4437 closed

[2018-07-08 18:42] #4783 closed

[2018-07-08 19:42] #4685 closed

[2018-07-08 21:42] #2333 closed

[2018-07-08 22:42] #4190 closed

[2018-07-09 00:42] #1678 closed

[2018-07-09 00:58] rshriram commented on #6876
How about adding two servers in the gateway? one for google and one for cnn.. same ports, different port names..

[2018-07-09 02:09] Dmitry1987 commented on #6687
I was confused by the ingress 'gateway' and resource 'gateway' :) trying to make my cluster work with Istio 1 latest release. The old way of using annotation on ingress, to make Istio routing work, will be deprecated? Is the right way to use "VirtualService + Gateway + DestinationRule" resources from now on?  I tried Istio 0.6 few months ago, and now trying to recreate my previous POC found out th

[2018-07-09 03:42] #1837 closed

[2018-07-09 04:56] #1838 closed

[2018-07-09 05:56] #1231 closed

[2018-07-09 08:17] ymesika opened #6917 "Remove Eureka support"
Eureka v2.0 [has been discontinued](https://github.com/Netflix/eureka/wiki).
We should consider removing the installation support and docs from our future releases.

[2018-07-09 10:05] kHRISl33t opened #6918 "EKS side-car injection problem"
I'm trying to make istio's sidecar injection work in EKS.
Successfully created the ServiceEntry for my external DB.

[code]

But If I run `kubectl get deployment myapp -o yaml | istioctl kube-inject -f - | kubectl apply -f -
` it will successfully manages to do its stuff, but at first 2 tries it cant connect to the db giving me `ECONNREFUSED`. After these 2 tries the 3rd one is always successful a

[2018-07-09 10:33] ymesika commented on #6918
If I understand the deployment flow correctly then the app container tries to connect to the external DB/Service when it loads but can't because the `istio-proxy` container is still not up. That's on the 1st and 2nd tries.
On the 3rd restart the `istio-proxy` is already running and therefore the app container is able to connect to external service.

Not a solution, just my personal view trying to

[2018-07-09 10:38] vadimeisenbergibm commented on #6876
Trying:

[code]

Testing:
[code]

The output:
[code]

ADS:

[code]

Cleanup:
[code]

[2018-07-09 11:12] vadimeisenbergibm commented on #6876
@rshriram @ijsnellf The configuration above works!! However, @ijsnellf please note a redundant `envoy.tcp_proxy` to _edition.cnn.com_ at the last `filterChain` without a `filterChainMatch`.

[2018-07-09 11:15] vadimeisenbergibm commented on #6876
resolved by appropriate configuration

[2018-07-09 11:15] #6876 closed

[2018-07-09 11:17] vadimeisenbergibm opened #6920 "Redundant TCP proxy on a filter chain without filter match"
See the last tcp proxy in the ADS output below.

Trying:

[code]

Testing:
[code]

The output:
[code]

ADS:

[code]

Cleanup:
[code]

[2018-07-09 11:20] alex-slynko opened #6921 "Inconsistency with use_automatic_injection flag"
**Describe the bug**
Flag `use_automatic_injection` in e2e README https://github.com/istio/istio/tree/master/tests/e2e labels with underscores, but in the code it is looking for dashes https://github.com/istio/istio/blob/7bba996125b321cbe694e057e1e8f0dfc4386593/tests/e2e/framework/app_manager.go#L27

**Expected behavior**
Consistency.

[2018-07-09 11:21] vadimeisenbergibm commented on #6920
Compare with two Virtual Services:

Trying:

[code]

Testing:
[code]

The output:
[code]

ADS:

[code]

Cleanup:
[code]

[2018-07-09 11:38] kHRISl33t commented on #6918
Exactly thats what happening, but how should I make sure `istio-proxy` container fires up first, then mine? It's just not pretty to see every service with 2 restarts.

[2018-07-09 11:54] axel7born opened #6922 "Community Testing: Non existent file in test description for "Enabling Citadel health checking"."
**Describe the bug**
In the test description of the Istio 1.0 Community Testing for test "Enabling Citadel health checking" a non existent file is referenced.

In Section [deploying-citadel-with-health-checking](https://preliminary.istio.io/docs/tasks/security/health-check.html#deploying-citadel-with-health-checking) the file `install/kubernetes/istio-citadel-with-health-check.yaml` should be appl

[2018-07-09 11:56] #1692 closed

[2018-07-09 12:05] sdake commented on #6918
EKS lacks webhook support, meaning that automatic injection as well as galley will not work.  You have a few options:

1. Request Amazon include webhook support in their EKS product
1. Turn off galley
1. Use manual injection

Cheers
-steve

[2018-07-09 12:08] sdake commented on #6918
https://github.com/istio/old_issues_repo/issues/271#issuecomment-400454140

[2018-07-09 12:53] kHRISl33t commented on #6918
I'm using manual injection, since I know the webhook thing is not working in EKS. My problem is somehow isitio-proxy cant fire up in time, or it struggles to get the ServiceEntries.

[2018-07-09 13:55] vadimeisenbergibm commented on #6875
@bianpengyuan yes, the error is from the access log (stdio output into the kubernetes logs of `istio-proxy`)

[2018-07-09 14:29] rshriram commented on #5005
Thinking more about this, Gateway not being able to route to a headless service is semantically correct. Headless services/stateful sets are inherently peer-to-peer communication based, without any client-side load balancing that is typical of other services. Routing to a headless service via a Gateway implies that you are asking hte Gateway to perform client side load balancing to what is inheren

[2018-07-09 14:31] ijsnellf commented on #6876
I'll create an issue.

[2018-07-09 14:38] rshriram commented on #1277
mTLS works between pods in statefulsets. See test here #6885

[2018-07-09 14:38] #1277 closed

[2018-07-09 14:38] pbohman opened #6928 "Unknown ALPN protocol sent to an external service configured w/ MUTUAL_TLS"
**Describe the bug**
Connections to an external HTTP service configured with a MUTUAL_TLS destination rule are aborted by the external server with a fatal "no_application_protocol (120)" alert.

**Expected behavior**
Envoy and the external service should connect using http 1.1. Istio/envoy should not send an ALPN list consisting entirely of unsupported protocols (ie, ["istio"]). Unsupported protoc

[2018-07-09 14:41] rshriram commented on #6918
You need kubernetes level support to ensure that oen container comes up before bringing up the other.. Unfortunately, it doesn't exist yet.

[2018-07-09 15:25] frankbu commented on #6687
@Dmitry1987 Yes, Gateway should be used from now on. Ingress was fine for simple POC work, but it causes lots of problems in real applications, so hopefully the one time switch will help you avoid future problems.

[2018-07-09 15:29] #2263 closed

[2018-07-09 15:48] monubamb commented on #6906
Ran the describe command and did not find any meaningful info for why the pods are crashing...

Name:           istio-ingressgateway-6bc7c7c4bc-mxnqp
Namespace:      istio-system
Node:           worker-0/10.240.0.20
Start Time:     Tue, 03 Jul 2018 10:12:06 -0700
Labels:         istio=ingressgateway
                pod-template-hash=2673737067
Annotations:    sidecar.istio.io/inject=false
Status:

[2018-07-09 15:48] monubamb commented on #6499
Ran the describe command and did not find any meaningful info for why the pods are crashing...
Name: istio-ingressgateway-6bc7c7c4bc-mxnqp
Namespace: istio-system
Node: worker-0/10.240.0.20
Start Time: Tue, 03 Jul 2018 10:12:06 -0700
Labels: istio=ingressgateway
pod-template-hash=2673737067
Annotations: sidecar.istio.io/inject=false
Status: Running
IP: 10.200.0.55
Controlled By: ReplicaSet/istio-i

[2018-07-09 15:57] arianmotamedi commented on #6786
Ok @quanjielin you were right - my certs aren't in the proxy container, and I see this in the logs:

/etc/certs in istio-proxy has a different set of certs which seem to be generated by istio. how would i copy my cert files from my app container to the sidecar? But I also tried setting the mode to `MUTUAL` and changed the names in my DestinationRule to match the auto-generated cert names, but I'm

[2018-07-09 15:58] nmittler commented on #5997
@incfly can you look at this? It's not clear that it's a user config error.

[2018-07-09 16:21] quanjielin commented on #6928
@pbohman, to confirm, the ```external http service``` you mentioned is inside the mesh ?
If yes, from [code comment](https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/cluster.go#L413), ```The custom "istio" value indicates in-mesh traffic and it's going to be used for routing decisions.```.
/cc @costinm @andraxylia could you pls confirm if ```istio``` value still in use

[2018-07-09 17:07] ayj commented on #6841
Does the same problem happen with https://github.com/istio/istio/blob/master/samples/sleep/sleep.yaml? Did you modify the default install configuration at all (e.g. injection policy in the inject ConfigMap)?

The only reasons I can see that the pod wouldn't be injected would be the following:

- the default injection policy was changed from `enabled` to `disabled`
- the pod was annotated with `sid

[2018-07-09 17:36] jeffmendoza commented on #6699
@bgokden See comment above, we can update Gopkg.toml to a recent SHA including the latest behaviour and change to `Async: true`. Are you interested in submitting this PR?

[2018-07-09 17:38] bgokden commented on #6699
@jeffmendoza yes, I want to submit at as pr.

[2018-07-09 17:40] jeffmendoza commented on #6699
Sounds great!

[2018-07-09 17:42] pbohman commented on #6928
@quanjielin, The external http service is outside of the mesh. A client inside the mesh is connecting to an external service outside of the mesh.

[2018-07-09 17:50] quanjielin commented on #6928
thanks @pbohman , it looks like a bug https://github.com/istio/istio/blob/276e1b273ab9bacdb4a9a646e566598d1ebb34eb/pilot/pkg/networking/core/v1alpha3/cluster.go#L455 should treat TLSSettings_MUTUAL/TLSSettings_ISTIO_MUTUAL differently when set AlpnProtocols, I'll fix that.

[2018-07-09 17:54] ijsnellf commented on #5997
I am pretty sure this is caused because of the aggregate service registry. By default, we always start up using an aggregate registry of a controller that monitors ServiceEntries and the regular K8S controller. When we make a call to GetServices(serviceX), the aggregate registry makes a call to the K8S registry and the ServiceEntry registry. See:

https://github.com/istio/istio/blob/master/pilot/p

[2018-07-09 18:18] quanjielin commented on #6803
resolve as dup of https://github.com/istio/istio/issues/6238, https://github.com/istio/istio/pull/6910 should fix that

[2018-07-09 18:18] #6803 closed

[2018-07-09 18:19] cmluciano commented on #6613
I've lost track of the name that is being proposed. @costinm Can you comment on what you think the name should be. FWIW I don't see a strong argument to change the domain field in order to signify that it is in beta form. If/when we do adopt the strict apigroup/version format, this would be another breaking change to undo the naming.

[2018-07-09 18:51] ijsnellf commented on #6917
cc @costinm @rshriram @frankbu ^^^

[2018-07-09 19:18] ijsnellf commented on #5997
@nmittler @incfly ^^^

[2018-07-09 19:29] #2977 closed

[2018-07-09 19:31] lei-tang commented on #6922
install/kubernetes/istio-citadel-with-health-check.yaml was generated from install/kubernetes/templates/istio-citadel-with-health-check.yaml.tmpl, which was removed by the PR https://github.com/istio/istio/pull/6585 that has been committed in
https://github.com/istio/istio/commit/beceb07af9bb63b83691bf7df10231a7ac6c0e55#diff-19ad89bc3e3c9d7ef68b89523eff1987.

According to https://github.com/istio/

[2018-07-09 20:31] ijsnellf commented on #6917
Assigning myself unless someone else wants this.

[2018-07-09 21:09] kyessenov opened #6937 "Consistent hash load balancing"
It is common to have upstreams hold sizable caches for pre-computed results. In such cases, a consistent load balancing strategy is desired. For example, many ingress proxies use `source.ip` as part of hashing strategy.

Envoy supports maglev-style load balancing using headers, cookies, source IP, or combination thereof (https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#e

[2018-07-09 21:44] nmittler commented on #6642
@costinm what would be a reasonable default for a readiness port? 15003?

[2018-07-09 22:29] #1924 closed

[2018-07-09 22:38] gargnupur opened #6945 "Filtering for TCP Accesslogs"
Currently TCP accesslogs gets reported for all connections.

Add better filtering for them if they become too noisy based on connection events

[2018-07-09 23:26] duderino opened #6949 ""kubectl apply -f install/kubernetes/istio-demo-auth.yaml" dies with "no matches for kind "Policy" in version "authentication.istio.io/v1alpha1"""
**Describe the bug**

I tried following the 1.0 guide at https://preliminary.istio.io/docs/setup/kubernetes/quick-start/ on macos and minikube against the master-20180709-09-15 pre-release.   It exited 1 after spitting out the following error message:

error: unable to recognize "install/kubernetes/istio-demo-auth.yaml": no matches for kind "Policy" in version "authentication.istio.io/v1alpha1"

*

[2018-07-09 23:29] #2170 closed

[2018-07-09 23:30] quanjielin commented on #6411
TODOs
1.integration shows that stat_prefix in sds_config is required, otherwise envoy fails to start, need to add stat_prefix
[code]
2.
update repo's dependence's sha (https://github.com/istio/istio/blob/master/Gopkg.lock#L1232) to take in https://github.com/grpc/grpc/pull/15909 then remove distribute dummy cert logic

[2018-07-09 23:41] Tahler opened #6950 ""Distributed Tracing" either broken or out of date."
**Describe the bug**
Followed instructions for [Distributed Tracing](https://preliminary.istio.io/docs/tasks/telemetry/distributed-tracing/) and found the screenshots did not match my outcome.

Expected (from the documentation):

![image](https://preliminary.istio.io/docs/tasks/telemetry/distributed-tracing/istio-tracing-list.png)

![image](https://preliminary.istio.io/docs/tasks/telemetry/distrib

[2018-07-09 23:54] rshriram commented on #6642
Where is this port going to point to? What’s the output? How do you know if the output is complete with all xDS info ?

[2018-07-10 00:21] kyessenov commented on #6937
/assign @costinm this is a customer request >1.0

[2018-07-10 00:29] #2171 closed

[2018-07-10 01:18] quanjielin commented on #6949
known issue https://github.com/istio/istio/issues/6803, https://github.com/istio/istio/pull/6910 should fix this.

[2018-07-10 01:19] quanjielin commented on #6949
resolve as dupe.

[2018-07-10 01:19] #6949 closed

[2018-07-10 01:37] yangminzhu commented on #6760
Thanks for the report Dave, I think currently we don't have plans to use Casbin as the authz engine in Istio, but we could definitely investigate about supporting custom authz engine if there are any actual user case.

For Istio RBAC, It's already implemented before #6377 and it's actually an enhancement to the existing implementation, Also check [here](https://istio.io/docs/concepts/security/rbac

[2018-07-10 02:57] krancour commented on #6504
I seem to be running into the same thing. I'm simply following documentation:

[code]

Modified this next command a bit to specify virtualization, resources, and k8s version, but the admission controllers are all straight out of the documentation:

[code]

Everything looks healthy:

[code]

Install the bookinfo app:

[code]

Results don't look right. Note 1/1 containers ready for each pod-- which

[2018-07-10 03:02] wansuiye commented on #3295
@ldemailly  i use istio 0.8.0 ,which i think the envoy is the last
@andraxylia i run sentry which is an open-source error tracking app, In order to locate the problem, I added nginx to the app, so the traffic path was envoy->nginx->app. Strangely enough, when nginx was added, there was no more error, nginx used the default configuration. then I adjusted the nginx configuration, when **client_body_

[2018-07-10 03:16] wansuiye commented on #3295
nginx log:
{"log":"127.0.0.1 - - [10/Jul/2018:02:39:25 +0000] \"POST /api/7/store/ HTTP/1.1\" 408 0 \"-\" \"sentry-java/1.7.3-c2920\" \"10.21.10.12\"\n","stream":"stdout","time":"2018-07-10T02:39:25.912227157Z"}
{"log":"127.0.0.1 - - [10/Jul/2018:02:41:29 +0000] \"POST /api/7/store/ HTTP/1.1\" 408 0 \"-\" \"sentry-java/1.7.3-c2920\" \"10.21.10.12\"\n","stream":"stdout","time":"2018-07-10T02:41:29.

[2018-07-10 03:29] #2083 closed

[2018-07-10 03:51] krancour commented on #6504
I missed this:

[code]

To be fair, although that does appear places in the documentation, it's quite absent from the [instructions for installing the bookinfo app](https://istio.io/docs/guides/bookinfo/) and that seems an ideal place to call attention this. I'll open a separate issue for that.

[2018-07-10 03:55] krancour opened #6957 "Missing step in bookinfo install instructions"
[The instructions for installing the bookinfo app](https://istio.io/docs/guides/bookinfo/) fail to mention that if you want to use automatic sidecar injection, it must be explicitly enabled on the `default` namespace like so:

[code]

Although this instruction does appear elsewhere in the docs, it's absent from this spot,  which seems as if it might be an ideal place for mentioning it.

[2018-07-10 04:29] #1429 closed

[2018-07-10 06:06] ymesika commented on #6922
I can add a new flag to the `values.yaml` allowing user to set `security.healthCheckEnabled=true` for the same result.
However this should be done when installing Istio (using Helm command in "Before You Begin") and therefore the doc should be updated.

Not related to this issue - I believe that the first part of "Before You Begin" isn't updated too because we no longer ship `istio.yaml` or `istio

[2018-07-10 06:14] quanjielin commented on #6786
sorry for late response
1. certs are files(```more /etc/certs/cert-chain.pem```), so we could remote to proxy container and create a new .pem file, copy cert content and paste there.

2. that's strange..again take a step back, switch destination rule tls.mode from MUTUAL to ISTIO_MUTUAL does the same error repro ? also open key.pem to check if it's your own key or overridden by Istio ?

[2018-07-10 06:29] #2821 closed

[2018-07-10 07:16] hzxuzhonghu opened #6962 "pilot discovery cpu usage is too high"
**Describe the bug**

pilot-discovery cpu uasage is about 20% running bookinfo sample.

[code]

**Expected behavior**

not too much cpu

**Steps to reproduce the bug**

run sample bookinfo

**Version**
What version of istio and Kubernetes are you using? Use `istioctl version` and `kubectl version`

`Version: 1.0.0-snapshot.0`

[code]
**Is Istio Auth enabled or not?**

no

**Environment**

linux

[2018-07-10 07:29] #1234 closed

[2018-07-10 08:07] shenjieyao commented on #6504
Yes ! Absolutely you forgot to enable istio-injection label ,but i did !  After added this command and installed bookinfo app then those pods disappeared . I only watched deployment and service ! My minikube start configuration was different with yours , i used  "--vm-driver=none" .

[2018-07-10 08:07] SmileSees commented on #5993
Hi @jxadro , what problems on VirtualService cause this? How did you fix them?

[2018-07-10 08:18] SmileSees commented on #5993
I found the reason, I have two gateways who were both listening the 80 number, I deleted one, it works.

[2018-07-10 08:19] YealZoy opened #6963 "bookinfo demo"
I can't get the file from the google,Could you do not use the href  https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js when you make the bookinfo image

give you :poultry_leg:

[2018-07-10 08:48] elevran commented on #6355
[Design specification](https://docs.google.com/document/d/1TTl8OszfnUEkBmz5AtcUCyYRTT7O6axiHZabHdH2950/edit?usp=sharing.) submitted for review

[2018-07-10 09:01] objectiser commented on #6950
You would get this behaviour if you didn't inject the proxies into the bookinfo services. If you try with the manual sidecar injection it should work fine.

[2018-07-10 10:23] ymesika commented on #6963
Thanks for the 🍗
We haven't updated the Bookinfo demo images since Istio v0.5.0 or so. Do you say that you don't have access to the Google server for fetching the jQuery file? Are you trying it run the demo offline?

[2018-07-10 10:43] hzxuzhonghu commented on #6962
NO, it is always so since I noticed.

[2018-07-10 10:56] hzxuzhonghu commented on #6962
go-torch created a flame graph
https://gist.githubusercontent.com/hzxuzhonghu/43afa1ef7f93e2b88453e6ab635277aa/raw/dcae6909df49c8391779770175dff7a1d445b4d2/torch.svg

[2018-07-10 11:02] wansuiye opened #6966 "RedisQuota don't work"
**Describe the bug**
A clear and concise description of what the bug is.

memquota work, but the redisquota don't work
**Expected behavior**

A clear and concise description of what you expected to happen.
redisquota can work

**Steps to reproduce the bug**
Steps to reproduce the behavior.
in install/kubernetes/istio-demo.yml i don't find redisquota, so i create it using the config below
**redisqu

[2018-07-10 11:29] #2186 closed

[2018-07-10 11:44] vadimeisenbergibm commented on #6810
The implementing PRs:
https://github.com/istio/api/pull/575
https://github.com/istio/istio.github.io/pull/1712
https://github.com/istio/proxy/pull/1843

[2018-07-10 12:29] #2185 closed

[2018-07-10 12:42] vadimeisenbergibm commented on #6810
@kyessenov @douglas-reid Could you please review the PRs in https://github.com/istio/istio/issues/6810#issuecomment-403793802 ?

[2018-07-10 13:29] #2184 closed

[2018-07-10 13:59] DreamRivulet opened #6971 "bin/pre-commit.sh doesn't exist."
In https://github.com/istio/istio/wiki/Dev-Guide ,  it says:
[code]
,  however, there's no pre-commit.sh script...

[2018-07-10 14:00] mandarjog commented on #6966
Thanks for the bug report.

@tahler can you investigate ?

[2018-07-10 14:07] krancour commented on #6504
https://github.com/istio/istio/issues/6957

[2018-07-10 14:50] nmittler commented on #6642
@rshriram

The new port would be open by the agent and implement a [k8s TCP probe](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#define-a-tcp-liveness-probe).  When the agent starts, it will poll the Envoy admin port until it contains dynamic clusters/listeners.  At that point, it will open the server socket for the readiness probe.

[2018-07-10 14:57] costinm commented on #6642
Not sure I like this approach. How about opening a HTTP probe, so we can extend it in the future with
metrics about the agent, controlz, etc ? It's as easy to code.

But please run a small test: in my testing it appears the generated config is bad while readiness returns false, because pilot can't find the IP. See slack discussion for a possible fix.

[2018-07-10 15:00] nmittler commented on #6642
@costinm

It would be helpful if you'd explain why you don't like it.  IIRC, it was your idea to use a TCP readiness probe (rather than HTTP).

[2018-07-10 15:07] krancour opened #6972 "Doc issue / grafana addon missing?"
In [Viewing the Istio Dashboard](https://istio.io/docs/tasks/telemetry/using-istio-dashboard/#viewing-the-istio-dashboard), the very first step fails:

[code]

[2018-07-10 15:21] douglas-reid commented on #2139
I believe this has been resolved, based on recent PRs from @bianpengyuan .

[2018-07-10 15:29] brant4test commented on #6499
$ helm install istio-0.8.0/install/kubernetes/helm/istio --name istio --namespace istio-system
$ kubectl describe -n istio-system pod  istio-pilot-556cf655c9-f7ghd
[code]
any suggestions? thanks!

[2018-07-10 15:43] arianmotamedi commented on #6786
Thanks Quanjie, my question with regards to number 1 was how to automate copying certs from the application container over to the proxy container. I was under the impression that there was some sort of infrastructure set up to do so automatically though Istio...

2- Both MUTUAL and ISTIO_MUTUAL result in the same error. I verified the certs that are in the proxy container are NOT my certs. However

[2018-07-10 15:51] ymesika commented on #6972
With which version/release?

[2018-07-10 16:00] andelhie opened #6974 "Add nodeSelector in Helm Chart for Ingress,IngressGateway"
**Is your feature request related to a problem? Please describe.**
Today when I deploy Istio with a Helm Chart the Pods for the ingress, ingressGateway can land on any of the host be it masters or worker nodes.  Kubernetes on OpenStack uses the LBaaS to then setup an external SLB to then talk to the said services above.  As the pods can deploy on to the masters and the LBaaS only points to the nod

[2018-07-10 16:16] andelhie commented on #6974
Also this may be the case for egressGateway.  With some network rules you may want the exit point to be isolated to a known set of hosts.

[2018-07-10 16:21] alex-koturanov opened #6977 "Istio-Pilot on k8s re-created (deleted) rules CRDs during scale-up to 200+ instances"
**Describe the bug**
Istio-0.7.1 with Pilot, Mixer and Ingress installed as DaemonSet on Kubernetes 1.9.3 with 3 masters deleted and re-created some of the Istio CRDs during cluster scale up from 100 to 250 nodes. **All traffic and egress rules were deleted as a result.** Kubernetes API logs show that the CRDs were deleted by Istio Pilot component after unsuccessful attempt to update a config map.

[2018-07-10 16:24] quanjielin commented on #5891
I think this is still needed for e2e ? /cc @qiwzhang @quanjielin
https://github.com/istio/istio/blob/master/tools/deb/envoy_bootstrap_v2.json
https://github.com/istio/istio/blob/master/pilot/docker/Dockerfile.proxyv2#L23

[2018-07-10 16:24] rshriram commented on #6642
Don't open any HTTP/TCP ports. It will not play nicely with IPtables stuff. Please run it as execScript thingy in K8S.

[2018-07-10 16:30] tiswanso commented on #6321
With the merge of #6366 the configs are conditionally applied.  Closing this.

[2018-07-10 16:30] #6321 closed

[2018-07-10 17:32] hklai commented on #6838
These tests actually have been restored.
https://prow.istio.io/?job=istio-pilot-e2e-envoyv2-v1alpha3-k8s-1.10

Could you re-enable them?

[2018-07-10 17:41] quanjielin commented on #6786
For the decode cert issue try this https://www.sslshopper.com/certificate-decoder.html, also does chmod helps to override ?

[2018-07-10 17:42] krancour commented on #6972
I've looked at both v0.8.0 and the head of master.

[2018-07-10 17:44] arianmotamedi commented on #6786
Yep I did decode the cert, and it's not the one I specified in the spec file. Seems like it's auto-generated by k8s/istio. And nope, I can't run chmod on the files either (entire container is read-only)

[2018-07-10 17:45] prune998 opened #6981 "gRPC Stream are cancelled by the sidecar"
**Describe the bug**
Setup is :
`client pod (+ istio auto-inject sidecar) --> server pod + istio auto-inject sidecar`

When the client opens a gRPC connexion to the server (so i'ts HTTP2 + bidirectional stream), the connections is closed after some random timeout.

I've experienced timeouts from 30s to 10 minutes.

While the server sees the connection as "canceled", the client is not aware of it.

[2018-07-10 17:52] ymesika commented on #6972
The `release 0.8.0` has this file within the downloaded package/zip/tar.
If you work with branches then this file isn't committed. It's generated when releasing or when you run `install/updateVersion.sh`.

[2018-07-10 17:58] ymesika commented on #6972
Sorry, my bad. We don't deliver it anymore. It's now available as a Helm chart and can be installed by enabling the `grafana.enabled` flag.
It's a doc issue so I will move this one to there.

[2018-07-10 17:59] #6972 closed

[2018-07-10 17:59] ymesika commented on #6972
Issue moved to [istio/istio.github.io #1739](https://github.com/istio/istio.github.io/issues/1739) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-10 18:10] prune998 commented on #6981
I've just set `connection` and `http2` logs to `debug`, and here is what I have on the server side :

[code]

Which could be explained for each section as  :

- the client opens the connexion to Envoy then to the server which receives a `PING` request
- Envoy close the TCP connexion to the client and send a `RESET` to the server, ending the HTTP/2 stream (which is logged by the server).
- client i

[2018-07-10 18:14] quanjielin opened #6982 "flaky test TestIngressGateway503DuringRuleChange"
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/6679/istio-pilot-e2e-envoyv2-v1alpha3/3949
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/6946/istio-pilot-e2e-envoyv2-v1alpha3/3953
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/6967/istio-pilot-e2e-envoyv2-v1alpha3/3946

[2018-07-10 18:31] liminw opened #6984 "Istio RBAC Improvements"
Some improvements we can do for Istio RBAC:

- [x] Convert config.istio.io to rbac.istio.io. (https://github.com/istio/istio/pull/6874)

- [x] Support AllAuthenticatedUsers for principals. Today we can set {user: "*"} to represent "AllUsers", including authenticated and unauthenticated identities. In some cases, we may need to accept only the authenticated identities. We can introduce  "AllAuthent

[2018-07-10 18:31] liminw commented on #6984
/cc @yangminzhu

[2018-07-10 18:38] Rigdon commented on #6092
@sdake Can we close this now?

[2018-07-10 18:38] rshriram commented on #6984
convert config.istio.io to rbac.istio.io

[2018-07-10 18:43] liminw commented on #6984
@rshriram Added. Thanks.

[2018-07-10 18:52] #6950 closed

[2018-07-10 18:53] mandarjog commented on #6875
@Tahler and I saw the same problem.
we need to update expression in accesslogs to either
1. provide defaults for all attributes
2. conditionally emit accesslog for http and add a separate accessLogTCP that is conditionally dispatched for TCP only.

@gargnupur ?

[2018-07-10 19:16] quanjielin opened #6986 "deprecate sidecar certs watcher in pilot-agent after switch to SDS"
1. current we use secret-mount files for sidecars, pilot-agent [monitor those certs file change](https://github.com/istio/istio/blob/e99cad5fc0f4dc5cdda6680c0330c5516d218f3c/pilot/cmd/pilot-agent/main.go#L241) and restart proxy when detect change. This needs to be deprecated after switching to [SDS](https://github.com/envoyproxy/envoy/blob/master/api/envoy/service/discovery/v2/sds.proto)

2. the c

[2018-07-10 19:17] quanjielin commented on #6986
/cc @wattli @diemtvu @costinm

[2018-07-10 19:22] #6510 closed

[2018-07-10 19:30] prune998 commented on #6981
I've added some more debug and it seems it's Envoy, reconfiguring it's config and dropping the socker, thus leading to a deconnexion :

[code]

[2018-07-10 19:33] douglas-reid commented on #6875
The PR to address this was just merged: https://github.com/istio/istio/pull/6793

[2018-07-10 19:35] gargnupur commented on #6875
@mandarjog: After https://github.com/istio/istio/pull/6793 there are defaults for all attributes and a separate accesslog for tcp. Only exception, request.time and response.time for http don't have defaults but afaik they should always have a value for http.

[2018-07-10 19:42] mandarjog commented on #6875
Ok great. Thanks.

This issues is addressed by #6793

[2018-07-10 19:42] #6875 closed

[2018-07-10 19:47] frankbu commented on #6856
@vadimeisenbergibm Do you have a PR in the works to update your egress blog post?

[2018-07-10 19:48] prune998 commented on #6981
So the behaviour is that a refresh of the Listeners lead to the socket beeing recycled, which close the socket/TCP connexion between the sidecar and the client.
I stil don't know why this is happening...

[2018-07-10 20:01] vadimeisenbergibm commented on #6856
@frankbu I will work on it this week.

[2018-07-10 20:21] krancour commented on #6972
Thanks!

[2018-07-10 20:31] wattli commented on #6986
Let's hold on this for now. And we can chat offline.

[2018-07-10 20:46] vadimeisenbergibm commented on #6810
@hklai Could you please merge the PRs: istio/api#575 and istio/istio.github.io#1712, related to this issue?

[2018-07-10 20:51] kyessenov commented on #6810
This was merged too early...

On Tue, Jul 10, 2018 at 1:46 PM Vadim Eisenberg <notifications@github.com>
wrote:

[2018-07-10 20:52] kyessenov commented on #6810
Please update API dependency ASAP. Otherwise, there is a risk of breaking
mixer protocol.

On Tue, Jul 10, 2018 at 1:51 PM Kuat Yessenov <kuat@google.com> wrote:

[2018-07-10 22:21] vadimeisenbergibm commented on #6810
@costinm Could you please help me with merging these PRs? I think we are just several hours from having SNI enabled for monitoring and policy enforcement. It would be a pity if Istio 1.0 is released without support for SNI monitoring/logging and SNI-based policies. We have routing by SNI, we have everything ready to handle SNI, seems to me a pity not to merge it. cc @kyessenov @rshriram @hklai @li

[2018-07-10 22:39] theganyo commented on #6804
I've now moved from 1.0.0-snapshot.0 to just building off the release-1.0 branch and this no longer seems to be an issue. Did something change?

[2018-07-10 22:43] kyessenov commented on #6804
We merged the rename context.reporter.kind change about 8 days ago. So it sounds like you picked the build after the change.

[2018-07-10 22:45] theganyo commented on #6804
Sorry, no I mean the original issue is no longer happening. In other words, my original rule:

    match: destination.namespace == "default"

is working as expected again and HandleAuthorization() is only being called 1 time.

[2018-07-10 22:50] lizan commented on #3295
From the tcpdump of https://github.com/istio/istio/issues/3295#issuecomment-400413798, it looks like the app is responding with `HTTP/1.0` without `connection: close`, is that your case too? @wansuiye

[2018-07-10 22:51] kyessenov commented on #6804
May we get a dump of attributes that you see? I think we should expect to see two calls...

[2018-07-10 22:51] kyessenov commented on #6804
@costinm did you by any chance disable ingress checks?

[2018-07-10 22:58] theganyo commented on #6804
I'm now seeing "Creating bag with attributes" calls, but a single call to HandleAuthorization():

[code]

[2018-07-10 23:05] kyessenov commented on #6804
Oh, it appears someone removed `destination.uid` from the client-side telemetry. That makes it impossible to resolve `destination.namespace` to apply the rule.

[2018-07-10 23:07] kyessenov commented on #6804
@costinm https://github.com/istio/istio/blob/master/pilot/pkg/proxy/envoy/v2/eds.go#L129 this line seems to be not executed and breaks mixer rules. What happened, any ideas?

[2018-07-10 23:09] kyessenov commented on #6804
@theganyo another possibility is that you have some old envoy lurking around. Are you sure you are using the latest proxy in your test?

[2018-07-10 23:20] theganyo commented on #6804
It's hard to be completely sure, but it certainly should be. I:

* started a clean Kubernetes env
* grabbed the latest Istio build: https://gcsweb.istio.io/gcs/istio-release-pipeline-data/daily-build/release-1.0-20180710-09-15/
* built my Mixer against `release-1.0` branch and updated the `samples/istio/istio-demo-auth.yaml` policy and telemetry to use my image
* applied `istioctl kube-inject -f s

[2018-07-11 00:02] quanjielin commented on #6786
to confirm
1. without enabling authN(setup mTLS authN policy/destRule), it works ?
2. without setting clientCertificate/privateKey/caCertificates when destinationRule tls.mode is ISTIO_MUTUAL, hit 'Failed to load private key from /etc/certs/key.pem' error ?

[2018-07-11 00:54] zachgersh commented on #6782
@zvikaga - sorry it took so long to get back to you! Been digging into this a little bit and I have a few more questions:

1. what version of puma are you using?
2. what version of curl are you using?

Can you also show me the `config.ru` or equivalent for puma?

[2018-07-11 01:22] YealZoy commented on #6963
yes, I can't have access to the Google server for fetching some files.I run the demo online
![image](https://user-images.githubusercontent.com/10301073/42545658-d35c0818-84eb-11e8-99f8-2ff76e548041.png)

[2018-07-11 01:28] rshriram commented on #6981
I know why its happening. We don't have RDS in 0.8. Try with a more recent istio (snapshot release or something). This problem should go away.

[2018-07-11 02:28] lei-tang commented on #6922
The PR https://github.com/istio/istio.github.io/pull/1744 is created to fix the non-existent file in the test description of Citadel health checking.

[2018-07-11 02:33] hklai commented on #6810
@vadimeisenbergibm I have merged istio/api#575 but I had to revert #1843 as I apparently merged it prematurely. Please resend it with @qiwzhang's [comment](https://github.com/istio/proxy/pull/1843#pullrequestreview-136010880) addressed?

[2018-07-11 02:57] wansuiye commented on #3295
@lizan the app is responding with HTTP/1.1 without `connection: close`, not HTTP/1.0

[2018-07-11 03:04] sebastienvas commented on #6838
I just disable the alpha feature for cluster creation. I don't think I need to re-enable it, right ?

[2018-07-11 03:15] rokii commented on #6986
hot discussion here https://github.com/istio/istio/issues/2120

[2018-07-11 03:18] hklai commented on #6838
Right.  I don't believe we need any alpha features.

On Tue, Jul 10, 2018 at 8:04 PM Sebastien Vas <notifications@github.com>
wrote:

[2018-07-11 08:46] hzxuzhonghu commented on #6962
/kind bug

[2018-07-11 08:50] wjwinner opened #7001 "the http status code returned by istio-ingress is zero"
**Describe the bug**
the http status code returned by istio-ingress is zero

**Expected behavior**
A clear and concise description of what you expected to happen.

**Steps to reproduce the bug**
In the case of small probability, the the HTTP state code is zero.

This is the log of ingress:

[2018-07-11T07:00:34.795Z] "GET /suu/showSuu?data=%7B%22clue_id%22%3A36016173%2C%22city_id%22%3A66%2C%22tag_

[2018-07-11 09:30] wansuiye opened #7002 "How to limit rate for dynamic dimensions such as each ip address"
**Describe the bug**
A clear and concise description of what the bug is.
Quota seems can only support the enum matches, but how to support the rate limit, such as rate limit of each IP address, or according to the parameters in the request, these parameters are to much , can not listed in dimensions.

**Expected behavior**
A clear and concise description of what you expected to happen.
dynamic rat

[2018-07-11 11:01] prune998 commented on #6981
thanks @rshriram, I will try that.
Can you please give a little more detail of what is happening there ? What is the link between RDS and Envoy recycling the Listener socket ?

Thanks.

[2018-07-11 11:06] prune998 commented on #6981
Ok it's related to https://github.com/istio/istio/issues/5934#issuecomment-394864430 right ?

[2018-07-11 11:14] prune998 commented on #6981
would image `docker pull istio/proxy_debug:1.0.0-snapshot.0` solve the issue or should I build my own ?

[2018-07-11 12:04] ymesika commented on #7001
Istio 0.2.12?

[2018-07-11 12:05] Richard87 commented on #6469
Hi everyone, I was also hit by this bug when following the httpbin tutorial... I ended up with this config that works for me (Also, I don't have a loadbalancer, so I'm accessing the ingress-gateway on the NodePort)

[code]

Without the extra hosts I would receive this error in `ingressgateway-pod`:
[code]

[2018-07-11 12:52] wjwinner commented on #6071
same to me

[2018-07-11 13:39] rshriram commented on #6984
Need RBAC for tcp and mongo. More like a generic RBAC stuff so that any protocol decoder could generate attributes and have RBAC implemented.

[2018-07-11 14:04] tiswanso commented on #6094
With the merge of #6366 an istio-multi service-account is created via the istio-remote. This service-account is bound to a clusterrole, istio-reader, with minimal and read-only access.  The setup->kubernetes->multicluster document details how to create a kubeconfig file mapped to this service-account and create the multicluster secret for pilot to use it.

Closing this issue.

[2018-07-11 14:04] #6094 closed

[2018-07-11 14:50] wjwinner opened #7009 "SSL received a record that exceeded the maximum permissible length"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Steps to reproduce the bug**
[code]

[code]

**Version**
istio 1.0

**Is Istio Auth enabled or not?**
no

[2018-07-11 15:01] tiswanso opened #7010 "Multicluster controlPlaneSecurity--remote sidecars unable to connect to ADS"
**Describe the bug**
Remote cluster pod sidecars unable to connect to ADS in deployment of Istio multicluster with control-plane security enabled (sidecar-to-pilot = ADS over mTLS).

**Expected behavior**
Remote cluster pod sidecars able to connect to istio-pilot on main cluster via mTLS to access ADS.

**Steps to reproduce the bug**
1.  Main cluster deployment:

[code]
    1.   **NOTE** the `secu

[2018-07-11 15:18] frankbu commented on #6071
@vadimeisenbergibm Does this look like it may be the same problem that you and @dcberg were investigating yesterday? If so, any resolution?

@hamon-e and @wjwinner Can you provide more details?

[2018-07-11 16:07] tiswanso commented on #7010
*Troubleshooting Summary*

[2018-07-11 16:13] rshriram opened #7014 "Istio mTLS is enabled by default even when set to False"
PR https://github.com/istio/istio/pull/6395 creates a config map that is not gated by the global auth flag. As a result, the default destination rule for all services has tls mode set to Istio mutual, there by enabling istio auth for all clients (even though the server side is not enabled).

I encountered this error by looking at Pilot's cluster output where I saw TLS settings for istio-egressgate

[2018-07-11 16:18] arianmotamedi commented on #6786
Correct to both points, this is in the case where global mtls is disabled. I removed Istio and reinstalled them with global mtls (through istio-demo-auth.yaml) and the sample httpbin and sleep apps behave normally as described in https://istio.io/docs/tasks/security/mutual-tls/, but when I deploy my own app (just the app and service without any istio rules) they still can't talk to each other and

[2018-07-11 16:18] rshriram commented on #7014
You can see the in the daily release : https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.0-20180711-09-15/ where istio-demo.yaml (no auth) has a default destination rule that enables mTLS for all.

[2018-07-11 16:30] ijsnellf opened #7015 "Gateway virtual service SNI matching is ignored"
The only place we set the filter chain match SNI hosts in the gateway is here: https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/gateway.go#L414

This means we completely ignore SNI matches in virtual services that reference gateway servers.

@vadimeisenbergibm hit the issue here: https://github.com/istio/istio/issues/6876

[2018-07-11 16:30] ijsnellf commented on #7015
I have a proof of concept working to fix this.

[2018-07-11 16:31] rshriram commented on #7014
please ignore.. I can't reproduce the issue with a fresh install.

[2018-07-11 16:31] #7014 closed

[2018-07-11 16:32] ijsnellf commented on #7015
cc @vadimeisenbergibm @rshriram @ZackButcher

[2018-07-11 17:18] Richard87 opened #7018 "Problem configuring gateway/virtualservices - Only 404's"
**Describe the bug**
I have a hard time configuring the gateway, and a hard time troubleshooting/debugging the problem.

**Expected behavior**
Better feedback about what is wrong, tools to troubleshoot, like list all applied virtualservcies to a gateway etc.

**Steps to reproduce the bug**
This is my gateway:
[code]
And my vistio `VirtualService`:
[code]
and my httpbin `VirtualService`:
[code]
(no

[2018-07-11 17:43] vadimeisenbergibm commented on #6071
@frankbu no, the issue was VPN/firewall on the client side. More information is required. See also https://istio.io/docs/tasks/traffic-management/secure-ingress/#troubleshooting

[2018-07-11 18:06] prune998 commented on #6981
OK I can confirm this `bug` is resolved using the image `docker.io/istio/proxyv2:1.0.0-snapshot.0` for your sidecar (you have to change it in the `istio-sidecar-injector` configMap), the `Istio-Pilot` and both `Ingress` and `Egress` Gateways (to avoid errors)

I think we can close this for now.
Thanks @rshriram

[2018-07-11 18:15] kyessenov commented on #6804
I think I know what's happening now. For `Check()` calls on the client-side (gateway here), `destination.uid` is not available. It's only available for `Report()` (due to how envoy picks an LB endpoint post routing, not during routing). Our kubernetes adapter uses this attribute to derive `destination.namespace`, which you use in the policies. What we do know on the client during the check call is

[2018-07-11 18:17] kyessenov commented on #6804
@douglas-reid side note: it's painful to decode compressed attributes in these reports. We should print decoded attributes if possible.

[2018-07-11 18:28] kyessenov opened #7021 "Integration test for mixerplugin"
Mock pilot to apply mixerplugin and validate attribute production by envoy. Scenarios:
- [x] http routes, client and server
- [x] tcp routes, client and server
- [x] mTLS wrapped http/tcp routing

This should prevent e2e breakages caused by changes to the plugin.

/cc @hklai
/assign @kyessenov

[2018-07-11 18:29] merlineus opened #7022 "Can't communicate with cluster services by their Consul service names (404 error)"
Hi,

Our backend services are finding each other by Consul service names (app.service.consul, etc.). The project is very complex and we can't in near future switch all naming to kubernetes native  (app.default.svc.service.consul).

I've found [issue](https://github.com/istio/istio/issues/2833), and understand why it is happening, but we have a different use-case - services are not "external" for t

[2018-07-11 18:33] ymesika opened #7023 "Error when upgrading using Helm from 0.8.0 to 1.0.0"
I first installed v0.8.0 and then tried an upgrade to 1.0 using `release-1.0` with:
[code]

An error is being printed  by Helm:
[code]

[2018-07-11 18:35] #6981 closed

[2018-07-11 18:45] ijsnellf commented on #6917
Should be done now.

[2018-07-11 18:45] #6917 closed

[2018-07-11 18:45] #5243 closed

[2018-07-11 18:47] #1670 closed

[2018-07-11 18:47] #1466 closed

[2018-07-11 19:41] quanjielin commented on #6499
I hit the same error today, pilot fails to start, Citadel
```Warning  FailedMount            9m                 kubelet, gke-cluster-3-default-pool-e1805609-f6r6  Unable to mount volumes for pod "istio-pilot-5f44fc5cbd-bqtf5_istio-system(ff2c98a7-853f-11e8-90f8-42010a80003a)": timeout expired waiting for volumes to attach or mount for pod "istio-system"/"istio-pilot-5f44fc5cbd-bqtf5". list of unmo

[2018-07-11 20:10] mandarjog commented on #7023
This was the error that I was worried about in the config.istio.io -> rbac.istio.io change.

Roleref immutable.

[2018-07-11 20:56] theganyo commented on #6804
Also, using the matcher you suggested above:

   match: context.reporter.kind == "inbound" && destination.labels["app"] == "backend"

Remains unusable in latest daily build. It doesn't match any requests to my service.

[2018-07-11 21:03] Richard87 commented on #7018
seems `VirtualService` must be in the same namespace as the Gateway to work.

[2018-07-11 21:03] #7018 closed

[2018-07-11 21:22] Stono opened #7025 "Issues with Calico (NetworkPolicy) and Istio"
Hey,
We're currently trying to enable Calico NetworkPolicy for services which are currently part of our Istio mesh.  What we're seeing is rules gradually be applied, take this example..  I missed out a required inbound rule, and as you can see, gradually over time we start to see failures.

<img width="408" alt="screen shot 2018-07-11 at 22 18 25" src="https://user-images.githubusercontent.com/148

[2018-07-11 21:22] theganyo opened #7026 "Mixer start fails on Kubernetes restart"
Since moving to the 1.0 builds, the Mixer process is no longer able to properly restart if the Kubernetes environment it is running in is stopped/started or restarted. Instead, I see the following error in the both the istio-policy and istio-telemetry logs when Kubernetes is started:

    Unable to initialize Mixer: unable to listen: listen unix /sock/mixer.socket: bind: address already in use

Al

[2018-07-11 21:36] kyessenov commented on #7026
That sounds like a general problem with minikube and UDS sockets. My guess is that minkube is just dropping the sockets during restart.

[2018-07-11 22:40] liminw commented on #6984
@rshriram TCP level support is on the roadmap too. I added the item. Thanks for bringing this up.

[2018-07-11 22:48] kyessenov commented on #6804
I'll have to debug why the rule does not work... I swear it should, and tests partially exercise that. Can you confirm that the rule is placed in the same namespace as destination, and that the pod has a label `app=backend`?

[2018-07-11 22:55] gargnupur commented on #6966
I think it's because redisquota is not added to mixer/adapter/inventory.yaml which this PR tries to fix: https://github.com/istio/istio/pull/6720/files..

@wansuiye : this should not affect redisquota not working but for later.. source.service and destination.service are deprecated and you can use source.workload.name and destination.workload.name instead of them.

[2018-07-11 23:22] theganyo commented on #7026
It's Docker, not Minikube, FWIW. But this used to work fine until the recent Istio builds. My guess is that something changed in how Istio Mixer is managing its connections.

[2018-07-11 23:29] theganyo commented on #6804
Ah... ok. I'm guessing the 2nd part of that rule with `destination.labels["app"] == "backend"` is just an application label and doesn't have any special meaning? So, I should be able to simply use `context.reporter.kind == "inbound"` to match any pod in the namespace. Is that correct?

[2018-07-11 23:29] shubhaat commented on #5647
We also came across this issue. We were able to associate multiple virtual services with the same host.  What makes this more confusing is that we could not do a read or a get to see which virtual service is actually applied for the host. Ideally an operator would get an error when trying to create multiple virtual services for the same host.

To see an example, refer to the gist here: https://gis

[2018-07-12 00:34] kyessenov commented on #6804
Yes, that would match whatever pod in the namespace of the rule.

On Wed, Jul 11, 2018, 4:29 PM Scott Ganyo <notifications@github.com> wrote:

[2018-07-12 00:39] theganyo commented on #6804
Ok, thanks. So my original issue I have here is resolved. I don't know if you want to leave this open for the `destination.service.namespace/destination.namespace` and the `compressed attributes` attributes issues you mentioned above...

[2018-07-12 01:04] kyessenov commented on #6804
👍 I'll close it. I reopened this issue to be able to track it more easily from github UI.

[2018-07-12 01:04] #6804 closed

[2018-07-12 02:57] wjwinner commented on #7009
@vadimeisenbergibm

[2018-07-12 08:15] samshan08 opened #7036 "confuse about the RotationMaxAge and RotationMaxBackups"
**Describe the bug**
A clear and concise description of what the bug is.
	if options.RotateOutputPath != "" {
		rotaterSink = zapcore.AddSync(&lumberjack.Logger{
			Filename:   options.RotateOutputPath,
			MaxSize:    options.RotationMaxSize,
			MaxBackups: options.RotationMaxAge,
			MaxAge:     options.RotationMaxBackups,
		})
	}
In the section, options.RotationMaxAge value give to MaxBackups, an

[2018-07-12 09:01] dunjut commented on #5726
I'm experiencing the same issue in 0.8, don't really understand how this can be resolved so far.

Can anyone please offer more details?

[2018-07-12 09:44] Sohnny0 opened #7038 "istioctl create -f samples/bookinfo/routing/bookinfo-gateway.yaml -n sohnny Error: Internal error occurred: failed calling admission webhook "pilot.validation.istio.io": Post https://istio-galley.istio-system.svc:443/admitpilot?timeout=30s: x509: certificate signed by unknown authority"
istioctl create -f samples/bookinfo/routing/bookinfo-gateway.yaml -n sohnny
Error: Internal error occurred: failed calling admission webhook "pilot.validation.istio.io": Post https://istio-galley.istio-system.svc:443/admitpilot?timeout=30s: x509: certificate signed by unknown authority

[2018-07-12 14:17] vadimeisenbergibm commented on #7009
@wjwinner Could you please follow the steps in https://preliminary.istio.io/docs/tasks/traffic-management/secure-ingress/#troubleshooting ?

[2018-07-12 15:21] Justin-Ahn opened #7045 "Constant update of Listeners resetting TCP Connections"
**Describe the bug**
The Istio sidecars for RabbitMQ-HA and Zookeeper update the listener for the application's ports every couple of minutes, causing resets for all ports communicating with it. Note that both of these are deployed as statefulsets.

Using the logs from the run w/ Istio 1.0:

---
RabbitMQ's sidecar: (This happens every couple of minutes)
[code]
Causes:
[code]
in RabbitMQ.

---

Zoo

[2018-07-12 15:37] rshriram commented on #5916
@PiotrSikora we could really use support for destination addresses in the filter chains as it will allow us to merge multiple filter chains for the same port for cases like above. This has evne come up in the mailing lists.

[2018-07-12 15:54] krancour opened #7047 "The "jason" example is quite misleading"
[This example](https://istio.io/docs/tasks/traffic-management/request-routing/) shows routing decisions made on the basis of what user is logged in. Most users accessing the bookinfo app see reviews from reviews:v1, while authenticated user "jason" sees reviews from reviews:v2.

I know what is _really_ being demonstrated here is the ability to route traffic based on headers. Cookies, like the `use

[2018-07-12 16:06] prune998 commented on #4751
@rshriram It was either closed too early or I'm missing some config parameters when using the v2 API.
I've deployed Istios 0.8.0 + latest master images for pilot and sidecar, and I still have the limitation of 100 streams per TCP socket when a client+sidecar is talking to a server+sidecar

I'm going to re-TCP dump to understand where the issue is, but my guess is that the `egress sidecar` (on the

[2018-07-12 16:13] quanjielin commented on #7038
same issue mentioned https://github.com/istio/istio/issues/4938, which @ayj has a fix.
resolve this as dup for now.

[2018-07-12 16:13] #7038 closed

[2018-07-12 16:14] rshriram commented on #7047
YEs, we are very well aware of that. The thing is, asking users to install chrome extensions that will allow them to add more headers to a request is super clunky. The plaintext cookie was a convenient exit out of this issue. That said, we should certainly clarify in our docs that this will not hold up in the real world for cookie based routing as cookies are often encrypted/opaque to istio.

If y

[2018-07-12 16:20] ayj commented on #4938
This should be fixed by https://github.com/istio/istio/pull/6987

[2018-07-12 16:20] #4938 closed

[2018-07-12 17:00] duderino opened #7049 "1.0 Quick Start with Google Kubernetes Engine: Istio GKE Deployment Manager fails"
**Describe the bug**

The 1.0 GKE Quick Start works up to this point:  https://preliminary.istio.io/docs/setup/kubernetes/quick-start-gke-dm/#launch-deployment-manager

When I try to open the 'Istio GKE Deployment Manager' I get a blank page

**Expected behavior**

Something useful should be generated

**Steps to reproduce the bug**

Start from the top of https://preliminary.istio.io/docs/setup/ku

[2018-07-12 17:01] andraxylia commented on #5726
@dunjut can you please try the Gateway?

https://preliminary.istio.io/docs/tasks/traffic-management/ingress

with this image:
https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.0-20180711-09-15/

[2018-07-12 17:24] andraxylia commented on #5726
Best approach is to have the gateway controller handle k8s ingresses. Needs to be re-tested with latest pre 1.0 image.

[2018-07-12 17:24] krancour commented on #7047
Totally understandable. My impulse is to say it's less clunky using curl. Of course the problem then becomes that raw HTML is a terrible way to view a web page.

Would it make any kind of sense for the examples to be reworked to not involve a UI?

[2018-07-12 17:26] costinm opened #7050 "Telemetry fails to restart"
This morning my cluster had nothing in grafana, traced it back to telemetry job.

Logs from mixer:

[code]

kublectl describe:

[code]

[2018-07-12 17:49] andraxylia opened #7052 "Add k8s events to Istio resources"
It would be useful to add k8s events to Istio resources like Gateway, VirtualService etc, that could contain operational status, including errors, and that could be displayed via kubectl describe . This would be similar with what k8s has for ingresses, pods etc.

Example: If a particular configuration cannot be rejected by the webhook validators, but it is not applied because it would cause an ope

[2018-07-12 18:10] costinm commented on #7050
Noticed in the console an 'out of memory' error - so it is possible mixer container crashed, and k8s retried to restart the container in same pod and kept failing.

[2018-07-12 18:11] kyessenov commented on #7050
Thanks for catching this. We should set all istio pods with sidecars to have "restartPolicy=Never".

[2018-07-12 18:11] costinm commented on #7050
Marking as P0 since it affects stability of the system, if policy server has the same problem it can bring down everything.

[2018-07-12 18:11] costinm commented on #7050
Well, we should clean up the socket - restartPolicy is not the root cause here.

[2018-07-12 18:12] kyessenov commented on #7050
There are two issues:
1. OOMing Mixer -- why is that happening?
2. Partial Mixer pod restarts. There is no reason to keep the proxy running if mixer crashes.

[2018-07-12 18:12] kyessenov commented on #7050
If a process OOMs, good luck cleaning up dangling resources... Restarting pod is a safe procedure, since the whole sandbox goes away.

[2018-07-12 18:17] mandarjog commented on #7050
@costinm can you attach logs? what configuration is mixer running with?

[2018-07-12 18:26] andraxylia opened #7055 "Update .jinja template to not exhaust resources"
After using the deployment manager there are no resources left to add applications.

[2018-07-12 18:37] duderino opened #7057 "Bookinfo 1.0 instructions do not work for GKE"
I tried working through the https://preliminary.istio.io/docs/examples/bookinfo/ example using GKE but encountered numerous failures.

**Version**

[code]

[code]

**Is Istio Auth enabled or not?**

No

**Environment**

GKE

**Steps to reproduce**

From this point on, quotes from the guide are in bold.  My comments and command outputs are inlined.

**Steps to reproduce the bug**
**Before you begin

[2018-07-12 18:42] hklai commented on #7023
@ymesika are you fixing it?

[2018-07-12 18:44] sekka1 opened #7058 "Getting 403 on upgrade connection in the sample Websockets app"
**Describe the bug**
Using Istio 0.8.0 and trying out the websocket example:  https://github.com/istio/istio/tree/master/samples/websockets

I am getting a 403 on the websocket upgrade.

![screenshot from 2018-07-12 11-38-52](https://user-images.githubusercontent.com/575972/42652745-3272634c-85c8-11e8-9b02-3c752e741913.png)

Maybe im missing some addition steps I need to take to setup Istio to all

[2018-07-12 18:44] hklai commented on #5916
@PiotrSikora is expecting to merge this by tomorrow.

[2018-07-12 18:44] costinm opened #7059 "Upgrade issue for mixer resources"
When upgrading from 0.8, the creation of mixer CRD doesn't happen (since the job is completed and not run again).

Need to rename the job, so it gets executed, otherwise the old config will be stuck.

[2018-07-12 18:47] hklai commented on #2468
@PiotrSikora is expecting to merge the fix by tomorrow.

[2018-07-12 18:48] hklai commented on #5916
@rshriram is this meant for 1.0?

[2018-07-12 18:50] ymesika commented on #7058
Istio 0.8.0 don't have the websockets support.
It got enabled only after the release. Try with 1.0 snapshot and re-open if you still see the issue.
Thanks.

[2018-07-12 18:50] #7058 closed

[2018-07-12 18:52] douglas-reid commented on #7050
I don't believe that "restartPolicy: Never" is valid for Deployments. We need a different approach.

[2018-07-12 18:53] costinm commented on #7050
Standard mixer - logs are gone after container restart. It is a load test cluster - but same config has ran for 1 month with 0.8.

So far crashes of pilot or mixer didn't cause the pod to get stuck - it's just a uds socket that needs to be remove (or reverted to tcp - do we have numbers on performance delta ? ). We still want istio components to work on other enviroments - like VMs - where we can'

[2018-07-12 18:54] costinm commented on #7023
I suggest rolling back the rename - we decided to not rename networking from alpha3 at this point, and do all renames with K8S 1.11 is available.

[2018-07-12 18:55] ymesika commented on #7023
Guys, it's not related to the rename PR which didn't even get merged yet.
Just reported what I'm seeing when I upgrade to `release-1.0` branch.

[2018-07-12 19:00] kyessenov commented on #7050
This is a big problem for production users, too. Any application deployment with sidecars can get into this stuck state...

[2018-07-12 19:03] kyessenov commented on #7050
A standard liveness check is sufficient to fix this (and probably other issues). But we do need to check that proxy correctly handles retries and load balancing between policy pods.

[2018-07-12 19:05] arianmotamedi commented on #6786
Ok I got mTLS to work using Istio's certificates. Still trying to figure out a way to plug my own certs in.
As a side question, how does access control (https://istio.io/docs/tasks/security/secure-access-control/) work in 0.8 (alphav3 routing)? Do kinds like `denier` and `rule` still exist in alphav3?

[2018-07-12 19:26] prune998 opened #7061 "internal Istio mesh communication is limited to 100 HTTP/2 streams"
**Describe the bug**
when 2 application inside the mesh talk to each other (using the istio sidecar), the number of HTTP/2 streams are limited to 100.

**Expected behavior**
The number of streams should be limited by the client or server capability and not limited by the `proxy` (Istio Sidecar)

**Steps to reproduce the bug**
Deploy a client/server pod from https://github.com/prune998/goHelloGrpcS

[2018-07-12 19:43] ymesika commented on #7023
I can confirm that partially reverting #6390 and changing:

[code]
back to:

[code]
solves this and upgrade to current `release-1.0` works fine.

It's a fix which brings back a typo but solves this issue.

@costinm @hklai your call whether to put the typo back.

[2018-07-12 19:44] costinm commented on #7023
Ok, let's not merge it then :-)

I remember something similar in 0.8 - it happens if any labels get changed. It might be related to the 0.8 labels that got converted to 1.0.

[2018-07-12 19:45] costinm commented on #7023
Yes please, put the typo back.

[2018-07-12 19:48] costinm commented on #7050
Pretty sure no app deployment get stuck in this - it is a problem with the unix socket, and apps don't currently use that.

Just reverting to TCP socket or cleaning the unix socket will fix this - and will work for VMs too.

[2018-07-12 19:54] mandarjog commented on #7050
@kyessenov either you can revert to TCP or add liveness/readiness.
Reverting to TCP is a simpler fix.

That said, Mixer not using liveness / readiness is already an issue, so that should be fixed in 1.0 anyway.

[2018-07-12 20:00] duderino commented on #7057
my istio build was a few days old and Andra has made some recent fixes.  Will retry and reopen/update if there are any issues with the new version

[2018-07-12 20:00] #7057 closed

[2018-07-12 21:03] mandarjog commented on #7061
https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/cluster.go#L488
fixes this issue.
Are you positive that your experiment is testing H2 streams and not TCP connections themselves ?

[2018-07-12 21:14] zachgersh commented on #6782
hey @zvikaga - we've reproduced the issue (deployed a really simple puma app and saw the same malformed request).

As a workaround you can turn off istio auth and TLS should get terminated at the gateway as you expect.

I'd love if you could potentially dump the request your puma app is receiving. I've suspected that this bump is due to the fact that you are getting an request over TLS when your a

[2018-07-12 21:36] tiswanso commented on #7010
Yeah... looks like spiffe on remote is bad like you say.  This looks due to using the IP in the pilotDiscoveryAddress.

It's getting the `170` from line 165 here (170 is the 2nd octet of IP addr--gets into var discoveryHostname in this code section):
https://github.com/istio/istio/blob/master/pilot/cmd/pilot-agent/main.go#L155-L167

Will try to test with a selectorless service for pilot on the rem

[2018-07-12 22:22] andraxylia commented on #7049
We need to update this file once the 1.0 release is created

https://github.com/istio/istio/blob/master/install/gcp/deployment_manager/istio-cluster.jinja#L107

[2018-07-12 22:55] andraxylia commented on #7049
cc @salrashid123

[2018-07-12 23:01] utako commented on #6861
@KresoDenis,

Does implementing this feature for 1.1 in favor of fixing #6860 work for you? In that case, do you want to close that issue?

For this feature: are you asking to change the default timeout to 60s, or to get rid of the ability to configure specific virtual service timeouts in favor of using the default timeout for everything?

[2018-07-12 23:29] ayj commented on #7052
It's worth considering how this will work with MCP. Pilot won't access k8s directly. Event information needs to go through other API (e.g. via galley).  We're considering a status-like API that Pilot/Mixer could use to report operational status. Galley could then log to k8s events accordingly.

[2018-07-12 23:36] kyessenov commented on #6786
@arianmotamedi `denier` and `rule` still exist, as well as all the adapters we had plus more. Regarding certificate attributes, we provide `source.principal` and `destination.principal` attributes that are extracted by server sidecars (`context.reporter.kind == inbound`), and correspond to SAN URI fields. Currently, they are populated if the proxy detects that mTLS is in use (TLS is on and peer ce

[2018-07-13 00:30] sdake opened #7072 "Istio returns patch error when upgrading from 0.8.0 to 1.0.0"
**Describe the bug**
Upgrading from 0.8.0 to istio-release-1.0-20180711-09-15 fails.

**Expected behavior**
Upgrade should not fail.

|**Is Istio Auth enabled or not?**
istio-demo.yaml

**Environment**
Bare metal Kubernetes 1.10 with metallb.

**Steps to reproduce**

[code]

**Results**

[code]

[2018-07-13 00:54] andraxylia opened #7073 "Gateway secret should only be accesible to istio-ingressgateway-service-account"
https://preliminary.istio.io/docs/tasks/traffic-management/secure-ingress/
"Note that by default all the service accounts in the istio-system namespace can access this secret, so the private key can be leaked. You can change the Role-Based Access Control (RBAC) rules to protect it."

We already have rbac rules and a service account called "istio-ingressgateway-service-account", instructions should

[2018-07-13 00:55] andraxylia commented on #7073
cc @costinm @rshriram

[2018-07-13 01:37] sdake commented on #7072
For error:
[code]
Reference Kubernetes issue: https://github.com/kubernetes/kubectl/issues/221

[2018-07-13 01:51] sdake commented on #7072
`helm upgrade` also fails:

[code]

[2018-07-13 01:55] sdake commented on #7072
Looks like `helm upgrade` being worked here: https://github.com/istio/istio/issues/7023

[2018-07-13 02:29] wjwinner commented on #7009
[code]
@vadimeisenbergibm

[2018-07-13 03:22] skeeey opened #7075 "Failed to integrate the certmanager with the #6509 (or #6660) steps"
Follows the #6509 (or #6660) to integrate the certmanager, after integated, The **istio-ingressgateway-certs** in **namespace istio-system** cannot be found by

[code]

Then check the logs of **cert-manager-xxxx** pod, there are some errors
[code]

After integated, my pods:
[code]

[2018-07-13 03:42] tiswanso commented on #7010
The selectorless service and endpoint for pilot on the remote and changing the MeshConfig pilotAddress to istio-pilot.istio-system worked.

[2018-07-13 05:46] jiuchongxiao commented on #474
is envoy as daemon set in kubernetes  not recommended now?

[2018-07-13 05:50] Aleishus opened #7076 "Helm install istio 0.8 on k8s 1.11 failed"
Hi:
 I deploy the istio 0.8 in my k8s cluster 1.11 failed, I followed the  this steps.

My steps:

First
[code]
Second
[code]

and then
[code]
the pod istio-cleanup-old-ca-f8tg5 and pod istio-mixer-post-install-zkrll remain 'Completed' status after an hour

the logs:

[code]
the services
[code]

versions:
[code]
k8s cluster info
[code]

I don't know what happened and  how to solve this ,it's my fi

[2018-07-13 06:01] #7076 closed

[2018-07-13 06:30] ymesika commented on #7023
Fixed by #7062

[2018-07-13 06:30] #7023 closed

[2018-07-13 06:32] ymesika commented on #6520
With #6909 we will get in 1.0 the latest available 1.9.

[2018-07-13 06:32] #6520 closed

[2018-07-13 06:37] ymesika commented on #7047
People staring at you demoing Istio usually prefer to see something visual then Curl and terminal.
Visual also make it easy to capture the change rather than "Can you please enlarge the font? I can't see your command/output"? ;-)

[2018-07-13 07:38] binbing commented on #7076
你好，我也遇到了这个问题，请问你是怎么解决的？ @Aleishus

[2018-07-13 07:52] Aleishus commented on #7076
@binbing the pod istio-cleanup-old-ca-f8tg5 and pod istio-mixer-post-install-zkrll is job pods ，the status of 'Completed'  means the job has been done ,so this is not a problem.
[code]

[2018-07-13 08:14] binbing commented on #7076
thanks,I also deployed istio for the first time. : )

[2018-07-13 08:18] dunjut commented on #5726
@andraxylia I've tried Gateway under istio 0.8 and successfully got it worked! Thanks!

Turns out ingress(envoy) will not listen on port 80 until you explicitly tells it to (by creating a Gateway).

[2018-07-13 08:48] madjam002 opened #7077 "No healthy upstream with egress gateway"
**Describe the bug**
When following the guide here (https://istio.io/docs/tasks/traffic-management/egress-gateway/#define-an-egress-gateway-and-direct-http-traffic-through-it), trying to reach `edition.cnn.com` results in a `503` error `No healthy upstream`

**Expected behavior**
Running `curl -D - http://edition.cnn.com` should return a non 503 error.

**Steps to reproduce the bug**

Originally I

[2018-07-13 09:07] kHRISl33t commented on #7077
usually it means that it cant match for the host. Are you sure that your destination host is correct?

[2018-07-13 09:23] ymesika commented on #7077
@madjam002 You are doing it right. Just remove the `mesh` gateways entry and the 1st `match` from the `VirtualService` and you are set. Should work.

[2018-07-13 10:44] madjam002 commented on #7077
_sigh_ This was entirely my fault, it was DNS!

I have a bunch of search domains set up, and one of my zone files for my domains was causing the DNS server to return a `SERVFAIL`. For some reason, when any of the istio pods try and resolve any domain (e.g `edition.cnn.com`), it was falling over when `edition.cnn.com.mybrokensearchdomain` was returning a `SERVFAIL`. Oddly enough, none of my other p

[2018-07-13 11:49] prune998 commented on #7061
@mandarjog thanks for your answer.

- Yes, I'm using HTTP/2 gRPC streams
- I haven't created any Istio specific config
- port name in the Service and in the Deployment is defined as :
[code]

The `routeconfig` on the client is like :
[code]

and in the `dynamicActiveClusters` I have :
[code]

When the first connexion occures (as seen when making `tcpdump` on the client), I do see the `http2.settin

[2018-07-13 11:52] jiuchongxiao commented on #4368
@ronakpandya7 did you have resolved it?

[2018-07-13 11:56] prune998 commented on #7061
Just as another clue, I tried with a server without Istio....
I do see the client sending the `maxConcurrentStreams: 1073741824`, then the server replying with `maxConcurrentStreams: 50000` as specified (for testing) in my server's code.
In that situation I have no issue going above the 100 streams limit.

[2018-07-13 12:05] #7077 closed

[2018-07-13 12:17] jiuchongxiao commented on #6628
@hkshaw1990  did you have solved the issue? i have the same issue

[2018-07-13 13:20] robertpanzer opened #7080 "Using the Consul Service Registry makes the Pilot readiness check fail"
**Describe the bug**
This ticket refers to the discussion here: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/istio-users/pePAbg-ikVM/F7ALt38zAQAJ

When configuring a Consul registry for Pilot by adding the command line argument `--registries Consul,Kubernetes` the readiness check seems to fail and the Envoy sidecars no longer seem to be able to fetch the dynamic configu

[2018-07-13 14:45] esnible opened #7082 "White space in "istioctl authn tls-check" output"
`istioctl authn tls-check` outputs a report which often includes whitespace between host and port making it difficult to analyze the output

[code]

It is expected there be no space between the `:` and the port number on this report.

[2018-07-13 15:11] GregHanson commented on #7080
the readiness probe will no longer use the unsupported /v1/registration API after this PR goes through:
https://github.com/istio/istio/pull/6884

[2018-07-13 15:52] krancour commented on #7047
@ymesika @rshriram I totally agree that a demo hits harder when the audience doesn't have to carefully scrutinize the outcome, so the impact from something visual is greater. I'm convinced.

I'm very willing to PR that, but still worry "in real life... encrypted cookies... yada, yada, yada" will be overlooked in the "fine print--" meaning many readers still walk away with a false impression that r

[2018-07-13 16:11] krancour commented on #7047
Here are two small changes that could possibly fix this whole thing:

1. Ignoring for a moment that it's plain text, the audience should reasonably expect that the user cookie is a secret between the end user's browser and the product info app. What if instead of forwarding that entire cookie downstream to the reviews service, the product info page were to set a _custom header_ on the outbound req

[2018-07-13 16:43] kirgene opened #7086 "Gateway with TLS termination produce HTTP/2 without TLS (h2c) connection"
**Describe the bug**
I have Gateway with domain SSL certificates and configured TLS termination.
When I connect to server via https (HTTP/2 with TLS) I'm getting HTTP 503 error.
I've found that while envoy terminates TLS it doesn't proxy connection from HTTP/2 to HTTP/1.1.
Handling h2c (HTTP/2 without TLS) connection is a very tricky task:
for example nginx cannot handle HTTP/1.1 and HTTP/2 on the

[2018-07-13 16:52] ayj commented on #7072
#7023 address the ingress/pilot upgrade problem. This issue is caused by a change to the mixer post-install job changing. See https://github.com/istio/istio/pull/7087

[2018-07-13 17:03] sdake commented on #7072
@ayj I think there is still the tracing issue left, which i'm not clear on how to fix - so leaving this issue open.

[2018-07-13 17:32] hklai commented on #5323
e2e-pilot is no more, but https://k8s-testgrid.appspot.com/istio-postsubmits#pilot-e2e-envoyv2-v1alpha3, but the v1alpha3 version is pretty solidly green now.
https://k8s-testgrid.appspot.com/istio-postsubmits#circleci-e2e-pilot-auth-v1alpha3-v2

I see #5884 is closed and the test is still being skipped.
https://github.com/istio/istio/blob/master/tests/e2e/tests/pilot/a_zipkin_test.go#L35

[2018-07-13 17:37] janevalleye2e opened #7090 "[Istio Prelim 1.0]Control plane upgrade ERROR out on upgrade istio.yaml from stio 0.8 to istio-1.0.0-snapshot.0"
**Describe the bug**
[Istio Prelim 1.0]Control plane upgrade ERROR out on upgrade istio.yaml from stio 0.8 to istio-1.0.0-snapshot.0
Error from server (Invalid): error when applying patch
**Expected behavior**
after control plane upgrade, all services Status should be Running

**Steps to reproduce the bug**
Steps to reproduce the behavior:
1. Installation on istio-0.8.0:https: //istio.io/docs/guid

[2018-07-13 17:38] janevalleye2e commented on #7090
@kidiyoor @mandarjog @vilobhmm@costinm@sdake

[2018-07-13 18:38] nmittler commented on #5992
@Stono @rshriram @costinm

#7043 has been merged. I've been having trouble coming up with an integration test that recreates the original log message (I've been using the [simple example provided by @Stono above](https://github.com/istio/istio/issues/5992#issuecomment-394821567).

I found that #6402 changed the behavior of the listener conflict logic for TCP, meaning that post-0.8 the conflict wil

[2018-07-13 19:54] janevalleye2e commented on #7090
this also happened on Istio Prelim 1.0 helm install istio.yaml: ttps://preliminary.istio.io/docs/setup/kubernetes/helm-install/
the steps:
Install with Helm via helm template:
cd ~/istio-1.0.0-snapshot.0
helm template install/kubernetes/helm/istio --name istio --namespace istio-system > $HOME/istio.yaml
kubectl create -f $HOME/istio.yaml
kubectl get pods -n istio-system
[code]
kubectl describe pod

[2018-07-13 20:00] janevalleye2e opened #7096 "[Istio Prelim 1.0] after helm install istio.yaml, pods status ImagePullBackOff"
**Describe the bug**
after helm install istio.yaml, pods status ImagePullBackOff

**Expected behavior**
all pods -n istio-system status should be Running

**Steps to reproduce the bug**
Steps to reproduce the behavior.
this also happened on Istio Prelim 1.0 helm install istio.yaml: https://preliminary.istio.io/docs/setup/kubernetes/helm-install/
the steps:
Install with Helm via helm template:
cd ~

[2018-07-13 20:00] janevalleye2e commented on #7096
@kidiyoor @mandarjog @vilobhmm@costinm@sdake

[2018-07-13 20:35] vadimeisenbergibm commented on #7009
@wjwinner Looks OK, and what about ?
[code]

[2018-07-13 20:37] krancour opened #7097 "bookinfo build is not repeatable"
I've been hacking on some very minor changes to the bookinfo sample app in an attempt to resolve #7047.

In doing so, I've discovered that the bookinfo build is not deterministic / repeatable for at least two reasons-- there may be others, but these are the two I was able to identify and quickly correct.

1. The first is that the productinfo flask app doesn't specify versions of its dependencies i

[2018-07-13 20:57] kyessenov opened #7099 "mixer: randomness in adapters"
I think there is a problem with how caching & randomness play out in proxy/adapter integration. Currently, if the adapter wants to utilize a random coin (e.g. failure injection), then we have two choices:
1. mark `x-request-id` as referenced, which effectively disables any caching in the proxy
2. do not mark `x-request-id` as referenced, which effectively caches the random decision at the proxy,

[2018-07-13 21:10] theganyo opened #7100 "Provide contextual information to internal adapters"
It would be useful for some Mixer adapters to know if they are operating in the policy or telemetry mixer instance during initialization. For example, the Apigee adapter starts some background daemons during initialization, but some of these processes are specific to either policy decisions or telemetry.

[2018-07-13 21:53] yacut commented on #7075
@skeeey The issue is related to https://github.com/istio/istio/issues/6486. For the HTTP01 Challenge you need to include the `cm-acme-http-solver-vxt7m` pod (dynamic service) to the ingress gateway. This is not possible now, because there is no way to set a label to dynamic `cm-acme-http-solver-xxx` pod. I've created an issue for this here: https://github.com/jetstack/cert-manager/issues/672

I th

[2018-07-13 22:00] quanjielin commented on #7096
it's weird since istio-1.0.0-snapshot.0/install/kubernetes/istio-demo.yaml shows tag as ```1.0.0-snapshot.0``` , looks like we need to update tag here to ```1.0.0-snapshot.0``` - https://github.com/istio/istio/blob/release-1.0.0-snapshot.0/install/kubernetes/helm/istio/values.yaml#L16,

btw, this is not only for citadel but other images as well
https://hub.docker.com/r/istio/citadel/tags/
$ docker

[2018-07-13 22:04] quanjielin commented on #7096
@hklai @ayj

[2018-07-13 22:15] vilobhmm commented on #7096
@quanjielin : Yes this applies to a bunch of other images as well. The tag *0.8.latest* is misleading.

[2018-07-13 22:45] witlessbird opened #7107 "Task "docs/tasks/telemetry/tcp-metrics/index.md" is missing creation of DestinationRules used by "reviews" and "ratings" VirtualServices"
**Describe the bug**
After following instructions on the task page, /productpage shows "Sorry, product reviews are currently unavailable for this book" error and no tcp metrics are being collected.

**Expected behavior**
/productpage should render correctly, and tcp metrics should be collected

**Steps to reproduce the bug**
Follow the task

**Version**
What version of istio and Kubernetes are you

[2018-07-13 23:21] KresoDenis commented on #6861
Main point is that i need to have timeouts larger than 15s (30-40s)

Istio cant set it lower than 15 seconds. My opinion is that it just cant set it lower than envoy default and it just happens that default is 15s.

In theory if i can raise default to 60 it will fix my issue, and hopefully even after that i can specify timeouts in VirtualService of 40s (since 40 is lower than 60 default that i wil

[2018-07-13 23:36] mandarjog commented on #7099
Suppose we add such a `coin` attribute where some decision is based on `x <= coin <= y`.
It would be much better for the classification to take place on the proxy.  Otherwise a random number
 [0...1000] will also exhibit poor caching behaviour.

[2018-07-13 23:41] #7107 closed

[2018-07-13 23:47] mandarjog commented on #7026
duplicate of #7050

[2018-07-13 23:55] quanjielin commented on #7090
https://github.com/istio/istio/pull/7106 should be fix ```ImagePullBackOff``` error
the upgrade failure in step 2 above repro for me, @ayj

[2018-07-14 00:02] sdake commented on #7096
Recommend testing against these tarballs:
http://bit.do/istio10-latest-daily

If that fixes your problem please close this bug.

Cheers
-steve

[2018-07-14 00:04] sdake commented on #7090
This is a dup of https://github.com/istio/istio/issues/7072 - however the wrong images are used in this test case.  snapshot.0 is ~15 days old.

Cheers
-steve

[2018-07-14 00:06] sdake commented on #7061
Can you try with  a more recent revision then snapshot.0?  Look here for the latest test builds:
http://bit.do/istio10-latest-daily

[2018-07-14 00:53] costinm commented on #7072
I was able to run upgrades after the rollback for the rolebinding.
Re nodeport: we should not ship with node port for services, except maybe a 'nodeport' gateway.
Apps should be exposed using Gateway - with TCP ports or hostnames. We also need to get rid of all ingresses in helm, and make sure in review people don't add more nodeport or ingress.

[2018-07-14 01:07] mandarjog commented on #7050
I will add tcp back with uds option.
Can you use build from #7110 , I expect that I won’t get stuck.

More importantly though need to figure out why it is oom.

[2018-07-14 01:09] kyessenov commented on #7050
@costinm can you provide a profile of mixer when it OOMs? There is a pprof available. Let's focus on that, as UDS vs TCP is a triviality here.

[2018-07-14 01:15] nmittler commented on #5992
I think I have a better understanding now.  It was working, however it works in a different way than it did in 0.8.  In 1.0, the filtering occurs at the filterchain level, not at the listener level.

I've raised #7113 to improve the logging and to add a working e2e test.

[2018-07-14 01:16] costinm commented on #7050
Yes, please focus on load testing and making sure it doesn't crash.

You can use test/helm directory to reproduce - or fortio in any setup you
want, I'm running the cluster with around 3000 qps.

Last time it crashed memory was 20G - and I doubt pprof would respond, but
maybe you can catch it earlier.
It is a clear regression and it's far more urgent than the restart issue.

On Fri, Jul 13, 2018 a

[2018-07-14 01:16] costinm commented on #7050
You can check 'weekly10' cluster under istio-testing - that's where I run
the load tests.

On Fri, Jul 13, 2018 at 6:15 PM Costin Manolache <costin@gmail.com> wrote:

[2018-07-14 01:21] costinm opened #7114 "Mixer high allocation, crashing"
Splitting this from #7050, which only caught the restart issue.

Last restart mixer showed 20G - job started at 8:11, lasted until 8:14 when it crashed.

I did turn on zipkin in the load cluster - maybe that is what triggered the problems, I can try turning it off.

You can check weekly10 under istio-testing GCP project - and the tests/helm directory if you want to repro.

[2018-07-14 03:07] ayushpateria opened #7117 "gRPC load-balancing with Istio"
I'm not able to get gRPC load-balancing working with Istio 0.8.0. I've named the service port of the gRPC service as 'grpc', but still all the requests seem to be going to a single backend. Are there any more steps to be followed?

[2018-07-14 03:18] rshriram commented on #7086
Do you have a virtual service associated with the gateway? We need more info to troubleshoot. For what its worth, Envoy can autodetect h1/h2 and also convert to a (pre-specified)h2 backend or pre-specified H1 backend. We run this in our tests regularly

[2018-07-14 03:59] lizan commented on #7061
Not yet... https://github.com/envoyproxy/envoy/issues/3076

[2018-07-14 04:27] janevalleye2e opened #7118 "[Istio Prelim 1.0] Install with Helm and Tiller via helm install got Error: timed out waiting for the condition"
**Describe the bug**
[Istio Prelim 1.0] Install with Helm and Tiller via helm install got Error:
helm install install/kubernetes/helm/istio --name istio --namespace istio-system
[code]
**Expected behavior**
control plance install with helm and tiller complete without error

**Steps to reproduce the bug**
Steps to reproduce the behavior:
Option 2: Install with Helm and Tiller via helm install
cd ~/

[2018-07-14 04:29] janevalleye2e commented on #7118
@kidiyoor @mandarjog @vilobhmm @costinm @sdake @quanjielin @hklai @ayj

[2018-07-14 04:32] hklai commented on #7118
Please see https://github.com/istio/istio/pull/7106 and test using http://bit.do/admin/edit/istio10-latest-daily for now.

[2018-07-14 05:35] costinm commented on #7114
Rolled back mixer to image from 20180710 (which was pretty stable under same load) - didn't help. So maybe some config changed for mixer ? I was hoping to have a stability test running over the weekend, but  doesn't seem possible.

[2018-07-14 08:04] kubaj commented on #5726
I have same problem as mentioned above. istio-ingress and istio-ingress-gateway both have service type LoadBalancer. Without creating any resources, I can access istio-ingress with LoadBalancer IP, but I cannot access istio-ingress-gateway - it is returning 'Connection refused'.

I have tried to create Gateway and VirtualService resource according to documentation posted above, but istio-ingress-g

[2018-07-14 10:58] kirgene commented on #7086
I've updated issue description.

[2018-07-14 11:11] Rajczyk commented on #5829
Same issue here

[2018-07-14 14:30] cmluciano commented on #5642
Fixed in https://github.com/istio/istio/pull/6402

[2018-07-14 14:30] #5642 closed

[2018-07-14 15:09] costinm commented on #7010
The right fix is to change main.go in agent to not assume the discovery address is istio-pilot.istio-system.
It doesn't make sense to allow address customization if you can't use IP or domain.

I can make a quick fix, seems easy. This avoids the need for selectorless service.

[2018-07-14 15:36] tiswanso commented on #7010
Not sure how you'd have enough info to build the value for `verify_subject_alt_name` if you don't have the pilot hostname and namespace in the envoy config.  The value has to match a subjectname in the certificate [1].  It's possible we could remove the check via not adding `verify_subject_alt_name` if the discoveryAddress is an IP.  But not sure we want to try to do that for 1.0.

[1] https://www

[2018-07-14 16:01] hklai commented on #4937
Still an issue

[2018-07-14 16:42] douglas-reid commented on #7114
@geeknoid @mandarjog @kyessenov any ideas on what could be causing mem leak?

[2018-07-14 16:47] ymesika opened #7124 "CRD is left behind when uninstalling Istio"
Install / uninstall `release-1.0` and you are left with a `rbacconfigs.config.istio.io` CRD leftover instead of clean state. Steps to reproduce:

1. Install `release-1.0` with:
[code]
2. Uninstall it:
[code]
3. Get leftovers CRDs:
[code]

[2018-07-14 16:56] douglas-reid commented on #7114
Running a quick test before running out the door with 100 qps against a bookinfo test cluster, I see steady mem alloc and near constant num of goroutines.

[2018-07-14 17:39] wattli opened #7126 "Grafana file does not exist"
In this page: https://preliminary.istio.io/docs/tasks/telemetry/using-istio-dashboard/#viewing-the-istio-dashboard

install/kubernetes/addons/grafana.yaml does not exist

@douglas-reid please feel free to reassign.

[2018-07-14 17:46] costinm commented on #7114
I did a bit more testing - it appears it's not a leak, but just a capacity regression - reducing the QPS seems to solve the problem. I'll add the missing autoscaler config which solved my testing problem.

100qps is far too low to see problems - 5000 qps is where it starts to explode. That's requests in the cluster - with batching it's lower as request to telemetry.

We need to confirm this is the

[2018-07-14 18:04] kyessenov commented on #7114
Can you try with two telemetry pods in your setup? We can relieve the pressure on GC and see if that is a sustainable solution to larger load from the cluster.

I don't think there was any major change to mixer in the last week.

[2018-07-14 18:05] kyessenov commented on #7114
We should also check if any of our dependency upgrade brought some bad leak (historical lesson).

[2018-07-14 18:20] douglas-reid commented on #7114
@costinm that confirms my suspicion. with HPA, we should be ok. rate limit is the only issue. we need the redisquota stuff to work.

[2018-07-14 18:30] douglas-reid commented on #7126
this is tracked on the docs repo. https://github.com/istio/istio.github.io/issues/1739

[2018-07-14 18:30] #7126 closed

[2018-07-14 21:05] douglas-reid commented on #7114
created an initial HPA PR for mixer services. will work on refinement. @costinm do you have an understanding of scaling factors from your tests?

[2018-07-14 21:18] mandarjog commented on #7114
Ideally this should result in mixer getting slower and slower so it applies back pressure on proxies so they send mixer less work.

Perhaps at a certain point gc pauses would have become more frequent, but oom killer stepped in.

Perhaps GOGC=50 will also solve the problem at some additional cpu cost.
Gc is simply not running frequently enough.

[2018-07-14 21:42] janevalleye2e commented on #7090
upgrade from istio-0.8.0 to istio-release-1.0-20180713-09-15, I still got errors
kubectl apply -f install/kubernetes/istio.yaml
[code]

[2018-07-14 21:43] janevalleye2e commented on #7090
I got the build from https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.0-20180713-09-15/

[2018-07-14 21:45] janevalleye2e commented on #7118
on build istio-release-1.0-20180713-09-15, I have completed the above tests without errors. closed the ticket

[2018-07-14 21:45] #7118 closed

[2018-07-14 21:46] janevalleye2e commented on #7096
on build istio-release-1.0-20180713-09-15, I have completed the above tests without errors. closed the ticket

[2018-07-14 21:46] #7096 closed

[2018-07-14 23:50] rshriram commented on #7086
Is there a sidecar for the nginx pod? Or is it running without any sidecar ?

[2018-07-14 23:51] rshriram commented on #7086
I don’t think you can run applications without sidecar when you use istio auth yaml as gateway would initiate mTLS connection to backend sidecars.

[2018-07-15 02:06] douglas-reid commented on #7099
Do we have any concrete use cases for randomness in policy enforcement at the Mixer level that exist today?  Are there any Check adapters out in the wild that are referencing `x-request-id` (or similar)?

I agree that there is general utility in having a way to turn "do this for every N/1000 requests". Would like to understand the relative priority however (and how this might overlap with existing

[2018-07-15 02:08] douglas-reid commented on #7100
Right now, the only supported mechanism is to read the POD_NAME env var and see if it includes "policy" or "telemetry".

This only works for in-proc adapters, however.

[2018-07-15 03:18] Justin-Ahn commented on #7045
Let me know if you need any more info!

[2018-07-15 04:32] costinm commented on #7075
So basically it's currently broken - we should make it clear in the docs.

I looked a bit at the implementation - I've used kube-lego in the past with istio, certmanager is unbelievably complex for what it does. The problem is not that there is no way to set a dynamic label - the root problem is that they create a dynamic service and start a pod just for fun. They could handle the challenge just f

[2018-07-15 04:34] costinm commented on #7075
For 1.0 - docs and possibly remove the chart (can be left in master if we expect upstream to fix their http-10).

It appears to still depend on Ingress - which we would rather turn off.

[2018-07-15 05:22] costinm opened #7131 "Ingress broken - with more details"
I was trying to test certmanager, the gateway option doesn't work due to their over-complex way to serve a http request ( by creating a separate pod, service and ingress). Ran into ingress - which doesn't generate any routes. Looking at /debug/configz we have

[code]

and that doesn't seem to be recognized by ingress.

The gateway:

[code]

[2018-07-15 05:57] ymesika commented on #6286
Seems to be resolved by #6592 / #6144.
Reopen if it's not.

[2018-07-15 05:57] #6286 closed

[2018-07-15 06:19] ymesika commented on #6557
Fixed in #6561

[2018-07-15 06:19] #6557 closed

[2018-07-15 06:22] ymesika commented on #5310
Stale?

[2018-07-15 06:31] vadimeisenbergibm opened #7132 "Enable envoy's access log for the TCP proxy"
**Is your feature request related to a problem? Please describe.**
Currently, only HTTP requests appear in the stdout of the sidecar proxy, no TCP. I would like envoy to emit log entries about TCP connections as well.

**Describe the solution you'd like**
Switch to V2 configuration of  `envoy.tcp_proxy` and set `access_log`, similar to the HTTP filter.

[2018-07-15 06:47] costinm opened #7133 "Validation cert again"
Build from release1.0,

[code]

In galley logs:

[code]

[2018-07-15 07:04] Sohnny0 commented on #6499
istio-pilot-78cfbff654-qtdzn
ContainerCreating
MountVolume.SetUp failed for volume "istio-certs" : secrets "istio.istio-pilot-service-account" not found

[2018-07-15 07:04] ayj commented on #7133
@costinm, can you provide details on your test environment and install configuration. It looks like you might be using ILB / mesh expansion.

[2018-07-15 12:38] kirgene commented on #7086
mTLS and sidecar injection are enabled.
I noticed that when I make a HTTP connection (without `httpsRedirect: true` option) everything is working as expected.

[2018-07-15 14:53] costinm commented on #7114
I used just CPU, seems enough. I think what changed is the liveness check - can you double check that liveness is retried and is able to deal with 50xs ? While mixer is under stress - it does return a lot of 50x,
I assume liveness as well. It is possible that before it was recovering, now it dies (and since it can't restart...).

I doubt GOGC is the solution - in the end for a specific QPS you all

[2018-07-15 14:57] costinm commented on #7133
I have the gateway enable - but not using yet any expansion. The config is mostly based on tests/helm configs (with few additional tests I'm still working on)

[2018-07-15 15:41] Stono opened #7136 "Envoy shutting down before the thing it's wrapping can cause failed requests"
Hey folks,
We're seeing some brief issues when deploying applications, we've narrowed it down to the fact that under a normal shutdown process, both envoy and the application it is wrapping get their SIGTERM at the same time.

Envoy will drain and shut down, but if the other application is still doing anything as part of its shutdown process, and attempts to make an outbound connection AFTER envoy

[2018-07-15 17:21] andraxylia commented on #2413
@qiujian16 do you still plan to fix it?

[2018-07-15 18:02] rshriram commented on #7131
Error logs from Envoy ? Or pilot logs for ingress ?

[2018-07-15 19:02] mandarjog commented on #7100
Adapter code should not rely on information other that what is available in the api.

So during build check adapter, the adapter knows it is check and should do the needful.

Policy and telemetry mixers are deployment options. A customer can choose to run just one mixer and point both services to it.

[2018-07-15 19:30] janevalleye2e commented on #7090
Workaroud istio.yaml on upgrade
a. remove block Job.batch "istio-mixer-post-install"  from install/kubernetes/istio.yaml"
b. kubectl apply -f install/kubernetes/istio.yaml
command ran successfully

get pods -n istio-system
[code]
kubectl describe pod  istio-telemetry-6665669b88-mcl7k -n istio-system
[code]

[2018-07-15 20:02] janevalleye2e opened #7137 "[istio-release-1.0-20180713-09-15] Sidecar upgrade failed on invalid: spec.clusterIP: Invalid value: "": field is immutable"
**Describe the bug**
[istio-release-1.0-20180713-09-15] Sidecar upgrade failed on invalid: spec.clusterIP: Invalid value: "": field is immutable

**Expected behavior**
Sidecar upgrade should be succeed without errors

**Steps to reproduce the bug**
Steps to reproduce the behavior.
Installation on istio-0.8.0:https: //istio.io/docs/guides/bookinfo/
cd ~/istio-0.8.0
kubectl apply -f install/kubernet

[2018-07-15 20:03] janevalleye2e commented on #7137
@kidiyoor @mandarjog @vilobhmm @costinm @sdake

[2018-07-16 01:04] fredmtyro opened #7140 "503 Service Unavailable when using mTLS with egress gateway"
**Describe the bug**
The Egress Gateway configuration on the Istio 0.8.0 Tasks page (https://istio.io/docs/tasks/traffic-management/egress-gateway/) does not work when isitio has been configured with the mTLS demo configuration (install/kubernetes/istio-demo-auth.yaml) but does work with the vanilla demo configuration.

**Expected behavior**
The ongoing http request to cnn.com should be correctly

[2018-07-16 01:58] kyessenov commented on #7099
@douglas-reid

This request was not driven by a concrete use-case, but I anticipate an issue when some sort of request sampling is needed in Mixer, given how we cache decisions in the proxy. We don't have that many Check adapters yet, and I am not aware of one that references individual requests (that seems like a bad pattern anyways).

Fault injection is an obvious case where this would be useful

[2018-07-16 01:59] kyessenov commented on #7114
Renamed the issue given that we have no indicate that this is a memory leak.

[2018-07-16 03:13] mandarjog commented on #7114
Liveness is using /version endpoint that returns the  version constant string.

I don’t see it returning 5xx.

[2018-07-16 03:44] fredmtyro opened #7142 "Failed to call httpbin v1 service in Mirroring example with mTLS enabled"
**Describe the bug**
The traffic routing policy to send traffic to the httpbin v1 service in the Istio 0.8.0 Mirroring example (https://istio.io/docs/tasks/traffic-management/mirroring/) does not succeed with mTLS enabled.

**Expected behavior**
The call to the httpbin v1 service should succeed:
[code]

**Steps to reproduce the bug**
1. Install minikube
2. Install istio 0.8.0 with:
[code]
3. Follo

[2018-07-16 05:16] wjwinner commented on #7009
[code]

http is OK
[code]

but https had a mistake
[code]

can not find any certs...
[code]
@vadimeisenbergibm

[2018-07-16 05:21] hkshaw1990 commented on #6628
@jiuchongxiao yes, we need to remove `--admission-service` flag and adapt it to `0.8.0` version (can't send a PR as the templates are no longer updated). Or better yet, generating the yaml using `helm template` works, that's what I used anyway.

[2018-07-16 06:20] vadimeisenbergibm commented on #7009
@wjwinner Note that you should use port 31390 instead of 443 since your service type is `NodePort`. See the instructions here - https://istio.io/docs/tasks/traffic-management/ingress/#determining-the-ingress-ip-and-ports-when-using-a-node-port .

[2018-07-16 06:21] vadimeisenbergibm commented on #7009
Is it supposed to be "/etc/istio/ingressgateway-certs" ?

No, the ingress gateway certificate is handled differently in code.

[2018-07-16 07:31] avdhoot commented on #5455
@rshriram @andraxylia Is SNI routing is supported on ingress gateway?

[2018-07-16 08:04] zhaolingli opened #7146 "pilot-agent parameter --log_output_level does not take effect"
**Describe the bug**
Try to set pilot-agent's --log_output_level to other levels instead of default info, but there's no effect, after restart, pilot-agent still sticks to "info" log level.

**Expected behavior**
log level changed according to parameter setting.

**Steps to reproduce the bug**
set startup parameter --log_output_level error or --log_output_level default:error

**Version**
0.8.0

**

[2018-07-16 09:19] ymesika commented on #7124
Fixed by #7125

[2018-07-16 09:19] #7124 closed

[2018-07-16 09:39] wjwinner commented on #7009
The same result.
[code]

I think the point is I cannot get any certs in envoy
[code]

[2018-07-16 13:51] ahmmadkour commented on #6593
I got the same issue and it is solved after I found the solution in https://groups.google.com/forum/#!topic/istio-users/-cNoLrE5904

The cloudsql proxy service port name should not be http, the problem solved after I changed it from http to db

[2018-07-16 14:17] sdake commented on #7072
@costinm were you able to run `helm upgrade` or istio apply -f istio-demo.yaml?  It is this second case that presents the nodeport/clusterid errors.

[2018-07-16 15:15] cesarlbf commented on #5129
Waiting the new test framework to see if this is addressed. This Issue can be closed for now

[2018-07-16 15:15] #5129 closed

[2018-07-16 15:41] ozevren commented on #4235
Andy,
Reassigning this to you. It got tagged stale.

[2018-07-16 15:46] ozevren commented on #4545
Keeping stale bot happy.

[2018-07-16 16:35] gargnupur commented on #4575
https://github.com/istio/istio/pull/6710 is adding debugging support

[2018-07-16 16:43] gargnupur commented on #4536
This is completed, so closing...

[2018-07-16 16:43] #4536 closed

[2018-07-16 16:57] adamglt opened #7153 "Citadel's SPIFFE-based cert should probably include the Subject DN"
**Is your feature request related to a problem? Please describe.**
Certs generated by Citadel contain nothing but the Subject Alternative Name (SAN), in accordance with SPIFFE's view (https://github.com/spiffe/spiffe/issues/56 and https://github.com/spiffe/spiffe/pull/75/files).
This is a bit awkward for enterprise adopters that want to gradually introduce Istio into older infrastructure, which of

[2018-07-16 17:05] ayj commented on #7133
Can you provide more details on what changes you made to the default install configuration and topology (re: multi-cluster)?

The output of `kubectl get validatingwebhookconfiguration -o yaml` in all cluster(s) would also be useful.

[2018-07-16 17:19] hklai commented on #4536
To summarize, we have provided two options to run E2E tests on dev machines. The instructions are included in the revamped E2E testing guide at https://github.com/istio/istio/tree/master/tests/e2e.

If you encounter any problem, feel free to ping this issue or contact @gargnupur and me directly.

[2018-07-16 17:23] hklai commented on #4537
Prelim scheme have been documented in https://docs.google.com/document/d/10XGw9ur88zX2MuxhFoOM5j0WCLM8rQJ2g1l_bkxwPlo/edit#heading=h.svg7gk1ropw8

Some implementation is done, but we plan to roll out the checks slowly to minimize impact.

[2018-07-16 17:24] hklai commented on #4540
Seb is working on getting comprehensive test coverage data from E2E tests.

[2018-07-16 17:28] hklai commented on #4572
Pending availability of the new test framework.

[2018-07-16 17:29] Bulat-Gumerov commented on #1024
Can anyone give a link for example YAML on how to use istio ingress in GKE with static IP? I've already tried with regional static IP, no success.

[2018-07-16 17:53] hklai commented on #4539
Pending categorization scheme rollout.

[2018-07-16 17:57] tiswanso commented on #7010
Added doc PR for setup and example:  https://github.com/istio/istio.github.io/pull/1833

[2018-07-16 18:49] jaredeis commented on #5327
@esnible, is anyone looking at this issue where MTLS is enabled?

[2018-07-16 18:58] smawson opened #7159 "Enabling prometheus ingress using helm template results in an error"
helm template install/kubernetes/helm/istio --name istio --namespace istio-system --set prometheus.ingress.enabled=true > $HOME/istio.yaml

kubectl create namespace istio-system

kubectl create -f $HOME/istio.yaml

Result:
Error from server (Invalid): error when creating "/home/sven/istio.yaml": Ingress.extensions "prometheus" is invalid: spec: Invalid value: []extensions.IngressRule(nil): either

[2018-07-16 19:07] vilobhmm commented on #7090
@sdake @costinm : ^^

[2018-07-16 19:22] justinburke commented on #7153
Hi, could you say a bit more about this older infrastructure. Presumably the infrastructure isn't able to parse the SAN extension field or URIs, correct? Additionally, the older code isn't going to be able to interpret the "spiffe://" URI format (otherwise it would just be updated to pluck the URI from the SAN field directly). Can you help us better understand the goal of copying the SPIFFE URI in

[2018-07-16 19:24] justinburke commented on #7153
cc @evan2645

[2018-07-16 19:50] quanjielin commented on #7142
repro in latest release-1.0 branch, gke env.
same error is hit even before setting mirroring when mTLS is enabled.

[2018-07-16 19:56] adamglt commented on #7153
Well, the systems I'm talking mostly verify clients with basic ACL/Whitelist based stuff.
So they'd have the basic capability to inspect a subject DN (signed by a trusted CA) and verify it, with no real parsing beyond that.
The full spiffe URI would just be like any other "service identity" string.

[2018-07-16 20:07] vinayvenkat commented on #6490
@guptasu I have a follow up question. Maybe its a candidate for a totally separate question but its kind of related.

I've deployed istio and my custom adapter etc on kubernetes cluster on GKE. I've deployed a custom operator config and want to see my sample adapter in action. I've added some logic in my custom adapter that when called it sends out a tweet to be able to identify that my adapter is

[2018-07-16 20:13] jon-whit commented on #2802
I'd be happy to do this for the Istio community as I have an immediate need for it in my work as well. However, I could use a quick outline of the things I'll need to do to introduce a new Value type. I've done quite a bit of searching through the codebase and it appears the primary sources that need to be modified (not including test files) are:
[code]

Is that correct? Also, any quick tips to ad

[2018-07-16 20:16] ozevren opened #7161 "BookInfo guide page is missing injection labelling step"
The apply step for automatic injection in the Bookinfo page is missing details about creation of a namespace (or tagging with istio-injection).

https://preliminary.istio.io/docs/examples/bookinfo/#if-you-are-running-on-kubernetes

If the guide is followed in isolation, it is very easy to miss this and end up with a deployment without injection.

When not done, user sees 503s when performing the c

[2018-07-16 20:17] douglas-reid commented on #2802
I believe you will first need to introduce the new value type in the istio/api repo (https://github.com/istio/api/blob/master/policy/v1beta1/value_type.proto)

[2018-07-16 20:20] jon-whit commented on #2802
@douglas-reid I was just going to add that :)

Looks like `value_type.proto` in api/policy/v1beta1, correct?

[2018-07-16 20:21] ozevren opened #7163 "Unnecessary use of istioctl in BookInfo page"
https://preliminary.istio.io/docs/examples/bookinfo/#if-you-are-running-on-kubernetes

"Define the ingress gateway for the application" step is using istioctl, whereas all other commands are kubectl. Use of istioctl is not necessary as it does "-f apply".

[2018-07-16 20:23] ozevren commented on #7163
istioctl is not necessary in the uninstall/kubernetes steps.

[2018-07-16 20:36] guptasu commented on #6490
+ @mandarjog @douglas-reid . Mixer debug logs have details on what adapter was invoked and what config was resolved (if any). Most of the time, I have observed, it is the incorrect operator configuration that results into adapter not getting triggered; might not be the case here.

@mandarjog do we have documentation on how to enable Mixer debug logs, or are they enabled by default ? (I think add

[2018-07-16 20:36] ayj commented on #7161
cc @sdake @ostromart

Steve, I think you had some thoughts on consolidating references to automatic injection configuration throughout the docs?

[2018-07-16 20:38] guptasu commented on #6490
adding @geeknoid also

[2018-07-16 20:48] ldemailly commented on #576
...

[2018-07-16 20:57] texzone opened #15745 "Security issues granting istio l7 load balancer admin privileges"
Hello,

It is my understanding that istio needs root access to my (kubernetes) containers to work in order to modify iptables (and perhaps other things). Is there a workaround for this? I would love to have istio as my load balancer implementation, but there are security issues attached with granting it root access. It would be great if either my understanding is incorrect or this issue has been f

[2018-07-16 22:02] vinayvenkat commented on #6490
@guptasu Thanks for the response. Which file would I enable the log output that you have shown? I think I'm very close and would love to close the loop on this.
Thanks!

[2018-07-16 22:19] quanjielin commented on #7140
seems I couldn't repro this using latest 1.0 daily build in gke env, could you pls try testing against:
http://bit.do/istio10-latest-daily ?

btw current 1.0.0 snapshot is cut in late June, @hklai will cut another snapshot from latest 1.0 branch this week.

[2018-07-16 22:23] mandarjog opened #7166 "Proxy communicates with Mixer over plaintext even with auth enabled"
Even when auth is enabled, proxy communicates with Mixer over plain text.
[code]

[2018-07-16 22:30] hklai commented on #1647
Given the tests have been fairly green in both post and pre submit, I think the need for something like this has diminished....

[2018-07-16 22:30] #1647 closed

[2018-07-16 22:32] ozevren opened #7167 "Missing cleanup step in the telemetry task."
https://preliminary.istio.io/docs/tasks/telemetry/metrics-logs/

This page starts a port-forwarder for accessing Prometheus, but does not instruct to clean it up in the cleanup stage.

[2018-07-16 22:35] pmg007 opened #7168 "lds, rds cds network fetch failure errors"
**Describe the bug**
I am trying to deploy pilot in a pod in a pool in a namespace. What I am looking forward to is that this pilot should be able to make two other apps, say product app and details app(from bookinfo example) communicate to each other when these two apps are deployed in another namespace in different pools. pilot is temporarily on 10.180.86.172:8081
Like
NS1: pool1(8081): pilot(ha

[2018-07-16 22:35] ozevren opened #7169 "Wrong metric name in "Querying Metrics from Prometheus""
https://preliminary.istio.io/docs/tasks/telemetry/querying-metrics/

Instructions ask to enter "istio_request_count", but this doesn't exist. "istio_request_bytes_count" works.

[2018-07-16 22:39] hklai commented on #5608
Let's track race test problems and updates in https://github.com/istio/istio/issues/4235 going forward.

[2018-07-16 22:39] #5608 closed

[2018-07-16 22:40] ozevren commented on #7167
Ditto for https://preliminary.istio.io/docs/tasks/telemetry/distributed-tracing/

(Correct example: https://preliminary.istio.io/docs/tasks/telemetry/querying-metrics/ )

[2018-07-16 22:41] quanjielin commented on #6411
looks like https://github.com/grpc/grpc/pull/15909 is now in https://github.com/grpc/grpc/releases

[2018-07-16 22:41] hklai commented on #5338
Ping @ostromart

[2018-07-16 22:44] hklai commented on #4017
They are fairly solidly green now.
https://k8s-testgrid.appspot.com/istio-presubmits#e2e-bookInfoTests-envoyv2-v1alpha3

[2018-07-16 22:44] #4017 closed

[2018-07-16 22:49] ozevren opened #7171 "Grafana task for 1.0 is broken with multiple issues."
https://preliminary.istio.io/docs/tasks/telemetry/using-istio-dashboard/

1)
Instructions ask to do:
$ kubectl apply -f install/kubernetes/addons/grafana.yaml
However, addons/ directory is empty.

Grafana is already installed and running.

[code]

2)
Following instructions further, trying to access the dashboard (after port-forward) causes Grafana web UI to come-up but the dashboard is not found.

[2018-07-16 22:50] mandarjog commented on #7166
The above configuration is generated unless deprecated `auth_policy: istio_mutual` is also set.
PR #7156 fixes this problem.

[2018-07-16 23:06] kyessenov commented on #7166
It would be good to deprecate all the unused configuration options for real.

[2018-07-16 23:23] andraxylia commented on #3745
not stale

[2018-07-16 23:32] douglas-reid commented on #7050
closing, as resolved in UDS fix #7110.

[2018-07-16 23:32] #7050 closed

[2018-07-17 00:31] Sohnny0 opened #7174 "MountVolume.SetUp failed for volume "istio-certs" : secrets "istio.istio-pilot-service-account" not found"
**Describe the bug**
![image](https://user-images.githubusercontent.com/11869240/42790053-56813d22-899b-11e8-9971-986ec38e359e.png)

The other deployments were normal, and only three had problems

**Steps to reproduce the bug**
$ kubectl apply -f install/kubernetes/istio.yaml

**Version**
1.0

**Is Istio Auth enabled or not?**
not

**Environment**
OS

[2018-07-17 01:00] nmittler commented on #5992
Quick update, the following have been submitted related to this issue:

#7101 (TCP routing cleanups/bug fixes: part 1)
#7113 (Improve outbound listener conflict messages)
#7160 (Adding unit test for TCP over TCP conflicts.)

The last piece an e2e test which is out for review (#7173).  Once that's in, we can mark this as fixed.

[2018-07-17 01:07] irisdingbj commented on #6572
User can log in the istio-proxy container and use the envoy admin port to get the envoy version they used, eg: curl localhost:15000/server_info
envoy 0/1.7.0-dev//RELEASE live 58024 58024 0

So seems we only need to add a doc about this?

[2018-07-17 01:10] irisdingbj commented on #6572
@elevran @rshriram  what is your comments about above way to get envoy version? If you agree that method, I will submit a PR to add info in our doc.

[2018-07-17 01:14] rshriram commented on #6572
Envoy version will not work because of the way we compile Istio proxy. But if you figure out how to add the version info while compiling proxy, it would be very helpful. It requires some bazel stuff. Best place to start is istio/proxy code - look at the bazel stuff used to compile. And compare with how envoy adds the version info using Bazel.

[2018-07-17 01:36] irisdingbj commented on #6572
@rshriram sorry but I have not got your point about " Envoy version will not work because of the way we compile Istio proxy."
I logged in my istio-proxy container and can get the version info: curl localhost:15000/server_info
envoy 0/1.7.0-dev//RELEASE live 57964 57964 0

The istio-proxy container image I used is:
istio-proxy:
    Container ID:  docker://03d73e719a5231254d845daa3095b03112da8bf94c8

[2018-07-17 02:08] juliaaano commented on #6071
I am having this issue specifically when using a AWS NLB with a Istio Gateway on HTTPS.

From istio-ingressgateway logs:

The gateway and virtualservice are not working under that scenario (requests are not routed). **Notice it does work with the following combinations:**

- AWS ELB (classic) and HTTPS
- AWS NLB and HTTP

From istio-ingressgateway k8s service definition (notice the annotations to

[2018-07-17 02:09] quanjielin commented on #7174
looks like a dup of https://github.com/istio/istio/issues/6499
btw, where do you get the build from ? it's weird that chart label show 0.8 in above screenshot. (now we test against 1.0 daily release http://bit.do/istio10-latest-daily)

[2018-07-17 02:23] Sohnny0 commented on #7174
@quanjielin   I downloaded it here : https://github.com/istio/istio/releases
istio-1.0.0-snapshot.0-linux.tar.gz
$ kubectl apply -f install/kubernetes/istio-demo.yaml

[2018-07-17 02:29] quanjielin commented on #7174
current 1.0 snapshot is cut end of June, @hklai will cut a new snapshot this week; meanwhile could you pls use the daily build for testing ? thanks.

[2018-07-17 02:42] Sohnny0 commented on #7174
@quanjielin ok, thanks.

[2018-07-17 03:35] fredmtyro commented on #7140
Thanks for the feedback. I retried with istio-release-1.0-20180716-16-37 from the link you provided but still had the same issue:
[code]

Versions:
[code]

Anything else I can try on my end?

[2018-07-17 03:37] 249043822 opened #7176 "Ingressgateway could not start port 80/443 on version Istio 1.0.0.snapshot.0"
[root@localhost kubernetes]# kubectl get po -n istio-system
NAME                                        READY     STATUS    RESTARTS   AGE
grafana-58c57db696-xzp2h                    1/1       Running   0          1m
istio-citadel-67c9c94d9-hll9z               1/1       Running   0          1m
istio-egressgateway-6b4f9d4776-fqdn5        1/1       Running   0          1m
istio-galley-5bc6c64d85-9cb

[2018-07-17 05:13] douglas-reid commented on #4323
client-side reporting was added to Istio and should now reflect fault injections.

[2018-07-17 05:13] #4323 closed

[2018-07-17 05:21] adamglt commented on #7153
More specific example: most Java-based stuff (e.g. Kafka, Cassandra, other Apache stuff) usually default to the JDK's implementation of inspecting an X509 Principal.

For example, Kafka uses this: http://hg.openjdk.java.net/jdk8u/jdk8u/jdk/file/15ef6431fffc/src/share/classes/sun/security/x509/X509CertImpl.java#l1821
(basically the subject DN)

You can obviously swap most of those out without too m

[2018-07-17 06:39] vadimeisenbergibm commented on #7009
@wjwinner Strange, I have the following output:
[code]

[2018-07-17 06:45] ymesika commented on #7171
As for the doc part, it should be updated because Grafana is now a Helm flag: https://github.com/istio/istio.github.io/issues/1739

[2018-07-17 06:47] #7169 closed

[2018-07-17 06:47] ymesika commented on #7169
Issue moved to [istio/istio.github.io #1841](https://github.com/istio/istio.github.io/issues/1841) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-17 06:48] #7167 closed

[2018-07-17 06:48] ymesika commented on #7167
Issue moved to [istio/istio.github.io #1842](https://github.com/istio/istio.github.io/issues/1842) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-17 06:49] #7163 closed

[2018-07-17 06:49] ymesika commented on #7163
Issue moved to [istio/istio.github.io #1843](https://github.com/istio/istio.github.io/issues/1843) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-17 07:09] vadimeisenbergibm commented on #7009
@wjwinner Additional check to try:
`istioctl proxy-config listeners $(kubectl get po -l istio=ingressgateway -n istio-system -o jsonpath={.items[0]..metadata.name}) -n istio-system -o json`

You should see the certificates in the output.

[2018-07-17 07:17] wjwinner commented on #7009
It works fine using daily release version.

[2018-07-17 07:18] #7009 closed

[2018-07-17 07:50] jansony1 commented on #6504
I came into the same error like shenjieyao with same configuration, except that I deploy my cluster on aws by KOPS~

[2018-07-17 10:59] JCzz opened #7179 "Documentation misunderstanding"
**Describe the bug**
I got it wrong - please delete this

[2018-07-17 11:22] munnerz commented on #6486
Subscribing to this

Please also see https://github.com/jetstack/cert-manager/issues/733 for our longer term plans - some of the requirements around formatting of the TLS key secret seem to be an issue with Istio and not cert-manager, however I'm keen to hear the Istio teams views and input so we can adapt our own proposal to fit Istio well 😄

I recently merged https://github.com/jetstack/cert-man

[2018-07-17 11:29] munnerz commented on #7075
I'm also hoping to get some e2e tests running against an Istio enabled cluster once we've finished making improvements to our e2e infrastructure. Hopefully once that's done, we can more confidently include cert-manager as part of the Istio chart/as an optional dependency 😄

[2018-07-17 11:57] ymesika commented on #6238
Fixed by #6910

[2018-07-17 11:57] #6238 closed

[2018-07-17 12:23] hargrave81 commented on #6758
I'm having a similar issue where I use a replace -f with a new weighted service yaml and the weight amounts do not update for some time.  Eventually they do but how long it takes is unknown.

[2018-07-17 12:54] SchSeba opened #7182 "Multiple pod interfaces"
**Describe the bug**
Running pods with more then one network interface makes the secondary interface connected to a physical network outside the kubernetes SDN unusable.

The traffic that came from the secondary interface is redirected to the envoy proxy by the iptable rules and the traffic is dropped.

My pod have one interface connected to the kubernetes SDN and a secondary interface connected t

[2018-07-17 14:46] yacut commented on #6486
@munnerz It will only work with Istio **<=0.7**. I've tested certmanager 0.4.0 and istio 1.0.0/0.8.0 tomorrow, the problem is not solved, because with the _[Istio 0.8 release](https://istio.io/about/notes/0.8/)_ we have the **Ingress Gateway** instead of **k8s Ingress** and the challenge resolver pod is **not** in Istio Mesh.
With a custom label for the challenge resolver pod it would be possible

[2018-07-17 14:59] jon-whit commented on #2802
@douglas-reid Do you want to assign this one to me? I'm thinking I'm going to tackle this and #6984 .

However, before I do so, I'd like to know what the plan is for RBAC in 1.0. I've heard some large changes are coming in 1.0 for the RBAC implementation, so I don't want to be contributing work that is irrelevant.

[2018-07-17 15:05] nmittler commented on #6170
appeasing the bots.

[2018-07-17 15:07] nmittler commented on #5992
#7173 is in. Marking this as fixed for now.

[2018-07-17 15:07] #5992 closed

[2018-07-17 15:15] texzone opened #7184 "Envoy requiring root privileges"
I am looking into using envoy alongside some kubernetes containers, but it came to my attention that envoy requires root access, which introduces an attack vector. I want to understand why envoy requires root permissions and if there is any work around.

[2018-07-17 15:23] robholland commented on #4865
We're suffering the same outbound issue where workers are starting to try and send outgoing connections before the proxy is configured causing errors.

[2018-07-17 15:29] costinm commented on #6486
To split the issues: I've got http01 challenge working with 1.0 (pending some fixes to Ingress code and config in istio). Not ideal - long term we should still try to switch to Gateway, but at least we can focus on the real problems.

Someone mentioned a way to place multiple certificates inside the same secret, does anyone have details ? Secrets are refreshed (with some delay), the restart is onl

[2018-07-17 15:33] costinm commented on #6486
@prune998  in your configuration, please make sure each 'port' has a different name. Spent some time debugging this, in 1.0 the port name is used to name the RDS route. We'll need to remove this limitation, but that's the current behavior.

[2018-07-17 15:39] prune998 commented on #6486
@costinm, you're right, there are many issued here :

# http01 challenge
This one is tricky as CertManager will create the needed pods/service/(...) without knowing if Istio is in use. There is an issued opened for that, but the http01 challenge seems not the right way in this situation = dns01 challenge is a better fit

# multiple certificates inside the same secret
this is done natively by CertM

[2018-07-17 15:45] douglas-reid commented on #2802
I'm happy to assign to you, but it appears github limits my abilities there. I'll try via command.

/assign jon-whit

I can't speak directly to RBAC changes, but I think this feature would be relevant outside of the RBAC use case. We would likely want to introduce functions like `in()`, etc. to handle lists along with the support and that could pay benefits down the road.

[2018-07-17 15:45] istio-testing commented on #2802
@douglas-reid: GitHub didn't allow me to assign the following users: jon-whit.

Note that only [istio members](https://github.com/orgs/istio/people) and repo collaborators can be assigned.

<details>

In response to [this](https://github.com/istio/istio/issues/2802#issuecomment-405629796):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/con

[2018-07-17 15:57] ozevren commented on #6176
Removed test.Tag. We should reopen this if we bring back method based tagging.

[2018-07-17 15:57] #6176 closed

[2018-07-17 15:59] ozevren commented on #6171
@nmittler could you take a look at this when you have time?

[2018-07-17 16:17] tiswanso commented on #7133
This issue is seen when applying an Istio install manifest generated from `helm template` with the `--set global.meshExpansion=true` arg using the release 1.0 chart.  The objects from the mesh expansion chart appear after the `ValidatingWebhookConfiguration` for `istio-galley`.  Since galley isn't up yet when the rest of the manifest is applied to the kube-api, those objects fail with the error re

[2018-07-17 16:48] kdillane commented on #6977
It looks like the line of code causing this problem could possibly be traced to these lines: https://github.com/istio/istio/blob/release-1.0/pilot/pkg/config/kube/crd/client.go#L206
https://github.com/istio/istio/blob/release-1.0/pilot/pkg/bootstrap/server.go#L517

If the API server is unreachable, say due to a scaling event, you could get back an error causing the resources to be recreated.  If p

[2018-07-17 17:20] #7179 closed

[2018-07-17 17:22] sdake commented on #7176
istio1.0.0.snapshot.0 is about 16+ days old.  can you use the latest daily here:
http://bit.do/istio10-latest-daily

[2018-07-17 17:24] sdake commented on #7161
@ayj i'd like to do so.  @ozevren can you do me a solid and file this bug against the istio docs repo.  We can collect the docs that need changing in that repo rather than here.

Cheers
-steve

[2018-07-17 17:48] quanjielin opened #7190 "missing grafana/servicegraph yaml files in install/kubernetes/addons/"
**Describe the bug**
follow https://preliminary.istio.io/docs/tasks/telemetry/using-istio-dashboard/ and https://preliminary.istio.io/docs/tasks/telemetry/servicegraph/, there should be servicegraph.yaml and grafana.yaml, however those files don't exist in latest 1.0 release daily build https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.0-20180717-09-58/

[2018-07-17 17:51] quanjielin commented on #7190
seems a similar issue as https://github.com/istio/istio/issues/6922, grafana.yaml.tmpl is removed in https://github.com/istio/istio/commit/beceb07af9bb63b83691bf7df10231a7ac6c0e55#diff-17e443480eea200223e3547be4382604

[2018-07-17 18:00] ymesika commented on #7190
Duplication of #7171
Docs needs an update: https://github.com/istio/istio.github.io/issues/1739

[2018-07-17 18:00] #7190 closed

[2018-07-17 18:13] tvieira commented on #4359
@costinm is there any reason this is not going to be released with 1.0?

[2018-07-17 18:37] navinger opened #7191 "Rename swagger.yaml to openapi.yaml"
The Swagger specification was renamed to the OpenAPI specification a couple of years ago. We need to be using the new name. Please rename swagger.yaml to openapi.yaml.

[2018-07-17 18:48] rshriram commented on #7184
Envoy does not require root privileges. It runs as user 1337 (non root).

[2018-07-17 18:52] rshriram commented on #7136
if k8s supported container dependencies, it would be a lot easier..

[2018-07-17 19:12] texzone commented on #7184
@rshriram

up vote
1
down vote
unaccept

According to the instructions I read, Envoy creates iptables rules with Envoy user UID (like in Istio).

`sudo iptables -t nat -A PREROUTING -p tcp -j REDIRECT --to-port 5001`

`sudo iptables -t nat -A OUTPUT -p tcp -j REDIRECT --to-port 5001 -m owner '!' --uid-owner ${Envoy_User_UID}`

In order to run this rule, a new user with ${Envoy_User_UID} needs to b

[2018-07-17 19:37] ozevren commented on #7161
Issue moved to [istio/istio.github.io #1859](https://github.com/istio/istio.github.io/issues/1859) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-17 19:37] #7161 closed

[2018-07-17 19:41] rshriram commented on #7184
I don't know where these instructions are from. The init container in Istio does require cap_net_admin privileges to install IPtables rules. Other than that, the sidecar runs as non-root user

[2018-07-17 19:51] texzone commented on #7184
Okay. Is there a way for me to query from istio the rules it wants to install in the iptable without actually granting it that privilege? I just want to leave as little attack vectors open as possible.

[2018-07-17 21:30] costinm commented on #6486
http01 challenge is now working with istio ( or will work when I submit #7144 ).
dns01 - I  don't think it's viable for most users, putting DNS credentials in a cluster is too risky.

[2018-07-17 22:03] costinm commented on #6486
@prune998  - I'm looking for more details on:
"As a side note, I made a modification to Cert-Manager so it can put each certificate inside different files in the same secret. It's a dirty hack, but it's working. But as the Ingress Gateway does not reload on secret change, we still reach the same issue."

since it can avoid restarting ingress gateway.

[2018-07-17 22:31] mandarjog opened #7197 "Pilot log spam: 'warn requeuing dummy, err services "istio-ingress" not found'"
Pilot logs spew the following error every 30s.

[code]

[2018-07-18 02:14] yangminzhu commented on #2802
@jon-whit
In Istio 1.0, RBAC is changed to use the upstream [Envoy RBAC filter](https://github.com/envoyproxy/envoy/tree/master/source/extensions/filters/http/rbac), you will need to add some additional support in upstream Envoy to make the RBAC filter to support list value type. This should be easy as we already have framework code in Envoy to help on this.

This could be done after you finished

[2018-07-18 03:09] xiajidexue commented on #6032
also encountered the same probelms:
[code]
[code]
[code]
[code]

[2018-07-18 06:02] adamglt commented on #7153
All good, I'll try to clarify our case (and future uses).

The JDK does provide an easy way to extract SANs, but the standard behavior we find in most systems is identifying a client using the SubjectDN.
Specifically in Kafka, the default behavior for extracting a string-based ID from a session is here: https://github.com/apache/kafka/blob/65b5ccf6413369aa4f21c72abcdf31ca72a79b00/clients/src/main/

[2018-07-18 06:18] irisdingbj commented on #6727
@LillyWu  After you run 'kubectl delete ns foo bar legacy' you need to wait for a while to let the namespace get deleted clean. You can double confirm via 'kubectl get namespaces' to make sure all namespaces disappears.  When it is still in 'Terminating' status you will see the policy still there via 'istioctl get policy' . But when the namespace has been deleted, the policy will be deleted as wel

[2018-07-18 06:41] ymesika commented on #6727
@irisdingbj Thanks for testing it on IKS.
@LillyWu Please re-open if it indeed doesn't clean up eventually.

[2018-07-18 06:41] #6727 closed

[2018-07-18 06:45] LillyWu commented on #6727
@irisdingbj Thank you for your reply. And I re-tried it. The policies are deleted as expected.

[2018-07-18 07:17] vadimeisenbergibm commented on #6071
@juliaaano This ELB and HTTPS, you get the same warning, don't you? What is different in your configuration between ELB and NLB, only the annotations? Are the VirtualService and Gateway definitions the same?

[2018-07-18 07:31] LillyWu commented on #7197
an existing issue: https://github.com/istio/istio/issues/6100

[2018-07-18 08:54] sdake commented on #7174
@Sohnny0 for reference, the latest daily is here: http://bit.do/istio10-latest-daily

[2018-07-18 08:56] sdake commented on #7137
@ayj any thoughts?

[2018-07-18 09:00] sdake commented on #7090
@janevalleye2e there have been several fixes in this area in the last few days.  We are aware there are problems with upgrade.  Would appreciate if you could try with the latest daily.  I believe there is still one issue left as described here:
https://github.com/istio/istio/issues/7072#issuecomment-404699629

[2018-07-18 09:49] LillyWu commented on #7159
@smawson  I have tested this in 0.8 in IBM Kubernetes Services, and I countered the same situation with you.

After I checked the details of the istio.yaml file, I found the `rules` list is empty as
[code]
Then I checked the charts template ingress.yaml and found the rules will be set with iteratoring the hosts. the templates is located in `istio-0.8.0/install/kubernetes/helm/istio/charts/promethe

[2018-07-18 10:29] LillyWu commented on #7159
^^^ Make a update for the doc too

[2018-07-18 10:36] vadimeisenbergibm commented on #6856
@jasmine-jaksic Will do it today or tomorrow, sorry, had urgent tasks to perform.

[2018-07-18 10:38] xiajidexue opened #7212 "istio-ingressgateway fails to be scaled"
**Describe the bug**
In order to serve more endpoints and HA,  istio-ingressgateway needs to be scaled to more replicas, but unfortunately, which fails to be scaled, and always keeps the replica as 1.

**Expected behavior**
istio-ingressgateway can to be can be scaled.

**Steps to reproduce the bug**
1. kubectl -n istio-system scale --replicas=3 deploy istio-ingressgateway
[code]
2. kubectl get de

[2018-07-18 11:30] dunjut opened #7213 "make proxy admin address a configurable option"
**Is your feature request related to a problem? Please describe.**
We're going to replace nginx-ingress-controller with istio-ingress-gateway (combined with pilot,  citadel) in a bare-metal kubernetes cluster. For ingress traffic metrics, we'd like to configure exsiting prometheus server to directly scrape from envoy's admin API (/stats/prometheus). The istio-ingress-gateway is deployed using host

[2018-07-18 11:33] dunjut commented on #7213
If this is acceptable to the community, we can help to fire a PR.

[2018-07-18 15:33] andelhie commented on #6974
that fine if it has to wait.

[2018-07-18 16:53] maximbaz commented on #5916
I can reproduce this even without specifying `addresses` at all.

Just having this ServiceEntry allows access to _any domain_ via https:

[code]

[2018-07-18 18:15] andraxylia opened #7221 "Rbac CRDs not deleted after un-install"
$ k get crd --all-namespaces
NAME                                    AGE
rbacconfigs.config.istio.io             2d

[2018-07-18 18:21] andraxylia commented on #7221
This was with release of July 15. I will try with image from 17.

[2018-07-18 18:21] #7221 closed, assigned to liminw, ymesika

[2018-07-18 19:00] andraxylia opened #7223 "The “mesh” gateway should exist also in the config"
The “mesh” gateway should exist also in the config for the istio installation, not just as a concept, since the configured VirtualServices refer explicitly to it.

[2018-07-18 20:00] kvudata opened #7224 "Telemetry logging incorrect for reverse proxy response"
**Describe the bug**
I'm using the default setup which sets up a default LogEntry[1]. My application is setup such that ingress goes to an nginx reverse proxy which proxies to a gunicorn server.
The telemetry access logs seem to fail to extract the attributes and show up incorrect in the mixer logs[2] for the reverse proxy response.

Here's an example of the logs:
[code]
You can see that the sourc

[2018-07-18 20:16] rshriram commented on #5916
Yes, this is for 1.0. Waiting on https://github.com/envoyproxy/envoy/pull/3890 to land

[2018-07-18 20:20] kyessenov commented on #7021
ref #7170

[2018-07-18 20:21] kyessenov commented on #6711
@mandarjog who owns servicecontrol adapter? we should clean it up sooner than later to remove context-based `destination.service` as part of deprecation of `destination.service`.

[2018-07-18 20:39] douglas-reid commented on #7224
For incoming requests to ingress, I would not expect `connection.mtls` to be `true`. That does not mean that Istio is not using mTLS for in-mesh traffic but rather that at the boundary of your mesh, the incoming traffic is not using mTLS.

For traffic originating outside the mesh, Istio knows nothing about the source of the traffic, other than the source IP Address.

The logs seem to be working, f

[2018-07-18 20:39] #7224 closed

[2018-07-18 20:41] douglas-reid commented on #7212
The ingressgateway deploys with a spec for autoscaling: https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/gateways/templates/autoscale.yaml. I don't know what happens when you try to scale around that configuration, but I suspect the autoscaler wins.

[2018-07-18 20:42] douglas-reid commented on #7171
There is an outstanding PR in the docs repo for this (as well as associated issues). Let's track the work there.

[2018-07-18 20:43] douglas-reid commented on #7159
We are removing ingress support from helm in favor of ingressgateway support. There will be some realignment when the final strategy for that support is resolved.

cc: @costinm

[2018-07-18 20:51] ozevren commented on #7171
The issue is not docs only. The task didn't work.  I couldn't access the dashboard.

[2018-07-18 20:52] douglas-reid commented on #7171
it is a docs issue. the task, as properly written, provides access to the dashboard.

[2018-07-18 21:13] ozevren commented on #7171
ok then. :)

[2018-07-18 21:45] costinm commented on #7133
Yes, I've seen it. The post-install hack is pretty horrible.
Can we have someone remove the webhook from helm and add it from the POD ?

[2018-07-18 21:45] costinm commented on #7133
There are other places - grafana, etc - that are starting to add VirtualServices and other istio CRDs. We can't move all that to scripts just to not have to change the webhook.

[2018-07-18 21:48] costinm commented on #6486
The files in the Secret are automatically updated - with some delay. And renewal is certainly not a concern, it's every few months.

We already support each Gateay having its own certificate - using SNI, that's not a problem.

What I still don't know - and is not at all clear - is how to get certmanager to put a new cert in an existing Secret.

[2018-07-18 21:53] costinm commented on #6486
``` If successful, the resulting key and certificate will be stored in a secret named acme-crt-secret with keys of tls.key and tls.crt respectively```

What we need is to store them in acme-crt-secret - but with custom names (foo.key and foo.crt)

[2018-07-18 22:06] ayj commented on #7133
`kubectl delete -f istio.yaml` won't remove all Istio anymore. User's will need to run `kubectl delete validatingwebhookconfiguration istio-galley`.

[2018-07-18 22:09] costinm commented on #7133
If we install CRs with post-install - same will be the case but for far
more resources.

Besides - we're not optimizing for delete, and deleting the namespace is
the safest option for uninstall.

On Wed, Jul 18, 2018 at 3:06 PM Jason Young <notifications@github.com>
wrote:

[2018-07-18 22:09] ayj commented on #7133
Also, my understanding is we'll still need a post-install hook to sequence install order between CRD and CR.

[2018-07-18 22:11] ayj commented on #7133
validatingwebhookconfiguration is cluster scoped. It isn't removed when the namespace is deleted. On the other hand, CR will be deleted if their corresponding CRD are deleted.

[2018-07-18 22:11] costinm commented on #7133
We are working on some options for that.
We may put all CRDs in a file, or use the pre-install.

On Wed, Jul 18, 2018 at 3:09 PM Jason Young <notifications@github.com>
wrote:

[2018-07-18 22:12] costinm commented on #7133
It's fine to have an extra step for delete. It's not critical to make
uninstall as easy as possible - install is what we need to optimize.

On Wed, Jul 18, 2018 at 3:11 PM Jason Young <notifications@github.com>
wrote:

[2018-07-18 22:14] costinm commented on #7133
BTW - we need to add the pre-install hook annotations - at least helm
install will work better.
Even if require recent helm - the annotations don't hurt.

On Wed, Jul 18, 2018 at 3:12 PM Costin Manolache <costin@gmail.com> wrote:

[2018-07-18 22:29] imhotepio opened #7231 "1.0.0-snapshot.0 issue or pilot error on retries??"
**Describe the bug**
I am having issues setting up a retry rule using istio 1.0 preview release.

I have the following rule setup:

[code]

Using a special cookie, svc1 calls will fail once every 5 calls. Using this policy I am
expecting the call to be retried 5 times and hence eventually succeed but the mesh never retries
the call once it fails. I have been watching the service logs and don't see

[2018-07-19 00:59] jansony1 opened #7233 "Istio sidecar auto injection not work, with kops deployment on AWS"
**Describe the bug**
Istio sidecar auto injection not work, while work fines manually. In detail, when i deploy helloworld exmple in default ns with istio-injection labeled, there is no pods shown up in there

**Expected behavior**
Istio sidecar auto injection could work

**Steps to reproduce the bug**
Steps to reproduce the behavior.
#### 1. deploy istio by helm with no error
`helm install instal

[2018-07-19 01:23] ayj commented on #7133
See https://github.com/istio/istio/pull/7234.

[2018-07-19 02:13] ayushpateria opened #7235 "Envoy is crashing and making the node restart"
**Describe the bug**
I'm trying to get the bookinfo example working on a large k8s cluster with about 20 nodes and 100 deployments. The problem is I'm not able to access any of the Istio injected pods. I tried accessing the productdetails pod by accessing it via cluster IP (through a non-Istio pod), but the request never gets through. Moreover, after some time the node on which the productpage pod

[2018-07-19 02:16] rshriram commented on #6937
we already have this.

[2018-07-19 03:37] LillyWu commented on #7212
@douglas-reid  you're right, the autoscaler wins.  After deploy istio, we could see
[code]
and once we scale the istio-ingressgateway it will be scaled down directly which could be verified from the deploy describe log
[code]
I tried to change the `maxReplicas` from 1 to 10 in `istio/charts/ingressgateway/templates/autoscale.yaml` in `istio.yaml` and apply the new `istio.yaml ` file.  Rerun the sc

[2018-07-19 03:56] xiajidexue commented on #7212
@douglas-reid ,thanks for your quick response and suggestion, i have tried HPA, it helps :)

[2018-07-19 03:56] #7212 closed

[2018-07-19 04:56] LillyWu commented on #7212
@douglas-reid  the goodness is that the `maxReplicas` for `istio-ingressgateway` has been updated to `5` in the [master branch](https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/values.yaml#L164). I make a PR to update the `maxReplicas` for `istio-egressgateway` here, please check:  https://github.com/istio/istio/pull/7238

As the ingress will be replaced with ingressgateway

[2018-07-19 06:47] LillyWu commented on #7146
@zhaolingli  pilot-agent command is ephemeral and the settings you override in the command is only valid to the present shell.

If you check the log appended to the `pilot-agent proxy`, you would find that a new agent will be started, below is an example
[code]
so when your restart, the previous process has been killed, and another new proxy agent will be created again.

[2018-07-19 08:36] kubaj opened #7239 "Sidecar injector admission webhook not working"
**Describe the bug**
Pod is not created after creating Deployment in a namespace with automatic istio injection enabled. Error below is shown:
[code]

**Expected behavior**
Pod is created and envoy proxy is injected as a sidecar.

**Steps to reproduce the bug**

1. Create cluster on the Google Kubernetes Engine with RBAC enabled
2. Install Helm with service account provided in the Istio Helm insta

[2018-07-19 09:59] claudio-benfatto commented on #6071
I'm also experiencing a similar issue.

In my case using an `NLB` in combination with `HTTPS` (I've tried an `ELB` as well with no better luck).

What I see is:
[code]
and a very similar error is also thrown if I try to connect internally to the ClusterIp of the service:
[code]

Certificates have been created as suggested using https://github.com/nicholasjackson/mtls-go-example

This is the result

[2018-07-19 10:32] zhaolingli commented on #7146
@LillyWu Thanks for your suggestion. And I've tested your command sending to the running istio-ingressgateway pod. However the new pilot-agent process will not replace the original one (#1 process inside the container), and continuously prompt warning messages as below:

`kubectl -n istio-system exec istio-ingressgateway-7fd58cd89f-th6f4 -- pilot-agent proxy
2018-07-19T09:26:58.602365Z     info

[2018-07-19 10:38] prune998 commented on #6486
@costinm this is exactly what my patch was doing.
note that, by default, the Istio Ingress Gateway is only mounting the secret `istio-ingressgateway-certs` in `/etc/istio/ingressgateway-certs`.
By default this secret is a `TLS secret`, which implies a `tls.crt` and `tls.key`, which is not what you want if you need to use one file per certificate.

When Cert-Manager is told to put all the certifica

[2018-07-19 11:51] vadimeisenbergibm commented on #6071
@claudio-benfatto Note that you do not have the key and the certificate in /etc/istio/ingressgateway-certs:

https://preliminary.istio.io/docs/tasks/traffic-management/secure-ingress/#troubleshooting

[2018-07-19 12:04] rshriram commented on #6937
https://preliminary.istio.io/docs/reference/config/istio.networking.v1alpha3.html#LoadBalancerSettings-ConsistentHashLB

[2018-07-19 12:05] bzon commented on #7233
@jansony1  I'm running istio in a k8s provisioned cluster in AWS right now and the side car injection webhook __works__. Same version with yours.

Have you followed [this guide](https://istio.io/docs/setup/kubernetes/quick-start/#aws-w-kops)?

Use [this guide](https://istio.io/docs/setup/kubernetes/sidecar-injection/#automatic-sidecar-injection) to verify side car injection.

[2018-07-19 12:14] zvikaga commented on #6782
Hi, sorry for the delay with response. Greatly appreciate your efforts on this.
Due to time limitations I'll get back to this in few days.

Many thanks

[2018-07-19 13:02] vinayvenkat commented on #6605
@sdake Thank you for the response. Apologies for the delay in responding. You are right. I upgraded to a newer version (0.10.x) and then used helm to deploy istio. With this it all worked.

[2018-07-19 13:02] #6605 closed

[2018-07-19 14:02] prune998 commented on #6469
@andraxylia (as you were named for this bug), I'm just testing the latest release, using images `release-1.0-latest-daily`.

What I see now is the exact same behaviour as the one described first in this issue.
Here are the `istio-ingressgateway` logs for 2 tests, first without the port, second with the port :
[code]

**BUT**

I can't add  a host that contains a port number anymore (`<host>:<port>`

[2018-07-19 14:03] ronakpandya7 opened #7242 "Istio gateway not working with any other port except 80 and 443"
**Describe the bug**
Hello,
We are using istio with istio auth enable and expose the istio ingress controller using NodePort.

[code]

Services:

[code]

Issue is we are not able to use any other ports in istio gateway except standard Ports(80/443) for domain.

We are trying to call our domain with the port 5000 (test.com:5000) but it always gives the following error in ingress log [404 NOTFOUND]:

[2018-07-19 14:23] chen23 opened #7243 "Tracing helm chart omits type for service "tracing""
**Describe the bug**
When deploying tracing via helm, the chart does not specify the service type (ClusterIP, NodePort, LoadBalancer) in the template.

**Expected behavior**
specifying "--set tracing.service.type=NodePort" will update both "zipkin" and "tracing" service (currently only updates "zipkin").

**Steps to reproduce the bug**
deploy helm using "--set tracing.enabled=true --set tracing.se

[2018-07-19 14:24] tiswanso opened #7244 "istio-remote helm sidecar-injector-configmap template is invalid yaml when rendered"
**Describe the bug**
PR #7123 introduced a couple extra spaces before the `VolumeMount` section in the sidecar template:  https://github.com/istio/istio/blame/release-1.0/install/kubernetes/helm/istio-remote/templates/sidecar-injector-configmap.yaml#L152

On remote clusters, this causes errors like this for auto-sidecar injection and manual injection with `istioctl kube-inject` using the configmap

[2018-07-19 14:31] tiswanso commented on #7239
This looks similar to issue #7244 but for the main templates/sidecar-injector-configmap.yaml and likely a different section.  The way I found the root-cause in the template for #7244 was to use a debugger on `istioctl kube-inject --meshConfigMapName istio --injectConfigMapName istio-sidecar-injector ...` and capture the string passed to yaml.Unmarshal at https://github.com/istio/istio/blob/release

[2018-07-19 14:36] objectiser commented on #7243
Would suggest not reusing tracing.service.type but instead have different property e.g. tracing.ui.type? As may not want both services to be of same type.

[2018-07-19 14:51] rshriram commented on #7242
Add a port match.
[code]

[2018-07-19 15:03] claudio-benfatto commented on #6071
@vadimeisenbergibm really sorry, it somehow got cut off the copy-paste:

[code]

[2018-07-19 15:19] LillyWu commented on #7146
If you want to set the log level to warn, please exec pilot-agent proxy log_output_level warn  in that pod

[2018-07-19 15:43] vadimeisenbergibm commented on #6071
@jsenon Did you have AWS with NLB working with Istio Ingress Gateway https://preliminary.istio.io/docs/tasks/traffic-management/secure-ingress ?

[2018-07-19 17:15] costinm commented on #6486
So basically your fork supports 'secretKeyName' and 'secretCrtName'. And I assume you tested with multiple domains, and multiple pending requests - and it's doing edit properly. That would work - but not sure if using your fork is the right option here, and it doesn't seem to be merged upstream.

I guess one option would be to fork certmanager under istio (we did it in the past with other projects

[2018-07-19 17:20] prune998 commented on #6486
Well @costinm I did not made a PR as I found this solution was not helping much, and I wanted to take time and check with `cert-manager`'s devs what would be the best solution.
My code was just a proof of concept, and yes, it's working as far as I have tested it. But it's far from a proposal...

Either Cert-Manager have to be changed to accomodate Istio, or the other way around... I'm not the righ

[2018-07-19 17:21] quanjielin commented on #5891
besides inject sdsconfig, sds socket file volumeMounts also needs to be injected; like
[code]

[2018-07-19 17:37] kyessenov commented on #6937
We need both cookie and source IP based hash. Why is it not a repeated field?

[2018-07-19 18:23] tvieira commented on #4359
@sdake can we mark this issue resolved? This was fixed with the merge of #7194

[2018-07-19 18:49] tvieira opened #7250 "I can't test Ansible installer with daily builds"
**Describe the bug**
With the current Ansible installer, you can't test it with daily builds or custom builds. No matter what build I download, it will always look at github istio latest release (at the moment, 0.8.0) and install this version.

**Expected behavior**
I should expect the installer to figure out what is the current release from the release tarball I downloaded, pull and install the r

[2018-07-19 19:31] geoand commented on #7250
When I was thinking about it a while back (although I didn't ponder this too much), I didn't come up with a solution that would work for both the downloaded artifact and local development mode

[2018-07-19 19:52] rshriram commented on #6937
envoy allows only one

[2018-07-19 19:55] kyessenov commented on #6937
I see repeated in the API definition: https://github.com/envoyproxy/data-plane-api/blob/384e449430bb5cbf48d21df966a93b94d0b51990/envoy/api/v2/route/route.proto#L594

[2018-07-19 20:06] vilobhmm commented on #7072
Running into

Normal   Pulling                3m (x3 over 4m)  kubelet, gke-istio-demo-default-pool-7a204284-cbzd  pulling image "gcr.io/istio-release/proxy:release-1.0-latest-daily"

@costinm @sdake : Looks like either the image or the image tag is wrong.

[2018-07-19 20:44] jsenon commented on #6071
@vadimeisenbergibm I can check that part

[2018-07-19 21:05] janevalleye2e commented on #7137
tested on daily build:istio-release-1.0-20180719-09-15
1. control plane upgrade
cd ~/Downloads/istio-release-1.0-20180719-09-15
helm template --namespace istio-system --set global.proxy.image=proxy --values install/kubernetes/helm/istio/values-istio.yaml install/kubernetes/helm/istio >> install/kubernetes/istio.yaml
kubectl apply -f install/kubernetes/istio.yaml
2. Sidecar upgrade
kubectl replace

[2018-07-19 21:06] janevalleye2e commented on #7090
it is fixed and verified on daily build: istio-release-1.0-20180719-09-15

[2018-07-19 21:06] #7090 closed

[2018-07-19 21:08] vilobhmm commented on #7090
Control plane upgrade works fine but Data plane is still broken.

[2018-07-19 21:10] kyessenov commented on #6152
Closing since 1.9 was decided to be minimum version for 1.0. This may need to be re-opened for later milestones (in case we use alpha/beta kubernetes APIs).

[2018-07-19 21:10] #6152 closed

[2018-07-19 21:11] kyessenov commented on #5306
Marking test/release since we need a new gate to make sure global dictionary is append-only. Also not 1.0 milestone.

[2018-07-19 21:13] kyessenov commented on #4432
mixer check is always fail_closed as of few weeks ago.

[2018-07-19 21:13] #4432 closed

[2018-07-19 21:17] kyessenov commented on #3980
destination.ip is set to IP type in mixerplugin.

[2018-07-19 21:17] #3980 closed

[2018-07-19 21:21] kyessenov commented on #4611
I'm adding routing directive to mixer adapters (post 1.0).