[2018-06-05 11:28] ymesika commented on #6029
Out of curiosity, why don't you have a Service and use its name instead of the Pod's IP?

[2018-06-05 11:38] cmoulliard commented on #4359
Not yet packaged for release `0.5.0` unfortunately

[2018-06-05 11:47] morvencao commented on #6031
@mandarjog Thanks, I do enable `galley`. I thought the `validatingWebhook` is working for istio 0.8.0
It's all right after I disable `galley`.

[2018-06-05 11:47] #6031 closed

[2018-06-05 12:10] ajit-hybris commented on #6026
Here is the result of verifying mTLS:

11:53 $ kubectl get namespace -L istio-injection
NAME           STATUS    AGE       ISTIO-INJECTION
default        Active    10m       enabled
istio-system   Active    9m
kube-public    Active    10m
kube-system    Active    10m
my-ns          Active    3m

---------
11:25 $ kubectl get pods -n default
NAME                                     READY     STATUS

[2018-06-05 12:27] ymesika commented on #6026
If you'll add `--port=80` to your pod deployment commands it should work. E.g. from your script:
[code]

This is the equivalent of having a `containerPort` in a deployment yaml.

[2018-06-05 12:28] cmoulliard commented on #5985
Additional remark. Prometheus has been removed from the install - distro

[code]

[2018-06-05 12:35] geoand commented on #5985
@sdake I can obviously  fix this easily, but I think we first need to figure out if the Ansible scripts are going to try and support all versions (like they do ATM), or only support the latest version

[2018-06-05 12:37] sdake commented on #5985
@geoand I'd suggest just supporting only the latest release (and we backport your fix to the 0.8 branch and release it in 0.8.1).  No sense supporting 0.2/0.3/0.4/etc - it will make your life dreadful :)

[2018-06-05 12:40] geoand commented on #5985
@sdake Makes sense. I will fix the issue in a couple days max.

Do we have an ETA for `0.8.1`? If we are going to only support the latest version then PR #4623 should also be included in `0.8.1`

[2018-06-05 13:02] #4081 closed

[2018-06-05 13:06] rshriram commented on #1703
No. Need to add.

[2018-06-05 13:07] rshriram commented on #5992
Need config info

[2018-06-05 13:13] azr opened #6032 "istio-cleanup-old-ca keeps on crashing"
Howdy,

I created a cluster from scratch with istio **0.8.0**'s yml files and it's getting spammed :
[code]

Got the istio config file after a `make generate_yaml` because I'd like to commit all of my k8s configfiles ( and not use helm )

Here's some log:
[code]

[2018-06-05 13:46] sdake commented on #5731
cc @sdake

[2018-06-05 13:47] sdake commented on #5731
It is very common for folks to want to turn off metrics for high throughput workloads.  Is it acceptable to backport the solution to this problem to the 0.8 branch (targeting 0.8.1)?

[2018-06-05 14:08] sdake commented on #5816
@kyessenov changing around accessConfigFile does contribute directly to TPS, which is typically 1k TPS per core without mixer.  If a VM has a limited number of cores, the TPS is limited.

[2018-06-05 14:17] ajit-hybris commented on #6026
Magic 👍 , the same setup was working with istio 0.6.0.

[2018-06-05 14:17] #6026 closed

[2018-06-05 14:33] ymesika commented on #6026
I don't think the port number matters.
The name too because in Ajit's case for example there is no name at all.

[2018-06-05 14:38] morvencao commented on #6012
@yangminzhu  Thanks for quick reply.
Yes, you're right.
If remove all existing ServiceRole and ServiceRoleBindings by
[code]
The product will be not accessed, get `PERMISSION_DENIED:handler.rbac.istio-system:RBAC: permission denied.`

My problem is that
this following `ServiceRoleBinding` works as expected: (both "black" and "red" ratings in “Book Reviews” section)
[code]

While this one does not:

[2018-06-05 14:40] morvencao commented on #6012
No error message in mixer log:
[code]

[2018-06-05 15:21] douglas-reid commented on #5731
@ymesika I think we've confused a couple of things. The `statsd-prom-bridge` is completely independent of Mixer. Those Mixer report errors you are seeing are related to a different issue (likely having `disable_report_calls` set to `false`, but not having a `mixer_report_server` cluster).

Mixer can live without Pilot. It has no dependencies on Pilot.

@sdake are you suggesting a targeted (per-wor

[2018-06-05 15:30] nmittler commented on #6028
@rshriram Just looking through the history, #5525 looks like it might be related. Any thoughts?

[2018-06-05 15:34] nmittler commented on #3533
@Stono thanks for creating the issues ... we'll take a look.

Regarding [your comment above](https://github.com/istio/istio/issues/3533#issuecomment-394618842), I believe the issue is still nginx's ability to contact kube master immediately, correct? If so, wouldn't that be resolved by fixing the iptable issue, so that connections to kube master bypass envoy altogether?

[2018-06-05 15:36] Stono commented on #3533
Yes, it would 👌

On Tue, 5 Jun 2018, 4:34 pm Nathan Mittler, <notifications@github.com>
wrote:

[2018-06-05 15:37] Stono commented on #3533
Providing the health checks on envoy don't put it into a ready state until
it is fully configured.

Otherwise nginx will potentially start trying to route traffic before envoy
is ready

On Tue, 5 Jun 2018, 4:34 pm Nathan Mittler, <notifications@github.com>
wrote:

[2018-06-05 15:37] nmittler commented on #5997
FYI, while looking at another issue, I noticed the recent introduction of the call that may be resulting in this log: https://github.com/istio/istio/pull/5525/files#diff-f507fb55b7edf4a03d3c7e9aebf64a1eR94.

@rshriram @incfly I'm not sure why this would be showing up as a service, however .. any thoughts as to what might be going on?

[2018-06-05 15:42] nmittler commented on #3533
@Stono Can health checking actually help here? IIUC, there isn't currently a way in k8s to make the startup of one container dependent on the successful startup (i.e. transition to "healthy") of another container (except for init containers, which won't work for the proxy).

[2018-06-05 15:43] cmluciano commented on #5995
The e2e tests for HTTPIngress are also failing.

[code]

[code]

[2018-06-05 15:43] cmluciano commented on #5995
/assign @vadimeisenbergibm

[2018-06-05 15:44] Stono commented on #3533
Are you on the call in an hour?  Would be easier to explain in person

On Tue, 5 Jun 2018, 4:43 pm Nathan Mittler, <notifications@github.com>
wrote:

[2018-06-05 15:53] cmluciano commented on #5642
may be blocked on https://github.com/istio/istio/issues/5995

[2018-06-05 16:20] nmittler commented on #3533
Yeah I'll be there.

[2018-06-05 16:46] costinm commented on #5934
RDS is implemented - we chose to not use it to explore the impact of RDS on 503.

If we enable it - it should be with a flag and with testing evaluating 503 with and without.

Config change is not a frequent event ( Envoy is supposed to detect diffs ) - and flushing the cache
on config changes seems like a good feature, not a bug.  If mixer wants to keep the caches after
reconfig - it can implemen

[2018-06-05 16:48] costinm commented on #5934
And I don't think it's a 'regression' - it was an explicit choice, and so far I haven't seen a 503 on config changes  when using v2.

[2018-06-05 16:57] JimmyCYJ commented on #4771
I don't have update for this issue. Will look into this issue later this week.

[2018-06-05 17:01] mandarjog commented on #5992
@Stono `https://github.com/istio/istio/blob/master/bin/dump_kubernetes.sh -z`   will gather config / logs etc.

[2018-06-05 17:08] sakshigoel12 commented on #5576
@ajy can you take a look?

[2018-06-05 17:11] vijaycruise commented on #6026
@ymesika Thanks for the clarification. I tested with a non-default port and it is working as documented here - https://istio.io/docs/tasks/security/authn-policy/

[2018-06-05 17:17] markns commented on #2628
@sakshigoel12 I still see an error if I try to connect immediately after the k8s deployment becomes available.

I'm using gRPC, and I see a RpcException as follows raised in the client:
`Grpc.Core.RpcException: Status(StatusCode=Unavailable, Detail="no healthy upstream")`

The istio-proxy log shows:
[code]
Seems to be 200 status, but I guess the `UH` is relevant.

[2018-06-05 17:18] Stono commented on #3533
As discussed on our call, health checks for envoy to return ready once envoy has received initial configuration will solve this problem for me.

Perhaps related? https://github.com/istio/istio/issues/1425

[2018-06-05 17:20] sakshigoel12 commented on #1425
cc. @andraxylia @kyessenov are either of you actively working on this

[2018-06-05 17:20] ayj commented on #6031
@guptasu, would this possibly related to your recent mixer validation changes?

[2018-06-05 17:26] mandarjog commented on #6031
@ayj this problem happens in 0.8, the latest changes that @guptasu made are in pending on master, were you thinking about some other changes?

[2018-06-05 17:30] Stono commented on #3395
Hey @douglas-reid this as probably another one we should have discussed today!  Chatting through it with Nathan we realised it's probably not worded the best...

[2018-06-05 17:31] nmittler commented on #3395
@douglas-reid I've temporarily assigned to you ... feel free to reassign as necessary.  It seems like this might be a generally useful feature.

[2018-06-05 18:05] objectiser commented on #3395
@Stono One solution to this would be to deploy the `jaeger-agent` as a daemonset, which is the approach we are now using in the [production deployments of Jaeger](https://github.com/jaegertracing/jaeger-kubernetes/blob/master/jaeger-production-template.yml#L167).

Someone is in the process of [updating the kubernetes jaeger helm chart](https://github.com/kubernetes/charts/issues/5677#issuecomment-

[2018-06-05 18:08] Stono commented on #3395
@objectiser I don't feel the need to deploy more applications in order to facilitate this though, it doesn't really make sense (unless i'm missing something).

Envoy is already sending traces/spans to the tracing service, it's already got all of that configuration from control plane and it's good to go.  I don't see why it couldn't also listen on localhost for spans being sent from the application

[2018-06-05 18:20] scientistOO7 opened #6036 "Something"

[2018-06-05 18:46] Stono opened #6037 "Custom modifications we make when deploying istio"
Hey,
I've mentioned a couple of times that we take the output from `gen-deploy`, and apply some mutations for things which aren't configurable via the helm chart.  This all happens as part of a script we've written as part of our pipelines.

It's been asked a couple of times what sort of things we do, so I'm raising this issue to let you know what we do, and it might spark some thoughts with you w

[2018-06-05 18:55] Stono commented on #5992
Hey,
I've written these manifests which you can use to recreate the problem..

[code]

Gives you:
[code]

[2018-06-05 19:01] sakshigoel12 commented on #2628
@wattli adding you here

[2018-06-05 19:02] kyessenov commented on #1425
I'm not working on active health checks.

On Tue, Jun 5, 2018 at 10:20 AM Sakshi Goel <notifications@github.com>
wrote:

[2018-06-05 19:07] kyessenov commented on #5934
Per @rshriram , he chose not to implement RDS. Unfortunately, config change is a frequent event in k8s world (any pod coming up seems to potentially trigger reconfiguration and cache flush). This is the theory behind why the rate limit suddenly became flake. The pre-allocated quotas are constantly flushed.

[2018-06-05 19:34] vadimeisenbergibm commented on #5995
@jxadro Could you please publish the output of `kubectl get svc -n istio-system`? I would like to see how your `istio-ingressgateway` service is defined.

[2018-06-05 20:21] missnebun commented on #5723
Is this affecting CentOS 7.5 The kernel is 3.10.0-862.el7.x86_64 ?

[2018-06-05 21:17] kyessenov commented on #5934
https://groups.google.com/forum/#!topic/istio-users/tqMx_BvfidQ

[2018-06-05 21:19] andraxylia commented on #5934
@kyessenov is this about having routes inside ADS but not inlined in the listeners, or completely separate RDS?

[2018-06-05 21:21] kyessenov commented on #5934
This is about RDS protocol, which may or may not be encapsulated as part of ADS. Basically, inlining HTTP routes into LDS configs forces envoy to perform an internal restart for that particular HTTP listener.

[2018-06-05 21:33] mandarjog commented on #5934
Mixer client started using per route config so as to not trash the entire listener when something changed.

This could be addressed in pilot or envoy,

1. If envoy is smarter about diffing old and new listener, inlined routes are fine
2. Rds seems easy enough as well.

[2018-06-05 21:35] ZihanLi0920 commented on #824
I just meet the same problem. It will be really helpful if you could tell me how did you solve it.

[2018-06-05 21:40] lizan commented on #5934
1. won't work well if you have large number of inlined routes, any routes change would cause draining listeners. 2. is the right way to do.

[2018-06-05 21:42] kyessenov commented on #5934
Smart LDS diff == RDS :)

[2018-06-05 22:01] ZhiminXiang commented on #2628
I also saw "no healthy upstream" error after I enabled mTLS in 0.8.0. But this kind of error is not persistent. This error happens for about 50% requests.
But seems like the health check probe works since I saw my server received health check request.

Is healthy check probe supposed to work in Istio 0.8.0 ? Anyone knows what caused this kind of "no healthy upstream" issue?

[2018-06-05 22:30] ayj commented on #5828
The `caBundle` is initially empty based on the default value in istio-demo.yaml. Citadel is responsible for provisioning certs via k8s secret which are mounted into the sidecar injector pod. The sidecar-injector pod(s) should patch the `caBundle` on startup. Re-applying istio-demo.yaml would overwrite the `caBundle`.

[2018-06-05 22:32] andraxylia commented on #5934
Sounds like a good plan, will need to test impact on 503s.

[2018-06-05 22:34] buddyledungarees commented on #5828
Ah, thanks for the clarification. Bounced the sidecar-injector pod and now the auto injection is working.

[2018-06-05 22:48] wattli commented on #2628
@markns @ZhiminXiang , can you try something like:

1) Do not enable mTLS by running install/kubernetes/istio-demo.yaml to deploy istio
2) Use auth policy/destination rule to enable mTLS at service/namespace level.
3) For those services with health check, do not enable mTLS on the health check (you can do it via auth policy).

[2018-06-05 22:49] wattli commented on #2628
https://istio.io/docs/tasks/security/authn-policy/, here is the doc about authPolicy and destRule

[2018-06-05 23:12] lizan commented on #5723
@missnebun No, the affect kernel is 4.14.22-40.

[2018-06-06 00:57] incfly opened #6041 "minikube default memory is not enough for kube-registry"
My kube-registry job is hanging there forever and `kubectl describe` indicates it's unable to run due to lack of memory available. This is solved by running `minikube start` with larger `--memory 8192` in `setup_host.sh`. Although I don't know what's the minimum memory requirement for e2e test.

Version
`minikube version: v0.25.0`

[2018-06-06 00:57] incfly commented on #6041
@JimmyCYJ

[2018-06-06 00:58] incfly commented on #6041
[code]

Default one is 2048 MB.

[2018-06-06 01:52] yangminzhu commented on #6012
So the RBAC seems enabled correctly, could you run the following command to get the authorization template: `kubectl -n istio-system get authorization -o yaml` and this command to get the pods with version label: `kubectl get pod -L version`.
Also what's the output when you're using the second ServiceRoleBinding with version=v3? Are all the ratings gone?

It might be the version label is not corre

[2018-06-06 02:09] morvencao commented on #6012
Seems version label is correct:
[code]

[2018-06-06 02:21] morvencao commented on #6012
@yangminzhu The conditions defined in `spec.subjects` for `ServiceRoleBinding` belong to  **OR** relationship?
I have review the doc for `ServiceRoleBinding` at: https://istio.io/docs/concepts/security/rbac/#servicerolebinding looks like the answer is yes. If that's the case, the `ServiceRoleBinding` definition and result are all right.

[2018-06-06 02:37] adoo123 opened #6043 "Flag --includeIPRanges has been deprecated, Use --injectConfigMapName or --injectConfigFile instead"
Hello,
Could you give an example to use --injectConfigMapName or --injectConfigFile instead --includeIPRanges in istio 0.8?
![image](https://user-images.githubusercontent.com/32384019/41012709-87d67dba-6975-11e8-8269-063d2f532279.png)

[2018-06-06 02:54] #6036 closed

[2018-06-06 03:04] gyliu513 commented on #5995
@vadimeisenbergibm I was using default configuration for istio and httpbin.

[code]
[code]
[code]
[code]

When the issue happened, I cannot get any log from `istio-proxy` in httpbin po.d

But if I change hosts to * , then it works fine.

[code]
[code]
[code]
[code]
[code]

[2018-06-06 03:11] adoo123 opened #6045 "Ingressgateway couldn't be unified entrance for multi services"
When I use ingress, I can create different Ingress with different context path.I can use ingress ip:port and different context path to access different service.
How can I use gateway and virtualservice to archive this?When i create a gateway,and two virtual service,it has error ：

![image](https://user-images.githubusercontent.com/32384019/41013884-dca114d6-697a-11e8-97d0-bbb69e0e319b.png)

![imag

[2018-06-06 03:21] gyliu513 opened #6046 "Create two gateways will lead the second gateway does not work"
I deployed two applications including bookinfo and httpbin.

1) Create gateway and virutalservice for httpbin first, and httpbin works fine.
[code]
[code]
[code]

2) Deploy gateway and virtualservice for bookinfo and bookinfo will not work.
[code]
The curl command return nothing and no log in `istio-proxy` of bookinfo.
[code]

3) All of the gateway and virtualservices in my cluster.
[code]
[code]

[2018-06-06 03:34] gyliu513 opened #6047 "Do not expose targetPort/containerPort in helm chart"
Currently, in istio helm chart, we exposed many `targePort`, but the `targetPort` is the pod port which was exposed by docker image, and if customer change this port, the service may not work, so we should not expose those ports.

Such as follows:

https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/tracing/templates/service.yaml#L38
https://github.com/istio/istio/blob/

[2018-06-06 03:36] yangminzhu commented on #6012
Yes, the subjects in ServiceRoleBinding are evaluated with OR relationship.

So I suggest to turn on the Mixer debug logging to get more information. You could edit the **istio-policy deployment** to add this `--log_output_level default:debug` to the command line arguments, this should enable the debug output of mixer, and then access the productpage several times after the istio-policy finished r

[2018-06-06 03:37] gyliu513 commented on #6043
Duplicate with https://github.com/istio/istio.github.io/issues/1433

Please check the PR here https://github.com/istio/istio.github.io/pull/1450 for how to do this.

[2018-06-06 03:37] #6043 closed

[2018-06-06 03:47] gyliu513 commented on #6011
@colltie @Tharun-Sabbu  Is this duplicate with https://github.com/istio/istio/issues/1703 , this was already in 1.0 scope. Feel free to open this if it is different with https://github.com/istio/istio/issues/1703

/cc @rshriram

[2018-06-06 03:49] morvencao commented on #6012
So this is a doc issue, you can checkout it here:
https://istio.io/docs/tasks/security/role-based-access-control/#step-3-allowing-reviews-service-to-access-ratings-service

An the end of this section, it mentions:

[code]

[2018-06-06 03:55] gyliu513 commented on #6046
Duplicate with https://github.com/istio/istio/issues/6045

Pilot log report the follows:
[code]

[2018-06-06 03:57] gyliu513 commented on #6045
@rshriram @vadimeisenbergibm @cmluciano comments for this?

So for such case, I can use one ingress gateway with wildcard domain and multiple virtualservice rules to handle this? What is the best practise for this?

[2018-06-06 04:09] gyliu513 commented on #6045
@adoo123 you can merge your two virtualservices to one file as follows and it will work, let us wait some comments from @rshriram @vadimeisenbergibm @cmluciano

[code]

[2018-06-06 04:16] yangminzhu commented on #6012
Sorry if my last reply mislead you, the subjects is an array, I actually mean each subject in the array are OR, for fields inside a subject, the relationship is AND.
So for the following ServiceRoleBinding:
[code]
The semantic is that it grants access to {userA and version=v3} OR {userB and version=v2}.

The expect behavior in your ServiceRoleBinding should be that only bookinfo-reviews with versi

[2018-06-06 04:54] morvencao commented on #6012
All `ServiceRole` and `ServiceRoleBinding`:
[code]

[2018-06-06 05:08] morvencao commented on #6012
[istio-policy.log](https://github.com/istio/istio/files/2074844/istio-policy.log)

[2018-06-06 06:13] yangminzhu commented on #6012
The logs seems doesn't include the information when the request is happening, could you try again? If you look at your previous mixer logs, it contains a lot of adapters logs which is missing in your new log, also I'm expecting to see the attributes for each request to be logged which is also missing.

Last, I feel this round trip is not very efficient, how about let's have a short video conferenc

[2018-06-06 06:16] adoo123 commented on #6045
@gyliu513 I know this solution，but it's inflexible and inconvenient to maintain.Cause some service need domain ,others no need,it needs to be written separately

[2018-06-06 06:43] markns commented on #5934
I noticed https://github.com/istio/istio/issues/5934#issuecomment-394863304 referenced my thread on istio-users. I'd really appreciate it if anyone could share any kind of workaround for the dropped connections on reconfiguration. Thanks!

[2018-06-06 07:03] eastpav commented on #6029
It is the same problem to use Service  instead of Pod's IP.
I found that erlang node cannot register infomation to EPMD, hence, node can not responding to pings.
In my other k8s without istio, the response of execute 'erl_epmd:names().' in erlang shell like this:
[code]
and, in k8s with istio, like this:
[code]

[2018-06-06 07:08] morvencao commented on #6012
What about this one? For the whole logs file is two large, I have cut the head part.
[istio-policy.log](https://github.com/istio/istio/files/2075076/istio-policy.log)

It's OK for me to have a conference, but my time zone is different from your. Anyway, please check the logs firstly.

[2018-06-06 07:51] vadimeisenbergibm commented on #5995
Good catch - https://github.com/istio/istio/issues/5995#issuecomment-394394167, @bobbytables !

@jxadro @bobbytables
I have submitted a PR to document this https://github.com/istio/istio.github.io/pull/1454.

The issue is due to this limitation of Envoy - https://github.com/envoyproxy/envoy/issues/1269 . We should handle it.

[2018-06-06 08:05] chandresh-pancholi commented on #2628
@sakshigoel12 , Could you please answer @jsenon  question?

[2018-06-06 08:39] zainul-ma opened #6048 "includeIPRanges not working in istio 0.8"
i try to use ```includeIPRanges``` in istio 0.8 when started service using manual ```kube-inject``` and then the out say

[code]

it's like not supported again ? and how to make baypass all, because currently i try setting eggress also not work ?

[2018-06-06 08:44] markns commented on #2628
Hey @wattli,

I disabled mtls using `helm upgrade istio install/kubernetes/helm/istio --namespace istio-system --set global.mtls.enabled=false --set global.controlPlaneSecurityEnabled=true`

Auth policy and destination rule are as follows:

[code]

[code]

And, the result is.... fewer "no healthy upstream" errors, but they are still there ~50% of the time. Previously it seemed that 100% of connect

[2018-06-06 08:44] zainul-ma commented on #6048
found the issue , about istioctl , i use istioctl version 0.7.1 but istio 0.8 it's work for me
it's like bug in istioctl
but and how about setting egress not work in istio 0.8 i still figure out ..

/bug

[2018-06-06 08:48] markns commented on #5982
@chriswessels not sure if you've seen it, but I posted what I think is a reasonable workaround for the issue in that istio-users thread. (appendHeaders:  x-envoy-upstream-rq-timeout-ms: "0")

I'd say that https://groups.google.com/forum/#!topic/istio-users/tqMx_BvfidQ and https://github.com/istio/istio/issues/5934 is definitely a show-stopper for gRPC streams however. Would be great if that could

[2018-06-06 09:30] ymesika commented on #6029
I'm not sure if it's related to your specific issue but did you add the EPMD port to the service?
See #5989

[2018-06-06 09:34] gyliu513 commented on #6048
Duplicate with https://github.com/istio/istio.github.io/issues/1433

Please check the PR here https://github.com/istio/istio.github.io/pull/1450 for how to do this.

[2018-06-06 09:34] #6048 closed

[2018-06-06 12:04] filipre commented on #3757
I can provide feedback once we upgraded our cluster to 0.8.
However, as it turned out, I was wrong with my believe above. Our internal names/labels were simply too long.

[2018-06-06 12:10] grebois commented on #5969
@vadimeisenbergibm `nginx.ingress.kubernetes.io/force-ssl-redirect: "false"` will also make it fail, should I close this issue in favor of istio/istio.github.io#1421 ?

[2018-06-06 12:37] colltie commented on #6011
@gyliu513 @rshriram
That is not the same thing.

issue 1703 forces all the traffic to the same backend service which can be backed by multiple replicas of a certain container.

We are talking about forcing the same request to the same backend replica

[2018-06-06 13:02] grebois commented on #4320
how does this work now that RouteRule is deprecated in networking.istio.io/v1alpha3 ?

[2018-06-06 14:18] gyliu513 commented on #6045
Thanks @rshriram one more question, for which case I need to create my own ingressgateway?

[2018-06-06 14:22] #5969 closed

[2018-06-06 14:57] ijsnellf opened #6049 "Remove v1alpha1"
Remove v1alpha2 routing implementation, tests and sample files.

[2018-06-06 15:02] hamon-e opened #6050 "Update Istio"
I'm trying to update my istio to 0.8 (I previously update my k8s master to 1.9.7)

Firstly i ran this:
[code]

When I secondly run kubectl apply -f ..../istio.yaml, I have this error
[code]

I indeed have a service running on this port

What should i do ?

Thanks

[2018-06-06 15:29] gargnupur commented on #6041
Thanks @incfly for reporting.. I am playing around with more memory and cpu's and will update the script. I am also testing with 8192...

[2018-06-06 15:53] andraxylia commented on #2751
There have been quite some progress on this front, I will need to do an analysis and see if anything else can be done. I assign this to myself.

[2018-06-06 16:18] ymesika commented on #6050
Do you use the `values-istio.yaml` instead of `values.yaml` for a reason? If not you can try using a different available port for the `ingressgateway` by adding another set:

[code]

[2018-06-06 16:33] themez commented on #5991
@Stono I'm running into this problem too, could you tell how did you solve it?

[2018-06-06 16:43] ldemailly commented on #1005
this came up again today in Perf WG: having a single channel of telemetry data flowing from envoy container instead of 2 would be good.

[2018-06-06 16:56] themez opened #6053 "No envoy http_connection_manager filter registered for some http service"
Hi I'm running into a problem that only several http service's metric can be collected.

I checked envoy config dump, found that most of my service have no http_connection_manager filter, but only tcp_proxy filter.

So I'm confused what's the rule of service been registered as http service? Could you provide some direction for me to dig into? FYI most of my service use port 3000, and I found some

[2018-06-06 17:02] Stono commented on #5991
@themez please see https://github.com/istio/istio/issues/5992 which the isito team are working on

In the interim ensure all your ports are uniquely named across all services

[2018-06-06 17:12] #5964 closed

[2018-06-06 17:22] douglas-reid commented on #1005
Yup. And work is still scheduled for that, it is just slightly lower priority than all the other P0s ;p.

[2018-06-06 17:37] wattli commented on #2628
@jsenon , generally we prefer reinstall from scratch if possible.

[2018-06-06 17:40] wattli commented on #2628
@markns, can I take a look at your application yaml (which should include the health check of the app)?

[2018-06-06 18:25] ayj opened #6055 "Re-enable kubernetes adapter validation"
Validation for `kuberneteses` adapter CRDs are temporarily disabled. Mixer validation has some issues (see [here](https://github.com/istio/istio/pull/6035#issuecomment-394927685)) which prevents dependent rules from being created. Re-enable this resource in galley's validatingwebhookconfiguration.yaml once mixer validation is fixed for this type.

[2018-06-06 18:28] #5974 closed

[2018-06-06 19:29] markns commented on #2628
@wattli here it is (with just a few application specifics removed)

[code]

[2018-06-06 19:30] markns commented on #2628
@wattli Here is is (with just a few application specifics removed)

[code]

[2018-06-06 19:33] ChingizMard commented on #6032
I was getting the same error, and I am not sure what exactly fixed it. In my case, cluster stayed overnight, and also I deleted the `istio-cleanup-old-ca` job and then redeployed istio. I was using helm charts though.

[2018-06-06 20:09] ldemailly opened #6059 "address confusion in perf setup diagram"
https://github.com/istio/istio/issues/3495#issuecomment-366792548
and
https://github.com/istio/istio/issues/3495#issuecomment-368103835

(ingress spec vs ingress component)

are confusing and it's now showing on
https://istio.io/docs/performance-and-scalability/scenarios/
so users get confused

cc @mandarjog (fyi @danehans )

[2018-06-06 20:10] etiennetremel commented on #5580
You should consider migrating to the new networking.istio.io/v1alpha3 API and use a [TCP EgressRule](https://istio.io/docs/tasks/traffic-management/egress-tcp/) instead.

[2018-06-06 20:10] #6027 closed

[2018-06-06 20:54] ldemailly commented on #3495
@danehans I am having issues opening this file with an editor (tried Inkscape, gravitdesigner, omnigrafle... none of which somehow can open this for edit) - before I redo it, can you point me to the source ? (and/or how you made it)

[2018-06-06 20:59] andraxylia opened #6061 "Websocket support with v1alpha3"
Re-enable this test once support is back in:
https://github.com/istio/istio/blob/9f7e2259b9c5ddbdd60a49d67737cfdada105fda/tests/e2e/tests/pilot/routing_test.go#L193

[2018-06-06 21:54] ldemailly commented on #3495
made a new one in #6059

[2018-06-06 21:55] ldemailly commented on #6059
https://docs.google.com/drawings/d/1mhwDtcDXYxj0O8DuSce_d0tBuyH1PZqnaMtPRTC-CyM/edit

preview:
![fortio scenarios](https://user-images.githubusercontent.com/3664595/41067224-a0374f0a-6999-11e8-8362-2ab893521ee2.png)

[2018-06-06 22:29] gyliu513 commented on #6011
@colltie got it, re-open it.

[2018-06-06 22:33] rshriram commented on #6011
Session affinity is not supported. Working on adding cookie based affinity.

[2018-06-06 22:52] danehans commented on #3495
I used draw.io You can get the src [here](https://drive.google.com/drive/folders/13YbtFdztjKIf2Sx6Hve4R_kVIINNxRnH?usp=sharing)

[2018-06-06 23:20] yangminzhu commented on #6041
I think I encountered similar memory issue when running e2e tests some time ago, so I set the default memory to 5000: `minikube config set memory 5000`.

[2018-06-07 00:19] kyessenov opened #6064 "test two quotas"
We should have a scenario when two quotas are used end-to-end. This exercises some interesting code paths in all major components.
This came up in https://github.com/istio/istio/pull/6034 and also API problem https://github.com/istio/api/issues/509.

[2018-06-07 00:43] #6059 closed

[2018-06-07 01:44] adoo123 commented on #6045
@rshriram It seems I can use a gateway with host "*", domain virtualservice can be written separately, no-domain virtualservice must be written together.So i will try k8s ingress to instead ingressgateway.

[2018-06-07 02:38] wodepan commented on #6045
@rshriram  How to create gateway? When i create a new gateway, it can't work.

apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: helo-gateway
spec:
  selector:
    istio: ingressgateway # use istio default controller
    app: helloworld
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
    - "helo.com"
---
apiVersion: networking.istio.io/

[2018-06-07 02:49] wodepan commented on #6045
@adoo123  How can i  add a new gateway? When i create a new gateway , it can't work.
<pre>
<code>
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: helo-gateway
spec:
  selector:
    istio: ingressgateway # use istio default controller
    app: helloworld
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
    - "helo.com"
---
apiVersion: n

[2018-06-07 03:17] adoo123 commented on #6045
@wodepan If you want to create multiple gateway,you need make sure the gateway's port cannot be repeated. For your yaml,you can try to modify "exact: /" to "prefix: /".

[2018-06-07 04:00] gyliu513 opened #6065 "istioctl should support short names"
Kubernetes support short name with kubectl, such as

[code]
[code]

It is better for istioctl create such command so that we can use command with ease

[2018-06-07 04:13] gyliu513 commented on #5995
Just have a try with latest steps by adding `-H` option, it works.

[2018-06-07 04:13] #5995 closed

[2018-06-07 04:38] gyliu513 commented on #5995
@jxadro Also test your case as follows:

[code]
[code]
[code]

The log from productpage istio-proxy:
[code]

[2018-06-07 05:03] zainul-ma commented on #5429
I also get this
The return code is always 200.

event the grpc status code has been set to 503
and the pod app log showing grpc status code 503 but istio-proxy show

[code]

[2018-06-07 05:09] kyessenov commented on #5429
gRPC always returns 200 even for error status codes. We would need to parse
h2 trailers to extract the gRPC status. That can incur some CPU cost to
decode h2 traffic.

On Wed, Jun 6, 2018, 10:03 PM zainul-ma <notifications@github.com> wrote:

[2018-06-07 05:21] zainul-ma commented on #5429
how about the circuit breaker for service that use the gRPC
because as i know in istio , cicuit breaker trip when got error 5xx ?

[2018-06-07 05:44] kyessenov commented on #5429
It's two types of errors. It's still possible to get TCP or http2 errors to
trigger a circuit breaker on the upstream. These are transport level
errors. It's safe to retry, for example. Application level errors are
different and should not be always retried.

On Wed, Jun 6, 2018, 10:21 PM zainul-ma <notifications@github.com> wrote:

[2018-06-07 05:59] lizan commented on #5429
Adding [`%TRAILER(X?Y):Z%`](https://www.envoyproxy.io/docs/envoy/latest/configuration/access_log) to log format will log gRPC status.

https://github.com/envoyproxy/envoy/pull/3536 might be also related.

[2018-06-07 06:44] wodepan commented on #6045
@adoo123 Thanks a lot. I want to create a ingressgateway,but i don't know how to create it.

[2018-06-07 06:54] gyliu513 commented on #6045
@wodepan does this help https://github.com/istio/istio/blob/master/tests/helm/templates/gateway.yaml#L15-L23 , you can add more `hosts` as new ingressgateway.

[2018-06-07 07:03] wodepan opened #6066 "port problem of VirtualService's hosts"
When i access http service  by 31380 port,  i must specified  host and port for hosts as below.  why?
<pre>
<code>
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: helo-vs
spec:
  hosts:
  - "helo.com:31380"
  - "helo.com"
  gateways:
  - bookinfo-gateway
  http:
  - match:
    - uri:
        exact: /
    route:
    - destination:
        host: helloworld
        por

[2018-06-07 07:05] costinm commented on #4822
Not sure "merge istio-remote into istio helm chart once istio-remote is solidified" is a good move, cleaner to keep them separate ( as we address SDS and make other improvements, istio-remote should become smaller and may have specific needs - on the other side istio templates are already getting too messy).

[2018-06-07 07:11] costinm commented on #5535
I think this was discussed in other threads - but as I mentioned my plan was to deprecate the mesh expansion ILBs. There are problems - there are costs and quotas associated with load balancers and IPs on many platforms. Gateways - including an optional ILB-type Gateway - provide a better solution.

For normal services - we recommend using the ingressgateway to expose them to the internet with a s

[2018-06-07 07:16] costinm commented on #4822
" determine if local and remotes can use automatic injection, or if manual injection is only available." - I think we just miss the config, there should be no problem.

I would add:
(P2 for 1.0) "improve security and reduce dependency on secret copying" - i.e. if SDS is available switch to it. That would use a central CA, and each node will fetch/renew secrets from it without using k8s Secret.

(P

[2018-06-07 07:31] zainul-ma commented on #5429
ahhaa i see for grpc
but
@kyessenov i try deploy 2 services app service and db service both of them using istio 0.8.0, connection from app to db using protocol tcp
and then i try delete db deployment ,
so at the application level - log app service showing ```failed connect tcp error  .. ... ```
of course because the pod is died
but when i check the ```upstream_rq_pending_overflow``` for make sure

[2018-06-07 08:20] hamon-e commented on #6050
It works, thanks

[2018-06-07 08:36] wodepan commented on #6045
@gyliu513 Tanks a lot. My problem is,  i have ten service, every service provide external service (TCP) ,   i want to create ten ingressgateway as istio:ingressgateway, and create one gateway for every ingressgateway, and create one virtualservice for every gateway, but i can't found the sample for istio:ingressgateway .

[2018-06-07 08:59] adoo123 commented on #6045
@wodepan Why don't you use NodePort..?

[2018-06-07 10:39] maxkondr opened #6067 "[Q] ingressgateway and ingress resources"
Hi,

configuration:
istio: 0.8.0
K8S baremetal installation v1.10.3

I am looking for service mesh integrated with ingress resources and studied: https://istio.io/docs/tasks/traffic-management/ingress/

There I see that `ingressgateway` is used for handling requests from outside of the cluster and we need to use Gateway+ Virtualhost from `networking.istio.io/v1alpha3` API. But it confused me a bit

[2018-06-07 12:24] laszlocph opened #6069 "Reapplying istio-demo.yml causes cert errors in injector"
The oneliner `kubectl apply -f istio-demo.yml` is useful, but when I make a modification and reapply it, the sidecar injector stops working and throws a lot of `remote error: tls: bad certificate` errors.

I think yamls should be idempotent.

Any idea how to solve this?

[2018-06-07 12:32] #5833 closed

[2018-06-07 12:39] gyliu513 commented on #6069
This is more like a kubernetes issue, how did you change your YAML template? A diff would be helpful between `istio-demo.yaml` and your updated one.

[2018-06-07 12:50] laszlocph commented on #6069
It happens without any change.

Steps to reproduce:
[code]

Then deploy in a namespace with `istio-injection=enabled` and see the logs of the injector
[code]

no pods get scheduled.

[2018-06-07 13:06] idouba commented on #6066
We met exactly the same problem.

[2018-06-07 13:09] rshriram commented on #6045
You need to launch separate gateway pods and services for each gateway you want. You have to play with helm to get the kubernetes yamls. https://github.com/istio/istio/tree/master/install/kubernetes/helm/istio/charts/ingressgateway

Once you launch a gateway service (which is essentially a load balancer service), you use the pod selectors for this service in the Istio Gateway spec

[2018-06-07 13:16] x15zhang commented on #6066
I suspect the reason is that the same host in gateway may have different port. If not specified port in that situation,the request cannot be routed correctly.
But if only one port(expect 80) for a host in gateway,it should not be specified in VirtualService.
Can it be improvement? @rshriram

[2018-06-07 13:18] gyliu513 commented on #6069
/cc @ayj

[2018-06-07 13:21] idouba opened #6070 "Is there a way to publish two different services by ONE domain name, while each service has its own VirtualService?"
It's a common case to publish more than one service by one domain name. And can be easily configured by ingress, but seems a little hard to describe it by Gateway&VirtualService.

[2018-06-07 13:36] tiswanso commented on #4822
@sdake @costinm  -- I have the service-account procedure for creating the remote's kubeconf to give pilot limited RBAC controls.  I don't have the exact limitation on what pilot needs, though.  Probably read-only to all service, endpoint, and pod objects.  I will try to push a doc PR soon with what I have.

[2018-06-07 13:37] sdake commented on #4822
@tiswanso what would be better is a change to istio-remote helm chart with limited RBAC.

[2018-06-07 14:36] tiswanso commented on #4822
@sdake -- not sure how helm can do anything RBAC-wise but anyway, that's for setting up the Istio control pod (citadel), secrets, and selectorless services on the remote cluster.  The service-account RBAC I'm referring to is tied to the kubeconf secrets we're creating in the control-plane cluster.  So, it'd be limiting what pilot could do on the remote kube-api-server.

[2018-06-07 15:11] douglas-reid commented on #5429
Seems like there are two possible actions here:
1. Add the trailer to the log format config for the envoy in front of istio-policy
1. Ensure that some attribute is being populated with the grpc status code in reports to Mixer.

[2018-06-07 15:34] hamon-e opened #6071 "GateWay Ssl Error"
[code]

I have this error when i try to reach a pods behind a Gateway (via https)

[code]

This may be related to this warning in the logs of the gateway pods

[code]

Any ideas?

Thanks

[2018-06-07 16:14] sdake commented on #4822
What I meant was adding very strict rbac here: https://github.com/istio/istio/tree/master/install/kubernetes/helm/istio-remote/templates - perhaps this is the wrong place to do it.

@tiswanso can you create an issue with your proposal?  I'll link it from the first entry in this issue tracker and we can continue discussion there.

Cheers
-steve

[2018-06-07 16:19] sdake opened #6072 "Clean up end to end multicluster testing"
Multicluster testing currently uses the configmap which is deprecated.  To finish the deprecation process and remove the configmap from the system, the e2e tests need modifications to register secrets as documented here:
https://istio.io/docs/setup/kubernetes/multicluster-install/#gather-credential-files-from-remote

This will make testing line up with documentation.

[2018-06-07 16:32] cmluciano commented on #5639
API changes merged, working on implementation now

[2018-06-07 19:17] ayj commented on #6069
The MutatingWebhookConfiguration in istio.yaml includes an empty `caBundle`. The sidecar injector pod patches the `caBundle` at start-up. Re-applying istio.yaml erases the patched `caBundle` leading to TLS handshake errors. A few options:

1) restart the injector pod to re-patch the caBundle
2) teach the injector to watch the caBundle and automatically re-patch
3) write a proper webhook installer

[2018-06-07 20:13] kyessenov commented on #5429
I suggest 2. as the right approach. We have, in fact, disabled envoy access log in mixer sidecars due to performance concerns. Using istio telemetry for observing gRPC errors is consistent with the overall telemetry story.

Let's close this issue, and open another about general gRPC error monitoring.

[2018-06-07 21:20] richm-ww commented on #6069
just for clarity, this issue isn't unique to the demo example. We're seeing the same issue using the help template install. Restarting the injector pod does resolve the problem for me.

[2018-06-07 21:22] Rigdon commented on #6069
I just hit this as well on the 0.8 release. Oddly though it took a couple injector pod restarts to path the ca and there wasn't anything telling in the injector pod logs about it failing to patch. If it happens again I'll collect more info.

[2018-06-07 21:55] qiwzhang commented on #5429
https://github.com/istio/proxy/issues/1805

[2018-06-07 22:57] tcnghia opened #6082 "Exposing `Status` on Istio resources"
It would be great if Istio resources (like Gateway) expose some Status information so that downstream can check before sending traffic to the Gateway.

Similarly, it would be good to know when a VirtualService's routerules have been propagated / effective.

[2018-06-07 22:57] tcnghia commented on #6082
@andraxylia

[2018-06-07 23:01] wattli opened #6083 "Health check port is not intercepted by Envoy"
https://github.com/istio/istio/blob/4042513b5dcc3d79ecfadc4fd503087f7609d1ae/install/kubernetes/helm/istio/templates/sidecar-injector-configmap.yaml#L42

Currently envoy only captures ContainerPort, but not the ports for health check (for http and tcp). We need to fix this asap.

[2018-06-07 23:03] wattli commented on #6083
@costinm @louiscryan

[2018-06-07 23:05] tcnghia opened #6084 "Exposing a way to use the Istio API"
Currently Istio resources are defined as protobuf.  This makes it hard to generate a K8S style API client for downstream application to call the API.  For example, some application may want to create Gateway/VirtualServices on behalf of the users.

One way is to expose and document the code to convert Istio resources from protocol buffer to and from JSON/YAML, which would allows a client to talk t

[2018-06-07 23:13] wattli commented on #6083
This is introduced by https://github.com/istio/istio/pull/5070, and based on a discussion with @andraxylia , we will add health check ports to '-b' as well.

[2018-06-07 23:34] andraxylia commented on #6084
cc @ayj

[2018-06-07 23:35] tcnghia commented on #6084
cc @ozevren

[2018-06-07 23:40] diemtvu commented on #5900
[Design doc](https://docs.google.com/document/d/1rM4TvMRwsvGx_qP0ysAHcFD7YN-QUn9AsIMIDt1aEPM/edit?ts=5b187ca6#heading=h.3s9f433musyc)

[2018-06-07 23:47] johnzheng1975 opened #6085 "Upsteam error issue [503] since side-car-istio-proxy cannot connect to pilot"
istio 0.8.0 (mTLS disabled, also no control plane security)
k8s 1.9.5
cilium 1.1.0

Steps
   Redeploy a service with new version

Expect result:
   service can be accessed through istio-ingress

Actual result,
   It show 503 upstream error issue.

From attached side-car istio-proxy log, it show cannot connect to istio-pilot.
[code]
[UPSTREQM-istio-proxyerror.log](https://github.com/istio/istio/fil

[2018-06-08 02:01] gyliu513 commented on #5532
@rshriram I think we need fix this in 1.0, otherwise, kubernetes and istio will have some conflict.

[2018-06-08 02:27] themez commented on #5991
@Stono got it, thank you

[2018-06-08 02:54] morvencao commented on #6047
+1
We also need remove the following `containerPort` from `values.yam`
https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/values.yaml#L175-L177
https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/values.yaml#L215-L216

[2018-06-08 03:03] gyliu513 commented on #6012
@yangminzhu  you will have the issue when you run to the last step of https://istio.io/docs/tasks/security/role-based-access-control/#enabling-istio-rbac after configure the `ServiceRoleBinding` as follows for `reviews-v3`.
[code]

[2018-06-08 03:20] kyessenov commented on #6047
Istio requires container ports. If you don't specify the pod port in the container port list, all the istio feature will be disabled for those ports.

[2018-06-08 03:27] kyessenov commented on #6047
Yes, hardcoding is fine.

[2018-06-08 03:45] sdake opened #6092 "Make automatic side car injection work properly in multicluster"
automatic side car injection does not function properly in multicluster.  A full mailing list thread with two proposed solutions is covered here: https://groups.google.com/forum/#!topic/istio-environments/7mpzajbGh4c

[2018-06-08 03:47] sdake commented on #6092
Proposals courtesy of @ayj:
1. replicate the sidecar injector deployment, service, mutatingwebhookconfiguration, configmap, etc. into the remote cluster.
1. copy the mutatingwebhookconfiguration into the remote cluster and modify that webhookclientconfig to use the explicit URL field instead of the ServiceReference. You'll need to expose the sidecar injector in the local cluster (e.g. via ILB or t

[2018-06-08 03:56] sdake opened #6094 "Improve multicluster security by using service accounts with reduced RBAC permissions"
@costinm had suggested improving security by reduced RBAC permissions in https://github.com/istio/istio/issues/4822#issuecomment-395318154.  Need a little more clarity on requirements.

A couple options were discussed in the multicluster 0.8 issue tracker.

1. Place RBAC rules in the istio-remote helm chart
1. Reduce permissions from admin to some lesser privileges on credentials registered with t

[2018-06-08 04:03] sdake opened #6095 "Improve multicluster security and reduce dependency on secret copying"
Currently secrets are copied manually from remote credential file on disk to the Istio control plane in memory store.  This creates a situation in which credentials are stored in at-rest storage unencrypted.  Instead, use SDS with a central CA and have each remote fetch and renew secrets without the utilization of the Kubernetes secret.

This work is dependent on SDS.

[2018-06-08 04:08] sdake commented on #5535
There was further discussion in other threads that the raw ILB approach presented security problems in that transmission was not authenticated nor encrypted except for the Pilot endpoint with mTLS enabled.

[2018-06-08 04:14] sdake commented on #4822
@myidpt @costinm struggling to write an issue for this text:
[code]

could either of you expand on this a bit as to what you think is needed in terms of the specific problem so I can write a new issue?  (or alternately write an issue and link it or I can link it).

TIA!
-steve

[2018-06-08 04:17] sdake opened #6097 "Expand multicluster to work with registries other than Kubernetes"
Istio implements support for many different cloud environments.  Multicluster should be expanded from Kubernetes-only to function in these additional cloud environments.

[2018-06-08 04:29] sdake commented on #2630
The above PR had merged, and I believe the Helm documentation is in pretty good shape.  Are there additional expectations on Helm documentation?

The only other piece of work that is underway is a collaboration with @gyliu513 to autogenerate the configuration options table.  We are making progress on this work steadily and will have a PR shortly.  For folks that want a preview, I've attached the c

[2018-06-08 04:31] sdake commented on #6092
@Rigdon had expressed interest in working on the implementation of this work.

[2018-06-08 04:36] Rigdon commented on #6092
Yup, I'm working on an implementation of (1) and we'll see how it goes.

[2018-06-08 05:51] idouba commented on #6070
Now we can publish the service productpage and review this way, each can be accessed from outside the cluster by its own domain name respectively: productpage-bookinfo.com, reviews-bookinfo.com
`apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: productpage
  namespace: default
spec:
  hosts:
  - productpage-bookinfo.com
  http:
  - match:
    - headers:
        cookie

[2018-06-08 06:27] costinm commented on #4822
Sorry, by 'RBAC' I meant that we need a service account in each remote,
with RBAC rules limiting it to read
access to resources used by pilot. And to use that service account instead
of the 'admin' account currently
used by multicluster.

When we use kubeconfig to setup MC in 0.8, the master cluster gets too
broad permissions.

On Thu, Jun 7, 2018 at 6:26 AM, Steven Dake <notifications@github.com>

[2018-06-08 06:49] johnzheng1975 opened #6099 "Some incorrect warning in istio-proxy (istio0.8)"
Some incorrect warning in istio-proxy (istio0.8 )

**_Error is like below:_**
[2018-06-07 18:20:42.406][30][warning][config] bazel-out/k8-opt/bin/external/envoy/source/common/config/_virtual_includes/grpc_mux_subscription_lib/common/config/grpc_mux_subscription_impl.h:70] gRPC config for type.googleapis.com/envoy.api.v2.Listener rejected: Proto constraint validation failed (ListenerValidationError

[2018-06-08 08:02] sdake commented on #4822
@costinm thanks - I think both of these requirements are captured now.

Cheers
-steve

[2018-06-08 08:04] costinm commented on #6083
Why ? As it is, not intercepting health check ports that are not in container is the correct behavior.

[2018-06-08 08:07] costinm commented on #6083
I mean - once the health check port is working we may intercept them, but that's not ready yet.

If we do intercept - we'll still need the code that adds a non-mtls tcp listener, which has the same behavior as not intercepting at all, just more complicated. Can you explain what is broken or different ?

[2018-06-08 08:47] maxkondr opened #6100 "Warns in pilot discovery logs"
Hi,

I am using istio 0.8.0 and set it up accordingly to https://istio.io/docs/setup/kubernetes/quick-start/#installation-steps point `kubectl apply -f install/kubernetes/istio-demo.yaml` and now I see in logs

[code]

Is it OK?

And btw, this container consumes about 30% of my CPU - it it a normal behavior for this component ?

[2018-06-08 09:34] aonz commented on #6037
Hi,,,in addition to the items above,  it would be nice if the chart has to option to create about both `public` and `private` `ingress` and `ingressgateway`. Thank you :)

[2018-06-08 10:14] maxkondr commented on #6100
I see that `istio-ingress` Service is created when using helm chart, but is absent if you use install/kubernetes/istio-demo-auth.yaml (it creates `istio-ingressgateway` Service instead)

[2018-06-08 11:34] bingoarun opened #6105 "Istio installation using Ansible is failing"
I am trying to install Ansible in the following environment.

[code]

I am passing the cluster_flavor as k8s.
[code]

When running the playbook, I am getting the following error.

[code]

I tried to run the playbook in debug mode and tried to print the contents of the variable 'vo'

[code]
I am using Minikube to set this up.

[2018-06-08 11:56] ymesika commented on #6105
Make sure that the `cluster_flavour` in your `main.yml` is set to `k8s` because by default it's configured to work with OpenShift.
See [more customizations](https://istio.io/docs/setup/kubernetes/ansible-install/#customization-with-ansible).

[2018-06-08 12:13] bingoarun commented on #6105
I am providing that variable in extra-vars (-e) while running the command.

[code]

[2018-06-08 12:34] ymesika commented on #6105
Right, sorry.
It works correctly for me and the only difference I can see is that I have `v2.5.4`.

[2018-06-08 12:38] bingoarun commented on #6105
Is your Kubernetes version less than 1.10 ? I found the issue. Raising a pull request shortly. The issue is with the regular expression in the previous task. It only checks for single digit number and it can't recognize the '10' in '1.10'.

[2018-06-08 12:45] bingoarun opened #6108 "Need better way of checking version in Ansible based installation"
Ansible based installation fails with specific Kubernetes versions. (>= 1.10)

https://github.com/istio/istio/blob/master/install/ansible/istio/tasks/main.yml
Line number 27 to 30
[code]

This way of comparison will work for only single digit version numbers and not for double digit.

[code]

Playbook failed example

[code]

[2018-06-08 12:49] bingoarun commented on #6108
I am working on this. I will submit a PR shortly.

[2018-06-08 12:52] morvencao opened #6109 "Restrict the permission for service account of ingress gateway and egress gateway"
We have created two independent `ServiceAccount` for `ingressgateway` and `egressgateway`, but bind with special role.
https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/ingressgateway/templates/serviceaccount.yaml
https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/egressgateway/templates/serviceaccount.yaml

Can we replace them with `defau

[2018-06-08 12:59] ymesika commented on #6105
[code]

[2018-06-08 13:20] bingoarun commented on #6105
PR - https://github.com/istio/istio/pull/6110

[2018-06-08 13:47] bingoarun commented on #6108
The keyword for version comparison changed in Ansible 2.5 and Istio's minimum supported Ansible version in 2.4. I am checking ways to support both the versions.

[2018-06-08 14:16] bingoarun commented on #6108
PR - https://github.com/istio/istio/pull/6111

[2018-06-08 15:14] jsenon opened #6112 "Istio Pilot Multiline output"
Istio: 0.7.1
mTLS: disable

Stupid question, do we still need to use, multiline for logger:

```multierror "github.com/hashicorp/go-multierror```

https://github.com/istio/istio/blob/d762ec7d8bce983a64949de5932a185a2ae7930a/pilot/pkg/model/egress_rules.go#L176

We can have some issue when we need to scrap `\n`

[code]

Docker spread log with different line (Output is different that previous one):

[2018-06-08 16:20] andraxylia commented on #1414
As of 0.8 we support this functionality in the Gateway. RouteRule + Ingress is not supported.

[2018-06-08 16:20] #1414 closed

[2018-06-08 16:27] ijsnellf commented on #3270
Should be fixed in 0.8. The cluster is now being added:
https://github.com/istio/istio/blame/master/pilot/pkg/proxy/envoy/v1/route.go#L228

[2018-06-08 16:27] #3270 closed

[2018-06-08 17:22] wattli commented on #6083
What's broken:
a) If customers use the same port (say 8080) for regular traffic and health check, then health check will broken when mTLS is enabled.
b) If customers use different port, say 8080 for regular traffic and 8090 for health check, then mTLS is not enforced since clients can reach it at port 8090 without client cert.

Are you proposing a third option other than the two proposed in https:

[2018-06-08 17:39] Rigdon commented on #4822
I'm looking at #6092

[2018-06-08 17:42] Rigdon commented on #4822
Also related to the RBAC discussion: I'm attempting this first with a service account bound to the `system:node-proxier` role on the remote clusters. This service account token is what I'll store on the control plane cluster for each remote.

It's still more permissions than are needed but at least it's read-only.

[2018-06-08 17:45] ayj commented on #6065
Short names seem reasonable for well known types, e.g. service, customresourcedefinition. I'm not sure how well they will work long term with multiple k8s add-ons using CRDs. We already have issues with short names conflicting (see https://github.com/istio/istio/issues/5532)

[2018-06-08 17:45] johnzheng1975 opened #6116 "Upstream raise and servicename.namespacename cannot be accessed sometimes."
Ingress raises an upstream error and the backend service (`servicename.namespacename`) cannot be accessed sometimes.

**_Environment:_**
istio0.7.1 + cilium1.0 + k8s 1.9.5 + Auth disabled
(Note k8s installed with kubespray 2.5.)

**_Steps:_**
1. Devops deployed some new versions on several service in k8s.
2. QA tests pass for two hours, and everything works well (i.e. service are accessible via in

[2018-06-08 17:59] tiswanso commented on #4822
doc PR for instructions to create serviceaccount on remotes with min RBAC: https://github.com/istio/istio.github.io/pull/1484

[2018-06-08 18:28] steffengy commented on #3776
Another round of tests with 0.8, show this is still not fixed:

Istio-Ingress with/without Mixer: 1.3k / 3k RPS
Service-Directly/Nginx-Ingress: 23k / 35k

Setup for reproducing under https://gist.github.com/steffengy/2ef558fc2856ffa68ecde54d9ffed9f2

I tried to dive into what exactly is happening this time but my custom istio build doesn't work:
I ran `make build docker.all generate_yaml` for d762

[2018-06-08 18:48] ayj commented on #5532
@guptasu @mandarjog - this shouldn't be a problem with the revised mixer configuration model?

[2018-06-08 18:49] Rigdon commented on #4822
thanks @tiswanso! I'll add that cluster role to my WIP for the istio-remote helm chart

[2018-06-08 18:57] guptasu commented on #5532
Yes, you are right Jason. In the new configuration model, Istio will not have a CRD with name "quota" anymore.

[2018-06-08 19:27] #5883 closed

[2018-06-08 19:29] #5985 closed

[2018-06-08 19:31] #5739 closed

[2018-06-08 19:32] #6061 closed

[2018-06-08 20:03] ayj opened #6119 "fix istioctl bash completion"
Istioctl bash completion stopped working some time back which is useful to save typing for known commands, e.g. `istioctl get dest<TAB>` => `istioctl get destinationrule`

[2018-06-08 20:10] tiswanso commented on #6094
doc PR with multicluster procedure with service-account and minimal clusterRole:   https://github.com/istio/istio.github.io/pull/1484
    rendered page:  https://deploy-preview-1484--preliminary-istio.netlify.com/

Possibly the ServiceAccount, ClusterRole, and ClusterRoleBinding creation could be added to the istio-remote helm chart.  Still the documented procedure would need to have instructions

[2018-06-08 20:19] frankbu commented on #6070
The problem is that we don't currently support virtual service chaining. The route destination of the first virtual service is referring to the endpoint services, not to a virtual service with the same name.

So, currently you will need to put the routing rules into the composite virtual service.
[code]
I think this is not the best UX so we should support chaining or some kind of automatic merging

[2018-06-08 21:04] wattli commented on #6083
@mandarjog , make sense, just need to mark this issue here. We should fix this once multiplex or your approach is ready. Since I don't think we want to keep this inconsistent interception (same port intercept / different port not intercept) behavior for 1.0.

[2018-06-08 21:06] linsun commented on #5982
https://github.com/istio/istio/pull/5952/files to fix taking forever to load istio dashboard.

[2018-06-08 21:54] costinm commented on #6083
Tao: (a) has nothing to do with how we capture ports. Not sure how it
relates to this bug either.

(b) - yes, if port 8090 is not declared as a container port or istio port,
it will not be intercepted or used by
Istio - no mixer, no mtls, no other Istio feature is enabled. We had
support for excluding ports before,
and the health check were explicitly excluded from MTLS in 0.7 and before,

So no c

[2018-06-08 22:01] costinm commented on #6083
Again - there is no bug to fix here. We have a user requested feature to be
able to exclude ports from capture,
either by opt-in or by opt-out. We have use cases ( dynamic ports ) which
are broken if we intercept everything.
We do not have a full firewall model - where we guarantee we block ports.

I think this is the correct behavior for 1.0 - I'm not aware of anyone
working on firewall or on a d

[2018-06-08 22:05] incfly commented on #5059
While I tried with https://github.com/istio/istio/pull/6121, it seems like when authn policy configure multiple port, one `PERMISSIVE`, one `STRICT`. Then authn http filter dose not allow plaintext traffic go thru. While if there's one `PERMISSIVE` port, then it works.

I think it's a authn filter's bug. @diemtvu could you take a look?

[2018-06-08 22:08] costinm commented on #6092
It seems I can't assign either - but thanks for working on it, looking forward for the PR.
"Assigned" is mostly informative, we don't have any formal use. For P0s we want to be sure
we know who's working on them.

[2018-06-08 22:15] hklai commented on #5982
"The multiplex feature needs to get in asap. If there is a 0.8.1, we should include it."

Discussed with @wattli and folks, the multiplex feature will be in the 1.0 June snapshot release instead. It does not need to be in 0.8.1, even if we decide to create it.

[2018-06-08 22:19] #6108 closed

[2018-06-08 22:52] kyessenov opened #6125 "mixer: scope configuration by destination workload namespace as well"
Currently, mixer requires providing destination service for config resolution. For TCP services, there is no reliable way to derive the destination service without client cooperation. The end result is that pilot currently hardcodes one by guessing which services _might be_ pointing to the workload, and picking the first one. I suggest we remove the guessing logic, and fix mixer config resolution

[2018-06-08 23:10] kyessenov commented on #5429
closing since work on grpc attributes commenced.

[2018-06-08 23:10] #5429 closed

[2018-06-08 23:53] vaidsu commented on #6119
@ayj I am new to contributions in istio. I tried to do some initial research, I might have missed something, but if you could point to some direction it will be great.

For instance, I guess (please correct me), istio uses ``cobra`` - hope I am right.

When I further checked, the interface expects to use a function called [BashCompletionFunction](https://godoc.org/github.com/hyperledger/fabric/ven

[2018-06-08 23:58] ayj commented on #6119
Thanks for reaching out @vaidsu. Take a look at `istioctl collateral completion --bash -o .` That generates a `istioctl.bash` in the current directory that can then be sourced. Printing to stdout is not supported anymore, but we should consider re-adding it. Ideally we could do something like `source <(istioctl collateral completion --bash)` as a one liner. Nice for demos and easy to add to your `

[2018-06-09 03:07] x15zhang commented on #6070
Yes. Although the problem can be resloved by composite virtual service,it is complicated to manage these route rules for a series of services in one composite virtual service.
It is better to support virtual service chaining.

[2018-06-09 09:56] gyliu513 commented on #5532
@ayj @guptasu can you please show me how does the latest revised configurations model for mixer fixed this?

[2018-06-09 09:58] gyliu513 commented on #6065
@ayj I think here the base line is we should make sure istio does not conflict with Kubernetes names. For CRD, I think the customer need to check if their CRD conflict with Kubernetes or Isito short names, comments?

[2018-06-09 20:36] johnzheng1975 opened #6131 "Error "handshake error: 1" in istio-pilot when inter-service communication (auth enabled)"
poot@serviceA-deploy-5c7857f4bc-hdcch:/go# curl http://serviceB.namespaceName
curl: (56) Recv failure: Connection reset by peer

Error "handshake error: 1" in istio-pilot when inter-service communication (auth enabled)

**_Environment:_**
Istio 0.8 (Enable Auth) + k8s 1.9.5 + Cilium 1.1

**_Steps:_**
1  Installed k8s1.9.5 / cilium 1.1 with kubespray 2.5.
2  Installed istio with istio-auth-demo.yam

[2018-06-10 07:06] mk01 commented on #2573
@ldemailly

that workaround doesn't seem to work in 0.8.0 anymore, at least not exactly like that.
anyhow two copies of same ingress, with changed name and removed tls: restores the http.

thanks for pointing that out

[2018-06-10 20:45] ldemailly commented on #3776
qq: how is your service directly less qps than when adding nginx?

we are starting a task force to drill down on where the cpu and latency is spent, see the perf wg soon

[2018-06-10 20:48] steffengy commented on #3776
@ldemailly
That confused me initially too, but it was reproducible.
I guess the difference is between the requests that nginx (as ingress) sends to the service, which are different than the requests fortio itself sends (directly to the service), so maybe a header or something that'll explain the difference.

[2018-06-10 22:49] jmazzitelli commented on #6108
FWIW: I've had a PR fixing this issue waiting for review/merge for over 3 weeks :)

You need to also fix the regex.. See: PR #5710

[2018-06-11 01:12] x15zhang opened #6135 "Construct a model of 'nested services' or application to manage a group of services"
Currently It is not convienent to manage a group of services for user with istio.
It is better to construct a model of 'nested services' to manage a serial of services more conveniently. These would be logical services that encapsulate other services, making the encapsulated services invisible to the rest of the mesh.

[2018-06-11 01:53] gyliu513 opened #6136 ""make lint" failed because of "govet""
The following is the output of `make lint`.
[code]

[code]
[code]

[2018-06-11 02:15] gyliu513 commented on #6136
As a workaround, I have to copy `dnephin` manually to fix this.

[code]
[code]
[code]

A similar issue is here https://github.com/alecthomas/gometalinter/issues/406 , but this does not help even after I re-install `gometalinter`.

[2018-06-11 04:02] jnativio opened #6137 "Performance regression on Master daily build 20180608-09-15"
Istio build: master-20180608-09-15
k8s version:
Server Version: version.Info{Major:"1", Minor:"9+", GitVersion:"v1.9.7-2+231cc32d0a1119", GitCommit:"231cc32d0a111940d45936b3206548c610869df2", GitTreeState:"clean", BuildDate:"2018-04-25T08:09:04Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}

Regression Patrol detected a major performance regression on this build with the Full Istio

[2018-06-11 04:13] nmnellis commented on #5410
Initial release is here, if everything looks good i will submit a PR to have it be an optional addon in Istio https://github.com/nmnellis/vistio

[2018-06-11 06:02] idouba commented on #6070
Thansks, @frankbu ,@x15zhang. Yes, virtual service chaining will make it more flexible, and we really need it .
Fix the above demo code by adding gateways to 1 &2 virtual service.

[2018-06-11 08:29] maxkondr opened #6141 "Configure inter-namespace routing"
Hi,

setup is following:
istio: 0.8.0
using v1alpha3 API (Gateway,VirtualService,DestinationRule)

I want to achieve the following scenario:

1. I have istio-system namespace deployed accordingly to https://istio.io/docs/setup/kubernetes/quick-start/#installation-steps point
`kubectl apply -f install/kubernetes/istio-demo.yaml`
2. I have grafana service deployed into default namespace
3. I want in

[2018-06-11 09:15] eastpav commented on #6029
You mean the EPMD port also must be exposed? istio will manage all of the socket traffic inside and outside Pod, right?

[2018-06-11 11:10] idouba commented on #6135
Maybe can refer to [Kubernetes Applications](https://github.com/kubernetes-sigs/application).

[2018-06-11 11:20] gyliu513 commented on #5410
@nmnellis What is the difference of this with Kiali?

[2018-06-11 11:36] sdake commented on #5410
Just because kiali was first to be integrated as an addon doesn't mean it should be the only choice for visualization.

That said, before this PR can be approved, need validation that the proposed MIT license is compatible with the ASL2 as per whatever legal requirements Istio has on dependencies/transitive dependencies.

@smawson or @jasminejaksic any chance you can answer this license question?

[2018-06-11 11:55] gyliu513 commented on #5410
I see, thanks @sdake

The reason that I have this question is because there are many open source projects doing visualisation, but seems no one is creating a dashboard which can do write operations for istio, such as creating gateway, virtualservices etc.

[2018-06-11 12:00] hamon-e commented on #4879
Any news on this ?

[2018-06-11 12:54] geoand commented on #5985
@sdake I also opened #6144 to take care of the various updates needed

[2018-06-11 13:30] geeknoid commented on #6119
Since we just dump the completion files using Cobra, this must be a bug in Cobra...

[2018-06-11 14:00] jmazzitelli commented on #5410
Kiali today has the ability to view Istio configs (there is some support to also flag the config when something looks invalid). See snapshot below.

We are thinking about adding the ability to "write" these configs from this screen (add new ones, change existing ones, etc).

We are always willing to hear what features the community wants to see. If this is something people want, [please let the Ki

[2018-06-11 14:30] gyliu513 commented on #5410
Thanks @jmazzitelli , opened an issue at Kiali https://github.com/kiali/kiali/issues/261 :-)

[2018-06-11 14:40] Stono opened #6145 "readinessProbe for Envoy"
Hi,
At first I thought this issue may be covered by https://github.com/istio/istio/issues/1425, however I now feel it is different.  If i'm wrong, please close this issue.

At a high level, I need to ensure that `istio-proxy` does not become `Ready` before it has successfully received configuration information from the control plane and has configured its listeners.

At the moment, an application

[2018-06-11 14:46] linsun commented on #6119
subscribe

[2018-06-11 15:05] rootfs commented on #5379
@sbezverk hit the same issue, what's the resolution to this?

[2018-06-11 15:17] sbezverk commented on #5379
@rootfs I think my issue at the  time was wrong version of proxy, after rebuilding everything it started working. Also I run test last Friday on the master and it worked as well.

[2018-06-11 15:38] tcnghia opened #6146 "Allow egress requests to variable IP CIDR ranges"
Currently, outbound requests are blocked by default, unless we turn off proxy for an IP range (https://istio.io/docs/tasks/traffic-management/egress/).

This is difficult for many users, please investigate if we can have a better default for egress.

[2018-06-11 15:38] rshriram commented on #4879
The Istio ingress gateway supports SNI. Kube Ingress controller SNI is not supported.

[2018-06-11 16:32] douglas-reid commented on #6137
It looks like the previous build was 5-31.  So this reflects approx. one week's worth of changes.

[2018-06-11 16:51] ryanyard commented on #6085
Same issue:
istio 0.8.0
gke: 1.10

Deploy using quick start:
kubectl apply -f install/kubernetes/istio-demo-auth.yaml

Deploy sample app:
https://istio.io/docs/guides/bookinfo/

Test:
curl -o /dev/null -s -w "%{http_code}\n" http://${GATEWAY_URL}/productpage

Returns:
upstream connect error or disconnect/reset before headers

[2018-06-11 16:53] jnativio commented on #6137
@douglas-reid That is correct, the previous build was from 05/31. Regpatrol watches builds published in https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/ and these are the latest two.

[2018-06-11 17:28] guptasu commented on #6137
@jnativio for build number 5/31 the snapshot is taken on 5/31 or before that ?  I am trying to identify which PR potentially can cause the issue.
Secondly, any instructions on how to reproduce the issue

[2018-06-11 17:47] ymesika commented on #824
@ZihanLi0920 If you are trying to enable websockets on v0.8.0 with v1alpha3 rule please notice that a fix got merged only recently (#6073).

If it's an earlier version then it should work. I have a [v0.7.1/v1alpha2 demo app](https://gist.github.com/ymesika/c64326e3d8b4ff2c1e2b53c1e13ac72a) that's working for me. You can use it as a reference.

[2018-06-11 17:56] geeknoid commented on #6137
And if there's no easy way to repro this setup outside of the test environment, it is possible to generate and run intermediate builds so that we can do a binary search on commits to isolate the culprit?

[2018-06-11 18:09] ozevren commented on #6125
So, what would be the replacement?

On Fri, Jun 8, 2018 at 3:53 PM Kuat <notifications@github.com> wrote:

[2018-06-11 18:15] kyessenov commented on #6125
I think one of the two ways are reasonable:
- Allow `destination.namespace` or `destination.workload.namespace` as the primary key for the config lookup. All workloads carry some namespace, whether or not they belong to a service.
- Run config resolution after APAs. APA can infer the service (unique port for TCP, host header for HTTP).

[2018-06-11 18:22] jnativio commented on #6137
@guptasu I am not sure if I understood your question. The second snapshot was for the 05/31 build and it is an example. All other builds tested before showed a very low cpu footprint for the istio-policy pod.  As for reproducing the issue, it should not be difficult if you have a load generator. As last resort, I can run manually intermediate builds to help narrow down the time when the change hap

[2018-06-11 18:34] twittyc commented on #4879
The Kubernetes ingress documentation shows they support the SNI TLS extension. Is that different then what you guys are referring to here with the kube ingress controller? Can you help me understand why support isn't being added? Is it not needed? I'd really like to use Istio, but no SNI support is blocking us.

https://kubernetes.io/docs/concepts/services-networking/ingress/#types-of-ingress

[2018-06-11 19:07] liminw commented on #6012
@morvencao I looked at the istio-policy.log you provided. It seems that the value for source.labels attribute is "unknown". If this is true, there may be a bug in Pilot/proxy for distributing the labels. I will see if I can reproduce it in my environment.

[2018-06-11 19:28] aaronjwood opened #6148 "Switch CA from using RSA to ECC"
I’d like to propose that Istio moves away from using 2048 bit RSA keys and instead goes with an ECC cipher. I've posted my proposal for this [here](https://groups.google.com/forum/#!topic/istio-security/Cp-uy5O1MiM) which includes some more details and reasoning.

I took a look at boringssl since Envoy is using that and it seems to support AEAD ciphers such as AES-GCM. It also supports ECDH and EC

[2018-06-11 19:33] rshriram commented on #6148
cc @rosenhouse / @zachgersh co as the OP's post is also talking about choice of ciphers in cloud foundry code.

[2018-06-11 19:37] ZackButcher commented on #4879
What Andra and Shriram mean is that Istio supports SNI (this was added in 0.8), but SNI in Istio is not configurable via the Kubernetes Ingress API resource and we do not intent to extend our implementation of the Kubernetes Ingress API to implement SNI support. Instead, the only way that Istio supports configuring SNI is via Istio's [Gateway API](https://istio.io/docs/reference/config/istio.netwo

[2018-06-11 19:38] PiotrSikora commented on #6148
Sounds good.

[2018-06-11 19:39] rshriram commented on #6066
Check the curl or client you are using. If the client is appending the portname to the http host header, then yes, you would need to specify the port in the virtual service. if the client is simply using the hostname alone, "helo.com", then port number is not needed. Essentially, think of the hosts in the virtual hosts as the equivalent of http server's virtual hosts - if the client does not acces

[2018-06-11 19:41] incfly commented on #5059
I run into some issue, seems envoy send request to the wrong filter chain. Summary:

1. The envoy has two ports, 80 using multiplexing, 8080 is not, strict tls.
2. Sending a plain text request to 80, which we expect end up using `raw_buffer` filter chain. However, the filter print out log indicates it's hitting the filter on the 8080 one.
3. The envoy's config_dump output, https://paste.ee/p/ysls6

[2018-06-11 19:46] liamawhite commented on #5792
This is fixed on 0.8 and master versions of Envoy.

[2018-06-11 19:46] #5792 closed

[2018-06-11 19:47] PiotrSikora commented on #5059
Do you have commands to replicate that? Those filters are listening on different ports, so I don't see how 80 and 8080 can get mixed.

[2018-06-11 19:52] liamawhite commented on #5383
@dzendmitry are you still having this issue? have you tried in 0.8?

[2018-06-11 19:56] frankbu commented on #1377
This can now be easily done in Istio 0.8 by setting `httpsRedirect` in a `Gateway`. See example here: https://istio.io/docs/reference/config/istio.networking.v1alpha3/#Gateway

[2018-06-11 19:56] #1377 closed

[2018-06-11 20:36] aaronjwood commented on #6148
Great! I'll work on a PR for this.

[2018-06-11 20:37] incfly commented on #5059
I've shared you the permission of my project .

Project: jianfeih-test
Cluster: istio-test
[code]
At this point, you'll see
1. request failed because of auth filter reject it.
1. However, the b's stream log prints out the auth filter config from the port 8080, not the auth filter of port 80.

[code]

[2018-06-11 21:46] kyessenov opened #6152 "kubernetes adaptor spam"
Kubernetes adaptor should produce only one instance of the following error:
[code]

Currently, it prints a line non-stop every second.

/assign @douglas-reid

[2018-06-11 21:52] guptasu commented on #6137
Thanks @jnativio for your offer and I think I will need your help in narrowing down the cause. I don't have the load generator. @jnativio I can go through the changes that went in from May 31st -> June 8th and create a set of intermediate mixer builders. It will be helpful if you can run the tests on the intermediate builds for us to narrow down the culprit PR. I will try my best to have the inter

[2018-06-11 22:31] kyessenov commented on #6152
I think this is actually a hard error. Mixer API is not available when I see this spam.

[2018-06-11 22:38] kyessenov commented on #6152
Confirmed by modifying the code that this is causing complete failure of telemetry. API endpoint is not created so the data gets lost on the way.

[2018-06-11 22:43] douglas-reid commented on #6152
I'm still not sure what the root cause of this issue is. Is it that the API Server has no notion of v1.ReplicaSets ?

[2018-06-11 22:45] yangminzhu commented on #6012
@morvencao @gyliu513
I think I have found the root cause here, it's actually a bug that incorrectly evaluated the user/group/properties in a subject to OR relationship. I'll send out a fix soon and try to make it to 0.8.1 release.

In my previous test, I only included the `version: "v3"` in my binding config which won't trigger the bug. To workaround this, you could include only properties in a su

[2018-06-11 22:46] douglas-reid commented on #6152
Is your cluster running 1.8?

[2018-06-11 22:48] kyessenov commented on #6152
Yes, it is 1.8.8.

On Mon, Jun 11, 2018 at 3:47 PM Douglas Reid <notifications@github.com>
wrote:

[2018-06-11 22:52] douglas-reid commented on #6152
Ah, `v1.ReplicaSets` came in 1.9, iirc.

Do we have a minimum supported k8s version?

[2018-06-11 22:53] douglas-reid commented on #6152
Does your `$kubectl api-versions` include `apps/v1` ?

[2018-06-11 22:55] douglas-reid commented on #6152
Looks like we *recommend* 1.9. I don't know what this means for code that is using 1.9 APIs.

[2018-06-11 22:59] wattli opened #6153 "Citadel setup in multiplecluster"
Currently each cluster has a citadel, and they share the same key/cert. Ideally, we want them to have distinguish key/cert issued by the same root.

[2018-06-11 23:00] wattli commented on #6153
@sdake , FYI, please link this to https://github.com/istio/istio/issues/4822

[2018-06-11 23:01] kyessenov opened #6154 "telemetry: missing client-side destination service"
Telemetry from the client-side puts "unknown" instead of destination services. This requires extending pilot plugins to annotate routes with destinations. See below:

|||||||
|--- |--- |--- |--- |--- |--- |
|reporter.local|reporterUID|destinationService|destinationUID|id|sourceUID|
|true|kubernetes://productpage-v1-bdd5b55bf-5v4ch.bookinfo|productpage.bookinfo.svc.cluster.local|kubernetes://produc

[2018-06-11 23:02] kyessenov opened #6155 "telemetry: missing gateway telemetry"
Currently, there is no telemetry or policy checks enabled on the gateway.

[2018-06-11 23:06] kyessenov commented on #6152
You should be to enumerate all server-supported APIs and figure out which
ones are available. Alternatively, you could ignore the errors that happen
due to missing versions. I think that's better than the hard-stop behavior
that happens now.

On Mon, Jun 11, 2018 at 3:55 PM Douglas Reid <notifications@github.com>
wrote:

[2018-06-11 23:12] yangminzhu commented on #5982
If possible, #6156 should be included in 0.8.1. It fixed a critical rbac adapter bug that makes the user unable to specify `user` and `properties` of the request identity at the same time. It's already reported by users using Istio 0.8.

cc @liminw

[2018-06-11 23:46] mk01 commented on #6004
@gyliu513

you cannot use kubectl ? all the stuff is CRDs.

kubectl edit/get/xyz gateway, virtualservices, routerules   [-o yaml] works.

at least if you don't require also validation. but quick edits/changes are fine.

[2018-06-11 23:49] kyessenov opened #6161 "galley requires k8s 1.9 and is installed be default"
https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/galley/templates/validatingwebhook.yaml uses APIs not available in k8s 1.8. Since galley is installed by default, we have a new requirement on k8s 1.9.

[2018-06-11 23:52] kyessenov opened #6162 "pilot plugins: gateway callbacks"
Gateway calls OnOutboundListener but not OnOutboundRoute. It should either call both or none of them (using dedicated OnGatewayListener callbacks). It's also not intuitive why gateway is outbound, when it is for mesh inbound traffic.

[2018-06-11 23:53] kyessenov commented on #6155
depends on #6162

[2018-06-11 23:57] hklai opened #6164 "Dashboard tests are failing"
Example:
https://circleci.com/gh/istio/istio/110780
https://circleci.com/gh/istio/istio/110782

https://k8s-testgrid.appspot.com/istio-daily#daily-e2e-rbac-no_auth

They seem to have started failing since Jun 8th.
https://k8s-testgrid.appspot.com/istio-daily#daily-e2e-rbac-no_auth

These failures are blocking daily releases.

[2018-06-12 00:07] douglas-reid commented on #6164
Recent errors suggest something has changed re: proxies.

ingress log is full of:
[code]

Failure is result of failing to generate `5xx` errors, which should be directly controlled by fortio.

[2018-06-12 00:07] yangminzhu commented on #5909
I think this is fixed in Istio 0.8 release.
@jsenon, Could you try to update your Istio version to the official 0.8 version? (See https://istio.io/docs/setup/kubernetes/quick-start/#download-and-prepare-for-the-installation)

Thank you!

[2018-06-12 00:10] yangminzhu commented on #4689
@lei-tang Can we close this issue for now, or could you comment about next steps? Thank you.

[2018-06-12 00:10] douglas-reid commented on #6164
@ldemailly This looks like a total ingress failure. Is that the correct parsing of the following fortio logs (100% 404s, despite requests for 503s) ?

Logs:
[code]

[2018-06-12 00:28] gyliu513 commented on #6004
@mk01  Yes, we can use `kubectl edit`, but without validation is not acceptable when edit the CRD, as people may make some mistakes when update.

[2018-06-12 00:37] douglas-reid commented on #6164
@mandarjog do you happen to know if these tests are the only tests that rely on Ingress ?

[2018-06-12 01:39] gyliu513 commented on #6065
Duplicate with follows:
- https://github.com/istio/istio/pull/3394
- https://github.com/istio/istio/issues/2650

[2018-06-12 01:39] #6065 closed

[2018-06-12 03:00] ymesika commented on #5982
To consider:
Enable Websocket for all v1alpha3 routes #6073

[2018-06-12 04:10] lei-tang commented on #4689
@yangminzhu the issue https://github.com/istio/istio/issues/4824 tracks the latest design/discussion for the naming of the attributes. Per the latest design document (https://docs.google.com/document/d/1IcR6C7j5Vl-4Jx8ervVT4lCTBDrBgsD7Uac77K5C5h4/edit#heading=h.jtgltj1j5e1z), "source.user" will be replaced by "source.principal". The "source.user" attribute is in the Istio 0.8 release. I am not sur

[2018-06-12 04:46] ozevren opened #6169 "[test-framework] Implement a reliable config distribution detection mechanism for Mixer"
We'd like to implement a reliable way to detect config distribution in Mixer, for testing purposes.

A potential mechanism for doing this is to use the CtrlZ facility: We can expose the current config snapshot id through a custom CtrlZ topic and watch for changes.

The successful completion of this task involves:
- [ ] Implement the CtrlZ custom topic in Mixer.
- [ ] Implement the corresponding lo

[2018-06-12 04:50] ozevren opened #6170 "[test-framework] Implement a reliable config distribution detection mechanism for Pilot"
Similar to https://github.com/istio/istio/issues/6169, we'd like to implement a reliable way to detect config dissemination via Pilot, for test purposes. Ideally, this methodology would involve querying Envoy directly.

The following mechanisms can be used to listen to configuration and observe changes.
https://www.envoyproxy.io/docs/envoy/latest/operations/admin#get--config_dump
https://www.envoy

[2018-06-12 04:58] ozevren opened #6171 "[test-framework] Rationalize and implement GetFortioApp(s) methods."
We have two different overloads, one referencing FortioApps by name, the other one by selectors. We should rationalize this.

Presumably, Fortio Apps will be deployed once and test-framework can hard-write any selectors as necessary: We do not need to expose this to the test authors.

This includes:
- [ ]  Deciding on the API shape that is needed.
- [ ]  Doing the implementation for the cluster en

[2018-06-12 05:51] ozevren opened #6173 "[test-framework] Ensure that the port-forwarder lifecycle is limited."
The current port-forwarding logic in the test-framework launches kubectl as a process to forward ports. This has potential cleanup issues: if the user terminates the go test, or if there is a panic, then the clean up would not be executed and the port forwarder processes will keep running.

There are two potential solutions to this problem:

- Use the port-forwarder as a library (https://github.co

[2018-06-12 05:52] ymesika commented on #6161
Is Galley required for default installation? I mean, Sidecar-injector webhook has similar requirement and it's disabled by default.

[2018-06-12 06:01] ozevren opened #6174 "[test-framework] Add support to connect to istio-policy backend to DeployedMixer instances"
The DeployedMixer facade currently only connects to istio-telemetry backend. We should add support to connect to the istio-policy backend as well, to perform quota/check related operations.

[2018-06-12 06:03] ozevren opened #6175 "[test-framework] Dynamically discover the service ports for Mixer backends"
The DeployedMixer facade currently hard-wires the port numbers when connecting to Mixer backends. Instead, we should dynamically discover the ports.

[2018-06-12 06:05] ozevren opened #6176 "[test-framework] Add a linter rule to ensure that test.Tag is always called"
For tests that are managed by the test-framework, we should add a linter rule to ensure that test.Tag is always called. This will ensure that the filtering logic in the framework will execute as intended.

[2018-06-12 06:07] ozevren opened #6177 "[test-framework] split out test.Tag call, so that it can be used independent of the framework."
We want the test.Tag mechanism to be usable by all tests in general. Currently, it is heavily bound to the internal mechanisms of the test framework.

[2018-06-12 06:33] ozevren opened #6178 "[test-framework] integrate local registry support with test framework"
There is an ongoing work to integrate local-registry support to the existing test framework.

We also need the same integration to happen with the new test framework.

The PR for the current test-framework is here: https://github.com/istio/istio/pull/5855

In addition, the image loading/resolution algorithm when installing the image should work as follows:

- If nothing is specified, use local cha

[2018-06-12 06:36] maxkondr commented on #4840
Finally, I have came back to this task :)

@nmittler  I did the same way as you asked me - and now I see that there is a sidecar container running in nginx pod. But requests are not processed anyway.
Now I see errors in nginx pod:

[code]

I have tried to mark kubernetes.default service with

[code]

but with no luck.

Any suggestions how to overcome this issue ?

[2018-06-12 06:38] ldemailly commented on #6164
yes - but if testing special codes i would use something else than 503 to be able to tell the difference between envoy and app generated 503s/404s (maybe tea pot instead ?)

[2018-06-12 06:46] gyliu513 opened #6180 "Istio basic auth policy issue"
I was doing some test based on document at https://istio.io/docs/tasks/security/authn-policy/#enable-mutual-tls-for-single-service-httpbin-bar

The test case is that I need to first create a `Policy` and then create a `DestinationRule` as follows:

[code]

[code]

The case works fine.

But If I only create the `DestinationRule` without the `Policy` as follows:
[code]

The test result is as follows

[2018-06-12 06:49] gyliu513 commented on #6180
If I want to use `DestinationRule`, must I set `Policy` per namespace first?

[2018-06-12 06:53] ymesika commented on #824
Just tested the [sample Tornado app](https://gist.github.com/ymesika/c64326e3d8b4ff2c1e2b53c1e13ac72a) with v1alpha3 + sidecar injected and websocket seems to work fine with `master`.
Will close this one but feel free to re-open if you encounter problems.

[2018-06-12 06:53] #824 closed

[2018-06-12 06:59] Stono commented on #4840
You need a destination rule for the Kubernetes master

I'll send it you when I get back to the desk

On Tue, 12 Jun 2018, 7:37 am Maxim Kondratenko, <notifications@github.com>
wrote:

[2018-06-12 07:12] Stono commented on #4840
OK so you need:

[code]

That'll fix your "error connecting to k8s".

[2018-06-12 07:16] ymesika commented on #6136
Actually `govet` is available again (https://github.com/dnephin/govet).
Can you give it another try? Might be some temporary issue you had.

[2018-06-12 07:22] lizan commented on #5723
[GKE 1.10.4-gke.0](https://cloud.google.com/kubernetes-engine/release-notes) is rolling out this week, and it contains the fix of this issue.

[2018-06-12 07:22] #5723 closed

[2018-06-12 07:23] lizan commented on #5806
[GKE 1.10.4-gke.0](https://cloud.google.com/kubernetes-engine/release-notes) is rolling out this week, and it contains the fix of this issue.

[2018-06-12 07:34] gyliu513 commented on #6136
@ymesika  You may see in my env, it is reporting the follows:

[code]

I do not know why for `GOPATH`, it is trying to get `govet` from `/root/go/src/github.com/alecthomas/gometalinter/_linters/src/github.com/dnephin/govet`.

Here is my env:
[code]
root@zhiwei-cicd:~# cd go/src
root@zhiwei-cicd:~/go/src# ls
abc  github.com  golang.org  gopkg.in  istio.io  k8s.io  test
root@zhiwei-cicd:~/go/src# cd

[2018-06-12 07:36] Stono commented on #5830
Will do, it's out today but not in my region yet!  As soon as it's there
I'll test

On Tue, 12 Jun 2018, 8:26 am Lizan Zhou, <notifications@github.com> wrote:

[2018-06-12 07:38] lizan commented on #5830
Sure, no hurry. I already tested bookinfo in us-east1-d and it worked.

[2018-06-12 08:05] gyliu513 opened #6182 "How to use multiple citadel in one cluster"
In 0.8, we can use external CA key and certificate according to here https://istio.io/docs/tasks/security/plugin-ca-cert/ .

The question is if I have multiple services and I want different services use different key and cert, how to achieve this?

I can start multiple citadel services, but how to let different workload use different citadel services?

/cc @rshriram comments for this?

[2018-06-12 09:06] ymesika commented on #6136
Can you delete `/root/go/src/github.com/alecthomas/gometalinter` (if exists) and try again?
I don't have `gometalinter` under `$GOPATH/src/github.com/alecthomas`

[2018-06-12 10:50] Stono opened #6186 "Invalid certificate on sidecar injector pods preventing deployment"
Hey,
We've been running 0.8 since release, and today encountered our first issue which prevented deployments to a cluster.

We noticed that ReplicaSets from a Deployment rollout were failing to start the pods with the following error:

[code]

I deleted both instances of our sidecar injector pods to allow them to restart, and this solved the problem, so we have a mitigation, but i'd really like to

[2018-06-12 11:00] LinAnt commented on #6085
I have the same issue, the dotwiz looks quite interesting:
https://www.dropbox.com/s/oba25uv4fnwgls7/Screenshot%202018-06-12%2013.58.48.png?dl=0

I am trying to upgrade pgadmin on a fresh cluster.

[2018-06-12 11:51] jhrv commented on #5947
We are hitting the same issue.

When we are setting up our clusters, we do a kubectl apply -f on all yaml for the cluster, assuming it to be idempotent. Whenever we reapply istio.yaml now, the caBundle is set to "" or null.

Is this intended?

[2018-06-12 12:11] Yisaer opened #6187 "SpanName always be default-route instead of Api Path in zipkin in Istio0.7"
Hello, I use Istio 7.0 and install zipkin by zipkin.yaml in `istio-0.7.1\install\kubernetes\addons`. I use `spring-cloud-sleuth` in my springboot application and request A service which linked to another service.And here is my result.
![1](https://user-images.githubusercontent.com/13427348/41289517-a83b5966-6e7c-11e8-8f95-8314ad450830.png)

as you can see, All spanName are `default-route` instead

[2018-06-12 12:34] esnible commented on #3621
Closing because I believe we have covered all of the types we expect to cover.

[2018-06-12 12:34] #3621 closed

[2018-06-12 12:37] #5994 closed

[2018-06-12 12:42] #5837 closed

[2018-06-12 12:49] objectiser commented on #6187
Yes this is the correct behaviour currently.

The problem with using the path as an operation/span name is that it could have path parameters - see https://github.com/opentracing/specification/blob/master/specification.md#start-a-new-span for a discussion on selecting an appropriate operation (span) name.

So the problem is how to identify a meaningful name from the data available to the proxy. Th

[2018-06-12 12:51] ymesika commented on #5606
Fixed by #5672

[2018-06-12 12:51] #5606 closed

[2018-06-12 12:52] ymesika commented on #5629
Fixed by #5672

[2018-06-12 12:52] #5629 closed

[2018-06-12 12:52] ymesika commented on #5605
Fixed by #5672

[2018-06-12 12:52] #5605 closed

[2018-06-12 13:46] azr commented on #6032
So re reading the docs better I found out that we can generate templates using helm, which is awesome;

One way to remove that job is by using :

[code]
___

`make generate_yaml` is the old & deprecated way.

It would be nice if that Makefile said so though.

[2018-06-12 14:04] rokii opened #6189 "Do we have plan of providing management WebUI for Istio?"
Just As K8s' WebUI dashboard:  https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/#using-dashboard

[2018-06-12 14:11] rshriram commented on #6189
Check the kiali project? https://github.com/kiali/kiali

[2018-06-12 14:13] vvangestel commented on #6186
We've encountered the same issue, restarting the sidecar injector pod however doesn't solve it for us.

The installation was done using the helm chart and it's default values.
K8s was deployed with juju.

[2018-06-12 14:17] rokii commented on #6189
Great. It now just supports visualization but has plan to provide us the ability to manage Istio resource.

[2018-06-12 14:17] #6189 closed

[2018-06-12 14:25] gbaufake opened #6190 "Ansible Installer is not working for previous versions to 0.8.0"
When you use ansible installer from master, with `istio.release_tag_version` with 0.7.1, it results on the following error.

fatal: [localhost]: FAILED! => {"changed": true, "cmd": ["cp", "~/.istio/istio-0.7.1/install/kubernetes/istio-demo.yaml", "/tmp/ansible.QlxBG3JcPb/def.yml"], "delta": "0:00:00.920507", "end": "2018-06-12 06:02:08.022152", "msg": "non-zero return code", "rc": 1, "start": "201

[2018-06-12 15:03] rshriram commented on #6187
There was a recent PR that effectively set the default operation to the service host name as the default operation (along with any path/prefix configured by the virtual service).

[2018-06-12 15:15] rshriram commented on #928
can you try with the latest 0.8 release and let us know if the issue persists?

[2018-06-12 15:20] rshriram commented on #476
This has less relevance now given that we have clearly separated L4-L6 config (gateway) and L7 config (virtual services). And that the gateway could support multiple protocols (HTTP/TCP/Mongo/etc.) - which the ALB cannot.

Also, ALB ingress implies configuring AWS ALB directly instead of using Envoy for load balancing

[2018-06-12 15:20] #476 closed

[2018-06-12 15:21] #1024 closed

[2018-06-12 15:23] rshriram commented on #1364
fixed by the new gateways that support mTLS.

[2018-06-12 15:23] #1364 closed

[2018-06-12 15:25] rshriram commented on #1194
closing the issue since the fixes went out in 0.8. Please reopen if the issue persists.

[2018-06-12 15:25] #1194 closed

[2018-06-12 15:32] rshriram commented on #1393
we have sufficiently decoupled the agent from envoy and the only thing it does is restart on certs, which will also go away when SDS kicks in. Closing this issue for the moment

[2018-06-12 15:32] #1393 closed

[2018-06-12 15:32] rshriram commented on #1392
please try gateway.

[2018-06-12 15:32] #1392 closed

[2018-06-12 15:33] rshriram commented on #1387
No longer relevant with the move to gateway and users seem to not mind using gateway over ingress.

[2018-06-12 15:33] #1387 closed

[2018-06-12 15:34] rshriram commented on #1383
No longer valid with the move to file based configs

[2018-06-12 15:34] #1383 closed

[2018-06-12 15:36] rshriram commented on #1381
can you try the ingress gateway in 0.8 ? Its simply a load balancer service and as long as the traffic enters port 80 in the pod, this shouldn't matter to the gateway

[2018-06-12 15:37] rshriram commented on #1380
@my3sons please try 0.8 and let us knwo if this issue persists.

[2018-06-12 15:38] rshriram commented on #1379
resolved in 0.8. If not, please reopen

[2018-06-12 15:38] #1379 closed

[2018-06-12 15:39] #1375 closed

[2018-06-12 15:40] objectiser commented on #6187
@rshriram do you know the current situation with using openapi (or some subset) to define the service API, so that we could leverage it to define simple operation names?

[2018-06-12 15:41] rshriram commented on #1370
There are larger implications of this than simply eager computation. Long story short, work is happening to improve the caching and the move to v2 has mitigated several of these issues with caches, since we reuse computed config for an envoy if it reconnects.

[2018-06-12 15:41] #1370 closed

[2018-06-12 15:46] rshriram commented on #1368
@lizan can we uniformly enable the grpc-web filter for all grpc listeners? or atleast for the listeners on the gateway ?

[2018-06-12 15:49] objectiser commented on #6187
Found this https://github.com/istio/api/blob/master/mixer/v1/config/client/api_spec.proto discussed in https://github.com/istio/api/issues/344 - but would need to investigate further and see what is possible.

[2018-06-12 15:51] rshriram commented on #1038
@sakshigoel12 we have ingress gateway tests for the 503 and they were passing, until we had to disable the test due to mixer filter enablement.
I think @ldemailly wants somebody else to port his old PoC test to use the new networking APIs. I would focus more on re-enabling the existing tests.

[2018-06-12 16:01] lizan commented on #1368
Though it is possible, grpc listeners is usually h2 only but grpc-web is http/1.1 or h2, so rather make this opt-in?

[2018-06-12 16:28] manschutz-samsung commented on #5327
I second the issue. For me, the easiest was to add the loopback in the `kubecfg` file.

Key file additions are:

[code]

Then, run: `kubectl config use-context istio`

And to switch back `kubectl config use-context aws` or whatever the name of your original cluster is.

[2018-06-12 16:51] ayj commented on #6004
Server-side validation is enabled by default in master now and should ship with 1.0

[2018-06-12 16:53] rshriram commented on #6028
Hi, the mTLSExcludedServices setting has been deprecated. Starting with 0.8, you can opt in services for Auth, instead of excluding one or more services.
I have asked @incfly and @diemtvu to remove these settings to avoid confusion and add the destination rules for kubernetes.default.svc.cluster.local to istio install, so that you don't have to explicitly specify these settings.

[2018-06-12 16:53] costinm commented on #6186
Dup #5947

[2018-06-12 16:58] diemtvu commented on #6180
Can you double check what the destination rules in your system. From your output, looks like the destination rules are enabled ISTIO_MUTUAL for `httpbin.foo`, not `httpbin.bar`.

[code]

For the second question, you can use DestinationRule independent of authentication policy. You just need to make sure the TLS option in DestinationRule matches with what the service side uses.

[2018-06-12 17:00] rshriram commented on #4480
Yep..

[2018-06-12 17:00] #4480 closed

[2018-06-12 17:00] rshriram commented on #4479
We are no longer using decorators based on virtual service names.

[2018-06-12 17:00] #4479 closed

[2018-06-12 17:04] rshriram commented on #1076
Given that a doc exists and the feature is tracked elsewhere, closing this cryptic issue.

[2018-06-12 17:04] #1076 closed

[2018-06-12 17:05] rshriram commented on #1357
This issue is almost a year old. Cna it be reproduced ? @ldemailly . If not, I am going to close it.

[2018-06-12 17:06] rshriram commented on #1363
Old and stale issue

[2018-06-12 17:06] #1363 closed

[2018-06-12 17:07] rshriram commented on #1366
This issue is not relevant anymore given the new test framework

[2018-06-12 17:07] #1366 closed

[2018-06-12 17:08] rshriram commented on #2775
Both of these are completed and actually available in 0.8. SNI based routing without TLS termination, and TLS termination/cert serving based on SNI headers.

[2018-06-12 17:08] hklai commented on #6177
@ozevren is it feasible to tag the whole file in addition to tagging individual tests or suite (TestMain)?

I suppose in most cases, the tags apply to the whole files for most tests (e.g. all tests belong to the networking, or all tests in the file are integration tests.)

[2018-06-12 17:09] rshriram commented on #5455
This is already implemented in the gateway and sidecars as well.

[2018-06-12 17:09] #5455 closed

[2018-06-12 17:10] rshriram commented on #2775
All relevant issues in this epic have been closed. So closing this issue accordingly. TLS sniffing is unrelated and pertains to incremental mTLS adoption.

[2018-06-12 17:10] #2775 closed

[2018-06-12 17:15] diemtvu commented on #6028
FYI, here is the instruction to replace it with destination rule.

https://istio.io/docs/setup/kubernetes/upgrading-istio/#migrating-mtls-excluded-services-config-to-destination-rules

[2018-06-12 17:22] hklai commented on #5982
@ymesika, could you justify why #6073 is needed and its impact? (From my code inspection it looks like a missing feature more than a bug fix, but I am not too familiar with it.)

[2018-06-12 17:34] Stono commented on #5992
I cant no, as these are headless services for statefulsets

On Tue, 12 Jun 2018, 5:50 pm Shriram Rajagopalan, <notifications@github.com>
wrote:

[2018-06-12 17:51] ozevren commented on #6177
I think we should identify how the tag is going to be used first.

Here is the current execution logic:

Currently, the tag is being used for filtering decisions. The test.Tag method calls Skip(), if it decides that the test should be skipped, based on tags. For this to work, test itself needs to always call test.Tag.

The test.SuiteTag in TestMain is useful for adding common tags for all tests. I

[2018-06-12 17:52] ayj commented on #6161
My understanding is 1.0 release is targeting k8s >= 1.9. cc @geeknoid @jasmine-jaksic

Server-side config validation (via Galley) is enabled by default in master in preparation for 1.0 release. Sidecar-injector webhook is disabled by default, in part, because it has a larger scope of impact across k8s cluster, i.e. it affects _all_ pods, irrespective of whether they are using Istio or not. Config

[2018-06-12 17:54] kyessenov commented on #6161
It's important to announce new requirements on k8s. It took me half a day to dig myself out of all sorts of issues caused by k8s 1.8.

[2018-06-12 17:58] incfly opened #6196 "Add circle-ci e2e-pilot-noauth-v1alpha3-v2 to master branch and mark as required"
When developing #6121 , we found the this test combo is not part of presubmit in master. We'll add it and mark it required.

[2018-06-12 18:05] yangminzhu commented on #4824
cc @yangminzhu

[2018-06-12 18:05] hklai commented on #6177
@ozevren

I sort of remember a feedback in the prototype review was that it might make sense to decouple tagging and the filtering action. In other word, perhaps a test can call tag for labelling, but another method for the skip decision, so the semantic is more clear.  And therefore tagging can be moved to suite level or file level easily.

How do the tests make the filtering decision then, if th

[2018-06-12 18:08] kyessenov commented on #6155
Sample failure: https://circleci.com/gh/istio/istio/111093#artifacts/containers/0.
No segfaults are present.

[2018-06-12 18:10] ayj commented on #5327
Does this problem persist with latest version of istioctl from 0.8 release? We recently reworked some of the istioctl client configuration handling to be more inline with kubectl.

I can't reproduce this problem so its a bit difficult to debug/fix. If someone else can, I'd be happy to help with PR, review, etc.

[2018-06-12 18:15] #5909 closed

[2018-06-12 18:18] #5826 closed

[2018-06-12 18:21] wattli commented on #6148
We should not just drop RSA, but provide ECC as an option. This can give us more flexibility, interoperability.

[2018-06-12 18:28] incfly commented on #5322
Wayne can you share the link of the flaky run for e2e-pilot-noauth-v1alpha3-v2?

[2018-06-12 18:34] douglas-reid opened #6198 "Prow Testing Setup Failure -- nodePort"
When trying to invoke the e2e tests on a PR, I consistently run into test failures in setup. This prevents actual running of the e2e tests -- providing no way to assess actual impact of changes. These failures all seem to be related to `nodePort` issues.

Example logs:

[code]

[2018-06-12 18:37] esnible commented on #1385
I believe this has been fixed elsewhere and this Issue can be closed.

I built a version of _istioctl_ with both client side validation checks commented out.

[code]

[2018-06-12 18:37] #1385 closed

[2018-06-12 18:53] hklai commented on #6198
I suspect this is because the prow presubmit job did not complete.

https://storage.googleapis.com/istio-prow/pull/istio_istio/6194/istio-presubmit/12638/build-log.txt
shows "Build failed" even though the job is marked as completed.

@chxchx do you know why?

And quite possibly as a result, the tests could not find the images.

[2018-06-12 18:58] andraxylia commented on #234
We are moving to Gateway, so closing this.

[2018-06-12 18:58] #234 closed

[2018-06-12 19:04] ldemailly commented on #1076
where is it tracked?

[2018-06-12 19:45] michaelpjohnson commented on #5327
I'm still facing the issue. This is my version:
[code]

[2018-06-12 19:47] frankbu commented on #6099
Can't reproduce. Are you sure you are using envoy v2?

[2018-06-12 19:49] ldemailly commented on #1357
has SDS been implemented ? if so I guess this can be closed; the logging isn't in the code base anymore so it won't log for sure but maybe it still restarts envoy more often than needed (and cause issues during restart) - do we have metrics on envoy restarts by pilot agent?

[2018-06-12 19:52] ldemailly commented on #1038
Afaik we still have 503s and the newer tests only passed some times because they aren't deterministic was my understanding - in other words, a customer making changes will see 503s when they shouldn't is still the status afaik - @andraxylia knows more details.

[2018-06-12 19:54] liamawhite commented on #5037
@xiaolanz is this still an issue in 0.8?

[2018-06-12 19:56] douglas-reid commented on #6137
Those are mixer builds. Do we also need istio-proxy builds?  The charts seem to indicate heavy istio-proxy cpu usage as well.

[2018-06-12 19:57] liamawhite commented on #5003
@shenxg13 how are you deploying Istio? `kube-inject` or initialiser?

[2018-06-12 20:03] ostromart commented on #6186
Closing duplicate.

[2018-06-12 20:03] #6186 closed

[2018-06-12 20:03] costinm commented on #1076
This has been implemented - alpha3 API supports this first class. I think
there is even a test :-)

On Tue, Jun 12, 2018 at 12:05 PM Laurent Demailly <notifications@github.com>
wrote:

[2018-06-12 20:03] ozevren commented on #6177
I sort of remember a feedback in the prototype review was that it might
make sense to decouple tagging and the filtering action. In other word,
perhaps a test can call tag for labelling, but another method for the skip
decision, so the semantic is more clear. And therefore tagging can be moved
to suite level or file level easily.

We can do the split, but I don't think splitting in this way is hig

[2018-06-12 20:11] ostromart commented on #6162
I can add the OnOutboundRoute at least. I agree inbound/outbound is a bit confusing in gateway but calling it inbound could cause other confusion (listeners are outbound from gateway perspective).

[2018-06-12 20:13] liamawhite commented on #5016
Based on comments in this issue I'm going to close. Please re-open if the issue is still present in 0.8+.

[2018-06-12 20:13] #5016 closed

[2018-06-12 20:13] ostromart commented on #6155
I think this is a regression. @bianpengyuan is looking at it atm and I can help with that.

[2018-06-12 20:17] ostromart commented on #6154
There's no good way to annotate in the plugins because we are passing protos around. But we can create a map and pass that in as part of plugin.InputParams. Would that work?

[2018-06-12 20:18] douglas-reid commented on #6164
Sent a PR (#6194) that switches to `ingressgateway` and updates to use `i'm a teapot` (418) and `unknown error` (520).

[2018-06-12 20:18] kyessenov commented on #6162
Adding OnOutboundRoute seems acceptable.

[2018-06-12 20:20] kyessenov commented on #6154
Sure. A map from the pointers in the route configuration to destination service would work.

Also, for TCP listeners, we need to pass the route information. Currently, it's not calling on outbound route for TCP (and probably should not), so we need to extend on outbound listener as well.

[2018-06-12 20:20] brian-avery opened #6206 "Enabling Rate Limits Task Applies Quotas to Incorrect Namespace"
Moving[ istio.github.io/issues/1498 ](https://github.com/istio/istio.github.io/issues/1498) here instead since it's an issue with the yaml rather than the documentation itself.

**Is this a BUG or FEATURE REQUEST?:**
Bug

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
Yes

**Bug:**
Y

**What Version of Istio and Kubernetes a

[2018-06-12 20:31] hklai commented on #6177
useful. It means, as a test author I'd be calling two methods, instead of
one, for every test I write. That's somewhat tedious. But functionally they
are equivalent. This doesn't change any suite/file level tagging behavior
though.

Wouldn't it be a better experience if I normally just tag the whole file, and call a boiler plate function in the test function for the filtering decision? Then I don'

[2018-06-12 20:33] hklai commented on #6164
Seriously? What returns 418? Istio or fortio?

[2018-06-12 20:34] esnible commented on #6119
It isn't a bug in Cobra.  Cobra only handles subcommand completion by default.  For `istioctl get` and `istioctl delete` we don't use subcommands.  The solution is to follow the example at https://github.com/spf13/cobra/blob/master/bash_completions.md .  I have a pull request available for review.

[2018-06-12 20:39] ozevren commented on #6177
Wouldn't it be a better experience if I normally just tag the whole file,
and call a boiler plate function in the test function for the filtering
decision? Then I don't need to think about the labels again in the test
function, unless I want to change or override.

Can you write a pseudo-coding showing how this would work?

On Tue, Jun 12, 2018 at 1:31 PM Andy Lai <notifications@github.com> wrote:

[2018-06-12 20:43] esnible commented on #6025
In master we support `istioctl get all` but not a list of types.

[2018-06-12 20:49] hklai commented on #6177
Following your earlier example:

[code]

In this case, all tests use the same set of tags unless they override in the test, like TestBoo2(). I am thinking most tests will be similar to TestBoo() instead. Am I making sense?

[2018-06-12 20:50] incfly opened #6209 "Consider to remove authn-enable test suites"
After removing the inference from authn policy, all mTLS enabling is through authn policy and we plan to deprecate the global mesh config flag `AuthEnable`. We should make the e2e test aligned to reduce the maintenance overhead.  Couple of things need to address before purging them, based on discussion with @diemtvu :

- `AuthnEnable` also controls the control plane (pilot to sidecar) communicatio

[2018-06-12 20:55] esnible commented on #3669
This is working for me using master.  Closing.

[2018-06-12 20:55] #3669 closed

[2018-06-12 20:55] ozevren commented on #6177
How does Foo, Bar, Baz apply to the tests in this file only? The only way I
can think of is a singleton backing object. If I have another file that
goes into the same suite, wouldn't they collide (or rather, the union of
all labels will apply to all the tests in all the files in the suite)?

On Tue, Jun 12, 2018 at 1:50 PM Andy Lai <notifications@github.com> wrote:

[2018-06-12 20:57] diemtvu commented on #6209
This will be handled as part of https://github.com/istio/istio/issues/5900

[2018-06-12 21:09] ldemailly commented on #6164
fortio can return any code you ask it to (with probabilities too, https://github.com/istio/fortio#server-urls-and-features ) so using rather unique code is good so one can tell the difference in the dashboards and results between the app errors generated on purpose and envoy/istio failures

[2018-06-12 21:13] gyliu513 commented on #6004
Thanks @ayj , then with Server-side validation, we can always encourage end user user `kubectl` to edit resources. Can you please link the Server-side validation to this issue for reference?

[2018-06-12 21:14] frankbu commented on #6100
I think the `requeuing dummy` messages are related to the CPU usage problem.
Did you install Istio on a clean cluster, or might there some old stuff still there?
Try applying istio-demo.yaml on a clean cluster and see if the problem goes away.
istio-ingress should not be running in this configuration.

[2018-06-12 21:14] ayj commented on #6004
Tracking issue for server-side validation - https://github.com/istio/istio/issues/1894

[2018-06-12 21:16] chxchx commented on #6198
Just checked our gcr hub and those images are uploaded so it should not be what is causing the failure. I have clue about the contention on nodePort. I do notice that simple test that run before mixer test has a failure during clean up and that might be related to port reuse. Perhaps @sebastienvas has more insight on this.

[2018-06-12 21:18] hklai commented on #6164
would it be better to use a sane status code but just check the response body message?

[2018-06-12 21:22] ldemailly commented on #6164
the test is to check that http error codes do get reported properly in dashboards, so we can not not use some non 200 result code
(we could additionally check the body but that seems a bit overkill)

[2018-06-12 21:22] douglas-reid commented on #6164
The status codes are irrelevant, outside of their broad categories (4xx, 5xx) to the tests -- as are the response bodies. The only thing that matters is reliably generating data that looks like failures.  The PR, as submitted, passes in local testing and should solve this issue.

[2018-06-12 21:43] ijsnellf commented on #3902
This is not the case in the v2 implementation of the v1alpha3 networking rules.

[2018-06-12 21:43] #3902 closed

[2018-06-12 21:43] ijsnellf commented on #3901
This is no longer the case in v2 with the v1alpha3 networking rules.

[2018-06-12 21:43] #3901 closed

[2018-06-12 21:45] ostromart commented on #5947
Duplicate of https://github.com/istio/istio/issues/6069

[2018-06-12 21:45] #5947 closed

[2018-06-12 21:51] ijsnellf commented on #1408
Closing. 0.1.5 is not LTS.

[2018-06-12 21:51] #1408 closed

[2018-06-12 21:52] #6119 closed

[2018-06-12 21:54] ostromart commented on #5828
Duplicate of https://github.com/istio/istio/issues/6069

[2018-06-12 21:54] #5828 closed

[2018-06-12 21:55] ijsnellf commented on #1411
This is still valid.

[2018-06-12 21:56] ostromart commented on #5576
Seems to be working ok in my testing. I'll move ahead with making this change to the template.

[2018-06-12 21:57] ijsnellf commented on #1426
This will be possible once the fields here are implemented: https://github.com/envoyproxy/envoy/blob/master/api/envoy/api/v2/listener/listener.proto#L76

[2018-06-12 21:57] incfly commented on #6196
For some reason the test is not running in the presubmit test, https://github.com/istio/istio/pull/6201.

This will block the PR merge, so temporarily remove it from "required."

[2018-06-12 21:58] gyliu513 commented on #6180
Thanks @diemtvu just update the problem description a bit at https://github.com/istio/istio/issues/6180#issue-331457854 , I was using `example-1` but not `example-2`, sorry for the confusion.

If I only `DestinationRule` as follows:

[code]

[code]
Then the result of curl is as follows:
[code]

Why does two 503 error:
[code]

[2018-06-12 21:59] ijsnellf commented on #1432
I believe this can be closed because we now support `ServiceEntry`s.

[2018-06-12 21:59] #1432 closed

[2018-06-12 22:04] gyliu513 commented on #6180
If I only define a namespace level policy, it works fine.

[code]
You can see  the pod without sidecar cannot access `httpbin.foo`.
[code]
[code]

[2018-06-12 22:12] ostromart commented on #5348
Hi @ymesika, are you still planning to work on this? If not I will reassign. Thanks.

[2018-06-12 22:17] ostromart commented on #5323
@mandarjog, will you able to drive this one? I can help/ give moral support if needed.

[2018-06-12 22:19] gyliu513 commented on #6180
Same 503 issue when I define destinationrules for namespace bar
[code]
[code]
[code]
[code]
[code]

[2018-06-12 22:27] guptasu commented on #6137
that is a good idea. I see that images for proxy is also available for the same SHAs
gcr.io/istio-testing/proxy:db97498d0c6c08812bd6ab3a98dfc4a0ae559933
gcr.io/istio-testing/proxy:dcaf9d7e4414c777c090665d08e0e6732b129bbf
gcr.io/istio-testing/proxy:a669ebfffcbd99e6ba0621cf2180264dcf709a5b

[2018-06-12 22:30] douglas-reid commented on #6137
Word on the street is that Mixer cache appears to be not working. This would result in a 10x increase in requests to `istio-policy`, which would explain CPU increase.

cc: @bianpengyuan

[2018-06-12 22:32] mandarjog commented on #6137
It turns out that Istio-policy mixer is actually doing more work.
Check cache is broken. https://ibmcloud-perf-grafana.istio.io/d/2/mixer-dashboard?from=1528573647000&to=1528576438000&orgId=6
Incoming request rate at Mixer is 1500 qps in the latest tests. It is normally less that 100 qps.

So Istio-policy is doing 15 times more work and has the cpu utilization to show it.

@bianpengyuan is debuggi

[2018-06-12 22:33] ldemailly commented on #6137
the issue is/should be reproducible using the simple [fortio setup](https://github.com/istio/istio/tree/master/tools#istio-load-testing-user-guide), see
https://fortio-daily.istio.io/?s=max.*s1_to_s2.*master

and we need to have more people using it to run their own tests rather than ask reg patrol to bissect

[2018-06-12 22:33] douglas-reid commented on #5323
I don't know why zipkin and Prometheus would be intertwined. That is very odd.

FWIW, @gargnupur has mentioned looking into building a proper, separate e2e test for tracing in general. That would replace any need for Pilot-specific trace testing, and could enable the removal of the zipkin service from environmental setup altogether for this test.

[2018-06-12 22:38] ostromart commented on #5295
It's possible with 0.8 using VirtualService/Gateway but not possible with Ingress. I think @ZackButcher has an example.

[2018-06-12 22:42] diemtvu commented on #6180
Destination rules for "httpbin.foo.svc.cluster.local" means every clients
(regardless of their namespace) will follow this rule when talking to
"httpbin.foo". That's why both 'sleep' in foo and bar fails with 503.

Hope this helps

Best,

Diem

On Tue, Jun 12, 2018 at 3:19 PM Guang Ya Liu <notifications@github.com>
wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-215-8127

[2018-06-12 22:48] ostromart commented on #6196
#5322 is from 6 weeks ago so it's not a valid data point. Disabling the entire test suite is a nuclear option, please skip any tests that are flaky and create issues for those.

[2018-06-12 22:57] ostromart commented on #5278
@nieshuai123 sorry for the long delay in getting to this, but it looks like it was not commonly observed so it could be an issue on your setup. If you are still experiencing this could you please add:
 - how you created your cluster
 - kubectl describe of pilot pod
 - full pilot discovery logs

[2018-06-12 23:00] #5265 closed

[2018-06-12 23:05] gyliu513 commented on #6180
Based on curl, 000 means `Unable to access` and 503 means `Service Unavailable`.

For my above case, why return 503 but not 000, also why does `sleep.legacy` can access `httpbin.foo`?

Also if I do the test as follows, why does `sleep.legacy to httpbin.foo: 000`?
[code]
[code]
[code]

[2018-06-12 23:21] rlenglet commented on #6099
@frankbu Yes, this is envoy V2. Why did you close this issue?

[2018-06-12 23:23] mandarjog opened #6216 "Check results returns 0 duration and 0 use count when no adapters match"
When no adapters match mixer check returns valid duration = 0 and use count = 0.
This effectively disables cache.

The solution is to create a "fall back adapter" where the default duration and use count and response (allow or deny) can be configured.
If no adapter matches during check, the fall back adapter should respond.

This [commit](https://github.com/istio/istio/commit/4f93a9d0acd341849cd3b

[2018-06-12 23:29] geeknoid commented on #6216
Wow, thank you very much for pinpointing this. I'll have a fix by tomorrow.

[2018-06-12 23:51] kyessenov commented on #6155
backtrace:
[code]

Does not look like mixerfilter at fault here.

[2018-06-12 23:57] kyessenov commented on #5295
Ingress works with gRPC since it's just http2 at transport level.

On Mon, Apr 30, 2018 at 9:38 AM JCzz <notifications@github.com> wrote:

[2018-06-13 00:03] jnativio commented on #6137
Ok, so my understanding is that the root cause was found and we don't need to narrow down when the change was introduced.

[2018-06-13 01:34] #6012 closed

[2018-06-13 01:44] sdake commented on #6190
@gbaufake in PR https://github.com/istio/istio/pull/6144 @geoand is aware of this problem.

[2018-06-13 02:46] gyliu513 opened #6223 "Add `appVersion` to Chart.yaml"
Currently, in kubernetes helm chart, the Chart.yaml usually has two versions as this https://github.com/kubernetes/charts/blob/master/stable/acs-engine-autoscaler/Chart.yaml#L5-L6

[code]

`appVersion` is the chart docker image version and `version` is the Chart version.

Every time we make a change to the helm chart, we should update the `version` to reflect the change. This is the guide for Kube

[2018-06-13 03:10] gyliu513 commented on #6045
@rshriram @frankbu one more question, in which scenario shall I need to create my own separate ingressgateway?

[2018-06-13 05:01] #5668 closed

[2018-06-13 05:57] maxkondr commented on #6028
please remove mtlsExcludedServices option from configs in repo/helm chart, as soon as it confuses new users

[2018-06-13 06:51] vvangestel commented on #6186
Not sure if my case is a duplicate. The problem occurs immediately after a fresh helm install, not after reapplying any yaml. The caBundle field after calling `kubectl get MutatingWebhookConfiguration -o yaml` is also populated. The istio-sidecar-injector pod is not logging any errors. Restarting injector pods is also no solution for us.

[2018-06-13 06:54] geoand commented on #6190
@gbaufake Can you please see if  #6144 fixes your problem?

[2018-06-13 06:56] gyliu513 commented on #6182
I can see that the citadel has a parameter which can define the flag that is it listening via `listened-namespace`, so I can define which namespace that I want the citadel to monitor.

But the problem is that now I can only define one namespace for `listened-namespace`, this is not convenient for me to manage a large cluster with customized CA.

@wattli @rshriram @elevran comments for this?

[2018-06-13 07:02] ymesika commented on #5348
It's in my queue which became a LIFO recently.
I will remove myself to let someone else to pick it but will keep it in my queue.

[2018-06-13 07:32] ymesika commented on #3942
@qiujian16 we are trying to focus now on post v0.8.0+ which has the v1alpha1 / ingress deprecated.
Can you please report if it's still not working when you apply the tls certs to the new [Istio Ingress Gatway](https://istio.io/docs/tasks/traffic-management/ingress/)?

[2018-06-13 07:33] ymesika commented on #4018
Closing as it doesn't seem to appear anymore.
Please re-open if it does.

[2018-06-13 07:33] #4018 closed

[2018-06-13 07:36] ymesika commented on #4037
@strin I assume that you experienced it with v0.7.1?
Did you try it with the latest 0.8.0 release?

[2018-06-13 07:40] Stono commented on #5830
@lizan tested it on our two non-prod clusters today and all seems OK

[2018-06-13 07:43] ymesika commented on #4139
@SeriyBg we are late to come back to you on this issue and because of that `v0.6` became too old to investigate. Since then the `RouteRule` has been deprecated in favor of the newer `VirtualService` and `Istio v0.8.0`.

Can you please give the same scenario a try and report back? There is a [relevant updated guide now](https://istio.io/docs/tasks/traffic-management/fault-injection/).

[2018-06-13 07:47] jeson114 commented on #1379
Observation :

1. In Minikube: Fixed this by increasing the size of my VM memory . BookInfo usually died or took a long time to initialize because of this .
2. On AWS (Real Cluster) : It simply worked

[2018-06-13 07:53] ymesika commented on #3991
@sebastienvas I assume this is not relevant anymore?

[2018-06-13 07:54] lizan commented on #5830
Thanks for verifying!

[2018-06-13 07:54] #5830 closed

[2018-06-13 08:50] steffengy commented on #3776
@ldemailly
After another look I noticed, that indeed this was measuring the wrong thing.

**The revised throughput is 4.5k (which is nginx ingress --> helloservice)**.
In my previous results, there's no roundtrip between nginx ingress and the hello service,
because apparantly it doesn't pass `/healthz` to the backend, if it doesn't determine
an associated ingress (that's fixed by sending a hosts h

[2018-06-13 08:51] Stono opened #6230 "Cannot set timeouts over 15 seconds"
Hi,
I have the following `VirtualService`:

[code]

But I'm getting:

[code]

When posting a file:

[code]

The timeout is definitely working, as if I lower it to say `timeout: 10.000s`, it errors after 10.

[2018-06-13 09:18] ymesika commented on #6230
Isn't it resolved by #6042 ?

[2018-06-13 09:44] Stono commented on #6230
Demonstrably not!

On Wed, 13 Jun 2018, 10:19 am Yossi Mesika, <notifications@github.com>
wrote:

[2018-06-13 09:57] costinm commented on #6186
Please add all as many details as possible to the main bug - it may be a
different cause, but same effect.

On Wed, Jun 13, 2018, 08:51 vvangestel <notifications@github.com> wrote:

[2018-06-13 10:01] costinm commented on #3776
Please try also with logging turned off (dev/null)

On Wed, Jun 13, 2018, 10:50 Steffen Butzer <notifications@github.com> wrote:

[2018-06-13 10:13] grebois opened #6234 "async outbound|9091||istio-policy.istio-system.svc.cluster.local egress"
on a newly deploy system im getting `async outbound|9091||istio-policy.istio-system.svc.cluster.local egress` on every trace:

<img width="588" alt="screen shot 2018-06-13 at 12 11 42" src="https://user-images.githubusercontent.com/1569751/41345148-1dbcec6e-6f03-11e8-947e-121908498484.png">

[2018-06-13 10:36] filipre commented on #3757
upgrading Istio to 0.8 solved the `lds: fetch failure: network error` issue as well.

[2018-06-13 10:41] grebois commented on #6234
[code]

[2018-06-13 10:48] ymesika commented on #5982
#6042

[2018-06-13 10:49] maxkondr commented on #6067
@frankbu

3. Can I run NGINX as a `Gateway` instead of ingressgateway? How should I configure it ?

[2018-06-13 10:53] maxkondr commented on #6141
I have solved this issue. The main problem was that I had in config
[code]
and it broke communication in the mesh. Starting from 0.8.0 this option is deprecated (see https://github.com/istio/istio/issues/6028).

You may close the issue

[2018-06-13 11:01] objectiser commented on #5323
At the moment the tracing tests are disabled - I've created a PR https://github.com/istio/istio/pull/5884 to re-enable them based on the jaeger backend.

[2018-06-13 11:54] gyliu513 opened #6237 "`make lint` failed because of type alias in mixer"
Because of https://github.com/istio/istio/blob/master/pilot/pkg/networking/plugin/mixer/mixer.go#L39

[code]

Seems go 1.10.3 does not recognize this type alias.

[code]
[code]

/cc @kyessenov

[2018-06-13 12:22] ymesika opened #6238 "Grafana service fails to install on fresh cluster"
When enabling grafana in `values.yaml` and trying to install it together with Istio, Helm throws the following error because the CRDs aren't there yet:

[code]

[2018-06-13 12:46] ymesika commented on #6238
Might be relevant:
https://github.com/kubernetes/helm/issues/2994
https://github.com/kubernetes/charts/pull/2369

[2018-06-13 12:56] Stono commented on #6230
Closing this as @ymesika has rightly pointed out this is a known issue for which there is a bug fix in 0.8.1+

As a temporary workaround for anyone else finding themselves in this situation, adding the following:

[code]

To your `VirtualService` acts as a work around

[2018-06-13 12:56] #6230 closed

[2018-06-13 12:57] steffengy commented on #3776
@costinm
What kind of logging do you have in mind?
I've tried:
- setting envoy logging levels to error
- AccessLogFile to /dev/null
- AccessLogFile to "" (which entirely disables the access logging filter and works with the PR referenced above and is now in master).

All of them resulted in 0-5% improvement in RPS.

[2018-06-13 13:32] kinderyj opened #6240 "route-rule do not work"
env:
istio version: 0.8
minikube
Mac

description:
I install the bookinfo app according to the doc:
https://istio.io/docs/tasks/traffic-management/request-routing/

and then create route-rule-all by this:
istioctl create -f samples/bookinfo/kube/route-rule-all-v1.yaml

I found this route-rule doesn't work,

Expected result:
 the productpage is displayed with no rating stars since reviews:v1 does n

[2018-06-13 13:41] gyliu513 opened #6241 "`make lint` failed due to some gometalinter error"
/cc @rshriram

[code]
[code]

[2018-06-13 13:49] frankbu commented on #6099
Sorry, I hit the wrong button when I added my comment. Can you provide more details of your env and what exactly you did to observe the problem? I tried to create a ServiceEntry like the above one, and did not see an error.

[2018-06-13 14:28] frankbu commented on #6116
Can you reproduce this problem, or was it a one time corruption? Can you upgrade to Istio 0.8 and see if the problem is still there?

[2018-06-13 14:35] frankbu commented on #6067
Since VirtualServices are bound to Gateways, a Gateway implementation needs to know how to talk to Pilot and execute rules. There are 2 possibilities: 1) inject an envoy sidecar into the NGINX container to handle the routes, 2) I believe the NGINX people have created a version that works with Istio (maybe just a POC - I'm not sure).

Closing this issue, since it isn't a bug or feature request. You

[2018-06-13 14:35] #6067 closed

[2018-06-13 14:36] #6141 closed

[2018-06-13 14:58] kinghrothgar commented on #3295
I am seeing this issue in 0.8.0 with default helm settings (thus I believe mTLS off) and nothing else changed. If I followed this thread correctly it's currently believed that the underlying issue is this: https://github.com/envoyproxy/envoy/issues/2715. I believe the committed fix for that issue should be in 0.8.0 yet I am still seeing 503's at 100 qps.

[2018-06-13 15:16] esnible commented on #6082
Issue https://github.com/istio/istio/issues/5732 proposes exposing this information via the CLI.

[2018-06-13 15:17] geeknoid commented on #6137
Correct, no need for further investigation. It'll be a trivial fix and I'll
add a specific test case for this to prevent future regressions.

On Tue, Jun 12, 2018 at 5:03 PM jnativio <notifications@github.com> wrote:

[2018-06-13 15:39] ajit-hybris opened #6244 "Mutual tls is not working for istio gateway"
Deployed istio gateway (istio 0.8.0) with following config:

[code]

But it results in an exception at istio-ingressgateway, logs are

`[2018-06-13 15:17:24.186][70][warning][config] bazel-out/k8-opt/bin/external/envoy/source/common/config/_virtual_includes/grpc_mux_subscription_lib/common/config/grpc_mux_subscription_impl.h:70] gRPC config for type.googleapis.com/envoy.api.v2.Listener rejected: E

[2018-06-13 15:47] frankbu commented on #5940
I ran your configuration in release 0.8.0, with just global change `service.default.svc.cluster.local` to `reviews.default.svc.cluster.local` and it works fine.
[code]
Test using the sleep service:
[code]

[2018-06-13 15:50] esnible commented on #6029
Run `netstat -tulpn` and make sure the *Local Address* is 0.0.0.0 or 127.0.0.0 for all listeners.  I don't know about Erlang, but applications that explicitly listen on their external address (e.g. 10.233.98.142) will not work under Istio.  This is because the Envoy proxy traffic does not come from off-pod.

[2018-06-13 16:27] rlenglet commented on #6099
We just injected and deployed deployments. Nothing special.
This failure is sporadic. We have no reliable reproducer.

[2018-06-13 16:40] frankbu commented on #6146
Have you tried configuring a ServiceEntry to enable traffic to a range of hosts? Is that not good enough?

[2018-06-13 16:54] diemtvu commented on #6180
Hi,

I agree that return code is a bit inconsistent (and probably misleading).
Unfortunately, it's due to the way sidecar (Envoy) handle traffic. For
plaintext request to a server that expect TLS (i.e the case for
sleep.legacy to httbin.foo when httpbin.foo in mTLS mode), request is
dropped during handshaking with 000 code. For the other, it's dropped
because server does not recognize TLS initiati

[2018-06-13 16:58] #3991 closed

[2018-06-13 17:13] sebastienvas commented on #6198
the previous test is doing a skip cleanup. Which could make sense for circle ci but not prow.

[2018-06-13 17:20] ayj commented on #6082
Config telemetry would also help here. e.g. something like https://github.com/istio/istio/pull/5893 reported by the proxy correlated back to user authored CRD.

[2018-06-13 17:31] mdemirhan commented on #6146
That is unfortunately not good enough. The user needs to create a ServiceEntry for every possible domain or IP range they need to use and maintenance of this will be a non-starter for many use cases, especially for larger organizations sharing clusters across many teams. We want to get benefits of Istio for traffic within the cluster & ingress traffic to the cluster, but we need to keep the egress

[2018-06-13 17:36] Rigdon commented on #5982
From discussion in the environments working group: #6069 causes the sidecar injector to stop working whenever the MutatingWebhookConfiguration definition is re-applied. This is because the sidecar injector patches the MutatingWebhookConfiguration at startup but doesn't monitor it afterward. Two existing workaround involve either manually deleting a sidecar injector pod or including a change to the

[2018-06-13 18:01] kyessenov opened #6245 "No core dumps."
Currently, it's impossible to debug issues with crashing envoy. What's worse, is that the issue is obscured by the agent that keeps restarting envoy, making it look like a flaky connection interrupt. For the errors that happen rarely (e.g. on config push), we in fact pass the tests and not detect crashes in the CI.

Here's an example of crashing ingressgateway: https://112656-74175805-gh.circle-ar

[2018-06-13 18:02] kyessenov commented on #6245
/cc @louiscryan

[2018-06-13 18:03] douglas-reid commented on #6216
Related thought: If no Mixer check adapters exist in Istio config, it would be super neat if Pilot would configure proxies to `disableCheck`.

[2018-06-13 18:07] kyessenov commented on #6216
@geeknoid Per my suggestion in Mandar's comment: it would be really good to make the allow-all adapter configurable. The setting for the valid duration affects how long a stale config is tolerated in the system, and should be under control of the operator. It also allows the switch to deny-all behavior, for extra security.

@douglas-reid I don't think we should do any type of inference for "missin

[2018-06-13 18:13] douglas-reid commented on #6216
@kyessenov we already have a `denier` adapter. imho, we should be very careful about introducing a special class of hard-coded adapter with its own configuration.  In fact, if we want an allow-all adapter, I believe we can just set the response code of `denier` to be `rpc.OK` and give it a duration/tokens.

[2018-06-13 18:16] kyessenov commented on #6216
@douglas-reid @geeknoid Let's just change the denier adapter configuration then to be OK and put default validity constraints there. Mixer takes an AND of the applicable adapters in the end.

[2018-06-13 18:23] hklai opened #6247 "Mixer Tests are failing"
Related to https://github.com/istio/istio/issues/6164, but I unfortunately called out dashboard tests but not the others.

Example:
https://circleci.com/gh/istio/istio/110782
https://k8s-testgrid.appspot.com/istio-daily#daily-e2e-rbac-no_auth

[2018-06-13 18:29] ostromart commented on #6245
I'm pretty sure core dumps do work and am just adding an integration test for that:
https://github.com/istio/istio/pull/6205
I can take a look at your specific setup to see why it's missing there.
I'm also planning to fail any tests that produce a core dump.

[2018-06-13 18:29] kyessenov commented on #6247
Ingressgateways failures are expected, since ingressgateways segfaults with mixer filter.

Ratelimit test failure is also expected, until RDS lands in pilot.

[2018-06-13 18:33] kyessenov commented on #6245
Another point to add: there's a bug in helm charts that assumes certs are present in no-auth case. That somehow works, although envoy keeps restarting. The effect is that the system actually works (since envoy needs pilot to be present once), but pilot is restarting every 10-20 minutes.

[2018-06-13 18:46] Stono commented on #6028
Agreed, and I'd also ship with a default `DestinationRule` for the kubernetes master in the helm chart

[2018-06-13 18:47] andraxylia commented on #1432
This will be solved in Pilot by Pilot Decomposition. There is no concrete use case for etcd registry other than a quick bootstrap, for which the file base registry used by the testing framework might be preferable.

[2018-06-13 18:53] andraxylia commented on #3295
@lizan is there any issue left in Envoy?

[2018-06-13 18:53] ostromart commented on #6245
Looks like cores are generated in real cluster but not minikube on circle - looking into it.

[2018-06-13 18:58] geeknoid commented on #6216
​My intended fix was going to be considerably more expedient for today: If
no adapter has been consulted for a request, return a fixed duration OK
response. This is the behavior we had previously.
​
At this point in the game, I don't want to introduce the notion of a
default fallback adapter. It's too much for too little value overall. The
hardcoded return value is 5 lines of product code, with 25

[2018-06-13 18:58] kyessenov commented on #6245
Prow misses both logs and cores (speaking of real clusters):
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/6165/istio-pilot-e2e-envoyv2-v1alpha3/2632/

[2018-06-13 18:59] #3757 closed

[2018-06-13 19:00] andraxylia commented on #1379
@jeson114 what was your new setting for the VM memory? It would be good if we document this.

[2018-06-13 19:14] douglas-reid commented on #6247
The fix for the dashboard test is out.  I'll look at `MixerReportingToMixer` next.

[2018-06-13 19:22] douglas-reid commented on #6247
Per @kyessenov, the issue appears to be that ingress is no longer integrated with Mixer properly:

[2018-06-13 19:30] douglas-reid commented on #6247
Actually, it doesn't really matter. The queries were relying on `source.service` for distinguishing between them. That attribute doesn't get populated at all any more, so everything collapses into a single metric instance with `{ destination_service="istio-policy", source_service="unknown" }`.

[2018-06-13 19:53] kyessenov commented on #6155
Finally got the stack trace
[code]
cc @qiwzhang

[2018-06-13 20:07] liamawhite commented on #4621
@tanshungang Closing due to inactivity. If you're still seeing issues in 0.8 then please reopen.

[2018-06-13 20:07] #4621 closed

[2018-06-13 20:10] wattli commented on #6244
mTLS is for internal communication, i.e., from ingress to internal services. Not from external to ingress.

[2018-06-13 20:20] louiscryan commented on #6244
@wattli Actually the gateway can support mutual TLS though we don't do that today.

[2018-06-13 20:27] hklai commented on #6050
Looks like this has been resolved.

[2018-06-13 20:27] #6050 closed

[2018-06-13 20:28] Stono commented on #5712
Sure thing.

On Wed, 13 Jun 2018, 9:26 pm Douglas Reid, <notifications@github.com> wrote:

[2018-06-13 20:28] wattli commented on #6028
I don't think we need DestinationRule for k8s any more since by default it's not mTLS.

[2018-06-13 20:31] andraxylia commented on #6162
What is the effect of not calling OnOutboundRoute ?

[2018-06-13 20:31] jasmine-jaksic commented on #2162
@mandarjog @douglas-reid seems like a stale issue so I'm closing this.

[2018-06-13 20:31] #2162 closed

[2018-06-13 20:31] hklai commented on #5963
Should be fixed now.

[2018-06-13 20:31] #5963 closed

[2018-06-13 20:33] nmittler commented on #5783
Abandoning this issue for now. I suspect some of this refactoring will happen organically over time. I don't think we need an issue for it at this point.

[2018-06-13 20:33] #5783 closed

[2018-06-13 20:33] ozevren commented on #5911
@gyliu513 I reassigned this to you, assuming you would be interested in implementing it. If not, you can unassign yourself.

[2018-06-13 20:34] jasmine-jaksic commented on #4985
Closing this since #5062 is tracking the stdout test

[2018-06-13 20:34] #4985 closed

[2018-06-13 20:34] hklai commented on #564
This looks obsolete. Closing. Please reopen if this is applicable.

[2018-06-13 20:34] #564 closed

[2018-06-13 20:34] Tahler commented on #5963
Perhaps the specific issue is fixed but FYI the dump script has better error handling in #5984 which is still in flight.

[2018-06-13 20:34] andraxylia commented on #6155
This regression is not in 0.8 release, it happened after 0.8 and only in master.

[2018-06-13 20:34] wattli commented on #6083
So you think we should keep the current iptable interception behavior as it is for 1.0? To me I am fine either way, but I think we need better documentation on this.

[2018-06-13 20:35] ozevren commented on #5538
@esnible , what is the current implementation state of this issue? What is left?

[2018-06-13 20:35] douglas-reid commented on #6247
See: https://github.com/istio/istio/pull/6253 for related fix to `TestMixerReportingToMixer`

[2018-06-13 20:36] wattli commented on #6083
Close for now and we can go back to this later if necessary.

[2018-06-13 20:36] #6083 closed

[2018-06-13 20:36] nmittler commented on #4840
Closing this as a duplicate of #6028

Feel free to re-open if you feel appropriate

[2018-06-13 20:36] #4840 closed

[2018-06-13 20:37] Stono commented on #6028
What do you mean "by default it's not mtls"?

Multiple people have needed to add this destinationrule since 0.8

On Wed, 13 Jun 2018, 9:29 pm Tao Li, <notifications@github.com> wrote:

[2018-06-13 20:38] wattli commented on #1472
CA (Citadel) health check is done https://istio.io/docs/tasks/security/health-check/, unassigned @myidpt.

[2018-06-13 20:38] ostromart commented on #1437
@ijsnellf could you close this if no longer applicable?

[2018-06-13 20:38] ozevren commented on #5327
@esnible , I assigned this to you after speaking with @ayj. Is that ok?

[2018-06-13 20:39] nmittler commented on #1421
Closing as a duplicate of https://github.com/istio/istio/issues/4545

[2018-06-13 20:39] #1421 closed

[2018-06-13 20:39] hklai commented on #371
Now that we run perf tests everyday, I assume this can be closed now. Please reopen if you think otherwise.

[2018-06-13 20:39] #371 closed

[2018-06-13 20:39] jasmine-jaksic commented on #475
Closing this issue. The documents were updated as part of 0.8 release, feel free to test and open new issues if the problem still exists.

[2018-06-13 20:39] #475 closed

[2018-06-13 20:40] ozevren commented on #5022
@geeknoid , is this still an issue? Can we close this?

[2018-06-13 20:40] nmittler commented on #4334
The bootstrap config logging was restored a while back.  Closing.

[2018-06-13 20:40] #4334 closed

[2018-06-13 20:41] john-a-joyce commented on #4822
@sdake - I intend to add the multicluster circleci item we have talked Costin about a few times.   Should be a P1 I think.   If I don't hear anything I will edit in tomorrow.

[2018-06-13 20:42] kyessenov commented on #1358
This is done.

[2018-06-13 20:42] #1358 closed

[2018-06-13 20:42] nmittler commented on #3404
@disha94 @ldemailly is this still an issue?

[2018-06-13 20:42] douglas-reid commented on #5712
👍

[2018-06-13 20:42] #5712 closed

[2018-06-13 20:43] andraxylia commented on #6154
How involved is the fix?

[2018-06-13 20:43] wattli commented on #4314
This seems to be a v1 issue, and is this still happening? @ZackButcher

[2018-06-13 20:43] nmittler commented on #2643
Given that work is under way for a new test framework, I don't think any action will be taken at this time.  Closing this issue.

[2018-06-13 20:43] #2643 closed

[2018-06-13 20:43] jasmine-jaksic commented on #1078
@hklai @costinm what is still pending on this?

[2018-06-13 20:45] john-a-joyce commented on #3657
This issue was resolved by a series of PRs.  The last one being:  https://github.com/istio/istio/pull/5503
Also includes:  https://github.com/istio/istio/pull/5099, https://github.com/istio/istio/pull/4815

[2018-06-13 20:45] #3657 closed

[2018-06-13 20:45] ozevren commented on #4938
Closing this due to age. Please reopen a new issue if this is still a problem.

[2018-06-13 20:46] #3658 closed

[2018-06-13 20:47] sakshigoel12 commented on #580
reopen if there are missing tests

[2018-06-13 20:47] #580 closed

[2018-06-13 20:48] hklai commented on #1627
I believe this has been done as those results are used to populate https://k8s-testgrid.appspot.com/istio-daily

[2018-06-13 20:48] #1627 closed

[2018-06-13 20:49] wattli commented on #6180
@diemtvu , so is this one an expected behavior?

[2018-06-13 20:49] hklai commented on #851
I believe helm is standard now. Closing.

[2018-06-13 20:49] #851 closed

[2018-06-13 20:50] hklai commented on #625
The tests were added by then disabled due to failures/flakiness.
@chxchx

[2018-06-13 20:51] ostromart commented on #5652
Original issue has been fixed, closing this.

[2018-06-13 20:51] #5652 closed

[2018-06-13 20:51] douglas-reid commented on #1755
with the update to workload attributes, additional configuration is not needed. can we close out this issue?

[2018-06-13 20:51] wattli commented on #1946
This is a dup of https://github.com/istio/istio/issues/5059, closed

[2018-06-13 20:51] #1946 closed

[2018-06-13 20:51] hklai commented on #987
Done with the release works.
https://github.com/istio/istio/blob/master/release/README.md

[2018-06-13 20:51] #987 closed

[2018-06-13 20:52] wattli commented on #1948
@diemtvu , this is the umbrella issue for auth policy, can we close it now?

[2018-06-13 20:52] ozevren commented on #4418
@diemtvu Can we close this? Is this still applicable?

[2018-06-13 20:53] ozevren commented on #4368
not relevant anymore.

[2018-06-13 20:53] #4368 closed

[2018-06-13 20:53] #6164 closed

[2018-06-13 20:54] wattli commented on #3606
This is an issue for adding more doc. I don't think we added it.

[2018-06-13 20:54] andraxylia commented on #6146
We need to configure a VirtualService for host * that points to a ServiceEntry with resolution NONE. The VirtualService * will be matched after the specific hosts.

[2018-06-13 20:55] wattli commented on #4429
I am actively working on this. Seems mostly it's about the documentation for what we can support in 1.0

[2018-06-13 20:55] Stono opened #6257 "istio-mesh-dashboard.json inconsistent columns"
Hey,
As per my chat with @douglas-reid and testing out the master version of `istio-mesh-dashboard`, we notice the last column comes:

<img width="498" alt="screen shot 2018-06-13 at 21 53 15" src="https://user-images.githubusercontent.com/1486729/41377609-807efd8c-6f54-11e8-9995-691b83c8cba6.png">

and goes:

<img width="482" alt="screen shot 2018-06-13 at 21 52 50" src="https://user-images.githu

[2018-06-13 20:58] douglas-reid commented on #1458
Can we add more of a description of desired use case here?  I want to be sure I'm on the same page as the FR.

[2018-06-13 20:58] ayj commented on #4027
Authentication specific tracking issue - https://github.com/istio/istio/pull/6159

[2018-06-13 21:00] andraxylia commented on #6146
There is no solution involving includeIpRanges because we cannot change the iptables without re-deploying the pod due to lack of privileges. So the solution can be only by configuration, as suggested above (we need to test that this works).

[2018-06-13 21:01] ozevren commented on #3960
@JimmyCYJ Any progress on this?

[2018-06-13 21:02] hklai commented on #691
Removing "area/test and release" label as it is not meant for adding functional tests or test coverage.
Please assign issues to the appropriate functional area going forward.

[2018-06-13 21:02] hklai commented on #1078
Removing "area/test and release" label as it is not meant for adding functional tests or test coverage.
Please assign issues to the appropriate functional area going forward.

[2018-06-13 21:03] hklai commented on #1094
Removing "area/test and release" label as it is not meant for adding functional tests or test coverage.
Please assign issues to the appropriate functional area going forward.

[2018-06-13 21:03] hklai commented on #1581
Removing "area/test and release" label as it is not meant for adding functional tests or test coverage.
Please assign issues to the appropriate functional area going forward.

[2018-06-13 21:05] ostromart commented on #5223
I need more information, could you please provide all the steps you took to create the cluster and install istio?

[2018-06-13 21:05] douglas-reid commented on #2943
This comment no longer exists. I think this was done.

[2018-06-13 21:05] #2943 closed

[2018-06-13 21:05] ozevren commented on #3763
This doesn't look like config related. Removing label. Please re-add if you disagree.

[2018-06-13 21:06] hklai commented on #664
Removing "area/test and release" label as it is not meant for adding functional tests or test coverage.
Please assign issues to the appropriate functional area going forward.

[2018-06-13 21:07] ostromart commented on #5218
Please retry with recent version and reopen if issue persists.

[2018-06-13 21:07] #5218 closed

[2018-06-13 21:11] ozevren commented on #3310
This is not relevant anymore.

[2018-06-13 21:11] #3310 closed

[2018-06-13 21:12] andraxylia commented on #6116
Could you please try with Gateway and VirtualService, and release 0.8?

[2018-06-13 21:12] ozevren commented on #3455
@diemtvu is this still relevant? Was there an outcome?

[2018-06-13 21:14] #3309 closed

[2018-06-13 21:15] douglas-reid commented on #4824
Can we close this out now?

[2018-06-13 21:15] #4824 closed

[2018-06-13 21:15] douglas-reid commented on #4712
done, i believe.

[2018-06-13 21:15] #4712 closed

[2018-06-13 21:17] douglas-reid commented on #4979
I'm going to close this, as this has been Overcome By Events. I believe there are updated issues for dashboard failures.

[2018-06-13 21:17] #4979 closed

[2018-06-13 21:17] #3307 closed

[2018-06-13 21:17] hklai commented on #1451
I think we are on 1.12 now.
https://github.com/istio/istio/blob/master/Gopkg.lock#L1256

[2018-06-13 21:17] #1451 closed

[2018-06-13 21:19] ayj commented on #3168
@ijsnellf, is this issue fixed now in master?

[2018-06-13 21:20] andraxylia commented on #6109
Why?

Are you asking for a helm option? If helm template is used, the yaml files can be customized before deployment, but I do not see why we would enable this.

[2018-06-13 21:22] ozevren commented on #3011
@geeknoid can you take a look at this and comment on the latest? Is Service Broker under config umbrella?

[2018-06-13 21:22] douglas-reid commented on #4289
done?

[2018-06-13 21:27] ayj commented on #2927
@costin @sdake, whats the current status of `istio gen-deploy`?

[2018-06-13 21:27] hklai commented on #2988
Obsolete. Closing

[2018-06-13 21:27] kyessenov commented on #6237
This should be assigned to whoever owns the linting in istio. Go 1.10.3 has no problem with type aliases (they were introduced in go 1.0).

[2018-06-13 21:28] andraxylia commented on #6099
@ostromart any idea?

[2018-06-13 21:28] kyessenov commented on #6237
Please delegate @hklai.

[2018-06-13 21:30] douglas-reid commented on #2531
I believe that we can close this issue now. Adding service discovery for other environments can be handled in separate issues per environment.

[2018-06-13 21:30] #2531 closed

[2018-06-13 21:30] jasmine-jaksic commented on #6030
Please use istio-users@googlegroups.com or https://istio.rocket.chat if you have additional questions.

[2018-06-13 21:30] #6030 closed

[2018-06-13 21:30] hklai commented on #2412
make build should run on macos now.

Also we added a vagrant file to run e2e tests.
See https://github.com/istio/istio/blob/master/tests/e2e/README.md#using-a-local-vm

[2018-06-13 21:30] #2412 closed

[2018-06-13 21:31] douglas-reid commented on #2633
i believe we are heading in a different direction now for CRDs for Mixer. Closing for now.

[2018-06-13 21:31] #2633 closed

[2018-06-13 21:31] ostromart commented on #5146
This test is not flaky anymore, looking at the presubmits for the last few days.

[2018-06-13 21:31] #5146 closed

[2018-06-13 21:31] ldemailly commented on #3865
yes it is

[2018-06-13 21:31] #3865 closed

[2018-06-13 21:31] hklai commented on #1803
We are already running linter checks in presubmit. Closing.

[2018-06-13 21:31] #1803 closed

[2018-06-13 21:32] wattli commented on #1456
This is fixed by #4146

[2018-06-13 21:32] #1456 closed

[2018-06-13 21:33] hklai commented on #2594
I think this has already been resolved and I have no problem building on both mac and linux.

[2018-06-13 21:33] #2594 closed

[2018-06-13 21:33] incfly commented on #5059
@PiotrSikora

I shared the config_dump for the pod d, also the excerpt of port 80(permissive multiplexing), and port 7070(strict tls), https://paste.ee/p/xdLuZ

[2018-06-13 21:34] wattli commented on #4013
istio/security/cmd/flexvolume/driver is deprecating, will delete.

[2018-06-13 21:34] ldemailly commented on #2988
it's not a high priority but it's still the case with 0.8.0

[code]

[2018-06-13 21:35] wattli commented on #2165
Looks like we don't need FlexVolume, i propose we close this issue, @saumoh , any objection?

[2018-06-13 21:35] wattli commented on #2165
I am closing it for now and feel free to reopen it.

[2018-06-13 21:35] #2165 closed

[2018-06-13 21:35] hklai commented on #3982
Obsolete. Closing.

[2018-06-13 21:35] #3982 closed

[2018-06-13 21:35] jasmine-jaksic commented on #5749
@nixgadget Please reopen if this issue still exists with 0.8 release

[2018-06-13 21:35] #5749 closed

[2018-06-13 21:36] wattli commented on #2317
Feel free to assign it back if the issue still exists.

[2018-06-13 21:37] andraxylia opened #6258 "Make containerPorts not required"
Release 0.8 introduce the requirement to explicitly configure the containerPorts in the Pod to have Envoy intercept the traffic to those ports.

To remove this requirement, we need to separate the inbound and outbound Listeners. Changes are required in Envoy.

cc @PiotrSikora

[2018-06-13 21:37] louiscryan opened #6259 "Requirement on containerPort to capture traffic is too onerous"
We've seen many customers report issues on 0.8 around the new requirement to use containerPort declarations to capture traffic. This requirements was introduced as a workaround for the security issues with the proxy config in 0.7 that allowed a proxy to be used as a trampoline.

This is yielding a sub-optimal user experience and I believe we can have a more complete solution for this problem witho

[2018-06-13 21:37] hklai commented on #3921
I think this has been solved by both mac compilation fix and https://github.com/istio/istio/blob/master/tests/e2e/README.md#using-a-local-vm

[2018-06-13 21:37] #3921 closed

[2018-06-13 21:38] #1494 closed

[2018-06-13 21:39] ldemailly commented on #664
andy while I agree the specific issues aren't necessarily test and release specific, the underlying theme across is the ease  (or not) of adding non flacky simple tests (applies to #3029 as well) - how easy those gets fixed will I guess inform on whether we are where we want from a test framework point of view.

[2018-06-13 21:39] hklai commented on #3721
@kimikowang is working on this now.

[2018-06-13 21:39] ozevren commented on #2119
This is an external dependency issue. I reassigned to myself to follow through on this.

[2018-06-13 21:41] wattli commented on #2090
Yes, we are actively working on the SDS API work, i.e., key/cert will be delivered via API instead of file read. In that case, we won't need envoy restart thing. https://github.com/istio/istio/issues/5891 Close this one for now.

[2018-06-13 21:41] #2090 closed

[2018-06-13 21:41] ozevren commented on #2082
Adding this for milestone v1 as we'd like to get it in as an alpha component.

[2018-06-13 21:42] jasmine-jaksic commented on #6066
Please use istio-users@googlegroups.com or https://istio.rocket.chat if you have additional questions.

[2018-06-13 21:42] #6066 closed

[2018-06-13 21:42] wattli commented on #3181
I believe this is fixed by @mangchiandjjoe

[2018-06-13 21:42] #3181 closed

[2018-06-13 21:42] andraxylia commented on #6085
@johnzheng1975 is the log you attached from the istio-proxy by the pilot? Did you use ingress or gateway? Could you please send logs from the gateway/ingress pods, as well as from pilot, also kubectl get all?

[2018-06-13 21:42] hklai commented on #3196
Looks obsolete. Please reopen if this is still an issue.

[2018-06-13 21:42] #3196 closed

[2018-06-13 21:42] ldemailly commented on #2943
replaced by
https://github.com/istio/istio/blob/23d2f39c506deaae382994154b3ad19f6e5ee932/pkg/log/options.go#L384  ;-)

[2018-06-13 21:42] douglas-reid commented on #2221
Closing for now.

[2018-06-13 21:42] #2221 closed

[2018-06-13 21:42] ozevren commented on #4297
Dupe of https://github.com/istio/istio/issues/1971

[2018-06-13 21:42] #4297 closed

[2018-06-13 21:43] jasmine-jaksic commented on #6045
Please use istio-users@googlegroups.com or https://istio.rocket.chat if you have questions.

[2018-06-13 21:43] #6045 closed

[2018-06-13 21:44] andraxylia commented on #6071
Could you please send full pilot and gateway pod logs?

[2018-06-13 21:44] wattli commented on #4252
We actually don't need this driver.go any more, i will clean it up.

[2018-06-13 21:44] ozevren commented on #1812
@ayj already implemented this.

[2018-06-13 21:44] #1812 closed

[2018-06-13 21:45] hklai commented on #4255
Obsolete. Closing.

[2018-06-13 21:45] #4255 closed

[2018-06-13 21:47] hklai commented on #664
@ldemailly yes that is part of what swat team is doing (i.e. less flaky framework), but labeling all test issues with "area/test and release" is not helpful to anyone.

[2018-06-13 21:47] #6209 closed

[2018-06-13 21:48] ozevren commented on #1724
Is this still relevant?

[2018-06-13 21:49] hklai commented on #4154
@kimikowang isn't this something you had already done?

[2018-06-13 21:49] douglas-reid commented on #2367
i don't know how to fully resolve this issue.

we've changed the attributes we are using and have stopped deriving service names.

we still have issues around attribute derivations for VM workloads (mesh extension use cases).

Can we close this issue and open a more actionable set of issues?

[2018-06-13 21:49] ozevren commented on #1724
Closing this for now. If this is still releveant, please reopen.

[2018-06-13 21:49] jasmine-jaksic commented on #5781
Please use istio-users@googlegroups.com or https://istio.rocket.chat if you have additional questions.

[2018-06-13 21:49] #5781 closed

[2018-06-13 21:50] hklai commented on #4044
Looks like it has been fixed. Closing.

[2018-06-13 21:50] #4044 closed

[2018-06-13 21:51] douglas-reid commented on #2525
i think we can close this out, given the switch in CR modeling going on. Feel free to open back up if needed.

[2018-06-13 21:51] #2525 closed

[2018-06-13 21:51] jasmine-jaksic commented on #5992
Going forward, please use istio-users@googlegroups.com or https://istio.rocket.chat if you have questions.

[2018-06-13 21:51] ayj commented on #882
ref: https://github.com/istio/istio/pull/5893

[2018-06-13 21:51] ldemailly commented on #3196
it's not obsolete as it still rebuilds each time, just that go build is now faster

[2018-06-13 21:52] jasmine-jaksic commented on #5657
Please use istio-users@googlegroups.com or https://istio.rocket.chat if you have questions.

[2018-06-13 21:52] #5657 closed

[2018-06-13 21:53] douglas-reid commented on #2746
I'm going to close this issue, as we have a working solution for k8s. We should track non-k8s environments separately, as there are likely a host of issues around deployment of add-ons etc.

[2018-06-13 21:53] #2746 closed

[2018-06-13 21:53] ldemailly commented on #580
is there a tracking or replacement issue that will ensure those exist for/before 1.0 ?

[2018-06-13 21:53] hklai commented on #5332
@nixgadget "You are supposed to run make generate_yaml" instead.

Closing

[2018-06-13 21:53] #5332 closed

[2018-06-13 21:53] #3836 closed

[2018-06-13 21:53] mandarjog commented on #6259
We are hearing about this problem often from customers, and even from within the team.

Even though this behaviour was introduced to fix a security problem, it has introduced another one.
Users can inadvertently (or maliciously) opt out of the mesh by not using the correct `containerPort` setting. If there is a standard RBAC policy that applies to all services, simply by forgetting to set `contain

[2018-06-13 21:54] gyliu513 commented on #6109
@andraxylia just not clear why we create this service account without any clusterrolebindings.

/cc @rshriram who is the original author for this.

[2018-06-13 21:54] douglas-reid commented on #2803
I believe this has been fixed in the intervening time.

[2018-06-13 21:54] #2803 closed

[2018-06-13 21:54] andraxylia commented on #6070
Sorry, I am a bit confused about the need for chaining. You description says "It's a common case to publish more than one service by one domain name. And can be easily configured by ingress, but seems a little hard to describe it by Gateway&VirtualService.".

Do I understand correctly this is bookinfo.com/productpage and booking.com/reviews ?

What does not work when you use a Gateway, and one Vir

[2018-06-13 21:54] ldemailly commented on #2643
sounds good, but will the new framework address the issue? (of both having detailed logging when needed as well as fast way to pin point failure)

[2018-06-13 22:00] diemtvu commented on #6180
Yes

On Wed, Jun 13, 2018 at 1:49 PM Tao Li <notifications@github.com> wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-215-8127

[2018-06-13 22:01] douglas-reid commented on #4303
Closing, as I see the following in the commit history: `Use dynamically assigned port for Prometheus integration tests (#4312)`

[2018-06-13 22:01] #4303 closed

[2018-06-13 22:03] douglas-reid commented on #5299
Any status update on this issue?

[2018-06-13 22:04] douglas-reid commented on #5987
@jeffmendoza will be handling this issue in the near future. deferring to him to coordinate.

[2018-06-13 22:05] ayj commented on #6082
dup of #882

[2018-06-13 22:05] #6082 closed

[2018-06-13 22:06] ldemailly commented on #2367
go ahead if you want though it's already the 3rd round of close and reopen - but yes I guess the long thread about service/workload etc on the mailing list probably is the replacement for this

[2018-06-13 22:06] geeknoid commented on #2025
Has there been follow-up on this problem?

[2018-06-13 22:10] andraxylia commented on #5940
Can you please attach directly (not paste) the .yaml files you used for config? Did you specify your containerPorts in your Pods? This is required as of 0.8.

[2018-06-13 22:10] douglas-reid commented on #4749
I think this can be closed. I believe this was fixed for 0.8.

[2018-06-13 22:10] #4749 closed

[2018-06-13 22:11] gyliu513 commented on #6180
@diemtvu I was still confused by the behavior follows:

If I only `DestinationRule` as follows:

[code]

[code]
Then the result of curl is as follows:
[code]

Why does two 503 error for sleep.foo andsleep.bar? I assume those two calls should succeed?
[code]

Also why the two pods without sidecar succeed? I assume they should failed?
[code]

Can you please explain more here? Thanks!

[2018-06-13 22:12] ldemailly commented on #664
I think a label to track test issues would be useful

[2018-06-13 22:13] douglas-reid commented on #4103
@kyessenov think we are in a position to close this out now?

[2018-06-13 22:14] andraxylia commented on #5982
Please include this:
https://github.com/istio/istio/issues/5916

[2018-06-13 22:14] #5646 closed

[2018-06-13 22:14] andraxylia commented on #5982
Please include this:
 https://github.com/istio/istio/issues/5982

[2018-06-13 22:14] ldemailly commented on #2025
Yes, and it is also one of the areas for the perf swat team to dig further. @mandarjog is on point for that part.

[2018-06-13 22:17] ldemailly commented on #3404
I don't know that it has been fixed. do we have a test for this feature, is it passing ?

[2018-06-13 22:17] ayj commented on #358
closing in favor of https://github.com/istio/istio/issues/5308

[2018-06-13 22:17] #358 closed

[2018-06-13 22:18] ldemailly commented on #358
in theory we should keep the oldest issue but ok ;-)

[2018-06-13 22:20] ayj commented on #5308
@Tahler @mandarjog - is this issue resolved by https://github.com/istio/istio/pull/5422?

[2018-06-13 22:23] jasmine-jaksic commented on #765
We have a reference doc for Stackdriver which I think should address this requirement
https://istio.io/docs/reference/config/policy-and-telemetry/adapters/stackdriver/

[2018-06-13 22:23] #765 closed

[2018-06-13 22:23] Tahler commented on #5308
Yes. It doesn't use `istioctl proxy-cfg` but I believe it gathers the same information. Should probably get confirmation from @mandarjog though

[2018-06-13 22:23] andraxylia commented on #6258
Dup of #6259

[2018-06-13 22:23] #6258 closed

[2018-06-13 22:27] andraxylia commented on #5880
Can you please try with istio release 0.8 and Gateway configs like here?
https://istio.io/docs/tasks/traffic-management/ingress/

[2018-06-13 22:28] ozevren commented on #4027
@liminw @diemtvu the verbiage on this issue indicates this as a general istio-wide problem, whereas the issue is assigned to you folks.

What is the concrete deliverable here? Are you planning to switch to global-scoped CRDs for security related configuration?

[2018-06-13 22:28] ozevren commented on #4027
If the scope is only for security related CRDs, then we should update the title.

[2018-06-13 22:30] geeknoid commented on #5022
This has been addressed.

[2018-06-13 22:30] #5022 closed

[2018-06-13 22:33] andraxylia commented on #5843
@shoaibechidna can you please run the config_dump commands @esnible indicated?

How long did you wait before concluding 50/50 is not applied?

[2018-06-13 22:33] geeknoid commented on #3839
The .html files are updated along with the .pb.go files, so they're tied at the hip and will not get out of sync.

[2018-06-13 22:34] geeknoid commented on #1738
No work here

[2018-06-13 22:34] #1738 closed

[2018-06-13 22:34] andraxylia commented on #5843
Also, your issue is older and uses some pre 0.8 release, could you please retry with 0.8 official release?

[2018-06-13 22:35] hklai commented on #664
The closest one is "kind/test failure".

[2018-06-13 22:35] geeknoid commented on #3815
Mixer e2e perf is dominated by I/O, lock contention is unlikely to show up on any radar anytime soon.

[2018-06-13 22:38] geeknoid commented on #2025
@douglas-reid has a PR that introduces sampled output to the stdio logger. Is that part of addressing this issue?

We could also put a buffering layer in front of zap. I believe every log statement in zap is pushed all the way out with no intermediary buffering. Adding just a few ks of buffer would go a long way.

[2018-06-13 22:39] ozevren opened #6261 "no matches for kind "DestinationPolicy" in version "config.istio.io/v1alpha1""
@fleeto commented on [Sat Apr 14 2018](https://github.com/istio/issues/issues/288)

**Is this a BUG or FEATURE REQUEST?:**

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:

Y

**Bug:**

Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**

[code]

**Is Istio Auth enable

[2018-06-13 22:40] andraxylia commented on #5815
There should be no conflict with the k8s network policies. Can you provide more details on what does not work?

[2018-06-13 22:42] andraxylia commented on #5815
@spikecurtis have you noticed anything with Calico?

[2018-06-13 22:42] #3651 closed

[2018-06-13 22:42] #5788 closed

[2018-06-13 22:43] andraxylia commented on #5778
This should be fixed in 0.8

[2018-06-13 22:43] #5778 closed

[2018-06-13 22:43] kyessenov commented on #4103
Done using `context.reporter.local` boolean.

[2018-06-13 22:43] #4103 closed

[2018-06-13 22:43] douglas-reid commented on #2249
Right now, there is no way to avoid having applications propagate some context, in this case trace headers. Fortunately, there are several client libraries than take care of this on behalf of applications.

Closing, as there is no further action here to resolve.

[2018-06-13 22:43] #2249 closed

[2018-06-13 22:47] geeknoid commented on #1450
This is an area to investigate if we find proxy level caching to have low hit rates due to Mixer-side derivation.

[2018-06-13 22:47] douglas-reid commented on #2311
You can use cadvisor integration to monitor resource consumption for kube components. There is also kube-state-metrics (and heapster) for more monitoring options at the k8s-level.

Prometheus ships as an add-on for Istio, with a default configuration. If you have your own Prometheus setup, you can disable the prometheus install, using helm to generate the appropriate yaml.

I'm going to close this

[2018-06-13 22:47] #2311 closed

[2018-06-13 22:49] douglas-reid commented on #2565
I think this is still valid, though the details have changed.

@mandarjog what do you think about having a script for updating the config.yaml template as part of the build?

[2018-06-13 22:50] douglas-reid commented on #2680
Can we close this issue now?

[2018-06-13 22:55] douglas-reid commented on #3254
what is the status of this issue?  OBE?

[2018-06-13 22:57] douglas-reid commented on #5109
that pr was merged - close?

[2018-06-13 22:58] #2748 closed

[2018-06-13 22:58] #2749 closed

[2018-06-13 22:58] #2747 closed

[2018-06-13 23:01] andraxylia commented on #5731
Is this not already supported via the helm template or istioctl gen-deploy? If nothing is pending, can you please close this issue?

[2018-06-13 23:01] ostromart commented on #2751
https://github.com/istio/istio/issues/5307 looks to be relevant to this.

[2018-06-13 23:03] PiotrSikora commented on #6259
As mentioned elsewhere - Pilot simply needs to stop generating wildcard listeners, and then we can go back to intercepting all the traffic.

[2018-06-13 23:07] andraxylia commented on #5696
@JimmyCYJ is this fixed by #5697 ? If yes, can you please close the issue?

[2018-06-13 23:08] hklai commented on #4904
Closing now.

[2018-06-13 23:08] #4904 closed

[2018-06-13 23:14] JimmyCYJ commented on #5696
@andraxylia Thanks for asking. That PR temporarily disables those tests, we will fix the tests and re-enable them. This issue is open for tracking tests failures, and we want to keep it open for now.

[2018-06-13 23:17] diemtvu commented on #4027
https://github.com/istio/istio/pull/6159 attempt to add new CRD kind specifically for authn policy.

On the other hand, I hope framework can do something more consistent across all other configs type. For example, it can create twin CRDs, one in namespace scoped and one in cluster scoped so we don't have to do so case by case. Being said that, not every configs need 'global' config concept, so I'm

[2018-06-13 23:17] JimmyCYJ commented on #3960
Not much progress on this currently. Will update it later.

[2018-06-13 23:17] #4027 closed

[2018-06-13 23:19] ostromart commented on #6162
well right now most of the stuff that would be in a callback is just inlined. that's different from sidecar where all the action is in the plugin callback.

[2018-06-13 23:28] hklai commented on #4878
Closing since this is not actionable.

[2018-06-13 23:29] #4878 closed

[2018-06-13 23:40] lei-tang commented on #6182
@gyliu513  Our answers to your three questions are as follows:

Question 1: The question is if I have multiple services and I want different services use different key and cert, how to achieve this?
Different services will always get different key&cert to identify the workload. Is the question actually about having multiple Citadel (each with different signing key and certificate) and using them t

[2018-06-13 23:43] ostromart commented on #6099
I think the warning is valid. I haven't seen this issue specifically but have seen cases where updating routes causes virtual services to disappear for a couple of seconds. It doesn't disrupt traffic because the resulting listener is invalid and the update is rejected until a new correct one comes along.
Would need to look more deeply in to kube client / cache code but haven't had time to get to t

[2018-06-13 23:51] hklai commented on #6241
There are some linter errors caused by some recent work from @JimmyCYJ and myself. We will fix them.

Running gometalinter ....
+ /Users/hklai/go/bin/gometalinter.v2 --config=./lintconfig_base.json ./...
tests/util/checker/linter/main/main.go:46:44:error: too few arguments in call to checker.Check (unconvert)
tests/util/checker/linter/main/main.go:46:38:error: unused variable or constant cannot us

[2018-06-13 23:51] diemtvu commented on #6180
Please note that DestinationRule is applied on the (client) service, for the outbound request to the `host` specified by the rule.

With the destination rule you used, any services (with sidecar) will be setup to use (m)TLS when talking to services in `foo`. However, as you didn't enable mTLS (via authentication policy) for services in foo, `httpbin.foo`, in particularly, it expects incoming reque

[2018-06-13 23:51] nmittler commented on #2643
It will have to. If it doesn't, this will continue to be a problem and will be addressed separately for the new framework.

[2018-06-13 23:53] nmittler commented on #5299
I believe this has been fixed as it hasn't been blocking any PRs.  Closing for now.

[2018-06-13 23:53] #5299 closed

[2018-06-13 23:55] hklai commented on #1251
Looks obsolete. Please reopen if this is still applicable.

[2018-06-13 23:55] #1251 closed

[2018-06-13 23:56] nmittler commented on #3404
@disha94 The original issue was against istio 0.5.  Can you confirm that this is still and issue in 0.8?

[2018-06-13 23:58] hklai commented on #2875
Already done.

https://github.com/istio/istio/releases/tag/0.8.0

[2018-06-13 23:58] #2875 closed

[2018-06-14 00:00] todkap commented on #5995
The discussion above is excellent but it still heavily relies on resolving hostnames and is really only useful for programmatic invocations.   It feels like we have lost basic function where a user can specify their ip address and port and access their Istio enabled application.   I would really like to understand more what are the best practices for setting up an application for browser based tes

[2018-06-14 00:01] hklai commented on #3064
Closing this in favor of https://github.com/istio/istio/issues/6245 which has more info and is newer.

[2018-06-14 00:01] #3064 closed

[2018-06-14 00:02] aaronjwood commented on #6148
I can do that. Is everyone good with having it be a CLI option that can be passed all the way down? @rshriram also mentioned that the global mesh config in `istio/api/mesh/v1alpha1/...` might be another place for it.

[2018-06-14 00:02] hklai commented on #3198
Seems obsolete? Please reopen if this is still an issue.

[2018-06-14 00:02] #3198 closed

[2018-06-14 00:04] hklai commented on #3593
Seems obsolete since vendor is in istio/istio. Please reopen if this is still applicable.

[2018-06-14 00:04] #3593 closed

[2018-06-14 00:05] #3731 closed

[2018-06-14 00:06] hklai commented on #3496
Obsolete. install/updateVersion.sh is not supposed to be called directly anymore.

[2018-06-14 00:06] #3496 closed

[2018-06-14 00:07] kyessenov opened #6265 "mixerfilter: tests with re-configuration (LDS/RDS)"
We have been bitten twice by lack of test coverage for re-configuring mixerfilter. We should have a local test that pushes an LDS update with envoy under load. This is much easier to debug than waiting all the way to perf tests to detect crashes in envoy.

[2018-06-14 00:10] PiotrSikora commented on #6148
@aaronjwood just to avoid any confusion, you're talking about only changing the type of certificates generated by Istio CA, correct? Not about removing support for RSA from the whole platform and/or actively rejecting RSA certificates?

[2018-06-14 00:11] hklai commented on #4214
I suppose https://k8s-testgrid.appspot.com/istio-daily had solved this need. =)

[2018-06-14 00:11] #4214 closed

[2018-06-14 00:14] hklai commented on #2974
@vaidsu https://github.com/istio/istio/tree/master/tests/e2e#using-a-local-vm should help you run E2E tests on local machines.

[2018-06-14 00:15] gyliu513 commented on #5995
@todkap please refer to https://istio.io/docs/tasks/traffic-management/ingress/#accessing-istio-service-mesh-by-a-browser , currenlty, you should have a loadbalancer if you want to access from browser. I have a loadbalancer based on keepalived, you can get it from https://github.com/gyliu513/work/tree/master/k8s/charts/keepalived

[2018-06-14 00:17] hklai commented on #3788
The 0.8 doc for sure had been updated.
https://istio.io/docs/setup/kubernetes/mesh-expansion/

[2018-06-14 00:17] #3788 closed

[2018-06-14 00:19] hklai commented on #4333
Obsolete in favor of the SWAT team work.

[2018-06-14 00:19] #4333 closed

[2018-06-14 00:28] hklai commented on #4756
@JimmyCYJ should this be added to gometalinter or the new testlinter?

[2018-06-14 00:29] hklai commented on #4872
@Tahler what is the status? Can we merge #4874?

[2018-06-14 00:30] JimmyCYJ commented on #4756
@hklai I think we could implement a lint rule for the new testlinter to cover this case.

[2018-06-14 00:32] hklai commented on #5923
Nope, I am not aware of anyone trying ti.

[2018-06-14 00:32] geeknoid opened #6266 "Retire istio/issue repo"
We're not getting real value out of having istio/issue as a separate repo. It just leads to additional administration overhead. We should just use istio/istio to track all issues. It'd be great to nail this before 1.0 ships so we're on the right plan for all the new customers.

We should move all issues to the istio/istio repo, and then we can delete the istio/issue repo. We'll need to change a fe

[2018-06-14 00:32] rshriram commented on #6259
For which we need the filter chain match on destination ip ranges.

[2018-06-14 00:34] geeknoid opened #6267 "Retire istio/api repo."
We've got general agreement on the team that having istio/api as a distinct repo is a burden with no significant upsides and many downsides. We should just merge its contents to an api directory in the istio/istio repo.

@louiscryan @smawson @linsun @costinm @hklai

[2018-06-14 00:35] rshriram commented on #6259
Otherwise generating 100s of listeners one per service and port combo is not feasible given that we will have 100s of RDS resource requests - one per http connection manager. Any change in mixer filter or other filter will cause mass reload of all these listeners.

[2018-06-14 00:35] hklai commented on #5928
@mandarjog @ostromart this does not belong to Test and Release.
Please reassign accordingly.

[2018-06-14 00:36] andraxylia commented on #6162
This is implementation detail. What is the user visible impact/bug if this is not fixed for 1.0?

[2018-06-14 00:36] geeknoid commented on #4756
What's testlinter?

Ideally, this can written as a stand-alone program which we can invoke from gometalinter. We've done this to lint adapter code for example.

[2018-06-14 00:38] spikecurtis commented on #5815
I mean, I can confirm that Calico works by default in the way described: it only applies NetworkPolicy to connection setup.

[2018-06-14 00:38] hklai commented on #5899
please reopen if this is still a problem

[2018-06-14 00:38] kyessenov commented on #6259
I think technicalities in configuration server should not prevent us from getting the model right. xDS server can hold responses as needed, to prevent mass reloads, or to wait until all RDS resources are requested.  In fact, I claim it's actually better to split RDS into smaller resources. Currently, in the worse case of all services listening on port 80, we have one giant RDS object that forces m

[2018-06-14 00:39] smawson commented on #6266
+1, I think it had value when we had lots of repos, now that we have istio/istio as a monorepo it is fairly worthless.

[2018-06-14 00:39] JimmyCYJ commented on #4756
We have implemented a testlinter that could be invoked from gometalinter, just like lint adapter code. https://github.com/istio/istio/tree/master/tests/util/checker/testlinter, it is still under implementation. It covers some custom lint rules we proposed for tests, and we could run it manually now.

[2018-06-14 00:40] kyessenov commented on #6267
There is auto-generated python code there now. What do we do about it?

[2018-06-14 00:42] kyessenov commented on #6267
Another thing to keep in mind: proxy depends on bazel build in istio/api. That's not going away anytime soon since envoy is committed to bazel. We'd need to bazelify istio/istio as a result of this.

[2018-06-14 00:44] PiotrSikora commented on #6148
@wattli @costinm can you explain exactly why do you care about support for both RSA & ECDSA for Istio CA generated certificates, that are only used between sidecars? What flexibility and interoperability concerns are you trying to address?

@aaronjwood please stick to P256 for the time being.

[2018-06-14 00:45] kyessenov commented on #6162
The end result is that we report incorrect telemetry, and possibly apply
incorrect policy checks.

On Wed, Jun 13, 2018 at 5:36 PM Andra Cismaru <notifications@github.com>
wrote:

[2018-06-14 00:45] ldemailly commented on #3064
typically we keep the oldest/original issue in case of dup but ok

[2018-06-14 00:46] kyessenov commented on #6162
To put some context, I'd not file this issue if this implementation detail was not a road block to some user visible problems.

[2018-06-14 00:46] vaidsu commented on #2974
@hklai - This is excellent -- I will check and set this up.

[2018-06-14 00:47] ldemailly commented on #3593
we still have to move api inside istio as shriram signed up to do some months ago but that can be tracked elsewhere indeed

[2018-06-14 00:48] ldemailly commented on #2875
we don’t save everything and the build isn’t hermetic but ok

[2018-06-14 00:49] geeknoid opened #6269 "istio.github.io repo sometimes blocks on changes to references to istio.io"
@sdake commented on [Mon Apr 02 2018](https://github.com/istio/istio.github.io/issues/1135)

There are a lot of links to istio/istio (edited: was istio/istio.io) in the istio.github.io repository.  Would be helpful to have a cross-repo gate in istio/istio that was voting (i.e. required).  I don't know if this is viable with circleci, but would help prevent blockages on the documentation repository

[2018-06-14 00:52] ldemailly commented on #5109
yes it worked in 0.8.0 v1

[2018-06-14 00:52] #5109 closed

[2018-06-14 00:53] ldemailly commented on #664
looking more for kind/test coverage

[2018-06-14 00:54] #3254 closed

[2018-06-14 00:55] Tahler commented on #4872
Well, I think the better move is to remove the pre-submit hooks. No one is using it and even in a fixed state, it will take some time to run the unit tests and linters on each commit. I'll close #4874 and make a different PR to delete the pre-submits from the docs and repo.

[2018-06-14 00:57] andraxylia commented on #5815
thanks @spikecurtis your explanation. So this is specific to the case when the network policy is configured after a connection is already established, and a workaround would be to define the k8s network policy before attempting any connection.

[2018-06-14 01:00] andraxylia commented on #6162
@kyessenov thanks for clarifying, it helps with setting the right priority.

[2018-06-14 01:09] andraxylia commented on #2367
If mixer needs Services and Endpoints, it should use the MCP client, and we can decide later if the source is Pilot, Galley, or an out-of-process service registry. Please replace Pilot with Mixer in the Pilot Decomposition doc to get the picture: https://goo.gl/qAsEQx .

@ozevren might be interested in working on the MCP for mixer.

[2018-06-14 01:19] andraxylia commented on #882
Bumping up the milestone on this one based on #6082 : "It would be great if Istio resources (like Gateway) expose some Status information so that downstream can check before sending traffic to the Gateway.

Similarly, it would be good to know when a VirtualService's routerules have been propagated / effective."

[2018-06-14 01:27] hklai commented on #1391
Seems obsolete. Please reopen if this is still an issue.

[2018-06-14 01:27] #1391 closed

[2018-06-14 01:27] Tahler commented on #5928
This is arguably related to test and release because we wanted e2e tests to fail if there were any core dumps.

However, this issue should be resolved by the recently merged #5984.

[2018-06-14 01:27] #5928 closed

[2018-06-14 01:32] kyessenov commented on #5928
We need a test that core dumps are generated, because they are not.

On Wed, Jun 13, 2018, 6:28 PM Tyler Berry <notifications@github.com> wrote:

[2018-06-14 01:34] hklai commented on #1511
@sebastienvas is this still applicable?

[2018-06-14 01:35] andraxylia commented on #6109
It's something we missed when Gateway was added, and an issue, since we do not want to let the default service account configure gateways. It is only the network operator who should do it. gyliu513 could you please fix this? And let's change the title of this issue.

[2018-06-14 01:36] hklai commented on #576
Well AFAICT mac build is fairly stable for the past few months.

[2018-06-14 01:38] hklai commented on #2262
Obsolete in favor of the new issue.

[2018-06-14 01:38] #2262 closed

[2018-06-14 01:40] hklai commented on #1401
Is this still an issue?

[2018-06-14 01:41] hklai commented on #2615
mac build is more stable now. Please reopen if this is still an issue.

[2018-06-14 01:41] #2615 closed

[2018-06-14 01:41] andraxylia commented on #1401
Closing, I removed that logic a while ago, it was too expensive.

[2018-06-14 01:41] #1401 closed

[2018-06-14 01:43] douglas-reid commented on #6247
With @geeknoid's fix for caching, I now also see `TestCheckCache` working again. It is a pity the nodePort issues were hiding these failures, as that should have been our canary for the perf issues we also saw.

From a local e2e test:
[code]

[2018-06-14 01:43] hklai commented on #4779
We made vagrant work and that theoretically supports snapshotting already.
https://github.com/istio/istio/tree/master/tests/e2e#using-a-local-vm

[2018-06-14 01:53] hklai commented on #3755
This does not look actionable, and now that submodule (assuming vendor) is gone, closing.

[2018-06-14 01:53] #3755 closed

[2018-06-14 01:56] hklai commented on #1683
Please reopen if this is still an issue.

[2018-06-14 01:56] #1683 closed

[2018-06-14 01:57] andraxylia commented on #1437
We need to test this with 0.8, we cannot close it yet.

[2018-06-14 01:58] douglas-reid commented on #6198
@sebastienvas @chxchx any updates on removing that option? It will prevent setup of the mixer test consistently -- manifesting in test failures.

[2018-06-14 01:59] hklai commented on #4578
Mostly done.

Remaining items:
1. Create a wiki page about testgrid setup.
2. Reevaluate the circle/prow jobs and add the missing jobs to the istio testgrid page.
3. Fix the hardcoded links to k8s in testgrid.

[2018-06-14 02:02] hklai commented on #4060
vendor repo is no more. Closing.

[2018-06-14 02:02] #4060 closed

[2018-06-14 02:05] gyliu513 commented on #6241
This is my go version, I was using go version 1.10.3

[code]
[code]

[2018-06-14 02:07] #4872 closed

[2018-06-14 02:07] andraxylia commented on #3800
We should add this to Gateway, similar to what Ingress has:
https://github.com/kelseyhightower/ingress-with-static-ip

[2018-06-14 02:09] lizan commented on #3295
@andraxylia  I'm not aware of any. @kinghrothgar can you paste one line of your access log for the 503? I'd like to confirm whether it is same root cause.

envoyproxy/envoy#2715 only happens with certain upstream app which doesn't send `connection: close` and close connection.

[2018-06-14 02:09] andraxylia commented on #3867
Can you please try with 0.8 and Gateway?

[2018-06-14 02:10] gyliu513 commented on #6241
I run the test again, did not encounter your issue

[code]

[2018-06-14 02:11] andraxylia commented on #3849
The kube APIs are not available.

Related to #6146

[2018-06-14 02:12] douglas-reid commented on #6247
`TestRateLimit...` test exhibits odd behavior. It appears to be enforcing the override quota at each service. This appears to be resulting in a minimal amount of traffic actually reaching the targeted service, leading to just failures based on volume. More debugging needed.

cc: @mandarjog

[2018-06-14 02:13] andraxylia commented on #3799
Need to check this with the egress Gateway.

[2018-06-14 02:14] douglas-reid commented on #6247
Looking at the logs for `istio-policy`, I see they are full of:

[code]

[2018-06-14 02:14] gyliu513 commented on #6182
@lei-tang My use case is that I was now grouping some namespaces to a group, and this group of namespaces will be used by a team. And each team want to manage their own cert, so I want to make sure that citadel can be set more fine-grained, such as each citadel can listen to a group of namespaces, but not only one or all.

[2018-06-14 02:17] andraxylia commented on #3764
That file is gone.

[2018-06-14 02:17] #3764 closed

[2018-06-14 02:18] andraxylia commented on #3767
cc @geeknoid

[2018-06-14 02:28] kyessenov commented on #6247
TestIngress is failing due to the way pilot constructs gateway routes. Gateway is treated as a source of the traffic, and filters are applied to outbound routes. That changes ingress to be the source, rather the destination, as was before. We need to modify the test to take this into account.

[2018-06-14 02:36] andraxylia commented on #3232
this is fixed now.

[2018-06-14 02:36] #3232 closed

[2018-06-14 02:39] andraxylia commented on #3265
Should work with 0.8.

[2018-06-14 02:39] #3265 closed

[2018-06-14 02:41] andraxylia commented on #3117
Current design requires the port name to start with http*. There are no short term plans to change this.

[2018-06-14 02:41] #3117 closed

[2018-06-14 02:41] andraxylia commented on #3063
@ZackButcher you were working on this one, have you made any progress?

[2018-06-14 02:43] andraxylia commented on #2895
This is fixed in 0.8.

[2018-06-14 02:46] hklai commented on #6198
Shouldn't pre/post submit prow tests have skip_cleanup disabled already?

[2018-06-14 02:51] andraxylia commented on #2777
The only pending issue is health-check for Gateway, which can be handled as part of the HA epic.

So glad to be closing this!

[2018-06-14 02:51] #2777 closed

[2018-06-14 02:52] andraxylia commented on #2728
Please re-open if you still see this, the code has changed quite a bit.

[2018-06-14 02:52] #2728 closed

[2018-06-14 02:53] hklai commented on #1078
We added some VM test which that failed and was disabled.
https://github.com/istio/istio/issues/4794

[2018-06-14 02:53] hazzanz commented on #6244
caCertificates: /etc/certs/root-certs.pem looks incorrect to me. You need to mount a caCertificate which is used to sign your client cert. It does work ;)

[2018-06-14 02:54] andraxylia commented on #2554
Do you still see issues with release 0.8?

[2018-06-14 02:58] hklai commented on #3064
As I mentioned the new one has more info. =)

[2018-06-14 02:59] douglas-reid commented on #6247
So, it turns out that quota enforcement is case-sensitive.

[2018-06-14 03:00] andraxylia commented on #2573
@mk01 can you please try release 0.8 with Gateway? It works with any port.

https://istio.io/docs/tasks/traffic-management/ingress/

[2018-06-14 03:01] andraxylia commented on #2369
It makes more sense if Mixer is configured with Galley. Please see Pilot decomposition and replace Pilot with Mixer

https://docs.google.com/document/d/1S5ygkxR1alNI8cWGG4O4iV8zp8dA6Oc23zQCvFxr83U/edit

cc @ozevren

[2018-06-14 03:01] #2369 closed

[2018-06-14 03:03] andraxylia commented on #2413
@qiujian16 we could use some help on this one if you are still interested.

[2018-06-14 03:07] andraxylia commented on #3295
It's likely we are uncovering other issues.

[2018-06-14 03:09] douglas-reid commented on #6247
See: https://github.com/istio/istio/pull/6271 for a fix.

[2018-06-14 03:09] hklai commented on #6198
https://storage.googleapis.com/istio-prow/e2e-suite-rbac-auth/1861/build-log.txt

@sebastienvas what fix do you suggest? This is now blocking daily releases (i.e. the upcoming RC for 1.0 prerelease).

[2018-06-14 03:16] kyessenov commented on #6155
Fixed by https://github.com/istio/istio/pull/6262

[2018-06-14 03:16] #6155 closed

[2018-06-14 03:21] kyessenov commented on #5885
For HTTP: this has been solved by changing to report "unknown" service when there is ambiguity.
See https://github.com/istio/istio/pull/6122

Since most services we care about are HTTP, I think we can close this issue. I'll follow up with TCP issue.