[2019-02-26 21:27] brommer commented on #12016
Sure:
[code]

I understand, it would be possible to apply these policies also to the services itself (if I split it up to dedicated policies). However, in my local setup I was running into issues with that. The traffic from the ingress controller/Gateway seems to be not going through the envoy sidecar of the service pod itself (e.g. for service-plain) so that policies are not applied even if the e

[2019-02-26 21:29] liamawhite commented on #11947
Ah, this is interesting was unaware of this when I wrote the original code. `request` was intentionally written to come from localhost 🙂.

[2019-02-26 21:35] mandarjog commented on #9928
The related #10393  caused kubenev adapter to never release k8s cache memory. It has been fixed in 1.1  and 1.0.

[2019-02-26 21:35] #9928 closed

[2019-02-26 21:42] duderino commented on #9504
Update from @knrc

PRs that fix this:

https://github.com/istio/istio/pull/11999
https://github.com/istio/istio/pull/12053

And will investigate more and possibly submit additional PRs.

CC:  @hzxuzhonghu, @rshriram

[2019-02-26 21:55] jnativio opened #12093 "Significant performance regression on latest Master daily builds"
**Describe the bug**
Regression Patrol has detected that max throughput has been around 20%-25% less than the baseline (1.0.6) for both istio_full and istio_nomixer configurations. Tests were conducted using 1.1.0-rc.0 with similar results. The last 1.1 build with good results was `release-1.1-20190213-09-16`. The next one was below the 10% range, but not as bad as the latest ones, starting with `

[2019-02-26 21:58] GregHanson opened #12094 "Flakey test: codecov"
**Describe the bug**
https://circleci.com/gh/istio/istio/338465?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

test fails due to timeout installing golang tooling:
[code]

[2019-02-26 22:07] ostromart commented on #12081
Ack, will take a look.

[2019-02-26 22:22] douglas-reid commented on #11696
@Stono I've tried duplicating this issue again -- and cannot. I believe that your traceid spanid concern may be a red herring.

I've taken a fortio instance (with 1.0.6) and had it send requests to the bookinfo app and was able to generate traces -- both with a sidecar injected client-side and without.

I've also used a pod with just `curl` and was also able to send requests and generate trace spa

[2019-02-26 22:25] julianvmodesto opened #12096 "Support HTTP direct responses"
Currently, there isn't a way to fulfill arbitrary http responses in the traffic management nor policy config APIs. Directives are available in [Envoy](https://github.com/istio/envoy/blob/master/api/envoy/api/v2/route/route.proto#L161-L162), HAProxy, and Nginx to write direct response codes with simple message bodies without routing to a backend.

Instead, users need to write, deploy, and route to

[2019-02-26 22:38] douglas-reid commented on #11696
@Stono Here's a trace JSON from jaeger from my 1.0.6 cluster for an example request. This request came from a sidecar-free (no sidecar) pod that sends no tracing headers to an istio endpoint:

[code]

Note: the `traceid` and `spanid` fields are the same; no issues resulted from this setting.

[2019-02-26 22:47] lei-tang opened #12097 "preliminary 1.1 doc for Multicluster Google Kubernetes Engine fails"
{{
https://preliminary.istio.io/docs/examples/multicluster/gke/

Follow the instruction in the section "Create the GKE Clusters", failed with "ERROR: (gcloud.container.clusters.create) unrecognized arguments".

~$ gcloud container clusters create $cluster --zone $zone --username "admin" \
  --cluster-version "1.9.6-gke.1" --machine-type "n1-standard-2" --image-type "COS" --disk-size "100" \
  --sc

[2019-02-26 22:49] douglas-reid commented on #11696
Here is also a snippet of my mesh config:

[code]

And some version information:
- docker.io/istio/pilot:1.0.6
- docker.io/istio/proxyv2:1.0.6
- docker.io/jaegertracing/all-in-one:1.5

[2019-02-26 22:51] liminw commented on #12037
The same [test](https://github.com/istio/istio/blob/master/tests/e2e/tests/simple/a_simple_1_test.go#L193) passed if cni is not enabled. https://k8s-gubernator.appspot.com/builds/istio-prow/pr-logs/directory/e2e-simpleTests

My guess is It is likely that the failure due to Envoy sidecar is not injected properly in CNI deployment. @duderino Can someone from networking team take a look at the sideca

[2019-02-26 22:53] incfly commented on #12097
is your env var set? `cluster, zone` stuff? I doubt they're empty.

[2019-02-26 22:55] lei-tang commented on #12097
Env var are set based on the instructions in: https://preliminary.istio.io/docs/examples/multicluster/gke/

~$ echo $cluster
cluster-1
~$ echo $zone
us-east1-b

[2019-02-26 23:00] incfly commented on #12097
The scope argument is not properly splitted and make bash think it's a separate argument. This will work.

[code]

[2019-02-26 23:00] incfly commented on #12097
Could you help to send a PR to update this? @lei-tang  I can review it, thanks!

[2019-02-26 23:00] mandarjog commented on #12093
Is there a change in app? Rquest or limits applied to app?

[2019-02-26 23:04] lei-tang commented on #12097
~$ gcloud container clusters create $cluster --zone $zone --username "admin" \
  --cluster-version "1.9.6-gke.1" --machine-type "n1-standard-2" --image-type "COS" --disk-size "100" \
  --scopes scope="https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/devstorage.read_only",\
"https://www.googleapis.com/auth/logging.write","https://www.googleapis.com/auth/monitoring",\
"https

[2019-02-26 23:06] lei-tang commented on #12097
After changing the gke version from "1.9.6-gke.1" to "1.11.7-gke.4", the unsupported version error is gone but there is other errors:

~$ gcloud container clusters create $cluster --zone $zone --username "admin"   --cluster-version "1.11.7-gke.4" --machine-type "n1-standard-2" --image-type "COS" --disk-size "100"   --scopes
 scope="https://www.googleapis.com/auth/compute","https://www.googleapis.c

[2019-02-26 23:08] silentdai commented on #11968
@howardjohn has the #12047  see issue #12000

@duderino could you mark this one duplicated?

[2019-02-26 23:18] howardjohn commented on #11968
Closing in favor of #12000, which is the same bug. Thanks.

[2019-02-26 23:18] #11968 closed

[2019-02-26 23:22] justinburke commented on #11078
There's at least two parts to fixing this issue: 1) Citadel shouldn't be signing certificates without a SAN field. 2) node_agent shouldn't be accepting (ie writing out to disk) certificates which are invalid.

It's not clear from the above reports whether node_agent did write out a certificate with an empty SAN field in those cases, but I've seen this behavior on several occasions.

[2019-02-26 23:27] #11826 closed

[2019-02-26 23:28] wattli commented on #11825
It's a dup of #11908

[2019-02-26 23:28] #11825 closed

[2019-02-26 23:42] duderino commented on #11652
Can this be closed?

[2019-02-26 23:45] duderino commented on #11937
Dropping to P1 to cover remaining investigation since it looks like 1.1 rc0 does not have a memory leak

[2019-02-27 00:09] munrodg commented on #11552
@esnible can this be closed?

[2019-02-27 00:12] alejandrox1 commented on #11652
Seems to be that the test mentioned in this issue is no longer present in testgrid.
I will open a separate issue for the new failures that appeared.

[2019-02-27 00:12] #11652 closed

[2019-02-27 00:12] munrodg commented on #11571
@ostromart can you follow up on this issue?  Confirm this is P1.

[2019-02-27 00:16] munrodg commented on #7665
@nmittler can this be closed?

[2019-02-27 00:19] duderino commented on #10041
@vadimeisenbergibm looks like the Envoy PR was merged.  What's left to be done here?

[2019-02-27 00:19] alejandrox1 opened #12101 "[Failing Test] istio-release: e2e-stackdriver"
**Which jobs are failing**:
* [istio-release#e2e-stackdriver](https://testgrid.k8s.io/istio-release#e2e-stackdriver)

**Which test(s) are failing**:
* [istio.io/istio/tests/e2e/tests/stackdriver.TestTrace](https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio-releases_pipeline/354/release-e2e-stackdriver/170)

**Since when has it been failing**:
It has been failing since before 2019/2/13.

[2019-02-27 00:23] bianpengyuan commented on #12101
We are actively debugging this. Mixer log indicates that the cluster still lacks permission to report tracing. We are trying to figure out why boskos is not creating cluster with the desired scopes.

[2019-02-27 00:24] #6477 closed

[2019-02-27 00:24] munrodg commented on #10592
@wattli can this issue be closed?

[2019-02-27 00:25] ostromart commented on #11973
I've never attempted install with nginx - @costinm or @rshriram may be able to help.

[2019-02-27 00:25] #10629 closed

[2019-02-27 00:28] munrodg commented on #10932
@douglas-reid can you take a look at this issue?

[2019-02-27 00:29] duderino commented on #10500
P0 can minimally be sanctified with documentation (e.g., "To get legacy ingress, please use the new templates").  Once that's satisfied this can be dropped to P1

[2019-02-27 00:29] alejandrox1 opened #12102 "[Failing Test] istio-release: e2e-mixer-no_auth"
**Which jobs are failing**:
* [istio-release#e2e-mixer-no_auth](https://testgrid.k8s.io/istio-release#e2e-mixer-no_auth)

**Which test(s) are failing**:
* `istio.io/istio/tests/e2e/tests/mixer.TestKubeenvMetrics`
* `istio.io/istio/tests/e2e/tests/mixer.Failure`
[gubernator link](https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio-releases_pipeline/356/release-e2e-mixer-no_auth/386)

**Si

[2019-02-27 00:30] munrodg commented on #10904
@GregHanson anything left to be done on this issue?

[2019-02-27 00:31] munrodg commented on #11254
@mandarjog Does anything need to be done for this in 1.1?

[2019-02-27 00:32] ostromart commented on #12027
Can you explain what you measured exactly? Mutating webhooks are in line with the pod creation request i.e. master controller calls out to sidecar injector which adds the sidecar to the manifest, then the controller creates the resulting pod. Concurrency shouldn't come into it - most likely something else is going on.
Could you include the pod logs and kubectl describe for the crashlooping pods?

[2019-02-27 00:33] munrodg commented on #11336
@howardjohn please confirm this is fixed?

[2019-02-27 00:34] munrodg commented on #10946
@ostromart Is there anything else needed for this issue?

[2019-02-27 00:38] alejandrox1 commented on #12101
Is there anything that you think someone else could help with? 🙂

[2019-02-27 00:39] ostromart commented on #10946
I saw that it did not get merged, but afaik we still need it. Can you comment @diemtvu ?

[2019-02-27 00:43] bianpengyuan commented on #12101
@alejandrox1 Not at this moment, maria is helping me with digging. Will let you know if help is needed. Thanks!

[2019-02-27 00:44] howardjohn commented on #11336
I think so but not 100% sure. @alexburnos?

[2019-02-27 00:57] jnativio commented on #12093
No change in the app.

[2019-02-27 01:01] ostromart commented on #11571
1.0.3 by default has privileged: true in the inject template which is why this worked with manual injection. @nitishm if I understand correctly what you did, your hack would not affect manual injection because this doesn't use template parameters. It renders a built in manifest with some chosen parameters:
https://github.com/istio/istio/blob/98598f88f6ee9c1e6b3f03b652d8e0e3cd114fa2/istioctl/cmd/is

[2019-02-27 01:01] #11571 closed

[2019-02-27 01:25] hzxuzhonghu commented on #7665
I think so

[2019-02-27 01:25] #7665 closed

[2019-02-27 01:31] ayushpateria commented on #7665
Any reason Istio doesn't plan to incorporate Envoy active health checks? I don't think there's any reason to keep an unhealthy endpoint in the load balancing pool.

[2019-02-27 01:55] diemtvu commented on #10946
I replace that with the cherry pick https://github.com/istio/istio/pull/11418. Forgot to link with the issue. This should be good.

[2019-02-27 01:55] #10946 closed

[2019-02-27 01:59] silentdai commented on #11881
Combining the description of this header at envoy and the implementation of envoy. Envoy should determine the request as egress and the router config should have the `X-Envoy-Decorator-Operation` in `internalOnlyHeaders` collection. Will investigate.

[2019-02-27 02:09] morvencao commented on #12000
/cc

[2019-02-27 02:11] morvencao commented on #11968
Apply the sidecar resource can workaround the issue:
[code]

Further fix will be discussed in https://github.com/istio/istio/issues/12000

[2019-02-27 02:24] irisdingbj commented on #12086
@esnible are you working on this now? If not, I can pick this up.

[2019-02-27 02:35] kevinniu666 commented on #10134
Absolutely agree, looking forward to the combined chart

[2019-02-27 02:38] rshriram commented on #11984
if you could get this done in the next couple of days, then there is a good chance of this making it into 1.1 .. The fix should be very straightforward.

Also please note that the pilot-agent watching thing is going to be deprecated or out of fashion very soon. We are getting support for Envoy SDS. the (badly named) node agent is going to be serving SDS to envoys. You might want to check the SDS r

[2019-02-27 03:07] itsvikasgupta opened #15730 "istio-proxy segfaulting in kubernetes on aws (using istio 1.0.6)"
Here's the shell script I am using on RHEL 7.6 (Maipo):

[code]

Here are the logs from the istio-proxy container. Similar segfault on v1.0.4 and v1.0.5
[code]

[2019-02-27 03:19] irisdingbj commented on #11983
We need to use FQDN for the service:

‘’‘
istioctl authn tls-check details.default.svc.cluster.local
HOST:PORT                                  STATUS     SERVER        CLIENT     AUTHN POLICY     DESTINATION RULE
details.default.svc.cluster.local:9080     OK         HTTP/mTLS     HTTP       default/
’‘’

[2019-02-27 03:23] irisdingbj commented on #11983
@esnible Will add error info  in the command to improve user experience

[2019-02-27 03:51] yangminzhu opened #12105 "RBAC use service name for destination.name (should use workload name)"
**Describe the bug**
The `destination.name` constraint (https://preliminary.istio.io/docs/reference/config/authorization/constraints-and-properties/) should use workload name but the code is using the service name instead.

**Expected behavior**
destination.name should mean the workload name, like `productpage-v1-5cb458d74f-4skll`.

Note, it's not clear what the workload name mean on platform othe

[2019-02-27 04:45] morvencao opened #12108 "Spiffe identities are generated from pods without ServiceAccounts (in kube-system)"
**Describe the bug**
After install istio-1.1.0-snapshot.6, and deploy applications with istio, find lots of error message in pilot discovery container:
[code]

These error messages should be generated during converting k8s serviceaccount to istio serviceaccount(in spiffe format).
Why pilot can't get `serviceaccount` for pod while getting namespace is normal?

**Expected behavior**
No error message

[2019-02-27 04:54] clyang82 commented on #11929
https://circleci.com/gh/istio/istio/337405?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link failed as well. I think it should share the same reason. the map was `map[200:499 503:1]`

[2019-02-27 04:58] myidpt commented on #11673
https://github.com/istio/istio/pull/11743 fixed this.

[2019-02-27 04:58] #11673 closed

[2019-02-27 05:29] abhyuditjain commented on #12055
@howardjohn I used kubectl apply without mutual TLS

[2019-02-27 05:30] irisdingbj commented on #2119
starting from kubernetes 1.11, crds has multiple version support. So we should add this support for istio as well in 1.2

[2019-02-27 05:48] incfly commented on #10062
Sorry for the delay of the response. Long story short.

- Permissive mode does not work for MySQL where server side initiates the TLS handshake per @rshriram .
- The solution is to change it to authn to STRICT and set DestinationRule TLSSettings to ISTIO_MUTUAL correspondingly.
- Why `*.cluster.local` and `*.local` behaves differently is unknown and might be a networking API bug or conflicting con

[2019-02-27 05:58] iandyh commented on #11967
Not sure if I understand the reply correctly. Firstly, HTTP liveness will also fail due to sidecar injects the traffic, not just readiness check. Secondly, those pods do listen on certain ports but those ports become inaccessible due to no Envoy side car proxy listeners being pushed from the pilot.

[2019-02-27 06:16] irisdingbj opened #12111 "Enhance istioctl experimental verify-install"
1. Report statistics info for how many resources have been checked.

2. add --details to command line to output the resources it checked.

[2019-02-27 06:28] mandarjog commented on #11967
If pods are listening on ports then they are implementing a service. In which case it is ok to attach a service to these pods, right?

[2019-02-27 06:32] harpratap commented on #11990
Change in PR #10019 is causing the upgrade to fail since the http-monitoring port has changed and the new port cannot have duplicate name when doing a patch operation.

[2019-02-27 06:48] irisdingbj commented on #11983
Latest istioctl authn tls-check need to specify podName.ns. But this does not work in /debug/authenticationz?proxyID=

[2019-02-27 06:51] xiaozhongliu opened #12112 "Pods of one app from two clusters are registered in one pilot service entry"
**Describe the bug**
We've successfully deployed the Single control plane topology with two clusters.
Some of our apps are deployed simultaneously in these clusters, this results in this problem:
Pods of one app from two clusters are registered in one pilot service entry as below.
[code]

**Expected behavior**
Pods of one app from two clusters are registered in different pilot services entries.

*

[2019-02-27 06:58] xiaozhongliu commented on #12112
I tried to differentiate the service-key with k8s service port name, like:
port name of app svc from cluster1: http-cluster1
port name of app svc from cluster2: http-cluster2

Then only one pilot service entry is created:
[code]

[2019-02-27 07:10] iandyh commented on #11967
Some applications will just use this port as a liveness check, which will become pointless due to current design. `Deployment` should be decoupled from `Service`.

[2019-02-27 07:46] jsPlachetka commented on #12058
We just tried it again and we don't see the log entry with the command in the doc:
[code]
However, with this command we just see the last 10 lines:
[code]
In case we specify the pod explicitly we get the whole log and the message is included:
[code]

[2019-02-27 07:47] morvencao commented on #12108
Latest investigation result show that there are some static pods(api-server, etcd, controller-manager and scheduler...) in `kube-system` namespace, and they don’t have `ServiceAccountName` in their Spec.

And for `api-server` service, Istio has build-in [destinationrule](https://github.com/istio/istio/blob/release-1.1/install/kubernetes/helm/istio/charts/security/templates/enable-mesh-mtls.yaml#L4

[2019-02-27 07:50] ymesika commented on #12097
Instructions aren't updated.
Specifically for [creating the `istio-remote`](https://preliminary.istio.io/docs/examples/multicluster/gke/#generate-remote-cluster-manifest) we no longer have `istio-remote` chart/dir.
I will subit a PR for that.

[2019-02-27 07:53] #7334 closed

[2019-02-27 07:58] jkbschmid commented on #12021
I did as you suggested and deployed the `meshexpansion-gateway` in a separate file and with some delay. This did indeed fix the `gateway omitting listener`-error in the pilot, but the gateways on cluster 2 are still not becoming ready. :(
These are the logs of istio-egress on cluster 2, if that gives you any more information.
[code]
For the record, cluster 1 is an AWS cluster and cluster 2 is a GK

[2019-02-27 08:10] thomschke commented on #9030
mTLS -> https://github.com/istio/istio/pull/11496#issuecomment-467339267

[2019-02-27 09:15] PhilipGough commented on #10932
@munrodg @douglas-reid fixed for 1.1 in #10934

[2019-02-27 09:21] fnp927 opened #12115 "Ratelimit：All requests are responded with 429 when redis down"
**Describe the bug**
I applied redis rate limit function on my cluster. And use the shell script visit it 10 times every second. The script only prints the response status code.  We can see from the picture below, it runs good(200 means pass and 429 means too many requests).

![image](https://user-images.githubusercontent.com/28209602/53479300-af881980-3ab3-11e9-9d99-ef6b5f60b2d2.png)

However，whe

[2019-02-27 09:48] emedina commented on #10293
Not sure whether this fits here, but I'm defining the following `VirtualService` in `1.1-rc.0` for `httpbin`:

[code]

But when I check the `config_dump` endpoint for the `istio-proxy` deployed with `httpbin`, I cannot find any of either the headers or the retries in such config:

[code]

But maybe I'm missing something here.

[2019-02-27 10:31] dansiviter commented on #12019
@douglas-reid Yea, workaround does the trick for me too. Thanks

[2019-02-27 10:46] morvencao opened #12117 "Pilot crash under performance test resulting in abnormal behavior of Istio applications"
**Describe the bug**

## Pilot performance test scenario:

### Static configuration:

Pilot discovery resource requests: `2CPU 13G`
Each sidecar resource requests: `1CPU 2G`

### Dynamic configuration:

1. During the initial test period, we deployed:

    - 500 services and corresponding 500 pods inside the Istio mesh(with Istio sidecar injected)
    - 160 services and 900 pods outside the Istio m

[2019-02-27 10:50] morvencao commented on #12117
Any thought? @louiscryan @ayj @rshriram

/cc @gyliu513 @clyang82

[2019-02-27 11:03] Symbianx commented on #8846
@rshriram Eactly, that would be the perfect.

[2019-02-27 12:07] robertpanzer commented on #12066
I cannot confirm that this works.
I still don't see my plain cluster but the two I mentioned above.

[2019-02-27 12:38] dimthe commented on #6806
i am having the same problem as @gyliu513
and i have opened an issue here   https://github.com/istio/istio/issues/11839

i have not  yet managed to have istio when psp is set to true in my cluster

[2019-02-27 13:28] dimthe commented on #6806
@morvencao  hi

your psp yaml above is giving these errors

`error: error validating "psp.yaml": error validating data: [ValidationError(PodSecurityPolicy.spec): missing required field "seLinux" in io.k8s.api.extensions.v1beta1.PodSecurityPolicySpec, ValidationError(PodSecurityPolicy.spec): missing required field "supplementalGroups" in io.k8s.api.extensions.v1beta1.PodSecurityPolicySpec, Validati

[2019-02-27 13:48] sbezverk opened #12119 "ConfigMap "istio-ingress-controller-leader-" is invalid"
**Describe the bug**
due to empty IngressClass field, the election id gets incorrectly generated which results in this error:
[code]

**Expected behavior**
correct election id returned

**Version**
latest release-1.1

[2019-02-27 14:13] thomschke opened #12121 "Connection error when calling kubernetes-api-server (since 1.1.0-rc.0)"
**Describe the bug**
Since `v1.1.0-rc.0` all requests agains the api-server `kubernetes.default.svc.cluster.local` like:

[code]
crashes during ssl handshake like:
[code]
There's no server response at all so I think it's an connection problem (rather than ssl problem).
BTW: It's works perfect from inside pods without any istio sidecar.

I installed istio with Helm/Tiller with identical values.
Thi

[2019-02-27 14:15] linsun commented on #12119
@sbezverk curious how you hit this issue?  Do you hit it with an out of istio build pilot or the default mesh config without pilot pod's provided mesh file ?

[2019-02-27 14:23] morvencao commented on #6806
@dimthe Latest Istio requires just `NET_ADMIN` capability, please update the `psp` accordingly. And if you want to get rid of these additional requirement, please consider install Istio with istio-cni.

[2019-02-27 14:44] pnambiarsf commented on #11984
We don't use Citadel for cert management (company requirement). We integrate Istio with our own cert management solution and therefore can't try out node agent as is. We will need to integrate that with our cert management. Moving to SDS is on our roadmap.

[2019-02-27 14:53] loewenstein opened #12122 "Building Istio images based on gcr.io/distroless/*"
**Describe the feature request**
In order to use Istio in production, we need to scan and assess Istio images for vulnerabilities.
We would have an easier job, if Istio images would be based on smaller base images or preferably no base image at all.

**Describe alternatives you’ve considered**
We could accomplish this also by stripping down the existing images on our own, to remove executables wit

[2019-02-27 14:55] robertpanzer commented on #11937
I just retried the sequence again after a fresh reinstall of 1.1.0-rc.0 and the problem looks actually worse than I thought.
The memory footprint seems to jump very fast again, up to 30MB per re-apply.
Plus the istio-proxy gets killed as soon as it hits the requested resources of 128Mi.
[code]

The curl command gave me this:
[code]

Also checked that the version of the istio-proxy is correct, it s

[2019-02-27 14:56] dimthe commented on #6806
@morvencao  i have the latest version 1.0.6
these are the psp rules

[code]

even with NET_ADMIN pods fail

[code]

errors are like this

[code]

i will try and see how i can edit the psp rules to implement the additional requirements i showed above

[2019-02-27 15:00] rshriram commented on #11984
Ah cool..
this is where you need to change: https://github.com/istio/istio/blob/master/pilot/cmd/pilot-agent/main.go#L244
(model.AuthCertsPath).. You need a CLI option in pilot agent. It would also be good if you created a field in the helm template (not mandatory) under pilot, with something like mTLSCertsLocation with value set to /etc/certs or whatever the current default is. This variable shou

[2019-02-27 15:12] martonsereg commented on #9333
We've just released an open-source Istio operator, and would be very happy to receive some feedback. You can check out the repo [here](https://github.com/banzaicloud/istio-operator/).

[2019-02-27 15:30] nitishm commented on #12038
With mTLS disabled this works fine. My assumption is that the inbound sidecar interception fails to validate a client certificate (since the outbound from sentinel doesnt present one, since it is directly connecting to the pod) and returns a failure.

**Additional context that I skipped in the description was that the proxy.includeIPRanges is set to the Service CIDR for the cluster, so it would no

[2019-02-27 15:30] #12038 closed

[2019-02-27 15:35] nitishm commented on #12079
This has to do with what I noted in the comment for https://github.com/istio/istio/issues/12038

[2019-02-27 15:36] nitishm commented on #12079
I think I can close this at disabling mTLS solves the issue. The failures were due to the fact that direct communication to pod IP (bypassing the sidecar) fails to negotiate mTLS with the (target) pod's inbound sidecar, which returns a failure.

[2019-02-27 15:36] #12079 closed

[2019-02-27 15:48] Onewaysidewalks opened #12126 "Istio Documentation without Kubernetes"
**Describe the feature request**
Documentation to run the suite of Istio components in an environment that doesn't use a container orchestrator (like k8s)

Is this still supported? (note the text about `Platform Independence` but lack of documentation other than anything running in k8s/consul)

[2019-02-27 15:52] RafaelMarquesRodrigues commented on #8076
I was having the same problem (double forward slash).

Got it working with this:

[code]

I've just replaced the uri parameter with a whitespace.

I tought it would throw me a configuration error but I guess it just strips of the whitespace when rewriting (I don't know if this behavior is intended though).

[2019-02-27 16:27] Sanjanare commented on #10134
+1 👍

[2019-02-27 16:55] knrc commented on #9504
@sdake @nmittler @duderino FYI yesterday was my fault, I had switched back to release-1.1 but it did not yet have #12053 merged so was still seeing the race.  I rebuilt the containers yesterday afternoon and have not seen any failures since so I believe our race is addressed by #11999 and #12053.

I'm continuing soak testing today and will raise another issue if it recurs, in the meantime assume t

[2019-02-27 17:02] howardjohn commented on #12055
Could you run `kubectl describe pod <KUBEDNS_POD>`? That should show what error is causing KubeDNS to crash

[2019-02-27 17:19] #11947 closed

[2019-02-27 17:34] ayj commented on #12117
cc @costinm

[2019-02-27 17:44] frankbu commented on #12058
Interesting. What version of `kubectl` are you using?

I notice that `kubectl logs -h` says this:
[code]
which is consistent with what you are seeing, but strangely, it defaults to much more than 10 for me, even though `-h` says 10?

Does adding `--tail=-1` work for you?
[code]

[2019-02-27 18:26] linsun commented on #9113
curious if mixer policy deployment is enabled in your env?  Note: mixer will be part of your request flow even if you are not using any mixer policy.   We do have a PR in flight to disable mixer policy by default.

[2019-02-27 18:26] mabushey commented on #9333
@martonsereg  This is amazing! Thank you. I'm using Kops to install k8s. The newest version of k8s Kops can install is 1.11, so the newest kubectl I can run in 1.12. Any chance this operator can work with kubectl 1.12?

[2019-02-27 18:27] douglas-reid commented on #10629
@munrodg can we keep this open, but with a different milestone?  we still don't have attributes that carry information on policy adapter response *per* policy adapter.

@mandarjog @kyessenov: comments?

[2019-02-27 18:55] JimmyCYJ opened #12132 "Make improvement for ingress gateway controller + Cert-Manager"
**Describe the feature request**
Istio release-1.1 is going to support dynamic credential at ingress gateway controller using service discovery service (SDS). With SDS and a specified credentialName, Customer could configure a TLS ingress gateway controller or mutual TLS ingress gateway controller. User guide is currently under review.

To configure a mutual TLS ingress gateway controller, custome

[2019-02-27 18:55] JimmyCYJ commented on #12132
/cc @myidpt @prune998 @thomschke

[2019-02-27 19:00] patrickppeng opened #12133 "Failed to change mixer component logging output level"
I'd like to change the logging output level on pilot and mixer and here is the example with failure. What is the correct method to change the logging level? Is it possible to change the level on a running container?

[root@vf-zr647 istio-1.0.6]# kubectl exec -ti istio-telemetry-8499b4db64-l9rx6 -c mixer -- mixs server --log_output_level attributes:debug,adapters:debug
Mixer started with
MaxMessage

[2019-02-27 19:01] kyessenov commented on #12122
All components except Envoy _could be_ built from scratch. I think the only reason they are not all yet, was to add debugging tools (e.g. curl).

[2019-02-27 19:01] dwradcliffe commented on #11664
This is very important for us too. We have many services (potentially hundreds) on each cluster and not only do we need namespace isolation but the config bloat on each sidecar is a real problem. We might be able to make it work with `exportTo: .` and duplicating resources for each namespace, but that seems like the wrong way to do it.

[2019-02-27 19:05] lei-tang commented on #12097
The fix for this issue is at: https://github.com/istio/istio.io/pull/3415

[2019-02-27 19:09] martonsereg commented on #9333
@mabushey That’s a mistake in the readme I think, there shouldn’t be anything in the code that requires 1.13, so I think it should work with kubectl 1.12 as well, please give it a try.

[2019-02-27 19:09] waynz0r commented on #9333
@mabushey Hi, it should work just fine. We're gonna fix the requirements.

[2019-02-27 19:13] rshriram commented on #9906
@dankirkpatrick thanks for tracking this down.. I remember the envoy per stream idle timeouts.. and IIRC, we set those to 0 in istio.. https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/listener.go#L1403 which I believe went into 1.0 series (https://github.com/istio/istio/pull/7428).

So, the connection manager level timeout is disabled, while the OS level keep alive tim

[2019-02-27 19:17] ymesika commented on #12097
Additional doc fix: https://github.com/istio/istio.io/pull/3407

[2019-02-27 19:19] rshriram commented on #9113
@dankirkpatrick I am not sure this is the same as the tcp keep alive issue.. See my comment here: https://github.com/istio/istio/issues/9906#issuecomment-467992199
Long story short, for tcp keep alive situations before 1.1, retry seems to make sense..

However, the issue that @emedina demonstrates seems different. The connection is kept occupied with a constant stream of 10 rps. The only scenario

[2019-02-27 19:30] frankbu commented on #11664
@dwradcliffe The new [Sidecar resource](https://preliminary.istio.io/docs/reference/config/networking/v1alpha3/sidecar/) is supposed to address the config bloat problem.

[2019-02-27 19:32] #11552 closed

[2019-02-27 19:34] ozevren opened #12134 "Support changes to the input sources (i.e. CRDs) in Galley"
Add a dynamic CRD detection mode to Galley, so that Galley can start without waiting for CRDs to appear. It should also be able to handle the case of CRDs disappearing.

This work includes:
- [x] Add a CRD listener that listens to changes in the CRDs.
- [x] Start/Stop listeners based on the changes to the CRDs.
- [x] Create a new event type for the runtime for the removal of all resources, when a

[2019-02-27 19:41] louiscryan commented on #11664
As Frank mentioned refining exportTo to handle explicit namespaces as well
as 'same namespace' & 'all namespaces' is something we'll be looking to do
in a 1.1.x release. The APIs have been explicitly designed to handle the
'publisher controls visibility' case in addition to the 'consumer controls
visibility' case which is handled by the new Sidecar resource.

We prioritized dealing with the config

[2019-02-27 19:44] knrc commented on #9113
FYI I'm trying to reproduce this locally to investigate

[2019-02-27 19:47] duderino commented on #12087
@howardjohn can take this

[2019-02-27 19:48] incfly commented on #10062
In addition to that, we could add a special handling for `istioctl authn tls-check` for mysql service. If the k8s service define the port name as `mysql-xx`, istioctl will ensure combination of no `authn.PERMISSIVE` configured on MySQL pod. This will not help if customers define the service port name as "tcp".

/cc @diemtvu

[2019-02-27 19:49] esnible commented on #10293
@emedina your problem is not related to this issue.

You should check the config_dump not of httpbin (the target), but of the istio-ingressgateway pod in the istio-system namespace.  It is that pod which appends the headers as it invokes httpbin.  The implementation of appendHeaders is to have them done by the outbound proxy, rather than the inbound proxy.

[2019-02-27 19:49] #11760 closed

[2019-02-27 19:49] #11634 closed

[2019-02-27 19:51] esnible commented on #12086
The complaint about GC is a duplicate of https://github.com/istio/istio/issues/11947

[2019-02-27 20:02] rshriram commented on #12087
So per @louiscryan it worked. He had missed one step in the install steps..

[2019-02-27 20:03] drichelson commented on #11984
Thanks @rshriram for the guidance. Unfortunately our cert paths + filenames don't conform to the existing convention, so I'm considering refactoring the watcher to take a slice of absolute paths to watch, then we can configure it with any number of client/server certs/keys. All defaults shall remain in place.

[2019-02-27 20:16] esnible commented on #12133
Try `kubectl -n istio-system edit deployment istio-telemetry` and go to the `- args:` section and add

[code]

[2019-02-27 20:20] kyessenov commented on #12133
There is Logging Scopes topic in ctrlz interface 127.0.0.1:9876

[2019-02-27 20:23] esnible commented on #12122
@kyessenov When we had different images for debug vs non-debug istio-proxy it was a pain.

One that that might work would be to have a `sleep`-ing debug container with tools like curl and tcpdump.  The istio-sidecar-injector could be configured to inject, or not inject, this non-functional debug container.

The other thing I do interactively for debugging is to use bash, ls, cat, and ps on the sid

[2019-02-27 20:25] lei-tang opened #12137 "preliminary 1.1 doc for Multicluster forgets to set role binding for all clusters"
{{
https://preliminary.istio.io/docs/examples/multicluster/gke/

In the section "Create the GKE Clusters", only cluster-2 has cluster role binding set, while forgetting to set the cluster role binding for cluster-1.

**Expected behavior**
{{
The role binding should be set for all clusters.
}}

**Steps to reproduce the bug**
{{
https://preliminary.istio.io/docs/examples/multicluster/gke/,
create cl

[2019-02-27 20:26] kyessenov commented on #12122
@esnible All of the standard UNIX tools carry security risks. It's a matter whether we are willing to take on adding extra stuff to containers for the sake of usability.

[2019-02-27 20:37] esnible commented on #12096
I agree that this would be powerful.  I have some ideas for how to use it.

Here is a hack I have played with.  I wanted to create something like a custom 404 page for a cluster with bookinfo.  So I deployed bookinfo, bookinfo-gateway, and httpbin samples (but not httpbin gateway).

Then I did this:

[code]

It would be so much nicer to be able to specify this directly in plaintext without httpbin

[2019-02-27 20:37] lei-tang commented on #12137
The fix for this issue is at: https://github.com/istio/istio.io/pull/3417

[2019-02-27 20:39] patrickppeng commented on #12133
Thanks Ed.
I works from modifying the deployment.
Does that mean we cannot use commands to change the logging configurations on the components?

[2019-02-27 20:42] patrickppeng commented on #12133
Thanks for the information. Unfortunately we don't have local browser to open ctrlz with port forwarding. Is there any other way I can access to the ctrlz interface?

[2019-02-27 20:43] rshriram commented on #12117
With regard to endpoints disappearing:
 1. are you sure that the new pilot didn't come  up and that the envoys contacted the new pilot and received an empty set of endpoints, or haven't received any endpoints?
2. With regard to crashing from OOM, cc @mandarjog who has been doing similar perf tests but using the sidecar config instead..

IF all your applications only talk to other apps in the same

[2019-02-27 20:44] kyessenov commented on #12133
You can use kubectl port-forward to the pod. There's probably some URL to apply changes without a browser, but I can't recall it ATM.

[2019-02-27 21:12] howardjohn commented on #12087
Updated docs to be more clear about install: https://github.com/istio/istio.io/pull/3418

[2019-02-27 21:14] duderino commented on #11937
@robertpanzer but is this a leak where memory grows without bound or does it stabilize?  If the later, are you saying that memory usage is too high?

[2019-02-27 21:23] costinm commented on #12066
Sidecar should fix the problem - but should not be required.

Let's keep this bug for the case of 'no sidecar used'.

[2019-02-27 21:27] robertpanzer commented on #11937
In my tests today the memory usage didn’t exceed 128MB, but it didn’t really stabilize.
Instead the envoy process got killed every few create/delete cycles of my service entry.
I wonder what that means for accepting and handling requests?
I think this is not a hot restart that could potentially continue in flight requests, is it?

[2019-02-27 22:01] emedina commented on #10293
@esnible Thanks for the advice. And sorry about the noise.

[2019-02-27 22:04] liminw commented on #12037
The test started failing from 2/19 (https://k8s-gubernator.appspot.com/builds/istio-prow/pr-logs/directory/e2e-simpleTests-cni?before=766). Looking at the PR history, it seems that the PR that is related to sidecar injection is https://github.com/istio/istio/pull/11321. @rshriram @SchSeba Could you check if this is related to the failure here?

[2019-02-27 22:14] silentdai commented on #11881
A deeper thought on this: Currently I don't think [Controlled Access to external HTTP service](https://preliminary.istio.io/docs/tasks/traffic-management/egress/#access-an-external-http-service) describes the correct behavior. _X-Istio-Attributes_ should be stripped in the request to httpbin.org

I am updating the document.

[2019-02-27 22:43] geeknoid opened #12138 "cluster.local vs. mesh.local"
At the moment, we use 'cluster.local' to identity resources that are inherently mesh-local. This is confusing for customers, and will likely lead to some conflicts in cases where there actually is a distinction between cluster-local and mesh-local and the user wants both things at once.

We should inventory all uses of cluster.local and assess whether they should be migrated to mesh.close and how.

[2019-02-27 22:46] yangminzhu commented on #12105
`destination.name` is actually re-purposed to refer to the destination workload instance name instead of the service name. (https://preliminary.istio.io/docs/reference/config/policy-and-telemetry/attribute-vocabulary/)
In RBAC, the original purpose is to refer to workload name which is now the attribute `destination.workload.name` (not the workload instance name of `destination.name`).

However, P

[2019-02-27 22:47] incfly opened #12139 "Redis client can't connect to server when sidecar is injected on both sides"
**Describe the bug**
Redis client can't talk to redis server when sidecar is injected on client side.

**Expected behavior**
Client side should be able to talk to server.

**Steps to reproduce the bug**
- Install Istio, enable sidecar auto inject.
- Remove `MeshPolicy default` to exclude mTLS effect
[code]
- Apply redis [YAML file](https://gist.githubusercontent.com/incfly/6ffa1381d7f3f971001a4490

[2019-02-27 22:47] incfly commented on #12139
/cc @costinm @philrud

[2019-02-27 23:15] howardjohn commented on #12139
Testing on 1.1 rc1 with default settings and it works with our without sidecar

[2019-02-27 23:28] douglas-reid commented on #8061
FWIW, I believe the notes have updated to suggest that `1.13` is now when they expect modules to be on by default.

[2019-02-27 23:41] lei-tang opened #12141 "preliminary 1.1 doc for Multicluster fails at creating control plane for master cluster"
{{
https://preliminary.istio.io/docs/examples/multicluster/gke/

In the section "Install the Istio control plane", creating control plane for the master cluster failed with the following errors.

unable to recognize "./istio_master.yaml": no matches for kind "MeshPolicy" in version "authentication.istio.io/v1alpha1"
unable to recognize "./istio_master.yaml": no matches for kind "attributemanifest"

[2019-02-28 00:05] lei-tang commented on #12141
The fix for this issue is at: https://github.com/istio/istio.io/pull/3423

[2019-02-28 00:09] adityats2020 commented on #11132
Yes. That was it. I was renaming the port to something else in my config and that was making envoy treat it as tcp like you mentioned. You can close this.

The port name has to be http to get http_connection_manager added to envoy.

[2019-02-28 01:10] clyang82 commented on #11929
After restart the circle ci, it is working now. Maybe it got fixed by others or it appears occasionally

[2019-02-28 01:24] costinm commented on #11664
@Stono I would expect once exportTo is fully implemented, at least on visibility side  ( and we're not that far away ) to support exactly your model. The client can do 'import */*' - which will generate only the list of services/namespaces that exportTo the client. So no need to duplicate if you have a consistent policy
of having 'producer declare deps'.

There are few reasons we focused on 'impor

[2019-02-28 02:02] uk000 opened #12144 "A DestinationRule from any namespace can alter the traffic behavior of all other client namespaces for traffic going to either a specific target service, a target namespace, or the entire cluster as a target"
**Describe the bug**
At present (as of istio-1.1.0-rc.1), a DestinationRule from any namespace can alter the traffic behavior of all other client namespaces for traffic going to either a specific target service, a target namespace, or the entire cluster as a target. This opens up possibilities for a bad DestinationRule to, either by mistake or on purpose, disrupt all traffic originating from all c

[2019-02-28 02:07] morvencao commented on #12117
@rshriram
1. I mean after the pilot crashed and it tried to restart, , but it can't make it due to `OOM`.  And during that period, part of endpoints for envoy sidecar were gone.  However, If we uninstalled the services and pods outside of the cluster, the pilot restarted and envoy endpoints came back.
Envoy sidecars are supposed to be working even pilot isn't running, isn't it?
2. We have tried ap

[2019-02-28 02:20] ayj commented on #12070
fixed by #12069

[2019-02-28 02:20] #12070 closed

[2019-02-28 03:11] hzxuzhonghu commented on #12112
I see your two clusters are not of flat network.
I think this is expected, app from cluster one can not request the other cluster pod directly.

[2019-02-28 03:12] hzxuzhonghu commented on #12112
`MeshNetworks` may help

[2019-02-28 03:12] hzxuzhonghu commented on #12112
/cc @ymesika

[2019-02-28 03:15] hzxuzhonghu commented on #12112
port name of app svc from cluster1: http-cluster1
port name of app svc from cluster2: http-cluster2

Then only one pilot service entry is created

This is also expected, if services from 2 clusters with same name, istio assumes they are one same service. So the service port from the first cluster will be used.

[2019-02-28 03:21] shuiqing05 opened #12146 "Version number shows wrong after building from code"
**Describe the bug**
Clone from git hub, then checkout to the "1.0.6" tag. Building istio from source code, use "istioctl version" to check the version num. The number shows a commit number.
Do I miss any step in building the binary file?
The version info is as below:
root@2494927b4666:/go/out/linux_amd64/release# ./istioctl version
Version: 98598f88f6ee9c1e6b3f03b652d8e0e3cd114fa2
GitRevision: 98

[2019-02-28 03:55] morvencao opened #12147 "Envoy sidecar must run as istio-proxy with UID 1337"
Currently Envoy Sidecar Proxy MUST run as `istio-proxy` with UID `1337`.
Any special consideration for this?

I have changed UID from 1337 to others and rebuild the images, seems that Istio is working fine.
Maybe we can make the UID configurable.

[2019-02-28 04:17] kyessenov commented on #12147
The UID is completely arbitrary. We chose it back in the days since it seemed like unlikely to collide with anything.
Regarding configuration: there is a risk that 1337 is hard-coded in some script/code around injection, iptables, and start-up of envoy.

[2019-02-28 05:11] #11078 closed

[2019-02-28 06:08] morvencao commented on #12147
Thanks @kyessenov
The UID is spread everywhere across the source tree, it's not an easy job to concentrate the configuration.

[2019-02-28 06:13] javafuns commented on #9752
Changing address: [::]:49540 to address: localhost:49540 fixed my issue.

[2019-02-28 06:40] myidpt commented on #11920
Now only the user guide needs to be improved.

[2019-02-28 06:41] ymesika commented on #12112
@hzxuzhonghu the Istio version is 1.0.5 which doesn't have the Split Horizon feature.

@xiaolanz This is normal that you see endpoints from both clusters as the instances of the same service. This is because then Envoy can (by default) round robin between local and remote endpoints.
Your issue is that in cases when the remote endpoints (IPs) are picked up it fails to connect to.

This can either b

[2019-02-28 06:53] abhyuditjain commented on #12055
[code]

[code]

[2019-02-28 07:02] xiaozhongliu commented on #12112
@hzxuzhonghu So two k8s services with the same name forms one istio service, I see istio generates multi internal services for multi ports of one same k8s service. These situations are all normal, right?

[2019-02-28 07:11] xiaozhongliu commented on #12112
@ymesika Actually we have the flat network ready. My latest test result is as below, that all four pods are accessible via the istio service.
![1](https://user-images.githubusercontent.com/17674404/53547868-216f6a00-3b6b-11e9-8bea-0d8192de1e0b.png)
![image](https://user-images.githubusercontent.com/17674404/53547892-2c29ff00-3b6b-11e9-8a67-8d4ab6cd1501.png)

[2019-02-28 07:13] Stono commented on #11664
Hey @costinm - I completely understand what you're saying and definitely agree that being explicit on both sides is best, however I have to balance that with a pragmatic implementation and minimal impact on the users of our platform.

The only other thing I can think of doing is writing a controller that watches for our ingress policies and manages sidecar resources outside of ci/cd.  Just feels w

[2019-02-28 07:14] robertpanzer commented on #12066
Maybe it should, but it didn't for me, maybe I did something wrong.
I also tried to add a Sidecar resource that selects the Ingress Gateway, because my understanding is that I configure the Sidecar to select the affected Workload, here the Ingress Gateway, and tell it to "collect" routing rules from other namespaces.

[2019-02-28 07:18] Stono commented on #11696
In your (sidecar-less) implementation have you tried multiple apps in the chain?

The issue we see is that we never see an additional span, each app pair results in a new trace and new span (yes them being the same might be a red herring)

As for our setup, we don't set any headers other than a request id? I don't see how that would mess things up, and that's only when traffic enters our edge.  Ev

[2019-02-28 07:24] hzxuzhonghu commented on #12112
I am not sure what do you mean by this ` internal services `

[2019-02-28 07:26] hzxuzhonghu commented on #12112
I think they belong to a same service as showed in above graph

[2019-02-28 07:28] SchSeba commented on #12037
Hi @liminw I can't find anything related to my [PR](https://github.com/istio/istio/pull/11321).

I try to check the istio/cni repo and the iptable.sh script don't contains my change there (I need to open one for the cni). But again I am not sure how the fails are related to my PR.

There is a test that pass "2019-02-23 00:38 IST" https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/ist

[2019-02-28 07:29] #9466 closed

[2019-02-28 07:29] #10205 closed

[2019-02-28 07:30] xiaozhongliu commented on #12112
I mean istio services got with {pilot}:8080/v1/registration

This is the current situation, that services with same name are merged. It's not what we expect.
We expect that requests are routed to pods from local cluster.

[2019-02-28 07:37] hzxuzhonghu commented on #12112
So I think locality based LB feature may satisfy you.

[2019-02-28 07:57] xiaozhongliu commented on #12112
It produces more complexity. We want it getting done with a ready made option. Does istio have this option to disable services merging?
If not, we might distinguish services by adding a postfix to the namespaces, as the last choice.

[2019-02-28 08:08] hzxuzhonghu commented on #12112
No, pilot higher level does not care about cluster. Also one cluster may across many regions., so route to instances in same cluster is not reasonable.

[2019-02-28 08:38] thomschke commented on #12121
Same problem with new pre-release `1.1.0-rc.1` :-(

- I deploy istio with Helm/Tiller and identical values.
- I run `curl` based on multiple images (debian, ...)

The k8s-api-query runs without any ssl problems under `1.1.0-snapshot.6` and older.

[2019-02-28 09:38] irisdingbj opened #12152 "Empty collection config for mcp client"
When no collections are defined for the mcp client, the client will be blocked in "stream.Recv()" with no message given to user.

So I think we can at least print error message to user about this wrong config  like "The sink has not been configured to receive any collection"

Not sure whether we need to stop/cancel the client or not in this case.

@ozevren @ayj  any Comments for this?

[2019-02-28 10:08] slabber commented on #7679
How is it possible in istio to do this?  I'm running my istio-ingressgateway behind a CDN so I need envoy to process the X-Forwarded-For header - so far using Istio 1.0.3 I've been unable to figure out how to do it.

[2019-02-28 10:47] loewenstein commented on #12122
I'd say even Envoy _could be_ build from scratch. As a PoC I ran `objdump` and `ldd` to figure out the linked libraries.
[code]

Given that we could have a two-stage Dockerfile that copies only the necessary bits to a `FROM scratch` runtime image.

[code]

The resulting container at least starts successfully.
[code]

@mattklein123 @PiotrSikora Do you think an approach like the above would have a c

[2019-02-28 10:55] Stocco commented on #12117
I just want to add that the same thing happens when the pilot cannot talk with the masters nodes. This leads to 404 or 503 response codes.  I think this is exactly the same point of this issue, in case of pilot failure the proxies must maintain the last  configuration applied

[2019-02-28 11:27] liamawhite commented on #4865
I believe this has been resolved by readiness probes on `pilot-agent`. Work is ongoing for improved error reporting on 503s. @lizan is working on this.

[2019-02-28 11:27] #4865 closed

[2019-02-28 11:56] BenPope opened #12153 "Non-deterministic route configuration for ingressgateway"
**Describe the bug**
I have a basic ingress configuration with a `Gateway`, `VirtualService` and `DestinationRule`.

There are no sidecars, just an AWS ELB pointing at `istio-ingressgateway` configured as `NodePort` with `externalTrafficPolicy: Local`, pointing to a Service accepting TLS connections.

It works. Sometimes. However, if I remove and re-add the `VirtualService`, or if I restart `Galle

[2019-02-28 12:00] pms1969 commented on #11973
I've made some progress.  I've set the ingress-gateway to just pass thru ports 80 and ports443, like so:
[code]

This works to the extent that istio routes traffic to nginx, so 👍 .  The problem I have now, is that the one service I have running; concourse; is only secured on the tcp ssh port 2222.  It isn't securing or even registering that it has port 8080 and ports 9391.  So whenever I go to acc

[2019-02-28 13:17] ankoh commented on #11813
@rshriram I'm not quite sure whether I like that Idea. Especially in combination with autoscaling, I would need a Kubernetes controller that adjusts the endpoint weights as soon as new endpoints are joining the set right?
The alternative would be to proxy XDS ADS endpoint between envoy and pilot and inject the endpoint weights there.
Neither solution is really beautiful to be honest.

Is it correc

[2019-02-28 13:17] axel7born commented on #9659
/reopen
#12129 doesn't solve this issue. The certificates missing on the sidecar are custom certs and will never be there.

[2019-02-28 13:17] istio-testing commented on #9659
@axel7born: Reopened this issue.

<details>

In response to [this](https://github.com/istio/istio/issues/9659#issuecomment-468268884):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](ht

[2019-02-28 13:28] ankoh commented on #11813
I picked up an Idea that floated around in the Envoy issues (also mentioned by you I think) to just tunnel the database connection over HTTP/2.
I did that already and it works quite beautifully.
It allows us to do consistent hashing on arbitrary connection parameters, which are just wrapped in a single additional http header per connection.

But even more interesting is this recent PR, which would

[2019-02-28 13:53] pms1969 commented on #11973
strangely, if I do:
[code]

I get all the ports.

Additionally, I have the following:
[code]

Are those conflicts a misconfiguration?  They are that way after I turn on a system-wide mesh policy.

[2019-02-28 14:01] clyang82 opened #12154 "Upgrade istio from 1.0.3 to 1.1"
**Describe the bug**

install istio 1.0.3 with  `helm install install/kubernetes/helm/istio --name istio --namespace istio-system --tls` and perform `kubectl get pod` to verify the installation is success.
[code]

follow this steps to upgrade to release 1.1 - https://preliminary.istio.io/docs/setup/kubernetes/upgrading-istio/#helm-upgrade
I am using `istio-1.1.0-rc.0` package.

There is an error f

[2019-02-28 14:08] clyang82 opened #12155 "Mixer cannot be upgraded"
**Describe the bug**
install istio 1.0.3 with  `helm install install/kubernetes/helm/istio --name istio --namespace istio-system --tls` and perform `kubectl get pod` to verify the installation is success.
[code]

follow this steps to upgrade to release 1.1 - https://preliminary.istio.io/docs/setup/kubernetes/upgrading-istio/#helm-upgrade
I am using `istio-1.1.0-rc.0` package. after upgraded, check

[2019-02-28 14:08] esnible commented on #12152
Please add a description of how to reproduce this issue.

[2019-02-28 14:17] esnible opened #12156 "dump_kubernetes.sh syntax error"
Creating an issue for the dump problem first described in https://github.com/istio/istio/issues/12144 .

@uk000 reported
Error received when running the state dump sh file download over curl

[code]

I received an additional messages,
[code]

and

[code]

[2019-02-28 14:21] thomschke opened #12157 "kubernetes-api only accessible via FQDN "kubernetes.default.svc.cluster.local" in 1.1.0-rc.0+"
**Describe the bug**
Since `1.1.0-rc.0` the kubernetes-api
- is only accessible via `kubernetes.default.svc.cluster.local` and
- no more via `kubernetes.default.svc` or via corresponding `Cluster-IP`.

It's caused by an additional `filterChainMatch` in the listeners config of every sidecar-proxy:
[code]
**Expected behavior**
- The [official k8s docu](https://kubernetes.io/docs/tasks/access-applica

[2019-02-28 14:21] thomschke commented on #12121
due to #12157

[2019-02-28 14:21] #12121 closed

[2019-02-28 14:26] robertpanzer opened #12158 "Incorrect mesh config in Istio 1.1.0-rc.1"
**Describe the bug**
I did a clean install of Istio 1.1.0-rc.1 with Helm.
After the startup Pilot continuously logs this error message:
[code]
This results in routes not pushed to the sidecars.

It looks like this is due to the parameter IngressClass in the mesh config not being set at all.

The installation file `install/kubernetes/istio-demo.yaml` is also missing this entry.

**Expected behavior

[2019-02-28 14:33] esnible commented on #12156
This problem seems to occur on OSX, using bash version 3.x, but not on Linux using bash version 4.x.

[code]

The new code was added two months ago by @ostromart and perhaps only tested on Linux.
https://github.com/istio/istio/commit/38979786ae0a97c21bb57f3655f06c9ddec6f19d#diff-044a9643610625db020f54df970f4900

[2019-02-28 14:40] Stono commented on #7878
Been chatting to @elevran; will close in favour of #11181

[2019-02-28 14:40] #7878 closed

[2019-02-28 14:41] GregHanson commented on #11786
resolved by #12071

[2019-02-28 14:41] #11786 closed

[2019-02-28 14:48] linsun commented on #12154
Could this be caused by the fact meshpolicies.authentication.istio.io is promoted from v1alpha1 in 1.0.x to v1beta1 in 1.1?

cc @wattli @liminw

[2019-02-28 14:48] linsun commented on #12154
cc @sdake @costinm

[2019-02-28 14:50] linsun commented on #12154
@clyang82 since we know helm doesn't handle CRDs well during upgrade, can you please use kubectl apply to update the CRDs?   (https://preliminary.istio.io/docs/setup/kubernetes/upgrading-istio/#kubernetes-rolling-update step no. 1) .

If it works,  then we can update this doc: https://preliminary.istio.io/docs/setup/kubernetes/upgrading-istio/#helm-upgrade

[2019-02-28 15:01] ozevren commented on #12152
This sounds like a simple precondition check to make sure the client is asking for at least one collection.

[2019-02-28 15:23] elevran commented on #11181
The solution needs to consider:
- minimize global coordination needed and still achieve fairness
- require little "global coordination" available out of box (e.g., minimize communication, limited global state,...)
- we have no control over client selection of servers (randomized by k8s and service VIP)
- expect pilots to come and go causing imbalance (e.g., during startup and upgrade, having small

[2019-02-28 15:32] howardjohn commented on #12119
Same issue with some more details here: https://github.com/istio/istio/issues/12158

I have also hit this issue before but not ure what config I had. If I run into it again I will update

[2019-02-28 15:32] rshriram commented on #11984
I just realized that this isn't sufficient.. Its not enough to modify the agent to watch the new cert path. What about envoy? the inbound listeners in Envoy are still using TLS contexts that have the /etc/certs/.. as the location of the cert. dont you need a CLI option in pilot (or in the global mesh config) to tell pilot to generate TLS contexts with these custom paths?

[2019-02-28 15:33] howardjohn commented on #12066
I was also unable to get it working, even with the Sidecar. I'll looking into it some more today to see what is wrong, but it looks like it may be a different issue than #12000

[2019-02-28 15:48] morvencao commented on #12154
@clyang82 What if adding `--force` with `helm upgrade ...`

[2019-02-28 15:48] loewenstein commented on #12138
@geeknoid Sounds good in principle. Is DNS configuration (either CoreDNS or KubeDNS) a mandatory part of Istio already? Otherwise, how would we resolve *.mesh.local URLs?

[2019-02-28 15:59] sbezverk commented on #12119
@linsun it is very basic config, nothing special, not sure why other folks did not see it, or maybe not everybody read pilot's logs :)

[2019-02-28 16:07] howardjohn commented on #12055
If you remove Istio, does the issue resolve or is it still crashing? It looks like it is failing the liveness probe, which shouldn't be impacted by Istio as far as I know, since it is all in the kube-system namespace.

[2019-02-28 16:20] mandarjog commented on #12117
@ayj when galley directly delivers endpoints and goes down, how is the galley client handling this? It should also *not* eject state because of loss of connectivity.

[2019-02-28 16:23] elevran commented on #11415
@myidpt AFAIK, RBAC is specified on cluster (i.e., all namespaces) or namespace scope, so you need a binding per NS where Citadel needs to create secrets. Also [permissions are purely additive (there are no “deny” rules)](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#role-and-clusterrole), so you can't create RBAC for **not accessing** the existing namespaces.

Does it make sense t

[2019-02-28 16:26] trevorlinton commented on #11964
@howardjohn @duderino Just to be clear. The new production configuration requires every pod to take up an additional 2 CPU cores, and from what I'm testing it requires at a minimum a 3 servers each with at least 8 cores available each dedicated to run istio?  We have a production cluster with 700 pods running, it would require us to double our bill from 100k to 200k in order **JUST** to run istio.

[2019-02-28 16:38] esnible commented on #12138
@loewenstein There is some new documentation at https://preliminary.istio.io/docs/setup/kubernetes/multicluster-install/gateways/

@geeknoid Kubernetes has a limit of 6 DNS search paths on pods, which is cannot be fixed because Linux libc also has a limit of 6.
https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-dns-config
https://kubernetes.io/docs/tasks/administer-clus

[2019-02-28 17:02] #12087 closed

[2019-02-28 17:11] rshriram commented on #12157
I didn't know this was new..
Question: is it common to access the service as https://kubernetes/.. or https://kubernetes.default/.. ?
The reason I ask is because the filter chain matches could use the same logic as the HTTP virtual host permutations (svc, svc.ns, svc.ns.svc, svc.ns.svc.cluster, clusterIP, ..)..

[2019-02-28 17:23] myidpt commented on #11984
@rshriram good point. I think you will need a global mesh config to instruct both Pilot and Pilot-agent.

[2019-02-28 17:28] howardjohn commented on #12144
Maybe related to: https://github.com/istio/istio/issues/12000

[2019-02-28 17:33] duderino commented on #10533
@phildrud how about we give this to @silentdai instead?  He's going to work on the filter chain discovery service in the Envoy-side, so it may make sense for him to do the control plan side too

CC @htuch and @alyssawilk

[2019-02-28 17:42] douglas-reid commented on #11696
@Stono yes. I can send traces through productpage and see a full set of traces from a sidecar-less setup.

When you don't use a client, are you sure that you are forwarding all of the required headers (https://preliminary.istio.io/help/faq/distributed-tracing/#how-to-support-tracing) ?  It really sounds like something is stripping the headers inside your applications (applications are required to

[2019-02-28 17:47] Stono commented on #11696
Absolutely sure we are forwarding the headers, when we use the client in
our edge app, we only start the trace with that, the downstream apps are
just header forwarding and envoy taking care of the rest, and it's
absolutely fine and we see the trace.  If we weren't forwarding headers
correctly we wouldn't see the trace.

I think a screen share is the only way we will get to the bottom of this
and

[2019-02-28 17:52] incfly commented on #11854
@ayj correct, changing to pod level annotation solves the problem. I mis-read the document. Closing, thanks!

[2019-02-28 17:52] #11854 closed

[2019-02-28 17:53] thomschke commented on #12157
In my opinion these are common permutations
[code]
But it does not matter if you generate all permutations (like routes):
[code]

[2019-02-28 17:55] rshriram commented on #12157
Thanks. I skipped the entire SNI match as its unnecessary if there is a VIP for the service..

[2019-02-28 18:06] oaktowner opened #12162 "Regression: Istio 1.1 sidecar cpu peaks periodically far beyond 1.0.x (PILOT_DISABLE_XDS_MARSHALING_TO_ANY)"
**Describe the bug**
tl;dr:
Upgrading from Istio 1.0.4 to 1.1.0 requires more resources than feasible, and is not stable enough for production usage.
Background
We’re running the Istio control plane in one of our production clusters. This cluster contains applications that are not production critical and are generally safe to experiment on.
We deployed two new services in this cluster: irs-client

[2019-02-28 18:08] ayj commented on #12152
Agreed with @ozevren. We should be able to catch this when the client is created. `sink.NewClient` doesn't return an error today. One option would be to panic. Another would be to return an error from that function.

[2019-02-28 18:08] drichelson commented on #11984
@rshriram @myidpt Good points. The initial PR only addresses the pilot-agent file watchers. This issue won't be fully resolved until further work is done to enable more configurability elsewhere as you mention.

[2019-02-28 18:19] mabushey commented on #10062
@rshriram

What the hell? Who thinks this is acceptable? Networking should not act totally different based on the name. This is already being done with the http and https prefixes and has caused tons of confusion because it's not something anyone else does. This is insanity. How about making things work right and not changing the behavior based on a name?  I'd prefer to have Istio stick around, bu

[2019-02-28 18:25] rshriram commented on #12117
nor should it send an empty list of services, wiping out the proxy state. thats hwat is happening in @morvencao 's case

[2019-02-28 18:26] ayj commented on #12117
Galley doesn't delivery endpoints to Pilot _yet_ cc @ozevren @nmittler

By "Galley client" do you mean the MCP client in Pilot or Galley's connection to k8s apiserver?

The MCP client embedded in Pilot is pretty lightweight w.r.t managed persistent state. Pilot is responsible for persistence. For configuration today, Pilot will retain the most recent set of resources (per type/collection) across t

[2019-02-28 18:28] duderino commented on #12162
I heard from @costinm that they tried 1.1 control plane with 1.0 proxy and the issue persisted.  Next experiment:  try 1.0 control plane with 1.1 proxy.

[2019-02-28 18:34] howardjohn commented on #11964
I just ran `minikube --cpus 2`, then ran 10 replicas of a pod with:

[code]

All pods created successfully, even though though the total limits was 10 CPUs and I had 2 CPUs available. The 2 CPU cores/sidecar is the limit, not the requests, which does not [not affect the scheduler](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#how-pods-with-resource-requests-

[2019-02-28 18:41] rshriram commented on #12162
Please ask them to set the proxy concurrency to 1. the issues should go away mostly.. I think the cpu resource to proxy concurrency conversion logic that @hzxuzhonghu and co added needs work..

[2019-02-28 18:43] rshriram commented on #12153
pleae remove the port name from the virtual service

[2019-02-28 18:44] esnible commented on #10062
Should we consider using a Kubernetes Annotation in addition to the port *name* to control behavior?

If I saw something like this I would understand that this port is special.

[code]

We could do something clever like 3306 is considered MySQL protocol by default.  If the user runs MySQL protocol on a different port this annotation would be used.  If the user runs HTTPS we could override that des

[2019-02-28 18:48] jaredallard commented on #10358
Not sure that this should be closed, especially since a fix PR is open and awaiting feedback / a merge. A workaround doesn't always suffice. I used to be able to edit it manually, but now GCP's istio integration replaces all modifications to the configmap, thus rendering that workaround broken.

[2019-02-28 18:48] rshriram commented on #12144
@howardjohn its not..
@uk000 you can set the meshconfig.defaultDestinationRuleExportTo to '.' to prevent such a thing from happening. When you set it to ., the destination rule will by default apply only to its own namespace and not to others.

You can further restrict this behavior by enabling the configRootNamespace setting in the meshConfig.. when set, the choice of destination rule will be cal

[2019-02-28 18:55] #11920 closed

[2019-02-28 18:55] mandarjog commented on #12162
Why do concurrency cause periodic spikes?

[2019-02-28 18:55] esnible commented on #11593
@ozevren Please let's merge https://github.com/istio/istio/pull/11904 so we can get descriptions of why the non-starting pods aren't starting.

[2019-02-28 19:11] gargnupur commented on #12115
@fnp927 : Thanks for reporting this!
Do you have mixer logs when this happens?

[2019-02-28 19:17] wattli commented on #11912
It's fixed by: https://github.com/istio/istio/pull/11986

[2019-02-28 19:17] #11912 closed

[2019-02-28 19:25] edalford11 commented on #7603
Migrated to 1.1 and was still receiving the same SSL errors.

I ended up setting

[code]

and set `includeIPRanges` to my cluster cidr. This disabled all external traffic filtering and I was finally able to get my apps to call external services.

[2019-02-28 19:41] douglas-reid commented on #12115
@gargnupur this was reported in the slack channel as well. when redis failures occur, we send back a default quota result, which is 0 granted quota. it looks like that was intentional.

i'm not sure what the correct thing to do here is, except it probably is better to send back an error and let the policy fail_open/fail_closed setting take over.

[2019-02-28 19:48] esnible commented on #12146
@shuiqing05 The _istioctl_ version is baked into the binary. The script _bin/get_workspace_status.sh_ uses the environment variables `VERSION` and `BUILD_GIT_REVISION` to create some flags, then _bin/gobuild.sh_ uses the `-ldflags` to bake them in.

The folks doing Homebrew installs of _istioctl_ (see https://github.com/istio/istio/issues/10484 ) via a recipe are using this.  What is your use case

[2019-02-28 19:56] michaelkipper commented on #12162
Latest update: We set `ISTIO_META_ISTIO_PROXY_VERSION` to `1.0.2` on Costin Manolache's advice, and the spikes went away and steady state CPU usage reverted to a normal level.
We still don't fully understand what this did, but this is no longer a blocker.

Doc is here: https://docs.google.com/document/d/1QCgnSDFto3S_UGKyU4OqOgeX35CS7VCIPdb_ewlYyOA/edit

cc: @oaktowner, @dwradcliffe, @jpittis

[2019-02-28 19:56] howardjohn opened #14011 "Performance testing should be able to run on smaller clusters"
Currently, running `setup.sh` will install Istio with extremely high resource requests. Not sure exactly, but 30-60 CPUs needed at least, just for Istio I believe. It would be useful to have different "profiles". While this may be needed to run 20 service graphs, we should allow people to run with reasonable settings that would require less resources. Maybe S/M/L setups.

[2019-02-28 19:59] rshriram commented on #11984
from that point of view, do you want to move this work to master branch instead of release-1.1 ?

[2019-02-28 19:59] michaelkipper commented on #12162
@rshriram: Of the two options (set proxy concurrency to 1, set `
ISTIO_META_ISTIO_PROXY_VERSION` to an old version number), which one is more preferable?

[2019-02-28 20:05] rshriram commented on #12162
hold on.. you set the istio_meta thing on a proxyv2 image from 1.1-rc0 and the CPU usage went down? if so, the concurrency is unlikely to make any difference.

But in terms of the concurrency, without changing the istio meta variable (i.e. let it be set to 1.1), there is a meshConfig variable in helm charts..

[2019-02-28 20:09] mehemken commented on #9950
Are there options for using this in v1.0.6?

[2019-02-28 20:22] trevorlinton commented on #12043
Yeah,  I'm going to go ahead and apologize profusely, this was my misunderstanding as when I went back and looked closer the node went un-scheduable for a completely unrelated reason.  Sorry. Sorry. Sorry.  Ignore this issue.

[2019-02-28 20:22] #12043 closed

[2019-02-28 20:22] trevorlinton commented on #11964
Yeah, @howardjohn  I'm going to go ahead and apologize profusely, this was my misunderstanding as when I went back and looked closer the node went un-scheduable for a completely unrelated reason.  Sorry. Sorry. Sorry.  Ignore this issue.

[2019-02-28 20:33] dwradcliffe commented on #12162
I tried without the `ISTIO_META_ISTIO_PROXY_VERSION` change (so using 1.1 format) and `--concurrency=1` and this seems to have (also) solved the cpu spikes.

![istio datadog 2019-02-28 15-29-40](https://user-images.githubusercontent.com/118850/53596536-f4708680-3b6d-11e9-89a1-5270867e6bbe.png)

[2019-02-28 20:38] davidebbo commented on #12139
@howardjohn did you trying reproing the issue by installing the Hipster app sample (https://github.com/GoogleCloudPlatform/microservices-demo)? It consistently works on 1.0 for me, and breaks on 1.1rc (with proxies enabled).

[2019-02-28 20:43] howardjohn commented on #12139
Yes, Hipster breaks for me on 1.1. But I can still access redis-cart with my own service, so it's not that straightforward. See https://github.com/GoogleCloudPlatform/microservices-demo/issues/162 (on phone so not sure how to link to my comment)

[2019-02-28 20:43] gargnupur commented on #12115
Thanks Doug for the info..
Sure, rather than sending empty quota results in this function https://github.com/istio/istio/blob/master/mixer/adapter/redisquota/redisquota.go#L313:19 we can send status for the errors..

policy fail_open/fail_closed setting: where do we define this? are you referring to network_fail_open policy here: https://sourcegraph.com/github.com/istio/proxy@ce051fe8e813e19c87cab

[2019-02-28 20:45] #8958 closed

[2019-02-28 20:53] julianvmodesto commented on #7679
We'd like to use the X-Forwarded-For header for client ip affinity, using `LoadBalancerSettings.ConsistentHashLB`, so this is a blocker for us to use Istio on GKE, with a hop to a GCLB.

[code]

[2019-02-28 20:55] davidebbo commented on #12139
Got it. Any thought on how we can take the next step here? We seem to be sort of stuck in a place where Istio folks feel cartservice may be at fault, and Hipster app folks think it's likely an Istio issue. :)

[2019-02-28 21:07] mandarjog commented on #12162
Oh nice, Can you set concurrency higher to say 4 and see if those spikes are better or worse? What is the configured cpu limit for proxy?

[2019-02-28 21:10] kyessenov commented on #12115
@gargnupur Yes, and that settings is populated from https://github.com/istio/api/blob/master/mesh/v1alpha1/config.proto#L61 and pod annotations. Propagating an error to the client seems reasonable to me.

[2019-02-28 21:11] rshriram commented on #12162
So we try to auto infer the concurrency (number of threads for envoy) based on the CPU resource in a pod. There is a logic somewhere in the kube inject code that does this translation (@hzxuzhonghu and co did this).. I think that logic is buggy to the extent that in your system, it ended up setting concurrency to a very high value (possibly more than num cores in your system). And when this happen

[2019-02-28 21:18] slabber commented on #7679
It's a bit hackish but it's actually possible to do this with a separate pod and the envoy External Authorization filter.  You can specify which client header to send to the authorization service and which  return header to then forward to your upstream.

I ended up with a filter like this:
[code]

The header sanitizer can just be a simple apache container that does a rewrite for all requests to a

[2019-02-28 21:19] howardjohn commented on #12139
To be more clear, I don't think it is not an Istio issue - given cartservice works without Istio and with Istio 1.0, I think Istio 1.1 certainly is involved in it not working. All I am suggesting is that it is not as straight forward as "Redis does not work under Istio 1.1". I briefly looked at cartservice's code and it seems like pretty standard Redis connection, so I am not sure why it is gettin

[2019-02-28 21:25] #12068 closed

[2019-02-28 21:33] kidiyoor commented on #8369
Facing the same issue with following code snippet:
Istio client doesn't pick up the right endpoint from kubeconfig context. It uses localhost:8080 always.
[code]

[2019-02-28 21:35] costinm opened #12165 "Add sidecar for Galley"
I think this should be prioritized for 1.1.1 - I did some initial config/testing with
https://github.com/istio-ecosystem/istio-installer/tree/master/istio-control/istio-config/templates/....
( still need to put the proper cert)

The goal is to make Galley MCP consistent with Mixer and Pilot - use Spiffe certs ( so it doesn't behave differently or have problems in multicluster), and eventually can

[2019-02-28 21:38] ozevren commented on #12165
Tracked here: https://github.com/istio/istio/issues/11787

[2019-02-28 21:39] uk000 commented on #12144
@rshriram Wouldn't changing the "meshconfig.defaultDestinationRuleExportTo" interfere with the default mTLS setup of Istio? In my understanding, the way istio enables mTLS in a cluster is by creating a meshpolicy and a default DestinationRule in "istio-system" namespace that also relies on this "export" mechanism to spread the mTLS config to all istio-proxy sidecars.

I believe the same issue will

[2019-02-28 21:40] #12165 closed

[2019-02-28 21:40] dwradcliffe commented on #12162
With `800m` resuests and limits, `--concurrency=2` seems fine, but `--concurrency=4` had a spike.

[2019-02-28 21:41] ozevren commented on #11787
Per @costinm, this should be 1.1.x. Set the milestone 1.1.

[2019-02-28 21:42] duderino commented on #12162
Very interesting debugging guys.  Thank you.

@rshriram we want to do something close to what you suggest.   @mandarjog has done a ton of perf qualification already, but it was done with concurrency=2.  That's why we didn't catch this.  We actually overrode the defaults.   Proposal is to set to concurrency=2 for the 1.1 release since we have the most experience with it and keep this bug alive to d

[2019-02-28 21:43] duderino commented on #12162
@dwradcliffe thanks for confirming concurrency 2 is OK!

[2019-02-28 21:43] esnible commented on #12144
Let me know if this is related.

When I installed Istio it created a DestinationRule istio-system/default with ```exportTo:
  - '*'
  host: '*.local'
  trafficPolicy:
    tls:
      mode: ISTIO_MUTUAL```

I was testing Vadim's MySQL blog.  This can be reproduced without that blog; just do `kubectl apply -f samples/bookinfo/networking/virtual-service-ratings-mysql.yaml` to make force all traffic to

[2019-02-28 21:50] geeknoid commented on #11787
Why do we need this before 1.2?

We need to resist the temptation to do feature work in patch releases.

[2019-02-28 21:52] duderino commented on #12162
Also, for 1.1.x. I think we should consider reverting https://github.com/istio/istio/pull/11311 in favor of https://github.com/istio/istio/issues/8938

@knrc and @rvansa put a lot of work and analysis into https://github.com/istio/istio/issues/8938 but we abandoned it in favor of the redundant https://github.com/istio/istio/pull/11311 because it was merged first.  Sometimes the fastest isn't the b

[2019-02-28 21:53] kyessenov commented on #11787
May I suggest to consolidate the existing bootstraps for mixer and pilot with future galley one? We have a config proliferation problem.

[2019-02-28 21:54] duderino commented on #12162
I'll drop this to P1 as soon as @mandarjog's concurrency=2 PR is merged into release-1.1 branch

[2019-02-28 21:57] dwradcliffe commented on #12162
We're in a much better state now (thanks @rshriram for the tip!), and I'll probably continue with concurrency=1 for now, but I'm still concerned with the config format difference. _Something_ is going on there.

[2019-02-28 22:01] ayj commented on #11787
(from @costinm in other thread)

https://github.com/istio-ecosystem/istio-installer/tree/master/istio-control/istio-config/templates/....
( still need to put the proper cert)

We still need DNS compatible certs for the k8s validating webhook. In the near term (1.1x) those DNS certs are provided by Citadel (via ???). Longer term (1.2+) we'd like to remove that dependency have have Galley (or an ope

[2019-02-28 22:06] geeknoid commented on #11787
So there doesn't appear to be any emergency to get this into 1.1.x. We
should wait until 1.2 unless there is a security concern.

On Thu, Feb 28, 2019 at 2:02 PM Jason Young <notifications@github.com>
wrote:

[2019-02-28 22:13] sdake commented on #11951
[code]

If tiller is already present, these instructions do not need to be run.  This is more or less working as intended.

[2019-02-28 22:19] cyx commented on #10916
We're currently highly interested in this and would be open to doing some development ourselves. Is there an effort we can follow to ensure there's no duplication of work?

[2019-02-28 22:26] duderino commented on #12037
I think @tiswanso fixed this

[2019-02-28 22:27] mandarjog commented on #12162
Thanks @dwradcliffe

The following information will be super useful to actually fix the problem.

1. How many CPUs are available on your Node
2. Unset concurrency, like your original configuration.
   What is the automatic effective concurrency with req/limits 800m/800m in your environment ?
```kubectl --namespace $NS exec -i -t $POD -c istio-proxy -- ps auxww```
and
```kubectl --namespace $NS exe

[2019-02-28 22:27] duderino commented on #12037
err, perhaps not.  @tiswanso any advice?

[2019-02-28 22:30] myidpt commented on #10916
@cyx Great to hear! We haven't started this work yet.
I think you can start with Pilot and Mixer, which use Envoy. It is easier to enable SDS for them, for which I think we only need to modify their yaml files.
For Galley and Prometheus, this requires modifying their code to support SDS, which is hard. We can discuss the options.
@quanjielin @ayj

[2019-02-28 22:33] incfly commented on #12139
More digging with @howardjohn

- We find the redis-cli is able to do more than `PING/PONG` command to redis server. And `sudo tcpdump port 6379` on both sides indicate the packet go thru client and server side as expected.
- I can't observe such packet log for `cartservice` yet.

Next step I feel we can look at envoy access log (or stats) and do a diff comparison.

[2019-02-28 22:35] ostromart commented on #11951
The warning is expected but the main complaint here is the error further down:
$ helm install install/kubernetes/helm/istio-init --name istio-init --namespace istio-system
Error: release istio-init failed: namespaces "istio-system" is forbidden: User "system:serviceaccount:kube-system:default" cannot get namespaces in the namespace "istio-system"

[2019-02-28 22:37] ayj commented on #10916
See https://github.com/istio/istio/issues/11787 for the Galley specific tracking issue for enabling SDS.

Galley can be configured to open an insecure port for MCP and a sidecar proxy could handle mTLS using SDS for credentials. Galley also provides validation via k8s webhook. This also requires a cert/key with DNS name. Additionally, this cert/key could not depend on the presence of Citadel. As s

[2019-02-28 22:40] howardjohn commented on #12000
This should be fixed in https://github.com/istio/istio/pull/12047 which just got merged. If there are anymore issues please let us know

[2019-02-28 22:40] #12000 closed

[2019-02-28 22:42] lei-tang opened #12168 "preliminary 1.1 doc for Multicluster fails at getting istio-ingressgateway service"
{{
https://preliminary.istio.io/docs/examples/multicluster/gke/#deploy-bookinfo-example-across-clusters

In the section "Deploy Bookinfo Example Across Clusters", getting the istio-ingressgateway service’s external IP failed with the following errors.

~$ kubectl get svc istio-ingressgateway -n istio-system
Error from server (NotFound): services "istio-ingressgateway" not found

**Expected behavio

[2019-02-28 22:45] dwradcliffe commented on #12162
This was on a 32 core node (31850m allocatable)

server.concurrency: 32

For this test I did _not_ set `--concurrency` in our injector, so it must be defaulting to 0 and therefore the number of cores on the node.

[2019-02-28 22:47] duderino commented on #11705
Cowardly demoting to a P1 since the 1.1 needs have been met.  @sdake / @utka please reset to P0 if I got this wrong.

[2019-02-28 22:52] duderino commented on #10916
pulled into 1.2.  not sure if this is correct, but it will force us to look at it during 1.2 planning

[2019-02-28 22:53] duderino commented on #11787
Apologies for the poor organization here.

If 1.1 it should be milestone 1.1 with P0
else if 1.1.x, it should be milestone 1.1 with P1
else if 1.2 it can have any priority you want

[2019-02-28 22:55] #11555 closed

[2019-02-28 22:55] myidpt commented on #10916
It makes sense to me to pull this into 1.2.

[2019-02-28 22:57] duderino commented on #9504
Looks like this is fixed until proven guilty.  @knrc please reopen if your investigation finds anything

[2019-02-28 23:02] cyx commented on #10916
Cool. Is there a design doc somewhere outlining how this might be accomplished? Would also be open to chatting online or something if that's useful.

[2019-02-28 23:06] quanjielin commented on #10916
@cyx I had started this and have few PRs out,

[2019-02-28 23:08] duderino commented on #11658
@howardjohn @costinm @munrodg @Stono @utako I think the current state is we're good for 1.1 but still waiting on a fix on the release-1.0 branch before we cut 1.0.7

[2019-02-28 23:09] howardjohn commented on #11983
I have a service, testserver in namespace foo.
[code]
Same output for `testserver`, `testserver.foo.svc.cluster.local` as well.

[2019-02-28 23:17] cyx commented on #10916
@quanjielin cool thanks! Looking at all your PRs.

[2019-02-28 23:19] duderino commented on #11954
@douglas-reid close this?

[2019-02-28 23:24] howardjohn commented on #12066
To simplify this, I created a Deployment+Service+VirtualService+Gateway+DestinationRule as shown here for testserver. With injection enabled, I can access it through the ingressgateway fine. When run the server without a sidecar, requests fail with a 503 and `upstream connect error or disconnect/reset before headers`. Adding a Sidecar resource does not fix this.

Swapping out the httpbin server fo

[2019-02-28 23:24] #11908 closed

[2019-02-28 23:25] mandarjog commented on #12162
ok Thanks.

@rshriram @duderino The Customer is not using the istio sidecar injector.  I checked with some more tests of the injector auto-concurrency code, and it is fine.

They were running with unset concurrency, ie NCPU. defaulting to 2 would work just fine.

[2019-02-28 23:26] duderino commented on #12077
@ayj @ozevren @munrodg @costinm is this really a P0 for 1.1?  If not please drop priority or move to 1.2

[2019-02-28 23:27] ozevren commented on #10500
This actually works:
https://github.com/philrud/istio/wiki/How-To:-Securing-K8s-Ingress-with-%22Let's-Encrypt%22-issued-certificates

FWIW, it uses MCP.

[2019-02-28 23:32] duderino commented on #6085
@liutanrong thanks for the tip

[2019-02-28 23:33] duderino commented on #6085
@howardjohn please do what you can here.  Not sure if we can get a fix into 1.1, but please give it a shot

[2019-02-28 23:34] duderino commented on #10500
@philrud @ozevren how can users find that?

[2019-02-28 23:35] myidpt commented on #10916
Thanks @quanjielin

[2019-02-28 23:41] myidpt commented on #10917
dup of https://github.com/istio/istio/issues/5891

[2019-02-28 23:41] #10917 closed

[2019-02-28 23:41] costinm commented on #11787
It is a priority because it prevents adoption of SDS (secret discovery secret) and removal of K8S secret.
And it's currently broken for multicluster - due to the hardcoded DNS cert.

Both are bugs in features we expect to be working in 1.1.

[2019-02-28 23:42] costinm commented on #11787
(using SDS is also required for integration with other identity providers )

[2019-02-28 23:44] costinm commented on #11787
BTW - it may not have to be tied to 1.1.x - I already added it to the istio-ecosystem/installer, which is version independent - so uses who need SDS or multicluster can use the new installer with 1.1.0 if they
want, or with master or any other version of Istio that the installer supports.

[2019-02-28 23:52] wattli commented on #11787
It's fixed in https://github.com/istio/istio/pull/11986

[2019-02-28 23:54] diemtvu commented on #11983
Which version do you use? For 1.1, the new document is [updated](https://preliminary.istio.io/docs/tasks/security/mutual-tls/#verify-mutual-tls-configuration) . Basically, you need to include client pod in your command. eg:
[code]

There was error on version before 1.0.3 too, so you will need to try with 1.0.4 or 1.0.5

Thanks.

[2019-03-01 00:00] howardjohn commented on #11983
Thanks, I was using 1.1 snapshot 5, updating to rc1 fixed this. @esnible if you are using 1.1 it sounds like you need to provide the pod name, not `reviews`.

[2019-03-01 00:02] cyx commented on #10916
@quanjielin are there instructions for testing this out? Would be happy to try it out in some of our test clusters and see it play out. Thanks!

[2019-03-01 00:06] quanjielin commented on #10916
I have anther pending PR to be sent out, after all three PRs get merged; we could flip ``` controlPlaneSecurityEnabled```  in ``` install/kubernetes/helm/istio/values-istio-sds-auth.yaml```to true and follow https://preliminary.istio.io/docs/tasks/security/auth-sds/ to try it out; for now you could still follow that link to play

[2019-03-01 00:10] duderino commented on #12158
Closing this as a duplicate of https://github.com/istio/istio/issues/12119 which is a P0 in the 1.1 milestone

[2019-03-01 00:10] #12158 closed

[2019-03-01 00:32] pitlv2109 commented on #12144
If I remember correctly, there is a bug that makes DestinationRule applies to the whole mesh rather than just the specified namespace. Maybe related to #11058?

[2019-03-01 00:35] mandarjog commented on #12093
@jnativio can you check  proxy concurrency in both there cases?
[code]

[2019-03-01 00:55] uk000 opened #12170 "TCP Ingress doesn't work when used with mTLS and weighted routes in VirtualService"
**Describe the bug**
Given:
1. a service that defines subsets using a DestinationRule
2. ingress gateway is configured via a VirtualService to perform weighted routing among the two subsets
3. mTLS is enabled in the cluster
The above setup doesn't work when mTLS is enabled in the cluster
The same setup works once mTLS is disabled. Alternately, the setup works with mTLS enabled if the VirtualServic

[2019-03-01 00:57] ostromart commented on #11868
I'm not sure if this is something that's started to occur in recent builds but with 1.1-rc0 and rc1 I keep hitting
https://github.com/istio/istio/issues/11990, specifically the first problem with the PodDisruptionBudget, so I haven't been able to complete a tiller upgrade to repro the problem in this issue. Going to ping that issue to see if there's a workaround.
helm upgrade istio install/kuberne

[2019-03-01 01:01] ostromart commented on #11990
I'm blocked on https://github.com/istio/istio/issues/11868 because of this issue. istio-galley PodDisruptionBudget is defined in my case so I'm not sure how to even try to work around this:

helm upgrade istio install/kubernetes/helm/istio --namespace istio-system
Error: UPGRADE FAILED: no PodDisruptionBudget with the name "istio-galley" found

kc get PodDisruptionBudget -n istio-system istio-gall

[2019-03-01 01:09] kidiyoor commented on #8369
It started working after adding
[code]
to Gopkg.toml of my project.

I wonder why https://github.com/istio/istio/blob/master/Gopkg.toml#L359 didn't take care of this.

[2019-03-01 01:17] ostromart commented on #12081
Just tried this with both rc0 and rc1 and works for me in both cases.
@diemtvu could you provide your whole bash history in trying to install this?

[2019-03-01 01:27] jensendw commented on #8301
[code]

For some reason the above command still ends up creating an externally facing load balancer, could helm somehow be mangling the input?  I see the following under annotation for the service:

[code]

[2019-03-01 01:31] diemtvu commented on #12081
I've run again on my brand new cluster, helm 2.13, no tiller
[code]

Here are commands:

[code]

Error after the last command
[code]

[2019-03-01 01:33] duderino commented on #11868
Actually @linsun could you take a look at this?  There is an issue with the pod disruption budget introduced in
#9951 that's blocking @ostromart from reproducing this issue.

[2019-03-01 01:36] ostromart commented on #12081
Ok, so you're doing option 2 (template) now rather than option 1 (tiller) as before.
Did you run
kc create clusterrolebinding cluster-admin-binding --clusterrole=cluster-admin --user=$(gcloud config get-value core/account)
on the cluster?
The error you're showing is usually due to that step being missed.

[2019-03-01 01:38] duderino commented on #12066
@philrud will take a crack at this

[2019-03-01 01:45] hzxuzhonghu commented on #12162
I donot think this is related to concurrency set, previously if we donot set this value, it is default to the cpu core number of vm.

[2019-03-01 01:46] diemtvu commented on #12081
Whoop. I'm sorry. I forgot which one I was testing :). Will try the other one again.
One note though, I noticed my helm was pretty old (2.9), so just update it today and seems fixing few other issues (not related to this). I'll try again with option 2 and let you know.

[2019-03-01 01:47] incfly commented on #12139
Changed server side `redis-cart.yaml` service port name from "redis" to "tcp" get cartservice back to work again. So it sounds like a client libraries & envoy redis not working together issue...

[2019-03-01 01:54] rshriram commented on #12162
@dwradcliffe and co, there is definitely something going on with the envoy config/envoy itself.. setting proxy version to 1.0.x shouldn't magically drop CPU usage. Would you be able to get some CPU profile from the envoy in question, as someone suggested in the docs? https://gist.github.com/silentdai/d00d0cf49e1bf84b723bb0b5214a5b31#file-gistfile1-txt-L3

It would also help if you could get the st

[2019-03-01 01:55] hzxuzhonghu commented on #12162
@dwradcliffe Have you tested 1.1 just with concurrency = 0?

[2019-03-01 01:56] lxv458 commented on #8670
hi, how do you solve this problem, I met the same problem with you.

[2019-03-01 02:05] howardjohn commented on #12139
I can confirm that renaming the service port name (or deleting it) fixed this for me. https://istio.io/docs/setup/kubernetes/spec-requirements/

Redis filter doesn't seem new at all https://github.com/istio/istio/search?q=redis&type=Commits but this change is new in 1.1 https://github.com/istio/istio/commit/2205d021b1691a069828ad0f97b84806326e021f.

[2019-03-01 02:07] markserrano915 commented on #9504
Unfortunately I didn't see any difference after upgrading to the latest release. See https://github.com/istio/istio/releases/tag/1.1.0-rc.1.

To upgrade, I followed the instructions here at https://istio.io/docs/setup/kubernetes/upgrading-istio/
[code]

When I do `kubectl get pods`, I get the following status
[code]

Before the upgrade, the `istio-system` pods are:
[code]

After the upgrade, I see

[2019-03-01 02:09] markserrano915 commented on #9504
Upgrade logs
[code]

[2019-03-01 02:18] rshriram commented on #12162
So i dont think this is concurrency. Concurrency merely exacerbates the issue.

@dwradcliffe / @michaelkipper could you run the experiment with all the usual stuff (proxyv2 from 1.1.0-rc0, no special istio_meta blah, no concurrency settings, etc.). but replace the pilot image with this image `docker.io/rshriram/pilot:1.1.0-rc1-structonly` ?

[2019-03-01 02:20] hzxuzhonghu commented on #12117
@morvencao How much memory does pilot used in your test with`
* Create 20 services(2 ports for each service), corresponding 20 pods, 20 serviceaccounts into each namespace.` before crash?

[2019-03-01 02:22] hzxuzhonghu commented on #12117
Lest assume we have 10000 object watched from k8s apiserver totally. Let's say 1KB per resource object, then the total memory is about 10MB.

[2019-03-01 02:30] dwradcliffe commented on #12162
I'm assuming this is the same as not passing any concurrency param to the istio-proxy container, so yes. This is what results in server.concurrency: 32

I'll try your test image now. (I can also try to get profile later tomorrow.)

[2019-03-01 02:36] shuiqing05 commented on #12146
Thanks, I had fixed it. This issue can be closed.

[2019-03-01 02:37] mandarjog commented on #12162
The main place where isV11 is used protobuf.any change.
Is there any deeper way that pilot changes behavior based on proxy version?

[2019-03-01 02:37] #12146 closed

[2019-03-01 02:38] rshriram commented on #12162
No.. the image above effectively undoes the protobuf.any change. lets see how the tests turn out

[2019-03-01 02:43] rshriram commented on #12170
I assume you have modified the gateway k8s service to open up port 9000?

[2019-03-01 02:47] rshriram commented on #12144
@uk000 your analysis is almost correct. The key thing here is that the meshConfig level setting is the "default", not the final. Individual destination rules can override it using the exportTo field in the destination rule. So in this case, we have programmed the global mtLS destination rule with exportTo set to `*`, i.e. make it publicly visible. That said, the ideal way to do this is to
 1. turn

[2019-03-01 02:54] sdake commented on #11951
@ostromart that means tiller was not installed with an appropriate service account.  Many people don't instantiate tiller properly.  This is not really a code problem - perhaps this could be handled with documentation.

[2019-03-01 03:01] sdake commented on #12020
@duderino I will retest, but I believe the root cause was insufficient CPU in my cloud provider.  The defaults have changed to north of 6 CPUs (from 1).  The readiness error is a red herring - instead the fact that pilot was never scheduled was the root of the problem.  This is exacerbated by the fact that application sidecars without a pilot present spit out this nonsensical error about port 0 no

[2019-03-01 03:07] rshriram commented on #10062
I think @incfly misspoke based on a stale PR state. I was simply testing the hack for some other thing.. We are not most certainly creating any such hacks in the networking code based on port name prefix.. So rest assured :).

[2019-03-01 03:15] rshriram commented on #10062
well except for using http-, https-, mysql- as the port names to indicate the protocol to use for that port. And the only way to get rid of this prefix requirement is to turn envoy into a wireshark and do some acrobatics at runtime. But then, the more magic you put into the data plane, the more surprises you get.

Case in point is the trouble caused by TLS sniffing -- allowing a single listener on

[2019-03-01 03:22] dwradcliffe commented on #12162
I deployed the new pilot and restarted all my workloads to give it a clean start. The first 10 minutes of this were pretty brutal. At 800m cpu limit on the proxy there is so much cpu throttling that it took 6 minutes to stabilize and even able to get full traffic throughput. All the proxies and pilot had massive cpu spikes/throttling. Latency was crazy high too. However after about 10 minutes ever

[2019-03-01 03:28] douglas-reid commented on #11954
@duderino as soon as I verify with the next RC, if that's ok.

[2019-03-01 03:29] diemtvu commented on #12081
It's still fail with Heml + Tiller. Btw, set RBAC do fix option 1. I remember that we mention this somewhere, but I think it's may be good to repeat it here again.

Anyway, the error with Helm + Tiller is the same as I saw this other day. I'm using RC1, btw.

[code]

[2019-03-01 03:52] sdake commented on #12020
@duderino pretty sure we can close this, assuming someone opens a bug in istio.io to document the minimum requirements for CPU and memory for Istio in the default deployment.  I ran with 4 worker nodes running 4 CPU * 8GB each and had a successful deployment.

Cheers
-steve

[2019-03-01 03:56] morvencao commented on #12154
@clyang82
After investigation, PR: https://github.com/istio/istio/pull/11418 breaks Istio chart upgrade.
In 1.0.x, the `meshPolicy` and related `desrinationRule` are created by a helm post-install hook, and all resources deployed by `hook` are not managed by tiller. After the PR: https://github.com/istio/istio/pull/11418, the `meshPolicy` and related `desrinationRule` are create by `helm install`,

[2019-03-01 04:05] sdake commented on #9504
@markserrano915

You will see many of your containers in the `pending` state.  If you run `kubectl describe` on them, I would speculate you will see errors relating to insufficient meemory or cpu resources.  This can be fixed by increasing the number of worker nodes in the system.  Can you report the describe results on some of these errors?

When these pods do not enter the running state, a nonse

[2019-03-01 04:08] morvencao commented on #12154
Local test results:
[code]

[2019-03-01 04:14] jnativio commented on #12093
@mandarjog  The concurrency actually went up (from 1 to 2) compared with builds following the merge of #11311.

[2019-03-01 04:15] #9684 closed

[2019-03-01 04:38] markserrano915 commented on #9504
@sdake You're correct. I ran out of resources though the command I use is `kubectl get pod` instead of `kubectl describe`
[code]

[code]

[code]

[code]

[code]

[2019-03-01 04:39] markserrano915 commented on #9504
[code]

[2019-03-01 05:00] morvencao commented on #12117
@hzxuzhonghu
Total memory for pilot instance is 13GB.

In the second phase, I firstly create 50 namespaces and gradually deploy 20 services(2 ports for each service), corresponding 20 pods, 20 serviceaccounts into each namespace.
So the total services number created in the second phase should be 1000 services, 1000 pods.
And plus the existing 500 services and 500 pods.

[2019-03-01 05:06] markserrano915 commented on #9504
@sdake So the discovery container alone needs 2Gi of memory and the proxy needs 128Mi. I added 3 more nodes but I got the same issue

[code]

Each node I am using (from DigitalOcean) has the following spec:

[code]

It seems none of the nodes will satisfy the 2Gi + 128Mi requirement unless the nodes get more memory.

[2019-03-01 05:30] markserrano915 commented on #9504
I dropped the extra three 2GB nodes in favor of three 4GB nodes and things started working again.

[code]

[code]

[2019-03-01 06:22] abhyuditjain commented on #12055
@howardjohn Without istio there are no crashes and number of restarts is constant. But when istio is installed, it begins to crash.

[2019-03-01 07:15] osswangxining commented on #11974
Both for 1.1 & master. Currently only 2 parameters are defined:
* --storage.tsdb.retention & --config.file

[2019-03-01 07:45] irisdingbj commented on #12152
Thanks @ozevren @ayj  I will add return error for this function and print out this error message to user.

[2019-03-01 08:19] abhyuditjain opened #12176 "Bookinfo example status 000"
**Describe the bug**
I have a Cluster with CoreDNS and Calico. I installed istio following the quickstart guide (without mutual TLS, `kubectl apply -f istio-demo.yml`) and then followed bookinfo installation.

When I verify the installation using curl, I get `000`.

The following is the cluster config:
[code]

The following are the pods:
[code]

[code]

[code]

[code]

**Expected behavior**
200

*

[2019-03-01 08:19] Excited-ccccly commented on #11262
Exactly same issue here

[2019-03-01 10:11] sdake commented on #12015
It is unclear if anyone has tested ingress enabled in the RC candidates.  While ingress gateway is heavily tested by our gating system, ingress itself is not.

I was able to duplicate this issue.

Here is what the deployments file looks like (rendered):
[code]

[2019-03-01 10:12] BenPope commented on #12153
@rshriram incredible, thank you - in my limited testing it hasn't failed. But why?

[2019-03-01 10:14] sdake commented on #12015
@xianke9 to answer your question, yes, you need to install i`stio-init` first prior to upgrading.  We are working on improving the documentation for 1.1 prior to release, but this is the current upgrade documentation:
https://preliminary.istio.io/docs/setup/kubernetes/upgrade/#helm-upgrade

[2019-03-01 10:16] sdake commented on #12015
statsd is deprecated.  I believe it has been entirely removed, however, the ingress chart keys off of it's values.  @douglas-reid can you confirm?

Cheers
-steve

[2019-03-01 11:52] nizamsp opened #12178 "Consistent hashing based on httpHeader works through ingress-gateway but not through service"
**Describe the bug**
Configurations like rewrite rules, timeout, consistent hashing doesn't work on service-to-service api calls. But it works when we go via the istio ingress gateway

**Steps to reproduce the bug**

We took the helloworld.yml from the samples folder of 1.0.6 version and just added the following rewrite rule and ran few curl commands to test this.

**Newly added rewrite rule part

[2019-03-01 12:29] tzilist commented on #11510
Getting the same issue here, using istio version 1.1-rc1 and k8s version 1.11.7

[2019-03-01 13:18] jsPlachetka commented on #12058
The version is
[code]
The documentation for ```logs``` says the same for me, but unfortunately setting ```--tail``` explicitly doesn't change anything.

[2019-03-01 13:41] esnible commented on #12178
Because you have specified

[code]

Your VirtualService will only apply to things going through _helloworld-gateway_.

If you leave off the gateway, Istio validation will complain "wildcard host * is not allowed for virtual services bound to the mesh gateway".

What you want is

[code]

[2019-03-01 13:50] linsun commented on #11990
@ostromart in your comment, is that upgrade or downgrade?  My guess is downgrade from 1.1 to 1.0?

[2019-03-01 13:51] linsun commented on #11990
seems it is a known issue of helm

https://github.com/helm/helm/issues/2914

[2019-03-01 13:53] linsun commented on #11868
I replied in #9951 it is an issue of helm: https://github.com/helm/helm/issues/2914

Is this only impact downgrade?  If so, maybe we should not even supportdowngrade using `helm upgrade` @duderino @ostromart @sdake @morvencao

[2019-03-01 14:05] linsun commented on #11990
would be good to check if `--force` param to helm fixes this.

[2019-03-01 14:24] morvencao commented on #12155
Duplicated with https://github.com/istio/istio/issues/11868

[2019-03-01 14:25] morvencao commented on #11868
https://github.com/istio/istio/pull/12177 should fix this issue.

[2019-03-01 14:28] #12155 closed

[2019-03-01 14:58] michaelkipper opened #12181 "Istio Proxy is generating ~300 DNS requests per second"
**Describe the bug**
We were paged by our DNS team that the Istio proxies are generating ~300 requests per second.

![screen shot 2019-03-01 at 9 50 25 am](https://user-images.githubusercontent.com/24932723/53645771-998b6d80-3c07-11e9-8e45-69c584a795c0.png)

**Expected behaviour**
We expected that this data would be cached, or polled slower.

**Steps to reproduce the bug**
This is a pretty basic s

[2019-03-01 15:00] GregHanson commented on #10904
haven't been able to reproduce since #11905 merged, marking as resolved

[2019-03-01 15:00] #10904 closed

[2019-03-01 15:06] GregHanson commented on #11039
the issue with newly recreated ingress gateway instances not receiving their configs should be resolved by #11905, marking as resolved until issue can be recreated with 1.1 release candidate

[2019-03-01 15:06] #11039 closed

[2019-03-01 15:09] michaelkipper commented on #12181
cc: @duderino

[2019-03-01 15:11] morvencao commented on #12154
Local test results:
[code]

[2019-03-01 15:18] rshriram commented on #12153
There should have been some warnings spit out from Pilot. I will remove this API field from the protos so that others dont use it like you did.. We had hid it from the docs.. but I think we should just remove it

[2019-03-01 15:20] dwradcliffe commented on #12162
This ran stable overnight, no spikes or errors. Proxy cpu held steady around 300 mcores. This morning I restarted a single server pod, a single client pod, and then all the clients and server pods. This went relatively smoothly. The proxies still take a couple minutes to start up, which might be a different issue. This definitely appears to be much better than the upstream rc1 pilot.

What else ca

[2019-03-01 15:43] rshriram commented on #12162
I realized I missed a couple of spots that need to be disabled. Would you be able to try out with this:
docker.io/rshriram/pilot:1.1-rc0-structonly-2 ? 🤞 that this cuts down the initial spikes you saw

[2019-03-01 15:45] rshriram commented on #12162
https://github.com/istio/istio/pull/12182 is the code base from which this docker image is built

[2019-03-01 15:47] esnible commented on #11700
I am seeing the same failure as https://github.com/istio/istio/issues/11929

[code]

For example https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12159/istio-pilot-e2e-envoyv2-v1alpha3/16111

We don't know if the 503 was the first problem, the last problem, or occurred somewhere in the middle.  The test code _tests/e2e/tests/pilot/ingressgateway_test.go_ knows the seque

[2019-03-01 15:51] jshaughn commented on #8902
@venilnoronha , @douglas-reid , I played a bit with this yesterday to see if Kiali could offer up more information about the frequency and/or timing of CB state change, and/or rate of rejections due to the CB.  I pretty much came up empty but perhaps I'm not looking in the right place.  Using the [circuit breaking example](https://istio.io/docs/tasks/traffic-management/circuit-breaking/) I flooded

[2019-03-01 15:53] rshriram commented on #12162
The setup where this ran, how many services in total (not ones with sidecars, but how many total services), and any disclosable info about the virtual service, protocols used by these services (redis?/mongo?/mysql?) would be very helpful.

I have narrowed down the issue down to one commit https://github.com/envoyproxy/envoy/pull/5435 and corresponding https://github.com/istio/istio/pull/11419 - wh

[2019-03-01 16:01] sdake commented on #12015
@xianke9 this is user error:

You are specifying the following
[code]

From `values.yaml`, (the current canonical documentation):
[code]
This problem would occur during install as well as upgrade.

I recognize the error is vague and doesn't explain this problem.  This is a limitation of the underlying technology in use (Helm).  We are correcting this problem in later versions of Istio by validatin

[2019-03-01 16:06] sdake commented on #11990
will take a look today.

[2019-03-01 16:07] sdake commented on #11990
@harpratap thanks for doing the legwork of finding the offending patch.

Cheers
-steve

[2019-03-01 16:13] frankbu commented on #12058
In that case, it looks like a `kubectl` bug, and the bug is different in different versions. I'll just change it to use the longer command to work around the bug.
[code]

[2019-03-01 16:35] dwradcliffe commented on #12162
`docker.io/rshriram/pilot:1.1-rc0-structonly-2` did not seem to help. Same behavior at the beginning.

I should mention that in all these tests it seems that a single pilot pod restarting (I have 2 running) causes the proxies to fail in such a way that they stop handing traffic and return 503s/failures. I'm not sure if this is related or if this is different bug. I planned on gathering more detail

[2019-03-01 16:39] rshriram commented on #12162
We are aware of this issue for sure. but thanks for reporting. we have another data point for this issue.. (cc @costinm / @hzxuzhonghu / @mandarjog / @duderino ). Lets discuss this in https://github.com/istio/istio/issues/12117, where @morvencao observed same behavior. Lets keep this issue focussed on the spikes.

[2019-03-01 16:43] tiswanso commented on #12037
The PR #11877 is needed for the fixes to the istio-cni prow test to work with the new helm install scheme (istio helm chart removed all the istio-cni dependency).

[2019-03-01 16:45] #11961 closed

[2019-03-01 16:48] uk000 commented on #12170
@rshriram yes indeed

[2019-03-01 16:52] dwradcliffe commented on #12117
I'm observing this repeatably on nearly every pilot pod restart. I can provide some details/tests/logs if that would help.

[2019-03-01 17:01] sidd-harth commented on #10311
Hi @FlyRabit , I am having the same issue and I have added the rule. Still galley is not running.
I closed /deleted the setup. But I remember the error was something about /healthz endpoint.

Do you have any pointers?
I also tried increasing the time to 10secs for liveliness and readiness.

[2019-03-01 17:04] ayj commented on #10311
@sidd-harth - can you provide logs and "kubectl describe" output of the galley pod when the failure occurs?

[2019-03-01 17:21] Stono opened #12183 "Info: Everything we do on 1.0.6 to minimise 503s"
I've had several chats with people recently so I'm putting there here to capture everything we do on 1.0.6 to deal with 503's, and then people can tell me what shouldn't be required as of 1.1.x.

The combination of all these things we see little 503's in the mesh, and basically none at the edge.

On the `VirtualService` for every service, we configure the envoy retry headers:
[code]

On the Destin

[2019-03-01 17:30] duderino commented on #9113
At first glance, this looks like a good usecase for the new retry stuff  https://github.com/istio/istio/pull/10566

[2019-03-01 17:36] sidd-harth commented on #10311
@ayj
Pod logs from Openshift webconsole, do you also want to check the ValidatingWebhookConfiguration yaml?

[code]

Liveness and Readiness probes are failing: fail on inspecting path /health: stat /health: no such file or directory
[code]

[2019-03-01 17:41] Stono commented on #9113
FYI: https://github.com/istio/istio/issues/12183

[2019-03-01 17:50] drichelson commented on #11984
Based on feedback here and in the intial PRs I propose moving forward as follows:

1. Closing existing PRs as they target release-1.1
1. Open new PR in api repo that contains:
 - In ProxyConfig: a new `repeated string` field allowing configuration of certs to watch (see closed api PR)
 - In MeshConfig either 3 new string fields or one new struct containing cert locations for mesh traffic to be use

[2019-03-01 17:54] drichelson commented on #11984
@myidpt I like the idea of a shared config struct used by PIlot and Pilot-agent, but I'm not seeing one. It looks like Pilot uses MeshConfig and PIlot-agent uses ProxyConfig. Additionally, there is a bit of a mismatch between what those 2 configs might look like: For PIlot we want to specify server certs for mesh traffic only, as we specify client certs in the DestinationRules. For Pilot-agent's w

[2019-03-01 17:59] douglas-reid commented on #12015
@sdake we left it in so that those that wished to use a statsd exporter (of their own deploying) could still.

[2019-03-01 18:01] ayj commented on #10311
This is key. Galley cannot not write it's health status to the `/health` file, thus k8s never marks the pod as ready. Do any of the other Istio pods have a similar problem, e.g. mixer writes its health to `/version`?

I see `openshift.io/scc=restricted`in the deployment annotations. That might be limiting permissions to write files, in which case I would suspect to see Mixer have a similar problem

[2019-03-01 18:09] sidd-harth commented on #10311
I guess I need to add something similar to this,
`oc adm policy add-scc-to-user anyuid -z istio-sidecar-injector-service-account -n istio-system`

something like,
`oc adm policy add-scc-to-user anyuid -z istio-galley-service-account -n istio-system`

let me try and update here.

[2019-03-01 18:18] monkeymorgan commented on #11977
I see there is work underway to add [--appNamespaces param to pilot](https://github.com/istio/istio/pull/11932) and [--listened-namespaces to citadel](https://github.com/istio/istio/pull/11667/files) which would mean all that is then required to complete this issue would be to update the RBAC generation in the charts to use Roles for tenant resources and a RoleBinding pre tenant based on the new c

[2019-03-01 18:26] monkeymorgan commented on #11415
I imagine that the new plural option (https://github.com/istio/istio/pull/11932) and [--listened-namespaces in citadel] could be used in the citadel chart to generate a more minimal (ie. Role based) RBAC config more suited to multi tenant clusters.

It's a blocking issue for adoption where I work as we need a 1 istio:many (but not all) NS deployment model, and part of it issue relates to trust and

[2019-03-01 18:28] howardjohn commented on #12108
Do we even want to just drop it to `warning`? If there is no problem with having no serviceaccount, as some of the kube-system pods don't, then is there any reason to even log it at all? It seems to work just fine with a uri like `spiffe://cluster.local/ns/kube-system/sa/`

[2019-03-01 18:32] bianpengyuan commented on #11972
@gbaufake Any updates?

[2019-03-01 18:33] wattli opened #12185 "Citadel constantly refreshes cert"
**Describe the bug**
Citadel constantly refreshes cert in every minute

**Expected behavior**
Only refresh before cert is to expire.

**Steps to reproduce the bug**
Deploy istio-demo.yaml

**Version**
istio-1.1.0-rc.0

[lita@lita istio]$ k logs istio-citadel-77669bc49d-x5lxq -n istio-system | grep default/istio.default
2019-03-01T18:15:47.635257Z	info	Refreshing secret default/istio.default, eithe

[2019-03-01 19:17] wattli commented on #12185
This was a silly setup issue, i accidentally had multiple citadels running on different namespaces.

[2019-03-01 19:17] #12185 closed

[2019-03-01 19:20] cyx commented on #10916
@quanjielin was trying to get this all working but got blocked on the helm install step. It's probably related to me trying it on master instead of a released version?

I haven't seen in the PRs how the new interaction comes into play. Is it still the same that we'd store secrets via the kube API as a regular secret, and things will get picked up and threaded through automatically to SDS (but with

[2019-03-01 19:33] quanjielin commented on #10916
@cyx try 1.1 build https://github.com/istio/istio/releases/tag/1.1.0-rc.1.
secret mount is disabled when sds is enabled see https://github.com/istio/istio/pull/10684

[2019-03-01 19:49] myidpt commented on #12185
Cool. Thanks for the update.

[2019-03-01 19:52] duderino commented on #12119
@ymesika why did you close this?  duplicate of something else?

[2019-03-01 19:57] duderino commented on #12119
I see, PR merged, sorry

[2019-03-01 19:57] #12119 closed

[2019-03-01 20:12] vcanaa opened #12187 "Istio proxy sidecar interferes with Kubernetes API calls for the first seconds."
**Describe the bug**
I am facing the same problem as this #8696.

The command `kubectl get all` fails, when run by a container that has istio-proxy sidecar in the same pod. I got the message from the logs:
[code]
However, running the same command after getting a terminal to the container works:
[code]

Why would istio-proxy block kubectl API in a normal context and let it through when we run a com

[2019-03-01 20:39] duderino commented on #12117
I'm assigning to Mandar since he's hot on the trail of this, though there may be multiple problems here that we will have to farm out to others.

Also, I'd very much like to know:  is this a new issue for 1.1?   My hunch is that 1.0.x has it too.

[2019-03-01 21:14] philrud commented on #12066
Here's what I found so far: the DestinationRule works if it's moved to the namespace where ingress gateway resides. This is likely a regression introduced by "exported destination rules" functionality (first part of which was introduced in 1.1). I'm investigating if there's a low-risk fix for this that could still make it into 1.1.

[2019-03-01 21:17] robertpanzer commented on #12066
:+1:
Do you think this only affects the ingress gateway?
Or does that mean that I have to also create the DestinationRule in all other namespaces where another „mesh“ gateway consumer lives.

[2019-03-01 21:23] linsun commented on #12187
this doesn't look like an istio prob.  should this be submitted elsewhere?

[2019-03-01 21:25] linsun commented on #12187
or are you saying the block to kubectl only happens when exec into a pod that has envoy sidecar?

[2019-03-01 21:28] alexh-sauce opened #12190 "release-1.0 branch refers to missing go-control-plane branch"
The `revert_grpc_version_update` branch was deleted from the go-control-plane repo, so `dep` can't download the dependencies: https://github.com/istio/istio/blob/release-1.0/Gopkg.toml#L115-L117

Only master exists here: https://github.com/envoyproxy/go-control-plane/branches

This was fixed in Istio master: https://github.com/istio/istio/issues/7985

[2019-03-01 21:28] linsun commented on #12187
just realized you are using 1.0.6.  In 1.0.6, all outbound traffic out of the cluster is disabled by default.   Is your k8s API server considered part of the cluster or not?  if not, you will need service entry and virtual service bound to it too.

[2019-03-01 21:35] duderino commented on #11868
hmmmm, the last nightly doesn't have this fix yet:  https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.1-20190301-09-16/

@utka I wonder if it's time for rc2?

[2019-03-01 21:39] duderino commented on #11951
@sdake I wonder if this should be reassigned to you to send a doc PR?   Got the bandwidth?

[2019-03-01 21:40] duderino commented on #11954
@utka second reason for rc2

[2019-03-01 21:42] douglas-reid commented on #11696
@Stono is it possible to (perhaps offline) share the app you are using to eliminate differences in behavior between our two setups?

[2019-03-01 21:43] duderino commented on #11990
@linsun @ostromart @sdake if we have a forced choice of pod disruption budget vs. helm downgrade, which one should we throw under the bus?

[2019-03-01 21:45] duderino commented on #12020
thanks @sdake

[2019-03-01 21:45] #12020 closed

[2019-03-01 21:49] duderino commented on #10500
@philrud is going to send a PR against the docs to get his wiki page added

[2019-03-01 21:50] duderino commented on #12066
@philrud nice progress

[2019-03-01 21:51] wattli commented on #11669
I don't see the flakiness any more.

[2019-03-01 21:51] #11669 closed

[2019-03-01 21:52] wattli commented on #4429
@incfly , can we mark this as fixed?

[2019-03-01 21:53] wattli commented on #2120
It's ready to use https://preliminary.istio.io/docs/tasks/security/auth-sds/ for service-to-service communication.

[2019-03-01 21:59] duderino commented on #10360
Actually, I'm wondering if P1 was the right priority?   I'd like to keep it as P0 because the squeaky wheel gets the grease, but I think this is really optional for 1.1 because it's not a regression.   We are working on it and if we can't get it into 1.1 then we'll get it into a 1.1.x patch release.

[2019-03-01 22:01] duderino commented on #9113
@knrc has a PR out for this and should be added to the assignees once he's inducted into the github org

[2019-03-01 22:02] mandarjog commented on #12117
We are investigating if this is related to pilot readiness. There is a small possibility that pilot is responding before the k8s cache has synced.

[2019-03-01 22:03] duderino commented on #9113
@knrc's PR https://github.com/istio/istio/pull/12188

[2019-03-01 22:04] duderino commented on #9113
For anyone who has this issue for 1.0, please look at @Stono's tips at https://github.com/istio/istio/issues/12183

[2019-03-01 22:07] utka commented on #11868
on it

[2019-03-01 22:11] incfly commented on #4429
https://github.com/istio/istio/issues/9150 covers k8s prober for liveness and readiness health check, which I is this umbrella bug about mostly.

However when I read the bug more closely, it seems like we would like to include more than that:

Also I didn't follow through each individual bug listed in the description. Defer to @ayj to clarify the scope, to see if this bug has more stuff to do beyo

[2019-03-01 22:14] nmittler commented on #9113
@duderino I'm not sure this should be assigned to me ... I'm OOO next week.

[2019-03-01 22:25] ayj commented on #4429
/assign @duderino for final triage

[2019-03-01 22:38] wailua commented on #10819
I have a similar issue. My **jwksUri** for **jwks.json** is located within the cluster for example at
`http://<service>.<namespace>/api/jwks.json`. With mTLS enabled, istio-proxy is currently not able to fetch this file. Using mTLS permissive mode for the service hosting **jwks.json** is working, but as @dicarlo2 noted not a secure solution.

[2019-03-01 22:38] duderino commented on #11937
@silentdai @PiotrSikora I think we need to set this back to P0.   We need to understand the relationship between what @robertpanzer is trying to do and Envoy's memory usage.   It's possible that we need to recommend an increased memory limit, but there should be a good explanation for why this is necessary.

[2019-03-01 22:43] howardjohn opened #12193 "Sidecar resources silently failing on invalid config"
**Describe the bug**
Create a Sidecar:

[code]

And the Sidecar resource is silently rejected... or something happens to it. Either way it is not used. https://github.com/istio/istio/blob/da8d99904b80853b8b4757ba8096ac2f262da8a3/pilot/pkg/model/push_context.go#L792 shows an empty list. Removing the "other/productpage" line causes it to be accepted.

**Expected behavior**
If "other/productpage" is

[2019-03-01 22:46] howardjohn commented on #12193
Possibly related to https://github.com/istio/istio/issues/11762

[2019-03-01 23:16] GregHanson opened #12196 "mTLS example from docs broken: bug with cert updates"
**Describe the bug**
Following the TLS and mTLS portions of the docs here: https://preliminary.istio.io/docs/tasks/traffic-management/secure-ingress/#configure-a-mutual-tls-ingress-gateway

For mTLS, after creating the new secret and updating the Gateway rule, no changes are pushed to the ingress gateway.  The additional cert file has been mounted to as show by
[code]
There are no failed LDS updat

[2019-03-01 23:19] CoryARamirez opened #12197 "Ansible Playbook Installation Fails in Python Error: The error was: Version comparison: LooseVersion instance has no attribute 'version'"
**Describe the bug**
Running the Ansible playbook results in the below error despite the Kubernetes version being compatible.

`fatal: [localhost]: FAILED! => {"msg": "The conditional check 'vo.stdout is version_compare(minimum_cluster_version,'>=')' failed. The error was: Version comparison: LooseVersion instance has no attribute 'version'"}`

**Expected behavior**
Given the below output:

`[host

[2019-03-01 23:22] howardjohn opened #12198 "DestinationRules don't follow Sidecar scope isolation"
**Describe the bug**
Apply config here - https://github.com/istio/tools/pull/75

We have a Sidecar exposing only `istio-system/*` and `withsidecar/*`. However, the reviews DestinationRule from the `default` namespace is used.

**Expected behavior**
DestinationRules should respect the Sidecar scope. In this case, no DestinationRule should be used for the reviews service, unless we add it to the Sid

[2019-03-01 23:26] wattli commented on #12024
It's actually an issue, Phillip will work on a fix, thanks Phillip!

[2019-03-01 23:32] JimmyCYJ commented on #11686
The user guide [PR](https://github.com/istio/istio.io/pull/3224) is merged. I am closing this issue. Thanks.

[2019-03-01 23:32] #11686 closed

[2019-03-01 23:32] ldemailly commented on #9113
We shouldn't need retry for when no pod is going down. Also retries wouldn't work for POST.

[2019-03-01 23:33] silentdai commented on #11937
It's only 1 step away from merging [this PR](https://github.com/envoyproxy/envoy/pull/6075) in the upstream envoy and back port to istio/envoy. Once we have that it's should be easy to determine which path eats up the memory

[2019-03-02 00:00] costinm commented on #9113
Retries do work for POST - that's what 100 continue is for. They don't work after the body is sent, but in this case ( TCP closed ) they work very well, all browsers do this.

My test
[code]

Note the 2 timestamps (02:23, 04:18)

The attached tcpdump

[code]

There are 2 RST around the time, and if you follow the stream you see that both TCP connections
end with envoy sending the request.

All oth

[2019-03-02 00:25] vcanaa commented on #12187
No. The block happens in the normal execution of the pod.

It only works when I get a shell with `kubectl exec` and run kubectl from there.

The k8s API runs inside the cluster, so I believe it is part of it. The IP address in the error (10.3.240.1) is the clusterIP, should Istio block that as well?
But even if that is considered an egress, it doesn't explain why it works if we get a shell to the

[2019-03-02 00:47] duderino commented on #12198
Note that version number was most likely 1.1rc1.  rc2 is not out yet

[2019-03-02 00:48] howardjohn commented on #12198
Hopefully this isn't present in rc2 as well then

[2019-03-02 01:10] ashutoshgngwr opened #12200 "telemetry-gateway chart is installed if default ingress gateway is disabled"
**Describe the bug**
I am not sure if this is Istio's expected behaviour but `telemetry-gateway` sub-chart is installed after disabling default ingress gateway in chart values. Although this is doesn't have any visible effects, I think it shouldn't be installed if default ingress gateway is disabled.

**Expected behavior**
`telemetry-gateway` sub-chart should not be installed if default ingress ga

[2019-03-02 01:11] costinm commented on #12170
I'll try to repro, thanks for the details.

[2019-03-02 01:17] mandarjog commented on #12117
@dwradcliffe if you can enable DEBUG on one of istio-proxies and give us a log from that proxy  during pilot restart that would be great. Thanks.

[2019-03-02 05:38] hzxuzhonghu commented on #12170
I found the root cause, @rshriram I think this is related to the destinationrule match policy fix.

And the gateway proxy selected destinationrule  `default` in namespace `istio-system`

[code]

[2019-03-02 05:39] hzxuzhonghu commented on #12170
host: '*.local'   so it is matched.

[2019-03-02 05:41] hzxuzhonghu commented on #12170
[code]

Destinationrule in istio-system namespace is matched in first order. So destinationrule created for the tcp service is not used.

[2019-03-02 06:25] sdake commented on #11990
here was my workflow:
[code]

[2019-03-02 06:26] sdake commented on #11990
@duderino UPGRADE > Downgrade > pdb

[2019-03-02 06:27] sdake commented on #11990
Note these problems only affect the `helm install/upgrade` paths, but do not affect the `helm template/kubectl apply` paths.

[2019-03-02 06:28] sdake commented on #11990
@howardjohn helm has a specific rollback command `helm rollback` which should in theory rollback from 1.1.0.rc1 to 1.0.6.

[2019-03-02 06:29] sdake commented on #11990
Note it appears upgrade is DOA: https://github.com/istio/istio/issues/11990#issuecomment-468890884

This was a fresh kubernetes cluster.  This problem may not exist on a cluster that has been through reuse.

[2019-03-02 06:42] sdake commented on #11990
I reinitialized my cluster including helm, and had the same results. mtls was removed from 1.1-rc1 (or earlier) as a default.  Helm does not handle the removal of configmaps or custom resources particularly well.

Note kubectl apply paths work well in any condition.

Cheers
-steve

[2019-03-02 06:47] sdake commented on #11990
My initial off-the-cuff recommendations without personally testing them:
1. revert the change that removed mtls.  With the new installer, I am hopeful it will be possible to deprecate automated MTLS configuration in 1.2.
1. after this problem is fixed, I suspect we will run into problems with pod disruption budgets.  I would then revert these changes.
1. after this problem is fixed, I am hopeful u

[2019-03-02 06:53] sdake commented on #11990
@harpratap just an FYI, the Istio project does not support upgrading from an arbitrary snapshot or release candidate to a different arbitrary release candidate.  The only thing we support is 1.0.6->1.1.0 (when it is released).

Cheers
-steve

[2019-03-02 06:54] vadimeisenbergibm opened #12204 "Enable dynamic update of access log parameters in istio configmap"
Once such a parameter is changed - pilot should detect it and resend configurations to the proxies.

[2019-03-02 07:16] sdake commented on #11990
i was able to reproduce this issue with current tip of release-1.1 (including https://github.com/istio/istio/pull/12177).  Headed to bed - will sort out the revert chain this weekend to get to a functional upgrade.

Cheers
-steve

[2019-03-02 07:19] sdake commented on #11868
@linsun not sure why we would support downgrade using `helm upgrade` when there is a `helm rollback` operation.

I am more concerned with the automated MTLS configuration removal that has broken upgrade.  I am not sure how to fix this problem without a revert.  @morvencao any ideas?

Cheers
-steve

[2019-03-02 09:33] stefanprodan commented on #12183
How do you add the pre-stop hook to Envoy? Can it be done in the injection webhook config?

[2019-03-02 10:08] morvencao commented on #11868
@sdake Do you mean this issue: https://github.com/istio/istio/issues/12154?

[2019-03-02 10:22] Stono commented on #12183
Yeah I build a custom image for the sidecar with the pre stop script in it,
and then I modify the injector template to have the preStop hook

On Sat, 2 Mar 2019, 9:33 am Stefan Prodan, <notifications@github.com> wrote:

[2019-03-02 10:57] Stocco commented on #12183
Hello @Stono thanks for the info. We are afraid of adding the retry policy in all services because of the worries if the apps will handle duplicate transactions in case of envoy sending the request again for whatever reason he wants to.
However, in istio 1.0.5 we are not seeing 503' anymore as we were seeing on versions <= 1.0.2 we only have 503/404 errors when pilot starts to have problems.
 Now

[2019-03-02 11:02] Stono commented on #12183
Hey the retry I use is only for gateway unavailable etc, a real transaction
should not get through (which is why I specify the criteria explicitly).

The outlier detection is envoys circuit breaker.  We found when a pod was
going down, upstream envoys would still try and send traffic to it until
they got updated mesh config, the circuit breaker for us quickly excluded
those terminating pods (rathe

[2019-03-02 15:21] sdake commented on #12154
@morvencao I did some preliminary investigation in this issue: https://github.com/istio/istio/issues/11990#issuecomment-468891090

[2019-03-02 15:27] sdake commented on #11868
yes I was jammed up behind that in https://github.com/istio/istio/issues/11990#issuecomment-468891090.

Cheers
-steve

[2019-03-02 16:28] rshriram commented on #12170
I just noticed @uk000 that your virtual service is incorrect. You are specifying the gateway without a namesapce
[code]

this will default to the namespace of the VS but your gateway is in a different namespace (istio-system)

[2019-03-02 17:34] costinm commented on #12117
Shriram PR should fix most of the inconsistent state and missing endpoints while starting.

We still need to:
-  check the exponential backoff and max delay on reconnect on envoy side ( Mandar found delays in recovering after pilot is in good state)
- document and make configurable the circuit breakers on pilot side
- merge the PR to allow selective namespace watching - seems safe, off by default,

[2019-03-02 20:54] sdake commented on #11990
This fixes part of the problem https://github.com/istio/istio/issues/11868.  Will test that PR and see if it fixes all of the problems.  nice work @morvencao for sorting that one out.

Cheers
-steve

[2019-03-03 01:15] #4026 closed

[2019-03-03 01:22] esnible commented on #11700
I created a test PR to see if the 503 was appearing at the beginning.  It is not.  It appears in the middle:

The test got 451 200s, then a 503, then 48 200s.

https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12207/istio-pilot-e2e-envoyv2-v1alpha3/16225

Here is the failure from https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/12207/istio-pilot-e2e-env

[2019-03-03 02:07] uk000 commented on #12170
@rshriram I guess I wrote up those sample virtualservice yaml in the bug description in a hurry, but indeed I see the issue when using the full fqdn for gateway.
Ingress starts routing as soon as one of the two changes are made: either disable mTLS in the cluster, or change VirtualsService to not use weighted routing.
Interestingly, the ingress routing doesn't work if you just switch to PERMISSIVE

[2019-03-03 08:41] philrud commented on #12066
@robertpanzer this will only affect proxies/services that reside in istio-system (or whatever namespace was used for Istio components during installation), so assuming typical installation this will affect the gateway, but not the services within the mesh (considering they're outside of istio-system ns).

The cause is the [changeset from around a month ago](https://github.com/istio/istio/commit/09

[2019-03-03 10:17] elevran commented on #11977
Left a comment on #11146 - not sure command line is a good option when we want to allow gradual adoption. Adding new namespace would require restart of Pilot, Citadel, etc.
With respect to multi-tenancy, I suspect Istio admins (access to `istio-system`) are different than namespace admins and ns admin would not have access to restart Istio control plane components.
A possible flow would be to allo

[2019-03-03 10:19] morvencao commented on #11977
/cc

[2019-03-03 10:24] elevran commented on #11415
@monkeymorgan:
Are you looking to enable gradual adoption or is it fixed at installation time?
I would imagine that RBAC roles can't be fixed at helm chart deployment, if you'd like to add new namespaces to Istio's control over time.

[2019-03-03 10:48] morvencao commented on #11990
@ostromart  @linsun I have tried helm upgrade/rollback locally for several times, just blocked by https://github.com/istio/istio/issues/12154 but never encountered issue like this
[code]
Any detailed reproduced steps for this.

And `PodDisruptionBudget` is introduced in Istio 1.1, `helm/tiller` is supposed to handle the new added resources.

@sdake As I mentioned in https://github.com/istio/istio/

[2019-03-03 10:58] morvencao commented on #12117
@mandarjog @rshriram Because this issue is found in customer's environment and due to the security policy they can't provide all envoy and pilot logs, except some snapshots.

But the issue can be reproduced, I would love to test the scenario and provide more debug information next week.

[2019-03-03 14:02] elevran commented on #11415
@monkeymorgan:
Are you looking to enable gradual adoption or is it fixed at installation time?
I would imagine that RBAC roles can't be fixed at helm chart deployment, if you'd like to add new namespaces to Istio's control over time.

[2019-03-03 14:05] Excited-ccccly commented on #11262
Hi, @ronakpandya7

You can use `istioctl proxy-status` to check if envoy sidecar is out of sync from pilot.

More Docs can been found at [Debugging Envoy and Pilot](https://istio.io/help/ops/traffic-management/proxy-cmd/)

If it is True, you have to restart pilot. In my practice, a pilot instance is not enough, you have to scale up pilot to more replics to ensure sidecar and pilot are in sync.

[2019-03-03 15:40] elevran commented on #11977
I'd like to propose we support this using the following logic, across all control plane components.
Mesh global can be overridden by namespace which can be overridden per object (e.g., Pod for injector and/or Pilot, service account for Citadel).
This means that control plane need to access the global config map and  watch/query namespaces as well. This can be encapsulated at the `pkg/kube` level f

[2019-03-03 16:25] howardjohn commented on #12066
@philrud Before we mentioned adding a Sidecar config would workaround this. Based on what you said I think it still should if it's in the Istio namespace. Not sure without testing, the code is somewhat complex. I am working on a similar issue, we should add some testing so we don't run into these issues anymore

[2019-03-03 16:33] dkrieger commented on #8615
Is it accurate to say that, per the example provided, this breakdown of namespace isolation only occurs when the "foreign" service's cluster FQDN is used? If so, I don't see how this actually violates kubernetes namespace "isolation", which AFAIK isolates short domain names by namespace, but allows communicating with services across namespaces using the cluster FQDN. Likewise, the "foreign" gatewa

[2019-03-03 17:28] sdake commented on #11990
@morvencao Once your PR merges, I will test upgrade/rollback.  If all is good, all is good :)

The PDB thiing happens after two upgrades without that patch.  This is the wrong way to upgrade - as the deployment is in a failed state.

Cheers
-steve

[2019-03-03 17:30] sdake commented on #11990
@morvencao above was my workflow without PR https://github.com/istio/istio/issues/12154 that produced the PDB problem.  This is a non-problem because if a deployment of istio fails to upgrade, I think the whole thing is pretty much cratered.

[2019-03-03 17:31] sdake commented on #11990
@duderino the TLDR is merge https://github.com/istio/istio/issues/12154 - and we think all is good with upgrade/rollback with Helm+Tiller.  With helm template+kubectl apply - everything works gloriously as is.

Cheers
-steve

[2019-03-03 17:34] sdake commented on #11990
I see https://github.com/istio/istio/pull/12177 has merged, will test upgrade/rollback from tip of release-1.1.

Cheers
-steve

[2019-03-03 18:49] voor commented on #6070
/remove stale

[2019-03-03 19:32] liggitt opened #12211 "Migrate manifests from {extensions/v1beta1,apps/v1beta1,apps/v1beta2} to apps/v1"
**Describe the feature request**

There are ~165 manifests in the repo using deprecated versions of DaemonSets, Deployments, ReplicaSets, and StatefulSets (in extensions/v1beta1, apps/v1beta1, or apps/v1beta2).

These resources have been deprecated since k8s v1.9 and are planned to no longer be served starting in k8s v1.16 (c.f. https://github.com/kubernetes/kubernetes/issues/43214).

All supporte

[2019-03-03 19:36] sdake commented on #11990
All prior commentary is wrong.  https://github.com/istio/istio/pull/12173 may fix the upgrade/downgrade paths however, it has not yet merged.

[2019-03-03 20:34] sdake commented on #8741
@wattli I will look into it today.  My network has been busted - and I am just getting up and operational.

Cheers
-steve

[2019-03-03 21:10] sdake commented on #8741
@wattli I think this bug is no longer valid.  Closing.

[2019-03-03 21:10] #8741 closed

[2019-03-03 21:22] mandarjog commented on #11247
Closing since https://github.com/istio/istio/pull/12114 is merged.

[2019-03-03 21:22] #11247 closed

[2019-03-03 21:36] mandarjog commented on #12117
@morvencao you can use the following pilot image to try it out. `gcr.io/istio-testing/pilot:70b6cdbd2644d307f9f53688a7312a1f89686d14`

[2019-03-03 22:11] ldemailly commented on #10685
@mandarjog try the same for fortio-daily (fortio-stage is the name in gcloud console) which is down this time ?

[2019-03-03 22:15] mandarjog commented on #10685
Yes I just restarted everything and no change. Need to debug more, I would prefer just getting a fresh 1.1 now and starting from there.

[2019-03-03 22:34] sdake commented on #12121
@thomschke thanks for finding this problem.  I've been chasing after this for a week!

[2019-03-03 22:35] sdake commented on #12005
duplicate of https://github.com/istio/istio/issues/12121.  Verified the solution and closing.

[2019-03-03 22:35] #12005 closed

[2019-03-03 22:36] sdake commented on #12157
I have verified tip of release-1.1 fixes the problem.  Thanks @rshriram !!

[2019-03-04 00:13] tbarrella commented on #11571
I'm also encountering this issue, even when using istio-cni, which avoids needing `proxy_init` and thus the `NET_ADMIN` privilege, and with `proxy.privileged: false` in the Helm chart values. This is surprising to me because the `securityContext` doesn't seem to need privilege escalation:
[code]
I found issue https://github.com/kubernetes/kubernetes/issues/65716, which suggests that this could be

[2019-03-04 00:30] duderino commented on #11868
@zhqworld @ostromart @morvencao @linsun @sdake please try https://github.com/istio/istio/releases/tag/1.1.0-rc.2

[2019-03-04 01:48] clyang82 commented on #11415
@elevran & @monkeymorgan this PR #11667 was merged to release 1.1. so the `--listened-namespaces` is available for `citadel` right now.

[2019-03-04 01:56] hzxuzhonghu commented on #10230
I think this is resolved, if any other issue, feel free to open another one.

[2019-03-04 01:56] #10230 closed

[2019-03-04 02:01] irisdingbj commented on #12086
Fixed

[2019-03-04 02:01] #12086 closed

[2019-03-04 02:18] clyang82 commented on #11415
I think another point for this issue is how to allow adding a new namespace without restart the citadel. currently, only adding this capability from the command line. that means add a new namespace requires to restart the citadel. that is a problem in real production. Consider that add a new namespace is a frequent operation in a real production. so hot load is a required feature. @elevran 's poin

[2019-03-04 02:21] clyang82 commented on #11977
/cc

[2019-03-04 02:25] morvencao commented on #11868
@duderino I think we need https://github.com/istio/istio/pull/12173 merged before verifying this. Or we will get the follow error with `helm upgrade`
[code]

And after patch the fix in https://github.com/istio/istio/pull/12173, the `helm upgrade/rollback` is smooth AND old `policy` and `telemetry` pods killed after new ones start running:
[code]

[2019-03-04 02:31] morvencao commented on #11990
@sdake See my verify results: https://github.com/istio/istio/issues/11868#issuecomment-469096645 Hopefully we can merged https://github.com/istio/istio/pull/12173 ASAP.

[2019-03-04 03:33] alexburnos commented on #11336
Sorry, was away. Yes, I think we can close it for current implementation to keep issues hygiene high.

[2019-03-04 03:33] #11336 closed

[2019-03-04 03:36] clyang82 opened #12215 "1.0.3 to 1.1 upgrade failed - unknown field "exportTo" in v1alpha3.DestinationRule"
**Describe the bug**
Upgrade istio from 1.0.3 to 1.1 by using `kubectl apply -xxx`. Here is an exception thrown:

[code]

We can see that "exportTo" is new introduced. during the upgrade, the `ValidatingWebhookConfiguration` is there and takes effect as usual. due to the new galley instance is not started yet so that the old versioned galley is stilling serving. that is why the exception throws I

[2019-03-04 04:15] hzxuzhonghu commented on #12211
Thanks @liggitt , should upgrade to apps/v1 in 1.2

/assign

[2019-03-04 04:17] hzxuzhonghu commented on #12181
I think mostly from envoy,  could add a dns cache in envoy?

[2019-03-04 04:22] hzxuzhonghu commented on #12193
In the eyses of validator, `other/productpage` is a valid setting.

[2019-03-04 04:47] hemeda3 commented on #10213
I've managed to solve it also by deleting the Job

 $helm delete --purge istio
$kubectl delete  job istio-security-post-install -n istio-system

[2019-03-04 05:25] sdake commented on #12081
step 5 in the preliminary docs is incorrect.

try `helm install istio.io/istio --name istio --namespace istio-system`

Cheers
-steve

[2019-03-04 05:27] sdake commented on #12081
Why would this step be needed?

What does it do?

Cheers
-steve

[2019-03-04 06:41] jsPlachetka commented on #12058
Great! Thank you.

[2019-03-04 07:29] #12081 closed

[2019-03-04 07:56] hzxuzhonghu commented on #12215
/cc @rshriram

[2019-03-04 08:01] hzxuzhonghu commented on #12215
Which rule configuration has default exportTo field set?

[2019-03-04 08:43] shinynz opened #12220 "Why can't serviceentry hosts use IP addresses and * wildcards for version 1.1"
![image](https://user-images.githubusercontent.com/15795798/53720767-7decc500-3e9c-11e9-8d8b-71930461ac2f.png)

![image](https://user-images.githubusercontent.com/15795798/53720838-ad033680-3e9c-11e9-8f64-cc3ebeefa3da.png)

[2019-03-04 11:13] hzxuzhonghu commented on #12220
hosts is not addresses,
[code]

for tcp service, you can not set host

[2019-03-04 11:32] ymesika commented on #12220
@hzxuzhonghu
It's a bit confusing indeed as the `hosts` field is required.

[2019-03-04 12:37] monkeymorgan commented on #11415
@elevran
We're looking for gradual adoption. It could be years before istio becomes a cluster wide service owned and operated by a central team, if that ever even happens. In the interim the key is there is safe controls over the reach and impact of istio on non tenants. In our case, each time we accept a new NS we'd be happy to both label that NS to opt-in and to generate RBAC config to allow ist

[2019-03-04 12:38] tshak commented on #7659
This is a serious bug that's easy to repro but hard to debug if you aren't aware of how [traffic management applies rules based on port names](https://github.com/istio/istio.io/blob/master/content/help/faq/traffic-management/naming-port-convention.md) in a service. This is not an issue with the example but an issue with how traffic management affects egress rules. @owenhaynes  I recommend changing

[2019-03-04 12:47] monkeymorgan commented on #11977
I left a comment on the [citadel ns list issue](https://github.com/istio/istio/issues/11415#issuecomment-469237803) which in retrospect I should have posted to this thread.  The summary was: for gradual adoption we're ok with NS labels but it would be useful if
1. the control plane was also specified so that multiple could exist per cluster e.g. :
[code]
2. The RBAC was still required per NS to op

[2019-03-04 13:28] michaelkipper commented on #12181
@hzxuzhonghu: Is that something Istio controls via the xds config?
Or is it something we have to enable manually?

[2019-03-04 14:24] Kajvdh opened #12222 "Why can't a VirtualService route based on prefix in case of HTTPS?"
I am trying to route a request using an Istio Ingress Gateway.
In case of HTTP, this was easy since I could use the `http.match.uri.prefix` property in my `VirtualService`:
[code]
This works perfectly, however, the upstream service that the ingress has to route the request to is using HTTPS, so instead of using a `http` block, I now need to use `tls` block:

[code]

But, apparantly it is not possi

[2019-03-04 14:34] #11891 closed

[2019-03-04 14:34] wenchenglu commented on #12024
@pitlv2109
any update on this one?

[2019-03-04 14:36] wenchenglu commented on #12037
@tiswanso
looks like https://github.com/istio/istio/pull/11877 has been merged. Can this issue be closed now or still some pending work?

[2019-03-04 14:38] wenchenglu commented on #11736
@mandarjog
any update on this issue?

[2019-03-04 14:45] wenchenglu commented on #11964
@mandarjog
any update on this issue?

[2019-03-04 14:54] mandarjog commented on #11736
Fixed by #12114

[2019-03-04 14:54] #11736 closed

[2019-03-04 14:56] clyang82 commented on #12215
append the istio-upgrade.yaml which is using for upgrade. [istio-upgrade.yaml.log](https://github.com/istio/istio/files/2926837/istio-upgrade.yaml.log)
BTW, the original 1.0.3 was installed by using ./install/kubernetes/helm/istio/values-istio-gateways.yaml

[2019-03-04 15:01] vadimeisenbergibm opened #12224 "Gateway-connectivity: Use the standard port 443 instead of port 15443 to facilitate working with firewalls and setup instructions"

[2019-03-04 15:07] esnible commented on #11700
Could the 503s be related to https://github.com/istio/istio/issues/12183 ?

[2019-03-04 15:24] morvencao commented on #11181
@elevran
Have tested the `keepaliveMaxServerConnectionAge` parameter for pilot with Istio 1.1.0.RC2, looks like it does't works well.
The test secenario is that:

1. Deploy pilot(with `keepaliveMaxServerConnectionAge` set to `30s`) with 1 instance
2. Deploy 200 pods with sidecar
3. All sidecars connect to the pilot instance
4. Then scale the pilot to 2 instances

After a few minutes, all sidecar a

[2019-03-04 15:27] howardjohn commented on #12193
Hm, maybe the issue isn't with the validator then. However, the config is not used, as seen in push_context linked above. I haven't been able to find the root cause yet though.

[2019-03-04 15:34] #9477 closed

[2019-03-04 15:34] hzxuzhonghu commented on #12220
indeed

[2019-03-04 15:36] hzxuzhonghu commented on #12181
no, istio can not control.

[2019-03-04 15:39] atrifan commented on #11819
hei @kyessenov any update on this?

[2019-03-04 15:55] rshriram commented on #12066
@philrud your assessment is spot on.. and the change set was intentional - the prior mode of destination rule selection was very arbitrary. #12216 has a stop gap fix but it is likely to blow up else where.

cc @louiscryan FYI..
The proper fix is to set the istio-config as the config root namespace by default, and move things like *.local DR rules into this namespace.

Now that said, @robertpanzer,

[2019-03-04 16:11] ozevren opened #12226 "Remove the timeout from Mixer readiness checks"
Mixer readiness checks are at 30 seconds, hardwired, right now. This is causing crashloop back-offs when config distribution is delayed.

This bug is to track the removal of the timeout. We should experiment with removing the delay, and see if it is causing any additional problems before fully removing it.

[2019-03-04 16:11] ozevren commented on #12226
/cc @kyessenov @douglas-reid @ayj

[2019-03-04 16:13] esnible commented on #11700
I correlated the 503 to the progress of the test.

https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/12207/istio-pilot-e2e-envoyv2-v1alpha3/16225/build-log.txt

Before the 503 we had deployed _rule-503test-destinationrule-c-add-subset.yaml_ which defines subsets v1,v2,v3,v4 (but v3 and v4 point at v1 and v2 so only two pods are involved.  _rule-503test-update-virtualservice.yaml_

[2019-03-04 16:34] #8908 closed

[2019-03-04 16:42] rshriram commented on #12198
So this is behaving as expected..
we search for the most specific PUBLIC dest rule for reviews service..
 since there is no dest rule in withsidecar namespace, we look elsewhere.
 we find reviews.withsidecar.svc.cluster.local in the default namespace and its a PUBLIC rule. So it gets used..

You can hide the rule in default namespae by declaring the exportTo field with value `.` . Or, you can defi

[2019-03-04 16:52] #11379 closed

[2019-03-04 17:02] esnible commented on #12222
Remember that HTTPS is encrypted so that a man-in-the-middle cannot see the traffic.  The encrypted traffic isn't just the body, it includes the path.  See https://en.wikipedia.org/wiki/Server_Name_Indication#How_SNI_fixes_the_problem .  If the client requests "https://badguy.com/attack-at-midnight" SNI allows an evesdropper to read "badguy.com" but not "/attack-at-midnight".

If possible, modify

[2019-03-04 17:05] howardjohn commented on #12198
My understanding was it shouldn't be able to pick up the rule, because we want to be able to have complete isolation. Someone on some other team, etc working in another namespace shouldn't be able to impact another's if they are using the Sidecar resource the and not importing from this namespace.

@rshriram offline:

/cc @costinm you originally brought up this issue, what do you think?

[2019-03-04 17:34] #8979 closed

[2019-03-04 17:52] pitlv2109 commented on #12024
@wenchenglu
Thanks for checking in. I have submitted a PR to fix the issue. Thanks @wattli for helping out :)

[2019-03-04 17:54] costinm commented on #12198
Once again, export means it can be used, not that it forces use of a rule.

Default exportTo should remain public, it is not relevant to this discussion ( except that if a rule has explicit exportTo that doesn't include a namespace, it will not be used ).

If a namespace has an explicit 'egress' section in the Sidecar, and it is not */* - than only the namespaces listed in the egress can be used,

[2019-03-04 17:54] wenchenglu commented on #12024
@pitlv2109
awesome. Can this issue be closed now?

[2019-03-04 17:55] wattli commented on #12024
The root cause is the TLS grpc server introduced in Pilot. By default, pilot will always create a secure grpc server, however, if the key/cert is not there (which is the case for consul), it will fail.

The fix is to remove the secure grpc server. Here is the https://github.com/istio/istio/pull/12228

[2019-03-04 17:56] rshriram commented on #12181
do you know where the DNS requests are going to? is it for all services?

[2019-03-04 17:57] ostromart opened #12229 "Add more test cases to upgrade test"
The upgrade tests that use test_crossgrade.sh are limited to non-MTLS, template only scenarios.
We need to add at least the following:
- MTLS
- helm tiller
- more complex parameter sets

[2019-03-04 17:57] costinm commented on #12198
To be clear: my concern and the P0 are about respecting the "egress" semantics in Sidecar, if it is present.

Separate bug/priority for the case Sidecar is not present, or it imports */*.

But in all cases, exportTo will be respected - but won't override the import.

[2019-03-04 17:59] ayj commented on #12215
dup of https://github.com/istio/istio/issues/11555

[2019-03-04 17:59] #12215 closed

[2019-03-04 18:01] ostromart commented on #12081
@sdake that step is needed for RBAC, otherwise things like adding roles fails, see
https://preliminary.istio.io/docs/setup/kubernetes/platform-setup/gke/
step 3.

[2019-03-04 18:01] wattli commented on #12024
The PR is still under review and need your power to be merged (once all tests passed)

[2019-03-04 18:06] robertpanzer commented on #12066
@rshriram Let me see if I understood this correctly:

If I assume that mTLS is enabled, that means there is a default DestinationRule in the namespace Istio-system.
The IngressGateway is also usually in the same namespace.

Does that mean that every DestinationRule to any service from the Ingress Gateway must be configured in istio-system?
If this is this case this doesn't seem right to me.
In my

[2019-03-04 18:07] utka opened #12230 "Adding simple e2e test using KIND"
**Describe the feature request**
k8s has new infra KIND https://github.com/kubernetes-sigs/kind
It will allow to have faster and more reliable tests on Prow. We need to create simple KIND test for istio.
{{ Succinctly describe your request }}
New test infra to improve flakiness and speed of e2e tests

**Describe alternatives you've considered**
Did not look into other alternatives, but want to com

[2019-03-04 18:07] pitlv2109 commented on #12024
/close
PR merged. Issue closed.

[2019-03-04 18:07] istio-testing commented on #12024
@pitlv2109: Closing this issue.

<details>

In response to [this](https://github.com/istio/istio/issues/12024#issuecomment-469355036):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](ht

[2019-03-04 18:07] #12024 closed

[2019-03-04 18:10] duderino commented on #11990
On #12173 I will merge as soon as I see a lgtm form @sdake, but he may say this is too risky for 1.1.  Heads up

[2019-03-04 18:10] douglas-reid commented on #12200
It is possible to use the 1.0.6 `telemetry-gateway` without coupling it to the ingress gateway. In that case, it would be a purely internal proxy for the telemetry services (in your case, prometheus).  The configuration is harmless, as you point out, if you do not intend to use it.

That being said, `telemetry-gateway` was removed in 1.1, in favor of individual gateways for each telemetry service,

[2019-03-04 18:10] #12200 closed

[2019-03-04 18:11] ostromart opened #12231 "Add allowPrivilegeEscalation default to PodSecurityPolicy"
See https://github.com/istio/istio/issues/11571#issuecomment-469081061 for context.
k8s admission controller requires this.

[2019-03-04 18:11] frankbu commented on #12198
Maybe I'm missing something, but the problem here doesn't appear to be Sidecar import, but rather the default DestinationRule resolution algorithm. A Sidecar's egress section only imports Services, not DestinationRules. Corresponding DestinationRules are imported implicitly along with the services according to the algorithm: 1) proxy's namespace, 2) service's namespace, 3) any-namespace. To take u

[2019-03-04 18:11] ostromart commented on #11571
Thanks for bringing this up @tbarrella, I've created https://github.com/istio/istio/issues/12231 to track it.

[2019-03-04 18:33] sdake commented on #11990
This issue is a dup of https://github.com/istio/istio/issues/12154.

@duderino basically @morvencao 's work is a revert of someone else's work.  He introduced the original functionality.

Tested this PR https://github.com/istio/istio/pull/12173#pullrequestreview-210297980 and is good for merge.

[2019-03-04 18:35] sdake commented on #12015
This is just a doc issue - this is not blocking the release.

[2019-03-04 18:43] sdake commented on #12081
@ostromart got it - so a GKE specific thing - sounds fair.

Cheers
--steve

[2019-03-04 18:48] douglas-reid commented on #8902
@jshaughn the response flags should be available, same as the fault injection stuff. It is surprising that you aren't seeing that reflected.

[2019-03-04 18:51] sdake commented on #11990
closing as a dup.

[2019-03-04 18:51] #11990 closed

[2019-03-04 18:52] esnible commented on #11700
I watched the Envoy logs as I modified a DestinationRule.  I saw a 2ms delay between when it logs “gRPC config for type.googleapis.com/envoy.api.v2.Cluster accepted with 82 resources” and when it logs “gRPC config for type.googleapis.com/envoy.api.v2.ClusterLoadAssignment” with the IP and weight of the cluster.
2ms seems very tiny but the test case hits the server every 50ms.  If there is a 2ms de

[2019-03-04 18:55] sdake commented on #11868
@morvencao I pulled your helm mtls revert which should shortly merge in release-1.1, and then rebased on release-1.1 which has this PR: https://github.com/istio/istio/pull/12177.  I receive duplicate mixer and pilot instances in that scenario.

Cheers
-steve

[2019-03-04 18:59] njyeti opened #12232 "Access log with JSON encoding"
Istio: 1.1.0-rc.2
K8s: v1.11.5-gke.5

I'm currently seeing two issues while using the JSON encoding for the access log but works fine with the TEXT

1. Method has the incorrect value i.e. %REQ(:METHOD)% **_("method": "2019-03-04T18:50:40.527Z" in the below JSON output)_**
2. My custom header values are getting omitted from the JSON but works fine with TEXT encoding

Text encoding:
`'2019-03-04T18:

[2019-03-04 19:10] mbanikazemi commented on #11762
Not specifying any host for egress as described in step 3 above, makes the sidecar config invalid but we do not catch it. PR #12233 adds sidecars to the resources being monitored by the validating web hook in Galley to address this.

[2019-03-04 19:13] kyessenov commented on #11819
It appears there is an issue with upgrading 1.0.6 mixer to the modified 1.1 mixer in your setup. Are you using Galley? Can you provide the error log from failing mixer container?

[2019-03-04 19:15] Hongwei-Wang commented on #12027
I can not reproduce this issue on the same cluster anymore. The sidecar is concurrently injected w/ pod. It's so weird.

[2019-03-04 19:34] #8792 closed

[2019-03-04 19:59] duderino commented on #11247
yay

[2019-03-04 20:01] edalford11 commented on #7018
Need to specify <namespace>/<gateway> in the virtual service and it should work. See #11127

[2019-03-04 20:06] duderino commented on #12162
concurrency now defaults to 2 as of 1.1rc2.  This PR from @mandarjog changed it:  https://github.com/istio/istio/pull/11476/files

Demoting to P1 to cover any remaining work, but please close if nothing remains

[2019-03-04 20:10] qfel commented on #12046
Not the instructions say 56, but I get 58..

[2019-03-04 20:12] ostromart commented on #12027
@Hongwei-Wang if you see this again, please include logs from crashlooping pods.

[2019-03-04 20:15] atrifan commented on #11819
I am not using galley. How can I upgrade my istio 1.0.6 to 1.1 so I can use the modified mixer?

[2019-03-04 20:23] duderino commented on #12117
I think this issue is addressed by @hzxuzhonghu's https://github.com/istio/istio/pull/12214 and is still open pending verification, but please correct if I got it wrong.

It missed 1.1rc2 but I think @utka will likely create a 1.1rc3 tomorrow / Tuesday March 5th.

[2019-03-04 20:26] mandarjog commented on #11964
https://github.com/istio/istio/blob/release-1.1/install/kubernetes/helm/istio/values-istio-demo-common.yaml  is the demo profile. It has reduced cpu and memory requirements. That should satisfy this.

[2019-03-04 20:27] douglas-reid commented on #11954
This appears fixed rc2.

[2019-03-04 20:27] #11954 closed

[2019-03-04 20:34] #8513 closed

[2019-03-04 20:59] linsun commented on #12015
agreed on doc issue for this with @sdake.

Also, I don't think we no longer support the ingress.enabled=true in v1.1.

[2019-03-04 21:12] esnible commented on #11560
I tried this interactively using K8s 1.13 client and server.  I set `sideEffects=None` with `kubectl edit validatingwebhookconfigurations istio-galley` and sent bogus DestinationRules.  I was not able to get the desired experience.

[code]

was accepted, even though without `--dry-run=` it was rejected because of the subset name.

If I run without `--dry-run` and use `-v 999` to check the traffic

[2019-03-04 21:13] venilnoronha commented on #12139
/sub

[2019-03-04 21:14] rshriram commented on #12139
What happens if you disable sidecar on server side, but allow on client side? Does that work?
@venilnoronha , we should disable the redis filter (yet again) for a good measure

[2019-03-04 21:21] costinm commented on #11787
#11986 allows arbitrary DNS names - adding sidecar is using SPIFFE identity for MCP instead of DNS.

MCP needs DNS cert for kubeapi server, on the http port - but there is no need for it on the GRPC port.

Short term - it's fine to use the DNS, with the additional fix - but long/medium term and with the new installer I would rather have Galley consistent with Pilot/Mixer and all other mesh service

[2019-03-04 21:29] costinm commented on #11912
Can you explain a bit how it is fixed - custom DNS names were supported in 1.0 as well, and they work - the problem was making sure Galley (which is the only component using DNS names outside cluster) can be configured as part of the install so it has a 2-SAN DNS, one for Gateway (for other namespaces) and one for internal services.

An integration test would help a lot - but even docs with the st

[2019-03-04 21:35] GregHanson commented on #12232
@njyeti can you grab the format string from envoy in the `TEXT` case?
[code]

[2019-03-04 21:43] xianke9 commented on #12015
in summary, we should refer to https://preliminary.istio.io/docs/setup/kubernetes/upgrade/#helm-upgrade for upgrade, and remove param ingress.enabled=true, global.proxy.envoyStatsd.enabled=true, right?

[2019-03-04 21:44] duderino commented on #11937
@silentdai very cool work on adding the heap profiler to envoy.

@robertpanzer my guess is we'll end up resolving this in an early 1.1.x release.  We probably will not pick up a new version of Envoy until immediately after 1.1 ships.

[2019-03-04 21:55] njyeti commented on #12232
Here you go.

Encoding: TEXT
`"access_log": [
            {
             "name": "envoy.file_access_log",
             "typed_config": {
              "@type": "type.googleapis.com/envoy.config.accesslog.v2.FileAccessLog",
              "path": "/dev/stdout",
              "format": "'%START_TIME%' '%REQ(MY-CUSTOM-REQ-NAME)%'  '%RESP(MY-CUSTOM-RESP-NAME)%'  '%REQ(:METHOD)%' %REQ(X-ENVOY-ORIGINAL-P

[2019-03-04 21:56] douglas-reid commented on #8902
@jshaughn using the istio telemetry service, I can see metrics directly related to my circuit breaking in the task:

I ran fortio twice:

[code]

and

[code]

And then I executed the following query in Prometheus:
`sum(istio_requests_total{destination_service="httpbin.default.svc.cluster.local"}) by (response_code, response_flags, source_app)`

[code]

Note the `UO` response flags.

[2019-03-04 21:58] duderino commented on #9113
I think this is 'fixed' for 1.1, but we didn't have consensus so I'll try to capture the objections and alternatives for the record....

The problem:   envoy as a client borrows a connection from a connection pool that has already been closed by the peer.   Since this is a routine occurrence we don't want to lose the request and return a 503 to the downstream client.

Approach 1: Envoy should noti

[2019-03-04 22:04] esnible commented on #11560
Verified that https://github.com/kubernetes/kubernetes/issues/70506 shows 500 is the default.  We can set the response to 403 like this:

[code]

Not sure if this is worth a PR.

[2019-03-04 22:13] nrjpoddar opened #12237 "All Sidecar resources need istio-system defined as egress host which is unclear from docs"
**Describe the bug**
The new [Sidecar](https://preliminary.istio.io/docs/reference/config/networking/v1alpha3/sidecar/) resource requires that `istio-system` is explicitly defined as an egress host if the Sidecar resource includes any egress hosts. This seems broken as users will be caught off guard  when using this feature for the first time, they will see failures from the sidecar to Mixer, Pilo

[2019-03-04 22:21] nrjpoddar commented on #12237
@louiscryan can you add some color on this from API/user experience point of view?

[2019-03-04 22:34] #8553 closed

[2019-03-04 22:42] uk000 commented on #12144
@rshriram does PR #12234 take care of this issue as well given that it'll no longer search across all namespaces for the applicable destination rules?

[2019-03-04 22:44] costinm commented on #12170
Ok, I tried it first on my 'separate gateway' and it seems it works there.
[code]

I'll try next with gateway in istio-system ( the test was with gateway in istio-gateway )

[2019-03-04 22:45] costinm commented on #12170
And the config I tried:
[code]

[2019-03-04 23:00] ostromart commented on #11951
Just did some direct debugging with @JimmyCYJ and I think we are good. He will update.

[2019-03-04 23:01] JimmyCYJ commented on #11951
I solve this problem by running
[code]

[2019-03-04 23:01] JimmyCYJ commented on #11951
Thanks for the help @ostromart

[2019-03-04 23:15] #12058 closed

[2019-03-04 23:17] rshriram commented on #12144
Yep

[2019-03-04 23:23] howardjohn commented on #12237
Why does a Sidecar resource require `istio-system` in the egress?

[2019-03-04 23:26] duderino commented on #11964
@dmitri-d we think this is fixed.  do you have the bandwidth to try again with 1.1rc2 or should we find another vict^H^H^Holunteer?

[2019-03-04 23:38] costinm commented on #12170
And I can repro in istio-system - seems to be the same problem with DestionationRules that should be fixed by Shriram change.

I would strongly recommend installing the gateway out of istio-system, it is already supported with the old installer (even in 1.0), plan for 1.2 is to move everything except certs out of istio-system.

[2019-03-04 23:47] costinm commented on #12170
@rshriram
@howardjohn

Well - it doesn't seem the DR fix solves problem. I did a build with the last PR, same behavior.

Deleting the 'default' destinationrule from istio-system is fixing the problem, both v1/v2 show up.
Adding an explicit destinationrule in istio-system is also fixing the problem.

We do have 2 workarounds - moving the gateway to different namespace is best,  adding the destinati

[2019-03-05 00:06] liminw commented on #8477
@mandarjog @yangminzhu Is this done? Can we close it?

[2019-03-05 00:11] duderino commented on #12198
@howardjohn I think you verified @rshriram's PR.  Is any work left here?

[2019-03-05 00:12] howardjohn commented on #12198
Nope, should be good now.

[2019-03-05 00:12] #12198 closed

[2019-03-05 00:21] duderino commented on #11868
OK, so https://github.com/istio/istio/pull/12173 has been merged.  Now @sdake says need someone to tackle the duplicate pilot and mixer instances (see also https://github.com/istio/istio/pull/12173#issuecomment-469362977)

[2019-03-05 00:24] rshriram commented on #12139
fixed

[2019-03-05 00:24] #12139 closed

[2019-03-05 00:29] sdake commented on #12154
PR works, personally tested, closing issue.

[2019-03-05 00:29] #12154 closed

[2019-03-05 00:33] duderino commented on #12015
Being pedantic here, sorry, I'd love to see a doc PR or P0 doc bug created before we demote this one.  Otherwise it'll fall of our short list of frequently revisited bugs

[2019-03-05 00:37] duderino commented on #10500
@philrud how is this progressing?

[2019-03-05 00:38] duderino commented on #12066
@rshriram @philrud is there anything left to do here?

[2019-03-05 00:43] duderino commented on #6085
This bug has become a collector for many problems that all end up looking similar to the downstream client because of the 503s.   I'm going to close this since I think we have a large batch of 503 mitigations going into 1.1.  Most are already in 1.1rc2, but a few more will go into 1.1rc3 which we will create later this week.

If you still have issues with 1.1rc3+ please file a fresh bug.

[2019-03-05 00:43] #6085 closed

[2019-03-05 00:44] nrjpoddar commented on #12237
The sidecars need to talk to istio-telemetry, istio-policy & istio-pilot in the istio-system namespace, based on our testing if you add a Sidecar resource with egress rules which doesn't contain istio-system, you end up blocking the traffic.

[2019-03-05 00:46] duderino commented on #12170
@costinm @howardjohn @rshriram what is the final state for this bug for 1.1?  wont fix + release note?

[2019-03-05 00:46] philrud commented on #10500
@duderino here's the docs PR: https://github.com/istio/istio.io/pull/3498 (@ozevren is helping getting it merged). Once it's merged we should be able to close this issue as resolved unless anybody minds, as k8s ingress works as demostrated in my tutorial that at least two people were able to follow successfully.

[2019-03-05 00:48] dmitri-d commented on #11964
@duderino: Yep, will give it a try.

[2019-03-05 00:57] clyang82 commented on #12154
I am so glad to see the issue was fixed in release-1.1. Thanks @morvencao & @sdake

[2019-03-05 00:58] philrud commented on #12066
@duderino I have verified @rshriram 's fix -- it does address the specific issue that @robertpanzer has reported, so as long as @costinm and @louiscryan are fine with this for 1.1 we can close this issue

[2019-03-05 01:05] ostromart commented on #12154
Verified the fix works for 1.0.5 -> release-1.1@fb449c9fa with Helm+tiller 2.12.3.
1. Started with clean cluster installed via tiller per 1.0 directions:
[code]
--> Completed OK

2. Upgrade to 1.1 using release-1.1 branch:
[code]
--> Completed OK

3. Wait a while, check running pods:
[code]

[2019-03-05 01:14] vcanaa commented on #8696
Internal Kubernetes API calls seem to fail for the first seconds. You might find the this repro useful: see update of #12187

[2019-03-05 01:29] sdake commented on #12015
@duderino ack, no problem - I won't move around priorities in iissues in istio/istio repo.

Cheers
-steve

[2019-03-05 01:29] quanjielin opened #12244 "more granularity to differentiate if mtls is strict or permissive in stackdriver metric"
**Background**
Today [service_authentication_policy](https://github.com/istio/istio/blob/0f39c7daa9abf255e069370866da529e9bb2270b/tests/e2e/tests/stackdriver/adapter.yaml#L145) in stackdriver adapter only has two mode: mtls and none

we probably want to have better granularity to differentiate if mtls is strict or permissive in metric

**Problem**
[code]
Today connection.mtls value is get in istio

[2019-03-05 01:30] quanjielin commented on #12244
/cc @diemtvu

[2019-03-05 01:31] dmitri-d commented on #11964
@duderino: bookinfo deployed ok on a full install of istio 1.1.0-rc2

[2019-03-05 01:32] sdake commented on #12015
you may want ingress enabled - it depends on your deployment.  As far as statsd enabled goes this also depends on your deployment, if you enable this, you must also enable the statsd server and statsd port as Istio no longer provides one.

[2019-03-05 01:34] sdake commented on #12015
@linsun if we don't support ingress.enabled=true in 1.1, then we should probably remove ingress.  I don't know the state of ingress, as it is outside of my current focus areas.  @andraxylia or @rshriram can you comment?

Cheers
-steve

[2019-03-05 01:40] kyessenov commented on #12244
Observation should not depend on config, IMHO. So ideally envoy should provide all data without any input.

Also see https://docs.google.com/document/d/1IdUL7qObUTGR2dNZuIE21AJyBOAiv_MIHbFoHfohGE8/edit#

[2019-03-05 01:51] #12066 closed

[2019-03-05 02:07] tzilist opened #12245 "Updates to envoy proxies destroying tcp connections"
**Describe the bug**
When the envoy sidecar receives an update, tcp connections are destroyed and we are unable to talk to redis or mongodb
**Expected behavior**
When the envoy sidecar receives an update, service is not interupted
**Steps to reproduce the bug**
Set up a cluster with mongo or redis. Have this service send requests periodically to database. Once the in the middle of one of the reque

[2019-03-05 02:32] sdake commented on #12122
instead of `from scratch` I would encourage folks to look at the distroless containers:

https://github.com/GoogleContainerTools/distroless

[2019-03-05 02:35] hzxuzhonghu commented on #12117
Create 20 services(2 ports for each service), corresponding 20 pods, 20 serviceaccounts into each namespace.
Note: All applications deployed during this step are outside Istio mesh. This is reasonable in production environment, because applications size in the cluster can be very huge while the mesh is small.

 I find a place which can cause memory usage increase times over the number of namespace

[2019-03-05 02:36] sdake commented on #12080
@louiscryan good idea.  In fact, such a good idea, I've been planning to kick something like this off for about a month - waiting for 1.1 to release.  Will provide more information on a "Gateway Control Protocol" in the next networking meeting and the environment meeting following.

Cheers
-steve

[2019-03-05 03:05] linsun commented on #11868
@morvencao could you take a look at this today?  Let me know where things are at the end of your day.  Thanks.

[2019-03-05 03:12] sdake opened #12246 "helm upgrade results in a failed upgrade"
**Describe the bug**
upgrade doesn't work as expected, both galley and telemetry crashloop backoff

**Expected behavior**
galley starts normally, telemetry starts normally, and finally there is only one version of pilot running

**Steps to reproduce the bug**
[code]

**Version**
latest release-1.1.0 branch on commit fb449c9fa3ef9d1f948775268809504474d11569

**Installation**
see reproducer.

**Envi

[2019-03-05 03:14] sdake commented on #12246
as galley doesn't start properly, telemetry cannot create an MCP connection, resultinig in a liveness probe timeout - killing telemetry.  I am unclear if the telemetry never entering a running state results in the helm upgrade to not complete.

[2019-03-05 03:21] sdake commented on #12246
hey peeps, this is very likely the last blocker for 1.1 - so any and all help would be appreciated.

Cheers
-steve

[2019-03-05 03:35] linsun commented on #12015
cc @costinm to comment, I'd be happy to remove it.  I recall discussing this in a TOC mtg recently.

[2019-03-05 03:40] #9048 closed

[2019-03-05 03:41] morvencao commented on #12246
/cc @clyang82

[2019-03-05 03:45] sdake commented on #12246
I determined I wasn't using the docker images I had built after the checkout - but instead using the dialy release images.  I'm not sure what is wrong with the daily release images, but this looks good:

[code]

[code]

[2019-03-05 03:52] chadlwilson commented on #8263
@yangminzhu - are you able to clarify for the community if there is a reason this ticket was re-opened and is still open? If I read your PR correctly it looks like this has been fixed/merged into Istio 1.1 - but perhaps I am missing something. Is it that it's still missing some of the info or there is some remaining work to do?

[2019-03-05 04:14] duderino commented on #12246
@sdake the last daily was bad but building everything out of the 1.1 branch HEAD works?

[2019-03-05 04:40] #9116 closed

[2019-03-05 04:42] mandarjog commented on #10285
/Not stale

[2019-03-05 04:45] mandarjog commented on #11964
Thanks @dmitri-d , closing.

[2019-03-05 04:45] #11964 closed

[2019-03-05 05:34] clyang82 commented on #12246
I have verified with gcr.io/istio-release/galley:release-1.1-latest-daily. it works well. here are my steps:
[code]

[code]

[2019-03-05 05:38] clyang82 commented on #11868
This problem was fixed. Verified the fix works for 1.0.6 -> release-1.1@6662fc7

[code]
the result is:
[code]
There is no duplicated mixer pod instances.

[2019-03-05 05:53] morvencao commented on #11868
Thanks @clyang82 , the same results from my local test.

@sdake The fix https://github.com/istio/istio/pull/12177 should be already in release 1.1 and RC2, while this one https://github.com/istio/istio/pull/12173 not.

Anyway, the latest `release-1.1` branch should contains the two fix,  if that goes well, we should have the fix for next RC.

[2019-03-05 05:58] sdake commented on #12246
I know what is wrong with my daily images.  I was testing on an all-in-one with daily images that are from my docker cache that are very old.   I use the default "IfNotPresent" pull policy.  We are GTG - thanks for the confirrmation @morvencao - two people testing > 1 :)

Cheers
-steve

[2019-03-05 05:58] #12246 closed

[2019-03-05 05:59] ankoh commented on #11813
I'll close this here. It turned out to be far easier to just implement the routing with a custom tcp_proxy.
I liked the idea of tunnelling via HTTP/2 and rely on the HTTP router but I found it quite tedious to hijack the WebSocket upgrade support for our needs.

A few things that I noticed:
- HTTP2 tunnelling could be quite useful for protocols that are not HTTP1.1 compliant.
- Manually "downgradi

[2019-03-05 05:59] #11813 closed

[2019-03-05 06:01] sdake commented on #11868
@morvencao everything is gtg - upgrade and rollback work fine.  Thanks for your contributions!

This issue can be closed by the PMs if they wish.

[2019-03-05 06:04] cyx commented on #11668
I'm seeing the same behavior with multiple Gateway definitions, each with their own TLS settings. So far the only solution has been to consolidate to one Gateway.

My sense is that this is related to not using SDS for certs, and might be addressed in the upcoming 1.1 release.

[2019-03-05 06:11] sdake commented on #12154
agree, 3 people have tested and come to the same conclusion - this issue can be closed out.  Nice work @morvencao !

[2019-03-05 06:57] zhaohuabing commented on #11971
- Pilot shouldn't push xDS configuration to Envoy if no changes
  This has been fixed by https://github.com/istio/istio/pull/12148
- Established downstream connections shouldn't be destroyed by Envoy unless the upstream service closes the connection itself.
  This issue still exists, is it possible to keep the opened connection while Envoy configuration changed by xDS?

[2019-03-05 07:03] andraxylia commented on #12015
@philrud got the ingress to work, let's wait for his input, I do not think we need to remove ingress.

[2019-03-05 07:25] jacktianxg opened #12248 "bookinfo demo deos not work on consul platform"
I deployed istio 1.0.6  on consul platform,  the steps followed by https://preliminary.istio.io/docs/examples/bookinfo/,  the command can work :  curl -s http://${GATEWAY_URL}/productpage | grep -o "<title>.*</title>"   ,
  But when  execute the url from browser :http://$GATEWAY_URL/productpage,  display

![2018-04-26 17_43_16](https://user-images.githubusercontent.com/25564264/53787642-81468600-3

[2019-03-05 08:04] loewenstein commented on #12122
@sdake didn't know that. Thanks for the pointer. Seems like `static` or `base` would be candidates for the Istio go binaries.

I will try to base the `objdump` and `ldd` trick on those as well...

[2019-03-05 08:40] JansonLiao commented on #7495
thank you, from your comment, I solved my problem. The real reason why must put pod address ip the serviceEntry, when your service is statefulset service. cause istio do not support statefulset currently, so the istio-proxy can listen the statefulset ip address.

[2019-03-05 09:36] hzxuzhonghu opened #12249 "Allow specify cpu or memory resource separately"
**Describe the bug**
When I create a deployment with sidecar auto inject enabled. The sidecar container can not be injected.

[code]
With the error `Error creating: Internal error occurred: admission webhook "sidecar-injector.istio.io" denied the request: error unmarshaling JSON: quantities must match the regular expression '^([+-]?[0-9.]+)([eEinumkKMGTP]*[-+]?[0-9]*)$'`

But when I specify both `

[2019-03-05 09:44] jacekszubert commented on #8833
@vadimeisenbergibm SNI routing is great but is it actually an option for mysql protocol? To my understanding after establishing the connection it's the server to send the first data about its TLS capabilities and then the handshake starts. Since the connection is already established SNI isn't sent. Here's [mysql docs](https://dev.mysql.com/doc/dev/mysql-server/8.0.15/page_protocol_connection_phase

[2019-03-05 10:42] vadimeisenbergibm commented on #8833
@jacekszubert I see, if MySQL does not use SNI, SNI-based routing of Istio will not work.

[2019-03-05 10:52] thomschke commented on #12157
Thanks @rshriram - LGTM

[2019-03-05 10:52] #12157 closed

[2019-03-05 11:15] lszymik commented on #8263
I am also interested in knowing it.

[2019-03-05 12:48] hzxuzhonghu opened #12252 "TestIngressGateway503DuringRuleChange flake too frequently"
I have seen this case flake too frequently now in release-1.1 branch.

[2019-03-05 12:48] hzxuzhonghu commented on #12252
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12250/istio_auth_sds_e2e/2635

[2019-03-05 14:00] gbaufake commented on #11972
[map[controller:true blockOwnerDeletion:true apiVersion:apps/v1 kind:ReplicaSet name:kiali-test-mesh-operator-5ddf9d5c5d uid:496c6946-3f4e-11e9-807f-069b57c43aec]]%

[2019-03-05 14:01] GregHanson commented on #12196
tested with latest release candidate and verified issue has been resolved

[2019-03-05 14:01] #12196 closed

[2019-03-05 14:37] esnible commented on #10500
@philrud @duderino Can you comment on my tiny PR https://github.com/istio/istio/pull/11372 ?  Does my PR need to be merged or abandoned?  Without it, the yaml configuration generated by helm seems wrong.

[2019-03-05 14:43] esnible commented on #8833
If the IP addresses of mysql-n.xxx.io are constant you can use them in the Istio Service Entry.

See this example that will ship with Istio 1.1 showing how to configure contact with github over TCP: https://github.com/istio/istio/blob/release-1.1/samples/external/github.yaml

[2019-03-05 14:50] linsun commented on #11868
Thank you much @sdake @clyang82 @morvencao this is awesome, closing it as you all have validated it.

[2019-03-05 14:50] #11868 closed

[2019-03-05 15:03] rshriram commented on #12015
lets remove it from the main install and docs.. While people get it to "work" for some definition, we have not tested it as extensively as the gateway. Since we have been gating other improvements (e.g., concurrency level, etc.) based on how extensively they have been tested, we should do the same for ingress - i.e. its 100% untested. Our defaults disable ingress. Scale issues are unknown, especia

[2019-03-05 15:03] esnible commented on #12075
The PR to remove this command is now https://github.com/istio/istio/pull/12238

The intention is to restore it when a new design is available.

[2019-03-05 15:06] elevran commented on #11977
a single label would indeed be insufficient to address your requirements, specifically for associating namespaces with control plane instances.
I'm not quite sure how RBAC would work unless Istio runs an additional controller to generate RBAC rules and roles on the fly.

[2019-03-05 15:06] esnible commented on #11983
https://github.com/istio/istio/pull/11924 and https://github.com/istio/istio.io/issues/3360 and https://github.com/istio/istio.io/pull/3343 fix the problem.

[2019-03-05 15:47] vbuciuc opened #12258 "Rate limiting feature readiness not documented"
**Describe the bug**
Rate limiting is not listed in the feature readiness page: https://preliminary.istio.io/about/feature-stages/ although using rate limiting is part of the istio walkthrough https://istio.io/docs/tasks/policy-enforcement/rate-limiting/.

**Expected behavior**
Rate limiting should be listed in the feature readiness page with the appropriate readiness level.

**Version**
Istio 1.0

[2019-03-05 16:06] sdake commented on #12015
how does someone migrate from ingress to ingressgateway?  The docs wg led by @geeknoid will need guidance...

[2019-03-05 16:40] costinm commented on #12015
+1 on removing it from the main install.

We did actually test ingress extensively - including with Certmanager and SDS, as well as multiple ingresses. However it is far better for anyone using k8s ingress to move to the new installer and not install ingress with the 'demo'-based installer.

[2019-03-05 16:58] linsun commented on #12015
Thanks, I'll submit a PR for it shortly.

[2019-03-05 17:05] philrud commented on #12015
From what I found over last couple of weeks: user experience with K8S Ingress has greatly improved since 1.0. I haven't found any functional issues besides what's known to be not supported. As @costinm mentioned Ingress + TLS + SDS + cert-manager now works pretty much out of the box, here's an "Example" of this (as part of the docs effort): https://github.com/istio/istio.io/pull/3498 (preview link

[2019-03-05 17:09] ozevren commented on #11762
*Without* the fix in #12233, it looks like:
- Valid sidecar gets applied. (Step 2). This goes through Galley and Pilot and gets processed.
- Invalid sidecar gets applied (Step 3). Config Validator misses it, but it gets filtered out in Pilot's validation. Internal config state of Pilot doesn't change.
- Resource is removed (Step 4). Valid configuration change. Pilot changes its internal state to r

[2019-03-05 17:10] jshaughn commented on #8902
@douglas-reid I was looking in the wrong place.  I was trying to utilize [these Envoy metrics](https://www.envoyproxy.io/docs/envoy/latest/configuration/cluster_manager/cluster_stats#circuit-breakers-statistics).  I didn't even realize that istio_requests_total had a response_flags label.  That's awesome and I'll look into again soon.

[2019-03-05 17:16] howardjohn commented on #11762
Sounds like it is fixed! Closing this now

[2019-03-05 17:16] #11762 closed

[2019-03-05 17:22] ozevren commented on #12193
With https://github.com/istio/istio/pull/12233, kubectl is now rejecting the configuration due to validation. The config in the issues is not valid.

[code]

[2019-03-05 17:24] ozevren commented on #12193
FWIW, putting a "." in the name allows it to be processed:
[code]

[2019-03-05 17:24] howardjohn commented on #12193
Thanks for verifying!

[2019-03-05 17:24] #12193 closed

[2019-03-05 17:29] ericvn opened #12260 "charts/gateways/values.yaml incorrect docs default is creating ingress and egress gateways"
**Describe the bug**
charts/gateways/values.yaml mentions default is both ingress and egress gateways

**Expected behavior**
default was changed to only create ingress, Update chart to reflect that

**Steps to reproduce the bug**
Just a source change

**Version**
Istio 1.1.0-rc2

**Installation**
from tar

**Environment**
{{ Which environment, cloud vendor, OS, etc are you using? }}

**Cluster sta

[2019-03-05 17:35] sdake commented on #12015
@philrud yes this is open for debate for 1.1.

I don't have a strong opinion, and everyone tells me ingress isn't qualified properly...  So I am more happy to delete code that isn't used and won't be.

Cheers
-steve

[2019-03-05 17:40] duderino commented on #12051
Most likely a duplicate of https://github.com/istio/istio/issues/11964

[2019-03-05 17:40] #12051 closed

[2019-03-05 17:43] ericvn opened #12261 "install/kubernetes/helm/istio/values.yaml correctness for mixer values"
**Describe the bug**
Top of file has:
[code]

mixer section:
[code]

Which is correct? Top or mixer section?

**Expected behavior**
Correct above

**Steps to reproduce the bug**
{{ Minimal steps to reproduce the behavior }}

**Version**
1.1.0-rc2

**Installation**
tar file

**Environment**
{{ Which environment, cloud vendor, OS, etc are you using? }}

**Cluster state**
{{ If you're running on Kube

[2019-03-05 17:43] douglas-reid commented on #12226
/cc @mandarjog @geeknoid

Do we believe this should be fixed for 1.1 or should we hold off and shoot for a 1.1.1 (or even 1.2)?

My concern is that this leads to 2/3 restarts of Mixer pods, even in best case scenarios right out of the box -- which doesn't inspire a lot of confidence in operators.

[2019-03-05 17:43] quanjielin commented on #10300
this is done, https://preliminary.istio.io/docs/tasks/traffic-management/secure-ingress/sds/

[2019-03-05 17:43] #10300 closed

[2019-03-05 17:43] duderino commented on #11951
Doc instructions say this:

[code]

I think this is now a doc bug, albeit not a high priority one.

[2019-03-05 17:45] duderino commented on #12046
Closing in favor of https://github.com/istio/istio/issues/11951 which as more state.  Still an open bug

[2019-03-05 17:45] #12046 closed

[2019-03-05 17:47] rshriram commented on #12015
where the value we provide is just SDS plus some metrics for ingress? the user cannot use any other aspect of gateway or virtual service. No routing rules or any form of customization, for various reasons. IF these users start asking for the ability to customize, we will end up directing them to use the Gateways.

[2019-03-05 17:56] douglas-reid commented on #12022
@kramerul my apologies. I spoke too quickly. `stdio` does indeed log metrics -- much to my surprise.

I've tested with adding `'` around the `"` in the reporter dimension (`reporter: '"test"'`) and configuring `stdio` without logging to a file. It works.

[2019-03-05 17:58] duderino commented on #11881
Thank you @silentdai

[2019-03-05 17:58] #11881 closed

[2019-03-05 17:58] duderino commented on #11888
Closing as a duplicate of https://github.com/istio/istio/pull/12001

[2019-03-05 17:58] #11888 closed

[2019-03-05 17:59] rshriram commented on #12181
We need to set the `dns_refresh_rate` in envoy clusters to reduce the DNS load..

[2019-03-05 18:09] mandarjog commented on #12226
I think removal is risky right now. We should instead just make it configurable. We can document appropriate value later.

[2019-03-05 18:20] douglas-reid commented on #12059
@kramerul i believe that you are confusing a few issues. You can indeed replace `reporter` with `'"test"'` and have it work.

I just tested this and was able to execute the following promQL query: `sum(istio_requests_total) by (reporter)`.

I got the following results:

[code]

Where I think you may be getting tripped up is trying to redefine `requestcount` metrics without also updating the promet

[2019-03-05 18:20] #12059 closed

[2019-03-05 18:23] gbaufake opened #12262 "Ansible Installer fails to install Istio on Istio 1.1.0-rc2 because crds are not being included on Ansible Installer"
**Describe the bug**

- Installing Istio with Ansible on 1.1.0-rc2 is going to work because it doesn't include the crds files from helm template (https://preliminary.istio.io/docs/setup/kubernetes/install/minimal/)

**Expected behavior**
- Ansible should install Istio

**Steps to reproduce the bug**
- Download Istio 1.1.0-rc2

- Execute  `ansible-playbook istio-1.1.0-rc.2/install/kubernetes/ansibl

[2019-03-05 18:29] douglas-reid commented on #12022
@kramerul I believe if you want to write to a file, you'll need to edit the istio-telemetry deployment to mount a volume and proceed from there (i don't believe the scratch image exposes a `/tmp` dir).  Otherwise, simply use the following config and observe it working:

[code]

[2019-03-05 18:29] #12022 closed

[2019-03-05 18:30] douglas-reid commented on #11887
Can we close this now?

[2019-03-05 18:36] howardjohn commented on #11887
Yes, this should be fixed now. If anyone gets similar errors (pods in pending during e2e test) please open another issue.

[2019-03-05 18:36] #11887 closed

[2019-03-05 18:37] howardjohn commented on #11658
Yes, this should be fixed and merged in 1.1 now. Please let me know if you get similar issues in 1.1. Fix for 1.0 is not yet ready

[2019-03-05 18:37] douglas-reid commented on #11487
PR was merged. Marking as closed.

[2019-03-05 18:37] #11487 closed

[2019-03-05 18:39] douglas-reid commented on #10724
This is something we should revisit for 1.2. It is not going to be addressed in the 1.1 timeframe.

[2019-03-05 18:39] douglas-reid commented on #10932
If this is fixed, let's close the issue.