[2018-06-14 03:21] #5885 closed

[2018-06-14 03:34] #4468 closed

[2018-06-14 03:35] diemtvu commented on #6180
Again, the destination rule applied for all client services, regardless of their namespace (nor the rule's namespace). So  `sleep.bar` also uses TLS (correctly) when talk to httpbin.foo.

[2018-06-14 03:36] rshriram commented on #6259
You still can’t get rid of wildcard listeners when you add service entries or have stateful sets.

[2018-06-14 03:41] rshriram commented on #6267
You can mirror the contents of the api folder into istio/api. There is little need to draw in bazel back into istio/istio.

[2018-06-14 03:43] kyessenov commented on #6259
Is it ok to trampoline from a random pod's sidecar to an external service? I think it's not as bad, since an external service does not use the source's credentials. It is similar to sharing an egress between pods.

Stateful sets are a separate problem, and using wildcard listeners for them is a work around, not a final solution.

[2018-06-14 03:46] kyessenov commented on #6267
Mirroring is fine, but then you still need to get bazel files from somewhere, and they should come from the source, which is istio/istio.

[2018-06-14 03:48] rshriram commented on #6259
Can someone clearly describe what the original issue was with an example and how that cryptic pr fixed the issue ?

[2018-06-14 03:53] sebastienvas commented on #6198
Someone changed that in the makefile directly just remove it

On Wed, Jun 13, 2018, 8:09 PM Andy Lai <notifications@github.com> wrote:

[2018-06-14 03:56] rshriram commented on #6266
+1. But let’s please not move and create more duplicates. Let the leads triage and close or manually copy the relevant issues or link to an existing issue. Meanwhile we can lock down the issues repo

[2018-06-14 04:03] rlenglet commented on #6099
In general, I would suggest validating all xDS resources in Pilot's xDS server before returning them to Envoy. That's a pretty low hanging fruit. And that would give us hints re: the root cause of such invalid resources.

[2018-06-14 04:06] hklai commented on #6198
Sent https://github.com/istio/istio/pull/6273

[2018-06-14 04:13] hklai commented on #6198
In fact, skip_cleanup has been around for a long time.... I wonder why it started to have problems?

https://github.com/istio/istio/commit/bdda1750ecf13b2c9dd583098d686c96d849dfbe#diff-7933ec4f065f18948859dcce6db0d5e9

[2018-06-14 04:13] kyessenov commented on #6099
Complete agree @rlenglet . I added the entire validation code synthesizer to envoy APIs, and have no idea why we are still not using it.

[2018-06-14 04:19] diemtvu commented on #6028
We will ship it together with the new way to enable mTLS globally in the next release (a quick heads up, we will provide an yaml file that contain necessary authentication policy and destination rules to enable mTLS, instead of using mesh config flags). Sorry for this migration trouble.

[2018-06-14 04:20] #6028 closed

[2018-06-14 04:23] #1948 closed

[2018-06-14 04:25] rlenglet commented on #6085
istio-proxy

ingress

[2018-06-14 04:27] diemtvu commented on #4361
Mentioned functions have been switched to use ServiceInstance or service name (string).

[2018-06-14 04:27] #4361 closed

[2018-06-14 04:33] diemtvu commented on #4689
@mandarjog, what is the procedure to remove attribute? We want to get rid of `source.user`

[2018-06-14 04:34] #4217 closed

[2018-06-14 04:42] diemtvu commented on #4909
@liminw , @yangminzhu Do you think this is still worth doing?

[2018-06-14 04:45] gyliu513 commented on #6180
Sorry, forget to ask why `sleep.foo to httpbin.bar: 200` succeed?

`foo` namespace is enabling mTLS, but `bar` namespace mTLS was not enabled.

Thanks for your great help @diemtvu , it is really helpful for me to understand those rules!

[2018-06-14 04:46] kyessenov opened #6275 "APAs, referenced attributes, and caching"
In policy checks, proxies can reliably report UID attributes of the pods they belong to. Mixer then applies APAs to derive the rest of the metadata (workload names, services, labels, etc). If the policy references any of the derived metadata, then the resulting referenced attribute returned to the proxy is not useful as a cache key, as the proxy cannot derive the same metadata.

I think we should

[2018-06-14 04:49] ldemailly commented on #576
you don’t think it’s important to have it in CI?

[2018-06-14 04:50] qiujian16 commented on #2413
@andraxylia I have rebased my PR https://github.com/istio/istio/pull/4287, could you help to review it?

[2018-06-14 04:52] ldemailly commented on #2895
do we have an example/task explaining how to set it uo?

[2018-06-14 05:05] diemtvu commented on #6180
You didn't have destination rule that set TLS for `httbin.bar`, so `sleep.foo` used plaintext to talk to `httpbin.bar`.

In summary:
- Authentication policy configures the service(s) itself, defines how the service accept requests.
- DestinationRule configures all other services (clients), defines how they send requests (to the specified `host` in the rule)

They need to match (w.r.t TLS settings)

[2018-06-14 05:07] hklai commented on #576
I don't think it is feasible as both circle and prow do not and cannot run mac builds and tests.

[2018-06-14 05:09] kyessenov commented on #576
There is a circle Mac job on istio/proxy I believe.

On Wed, Jun 13, 2018, 10:07 PM Andy Lai <notifications@github.com> wrote:

[2018-06-14 05:18] geeknoid commented on #6266
I'll go ahead and change the "report a bug" links to point to istio/istio.
I'll also move the template from istio/issue to istio/istio.

On Wed, Jun 13, 2018 at 8:57 PM Shriram Rajagopalan <
notifications@github.com> wrote:

[2018-06-14 05:18] ymesika commented on #5731
My last PR support this was merged yesterday.

[2018-06-14 05:18] #5731 closed

[2018-06-14 05:18] thedebugger commented on #6046
I think we should reopen this issue for a couple of reasons

1) it causes ingress config to go stale. So no changes are reflected to ingress controller if someone adds a gateway with same rules. Ideally, Istio should validate the create gateway request and reject for this use case.

2) How does a virtual service refer to the gateway if the default gateway is not present in the same namespace? So l

[2018-06-14 05:29] johnzheng1975 opened #6276 "istio-pilot/api-server pod restart lots times in nine days"
istio-pilot pod restart 60 times in nine days

ENVIRONMENT
- istio version: 0.8.0
- auth disabled
- k8s 1.9.5

![image](https://user-images.githubusercontent.com/17720035/41392839-9dfc4fc8-6fd5-11e8-92f8-85431b54fcd6.png)

[istio-pilot.log](https://github.com/istio/issues/files/2100901/istio-pilot.log)

**_kubectl describe pod istio-pilot-6c5c6b586c-z4th8 -n istio-system_**
[describe_pod_istio-pil

[2018-06-14 05:29] diemtvu commented on #3455
I'm not aware of Istio config progress in the loop anymore :). However, on authn side, authn policy is now in CRD. I think we can close this for now, and sync back again once we need to test with istio config/galley. Wdyt?

[2018-06-14 05:37] hklai commented on #576
Thanks. I see.
Example: https://circleci.com/gh/istio/proxy/2286

[2018-06-14 05:41] gyliu513 commented on #6180
Thanks @diemtvu  , close this now.

[2018-06-14 05:41] #6180 closed

[2018-06-14 05:55] johnzheng1975 commented on #6276
**_Another environment:_**
Restart 2 times in latest 2 day.

![image](https://user-images.githubusercontent.com/17720035/41393858-4b794256-6fda-11e8-8f25-eeae009cd1a1.png)

kubectl describe pod istio-pilot-6c5c6b586c-2cbnk -n istio-system
Name:           istio-pilot-6c5c6b586c-2cbnk
Namespace:      istio-system
Node:           ip-10-202-83-150.ec2.internal/10.202.83.150
Start Time:     Mon, 11 Jun

[2018-06-14 06:18] disha94 commented on #3404
@nmittler.. Let me check and get back to you in sometime..

[2018-06-14 06:20] johnzheng1975 commented on #6276
Environment | Run time | Restart Count | Note
-- | -- | -- | --
Dev1b | 18 h | 0 | Istio 0.7.1  +   Cilium v1.0.0-rc12
QA1c | 9 d | 60 | Istio 0.8.0  + v1.1.0-rc3   (restart may cause by my testing last week, re-deploy   new services thousands of times)
QA1b | 1 d | 0 | Istio 0.7.1  +   Cilium v1.0.0
Stage1b | 18 h | 0 | Istio 0.8.0  + v1.1.0-rc3
Stage1c | 2 d | 2 | Istio 0.8.0  + v1.1.0-rc3
Prod1

[2018-06-14 06:41] #6009 closed

[2018-06-14 06:46] costinm commented on #6259
Removing wildcard listeners will also break various cases in multicluster/meshexp - we can't know the full list of all IPs a service can use across the mesh.
And is likely to impact performance and scalability - since the number of matches in envoy will drastically increase.

[2018-06-14 06:47] costinm commented on #6259
And yes, statefull sets would also break if we remove the wildcard ports, as well as any non-k8s env where service VIPs are not used.

[2018-06-14 06:49] johnzheng1975 commented on #6276
Thanks Romain (from cilium team) may found root reason from log, FYI
2018-06-12T11:25:16.4091304Z 2018-06-12T11:25:16.408895Z    warn    Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.

[2018-06-14 06:53] costinm commented on #6259
Mandar: I hope you are not proposing removing the option for user to exclude ports from interception - or disabling the interception completely via annotations. Mandatory policy and firewalls are far more complex then capturing and breaking all ports - it requires closing all other ways a user could break out.

[2018-06-14 06:54] ymesika commented on #6031
I'm also seeing these errors with `master` without touching `values.yaml` (galley enabled by default).
Are the galley and validation webhook mutual exclusive?

[2018-06-14 07:03] gyliu513 commented on #6046
+1 to @thedebugger

For 1), Yes, I think we should fail fast as long as there are duplicate gateways with same rules.

For 2), I think the gateway in one namespace can only be accessed by virutalservice in same namespace.

@rshriram @cmluciano  comments for this?

[2018-06-14 07:07] ajit-hybris commented on #6244
@hazzanz I tried that but it does not work, istio ingress fails with the same exception, I would assume for now that its not yet implemented.

[2018-06-14 07:07] #6244 closed

[2018-06-14 07:14] ajit-hybris commented on #6244
BTW, I am using istioctl and not kubectl to deploy gateway.

[2018-06-14 08:21] Yisaer opened #6278 "Is it currect or normal that I can't visit each POD or Service by Pod ip or Cluster ip with Istio0.7 installed?"
Hello , I installed Istio0.7 and prometheus and I found that prometheus can't visit each pod by pod ip with istio enabled , so is it currect that we can't visit pod by pod ip with Istio enabled?

[2018-06-14 09:03] axel7born opened #6279 "Destination rule specification when mTLS is configured"
Hi,
As proposed on [Istio Developers](https://groups.google.com/forum/#!topic/istio-dev/q-Xja7OUGNg), here is a step by step description on how to reproduce the problem.
* Set up Istio using mTLS using `kubectl apply -f install/kubernetes/istio-demo-auth.yaml`.
* Deploy the httpbin example: `kubectl apply -f samples/httpbin/httpbin.yaml`
* Deploy a test container: `kubectl apply -f samples/sleep/s

[2018-06-14 09:07] charlesakalugwu commented on #5726
i'm also experiencing exactly the same as @cwocwo

[2018-06-14 09:27] costinm commented on #6276
That message is normal( well, confusing and needs to be clened up, but harmless). It only means in-cluster config is used, with no override - which is normal behavior.

[2018-06-14 09:55] mandarjog commented on #6259
We should keep exclusion options, as they are needed many times.
However it should be an explicit opt out option.

[2018-06-14 10:44] zmlcc commented on #1756
I have tried to run istio in an ipv6-only kubernetes cluster recently. By some incompatible hard-coded modifications，istio/envoy  really works.

To implicitly adapt both ipv4 and ipv6,  there first should be a way to  verify  the host support ipv6 or not.
 Does it make sense to determine it by the output of `/proc/net/if_inet6` ?
The output is not empty If the host enables ipv6 and vice versa

How

[2018-06-14 11:31] dzendmitry commented on #5383
As I know everything is fine in 0.8

[2018-06-14 11:32] dzendmitry commented on #5726
As I know everything is fine in 0.8

[2018-06-14 12:00] maxkondr opened #6282 "SSL certificates to host several domains"
Hi,

istio 0.8.0

In the doc https://istio.io/docs/tasks/traffic-management/ingress/#add-a-secure-port-https-to-our-gateway I see following:
[code]

Q: I need to handle several hosts with separate certificates- how should I configure them?

[2018-06-14 12:03] maxkondr commented on #6100
Actually file istio-0.8.0/install/kubernetes/istio-demo.yaml contains `istio-ingressgateway` Deployment definition:
[code]

[2018-06-14 12:33] geoand commented on #4368
@metacosm means the Openshift master config file (I'm not sure where such a file is in stock Kubernetes).

[2018-06-14 12:44] chandresh-pancholi commented on #6187
We are facing the same issue with Istio 0.6 version.
From local, we can see the operation-name in Jaeger but when we hit Istio-ingress. it shows default-route.
It is difficult to find traces with default-route as it's coming for every api call.

[2018-06-14 12:58] icowan opened #6283 "Istio 0.8.0 EnvoyV2 memory consumption is too high"
# Istio 0.8.0 EnvoyV2 Memory consumption is too high

### istio 0.7.1

![](https://ofbudvg4c.qnssl.com/images/k8s/15289807430340.jpg)

Kubernetes version: v1.10.0

### istio 0.8.0

![](https://ofbudvg4c.qnssl.com/images/k8s/15289807832139.jpg)

Kubernetes version: v1.10.3

[2018-06-14 13:04] ymesika commented on #5986
Duplication of istio/issues#368

[2018-06-14 13:04] #5986 closed

[2018-06-14 13:27] ymesika commented on #4140
Please open another issue if still happening in v0.8.0.
`RouteRule` has been deprecated.

[2018-06-14 13:27] #4140 closed

[2018-06-14 13:53] liamawhite commented on #5383
Thanks for the update! Closing.

[2018-06-14 13:53] #5383 closed

[2018-06-14 14:46] esnible commented on #5327
@ayj I have a theory.  The documentation at https://github.com/heptio/authenticator says the Heptio authenticator requires a 1.10+ _kubectl_ binary to work.  Our _Gopkg.toml_ specifies kubernetes-1.9.1 with a TODO to go to 1.10.  I will try using new K8s libraries and see if that fixes things.

I don't have an AWS account but I was able to reproduce.  Here are instructions to reproduce without AWS

[2018-06-14 14:53] Thiebout commented on #6240
Same error was also reproduced here. Following this issue.

[2018-06-14 15:00] rshriram commented on #6146
But the subnet should be stable right? for example, you could specify the include range to be 100.* (assuming that all service IPs are going to be in this /8 prefix. If thats to big, a /16 prefix should help).

[2018-06-14 15:28] Yisaer commented on #6278
you mean it is correct that i can't acces pod by pod ip with istio enabled. @ymesika

[2018-06-14 15:33] kinghrothgar commented on #3295
I can't figure out how to turn on debug logging for istio-proxy and I assume I need to as currently this is the only information I get

```[hello-world-795769b484-474h4] [2018-06-14T15:24:23.623Z] "GET / HTTP/1.1" 503 UC 0 57 0 - "-" "istio/fortio-0.11.0" "49055e90-5ead-982d-aeb8-4baf2860f33d" "hello-world.default.svc.cluster.local" "127.0.0.1:80"```

[2018-06-14 15:36] rshriram commented on #6146
Here why we haven't done it programmatically

I think the easiest option to allow all external is the includeIP ranges.. but that precludes you from using service entries and have custom routing for one or more external services.

There is a PR that I proposed where we would program envoy to simply forward unknown IPs to their requested destination (https://github.com/istio/istio/pull/4376) based

[2018-06-14 15:46] andraxylia commented on #6100
istio-ingressgateway is different from istio-ingress.

[2018-06-14 15:46] spikecurtis commented on #1756
@zmlcc I don't see the harm in Istio running dual stack, where available. Can you elaborate?

[2018-06-14 15:48] andraxylia commented on #6100
See here the two different deployments:
https://github.com/istio/istio/tree/master/install/kubernetes/helm/istio/charts

[2018-06-14 15:48] #3455 closed

[2018-06-14 15:49] ozevren commented on #3505
Galley is already on SharedInformer plan.

[2018-06-14 15:49] #3505 closed

[2018-06-14 15:53] andraxylia commented on #5726
Gateway is not mandatory, but strongly recommended, especially if you want to apply routing rules to ingressing traffic. See here some of the reasons why this was introduced:

https://istio.io/blog/2018/v1alpha3-routing/

Ingress without routing rules works fine with 0.8, and we have a tool to convert from Ingress to Gateway, if it cannot be done manually.

I will close this for now, please re-ope

[2018-06-14 16:12] andraxylia commented on #6259
@rshriram the problem is when traffic is sent to a pod with a spoofed host. The in and out listeners are mixed together, there is no separation. The incoming traffic is matched against a "0.0.0.0:port" listener with the spoofed host, and sent to the outbound route to the microservice for the spoofed host.

The fix in the inboundPorts does not let that traffic enter Envoy, so it is not trampolined.

[2018-06-14 16:15] kyessenov commented on #6259
If a user types `curl -H serviceB serviceA` and the request reaches service B instead of service A, then that's a UX problem. The expectation is that service A VIP receives traffic no matter what host is specified. Therefore, we should respect that, and utilize VIP whenever it is available.

[2018-06-14 16:22] andraxylia commented on #6259
Right, with the current inboundPort exclusion the traffic will reach serviceA, which will see it is spoofed and it contains hostB instead of hostA. We do not want to have serviceA exposed as external used as a trampoline to reach serviceB which is internal only.

[2018-06-14 16:30] douglas-reid commented on #6275
I think this would be very useful. We had some design discussions around better plumbing attribute use / derivation characteristics through APAs, etc. awhile back. Unfortunately, I think we only ended up addressing the low-hanging fruit. IIRC, this was part of it. Being able to track attribute derivation is definitely on our TODOs.

[2018-06-14 16:32] andraxylia commented on #2895
You are right, there is none, re-opening.

[2018-06-14 16:32] Stono commented on #5992
@jasmine-jaksic I feel this is a bug, not a question.

[2018-06-14 16:51] sebastienvas commented on #1511
I am not sure, I think the framework is going fix this, but if you do make test out of the box does it work ?

[2018-06-14 16:51] spikecurtis commented on #5815
We use conntracking to identify packets associated with established connections, which then bypass the full network policy. This is both for speed, and convenience. Not everyone uses kernel conntracking, but I believe operating on connections rather than packets is the standard thing to do (not just Calico).

Without this behavior it is very difficult to manage usable rules. For example, let's say

[2018-06-14 16:54] andraxylia commented on #5815
I see, thanks for the explanation @spikecurtis

[2018-06-14 16:55] gbaufake commented on #6190
@geoand

I think it won't solve my problem since the backport for older versions will be dropped.

Checking the old branches may solve it (I have tested for 0.7.1 and it seems to be fine)

[2018-06-14 16:55] #6190 closed

[2018-06-14 17:02] gbaufake opened #6286 "[Ansible] Prometheus file is not being located"
**Describe the bug**
Installing Istio using Ansible on master is not working because prometheus file is not being located

fatal: [localhost]: FAILED! => {"changed": false, "msg": "Path /home/jenkins/.istio/istio-0.8.0/install/kubernetes/addons/prometheus.yaml does not exist !", "rc": 257}
	to retry, use: --limit @/home/jenkins/workspace/Istio-Upstream/istio/install/ansible/main.retr

Full log att

[2018-06-14 17:02] geoand commented on #6190
The PR will only work for `0.8`. I am pretty sure it won't work for older versions (although I haven't tried it)

[2018-06-14 17:03] gbaufake commented on #6286
cc @ymesika @sdake @gyliu513 @geoand

[2018-06-14 17:05] geoand commented on #6286
At the risk of sounding like a broken record, have you tested if  PR #6144 solves the problem?

[2018-06-14 17:07] geoand commented on #6286
The istio (demo) installation has changed a lot in `0.8.0` and the PR is meant to address the various issues (while also dropping any notion of backward compatibility)

[2018-06-14 17:08] geoand commented on #6286
@gbaufake In the PR you will see that most of the add-ons have been dropped, including Prometheus. That's because the Istio demo installation now adds them by default and therefore there is no need for the playbook to perform any special handling

[2018-06-14 17:19] ldemailly commented on #3295
`503 UC` is good enough info (though verbose logging would have more details)

[2018-06-14 17:33] rshriram commented on #6259
don't understand.. we setup inbound listeners to listen on the pod IP only. And the http connection manager in that listener can only route to local app and no where else, because we don't have any other virtual hosts in the inbound path.
so, even if I send a request to a pod IP with a spoofed host, it would end up in the local app and not go out.
if I send a request to a service VIP with a spoofe

[2018-06-14 17:41] quanjielin opened #6288 "e2e test case TestAuthNJwt/a->d[200]) failed randomly with auth enabled"
**Describe the bug**
one jwt e2e test case(e2e/tests/pilot TestAuthNJwt/a->d[200]) failed randomly in e2e-pilot-auth-v1alpha3-v2, disable this test case for now until we figure out the cause.

**Is Istio Auth enabled or not?**
authN enabled

**Steps to reproduce the bug**
sample failure logs(https://k8s-gubernator.appspot.com/build/istio-circleci/presubmit/e2e-pilot-auth-v1alpha3-v2/114499)
pilot_

[2018-06-14 17:44] rshriram commented on #5934
Please note that while RDS fixes grpc streaming, it does not fix the flakes in the mixer test. There is more to do to fix those flakes.

[2018-06-14 17:46] kyessenov opened #6291 "mixer: reject mixed-case quota names"
Per kubernetes convention, we should assume resource names are lower-case. Validation should reject quota names that are mixed case.

[2018-06-14 18:01] sisiras commented on #6240
I am having the same issue. Not sure if routing rules correctly picked up Istio mesh. Big thank for any help.

[2018-06-14 18:01] wattli commented on #2330
Sorry this was a mistake.
https://github.com/istio/istio/blob/master/install/kubernetes/templates/istio-citadel-plugin-certs.yaml.tmpl
@myidpt , can you take a look please? I think you should have more context on this. Thanks.

[2018-06-14 18:07] ymesika commented on #3941
Updated in #6277

[2018-06-14 18:07] #3941 closed

[2018-06-14 18:15] JimmyCYJ commented on #6241
I have run
gometalinter --config=./lintconfig_base.json ./...
and
gometalinter.v2 --config=./lintconfig_base.json ./...
and I don't see any errors.

[2018-06-14 18:22] gargnupur commented on #2800
Updated https://github.com/istio/istio/wiki/Mixer-Running-a-Local-Instance to use mixs and mixc.

https://github.com/istio/istio/wiki/Mixer-Adapter-Walkthrough was updated before to remove any bazel refs.

@douglas-reid , @geeknoid : Please see if this looks ok and we can close this item accordingly.

[2018-06-14 18:32] rshriram commented on #6267
if I copy istio/api into istio/istio, can I simply keep the bazel files within the api/ folder? if not, i nominate you for the task. :)

[2018-06-14 18:35] kyessenov commented on #6267
I think we thought you signed up for the task. You need to put bazel files in the root of the repo, since that's what bazel expects.

[2018-06-14 18:40] frankbu commented on #6240
You are using the old version of this file: `samples/bookinfo/kube/route-rule-all-v1.yaml`. The new version (look closely at the doc) is in `samples/bookinfo/routing/route-rule-all-v1.yaml`

[2018-06-14 18:49] wattli commented on #6182
@gyliu513 , this is not something we will be able to support in 1.0. But beyond 1.0, we may plan some resource to support this.

[2018-06-14 18:51] qiwzhang commented on #6267
Proxy can create  "api" folder which is just the mirror of "istio/istio "api" folder.  Put bazel files inside the "api" folder.

[2018-06-14 18:52] hklai commented on #6241
How about "make lint"

On Thu, Jun 14, 2018 at 11:15 AM Yinjie Chen <notifications@github.com>
wrote:

[2018-06-14 19:02] wattli commented on #6145
This is about the actual readiness of istio-proxy/istio-pilot. I am not actively working on it.

[2018-06-14 19:02] JimmyCYJ commented on #6241
make lint passes lint checks. Here is the output from my terminal.

+ echo 'Installing gometalinter ....'
Installing gometalinter ....
+ go get -u gopkg.in/alecthomas/gometalinter.v2
++ which gometalinter.v2
+ gometalinter=/usr/local/google/home/yinjie/go/bin/gometalinter.v2
+ /usr/local/google/home/yinjie/go/bin/gometalinter.v2 --install
Installing:
  deadcode
  dupl
  errcheck
  gas
  goconst

[2018-06-14 19:06] kyessenov commented on #6154
cc @bianpengyuan @douglas-reid @smawson

[2018-06-14 19:08] sisiras commented on #6240
@frankbu Thank you for your prompt reply. I used samples/bookinfo/routing/route-rule-all-v1.yaml.
I followed the issue #375 and tried with :
istioctl create -f samples/bookinfo/routing/route-rule-all-v1-mtls.yaml
but it is not successful.
Any help appreciated.
Thanks again

[2018-06-14 19:14] gbaufake commented on #6286
@geoand Right. Your PR #6144
Sorry for not trying this first before open this issue.

A little detail:

fatal: [localhost]: FAILED! => {"msg": "'istio_all_addons' is undefined"}
...ignoring

fatal: [localhost]: FAILED! => {"msg": "'istio_all_addons' is undefined"}
...ignoring

`istio_all_addons` is not defined I think... should this step be mainted on your PR or should this variable be defined?

B

[2018-06-14 19:22] geoand commented on #6286
Good catch!

I didn't check the delete stuff! I will update the PR soon to fix the
issue.
Thanks for reporting this!

On Thu, Jun 14, 2018, 22:15 Guilherme Baufaker Rêgo <
notifications@github.com> wrote:

[2018-06-14 19:23] brian-avery opened #6298 "Unit Tests Broken with Go 0.9.6"
**Describe the bug**
The Istio unit tests are broken if running Go 1.9.6. Note that upgrading to Go 1.10 fixes the problem. For an example, execute test TestAuthnCheckReportAttributesOriginJwtNoBoundToOrigin

**Expected behavior**
Make test should work in both Go 1.9.6 and 1.10.

**Steps to reproduce the bug**
Execute "go test -timeout 30s istio.io/istio/mixer/test/client/istio_authn_origin_jwt_bo

[2018-06-14 19:29] kyessenov opened #6299 "Incremental xDS"
Ref: https://github.com/envoyproxy/envoy/pull/3470

We would like envoy to dynamically request envoy resources to enable dynamic behavior controlled through the policy engine. Policy engine can issue route directives that allow envoy to divert traffic based on policy backend decisions. However, the control is limited by what the proxy already knows about (which is mostly inferred by envoy manageme

[2018-06-14 19:36] gbaufake commented on #6286
@geoand Did you push it? I've not seen it.

[2018-06-14 19:42] geoand commented on #6286
The change should be in the `delete_resources` file.
I see as part of the changes in the PR

[2018-06-14 19:46] geeknoid commented on #2800
Looks good. Thanks!

[2018-06-14 19:46] #2800 closed

[2018-06-14 19:56] andrew-dinunzio opened #6301 "Helm install times out due to postinstall fail"
**Describe the bug**
A clear and concise description of what the bug is.

Using the release for Istio 0.8.

After running:
```$ helm install install/kubernetes/helm/istio --name istio --namespace istio-system```
I see: `Error: watch closed before Until timeout`.

The issue seems to be related to `istio-mixer-post-install`. Here are the logs for the Helm tiller:
[code]

Looking at the jobs, it seem

[2018-06-14 20:08] rshriram commented on #6261
Please upgrade to 0.8 and use DestinationRule instead.

[2018-06-14 20:13] gbaufake commented on #6286
It is there.

Thank you!

[2018-06-14 20:14] geoand commented on #6286
Thank you for spotting the issue!!!

On Thu, Jun 14, 2018, 23:13 Guilherme Baufaker Rêgo <
notifications@github.com> wrote:

[2018-06-14 20:17] frankbu commented on #6240
@sisiras: your problem sounds different than the one that @kinderyj is describing above (notice that the example above is using the bookinfo/kube version and it's creating RouteRule resources instead of VirtualServices).

It might be best if you open a different issue and describe the details of your configuration and show the output of the various commands in your case?

[2018-06-14 20:17] rshriram commented on #5992
if you have two headless services on same port, the collision is expected. However, network access to those headless services should continue to work. Is the network connectivity blocked?

[2018-06-14 20:20] Stono commented on #5992
But they're in different namespaces?  Surely we shouldn't expect constant error messages in the log about collisions for something which is a perfectly valid configuration?

[2018-06-14 20:27] wattli commented on #4491
obsolete as we are not going with flexvolume any more.

[2018-06-14 20:27] #4491 closed

[2018-06-14 20:28] rshriram commented on #5992
Are you confused about the warning or are is there an actual network connectivity issue? the warning in your case is benign. We setup envoy passthough listeners for headless services. So, the traffic for <anyIP>:someport will simply pass through envoy to the intended destination (irrespective of namespaces or not). The only glitch is that you will not see stats for the second service, due to the w

[2018-06-14 20:28] wattli commented on #4252
@incfly fyi

[2018-06-14 20:34] sisiras commented on #6240
@frankbu
Sure, I will open an issue.
Thanks again.

[2018-06-14 20:43] Stono commented on #5992
We did observe connectivity issues but I'm unable to reproduce it now, so
the only issue at the moment is the constant log message and as you say, a
loss off stats for all but the first service.

FYI we run a large multi tenant cluster where people work in isolation in
their own namespaces.  Multiple people deploy things like alertmanager as a
statefulsets with a headless service.

Those teams may

[2018-06-14 20:52] kyessenov commented on #1481
This has been addressed in a series of discussions.

For HTTP:
- source sets destination service to unknown, to be changed to the upstream-derived value (e.g. what the client expects the destination to be)
- destination uses host matching to pick destination service, defaulting to "unknown"

For TCP:
- same as for HTTP at the source
- destination picks the first destination service pointing to the

[2018-06-14 20:52] #1481 closed

[2018-06-14 20:57] mdemirhan commented on #6146
@andraxylia Can you please provide an example YAML for your suggestion? I will try and see if it works.

@rshriram Thanks for the explanation, but we really need a solution to this. If a single configuration change that @andraxylia mentioned above works, that is great. We cannot ask our customers to create Istio rules for every external call they will do.

Can Istio not query k8s APIs and get clus

[2018-06-14 20:59] andersjanmyr opened #6303 "Ingress to VirtualService conversion fails"
**Describe the bug**
When a new ingress is added it is not converted to a Gateway and VirtualService and the pilot logs shows conversion errors.

**Expected behavior**
I expected the converted resources to be created and the pilot logs to not show any errors.

**Steps to reproduce the bug**
* Deploy Istio 0.8
* Add an Ingress
[code]

* Verify that the gateway and virtual service has not been creat

[2018-06-14 21:03] liamawhite commented on #4844
@maxkondr How did it go? Can we close this issue?

[2018-06-14 21:04] #4841 closed

[2018-06-14 21:07] frankbu commented on #6145
This looks like its covered by #6082

[2018-06-14 21:07] #6145 closed

[2018-06-14 21:07] liamawhite commented on #882
This is possible by looking at the `config_dump` endpoint in Envoy Admin API. You can work out which clusters/listeners/routes have been added from Pilot.

[2018-06-14 21:09] Stono commented on #6145
@frankbu how would I utilise that issue to resolve this one?

[2018-06-14 21:11] gargnupur commented on #2799
@douglas-reid , @geeknoid : Following doc covers deploying mixer using make push
https://github.com/istio/istio/wiki/Mixer-Using-a-Custom-Adapter

Verified it works and edited it to change istio-mixer to istio-telemetry for deployments..

Please let me know if we should anything more to this...

[2018-06-14 21:14] kyessenov commented on #1469
Mixer tests handle many of the cases we care about.
Since majority of metrics is now derived through mixer, the test plan hinges on mixer unit tests for adapters.

[2018-06-14 21:14] #1469 closed

[2018-06-14 21:16] geeknoid commented on #2799
Beautiful, thanks!

[2018-06-14 21:16] #2799 closed

[2018-06-14 21:19] geeknoid commented on #6266
So:

- Bug reporting links now point to istio/istio/issues

- We now use GitHub's new templating controls. When you click "New Issue" in istio/istio, you now get asked whether you want to report a bug or a request a new feature, and you get type-appropriate templates.

- The issue template on istio/issues was updated with a link to the istio/istio repo asking people to post issues there instead.

[2018-06-14 21:22] frankbu commented on #6145
For a proper solution, seems you need to wait for the solution to #882.

If you are looking for a short term workaround, I guess you could look at getting Envoy stats, something like what istioctl will be doing for #6082.

[2018-06-14 21:33] kvudata opened #6307 "Sidecar injector webhook fails, injector service is unresponsive"
**Describe the bug**
A ReplicaSet is failing to be created due to the admission webhook failing to be called.

The error extracted via `kubectl describe rs`:
[code]

**Expected behavior**
Be able to successfully update a Deployment which in turn creates a ReplicaSet.

**Steps to reproduce the bug**
Unsure how to reproduce, but I'm happy to provide any debug info I can extract.
My steps were:
* Ins

[2018-06-14 21:38] kyessenov commented on #6267
@qiwzhang @geeknoid are we open to moving proxy into istio as well? We can go monorepo all the way.... Combining api and istio creates a vicious dependency cycle istio <-> proxy.

[2018-06-14 21:45] jasmine-jaksic commented on #6266
@rshriram I understand why you don't want to move them in bulk but the flip side is people opening new entries in the issues repo. As an example, 3 new ones were opened in the last 24 hours.

Not to mention we currently have ~160 open issues in that repo. It took 11 of us about 3 hours to close ~100 issues yesterday, I'm not sure when we will have a dedicated triage session next time. Why don't we

[2018-06-14 22:13] kyessenov opened #6309 "TestIngressCache is flaky"
[code]

Looks like caching got triggered very late in the test...

cc @douglas-reid @qiwzhang @mandarjog

[2018-06-14 22:13] kyessenov commented on #6309
Ref: https://circleci.com/gh/istio/istio/115139?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

@rshriram is RDS still not enabled?

[2018-06-14 22:33] geeknoid commented on #6266
Moving issues between repos unfortunately lose all labels. So they would
have to be reapplied.

On Thu, Jun 14, 2018 at 2:45 PM jasmine-jaksic <notifications@github.com>
wrote:

[2018-06-14 22:35] geeknoid commented on #6267
​So what benefits do we get by the current split?​

On Thu, Jun 14, 2018 at 2:38 PM Kuat <notifications@github.com> wrote:

[2018-06-14 22:45] bazaglia commented on #4938
@ozevren Sometimes I get this error:

[code]

Usually it happens when I deploy a new pod. Stopping and starting minikube solves it.

[2018-06-15 00:37] kyessenov commented on #6259
@andraxylia It's not spoofing. Imagine "serviceB" was just the external name for serviceA (e.g. coming through ingress).

[2018-06-15 01:15] incfly commented on #6279
Okay, now with these steps it's clear to me we need to update our doc better to reflect the recent change.

This is intended behavior. To explain in details,

-  When you use `istio-demo-auth.yaml`, the setup will make both client behavior and server's expectation in TLS.
- You create a `DestinationRule` to configure how the `sleep` talk to `httpbin`, and not specifying `ISTIO_MUTUAL`. In this cas

[2018-06-15 01:33] kinderyj commented on #6240
@frankbu
thanks for your response;
2 points:
1. In samples/bookinfo/**kube**/route-rule-all-v1.yaml (this version do not work for me),  the kind is "RouteRule", you can get the router-rules by using command "istioctl get routerules";
2. But,  in samples/bookinfo/**routing**/route-rule-all-v1.yaml(this version work for me), the kind is "VirtualService" and "DestinationRule"; you will get nothing by

[2018-06-15 01:51] hklai commented on #6241
@JimmyCYJ  Sorry about the noise. My errors were due to some left over code after a refactoring.  make lint works just fine for me.

@gyliu513, did you put istio code in /root/go/src/istio.io/istio? If so, the "../../../../../usr/local/go/src/os/user/" path does not seem to make sense.  Please see https://github.com/istio/istio/wiki/Dev-Guide for GOPATH and istio code set up and make sure you are

[2018-06-15 01:54] gyliu513 commented on #6000
I did not play with other loadbalancers, but only keepalived as loadbalancer in my cluster.

I think we need at least let customer can customize the `port` in order the resolve this issue if it happens.

[2018-06-15 02:05] gyliu513 opened #6312 "Enable Citadel manage a group of namespaces"
**Is your feature request related to a problem? Please describe.**
In 0.8, we can use external CA key and certificate according to here https://istio.io/docs/tasks/security/plugin-ca-cert/ .

The question is if I have multiple services and I want different services use different key and cert, how to achieve this?

I can start multiple citadel services, but how to let different workload use differe

[2018-06-15 02:06] gyliu513 commented on #6182
@wattli I opened an issue at here https://github.com/istio/istio/issues/6312 to trace it.

[2018-06-15 02:06] #6182 closed

[2018-06-15 02:13] gyliu513 commented on #6241
@hklai Yes, I was following the dev guide and the follows are my local env.

[code]
[code]

[code]

[code]
[code]
[code]
Any comment for what is wrong with my environment?

[2018-06-15 02:14] gyliu513 commented on #6241
My go version is

[code]

[2018-06-15 02:30] yangminzhu commented on #4909
I think it's worth to do so but the priority is very low for now. It will benefit us to have a more consistent auth policy but there're a lot of other things to consider for the new design.

[2018-06-15 02:33] gyliu513 commented on #6109
@andraxylia Yes, I think we can use same clusterrole and clusterrolebindings as ingress, will post a PR soon.

[2018-06-15 02:57] douglas-reid commented on #6309
The Metrics and Rate Limit flake may be due, in part, to the intro of `source_workload` dimension on metrics, as the numbers don't look problematic in general. @mandarjog what was the reason you said this test was flaky before?  I feel like there was some attributable cause of flakes.

[2018-06-15 03:01] x15zhang commented on #6135
cc @geeknoid

[2018-06-15 03:07] wenchenglu commented on #6312
@gyliu513
thank you for reporting this feature request. I wonder if you mind discussing this use case in the next Istio Security community meeting, and we can decide the priority and start design to support this use case. We may also ask contribution from community :)

In particular, I am interested in the overall story for this use case including network and monitoring. For example:
(1) do you al

[2018-06-15 03:33] kyessenov commented on #6309
Looks like the above log is from productpage proxy, instead of the more appropriate ingress proxy...

[2018-06-15 04:12] gyliu513 commented on #6312
@wenchenglu thanks for the comments. Please check my answers as below. I want to attend the meeting as well but it is too late for me.

Sorry, not clear for this question. Do you mean we can also configure the namespace to be managed by Pilot and Mixer? I do not know this feature, can you please show more detail for this?

Yes. But for this case, as long as I can provide the root ca, private key a

[2018-06-15 04:39] gargnupur commented on #5306
@douglas-reid , @mandarjog, @qiwzhang  : script to do go:generate in this case is mixer_codegen.sh right? But if I simply run this script, I get errors like this:

[libprotobuf WARNING google/protobuf/compiler/parser.cc:547] No syntax specified for the proto file: . Please use 'syntax = "proto2";' or 'syntax = "proto3";' to specify a syntax version. (Defaulted to proto2 syntax.)
2018/06/14 21:34:4

[2018-06-15 05:36] lizan commented on #6267
The most benefits is for people depends on API only and don't want to pull huge istio/istio repo for just APIs. Within istio that is proxy and I don't know if there are outside interests.

In last [mail thread](https://groups.google.com/forum/#!msg/istio-dev/znLqMD-j-4o/Ab55pnY_CQAJ) the general agreement is making istio/istio as source of truth, and have nightly job to sync it to istio/api.

[2018-06-15 05:51] Rigdon opened #6313 "No Pod Registration with Non-default Cluster Domain"
**Describe the bug**

Pilot discovery is unable to properly register pods and services when running a kubernetes where the `--cluster-domain` argument to kubelet has more than two sections (for example `weimaraner.cluster.local`) and the `--domain` argument passed to the sidecar injector is set to `"$(POD_NAMESPACE).svc.weimaraner.cluster.local"` as described in the [pilot-agent docs](https://isti

[2018-06-15 05:56] kyessenov commented on #6313
Thanks for filing this issue. It's been difficult to enforce the use of "cluster domain" parameter consistently through the system, so there are bits here and there that hardcode "svc.cluster.local".

/cc @rshriram @costinm @louiscryan

[2018-06-15 06:00] Rigdon commented on #6313
A side note that may end up being an issue: We'll be running multiple Kubernetes clusters and each of these will have a different cluster domain but using a centralized control plane as described in #6092.

[2018-06-15 06:16] Rigdon commented on #6092
Quick update on this: I have an installation process that seems to be working very well but I'm currently hung up on #6313 that isn't directly related to multi-cluster but may involve additional work to support multiple clusters with different cluster domains. I've also incorporated an ILB and the RBAC guidelines from [this PR](https://github.com/istio/istio.github.io/pull/1484) but will keep thos

[2018-06-15 06:19] c-knowles opened #6314 "Datadog tracing APM support"
Istio already has a mixer adapter for dogstatsd/datadog metrics. I was trying to figure out if it would be easy to create an adapter for datadog APM tracing but I'm not sure how pluggable the distributed tracing is yet.

From the datadog side, they now support the CNCF OpenTracing:
https://www.datadoghq.com/blog/opentracing-datadog-cncf/
https://github.com/DataDog/dd-trace-go

**Describe the solut

[2018-06-15 06:39] johnzheng1975 commented on #6085
@andraxylia Thanks Romain's answer for me.
For logs you requested, I will send all when I find this issue next time.

[2018-06-15 07:34] maxkondr commented on #4844
I think you may close this issue as soon as starting from 0.8.0 istio uses another mechanisms for traffic policy.

[2018-06-15 07:50] gyliu513 opened #6315 "Mixer report service source as unknown"
I deployed an nginx service with following file injected by Istio.
[code]

And then access the nginx service via NodePort or access the pod IP directly, but there is no tracing info from Jaeger.

Check mixer log, it reports `"sourceService":"unknown"` with my-nginx services, what is wrong with my configuration?

[code]

/cc @mandarjog @douglas-reid any comments for this?

[2018-06-15 08:41] zmlcc commented on #1756
@spikecurtis  To run in dual stack, istio may require extra network abilities or add extra traffic rule (e.g. #5273),  which are not necessary or expected for the operator.

For example, considering a dual stack cluster where the business traffic is running in ipv6 and the management traffic is in ipv4. Using istio to manage micro services in ipv6 is good, but the operator do not want istio effect

[2018-06-15 08:47] vaidsu commented on #2974
@hklai quick question, I tried to run the setup one by one, may be I am missing something, or this is not the right place to ask (if you feel so I can ask in the mailer), but after some hours of stretch to get everything setup, I am stuck here:

[code]

Is there anything I am missing here. Like mentioned in the guide, I did check prow web results, and I found a similar run on e2e_simple and I foun

[2018-06-15 08:47] #4844 closed

[2018-06-15 08:48] costinm commented on #1756
As a reminder, in 0.8 the IP6 is explicitly disabled in sidecar capture -
we had a security bug with capturing all ports, and didn't have time to add
and
test  the ip6 fix.  It is obviously a priority to get this fixed ASAP and
before 1.0.

We also need quite a bit of work to have automated tests for IP6 endpoints
in EDS - we can do a bit using ServiceEntry, but currently
the test infra doesn't ru

[2018-06-15 09:51] gyliu513 commented on #6315
I was not using `app:` as label, and this caused the injector is injecting `istio-proxy` as my `serviceCluster`.

[code]

[code]

After adding `app` label, mixer can report the correct `sourceService`.

Now my question is, when `istio-proxy` as my `serviceCluster`, why the `sourceService` is `unknown`?

[2018-06-15 11:51] gyliu513 opened #6316 "Jaeger cannot show trace if the service port name is not `http`"
Did some test with following YAML template, setting ports name as `nginx`, and inject sidecar, then deploy the nginx, found no tracing in Jaeger.

[code]

But if I change the port name to `http`, the tracing works.

[code]

So here the problem is:
1) Why must I set the port name as `http`?
2) How to handle the case if there are multiple ports exposed by a services, how to define the name?
3) All o

[2018-06-15 12:54] #5538 closed

[2018-06-15 12:54] esnible commented on #5538
@ozevren All that was left was merging the AGE column.  That was done yesterday and I am closing this item.

[2018-06-15 12:57] esnible commented on #5062
Resolved by https://github.com/istio/istio/pull/6249

[2018-06-15 12:57] #5062 closed

[2018-06-15 13:07] sbezverk commented on #6316
@gyliu513 I think in former yaml you are missing name for contrainerPort: 80
[code]

Please add it and see if it helps.

[2018-06-15 13:07] tiswanso commented on #6153
This seems most applicable to documentation since I believe the install templates allow for setting up citadel to use secrets for keys/certs.  Orchestrating the distribution of certs/keys signed by common CA seems outside the scope of istio/istio.

[2018-06-15 13:10] stuart-mclaren opened #6317 "Can't enable TLS on one port, but not another via policy."
**Describe the bug**

Can't enable TLS on one port, but not another via policy.

**Expected behavior**

Should be able to access pod via two ports: one http, another https.

**Steps to reproduce the bug**

First, disable automatic side car injection:

$ kubectl label namespace default istio-injection=disabled --overwrite=true

$ cat ../istio-0.8.0/samples/httpbin/httpbin.yaml
#####################

[2018-06-15 13:31] Stono opened #6318 "5s refresh on 6h dashboard (Istio HTTP/GRPC Service Dashboard ) results in strange UI"
Hey @douglas-reid
Another observation on the new dashboards for you.

I have a service which gets infrequent (10-20 Reqs per minute) so I set the dashboard to a 6h interval, but left the 5s refresh enabled.

What this results in is a totally different looking graph every 5 seconds, guessing to do with the way the data is being sampled?  I'm not sure. Either way it results in a totally different vi

[2018-06-15 13:33] frankbu commented on #6240
@kinderyl: Yes, RouteRule is deprecated. To see the route rules, you now should use `istioctl get virtualservices`. You can read about this change here: https://istio.io/blog/2018/v1alpha3-routing/

[2018-06-15 13:34] #6240 closed

[2018-06-15 14:06] sbezverk commented on #4822
@sdake Here is PR to switch multicluster's secret controller to use envoy v2 API:
https://github.com/istio/istio/pull/6311

[2018-06-15 14:08] gyliu513 opened #6319 "Enable using hostname to access service"
With Ingress Gateway, we have a limitation to access services with hostname at https://istio.io/docs/tasks/traffic-management/ingress/#accessing-istio-service-mesh-by-a-browser , this is different with ingress which can enable us to access service using hostname. I think we need to bring this feature back with Ingress Gateway.

/cc @rshriram @cmluciano

[2018-06-15 14:18] tiswanso opened #6321 "istio-remote helm chart should optionally render services' info"
**Describe the bug**
Not every Istio installation will have all possible Istio project services instantiated.  The istio-remote helm chart should be able to be rendered to exclude unused services.

**Expected behavior**
For example, if `zipkin` is not part of the Istio control-plane installation, the whole selectorless services section and endpoints section for `zipkin` should not be included in t

[2018-06-15 14:21] douglas-reid commented on #6318
@Stono It probably does have something to do with sampling rate and the querying. If you are feeling adventurous, you could try editing the queries and change `irate` to `rate` and possibly extending the window of time in the calculation and see what the impact is.

I hope to spend more time with the dashboards soon. I'll try out a few things to see if this can be improved. 5s is nice for demos an

[2018-06-15 14:29] douglas-reid commented on #6315
The `source.service` attribute is now deprecated within Istio. There is always the option of continuing to try to map the concept of a source service with the `app` label on a pod available, but as you point out, this depends on that label being present. Outside of that, there is no reliable way to determine `source_service` for a request. You'll soon see `source_service` phased out of Mixer-gener

[2018-06-15 14:32] gyliu513 commented on #6153
I saw there is a design here https://docs.google.com/document/d/1__rxQI74LjSdTNhKcCzzOl8esFMKZeqN5uFQmRYi6KE/edit#heading=h.x9snb54sjlu9 , but seems outdated?

@tiswanso I think we still need a solution to do cert rotation, cert revoke etc cross cluster with istio?

[2018-06-15 14:34] douglas-reid commented on #6316
This might be better discussed on the mailing-list moving forward.

In this case, there is a FAQ entry related to port names that is relevant for consideration: https://istio.io/help/faq/traffic-management/#naming-port-convention.

Named ports: Service ports must be named.

Tracing does not work for plain TCP traffic.

[2018-06-15 14:34] #6316 closed

[2018-06-15 14:51] gyliu513 commented on #6316
Thanks @douglas-reid , after rename the port to `http-xxx`, tracing works perfect in my cluster, thanks!

One more question, you mentioned `Tracing does not work for plain TCP traffic.`, I think the default protocol for a service port is TCP,  so with following configuration, the protocol should be TCP? But the tracing works in my cluster with such configuration.

[code]

[2018-06-15 14:54] tiswanso commented on #6153
@gyliu513 -- Thanks for pointing me to the doc.  It does present a compelling solution to the problem with a lot more features than just setting up common CA root between citadel in multiple clusters.  I stand corrected on whether folks are viewing orchestrating the certs/keys as in scope 😄

I do think until that spec is implemented there's a need for documentation describing the simple case descr

[2018-06-15 14:58] gyliu513 opened #6322 "istio-remote deploy failed when zipkin is disabled"
Please get more detail from https://github.com/istio/istio/pull/6127#issuecomment-397601409

I think the solution is we need add a parameter to check if we need to add zipkin endpoint or not.

/cc @sdake @tiswanso

[2018-06-15 15:08] tiswanso commented on #6322
I created a general istio-remote issue with handling services in #6321

IMO, we should either all but the absolutely essential services optional via not setting endpoint defaults in the values.yaml and checking if the value is set OR using helm subcharts and tags/conditions to include/exclude service manifests.

[2018-06-15 15:11] gyliu513 commented on #6322
Thanks @tiswanso , let me close this one and trace it in your ticket.

[2018-06-15 15:11] #6322 closed

[2018-06-15 15:32] bhaskar-chenchu commented on #4925
Hope this issue is get fixed in the Istio 0.8.0 version? Please confirm

[2018-06-15 15:45] cmluciano opened #6323 "consul: routerules are not populated correctly in 0.8.0"
**Describe the bug**
rr & vs do not work with 0.8.0 & consul pilot adapter. Neither v1 nor v3 reviews rules result in anything but round-robining behavior with the product page

consul v3 sidecar
[code]

pilot logs
[code]

**Expected behavior**
routerules or vs should function correctly for traffic shifting

**Steps to reproduce the bug**

[code]

View localhost:9081 in browser and view that you r

[2018-06-15 15:45] cmluciano commented on #6323
cc @GregHanson

[2018-06-15 15:52] morvencao commented on #6316
In addition, it is recommended that Pods deployed using the Kubernetes Deployment have an explicit app label in the Deployment specification.

[2018-06-15 16:06] hklai commented on #2974
@vaidsu thanks for trying and sorry about the trouble.  There may still be rough edges.

It looks like your cluster could not find the images. Did both your setup_vm.sh, setup_host.sh and setup_test.sh  complete without issues?

At the end of setup_test.sh, it should show the images pushed to your local registry. Did it show anything?

/CC @gargnupur

[2018-06-15 16:16] ayj opened #6324 "Better support for sidecar containers in batch jobs"
Sidecar containers do not play well with k8s jobs. The job will keep running so long as the sidecar proxy is running. This is a general problem not specific to Istio (see https://github.com/kubernetes/kubernetes/issues/25908). The typical workaround includes explicit terminate signaling between app and sidecar container such that the sidecar can exit when the app does.

[2018-06-15 16:17] ayj commented on #6324
cc @Rigdon

[2018-06-15 16:21] gargnupur commented on #2974
@vaidsu : Thanks for reporting, along with what Andy asked, can you get logs of command: "kubectl describe pod istio-citadel-5b8f44687d-9pskc  -n istio-system"
And what is the value of HUB and TAG ?

[2018-06-15 16:31] ostromart commented on #6162
https://github.com/istio/istio/pull/6325

[2018-06-15 16:37] #6162 closed

[2018-06-15 16:48] vaidsu commented on #2974
@hklai and @gargnupur thanks for getting back quickly,. Before I provide some false positives, I wish to understand one quick thing. I tried again, and for some reason the build failed. I can fix build errors by trial and errors, but the question is n how do we manage the non-default ports.

For instance if I wish to use 9000 for kube, am I right doing the following changes only?

1. Run setup_vm.

[2018-06-15 17:07] andraxylia commented on #3745
customConfigFile allows to use a different template file that must exist already in the image.

How do we solve the problem of building with a different envoy bootstrap file?

[2018-06-15 17:08] andraxylia commented on #3745
Also, how do we customize for sidecars also?

[2018-06-15 17:10] gargnupur commented on #2974
@vaidsu : Check out the 6th one here: It mentions how to setup different ports: https://github.com/istio/istio/blob/master/tests/e2e/local/vagrant/Troubleshooting.md

[2018-06-15 17:11] vaidsu commented on #2974
Yes @gargnupur I do the same thing, question is: can the ~/.kube/config in HOST, be different from ~/.kube/config in VM? If yes, then I have configured properly and the build is currently running. If not, there is some changes required in the steps ordering or in the script, I believe.

Also, is there any discord or slack channel that can avoid adding verbiage to the issue tracker?

Thanks again

[2018-06-15 17:15] andraxylia commented on #3745
@kidiyoor do you have a PR or has this been worked on?

[2018-06-15 17:28] andraxylia commented on #3745
We could use an environment variable in the Dockerfile, pointing to the template to be used when the image is built. There is currently a var ISTIO_BOOTSTRAP, but this allows overriding when the bootstrap file is already present in the container's filesystem.

[2018-06-15 17:39] bianpengyuan opened #6329 "Add string concatenation to mixer expression language"
String concatenation could make attributes combination handy in mixer rule and instance definition.

[2018-06-15 17:41] douglas-reid commented on #6314
@c-knowles it should be fairly straightforward to add a Mixer adapter for datadog tracing. there is a tracing template within Mixer.

I'm not going to be working on building this adapter in any near-term timeline, so I'm going to remove myself from assignment.  However, I'm happy to consult on any work and/or review any such adapter.

[2018-06-15 17:43] douglas-reid commented on #6329
This was previously requested as part of: https://github.com/istio/istio/issues/2316.

[2018-06-15 17:47] my3sons commented on #1380
Hello Shriram,

I did retest this scenario with 0.8 and unfortunately, the issue still seems to persist. Below are the VirtualService configs for both my Composite (foo) and atomic (bar). When I send a request with header client-id:esp, the request gets to the composite fine, but the call to the atomic returns 404. I did check the istio-proxy config for my composite and I see the header match rule

[2018-06-15 17:57] gargnupur commented on #2974
Sure, how about using test-and-release slack channel: https://istio.slack.com/messages/C6FCV6WN4/

[2018-06-15 17:57] my3sons commented on #1380
I apologize for the crappy formatting of my yaml, I can't seem to find a way to get around that. Trust me, it's valid yaml :-)

[2018-06-15 18:03] vaidsu commented on #2974
@gargnupur I am not from ibm, so I don't have an existing account into this, can you please send me an invite? vaithi.sures@gmail.com? Is that okay please?

[2018-06-15 18:19] mandarjog opened #6331 "prometheus pod service account cannot list pods"
prometheus is unable to list pods

[code]

[2018-06-15 18:29] yangminzhu opened #6333 "Support adding ServiceRole without Bindings in RBAC"
This is a tracking issue for the difference between the ongoing local RBAC work and the mixer based RBAC.

In Mixer based RBAC, user actually could add a ServiceRole without any bindings. For example, Let's say the user already a namespace level ServiceRole/Binding that grants access to every services for everybody. Then the user want to disable access to `databaes-v2` service. They can add a stan

[2018-06-15 19:00] kidiyoor opened #6335 "503s seen when productpage talks to reviews with virtualservice rules"
while redirecting all traffic to v3 of reviews with v1alpha2 as follow it works fine -
[code]

now trying with virtualservice as follow gives 503 at client envoy(productpage)
[code]

**Version**
gauthamvk@kidiyoor:~/work/crap$ istioctl version
Version: 0.8.0
GitRevision: 6f9f420f0c7119ff4fa6a1966a6f6d89b1b4db84
User: root@48d5ddfd72da
Hub: docker.io/istio
GolangVersion: go1.10.1
BuildStatus: Clean

[2018-06-15 19:02] kidiyoor commented on #6335
more info
[code]
[code]

[2018-06-15 19:07] douglas-reid commented on #6331
I'm confused by this report: https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/prometheus/templates/clusterrole.yaml#L13

Does that binding not exist in your cluster?

[2018-06-15 19:12] douglas-reid commented on #6331
From an example 0.8 cluster:

[code]

[2018-06-15 19:15] yangminzhu commented on #6333
Discussed offline, It's actually the same, The Mixer based RBAC also doesn't support a ServiceRole without any bindings.

[2018-06-15 19:15] #6333 closed

[2018-06-15 21:28] vilobhmm commented on #6335
We tried with and without auth scenarios for mesh expansion and looks like it does not work with the newly added v1alpha3 apis but works perfectly fine with v1alpha1 API's.

[2018-06-15 21:30] aaronjwood commented on #6148
Was there a decision on if we need to support both or if we can go with ECC? I spoke with @PiotrSikora a bit the other day about a CA [being able to use any algo regardless of the algos used on the certificates that it signs](https://tools.ietf.org/html/rfc3280#section-4.1.2.7) but there was some hesitation on the compatibility of RSA certs signed by ECDSA.

I'd think that we'd be okay since the g

[2018-06-15 21:41] mandarjog opened #6342 "Mixer Grpc adapters"
- [ ] Documentation
- [ ] Authentication  #7637
- [ ] Session based adapters
- [ ] Adapter shim
- [ ] Productionize prometheus out of proc adapter

[2018-06-15 21:48] rshriram commented on #6319
? I don’t understand. There is no relationship between dns and gateways. If you make all dns names in the gateway resolve to the gateway ip, you get the functionality you need. Same is true for kubernetes ingress as well. automatically update dns based on ingress or gateway spec is possible with custom implementations

[2018-06-15 21:58] adityats2020 opened #6343 "[Github Wiki] Adapter wiki with broken image links"
**Describe the bug**
The image links are broken in the following wiki explaining the adapter architecture
https://github.com/istio/istio/wiki/Mixer-Adapter-Dev-Guide

**Expected behavior**
Correct links in HTML to the images

**Steps to reproduce the bug**
Go to https://github.com/istio/istio/wiki/Mixer-Adapter-Dev-Guide

Please reassign to relevant bucket if required.

[2018-06-15 22:00] rshriram commented on #6148
https://support.globalsign.com/customer/portal/articles/1995283-ecc-compatibility  go as far back as Ubuntu 12.04, rhel 6.5, vista and OS X 10.6

[2018-06-15 22:17] dgurindapalli commented on #1381
Hi, We have AWS ELB --> Ingress (Running on hostNetwork true option, Proxy is throwing errors) --> APP.
We are sending traffice through ALB, which has been assigned with target nodes, Target nodes should open host ports and container ports.

Do you guys have any fix for ingress running with hostNetwork.

[2018-06-15 22:49] gargnupur commented on #5306
Looks like we have this check depend.diff for vendor changes, extending this to run go generate ./... on Istio repo after any vendor changes..

[2018-06-15 23:06] gargnupur commented on #2797
When all do we need to run go:generate? I know of following:
1) istio/api sha change: https://github.com/istio/istio/pull/6345 -> should take care of it? Can add documentation about this in Vendor FAQ once PR is approved
2) When building new adapter config and https://github.com/istio/istio/wiki/Mixer-Adapter-Walkthrough#step-2-write-adapter-configuration should cover that part of the documentatio

[2018-06-15 23:41] hklai opened #6346 "mixer tests are failing in postsubmit since using v1alpha3"
See https://k8s-testgrid.appspot.com/istio-postsubmits#e2e-suite-rbac-auth

The switch happens between these.
https://github.com/istio/istio/compare/ddc5f752d...a9e8ff221

[2018-06-15 23:46] alexburnos commented on #6112
@jsenon could you please clarify, what exactly seems to be a problem? Do I understand correctly that you are saying that multi-line logs that are produced by go-multierror are hard to parse automatically?

[2018-06-15 23:53] kyessenov commented on #6346
I am having trouble locating what exactly failed. Is this some issue with reporting the test result?

[2018-06-16 00:04] hklai commented on #6346
I0615 22:47:30.439] 2018-06-15T22:47:30.425116Z	error	Failed to complete Init. Error unable to set default route

This is what I don't see in the successful runs from yesterday.

[2018-06-16 00:07] rlenglet commented on #6099
I'll give a shot at a PR to validate on the server side.

[2018-06-16 00:28] andraxylia commented on #6099
thanks @rlenglet

[2018-06-16 00:45] kyessenov commented on #6346
That looks like some routing or installation error...

On Fri, Jun 15, 2018, 5:04 PM Andy Lai <notifications@github.com> wrote:

[2018-06-16 02:05] PiotrSikora commented on #6148
@rshriram am I missing something, or are those certificates going to be used only by sidecars (i.e. backward compatibility isn't really a concern)?

[2018-06-16 02:47] myidpt commented on #6148
@justinburke Hi Justin, do you agree with this proposal?

[2018-06-16 03:40] gyliu513 commented on #6319
@rshriram there are limitations as follows, can this be fixed?

[code]

[2018-06-16 03:41] gyliu513 commented on #6046
Let's get some comments from @rshriram

[2018-06-16 03:50] rshriram commented on #6319
We should remove that line. It’s not saying what you think it is (and led you to create this pr)

[2018-06-16 04:12] gyliu513 commented on #6319
Thanks @rshriram , let me check this.

Another question is for
[code]

So with NodePort Ingress gateway, I will not able to access hosts which is not defined as * ? This is also different with previous ingress.

[2018-06-16 06:16] ayj commented on #6307
The error message success there are no istio-galley pods available. The equivalent k8s 1.10 error message is more informative (see below)

Can you dump the galley endpoints when the problem occurs?

[code]

[2018-06-16 13:18] costinm commented on #6148
Upgrade is a concern.

On Sat, Jun 16, 2018, 04:06 Piotr Sikora <notifications@github.com> wrote:

[2018-06-16 13:52] alexburnos commented on #6112
Ok, go-multierror is used across Istio in general. To change it - it will be overall refactoring of logging approach. Not sure if it is feasible.

@andraxylia can you make a call here pls?

[2018-06-16 20:52] kristiandrucker commented on #5829
The same issue here with a 0.8 cluster on 1.10.4 on GKE

[2018-06-16 23:54] esnible commented on #5327
I don't have Heptio or any Kubernetes client config that requires the Exec Provider.  I believe my PR works but it would be very helpful if the folks following this work item could try bringing https://github.com/istio/istio/pull/6338 into their workspace and building _istioctl_ with `make istioctl`.

If you trust me and are willing to try my handmade _istioctl_ binaries you can get them at
Mac OS

[2018-06-17 04:45] gyliu513 commented on #6315
Thanks @douglas-reid , got it. I want to keep this open until I can see `source_workload` in mixer.

[2018-06-17 14:50] idoshamun commented on #3398
Not sure I understand the solution.
I would like to provide a pod to pod communication for Akka cluster bootstrapping.

[2018-06-17 15:03] c-knowles commented on #6314
@douglas-reid thanks, will take a look at that.

[2018-06-17 16:15] ekarlso opened #6352 "LoadBalancers present when ingress is disabled for Jaeger."
**Describe the bug**
Jaeger is assigned double LoadBalancers even though I have set to have ingress for Jaeger disabled.

**Expected behavior**
No LoadBalancers should be assigned when you disable the ingress, it's not wanted to expose the Query / UI endpoints publicly?

https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/tracing/templates/service.yaml#L23

**Steps to r

[2018-06-18 00:37] john-a-joyce commented on #4252
Is there any fix in progress for this issue?  Unfortunately after pulling master in the last few days my prior workarounds of unmounting and setting a larger size don't work reliably and I am totally blocked from making progress on any other issues.

[2018-06-18 05:46] jeson114 commented on #1379
i just set it to 6 GB , because at 4GB if i added anything other than the Bookinfo sample app . it would give me an unhealthy upstream error . So just to add some leeway there.

[2018-06-18 05:54] ymesika commented on #6352
@ekarlso I do see the problem (even in master) but I don't see the "double LoadBalancers" that you mentioned.

Can you please share the output where you see double jaeger LB?

[2018-06-18 06:01] fevin86 commented on #6046
I walked into this problem as well. I really want to have the flexibility to keep virtual services defined in their own namespace; I think this is a nicer way to organise things.

I am happy having just one global gateway in `default` namespace.

[2018-06-18 07:07] ymesika commented on #3870
@linsun I just tried this configuration (with targetPort) and it's functioning correctly:

[code]

with:

[code]

Is it the scenario you referred to?

[2018-06-18 07:34] gyliu513 commented on #6352
@ekarlso @ymesika  this should have been fixed in https://github.com/istio/istio/pull/6002

[2018-06-18 07:54] ymesika commented on #6352
With current master, if I enable `tracing` and `jaeger` but disable `ingress` I still have the `jaeger-query` LoadBalancer installed.

[2018-06-18 08:03] gyliu513 commented on #6352
@ymesika I think we need to disable lb for `jaeger-query` as well.

[2018-06-18 08:45] ymesika commented on #5380
Fixed by the various PRs.

[2018-06-18 08:45] #5380 closed

[2018-06-18 09:15] robertpanzer commented on #6100
Any hints on a quick workaround after installing the `istio-demo.yaml`?

[2018-06-18 09:56] #6352 closed

[2018-06-18 11:35] elevran opened #6355 "Supporting TLS interception between workload and sidecar proxy"
**Is your feature request related to a problem? Please describe.**
Customers have requested support for TLS between the application and sidecar proxy.
This would:
- avoid dependencies' URL configuration changes (e.g., when using a "client SDK" that does not support it. A recent example discussed was gRPC using Go which always uses h2s, but there are quite a few client libraries that only accept cr

[2018-06-18 13:03] infinitydon opened #6356 "Error Adding Listener"
**Describe the bug**
I am getting the following errors from the istio sidecars:

[code]

How do I troubleshoot/resolve this? What is the impact of this error?

**Version**
[code]

**Is Istio Auth enabled or not?**
No

Did you install the stable istio.yaml, istio-auth.yaml.... or if using the Helm chart please provide full command line input.

Installed via istio.yaml

**Environment**
AWS kops

[2018-06-18 13:35] geeknoid commented on #6269
@sdake

So how would this actually work? If there is a gate both on istio/istio and istio/istio.github.io, then we will never be able to check in changes that require a coordinated update on both sides.  Seems like at least one of the two repo can only have an advisory test, but not a blocking test, for broken links.

[2018-06-18 13:54] maheshrayas commented on #5327
@esnible  I  downloaded the binary from https://ibm.box.com/s/l8lmda5g4q2g81fce1cfrduyw2i7bv6f
 on macos for AWS EKS  and I was able to successfully run the command
 istioctl create -f samples/bookinfo/routing/bookinfo-gateway.yaml.

[2018-06-18 16:18] sdake commented on #4822
Folks when issues are complete please click the checkmark.

Cheers
-steve

[2018-06-18 16:49] douglas-reid commented on #6346
I see a bunch of these logs before the Init failure is reported:

[code]

[2018-06-18 17:39] douglas-reid commented on #6346
Running locally, I cannot repro this issue. Is something causing prow to fail?

[2018-06-18 17:56] kvudata commented on #6307
[code]

[2018-06-18 18:03] saturnism opened #6360 "Istio 0.8 Installation Fails First Attempt"
**Describe the bug**
When installing Istio 0.8.0 on GKE 1.9.7 cluster, `kubectl apply -f istio.yaml` fails the first attempt.

[code]

However, a second run succeeded properly:
[code]

**Expected behavior**
The installation should succeed the first run.

**Steps to reproduce the bug**
1. Create a new GKE 1.9.7 cluster
[code]
1. Install Istio
[code]

**Version**
Istio 0.8.0, GKE 1.9.7

[code]

[cod

[2018-06-18 18:06] sebastienvas commented on #6346
In this [log](https://storage.googleapis.com/istio-prow/e2e-suite-rbac-auth/1895/build-log.txt) I see istio-proxy container crashing

[2018-06-18 18:06] trabetti commented on #6335
I think I see a similar issue. Trying to inject delays to details or reviews with virtualservice as below, and getting 503.
[code]

[2018-06-18 18:09] saturnism commented on #6360
oops, i think there was a mix up on the istio version i was actually applying vs what i thought i had.

[2018-06-18 18:09] #6360 closed

[2018-06-18 18:23] incfly opened #6361 "istio/proxy auth filter gets the wrong config"
https://github.com/istio/proxy/blob/master/src/envoy/http/authn/http_filter_factory.cc#L82
we stored the filter_config_ in auth filter factory.

Compared with other implementation, like mixer filter factory
https://github.com/istio/proxy/blob/master/src/envoy/http/mixer/filter_factory.cc#L42
we always use the passed by filter config.

This issue appears to cause us unable to configure multiplexing

[2018-06-18 18:25] ldemailly opened #6362 "fortio-daily: error in json file should be a build failure instead of saving invalid json"
https://fortio-daily.istio.io/data/qps_max-s2_to_s1-master-20180618-09-15-2018-06-18-15-25.json

contains
[code]
instead of being a failed build

Where are the logs of those dailies ? we need to add a check for errors

and for readyness/sanity check

some of it did run but with max latency of 16s and 100% errors
https://fortio-daily.istio.io/browse?url=qps_max-ingress_to_s1-master-20180618-09-15-2

[2018-06-18 18:37] ozevren commented on #6261
The sample needs to be updated.

[2018-06-18 18:37] incfly commented on #6361
@diemtvu @qiwzhang @lizan

[2018-06-18 18:43] jnativio opened #6363 "Sidecars crashing with build build master-20180615-09-15"
**Describe the bug**
Regression Patrol could not run the tests with build master-20180615-09-15, as the injected pods go to a CrashLoopBackOff mode as they are deployed. The log on the istio-proxy container says:

[2018-06-17 21:58:01.262][17][critical][main] external/envoy/source/server/server.cc:77] error initializing configuration '/etc/istio/proxy/envoy-rev0.json': malformed IP address: istio-

[2018-06-18 18:44] wattli commented on #4252
https://github.com/istio/istio/pull/6305, done.

[2018-06-18 18:44] #4252 closed

[2018-06-18 18:45] ldemailly commented on #6362
probably related to regpatrol detected failure #6363

[2018-06-18 18:47] ldemailly commented on #6363
this sort of networking or helm related @andraxylia can you assign ? (or maybe @linsun ?)

[2018-06-18 18:53] ldemailly commented on #6362
@hklai kindly gave me the link to the logs/builds: https://prow.istio.io/?author=istio-release-robot&job=daily-perf-tests

[2018-06-18 19:03] ymesika commented on #6363
This should be fixed by #6349
Sorry for that. I guess all our tests are running in the same namespace and that's why tests passed.

[2018-06-18 19:56] ozevren commented on #1894
Enabled by default with https://github.com/istio/istio/pull/6035

[2018-06-18 20:15] jsenon opened #6367 "Pilot discovery output log format question"
**Describe the bug**
Does istio-pilot and container discovery log in JSON format?

**Expected behavior**
N/A

**Steps to reproduce the bug**
[code]

**Version**
1.0: istio-master-20180615-09-15

**Is Istio Auth enabled or not?**
not

**Environment**

[code]

[2018-06-18 20:20] jsenon opened #6369 "Istio 1.0: Does istio-ingress mandatory?"
**Describe the bug**
Does istio-ingress mandatory?

**Expected behavior**
N/A

**Steps to reproduce the bug**

[code]

**Version**
1.0: istio-master-20180615-09-15

**Is Istio Auth enabled or not?**
No

**Environment**

Istio-ingress not installed, istio-ingress-gateway instead

[code]

[code]
[code]

[2018-06-18 20:28] michaelpjohnson commented on #5327
I was also able to create resources using your binary @esnible

[2018-06-18 20:30] ldemailly commented on #4981
s1->s2 and s2->s1 is per hop

[2018-06-18 20:30] #4981 closed

[2018-06-18 20:32] ldemailly commented on #4982
@kidiyoor was measuring this

[2018-06-18 20:34] kvudata commented on #6307
Yep, @ayj:
[code]

[2018-06-18 20:47] ldemailly commented on #3868
this came back as one of the swat team potential work items (to test on VMs also in addition to GKE/Blue)

[2018-06-18 20:49] ldemailly commented on #369
Over the last 6 months we did most of the work we planed and more, cc @jasmine-jaksic for tracking reminding items

[2018-06-18 20:50] kvudata opened #6371 "Secure Ingress via Traffic Management API fails"
**Describe the bug**
Tried to setup Ingress by following the 0.8 docs, secure ingress fails with a `curl: (35) Server aborted the SSL handshake` error.

**Expected behavior**
Able to follow the docs and connect securely.

**Steps to reproduce the bug**
Follow the directions here: https://istio.io/docs/tasks/traffic-management/ingress/, got stuck at "Verifying the gateway for HTTPS".

**Version**
[

[2018-06-18 20:54] ldemailly commented on #6367
this looks like a question - also please use a descriptive subject

try emailing istio-users@ ?

[2018-06-18 21:00] ldemailly commented on #384
Some values were set in 0.8, there is a follow up in #6229

will close this for now and the run book / scaling doc is part of the swat team deliverables for 1.0

[2018-06-18 21:00] #384 closed

[2018-06-18 21:03] jsenon commented on #6367
Sry, I ve updated subject.

[2018-06-18 21:09] ZackButcher commented on #4879
Sorry for the late reply, got tied up with DockerCon last week. Yes, the Gateway allows for multiple certificates. The config would look like:

[code]
This effectively wires up two listeners in Envoy, both on port 443, that will attempt to match the request based on SNI to either `foo.com` or `bar.com`, and will serve `/etc/certs/foo/server.pem` and `/etc/certs/bar/server.pem` for requests with th

[2018-06-18 21:13] ZackButcher commented on #4170
Envoy's lame ducking, plus circuit breaking, should cover errors that arise as a result of this happening, right? Endpoints being transiently unavailable is just a part of operating in a dynamic environment. IMO keeping `UNKNOWN` pods around is fine (they may be able to serve, after all) given that Envoy's built in resiliency features should help mitigate problems due to `UNKNOWN` pods that cannot

[2018-06-18 21:15] ZackButcher commented on #4170
@costinm what're your thoughts here? Worth changing the cache in pilots and the endpoints we push, or can we just trust in lame ducking/CB?

[2018-06-18 21:21] ZackButcher commented on #4244
@costinm it looks like you made this change originally. Was there some case we hit that this code was causing problems without the attempt to fall back to the user's kubeconfig file? Otherwise yes, I think we should remove this and return an error rather than trying to use the user's config.

[2018-06-18 21:22] kyessenov opened #6372 "UF upstream connection failure results in 503s"
https://storage.googleapis.com/istio-prow/pull/istio_istio/6330/e2e-suite-rbac-no_auth/1838/build-log.txt
(search for "failed to complete init")

Demo tests fail to run due to lots of "failed to fetch listeners" and "UF 503" errors:
[code]

This is blocking daily builds. /cc @hklai

[2018-06-18 21:29] ZackButcher commented on #4363
+1, we need to solve this. However, does the config you wrote work for inbound, or only outbound traffic? Both sides of the problem need to be addressed, though they have security/policy implications. E.g. suppose the sidecar is performing authn/z for me; in that case I don't want fail-open behavior before Envoy gets config.

We should be able to achieve this passthrough behavior for inbound reque

[2018-06-18 21:31] ZackButcher commented on #4250
@rshriram I thought you were working on the design for Lua filter config specifically?

I'm planning to open source a simple xDS proxy server to allow custom Envoy config injection, as a replacement for the webhook based impl we shipped in 0.7. That at least partially addresses this use case, though I thought we wanted to address Lua specifically with first class support in Istio CRDs?

[2018-06-18 21:33] ZackButcher commented on #4341
I have users that have confirmed both that this problem exists and is painful, and that setting a `restartPolicy` "fixes" it. Really this is just the user-visible side of https://github.com/istio/istio/issues/4363.

[2018-06-18 21:39] andraxylia commented on #6313
This does not look like a critical issue to be backported to 0.8.1, does it?

[2018-06-18 21:40] ZackButcher commented on #4524
In theory [`DestinationRule`](https://istio.io/docs/reference/config/istio.networking.v1alpha3/#DestinationRule) addresses this by allowing you to say "connect to `kafka-csvc.dev.svc.cluster.local` via plain text", though for the reasons Kuat outlines above I think it will not work today and you're blocked on better support for StatefulSets (which should also include support for headless services

[2018-06-18 21:44] ZackButcher commented on #4457
Given we've sunset the v1alpha1 APIs and they will be removed in our next release, I don't think we'll be fixing this. Part of the reason we introduced VirtualService (which is essentially an aggregated RouteRule) is to avoid these sticky issues relating to precedence and plumbing it through Pilot's config gen.

[2018-06-18 21:44] #4457 closed

[2018-06-18 21:45] Rigdon commented on #6313
@andraxylia It should be, because this is the setup we're using for our Kubernetes clusters as described in the [kubelet docs](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/#options) as `--cluster-domain`. It's also in the [Istio docs](https://istio.io/docs/reference/commands/pilot-agent/#pilot-agent%20proxy) as an argument to Pilot itself. If this isn't back-ported to

[2018-06-18 21:46] ZackButcher commented on #4620
This is a duplicate of https://github.com/istio/istio/issues/4341. The advice in the short term is to configure the `restartPolicy` of your application container to attempt to restart until Envoy starts up and can route the request. The full solution will be whatever we decide to do in https://github.com/istio/istio/issues/4363.

[2018-06-18 21:46] #4620 closed

[2018-06-18 21:49] andraxylia commented on #6313
@Rigdon if we fix the documentation, can you workaround the lack of the complete fix in 0.8.1, until 1.0 is released?

[2018-06-18 21:54] ZackButcher commented on #4430
Related, I also have use cases from customers to support non-DNS (RFC 1035) conformant names (e.g. names that contain UTF8/non-ascii characters).

IMO we shouldn't be performing any validation on names that users give us (so long as Envoy can support routing it). What are the limitations in Envoy today w.r.t. name-matching for selecting filter chains and matching inside of the HTTP filter, etc?

[2018-06-18 21:54] Rigdon commented on #6313
We're doing some exploratory testing to see if we can work around it. It's currently a total blocker. For a sense of the intrusiveness of this issue, if we do find a workaround it'll almost certainly involve rebuilding our Kubernetes clusters.

[2018-06-18 21:56] ZackButcher commented on #4322
This is due to how Istio implements these style behaviors: HTTP fault injection is performed by the client side Envoy, since it's untenable for the server side Envoys to know the fault settings of every single caller (it's much more tractable for the client to know the fault setting of all of the services it's calling). Unfortunately we won't be able to fix this.

[2018-06-18 21:56] #4322 closed

[2018-06-18 22:01] geeknoid commented on #6343
Fixed.

[2018-06-18 22:01] #6343 closed

[2018-06-18 22:02] ZackButcher commented on #4460
The general rule is that Istio does not operate on the bodies of requests. There are a lot of reasons for this:

- it helps protect PII data inside of requests
- it keeps logic more general (by working on metadata, rather than directly on data, which depends on the app's business logic)
- from an operational perspective it's expensive to ship the entire request over the wire compared to sending ju

[2018-06-18 22:10] ZackButcher commented on #4388
I believe this is from when we swapped from labeling proxies as `ingress`, `egress`, `sidecar` (from 0.1 to 0.5) to labeling them `router` and `sidecar` (from 0.6 on). Either way, this should no longer be a problem in 0.8.

[2018-06-18 22:10] #4388 closed

[2018-06-18 22:10] andraxylia opened #6374 "Istio à la carte: Add option to disable citadel from helm"
Similar to pilot, mixer, ingressgateway etc.

[2018-06-18 22:11] kyessenov commented on #4460
Re 3: We deliberately decided not to parse request bodies in Mixer. There
is a proposal for a mediation engine as a replacement. That is option 2,
but directed through Mixer. Option 1 using a custom lua filter, for
example, is always on option, provided it fits your performance
requirements.

On Mon, Jun 18, 2018 at 3:02 PM Zack Butcher <notifications@github.com>
wrote:

[2018-06-18 22:11] geeknoid commented on #4460
​Two points to raise on this topic:

- We are actively looking at allowing Mixer to influence routing decisions
by issuing preconditions checks in the client sidecar. Orthogonally, for
API management, we may introduce an attribute that delivers the first N
bytes of a request to Mixer (say 256 bytes), making this payload available
to adapters. This means that a small portion of the payload could be

[2018-06-18 22:30] Rigdon commented on #6313
Someone more familiar with this particular feature would be better suited
to tackle it. Kuat's comment above makes it seem like this is a bit of an
ongoing issue.

On Mon, Jun 18, 2018, 6:26 PM Andra Cismaru <notifications@github.com>
wrote:

[2018-06-18 22:30] kyessenov commented on #6125
I'm uncomfortable using "inbound" and "outbound" terminology, given we can execute most functions with a middle proxy, in which the distinction becomes murky. The proxy does not necessarily have to share its security context with the application.

Using destination namespace as the identity attribute is not sufficient. It does not cover the client-side policy check calls.

[2018-06-18 22:32] geeknoid commented on #6125
"inbound" and "outbound" are independent of how we implement this stuff, isn't it?

Inbound: traffic received by a workload instance
Outbound: traffic produced by a workload instance

[2018-06-18 22:49] wattli commented on #6374
what's the reason of doing this? @andraxylia

[2018-06-18 22:58] andraxylia commented on #6374
For istio à la carte, any component is optional. Check how it is done for pilot, mixer etc.

[2018-06-18 23:04] yangminzhu opened #6377 "Tracking: make local RBAC available in Istio 1.0"
This is a tracking bug for making local RBAC available in Istio 1.0.

* Pilot:
   - [x] Add authz plugin to construct RBAC policies (#5484)
   - [x] Add `ON_WITH_INCLUSION` and `ON_WITH_EXCLUSION` mode (#6456)
   - [x] Add destination attributes support in `ServiceRole` (#6554)
   - [x] Add authentication attributes support in `ServiceRoleBinding` (#6722)

* Upstream Envoy:
   - [x] Add metadata s

[2018-06-18 23:06] ostromart commented on #6372
The issue is that e2e_mixer target is still being invoked with v1alpha1 yaml (ingress) but the code is being forced to run v1alpha3 tests unconditionally (https://github.com/istio/istio/pull/6308/files).
Some possible solutions:
 1. replace the test/local/e2e_mixer test target with the v2 command
 2. get rid of the v1 target and just use the v2 target for now

[2018-06-18 23:23] andraxylia commented on #6374
This command should produce just the sidecar injector:

helm template install/kubernetes/helm/istio --name istio --namespace istio-system --set=global.proxy.image=proxyv2 --set global.rbacEnabled=true --set global.hub=docker.io/istio --set global.tag=0.8.0  --set pilot.enabled=false --set mixer.enabled=false --set ingress.enabled=false --set grafana.enabled=false --set prometheus.enabled=false --s

[2018-06-18 23:30] douglas-reid opened #6380 "FR: Expression language support for removing query params from request.path attribute"
**Is your feature request related to a problem? Please describe.**
There is a desire to support telemetry related to http endpoints. Right now, the API Mgmt support does not exist in Istio to allow mapping to `api.operation` via OpenAPI. A method for trimming down `request.path` to just the essentials is needed to fill the void.

**Describe the solution you'd like**
Add a func like: `urlPath(strin

[2018-06-18 23:30] douglas-reid commented on #6380
cc: @geeknoid

[2018-06-18 23:37] ldemailly commented on #4170
my point was istio shouldn't lower the availability - ie should not drop unknown pods which may actually be reachable, and indeed the source envoy can figure out on its own if the endpoint is reachable or not

[2018-06-18 23:37] douglas-reid commented on #4647
Why did we close this issue?  I don't believe we consider the work fully done.

[2018-06-18 23:39] douglas-reid commented on #4647
@kyessenov can you provide a small summary of your work to-date on this issue here?

[2018-06-18 23:41] ldemailly commented on #6367
1.0 is not out yet, I assume you mean some pre release or a daily build or build from master, can you specify which it is ?

also what are you asking exactly ? is it how to get logs in json ? or about that services "istio-ingress" not found warning ?

[2018-06-18 23:41] kyessenov commented on #4647
All proxies report telemetry. The quality of reported data is not always on par with the server-side telemetry.  There are cases of "unknown" or missing destination service. There are a few follow-up PRs in flight to improve on the data.

[2018-06-18 23:41] ldemailly commented on #6367
please also clarify #6369 as well

[2018-06-18 23:45] geeknoid commented on #6380
We can add a regex capable replace function that takes a regex as input and
a replacement pattern as output. Should be only a few lines of glue code to
add this and call out to the Go regex logic.

On Mon, Jun 18, 2018 at 4:31 PM Douglas Reid <notifications@github.com>
wrote:

[2018-06-18 23:50] andraxylia opened #6382 "Single command to dump out state of entire mesh for debugging"
istioctl proxy-config is an excellent tool. It allows to query pilot for ads delivered to all proxies:

istioctl proxy-config pilot mesh ads

It allows to query the actual Envoy config on a specific proxy (localhost:15000/config_dump) with a command like this

istioctl proxy-config endpoint pod-name

It would be great to add a "all" command that can get the
- config_dump from all Envoys
-the pilot

[2018-06-18 23:51] andraxylia commented on #6382
cc @douglas-reid @sakshigoel12

[2018-06-18 23:52] arun-gupta opened #6383 "Istio download and install fails using curl"
**Describe the bug**
A clear and concise description of what the bug is.

Download and install of Istio using short URL fails:

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

This works:

[code]

**Steps to reproduce the bug**
Steps to reproduce the behavior.

Just give the command on OSX:

[code]

**Version**
What version of istio and Kubernetes are

[2018-06-18 23:58] wattli commented on #6374
https://github.com/istio/istio/pull/6142, this one did exactly the opposite. And I think it makes sense, currently pilot cannot be run without citadel.

[2018-06-19 00:02] andraxylia commented on #6374
One of our customers needs this ability.

[2018-06-19 00:08] kyessenov commented on #4647
https://github.com/istio/istio/pull/6310 should get rid of the hack of deriving destination service attributes.

[2018-06-19 00:39] subfuzion commented on #6383
The actual reference to the link is in the docs [here](https://github.com/istio/istio.github.io/blame/master/content/docs/setup/kubernetes/quick-start.md#L239), but the issue is the [git.io link](https://git.io/getLatestIstio) itself. However, I just tested and the link actually works  for me. The resource was probably temporarily unavailable and the response was the error instead of a valid archi

[2018-06-19 01:30] incfly opened #6384 "Use ALPN "istio" for PERMISSIVE mode."
Current implementation relies on `envoy.tls_inspector`. @PiotrSikora mentions now we ship ALPN in release 0.8. The outcome to authn policy is effectively the same, telling whether it's a traffic originating from istio sidecar or not.

Questions, what does each filter chain match looks like for istio TLS and plaintext respectively?

[2018-06-19 01:38] kvudata opened #6387 "Curl localhost is really slow"
**Describe the bug**
Running curl for localhost within a proxied container takes a really long time.

Specifically, I've got a StatefulSet + Headless Service like so: https://gist.github.com/kvudata/bf5ee8b7a895fa873afa5afad43f4cba.
For debugging purposes, I exec'd into the container to try running some `curl` commands against the Elasticsearch server. `curl localhost:9200` takes ~2 minutes to com

[2018-06-19 02:10] PiotrSikora commented on #6384
[code]

[2018-06-19 02:13] incfly commented on #6384
Do you still need "envoy.listener.tls_inspector" to use ALPN?

[2018-06-19 02:13] PiotrSikora commented on #6384
Yes.

[2018-06-19 02:17] incfly commented on #6384
So the inspector look at FilterChainMatch's contained fields, and may do TLS sniffing or not depends on whether `filter_chain_match.transport_protocol` is set?

I thought one of the ALPN's advantages is to avoid sniffing.

[2018-06-19 02:27] gyliu513 commented on #6153
@sdake can you please show me the docs of floating about on setting up citadel to work properly with multiple clusters? I want to check  more for how does cert rotation works in multicluster.

[2018-06-19 02:31] ntcong opened #6388 "bookinfo sample return 503 on a newly installed istio"
**Describe the bug**
I installed istio with helm in a kubespray cluster. Calling http://${GATEWAY_URL}/productpage results in a 503 error
ingress-gateway log
[code]

**Steps to reproduce the bug**
- helm install install/kubernetes/helm/istio --name istio --namespace istio-system --set ingress.service.type=NodePort --set ingressgateway.service.type=NodePort
- kubectl create namespace istio-app
- ku

[2018-06-19 02:33] #6363 closed

[2018-06-19 02:39] incfly commented on #6384
One more thing to confirm, so with [above LDS config](https://github.com/istio/istio/issues/6384#issuecomment-398251823), both workload-to-workload TLS and plain text traffic will be dispatched to the second filter chain. In that case, it's application itself to terminate TLS  or simply handle plaintext traffic.

In short, the filter chain without any FilterChainMatch field specified acts as a `de

[2018-06-19 02:48] vadimeisenbergibm commented on #6335
@kidiyoor @trabetti Did you define the corresponding `DestinationRules` (with subsets v1/v3). Please remember that a `VirtualService` that uses subsets must have these subsets defined in some `DestinationRule`. See an example here - https://github.com/istio/istio/blob/master/samples/bookinfo/routing/route-rule-all-v1.yaml.

[2018-06-19 02:54] vadimeisenbergibm commented on #6371
Could you please provide the output of `kubectl get svc -n istio-system`, `istioctl get gateway -o yaml`, `echo $INGRESS_PORT`, `echo $INGRESS_HOST`, `echo $SECURE_INGRESS_PORT`.

[2018-06-19 03:04] PiotrSikora commented on #6384
Correct. But, if you also want to terminate TLS in the sidecar, then you can simply add another filter chain (3 in total) to allow mTLS, "legacy" TLS terminated at the sidecar, and unencrypted traffic. Using the same example:

[code]

In this particular case, yes, but that's not always the case, since match on one of the selectors can limit available choices (I'm working on the documentation for t

[2018-06-19 03:45] ymesika opened #6391 "Make sure a test case covers test services out of control plane NS"
Investigate why the fix of #6349 wasn't covered by any tests when testing #6133.
If there is no test to cover it, add/modify one.

[2018-06-19 04:17] ymesika commented on #6388
Can you please add the log of sidecar-injector to try to understand why it failed to start?

[2018-06-19 04:29] ntcong commented on #6388
[logs-from-sidecar-injector-webhook-in-istio-sidecar-injector-dbd67c88d-wj5zt.txt](https://github.com/istio/istio/files/2113824/logs-from-sidecar-injector-webhook-in-istio-sidecar-injector-dbd67c88d-wj5zt.txt)

Here is full sidecar-injector log

[2018-06-19 05:00] jsenon commented on #6369
I've seen plenty of log regarding `err services "istio-ingress" not found`, I don't have installed `istio-ingress`. Does it installation mandatory ie. install `istio-ingress` and `istio-ingressgateway`? If not does this warning is normal?

[2018-06-19 05:03] jsenon commented on #6367
I'm not talking about `warn`, I'm just talking about log format that seems not to be in JSON format that will generate issue if we need to scrap/parse it.

[2018-06-19 05:21] jsenon commented on #6367
My bad output is JSON formatted, log is set by pkg/log which is zapper

[2018-06-19 05:21] #6367 closed

[2018-06-19 05:34] gyliu513 commented on #6369
Duplicate with https://github.com/istio/istio/issues/6100

`istio-ingress` is not mandatory, you can use `istio-ingressgateway` instead.

The warn message need to be cleaned, but for now, it does not impact function.

[2018-06-19 05:34] #6369 closed

[2018-06-19 05:35] gyliu513 commented on #6100
@frankbu @rshriram I can also see the warning message in my pilot log if I do not have `istio-ingress` installed, not sure who is still calling `istio-ingress`, comments for this?

[code]

[2018-06-19 06:40] trabetti commented on #6335
Thanks @vadimeisenbergibm  - It solved the problem for me!

[2018-06-19 06:46] andraxylia commented on #6335
@kidiyoor had the same mis-config, missing DestinationRule defining the v3 subsets.

Closing this issue.

[2018-06-19 06:46] #6335 closed

[2018-06-19 10:34] jiuchongxiao opened #6396 "Istio’s Mixer how to connect Fluentd DaemonSet?"
Istio’s Mixer how to connect  Fluentd DaemonSet?

In your cluster, you may already have a Fluentd DaemonSet running, such the add-on described here and here.

who config out fluentd connect,please help me?

[2018-06-19 13:11] ymesika commented on #6278
You should be able to access the service by its ClusterIP but not a pod by its ClusterIP.

[2018-06-19 13:14] #6105 closed

[2018-06-19 15:26] scheu opened #6399 "Wrong HOST_IP command in documentation if minikube 0.28.0 isused"
**Describe the bug**
When running the latest minikube (v0.28.0), the instruction for obtaining the HOST_IP does not work (https://istio.io/docs/tasks/traffic-management/ingress/#determining-the-ingress-ip-and-ports)

The command
[code]
should be replaced with the following if running minikube:
[code]

On my machine, the first statement produces the incorrect IP 10.0.2.15 and the second statement p

[2018-06-19 15:37] cesarlbf commented on #6399
I opened a PR to try to fix the docs: https://github.com/istio/istio.github.io/pull/1553

[2018-06-19 15:45] cesarlbf commented on #6399
Newer mini-kube seems to provide a internal ip when run:  `kubectl get po -l istio=ingressgateway -n istio-system -o 'jsonpath={.items[0].status.hostIP}'`

-- | --
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/

I think minikube is using its VM IP in some scenarios, that is not how it exposed on the `vboxnet0`.

[2018-06-19 16:00] douglas-reid commented on #6396
@jiuchongxiao Have you looked at the Task on the website related to fluentd logging: https://istio.io/docs/tasks/telemetry/fluentd/ ?

This issue seems more like something that should be discussed on our mailing-lists, rather than tracked in an issue on the repo.  Let's move the discussion to istio-users@googlegroups.com or to the rocket chat (https://istio.rocket.chat/home). I'm going to close th

[2018-06-19 16:00] #6396 closed

[2018-06-19 16:11] #6223 closed

[2018-06-19 16:25] ostromart opened #6400 "prometheus and statsd exporter should be at release version"
prometheus and statsd exporter are currently at latest in istio.yaml templates. They should be at a release tag to ensure reproducability.

[2018-06-19 16:48] vadimeisenbergibm commented on #6319
@todkap I think you can specify the `hosts` field to be `*`, so you will not have to add DNS entries.

[2018-06-19 17:00] incfly opened #6403 "Document incremental mTLS adoption on istio.io"
Implementation: https://github.com/istio/istio/issues/5059

Design doc: https://docs.google.com/document/d/1fubdQ-HD_7IknE71HdaglgTkid1ScMq6LlIDvxKQDc4/edit

[2018-06-19 17:01] incfly commented on #6403
@wattli @diemtvu

[2018-06-19 17:02] incfly commented on #5059
After https://github.com/istio/istio/pull/6394 submitted, all implementation is done. The ALPN change and  document are tracked in separate bug.

[2018-06-19 17:05] #6361 closed

[2018-06-19 17:14] cesarlbf commented on #6399
Merged! Waiting updates to reflect on the public website, before closing it.

[2018-06-19 17:15] hklai commented on #6400
I am generally in favor of fixing the versions instead of using latest as well.

However, the telemetry team owns these dependencies and it is up to them to decide what version is used, so I suppose @douglas-reid is the rightful owner.

[2018-06-19 17:28] douglas-reid commented on #6400
What is the specific concern re: reproducability ?  These are add-ons, and should not impact core Istio features.

That being said, I'm fine with pointing them at release versions.

My concern would be that it is generally fairly easy to forget about the release version, leaving us lagging behind security patches, etc., for the addons.  Is that something we could manage as part of the release cycl

[2018-06-19 17:32] todkap commented on #6319
I had tried this numerous times with wildcarding with failures but this time when I did it, all is good.  Thanks...

**Gateway**
[code]
**Virtual Service**
[code]

[2018-06-19 17:33] todkap commented on #6319
@gyliu513 Since I got this working, I think we can close this.   Maybe we can review what I did offline.

[2018-06-19 17:35] ldemailly opened #6404 "e2e/integration tests should run with multiple namespaces"
to avoid a repeat of #6363 we should have most e2e tests not run the test apps in the istio-system namespace

I think having 4 namespaces would be a realistic setup that tests functionality:
- 1 namespace for control plane (whether we want to test for the ability to change this from istio-system to something else is debatable - it should work elsewhere but I'm afraid it doesn't)
- 1 auto injected

[2018-06-19 17:38] #5059 closed

[2018-06-19 17:46] ostromart commented on #6400
They're used extensively throughout tests, so if you go back in time and rerun a test the behavior may be different than it was originally. Also having latest cedes all control of versions, so bad releases can be introduced into the mix in customer clusters in an uncontrolled way. I agree it's less likely to cause trouble with prometheus specifically but it still seems like a solid principle to fo

[2018-06-19 17:59] tiswanso commented on #4154
Any workaround to get through `make push` on OSX?

[2018-06-19 18:01] kinghrothgar commented on #3295
Is there any more info from me that would be useful?

As far as the "Why isn't it failing 50% of the time" topic, the highest % of 503's I could get was a little over 1%.

[2018-06-19 18:10] nmittler commented on #3395
@douglas-reid @objectiser any updates?

[2018-06-19 18:13] nmittler commented on #5408
@Stono @vadimeisenbergibm what are the next steps here?

[2018-06-19 18:13] nmittler commented on #5576
@ostromart any updates?

[2018-06-19 18:15] nmittler commented on #5968
@mandarjog any update on this?

[2018-06-19 18:15] hklai commented on #6400
Right. These should be the same as any other dependencies, and hard wiring the versions in gopkg makes releases more deterministic. (i.e. we won't pick up a different version when we cut a patch release a month later, for example).

Currently there is no global dependencies update process, as it most likely will need to be evaluated on a case by case basis.

[2018-06-19 18:15] nmittler commented on #5987
@jeffmendoza any updates?

[2018-06-19 18:16] nmittler commented on #5992
@rshriram

Any thoughts?

[2018-06-19 18:17] nmittler commented on #5997
@incfly any thoughts?

[2018-06-19 18:17] hklai commented on #4154
Have you tried "GOOS=linux make push" ?

[2018-06-19 18:17] ldemailly commented on #3295
Does your server side/app closes the connection without giving a Connectio: close header ? because that's the current claim on envoy side, that it only happens in that case.

[2018-06-19 18:18] nmittler commented on #6037
@mandarjog I've assigned to you ... feel free to reassign as appropriate.

[2018-06-19 18:18] nmittler commented on #6257
@douglas-reid any update?

[2018-06-19 18:19] ldemailly commented on #4154
we should really consider making the macos user experience first class citizen - including creating docker image with linux binaries - without needing any tweak or multiple make invocations with different variables set

[2018-06-19 18:21] sprutner commented on #5327
Thank you for the wrapper. It didn't work out of the box for GA EKS, but I modified it and the README to suit that purpose. I had to update the binaries so I just removed the Linux one for now. Note that you might run into some path issues with the current istioctl binary so watch out for that. https://github.com/sprutner/istioctl-eks-wrapper

[2018-06-19 18:23] douglas-reid commented on #6257
no update yet. when there is no traffic, it becomes difficult to project a percentage of successful requests -- and i haven't quite figured out how to bend the grafana widget + promql to my will yet. I have an idea, but i have some other things in my hopper that I need to solve first. This is definitely on my radar for 1.0 and I will be attempting to address it soonish.

[2018-06-19 18:31] hklai commented on #4154
How about the following?

make clean
GOOS=linux make docker
GOOS=linux make push

[2018-06-19 18:40] douglas-reid commented on #3395
i don't have any updates here directly. Some potential relevant Envoy links:
- https://github.com/envoyproxy/envoy/issues/492
- https://docs.google.com/document/d/1G9IVq7F7Onwinsl6EYzGsdzAGvVbo2FGfcPt35ItIx8/edit

cc: @cmluciano , as he has been doing some of the initial UDP in Envoy support design thinking.

On a different note, there is Mixer Direct API work kicking-off, in collaboration with th

[2018-06-19 18:42] jaredeis commented on #5327
No problem, and yes, after I posted this, a few days later I had just that issue with pathing. I fixed it on my end, but didn't re-upload here. Of course it seems @esnible has fixed it properly so it shouldn't be needed anymore thankfully.

[2018-06-19 18:45] jaredeis commented on #5327
And my fix was similar to yours. Wasn't sure if $BASH_SOURCE was better than `dirname` when I went Googling. Ended up using `dirname` because the cases I saw where it wouldn't work didn't seem to apply in this case and @BASH_SOURCE seemed to have it's caveats as well. Glad it helped someone though.

[2018-06-19 18:51] louiscryan commented on #1499
Is this completely stale or known to still be an issue ?

If its still relevant @GregHanson can you assign it an appropriate priority & milestone in Zenhub

[2018-06-19 18:54] louiscryan commented on #1727
I think this issue is stale. The new networking APIs are in place and we've ironed out some of the attribution concerns and others are being tracked elsewhere.

[2018-06-19 18:54] #1727 closed

[2018-06-19 18:56] louiscryan commented on #2041
is this stale? if so can you close it

[2018-06-19 19:02] louiscryan commented on #1357
@myidpt can you triage this and either close or assign appropriate milestone & priority

[2018-06-19 19:06] louiscryan commented on #1371
@rosenhouse Is this stale in light of the proposal to have Pilot implement a downward facing API for configuration ? If so feel free to close

[2018-06-19 19:06] louiscryan commented on #1378
@rosenhouse is this stale in light of the downward facing Pilot api. If so feel free to close.

[2018-06-19 19:11] ldemailly commented on #2041
It's in the same state as mentioned last; which is user authorization through istio isn't not there but will close as the reporting app is running istio in prod since late december

[2018-06-19 19:11] #2041 closed

[2018-06-19 19:13] mattdelco commented on #4154
The version of the Makefile at head doesn't have any explicit dependencies set up for generate_cert and its make clean won't touch what's in go/bin so if you're in a directory like go/src/istio.io/istio then you'd have to "rm ../../../bin/generate_cert" and then the next invocation of make should build a OS-native version of the executable.

[2018-06-19 19:17] louiscryan commented on #1396
I think this is stale. We have a proposal for injected extensions and for plugins / api proxying

[2018-06-19 19:18] douglas-reid commented on #5987
@objectiser It is nice to see that the implementation of the config options added way back when is moving forward. Thanks for the link!

I'm not aware of any design doc for Istio, other than discussions around the proposal PR of https://github.com/istio/api/pull/363.

[2018-06-19 19:19] louiscryan commented on #1402
@kyessenov I think this is stale. We have no immediate plans to do per-node etc. Please re-open if you disagree

[2018-06-19 19:19] #1402 closed

[2018-06-19 19:23] louiscryan commented on #1413
@wattli @kyessenov is this still valid? I can see how this bypasses client-side envoy behaviors but not server-side where AuthPolicy is enforced. Please assign priority & milestone as appropriate or close

[2018-06-19 19:58] louiscryan commented on #1422
@diemtvu can you triage this issue and either close or assign milestone and priority

[2018-06-19 19:58] tiswanso commented on #4154
@mattdelco -- Thanks!  That was it.
Steps I did that worked:
[code]

[2018-06-19 20:19] cesarlbf commented on #6399
Updated! +1

[2018-06-19 20:19] #6399 closed

[2018-06-19 20:20] rshriram opened #6407 "Are CloudFoundry integration tests broken by TLS Permissive mode?"
**Describe the bug**
The CF integration tests were passing reliably until the TLS Permissive mode PR (#6121)
 https://circleci.com/gh/istio/istio/118082?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

As of a PR before #6121, i.e. #6330, the CF tests were passing https://circleci.com/gh/istio/istio/117302?utm_campaign=vcs-integration-link&utm_medium=referral&utm

[2018-06-19 20:21] rshriram commented on #6407
@hklai once this is fixed, we should make the CF integration test a required test, as it has been reliably passing for a while without any flakes.

[2018-06-19 20:33] ldemailly commented on #1038
@sakshigoel12 any reason you removed the 1.0 label ? do we really think it's ok for istio to generate spurious errors ?

[2018-06-19 20:35] ldemailly commented on #3295
otherwise what you may be seeing is #1038 (503s during changes/updates)

[2018-06-19 20:40] rshriram commented on #1038
Please produce a repeatable test to show 503s are still occurring with the gateways, when updating virtual services/destination rules in the "prescribed" manner (add subsets to destination rules, then add weights to virtual services. Remove weights from virtual services than remove subsets from destination rules).

[2018-06-19 20:42] ldemailly commented on #2420
this will affect customers

[2018-06-19 20:45] ldemailly commented on #4982
can we add @kidiyoor to the org so it can be assigned

[2018-06-19 20:46] wattli commented on #6407
@incfly can you take a look?

[2018-06-19 20:46] kyessenov commented on #2420
It's OK to document that keys are envoy-coded as lower-case-with-dashes.

On Tue, Jun 19, 2018 at 1:42 PM Laurent Demailly <notifications@github.com>
wrote:

[2018-06-19 20:48] ldemailly commented on #3771
see https://docs.google.com/document/d/1JjwL79T1Bpk0LiWJrAgS_HaPZtGQa00mL4TcjiPrA4U/edit

@kimikowang

[2018-06-19 20:49] andraxylia commented on #1038
I will take care of this.

[2018-06-19 20:50] rshriram commented on #1371
Closing as stale. This is so outdated when compared to the current state of art where CF has Copilot to supply platform data.

[2018-06-19 20:50] #1371 closed

[2018-06-19 20:50] ldemailly commented on #3565
issues addressed I believe

[2018-06-19 20:50] #3565 closed

[2018-06-19 20:53] ldemailly commented on #3029
I think maybe the new test is fine and you can close this if you want @douglas-reid

[2018-06-19 20:55] ldemailly commented on #1962
regpatrol does it and it's indirectly there with grafana dashboards (#5028)

[2018-06-19 21:11] hklai commented on #6407
@rshriram SGTM

[2018-06-19 21:17] rshriram commented on #1396
Just referring to the PR for this: #6401 ..

[2018-06-19 21:17] #1396 closed

[2018-06-19 21:48] ldemailly opened #6409 "[perf swat] produce profiling data"
one of the items for

https://docs.google.com/document/d/1TiMmzbM5r9QlBfs79owBqiAZJgflMyXa3Zuev7xZKSc/edit#

is to rerun the scenarios to produce profiling information for the fortio max ingress -> s1 (mixer call not cached case)
e.g https://fortio.istio.io/?xMin=&xMax=&xLog=false&yLog=false&sel=qps_max-ingress_to_s1-0.7.1-2018-04-05-22-04
as a first step

[2018-06-19 22:02] sakshigoel12 commented on #1038
We are using milestone (and pipeline) vs label to indicate 1.0  requirements. It is setup correctly.

[2018-06-19 22:05] #6372 closed

[2018-06-19 22:27] ldemailly commented on #1038
yes, thanks, nevermind, it looks like the label is completely deleted / I didn't know

[2018-06-19 22:34] incfly commented on #6407
I'm looking it now.

[2018-06-19 22:48] objectiser commented on #3395
If the `jaeger-agent` was integrated into the envoy project, this would enable the service to seamlessly report spans via UDP (with no config in the service), but the spans would be using the native Jaeger data format.

Therefore the embedded `jaeger-agent` would need its own HTTP connection to the `jaeger-collector` to report the spans - thus creating two connections from each proxy for reporting

[2018-06-19 23:09] quanjielin opened #6411 "Pilot distribute SdsSecretConfig to envoy"
Pilot distribute SdsSecretConfig to envoy

[Node Agent](https://github.com/istio/istio/issues/5903) will communicate with envoy through [secret discovery service(SDS)](https://github.com/envoyproxy/envoy/blob/master/api/envoy/service/discovery/v2/sds.proto) to distribute key cert pair(to replace secret-mount files today). In order for envoy talks to Node Agent, pilot need to distribute [SdsSecretC

[2018-06-19 23:11] quanjielin commented on #6411
/cc @wattli @diemtvu

[2018-06-19 23:21] incfly commented on #6407
Took a look on recent PR presubmit history, it does seem indicate the multiplexing PR is the culprit. However, when I tried to run the test locally, one commit before the multiplexing, it still fails.

1. `git checkout ef5c5167e1fb6dddb263f49e7f7acb8693950ab9`, this is just one commit before the multiplexing
2. `sudo iptables -t nat -A OUTPUT -d 127.1.1.1/32 -p tcp -j REDIRECT --to-port 15001
set

[2018-06-19 23:46] kyessenov commented on #6407
This is indeed a bug. I'm waiting for https://github.com/istio/istio/pull/6310 to land to get rid of the hack in mixer.go.

[2018-06-20 01:38] gyliu513 commented on #6319
@todkap I think we cannot close this one, as comments here https://github.com/istio/istio/issues/6319#issuecomment-397785193 , the NodePort only works when define hosts as `*`.

[2018-06-20 01:39] kyessenov commented on #6407
Yeah, once that PR gets in I can submit a fix for the bug in mixer filter
config.

On Tue, Jun 19, 2018, 5:26 PM Jianfei Hu <notifications@github.com> wrote:

[2018-06-20 02:04] johnzheng1975 commented on #6116
Yes, we upgraded to 0.8, will check whether it raise again or not.
@andraxylia , will gateway & virtualService resolve this? will access of "servicename.namespacename" go through gateway & virtualService?

[2018-06-20 03:05] rshriram commented on #6407
Thanks for debugging @incfly .

[2018-06-20 03:21] rshriram commented on #5997
@nmittler is right. The error is coming from the code that validates service accounts. Somehow, the annotations are being converted into a service.

[2018-06-20 03:28] rshriram commented on #5992
Sorry I missed this. Is it possible to deploy istio per namespace ? The problem with headless services is one of scale. Accessing pods directly instead of service VIPs means we need to construct Envoy listeners for all possible pod IPs, which is not a scalable option. So, we resort to using a special passthrough listener in Envoy listening on the headless service port (0.0.0.0:someport) that forwa

[2018-06-20 03:32] rshriram commented on #4363
The thing I wrote is only for outbound at the moment. I haven't really considered inbound.

[2018-06-20 03:36] rshriram commented on #6148
I think we are talking about different things.. within the mesh, it shouldn't really matter whether we use RSA or ECC. This is not removing support from envoy. Just generating CA certs using different algorithm which makes it faster to compute in envoy. Envoy shouyld still be able to process older CA certs with RSA.

[2018-06-20 03:38] rshriram commented on #1381
So the problem is not hostnetwork. Its that the statsd-prometheus-bridge is not present. See if you can disable statsd completely from the global mesh config.
cc @douglas-reid

[2018-06-20 03:39] rshriram commented on #6187
cc @ayj as he did something recently with HTTPAPISpec.

[2018-06-20 03:42] rshriram commented on #928
closing as stale..

[2018-06-20 03:42] #928 closed

[2018-06-20 04:06] wattli commented on #5037
I believe this should be solved in 0.8, will give a try and update this issue soon.

[2018-06-20 05:35] gyliu513 opened #6418 "pilot report "Unable to parse JSON as proto""
1) Install daily build or build pilot docker image by yourself via `make pilot` and `make docker.pilot`
2) Replace piot image in pilot deployment
3) Deploy book info, check pilot log, it reports `Unable to parse JSON as proto (INVALID_ARGUMENT:transport: Cannot find field.)`, this seems to be a bug of envoy?
4) Access bookinfo page via NodePort, failed to open

[code]
The attachment is the whole p

[2018-06-20 06:18] liamawhite commented on #6382
It definitely would be useful! I'm in the process of trying to simplify the `proxy-config` command into something a bit more user friendly based on feedback from people.

I would suggest this functionality has its own dedicated command. That way users don't have to remember some magic incantation of flags to get an entire dump and we don't overload `proxy-config`. I've been refactoring some  of th

[2018-06-20 07:16] jsenon commented on #3867
Hello @andraxylia I confirm that is working fine for 0.8

[2018-06-20 07:38] brunoban commented on #6383
If you open the link

`https://git.io/getLatestIstio`

You can see the script that gets triggered. This happened to me yesterday as well, the problem is a rate limit on this curl request to github's API:
[code]

If it hits the max limit (which I'm not sure if it's project related or if it has something to do with my own acconut), the script doesn't fetch the latest version of istio properly and th

[2018-06-20 07:41] Stono commented on #5408
@nmittler nothing really from my perspective, I'd just make sure you document it a bit clearer perhaps?

[2018-06-20 07:43] lizan commented on #1415
We need a storage for proto descriptor to support this, CRD is not suitable because it's not binary safe and has small size limit (1MB).

@kyessenov where did https://github.com/istio/galley/issues/52 get moved to?

[2018-06-20 09:40] diemtvu commented on #1422
Most of these have been handled, or obsolete. I think we can close this one and open new one for remained topics if needed.

Up-to-date (as of 0.8, pre 1.0) summary: mTLS is enabled via authentication policy (for receiving side) and destination rules (for client side). It can be specified at mesh-level, namespace level or service specific, thus it solves the problems 1,2 and 3. It partly helps (4)

[2018-06-20 09:40] #1422 closed

[2018-06-20 10:39] PiotrSikora commented on #5282
This has been implemented a while ago:
1) SNI-based routing: https://github.com/envoyproxy/envoy/commit/a328bc5d69a9e90ed3197a6735997ec48a850351, https://github.com/envoyproxy/envoy/commit/93780c1663a89c596e46a43ff17cffc25bb00b18,
2) ALPN-based routing: https://github.com/envoyproxy/envoy/commit/554e57a89e95a9d9bed684e5d663d217a1ea502c, https://github.com/envoyproxy/envoy/commit/12c470e666d23f1ced

[2018-06-20 10:39] #5282 closed

[2018-06-20 11:18] ymesika commented on #6418
I can't see this warning with master's pilot/proxy image

[2018-06-20 11:35] ymesika commented on #6383
If you are behind a company NAT then probably Github API triggered a limitation due to frequent incoming hits coming from the company's network. This is a temporal limitation though.

The Github API is being accessed to fetch the latest Istio version. I wonder if, as part of the release process, we should inject the version into this script to avoid accessing the Github API just for this purpose.

[2018-06-20 11:44] gyliu513 commented on #6418
@ymesika can you build a pilot by yourself and re-do the test?

[2018-06-20 12:02] ymesika commented on #6418
yes, it was with my images. Can't see warnings.

[2018-06-20 12:08] rshriram commented on #1422
We have a PR in istio/api for SNI routing that should tackle this.

On Wed, Jun 20, 2018 at 5:40 AM Diem Vu <notifications@github.com> wrote:

[2018-06-20 12:31] gyliu513 commented on #6418
@ymesika do you want to check my pilot log attached above? I googled this issue, it seems to be a configuration issue https://github.com/envoyproxy/envoy/issues/2822 , but do not know how to debug such issue.

[2018-06-20 12:31] yacut commented on #6307
Same issue with Istio 0.8.0 on minikube v0.27.0.

**Workaround**:
- Delete affected deployments
- Delete the `istio-sidecar-injector` pod
- Wait for a new `istio-sidecar-injector` pod is ready
- Create your deployments again

[2018-06-20 12:35] ymesika commented on #3942
I'm closing this because in [v1alpha3's Gateway](https://istio.io/docs/reference/config/istio.networking.v1alpha3/#Server.TLSOptions) the `secretName` is no longer supported.

[2018-06-20 12:35] #3942 closed

[2018-06-20 13:10] ymesika commented on #6282
Gateway (with its certs) per host(s)?

[2018-06-20 13:14] #6278 closed

[2018-06-20 13:16] hhovsepy commented on #4447
Problem still happening with Istio 0.8.0

[2018-06-20 13:22] ymesika commented on #5315
I believe it's already fixed in release and post-release.

[2018-06-20 13:22] #5315 closed

[2018-06-20 14:06] markns opened #6421 "http2 requests fail with "protocol error: The user callback function failed""
**Describe the bug**
Using the daily-build/master-20180615-09-15, http2 requests to an HTTPS service fail in the sidecar with the following message:
[code]

http1.1 requests are successful:
[code]
But http2 requests fail:
[code]

**Expected behavior**
http2 requests should succeed.

**Steps to reproduce the bug**

Deploy Istio into a fresh GKE 1.9.7-gke.3 cluster, with cert-manager installed and a

[2018-06-20 14:19] esnible opened #6422 "istioctl can't list rbac-config"
When the _istioctl_ on _master_ is pointed at a 0.8 Istio cluster.  (Possibly one where the Istio install didn't have enough privileges)

[code]

_istioctl get all_ should not give up if it gets an exception getting one of the expected types.  It should continue.

[2018-06-20 14:51] dgurindapalli commented on #1381
When i dont enable hostNetwork, istio-ingress controller is running with out any errors. So i think there is an issue if we enable hostNetwork=true

[2018-06-20 16:39] incfly commented on #5997
Sorry for the late response.

We previously make this call `GetIstioServiceAccount` in the authn plugin, and it [checks](https://github.com/istio/istio/pull/5525/files#diff-970c02a18802131086a418f813b9374eL342) whether it's a service outside the mesh before trying to set the validation context, I guess this explains why we have more invocations after the change?

[2018-06-20 16:41] andrew-dinunzio commented on #6301
This *might* happen just on AKS. Using minikube, the helm install succeeds. Doing some further testing now...

[2018-06-20 16:47] ostromart commented on #5413
It seems reasonable to me to regenerate all of istio.yaml unless this is a common scenario, but I can see the annoyance there. In any case, this should be assigned to whoever inherited helm from yusuo.

[2018-06-20 16:50] rshriram commented on #5997
you mean the original dst cluster? Has the op added service entries for these services in the cluster?

[2018-06-20 16:51] msiegenthaler commented on #6301
I am seeing the same and also just on aks: https://github.com/Azure/AKS/issues/455

[2018-06-20 16:53] ostromart commented on #5576
It's working it's way up the queue - will get to it this week.

[2018-06-20 16:57] subfuzion commented on #5327
@esnible, I trust you :) and yet would prefer not to just download a binary; would you be willing to share either with a repo or a gist exactly what you did to build your binary? Thanks!

[2018-06-20 17:03] rosenhouse commented on #1378
I think you mean this pilot decomposition design?

https://docs.google.com/document/d/1S5ygkxR1alNI8cWGG4O4iV8zp8dA6Oc23zQCvFxr83U

Then yes.

[2018-06-20 17:03] #1378 closed

[2018-06-20 17:05] #6301 closed

[2018-06-20 17:05] andrew-dinunzio commented on #6301
Seems to be related to AKS. Closing unless something else comes up.

[2018-06-20 17:10] esnible commented on #5327
@subfuzion I did `git clone git@github.com:istio/istio.git`, `cd istio`, and `make istioctl`

[2018-06-20 17:19] hklai commented on #6383
Yes, since we have pretty much standardized our release branching process, we can update the doc (also versioned by releases) and use

https://raw.githubusercontent.com/istio/istio/<release-branch>/release/downloadIstioCandidate.sh

and hardwire the version in the script in the corresponding release branch.

[2018-06-20 17:43] wbrefvem opened #6433 "helm install fails due to incorrect default tag"
**Describe the bug**
`install/kubernetes/helm/istio/values.yaml` contains the wrong default tag name, so that helm attempts (and fails) to pull, e.g., `istio/proxyv2:0.8.latest`.

**Expected behavior**
The default tag value should match the latest tag on Docker Hub (currently `0.8.0`).

**Steps to reproduce the bug**
On a k8s cluster with Tiller installed, run the helm installation:
`helm install

[2018-06-20 17:45] sprutner commented on #5327
In my case I literally just copy pasted the binary out of unextracted
archive istio-0.8.0/bin/istioctl

On Wed, Jun 20, 2018 at 10:10 AM, Ed Snible <notifications@github.com>
wrote:

--
All Good Things,
Seth Rutner

[2018-06-20 17:49] prune998 commented on #6374
Maybe I should create my own issue, but I would also need :
- to be able to change the `zipkin` service name, which is fixed to `zipkin.{istio namespace}`. It is used in the Istio Configmap (zipkinAddress)
- be able to change the `ingress` service name, which is fixed to `istio-ingress` while the 0.8.0 deployment is using `istio-ingressgateway`

[2018-06-20 17:50] ymesika commented on #6433
Duplicate of istio/old_issues_repo#387

[2018-06-20 17:50] #6433 closed

[2018-06-20 17:53] subfuzion commented on #5327
@esnible Awesome, thanks. I just had this repo pointed out to me as well: https://github.com/sprutner/istioctl-eks-wrapper

[2018-06-20 17:57] subfuzion commented on #5327
@sprutner Didn't notice your comment until after I replied to @esnible. So basically what you're saying between the two of you is that the latest binary does in fact work?

[2018-06-20 18:00] sprutner commented on #5327
@subfuzion Correct. 0.8.0 came out about two week ago so I am just assuming that there was an older version binary in the tarball posted by @jaredeis.

[2018-06-20 18:05] subfuzion commented on #5327
@sprutner I've been using 0.8, but the version curl'd from the git.io/getLatestIstio link. This is indeed good news and if it works, you have both just made my day. I'll be able to release my blog post on running Istio on EKS if all goes well.

[2018-06-20 18:12] ozevren opened #6434 "Rename resource.Kind to resource.MessageName"
This is a cleanup item for the new Galley code. The internal object model is using resource.Kind as an independent type identifier.

We should make it resource.MessageName to align it with the destination/proto world.

[2018-06-20 18:12] ozevren commented on #6434
@ayj

[2018-06-20 18:23] jaredeis commented on #5327
@sprutner yes, it was the 0.7.1 binary that I was wrapping at the time. Hadn't moved to 0.8.0 yet.

So will this new istioctl be released as part of 0.8.1?

[2018-06-20 18:25] ayj opened #6437 "Rationalize use of MessageName and TypeURL in galley code"
This is a cleanup item for the new Galley code. We use both MessageName and TypeURL to name protobuf types. ~~We should align on using MessageName and TypeURL should be abstracted away in the MCP layer.~~

_edit_: we should align on using TypeURL consistently throughout galley and MCP code. We originally thought it would be useful to hide the TypeURL encoding but that turned out to not provide muc

[2018-06-20 18:57] andraxylia commented on #6374
@prune998 please create separate issue for zipkin

istio-ingressgateway is not to be confused with istio-ingress , but if you want to customize its name, please open another separate issue.

[2018-06-20 18:59] andraxylia commented on #6382
@liamawhite sgtm

[2018-06-20 19:00] prune998 commented on #6374
@andraxylia will do a PR, thanks

[2018-06-20 19:10] subfuzion commented on #5327
So to be honest, I am confused. I was definitely using 0.8 when I presented my talk at DockerCon last week, and it is the same version I used for the demo repo: [subfuzion/istio-test-drive](https://github.com/subfuzion/istio-test-drive).

[code]

[2018-06-20 19:35] AchuthSankar opened #6441 "istio.yaml missing from istio/install/consul/"
I was follwing the installation instruction of istio for docker from this link (https://istio.io/docs/setup/consul/quick-start/). One of the step is docker-compose -f install/consul/istio.yaml up -d, but I am not able to fine istio.yaml file in this github repo location.

[2018-06-20 19:43] kyessenov commented on #6418
Guang, the error is coming from mixerfilter. You have an old proxy around. Try to nuke your build cache, and start again. Our makefile does not track whether proxy/binaries are up to date.

[2018-06-20 20:00] kyessenov commented on #6309
/assign @kyessenov

[2018-06-20 20:06] #6441 closed

[2018-06-20 20:42] a-robinson opened #6443 "Pilot segfaults when given invalid remote cluster credentials"
**Describe the bug**
After installing Istio 0.8 on a fresh GKE version 1.9.7-gke.3 cluster, the `istio-pilot` pod's `discovery` container is repeatedly crashing:

[code]

"istio-b" is what I named the remote cluster, as instructed by https://istio.io/docs/setup/kubernetes/multicluster-install/#gather-credential-files-from-remote.

**Expected behavior**
I expected the pilot pod to run without crash

[2018-06-20 21:09] incfly opened #6445 "Re-merge master into collab-gcp-identity"
Context, https://github.com/istio/istio/pull/6304#issuecomment-398897232

[2018-06-20 21:09] a-robinson commented on #6443
For what it's worth, I suspect this is an issue with the credentials file with the remote cluster, but (1) I'm not sure what's wrong with it, and (2) that shouldn't cause a nil pointer exception.

[2018-06-20 21:15] incfly commented on #6407
One more data point, when I create the CP with multiplexing, on `release-1.0-snapshot.0`, the cloudfoundry and multiplexing both tests passed.

[2018-06-20 21:19] a-robinson commented on #6443
Alright, fixing the credentials file did indeed do the trick. Some documentation on crafting the credentials file properly (such as showing an example file) would have been nice, but at this point the bug is really just that the system crashes in bad ways when given bad input.

[2018-06-20 21:38] liamawhite commented on #5732
completed with https://github.com/istio/istio/pull/6373

[2018-06-20 21:38] #5732 closed

[2018-06-20 21:43] markns commented on #6421
Hi @ymesika, I just tested with the `host: '*'` change you mention, but it makes no difference for me. I'll test with the latest version of GKE and the latest daily release in the morning.

(btw, latest daily I've tried so far is istio-master-20180618-09-15 - same issue)

[2018-06-20 21:47] rshriram commented on #6146
I wish we could. K8s is not exposing them as APIs!! Its just cli flags to api server

[2018-06-20 22:28] adityats2020 opened #6448 "[Adapter] Guidance on building a private mixer adapter"
**Is your feature request related to a problem? Please describe.**
I would like to use a create a private custom template and adapter and use with Mixer. From my understanding of the dev guide, the way to build an adapter that would be private is to
1. Fork istio to a private repository
2. Add new template and adapter to the package
3. Define them in `istio/mixer/template/inventory.yaml` and `isti

[2018-06-20 22:50] gyliu513 commented on #6418
Thanks @kyessenov

This is my output of when build pilot-discovery
[code]

I always delete `/root/go/out/linux_amd64/` before build, is this right? Also I was only re-building pilot-discovery, but did not touch pilot-agent, why old proxy matters?

[2018-06-20 22:51] kyessenov commented on #6418
I'm not familiar with istio's build. The error seems to show you run stale envoy against a recent pilot build.

[2018-06-20 22:55] sprutner commented on #5327
Sounds good @subfuzion. I threw up a quick medium post on my resolution. It would be awesome to read yours once it's done!

[2018-06-20 23:08] andraxylia commented on #3867
thanks for the confirmation @jsenon , closing this issue.

[2018-06-20 23:08] #3867 closed

[2018-06-20 23:13] jaredeis commented on #5327
@sprutner Thanks for the shout out. I am guessing what didn't work for you was that they changed the aws command switch from --cluster-name to just --name? I forgot that was different after GA as well.

[2018-06-20 23:37] gyliu513 commented on #6418
@kyessenov yes, I was using 0.8 envoy and latest pilot-discovery for the test, this maybe the issue.

@ymesika how did you apply the latest pilot to your cluster? Did you also update the envoy? Can you please show me the process here?

[2018-06-20 23:58] kyessenov commented on #6404
This is circle-specific. Prow runs the normal workflow (components in istio-system, apps in its own namespace).

[2018-06-21 00:01] ostromart opened #6451 "Istio webhook config should use informer/watch to monitor caBundle"
Currently, as a mitigation to https://github.com/istio/istio/issues/6069, the CA bundle in the webhook config is periodically checked and re-patched in case it becomes reset (by for example reapplying istio.yaml).
The mitigation is https://github.com/istio/istio/pull/6435
The periodic check should be converted to use informer/watch.

[2018-06-21 00:11] ldemailly commented on #6404
that's good, but eventually we should cover the 3+1 namespaces I suggest

[2018-06-21 00:35] sdake commented on #6443
@sbezverk can you take a look at validating the inputs with multicluster so pilot doesn't crash on bad input?

Cheers
-steve

[2018-06-21 00:37] sdake commented on #6443
@a-robinson thanks for giving multicluster a spin!  Would love to hear any feedback you have beyond this defect.  We will get this fixed.

[2018-06-21 00:39] sdake commented on #4822
A new issue with multicluster reported - invalid credential input causes pilot to crater.  https://github.com/istio/istio/issues/6443

[2018-06-21 01:06] sbezverk commented on #6443
@sdake will look into it.
@a-robinson could you please share the secret you use for the remote  cluster.

[2018-06-21 01:18] sprutner commented on #5327
Yep that was it.

[2018-06-21 01:42] tiswanso commented on #6443
still reading through this... 99% sure this is a case where the remote-cluster's secret name is different than the filename in secret data.  There's a straight dereference of a map with the secret name in the code without validating the key exists.

[2018-06-21 01:45] tiswanso commented on #6443
@a-robinson -- In case you're not using it, I updated the multicluster doc very recently with info specifically on setting up a service-account.  The procedure works fine with 0.8.

https://preliminary.istio.io/docs/setup/kubernetes/multicluster-install/

[2018-06-21 04:46] ymesika commented on #6418
@gyliu513 Not so different from you. The difference is that I do it on MacOS so I have a script that builds all images / specific one and push them:

[code]

I run it every morning to have the latest images from master and build specific when necessary.

I also update my `values.yaml` with my TAG/HUB above so that it will pick up those images when I install.

I hope it helps.

[2018-06-21 04:51] ymesika commented on #6421
I didn't mean the `hosts` change to fix anything. Just was too lazy to trick `curl` with headers etc ;-)

Please let us know if it worked with the new GKE/daily.

[2018-06-21 05:20] bianpengyuan opened #15747 "Add telemetry report of http streaming in mixer filter"
Right now http streaming is treated the same as unary http, which means there is only one report at stream closing. With envoy v2 starting to use grpc streaming, it's imperative to add telemetry report for http streaming. Suggest we start with something like tcp, which periodically reports inbound outbound bytes.

cc @qiwzhang

[2018-06-21 05:39] bianpengyuan opened #6458 "Telemetry for pilot xDS streaming"
With envoy v2, we lost metrics of sidecar's xDS request, because non-mtls traffic goes to pilot grpc port directly without going through sidecar. Besides that, we don't have good support for http streaming telemetry https://github.com/istio/proxy/issues/1828. Suggest to revive pilot metrics after istio-proxy adds grpc streaming telemetry report.

cc @costinm @douglas-reid @kyessenov

[2018-06-21 06:18] markns commented on #6421
Heh, yes I was a bit skeptical for that change fixing anything too, but I'll try anything at this stage :)

Just tested with a new GKE 1.10.4-gke.2 cluster, but still the same result.

[code]

No newer daily than istio-master-20180618-09-15, so I guess it's time to figure out how to compile Istio myself.

Since the 06/15 daily was marked as [the first RC for the June release](https://groups.google

[2018-06-21 06:47] yacut commented on #6307
More information about this issue.

[code]

[code]

[code]

I hope it will be helpful...

[2018-06-21 07:27] gyliu513 opened #6460 "bookinfo does not work with 0618 build"
1) Get daily build from https://gcsweb.istio.io/gcs/istio-release-pipeline-data/daily-build/master-20180618-09-15/
2) Install istio and bookinfo
3) Use NodePort access ingressgateway productpage, failed.

[code]

Productpage proxy log:
[code]

/cc @rshriram @frankbu

[2018-06-21 07:56] markns commented on #6421
Just built and deployed latest master (df751e4ec43df82695c824b3a7aede1b5857ec2f), and still see the same problem.

@ymesika did you deploy Istio using helm, or another method?

[2018-06-21 08:30] rokii opened #6461 "Pilot: Support filtering svc/pod through label"
**Is your feature request related to a problem? Please describe.**
I donnot want pilot to fill envoy with all the svc/endpoint in k8s.
And I am sure my pods with istio-proxy will never access certain services.

**Describe the solution you'd like**
Current Pilot only supports restriction of  watching one ns through _appNamesapce_ param.
Can it be enhanced to support filtering svc/endpoint/pod to be

[2018-06-21 08:58] diemtvu opened #6462 "Return more meaningfull HTTP error code for mTLS"
**Is your feature request related to a problem? Please describe.**
Istio authentication (especially with mTLS) have different error code returns:
- If request is plain text, and server expect mTLS, the request is rejected with 000 (due to TLS handshaking failure)
- If request is TLS, but server is expecting plain text, return code is 503 (service not found).
- Last but not least, if connection is

[2018-06-21 09:00] ymesika commented on #6421
Just went again through the following steps:
1. Deployed master using Helm
1. `kubectl create -f <your_yaml_above_with_*>`
1. Created tls.crt and tls.key (without password) using openssl
1. `kubectl create -n istio-system secret tls istio-ingressgateway-certs --key ./tls.key --cert ./tls.crt`
1. Find out the ingressgateway external IP with `kubectl get svc -n istio-system`
1. `curl -I -k --http1.1

[2018-06-21 09:08] ymesika commented on #6460
I don't see https://github.com/istio/istio/pull/6349 in this daily build.
Probably the reason.

[2018-06-21 09:19] johnzheng1975 commented on #6116
@frankbu @andraxylia  Yes, in istio0.8, this issue still exists.
Environment: k8s1.9.5 + istio0.8 + cilium1.1.0-rc3 (istio auth is disabled)
There are two service l1ham and ham in my platform, l1ham service accesses ham service unstable.
I write a jenkins job, which will run below command each minute continually.
kubectl  exec -ti hp-l1ham-deploy-66594c5559-54825 --namespace=hp -- curl -v hp-ham-s

[2018-06-21 09:21] markns commented on #6421
@ymesika Ok, I'll try exactly these steps, but can you let me know your exact helm command pls?

[2018-06-21 09:28] gyliu513 commented on #6460
Thanks @ymesika , from the log, your suspect is right ;-)
[code]

Fixed in #6349

[2018-06-21 09:28] #6460 closed

[2018-06-21 09:35] markns commented on #6421
Yep, already built my images with master this morning. I'm also using `--set global.proxy.envoyStatsd.host=istio-statsd-prom-bridge.istio-system` to work around the bug I think you're referring to.
Trying your steps out now....

[2018-06-21 09:43] gyliu513 commented on #6418
Thanks @ymesika and @kyessenov , it works fine after I use daily build

[2018-06-21 09:43] #6418 closed

[2018-06-21 09:45] gyliu513 commented on #6462
Thanks @diemtvu for opening this, for more detail, please refer to https://github.com/istio/istio/issues/6180#issuecomment-396761980

[2018-06-21 10:03] markns commented on #6421
Nope, still the same behaviour:

Exact helm command (had to disable galley because `...no endpoints available for service "istio-galley"`
[code]

[code]

Using a self-signed cert from letsencrypt, but surely that's not relevant.... is it?!

What's left to test?

[2018-06-21 11:13] johnzheng1975 commented on #6116
add more log
[istio-pilot-5fd8c4bb89-8996n_istio-proxy.log](https://github.com/istio/istio/files/2123309/istio-pilot-5fd8c4bb89-8996n_istio-proxy.log)
[istio-policy-578f8c599f-th4lq_istio-proxy.log](https://github.com/istio/istio/files/2123310/istio-policy-578f8c599f-th4lq_istio-proxy.log)
[istio-policy-578f8c599f-th4lq_mixer.log](https://github.com/istio/istio/files/2123311/istio-policy-578f8c599

[2018-06-21 11:22] johnzheng1975 commented on #6116
add more logs
[hp-ham-deploy-5d7dffbcc8-ndjbs_ham.log](https://github.com/istio/istio/files/2123354/hp-ham-deploy-5d7dffbcc8-ndjbs_ham.log)
[hp-ham-deploy-5d7dffbcc8-ndjbs_istio-proxy.log](https://github.com/istio/istio/files/2123355/hp-ham-deploy-5d7dffbcc8-ndjbs_istio-proxy.log)
[hp-l1ham-deploy-66594c5559-54825_istio-proxy.log](https://github.com/istio/istio/files/2123356/hp-l1ham-deploy-66594c

[2018-06-21 12:16] dpacierpnik opened #6463 "Bug in documentation for Minikube. Helm charts does not work."
**Describe the bug**
When I blindly followed quick start documentation: https://istio.io/docs/setup/kubernetes/quick-start/ and wanted to use minikube with kubernetes 1.9 I was not able to run helm charts for 0.8.0 with default config. Got error:
[code]

To have it running I had to use additional switch for minkube:
[code]
so whole command looks like:
[code]

**Expected behavior**
I expect the hel

[2018-06-21 12:42] dpacierpnik opened #6465 "Envoys are restarting all the time (Istio Ingress and Istio IngressGateway)"
**Describe the bug**

I've installed Istio using helm charts with default configuration, and one small change. I exposed Istio Ingress on NodePorts: 80 and 443.

My Istio Ingress configuration looks like this now ('istio-0.8.0/install/kubernetes/helm/istio/values.yaml'):

[code]

All envoy-based components (my pod sidecar, Istio Ingress, and Istio Ingress Gateway) are restarting all the time:

[co

[2018-06-21 12:43] esnible commented on #5327
@ayj Now that this issue is Closed shall we close and abandon the PR for K8s 1.10.4?

[2018-06-21 13:02] bechampion opened #6466 "istioctl version maybe mismatched?"
Hey guys im testing a number of things specifically egress , and during the chart installation im finding this on kube-inject
[code]

I've installed istio using helm on incubator and this is the chart version:
[code]

I'm sure there's a mismatch between istioctl and the chart i've deployed since the "egressProxyAddress" value that it's complaining about is on the configmap:

[code]

Running all th

[2018-06-21 13:05] RiRomain commented on #2121
Hi @lchb369,
I'm facing the same issue, how did you resolve it?
Thanks in advance.

[2018-06-21 13:21] esnible commented on #6303
I tried to reproduce this using an Istio built from _master_ two weeks ago and I get a Pilot *panic* rather than  an unknown field.

[code]

[2018-06-21 14:18] rshriram commented on #6421
Thanks for debugging guys. I found the problem.. but the fix is thorny. This behavior (that @markns is seeing) was introduced by https://github.com/istio/istio/pull/6158 (cc @zachgersh / @Nino-K ) where the idea was that if the client is communicating over H2, it should carry over till the end even if server asked for plain HTTP (assuming server supports upgrades), while if the client is communica

[2018-06-21 14:18] michaelpjohnson commented on #5327
Why is the issue closed? I'm definitely still experiencing this with the
latest k8s, istioctl, heptio auth. I'm using KOPs not EKS.

On Thu, Jun 21, 2018 at 8:43 AM Ed Snible <notifications@github.com> wrote:

[2018-06-21 14:30] michaelpjohnson commented on #5327
My setup:

Just pulled:
[code]
Created from KOPS yesterday:
[code]

[code]

[2018-06-21 14:33] esnible commented on #6466
The _egressProxyAddress_ was removed from istio/api on Feb 8.
 Clusters running versions before Feb 8 may expose this when using _istioctl_ post Feb 8,
 https://github.com/istio/api/commit/b5d35aad98bedc3757f3fa76d50ae0b0dacca426#diff-e7424aa96af1917e2a00aea6798dc071

[2018-06-21 14:35] michaelpjohnson commented on #5327
If I make one change and download the pre-built binaries above:

[code]

[2018-06-21 14:35] bechampion commented on #4701
this has worked for me:
[code]
We should move to this on master no ?

[2018-06-21 14:41] jaredeis commented on #5327
@sprutner One more thing. You can get the wrapper to work in linux if you download the binary for it and add it to the command directory. It worked for me under Ubuntu when I initially wrote it, so I assume adding the 0.8.0 linux binary would work too. We needed linux because we are deploying EKS and Istio with Jenkins.

[2018-06-21 15:21] douglas-reid commented on #6458
I'm not sure why we opted out of the proxy for non-mTLS traffic. That seems like a step backwards -- and one that was not done with the requisite changes to monitoring configuration for dashboards, etc. It also significantly impacts the ability to route telemetry for Pilot through Mixer, undoing work that has been marked as complete on our roadmap for a long time now.

cc: @andraxylia

I think all

[2018-06-21 15:23] douglas-reid commented on #6448
@adityats2020 There is a much better way. The approach involves using the newly-supported gRPC adapters. There is work right now on adding the appropriate dev guide.

[2018-06-21 15:39] gyliu513 commented on #6465
Seems duplicate with https://github.com/istio/istio/issues/6460 , but 0.8 should not have this issue.

Can you please check if your injected httpbin deployment is using `- istio-statsd-prom-bridge.istio-system:9125` or `- istio-statsd-prom-bridge:9125`?

You can check your `istio` configmap parameter `statsdUdpAddress`, it should have namespace.

[code]

[2018-06-21 15:47] prune998 commented on #6371
@kvudata I had an issue also, using the OsX `curl`. Can you confirm your curl version and OS ?

[2018-06-21 16:01] vinayvenkat commented on #4530
Hi guys,
I followed this guide and everything worked. However it seems that it does not complete the story and might be missing some parts or making assumptions about next steps.

I think it would be good to add the following:

- explicitly state the deployment of Istio and talk about both scenarios.
   i.e when istio has not been deployed already and when istio has already been deployed (which I

[2018-06-21 16:02] prune998 opened #6469 "Istio 0.8.0 VirtualService missmatch hosts when port is added"
**Describe the bug**
When using the IngressGateway and defining a VirtualService, the `hosts` list makes difference between `<host>` and `<host>:<port>`

**Expected behavior**
By RFC, the `Host:` header of HTTP can be the plain `<host>` or `<host>:<port>`. The VirtualService should consider the two as beeing the same.

**Steps to reproduce the bug**
I started with the howto at https://istio.io/doc

[2018-06-21 16:16] douglas-reid commented on #4530
@vinayvenkat I think all of this may now be obsolete. We recently added support for out-of-process Mixer adapters to Istio. Your suggestions are probably better applied to the docs being developed to support that use case, as that is the next step in the evolution of custom adapter support in Mixer.

cc: @guptasu who is developing those docs as we exchange these messages.

[2018-06-21 16:23] vinayvenkat commented on #4530
@douglas-reid Thanks for the response. If thats the case what is the recommended development and testing framework for someone trying to develop, integrate and test custom adapters? Also are you suggesting that I cannot use the in-built adapter approach for testing purposes?

@guptasu : Do you have any recommendations on how I can build and test my custom adatper.

Thanks in advance.

[2018-06-21 16:31] ymesika opened #6470 "istio-mixer-post-install first run fails"
When installing Istio using helm the istio-mixer-post-install job is being triggered but the first try fails:
[code]

The log from the failed run says that it got timeout:
[code]

[2018-06-21 16:49] adityats2020 commented on #6448
That sounds much better indeed!
Has there already been an adapter developed using gRPC I can take a look while the dev guide is being worked on?
Can you also link the issue tracking the work?

[2018-06-21 17:03] guptasu commented on #4530
Hi @vinayvenkat

Here are two examples of testing your custom adapters
1. for in-built compiled in adapters: write integration test
sample 1: https://github.com/istio/istio/blob/master/mixer/adapter/prometheus/prometheus_integration_test.go
sample 2:
https://github.com/istio/istio/blob/master/mixer/adapter/list/list_integration_test.go
sample 3:
https://github.com/istio/istio/blob/master/mixer/ada

[2018-06-21 17:07] andraxylia opened #6471 "Mesh Config API / Mesh Config Protocol / Pilot Decomposition Epic"
Design Documents:

Pilot Decomposition: https://goo.gl/qAsEQx

Config Components Distribution: https://goo.gl/EJu5hg

[2018-06-21 17:11] andraxylia opened #6472 "Mesh Config Protocol Server"
Mesh Config Protocol Server reference implementation & Galley MCP Server.

[2018-06-21 17:11] andraxylia commented on #6472
Fixed in #6218

[2018-06-21 17:12] andraxylia opened #6473 "Mesh Config Protocol Client in Pilot"
Mesh Config Protocol client in Pilot

Part of Pilot Decomposition Epic #6471

Generic client that registers with one or more MCP servers; offers an interface that allows interested observers to sign up for notifications on certain object types
upon receiving incoming protobuf data from the wire, builds a heterogenous list of objects with their type and notifies interested observers by looping thro

[2018-06-21 17:14] #6472 closed

[2018-06-21 17:17] andraxylia opened #6474 "istio/api: Add Mesh Config Protocol definition"

[2018-06-21 17:19] andraxylia opened #6475 "Extend istio APIs with Envelope resource"
Envelope contains also a metadata field with name, namespace.

[2018-06-21 17:20] andraxylia commented on #6475
Fixed in istio/api#531

[2018-06-21 17:20] #6475 closed

[2018-06-21 17:22] andraxylia commented on #6473
cc @ayj @ozevren

[2018-06-21 17:26] tcnghia opened #6476 "Istio injector annotations don't work as described in doc"
**Describe the bug**
Istio injector annotations don't work as describe in at https://istio.io/docs/setup/kubernetes/sidecar-injection/#policy,

* policy=disabled -> The sidecar injector will not inject the sidecar into pods by default. Add the sidecar.istio.io/inject annotation with value true to the pod template spec to enable injection.
* policy=enabled -> The sidecar injector will inject the si

[2018-06-21 17:27] tcnghia commented on #6476
inject_test.yaml
[code]

[code]

[2018-06-21 17:27] andraxylia opened #6477 "Define the interface between Config Ingestion Layer and the Core Data Model Layer"
As specified in the Pilot Decomposition doc:
https://goo.gl/qAsEQx

Define the interface between Config Ingestion Layer and the Core Data Model Layer and populate internal Pilot's Data Structures based on data received from the MCP client.

[2018-06-21 17:30] andraxylia opened #6478 "Pilot Add feature knob to enable the mode of config via Galley"

[2018-06-21 17:32] andraxylia opened #6479 "Add file-based support to Galley MCP server"

[2018-06-21 17:32] andraxylia commented on #6479
cc @ayj

[2018-06-21 17:35] andraxylia opened #6480 "Galley convert from k8s resources to Mesh Config APIs over MCP"
This includes CRDs, as well as Services and Endpoints.

[2018-06-21 17:38] andraxylia opened #6481 "Define authn scheme for Pilot Decomposition"
Auth is currently defined as a CRD. Galley has to read the CRDs and convert it to MCA securely.

Strawman options:
co-locate galley alongside Pilot, Mixer, etc. and use gRPC over UDS (intermediate option only)
mTLS between Galley and components
mTLS with additional ACLs, e.g. components only allowed to receive config within their domain (functional, organizational, etc)

[2018-06-21 17:39] ayj commented on #5327
Closed prematurely (by mistake). Re-opened since the issue isn't completely resolved yet.

[2018-06-21 17:39] andraxylia opened #6482 "Document incremental upgrade from legacy config model to new MCP model"
Galley w/MCA server should be started/upgraded before Pilot w/MCA client is upgraded.
Reverse for uninstall.

[2018-06-21 17:41] prune998 commented on #6476
I'm not sure I understang your issue, but :
- do a `kubectl get namespaces -o jsonpath='{.items[*].metadata.labels}'` to list namespaces and labels associated. You should see something like `map[istio-injection:enabled name:test]` if your namespace have the injectin enabled
- check the content of the configmap `istio-sidecar-injector` in your `istio-system namespace. You can use something like `ku

[2018-06-21 17:56] liamawhite commented on #4702
Design Doc is [here](https://docs.google.com/document/d/17TVN-GUWLAuM-YHPd561qMQOXCaSMQ51wcQEkxvvW9U/edit). Discussions ongoing.

[2018-06-21 17:56] liamawhite commented on #4481
Design Doc is [here](https://docs.google.com/document/d/17TVN-GUWLAuM-YHPd561qMQOXCaSMQ51wcQEkxvvW9U/edit). Discussions ongoing.

[2018-06-21 18:05] ymesika commented on #6476
@prune998, @tcnghia tested all combinations of having ns sidecar injector label vs having annotation in the pod.
His results are a bit confusing because he used the term `policy` for the NS label and `labeled` for the annotation.
The bottom line is that the label has high priority than the annotation. For instance, if you have a pod with an annotation to inject deployed into a ns with no label the

[2018-06-21 18:36] rshriram commented on #1094
There is almost zero context about that this "service alias" means or what the tests are. Closing for the moment.

[2018-06-21 18:36] #1094 closed

[2018-06-21 18:37] rshriram commented on #1486
This can be closed given that people seem to have happily adopted the gateway (See mailing list traffic). Gateway + VirtualService solves all the issues that ingress was facing.

[2018-06-21 18:38] andraxylia commented on #6382
At a minimum we need reasonable documentation.

[2018-06-21 18:38] #2573 closed

[2018-06-21 18:38] #1486 closed

[2018-06-21 18:41] tcnghia commented on #6476
@ymesika the label doesn't always have higher priority than the annotation.  For example, when namespace policy label is `enabled` and pod annotation is `false` we see sidecar injection turned off.  So the annotation takes precedence in that case.  However, when policy label is `disabled`, it has higher priority.

The documentation https://istio.io/docs/setup/kubernetes/sidecar-injection/#policy e

[2018-06-21 18:41] rshriram commented on #5934
fixed by #6081

[2018-06-21 18:41] #5934 closed

[2018-06-21 18:45] rshriram commented on #4940
I think we have fixed this by setting a large value for max HTTP2 streams for ports named http2-*,

[2018-06-21 18:45] #4940 closed

[2018-06-21 18:47] rshriram commented on #6116
You either use shortname or use FQDN (name.namespace.svc.cluster.local)

[2018-06-21 18:48] tcnghia commented on #6476
BTW, I saw that the documented policy is consistent with the code in https://github.com/istio/istio/blob/0759c8572119b8c78eeed1e0bbd3c58efc748092/pilot/pkg/kube/inject/inject.go#L277

However, in my webhook logs the AdmissionReview didn't happen for Pods in a namespace with policy `disabled`.

I hope this information helps.

[2018-06-21 18:49] ymesika commented on #6476
@tcnghia I think you are confusing the policy from the doc with the namespace label. The policy in the doc refers to the `Policy` flag within the `istio-sidecar-injector` ConfigMap.

[2018-06-21 18:53] rshriram commented on #3799
fixed a while ago.

[2018-06-21 18:53] bechampion commented on #6466
Thank you. Had some success running the chart on master and pointing images to gcr.io

[2018-06-21 18:53] #3799 closed

[2018-06-21 18:54] prune998 commented on #4940
@rshriram do you have any commits pointing to that ?
Do you mean I'll have to rename all my `grpc` ports to `http2-<something>` ?
Thanks

[2018-06-21 18:57] rshriram commented on #5761
The istio-demo.yaml shows autoscaling config for both ingress/egress gateways (as of 0.8)

[2018-06-21 18:57] #5761 closed

[2018-06-21 18:58] esnible commented on #3729
@mbanikazemi Can you look at this?  The problem is in the Envoy code base.  We need to understand if we can fix Envoy, or need to document the problem, or add logging to Pilot when this problem is about to occur.

[2018-06-21 18:59] tcnghia commented on #6476
@ymesika I see now.  Can you please recommend how I use the opt-in policy described in the doc?  Do I set `policy=disabled` on ConfigMap and set `sidecar.istio.io/inject=true` on the Pod?

Thank

[2018-06-21 19:00] andraxylia commented on #6099
@rlenglet can you please join the Istio organization so I can assign the issue to you?

[2018-06-21 19:00] prune998 commented on #6476
@tcnghia that's what I'm doing... No sidecar is injected except in the pods I want.
I think you still need to have `istio-injection:enabled` label on the `namespace`  for it to work

[2018-06-21 19:00] #6099 closed

[2018-06-21 19:03] rshriram commented on #5727
Any updates? Do you still see segfaults?

[2018-06-21 19:06] #6109 closed

[2018-06-21 19:16] #2194 closed

[2018-06-21 19:25] yacut opened #6486 "Istio + Cert-Manager + Let’s Encrypt"
[Istio (Envoy) + Cert-Manager + Let’s Encrypt for TLS](https://medium.com/@prune998/istio-envoy-cert-manager-lets-encrypt-for-tls-14b6a098f289) guide does not work with Istio 0.8.0 any more ...

The problem is that Istio 0.8.0 [no longer support combining Kubernetes Ingress specs with Istio routing rules](https://istio.io/about/notes/0.8/#networking). So we can't create an ingress for `/.well-know

[2018-06-21 19:30] ayj commented on #6187
[api_spec.proto](https://github.com/istio/api/blob/master/mixer/v1/config/client/api_spec.proto) allows you to define method/uri_template-to-attribute mappings in the proxy for API attribute generation. The same mappings information could possibly be used by the mixerclient to augment trace span data. cc @qiwzhang @ostromart

[2018-06-21 19:35] rshriram commented on #1437
this is a duplicate of #1038 . Please follow that issue for updates..

[2018-06-21 19:38] #1437 closed

[2018-06-21 19:38] #4239 closed

[2018-06-21 19:40] andraxylia commented on #6458
@costinm had a reason for bypassing the proxy.

[2018-06-21 19:41] tcnghia commented on #6476
@ymesika It looks like setting up the ConfigMap policy works as you described.

I summarizes the behavior as followed.

| Namespace label `istio-injection` | ConfigMap key `policy` | Pod annotation `sidecar.istio.io/inject` | Injection |
|-----------------------------------|------------------------|------------------------------------------|-----------|
| enabled                           | enable

[2018-06-21 19:45] rshriram commented on #6458
Even with the proxy in between, you won't get any useful metrics. You simply get info that the ADS call was made and not about the individual resources requested in each call. Pilot is emitting the same metrics internally (as prometheus metrics). We can stream these metrics to the dashboard, if that helps..

[2018-06-21 19:53] rlenglet commented on #6099
@andraxylia sure, please invite me to the org. Anything I need to do on my side?

[2018-06-21 19:53] cmluciano commented on #5559
fixed in #5559

[2018-06-21 19:53] #5559 closed

[2018-06-21 19:56] baodongli commented on #6259
I'd like to understand this better as well. I agree with @rshriram that inbound listeners are setup to listen on the pod IP only. With regard to containerIP, the following is extracted from k8s API specs https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/:

ports
ContainerPort array
patch type: merge
patch merge key: containerPort 	List of ports to expose from the container. Expos

[2018-06-21 19:56] #6474 closed

[2018-06-21 20:05] andraxylia commented on #6259
@baodongli the traffic is sent to that PodIP, but the original dest IP of the traffic is re-written as the traffic is trampolined.

Correct, k8s spec does not mandate the containerPorts to be listed, Istio requires it, so it can add the ports to the list of inboundPorts.

[2018-06-21 20:08] andraxylia commented on #6099
@geeknoid can you please invite @rlenglet to istio org he contributed to Istio

[2018-06-21 20:15] vinayvenkat opened #6490 "Integration Test Step from the Adapter Walkthrough guide is not working"
**Describe the bug**
I followed all the steps outlined in the following link:
https://github.com/istio/istio/wiki/Mixer-Adapter-Walkthrough

All the steps worked great. However, I wanted to implement a test to locally test out my adapter.
However, running that command does not seem to:

 (1) run the test when the full command is run.
     i.e go build ./... && go test adapter/mysampleadapter/*.go

[2018-06-21 20:23] Rigdon commented on #4938
@sakshigoel12 I just confirmed that this is still an issue with 0.8.

[2018-06-21 20:25] vinayvenkat commented on #5878
I'm seeing the same problem as well. I just opened #6490 which seems identical.
Any help will be greatly appreciated.

[2018-06-21 20:29] vinayvenkat commented on #6490
@guptasu Any guidance here would be greatly appreciated.

Thank you also to your comments on the other thread with examples. You referenced tests there and hence I decided to start here and this is failing. Thanks!

[2018-06-21 20:34] sakshigoel12 commented on #4938
@ayj please could you take a look

[2018-06-21 20:47] guptasu commented on #6490
@vinayvenkat let me take a look.

[2018-06-21 20:49] kyessenov commented on #6458
Custom metrics will not be handled by mixer adaptors. That's why we want to
emit the default limited metrics. The missing details in metrics is an
istio limitation that we should all be working towards fixing, since the
same arguments apply to application level metrics.

On Thu, Jun 21, 2018, 12:45 PM Shriram Rajagopalan <notifications@github.com>
wrote:

[2018-06-21 20:54] tcnghia commented on #6476
If I understand correctly ConfigMap is a cluster-wide injection policy, namespace label `istio-injection` is a namespace level injection policy, and Pod annotation `sidecar.istio.io/inject` is a Pod level injection policy.

Since namespace level policy are not yet documented, may I request that we adopt a hierarchical model?   In such a hierarchical model, the policy with the least scope wins.  So

[2018-06-21 20:58] gbaufake commented on #4999
I'm facing this issue with istio 0.8.0 and istio-ingress config variable `discoveryRefreshDelay` set to 10s
[istio-ingress.txt](https://github.com/istio/istio/files/2125313/istio-ingress.txt)

[2018-06-21 21:05] kyessenov commented on #6407
fixed by https://github.com/istio/istio/pull/6442

[2018-06-21 21:05] #6407 closed

[2018-06-21 21:08] kyessenov commented on #6309
Re-open if this happens again.

[2018-06-21 21:16] ayj commented on #6473
I'm working on a generic client that addresses these requirements. Finishing up the unit test and then I'll post for review in a day or so.

[2018-06-21 21:19] hklai commented on #6309
Seems to be happening still.

https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/6483/e2e-mixer-no_auth/116/
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/6338/e2e-mixer-no_auth/113/

However this has not happened in postsubmit just yet (which should be identical to presubmit now)

The only flake there was TestDenials.
https://k8s-gubernator.appspot.com/bui

[2018-06-21 21:22] andraxylia commented on #6313
@GregHanson If your commit in #6432 fixes this issue, please close it. We discussed this issue in the nw community meeting, and that more work is required to test this, so please open a separate issues for adding testing and mark is Nebulous Future.

[2018-06-21 21:22] ldemailly commented on #2573
can one not close issues without explanation of why it is closed?

does 0.8/1.0-pre (gateway) documents how to not listen on 80 ?

[2018-06-21 21:31] quanjielin commented on #5799
close this issue as the code is removed

[2018-06-21 21:31] #5799 closed

[2018-06-21 21:31] guptasu commented on #5878
@vinayvenkat @tushar00jain this is fixed now

[2018-06-21 21:32] guptasu commented on #6490
@vinayvenkat this is fixed now

[2018-06-21 21:32] guptasu commented on #6490
please review the walkthrough again

[2018-06-21 21:44] kyessenov commented on #6309
@qiwzhang any insight into this error:
[code]

[2018-06-21 21:46] kyessenov commented on #6309
@hklai the error above is the culprit! Looking into the code why this happens.

[2018-06-21 22:00] guptasu commented on #4530
@douglas-reid @vinayvenkat the documentation for gRPC adapters is done (I have requested for review):
https://github.com/istio/istio/wiki/Out-Of-Process-gRPC-Adapter-Dev-Guide
This contains link to the walk through on how to create a sample gRPC adapter.

Let me know if anything is wrong.

[2018-06-21 22:01] vinayvenkat commented on #6490
@guptasu Thank you for looking it and getting back to me so quickly!

I tried it and now I am getting the following errors:

[ec2-user@se-summit mysampleadapter]$ ls
config  mysampleadapter.go  mysampleadapter_test.go  testdata
[ec2-user@se-summit mysampleadapter]$ ls testdata/
attributes.yaml  mysampleadapter.yaml
[ec2-user@se-summit mysampleadapter]$ go build ./... && go test *.go
# command-line

[2018-06-21 22:02] gyliu513 commented on #6465
@ymesika but the ingress log do not have namespace
[code]

[2018-06-21 22:05] ayj commented on #6476
We don't have a namespace policy. The mutatingwebhookconfiguration's NamespaceSelector determines whether or not the webhook is invoked at all by the api-server. It can't be overridden by the per-pod annotation.

As an enhancement we could _replace_ the boolean `policy` option in the istio-inject ConfigMap with  namespace policy selector.

1. mutatingwebhookconfiguration's NamespaceSelector => sel

[2018-06-21 22:11] guptasu commented on #6490
@vinayvenkat you will need to get latest version of Mixer the GetConfig was added recently 8 days ago.
https://github.com/istio/istio/pull/6217

[2018-06-21 22:18] kyessenov commented on #6309
@geeknoid What exactly does exact key mean for an empty `request.headers[x-user]`?
In the example above, proxy does not have it in the attributes, mixer rule has a condition `request.headers[x-user]==""`, and then somehow that gets turned into exact key match, which proxy then fails to validate.

[2018-06-21 22:43] geeknoid commented on #6309
"EXACT" means the key should have the specific value, which can include ""
"ABSENCE" means the key must not exist.

[2018-06-21 22:46] geeknoid commented on #6309
The issue is likely around the fact this is a two-level thing.

Does "request.headers" as a whole exist, as oppose to request.headers[x-user].

I'm willing to bet Mixer uses a particular approach when request.headers is not defined, while the proxy (or test) is on a different plan.

[2018-06-21 22:48] kyessenov commented on #6309
This means there are two bugs here:
1. proxy treats EXACT with empty value as being present (not true for headers). cc @qiwzhang
2. mixer sometimes puts an empty value as ABSENT (see the second response from mixer above)

[2018-06-21 22:50] kyessenov commented on #6309
Sorry, this is what I cut out from above:
[code]

[2018-06-21 22:51] john-a-joyce opened #6498 "Multicluster Work items for Mixer"
Multicluster support was added to Istio a while back,  but proper support for mixer in a multicluster deployment has not been addressed. This issue is to track additional work items to ensure mixer is properly supported in a multicluster deployment.  The work items are:

1.  Add the basic support to Mixer to be able to discover services across multiple cluster as was done for pilot.   A separate i

[2018-06-21 22:51] kyessenov commented on #6309
And the third bug is: why is mixer returning all the APA stuff... cc @bianpengyuan

[2018-06-21 23:05] gyliu513 commented on #6486
@yacut did not go through the detail of this blog, one question, so with cert-manager, we will not need Citadel for cert management in istio mTLS?

Can you try edit the pod by adding follow annotation and restart pod?
[code]

[2018-06-21 23:16] rshriram commented on #2573
It’s in helm charts. Fixes went in recently to generate user provided gateways.

[2018-06-21 23:17] monubamb opened #6499 "Containers not starting for istio sidecar and pilot service"
I am getting errors when running istio.yaml for sidecar/pilot service and the containers are not starting

I do see the secrets created for both pilot and sidecar

istio-pilot-service-account-token-px5h6
kubernetes.io/service-account-token
9 minutes
istio-sidecar-injector-service-account-token-7fcr2
kubernetes.io/service-account-token
9 minutes

**MountVolume.SetUp failed for volume "certs" : secr

[2018-06-21 23:21] rshriram commented on #4940
No. Naming ports as http2 or grpc should do the trick

[2018-06-21 23:41] vinayvenkat commented on #6490
@guptasu Thank you for the update and the changes. The tests run successfully now!

However, I think we need to update the docs to reflect that upon a successful run the "out.txt" file gets deleted. So the user can't really introspect the contents of that file.
Thanks a lot for you help!

[2018-06-21 23:41] geeknoid commented on #6309
For your #2 bug, I think this is correct behavior. request.headers[x-user] is an unknown key, it's not present in the input values. So it is strictly correct that it be listed in the ABSENT category. Now, we could further normalize things such that a value of "" is treated the same as an ABSENT key and vice-versa, but we just don't do that right now.

[2018-06-21 23:44] ZhiminXiang opened #6500 "Request timeout in VirtualService does not apply."
**Describe the bug**
I want to apply a request timeout on a service. So I tested with [httpbin](https://github.com/istio/istio/tree/master/samples/httpbin) example, and applied a VirtualService with request timeout 0s. And it does not work. Please see below "Steps to reproduce the bug" for more details.

**Expected behavior**
Request to service httpbin should be timed out immediately.

**Steps to

[2018-06-21 23:55] kyessenov commented on #6309
I agree, so the proxy is right in this case. I wonder why mixer marks it as EXACT...

[2018-06-22 00:05] geeknoid commented on #6309
And for #3, that's a side effect of how Mixer keeps track of usage and how bags are composed. Config is testing an attribute that doesn't exist, so this is going through the top-level MutableBag instance, which forwards it to the underlying ProtoBag, which records the "not found" nature of the attribute.

I believe this is semantically correct. It is innefficient however, since we're sending bigge

[2018-06-22 00:10] geeknoid commented on #6309
So in the two lines of output you put above, the first line is what Mixer produced, and the second line is what the test expected?

[2018-06-22 00:11] incfly opened #6501 "Establish collab feature deveopment practice"
We'll use collab-gcp-identity as an example. Currently we already add some documentations about how setup branch protection and enable test on wiki page.
https://github.com/istio/istio/wiki/Dev-Guide#develop-on-feature-branch

The rest work is about how to periodically merge from master to avoid diverging too much.

[2018-06-22 00:44] kyessenov commented on #6309
Both are what mixer produced and returned to the proxy. Note that this is a
flaky test, so the first erroneous response seems to happen at random.

Re 3rd bug. Doug mentioned that it got fixed in the past. It is not harmful
but not efficient.

On Thu, Jun 21, 2018, 5:11 PM Martin Taillefer <notifications@github.com>
wrote:

[2018-06-22 00:54] rshriram commented on #4430
It’s mainly chars accepted by statsd

[2018-06-22 00:57] rshriram commented on #6046
I fixed a bug today with respect to gateway references. When referring to a gateway in another namespace use the fqdn (name.ns.svc.cluster.local).

[2018-06-22 01:02] rshriram commented on #1380
@ymesika

[2018-06-22 01:13] imjoey commented on #4999
@gbaufake  which version of the proxy image is in your case? In my istio 0.8.0 cluster with `--discoveryRefreshDelay = 10s`,  right after I upgraded the proxy image to `docker.io/istio/proxyv2:0.8.0`, this issue seems to have been resolved.

[2018-06-22 01:38] gyliu513 commented on #6046
@rshriram great, can you please link your PR here so that I can close this?

[2018-06-22 01:45] johnzheng1975 commented on #6116
@rshriram , sorry not got you.
Are you asking me use servicename.namespace.svc.cluster.local instead of servicename.namespace?

[2018-06-22 01:48] andraxylia commented on #6116
yes.

[2018-06-22 01:50] shenjieyao opened #6504 "istio 0.8.0 didn't automatic injection sidecar"
**Describe the bug**
I used a method of automatic injection sidecar into my service ,but didn't watch any istio-proxy in my service pod !
In Version 0.7.1 ,we can use following command to install webhook to support automatic injection
"./install/kubernetes/webhook-create-signed-cert.sh --service istio-sidecar-injector --namespace istio-system --secret sidecar-injector-certs"
"kubectl apply -f  ins

[2018-06-22 02:11] douglas-reid commented on #6458
@rshriram yeah, we are going to have to make sure that we have a source for those metrics.

I do want to point out that this isn't just about metrics. This also means we've lost access logs for Pilot (and any other sort of information that could be generated from `Report()` calls, including trace, edge, and other known templates).

The switch to streaming gRPC certainly would have impacted us as w

[2018-06-22 02:29] #6000 closed

[2018-06-22 03:55] hklai commented on #983
"area/test and release" is meant for common test infra and improvements, and release automation.
I have reassigned to the appropriate areas, and the leads can decide the priorities.

[2018-06-22 04:01] kyessenov commented on #6470
This is likely an issue with helm/installation/upgrade, so environments WG is more appropriate.

[2018-06-22 04:05] kyessenov commented on #6380
Alternatively: this is derivable in the proxy. We could supply `request.stripped_path` to be the query-stripped path (that is actually what envoy matches against, not `:path` pseudo-header) and a query string map `request.path_query`.

[2018-06-22 04:06] kyessenov commented on #6315
Added source_workload https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/mixer/templates/config.yaml#L238. It is the deployment short name in k8s.

[2018-06-22 04:39] #6315 closed

[2018-06-22 04:54] #5806 closed

[2018-06-22 05:00] dpacierpnik commented on #6465
@gyliu513 my application Pod is in default namespace, but in its log there is a namespace:

[code]

I checked also Istio configmap template and namespace is set basing on {.Release.Namespace}

Ingress and IngrewssGateway haven't got namespace in logs, but these components are in the istio-system namespace so it should not be required.

[2018-06-22 05:32] monubamb opened #6508 "budget exhausted trying to fulfill the desired configuration- egress/ingress gateway"
**Describe the bug**

Both IngressGateway and egressGateway are erroring giving the following error..

Permanent error: budget exhausted trying to fulfill the desired configuration**

2018-06-22T03:59:32.874616Z	warn	Epoch 0 terminated with an error: exit status 1
2018-06-22T03:59:32.874799Z	warn	Aborted all epochs
**2018-06-22T03:59:32.874871Z	error	Permanent error: budget exhausted trying to ful

[2018-06-22 05:38] ostromart commented on #6069
https://github.com/istio/istio/pull/6435

[2018-06-22 05:40] ostromart commented on #4933
Seems to be minikube only, setting to P1.

[2018-06-22 05:43] dpacierpnik commented on #6465
Ok, I've found the issue. It's not related to the Istio, but it is related to RBAC enabled for Minikube.
I found out that kube-dns is crashing, because of insufficient permissions of default service account.
With wider permissions for default service account it seems to work.

I applied following configuration:

[code]

Maybe the solution should be also mentioned in yours Quick Start documentation

[2018-06-22 05:45] sakshigoel12 commented on #5223
@ccx1024cc please upgrade to 0.8 and reopen this issue if you still notice this error

[2018-06-22 05:45] #5223 closed

[2018-06-22 05:47] ostromart commented on #6504
Need some further information since this is a fairly basic scenario that has been well tested. It may be related to the environment or a missed step in the setup.
Could you please include the following information:
 - what cluster type and version is this running on? e.g. minikube, gke 1.9.6 etc.
 - have you tried to reproduce the issue? does it happen every time?

[2018-06-22 05:48] sakshigoel12 commented on #6469
cc @andraxylia

[2018-06-22 05:48] #5409 closed

[2018-06-22 05:51] dpacierpnik commented on #6463
Also consider to add to the doc information, that with RBAC enabled for Minikube, one have to set cluster role for default service account. Found by: https://github.com/istio/istio/issues/6465

[2018-06-22 05:52] m1093782566 commented on #4702
Based on what I see in production deployment, topology is arbitrary. It would be great that Istio can have topology-aware routing support - including zone, rack, region, host etc.

[2018-06-22 05:52] ostromart commented on #6476
This is a documentation issue, dropping to P1.

[2018-06-22 05:55] ostromart commented on #6307
Seems to be the same issue as caBundle being overwritten - would you agree @ayj ?

[2018-06-22 05:56] m1093782566 commented on #4702
@liamawhite Is the design doc public now? I am unable to open it - it requires some permissions.

[2018-06-22 05:56] gyliu513 commented on #6465
@dpacierpnik I think this is a environment issue, we should make sure the environment works, I'm OK to close this ;-)

[2018-06-22 05:56] #6465 closed

[2018-06-22 05:57] ostromart commented on #4366
Seems to be stale, closing.

[2018-06-22 05:57] #4366 closed

[2018-06-22 05:58] ostromart commented on #5576
I have a partial PR for it, but still need to control opt-in to new behavior with a flag.
https://github.com/istio/istio/pull/6439

[2018-06-22 06:01] ostromart commented on #5067
We need to find the correct place to capture this. Currently we only have official docs which is not appropriate. Maybe istio-users to make it searchable. Moving to P1.

[2018-06-22 06:07] ostromart commented on #5272
I believe this is a planned work item for 1.0 pilot but I'm not sure if anyone has taken it @rshriram ? I do agree it's a high priority for usability.

[2018-06-22 06:16] liamawhite commented on #4702
updated the link so it should now work

[2018-06-22 06:41] ymesika commented on #6500
Why is it unexpected? Timeout of 0s or any invalid value leads to disabling timeout.

[2018-06-22 06:43] bianpengyuan opened #6510 "Missing destination.service in mixer network filter"
destination.service does not present in the attributes of mixer filter, which makes tcp telemetry from server side missing. One example inbound listener from config dump:
         "filters": [
         {
          "name": "mixer",
          "config": {
           "transport": {
            "report_cluster": "outbound|9091||istio-telemetry.istio-system.svc.cluster.local",
            "attributes_fo

[2018-06-22 06:43] m1093782566 commented on #4702
hmmm, I still can not open the link :(

[2018-06-22 06:55] hrishin commented on #2554
@andresusanto gentle ping. Did you get chance to test with release 0.8?

[2018-06-22 07:06] kyessenov commented on #6510
This is intentional. We don't have a reliable way to determine destination service on the server since a single IP:PORT can represent multiple services, and there is no extra-context passed around from the client.

There is an ongoing discussion to uniquely assign ports to TCP services. That mapping can be used in mixer (there is no need to push that information down to proxies).

[2018-06-22 07:07] yacut commented on #6486
@gyliu513 unfortunately this will not help. Cert Manager creates for each certificate issue  the **cm-acme-http-solver-xxx** temporary resources (pod, service and ingress) without `sidecar.istio.io/inject: "true"` annotation and the `istio-system` namespace has no `istio-injection` label:
[code]

I think a solution could be a custom label for the `cm-acme-http-solver` pod, but if the https://githu

[2018-06-22 07:14] ymesika commented on #6504
@shenjieyao Your steps are correct and the pod should be injected with a sidecar.

The step that you deleted the pod and K8s didn't start a new one instead implies that there is something wrong with the scheduling itself.
Take a look at the deployment to see if you get more hints: `kubectl describe deployment sleep`

[2018-06-22 07:21] gyliu513 commented on #6486
@yacut  Does this help by adding the injection label to `istio-system` and re-depoy?

[code]

Also can you help my question: so with cert-manager, we will not need Citadel for cert management in istio mTLS?

[2018-06-22 07:28] shenjieyao commented on #6504
@ymesika  Yes ! I think so that it woring with the scheduling itself .but i don't know why i recreate sleep.yaml will be not watched any pod . i used that describe command ,and got following message !

Name:                   sleep
Namespace:              default
CreationTimestamp:      Fri, 22 Jun 2018 09:17:03 +0200
Labels:                 app=sleep
Annotations:            deployment.kubernetes.

[2018-06-22 07:31] markns commented on #6486
@yacut We've been using a [DNS challenge provider](https://cert-manager.readthedocs.io/en/latest/reference/issuers/acme/dns01.html) with cert-manager on 0.8.

[2018-06-22 07:38] ymesika commented on #6504
Yes, it failed to recreate an instance.
Get the exact reason for the failure with `kubectl describe replicaset xxxxx`.

[2018-06-22 07:46] shenjieyao commented on #6504
Thanks , I got following error message ! but I didn't understand it . i'm a newcomer  ! ^^
Events:
  Type     Reason            Age                From                   Message
  ----     ------            ----               ----                   -------
  Normal   SuccessfulCreate  25m                replicaset-controller  Created pod: sleep-86f6b99f94-cr695
  Warning  FailedCreate      6m (x19

[2018-06-22 07:51] ymesika commented on #6504
That's very helpful. Can you get all pods from istio-system? It seems like the injector isn't up

[2018-06-22 07:53] shenjieyao commented on #6504
Yes ! all of them were up !
NAME                                       READY     STATUS      RESTARTS   AGE
grafana-6f6dff9986-snn9x                   1/1       Running     0          2h
istio-citadel-7bdc7775c7-vdf7n             1/1       Running     0          2h
istio-cleanup-old-ca-ct4bb                 0/1       Completed   0          2h
istio-egressgateway-795fc9b47-tdg6x        1/1       Ru

[2018-06-22 08:04] serbrech commented on #6499
We had the same problem at deployment on Azure AKS - Kubernetes 1.10.3.
Looking at the secrets, it had been created as expected. It took a few more minutes and everything started running.

[2018-06-22 08:19] yacut commented on #6486
@gyliu513 This will not work, because we can't select a `cm-acme-http-solver` pod with dynamic labels to expose it.
I do not think that the CertManager can replace the Citadel. The main goal of the CertManager is to generate a trusted certificate (with LetsEncrypt) for the ingress resource. If the Citadel could generate browser trusted certificates, then there would be no reason to use the CertMan

[2018-06-22 08:34] ymesika commented on #6504
Do you mind also getting the sidecar log?
`kubectl logs -n istio-system istio-sidecar-injector-645c89bc64-nl2dk`

[2018-06-22 08:38] vinayakshnd commented on #5989
I am trying to  deploy [stable/rabbitmq-ha](https://github.com/kubernetes/charts/tree/master/stable/rabbitmq-ha) helm chart with istio sidecar injection enabled.
The helm chart deploys rabitmq as statefulset with  headless `rabbitmq-ha-devops-rabbitmq-ha-discovery` service and `rabbitmq-ha-devops-rabbitmq-ha` clusterIP service.

RabbitMQ crashes with bellow error even though `epmd` port is defined

[2018-06-22 08:42] alexmatsak commented on #6499
Same issue with AWS EKS, after few minutes everything ok

[2018-06-22 08:46] shenjieyao commented on #6504
Following message is log istio-sidecar-injector  !

2018-06-22T05:34:32.550733Z	info	version root@48d5ddfd72da-docker.io/istio-0.8.0-6f9f420f0c7119ff4fa6a1966a6f6d89b1b4db84-Clean
2018-06-22T05:34:32.551867Z	info	New configuration: sha256sum 6fb54ce8cab658754b93e2064ea052a1cd0682a6a385ea03d4ebe66707327e2a
2018-06-22T05:34:32.551896Z	info	Policy: enabled
2018-06-22T05:34:32.551940Z	info	Template: |

[2018-06-22 08:56] arnecls opened #6511 "Sidecar seems to talk to itself in 0.8.0 bookinfo example"
**Describe the bug**
After setting up istio on a GKE cluster and deploying the bookinfo example, we were not able to connect to the productpage container. Curl returns a 504. After further investigation we saw that the productinfo page exposes port 9080 on localhost (as binding to 0.0.0.0:9080) but so does the sidecar.

When deploying the bookinfo example without istio it works.

**Expected behavi

[2018-06-22 09:06] arnecls commented on #6511
Probably related to #6388

[2018-06-22 09:38] Stono commented on #5727
Hola,
Nope this hasn't manifested so I'm happy it is resolved!

[2018-06-22 09:38] #5727 closed

[2018-06-22 10:38] wansuiye opened #6512 "virtual service not work with a ip host"
**Describe the bug**
A clear and concise description of what the bug is.

A1(A,version1) running outside the cluster, its ip is 10.20.30.40 and port is 9000, meanwhile  B running inside, B send a request to A with a ip host like this:http://10.20.30.40:9000/{uri}, to do this i set a serviceentry for A1. now i want to running  A2(A, version2) inside, and want to transfer requests for certain rules

[2018-06-22 10:54] prune998 commented on #5067
I think this is solved with Istio 0.8.0 and K8s 1.10.2.
I think it was linked to a k8s 1.9.x issue. And Isito 0.8.0 does not seem to create the `limitrange`...

[2018-06-22 10:59] prune998 commented on #4940
What about naming them "http-<something>" or "http" ?

[2018-06-22 11:55] ymesika commented on #6161
Can we nail down the 1.0 minimum required k8s to be 1.9 ?
Is it documented somewhere?

[2018-06-22 12:52] arnecls commented on #6511
When doing `kubectl port-forward productpage-v1-859d7f8c9f-9725z 9080:9080` I can access the product page via `curl localhost:9080` from my machine. However - it does still not show in the envoy access logs. Doing the same thing with port 15000 gives me access to the envoy admin interface and it does get logged to the access log.

[2018-06-22 13:01] dcberg commented on #6512
Just a clarification.... Is your ServiceEntry (external) service host ip expected to be the same as the VirtualService (internal) service host?

[2018-06-22 13:17] yacut commented on #5829
May be the wrong ingress service name in the "istio" configmap is the problem?

https://github.com/istio/istio/blob/80f7a83be74042a5f20c5aa6b88bcf5a1992ad3e/install/kubernetes/helm/istio/templates/configmap.yaml#L26

[code]
The correct name will be "istio-ingressgateway" or not?

[2018-06-22 13:22] wansuiye commented on #6512
@dcberg Hi，the host is different，A2(external ) host is ip(10.20.30.40), meanwhile A2 host is A2.A.svc.cluster.local(kubernetes). I fixed the description of A2 in virtual service above,
Looking forward to your reply～

[2018-06-22 13:43] olafure opened #6517 "Missing --- separator in helm chart"
There is a bug in the helm template introduced in this commit (19h ago):
https://github.com/istio/istio/pull/6389/commits/69d84ff928265f6aba45c142acc042718c57080f

There's a missing "---" separator in istio/charts/gateways/templates/clusterrolebindings.yaml

Output from "helm template":
[code]

[2018-06-22 14:09] denniseffing commented on #4999
I'm facing the issue as well.

- istio 0.8.0
- `discoveryRefreshDelay` is set to 10s.
- proxy image proxyv2:0.8.0

[2018-06-22 14:14] esnible opened #6518 "add duration out of date to proxy-status"
If a proxy is `STALE` I would like to see how stale.  For example

[code]

I don't know if _reviews-v3_ is stale by 1s because I could it during an update or if it is stale by 2h because 2h ago I added a CRD that caused the proxy to reject the EDS.

Perhaps output like `STALE (0% AGE 2h)`

[2018-06-22 14:21] markns opened #6519 "Creating a VirtualService with FQDN gateway using kube/crd/client.go fails"
**Describe the bug**
I'm creating VirtualServices using the golang Pilot client here: istio/pilot/pkg/config/kube/crd/client.go

I'm using a FQDN for the gateway, as the VirtualService lives in a different namespace. However, the FQDN causes the VirtualService validation to fail with the error:

`validation error: gateway is not a valid DNS1123 label: gateway.networking.svc.cluster.local`

Perhaps

[2018-06-22 14:21] iblazhko opened #6520 "Unsupported engine version in GKE Deployment template"
**Describe the bug**
GKE Deployment template uses unsupported version of GKE engine (`1.9.7-gke.1`) which causes GKE Deployment to fail.

**Expected behavior**
Following Quick start guide should not result in an error.

**Steps to reproduce the bug**
1. Follow instructions in https://istio.io/docs/setup/kubernetes/quick-start-gke-dm/
1. Section https://istio.io/docs/setup/kubernetes/quick-start-gk

[2018-06-22 14:23] markns commented on #6421
Not really sure what the correct way to proceed is with this, but just to say that I recompiled master having reverted the changes from https://github.com/istio/istio/pull/6158 and everything is working fine. Of course, I would prefer not to have to rely on a build I hacked together myself...

[2018-06-22 14:47] markns commented on #6519
Aha, I see the main man @rshriram fixed this just a few hours ago: https://github.com/istio/istio/pull/6483 :)

[2018-06-22 14:47] #6519 closed

[2018-06-22 14:52] esnible commented on #6303
The _panic_ is no longer present in master.

@andersjanmyr In 0.8 Istio should process the Ingress but it will not create a visible Gateway.  Instead you should convert your Ingress to a Gateway using _istioctl_.  For example, if your ingress is in _issue6303.yaml_ do `istioctl experimental convert-networking-config -f issue6303.yaml > issue6303-gateway.yaml`

Does this resolve your issue?

[2018-06-22 14:59] denniseffing commented on #4999
Just in case someone made the same mistake:

Don't forget to label your namespace for the automatic sidecar injection:
`kubectl label namespace <namespace> istio-injection=enabled`

Default namespace (when you deploy the bookinfo application without specifying one) is called 'default' which results in
`kubectl label namespace default istio-injection=enabled`

If you forget this step, you will see

[2018-06-22 15:15] kirgene opened #6523 "Failed to mount NFS volume with Istio mTLS enabled"
**Describe the bug**
I'm trying to mount NFS volume in container like [this](https://github.com/kubernetes/examples/blob/master/staging/volumes/nfs/nfs-web-rc.yaml) but receiving `Connection reset by peer` errors in logs. Container is stuck in `Init` state.
Sidecar injection and mTLS are enabled.
But when I disable sidecar injection on **NFS server** everything is working as expected.

I see that

[2018-06-22 15:29] esnible commented on #3729
Closing this item because post Istio 0.7 the 5984 services *do* appear in /config_dump and /clusters.

[2018-06-22 15:29] #3729 closed

[2018-06-22 15:52] GregHanson commented on #5379
this is a problem with the envoy.json file we load envoy with when it starts

[code]

We are assigning a DNS name to a socket address

related Envoy docs:
https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/metrics/v2/stats.proto#envoy-api-msg-config-metrics-v2-statsdsink

[2018-06-22 16:04] jnativio commented on #6363
This issue still persists on daily build master-20180618-09-15.

[2018-06-22 16:08] ymesika commented on #6363
The fix still didn't make it into that daily. Should be in the following. 18 is the latest?

[2018-06-22 16:34] andersjanmyr commented on #6303
Okay, I can work with this. But, in a thread on the istio-users mailing list, https://groups.google.com/d/topic/istio-users/vNrF6gqlnPM/discussion, I have been told that I can only have one Gateway per port and this conversion will not handle that very well. Does this mean I should convert all ingresses, but only deploy one of the Gateways.

[2018-06-22 16:42] ostromart commented on #5067
Thanks, closing this.

[2018-06-22 16:42] #5067 closed

[2018-06-22 17:11] ayj commented on #6307
Yes. `x509: certificate signed by unknown authority` suggests caBundle is being overwritten.

[2018-06-22 17:15] sudermanjr opened #6530 "Tracing helm chart hard-codes type"
**Describe the bug**
When adding tracing via the helm chart, even if service.type: ClusterIP is selected, we get a load balancer

**Expected behavior**
The service will have type ClusterIP

**Steps to reproduce the bug**
```helm install --set tracing.enabled: true --set tracing.service.type: ClusterIP```

**Version**
What version of istio and Kubernetes are you using? Use `istioctl version` and `k

[2018-06-22 17:16] sudermanjr commented on #6530
Offending line: https://github.com/istio/istio/blob/73f0b78b4d47b8290414f1a72372942585eb5730/install/kubernetes/helm/istio/charts/tracing/templates/service.yaml#L41

[2018-06-22 17:18] zachgersh commented on #6421
@markns we talked about this in slack (bringing it the open issue here for posterity) - we have to actually make envoy support upgrades before this will actually be fixed (essentially what @rshriram mentioned above). I think the behavior introduced in #6158 is probably correct in a world that doesn't support h1.1 -> h2 upgrades (since it leads to the least surprising result).

Just a quick questio

[2018-06-22 17:18] ldemailly commented on #6363
I was asking on slack yesterday how come there are no newer daily - @hklai ?

[2018-06-22 17:23] ayj commented on #4451
We don't have any plans to support running `kube-inject` over helm templates.

[2018-06-22 17:23] #4451 closed

[2018-06-22 17:25] hklai commented on #6363
@ldemailly tests had been failing
we are trying to restore it but the June release currently takes higher priority.

[2018-06-22 17:28] esnible commented on #6303
`istioctl experimental convert-networking-config` looks at the input Ingress by itself and does not merge them.  You should keep only one generated Gateway and manually change each VirtualService to use the name of the same Gateway.

[2018-06-22 17:30] andersjanmyr commented on #6303
Okay, thanks for the info. I'm closing the issue.

[2018-06-22 17:30] #6303 closed

[2018-06-22 17:34] ozevren commented on #5327
I am reducing the priority of this from P0 => P1. This doesn't seem like a blocker.

[2018-06-22 17:39] sudermanjr commented on #6530
Looking at master, this may already be fixed.

[2018-06-22 17:41] sudermanjr commented on #6530
Fixed in https://github.com/istio/istio/pull/6002

[2018-06-22 17:41] #6530 closed

[2018-06-22 17:44] markns commented on #6421
Hey @zachgersh, actually I wasn't consciously making an H2 request. Would Chrome automatically upgrade the request based on the negotiation with Envoy (the ingressgateway in this case)?

[2018-06-22 17:45] ayj opened #6532 "Make re-applying galley validation yaml idempotent"
Re-applying the istio.yaml is not idempotent with regards to galley webhook configuration. This problem was first observed with the sidecar injector (see https://github.com/istio/istio/issues/6069). https://github.com/istio/istio/pull/6435 implements a short term fix. The same fix needs to be made for galley.

[2018-06-22 17:48] louiscryan commented on #1038
@andraxylia can you provide an update here on the current known state. Is this bug too broad at this point?

[2018-06-22 17:51] jasmine-jaksic commented on #1462
Can you try with 0.8 and confirm if the issue still exists?

[2018-06-22 17:55] louiscryan commented on #2195
In general we think HTTP2 works pretty well end to end. Certainly well enough for regular usage

[2018-06-22 18:03] esnible commented on #5327
@ozevren How about we just merge https://github.com/istio/istio/pull/6338 and close this Issue?

[2018-06-22 18:03] #6422 closed

[2018-06-22 18:04] ostromart commented on #6307
Marking as duplicate of https://github.com/istio/istio/issues/6069.

[2018-06-22 18:04] #6307 closed

[2018-06-22 18:22] louiscryan commented on #2196
Generally speaking GRPC works well with Istio. A number of fixes have gone into Envoy and changes to how we deliver config have eliminated much instability.

We'd like some more test coverage but that is the primary gap today. Dropping to P1

[2018-06-22 18:28] jasmine-jaksic opened #6534 "Add “Setup/Performance and Scale” section for istio.io"
As part of doc items needed for 1.0, add a section that describes the consideration and techniques for scaling a mesh.

Refer to: https://docs.google.com/document/d/1WSmAwmVBoGoGz5Hek5rGK1JnXjnGKdCO9tqpbvv9404/edit#

[2018-06-22 18:32] andraxylia commented on #1038
@louiscryan we have a test for this but I wanted to do some more manual tests before we claim it is fixed. The bug is not too broad, it covers the scenarios of route rule changes.