[2020-03-02 16:01] nicoaragon commented on #21689
I agree with your logic.

I am not sure I understand what was our intention when we published this
doc.

What makes the doc useful for istio users?

On Sun, Mar 1, 2020 at 17:41 John Howard <notifications@github.com> wrote:

--
Nico

[2020-03-02 16:03] jmazzitelli commented on #21688
FWIW: "istioctl dashbaord kiali" assumes kiali is installed without https in front of it. By default kiali is not installed with https using istioctl - to get https, just use a gateway to expose kiali and go through the gateway.

(I was not involved in the implementation of "istioctl dashboard kiali" - I do not know why they turned off kiali security/https - I think it had to do with not wanting t

[2020-03-02 16:05] esnible opened #21703 "Istio Policy Bot closes issues for lack of activity the moment I start working on them"
(I am filing this in istio/istio because https://github.com/istio/bots doesn't have an Issue tracker.  If this is the wrong place, let me know.)

Today I went to https://github.com/istio/istio/issues/18932 and changed the milestone.  Within 1 second the bot closed the issue "due to not having had activity from an Istio team member since 2019-11-13."  It isn't true ... just 1 second earlier there w

[2020-03-02 16:09] jmazzitelli commented on #21688
Ed - yes, I think #20131 might (I need to check to be sure).

Note that the kiali operator default is fixed in kiali 1.15 due to be released in a couple weeks: https://github.com/kiali/kiali/pull/2441

What you need to do is make sure the identity fields are empty strings - which I believe #20131 does. I need to double check - currently in meetings, will check shortly.

However, this problem shoul

[2020-03-02 16:13] esnible opened #21704 ""istioctl manifest generate" logging to stdout"
Using https://github.com/istio/istio/files/3806360/icp.txt from Issue https://github.com/istio/istio/issues/18615

Using Istio 1.5 beta 4

`istioctl manifest generate -f ~/Downloads/icp.txt | kubectl apply --dry-run -f - ` fails with

[code]

This is because of the log line

[code]

[2020-03-02 16:13] esnible commented on #18615
I have verified this is not happening in 1.5 beta 4 using the _icp.txt_ attached to this issue.

`istioctl manifest generate -f ~/Downloads/icp.txt` generated YAML.

I found a problem unrelated to unmarshalling and filed https://github.com/istio/istio/issues/21704

Can we close this one?

[2020-03-02 16:25] upodroid commented on #19532
[code]

I spent a few hours scratching my head for why a vanilla install of Istio on Private GKE Cluster wasn't working. I learnt from earlier work with bank vaults to add 8443 if you have mutating admission webhooks to the fw rule for the master-to-nodes rule. Adding 9443 cleared the above error too.

[2020-03-02 16:31] esnible commented on #10357
Will this be the default in 1.5?

[2020-03-02 16:35] esnible commented on #19741
Would it be reasonable to use a CR in the istioctl case?  cf. https://github.com/istio/istio/issues/20000

[2020-03-02 16:36] Stono opened #21707 "connectTimeout default seems very high (10s)"
**Bug description**
Probably not a bug, really...

Whilst debugging a different issue, I noticed that the connectTimeout for clusters is 10s.  That seems extremely high, and most users would benefit from a much lower sensible default:

<img width="440" alt="Screenshot 2020-03-02 at 16 35 28" src="https://user-images.githubusercontent.com/1486729/75696751-fe0e5c00-5ca3-11ea-8aa1-e1401326a86b.png">

[2020-03-02 16:41] howardjohn commented on #19741
I think we just need to annotate all resources with the revision and then
set up the pruning to take that into account. I had this working locally at
one point but got distracted by some 1.5 tasks

On Mon, Mar 2, 2020 at 8:35 AM Ed Snible <notifications@github.com> wrote:

[2020-03-02 16:45] pnovotnak commented on #12845
Done. See https://github.com/istio/istio/pull/19852

[2020-03-02 16:46] esnible commented on #19872
@ostromart I am seeing strange behavior using Master

`istioctl manifest generate --set addonComponents.istioTracing.enabled=true` fails with
[code]

`istioctl manifest generate --set addon-components.istio-tracing.enabled=true` fails with
[code]

`istioctl manifest generate --set addon_components.istio_tracing.enabled=true` outputs a manifest, but so does `istioctl manifest generate --set addon_c

[2020-03-02 16:54] esnible commented on #20945
What should the message look like?

Should we retarget this for milestone 1.6?

[2020-03-02 16:54] dgn commented on #21633
Postsubmits are passing now

[2020-03-02 16:54] #21633 closed

[2020-03-02 17:01] esnible commented on #20916
I broke this, and I broke it on purpose.  I didn't see this issue until today.

I introduced a chance in `--set` processing for https://github.com/istio/istio/issues/20381 .  The networking folks were doing `--set values.global.proxy.includeIPRanges="172.30.0.0/16,172.21.0.0/16"` and we had some doc pages that expected that to work.  There is no good way to support values that include commas **and

[2020-03-02 17:03] jpapejr commented on #21648
From 1.4.3 `install/kubernetes/helm/istio`
[code]

But those specs are also in 1.5.beta.4 and 1.4.5, too.. Not sure why it complained. Will continue to look..

[2020-03-02 17:07] #21704 closed

[2020-03-02 17:08] ayj commented on #19532
cc @maasen

[2020-03-02 17:19] jasonwzm commented on #17349
@esnible I have added this to our 1.6 roadmap.

[2020-03-02 17:21] howardjohn opened #21709 "istioctl proxy-status POD shows diffs by default"
I just installed an empty 1.5 cluster, added a sleep deployment, and ran `~/istio/istio-1.5.0-beta.5/bin/istioctl proxy-status SLEEP_POD`.

I got this diff:

[code]

Seems like there should be no diff in the expected case?

Note sure if this is due to changes on pilot, envoy, or istioctl. cc @esnible

[2020-03-02 17:26] incfly commented on #10357
No because I didn't see the issue about original timeout duration will be
addressed. I see a community PR recently though.

On Mon, Mar 2, 2020 at 8:31 AM Ed Snible <notifications@github.com> wrote:

[2020-03-02 17:26] howardjohn opened #21710 "istioctl describe fails non-gracefully if pod is not part of the mesh"
[code]
It exits with error code 1

I was following the steps in https://preliminary.istio.io/docs/ops/diagnostic-tools/istioctl-describe/#verify-a-pod-is-in-the-mesh

[2020-03-02 17:27] ayj commented on #8736
No

[2020-03-02 17:27] #8736 closed

[2020-03-02 17:28] howardjohn opened #21711 "istioctl describe mTLS output a bit confusing"
[code]

I happen to know this is referring to TLS, but its not explicit to users that do not what this means.

[2020-03-02 17:33] howardjohn opened #21712 "`istioctl analyze` doesn't handle non-yaml files well"
[code]

We should probably only look at `*.yaml` files? or better yet see what `kubectl` does and match that.

[2020-03-02 17:39] ayj commented on #13559
IMO this is lower priority with istiod. It may be worth reconsidering if someone wants implement option 2.

[2020-03-02 17:51] emrahcetiner commented on #21520
same issue +1

[2020-03-02 17:55] emrahcetiner commented on #21402
@a8j8i8t8 how to exclude ports from istio? can you share to me your solution?

[2020-03-02 17:58] esnible commented on #21379
Closing as a duplicate of https://github.com/istio/istio/issues/21015

[2020-03-02 17:58] #21379 closed

[2020-03-02 18:19] ostromart opened #21715 "Add post-install verification that control plane is functional"
Currently, the operator and istioctl manifest apply --wait report healthy when resources have been applied/reconciled, they don't check that pods are in a healthy state and service state is as expected. This feature would check the health of the control plane in more detail.

[2020-03-02 18:21] #21521 closed

[2020-03-02 18:23] ayj commented on #21702
Possibly related - https://github.com/istio/istio/issues/21676

[2020-03-02 18:27] ayj commented on #21715
cc @backward-compatible

[2020-03-02 18:32] #21591 closed

[2020-03-02 18:45] ostromart commented on #20730
Adding my 2c to all this...
To validate k8s fields like imagePullPolicy, we shouldn't be mirroring k8s logic. There are just too many validations for us to be exactly 1:1 - at best we could cover a subset of validations at the cost of creating a significant maintenance burden going forward.
However, doing the validation before applying would be very useful. We could accomplish this in different wa

[2020-03-02 18:45] albertleung-da opened #21717 "no regex validation for negative lookahead"
An existing `VirtualService` that had a negative lookahead regex caused the `RouteDiscoveryService` in pilot to fail. None of the routes were getting discovered, so service couldn't be accessed.

**Expected behavior**
Prior to finding out that Envoy has a new regex engine, I didn't expect route discovery in pilot to fail. This is because negative lookahead is supported in older versions of Istio o

[2020-03-02 18:52] ostromart commented on #21692
Yes I meant reasonable combinations but perhaps we should also go further and test that unsupported combinations are also rejected. We made a small start to this with the semantic validation framework and some example validations but there are probably lots of other meaningful validations that could be done here.

[2020-03-02 18:56] elfinhe commented on #19155
Thanks Ed for the heads up. I didn't get a chance to work on it (and probably not in the following month, sorry). Please feel free to assign someone else.

[2020-03-02 19:29] Stono opened #21718 "istioctl manifest generate gives duplicate resources"
**Bug description**
Trying to use `1.5.0-beta5` against my existing values file, and the output from `istioctl manfiest generate` gives me this resource 3 times:

[code]

**Expected behavior**
To get the same output as helm template.

**Steps to reproduce the bug**
can provide my values file on slack

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm vers

[2020-03-02 19:30] Stono commented on #21718
John just linked me this https://github.com/istio/istio/pull/20775

[2020-03-02 19:30] sdake opened #21720 "Remotely accessing telemetry results in error indications in Prometheus"
**Bug description**
I executed the task here: https://preliminary.istio.io/docs/tasks/observability/gateways/ (only the HTTP portion). While HTTP worked, it appears as though Prometheus has some form of error.

**Expected behavior**

No errors reported within Prometheus.

**Steps to reproduce the bug**

Follow the task. Open Chrome to port 15031 of the ingress gateway. Select `Status->Targets`.

*

[2020-03-02 19:39] aattuluri opened #21721 "Add support for configuring domain name suffix for cross cluster communication"
**Describe the feature request**
Currently, with multi-cluster installation of Istio (using values-istio-multicluster-intuit.yaml), the plumbing is set up to allow accessing services across the cluster with `global` suffix in istiocoredns, multicluster gateway & Envoy filter
The feature request is to make this configurable via values file using a single value(s).

**Describe alternatives you've co

[2020-03-02 19:41] aattuluri commented on #21721
@rshriram @howardjohn I would like to work on this if this makes sense.

[2020-03-02 19:42] aattuluri commented on #21721
@itohan-uk

[2020-03-02 19:43] ostromart commented on #20345
It's a similar case to enablement where user overrides should always take effect, even if they are going through the passthrough values API.

[2020-03-02 19:46] nikhilgorantla commented on #9304
https://istio.io/docs/reference/config/annotations/

Istio Annotations

[2020-03-02 19:49] jbartlet commented on #14708
Not sure if this helps, but I ran into the same issue as @delmendo and it was solved by modifying the Service definition for the app (not the Istio virtualservice, but the K8S service). Our service manifests have no 'name' field in the spec section. If they don't, Envoy simply sends in what the client browser negotiated, H2 in my case. However, if you ensure there is a name field and populate it w

[2020-03-02 20:12] ostromart opened #21723 "operator controller stuck in reconcile loop"
Since 3/1 I'm seeing the controller get stuck reconciling the following resources:

2020-03-02T20:08:30.066093Z	info	The following objects differ between generated manifest and cache:
 - CustomResourceDefinition::instances.config.istio.io
 - CustomResourceDefinition::handlers.config.istio.io

When I dump out the objects, the difference is that the CRD in the cluster has a validation field (OpenAPI

[2020-03-02 20:13] kyessenov commented on #21551
@Stono The wiki page has a sample like this:
[code]

You can change it to be like this to delete `response_flags` in `istio_requests_total`, for example:

[code]

We are planning to add a better API to replace EnvoyFilter for this case hopefully soon.

[2020-03-02 20:16] Darwiner commented on #14708
I haven't had the chance/time to test it out yet, but has anyone tried to enable
[code]
...with Istio 1.4, to see if it "fixes" this, without having the need to go and assign a protocol name for each and every service definition that Istio needs to hit?

One difference seems to be that 1.3 has Protocol Sniffing on by default (https://archive.istio.io/v1.3/docs/ops/traffic-management/protocol-selec

[2020-03-02 20:17] howardjohn commented on #21723
related https://github.com/istio/istio/pull/21719

[2020-03-02 20:18] mathieu-gilloots commented on #17378
Any ideas with kops ?
Thanks

[2020-03-02 20:20] elfinhe commented on #21544
Trying again with latest 1.5 branch, I can only get EgressGateway pods (Not Ready) and CoreDns (Ready):

Logs in EgressGateway:

[code]

[2020-03-02 20:23] burmanm commented on #17507
Either me or Xavi will finish it. Although I can't really tell what is
still missing..

On Mon, Mar 2, 2020, 09:52 Ed Snible <notifications@github.com> wrote:

[2020-03-02 20:32] #21034 closed

[2020-03-02 20:44] howardjohn opened #21725 "test framework: mixing of `t` and `ctx` leads to duplication and incorrect tests"
Right now our tests have lot of nesting of tests. For example:

[code]

There are many different `testing.T` and `framework.TestContext` in scope here, making it quite hard to figure out which one should be used. Generally tests just use a random one, which leads to bugs like selecting the parent `t`, causing issues.

We should refactor this in a way such that its hard to do the wrong thing. We al

[2020-03-02 20:45] yp28 commented on #14661
It seems like this has been fixed for v1alpha3 in istio/api#1197 and for v1beta1 in istio/api#1232.

[2020-03-02 20:46] ayj commented on #21696
cc @linsun

[2020-03-02 20:51] linsun commented on #21696
Thanks @ayj!

@lei-tang because istiod auto discovers if the signing key file (ca-key.pem) exists so no need for user to configure security.selfSigned flag.

[2020-03-02 20:55] howardjohn commented on #21149
I will work on this

[2020-03-02 21:12] #21248 closed

[2020-03-02 21:34] kyessenov opened #21729 "update to golang protobuf v2"
See https://blog.golang.org/a-new-go-api-for-protocol-buffers

[2020-03-02 21:49] taylorreece opened #21730 "Various (related) issues with remote clusters in 1.5.0-beta.5"
**Bug description**
I'm following documentation in https://preliminary.istio.io/docs/setup/install/multicluster/shared-vpn/, and ran into various issues, both with documentation, and with deployment of a remote cluster in the same VPC/network as the control-plane cluster.  This might need to be broken into multiple tickets, but many of these issues seem related.

1. The `--set gateways.enabled=fal

[2020-03-02 22:02] ostromart commented on #21723
Morven's change https://github.com/istio/istio/pull/21719 fixes the issue above, but this is only part of the problem. Even with the error above fixed in the PR, the controller is still stuck in the reconcile loop. Looking at the CR, it shows:
status:
  componentStatus:
    AddonComponents:
      status: 2
which I think is reconciling. So I think this problem is probably related to https://github.

[2020-03-02 22:12] JimmyCYJ commented on #20958
I just noticed a fixed issue in gRPC bidi-stream, that leads to high memory consumption  https://github.com/istio/istio/issues/18557.
I am not clear if that is related, needs some investigation. cc @lambdai

[2020-03-02 22:12] howardjohn commented on #21729
Anything particularly useful? Looks like jsonpb interface improved a bit, but nothing else that impacts us too much. I am not suggesting we shouldn't update, just wondering if I missed anything

[2020-03-02 22:14] incfly commented on #21498
ok, this has disappeared from my cluster, just a datapoint that users could run int this.

( I use gke cluster upgrade and then re-install Istio with CNI enabled, not sure if related)

[2020-03-02 22:14] #21498 closed

[2020-03-02 22:15] kyessenov commented on #21729
Dynamicpb could replace all the hand-written protobuf code we have in mixer. The important bit is that v1 is a dead-end and all the new development moves to v2.

[2020-03-02 22:22] kramvan1 commented on #18615
yup, don't see this in 1.5 beta.4 closing.

[2020-03-02 22:22] #18615 closed

[2020-03-02 22:28] sdake commented on #21729
We have a depreciation notice in 1.5 with a 6 month depreciation period. Is
this a problem?

On Mon, Mar 2, 2020 at 3:16 PM Kuat <notifications@github.com> wrote:

[2020-03-02 22:29] howardjohn commented on #21729
protobuf v1 is still supported, should be no problem if there is security
vulns, etc that come up in the next 6 months

On Mon, Mar 2, 2020 at 2:28 PM Steven Dake <notifications@github.com> wrote:

[2020-03-02 22:34] craigbox commented on #21698
/cc @mandarjog @douglas-reid

[2020-03-02 22:37] richardwxn commented on #21720
seems like related: https://github.com/istio/istio/pull/20832?

[2020-03-02 22:56] kyessenov commented on #21698
/cc @kyessenov
This is the issue about protobuf preventing easy inspection into peer metadata. We are considering [flatbuffers](https://github.com/istio/proxy/pull/2673) instead.

[2020-03-02 22:59] stewartbutler commented on #21650
Picking this up. Working on replicating it still.

[2020-03-02 22:59] costinm opened #21732 "Crash on wasm"
- Installed Istio 1.5 ( using 1.5-dev tag )
- fortio deployed

I see one of the pods crashing, captured a log from the pod.

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

**How was Istio installed?**

**Environment where bug was observed (cloud vendor, OS, etc)**

[2020-03-02 23:01] costinm commented on #21732
[envoy_crash.log](https://github.com/istio/istio/files/4278336/envoy_crash.log)

[2020-03-02 23:01] costinm commented on #21732
[Envoy (Epoch 0)] [2020-03-02 22:57:21.160][23][trace][http2] [external/envoy/source/common/http/http2/codec_impl.cc:424] [C1] dispatched 129 bytes
[Envoy (Epoch 0)] [2020-03-02 22:57:21.160][35][critical][main] [external/envoy/source/exe/terminate_handler.cc:13] std::terminate called! (possible uncaught exception, see trace)
[Envoy (Epoch 0)] [2020-03-02 22:57:21.160][35][critical][backtrace] [ba

[2020-03-02 23:03] yp28 commented on #19459
/assign

[2020-03-02 23:06] ayj commented on #21676
@rshriram, the gateway proxy is crashing somewhere near the sni_filter and tcp_rewrite_cluster filter. Any ideas? The latter filter hasn't changed in a while. Possibly a bad interaction with other filters maybe?

[2020-03-02 23:10] PiotrSikora commented on #21732
Seeing as this crashes in `onConfigure`, is it possible that this is a duplicate of https://github.com/envoyproxy/envoy-wasm/issues/439?

[2020-03-02 23:41] douglas-reid commented on #21698
@kyessenov do we intend on having accessors to `peer_metadata` at the top-level, or to individual components of that metadata (`peer.platform_metadata["gcp_gke_cluster_name"]`, `peer.labels["foo"]`) ?

[2020-03-02 23:45] howardjohn commented on #21730
mentioning the usual suspects @ayj @nmittler

[2020-03-03 00:31] richardwxn commented on #21730
for your question 1, you can use --set values.gateways.istio-ingressgateway.enabled=false, or preferably run istioctl manifest apply -f with below
[code]

[2020-03-03 00:47] lambdai commented on #20958
If we are hunting for the memory bump,  #18557 is not related: That one is slowly leaking due to improper retry.

[2020-03-03 00:56] lambdai commented on #20958
Is this one related to the known and fixed issue that sds server immediately push another secret though SDS, once envoy respond `fail to apply the sds" response?
To see if it is correlated:
`cluster.sds-grpc.update*` metrics would be helpful. The time series is nice to have, in the same graph as the memory usage

[2020-03-03 01:04] mandarjog commented on #21385
@douglas-reid @nrjpoddar @duderino @louiscryan
Reopening the discussion on this about the release blocking status of this issue.
Blockhole telemetry is broken for tcp and http in v2.

HTTP:
1. No-route for http is expressed as a direct response by Pilot instead of `NR` response flag.
    @nrjpoddar and @jacob-delgado are adding route metadata which can be picked up here.

     This only leaves out

[2020-03-03 01:24] nrjpoddar commented on #21385
@mandarjog agree with your assessment but I'm also ok with not making this is a release blocker for 1.5.0 (HTTP or TCP) and clearly stating that in the release note under known bugs and working towards addressing them in 1.5.1.

[2020-03-03 01:29] IsharaPannila commented on #16806
This means having multiple gateways is an acceptable solution?
I have multiple on-prem services hosted in different servers which requires mutual TLS. So is it recommended to have multiple egress gateways configured with mTLS origination to access those?

[2020-03-03 01:40] myidpt commented on #21696
You are right @linsun  I asked Lei to test if the following flow works:
1) Create the `istio-system` namespace
2) Generate a root key cert pair, and inject into the secret `cacert.istio-system`.
3) Deploy Istio control plane, and verify that the workloads are using the injected root.

[2020-03-03 01:42] myidpt commented on #21696
I think we need to give caveat that if the customer was using "istio-ca-secret" in 1.4, they need to copy it to "cacert", otherwise the upgrade will break their cluster, since istiod is no longer watching "istio-ca-secret".

[2020-03-03 02:17] linsun opened #21741 "confusing log when attempt install of multicluster-primary"
**Bug description**

Following - https://preliminary.istio.io/docs/setup/install/multicluster/shared-gateways/#setup-cluster-1-primary

[code]

The log output said error but when I check the logs I only see warnings.  This is extremely confusing and user is left with doubts on the install.

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --

[2020-03-03 02:21] howardjohn commented on #21366
I have an E2E working demo of this, including rewriting the users annotations and merging them in the agent. Seems to work fine (in the happy path, at least)

[2020-03-03 02:32] linsun commented on #21741
looks like this is caused by an older version of istioctl.  if we only support the matching istioctl with the to be install level, we should generate a warning and stop the installation.

[2020-03-03 02:33] linsun commented on #21741
@esnible thoughts?  There is a manifest.yaml in the root of the istio binary, and it has the version in there.  we can simply check istioctl version match/mismatch with that version.

[2020-03-03 02:40] ayj commented on #21741
Which version of istioctl were you using?

Is this the logged error or was there another problem?

[2020-03-03 02:49] linsun commented on #21741
istioctl version used earlier was 1.4.  What you pasted is the only warning I saw yet at the end istioctl reports to user "Errors".

[2020-03-03 02:54] #18242 closed

[2020-03-03 02:54] #19459 closed

[2020-03-03 03:20] mandarjog commented on #21732
sounds like bad config?

[2020-03-03 03:31] mandarjog opened #21743 "Readiness Check affected by long config updates."
Proxy readiness check does 2 things.

1. http://127.0.0.1:15000/stats - get information to determine if server started successfully and it is not draining.
2. It also goes thru a worker thread that ensures that works are live.

If config load takes a long time occupying the main thread, we can fail the readiness check.
If this happens enough number of times, then k8s will remove the endpoint.

Con

[2020-03-03 03:33] mandarjog commented on #21743
@bianpengyuan

[2020-03-03 04:03] sirajmansour opened #21744 "Mixer duplicating `Set-Cookie` headers in response when rule has multiple `APPEND` operations using same header"
**Bug description**

i have a rule with `responseHeaderOperations` as follows :

[code]

and my adapter sets them as follows (they're called mt_sid & mt_mk)

[code]

however upon inspecting the response in the browser, the set-cookie header is set twice for each cookie

![image](https://user-images.githubusercontent.com/5779938/75741512-f2cc3680-5d5e-11ea-922f-9e26338faeb6.png)

[ ] Configuration

[2020-03-03 04:17] gargnupur commented on #21690
+ @bianpengyuan
@howardjohn : For how long are connections run for? Default ticker timer for tcp metrics is 15s. Otherwise, they are all logged on connection close.

For destination_service_name, what is expected? This is the logic used to get destination service name:
Get destination service host and name based on destination cluster name and
// host header.
// * If cluster name is one of passthr

[2020-03-03 04:19] howardjohn commented on #21690
I am fairly sure it's not going through a cluster named mgmtCluster but I can investigate that more

As for the timing j had this for multiple minutes and it never ticked until the connection closed, so sounds like that is unexpected?

[2020-03-03 04:21] gargnupur commented on #21690
Yeah, what version are you on?
There was a timer fix... that went in.. : https://github.com/istio/proxy/pull/2733
Not sure if this has reached master

[2020-03-03 04:21] howardjohn commented on #21690
this was on master from Friday I think

On Mon, Mar 2, 2020, 8:21 PM Nupur Garg <notifications@github.com> wrote:

[2020-03-03 04:37] howardjohn commented on #21690
I think it had that pr, let me try this again to make sure since it was updated around the same time I tried this

[2020-03-03 04:39] gargnupur commented on #21690
okay please let me know what you find...

[2020-03-03 04:44] irisdingbj commented on #21695
agent recovers after restart. So close the issue.

[2020-03-03 04:44] #21695 closed

[2020-03-03 05:01] #15960 closed

[2020-03-03 05:01] #16099 closed

[2020-03-03 05:01] #16107 closed

[2020-03-03 05:01] #16110 closed

[2020-03-03 05:04] mandarjog commented on #16831
Not state

[2020-03-03 05:04] #18936 closed

[2020-03-03 05:04] #18978 closed

[2020-03-03 05:05] #18994 closed

[2020-03-03 05:07] mandarjog commented on #21698
This is needed to make configurable telemetry feature complete compared with v1. So we do need to provide it.

[2020-03-03 05:18] lei-tang commented on #21696
https://preliminary.istio.io/docs/tasks/security/citadel-config/plugin-ca-cert/ is outdated.
I am working on a PR to update the document of plugging in a CA cert https://preliminary.istio.io/docs/tasks/security/citadel-config/plugin-ca-cert/. The plugged in CA cert will be mounted to /etc/cacerts and I have tested it for Istio 1.5 beta 4. The PR will be created today for review.

[2020-03-03 06:16] mandarjog commented on #21690
@gargnupur regardless of the timing we should investigate why it is going thru the management cluster.

[2020-03-03 06:31] catman002 opened #21746 "Istio ingressgate doesn't pass x-forward-for"
The version of istio I used is 1.45. I found the bug of ingressgate during the use, as follows:
1) My access form is simply as follows: client - > ingressgate - > service1
2) When the client initiates the access, the header carries "x-forward-for". After being forwarded by ingressgate, services1 cannot get "x-forward-for" content. After testing, the ingressgate did not forward the header "x-forwar

[2020-03-03 06:59] lei-tang commented on #21696
https://github.com/istio/istio.io/pull/6644 is created to address this issue.

[2020-03-03 07:41] mandarjog opened #21749 "TCP v2 telemetry: metrics not updated for 5 mins"
Build gcr.io/istio-testing/proxyv2:1.5-alpha.8d5fde1d919784a0789d44a4e1edc751106cec67
From March 2, 2020

TCP metrics appear and vanish.  There is constant traffic.

0 bytes
<img width="986" alt="Screen Shot 2020-03-02 at 11 40 07 PM" src="https://user-images.githubusercontent.com/800375/75753231-34b59800-5cdf-11ea-92bc-25886599ae41.png">

some non zero a few mins later
<img width="990" alt="Scree

[2020-03-03 07:56] mandarjog commented on #21749
<img width="560" alt="Screen Shot 2020-03-02 at 11 55 06 PM" src="https://user-images.githubusercontent.com/800375/75754312-5e6fbe80-5ce1-11ea-8206-b07fa1fbc375.png">

[2020-03-03 08:19] mandarjog opened #21750 "grafana: container label changed to container_name"
It seems cadvisor now assigns `container_name` label instead of container.
`Server Version: version.Info{Major:"1", Minor:"13+", GitVersion:"v1.13.12-gke.25", GitCommit:"654de8cac69f1fc5db6f2de0b88d6d027bc15828", GitTreeState:"clean", BuildDate:"2020-01-14T06:01:20Z", GoVersion:"go1.12.11b4", Compiler:"gc", Platform:"linux/amd64"}`
@douglas-reid I don't know if this is related to the recent change

[2020-03-03 08:37] happycloudpak commented on #21058
I've exactly same problem as you. k8s cluster with kubeadm on centos7.
Can you explain more detail how to  "manually add route rule for the service IP range to device cni0" ?

[2020-03-03 08:39] zhranklin opened #21751 "ClusterRole and ClusterRoleBinding of kiali not namespace-isolated"
**Bug description**
Cluster role and cluster role binding of kiali is not namespace-isolated. So that we can't install multiple istio-telemetry with kiali enabled. When I have installed a kiali in istio-telemetry and then install kiali in istio-telemetry-1, the previously one won't work.

**Expected behavior**
The two kiali work well simultaneously.

**Steps to reproduce the bug**
- install kiali

[2020-03-03 08:43] DrFertility opened #21752 "Istio Bot Policy"
I raised an issue #16099 that has been closed automatically by the Istio Bot Policy.

Surely the bot should not close issues unless someone from the Istio team has accessed the issue.

I believe #16099 is an issue and definitely does not behave as stated in the documention.

You will lose valuable issue reports if the bot blindly closes issues due to inactivity

[2020-03-03 08:47] zhranklin commented on #21751
fixed by #21754

[2020-03-03 08:57] a8j8i8t8 commented on #21402
@emrahcetiner Let's say, your istio enabled deployment is exposing metrics on port `1234`. Then you should exclude that port from both - 1. your istio enabled deployment 2. your istio enabled prometheus - using below annotations.
[code]

I would choose a port that will not be used anywhere in your cluster.
Cheers,
~Ajit

[2020-03-03 10:55] gjtempleton opened #21757 "Add Ability to Set CPU and Memory Resource Limits on Istio-Proxy"
**Describe the feature request**

Users currently have the ability to use annotations to override the default resource *requests* of the injected proxy container, however they have no ability to override the resource limits:

https://github.com/istio/istio/blob/f27f66bafb01f68628b952c492d66188ba0339ad/manifests/istio-control/istio-discovery/files/injection-template.yaml#L282-L294

This means that

[2020-03-03 11:05] zhangxingdeppon opened #21758 "suddenly failed checking application ports. listeners in istio-proxy"
**Bug description**
hi. buddies, I met a problem, suddenly failed checking application ports. listeners in istio-proxy, below is the istio-envoy's log:
<pre><code>
[2020-03-03T08:18:59.738Z] "POST /ls000001-14tnj8kd-serving/service HTTP/1.1" 200 - "-" "-" 1340 108 34 34 "172.29.62.99" "-" "07fda42e-89e0-4ddc-844a-df2a42111952" "172.29.62.9:36666" "127.0.0.1:8888" inbound|8888|http-serving|ls000001

[2020-03-03 11:14] zhangxingdeppon commented on #21758
when I delete the pod `ls000001-14tnj8kd-serving-v1029fixed-5f598bbdc6-89x7s` , it's still not ready,
<pre><code>

[root@D21114U24-61-149 ~]# kubectl delete pod ls000001-14tnj8kd-serving-v1029fixed-5f598bbdc6-89x7s  -n aipaas-modelserving
pod "ls000001-14tnj8kd-serving-v1029fixed-5f598bbdc6-89x7s" deleted

[root@D21114U24-61-149 ~]# kubectl get pod -n aipaas-modelserving -o  wide
NAME

[2020-03-03 12:10] jotak opened #21762 "[1.5] Prometheus scraping pods shouldn't be reported in Istio telemetry"
**Bug description**

Previously, the telemetry resulting from prometheus scraper was intentionally ignored: see this old PR: https://github.com/istio/istio/pull/12251

With telemetry v2, the same problem is reappearing. When prometheus is configured to scrape the user app' pods, this traffic is being reported in istio/envoy telemetry. For the same reasons as we did one year ago (it was screwing up

[2020-03-03 13:17] dgn commented on #21648
This is a potential release blocker for me. Do we have any news on this? Does it still happen with beta.5?

@jpapejr @howardjohn

[2020-03-03 13:20] dgn commented on #21464
Cherry-pick: https://github.com/istio/istio/pull/21764

[2020-03-03 13:30] esnible commented on #21746
There is a long discussion of this this at https://github.com/istio/istio/issues/7679

There are security implications.  Someone from @istio/wg-security-maintainers might be able to explain Istio's approach to this header.

[2020-03-03 13:35] esnible commented on #21717
If @istio/wg-networking-maintainers can give me guidance I can add validation so that `istioctl analyze` and/or `istioctl validate` issue warnings for Virtual Service regexs that are not compatible with Istio 1.5.

[2020-03-03 13:37] dgn commented on #21104
Assuming this to be a duplicate of #21556

[2020-03-03 13:39] esnible commented on #21715
We have the logic already in `istioctl verify-install -f $HOME/istio.yaml`.  It would be good to connect `appy` with `verify-install`.  There are some missing pieces as `verify-install` wants a manifest, and `apply` wants an ICP.

[2020-03-03 13:41] esnible commented on #21715
Also related is Erin Gannon's user interface study result, that users don't know exactly when they can start using Istio and what is available.  https://github.com/istio/istio/issues/20377

[2020-03-03 13:44] esnible commented on #21711
This may be a duplicate of https://github.com/istio/istio/issues/20898 or https://github.com/istio/istio/issues/18988

The intention was to make the output grammatical as part of the fixes for the breakage that occurred in 1.4.  Now that https://github.com/istio/istio/pull/21268 has merged work should resume on this.

[2020-03-03 14:20] esnible commented on #21688
I just installed Istio 1.5.0 beta 5, and installed with `istioctl manifest apply --set addonComponents.kiali.enabled=true`.  Then I did `istioctl dashboard kiali`.  The output isn't promising:

[code]

To get Kiali up, without `--set profile=demo`, I needed to do `--set addonComponents.kiali.enabled=true --set values.kiali.createDemoSecret=true` which is not obvious!

[2020-03-03 14:21] esnible commented on #21688
@jmazzitelli I designed `istioctl dashboard kiali`, and it just does `kubectl port-forward` and `open <url>`.  It was intended to be a shortcut around complex docs, not a good solution for internet-facing Kiali.  If you have ideas for improving it let me know or we can discuss it during a UX working group.

[2020-03-03 14:39] howardjohn commented on #21758
Istio 1.2 is not supported any longer. Please update to a newer version. This code has entirely changed since then

[2020-03-03 14:39] #21758 closed

[2020-03-03 14:43] jmazzitelli commented on #21688
Or you create your own secret with your own credentials (the demo secret gives you "admin"/"admin" username/password - you might want your own). See the istio docs here:

https://istio.io/docs/tasks/observability/kiali/#create-a-secret

[2020-03-03 14:51] Gsantomaggio commented on #18886
@mandarjog could you please add more info?
I was writing a RabbitMQ adapter, so should I stop with it?

Can be this document public?

Thank you

[2020-03-03 15:22] kgamanji commented on #18755
**Note: Addons for telemetry can be configured only via Helm chart variables.**

Hence, I have managed to customize kiali via:
- command line (using Helm parameters)
```istioctl manifest apply  --set values.kiali.enabled=true```
- custom manifest files (integration  between Heml and IstioCtl commands):
[code]

[2020-03-03 15:24] esnible opened #21766 "Demo profile Zipkin icon missing"
I installed Istio using 1.5.0 beta 5 and `istioctl manifest apply --set profile=demo --set values.global.mtls.enabled=true --set addonComponents.tracing.enabled=true --set values.tracing.enabled=true --set values.tracing.provider=zipkin`

I followed the instructions at https://preliminary.istio.io/docs/tasks/observability/distributed-tracing/zipkin/ to bring up Zipkin.

The icon with the Zipkin lo

[2020-03-03 15:24] kgamanji commented on #20153
The workaround I found for this is to use the custom manifest. Try this:
[code]
and apply:
``` istioctl manifest apply -f custom-manifest.yaml```

[2020-03-03 15:34] esnible commented on #21642
Adding `Docs` because I just discovered that https://preliminary.istio.io/docs/setup/install/istioctl/ uses `istioctl manifest apply -f samples/operator/pilot-k8s.yaml` as an example of Customizing the Configuration, and issuing that command yields

[code]

[2020-03-03 15:38] #21356 closed

[2020-03-03 15:40] esnible commented on #20730
Question.  https://preliminary.istio.io/docs/tasks/observability/distributed-tracing/overview/ says `values.pilot.traceSampling` valid values "are from 0.0 to 100.0".  This is not checked -- the install just works.  Should it be checked?

[2020-03-03 15:43] jpapejr commented on #21648
Will test again today with beta5 and report back findings..

[2020-03-03 15:47] esnible opened #21769 "Distributed Tracing overview refers to istio-pilot deployment"
https://preliminary.istio.io/docs/tasks/observability/distributed-tracing/overview/ instructs the user to change the trace sampling rate using `kubectl -n istio-system edit deploy istio-pilot`.

The is no longer valid, the user could use `istiod` instead of `istio-pilot`.

Better might be to not even tell the user they can edit an active Deployment but expand the section that tells them to set `va

[2020-03-03 16:01] mandarjog commented on #21762
@jotak @jmazzitelli @douglas-reid
We can fix it in 1.5.1

[2020-03-03 16:04] howardjohn commented on #21717
We can probably add a validation step to the webhook proper. I *think* golang regex is the same as envoy now (RE2) but not sure

[2020-03-03 16:06] esnible opened #21770 "Failure to "manifest apply" with LightStep tracer."
I attempted to follow the instructions at https://preliminary.istio.io/docs/tasks/observability/distributed-tracing/lightstep/

I don't have a Lightstep account but I wanted to see if Istiod starts.  Using the exact incantation, Istiod doesn't start (because of `--set values.global.tracer.lightstep.address="<satellite-address>"`, but I will ignore that because it is obviously supposed to be replac

[2020-03-03 16:08] mandarjog commented on #21750
Sorry for the noise @douglas-reid
1.13 is not supported so this is ok.

[2020-03-03 16:08] #21750 closed

[2020-03-03 16:18] howardjohn commented on #21690
Ill verify its fixed and see if I can figure out the mgmtcluster

[2020-03-03 16:20] howardjohn opened #21772 "Protocol sniffing enablement issues in 1.5"
https://github.com/istio/istio/pull/18666 intended to turn on sniffing in 1.5. This only applied to legacy install charts. This was then reverted with https://github.com/istio/istio/pull/21209/files.

In the meantime, we documented that it IS enabled.

We should enable this again on master and fix the docs.

@yxue @dgn @rshriram

[2020-03-03 16:23] mandarjog commented on #21732
@costinm how had you configured the wasm extension?

[2020-03-03 16:24] esnible opened #21773 ""Collecting logs with mixer" task doesn't collect logs"
Followed the instructions at https://preliminary.istio.io/docs/tasks/observability/mixer/logs/collecting-logs/

No logs were collected.

I added `--set components.telemetry.enabled=true` when installing, and now the Mixer's logs were present but none of the app logs expected by the task.

This may be because the instructions to configure the log collection use invalid sample _samples/bookinfo/tele

[2020-03-03 16:29] mandarjog commented on #21551
@Stono removal is supported with an alpha api.
Closing this issue reopen if needed.

[2020-03-03 16:29] #21551 closed

[2020-03-03 16:32] esnible opened #21774 ""Getting Envoy's Access Logs" task shows incorrect output"
The page https://preliminary.istio.io/docs/tasks/observability/logs/access-log/ shows the output of `istioctl manifest apply`:

[code]

The `apply` command never says `configmap "istio" replaced`.  It actually says

[code]

The incorrect response appears twice on the page.

[2020-03-03 16:32] mandarjog commented on #21505
@bianpengyuan is https://github.com/istio/proxy/pull/2721. Fixed in 1.5 and master?

[2020-03-03 16:33] esnible commented on #21774
Note that I did not attach this Issue to the Community Testing Days spreadsheet because I didn't want it to look like that task didn't work.  The task works, it just isn't easy to understand if the user is doing the task correctly because the output doesn't match the expected output.

[2020-03-03 17:02] howardjohn commented on #21690
mgmtCluster = readiness probe, so that is expected (if we expect to get metrics here?). Access logs show the same thing, so the traffic is really going there.

I do still see the issue though with the metrics not appearing until connection close

[2020-03-03 17:05] esnible commented on #21717
@howardjohn I tried experiments using the valid regex `[A-Z]`, the invalid regex `[A-Z`, and the poster's regex `^(?!.<path to match here>.).*`.

Our webhook, `istioctl validate`, and `istioctl analyze` do not see this.  We SHOULD create validation for Virtual Service regexes.

regexp.MustCompile("^(?!.<path to match here>.).*")` panics with "error parsing regexp: invalid or unsupported Perl synta

[2020-03-03 17:07] acca commented on #18671
I have the very same problem including identical messages in the ingress-gateway. Did you solve it?

[2020-03-03 17:11] howardjohn commented on #21766
Yeah its pretty old, I updated to 2.20 in #21686 (in master)

[2020-03-03 17:14] PiotrSikora commented on #18695
@turbotankist could you send me your name over email (my github username at google.com), so that we could include it in the credits for the security release? Thank you. cc @lizan

[2020-03-03 17:19] douglas-reid commented on #21762
@mandarjog this has come up in other contexts (including the AWS demo, etc.).  can we repurpose / expand the access log filter functionality here?

[2020-03-03 17:20] mandarjog commented on #21749
@kyessenov we tried changing `tcp_reporting_duration: "0.1s"` and other values but that does not help.

[2020-03-03 17:23] kyessenov commented on #21749
Have you changed all counters? I think since there is only one timer, it could be that the last write wins.

[2020-03-03 17:31] myidpt commented on #21746
Thanks Ed. We will take a look.

On Tue, Mar 3, 2020 at 5:30 AM Ed Snible <notifications@github.com> wrote:

[2020-03-03 17:33] kyessenov commented on #21700
This is just how envoy does it. There are no extensions applied to mirrored traffic at all.
I think it's fair to add tracing span propagation at the very least, but that change has to go through envoy first.

[2020-03-03 18:05] #18401 closed

[2020-03-03 18:08] #15478 closed

[2020-03-03 18:32] gargnupur commented on #21749
https://github.com/istio/istio/issues/21690 and this one kinda looks similar...

[2020-03-03 18:40] infa-rbliznet commented on #18169
We have the same bug but related to set_current_client_cert_details:
Envoy filter:
[code]
from istio-ingressgateway envoy:
curl -X GET http://127.0.0.1:15000/config_dump
[code]

For us it's even bigger issue since we don't want our certificates to be leaked to logs.

[2020-03-03 18:53] jpapejr commented on #21648
Tested another run of Helm installed 1.4.5 and upgrading to 1.5.beta.5:

[code]

[2020-03-03 18:53] esnible opened #21777 "Cannot downgrade control plane using "istioctl upgrade""
The instructions at https://preliminary.istio.io/docs/setup/upgrade/istioctl-upgrade/ tell the user to "Downgrade to Istio 1.4.4" using `istioctl experimental upgrade`.

I used Istio 1.4.5.

[code]

Note that this is **NOT a problem** with 1.5.0 beta 5, the problem is with 1.4.5, which is unable to downgrade.

[2020-03-03 18:55] jpapejr commented on #21648
Note that while the Helm deploy says it failed, I did observe pods rolling in the `istio-system` namespace.. This is how they stand right now:

[code]

[2020-03-03 19:03] incfly commented on #21746
/cc @incfly

[2020-03-03 19:07] esnible opened #21778 ""istioctl upgrade" requires the same settings used to install Istio, but doesn't take `--set` parameter"
What I did:

Deleted `istio-system` namespace
`./istio-1.4.5/bin/istioctl manifest apply --set profile=demo --set values.global.mtls.enabled=true`
Waited a few minutes
`./istio-1.5.0-beta.5/bin/istioctl x upgrade`

[code]

The egressgateway should be at the same version as the ingressgateway.

[2020-03-03 19:17] stewartbutler commented on #21650
Replicated it yesterday, and I believe I've identified the cause (but not why it is happening yet). Hypothesis at the moment is that it has something to do with MTLS permissive mode.

@rolandkool are you guys using MTLS? How is your mesh policy configured?

[2020-03-03 19:18] Stono opened #21779 "Setting localityLbSetting: false in mesh config doesn't disable locality load balancing"
**Bug description**
Setting (in meshconfig):

[code]

Enables Locality routing, however changing it to false does not disable it.  You have to delete the block.  This looks to be in https://github.com/istio/istio/blob/c43eede1e5ac25fe99c024323d17712fdf591789/pilot/pkg/networking/core/v1alpha3/loadbalancer/loadbalancer.go#L35-L42 where it's only being checked for nil.  This is counter intuitive for

[2020-03-03 19:26] Stono opened #21781 "Documentation/Support on envoy metrics to monitor Locality Lb"
**Describe the feature request**
Whilst LocalityLb can be enabled very easily, it would be good to have some focus around observability to help the operator do things like:

 - Monitor traffic weightings
 - Detect imbalanced load (due to workloads being in the same region)

When people have been working on this feature, are there any particular envoy or istio metrics that have helped debug/monitor

[2020-03-03 19:27] howardjohn commented on #21778
You need to pass the same settings to upgrade

[2020-03-03 19:27] Stono commented on #17359
@howardjohn this was autoclosed but we still see this on 1.4.5 🤷‍♂

[2020-03-03 19:27] jpapejr commented on #21648
Another Helm insta//upgrade path using only the Helm templating path instead of the Helm/Tiller path, yields good results.. Upgrade from 1.4.5 -> 1.5.0.beta.5 seems to have worked

[code]

I kinda expected to see `istiod` rather than pilot,etc.. Is this expected state shown above?

[2020-03-03 19:28] howardjohn commented on #17359
Sorry, reopening

[2020-03-03 19:37] Stono commented on #21683
Closing, this doesn't stack trace for me any more with 1.5.0-beta5

[2020-03-03 19:37] #21683 closed

[2020-03-03 19:37] Stono commented on #21384
Closing as I've solved this at our edge with nginx (linked issue)

[2020-03-03 19:37] #21384 closed

[2020-03-03 19:39] Stono commented on #21377
@howardjohn this one is a bit of a stinker, would be nice to see it being prioritised in a `1.5.x` release?

[2020-03-03 19:40] Stono commented on #20717
Any chance we could get this on the roadmap if it's trivial?  It solves a bit problem for us (priority routing to a known master)!

[2020-03-03 19:40] Stono commented on #20060
Closing, old issue and things seem to be fine on 1.4.6

[2020-03-03 19:40] #20060 closed

[2020-03-03 19:41] #19226 closed

[2020-03-03 19:42] Stono commented on #18276
Closing this as the pod now exits which in turn triggers a restart

[2020-03-03 19:42] #18276 closed

[2020-03-03 19:43] Stono commented on #17357
@howardjohn is this still a problem?

[2020-03-03 19:51] howardjohn commented on #17357
This should be fixed via https://github.com/istio/istio/pull/19971

[2020-03-03 19:51] #17357 closed

[2020-03-03 19:58] mbanikazemi opened #21784 "Multicluster with Replicated Control Planes not working"
**Bug description**

Following the instructions at https://preliminary.istio.io/docs/setup/install/multicluster/gateways/
cannot access the remote service on Istio 1.5.0-beta.4.
The curl receives a "503 Service Unavailable"

**Expected behavior**

Should be able to reach service on a second cluster.

**Steps to reproduce the bug**

Follow instructions on https://preliminary.istio.io/docs/setup/ins

[2020-03-03 20:00] esnible commented on #21784
The Ingress seems unable to reach its own remote pod:

[code]

The remote pod itself is health:

[code]

[2020-03-03 20:01] linsun opened #21785 "Istio multicluster shared control plane issue"
**Bug description**

https://preliminary.istio.io/docs/setup/install/multicluster/shared-gateways/#setup-cluster-2

Currently the remote cluster `istioctl apply` failed because we have 2 places to create istiod service.

https://github.com/istio/istio/pull/21768 is attempted to fix it however Jason raised the issue about if we can even use local istio CA from the remote cluster.

[ ] Configuration

[2020-03-03 20:05] JimmyCYJ commented on #21746
@andraxylia, is there any helm flag that customer can set in order to pass x-forward-for?
/cc @lambdai

[2020-03-03 20:16] douglas-reid commented on #21377
@Stono My concern with targeting 1.5.x is that it isn't clear exactly (to me, at least) how easy it is to accomplish this task, despite it seeming simple enough. It is possible that we finish it early in the 1.6 cycle and cherry-pick it back, however.

[2020-03-03 20:25] #21723 closed

[2020-03-03 20:25] esnible commented on #21778
@howardjohn I can't pass the settings to `istioctl upgrade`

[code]

[2020-03-03 20:34] sdake commented on #21720
The root cause of this is discussed in more detail in this thread: https://github.com/istio/istio/issues/21762#issuecomment-594026530

[2020-03-03 20:35] kramvan1 opened #21786 "1.5 beta.5 Prometheus Target list shows DOWN endpoint"
**Bug description**

1.5-beta.4 using Default profile

![image](https://user-images.githubusercontent.com/5861591/75817075-fdd19780-5d5b-11ea-8399-d08db21fae7a.png)

Prometheus is trying to scrape itself.    I think the addition of the side-car proxy to the prometheus pod has something to do with this.

Should be able to change the Prometheus configmap filter to avoid this endpoint in the target l

[2020-03-03 20:36] kramvan1 commented on #21786
cc @linsun @sdake

[2020-03-03 20:40] sdake commented on #21762
Referencing: https://github.com/istio/istio.io/pull/6554

As I understand the situation, the problem is introduced by adding a sidecar to SDS. That was done to enable SDS certificate creation in prometheus.

Filtering may be appropriate as we don't have a clear answer to how to upgrade without a sidecar present. Maybe it is straightforward, in which case 1.5.1 is fine. If it is not straightforward

[2020-03-03 20:43] sdake commented on #21786
seems like a duplicate of https://github.com/istio/istio/issues/21786 which is discussed in more detail here: https://github.com/istio/istio/issues/21762#issuecomment-594026530

[2020-03-03 20:46] sdake commented on #21720
@dgn is this prioritized properly? This appears to be a regression in behavior. Istio 1.4 had no sidecar for Prometheus.

[2020-03-03 20:49] sdake commented on #21762
@mandarjog my initial reaction is to agree this is solvable in a z-stream. This does appear to be a regression in behavior as discussed here: https://github.com/istio/istio/issues/21720#issuecomment-594160100. We need to determine if this regression is worth an exception to our no regressions in releases policy.

[2020-03-03 20:58] howardjohn commented on #21778
I don't know why but you can only use `-f`

On Tue, Mar 3, 2020 at 12:25 PM Ed Snible <notifications@github.com> wrote:

[2020-03-03 21:16] howardjohn opened #21787 "Verify Ingress controller conformance"
https://github.com/kubernetes-sigs/ingress-controller-conformance is a new test suite for Ingress conformance. I suspect we don't pass this. We should run it and see where we are today and what would be needed to pass

[2020-03-03 21:19] kramvan1 commented on #21786
yup, dup closing.

[2020-03-03 21:19] #21786 closed

[2020-03-03 21:36] howardjohn commented on #19740
This is done

[2020-03-03 21:36] #19740 closed

[2020-03-03 21:38] jshaughn commented on #21324
@douglas-reid It's all there from what I can see.  I think we can close this.

[2020-03-03 21:48] howardjohn commented on #20772
obsolete by https://github.com/istio/istio/issues/21222

[2020-03-03 21:48] #20772 closed

[2020-03-03 21:57] ayj commented on #21741
cc @ostromart , I'm not sure installing 1.5 beta5 with istioctl 1.4 is supported / tested.

[2020-03-03 22:16] cagataygurturk commented on #13009
As of 1.4.5, the ServiceEntry below allows access for **both** http://169.254.169.254 and http://metadata.google.internal

[code]

[2020-03-03 22:53] jcetkov commented on #20958
If this translates to `envoy_cluster_update_*{cluster_name="xds-grpc"}` there doesn't seem to be anything interesting; most of them are empty, `_attempts` and `_success` keeps rising steadily regardless of the timeframe
I don't see any cluster `sds-grpc` I assume that's typo?

[2020-03-03 22:59] ayj commented on #21784
This looks like a dup of https://github.com/istio/istio/issues/21676.

[2020-03-03 23:15] howardjohn commented on #21787
Breakages:
* rule is `/foo`, call is `/foo/`  - we generate exact match for `/foo`
* rule is `/bar/`, call is `/bar//bershop` we make it exact match
* rule is `/` on host `*`, I think we filter it due to conflicts

Its not clear if the first 2 area "real" tests: https://github.com/kubernetes-sigs/ingress-controller-conformance/issues/31

[2020-03-03 23:24] GregHanson opened #21792 "Kubernetes Ingress with Cert-Manager Task Broken"
**Bug description**

Following steps here: https://preliminary.istio.io/docs/tasks/traffic-management/ingress/ingress-certmgr/

Using beta.4 release:
[code]
Ingress gateway fails to become ready due to failed LDS config from pilot.

logs from ingress gateway:
[code]
Gateway with SIMPLE TLS rule is created , but I'm guessing the corresponding cert/secret was never created, see here in [preconfigure

[2020-03-03 23:35] howardjohn commented on #21787
Only the last one is valid, apparently the other two are just example tests

[2020-03-03 23:41] howardjohn commented on #21792
I think we are properly mounting the secret, so it sounds like its not being created by certmanager?

[2020-03-03 23:46] lambdai commented on #20958
I was wrong: sds-grpc is introduced in 1.5

[2020-03-03 23:48] howardjohn commented on #21648
https://github.com/istio/istio/commit/5cef32dd3617eef2559cd2312c12f5517083077d and https://github.com/istio/istio/commit/c54e05a625806fc8b5a260487c3b197b3d88e019 changed this

[2020-03-04 00:50] esnible commented on #21778
@howardjohn I feel the syntax SHOULD be the same, so I have added the `enhancement` tag to the Issue.

[2020-03-04 00:52] ostromart opened #21794 "meshConfig does not unmarshal in operator controller"
There was a PR a while back that changes snake_case json Go struct tags to camelCase, to allow regular yaml unmarshal to be used in the controller, rather than jsonpb: https://github.com/istio/api/pull/1277.
This PR did not cover MeshConfig proto, which is in another directory. Therefore, spec.meshConfig fields are ignored in the controller (although it still works fine for istioctl which still us

[2020-03-04 00:53] ostromart commented on #21794
cc @morvencao

[2020-03-04 00:56] ostromart commented on #21794
Actually after thinking about this for a bit, we have a workaround, which is not great but acceptable until we can patch - we can advise the users to use snake_case if they need to set anything in the meshConfig field.

[2020-03-04 01:05] mandarjog commented on #21377
Yes, we will fix in master first, but I think we should be able to backport without causing too many issues.

[2020-03-04 01:25] nrjpoddar opened #21795 "Turning on/off tracing with minimal impact to users"
**Describe the feature request**
Users should be easily able to enable tracing in an Istio enabled cluster with minimal changes. Additionally, if a user has turned off tracing, there should be no (or minimal) consumption of resources (CPU/memory/network) in the sidecar proxies for any tracing related activity.

Currently, in Istio [tracing](https://github.com/istio/istio/blob/eb19bee458e3351974256

[2020-03-04 01:35] mandarjog commented on #21749
[proxy_log.zip](https://github.com/istio/istio/files/4284587/proxy_log.zip)
@gargnupur client and server logs

[2020-03-04 01:51] ming-ddtechcg commented on #21643
The issue is resolved.

[2020-03-04 01:51] #21643 closed

[2020-03-04 02:02] richardwxn commented on #21778
I think we should update istioctl upgrade to take also the --set command, /CC @elfinhe

[2020-03-04 02:46] morvencao commented on #21794
Not sure if changing the json tags of MeshConfig will have some impact to the networking components, if no, we can do that, right?

[2020-03-04 03:51] elfinhe commented on #21778
Based on the feedback I read from this discussion, I think we need to add --set to istioctl upgrade.

[2020-03-04 04:54] sureshvis commented on #21170
@vikaschoudhary16  any update or next step?

[2020-03-04 05:01] #16051 closed

[2020-03-04 05:01] #16137 closed

[2020-03-04 05:01] #16141 closed

[2020-03-04 05:03] #18112 closed

[2020-03-04 07:03] incfly commented on #16866
Fixed, in istio/tools now.

[2020-03-04 07:03] #16866 closed

[2020-03-04 07:23] rvirdiz commented on #17378
In kops, to enable Istio-1.3+ SDS configuration, add following parameters to your kops cluster.yaml.

spec:
  kubeAPIServer:
    apiAudiences:
    - api
    - istio-ca
    featureGates:
      TokenRequest: "true"
    serviceAccountIssuer: kubernetes.default.svc
    serviceAccountKeyFile:
    - /srv/kubernetes/server.key
    serviceAccountSigningKeyFile: /srv/kubernetes/server.key

[2020-03-04 07:43] gargnupur commented on #21690
This is fixed after https://github.com/istio/proxy/pull/2742
Logs from test: https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/21783/integ-telemetry-k8s-tests_istio/9195

[2020-03-04 08:31] rolandkool commented on #21650
Yes, we're using mTLS permissive mode.
Our policy looks like this:
[code]

[2020-03-04 08:39] #21779 closed

[2020-03-04 10:21] notpad commented on #21725
I'll take this one

[2020-03-04 10:34] ramaraochavali commented on #20717
I do not think route level priority in Envoy will actually a select a different destination based on priority - I think that is what @Stono is looking for based on my read of his description.

What Envoy does with the priority in route is to select a different connection pool and allow to have different circuit breaking settings (like max allowed retries etc) based on priority - https://www.envoyp

[2020-03-04 11:06] dgn commented on #21648
@jpapejr that's expected; the helm charts don't support istiod deployments.

[2020-03-04 12:03] kozmod opened #21811 "build istio/istio from master - curl: (60) SSL certificate problem"
I try to build **istio/istio** from **master** use `make build`, according to `https://github.com/istio/istio/wiki/Using-the-Code-Base` . When build-script try to download` istio-proxy`, `curl` exit with error code:

[code]
I visited `https://curl.haxx.se/docs/sslcerts.html` , download last version `cacert.pem` and put to `/etc/ssl/certs/cacert.pem`.

After all I could download `istio-proxy-1.0.2-

[2020-03-04 12:42] gmemcc opened #21812 "TPROXY mode not working in 1.4.5"
**Bug description**
Container istio-proxy can not connect to istio-poilt when TPROXY mode enabled.

istio-proxy complains:
[code]

iptables content:
[code]

[] Configuration Infrastructure
[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Steps to reproduce the bu

[2020-03-04 13:23] shahid-mushtaq opened #21813 "istios-egressgateway Readiness probe failed: HTTP probe failed with statuscode: 503"
hi i have installed istio on my online server. before i restarted my server every pod and service was runing fine and i was able to install my application pods. after i restarted istio-egressgateway pod stays in following state

![Screenshot 2020-03-04 18 18 05](https://user-images.githubusercontent.com/48596702/75883620-1e295100-5e45-11ea-9567-bd6d027f38f3.png)

after few seconds or mintues follo

[2020-03-04 13:38] shahid-mushtaq commented on #21813
sorry i figured it out.

port 15090 was blocked it could be any other reason but after enabling this port . all went good

[2020-03-04 13:38] #21813 closed

[2020-03-04 14:16] SCLogo commented on #20234
same issue here

[2020-03-04 14:42] CZacker opened #21814 "Pilot deploy fail by transport: Error while dialing dial tcp: i/o timeout"
**Bug description**
Hi, istio pilot cannot be ready when I deployed it by istioctl or helm on Centos7

[*] Configuration Infrastructure
istio profile demo
[code]
[*] Networking
calico

**Environment where bug was observed (cloud vendor, OS, etc)**
Centos7 (Azure VM)

**logs**
[code]

[code]

[code]

[2020-03-04 14:44] CZacker commented on #21814
[code]

[code]

[2020-03-04 14:44] howardjohn commented on #21814
they fail to connect to galley so maybe look at logs there?

[2020-03-04 14:45] howardjohn commented on #21811
@ericvn any ideas? only mentioning you since you have worked on the osx build stuff a bit

[2020-03-04 15:04] CZacker commented on #21814
[code]

it looks good exec in gallery pod.

[2020-03-04 15:11] esnible opened #21815 ""istioctl x describe" logging to stdout when config_dump is stale"
The sidecar config_dump is stale immediately after a re-install.

To reproduce, install Istio, install Bookinfo, delete `istio-system` namespace, reinstall Istio, then describe a pod that got it's config from the previous control plane instance.

[code]

[2020-03-04 16:24] kramvan1 commented on #18554
This appears to be fixed in 1.5.0-beta.5

[2020-03-04 16:24] #18554 closed

[2020-03-04 16:37] FrimIdan commented on #21676
@ayj did you used the following command to install the multicluster?
`istioctl manifest apply -f install/kubernetes/operator/examples/multicluster/values-istio-multicluster-gateways.yaml`

I I failed to find the file, is this the one `operator/data/examples/multicluster/values-istio-multicluster-gateways.yaml`?

[2020-03-04 16:43] FrimIdan commented on #19418
In istio 1.5 SDS is on by default, this means that mesh expansion is broken?

[2020-03-04 16:54] esnible commented on #21710
@howardjohn `istioctl x describe` has a flag, `--ignoreUnmeshed`, which will suppress all of the message related to unmeshed pods.  The default is to return $? `1` when run on unmeshed pods.

Not a regression; the tool has always done this.

It is easy to suppress the second message and the `1` return, but should I?  I previously used that behavior to find problems with injection.  I could change

[2020-03-04 16:58] howardjohn commented on #21710
In the docs, the output shows a warning. I don't have a strong opinion on the desired behavior, we should just make the doc represent what the tool is doing I guess. Failing with exit code `1` seems reasonable

[2020-03-04 17:04] CZacker commented on #21814
got it, Azure does support calico. So it will cause coredns fail

[2020-03-04 17:04] #21814 closed

[2020-03-04 17:43] howardjohn opened #21816 "Beta mTLS segfault in Pilot"
[code]

Running from master

Looking into this now, will see if I can reproduce and if it applies to 1.5

cc @fpesce @diemtvu

[2020-03-04 17:45] howardjohn commented on #21816
I can reproduce. I am developing so there are some tiny changes i have made to pilot, but it seems unrelated

[2020-03-04 17:50] jpapejr commented on #21648
Given @howardjohn's comments above, and @dgn's comments about the expected result in my cluster, seems like this issue is a non-issue if we remove the Helm/Tiller docs via the PR @linsun references above. If so, should we close?

[2020-03-04 18:04] diemtvu commented on #21816
Thanks for the report. What is the setup and policies you have in the
system?

Thanks.

On Wed, Mar 4, 2020 at 9:45 AM John Howard <notifications@github.com> wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-215-8127

[2020-03-04 18:06] costinm commented on #21676
One thing we can check is if using a 1.4-based ingress ( which is compatible with 1.5 control plane ) is a reasonable workaround until 1.5.1 ships.

[2020-03-04 18:07] howardjohn commented on #21816
I have no policies. I am trying to figure out the root cause here, not sure what is triggering it. I am adding a new integration test and for whatever reason it fails immediately after the test exits. It could be an issue on my end

[2020-03-04 18:18] ayj opened #21817 "Remove use of direct pod IP usage from multicluster configuration and docs"
The single-network multicluster configuration and documentation recommends using pod IPs to expose Istio services to remote clusters. This is a bad practice that we should not recommend to users.

Quoting @costinm,

[2020-03-04 18:23] howardjohn commented on #21816
found the issue: https://github.com/istio/istio/pull/21818

[2020-03-04 18:28] diemtvu commented on #21816
Cool, I was about to dig in to see when the policy is not initialize properly within push_context.

[2020-03-04 18:31] howardjohn commented on #21816
The impact here is that any error in push context initialization such as `env.List(VirtualService)`, which may fail due to networking errors, etc, will lead to a panic

[2020-03-04 18:33] diemtvu commented on #21816
If the push context return err, does it gracefully skip that config
snapshot then retry a few minutes later?

On Wed, Mar 4, 2020 at 10:31 AM John Howard <notifications@github.com>
wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-215-8127

[2020-03-04 18:36] howardjohn commented on #21816
Well right now it crashes. The intent is that it will skip the update

[2020-03-04 20:11] jcetkov commented on #19564
my usecase was not to terminate the inflight connections, not allow establishing new ones, where the workaround is sufficient

[2020-03-04 20:16] esnible commented on #21711
Background.  I re-installed Istio many, many times.  These are the outputs I observed and will be fixing as part of this work:

[code]

[2020-03-04 20:55] jshaughn opened #21820 "Add requested service info to telemetry"
This is the impl task based on this [proposal for improved routing observability](https://docs.google.com/document/d/1--R1QNACYeWgPMqg5wNdKVY2vmh5FeG_CX4_yByOsMI/edit#).  After discussion in the working group option 1 was favored, see [this comment thread](https://docs.google.com/document/d/1--R1QNACYeWgPMqg5wNdKVY2vmh5FeG_CX4_yByOsMI/edit?disco=AAAADkUIpyI).

Basically, the idea is to add request

[2020-03-04 21:11] #21324 closed

[2020-03-04 21:13] douglas-reid commented on #16555
I believe this should be closed at this time, as the work was moved into 1.5 and verified.

[2020-03-04 21:13] #16555 closed

[2020-03-04 21:13] sands6 commented on #7909
@sandeeplamb In your case, trying out without `tls` work? I mean setting your Gateway resource to listen without tls.

[2020-03-04 21:14] #12846 closed

[2020-03-04 21:19] jshaughn commented on #12846
correct!

[2020-03-04 21:20] esnible opened #21821 "Pilot /debug/authenticationz incorrect TLSConflictStatus"
To reproduce, install Istio 1.5.0 beta 5 w/o mTLS, then set a MeshPolicy for STRICT mTLS:

[code]

Debugging with `istioctl x describe pod`, the result from /debug/authenticationz was `v2.AuthenticationDebug{Host:"productpage.default.svc.cluster.local", Port:9080, AuthenticationPolicyName:"/default", DestinationRuleName:"None", ServerProtocol:"STRICT", ClientProtocol:"None", TLSConflictStatus:"OK"

[2020-03-04 21:39] howardjohn opened #21824 "Migrate Mixer v1 to Istiod based SDS to drop dependency on Citadel"
Right now Mixer V1 depends on Citadel certs for TLS. We should migrate this to using Istiod SDS so that we can remove controlPlaneSecurityEnabled and Citadel

I have a WIP at https://github.com/istio/istio/compare/master...howardjohn:mixer/sds?expand=1 but only applies to telemetry

[2020-03-04 22:11] howardjohn opened #21826 "--wait on manifest apply obscures errors in apply"
[code]
If I remove --wait I get
[code]

You can see in the first case I am losing the error message

(note: the fact there IS an error is not the issue here, I am working on that)

[2020-03-04 22:11] howardjohn commented on #20575
https://github.com/istio/istio/issues/21826

[2020-03-04 22:11] #20575 closed

[2020-03-04 22:12] kramvan1 opened #21827 "Istio 1.4 Operator Controller deleting all Istio CRDs when ICP is deleted"
**Bug description**

Istio 1.4 Operator Controller deleting all Istio CRDs when ICP is deleted.
This will cause ALL the customers Istio based resources to also be deleted.

The Istio 1.5 Operator Controller does not seem to delete the CRDs when the IOP is deleted.

**Expected behavior**

Always leak CRDs.

**Steps to reproduce the bug**

- Install Istio with Operator Controller pod with default pr

[2020-03-04 22:12] kramvan1 commented on #21827
cc @sdake @linsun

[2020-03-04 23:39] kyessenov commented on #21700
Do you _want_ or _not want_ tracing spans for mirrored traffic? I think what happens is that the span headers are just verbatim copied, which is not what we want anyways.

[2020-03-05 00:19] howardjohn commented on #21690
This is fixed as proven by https://github.com/istio/istio/pull/21775

[2020-03-05 00:20] #14327 closed

[2020-03-05 00:33] #21690 closed

[2020-03-05 00:34] mandarjog commented on #21749
closing with #21690

[2020-03-05 00:34] #21749 closed

[2020-03-05 00:46] zzl1 commented on #21058
Hi, @happycloudpak  I add the route rule as below:
ip r add 192.168.0.0/16 dev cni0

Note: 192.168.0.0/16 is the IP range of k8s service. You may need to change it.

[2020-03-05 00:56] howardjohn opened #21831 "Remove citadel deployment"
The security WG has decided we will remove citadel in favor of Istiod in 1.6.

Blocker: https://github.com/istio/istio/issues/21824, mixer+galley still depend on Citadel for control plane security.

[2020-03-05 01:02] emrahcetiner commented on #14580
@r3kzi same issue +1
as a workaround i removed this job from prometheus configuration
can you share your experience about this situation? how did you solve this issue?

[2020-03-05 01:05] howardjohn opened #21833 "Serve Destination rule/gateway file mounted certificates over SDS"
Currently if certs are used as mounted files for destination rule or Gateway, they are loaded as files. This means if they are changed Envoy will not notice.

We have two options:
* Do the same rotation we do with the workload certs. This is complicated as the files are dynamic, and we are moving away from file mounted certs
* Translate the files to SDS config which are served locally

The 2nd see

[2020-03-05 01:05] howardjohn opened #21834 "Remove file mounted certificates in 1.6"
Security WG has decided we will remove support for file mounted certs directly by envoy. Certs will be read from local files an served over SDS to support external CA cases.

This does NOT apply to dest rule/gateway certs, which are currently an entirely different code path. See https://github.com/istio/istio/issues/21833 for that issue

[2020-03-05 02:46] hzxuzhonghu commented on #21676
It seems ` outbound_.8000_._.httpbin.bar.svc.cluster.local` does not exist from the config dump, not sure if this matters

[2020-03-05 02:54] mbanikazemi commented on #21784
@ayj yes it is a duplicate.

[2020-03-05 02:55] esnible commented on #21676
Does this not suggest a user could do a denial-of-service on Istio by supplying any .global hostname in a request?  Is the single-cluster setup immune?

cc @mbanikazemi

[2020-03-05 03:01] mbanikazemi commented on #21676
@hzxuzhonghu fwiw in my setup I do see the outbound_.8000_._.httpbin.bar.svc.cluster.local cluster and see envoy crashing probably at Envoy::Tcp::TcpClusterRewrite::TcpClusterRewriteFilter::onNewConnection()

[2020-03-05 03:02] #21816 closed

[2020-03-05 03:05] yangminzhu opened #21841 "ext_authz gRPC service doesn't work with the cluster name generated by pilot"
**Bug description**
When using `ext_authz` filter with gRPC service, the pilot generated cluster name includes invalid character (`|`) making it unable to be used in the ext_authz configuration.

**Expected behavior**

**Steps to reproduce the bug**

1. Assume the user deploys their external authorization server inside the mesh with the following config:

[code]

2. Pilot will generate the cluster

[2020-03-05 03:17] yangminzhu commented on #21841
@rshriram @howardjohn I'm curious is there any special reason to use `|` in the cluster name? Thanks.

[2020-03-05 03:33] hzxuzhonghu commented on #21676
We should check if disable the `envoy.filters.network.wasm` can fix this, so that we can narrow the scope

[2020-03-05 03:36] catman002 commented on #21746
@esnible   The above discussion does not work for 1.45: modify "use_remote_address " or ”externalTrafficPolicy“

[2020-03-05 03:41] baocang commented on #19966
Thx @rnkhouse, it works for me too

[2020-03-05 04:22] #10357 closed

[2020-03-05 05:46] lei-tang opened #21843 "Prometheus cert provisioning is broken on istio-1.5.0-beta.5"
**Bug description**
Prometheus cert provisioning works on istio-1.5.0-beta.4 but is broken on istio-1.5.0-beta.5. The new commits (e.g., the ones that change Istio Agent) in istio-1.5.0-beta.5 may be related to this problem.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ X]

[2020-03-05 06:06] aattuluri opened #21845 "Implement traffic.sidecar.istio.io/includeOutboundPorts annotation"
**Describe the feature request**
Currently, there is a way to exclude outbound ports from being intercepted by istio proxy. The feature request is to add the following annotation:
`traffic.sidecar.istio.io/includeOutboundPorts` that way the http and https traffic can be used over mesh
This can be implemented similar to `traffic.sidecar.istio.io/includeInboundPorts`?

**Describe alternatives you've

[2020-03-05 06:07] aattuluri commented on #21845
@howardjohn please triage

[2020-03-05 06:08] aattuluri commented on #21845
I would like to submit a PR

[2020-03-05 06:49] Stono commented on #21700
I want to be able to disable them @kyessenov as they are pointless for us.   Copying is even worse haha so definitely fix that

[2020-03-05 07:26] emrahcetiner commented on #21402
@a8j8i8t8
in my cluster, prometheus pod has not istio proxy. it is running in istio-system namespace and istio-sysyem namespace disabled for auto-injection.

my application has 2 port for http and prometheus exporter. my app pod is running different namespace and istio injection enabled.

in prometheus pod i successfully reach to my app pod's prometheus exporter with curl. (but it is works only wi

[2020-03-05 09:02] ckcd commented on #20235
@Stono

[2020-03-05 09:03] morvencao commented on #21467
Is this resolved by https://github.com/istio/istio/pull/21020 ?

[2020-03-05 09:05] ckcd commented on #20235
Hi @Stono

just want to know how to generate this metrics in istio 1.4 ?  I'm using below in `meshConfig` and cannot get this metrics in istio-proxy. I already using `sidecar.istio.io/statsInclusionPrefixes: cluster` to allow generate metrics.

[code]

[2020-03-05 09:07] IbraheemAlSaady commented on #20234
Tested with 1.4.6, and it's still not working. mTLS enabled. Not injecting Istio works perfectly.

[2020-03-05 09:23] shamsher31 commented on #20730
Make sense. We should verify that the user is not trying to set beyond 100.

[2020-03-05 09:31] Mistic92 commented on #20760
Any other way to manual deploy egress gateway?

[2020-03-05 09:58] kozmod commented on #21811
tmp solution -> add `-k` option  to
[code]

in `bin/init.sh`

[2020-03-05 10:20] lei-tang commented on #21843
Cause for the issue: outputKeyCertToDir used by Prometheus cert provisioning reads its value from the environmental variable OUTPUT_KEY_CERT_TO_DIRECTORY. On release-1.5 branch, a commit in istio-1.5.0-beta.5 after istio-1.5.0-beta.4 changes outputKeyCertToDir to read its value from the environmental variable OUTPUT_CERTS, which was not set in the Prometheus deployment.

[2020-03-05 10:21] lei-tang commented on #21843
The fix for this issue: https://github.com/istio/istio/pull/21848.

[2020-03-05 11:29] hiondal commented on #21058
I'm happycloudpak user.
Thanks for your kind answer. but, it doesn't work for me.
I did as followed because I use flannel as CNI(Container Network Interface).
$ ip r add 10.244.0.0/16 dev cni0

[2020-03-05 11:31] hiondal commented on #21058
**** SOLVED ****
I changed CNI tool from flannel to calico.
After then, auto sidecar injection works very well.
I assume flannel has some problem with istio.

Thanks zzl1

[2020-03-05 11:35] luisra51 commented on #21527
I think that you can change `externalTrafficPolicy: Cluster to externalTrafficPolicy: Local` in istio-ingressgateway service

[2020-03-05 11:48] dgn opened #21849 "iptables tests fail on release-1.4"
[code]

looks like the last PR targeting these has added the PROXY_GID field to the output without updating the golden files

[2020-03-05 12:46] morvencao commented on #21554
@ostromart

I finally reproduced this in `release-1.5` branch.
After checking all the changes of operator API, I think this is relevant to https://github.com/istio/api/pull/1263

I tried to build, deploy and test in-cluster operator with and without that PR, the results shows that the `status` fields need `UnmarshalJSON` and `MarshalJSON` function to be marshal/unmarshal normally.

Will cherrypick

[2020-03-05 12:55] morvencao opened #21850 "in-cluster operator never break reconciling loop"
**Bug description**

Deployed the in-cluster operator and create the operator CR, found that operator keep the reconcile, and the status are always `RECONCILING`

[code]

Check the operator logs, looks like that the reconciling loop is always triggered by some others resources, maybe resources created by operator.

[ ] Configuration Infrastructure
[ ] Docs
[ X ] Installation
[ ] Networking
[ ] Per

[2020-03-05 13:20] courcelm commented on #20234
I'm running Elastic cloud on Kubernetes 1.0.1  with Istio 1.4.4 .
* https://www.elastic.co/downloads/elastic-cloud-kubernetes

To make it work, I added an extra service entry since the default one doesn't provide ports.

`kind: Service
apiVersion: v1
metadata:
  name: elasticsearch
  labels:
    app: elasticsearch
spec:
  selector:
    app: elasticsearch
  clusterIP: None
  ports:
    - port: 9200

[2020-03-05 14:12] shaunc opened #21851 "Question/Feature request: "x-accel" capability"
**Describe the feature request**

Nginx supports redirect based on response headers: https://www.nginx.com/resources/wiki/start/topics/examples/x-accel/

Is it possible to configure a virtual service to allow one service to specify that the response should come from another? If not, it would be a nice feature to have.

**Describe alternatives you've considered**

1) The first service can make a ch

[2020-03-05 14:19] knrc commented on #21849
@dgn I have these fixed locally, I can take this one

[2020-03-05 15:04] bharat-gadde opened #21852 "Error while sidecar injection and gateway creation"
**Bug description**
During the pod creation creating: Internal error occurred: failed calling webhook "sidecar-injector.istio.io": Post https://istio-sidecar-injector.istio-system.svc:443/inject?timeout=30s: dial tcp 10.100.205.227:443: connect: no route to host.
During gateway creation: error when creating "test_httpgw.yaml": Internal error occurred: failed calling webhook "pilot.validation.istio

[2020-03-05 15:05] #21784 closed

[2020-03-05 15:10] esnible commented on #21778
@richardwxn I have made this an **Enhancement** and set the milestone for 1.6.  Let's track this for 1.6.

[2020-03-05 15:26] linsun commented on #21676
@esnible good question, I'm also curious about the impact of this issue to single cluster.

cc 1.5 release mgrs fyi @fpesce @dgn @johnma14

[2020-03-05 15:53] linsun commented on #21827
@kramvan1 I discussed this issue on environment WG extensively yesterday.

1. Could you try upgrading operator to 1.5 first then apply the new istio operator yaml?  You should be able to use istioctl operator cmd to install the new operator.

2. you can use `istioctl manifest migrate` cmd to migrate your prior ICP resource to IO resource.

3. Apply that new IO resource.  The IO resource should be

[2020-03-05 16:46] nmittler opened #21854 "Remove yaml-lint hack"
https://github.com/istio/common-files/pull/200 addresses an issue in the yaml-lint target where grep fails if no files contain the template pattern `{{`. To get around this, we removed `pipefail` from the command. We should replace this hack and correctly handle this case.

[2020-03-05 16:50] howardjohn commented on #21845
Sounds good :+1:

[2020-03-05 16:57] howardjohn commented on #21676
There was a PR to disable these by default I think

[2020-03-05 16:58] howardjohn commented on #21676
This filter is only set if multicluster is enabled: https://github.com/istio/istio/blob/1896ee0f7820ca6b7e9575252acd7e872ee3d9cf/manifests/gateways/istio-ingress/templates/preconfigured.yaml#L37. Single cluster is not impacted

[2020-03-05 17:09] howardjohn commented on #21567
I think TestFixedWindowAlgorithm is broken as well maybe? https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/21837/unit-tests_istio/9704

[2020-03-05 17:09] howardjohn commented on #21567
https://github.com/istio/istio/issues/21672

[2020-03-05 17:22] kramvan1 commented on #21827
@linsun   Humm, we are using the normal operator controller pod upgrade path via OLM.   This is all controller pod based, there is no `istioctl` CLI or manual commands involved in this upgrade process.

Our process is something like this:
- OLM subscription is to the istio 1.4 channel (will get all 1.4.x operator updates)
- existing istio 1.4 operator controller pod is running
- existing istio 1.4

[2020-03-05 17:25] MateusAmin commented on #19744
It will also enable chart maintainers that have dependencies on Istio to be able to cleanly specify them in their Helm charts. Helm v3 is a client side only package manager for end users, and Helm hub is federated. All in all its pretty similar to the 'apt-get model' now. Link to existing issue:

https://github.com/istio/istio/issues/14951

[2020-03-05 17:36] brackendawson opened #21856 "Istio routing request using wrong service?"
**Bug description**
I believe that when making a request to a ClusterIP service; Istio is applying the policy and destination rule from another service that has the same endpoints.

The setup is:
***monitoring namespace:***
* Sidecar injection disabled.
* A ClusterIP service with a cluster IP called `prometheus-registry` with a Prometheus pod as its only endpoint.
* A ClusterIP service with **no c

[2020-03-05 18:04] esnible commented on #21834
cc @mbanikazemi

[2020-03-05 18:04] esnible commented on #21831
cc @mbanikazemi

[2020-03-05 18:05] howardjohn commented on #21831
https://github.com/istio/istio/pull/21837 is WIP that does this to see what breaks

[2020-03-05 18:07] esnible commented on #20898
Currently the tool expects Pilot to tell us if there is a client/server mismatch.

Pilot gets it wrong sometimes ( https://github.com/istio/istio/issues/21821 ).  I prefer to fix Pilot rather than introducing compensating logic in istioctl.

[2020-03-05 18:28] costinm commented on #19684
Since UDS is also in networking namespace - shared with the app - I'm not sure what the difference is in terms of security. If app can run as 1337 - and bypass envoy completely - it also doesn't matter much if it can access /admin - there is nothing /admin does that app bypassing envoy can't do.

I think having a https + ACL interface to access admin and status from outside of the pod will be a be

[2020-03-05 18:34] esnible commented on #21717
On the Networking Working Group today I learned that Istio's regexps now follow re2 syntax (see https://github.com/google/re2/wiki/Syntax )

Our documentation (e.g. https://preliminary.istio.io/docs/reference/config/networking/virtual-service/ ) says Istio uses "ECMAscript style regex".  Created https://github.com/istio/istio.io/issues/6749 to address the documentation.

[2020-03-05 18:34] jshaughn commented on #21820
I had a recent thought on this.  It could make sense to include the requested service/host information only if 1 or more VS were involved in the routing, otherwise the information could be assumed to be the same as the destination service.  This assumes that only a VS can alter the requested routing, I'm not aware of anything else.

[2020-03-05 18:37] JimmyCYJ commented on #21746
Tentatively assign to @lambdai for networking team to triage. Feel free to assign back to me.

[2020-03-05 18:41] rlenglet commented on #19684
I believe that's not true for unix domain sockets that are bound to the filesystem, which is what we're considering here.

[2020-03-05 18:56] sands6 commented on #7909
Nevermind. I figured it out. `nginx.ingress.kubernetes.io/upstream-vhost` annotation is required in case Nginx is fronting Istio gateway in case of `GRPC`

[2020-03-05 18:56] #21696 closed

[2020-03-05 19:00] ostromart opened #21861 "helm chart to install Istio operator"
A chart to install operator should be quite simple - most likely the only required parameters would be hub and tag (see operator/data) for a working helm chart that can be used as a starting point.

[2020-03-05 19:01] howardjohn opened #21862 "Do not inject a pod if its already been injected"
`istioctl` does this, but not the webhook. This will prevent us from having negative impacts if we accidentally set up overlapping labels with multiple control planes

[2020-03-05 19:02] #21843 closed

[2020-03-05 19:03] Mokto opened #21863 "[operator] Ability to push array elements with overlays"
**Describe the feature request**
Hi, maybe I missed something, but it seems like it's impossible to just push elements to an array when patching something with `overlays`.

**Describe alternatives you've considered**
Passing everything as a value, but it's not super maintainable.

[code]

I would just like to push
[code]
[X] Configuration Infrastructure
[X] Docs
[X] Installation

Thanks!

[2020-03-05 19:18] myidpt commented on #21843
For Istio 1.5.0 users, here's how to manually fix this issue:
[code]
When the deploy config is opened, find the `OUTPUT_KEY_CERT_TO_DIRECTORY` in the `env` stanza for the proxy, and change it to `OUTPUT_CERTS`.

[2020-03-05 20:00] linsun commented on #21827
The 1.4 ICP is deleted CAUSES CRDs TO BE DELETED - is this not an update behavior but a delete behavior because we are using OLM?

cc @brian-avery @dgn @rcernich for input

[2020-03-05 20:02] #18708 closed

[2020-03-05 20:14] ostromart opened #21870 "istioctl operator/ code coverage improvements"
Tracker for code coverage improvements. To see current levels run:
[code]

[2020-03-05 20:17] linsun commented on #21827
@kramvan1 what if you don't do this step?
```The 1.4 ICP is deleted```

We are hoping the 1.5 operator will clean up 1.4 deployments.

[2020-03-05 20:34] a8j8i8t8 commented on #21402
@emrahcetiner Mount `istio.default` secret in your prometheus, and use certs in this secret to connect to HTTPS URL.

[2020-03-05 20:35] ostromart opened #21872 "Improve test coverage in operator/cmd/mesh"
Currently it's at cmd/mesh	                        43.7%.

[2020-03-05 20:39] ostromart opened #21873 "Improve test coverage in operator/pkg/controller/istiocontrolplane"
Currently at 31.1%

[2020-03-05 20:39] costinm commented on #11365
In 1.5, we only need:
- 15012 - for 'flat network' multicluster and mesh expansion
- 853 - if using DNS-over TLS, we can replace it in 1.6 once we intercept DNS
- 15443 - for multi-network support

In addition, 443 and 80 if the 'internal gateway' is running behind a L7 LB - so we can preserve
X-Forwarde/client ip/etc.

So we now fit perfectly.

I would strongly recommend leaving the configuration

[2020-03-05 20:40] ostromart opened #21874 "Improve test coverage in operator/helm"
Currently at 20.9%

[2020-03-05 20:41] ostromart opened #21875 "Improve test coverage in operator/pkg/kubectlcmd"
Currently at 66.1%.

[2020-03-05 20:42] ostromart opened #21877 "Improve test coverage in operator/pkg/manifest"
Currently at 50.0%.

[2020-03-05 20:43] sandeeplamb commented on #7909
@sands6 Yeah for me I am using Istio, so it works with plane GRPC mode without TLS and also with GRPC and TLS. No problem at all.
But I have seen you already have a solution now

[2020-03-05 20:43] #21710 closed

[2020-03-05 20:44] ostromart opened #21878 "Improve test coverage in operator/pkg/object"
Currently at 30.6%.

[2020-03-05 20:46] ostromart opened #21880 "Improve test coverage in operator/pkg/patch"
Currently at 64.3%.

[2020-03-05 20:47] ostromart opened #21882 "Improve test coverage in operator/pkg/tpath"
Currently at 43.2%.

[2020-03-05 20:48] ostromart opened #21883 "Improve test coverage in operator/pkg/translate"
Currently at 58.2%.

[2020-03-05 20:49] sands6 commented on #7909
@sandeeplamb I want to learn from your experience of using Istio-gateway at the edge. Are you running Istio gateway in `host-network` mode or LB fronting istio gateway? How do manage multiple `vhost` endpoints point to gateway with different protocols http/https/grpc as we have to use different port for `grpc`?

[2020-03-05 20:50] ostromart opened #21884 "Improve test coverage in operator/pkg/util"
Currently at 26.7%.

[2020-03-05 20:51] ostromart opened #21885 "Improve test coverage in operator/pkg/validate"
Currently at 72.4%.

[2020-03-05 20:53] ostromart opened #21886 "Improve test coverage in operator/pkg/version"
Currently at 59.8%.

[2020-03-05 20:53] howardjohn commented on #10357
Tip for future debuggers: if you get into an infinite loop of readiness probe, somehow your pod got injected twice

[2020-03-05 20:54] rcreasey commented on #21076
This would make cert-manager provisioned secrets much more feasible for mTLS gateway certificate checking.  As it stands now, cert-manager will create a secret off a certificate with `tls.crt`, `tls.key` and `ca.crt` keys.  In my use case, client certificates are signed with the same intermediate CA as the one that's signing the server certificate.

In the current state of SDS and mTLS, it require

[2020-03-05 21:03] ostromart opened #21887 "Missing units tests in operator"
There are many gaps in unit tests in operator (both istioctl and controller) that should be filled.

[2020-03-05 21:09] ostromart opened #21888 "Unit test for partial overlays in operator."
Need a test for spec.components.<x>.k8s overlays where the overlay is partial. This would test that the path is merged with the default values.
This could be an extension of one of the existing golden tests e.g. pilot_k8s_settings.yaml which currently overlays all params - some of the params could be removed from that overlay.

[2020-03-05 21:10] ostromart opened #21889 "Unit test for local filesystem or remote charts"
There's no UT for anything other than the compiled-in charts. We also need to test local filesystem and remote charts.

[2020-03-05 21:21] incfly commented on #21746
hi @catman002 to ensure we understand your requirements, are you saying that a request (from curl to ingress gateway ip) already contains a  `X-forwarded-headers: 1.2.3.4` header, but after ingress gateway forward req to httpbin service, the xff is gone?

Or you are suggesting that ingress gateway envoy does not append the client IP it sees by itself to the list?

[2020-03-05 21:21] ostromart opened #21890 "Run operator controller helm render against istioctl manifest generate goldens"
Golden inputs passed through controller helm render should yield the same golden outputs. There's some specialization of the code paths between these two helm generation methods.

[2020-03-05 21:23] ostromart commented on #21890
https://github.com/istio/istio/pull/21739.

[2020-03-05 21:23] #21890 closed

[2020-03-05 21:25] ostromart opened #21891 "Test combinations of --set flags in istioctl operator"
See https://github.com/istio/istio/issues/21692#issuecomment-593426506 for context. This task may include extending validation to disallow some combinations of test flags.

[2020-03-05 21:27] ostromart commented on #21692
Moving this to an epic: https://github.com/istio/istio/issues/21887

[2020-03-05 21:27] #21692 closed

[2020-03-05 21:29] ostromart commented on #19526
Fixed in https://github.com/istio/istio/pull/20961.

[2020-03-05 21:29] #19526 closed

[2020-03-05 21:31] sandeeplamb commented on #7909
In our case, we have AWS-NLB in front as LB which is created using terraform.
**istio-ingressgateway** service created as NodePort and all ports in service have corresponding NodePort with them.
`  ports:
    -
      name: status-port
      port: 15020
      targetPort: 15020
      nodePort: 31952
    -
      name: http2
      port: 80
      targetPort: 80
      nodePort: 30314
    -
      name: h

[2020-03-05 21:32] ostromart commented on #19804
Fixed in https://github.com/istio/istio/pull/21380.

[2020-03-05 21:32] #19804 closed

[2020-03-05 21:40] ostromart commented on #20253
Rather than completely removing this check I suggest checking the provider and making it conditional on this being GKE.

[2020-03-05 21:42] ostromart commented on #20270
It's really a update goldens issue. We should stick with having the smallest possible golden output - this means running the generate goldens through the same select/ignore filter we have for comparing the golden outputs.

[2020-03-05 21:43] howardjohn commented on #20253
I don't see why we even want to wait for it. Does any other software do this?

It can take quite some time to provision a LB...

also you can have a LB on kind, or you could not have a LB on kind. Its not tied to provider necesarily.

This code is already removed btw, the issue is stale. So if you do want it maybe we should change this to be "add this back"?

[2020-03-05 21:56] ostromart opened #21892 "Remove duplication between istioctl and in-cluster operator"
we currently have a few areas, mostly IOP yaml merging and generation, that are slightly different between istioctl and operator, which is a potential source of hard-to-trace bugs. We should reuse as much code as possible between tools.

[2020-03-05 21:57] ostromart opened #21893 "Unify enablement code"
there are multiple spots in the code where we check component enablement, e.g. during collection of charts (operator/pkg/controlplane) vs. generation of values (e.g. pkg/translate, which uses pkg/util and pkg/tpath)

[2020-03-05 21:58] ostromart opened #21894 "Remove istio/operator repo merge artifacts"
as part of merging the operator repo into istio/istio a lot of files have become obsolete. A lot of this has been tackled, but we should scan the operator/ directory for any leftover dead files.

[2020-03-05 22:02] ostromart opened #21895 "Filter golden file outputs based on unit test focus"
Heavily prune back all the golden file outputs to retain only the resources relevant to the particular test.

[2020-03-05 22:06] ostromart opened #21898 "Eliminate unused parts of controller framework"
There are several interfaces and factories defined in controller/ and helmreconciler/ that have only one implementation. If there are no concrete plans to write more implementations, these should be removed because they make it harder to understand and debug the code.

[2020-03-05 22:09] ostromart opened #21899 "Clean up struct generation in istio.io/api/operator and istio.io/istio/operator/pkg/api"
We have a number of fixup operations after Go structs are generated from proto, due to various limitations of protoc. Most of these are in fixup_structs.go. We should investigate whether there are opportunities to clean these up.

[2020-03-05 22:11] duderino commented on #19684
@costinm think of it like a path traversal attack.  You can trick a web server's file serving mechanism to serve a different file.   In this case, you could trick a proxy into forwarding a request to a port accessible within the netns (the admin port).

But you can't trick the proxy into forwarding a request to a UDS socket because it doesn't have the code to do that.

[2020-03-05 22:11] ostromart opened #21900 "Consolidate tree traversal code in operator/pkg"
There are probably about three implementations of tree traversals in operator/pkg. These have slightly different behavior, tailored to the problem each is addressing. This issue is to investigate whether consolidation of these implementations is feasible.

[2020-03-05 22:14] ostromart opened #21901 "Get rid of operator/pkg/manifest"
Originally this package was used because there was no performant prune operation available in the controller packages. Pruning now works better and it may be possible to use the k8s client libs in the controller packages to apply the manifest. This would avoid having two separate implementations of apply --prune in the codebase.

[2020-03-05 22:16] ostromart opened #21903 "Remove fswatcher from operator/pkg/util"
This package is not used anywhere, since planned functionality for it was never implemented. It should be removed - we can always reinstate if a feature requires it.

[2020-03-05 22:17] JimmyCYJ opened #21904 "Support passing GCP metadata to STS server and proxy"
**Describe the feature request**
STS server needs GCP metadata during bootstrap. Add a flag that supports passing GCP metadata to STS.

**Describe alternatives you've considered**

**Additional context**
https://github.com/istio/istio/issues/20133

[2020-03-05 22:19] ostromart opened #21905 "Code readability"
The code has some parts that are not fully documented or need some general cleanup. This is a catch-all issue for code readability related work.

[2020-03-05 22:20] ostromart opened #21906 "Remove initialisms in the code"
remove initialisms all over the codebase e.g. #21412 (comment)

[2020-03-05 22:22] ostromart opened #21907 "Use a single marshal/unmarshal pkg throughout codebase"
We are currently using both jsonpb and regular yaml [un]marshallers throughout the code. We need to converge on a single one (preferably yaml) and modify all code to use that.

[2020-03-05 22:23] kramvan1 commented on #21827
@linsun the 1.5 operator does not cleanup 1.4 deployments, unless they overlap.
If we don't delete the 1.4 ICP, the 1.4 operator will not delete the 1.4 resources.

OLM only handles the operator pods, not the operator CRs (ICP, IOP).    The 1.4 operator is doing the delete of the CRDs when it see the ICP being deleted.    Deleting the ICP is a normal step when the operator changes it's CRD (ICP to

[2020-03-05 23:12] howardjohn commented on #20802
Fixed in masted now

[2020-03-05 23:12] #20802 closed

[2020-03-05 23:13] howardjohn commented on #19104
Is this still needed? I think we turned off RBE

[2020-03-05 23:17] #19655 closed

[2020-03-05 23:18] bianpengyuan commented on #19655
this is done.

[2020-03-05 23:19] bianpengyuan commented on #19104
Yeah we have already added back base image version check in proxy release make target: https://github.com/istio/proxy/pull/2636

[2020-03-05 23:19] #19104 closed

[2020-03-05 23:20] #17158 closed

[2020-03-05 23:21] #19215 closed

[2020-03-05 23:21] howardjohn commented on #19147
@lei-tang are we still planning this for 1.6?

[2020-03-05 23:24] howardjohn commented on #17053
Update for 1.6:

Candidates:
USE_ISTIO_JWT_FILTER
PILOT_RESTRICT_POD_UP_TRAFFIC_LOOP

Keep
PILOT_ENABLE_PROTOCOL_SNIFFING_FOR_OUTBOUND/PILOT_ENABLE_PROTOCOL_SNIFFING_FOR_INBOUND
PILOT_SCOPE_GATEWAY_TO_NAMESPACE not on by default in 1.3 -- maybe we can turn this to default in 1.4
PILOT_ENABLE_HEADLESS_SERVICE_POD_LISTENERS not on by default in 1.3

[2020-03-05 23:30] #19018 closed

[2020-03-06 00:04] #18521 closed

[2020-03-06 00:23] sdake commented on #19815
As this is fixed in master, I am closing. The manual backport, however, is essential.

[2020-03-06 00:23] #19815 closed

[2020-03-06 00:28] ostromart commented on #20916
sgtm. apart from the comma support we should anyway align with helm syntax since the flag is there precisely to make istioctl behave in a familiar helm-like way.

[2020-03-06 00:28] #20916 closed

[2020-03-06 00:32] ostromart commented on #21048
Since this issue has no owner for a while I'm going to throw the original reporter under the bus and tentatively assign to @richardwxn - feel free to deal with this as you see fit. My 2c - it seems reasonable to resolve this through some combination of validation / documentation.

[2020-03-06 00:37] ostromart commented on #21861
Duplicates #19744.

[2020-03-06 00:37] #21861 closed

[2020-03-06 00:45] ostromart commented on #21826
It seems this can be closed with the exception of the comment in the referenced issue: should we abort if base component fails with errors?
I think the common stance in such situations is to let things run to completion, even if there are errors. There may be cases where it makes sense to abort early, but I'm not sure if these cases are clear cut in the code logic right now. I certainly wouldn't o

[2020-03-06 00:50] ostromart commented on #21187
Most likely this is just a matter of a missing schema entry in values_types.proto. I'll investigate for 1.6 and backport if that's the case.

[2020-03-06 00:51] ostromart commented on #21850
Fixed in https://github.com/istio/istio/pull/21780.

[2020-03-06 00:51] #21850 closed

[2020-03-06 00:57] ostromart commented on #21468
Actually I take it back - that test doesn't use the controller and it's also a bash script. It should be using the new test framework. Looking around there a bit I propose creating an alternative deploy() function that uses the controller instead of manifest apply here:
https://github.com/istio/istio/blob/44faef2d3fd9f2945c3d753fb9b3e01774fd9d12/pkg/test/framework/components/istio/operator.go#L150

[2020-03-06 01:01] ostromart opened #21909 "istioctl --set flag should follow Helm syntax"
There are reports of istioctl --set syntax not exactly following helm. The only place that's ok is if we're adding some useful new functionality like list selection with [key:value].
It would be great if others could chime in here to identify cases where the syntax is different.
@howardjohn @costinm @esnible

[2020-03-06 01:05] ostromart commented on #19206
Duplicate of #21225

[2020-03-06 01:05] #19206 closed

[2020-03-06 01:07] ostromart commented on #15264
Yes, it's there, closing this.

[2020-03-06 01:07] #15264 closed

[2020-03-06 01:08] ostromart commented on #15217
We have a reasonably functional prune implementation now so we can revive this as part of the code de-duplication effort.

[2020-03-06 01:11] howardjohn commented on #21826
Why should this be closed? The Galley component is failing and I don't see any error messages.

I am fine with things continuing if I can see the error

[2020-03-06 01:42] hzxuzhonghu commented on #21676
I think you mean the one from @vikaschoudhary16, it is to disable normal clusters, this kind of clusters here are sni-dnat clusters, which is not influenced

[2020-03-06 01:44] howardjohn commented on #21676
https://github.com/istio/istio/pull/18431

On Thu, Mar 5, 2020 at 5:42 PM Zhonghu Xu <notifications@github.com> wrote:

[2020-03-06 01:48] hzxuzhonghu commented on #21676
But what tested here is release-1.5, and i searched in my deployment, it is `ISTIO_META_ROUTER_MODE: "sni-dnat"` for my gateway

[2020-03-06 01:50] hzxuzhonghu commented on #21676
https://github.com/istio/istio/blob/51c4b1aaf9b94eb3e6a02ddd3352781b21a5a7a8/manifests/gateways/istio-ingress/values.yaml#L158

[2020-03-06 01:53] ostromart commented on #15245
I think we should still do this but need to find an owner.

[2020-03-06 01:55] ostromart commented on #15673
I think we've collectively decided that proxy config is too hard to express as an overlay because it's actually a configmap with template text - closing this as infeasible.

[2020-03-06 01:55] #15673 closed

[2020-03-06 01:58] hzxuzhonghu commented on #17053
i am sure `PILOT_RESTRICT_POD_UP_TRAFFIC_LOOP` can be removed now

[2020-03-06 02:01] ostromart commented on #15843
Repurposing this issue for 1.6. The plan now is to only support upgrade using dual control plane - manifest migrate should just take care of translating values.yaml from the old helm charts to whatever the 1.6 format will be with istiod.
Since values.yaml is likely to be heavily reduced post istiod, we need to take a fresh look at the translations - many parameters will disappear which should prob

[2020-03-06 02:07] ostromart commented on #18547
If I understand the status quo of this issue, the current plan is to write the IstioOperator CR to the cluster during manifest apply and use that for istioctl verify-install? I hope so because this is quite complementary to other features we may want to add that require this state from the cluster so +1 from me.

[2020-03-06 02:08] ostromart commented on #18384
I'm going to close this as stale, please reopen if still relevant.

[2020-03-06 02:08] #18384 closed

[2020-03-06 02:12] ostromart commented on #19748
This is now doable e.g. istioctl manifest generate --set components.pilot.hub=foo
Same for tag.

[2020-03-06 02:12] #19748 closed

[2020-03-06 02:22] linsun commented on #21827
Thank you @kramvan1 to confirm that.

Upon further discussion with @sdake and @kramvan1 we think we should backport the change from 1.5 to 1.4 that allows CRD not cleaned up upon ICP deletion because CRD is cluster wide.

@sdake started a backport PR on this https://github.com/istio/operator/pull/768

cc @ostromart

[2020-03-06 03:37] hzxuzhonghu opened #21913 "Consider cleanup global cache `edsClusters`"
**Describe the feature request**

As global isolation is enabled for long, and now `pushEds` generates ClusterLoadAssignment from the cached IstioEndpoint directly, and can not use that in `edsClusters` anymore.

So we should cleanup it, and this will
1. save a lot of memory.
2. no need updating this cache anymore each time pushing eds, definitely saves cpu usage

**Describe alternatives you've co

[2020-03-06 03:37] hzxuzhonghu commented on #21913
cc @rshriram @howardjohn @ramaraochavali

[2020-03-06 03:40] howardjohn commented on #21913
I tried a while back and wasn't successful, but would be great to see

[2020-03-06 03:41] howardjohn commented on #21913
No reason it can't be done, I just wasn't able to get everything working right

[2020-03-06 04:08] Janesee3 opened #21914 "TLS Origination does not require ServiceEntry for external host over port 80 to work"
**Bug description**
In our current setup, we are doing TLS origination directly from the proxy sidecar instead of the egress gateway. We have two external hosts that we want to do TLS origination for -`edition.cnn.com` and `github.com`.
We found out that TLS origination can work as long as we have at least one ServiceEntry/Kubernetes Service that listens on port 80 (regardless of hostname).

**Ste

[2020-03-06 04:09] hzxuzhonghu commented on #21913
OK, i am working on a draft to see if anything wrong. I have found one point: currently, we donot check service existence when calling edsUpdate.

[2020-03-06 05:00] #6593 closed

[2020-03-06 05:01] #16181 closed

[2020-03-06 05:04] #19040 closed

[2020-03-06 05:24] emrahcetiner commented on #21402
@a8j8i8t8 there is already mounted like this:

[code]

And prometheus is configured to using these certs.

[code]

iI'm not getting an error about tls. prometheus tring to scrape over https and target exporter service reject: "http: server gave HTTP response to HTTPS client"

should run my prometheus exporter in my app over https? i dont think so, because there is alraedy istio-proxy in pod. istio

[2020-03-06 05:39] rushsinging opened #21915 "k8s.affinity configuration doesn't seem to work using installer"
Sorry if I'm missing something here.

**Bug description**

I got a error report using `k8s.affinity`  settings.

* [x] Configuration Infrastructure
[code]

**Expected behavior**

I want to set ingressgateway.affinity by `istioctl  manifest apply -f config.yaml`.

**Steps to reproduce the bug**

When I excute `istioctl  manifest apply -f config.yaml`. I got:

[code]

**Version (include the output o

[2020-03-06 06:03] catman002 commented on #21527
@luisra51  can not work in istio1.4.5 or istio1.5

[2020-03-06 06:25] Mokto commented on #8374
Can we reopen please ? I have the same issue with Istio 1.5.0

[2020-03-06 06:29] catman002 opened #21916 "AuthorizationPolicy for source IP does not work"
[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[x ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ x] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Additional context**

In istio 1.5.0, using AuthorizationPolicy to configure the attribute "from. Source. Ipblocks" for istio-ingressgateway does not work, because the real IP of

[2020-03-06 06:29] zzl1 commented on #21058
Good job! I did encountered issues with flannel. One issue is flannel uses UDP but UDP is blocked in my network. I spent a long time to figure out the root cause.  I will take a look at calico later. Interesting.

获取 Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Lee Hae Kyoung <notifications@github.com>
Sent: Thursday, March 5, 2020 7:31:50 PM
To: istio/istio <

[2020-03-06 06:56] hazcod opened #21918 "istioctl apply does not fail correctly"
**Bug description**
During istioctl apply, if the apply fails (as can be seen in the logs), the return code is still returned as if it was successful. This can result in inconsistent CI/CD scenarios/deployments.

[ ] Configuration Infrastructure
[ ] Docs
[X ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience

[2020-03-06 06:57] hazcod commented on #21918
And now I get: ` 2020-03-06T06:55:06.258922Z	info	Error: failed to read the current Istio version, error: different versions of Istio components found: [ingressgateway pod - istio-ingressgateway-5958c58554-ccgx7 - version: 1.5.0 ingressgateway pod - istio-ingressgateway-69d4875bf9-2fxkt - version: 1.4.5 pilot pod - istiod-6b7d5b54b7-768lc - version: 1.5.0]
`

[2020-03-06 07:34] nishant-rapidops commented on #11056
"help wanted" I am facing the same issue. Any solution?

[2020-03-06 07:35] nishant-rapidops commented on #11056
here is my Virtual Service

apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: webhook-api-public
spec:
  hosts:
  - "pushserverapp.cookandboardman.io"
  gateways:
  - public-httpbin-gateway
  http:
  - match:
    route:
    - destination:
        host: webhook-api-public
        port:
          number: 8093
---
apiVersion: networking.istio.io/v1alpha3
kind: Destinatio

[2020-03-06 07:35] Mokto commented on #21916
You should use `externalTrafficPolicy: Local` on your loadbalancer to see the origin IP.

But will not work if you use a classic AWS load balancer.

[2020-03-06 07:38] liuyue2656 commented on #444
have some docs with this REST API on k8s api-server for Istio?

[2020-03-06 08:16] #21121 closed

[2020-03-06 08:35] catman002 commented on #21916
@Mokto

#### I have configured "external traffic policy: local", but I still can't get the real IP:

######  bash> kubectl edit svc istio-ingressgateway -n istio-system

[code]

[2020-03-06 08:46] Mokto commented on #21916
How is your kubernetes cluster deployed ?

[2020-03-06 08:47] maplebeats commented on #21778
why upgrade can't  automatically recognize the current configuration to update :(

[2020-03-06 08:58] richardwxn commented on #21915
Seems like there is a mismatch between the path and the value so the validation fails, @ostromart

[2020-03-06 09:23] carolwu-1206 commented on #21139
any help appreciated

[2020-03-06 11:28] kong62 opened #21920 "istiod: remote error: tls: unknown certificate"
**Bug description**
[code]

[X ] Installation

**How was Istio installed?**
[code]

**Environment where bug was observed (cloud vendor, OS, etc)**
centos 7.6
istio 1.5.0

[2020-03-06 12:05] ishankhare07 commented on #6772
For people still facing this issue AND trying to setup istio on a **private** cluster. You would need to setup cloud NAT so that the cluster can fetch control plane docker images from docker hub.

[2020-03-06 13:33] AsherPemberton commented on #19532
This firewall rule needs setting to port 15017 instead of 9443 on Istio 1.5

[2020-03-06 13:46] kong62 commented on #19816
I  have  same problem in  istio  1.5.0

[2020-03-06 13:50] voroniys opened #21921 "Add completion command to istioctl"
**Describe the feature request**

Add a completion command to istioctl, same as it is in kubectl

**Describe alternatives you've considered**

To get completion file now I need to download full istio tarball to get it from tools directory. If completion command will be added it would be possible to download istioctl only and setup completion with it.

[ ] Configuration Infrastructure
[ ] Docs
[ X]

[2020-03-06 13:55] FilipB commented on #20202
No longer visible on istio 1.5.0

[2020-03-06 13:55] FilipB commented on #20238
No longer visible on istio 1.5.0

[2020-03-06 14:12] esnible commented on #21778
@maplebeats I also believe Istio should recognize the current configuration.  Please add a thumbs-up or celebration vote to https://github.com/istio/istio/issues/20000 , or comment there.

[2020-03-06 14:20] emike922 opened #21922 "hashicorp/consul vulnerable to CVE-2018-19653 and CVE-2020-7219?"
**Bug description**
In Istio 1.5.0 go.mod requires github.com/hashicorp/consul v1.3.1, which seem to be affected by the CVEs CVE-2018-19653 and CVE-2020-7219. Istio 1.4.6 still requires consul v1.3.0, so it would also be affected.
Consul version 1.6.3 seems to be the first version that fixes both issues.

[2020-03-06 14:25] Stono opened #21923 "No destination workload labels when using fault injection"
**Bug description**
We've started using istios fault injection on chaos days at AutoTrader.  However we're then asking people to investigate their dashboards in order to understanding the cause of the faults they're seeing, but none of them work as metrics reported with faults are missing workload labels.

EG:

`app-a` -> `app-b` = fine.

Add 10% 500 failure-rate to `app-b`

and `destination_workl

[2020-03-06 14:36] #20202 closed

[2020-03-06 14:36] #20238 closed

[2020-03-06 14:53] howardjohn commented on #21920
Can you provide some more info? Are those IPs failing to connect some proxies? are they 1.4 proxies or 1.5?

[2020-03-06 14:57] marshallford commented on #21243
It appears that the url `https://istio.io/operator.yaml` has been updated to point at what appears to be the resources applied on a 1.5 `istioctl operator init`. Anyone able to weigh in on this installation method? Thanks.

Couple of notes:

1) The operator image tag is `1.5-dev`. Can I safely change that value to `1.5.0`?
2) At one point in time post 1.5 release, the `apiVersion` of the CRD was `

[2020-03-06 15:09] JonBergevin commented on #21340
Hello, we have the same problem.  We cannot read "client.sco" value or any value from a nested node
`{
  "iss": "******",
  "jti": "******",
  "azp": "******",
  "iat": 000000000,
  "exp": 000000000,
  "nonce": "0000000",
  "ver": 1,
  "client": {
    "cli": "***",
    "pid": "*",
    "pty": "***",
    "uid": "*",
    "sco": "read write"
  },
  "cnf": {
    "jwks": [
      {
        "kid": "******

[2020-03-06 15:27] paolodedo commented on #21340
@JonBergevin If this could help, I used my IAM (JWT issuer, Keycloak in this case) to flatten this structure through a mapper configured to my Keycloak's client.

[2020-03-06 15:32] cober commented on #21920
We are seeing same observation where ingressgateways stood on 1.4.5 and never got updated to 1.5 and istiod showing a lot of tls errors as @kong62 mentioned.

So far we have had to revert to a working 1.4.5 version since the environment was completely down.

Will play with this for the weekend and open or keep posting here some findings out.

[2020-03-06 15:34] JonBergevin commented on #21340
Hi @paolodedo wondering if you would mind sharing more information / samples / etc on how you approached this?  We are looking for a non-runtime solution, such that the Istio ingress proxy is taking care of the flattening, etc.

[2020-03-06 15:39] tmshort commented on #13138
It is desirable to control control-plane (envoy or otherwise) and mTLS. It also appears that the gateway configuration does not apply when PASSTHROUGH mode is used (which supports mTLS, so I guess that's the crux of the problem).

[2020-03-06 15:43] paolodedo commented on #21340
I am going to prepare an article about it and share it with you

[2020-03-06 15:47] cagataygurturk opened #21924 "Originate HTTP CONNECT from sidecar proxy"
**Describe the feature request**

In an architecture where an external proxy is still in place, [the suggested way](https://istio.io/docs/tasks/traffic-management/egress/http-proxy/) is to configure Istio to let TCP connections to the external proxy. In this case the application still has to know to use proxy to initiate connections and most importantly, Istio loses the monitoring capability for t

[2020-03-06 15:53] JonBergevin commented on #21340
Wow, thank you so much!! That would be greatly appreciated.  Did you catch the statement above that I made (that we don't own the OAuth JWT Issuer)?

[2020-03-06 16:04] howardjohn commented on #21920
@cober what is your config for the 1.4? Specifically, can you check the discoveryAddress (should be a flag on the gateway, or check the gateway logs)?

[2020-03-06 16:07] esnible commented on #21243
This didn't make it into 1.5.

@marshallford If you do `istioctl operator init --dry-run --log_output_level=installer:info` you can get the YAML that will be used to install the operator.  You could scrape it.

@istio/wg-environments-maintainers It would be easy to implement this request, either as `istioctl operator dump` or `istioctl operator experimental dump`.  Is there anyone in Environments

[2020-03-06 16:15] paolodedo commented on #21340
Oh, I see.. I don't know atm how to deal with this problem, maybe something could come up thinking about it.. :)

[2020-03-06 16:18] marshallford commented on #21243
@esnible Thanks for the info. I might take a stab at this feature as well. Might be a good weekend project.

[2020-03-06 16:20] esnible commented on #21921
This feature already exists but is undocumented.

If you do `istioctl collateral --bash` it will generate _istioctl.bash_ in the current directory.  There are other options.

I had a PR to make it visible, https://github.com/istio/istio/pull/12637 , but I was encouraged to keep it hidden.  I see no reason not to make `istioctl completion bash` output to stdout just like `kubectl`.  However, the pr

[2020-03-06 16:23] JonBergevin commented on #21340
I see, so it sounds like you had control of the JWT Issuer and were able to transform/map the JWT to the form you desired.  Hopefully someone with familiarity with the code will be able to provide some guidance or a solution.

Thanks anyways for being willing to help out!
Sincerely,
Jon

[2020-03-06 16:38] esnible commented on #21909
I don't know what the differences are.

https://helm.sh/docs/helm/helm_install/ shows that `helm install --set` "can specify multiple or separate values with commas: key1=val1,key2=val2".  We formerly allowed it, but I removed it because https://github.com/istio/istio/issues/20381 and difficulties with meaningful commas e.g `--set values.global.proxy.includeIPRanges="172.30.0.0/16,172.21.0.0/16"`

[2020-03-06 16:41] Tharun-Sabbu opened #21927 "NATS protocol"
**Bug description**
we've injected istio-proxy to the java application with NATS client trying to connect to NATS Server that is external to the cluster. And we were getting 503, I tried accessing NATS server from pilot pod which is running with istio-proxy in  istio-system namespace and seems to be working fine. However, accessing the NATS Server from the application seems to be giving 503. I tri

[2020-03-06 16:49] mark-church commented on #11365
Hi I'm from the GKE team. It is correct that the L4 ILB in GCP currently supports a [max of 5 ports](https://cloud.google.com/load-balancing/docs/quotas) per forwarding rule. We are currently working increasing this limit which is scheduled to go public Beta some time in early Q2 of this year. It is currently in Alpha and so if you would like to get access to this functionality contact your accoun

[2020-03-06 17:12] StrongMonkey opened #21928 "Istio helm installation still uses microservices"
**Bug description**

Istio helm installation still uses microservices

[ X] Configuration Infrastructure
[X ] Docs
[ X] Installation
[ X] Networking
[ X] Performance and Scalability
[ X] Policies and Telemetry
[ X] Security
[ X] Test and Release
[X ] User Experience
[ X] Developer Infrastructure

**Expected behavior**

From the release doc, starting from istio 1.5 it will be using istiod as one si

[2020-03-06 17:17] ostromart commented on #21243
The alternative would be to bundle both the default render (and btw also the helm charts) with the release tar.

[2020-03-06 17:53] cober commented on #21920
@howardjohn this is a log from one of our ingressgateway pods, however 1.5 ones are not even there.

the way we update istio is like this, however, I have some issues getting logs but some I was also getting some errors doing it that way, that could explain why Gateway resource is not even applied. Error was something like:
`proto: tag has too few fields: "-"`

`cat <<EOF > istio.yaml
apiVersion:

[2020-03-06 17:53] elfinhe commented on #21918
not sure if I understand it well.

Hi @hazcod did you/your CD system try running two commands, one after another, like this?

[code]

And the issue we are trying to solve is, in the first command, it did not return a non-zero error code?

[2020-03-06 18:04] myidpt opened #21929 "Add a flag to not start Envoy in sidecar"
**Describe the feature request**
For Prometheus and application without Envoy proxies but need to load key and certs from files, we offer the sidecar that provisions key and certs to files. In this case, the user should have a flag to have Envoy not running.

**Describe alternatives you've considered**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and S

[2020-03-06 18:05] #21929 closed

[2020-03-06 18:05] myidpt commented on #21929
Dup of https://github.com/istio/istio/issues/21457

[2020-03-06 18:06] howardjohn commented on #21928
Istiod is only available using the new installation methods (istioctl)

[2020-03-06 18:12] ostromart commented on #19816
See my unsuccessful attempt to bump this up in https://github.com/istio/istio/pull/21288.
If anyone's interested in delving deeper into this and doing some experimentation, please feel free to take over that PR.

[2020-03-06 18:19] richardwxn commented on #19816
@ostromart let me take this over then

[2020-03-06 18:19] howardjohn commented on #18418
@ckcd are you planning to implement this? I see the API got merged but I don't think the implementation

[2020-03-06 18:21] howardjohn commented on #19352
no longer an issue

[2020-03-06 18:21] #19352 closed

[2020-03-06 18:23] richardwxn commented on #21918
seems like it ran istioctl upgrade run first and then istioctl manifest apply, can you paste the output for both commands

[2020-03-06 18:28] howardjohn commented on #19590
We have improved this to show what gRPC stream was sent

[2020-03-06 18:28] #19590 closed

[2020-03-06 18:37] #19930 closed

[2020-03-06 18:37] howardjohn commented on #19943
Fixed by putting it in out/

[2020-03-06 18:37] #19943 closed

[2020-03-06 18:39] howardjohn commented on #20081
This is merged in k8s 1.18

[2020-03-06 18:40] howardjohn commented on #20122
Fixed by setting nmespace correctly

[2020-03-06 18:40] #20122 closed

[2020-03-06 18:40] esnible commented on #21927
Related? https://github.com/istio/istio/issues/17921

[2020-03-06 18:41] howardjohn commented on #20177
We also have citadel protos, etc in repo @myidpt

[2020-03-06 18:42] #20268 closed

[2020-03-06 18:44] howardjohn commented on #20336
done

[2020-03-06 18:44] #20336 closed

[2020-03-06 18:44] howardjohn commented on #20334
done

[2020-03-06 18:44] #20334 closed

[2020-03-06 18:44] #20359 closed

[2020-03-06 18:45] howardjohn commented on #20566
This is now tested in local integ tests

[2020-03-06 18:45] #20566 closed

[2020-03-06 18:46] howardjohn commented on #20582
I have not experienced this in later upgrade testing with our new webhook approach

[2020-03-06 18:46] #20582 closed

[2020-03-06 18:48] howardjohn commented on #21188
fixed

[2020-03-06 18:48] #21188 closed

[2020-03-06 18:49] howardjohn commented on #21376
strongly suspect #21674 fixed this, will reopen if we see this again

[2020-03-06 18:49] #21376 closed

[2020-03-06 18:50] howardjohn commented on #21420
Fixed by 21456

[2020-03-06 18:50] #21420 closed

[2020-03-06 19:14] ostromart opened #21932 "Addon components strategy for install / operator API"
https://docs.google.com/document/d/1LHy4fUDlhQWjsgUC4G4r_SuiBkgRNU_iUr_iJxWwgo8/edit#heading=h.xw1gqgyqs5b
- Document installing from external sources (@howardjohn)
- Evaluate if integration can be done external to istio/istio (@howardjohn, @dgn, others)
- If above two points pass, remove addon charts and addonComponents from API

[2020-03-06 19:16] yangminzhu commented on #21916
Does the task https://istio.io/docs/tasks/security/authorization/authz-ingress/ work for you? If not, I guess somehow the client IP address is not preserved in your environment.

[2020-03-06 19:18] howardjohn commented on #21932
Related: https://github.com/istio/istio/issues/21541 https://github.com/istio/istio/issues/21366

If we finish both of these we can get "zero config" integration with Istio

[2020-03-06 19:31] selmanj commented on #19336
This should be resolved as of istio 1.5 (we ignore any errors for types we don't know or care about).

[2020-03-06 19:31] #19336 closed

[2020-03-06 19:38] #21928 closed

[2020-03-06 19:43] Mokto commented on #21916
It does for me.
Note: I had to add my VPC CIDR (10.0.0.0/8)

[2020-03-06 20:11] Tharun-Sabbu commented on #21927
I'm not having issues with other URL's when application is trying to reach, this is only specific to reaching NATS Server running in other cluster.

* Connected to nats.test.com (10.xx.xx.xx) port 8443 (#0)

< HTTP/1.1 503 Service Unavailable
< content-length: 95
< content-type: text/plain
< date: Fri, 06 Mar 2020 19:59:22 GMT
< server: envoy
<
* Connection #0 to host nats.test.com left intact
ups

[2020-03-06 20:21] ostromart opened #21934 "Dual control plane upgrade support"
Umbrella issue to capture work to support dual control plan upgrade. Some work will be in the installer charts, some UX changes may also be appropriate. Pending a more detailed design for 1.6.
https://docs.google.com/document/d/1d1z5PC8wvh9QiR3NesAaPm6w2HnE4-KIfjB7GB-_Wf8/edit#heading=h.qlmnvhzb2ib2
https://docs.google.com/document/d/1yxoQNfWgNFFPgyGHGvpTMN_Xy6KAoq57O2U8Wx0Nv8A/edit#heading=h.qex6

[2020-03-06 20:22] elfinhe opened #21935 "All links in 1.4 archive went invalid"
All links in 1.4 archive site are missing v1.4 path.

For example, in https://archive.istio.io/v1.4/docs/setup/

Actual:
`https://archive.istio.io/docs/setup/getting-started/`

Expected:
`https://archive.istio.io/v1.4/docs/setup/getting-started/`

**Bug description**

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl ve

[2020-03-06 20:25] ostromart commented on #21554
great! i'm still a bit puzzled why this was not showing up in your environment, but i'm glad you figured out the root cause.

[2020-03-06 20:29] ostromart commented on #21794
i doubt anything in networking is relying on those tags. istio components like pilot read and use meshconfig settings so if snake case is required to do this it will show up very quickly in various test failures. yes, i think it is a safe change.

[2020-03-06 20:53] onebione opened #21936 "Strange Issue with downloading file, using ‘TCP’ it works, using ‘HTTP’ breaks"
Hi,
We tried this in 1.4.1 and 1.4.6
We create a service
“spec”: {
“ports”: [
{
“name”: “http”,
“protocol”: “TCP”,
“port”: 9609,
“targetPort”: 9000
}
],

We curl with
curl -v GET "http://fileservice.msdemo.svc.cluster.local:9609/file/o/81c54c13-f409-4060-825b-da10a7821f5d

it breaks with a 503 UC
[2020-03-05T19:15:51.896Z] “GET /file/o/81c54c13-f409-4060-825b-da10a7821f5d HTTP/1.1” 503 UC “-” “-”

[2020-03-06 21:25] ayj opened #21938 "istioctl does not create correctly named gateways"
[code]
Other k8s resources are similarly misnamed. Expected results is that the name of the gateway resources is `istio-ingress-1`.

[2020-03-06 21:30] frankbu commented on #21935
Doc issues should be opened in the istio/istio.io repo, but this one not needed anyway, since we already have an issue for the problem: https://github.com/istio/istio.io/issues/6788

[2020-03-06 21:30] #21935 closed

[2020-03-06 21:34] elfinhe opened #21939 "istioctl upgrade should check the different defaults between minor versions"
istioctl upgrade should check the different defaults between minor versions, and give users an output of the differences.

**Bug description**

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

**How was Istio installed?**

**Environment where bug was observed (cloud vend

[2020-03-06 21:39] esnible commented on #21118
The over-all issue is https://github.com/istio/istio/issues/21934

[2020-03-06 21:48] esnible commented on #21712
`kubectl apply -f` only looks at _.json_, _.yaml_, and _.yml_.

If it finds no matches it prints `error reading [samples]: recognized file extensions are [.json .yaml .yml]`

If it finds some matches and some non-matches it silently ignores the not-matches.

If it finds non-Kubernetes .yaml, such as swagger files, it complains.

[2020-03-06 22:08] esnible commented on #21709
@howardjohn , I hadn't realized that it does this.

There is currently no integration test of this so we missed it when we went to the new Envoy.

The diff is real.  For listeners, Envoy is really creating `dynamicListeners[*].name` from `dynamicListeners[*].activeState.listener.name`.  I didn't research the problem with the routes but I expect it will be similar.

I see three ways forward:

- Mod

[2020-03-06 22:12] howardjohn commented on #21709
Hm yeah it might be doing some other weird stuff with v3 api as well, as I have seen it replace things like `host` with `hiddenDeprecated_host` or similar.
I wouldn't be surprised if (1) doesn't actually work, but I could be wrong.

The ordering is different too, right? Is the diff order sensitive?

(2) seems reasonable for the `name` thing assuming its not too weird, I am not sure what the code l

[2020-03-06 22:21] mchendil82 commented on #11786
I do face the same issue..  I believe the actual issue is that "PASSTHROUGH mode itself not working".. People might have combined 2 ISTIO gateways and assuming that it is not working with 2 different gateways with, "SIMPLE" and "PASSTHROUGH" mode  (it could be an older issue on port context i.e. was with same port, 2 gateways were not working in past and I believe @rshriram fixed it already)..

Bu

[2020-03-06 23:02] JoeJasinski commented on #19966
I had this same issue too when I upgraded to Istio 1.4.6, but I did NOT see it with Istio 1.4.3. However, simply giving the port a name did not work. I had previously named it `interface`, but that resulted in the above error. When I named it `http`, then it worked fine.

[2020-03-06 23:09] dahutu opened #21944 "Setting WORKLOAD_CERT_TTL has no effect in Istio 1.5.0"
**Bug description**
Setting WORKLOAD_CERT_TTL has no effect in Istio 1.5.0

**Expected behavior**
After setting WORKLOAD_CERT_TTL environment variable for istiod and restarting it, the new WORKLOAD_CERT_TTL should reflect new cert validity

**Steps to reproduce the bug**
`kubectl get deployment istiod -n istio-system -o yaml | tee ~/istiod.yaml`

Update ~/istiod.yaml and add
[code]

To istiod envi

[2020-03-06 23:34] douglas-reid commented on #11093
@kyessenov for comment / work

[2020-03-07 00:18] kyessenov commented on #11093
From what I understand, the underlying issue is [the lack of the extension support on the client-side for the mirrored traffic](https://github.com/envoyproxy/envoy-wasm/issues/441). It's fairly complicated since currently mirrored traffic is fire-and-forget. For peer metadata exchange to work, we have to wait for the peer to write its prologue for mirrored requests, unless we have some sort of a c

[2020-03-07 00:25] #17474 closed

[2020-03-07 00:25] #17476 closed

[2020-03-07 01:00] pc-rshetty opened #21952 "Egress checks still happening even though Egress is disabled by default on version 1.3.x"
**Bug description**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ Y] Networking
[ ] Performance and Scalability
[ Y] Policies and Telemetry
[ Y] Security
[ ] Test and Release
[ Y] User Experience
[ ] Developer Infrastructure

**Expected behavior**
Since now egress is disabled by default egress checks should be disabled.
2 Scenarios
1>While accessing external ssl it is validating
[c

[2020-03-07 01:23] yangminzhu opened #21954 "openID discovery doesn't work with request authentication policy"
**Bug description**
The openID discovery for JWT policy that doesn't specify jwksUri is implemented in resolveJwksURIUsingOpenID() which is called in SetAuthenticationPolicyJwksURIs() only for alpha JWT policy.

It should also be called for the beta policy. The code may also need some refactor and clean up.

[2020-03-07 01:54] hiondal commented on #21058
I made upload this issue on flannel github community.
https://github.com/coreos/flannel/issues/1259

[2020-03-07 05:02] #16550 closed

[2020-03-07 05:04] #18815 closed

[2020-03-07 05:04] #18887 closed

[2020-03-07 08:26] shouldnotappearcalm commented on #7583
I'm using Istio `1.5.0` and still experience this issue.I replaced `flannel` with `calico` to restart the cluster to solve this problem

[2020-03-07 08:28] shouldnotappearcalm commented on #17162
I'm using Istio `1.5.0` and still experience this issue.I replaced `flannel` with `calico` to restart the cluster to solve this problem

[2020-03-07 09:41] AsCat opened #21959 "istioctl controlz dashboard UI shows errors in subpage"
**Bug description**
istioctl controlz dashboard UI shows error in subpage  'Process Info' and 'Version Info'

**Expected behavior**
display the correct debug info in 'Process Info' and 'Version Info' sub page

**Steps to reproduce the bug**
1. install the istio 1.5 release version
2. install the bookinfo demo
3. exec cmd: istioctl dashboard controlz istiod-<xxxxxx>.istio-system
4. open web browser

[2020-03-07 09:43] AsCat commented on #21959
The fix PR is created [here](https://github.com/istio/pkg/pull/120)

[2020-03-07 12:40] ginuerzh commented on #7980
@karlmutch If you still have this problem, the solution in the #15365 may help you.

Quote from phanama:

Though it is confused, but it does work.

[2020-03-07 13:51] hazcod commented on #21918
@elfinhe @richardwxn My bad, but this is about the `istioctl apply` command.

[2020-03-07 14:54] hobbytp commented on #17572
@lei-tang So can I understand istio 1.3 or later release can support Vault integration (from Vault 1.3.1)?  If yes, when will the integration document ready? Thanks,

[2020-03-07 15:22] lei-tang opened #21961 "Istio Vault integration"
**Describe the feature request**
Since Istio 1.3 uses a new Kubernetes JWT, Istio Vault integration is no longer supported. We plan to add the support of Vault integration to Istio (the timeline is to be determined).

Please feel free to share your use cases for Vault integration. We hope to collect use cases of Vault integration and provide a solution meeting the requirements of representative us

[2020-03-07 15:22] lei-tang commented on #17572
@hobbytp Since Istio 1.3 uses a new Kubernetes JWT, Istio Vault integration is no longer supported. We plan to add the support of Vault integration to Istio (the timeline is to be determined).

[2020-03-07 15:24] lei-tang commented on #17572
This issue is closed. A new issue https://github.com/istio/istio/issues/21961 is created to track the Istio Vault integration. Please feel free to share your use cases for Vault integration https://github.com/istio/istio/issues/21961. We hope to collect use cases of Vault integration and provide a solution meeting the requirements of representative use cases.

[2020-03-07 15:24] #17572 closed

[2020-03-07 18:02] marshallford commented on #21243
@morvencao - Just noticed you opened that PR. Bummer that we both worked on this. Was looking forward to contributing to Istio for the first time and solving my own issue.

[2020-03-07 21:44] cober opened #21964 "Istio 1.5 prevents all connection attempts to Redis (headless) service"
**Bug description**
While everything worked fine, we decided to update Istio to 1.5 on test environment with default profile, however all the microservices that need a connection to Redis (which is in another namespace and doesn't have any Istio sidecar injected) stopped working.

[code]

**Expected behavior**
Pods with injected Istio 1.5 proxy shall be able to establish a connection to a headless

[2020-03-07 22:54] howardjohn opened #21966 "Drop support for deprecated EnvoyFilter fields"
These have been replaced since 1.3. We should remove support, to clean up code + runtime cost

[2020-03-07 22:55] howardjohn commented on #21966
Note this has a small but not negligible cost - about 2% of CPU on my cluster even without using any of these fields

[2020-03-08 04:10] zzl1 commented on #21058
Thanks.. Seeing if it could be fixed

获取 Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Lee Hae Kyoung <notifications@github.com>
Sent: Saturday, March 7, 2020 9:54:24 AM
To: istio/istio <istio@noreply.github.com>
Cc: jolyonz <zzl1@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [istio/istio] Istio sidecar injection failed ( Internal error occurred

[2020-03-08 04:27] howardjohn commented on #21964
Can you add the Service spec and a config dump from the client if possible? see https://github.com/istio/istio/wiki/Troubleshooting-Istio

[2020-03-08 04:57] #16940 closed

[2020-03-08 05:01] #16190 closed

[2020-03-08 05:01] #16198 closed

[2020-03-08 06:30] #16212 closed

[2020-03-08 07:03] #16214 closed

[2020-03-08 07:45] prageethw opened #21968 "istio 1.5 manifest generation vs manifest apply, with generated manifest pods will not be created..."
**Bug description**
`istioctl manifest apply` and `istioctl manifest generate` create inconsistent results, pods stuck in create state claiming volume mounting issue.

[ x] Configuration Infrastructure
[ x] Docs
[x ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected b

[2020-03-08 09:41] minho-comcom-ai commented on #19614
THANKS YOU FOR SAVING MY JOB!

[2020-03-08 11:39] luisra51 commented on #21527
@catman002 I try in 1.4.5 version and work

[2020-03-08 12:12] FrimIdan opened #21972 "Istio 1.5 Virtual Machines in Multi-Network Meshes example not working"
I've followed the instructions [here](https://istio.io/docs/examples/virtual-machines/multi-network/ ) and encounter several issues:
1. The path to deploy istio control plane is missing `install/kubernetes/operator/examples/vm/values-istio-meshexpansion.yaml` -- I've used `operator/data/examples/vm/values-istio-meshexpansion-gateways.yaml`
2. After running istioctl manifest apply and setting up th

[2020-03-08 13:44] cober commented on #21964
This is the service that we use for our redis:
[code]

As well I am attaching config dump.

[config_dump.txt](https://github.com/istio/istio/files/4303257/config_dump.txt)

[2020-03-08 14:37] howardjohn commented on #21968
please see https://istio.io/docs/ops/best-practices/security/#configure-third-party-service-account-tokens

[2020-03-08 15:21] rshriram opened #21975 "istio 1.5 - authZ policy behavior causing issues"
**Bug description**

The new authZ policy is additive in nature. Multiple authZ policies can be defined for the same workload. At runtime, pilot combines all of them in the Envoy config. This additive behavior causes some issues when the intent does not match the generated config. For example, consider this set of configs:

1. The system has 3 namespaces (httpbin-front, httpbin-middle, httpbin-vm)

[2020-03-08 16:35] howardjohn commented on #21964
We are creating a listener on 0.0.0.0_6379 with filter chain for HTTP and TCP. The TCP one routes to another redis service on the same port. @hzxuzhonghu @yxue I thought we fixed this so there were no conflicts now?

@cober are there and instances of redis-cluster-player? Check `kubectl get endpoints -n redis`

[2020-03-08 17:25] cober commented on #21964
@howardjohn

[code]

[2020-03-08 17:31] howardjohn commented on #21964
For now a workaround is to rename the port name on both of those services to `tcp` or disable auto detection: https://istio.io/docs/ops/configuration/traffic-management/protocol-selection/#automatic-protocol-selection

I am pretty sure this will fix this issue, not sure yet what the root cause is.

[2020-03-08 17:59] RichardKnowles commented on #21968
So to run on minikube, where istioctl falls back to third party jwt, we need:

[code]

[2020-03-08 18:07] RichardKnowles commented on #21968
For running on minikube for testing, setting first party jwt is working:

[code]

[2020-03-08 18:08] howardjohn commented on #21968
Yes, that should do it

On Sun, Mar 8, 2020 at 11:07 AM Richard Knowles <notifications@github.com>
wrote:

[2020-03-08 18:12] cober commented on #21964
@howardjohn is there by any chance an issue where we can't set both values `values.pilot.enableProtocolSniffingForOutbound=false` and `values.pilot.enableProtocolSniffingForInbound=false` at the same time?

I tried with `istioctl apply manifest --set...` and as well to generate the yaml prior that and put it to false there, but `istioctl profile dump` shows

[code]

I tried as well to rename both

[2020-03-08 18:14] howardjohn commented on #21964
Sorry I meant the port name. Like
[code]

youll specifically want `enableProtocolSniffingForOutbound` to be false. Either that or the service port rename - you need one or the other (both works as well)

[2020-03-08 18:37] cober commented on #21964
@howardjohn I have tried with renaming svc name, but no success for us.

Can you confirm that `istioctl manifest apply --set values.pilot.enableProtocolSniffingForOutbound=false` works as intended from your side?

After few attempts it seems I just can't change this value.

[code]

[2020-03-08 18:40] howardjohn commented on #21964
`profile dump` doesn't show what you have applied in the cluster, it just shows what the defaults are.

Are you reaming the service name or the port name? Can you paste the new Service?

Can you also paste the pilot deloyment, and I can check ifthe sniffing was set correctly. It should impact a pilot environment variable

[2020-03-08 19:43] cober commented on #21964
@howardjohn

[code]

[code]

[2020-03-08 19:46] howardjohn commented on #21964
Hm that looks right, maybe it's another issue. Mind attaching another
config dump with the new changes you have done so far?

On Sun, Mar 8, 2020, 12:43 PM Edin Osmanbegovic <notifications@github.com>
wrote:

[2020-03-08 19:50] cober commented on #21964
@howardjohn sure, there you go.

[config_dump2.txt](https://github.com/istio/istio/files/4303794/config_dump2.txt)

[2020-03-08 21:49] howardjohn opened #21980 "v2 telemetry duration metrics format change"
https://github.com/weaveworks/flagger/issues/478

did we properly document this change in metrics?

[2020-03-08 22:15] prageethw commented on #21968
Thanks @howardjohn @RichardKnowles

[2020-03-09 01:38] kfox1111 opened #21981 "ephemeral csi driver"
**Describe the feature request**

As an alternate to the CNI driver which does not work well with initContainers, an ephemeral CSI driver could be written that:
* creates a socket on which to listen for traffic available in the ephemeral volume
* deploy the driver via daemonset
* pods include the csi ephemeral Volume
* the istio sidecar mounts the csi volume. When it is ready to receive traffic, i

[2020-03-09 01:57] ckcd commented on #18418
@howardjohn

sorry for the delay, I will send a PR this week.

[2020-03-09 02:37] ckcd commented on #21980
oh I met this issue too ..

No, I think not. we already use old metrics name in here:
https://istio.io/docs/reference/config/telemetry/metrics/

[2020-03-09 02:42] karthikt-yahoo opened #21982 "EnvoyFilter Patch doesn't work per documentation"
**Bug description**
Managing NETWORK_FILTER via EnvoyFilter is not working as expected.  Applying the manifest referenced in the documents https://istio.io/docs/reference/config/networking/envoy-filter/ and https://github.com/istio/istio/wiki/EnvoyFilter-Samples has no effect.
[code]

Also tried with context: GATEWAY,  no effect. no logs in pilot.

**Expected behavior**
idle_timeout and xff_num_tr

[2020-03-09 02:55] hzxuzhonghu commented on #21964
Can you also dump the configs of redis instance？

[2020-03-09 03:04] hzxuzhonghu commented on #21964
Another point, i can see you have more than 10 endpoints for redis-cluster-player service, but i can only see only 6 outbound listeners for it.

[2020-03-09 03:23] hzxuzhonghu commented on #21982
[code]

Apply this instead when you are using istio >= 1.4

[2020-03-09 03:43] howardjohn commented on #21964
I think redis does not have a sidecar

On Sun, Mar 8, 2020, 8:04 PM Zhonghu Xu <notifications@github.com> wrote:

[2020-03-09 03:44] sidhlipu commented on #7607
Hello,
May be a lame question since I am trying for the first time, tried recompiling but facing this issue.

export GOOS=linux; make docker.pilot
If you suffer an unexpected failure, please reference: https://github.com/istio/istio/wiki/Troubleshooting-Development-Environment
Building with the build container: gcr.io/istio-testing/build-tools:master-2020-02-14T13-09-14.
Using docker credential di

[2020-03-09 03:59] hzxuzhonghu commented on #21964
[code]

Here pilot generates cluster with tls initiated, definitely can not work with redis without sidecar injected

[2020-03-09 04:01] hzxuzhonghu commented on #21964
@diemtvu @incfly   I think this is introduced since autoMTLS.

[2020-03-09 04:19] karthikt-yahoo commented on #21982
[code]

[2020-03-09 04:39] hzxuzhonghu commented on #21964
We should disable tls for headless service by default when mtlsCtx is `autoDetected`, as we donot know whether there is sidecar injected for its instances.

[2020-03-09 04:48] howardjohn commented on #21964
why don't we know if it has sidecar? we should be able to since we create
listener per instance right? We would just need to change the
implementation to set this up right?

Or is this using original dst?

On Sun, Mar 8, 2020, 9:39 PM Zhonghu Xu <notifications@github.com> wrote:

[2020-03-09 05:01] #16155 closed

[2020-03-09 05:01] #16222 closed

[2020-03-09 05:01] #16227 closed

[2020-03-09 05:01] #16231 closed

[2020-03-09 05:01] #16233 closed

[2020-03-09 05:01] #16238 closed

[2020-03-09 05:01] #16244 closed

[2020-03-09 05:04] #19179 closed

[2020-03-09 05:48] Adharsh-Muraleedharan commented on #21637
It would be great if somebody can look into this? we are facing a blocker issue here !

[2020-03-09 06:23] a8j8i8t8 commented on #21402
@emrahcetiner That is correct. Not sure about the issue then

[2020-03-09 07:09] wsdlll commented on #12115
The same issue with Istio 1.3.0.

Just as @idouba said. It may be caused by the cache check and prefetch.
I try to disabled the quota cache by setting disable_quota_cache=true. The problem is solved. There was no 429 when the redis restarted.

Please help to check the quota_cache.

[2020-03-09 07:41] prageethw opened #21986 "istio 1.5 prometheus target errors"
**Bug description**
Prometheus target errors in 1.5 Prometheus installation

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[x ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[x ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
There should be no target errors
**Steps to reproduce the bug**
Install demo profi

[2020-03-09 07:50] hzxuzhonghu commented on #21964
It is original dst

[2020-03-09 07:58] incfly commented on #21964
to be clear, I though you already made the change on the client side to no set transport socket match in case of a headless service? or based on the above config dump, it seems like

`when headless && auto mtls enabled, set transport_socket, rather than transport_socket_match`? we need to check.

if so, we have two choices really for headless

- default to plaintext, users manually explicit use De

[2020-03-09 07:59] incfly commented on #21964
@cober would you mind quickly try using DestinationRule.trafficPolicy.Tls == DISABLE against Redis service see if fix the issue?

[2020-03-09 08:03] hzxuzhonghu commented on #21964
+1, we should not influence normal connection even when sidecar injected.

[2020-03-09 08:08] sd797994 opened #21988 "we can't use istioctl 1.5.0 to enabling policy enforcement"
**Bug description**
we download istio 1.5.0 and  use command "istioctl manifest apply --set values.global.disablePolicyChecks=false --set values.pilot.policy.enabled=true" to initialize。when all istio contrainer was running and i use command "kubectl -n istio-system get cm istio -o jsonpath="{@.data.mesh}" | grep disablePolicyChecks" to check disablePolicyChecks it's output true。
we downgrade isti

[2020-03-09 08:13] Stono commented on #21923
The other thing I've noticed as well is that `destination_service` is fully qualified (eg `app.namespace.svc .cluster.local`) in normal metrics but short formed (eg `app.namespace`) in `FI` metrics, which results in a bunch more cardinality

[2020-03-09 08:31] Stono commented on #21923
For anyone coming to this thread, this is my really hacky prometheus work around based on our opinionated 1 app-per-namespace setup.

[code]

[2020-03-09 08:32] Stono commented on #20538
FYI this affects fault injection too - see https://github.com/istio/istio/issues/21923

[2020-03-09 09:31] cober commented on #21964
@hzxuzhonghu we don't have any istio sidecar injected into redis cluster, on other side 12 endpoints could be consisted of 6 pod instances (statefulset) and each one consists of 2 endpoints (client & gossip protocol)

@incfly

Are you suggesting to try something like this?

[code]

[2020-03-09 09:53] linuxbsdfreak opened #21989 "Unable to configure multiple Istio Ingress Gateways"
**Bug description**
Unable to setup Multiple Istio Ingress Gateways via Istio Operator install method

[X ] Configuration Infrastructure
[X] Docs
[X ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

With the below configuration. Istio should have been ab

[2020-03-09 10:23] morvencao commented on #21243
@marshallford Is your PR ready to review, if yes, I'll close mine.

[2020-03-09 11:19] prageethw commented on #21986
I think the issue is somewhere else

[2020-03-09 11:52] sandyleo26 commented on #21878
happy to take a shot at it. first timer so any pointers are welcomed. thanks

[2020-03-09 11:55] hzxuzhonghu commented on #21964
@cober I am clear about your access model now. Can you try #21987? I believe it can solve your problem as well

[2020-03-09 11:59] charypar commented on #21988
I hit the same issue, it seems like the `disablePolicyChecks` configuration is now only respected when `value.policy.mixer.enabled` (mixer, not pilot) is set to true. The following config snippet works for me:

[code]

[2020-03-09 12:02] irisdingbj opened #21990 "Add `istioctl generate-cert` to expose functions in security/tools"
Currently in the VM Expansions, we need generate cert/key for VM and we are using `go run ./security/tools/generate_cert -client -host spiffee://cluster.local/vm/iris -mode citadel --out-cert /root/1/cert-chain.pem --out-priv /root/1/key.pem` We need a istioctl function to let user do this instead.

@costinm @liminw @esnible What is your thoughts for this?

[2020-03-09 12:10] prageethw commented on #21986
can confirm after further investigation it is related to istio prometheus

[2020-03-09 12:32] eperdeme commented on #21577
Anybody found a solution to this so it does not create the HTTP wildcard rule ?

[2020-03-09 12:37] marshallford commented on #21243
@morvencao. Thank you! Yes my PR is ready for review.

[2020-03-09 13:24] zygis opened #21991 "Can't install istio 1.5.0 on a fresh GKE cluster using istioctl"
**Bug description**
Can't install istio 1.5.0 on a fresh GKE cluster using istioctl.
I'm getting this error:
[code]

Logs from istio-ingressgateway:
[code]

I had no problems with istio 1.4.x

**Expected behavior**
`istioctl manifest apply` Should complete without errors
**Steps to reproduce the bug**
Create new gke cluster, and try to install istio via `istioctl manifest apply`
**Version (include

[2020-03-09 13:29] cober commented on #21964
@hzxuzhonghu Actually this one worked for us! I am leaving a comment on PR as well.

[2020-03-09 13:44] linuxbsdfreak opened #21992 "IPwhitelisting/Blacklisting not working in Istio 1.5"
**Bug description**

IPwhitelisting/Blacklisting not working in Istio 1.5 as per
https://istio.io/docs/tasks/security/authorization/authz-ingress/#ip-based-allow-list-and-deny-list

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

[2020-03-09 13:50] linuxbsdfreak opened #21993 "Reactivating providerURL feature for Istio 1.5"
**Describe the feature request**

The previous version of Istio had a mixer configuration of providerURL
https://raw.githubusercontent.com/istio/istio/release-1.5/samples/bookinfo/policy/mixer-rule-deny-ip.yaml

Which is not present at the moment

**Describe alternatives you've considered**

I was investigating `AuthorizationPolicy` provided by Istio. However the deny rule is not working.

[ ] Con

[2020-03-09 14:03] jsenon opened #21994 "Http2 performance issue with some browser"
**Bug description**

When we test an upload some images with different browser we can't see same performance.
With an input of 2MB:
- can take 2s with Firefox 73.01 (20200217142647) on MacOS
- can take 2s with latest Chrome on Linux Ubuntu
- can take 200ms with latest Chrome (80.0.3987.132) on MacOS

We use HTTP2.

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the outpu

[2020-03-09 14:13] voroniys opened #21995 "ServiceSpec is missing possibility to set annotations"
**Describe the feature request**
I'd like to have in k8s.io.api.core.v1.ServiceSpec a possibility to add annotations to the service.

**Describe alternatives you've considered**
ATM there is no possibility to set annotations for the service

[ X] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test an

[2020-03-09 14:34] marshallford opened #21996 "(IstioOperator) User defined ingress gateways not working in 1.5"
**Bug description**

This is a two part issue:

1. When defining a custom/user defined ingress gateway in a IstioOperator CR the operator spins up a standard `istio-ingressgateway` pod/deploy/svc with the standard labels.

2. When using the Helm `values.gateways` escape hatch to set fields like `loadBalancerIP`, the operator fails to install Istio with an error that suggests `values.gateways.exter

[2020-03-09 14:42] jwendell commented on #21849
Fixed in https://github.com/istio/istio/pull/21871

[2020-03-09 14:42] #21849 closed

[2020-03-09 15:30] howardjohn commented on #21626
This is still not fixed: https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/1704

[2020-03-09 15:31] howardjohn commented on #21497
still failing per https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/1704, but should probably keep into one issue: https://github.com/istio/istio/issues/21626

[2020-03-09 15:39] esnible commented on #21158
This seems like an common problem that deserves an analyzer.  I will work on it or find someone to work on it.

@k3a Can you attach to this issue a pair of Gateway and pair of VirtualService YAML, similar to what you used when you encountered this problem, that can be used as a test case?

@frankbu You wrote the docs for this, https://github.com/istio/istio.io/commit/ca10cc03d884d3cd251cd75b1a2cb9

[2020-03-09 15:41] esnible commented on #21171
@frankbu Can you triage this from the Docs point of view?  Does it belong here or in istio.io repo?

[2020-03-09 15:44] howardjohn commented on #21996
maybe related https://github.com/istio/istio/issues/21989

[2020-03-09 15:45] howardjohn commented on #21990
@costinm mentioned this as well, not sure if he had any additional ideas for this as well

[2020-03-09 15:46] howardjohn commented on #21991
Are you running a private cluster? Sounds like cannot connect to validation webhook maybe?

See https://github.com/istio/istio.io/pull/6822 and https://github.com/istio/istio.io/pull/6822

Can you run `kubectl get --raw /api/v1/namespaces/istio-system/services/https:istio-galley:https-validation/proxy/ready -v9 --request-timeout=2s` and see what it outputs/if it timesout?

[2020-03-09 15:47] ostromart opened #21999 "Remove compiled in charts from istioctl"
Need to run this past UX group and get their approval. Tentatively assigning to @howardjohn.
If this is done istioctl should also:
- take chart path as a mandatory parameter
- check for chart compatibility (probably add label to chart somewhere, could also use pilot version)

[2020-03-09 15:48] howardjohn commented on #21994
Do you have any reason to believe this is an Istio issue? If you do not go through Envoy, is performance impacted?

[2020-03-09 15:50] howardjohn commented on #21986
Yeah I think its trying to scrape prometheus itself at :15090 which isn't valid

[2020-03-09 15:50] howardjohn commented on #21981
@rlenglet

[2020-03-09 15:53] #21149 closed

[2020-03-09 16:02] esnible commented on #21741
@linsun @ayj I will create a PR to print the istioctl client version at the beginning of `apply` before the "Applying manifests for these components:" initial text.

`apply` must work with or without pre-existing Istio.  It is not difficult to check the control plane version.  Should we also print the control plane version and make the user say they are "Sure?" or use `-y` if the `apply` would dow

[2020-03-09 16:05] esnible commented on #21959
This is a duplicate of https://github.com/istio/istio/issues/21342

[2020-03-09 16:06] esnible commented on #21342
Closing in favor of duplicate https://github.com/istio/istio/issues/21959 which has an active PR.

[2020-03-09 16:06] #21342 closed

[2020-03-09 16:15] zygis commented on #21991
Ahhh. 15017 port wasn't open. For some reason, TCP/9443 port was enough for 1.4.x.
Recreated cluster and opened TCP/9443 and TCP/15017 and now it's working fine. Thanks for the help.

[2020-03-09 16:15] #21991 closed

[2020-03-09 16:22] jsenon commented on #21994
I ve just miss the flow:

client (HTTP 2) -> AWS Classical LB -> istio envoy (HTTP 2) -> svc (HTTP 1.1) -> Endpoint (HTTP 1.1)

If I disable http2 in Firefox browser, I have better performance (with istio)

[2020-03-09 16:28] howardjohn commented on #21994
If you test client (HTTP 2) -> AWS Classical LB ->  svc (HTTP 1.1) -> Endpoint (HTTP 1.1)

is it slow?

Otherwise it could just be a firefox issue or something else at another point in the stack

[2020-03-09 16:39] howardjohn commented on #21833
This is actually pretty much a pre-req for https://github.com/istio/istio/issues/21834, otherwise we are going to break ALS and `envoy_metrics_service`

[2020-03-09 16:43] jacob-delgado opened #22001 "Add BlackHole and PassThrough cluster integration tests for mixer"
**Describe the feature request**

With the [regression](https://github.com/istio/istio/issues/21385) of blackhole and passthrough clusters in telemetry v2, the plan to write an integration test for mixer v1 that we can also use to validate the fix in telemetry v2 when it is merged.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Install

[2020-03-09 16:43] jacob-delgado commented on #22001
@nrjpoddar Can you assign this to me?

[2020-03-09 16:45] rlenglet commented on #21981
I don't see what problem this would solve. @kfox1111 can you clarify what you're trying to achieve here? Esp. can you clarify this statement:

[2020-03-09 16:54] kyessenov commented on #21923
The root cause is that fault injection happens prior to load balancing. So there's no destination endpoint to report on. We'd need to re-think how faults are injected to get a more accurate picture.

[2020-03-09 16:54] jsenon commented on #21994
I don't know how to force browser to use http2 for an upstream service in http1.1

[2020-03-09 16:54] chrstnwhlrt commented on #1756
Just to clarify: Is it possible to receive **IPv6 ingress** requests (e.g. using the istio ingress gateway with NodePort on an IPv6 enabled server) if the **cluster is in IPv4** mode? In out evaluation cluster all incoming IPv6 requests keep hanging but the port is open for IPv6 (as stated by netstat) - IPv4 request are successfully routed as expected.

[2020-03-09 17:08] kfox1111 commented on #21981
https://istio.io/docs/setup/additional-setup/cni/#compatibility-with-application-init-containers

1. cni configures the pod network
2. init containers run
3. istio sidecar starts.

step 2 in the middle has connectivity issues. The workarounds for whitelisting particular ip's can sometimes mitigate this issue. Sometimes not.

The proposal would provide a mechanism for istio itself to trigger the po

[2020-03-09 17:12] #21648 closed

[2020-03-09 17:15] hb-chen commented on #21530
Release version `1.5.0`,  with `--set installPackagePath={charts-path}` to use external charts.
But it doesn't work.

[code]

[2020-03-09 17:34] rlenglet commented on #21981
The Istio sidecar can't start until the init containers have terminated, i.e., your steps 2. and 3. would happen concurrently. Therefore, this would not guarantee that network redirection is setup when application container start. Therefore, connections to/from the application containers would bypass Istio until the sidecar proxy is configured. Therefore, those connections would bypass authn and a

[2020-03-09 17:42] esnible commented on #21473
Background context via Slack message from @selmanj

"... https://github.com/istio/istio/pull/20929/files has an example of adding the k8s ConfigMap. A new Istio type should be even easier as you won’t need to modify galley/pkg/config/source/kube/rt/known.go - HOWEVER when you run make gen there seems to be a bootstrapping problem with the proto definition. I had to directly import the proto at the

[2020-03-09 17:47] frankbu commented on #21171
@esnible The think @istio/wg-environments-maintainers needs to figure out what the upgrade story is for all possible previous installations, before it can be documented.

[2020-03-09 18:08] sakajunquality opened #22006 "Enable Tracing in 1.5 causes errors in CDS"
**Bug description**
In 1.5.0 enabling tracing by option tracing.enabled=true causes errors in CDS. And istio-proxy does not start working.

**Expected behavior**

Safely installed and readiness healthcheck of sidecar istio-proxy success.

**Steps to reproduce the bug**
1. install istio with istioctl
istioctl manifest apply --set values.tracing.enabled=true

2. deploy apps
any apps in namespaces la

[2020-03-09 18:18] veenabenoy commented on #16535
I am looking for an istio version which supports deploying containers using a non root user.
Currently we are trying to create a restricted pod security policy with runAsUser rule as MustRunAsNonRoot. But while deploying app, pod creation fails with the error
[spec.initContainers[0].securityContext.runAsNonRoot: Invalid value: false: must be true

Steps:
Created a restricted Pod Security Policy wi

[2020-03-09 18:29] howardjohn opened #22007 "Telemetry v2 TCP memory leak"
Graph of `envoy_server_memory_allocated`: ![2020-09-03_08-54-01](https://user-images.githubusercontent.com/623453/76245207-b41ffb80-61f8-11ea-9919-8b651671f99c.png)

Context:
* Running master, with null VM telemetry v2
* If I delete envoyfilters, allocs are immediately freed and leak stops.
* I am running https://github.com/istio/tools/tree/master/perf/stability/looper, seems to reproduce this qui

[2020-03-09 18:30] esnible commented on #21517
@istio/wg-networking-maintainers-data-plane Would it be useful to provide a troubleshooting command to show the Envoy version running in a pod?  Should it be implemented by getting a config_dump and looking at the bootstrap info, similar to my work-around above?

[2020-03-09 18:31] #21464 closed

[2020-03-09 18:38] rlenglet commented on #16535
@veenabenoy Your only option is to enable [Istio CNI](https://istio.io/docs/setup/additional-setup/cni/).

[2020-03-09 18:39] JimmyCYJ commented on #21497
TestTokenFetchFailureTwo fails because Envoy cannot bind a socket.
"[2020-03-09 15:23:02.780][49098][debug][init] [external/envoy/source/common/init/watcher_impl.cc:27] init manager Server destroyed
unable to bind domain socket with id=0 (see --base-id option)"

The other three tests fail because SSL handshake fails between proxy and dummy XDS server.
"Handshake failed with fatal error SSL_ERROR_S

[2020-03-09 18:40] howardjohn commented on #22007
It is happening when sending traffic to PODIP on a port not exposed by any service

[2020-03-09 18:41] mchendil82 opened #22008 "ISTIO Ingreess gateway PASSTHROUGH MODE not working"
**Bug description**
ISTIO ingress gateway PASSTHROUGH TLS mode makes gateway to be down where as with other TLS mode (SIMPLE, AUTO_PASSTHROUGH, MUTUAL), gateway  is coming up.

@rshriram /All

 I believe the actual issue is that "PASSTHROUGH mode itself not working".. In past, People might have combined 2 ISTIO gateways and assuming that it is not working with 2 different gateways, "SIMPLE" and "P

[2020-03-09 18:42] howardjohn commented on #21497
only those tests fail so I think it's specific to the tests you have added.
not sure if the issue is STS itself though

On Mon, Mar 9, 2020, 11:39 AM Jimmy Chen <notifications@github.com> wrote:

[2020-03-09 18:48] yangminzhu commented on #21975
This doesn't seem right based on the semantics of the authZ policy. The authZ policies are ORed together which means the gateway should accept either 1) traffic from the 3 namespaces OR 2) traffic with the JWT. @rshriram could you double check this behavior in your environment?

On the other hand, I think you are expecting the authZ policy to have sidecar-style overrides instead of namespace inher

[2020-03-09 18:49] #21564 closed

[2020-03-09 18:53] yangminzhu commented on #21916
@catman002  It looks like the client IP is not preserved in your environment and the task (https://istio.io/docs/tasks/security/authorization/authz-ingress/) is working as expected. I'm closing this issue as we cannot do much in istio side, feel free to reopen if you found anything else, thanks.

[2020-03-09 18:53] #21916 closed

[2020-03-09 19:01] JimmyCYJ commented on #21626
The failures are different compared with the ones that were fixed.

TestTokenFetchFailureTwo fails because Envoy cannot bind a socket.
"[2020-03-09 15:23:02.780][49098][debug][init] [external/envoy/source/common/init/watcher_impl.cc:27] init manager Server destroyed
unable to bind domain socket with id=0 (see --base-id option)"

The other three tests fail because SSL handshake fails between proxy

[2020-03-09 19:11] yangminzhu commented on #21992
@linuxbsdfreak The operator yaml seems incorrect, could you double check if it can generate the install yaml?

As discussed previously on slack, if you only want to set `externalTrafficPolicy: local`, could you try the following minimal operator yaml and test if the source IP works for you?
[code]

[2020-03-09 19:13] #19741 closed

[2020-03-09 19:14] #21939 closed

[2020-03-09 19:27] ayj commented on #19429
fixed by https://github.com/istio/istio/pull/21223

[2020-03-09 19:27] #19429 closed

[2020-03-09 19:54] #21711 closed

[2020-03-09 20:24] howardjohn opened #22009 "TestStreamSecretsUpdateFailures test failure"
I have seen this a few other times as well: https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/21825/unit-tests_istio/9885

[2020-03-09 20:28] howardjohn opened #22011 "GCP_METADATA log spam when not set"
https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/21825/integ-mixer-k8s-tests_istio/7847/artifacts/kind/istio-testing-control-plane/pods/istio-bookinfo-1-58355_details-v1-78d78fbddf-jqmp7_089f73e1-e8b6-468b-bb9c-1fac1463da10/istio-proxy/0.log

Example log ^

Here we are logging junk about GCP_METADATA env var, even though its not set. This comes from https://github.com/istio/istio

[2020-03-09 20:32] #21687 closed

[2020-03-09 20:33] howardjohn commented on #21626
They are only failing on the STS tests, so while it may not be STS that is the issue I don't think its any issue with the node/CI, just these tests

[2020-03-09 20:39] howardjohn commented on #22007
If I `fortio load` the endpoint there is no leak. If I `while 1; curl;`, there is the leak. Something to do with connection handling?

[2020-03-09 20:40] #21717 closed

[2020-03-09 20:45] howardjohn commented on #22007
If I remove just  `tcp-stats-filter-1.6` the issue goes away. If I add it back, it comes back immediate. If I remove every other filter, include tcp-mx, it still remains. So I think this is a TCP issue exclusively

[2020-03-09 20:48] ericvn commented on #21811
I can look into this more, but I recall I might have had to just go with the `-k` option at one point as well.

[2020-03-09 20:54] richardwxn commented on #21995
we do support setting serviceannotations, did you get any error when trying to do that or you want to know how it can be done?

[2020-03-09 20:54] howardjohn commented on #22007
Not sure if this is related or not, but seems like it might be? On `/clusters` I see
[code]

Basically every outbound IP address I connect to will show up here for a few seconds.

[2020-03-09 20:55] kramvan1 opened #22012 "Operator controller rolling upgrade support for 1.6"
Want to get on the books that we need a seamless (NO CLI's required) upgrade from 1.5 to 1.6 with the operator controller POD.    If there any incompatible control plane changes for 1.6, those need to be handled by the operator via the single IOP cr resource.

[2020-03-09 20:55] kramvan1 commented on #22012
cc @sdake @linsun

[2020-03-09 21:18] #20313 closed

[2020-03-09 21:24] tuwid commented on #15378
experiencing the same issue, eks 1.13, istio 1.3.9 on aws control plane

[2020-03-09 21:24] kyessenov commented on #22007
Do you mean TCP stats + TCP MX cause this or just TCP MX?

[2020-03-09 21:26] howardjohn commented on #22007
stats+mx = leak
mx only = no leak
stats only = leak
neither = no leak

[2020-03-09 21:26] gargnupur commented on #22007
tcp-stats-filter is just TCP stats...

max_connections::4294967295 -> are these active connections?

[2020-03-09 21:28] kyessenov commented on #22007
Maybe we're creating a stat name with an IP address in it?

[2020-03-09 21:30] gargnupur commented on #22007
This seems suspicious to me:

 Map<uint32_t, std::shared_ptr<::Wasm::Common::RequestInfo>>
      tcp_request_queue_;

The queue gets cleared when connections close...  but if queue doesn't get cleared..  then it will be a problem...

For passthrough clusters, do connections don't get closed completely?

[2020-03-09 21:30] howardjohn commented on #22007
No, this is how we remove the default circuit breakers. There is no "disable" so we set to some large number

Server stats:
<details>

[code]

</details>

[2020-03-09 21:30] howardjohn commented on #22007
Client:

<details>

[code]
</details>

[2020-03-09 21:31] howardjohn commented on #22007
meta comment: how do we debug this/future WASM perf issues. Can we use standard profiling tools? I didn't seem to get any useful info but I may have been doing it wrong

[2020-03-09 21:31] howardjohn commented on #22007
Also important to note is the leak is on both client and server side

[2020-03-09 21:33] howardjohn commented on #22007
On server:
[code]

`cx_active=0` suggests we close connections fine?

Client side shows:
[code]

[2020-03-09 21:33] kyessenov commented on #22007
I think you're using compiled-in filters? Then it's just standard envoy debugging.
Wasm makes things a lot more complicated since we're losing symbols.

[2020-03-09 21:34] howardjohn commented on #21626
Here is a fun one: https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/21825/unit-tests_istio/9902
[code]

:man_shrugging:

[2020-03-09 21:35] howardjohn commented on #22007
Yeah this is nullvm, maybe I was just not looking at the right stuff from heap dump then. Now that I can repro this better ill try again

[2020-03-09 21:37] gargnupur commented on #22007
/cc @jplevyak , @PiotrSikora

@kyessenov : For passthrough clusters, I am not sure, if we will get both upstream connection close and downstream connection. close events... If we don't get both, we wont clear the queue...

We probably need to change something there?

[2020-03-09 21:38] kyessenov commented on #22007
TCP has a half-close mode. It might be we're not getting an event?

[2020-03-09 21:42] gargnupur commented on #22007
Yeah, we don't get to know about half-close as such from  onDownstreamConnectionClose(uint64_t context_id, uint64_t peer_type);
  void onUpstreamConnectionClose(uint64_t context_id, uint64_t peer_type);

[2020-03-09 21:48] howardjohn commented on #22007
serverside logs from one request:

[code]

[2020-03-09 22:47] #21824 closed

[2020-03-09 22:50] elfinhe commented on #21918
sounds like if `istioctl manifest apply` failed by timeout of waiting deployment or resources being ready, the CLI should return a non-zero value.

@hazcod can this fix the issue in your use case?

[2020-03-09 23:08] onebione commented on #21936
Answering my own question here.  I was able to set debug mode to Envoy proxy by doing a POST to the Envoy admin interface.  Then I found the issue of
[Envoy (Epoch 0)] [2020-03-07 00:19:15.374][22][debug][client] [external/envoy/source/common/http/codec_client.cc:124] [C5668] protocol error: http/1.1 protocol error: HPE_UNEXPECTED_CONTENT_LENGTH
[Envoy (Epoch 0)] [2020-03-07 00:19:15.374][22][debu

[2020-03-09 23:08] #21936 closed

[2020-03-09 23:54] kfox1111 commented on #21981
Hmm... So one of the concerns is blocking incoming requests... That makes a lot of sense.

Is outgoing traffic also similarly constrained? Is it expected that all outgoing traffic will go out through istio?

[2020-03-09 23:58] howardjohn commented on #21981
We do not guarantee this. Since its running in the same pod, the application can do various things to bypass envoy on outbound traffic. If you want to enforce this you need to use egress gateway + network policies

[2020-03-10 00:01] howardjohn commented on #22006
I could not reproduce this. I ran `~/istio/istio-1.5.0/bin/istioctl manifest apply --set values.tracing.enabled=true -y` then spun up a pod with injection, and things were fine. Were there any additional steps you ran?

[2020-03-10 00:15] howardjohn commented on #18135
@JimmyCYJ

[2020-03-10 00:52] rjshrjndrn commented on #14708
in istio 1.5(atleast that's what I saw) there is an option in Destination rule setting,
`h2UpgradePolicy: DO_NOT_UPGRADE`
https://istio.io/docs/reference/config/networking/destination-rule/#ConnectionPoolSettings-HTTPSettings

[2020-03-10 00:53] #21709 closed

[2020-03-10 01:32] sd797994 commented on #21988
I follow your  suggest to reset istio 1.5.0 and use command "istioctl manifest apply --set values.global.disablePolicyChecks=false --set values.mixer.policy.enabled=true"  to initialize. it's works，thank you!

[2020-03-10 01:47] mandarjog commented on #22007
If we disable inbound passthru, does that change anything ? Or is it *only* git with inbound passthru ?

[2020-03-10 01:49] howardjohn commented on #22007
if we go through a port defined in the service, it works fine. is that what you mean or some other way?

[2020-03-10 01:52] mandarjog commented on #22007
Ok, so this is with undeclared ports only, thanks.

[2020-03-10 02:06] sd797994 commented on #21988
but I think we must give up the "mixer policy" because istio official said: "The mixer policy is deprecated in Istio 1.5 and not recommended for production usage." [https://istio.io/docs/tasks/policy-enforcement/enabling-policy/](url)

[2020-03-10 03:01] howardjohn opened #22022 "TestDebugEndpoints data race failure"
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/1717

[2020-03-10 03:04] howardjohn opened #22024 "TestStreamSecretsUpdateFailures test failure"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/22017/unit-tests_istio/9922

[2020-03-10 04:10] dhermes commented on #21909
It's unclear, how one even sets a value that happens to occur as part of a list, e.g. `--set 'components.ingressGateways[0].enabled=false'` or `--set 'components.ingressGateways=[]` both fail (in 1.5.0) with

[code]

[2020-03-10 04:41] ckcd opened #22025 "istio 1.5 Pod SecurityContext break volumeMount"
**Bug description**
my pod has a volume mount which is a NFS(pv+pvc) and their are about 100 thousand files in this volume. when using istio 1.5, I find it's very slow to init the pod :

[code]
it takes about 30min to finish the mount.

with some debug in it, I found the reason is: istio 1.5 inject a pod SecurityContext: `fsGroup: 1337`, and kubelet will use this fsGroup to configure my volume, wh

[2020-03-10 04:43] ckcd commented on #22025
@howardjohn @rlenglet please take a look for this issue, thanks !

[2020-03-10 05:01] #16253 closed

[2020-03-10 05:01] #16264 closed

[2020-03-10 05:03] #17687 closed

[2020-03-10 05:04] #18924 closed

[2020-03-10 05:04] #19125 closed

[2020-03-10 05:05] #19158 closed

[2020-03-10 05:29] ckcd commented on #22025
Seems like in istio 1.5 istiod set a default value for sdsUdsPath: https://github.com/istio/istio/blob/81230d4d95f77fe0e4b8fd0c38a33f1dc91e2a2e/manifests/istio-control/istio-discovery/templates/configmap.yaml#L147

and injector modify the pod securityContext when sdsUdsPath is not nil.

[2020-03-10 05:52] hazcod commented on #21918
Yes! Not sure if there’s something I did wrong.

[2020-03-10 06:07] rlenglet commented on #22025
`fsGroup` can only be set in a [PodSecurityContext](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#podsecuritycontext-v1-core), because it applies to all the volumes in the pod. Volumes are defined at the pod spec level. That can't be controlled at the volume mount level, or per-volume. That's an unfortunate limitation of the pod spec API.

[2020-03-10 06:08] rlenglet commented on #22025
That's the bug. We should not do that anymore in 1.5.

[2020-03-10 06:08] rlenglet commented on #22025
cc @myidpt

[2020-03-10 06:10] ckcd commented on #22025
so you means that if we fix this bug, then injector will NOT change the pod SecurityContext ?

[2020-03-10 06:11] rlenglet commented on #22025
Yes, the SDS UDS is not used anymore, there should be no reason to ever change the `fsGroup` in injected pods anymore.

[2020-03-10 06:13] rlenglet commented on #22025
@ckcd this is the code that does this:
https://github.com/istio/istio/blob/9c1a352bb74588076f7f69e3c1e5571182c2fa00/pkg/kube/inject/inject.go#L746-L755

BTW, a quick workaround for you is to just remove that `sdsUdsPath` setting.

[2020-03-10 06:15] ckcd commented on #22025
Cool. I was intend to do this but I'm not sure the effects. Will try this.

Thanks a lot !!!

[2020-03-10 06:15] rlenglet commented on #22025
@myidpt @lei-tang I'd suggest removing this `sdsUdsPath ` setting from mesh config and the according code in the injector altogether. WDYT?

[2020-03-10 06:20] gargnupur commented on #22007
I added some logs in the stats proxy and for passthrough cluster, it is reaching both the close events and onto deleting the request from queue.
I added a log in destructor of PluginContext, I don't see it reaching there..
@jplevyak , @PiotrSikora , @kyessenov : are we keeping wasm worker threads around for some reason?

[2020-03-10 06:41] elfinhe commented on #21918
@ostromart maybe we need to return nonzero in this case.

[2020-03-10 06:46] elfinhe commented on #21918
@hazcod are you able to reproduce the issue with more detailed steps? If you can give us those steps, it will much easier to identify and fix this upgrade issue.

[2020-03-10 07:03] ckcd commented on #22025
@rlenglet
how to change this value when using `istioctl` ? I find the `sdsUdsPath: "unix:/etc/istio/proxy/SDS"` only in `install/kubernetes/operator/charts/istio-control/istio-discovery/templates/configmap.yaml` but there are no any changes when I modify here.

[2020-03-10 07:05] hazcod commented on #21918
@elfinhe I basically installed istio 1.4.x and ran an `apply` with 1.5.

[2020-03-10 07:08] ckcd commented on #22025
and when I direct modify the `istio` configMap and restart `istiod` after install istio normally, my pod failed in start and istio-proxy errors:

[code]

[2020-03-10 07:25] voroniys commented on #21995
At least in the source code I have not found it. Ihave
[code]
If you can tell me the secret trick to do it - you are more than wellcome, but anyway properly added and documented feature would be any way better.

[2020-03-10 07:37] lei-tang commented on #22025
The code https://github.com/istio/api/blob/master/mesh/v1alpha1/config.proto#L216 shows that sds_uds_path has been deprecated in MeshConfig.

The code https://github.com/istio/istio/blob/release-1.5/pkg/istio-agent/sds-agent.go#L226 shows that SDS UDS path is configured from LocalSDS instead, as "unix:/etc/istio/proxy/SDS".

[2020-03-10 07:45] ckcd commented on #22025
@lei-tang so whether the pod SecurityContext should be injected?

[2020-03-10 07:48] lei-tang commented on #22025
@ckcd how do you install Istio 1.5 (e.g., the commands and the steps you used to install Istio 1.5)?

[2020-03-10 07:50] irisdingbj opened #22027 "export unused ports in gateway under mesh expansion"
Previously we open port 8060 and 15011 in our default ingress-gateway under mesh expansion(VM support). These ports are not needed any more in 1.5 and we should open istiod port instead.

https://github.com/istio/istio/pull/21983

[2020-03-10 07:50] irisdingbj commented on #22027
https://github.com/istio/istio/pull/21983

[2020-03-10 07:50] #22027 closed

[2020-03-10 07:54] lei-tang commented on #22025
According to the comment on https://github.com/istio/istio/blob/release-1.5/pkg/kube/inject/inject.go#L742, the pod SecurityContext is needed for istio-proxy to read the k8s service account token.

[2020-03-10 07:55] ckcd commented on #22025
@lei-tang
use `istioctl manifest generate -f ./profile.yaml` and then `kubectl apply -f xxx`

the `profile.yaml` is:

[code]

[2020-03-10 08:00] lei-tang commented on #22025
As indicated by the comment on https://github.com/istio/istio/blob/release-1.5/pkg/kube/inject/inject.go#L742 that the pod SecurityContext is needed for istio-proxy to read the k8s service account token, applying the pod SecurityContext is an intended behavior.

[2020-03-10 08:16] fredsted commented on #7964
Now that Istio 1.5 is out, does anyone know whether the EnvoyFilter fix applies to the new version, or whether it's needed at all?

[2020-03-10 09:45] Henrike42 opened #22029 "istio 1.5.0 Mixer Report failed with: UNAVAILABLE:Cluster not available"
What does the error message in the logs of a k8s service istio-proxy container indicate?

[code]
The corresponding k8s service is also no longer accessible, neither from within the cluster nor from outside. It returns 503.

[code]

This starts to occur with istio 1.5.0, with istio 1.4.5 everything worked nicely.

The istio-system pod logs don't show any errors.

[2020-03-10 10:43] jsenon commented on #21994
We have found a workaround in firefox by setting network.buffer.cache.size to 327680 instead of 32768. https://github.com/webcompat/web-bugs/issues/49950

[2020-03-10 10:47] maruina opened #22030 "LocalityLoadBalancer Distribute needs to have a weight greater than 0"
**Bug description**

Hello, looking at https://istio.io/docs/reference/config/networking/destination-rule/#LocalityLoadBalancerSetting-Distribute we say
[code]
But I don't understand how you can set it.

Looking at https://github.com/istio/istio/blob/ef12959963cf6bdde25c04e9e2b2307d9347a1a0/pilot/pkg/networking/core/v1alpha3/loadbalancer/loadbalancer.go#L120 it seems that everything <= 0 gets igno

[2020-03-10 10:54] jwapt opened #22031 "Kubernetes Ingress with Cert-Manager fails to run out of the box (on AKS)"
I've been trying to run the example [ingress with cert-manager](https://istio.io/docs/tasks/traffic-management/ingress/ingress-certmgr/) on Azure AKS, but I can't get it to work.

I think the documentation can be improved to include more explicitly say you need to install the ClusterIssuers yourself, but aside from that I'm stuck with cert-manager logging:

[code]
Looking at the ingresses, I find

[2020-03-10 11:23] #22029 closed

[2020-03-10 11:58] linuxbsdfreak commented on #21992
Hi @yangminzhu . Following is the config

[code]
[code]

[code]

The above configuration also does not work.

[2020-03-10 12:58] padzikm commented on #18565
With new 1.5 release I'd like to ask this question once again - is it safe to deploy replicated control plane istio in one cluster? my goal is to have istio as high availability service in one shared cluster deployed to multiple zones. As I understand currently there is one monolithic's control plane service as opposed to multiple services - was this new combined control plane tested in multizone

[2020-03-10 13:15] robertpanzer opened #22034 "Default sidecar not applied to consumer only services"
**Bug description**

**Expected behavior**
The documentation at https://istio.io/docs/reference/config/networking/sidecar/ Note 2 suggests that it is possible to create a default Sidecar configuration in the config root namespace that applies as a fallback if there is no specific or default Sidecar in the config namespace of a proxy.
However this only works for proxies that are associated with a s

[2020-03-10 13:36] MartinKaburu commented on #21643
How did you solve this. I'm experiencing the same issue

[2020-03-10 14:13] esnible commented on #21909
@dhermes `istioctl manifest generate --set components.ingressGateways[0].enabled=false` works with master (the branch that will become Istio 1.6).

It does not work with the release-1.5 branch.  It is possible some of the PRs for lists failed to merge properly.  I will investigate.

[2020-03-10 14:32] howardjohn commented on #22025
You still need the SDS uds path, we just probably can remove that code changing the fsGroup now. I think Pilot is reading the mesh config for backwards compatibility

[2020-03-10 14:32] howardjohn commented on #22025
Also UDS path is still used, its just only used within a local container not a hostpath mount if that wasn't clear above

[2020-03-10 14:45] howardjohn commented on #18565
Yes, with 1.5 you can deploy multiple replicas. I routinely tested 100+
replicas of the new Istiod in a single cluster

On Tue, Mar 10, 2020 at 5:58 AM padzikm <notifications@github.com> wrote:

[2020-03-10 14:53] ckcd commented on #22025
@howardjohn so if I delete the fsGroup code here: https://github.com/istio/istio/blob/9c1a352bb74588076f7f69e3c1e5571182c2fa00/pkg/kube/inject/inject.go#L746-L755 and build a istiod image then updatee it in my cluster, will it cause any compatibility problem ?

[2020-03-10 14:54] dhermes commented on #21909
Great to hear, thanks!

[2020-03-10 14:57] howardjohn opened #22038 "TestLeaderElectionNoPermission test flake due to k8s bug"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/21931/unit-tests_istio/9928

I will skip this for now. Should be re-enabled when we upgrade to k8s 1.18

[2020-03-10 14:59] esnible commented on #22030
The error message is incorrect, it should be `locality weight must be in range [1, 100]`.  The word `not` does not belong.  I will make a PR for the message.

Your issue may be a duplicate or related to  https://github.com/istio/istio/issues/15157 .

Several places in Istio's API can't distinguish between a user skipping setting this field and explicitly setting it to 0.  I don't know if this can

[2020-03-10 15:04] howardjohn opened #22041 "Test framework: invert label selection mechanism"
context: https://github.com/istio/istio/pull/21931

Currently in order to get all of the "standard" tests you need to pass `-flaky,-postsubmit,-multicluster`. It would be useful for this to be inverted, such that you need to opt into labels rather than opt out. That way, we don't need to pass this label every time we want to run single cluster, which is presumably more common

@nmittler

[2020-03-10 15:11] howardjohn commented on #22025
I think it would work.. but obviously have not tested this

On Tue, Mar 10, 2020, 7:53 AM Kun Chang <notifications@github.com> wrote:

[2020-03-10 15:23] esnible commented on #21048
Another user did not realize there was a problem because the enabling options are not checked: https://github.com/istio/istio/issues/21988

I am happy to implement validation for IstioOperator setting incompatibility.  However, I don't know what the flag dependency is.  Do we have a table somewhere that I can use?  Or should I get started on gathering a table myself based on Issues being filed?

[2020-03-10 15:24] maruina commented on #22030
Looking at the `load_balancing_weight` in https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/endpoint/endpoint_components.proto#envoy-api-msg-endpoint-localitylbendpoints, I thought Istio was following Envoy's behavior.

We're going to remove the entry for the time being, thanks for your answer.

[2020-03-10 15:33] padzikm commented on #18565
Great! Thank you!

[2020-03-10 15:39] howardjohn opened #22042 "TestAnalyzeSuppressesMessagesWhenResourceIsAnnotated test flake"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/21931/unit-tests_istio/9950

[2020-03-10 15:40] howardjohn commented on #21389
Another one: https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/22040/unit-tests_istio/9952
Should we skip this whole suite of tests, they all flake quite often. Ref https://github.com/istio/istio/issues/22042

[2020-03-10 15:50] esnible commented on #21778
Verified this works in Master.

[2020-03-10 15:50] #21778 closed

[2020-03-10 15:50] howardjohn opened #22044 "API auto update not correctly generating config"
See https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/22003/gencheck_istio/8074 from #22003. Looks like it almost does the right thing but we are missing some of the vfsgen. Maybe because of the gen-kustomize makes them co-dependent on eachother or something?

[2020-03-10 15:51] ckcd commented on #22025
hha.. will have a try.

[2020-03-10 15:54] #19789 closed

[2020-03-10 15:59] #20746 closed

[2020-03-10 15:59] #18399 closed

[2020-03-10 16:38] costinm commented on #19684
I think you are forgetting we have an explicit API in Istio for supporting UDS-based servers. Forwarding to TCP or UDS is equally easy using Istio APIs :-) We discussed in the past
the risk ( and benefits ) of exposing mysql UDS socket for example.

We are generally trying to adopt "zero trust" - and use L6 authn and authz policies instead of
relying on 127.0.0.1 or UDS. If the intent is to contro

[2020-03-10 16:38] ostromart commented on #21909
@esnible I couldn't tell from your comment if we support lists?

[2020-03-10 17:09] duderino commented on #19684
I think UDS forwarding requires explicit user enablement (vs. say something based on ORIGINAL_DST which could potentially be hijacked).   So unless a user specifically configured UDS forwarding to the admin port, could Envoy be tricked into forwarding there?   At this point it's more of an Envoy code question @PiotrSikora @jplevyak @lambdai @yxue

Root question: does restricting the admin port to

[2020-03-10 17:48] esnible opened #22046 "CRD UX for IstioOperator (additionalPrinterColumns, etc)"
The IstioOperator CRD should have additionalPrinterColumns so that we can see the important fields in the IstioOperator that help us to understand which IstioOperator is controlling which control plane revision

[code]

The only field I am thinking about now is REVISION.

Discussion in https://docs.google.com/document/d/1ecMIxUBgp5VDFqrBuu1ofyTHCwDKU1hWSLhewNKWIi4/edit#

See umbrella issue https:/

[2020-03-10 18:00] kzimmizk opened #22048 "k8s.service configuration validation doesn't work when externalIPs are set"
**Bug description**
`istioctl manifest` throws a validation error when installing an `IstioOperator` with externalIPs configured for a ClusterIP type service via k8s.service

**Expected behavior**
When k8s.service.type=ClusterIP and k8s.service.externalIPs is set to a valid string[] value, `istioctl manifest generate` should generate a valid Service object yaml configuration without requiring the

[2020-03-10 18:27] yangminzhu commented on #21992
@linuxbsdfreak Could you follow https://istio.io/docs/ops/common-problems/security-issues/#ensure-proxies-enforce-policies-correctly to get some debug logging of the Envoy? (Note you need to replace the productpage with istio-ingressgateway and please send some requests after you turned on the debug logging).

[2020-03-10 18:51] incfly commented on #21993
Please provide **exact** config snip of the miminmal reproducing steps:

- cmd to install istio
- config yaml to apply
- expected behavior does not show.

[2020-03-10 18:52] kfox1111 commented on #21981
Ok. Then while there may still be a bit of value in maybe:
* cni (or maybe csi driver) sets up ingress filters so no incoming traffic can happen
* init containers run
* sidecar istio comes up and does csi driver socket thing to setup the full network redirection through sidecar
* rest of the containers come up

Not sure its worth the effort though.

[2020-03-10 18:52] #21913 closed

[2020-03-10 18:56] incfly commented on #21841
I have a question, after you changing the ext_auth filter's cluster name to x.y.z without `|`, so that does not match what Pilot generates pattern. Can Envoy filter still refer to that? I would expect the name has to match one of the dynamic clusters' names?

[2020-03-10 18:56] incfly commented on #21904
Closing, feel free to reopen.

[2020-03-10 18:56] #21904 closed

[2020-03-10 19:00] ayj opened #22050 "Remove --discoveryAddress from ingress/egress gateway deployments"
Per https://github.com/istio/istio/pull/21912/files/769e230e8dd92bf29ffdcc8c115bae7f7f54fcfe#r389759713, gateway deployments should use the discovery address from MeshConfig.

[2020-03-10 19:05] incfly commented on #21833
If I read correctly, do you mean without this, in 16 DestinationRule file referenced file is broken to be used? I think they're totally separated stuff. Customer manage their external certs mouting, what WG trying to deprecated (II think correctly), is the internal spiffe cert?

Just confused about the need of doing this transformation...

[2020-03-10 19:08] howardjohn commented on #21833
This is trying to solve

* DestinationRule file mounts have no cert rotation, since they are file mounted and dynamic, so we don't watch for them
* Other things like ASL have rotation, but are using file mounted rotation, so we need to keep around all of the hot restart logic for them

[2020-03-10 19:10] howardjohn commented on #21389
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/1728

I suggest we skip

[2020-03-10 19:14] incfly commented on #21494
I think this is a reasonable security enhancement. Although for now, we don't have any confidential information served on the those ports, envoy configuration. in a sense: `do I care other people know my black list through plain text`? maybe, maybe not.

There's also some discussion about how to make controlPlaneSecurity always on, deprecated? @howardjohn

debugz those endpoints, serving some isti

[2020-03-10 19:15] incfly commented on #21520
Istio 1.3 reaches its end of support. Please confirm whether this is reproducible from 1.4 as well.

[2020-03-10 19:18] howardjohn commented on #21494
I think there are some pretty compelling reasons to want to lock down/add auth to the debug endpoint. Not sure how k8s does it, but they probably do it pretty well.

I don't think we can *remove* plaintext, but we can make it possible to remove for users that want to disable it. I think istioctl already port-forwards or `kubectl exec`, so it wouldn't really impact that case too much I think?

[2020-03-10 19:30] incfly commented on #21833
ASL, access logging service, what tls cert options we provide to them? I
searched and only see
https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/accesslog/v2/als.proto

How user configure them today in Istio to get the rotatable key/cert pair
for ALS?

On Tue, Mar 10, 2020 at 12:08 PM John Howard <notifications@github.com>
wrote:

[2020-03-10 19:31] #20038 closed

[2020-03-10 19:35] howardjohn commented on #21833
In mesh config https://github.com/istio/api/blob/master/mesh/v1alpha1/proxy.proto#L221

[2020-03-10 19:42] juliantaylor commented on #18990
unless this issue was fixed in 1.5 which I did not check, please reopen.
with this issue any istio deployment will completely break as soon as the intermediates expire unless undocumented workarounds are applied.

[2020-03-10 19:48] howardjohn commented on #17053
#21977 cleans up `PILOT_RESTRICT_POD_UP_TRAFFIC_LOOP`